[2017-04-17 14:55] timothysc commented on #44557
Does the LB have a health check enabled for the endpoint?  This should take it out of the list servers and break the connections.    http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-healthchecks.html

[2017-04-17 14:57] ncdc commented on #44557
@timothysc it's not an ELB, but yes. We're working on fixing the configuration of the LB, but I wanted to open this issue as well to see if we wanted to tackle this from within the Kubernetes code too.

[2017-04-17 15:03] ilackarms opened #110349 "Allow compression of json response body using Accept-Encoding header"
JSON payload returned by Kubernetes can be very large on GET requests when there are a lot of managed resources in the cluster.

Currently it is not possible to specify that large response bodies should be compressed; `Accept-Encoding` header is ignored by the apiserver.

Specifying the Accept-Encoding header on a GET request should cause the k8s apiserver to respond with response Body compressed

[2017-04-17 15:05] liggitt commented on #44511
create the namespace before running `apply`, or sort your input files to put hard dependencies first.

[2017-04-17 15:06] #44511 closed

[2017-04-17 15:07] liggitt commented on #44539
the generateName is not significant after the initial creation.

[2017-04-17 15:08] liggitt commented on #44425
fixed in https://github.com/kubernetes/kubernetes/pull/44396

[2017-04-17 15:08] #44425 closed

[2017-04-17 15:09] ankon commented on #44501
From my point of view: the explanation for 'apply'-vs-'create' makes perfectly sense, and using 'create' in my case is also reasonable. Having documentation pointing to the differences between those, and having just a bit more documentation on the 'generateName' itself - or close to it - would be very much appreciated.

I agree that with that explanation it is not a bug in apply. Thank you for the

[2017-04-17 15:24] timothysc commented on #44557
https://blog.cloudflare.com/the-complete-guide-to-golang-net-http-timeouts/

[2017-04-17 15:24] liggitt commented on #44418
Answering questions here... can decide how we want to roll them into doc updates.

Yes, via the normal means (either a token file or a client certificate, etc) set up by the cluster installation mechanism.

Yes, they need their own credentials, set up by the cluster installation mechanism, that identifies them as a member of that group in order to take advantage of the default role bindings.

That

[2017-04-17 15:26] jayunit100 opened #44561 "Improve the Kubelets logging, backoff, documentation with regard to apiserver heartbeats."
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug Report

**Kubernetes version** (use `kubectl version`):

master

**What happened**:

The kubelet does multiple api-server requests in a row without exponentially backing off.  This both increases load on the APIServer, without adding much real value to the kubelet, since the exponential backoff is much more likely to eventually co

[2017-04-17 15:29] jayunit100 commented on #44561
@kubernetes/sig-node-feature-requests

[2017-04-17 15:45] quinton-hoole commented on #44160
@nikhiljindal Yup, I think you got most of it.  Two minor comments:

Re 4, And besides that, I don't think it's at all feasible to mandate that the FCP always gets updated before it's member clusters.  Because members clusters are administered by different people/organizations than the FCP.  So clusters can be upgraded or downgraded at any time.  Clusters and their administrators might be complete

[2017-04-17 15:47] thockin commented on #44557
Having timeout-and-retry loops in the client seems pretty
straightforward,no?

On Mon, Apr 17, 2017 at 8:25 AM, Timothy St. Clair <notifications@github.com

[2017-04-17 15:50] ncdc commented on #44557
@thockin I'm hoping it will be. The current issue is that we're getting stuck inside `net/http`, but if we used a context WithTimeout or set the appropriate `net/http` timeout variables correctly, it should be relatively straightforward.

[2017-04-17 16:11] ncdc commented on #44561
Also see #44557

[2017-04-17 16:18] mtaufen opened #44563 "Fix chronically failing upgrade test suites"
wrt https://github.com/kubernetes/test-infra/issues/2453 https://github.com/kubernetes/test-infra/pull/2489 https://github.com/kubernetes/test-infra/pull/2487

I think a lot of the upgrade test suites would start passing if we fixed:

[k8s.io] Kubectl client [k8s.io] Kubectl describe should check if kubectl describe prints relevant information for rc and pods [Conformance]
[k8s.io] Kubectl client

[2017-04-17 16:18] etotheipi commented on #43986
This is related to #31307:
https://github.com/kubernetes/kubernetes/issues/31307

The issue is that the registry proxy which is run as a pod on the cluster network using a `hostPort` setting.  Unfortunately `hostPort`s are not supported when using any CNI networking plugin (which includes weave).  The one exception *I think* is kubenet which has integrated a fix into the plugin itself.

I have cre

[2017-04-17 16:48] Dmitry1987 commented on #44551
same same!  tried kubeadm 1.6.1, with this config, and the token from previous old cluster:

[code]

migrated etcd to v3 successfully, I see all my keys.. but "kubeadm init" with this config, gets stuck on
[code]

and the logs say:

[code]

maybe someone solved this already?  (totally weird - that this is out of the box behavior, of kubeadm 1.6.1, with almost same settings that worked with 1.5.4)

[2017-04-17 16:50] etotheipi opened #44564 "Registry proxy broken due to `hostPort` not working with CNI"
**Kubernetes version** (use `kubectl version`):  1.6.1
- **Cloud provider or hardware configuration**:  Metal/OpenStack
- **OS** (e.g. from /etc/os-release):  Centos:7
- **Kernel** (e.g. `uname -a`):  4.10.9
- **Install tools**:  kargo, weave

**What happened**:
Followed directions to setup in-cluster registry with proxy:
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/registry

[2017-04-17 16:54] euank commented on #24753
@luxas

If it was a true error the suite would have at no point passed, so it wouldn't show up in that statistic.
If the PR were updated, it would change the commit.

[2017-04-17 17:19] marun commented on #44160
@nikhiljindal How would the swagger spec be consumed by the FCP?  Would a member cluster's api automatically serve it?

Issue 2 suggests yet another use case for enhanced status reporting.  Currently logs provide the only indication of a resource's propagation status, and logs are unlikely to be accessible to a non-admin user.

[2017-04-17 17:19] liggitt commented on #43662
https://github.com/kubernetes/kubernetes/commit/d1d20e5340d427b7a6a4c022c37f4cecb36ce52b#diff-47197a425491d7fcfa69115333533db9R140 falls through to the in-cluster-config namespace unless the mergedClientConfig.Namespace() indicates the namespace was overridden.

https://github.com/kubernetes/kubernetes/commit/ffa764d60bd4e7768401a25e95eb77a0d7c9ddc0#diff-c320a2254d827d227c3a3322f9b06c59R223 only i

[2017-04-17 17:26] liggitt commented on #43662
The following all override the in-cluster config as expected on master:

--kubeconfig flag (server and credentials take effect, namespace does not)
$KUBECONFIG envvar (server and credentials take effect, namespace does not)
--server flag
--token flag
--namespace flag

The only issue I am seeing is overriding the in-cluster-config namespace from the namespace specified in a kubeconfig file via --ku

[2017-04-17 17:26] radeksimko commented on #44539
@liggitt It is apparently significant for many other resources - at least significant enough that it's persisted & returned back from the API, unlike for resource quota. This is at the very least inconsistent behaviour.

I'm working on [K8S provider](https://www.terraform.io/docs/providers/kubernetes/) for [Terraform](https://github.com/hashicorp/terraform) and this is causing us some troubles the

[2017-04-17 17:28] chrisleck commented on #43662
Yes - that matches what I'm seeing.  Specifying `--context` isn't enough.  I also have to specify `--namespace` in order for the override to work, which is a regression from 1.4.* behavior.

[2017-04-17 17:31] kargakis commented on #44559
Services need to exist prior to their pods, can you try creating the service first, then the deployment, and see if you get the same error back?

[2017-04-17 17:32] liggitt commented on #44539
Any solution that is expecting to apply idempotent create operations should not use generateName...

[2017-04-17 17:40] mikedanese opened #44567 "./staging/copy.sh doesn't handle BUILD files correctly"
We copy in BUILD files from the saved directories. The BUILD files should be preserved.

This was hit in https://github.com/kubernetes/kubernetes/pull/44519

[2017-04-17 17:53] wongma7 commented on #44528
Old issue here: https://github.com/kubernetes/kubernetes/issues/8735 . The message in the README is about as old. I would be interested in this too :)

[2017-04-17 17:55] yujuhong commented on #44503
They don't have to if kubelet simply translates "Privileged" to the set of configurations to the runtime.

Another question is that if docker's privilege field changes, what should we do? That's why defining this at the kubernetes API level is important.

[2017-04-17 17:55] erictune commented on #41267
Option 3 works for federation controllers, but it does not work for pod-to-pod communication cross cluster.

For (1) there are some sub-options:
- option 1A: each cluster produces identities which are scoped to that cluster, but the federated clusters trust each other to provide identities scoped to each cluster.  But a User from cluster A initially has no permissions in cluster B until authorizat

[2017-04-17 17:55] xsgordon commented on #44461
/cc @k8s-sig-openstack-bugs

@idvoretskyi can I get you to tag this with the sig/openstack label please.

[2017-04-17 17:56] xsgordon commented on #44536
/cc @k8s-sig-openstack-bugs @k8s-mirror-storage-bugs

@idvoretskyi can we get the sig/openstack and sig/storage labels here?

[2017-04-17 17:58] xsgordon commented on #44032
/cc @k8s-sig-openstack-bugs @k8s-mirror-storage-bugs

@idvoretskyi can you please label with sig/openstack and sig/storage please?

[2017-04-17 18:11] ixdy commented on #38228
@timothysc I can push a new cross-build image as needed for #41636, but I'm not really following up on go1.8 issues.

[2017-04-17 18:12] nikhiljindal commented on #44160
from @quinton-hoole

Thats very well said and I agree. We should be able to detect version skew and define what happens in that case (point 2 in my summary).

from @marun

It already does. kubectl also uses swagger spec served by the api server to do client side validation.
You can access it at `<masterIP>/swaggerapi`

[2017-04-17 18:20] marun commented on #44160
You can access it at <masterIP>/swaggerapi

Does that mean that using the swagger spec would enable discovery of field differences for any api version?  And can the kubernetes client also configure itself using swagger such that the benefits of @quinton-hoole's proposal could be realized without having to compile each specific client version into the controller manager?

[2017-04-17 18:20] liggitt commented on #44160
This validation is error-prone and we're trying to remove it - https://github.com/kubernetes/kubernetes/issues/39434

[2017-04-17 18:22] tristanls commented on #42701
Hello, I am observing the same error when I start `kubelet`. I noticed that this was marked as not a release blocker, but I am curious if the following sequence of events is causal and valid?

0. `$ kubelet ... --network-plugin=kubenet ...` and `$ kube-controller-manager ... --allocate-node-cidrs=true ... --cluster-cidr=$CLUSTER_CIDR ... `
1. `kubelet` fails to record the events listed in the erro

[2017-04-17 18:36] fejta commented on #44563
Note that the requirement to keep these jobs is to get them passing by the end of April.

[2017-04-17 18:40] janetkuo commented on #43402
Eventually we want to use semantic merge (server side apply) to compare, instead of DeepEqual.

[2017-04-17 18:46] MHBauer commented on #27308
I'd like a `${KUBECTL_CONTEXT}`. When connecting to multiple clusters it is convenient to have one in each shell and do comparisons by running the same command in each.

@deads2k Is there a way to easily parse out an existing context out of the kubeconfig so I can create individual kubecfgs? Something like `--minify`, but with a `--context` parameter?

[2017-04-17 18:48] nimeshksingh commented on #44522
Would you like me to explicitly use the label "myLabel"?  Otherwise that's the command and output I posted in "What happened" above.  (I had set a label dedicated=foo ahead of time on two nodes.)

[2017-04-17 19:11] dcieslak19973 commented on #38901
Pull request https://github.com/kubernetes/kubernetes/pull/43510 seems to be stuck with one failing task. Any suggestions for helping @karataliu get it to pass the automation checks and then merged?

[2017-04-17 19:13] vaijira commented on #44317
Then the documentation should be changed to say that.

[2017-04-17 19:37] jayunit100 commented on #44522
Ah ok so the taint k/v is the exact same as the label k/v, that makes the example tricky to parse but I agree I guess it should work? I can try to reproduce this....

[2017-04-17 19:40] jayunit100 commented on #44317
Agree since probably most real Cassandra clusters have csqlsh on at least one node, so should we.

[2017-04-17 19:40] smarterclayton commented on #27308
You should be able to `kubectl config view -o gotemplate=""`.  I think
there is a bug for certificate data fields (where JSONPath returns an array
of bytes, rather than a string).

On Mon, Apr 17, 2017 at 2:46 PM, Morgan Bauer <notifications@github.com>
wrote:

[2017-04-17 19:50] nimeshksingh commented on #44522
Yup, the same k/v.  (I wanted both labels and taints to determine this set of nodes, and it seemed like it would be confusing to have different k/v's for each.  I kinda thought this would be the common case...)

[2017-04-17 19:51] jayunit100 commented on #44522
Ah , yeah i see it to ...
[code]
Even though clearly, the selector exists.
[code]

[2017-04-17 19:51] rickypai commented on #43632
Thanks. I'll get the changes up this week. There'll likely be three changes:

1. add tests for existing hosts file content (there's no tests currently) #44572
2. API change for `HostMappings` on `PodSpec`
3. logic to use `HostMappings` in `ensureHostsFile`

Is there any possibility to cherry-pick those back in 1.6? Or would this have to wait for 1.7?

[2017-04-17 19:57] henriquetruta commented on #37842
Looks like the problem here is with the `status.conditions.lastProbeTime` property on cluster. Every time the healthcheck is made, this value is updated and the `watch` is refreshed. Not sure how to tackle this. Is it possible to restrict the `watch` to specific attributes?

[2017-04-17 19:58] cblecker commented on #44521
This isn't a bug. If the static IP address is already in use (in this case, by the Ingress per your Stackoverflow link) or is the wrong type (LoadBalancer IPs in GCE need to be regional and in the same region as the cluster) then the LoadBalancer service will go into pending. Global IPs are used by Layer 7 Loadbalancer provisioned by the ingress.

/assign

[2017-04-17 19:59] cblecker commented on #44521
/area platform/gke

[2017-04-17 20:00] nikhiljindal commented on #37842
oh that makes sense. Verified that `kubectl get nodes -w` has the same problem.

[2017-04-17 20:03] msau42 opened #44573 "Unit testing: GCE cloud provider disks"
Unit tests are needed for the GCE cloud provider disk interface.

[2017-04-17 20:17] yujuhong commented on #43632
AFAIK, we don't cherrypick features.

[2017-04-17 20:27] riturajtiwari commented on #44521
Thanks @cblecker for the review. If I go from `LoadBalancer` to `NodePort` service, I still have a very long delay in connecting the `Ingress` to the `Service` - 10 minutes or so.

Maybe I am not doing something right. Is there another recommended way of connecting `Ingress` to a `Service`?

[2017-04-17 20:30] mikkeloscar commented on #38228
I suspect the failing e2e test could be due to the cert used in the image: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/proxy.go#L115

Where are the sources for these images used in the e2e tests?

[2017-04-17 20:31] mtanino commented on #44297
/cc @kubernetes-sig-storage-bugs @k8s-mirror-storage-bugs

[2017-04-17 20:31] jayunit100 commented on #44522
@ravisantoshgudimetla Is the taint expert on our team.

ravi can you look at pkg/kubect/cmd/taint.go, this logic might be shadowing the label selector, such that its impossible to use labels to select the  nodes you're trying to  taint.

[code]

[2017-04-17 20:32] henriquetruta commented on #37842
So, should we restrict the `watch` to certain fields? Is it possible?

[2017-04-17 21:03] mikedanese commented on #38228
I don't think this cert issue is one that we can paper over by just updating the certs used in tests. What are the implications for upgrades? Are any malformed certs used in production clusters? This seems like one of those things that you would only find out about after it's too late.

[2017-04-17 21:07] luxas commented on #38228
+1 @mikedanese

@bradfitz can give us some context and probably an upgrade story

[2017-04-17 21:13] bradfitz commented on #38228
That cert error you're seeing is from https://go-review.googlesource.com/c/27312/

[2017-04-17 21:15] mikedanese commented on #38228
@bprashanth gives a good summary of the issue in https://github.com/kubernetes/kubernetes/issues/38228#issuecomment-280213590. In the commit message of https://github.com/golang/go/commit/59aeac2 Adam says golang stopped generating malformed certificates in 2013. Curiously our unit tests started failing, but it seems like it's because we just copied testdata from golang/go that was generated befor

[2017-04-17 21:41] pwittrock opened #44580 "Bazel test failure - `Server terminated abruptly`"
[link](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44531/pull-kubernetes-bazel/13848/)

[code]

[2017-04-17 21:48] everett-toews commented on #44511
@liggitt Are you saying that this problem is impossible to solve?

If so, that's unfortunate. If not, please consider reopening this issue.

Both of those options are workarounds and make for a crummy UX. And if you're working with third-party tooling and can't control how/when `apply` is invoked, the workarounds are even worse. I was hoping for a better UX than that (if it's possible).

Perhaps o

[2017-04-17 21:52] erikgrinaker opened #44581 "GKE creates fluentd-gcp pods when loggingService:none"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): fluentd-gcp beta.kubernetes.io/fluentd-ds-ready

---

**Is this a BUG REPORT or FEATU

[2017-04-17 22:07] bodepd commented on #33766
FWIW, I ran into this as well.

[2017-04-17 22:39] #44567 closed

[2017-04-17 22:44] MrHohn commented on #44532
From your first post, you were executing nslookup on kube-dns pod. We set `dnsPolicy: Default` for all kube-dns pods, so there wouldn't be search paths defined for k8s, which led to the failures you saw.

[2017-04-17 22:50] mml commented on #44419
I have cherry picks in process for the kube-apiserver part: #44575 #44585 #44586

I couldn't easily get the kubectl fix to pick onto 1.6.  Hopefully @monopole has better luck.

[2017-04-17 22:51] MrHohn commented on #44314
/assign

Closing this as it a duplicate of kubernetes/dns#75.

[2017-04-17 22:51] MrHohn commented on #44314
/close

[2017-04-17 22:51] #44314 closed

[2017-04-17 23:02] rikatz commented on #36745
Tested in 1.6.1, --require-kubeconfig is still required to make this work.

We need to be careful, as api-server in this version is being deprecated (still works, but issues a WARNING about this deprecation) and require-kubeconfig is not clear about being used also for api-server connection.

Is there any plan to make require-kubeconfig default to true in next versions?

Thanks!

[2017-04-17 23:04] liggitt commented on #36745
Yes. The plan is to completely remove --api-servers and default --require-kubeconfig to true in 1.7

[2017-04-17 23:09] enisoc opened #44587 "kube-apiserver crashes when trying to patch TPR data"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* patch panic

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BU

[2017-04-17 23:10] mml commented on #44419
(Re-opening until the fixes are backported and released.)

[2017-04-17 23:23] studyingMole commented on #44559
I tried spinning up a new cluster on GKE, creating the service first, then creating the deployment, and the same error occurs.

If I delete the service, then try to scale the deployment, all the pods are able to start properly, even the pod that originally failed, restarts and begins working correctly.

[2017-04-17 23:24] 8enmann commented on #44190
@supereagle any ideas?

[2017-04-17 23:25] MrHohn commented on #44187
Could you check if the kubelet on nodes are using `--hairpin-mode` flag?
[code]

cc @freehan

[2017-04-17 23:30] MrHohn commented on #44187
Maybe related to #43966.

[2017-04-17 23:50] pwittrock opened #44589 "Kubectl: Replace usages of swagger with open API"
Deprecate the discovery API returning Swagger and replace all instances with open API

[2017-04-17 23:57] rikatz commented on #36745
@liggitt anyway, shouldn't we enable --require-kubeconfig for the next version of kubernetes 1.6, by default?

This way I think migrations are going to be softer than enabling one and disabling other directly by default in 1.7.

Just a suggestion :)

[2017-04-18 00:50] liggitt commented on #36745
Actually, I should speak more precisely. In 1.7, the plan is to remove --api-servers and make the presence of the --kubeconfig flag determine whether an API connection is made. The presence of --kubeconfig will require the specified file and the absence of --kubeconfig will mean the kubelet is in standalone mode.

[2017-04-18 01:16] nikhiljindal commented on #35254
Sent https://docs.google.com/document/d/1ioBg6Nn7PwyAAY48S42VQ0Zr1LXY5IAnMbBsftmE8DI with a more concrete design of how we can support both SingleIdentity and UserIdentity.

[2017-04-18 02:05] siggy opened #44593 "Protobuf serialization does not distinguish between `[]` and `null`"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): Not a request for help. Observed undocumented change in 1.6.1 api.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): endpoints subsets api

[2017-04-18 02:29] tristanls commented on #42701
I just ran an experiment where (it seems to me) I confirmed this issue is preventing a cluster configured in my scenario above from ever working.

In my experiment I created a patched build of `kubelet` using the changes from #42939 committed on top of source code checked out at tag `v1.6.1`.

After deploying a node that uses the patched `kubelet`, it successfully records the event (registers the

[2017-04-18 02:40] k82cn commented on #42701
@tristanls , thanks very much for your verification. That maybe my miss on the usage of that event to make it `non-release-blocker`. Anyway, I'll ping approver to get that PR merged; and dig why it impacts cluster configuration.

[2017-04-18 03:05] RyanHartje commented on #20625
I believe I'm experiencing this when setting up k8s via the CoreOS Kubernetes walkthrough, while using etcd2.

[code]

Is there any troubleshooting information I could provide that would be helpful?

I'm using:
CoreOS stable (1235.9.0)
Kubernetes v1.6.1_coreos.0 (via hyperkube)
Etcd 2.3.7
Docker 1.12.6

[2017-04-18 03:36] msau42 commented on #24317
I had a quick discussion with @davidopp about this.  I don't think the opaque integer resources feature will work for implementing this for the following reasons:

1.  In the pod spec, you do not explicitly specify how many PDs you want to request as a field.  The count is inferred from how many direct GCE PD volumes + how many GCE PD PVs that a pod's PVCs are bound to.  For opaque integer resourc

[2017-04-18 03:43] wayarmy commented on #41377
Hi,

I've just got the same problems, i added flag `--pod-network-cidr=` with kubeadm and some flag: `--token` and `--config`, when i added more 2 flag, i have got this error:

```failed: rpc error: code = 2 desc = NetworkPlugin cni failed to set up pod \"kube-dns-3913472980-d7qsv_kube-system\" network: open /run/flannel/subnet.env: no such file or directory"```

i checked log, and it mean kubeadm

[2017-04-18 04:24] xiangpengzhao commented on #43846
Dug into this issue again and found some clues.

That pods continuing to be deleted and created was because I set improper values of some flags such as node-monitor-grace-period. In this case, node is not stable. Its status is monitored as ready and not-ready repeatedly by node controller. When it's monitored as not-ready, its pods are evicted.

After setting the value of those flags to default, t

[2017-04-18 04:26] xiangpengzhao commented on #43846
cc @bsalamat @davidopp @deads2k @k82cn @kargakis

[2017-04-18 04:38] shashidharatd commented on #44580
This pr too started failing with same error #44338

[2017-04-18 04:42] tobegit3hub commented on #5607
We can discuss the issues of GPU in another thread. Here we need to run the container with `--device` parameter just like how `docker` does.

I think @vishh 's proposal can fix this. Is anyone working on this now?

[2017-04-18 04:51] thockin commented on #24317
At some point we discussed that integer-resource plugins would have an
opportunity to look at the whole pod spec, and return the number of units
they claimed.  That implies that the apiserver will make a callout to some
service, pass the pod, etc.  Kind of yuck.

It could be async.  Admission control puts an initializer on, async service
updates the pod resources with the correct count.

On Mon, A

[2017-04-18 05:37] #42888 closed

[2017-04-18 05:51] davidopp commented on #24317
opportunity to look at the whole pod spec, and return the number of units
they claimed.

Ah, interesting. I don't remember this. Do you (or maybe @ConnorDoyle) remember where this was discussed? The current implementation of opaque integer resources (on the consumption side) is just some small code in the scheduler that says treat resources that appear in the Container.Resources and whose name sta

[2017-04-18 05:55] thockin commented on #24317
How do you know which type of PV is "the cloud one"?  What about when
everything moves to flex volumes and is pretty opaque?  What if there's
more than one "cloud one"?

On Mon, Apr 17, 2017 at 10:52 PM, David Oppenheimer <
notifications@github.com> wrote:

[2017-04-18 06:11] davidopp commented on #43846
As discussed in https://github.com/kubernetes/kubernetes/pull/43847/files#r109515252, I think the best solution is to have the controller notice that the pods it is creating keep getting rejected by kubelet with a "reason" that indicates kubelet admission failed, and rate limit creation of subsequent pods (until they start succeeding, at which time it would stop the rate limiting).

[2017-04-18 06:26] #42701 closed

[2017-04-18 06:52] krallistic opened #44599 "kubectl shows 0y (incorrect rounding)"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
 kubectl version
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.5", GitCommit:"894ff23729bbc0055907dd3a496afb725396adda", GitTreeState:"clean", BuildDate:"2017-03-22T00:23:49Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: versio

[2017-04-18 06:55] luxas commented on #24753
Argh, didn't read properly. I missed _for a single commit_, sure then this makes a lot of sense :+1:

[2017-04-18 07:04] xingzhou commented on #44599
let me take a look at it

[2017-04-18 07:13] fejta commented on #44226
Note this is still flaking around once per day in `pull-kubernetes-e2e-gce`

Assigning sig owners:
/assign @derekwaynecarr @dchen1107

Assigning test owner:
/assign @timothysc

Timothy if you do not want to own this test please update [`test_owners.csv`](https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.csv#L112) with the new owner and then reassign the issue to that person.

1

[2017-04-18 07:16] xingzhou commented on #44599
A tiny issue in the printers, fixing it now

[2017-04-18 07:25] fejta commented on #41898
@kargakis the 24 hr test history is largely focused on failures right now, and this is highlighting flakes specifically (aka which tests are both passing and failing at the same commit the most often).

Please follow the reports I'm sending to kubernetes-dev and related sigs. Also you can generate this info yourself using [test-infra/experiment/bigquery](https://github.com/kubernetes/test-infra/tr

[2017-04-18 07:28] natalia-k commented on #43560
@mkumatag
Thanks a lot for the explanations! it's clear for me now and you are right.

But will possible/more easy to alert based on cAdvisor metrics if cAdvisor will export pod labels for container metrics (https://github.com/kubernetes/kubernetes/issues/32326),
hope it will implemented ever

Thanks for your help!
Natalia

[2017-04-18 07:29] Pensu commented on #43970
Hi,

Can you try adding

``` "dial tcp: address -1: invalid port", ```

instead of

``` "dial tcp: invalid port", ```

at line 72 in pkg/probe/tcp/tcp_test.go.

[2017-04-18 07:37] Pensu commented on #44023
Hi,

Try adding "ContainsAny" in place of "Contains" at line no: 243 in staging/src/k8s.io/apimachinery/pkg/runtime/embedded_test.go. It should work.

[2017-04-18 08:23] kargakis commented on #43846
@kubernetes/sig-apps-misc

[2017-04-18 08:33] kargakis commented on #44559
@kubernetes/sig-network-bugs

[2017-04-18 08:54] xialonglee commented on #43856
I think I might find the reason which cause the problem.
I check my docker configuration and find that `native.cgroupdriver=systemd ` was assigned to docker init args.
Disabled that arg of docker, all things run well.

[2017-04-18 09:20] vascofg commented on #44046
Any progress on this?

[2017-04-18 09:39] adam-sandor commented on #26202
I just ran into this one by simple changing labels on a Deployment. I removed one label and added 3 new ones.
I'd say this is a pretty serious issue if it can happen under such simple circumstances and blocks a new deployment completely.

[2017-04-18 09:45] pizzarabe commented on #34920
I had the same problem. After scaling down some of my pods I was not able to scale them up again.
`No nodes are available that match all of the following predicates:: Insufficient cpu (3)`

The nodes had enough cpu, for example:

[code]

After restarting the k8s master node, the pods successfully started again.

[2017-04-18 09:56] soltysh commented on #44410
I don't like removing tests, so I've opened https://github.com/kubernetes/kubernetes/pull/44602.

[2017-04-18 09:58] sdurrheimer opened #44603 "kubelet panic `invalid memory address or nil pointer dereference` using `kubeadm init` with vsphere cloud-provider"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

`BUG REPORT`

**Kubernetes version** (use `kubectl version`):

`v1.6.1`

**Environment**:
- **Cloud provider or hardware configuration**:
4 VMs via ESXI 6.5 on a single physical server
- **OS** (e.g. from /etc/os-release):
Ubuntu 16.04.2
- **Kernel** (e.g. `uname -a`):
`Linux kube-master-1 4.8.0-46-generic #49~16.04.1-Ubuntu SMP Fri Mar 3

[2017-04-18 10:17] Pensu commented on #44022
Hi,

I am able to run that tests:

[code]

I am running RHEL ppc64le, latest k8s with go1.8, probably something specific to do with SLES?

[2017-04-18 10:27] erikbgithub commented on #1899
I'm not an expert on Kubernetes, so can I ask why this issue isn't prioritized as `urgent` since the first day of its creation? Maybe because I just come here due to having such a problem, but in my current context it feels quite normal that you would have something like this the moment you have the ability to deploy anything. Even `kubeadm` would profit a lot from not returning before the apiserv

[2017-04-18 11:34] gbarkov commented on #10921
@thockin Hey, thanks for the reply it was very helpful.

We have managed to solve this issue by updating our kubernetes node to last version (1.6).
This version includes new annotation option called - service.beta.kubernetes.io/external-traffic: "OnlyLocal"

This helped us to resolve problem with getting real users IP.
Btw, you can check out our article - [Kubernetes + Docker for your deployments]

[2017-04-18 11:34] studyingMole commented on #44559
Well, I got the deployment pods to start after starting the service first ... turns out the cluster didn't like something being called "user".

I changed the service name from "user" to "user-service", and deployment label from "app: user" to "app: user-svc", and updated the selector on the service to match:

[code]
Now services and deployments are working, I was also able to put all the config in

[2017-04-18 11:43] vaibhavsood commented on #44023
Yes, this fixes it on SLES as well, thanks

[2017-04-18 11:43] vaibhavsood commented on #43970
Yes, this fixes it on SLES as well, thanks

[2017-04-18 11:47] vaibhavsood commented on #44022
I still get the error on SLES, updated the code to latest and using go1.8, maybe it is SLES (or my machine?) specific

#20028 talks about /tmp space, not sure if its related..

[2017-04-18 11:55] #44559 closed

[2017-04-18 12:04] xiangpengzhao commented on #43846
@davidopp Thanks David !
I'm not familiar with the mechanism of rate limiter. I create a PR #44608 but it seems like somewhat different from your suggested solution. I tested it, it can create a new pod in one sync; delete that failed pod in next sync and (may) trigger a rate limiter; create a new pod in the third sync; delete... repeatedly.
Hope for you folks' further review. Thanks very much!

[2017-04-18 12:05] urzds commented on #5607
@tobegit3hub You mean [the volume hostpath qualifiers proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/volume-hostpath-qualifiers.md)?

I prepared a proposal for what we call the [Container Device Interface (CDI)](https://github.com/urzds/kubernetes/blob/proposal/container-device-interface/docs/proposals/container-device-interface.md): A generic way to al

[2017-04-18 12:07] urzds commented on #44107
I prepared a proposal for what we call the [Container Device Interface (CDI)](https://github.com/urzds/kubernetes/blob/proposal/container-device-interface/docs/proposals/container-device-interface.md): A generic way to allocate devices, including GPUs, to containers.

----

We use Kubernetes to schedule scientific 3D visualisation applications onto a cluster. Hence our containers use GPUs / DRM an

[2017-04-18 12:12] kargakis commented on #43846
There is some overlap between this issue and perma-failed deployments cc: @smarterclayton @mfojtik

[2017-04-18 12:18] wojtek-t opened #44609 "GCL test started failing again in gke-large"
This is the first run that failed (all subsequent also failed):
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/117

It might be related to changes @piosz were doing.

[code]

[2017-04-18 12:23] jsafrane commented on #44372
I want to see the reason why a PV is deleted. There should be at least `volume %q is released and reclaim policy %q will be executed` in the controller log.

There is a very slim possibility that the API server crashed after it has stored a new PV object and before sending a response to the controller that the object was written. The controller will then try to delete the volume and it won't try t

[2017-04-18 12:42] pkutishch opened #44610 "k8s does not deleting pv within pvc"
**This is a BUG REPORT**:

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-beta.3", GitCommit:"0cd5ed469508e6dfc807ee6681561c845828917e", GitTreeState:"clean", BuildDate:"2017-03-11T04:20:22Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", Git

[2017-04-18 12:48] adohe commented on #39434
[code]
This is just what in my mind. @smarterclayton are we going to do this in 1.7? I would like to pick this up.

[2017-04-18 12:49] adohe commented on #20625
@RyanHartje please take a look at my old comment.

[2017-04-18 13:01] thockin commented on #44559
I don't like the answer bcause it doesn't map to anything I can explain.

You said "Error: listen EACCES tcp://10.0.0.114:5600" - is that an error
thrown by your app?  Is that IP the service IP or the pod IP?

On Tue, Apr 18, 2017 at 4:35 AM, Nik Ho <notifications@github.com> wrote:

[2017-04-18 13:04] thockin commented on #26202
@pwittrock @mengqiy

[2017-04-18 13:08] adohe commented on #44033
/assign @adohe

[2017-04-18 13:09] adohe commented on #44033
I will pick this up and submit a PR asap.

[2017-04-18 13:21] adohe commented on #44165
/assign @adohe

[2017-04-18 13:21] adohe commented on #44165
will fix this before this weekend.

[2017-04-18 13:23] martindariocernadas commented on #26202
Hi everyone. The solution to passover the issue with "apply" command, is to use "replace". It also works in cascade to replace environment entries. You can see "https://vishh.github.io/docs/user-guide/kubectl/kubectl_replace/"

Example : "kubectl replace -f myfile.yaml"

[2017-04-18 13:28] adam-sandor commented on #26202
Thanks @martindariocernadas that workaround is helpful. I still would like `kubectl apply` to work as it's great to not have to worry whether an object already exists on the cluster. This makes building CD pipelines much easier.

[2017-04-18 13:52] kargakis commented on #44395
@janetkuo @kubernetes/sig-cli-misc  I think we should add a flag in `rollout status` that would bypass maxUnavailable and return when all pods are available (old behavior). Thoughts?

[2017-04-18 13:57] kargakis commented on #44395
Or maybe we need to document better MaxUnavailable.

[2017-04-18 13:57] jhorwit2 commented on #44395
maxUnavailable was 0.

Is this how the deployment controller works also? I.e. if my last pod failed for the progress deadline time would the deployment still pass?

[2017-04-18 13:57] ncdc commented on #44226
This appears to happen because the kubelet is unable to unmount the current downward api mount (it typically gets a device or resource busy error). We have yet to determine the cause.

[2017-04-18 13:57] ncdc commented on #44226
cc @pmorie @sjenning

[2017-04-18 14:01] jhorwit2 commented on #44395
To answer my own question, it appears it does use maxUnavailable. [Link](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/util/deployment_util.go#L842)

updated docs would be nice. It doesnt say anything about it in the docs [here](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#max-unavailable) about this functionality.

I and others I work with

[2017-04-18 14:05] skofgar commented on #42599
Oh thanks! I will try it and let you know how it goes.

[2017-04-18 14:18] kargakis commented on #44395
@jhorwit2 every pod in the upgrade is required to be updated ([see here](https://github.com/kubernetes/kubernetes/blob/eccba3b6d00345422e45829a29eab9b6fc29c1a2/pkg/controller/deployment/util/deployment_util.go#L845)). Even in your example, the last pod is updated (but not running). If you want to wait for all pods to be running for the upgrade to be complete, you can use maxUnavailable=0. If you w

[2017-04-18 14:39] jhorwit2 commented on #44395
@kargakis The most confusing part to me about this is that progress deadline is handled differently. You can [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/util/deployment_util.go#L864) that it doesn't take into account maxUnavailable. We consider a deployment complete when it can no longer possibly fail and that's not how `rollout status` works.

[2017-04-18 14:42] #44069 closed

[2017-04-18 14:48] gmarek opened #44613 "KubeProxy is sometimes consumes 0.7 CPU on 100 Node clusters when doing nothing"
We turned on resource gatherer again, and as it was expected our scalability suite started to fail. This time the biggest culprit is kube-proxy, which sometimes has abnormally high CPU usage in 99th percentile in the Density test. Density does not use services at all, so by itself it doesn't stress kube-proxy, but we do run Load test in the same suite, which puts a quite heavy load on it.

We meas

[2017-04-18 14:51] jayunit100 commented on #44522
will cc scheduling-bugs once rg confirms that this is a problem.  i think it is.

[2017-04-18 14:52] JorritSalverda commented on #44330
I've describe how I got this to work for Prometheus by proxy'ing through the API in GKE at https://github.com/prometheus/prometheus/issues/2606#issuecomment-294869099.

I'll close this ticket, because this provides a nice and future-proof way to get to those metrics. The only drawback is that it will put slightly more load on the API server.

[2017-04-18 14:52] #44330 closed

[2017-04-18 14:57] kargakis commented on #44395
ProgressDeadlineSeconds is using the same helper [here](https://github.com/kubernetes/kubernetes/blob/1ee8f2f543e2cc6c56821eb8f1504d12ee7b169c/pkg/controller/deployment/progress.go#L97). Agreed that it is confusing and at the very least we need to document this better.

[2017-04-18 15:07] jayunit100 commented on #44522
/assign @ravisantoshgudimetla

[2017-04-18 15:22] jayunit100 commented on #44522
/assign @jayunit100

[2017-04-18 15:24] liggitt commented on #44593
nothing related to this changed between 1.6.0 and 1.6.1:

https://github.com/kubernetes/kubernetes/compare/v1.6.0...v1.6.1

[2017-04-18 15:26] matesito commented on #7890
+1

[2017-04-18 15:35] liggitt commented on #44593
the issue with null lists was fixed by https://github.com/kubernetes/kubernetes/pull/43422, but I'm seeing different behavior between a list and an individual item.

[2017-04-18 15:38] mtanski commented on #43964
We've build a system around bare Pods to encapsulate our bath job system. The current Job system is opinionated to the point of not being useful. Continuously running the same failing job (or group of failing jobs) and blocking resources for other ones to run is not great default choice.

Worse yet the documentation is not great, the restart policy documentation is confusion ... because "Never" st

[2017-04-18 16:04] xiangpengzhao commented on #44552
We should support GPU and OIR by downward API. Will try to work on it.

[2017-04-18 16:13] msau42 commented on #44610
What does "kubectl describe pv" show?

cc @kubernetes/sig-storage-bugs

[2017-04-18 16:23] mikedanese commented on #44580
This seems to be happening very frequently all of the sudden. What changed?

[2017-04-18 16:30] timothysc commented on #44613
This isn't new, there are literally 5-6 issues surrounding this.

There is a bunch of batching PRs that were pushed out of 1.6 that should come back in scope.

/cc @dcbw

[2017-04-18 17:00] zhan849 commented on #44372
@jsafrane thanks for the detailed explanation. It might because we are turning `--v=2` so there is little to see. Will use `kubectl describe pvc` to get more information if it happened again. But its weird why API server go routine can crash, as there is no other intervention such as host level OOMKill.

Btw is this slim possibility fixed/improved in later version? Any pull request / bug I can ref

[2017-04-18 17:02] matalo33 commented on #43634
GAHH THIS!!!!

Please don't let kube-apiserver silently fail if it tries to speak etcd3 to an etcd2 cluster. I only discovered this was the cause of my issues by accident because another ticket got me thinking this might be the reason.

https://github.com/kubernetes/kubernetes/issues/12089

[2017-04-18 17:10] spxtr commented on #43964
I'd like to stress that my use case was *never* a good fit for k8s jobs, opinionated or not. I do not feel like this issue demonstrates a failure of k8s jobs.

The transition to ProwJobs is now complete, and it works great!

[2017-04-18 17:17] cmluciano commented on #44552
@Yancey1989   I'm not sure if GPUs are not exposed since the API is still under discussion

cc @vishh

[2017-04-18 17:24] lavalamp opened #44618 "API Registration API to beta"
It's alpha right now. We need to get an API design review and make a beta version.

[2017-04-18 17:27] lavalamp opened #44619 "API Aggregation should not depend on the full network stack"
In particular, some master environments don't include kube-dns and/or kube-proxy. API aggregation should work in these environments.

[2017-04-18 17:28] lavalamp opened #44620 "API Aggregation: verify OpenAPI spec merging works"
We should include a test for this.

[2017-04-18 17:30] wojtek-t commented on #44613
A bunch of preparing PRs were already merged. There are few more in-progress, with culmination that will come with: https://github.com/kubernetes/kubernetes/pull/41030

I think that we should let those tests fail for few more days until those PRs are merged and revisit it then.

[2017-04-18 18:00] jayunit100 commented on #44561
thanks @ncdc ...

@dchen1107 can you help me craft this and take an initial look at the above PR (#44557) ?  Thanks !

[2017-04-18 18:01] henriquetruta opened #44624 "healthz successfull checks shouldn't update resourceVersion"
commands like `kubectl get nodes -w` and `kubectl get cluster -w` have a bad output of watch, since the resourceVersion is incremented everytime healthz is successfully checked. This doesn't happen with other resources like pods and services.

Related issue: https://github.com/kubernetes/kubernetes/issues/37842

[2017-04-18 18:03] freehan commented on #43966
Looks like a CNI/CRI related bug.

@dnardo

[2017-04-18 18:08] msau42 commented on #24317
Each volume plugin that wants to enforce some sort of node max, could register two functions:
1. Running in the admission controller, given a pod spec, return resource-x: count
2. Running during node startup, return resource-x: max count

This approach can enforce count limits independently per volume type.

[2017-04-18 18:11] liggitt commented on #44624
node status updates that bump the timestamp in a condition increment the resourceVersion. this is working as designed

[2017-04-18 18:11] #44624 closed

[2017-04-18 18:12] liggitt commented on #37842
no, watches get notified any time the resourceVersion changes, which happens any time a mutating write to the object occurs

[2017-04-18 18:12] #37842 closed

[2017-04-18 18:14] henriquetruta commented on #44624
@liggitt thanks for the input. So, what about clusters? Should we close #37842 too?

[2017-04-18 18:23] pkutishch commented on #44610
@msau42
erver29 ~ # kubectl describe pv pvc-91c4d530-2432-11e7-85c9-002590e72b34
Name:		pvc-91c4d530-2432-11e7-85c9-002590e72b34
Labels:		<none>
Annotations:	pv.beta.kubernetes.io/gid=2020
		pv.kubernetes.io/bound-by-controller=yes
		pv.kubernetes.io/provisioned-by=kubernetes.io/glusterfs
StorageClass:	regular
Status:		Failed
Claim:		default/myclaim
Reclaim Policy:	Delete
Access Modes:	RWX
Capacit

[2017-04-18 18:37] spxtr commented on #44580
This should be fixed. Please reopen if you see it again.

[2017-04-18 18:37] #44580 closed

[2017-04-18 18:42] dnardo commented on #43966
@yoks  Can you show me the CNI conf.  The reason I ask is because if this was using the CNI "bridge" plugin it appears that it requires the "hairpinMode": "true" in the conf.  I don't think we are setting hairpin if the network plugin is set to cni, since we may be delegating that to the CNI plugin.

[2017-04-18 18:53] wongma7 commented on #44610
your assessment is right, it was looking for annotation and ignoring field. the fix will be in v1.6.2 https://github.com/kubernetes/kubernetes/pull/44035

[2017-04-18 18:56] yoks commented on #43966
@dnardo
[code]

[2017-04-18 18:58] nikhiljindal commented on #44283
Ref https://github.com/kubernetes/features/issues/104

[2017-04-18 19:23] yoks commented on #43966
After i added "hairpinMode": "true", it seems kubelet set hairpin mode to 1.
[code]

Not sure why 1 of the devices is still 0, but everything seems to work as intended.

[2017-04-18 19:23] #43966 closed

[2017-04-18 19:28] kow3ns commented on #44515
@fejta The automated upgrade testing for StatefulSet can not possibly pass against a cluster that doesn't have StatefulSet as an API object. This was not a requirement, and thus it was never designed to do so. I'm not sure exactly what you expect to be done here.

[2017-04-18 19:28] nikhiljindal opened #44631 "federation: Support creating resources only in federation control plane"
Filing this to converge the same discussion from multiple places.

Problem: Today, when a resource in created in federation, it is automatically spread to all underlying clusters.
https://github.com/kubernetes/kubernetes/issues/29887 is for restricting the clusters to which a federation resource is spread.

There is also a use case to not spread the resource to underlying clusters at all (keep it

[2017-04-18 19:32] kow3ns commented on #44215
/close

[2017-04-18 19:33] kow3ns commented on #44215
This is not valid. Looking at the test failures the test infra-structure is broken. These failures are not related to StatefulSet.

[2017-04-18 19:33] nikhiljindal commented on #43433
Yes for both.
If someone is willing to work on it then I dont mind getting it in 1.7 as well (as alpha, disabled by default)

[2017-04-18 19:37] kow3ns opened #44632 "Upgrade Tests Broken on Master"
** BUG REPORT?** (choose one):
https://k8s-testgrid.appspot.com/latest-upgrades#gce-cluster

Upgrade testing is broken on master. It appears that clusters fail to launch.
@kubernetes/sig-testing-bugs
@kubernetes/test-infra-maintainers

[2017-04-18 19:37] kow3ns commented on #44215
https://github.com/kubernetes/kubernetes/issues/44632

[2017-04-18 19:40] kow3ns commented on #44229
looking at it

[2017-04-18 19:41] kow3ns commented on #5017
https://github.com/kubernetes/contrib/pull/2554

[2017-04-18 19:45] fejta commented on #44515
Expectation is that if we bother to run a suite that the suite passes.

Possible options:
* fix the test to pass in all suites,
* remove the test from suites it shouldn't run in,
* Remove pointless suites that can't pass or
* Remove this pointless test that can't pass.

[2017-04-18 19:48] madhusudancs commented on #44631
If we are sticking to option 1), which is what we are doing right now, I propose we also add an admission controller to federation API server to disallow `federation.kubernetes.io/federation-control-plane=true` on `Cluster` objects.

[2017-04-18 19:55] krzyzacy commented on #44632
cc @krousey

[2017-04-18 20:06] vishh commented on #44552
I'd defer support for downwards API during the alpha phase.

[2017-04-18 20:20] dnardo commented on #43966
Interesting, I'm of two minds on this.  I think long term we want to delegate any network setup to the CNI plugin including the hairpining.  We probably  want to deprecate the hairpin flag in the kubelet eventually which will most likely happen once we deprecate kubenet in favor of CNI.   On the other hand I feel like the hairpin flag should continue to work regardless in the short term.

While ha

[2017-04-18 20:20] nikhiljindal commented on #44631
Yes we can do that

[2017-04-18 20:24] ravisantoshgudimetla commented on #44522
It seems the line  https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/taint.go#L236 is the culprit. Here we are checking for resources if they are > 2, the resources allowed are node,nodes,no so if it needs it has to be > 1 and this check is already available at https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/taint.go#L218. So, I guess its safe to remove that

[2017-04-18 20:58] timothysc commented on #44613
fwiw iptables is still unscalable, and competition is moving onto IPVS and BPF/XDP

https://twitter.com/search?q=%23DockerCon&src=tyah

[2017-04-18 20:59] timothysc commented on #44613
Even if you batch window update, it's still no match for the other approaches.

[2017-04-18 21:00] ajit-sarnaik commented on #6530
Has this feature of exposing host network devices in a privileged pod been implemented please?

[2017-04-18 21:05] krousey commented on #44632
After a master upgrade, the master never becomes Ready.

[code]

[code]

[2017-04-18 21:06] krousey commented on #44632
cc @kubernetes/sig-network-bugs

[2017-04-18 21:06] donspaulding commented on #43430
Can I ask whether this is something likely to be fixed as a bugfix in the k8s 1.5.X and 1.6.X branches?  If not, do I understand the suggestion above by @deads2k to be that minikube needs to run separate processes for those two goroutines and then all should work in both 1.5 and 1.6?

[2017-04-18 21:29] enisoc commented on #43430
@donspaulding I agree with your interpretation of https://github.com/kubernetes/kubernetes/issues/43430#issuecomment-288184931. The suggestion seems to be that this should not occur in a real k8s cluster. Do you happen to have a small reproduction case that I could try out? The one in the original post above seems to point to a live, moving repo.

[2017-04-18 21:40] xiangpengzhao commented on #44552
@vishh So we shouldn't support both GPU and OIR now, right?

[2017-04-18 21:54] vishh commented on #44552
Until the API is finalized (atleast beta) I'd prefer not exposing via
downwards API. My main concern is that of leaving APIs/features in Alpha
once all necessary plumbing pieces are in place. May be we can solve that
using some TTL  on alpha features too.

On Tue, Apr 18, 2017 at 2:40 PM, Peter Zhao <notifications@github.com>
wrote:

[2017-04-18 22:06] lavalamp commented on #44618
https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration

[2017-04-18 22:18] joan38 commented on #5017
Cheers kow3ns

[2017-04-18 22:52] mml commented on #44419
The kubectl fix is now on 1.6 (#44622).

[2017-04-18 22:53] mengqiy commented on #41898
We still need to patch the release-1.4 and release-1.5 branch to make the upgrade tests passing.
I will send PRs later this week.

[2017-04-18 22:57] rickypai commented on #43632
https://github.com/kubernetes/kubernetes/pull/44641 has been created for the API change

[2017-04-18 23:11] crassirostris commented on #42718
@davidopp The meeting hasn't yet taken place, I was OOO this week. I will post the outcomes once the meeting happens

[2017-04-18 23:30] Q-Lee opened #44643 "Rename NetworkPolicy fields to convey "to" and "from""
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): feature request

**Kubernetes version** (use `kubectl version`): API v1beta1

Networking traditionally refers to "sources" and "destinations". Acceptable alternatives are "to" and "from".

The NetworkPolicySpec names the destination selector "podSelector", and the source is "Ingress[].From". Since "ToPodSelector" sounds kind of weird, can

[2017-04-18 23:42] jimmycuadra opened #44644 "vvefvfdnthgjldntjn"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-18 23:42] #44644 closed

[2017-04-18 23:44] jimmycuadra commented on #44644
Apologies! I accidentally hit my Yubikey while viewing an issue and it happened to trigger the keyboard shortcuts for creating a new issue, typing some garbage, and hitting submit. >_<

[2017-04-19 00:03] ilackarms opened #44646 "Invalid Content-Type text/plain on responses returned from APIServer"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernete

[2017-04-19 00:03] ilackarms commented on #44646
ccing @liggitt

[2017-04-19 00:05] liggitt commented on #44646
I see the text plain content type, but not kubectl errors

[2017-04-19 00:10] fejta opened #44647 "Revisit deleted e2e test jobs to determine whether SIGs want to undelete and fix or disable them"
https://github.com/kubernetes/test-infra/issues/2453

/assign @mtaufen

https://github.com/kubernetes/test-infra/pull/2486
https://github.com/kubernetes/test-infra/pull/2487
https://github.com/kubernetes/test-infra/pull/2489
https://github.com/kubernetes/test-infra/pull/2526
https://github.com/kubernetes/test-infra/pull/2524
https://github.com/kubernetes/test-infra/pull/2525
https://github.com/kub

[2017-04-19 00:22] crassirostris commented on #44454
@everett-toews @voyalab Thanks a lot for your insight! As much as I agree that the current situation is far from perfect and something like ES should be deployed using StatefulSet, I don't think we're going to improve the ES deployment as part of the core k8s repo.

We're moving towards separating ES + fluentd-es away from the core Kubernetes, because Kubernetes itself is not about logs or Elastic

[2017-04-19 00:22] #44454 closed

[2017-04-19 00:22] caesarxuchao commented on #44046
Still trying to figure out a sane fix: https://github.com/kubernetes/kubernetes/pull/44058#issuecomment-292682540

[2017-04-19 00:35] adohe commented on #33766
@bodepd what's your kubernetes version? `kubectl version` can give you such info. In the old version I think we did have such problem.

[2017-04-19 00:56] davidopp commented on #36716
https://docs.google.com/a/google.com/document/d/1-H2hnZap7gQivcSU-9j4ZrJ8wE_WwcfOkTeAGjzUyLA/edit?usp=sharing

[2017-04-19 00:56] davidopp commented on #22212
https://docs.google.com/a/google.com/document/d/1-H2hnZap7gQivcSU-9j4ZrJ8wE_WwcfOkTeAGjzUyLA/edit?usp=sharing

[2017-04-19 01:17] fejta opened #44650 "Nodes not ready / Reboot suite fails at least once a day"
Example failure:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot-release-1.5/6994#k8sio-reboot-disruptive-featurereboot-each-node-by-ordering-clean-reboot-and-ensure-they-function-upon-restart
[code]

Example suite:
https://k8s-testgrid.appspot.com/release-1.6-all#gce-reboot-1.6&width=5&sort-by-failures=

Triage failure cluster:
https://storage.goo

[2017-04-19 01:17] fejta commented on #44650
Note that this is the top failure cluster right now

[2017-04-19 01:54] ilackarms commented on #44646
i was using the wrong version of kubectl. updated to new and i'm not getting an error any longer.

[2017-04-19 02:14] liggitt commented on #44646
Text/plain coming back from the server is still an issue

[2017-04-19 02:17] aespinosa commented on #42735
This is also happening in v1.6.1 using the kubenet network plugin:

[code]

[2017-04-19 02:59] inetfuture opened #44652 "kubelet failed to report some events"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T23:37:30Z", GoVersion:"go1.8", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:

[2017-04-19 03:44] shashidharatd commented on #44631
@madhusudancs, why would we need an admission controller to disallow `federation.kubernetes.io/federation-control-plane=true` on `Cluster` objects? Am i missing something here?
- By default none of the objects will have this label. am i right?
- Even if the label exist on `Cluster` object, how does it matter? `Cluster` objects are supposed only for federation right? They are not propogated to fede

[2017-04-19 04:07] madhusudancs commented on #44631
@shashidharatd  The [cluster selector proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/federation-clusterselector.md) as it stands leaves out this important detail. (Or may be I can't read it, so please point me to it). Selectors on individual objects work, only when there are labels that complement these selectors. These labels are defined on the `Cluste

[2017-04-19 04:14] shashidharatd commented on #44631
Thanks @madhusudancs for clarifying. it is clear to me now.

[2017-04-19 04:26] coffeepac commented on #42718
@crassirostris if possible I would also like to be included.  If too much hassle, no worries.

[2017-04-19 05:12] thockin commented on #24317
On Tue, Apr 18, 2017 at 11:08 AM, Michelle Au <notifications@github.com> wrote:

This implies running volume drivers on the master, which is true for
built-in drivers today, but probably won't be true for CSI-based
drivers, which will have to run in-cluster. :(

[2017-04-19 05:13] nikhiljindal commented on #44160
from @marun

Yes. We will be able to detect what resources and fields are supported by each cluster using its swagger spec.

Am not sure what you mean by kubernetes client "configuring itself" using swagger, but I dont see how can the typed client that we use change its codec or any version conversion logic. Is that what you meant?

[2017-04-19 05:56] hangyan commented on #41736
.......

[2017-04-19 06:17] kartoch commented on #44540
After investigation, it exists several options not documented in help command of `kubectl top`, as described in the source code here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/top_node.go#L53

Maybe add this flags to the help description ?

[2017-04-19 06:18] justinsb opened #44656 "We need an AWS volume stress test"
We have had a lot of reported & real issues with AWS volumes.  We need a stress test so we can have confidence both in the existing code and in any fixes we merge.

@kubernetes/sig-testing-misc is there a GCE test we can adapt?  The ideal end goal in my mind would have a lot of volume operations happening concurrently with disruptive operations (restarting kubelets, kube-controller-managers, nodes

[2017-04-19 06:22] #38901 closed

[2017-04-19 06:41] wanghaoran1988 opened #44657 "[Deployment]When replicas=1 the deployment status is not correct with "progressDeadlineSeconds" fieled setup"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"7+", GitVersion:"v1.7.0-alpha.0.1902+7543bac56342fd", GitCommit:"7543bac56342fddaaadcfe555ad500a19dabf611", GitTreeState:"clean", BuildDate:"2017-04-13T08:50:28Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: ve

[2017-04-19 06:43] wanghaoran1988 commented on #44657
@kargakis @janetkuo

[2017-04-19 06:45] wanghaoran1988 commented on #44657
I am happy working on that, but I need some time to get familiar with the logic.

[2017-04-19 07:18] xiangpengzhao commented on #44603
1.6.1 doesn't support `vm-name` yet, so you got this error:
[code]

But I find that there is no `vm-name` field in your `/etc/kubernetes/cloud-config` file. That's strange. Where did you configure `vm-name`?

Once kubelet gets the error above, it will fail to run.

[2017-04-19 07:22] sdurrheimer commented on #44603
@xiangpengzhao I didn't put the `vm-name` in my example because it was just a try to get around the main issue.

[2017-04-19 07:25] xiangpengzhao commented on #44603
As for the panic, it seems like because the below reason:
The code panics [here](https://github.com/kubernetes/kubernetes/blob/v1.6.1/pkg/cloudprovider/providers/vsphere/vsphere.go#L255):
[code]

The `svm` is from [here](https://github.com/kubernetes/kubernetes/blob/v1.6.1/pkg/cloudprovider/providers/vsphere/vsphere.go#L249):
[code]

Dig into [FindByUuid](https://github.com/kubernetes/kubernetes/b

[2017-04-19 07:29] xiangpengzhao commented on #44603
@sdurrheimer :)

Don't know when and why the Returnval is nil. @BaluDontu may know more about this :)

[2017-04-19 07:48] jsafrane commented on #43300
I am quite late in this discussion, I just have a stupid idea. If we have issues with podAdd event arriving before nodeAdd event, can we add some code to nodeAdd that would list all pods on the node and call podAdd on them? podAdd might be called twice for the same pod and even in parallel (node and pod informer run in separate goroutines and they may process nodeAdd and podAdd at the same time),

[2017-04-19 07:53] pkutishch commented on #44610
@wongma7 many thanks for your reply. Is there any date when you expecting 1.6.2 to be released?

[2017-04-19 07:55] xiangpengzhao commented on #44603
I will give a quick fix to avoid the panic.

[2017-04-19 07:57] ngtuna opened #44660 "Having API doc generated for CRD endpoint"
**Feature request**
I would like to see a way to generate API doc automatically for my CRD endpoint (example.k8s.io), then I can easily develop my app to interact with it.

**Kubernetes version** (use `kubectl version`):
v1.6.0

**Environment**:
minikube

**What happened**:
There is a `swagger.json` for k8s api doc out there but no support for cd endpoints

**What you expected to happen**:
If we c

[2017-04-19 07:59] Yancey1989 commented on #44552
Thanks all,  it looks like implement the downward API until the API  finished is justified.

[2017-04-19 08:00] ReSearchITEng commented on #43856
@rootsongjc - instead of changing the docker service file to fit kubelet, ain't better to fix the kubelet?

FYI, for a fully working k8s 1.6.1 with flannel, one may take/look at the kubeadm ansible playbooks.
Tested on Centos/RHEL. Preparations started for Debian based also (e.g. Ubuntu), but there might needs some refining.

https://github.com/ReSearchITEng/kubeadm-playbook/blob/master/README.md

[2017-04-19 08:01] xiangpengzhao commented on #44552
Agreed.

[2017-04-19 08:07] gmarek commented on #44613
I'm very far from networking expert, but doesn't IPVS lack of D/SNAT make it harder for us?

[2017-04-19 08:20] kargakis commented on #44657
You use a maxUnavailable value that allows the deployment full unavailability, that's why the status says that it's successful.

[2017-04-19 08:33] kargakis commented on #41898
We didn't fix https://github.com/kubernetes/kubernetes/issues/41898#issuecomment-294260542

[2017-04-19 08:39] wanghaoran1988 commented on #44657
@kargakis  Progressing condition is always True
[code]

[2017-04-19 08:44] kargakis commented on #44657
That's because you are not requiring any pod to be available during the upgrade. This works as designed but we may want to revisit.

[2017-04-19 08:47] wanghaoran1988 commented on #44657
Yes, as you said, I am not requiring any pod to be available, but if the upgrade failed within the `progressDeadlineSeconds`, we need fail the upgrade, right?

[2017-04-19 08:49] #43986 closed

[2017-04-19 08:51] kargakis commented on #44657
We don't fail upgrades in Deployments.

[2017-04-19 09:14] kargakis commented on #44657
Also the upgrade didn't fail since you are not requiring any availability.

[2017-04-19 09:14] jsravn commented on #43300
@jsafrane I'm a bit sad to see #42033 got merged into master. Anyways, I realised my approach of simply waiting for node informer to sync in processPods still has a race, you really do need the work queues. Not sure if @gnufied got a chance to do this, otherwise I'll probably whip up a PR shortly for it.

[2017-04-19 09:15] csarora opened #44662 "kubectl exec fails on v1.6.1 to any pod"
OS: Centos 7
Vsphere

Kubeadm init --kubernetes-version v1.6.1 successful
sudo cp /etc/kubernetes/admin.conf $HOME/
sudo chown $(id -u):$(id -g) $HOME/admin.conf
export KUBECONFIG=$HOME/admin.conf

But kubectl exec errors out due to below error, please help

[code]

[2017-04-19 09:18] opsnull commented on #21070
I like this idea and hope to be implemented.

[2017-04-19 09:23] kargakis commented on #43964
Closing in favor of https://github.com/kubernetes/kubernetes/issues/30243 as it seems that it will address the main concern both @spxtr and @mtanski have.

@mtanski this is an open source project, you can help improve things.

[2017-04-19 09:23] #43964 closed

[2017-04-19 09:30] piosz commented on #8001
cc @crassirostris

[2017-04-19 09:32] dragoschiplink opened #44663 "1.6.1 setup on baremetal using rkt"
Hello,

Is there an example of running v1.6.1 on a baremetal Container Linux cluster using rkt as a runtime?

coreos-kubernetes is not updated :(

Is there any flags to setup for 1.6.1?

Regards.

Dragos

[2017-04-19 09:35] wanghaoran1988 commented on #44657
@kargakis Thanks for your patient explain, will close this,not a bug.

[2017-04-19 09:36] #44558 closed

[2017-04-19 09:46] #44657 closed

[2017-04-19 09:56] rootsongjc commented on #43856
@ReSearchITEng I have no further good solution by now. Two method works:
- Reboot
- delete the `--native.cgroupdriver=systemd` in your **docker.service** file
Maybe you can try this as @youngdev  mentioned above
[code]

[2017-04-19 10:17] piosz commented on #44581
@erikgrinaker thanks for reporting. I'll take a look.

cc @roberthbailey @fabioy @crassirostris @jlowdermilk

[2017-04-19 10:21] adohe commented on #44662
@csarora could you please use `kubectl exec --v=9` to provide more info?

[2017-04-19 10:23] gaocegege opened #44664 "Migrate from github.com/docker/engine-api to github.com/docker/api"
**FEATURE REQUEST**

https://github.com/docker/engine-api/ has been deprecated 7 months ago, could we migrate to https://github.com/moby/moby/tree/master/api/types?

**What you expected to happen**:

Replace dockertypes and other imports from github.com/docker/engine-api to github.com/docker/api

[2017-04-19 10:26] #44032 closed

[2017-04-19 10:30] adohe commented on #44335
/assign @adohe

[2017-04-19 10:32] adohe commented on #44335
this would be not correct, taint != labels.

[2017-04-19 10:42] fedya opened #44665 "1.6.1 The connection to the server localhost:8080 was refused"
**Kubernetes version v1.6.1**

**Environment**:
- **arm64 cavium thunder x**:
- **Ubuntu 16.04.2 LTS**
- **4.4.0-72-generic**

**What happened**:
init kubernetes with
`kubeadm init --kubernetes-version=v1.6.1 --pod-network-cidr=10.244.0.0/16
`than tried
`kubectl taint nodes --all  node-role.kubernetes.io/master-
`and got this
`The connection to the server localhost:8080 was refused - did you speci

[2017-04-19 10:47] gaocegege commented on #3949
Hi, I'm interested in pod live migration.

Is there any progress? Docker has built-in C/R operations in experimental mode, could we develop a feature based on that?

[2017-04-19 10:49] csarora commented on #44662
`[root@dotricorder04-master-01 ~]# kubectl exec --v=9 -it zookeeper-0 /bin/bash
I0419 10:34:12.159282   11953 loader.go:354] Config loaded from file /etc/kubernetes/admin.conf
I0419 10:34:12.160868   11953 cached_discovery.go:118] returning cached discovery info from /root/.kube/cache/discovery/172.22.16.69_6443/servergroups.json
I0419 10:34:12.161336   11953 round_trippers.go:398] curl -k -v -XGE

[2017-04-19 10:54] csarora commented on #44665
did you run below commands after kubeadm init

To start using your cluster, you need to run (as a regular user):

  sudo cp /etc/kubernetes/admin.conf $HOME/
  sudo chown $(id -u):$(id -g) $HOME/admin.conf
  export KUBECONFIG=$HOME/admin.conf

[2017-04-19 11:03] #44665 closed

[2017-04-19 11:13] fedya commented on #43567
Same for 1.6.1

[code]

[2017-04-19 11:14] crassirostris commented on #8001
@nehayward Could you please create an issue against https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter with the detailed description of your problem?

I'm closing this, in favor of https://github.com/kubernetes/kubernetes/issues/42718, because working on the logging solution per se is going to be out of the scope of core Kubernetes.

[2017-04-19 11:14] #8001 closed

[2017-04-19 11:15] gytisgreitai commented on #22721
Same here,
- created ip address with `gcloud compute addresses create vpn --global` and it did not work
- create ip address with `gcloud compute addresses vpn`, selected region and it worked

[2017-04-19 11:15] fedya commented on #43567
When i copied 10-flannel.conf from working deployment i got this

`Plugin cni failed on the status hook for pod "kube-dns-2286869516-hd2lg_kube-system": Unexpected command output nsenter: cannot open : No such file or director`

[2017-04-19 11:30] nikhita commented on #24383
The link has been removed from `README.md`. Media is gone as per: https://github.com/kubernetes/kubernetes.github.io/issues/17#issuecomment-189065253

This issue can be closed now.

[2017-04-19 11:31] prateek2408 commented on #5607
@tobegit3hub  - I will look into CDI and see how it can fit it my use-case, Thanks

[2017-04-19 11:38] strugglingyouth opened #44670 "etcdctl v3: k8s changes its internal format to proto, and the etcdctl result is unreadable."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**BUG REPORT**

**Kube

[2017-04-19 11:46] nikhita commented on #24373
ping: we can close this now.

Links are fixed with this PR: https://github.com/kubernetes/kubernetes/pull/39064

[2017-04-19 11:48] fieryvova commented on #44046
I've encountered the same issue. My pods are still running even though I deleted the deployment.

[2017-04-19 12:28] shyamjvs commented on #44003
@gmarek is working on it now.

[2017-04-19 13:12] henriquetruta commented on #36921
Executed this here with a 1.5.6 federated cluster in GKE, added a local cluster with `kubectl create -f cluster_file`, deleted it, and then recreated it with another IP. It worked as expected. It was looking for the new IP, instead of the old one. @saturnism did I do something wrong?

[2017-04-19 13:32] philidem commented on #11488
It looks like support for `kubectl --dry-run` has been added. I think this issue can be closed.

[2017-04-19 13:36] SteveMaddison commented on #43471
Thanks for looking into it, @divyenpatel - we have it working on 5.5. now too. I suspect applying the role globally might be considered too permissive for our production environment but this is fine for the test cluster we're working on right now. Now we have it working we can try a few tweaks to tighten the permissions up a bit. Will report back if we have anything newsworthy.

[2017-04-19 13:40] Tonyzhangl commented on #42319
@mootezbessifi  i also met the problem, mabe you can refer to the comments in [http://stackoverflow.com/questions/42525968/kube-dns-can-not-resolve-kubernetes-default-svc-cluster-local](url)

[2017-04-19 13:40] kargakis commented on #11488
We still need to make `dry-run` touch the server, or at least decide that we don't want to.

[2017-04-19 13:46] divyenpatel commented on #43471
@SteveMaddison We will consult vSphere security expert regarding this

cc: @tusharnt @pdhamdhere @BaluDontu @luomiao

[2017-04-19 13:48] gnufied commented on #43300
@jsravn If you don't beat me to it, I will open a PR today that fixes this issue properly. I am sorry, I have been caught in bunch of other things.

And yeah - #42033 is not a proper fix. The current situation is bad. For example, the other day I was running some tests and every single pod was getting skipped on controller restart - https://gist.github.com/gnufied/93135976373857e27fe14619f8e4ca7d

[2017-04-19 13:53] coulix commented on #40224
I still have the issue on 1.6.2

[2017-04-19 13:56] ncdc commented on #44670
You could try adapting https://github.com/openshift/origin/blob/master/tools/etcdhelper/etcdhelper.go to work for you (i.e. remove the OpenShift imports).

[2017-04-19 14:01] thockin commented on #3949
We have not done any real work in this area.  It is somewhat counter to
Kubernetes designs, and would be a little tricky to manage with regards to
life cycle in our API

On Apr 19, 2017 5:48 AM, "Ce Gao" <notifications@github.com> wrote:

[2017-04-19 14:13] kargakis commented on #40224
@kubernetes/sig-cli-bugs @kubernetes/sig-api-machinery-bugs either fix watch.Until or remove

[2017-04-19 14:16] timothysc commented on #36716
@davidopp could we enqueue this for the next sig discussion please.

[2017-04-19 14:21] piosz commented on #44581
cc @fgrzadkowski

[2017-04-19 14:27] xiangpengzhao commented on #44652
Do you configure correct parameters of readiness probe for the pod? Seems like the ip is not right.

[2017-04-19 15:02] santinoncs commented on #38336
Hi, anyone knows if GKE upgrade is doing a “kubectl drain” ?

According to its documentation, GKE upgrade uses "kubectl drain" before upgrading an specific node.

But I got a 3 node GKE cluster and  a cluster of consul ( 3 pods ) and the consensus was lost, looking for the logs it seems that it halt 2 pods at the same time not respecting the minAvailable parameter of the PodDisruptionBudget resour

[2017-04-19 15:07] jsravn commented on #43300
Spending more time on it, I don't really get the point of the desired_state_of_world_populator.go . I feel like this populator should be removed and we just reduce the informer resync period if we want to refresh occasionally.

I've attempted to do @jsafrane's solution - it is probably the simplest approach. The queue approach would need heavier modification, e.g. would need to store state of all

[2017-04-19 15:13] idvoretskyi commented on #43909
cc @kubernetes/sig-openstack-bugs

[2017-04-19 15:15] vishh commented on #5607
GPUs are planned to be exposed as a first class resource. Accessing
arbitrary host device is different from accessing well known devices like
NICs or GPUs. We are aiming for having the kubelet discover non-standard
host devices based on an internal API and have these devices be exposed as
schedulable resources.
The specifics of this design is yet to be finalized.

@tobegit3hub <https://github.com/

[2017-04-19 15:23] kargakis commented on #43300
I had a look into the attach/dettach controller and I was wondering why this is missing

[2017-04-19 15:23] drora commented on #24862
@justinsb any news on that?

[2017-04-19 15:23] #40787 closed

[2017-04-19 15:31] wongma7 commented on #43300
regarding desired_state_of_world_populator.go, I did some digging a while ago and it was because a flake was encountered where pod delete events were getting missed. There's no notion of "resyncing" delete events so it was added. Let me find the exact issue.

#42033 copied the pattern of "double checking" deletes to double checking adds/updates. I did bring up changing the resync period as an alte

[2017-04-19 15:37] jsravn commented on #43300
I just opened #44675 which does the relist of pods on a managed node being added. That handles the case of controller restart as well as nodes being dynamically added. I think this will be easy to cherry pick for 1.5. I started working on the queue side but it's quite a bit more involved. Happy to do that instead or let @gnufied  if the relist isn't seen as a good solution.

@wongma7 makes sense.

[2017-04-19 15:45] wongma7 commented on #44610
@pkutishch oops I read it wrong...that's just the cut, it could be anywhere from today to two weeks from today :(

[2017-04-19 16:09] mtanski commented on #43964
@kargakis I did take a look at it again, in order to fix it. But it looks like it's fixed ... at least documented that restartPolicy applies to the pod and not the Job.

[2017-04-19 16:22] phutchins commented on #30427
This would be extremely helpful for me as well. I have the need to reach the pods in a statefulset by a unique address and this would allow me to create a selector based on their ordinalIndex. There are a few additional features that would be useful in making this happen also of course...

[2017-04-19 16:44] dchen1107 commented on #44662
cc/ @timstclair

[2017-04-19 16:56] justinsb commented on #38336
FYI kops has drain support behind a feature flag, and we do GCE behind a feature flag.  I'm not sure whether we do drain on GCE though.  We use the drain, delete instance, wait for readiness approach.

[2017-04-19 17:07] ncdc commented on #44662
@csarora are there any errors in either the apiserver or kubelet logs around the time you issued the exec?

[2017-04-19 17:14] santinoncs commented on #38336
The drain execution honors the PodDisruptionBudget. I test it. But the upgrade does not seem to.

Scenario:

- GKE 3-node ( A,B,C ) cluster version 1.5.6
- statefulSet of consul ( of 3 pods, consul.0/consul.1/consul.2 )
https://github.com/kelseyhightower/consul-on-kubernetes
- node A with
   - pod consul.0 and consul.2
- node B with
   - pod consul.1
- node C with
   - none

Steps to nodes upgrade

[2017-04-19 17:15] csarora commented on #44662
[root@dotricorder03-master-01 ~]# kubelet logs
I0419 17:01:12.909410   15460 feature_gate.go:144] feature gates: map[]
W0419 17:01:12.910191   15460 server.go:469] No API client: no api servers specified
I0419 17:01:12.910232   15460 docker.go:364] Connecting to docker on unix:///var/run/docker.sock
I0419 17:01:12.910252   15460 docker.go:384] Start docker client with request timeout=2m0s
I0419 17

[2017-04-19 17:18] csarora commented on #44662
Actually everything is getting created successfully only exec is giving this error, is it something to do with port or reaching api?? firewall is disabled so i am not sure whats causing this exec to fail

NAMESPACE     NAME                                              READY     STATUS    RESTARTS   AGE
default       kafka-0                                           1/1       Running   0          1

[2017-04-19 17:19] ncdc commented on #44662
The kubelet logs you pasted were incorrect - you need to get the actual logs, not the output from running `kubelet logs`. Look in /var/log or the journal.

[2017-04-19 17:20] schasse commented on #34982
We're using a workaround as well:

[code]

[2017-04-19 17:27] msau42 commented on #24317
For CSI, it could be possible to have a generic pod spec -> volume count function.  Assuming the CSI volume is similar to Flex, the volume will still have the driver name, so then the resource name just has to match the driver name.

[2017-04-19 17:30] jbeda commented on #44420
staging and api should be easy to find owners for.

@bburns may have ideas for translations.

The big one is Godeps, third_party, vendor.  Those are just grunt work.  And figuring out criteria for approving is hard as they are a lot of code and it is unclear that things are tested well or automatically.  (I'm thinking things like libraries for accessing cloud APIs).

Having a dedicated team/proces

[2017-04-19 17:30] csarora commented on #44662
API Server logs attached

2017-04-19T16:42:48.479520498Z E0419 16:42:48.479340       1 reflector.go:201] k8s.io/kubernetes/pkg/client/informers/informers_generated/internalversion/factory.go:70: Failed to list *rbac.RoleBinding: **Get https://localhost:6443/apis/rbac.authorization.k8s.io/v1beta1/rolebindings?resourceVersion=0: dial tcp 127.0.0.1:6443: getsockopt: connection refused**
2017-04-19T16

[2017-04-19 17:33] ncdc commented on #44662
Either your apiserver loglevel is very low or you didn't capture everything - there's not really anything in there. How about the kubelet?

[2017-04-19 17:33] freehan commented on #42735
Is there other symptoms besides the log? Like lost of pod IP or some sort?

IIUC, pod deletion and status check run in seperate go routines. If a pod sandbox just got stopped and status check happened right after that. Status check might failed with this log.

[2017-04-19 17:35] rikatz commented on #31424
:+1:

[2017-04-19 17:38] csarora commented on #44662
Unable to find any logs for kubelet under /var/log/.....is there any other place to look for?

[2017-04-19 17:41] ncdc commented on #44662
I am not familiar with how kubeadm sets things up. How is the kubelet running? Does `sudo systemctl list-units | grep kubelet` yield anything? If so, try `sudo journalctl -u kubelet`.

[2017-04-19 17:45] csarora commented on #44662
root@dotricorder03-master-01 containers]# sudo journalctl -u kubelet
-- Logs begin at Wed 2017-04-19 16:34:49 UTC, end at Wed 2017-04-19 17:30:19 UTC. --
...
Apr 19 16:39:01 dotricorder03-master-01 kubelet[4556]: I0419 16:39:01.293619    4556 feature_gate.go:144] feature gates: map[]
Apr 19 16:39:01 dotricorder03-master-01 kubelet[4556]: error: failed to run Kubelet: invalid kubeconfig: stat /etc/

[2017-04-19 17:46] ncdc commented on #44662
@csarora please attach the full output, either here or as a gist or to fpaste.org etc.

[2017-04-19 17:50] divyenpatel commented on #43319
@childsb we have the fix for the issue you have reported.
you have mentioned "The other provisioners allow a number only size for provisioning and assumes a default (usually gigs)"

Can you list provisioners which allows number only provisioning. We need this information on the PR - https://github.com/kubernetes/kubernetes/pull/44611

[2017-04-19 17:51] aespinosa commented on #42735
@freehan I see Pod's IPs still being available.  I can run `kubectl port-forward` on them with no problem.

The problem i'm encountering is that I get 503s when accessing http services through the apiserver's proxy endpoints.

[2017-04-19 17:57] fejta commented on #44411
What do you think about disabling the GCEPD tests in the affected suites:

https://github.com/kubernetes/test-infra/blob/master/jobs/ci-kubernetes-e2e-non-cri-gke-multizone.env
https://github.com/kubernetes/test-infra/blob/master/jobs/ci-kubernetes-e2e-gci-gke-multizone.env
https://github.com/kubernetes/test-infra/blob/master/jobs/ci-kubernetes-e2e-gke-multizone.env

[2017-04-19 17:59] gytisgreitai opened #44676 "initContainer - image not updated?"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?**

- initContainers

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** :

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE

**What happened**:

Initial template `b2b.yaml`:
[code]

after doing `kubectl -n dev ap

[2017-04-19 18:00] csarora commented on #44662
Attached file
[kubelet-logs.txt](https://github.com/kubernetes/kubernetes/files/936932/kubelet-logs.txt)

[2017-04-19 18:04] msau42 commented on #44411
Temporary disabling them here: kubernetes/test-infra#2530

[2017-04-19 18:05] urzds commented on #5607
@vishh Some questions regarding your proposal:
* What is the reasoning behind using an internal API instead of calling out to an external one?
  - In case it is not clear from my proposal: I except an external API to be much better extensible and thus more flexible, especially with regards to additional capabilities of hardware.
* How do you plan to support e.g. PCIe SR-IOV capabilities using this

[2017-04-19 18:17] jchauncey commented on #43977
So I notice this happens when I upgrade a deployment that moves the pod to another node. I can pretty much recreate it at will now. Is the solution to wait 5 minutes before allowing a pod to be created after it was deleted?

[2017-04-19 18:28] freehan commented on #42735
do you see this log a lot? or during rolling update?
do you encounter 503s during rolling update? or regularly?

[2017-04-19 18:28] ncdc commented on #44662
The logs go from 16:38:15 to 17:39:12 UTC and they also appear to have some lines cut off. I don't see anything related to exec, but it's hard to tell because I'm not sure what time you ran exec, and the line cutoff issue. Could you please try this again and:

1) Make a note of the time you attempt `kubectl exec`. Feel free to try it a few times.
2) Get the logs from the apiserver and the kubelet

[2017-04-19 18:52] donspaulding commented on #43430
I think the smallest repro case I've seen so far is the one @r2d4 put together in [this comment on minikube issue #1252](https://github.com/kubernetes/minikube/issues/1252#issuecomment-295370860).

[2017-04-19 19:23] arthur0 commented on #42618
Hello @mawentao02, I used a version 1.6.1 and I created a fully on-premise federation.
However, I'm not sure about version 1.6.0-alpha.1
I made a simple tutorial to set up it: https://github.com/arthur0/k8s-on-premise-federation
You can follow the official tutorial too, https://kubernetes.io/docs/tutorials/federation/set-up-cluster-federation-kubefed/, it is more descriptive and covers more use co

[2017-04-19 19:40] mengqiy commented on #44589
@mbohlool We should come up with a TODO list of replacing usages of swagger with openAPI.

[2017-04-19 19:46] mengqiy commented on #41898
The change mentioned in https://github.com/kubernetes/kubernetes/issues/41898#issuecomment-294260542 was introduced in 1.6.
The change covers describer and kubectl e2e test.
After discussing with @pwittrock, we think we are not going to backport the changes to 1.4 and 1.5, instead we are going to skip the tests in version skew cases.

[2017-04-19 19:51] smarterclayton commented on #44420
I'll open some proposals for staging and API.

[2017-04-19 19:52] aespinosa commented on #42735
I see this line a lot regularly. I'm not even using rolling updates.  I just have plain ReplicaSets / ReplicationControllers made. And since there's this kubenet failure, pods are being restarted by the RS/RC.

[2017-04-19 20:01] marun commented on #44160
@nikhiljindal

That's what I was asking, yes.  It would seem useful for the client to avoid hard-coding conversion logic and being able to configure itself to work with any given server by consuming swagger.

[2017-04-19 20:08] fejta opened #44683 "non-cri kubelet suite fails to launch nodes"
Triage failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html#d5276d7aa136b62f6d24

Testgrid history: https://k8s-testgrid.appspot.com/google-node#kubelet-non-cri-gce-e2e

Node owners:
/assign @derekwaynecarr @dchen1107

[2017-04-19 20:21] fejta opened #44684 "GKE 1.5->1.6 upgrades fail basic StatefulSet functionality"
Triage cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html#8f880cf0e42bc2e51142

Example testgrid dashboard: https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gke-container_vm-1.5-container_vm-1.6-upgrade-master&width=20&sort-by-failures=

Test owner: [undefined](https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.csv)
Sig owner: [undefined](https://g

[2017-04-19 20:23] pwittrock commented on #29472
After syncing up offline, this makes sense to me and is complementary with the using the approach described [here](https://github.com/kubernetes/community/pull/308) as a fallback.

[2017-04-19 20:30] #44411 closed

[2017-04-19 20:32] mikedanese commented on #44243
Two should be fixed. The two prerelease test will continue to fail until 1.7.0-alpha.2.

[2017-04-19 20:43] jlz27 opened #44686 "handle multiple internal IPs from aws cloud provider"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

- failed to get node address from cloud provider that matches ip
- aws cloud provider multiple ip

---

**Kubernetes version**
1.5.2

**Feature Request**

Hi, I am trying configure a cluster on AWS where my kubelets are running on EC2 instances with mu

[2017-04-19 20:54] MrHohn commented on #44225
Update: Bump up pod deletion time seems have reduced a big portion of failures.
The remaining cases doesn't seems to be related to this test itself.
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=source%20pod%20ip

[2017-04-19 20:56] Random-Liu commented on #44664
Ref https://github.com/kubernetes/kubernetes/issues/34308.

[2017-04-19 21:24] jchauncey commented on #19953
So I am also seeing this issue with a 1.5 cluster

[2017-04-19 21:29] gnufied commented on #44656
/assign @gnufied

[2017-04-19 21:38] z1nkum commented on #44377
I've the same issue (and exact the same confiuration similar to https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/nfs)

Change image to gcr.io/google_containers/volume-nfs:0.8 and path to /  - does not help

Looks like "consumer-containers" (nfs-clients) works fine only if they spawn on the same node as the firs successful mount happend:

In my case I have two-nodes cluster, 1

[2017-04-19 21:38] copejon commented on #44656
As a starting point, I would recommend looking through https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/ for adaptable tests.  For kubelet restarts specifically,
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/persistent_volumes-disruptive.go
might be a useful template.

Some of these suites have been written with GCE in mind but `e2e/framework/` might ha

[2017-04-19 21:38] copejon commented on #44656
cc @jeffvance

[2017-04-19 21:48] bowei commented on #44410
@justinsb @kubernetes/sig-aws-misc -- could someone with more AWS experience take a look at the failure "Services should only allow access from service loadbalancer source ranges in kops-aws-slow example" to see if this is a generic failure or one specific to the environment?

[2017-04-19 22:00] jlz27 commented on #44686
sample proposed fix: https://github.com/jlz27/kubernetes/pull/1/files

[2017-04-19 22:10] verult commented on #44573
Assigned to @verult

[2017-04-19 22:12] msau42 commented on #44573
/assign @verult

[2017-04-19 22:13] dchen1107 commented on #44683
It is a regression introduced yesterday. I am looking into it.

[2017-04-19 22:15] nergdron commented on #26299
+1 on the docs request, it wasn't obvious from me what the syntax needed to look like to make this work, or even that the functionality was there, until a google search turned up this ticket. Should at least have a simple example.

[2017-04-19 22:18] kargakis commented on #21227
Supported by `kubectl attach` in https://github.com/kubernetes/kubernetes/pull/40365

[2017-04-19 22:20] dchen1107 commented on #44683
From kubelet log:
[code]

The node is notready because the path of CNI plugin / kubenet is changed lately?

[2017-04-19 22:22] kargakis commented on #36868
@bgrant0607 do you think there is anything that needs to be done here for Deployments?

[2017-04-19 22:25] philips commented on #11816
cc @fabxc @ericchiang

[2017-04-19 22:28] dcbw commented on #44410
I did try to look into this, but couldn't get very far.  The AWS LoadBalancer gets created:

`I0412 18:20:14.492568       5 aws.go:2776] Loadbalancer aaaf457fe1fac11e7a92706ccb8c2b1b (e2e-tests-services-6c18d/lb-sourcerange) has DNS name aaaf457fe1fac11e7a92706ccb8c2b1b-1987870637.us-west-2.elb.amazonaws.com`

but the jenkins job starts calling wget at `11:22:34.325` and checks 62 times in the nex

[2017-04-19 22:30] kargakis commented on #43846
Related issues: https://github.com/kubernetes/kubernetes/issues/33041 https://github.com/kubernetes/kubernetes/issues/2529

[2017-04-19 22:34] dchen1107 commented on #44683
@dnardo I believe your pr https://github.com/kubernetes/kubernetes/pull/44457 causing the regression for non-cri node-e2e here.

cc/ @kubernetes/sig-network-bugs

[2017-04-19 22:37] bowei commented on #44683
/assign @bowei

[2017-04-19 22:37] bowei commented on #44683
/assign @dnardo

[2017-04-19 22:38] dchen1107 commented on #44650
On it now...

[2017-04-19 22:47] mbohlool commented on #43250
do all kinds types gvk? I think the API convention forces `Kind` to be part of a `Group/Version` to form a `gvk`, but not all types are `Kind`.

[2017-04-19 22:50] divyenpatel commented on #44603
@xiangpengzhao

if vmuuid is not specified in the config file, we retrieve the vm uuid at https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/vsphere/vsphere.go#L231

we have observed with ubuntu 16.04 incorrect uuid is present in /sys/devices/virtual/dmi/id/product_uuid
with incorrect uuid, you may not be getting VM ref. Is it the issue?

can you verify VM UUID using

[2017-04-19 22:53] Random-Liu commented on #44683
I think the reason is that, for cri integration, we use `CNIBinDir` first for kubenet:
https://github.com/kubernetes/kubernetes/blob/b0a05b4597f7401a83f82348c5b353844fe13fd3/pkg/kubelet/kubelet.go#L533
But for non-cri integration, we are still using NetworkPluginDir
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/test_context.go#L128

[2017-04-19 22:56] dchen1107 commented on #44650
Quickly triaging several failures, and looks like all of them are caused by NetworkPlugin notready.

[code]

[2017-04-19 22:56] mbohlool commented on #43717
Aggregator API server knows what Group/Version each of the aggregated servers serve, so it should be able to filter only those from the OpenAPI spec of the aggregated servers.

[2017-04-19 22:57] BaluDontu commented on #44603
Since you are retrieving incorrect UUID, for the FindByUUID method if no managed entities corresponding to the vm-uuid is found, null is returned. #44661 addresses this fix.

However to overcome the problem, you can specify the correct vm-uuid in the vsphere.conf and it will read the vm reference form this UUID and it will all work fine.

[2017-04-19 22:57] mbohlool commented on #42841
Discussion about aggregation can be continued in #43717. Keeping this issue for API discovery problem.

[2017-04-19 22:57] ahmetb opened #44690 ""make test" causes incoming network connections prompts on macOS"
I am using Mac OS X 10.12.4 Sierra and when I run `make test` on master, I get these network prompts (Firewall:On):

This does not interrupt the tests as they keep succeeding even when you _Deny_.

As far as I know, this happens when an application starts listening for connections on all interfaces instead of a particular interface or localhost (127.0.0.1).

[2017-04-19 23:05] felipejfc commented on #24862
the problem here is that the ELK stack that comes up with the cluster is clearly not suitable for high production loads... My solution for that was to point fluentd to another elasticsearch outside of k8s cluster

[2017-04-19 23:06] bgrant0607 commented on #2770
Of historical interest:
https://github.com/kubernetes/kubernetes/pull/2003/files

[2017-04-19 23:06] bgrant0607 commented on #2770
Merged:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cloud-provider-refactoring.md

[2017-04-19 23:10] mbohlool commented on #22405
@jimmidyson @iocanel  We have an approved [new clients libraries process](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/csi-new-client-library-procedure.md) and also [structure for clients](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/csi-client-structure-proposal.md). I really like the idea of compatible clients and would li

[2017-04-19 23:12] cjyar commented on #33245
Seeing this problem with 1.6.1.

I created the calico-node ds, it was misconfigured, so I deleted it. All the pods were terminated, but the ds won't go away. I've tried --now and --force, but kubectl won't delete the ds. The node selector has been updated to randomUUID=randomUUID.

[2017-04-19 23:15] mbohlool commented on #44589
@mengqiy sounds great. I am not familiar with kubectl code. Can you list all usage of old swagger in kubectl here? A link to packages would be enough but a link to actual usages (or samples of usages in those packages) would be much better. We can then create a list of tasks for it.

[2017-04-19 23:17] dnardo commented on #44683
Yuck, sorry I'm looking at it.

[2017-04-19 23:24] janetkuo commented on #33245
@cjyar just to be clear, when you say the pods were terminated, you mean that you didn't see them from `kubectl get pods` anymore, correct?

[2017-04-19 23:55] janetkuo commented on #33245
I'm unable to reproduce it, so just brainstorming some possible causes.

If DaemonSet deletion timeout and...
1. if DaemonSet's `.spec.template.spec.nodeSelector` isn't updated to randomUUID=randomUUID: it's something to do with `kubectl delete`
1. else if at least one of its pods is still `Running`: it's something to do with DaemonSet controller
1. else if at least one of its pod is `Terminating`

[2017-04-20 00:29] gaocegege commented on #44664
Sorry for the dup :(

[2017-04-20 00:29] #44664 closed

[2017-04-20 00:31] andrewmclagan commented on #26299
Yeah generally with k8 I have found more usful information in github issues then the docs :-/

Saying that I guess is a side-effect of of such a fast paced project :-)

[2017-04-20 01:06] xuchenhao001 opened #44694 "kubeadm must pull from the gcr?"
**Is this a request for help?**
Yes

**What keywords did you search in Kubernetes issues before filing this one?**
`kubeadm init`, Created API client,

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

There is a limitation in China. We cannot access gcr.io, but nether kubeadm nor Minikube cannot deploy locally.
I have loaded all required images into docker (after do

[2017-04-20 01:07] xiangpengzhao commented on #44603
@divyenpatel @BaluDontu Thanks for explanation! @sdurrheimer Could you please verify this on your env?

Since no managed entity is found in this case, should we return error here? So that `getVMName` can catch the error. @BaluDontu

[code]

[2017-04-20 01:22] chrislovecnm commented on #44410
cc @zmerlynn and @justinsb any ideas on the dns stuff? I have seen that odd error before when dns is misconfigured, but it may be something else.  I do not know the specifics of the Jenkins machine setup, only that this URL is a full public resolvable URL.  Please reach out if you need assistance debugging.

[2017-04-20 01:30] lihan commented on #43126
https://github.com/kubernetes/kubectl/issues/3

[2017-04-20 01:45] justinsb commented on #44410
The "bad address" means DNS resolution failed.

When an ELB is created, the DNS name is known, but it might not resolve for a few minutes.  So the test should wait for a few minutes, at least on AWS.  It looks like we wait 2 minutes, which feels very tight to the time I expect it to take.  Going to check if something changed recently in our tests.

[2017-04-20 01:52] #44603 closed

[2017-04-20 02:07] justinsb opened #44695 "Timeout waiting for the condition during loadbalancer"
Sub-issue for #44410

For AWS ELB, when an ELB is first created, is made it is very normal that it takes > 2 minutes to be created, but the DNS name is reported fairly quickly.

[2017-04-20 02:09] gnufied commented on #43300
@saad-ali is there any reason we can't reduce resync period now? Most other controllers have switched to 30s default resync periods...

[2017-04-20 02:15] justinsb commented on #44410
Broke out #44965 for LB timeout, hopefully fixed (apply correct timeout) by #44696

[2017-04-20 03:27] bshi opened #44697 "init-containers with resource requests/limits fail to schedule with "oci runtime error: failed to write NNN to cpu.cfs_quota_us""
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* `Init:rpc error: code = 2`
* `failed to write to cpu.cfs_quota_us`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware co

[2017-04-20 03:55] anguslees commented on #43909
Hrm, you make a good point that `getPortByIP` doesn't filter by network.  I predict we also have a bug in the other uses of this function: updating `AllowedAddressPairs` in `openstack_routes.go`.

Your fix to the LB code lgtm, I'll approve that now - I'd like to keep this issue open to fix openstack_routes.go too (iow: remove `getPortByIP` entirely - or change it so it can be used correctly)

[2017-04-20 03:57] xiangpengzhao opened #44698 "kubectl get rc foo -o json doesn't show it's conditions"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):replication controller condition

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choo

[2017-04-20 04:21] olalonde commented on #19113
It seems docker no longer stores credentials directly in `.docker/config.json`? Mine is simply:

[code]

Opened an issue here: https://github.com/moby/moby/issues/32733

[2017-04-20 05:15] xiangpengzhao commented on #44698
We may need to print conditions in [printReplicationController](https://github.com/kubernetes/kubernetes/blob/master/pkg/printers/internalversion/printers.go#L434) first. Will dig into further and try to fix it.

[2017-04-20 05:39] thockin commented on #44420
Godep in particular needs to be watched for things like licenses, which I have mostly been doing.

[2017-04-20 06:14] k8s-merge-robot opened #44699 "ci-kubernetes-e2e-gci-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-test/1817/
Multiple broken tests:

Failed: [k8s.io] EmptyDir volumes volume on default medium should have the correct mode [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] ConfigMap should be consumable from pods in volume with mappings and Item mode set[Conformance] {Kubernetes e2e suite}

[co

[2017-04-20 06:44] strugglingyouth commented on #44670
@ncdc

Is there any other command line tool? Or this problem will be solved in which version of k8s？

[2017-04-20 06:47] sdurrheimer commented on #44603
@divyenpatel oh yes, thanks for the information, that was totally the issue.

[2017-04-20 07:09] gmarek opened #44701 "Understand why resource usage of master components is noticeably different in Kubemark"
We see pretty big discrepancy between what we see in kubemark clusters and real ones. It needs to be understood. Difference is mostly in the API server usage.

E.g. 99 percentile in kubemark (both results from after Density, which is run as a first test):
[code]
and real cluster:
[code]

@wojtek-t @shyamjvs @kubernetes/sig-scalability-misc

[2017-04-20 07:14] dunjut opened #44702 "kubelet reports wrong IP address"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:44:38Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c2

[2017-04-20 07:18] xilabao opened #44703 "support label selector in RBAC"
I found the pull request in Openshift (https://github.com/openshift/origin/pull/8610 by @deads2k ).  I think it could be very useful If kubernetes can support it.

/cc @deads2k @liggitt @smarterclayton @pweil- @kargakis

[2017-04-20 07:19] mnnit-geek commented on #33729
I'm also facing the same problem
Centos 7.3
~ # ❯❯❯ kubeadm init
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.6.0
[init] Using Authorization mode: RBAC
[preflight] Running pre-flight checks
[preflight] Starting the kubelet service
[certificates] Generated CA certificate and key.
[certificates] Generated API server certific

[2017-04-20 07:23] drora commented on #24862
@felipejfc we are discussing the usage of fluentd along with aws-es-proxy. as oppused to local elasticsearch-logging pods

[2017-04-20 07:29] wojtek-t commented on #44701
On hypothesis that I have is that size of objects is different (in particular size of Node). Something to verify.

[2017-04-20 07:29] renerchen opened #44705 "Can't add windows node to kubernetes cluster"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-20 07:33] #44695 closed

[2017-04-20 07:35] mnnit-geek commented on #37063
I have similar issue kubelet service is exiting for some reason:
~ # ❯❯❯ systemctl status kubelet.service
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Active: activating (auto-restart) (Result: exit-code) since Thu 2017

[2017-04-20 07:39] koubas commented on #34043
I just hit the same issue
My questions are:
- To who the API server actually advertises the address?
- Is it OK when all the API servers in HA setup advertise their own IP adresses, but the endpoint to which the nodes connect is ELB's hostname?

Thanks

[2017-04-20 07:43] gmarek opened #44707 "Clean up garbage logs we print out in large tests"
We currently print out a lot of garbage that takes ever 3/4 of test logs and makes it annoying to read. Stuff that should be minimized:
- `get nodes` output from the beginning of the tests
- waiting for prepuller to finish shouldn't log status of every single one of them ever X seconds, only aggregates
- netcheck should print out results to separate file in TestContext.ReportDir, instead of main l

[2017-04-20 07:47] dunjut commented on #44694
You can run `<k8s-dir>/cluster/get-kube-binaries.sh` to download client and server binaries.

After that, use `docker load -i kube-xx.tar` to load images.

[2017-04-20 07:50] ReSearchITEng commented on #43856
@rootsongjc the ansible code provided in the link above (kubeadm-playbook), it does both things:
1. updates the kubelet.service by adding "--native.cgroupdriver=systemd"  (this way it will match the default/existing docker.service)
2. it has also the systemctl stop *.slice implemented.

I am testing it very often, it works perfectly.

[2017-04-20 07:51] wojtek-t commented on #44707
If we would split 1. `get nodes` 2. netcheck result
to separate files, that would solve most of our problems.

And that should be pretty simple to do, I think.

[2017-04-20 07:51] wojtek-t commented on #44707
@kubernetes/test-infra-maintainers

[2017-04-20 08:03] xiangpengzhao commented on #44698
My bad. The command can show the conditions when they exist in the RC object.

[2017-04-20 08:03] #44698 closed

[2017-04-20 08:05] renerchen commented on #44705
@smarterclayton @brendandburns @wojtek-t Do you know why？

[2017-04-20 08:16] pkutishch commented on #44610
@wongma7 Many thanks, can see that 1.6.2 has been release, will check this bug and update you with result.
Thanks

[2017-04-20 08:22] felipejfc commented on #24862
this is strange @drora, I don't remember this behavior.. This is my current td-agent.conf:

[code]

I think that the ```reload_connections true``` part is important. I can confirm that with this setup I had no problems, note that I'm **not using aws-es-service**, I just pointed it directly to my ES cluster.

[2017-04-20 08:26] xiangpengzhao commented on #44698
However, it would be better if we print conditions of RC/RS in kubectl describe command. #44710

[2017-04-20 08:48] gmarek commented on #44701
I checked the sizes of Node object, and indeed they're quite different. Kubemark's Node object has 3.6kB, while in real cluster it's 13.6kB. The biggest difference is list of images present, as in the "real" cluster we have "image puller" running, which downloads pretty much whole internet on every node, and information about those images take A LOT of space (9k to be precise).

Other differences

[2017-04-20 08:57] crassirostris commented on #24862
@drora Elasticsearch is going to stop being a part of the core Kubernetes, because it's not about Kubernetes per se. Current setup in this repo is far from perfect, e.g. there's no persistent storage. I encourage you to take a look at different open-source integrations or event at Elastic offerings.

We hope to polish our integration with different logging solutions and than make a clear list of r

[2017-04-20 08:57] #24862 closed

[2017-04-20 08:57] nhlfr commented on #30427
#41648 is the first step which is needed for implementing that. The proposal regarding that functionality (kubernetes/community#147) is implemented though.

[2017-04-20 09:04] drora commented on #24862
@crassirostris I totally agree ES shouldn't be integrated as part of k8s distro. this is about the default fluentd setup that for some reason stops shipping logs to AWS-ES-SERVICE via @justinsb aws-es-proxy after a while.
I'm trying to alter the setup according to @felipejfc suggestion (adding "reload_connections true" to td-agent.conf derived from original kubernetes fluentd-es-image). will updat

[2017-04-20 09:12] crassirostris commented on #24862
@drora Sorry for the confusion! I meant that both Elasticsearch deployment and fluentd-for-elasticsearch deployment will be removed from the Kubernetes repo.

I'm happy if the @felipejfc's solution helps! Also, updating this issue will definitely be of use, thanks for that!

It's just next time you open or ping an issue here, it might not get the proper response, whereas creating an issue in e.g.

[2017-04-20 09:15] drora commented on #24862
@crassirostris cool. thanks for that. will update next week.

[2017-04-20 09:15] kargakis commented on #43300
@gnufied most? Can you point me to those?

[2017-04-20 09:16] xingzhou commented on #44697
have you ever tried to set the init-container's cpu request/limit no more than the container's settings? say 500m

[2017-04-20 09:29] dimpavloff commented on #44348
We're also seeing this on 1.6.1
[code]

[2017-04-20 09:33] Raffo commented on #41916
I've seen a similar issue, but I'm not sure if it's related. I restart the apiserver by changing the manifest on the server nodes. There was a time while the apiserver was not running and the node transitioned to the `NotReady` state. After that all the daemonsets that we run on the master nodes became `Terminating` and I could verify they were not running on the master nodes.

[2017-04-20 09:35] etiennetremel opened #44711 "Concurrent map writes errors in dns.go"
**BUG REPORT**

There is a bug in the `pkg/dns.go` file causing the kubedns container to throw `concurrent map writes` error. We need to use safe concurrent Read/Write operations for maps.

I'm using the following container:
```eu.gcr.io/google_containers/k8s-dns-kube-dns-amd64:1.14.1```

The full _kube-dns logs_ is available here: https://gist.github.com/etiennetremel/622e14bc77375c8f3d2569018964

[2017-04-20 09:41] spradeepv commented on #44203
@hzxuzhonghu I had modified the servicecontroller code to get it working. I had added a map to the servicecontroller struct and then get endpoints for the service in UpdateFunc. Compare both, if there is a diff call UpdateLoadbalancer().

Can I push the code upstream?

[2017-04-20 09:43] Raffo commented on #44458
I had a similar issue as wrote in #41916, restarting the apiserver on master node makes the daemonset running on the node to exit and be stuck in `Terminating` state. Force delete "fixes" the problem.

[2017-04-20 09:44] keegancsmith opened #44713 "hostPath containing mounts do not update as they change on the host"
**Kubernetes version**:
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS**: Container-Optimized OS
- **Kernel**: 4.4.21+

**What happened**: https://github.com/keegancsmith/kubernetes-disk-exporter/blob/master/disk-exporter.yaml#L44 uses a `hostPath` of `/var/lib/kubelet/plugins/kubernetes.io/gce-pd/mounts`. It monitors the disk usage of each mount and exposes pr

[2017-04-20 10:08] jamiehannaford commented on #41203
If this being actively worked on? If not, I'd like to help implement. I guess the first step is adding a `BootupTime` field to `NodeStatus` in the API?

The second step would then be optimizing the volume controller to use a more performant check algorithm so it's not unnecessarily rate limiting a cloud provider. Would it also be possible for the controller to keep a `lastPolled` field? If the `bo

[2017-04-20 10:39] jamiehannaford commented on #39188
Has this been fixed? I'm seeing both ports on describe:

[code]

[2017-04-20 10:48] jamiehannaford commented on #38269
Just for clarity, by annotation you mean something like [this](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L492) or do you mean the ones like `json` enscapsulated in the ` `` ` marks?

[2017-04-20 11:04] boosh commented on #33664
@max-vogler Sadly using minikube requires an imagePullPolicy of IfNotPresent, so your approach doesn't work for me. Any other ideas?

[2017-04-20 11:08] csarora commented on #44662
@ncdc https://gist.githubusercontent.com/csarora/e0edeea630fff8c8432723dc0ea3ac7f/raw/2dab7756c199fdb03ae694ab2a96dece3b417443/kubelet-log.txt

[2017-04-20 11:08] jeremywu0127 opened #44715 "error validating data: found invalid field initContainers for v1.PodSpec"
I met the error like
[code]
the file is
[code]
my k8s version is like
[code]

[2017-04-20 11:12] dgoodwin commented on #37063
@mnnit-geek please see https://github.com/kubernetes/release/issues/306

[2017-04-20 11:17] #43167 closed

[2017-04-20 11:42] jeremywu0127 commented on #44715
I have followed  [this guide](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-initialization/#creating-a-pod-that-has-an-init-container), but it didn't work and met the `error validating data: found invalid field initContainers for v1.PodSpec`

[2017-04-20 11:54] xiangpengzhao commented on #44715
AFAIK, specification of init containers can not be stated under initContainers field in PodSpec in V1.5.6 yet. You can specify init-containers in annotation.

See more in #38382

[2017-04-20 12:33] jacekn commented on #43461
@chuckbutler I latest layer-etcd and can confirm that connection strings are now handled correctly when units are added/removed.

Thanks!

[2017-04-20 12:36] ncdc commented on #44662
@csarora your log file ends at 10:31 UTC, and you issued the exec 40 minutes after.

[2017-04-20 12:47] henriquetruta commented on #44186
Taking a look at the code to see the problem with clusters, my best guess is that the problem is in this file: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
I can reproduce it in a running k8s federation, but where is the place I can add a unit test to reproduce it?

[2017-04-20 13:07] cilerler opened #44718 "Allow `--all-namespaces=true` for `kubectl delete`"
**FEATURE REQUEST**

Not be able to use line below

[code]

forces us to do this

[code]

I would go to 20 but I believe you get the idea 😉

**Kubernetes version**
Client v1.5.4
Server v1.6.1

[2017-04-20 13:21] jsafrane commented on #44372
I created patch #44719 which fixes my suspicion in my previous comment, but it's hard to guess if it really fixes the bug you are reporting because I don't know if it's the same bug. Collect the logs please next time.

[2017-04-20 13:41] eana commented on #43975
`kubernetes 1.5.x` defaults to `ETCD API v2` and `kubernetes 1.6.x` to `ETCD API v3`. After migrating the `v2` keys into `v3` everything worked as expected.

[2017-04-20 13:41] #43975 closed

[2017-04-20 13:50] iocanel commented on #22405
Personally, I would like to avoid re-inventing the client from scratch, so from my pov its really important to check the our existing DSL is something that could be built on top of the swagger generated stuff.

Do you have a sample of how the code looks like?

[2017-04-20 13:54] #44390 closed

[2017-04-20 13:55] crassirostris commented on #44609
@wojtek-t From the latest run:

[code]

In the controller_manager:

[code]

[2017-04-20 14:13] Slahser opened #44723 "kubedns not work"
**What keywords did you search in Kubernetes issues before filing this one?** :

kubernetes 1.6.1
kubedns addon from repo 1.4.1
calico with RBAC 2.1
correct kube-dns clusterrolebinding

---

**Kubernetes version** (use `kubectl version`):

1.6.1

**Environment**:

- **OS** (e.g. from /etc/os-release): Centos 7
- **Kernel** (e.g. `uname -a`): 3.10
- **Install tools**: binary

**What happened**:

i

[2017-04-20 14:20] spirrello opened #44724 "Kubdns Deployment Is Deleted After 8 Minutes"
**Kubernetes version**
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.4", GitCommit:"7243c69eb523aa4377bce883e7c0dd76b84709a1", GitTreeState:"clean", BuildDate:"2017-03-07T23:53:09Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.4", GitCommit:"7243c69eb523aa4377bce883e7c0dd76b84709a1", GitTreeSt

[2017-04-20 14:45] k8s-merge-robot opened #44725 "TestNewWithDelegate {server}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/4927/
Failed: TestNewWithDelegate {server}

[code]

[2017-04-20 14:48] cjyar commented on #33245
@janetkuo Yes, the pods didn't appear in `kubectl get pods`.

Before I deleted the ds, its pods were all in various states of failing or restarting. Each pod has two containers.

After I deleted the ds, .status.numberMisscheduled was 3, which was the original size of the ds.

[2017-04-20 15:02] liggitt commented on #44718
@kubernetes/sig-cli-feature-requests

[2017-04-20 15:03] liggitt commented on #44718
deletion across all namespaces can be really destructive... since we can't prompt or warn, this makes it easy to fat-finger a cluster destroying action

[2017-04-20 15:05] liggitt commented on #44711
thanks for the issue report, but please file it against https://github.com/kubernetes/dns/

[2017-04-20 15:05] #44711 closed

[2017-04-20 15:05] liggitt commented on #44711
cc @MrHohn

[2017-04-20 15:06] liggitt commented on #44703
cc @kubernetes/sig-auth-feature-requests

[2017-04-20 15:10] liggitt commented on #44703
the three main issues I see:

* inconsistencies of availability of label-selecting rules across verb types
* split nature of authorizing based on labels and ensuring the current/resulting object is covered by those labels (called out in https://github.com/openshift/origin/pull/8610#issuecomment-213556833)
* can we evaluate/apply this performantly?

I'd expect this to be considered after the core f

[2017-04-20 15:10] csarora commented on #44662
@ncdc...sorry i guess there is some confusion..time mentioned by me is incorrect....ran the command before...

[2017-04-20 15:11] liggitt commented on #44646
cc @deads2k @kubernetes/sig-api-machinery-bugs

[2017-04-20 15:14] liggitt commented on #44715
correct, they were promoted to a field in 1.6.x

[2017-04-20 15:14] #44715 closed

[2017-04-20 15:14] soltysh commented on #44515
Weird, there was no cronjobs in 1.4, and scheduledjobs are disabled in cluster < 1.5, see logs:
[code]

Looking into the jobs failure...

[2017-04-20 15:19] liggitt commented on #44670
it's not a bug, this is working as designed.

if you want to integrate JSON-reading tools directly against etcd, that is not recommended, but you can continue to do that by making k8s continue to store JSON in etcd with `--storage-media-type=application/json`

[2017-04-20 15:20] #44670 closed

[2017-04-20 15:21] liggitt commented on #44660
c.f. kubernetes/features#95

[2017-04-20 15:25] ncdc commented on #44662
OK. I am swamped right now but can try to look at it next week if nobody
else gets back sooner.

On Thu, Apr 20, 2017 at 11:10 AM, csarora <notifications@github.com> wrote:

[2017-04-20 15:26] liggitt commented on #43262
doesn't seem to be reoccurring

[2017-04-20 15:26] #43262 closed

[2017-04-20 15:30] soltysh commented on #44515
For jobs, they are failing b/c [1.4's job.go](https://github.com/kubernetes/kubernetes/blob/release-1.4/test/e2e/job.go#L264-L266) is hitting `extensions/v1beta1` endpoint, which was removed in 1.6 (https://github.com/kubernetes/kubernetes/pull/38614) so these failures are expected.

[2017-04-20 15:32] zhouhaibing089 commented on #44703
/cc I have got the same idea before.

[2017-04-20 15:34] cilerler commented on #44718
I hear you, however since it will be an optional feature we should be fine.  😎

[2017-04-20 15:35] timothysc commented on #44701
The node object also contains a lot of container image data too.

[2017-04-20 15:40] liggitt commented on #44718
until tab-completion makes someone who meant to do --all delete everything in their cluster :-/

[2017-04-20 15:40] smarterclayton commented on #44701
Our nodes in production environments on anything packed often approach 50kb
or more.

On Thu, Apr 20, 2017 at 11:35 AM, Timothy St. Clair <
notifications@github.com> wrote:

[2017-04-20 15:40] Rishabhjain123456 opened #44728 "Not able to links two pods in kubernetes cluster."
i am trying to deploy simple food truck application with two tier:
python+nginx-1st tier
elastic search -2nd tier.

But after deploying both pods i m getting unable to connect from ft(app) tier to es tier.
Below are my pods and service file:

**es service yml:**

apiVersion: v1
kind: Service
metadata:
  name: es
  labels:
    name: es
    app: foodtruck
spec:
  ports:
    # the port that this serv

[2017-04-20 15:40] russellballestrini commented on #44694
I'm working on standing up a kubernetes cluster in China and running into similar issues.

I'm about to try using this ENV var:

[code]

Reference: https://kubernetes.io/docs/admin/kubeadm/

daocloud.io

[2017-04-20 15:42] timothysc commented on #44701
I think we should bound the scope of image details to MRU.  It's a sub-optimal heuristic to steer, but those who care about speed will pre-populate the cluster.

[2017-04-20 15:46] smarterclayton commented on #44701
I'm seeing normal clusters (light, unloaded) be at 10k minimum JSON, 8k
proto.

Could the scheduler remember recent images and bias them even if they're
not on the node anymore?  That would preserve the heuristic.

On Thu, Apr 20, 2017 at 11:42 AM, Timothy St. Clair <
notifications@github.com> wrote:

[2017-04-20 16:07] wojtek-t commented on #44701
not on the node anymore?  That would preserve the heuristic.

Is the only purpose of having those images for scheduler?

We definitely can add some caching for scheduler (that shouldn't be difficult). Though, the problem is what is happening after scheduler restart (after restart it would be kind of best-effort).

[2017-04-20 16:09] dcbw commented on #44410
@justinb hmm.  Usually if you pass a bad address you'll get:

`wget: unable to resolve host address ‘adsfasdfasf.com’`

and when I checked I couldn't find "bad address" or EFAULT anywhere in wget sources.  Nor does gethostbyname(2) say it returns EFAULT as an error.  But I can only assume DNS failure is what this means, not sure what else it would be.

Good to know.  Thanks for pushing it forward!

[2017-04-20 16:15] smarterclayton commented on #44701
Yeah, they optimize placement (and in practice we see massive benefit of
this on fairly dense clusters).  The heuristic is really just best effort
at this point - we could get a lot better in the scheduler by knowing which
images have overlapping layers, but that's not something the node can
surface up.

I think being a bit more restrictive on the nodes, and cache a bit more on
the scheduler, woul

[2017-04-20 16:16] smarterclayton commented on #44718
Yeah, I'm fairly sure this should require an additional confirmation.
Delete in general is too powerful by default.

On Thu, Apr 20, 2017 at 11:40 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-04-20 16:18] max-vogler commented on #33664
If that does not work for you, I can only refer you to @yissachar's write up in the [issue description](https://github.com/kubernetes/kubernetes/issues/33664#issue-179819759).

[2017-04-20 16:18] neverfox commented on #27081
@Smana That's how rolling updates work, as far as I know, unless you mess with history limits. It allows for rollbacks.

[2017-04-20 16:21] neverfox commented on #27081
These things, a thousand times. Best practices are like sidewalks: real life users will surprise you by finding a good reason to just cut across the grass and should have that power when needed.

[2017-04-20 16:32] wojtek-t commented on #44701
this on fairly dense clusters).  The heuristic is really just best effort
at this point - we could get a lot better in the scheduler by knowing which
images have overlapping layers, but that's not something the node can
surface up.

That's a bigger thing. This doesn't seem like a high priority to me (though I agree it would be useful at some point).

the scheduler, would improve some dimensions of

[2017-04-20 16:33] wojtek-t commented on #44701
Or the ones with the biggest number of layers?

[2017-04-20 16:38] smarterclayton commented on #44701
There's a whole set of heuristics in place.  We could cut probably 10-30%
off node size, but I don't know that we would want to go deeper than that.
I will note that the reason nodes are the worst is because of all the
strings we copy - the work to make string decoding more efficient in
protobuf would pay off here (doing an arena allocation for those strings vs
creating one string per field).  We

[2017-04-20 16:39] timothysc commented on #44701
At the macro scale image based steering only matters on large pulls, and it's a 1-time pad.  So perhaps our threshold is a mash of image / layer size.  Data locality has long since been dispelled as a farce, and what matters more is network bandwidth utilization.   Because you will often trade startup latency for fragmentation.

[2017-04-20 16:40] MrHohn commented on #44711
cc @bowei

[2017-04-20 16:47] divyenpatel commented on #44603
We are in the process of fixing the way we fetch vmuuid. we will be parsing the serial number from `/sys/class/dmi/id/product_serial` which is seems tobe matching with the vmuuid we want.

[2017-04-20 16:52] jchauncey opened #44732 "Unable to attach disk already being used in GCE for a job resource"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
* `FailedMount error`
* `googleapi: Error 400: The disk resource`
* `Failed to attach vo

[2017-04-20 16:52] MrHohn commented on #44711
Seems like the root cause is https://github.com/kubernetes/dns/blob/master/pkg/dns/dns.go#L504.

[2017-04-20 16:59] liggitt commented on #40015
closed by #44449

[2017-04-20 16:59] #40015 closed

[2017-04-20 17:03] dchen1107 commented on #44650
@mikedanese Looks like the Kubelet cannot talk to API server due to the error: "x509: certificate signed by unknown authority".  Is this familiar to you?

[2017-04-20 17:20] kargakis opened #44734 "Proportional scaling in Deployments in not fully re-entrant"
The fix is to avoid scaling replica sets with replica annotations synced to the actual size of the deployment. While doing that, we need to handle gracefully the case where all replica sets have their annotations synced but the sum of their spec.replicas does not match spec.replicas of the deployment.

@kubernetes/sig-apps-bugs

[2017-04-20 17:27] kargakis commented on #44705
@kubernetes/sig-node-bugs

[2017-04-20 17:44] mengqiy commented on #39188
@jamiehannaford Not yet. `describe` is not affected by this issue.
Proposal in https://github.com/kubernetes/community/pull/476. Review welcome.

[2017-04-20 17:51] bshi commented on #44697
I haven't but does it matter?  It seems like a clear regression from 1.5.  Have I missed something in the [documentation ](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#resources) that suggests such a constraint exists?

[2017-04-20 17:53] roberthbailey commented on #44581
@erikgrinaker - thanks for the bug report. We've been able to root cause and should have a fix available soon.

[2017-04-20 17:55] erikgrinaker commented on #44581
Great stuff, thanks guys!

[2017-04-20 17:55] xiangpengzhao commented on #44718
Users might prefer `--namespace=ns1, ns2, ns3` to `--all-namespaces` for delete command. Take care of your `kube-system` :)

BTW, do we support such format `--namespace=ns1, ns2, ns3` now?

[2017-04-20 18:02] zetaab opened #44735 "Openstack cinder storageclass should support also random zone names."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Kubernetes version** (use `kubectl version`): 1.6.1

**Environment**:
- **Cloud provider or hardware configuration**: openstack
- **OS** (e.g. from /etc/os-release): centos7

**What happened**:

We have openstack environment with three different zones, called as `zone-1`, `zone-2` and `zone-3`. The problem with current s

[2017-04-20 18:04] mappedinn commented on #44377
I tried the version 0.8 of nfs-server and this version is not available as it can be seen below:

[code]

[2017-04-20 18:05] mbohlool commented on #22405
It would be similar to [Python Client](https://github.com/kubernetes-incubator/client-python) (it won't be exactly the same, e.g. names would be camel case. But close enough).

[2017-04-20 18:05] riturajtiwari commented on #44521
Any update on this? This is clearly impaired functionality *somewhere*. I have done several experiments and consistently find that the `Ingress` takes several minutes to get connected to `Service`. What information can I give to take the next step here?

[2017-04-20 18:05] zetaab commented on #44735
sig/openstack sig/storage and maybe area/stateful-apps labels needed

[2017-04-20 18:06] mbohlool commented on #38269
The comment annotation.

[2017-04-20 18:07] timstclair commented on #44662
There should be a log line that looks like this:

[code]

But in the log you posted there is not. This either indicates the the problem is in the API server and it's never contacting the Kubelet, or the exec call happened outside the timeframe of the log file.

[2017-04-20 18:09] xiangpengzhao commented on #44400
To be clear, the current release notes aren't randomly interspersed. They are sorted by the date when they are released. But I 100% agree with your use case. That's more readable.

cc @enisoc

[2017-04-20 18:17] spirrello commented on #44724
Starting to see the same behavior with other deployments.

Apr 20 17:52:19 acme-lvk8s01 kube-controller-manager[912]: I0420 17:52:19.959555     912 event.go:217] Event(api.ObjectReference{Kind:"Deployment", Namespace:"kube-system", Name:"monitoring-influxdb", UID:"198a7c61-25f2-11e7-afbe-90b8d0f6559c", APIVersion:"extensions", ResourceVersion:"302467", FieldPath:""}): type: 'Normal' reason: 'Scali

[2017-04-20 18:18] zetaab commented on #44735
@justinsb could you help little bit here. I can easily modify that if storageclass availability zone is not defined, it will use similar technique like here https://github.com/kubernetes/kubernetes/blob/2cb17cc67745aa39f700e1d0c3d22c70074bee46/pkg/volume/util.go#L287 to choose random zone. However, in my tests it does not solve that second problem. If I create storageclass cinder to zone-1 it migh

[2017-04-20 18:40] cilerler commented on #44718
@xiangpengzhao nope

[2017-04-20 18:42] chakri-nelluri commented on #37626
@mccormd is it ok to close this issue?

[2017-04-20 18:56] cblecker commented on #44521
Hi @riturajtiwari,
Sorry, I didn't notice the last message. I believe this provisioning time is related to the GCE Layer 7 Load Balancer, rather than Kubernetes itself.

cc: @kubernetes/goog-gke

[2017-04-20 18:57] IronhandedLayman opened #44736 "PodPresets can't be enumerated by `kubectl get podpreset`"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): podpresets, kubectl

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-04-20 19:01] roberthbailey commented on #5676
I think this is outside of the responsibility of core kubernetes and should *not* be done by the kubernetes control plane. Please re-open if you disagree.

[2017-04-20 19:01] #5676 closed

[2017-04-20 19:17] mappedinn commented on #44377
Problem solved...

I just used the `image: gcr.io/google_containers/volume-nfs:0.8` and create

[code]

Thanks for being helpfull...

[2017-04-20 19:17] #44377 closed

[2017-04-20 19:19] riturajtiwari commented on #44521
Thanks @cblecker. One final question: Should I declare my service to be `LoadBalancer`, `NodePort` or whatever the default is? I am finding that if I use `NodePort`, things work after the several minute L7 delay, but if I don't use any type specification, things won't come up for over 30 minutes?

[2017-04-20 19:22] cezarsa commented on #10834
Maybe a bit unrelated to kubernetes specifically, but I just came across https://github.com/yadutaf/infilter. It uses some ptrace magic to inject `setns` syscalls on host binaries at the right moment. It allows the execution of any host binary (even dynamically linked ones) on any container without the need to mount anything inside the container itself.

It has solved the problem of debugging cont

[2017-04-20 19:24] cblecker commented on #44521
In GKE:
- If you use a `LoadBalancer` type Service you provision a regional IP and Layer 4 load balancer that directs traffic to your application at the network layer.
- If you use an `Ingress` object, you provision the GCE Layer 7 HTTP Load Balancer. The should be paired with a `NodePort` service per the documentation here: https://cloud.google.com/container-engine/docs/tutorials/http-balancer#st

[2017-04-20 19:27] riturajtiwari commented on #44521
Awesome! Thanks @cblecker !

[2017-04-20 19:40] chakri-nelluri opened #44737 "Flex volumes which implement getvolumename API are getting unmounted during run time."
Kubernetes version: 1.6
Component/Area: Storage
Affected modules: Flex volume

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.1.482+b2ea780731417d-dirty", GitCommit:"b2ea780731417da74d312bfce8ac560ae7248831", GitTreeState:"dirty", BuildDate:"2017-02-07T21:51:55Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64

[2017-04-20 19:58] pipejakob opened #44739 "Incident response process for critically flawed releases"
**Is this a BUG REPORT or FEATURE REQUEST?**:

PROCESS/DOCUMENTATION REQUEST

**Description**:

At the release of Kubernetes 1.6.0, the `kubeadm` tool had a [showstopping flaw](https://github.com/kubernetes/kubernetes/issues/43815) that caused every user who tried to initialize a cluster to face a hung process. The GitHub issue contained a noisy mixture of duplicate reports of the bug, users sugge

[2017-04-20 20:16] cblecker commented on #44521
No problem!

/close

[2017-04-20 20:16] #44521 closed

[2017-04-20 20:17] freehan commented on #42735
@aespinosa Sounds like your problem is different from the issue here. We need to know more about your setup. Need the output of following command:
`ps aux|grep kubelet`
`ifconfig`
what is your OS distro?

Just to confirm, the pods are able to start. Later they got recreated? Pod IP changed right?

[2017-04-20 20:20] spirrello commented on #44724
Had to comment out the following line in the deployment file as I'm not using the add on manager.

kubernetes.io/cluster-service: "true"

[2017-04-20 20:20] #44724 closed

[2017-04-20 20:21] dmmcquay commented on #44739
I think this is a great idea.

We should add this issue to be discussed during the next SIG-cluster-lifecycle meeting.

[2017-04-20 20:33] klausenbusk commented on #22823
We are experiencing something similar from time to time, last time PHP had issue resolving the Redis service for ~ 40 seconds, but I'm not sure if it is related to kube-dns or maybe kube-proxy (?) as we only saw it on one of this apps pod, or could caching explain that?

[code]

[code]
3 master node + 5 workers node CoreOS cluster on DigitalOcean.

[2017-04-20 20:39] chakri-nelluri commented on #44737
Investigation:
 - Reconciler is trying to reconstruct volume spec. Today we do not store any metadata, so flex volume options are missing/cannot be reconstructed in volume spec.
- Getvolumename returns wrong volume name using this reconstructed volume spec.
- Reconciler unmounts the existing volume(which has different name) as it does not match desired state.

[2017-04-20 21:22] thockin commented on #24317
can you flesh that out more?  I feel like I am missing something...

On Wed, Apr 19, 2017 at 10:27 AM, Michelle Au <notifications@github.com>
wrote:

[2017-04-20 21:24] rushtehrani commented on #33884
Having something similar to `nodeSelector` on services makes sense, especially if they are `LoadBalancer` services.  For example, we have an instance group for GlusterFS nodes and those nodes should not be added to ELB.

[2017-04-20 21:28] CarwynNelson commented on #42621
+1 I am also getting this problem, here is my specific error message:

[code]

I am running minikube version `v0.18.0` on OSX `10.12.2` and my docker version string is `Docker version 17.03.0-ce, build 60ccb22`

Any ideas?

[2017-04-20 21:54] saad-ali commented on #43300
I haven't dug into it recently. With the populator changes this should be less critical now.

[2017-04-20 22:00] nikhiljindal commented on #39986
Yes its good to provide this information but am not convinced that it needs to be part of ReplicasetStatus.
https://github.com/kubernetes/kubernetes/issues/33622 will also enable that.

The kubernetes analogy is ReplicasetStatus does not tell which replicas are running on which node. Users can certainly get that information but not via ReplicasetStatus.

[2017-04-20 22:15] nikhiljindal commented on #39987
@uiansol Yes all the issues are still open. There are owners for some.
I dont think anyone is working on #33312 or #33312 but please post on the individual issue if you want to work on any.

[2017-04-20 22:24] nikhiljindal commented on #39987
cc @perotinus

[2017-04-20 22:24] msau42 commented on #24317
In the flex volume spec, you need to specify the driver name, like:
[code]

So you could have the resource name include the flex driver name, like `pod.alpha.kubernetes.io/opaque-int-resource-flex-k8s-nfs`, that the flex plugin could publish for each driver on each node.

And on the scheduler side, you could have one flex predicate that reconstructs the resource name by extracting the driver name

[2017-04-20 22:56] r2d4 commented on #43430
I think this comes from https://github.com/kubernetes/kubernetes/issues/44507, also https://github.com/kubernetes/kubernetes/issues/39816

TPRs never get registered with RegisterGroup (should it?), and the garbage collector controller as well as the namespace controller both use static RESTMapping, rather than a dynamic one.  The versions get enabled and registered, but the group does not get regi

[2017-04-20 23:00] bgrant0607 commented on #23233
@justinsb proposal: https://docs.google.com/document/d/1Laov9RCOPIexxTMACG6Ffkko9sFMrrZ2ClWEecjYYVg/edit?ts=58f28822#

[2017-04-20 23:06] aespinosa commented on #42735
kubelet:
[code]

Distro:

No the kubelet dit not restart.

After a while, the pods are running now and able to start.

[2017-04-20 23:27] freehan commented on #42735
Could you elaborate? What is the sequence of symptoms and operations?

[2017-04-20 23:35] aespinosa commented on #42735
I tried to delete and have the pods be resurrected by the replicaset.  The pod has been created and was allocated a Pod IP successfully.

However, I still have problems of the proxy endpoints at the master not being able to be served.  I'm using the aws cloud provider and I don't see my route tables being updated either.

[2017-04-21 00:05] #43977 closed

[2017-04-21 00:43] nikhiljindal opened #44743 "Federation should use namespace scoped service accounts to talk to underlying clusters"
Background: Federation today uses a single identity to send all its requests to a cluster. This requires that single identity to have the authorization to do everything that federation is being used for.
For ex: if 2 teams are using federation to federate resources in 2 namespaces, they need to create a service account for federation that has CRUD access to both namespaces. This single service acc

[2017-04-21 00:47] ericchiang commented on #44743
I drew up some RBAC roles yesterday in attempt to limit the federated credentials to a couple namespaces: https://gist.github.com/ericchiang/dfdfcf092c4c66ff9215b217e19ed5a7

I don't think it's strictly necessary to support multiple service accounts. You should be able to create one then give it access to the target namespaces.

Maybe that's relevant to this conversation?

[2017-04-21 00:57] nikhiljindal commented on #44743
Who will create this service account that has access to both the namespaces?
If a team has access to only one namespace, can they create a service account that has access to more than that namespace?

[2017-04-21 01:04] saad-ali commented on #44737
@chakri-nelluri and I discussed this. Proposed fix is to add a metadata file so that volume reconstruction can use that and recover complete volume spec instead of just the information in the mount path.

CC @jingxu97 @kubernetes/sig-storage-bugs

[2017-04-21 01:05] liggitt commented on #44743
If they have the ability to grant access to a service account at all, they could do so for a single service account across both namespaces.

[2017-04-21 01:07] xiangpengzhao commented on #44736
yes, `kubectl get podpreset` is not supported yet. But what we could/should display by `kubectl get podpreset` might be only `NAME` and `SELECTOR`.

[2017-04-21 01:29] riturajtiwari commented on #44521
@cblecker The k8s web UI does not give any indication that the `Ingress` is not fully connected to the `Service`. Do you think this is a defect or a feature request? I am not sure how to best position this, hence asking. Thanks.

[2017-04-21 01:54] justinsb commented on #33884
I have checked, and the servicecontroller documents that masters are excluded, and that the only way it can be recognized is via the unschedulable field.

As such I have submitted a PR to fix this, which is a regression for when we are using the new 1.6 taints and the new 1.6 labels for our master.  The servicecontroller now recognizes 1.6 master nodes and will exclude them, returning the document

[2017-04-21 02:13] chrislovecnm commented on #24584
@brendandburns is this still broken?  I think we just hit it ...

[2017-04-21 02:15] xiangpengzhao commented on #44736
Fix this issue in PR #44746.

[2017-04-21 02:28] liggitt commented on #24584
Editing TPR objects works with kubectl 1.6. What version do you have and what error are you seeing?

[2017-04-21 02:29] bgrant0607 commented on #24649
Kops uses a VFS overlay on S3:

The VFS layer is here: https://github.com/kubernetes/kops/tree/master/util/pkg/vfs

And it can be used like this: https://github.com/kubernetes/kops/blob/master/channels/pkg/channels/apply.go#L34

[2017-04-21 03:00] derekwaynecarr commented on #43319
Resource requirements must have consistent meaning in all contexts when specified without units.  This breaks that convention entirely.  Who else does this?

[2017-04-21 03:07] xingzhou commented on #44697
@bshi, no just want to confirm where the issue is. In my env, when I tried your yml file, I can reproduce the bug, but if I config the init-container's resource limitation less than the pod's major container's limitation, then everything works fine. I will take investigation on this and come back to this then.

[2017-04-21 03:36] liggitt commented on #43319
I do not see that behavior anywhere... all the providers I could find treat capacity as bytes (which is correct) and round up to their volume size unit (usually GB). That means non-zero requests less than 1GB result in a 1GB volume, but that does *not* mean numbers without units are assumed to be GB.

[2017-04-21 04:47] csarora commented on #44662
@timstclair I feel its not reaching api server as i tried multiple times to run exec command but see no change in log

[2017-04-21 05:02] shashidharatd opened #44749 "hyperkube image build is broken"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-federation-build/1659

federation build is broken with the following error.
[code]
After analyzing, found that this was caused by recent PR. #44555
which is accidentally not creating `${TEMP_DIR}/cni-bin`
https://github.com/kubernetes/kubernetes/pull/44555/files#diff-86f22fb5b693949f04077054c41b762fL63

cc @kubernetes/s

[2017-04-21 05:03] piosz commented on #23233
cc @fgrzadkowski

[2017-04-21 05:28] Pensu opened #44750 "Error: container “dnsmasq” is unhealthy, it will be killed and re-created while running local cluster in kubernetes"
Hi,

I am running Kubernetes local cluster with using ./hack/local-up-cluster.sh script. Now, when my firewall is off, all the containers in kube-dns are running:

[code]

But when firewall is on, I can see only 2 containers are running:

[code]

After investigating in details, turns out the pod is failing becase dnsmasq container is not running:

[code]

Can you help me with how do I run dnsmasq

[2017-04-21 05:58] silentred opened #44752 "Periodical errors of dockerd and kubelet: "No such container""
**Kubernetes version** :
[code]

**Environment**:

- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):

Linux iZ2ze8ctk2q17u029a8wcoZ 4.4.0-63-generic #84-Ubuntu SMP Wed Feb 1 17:20:32 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:
errors keep appending to /var/log/syslog file, such as
[code]

**How to reproduce it** (as minimally and precisely as possible):

[2017-04-21 06:38] teotia39 commented on #22448
For Kubernetes 1.6.1 etcd 3 , why we are not able to access the "/registry" key, How to access this key ?

As this key is not present on default 2379 port , curl to http://127.0.0.1:2379/v1/keys/registry is failing , which was working very well in alpha version. How to access those kubernetes objects now.

[2017-04-21 06:44] wojtek-t commented on #22448
@teotia39 - with etcd v3, data are not accessible via json endpoint. You need to use etcd tooling for it (ETCDCTL_API=3 etcdctl).

[2017-04-21 06:51] teotia39 commented on #22448
so that tool doesn't comes by default with kubeadm , and we have to explicitly install the etcdctl on top of kubeadm to access the endpoints ?

[2017-04-21 06:55] bshi commented on #44697
@xingzhou sorry, didn't mean to sound defensive.  I just confirmed your finding on my GKE 1.6.1 cluster: I set init-containers requests/limits equal to the normal container and the pod will complete successfully without the error in the original report.

[2017-04-21 07:02] wojtek-t commented on #22448
this tool is built in the default etcd Docker image. You can just exec it from the container running etcd.

[2017-04-21 07:32] teotia39 commented on #22448
and even if we install etcd cluster separately , and point that to k8's , still we wont be able to access the registered kubernetes objects via rest calls , and we still have to use etcdctl command line to get those objects.

[2017-04-21 07:34] chenchun commented on #44063
I found a way to implement both VIP service or nodeport via ipvs full-nat support according to http://archive.linuxvirtualserver.org/html/lvs-devel/2010-07/msg00033.html .

[code]

[2017-04-21 07:59] xingzhou commented on #44697
yeap, while creating the pod, a parent cgroup will be created and the resource limit will be set to the sum of pod's containers resource limit(excluding init-containers'). As a result, the parent cgroup resource limit shall at least do a comparison against the biggest ini-container's resource limit and choose the bigger one. I'll try to provide a fix

[2017-04-21 08:06] jsafrane opened #44757 "Test_AttachDetachControllerRecovery is flaky"
[code]

See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44755/pull-kubernetes-unit/27264/ for details

[2017-04-21 08:55] wojtek-t commented on #44757
I've just seen another failure of this test - this time data race:

[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44756/pull-kubernetes-unit/27266/

[2017-04-21 09:11] likunbyl opened #44758 "Start kubelet with --registrer-with-taints can't set taints for the node"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1+coreos.0", GitCommit:"9212f77ed8c169a0afa02e58dce87913c6387b3e", GitTreeState:"clean", BuildDate:"2017-04-04T00:32:53Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{M

[2017-04-21 09:12] hiscal2015 opened #44759 "secret mount: Invalid specification: destination can't be '/'"
I want to mount a secret value to /nginx.conf but failed with error "Invalid specification: destination can't be '/'", how can I do? Thanks for the help.

Kubernetes version: 1.5.4
here's part of deployment:

[code]

[2017-04-21 09:17] tsmetana commented on #44757
Yes. My apologies: the attach/detach controller has changed quite a bit in the past few days and I didn't realize the introduction of shared informers would break the test.

[2017-04-21 09:25] jamiehannaford commented on #42621
@pmsteil @lanwenchang @CarwynNelson I think it's because the password file you provided the secret has a trailing newline. This will cause the `sed` error. Here's how to create the correct file:

[code]

[2017-04-21 09:26] jamiehannaford commented on #38269
@mbohlool Okay, should this new convention be documented somewhere? Or is it fine to just add to the code comment blocks? Fine with either one just wanted to know before I submit a PR.

[2017-04-21 09:27] YouriT commented on #30908
Just to be sure @thockin if I got it properly, in your initial post, you basically said that it's not valid and you proposed either to implement it, either to reject it when applying this config, right?

Hence, the question is: what choice has been made there with the resolution of the issue?

On 1.5.6, it isn't rejected and it doesn't work. So in order to know whether I should open a new issue or

[2017-04-21 09:54] jacekn commented on #43461
@chuckbutler  sorry about it but after more careful testing this is not fully resolved.

Connection strings are now fine in the relation data. However after extra testing I discovered that kubernetes-master config is still not updated on relation change. This is the file on k8s-master that I expect to be updated:
/var/snap/kube-apiserver/current/args

*--etcd-servers* option in particular. This is

[2017-04-21 09:54] gmarek commented on #44707
Get nodes and netcheck results are no longer in logs.

[2017-04-21 09:54] wojtek-t commented on #44757
This is failing pretty frequently now (50% of cases?).

So I'm bumping it's priority.

[2017-04-21 10:02] likunbyl commented on #44723
I suggest tcpdump to monitor the packages back and forth the busybox and kube-dns.
maybe busybox doesn't respect the dns  search policy, just send kubernetes.default to kube-dns for resolving, not append svc.cluster.local to it .

[2017-04-21 10:19] xiangpengzhao commented on #44128
Note that you specify affinity with spec.affinity in your pod yaml, but annotations in your deployment yaml. IIRC, affinity in annotations is not supported in 1.6 by default. You can set flag wrt `AffinityInAnnotations` for apiserver and kubelet to make affinity in annotations take effect.
@davidopp might confirm this.

[2017-04-21 10:41] kargakis commented on #44395
Opened https://github.com/kubernetes/kubernetes/pull/44672 that restores "Complete" to mean "All pods need to be available". Wrt the term "available", I have a proposal that is switching it to "stable" [here](https://github.com/kubernetes/community/pull/478).

[2017-04-21 10:48] caoyang001 commented on #43805
@Cisneiros  - you can try "yum update systemd"
test in CentOS7.2

[2017-04-21 10:55] rfalke opened #44762 "fieldRef docs wrongfully claim to support metadata.labels and metadata.annotations"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

fieldref

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPOR

[2017-04-21 11:04] jsafrane commented on #44757
@wojtek-t, out of curiosity, where do you get the failure rates? I see only two failed runs at https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=Test_AttachDetachControllerRecovery

[2017-04-21 11:08] wojtek-t commented on #44757
More empirical. This is another one:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44761/pull-kubernetes-unit/27279/

I've already had 3 today on my own PRs :) - so it's definitely not 2.

But generally I looked into:
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-test-go/
and all recent red seems to be about this test.

[2017-04-21 12:03] jfpucheu commented on #43856
Hello,

I got the same problem in CentOS Linux release 7.3.1611 (Core).

My workaround is to add:

ExecStopPost=/bin/bash -c "for i in $(systemctl list-unit-files --no-legend --no-pager -l | grep --color=never -o .*.slice | grep kubepod); do systemctl stop $i; done"

in /etc/systemd/system/kubelet.service.d/kubelet.conf

Jeff

[2017-04-21 12:36] #44757 closed

[2017-04-21 12:43] wojtek-t commented on #44707
I removed a bit more in #44761

Also to clarify, get nodes is removed in the code, but i think we need to push some new image for testing or sth like that.

[2017-04-21 12:45] ccwillia commented on #29739
Is there a work around for this issue?  I have 3 deployments now where the desired say 1 but the hpa has a minimum of 2.  I have tried removing only the deployments and recreating but that results in the same behavior

[2017-04-21 12:52] smarterclayton commented on #22448
Etcd3 has a grpc endpoint, so no, no rest calls.

[2017-04-21 13:02] vglazkov opened #44765 "Cannot attach gdbserver to process through kubectl"
Hello,

I have an issue with attaching gdbserver to process inside the pod. I'm able to successfully attach gdbserver to process on my local machine, but the same operation fails when I'm trying to do that through kubectl with pod, running inside my cluster. On my local machine I have the following workflow:

- run gdb

- `target remote | docker exec -i CONTAINER gdbserver - --attach PID`

- `set

[2017-04-21 13:34] EdSchouten commented on #26275
My observation is that not having any support for container-level labels also makes the way you can let Prometheus scrape multiple containers in one pod pretty awful:

https://github.com/prometheus/prometheus/issues/1864

At Kumina we have some pods running multiple containers, some of them providing metrics, some don't. In our case we'd like to say: "for these three containers, please scrape metr

[2017-04-21 13:51] wojtek-t commented on #44701
@shyamjvs - can you please first verify that if we change the size of nodes we will get comparable results?
Probably the easiest way to do it is to run real cluster without image-puller and compare with results in kubemark.

[2017-04-21 14:06] boosh commented on #33664
Unfortunately I can't get the second approach working with minikube. It gives various failures including auth failures:

  4s		4s		1	kubelet, minikube	spec.containers{survey}	Warning		Failed		Failed to pull image "survey@sha256:6882b4c826eddcd22ce1638cc70c12a37ce1ba088ae4917a3a9a50b91afa4844": rpc error: code = 2 desc = Error response from daemon: unauthorized: authentication required
  4s		4s		1

[2017-04-21 14:12] wojtek-t commented on #43600
@mml - would you be able to verify that?

[2017-04-21 14:20] gmarek opened #44767 "Make metrics_grabber work with kubemark"
We're gathering a number of prometheus metrics during our performance test runs from the master machine. We should make it work for kubemark masters as well.

@kubernetes/sig-scalability-misc

[2017-04-21 14:21] quinton-hoole commented on #39987
@nikhiljindal You pasted the same issue number twice above.  Did you mean #33312 and #37570?

[2017-04-21 14:32] CarwynNelson commented on #42621
@jamiehannaford I'll give that a go :) I find it kind of weird that my password file would have a trailing newline though.

I generated it by doing this:

`echo 'secretpassword' > password.txt`

I wouldn't imagine that would cause a newline character to be added to the password file?

[2017-04-21 14:35] kargakis commented on #36770
`make update` is broken on HEAD, basically due to godeps - is anybody fixing this or we have given up on it?

cc: @kubernetes/sig-contributor-experience-bugs

[2017-04-21 14:36] deads2k commented on #44620
Related to https://github.com/kubernetes/kubernetes/issues/43717

[2017-04-21 15:10] xiangpengzhao commented on #44030
/cc @thockin :)

[2017-04-21 15:13] spremraj84 commented on #44723
I am having the exact same problem as @Slahser with same errors in the logs. I have a similar setup in AWS as @Slahser . I cannot resolve kubernetes.default from the kubedns container as well. Any help would be appreciated.
` kubectl exec -n kube-system kube-dns-141550303-7m3m1 -c kubedns -- nslookup kubernetes.default

nslookup: can't resolve '(null)': Name does not resolve
nslookup: can't resolv

[2017-04-21 15:34] xiangpengzhao commented on #44030
/cc @thockin :)

[2017-04-21 15:34] deads2k commented on #44646
I'm not seeing `text/plain` against head and the pastebin is gone.  Did you reproduce?

[2017-04-21 15:37] liggitt commented on #44619
I would not want the aggregator to reimplement service IP/endpoint logic

[2017-04-21 15:38] liggitt commented on #44619
cc @kubernetes/sig-api-machinery-misc

[2017-04-21 15:41] liggitt commented on #44619
in particular, as services gain more functionality around load balancing between backing pods, etc, I would want the aggregator to get those benefits for free, not have to chance kube-proxy implementations.

[2017-04-21 15:43] deads2k commented on #44619
I agree.  I made a similar comment for similar reasons on the pull here: https://github.com/kubernetes/kubernetes/pull/44742#issuecomment-296226357 .

[2017-04-21 15:56] liggitt commented on #44759
you cannot mount items into the root of your container. doing so would shadow your entire container filesystem, making your container pretty useless

[2017-04-21 15:56] #44759 closed

[2017-04-21 16:05] davidberardozzi commented on #7890
+1

[2017-04-21 16:19] sonamsamdupkhangsar commented on #32334
I want to use and test your DO volume on my k8s cluster.  I am not familiar with how to integrate your code in my k8s cluster.  Can you show how I can use your code?

[2017-04-21 16:22] #43227 closed

[2017-04-21 16:53] MrHohn commented on #44750
Which k8s version are you using?

I'd recommend you to check dnsmasq container's log first. And could you provide more details WRT your firewall setup?

[2017-04-21 16:58] rsokolkov commented on #35188
Any updates here?

[2017-04-21 16:59] davidopp commented on #44128
Correct, as @xiangpengzhao said, in 1.6 we moved affinity from annotation to field.
You can find the updated documentation here:
https://kubernetes.io/docs/concepts/configuration/assign-pod-node/

There is also information in the 1.6 release notes.

[2017-04-21 16:59] #44128 closed

[2017-04-21 17:05] krousey commented on #44215
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-latest-upgrade-cluster/1475

Happened again.

[2017-04-21 17:07] stevesloka commented on #42718
I have an interest in this as well, just posted some questions to Slack before finding this. Please include me in a meeting. Thanks!

[2017-04-21 17:07] MrHohn commented on #44750
/area dns

[2017-04-21 17:12] fejta commented on #44707
Changes in kuberneres/kuberneres do not require a new image.

Kubetest changes do though.

[2017-04-21 17:13] jingxu97 commented on #38498
close the issue and please open it up again if the issue is not resolved in your case.

[2017-04-21 17:13] #38498 closed

[2017-04-21 17:26] spxtr commented on #44186
Possibly a dupe of #37622

[2017-04-21 17:29] mbohlool commented on #41269
I've tried from a clean state following steps in https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md and I got the same error (many of them):
[code]

My go[dep] version:

[code]

[2017-04-21 17:34] mbohlool commented on #41269
This is how I made it work:

[code]

I am not sure why it passes for you guys, is it possible that you somehow have `client-go` and `apimachinery` in path somewhere?

[2017-04-21 17:35] roberthbailey opened #44772 "Create an upgrade test for DNS"
This is an action item from the 1.6 retrospective.

Automated upgrade testing didn't catch #43668 because we didn't have explicit tests for DNS working across upgrades / downgrades.

/cc @kubernetes/sig-network-bugs @bowei

[2017-04-21 17:37] caesarxuchao commented on #41269
Please use hack/godep-restore.sh instead. It takes care of the staging folders.

[2017-04-21 17:55] benjigoldberg opened #44773 "Saltbase cluster config is missing proper Docker configuration for Ubuntu Xenial"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-21 17:57] freehan commented on #42735
Are you still able to reproduce the problem related to pod IP?

I am not familiar with aws cloud provider. cc @justinsb

[2017-04-21 18:04] wongma7 commented on #43515
I've identified a bug and am working on a fix for when "Unable to mount volumes for pod..." + "Error syncing pod" happen indefinitely BUT the pod is actually running just fine, as observed by @vdavidoff . For others, if you see this message but your pod is Running, you can safely ignore it. It's caused by a small limitation of the reconstruction of state (what volumes are mounted) so there is a ch

[2017-04-21 18:08] benjigoldberg commented on #44773
nevermind -- turns out Ubuntu isnt supported, only Debian or RedHat.

[2017-04-21 18:08] #44773 closed

[2017-04-21 18:14] rmmh commented on #44757
@jsafrane unfortunately, data races in Go tests aren't shown in the JUnit output, so you won't see it on testgrid. Here's the upstream bug: jstemmer/go-junit-report#41

[2017-04-21 18:30] rocketraman opened #44775 "[Azure] Support setting the DNS name label for public IPs created by ingress controllers"
**What keywords did you search in Kubernetes issues before filing this one?** ingress controller dns name

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

When deploying an ingress controller on Azure, Kubernetes helpfully creates a public IP address.

It would be useful to set the "DNS name label" of the created IP address based on an annotation in the Deployment.

[2017-04-21 18:47] lpshikhar commented on #33843
Any progress on the scale selector ?

[2017-04-21 18:48] jayunit100 opened #44776 "Figure out how to reduce any watch or http errors in schduler_perf"
**Bug**

Lots of errors happen due to various write/create operations during scheduler_perf runs.

Example 1: Failed Retry spam in scheduler, the same error occurs > 10 times/sec
[code]
Example 2: Various other sorts of failures, also happening at the subsecond level, spamming the results.
[code]
**version**

master

**What happened**:

Lots of write http failures for creating, events, and so on.

[2017-04-21 19:17] hasbro17 opened #44777 "Pod not removed from the API server after deletion with grace period"
**Problem Statement**:
The kubernetes [pod docs](https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods) state:
[code]
However deleting a pod with the `--grace-period` flag does not ensure it's removal from the API server within the specified time.

**Environment**:
- Kubernetes version : 1.6.1
- Cloud provider: GKE

**How to reproduce it**:

Run a sample pod like:
[code]
[cod

[2017-04-21 19:26] xrl commented on #41542
It includes the ruby runtime and requisite gems. It's the cost of running a Ruby process in there.

[2017-04-21 19:29] xrl opened #44778 "Provide documentation for fluentd cluster addon RBAC"
**Kubernetes version** (use `kubectl version`): 1.6.1

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Kops ubuntu
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**: I was trying to rerun my fluentd YAMLs on a newly minted kops-managed cluster and my fluentd ds pods were flapping. Turns out they use a se

[2017-04-21 19:32] nergdron commented on #27081
This is a big workflow pain for me. Forcing redeploys when config has changed is a requirement for any environment I work with.

[2017-04-21 19:33] haibinxie commented on #44063
@ChenLingPeng we create an dummy interface and assign all vips to it.

[2017-04-21 19:45] ravisantoshgudimetla commented on #44758
@likunbyl , we need to set register-node for --register-with-taints option. The **documentation(https://kubernetes.io/docs/admin/kubelet/) ** says following:
--register-with-taints []api.Taint   Register the node with the given list of taints (comma seperated "<key>=<value>:<effect>"). *No-op if register-node is false*.

Please let us know, if that does not work out.

[2017-04-21 20:06] quinton-hoole commented on #44063
Continuing to link other related conversations to this one, so that we can hopefully agree on and produce a working IPVS load balancing kube-proxy implementation sooner rather than later.

Thread in sig-networking mailing list: [IPVS backend in kube-proxy](https://groups.google.com/forum/#!topic/kubernetes-sig-network/59HG9SlypBc)

[2017-04-21 20:18] crassirostris commented on #41542
@xrl Meanwhile it was reduced to 170MB, as of version 2.0.2, that was the goal of this issue :)

I don't think it can be reduced any more, because it's purely ruby + gems, closing the issue

[2017-04-21 20:18] #41542 closed

[2017-04-21 20:20] swizzlr commented on #24198
I can confirm this worked for me under Kubernetes 1.6.1.

[2017-04-21 20:48] #25416 closed

[2017-04-21 20:49] #44229 closed

[2017-04-21 21:00] roberthbailey commented on #38336
@santinoncs

Yes, @maisem added a drain step as part of upgrading GKE nodes but it doesn't exec `kubectl drain` as a subcommand. Since drain is still client side, the implementation may be slightly different than what you get using the kubectl tool. In particular, I believe we don't yet honor the PodDisruptionBudget (as you noticed).

[2017-04-21 21:03] wongma7 commented on #41638
I created a cherrypick PR for 1.6 here: https://github.com/kubernetes/kubernetes/pull/44782 since this bug is against 1.6. Could someone (who agrees this could be cherrypicked) please add the cherrypick-candidate label + milestone to the original PR #43775, thank you!

[2017-04-21 21:11] rpothier opened #44783 "The unit test TestRunInitMasterChecks in cmd/kubeadm/app/preflight fails"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernete

[2017-04-21 21:12] saad-ali commented on #44739
Thanks for the proposal. Can you please open this issue under https://github.com/kubernetes/community/issues instead. kubernetes/kubernetes issues track actual code issues.

[2017-04-21 21:12] #44739 closed

[2017-04-21 21:14] enisoc commented on #43430
FYI I couldn't reproduce this in a full cluster (without minikube) on GCE with a method similar to https://github.com/kubernetes/minikube/issues/1252#issuecomment-295370860. I brought up the cluster, created the TPR, then "upgraded" the master to the same version, which removes and recreates the master VM while keeping the data volume intact.

The TPR is still there, and I don't see any panics. Th

[2017-04-21 21:14] maisem commented on #38336
As @roberthbailey pointed out we don't honor PodDisruptionBudget yet. However, we do have a high priority work item to fix this soon.

[2017-04-21 21:17] quinton-hoole commented on #44063
Wow!  I tried to skim-read most of the threads I could find on the topic of IPVS-based in-cluster service load balancing" (including those buried in other related threads, like the many on iptables-based load balancing).  While I cannot for one moment claim to have a clear picture in my head of exactly where we stand on all of the various problems, solutions etc, I can suggest that what we seem to

[2017-04-21 21:26] freehan commented on #44063
Please feel free to test your implementation with existing e2e tests.

Most of the service related tests is as follows:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/service.go
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/networking.go

[2017-04-21 21:28] mbohlool commented on #38269
Are you going to submit a PR to fix this issue? If so, yes, it is better to be documented somewhere. I am not sure where, but it should not be hard to figure it out if you look at main repo's documentation folder.

[2017-04-21 21:29] pipejakob commented on #44739
https://github.com/kubernetes/community/issues/564 created.

[2017-04-21 21:39] r2d4 commented on #43430
I wasn't able to reproduce it on a local non-minikube cluster either.  The full cluster case does run into a similar issue, but is specifically ignoring the error here https://github.com/kubernetes/kubernetes/pull/42862.  I don't think that the proposed PR is much different, but I understand if we want to keep it out of upstream.

[2017-04-21 21:44] calebamiles commented on #44683
testgrid looks clean again. Closing this issue.

**cc: @dchen1107, @kubernetes/kubernetes-release-managers**

[2017-04-21 21:44] #44683 closed

[2017-04-21 21:45] saad-ali commented on #44735
CC @kubernetes/sig-storage-feature-requests @kubernetes/sig-openstack-feature-requests

[2017-04-21 21:45] #43662 closed

[2017-04-21 21:47] saad-ali commented on #44732
CC @kubernetes/sig-storage-bugs

[2017-04-21 21:49] wongma7 commented on #44713
This has to do with mount propagation. I don't believe kubernetes does anything special to ensure docker volume bindings have a given propagation setting so the propagation setting for the hostPath volume binding depends what the setting is for Docker on the host. I'm guessing it's (r)private right now, you are observing that it recursively bind mounts all binds at the beginning but new mount even

[2017-04-21 21:49] saad-ali commented on #44728
Please re-post your question to [Stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2017-04-21 21:49] #44728 closed

[2017-04-21 21:52] haibinxie commented on #44063
@quinton-hoole it was tested over flannel, most of the functionalities are covered includes nodePort, externalIP and various source-dest traffic such as container-to-container (same host and cross host), host-to-container (same host and cross host) etc.

I do agree that various plugin and cloud providers (AWS, GCE) may work differently, we need to test them to make sure they all work.

[2017-04-21 21:58] tartavull commented on #9207
Same exact errors as @ensalty  and @scottstensland.
Where I have nodes without pods running on it, with more free resources than required by the pod.

[2017-04-21 22:00] xiangpengzhao commented on #43799
@timchenxiaoyu Do you use a CNI plugin or not? If not, I think you can call svc successfully in one node only if one of the backend pods is in this node. In such case, a pod is not accessible from outside of its node via pod ip.

@thockin Would you please confirm this or assign someone of sig-network guys? Correct me if I'm wrong please.

[2017-04-21 22:02] saad-ali commented on #44713
+1 to what @wongma7. This is something that has been considered, see https://github.com/kubernetes/community/blob/master/contributors/design-proposals/propagation.md and discussion in https://github.com/kubernetes/community/pull/193/files

[2017-04-21 22:02] #44713 closed

[2017-04-21 22:20] msau42 commented on #44732
Can you do a 'kubectl describe' on the pod and paste the volume errors under events?

What kind of volume are you using?

[2017-04-21 22:21] davidopp commented on #9207
@kubernetes/sig-scheduling-feature-requests

[2017-04-21 22:29] saad-ali commented on #44610
CC @kubernetes/sig-storage-bugs

Please reopen if bug still exists.

[2017-04-21 22:29] #44610 closed

[2017-04-21 22:33] roberthbailey commented on #7396
Obsoleted by https://github.com/kubernetes/kubernetes/pull/41672

[2017-04-21 22:33] #7396 closed

[2017-04-21 22:34] saad-ali commented on #44528
CC @kubernetes/sig-storage-feature-requests

[2017-04-21 22:38] roberthbailey commented on #7459
Quoting from [Kubernetes Architectural Roadmap (was Core/Layers Working Doc)](https://docs.google.com/document/d/1XkjVm4bOeiVkj-Xt1LgoGiqWsBfNozJ51dyI-ljzt1o/edit#):

I'm going to close this generic issue and let each provisioning solution solve this as they see fit.

[2017-04-21 22:38] #7459 closed

[2017-04-21 22:40] roberthbailey commented on #9085
@kubernetes/sig-node-feature-requests

[2017-04-21 22:40] saad-ali commented on #44297
This is by design. The mount/unmount logic is controlled by creation/deletion of the pod not the PVC. Arguably we should prevent the deletion of a PVC that is referenced by an active pod. But not super high priority,

CC @kubernetes/sig-storage-bugs

[2017-04-21 22:42] roberthbailey commented on #11882
Obsoleted by https://github.com/kubernetes/kubernetes/pull/42196.

[2017-04-21 22:42] roberthbailey commented on #11883
Obsoleted by https://github.com/kubernetes/kubernetes/pull/42196.

[2017-04-21 22:43] roberthbailey commented on #12245
@mikedanese is going to be driving the component configuration standardization for 1.7.

[2017-04-21 22:44] roberthbailey commented on #12418
Closing in favor of https://github.com/kubernetes/kubernetes/issues/12245

[2017-04-21 22:44] #12418 closed

[2017-04-21 22:45] roberthbailey commented on #12476
Closing as stale. @mwielgus please re-open if this still happens on a 1.6 cluster.

[2017-04-21 22:45] #12476 closed

[2017-04-21 22:47] roberthbailey commented on #12914
#12915 merged. Marking as fixed.

[2017-04-21 22:47] #12914 closed

[2017-04-21 22:48] roberthbailey commented on #13048
@piosz - have we addressed this concern for heapster?

[2017-04-21 22:50] roberthbailey commented on #13676
Fixed by https://github.com/kubernetes/kubernetes/pull/10602

[2017-04-21 22:50] #13676 closed

[2017-04-21 22:50] jingxu97 commented on #43515
Because the error message is very generic, I think there might be different problems mentioned in this thread.
@vdavidoff 's issue could be fixed by @wongma7 's PR
@shepp67 are you still have any issues with mount?
@jonathan-kosgei could you also let us know whether you still have the issue? Thanks!

Jing

[2017-04-21 22:50] roberthbailey commented on #12080
Marking as obsolete since this hasn't been updated in over a year.

[2017-04-21 22:50] #12080 closed

[2017-04-21 22:51] roberthbailey commented on #14429
Docker multi-node has been removed. Marking as obsolete.

[2017-04-21 22:51] #14429 closed

[2017-04-21 22:51] roberthbailey commented on #16098
Closing as per the last comment.

[2017-04-21 22:51] #16098 closed

[2017-04-21 22:53] roberthbailey commented on #15484
I'm going to close this in favor of https://github.com/kubernetes/kubernetes/issues/8686

[2017-04-21 22:53] #15484 closed

[2017-04-21 22:54] roberthbailey commented on #16871
@davidopp - has this been fixed in the last year?

[2017-04-21 22:54] roberthbailey commented on #16871
@erictune

[2017-04-21 22:55] roberthbailey commented on #16454
The coreos installation guides have changed a lot in the last year, so I'm going to mark this as obsolete.

[2017-04-21 22:55] #16454 closed

[2017-04-21 22:56] roberthbailey commented on #17228
We've removed the multi-node docker deployment and the single node deployment has been deprecated in favor of minikube. Marking as obsolete.

[2017-04-21 22:56] #17228 closed

[2017-04-21 22:56] roberthbailey commented on #17395
Obsoleted by https://github.com/kubernetes/kubernetes/pull/42196.

[2017-04-21 22:56] #17395 closed

[2017-04-21 22:56] justinsb commented on #11882
Sadly not @roberthbailey - it's a problem in the AWS API itself, so affects our creation of ELBs, EBS volumes, security groups etc.  We have code to push it way down into the long tail, but it remains an issue.

[2017-04-21 22:58] roberthbailey commented on #17605
Marking as obsolete. Please reopen if you still see this on 1.6 runs of kube-up.

[2017-04-21 22:58] #17605 closed

[2017-04-21 22:58] roberthbailey commented on #17789
Obsoleted by https://github.com/kubernetes/kubernetes/pull/41672.

[2017-04-21 22:58] #17789 closed

[2017-04-21 22:59] quinton-hoole commented on #44647
Thanks @mtaufen, @fejta  I have just joined SIG-testing, and will gladly help with this:

I think it's super-important for the SIG's/domain experts to re-review all of these deleted tests, and re-enable the ones that provide useful coverage as soon as they've been fixed.

@fejta @kubernetes/sig-testing-misc Do we have any test coverage metrics?

@fejta Are they going down as a result of removing a

[2017-04-21 22:59] justinsb commented on #11883
Sadly not @roberthbailey .  Now that node names are no longer required to be resolvable, this is doable in the cloudprovider I believe, though still would be a non-trivial piece of work.

One big problem we have today is that node names are not unique; because they derive from the IP if you're in a small subnet reuse _does_ happen.

[2017-04-21 23:00] roberthbailey commented on #18375
Marking as obsolete.

[2017-04-21 23:00] #18375 closed

[2017-04-21 23:01] roberthbailey commented on #18503
Hi @jogendrajangid1. I'm sorry you never got a response to this issue. However, at this point we are long past the 1.1 branch so I'm going to close this as obsolete. If you are still having issues with kube-up with a recent release (1.6 or 1.5) please open a new issue. Thanks.

[2017-04-21 23:01] #18503 closed

[2017-04-21 23:02] roberthbailey commented on #19388
Obsoleted by https://github.com/kubernetes/kubernetes/pull/42196.

[2017-04-21 23:02] #19388 closed

[2017-04-21 23:03] calebamiles commented on #44777
Could someone from @k8s-mirror-api-machinery-bugs or @kubernetes/sig-node-bugs help triage this issue? Thanks!

**cc: @philips**

[2017-04-21 23:04] mtanino commented on #44297
@saad-ali

Thank you for your comment.

Yes, I saw the mount/unmount logic is issued during pod creation/deletion instead of during the PVC creation. I suppose mount should be called at Pod creation time but unmount would be called by both Pod deletion and PVC deletion.
But I'm not sure if we can unmount a volume from online container. Is this the reason of current design?

Thanks.

[2017-04-21 23:05] roberthbailey commented on #11882
Ah, so it's an aws cloud provider issue rather than an aws kube-up issue.

[2017-04-21 23:07] jingxu97 commented on #24687
@avra911 sorry that I missed your message. It does not matter how the cluster is created, I think.

[2017-04-21 23:08] jingxu97 commented on #24687
All users, now NFSv3 is also supported on GKE, please give it a try and let us know if there is any problem. Thanks!

[2017-04-21 23:12] davidopp commented on #16871
I don't know -- maybe someone from @kubernetes/sig-apps-bugs can check

[2017-04-21 23:19] foxish commented on #16871
@crimsonfaith91 do you want to take a look at this and verify that this is resolved?

[2017-04-21 23:21] saad-ali commented on #44297
Unmounting a volume before terminating the pod/container can cause bad things to happen (data loss!). So we want to avoid that. Therefore, I'd suggest preventing the deletion of a PVC that is referenced by an active pod as the only change, if any.

[2017-04-21 23:35] fejta commented on #44647
Please sign up and fix (and maintain) any suite and/or test that provides you with an important signal.

We absolutely want to run tests that people are interested in maintaining.

Unfortunately there are a myriad of ignored, useless, redundant and unloved suites that were randomly added.

The goal is to identify the valuable suites from the rest.

[2017-04-21 23:37] freehan commented on #44702
Does `kube-proxy-k8s-2` run in host network?
Where is the ip 10.0.2.15 come from? the container bridge?

[2017-04-21 23:38] crimsonfaith91 commented on #16871
sure! let me have a look at it. :)

[2017-04-21 23:42] mtanino commented on #44297
@saad-ali

I understand the policy behind of this design. In this case, I think preventing the deletion of a PVC is a appropriate solution to prevent this problem too.
Thank you for your quick response.

[2017-04-21 23:44] liggitt commented on #24198
Great, thanks

[2017-04-21 23:44] #24198 closed

[2017-04-21 23:46] ichekrygin commented on #25238
Hi guys, remove `replicas` from deployment or setting it to `0` does not seem to work (v1.5.6).
Use-case:
1. create deployment with `replicas:3`
2. create hpa with `--min=5`
---
a) applying deployment.yaml with `replicas:0` - removed *all* the pods
b) applying deployment.yaml with `replicas` removed - scaled down deployment to a single pod (default)

[2017-04-21 23:50] liggitt commented on #44054
Keeping open to track client builder improvements

[2017-04-21 23:51] quinton-hoole commented on #44647
@fejta Do you have answers to the two questions I asked?  To repeat them...

@fejta @kubernetes/sig-testing-misc Do we have any test coverage metrics?

@fejta Are they going down as a result of removing all these failing tests?

@fejta @kubernetes/sig-testing-misc I don't see any OWNERS files in https://github.com/kubernetes/test-infra ? Is that perhaps how all of these ignored, useless, redundant

[2017-04-21 23:51] jayunit100 commented on #9207
cluster/kubectl.sh get pod redis-master-223378846-1k1d8 -o=json | grep -A 10 status                 Will show a more useful roll up ofnpredicate -> count
so code think this is closed now

[2017-04-22 00:04] liggitt commented on #44646
I did last week. Insecure and secured port behaved differently

[2017-04-22 00:05] quinton-hoole commented on #44647
@fejta Oh, and just so we're clear on the terminology I'm using, I consider a "deleted" test job to be one that no longer exists in test configuration files (like the ones you deleted in the PR's linked above).  By disabled, I mean test configurations that exist in the configuration files, but which are not routinely run by our continuous integration machinery (e.g. with a DISABLED=true flag or si

[2017-04-22 00:44] fejta commented on #44647
Once someone demonstrates a suite passes we can add it back.

Constantly failing tests that no one is fixing have negative value. They are worse than no tests. Ignored failures reduce the visibility of other failures. And teach the community that failures are not important to investigate and resolve.

I agree it is important to find owners for each suite that we can expect to maintain the health o

[2017-04-22 00:46] fejta commented on #44647
I do not know what/whether the deleted scenarios cover and whether it is important.

Empirically it does not appear that any of them are valuable enough for someone to consider them worth their time to step up and maintain them.

[2017-04-22 01:01] jchauncey commented on #44732
[code]

[2017-04-22 01:04] quinton-hoole commented on #44647
@fejta, I think you might have misunderstood my proposal to undelete and disable the tests.  There would be no constantly failing tests, as they would be disabled and hence not be running.  So I don't think that what you've mentioned applies at all.

To your other point. To give an example of a test suite that failed for over a year, but provided great value, the soak tests.  They demonstrated con

[2017-04-22 01:42] fejta commented on #44647
Another example are the federation suites, many of which have passed zero times in 2017. When flagged sig-federation stepped up to the plate and prioritized fixing them (yay!). These still exist.

Happy to do the same for any other suite someone is willing to maintain.

Also clearing them out of head on the master branch is equivalent to disabling them: they still exist at earlier commits. And thi

[2017-04-22 01:58] #44516 closed

[2017-04-22 02:01] liggitt commented on #44778
@kubernetes/sig-auth-pr-reviews

[2017-04-22 02:58] hiscal2015 commented on #44759
@liggitt For docker engine we can run docker run -d -v /some/path/nginx.conf:/nginx.conf nginx:latest, but how can I mount just one secret key to a file in contrainer?

[2017-04-22 04:15] dhilipkumars commented on #14512
Proposed [deferContainers ](https://github.com/kubernetes/community/pull/483) would give better support for Cleanup steps db-migration etc.,

[2017-04-22 05:06] AlmogBaku commented on #2707
Since docker have changed it, and large-scaled applications such as ElasticSearch requires it, I guess it worth reconsideration.

/reopen

[2017-04-22 05:07] AlmogBaku commented on #2707
/assign @AlmogBaku

[2017-04-22 05:08] AlmogBaku commented on #2707
/reopen

[2017-04-22 05:08] AlmogBaku commented on #2707
/unassign @AlmogBaku

[2017-04-22 06:57] fejta opened #44790 "Flakes: deleting the Namespace of a PVC and Pod causes the successful detach of Persistent Disk"
/assign @saad-ali @childsb

The `[k8s.io] PersistentVolumes:GCEPD [Volume] should test that deleting the Namespace of a PVC and Pod causes the successful detach of Persistent Disk` test flakes presubmit testing in PRs six times per week

The https://go.k8s.io/triage site can focus on just this test: [link](https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=should%20test%20th

[2017-04-22 06:58] zhouhaibing089 commented on #44777
I think I met this problem as well(and in 1.5 branch), in my case, it is:

1.  I created a pod.
1.  pod is scheduled.
1.  kubelet dies because of an error `[Container runtime is down]`.

I try this command `kubectl delete pod <name> --grace-period=0 --v=10`, all the output in console is printing `get pods`, and it never ends.

And the way I get it deleted is:

1.  restart the docker on node.(since

[2017-04-22 07:00] davidopp commented on #3138
Nice blog post on it
https://blog.openshift.com/managing-the-lifecycle-of-openshift-clusters-vetting-openshift-installations/

[2017-04-22 07:04] fejta opened #44791 "Service endpoints latency should not be very high flakes"
/assign @dcbw @thockin @caseydavenport @bowei

The `[k8s.io] Service endpoints latency should not be very high [Conformance]` test flaked six times last week during blocking presubmit testing of PRs.

The http://go.k8s.io/triage page can focus on a single test: [link](https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=Service%20endpoints%20latency%20should%20not%20be%20

[2017-04-22 07:06] fejta commented on #44790
Previous attempt to address this flake: https://github.com/kubernetes/kubernetes/pull/43336

[2017-04-22 07:09] fejta opened #44792 "Flaky: multiple PVs and PVCs all in same ns should create 4 PVs and 2 PVCs"
/assign @saad-ali @childsb

The `[k8s.io] PersistentVolumes [Volume] [k8s.io] PersistentVolumes:NFS with multiple PVs and PVCs all in same ns should create 4 PVs and 2 PVCs: test write access` test flaked six times last week during blocking presubmit testing of PRs.

The http://go.k8s.io/triage page can focus on a single test: [link](https://storage.googleapis.com/k8s-gubernator/triage/index.html?

[2017-04-22 08:15] jonathan-kosgei commented on #43515
Hi @jingxu97 my issue was related to https://github.com/kubernetes/kubernetes/issues/12964#issuecomment-289785243 which @thockin helped me sort out. I was creating the gluster endpoints without a service and turns out the kube-controller  deletes all such endpoints that are not attached to a service at regular intervals. So after every so often when a pod went down and tried to come up again and m

[2017-04-22 08:16] humblec commented on #43069
@bootc the latest debian packages are available @https://download.gluster.org/pub/gluster/glusterfs/3.10/LATEST/Debian/ , it looks like the BASEIMAGE/IMAGE referred in hypercube has older versions of it. I am not sure who maintain hypercube dockerfile. Need to loop the maintainer for getting it updated.

[2017-04-22 08:23] humblec commented on #28454
@alikhajeh1 As Steve mentioned, we need to add the support in heketi first and then call it from the provisioner. The provisioner part is already in WIP https://github.com/kubernetes/kubernetes/pull/44174

[2017-04-22 08:23] humblec commented on #28454
/assign

[2017-04-22 08:25] humblec commented on #28454
@rootfs Can you assign this issue to me ?

[2017-04-22 11:06] avmorozov87 commented on #23144
Does anybody know how to fix this problem?

[2017-04-22 12:43] felixbuenemann commented on #27308
The following command will fetch the current-context for scripting:

[code]

[2017-04-22 13:06] xiangpengzhao commented on #43567
As for `nsenter`, you should have it in your $PATH.
See https://github.com/jpetazzo/nsenter

[2017-04-22 13:19] unixwitch opened #44799 "Definition of v1beta1 HTTPIngressPath.path is unclear"
**Is this a request for help?**: No
**What keywords did you search in Kubernetes issues before filing this one?**: "Ingress", "Ingress path".

---

**Is this a BUG REPORT or FEATURE REQUEST?**: Neither.
**Kubernetes version** (use `kubectl version`): N/A (any)
**Environment**:
- **Cloud provider or hardware configuration**: N/A (any)
- **OS** (e.g. from /etc/os-release): N/A (any)
- **Kernel** (e.

[2017-04-22 13:32] keegancsmith commented on #44713
@wongma7 thank you that makes a lot of sense. @saad-ali thanks for the linkage to further information.

[2017-04-22 13:53] jimmidyson commented on #22405
@mbohlool I would love to see what a generated Java client looks like from swagger-codegen, with a concern shared by some of our client consumers to keep dependencies minimal. Do you have a start on this somewhere or a pointer on best way to generate locally?

Our client is almost definitely the most widely used Java client out there and I echo @iocanel's feeling that we wouldn't want to reinvent

[2017-04-22 14:29] aga20 commented on #28454
Hello,

sorry for late reply I didn't get any notification.
@alikhajeh1 Maybe this can be helpful for you: now we create own gluster volumes (we don't use hekete, etc...) and we created an encrypted volume too. We specify theencyption key/keypath during the volume creation. We set this keypath: /etc/glusterfs/key. You have to share this key with the other nodes who will use the encrypted volume an

[2017-04-22 14:30] #27343 closed

[2017-04-22 14:37] ivanjaros commented on #7890
damn, two years and no interest from google in his.

[2017-04-22 15:24] kargakis commented on #25238
@ichekrygin [if replicas is not specified, it will be defaulted to 1](https://github.com/kubernetes/kubernetes/blob/e0ba40b67c76b0734bedafbc547a24b5eedd441f/pkg/apis/extensions/v1beta1/defaults.go#L73)

[2017-04-22 15:47] maxekman commented on #7890
+1, this would indeed be a very useful feature. We have a current use case for storing DB backups directly in GCS for example.

[2017-04-22 15:59] quinton-hoole commented on #44647
@fejta sig-federation had already prioritized fixing their e2e tests before you proposed deleting them.  So doing that just created busy work.

Do you have an answer to the question I posed above?  To repeat:

@fejta @kubernetes/sig-testing-misc I don't see any OWNERS files in https://github.com/kubernetes/test-infra ? Is that perhaps how all of these ignored, useless, redundant and unloved suites

[2017-04-22 16:27] msau42 commented on #44732
Do you have any pods on node gke-jchauncey-default-pool-d028faf6-v40j that are still using the same PVC?

[2017-04-22 16:46] xiangpengzhao commented on #44762
See also #43222

[2017-04-22 16:52] liggitt commented on #44791
namespace cleanup is @kubernetes/sig-api-machinery-test-failures

[2017-04-22 16:52] liggitt commented on #44791
cc @derekwaynecarr

[2017-04-22 16:55] liggitt commented on #44200
do you see this issue with all secret volume mounts?

cc @kubernetes/sig-storage-bugs @pmorie @ncdc

[2017-04-22 16:57] kargakis commented on #44646
You can reproduce this using `oc` against a Kubernetes cluster built from HEAD

[2017-04-22 16:58] #41846 closed

[2017-04-22 16:58] kargakis opened #44800 "kubectl scale has no --all flag, yet it suggests it to me"
[code]
@kubernetes/sig-cli-bugs

[2017-04-22 17:11] liggitt commented on #40754
are you running HA etcd?

[2017-04-22 17:38] ncdc commented on #44200
What kernel version do you have? It may be too old / have bugs re mounts.

[2017-04-22 17:43] liggitt commented on #43430
#42862 has to deal with unknown restmappings because it is looking them up based on user input which could be completely bogus.

The proposed PR for this issue is masking inconsistently registered internal groups and versions for TPR objects. We should fix the inconsistency by removing the version registration, not mask it (per @deads2k's comment)

[2017-04-22 17:53] r2d4 commented on #43430
Thanks for the clarification.  I'll update the PR to remove the version registration.

[2017-04-22 18:12] klausenbusk commented on #32334
Please see his PR: https://github.com/kubernetes/kubernetes/issues/36894, but I don't think it is worth the trouble as you will need to compile k8s yourself and the code is ~ 6 months old, so it doesn't contain the latest feature.

I use RexRay as written her: https://github.com/kubernetes/kubernetes/pull/36894#issuecomment-290937659 , 1.6 support is on the way, see: https://github.com/codedellemc