[2017-06-15 20:43] liggitt commented on #17612
what does `kubectl get pods -w --show-all` do?

[2017-06-15 20:43] mengqiy opened #47613 "cmd test junit output naming"
[Testgrid](https://k8s-testgrid.appspot.com/release-master-blocking#test-go) is not picking the cmd test junit output due to file naming issue.
The file name should match regex `'junit(_[^_]+)?(_\d+-\d+)?(_\d+)?.xml'`

/assign

[2017-06-15 20:48] caseydavenport commented on #45915
Fix is in #46785 and is just waiting for the submit queue at this point.

[2017-06-15 20:48] dcbw commented on #46919
@MrHohn can we close this now that the 1.7 and 1.6 fixes have merged?

[2017-06-15 20:49] caesarxuchao commented on #47601
yes, the "enable-garbage-collector" controls that.

But there is another test that relies on the finalizers, https://github.com/kubernetes/kubernetes/blob/master/test/e2e/garbage_collector.go#L264, that test is passing.

[2017-06-15 21:00] MrHohn commented on #46919
Yeah sounds good.

/close

[2017-06-15 21:00] #46919 closed

[2017-06-15 21:00] MrHohn commented on #46917
/close

[2017-06-15 21:00] #46917 closed

[2017-06-15 21:02] galal-hussein commented on #47120
I am having similar issue when upgrading from 1.5.4 to 1.6.4, the infra containers are deleted immediately after the upgrade,  the kubelet logs shows the following:
[code]
however the infra container used is the same in 1.5 and 1.6  `gcr.io/google_containers/pause-amd64:3.0` , also i disabled docker-cri.

[2017-06-15 21:03] ixdy commented on #47386
The new `debian-base-amd64` image appears to have removed `libcap.so.2`. I'm not sure if this was expected, but it caused at least fluentd to stop working on COS (#47600). This might also affect kubeproxy, which uses `debian-iptables-amd64` (a derivative of `debian-base`).

[2017-06-15 21:05] ixdy commented on #47386
also the metadata-proxy, prometheus-to-sd, the fluentd-event-exporter, and ip-masq-agent.

[2017-06-15 21:08] spiffxp commented on #17665
/sig cluster-lifecycle
/area platform/gce

[2017-06-15 21:09] msau42 commented on #43872
/sig storage

[2017-06-15 21:10] spiffxp commented on #18396
/sig cluster-lifecycle
/area platform/gce
since we lack a sig-gcp at the moment

[2017-06-15 21:20] spiffxp commented on #18525
/sig cluster-lifecycle

[2017-06-15 21:21] spiffxp commented on #18525
actually, it looks like this was fixed by #33718
/assign

[2017-06-15 21:21] spiffxp commented on #18525
/close

[2017-06-15 21:21] #18525 closed

[2017-06-15 21:22] spiffxp commented on #19138
/sig instrumentation

[2017-06-15 21:22] spiffxp commented on #19138
/assign
closing due to inactivity

[2017-06-15 21:22] spiffxp commented on #19138
/close

[2017-06-15 21:22] #19138 closed

[2017-06-15 21:23] spiffxp commented on #19329
/sig node
since the aforementioned issue is also tagged as node

[2017-06-15 21:25] spiffxp commented on #19722
/sig scheduling
since this is referring to priority functions

[2017-06-15 21:28] spiffxp commented on #19969
/sig apps
I'm under the impression sig-apps owns configmaps

[2017-06-15 21:28] dcbw commented on #46379
Is this actually the fluentd certificate problem?  At least one node for ci-kubernetes-e2e-gci-gce-ip-alias is reporting those failures, and if fluentd is supposed to be running before the tests start, that's not going to work very well...

[2017-06-15 21:28] cmluciano commented on #46379
/assign

[2017-06-15 21:28] dcbw commented on #46379
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ip-alias/2277/artifacts/bootstrap-e2e-minion-group-1n7f/fluentd.log

[2017-06-15 21:29] spiffxp commented on #20100
/sig instrumentation
sending your way due to heapster

[2017-06-15 21:29] cmluciano commented on #46140
/assign

[2017-06-15 21:30] cmluciano commented on #46140
/close

fixed in #46352

[2017-06-15 21:33] spiffxp commented on #20206
/sig cluster-lifecycle
is the vagrant provider still supported?

[2017-06-15 21:37] spiffxp commented on #20219
/sig cluster-lifecycle
I'm assuming sig-cluster-lifecycle owns addon management

[2017-06-15 21:38] spiffxp commented on #34678
/sig cluster-lifecycle
I'm assuming sig-cluster-lifecycle owns addon management

[2017-06-15 21:40] spiffxp commented on #20227
/sig cli
If the original intent of this issue is satisfied by `kubectl cp` this can probably be closed, since that's been implemented

[2017-06-15 21:40] xiangpengzhao commented on #47597
sorry, I misunderstood:)

[2017-06-15 21:43] spiffxp commented on #24590
/sig cluster-lifecycle
/area platform/gce
since we lack a sig-gcp at the moment

[2017-06-15 21:44] spiffxp commented on #28436
/sig cluster-lifecycle
/area platform/gce
since we lack a sig-gcp at the moment

[2017-06-15 21:45] ssubramanian123 commented on #47142
@bowei Please review our latest command and provide your thoughts. Thanks in advance.

[2017-06-15 21:49] smarterclayton commented on #47448
Putting this into the milestone until implications are known

[2017-06-15 21:49] spiffxp commented on #20293
/sig cli
because kubectl
/sig api-machinery
because discovery

[2017-06-15 21:51] spiffxp commented on #20324
/assign
closing due to inactivity (also seems like if this was support, and not a bug, it should've been moved to stack overflow)

[2017-06-15 21:51] spiffxp commented on #20324
/close

[2017-06-15 21:51] #20324 closed

[2017-06-15 21:51] kargakis commented on #47611
/sig azure

[2017-06-15 21:52] spiffxp commented on #20332
/sig storage

[2017-06-15 21:55] monopole commented on #47553
"Up" is failing in the -new tests, e.g. [gke-cvm-1-5-cvm-1-7-upgrade-cluster-new Up](https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-cvm-1-5-cvm-1-7-upgrade-cluster-new&include-filter-by-regex=%5EOverall%24%7CUp)

Extract from [Log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-cluster-new/8/build-log.txt):
[code]

A little later:
[code]

[2017-06-15 21:55] spiffxp commented on #20352
/sig cli
/sig api-machinery
kubectl seems to be the main entrypoint for jsonpath, but client-go seems to be where it's implemented

[2017-06-15 21:57] spiffxp commented on #20367
/sig release
The linked KUBE_BUILD_PLATFORMS PR probably obviates this once merged

[2017-06-15 21:57] colemickens opened #47618 "hyperkube lacks nsenter causing kubenet hooks to fail"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "nsenter"

---

**Is this a BUG REPORT or FEATURE RE

[2017-06-15 21:59] colemickens commented on #47618
I can't tell if this is related: https://github.com/kubernetes/kubernetes/issues/42735

/sig sig-cluster-lifecycle-misc

[2017-06-15 22:00] spiffxp commented on #20396
/sig testing
/assign
I agree with the intent but think "we need to refactor e2e" is better covered by other issues, I'll just throw #42670 out there as one of them

[2017-06-15 22:00] spiffxp commented on #20396
/close

[2017-06-15 22:00] #20396 closed

[2017-06-15 22:02] spiffxp commented on #20661
/sig cluster-lifecycle
/area platform/gce
since we lack a sig-gcp at the moment

[2017-06-15 22:02] spiffxp commented on #20661
/remove-area platform/gce
/area platform/gke
(too much copy-pasta for lunch)

[2017-06-15 22:03] spiffxp commented on #21087
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-15 22:04] spiffxp commented on #21394
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-15 22:04] xiangpengzhao commented on #47581
My pleasure:) I hope I have labeled the right thing for this one and other issues.

[2017-06-15 22:05] spiffxp commented on #21563
/sig cluster-lifecycle
/area platform/gce
since we lack a sig-gcp at the moment

[2017-06-15 22:05] spiffxp commented on #21563
/assign
actually, I think this was fixed by the linked PR

[2017-06-15 22:05] spiffxp commented on #21563
/close

[2017-06-15 22:05] #21563 closed

[2017-06-15 22:07] spiffxp commented on #13695
/remove-sig node
/sig cluster-lifecycle
I'm assuming sig-cluster-lifecycle owns addon management

[2017-06-15 22:07] spiffxp commented on #23641
/sig cluster-lifecycle
I'm assuming sig-cluster-lifecycle owns addon management

[2017-06-15 22:07] dchen1107 commented on #37898
The issue is staled. Close it.

[2017-06-15 22:07] #37898 closed

[2017-06-15 22:08] dchen1107 commented on #37898
The issue is staled and no activity on it for a long time. Closed it.

[2017-06-15 22:09] spiffxp commented on #24170
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-15 22:09] dchen1107 commented on #38307
Closed this due to stale information.

[2017-06-15 22:09] #38307 closed

[2017-06-15 22:09] spiffxp commented on #24486
/sig cluster-lifecycle
/area platform/gce
since we lack a sig-gcp at the moment

[2017-06-15 22:10] spiffxp commented on #25613
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-15 22:10] spiffxp commented on #25613
/assign
I'm closing this due to inactivity and it seems like a support request that should have been kicked over to stackoverflow

[2017-06-15 22:11] spiffxp commented on #25613
/close

[2017-06-15 22:11] #25613 closed

[2017-06-15 22:11] dchen1107 commented on #43507
closed it due to staled information and no activity.

[2017-06-15 22:11] #43507 closed

[2017-06-15 22:13] dchen1107 commented on #43520
Closed this one since it is staled and no activity. There is a separate issue filed to track the flaky with better information.

[2017-06-15 22:13] #43520 closed

[2017-06-15 22:14] dchen1107 commented on #45139
Stale issue.

[2017-06-15 22:14] #45139 closed

[2017-06-15 22:19] spiffxp commented on #33306
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

https://k8s-testgrid.appspot.com/google-gke#gci-gke-serial-1.5 looks happy, but https://k8s-testgrid.appspot.com/google-gke#gci-gke-serial does not, so I don't know whether this is stale

[2017-06-15 22:21] spiffxp commented on #31436
/sig cli
because kubectl
/assign
closing due to inactivity, and I think this has been addressed

[2017-06-15 22:21] spiffxp commented on #31436
/close

[2017-06-15 22:21] #31436 closed

[2017-06-15 22:22] spiffxp commented on #29074
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-15 22:22] spiffxp commented on #27005
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-15 22:22] jrnt30 commented on #27114
Would it be possible to use a toleration/taint approach for the pod to manage the "state" of this lifecycle in a more persistent way and alleviate the use case of the Kubelet start?  I do understand how this could get a bit tricky, where we may need to also then keep the timestamp of the pods initial Readiness check.  If the pod gets evicted and replaced or restarted, what should happen then, etc.

[2017-06-15 22:35] ixdy commented on #47553
I thought this might be a GKE issue, but that only seems to be affecting 1.7, e.g. the regular 1.5 GKE jobs are running without issue: http://k8s-testgrid.appspot.com/google-gke#gci-gke-1.5&width=20

I have no idea how to debug GKE startup failures.

[2017-06-15 22:41] yujuhong commented on #33306
That's #47600, and should've been fixed already.

This issue is for release-1.3, which is no longer visible on the dashboard. Closing.

[2017-06-15 22:41] #33306 closed

[2017-06-15 22:48] spiffxp commented on #20653
/sig testing
/assign
I think it's time to close this or at least open over in test-infra if we still care

[2017-06-15 22:48] spiffxp commented on #20653
/close

[2017-06-15 22:48] #20653 closed

[2017-06-15 22:49] spiffxp commented on #20417
/sig cluster-lifecycle
/area platform/gce
since we lack a sig-gcp at the moment

[2017-06-15 23:04] dnardo commented on #47379
I think I have an idea what happened here.  It looks like this PR changed the cluster CIDR from 10.180/14 to 10.100/14
https://github.com/kubernetes/kubernetes/commit/0e6af317a8567271231487b2e3463236b5c9b6dd

However I see the the e2e node test assumes the pod cider is 10.180.0/24
Here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/services/kubelet.go#L140

And Here:
https://g

[2017-06-15 23:09] gyliu513 commented on #47576
Thanks @MrHohn and @foxish , so any comments for how to handle the case of nginx? Seems the `terminationGracePeriodSeconds` cannot handle this case well.

[2017-06-15 23:17] #33304 closed

[2017-06-15 23:17] #33305 closed

[2017-06-15 23:17] #33307 closed

[2017-06-15 23:17] #33308 closed

[2017-06-15 23:17] #33320 closed

[2017-06-15 23:17] #33323 closed

[2017-06-15 23:17] #33324 closed

[2017-06-15 23:17] #33326 closed

[2017-06-15 23:17] #33328 closed

[2017-06-15 23:17] #33329 closed

[2017-06-15 23:17] #33330 closed

[2017-06-15 23:17] #33331 closed

[2017-06-15 23:17] #33383 closed

[2017-06-15 23:17] #33300 closed

[2017-06-15 23:17] #33302 closed

[2017-06-15 23:18] spiffxp commented on #20430
/assign
addressed by the linked PR

[2017-06-15 23:18] spiffxp commented on #20430
/close

[2017-06-15 23:18] #20430 closed

[2017-06-15 23:19] spiffxp commented on #20457
/sig testing

[2017-06-15 23:24] spiffxp commented on #20508
/sig cli

[2017-06-15 23:24] MrHohn commented on #47576
@gyliu513 Probably two ways to tackle this:
- Add the preStop hook to nginx pod: https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#hook-details
- Redirect sigterm signal for nginx image: [k8s-dns-dnsmasq image for example ](https://github.com/kubernetes/dns/blob/master/images/dnsmasq/Dockerfile.cross#L28-L30)

[2017-06-15 23:25] shiywang commented on #47608
will take a look

[2017-06-15 23:27] spiffxp commented on #20641
/sig node

[2017-06-15 23:34] monopole commented on #47553
Tracking (google only) GKE issue here: b/62674799

[2017-06-15 23:38] spiffxp commented on #20743
😄

/assign
I'm going to close this out due to inactivity, feel free to reopen and assign an appropriate sig if you're willing to tackle this @jayunit100

[2017-06-15 23:39] spiffxp commented on #20743
/close

[2017-06-15 23:39] #20743 closed

[2017-06-15 23:40] mindprince opened #47622 "Some GKE tests are failing because of calico-typha pod being unschedulable"
Example: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-alpha-features/13492

[code]

cc - @dnardo @caseydavenport

Maybe related to #47188

/sig network
/area platform/gke
/kind bug
/priority failing-test

[2017-06-15 23:43] spiffxp commented on #20767
/sig network
I'm assuming sig-network owns kube-proxy

[2017-06-15 23:45] spiffxp commented on #20786
/kind support
/assign
closing due to support issue, the last comment links to stackoverflow that answers the question

[2017-06-15 23:45] spiffxp commented on #20786
/close

[2017-06-15 23:45] #20786 closed

[2017-06-15 23:45] dnardo commented on #47622
/assign

[2017-06-15 23:45] dnardo commented on #47622
/assign @caseydavenport

[2017-06-15 23:46] spiffxp commented on #20715
/sig release

[2017-06-15 23:46] dnardo commented on #47622
I guess DaemonSet's behave differently the deployments wrt to scheduling.  So in the DaemonSet case we return no nodes to run on since no labels match.  In the deployment case (Typha) we want to run at least one thing and cannot so it sits in pending.

Maybe the default for typha should be replicas 0?  And then we can set the replicas at runtime?

[2017-06-15 23:50] yguo0905 commented on #44003
http://node-perf-dash.k8s.io has been fixed. This can be closed.

[2017-06-15 23:50] dnardo commented on #47622
Actually maybe leave it as is for now but in the e2e test maybe we just set it to 0?

[2017-06-15 23:50] spiffxp commented on #20679
/sig storage
because volume
/sig instrumentation
because metrics

[2017-06-15 23:50] shrutir25 opened #47623 "Azure Attach/Detach Disk api calls do not correctly monitor status"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
Azure Attach/Detach
---

**Is this a BUG REPORT or

[2017-06-15 23:51] spiffxp commented on #20685
/assign
closing due to inactivity, and support issues should be handled via stackoverflow

[2017-06-15 23:51] spiffxp commented on #20685
/close

[2017-06-15 23:51] #20685 closed

[2017-06-15 23:52] #47559 closed

[2017-06-15 23:52] spiffxp commented on #20659
/sig api-machinery
I'm assuming sig-api-machinery owns client-go

[2017-06-15 23:53] dchen1107 commented on #46532
I am closing this one since there is a separate internal bug tracking GKE creation failure already.

[2017-06-15 23:53] #46532 closed

[2017-06-15 23:54] dchen1107 commented on #46530
Close this since it is gke specific testing issue, and a separate bug was filed.

[2017-06-15 23:54] #46530 closed

[2017-06-15 23:55] spiffxp commented on #20689
/sig network
I can't really tell what this is about but it's not sig-testing; I'm assigning based on port-forwarding being the last comment

/assign
closing due to inactivity

[2017-06-15 23:55] spiffxp commented on #20689
/close

[2017-06-15 23:55] #20689 closed

[2017-06-15 23:55] shrutir25 commented on #47623
/sig azure

[2017-06-15 23:56] dchen1107 commented on #46529
Closed this one. The issue was fixed.

[2017-06-15 23:56] #46529 closed

[2017-06-15 23:58] dchen1107 commented on #46298
I prefer to close this one since the data is stale already. Also it also include downgrade from 1.6 to 1.5. Move it out 1.7 milestone, and leave the 1.6 release team to decide if closing this.

[2017-06-15 23:58] #45848 closed

[2017-06-16 00:03] dchen1107 commented on #45843
Please ignore ci-kubernetes-e2e-gci-gke-reboot-release-1.5 failures. But gce-examples test job is keeping failure. Should them be the release blocker? cc/ @kubernetes/sig-apps-misc

https://k8s-testgrid.appspot.com/google-gce#gce-examples

[k8s.io] [Feature:Example] [k8s.io] Cassandra should create and scale cassandra 8m37s
go run hack/e2e.go -v -test --test_args='--ginkgo.focus=\[Feature\:Example

[2017-06-16 00:05] spiffxp commented on #47613
/sig testing

[2017-06-16 00:05] caseydavenport commented on #47622
Discussed with @dnardo, I think the right fix is [in this function](https://github.com/caseydavenport/kubernetes/blob/948c6c8027f47f0ac28098976dcd464770f785d4/cluster/gce/container-linux/configure-helper.sh#L56).

We should return typha_count=0 if NETWORK_POLICY_PROVIDER is not set to `calico`.

[2017-06-16 00:06] dchen1107 commented on #45843
@kow3ns can you help to triage if this is a release blocker for 1.7? If it is, please approve it for the milestone. Thanks!

[2017-06-16 00:07] kargakis commented on #21334
/sig cli

[2017-06-16 00:07] kargakis commented on #21329
@kubernetes/sig-network-misc

[2017-06-16 00:07] kargakis commented on #21315
/sig docs

[2017-06-16 00:07] liggitt commented on #47574
I don't see this being built into the API, but as an external analysis/diagnostic tool, I agree it could be useful

[2017-06-16 00:08] kargakis commented on #21296
@kubernetes/sig-release-misc

[2017-06-16 00:08] kow3ns commented on #45843
@dchen1107 not a release blocker. We are discussing removing these tests.

[2017-06-16 00:09] kargakis commented on #21219
/sig aws

[2017-06-16 00:11] kargakis commented on #21133
/sig contributor-experience

[2017-06-16 00:11] dchen1107 commented on #28632
Do we must resolve this for 1.7? I think it is too late to make any change for this one at this moment. But we can kick out the discussion in the community now.

cc/ @kubernetes/kubernetes-release-managers WDYT?

[2017-06-16 00:12] spiffxp commented on #20919
/sig testing
I'm not sure we're solving this any time soon, but I still think it's test hygiene worth advocating

[2017-06-16 00:12] kargakis commented on #21113
@kubernetes/sig-apps-feature-requests

[2017-06-16 00:12] kargakis commented on #21093
/sig testing

[2017-06-16 00:13] spiffxp commented on #47618
/sig cluster-lifecycle

[2017-06-16 00:13] dchen1107 commented on #45843
Thanks for such quick response. I move this to 1.8 milestone. Feel free to refile separate issues for tests, and close this one.

[2017-06-16 00:13] kargakis commented on #21053
Seems fixed now
/close

[2017-06-16 00:13] #21053 closed

[2017-06-16 00:13] spiffxp commented on #39178
/sig aws

[2017-06-16 00:13] pwittrock commented on #28632
Kick it out of all milestones.  This is clearly not urgent.

[2017-06-16 00:14] kargakis commented on #21052
/sig testing

[2017-06-16 00:14] #47581 closed

[2017-06-16 00:14] kargakis commented on #21002
/sig docs

[2017-06-16 00:14] dchen1107 commented on #47581
@xiangpengzhao You did! Also we all learn through the process anyway even we made the mistake initially. Thanks again!

[2017-06-16 00:15] kargakis commented on #21021
/sig testing

[2017-06-16 00:15] spiffxp commented on #33777
/sig scheduling

[2017-06-16 00:15] kargakis commented on #20902
/sig apps

[2017-06-16 00:15] spiffxp commented on #44504
/assign
closing due to inactivity

[2017-06-16 00:15] spiffxp commented on #44504
/close

[2017-06-16 00:15] #44504 closed

[2017-06-16 00:16] kargakis commented on #20849
/sig release

[2017-06-16 00:17] kargakis commented on #21808
/sig testing

[2017-06-16 00:18] kargakis commented on #21801
/sig node

[2017-06-16 00:19] kargakis commented on #21653
/sig cli

[2017-06-16 00:19] kargakis commented on #21643
/sig api-machinery

[2017-06-16 00:20] kargakis commented on #21633
/sig docs

[2017-06-16 00:20] kargakis commented on #21600
/sig testing

[2017-06-16 00:20] spiffxp commented on #44401
/sig node

/assign
it's flaked [once](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1467) in the last 166 runs, due to a different failure than is mentioned here; closing

[2017-06-16 00:20] spiffxp commented on #44401
/close

[2017-06-16 00:20] #44401 closed

[2017-06-16 00:21] spiffxp commented on #44247
/assign
closing due to inactivity

[2017-06-16 00:21] spiffxp commented on #44247
/close

[2017-06-16 00:21] #44247 closed

[2017-06-16 00:22] kargakis commented on #21588
/sig apps
/sig cli

[2017-06-16 00:24] #20849 closed

[2017-06-16 00:24] kargakis commented on #21588
You can use `kubectl rollout status` today with Deployments, DaemonSets, and StatefulSets to block until they get deployed. The command can only fail if you have specified ProgressDeadlineSeconds in Deployments and the deadline is exceeded during an upgrade. Eventually we should move ProgressDeadlineSeconds in the rest of the controllers.

[2017-06-16 00:25] kargakis commented on #21588
@kubernetes/sig-apps-misc

[2017-06-16 00:25] #21133 closed

[2017-06-16 00:25] kargakis commented on #21582
/sig cli

[2017-06-16 00:25] kargakis commented on #21579
/sig testing

[2017-06-16 00:26] kargakis commented on #21560
/sig api-machinery

[2017-06-16 00:26] kargakis commented on #21558
/sig docs

[2017-06-16 00:26] #34678 closed

[2017-06-16 00:26] kargakis commented on #21513
/sig network

[2017-06-16 00:26] mikedanese commented on #34678
Closing since this is pretty stale.

[2017-06-16 00:26] gyliu513 commented on #47576
Thanks @MrHohn , I was already using `preStop hook` to workaround this. Shall I close this one or keep it open to trace the issue of `terminationGracePeriodSeconds`?

[2017-06-16 00:27] kargakis commented on #21426
/sig testing

[2017-06-16 00:27] kargakis commented on #21447
/sig apps

[2017-06-16 00:27] kargakis commented on #21449
/sig testing

[2017-06-16 00:28] kargakis commented on #21500
/sig cluster-lifecycle

[2017-06-16 00:28] spiffxp commented on #20885
/assign
closing in favor of #13535

[2017-06-16 00:28] spiffxp commented on #20885
/close

[2017-06-16 00:28] #20885 closed

[2017-06-16 00:29] pwittrock commented on #47448
FWIW, any fix we make in 1.7 will not resolve the issue for helm versions vendoring in kubectl 1.6 libraries.  Helm would need to update the vendored kubectl libs to 1.7, which would resolve the issue without any code changes in kubectl anyway.

Kubectl not properly validating fields with types it doesn't have compiled is unfortunate, but IIRC this has been around for several releases, and we have

[2017-06-16 00:29] kargakis commented on #21229
/sig storage

[2017-06-16 00:30] kargakis commented on #21404
/sig testing

[2017-06-16 00:32] kargakis commented on #22354
/sig storage

[2017-06-16 00:32] kargakis commented on #22337
/sig cli

[2017-06-16 00:33] kargakis commented on #22207
/sig apps

[2017-06-16 00:34] kargakis commented on #22180
I think I have seen this recently

[2017-06-16 00:34] kargakis commented on #22180
/sig testing
/sig network

[2017-06-16 00:35] kargakis commented on #22136
/sig testing

[2017-06-16 00:35] kargakis commented on #22056
/sig release

[2017-06-16 00:37] kargakis commented on #21405
If the problem still persists, please ask in stackoverflow, slack, or the kubernetes-users mailing list.

[2017-06-16 00:37] #21405 closed

[2017-06-16 00:38] ixdy commented on #21426
fixed since #34577

[2017-06-16 00:38] #21426 closed

[2017-06-16 00:38] kargakis commented on #22035
Yes, now it does.

[2017-06-16 00:38] #22035 closed

[2017-06-16 00:40] kargakis commented on #21912
/sig apps
/sig autoscaling
and more I expect

[2017-06-16 00:41] kargakis commented on #22086
/sig testing

[2017-06-16 00:43] kargakis commented on #21883
/sig apps

[2017-06-16 00:45] kargakis commented on #21883
Use RevisionHistoryLimit and this shouldn't be a problem with Deployments (don't manually update ReplicaSets!)

https://kubernetes.io/docs/concepts/workloads/controllers/deployment/

[2017-06-16 00:45] #21883 closed

[2017-06-16 00:46] kargakis commented on #21944
/sig docs

[2017-06-16 00:47] kargakis commented on #22178
/sig network

[2017-06-16 00:48] kargakis commented on #21880
RBAC issue that should be obsolete today

[2017-06-16 00:48] #21880 closed

[2017-06-16 00:51] kargakis commented on #21988
/sig api-machinery

[2017-06-16 00:52] kargakis commented on #21925
/sig apps

[2017-06-16 00:53] kargakis commented on #22317
/sig contributor-experience

[2017-06-16 00:53] kargakis commented on #43854
/sig release

[2017-06-16 00:54] kargakis commented on #43868
/sig scheduling

[2017-06-16 00:54] kargakis commented on #43912
/sig scheduling

[2017-06-16 00:55] kargakis commented on #43911
/sig autoscaling

[2017-06-16 00:55] kargakis commented on #43797
/sig auth

[2017-06-16 00:57] kargakis commented on #43739
/sig apps
/sig scalability

[2017-06-16 00:58] kargakis commented on #43704
/sig node
/sig cluster-lifecycle

[2017-06-16 00:58] fatsheep9146 commented on #43129
I met this problem, too. I read the doc of virtualbox and I think that the reason is that:

If you don't add this route
      route add ClusterIP dev docker0
The packet you send to 10.254.247.62 will be matched with the first route rule, which is
      0.0.0.0         10.0.2.2        0.0.0.0         UG    100    0        0 eth0
therefore, the packet will be sent to eth0, which is the nat network i

[2017-06-16 01:00] kargakis commented on #43757
@pweil- any ideas which SIG should own PSP?

[2017-06-16 01:01] kargakis commented on #43665
Yeah, please ask on other channels such as slack or the kubernetes-users mailing list

[2017-06-16 01:01] #43665 closed

[2017-06-16 01:02] kargakis commented on #43629
/sig cluster-lifecycle
/area platform/gke

[2017-06-16 01:02] kargakis commented on #43617
/sig cli

[2017-06-16 01:03] kargakis commented on #43774
These versions are not supported anymore. Let us know if the problem persists in latter versions.

[2017-06-16 01:03] #43774 closed

[2017-06-16 01:04] kargakis commented on #43580
/sig release

[2017-06-16 01:04] kargakis commented on #43567
/sig network

[2017-06-16 01:04] kargakis commented on #43565
/sig autoscaling

[2017-06-16 01:04] kargakis commented on #43552
@kubernetes/sig-apps-misc

[2017-06-16 01:05] msau42 commented on #43629
@jonathan-kosgei are you able to try on GKE 1.6.2 or higher to see if the default storageclass works?

[2017-06-16 01:33] JonPulsifer commented on #47525
@monopole we've noticed this behavior only while creating and deleting node pools on an active GKE cluster with `legacyAbac=false`. [Conversation in #sig-auth on Slack](https://kubernetes.slackarchive.io/sig-auth/page-99/ts-1497456541046364) suggested the master gets restarted when performing these operations (link is to slack archives for more context). After the new node pool stabilizes (a few s

[2017-06-16 01:34] qhartman-t3 commented on #47142
Based on the information here, the first thing I'd look at is validating each server listed in your resolv.conf individually to see if we can narrow the problem down to a single one. Something like this one-liner " for i in `seq 1 10`; do nslookup external_host server_to_test; done" for each of them to show whether or not it can answer several queries in a row successfully. You may find that there

[2017-06-16 01:44] x1957 commented on #29330
[code]

[code]

[code]

[2017-06-16 02:06] lixiaobing1 commented on #47149
@caesarxuchao @krzyzacy @dchen1107 excuse me, can you tell me where to find the specifications to setup a k8s CI env?

[2017-06-16 02:08] smarterclayton commented on #45143
No, apiserver is stateless and shouldn't assume global visibility.
Admission control can judiciously use caches but it comes at a cost.
I'd prefer you didn't have to cache all pods to calculate use,
although we could maybe add a field filter if we had to

I'm pretty sure the right behavior here is a finalizer and graceful
deletion given the design of the overall system.  I'm ok with an
admission c

[2017-06-16 02:09] smarterclayton commented on #43907
Names are not allowed to have dots in them.  We would not support this in general given design of services.

[2017-06-16 02:09] #43907 closed

[2017-06-16 02:18] derekwaynecarr commented on #39599
@zhouhaibing089 - i am aware of this problem, but i have not determined the ideal solution.

i had at one time proposed a model like the following: https://github.com/kubernetes/kubernetes/pull/20113

it split used into used + reserved which i think would reduce confusion, but introduce more writes.  i still think there is a benefit to that model discussed in that proposal, but have not had time t

[2017-06-16 02:22] krzyzacy commented on #47149
the example, the e2e-gce job envs come from `https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L158-L159`

[2017-06-16 02:29] xiangpengzhao commented on #43811
A similar issue https://github.com/kubernetes/kubernetes/issues/26895 which is about `readinessProbe`

/sig node

[2017-06-16 02:30] 573009114 commented on #46077
I also have this problem

[2017-06-16 02:35] lixiaobing1 commented on #47149
@krzyzacy thanks, but I mean how to setup a overall k8s ci test, is there specification to describe it?

[2017-06-16 02:38] krzyzacy commented on #47149
@lixiaobing1 https://github.com/kubernetes/test-infra/blob/master/experiment/pod.yaml might be a good reference to mimic how our ci job runs, do you want to run some customized e2e suites?

[2017-06-16 02:47] bizhao opened #47627 "[e2e] validates resource limits of pods that are allowed to run failed due to incorrect cpu calculation"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
No.
**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------

[2017-06-16 02:52] #47431 closed

[2017-06-16 02:52] #45050 closed

[2017-06-16 02:53] bizhao commented on #47627
/sig scheduling

[2017-06-16 02:53] bizhao commented on #47627
/sig testing

[2017-06-16 02:55] bizhao commented on #47627
@kubernetes/sig-testing-misc

[2017-06-16 02:55] lixiaobing1 commented on #47149
@krzyzacy I want to setup a k8s ci test env from the beginning.

[2017-06-16 02:57] eparis commented on #22136
closing. --dry-run is the default for a long long time.

[2017-06-16 02:57] #22136 closed

[2017-06-16 03:38] xingzhou commented on #47590
From the yaml file seems you are using two volumes, mounted at `/tmp` and `/etc/supervisord.d/`, have you checked `/tmp` directory?
if you want to mount several different configmap/secret into the same directory, please consider to use "ProjectedVolume"

[2017-06-16 04:41] xiangpengzhao commented on #17484
/sig api-machinery

[2017-06-16 04:42] xiangpengzhao commented on #17627
/sig cluster-lifecycle

[2017-06-16 04:44] xiangpengzhao commented on #17223
/sig api-machinery

[2017-06-16 04:47] xiangpengzhao commented on #21584
/sig api-machinery

[2017-06-16 04:49] xiangpengzhao commented on #22396
/sig docs
/sig storage

[2017-06-16 04:49] xiangpengzhao commented on #22424
/sig cli

[2017-06-16 04:50] xiangpengzhao commented on #22569
/sig docs
/sig cli

[2017-06-16 04:53] cblecker commented on #47590
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-06-16 04:53] cblecker commented on #47590
/kind support
/assign

[2017-06-16 04:53] cblecker commented on #47590
/close

[2017-06-16 04:53] #47590 closed

[2017-06-16 04:53] xiangpengzhao commented on #22981
/sig network

[2017-06-16 04:54] #47561 closed

[2017-06-16 04:55] ramkri123 opened #47629 "Node feature discovery for Kubernetes - unable to complete in my setup"
REQUEST FOR HELP IN INCUBATOR FEATURE:

Node feature discovery for Kubernetes -- https://github.com/kubernetes-incubator/node-feature-discovery - @kubernetes/sig-node

---

REQUEST FOR HELP IN INCUBATOR FEATURE: Filed after discussion with @ConnorDoyle

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.0-alpha.0.737+562e721ece8a16"

[2017-06-16 05:24] xiangpengzhao commented on #23085
/sig docs

[2017-06-16 05:35] xiangpengzhao commented on #23046
/sig docs

[2017-06-16 05:37] xiangpengzhao commented on #23021
/sig testing

[2017-06-16 05:40] krzyzacy commented on #47149
@lixiaobing1 do you want to set up some system that run some of your k8s e2e jobs continuously? Then you might want to checkout https://github.com/kubernetes/test-infra/tree/master/prow

[2017-06-16 05:53] simoami commented on #44275
A silent change indeed. I wonder what other hidden changes will 1.7 and beyond hold.

[2017-06-16 05:55] xiangpengzhao commented on #23805
/sig docs

current the very doc has been changed a lot from this issue on. That line doesn't exist any more. So we can close this issue.

/cc @thockin

[2017-06-16 05:57] xiangpengzhao commented on #23737
/sig cli

[2017-06-16 06:04] bowei commented on #47597
@wojtek-t this seems to be related to SLO for endpoints update propagation

[2017-06-16 06:08] bowei commented on #16304
/area dns

[2017-06-16 06:11] bowei commented on #15243
Should probably close this issue as it is very broad.

[2017-06-16 06:18] bowei commented on #47589
@freehan did we fix anything that sounds like this bug between 1.6 => 1.7?

[2017-06-16 06:25] whbo158 commented on #47324
@xiangpengzhao hi xiangpeng, thanks for attention, I have updated the log above, thanks!

[2017-06-16 06:25] lixiaobing1 commented on #47149
@krzyzacy ok, thanks very much:)

[2017-06-16 06:35] dennis-bell commented on #47538
We are searching for kinda the same feature, we would like to be able to start a cronjob the first time after creation. no matter when it would be scheduled normally.
Doing this with a manual trigger is also fine, as long as we can do it through the API.

[2017-06-16 06:36] bowei commented on #39622
@sheerun from the discussion above, it looks like the message has already been fixed, can this issue be closed?

[2017-06-16 06:39] roffe commented on #47120
@galal-hussein Have you taken precautions to ensure you your not switching etcd  datastore as well with the upgrade? Elsewise basicly when you upgrade the api servers, scheduler & controller will see a empty datastore and start deleting everything on your nodes once the controlplane comes back

[2017-06-16 06:40] xiangpengzhao commented on #47324
Notice that your kube-dns exited with code 137, I doubt that it was killed due to OOM. The memory limits is 170Mi. Try to configure it a larger value and see if it can succeed.

[2017-06-16 06:41] roffe commented on #47120
1.5 used default etcd V2 api, in 1.6 it's V3 now which is a completly different datastore in ETCD. you have to manually convert the data and insert into the V3 datastore for K8S to be able to keep running on the data or force the API server to use V2 & Json instead of the new V3 & protobuff

[2017-06-16 07:11] xiangpengzhao commented on #24316
/sig api-machinery

[2017-06-16 07:14] xiangpengzhao commented on #23092
/sig cluster-lifecycle

[2017-06-16 07:15] xiangpengzhao commented on #23518
/sig storage

[2017-06-16 07:16] yanxuean commented on #47618
I have a  similar problem。
In `GetPodNetworkStatus`,  `GetNetNS `should  return  `/proc/nnnn/ns/net`  but return null string .
Because container `pid = 0` ,  so print error info"NetworkPlugin cni failed on the status hook for pod '577db2f2-97ec-44a5-9c35-448980a13f6c-1-8px7k' - Unexpected command output nsenter: cannot open : No such file or directory".
I donn't know the reason.  I suspect HandleP

[2017-06-16 07:19] xiangpengzhao commented on #23238
/sig storage

[2017-06-16 07:22] k8s-merge-robot opened #47633 "Failure cluster [0b681c...] failed 418 builds, 20 jobs, and 1 tests over 1 days"
### Failure cluster [0b681c694c4656fe52a3](https://go.k8s.io/triage#0b681c694c4656fe52a3)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    20 jobs failed,    418 builds failed.
Failure stats cover 1 day time range '14 Jun 2017 22:37 UTC' to '15 Jun 2017 22:37 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 20 |

#

[2017-06-16 07:30] rmohr commented on #47465
@caesarxuchao, I can update it. Do you already have something in mind, what the worker should do?

Maybe something like having two labels and and increment the values there with PUTs in between and sleep?

[2017-06-16 07:47] mindprince commented on #47622
@dnardo @caseydavenport The tests are still failing with the same error: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-alpha-features/13935

[2017-06-16 07:49] MrHohn commented on #47576
@gyliu513 Could you please close this issue?  IMO `terminationGracePeriodSeconds` is working as expected --- at least [the same as documented](https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods) :)

[2017-06-16 07:54] #35781 closed

[2017-06-16 07:54] #38851 closed

[2017-06-16 07:55] gyliu513 commented on #47576
sure @MrHohn

[2017-06-16 07:55] #47576 closed

[2017-06-16 07:57] kongslund commented on #38923
As I understand it, the efforts being made at https://github.com/kubernetes-incubator/external-storage will eventually result in provisioner support in a clean and nicely separated fashion. There is currently nothing for Ceph RBD (see https://github.com/kubernetes-incubator/external-storage/issues/99) but there _is_ [preliminary support for CephFS](https://github.com/kubernetes-incubator/external-

[2017-06-16 08:03] whbo158 commented on #47324
@xiangpengzhao I have changed 170Mi to 370Mi, but it yet can't work, the error is also 137.  Should I change some configurations on ARM platform?

[2017-06-16 08:08] jsafrane commented on #20332
@bgrant0607 says it would break backward compatibility

/close

[2017-06-16 08:08] milla commented on #23535
I came across error, on Azure container service, after I tried my first hello-nginx deployment without specifying port (since I didn't find it on UI),

[2017-06-16 08:08] jsafrane commented on #20332
/assign

[2017-06-16 08:08] jsafrane commented on #20332
/close

[2017-06-16 08:08] #20332 closed

[2017-06-16 08:13] jsafrane commented on #22354
Closing for now, I don't remember any user complaining about NFS versions. Reopen if you find some.

[2017-06-16 08:13] #22354 closed

[2017-06-16 08:15] sidd14491 opened #47635 "Rest api for upgradation pods image "x" to "y""
I am trying to upgrade pods image "x" to "y" through rest call but it's throwing error every time
Content:
Method : PATCH
URL :http://10.213.18.39:8080/api/v1/namespaces/default/pods/csp.csp-shared-object-1582379414-8e1v5

Body:
{
	"kind": "Pod",
	"apiVersion": "v1",
	"spec": {
		"containers": [{
			"image": "sspt-artifactory.juniper.net/shared-object-api-svr:3.1.0.dev367"
		}]
	}
}
Earlier image

[2017-06-16 08:16] xiangpengzhao commented on #47324
Does your system encounter memory pressure? This also might OOMKill your container.

/remove-sig network
/remove-sig storage
/sig node
/cc @vishh

[2017-06-16 08:26] whbo158 commented on #47324
@xiangpengzhao I have no memory pressure, the memory is 4GB that same to x86.   By taking the same step, it can work on x86.

[2017-06-16 08:30] yanxuean commented on #47618
refer to    https://github.com/kubernetes/kubernetes/issues/45334

[2017-06-16 08:32] jacekn commented on #43448
@chuckbutler it was broken from both kubernetes-worker units and from my workstation.

I'm fairly sure the problem is indeed changing IP address.
You can't fix it on client workstations but k8s charms should certainly ensure that config on disk is always correct so that users can re-download it.

[2017-06-16 08:52] lukaszo commented on #43552
Here you can read how it was created https://github.com/kubernetes/kubernetes/issues/170

[2017-06-16 09:00] xiangpengzhao commented on #47635
/sig api-machinery

[2017-06-16 09:19] verb commented on #45135
@mml We have to do better. This cannot be inherent in the nature of the e2e test. I literally have to run tests 2-3 times every time I upload a change. It makes me not want to contribute.

[2017-06-16 09:24] xiaowei0516 commented on #47590
@xingzhou
hi,
    thank you very much for your reply！
    I used  two volumes, mounted at /tmp and /etc/supervisord.d/,  i  have  checked /tmp directory, also only have one mount file.  it is soft link file .

   the key to the question: when  after  configmap mounted to not null directory, All files in this directory disappear！

   I  am searching good  way!
   Thank you

[2017-06-16 09:51] xiangpengzhao commented on #47629
/sig node

[2017-06-16 10:09] CaoShuFeng opened #47641 "Invalid filename in kubelet log"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
master

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
We get such log in kubelet node:
`I0616 06:02:37.656862   57370 file.go:157]

[2017-06-16 10:10] CaoShuFeng commented on #47641
I will fix it myself.

[2017-06-16 10:11] CaoShuFeng commented on #47641
I think this is a bug of "golang.org/x/exp/inotify"
https://github.com/kubernetes/kubernetes/blob/master/vendor/golang.org/x/exp/inotify/inotify_linux.go#L212

[2017-06-16 10:20] xiangpengzhao commented on #47641
/sig node

[2017-06-16 10:24] fatg1988 opened #47642 "How kube-apiserver run with Public network IP"
my server is running on Aliyun ECS. Check the configuration and see only the intranet ip,
Public network IP is not in ifconfig result list.
**Can kube-apiservice use public network IP binding?**

The 3 configuration with the intranet IP and 0.0.0.0 normal, with the public network IP reported wrong.

  --advertise-address=${MASTER_IP} \\
  --bind-address=${MASTER_IP} \\
  --insecure-bind-address=${

[2017-06-16 10:31] fatg1988 commented on #47642
/sig apiserver
k8s version 1.6.2

[2017-06-16 10:40] techtonik commented on #28632
I am still using `kubectl` from 32-bit Windows and I am very glad it works here.

[2017-06-16 10:41] glerchundi commented on #44254
Same problem here with `v1.6.4` which is the way to go, any work-around?

[2017-06-16 10:55] y123456yz opened #47644 "compile kubernetes failed !!"
I compile the code as following, but failed:

$ go get -d k8s.io/kubernetes
$ cd $GOPATH/src/k8s.io/kubernetes
$ make

error info:
[root@localhost kubernetes]# make -j 2
+++ [0616 03:49:16] Building the toolchain targets:
    k8s.io/kubernetes/hack/cmd/teststale
    k8s.io/kubernetes/vendor/github.com/jteeuwen/go-bindata/go-bindata
+++ [0616 03:49:16] Building the toolchain targets:
    k8s.io/kub

[2017-06-16 10:58] php-coder commented on #43757
@kargakis In this case it should be sig-cli

/sig cli

[2017-06-16 10:59] y123456yz commented on #47644
/sig compile

[2017-06-16 11:27] scrwr commented on #42473
Still existing with
`$ kube-proxy --version
Kubernetes v1.6.4`

[2017-06-16 11:28] jsafrane commented on #47129
/assign

[2017-06-16 11:36] galal-hussein commented on #47120
@roffe yes i made sure to still use etcd v2, i passed the following to the kube-apiserver "--storage-backend=etcd2 --storage-media-type=application/json", also the behavior is that the pods are restarting not deleted.

[2017-06-16 11:41] k82cn commented on #47644
what's your go version & OS?

[2017-06-16 12:06] pweil- commented on #43757
@kargakis yeah, this is cli related.  I'd go with sig-auth for actual behavior.

[2017-06-16 12:06] shyamjvs opened #47646 "Kubemark high-density test flaking due to stock-out in us-central1-f"
Seeing some runs failing occasionally due to failing to create kubemark-master:

[code]

Should we change the zone to a different one?

cc @kubernetes/sig-scalability-bugs @gmarek

[2017-06-16 12:07] andrey01 commented on #1111
Not sure if this is the right place and time, but how about having the ``master`` and a ``worker`` types of the node? (where node is a single system in a cluster of many systems)

I think that would remove one level of ambiguity.

[2017-06-16 12:07] xiangpengzhao commented on #47642
/sig network
/kind support

[2017-06-16 12:17] isaldarriaga commented on #45779
SOLVED:
The spec.serviceName field in the statefulSet manifest was wrong. It should match the metadata.name field in the headless service definition.

For anyone interested on debugging kube-dns; https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

[2017-06-16 12:19] dearboll opened #47648 "How can I schedule my pods on wanted nodes with my custom policy?"
Hello, I have a cluster with two IP ranges, which are x.x.x.7 and x.x.x.8. Now I have a new schedule requirement that all the Pods should run on x.x.x.7 nodes. It is too late for me to label the two IP ranges. So I think I should use custom scheduler. But I have read https://github.com/kubernetes/community/blob/master/contributors/devel/scheduler.md#scheduler-extensibility but still have no ideas

[2017-06-16 12:28] xiangpengzhao commented on #47648
/sig scheduling
/kind support

[2017-06-16 12:37] tobilarscheid opened #47649 "PersistentVolumes provide no way of finding remaining space / usage"
**What keywords did you search in Kubernetes issues before filing this one?**
volume free space

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):

`Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:"clean", BuildDate:"2017-04-19T22:51:

[2017-06-16 12:38] tobilarscheid commented on #47649
@kubernetes/sig-Storage-misc

[2017-06-16 12:40] jsravn commented on #47597
I tried with quorum reads disabled, but I'm still seeing the same problem.

I wrote a script that compares pods to endpoints using kubectl on a node. Here is an example where it took around 9s to remove the endpoint:

[code]

As can be seen the endpoint isn't removed although the pod was deleted and has a non nil deletion timestamp. Oddly the timestamp is in the future, not sure why that is yet.

[2017-06-16 12:44] rootfs opened #47651 "Cinder API list received unsupported HTTP status 300 code"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-16 12:44] rootfs commented on #47651
/sig openstack

[2017-06-16 12:44] hmol commented on #34395
@bujardeari Just create it, but keep in mind you cant do: right click -> new folder -> ".kube". You must use cmd to do this, `mkdir .kube`

[2017-06-16 13:06] xiangpengzhao commented on #43768
/sig node

[2017-06-16 13:09] xiangpengzhao commented on #43708
/sig node

[2017-06-16 13:09] xiangpengzhao commented on #43678
/sig node

[2017-06-16 13:12] xiangpengzhao commented on #43634
/sig api-machinery
/cc @smarterclayton

[2017-06-16 13:13] xiangpengzhao commented on #43528
/cc @vishh

[2017-06-16 13:14] djschny commented on #12742
Excuse my ignorance here, but for encryption at rest, why not setup `dm-crypt` on for the filesystem on the host supporting `etcd`?

[2017-06-16 13:15] xiangpengzhao commented on #43527
/sig storage

[2017-06-16 13:21] xiangpengzhao commented on #43321
/sig apps
/sig cli

[2017-06-16 13:22] xiangpengzhao commented on #43292
/sig node

[2017-06-16 13:24] xiangpengzhao commented on #43211
/sig cli

[2017-06-16 13:26] xiangpengzhao commented on #43156
/sig network

[2017-06-16 13:27] xiangpengzhao commented on #42885
/sig cli

[2017-06-16 13:50] runcom commented on #47288
@yujuhong @Random-Liu @feiskyer this is the description of `StopPodSandbox`:

[code]
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/v1alpha1/runtime/api.proto#L29-L30

Can we reword it to state that:

[code]
related to https://github.com/kubernetes-incubator/cri-o/pull/530#discussion_r122325568

[2017-06-16 13:57] jsravn commented on #47597
I suspect something is going wrong in endpoints_controller, because I notice it has a maxWait time of 10s in the endpoint work queue. Which oddly coincides with the max delay I'm seeing on endpoint updates.

[2017-06-16 14:12] eparis commented on #43708
Red Hat will work to fix problems with containerized kubelet, as we do use it. I'm going to close this issue. filing real bugs is the right path forward.

[2017-06-16 14:12] #43708 closed

[2017-06-16 14:13] #45915 closed

[2017-06-16 14:16] deads2k commented on #20293
Shortnames are extensible and group names match on prefix.

[2017-06-16 14:16] #20293 closed

[2017-06-16 14:18] cmluciano commented on #23805
/assign

[2017-06-16 14:18] cmluciano commented on #23805
/close

[2017-06-16 14:18] #23805 closed

[2017-06-16 14:24] cmluciano commented on #22178
The fix is to add the export as rpahli referenced. I tried clicking on the document to see if the instructions need updated, but I get a 404. I believe this deployment was removed and is now unsupported.

[2017-06-16 14:25] cmluciano commented on #22178
/assign

[2017-06-16 14:25] cmluciano commented on #22178
/close

[2017-06-16 14:25] #22178 closed

[2017-06-16 14:26] tnozicka commented on #47180
cc: @soltysh

[2017-06-16 14:27] cmluciano commented on #22180
@pmorie Are you still seeing this issue?

[2017-06-16 14:27] cmluciano commented on #22180
/assign

[2017-06-16 14:33] feiskyer commented on #47288
@runcom Yep, this is guaranteed.

[2017-06-16 14:34] smarterclayton commented on #47597
Is this happening on an unloaded cluster or a heavily loaded cluster?

On Fri, Jun 16, 2017 at 9:57 AM, James Ravn <notifications@github.com>
wrote:

[2017-06-16 14:35] tnozicka commented on #47180
ref: https://bugzilla.redhat.com/show_bug.cgi?id=1455115

[2017-06-16 14:37] liggitt opened #47657 "gluster mounter runs unpermitted operations from nodes"
https://github.com/kubernetes/kubernetes/pull/45528 added several operations to the glusterfs mount operation that nodes are not permitted to perform:

1. it looks up arbitrary secrets based on storage class parameters. this will not succeed, as the node authorizer will only allow nodes access to secrets referenced by pods or persistent volumes used by the node
2. it attempts to create a service a

[2017-06-16 14:38] cmluciano commented on #31712
This looks like it is still relevant

@kubernetes/sig-network-misc can anyone confirm if we added these?

I still see a [TODO](https://github.com/kubernetes/kubernetes/blob/bcccbc3d0b28171d383eda5eac16b487bcda9cf6/test/e2e/networking.go#L193)

[2017-06-16 14:39] cmluciano commented on #31712
/assign

[2017-06-16 14:41] cmluciano commented on #21329
Can anyone confirm if we added these?

I still see the [TODO](https://github.com/kubernetes/kubernetes/blob/bcccbc3d0b28171d383eda5eac16b487bcda9cf6/test/e2e/networking.go#L193) but I thought this went GA.

cc @MrHohn

[2017-06-16 14:41] sameo commented on #47288
@feiskyer It would probably make sense to make that guarantee part of the specification. Getting a remove request should error out if the pod is not stopped, imho.

[2017-06-16 14:42] cmluciano commented on #20767
@kubernetes/sig-network-misc I thought I noted a change related to this recently, but I may be mistaken.

[2017-06-16 14:45] jsravn commented on #47597
@smarterclayton It seems unloaded to me, from a system perspective. For the above example I posted, the master nodes (which contain apiserver and etcd) were lightly loaded. etcd didn't use more than about a second of CPU time in a minute. Peak load average was 0.57 - these are 2 core boxes. Average io was also about 1.5ms (but could check etcd metrics to check further). It's a pretty small cluster

[2017-06-16 14:49] jsravn commented on #47597
Max etcd fsync time ranges from ~32ms to ~256ms, 0 unsynced slow watchers.

[2017-06-16 14:50] ukn commented on #46692
I face the same issue in the following scenario:

A node running pods is rebooted and marked as _NotReady_.
Once it's up and _Ready_ all pods start successfully but have log symlinks broken due to already existing link to an old container.

[2017-06-16 14:58] stevesloka commented on #38192
I think we need a way to define the ReclaimPolicy as well. Do we all agree that this should be added? How can I help? Happy to work on a PR or something if we can agree on the implementation.

[2017-06-16 14:58] timothysc commented on #47553
There needs to be an exclusion filter applied to this as some api-promoted items simply won't work.

[2017-06-16 15:07] cmluciano commented on #46379
/sig cluster-lifecycle

/area gke

That seems related. It looks like the before suite is failing on ubuntu-gke and and I don't think this is scoped to sig-net issues. I'm reassigning this to SIG-GCE for now.

cc @kubernetes/goog-gke

[2017-06-16 15:08] soltysh commented on #47180
I'll be looking into this o Monday.

[2017-06-16 15:08] cmluciano commented on #46379
/remove sig-network

/unassign cmluciano

[2017-06-16 15:09] yastij opened #47659 "udp proxy loop should use fine tuned buffer"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kube-proxy
proxy loop
proxysocket

---

**Is this

[2017-06-16 15:09] cmluciano commented on #46379
/remove-sig network

/unassign @cmluciano

[2017-06-16 15:09] yastij commented on #47659
/sig network
/area kube-proxy
/kind enhancement

[2017-06-16 15:09] yastij commented on #47659
/assign

[2017-06-16 15:17] cmluciano commented on #36850
@yuval-k Can you open a PR with your patchset?

[2017-06-16 15:19] #47079 closed

[2017-06-16 15:23] #46140 closed

[2017-06-16 15:24] cmluciano commented on #46185
@bowei is this fix in https://github.com/kubernetes/kubernetes/pull/47631

[2017-06-16 15:27] jsravn commented on #47597
I turned up controller manager logging to `-v=4`.

What I observe is that the endpoint update delay seems to happen whenever the endpoints_controller is doing a full sync. During this time new endpoint updates don't seem to be processed. It takes about 15s or so for the controller to finish syncing all the endpoints. It looks like it is hitting throttling limits (I'm using default values on contro

[2017-06-16 15:27] dnardo commented on #47622
I think the problem is here:

  if [[ "${NETWORK_POLICY_PROVIDER:-}" == "calico" ]]; then
    setup-addon-manifests "addons" "calico-policy-controller"
.....
    sed -i -e "s@__CALICO_TYPHA_REPLICAS__@$(get-calico-typha-replicas)@g" "${typha_dep_file}"

I think we need to set that count to _CALICO_TYPHA_REPLICAS__ regardless of provider

[2017-06-16 15:33] derekwaynecarr commented on #17484
this is already implemented.

the following are supported in quota:

services
services.nodeports
services.loadbalancers

[2017-06-16 15:33] #17484 closed

[2017-06-16 15:40] jsravn commented on #47597
It looks like endpoint controller is doing a full list on every single endpoint every 30s... which is why it's getting throttled in my case. As a workaround I can probably increase the request limits on controller manager.

[2017-06-16 15:41] derekwaynecarr commented on #43704
@gjw0317 - can you list the set of cgroups you have enabled?

this is actually fixed via https://github.com/kubernetes/kubernetes/pull/45515

please ensure that "cpu", "cpuacct", "cpuset", "memory", "hugetlb", "systemd" are the only ones that kubelet is now looking at.  the previous cause of this issue was having an additonal cgroup enabled unknown to the undelrying runc libraries.

[2017-06-16 15:41] #43704 closed

[2017-06-16 15:42] xiangpengzhao commented on #42799
/sig storage

[2017-06-16 15:44] jsravn commented on #47597
Default qps is 20, so with about 250 endpoints it takes about 15s to query them all. Is there a guideline to set qps? 20 seems really low with this full sync behaviour.

[2017-06-16 15:44] derekwaynecarr commented on #44003
agreed, its working for me as well.

[2017-06-16 15:44] #44003 closed

[2017-06-16 15:46] xiangpengzhao commented on #42628
/sig storage

[2017-06-16 15:49] xiangpengzhao commented on #42616
/sig network

[2017-06-16 15:56] xiangpengzhao commented on #42503
/sig storage

[2017-06-16 15:58] xiangpengzhao commented on #42301
/kind support

[2017-06-16 15:58] yuval-k commented on #36850
@cmluciano  - https://github.com/kubernetes/kubernetes/pull/47662

[2017-06-16 16:03] xiangpengzhao commented on #42298
/sig network

[2017-06-16 16:03] xiangpengzhao commented on #42293
/sig storage

[2017-06-16 16:04] xiangpengzhao commented on #42281
/sig scheduling

[2017-06-16 16:04] pwittrock commented on #47448
@smarterclayton I am going to move this out of the milestone, since the issue is with using 1.6 client code on 1.7 objects.  AFAIK, this issue described can't be fixed with code changes to 1.7.

[2017-06-16 16:05] pwittrock commented on #47448
Will address this with the validation logic in 1.8

[2017-06-16 16:05] xiangpengzhao commented on #42257
/sig storage

[2017-06-16 16:08] xiangpengzhao commented on #42184
/sig api-machinery

[2017-06-16 16:08] xiangpengzhao commented on #42031
/sig api-machinery

[2017-06-16 16:09] xiangpengzhao commented on #41930
/sig storage

[2017-06-16 16:12] mleklund commented on #46041
It appears to me that my issue was caused by an overreach on #16877.  Before this PR iscsiadm calls were made without an interface, and while adding `-I default` works, it does not allow multipathing, and seemed to be overlooked in #39928.  I think I can come up with a PR to fix this, I have a proof of concept working by overriding calls to iscsiadm and removing the `-I default`.  My approach woul

[2017-06-16 16:16] xiangpengzhao commented on #41633
/sig apps

[2017-06-16 16:17] xiangpengzhao commented on #41630
/sig scheduling

[2017-06-16 16:18] xiangpengzhao commented on #41620
/sig node

[2017-06-16 16:21] xiangpengzhao commented on #41565
@kubernetes/sig-network-misc
/kind support

[2017-06-16 16:22] xiangpengzhao commented on #41057
/sig cli

[2017-06-16 16:38] xiangpengzhao commented on #43812
/sig api-machinery

[2017-06-16 16:40] xiangpengzhao commented on #43860
/sig network

[2017-06-16 16:40] xiangpengzhao commented on #43875
/sig scheduling

[2017-06-16 16:47] pandeybk commented on #47142
Looks like this is something to do with dnsmasq. @ssubramanian123 can you run following test from kubedns and paste output here.

[code]

and run following

[code]

[2017-06-16 16:50] monopole commented on #43340
This test should be deleted.  It's just noise, i don't want to have to keep clicking through on failure summaries just to see it again.

If someone wants to fix it, great - disable it with a PR, and file a new issue referencing the PR to fix it.

[2017-06-16 16:55] humblec commented on #42799
@xiangpengzhao I am working on this and its almost close to completion. I will update this thread accordingly.

[2017-06-16 16:57] clenimar commented on #47522
@madhusudancs sure. That's an important use case, and plenty of people seem interested in it. The demo of the hybrid (gke/aws/azure) Ingress setup is available in: https://medium.com/google-cloud/experimenting-with-cross-cloud-kubernetes-cluster-federation-dfa99f913d54 (see the Ingress section at the end of the post).

[2017-06-16 16:57] ssubramanian123 commented on #47142
@qhartman-t3 Ran  ``for i in $(seq 1 10); do nslookup external_host server_to_test; done`` the command in below level. Here is the results.

Node Level testing:
-> From node, we are able to resolve our external domain always (nslookup external_host )

kube-dns POD level  testing:
-> From kube-dns pod, getting  error intermittently (step 1, nslookup external_host )
-> From kube-dns pod to specific

[2017-06-16 16:58] #42821 closed

[2017-06-16 16:59] pandeybk commented on #47142
Looks like this is something to do with dnsmasq. @ssubramanian123 can you run following test from kubedns and paste output here.

[code]

and run following

[code]

[2017-06-16 17:00] mengqiy commented on #38120
This is not fully backward compatible, it breaks 1.6 kubectl. see: #47448 and #47560

[2017-06-16 17:00] ssubramanian123 commented on #47142
@pandeybk here is the output of when I run through dnsmasq IP.

[code]

[2017-06-16 17:02] yujuhong commented on #44003
Thanks @yguo0905 for fixing this!

[2017-06-16 17:02] derekwaynecarr commented on #47532
@timothysc - i am not an advocate of removing events, i am an advocate of just preventing their ability to abuse.  they are useful, they just are not a message bus.

please see https://github.com/kubernetes/kubernetes/pull/47367

[2017-06-16 17:02] lavalamp opened #47663 "APIService: require one of Insecure or CABundle"
It is possible to leave both of these fields unset, which is confusing. Should be a simple validation change.

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/types.go#L50-L54

[2017-06-16 17:02] lavalamp commented on #47663
@deads2k @cheftako

[2017-06-16 17:08] pandeybk commented on #47142
This definitely looks like problem with dnsmasq, try following command from pods or kubedns and paste output here,

[code]

[2017-06-16 17:10] #41620 closed

[2017-06-16 17:11] caseydavenport commented on #41565
@raghakk IIUC, headless Services will generate entries in kube-dns records based on how you've configured the Service as discussed [in this doc](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services), but I don't think that NodePorts will be allocated for a headless Service.

However, you could still create another Service with `type: NodePort` that selects the Zookeep

[2017-06-16 17:11] caseydavenport commented on #41565
/assign

[2017-06-16 17:12] ssubramanian123 commented on #47142
Here is the output of it, one with resolving and anther one not able to resolve.

[code]

[2017-06-16 17:12] xiangpengzhao commented on #42799
Thanks @humblec! Glad to hear that!
I'm helping triage issues which doesn't have a sig label. Sorry for the noisy notification if it bothers:)

[2017-06-16 17:13] humblec commented on #42799
nw :)

[2017-06-16 17:15] pwittrock commented on #47448
Great.  I don't think there is a server side fix for this since the validate failures occurs on the client side.

@ericchiang

No, kubectl is intended to work across skewed client / server versions.  There are many known issues with this though since many kubectl commands use compiled in types for one thing or another.

FWIW, the break wouldn't occur because you upgraded the server, it would happe

[2017-06-16 17:22] caseydavenport commented on #47533
[code]

Looks to me like the kube-proxy thinks there's only one valid Pod backing that Service.

What does `kubectl get endpoints memory-service` output? Does it show two endpoints?

[2017-06-16 17:24] caseydavenport commented on #47622
/reopen

[2017-06-16 17:27] ericchiang commented on #47448
Just to be clear, the fields existed in 1.6, the swagger validation changed in 1.7. So the same manifest that can be created against a 1.6 API server breaks against a 1.7 API server.

[2017-06-16 17:31] ssubramanian123 commented on #47142
@MrHohn we are trying view the logs of dnsmasq but it does not add any logs to std. Based on your fix #32422, we validated our config and it has  --log-facility=- . Can you please guide us what we are missing here?

Here is the config for dnsmasq

[code]

[2017-06-16 17:35] deads2k commented on #47663
Normally having both unset means use system signers.  Also, both can be unset for local APIServices.

[2017-06-16 17:36] DirectXMan12 commented on #43565
This is, at least, partially covered by the HPA status conditions work in Kubernetes 1.7.  Among other things, we have a condition indicating that the scaling has hit scaling cap, and why.

[2017-06-16 17:44] danehans opened #47666 "IPv6 e2e Tests"
An effort is underway to add IPv6 functionality across Kubernetes. Currently, no tests exist to verify e2e functionality for Kubernetes when using IPv6.

[2017-06-16 17:46] mengqiy commented on #47448
The change in https://github.com/kubernetes/kubernetes/pull/44714 is an unexpected breaking change for kubectl. A server-side "fix" may be reverting the change of `*int64` -> `*UnixUserID`.

[2017-06-16 17:46] danehans commented on #47666
@dcbw any info you can share regarding the OpenShift DIND e2e test setup would be appreciated. I would like to explore using OpenShift DIND as a reference model for the v6 e2e test.

[2017-06-16 17:47] danehans commented on #47666
/area ipv6
sig/network

[2017-06-16 17:55] crimsonfaith91 opened #47667 "refactor drain codes if drain can work for any controller type"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): no

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------

[2017-06-16 17:57] marun commented on #8830
Assuming this shouldn't block v1.7, moving to v1.8.

[2017-06-16 17:57] cmluciano commented on #47666
/sig network

[2017-06-16 17:57] cmluciano commented on #47666
/sig testing

[2017-06-16 17:57] marun commented on #29590
Assuming this shouldn't block 1.7, moving to 1.8.

[2017-06-16 17:58] caseydavenport commented on #47659
@yastij could you add some more detail about what the implications of this change would be?  i.e. what's the user-facing impact of this issue?

[2017-06-16 17:58] marun commented on #29633
Moving to 1.8.

[2017-06-16 17:58] marun commented on #30446
Assuming this shouldn't block 1.7, moving to 1.8.

[2017-06-16 17:59] marun commented on #38812
Assuming this shouldn't block 1.7, moving to 1.8.

[2017-06-16 17:59] lavalamp opened #47668 "Test API error return when attempting to {POST, PUT} an object that is too large"
It seems that this error message is not being returned correctly ("apiserver received an error that is not an metav1.Status: etcdserver: request is too large").

[2017-06-16 17:59] marun commented on #40860
Assuming this shouldn't block 1.7, moving to 1.8.

[2017-06-16 18:00] marun commented on #43360
This hasn't been active in 88 days.  Closing.

[2017-06-16 18:00] #43360 closed

[2017-06-16 18:00] marun commented on #44561
Assuming this shouldn't block 1.7, moving to 1.8.

[2017-06-16 18:01] marun commented on #46942
Assuming this shouldn't block 1.7, moving to 1.8.

[2017-06-16 18:03] kargakis commented on #41789
@wanghaoran1988 this is only a doc update - I am going to update the API comments during the 1.8 timeframe.

[2017-06-16 18:03] marun commented on #47069
@crassirostris Should this be blocking 1.7?

[2017-06-16 18:09] caseydavenport commented on #47642
I'm not very familiar with Aliyun ECS, but it looks like your instance doesn't have a public IP address assigned to it.  What about using a cloud [load-balancer](https://intl.aliyun.com/help/doc-detail/27552.htm) for getting external traffic to the master?

[2017-06-16 18:11] derekwaynecarr commented on #38812
i actually think we should close this in favor of just HPA status, agreed?

[2017-06-16 18:22] dankirkpatrickmp2 commented on #34982
Joshperry--you're getting the files mounted with octal permissions "0620"...0620 is 400 in decimal.  The mode/defaultMode field is treating "400" as a decimal number...and you're getting the expected behavior for that.

[2017-06-16 18:23] erictune commented on #9902
@droot

[2017-06-16 18:26] monopole commented on #47577
This is the 1.6 -> 1.7 upgrade test.  This is now a 1.7 release blocker.

example:  https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1-6-1-7-upgrade-cluster/33#upgradetest

error message hard to interpret

[2017-06-16 18:28] ixdy commented on #28632
I propose closing this issue. Since we distributed architecture-specific binaries in separate tarballs, keeping the 32-bit binaries doesn't affect users, and we only do the full cross-builds in a separate CI job and in releases, so it doesn't negatively affect most developers, either.

@kubernetes/sig-release-misc

[2017-06-16 18:33] #47208 closed

[2017-06-16 18:34] #47554 closed

[2017-06-16 18:34] DirectXMan12 commented on #38812
yep

[2017-06-16 18:37] monopole commented on #47577
ApiServer failing healthz ?
[code]

[2017-06-16 18:37] yastij commented on #47659
@caseydavenport - yea sure, here's the buffer i'm talking about : https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/userspace/proxysocket.go#L203

this modification shouldn't have much impact on the user-facing side.

we'll have to build a histogram of how much we read on the first iterations then fine tune our buffer.

[2017-06-16 18:39] monopole commented on #47577
/assign @bowei

[2017-06-16 18:40] kargakis commented on #41633
@soltysh

[2017-06-16 18:46] niels-s commented on #29166
I'm experiencing the same issue first on version 1.6.2 and now it's still happening after I've upgraded to version 1.6.4. Also running on GKE.
@jingxu97 where able to figure out the root cause and perhaps a possible solution?

[2017-06-16 18:55] kargakis commented on #47667
/sig cli

[2017-06-16 18:55] kargakis commented on #47644
/sig release

[2017-06-16 18:55] kargakis commented on #43781
/sig api-machinery

[2017-06-16 18:56] kargakis commented on #43931
/sig node

[2017-06-16 18:56] kargakis commented on #43930
/sig storage

[2017-06-16 18:57] kargakis commented on #43751
/sig auth

[2017-06-16 18:58] kargakis commented on #43503
Please ask in stackoverflow or the kubernetes-users mailing list.

[2017-06-16 18:58] #43503 closed

[2017-06-16 19:12] pandeybk commented on #47142
@ssubramanian123 please add `nameserver 127.0.0.1:53` in your kubedns pods and do one round of testing to see what happen.

[2017-06-16 19:17] dchen1107 commented on #47633
Both gce-reboot and gce-statefulset are failed due to fluentd pod cannot be ready, which was fixed and pr was merged. Now both tests are running fine.

gce-examples are a bunch of to-be-removed tests according to @kow3ns

@kubernetes/sig-apps-misc

[2017-06-16 19:17] #47633 closed

[2017-06-16 19:28] dchen1107 commented on #47446
@liggitt  We started etcd3-pr-validate job which has the identical setting as the pull one except cache-mutation-detector at: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3-pr-validate/

by comparing the time spent for above tests vs. ci-kubernetes-e2e-gce-etcd3: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-e

[2017-06-16 19:28] caesarxuchao commented on #47381
In [gce-serial-release-1-7](https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-serial-release-1-7&width=5), it's most flaky test in the past 10 runs, failed 3 times

cc @kubernetes/kubernetes-release-managers

[2017-06-16 19:31] davidopp commented on #47381
@bsalamat can you look into this?

[2017-06-16 19:35] huggsboson commented on #29972
Is there an easy workaround like running a sidecar with the same name as the init container?  I hate the idea of manually running a docker container with the right name as it won't get auto cleaned up by kube.

[2017-06-16 19:37] bowei commented on #21329
Session affinity does exist, but it looks like there is no e2e test.

[2017-06-16 19:38] keyan commented on #40224
I was seeing the same error as OP when using `kubectl` v1.5.6 but upon upgrading to `v1.7.0-beta.2` I'm seeing a different error:

[code]

This is thrown by [this line](https://github.com/kubernetes/kubernetes/blob/ad4d9657115ba6f499a419f9df2eb2c9d55a92f8/staging/src/k8s.io/apimachinery/pkg/watch/until.go#L68). I'm consistently seeing the error after `kubectl` has executed the `status` command for

[2017-06-16 19:38] bowei commented on #43156
/area dns

[2017-06-16 19:39] bboreham opened #47671 "LeaderElector only looks at its own LeaseDuration, not the leader's"
This is an observation from reading the code; apologies if I've misunderstood.

[Line 220](https://github.com/kubernetes/kubernetes/blob/204fb62d4931b036732eeeca9e362c833ccc7a3b/pkg/client/leaderelection/leaderelection.go#L220) is the only place `LeaseDurationSeconds` is used.

At [Line 246](https://github.com/kubernetes/kubernetes/blob/204fb62d4931b036732eeeca9e362c833ccc7a3b/pkg/client/leaderele

[2017-06-16 19:43] caesarxuchao opened #47672 "pull-kubernetes-federation-e2e-gce still fails"
The cause is different from #47609

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46883/pull-kubernetes-federation-e2e-gce/10827/

In its recent runs, failed three times in a row: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/pull/46883/pull-kubernetes-federation-e2e-gce/. Though the symptoms of the other two failures are different:
[code]

[2017-06-16 19:43] dchen1107 commented on #47381
@bsalamat was trying to reproduce this for last 2 day, but failed. Assigned this to him for more detail information here.

[2017-06-16 19:43] gnufied commented on #38192
There seems to be enough interest in this feature. @saad-ali @childsb lets schedule this for 1.8 milestone?

[2017-06-16 19:43] caesarxuchao commented on #47672
/sig federation

[2017-06-16 19:44] bsalamat commented on #47381
@dchen1107 brought this test to my attention a couple of days ago. I tried to reproduce, but I was not able to in my own cluster after 82 tries. I then tried running all `SchedulerPriorities [Serial]` tests and left them run since yesterday. I stopped it just half an hour ago.
Given what I have seen so far, I don't think this failure is something of concern, but we should probably try to fix the f

[2017-06-16 19:49] castrojo commented on #41467
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2017-06-16 19:50] castrojo commented on #41467
/assign

[2017-06-16 19:50] castrojo commented on #41467
/close

[2017-06-16 19:50] #41467 closed

[2017-06-16 19:51] cmluciano commented on #21329
/assign

will work on this for 1.8

[2017-06-16 19:56] monopole commented on #47577
More data from a different test:  e2e-gke-cvm-1-5-cvm-1-7-upgrade-master

Look for UpgradeTest here:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-master/9#upgradetest

Click through `log files`:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-master/9/nodelog?junit=junit

[2017-06-16 19:57] bowei commented on #43340
@justinsb -- It looks like it is passing on the non-AWS tests. Should we disable on AWS until there is a fix?

[2017-06-16 20:01] castrojo commented on #23241
/sig cluster-lifecycle

[2017-06-16 20:01] castrojo commented on #23241
/assign

[2017-06-16 20:06] marun commented on #47155
@thockin If this should be blocking 1.7, please label with 'approved-for-milestone'.

[2017-06-16 20:07] marun commented on #47283
If this should be blocking 1.7, please label with 'approved-for-milestone'.

[2017-06-16 20:07] castrojo commented on #23241
/close

I'm going to close this issue, if someone runs into this and wants to update the manual guide please open at PR against: https://github.com/kubernetes/kubernetes.github.io

Thanks!

[2017-06-16 20:07] marun commented on #47541
Moving out of 1.7 since it's not a release blocker.

[2017-06-16 20:08] lucianenache commented on #44298
I have the same problem under 1.6.5 and debian jessie with docker 17.5.0

[2017-06-16 20:08] castrojo commented on #23241
/close

[2017-06-16 20:08] #23241 closed

[2017-06-16 20:08] marun commented on #46983
Assuming this should not be blocking 1.7.

[2017-06-16 20:10] bowei commented on #47648
@dearboll It is recommended to send support issues to the kubernetes slack channel or stackoverflow:

https://kubernetes.slack.com
https://stackoverflow.com/questions/tagged/kubernetes

Issues are meant to track bugs/features.

[2017-06-16 20:10] marun commented on #47366
If this should be blocking 1.7, please label with 'approved-for-milestone'.  If not, move to 1.8.

[2017-06-16 20:11] castrojo commented on #32119
@dshulyak Since this was merged should we close this issue?

[2017-06-16 20:19] Cynerva opened #47676 "Juju kubernetes-master idle status is never set"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Kubernetes version** (use `kubectl version`): 1.6.2

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): 4.4.0-1018-aws
- **Install tools**: Juju
- **Others**:

**What happened**:

Using charms built from the master branch, the

[2017-06-16 20:20] ericchiang commented on #47208
Updates https://github.com/kubernetes/kubernetes/issues/47283

[2017-06-16 20:22] Cynerva commented on #47676
/sig onprem

[2017-06-16 20:27] monopole commented on #47379
This was green on 6-15, if green again today i'll close this.

Thanks for your attention @dnardo !

[2017-06-16 20:30] ethernetdan opened #47677 "release-1.7 serial jobs are timing out"
There are 1.7 release branch serial jobs timing out:

- [ci-kubernetes-e2e-gce-serial-release-1-7](https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-serial-release-1-7)
- [ci-kubernetes-e2e-gci-gce-serial-release-1-7](https://k8s-testgrid.appspot.com/release-1.7-blocking#gci-gce-serial-release-1-7)
- [ci-kubernetes-e2e-gke-serial-release-1-7](https://k8s-testgrid.appspot.com/release-1.7-bl

[2017-06-16 20:31] ethernetdan commented on #47677
/cc @kubernetes/kubernetes-release-managers

[2017-06-16 20:35] monopole commented on #47577
/assign @saad-ali

Storage initialization failures?   This may be happening in more than just this test.

This is a 1.7 release blocker.

[2017-06-16 20:42] CreepyGnome commented on #34395
Should the installer set the environment variables it requires during the install process? I mean it knows where it installed itself.

[2017-06-16 20:48] saad-ali commented on #47577
@monopole this does not appear to be related to storage. The error you posted is an expected part of initializing an unformatted disk. Each instance of that errors in the log file you linked to is followed by `Disk ... appears to be unformatted` which is completely normal and triggers formating of disk followed by a `MountVolume.MountDevice succeeded` message.

Are there any other reasons you were

[2017-06-16 20:48] hmol commented on #34395
Yes it should, but it did not do it on my machine.

[2017-06-16 20:55] monopole commented on #47577
No, no other reason.

[2017-06-16 20:56] monopole commented on #47577
Thanks!

if u have any theories about why this is failing...

/unassign @saad-ali

[2017-06-16 21:08] #38812 closed

[2017-06-16 21:10] CreepyGnome commented on #34395
@hmol Obviously it didn't do it for you or ANYONE it doesn't do it period.  I am saying that this BUG should be fixed by making the installer do this so that we stop having this problem. All required environment variables should be created and set by the installer.

[2017-06-16 21:23] hongchaodeng commented on #43632
@rickypai
Is there any issue created for supporting HostAlias in hostnetwork mode?

[2017-06-16 21:26] gmarek commented on #44003
Perfect. Thanks a lot @yguo0905!

[2017-06-16 21:33] hmol commented on #34395
Me and some of my colleagues installed this on our machines. It was only me that got this problem and for my colleagues this worked. This is why I don't think it happens to everyone.

[2017-06-16 21:38] vishh commented on #43528
cc @steveperry-53 This is closely related to your resources documentation effort. @vdavidoff can you work with @steveperry-53 on improving documentation?

[2017-06-16 21:42] enisoc commented on #43321
I believe this is now obsolete.

As of 1.6, the overlapping annotation is no longer used. However, in 1.6 client code we still had to support talking to 1.5 servers, and in that context it was suggested that perhaps we should take the annotation into account.

In 1.7+, we no longer need to support talking to a pre-1.6 server, and the client code already uses the full ControllerRef logic rather tha

[2017-06-16 21:42] #43321 closed

[2017-06-16 21:45] dchen1107 commented on #47379
#47631 should be the one fixing the issue. I will leave this open, until all UpgradeTest on GCE 1.6->1.7 are green. Thanks!

[2017-06-16 22:02] nicksardo commented on #46983
Correct. Thank you @marun

[2017-06-16 22:05] foxish commented on #45677
Looking into this.
/cc @chrislovecnm

[2017-06-16 22:08] smarterclayton opened #47678 "protobuf maps aren't order stable, defeating the "no mutate on write" guarantee"
Maps are in random order due to Go.

Adding `stable_marshaller_all` to gen-go makes it stable.  Possibly at risk of altering some guarantees of generation.

@kubernetes/sig-api-machinery-pr-reviews

We have to decide whether to put this in 1.7

[2017-06-16 22:09] smarterclayton commented on #47678
@lavalamp @dchen1107

I don't know that it is the end of the world if we put it into 1.7.1 and backport.  The impact is more writes to etcd, but not fundamentally broken.

[2017-06-16 22:09] smarterclayton commented on #47678
I've got tests running against using stable_marshaller_all on our code, haven't done perf comparisons @wojtek-t

[2017-06-16 22:27] msau42 commented on #43527
Volume metrics has to be implemented in each volume plugin.  Each plugin has to implement the `MetricsProvider` interface.  What is the volume type you are using?

[2017-06-16 22:38] janetkuo commented on #23403
/sig cli

[2017-06-16 22:45] foxish commented on #45398
I had a conversation with @mml about this. It appears that there was a rationale behind immutability of the spec initially when the plan included a time component as well (allowing N evictions over M hours). There isn't a reason that maxUnav/minAv shouldn't be mutable that I can think of.

[2017-06-16 22:51] rickypai commented on #43632
I can write up what I think will be needed to support HostAlias in hostNetwork pods

[2017-06-16 22:51] foxish commented on #45706
This has not failed in the last 3 days. The issue appears to have been at least partly https://github.com/kubernetes/kubernetes/issues/47135 and https://github.com/kubernetes/kubernetes/issues/46871. I think this can be closed now.

[2017-06-16 22:56] rmmh opened #47682 "Echoserver:1.4 triggers XSS warnings"
The ingress tests use an echoserver version that echoes URLs directly, so requesting `/<script>alert('oops')</script>` will put a script tag in the output. The output is Content-Type `text/plain`, but some browsers (IE) perform content-sniffing that may cause the script to execute.

This means test runs can get flagged by automated XSS scanners, despite an XSS against echoserver being useless.

[2017-06-16 22:59] foxish commented on #45706
Closing, please reopen if these recur.

[2017-06-16 22:59] #45706 closed

[2017-06-16 23:02] foxish commented on #47472
Looking into this now.

[2017-06-16 23:12] mml commented on #46871
What was the fix?

[2017-06-16 23:13] gyliu513 commented on #43565
Good to know, will try to check this and to see if this can be closed later. Thanks @DirectXMan12

[2017-06-16 23:15] liggitt commented on #46871
https://github.com/kubernetes/kubernetes/pull/46985

[2017-06-16 23:16] foxish commented on #47472
There is an issue with the 1.5->1.7 tests where they're not going through 1.6 yet (cc @krousey). However, it's still not completely clear why these are occurring.
These however look like storage and networking issues, and not sig-apps.

cc @kubernetes/sig-storage-bugs @kubernetes/sig-network-bugs

[2017-06-16 23:29] monopole opened #47685 "test failure: master upgrade should maintain a functioning cluster"
We care most about the master upgrade tests :)

Drilling down:
[gke-cvm-1-5-cvm-1-7-upgrade-master](https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-cvm-1-5-cvm-1-7-upgrade-master)

leads to
[ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-master/11](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-master/11)

Snippet:
[code]

[2017-06-16 23:34] spiffxp commented on #23225
/remove-priority P1
this already has priority/backlog on it, I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels

[2017-06-16 23:36] monopole commented on #47685
/sig apps
/assign @krousey

Looks like a sequel to #42738

[2017-06-16 23:36] spiffxp commented on #44354
/remove-priority P1
/priority important-longterm
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-16 23:37] saad-ali commented on #44737
With https://github.com/kubernetes/kubernetes/pull/47400 this is complete for 1.7. Moving to 1.8 for "real fix"

[2017-06-16 23:43] pwittrock commented on #47448
thanks @ericchiang I didn't realize that.  this seems like a breaking change then.

@thockin @smarterclayton what do you want to do regarding #44714 ?  is there anyway to prevent the break besides a rollback?  We could cherry pick the fix into 1.6, but it would still be broken for kubectl clients that are unpatched

[2017-06-16 23:44] monopole commented on #47685
Also, @enisoc can you take a look?

[2017-06-16 23:48] saad-ali commented on #47657
Marking this with 1.7 milestone until we have a better idea of whether this is blocking or not for the 1.7 release.

[2017-06-16 23:48] krousey commented on #47685
cc @kargakis too

[2017-06-16 23:52] saad-ali commented on #47657
CC @kubernetes/sig-storage-bugs

@humblec @rootfs Is the endpoint originally created by the user or by the volume plugin creating/deleting Endpoint objects? In addition to the concerns @liggitt raised, having a volume create new API objects seems like a bad idea (abstraction layer violation?).

[2017-06-16 23:58] saad-ali commented on #47657
From @liggitt on Slack:

@humblec @rootfs Unless there is justification otherwise, I will roll back the PR on Monday.

[2017-06-17 00:01] foxish commented on #46901
@bruj0 can you give us more detail? `kubectl get statefulset pgset -o yaml` and `kubectl get pod pgset-0 -o yaml`?
Is this reproducible consistently?

[2017-06-17 00:03] foxish commented on #47002
Seems related to https://github.com/kubernetes/kubernetes/issues/46901
Are we seeing more of these `FailedCreate` events?

[2017-06-17 00:04] shyamjvs commented on #47646
Runs [1420](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-high-density-100-gce/1458?log#log), [1420](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-high-density-100-gce/1451?log#log) and [1458](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-high-density-100-gce/1458?log#log)

[2017-06-17 00:08] caesarxuchao opened #47686 "admissionregistration group isn't in apiVersionPriorities list"
this causes the admissionregistration group missing in the discovery documents.

/sig apimachinery

cc @deads2k @sttts

[2017-06-17 00:08] foxish commented on #47002
These look like timeouts, coming from https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go#L238-L253, but we could make that clearer.

[2017-06-17 00:08] caesarxuchao commented on #47686
/sig apimachinery

[2017-06-17 00:09] caesarxuchao commented on #47686
/sig api-machinery

[2017-06-17 00:11] bruj0 commented on #46901
@foxish it is reproducible consistently on my cluster with any type of statefulset configuration, including the one i posted as an example.
Any pointers appreciated!

This is the output you requested:

kubectl get statefulset pgset -o yaml

[code]

kubectl get pod pgset-0 -o yaml

[code]

[2017-06-17 00:12] caesarxuchao opened #47687 "alpha features are enabled by default"
In https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master.go#L384,
[code]
These alpha versions are enabled by default, is it intentional?

I can answer for admissionregistration, it's not intentional.
cc @liggitt for rbac
cc @pwittrock for setting

[2017-06-17 00:14] caesarxuchao commented on #47687
Not sure what sig it belongs to.

[2017-06-17 00:15] monopole commented on #47553
There were layers of problems.  The silliness of kubernetes/test-infra#3069, then an internal problem with cluster deletion cleanup and IP leaking (which prevented cluster creation referred to above), and now I'm waiting to get _some_ signal on the `upgrade-cluster` tests.  Some take 7h+ to run, so I'm keeping this issue open.

@smarterclayton, @timothsc - once the test infra is healthy, there's s

[2017-06-17 00:15] k82cn commented on #42281
prefer to close this one, any comments.

[2017-06-17 00:16] bruj0 commented on #46901
More info:
[code]

[2017-06-17 00:16] pwittrock commented on #47687
This should be off by default

[2017-06-17 00:17] foxish commented on #46901
This is interesting. Can you confirm that this only occurs with StatefulSet and not other mechanisms of creating pods?

[2017-06-17 00:20] k82cn commented on #47381
In https://github.com/kubernetes/kubernetes/issues/47382#issuecomment-308307455 , it found the pod to balance resource was not create; so I create a PR (#47488) to see what happened.

Another option is that can we create Pods (e.g. DNS) to management host, so we do not need to create additional Pods to balance resource.

[2017-06-17 00:20] monopole commented on #47553
Hi @krousey , @krzyzacy (and @timothysc sic above)

I'm using this as a master issue for all the failing upgrade tests - please mention in it in related work, would like to close it and shard it into specific things to fix, once we get more data.

[2017-06-17 00:22] bruj0 commented on #46901
@foxish i can confirm that, i just created a simple busybox pod in the namespace and its running:

[code]

[2017-06-17 00:28] foxish commented on #46901
Thanks @bruj0. Will try to reproduce said issue. I can see that there was a fix in 1.6.3.
StatefulSet: Fix to fully preserve restart and termination order when StatefulSet is rapidly scaled up and down. (#45113)

@kow3ns Does this look related?

[2017-06-17 00:29] caesarxuchao opened #47689 "rbac v1alpha1 is listed in the discovery doc but not accessible"
At http://localhost:8080/apis:
[code]

Note that `rbac.authorization.k8s.io/v1alpha1` is in the list.

But `http://localhost:8080/apis/authorization.k8s.io/v1alpha1` returns 404.
http://localhost:8080/apis/authorization.k8s.io/v1beta1 works fine.

cc @deads2k @lavalamp @sttts perhaps it's related to the recent change in aggregator.

@kubernetes/sig-api-machinery-bugs

[2017-06-17 00:30] caesarxuchao commented on #47689
Probably it's a release blocker, @deads2k @lavalamp could you help triage?

[2017-06-17 00:31] dchen1107 commented on #47687
Good finding! But shouldn't by default, all alpha features are disabled; then enabled through the feature-gate?

[2017-06-17 00:32] spiffxp commented on #20247
/sig instrumentation

[2017-06-17 00:34] dchen1107 commented on #47687
@caesarxuchao I am assigning this to you since you are the last one touching above three alpha api resources. ;-) Please feel free to delegate to others.

[2017-06-17 00:37] spiffxp commented on #20899
/sig node
since the issue referencing this was tagged with sig/node

[2017-06-17 00:38] spiffxp commented on #21077
/sig api-machinery
because admission control

[2017-06-17 00:39] foxish commented on #47444
I don't quite understand why the rescheduler tries to move critical addons between nodes in the first place.

[2017-06-17 00:41] foxish commented on #44458
Closing this issue, because behavior is as intended. The way around it would be to delete the node from k8s to keep it in sync with the infrastructure.

[2017-06-17 00:41] #44458 closed

[2017-06-17 00:41] spiffxp commented on #21148
/sig cli
looks like it's still present in https://github.com/kubernetes/kubernetes/commit/6a4d5cd7cc58e28c20ca133dab7b0e9e56192fe3

[2017-06-17 00:45] spiffxp commented on #21691
/sig instrumentation
I'm assuming sig-instrumentation owns https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch

[2017-06-17 00:48] spiffxp commented on #21967
/sig scalability
I'm assuming sig-scalability owns kubemark

[2017-06-17 00:51] xiangpengzhao commented on #43924
/sig auth

[2017-06-17 00:51] spiffxp commented on #21994
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

/assign
closing because we no longer use jenkins for upgrade tests

[2017-06-17 00:51] spiffxp commented on #21994
/close

[2017-06-17 00:51] #21994 closed

[2017-06-17 00:52] spiffxp commented on #21996
/sig api-machinery
because admission control

[2017-06-17 00:52] liggitt commented on #47687
yes, alpha API versions are supposed to be disabled by default. Storage and API group enablement predate feature gates, so the mechanism is different.

That said, API group enablement and storage enablement are distinct, and once a storage version is enabled, it should not be disabled to ensure that etcd data from previous releases can continue to be read.

RBAC v1alpha1 storage was enabled [in 1.

[2017-06-17 00:53] xiangpengzhao commented on #43915
/sig node

[2017-06-17 00:54] caesarxuchao commented on #47689
Sorry, it's not a bug.

`rbac.authorization.k8s.io` and `authorization.k8s.io` are two API groups.

[2017-06-17 00:54] #47689 closed

[2017-06-17 00:55] xiangpengzhao commented on #43772
/sig logging

[2017-06-17 00:55] spiffxp commented on #22145
/sig apps
given that the linked issue is also sig/apps

[2017-06-17 00:56] spiffxp commented on #22196
/sig release

[2017-06-17 00:57] xiangpengzhao commented on #43772
/sig cluster-lifecycle
/area logging

[2017-06-17 00:57] spiffxp commented on #22222
/sig instrumentation
because fluentd addon

[2017-06-17 00:58] xiangpengzhao commented on #43769
/sig cli

[2017-06-17 00:59] spiffxp commented on #22409
/sig cluster-lifecycle
/area platform/gce
since we lack a sig-gcp at the moment

[2017-06-17 01:01] xiangpengzhao commented on #43725
/sig api-machinery

[2017-06-17 01:01] spiffxp commented on #22438
/sig api-machinery

[2017-06-17 01:01] caesarxuchao commented on #47687
@liggitt it seems the `DefaultAPIResourceConfigSource()` controls not only the storage enablement, but also if the groupversion shows in the discovery doc. Is there a separate knob to turn of the alpha versions in the discovery doc?

[2017-06-17 01:02] xiangpengzhao commented on #43670
/sig node

[2017-06-17 01:04] xiangpengzhao commented on #43524
/sig node
/sig aws

[2017-06-17 01:04] caesarxuchao commented on #47687
Are you saying it was a mistake to enable rbac v1alpha1 by defautl in 1.5, but we can't fix it know, so we should just leave it there?

Also, what are the feature gates? Could you point me to the code? Thanks.

[2017-06-17 01:05] #43716 closed

[2017-06-17 01:06] smarterclayton commented on #47553
Happy to

[2017-06-17 01:16] xiangpengzhao commented on #43456
/sig apps

[2017-06-17 01:18] gyliu513 commented on #47444
Please check [here](https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/) for how does rescheduler works.

Basically, when a node add taint of `CriticalAddonsOnly`, it will stop other pod scheduled on to this node. If there are some daemonset pod is scheduling at this time, then they cannot start up. @foxish

[2017-06-17 01:19] xiangpengzhao commented on #43418
/sig node

[2017-06-17 01:21] xiangpengzhao commented on #43367
/sig storage

[2017-06-17 01:24] spiffxp commented on #23391
/assign
fixed by #40335

[2017-06-17 01:24] spiffxp commented on #23391
/close

[2017-06-17 01:24] #23391 closed

[2017-06-17 01:26] MrHohn commented on #47142
@ssubramanian123  Regarding the logging, the config you pasted seems right. I guess it's likely due to log rotation (https://kubernetes.io/docs/concepts/cluster-administration/logging/). You might find the rotated log files in `/var/lib/docker/containers/CONTAINER_ID/`.

[2017-06-17 01:28] spiffxp commented on #22121
@kubernetes/sig-cli-feature-requests @kubernetes/sig-release-feature-requests is this a release artifact we want to support? otherwise this can be closed due to working as expected
[code]

[2017-06-17 01:29] liggitt commented on #47687
Something like that, though it appears that reading v1alpha1 data out of etcd still works fine even with the API group not exposed in discovery.

https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go

used in places like https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L455

[2017-06-17 01:30] spiffxp commented on #21528
/sig api-machinery
because resourcequota admission control

[2017-06-17 01:33] spiffxp commented on #22640
/kind support

/assign
closing due to inactivity

[2017-06-17 01:33] spiffxp commented on #22640
/close

[2017-06-17 01:33] #22640 closed

[2017-06-17 01:34] liggitt commented on #47686
I see them in discovery... what are you doing to see this issue?

[2017-06-17 01:36] spiffxp commented on #23140
/sig instrumentation
because heapster

[2017-06-17 01:39] spiffxp commented on #23954
/sig node

/assign
going to close because I'm assuming the need's been fulfilled by now

[2017-06-17 01:39] spiffxp commented on #23954
/close

[2017-06-17 01:39] #23954 closed

[2017-06-17 01:44] dchen1107 commented on #47687
Now I remembered that we enabled rabac v1alpha1 by mistake in v1.5. Let's leave it as is, but including one comment, so that next release, the release management team wouldn't be confused like us.

[2017-06-17 01:45] spiffxp commented on #23105
/sig scheduling
because predicates

/assign
the specific test in question has been fixed for a while, calling this done

[2017-06-17 01:45] spiffxp commented on #23105
/close

[2017-06-17 01:45] #23105 closed

[2017-06-17 01:46] dchen1107 commented on #47657
cc/ @kubernetes/kubernetes-release-managers

[2017-06-17 01:48] dchen1107 commented on #47379
Ok, I thought we still have the issue on this, and assign this to myself. It turns out the test is still running with the old build for the upgrade test. Will continue monitoring this. cc/ @monopole

[2017-06-17 01:49] spiffxp commented on #23106
/sig scheduling
because node selection

/assign
closing because the example at https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#node-affinity-beta-feature matches the description, this has been fixed

[2017-06-17 01:49] spiffxp commented on #23106
/close

[2017-06-17 01:49] #23106 closed

[2017-06-17 01:50] spiffxp commented on #22990
/sig release

/assign
closing because we no longer support release-1.2, please re-open if this still fails on release-1.5 or later

[2017-06-17 01:51] spiffxp commented on #22990
/close

[2017-06-17 01:51] #22990 closed

[2017-06-17 01:51] caesarxuchao commented on #47687
settings/v1alpha1 is enabled in 1.6: https://github.com/kubernetes/kubernetes/blob/v1.6.1-beta.0/pkg/master/master.go#L383

[2017-06-17 01:52] spiffxp commented on #23283
/sig api-machinery
because util

[2017-06-17 01:53] spiffxp commented on #23283
/assign
closing because it passes https://k8s-testgrid.appspot.com/release-1.6-all#test-go-1.6&include-filter-by-regex=DeepHash

[2017-06-17 01:54] spiffxp commented on #23283
/close

[2017-06-17 01:54] #23283 closed

[2017-06-17 01:57] spiffxp commented on #23511
/assign
this has been fixed

[2017-06-17 01:57] spiffxp commented on #23511
/close

[2017-06-17 01:57] #23511 closed

[2017-06-17 01:59] spiffxp commented on #23585
/sig auth

[2017-06-17 02:02] spiffxp commented on #23884
/sig testing

/assign
https://github.com/kubernetes/test-infra#automated-testing and https://github.com/kubernetes/test-infra/blob/master/docs/federated_testing.md have this covered, closing

[2017-06-17 02:02] xiangpengzhao commented on #43222
/sig api-machinery

[2017-06-17 02:02] spiffxp commented on #23884
/assign

[2017-06-17 02:02] spiffxp commented on #23884
/close

[2017-06-17 02:02] #23884 closed

[2017-06-17 02:04] spiffxp commented on #23874
/sig cluster-lifecycle

[2017-06-17 02:04] xiangpengzhao commented on #43179
/sig network
/sig docs

[2017-06-17 02:05] spiffxp commented on #23698
/sig api-machinery
I'm assuming sig-api-machinery owns both resourcequota and limitranger

[2017-06-17 02:07] xiangpengzhao commented on #43121
/sig testing

[2017-06-17 02:17] spiffxp commented on #47298
/sig instrumentation
because elasticsearch

[2017-06-17 02:25] spiffxp commented on #43560
/sig instrumentation
because metrics
/sig networking
because they're all network metrics

[2017-06-17 02:25] spiffxp commented on #43560
/sig network
because they're all network metrics

[2017-06-17 02:26] spiffxp commented on #43596
/sig federation

[2017-06-17 02:27] chrislovecnm commented on #45677
Is this stuff moving to examples?

[2017-06-17 02:27] spiffxp commented on #43605
/sig api-machinery
threadSafeMap is in client-go

[2017-06-17 02:28] spiffxp commented on #43455
/sig federation

[2017-06-17 02:30] dchen1107 commented on #28632
SGTM Thanks @ixdy

[2017-06-17 02:30] #28632 closed

[2017-06-17 02:30] xiangpengzhao commented on #43120
/sig storage
/sig scheduling
/kind support

[2017-06-17 02:33] spiffxp commented on #43069
/sig storage

[2017-06-17 02:34] spiffxp commented on #43069
/sig release
maybe because hyperkube

[2017-06-17 02:35] spiffxp commented on #43042
/assign
closing because this was fixed in the linked pr

/close

[2017-06-17 02:35] spiffxp commented on #43042
/close

[2017-06-17 02:35] #43042 closed

[2017-06-17 02:37] spiffxp commented on #42995
/sig federation

[2017-06-17 02:39] caesarxuchao opened #47691 "Disable rbac/v1alpha1 and settings/v1alpha1 by default in 1.8"
Need to follow-up on https://github.com/kubernetes/kubernetes/pull/47690 and https://github.com/kubernetes/kubernetes/issues/47687.

@pwittrock i assigned it to you because turning off settings/v1alpha1 requires some changes in the tests.

[2017-06-17 02:40] spiffxp commented on #32676
/sig cli

[2017-06-17 02:42] spiffxp commented on #42909
/sig node
the linked PR is tagged sig/node

[2017-06-17 02:45] spiffxp commented on #42957
/sig aws

[2017-06-17 02:46] spiffxp commented on #42963
/sig aws

[2017-06-17 02:49] spiffxp commented on #43801
/sig cluster-lifecycle
/area platform/gce
since we lack a sig-gcp at the moment

[2017-06-17 02:56] #47676 closed

[2017-06-17 02:56] #47682 closed

[2017-06-17 02:57] #47107 closed

[2017-06-17 02:57] #47686 closed

[2017-06-17 03:13] dchen1107 commented on #47446
After enabling cache-mutation-detector at 15:00pm today, the latency to finish etcd3-pr-validate job is increased obviously. From https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3-pr-validate/

38 2017-06-16 18:43 PDT took 46m11s
37 2017-06-16 17:53 PDT took 49m23s
36 2017-06-16 17:20 PDT took 31m31s
35 2017-06-16 16:43 PDT took 35m14s
34 2017-06-16 16:0

[2017-06-17 03:13] #47446 closed

[2017-06-17 03:16] dchen1107 commented on #47135
Please my latest update at https://github.com/kubernetes/kubernetes/issues/47446#issuecomment-309189490

I am suggesting to close this one too, but I will leave @liggitt to make the final call. Thanks!

[2017-06-17 03:28] xiangpengzhao commented on #43329
/sig api-machinery

[2017-06-17 03:30] xiangpengzhao commented on #42544
/sig network

[2017-06-17 03:31] xiangpengzhao commented on #42542
/sig network

[2017-06-17 03:42] dchen1107 commented on #47344
@gmarek Based on my record, scale test is the only one having automated for upgrade. Please make sure running the manual upgrade test for scale case.

cc/ @kubernetes/kubernetes-release-managers

[2017-06-17 03:44] xiangpengzhao commented on #47691
/sig api-machinery

[2017-06-17 03:52] xiangpengzhao commented on #42621
/sig apps
/kind support
As per the discussion, we can close it.
@thockin

[2017-06-17 03:57] roberthbailey commented on #23225
@matchstick @bowei @thockin - can we prioritize doing this in kube-up / GKE for 1.8? We already use kube-proxy in a daemonset in kubeadm and if there is something preventing that scenario from being production ready we need to address it.

[2017-06-17 04:05] xiangpengzhao commented on #42353
/sig api-machinery

[2017-06-17 04:08] xiangpengzhao commented on #42319
/sig network

[2017-06-17 04:10] xiangpengzhao commented on #42213
/sig scheduling

[2017-06-17 04:11] xiangpengzhao commented on #42198
/sig auth

[2017-06-17 04:12] xiangpengzhao commented on #42151
/sig azure
/sig network

[2017-06-17 04:15] xiangpengzhao commented on #41938
/sig node

[2017-06-17 04:15] xiangpengzhao commented on #41881
/sig network

[2017-06-17 05:05] dhilipkumars opened #47692 "Pod Important Events filterd"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-17 05:06] dhilipkumars commented on #47692
/assign @derekwaynecarr

[2017-06-17 05:08] dhilipkumars commented on #47692
/assign @sig/node

[2017-06-17 05:10] dhilipkumars commented on #47692
/sig node
/sig sig/node

[2017-06-17 05:29] #47687 closed

[2017-06-17 05:45] liggitt commented on #47135
since the test infra changes have resolved the blocking issue, and the cause of the performance hit during this test is known, I'm fine with lowering severity and moving out of the milestone. I would like to retitle this and keep it open to briefly investigate if we can make the mutation detector more of a constant cost operation throughout the test run

[2017-06-17 06:09] liggitt commented on #47283
Jobs are green again

[2017-06-17 06:09] #47283 closed

[2017-06-17 06:12] kow3ns commented on #46942
@marun this goes in 1.7 the PR is issued.

[2017-06-17 07:01] sebgoa commented on #22121
@spiffxp yes we can close

[2017-06-17 07:05] divyenpatel opened #47695 "Unable to register node with API server with RBAC authorization-mode"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

Yes, request for help. Refered - https://kubernetes.io/docs/admin/authorization/rbac/ to enable RBAC on API Server

**What keywords did you search in Kubernetes issues before filing this one?** (If you

[2017-06-17 07:08] divyenpatel commented on #47695
/sig Auth

[2017-06-17 07:22] k8s-merge-robot opened #47696 "Failure cluster [effa7e...] failed 160 builds, 11 jobs, and 1 tests over 1 days"
### Failure cluster [effa7e14eb7f57301847](https://go.k8s.io/triage#effa7e14eb7f57301847)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    11 jobs failed,    160 builds failed.
Failure stats cover 1 day time range '16 Jun 2017 05:52 UTC' to '17 Jun 2017 05:52 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 11 |

#

[2017-06-17 07:22] k8s-merge-robot opened #47697 "Flaky test: Deployment deployment should support rollover causes pr:pull-kubernetes-e2e-gce-etcd3 flaked 125 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-etcd3
 Flakes in the past week: **125**
 Consistency: **81.70%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| TearDown | 52 |
| [k8s.io] Garbage collector should orphan pods created by rc if delete options say so | 43 |
| [k8s.io] Deployment deployment should support rollover | 43 |

#### Previously closed issues for this job

[2017-06-17 09:08] #32119 closed

[2017-06-17 09:50] xiangpengzhao commented on #40847
/sig storage
/kind support
/cc @rootfs

[2017-06-17 09:54] xiangpengzhao commented on #40835
/sig network

[2017-06-17 10:02] xiangpengzhao commented on #40820
/sig cli
Seems like the output is the error from docker API and kubectl just print it directly. We might not be able to only print you mentioned because the error may be various, IMO

[2017-06-17 10:12] xiangpengzhao commented on #40807
/sig auth

[2017-06-17 10:14] xiangpengzhao commented on #40781
/sig api-machinery

[2017-06-17 10:15] xiangpengzhao commented on #40780
/sig node

[2017-06-17 10:19] xiangpengzhao commented on #40728
/sig storage

[2017-06-17 10:20] xiangpengzhao commented on #40686
/sig azure

[2017-06-17 10:21] xiangpengzhao commented on #40684
/sig azure

[2017-06-17 10:22] xiangpengzhao commented on #40669
/sig storage

[2017-06-17 10:24] xiangpengzhao commented on #40648
/sig network
/cc @bowei

[2017-06-17 10:25] xiangpengzhao commented on #40452
/sig node

[2017-06-17 10:25] xiangpengzhao commented on #40376
/sig aws

[2017-06-17 10:49] xiangpengzhao commented on #40789
/sig storage

[2017-06-17 10:51] fuhbar commented on #27308
@chancez The following alias fixes the need for default settings:

[code]

* Works both in bash and zsh
* Support shell auto completion
* Does not break auto  completion as reported here: https://github.com/kubernetes/kubernetes/issues/29322

Combined with [`direnv`](https://direnv.net/) which sets shell environment variables depending on the current location in fs tree you can work in parallel on

[2017-06-17 10:52] xiangpengzhao commented on #40310
/sig network

[2017-06-17 12:11] luxas commented on #47386
@ixdy anything more to do for this issue?

[2017-06-17 12:14] luxas commented on #47618
I'm pretty sure nsenter is in the hyperkube image: https://github.com/kubernetes/kubernetes/blob/master/cluster/images/hyperkube/Dockerfile#L28

As far as I can remember, it has always been there.

I guess the problem is something else...

[2017-06-17 12:32] luxas commented on #45189
cc @luxas @timothysc @jbeda

[2017-06-17 12:49] xiangpengzhao commented on #40137
/sig network

[2017-06-17 12:51] xiangpengzhao commented on #40219
/sig network

[2017-06-17 12:57] xiangpengzhao commented on #40085
/sig api-machinery

[2017-06-17 12:58] xiangpengzhao commented on #40074
/sig apps

[2017-06-17 12:59] xiangpengzhao commented on #40067
/sig auth

[2017-06-17 13:01] xiangpengzhao commented on #39994
/sig scheduling

[2017-06-17 13:04] xiangpengzhao commented on #39910
/sig storage

[2017-06-17 13:06] xiangpengzhao commented on #39849
/sig network

[2017-06-17 13:08] xiangpengzhao commented on #39791
/sig storage

[2017-06-17 13:10] xiangpengzhao commented on #39596
/sig cli

[2017-06-17 13:12] xiangpengzhao commented on #39782
/sig cli

[2017-06-17 13:13] #39645 closed

[2017-06-17 13:14] xiangpengzhao commented on #39329
/sig network
/cc @thockin @bowei

[2017-06-17 13:17] xiangpengzhao commented on #39573
/sig testing

[2017-06-17 13:19] xiangpengzhao commented on #39296
/sig network

[2017-06-17 13:21] xiangpengzhao commented on #39228
/sig scheduling

[2017-06-17 13:28] xiangpengzhao commented on #39201
/sig storage

[2017-06-17 13:29] xiangpengzhao commented on #39200
/sig cli

[2017-06-17 13:36] xiangpengzhao commented on #39007
/sig cli

[2017-06-17 14:07] spiffxp commented on #22121
/assign

[2017-06-17 14:07] spiffxp commented on #22121
/close

[2017-06-17 14:29] xiangpengzhao commented on #38799
/sig cli
/cc @adohe

[2017-06-17 14:57] hut8 commented on #34401
I just encountered the same problem as @miracle2k .

There's a huge difference here between the "request" and the "limit", which are both confusingly returned by this command:

[code]

@javiercr  @andrewmclagan, you state that `"By default, pods run with unbounded CPU and memory limits."`, which I think is in fact true (I'm on GKE). According to the above command, there are no *limits* here for CP

[2017-06-17 15:08] xiangpengzhao commented on #38596
dup of #33936. fixed by #39213.

we can close this.

/sig api-machinery
@thockin

[2017-06-17 15:10] xiangpengzhao commented on #38280
/sig network

[2017-06-17 15:52] roberthbailey commented on #47379
@krousey fyi

[2017-06-17 15:58] yastij opened #47704 "udp proxyLoop should spin goroutine to handle writes to the connection"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubeproxy
udp proxyLoop

---

**Is this a BUG REPO

[2017-06-17 15:59] yastij commented on #47704
/sig network
/area kube-proxy
/kind enhancement

[2017-06-17 15:59] DreadPirateShawn commented on #42735
@matchstick Yeah, the umbrella drift was unfortunate. In the original reply by @dchen1107 he said the original ticket was due to "a small race window between pod status and cni execution."

Is there a ticket / action item for that particular issue, which I originally reported?

(Or am I misunderstanding, is the original issue inseparable from the other issues people added to the ticket?)

[2017-06-17 15:59] yastij commented on #47704
/assign

[2017-06-17 15:59] yastij commented on #47704
cc @caseydavenport

[2017-06-17 16:34] dlsniper opened #47705 "Kubernetes sources impossible to use on Windows"
Due to the the symlinks in the project, especially in ` vendor/ `, like this: https://github.com/kubernetes/kubernetes/tree/a57c33bd2817323806b97da5c2f848108f7403d8/vendor/k8s.io any attempt to ` go get k8s.io/kubernetes ` results in incomplete sources being downloaded, which in turn results in more frustration with the project if you are trying to use Windows for example (as it's my case).

Is th

[2017-06-17 16:36] dlsniper commented on #47705
Also the bot is terrible for a new user interaction since I have no clue whatsoever what sig this belongs to nor do I personally care what sigs are there. It's not my job to triage the issues, at best it should be the bot that does this or maintainers of the project

[2017-06-17 16:41] yan234280533 commented on #47156
@xiangpengzhao  Yes, it is surely what I want to say. I know that  even though it give an ping clusterIP  reachable, it cannot prove anything. If we use curl clusterIP:port fails, I must to check the iptables and get infomation from iptable logs. So many thanks for everybody.

[2017-06-17 16:42] nshttpd commented on #40310
So having switching employers, but still staying in the GCP/GKE family I still haven't seen this crop up since switching from GCI to COS image types for the GKE Clusters. New gig isn't fully running all services in GKE yet, one of the reasons I was hired, but we're working on it as quickly as possible so I should have more real world traffic rolling through a GKE cluster again soon.

[2017-06-17 16:43] yan234280533 commented on #47156
To make  ping clusterIP reachable cannot prove anything.  So it not an good idea to make  ping clusterIP reachable . Close the issue.

[2017-06-17 16:49] yan234280533 commented on #47156
I think

[2017-06-17 17:25] xiangpengzhao commented on #37829
are you still facing this? `192.168.100.13` is a valid IP in `198.168.100.0/24`. It's odd that the validation failed.I will try to reproduce this and dig into it.
/sig network

[2017-06-17 17:34] xiangpengzhao commented on #37804
/sig storage

[2017-06-17 17:48] xiangpengzhao commented on #37799
/sig contributor-experience
/sig docs

The doc was fixed, so we can close this issue.
@thockin

[2017-06-17 17:49] xiangpengzhao commented on #37798
/sig network

[2017-06-17 18:48] smarterclayton commented on #40085
Units are not supported on scientific.  We support `1.2e-7`, but not `1.2e-7Ti`.

[2017-06-17 21:20] smarterclayton commented on #47448
Either a revert or a targeted fix to the swagger and API generation to
specifically mark this type as unchanged is all we can do I think.

We need to take client validation out of the critical path of any such
config loop projects, and indicate that if you do use it, it's not
guaranteed to work with  version skew (we reserve the right to change the
swagger definition, and the client is failing saf

[2017-06-17 21:45] jfoy commented on #44954
@quinton-hoole To further confuse things, kube-controller-manager accepts a `--cluster-name` argument which is used in various places by cloudproviders.

A formal cluster name as part of the API would be very useful to us, too. In the absence of this property, we're left with various templating hacks at deployment time.  Two use cases that come to mind immediately are:
1. A configuration backup da

[2017-06-18 00:03] gtirloni commented on #43750
@php-coder kubectl now has a `--output` option which lets you select between YAML or JSON.

However, I believe this is reversed. The more human-friendly output is hidden behind an option and the machine-friendly output is the default. I believe it should be the opposite.

[2017-06-18 00:18] liggitt commented on #47695
You have given your nodes a username of `kubernetes-node_certificate` and a group `kubernetes-anywhere`. That user and group have no inherent permissions, which is why it cannot register a node (or do anything else a kubelet wants to do).

You need to do one of the following:
* give each of your nodes its own credential with a username of `system:node:<nodeName>` and a group of `system:nodes` (pre

[2017-06-18 00:28] liggitt commented on #30158
And it can flutter for resources served from two api groups or versions

[2017-06-18 00:37] liggitt commented on #47635
when patching a list that specifies a mergeKey, you need to include the key in the patch item so the server knows which item in the list you are patching.

the mergeKey for containers is the "name" field, so this patch should work:
[code]

[2017-06-18 00:57] k82cn commented on #47705
I think you can use `client-go` directly; if `client-go` can not meet the requirement, use `godep restore` in gopath and then import related packages.

[2017-06-18 01:21] k82cn commented on #47705
/sig api-machinery

[2017-06-18 01:33] smarterclayton commented on #46942
I think it's important to have this in 1.7 to give us signal on SS (which are important enough to end users now that breaking them is probably a release blocker)

[2017-06-18 05:26] noah8713 commented on #47201
@kubernetes/sig-network-misc

[2017-06-18 07:22] k8s-merge-robot opened #47707 "Failure cluster [9105b1...] failed 105 builds, 35 jobs, and 1 tests over 1 days"
### Failure cluster [9105b1d7156978e7666e](https://go.k8s.io/triage#9105b1d7156978e7666e)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    35 jobs failed,    105 builds failed.
Failure stats cover 1 day time range '17 Jun 2017 06:02 UTC' to '18 Jun 2017 06:02 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 35 |

##### To

[2017-06-18 07:22] k8s-merge-robot opened #47708 "Failure cluster [504c3c...] failed 104 builds, 3 jobs, and 1 tests over 1 days"
### Failure cluster [504c3c35c87a7d8b3b54](https://go.k8s.io/triage#504c3c35c87a7d8b3b54)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    3 jobs failed,    104 builds failed.
Failure stats cover 1 day time range '17 Jun 2017 06:02 UTC' to '18 Jun 2017 06:02 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 3 |

##### Top

[2017-06-18 10:48] xiangpengzhao commented on #37637
/sig cli

[2017-06-18 10:49] xiangpengzhao commented on #37121
/sig testing

[2017-06-18 10:51] xiangpengzhao commented on #37268
/sig storage
/cc @jingxu97

[2017-06-18 11:05] xiangpengzhao commented on #37597
as per @kargakis comment, we can close this issue.

/sig apps
/cc @thockin

[2017-06-18 11:24] xiangpengzhao commented on #37621
/sig cli

[2017-06-18 11:40] xiangpengzhao commented on #36593
/sig network

[2017-06-18 11:40] xiangpengzhao commented on #36572
/sig network

[2017-06-18 11:42] xiangpengzhao commented on #36349
/sig network

[2017-06-18 11:44] xiangpengzhao commented on #36304
/sig cli

[2017-06-18 12:08] xiangpengzhao commented on #36184
/sig api-machinery

[2017-06-18 12:12] xiangpengzhao commented on #36072
/sig cli

[2017-06-18 12:20] jonathanmarsaud commented on #40648
This issue is fixed in the upper version. Closing it.

[2017-06-18 12:20] #40648 closed

[2017-06-18 12:40] xiangpengzhao commented on #35335
/sig cli

[2017-06-18 12:41] xiangpengzhao commented on #35234
/sig cli

[2017-06-18 13:29] deitch opened #47711 "endpoints not showing up for service"
**Is this a request for help?** no.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): service endpoints missing

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Kubernetes version** (use `kubectl version`): 1.6.2

**Environment**:
- **Cloud provider or hardware configurat

[2017-06-18 13:39] deitch commented on #47711
The system is asking for a SIG, but it isn't clear which SIG is appropriate for this. Taking best guess, apologies if I am wrong.

/sig sig/apps
/sig sig/scheduling

[2017-06-18 14:33] xiangpengzhao commented on #47711
/sig network

[2017-06-18 15:06] #39622 closed

[2017-06-18 15:15] rootfs commented on #40847
@akhilmandadi is it still issue?

[2017-06-18 16:10] garethr commented on #14987
I've been doing some work around this as part of building some tooling for Kubernetes. I have some tools (open source soon) which can take OpenAPI specs and extract the JSON Schema in a useable manner.

I've just generated schemas for Kubernetes from version 1.5.0 until 1.6.6 and pushed them to:
https://github.com/garethr/kubernetes-json-schema

I independently hit on a similar approach to @joelha

[2017-06-18 16:11] xiangpengzhao commented on #34592
/sig cli

[2017-06-18 16:21] xiangpengzhao commented on #34095
/sig network

[2017-06-18 16:26] xiangpengzhao commented on #33953
/sig docs

[2017-06-18 16:27] xiangpengzhao commented on #33893
/sig networks

[2017-06-18 17:15] smarterclayton opened #47712 "Service registry needs to be refactored to be a) fully based on generic store and b) potentially use an Initializer for service IP assignment"
The service registry is the only Kube REST endpoint that doesn't use generic store directly (because of the complex allocation logic).  Now that we have initializers, we potentially can move cluster IP allocation to an initializer.  However, until we refactor the REST endpoint to be based on generic.Store, it doesn't support initializers (didn't do that in 1.7).  So:

1. Should we split the IP all

[2017-06-18 17:16] smarterclayton commented on #47712
@thockin because we hate this code

[2017-06-18 17:40] smarterclayton commented on #14987
Nice.  Being able to do this from a server at runtime from the discovery
doc would be very useful, so that it worked not just for built in
resources, but for third party extensions like CRD and the new aggregated
API servers.

On Sun, Jun 18, 2017 at 12:10 PM, Gareth Rushgrove <notifications@github.com

[2017-06-18 17:44] smarterclayton commented on #47712
xref #44918

[2017-06-18 17:46] smarterclayton commented on #35335
The line pasted by chao implies omitempty should not be false for tail.

On Sun, Jun 18, 2017 at 8:41 AM, Peter Zhao <notifications@github.com>
wrote:

[2017-06-18 19:19] xech3l0nx commented on #33729
Still stuck on this one. Following the official guide on a clean Ubuntu 16.04 installation on a Vagrant VM

[2017-06-18 19:42] luxas commented on #33729
@xech3l0nx Please report that issue in the kubernetes/kubeadm repo. Have you checked that your DNS servers are set-up correctly? ref: https://github.com/kubernetes/kubeadm/issues/302

[2017-06-18 20:31] ravisantoshgudimetla commented on #42281
Sure @k82cn. I will close this for now. I don't have numbers for this yet and I am planning to use scheduler_perf to get some numbers.

[2017-06-18 20:31] #42281 closed

[2017-06-18 21:21] smarterclayton opened #47714 "Unexpected code path in protobuf decoding of the internal event recorder in 1.6"
Use of the client-go event recorder is calling into NewNotRegisteredErrForType() on every response from the server, which I would not expect.  Not a huge number of allocations, but at least on first inspection I would not expect to get this on a decode into.

Kube 1.6, but may still happen in 1.7.

[code]

[2017-06-18 21:24] smarterclayton commented on #47714
It's possible that this is a case where a client-go is being initialized with a RESTClient that was created via kapi.Scheme, which is not technically valid.  The client-go version has a different Scheme.

[2017-06-18 21:27] smarterclayton commented on #47714
[code]

this code is only correct if kubeExternalClient (`pkg/client/clientset_generated`) and v1core (`client-go/...`) have the same scheme, which they don't.

[2017-06-18 21:28] smarterclayton commented on #47714
Scheduler and attach/detach controller are both doing this

[2017-06-18 21:50] vdavidoff commented on #43528
I'm glad to help, I just need to find a second to review the current state of things to see if they differ from my original report. Either way, I probably need someone who understands what I found confusing to confirm what is meant to be communicated there.

[2017-06-18 22:14] rosskukulinski commented on #47142
@ssubramanian123 I also wonder if this issue is related? https://github.com/kubernetes/kubernetes/issues/45976

[2017-06-18 23:38] vishh commented on #43528
Our intention is to not hard limit system daemons by default. Since evicting system daemons will most likely cause a node to become unavailable or unresponsive, we decided to let system daemons burst by default and instead evict pods even if system daemons use more than what they are configured to use.
Example:
`Capacity = 1Gi, system-reserved+kube-reserved=100Mi`. Pods can use a sum total of `900

[2017-06-18 23:44] cmluciano commented on #37798
/assign

[2017-06-18 23:44] cmluciano commented on #37798
/close

closing due to inactivity

[2017-06-18 23:44] #37798 closed

[2017-06-18 23:47] cmluciano commented on #47707
/sig cluster-lifecycle

[2017-06-18 23:48] cmluciano commented on #47708
/sig cluster-lifecycle

[2017-06-19 00:13] jwforres commented on #40085
If I remember correctly the original issue that spawned this was QE putting in 0.0000001 Ti as the limit, and the browser was "helpfully" converting the value portion to scientific.

Sounds like we need to deal with this in the client and not let it send the data in this format?

[2017-06-19 00:19] smarterclayton commented on #40085
Probably at this point yes, changes to the format are going to be very
complex and not worth it.

On Sun, Jun 18, 2017 at 8:13 PM, Jessica Forrester <notifications@github.com

[2017-06-19 00:25] cyphar commented on #44976
@yujuhong

The idea would be that every single log entry specifies how many bytes long it is, and that's considered a single "chunk" of the log. Unfortunately it would mean the log isn't really a "nice" NL-delimited log anymore, but the idea would be that each entry looks like

[code]

[You can pick whatever record separators you like, personally I like the dedicated ASCII characters but w/e.]

[2017-06-19 00:58] prateekgogia commented on #47642
If you install with Kubeadm, it gives you an option to advertise api-server address -  --apiserver-advertise-address=`publicIP`. This will generate kube.config file with this IP and Kubectl can remotely talk to this IP address. Hope, this helps.

[2017-06-19 01:17] nickschuch commented on #40074
After some debugging I think I tracked this one down to kubectl injecting the "Namespace" field onto each of the objects all the way down. Meaning that `kubectl` would work, but my raw code had to account for that.

[2017-06-19 01:17] smarterclayton commented on #47597
What is being throttled - just PUT, or also GET?  How many PUTs are you
seeing?  I've got a 3.5 cluster with ~10k endpoints and we see about 200
sustained endpoints related qps, but those endpoints are not changing
frequently.  If you are having lots of changes to endpoints (a pod flapping
between ready and not ready) that could exacerbate the problem.

I am in the process of opening bugs and prop

[2017-06-19 01:21] k82cn commented on #42281
Great, scheduler_perf is good tools to get the number :).

[2017-06-19 02:04] y123456yz commented on #47644
@k82cn

[root@localhost ~]# uname -a
Linux localhost.localdomain 3.10.0-327.el7.x86_64 #1 SMP Thu Nov 19 22:10:57 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
[root@localhost ~]# go version
go version go1.6.3 linux/amd64
[root@localhost ~]#

[2017-06-19 02:05] y123456yz commented on #47644
[root@localhost ~]# cat /proc/version
Linux version 3.10.0-327.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.3 20140911 (Red Hat 4.8.3-9) (GCC) ) #1 SMP Thu Nov 19 22:10:57 UTC 2015
[root@localhost ~]#

[2017-06-19 02:26] gyliu513 commented on #47644
You need to upgrade to your go version to 1.8.1

Please refer to https://github.com/kubernetes/kubernetes/issues/45214 for detail

@y123456yz

[2017-06-19 02:31] klynch commented on #45398
Agreed, it is a bit frustrating to have to force replace this type when most other types do not require special treatment.

[2017-06-19 03:05] smarterclayton opened #47715 "Events table in describers is a crime against usability"
I finally lost it with the events table:

[code]

A couple of things are wrong here.

1. We are using tabs.  No.  Tabs are bad.  We have a tab writer for a reason, to write spaces that are better than tabs in every way (#47716)
2. The SubObjectPath column is a giant WAT.  Wastes 20% of horizontal real estate and conveys almost zero useful info.  That's what `kubectl get events -o yaml` is for.
3.

[2017-06-19 03:10] smarterclayton opened #47716 "Describers should not be using a tab separator char"
We're currently using `\t` as the separator char, but use TabWriter so we don't have to rely on tabs which are imprecise.  We should probably move to space (` `) and 2 character padding, which provides a nice dense layout without being too tight.

[2017-06-19 03:11] smarterclayton commented on #47716
Related to #47715

[2017-06-19 04:17] smarterclayton commented on #47715
[code]

[2017-06-19 04:19] smarterclayton commented on #47715
Also, `Normal` is the worst type.

[2017-06-19 04:53] raghakk commented on #41565
Thanks.
I did the same way...added another service.

regards
ragha

[2017-06-19 04:53] #41565 closed

[2017-06-19 05:15] eicnix commented on #43527
@msau42 Thanks for the info.
I am using vsphere volumes. I will check their code if they have a metrics provider and when they added it.

[2017-06-19 05:48] eicnix commented on #43527
The `vsphereVolume` contains in 1.7.0-beta.2 the `MetricsNil` metrics provider.

[2017-06-19 06:25] vaibhavsood commented on #44023
Yes, this is no longer a issue on the latest code base

[2017-06-19 06:38] crassirostris commented on #43772
@xiangpengzhao Thanks! On cos, it's included [automatically](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L169), but for the salt-based deployments that's indeed a bug, I'll fix it shortly

[2017-06-19 06:38] crassirostris commented on #43772
/sig instrumentation
/kind bug

[2017-06-19 07:00] timstoop commented on #38380
I'm getting this exact issue using Kubernetes 1.5.7 and Go 1.8.3. Reverting to Go 1.7 seems to resolve it. This happened after updating a Go 1.7-compiled 1.4.8 Kubernetes cluster to 1.5.7, not sure if that's a corner case.

For reference, my stack trace:

[code]

[2017-06-19 07:25] janetkuo commented on #46981
Done for 1.7.

[2017-06-19 07:27] janetkuo commented on #46998
This is done

[2017-06-19 07:27] #46998 closed

[2017-06-19 08:35] xilabao opened #47718 "kubectl set selector failed"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-19 08:43] fgrzadkowski commented on #40860
@DirectXMan12 can you please confirm https://github.com/kubernetes/kubernetes/issues/40860#issuecomment-284820782

[2017-06-19 08:54] crassirostris commented on #47069
@marun Should be fixed very soon

[2017-06-19 08:59] shyamjvs commented on #47419
FYI, run 473 (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/473) failed due to 'list endpoints' having ~2.2s as it's 99th percentile latency:

[code]

This just happened once till now, but will keep happening occasionally until we tune our SLO.

[2017-06-19 09:10] sidd14491 commented on #47635
After giving mention json input:

{
  "kind": "Pod",
  "apiVersion": "v1",
  "spec": {
    "containers": [{
      "name": "csp.csp-shared-object-2386506139-orp8m",
      "image": "sspt-artifactory.juniper.net/shared-object-api-svr:3.1.0.dev379"
    }]
  }
}
Still it's failing
Giving following error
{
    "kind": "Status",
    "apiVersion": "v1",
    "metadata": {},
    "status": "Failure",
    "me

[2017-06-19 09:48] mitar opened #47722 "Scheduling jobs based on file availability in distributed file system"
I have a distributed file system providing a large number of datasets. This distributed file system is attached to many Kubernetes nodes on which I plan to run Kubernetes jobs to work with datasets. Not all datasets are available on all nodes and distributed file system moves them between nodes as needed.

Now, the question I have is how could I assure that jobs needing same datasets get scheduled

[2017-06-19 09:49] #47279 closed

[2017-06-19 09:52] mitar commented on #47722
@kubernetes/sig-scheduling-misc
/sig sig/scheduling

[2017-06-19 09:58] gmarek commented on #47540
Last two graphs are awesome!

[2017-06-19 10:01] mccormd commented on #26050
Should/would something like this prevent me from deleting an API object?

[code]

[2017-06-19 10:01] liggitt commented on #47635
Ah, you need to indicate which patch type you are submitting with a `Content-Type: application/strategic-merge-patch+json` header

[2017-06-19 10:15] mikedanese commented on #37121
This is done. cc @ixdy we should figure out how to run hack/e2e.go with the artifact built from bazel.

[2017-06-19 10:15] #37121 closed

[2017-06-19 10:52] discordianfish commented on #2849
As far as I can tell, the only missing bits are the actual cloud provider integration, right? The services already support udp, so it's just a matter of configuring the right rule on external LBs?

[2017-06-19 11:09] luxas commented on #47338
Ok, wanted to check whether this was a thing we could think of endorsing.
I'm fine with the current state as-is as well if we don't want to take on such a role.

Eventually this will be solved anyway with moving cloud providers out of core I guess...

[2017-06-19 11:09] #47338 closed

[2017-06-19 11:12] jsravn commented on #47597
@smarterclayton It's a mixture. We have 223 endpoints, during one resync I count 93 PUTs and 198 GETs. It is a relatively high churn environment since it includes developer build deployments. It does look to me like it calls GET for every single endpoint though - so how are you avoiding api throttling when it does the 30s resync? Is it expected for endpoint updates to be delayed during the resync?

[2017-06-19 11:32] spradeepv opened #47723 "Service exposed as nodeport is accessible using 'External IP' of another service(type=LoadBalancer)"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Service, External IP

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Cu

[2017-06-19 11:32] sidd14491 commented on #47635
After giving content-type as you mentioned
Input JSON
{
  "kind": "Pod",
  "apiVersion": "v1",
  "spec": {
    "containers": [{
      "name": "csp.csp-shared-object-2386506139-orp8m",
      "image": "sspt-artifactory.juniper.net/shared-object-api-svr:3.1.0.dev379"
    }]
  }
}

I am getting following error:

{
    "kind": "Status",
    "apiVersion": "v1",
    "metadata": {},
    "status": "Failure

[2017-06-19 11:37] spradeepv commented on #47723
@kubernetes/sig-Network-misc
/sig area/kube-proxy

[2017-06-19 11:41] spradeepv commented on #47723
/sig area/kube-proxy

[2017-06-19 12:04] crassirostris commented on #32546
We don't have e2e tests for aws to test fluentd-elasticsearch deployment, so it's possible it's broken

If someone's still interested in debugging this, I'm ready to help. The first thing I'll need is fluentd logs from the affected nodes

[2017-06-19 12:04] crassirostris commented on #32546
/sig instrumentation

[2017-06-19 12:04] garethr commented on #14987
@smarterclayton I've just pushed the tools used to generate the schemas, which should work against any OpenAPI endpoint. I've only lightly tested this so far but would appreciate any feedback if people try it out for that purpose: https://github.com/garethr/openapi2jsonschema

[2017-06-19 12:32] liggitt commented on #47635
Make sure the container name you specify matches the name of an existing container in the pod spec

[2017-06-19 12:38] #47646 closed

[2017-06-19 12:46] shyamjvs commented on #47544
Here's the top few calls (by count) due to kubelets in real cluster:

[code]

And in kubemark:

[code]

Hollow-kubelets seem to make many many `get secret` calls for the default-token in the load & density test namespace even though (IIUC) the CachingSecretManager is there on both kubelet and hollow-kubelet.

[2017-06-19 12:46] gmarek commented on #47444
It's a discussion we need to have in 1.8 timeframe. We're currently in a limbo state, where NoSchedule Taints were designed as a better alternative for 'Unschedulable' bit, but Daemons on one hand ignore 'Unschedulabe', and on the other doesn't tolerate 'NoSchedule' Taints. I generally agree with @liggitt that in principle we shouldn't give Daemons special privileges by default, but on the other h

[2017-06-19 12:47] gmarek commented on #47344
Working on it with @shyamjvs.

[2017-06-19 12:59] shyamjvs commented on #47544
/cc @wasylkowski

Some useful commands I used to get the count of calls by kubelet:
`grep "kubelet/v1.8.0" kube-apiserver.log | grep "wrap.go:42" | awk '{print $5 $6}' | sort | uniq -c | sort -nr | less` (for real cluster)
`grep "kubemark/v1.8.0" kube-apiserver.log | grep "wrap.go:42" | awk '{print $5 $6}' | sort | uniq -c | sort -nr | less` (for kubemark cluster)

To be specific, I used [gce-scal

[2017-06-19 13:11] ghost opened #47725 "kube-proxy randomly returns 504 gateway timeouts (without actually waiting)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): Yes and I have

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kube-proxy, gateway timeout, gateway, 50

[2017-06-19 13:12] ami-fairfly commented on #47725
@kubernetes/sig-network-misc

[2017-06-19 13:14] antoniaklja commented on #15128
`fieldSelector` in combination with `v1.ListOptions` is quite important and useful, especially if you want list Pods with specific Status using `kubernetes/client-go`

[2017-06-19 13:17] castrojo commented on #42589
/sig release

[2017-06-19 13:18] castrojo commented on #36259
/sig release

[2017-06-19 13:20] crassirostris commented on #16397
Yup, it's not valid for a long time already

[2017-06-19 13:20] #16397 closed

[2017-06-19 13:20] crassirostris commented on #16397
@spiffxp Thanks a lot for digging this out!

[2017-06-19 13:24] jsravn commented on #47597
I see the throttling even in smaller clusters which have ~50 endpoints. The sync takes 2-3s in this case, during which I suspect updates are not processed but go onto the work queue, adding a delay to the ep updates during this time.

It seems the only workaround is to increase the qps limits on the controller manager to be at least the amount of endpoints in the cluster. I think it's a bug that d

[2017-06-19 13:25] piosz commented on #46572
I'll take a look this or next week. This is lower priority since it's not blocking suite and is not a blocker for 1.7.

[2017-06-19 13:35] luxas commented on #36259
@ixdy anything we can do to here?
Network flakes for debian repos are unfortunate...
Can we just retry `docker build` a couple of times when building a release?

[2017-06-19 13:40] rootfs commented on #47657
revert button doesn't work, have to do it manually

[2017-06-19 13:41] yan234280533 opened #47727 "kubectl rollout history is not record the update time"
If this is a FEATURE REQUEST, please:
  - Describe *in detail* the feature/behavior/change you'd like to see.

kubectl rollout history is not record the update time of the update

when I get the information of the history, it like this:

root@VM-0-10-ubuntu:/home/ubuntu# kubectl rollout history deployment/nginx  --revision=5
deployments "nginx" with revision #5
  Labels:	pod-template-hash=23432391

[2017-06-19 13:53] shyamjvs opened #47728 "APIserver should have a metric for response size"
Currently apiserver exposes metrics only for request counts and request latencies (labeled by verb, resource, etc..).
However we need more information about why the latencies might be high/low and one really important metric for it is the size of response body (specifically for GET and LIST calls).
This will also help us understand https://github.com/kubernetes/kubernetes/issues/44701 better and i

[2017-06-19 13:55] shyamjvs commented on #47728
@smarterclayton @lavalamp Sounds reasonable?

[2017-06-19 13:58] xiangpengzhao commented on #33517
/sig cli

[2017-06-19 13:59] jsravn commented on #47597
We're seeing ~12 sustained QPS, so this is far below the qps limit. It's just the resync burst that adds a huge delay to endpoint updates. So I'm thinking the qps burst needs to be large enough to accommodate the resync size, aka > number of endpoints.

[2017-06-19 14:00] xiangpengzhao commented on #47727
/sig cli

[2017-06-19 14:01] xiangpengzhao commented on #33515
/sig release

[2017-06-19 14:13] wanghaoran1988 commented on #41789
@kargakis Cool, thanks for clarification.

[2017-06-19 14:19] mtaufen commented on #45917
@msau42 is this still happening or can we close this issue?

[2017-06-19 14:20] xiangpengzhao commented on #33503
/sig docs
Agreed. It's very very necessary to have the docs versioned. I have some users who are confused by the docs, especially when some features have different versions between some release and the latest docs.

[2017-06-19 14:21] smarterclayton commented on #47728
As long as we keep the cardinality under control.

Also, we need to make apiserver_request_count differentiate between LIST namespace and LIST all, which I don't think it's doing now.  That's the one i'm mostly concerned about, although in the future we might have a middle ground.

[2017-06-19 14:28] smarterclayton commented on #47597
I think that's the best short term fix while @shyamjvs looks into the
larger issues

On Mon, Jun 19, 2017 at 9:59 AM, James Ravn <notifications@github.com>
wrote:

[2017-06-19 14:29] k82cn commented on #47722
/sig scheduling

[2017-06-19 14:31] k82cn commented on #47722
@kubernetes/sig-scheduling-misc

[2017-06-19 14:33] castrojo commented on #40955
/sig release

[2017-06-19 14:37] jsravn commented on #47597
I wonder why it doesn't use a cache for the endpoints.

[2017-06-19 14:40] xiangpengzhao commented on #33299
/sig network

[2017-06-19 14:41] xiangpengzhao commented on #33254
/sig cli

[2017-06-19 14:42] xiangpengzhao commented on #33253
/sig cli

[2017-06-19 14:43] xiangpengzhao commented on #33212
/sig cli
/sig docs

[2017-06-19 14:55] k82cn commented on #47444
I think that's the right behavior; if there's not enough resources for DaemonSet pods, they're not created (DaemonSet will check resources on each nodes by Predicates). If the DaemonSet is critical, the user/admin should mark it as "critical" explicitly. But it should not tolerant `CriticalAddonsOnly` by default.

[2017-06-19 15:05] shyamjvs commented on #47728
The cardinality shouldn't be too much given that we'd have one metric for <verb, resource> pair. Besides it'd be much less than request_count for example (which is also labeled by client and status code, that we probably don't need for our response_size metric).

Yes we don't differentiate them currently. But what's the reason you have in your mind for this? Because listing in a namespace might en

[2017-06-19 15:26] #22409 closed

[2017-06-19 15:26] mikedanese commented on #22409
Stale.

[2017-06-19 15:51] kbmetz commented on #39710
Setting --storage-backend=etcd2 worked for me too. Thanks

[2017-06-19 15:52] cmluciano commented on #39296
/assign

[2017-06-19 15:54] cmluciano commented on #39296
/closing

Please re-post your question to [Stack Overflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularl

[2017-06-19 15:55] #39296 closed

[2017-06-19 15:57] cmluciano commented on #36349
/assign

[2017-06-19 15:57] cmluciano commented on #36349
/close

Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly s

[2017-06-19 15:57] #36349 closed

[2017-06-19 15:57] jsravn commented on #47597
@smarterclayton I created a PR to move endpoints controller to use the cache instead of GETs (https://github.com/kubernetes/kubernetes/pull/47731). Seems reasonable to me. I'll test it out in my cluster and see how it goes.

[2017-06-19 15:59] caseydavenport commented on #47642
/assign

[2017-06-19 16:00] wanghaoran1988 commented on #38275
I think this should be the problem of `framework.WaitForReadyReplicaSet`, from the log we can see, RS is ready and pods are running and ready.
[code]

[2017-06-19 16:00] wanghaoran1988 commented on #38275
xref: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46425/pull-kubernetes-e2e-gce-etcd3/36626/?log#log

[2017-06-19 16:01] cmluciano commented on #34095
This seems like a GKE issue

/remove-sig network

/sig cluster-lifecycle

[2017-06-19 16:10] cmluciano commented on #2849
/assign

[2017-06-19 16:10] cmluciano commented on #2849
/close

That's correct. Since this is supported in kube-proxy, ingress/nginx, etc. this issue should be closed. External cloud providers will adopt the codebase at their leisure.

[2017-06-19 16:10] #2849 closed

[2017-06-19 16:12] spiffxp commented on #38144
/remove-priority P1
/priority important-longterm
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-19 16:13] spiffxp commented on #38275
/remove-priority P1
removing old priority/PN labels, this already has priority/backlog

[2017-06-19 16:13] cmluciano commented on #47723
/assign

Is the LB configured to select pods with the same label selector that the nodePorts do?

[2017-06-19 16:13] cmluciano commented on #47723
@kubernetes/sig-network-misc

[2017-06-19 16:13] spiffxp commented on #40573
/remove-priority P1
/priority important-soon
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-19 16:14] spiffxp commented on #42217
/remove-priority P1
removing old priority/PN labels, this already has priority/important-soon

[2017-06-19 16:14] spiffxp commented on #43821
/remove-priority P1
/priority important-soon
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-19 16:14] cmluciano commented on #47725
@kubernetes/sig-aws-misc

[2017-06-19 16:15] spiffxp commented on #44080
/remove-priority P1
/priority important-soon
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-19 16:15] spiffxp commented on #44107
/remove-priority P1
/priority important-soon
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-19 16:16] dchen1107 commented on #46070
What's the progress on this issue?

[2017-06-19 16:16] cmluciano commented on #33299
/assign

[2017-06-19 16:17] cmluciano commented on #33299
/close

The two linked issues are marked as resolved.

[2017-06-19 16:17] #33299 closed

[2017-06-19 16:17] spiffxp commented on #39325
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

/assign
closing due to inactivity

[2017-06-19 16:17] spiffxp commented on #39325
/close

[2017-06-19 16:17] #39325 closed

[2017-06-19 16:17] spiffxp commented on #39800
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-19 16:18] spiffxp commented on #40086
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

/sig api-machinery
because limitranger

[2017-06-19 16:18] cmluciano commented on #46070
Since we have been unable to reproduce this, I think this should be removed from the milestone and closed in 15 days.

[2017-06-19 16:18] spiffxp commented on #43206
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-19 16:18] dchen1107 commented on #47622
ping ...

[2017-06-19 16:19] spiffxp commented on #43280
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

/assign
closing due to inactivity

[2017-06-19 16:19] spiffxp commented on #43280
/close

[2017-06-19 16:19] #43280 closed

[2017-06-19 16:19] spiffxp commented on #43286
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

/assign
closing due to inactivity

[2017-06-19 16:19] spiffxp commented on #43286
/close

[2017-06-19 16:19] #43286 closed

[2017-06-19 16:19] dchen1107 commented on #47601
Close this one since it passed last couple days.

[2017-06-19 16:19] #47601 closed

[2017-06-19 16:20] spiffxp commented on #43335
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

/assign
closing due to inactivity

[2017-06-19 16:20] spiffxp commented on #43335
/close

[2017-06-19 16:20] #43335 closed

[2017-06-19 16:20] spiffxp commented on #43340
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-19 16:20] spiffxp commented on #43344
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-19 16:21] spiffxp commented on #43497
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

/assign
closing due to inactivity

[2017-06-19 16:21] spiffxp commented on #43497
/close

[2017-06-19 16:21] #43497 closed

[2017-06-19 16:21] cmluciano commented on #47696
/area gke

[2017-06-19 16:22] spiffxp commented on #43659
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

/assign
closing due to inactivity

[2017-06-19 16:22] spiffxp commented on #43659
/close

[2017-06-19 16:22] #43659 closed

[2017-06-19 16:23] spiffxp commented on #43780
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

/assign
closing due to inactivity

[2017-06-19 16:23] spiffxp commented on #43780
/close

[2017-06-19 16:23] #43780 closed

[2017-06-19 16:23] spiffxp commented on #43781
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-19 16:23] spiffxp commented on #43797
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-19 16:23] caseydavenport commented on #47622
@dchen1107 working on the fix that @dnardo suggested in PR https://github.com/kubernetes/kubernetes/pull/47669.

Tests are currently failing but haven't gotten to the bottom of it yet.

[2017-06-19 16:23] spiffxp commented on #43877
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

/assign
closing due to inactivity

[2017-06-19 16:24] spiffxp commented on #43877
/close

[2017-06-19 16:24] #43877 closed

[2017-06-19 16:24] dchen1107 commented on #47448
cc/ @kubernetes/kubernetes-release-managers

[2017-06-19 16:24] spiffxp commented on #43930
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

[2017-06-19 16:25] spiffxp commented on #43959
/remove-priority P2
/priority backlog
(I'm not actually sure this is the right priority, just trying to remove the old priority/PN labels)

/sig cluster-lifecycle
/area platform/gke
/area platform/gce
since we lack a sig-gcp at the moment

/assign
closing due to inactivity

[2017-06-19 16:25] spiffxp commented on #43959
/close

[2017-06-19 16:25] #43959 closed

[2017-06-19 16:26] jsravn commented on #41916
Quick update: We haven't had any issues w/ this since swapping away from ELBs to DNS round robin, and enabling quorum reads. But still think client-go should handle ELBs better :).

[2017-06-19 16:27] divyenpatel commented on #43527
@eicnix we recently added support for vSphere cloud provider metrics.
we can can help adding support for volume plugin. wanted to understand the use case.

@tusharnt @BaluDontu

[2017-06-19 16:34] danpaik commented on #46942
Ok, I'll work on getting this moved to 1.7.

[2017-06-19 16:36] cmluciano commented on #47711
@kubernetes/sig-network-misc

[2017-06-19 16:38] #47069 closed

[2017-06-19 16:41] dchen1107 commented on #47379
After #47631 was merged, the master is up and ready, but the upgrade is still marked as failed. I looked into it this morning, and found controller_manager was running into the crashloop after master was upgraded due to the following error:

[code]

I believe the issue is that we changed validation test in #47631 at https://github.com/kubernetes/kubernetes/pull/47631/files#diff-fb1c11977eba66e7c7c

[2017-06-19 16:44] cmluciano commented on #47472
I'm not sure if the DNS tests are the overarching failure here. [Testgrid](https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-cvm-1-5-cvm-1-7-upgrade-cluster-new&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20DNS%5C%20configMap%5C%20federations%5C%20should%5C%20be%5C%20able%5C%20to%5C%20change%5C%20federation%5C%20configuration%5C%20%5C%5BSlow%5C%5D%5C%5BSerial%5C%5D) is show

[2017-06-19 16:55] alexandrst88 opened #47732 "Question: How to set CloudConfig Variables in AWS?"
Hi! According to soucre https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L395. How do I set this variables in aws cloud config and in which format? I was not able to find example somewhere?

[2017-06-19 16:58] dchen1107 commented on #47379
Had a quick discussion with network team @kubernetes/sig-network-misc. The quick fix can be putting all nodes' cidr back 10.180.0.0/24, instead of 10.100.0.0/14 to stop the upgrade craziness. @dnardo is working on this, and running the upgrade tests locally. Meanwhile, @dnardo is going to discuss with @bowei on the next steps on how to rollout the feature which depends on the new ip range: 10.100.

[2017-06-19 17:07] gnufied commented on #47649
There was a plan to implement this for 1.7 but we ran out of time. We are planing to do this for 1.8 now. cc @jingxu97

[2017-06-19 17:07] jbeda commented on #36304
/cc @timstclair @kensimon have been looking at events.

[2017-06-19 17:08] mccormd opened #47733 "aws cloud provider tries to get ELB for services that do not have Type=LoadBalancer"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-19 17:10] mikedanese commented on #47472
Those TLS errors are from goproxy test pod, not any certs that cluster-lifecycle owns. Looks like https://github.com/kubernetes/kubernetes/issues/38228#issuecomment-280213590

[2017-06-19 17:10] cmluciano commented on #47156
/close

After discussion in SIG-Network, this is not a feature that we are prepared to support.

[2017-06-19 17:11] DirectXMan12 commented on #40860
err... so HPA v2alpha2 doesn't currently exist -- v2alpha1 is the only existant "v2" version.  That being said, I agree this probably isn't a blocker, but we should have v1 to v2alpha1 upgrade tests eventually.

[2017-06-19 17:13] dnardo commented on #47379
I think the problem now is that we have one version using 10.180.x. (1.6) and one using 10.100x.x. (1.7)  And when we upgrade happens the cluster was created with 10.180 but then we upgrade we want 10.100.
Can we just set the env var CLUSTER_IP_RANGE  to 10.100 in the test so that the 1.6 cluster comes up with the right range?

[2017-06-19 17:14] caesarxuchao commented on #40860
The test tests `storage/v1beta1 <-> storage/v1` now, so we do have version update tests.

@DirectXMan12 we can re-title this PR or open another PR for the v1 to v2alpha1 upgrade of HPA, WDYT?

[2017-06-19 17:17] chrislovecnm commented on #26670
/sig aws

[2017-06-19 17:17] castrojo commented on #47733
/sig aws

[2017-06-19 17:18] discordianfish commented on #2849
@cmluciano So that means if I want to support for this on GCP, I should open a new issue to track udp support specifically for that cloud provider integration? Or does that already exist and I just missed it?

[2017-06-19 17:18] chrislovecnm commented on #26670
@justinsb has any work been done on this?

[2017-06-19 17:19] castrojo commented on #47732
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2017-06-19 17:19] castrojo commented on #47732
/assign

[2017-06-19 17:19] #47732 closed

[2017-06-19 17:20] caesarxuchao commented on #47601
@justinsb did we do anything to fix it? I think nothing?

[2017-06-19 17:22] dnardo commented on #47379
In particular I think we could just change this file?
https://github.com/kubernetes/test-infra/blob/master/jobs/ci-kubernetes-e2e-gce-1-6-1-7-upgrade-master.env#L7

To include the CLUSTER_IP_RANGE.

[2017-06-19 17:41] lavalamp commented on #47678
I am OK with inclusion in 1.7.

[2017-06-19 17:42] msau42 commented on #45917
Yes, I think so.  Here is one that failed yesterday with the similar "Unable to connect to Docker" signature.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd2-release-1-6/185

[2017-06-19 17:51] gamename opened #47736 "start-kubemark.sh failing on 'scp' step"
This is a BUG REPORT

---

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
GCP

- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
[code]

**What happened**:
After successfully starting a 10-node cluster with "kube-up.sh", I started kubemark with the "start-kubemark.sh" script.

Everything worked fi

[2017-06-19 17:56] shyamjvs commented on #47736
Update your gcloud to a newer version.
Ref: https://github.com/kubernetes/kubernetes/pull/46635

[2017-06-19 17:59] dchen1107 opened #47737 "ci-kubernetes-e2e-gce-federation started constantly failing since build 4503 (last Friday night)"
This is the first build on which ci-kubernetes-e2e-gce-federation started constantly failing:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/4503/

cc/ @kubernetes/sig-federation-misc cc/ @csbell

cc/ @kubernetes/kubernetes-release-managers @marun

[2017-06-19 18:00] dchen1107 commented on #47737
@csbell I assigned this to you. Please triage or delegate, thanks!

[2017-06-19 18:05] saad-ali commented on #47657
@dchen1107 Revert PR is approved and awaiting merge (https://github.com/kubernetes/kubernetes/pull/47726). Once that merges this issue can be closed.

[2017-06-19 18:06] saad-ali commented on #47109
@dchen1107 Fix PR is approved and awaiting merge (https://github.com/kubernetes/kubernetes/pull/47503). Once that merges this issue can be closed.

[2017-06-19 18:07] mtanino opened #47739 "local-up-cluster.sh failed with error: unable to recognize "kubedns-deployment.yaml""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): local-up-cluster.sh

---

**Is this a BUG REPORT or

[2017-06-19 18:08] dchen1107 commented on #47697
@janetkuo Can you triage this issue?

@kubernetes/kubernetes-release-managers

[2017-06-19 18:09] #47736 closed

[2017-06-19 18:10] enisoc commented on #47685
The problem is that the test is effectively using kubectl 1.7 (by calling into client code) to talk to a 1.5 cluster, which is a server version that kubectl 1.7 no longer supports [[1]](https://github.com/kubernetes/kubernetes/blob/866c599198b5329ae7071b37fba48e50449aa74f/test/e2e/upgrades/deployments.go#L44-L46):

[code]

Ideally the upgrade test should use kubectl 1.5 or 1.6 to do the setup phas

[2017-06-19 18:12] janetkuo commented on #47697
Looking

[2017-06-19 18:18] matchstick commented on #23225
This is currently being targeted for 1.8. @MrHohn has it on his list of delveirables and we will be tracking this in the network SIG also.

[2017-06-19 18:23] cmluciano commented on #2849
Yes please open an issue for GCP explicitly.

[2017-06-19 18:27] grodrigues3 commented on #46942
@dchen1107 this is additional e2e testing for StatefulSets.  Verifying that it's okay to go in during code freeze?

[2017-06-19 18:33] Calpicow commented on #44372
Having a similar issue. Not sure if it is triggered by an apiserver panic, but is causing my PVs to get deleted, causing PVC status of 'Lost'. Most are prevented since they're in use, but unused ones are deleted about once every two weeks.

[code]

[2017-06-19 18:40] dchen1107 commented on #47379
@dnardo What you suggested should work theoretically. But since both branches hard-coded with two different ip range in some files, instead of respecting CLUSTER_IP_RANGE env variable, it won't work now.

Since the failure are limited to our tests only, and upgrade test itself relies on the previous branch's latest build, not the real release, we decided to cherry pick @bowei's fix to 1.6 branch.

[2017-06-19 18:43] cmluciano commented on #47472
Nice find. I'm trying to determine what the fix would be here. Do we just need to cherrypick https://github.com/kubernetes/kubernetes/pull/44113 to 1.5/1.6?

[2017-06-19 18:46] xsgordon commented on #46442
@rrati @anguslees provided this historical context in a comment to the minutes for the SIG-OpenStack meeting where we discussed this:

If we want not-ACTIVE hosts to continue to appear as k8s nodes, we can just remove that check afaics.

[2017-06-19 18:51] ixdy commented on #37121
`hack/e2e.go` will automatically use the `e2e.test` binary built by bazel if it's the most recent artifact.

[2017-06-19 18:52] ixdy commented on #37121
https://github.com/kubernetes/kubernetes/blob/227f52e0cb142f5658598e3c981e0e637f8d9c08/hack/lib/util.sh#L176-L180

[2017-06-19 18:54] cmluciano commented on #47156
/close

[2017-06-19 18:54] #47156 closed

[2017-06-19 18:55] cmluciano commented on #19333
/close

[2017-06-19 18:55] #19333 closed

[2017-06-19 18:56] cmluciano commented on #28658
/unassign

[2017-06-19 18:57] cmluciano commented on #36858
/unassign

[2017-06-19 19:05] ixdy commented on #47386
yes, I need to get https://github.com/kubernetes/contrib/pull/2640 merged and update those images again. I also need to bump a few other images.

[2017-06-19 19:11] ncdc commented on #44371
Assuming the `nohup` suggestions works, I propose we close this. @bw2 have you been able to try nohupping?

[2017-06-19 19:13] bowei commented on #47379
Cherrypicking the required changes to 1.6, 1.5:
* https://github.com/kubernetes/kubernetes/pull/47741
* https://github.com/kubernetes/kubernetes/pull/47742

[2017-06-19 19:17] bw2 commented on #44371
nohup does work. Thanks.

[2017-06-19 19:18] #44371 closed

[2017-06-19 19:24] nikhita opened #47743 "No examples for CR in client-go"
The [`README.md`](https://github.com/kubernetes/apiextensions-apiserver/tree/master/examples/client-go) says that there are examples to show "how to create/get/list instances of your new resource type".

However, none of the examples show how to get a CustomResource (the instance) but only show how to use the CustomResourceDefinition.

@ahmetb Since you are working on examples, do you want to take

[2017-06-19 19:24] nikhita commented on #47743
/sig api-machinery

[2017-06-19 19:25] piosz commented on #23046
/sig instrumentation

[2017-06-19 19:26] madhusudancs commented on #47737
/assign

[2017-06-19 19:28] moserke opened #47744 "container metrics missing from kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:  vsphere
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`): 4.9.24-coreos
- **Install tools**:
- **Others**:

**What happened**:
After bringing a cluster up, there are no container me

[2017-06-19 19:31] moserke commented on #47744
/sig area/kublet

[2017-06-19 19:33] moserke commented on #47744
/sig node

[2017-06-19 19:36] spiffxp commented on #22581
/sig cluster-lifecycle

[2017-06-19 19:36] ssubramanian123 commented on #47142
Thanks @rosskukulinski looks similar.

@bowei Do we have any timelines for this fix?

[2017-06-19 19:37] spiffxp commented on #22509
/sig api-machinery
because resourcequota

[2017-06-19 19:39] spiffxp commented on #22598
/sig network

/assign
closing because of working example commented above, and linked PR that adds an example to docs

[2017-06-19 19:39] spiffxp commented on #22598
/close

[2017-06-19 19:39] #22598 closed

[2017-06-19 19:42] spiffxp commented on #22609
@kubernetes/sig-api-machinery-misc @kubernetes/sig-cluster-lifecycle-misc I can't figure out which of these two SIG's is more appropriate.  Lifecycle was mentioned above, and solid HA seems like it ought to be a reusable thing from apimachinery.  Please triage as you see fit

[2017-06-19 19:43] spiffxp commented on #22651
/sig docs

[2017-06-19 19:44] spiffxp commented on #22658
/sig release
/sig testing

I'll just throw in two cents that IMO there should be a repo for test-infra, vs. images that are used as examples or part of e2e tests

[2017-06-19 19:44] spiffxp commented on #22699
/sig storage

[2017-06-19 19:45] spiffxp commented on #22702
/sig cli
because kubectl output

[2017-06-19 19:46] spiffxp commented on #22715
/sig azure

[2017-06-19 19:47] spiffxp commented on #22718
/sig cluster-lifecycle

unsure if this is still relevant

[2017-06-19 19:47] spiffxp commented on #22723
/sig docs

[2017-06-19 19:49] spiffxp commented on #22725
/sig cluster-lifecyle
/sig api-machinery

[2017-06-19 19:53] spiffxp commented on #22799
/sig cluster-lifecycle
because kube-up

[2017-06-19 19:53] spiffxp commented on #22863
/sig docs

[2017-06-19 19:54] spiffxp commented on #22868
/sig release

[2017-06-19 19:55] spiffxp commented on #22871
/sig cluster-lifecycle
/sig api-machinery

[2017-06-19 19:56] ahmetb commented on #47743
@nikhita The readme was created before [`examples/custom-resource` directory](https://github.com/kubernetes/client-go/tree/master/examples/custom-resources) was added. There's pointers to it from the TPR example. Would you mind updating the readme?

I don't have bandwidth in the short term to contribute a new example in this area. If you need help developing it, I am happy to provide but I am no e

[2017-06-19 19:57] spiffxp commented on #22909
/sig api-machinery

[2017-06-19 20:04] caesarxuchao opened #47745 "[k8s.io] ESIPP [Slow] should only target nodes with endpoints flaky"
[code]

https://k8s-testgrid.appspot.com/release-1.7-blocking#gci-gce-slow-release-1-7

It's quite flaky.

@kubernetes/kubernetes-release-managers

[2017-06-19 20:05] marun commented on #30158
Given that both @lavalamp and @deads2k don't consider this a blocker, moving to 1.8.

[2017-06-19 20:06] marun commented on #32796
Moving to 1.8.

[2017-06-19 20:07] marun commented on #43714
@deads2k Given there's been no update for weeks, I'm assuming this shouldn't be blocking 1.7

[2017-06-19 20:12] patricklawsongoogle opened #47746 "UI "Deploy a Containerized App" silently fails when deploying by digest"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
* ui
* digest
* "63 characters"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from

[2017-06-19 20:15] marun commented on #47388
The referenced PRs appear to have merged, closing.

[2017-06-19 20:15] #47388 closed

[2017-06-19 20:16] patricklawsongoogle commented on #47746
/sig ui

[2017-06-19 20:19] marun commented on #47277
Any update on this?  I would expect more activity if this should continue blocking 1.7.

[2017-06-19 20:20] marun commented on #47271
@justinsb Is there more work remaining for this issue pending for 1.7?

[2017-06-19 20:22] moserke commented on #47744
This appears to be a v1.7 issue.  If I run 1.6.6 I get these metrics.  Seems like something has happened in 1.7.  I'm running the 1.7 beta because I need nodePort for calico, so now I'm stuck.

[2017-06-19 20:25] marun commented on #45677
Who's working on ClusterDNS, Cassandra, and Hazelcast?  I'm not sure why this should block 1.7 if nobody is available to do the work.

[2017-06-19 20:26] justinsb commented on #47271
We believe this is fixed.  Closing.

[2017-06-19 20:26] #47271 closed

[2017-06-19 20:27] justinsb commented on #47271
(By #47516)

[2017-06-19 20:27] pwittrock opened #47747 "Release 1.7 block umbrella: kubernetes/kubectl (size: 0)"
1.7 release blocking issues for [kubernetes/kubectl](https://github.com/kubernetes/kubectl)

- [x] kubernetes/kubernetes#47571 `kubectl did not print readable message of statefulset PVC's capacity.`
- [x] #43464 `Kubectl upgrade tests failing 1.6 -> 1.7`

[2017-06-19 20:28] pwittrock commented on #47747
/sig cli

[2017-06-19 20:30] ahmetb commented on #47743
Sorry, I thought we are talking about https://github.com/kubernetes/client-go/blob/master/examples/README.md.

[2017-06-19 20:33] nikhita commented on #47743
Oh now that you mention it, I think adding a link to the CustomResources example under `Advanced Concepts` would be a good idea. What do you think?

[2017-06-19 20:35] krzyzacy commented on #47737
@madhusudancs something was leaking? Let me know if you need any help from infra side.

[2017-06-19 20:37] nikhita commented on #47743
Ah, gotcha. You meant to do this in the first place. :)
Will do that!

[2017-06-19 20:37] gtirloni commented on #43400
For reference, the [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#external-dependency-version-information) has more information on this topic.

[2017-06-19 20:38] marun commented on #47366
Given that the resolving pr was moved to 1.8, I'm updating the issue to match.

[2017-06-19 20:42] caesarxuchao commented on #47745
/assign @MrHohn

[2017-06-19 20:42] chrislovecnm commented on #45677
This should not be in the milestone, this code is moving to examples.

[2017-06-19 20:42] caesarxuchao commented on #47745
/sig networking

[2017-06-19 20:45] marun commented on #45677
@chrislovecnm Ok thank you, moving to 1.7.

[2017-06-19 20:45] caesarxuchao commented on #47745
There are two failures in gci-gce-slow, so it's not specific to gke.
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gce-slow

[2017-06-19 20:50] lavalamp commented on #47448
I think there is already a spot to enter exceptions to make the OpenAPI spec show correctly.

[2017-06-19 20:53] lavalamp commented on #47448
For the record, this is not a kubectl bug, it is a bug in the OpenAPI specification that we publish.

[2017-06-19 20:55] derekwaynecarr commented on #22509
i am closing this as working as designed.

[2017-06-19 20:55] #22509 closed

[2017-06-19 21:05] lavalamp commented on #47448
I'll make a quick patch. Mehdy can double-check and/or change it tomorrow when he is in.

[2017-06-19 21:16] MrHohn commented on #47745
/sig network

[2017-06-19 21:17] roberthbailey commented on #47277
https://github.com/kubernetes/kubernetes/pull/47356 is ready to go and is 4th is the submit queue.

[2017-06-19 21:18] cmluciano commented on #43400
related https://github.com/kubernetes/kubernetes/issues/40182

[2017-06-19 21:21] janetkuo commented on #47697
The failure observed in `[k8s.io] Deployment deployment should support rollover` ([log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47684/pull-kubernetes-e2e-gce-etcd3/36695/)):

During test setup, the RS never became ready, because its status wasn't updated even though its pod was actually ready:
[code]

[2017-06-19 21:22] janetkuo commented on #47697
@caesarxuchao would you take a look at the GC controller flake?

[2017-06-19 21:23] mengqiy commented on #47747
#47448: PodSecurityContext API compatibility broken between 1.6 and 1.7

[2017-06-19 21:23] MrHohn commented on #47745
This is strange, seems like this test is trying to reach the test-netexec pod through servicePublicIP:serivcePort, but the request hit the gce default backend instead.

cc @nicksardo

[2017-06-19 21:26] caesarxuchao commented on #47697
Sure. The gc test seems to get flaky only recently.

[2017-06-19 21:30] pwittrock commented on #47448
Great, thanks Daniel.  Removing sig/cli

[2017-06-19 21:37] dchen1107 commented on #47379
@bowei besides cherrypicking #47741, I believe we also need cherrypick https://github.com/kubernetes/kubernetes/pull/47631/files which changes the API validation code.

[2017-06-19 21:37] vishh opened #47750 "Increase unit test coverage for GPU support"
Code in https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/gpu has non trivial logic  and isn't well tested. This has resulted in a couple of bugs. Increasing unit test coverage will relieve burden on e2e testing.

@jiayingz wanna take a stab at this?

[2017-06-19 21:40] bowei commented on #47379
https://github.com/kubernetes/kubernetes/pull/47751

[2017-06-19 21:42] vincentwoo commented on #8867
It has come to my attention that the GCP metadata server is *also* available over IPV6, necessitating more thorough blocking for those who are doing so:

[code]

This is kind of unfortunate because it doesn't seem to be mentioned anywhere.

[2017-06-19 21:44] janetkuo commented on #47697
`[k8s.io] Deployment deployment should support rollover` ([log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47684/pull-kubernetes-e2e-gce-etcd3/36695/)):

From controller manager log, RS controller did update ReplicaSet status successfully:

[code]

Why didn't the e2e test see the updated RS status? Is the status not updated?

[2017-06-19 21:45] smarterclayton commented on #47728
Mostly because listing things in a namespace is a very different action
than listing things across all.  If you have one huge namespace, you'll be
able to tell because latency of "list all" will be same as "list
namespace", and because you might want counts of how many things are
listing all (which is generally considered bad) vs listing namespace (which
is generally considered safe).

On Mon, Jun

[2017-06-19 21:46] MrHohn commented on #47745
There is another type of failure:
[code]
Seems to be the port collision between test service and fluentd daemonset, which changed to use 31337 few days ago (#47402).

[2017-06-19 21:47] MrHohn commented on #47745
cc @crassirostris

[2017-06-19 21:47] caesarxuchao commented on #47697
Could this be related to https://github.com/kubernetes/kubernetes/pull/45764? It looks like both tests become more flaky after that PR gets merged.

[2017-06-19 21:50] vincentwoo commented on #8867
Furthermore, is it possible for Google to tell us what IPv4 and IPv6 blocks they plan to use for *all* `*.internal.google` addresses so we can block them en masse?

[2017-06-19 21:53] MrHohn commented on #47745
Checked the kube-proxy logs and found this is not the case. Port 31337 was not allocated (although that could happen in theory) to any service during test: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow-release-1-7/306/artifacts/bootstrap-e2e-minion-group-4cbf/kube-proxy.log

[2017-06-19 21:53] vincentwoo commented on #8867
Also, the metadata server *also* happens to be the default resolver itself? Is *THAT* intentional?

[code]

[2017-06-19 21:57] tobilarscheid commented on #47649
Alright, thanks for your feedback! Is there a feature request or something I can subscribe to to get updates on this?

[2017-06-19 22:02] krousey opened #47752 "ip-masq-agent not scheduling on 1.5 nodes with a 1.7 master"
https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-gci-1-5-gci-1-7-upgrade-master is failing to run the follow up e2es because the ip-masq-agent daemonset is scheduling pods that get stuck in a pending state on 1.5 nodes. This short-circuits the logic for the skewed e2es, and they never run.

from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1-5-gci-

[2017-06-19 22:04] surfeurX commented on #44317
Here is a workaround:
`kubectl run -i --tty --restart=Never --rm --image mikewright/cqlsh cqlsh cassandra-0.cassandra.default.svc.cluster.local -- --cqlversion=3.4.2`
But first you may need to open the thrift port "9160" in https://github.com/kubernetes/kubernetes/blob/master/examples/storage/cassandra/cassandra-statefulset.yaml

[2017-06-19 22:04] crimsonfaith91 commented on #47230
@guillelb If the pod is a statefulset pod, it is expected to have the pods in `Unknown` status and no new replicas are launched.

A statefulset pod running on an unreachable node enters the `Unknown` or `Terminating` state after a timeout. The new replicas can be created by forcing deletion of the pods with `Unknown` status. After the pods are deleted, statefulset controller will create replacemen

[2017-06-19 22:13] spiffxp commented on #22953
/sig release
I'm inclined to say this isn't relevant in the face of bazel, but not totally sure

[2017-06-19 22:15] caesarxuchao commented on #47697
GC flake might be the same as https://github.com/kubernetes/kubernetes/issues/42086

[2017-06-19 22:16] janetkuo commented on #47697
@krzyzacy is there a way to find all flakes of a test?

[2017-06-19 22:19] krzyzacy commented on #47697
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-e2e-gce-etcd3

for example, is a place you can collect all failures for the etcd3 suite. You can also search by jobs or test names from there.

[2017-06-19 22:20] vishh commented on #43240
cc @jiayingz

@cmluciano @jiayingz is starting to ramp up in the node + GPU area and I felt this might be a good starter project. If it's OK with you, can we have her tackle this issue?

[2017-06-19 22:20] monopole commented on #47476
Obsolete

[2017-06-19 22:20] #47476 closed

[2017-06-19 22:22] spiffxp commented on #22980
/sig instrumentation
because metrics

@gmarek I'm a little unclear on what the intent of this is; I'm going to assume we're happy enough with the linked PR given that we haven't seen any activity here in over year

/assign
closing due to inactivity

[2017-06-19 22:22] spiffxp commented on #22980
/close

[2017-06-19 22:22] #22980 closed

[2017-06-19 22:22] spiffxp commented on #23159
/sig docs

[2017-06-19 22:23] dnardo commented on #47752
So I see that in 1.7.0 we start setting the non-masq-cidr to 0/0

gce/config-default.sh:NON_MASQUERADE_CIDR="0.0.0.0/0"
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh#L245

We set the addon if non-masq-cidr is 0/0
 if [[ "${NON_MASQUERADE_CIDR:-}" == "0.0.0.0/0" ]]; then
    setup-addon-manifests "addons" "ip-masq-agent"
 fi
https://github.com/kubernetes/kuberne

[2017-06-19 22:24] lavalamp commented on #47448
...I have a patch but the relevant files don't seem to be getting updated. Not sure what is going on.

[2017-06-19 22:25] #47001 closed

[2017-06-19 22:25] #47277 closed

[2017-06-19 22:25] #47453 closed

[2017-06-19 22:25] #47678 closed

[2017-06-19 22:25] spiffxp commented on #23354
/sig instrumentation
because the elasticsearch addon doesn't use statefulsets, but I'm not sure whether this issue is relevant given the chart PR that merged

[2017-06-19 22:25] spiffxp commented on #23360
/sig api-machinery

[2017-06-19 22:27] spiffxp commented on #23537
/sig apps
because examples

/assign
closing because the linked PR fixes this issue

[2017-06-19 22:27] spiffxp commented on #23537
/close

[2017-06-19 22:27] #23537 closed

[2017-06-19 22:29] monopole commented on #47474
obsolete - breaking into more focussed issues

[2017-06-19 22:29] #47474 closed

[2017-06-19 22:30] spiffxp commented on #23538
/sig instrumentation
because heapster

/assign
closing due to inactivity

[2017-06-19 22:30] pwittrock opened #47754 "*-upgrade tests failing 1.6 -> 1.7"
https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-upgrade-cluster&sort-by-failures=

[2017-06-19 22:31] spiffxp commented on #23538
/close

[2017-06-19 22:31] #23538 closed

[2017-06-19 22:31] kargakis commented on #47739
/sig testing
/sig storage
/sig network

[2017-06-19 22:32] cmluciano commented on #43240
/unassign

[2017-06-19 22:32] kargakis commented on #47739
/sig apps

[2017-06-19 22:33] kargakis commented on #43281
/sig aws

[2017-06-19 22:34] kargakis commented on #43356
/sig network

[2017-06-19 22:34] spiffxp commented on #23619
/sig release
because release artifact
/sig cluster-lifecycle
because kube-up

/assign
closing due to inactivity, and this is beyond our earliest supported release

[2017-06-19 22:34] spiffxp commented on #23619
/close

[2017-06-19 22:34] #23619 closed

[2017-06-19 22:34] kargakis commented on #43376
/sig network

[2017-06-19 22:35] spiffxp commented on #23709
/sig scalability

[2017-06-19 22:35] kargakis commented on #43400
/sig node

[2017-06-19 22:36] foxish commented on #47230
To add to @crimsonfaith91's comment, this is one of the guarantees provided by statefulset. If you want different behavior in the face of node failure/unreachable, the other controllers may be a better choice.
See also: https://stackoverflow.com/questions/41499985/statefulset-pods-stuck-in-unknown-state/41500381#41500381

[2017-06-19 22:36] #47230 closed

[2017-06-19 22:36] verult commented on #47571
Here's the output I get with `kubectl get pvc` with a test PVC:
[code]
and `kubectl version`:
[code]

[2017-06-19 22:36] spiffxp commented on #23790
/sig apps
because statefulsets and charts

though I think etcd operators may obviate this issue @philips ?

[2017-06-19 22:37] monopole commented on #47472
These look like they are passing again in a few places, e.g.
https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-gci-1-5-cvm-1-7-upgrade-cluster&width=20&sort-by-failures=
And in other places there's no pass/fail, just white.

There were several problems with test-infra over last week, some of which have cleared which may be the issue here - see https://github.com/kubernetes/kubernetes/issues/475

[2017-06-19 22:37] #47472 closed

[2017-06-19 22:37] caesarxuchao commented on #47697
Looked into one of the GC failures, it's the same cause as #42086, the patching is taking too long, the expected state is reached after 95s, exceeding the 60s limit.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46731/pull-kubernetes-e2e-gce-etcd3/36700#k8sio-garbage-collector-should-orphan-pods-created-by-rc-if-delete-options-say-so

[2017-06-19 22:38] spiffxp commented on #23913
/sig testing
/priority awaiting-more-evidence
Closed out the original use case I had in mind but still view this as a nice to have for writing cleaner pre-conditions for e2e tests

[2017-06-19 22:39] spiffxp commented on #23947
/sig release
I'm assuming sig-release owns the build-go script

[2017-06-19 22:39] kargakis commented on #43279
/sig node

[2017-06-19 22:40] kargakis commented on #43252
@skriss still an issue?

/sig network

[2017-06-19 22:40] kargakis commented on #43251
/sig network

[2017-06-19 22:40] kargakis commented on #43201
/sig network

[2017-06-19 22:40] spiffxp commented on #23987
/sig testing
/priority awaiting-more-evidence
I still think a single test binary, nothing more, would be a good goal to strive for.  I'm unsure how much of a pain point this is today

[2017-06-19 22:41] madhusudancs commented on #47737
@krzyzacy Doesn't look like a leak. Still not sure what's going on. Doesn't look like an infra failure at this point.

[2017-06-19 22:43] kargakis commented on #42861
/sig node

[2017-06-19 22:43] spiffxp commented on #24057
/sig release
/sig contributor-experience
/priority important-soon

yes, if we're doing the prefix thing, we should do this, and document it
ref #34255

[2017-06-19 22:44] kargakis commented on #42850
/sig node

[2017-06-19 22:44] monopole commented on #43464
This is still a problem in the 1.6 -> 1.7 tests.

[2017-06-19 22:44] kargakis commented on #42887
/sig cluster-lifecycle
/sig api-machinery

[2017-06-19 22:45] kargakis commented on #42979
/sig api-machinery

[2017-06-19 22:45] spiffxp commented on #24082
/sig testing
/priority awaiting-more-evidence
I'm inclined to say we've already got enough failures in our test suites as-is

[2017-06-19 22:45] saad-ali commented on #47571
Ditto, not seeing a repro against master head:

[code]

[2017-06-19 22:46] monopole commented on #43464
See also https://github.com/kubernetes/kubernetes/issues/44563

[2017-06-19 22:47] kargakis commented on #42800
/sig azure

[2017-06-19 22:48] kargakis commented on #42789
/sig apps

[2017-06-19 22:48] kargakis commented on #42632
/sig storage

[2017-06-19 22:48] kargakis commented on #43445
/sig node

[2017-06-19 22:49] kargakis commented on #43464
/sig cli

[2017-06-19 22:49] spiffxp commented on #24260
/assign
closing because we now have https://github.com/kubernetes/charts/tree/master/stable/prometheus and https://github.com/coreos/prometheus-operator (both of which are linked by the contrib README now)

[2017-06-19 22:49] spiffxp commented on #24260
/close

[2017-06-19 22:49] #24260 closed

[2017-06-19 22:49] kargakis commented on #43486
/sig api-machinery

[2017-06-19 22:50] kargakis commented on #43495
/sig node

[2017-06-19 22:51] caesarxuchao commented on #47697
To avoid mix with the deployment flake, I'm going to re-open #42086 and update the finding there.

[2017-06-19 22:52] caesarxuchao commented on #42086
Reopen the issue since it's happening again.

Looked into one of the GC failures. The expected state was reached after 95s, exceeding the 60s limit.

In average each patch operation cost 450ms.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46731/pull-kubernetes-e2e-gce-etcd3/36700#k8sio-garbage-collector-should-orphan-pods-created-by-rc-if-delete-options-say-so

[2017-06-19 22:53] spiffxp commented on #24265
/sig scalability

/assign
closing because https://k8s-testgrid.appspot.com/google-gce#gce-scalability doesn't appear to be failing due to this

[2017-06-19 22:53] spiffxp commented on #24265
/close

[2017-06-19 22:53] #24265 closed

[2017-06-19 22:53] monopole commented on #47374
/assign @liggitt

Can you find out and close the issue please?  We have dozens of blocking failures like this, and i'm working through a triage of new ones.

[2017-06-19 22:55] bowei commented on #47752
It seems like the most conservative way forward is to revert the PR. Customers who want to use the feature can set the variable (`NON_MASQUERADE_CIDR`) during `kube-up.sh` to be able to get the feature.

What do you guys think?

[2017-06-19 22:55] spiffxp commented on #24251
/sig cluster-lifecycle
because `cluster/*` scripts

/assign
closing because I can't find FLANNEL_OTHER_NET_CONFIG in the `cluster/*` scripts anymore

[2017-06-19 22:55] spiffxp commented on #24251
/close

[2017-06-19 22:55] #24251 closed

[2017-06-19 22:56] spiffxp commented on #24206
@kubernetes/sig-contributor-experience-feature-requests

[2017-06-19 22:56] kargakis commented on #23360
/sig apps

[2017-06-19 22:57] caesarxuchao commented on #42086
Another failure:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47701/pull-kubernetes-e2e-gce-etcd3/36560#k8sio-garbage-collector-should-orphan-pods-created-by-rc-if-delete-options-say-so

This time the expected state was reached after 77s.

[2017-06-19 22:57] spiffxp commented on #24186
/sig docs

/assign
closing because linked pr fixed this

[2017-06-19 22:57] spiffxp commented on #24186
/close

[2017-06-19 22:57] #24186 closed

[2017-06-19 22:59] spiffxp commented on #24614
/sig testing
/priority awaiting-more-evidence
Might be more noise than it's worth, but we do pylint our .py scripts now

[2017-06-19 23:02] janetkuo commented on #47697
From the test log it seems that `WaitForReadyReplicaSet` timed out after 2s.
[code]

Maybe it's because we used `watch.Until` to [wait for ready ReplicaSet](https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.0/test/e2e/framework/util.go#L3167) and hit #31345? If so, switching to `wait.Poll` can resolve this.

[2017-06-19 23:03] monopole opened #47755 "test failure: Networking should provide unchanging, static URL paths for kubernetes api services"
This is a 1-6 to 1-7 upgrade failure.
/sig network
/assign @bowei

[jenkins link](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-6-cvm-1-7-upgrade-cluster/28#k8sio-networking-should-provide-unchanging-static-url-paths-for-kubernetes-api-services)
[history](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-upgrade-cluster&include-filter-by-regex=

[2017-06-19 23:05] caesarxuchao commented on #42086
@wojtek-t @gmarek do you know if there is a performance degradation in the controller-manager in the past week?

[2017-06-19 23:11] monopole commented on #47379
Thanks, looking forward to a green run :)

Latest failure (in 1.6 -> 17 upgrade tests) is as in opening comment:
[code]

[2017-06-19 23:11] shurcooL commented on #36858
You could run `staticcheck` on a recent commit of Kubernetes to confirm whether the reported issues have already been resolved.

[2017-06-19 23:12] caesarxuchao commented on #42086
It could also be that there is a long latency in the network for each request/response.

[2017-06-19 23:13] kargakis commented on #22909
Documented in https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#label-selector-updates

[2017-06-19 23:13] vincentwoo commented on #8867
Upon deeper investigation, it seems blocking `169.254.169.254` was sufficient, probably because the ipv6 address was using some link-local magic to just use ipv4 under the covers anyway.

[2017-06-19 23:15] kargakis commented on #47727
/sig apps

[2017-06-19 23:15] mindprince commented on #47622
This if fixed now.

[2017-06-19 23:15] #47622 closed

[2017-06-19 23:17] macalinao commented on #1111
Sad! I love minions.

[2017-06-19 23:20] monopole commented on #47754
I think this is a dupe of #47379, because the new red at 06-18 (run 27) has the common element of _getsockopt: connection refused_

(the other red is filed as  #43464, #47376, #47374, #47378, #47755)

[2017-06-19 23:21] dchen1107 commented on #47752
I think I asked the similar question related to ip-masq-agent, but my question was dropped. At this stage, I think reverting 91ed74c the preferred fix.

[2017-06-19 23:25] kargakis commented on #47002
We can also surface these failures as Conditions in StatefulSetStatus.

[2017-06-19 23:26] janetkuo commented on #47697
Filed #47756 to deflake

[2017-06-19 23:33] yifan-gu commented on #22609
@spiffxp Is anyone actively working on this? If not we would like to take the work. But we may need a shepherd to review the design, doc and code.

My initial idea after reading the thread is that we should remove the `--apiserver-count` flag which won't work when we want to scale up/down the master control plane. Letting the apiserver to register with a key with TTL seems reasonable, but not sure

[2017-06-19 23:35] monopole opened #47758 "1.6 to 1.7 hpa-upgrade failure: timed out waiting for "res-cons-upgrade" to be synced"
[jenkins](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1-6-1-7-upgrade-master/61#hpa-upgrade)

[history](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gce-upgrade-master&include-filter-by-regex=%5EOverall%24%7Chpa%5C-upgrade)

[code]

[2017-06-19 23:39] monopole commented on #47758
/sig apps
/assign @enisoc

Possibly related to #47379

[2017-06-19 23:41] caesarxuchao commented on #47697
@mml Let me know if the GC flake hurts the submit queue too much, if so, i can decrease the pod number to 50 and that ought to fix most failures.
I'm trying to find out the performance bottleneck in https://github.com/kubernetes/kubernetes/pull/47757.

[2017-06-19 23:46] liggitt commented on #22609
I'd like to see an object representing each apiserver, both for status updates for liveness, backing data for populating the kubernetes service endpoints, and for detailed info about versions/features/config

[2017-06-19 23:48] monopole opened #47759 "1.6 -1.7 persistent-volume-upgrade"
[jenkins](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1-6-1-7-upgrade-master/61#persistent-volume-upgrade)

[history](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gce-upgrade-master&include-filter-by-regex=%5EOverall%24%7Cpersistent%5C-volume%5C-upgrade)

[code]

/sig storage
/assign @msau42

[2017-06-19 23:53] pwittrock commented on #43464
/assign mengqiy