[2017-10-18 04:20] roberthbailey commented on #18307
/cc @steveperry-53 @bryk

Correct.

I agree that we should add that as a caveat to those docs.

[2017-10-18 04:26] #54020 closed

[2017-10-18 04:52] Rev1408 commented on #50111
@dims that worked thanks

[2017-10-18 04:52] #50111 closed

[2017-10-18 04:55] Rev1408 commented on #50111
@dims I have to execute `sudo swapoff -a ` to make it work
--fail-swap-on=false  to kublet did not work

[2017-10-18 05:10] m1093782566 commented on #53801
@mcginne Thanks for reporting it. @mcginne

That's true and it's fixed in #52330. Please check it again?

[2017-10-18 05:14] m1093782566 commented on #53736
That's true.

I would like to cherry-pick the bug fix into 1.8 but don't have much experience. @cmluciano any consult?

[2017-10-18 05:25] bgrant0607 commented on #25238
@julianvmodesto Though I know it's a map in JSON terms, to the API, .spec.replicas is a struct field rather than a map.

[2017-10-18 05:27] shiywang opened #54116 "IGNORE: test issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-10-18 05:27] #54116 closed

[2017-10-18 05:38] porridge commented on #53255
On Tue, Oct 17, 2017 at 11:07 PM, Aaron Crickenberger <
notifications@github.com> wrote:

FWIW, neither of these URLs work. Both just show "Unknown dashboard
release-master-blocking. Select a dashboard."

[2017-10-18 06:02] porridge opened #54118 "pull-kubernetes-e2e-kubeadm-gce is broken again"
/kind bug

**What happened**:

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kubeadm-gce is solid red for over 24h

**What you expected to happen**:

Not all red.

I mentioned it in https://kubernetes.slack.com/archives/C09QZ4DQB/p1508249038000603 yesterday but didn't see any reaction, so I'm cranking up the volume a little.

@kubernetes/sig-tes

[2017-10-18 06:20] krmayankk commented on #17870
any update on this ?  The question related to this i have is , can a pod ip change and would that result in pod transitioning from running to pending again or is there a way to detect such a change?

[2017-10-18 06:22] like-inspur opened #54119 "create endpoint with pod hostname"
I plan to deploy hadoop on kubernetes，when i deploy successfully，I need create service for ambari agent，so I can accees hdfs port from my external host。So I create endpoint and service like this:
kind: Endpoints
apiVersion: v1
metadata:
  name: hdfs
  namespace: bigdata
subsets:
  - addresses:
      - ip: 10.233.72.11
      - ip: 10.233.104.75
    ports:
      - port: 50070
        protocol: TCP
-

[2017-10-18 06:23] like-inspur commented on #54119
/sig endpoint for service

[2017-10-18 06:26] horizon365 commented on #5128
in my case ,i find can't  `ping 127.0.0.1` , so i run `ifconfig lo up` ,it works !

[2017-10-18 06:27] horizon365 commented on #5128
in my case ,i find can't  `ping 127.0.0.1` , so i run `ifconfig lo up` ,it works !

[2017-10-18 06:27] zBurrito commented on #42306
@jenciso No problem, thanks for the reply. It indeed works with the internal service IP. I'm also curious why dns doesn't work.

[2017-10-18 06:34] m1093782566 opened #54121 "kube-proxy should fall back to iptables firstly when unable to load kernel modules"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

See,

[code]

Kube-proxy will fallback to userspace mode when unable to load kernel modules. That's not intended.

**What you expected to happen**:

kube-proxy should fall back to iptables firstly when unable to load kernel modules

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we nee

[2017-10-18 06:35] ddysher commented on #53395
@jiayingz Thanks for the detailed post.

Do you have any attack plan for the extra component? This sounds like within the scope of node problem detector.

How do we measure `response time` here?  Is it the latency for the component to observe the unhealthy device, or the interval for cluster admin to take action?

My take is that 'capacity=0' is used as a signal for re-registration failure, so wha

[2017-10-18 06:37] fejta commented on #53255
Some testgrid URLs changed this evening:
* https://k8s-testgrid.appspot.com/sig-scalability-gce-scale#gce-scale-performance&width=20
* https://k8s-testgrid.appspot.com/sig-scalability-gce-scale#gce-scale-correctness&width=20

[2017-10-18 06:41] fejta commented on #53255
Testgrid now supports alerting when a dashboard starts to fail: https://github.com/kubernetes/test-infra/tree/master/testgrid/config#email-alerts

[2017-10-18 06:42] ddysher commented on #54011
@flx42 thanks for ur comment. we are running gpu on centos primarily (sometimes ubuntu) for machine learning workload. It's important for us to know the canonical source of gpu device plugin, and we are also happy to contribute :)

[2017-10-18 06:54] dixudx commented on #53859
@ahmetb Yes, you're right. So I did not read the namespace label from `metadata.Labels` when admitting `initializerConfigurations`. Instead I make such a selector `labels.Set(map[string]string{"namespace": namespace})` when finding appropriate initializers.

And `namespaceSelector` in `InitializerConfiguration` can be set like this,

[code]

[2017-10-18 06:59] feiskyer opened #54122 "dockershim panic when listing images"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

dockershim panic when listing containers because of `opts.Filters` not initialized:

https://github.com/kubernetes/kubernetes/blob/505ccb88da14d8dda25cb9ea4db8578666b9cc0e/pkg/kubelet/dockershim/docker_image.go#L35-L39

Also when imgSpec.Image is empty string, dockershim returns an empty image list which is not expected.

[2017-10-18 06:59] feiskyer commented on #54122
/sig node

[2017-10-18 07:00] lichuqiang commented on #53395
I think we don't treat plugins with no devices as "healthy", @RenaudWasTaken has an idea, to remove plugins that does not report deivces after registration for a period of time

I  thought about this scene too, I'm afraid we need to  rely on admin to deal with it in current implementation.
Would love to hear opinion from @vishh and @jiayingz

[2017-10-18 07:01] m1093782566 opened #54126 "Should add UTs for ipvs proxy netlink stuff"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-10-18 07:04] ahmetb commented on #53859
@dixudx so is the NamespaceSelector field going to be of type `LabelSelector`? Are labels going to work as selectors in addition to your example?

[2017-10-18 07:07] m1093782566 commented on #53393
Thanks for reporting it, @song-jiang

Did you access NodePort inside container or outside container?

[2017-10-18 07:09] dixudx commented on #53859
Yes.

`metadata.Labels` are not used/referenced in `namespaceSelector`.

[2017-10-18 07:19] ahmetb commented on #53859
@dixudx (still not sure if the answer to my question is yes or no 😄 ) My understanding is that LabelSelector helps you specify a namespace like:

[code]

using

[code]

If this is not working then the behavior of the `namespaceSelector` field is not compatible with NetworkPolicy API. I think it should be, if we're using the same field name, it should behave the same.

[2017-10-18 07:20] imkin opened #54129 "Creation of gitRepo volume is broken in 1.8.0+"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Pods with volumeMount gitRepo volumes in 1.8.0 see the following error in kubelet logs (also in `kubectl describe pod <pod-name> logs`)
It is important to not that the git repo clone is done via ssh.

[code]

I think what is happening is that hyperkube image now used to have `ssh` command in it and now it does not have it

[2017-10-18 07:21] dixudx commented on #51290
A summary for #53859, so we can close it and discuss here.

Got two ways to implement this,

1. Use `[]string` to list all the enforced namespace.
2. Use `NamespaceSelector `.

Option 1 is more obvious, but error-prone and time-consuming to list all the wanted namespaces exhaustively. Also it is not flexible, especially for new-added namespaces.

Option 2 works like other **label selectors** and *

[2017-10-18 07:21] xialonglee opened #54130 "Kubelet stop posting node status(node notReady) when change the date time to an earlier time"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 kind bug

**What happened**:

When change the date time on node to an earlier time:
e.g. change the date 2017-10-18 14:00  -> 2017-10-18 11:00
will cause kubelet **stop posting its node's status for 3 hours**.

This will cause the node status become **notReady** from master side.

How long we should wait for kubelet posting node's status again depend

[2017-10-18 07:23] andyzhangx commented on #47623
Hi @khenidak , I am a little confused about this issue, it seems from v1.5, the plugin already checks if there is a lease before attaching, see:
https://github.com/kubernetes/kubernetes/blob/release-1.6/pkg/cloudprovider/providers/azure/azure_storage.go#L81

[2017-10-18 07:23] sttts commented on #54095
I like the `// TODO DO NOT MERGE THIS` line.

[2017-10-18 07:25] xialonglee commented on #54130
@kubernetes/sig-node

[2017-10-18 07:26] wojtek-t commented on #52495
It's not 4-5 hours. A bunch of tests are fitting 2 hours, so my feeling is that in those failures we are not missing that much.
But the most important point is that the test itself is not just setting up LB - it's doing some manipulations on it too. So the single operation is visibly shorter.

That said - I completely agree that it's still unreasonably long - we should work with GCE networking tea

[2017-10-18 07:28] xialonglee commented on #54130
@kubernetes/sig-node-bugs
/sig node

[2017-10-18 07:28] dixudx commented on #53859
@ahmetb The behavior of my `namespaceSelector` is not like this, since we only care about namespaces here, right? The `namespace` value is retrieved from `attributeRecord` when admitting checks for `create` requests to add initializers.

Well, we could make them compatible later if there is a consensus. But if so, does it mean we have to add a new label `namespace: xxx` in `metadata.Labels`? As yo

[2017-10-18 07:30] resouer commented on #54129
How did you installed Kubernetes may I ask?

[2017-10-18 07:31] sttts commented on #54095
Looks like this has nothing todo with CRDs, but etcd did not start working. The logs look like that it is about our kube-apiserver test fixture which involved many leaked storage objects and etcd clients. @frobware has a PR open tackling this https://github.com/kubernetes/kubernetes/pull/50690, while introducing some ugliness due to a `stopCh` we have to pass around.

[2017-10-18 07:31] dixudx commented on #53859
/close

move discussions to #51290.

[2017-10-18 07:31] #53859 closed

[2017-10-18 07:36] imkin commented on #54129
@resouer
https://github.com/vmware/ansible-coreos-kubernetes-master/
https://github.com/vmware/ansible-coreos-kubernetes-minion

[2017-10-18 07:39] enisoc commented on #54095
Because the test was killed due to timeout, it never prints the buffered log messages about proceeding to other steps. But if you look at the stack dump, it got all the way through creating the CRD, waiting for it to be established, creating the InitializerConfiguration, etc. So etcd did start working.

Even on a successful run, I see lots of those lines about trying to connect to etcd. I wonder i

[2017-10-18 07:42] enisoc commented on #53617
This may be related:

https://github.com/kubernetes/kubernetes/pull/50690
https://github.com/kubernetes/kubernetes/issues/49489

[2017-10-18 07:46] #46123 closed

[2017-10-18 07:46] andyzhangx commented on #53428
@lauxtermann-aram For setting default storage class, you should first edit file, set the default class as false
[code]
And then continue your operation, let me know if that works, thx

[2017-10-18 07:47] dixudx commented on #49480
@luxas Ok. I will do that later.

[2017-10-18 07:54] Kenblair1226 commented on #53886
Tried with one socket.io APP each node and SessionAffinity set to client ip on backend-service and k8s service. Still see socket hang up often.

*web is the socket.io APP
[code]

[code]

[code]

I also found this might be the same issue mentioned by the last couple comments of #24745

[2017-10-18 07:56] like-inspur opened #54131 "statefulset mount rbd volume failed"
I create statefulset pod with volume from ceph rbd，Pod status is always ContainerCreating
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: ambari-test
  namespace: bigdata
spec:
  serviceName: "ambari-agent"
  template:
    metadata:
      labels:
        app: ambari-test
    spec:
      containers:
      - name: ambari-test
        image: registry.dev1.com:5000/ambari-agent:2.4.2.0.2.

[2017-10-18 07:57] lauxtermann-aram commented on #53428
@andyzhangx : Thank you for the advice, I works perfectly! 👍

[2017-10-18 07:57] wackxu commented on #53908
If we really need this? The reason why pod can not schedule has been recorded to the pod status. We can see https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/scheduler.go#L180

[2017-10-18 08:00] like-inspur commented on #54131
/sig StatefulSet with rbd volume

[2017-10-18 08:05] tomoe opened #54132 "Whitelist net.core.somaxconn as a safe sysctl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

As a developer or an operator of an application without cluster admin permissions, I would like to configuire
net.core.somaxconn in pod configuration as explained in the following doc:
https://kubernetes.io/docs/concepts/cluster-administration/sysctl-cluster/

**What you expected to happen**:

I expect to be able to

[2017-10-18 08:05] m1093782566 commented on #53393
Seems you are right. My worry is that we may introduce too many iptables rules if we use the iptables way.

[2017-10-18 08:07] wackxu commented on #53392
@unixwitch The example yaml of priorityclass is wrong, the right version is `v1alpha1`

[2017-10-18 08:15] dekhtyarev commented on #52657
Hello!

We are faced with a similar problem.

**Environment**:

* Kubernetes version: 1.6.7
* Cloud provider: our VMs
* OS: Ubuntu 16.04
* Kernel: 4.4

We have 2 controllers in the cluster.
Schedule of RAM consumption for the last 24 hours:

![image](https://user-images.githubusercontent.com/17539237/31707504-bc89ea02-b416-11e7-9d50-5a16978d4d49.png)

The active controller stably eats our memory.

[2017-10-18 08:18] porridge commented on #53255
Thanks! Sadly, the reason for most recent -correctness failure is not
viewable due to https://github.com/kubernetes/test-infra/issues/2580
Is there another way to see the logs?

[2017-10-18 08:19] sttts commented on #54095
Those etcd lines are not from the TestCRD test (they actually appear before the server and is launched), but they slow down the tests a lot. We have reproduced that (@frobware did), one test alone is very stable, with all of those running a kube-apiserver, we are not far from the maximum until we time out. @frobware had added one further test (openapi aggregation) and it broke down.

[2017-10-18 08:23] m1093782566 commented on #53775
hmmm, seems that we may need to create a masq rule for each endpoint IP so that handling traffic that loops back to the originator with SNAT. However, I don't want to introduce too many iptables...

Don't worry about that, I am already working on fixing it and will let you guys know when I have any update.

BTW, any comments are welcome.

[2017-10-18 08:23] sttts commented on #54095
The test runner from OpenShift https://github.com/openshift/origin/blob/master/test/integration/runner/runner_test.go would make this kind of integration tests much more stable. We are leaking a lot on test shutdown and it eventually slows us down so much that tests timeout.

[2017-10-18 08:33] giannello commented on #53379
The same issue affects v1.7.8 (tested on GKE)

[2017-10-18 08:35] song-jiang commented on #53393
@m1093782566 I have seen this issue if access NodePort from a container or from a host.  How about having an ipset tracking all the entries from ipvs kernel table and match against that? WDYT

[2017-10-18 08:37] nicksardo commented on #53886
The socket hangs up because you have the timeoutSec field set to 30. This
is a connection lifetime timeout - not an idle timeout.

On Oct 18, 2017 12:55 AM, "Kenblair1226" <notifications@github.com> wrote:

[2017-10-18 08:42] m1093782566 commented on #53393
It works for me if I access NodePort from a host - seems strange...

[2017-10-18 08:50] shyamjvs commented on #53255
@porridge You should be able to access the logs directly using the gcs url - for e.g http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/19/

[2017-10-18 08:55] runcom commented on #49480
@luxas is this just a matter of bumping the CNI library in the container runtimes? (just want to double check I understood this correctly)

[2017-10-18 08:57] m1093782566 commented on #53393
ipset seems workable and I feel like somebody else has discuss with me about it for a few times. For now, I will try the iptables way to fix the bug and then to see if migrate iptables to ipset can bring some benefits especially performance.

[2017-10-18 08:58] Kenblair1226 commented on #53886
My bad, socket hang up is a while after I see a bunch of socket error messages. But the error message in the original post is happen right after refreshing website, so it shouldn't be the timeout issue. And checking pod logs I did see requests of socket coming in with the same session id in both pods. I think it's sessionAffinity issue. Somehow my configuration of session affinity doesn't work.

[2017-10-18 09:01] linyouchong commented on #54130
/cc

[2017-10-18 09:02] fasaxc commented on #53393
@m1093782566, @song-jiang pointed out to me that kube-proxy is still maintaining an iptables table with a list of service IPs in it in order to set the masquerade flag correctly.  A `hash:ip,port` IP set would efficiently solve that problem (and remove the need to update iptables for each service), and, if the node ports and service IPs were all included, it should cover all the bases.

I.e., you'

[2017-10-18 09:04] song-jiang commented on #53393
What kind of network plugin you are using? Maybe it got some encapsulation or SNAT rules already in your case?

[2017-10-18 09:06] shyamjvs opened #54135 "l7-lb-controller memory usage increased recently"
Offshoot of discussion from https://github.com/kubernetes/kubernetes/pull/54045

We're noticing this in our recent 5k-node cluster test runs, for e.g (from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/49):

[code]

Copying some relevant comments from that discussion:

[code]

[code]

cc @kubernetes/sig-network-bugs @nicksardo @freehan

[2017-10-18 09:06] m1093782566 commented on #53393
Calico.

[2017-10-18 09:07] shyamjvs commented on #54135
@freehan Assigning this to you based on the last comment. Feel free to redirect it as apt.

[2017-10-18 09:18] shiywang commented on #25238
@julianvmodesto --dry-run just do a three-way calculate without interfere with server, replicate set to 1 happend in [defaulting](https://github.com/kubernetes/kubernetes/blob/e0ba40b67c76b0734bedafbc547a24b5eedd441f/pkg/apis/extensions/v1beta1/defaults.go#L73) here, I will file an issue to try if we can fix that.

[2017-10-18 09:22] m1093782566 commented on #53393
Sounds great!

[2017-10-18 09:25] bruceauyeung commented on #54130
If i understand correctly, `juju/ratelimit` records requests' startTime and uses `now.sub(startTime)`(or something like this) to determine if request should be sent. if system time is changed ,time-measuring operations like `time.Sub(another)` will not work as expected.
[code]
but Golang 1.9 brings [Transparent Monotonic Time support](https://golang.org/doc/go1.9#monotonic-time), so i think upgrad

[2017-10-18 09:27] m1093782566 commented on #51602
I find it's a reason suggestion and am trying to make it workable...

[2017-10-18 09:29] RickWisgerhof commented on #52812
Thanks @andyzhangx . Closing this issue!

[2017-10-18 09:29] song-jiang commented on #53393
@fasaxc and I are core developers of project calico. We are in the process of adding ipvs support for the project. I think you may have calico running in IPinIP mode so it does an encapsulations for you.

[2017-10-18 09:31] Xorecs commented on #52812
Thanks @andyzhangx !

[2017-10-18 09:31] #52812 closed

[2017-10-18 09:47] fasaxc commented on #53393
Just in case it wasn't clear where this came from, @song-jiang and I are core developers on Calico and we're working on adding support to Calico for IPVS since currently IPVS bypasses Calico's security policy.

@m1093782566 Yes, that's the sort of rule.  In Calico, that rule is only enabled when IPIP mode is turned on.  Normally, Calico (deliberately) avoids adding SNAT to the datapath but that IP

[2017-10-18 09:48] JosephSalisbury commented on #54075
For context, I'm trying to test a controller/operator that uses a watch internally. Passing in a fake clientset is straightforward, having to simulate the watch events is a bit trickier.

I would agree that a larger integration test is probably the 'better' way, but I would like to be able to unit-test watches.

Happy to provide some PRs, if there consensus on the value here.

[2017-10-18 09:55] like-inspur commented on #54131
I modify storageclass namespace and then recreate it，so statefulset create suceessfully。Why I can find storageclass from other namespace，but pod start failed with volume，I think this is bug!

[2017-10-18 09:58] tengqm commented on #53497
Related Issue: #51999

[2017-10-18 10:02] #53757 closed

[2017-10-18 10:17] knightXun opened #54137 "execute build/release.sh failed."
**What happened**:
when i execute 'bash -x build/release.sh ', it always failed. the failure reason is always:

[code]

**What you expected to happen**:
I want it build successfully.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.6.7
- Cloud provider or hardware configuration

[2017-10-18 10:18] dixudx commented on #54131
/sig storage

@like-inspur From the log

Seems scheduler did not find a satisfied volume for your PVC. Please help check your valid PVs.

`storageclass` is used to help PVC bound a satisfied PV.

[2017-10-18 10:18] knightXun commented on #54137
/sig compile

[2017-10-18 10:20] knightXun commented on #54137
/sig test-failures

[2017-10-18 10:21] knightXun commented on #54137
I check the 'vendor/k8s.io/apimachinery/pkg/apis/meta/v1/register.go', found no error.

[2017-10-18 10:38] ese commented on #53379
Same issue with v1.8.1

[code]

[2017-10-18 11:16] fgbreel opened #54138 "Conntrack table growing in linear fashion"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
 I noticed a linear increase on my conntrack table.

from `netstat` or `ss` I found `8579` lines like these:
[code]

also around `8583` like these

[code]

**What you expected to happen**:
Less entries inside conntrack table.

**How to reproduce it (as minimally and precisely as possible)**:
1. build packages from github.

[2017-10-18 11:17] libesz commented on #9085
Hi!
 I would have interest in implementing this. The symptom for me when kubelet discovers that it's node object is accidentally missing:
[code]
My half-baked plan is to capture the "not found" error [here](https://github.com/kubernetes/kubernetes/blob/9df1f7ef113bd029d4645249e5845251a8d99d02/pkg/kubelet/kubelet_node_status.go#L406). If needed, set the kl.registrationCompleted flag back to false s

[2017-10-18 11:25] fgbreel commented on #54138
@kubernetes/sig-api-machinery-bugs

[2017-10-18 11:33] koko990 commented on #52423
@chinakevinguo  when reinstall k8s , this problem has not been reappeared ...

[2017-10-18 11:34] #52423 closed

[2017-10-18 11:37] wackxu opened #54139 "should update out of date code comment for apps/v1beta2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

PR https://github.com/kubernetes/kubernetes/pull/50164 have remove the remove apps/v1beta2 defaulting codes for obj.Spec.Selector and obj.Labels, but the API reference and code comment is not updated and it is confused for user, releated issue https://github.com/kubernetes/kubernetes/issues/53976

**What you expected to happen**:

[2017-10-18 11:40] wackxu commented on #54139
/sig apps

[2017-10-18 12:06] resouer commented on #54129
Normally, I would suggest to install kubelet as a daemon on host instead of using hyperkube container.

cc @luxas you may be interested in this issue.

[2017-10-18 12:30] m1093782566 commented on #53393
MAKE SENSE, I am trying ipset now. Will let you know if I have some updates.

[2017-10-18 12:47] #53713 closed

[2017-10-18 13:12] deads2k commented on #54075
I think it would be cool, but I suspect the cost will be significant in terms of updating all the usage locations.  I wouldn't undertake it myself, but I wouldn't object to seeing it.

@ncdc @sttts do you actually object or just think its not worth the cost?

[2017-10-18 13:21] ncdc commented on #54075
I would be fine if someone undertook the effort to make the fake clientset generate watch events, but I think we have other avenues we can use right now that make it possible to test (e.g. making the sync handler a function pointer so it's easier to unit test, using the fake watch + reactor pattern).

@JosephSalisbury maybe you could expand a bit on how your code is structured and we can see if we

[2017-10-18 13:43] duglin commented on #53810
@mml can we discuss on the conformance mailing list so that we avoid duplicate work. There might be some overlap but not completely.

[2017-10-18 13:44] #53942 closed

[2017-10-18 13:44] #52909 closed

[2017-10-18 14:08] deads2k commented on #53826
opened https://github.com/kubernetes/kubernetes/pull/54145

[2017-10-18 14:09] deads2k commented on #53826
It needs to allow subdomains to allow matching recommended group names.  Also, why would you want string substitution?

[2017-10-18 14:13] xsgordon commented on #52563
@bugosiphionah great! Thanks for reaching out, you can find us in #sig-openstack on the Kubernetes slack if you want to discuss further.

[2017-10-18 14:14] xsgordon commented on #52563
/assign bugosiphionah

[2017-10-18 14:15] bgrant0607 commented on #25238
@shiywang Users definitely want dry-run to work with apply, but what they want is to show what the resulting resources would look like.

Anyway, that's not the problem here.

[2017-10-18 14:17] xsgordon commented on #52249
/assign @hogepodge

[2017-10-18 14:18] xsgordon commented on #51687
/assign @FengyunPan

[2017-10-18 14:18] xsgordon commented on #51687
@FengyunPan did you have a milestone in mind for this feature?

[2017-10-18 14:19] xsgordon commented on #51346
@hogepodge there is not, I marked it as explicitly deprecated (both in tree and the guide) in K8S 1.8. We should consider for removal in 1.9.

[2017-10-18 14:19] xsgordon commented on #51346
/assign @xsgordon

[2017-10-18 14:20] xsgordon commented on #50751
Do you have a milestone in mind for this work @huzhengchuan?

[2017-10-18 14:30] xsgordon commented on #50446
/assign @FengyunPan

Can you confirm if this is still valid and if not close? Thanks!

[2017-10-18 14:31] xsgordon commented on #49867
/assign @MatMaul

[2017-10-18 14:37] #49484 closed

[2017-10-18 14:55] darkwise commented on #53650
@kubernetes/sig-autoscaling-bugs

[2017-10-18 14:59] huzhengchuan commented on #50751
the rest request in openstack is asynchronous, It is better like
https://github.com/kubernetes/kubernetes/pull/44510
I am not sure that the issue is valuable now, so put the issue to talk.  @xsgordon

[2017-10-18 15:29] ncdc opened #54148 "CRD NamesAccepted condition has null for lastTransitionTime"
/kind bug

**What happened**: the `lastTransitionTime` for a CRDs `NamesAccepted` condition is always null

**What you expected to happen**: it should have a timestamp

**How to reproduce it (as minimally and precisely as possible)**: create a CRD and then examine its yaml/json. For example:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2017-10-18 15:30] sttts commented on #54148
/cc @nikhita @deads2k

[2017-10-18 15:32] MaciekPytel commented on #53650
You define 'containers' twice in `spec`. This is the same as trying to assign two values to the same key in a dictionary - the second assignment overrides the first one (just put your yaml into any online parser and see the result).

Also what you're trying to do is conceptually wrong. Both deployment and hpa are generally meant to work with one kind of pods (this is a bit of simplification as dep

[2017-10-18 15:32] #53650 closed

[2017-10-18 15:39] #52336 closed

[2017-10-18 15:42] valer-cara opened #54149 "Panic in azure_dd/azure_mounter.go when syncing pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm running a Redis pod with a PV provisioned as an Azure Managed Disk. It's got an exec readiness probe that calls `redis-cli ping` in the container.

At some point it receives a SIGTERM.

The kubelet then tries to sync the pod and restart the container, but it panics in [azure_dd/azure_mounter.go](https://github.com/ku

[2017-10-18 15:46] valer-cara commented on #54149
@kubernetes/sig-azure-bugs

[2017-10-18 15:51] thomas-riccardi commented on #52336
Maybe reopen for other impacted storage drivers?
See https://github.com/google/cadvisor/pull/1770#issuecomment-336259929

[2017-10-18 15:53] komorebi-san commented on #42282
Have it been solved? I got the same issue.

[2017-10-18 15:54] sttts commented on #54075
I don't object. If added complexity and effort to implement it pays off enough in test coverage & simplicity of tests.

[2017-10-18 16:03] nikhita commented on #54148
maybe because we don't update `lastTransitionTime` here:

https://github.com/kubernetes/kubernetes/blob/f1b17e8896e32e9f55a5b8115b3aefd6df4e3cc9/staging/src/k8s.io/apiextensions-apiserver/pkg/controller/status/naming_controller.go#L187

Will double check and create a PR.

[2017-10-18 16:24] sttts commented on #54148
I would expect the timestamp logic in `apiextension.SetCRDCondition`. Wondering why we have https://github.com/kubernetes/kubernetes/blob/f1b17e8896e32e9f55a5b8115b3aefd6df4e3cc9/staging/src/k8s.io/apiextensions-apiserver/pkg/controller/status/naming_controller.go#L210.

[2017-10-18 16:27] jekohk commented on #53663
if nobody else is working on it, i'll look into this.

[2017-10-18 16:37] wawastein commented on #48968
We've got an incident again today. InfluxDB pod with volume failed and stuck in `Terminating` state. After I pressed delete on the UI, new one started to fire up (with this strategy:
[code]
) and old just was hanging there:
[code]
Then I forcefully removed old one (`--grace-period=0 --force`), but it didn't help, since I still had to delete a couple of new pods because none of them could pick up t

[2017-10-18 16:51] DreadPirateShawn opened #54155 "Kubernetes CronJob pods generate invalid "Unable to mount volumes for pod" errors"
/kind bug

**What happened**:

Kubernetes CronJob pods generate invalid "Unable to mount volumes for pod" errors.

**What you expected to happen**:

We expect no error-level logs to be generated upon successful cronjob run.

**How to reproduce it (as minimally and precisely as possible)**:

Create a Kube cronjob, in our case one that runs every minute.

Observe error-level logs in kubelet.log:
[co

[2017-10-18 16:54] kargakis commented on #53663
Hey @jekohk. Please do so and cc me on your PR, I haven't had any time to start on it.

[2017-10-18 16:54] DreadPirateShawn commented on #54155
Note that this appears to quack like https://github.com/kubernetes/kubernetes/issues/43515#issuecomment-292541383, which describes this type of error message related to CronJob feature.

However, that comment cites a housecleaning log that we don't see in our repro, and PR https://github.com/kubernetes/kubernetes/pull/44781 was released in [Kubernetes v1.6.5](https://github.com/kubernetes/kubernet

[2017-10-18 17:08] cblecker commented on #54137
try `make release` instead.. there's a make rule (`make generated_files`) that needs to run.

[2017-10-18 17:13] cmluciano commented on #53736
@m1093782566 Take a look [here](https://github.com/kubernetes/community/blob/master/contributors/devel/cherry-picks.md) and let me know if anything is still unclear.

[2017-10-18 17:15] deads2k opened #54159 "admission config file for UAS can't handle embedded objects"
The config objects contained don't round trip.

[2017-10-18 17:15] nikhita commented on #54148
The `apiextensions.SetCRDCondition` is currently being used to set a "particular condition" for the CRD. It will use that condition's `LastTransitionTime`.

There are cases where we don't update the `LastTransitionTime` for a condition. If we set the timestamp logic in `SetCRDCondition`, it will udpate the time even for these conditions.

Example:
https://github.com/kubernetes/kubernetes/blob/3a44

[2017-10-18 17:20] dims commented on #49402
How to make progress from @lavalamp - https://github.com/kubernetes/kubernetes/pull/53912#issuecomment-337660614

[2017-10-18 17:25] mtaufen opened #54161 "Remove kubelet --enable-custom-metrics in v1.11"
--enable-custom-metrics marked deprecated in https://github.com/kubernetes/kubernetes/pull/54154
The flag should be removed in v1.11.

[2017-10-18 17:27] nikhita commented on #54148
/area-third-party-resource

[2017-10-18 17:34] freehan commented on #54135
Can we just increase the threshold? I am expecting glbc's memory usage to grow even more.

[2017-10-18 17:34] freehan commented on #28654
This has been done already.

[2017-10-18 17:34] #28654 closed

[2017-10-18 17:35] freehan commented on #34672
This has been implemented.

[2017-10-18 17:35] #34672 closed

[2017-10-18 18:01] nicksardo commented on #54135
Wow, I just saw the comment saying the controller uses 3428 MB at scale. @shyamjvs Where can we find the historic values of this metric? Where would it max out in previous tests?

I'm astonished that the controller uses ~0.6MB per node. Do other controllers scale the same way?

cc @bowei

[2017-10-18 18:03] bsalamat commented on #53908
@wackxu That's a good point, but the error message that is currently put in the pod status is raw. I think we can use the field and don't need to put an annotation, but we should refine the message. Here are my suggestions to make it more usable by scripts, etc:
1. Make the error message a JSON object.
2. The JSON object has a "type", which is FitError in most of the cases, but can be GenericError

[2017-10-18 18:12] nicksardo commented on #54082
Kubernetes isn't the correct place for this request. https://issuetracker.google.com/savedsearches/559790 is a tracking page for GCP LB feature requests and issues. In fact, this has already been requested: https://issuetracker.google.com/u/1/issues/65486751.

Could you please close this issue?

[2017-10-18 18:17] nicksardo commented on #53886
Try raising the 'maxRatePerInstance' value to an arbitrarily high value.

[2017-10-18 18:22] sttts commented on #54148
Shouldn't we just set the timestamp in line 24?

[2017-10-18 18:23] caesarxuchao commented on #53828
I agree with the general idea. Do you have in mind the exact client CA to reuse? Is `--tls-cert-file` the right one?

[2017-10-18 18:27] cmluciano commented on #54138
Are you running a scale test whereby more and more pods/services are being created?

[2017-10-18 18:29] tamalsaha commented on #54003
@caesarxuchao, when can we expect this?

[2017-10-18 18:36] caesarxuchao commented on #53825
The service resolver uses the services and endpoints API to resolve a service, I don't understand why "only the kube-apiserver can actually resolve services."

[2017-10-18 18:37] enisoc commented on #54095
That makes sense. It sounds like this is basically a dupe of #49489, so I'll close it. Thanks for investigating.

[2017-10-18 18:45] cmluciano commented on #53775
@xujieqwe Are you also setting hairpin mode in the flannel plugin or using the bridge plugin directly i.e. https://github.com/containernetworking/cni/issues/320

[2017-10-18 18:45] timothysc commented on #52783
@imilo I recommend running https://scanner.heptio.com/ and take a look at the results.  If there are issues it will highlight them.

[2017-10-18 18:47] deads2k commented on #53825
No other API server will have permission to read random services and endpoints in the cluster.  That means the resolution will fail. They have to ignore the resolution attempt, which indicates the API doesn't serve most consumers.

[2017-10-18 18:51] fgbreel commented on #54138
No, it's quite idle, if I restart `kube-apiserver` the conntrack table returns to normal state.

Seems that kube API is keeping several connections opened with `etcd`

[2017-10-18 18:54] derekwaynecarr commented on #51430
defaulting is different than max.  agree with issue reporter, looking at pr.

[2017-10-18 18:56] derekwaynecarr commented on #51430
actually, i need to think on this more.

in this case, by asserting a default limit, the operator is implicitly requiring that a limit be set on pods.  so it does not act as the effective max, but it does force the pod author to make a decision.

[2017-10-18 19:02] cmluciano commented on #54138
@kubernetes/sig-network-misc

[2017-10-18 19:06] ksanghavi commented on #45487
From the logs. It searches in below path for docker config.json/.dockercfg. I'm running K8s v 1.7

[code]

[2017-10-18 19:06] derekwaynecarr commented on #51430
ok, reflected on this more.  sorry for spam.

we have min / max / default (which applies to limit) / defaultRequest

user omits limit, sets request, we should only apply the default limit if its > request.  the implication here is that users will be able to create pods that are not bounded if the operator did not set a max.  so if the operator wants to enforce bounds, just use max, but we should n

[2017-10-18 19:24] #49221 closed

[2017-10-18 19:39] shyamjvs opened #54164 "Kube-dns pods coming up super slowly in large clusters"
Our 5k-node cluster jobs recently started failing even before the e2e tests start. The reason is the step which checks that all kube-system pods are running is timing out:

[code]

cc @kubernetes/sig-scalability-misc @wojtek-t @porridge

[2017-10-18 19:42] bowei commented on #54138
Is the conntrack entries stable after restart of the API server or does it continue to grow.

[2017-10-18 19:43] shyamjvs commented on #54164
From the scheduler logs I'm seeing that the pods are being scheduled quite slowly, getting worse with time:

[code]

2-3 pods/min looks quite bad.

cc @kubernetes/sig-scheduling-bugs

[2017-10-18 19:44] shyamjvs commented on #54164
Also finding such traces:

[code]

Seems like most of the time is being spent in priority calculation.

[2017-10-18 19:47] shyamjvs commented on #54164
From the pod spec, I'm seeing soft inter-pod anti-affinity at node-level topology:

[code]

I'm almost sure this is the one causing the mischief. We've been having performance issues with anti-affinity traditionally :p

[2017-10-18 19:53] shyamjvs commented on #54164
Ok... PR https://github.com/kubernetes/kubernetes/pull/52193 is the cause. It introduced anti-affinity to kube-dns. I think we should revert this change given known issues with anti-affinity.

@StevenACoffman @bowei @MrHohn @wojtek-t - Opinions?

[2017-10-18 19:56] shyamjvs commented on #54164
FYI - it is taking >80m until the last pod is scheduled when I'm running 5k-node cluster locally.

[2017-10-18 20:00] fgbreel commented on #54138
It continues to grow.

  attached some graphs too.

Seems that kube API is establishing new connections instead of using the already established ones.

[2017-10-18 20:03] bowei commented on #54164
That's quite unfortunate. It looks like we should revert the change until the anti-affinity change is scalable enough to be used more broadly, unless the scheduler folks have a target fix for this use case. @bsalamat @davidopp

[2017-10-18 20:06] dims opened #54168 "LoadConfig in e2e tests could be better"
So, when we were trying to fix the use case where one runs the e2e tests inside a pod, we should pick up the InClusterConfig (serialize to disk and use that to run the tests), @timothysc spotted a few inconsistencies, some of the discussion is here:

https://github.com/kubernetes/kubernetes/pull/53924#issuecomment-337091717
https://github.com/kubernetes/kubernetes/pull/53924#issuecomment-337710289

[2017-10-18 20:07] debianmaster commented on #41881
+1 for this

[2017-10-18 20:07] shyamjvs commented on #54164
cc @kubernetes/sig-scalability-misc

[2017-10-18 20:11] #43583 closed

[2017-10-18 20:24] shyamjvs opened #54170 "Heapster not running on release-1.7 when KUBE_ENABLE_CLUSTER_MONITORING=none"
We set `KUBE_ENABLE_CLUSTER_MONITORING=none` in our scalability [job](https://github.com/kubernetes/test-infra/blob/master/jobs/env/ci-kubernetes-e2e-gce-scale-performance.env) which earlier had the effect of not creating heapster (or any other monitoring related addons). But metrics-server pod seems to get created.

cc @kubernetes/sig-instrumentation-bugs @fgrzadkowski @x13n @piosz

[2017-10-18 20:25] shyamjvs commented on #54170
@fgrzadkowski Assigned to you as @piosz is on vacation. Feel free to redirect as apt.

[2017-10-18 20:27] luckyfengyong opened #54171 "Kubelet shows the Status of a mirror/static pods as Running, even though the host is down"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I launch kube-proxy as static pod. When I shutdown the host, the kubectl still shows the pods of kube-proxy as running.

**What you expected to happen**:
It is expected to show its status as something like unknown, as kube apiserver cannot contact kubelet

**How to reproduce it (as minimally and precisely as possible)**:

[2017-10-18 21:01] jakeswenson commented on #54082
Yes. Thanks for the pointers

[2017-10-18 21:01] #54082 closed

[2017-10-18 21:12] bsalamat commented on #54164
We are very well aware of the performance issues in our affinity/anti-affinity functions, but I am not aware of a concrete solution at this point. This is partly due to the flexible design of affinity/anti-affinity concept.
My humble opinion at this point is to drop some of the flexibility as they are rarely used, in order to streamline the algorithm and improve performance.
Anyway, I think the pr

[2017-10-18 21:25] aanm opened #54172 "CRD resourceVersion is incremented without any modifications made to the object"
/kind bug

**What happened**:

the `resourceVersion` of a CRD is incremented without any modifications made to the object

**What you expected to happen**:

the `resourceVersion` of a CRD to only be incremented whenever a modification to the object is made

**How to reproduce it (as minimally and precisely as possible)**:

create the following CRD:
[code]

run:
[code]

The object was not modified,

[2017-10-18 21:28] aanm commented on #54172
/area client-libraries

[2017-10-18 21:33] derekwaynecarr commented on #53672
@lichuqiang -- the quota change is relatively small, if you want to pick up the work, i would be happy to shephard it.

[2017-10-18 21:34] derekwaynecarr commented on #53672
@lichuqiang -- added you as owner, thanks for volunteering!  let me know when you have the pr up

[2017-10-18 21:37] jackzampolin commented on #49387
Ideally I would be able to say something like:

[code]

[2017-10-18 21:38] caesarxuchao commented on #53825
Ok, agree that UAS shouldn't use ServiceResolver.

But I still think the service reference in the current registration API is enough. I think UAS can rely on kube-dns and kube-proxy to properly route "serviceName.namespaceName.svc" DNS name.

[2017-10-18 21:41] yujuhong commented on #49480
As far as CRI is concerned, CNI is an implementation detail. Is there a need to enforce a newer version of CNI across all CRI-compatible runtimes? Are there any new requirement we need to explicitly define in CRI?

@luxas @freehan

[2017-10-18 21:47] luckyfengyong commented on #54171
/sig node

[2017-10-18 21:52] spxtr commented on #37254
As in https://github.com/kubernetes/kubernetes/issues/37254#issuecomment-262116581, I think we're just using golint wrong. [Most k8s packages](https://github.com/kubernetes/kubernetes/blob/b3a9b802da9a072cc6daed0baf6f09a8ba1a1ae2/hack/.golint_failures) do not pass golint. Instead, we should delete `verify-golint` in favor of making [prow's golint plugin](https://github.com/kubernetes/test-infra/tr

[2017-10-18 21:57] #47211 closed

[2017-10-18 21:58] caesarxuchao commented on #54003
We are putting together the changelog at https://github.com/kubernetes/client-go/pull/313, will tag v5.0.0 after it's merged.

[2017-10-18 22:02] xiangpengzhao commented on #53672
@tianshapjq are you ready for the LimitRange part? :)

[2017-10-18 22:25] aanm commented on #54172
FYI @sttts

[2017-10-18 22:39] rileytg commented on #36222
also seeing this issue on 1.7

[2017-10-18 22:48] rileytg commented on #36222
can we reopen this issue? or open a new one?

[2017-10-18 22:57] mmueen commented on #53824
/assign @mmueen

[2017-10-18 23:03] fejta-bot opened #54178 "Failure cluster [1c96f2...] failed 77 builds, 23 jobs, and 1 tests over 1 days"
### Failure cluster [1c96f29c9f989118edd8](https://go.k8s.io/triage#1c96f29c9f989118edd8)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    23 jobs failed,    77 builds failed.
Failure stats cover 1 day time range '17 Oct 2017 11:59 UTC' to '18 Oct 2017 11:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| UpgradeTest | 23 |

##

[2017-10-18 23:03] fejta-bot opened #54179 "Failure cluster [199f5e...] failed 71 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [199f5e98df83265c9e3e](https://go.k8s.io/triage#199f5e98df83265c9e3e)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    71 builds failed.
Failure stats cover 1 day time range '17 Oct 2017 11:59 UTC' to '18 Oct 2017 11:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 2 |

##### Top f

[2017-10-18 23:03] fejta-bot opened #54180 "Failure cluster [5a9c28...] failed 71 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [5a9c28535b7cfa1a5be5](https://go.k8s.io/triage#5a9c28535b7cfa1a5be5)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    71 builds failed.
Failure stats cover 1 day time range '17 Oct 2017 11:59 UTC' to '18 Oct 2017 11:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 2 |

####

[2017-10-18 23:21] eparis commented on #37254
@spxtr  and I just disagree on this one   :)

@porridge just proved why pinning was a bad idea to begin with. This should have been caught as soon as golint was updated. Not by you. I'm sorry about your experience.

Maybe I'm too strongly colored by my previous work as a kernel maintainer. gcc warnings were originally largely if not entirely ignored. gcc warnings came with a similar 'we aren't per

[2017-10-18 23:35] #54148 closed

[2017-10-18 23:58] MrHohn opened #54183 "Service controller retries on doNotRetry service update failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network

**What happened**:
Service controller mistakenly retries on service update failure even if `retry==false`. See below codes:
https://github.com/kubernetes/kubernetes/blob/ea07264251661eed115973df147029a6226eae47/pkg/controller/service/service_controller.go#L244-L256

**Environment**:
- Kubernetes version (use `kubectl version`):

[2017-10-18 23:59] ixdy commented on #53016
maybe we should just skip this test? still have no idea how to progress on this.

[2017-10-19 00:02] caesarxuchao commented on #54075
I couldn't have said it any better.

[2017-10-19 00:07] caesarxuchao commented on #53826
So that a user can specify "$Group/$Version/$Resource/$Namespace..." in config.URLPath, and the webhook plugin can automatically expand them.

[2017-10-19 00:11] BenTheElder commented on #53016
If/when this is ever fixed we should revert https://github.com/kubernetes/test-infra/pull/5067 but in the meantime this will unblock 1.6 which is somewhat broken for bazel anyhow.

[2017-10-19 00:12] hach-que commented on #48912
Is there any action on this? We currently have this item in our risk register.

While almost all of our pod filesystems are read-only, we are required to mount an emptyDir temporary filesystem at `/tmp` so that .NET Core can operate correctly (it requires writing temporary files to disk), and we want to ensure that any potential attacker can not use this emptyDir volume as a way of staging executa

[2017-10-19 00:18] astropuffin commented on #27000
@vishh "increase network bandwidth" isn't an option for iops centered workloads (like image processing). Docker now offers very useful flags to handle this:
[code]
Not sure about rkt support, but I don't think the scope needs to be that large. Assuming docker as the runtime, iops and bps could be added as another optional container level resource like cpu and memory. Storage limits is handled much

[2017-10-19 00:19] yujuhong commented on #53016
[code]
Assuming the error is relevant, would anything cause the files in `/tmp` to be cleaned up before the test is done (besides the test itself)?

[2017-10-19 00:20] hach-que commented on #20151
This is important for security purposes to limit the attack surface of gaining credentials from the filesystem. Is there going to be any progress on this?

Our current mitigation strategy here is to encrypt the secrets before storing them in Kubernetes, and arm the Docker image with that encryption key. Then on startup, read the encrypted secrets from Kubernetes, decrypt them with the local encryp

[2017-10-19 00:29] ixdy commented on #53016
I just kicked off a bazel test run on prow using the v1.6.7 tag, from early July: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-1-6/1778

The test is still failing, even though it'd previously passed at that version.

This does suggest it's a test-infra issue, though I'm still not sure how.

@yujuhong it's possible some other test is cleaning up `/

[2017-10-19 00:46] dims opened #54186 "GCE specific code in pkg/controller/cloud/node_controller.go"
[code]

Please see https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cloud/node_controller.go#L330-L338

[2017-10-19 00:46] dims commented on #54186
/sig node

[2017-10-19 00:48] dims opened #54187 "GCE specific code in pkg/kubelet/kubelet_network.go"
[code]
please see https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_network.go#L81-L87

[2017-10-19 00:48] dims commented on #54187
/sig node

[2017-10-19 00:49] dims commented on #54187
related to https://github.com/kubernetes/kubernetes/issues/48690

[2017-10-19 00:49] dims commented on #54186
/area cloudprovider

[2017-10-19 00:49] dims commented on #54187
/area cloudprovider

[2017-10-19 00:53] dims commented on #54076
Discussion on the mailing list - https://groups.google.com/d/msg/kubernetes-sig-api-machinery/bwJJ93qA99o/vHBeID_HAgAJ

[2017-10-19 00:55] msau42 commented on #48912
Can someone explain the attack vector that this is trying to prevent?

[2017-10-19 00:57] bsalamat commented on #47318
Just wanted to update the issue with the final decision which is to let DaemonSet controller schedule its own pods. That said, we still need to work on improving scheduler's performance.

[2017-10-19 00:57] khj809 opened #54188 ""kubeadm init" on offline environment"
Hi. I'm trying to set up kubernetes cluster on my private network.
All machines are RHEL 7.3 and use latest kubernetes version (v1.8.1) with docker-ce 17.03.2.
I thought that everything I need is some packages(kubeadm, kubectl, kubelet, kubernetes-cni and dependencies) and images (starts with gcr.io/google_containers/... and pod network images), so I prepared and installed them. But when I run "ku

[2017-10-19 01:00] bsalamat commented on #42002
As discussed in the mailing lists of sig-scheduling and sig-architecture, the final decision is to keep the current behavior of DaemonSet controller and let it schedule its own pods.

[2017-10-19 01:04] tianshapjq commented on #53672
yes, I've worked on this for some time and will commit the pr ASAP. @xiangpengzhao @derekwaynecarr

[2017-10-19 01:04] jiayingz commented on #53395
@ddysher How we may implement the extra component to monitor device plugin resource health is still TBD. It is possible we may surface certain failure conditions through node problem detector, but we haven't actively investigate this yet. By "response time", I mean the failure recovery time. Device resource capacity is meant to be used with other signals (e.g., some signal to indicate the node act

[2017-10-19 01:06] bsalamat opened #54189 "Add a fast path to inter-pod affinity/anti-affinity for hostname topology key"
It is not a secret that [inter-pod affinity/anti-affinity predicate is much slower than other predicates](https://github.com/kubernetes/autoscaler/issues/257).
In my opinion the main reason for the slowness is the flexibility of the inter-pod affinity/anti-affinity rules. However, in most practical scenarios users do not need all the flexibility. For example, people often do not use arbitrary labe

[2017-10-19 01:06] bsalamat commented on #54189
ref/ #54164

[2017-10-19 01:14] hach-que commented on #48912
It's part of a defense in depth strategy. An attacker being able to write executables to disk and executing them generally has a lower threshold than convincing an application to allocate a block of memory, mark it as executable and jump to it.

[2017-10-19 01:24] bsalamat opened #54190 "DaemonSet controller should support preemption"
Now that we have decided to let DaemonSet controller schedule its own pods, it needs to be able to preempt lower priority pods when DaemonSet pods cannot be scheduled on the target nodes.
The preemption logic in DaemonSet controller will be a subset of scheduler's preemption logic, as DaemonSet controller does not need to choose the best node to preempt and should only perform preemption on the sa

[2017-10-19 01:26] msau42 commented on #48912
So if I understand correctly, you want to prevent a scenario like:

1. You're running a pod using emptydir with tmpfs
2. Your pod gets compromised.
3. Attacker writes an executable into your emptyDir volume, and runs it

So if kubelet mounted the emptydir as noexec, then it would avoid this scenario.

But do you even need emptydir to do this?  Couldn't you do this also with the container writable

[2017-10-19 01:26] wackxu commented on #54188
@khj809 you can a flag `--kubernetes-version=v1.8.1`  then it will skip request the URL

[2017-10-19 01:31] MrHohn commented on #53754
Turned out we use a wrong type when validating `--healthz-bind-address` and `--metrics-bind-addres`. Sent #54191 for fixing this. Will try to cherrypick the fix as well.

[2017-10-19 01:41] k82cn commented on #47318
@bsalamat , I had update the description of this issue for all scheduler performance enhancement (not only for 42002).

xref #54189

[2017-10-19 01:50] hach-que commented on #48912
We run all our pods with `readOnlyRootFilesystem`. The only thing writable is the `emptyDir`.

[2017-10-19 02:01] tengqm commented on #53908
@bsalamat I like the JSON object idea. If we are going down this direction, maybe we want to ensure that the semantics of the `type` and `message` field are well defined. For `type`, a machine readable string would be fine. For `message`, I am not quite sure if an opaque object is generic enough. Thoughts?

[2017-10-19 02:01] nicorevin commented on #48912
@msau42
We are willing to do the same. Running a container in read-pnly mode with tmpfs mounts for some runtime nevessary stuff (/run or /tmp) and there is a general recommendation to mount tmpfs with noexec, nosuid,nodev flags. If you run plain dpcker run —tmpfs /lol something you will see it in action

[2017-10-19 02:04] FengyunPan commented on #50446
Yes, this issue has been fixed, so I close it.

[2017-10-19 02:13] k82cn commented on #54171
how about enable [TaintBasedEviction](https://github.com/kubernetes/features/issues/166) feature; when the node is unreachable, the mirror pod should be delete.

[2017-10-19 02:20] wongma7 commented on #48912
@kubernetes/sig-auth-feature-requests

imo this feature doesn't have to take the form of emptydir.mountoptions. It doesn't even need to be an emptydir field, it could be a pod.securitypolicy field that says "all of this pod's emptydirs must be mounted noexec,nosuid,nodev", imo that would satisfy this use-case well enough without bringing in any of the complications of having psp validations parse

[2017-10-19 02:22] tengqm commented on #54088
/cc

[2017-10-19 02:29] ddysher commented on #53395
We've seen cases when node is offline but pod still exists on the node (I guess this is due to node not ready toleration).  The problem only occurs when node is not properly taken offline, if we use node drain, all pods will be evicted.

[2017-10-19 02:43] dims commented on #53635
/sig cluster-lifecycle

[2017-10-19 02:43] dims commented on #53473
/sig cluster-lifecycle

[2017-10-19 02:43] dims commented on #53462
/sig cluster-lifecycle

[2017-10-19 02:44] dims commented on #53451
/sig cluster-lifecycle

[2017-10-19 02:59] shun-miyoshi-com opened #54194 "Failed to use kubectl top command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I created kubernetes cluster by kubeadm, and I created heapster v1.4.3
Then I used kubectl top command, but I got following error message.

[code]

Here is my pods status.

[code]

**What you expected to happen**:
use kubectl top command successfully.

**How to reproduce it (as minimally and precisely as possible)**:

**A

[2017-10-19 03:02] tengqm commented on #54171
@k82cn are you sure taint based eviction can handle static/mirror pods?

[2017-10-19 03:31] #51435 closed

[2017-10-19 03:51] resouer opened #54198 "Consider moving TaintNodeUnreachable out of alpha"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When discussing issue in https://github.com/kubernetes/community/pull/985 , I noticed:

although `TaintNodeUnreachable` is using key `node.alpha.kubernetes.io/unreachable` [in current code](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/well_known_labels.go#L33),

it has actually been

[2017-10-19 03:51] resouer commented on #54198
self assigned as already have fix by hand.

[2017-10-19 03:52] resouer commented on #54198
/sig scheduling

[2017-10-19 04:04] imkin commented on #54129
@ixdy Need your help in identifying the fix here. I can send something for review. Suggestions are welcome.

[2017-10-19 04:11] khj809 commented on #54188
@wackxu Thanks! It works!

[2017-10-19 04:22] srinathmatti commented on #53983
issue/bug

[2017-10-19 04:44] shun-miyoshi-com commented on #54194
Sorry, I can run kubectl top command by removing http-proxy setting of /etc/kubernetes/manifests/kube-apiserver.yaml

Prev:

[code]

After:

[code]

But why I can run kubectl command by removing proxy setting?

[2017-10-19 04:50] #54188 closed

[2017-10-19 05:13] spxtr commented on #37254
I think the equivalent of gcc warnings is more like `go vet`, which we do require to pass for all packages. Golint tends to be things like "this is a public thing and so it needs a comment explaining it." Most public things do deserve a doc comment, but many do not. It's up to the author and reviewer.

The world we live in now is pretty pitiful. Basically no packages pass golint, and that fact isn

[2017-10-19 05:26] marceldempers commented on #52129
Hi @itowlson Thanks for the response - I think that issue will solve this one. I just thought of something else though that may impact this change. If a service principal is used to run Kubernetes and the principal has correct contribute permissions only on the resource group (where K8 resides) we may have to remember to give the principal additional permissions on the public ip resources as well

[2017-10-19 05:28] tamalsaha opened #54200 "Feature request: Support reading secrets from terminal in kubectl"
`kubectl create secret` command supports `--from-literal` and `--from-file` options. But neither options are convenient when creating secrets manually from terminal.

- Using -- from-literal will keep the secret in shell history.
- Using --from-file requires creating the file first and then deleting it, etc.

I would like to see a flag like `--from-keys=k1,k2,k3`. Given this flag is present, kubec

[2017-10-19 05:40] itowlson commented on #52129
Yes, the SP does need access to the other resource group.  I think this may need to be set up manually though - e.g. if using acs-engine, if it creates a SP during cluster deployment, it can't know what RGs might be used in future service creation.  When I was noodling on this, I granted the SP permissions via the portal to test it; I don't think you could make it transparent because the SP won't

[2017-10-19 05:41] tamalsaha opened #54201 "Feature request: Support Oauth2 authorization flow in kubectl"
We would like  to see kubectl support OAuth token authorization flow. Essentially user can set necessary Endpoint, ClientID, ClientSecret and Scopes for Oauth. Using that information kubectl can initiate a Oauth authorization flow using user's local browser. Then use the issued token as token for Kubernetes authorization. Obviously this will not work in unattended modes. This can be very handy for

[2017-10-19 06:06] like-inspur commented on #53706
@embano1 how to use pod spec refs in the manifest ，define what envrionment variables to achieve？

[2017-10-19 06:10] davidopp commented on #42002
In that case I guess we should close this.

BTW the thread @bsalamat refers to is here:
https://groups.google.com/d/msg/kubernetes-sig-scheduling/kMG7yfONwY4/Nx3abXuNAAAJ

[2017-10-19 06:10] #42002 closed

[2017-10-19 06:16] porridge commented on #54164
@bsalamat would it make sense to add a note to the anti-affinity user documentation to hint at performance problems at large scale, until this is fixed?

[2017-10-19 06:23] like-inspur commented on #54131
@dixudx But other namespace not in storageclass define can see this storageclass，then pod mount volume failed like this. I think storageclass shoud be seen in one namespace not all namespaces

[2017-10-19 06:29] thockin commented on #20151
Can you say why env vars are not sufficient?

On Thu, Oct 19, 2017 at 2:20 AM, June Rhodes <notifications@github.com>
wrote:

[2017-10-19 06:31] m1093782566 opened #54203 "Try ipset in kube-proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Two bugs reported in kube-proxy IPVS mode, see:

#53393

#53775

I think the root cause is missing SNAT(masq) rules. We can employ iptables, but I am worried about the performance issue. As @song-jiang and @fasaxc suggested, there is a better solution, the ipset. We can put the `ip:port` in a ip sets and then only ne

[2017-10-19 06:31] m1093782566 commented on #54203
/assign

[2017-10-19 06:33] hach-que commented on #20151
My understanding is that environment variables are visible to other processes via `/proc`, so we definitely don't want to be using them if they're visible to other processes.

[2017-10-19 06:35] m1093782566 commented on #54203
My plan is:

- [ ] wrapper ipset util, i.e list/create/delete ipset

- [ ] try ipset in kube-proxy ipvs mode, fix bugs in #53775, #53393

- [ ] try ipset in kube-proxy ipvs mode for masq-all and cluster-cidr

- [ ] try ipset in kube-proxy iptables mode.

I am working on at least 1, 2 and 3.

[2017-10-19 06:35] m1093782566 commented on #54203
cc @cmluciano

[2017-10-19 06:45] mindprince opened #54205 "`kubectl logs -f` is not working correctly on 1.8"
/kind bug

`kubectl logs -f ` is not working on Kubernetes 1.8. It gets stuck and only returns when the container exits.

I tested it in GKE 1.6.11 and 1.7.8 and it works there. But doesn't work on GKE 1.8.0.

Here's a simple reproduction:
1. Create a 1.8.0 or 1.8.1 cluster.
2. Run a simple busybox container and `echo "hello"`.
[code]
3. In another terminal, try `kubectl logs` without `-f`. It wor

[2017-10-19 07:24] #51068 closed

[2017-10-19 07:32] scele commented on #50975
FWIW, I ended up [forking](https://github.com/scele/apimachinery/commit/dde19de1310a58d5fe27e0a24c804ffbe1502ca1) the apimachinery repo to work around this issue in order to use client-go in my project that uses Bazel.

@mikedanese , @ixdy , it seems that the outputs of the problematic pkg/util/sets:set-gen rule go to bazel-genfiles and are not referenced by any other bazel rule. Am I right? Inste

[2017-10-19 07:40] kadamvandita commented on #50975
hi

which branch u cloned of apimachinery and which folder?

[2017-10-19 07:47] sttts commented on #54172
/cc @nikhita @brancz

[2017-10-19 07:49] sttts commented on #54172
Looks totally unrelated. But the correlation is striking.

[2017-10-19 07:53] sttts commented on #54172
On a second look: you check the resource version for the LIST call, not the CRD or CR. I would bet this resource version is artificially created using an atomically increasing counter from etcd. That also would explain that it correlates between different resources. Also note that you are not accessing the CRD, but the CR endpoint.

I would close this issue as it looks like a misunderstanding of t

[2017-10-19 07:53] #54172 closed

[2017-10-19 08:01] m1093782566 commented on #53736
@cmluciano thanks a lot!

[2017-10-19 08:02] nikhita commented on #54172
Just for completeness, to get the `resourceVersion` for the CRD, you need to:

[code]

With this, you can see that the `resourceVersion` is not incremented without any updates.

[2017-10-19 08:10] shiywang opened #54212 "Remove kubectl dependency: create, set"
/sig cli
/assign

[2017-10-19 08:16] #47978 closed

[2017-10-19 08:31] fasaxc opened #54213 "Uniqueness of named ports within a pod isn't validated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Applied a pod spec where multiple containers within a pod have the same name for their named ports.  The spec was accepted but the docs say that it should have been forbidden:

[code]

**What you expected to happen**:

Should be rejected with a clear error message (or doc should be fixed).

**How to reproduce it (as mini

[2017-10-19 08:35] likakuli opened #54214 "pod is deleted but rbd not unmap"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Pod was deleted successfully but there is still a lock on the ceph image. I find two logs,one for that lock not removed and another for that lock removed. I find that there are little difference between them.

the log that lock not removed:
[code]

and the log that lock removed:
[code]

**What you expected to happen**:

**How to rep

[2017-10-19 08:37] likakuli commented on #54214
@rootfs

[2017-10-19 08:41] ilyalukyanov commented on #47142
I'm having this issue as well using Windows containers. I figured some pattern.

When name resolution **works**, this is literally (except names replaced with fakes) what dnsmasq logs look like:
[code]

When name resolution **doesn't work**, this is literally (except names replaced with fakes) what dnsmasq logs look like:
[code]

For some reason it decides not to go beyond `subdomain.my-domain.com

[2017-10-19 08:46] Kenblair1226 commented on #53886
Setting maxRatePerInstance to 1000 or 10000 still seeing the error.

[2017-10-19 09:07] thockin commented on #20151
Only to other processes in the same PID space or the root PID space who run
as root or the same UID.  You can verify this by trying to open someone
else's /proc/<pid>/environment file.  It should fail unless you have
permissions.

It would also be visible through `docker inspect`, which also requires
permissions.

On Oct 19, 2017 8:34 AM, "June Rhodes" <notifications@github.com> wrote:

[2017-10-19 09:08] ITler commented on #53138
Currently I am not able to efficiently test, as `acs-engine` doest not support 1.7.7+, but once they do, I will do testing. However I'm convinced that this will work now from K8s site, so I close

[2017-10-19 09:08] #53138 closed

[2017-10-19 09:12] paulpozicheun opened #54216 "Init containers and Jobs with Kube 1.5"
@kubernetes/sig-contributor-experience-help-wanted

**What happened**:
Hello everyone,
I've created a JOB pod with 2 INIT containers
At pod creation, my job completed successfully but no sign of the init containers

**What you expected to happen**:
To me, the job should have wait for the completion of the 2 init containers before starting

**How to reproduce it (as minimally and precisely as possi

[2017-10-19 09:19] ese opened #54217 "Memory leak kube-apiserver 1.8.1"
/kind bug
/sig api-machinery
@kubernetes/sig-apimachinery-bugs

**What happened**: Kube-api-server is consuming more and more memory until end with all available resources

**What you expected to happen**: kube-api-server consuming more or less the same amount of memory since there is no change in the api requests or cluster load

**How to reproduce it (as minimally and precisely as possible)**: R

[2017-10-19 09:20] likakuli commented on #54214
/sig storage

[2017-10-19 09:22] hach-que commented on #20151
Would the environment variables persist in those places (e.g. `docker inspect`), even if the process clears the environment variables internally (i.e. with `Environment.SetEnvironmentVariable` in .NET Core apps)?

[2017-10-19 09:33] thockin commented on #20151
Yes for `docker inspect` - it is part of the container's specification,
just as the secret exists in the kube API.  I don't actually know if /proc
reflects that sort of change, I have never tried (I am on mobile now), but
it should be easy to test.

But env bars are about as private as you are going to get without taking
full control and fetching secrets yourself into your own process memory.

On

[2017-10-19 09:43] sttts commented on #52752
We still need the actual repo. Reopening. @eparis can you create it? Nobody spoke against the repo and the repo name on kube-dev https://groups.google.com/forum/#!topic/kubernetes-dev/WsqhzA2Bius. So I think we can go ahead and create it.

[2017-10-19 09:52] khj809 opened #54220 "Calico node failed to start"
Hi. I'm using kubernetes 1.8.1 and trying to make cluster with calico 2.6.2.
I configured everything same as doc says, but when I run `kubeadm join` on other machine, it keeps failing on running calico-node pod with `CrashLoopBackOff` status.
The first container (`install-cni`) of pod seems running well, and second container (`calico-node`) fails with following messages:
[code]
What am I doing wro

[2017-10-19 09:52] CaoShuFeng commented on #53379
This just fix the error message:
https://github.com/kubernetes/kubernetes/pull/54218

But it doesn't fix the `twice-patch` issue

[2017-10-19 09:53] nikhita commented on #53379
Still investigating the issue but I noticed that when we do a no-op patch for native resources, we get a "not patched" response. However, for non-native resources, it still tries to patch it (and bumps the resourceVersion too).

[2017-10-19 09:58] CaoShuFeng commented on #53379
I don't konwn whether this is a issue, I can't do strategic merge patch to CRD.
When I run `kubectl patch`, --type=merge must be passed.

[2017-10-19 10:02] nikhita commented on #53379
@CaoShuFeng We should be able to apply strategic merge patch to CRDs. However, we can't apply strategic merge to CRs.

Unfortunately, this error is occuring even with `--type=merge`. :(

[2017-10-19 10:03] hach-que commented on #20151
How is reading a file that exists on disk while the application is not serving traffic to memory, not more secure than an environment variable which persists around in `docker inspect`?

[2017-10-19 10:13] ese commented on #54217
@kubernetes/sig-apimachinery-bugs

[2017-10-19 10:15] nikhita commented on #54217
Maybe related to https://github.com/kubernetes/kubernetes/pull/50690?

cc @sttts

[2017-10-19 10:18] chinakevinguo opened #54221 "kubectl top node execution error"
Hi guys:

I have a k8s environment:
4 nodes only run kubelets and kube-proxy,
3 nodes only run kube-apiserver, kube-controller-manager, kube-scheduler.
1 node only runs kubectl
All components are installed in binary, and open the rbac
k8s master HA runs through the nginx on each client node to connect the master
The kubernetes cluster is running normally and can execute any commands except kubectl

[2017-10-19 10:28] sttts commented on #54217
This is probably a dup of https://github.com/kubernetes/kubernetes/issues/53485, fixed in https://github.com/kubernetes/kubernetes/pull/53586. @ese do you have a chance to check whether https://github.com/kubernetes/kubernetes/pull/53586 helps?

[2017-10-19 10:29] thockin commented on #20151
Its perms on disk are approximately the same as your own /proc files, so
not really more secure, but you seemed concerned about files.

There isn't a way to unmount Secrets (in fact, it will be refreshed
periodically).

I guess I don't know what your hypothetical attack vector is, so I can't
answer the question properly.

On Oct 19, 2017 12:04 PM, "June Rhodes" <notifications@github.com> wrote:

[2017-10-19 10:31] nicorevin commented on #48912
Good point. Could you please point where ti start digging code for this?

[2017-10-19 10:39] sttts commented on #53485
Create a cherry-pick for 1.8: https://github.com/kubernetes/kubernetes/pull/54225

[2017-10-19 10:39] sttts commented on #54217
Created a cherry-pick for 1.8: #54225

[2017-10-19 10:41] hzxuzhonghu commented on #53644
But the new added field does not initiated, so the restart seems unreasonable.

[2017-10-19 10:58] hach-que commented on #20151
Sure, it's permissions are approximately the same as the `/proc` files. But it exists only during startup, whereas `docker inspect` exists for the lifetime of the container.

If Kubernetes supported unmounting of secrets, then after startup the secret would exist only in the process's memory and nowhere else.

The key point here is to limit the amount of time the credential is readily available to

[2017-10-19 11:19] munnerz commented on #49030
+1 - I spent 10m scratching my head the other day as my resources were still be created after a timeout error was returned by `kubectl create`. It'd be good to either make this error message better (e.g. `Initialization of this resource failed, resource was created anyway`) and to document this default!

[2017-10-19 11:20] pingles commented on #51271
To update this having updated our cluster to `1.8.1+coreos.0` we appear to see similar behaviour:

[code]

Other services/load-balancers on the same cluster aren't exhibiting the same behaviour. It could be coincidental but the problematic Service is configured with a load balancer on a private IP range for the VPC (it's hosted in AWS). The other Services/load-balancers have public addresses and d

[2017-10-19 11:33] php-coder commented on #54200
Because in Unix terminal is represented as a file `/dev/stdin`, you can use the following command:
[code]

[2017-10-19 11:37] hzxuzhonghu opened #54227 "[pull-kubernetes-unit] build failed"
PR #54046    [pull-kubernetes-unit ](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54046/pull-kubernetes-unit/59300/) always build failed.
[code]

[2017-10-19 11:39] hzxuzhonghu commented on #54227
/kind flake
area/test-infra

[2017-10-19 11:40] datenzar commented on #19293
I’m getting a similar error (`Error from server (BadRequest): Upgrade request required`) when trying to run a kubectl exec against a cluster behind an AWS ELB, but only if Listeners are configured to HTTPS->HTTPS. If configured using TCP->TCP, all things running smooth. However I’d like to use AWS-signed SSL certificates that I only can get when setting to use the OSI Application Layer (HTTPS) ins

[2017-10-19 11:48] munnerz opened #54228 "Improved error/response to user when Initialization of a resource fails, but the resource is created anyway"
/kind feature

**What happened**:

I created an InitializerConfiguration and set the `failurePolicy` to 'Ignore'. Upon creating a resource, kubectl logs the following message (if initialization fails):

[code]

**What you expected to happen**:

I expected the error message returned to indicate that the resource was created anyway, despite initialisation failing. From the above message, it's easy t

[2017-10-19 11:48] munnerz commented on #54228
/sig api-machinery

[2017-10-19 11:49] tamalsaha commented on #54200
Thanks @php-coder ! I guess this works in linux / mc. Windows users will be out of luck.

[2017-10-19 11:59] tamalsaha commented on #54200
@php-coder , I just tried this in Ubuntu 16.04. How to I end the read process? I tried pressing `Enter` but the read did not close.

[2017-10-19 12:17] deads2k commented on #53828
I would not re-use an existing cert.  Instead I would make an `--admission-kubeconfig` which matches `--authentication-kubeconfig` and `--authorization-kubeconfig` for the genericapiserver.   This kubeconfig file would contain whatever authentication and trust information was required.  For the kube-apiserver, I would recommend (but not require) creating a client certificate signed by the `--clien

[2017-10-19 12:30] php-coder commented on #54200
Yes, I forgot to mention that you should use `Ctrl+D` to quit :)

[2017-10-19 12:41] hzxuzhonghu commented on #54227
/area test-infra

[2017-10-19 12:42] hzxuzhonghu commented on #54227
/sig testing

[2017-10-19 12:47] cvieri opened #54231 "PVC stuck in pending w/o any error"
BUG REPORT
/sig storage

PVC is stuck in pending state after configuring pvc+rbd

Expected to have any meaningful message

[code]

[code]

[code]

I am using kubeadm and

[code]

[2017-10-19 13:15] dims commented on #54076
/area platform/gce

[2017-10-19 13:15] dims commented on #54186
/area platform/gce

[2017-10-19 13:15] dims commented on #54187
/area platform/gce

[2017-10-19 13:16] dims commented on #45594
/area platform/gce

[2017-10-19 13:18] dims commented on #53603
/area platform/gce

[2017-10-19 13:39] jeremyeder commented on #52031
@derekwaynecarr

[2017-10-19 13:41] wackxu commented on #54213
I think the doc is a little confused. From code
https://github.com/kubernetes/kubernetes/blob/release-1.8/pkg/api/validation/validation.go#L2199, it should be  `Each named port in a container of pod must have a unique name`

[2017-10-19 13:47] dims commented on #54168
/sig testing

[2017-10-19 13:50] #53826 closed

[2017-10-19 13:50] #53438 closed

[2017-10-19 14:05] fasaxc commented on #53393
@cmluciano I'm not familiar enough with that mode to know.  Calico only works with iptables mode  (until our IPVS compatibility changes are merged) so that's what we test with.

[2017-10-19 14:14] lichuqiang opened #54236 "ErrorHandlers may got block if time jumps back to the past"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
in func OnError() of ErrorHandlers in apimachinery
[code]
it is expected to go on sleep for some time if not meet the minPeriod. However, if time happens hops to the past in the process. `d := time.Since(r.lastErrorTime)` would be a negative number, thus, it may sleep a lot longer than we expected.

**What you expected t

[2017-10-19 14:15] lichuqiang commented on #54236
/sig apimachinery

[2017-10-19 14:16] lichuqiang commented on #54236
/sig api-machinery

[2017-10-19 14:32] porridge opened #54238 "cluster/gce uses deprecated gcloud parameter "mode""
/kind bug

**What happened**:

Warning printed by `e2e-up.sh`: `WARNING: mode is deprecated. Please use subnet-mode instead.`

**What you expected to happen**:

No warning.

**How to reproduce it (as minimally and precisely as possible)**:

`kubetest -v --up`

**Anything else we need to know?**:

This is my first e2e cluster. Logs with more context below.

**Environment**:
- Kubernetes version (us

[2017-10-19 14:33] porridge commented on #54238
@kubernetes/sig-testing-bugs

[2017-10-19 14:40] deads2k commented on #54075
@JosephSalisbury sounds like everyone agrees it would be fine to do, but that it's likely to be a lot of work and we're not prepared to do it ourselves.  If you want to undertake the effort, I'd suggest starting with converting just a few exemplar packages and having one (or more) of us four look at your approach before tackling the entire codebase.

[2017-10-19 14:52] fgrzadkowski commented on #54170
@shyamjvs metric service should be always created, as it's used by HPA. During our discussion I thought you have heapster and metric server running at the same time even though you set `KUBE_ENABLE_CLUSTER_MONITORING=none`. Is it the case? Do you have heapster running?

[2017-10-19 15:06] djsly commented on #53726
@liggitt any way we can disable the mounting of the default service account by defualt at the cluster level ? instead of having to specify `automountServiceAccountToken: false` in ALL manifest ?
Thanks!

[2017-10-19 15:09] porridge opened #54240 "Support SSH agent for the e2e test with GCE provider"
/kind feature

**What happened**:

Judging by the folllowing output, currently the e2e test using GCE provider requires access to an unencrypted private SSH key. This is not great from security perspective.

[code]

**What you expected to happen**:

The test should just use the key loaded in my ssh-agent.

**How to reproduce it (as minimally and precisely as possible)**:

`kubetest -v --test`

**A

[2017-10-19 15:15] porridge commented on #54240
@kubernetes/sig-testing-feature-requests

[2017-10-19 15:18] ihmccreery commented on #52818
/sig api-machinery
/sig node

[2017-10-19 15:20] liggitt commented on #53726
You can set it on the service account instead of each individual pod/deployment/rc/rs manifest. The automount behavior is not configurable cluster-wide.

[2017-10-19 15:22] porridge commented on #54240
I can see plans to get rid of this SSH transport altogether for tests (#20919) but this sounds like a relatively distant goal, so I'll take a stab at adding agent support in the short term.

[2017-10-19 15:23] crandles commented on #32987
I just hit this error in 1.7.x as well, was able to resolve by restarting the apiserver

[2017-10-19 15:24] cmluciano commented on #54220
@kubernetes/sig-cluster-lifecycle-bugs

[2017-10-19 15:27] cmluciano commented on #54203
@kubernetes/sig-network-feature-requests

[2017-10-19 15:27] shyamjvs commented on #54170
As I mentioned offline:
- There is no heapster running when `KUBE_ENABLE_CLUSTER_MONITORING=none`. I was expecting the same would be the case for metrics-server also (as its doing a part of the work heapster was earlier doing).
- From the [config-test.sh](https://github.com/kubernetes/kubernetes/blob/5563fbfbe133844f261f3ee21704874e8ea8f8f0/cluster/gce/config-test.sh#L132-L137) file I'm seeing mod

[2017-10-19 15:32] cmluciano commented on #54179
@kubernetes/sig-cluster-lifecycle-bugs

[2017-10-19 15:33] cmluciano commented on #54180
@kubernetes/sig-cluster-lifecycle-bugs

[2017-10-19 15:39] fgrzadkowski commented on #54170
I believe the correct behavior should be:

* for 1.8 - always run metric-server (for HPA to work); run heapster only
if KUBE_ENABLE_CLUSTER_MONITORING is set to something
* for 1.7 - always run heapster (for HPA to work), but with potentially
different configuration

--
Filip

On Thu, Oct 19, 2017 at 5:28 PM, Shyam JVS <notifications@github.com> wrote:

[2017-10-19 15:56] yujuhong commented on #53016
Me neither, but re-assigning the bug to you for now since I don't know how to recreate the test environment and track file deletions. :-)

[2017-10-19 16:00] pwittrock commented on #53735
cc @seans3 @mengqiy

[2017-10-19 16:04] pwittrock commented on #52050
@mml Thanks.  I don't think we have bandwidth to support zsh right now unless some zsh user wants to tackle this.  Closing for now, feel free to reopen in 6 months.

[2017-10-19 16:04] #52050 closed

[2017-10-19 16:05] #51353 closed

[2017-10-19 16:06] pwittrock commented on #51353
@mengqiy closing this since you filed a PR for it

[2017-10-19 16:38] djsly commented on #53726
@liggitt :Thanks for the prompt reply, actually I'm having issues with the default service account that is being automounted, anyways to configure it for `this` particular service account ? since we don't control its creation.

[2017-10-19 16:45] tamalsaha commented on #54200
:) It worked after ctrl + D. I even tried with multiple keys.

I think one issue still remains in that I don't know in what order the keys are read by kubectl. A common scenario is creating AWS credentials. If kubectl can promt back the secret, that will make things bit nicer.

[2017-10-19 17:16] dims commented on #54240
/area platform/gce

[2017-10-19 17:17] dims commented on #20919
/area platform/gce

[2017-10-19 17:28] luxas commented on #54129
The problem is that ssh isn't installed inside of the container. I don't know if it should be either, as the hyperkube image grows so large. If you install the openssh-client, it should work

[2017-10-19 17:34] stevekuznetsov opened #54247 "kubelet: lifecycle hooks can't write to termination message file"
**What happened**:
I wrote a `preStop` hook and wanted to see the output of it, even if it succeeded. I therefore set the `pod.spec.containers.terminationMessagePath` to a file and wrote to that file in the hook.

**What you expected to happen**:
I expected what I wrote to the file to be exposed in the pod status message once it terminated.

**How to reproduce it (as minimally and precisely as pos

[2017-10-19 17:35] luxas commented on #49480
@yujuhong The last time we did this upgrade, there were some incompability that made things start failing on the wrong CNI / CRI skew. Not sure if that's gonna happen again / if that's the case this time, but pinging for visibility. I think it would be good if we had one version as the officially recommended and validated, and upgraded our projects living in the k8s repo as part of the effort.

[2017-10-19 17:35] stevekuznetsov commented on #54247
Alternatively @vishh @kargakis we need a way to see the output of hooks even if they don't fail. Otherwise using them is pretty frustrating.

[2017-10-19 17:37] imkin commented on #54129
@luxas Yes I did identify that as the problem if you see the desription I mentioned. I pointed to a git commit that might have caused this.
I am not sure what package installation has changed in the hyperkube container. "ssh" used to be available and now it is not. For the gitrepo feature to work it should be available.

[2017-10-19 17:41] nicksardo commented on #53886
I'm guessing that even though sessionAffinity for the backend service is routing your browsers traffic to the same machine, the remote address of the connections may be different. The K8s sessionAffinity doesn't look at the x-forward-for address - only the inconstant proxy address.

This isn't a websocket-specific issue though. If you ran a normal socket.io web page that occasionally polled the se

[2017-10-19 17:42] enisoc commented on #54095
Reopening to continue tracking this particular test, because it's the top of the flakes chart:

http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1

Are there any workaround we can do on just this test while #50690 is still in progress?

[2017-10-19 17:44] luxas commented on #54129
Ah okay. If it was there before, we might want to add it back. SGTM.

[2017-10-19 17:46] KeithTt commented on #48759
meet the same problem =.=

[code]

[2017-10-19 17:55] #53827 closed

[2017-10-19 17:56] caesarxuchao commented on #49030
The failure policy field is removed in 1.8 (https://github.com/kubernetes/kubernetes/pull/51300). Slow-to-initialize objects are not deleted.

Closing the issue since the field doesn't exist anymore.

[2017-10-19 17:56] #49030 closed

[2017-10-19 17:56] julianvmodesto commented on #43886
Regarding `diff-last-applied`, should we prefer `kubectl apply diff-last-applied` instead of `kubectl apply --dry-run`? i.e. will `diff-last-applied` show the complete 3-way calculation and patch? I guess this is pending current refactors to `kubectl apply`, but there's a problem where `kubectl apply --dry-run` doesn't always reflect what will actually happen on `kubectl apply`.

For example, in h

[2017-10-19 17:58] luxas commented on #54118
Please reopen this in kubernetes/kubeadm so the right team can track it (the kubeadm team)
Also, if you want to reach most of the kubeadm devs on Slack, ping the #sig-cluster-lifecycle channel.

Thanks for the notification!

[2017-10-19 17:58] #54118 closed

[2017-10-19 18:02] ixdy commented on #54129
Yeah, I switched the hyperkube image base from `debian` to our `debian-base` with some additional dependencies added back. Apparently due to lack of volume + hyperkube test coverage, I've missed a number of dependencies needed.

cc @tallclair @rphillips

[2017-10-19 18:03] caesarxuchao commented on #53828
Sorry, I meant to ask what CA to reuse, not cert. Updated.

Other than supporting multiple authentication methods, do we need the kubecofig for other reasons?

[2017-10-19 18:07] paultiplady commented on #19317
I'm hitting this issue on v1.6.10-gke.1. Looks like a regression. Manually deleting the finalizer fixed the problem. Here's a dump of my NS data;

[code]

[2017-10-19 18:16] ixdy commented on #54238
This is probably an issue in the `cluster/gce` scripts. @kubernetes/sig-gcp-bugs

[2017-10-19 18:25] sttts commented on #54095
A test runner which launches new processes or a better shutdown or we disable the test. I don't see any other solution. #50690 tried to go the second route, but hit resistance.

[2017-10-19 18:27] medinatiger commented on #54179
All all failure are claiming the kube-dns pod is not ready. By searching the commit diff between red and green, there is two dns related commit.
https://github.com/kubernetes/kubernetes/commit/786f460092f69d0128840fa0931992dbace94178
https://github.com/kubernetes/kubernetes/commit/e6540d422b22983b37380ed18ac337a4ef46acea

@StevenACoffman, could you please take a look if they are related?

[2017-10-19 18:29] jiayingz commented on #53395
Our current suggestion is to drain node before any maintenance work. It would be great that we verify the possible upgrade/maintenance processes and document them during alpha phase.

[2017-10-19 18:40] luxas commented on #44518
@jimmycuadra Can this be reproduced with v1.8?

[2017-10-19 18:43] dims commented on #54129
@luxas @imkin we could use dropbear as a replacement for just the ssh client?

https://gist.github.com/Schiznitz/03ece08708b822cd5e139548c09b6292
http://tumblelog.jauderho.com/post/151678345/using-dropbear-with-git

[2017-10-19 18:44] #53803 closed

[2017-10-19 18:45] luxas commented on #22770
I'm closing this as this feature has been around for quite some time now.

[2017-10-19 18:45] #22770 closed

[2017-10-19 18:46] mindprince commented on #54205
/cc @kubernetes/sig-cli-bugs

[2017-10-19 18:47] euank commented on #54129
I would prefer to use the openssh client over the dropbear client. It has wider usage and a stronger security track record IMO.

Saving a couple MB isn't worth using worse utilities, however much fun "dockerfile-golfing" is.

[2017-10-19 18:51] luxas commented on #53341
@dims can this be closed now?

[2017-10-19 18:51] medinatiger commented on #54179
OK. The commits seems to be reverted. https://github.com/kubernetes/kubernetes/commit/ea07264251661eed115973df147029a6226eae47

[2017-10-19 18:53] luxas commented on #49213
@dims @shashidharatd @jamiehannaford  ^

[2017-10-19 18:55] dims commented on #53341
yes. thanks @luxas

[2017-10-19 18:55] dims commented on #53341
/close

[2017-10-19 18:55] #53341 closed

[2017-10-19 19:01] ixdy commented on #54129
https://github.com/kubernetes/kubernetes/pull/54250 to fix

[2017-10-19 19:03] enisoc commented on #49480
@luxas Is your main concern that this may cause our CI jobs to break? Or is it that we will unknowingly break users who set up components with different versions than the exact combination we test?

[2017-10-19 19:11] leblancd opened #54252 "Kubeadm init should check that kubelet's cluster-dns config matches kubeadm's service-cidr"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig network

**What happened**:
When you install kubeadm, it comes with a kubeadm config file (e.g. /etc/systemd/system/kubelet.service.d/10-kubeadm.conf on CentOS/RHEL) that has a default cluster-dns setting of 10.96.0.10.

If you then run kubeadm init with a --service-cidr (or networking:serviceSubnet setting in a kubeadm config file)

[2017-10-19 19:23] StevenACoffman commented on #40973
So this is biting us with some regularity, so I assume there is a recommended workaround. Any tips?

It is sometimes problematic to override environment variables in pod definitions as an IP address is expected by some things:
[code]
I'm wondering if the IP address is available somewhere else? Downward API volume file?
Also, it would be great if there was some way to make the env override conditio

[2017-10-19 19:42] alapidas opened #54254 "1.7 audit policy format still valid in 1.8"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The [1.7 audit policy file format](https://github.com/kubernetes/website/blob/release-1.7/docs/tasks/debug-application-cluster/audit.md#audit-policy) is different than the [1.8 format](https://github.com/kubernetes/website/blob/release-1.8/docs/tasks/debug-application-cluster/audit.md#audit-policy).  The 1.8 docs say spe

[2017-10-19 19:45] jamiehannaford commented on #49213
@urzds I'm not sure about official recommendation by K8s/CNCF, but my team has had a lot of success with CoreOS's [tectonic-installer](https://github.com/coreos/tectonic-installer). I believe [Kubespray](https://github.com/kubernetes-incubator/kubespray) also supports OpenStack. There are a lot of different provisioning tools out there, so it really depends on the technologies you're most familiar

[2017-10-19 19:46] alapidas commented on #54254
@kubernetes/sig-instrumentation

[2017-10-19 19:46] grodrigues3 opened #54256 "Umbrella Issue: Conformance"
/kind enhancement

This morning, K8s.io announced a new conformance program.  Tests for each of the sig should be delineated conformance tests using by marking them with `[Conformance]` as described [here](https://github.com/cncf/k8s-conformance/blob/master/instructions.md).

This issue will serve to track each of the sig's participation in marking their tests.

- [ ] API Machinery
- [ ] Apps
- [

[2017-10-19 19:48] grodrigues3 commented on #54256
/sig pm

[2017-10-19 19:49] MrHohn commented on #54183
/assign

[2017-10-19 19:54] crassirostris commented on #54254
/sig auth
/sig instrumentation

/cc @sttts @CaoShuFeng @ericchiang

[2017-10-19 20:00] stevekuznetsov commented on #40973
We worked around this by polling until the `kubernetes` service in namespace `default` was up and running before launching our pods.

[2017-10-19 20:12] boonyasukd commented on #42926
Now that Docker Enterprise announced Kubernetes as [an officially supported orchestration platform](https://blog.docker.com/2017/10/docker-enterprise-edition-kubernetes/) besides Swarm, wouldn't it mean it's in the best interest of Docker Inc. to work on test suites & regression tests to ensure smooth integration as well? I presume Docker Inc. and/or their Enterprise customers will probably want t

[2017-10-19 20:20] juliohm1978 commented on #48924
Just tested a Kubespray upgrade to k8s **1.8.1** and the warning has gone away. The new hyperkube image no longer displays these messages.

[2017-10-19 20:22] yujuhong commented on #49480
CRI made some assumptions that older CNI plugins do no comply. Hopefully this should not be the case anymore.

Thanks for bringing this to everyone's awareness!

I am not sure if we should have an "officially recommended" CNI version since we delegate networking to the container runtime. The runtimes may use different plugins if they want, theoretically, as long as they validate their integration

[2017-10-19 20:26] mbohlool commented on #53828
cc @lavalamp

[2017-10-19 20:30] mbohlool commented on #53893
cc @caesarxuchao

[2017-10-19 20:31] mbohlool commented on #53959
cc @lavalamp

[2017-10-19 20:33] mbohlool commented on #53990
cc @cheftako

[2017-10-19 20:34] bsalamat commented on #53908
I [asked the question](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/kubernetes-sig-architecture/ChUdPeemvWg) of whether we can use the pod condition or status message to put a JSON formatted message from sig-architecture and the answer is no. We are also told not to use annotations for this purpose. Looks like the recommended way to add a new field to PodStatus and pu

[2017-10-19 20:35] lavalamp commented on #53888
Are we using random numbers at a high enough rate that there is actually contention now that the random string function has been fixed?

[2017-10-19 20:36] lavalamp commented on #54084
Have you looked at the garbage collector? I believe it has a rest mapper that does this.

[2017-10-19 20:39] mbohlool commented on #54104
cc @caesarxuchao

[2017-10-19 20:40] lavalamp commented on #54138
Does it also go down if you restart the master node's kubelet?

[2017-10-19 20:41] lavalamp commented on #54138
Are there any common errors showing up in the apiserver log?

Typically this is caused by a client failing to completely read the contents of a response, preventing the go http library from reusing the connection.

[2017-10-19 20:43] grodrigues3 commented on #54256
/sig architecture

[2017-10-19 20:44] mbohlool commented on #54130
cc @yliaog

[2017-10-19 20:44] lavalamp commented on #54130
Dup of #54236?

[2017-10-19 20:44] shyamjvs commented on #53888
It definitely was a high enough rate that we observed for scheduler. Difference we saw with the change - https://github.com/kubernetes/kubernetes/issues/53327#issuecomment-336827898. And result of benchmarking - https://github.com/kubernetes/kubernetes/pull/53720#issuecomment-336427219. However, I'm not really sure how much of a problem this is elsewhere (for e.g in storage.NameGenerator).

[2017-10-19 20:47] lavalamp commented on #54138
cc @cheftako has fixed a similar bug in the past.

[2017-10-19 20:48] lavalamp commented on #54138
cc @jpbetz that looks like a lot of connections to etcd?

[2017-10-19 20:50] lavalamp commented on #54159
I don't understand the description, can you expand a bit?

[2017-10-19 20:50] mbohlool commented on #54159
cc @caesarxuchao

[2017-10-19 20:51] mbohlool commented on #54217
cc @jpbetz

[2017-10-19 20:53] mbohlool commented on #54228
cc @caesarxuchao

[2017-10-19 20:53] jiayingz commented on #54100
This is actually a new test failure caused by the changed behavior, not the flaky failure I saw before with TestDevicePluginReRegistration.

Here is the failure message with the failed unit test:
I1017 22:03:15.818373    3344 device_plugin_handler.go:168] needs 1 domain2.com/resource2
Alloc device "dev4" for resource "domain2.com/resource2"
--- FAIL: TestPodContainerDeviceAllocation (0.01s)
	<auto

[2017-10-19 20:57] deads2k commented on #53990
This probably fits better for @kubernetes/sig-auth-misc .  Having separate certificates ensures that a client acting as a front proxy (request header) never accidentally gets terminated as a direct client for the request being made.  It also makes sure there are discount identities for front proxies and direct API clients.  If they use the same CA, there is a risk of using one as the other that do

[2017-10-19 21:07] yujuhong commented on #42926
I'd love to see the community pick up the work validating Docker RCs and report issues. I think that's orthogonal to validating Docker (in kubernetes) against a fixed API version (#53221).

I have no clue how Docker plans to validate Kubernetes releases. Perhaps @cpuguy83 can provide some insight?

[2017-10-19 21:08] smarterclayton commented on #54247
Did you try to write to /dev/stdout?

Not sure if that will work in a prestop

I expected the write to work, it's possible we're gathering the termination
message too early.

On Oct 19, 2017, at 7:35 PM, Steve Kuznetsov <notifications@github.com>
wrote:

Alternatively @vishh <https://github.com/vishh> @kargakis
<https://github.com/kargakis> we need a way to see the output of hooks even
if they don

[2017-10-19 21:12] deads2k commented on #53959
I don't think that these repos are ready for a meaningful API compatibility statement between releases (honestly, every release of client-go is a major version).  We know more core changes are coming as we look at admission webhooks this release.

A change log based on a subset of PRs from kubernetes could be useful.

[2017-10-19 21:15] yliaog commented on #54236
adding a check on whether d is < 0 should fix it, no? if d < 0, simply don't sleep.

[2017-10-19 21:34] ilyalukyanov commented on #45976
I posted my findings in another issue which seems to be about the same problem (at least related) - https://github.com/kubernetes/kubernetes/issues/47142

I'd like to also share them here to contribute to the discussion.

In my case `dnsPolicy: Default` also helped, which is expected since dnsmasq is no longer being used for DNS, which seems to be the offender.

I explored logs and found something

[2017-10-19 21:47] krmayankk opened #54263 "StatefulSet pod stuck in ContainerCreating because"
**What happened**:
 - Create a StatefulSet with RBD Volume using dynamic provisioning.
 - Make sure all pods came up fine and the rbd volumes are attached
 - delete a pod
 - the Pod goes to Terminating state and stays there for a long time. 10 minutes or more
 - Eventually the Pod goes away from Terminating to ContainerCreating state
 - Sometimes i have seen the pod remains in Terminating state fo

[2017-10-19 21:47] krmayankk commented on #54263
/sig storage
/kind bug

[2017-10-19 21:48] krmayankk commented on #54263
@kubernetes/sig-storage-bugs

[2017-10-19 21:49] jingxu97 commented on #45688
ref https://github.com/kubernetes/kubernetes/issues/51835

[2017-10-19 21:51] krmayankk commented on #54263
@rootfs

[2017-10-19 21:56] yliaog commented on #54130
Yes, Go 1.9 [Transparent Monotonic Time support](https://golang.org/doc/go1.9#monotonic-time) should fix it.

In the meantime, a quick fix is to add a timeout to the Wait. i.e. instead of using [Wait](https://github.com/kubernetes/kubernetes/blob/6ddaee5ed12f0a6ad3eca2ea3ef679180cc1d348/vendor/github.com/juju/ratelimit/ratelimit.go#L141), use [WaitMaxDuration](https://github.com/kubernetes/kuberne

[2017-10-19 21:56] jingxu97 commented on #54263
@krmayankk do you still have the master controller log so that we can take a look at it?

[2017-10-19 21:57] jingxu97 commented on #48968
@wawastein it would be easier to debug with controller master log. Do you mind to share the log with us?

[2017-10-19 22:05] lavalamp commented on #53828
I am not convinced? The client CA is for clients of apiserver to prove their identity. the proxy CA is for when the apiserver itself is the client and needs to prove its identity.

[2017-10-19 22:06] lavalamp commented on #53959
I agree we need to think about versioning these. Practically speaking, I don't think we're ready to make a lot of promises yet. But a changelog and keeping sample apiserver up to date seem like reasonable things we can do.

[2017-10-19 22:06] lagrianitis commented on #40245
Hello,
I have the exact same issue using statefulset Volume claims.

[2017-10-19 22:07] lavalamp commented on #53828
Please link to where the intended purpose of these certs is documented?

[2017-10-19 22:21] theobolo commented on #43516
Hi guys, i'm facing the same problem since 3 hours on my 3 clusters, witch are not OOM or CPU stressed. It happend at the same time on my three different clusters, i'm running on Azure too, using the last ACS master branch with K8S 1.7.5.

Cluster 1 (Utilities) :
![image](https://user-images.githubusercontent.com/7281773/31796899-dc3f980e-b52b-11e7-8a21-5c94dd8c61ef.png)

Cluster 2 (Staging) :

![

[2017-10-19 22:29] jimmycuadra commented on #44518
Trying it again. The pod has been running for an hour so far without the problem coming up. This is on k8s 1.8.1. I'll report back if I see it recur in the next few hours/days.

[2017-10-19 22:52] yujuhong commented on #43783
/cc @krzyzacy, who ran into this problem recently.

[2017-10-19 23:01] krzyzacy commented on #43783
Thanks! xref https://github.com/kubernetes/test-infra/issues/4892#issuecomment-337113390

[2017-10-19 23:12] caesarxuchao commented on #54228
The "failurePolicy" field is remove from initializer configuration in 1.8.0, https://github.com/kubernetes/kubernetes/blob/v1.8.0/staging/src/k8s.io/api/admissionregistration/v1alpha1/types.go#L62-L75.

[2017-10-19 23:24] krmayankk commented on #54263
@jingxu97 it is easy to repro for me. I dont see anything interesting at log level 2. Are you iinterested in pv controller logs ? Do you have a log level in mind ?

[2017-10-19 23:27] #33726 closed

[2017-10-19 23:27] #53413 closed

[2017-10-19 23:28] rootfs commented on #54263
/assign

[2017-10-19 23:40] mbohlool opened #54265 "OpenAPI spec missing body parameter for PUT/POST proxy calls"
Some of the proxy/connect calls like PUT, PATCH, POST, DELETE has no body parameter. This make calling those connect/proxy calls impossible in generated clients. Look at https://github.com/kubernetes-incubator/client-python/issues/325

/kind bug

[2017-10-19 23:47] Vorian-Atreides commented on #23144
I have this problem too and it isn't related to mounting a secret.

It's basically when using a different directory for /var/lib/docker as you can see in @huggsboson message:

As additional information:

[code]
where all those resolv.conf exist.

In the instance side, kubelet keep trying to create the pod.

[code]

[code]

[2017-10-19 23:48] rootfs commented on #54263
@krmayankk it looks to me your kubelet is running with cAdvisor. Can you disable it? i.e. use `--cadvisor-port=0` kubelet option

[2017-10-19 23:49] mbohlool commented on #54265
@kubernetes/sig-api-machinery-bugs

[2017-10-19 23:50] #53302 closed

[2017-10-20 00:00] ericchiang commented on #54254
Tested locally an can confirm that the audit policy doesn't require an apiVersion and kind. I must have messed up my initial report when I thought I hit this issue.

I think we still want to encourage users to pick an apiVersion explicitly though so I'm not super worried about the release note, though it's unfortunate that isn't inaccurate.

Should we modify the release notes post hoc?

[2017-10-20 00:04] deads2k commented on #53828
The `--request-client-ca-file` signed clientcert is used when a client wants to assert that a request is being made a different subject (request-header auth from here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/options/authentication.go#L59-L61).

The `--client-ca-file` signed clientcert is used when a client wants to make a request as the client i

[2017-10-20 00:04] liggitt commented on #54254
can soften language to "may be treated as invalid", but I agree it should be required. I'd fix it in master

[2017-10-20 00:32] guangxuli commented on #52172
/cc

[2017-10-20 00:58] enisoc opened #54269 "Subresource for metadata"
This is a tracker to consider the idea of a subresource for object metadata. In particular, for Secrets, you may want to grant a controller permission to read/edit metadata without granting access to the data.

Forked from https://github.com/kubernetes/community/pull/1163/files#r143342579:

@smarterclayton wrote:

@bgrant0607 wrote:

[2017-10-20 01:26] #53894 closed

[2017-10-20 01:44] xialonglee commented on #54130
@lavalamp
no,these problem are under different code and maybe are different mechanism.

[2017-10-20 01:46] xialonglee commented on #54130
@bruceauyeung @yliaog
I would try build `kubelet` with Go 1.9 later, thx!

[2017-10-20 01:48] dixudx commented on #54252
/assign

/kind bug

[2017-10-20 01:53] #54137 closed

[2017-10-20 01:57] CaoShuFeng commented on #54254
@alapidas
Thanks very much for pointing this out.

When I made [this](https://github.com/kubernetes/kubernetes/pull/49115#pullrequestreview-54029500) pull request, I found that without Kind and Apiversion, we can load 0 policy, even there are some policies in the file.
So, I said:
`In Kubernetes 1.8 kind and apiVersion along with rules must be provided in the audit policy`

But today, I tested the

[2017-10-20 02:02] liggitt commented on #54254
I'm not sure I consider that an improvement… it's likely to lead to undefined behavior if we load policy files and interpret them without knowing what version they are

[2017-10-20 02:07] StevenACoffman commented on #54179
@medinatiger the current implementation of pod anti-affinity has very poor performance that makes it unsuitable for critical system use in large clusters. However, unless your test was on such a large cluster, you may want to examine those tests more closely for brittleness.

[2017-10-20 02:23] zjj2wry commented on #54212
Are you working for kubectl set command? if not start, i can help for this~

[2017-10-20 02:34] reverson commented on #52757
/cc

[2017-10-20 03:03] mikesparr commented on #49546
I had the "unhealthy" warnings and kept trying different configs, only to learn that this appears for 10-20 minutes after a deployment, and then resolves to `OK`.

 * https://www.linkedin.com/pulse/automating-tls-name-based-hosting-kubernetes-google-cloud-mike-sparr/

I shared findings in blog post. I used `kube-lego` for SSL provisioning and settled on `gce` class but I'm sure `nginx` would work

[2017-10-20 03:07] mikesparr commented on #49546
I too see these errors however, and not related to SSL (I think). I'm tracing code in a container running Apache/PHP5.6 and trying to make `nusoap` calls to a 3rd-party web service. When it hits that code, the app crashes and I see this:

![screenshot_2017-10-19_21_04_05](https://user-images.githubusercontent.com/5553105/31803489-4621eb48-b511-11e7-94e0-6b6b054cbcc0.png)

Unfortunately even after

[2017-10-20 03:09] CaoShuFeng commented on #54254
OK.
I used "git bisect" and find out this begins to happen after pull request #48287

[2017-10-20 03:17] weiwei04 commented on #51430
So the expected behavior here is:

if the default is set and max is unset, we set container.Resource.Limit = default iff resource.Request <= default, otherwise we left container.Resource.Limint unset, am I getting this right?

@derekwaynecarr

[2017-10-20 03:31] stevekuznetsov commented on #54247
Using:

[code]

[code]

[2017-10-20 03:32] stevekuznetsov commented on #54247
Unless you meant to use `/dev/stdout` as the termination message path...

[code]

[code]

[2017-10-20 03:34] caesarxuchao opened #54276 "podAffinityTerm.topologyKey is required"
The field is marked as optional:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L2414

The comment also describes a use case for empty topologykey:
https://github.com/kubernetes/kubernetes/blame/master/staging/src/k8s.io/api/core/v1/types.go#L2410

But the validation rule says it's required:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/

[2017-10-20 03:35] caesarxuchao commented on #54276
cc @kubernetes/sig-scheduling-bugs

[2017-10-20 03:41] caesarxuchao commented on #54276
cc @aveshagarwal

The validation rule is added by https://github.com/kubernetes/kubernetes/pull/49976

[2017-10-20 03:44] caesarxuchao commented on #54276
@aveshagarwal the release note of 49976 should go into the "action-required" section of the [1.8 changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.8.md), but it's currently in "Other notable changes".

[2017-10-20 03:44] caesarxuchao commented on #54276
/assign @aveshagarwal

[2017-10-20 03:59] andrewsykim commented on #53451
Correct me if I'm wrong here, worth mentioning that this also applies to kube-controller-manager.

[2017-10-20 04:01] jhorwit2 commented on #53451
Yup! It is the same code. Ill update the description/title when im at my laptop.

[2017-10-20 04:03] andrewsykim commented on #53473
I definitely agree! This also applies to kube-controller-manager. I think we need to do a better job in general when it comes to documenting small implementation details like this that can affect cluster behaviour in this way.

[2017-10-20 04:22] ilyalukyanov commented on #45976
Replacing Kube-DNS with CoreDNS resulted in the same bahaviour... Looks like the issue isn't with DNS servers. The issue must be higher up in the Kubernetes DNS middleware.

[2017-10-20 04:24] ilyalukyanov commented on #47142
After trying with CoreDNS in place of Kube-DNS the behaviour is exactly the same so now it doesn't look to me that the problem is in dnsmasq. Does anybody have any idea on what that might be?

[2017-10-20 05:03] bowei commented on #47142
check the metrics counters on kube-dns. What is your DNS QPS?

[2017-10-20 05:04] dixudx commented on #54231
@cvieri Describing PVC, the storageclass is `fast` instead of `slow`. Please check your settings.

Also this event issue has been fixed by @jsafrane in PR #53322.

[2017-10-20 05:41] ilyalukyanov commented on #47142
@bowei Thanks for your response.

Could you please advise what's the best way to get those counters?

I'm not sure what the QPS is, I set Google DNS as upstream servers. I didn't find them sharing the exact value, but I expect it to be pretty high. At least higher than my cluster should generate: it's not serving any production traffic and only has two pods hosting web apps. It's being used by may

[2017-10-20 05:42] bgrant0607 commented on #53908
Comments from the email thread:

The scheduler can observe symptoms, but can't actually determine the underlying cause or the remedy, such as:

* Is there an unexpected taint on the nodes?
* Is there a bogus constraint on the pod?
* Would the pod fit if the resource request were reduced?
* Should the resource requests of other pods be reduced to more accurately reflect their usage?
* Does Node All

[2017-10-20 05:42] bowei commented on #47142
Take a look at the metrics section of this https://github.com/kubernetes/perf-tests/blob/master/dns/README.md

[2017-10-20 06:02] krmayankk commented on #19317
i am seeing the same on 1.7.4 as well. Is the root cause the presence of tpr resources ?

[2017-10-20 06:03] #54122 closed

[2017-10-20 06:16] shraderdm commented on #46839
I am having the exact same issue as OP, including the ? ? ?????'s in the ls output. Any updates on this yet?

[2017-10-20 06:24] wojtek-t commented on #53888
That shouldn't be that big deal. This is only running for "create" api calls and we can't have that many of those (I'm pretty sure we will have other problems before).

[2017-10-20 06:31] guangxuli commented on #54276
@aveshagarwal It seems that we should also update the external api type comments. Right?

[2017-10-20 06:45] shiywang commented on #54212
@zjj2wry np, I will only cut `create` dependency.

[2017-10-20 07:02] nikox94 commented on #35637
Hey! :)

A small status update:
It seems that relevant code is [here](https://github.com/kubernetes/kubernetes/tree/master/federation/pkg/dnsprovider/providers/aws/route53) and [here](https://github.com/kubernetes/kubernetes/tree/master/federation/pkg/federation-controller/service/dns).

I have only glanced at the code and am also still trying to understand the use-cases as I am new to the project

[2017-10-20 07:02] shun-miyoshi-com commented on #54194
@kubernetes/sig-cli-bugs

[2017-10-20 07:04] nikox94 commented on #35637
Also could you please assign the issue to me. Thank you!

[2017-10-20 07:37] ReSearchITEng opened #54281 "live capacity (cpu/mem) increases are not noticed by k8s automatically"
**Is this a BUG REPORT **:
/kind bug

**What happened**:
Hi all,
On k8s 1.7.8, increasing the amount of mem (planning cpu also) of the machine (live), does not trigger k8s see the increase automatically.

**What you expected to happen**:
automatically see the change (or in a reasonable time frame)

**How to reproduce it (as minimally and precisely as possible)**:
have a k8s cluster up with 1.7.8,

[2017-10-20 08:16] #48221 closed

[2017-10-20 08:17] #48372 closed

[2017-10-20 08:17] #48990 closed

[2017-10-20 08:17] #49002 closed

[2017-10-20 08:17] #49003 closed

[2017-10-20 08:18] #49151 closed

[2017-10-20 08:18] #49152 closed

[2017-10-20 08:18] #49154 closed

[2017-10-20 08:18] #49241 closed

[2017-10-20 08:18] #49242 closed

[2017-10-20 08:18] #49244 closed

[2017-10-20 08:24] luxas commented on #54256
cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-10-20 08:26] luxas commented on #54217
Duplicate of https://github.com/kubernetes/kubernetes/issues/53485

[2017-10-20 08:26] #54217 closed

[2017-10-20 08:28] luxas commented on #54161
I think we can remove it way faster than that (already in v1.9?) as it never left alpha and v1.6 removed the need for the flag.
cc @kubernetes/sig-autoscaling-bugs

[2017-10-20 08:31] luxas commented on #54090
@resouer Can you fix this in v1.9 please?

[2017-10-20 08:38] hzxuzhonghu opened #54286 "audit backend should start before http server start and use preShutdown hook"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

1.  audit backend run after http server start [https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go#L289-L310](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go#L289-L310)

2.  as PR #53821 introduced preShutdo

[2017-10-20 08:40] k82cn commented on #54281
/sig node

[2017-10-20 08:45] petergardfjall commented on #43516
I'm seeing the same behavior as we speak. I have a cluster of four nodes with about 20 pods (running Kuberntes `v1.6.4+coreos.0` in Azure, North Europe), which has been running fine for a few months.

For the last few hours, however, nodes appear flaky, being marked `NotReady` for a few seconds before being `Ready` again, pods being restarted, etc.

Could this be some cloud-provider networking iss

[2017-10-20 08:47] luxas commented on #53637
Hi!

Thank you for filing this issue. We appreciate your interest in Kubernetes and kubeadm.
In order to make the kubernetes/kubernetes issue tracker more usable, we're routing issues to different repositories with different focuses.

I think this issue belongs in the kubeadm repository. Please move this issue to the [kubeadm repo tracker](https://github.com/kubernetes/kubeadm/issues) in order for

[2017-10-20 08:47] #53637 closed

[2017-10-20 08:50] luxas commented on #37844
v1.5 isn't supported anymore. kubeadm has graduated to beta, but I would recommend you to use kops if you want to enable in-tree cloudprovider extensions still. This is definitely doable (and documented) with kubeadm, but you need to fill in various parameters etc. for it to work.

[2017-10-20 08:50] #37844 closed

[2017-10-20 08:53] luxas commented on #39849
I think you need to modify the firewalls for your nodes in AWS. I don't think this is an issue with Kubernetes.
I'm sorry, but I don't think I can help more than that. Support questions can be routed to Slack or Stackoverflow.

[2017-10-20 08:53] #39849 closed

[2017-10-20 08:55] luxas commented on #43567
This message occurs when there is no network plugin installed. Just apply a network plugin (like `kubectl apply -f https://git.io/weave-kube-1.6`) like described as the second step in the official setup guide, and things will work. RBAC rules are needed as @eko pointed out as well

[2017-10-20 08:55] #43567 closed

[2017-10-20 08:56] luxas commented on #53844
Hi!

Thank you for filing this issue. We appreciate your interest in Kubernetes and kubeadm.
In order to make the kubernetes/kubernetes issue tracker more usable, we're routing issues to different repositories with different focuses.

I think this issue belongs in the kubeadm repository. Please move this issue to the [kubeadm repo tracker](https://github.com/kubernetes/kubeadm/issues) in order for

[2017-10-20 08:56] #53844 closed

[2017-10-20 08:59] cvieri commented on #54231
@dixudx the problem was related to ceph cluster being in error state. Can it be somehow signalized in kubectl describe?

[2017-10-20 08:59] luxas commented on #53237
ping @liggitt on the status of #53238

[2017-10-20 09:04] luxas commented on #52715
Hi,

kubeadm actually tells you what is wrong:
[code]

We're considering to make this blocking so that kubeadm init will fail on this misconfiguration. As of v1.8, the kubelet doesn't support running with swap enabled, as outlined in the release notes.

Thank you!

@nathanleclaire I'd really appreciate if you could open an issue in the kubernetes/kubeadm issue tracker with more details. It is not

[2017-10-20 09:04] #52715 closed

[2017-10-20 09:04] luxas commented on #51371
Hi!

Thank you for filing this issue. We appreciate your interest in Kubernetes and kubeadm.
In order to make the kubernetes/kubernetes issue tracker more usable, we're routing issues to different repositories with different focuses.

I think this issue belongs in the kubeadm repository. Please move this issue to the [kubeadm repo tracker](https://github.com/kubernetes/kubeadm/issues) in order for

[2017-10-20 09:04] #51371 closed

[2017-10-20 09:07] luxas commented on #48643
Hi!

Thank you for filing this issue. We appreciate your interest in Kubernetes and kubeadm.
In order to make the kubernetes/kubernetes issue tracker more usable, we're routing issues to different repositories with different focuses.

I think this issue belongs in the kubeadm repository. Please move this issue to the [kubeadm repo tracker](https://github.com/kubernetes/kubeadm/issues) in order for

[2017-10-20 09:07] #48643 closed

[2017-10-20 09:07] luxas commented on #39581
Closing this as it's outdated

[2017-10-20 09:07] #39581 closed

[2017-10-20 09:09] shyamjvs commented on #54170
Sorry for the delay. Just checked, and seems like 1.7 doesn't run heapster when monitoring is disabled:

[code]

@fgrzadkowski - fyi

[2017-10-20 09:33] zerogjoe commented on #49577
It looks like this was fixed in a PR to acs-engine last week: https://github.com/Azure/acs-engine/pull/1150

There hasn't been a binary release since then, so you'd have to clone the acs-engine repo and build from source to benefit from the fix.

@markya0616 - as a workaround for a cluster that's already been deployed, you need to SSH to each master and worker and edit /etc/kubenetes/azure.json as

[2017-10-20 09:35] redbaron commented on #43516
Here is a different avenue to explore: with 1.7 we start seeing lockups on some or all apiservers (probably due to increased traffic to etcd due to serviceaccount secret lookup enabled by default in 1.7).

We found that clear indicator is number of inflight request going to etcd,

[code]

in normal situation it should be a relatively small number  (we have 0 on small clusters). It is important to

[2017-10-20 09:52] luxas commented on #47604
@bsalamat @davidopp Can you confirm that this is on track for v1.9?

[2017-10-20 09:59] dims commented on #49213
@urzds - see https://medium.com/@arthur.souzamiranda/kubernetes-with-openstack-cloud-provider-current-state-and-upcoming-changes-part-1-of-2-48b161ea449a on how to use OpenStack with kubeadm. It's a great way to start experimenting

[2017-10-20 10:03] theobolo commented on #43516
@petergardfjall I'm running on North Europe Data center too, that's really scary ... fortunately the nodes are not going down at the same time and my services are still up in Production :/

[2017-10-20 10:08] petergardfjall commented on #43516
@theobolo: are your nodes still flapping? I've been seeing my nodes oscillating every 10 or so minutes between `NotReady` <-> `Ready` for a few hours now.

[2017-10-20 10:10] #53171 closed

[2017-10-20 10:11] mooperd commented on #40224
+1

[2017-10-20 10:13] theobolo commented on #43516
@petergardfjall Yep since yesterday night 9 P.M, all my three clusters are flaky ... take a look at my Grafana kube-state metrics :

![image](https://user-images.githubusercontent.com/7281773/31816259-e6e62836-b58f-11e7-8e60-c9ce9f12e5c8.png)

Every nodes and masters are going down one by one each 10min like you.

[2017-10-20 10:14] Rio commented on #37060
I'm running into something similar. I've created a glusterfs PV with readonly: true and accessmode set to ReadOnlyMany, created a claim with ROX that got bound to it and created a deployment using that claim. However the PV still gets mounted in readwrite mode eventhough the readonly field in the gluster volume is set to true. It's a bit surprising as it isn't mentioned in the docs that the volume

[2017-10-20 10:16] redbaron commented on #47131
I suspect it is a deadlock in Etcd client kubernetes Apiserver is shipped with.  We see requests to some or all apiservers hanging after Etcd cluster roll.

When APIServer hangs we see number of requests to Etcd piling up:

[code]

Problem is made worse by the fact that since 1.7.x, apiserver checks serviceaccount tokens in Etcd, so even if a request would end up being served from cache, mandatory

[2017-10-20 10:18] petergardfjall commented on #43516
@theobolo that sounds very familiar. Things started acted strangely around last night (9 PM CET).

[2017-10-20 10:19] #53013 closed

[2017-10-20 10:21] theobolo commented on #43516
@petergardfjall ... sounds clearly an Azure problem, we have the same problem on the same Datacenter on multiple clusters, starting at the same time ... Plz @colemickens @brendanburns @ do you have some updates or infos on this ?

[2017-10-20 10:26] porridge commented on #54240
/assign porridge

[2017-10-20 10:29] redbaron commented on #46705
@javipolo , your issue is more related to https://github.com/kubernetes/kubernetes/issues/47131

[2017-10-20 10:32] luxas commented on #54179
@medinatiger #51250 seems to be what broke kubeadm

[2017-10-20 10:34] porridge commented on #54240
Progress update: I made it work, but coming up with a PR will take a while since it requires vendoring the `golang.org/x/crypto/ssh/agent` package and I understand this step is far from trivial.

[2017-10-20 10:36] luxas commented on #50752
Thank you for this @karataliu :+1:!
Can you give me a brief status update what the next steps are please?
Did you notice a workgroup for this effort was created (we're hanging out in #wg-cloud-provider on Slack) and meet on Wednesdays 10am PT

[2017-10-20 10:38] luxas commented on #52783
Hi!

Thank you for filing this issue. We appreciate your interest in Kubernetes and kubeadm.
In order to make the kubernetes/kubernetes issue tracker more usable, we're routing issues to different repositories with different focuses.

I think this issue belongs in the kubeadm repository. Please move this issue to the [kubeadm repo tracker](https://github.com/kubernetes/kubeadm/issues) in order for

[2017-10-20 10:38] #52783 closed

[2017-10-20 10:43] luxas commented on #54220
I think you need to pass `--pod-network-cidr=192.168.0.0/16` as outlined in https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

If that doesn't work, reopen this issue in a Calico repository, this is not a Kubernetes issue.
Thanks!

[2017-10-20 10:43] #54220 closed

[2017-10-20 10:52] StevenACoffman commented on #54179
Thanks. Can this be closed then?

[2017-10-20 10:59] luxas commented on #54179
Yeah
Duplicate of https://github.com/kubernetes/kubernetes/issues/54180

[2017-10-20 10:59] #54179 closed

[2017-10-20 11:09] fgbreel commented on #54138
no, `ESTABLISHED` connections continues to grow since docker keep containers running.

I found `644` entries like:

[code]

Strange to see random timeouts when communication is done through `127.0.0.1` address.

I'm attaching the logs from my `master` node kube-apiserver.
I sanitized the nodes FQDN and IP addresses to:
- using `node{01..03}.example.com` and `master.example.com` names instead of re

[2017-10-20 11:14] fgbreel commented on #54138
No, it continues to grow since docker keep the containers running.

I found `644` entries like these:

[code]

Strange to see timed out connections from since `etcd` and `kube-apiserver` are communicating though `127.0.0.1`:

[code]

I'm attaching the logs for the period in red:

![fw_forwarded_local-week-sc11](https://user-images.githubusercontent.com/893920/31818421-5659f4a6-b598-11e7-90bb-cc3f1

[2017-10-20 11:34] ese commented on #47222
Anyone has a workaround to deal with this? I think there is a lot of people using AWS ELBs on this way

[2017-10-20 11:40] tlyng commented on #50150
@szarkos I have that udev rule, running latest offical tectonic/coreos - in short it does not solve the issue.

[code]

I see a lot of those kind of log messages. The nodes are essentially rendered useless (cannot attach / detach new volumes on them. I've tried using acs-engine and tectonic-installer to set up k8s clusters on azure, both struggle with the same issues. Sick and tired of Azure imple

[2017-10-20 11:45] tamalsaha commented on #47222
@ese, if your use-case is Ingress, then you can set `ingress.kubernetes.io/ssl-redirect: false`. This should avoid generating the invalid Service spec. Obviously, you will lose the redirect option.

[2017-10-20 12:06] #50718 closed

[2017-10-20 13:03] aveshagarwal commented on #54276
I will look into it today.

[2017-10-20 13:16] andyzhangx commented on #50150
Hi @tlyng, if you have udev rule on coreos, then it might be other issue, could you provde below info:
1. your k8s version
2. some logs:
[code]

#####  Get the controller manager logs on master
1. get the "CONTAINER ID" of "/hyperkube controlle"
[code]
2. get controller manager logs
[code]

[2017-10-20 13:17] m-no-2017 opened #54295 "Extend service port backends in ingress objects"
Short info:
- k8s v1.7.2 (soon going to v1.8.0)
- bare-metal
- OS: Ubuntu 16.04.03 LTS
- Kernel: 4.11 (lowlatency)

Until now, we only had default ports (80,443) for our ingress objects to connect to running web applications. To enhance the connectivity for our CI/CD environment I route all our services to a nginx-controller pod, which is configured through configmaps to enable e.g. the jnlp-port

[2017-10-20 13:19] tesi-nahid commented on #53650
Thank you.in fact I defined two separate deployment per each node but with same lable and i defined one service again with same lable.now everything is working.

[2017-10-20 13:30] k82cn opened #54297 "Increase the code coverage of NodeController (TaintBasedEviction feature)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**Description**:

As discussed at https://github.com/kubernetes/features/issues/166#issuecomment-338165103 , we need to increase the code coverage of NodeController's TaintBasedEviction feature for upgrading to beta.

/sig node

[2017-10-20 13:37] resouer commented on #37666
@ahume You can use `kubectl patch` instead:
[code]

Then kubernetes will rolling update the deployment for you.

[2017-10-20 13:40] cpuguy83 commented on #42926
I couldn't comment on immediate plans (beta hasn't started yet), but definitely expect to see kubernetes running on top of containerd directly as part of the (Docker) platform instead of sitting on top of it.

containerd, once out of beta, will be a much more stable base (much smaller scope) and have much longer support cycle (https://github.com/containerd/containerd/blob/master/RELEASES.md#suppor

[2017-10-20 13:48] fgrzadkowski commented on #54170
@shyamjvs I think that was a bug, because we needed heapster for HPA to work and I guess you didn't disable HPA...

In other words I believe that current behavior with metric server always running is the correct one. How bad is it for you? Is it easy to fix those failing tests?

@kubernetes/sig-instrumentation-bugs @kubernetes/sig-autoscaling-bugs

[2017-10-20 13:52] mattjmcnaughton commented on #54161
Out of curiosity, what is the best practice for making a pr that (potentially) shouldn't be merged until a later version? Is there a way to specify that automatically, or do we just wait to merge it until 1.X is the next release?

I'm happy to tackle this if possible - I'd love to learn more about that part of k8s.

[2017-10-20 14:10] shyamjvs commented on #54170
It isn't causing our tests to fail, just a bit annoying with multiple logs in the build-log saying that the pod is pending. We have 2 options:
( ) create a special node large enough for it to schedule
(X) ditch the error

Anyway, the bigger issue seems to be heapster not running in 1.7 in that mode.

[2017-10-20 14:16] bgrant0607 commented on #54269
GET supports this via mime type, which doesn't facilitate permissions checks AFAIK, and doesn't support writes. #40848

Also, we may want to exclude annotations.

Related: #1459

[2017-10-20 14:16] bgrant0607 commented on #54269
cc @kubernetes/sig-api-machinery-feature-requests

[2017-10-20 14:25] kargakis commented on #37666
@kubernetes/sig-cli-feature-requests can we support updating podtemplatespec annotations in controllers with `kubectl annotate`?

[2017-10-20 14:26] timothysc commented on #47131
I could rev the client to 3.2.x, but the server side of upstream has to stay at 3.1.10 due to supportable upgrade path.

@hongchaodeng @xiang90 - any known issues with client skew testing?

If we want to do this, we need to do it now.
/cc @kubernetes/sig-cluster-lifecycle-misc

[2017-10-20 14:32] staebler opened #54299 "Move hyperkube code to kubernetes/common"
/kind feature

It would be beneficial to have the hyperkube code available to other kubernetes projects. The kubernetes-incubator/service-catalog project recently added the hyperkube code so that its apiserver and controller-manager could be run from the same binary. It would be nice if the same code could be shared by kubernetes/kubernetes and kubernetes-incubator/service-catalog rather than havi

[2017-10-20 14:40] staebler commented on #54299
/sig apimachinery

[2017-10-20 14:41] agolomoodysaada commented on #47511
Can we implement Kubernetes Autoscaler for Azure ACS? I don't mind working on it if someone could give me some guidance.

[2017-10-20 15:06] #51400 closed

[2017-10-20 15:25] munnerz opened #54301 "conversion-gen --extra-peer-dirs references k8s.io/kubernetes types"
As part of the effort to make Kubernetes API types and machinery more consumable, we are attempting to decouple the code generators from the main Kubernetes API codebase.

With the introduction of the new code generation scripts in https://github.com/kubernetes/kubernetes/pull/52186, we made it easy for external projects to consume generators and generate code for their own API groups.

However, w

[2017-10-20 15:34] cmluciano commented on #49827
/close

dashboard looks clean

[2017-10-20 15:34] #49827 closed

[2017-10-20 15:38] cmluciano commented on #50812
/remove-sig network

/sig apps

Not sure why SIG-Network is assigned to this issue

[2017-10-20 15:42] cmluciano commented on #51802
Follow-up: I cannot view the log files for any of the DNS test runs listed. I'm inclined to close this issue as a broken suite run.

@kubernetes/sig-testing-test-failures thoughts?

[2017-10-20 15:43] rootfs commented on #54214
[code]
Error 16 is EBUSY.

similar to #54263

[2017-10-20 15:49] rootfs commented on #54214
@likakuli were you running kubelet with cadvisor on?

[2017-10-20 15:49] rootfs commented on #54214
/assign

[2017-10-20 15:56] fasaxc commented on #54213
What about Services, seems odd to load balance between two ports in the same pod, is that allowed?

[2017-10-20 15:56] fasaxc commented on #54213
/sig network

[2017-10-20 16:15] frodenas opened #54303 "Service IP and Port allocator repair controllers do not send events on errors"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Service [IP](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/service/ipallocator/controller/repair.go) and [Port](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/service/portallocator/allocator.go)   allocator repair controllers do NOT send events on errors, they only log the

[2017-10-20 16:18] frodenas commented on #54303
/sig instrumentation

[2017-10-20 16:23] someword commented on #45976
@ilyalukyanov - I am experiencing similar symptoms to you.   Personally my feeling is that the problem is in iptables somewhere and is specific to the UDP protocol.  I don't have any facts to back this up though:)   But if you think of all the places where the failure can occur I have been able to remove most of them from the equation with the exception of the DNS requested being NAT'ed and the us

[2017-10-20 16:24] caseydavenport commented on #54213
/label for-new-contributors

Does anyone have any opinions on whether it's the code or the docs that are wrong? Off the top of my head I'm not sure what Service behavior you'll get when you do this.

[2017-10-20 16:25] deads2k commented on #54159
Without a nested encoder and decoder for the embedded objects, decoding and re-encoding didn't serialize back out correctly.  #53442 fixes the problem.

[2017-10-20 16:28] brunomcustodio opened #54305 "v1.8.x: kube-proxy panics on cleanup because of nil pointer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Ran `kube-proxy --cleanup` and it crashed after cleaning up `iptables`:

[code]

**What you expected to happen**:

I expected `kube-proxy --cleanup` not to crash.

**How to reproduce it (as minimally and precisely as possible)**:

This can be reproduced this by running the abovementioned command or the shorter

[code]

*

[2017-10-20 16:29] kfox1111 opened #54306 "kube-proxy checkpointing"
/kind feature

**What happened**:

There are two separate efforts that are trying to do some useful things:
 * effort to make kubernetes self hosting
 * effort to make kubernetes easier/better at HA

There is an interesting project here:
https://github.com/coreos/kenc

It does network checkpointing.

With it, you can use k8s services for HA (kubelet can point at kubernetes.default.svc.cluster.loca

[2017-10-20 16:30] brunomcustodio commented on #54305
/sig network

[2017-10-20 16:31] mtaufen commented on #54161
@luxas I'd rather just follow the standard deprecation policy.
@mattjmcnaughton Just wait until 1.X is the next release. Don't waste your time rebasing again and again while you wait ;).

[2017-10-20 16:36] pci commented on #49673
A new arrival in my family has meant I've not had time to get make a PR for this, if it's still here when I have some time I'll take it. But if anyone else has the capacity, or if you're reading this and looking for a good first issue to take, please comment below!

[2017-10-20 16:38] Rev1408 commented on #39849
solution: https://stackoverflow.com/questions/46285661/pod-ip-not-accessible-from-master-node

[2017-10-20 16:41] kfox1111 commented on #54306
Not entirely sure what I'm doing with labels... let me try to fix it...

@kubernetes/sig-network-feature-requests
@kubernetes/sig-cluster-lifecycle-feature-requests
/area kube-proxy

Please feel free to let me know if I'm doing things wrong.

[2017-10-20 16:55] liggitt opened #54310 "bootstrap RBAC policy does not include permissions for replicaset/daemonset in apps API group"
/kind bug
/sig auth

the bootstrap policy only references replicaset and daemonset permissions in the extensions API group

[2017-10-20 16:56] ianchakeres commented on #54263
Here is a related to @rootfs' hypothesis that cadvisor is involved - https://github.com/google/cadvisor/issues/771

[2017-10-20 16:59] grosser commented on #35076
FYI now handling this in a script:

[code]

[2017-10-20 17:05] liggitt commented on #54310
fyi @kow3ns
as workload types move groups, we need to ensure roles that reference those resources are updated as well

[2017-10-20 17:17] yuanfang2007 commented on #53117
I also had the same issue. I followed the kubernetes official documentation.

Every 2.0s: kubectl get pods --all-namespaces                                                                                           Fri Oct 20 17:16:31 2017

NAMESPACE     NAME                                       READY     STATUS              RESTARTS   AGE
kube-system   etcd-ip-172-31-30-207                      1

[2017-10-20 17:24] tlyng commented on #50150
CoreOS version:
DISTRIB_ID="Container Linux by CoreOS"
DISTRIB_RELEASE=1520.6.0
DISTRIB_CODENAME="Ladybug"
DISTRIB_DESCRIPTION="Container Linux by CoreOS 1520.6.0 (Ladybug)"

Kubernetes Versions:
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"0b9efaeb34a2fc51ff8e4d34ad9bc6375459c4a4", GitTreeState:"clean", BuildDate:"2017-10-05T00:40:04Z", GoVersion:"go1.9.1", C

[2017-10-20 17:40] xrl opened #54312 "Dynamic volume's AWS-EBS StorageClass reports zone not found"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: I have a statefulset configuration which uses PVC's pinned to a single availability zone. The configuration worked in Kubernetes 1.6, now it's failing to create volumes in Kubernetes 1.7.

**What you expected to happen**: Create volumes in the specified zone by the StorageClass.

**How to reproduce it (as minimally and pr

[2017-10-20 17:42] xrl commented on #54312
/sig storage

[2017-10-20 17:43] #54159 closed

[2017-10-20 17:49] danielmorlock commented on #50474
Is this in 1.7.9 ?

[2017-10-20 17:50] bboreham commented on #53117
@yuanfang2007 next step is to find out why they are stuck in ContainerCreating - maybe it cannot download the image?

Check the kubelet logs.

[2017-10-20 18:01] bsalamat commented on #47604
@luxas Given that code freeze is only one month away, we are not very confident at this point, but I still call it on track for 1.9.

[2017-10-20 18:07] krzyzacy opened #54313 "Node still marks as ready when running out of processes"
xref https://github.com/kubernetes/test-infra/issues/4892#issuecomment-337113390: So when node ran out of processes, the pod goes into crashloop, however node is still marked as ready and trying to restart the pod.

https://github.com/kubernetes/kubernetes/issues/43783 is related, but I think the node probably still need to be marked as unready and stop schedule pods there.

k8s version: 1.7.6 on

[2017-10-20 18:14] dashpole opened #54314 "Evictions should take disk requests into account"
As part of the process of making local storage a first class resource, the kubelet should take disk requests into consideration, and ensure that the pod which requests disk is given access to it.
The mechanism that the kubelet uses to enforce that a pod which requests disk is given access to it are evictions.  The kubelet should take disk requests into account when making eviction decisions.
The k

[2017-10-20 18:17] mbohlool commented on #10045
I think this had sufficient lead. It creates confusion for generated clients to have both connect and proxy in API. I am going to remove proxy as it is deprecated in 1.2

[2017-10-20 18:17] bowei commented on #51802
@cmluciano looks like a prime candidate for close to me :-)

[2017-10-20 18:34] wawastein commented on #48968
@jingxu97 last time you retrieved them for me, here's credentials again
Project: superlocal-149713
Zone: europe-west1-b
Cluster name: staging-cluster-2

[2017-10-20 18:34] pwittrock commented on #54205
Please file under kubernetes/kubectl

[2017-10-20 18:39] timothysc commented on #51802
closing...

[2017-10-20 18:39] #51802 closed

[2017-10-20 18:40] timothysc commented on #54180
/assign @pipejakob

[2017-10-20 18:45] paultiplady commented on #19317
I did have a TPR in all of my stuck namespaces.

[2017-10-20 18:55] ncdc opened #54318 "Move ClientConnectionConfiguration struct to its own api group"
As we are working towards configuring all server components with configuration files instead of command line flags, most or all of them are going to need to be configured to talk to the apiserver. We should make sure there is a single struct definition for the client configuration. Currently, in the componentconfig api group, we have ClientConnectionConfiguration, and it's only used by the KubePro

[2017-10-20 19:06] dims commented on #54236
ooh, we have time travelling kubes now :)

[2017-10-20 19:08] ncdc commented on #54318
@ironcladlou since you're working on the scheduler config

[2017-10-20 19:12] cmluciano commented on #46625
I will work on the last test for * protocols enabled when port number is left off

[2017-10-20 19:41] luxas commented on #47131
cc @kubernetes/sig-scalability-feature-requests

[2017-10-20 19:41] cmluciano commented on #54295
@kubernetes/sig-network-feature-requests

cc @bowei

Request to make [servicePort a map](https://github.com/kubernetes/api/blob/master/extensions/v1beta1/types.go#L771) for "future Ingress"

[2017-10-20 19:43] luxas commented on #54161
@mtaufen For a feature that have been unusable since v1.6; I think that's not desirable. I'd vote for v1.10

[2017-10-20 20:00] yastij commented on #49625
@rootfs - do we still need to work on this one ?

[2017-10-20 20:04] geekofalltrades commented on #44954
If clusters don't have names that they know about, then how does the `kubernetes.io/cluster/<cluster-name>=owned` tag used by the AWS cloud provider work?

[2017-10-20 20:07] yliaog commented on #54236
so if d < 0, it's better to sleep r.minPeriod.

[2017-10-20 20:11] yastij commented on #49625
@wlan0 @luxas - do we still have to work on this one ?

[2017-10-20 20:12] spiffxp commented on #48152
I agree that this decision was well communicated, and do not wish to revert it, but I wanted to revisit it for a moment as prior art for future deprecations.  Did we remove TPR's a release too early?

If TPR's were actually alpha, then I think we did fine.  But https://v1-6.docs.kubernetes.io/docs/api-reference/v1.6/#thirdpartyresource-v1beta1-extensions shows them as v1beta1

CRD's don't show up

[2017-10-20 20:28] bowei commented on #45976
@someword it sounds like you are running into conntrack entry issues. DNS via UDP does not have a FIN in the protocol, so there is no reliable way to know when a conntrack NAT entry needs to be remove from the table. The current Kubernetes timeout is set quite long, so when there are a lot of requests on a single node, you may see the conntrack table filled.

What you are doing by hand is to creat

[2017-10-20 20:29] caesarxuchao commented on #54003
5.0.0 is created: https://github.com/kubernetes/client-go/releases/tag/v5.0.0

[2017-10-20 20:34] liggitt commented on #22768
superceded by CRD, beta in 1.7, tracked in https://github.com/kubernetes/features/issues/95

[2017-10-20 20:34] #22768 closed

[2017-10-20 20:36] julianvmodesto commented on #16448
These service linking proposals seem to be the upcoming solution for this:
- https://github.com/kubernetes/kubernetes/pull/17543
- https://github.com/kubernetes/community/pull/176

[2017-10-20 20:36] liggitt commented on #48152
For the `extensions` group specifically, "beta" doesn't necessarily mean beta. Calling the extensions API group beta was a misnomer and pre-dated crisp alpha/beta/ga definitions and the deprecation policy. The objects within that API group were a mix of alpha and beta quality APIs.

TPR's were actually alpha. They did not complete the [gathered requirements for beta](https://github.com/kubernetes/

[2017-10-20 20:39] julianvmodesto commented on #44511
Another vote for this issue from me since it's related to wg-app-def.

This problem is similar to Services, which can be addressed w/ explicit service links https://github.com/kubernetes/kubernetes/issues/16448, but in the case of Namespaces, these should probably just be applied first in any bulk `kubectl apply -f [--recursive]` (https://github.com/kubernetes/kubernetes/issues/24649, https://gith

[2017-10-20 20:42] MrHohn commented on #53754
New finding, `--metrics-bind-address` is broken on HEAD in a different way:
[code]

Seems to be introduced by https://github.com/kubernetes/kubernetes/pull/49087. @allencloud

[2017-10-20 20:43] ozdanborne opened #54322 "Make networkpolicy e2e helper methods publicly accessible"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/sig testing
/kind feature

**What happened**:

I'm writing e2e tests for Kubernetes that I do not plan to check into the Kubernetes repository. They test special cases of Calico-specific features so it would not make sense for them to get checked into the upstream Kubernetes repo.

I've managed to import most of the necessary testing libraries from K

[2017-10-20 20:46] MrHohn commented on #53754
Humm..We have some default logic for `KubeProxyConfiguration.MetricsBindAddress`:
https://github.com/kubernetes/kubernetes/blob/7d4f21d0d7d1afc4e121b15f2816fd198eba2caf/pkg/apis/componentconfig/v1alpha1/defaults.go#L45-L49

Seems like for some reason it does not auto append the default port number OR the validation happens before defaulting.

[2017-10-20 20:51] embano1 commented on #53706
You can read more about this approach here: https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/

For larger projects, consider [templating](https://blog.openshift.com/kubernetes-state-app-templating/).

[2017-10-20 20:52] pipejakob commented on #54180
/assign @medinatiger

[2017-10-20 20:52] everett-toews commented on #44511
/sig apps

[2017-10-20 20:54] lavalamp commented on #53828
Why would that be true for the dynamic admission webhooks? I would not expect it to be true.

[2017-10-20 20:55] lavalamp commented on #53828
dynamic admission webhooks should be verifying that the request is coming from apiserver.

[2017-10-20 20:55] everett-toews commented on #44511
/wg app-def

[2017-10-20 20:55] pipejakob commented on #54180
There is a lot of previous context in https://github.com/kubernetes/kubernetes/issues/54179, which was closed as a duplicate of this issue.

To add to the priority of these failures, it seems that our kubeadm presubmits are failing as well (which makes sense). These presubmits are only triggered if the PR touches files in the `cmd/kubeadm` or `build/debs` dirs, so it's not blocking every PR in the

[2017-10-20 21:01] MrHohn opened #54323 "[GCE kube-down] Clean up leaked network routes to avoid network deletion failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network

**What happened**:
Ref https://github.com/kubernetes/kubernetes/issues/52347. We sometimes get into trouble that deleting network in CI jobs fails due to the leaked sub resources, basically:
- Firewall rules.
- Network routes.

https://github.com/kubernetes/kubernetes/pull/53626 added the logic to cleanup remaining firewall rule

[2017-10-20 21:03] MrHohn commented on #54323
Ref sample failure (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/50811/pull-kubernetes-e2e-gce-gpu/10609/?log#log):
[code]

[2017-10-20 21:07] someword commented on #45976
@bowei  - i agree it sounds like conntrack issues but during our episodes of DNS issues we do not have any logs indicating we have hit the max nor do the metrics we expose show us getting near the max table entry either.   That's why i've gone off the beaten path.

[2017-10-20 21:13] timothysc commented on #54256
/cc @kubernetes/sig-testing-feature-requests

[2017-10-20 21:16] timothysc commented on #54256
@grodrigues3 what is your intent with this issue?  Sigs are already aware, and promotion to ```[Conformance]``` requires @kubernetes/sig-architecture-feature-requests  approval and sig-testing verification for enforcement.

[2017-10-20 21:29] medinatiger commented on #54180
Tolerations:     CriticalAddonsOnly
                 node-role.kubernetes.io/master:NoSchedule
                 node.alpha.kubernetes.io/notReady:NoExecute for 300s
                 node.alpha.kubernetes.io/unreachable:NoExecute for 300s
Events:
  Type     Reason                  Age               From               Message
  ----     ------                  ----              ----               --

[2017-10-20 21:30] medinatiger commented on #54180
Sorry, type enter too fast. The kube scheduler don't want to schedule dns pod because all nodes are in ready state! very weird. Still investigating!

[2017-10-20 21:35] jhorwit2 opened #54324 "node describe shows incorrect kube-proxy version"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli

**What happened**:

kube-proxy is on v1.8.1 but `describe node` shows the prior version of kube-proxy v1.7.1 instead of v1.8.1

[code]

[code]

**What you expected to happen**:

I expect the latest version of kube-proxy to be shown in `describe node`

**How to reproduce it (as minimally and precisely as possible)**:

Run a kubelet

[2017-10-20 21:38] jhorwit2 commented on #54324
The reason for this is that the kubelet assumes the version is the same. [code](https://github.com/kubernetes/kubernetes/blob/4b0511dc8cc6d4fb4775e00198757d50b35856a6/pkg/kubelet/kubelet_node_status.go#L663)

[2017-10-20 21:41] jingxu97 commented on #48968
@wawastein I see the following error message related to the issue

I1018 16:19:34.321606       6 graph_builder.go:438] add [v1/Pod, namespace: deals-production, name: deals-production-influxdb-4239716081-dzxnm, uid: 4831890c-b41f-11e7-b5f7-42010a840048] to the attemptToDelete, because it's waiting for its dependents to be deleted
I1018 16:19:34.321641       6 garbagecollector.go:288] processing it

[2017-10-20 21:58] mtaufen commented on #54161
@luxas Has the Kubelet rejected this flag in previous releases? Otherwise we should follow the CLI deprecation policy (1 release or 6 months, whichever is longer). It's possible people have the flag set in their shell scripts if they haven't gotten an automatic warning yet. Remember, unrecognized flags cause Kubelet crash loops.

[2017-10-20 21:58] #54310 closed

[2017-10-20 21:58] mtaufen commented on #54161
This wouldn't be a problem if we'd marked it deprecated in the same release that it stopped being useful...

[2017-10-20 22:02] mindprince commented on #51993
/reopen

[2017-10-20 22:02] mindprince commented on #51993
/assign

[2017-10-20 22:03] mindprince commented on #51993
/reopen

[2017-10-20 22:03] mindprince commented on #51993
/unassign

[2017-10-20 22:05] bowei commented on #45976
The logs will be present in the linux system logs for conntrack issues.

[2017-10-20 22:14] ixdy commented on #54129
cherrypick to release-1.8: #54325

[2017-10-20 22:17] medinatiger commented on #54180
Some relevant log from kubectl. It seems like scheduling is not the issue while the event is quite confusing. It seems like weaver-net doesn't work well with this version of CNI.

Oct 20 21:07:02 k8s-m3 kubelet[14352]: E1020 21:07:02.054836   14352 cni.go:301] Error adding network: failed to find plugin "loopback" in path [/opt/loopback/bin /opt/cni/bin]
Oct 20 21:07:02 k8s-m3 kubelet[14352]: E102

[2017-10-20 22:21] mahdix commented on #52255
I think the correct approach is to handle the case where CDPATH is defined in the system. This will make building the project easier and instructions simpler.

[2017-10-20 22:23] jiayingz commented on #51993
/assign @lichuqiang

[2017-10-20 22:34] someword commented on #45976
@bowei - I'm saying that we are not getting any logs that indicate we are hitting conntrack limits.   We have the logs but no messages like this "nf_conntrack: table full, dropping packet" which is what i would expect.  We even tune down the search to just 'conntrack' and the only hits we get are from when kube-proxy starts up.

[2017-10-20 23:12] enisoc commented on #48152
In addition, at the time when we did this, the Beta deprecation policy was to keep the old API around for "3 months, 1 release". It was later changed without any announcement (that I saw) to "6 months, 2 releases":

https://github.com/kubernetes/website/commit/8f9677227dac0d0032a9faaae1dd318e8ddbd095#diff-20e68d228e6f9fe6ccc143526a382670R78

[2017-10-20 23:43] medinatiger opened #54330 "Kubeadm E2E test using weave-net is broken with CNI version bump"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kubeadm E2E test is currently broken due to the commit https://github.com/kubernetes/kubernetes/pull/51250. I report the same issue on my local cluster. If I revert PR 51250, everything works fine. We believe the current weave-net plugin doesn't work with the CNI version change.

Right now all kubeadm related development

[2017-10-20 23:44] medinatiger commented on #54330
/assign @dixudx

[2017-10-20 23:47] medinatiger commented on #54330
@kubernetes/sig-cluster-lifecycle-bugs
@luxas
@pipejakob

[2017-10-20 23:53] luxas commented on #54330
Please reopen this in kubernetes/kubeadm. There is an issue as e2e tests & PR job are failing, but locally the CNI bit seem to work for me, so I think it has something with building the debs to do.

Not technically. We just don't have any coverage right now.

Not IMO. We just need to forward-fix the issue.

Closing this; you can reopen in kubernetes/kubeadm

[2017-10-20 23:54] luxas commented on #54180
@medinatiger will reopen a similar issue in kubernetes/kubeadm

[2017-10-20 23:54] #54180 closed

[2017-10-20 23:58] pipejakob commented on #54180
Since this issue was created by `fejta-bot`, there's a strong chance it will just get automatically recreated here.

[2017-10-21 01:13] liggitt commented on #54324
dupe of https://github.com/kubernetes/kubernetes/issues/48811

[2017-10-21 01:13] #54324 closed

[2017-10-21 01:15] liggitt commented on #54324
fwiw, sentiment seems to be that reporting kube-proxy version in kubelet status is not appropriate and should be deprecated... see https://github.com/kubernetes/kubernetes/pull/48988#issuecomment-320714445

[2017-10-21 01:17] #49170 closed

[2017-10-21 01:32] yliaog commented on #54138
cc @yliaog

[2017-10-21 01:43] masroorhasan opened #54332 "Missing definition for io.k8s.apimachinery.pkg.apis.meta.v1.Patch in API"
/kind bug

Hello,

I'm working on a generated client from the swagger API. Something I noticed was the missing schema definition of `io.k8s.apimachinery.pkg.apis.meta.v1.Patch` in the PATCH request of `/api/v1/namespaces/{namespace}/configmaps/{name}`. The `parameters` of this request refers to the schema as follows:
`
schema": {
"$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"
}

[2017-10-21 01:57] #51823 closed

[2017-10-21 03:46] xiangpengzhao commented on #54318
FYI: Move KubeSchedulerConfiguration out of componentconfig API group #54211
@guangxuli

[2017-10-21 03:48] resouer commented on #54090
@luxas NP, already discussed with yuju about the idea and patch is by handy.

[2017-10-21 03:59] marun opened #54335 "Federation needs to generate openapi code for itself and vendored k8s"
As part of moving federation out of tree (#52992), the federation build will need to generate ``pkg/generated/openapi/zz_generated.openapi.go`` for itself and vendored kubernetes.  The following steps are required:

- [x] Discover targets for generation (https://github.com/kubernetes/repo-infra/pull/48)
- [x] Update the file's bazel rules to configurably enable a build for vendored kube (#54336)
-

[2017-10-21 04:45] andyzhangx commented on #53428
@lauxtermann-aram would you close this issue? thx

[2017-10-21 04:48] andyzhangx commented on #54149
Hi @vladi-dev, could you also share the pod yaml file? I would like to repro, thx

[2017-10-21 06:56] mliker opened #54337 "Nodes behind NAT not starting"
I have a hetzner vserver with a static private IP of 172.31.1.100 which is 1:1 NAT'ed from its external internet routable IP. When the node registers itself with the master it exposes its private IP which is not routable from a master even though nodename is set to a resolvable fqdn resolving to its external ip. When i manually set nodeIP to its external internet routable ip the node fails to star

[2017-10-21 07:09] mliker commented on #54337
/sig node

[2017-10-21 08:02] bboreham commented on #53117
@yuanfang2007 next step is to find out why they are stuck in ContainerCreating - maybe it cannot download the image?

Check the kubelet logs.

[2017-10-21 13:41] discordianfish commented on #33777
Same issue on GKE, just added a fresh new instance (micro) but it won't schedule even the smallest pod on it. Eg:

[code]
Though on the fresh node there is enough cpu available:
[code]

Other nodes are pretty packed at ~95% cpu allocated on each node, though even there it should schedule a 1m cpu pod.

[2017-10-21 14:34] hpgood commented on #49376
I found that:

https://github.com/kubernetes/kubernetes/blob/0ba7c52b8cafce1af39499bee993a2df38640a38/pkg/kubelet/volumemanager/reconciler/reconciler.go#L430-L434

should be:

 namespace:="the real namespace of  volume.podName"
 pod := &v1.Pod{
 	ObjectMeta: metav1.ObjectMeta{
 		UID: types.UID(volume.podName),
                Namespace : types.UID(namespace),
 	},
 }

[2017-10-21 14:47] danwinship commented on #54322
Those functions are internal implementation details of the NetworkPolicy test, not generic utilities. There's no expectation that the test will continue to use those particular methods as opposed to similar-yet-slightly-different ones in a future release.

I'd say you should just copy+paste.

[2017-10-21 15:01] hpgood commented on #49376
I had done the similar things (clear  the old volume of glusterfs ) by python shell:
kubernetes-tools/findFreePods.py
https://github.com/hpgood/kubernetes-tools/blob/master/findFreePods.py

[2017-10-21 16:03] jhorwit2 opened #54339 "service controller calls broadcaster.StartLogging twice"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cluster-lifecycle

**What happened**:

https://github.com/kubernetes/kubernetes/commit/96b48d4386fc00f69790f30c4631e4b864fcf5eb#diff-1f7f903e25ab8bcbc514bb1e532e997e introduced a redundant call on StartLogging in the service controller. It's called on line [118](https://github.com/kubernetes/kubernetes/commit/96b48d4386fc00f69790f30c463

[2017-10-21 16:12] Thermi opened #54340 "Creating services with global IPs on GCP fails"
**/kind** bug

**What happened**:
Kubernetes errors out, instead of creating an LB with the global IP

**What you expected to happen**:
That Kubernetes creates an LB with the global IP and points it at the nodes.

**How to reproduce it (as minimally and precisely as possible)**:
Try to use a global IP in a service on GCP.

Kubernetes events:
[code]

**Environment**:
- Kubernetes version (use `kube

[2017-10-21 16:14] wawastein commented on #48968
@jingxu97 not that I'm aware of, only if GKE comes bundled with one.

[2017-10-21 16:29] jhorwit2 commented on #53451
@brendandburns as part of the fix for this issue, I plan to remove all the cached service logic from the controller, which will remove a recent PR you did (https://github.com/kubernetes/kubernetes/pull/50539). From what I can tell from the original issue (https://github.com/kubernetes/kubernetes/issues/43730#issuecomment-290531195) the problem was essentially the same thing as this ticket except t

[2017-10-21 17:33] nikhita commented on #54332
/sig api-machinery

[2017-10-21 18:50] cblecker commented on #54340
Global IPs are for the [HTTP Layer 7 Load Balancer](https://cloud.google.com/container-engine/docs/tutorials/http-balancer) in GCE/GKE. You need to use an ingress resource to provision them. If you're looking for [TCP Layer 4 Load Balancer](https://cloud.google.com/container-engine/docs/tutorials/configuring-domain-name-static-ip#step_2a_using_a_service) via a Service, you must create a static reg

[2017-10-21 18:50] #54340 closed

[2017-10-21 18:57] Thermi commented on #54340
What you are writing is only partially true. It is possible to use global IPs for TCP and UDP load balancers. However, the possible ports are predefined. I'd expect that to work.

[2017-10-21 19:09] micahhausler commented on #49682
@justinsb This can probably be closed

[2017-10-21 19:11] micahhausler commented on #43744
I'm going to take this one on: hopefully should get this in for 1.9

[2017-10-21 21:25] smarterclayton commented on #54318
If we created a Kubeconfig group, are there unopinionated structs we can
move from Kubeconfig or are people going to want to do big refactors?

Unrelated note - has someone queued up making kubectl explain works with
the new server config types?  Not being able to see config docs sucks.

On Oct 20, 2017, at 11:46 PM, Peter (XiangPeng) Zhao <
notifications@github.com> wrote:

FYI: Move KubeSchedule

[2017-10-21 21:43] smarterclayton commented on #47131
Openshift 3.6 and 3.7 run against both 3.1 and 3.2 using the 3.2 client.

The only issue we've seen are the load balancer rollover and hanging
watches against 3.1 servers when more than two thousand watches are in
flight for a single apiserver.

On Oct 20, 2017, at 3:41 PM, Lucas Käldström <notifications@github.com>
wrote:

cc @kubernetes/sig-scalability-feature-requests
<https://github.com/orgs/k

[2017-10-21 21:53] smarterclayton commented on #40973
Re: conditional, we are unlikely to that because we want to move to
explicit service env vars.

What doesn't expect IPs?  Nothing about _HOST promises not to be a
name, so anything in Kube or it's ecosystem should fix assumptions
like that (please help us open bugs for that wherever you've hit
that).

[2017-10-21 23:00] dims commented on #54332
cc @mbohlool

[2017-10-21 23:09] dims commented on #54132
@tomoe i'd recommend just creating the PR and have the debate there if needed

[2017-10-21 23:13] dims commented on #53867
/sig cluster-lifecycle

[2017-10-21 23:14] dims commented on #53867
/assign @dixudx

[2017-10-21 23:16] dims commented on #53509
/sig auth

[2017-10-21 23:17] dims commented on #53503
/sig api-machinery

[2017-10-21 23:18] dims commented on #53439
/area gce

[2017-10-21 23:19] dims commented on #54187
/priority important-soon

[2017-10-21 23:19] dims commented on #54186
/priority important-soon

[2017-10-21 23:19] dims commented on #54101
/priority important-soon

[2017-10-21 23:19] dims commented on #54077
/priority important-soon

[2017-10-21 23:19] dims commented on #54076
/priority important-soon

[2017-10-21 23:19] dims commented on #54076
/priority important-soon

[2017-10-21 23:19] dims commented on #49402
/priority important-soon

[2017-10-21 23:20] dims commented on #53663
/priority important-soon

[2017-10-21 23:21] dims commented on #53392
@unixwitch please try the recommendation from @wackxu and close this issue?

[2017-10-21 23:22] dims commented on #53331
cc @soltysh

[2017-10-21 23:23] dims commented on #53315
/sig cluster-lifecycle

[2017-10-21 23:25] dims commented on #53215
/assign

[2017-10-21 23:25] dims commented on #53215
/close

Please reopen if needed

[2017-10-21 23:25] #53215 closed

[2017-10-21 23:29] dims commented on #53211
/sig release

[2017-10-21 23:32] dims commented on #53142
cc @pires

[2017-10-21 23:37] dims commented on #39128
@feiskyer can we close this one in favor of #52827 ?

[2017-10-21 23:40] dims commented on #52617
/area platform/gce
/sig gcp

[2017-10-21 23:44] dims commented on #52491
/assign

[2017-10-21 23:44] dims commented on #52491
/close

please reopen if necessary

[2017-10-21 23:44] #52491 closed

[2017-10-21 23:45] dims commented on #52472
/assign api-machinery

[2017-10-21 23:45] dims commented on #52472
/sig api-machinery

[2017-10-22 01:39] sbeckwithiii commented on #36499
I am thrilled to learn that GKE will be supporting PD-SSD soon!

[2017-10-22 04:52] dixudx commented on #54252
`--cluster-dns=10.96.0.10` is declared in `10-kubeadm.conf`, which is not maintained/created by `kubeadm init`. Actually this file is included in debian/rpm package when installing `kubelet`.

@leblancd I don't think it is appropriate to read `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` on `kubeadm` side. Moreover, this filepath can be changed as well. The only way to get the right path

[2017-10-22 06:31] ese commented on #54217
@sttts I can confirm that  #53586 resolve the problem thanks!

[2017-10-22 07:37] tengqm commented on #54335
/cc

[2017-10-22 08:05] tengqm commented on #52992
/cc

[2017-10-22 08:38] thedrow opened #54349 "kubectl cluster-info reports cluster is running when it is not"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`kubectl cluster-info` reports that the cluster is running and returns exit code 0.
`kubectl cluster-info dump` correctly identifies that the cluster is not running and exists with exit code 1.

**What you expected to happen**:
`kubectl cluster-info` should fail when the cluster is not running.

**How to reproduce it (as

[2017-10-22 11:32] tadas-subonis commented on #50416
@k82cn What was the problem? I am facing the same similar issue while trying to set up a custom cluster.

[2017-10-22 14:29] ianchakeres commented on #51835
/sig storage

[2017-10-22 16:21] shiywang opened #54365 "test"
just for test

[2017-10-22 16:25] #54365 closed

[2017-10-22 18:55] krmayankk commented on #19317
@nikhita what are the symptoms to look for to make sure the terminating issue is indeed due to tpr resources ? I am seeing this issue in 1.7.4 and want to eliminate that option . Any log line to look for ?

[2017-10-22 20:26] at1984z opened #54368 "docs: StatefulSet pod is never evicted from shutdown node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1. StatefulSet at scale 1 is created.
2. The only pod is placed and running on one of 2 worker nodes.
3. The worker node with running pod shuts down and never starts up again.
4. The pod never moved to other node.

**What you expected to happen**:
1. The pod would move to other node after expiration of default tolerations

[2017-10-22 20:27] at1984z commented on #54368
/sig area/app-lifecycle area/stateful-apps area/usability

[2017-10-22 20:46] danbopes opened #54369 "Add documentation to Dynamic Persistent Volumes about DefaultStorageClass admission control"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
I went to the [documentation page](), and read about dynamic provisioning. A default class was set, but the DefaultStoreClass admission plugin wasn't enabled, and I spent several hours searching as to why my pvc's weren't auto provisioning.

**What you expected to happen**:
I would have liked to have seen more document

[2017-10-22 20:48] danbopes commented on #54369
/sig docs

[2017-10-22 21:03] greenboxal opened #54370 "Pod scheduling not respecting PVC zone (NoVolumeZoneConflict)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig scheduling

(Not sure about the correct SIG)

**What happened**:

After migrating (or creating a new cluster) to 1.8, pods aren't getting assigned only to nodes in the same zone as its PVCs.

**What you expected to happen**:

Pods with a PVC should only be scheduled at nodes within the same zone.

**How to reproduce it (as minimally and

[2017-10-22 21:13] at1984z commented on #54368
/sig area/node-lifecycle are/nodecontroller

[2017-10-22 21:17] ncdc commented on #54318
@smarterclayton I did the ones for KubeProxyConfiguration and I hope they're reasonable, but I wouldn't say they have much use elsewhere.

As to docs on the config, I have #52198... I hadn't even considered doing this via kubectl explain, but I think that's potentially much nicer. WDYT?

[2017-10-22 22:04] thockin commented on #48675
I added a bunch of debugging if you run make with `DBG_CODEGEN=1`.  We also fixed some pretty corner-case rsync bugs that could cause this.  Closing for now, please reopen if it recurs.

[2017-10-22 22:04] #48675 closed

[2017-10-22 22:07] thockin commented on #39162
Aging out.  Please reopen if still occurring.

[2017-10-22 22:07] #39162 closed

[2017-10-22 22:12] thockin opened #54371 "Makefile.generated_files is incomprehensible"
I wrote it, so I am allowed to say this.  It's a nightmare.  I have designs on how to simplify it some at first, and maybe more later.  PRs forthcoming.

[2017-10-22 22:36] thockin commented on #40090
Seems to work now, though this is a weird pattern.  Just 'make clean' should suffice.

[2017-10-22 22:36] #40090 closed

[2017-10-22 22:38] thockin commented on #34428
Seems to work now, after whatever other fixes in the area.  Please reopen if not for you.

[2017-10-22 22:38] #34428 closed

[2017-10-22 22:39] thockin commented on #30113
I would leave this open.  I hope to revisit the build eventually..

[2017-10-22 23:48] dims commented on #54349
/assign
/sig cli

[2017-10-22 23:48] dims commented on #54349
@kubernetes/sig-cli-bugs

[2017-10-22 23:50] dims commented on #54368
/area app-lifecycle
/area stateful-apps
/area usability
/area node-lifecycle
/area nodecontroller

[2017-10-22 23:50] dims commented on #54368
/sig node

[2017-10-22 23:56] dims commented on #52369
/area cloudprovider

[2017-10-22 23:57] dims commented on #52369
/sig cluster-lifecycle

[2017-10-22 23:58] dims commented on #44539
/sig node
/sig api-machinery
/sig scheduling

[2017-10-23 00:42] dims commented on #50957
/sig api-machinery

[2017-10-23 00:44] dims commented on #52368
/sig api-machinery

[2017-10-23 00:44] dims commented on #52187
/sig cli
/sig node

[2017-10-23 00:45] dims commented on #52266
/sig docs
/sig api-machinery

[2017-10-23 00:51] dims commented on #54221
/sig node

[2017-10-23 00:52] dims commented on #54132
/sig node

[2017-10-23 00:55] dims commented on #53725
Please log the bug here : https://github.com/juju-solutions/bundle-canonical-kubernetes/issues

Thanks,
Dims

[2017-10-23 00:55] dims commented on #53725
/assign

[2017-10-23 00:55] dims commented on #53725
/close

[2017-10-23 00:55] #53725 closed

[2017-10-23 00:57] dims commented on #53697
/sig node

[2017-10-23 00:57] dims commented on #53633
/sig node

[2017-10-23 00:58] dims commented on #53539
/sig network

[2017-10-23 01:00] dims commented on #53333
Nothing to fix in kubernetes itself. if you have any specific suggestions for kubeadm itself, please log them here:
https://github.com/kubernetes/kubeadm

/assign

[2017-10-23 01:00] dims commented on #53333
/close

[2017-10-23 01:00] #53333 closed

[2017-10-23 01:03] dims commented on #52278
we don't need to track it in both repos. let's close this one since we have 116 in kubernetes/dns repo.

/assign

[2017-10-23 01:03] dims commented on #52278
/close

[2017-10-23 01:03] #52278 closed

[2017-10-23 01:05] #54126 closed

[2017-10-23 01:08] dixudx commented on #54370
/sig aws

[2017-10-23 01:29] olxsystem commented on #23581
I hope could spin up cloud resources, like an RDS database also.

[2017-10-23 01:55] wenjun93 opened #54376 "iscsi volume cannot attach"
I compare the code of iscsi volume plugin in k8s and openstack nova volume code, in `AttachDisk()`,
I've tried on a VM node, and we actually need to run steps:
1. update iscsiNode:
    "node.session.auth.authmethod",
    "node.session.auth.username",
    "node.session.auth.password",
2. iscsiadm -m node -T Iqn -p tp --op new
3. iscsiadm -m node -T Iqn -p tp --login
however, seems steps 2 is missin

[2017-10-23 01:58] wenjun1 commented on #54376
/sig storage

[2017-10-23 01:59] wenjun1 commented on #54376
@mtanino

[2017-10-23 02:09] gnufied commented on #52871
@jpbetz I have opened another PR to fix this - https://github.com/kubernetes/kubernetes/pull/54377. I think that, this should fix the flake for good.

[2017-10-23 02:30] dixudx commented on #54376
@wenjun1 It is not missing. Please refer [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/iscsi/iscsi_util.go#L252).

Any detailed logs that would help us find what causes the volume failing to detach?

[2017-10-23 02:44] wenjun1 commented on #54376
Thanks. The steps I mentioned is nova or os-brick code's volume attach flow, it's a little bit different from k8s, `"iscsiadm", "-m", "discoverydb", "-t", "sendtargets", "-p", tp, "-I", b.Iface, "-o", "new")`, when I run the command manually, error `iscsiadm: No portals found` and exit code `21`.
I think there maybe some misconfigurations on my node, in the link [http://www.server-world.info/en/no

[2017-10-23 02:57] tengqm commented on #54369
please close this one and open another issue in kubernetes/website project.

[2017-10-23 03:20] #54369 closed

[2017-10-23 03:30] wynn5a commented on #46188
same issue here
k8s: v1.8.1
Flannel: 0.7.1

[2017-10-23 03:59] rfinnie commented on #27796
"Ditto", almost.  My GitHub account has two verified email addresses, primary ryan@finnie.org and secondary ryan.finnie@canonical.com, however GitHub does not have an option to publicly display secondary email addresses.  I only have one LF account, which has ryan@finnie.org as the email and is already linked against my GitHub account, and the CLA is submitted, but there appears to be no way to se

[2017-10-23 04:57] tengqm commented on #53672
/cc

[2017-10-23 05:47] thockin commented on #20151
Fair enough, though the short answer is that we don't support that for now,
and as far as I know nobody has proposed it.

On Thu, Oct 19, 2017 at 3:58 AM, June Rhodes <notifications@github.com>
wrote:

[2017-10-23 05:54] likunbyl opened #54381 "node dead because of context deadline exceeded"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

kubectl exec -it $pod /bin/bash -nnamespace stuck there.
and login to the node , 'docker kill $id' can't kill that container either.

logs full of the following messages:

[code]

and restart docker.service bring the node back to normal.

**What you expected to happen**:
node doesn't get stucked.

**How to reproduce it (a

[2017-10-23 06:01] daggerok commented on #15180
yeah, it would be nice to have service port forwarding.. these days with minikube when `minikube service web-app` or `minikube service web-app --url` doesn't work, I'm using  pods port forwarding:

terminal:

[code]

browser / client:

[code]

[2017-10-23 06:09] likunbyl commented on #54381
/sig node

[2017-10-23 06:14] shashidharatd commented on #35637
Hello nick,
Here is design for federated service. You will get all the scenarios documented there and also the implementations.
Coming to this issue, there is a technical limitation to the design vs reality in how the AWS load-balancers are implemented.

[2017-10-23 07:20] daviddang91 commented on #53725
I fixed this issue as below:
`newgrp lxd`
`usermod -G lxd ubuntu`

[2017-10-23 07:23] andyzhangx commented on #54149
@vladi-dev I may insert a nil check statment in this func:
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_dd/azure_mounter.go#L45-L52
But I need to reproduce this bug anyway, so that I could find the root cause of this issue, thx.

[2017-10-23 07:28] #39391 closed

[2017-10-23 07:48] sttts commented on #54003
Closing.

[2017-10-23 07:48] #54003 closed

[2017-10-23 07:51] sttts opened #54383 "Tag client-go 5.0.1"
With 5.0.0 based on 1.8.0 instead of 1.8.1 we missed security critical fixes: https://github.com/kubernetes/kubernetes/pull/53443.

/cc @liggitt

[2017-10-23 07:52] sttts commented on #54383
As the api objects changed this is actually 5.1.0. Semver is complicating.

[2017-10-23 07:55] Colstuwjx opened #54384 "[Feature Request] Support disk quota for docker runtime"
As docker already support `docker run --storage-opt size=1G xxx` such way to limit container disk usage, it would be better if k8s introduced this feature.

On the other hand, it also would be OK if k8s support pass `--storage-opt` in `containers` spec.
Thanks.

[2017-10-23 07:59] Colstuwjx commented on #54384
/sig area/docker

[2017-10-23 08:03] razvan-miron commented on #18785
Same here.
Running 3.6 release with AWS persistent storage on the monitoring.

(combined from similar events): Failed to attach volume "pvc-xxxx" on node "ip-xxx-xxx-xxx-xxx.eu-west-1.compute.internal" with: Error attaching EBS volume "vol-xxxxxx" to instance "i-08dd5042d2a91f64a": VolumeInUse: vol-xxxx is already attached to an instance status code: 400, request id: xxxxx. The volume is currently

[2017-10-23 08:06] k82cn commented on #54384
/sig node

[2017-10-23 08:06] k82cn commented on #54384
/kind feature

[2017-10-23 08:07] #53428 closed

[2017-10-23 08:15] zxpower commented on #49835
Kubernetes version (use kubectl version): 1.8.1
Cloud provider or hardware configuration**: Bare metal
OS (e.g. from /etc/os-release): CoreOS/Container Linux 1465.8.0
Kernel (e.g. uname -a): 4.12.14-coreos
Flannel: 0.9.0
Etcd: 3.0.17

We're running small 4 node (1 master. 3 workers) bare metal cluster that I'm preparing for production. Before this weekend nodes were crushing randomly, but on last

[2017-10-23 08:17] hzxuzhonghu commented on #54381
seems docker issue

[2017-10-23 08:18] #49245 closed

[2017-10-23 08:36] tianshapjq commented on #53672
@derekwaynecarr hi, I am confused by the tests I've made, which seems the "HugePages should be restricted via LimitRange" has already been done.
I created the LimitRange as below:
_apiVersion: v1
kind: LimitRange
metadata:
  name: mytest
spec:
  limits:
  - default:
      hugepages-2Mi: 40Mi
    defaultRequest:
      hugepages-2Mi: 40Mi
    type: Container_
and the pods created by the following ya

[2017-10-23 08:44] phucvinh52 commented on #53492
i have same the problem with kubernetes version 1.7.7 and remove `--enable-controller-attach-detach=false` it work again :D.

[2017-10-23 08:57] theobolo commented on #43516
As discussed on https://github.com/Azure/acs-engine/issues/863#issuecomment-338576088, the bug is gone since Saturday night (France), anyone can confirm here ?

[2017-10-23 09:23] DanielJosefKrueger opened #54388 "ner fiel locatio docker"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-10-23 09:24] #54388 closed

[2017-10-23 09:32] dixudx opened #54390 "kubectl does not display pod status correct when status.reason is NodeLost"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli
/assign

**What happened**:

For such a pod,

[code]

kubectl get pod will show

[code]

**What you expected to happen**:
The `status.reason` is `NodeLost`, it should display `NodeLost` instead of `Unknown`.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Ku

[2017-10-23 10:21] dixudx commented on #54368
/assign

[2017-10-23 10:35] kpichardie commented on #42542
Same here, I have issue in resolving external services due to ndots pretty high, and unfortunately we can't pass options to kubelet. Would be much appreciated.

[2017-10-23 10:52] k82cn commented on #54297
Append UT coverage here:

[node.html.gz](https://github.com/kubernetes/kubernetes/files/1406751/node.html.gz),
 [node_scheduler.html.gz](https://github.com/kubernetes/kubernetes/files/1406750/node_scheduler.html.gz)

[2017-10-23 11:06] nikhita opened #54398 "Add README and LICENSE to staging"
From https://github.com/kubernetes/kubernetes/pull/54293#issuecomment-338594244 and https://github.com/kubernetes/sample-controller/pull/1#issuecomment-338594424, we should use the staging files instead of having some files authoritative in the external repo. Otherwise, we complicate the publishing process as it has to know which files come from the latter.

`README.md` and `LICENSE` are authorita

[2017-10-23 11:06] nikhita commented on #54398
/sig api-machinery

[2017-10-23 11:16] spradeepv commented on #47723
Sorry for the late reply. @bowei may I know how to create a e2e test reduction?

[2017-10-23 11:17] spradeepv commented on #47723
I was also thinking of a solution, where we can add a rule for each service which will restrict access to ports other than the service port and nodeport.

[2017-10-23 11:21] shyamjvs commented on #51099
Reopening this issue as we're seeing this again since last friday. All our large cluster tests (>= 100 nodes) are failing with:

[code]

PR https://github.com/kubernetes/kubernetes/pull/53128 updated the grpc dependency and that seems to break it.
We should revert it and bump it only when etcd is also bumped as pointed out in the above comment.

cc @dixudx @caesarxuchao @wojtek-t

[2017-10-23 11:21] kensupermen commented on #44665
I having this issue. I can't find `admin.conf`

[2017-10-23 11:23] sttts commented on #54398
It also creates confusion that some files are authorative in the published repos. Moreover, we cannot switch to an absolute publishing algorithm (easily) that doesn't work with cherry-picks. The former is considerably simpler than what is implemented in 700 lines of bash in https://github.com/kubernetes/test-infra/pull/4134.

[2017-10-23 11:25] k82cn commented on #54370
@greenboxal , would you help to share pod, PVC yamls?

[2017-10-23 11:26] spradeepv commented on #47723
Something like this:
Initialize only once:
	sudo iptables -t nat -N KUBE-MARK-DROP-SVC
	sudo iptables -t nat -A KUBE-MARK-DROP-SVC -j MARK --set-xmark 0x8000/0x8000
	sudo iptables -t nat -A KUBE-MARK-DROP-SVC -j ACCEPT

Upon creation of each service:
   sudo iptables -t nat -N <SERVICE-NAME_NAMESPACE>
   sudo iptables -t nat -I PREROUTING --destination <ExtIP> -j <SERVICE-NAME_NAMESPACE>
   sudo i

[2017-10-23 11:38] shyamjvs commented on #52292
@bowei I'm assigning this to you for remaining improvements. Feel free to redirect as apt.

[2017-10-23 11:56] k82cn commented on #24246
Sorry for the delay. I'm thinking the interface for Predicates :).

[code]

Regarding the performance/throughput, there's still some room for us to improve without parallel, e.g. in https://github.com/kubernetes/kubernetes/issues/42002#issuecomment-306106033 , the time is reduced from **10+m** to **~160s** for 50k Pods on 5k nodes (NodeAffinity predicates), I just removed duplicated selector valid

[2017-10-23 12:01] k82cn commented on #54313
I think `kubelet` should get the max process number from OS, and report it as a resources (we already has pod number configure for pod). We need to reserved some for system daemons.

[2017-10-23 12:02] deads2k opened #54404 "Authentication for webhook admission to heterogenous authentication domains"
Like other existing webhooks in kubernetes, the admission webhooks need to be able to authenticate to systems in different authentication domains.  This is true for all API servers, kube-apiserver and extension apiserver alike.  Here's a picture.

![img_20171023_070323](https://user-images.githubusercontent.com/8225098/31887687-4c6ef8b6-b7c7-11e7-8d59-cdd1cea79fbe.jpg)

To achieve this and maintai

[2017-10-23 12:02] nikhita commented on #54398
Addition of files to staging repos: https://github.com/kubernetes/kubernetes/pull/54399.

Removal of files from published repos:

1. api - https://github.com/kubernetes/api/pull/9
2. apiextensions-apiserver - https://github.com/kubernetes/apiextensions-apiserver/pull/18
3. apimachinery - https://github.com/kubernetes/apimachinery/pull/28
4. apiserver - https://github.com/kubernetes/apiserver/pull/

[2017-10-23 12:07] superbrothers commented on #48575
You need to source bash-completion from either `/etc/bashrc` or `~/.bashrc`. See `kubectl completion -h` for more details.

[code]

[2017-10-23 12:24] kad opened #54407 "kubectl attach: client-go does not respect CIDRs in NO_PROXY"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

 /kind bug

**What happened**:

[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:
- run k8s cluster in environment where there is no direct access to internet, thus http proxies are used.
- make sure that http proxy can't connect to your cluster IPs (proxy serves only externa

[2017-10-23 12:48] MaciekPytel commented on #47511
@agolomoodysaada I can help with general guidance and review if required. It's better to move the discussion about details to autoscaler repo though: https://github.com/kubernetes/autoscaler/issues/133.

Also feel free to ping me on slack if you want to have a quick chat about it (warning: I'm in central european timezone).

[2017-10-23 12:48] thomas-riccardi commented on #52336
@dashpole @derekwaynecarr ping: shouldn't we reopen this issue for other impacted storage drivers? cf https://github.com/google/cadvisor/pull/1770#issuecomment-336259929

[2017-10-23 12:50] r7vme commented on #51835
For some it might help. We are running kubelet in docker container with `--containerized` flag and were able to solve this issue with mounting `/rootfs`, `/var/lib/docker` and `/var/lib/kubelet` as shared mounts. Final mounts look like this

[code]

For some more details. This does not properly solve the problem as for every bind mount you'll get 3 mounts inside kubelet container (2 parasite). But

[2017-10-23 13:16] likunbyl commented on #54381
$ docker version
Client:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   d5236f0
 Built:        Tue Feb 28 00:07:14 2017
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   d5236f0
 Built:        Tue Feb 28 00:07:14 2017
 OS/Arch:      linux/amd64

[2017-10-23 13:17] ScorpioCPH opened #54412 "[Proposal] Stub Device Plugin for E2E Test"
# Stub Device Plugin for E2E Test

Kubernetes now supports `Device Plugin` in v1.8.0, but it is still an `Alpha` feature. We need to build stub Device Plugin for e2e test to stabilize this feature.

# Requirements

The stub approach of Device Plugin should:

- Ensure a consistent and reliable behavior of Device Plugin
- Be flexible to use and easy to config
- Be OS independent to run on most test

[2017-10-23 13:18] ScorpioCPH commented on #53497
@vishh @jiayingz [[Proposal] Stub Device Plugin for E2E Test](https://github.com/kubernetes/kubernetes/issues/54412), PTAL.

[2017-10-23 13:20] ScorpioCPH commented on #54412
/sig node

[2017-10-23 13:32] kad commented on #54407
/sig api-machinery

[2017-10-23 13:57] k82cn commented on #50416
it should be fixed by other PR; would you try with the latest code :).

[2017-10-23 13:59] tadas-subonis commented on #50416
I've found that I've had this issue because I was not able to connect to
etcd :).

On Mon, Oct 23, 2017 at 3:58 PM, Klaus Ma <notifications@github.com> wrote:

--

Kind Regards,
Tadas Šubonis

[2017-10-23 14:02] timothysc commented on #54318
I'm a +1 for consolidating the data, but I question the long term utility of using the api for what are essentially command line args vs. a versioned config file.

/cc @mikedanese

[2017-10-23 14:09] shashidharatd commented on #35637
missed the link https://github.com/kubernetes/community/blob/master/contributors/design-proposals/multicluster/federated-services.md :)

[2017-10-23 14:54] rootfs commented on #54376
@wenjun1 `-m discoverydb` module is to set up discover level CHAP config, and `-m node` is for session level CHAP.

Nova doesn't support target discovery CHAP? @mtanino

[2017-10-23 15:02] kow3ns commented on #54096
1. If we do this, I think we should use deterministic (based on Node name) naming to ensure that the API server records at most one Pod per Node per DaemonSet. This is a straight forward approach, and it is consistent with, though not identical to, how we handle idempotent creation for Deployment, ReplicaSet, StatefulSet, and ControllerRevision. This pattern was arrived at after our discussions ab

[2017-10-23 15:09] liggitt commented on #54404
This matches the degrees of freedom needed for all of the following topologies:
* single set of authentication credentials used for all services
* default set of authentication credentials, specific overrides for specific services
* unique set of credentials per service

One nit is that in the absence of `foo.bar.svc`, `*.bar.svc`, and `*`, the config should finally fall back to current-context.us

[2017-10-23 15:11] deads2k commented on #54318
The kubeconfig structs are fairly generic.  I'm not sure we'd bring in the authProvider bits since support for those requires tight integration, but the basic connection information isn't specific.

[2017-10-23 15:27] deads2k commented on #54404
Updated in the pull to do that.

[2017-10-23 15:27] mindprince commented on #53124
/assign
/reopen
The fix was reverted in https://github.com/kubernetes/kubernetes/pull/54400

[2017-10-23 15:27] mindprince commented on #53124
/reopen

[2017-10-23 15:28] mindprince commented on #53124
/unassign

[2017-10-23 16:04] chenww commented on #45419
1. Does restarting any one of docker and kubelet solve the issue?

2. When the issue happens, does docker ps responds normally?
Nope. it hangs. Docker run any container on that node will hang.

Most likely a docker issue for me, not k8s, which is doing the right thing. However, could not find why docker is misbehaving here. All CPU/memory/disk resources is great.

restart docker service will resum

[2017-10-23 16:08] mtanino commented on #54376
@wenjun1 @rootfs

I suppose @wenjun1 is using Libvirt/QEMU built-in iSCSI initiator supported by Nova.
From quick glance of the code, chap authentication is supported for this initiator function but it may be node level and not for target discovery level.
But this functionality provides iSCSI initiator function into Nova itself without iscsiadm, and admin still needs iSCSI target on to another Nov

[2017-10-23 16:12] mbohlool commented on #50957
I did a manual fix for IntOrString to make it `object` in client generators, does it make sense to do the same here?

[code]

[2017-10-23 16:16] cmluciano commented on #53539
Can you please update this issue with your kubernetes server version and what CNI plugin you are using?

It would also me helpful if you can post your pod and service specs (redactions where appropriate)

[2017-10-23 16:16] greenboxal commented on #54370
@k82cn here is it: https://gist.github.com/greenboxal/f360991e4c6ee6130c6655ec9e8287a2

The storage class is just a GP2 EBS.

[2017-10-23 16:30] mkumatag commented on #54407
/assign @kad

[2017-10-23 16:41] dashpole commented on #51745
/kind bug
/priority important-soon

[2017-10-23 17:07] #54407 closed

[2017-10-23 17:16] cblecker commented on #48575
/kind support
/close

[2017-10-23 17:16] #48575 closed

[2017-10-23 17:22] imriss commented on #44694
Could you please post the link to the issue that was re-opened in the [kubeadm repository](https://github.com/kubernetes/kubeadm)? Thanks.

[2017-10-23 17:38] caesarxuchao opened #54423 "API server should return 40x instead of 500 for invalid patch"
Currently the apiserver returns 500 if a patch request contains invalid patch, e.g., if you do `$ kubectl patch -f redis-master.yaml -p feafeczea`, and then check `kube-apiserver.log`, you will see
[code]

The apiserver should either return a 422 (`NewInvalid`) or a 400 (`NewBadRequest`).

/kind bug
cc @kubernetes/sig-api-machinery-bugs

[2017-10-23 17:39] caesarxuchao commented on #54423
/sig api-machinery

[2017-10-23 17:40] jingxu97 commented on #43991
@EVODelavega, as @msau42 mentioned, dynamic provisioning might be easier for your use case. Please let us know if you have any problems with it.
@tereschenkov thanks for your feedback. Do you mind providing more details how you set nfs volume with pvc/pv and without pvc/pv. I want to think a little bit more about these two use cases.

One thing we might need to check is related to pvc request/limi

[2017-10-23 17:45] ericchiang commented on #54404
Why use an on-disk config file instead of dynamically through the API like the rest of the config? A selling point of dynamic admission is that there's no install time configuration (other than enabling the admission plugin). Are you concerned about where to store the creds?

[2017-10-23 17:52] msau42 commented on #43991
Even if you could set a limit on the PVC, it's not going to solve the problem, because Kubernetes does not do any capacity isolation for PVs.  It depends on the underlying volume provider to enforce capacity isolation.

[2017-10-23 17:56] liggitt commented on #54404
Exactly. This is the config for the authentication side of the equation, which cannot be shared among API servers. As config of API servers becomes more dynamic, this could reasonably be made dynamic as well, but it would continue to come from the API server configuration side, not be part of the shared admission webhook API object.

[2017-10-23 17:56] guilhem commented on #51475
We have same problem here with `kubectl create secret generic`.
Even if we specify `--dry-run=true --validate=false`, command fail with `Unable to connect to the server`.

We only want to some files without having to configure a running cluster.

[2017-10-23 18:25] dashpole commented on #52336
@thomas-riccardi I need to take a closer look at `overlay`, but at first glance it looks like both overlay and aufs report correct disk stats.  See [my earlier comment](https://github.com/kubernetes/kubernetes/issues/52336#issuecomment-335649899)

[2017-10-23 18:27] ivan4th opened #54424 "Hyperkube doesn't support --experimental-dockershim for kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubelet has support for running in dockershim-only mode via a hidden flag named `--experimental-dockershim`, but this flag is ignored when kubelet is run using hyperkube binary, e.g. `./hyperkube kubelet --experimental-dockershim`.

**What you expected to happen**:
I expected `--experimental-dockershim` to have the same e

[2017-10-23 18:28] medinatiger commented on #54330
@luxas, kubeadm e2e test still red. Do you have any progress or hint in terms how to fix it forward? Just to clarify, If I install k8s and kubeadm locally using deb, I can repro the issue on my test box. I could believe it's sth wrong with debs. In the meantime, CNI and plug-in like weave-net change is a big deal. We clearly didn't test it thoroughly for this PR. Reverting the change seems to be t

[2017-10-23 18:28] ivan4th commented on #54424
@kubernetes/sig-node-bugs

[2017-10-23 18:29] kevintpeng opened #54425 "POST request returns 422, possibly violating "Name Idempotency""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Sending a POST request twice to the API to create a clusterIP service, whose address is fixed in the configuration, returns an HTTP 422 on the second request. The 422 response is complaining about the already consumed fixed IP address.

**What you expected to happen**:

Based on [Name idempotency](https://github.com/kube