[2015-01-21 19:15] jbeda commented on #3687
It looks like using a proxy with `docker build` is not well supported by docker itself.  See http://stackoverflow.com/questions/22179301/how-do-you-run-apt-get-in-a-dockerfile-behind-a-proxy.

I'd try editing `build/build-image/Dockerfile` to add `ENV` lines for your proxy and see if that works for you.  If that works and enough other users need it, we could perhaps make it a little more streamlin

[2015-01-21 19:40] erictune commented on #3683
We also need to think about how health checking would work in that scenario.  Does the External Load Balancer health check the serviceIP or its individual backends?  If the former, how does it do that?

[2015-01-21 19:52] dchen1107 commented on #3579
Just another brainstorming idea: instead of introducing a init.d script, how about master works like kubelet also taking service / pod configuration from file or a directory of files managed by master?

[2015-01-21 20:01] abonas commented on #3669
so @bgrant0607 if my pod has 5 containers, and I would like to understand their status, I will need 6 requests? (one for pod and 5 more for containers?)
BTW when the resource api will be available?

[2015-01-21 20:04] abonas commented on #3669
I also don't understand from resources.md:
1. does that mean that it replaces the "spec" part of pod? so user needs to define through that api what should be each container resources?
2. how a current utilization of ports, cpu, memory should be queried per container or per pod?

[2015-01-21 20:08] prateekarora151083 commented on #3687
I added
ENV http_proxy <HTTP_PROXY>
ENV https_proxy <HTTPS_PROXY>  in build/build-image/Dockerfile

and it works

Thanks

[2015-01-21 20:15] jbeda commented on #3687
Turning this in to a feature request to make this easier in the future.

[2015-01-21 20:37] bgrant0607 commented on #1487
Don't forget the examples in api/examples.

We'll need to convert all examples to v1beta3: #3671. We could do it then.

[2015-01-21 20:39] thockin opened #3691 "Random values for API types is duplicated"
We have a number of tests which randomize values for API types, and each of them has their own table of functions for "special types" that have limited valid values.

pkg/api/serialization_test.go
pkg/api/validation/schema_test.go
pkg/api/latest/latest_test.go

These should all get folded together.

[2015-01-21 20:40] #2894 closed

[2015-01-21 20:52] thockin commented on #3606
If this is just open for documentation, how does #3628 not cover this?

[2015-01-21 21:00] satnam6502 commented on #3604
Yes, I did some scalability work up to the end of last year and I hope to pick it up again next week. Basic issues:
* Generating > 255 IP addresses. I used a bash function to allow the generation of 1,000 IP addresses. This was written by @jbeda and I have not checked it in because I am not sure if this is really how we want to do it -- it is in a Gist which I can't find anymore.
* I had to do a l

[2015-01-21 21:01] satnam6502 commented on #3604
Also, I would be delighted to co-ordinate on scalability testing and it would be great if we could share as much of the code as possible across providers!

[2015-01-21 21:04] bgrant0607 commented on #3606
IMO, the bigger issue is that our docs are not discoverable. There is some documentation in images.md re. pull policy, but how would anyone find it? I thought I filed an issue that we should link to our docs from the descriptions, but I can't find one, so maybe I'll repurpose this for that.

[2015-01-21 21:05] #3308 closed

[2015-01-21 21:09] jbeda commented on #3604
The gist with the bash IP generation: https://gist.github.com/jbeda/16191ad2cec4835de40b.  It is kind of slow and hack-o-rama but it works.

[2015-01-21 21:16] bgrant0607 opened #3692 "Systematically generate events for object lifecycle events"
Similar to Docker events: create, update, and delete should all generate events.

Inspired by, but distinct from, #3585.

[2015-01-21 21:17] satnam6502 opened #3693 "Improve guestbook.sh end-to-end test to become actual test"
Part of issue #3130.
Re-write test in Go, generate unique names for top level resources, ensure test is idempotent, clean up all resources at end of test.

[2015-01-21 21:19] satnam6502 opened #3694 "Rewrite update.sh end-to-end test in Go"
Part of issue #3130
Re-write test in Go, generate unique names for top level resources, ensure test is idempotent, clean up all resources at end of test.

[2015-01-21 21:21] satnam6502 commented on #3604
I've been using this reliably to instantiate 1,000 node clusters.
Do you think I should check it in as part of the gce kube-up process?
It's annoying having to copy and paste it into a local version each time...

Satnam

On Wed, Jan 21, 2015 at 1:09 PM, Joe Beda <notifications@github.com> wrote:

[2015-01-21 21:22] thockin commented on #3681
The proxier uses chooseHostInterface() just for iptables rules that require
an IP address.  That's not the default bind address.

I'd be happy to see a global change that we bind to all interfaces unless
explicitly told not to, but we need to carefully consider how this might
break people in surprising ways.  Consider that some VMs have an interface
that is exposed publicly.

On Wed, Jan 21, 2015

[2015-01-21 21:24] rgolg commented on #3604
Great timing @satnam6502! Please let me know when you are ready to pick this up. I have been able to bring up a cluster in classic EC2 (non-vpc). I will use the changed version of the CFN template in a VPC in pull request https://github.com/GoogleCloudPlatform/kubernetes/pull/2649 in a single subnet to spin up the initial cluster and will add worker nodes to the cluster until it breaks. I have to

[2015-01-21 21:28] thockin commented on #3640
It would be net simpler, but it would add some non-determinism for things like the service test, which assumes that it will get a hit to each distinct backend within a small number of queries to the service.

We could choose a random seed instead, but that still risks accidental phase-lock between nodes - do we think that is a problem?

[2015-01-21 21:34] satnam6502 commented on #3604
I deployed the kubernetes/pause container because it is very small so we should be able to easily install many of them on each node. Currently the only test is "are they all in the running state?". The next step I propose is to use the kubernetes/serve_hostname container (usually based on scratch with a single statically linked binary although currently this is temporarily not the case) and I thin

[2015-01-21 21:36] satnam6502 commented on #3604
Also, I had planned to do some testing on Amazon myself at some point. If running 1,000 nodes is going to be too expensive for you then once you have a setup that I can easily replicate then I offer to run the larger scale tests for you.

[2015-01-21 21:38] brendandburns commented on #3681
Yeah, in particular in GCE we definitely _don't_ want to bind to 0.0.0.0

--brendan

On Wed, Jan 21, 2015 at 1:23 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-21 21:40] thockin commented on #3681
Sorry, why not 0.0.0.0 in GCE?

On Wed, Jan 21, 2015 at 1:39 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-01-21 21:48] rgolg commented on #3604
That sounds great! I'll work on a script for adding nodes to an existing cluster running in AWS this week. I've forked the project so I'll probably put any new scripts I create into the aws folder in the documentation section of my fork so that you can create the VPC with a single subnet using cloudformation, then use a simple aws_worker_node_deployer.sh bash script which I'll create to spin up an

[2015-01-21 21:49] thockin commented on #3676
FWIW, I think that showing the result of the selector as part of Service
and ReplicationController status would be good UX.

On Wed, Jan 21, 2015 at 7:56 AM, Brian Grant <notifications@github.com>
wrote:

[2015-01-21 21:53] thockin commented on #2259
What I proposed here would not actually pass the ping on to the master, but answer it locally.  This would allow you to know that a service was "available" but not whether the backends were actually alive.

The cost of this is 2x as many iptables rules to run through linearly for each outbound packet.  

[2015-01-21 21:54] brendandburns commented on #3681
because if the machine is on the external internet, it will be available on
the external internet.  (assuming firewall rules for the port) which is
unexpected, and likely unwanted.

--brendan

On Wed, Jan 21, 2015 at 1:41 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-21 21:54] satnam6502 commented on #3604
For GCE, I just modify cluster/gce/config-default.sh to change the number
of instances and I also modify it using Joe's script for generating lots of
IP addresses. Then I just do a regular cluster/kube-up.sh (after having
made many modifications to cluster/gce/util.sh for robustness -- that's
where most of the retry logic is).

Satnam

On Wed, Jan 21, 2015 at 1:49 PM, Reza Golgoon <notifications@g

[2015-01-21 21:55] rgolg commented on #3604
Got it. Thanks. I'll take a look.

[2015-01-21 22:00] thockin commented on #3681
Maybe I am misunderstanding you.  GCE machines are not "on the external
internet" the same way Digital Ocean machines are.  For GCE, how does
binding to eth0 differ from binding to 0.0.0.0?  If you have an external IP
and the firewall is open, I see no functional difference...

On Wed, Jan 21, 2015 at 1:54 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-01-21 22:02] thockin commented on #3665
There are a lot of things that are built and pushed as docker images one
time, and then left to bit-rot.  Maybe we can extend the build scripts to
run through them and at least ensure they build?

On Wed, Jan 21, 2015 at 7:17 AM, Brian Grant <notifications@github.com>
wrote:

[2015-01-21 22:03] brendandburns commented on #3681
Hrm, actually, I think you might be right.  Binding to 10.x will put you on
the external internet on GCE...

sorry for the noise.
--brendan

On Wed, Jan 21, 2015 at 2:01 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-21 22:03] bgrant0607 commented on #3676
Problems with this:
* GET of any object MUST be constant time. Either the status would be precomputed and stale, or we need to index the reverse lookups, which we plan to do, but it isn't done. And, it would still be racy.
* I want the Pod API on Kubelet to be THE SAME as the Pod API on the API server (#2483), and for it to populate the Pod status (#2726). It won't know about services unless it qu

[2015-01-21 22:10] thockin commented on #3676
One of us is mis-parsing.  I don't want to know which replication
controllers a pod is under, I want to know which pods are under a
replication controller.

I'd be fine with the status being precomputed, if we thing a label
evaluation is too slow in real time.  It's guaranteed to be stale by the
time a user reads it, we'r just making that window a little wider.

The kubelet API knows nothing of re

[2015-01-21 22:16] bgrant0607 commented on #3676
Oh, right, me. Well, the problem with THAT is the size of the list. We could include a link to the list query that would give you the pods.

[2015-01-21 22:18] filbranden opened #3696 "Rewrite liveness.sh end-to-end test in Go"
Part of issue #3130.

Re-write test in Go, generate unique names for top level resources, ensure test is idempotent, clean up all resources at end of test.

I'm taking this one now.

@satnam6502 @zmerlynn

[2015-01-21 22:25] thockin commented on #3676
I think worrying about the list size is premature.

On Wed, Jan 21, 2015 at 2:17 PM, Brian Grant <notifications@github.com>
wrote:

[2015-01-21 23:07] derekwaynecarr commented on #3676
I don't see a pre compute problem here.  If I understand the request, they just want a link rel to follow that would be the default lookup.  In this manner, their UIs just follow the links rather than them doing manual URL construction.

Sent from my iPhone

[2015-01-21 23:14] bgrant0607 commented on #3667
/cc @satnam6502

[2015-01-21 23:20] bgrant0607 commented on #3667
TestKubernetesROService is almost always failing now. Not sure if it's the conversion to Go or the randomization of tests, or the rate-limiter broke.

[2015-01-21 23:21] dchen1107 opened #3698 "Make sure images used for demo and examples have tag"
We recently updated some images we are using to have proper tag / version, such as cadvisor, fluentd-elasticsearch etc. But there are still having a lot of images without tag.

[code]

[2015-01-21 23:33] satnam6502 commented on #3667
I think it has always been a Go test so it did not undergo any conversion
and I don't think it has changed for a while. The shuffling of testing
probably makes this failure non-deterministic. The test itself just makes
on GET call so it is not API intensive. However, we could be robust about
GETs that fail (in the short term) and implement proper retry in the client
(in the medium term).

Satnam

[2015-01-21 23:57] bgrant0607 commented on #3676
@thockin I disagree. It's not a scalable pattern. A link to the query is far preferable to a list of links to the pods. Then, the solutions we develop to deal with long lists will just work.

[2015-01-22 00:02] pmorie commented on #1768
@bgrant0607 let me add some detail to the above comment:

There a couple use-cases that we've mixed in this issue, let me try to decompose them as follows:

1.  As a user, I want to declare that my pod has a dependency on some service X, and for my pod not to be started until service X exists and is **usable/ready**
2.  As a user, I want to declare that my pod has a dependency on some service X, a

[2015-01-22 00:33] dchen1107 commented on #3686
This issue affect heapster collecting resource usages for running pods.

[2015-01-22 01:10] zmerlynn commented on #3665
+1. We shouldn't have code in the codebase that isn't built, or it will
just bitrot.

On Wed, Jan 21, 2015 at 2:03 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-22 01:17] satnam6502 opened #3702 "Return a Retry-After field when rate limit is exceeded."
Returning a `Retry-After` field along with service unavailable when rate limits are exceeded allows for automatic retries. This should make our end-to-end tests much more robust since currently we run into frequent rate limit problems.

[2015-01-22 01:18] satnam6502 commented on #3702
FYI, @bgrant0607 @brendanburns
I have a PR in preparation for this: just testing now.

[2015-01-22 01:24] satnam6502 commented on #3702
Another thing that might be useful is for the rate limiter to write out every minute or so the number of token that were available every second or so to give an idea of the pressure on the API server, or a moving average of the QPS received. Perhaps we could also log each service unavailable response due to rate limits.

[2015-01-22 01:28] bgrant0607 commented on #3702
Dupe with #3667

[2015-01-22 01:29] bgrant0607 commented on #3692
Also needed in order to replace operations: #3644

[2015-01-22 02:12] nikhiljindal commented on #1052
I looked at https://github.com/Skookum/SwaggerToMarkdown.
The last update to that project is more than 2 years old and it does not look like it is actively maintained.
Also there is no documentation regarding the files it requires (resources and parameter files). I looked at the sample parameters file there and it does not look like something that is generated by swagger for us. Seems like we will

[2015-01-22 02:46] dchen1107 commented on #3686
Part of issue is caused by #3664, which cause cadvisor pod failure, and @thockin has a pending pr #3701 fixing it.

I also double checked, and the issue is NOT in release-v0.9.

[2015-01-22 03:20] smarterclayton opened #3705 "events.StartRecording can't be used from binaries with multiple components"
StartRecording is currently static, and only accepts one source for an entire process.  For controller-manager or OpenShift, it would be better to create a recorder for a source and then pass it around rather than using a static reference.  Not a huge issues now, but in deployments where components are colocated it's a limitation.

[2015-01-22 03:21] smarterclayton commented on #3705
The other option is to never get a meaningful source from an event, but that's not a great option.

[2015-01-22 06:12] Fandekasp opened #3708 "pod containers local network"
Considering a controller running 2 replicas for a pod using a rabbitmq container and a webservice container. Let's say replica 1 has containers mq1 and web1, and replica 2 uses mq2 & web2.

How can I make sure that web1 will connect to mq1 and mq1 only ? using the service POD_SERVICE_HOST could redirect web1 to either mq1 or mq2.

Shouldn't there be an environment variable for containers within th

[2015-01-22 06:15] thockin commented on #3708
The "variable" you want is "localhost".  Containers in a pod share a network namespace.

[2015-01-22 06:20] Fandekasp commented on #3708
got it, had forgotten about it. Thanks!

[2015-01-22 06:23] pmorie commented on #3705
@smarterclayton I imagine that the current call sites of `record.Eventf` could be modified to use the interface:

    // not the greatest name, just making a distinction between record.EventRecorder
    type EventContext interface {
        Event(object runtime.Object, message, reason string)
        Eventf(object runtime.Object, reason, messageFmt string, args ...interface{})
    }

A few thought

[2015-01-22 06:39] thockin commented on #3676
I'll take either one, but we can agree to disagree.  A JSON object with
1000 or 10000 lines of "pod-id" or "ip:port" is not too unreasonable.  I
guess I was assuming it would be a list of Ids or links, and not the full
body of each pod.  a link to a query sounds plausible, too.

On Wed, Jan 21, 2015 at 3:57 PM, Brian Grant <notifications@github.com>
wrote:

[2015-01-22 06:41] thockin opened #3709 "Need validation for annotations"

[2015-01-22 06:55] bgrant0607 commented on #3708
localhost isn't working for some reason.

* connection error: http://sprunge.us/faeB
* pod: http://sprunge.us/ZbBN
* connection reset: http://sprunge.us/SBeb
* docker ps: pause exists: http://sprunge.us/UPfd
* rabbitmq log: http://sprunge.us/eOVh

[2015-01-22 06:56] Fandekasp commented on #3708
cloud provider: AWS
OS: CoreOS 557.0.0
Kubernetes v0.8.0

[2015-01-22 07:12] thockin commented on #3708
Docker inspect everything.

Run netstat inside the container?

How "localhost" could not work is beyond me.

On Wed, Jan 21, 2015 at 10:57 PM, Adrien Lemaire <notifications@github.com>
wrote:

[2015-01-22 07:33] bgrant0607 commented on #3708
I get the connection failure even from within the rabbitmq container:
[code]

[2015-01-22 07:45] bgrant0607 commented on #3708
netstat inside the rabbitmq container:
[code]

[2015-01-22 07:46] bgrant0607 commented on #3708
[code]
curl localhost:15672 works. This container isn't listening on 5672.

[2015-01-22 08:13] satnam6502 opened #3710 "Go tests share one client causing rate limits to be exceeded"
The Go end to end tests share one client and this often causes the rate limits to be exceeded and the end to end tests to fail (the shell tests have a client per invocation of `kubectl`). We should change the Go tests to use a fresh client for each test. This would also help to identify individual tests that exceed rate limits. Related to #3667 @bgrant0607 @filbranden @zmerlynn @roberthbailey

[2015-01-22 08:21] bgrant0607 commented on #3708
The rabbitmq log says:
[code]
Note that the [ampq protocol](http://www.rabbitmq.com/resources/specs/amqp0-9-1.pdf) isn't http, so I wouldn't expect curl to work on the message queue port.

Port 25672 is apparently RABBITMQ_DIST_PORT.

Not sure why rabbitmq is not listening on 5672 when its logs say it should be. Maybe the weird hostname we set?

[2015-01-22 09:10] abonas commented on #3676
@thockin  @derekwaynecarr  indeed just to confirm - you got this right :)
 This is NOT about getting from pod which service/rc "stalks" it, but rather getting from each service and each rc the pods they're after.
I think it's logical to get it from the api, and will minimize race conditions of changed entities/labels/selector like what @simon3z mentioned in #3623.

[2015-01-22 09:24] abonas commented on #3676
btw, getting the pod uids is enough, no need in full body of pods, since they are retrieved separately anyway.

[2015-01-22 10:32] Fandekasp commented on #3708
It seems like my problem was unrelated. My script was doing a basic_ack to the wrong rabbitmq server, hence future messages couldn't be processed.

I think we can close this ticket again

[2015-01-22 12:45] abonas opened #3711 "clarifications needed on REST v3 node entity"
I'd like to get clarification on the following json sections representing a node:

  "spec": {
    "capacity": {
      "cpu": "1",
      "memory": "3Gi"
    }
  },
  "status": {
    "hostIP": "127.0.0.1",
    "conditions": [
      {
        "kind": "Ready",
        "status": "Full",
        "lastTransitionTime": null
      }
    ]
  }

1. what does 'spec' mean here? those are original parameters t

[2015-01-22 13:26] abonas opened #3712 "Is there any meaning to a service with an empty selector?"
For example, kubernetes-ro service appears with empty selector (this service was created by the hack/local cluster)  - is that ok? What meaning such service has if it has no entity to fwd traffic to?

[2015-01-22 14:58] itamarh commented on #3669
@bgrant0607 - Can you please provide an example of how one would get the usage statistics of a pod / its container's using this resource approach? say, cpu/ram usage polled every few minutes? thanks.

[2015-01-22 15:06] bgrant0607 opened #3714 "Validate URL parameters"
Forking from #1052.

We need to document URL parameters in the API.

Also, currently invalid URL parameters are silently ignored, making them error-prone. We should return an error for bogus URL parameters.

/cc @nikhiljindal

[2015-01-22 15:24] filbranden commented on #3696
@rrati who is also interested.

[2015-01-22 15:26] bgrant0607 commented on #3669
@abonas Exact API is being worked out now. There is also a prototype, not plugged into apiserver yet. We're working on it, but no specific ETA at this point.

The new resource spec will replace the cpu and memory fields of the container specification.

@itamarh One would get the pod, and then get the resource object(s) referred to in the pod's status. For periodic changes, we may make a way to wat

[2015-01-22 16:25] smarterclayton commented on #1698
Adding the comment here so I don't forget: one option for setting selectors on services and replication controllers is to have a way to have them default to the labels on the service or RC (exact).  The problem would be indicating you want "all pods" which we don't have a concrete implementation of in the query selector syntax yet, until the advanced selector syntax is part of the api.

[2015-01-22 17:06] itamarh commented on #3669
@bgrant0607 I thought the resource objects are more definition/policy like, say, like flavours/instance types for VMs. but if they are used for dyanmic stats, its really like a separate table for statistics you would be pointing at a specific, different, resource for each container? since this means the resources are just specific instances for each container, would they keep their identifier thro

[2015-01-22 17:23] filbranden commented on #3693
@brendanburns @jbeda

What should we do about this test? The current test in `hack/e2e-suite/guestbook.sh` only brings up the guestbook but doesn't even confirm that it is up or tries to connect to any of the ports...

Was the point of that test case to test `kubecfg`/`kubectl`?

Does it make sense to rewrite this test in Go or do we already have more test coverage from e.g. `test/e2e/basic.go`?

[2015-01-22 17:30] thockin commented on #3712
kubernetes and kubernetes-ro are currently "virtual" - they are not backed
by running pods, but by the master itself.

On Thu, Jan 22, 2015 at 5:27 AM, abonas <notifications@github.com> wrote:

[2015-01-22 17:34] thockin commented on #3676
What's your thoughts on getting a list of IDs vs getting a link to a query?

On Thu, Jan 22, 2015 at 1:25 AM, abonas <notifications@github.com> wrote:

[2015-01-22 17:34] bgrant0607 commented on #1698
@smarterclayton I agree. I like that it would remove the need for detailed schema knowledge from the client.

What do you mean by "all pods"?

[2015-01-22 17:38] bgrant0607 commented on #3708
Glad you figured it out.

[2015-01-22 17:38] #3708 closed

[2015-01-22 17:49] satnam6502 commented on #3693
How about a functional test that inserts some names and tries to retrieve them i.e. enough to know that the service has basic functionality?

[2015-01-22 17:54] sub-mod commented on #3681
@thockin @brendanburns Just want to confirm that : defaulting 0.0.0.0 Address as PublicAddress is much better than picking the first NIC IP which could be anything docker/virtbox/virbr0/ ?

[2015-01-22 17:55] #3543 closed

[2015-01-22 18:01] bgrant0607 commented on #3676
Our objects are loosely coupled by design. A link to a query is reasonable. A list of pod references is not.

I'm going to cite the service redesign issue #2585, to ensure I don't forget about this.

[2015-01-22 18:05] smarterclayton commented on #1698
Sorry, *global* selector (service that includes all pods in a namespace).

[2015-01-22 18:22] dchen1107 commented on #3584
The issue is caused by #3242, and affect both v0.8 and v0.9 release for standalone kubelet to support old format ContainerManifests.

[2015-01-22 18:28] alex-mohr commented on #3636
I think this is a great case where a specific example would help.  What would it take to use Kubernetes to run a public web server on e.g. GCE or AWS?  If Kubernetes exposes config for load balancers, it would seem odd to exclude required dependencies.

[2015-01-22 18:32] smarterclayton opened #3718 "Calling 'kubectl delete <random-word>' should not return 0"
ResourceArgsOrType is probably the culprit in ResourceBuilder.

[2015-01-22 18:45] bgrant0607 commented on #834
Reopened since it still needs to be removed.
/cc @jlowdermilk

[2015-01-22 18:46] bgrant0607 commented on #2573
@MikeJeffrey By the end of today, kubectl will have all the necessary functionality to fully replace kubecfg. Certainly the syntax is settled. I'd like to move forward with updating all the docs.

[2015-01-22 18:52] thockin commented on #3584
Ugh, I thought ID was really required.  I spoke with Dawn a bit, and here's my thinking.

1) update all our docs and examples to include ID
2) in file and HTTP config sources, check for Name = "" and apply a default, maybe log a warning that this is deprecated
3) wait for the ContainerManifest -> Pod conversion to really make it required

[2015-01-22 18:53] timothysc commented on #2770
+1 @brendanburns

+tracking, and interest.

[2015-01-22 18:55] brendandburns opened #3721 "We don't appear to clear the pod cache on pod delete"
Repro:
  * Create a pod name ```foo```
  * Wait for a while
  * Get pod info for ```foo```
  * Delete pod ```foo```
  * Create another pod named ```foo```
  * Immediately get pod info
  * Info for pod is old info, not current info
  * Wait for a while
  * Pod info changes.

[2015-01-22 18:57] thockin commented on #3636
Opening firewall for loadbalancers is one thing.  Opening firewalls for
anything else is suspect, IMO

On Thu, Jan 22, 2015 at 10:28 AM, Alex Mohr <notifications@github.com>
wrote:

[2015-01-22 18:58] erictune commented on #3585
@brendandburns suggested using a "finalizer" for allocating IP addresses in issue  #3435

[2015-01-22 19:00] thockin commented on #3681
I *think* so, but we need to carefully consider the implications.  I saw
your PR and will take a look.  We might want to do this one binary at a
time so we can think deeply about what could go wrong.

On Thu, Jan 22, 2015 at 9:55 AM, sub-mod <notifications@github.com> wrote:

[2015-01-22 19:11] thockin commented on #1553
I don't think there's a design issue open for this, but my general feeling
comes down to a few things:

* Anything you can do without privileges (e.g. git clone) should not be run
by privileged things (e.g. kubelet)

* Anything that consumes resources (e.g. running a process periodically)
should run inside a user's pod

* Composable is good, monolithic is bad

* SPOF is bad

All of those things sa

[2015-01-22 19:20] bgrant0607 commented on #834
Doh. Didn't mean to declare this fixed in that PR.

[2015-01-22 19:26] erictune commented on #3692
With the "finalizer" pattern mentioned in #3585, if each "finalizer" process has an "identity" (as discussed most recently by @smarterclayton in #2297), then the update by a finalizer could perhaps cause an event to be generated in the apiserver rather than by the finalizer.

Event has these properties:
[code]
The apiserver knows all those things except reason and message.
And somewhere there is a

[2015-01-22 19:38] erictune commented on #3585
Finalizers need to be replicated for availability.  When one fails, or is overloaded, the others need to pick up the work it was doing without leaving anything forgotten.

In some cases, there may be multiple finalizers that could work on an object.  We could impose a specific ordering.  But if one is not necessary, we could allow them freedom to work in an arbitrary order.  But they need to not w

[2015-01-22 19:48] jainvipin commented on #3585
Thanks @erictune for putting this proposal up for review

+1 for the use cases discussed here, especially admissions control and networking related  (custom ip allocation, setting up vlans/bridged-networks, etc.)

For my clarification, on implementation of these hooks, if they are expected to be:
- Implemented via a well extensions/plugins (i.e. foreign code that runs as a part of the aforemention

[2015-01-22 20:06] dchen1107 commented on #3393
The initial issue was fixed by #3642, and close this one.

[2015-01-22 20:06] #3393 closed

[2015-01-22 20:09] mrunalp commented on #1615
Created a PR for updating go-dockerclient #3726. Next thing that's blocking me is Fedora 20 not having a recent enough docker package, so I can't test my changes on vagrant setup. I am working with Fedora packaging folks to get that fixed.

[2015-01-22 20:15] ddysher commented on #3711
I'll update the docs. To answer your question:

1. 'spec' defines the attrubutes of a node, including the original params. it's not current status
2, 'conditions' describes the condition of the node, i.e. is it ready to schedule pod, can I reach the node, etc.
3. They have different meanings, see below.
4,5.  'kind' specify the kind of condition, like Ready, Reachable, etc. and status means if the

[2015-01-22 20:19] jlowdermilk opened #3728 "kubectl config not so user-friendly"
Tracking friction points encoutered using ```kubectl config``` commands

```kubectl config set-cluster``` usage string is incorrect; indicates values for server, certificate-authority etc, should be passed as args, but command actually takes them as flags.

Difficult to see which flags are actually important for the command. Default cobra help prints all available flags in one long list, including

[2015-01-22 20:43] abonas commented on #3712
@thockin, if that's internal impl, why is it exposed to user?
let's say a client pulls all entities and builds a UI around it.
then a service with no selector arrives, and it's internal to kube - how the client should know not to present it/touch it? (similar to the "net" container in pods)

[2015-01-22 20:45] thockin opened #3731 "Need consistent printing for Name, Namespace, etc"
From #3729

We should land on one syntax for printing namespace and name (for all sorts of objects) "namespace/name" vs "name.namespace" vs other.

namepsace/name has an advantage when both name and namespace are DNS subdomains: "foo.bar/quux.zorb" is clear, while "quux.zorb.foo.bar" is ambiguous.

If we all agree, we should start enforcing it in code reviews and fixing it up when we find it.

[2015-01-22 20:48] thockin commented on #3712
It's exposed exactly FOR users - so they can find the apiserver.  It has a
corresponding Endpoints object, it gets a portal IP and a kube-proxy rule,
and it gets service env vars and a DNS name.

The fact that it is virtual is an implementation detail.  That it exists is
all users should need to know.

On Thu, Jan 22, 2015 at 12:43 PM, abonas <notifications@github.com> wrote:

[2015-01-22 20:48] thockin commented on #3712
And FWIW, the master components may one day actually be pods...

On Thu, Jan 22, 2015 at 12:47 PM, Tim Hockin <thockin@google.com> wrote:

[2015-01-22 20:51] abonas commented on #3676
@thockin list of IDs are more convenient from a link to query.
why? Because it:
1. saves a redundant request to make the query, the pods are pulled anyway and I can store them with their id as a key.
2. currently the query language is not exposed so it's not clear how it's doable anyway. see #341

[2015-01-22 20:52] abonas commented on #3712
@thockin thanks for the explanation. so any general rule how to distinguish kube pods/services from user defined?

[2015-01-22 20:55] thockin commented on #3712
Do we need to distinguish them?  We could add labels, I guess, if it is really important to distinguish them.

@bgrant0607

[2015-01-22 21:02] abonas commented on #3712
sometimes users would want to see only the things they defined and not implementation details of the system.

[2015-01-22 21:04] thockin commented on #3712
One could argue this is why the users should be using labels.  I'm not
against defining labels for "special" stuff, but it's new territory, so we
should enter with caution.

On Thu, Jan 22, 2015 at 1:02 PM, abonas <notifications@github.com> wrote:

[2015-01-22 21:10] #3584 closed

[2015-01-22 21:11] brendandburns commented on #3712
I think the right answer might be to put them in a special "cluster" or
"system" namespace.

On Thu, Jan 22, 2015 at 1:04 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-22 21:17] brendandburns opened #3734 "kube-proxy appears to have some bad long-tail latency issues"
using redis-benchmark as a test:

with the proxy:
====== INCR ======
  10000 requests completed in 0.67 seconds
  50 parallel clients
  3 bytes payload
  keep alive: 1

1.16% <= 1 milliseconds
8.60% <= 2 milliseconds
72.41% <= 3 milliseconds
95.61% <= 4 milliseconds
98.83% <= 5 milliseconds
99.02% <= 6 milliseconds
99.25% <= 7 milliseconds
99.28% <= 8 milliseconds
99.35% <= 9 milliseconds
99.54% <

[2015-01-22 21:18] rrati commented on #3130
Here's a basic proof-of-concept for using ginkgo:
https://github.com/rrati/kubernetes/tree/ginkgo/test/ginkgo

[2015-01-22 21:20] thockin commented on #3712
See #3293

If we put them in a "kubernetes" ns, the DNS name would be
kubernetes.kubernetes.kubernetes.local :)

I'm not against segmenting them into a different namespace.  We just need
to decide on what that namespace is called, plumb through that
configuration, decide on compatibility for a short while or not, and decide
if that namespace is "special" or just "different" - i.e. should the
skydn

[2015-01-22 21:41] bgrant0607 commented on #3712
@abonas As @thockin said, the services are there for applications that need to contact the apiserver. Additionally, nil selectors can be used by users to import external services.

Adding labels to the kubernetes services won't help. Users need to manage their objects using labels.

/cc @smarterclayton

[2015-01-22 21:45] smarterclayton commented on #3712
Yeah, lots of consumers will expose "special" services.  IN fact, in many clusters the "special" services will outweigh the unspecial ones.  At this point, the namespace they are in is completely arbitrary, and I think because it is a name, it should be free for the end user to choose where they are surfaced.

[2015-01-22 21:46] derekwaynecarr commented on #3712
Per the proposal here: #3613, I think the ```default``` namespace should continue to hold these services, and they require no special labels.  I sense @abonas comment is made without thinking through what Kubernetes operators do to bootstrap a cluster.  I think it's reasonable that ```default``` namespace holds everything you need to run, and operators may or may not choose to segment their data i

[2015-01-22 21:49] thockin commented on #3712
@smarterclayton - I'm not clear on your meaning.  Did you mean that we
should make the "cluster admin" namespace a config param that everyone
knows about and can be different cluster-to-cluster?  Or did you mean that
default is as arbitrary a name as any other?

I'd be fine moving things out of default into "kube" or "kubernetes" or
"cluster" or something, but I am less convinced that a flag is a

[2015-01-22 21:50] derekwaynecarr commented on #3712
@thockin - wherever we stick this stuff, it should be the namespace that is initially bootstrapped, which today is ```default```.  I continue to believe that is as good a name as any other.  I do not see a need to do more here.

[2015-01-22 21:54] smarterclayton commented on #3712
I think as soon as you bring naming into the picture, making decisions based on names gets very tricky (what if I want my logging service to be everywhere?).  If there is a magic namespace that exposes things to the rest of the cluster, we should ask whether there's only one magic namespace, or multiple?  Are services supposed to cross namespaces?  It's great that pods can find the master... but t

[2015-01-22 21:57] thockin commented on #3712
oh, to be clear, I don't want "special" services - I am merely asking if
moving non-user-defined objects (where that is defined very loosely) out of
"default" is worthwhile.  I tend to agree with Derek that it's not worth
energy.

On Thu, Jan 22, 2015 at 1:54 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-01-22 22:04] erictune commented on #3692
If the finalizers lease the objects they want to modify, as mentioned just now in #3538,  then we could automatically generate several kinds of events:
  1. at the start of lease, we know the object is "being worked on" by a component, such as the scheduler.
  2. when the lease ends, it can generate a "work done" event.
  3. if the lease expires without a modification, we could generate an event t

[2015-01-22 22:11] cyberstip commented on #3557
I'm experiencing a similar thing now. I don't believe etcd is running on the master VM, but I don't know where etcd logs to debug why it's not running.

[2015-01-22 22:14] cyberstip commented on #3557
Ah, found it in /var/log/etcd.log.

'fatal error: runtime: out of memory'

I'm on a g1-small, which should have 1.7G of ram. I'm guessing g1-smalls are too small to run a cluster on?

[2015-01-22 22:40] vishh opened #3741 "kube-down.sh fails on v0.9.0"
The bug is in 'teardown-logging' function in cluster/gce/util.sh where the 'PROJECT' variable is undefined.
_/tmp/0.9.0/kubernetes/cluster/../cluster/gce/util.sh: line 832: PROJECT: unbound variable_

This bug has been fixed on HEAD by #3620.

[2015-01-22 22:41] erictune commented on #3712
@smarterclayton agree with you that *lots of consumers will expose "special" services*

We should not use the (namespace + k8s-service + skydns) mechanism for publishing the location of those special services.   We should decouple the choice of namespace to run the pods of the service in from the well-known dns address of special services.

Otherwise, it will be hard to move the pods of the servic

[2015-01-22 22:46] satnam6502 commented on #3741
Do you mean `teardown-logging-firewall` ?
This has a `detect-project` call in it: so I am confused about why the project is not set?

[2015-01-22 22:54] bgrant0607 commented on #2144
All the necessary functionality has been added to kubectl. Now we can complete the removal of kubecfg.

[2015-01-22 23:02] bgrant0607 commented on #3692
Client-specified reason is #1462

[2015-01-22 23:03] dchen1107 commented on #3741
@brendandburns Should we patch 0.9 release with the fix for this issue too?

[2015-01-22 23:10] dchen1107 commented on #3741
Also shouldn't this failure detect by e2e test?

[2015-01-22 23:11] thockin commented on #3712
@etune you open a whole new topic.  I've noodled with the idea of a Name
resource type.  We would generate a Name for each Service as
"service.namespace", but users could also add their own Name resources.

On Thu, Jan 22, 2015 at 2:41 PM, Eric Tune <notifications@github.com> wrote:

[2015-01-22 23:24] filbranden commented on #3696
Implemented in #3715

[2015-01-22 23:24] #3696 closed

[2015-01-22 23:31] filbranden commented on #3130
@rrati Nice!

I'll take a look at it and play with it a little bit. @satnam6502 I think this will also interest you.

One question I have is how to parameterize it, right now I see you're hardcoding `http://localhost:8080` as the master URL, how can we make it so that we'll run against a master in the cloud?

Is there any support for logging? Will ginkgo provide logging primitives so that each tes

[2015-01-22 23:40] zmerlynn commented on #3741
I actually requested a cherry pick of #3601 (for GKE), which would also fix this, yes?

[2015-01-22 23:43] vishh commented on #3741
@satnam6502: Look at the version of gce/util.sh released as part of v0.9.0.
@zmerlynn: Yup. #3601 should fix it.

[2015-01-22 23:59] dghubble commented on #3557
I created a new cluster 2 days ago (I use g1-small too) and started the same pods. As before, it worked for some time and this issue arose again today. After your note, I checked my /var/log/etcd.log on master and see the same out of memory error you see.

I'd need to learn more about the role etcd is playing in Kubernetes and how it is used, but I suspect using a larger instance would just buy mo

[2015-01-23 00:01] jlowdermilk opened #3745 "Make kube-up, e2e tests kubeconfig aware"
Currently, if have an existing cluster that was created via kube-up, running e2e tests squashes the kubernetes_auth and cert files in $HOME.

Now that kubectl can load config from a [.kubeconfig](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubeconfig-file.md) file and provides ```kubectl config``` commands to create/edit said file, kube-up should instead generate a cluster a

[2015-01-23 00:16] erictune commented on #3585
@jainvipin

As @smarterclayton said, we still need to have a more concrete proposal for that, and work on that should wait until after we ship 1.0.

But, if you want to hack something up before then as a proof of concept, with the understanding that we might change our minds, that would be cool.  I suggest that you do the following:
  - make it a separate binary
  - Be synchronous. (details follow

[2015-01-23 00:17] bgrant0607 commented on #3557
I blame events: #3329.

[2015-01-23 00:23] bgrant0607 commented on #3676
The redundancy will be eliminated: #2740.

You can query using labels already. It is even documented:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/labels.md
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/resthandler.go#L158

#341 is not relevant, since services and replication controllers cannot yet utilize the more general form of queries.

[2015-01-23 00:43] bgrant0607 commented on #341
@smarterclayton: @meirf did the implementation work for the generalized selectors. Once we agree on the API changes, I think he or anyone could implement the changes. Removed help-wanted for now.

I removed the 0.8 milestone --  nobody payed attention to the milestones and we are using the priority labels now.

I am an advocate of the generalized selectors, though I'm not aware of any particular u

[2015-01-23 00:52] dchen1107 commented on #3686
I verified it with latest build, and #3701 fixed the issue. And now grafana dashboard works fine too.

[2015-01-23 00:52] #3686 closed

[2015-01-23 00:59] smarterclayton commented on #341
We have some folks looking to make use of the advanced selectors for looking at pods in bulk across fairly deep nesting of labels in several independent deployments.  I'll circle back and get a priority list.

----- Original Message -----

[2015-01-23 01:00] jlowdermilk commented on #3693
+1 to an actual functional test. The service is basic enough, it should be straightforward to do the same POST/GET from go that the js on the guestbook homepage does.

[2015-01-23 01:08] smarterclayton commented on #3718
Nevermind, I already fixed this.... /sheepish

[2015-01-23 01:08] #3718 closed

[2015-01-23 01:11] bgrant0607 commented on #2585
More explicitly (sans json):
[code]
Serialized string syntax would be as here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/labels/selector.go#L325
Though maybe we should remove the space from `not in`, and we could allow exact-match selectors and generalized requirements to be mixed.

[2015-01-23 01:13] bgrant0607 commented on #341
Proposed API: https://github.com/GoogleCloudPlatform/kubernetes/issues/2585#issuecomment-71131565

[2015-01-23 02:55] ddysher opened #3750 "Remove master ip cache or stop querying cloudprovider"
Master used to cache ip address of node, to update pod.status.hostIP; and when cache expires, it is refreshed by querying cloudprovider.

We should stop querying cloudprovider and just get node status; or better yet, remove the master ip cache if necessary.

[2015-01-23 03:20] bgrant0607 commented on #2585
Catching up on other comments, such as https://github.com/GoogleCloudPlatform/kubernetes/issues/2585#issuecomment-70131446

@smarterclayton I agree we should populate DNS by default.

There are a number of ways we could slice this.

RouteSpec and DNSSpec could be combined. No path and no TLS would imply just vanilla DNS. We could even fold them all into PortalSpec, by specifying a host-to-path map

[2015-01-23 03:27] bgrant0607 commented on #2585
@liggitt @smarterclayton @pmorie I'd be in favor of adding a list of schemes to the PortSpec and making that information available in Endpoints. Would be useful for L7, enlightened clients, the UI, a builtin bastion or HTTP proxy for debugging and introspection, and probably other things.

[2015-01-23 03:43] bgrant0607 commented on #2585
Re. https://github.com/GoogleCloudPlatform/kubernetes/issues/2585#issuecomment-70188871

@pmorie What is unique to Services, or Endpoints more precisely, is that the information to be consumed by enlightened clients should be delivered via Endpoints rather than requiring the client to query general runtime parameters separately. There are multiple reasons for this:
1. I want Endpoints to be able t

[2015-01-23 04:15] bgrant0607 commented on #3709
Dupe of #1992

[2015-01-23 04:15] #3709 closed

[2015-01-23 04:18] bgrant0607 commented on #3750
As discussed in #2726 and maybe elsewhere, we should never evict anything from our "caches". This state should be stored in etcd and refreshed periodically.

[2015-01-23 04:23] bgrant0607 commented on #3681
See also #222

[2015-01-23 04:24] bgrant0607 commented on #2585
Ref #3683 for tracking purposes.

[2015-01-23 05:40] thockin opened #3752 "Consider expanding service names"
Filing this so we can revisit.
@satnam6502

Service names (and apparently Namespace names in the client, but not the server) are restricted to DNS 952 labels (24 characters).  Most other API Objects have names that are DNS 1123 subdomains (much longer).

In doing tests it is useful to generate random names, and this is a bit annoying for services.

Can we expand service names?

1) DNS 1035 labels

[2015-01-23 08:18] bgrant0607 commented on #3595
/cc @vishh @rjnagal @vmarmol

[2015-01-23 08:19] bgrant0607 commented on #3578
/cc @MikeJeffrey

[2015-01-23 08:25] bgrant0607 commented on #3515
I'm all for assertions during tests, but beware of sending our components into crash loops in production, especially due to bad inputs/responses from users or from other components, which could be caused by bad release or configuration pushes. In those scenarios, we eventually need to fail gracefully, such as by neutralizing objects triggering the problem: nodes, pods, services, whatever.

[2015-01-23 08:29] rjnagal commented on #3595
We can set a sane default for now. Do we want this to be exposed as a knob
in the spec, or do we prefer a low/high toggle? The only advantage of
toggle is that we can possibly avoid too many jobs with high value landing
on the same machine.

On Fri, Jan 23, 2015 at 12:19 AM, Brian Grant <notifications@github.com>
wrote:

[2015-01-23 12:36] deads2k commented on #3728
Thanks, I'll take a look this afternoon.

[2015-01-23 12:49] derekwaynecarr commented on #3578
The current Vagrant setup is Fedora.

I see no value in changing the distribution and we volunteer the expertise to fix/maintain.

Otherwise, this LGTM.

Sent from my iPhone

[2015-01-23 12:53] derekwaynecarr commented on #3578
I see you updated the original issue text so ignore previous comment.  I had the original issue text in email.

[2015-01-23 13:04] abonas commented on #3712
@bgrant0607  I'd like to understand better your comment regarding nil selectors used to export external services - can you elaborate? give an example? my understanding is that service redirects traffic to pods based on labels. with nil selector service does nothing, so why is it a service in the first place?

@erictune  I'm pro decoupling special services/internal implementation services from user

[2015-01-23 13:12] zmerlynn commented on #3515
My point was simply that offering something like a --debug flag (to
reenable assertions) can sometimes be a benefit to debugging even in
production binaries, and that it offers a simple solution to the problem at
hand, namely that tests always operate in this mode.

It is very coarse debugging at best, but given where we are in the project,
it might actually be the needful thing, too. (I've operat

[2015-01-23 14:24] rrati commented on #3130
I think we could parameterize the tests with ENV variables or whatever method is used for the current e2e go tests.  The porting from those files to ginkgo is pretty simple and straight forward.  It's almost a copy/paste of the test.  Since this was just a POC I didn't take the time to provide a way to change the master URL, but we'd definitely want to be able to run against a cloud, local kube in

[2015-01-23 15:08] ddysher commented on #3750
Yes, but it doesn't make sense to just cache ip, which is only part of node status now.

At least, we should stop querying from cloudprovider, and instead, querying from etcd to refreshe periodically.

[2015-01-23 15:42] smarterclayton commented on #3712
Services abstract backends - they don't have to abstract pods.  Some examples:

* You want to have an external database cluster in production, but in test you use your own databases.  You would have a service for both and use the environment variables, but the production service has a nil selector with its endpoints set to the database cluster.
* You want to have an empty service because you're re

[2015-01-23 16:01] ironcladlou commented on #2294
This is now a major issue in OpenShift where we use Reflectors with ListWatcher implementations that span namespaces (e.g. watch all builds or deployments in order to advance states). Any name collisions on these resources will result in all sorts of wackiness in FIFOs (due to event compression) and caches (due to last-in-wins overwriting).

Is anybody working on the UID fix? If not, we can take a

[2015-01-23 16:23] derekwaynecarr commented on #2294
@ironcladlou - all things have UIDs now, please feel free to submit a fix.

[2015-01-23 16:32] smarterclayton commented on #2294
Do we need a version of the reflector that caches by namespace+name?  If so, we may want to extract "uniqueness" into its own function and make that be something the reflector can be parameterized with.

----- Original Message -----

[2015-01-23 16:35] zmerlynn commented on #3741
@brendanburns: I know you're OOO, but okay to cherry-pick #3601 for 0.9.1?

@dchen1107: It should be caught by e2e. I'm not clear what's going on there, and was a little mystified as to why it was working when I changed it. (I assumed it was getting picked up by a sourced script from previously.)

[2015-01-23 16:40] deads2k commented on #2294
I'm not sure the UID fixes the problem for us.  cache.Store has a .Get(name) method.  Some references are based on name and namespace (anything with this name regardless of what its UID is), so we need a logical .Get(namespace, name), .Get(UID) won't do what we want to express.

[2015-01-23 16:46] pmorie commented on #2294
@deads2k @smarterclayton I have been toying with the idea of separating the key used by the reflector with the interface that a client of a store has.  The reflector needs only a single globally unique value to address objects by (ex: uid), while the clients of the store the reflector is writing into may need other interfaces (ex: namespace/name).  I haven't thought through all the implications of

[2015-01-23 16:48] iantw89 opened #3755 "Swagger method parameters duplicating Minion type in body"
The v1beta{1/2}.Minion field appears to be duplicated in the method parameter section where ever it appears.

[2015-01-23 16:48] iantw89 opened #3756 "Swagger using type where $ref should be used"
'type' is used in place of '$ref' when referring to models within a Json Schema 'properties' section.

[2015-01-23 16:49] iantw89 opened #3757 "Swagger using $ref where type should be used"
When an array contains primitives, '$ref' is referring to Json primitives where 'type' should be used.

[2015-01-23 16:50] iantw89 opened #3758 "Swagger base path displays internal IP"
The 'basePath' field is exposing the internal IP of the instance running the master. I.e. I get a 10.x.x.x. IP. The IP should be the external one, if possible. Otherwise clients outside the network of the master will be unable to form requests.

[2015-01-23 16:53] iantw89 commented on #3755
Repro:
Use the steps outlined here to stand up a cluster on GCE: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/gce.md

View the swagger docs at https://{kubernetes master}/swaggerapi/api/v1beta2

[2015-01-23 16:55] iantw89 commented on #3758
Repro:
Use the steps outlined here to stand up a cluster on GCE: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/gce.md

View the swagger docs at https://{kubernetes master}/swaggerapi/api/v1beta1

[2015-01-23 16:56] iantw89 commented on #3757
Repro:
Use the steps outlined here to stand up a cluster on GCE: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/gce.md

View the swagger docs at https://{kubernetes master}/swaggerapi/api/v1beta2
An example of this issue can be found at line 2604

[2015-01-23 16:57] iantw89 commented on #3756
Repro:
Use the steps outlined here to stand up a cluster on GCE: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/gce.md

View the swagger docs at https://{kubernetes master}/swaggerapi/api/v1beta2
An example of this issue can be found at line 2547

[2015-01-23 17:00] thockin commented on #3515
I think I agree with Zach, after contemplation.  It would be nice to have
them automatically be enabled in test mode, but maybe we can live without
that.  Anyway, I'm not sure how much priority this warrants at the moment,
so I'll let it sit for a while.

On Fri, Jan 23, 2015 at 5:13 AM, Zach Loafman <notifications@github.com>
wrote:

[2015-01-23 17:10] thockin commented on #3595
Are there any downsides to setting high limits by default these days?  I
can't keep straight what bugs we have fixed internally that might not have
been accepted upstream, especially regarding things like memcg accounting
of kernel structs.

On Fri, Jan 23, 2015 at 12:29 AM, Rohit Jnagal <notifications@github.com>
wrote:

[2015-01-23 17:19] zmerlynn commented on #3515
maybe we can live without that.

I think you can have single-binary tests enable debug mode safely - I
assumed that was what we would do here. I'm against having a system-wide
mode (i.e. "restart --debug every daemon"), but I don't think that was
necessarily under discussion.

On Fri, Jan 23, 2015 at 9:00 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-23 17:36] ironcladlou commented on #2294
@deads2k

Good point. UID doesn't solve it for the client interface.

[2015-01-23 17:38] vmarmol commented on #3595
+1 to toggle, putting it in the spec is overkill IMO.

[2015-01-23 17:52] thockin opened #3760 "use iptables for proxying instead of userspace"
I was playing with iptables yesterday, and I protoyped (well, copied from Google hits and mutated) a set of iptables rules that essentially do all the proxying for us without help from userspace.  It's not urgent, but I want to file my notes before I lose them.

This has the additional nice side-effect (as far as I can tell) of preserving the source IP and being a large net simplification.  Now ku

[2015-01-23 17:56] thockin commented on #3595
If there is a toggle for "few" vs "many" everyone will choose "many".  We
need to understand and document why "few" is the better choice most of the
time, and think about how to restrict who uses "many".

On Fri, Jan 23, 2015 at 9:39 AM, Victor Marmol <notifications@github.com>
wrote:

[2015-01-23 18:07] rAy82 opened #3761 "problem with docker.service issued from the latest node.yaml"
Hello, I have a cluster of CoreOS machines built on VMware Workstation. I want to report a problem in starting the docker service using the recently modified node.yaml file.
It seems that my platform is having problems with the "overlay" option that was recently introduced in place of "brtfs", contained in the docker service definition:

ExecStart=/usr/bin/docker -d --bip=${FLANNEL_SUBNET} --mtu=$

[2015-01-23 18:25] vishh commented on #3595
Kernel memory accounting seems to be disabled in our container vm image.
The overall fd limit might also be a factor to consider. Given these
constraints, providing a toggle option makes sense.

On Fri, Jan 23, 2015 at 9:56 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-23 18:32] smarterclayton commented on #2294
You don't have to require the reflector to use uid - you just need the person who inits the reflector and the person who calls the reflector agree on what unique is.  I can imagine reflectors that would unique on attributes on the object that is not UID or name+namespace

----- Original Message -----

[2015-01-23 18:35] rjnagal commented on #3595
One way to restrict "many" would be to take into account the global machine
limits and use it in scheduling.
I don't think we have or are planning to add user-based capabilities.

On Fri, Jan 23, 2015 at 10:25 AM, Vish Kannan <notifications@github.com>
wrote:

[2015-01-23 18:37] ironcladlou commented on #2294
What about on the other side- `cache.Store`? As a consumer of that interface, I have no knowledge of what namespacing mechanism the reflector might be using to populate the store. All I have is a Get(id) function, an object, and no idea which field to pass to Get or how to make an id from my object that is compatible with whatever scheme the reflector used. I could be misunderstanding the suggeste

[2015-01-23 18:52] rAy82 opened #3762 "etcd-waiter.service "not-found""
Hello,
I've just finished building a CoreOS cluster using the new cloud-config files and the latest stable version of CoreOS (522.5.0). I noticed that in the master.yaml there is a "write_files" command to write a waiter.sh file in /opt/bin directory and after there is a definition for etcd-waiter.service, that will using that file.
I have 2 problems:
- after the boot I can't find any waiter.sh fi

[2015-01-23 19:09] thockin opened #3764 "Use docker labels"
https://github.com/docker/docker/pull/9882

Once that lands, we can start to think about how to use it best - maybe we can stop jamming all sorts of junk into our docker names :)

[2015-01-23 19:20] dchen1107 commented on #3762
cc/ @kelseyhightower any idea?

[2015-01-23 19:21] dchen1107 commented on #3761
cc/ @kelseyhightower

[2015-01-23 19:24] dchen1107 commented on #3757
@nikhiljindal Could you take a look at this one?

[2015-01-23 19:28] dchen1107 commented on #3731
Vote for namespace/name. Once we enforce this, the logging could be a little bit less verbose.

[2015-01-23 19:30] dchen1107 commented on #3764
couldn't wait to clean up our current name mess, but we might still need to hash those labels.

[2015-01-23 20:08] pmorie commented on #2294
@ironcladlou Agree, the consumer and reflector might have different ideas about keying. That makes me think there should be distinct interfaces that capture reflector / consumer needs.

[2015-01-23 20:24] abonas commented on #3712
@smarterclayton , thanks.
regarding the last point - I was under impression (based on some other discussion) that there would not be cross namespace interaction? that entities can can access only entities in the same namespace?

[2015-01-23 20:32] derekwaynecarr commented on #2294
Can a reflector be given a cache func?

[2015-01-23 20:32] derekwaynecarr commented on #2294
Similar to what we do for generic.EtcdRegistry?

[2015-01-23 20:32] rAy82 commented on #3761
I have to correct my post: in one of the subsequent reboots I noticed the same error even with the "btrfs" option. It seems an occasional event whose cause I couldn't identify yet

[2015-01-23 20:33] #3640 closed

[2015-01-23 20:38] thockin commented on #3712
Cross-namespace is currently allowed and I think has to be allowed, though
perhaps (in the fullness of time) that can be policy based rather than wide
open.

On Fri, Jan 23, 2015 at 12:24 PM, abonas <notifications@github.com> wrote:

[2015-01-23 20:55] nikhiljindal commented on #1052
Another options is to try a static version of Swagger UI. We can host that on kubernetes.io
Sent PR: https://github.com/GoogleCloudPlatform/kubernetes/pull/3771 for that

[2015-01-23 21:00] larsks commented on #3350
@mrunalp directed me here from `#google-containers` to describe a use case that might be relevant to this discussion.

I would like to run an application under Kubernetes that by design needs to be attached to the same L2 broadcast domain as some devices that it will manage (because it uses a broadcast discovery mechanism).  If this were the only service I were running I would simply add the appro

[2015-01-23 21:07] smarterclayton commented on #1052
Can we run it in a pod easily and infer the master?  I do like the static generation for docs of other forms, but the first goal is easy access for sure.

[2015-01-23 21:09] smarterclayton commented on #2294
The consumer of a reflector should be the person who initialized it.  They know what the uniqueness criteria is.

[2015-01-23 21:10] smarterclayton commented on #2294
That transformation was what I was thinking of

[2015-01-23 21:11] alex-mohr commented on #3585
FWIW from my experience: it's worth erring on the side of centralized control and only making things loosely coupled when you actually have something that's totally async and orthogonal to the rest of the system.

Building these systems is complex, and making them loosely coupled adds to that complexity.  The points raised by a few people above are worth reiterating: it's a PITA to figure out what

[2015-01-23 21:12] jainvipin commented on #3350
@larsks - completely agree; in fact what you say describes the use case I tried describing in the proposal. And with hooks provided for this, it would be possible for an external entity to configure networking. This works inline with docker's [network drivers proposal](https://github.com/docker/docker/issues/9983) it fits really well where network can be flexibly configured for the use cases descr

[2015-01-23 21:12] ironcladlou commented on #2294
Still confused- the reflectors aren't consumed. cache.Stores are consumed. The reflector is an orthogonal/external actor which populates a cache.Store.

[2015-01-23 21:31] bgrant0607 commented on #3731
In what context? User-visible messages?

What about partial URLs?

[2015-01-23 21:32] jainvipin commented on #3585
@alex-mohr - your concern is well founded. Trying to keep it too generic/futuristic is neither needed, nor worth it. That said, I'd not confuse that with taking complexity out of the core function - I believe simplifying the core to not get muddled with unwanted details and keep it stable from forever changing requirements is a very good goal. Let's take an example: having following two or three h

[2015-01-23 21:50] ddysher commented on #2439
What's the status now, I've ran a local cluster and the pod stays unknown, kubectl describe gives nothing helpful:

[code]

[2015-01-23 21:53] smarterclayton commented on #2294
Then both of them need to agree what constitutes a unique identifier to Get.

----- Original Message -----

[2015-01-23 21:54] smarterclayton commented on #2294
For instance, what if you are trying to reflect contents from two deployments at once?

----- Original Message -----

[2015-01-23 21:55] ddysher opened #3772 "Return resources in deterministic order"
kubectl returns resources in a random order, which makes it hard to look for things when users have a lot resources.  Returning resources in deterministic order should be a helpful and trivial change (hopefully).

We have an issue about pagination #2349, but that's a larger and separate issue.

[2015-01-23 21:58] satnam6502 opened #3773 "Rate Limiter has initialization race condition"
I've been looking into why the TestROService Go end-to-end test often fails with a rate limit error. It only makes one API call but it makes that call pretty much immediately:
[code]
Now that a fresh client is created for each test, we can encounter a race where the channel used to represent tokens for service availability are not yet pre-charged before a client can make a call. Here is the code i

[2015-01-23 22:21] bgrant0607 commented on #2585
Ref #3752 for tracking purposes.

[2015-01-23 22:31] nikhiljindal commented on #3755
Thanks Ian for reporting!

The issue seems to be due to this line: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/apiserver.go#L132
Reads(versionedObject) is added twice and hence minion in beta1 and beta2 and Pod in beta3 is repeated twice in POST body params.
Will send a PR to fix.

[2015-01-23 22:42] bgrant0607 commented on #2585
Ref #3435 for tracking purposes.

[2015-01-23 22:42] thockin commented on #3731
Context is primarily logs and maybe error messages
On Jan 23, 2015 1:32 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-01-23 22:55] abonas commented on #3712
@thockin please see this correspondence. my understanding is that there is isolation
https://github.com/GoogleCloudPlatform/kubernetes/issues/3173#issuecomment-68711242
https://github.com/GoogleCloudPlatform/kubernetes/issues/3173#issuecomment-68713577

[2015-01-23 23:00] thockin commented on #3173
To clarify point 5 above.  If you create a pod in namespace "foo" and a service in "bar", that service will not find the pod, even if the labels are a match.  Right?

But that is not an error event, it's just an empty result from a selector.

And further, as far as I know there is not network isolation across namespaces - pods can ping each other if they know the right IPs, and pods can consume se

[2015-01-23 23:01] thockin commented on #3712
Responded there.  I think there's some less-than-crystal-clear words in
play.

On Fri, Jan 23, 2015 at 2:55 PM, abonas <notifications@github.com> wrote:

[2015-01-23 23:07] bgrant0607 commented on #2585
Ref #2647 for tracking purposes

[2015-01-23 23:13] bgrant0607 commented on #3752
We shouldn't let the form of the environment variables dictate the names. I'll drop a proposal on #1768.

[2015-01-23 23:21] bgrant0607 commented on #3345
We definitely need to segment by namespace.

We've also basically settled on predeclaration for people who want env. vars.: #1768.

[2015-01-23 23:21] #3345 closed

[2015-01-23 23:37] bgrant0607 commented on #3667
I just found that we should be returning 429 Too Many Requests:
http://tools.ietf.org/html/rfc6585

[2015-01-23 23:39] satnam6502 commented on #3667
I will make the change.

[2015-01-23 23:50] bgrant0607 commented on #1768
First, creation-order dependencies:

@pmorie

We have several forms of inter-object dependencies: label selectors, link variables, and, soon, direct object references, such as replication controller to pod template (#170).

In at least some cases, we want to be able to give errors to users for genuine mistakes.

I would like kubectl and similar clients to be able to remain mostly relatively generi

[2015-01-24 00:03] dchen1107 opened #3777 "run-gendocs.sh is broken on head"
$ ./hack/run-gendocs.sh
[code]

[2015-01-24 00:13] Symmetric opened #3779 "Coreos demo config doesn't work -- nodes polling /registry/nodes/localhost/boundpods"
I'm trying to run the [CoreOS Multinode demo](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/coreos_multinode_cluster.md), running against the latest master (4c413e7). I'm slightly off-piste, in that I'm running the cloud-configs on CoreOS VMs hosted on my ESX infrastructure, rather than cloud-hosted. However I think the problem I'm seeing is just

[2015-01-24 00:15] bgrant0607 commented on #1768
Now, service predeclaration:

I agree with @smarterclayton that we should allow the user to specify HOW the service appears in the pod: environment variable name(s), /etc/hosts, maybe NATed IP or port, ...

I'd put the list of ServiceLinks into Container rather than PodSpec, for finer-grain control. I don't imagine multiple containers in a pod needing to contact the same services, in general.

Ser

[2015-01-24 00:16] bgrant0607 commented on #2585
Ref #1768 for tracking purposes. We need to consider the effect of refactoring on predeclaration.

[2015-01-24 00:21] smarterclayton commented on #1768
I believe precondition 412 is reserved for actual http semantics.  422 with a reason is probably sufficient.

Do we need to distinguish between require dependencies and optional ones?  I *think* optional dependencies should be reflected in status.  Required dependencies can be described in the error, and causes can potentially list the error.  I think I buy the argument that for hard dependencies

[2015-01-24 00:24] Symmetric commented on #3779
I suspect this is down to the following config in kube-kubelet-service:

[code]

$private_ipv4 doesn't work under VMware...

[2015-01-24 00:26] bgrant0607 commented on #1768
422 - SGTM. Thanks. Makes sense.

I'd be fine with distinguishing optional vs. required.

[2015-01-24 00:28] smarterclayton commented on #3173
Some of the work Rajat and Mrunal are doing enables namespace based VXLANs with a simple SDN controller on OVS.  In that model, there has to be an admin policy to allow communication across namespaces.  But I think that's orthogonal to this discussion - policy (determined by an admin) is what controls that network segregation.

[2015-01-24 00:33] derekwaynecarr commented on #3731
Namespace/name works for me for logs and error messages.

Even better if we have a utility that returns that for me so we can just enforce its usage.

Sent from my iPhone

[2015-01-24 00:44] dchen1107 commented on #3779
cc/ @kelseyhightower

[2015-01-24 01:08] bgrant0607 commented on #2585
Ref #3760 for tracking purposes. Would fix source IP.

[2015-01-24 01:11] dchen1107 commented on #3777
@satnam6502: I did make clean and make release before ./hack/run-gendocs.sh, now it works. Closing it now.

[2015-01-24 01:11] #3777 closed

[2015-01-24 01:16] satnam6502 commented on #3777
Doing make clean, removing images etc. did not work for me.
I ended up blowing away all my clones and starting afresh.

S

On Fri, Jan 23, 2015 at 5:11 PM, Dawn Chen <notifications@github.com> wrote:

[2015-01-24 01:23] bgrant0607 commented on #3607
@thockin : My answer is no, we will not expand these policies.

[2015-01-24 01:25] bgrant0607 commented on #3607
I'd be happy to have this simplified in v1beta3.

[2015-01-24 01:27] thockin commented on #3607
Really?  You know the 800 knobs that we have internally - none of them are
useful?

I'd be happy to see this simplify to a string like the other *Policy
fields, but the conversions and testing will have to be written carefully
(as I discovered this week :)

On Fri, Jan 23, 2015 at 5:23 PM, Brian Grant <notifications@github.com>
wrote:

[2015-01-24 01:28] bgrant0607 commented on #3607
Really.

[2015-01-24 01:32] dchen1107 commented on #3607
Ok, I will clean up this one next week. And we can add  knobs later if someone come up with real good reasons.

[2015-01-24 01:46] bgrant0607 commented on #3372
It should read Pod. Changed the title.

[2015-01-24 01:49] bgrant0607 commented on #3372
Ideally, I'd like all Pods created directly via Kubelet to be added to etcd and surfaced via the API. If updates are made via the API, I'd like those to propagate back to the node. We can discuss whether the config file should be updated or ignored. At some point, I'd like Kubelet to persistently cache pods received from the apiserver, perhaps by just writing them all out as config files.

[2015-01-24 03:08] withinboredom opened #3782 "Fix provisioning when using portal created vnets (azure)"
I have a patch that fixes vm provisioning in MS Azure, I'd like to submit the patch to you if possible.

[2015-01-24 03:23] thockin commented on #3782
Please do.  The usual process is to create a github pull request, but we
could also take patches, if you prefer.
On Jan 23, 2015 7:08 PM, "Rob Landers" <notifications@github.com> wrote:

[2015-01-24 03:48] withinboredom commented on #3782
Pull request created

[2015-01-24 04:13] thockin commented on #3782
Sorry, I was reading email on my cell, and did not realize this WAS a pull request :)

[2015-01-24 04:14] thockin commented on #3782
Sigh, long week.  This is not the Pull request I am looking for :)

[2015-01-24 04:18] brendandburns commented on #1052
Can't we just use the kubernetes-ro service to discover the master?

Brendan
On Jan 23, 2015 1:07 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-01-24 04:27] brendandburns commented on #3712
+1 to Eric's comment about ensuring there is a consistent manner for system
services like kubernetes-ro, if that's not fixes for all clusters it's
going to be a nightmare to write reusable containers for multiple different
clusters.

I don't care if we do that by using a constant namespace, or by giving
system services two different names, but there needs to be at least one
name that is constant.

[2015-01-24 05:26] withinboredom commented on #3782
What pull request are you looking for? ;) I got all weekend to play with
azure and kubernetes ...

Robert Landers
Software Engineer
Charleston SC, USA

On Fri, Jan 23, 2015 at 11:14 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-24 06:06] bgrant0607 commented on #3341
/cc @nikhiljindal

[2015-01-24 06:11] bgrant0607 commented on #3307
The resource strings currently following the same rules as labels.  That kind of makes sense, because they look similar to label selectors, which are used for node constraints.

[2015-01-24 06:13] brendandburns commented on #3341
We can certainly use curl or wget to test this.  The things that would
break Chrome and not curl are pretty limited in scope.

The problems I see with Chrome generally have to do with certificate
caching (and subsequent mis-matches) across cluster re-installs.

There are also a number of headless web browser toolkits:

(e.g. http://jeanphix.me/Ghost.py/)

That we could use if we really wanted to g

[2015-01-24 06:20] bgrant0607 commented on #3268
Like Makefiles and Dockerfiles? Those at least process other files in the same directory. I'm not sure this makes sense for kubectl. kubectl does already have the ability to slurp in all the config files in a directory (kubectl create -f dir), so this would be like making cwd the default, which I don't particularly see as a desirable feature, as would be error prone.

[2015-01-24 06:36] jasonkuhrt commented on #3268
Yes I think that's a decent starting point for this idea.

I agree this alleviates the issue somewhat

Agreed `cwd` would not work. A folder might though, such as `.kubernetes` or `.kube` or no dot-prefix variants...

There's a good chance that this feature is invalid.

[2015-01-24 07:03] thockin commented on #2585
I apologize for going AWOL on this topic for so long.  At some point a topic has so many replies that it is daunting to even get started!

I've been chewing on this for a long time, totally independently.  I sat down tonight to sketch out a diagram of what I was thinking.  I felt really clever.  Then I came and read this.  What I wrote is pretty much exactly what Brian proposed (a month ago), but

[2015-01-24 07:51] thockin commented on #2585
Actually, I'm writing it now.

I made the same split in objects - Services/Portals/Gateways and PodSets (needs a better name since it is really a set of endpoints).

[code]

[2015-01-24 07:54] thockin commented on #3307
agree,meant to close this

[2015-01-24 07:54] #3307 closed

[2015-01-24 07:55] thockin opened #3785 "v1beta3: GCE PD is JSON "persistentDisk""
As long as we have it in the API, it should maybe be renamed to gcePersistentDisk ?

[2015-01-24 07:57] thockin commented on #3782
Sorry, I meant that I clicked through and thought "oh this IS a pull request".  But then it wasn't.  I am not a smart man on Friday evenings.

I'm going to go ahead and close this, since you have a PR in flight, and this issue, while perhaps colorful with regards to my mental state, is not helpful to the technical discussion. :)

[2015-01-24 07:57] #3782 closed

[2015-01-24 14:07] pierrebeaucamp commented on #2725
Is anyone working on this? I'm very interested in rocket + kubernetes as well, in fact this was one of the reasons I started working on a [`rkt list` subcommand](https://github.com/coreos/rocket/issues/162).

[2015-01-24 15:43] thockin commented on #2725
AFAIK nobody is working seriously on this yet.
On Jan 24, 2015 6:07 AM, "Pierre Beaucamp" <notifications@github.com> wrote:

[2015-01-24 16:03] bgrant0607 commented on #3785
SGTM

[2015-01-24 18:03] smarterclayton commented on #2585
I think routing has a specific use at the edge that needs to be captured somewhere - to allow you to move traffic slowly across disjoint domains via name assignment.  I.e assign you to multiple edge balancers, the move the external A record or CNAME from one to the other (across clusters or data centers).  That's a very difficult operation for lots of companies that comes up all the time (green bl

[2015-01-24 18:04] smarterclayton commented on #1052
Yes, that's what I meant by infer.  Bad choice of words.

[2015-01-24 18:49] smarterclayton commented on #1768
It we thought this was generalizable to downward api (for service like things), we might want to frame this like a formatter interface with simple env substitution.  The more ways to represent this info the harder it gets to add fields.  I don't think I've seen a "great" way to represent the idea.  There's some break even point probably where a user can do the medium hard thing (build a url that w

[2015-01-24 18:57] brendandburns commented on #2725
Actually, I believe the CoreOS folks are working on it.  Kelsey Hightower
tweeted something about it yesterday.  I'll try to find the tweet.

Brendan
On Jan 24, 2015 7:44 AM, "Tim Hockin" <notifications@github.com> wrote:

[2015-01-24 19:08] kelseyhightower commented on #2725
@pierrebeaucamp @brendanburns Yep, we have started on the research side of things and allocating internal resources to make this happen. Over the next couple of weeks we should see a proposal from CoreOS regarding rocket integration.

[2015-01-24 19:12] brendandburns commented on #2725
Looking forward to it!
On Jan 24, 2015 11:08 AM, "Kelsey Hightower" <notifications@github.com>
wrote:

[2015-01-24 19:24] thockin commented on #2725
Awesome!  Count me in to have an opinion, er I mean provide guidance on api
and abstractions.  :)
On Jan 24, 2015 11:08 AM, "Kelsey Hightower" <notifications@github.com>
wrote:

[2015-01-24 19:27] pierrebeaucamp commented on #2725
That's good news! I'm looking forward to hear more about this soon.

[2015-01-24 19:34] smarterclayton commented on #3772
We should be cause to not do this on the * namespace - I think thats a special case.  No disagreement for other list calls

[2015-01-24 19:36] smarterclayton commented on #3752
Even in the case of a collision... It's likely you let yourself do that.  This may be a case of trying to save people from themselves, for minimal benefit.

[2015-01-24 19:38] smarterclayton commented on #3731
In the other issue I commented this should be in api/meta.  For object refs we want to go a step further and print additional ref info (uid resource version) which in some log contexts is also useful

[2015-01-24 19:46] smarterclayton commented on #2565
Yet every api client ever written has to build a url to something, or walk through 8 layers of indirection (applying logical transformation in code at each step) to arrive at a url.  It's unrealistic to expect that no urls are ever constructed, so I'd attack it from the other perspective, which is that if someone gives you a URL, you should not transform or extract it.  Then you're only arguing ab

[2015-01-24 20:07] smarterclayton commented on #148
So after I think about this a bit, I don't like having this *only* be able to be specified as part of the query.  I think that a client should be required (or encouraged) to specify the desire of uniqueness as part of the resource POST body (server is not required to make the stored resource exactly match the incomin request).  This allows a config file on disk to specify uniqueness, which has con

[2015-01-24 20:09] smarterclayton commented on #148
Note: Naming of attributes is arbitrary, just to convey distinct positions.

[2015-01-24 20:17] smarterclayton commented on #2932
It's worth calling out in our doc that kube "name" is a user specifiable ID as most other systems consider them.  Our uid is a true uuid.  Our "name" is immutable, but later "flexibleName" field could be introduced to allow mutation.  Two unique fields in the same pool of names, where you can only release a name via deletion, would solve the problems id/name/uid are traditionally used for (cheap r

[2015-01-24 20:17] smarterclayton commented on #2789
This is on my list after uniquification names and pod templatesif no one else gets to it.

[2015-01-24 21:18] thockin commented on #3752
I think expanding servoce names is reasonable to do, I just wanted to think
through potential problems.  Then we have namespaces as the sole
nonstandard name.
On Jan 24, 2015 11:37 AM, "Clayton Coleman" <notifications@github.com>
wrote:

[2015-01-24 21:26] derekwaynecarr commented on #2565
It's impossible to follow this issue at this point.

Do we not like Kubernetes defining a Namespace to REST resource naming?

Or do we not like that compute resource names (ie memory and cpu) will require fully qualified names when wanting to limit vendor specific resource concepts (ie openshift.com/builds)?

Can we close this issue and either create the right one or two focused issues depending o

[2015-01-24 21:30] derekwaynecarr commented on #3772
What is the default etcd response order?  Last created or last modified?

Sent from my iPhone

[2015-01-24 22:28] smarterclayton commented on #1910
Starting to fix this in #3789

[2015-01-24 22:29] smarterclayton commented on #3752
As part of #3789 I started normalizing this.  Will put any change in there.

[2015-01-24 23:25] thockin commented on #3752
Sorry, I did not see this before replying on the other thread.
On Jan 24, 2015 2:29 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-01-25 03:40] ddysher commented on #3502
Previously, a pod scheduled on an unhealthy node has Failed state because we specifically set it:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/master/pod_cache.go#L141

Right now, when pod cache tries to connect to unhealthy node for pod info, it gets connection error; which we then set pod status to Unknown:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/ma

[2015-01-25 14:55] ddysher commented on #3772
I think the order is by key if sort param is given.  If not given, the order is by last created (maybe, but we shouldn't trust it).

It seems we are not trying to get sorted result from etcd.

[2015-01-25 16:13] smarterclayton opened #3791 "Tests don't pass on Mac / Windows with Volume changes"
[code]

This whole set of tests (if it can't be run) should be omitted from the test execution, otherwise folks running on Mac can't verify everything else is clean in a sane fashion.

Passive aggressive assign to Tim, I may get around to fixing this before he does.

[2015-01-25 16:22] smarterclayton commented on #3772
Today, I think it's random order in the child key space in etcd (because the node structure uses a map), so you get golang map iteration order without sort.  I don't know if sort on server is any cheaper than sort on client today, so we may want to do this in rest / registry rather than by passing etcd.

[2015-01-25 16:35] jasonkuhrt commented on #3268
@bgrant0607 Another use-case that I am envisioning is analogous to editor plugins. For instance there is a module called `flycheck` for `emacs` which is a emacs linting framework that allows additional modules to be written that lint for particular languages. Unfortunately, one awful default is that `flycheck_*` files are created all over the file system as files are opened/edited/closed.

The poi

[2015-01-25 16:37] jasonkuhrt commented on #3268
This last comment is somewhat out of scope of the issue title. I admit I'm somewhat making up the issue as I go here. It just began as a sense.

[2015-01-25 17:09] brendandburns commented on #3791
Last I checked Travis + Go didn't work.  We should check again, and enable OS X builds in Travis if it's possible.

[2015-01-25 18:26] ryfow opened #3792 "Get vagrant $vm_mem value from environment"
I'd like to put something in my environment similar to NUM_MINIONS to control the amount of memory Vagrant VMs get. I'm happy to submit a pull request, but would like feedback on the environment variable names to expedite things.

Some options would be: KUBERNETES_MEMORY, KUBERNETES_RAM, KUBE_MEMORY, KUBE_RAM.

Or, Master and Minion could be split up, lending variable names such as KUBERNETES_MAST

[2015-01-25 18:26] thockin commented on #3791
You could argue that if the unsupported mount () is being called in a test,
there is a problem anyway - it has to run as root.  Will investigate.
On Jan 25, 2015 9:09 AM, "Brendan Burns" <notifications@github.com> wrote:

[2015-01-25 18:31] derekwaynecarr commented on #3792
I am good with this, and I see no reason to separate master and minion settings at this time.

Sent from my iPhone

[2015-01-25 20:19] derekwaynecarr commented on #1535
Assuming we move forward with #3613, I would like to expose a pattern where I can effectively stop a Namespace, mark all of its content for deletion by some background controller, and then ultimately purge the Namespace resource.  Reading through this thread and others, it's not clear we have consensus on the right pattern for this across resources.  Is there a recommended pattern to follow that I

[2015-01-25 20:31] derekwaynecarr commented on #1535
The XxxTermination resource could be protected via a separate policy so it's not confused with traditional PUT.  Acceptance of the XxxTermination would toggle a Status field on the resource.  A controller would see the resource marked for termination and perform all required cleanup.  Upon completion, a client with proper Policy rights would send the DELETE to the Namespace resource.  A delete wou

[2015-01-25 22:06] ddysher commented on #3772
Apart from performance, sorting in clients means we can also take control
of how responses are sorted, so for * namespace, we can sort by namespace,
then by resource ID.

On Sun, Jan 25, 2015 at 11:22 AM, Clayton Coleman <notifications@github.com>
wrote:

--
*Deyuan Derrick Deng*
*Master of Electrical and Computer Engineering*
*Carnegie Mellon University*

[2015-01-25 22:11] smarterclayton commented on #1451
I've started fixing this with #3789 - I'm moving pure API behavior (the set of validation and creation prior to persisting an object into a new package `pkg/api/rest`, and introducing a common test layer.  Only changing create right now, but there's huge holes in our update logic, so that's the next step.  Once logic is normalized, we can fold rest into registry or vice versa, and use common updat

[2015-01-25 22:16] smarterclayton commented on #3772
We can always hint sort to the registry storage layer in the future, so sorting on the client now won't kill us.

[2015-01-26 00:53] JaysonRaymond commented on #3792
I added this locally to my Vagrantfile as:

 # Give VM 512MB of RAM by default
$vm_mem = (ENV['VM_MEM'] || 512).to_i

[2015-01-26 04:19] thockin commented on #3791
Without a Mac to test on, I feel like this would be better fixed by someone who uses Mac...

Probably:  just rename pkg/kubelet/volume/gce_pd/mount_util_linux.go to mount_util_unix.go.  I just discovered "implicit build constraints", sigh.  Go is crossing from user-friendly to sort of absurd, IMO.

[2015-01-26 04:37] thockin commented on #148
Option 1 is "cute" but not is a good way.

Option 3 is most obvious.  Do you intend for this new field to be part of ObjectMeta or part of individual REST objects?  Will it apply to ~every REST object?

Do we need it at all?  What if, like docker, we assumed absence of name means "generate random"?

[2015-01-26 04:56] smarterclayton commented on #148
See the attached pull for an example of what 3 looks like.  Omitting the name isn't terrible - one advantage of 3 is a naive get > json > create cycle randomly generates a new name.  3 is extremely clear what you want and what you get, and also allows you to get nice prefixing.

[2015-01-26 06:39] GovindarajRangan commented on #1315
I installed Kubernetes on three hosts (not using a Cloud Provider right now). Started "apiserver, controller-manager, kubelet and proxy" on master, "kublet and proxy" on two other servers. I checked the IP, env variables for KUBERNETES_MASTER, KUBE_ETCD_SERVERS etc. All config looks fine. But the Minion list isn't populated. I see an error saying there is no key defined at ETCD endpoint: /registry

[2015-01-26 10:50] tyrannasaurusbanks opened #3797 "kubelet balks at certain repo url formats in .dockercfg"
I'm running kubernetes on a private cloud in-conjunction with my company's quay.io repository and I've noticed that kubelet was failing create my pod templates because it was having auth issues when attempting to pull down images.
This confused me, since the .dockercfg I'd made available to kubelet was indeed being picked up by the process, and was working fine externally - by this I mean I could

[2015-01-26 11:03] josselin-c commented on #3401
Reproduced with Kubernetes 0.9.1. At first things are fine and after a little while I get ```Failed to find an IP for pod:``` messages:

[code]

[2015-01-26 11:51] maksym opened #3798 "Calling 'vagrant up' directly is not supported"
**Interacting with your Kubernetes cluster with Vagrant** section in https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md has lines:

[code]
responce is:
[code]

[2015-01-26 12:57] taisukeh opened #3799 "Some resource files use `hostDIr ` directive"
`hostDir` was renamed to `hostPath` (https://github.com/GoogleCloudPlatform/kubernetes/pull/3517), but some resource files still reflect the old name as follows.

- cluster/saltbase/salt/cadvisor/cadvisor.manifest
- cluster/saltbase/salt/fluentd-es/fluentd-es.manifest
- cluster/saltbase/salt/fluentd-gcp/fluentd-gcp.manifest
- cluster/rackspace/cloud-config/minion-cloud-config.yaml

[2015-01-26 14:56] pires commented on #2524
In GCE, you could snapshot&clone current cluster VMs, upgrade everything, test if everything is running and change LB/other stuff to point to new cluster. In the end, destroy old cluster Vms.

This would (almost?) eliminate service disruption would it not?

[2015-01-26 15:06] ironcladlou commented on #2294
@smarterclayton

No argument there, and I checked out the generic.Etcd implementation- what this does imply though is a change to the `cache.Store` methods to accept not just an id, but either a runtime.Object or an id/namespace pair. Agree?

[2015-01-26 15:20] deads2k opened #3800 "Remove --auth-path from kubectl"
Since the .kubeconfig file was introduced, there is a new way to describe the information contained inside of the existing .kubernetes_auth format.  .kubernetes_auth combined information that described how to recognize the api-server with information about how to authenticate the user to the api-server.  .kubeconfig separates those two concepts into discretely re-useable chunks, but --auth-path wa

[2015-01-26 15:31] smarterclayton commented on #3800
@deads2k the only concern I would have is whether it's substantially harder for someone to "generate" a .kubeconfig than a kubernetes_auth (so that tooling can generate .kubeconfig for a running app).  If it's equally easy, I don't see an issue removing it.

@brendandburns we would I assume handle this by publicly communicating the change (and recording the non-backwards compat), but I assume we'r

[2015-01-26 15:33] smarterclayton commented on #2294
An id/namespace pair is somewhat opinionated - it means the cache store only supports 2 means of input.  If your "keyFunc" takes and returns an interface{} then you can pass whatever you want to the store.

----- Original Message -----

[2015-01-26 15:34] deads2k commented on #3800
Is there an example of code doing this for .kubernetes_auth today?  That would make it easier for me to speak to.

[2015-01-26 16:07] smarterclayton commented on #3800
It's only proposed as part of secrets (the master has to be able to inject auth to talk back to master, and Eric floated doing it as a kubernetes_auth file, which means the CLI would work inside that container to talk back to the master).  As long as the generation is not insane, it's not an issue.

----- Original Message -----

[2015-01-26 16:30] brendandburns commented on #3401
Ok, we are working on getting soak tests online that will hopefully enable
us to repro this.

Brendan
On Jan 26, 2015 3:05 AM, "josselin-c" <notifications@github.com> wrote:

[2015-01-26 16:33] satnam6502 commented on #3401
I wonder if the root cause of this instability is also behind some of then flakiness of the end to end tests.

[2015-01-26 16:42] peter-braun opened #3801 "The 'nodeSelector' doesn't work when a pod is created from replication controller's pod template"
It seem that the 'nodeSelector' functionality doesn't work when a pod is created from a replication controller's pod template.

I would need to separate set of worker nodes (let's say DB and service) to which two separate set of pods are supposed to be scheduled. So pods which carries out service logic goes to 'service' type of nodes, and DB goes to DB nodes.

Initially made two nodes:

    # kube

[2015-01-26 17:23] erictune commented on #598
@smarterclayton what is the mechanism that makes a pod that wants the "best effort local volume" likely to be scheduled on the node with the volume it wants?

[2015-01-26 17:44] deads2k commented on #3800
@smarterclayton Yes, it is sane.  We do it in OpenShift for component authentication.

[2015-01-26 18:02] ironcladlou commented on #2294
@smarterclayton

Agree. I think we're on the same page now.

[2015-01-26 18:13] dchen1107 commented on #3801
@ddysher

[2015-01-26 18:18] deanputney commented on #3557
I'm having this issue as well. If a cluster has been running for more than 24 hours or so, I get these results:

    $ gcloud preview container services list
    ERROR: F0126 10:04:36.119432   92444 get.go:75] 501: All the given peers are not reachable (Tried to connect to each peer twice and failed) [0]

    $ gcloud preview container pods list
    ERROR: F0126 10:04:27.606135   92423 get.go:75]

[2015-01-26 18:20] erictune commented on #3578
@bgrant @mikejeffery I'm willing to update the docs.

What I was looking for in this issue was grunts of agreement from folks like @smarterclayton @brendanburns @thockin about this change in policy.

The the proposed policy change is:
 - at each commit, we expect the GKE, GCE, and Vagrant + VirtualBox + Fedora setups to still work.
 - all the other setups ("getting started guides") are maintained

[2015-01-26 18:23] smarterclayton commented on #598
Initially, nothing.  In the future, the volume mount logic on the node attempts to bring the latest snapshot to the current node on start.  In the far far future, a finalizer for best effort local volume attempts to influence the scheduler selection criteria (or doesn't - I don't think best effort that good is worth solving because it's really indistinguishable from network attached storage, which

[2015-01-26 18:23] #1992 closed

[2015-01-26 18:25] thockin commented on #3799
hostDir is still correct in the v1beta1 and v1beta2 APIs.  When we change to v1beta3 (#3671) we will fix this.

Closing as dup of #3671

[2015-01-26 18:25] #3799 closed

[2015-01-26 18:25] brendandburns commented on #3801
My guess is that something is getting lost in the JSON parsing.  I'll try
to validate this in a unit test.

Sorry!
--brendan

On Mon, Jan 26, 2015 at 10:13 AM, Dawn Chen <notifications@github.com>
wrote:

[2015-01-26 18:58] a-robinson commented on #2524
I suppose you could do that so long as you either
(1) store etcd's data on a persistent disk that you swap over to the new machine when it's ready (in which case cloning the current machine seems to be of questionable value versus spinning up a new one)
or
(2) run etcd in clustering mode such that the new master also receives all writes that the current master accepts during the failover process

[2015-01-26 19:04] brendandburns commented on #3773
I don't actually see what the race condition is here, we fill up the channel with tokens before we return the rate limiter, so the channel has to be full of tokens to be used up.  How can the pre-charge not have finished, we run it in a for loop before we return the rate limiter?

[2015-01-26 19:06] brendandburns commented on #3760
Cool!  I think we should definitely get this merged in.  On a separate note, I was seeing the proxy eat ~30% of a core under heavy load, I have to believe that iptables will give us better performance than that.

[2015-01-26 19:07] satnam6502 commented on #3773
Good point: I mis-understood the code to think that the rate limit could be accessed earlier -- but no -- it has to be returned before it is used. Which then makes the ROService behaviour even more mysterious. How can a test that makes exactly ONE API call run foul of the rate limiter? Will look more closely.

[2015-01-26 19:07] #3773 closed

[2015-01-26 19:13] pmorie commented on #2294
@smarterclayton @ironcladlou also agree, key function seems like the best way.  Thinking through the interface changes:

    type Store interface {
        Add(obj interface{})
        Update(obj interface{})
        Delete(obj interface{})
        List() []interface{}
        Get(obj interface{}) (item interface{}, exists bool)

        Replace(objs []interface)

        ContainedIds() util.Strin

[2015-01-26 19:16] pires commented on #2524
@a-robinson that's exactly why I suggested https://github.com/GoogleCloudPlatform/kubernetes/issues/3476.

[2015-01-26 19:18] satnam6502 commented on #3773
@brendandburns Let me explain a but more my confusion. This is where you return the rate limiter:
[code]
What pre-charges the channel with tickeds? The goroutine that asynchronously runs `rate.run()` relative to this function. So I thought the returned rate could be used before the goroutine had a chance to fill up the channel.

[2015-01-26 19:19] ironcladlou commented on #2294
@pmorie
That's the interface I have been prototyping. As far as `ContainedIds`, I don't see the purpose anymore. In the contexts where `ContainedIds` is used, the IDs are fed back to Get/Update/Delete calls, etc. You could replace those with List, feeding the resulting interface{} instances back to Get/Update/Delete, etc.

ContainedIds in cache.Store is already implemented with a linear iteration

[2015-01-26 19:25] bgrant0607 commented on #148
@smarterclayton I agree with the problems with URL params. I was trying to avoid adding fields that wouldn't make sense in some contexts, such as kubectl config files.

@thockin We already plug in uids for pods in the absence of names. It's pretty user-hostile. Hence the desire to support specifying a user-friendly prefix.

I agree that inserting a '*' is too cute. Clients would have to parse name

[2015-01-26 19:31] ironcladlou commented on #2294
@pmorie One implication I haven't yet seen addressed: if most calls to Store now implicitly execute a pluggable key function, and the key function can fail, any Store function which does keying should probably return an `error`. Not pretty, but I'm not sure it's safe to omit the error?

[2015-01-26 19:39] mattmoor commented on #3797
It looks like the docker client uses whatever you pass to "docker login":
https://github.com/docker/docker/blob/0f5eba68fbe4904090532a709e7f3769059bc0aa/api/client/commands.go

Quay.io seems to document "docker login quay.io" (no v1), can you confirm this changes how it is written out?
http://docs.quay.io/solution/getting-started.html

That said, the way the DockerPuller resolves images should lik

[2015-01-26 19:41] brendandburns opened #3804 "Erroneous service port conflicts for external services"
From a user:

I'm trying to expose multiple services on the same port in a GKE Kubernetes 0.8.1 cluster. My question is similar to this SO post but it is not solved by 0.5.x+

I've deployed a service (hellogo) with an external load balancer which works correctly. Deploying another service (pynote) which is extremely similar fails

{
	"apiVersion": "v1beta1",
	"kind": "Service",
	"id": "pynote-serv

[2015-01-26 19:42] brendandburns commented on #3804
I believe there's a bug in the service validation logic, left over from when you actually might have a conflict...

[2015-01-26 19:50] ironcladlou commented on #2294
Maybe I spoke too soon. I'm still puzzling through how to reproduce [this algorithm](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/cache/poller.go#L78-L89) without exposing the key function from the store (for example).

[2015-01-26 20:01] thockin commented on #3760
We have to prioritize this - it's almost a total rewrite of kube-proxy and
all the tests thereof.  It also has back-compat problems (will not work on
older kernels or older iptables binaries).

On Mon, Jan 26, 2015 at 11:06 AM, Brendan Burns <notifications@github.com>
wrote:

[2015-01-26 20:21] ironcladlou commented on #2294
Now I'm not sure why Poller.sync is doing individual Updates with a final Delete of all not-Updated items. Could it be implemented instead by collecting all the new items in a local []interface{} and calling Store.Replace atomically? That sidesteps the requirement to have a means to perform interface{} equality checks via KeyFunc.

[2015-01-26 20:24] ddysher commented on #3772
Just took a closer look at our rest/registry code to implement the sort (in client), but implementation-wise, it seems much easier to pass sort to etcd (one line change).  Also, namespace is a prefix on resource, so sort across all namespace with etcd key will essentially sort resources by namespace then by Name.

If we are to implement sort on client side, we can either:
1. use sort package:

[2015-01-26 20:27] erictune opened #3806 "split api in to cluster and pod/user portions"
### Api getting to big for end-users to browse
@bgrant0607 pointed out that when you go to http://kubernetes.io/third_party/swagger-ui/ and browse an api version, you see  at the top things like "bindings", "endpoints" and "nodes".  These are not the most important things for end users (people working through the examples) to understand.
The most important things for most users to see are pods and

[2015-01-26 20:37] smarterclayton commented on #148
----- Original Message -----

I think as a field can make sense in config files that are intended as "create-only".  Since the labels are consistent, I might have X copies of things running, and can run kubectl create -f and inject them into the environment to do things at periodic intervals.  The one benefit is that you can manipulate these without introducing additional REST semantics and versio

[2015-01-26 20:41] smarterclayton commented on #3772
----- Original Message -----

I think sorting it on etcd is fine for now - that's the simplest possible thing that works.

[2015-01-26 20:49] smarterclayton commented on #3578
grunt

----- Original Message -----

[2015-01-26 20:52] derekwaynecarr commented on #3806
In #3057, I replied that a quota that is not scoped to a ```Namespace``` is ```SomethingElse```.

Aside from that, I agree that we have some resources that are scoped to a ```Namespace```, and some set of resources that are not ```Node```.  The set of resources that fall in either bucket will grow over the course of time, so we should define the pattern to handle that now prior to 1.0.

I think th

[2015-01-26 21:06] brendandburns commented on #3760
Maybe implementing it as a parallel option and slowly migrating makes sense?

On Mon, Jan 26, 2015 at 12:01 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-26 21:08] derekwaynecarr commented on #3806
To elaborate, I DO NOT think we should have an object that can exist both internal to a ```Namespace``` and external to a ```Namespace```.  I think if you have that use case, the object is actually two different things.  As a result, per the quota discussion, that is why I said a ```ResourceQuota``` is what the thing is that is scoped to a namespace, but ```SomethingElse``` is the thing that is ex

[2015-01-26 21:12] bgrant0607 commented on #148
appendUniqueSuffixToThisPrefixToCreateTheName? :-)

More practical possibilities (trying to avoid "uniquification"):
* uniqueName{Prefix,Base}
* nameGeneration{Prefix,Base}
* autoName{Prefix,Base}

I had assumed that an empty string would imply not present -- it wouldn't be possible to autogenerate a unique name with no prefix. That doesn't seem like a huge restriction to me, given that it could b

[2015-01-26 21:15] smarterclayton commented on #148
What I had right now was

  generateName: {
    "base": "",
  }

but could be

  generateName: {
    "from": "",
  }

I thought we made pretty convincing arguments before for optional behavior being pointers to structs, but am happy to bikeshed more on it since it will stick around for a long time.

----- Original Message -----

[2015-01-26 21:15] dchen1107 commented on #2853
@kateknister has PR https://github.com/google/cadvisor/pull/462 out for parsing sys oom from kernel log.

[2015-01-26 21:16] jlowdermilk commented on #3800
+1 to deprecating the .kubernetes_auth format. We need to update the e2e tests to use kubeconfig first, but we want to do that anyway (#3745).

[2015-01-26 21:20] bgrant0607 commented on #3806
We previously discussed grouping related API objects/methods in #635.

While a single api prefix can be convenient for users, it becomes less so as the API becomes bigger. Our analogous internal API has almost 100 methods, most of which are for cluster/node management and administrators. The user-facing part of the API has grown more slowly. We will need a way to narrow the amount of API surface e

[2015-01-26 21:23] pmorie commented on #1768
@bgrant0607 I think your suggestion about the API server and `kubectl` is a good one.

@bgrant0607 @smarterclayton For OpenShift I think there is a case where we will require distinguishing between optional and required services.  The use case for optional services is one where you have some set of images which you want to play nicely with one another when they work together, but where independent

[2015-01-26 21:34] dchen1107 commented on #3797
@mattmoor, unfortunately I cannot assign it to you directly, but thank you for looking into this, and a PR is very welcome.

[2015-01-26 21:38] ddysher opened #3809 "Node host ip will be wiped out after node update"
To reproduce:

[code]
remove status and hostip (hostip is part of status internally)
[code]

After the update, host ip is gone...

[code]

Probably a conversion issue

[2015-01-26 21:42] smarterclayton commented on #3806
+1

----- Original Message -----

[2015-01-26 21:42] ddysher commented on #3801
Yeah, that's likely the issue.  I can take a look if @brendanburns is not working on it.

[2015-01-26 21:45] brendandburns commented on #3801
I'm on it.

On Mon, Jan 26, 2015 at 1:43 PM, Deyuan Deng <notifications@github.com>
wrote:

[2015-01-26 21:45] phemmer commented on #561
This is very much of interest to us as we run numerous applications, all fronted by a single external endpoint (eg, http://api.example.com).

We've run our own in-house layer 7 load balancer / router for a few years now, and aside from URL rewriting (which is mentioned with the 'target path' thing), the only other feature I can think of which would be of interest is source address filtering.
Our s

[2015-01-26 21:46] derekwaynecarr commented on #3806
I think its pretty-trivial to handle this split in ```kube-apiserver``` if we just modify the ```RESTStorage``` interface to report if the object it manages is internal or external to a ```Namespace```.  Given that, we can make the right choices in exposing URLs, and I think that aligns nicely that an object is either external or internal to a ```Namespace``` but never both.

As for the client CLI

[2015-01-26 21:50] smarterclayton commented on #3806
It also applies to create/update/delete/describe/wait/other-new-generic resources.

----- Original Message -----

[2015-01-26 21:51] ironcladlou commented on #2294
I've opened a PR which a POC implementation of namespacing cache support:

https://github.com/GoogleCloudPlatform/kubernetes/pull/3810

Discussion welcome. I'll hold off continuing to work on it until I get some feedback.

[2015-01-26 21:55] erictune commented on #3762
@pires just changed this in #3639 or #3556

[2015-01-26 21:57] erictune commented on #3761
@pires any idea why this is happening?  Is @rAy82 possibly using a different version of docker than you used to test your PR?

[2015-01-26 21:58] mattmoor commented on #3797
@bcwaldon FYI, since this is in the code for looking up a credential on the keyring.

[2015-01-26 21:59] brendandburns commented on #3801
Ok, I think that I see one problem.  The replication controller manager (a system binary) uses v1beta1 to talk to the apiserver, not v1beta3, so the information is getting dropped from the replication controller subsystem.

If you set --api_version=v1beta3 on the kube-controller-manager binary, and reload it, (```/etc/default/kube-controller-manager```) that _may_ fix things.

However, you seem to

[2015-01-26 22:04] #3533 closed

[2015-01-26 22:04] bgrant0607 commented on #3801
It shouldn't be necessary for the controller manager to speak v1beta3. The nodeSelector field is present in v1beta1. The conversion logic must be broken.

[2015-01-26 22:20] brendandburns commented on #3801
It's not broken (exactly) it's an API mis-match.  nodeSelector is in Pod in
v1beta1, but the replication controllers deal in PodTemplates which don't
have NodeSelectors anywhere in there.  We could add it there, if we think
that's the right answer.

On Mon, Jan 26, 2015 at 2:04 PM, Brian Grant <notifications@github.com>
wrote:

[2015-01-26 22:27] mattmoor commented on #3797
FYI: https://github.com/GoogleCloudPlatform/kubernetes/pull/3813

[2015-01-26 22:33] bgrant0607 commented on #3801
Yes, that's the right answer.

[2015-01-26 22:37] erictune commented on #2439
I haven't converted the local cluster to send kubelet events.  I need to do that soon.

[2015-01-26 22:38] pires commented on #3761
@erictune yes, I've used Docker 1.4.1 which is part of the CoreOS alpha version that my PR deploys. Docker version bundle in each CoreOS version can be checked at.

@rAy82 you're using a stable version of CoreOS, aren't you? Can you change ````node.yaml``` and replace ```-s overlay``` with ```-s btrfs``` and give it a try? Let me know of the result so I open an issue and make this clear in the doc

[2015-01-26 22:41] nterry commented on #2678
So since #2982 is closed, does this mean that this issue is fixed?

[2015-01-26 22:49] erictune commented on #3779
@Symmetric did you find a workaround for the $private_ipv4 issue?

[2015-01-26 22:54] pires commented on #3762
Even though it seems @rAy82 is right about the misleading entry ```Before=setup-network-environment.service```, CoreOS should have written that file to the filesystem. But it didn't. So it should be something else. May I ask you to try this with beta or alpha version of CoreOS and let me know?

[2015-01-26 22:55] alex-mohr commented on #3401
@satnam6502 do we have sufficient log saving in the e2e tests that we can go explore a specific example in detail to see why it failed?

[2015-01-26 23:02] satnam6502 commented on #3401
The e2e logs are run by default with "node level logging on" but "cluster level logging off". If Elasticsearch is selected for node level logging then this lays down an agent on each node which sends logs to an Elasticsearch Kubernetes service.... but since none is installed then nothing would get collected. If the node level logging is GCP then logs should be ingested and available in the project

[2015-01-26 23:04] satnam6502 commented on #3401
We could run with cluster level logging on -- but for the Elasticsearch case this adds the time it takes to deploy Elasticsearch and Kibana to the overall e2e execution time -- which I thought in general was too high a cost to pay. An individual test could instantiate these services and tear them down when done -- and that is how I plan to write e2e tests for cluster level logging.

[2015-01-26 23:17] erictune commented on #2294
I think Poller can be killed.
The only use is in  plugin/pkg/scheduler/factory/factory.go
and there is a TODO there to switch to NewReflector, which I think can now be done.

[2015-01-26 23:26] derekwaynecarr commented on #3806
Agreed, whatever we name the flag to say the resource is cluster scoped would need to be accepted on all the verbs supported by kubectl.

Given that Namespace as kind is blocked by this, I will look to do a prereq pull request that enables the described pattern.

Sent from my iPhone

[2015-01-26 23:26] pmorie commented on #2294
Even better @erictune

[2015-01-26 23:28] #1999 closed

[2015-01-26 23:28] #3383 closed

[2015-01-26 23:35] erictune commented on #2294
This is serious because it prevents kubelets from seeing two pods with the same name on GCE.

[2015-01-26 23:35] erictune commented on #2294
I just wrote a test which fails and shouldn't.

[2015-01-26 23:36] derekwaynecarr commented on #3772
Is there any material perf impact in etcd to enable it?

Sent from my iPhone

[2015-01-26 23:38] bgrant0607 commented on #1710
Closing in favor of #2316, where all the discussion is happening.

[2015-01-26 23:38] #1710 closed

[2015-01-26 23:44] smarterclayton commented on #148
"generateName": {
  "from": "required non empty string"
}

?  The extra curly brackets add a bit more stuff, but it avoids the longer name and makes it fit well with "name".

Or do you guys strongly prefer not having the nested struct?

[2015-01-26 23:45] smarterclayton commented on #3772
Probably not material.  Can always switch away if necessary

[2015-01-26 23:48] bmo opened #3815 "Manifest file format changes from 0.8.0 -> 0.9.0"
hostDir key seems to have changed to hostPath for volumes[].source; other possibilities for this object mentioned in error logs (like GitRepo, GCEPersistentDisk) are not detailed in the link to the currently-linked manifest format:

https://cloud.google.com/compute/docs/containers/container_vms#container_manifest

[2015-01-26 23:56] derekwaynecarr commented on #3798
Doc needs update.  Will submit a PR.

Sent from my iPhone

[2015-01-26 23:57] brendandburns commented on #1768
I think I strongly believe that these kind of linkages should be the provence of things that live above the default Kubernetes layer, these things can have well understood semantics for linkages, but I'd really like to not have workflow anywhere in the core k8s API.

I like @smarterclayton 's small set of adaptations to the env var syntax.

wrt to labels vs. annotations, then I'm totally ok with u

[2015-01-26 23:57] erictune commented on #2294
@ironcladlou @pmorie @deads2k is one of you actively working on a fix?

[2015-01-26 23:58] derekwaynecarr commented on #3772
Famous last words :-)

Sent from my iPhone

[2015-01-27 00:03] brendandburns commented on #3815
@thockin

[2015-01-27 00:04] #3502 closed

[2015-01-27 00:08] smarterclayton commented on #3772
Got my hat ready

[2015-01-27 00:11] smarterclayton commented on #2294
We use poller downstream.  We need status on nodes and pods to be watchable before we can remove it.

[2015-01-27 00:30] bgrant0607 commented on #3268
@jasonkuhrt If you haven't seen it, take a look at https://github.com/GoogleCloudPlatform/kubernetes/tree/master/pkg/kubectl/cmd/config

[2015-01-27 00:34] mrunalp commented on #1615
Created a PR #3817

[2015-01-27 00:40] bgrant0607 commented on #148
I personally feel that the nested struct is overkill in this case, and is more complex to deal with. We're moving away from that for restartPolicy.

I view this as field defaulting rather than as optional behavior -- it shouldn't affect ongoing behavior. If the client specifies the name, then non-empty prefix is either irrelevant or an error, depending on how we want to define it. If the name is e

[2015-01-27 01:01] smarterclayton commented on #148
Ok.

"generateNameFrom" is my preferred field of the ones mentioned so far, I'll go with that unless there is another preferred choice.

[2015-01-27 01:01] jasonkuhrt commented on #3268
@bgrant0607 Ah cool. Will take a closer look later but I guess a new command to work with settings painlessly?

[2015-01-27 01:13] alex-mohr commented on #3401
Thanks Satnam.  Figuring out why tests are flaky is tough if we treat them as a black box, so IMHO we need to be able to get all relevant logs for a failure -- either by leaving the VMs up or by dumping them to stable storage that survives clear teardown.

But then we also need to invest the people time to walk through each failure, figure out why it happened, and then how to prevent it.

[2015-01-27 01:16] epsniff opened #3819 "Add a shutdown timeout config setting for replication controllers"
We have a service we would like to move to k8s but it takes one minute to shutdown.   This could be an issue with the current replication controller's logic,  because the k8s call to [dockerclient's StopContainer](https://github.com/GoogleCloudPlatform/kubernetes/blob/dd452461504ca373ca59dde2e667c50ae984e6fa/pkg/kubelet/kubelet.go#L864), has the stop timeout hardcoded at 10 seconds.

As a feature

[2015-01-27 01:18] epsniff commented on #3819
FYI: could try putting together a patch for it, if others don't have the time.

[2015-01-27 01:22] satnam6502 opened #3820 "Support log collection for end to end tests"
Right now although we enable node level logging for end to end tests we don't support cluster level logging (to Elasticsearch) although logging to Cloud Logging does work when the node level logging option is `gcp`. To help debug tests we should allow the collection and retention of logs for end to end tests.

For an end to end test, a user should be able to specify:
* Node level logging configura

[2015-01-27 01:23] satnam6502 commented on #3401
Yes, agreed. We should change out e2e tests so that we can specify configuration options that allow us to pick:
* Node level logging: Elasticsearch, GCP or neither.
* Cluster-level logging, with an option to leave the cluster-level logging pods running at the end of the e2e test.
I've filed issue #3820 for this.

[2015-01-27 01:24] satnam6502 commented on #3820
@roberthbailey @zmerlynn

[2015-01-27 01:28] dchen1107 commented on #3820
I filed #3500 which could be benefit from this one by the log collection too.

[2015-01-27 01:32] satnam6502 commented on #3500
For a while now the kubelet logs have been collected by node level logging. For Elasticsearch the user needs to enable cluster level logging (on by default for Elasticsearch node level logging). For gcp node level logging the kubelet logs will have been ingested into the cloud logging console for the GCE project used to host the cluster.

[2015-01-27 01:33] brendandburns commented on #3819
Please note that we have a PreStop lifecycle hook.  That should get called prior to the pod being stopped, and it should block stopping until it is complete.  Will that work for you?

[2015-01-27 01:50] smarterclayton opened #3823 "Double write to output stream in apiserver/proxy.go"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/proxy.go#L149 writes an error response *and* not found.  Should only write one.

[2015-01-27 04:05] derekwaynecarr commented on #3806
I would like to propose the following changes:

On the ```kube-apiserver``` side of things:

[code]

```apiserver.go``` would introspect ```Scope()``` and install ```NamespaceScope``` resources at the proper place in the path, and it would install ```ClusterScope``` resources in the path associated with the ```Kind```.

On the ```kubectl``` side of things, we would support a new parameter on all v

[2015-01-27 04:06] derekwaynecarr commented on #3806
The first usage of this feature would be in Namespace as Kind work, but we could then port ```Node``` to follow the same pattern.

[2015-01-27 04:55] thockin commented on #148
I'm fine with that, even if the "from" is a bit cutesy. :)

On Mon, Jan 26, 2015 at 5:01 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-01-27 05:06] thockin commented on #3815
hostDir is still correct in api v1beta1.  There was a short window after we
made the change to internal API but before we realized that the kubelet
file-reading code was bypassing the versioned->internal conversion during
which the 0.9 snapshot was cut.  We should maybe cherry pick that in.

Sorry for missing it.

@dchen1107 - who is driving 0.9 releases?

On Mon, Jan 26, 2015 at 4:03 PM, Brendan

[2015-01-27 05:10] smarterclayton commented on #148
That's too much ruby on the brain:

i.want.you.to do |what| is.asked! and :not end

[2015-01-27 05:15] #3804 closed

[2015-01-27 05:26] thockin commented on #3760
I'm trying to coax someone else who doesn't know this code well to learn it
and take it on.  I really *want* to tackle it, but it would be better if
someone else learned this space (not you! :)

That said, you also sent (good) email about the massive P1 list - and I
don;t think this is on that list yet.

On Mon, Jan 26, 2015 at 1:06 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-01-27 05:37] nterry opened #3828 "Username and password for default azure setup"
So I have now successfully created a default azure kube setup, but I cannot log into https://kube-366aa00.cloudapp.net/api/v1beta1/pods?namespace=default or anything else as it is prompting for a username and password. I have no clue what these default to...

Also, ive imported the azure.pem cert to my login keychain and given it always trust permissions, (im using OSX) but i still get the followi

[2015-01-27 05:38] brendandburns commented on #3547
Closing this, as I believe #3568 fixed it.

[2015-01-27 05:38] #3547 closed

[2015-01-27 05:41] brendandburns commented on #3305
@zmerlynn I believe this is now fixed by #3601 please re-open if it is not.

[2015-01-27 05:41] #3305 closed

[2015-01-27 05:43] brendandburns opened #3829 "Replication controller doesn't handle event expiration properly"
@jmreicha wrote:

I just ran across this the other day.  but I am seeing the error in the `kube-controller-manager` service.  Here is  a sample of the output.

I am running v0.8.2.

[code]

I can get the behavior to go away temporarily by rebooting the node or restarting the service but it always seems to come back eventually.

[2015-01-27 05:44] brendandburns commented on #3216
Closing this as the original issue is fixed.  Opened:

https://github.com/GoogleCloudPlatform/kubernetes/issues/3829

To track the work in replication controller.

[2015-01-27 05:44] #3216 closed

[2015-01-27 05:44] thockin commented on #3578
ACK.  GCE/GKE, Vagrant+Fedora, AWS+CoreOS should be our 1-2-3

On Mon, Jan 26, 2015 at 12:50 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-01-27 05:46] brendandburns commented on #2144
#1928 is subsumed by this bug.

[2015-01-27 05:46] brendandburns commented on #1928
Closing as a dupe of #2144

[2015-01-27 05:46] #1928 closed

[2015-01-27 05:47] brendandburns commented on #1905
@smarterclayton @ghodss  @bgrant0607

This is completed, correct?

[2015-01-27 05:48] brendandburns commented on #834
Closing this (again) as it is a dupe of #2144

[2015-01-27 05:48] #834 closed

[2015-01-27 05:50] brendandburns commented on #1052
Closing this as we now have http://kubernetes.io/third_party/swagger-ui

[2015-01-27 05:50] #1052 closed

[2015-01-27 05:50] roberthbailey commented on #3815
@zmerlynn did the 0.9.1 release.

[2015-01-27 05:51] brendandburns commented on #2719
Closing this as obsolete, with luck our soon-to-be-launched soak tests will catch any future problems.

[2015-01-27 05:51] #2719 closed

[2015-01-27 05:52] nterry commented on #3828
Sweet, after some more code-perusing, I found the .kubernetes-auth file in my local machine's user's $HOME directory.... But what about the cert issues?

[2015-01-27 05:52] roberthbailey commented on #3828
Are you trying to log in with your web browser? Have you run kubectl against your cluster to see if it can connect?

[2015-01-27 05:52] nterry commented on #3828
i get the
    x509: certificate signed by unknown authority
error when i use kubectl

[2015-01-27 05:53] roberthbailey commented on #3828
The kubernetes api server uses a self signed certificate, and kubectl should be checking the certificate when connecting to it. If you look at your .kubernetes-auth file, does it reference a certificate file (in addition to containing the username/password)?

[2015-01-27 05:53] nterry commented on #3828
nope

[2015-01-27 05:55] roberthbailey commented on #3828
If you want to bypass certificate checking in kubectl, you can pass --insecure-skip-tls-verify=true on the command line. This doesn't solve the underlying issue, but will at least allow you to make progress.

[2015-01-27 05:57] roberthbailey commented on #3828
By the way, this is the part of the cluster initialization that should be copying the cert files down from the azure VMs: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/azure/util.sh#L439

[2015-01-27 05:57] nterry commented on #3828
Right, but i want certs. Whats the missing key for the auth file. My file is thus:

    {
      "User": "admin",
      "Password": "illNeverTell"
    }

[2015-01-27 05:57] roberthbailey commented on #3828
Does ${HOME}.kubecfg.crt exist?

[2015-01-27 05:58] roberthbailey commented on #3828
Can you run those ssh commands manually (maybe without redirecting stderr to /dev/null so that you can see if they work properly)?

[2015-01-27 05:58] nterry commented on #3828
yep, but its empty

[2015-01-27 06:08] brendandburns opened #3831 "kubectl doesn't handle creating nodes properly..."
It forces the namespace to be 'default' when nodes have no namespace.

We need to special case the handling of Nodes in kubectl.

[2015-01-27 06:12] nterry commented on #3828
So i manually ssh'd and scp'd the files down and set the values in my auth file. Any clue as to why it failed the first time?

[2015-01-27 06:16] derekwaynecarr commented on #3831
I am working on a solution for handling resources that have a cluster scope versus a namespace scope differently on both server and client as prereq to #3613.

Sent from my iPhone

[2015-01-27 06:17] roberthbailey commented on #3828
Unfortunately I don't. I'm not very familiar with the azure start up scripts or the reliability of scp'ing files down from VMs (as an aside, all of the provider implementations can fail on the scp step and leave you in this state -- that should definitely be fixed, hopefully by doing something better than scp rather than just wrapping it in retries).

[2015-01-27 06:18] brendandburns commented on #3005
@nikhiljindal are you working on this?

[2015-01-27 06:19] nterry commented on #3828
right... well, so far ive got a working instance.... so yay!!!!! ill look into this tomorrow. Thanks for the quick replies!

[2015-01-27 06:19] brendandburns commented on #2828
Closing this, as it seems to be fixed?  Please re-open if you see problems.

[2015-01-27 06:19] #2828 closed

[2015-01-27 06:20] bgrant0607 commented on #148
I'm fine with it, also.

[2015-01-27 06:20] roberthbailey commented on #3828
Sure... feel free to look for help on IRC tomorrow if you get stuck.

[2015-01-27 06:21] brendandburns commented on #2578
Now that Tim's volume re-factor has gone in, I'm going to re-visit this issue.  Assigning to me.

[2015-01-27 06:23] nterry commented on #3828
What's the url for irc?

On Monday, January 26, 2015, roberthbailey <notifications@github.com> wrote:

[2015-01-27 06:26] brendandburns commented on #64
This is fixed, we now have a CA cert that we sign and pass down into kubectl, so chain of trust is established.

[2015-01-27 06:26] #64 closed

[2015-01-27 06:29] bgrant0607 commented on #3005
Not yet, AFAIK.

[2015-01-27 06:29] thockin commented on #3712
@abonas - can you drop me a line (my github name at google) - I want to ask
you something, and you have no contact info :)

On Thu, Jan 22, 2015 at 5:27 AM, abonas <notifications@github.com> wrote:

[2015-01-27 06:30] #3791 closed

[2015-01-27 06:33] brendandburns opened #3832 "We should add events for mount failures..."
To help us debug GCE-PD problems.

[2015-01-27 06:50] roberthbailey commented on #3828
We hang out on the [#google-containers channel on freenode.net](http://webchat.freenode.net/?channels=google-containers)

[2015-01-27 07:00] roberthbailey commented on #3820
I can see this being quite useful for developers running individual e2e tests.

For CI though, we need a solution that exports the logs out of the running cluster so that it can be torn down at the end of the test: we can't leave every cluster running (even only the ones that fail) to collect logs because we will quickly run into resource limits.

[2015-01-27 07:38] nikhiljindal commented on #3005
Yes not working on this right now.
I have a few other P1s that I am looking at right now.
Will pick up this one if no one has picked it by the time I get others done.

[2015-01-27 08:04] peter-braun commented on #3801
Thanks guys for the quick response.

@brendandburns it seems it doesn't work if I set `--api_version=v1beta3` on kube-controller-manager.

    [root@kube-master v3]# systemctl status kube-controller-manager -l
    kube-controller-manager.service - Kubernetes Controller Manager
       Loaded: loaded (/usr/lib/systemd/system/kube-controller-manager.service; enabled)
       Active: active (running) s

[2015-01-27 14:18] ironcladlou commented on #2294
@erictune

You figured this out already, but for the sake of visibility, let it be known that I am working the issue via #3810.

P.S., we are currently using Poller downstream because of our inability to receive watch events in response to Pod container state changes (which aren't persisted in etcd). We'd really love to ditch Poller, but can't without the watch functionality.

[2015-01-27 14:27] v1s0n commented on #3177
I noticed the same thing...Wish I would have found this post first.  I needed to increase the sleep that is prior to the sanity check also.  It got me past the sanity checks on all the nodes but now I will consistently only get two nodes out of four.  Validate-cluster reports "Detected 2 nodes out of 4.  Your cluster may not be working".  I am going to try the manual add as you suggested for the o

[2015-01-27 14:46] zmerlynn commented on #3815
@dchen1107 made a cherrypick-0.9 label, so maybe we should use it for 0.9.2.

@zmerlynn <https://github.com/zmerlynn> did the 0.9.1 release.

—
Reply to this email directly or view it on GitHub
<https://github.com/GoogleCloudPlatform/kubernetes/issues/3815#issuecomment-71593300>
.

[2015-01-27 15:11] ddysher commented on #3005
I was planning to work on similar things once #3733 goes in.   Also see #2726.

If we drop out Status info, then we'll need to figure out how to convey status information from k8s component, e.g. controller -> apiserver (for node status), kublet -> apiserver (for pod status), etc.  We probably need another endpoint, or filter based on authorization policy.

[2015-01-27 16:55] thockin commented on #1767
What ever happened with this idea?

[2015-01-27 17:08] jlowdermilk commented on #3831
/cc @deads2k

[2015-01-27 17:13] rrati opened #3837 "Port End-to-End tests to ginkgo/gomega"
Currently the end-to-end (e2e) tests run using a home grown test framework which may not provide all the functionality of an established testing framework and may require additional maintenance of the framework itself.  Ginkgo/Gomega seem to be a pretty complete Go testing frameworkl.

Some of the functionality ginkgo/gomega provides:
- test suite randomization
- parallel test execution
- custom r

[2015-01-27 17:16] timothysc commented on #3837
+1 per discussions.

[2015-01-27 17:55] filbranden commented on #3837
I'm particularly interested in custom reporting to generate JUnit XML for Jenkins...

I have a commit importing ginkgo/gomega into the Godeps tree, I was planning to tweak cmd/e2e to start using it just for the reports (right now) to see if that is easy to do...

Let's try to coordinate efforts.

Cheers,
Filipe

[2015-01-27 17:57] brendandburns commented on #3797
Just merged the fix for this.  Closing.

[2015-01-27 17:57] #3797 closed

[2015-01-27 18:01] #3755 closed

[2015-01-27 18:01] pmorie commented on #1768
@brendanburns Does your above comment mean that you don't think the core API should have the types necessary to express the relationships described here, even if they're dealt with solely at a higher level?

[2015-01-27 18:05] roberthbailey commented on #3837
@lavalamp (in case he is interested while on leave)

One thing that hasn't been mentioned is that this will add a third party dependency to our e2e tests. Right now we don't have any non-standard package dependencies (see https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/e2e.go#L17) but it's unclear to me whether this is because the code was in hack/ or whether it was a philosophi

[2015-01-27 18:07] bgrant0607 commented on #1905
Not entirely, but remaining items are covered by cli-roadmap.md.

[2015-01-27 18:07] #1905 closed

[2015-01-27 18:11] bgrant0607 commented on #1767
/cc @dchen1107

[2015-01-27 18:16] brendandburns opened #3838 "Error handling for services that don't match ports on containers is opaque."
We allow ContainerPort to be empty, but this integrates poorly with Pods that have no explicit Ports.  It's hard to validate a priori, since the ports may not exist.

We should at the very least throw some errors into the event log.

[2015-01-27 18:21] Symmetric commented on #3779
@erictune, I've successfully worked around this issue by manually specifying the IP in the kubelet-service, so that's definitely the source of the problem.

It looks like there's not a well documented way to populate the $private_ip on a bare-metal CoreOS deployment, though it can be done. It's therefore not obvious how to run Kubernetes on bare-metal or VMWare CoreOS. I believe this means the [Ku

[2015-01-27 18:25] brendandburns opened #3839 "reconcile --api_version vs --api-version flags"
Now that we're pflags everywhere, we should use --api-version instead of --api_version

[2015-01-27 18:30] epsniff commented on #3819
That looks like it could work.   Is it safe to kill the `entrypoint` process within the PreStop Hook?  If so we could write a script that sends a SigTerm signal and handle the timeouts our self.   Im hoping there isn't a race condition here the replication controller starts up new pods, because the process died during PreStop.

[2015-01-27 18:52] epsniff commented on #3819
So after some discussion we are pretty sure the `PreStop` hook will work for us.    Thank you!

FYI: The serivce in question uses a distributed task managment framework called [metafora](https://github.com/lytics/metafora).   We decided we're going to add a `drain` command to the framework so it signals a node to: a) stop taking new tasks, and b) start releasing tasks back to the task pool.   Afte

[2015-01-27 18:53] #3819 closed

[2015-01-27 18:59] brendandburns commented on #3801
Hey Peter,
This should now be fixed at head.  v1beta1 should support ```nodeSelector``` for replication controllers now.

Please let us know if it's not working.
--brendan

[2015-01-27 19:05] alex-mohr commented on #3837
@davidopp as part of test team kickoff?

[2015-01-27 19:05] brendandburns commented on #3801
I filed:  https://github.com/GoogleCloudPlatform/kubernetes/issues/3839 to cover the --api-version flag

I believe the other issue is fixed, so closing.  Please re-open if that's not the case.

[2015-01-27 19:05] #3801 closed

[2015-01-27 19:06] alex-mohr commented on #3837
@satnam6502 who's been go-ifying some bash tests too

[2015-01-27 19:19] zmerlynn commented on #3837
This also gets a +1 from me, from on the GVC.

On Tue, Jan 27, 2015, 11:06 Alex Mohr <notifications@github.com> wrote:

[2015-01-27 19:21] bcwaldon commented on #1767
@thockin It never got high enough on my weekend TODO list :( I can keep telling myself that I need to do it, or we can find someone who has a bit more time than me.

[2015-01-27 19:33] satnam6502 commented on #3837
Is there some kind of test team kickoff?

On Tue, Jan 27, 2015 at 11:05 AM, Alex Mohr <notifications@github.com>
wrote:

[2015-01-27 19:38] thockin commented on #2585
FTR I am working on getting some real-code mock-ups of this to evaluate the design issues.

[2015-01-27 20:14] mikedanese commented on #1767
I can probably get to this today.

[2015-01-27 20:22] brendandburns commented on #1767
Cool, thank you!

On Tue, Jan 27, 2015 at 12:14 PM, Mike Danese <notifications@github.com>
wrote:

[2015-01-27 20:31] #3721 closed

[2015-01-27 20:34] alex-mohr opened #3843 "IRC links to jenkins.kubernetes.io don't work"
IRC gets status reports from builds, but the included links don't work.

And my browser:

Zach, I think you've been doing jenkins work?  Or perhaps this is @brendandburns ?

[2015-01-27 20:37] #3711 closed

[2015-01-27 20:41] bgrant0607 commented on #3819
Actually, I think we should make the sigterm timeout configurable eventually, for applications that already use sigterm for graceful termination.

[2015-01-27 20:46] bgrant0607 commented on #1984
Example from #3839 filed by @brendandburns:
Now that we're pflags everywhere, we should use --api-version instead of --api_version

[2015-01-27 20:47] #3839 closed

[2015-01-27 20:49] bgrant0607 commented on #1451
IMO, no objects should have "business logic" in the apiserver, as per #2726.

/cc @davidopp

[2015-01-27 20:50] bgrant0607 commented on #1451
Well, ok, we need to do something once we add custom verbs, such as resize, clone, and stop.

[2015-01-27 20:50] bgrant0607 commented on #2726
/cc @davidopp

[2015-01-27 20:58] thockin commented on #2585
As I mocked it up, this design issue came to light: What is the purpose of Endpoints as a standalone object?  Is it to define a set of resources which are essentially fungible?  Or is is just a collection of stuff about which you need extra information to use?

Sorry for the gdocs, but I think it is a good way to illustrate ideas.

https://docs.google.com/presentation/d/1dp9V1aL-hFltHcBisQsW860qHp

[2015-01-27 20:59] smarterclayton commented on #3005
I've got part of this (creates) that I'm working on.  Update is harder

[2015-01-27 21:15] zmerlynn commented on #3843
Yeah, this is because the Jenkins server is still not public at all, and we'd rather not spam the private URL. I'm happy to own it but it's going to sit for a while.

[2015-01-27 21:17] alex-mohr commented on #3837
I heard someone at Google is going to be working full-time on testing in the near term.

[2015-01-27 21:17] alex-mohr commented on #3843
Okay, thanks Zach -- P3.

[2015-01-27 21:28] satnam6502 opened #3847 "Peers not reachable for a 500 node GCE Kubernetes cluster"
I tried to create a 500 node Kubernetes cluster but cluster validation failed during the kube-up process:
[code]
After waiting a bit I re-ran the cluster validation process which now finds 500 nodes but (very slowly) determines they are not working yet.
[code]

We should investigate what is going on here.

[2015-01-27 21:39] ddysher commented on #3005
@smarterclayton Any pointer to your work?  so I can stand on the shoulders of giants : )

[2015-01-27 22:04] #3772 closed

[2015-01-27 22:15] smarterclayton commented on #3005
Going to rebase shortly, Tim had some feedback I'm trying to address.

----- Original Message -----

[2015-01-27 23:02] dchen1107 commented on #3847
I took a quick look, and found that kubelet complaints net container cannot start. I checked docker log, and found error message: "no available ip addresses on network".

[2015-01-27 23:20] satnam6502 commented on #3847
Is this related to how I compute IP addresses, as shown in PR #3849 ?

[2015-01-27 23:37] saad-ali commented on #2618
Fixed with PR #3011

[2015-01-27 23:37] #2618 closed

[2015-01-27 23:46] #2578 closed

[2015-01-27 23:48] smarterclayton commented on #3005
I'm in here anyway, I think I'm going to do the bare minimum and clean it up now.  Will appreciate review.

----- Original Message -----

[2015-01-28 00:08] bgrant0607 commented on #3268
Yes. See the section on "config" here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl.md

[2015-01-28 00:15] thockin commented on #3815
#3701 is the fix

[2015-01-28 00:21] goltermann commented on #3741
Already in 0.9.1.

[2015-01-28 00:21] #3741 closed

[2015-01-28 00:23] thockin commented on #3734
Dup of #3760

[2015-01-28 00:23] #3734 closed

[2015-01-28 00:24] goltermann commented on #3728
Jeff, can you close if this is done?

[2015-01-28 00:27] satnam6502 commented on #3847
My fault. I incorrectly re-created the code to compute the IP addresses -- forgetting to add /24 for the CIDR address. One more reason for having this functionality checked in! Fixed.

[2015-01-28 00:27] #3847 closed

[2015-01-28 00:27] roberthbailey commented on #3609
Looking at recent Jenkins runs, private.sh does not appear to be failing any longer.

[2015-01-28 00:27] #3609 closed

[2015-01-28 00:31] goltermann commented on #3635
#3500 does cover this one.

[2015-01-28 00:31] #3635 closed

[2015-01-28 00:32] thockin commented on #3636
I don't think we should automatically open firewalls unless the user has explicitly asked for external access.

Retargetting this bug to mean "stop doing that" - @vishh @satnam6502 @zmerlynn can we ensue that nobody is doing this?

[2015-01-28 00:33] goltermann commented on #3626
Appears fixed in #3625

[2015-01-28 00:33] #3626 closed

[2015-01-28 00:34] roberthbailey commented on #3474
Fixed by the revert.

[2015-01-28 00:34] #3474 closed

[2015-01-28 00:35] zmerlynn commented on #3636
We automatically open firewalls in kube-up.sh for both monitoring and
logging today. Are you proposing that we claw that back, since it may not
be what the user wants, or that we document the heck out of the fact that
they're opening up service ports, or what?

On Tue, Jan 27, 2015 at 4:32 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-28 00:36] satnam6502 commented on #3636
So you mean the step in the cluster level logging that sets up a firewall should be removed? From cluster/gce/util.sh:
[code]

[2015-01-28 00:39] jlowdermilk commented on #3728
Closed by #3768

[2015-01-28 00:39] #3728 closed

[2015-01-28 00:42] goltermann commented on #3575
Closing as this has been answered.  Dupe of #2316.

[2015-01-28 00:42] #3575 closed

[2015-01-28 00:43] zmerlynn commented on #3815
@brendanburns: Are you handling the release? Saw the assign, didn't see the unassign. :)

[2015-01-28 00:44] zmerlynn commented on #3815
(I won't be able to get to it until tomorrow anyways.)

[2015-01-28 00:45] brendandburns opened #3852 "Automatically restart etcd"
We don't currently automatically restart etcd.  We should.

[2015-01-28 00:45] roberthbailey commented on #3449
Less config duplication sounds good to me, and overriding config options from the environment sounds useful in other contexts as well.

[2015-01-28 00:45] thockin commented on #3557
Must investigate memory pressure from events

[2015-01-28 00:46] brendandburns opened #3853 "Explore memory pressure on etcd."
It appears that our event stream is putting pressure on etcd and leading to crashes.  Investigate event + etcd memory performance

[2015-01-28 00:46] bgrant0607 commented on #2585
Reflecting IRL discussion:

Possible useful models are 3.1, 4, and 4.2. I previously favored 3.1, but now prefer model 4.2, which is more similar to our internal model.

Whether 3.1 or 4.2, the client needs to specify the port name in some form. While application clients may generally just be interested in one port, distributed applications often need to communicate with multiple ports. In that ca

[2015-01-28 00:46] smarterclayton commented on #3005
Finding some horrible things as I test this... as in, pod updates can change names under the covers if it hasn't been scheduled yet, you can clear PortalIP on a Service update (it *looks* intentional, but seems bad), and we apparently depend on some subset of the pod status info being stored in etcd.

----- Original Message -----

[2015-01-28 00:47] brendandburns commented on #3557
Closing due to more specific bugs: #3853 and #3852

[2015-01-28 00:47] #3557 closed

[2015-01-28 00:47] thockin commented on #3512
Fixed by #3817

[2015-01-28 00:47] #3512 closed

[2015-01-28 00:48] thockin commented on #3490
Is this monolithic issue still needed?

[2015-01-28 00:50] thockin commented on #3481
Why do we need this?  Pods and Services are supported.  Stop.

[2015-01-28 00:51] thockin commented on #3450
Obsolete, Travis is green.

[2015-01-28 00:51] #3450 closed

[2015-01-28 00:51] goltermann commented on #3450
If you're still seeing this, can you reopen with details.

[2015-01-28 01:19] rAy82 commented on #3762
You're right, those are two distinct problems.
I've installed a fresh master VM running the latest CoreOS alpha release (571.0.0) but nothing seemed to have changed: no waiter.sh file or even /opt/bin directory. But these weren't the only things that the system wasn't writing... look at this:
![immagine](https://cloud.githubusercontent.com/assets/8778205/5930262/ab85a3d4-a68d-11e4-8af9-5d58790be03

[2015-01-28 01:21] bgrant0607 commented on #1802
Discussion is happening on #2585. We'd appreciate feedback from users with multi-port services, especially if you plan to query the Endpoints API to discover targets/peers of the multi-port service.

[2015-01-28 01:22] bgrant0607 commented on #2585
I took a look at multi-port services mentioned in #1802 and elsewhere.

[RabbitMQ](http://stackoverflow.com/questions/12792856/what-ports-does-rabbitmq-use) looks similar to etcd in that it has a client port and a peer port.

Many other distributed systems require multiple peer ports. For example:
* Zookeeper has a [peer port and a leader port](http://zookeeper.apache.org/doc/r3.4.3/zookeeperStart

[2015-01-28 01:26] bgrant0607 commented on #2585
Note that our internal equivalent of apiserver uses both multiple client ports AND lots and lots of peer ports, both for different protocols and for sharding communication across multiple connections.

Another common scenario with multiple client ports: HTTP (80) and HTTPS (443). (BTW, I haven't tested it, but I assume we resolved #2459 with services v2.)

[2015-01-28 01:29] smarterclayton commented on #1451
By business logic I mean validation, and decision about what fields can be written during an update.  If we have authz at a field level and fix authz to be able to know about the diff, we don't need the latter as much.  Is that the biz logic you're concerned with?

[2015-01-28 01:38] bgrant0607 commented on #2585
The Salt master opens [2 ports](http://docs.saltstack.com/en/latest/ref/configuration/master.html), one for publishing state and one for receiving results. Minions also open [2 ports](http://docs.saltstack.com/en/latest/ref/configuration/minion.html), for push and pull.

[2015-01-28 01:40] dchen1107 commented on #3852
Can we run etcd as a Pod without resource limit, so that we could benefit directly from
1) RestartPolicy: Always
2) resource monitoring and logging

[2015-01-28 01:59] derekwaynecarr commented on #2585
Virtually every enterprise Java server opens multiple ports.

Sent from my iPhone

[2015-01-28 02:03] bgrant0607 commented on #2585
A multi-port scenario I haven't mentioned: multiple containers per pod. Typically there is one primary server and a number of helper servers exposed via localhost or an IPC mechanism, so the additional containers wouldn't be visible to external clients. There are cases, however, where users are running multiple services in a pod. For those cases, completely separate services, and therefore separat

[2015-01-28 02:07] bgrant0607 commented on #2585
Thanks, @derekwaynecarr. Do you have any idea whether an individual client typically connects to a single port or multiple ports exported by the same server/service?

[2015-01-28 02:17] derekwaynecarr commented on #2585
Depends on what you define as a client, and that is very use case specific.

Here are the list of default ports for a JBoss server:

https://access.redhat.com/documentation/en-US/JBoss_Enterprise_Application_Platform/6/html/Installation_Guide/Network_Ports_Used_By_JBoss_Enterprise_Application_Platform_62.html

Sent from my iPhone

[2015-01-28 02:24] derekwaynecarr commented on #3005
Can we chat on this tomorrow?  I am currently using a Status on an object to update the status of another in #3796.  I can easily make it that a spec of object A is what is used to update the status object B if we truly intend to block Status on all PUT.  If we go that route, we basically always require a mirror object pattern where spec of one object is status of other.

Sent from my iPhone

[2015-01-28 02:35] rAy82 commented on #3761
Exacty, I'm using the latest stable version.
After a rebuilding a clean cluster I set the -s option from the docker unit to the "btrfs" value, rebooted and I found no problem wih the docker process.
To have a stronger confirmation of that, I switched again to overlay, rebooted and verified that the docker process was failing and then back again to btrfs, confirming that docker was ok.
When the new

[2015-01-28 02:42] smarterclayton commented on #3005
I don't think my initial changes will be as strict as described here.  I think we need to reach closure among authz of updates, proper api behavior, and patterns before we fix this or introduce more status writing.  Let's circle these wagons.

[2015-01-28 03:28] derekwaynecarr commented on #2726
Is this a v1beta3 or something after timeframe?  The discussion here seems so fundamental and has so many ramifications depending on the route taken.  Another question, is kubectl a valid client for a controller in your view?  Meaning it too should be able to update Status.  I hope answer is yes, but wanted to be sure that we were not making an assertion as to how a controller is written by others

[2015-01-28 03:34] smarterclayton commented on #2726
We either have to restrict object mutation via a new resource (binding) or field level authz (finalizers).  There are advantages and disadvantages to both, and we could realistically do simple things now that allow mutation on some resources (nodes and your stuff).  I think we have enough info in various places to set a path, but we need to get it on paper.

[2015-01-28 03:50] bgrant0607 commented on #1451
No, I'm primarily concerned with on-the-fly computation of object status in the apiserver, as opposed to in the controller or other responsible component. ResourceLocation doesn't make me happy, either.

Pluggable defaulting and validation makes sense.

[2015-01-28 03:56] bgrant0607 commented on #2726
Preventing accidental user clobbering of system-set status (#3005) is a requirement for 1.0. The rest isn't, unless mandated by performance concerns or needed to alleviate complexity in specific components.

[2015-01-28 04:07] smarterclayton commented on #1451
K, same page

[2015-01-28 05:01] thockin opened #3858 "for v1beta3: embed VolumeSource"
#3818 refactor health checking and Probes, and sets an example of embedding the struct holding a one-of choice.  We have another example of this in VolumeSource which does not embed.  We should change it to embed to simplify the API a bit.

[2015-01-28 05:12] thockin opened #3860 "FieldRequired errors should not take a value argument at all"
By definition, if this error is returned, the value is not present.

[2015-01-28 05:27] sub-mod opened #3861 "Configure bind-to addresses for each daemon based on --bind-to config rather than an IP."
Refer https://github.com/GoogleCloudPlatform/kubernetes/issues/3681
Configure bind-to addresses for each daemon based on --nic config rather than an IP.Currently --public_address_override and defaultNet have to be set bind address.

[2015-01-28 05:27] sub-mod commented on #3681
https://github.com/GoogleCloudPlatform/kubernetes/pull/3719 this was a good discussion on why 0.0.0.0 can;t be default. Will just document about --public_address_override and PublicAddress for now.
It is better if we add a config paramater to dynamically discover the IP address + subnet  for each daemon based on --nic config. refer https://github.com/GoogleCloudPlatform/kubernetes/issues/3861

[2015-01-28 05:29] bgrant0607 commented on #2585
Note: a use case for a Service Phase field (pending, running, terminated): delayed IP allocation https://github.com/GoogleCloudPlatform/kubernetes/issues/473#issuecomment-70732654

[2015-01-28 05:38] thockin commented on #3681
I still think we should probably bind to 0 by default, but yeah auto-choosing is v.hard.  I think I agree that speccing --bind-to as an interface name makes sense.  I definitely agree that we should make that flag consistent across the components.

I'm going to rename this bug and leave it open.

[2015-01-28 05:57] bgrant0607 commented on #831
P2 to at least document this better.

[2015-01-28 06:03] thockin commented on #3636
I am suggesting we stop doing that, and instead print something to the
effect of "you may need to open the firewall for this to be useful".

Argue with me?

On Tue, Jan 27, 2015 at 4:36 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-01-28 06:26] derekwaynecarr opened #3864 "Improper reference to Kind versus Storage Path"
admission control and authorizer
both provide an attributes record that has a GetKind() operation.

They are actually returning the ResourcePath used in URLs, and not meta.Kind().

We should update each interface to avoid confusion to either return Kind as reflected in meta.Kind (i.e Pod) or relabel it StoragePath (pods).

I think for Admission Control, I want to make both fields available in case

[2015-01-28 06:57] dcarney commented on #2585
Lots of good multi-port use cases given already, but just to throw a little more fuel on the fire:

The use case we've encountered is when running nsqd and nsqlookupd under k8s.

From the [nsqd docs](http://nsq.io/components/nsqd.html):

nsqd does this while taking a single flag (broadcast-address) to set an address that will be registered with the nsqlookupd for advertising to clients.  This, ide

[2015-01-28 06:58] bgrant0607 commented on #3582
/cc @davidopp

[2015-01-28 07:13] bgrant0607 commented on #2585
Thanks for the example, @dcarney. What did you need to do to "workaround" the single-port limitation? It looks like the nsqd arguments take host:port pairs, so identical hosts for the 2 ports are not required.

For reference: Instructions for running nsqd on Docker: http://nsq.io/deployment/docker.html

[2015-01-28 07:32] dcarney commented on #2585
We use 2 services, and have nsqd use different "broadcast addresses" for each (mainline nsqd only supports sending a single address to nsqlookupd)  In effect, we have an nsqd instance behind 2 services, one for each port.

[nsqlookupd](http://nsq.io/components/nsqlookupd.html) is managing the topology of the nsqd instances, and allows topic discovery, etc.  Some of the functions it performs overla

[2015-01-28 07:33] bgrant0607 commented on #3676
Group thread about how to identify the pods of a replication controller:
https://groups.google.com/forum/#!topic/google-containers/WccX0G0Awqs

[2015-01-28 07:58] satnam6502 commented on #3636
Very poor user experience.

[2015-01-28 07:59] satnam6502 commented on #3582
Let me emphasize that I am far from certain that this is the source of test flakes.

[2015-01-28 08:01] bgrant0607 commented on #3756
This can now be viewed statically here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/gh-pages/swagger-spec/api/v1beta1/index.html

[2015-01-28 08:10] bgrant0607 commented on #3756
The Swagger spec discussing this is confusing, as it says that a type may refer to a model id.

However, in describing "property objects", it says that `$ref` is required:
https://github.com/swagger-api/swagger-spec/blob/master/versions/1.2.md#529-property-object

It looks like `$ref` is chosen over `type` only in the case of an array:
https://github.com/emicklei/go-restful/blob/master/swagger/mod

[2015-01-28 09:09] pires commented on #3762
Where are you assembling your CoreOS cluster? I've just tested this successfully both with Vagrant and GCE.

[2015-01-28 09:09] zbhlove100 opened #3865 "The container.env doesn't work correctly"
I use kubenetes to run a mysql server,and I want to set the root password.
With docker I set -e MYSQL_ROOT_PASSWORD=xxxx.
Here is my  configure file used in kubernetes:
{
  "id": "mysql",
  "kind": "Pod",
  "apiVersion": "v1beta2",
  "desiredState": {
    "manifest": {
      "version": "v1beta2",
      "id": "mysql",
      "containers": [{
        "name": "mysql",
        "image": "dockerfile/mysq

[2015-01-28 09:13] pires commented on #3762
Could it be that the files weren't downloaded because of some networking issue? Kubernetes binaries and some helpers like ```setup-network-environment``` are always downloaded? Or could it be that when you SSH to the node the files are not yet written? Not sure.. but this seems like a VM provisioning issue rather than Kubernetes or the provided cloud-configs.

[2015-01-28 09:47] Fandekasp opened #3866 "[v0.9.1] pod status permanently unknown"
Starting any pod/controller doesn't raise any error, but no container is started on the minions. Will downgrade to a previous version

[code]

[2015-01-28 11:57] rAy82 commented on #3762
I'm testing the coreos cluster with kubernates on two distinct and separated environments: a bare-metal coreos cluster in my office and a VMware Workstation environment with coreos VMs to test kubernetes when I'm not at work.
The issue has been opened because of my problems on my VM platform, but I'm having the same issue with network-online.target on both the environments. That prevents the other

[2015-01-28 12:23] pires commented on #3762
Not sure how to proceed since many things may be happening in your environments that are out of scope of this project. Also, I've got no access either to VMware or bare-metal CoreOS.

I'd recommend you to try out a Vagrant solution that I do maintain (https://github.com/pires/kubernetes-vagrant-coreos-cluster), or GCE or AWS, and close this issue.

[2015-01-28 13:07] etune commented on #3864
@derekwaynecarr I think you meant to mention @erictune instead of me.

[2015-01-28 14:25] smarterclayton commented on #3864
Are we passing the api version with the resource path (or kind)?  Because both need to be present for either value to mean anything

[2015-01-28 15:04] Fandekasp opened #3869 "kubernetes_auth missing documentation"
After installing nginx on the kubernetes master (currently non-k8s docker container) and forwarding external http requests  to the kubernetes-ro service through nginx with simple htpasswd auth, I tested it (to use within CI tool), but it failed to pass nginx.

[code]

Is it because we are required to use https when querying the apiserver using kubectl? Or because the -a option is used for a differ

[2015-01-28 15:39] rAy82 commented on #3762
Ok, thank you for your help.

[2015-01-28 15:39] #3762 closed

[2015-01-28 15:40] #3761 closed

[2015-01-28 15:46] peter-braun opened #3871 "'Error: 100: Key not found (/registry/nodes)' error written by kubelet"
Hi,

I started to build 3-node (master + 2 worker) "cluser" from scratch using binaries built (by myself) from master's head.

    [root@kube-master ~]# kube-apiserver --version
    Kubernetes v0.8.0-721-g586c7c80b28416-dirty

    [root@kube-master ~]# kube-scheduler --version
    Kubernetes v0.8.0-721-g586c7c80b28416-dirty

    [root@kube-master ~]# kube-controller-manager --version
    Kubernete

[2015-01-28 16:02] peter-braun commented on #3871
One more thing to add: I built the binaries by issuing plain `make release`. So I did no do any configuration (I even don't know if there is any ;)) before building.

[2015-01-28 16:12] vishh commented on #3636
+1 to Satnam's comment. How about providing an option to disable opening
firewalls automatically?

On Tue, Jan 27, 2015 at 11:58 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-01-28 16:38] thockin opened #3873 "Exec probe "success" - change it or document it"
It seems that exec probes must emit "ok" to be considered success, rather than return 0.  If this is what we really want, we should document it somewhere.

[2015-01-28 16:49] brendandburns commented on #3873
This is (was?) a limitation of docker exec, which didn't return the code.

Brendan
On Jan 28, 2015 8:38 AM, "Tim Hockin" <notifications@github.com> wrote:

[2015-01-28 16:50] #1767 closed

[2015-01-28 17:04] thockin commented on #3636
Only of the default is closed.  We currently open 6 ports to all minions.  I have no indication of the security of those 6 ports or even what they are for.  This represents a real risk, I think, and I would rather err on the side of caution.

@brendandburns  seemed to be in agreement.  @bgrant0607 or @jbeda or @alex-mohr care to weigh in?  It's a trade-off of friction vs safety.

[2015-01-28 17:08] brendandburns commented on #3636
I actually think that using the master as uber proxy is the right answer
for this.

Don't open firewalls, use the master's auth for security and single point
of access.
 On Jan 28, 2015 9:05 AM, "Tim Hockin" <notifications@github.com> wrote:

[2015-01-28 17:09] bgrant0607 commented on #3865
What do you mean "during mysql installation"?

If you `kubectl get pod mysql`, does it show you the environment variable?

You can also take the containerID from the containerStatus and do `docker inspect` on the node to see whether the variable is passed to Docker.

[2015-01-28 17:11] bgrant0607 commented on #3873
The doc says it looks at exit status, so we need to fix one or the other.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/container-environment.md

[2015-01-28 17:15] satnam6502 commented on #3636
Yes, that would be great, and I've always viewed the firewall as a temporary solution.

[2015-01-28 17:19] vishh commented on #3636
The proxy through the master has never worked for Grafana. +1 for the proxy
being a long term solution.

On Wed, Jan 28, 2015 at 9:15 AM, Satnam Singh <notifications@github.com>
wrote:

[2015-01-28 17:46] satnam6502 opened #3876 "GET operations do not always work on 500 node GCE cluster"
The get (pod|services|replicationControllers) commands below do not always work against a 500-node GCE cluster. They fail with a `All the given peers are not reachable (Tried to connect to each peer twice and failed) [0]` error. Sometimes they appear to work. The pods are in the Unknown state and neither Elasticsearch or Kibana and be reached via the firewall however when I log into the Elasticsea

[2015-01-28 17:52] bgrant0607 commented on #1535
@derekwaynecarr My proposed approach was here: https://github.com/GoogleCloudPlatform/kubernetes/issues/1535#issuecomment-67680523. We may need to bikeshed about the names/paths, though. You could think of the "custom verb" as a synthetic control resource, such as XxxTermination.

I'm happy to have "stop" and "delete" be distinct. We can provide the ability to do both in a single operation in kube

[2015-01-28 17:53] satnam6502 commented on #3876
Looking at the logs ingesting into Elasticsearch I notice instances of rate limits being exceeded.
[code]

[2015-01-28 18:16] bgrant0607 commented on #1553
I agree with all of @thockin's bullets. In particular, I agree we shouldn't be invoking git, pulling URLs, etc. Those should be done by containers. Even `docker pull` really should be invoked inside some user's container -- our internal equivalent is.

That said, the reason Kubernetes exists is to make common tasks easier. So, even if it were *possible* for users to do this themselves, we should s

[2015-01-28 18:17] satnam6502 opened #3879 "Investigate log rotation for kube-proxy.log"
Currently we have log rotation for `/var/log/kubelet.log` @vishh reported that `/var/log/kube-proxy.log`  is causing problems. Are we sure that log rotation for `kube-proxy.log` is working?

[2015-01-28 18:18] satnam6502 commented on #3879
@vishh reported problems with a cluster getting bricked because of this.

[2015-01-28 18:22] satnam6502 commented on #3879
Hmmm... we should be truncating it...
[code]

[2015-01-28 18:25] satnam6502 commented on #3879
And I do see it working on one of my nodes:
[code]
@vishh : is there a kube-proxy.log.pos file? If yes, how many rotated out files do you have and are they filling up your disk?

[2015-01-28 18:49] nikhiljindal opened #3882 "StatusReason* consts defined in pkg/pkg/api/v1beta{1,2,3}/types.go are not used anywhere"
We only use the StatusReason consts defined in pkg/api/types.go.
Some of the constants are duplicated in api/types and api/v1beta{1,2,3}/types.go  while some are not.

Since StatusReason\* constants defined in api/v1beta{1,2,3}/types.go are not used anywhere, can we just delete them?

[2015-01-28 19:06] vishh commented on #3879
I don't see a 'kube-proxy.log.pos'. I can try updating my cluster again and see if this issue appears again.

[2015-01-28 19:08] a-robinson opened #3883 "Need e2e test coverage of cadvisor"
We found yesterday that cAdvisor wasn't being started properly in 0.9.0 and 0.9.1 due to an issue with manifest file format changes (#3815, fixed in #3701). If any of our e2e tests even checked that cAdvisor was running or exposing metrics on all nodes, it would have been caught before release. We should add at least some coverage for it to catch bugs like this.

[2015-01-28 19:08] satnam6502 commented on #3879
Yes, I also did not see the pos file on a new-ish cluster that I created -- but I did see it on old clusters.

[2015-01-28 19:10] thockin opened #3884 "e2e test: just verify that endpoints works"
As experienced today, if endpoints does not work properly other tests fail in mysterious ways.  We should have an e2e test that just verifies that a service's corresponding Endpoints object is created and populated.  Should be an easy test.

[2015-01-28 19:12] pires opened #3885 "Mark node to be decommissioned and act accordingly"
I haven't found a way of pausing/decommissioning a node, have all its containers stopped and recreated elsewhere in the cluster.

This would be great for node upgrades (hardware, OS, etc.).

Obviously, the node would have to be _blacklisted_ so that no new containers are scheduled to it.

/cc @jmreicha

[2015-01-28 19:19] vishh commented on #3879
I did a few cluster updates using `kube-push`. Not sure if that might have led to the disappearance of `kube-proxy.log.pos`.

[2015-01-28 19:19] erictune commented on #3885
The pods would have to have replication controllers for that to work.
@ddysher can say if decommisioning is currently possible, or what is planned, and how that would interact with stopping of pods.

[2015-01-28 19:26] pires commented on #2524
@a-robinson etcd 2.0.0 is out and check this out ```etcdctl member {list|add|remove}``` ;-)

[2015-01-28 19:26] dchen1107 opened #3886 "TestReadFromFileWithoutID is flaky"
W0128 18:44:26.920238   14608 config.go:325] Pod[1] (foo.<empty-namespace>) from test failed validation, ignoring: namespace: required value ''
E0128 18:44:26.920811   14608 event.go:160] Could not construct reference to: '&api.BoundPod{TypeMeta:api.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:api.ObjectMeta{Name:"foo", Namespace:"", SelfLink:"", UID:"foo", ResourceVersion:"", CreationTimestamp:ut

[2015-01-28 19:29] erictune commented on #3636
Needed if proxy is long term solution: #2380

[2015-01-28 19:31] erictune commented on #3636
Related:
Expose externally proxied service addresses #2382

[2015-01-28 19:31] vishh opened #3888 "Kubelet must monitor disk usage"
Storage is not currently supported as a standard resource. Until that situation changes, kubelet should surface events whenever disk usage exceeds a threshold. Cadvisor already exports filesystem usage.

[2015-01-28 19:34] pires commented on #3885
Yes, having replication controllers is always the recommended way, but since Kubernetes allows for manual pod scheduling (with a pod descriptor instead of a replica controller descriptor) I think it would also be nice to support something like:
* Node is marked as scheduled for decommission
* Scheduler (?) is informed about this and reschedules pod(s) to other node(s)

[2015-01-28 19:38] satnam6502 commented on #3879
I am going to close this issue because I think there is something else going on in this specific situation where a lot of information is put into this log (perhaps to do with log levels?). We can re-open if @vishh has this problem again.

[2015-01-28 19:38] #3879 closed

[2015-01-28 19:45] satnam6502 commented on #3876
And the peers not reachable error is I assume related to etcd.

[2015-01-28 19:49] timothysc commented on #3837
@filbranden @alex-mohr @roberthbailey @zmerlynn @satnam6502 @thockin

Questions:
Is there a content owner for the e2e tests, who we should coordinate with?
We would like to proceed and perhaps just go for full conversion, are there issues here?
Is there some division of labor that folks would care to coordinate on?

[2015-01-28 19:53] zmerlynn commented on #3837
(If anyone wants to follow along, this conversation is happening live on
irc)

On Wed, Jan 28, 2015 at 11:49 AM, Timothy St. Clair <
notifications@github.com> wrote:

[2015-01-28 20:14] #3886 closed

[2015-01-28 20:23] erictune opened #3889 "Authorization Policy should be able to require "trusted images""
First, need to define what a "trusted" image is:
1. docker image name has some prefix.
2. define an "image" resource, which has labels (as has previously been proposed, and may already exist in openshift)

Suggest definitely doing the first, since this is composible with people's existing use of docker.  Also consider second if openShift folks want it.

Second, need a way to further restrict a pol

[2015-01-28 20:25] erictune commented on #3889
The motivating use case is a SoX-type requirement that "production" pods have images built using a approved process, but still allowing developers to use ad-hoc builds in "non-production" scenarios.

[2015-01-28 20:29] bgrant0607 commented on #3882
See also #1987

[2015-01-28 20:37] erictune commented on #3889
Third, we need  ways to define which pods such a condition applies to and which it doesn't.   Options:
 - all pods in namespace restricted;
 - any pod asking for a security-context is restricted,
 - any pod with label "prod" needs to meed the condition

Security context means the work that @smarterclayton and @csrwng are doing.   I think initially, they are going to have 1 default security context

[2015-01-28 20:38] erictune commented on #3889
Security contexts #3868
Need to go read that now.

[2015-01-28 20:40] erictune commented on #3889
Related discussion of Build Service and policy in #3759

[2015-01-28 20:55] yujuhong opened #3890 "Unclear/misleading tests in serialization_test.go"
In `pkg/api/serialization_test.go`, there is a fuzzerFor() used for randomly populating the api objects.
[code]

Both arguments `t` and `version` are not used anywhere in the function. I am not sure whether this is a bug, a work-in-progress, a TODO cleanup, or simply my misunderstanding (as I am new to the kubernetes and Go).

The argument `version` was actually used in the round-trip tests below.

[2015-01-28 20:59] dchen1107 commented on #3853
There is a couple ways to do this:

1) Create cgroups in cluster init.d-like script, and fork / exec etcd process in those cgroups, including memcg cgroup. Register such cgroup with cAdvisor, heapster will pick up the stats.

2) Run etcd as a pod. Here is a link on how to run etcd as a docker container: https://coreos.com/blog/Running-etcd-in-Containers/

With 2), we could benefit from Kubelet's R

[2015-01-28 21:00] yujuhong commented on #3691
I was going to grab this one, but found some code in serialization_test.go that I was unsure of (see #3890).

[2015-01-28 21:00] dchen1107 commented on #3853
cc/ @ArtfulCoder

[2015-01-28 21:10] brendandburns commented on #3853
Yeah, I think that we should do #2, and then we can use cAdvisor/grafana,
etc to track memory usage over time under varying load.

--brendan

On Wed, Jan 28, 2015 at 12:59 PM, Dawn Chen <notifications@github.com>
wrote:

[2015-01-28 21:12] satnam6502 commented on #3853
Interested. I think one of the reasons I can't get a functional 500-node cluster is due to etcd so any help with debugging would be great.

[2015-01-28 21:28] dchen1107 commented on #3853
Just had offline discussion with @ArtfulCoder. He will work on this as a starter project.

[2015-01-28 21:33] xiang90 commented on #3853
@brendandburns @dchen1107
FYI: We are working on moving etcd to a disk backed system.

[2015-01-28 21:38] derekwaynecarr commented on #3853
I don't see how running etcd in a pod helps in the near term without knowing why it was actually crashing for us.  I would be curious if you guys reproduce how big a etcd snapshot size was getting for you when it crashed to know if it was data size that was causing the issue, or just traffic.

@xiang90 - moving to a disk backed system +1000

[2015-01-28 21:49] bgrant0607 commented on #2306
For example, why does api/conversion.go exist?

[2015-01-28 21:54] alex-mohr opened #3892 "Switch kubernetes default etcd implementation to etcd 2.0"
@brendandburns writes: As we start looking into etcd and event memory pressure [#3853], we should look into switching over to etcd 2.0 which was released today.

[2015-01-28 22:00] yujuhong commented on #2306
Isn't api/conversion.go there to add/register the conversion functions?

In general, I agree the API code is hard to understand. There are too many interfaces, and I am not sure they are all that necessary. A little background and/or higher-level overview on the API code would definitely help a newbie like me.

[2015-01-28 22:03] satnam6502 opened #3893 "Reinstate cluster logging setup message giving Elasticsearch and Kibana URLs"

[2015-01-28 22:09] alex-mohr opened #3894 "kubectl: rationalize which messages to stderr/stdout"
A user reports to google-containers@googlegroups.com (https://groups.google.com/forum/#!topic/google-containers/qHDR-mvh7sM) the following.  I verified similar behavior in kubectl v0.9.1.

I am using Kubernetes v0.7.0, when I run "kubectl" to create pod, I found:
$ kubectl create -s http://192.168.122.136:8080 -f ./mariadb-pod.yaml
I0128 22:09:44.258267   30016 restclient.go:133] Waiting for compl

[2015-01-28 22:12] bgrant0607 commented on #2306
@yujuhong Which conversion functions? vs. v1betaN/conversion.go files?

[2015-01-28 22:17] jlowdermilk commented on #3894
I've seen that log before, and actually, it should be log.V(4). Internal things like polling actions shouldn't appear in logs unless the command is run with --v=#

[2015-01-28 22:21] ddysher commented on #3885
We are not there yet.  The best way is to use replication controllers for now.

After PR #3733 gets landed, I'll work on node lifecycle management and decommission.  Node has a `Terminated` phase which is when k8s tries to re-schedule pods.  This is for your first point.

For the second point, it'll be a little subtle to have all other components to understand node phase, especially the interactio

[2015-01-28 22:23] brendandburns commented on #3894
@smarterclayton @ghodss
I think another problem is actually that the kubectl outputs (at least the create.go one) is using fmt.Fprintf(...) which goes to stdout, while everything else is using glog... which goes to stderr.

What is the desired behavior?  I thought that logging to stderr, and user facing output to stdout was sort of the expected behavior.

[2015-01-28 22:23] dchen1107 commented on #3853
@xiang90 +1 on moving etcd to a disk backed system.

@derekwaynecarr We saw a couple incidents reported lately about the cluster is down, the pod stays pending, kubectl gets errors, etc. After some investigation, all of them are due etc etcd is crashed. Investigating future, there is a OOM event recorded in kernel log. Since etcd running on master node as "free" process today, we have no idea how

[2015-01-28 22:25] smarterclayton commented on #3894
Can sometimes be - in this case we're leveraging stdout for "things you might want to script" and stderr for "logs and pretty info".  So create returns only the name of the thing created, so you can (in theory)

    kubectl get pods $(kubectl create -f something.json)

Create/Delete/Update return the names of the things - get does stdout.  I'm not sure these rules *have* to be followed (although g

[2015-01-28 22:28] brendandburns commented on #3815
The fix was cut into 0.9.2, closing

[2015-01-28 22:28] #3815 closed

[2015-01-28 22:30] kelseyhightower opened #3899 "kubelet fails to start with the --api_servers flag"
Kubernetes Version: 0.8.2

Kubelet config:

[code]

Kubelet Logs:

[code]

[2015-01-28 22:32] brendandburns commented on #2544
Fixed by #3848

[2015-01-28 22:32] #2544 closed

[2015-01-28 22:34] smarterclayton commented on #3890
Test was so that callers can log things to test output (glog isn't in line with failures, which makes it hard to decode), and version is so you can make specific decisions about fuzzing for output versions.

----- Original Message -----

[2015-01-28 22:43] Fandekasp commented on #3869
I tried to run kubectl proxy in one shell and query kubectl get in the other, without success:

Shell 1
[code]

Shell 2
[code]

[2015-01-28 23:02] #3785 closed

[2015-01-28 23:04] erictune commented on #3885
I don't think we want to do the second point.  Pods should not come back to life on a different node after they have been stopped on one node.  We want the phase state machine to be a DAG not a general graph.

[2015-01-28 23:14] erictune opened #3906 "somehow #include the CoreOS CloudConfig into AWS Cloud Formation rather than inline."
In the AWS cloud formation template, `docs/getting-started-guides/aws/cloudformation-template.json`, there are two places where CoreOS "cloud-config" scripts are inlined.  The source of these scripts is `docs/getting-started-guides/coreos/cloud-configs/` but with some slight differences.  It is a minor pain to keep these in sync.

Wondering if @silasdavis @pires @kelseyhightower or another person

[2015-01-28 23:15] bgrant0607 commented on #2585
I haven't said much about Status, but as long as we're on the topic of Endpoints, in addition to copying client-provided metadata into Endpoints, we should consider copying other useful information into the metadata (perhaps optionally), such as links to the corresponding pods (#3623), links to resource information relevant to the pods, and readiness.

[2015-01-28 23:20] alex-mohr commented on #3899
I think the problem stems from the lack of --etcd_servers flag?

From a GKE-launched VM:
% /usr/local/bin/kubelet -version
Kubernetes v0.8.1-dirty
% ps auxwww | grep kubelet
root      4944  0.5  0.7  97056 27468 ?        Sl   01:12   7:41 /usr/local/bin/kubelet -etcd_servers=http://10.240.226.175:4001 -api_servers=https://10.240.226.175:6443 -auth_path=/var/lib/kubelet/kubernetes_auth -address=0.0

[2015-01-28 23:21] smarterclayton commented on #2306
Originally it was to facilitate containermanifest -> podspec, since kubelet continued to support legacy paths.

[2015-01-28 23:24] pires commented on #3906
I'm not familiar with CloudFormation but IIRC you asked for me to update this as well, and so I did. I've validated the template with official AWS CloudFormation validator.
+1 for someone who actually uses AWS & CloudFormation to take on this based on ```docs/getting-started-guides/coreos/cloud-configs/```.

[2015-01-28 23:35] yujuhong commented on #2306
It seems like a temporary place to hold conversion functions. All of them can and should be moved to v1beta1/v1beta2/v1beta3, etc eventually.

[2015-01-28 23:38] bgrant0607 commented on #3676
Continuing discussion from #3872 and #3623:

We're moving away from status computed on-the-fly: #2726.

Also, we're planning to support pruning out fields #1459, but will not add extra information that is not present by default. Such information has to be provided by a separate API endpoint.

Frequently changing, potentially huge lists in object status would be highly problematic, both internally

[2015-01-28 23:40] alex-mohr commented on #3885
I personally think there's a reasonably-big usability gain from allowing pods to declare a restart policy that includes node failure and little downside.  We already allow pods that are scheduled on a machine to restart as new containers if they crash, so the phase state machine already has cycles.  And it seems strange to allow restarts only if containers on a node fail, but ban them when they'd

[2015-01-28 23:45] satnam6502 opened #3907 "Allow API rate limits to be specified during cluster creation"
We will want to have a way of specifying the API rate limits for the read only port as we move to parallel testing which will bust the 1 QPS with a burst of 20 default limit. PR #3905 is a step towards that direction (adds flags to apiserver to specify rate limits). We should think about where and how this information should be specified by the user.

[2015-01-28 23:47] smarterclayton commented on #2306
There will always be internal objects you want to convert across, although it should be a few (due to reuse of common structs.

[2015-01-28 23:49] smarterclayton opened #3908 "A server assigned Service.PortalIP should be stored in status, not spec"
The user did not choose the portalIP, so we should not pretend they did.

We should fix this in v1beta3 for #1519

[2015-01-28 23:51] dchen1107 commented on #3899
ACK, looking into it now.

[2015-01-28 23:52] alex-mohr commented on #3876
Looks like a debugging/introspection failure?

[2015-01-28 23:54] alex-mohr commented on #3873
@dchen1107 for kubelet

[2015-01-28 23:55] yujuhong commented on #3890
@smarterclayton, my point is that neither of the arguments is used in the function.  I'd prefer a comment to point out the fact and the potential usage :)

[2015-01-29 00:03] dchen1107 commented on #3899
Ahh it is known issue, and fixed by #3356 initially. I patched 0.7 release. @filbranden later proposed a cleaner fix for this, but I guess he didn't patch 0.8 release with his fix.

[2015-01-29 00:04] filbranden commented on #3899
Yeah I never went back to release-0.8 to cherry-pick the fix... I imagine release-0.9 is also affected.

[2015-01-29 00:07] satnam6502 commented on #3876
I suspect etcd here. We could try again when we have incorporated etcd 2.0?

[2015-01-29 00:08] alex-mohr commented on #3779
@pires @kelseyhightower for https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/coreos_multinode_cluster.md clarification?

[2015-01-29 00:13] alex-mohr commented on #3871
Okay, 0.9.1 worked, but 0.8.0 did not.  I found #3617 which reported similar `registry/nodes` errors and it was also 0.8, so I suspect a fixed issue in 0.9.  I also confirmed that 0.9 also does not have a `registry/nodes` entry -- it looks identical to your 0.8 output above.

Re: where to ask questions, check the bottom of https://github.com/googlecloudplatform/kubernetes for links to irc and a co

[2015-01-29 00:14] dchen1107 commented on #3899
I will patch 0.8.2 with proper fix soon.

[2015-01-29 00:17] alex-mohr commented on #3869
@jlowdermilk Looks like the `-a ~/.kubernetes_auth` isn't forwarding authorization as expected?  Can you take a look please?

[2015-01-29 00:17] zmerlynn opened #3912 "Create a cloud provider support matrix"
Proposing we create and check-in a "cloud provider support matrix" that has each provider, its last tested version, a nominal "owner" for that provider, and notes (what seems to be currently broken for that provider, or for, in some cases, maybe what setups are known to clearly work and what clearly doesn't.)

Right now it's exceedingly hard for anyone who's coming into the project to figure out w

[2015-01-29 00:18] zmerlynn commented on #3912
I'd actually like a separate table for the different "Getting Started Guides", too, since they have their own special bitrot as well.

[2015-01-29 00:19] erictune commented on #3912
Need provider x is sparse matrix.  Willing  to help.
On Jan 28, 2015 4:17 PM, "Zach Loafman" <notifications@github.com> wrote:

[2015-01-29 00:21] alex-mohr commented on #3828
Closing for now; please do reopen if there's anything else you'd like us to look into or answer.

[2015-01-29 00:21] #3828 closed

[2015-01-29 00:23] alex-mohr commented on #3883
@rjnagal @vmarmol @vishh If any of you are up for adding an e2e test for cadvisor, that'd be much appreciated!

[2015-01-29 00:23] derekwaynecarr commented on #3912
Ack.

Sent from my iPhone

[2015-01-29 00:24] pires commented on #3779
```$private_ipv4``` works both in Vagrant and GCE. I know that it has worked in AWS from users feedback at ```#google-containers```. If no one is maintaining the VMware instructions, perhaps it's time to remove them?

Anyway, @Symmetric can you remove that flag and have a try? Post the results, please.

[2015-01-29 00:24] zmerlynn commented on #3912
@erictune Couldn't quite parse that. :)

[2015-01-29 00:27] alex-mohr commented on #3866
@dchen1107 Dawn, any chance you can take a look at this as an introspection-failure example?  Also seems odd that there's `%!v(MISSING)` in the scheduler message output?

[2015-01-29 00:28] mbforbes commented on #3912
Ack. This is an excellent idea.

This would also make me more comfortable updating the project's README (many people's first intro to k8s, I would assume), which says "Kubernetes can run anywhere! *However*..."

[2015-01-29 00:29] alex-mohr commented on #3908
@bgrant0607 fyi re: API.

[2015-01-29 00:29] saad-ali commented on #3290
**Formal Proposal:**
Add a command (```kubectl clusterinfo```) that will:
 1. Print the master host IP or URL
   * ```kubectl``` loads configuration information including master host location from either a config file, command line parameter, or environment variable.
   * The new command would echo this information.
   * For example: ```Kubernetes master is running at https://104.154.45.3```
 2. P

[2015-01-29 00:33] alex-mohr commented on #3912
Seems reasonable to me -- thanks Zach.

[2015-01-29 00:36] bgrant0607 opened #3914 "Eliminate api/conversion.go"
Forked from #2306 and #3854.

api/conversion.go shouldn't exist. We should always be converting to/from some versioned API object.

/cc @thockin @yujuhong @lavalamp

[2015-01-29 00:38] #3343 closed

[2015-01-29 00:38] kelseyhightower commented on #3899
@dchen1107 Thanks for the fast response here.

[2015-01-29 00:40] derekwaynecarr commented on #3290
I think we will want to support different information so we need to allow some flexibility.  @smarterclayton

Sent from my iPhone

[2015-01-29 00:41] vishh commented on #3883
I will work on adding one for cadvisor.

On Wed, Jan 28, 2015 at 4:23 PM, Alex Mohr <notifications@github.com> wrote:

[2015-01-29 00:52] jlowdermilk commented on #3869
```--server``` takes a full qualified URL. If you pass the plain ip string it will do a get over http, which the apiserver correctly rejects. Replace `$masterip` with `https://$masterip` and it should work as expected.

Note that if you set up a kubeconfig file you can avoid some of this pain. Run `kubectl config -h` for help/commands to set up a kubeconfig.

[2015-01-29 00:52] jlowdermilk commented on #3869
Please reopen if the above does not work for you.

[2015-01-29 01:01] dchen1107 commented on #3899
@kelseyhightower I patched the release, and here is https://github.com/GoogleCloudPlatform/kubernetes/releases/tag/v0.8.4

I am closing the issue for now. If you still observe the problem, please re-open it. Thanks!

[2015-01-29 01:01] #3899 closed

[2015-01-29 01:03] bgrant0607 commented on #3644
Please remove this from the client library:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/restclient.go#L134

[2015-01-29 01:06] dchen1107 commented on #3876
@satnam6502 Can you confirm it is etcd? You can ssh into your master node, and check if etcd is not running.

[2015-01-29 01:07] satnam6502 commented on #3876
I can't ssh today because I am out of API quota. I have to wait until tomorrow.

[2015-01-29 01:09] bgrant0607 commented on #3644
And here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/request_test.go#L802

That must not be exercised?

[2015-01-29 01:12] dchen1107 commented on #3866
@Fandekasp Can I have the output of "docker ps -a" and your kubelet.log?

[2015-01-29 01:13] bgrant0607 commented on #3908
The user _can_ choose it, however. So, effectively, it's like setting a custom default value, currently.

We should decide what to do as part of #2585.

[2015-01-29 01:19] dchen1107 commented on #3888
This is part of #2903, and I think jnagal is working on this already.

[2015-01-29 01:20] dchen1107 commented on #3888
Closing this one in favor of #2903

[2015-01-29 01:21] bgrant0607 commented on #3873
@vishh for exec

[2015-01-29 01:26] dchen1107 commented on #3873
@vishh could you take a look at this? Feel free to re-assign it back to me.

[2015-01-29 01:27] smarterclayton commented on #3908
I meant, it should be stored in two places.  The user sets portalIP, stored as part of spec and *always* returned in status.  Set by the system, never stored in spec, and set in status.

That means you can export a service by name to another namespace and reuse it, because the user's lack of caring about the portalIP is preserved.

[2015-01-29 01:28] bgrant0607 commented on #3290
It would be nice if information about cluster/addons were not hardcoded into kubectl. We could put a label on all cluster-level services (not pods) and then just query those.

We do need to solve the external IP problem.

[2015-01-29 01:29] dchen1107 commented on #3892
cc/ @ArtfulCoder

[2015-01-29 01:33] satnam6502 opened #3918 "Write tests to prevent code wrapped in Docker containers does not bit rot"
We have code that we depend on for tests like `serve_hostname.go` and `webserver.go` which is built using a Makefile and then wrapped in a Docker container and then used by tests. However, it is easy for this code to bit rot. We should have tests to at least make sure this code still compiles.

[2015-01-29 01:36] bgrant0607 commented on #3894
I do want to preserve and improve scriptability. It's a line item in cli-roadmap.md.

All user-friendly messages should go to stderr.

I'd like full objects and other machine-readable info to go to stdout.

We should provided an option to simply output names, partial URLs (for objects of multiple kinds, namespaces, etc.), whatever that can be provided back to kubectl as command-line arguments.

I

[2015-01-29 01:44] smarterclayton commented on #3894
We also need -q or equiv for get so you can easily pipe to xargs.  That's on my list, as well as delete all.

[2015-01-29 01:44] bgrant0607 commented on #3908
Ok, I'll buy that.

[2015-01-29 01:47] smarterclayton commented on #3908
In theory service portal ip assignment can be modeled as a finalizer if people can wait for status, which means you can do single writer allocation and the APIServer can scale again.

[2015-01-29 01:51] #3890 closed

[2015-01-29 01:52] jlowdermilk opened #3919 "kubectl ClientForVersion ignores resource mapping"
I stumbled across this while experimenting with kubeconfig load order/merging. There are various helpers constructed from a Factory that use [clients.ClientForVersion](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/cmd.go#L348), however this always uses the same default ClientConfig because [ClientConfigForVersion](https://github.com/GoogleCloudPlatform/kubernetes/bl

[2015-01-29 01:58] smarterclayton commented on #3890
Sure - assign this to me and I'll get something in there eventually.

[2015-01-29 02:10] smarterclayton commented on #3919
Looks like a bug, clientforversion should accept "" (which can provide a default) and SetKubernetesDefaults has the final fallback protection (by using latest.Version).  If version != defaultConfig.Version, we should copy defaultConfig, set version, then apply kubedefaults.

The reason we take version here is if a resource is specified via file which only exists in a newer version, ie user says:

[2015-01-29 02:18] ddysher opened #3920 "kubectl to ssh node"
While it's possible for k8s admin/users to ssh into nodes from cloudprovider, it is nicer to provide a ssh subcommnd within kubectl. This helps us provide a consistent view of kubernetes cluster.  So instead of
[code]
or
[code]
Client can just do:
[code]
where NodeName is the canonical node resource name in kubernetes, e.g. from `kubectl get node`.

One option is to provide pod id, so
[code]
will

[2015-01-29 02:22] derekwaynecarr commented on #3920
Cc / @agoldste

[2015-01-29 02:30] zbhlove100 commented on #3865
I use the official mysql repository in docker hub.
I only use docker with the command:
docker run --name some-mysql -e MYSQL_ROOT_PASSWORD=xxxxx -d mysql.
Dcoker will start a mysql database and set the root's password to xxxxx.

If I use kubernetes with the configuration I'v posted.
kubernetes will start amysql database but the root have no password.

And I  do docker inspect on the node,the varia

[2015-01-29 02:48] thockin commented on #3865
After you create the pod, if you do ' kubectl get -o json pod [name] ', do
you see then env var?
On Jan 28, 2015 6:31 PM, "zbhlove100" <notifications@github.com> wrote:

[2015-01-29 02:53] ddysher commented on #3885
Do we have cycles in current state machine?  Restarting containers seems to be a cycle, by containers are not primitive in k8s.  We do create Pod on failure from replication controller, but the newly created Pods are not the same entities as previous ones, they have different UIDs at least.

What the second point (re-schedule) really sounds like is migrating the Pods from failed node to new node.

[2015-01-29 02:55] thockin commented on #3894
My opinion: stderr is for errors, full stop.

kubectl help get -> stdout, user asked for it

kubectl gett -> stderr, user made a mistake
On Jan 28, 2015 5:45 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-01-29 02:56] thockin commented on #3892
+1
On Jan 28, 2015 5:29 PM, "Dawn Chen" <notifications@github.com> wrote:

[2015-01-29 02:58] thockin commented on #3873
FWIW the current behavior isn't SO bad, and it makes clear a failure in the
thing that probed vs a failed probe.  Just saying, we don't NECESSARILY
need to change it.
On Jan 28, 2015 5:26 PM, "Dawn Chen" <notifications@github.com> wrote:

[2015-01-29 03:12] smarterclayton commented on #3894
Time to research!

http://www.jstorimer.com/blogs/workingwithcode/7766119-when-to-use-stderr-instead-of-stdout
http://en.wikipedia.org/wiki/Standard_streams

One thing that stands out - stdout is what you pipe to the next program, full stop.  If you'd grep it, it would be on stdout.  If you'd pipe it to xargs, it's stdout.  If you need to see it, but don't care much past that... it's probably stde

[2015-01-29 03:13] smarterclayton commented on #3894
Also, if ordering matters, you probably want to keep it all on one stream.  I.e. grep errors can be out of band (and potentially be flushed later than message), but trying to deliver things out of order.

[2015-01-29 03:21] Fandekasp commented on #3869
I understood that I cannot use kubectl with remote server through http, so I modified my nginx to support ssl.

I still have a problem with the `-a` or `--auth-path` parameter. Is the kubernetes_auth supposed to have a different format maybe?

[code]

@jlowdermilk thanks for the **kubectl config** tip. But it's only a v0.9+ feature, so I'll try it when I upgrade later from v0.8.1

[2015-01-29 03:34] thockin commented on #3894
Printing anything the user asked for is stdout.  Printing the json of an
object can pipe to jq.  Printing lines of a table can pipe to awk.  Etc.
On Jan 28, 2015 7:13 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-01-29 03:47] smarterclayton commented on #3894
Yup, agree.

[2015-01-29 04:51] nikhiljindal commented on #3644
Thanks for pointing it out.
Sent https://github.com/GoogleCloudPlatform/kubernetes/pull/3921 for that.

[2015-01-29 05:23] brendandburns opened #3924 "auto-generate man pages for commands (or remove the man pages)"
We auto-generate kubectl, we should probably auto-gen the man pages too...

[2015-01-29 05:25] thockin commented on #3918
dup of #3665

[2015-01-29 05:25] #3918 closed

[2015-01-29 05:26] thockin commented on #3665
Sadly 'go test' is insular and won't run other kinds of tests, so is a poor substitute for a build system unless you are entirely monoglot, which we are not.  We could make our test scripts find *_test.sh and run those, too and then just add a build_test.sh to each dir which just calls 'make'.

[2015-01-29 06:07] bgrant0607 commented on #3894
Help output to stdout -- sure, fine.

[2015-01-29 06:12] bgrant0607 commented on #3920
See also #1513

[2015-01-29 06:15] erictune commented on #3912
The format I had in mind is  #3926

[2015-01-29 06:23] bgrant0607 commented on #3908
I will point out, however, that that fact that fields will be set by defaulting, rollout tools, imperative commands, auto-scalers, etc. are going to require that we annotate which fields the user really cares about in order to do a merge from a declarative config file with the current desired state in the system. This really isn't different.