[2017-01-09 20:16] jessfraz commented on #39597
ah I can cherry-pick

[2017-01-09 20:23] jessfraz commented on #39597
opened in https://github.com/kubernetes/kubernetes/pull/39634

[2017-01-09 20:29] liamawhite commented on #39622
I'm interested in fixing this issue, but looking though the code it seems to allow wildcard characters.

It eventually calls [this](https://github.com/kubernetes/kubernetes/blob/c200f27245101407db6741a2c4bc20fd1bab1e20/pkg/util/validation/validation.go#L156) validation function.

Could you link to the docs that say otherwise?

[2017-01-09 20:38] liamawhite commented on #39622
I'm interested in fixing this issue. Looking through the code it calls [this](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/validation/validation.go#L156), which says that the asterick wildcard is a valid character.

Just to confirm is the error message you posted the expected error message or the error message you actually get?

[2017-01-09 20:39] krzyzacy commented on #39597
@jessfraz thanks!

[2017-01-09 20:48] #36571 closed

[2017-01-09 20:48] #38362 closed

[2017-01-09 21:09] sheerun commented on #17406
My use case: I wanted to discover service ip address from load balancer pod that is deployed on host network and in daemon set

[2017-01-09 21:11] timothysc commented on #20504
Yeah, my early 2016 was HIGHLY optimistic.
"No one expects the Spanish inquisition" ~ M. Python

[2017-01-09 21:11] mbohlool commented on #39604
@deads2k Yes, I wrote this test. I was failing (timing out) for quite some time on jenkins but passing quite fast locally. I've disabled it but after a while it started passing and I assumed it was a configuration change on the test machines. I will spend some time on it again to see if I can find the root cause and will disable it otherwise.

@@kubernetes/sig-testing-misc, This test is passing lo

[2017-01-09 21:14] Random-Liu commented on #39597
@jessfraz For 1.4, some manual change is needed. I'm also trying it https://github.com/kubernetes/kubernetes/pull/39632

[2017-01-09 21:18] fraenkel commented on #39604
@mbohlool I see what you do. Locally it takes 25s, with bots it is 300s. My guess is that we are constrained by CPU and all the encode/decode is causing strain either on CPU or GC.  The bots fail about 75% for me so I just keep retrying until success. Just had 2 this morning pass at 296s.

[2017-01-09 21:19] mikedanese commented on #38023
Hasn't happened in a month

[2017-01-09 21:19] #38023 closed

[2017-01-09 21:25] spxtr commented on #39604
Curiously, it's taking about 20 seconds with Bazel. @rmmh, this might be worth looking at.

[2017-01-09 21:46] nikhiljindal commented on #39494
Yes I didnt realise I was using an older version (1.4) of kubectl.
Using the latest version works fine

[2017-01-09 21:46] #39494 closed

[2017-01-09 21:55] #35815 closed

[2017-01-09 21:55] #38172 closed

[2017-01-09 21:56] luxas commented on #39501
@david-mcmahon ping. Can you confirm that pushing cni did fix the issue?

[2017-01-09 21:56] #36560 closed

[2017-01-09 21:59] eparis opened #39637 "Per PR verify does not notice extra deps in Godeps"
This has bitten us multiple times. See for example: https://github.com/kubernetes/kubernetes/pull/39448

The PR removed a bunch of kubernetes code which removed the last usage of a package in `Godep`/`vendor`. The problem is that all 'per PR' checks will short circuit `hack/verify-godeps.sh` if there were no changes in those directories. We cannot get rid of that short circuit because the test tak

[2017-01-09 22:03] valentin2105 commented on #28962
I have also this problem using deployment with HELM,

I deploy all my pv,pvc,deploy,svc in one Charts, and my pod who requiere a volume from the PVC get scheduled and stay in ContainerCreating mode. I need to wait minutes or delete pods for they correctly get rescheduled using the volume.

Here is the log when the pod get automaticly deleted (after minutes) :
[code]

It would be awesome if the dep

[2017-01-09 22:16] yujuhong opened #39639 "gce-serial: node controller unable to update the node status"
The build has been red for a couple of days:
issue: #39406
dashboard: https://k8s-testgrid.appspot.com/google-gce#gce-serial

Many disruptive tests (e.g., cluster resize) are failing because the node controller is unable to update the node status. Here are some relevant log snippets from one such failure:

kube-controller-manager.log:
[code]

kube-apiserver.log:
[code]

Seems to be related to the

[2017-01-09 22:17] dashpole commented on #22586
Once cAdvisor is vendored into k8s, this should no longer be an issue.  If people still see this problem after the next release, feel free to reopen this issue.  For now I propose closing it.

[2017-01-09 22:17] derekwaynecarr commented on #38303
@hodovska on my team is going to get some testing in place that has this feature enabled to see where things break down.  i think an option to node e2e that runs an optional test for this scenario where docker has this configured will help the broader community.

[2017-01-09 22:19] #16563 closed

[2017-01-09 22:28] timothysc commented on #39594
it's not alpha, that was just a tag applied by folks adding the image to gcrio.

Yes 3.0.14 is the correct version.

[2017-01-09 22:28] bgrant0607 commented on #39048
If you don't want to be removed from the kubernetes github org, please enable two-factor auth by end of day Thursday this week (1/12).

cc @adityakali @Amey-D @andronat @asalkeld @asultan001 @briyenga08 @countspongebob @davido2 @DFFlanders @feihujiang @HaiyangDING @hurf @krzysztofgrygiel @liangchenye @lvlv @mengfanliang @mqliang @pravisankar @rkhan786 @rohitagarwalla @rustyrobot @sidharta-s swagia

[2017-01-09 22:29] MrHohn opened #39640 "Better error message and documentation for RBAC config"
Recently found examples on [kubernetes-incubator/cluster-proportional-autoscaler](https://github.com/kubernetes-incubator/cluster-proportional-autoscaler) not longer work on latest k8s cluster because of RBAC. While working on assigning this app an appropriate role I met a bit difficulty at the beginning.

Below ClusterRole was not working and led to below error message:
[code]
[code]

Because thi

[2017-01-09 22:33] ixdy commented on #39604
I think we run tests in Jenkins with `-race`, which might explain the slowness?

[2017-01-09 22:36] saad-ali commented on #39526
We just held [a meeting](https://github.com/kubernetes/kubernetes/pull/39551#issuecomment-271395316) to discuss the short-term fixes for this issue.

The options discussed were summarized [here](https://github.com/kubernetes/kubernetes/pull/39551#issuecomment-271381941).

To summarize the meeting:
1. Short term fix.
    * Leave the rate of the `GetAttachedVolumesPerNode` check unchanged, at every

[2017-01-09 22:38] yujuhong commented on #39639
/cc @kubernetes/sig-auth-misc

[2017-01-09 22:45] mgoodness commented on #28226
I think this issue has been mooted by Amazon's introduction of "file system DNS names" in early December 2016. Per [the docs](http://docs.aws.amazon.com/efs/latest/ug/mounting-fs-mount-cmd-dns-name.html), an EFS volume may now be addressed using `<file-system-id>.efs.<aws-region>.amazonaws.com`.

I've verified that pods in different AZs are able to access the same EFS volume mounted using the comm

[2017-01-09 22:45] shyamjvs commented on #39335
Ok. So then let's ignore the 1st and the 4th tests in the above table as they are not really important. 2nd, 3rd and 5th are solved by PR #39516 .

And regarding failure of [ci-kubernetes-kubemark-500-gce/1358](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/1358/), it looks like it is a flaky issue as well. The density test succeeded, but the load t

[2017-01-09 22:45] chrislovecnm commented on #39526
Are we just adding a single flag??

[2017-01-09 22:48] liggitt commented on #39639
opened #39641 to fix

[2017-01-09 22:49] saad-ali commented on #39526
Let's keep both: enable/disable, and duration. Add a warning to both indicating that if it is disabled altogether or if the duration is set too high you some volume types, like AWS, may end up mounting the wrong volume in some cases.

[2017-01-09 22:51] chrislovecnm commented on #39526
Added warnings on both.

[2017-01-09 22:54] bowei commented on #10163
probably can close this -- the e2e tests now use alpine-based dnsutils (~5 MB)

[2017-01-09 22:57] gnufied opened #39642 "Federated plane started via kubefed throws No Route to host"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

master or 1.5.x

**Environment**:
- **Cloud provider or hardware configuration**: gce
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: kube-up.sh
- **Others**:

**What happened**:

Kubernetes federation plane started via kubefed creates

[2017-01-09 22:57] Random-Liu commented on #39048
Done.

[2017-01-09 22:57] gnufied commented on #39642
cc @kubernetes/sig-federation-misc

[2017-01-09 23:12] justinsb commented on #39526
Plan sounds great to me!

[2017-01-09 23:14] gmarek commented on #39335
It might mean a number of things, but most likely something gets overloaded/congested. It might be hard to debug, as we're seeing this from time to time, but it doesn't look very serious so I think we never investigated it thoroughly.

[2017-01-09 23:15] bowei commented on #29688
can be closed -- healthz has been removed

[2017-01-09 23:17] sheerun commented on #39622
The issue is just with error message / documentation

[2017-01-09 23:18] #39424 closed

[2017-01-09 23:20] emaildanwilson commented on #29887
I created a google doc detailing out the logic that will be used to determine if an object with a ClusterSelector annotation will be forwarded on to federated clusters or not based on label. There a the following rules here (once again based on our chat).

1.  An object with no ClusterSelector annotation will always be forwarded on to all federated clusters even if they have labels configured. (th

[2017-01-09 23:20] sheerun commented on #39622
Currently I get error message without asterisk, but it should include one.

Actually, there can be another issue with the regexp itself, as underscores are valid subdomain names: http://stackoverflow.com/questions/2180465/can-domain-name-subdomains-have-an-underscore-in-it/2183140#2183140

[2017-01-09 23:21] pwittrock commented on #25382
@apelisse

[2017-01-09 23:21] bowei commented on #29688
@thockin @bprashanth -- close issue?

[2017-01-09 23:24] asultan001 commented on #39048
Done

[2017-01-09 23:24] yujuhong commented on #39639
FYI, below is the "RBAC DENY" error messages from the apiserver.log:
[code]

Some of them may be transient (?) or irrelevant, but the messages with high counts are probably worth looking.

[2017-01-09 23:39] kargakis commented on #39337
Related issue: https://github.com/kubernetes/kubernetes/issues/31571

[2017-01-09 23:49] liggitt commented on #39639
updated the PR with the permissions used in the nodecontroller code. will look at the pv and garbage collection denials separately

[2017-01-09 23:52] jmhodges opened #39645 "busted DRIVERS link on minikube doc"
In http://kubernetes.io/docs/getting-started-guides/minikube/#driver-plugins, the link to "DRIVERS" is busted. It links to http://kubernetes.io/docs/getting-started-guides/minikube/DRIVERS.md which redirects to http://kubernetes.io/docs/getting-started-guides/minikube/DRIVERS/ and then 404s.

[2017-01-10 00:06] kargakis commented on #24946
The reason we implemented selector resolution was that at that time
server-side GC wasn't available (so owner references weren't used) and we
needed to isolate any offenders. Also, owner references are not
deterministic when applied in an existing cluster for the first time
because you cannot be sure which Deployment is going to adopt the existing
set of selected ReplicaSets and which one will end

[2017-01-10 00:09] saad-ali commented on #39597
Closed with https://github.com/kubernetes/kubernetes/pull/39630 and https://github.com/kubernetes/kubernetes/pull/39632

[2017-01-10 00:09] #39597 closed

[2017-01-10 00:14] adriano-fonseca commented on #24152
Hello @kargakis. Just one was broken, unfortunately I overwrite the files with another deployment configuration. Probably. I was my mistake, because now everything is working. I got my canary release through  the files that follows: I am sharing because I got here ins this thread with this problem.These configurations could be useful to someone with the same problem. Thank you for your attention t

[2017-01-10 00:21] kargakis commented on #24152
Between two overlapping deployments, one being broken is expected today -
you should also see an event about it. This won't be an issue in releases
after 1.6. I am assuming deployments in old clusters (1.6+) in the future
will contain owner references plus maybe we will have selector generation.

Related discussion in https://github.com/kubernetes/kubernetes/issues/24946
and https://github.com/kub

[2017-01-10 00:22] #29688 closed

[2017-01-10 00:23] dchen1107 commented on #39602
@kinglion811 if you could provide kubelet log that would help with triaging the issue here. Thanks!

[2017-01-10 00:26] Random-Liu commented on #39489
Then another thing we can check is `cat /etc/kubernetes/manifests/kube-proxy.manifest`.

Check whether the manifest is using the same kube-proxy version with the one located on the node.

[2017-01-10 00:33] spxtr commented on #39604
Nevermind, we hit it in a bazel run: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/36128/pull-kubernetes-unit/12297/

[2017-01-10 00:34] ravishivt commented on #26637
I'm trying to troubleshoot networking issues in my cluster by watching iptables packet counts using `watch sudo iptables -t nat -v -L KUBE-NODEPORTS --line-numbers`.  It looks like a symptom of this issue is that the packet counters are continuously being reset by reloading iptables.  Also, the rule order also gets updated continuously which makes it difficult to focus on one rule.  Am I correct i

[2017-01-10 00:35] crockpotveggies commented on #39489
Here's the output, all I'm seeing is an image hash, where can I use it to compare?

[code]

[2017-01-10 00:42] Random-Liu commented on #39489
Hm, alright. It is the same image. Then it's really weird, why kubelet report image pulling error. It should not pull image at all because the image is already on the node.

[2017-01-10 00:42] thockin commented on #26637
probably, yes.

On Mon, Jan 9, 2017 at 4:35 PM, ravishivt <notifications@github.com> wrote:

[2017-01-10 00:50] #10163 closed

[2017-01-10 00:51] crockpotveggies commented on #39489
Hmmm.... looks like k8s self-healed after I set the node size to a number greater than before the node deletion failure. It's no longer failing to pull. I have no explanation.

[2017-01-10 00:52] david-mcmahon commented on #39501
So the build relies on pre-published items?  That seems less than optimal.  At the very least this should have prerequisite checks and error out appropriately rather than attempting to download something mid-build.

Checking the release pipeline now.

[2017-01-10 00:53] mikedanese commented on #23375
Rolling this into #20497

[2017-01-10 01:11] justinsb opened #39647 "AWS: Should have a coherent caching model"
Nicely summarized by @jsravn here https://github.com/kubernetes/kubernetes/issues/39526#issuecomment-271258500

There are a lot of challenges with getting there, but I think we can head in that direction.  It will also benefit all cloudproviders.  I am sure that AWS rate limits are more of a problem than on other cloud providers, but I also think we also see a lot of real-world extreme usage so AW

[2017-01-10 01:12] justinsb commented on #39526
@jsravn I've started tinkering with a "unified" caching layer in AWS, and have opened an issue to write up some notes here: https://github.com/kubernetes/kubernetes/issues/39647  I quoted your comment as the motivator for the issue, as I think you are spot-on.

[2017-01-10 01:16] fraenkel commented on #39604
-race does kill the performance, 25s -> 166s which is on par with bazel.

[2017-01-10 01:18] gnufied commented on #39647
cc @kubernetes/sig-aws-misc @kubernetes/sig-storage-misc

[2017-01-10 01:23] freehan commented on #37316
refer: https://github.com/kubernetes/features/issues/54

[2017-01-10 01:23] mbohlool commented on #39604
is it possible to disable -race for this test? and should we do that if it is possible?

[2017-01-10 01:25] david-mcmahon commented on #39501
This does indeed fix the build, so we are unblocked.

[2017-01-10 01:36] bgrant0607 commented on #39188
"Random" string -- no.

We have other cases where a single field isn't sufficient as a merge key, such as lists of object references. I think treating all fields specified by the user's config as the key works in all cases I've thought of. I'd probably make that a new patch strategy. It would probably even be backward compatible.

[2017-01-10 01:51] niemeyer commented on #39583
Sorry for the trouble. We'll change gopkg.in a bit to ensure the manual configuration is not necessary.

[2017-01-10 02:16] jayunit100 commented on #33188
digging back into this again.

[2017-01-10 03:10] kinglion811 commented on #39602
The start **log**

I0110 11:05:46.032617   31696 feature_gate.go:181] feature gates: map[]
W0110 11:05:46.032710   31696 server.go:605] Could not load kubeconfig file /var/lib/kubelet/kubeconfig: stat /var/lib/kubelet/kubeconfig: no such file or directory. Using default client config instead.
I0110 11:05:46.308238   31696 docker.go:356] Connecting to docker on unix:///var/run/docker.sock
I0110 11:

[2017-01-10 03:14] colemickens commented on #35180
Well that's the platform actually doing work then... They're supposed to
look at improving that timing in the coming months.

Do you happen to have the raw asynchronous response? The poll duration is
likely to only be on the initial response and it's not guaranteed to be
called Retry-After.

On Jan 7, 2017 8:40 AM, "ckarlsen84" <notifications@github.com> wrote:

[2017-01-10 03:17] kinglion811 commented on #39602
I know the reason：
I change the docker storage dir to /data/docker(the default is /var/lib/docker),but the kubelet config don't Specify the dir，so kubelet cant find docker in /var/lib/docker

[2017-01-10 03:19] kinglion811 commented on #39602
how to specify kubelet Configuration options for docker storage?

[2017-01-10 03:32] asalkeld commented on #39048
Done

[2017-01-10 03:54] spxtr commented on #30600
I think we can close this. Please open new issues for any issues with Bazel.

[2017-01-10 03:54] #30600 closed

[2017-01-10 03:56] dminkovsky commented on #5017
Great example here: http://kubernetes.io/docs/tutorials/stateful-application/zookeeper/ @KyleAMathews

[2017-01-10 04:03] bgrant0607 commented on #39340
The last time we asked for volunteer mentors we didn't get enough volunteers to make it worthwhile to pursue.

[2017-01-10 05:03] omerzach commented on #37995
I get the same thing with GKE with nodes on version 1.4.7 but without autoscaling. Every couple days as my CI system is updating the image on my deployments I notice my new pods can't be scheduled, my old pods are gone, and 2 of my 3 nodes are NotReady.

[2017-01-10 05:07] madhusudancs commented on #39642
@gnufied a few questions:

1. Is this the only load balanced service for which you are seeing this behavior?
2. What about in-cluster federation API access, do you see similar behavior?
3. What do you see in your federation controller manager logs?

cc @kubernetes/sig-network-misc

[2017-01-10 05:43] countspongebob commented on #39048
Done.

[2017-01-10 06:08] MikaelCluseau commented on #35508
FWIW I had this same issue on my cluster (spoiler: restart you controller manager after enabling the API):
* upgraded to 1.5.1
* failed to schedule a CronJob due to api not enabled
* enabled the API on the `apiserver`  (flag `--runtime-config=batch/v2alpha1`)
* then scheduled a CronJob. No executions took place
* restarted kube-scheduler. No executions took place
* restart kube-controller-manager.

[2017-01-10 06:31] resouer commented on #27204
@davidopp Thanks for explanation! But how pod level cgroup contribute to `taking into account resources that are technically free but are still being cleaned up`?

[2017-01-10 07:19] thockin commented on #39637
[code]

github.com/jteeuwen/go-bindata/go-bindata is unused
github.com/rackspace/gophercloud/testhelper/client is unused
github.com/seccomp/libseccomp-golang is unused
github.com/ugorji/go/codec/codecgen is unused

bindata and codecgen are binaries we vendor, need to handle that.

The other two depend on build tags.

The rest is on you :)

On Mon, Jan 9, 2017 at 2:00 PM, Eric Paris <notifications@

[2017-01-10 07:31] tsmetana commented on #34242
Hello.
I'm trying to fix the problem: you may take a look at the patch. I'm basically pre-populating the DesiredStateOfWorld with information from the pods and ActualStateOfTheWolrd using the volumesAttached data from the nodes. Since the only thing I can get from the node is the volume unique name and the device path I had to add a helper interface method to the volume plugins too: I need to get

[2017-01-10 07:49] yns-libn commented on #38896
I have the same problem,  I think,  "https://192.168.3.1:443 " is not a k8s endpoints

[root@localhost k8s_dns]# kubectl exec busybox -- cat /etc/resolv.conf
search default.svc.cluster.local svc.cluster.local cluster.local
nameserver 10.137.254.254
options ndots:5

[2017-01-10 08:07] xingzhou commented on #39596
Thanks @deads2k for the suggestion. One other thing I can see right now is "AttributeRestrictions" attribute in Role object, as it can be a complex object. Do you think we need to support this field as an option for `kubectl create role`? I'm thinking this may increase the complexity fo user to use this command.

[2017-01-10 08:18] jingxu97 opened #39657 "Storage Volume Snapshot support in K8s"
Snapshotting is a feature we have discussed since last year and plan to make more progress on this feature. Last summer one of our intern Cindy made a proposal and implemented a simplified snapshotting feature which allows to take snapshots on GCE PD volume though PVC claim's annotation.

We plan to continue to work on this feature and this issue is opened to mainly gather feedback/inputs from all

[2017-01-10 08:22] ravishivt opened #39658 "Add iptables FORWARD rule for external requests to service with nodePort"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):  BUG REPORT

**Kubernetes version** (use `kubectl version`):  1.5.1

**Environment**:
- **Cloud provider or hardware configuration**:  3x Ubuntu 16.04 nodes running in VMware vSphere
- **OS** (e.g. from /etc/os-release):  Ubuntu 16.04
- **Kernel** (e.g. `uname -a`):  4.4.0-57-generic
- **Install tools**:  kubeadm
- **Others**:  CNI: Canal

[2017-01-10 08:54] Raffo opened #39660 "ccccccevdevdvrdutcvjuehirntidtchvdhbhketgkvt"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-01-10 08:54] #39660 closed

[2017-01-10 09:11] hjacobs commented on #39647
@justinsb regarding the "edge-triggered model": from my experience CloudTrail has some delay, so I would not go that route.

[2017-01-10 09:15] galindro commented on #38774
Same error here with 1.5.1

[2017-01-10 09:16] hjacobs commented on #39626
I don't have this problem with Kubectl 1.5.1, but multiple colleagues report the same "slowness".

[2017-01-10 09:23] kargakis commented on #35508
Isn't it documented somewhere? You should restart the controller manager to
enable the scheduledjob controller to run cc @soltysh

On Tue, Jan 10, 2017 at 7:09 AM, Mikaël Cluseau <notifications@github.com>
wrote:

[2017-01-10 09:31] nebril commented on #39645
it seems like `DRIVERS.md` wasn't added in this commit: https://github.com/kubernetes/kubernetes.github.io/commit/52b6538acc406dc6b5c54b6b89d0b82c5f25b855

@r2d4 I have no idea what should be in this file, can you help?

[2017-01-10 09:42] Overbryd commented on #27343
@zhouhaibing089 same here. Running `v1.5.1+coreos.0` @ `cc65f5321f9230bf9a3fa171155c1213d6e3480e`

[code]

[2017-01-10 10:22] MikaelCluseau commented on #35508
I don't know, but Google search pointed me here, so I documented the solution here.

[2017-01-10 10:40] zhouhaibing089 commented on #27343
gonna try to reproduce this in my own environment, and fix it if possible.

[2017-01-10 11:09] jsafrane commented on #39647
IMO you need to watch for nodes in AWS cloud provider using a kube client, as the cloud provider is initialized on API server (e.g. to fill zone/region labels to PVs) , controller manager and all kubelets. You can use events from the node controller just in controller manager daemon.

[2017-01-10 11:14] fgrzadkowski commented on #38949
Of course in large clusters this would not solve the problem, as you pointed out. But it would not be worse - we would only change the method of deletion.

However this could be a major improvement in smaller clusters. Most likely you don't want to run yet another pod/service just for this as it would be a large tax. Making this part of the "core" would simplify things greatly! I think for people

[2017-01-10 11:22] renerchen commented on #35641
I have the same problem, iptables are missing in some nodes, is it fixed?

[2017-01-10 11:25] Overbryd commented on #15702
Having the same problem here. Running `v1.5.1`
Connections do not get interrupted when data is being sent. So when I launch an interactive container session, with a script that outputs something every now and then, it seems to work.

Based on that, I created a **nasty workaround** to keep my container sessions going, without my interaction. It is really annoying that these sessions terminate prema

[2017-01-10 11:36] reAsOn2010 commented on #26752
What's this issue going?

[2017-01-10 11:39] soltysh opened #39666 "make test-cmd fails removing deployment"
`kubectl delete deployment nginx` times-out [here](https://github.com/kubernetes/kubernetes/blob/e827393fa2335cc7ed89043e7f26ef9b32fc71a9/hack/make-rules/test-cmd-util.sh#L2039) due to previous operations that happen to this deployment. This in turn causes further failures in the test-cmd code, due to previously existing pods from that test.

I've initially tried forcing the removal, but it doesn'

[2017-01-10 12:12] olostan commented on #36611
Is it possible to apply fix on Azure Container Service?

I have pod with mounted Azure disk and it just crash each ~18 minutes with:
[code]

Looks like same problem or not?

[2017-01-10 12:31] deads2k commented on #39596
AttributeRestriction will be removed before beta.  See https://github.com/kubernetes/kubernetes/pull/39625

[2017-01-10 13:28] ncdc opened #39670 "Some tests are timing out trying to connect to etcd, such as TestValidOpenAPISpec"
From e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/39668/pull-kubernetes-unit/12379/:

[code]

cc @timothysc @hongchaodeng @wojtek-t @smarterclayton @sttts @xiang90

[2017-01-10 13:41] jsafrane commented on #39178
@jimmycuadra, you correctly found `getAllZones`, however you missed the part where it filters out all instances that are not tagged with "KubernetesCluster" tag with a specific value, it's well hidden :-).

So, tag all your AWS instances that are part of your cluster with "KubernetesCluster=jimmy" (incl. masters!) and restart Kubernetes. It should create volumes only in zones where there is an ins

[2017-01-10 13:45] jsafrane commented on #39178
@Dmitry1987, that's odd, your PVs should respect parameters of storage class. Show me your PVC. It should ignore any storage class only if you use annotation `volume.alpha.kubernetes.io/storage-class` (note **alpha** there, it's important).

[2017-01-10 13:49] jsafrane commented on #34549
@kubernetes/sig-storage-misc, shall we update our admission controller to prevent two classes to be marked as default at the same time?

[2017-01-10 13:58] jsafrane commented on #35695
By default, PVs are dynamically provisioned in random zones, so you may get lucky a get two PVs for a single pod in the same zone and the pod can be scheduled. More often you get two PVs in two different zones and a pod that uses them both is not schedulable, at least on GCE.

Question is how to fix this. We *could* mark PVCs created from a pet set with an annotation (say petset name + pet index)

[2017-01-10 14:01] rootfs commented on #36611
yes 1.4.6 and below has this problem. you need to upgrade to 1.4.7+

[2017-01-10 14:19] AlexRRR commented on #28370
@maverick-racheal @gregory90 I am having the same issue with the image `gcr.io/google_containers/fluentd-elasticsearch:1.20`.

Also I am confused by the tag in this issue of `deprecated`, what is the correct way then?

[2017-01-10 14:20] craigwillis85 opened #39672 "kubectl error on nodes"
Hi

I'm building a baremetal cluster on a  VPS. I have 2 masters and 3 nodes. Nodes are sceduling pods fine and the cluster as a whole is running fine.

The problem is when I try to run the following command on a node:

    kubectl get nodes

I see the following error

    $kubectl get nodes

    panic: runtime error: index out of range

    goroutine 1 [running]:
    panic(0x15e01e0, 0xc42000e0d0

[2017-01-10 14:35] micmro commented on #36992
Right - sorry, I must have overlooked that.

On 9 Jan 2017 11:40 p.m., "Tha-Robert" <notifications@github.com> wrote:

[2017-01-10 14:57] zhouhaibing089 commented on #27343
Reproduced:

[code]

[2017-01-10 14:58] timothysc commented on #39670
This error looks different then the connection gc problems we fixed a while back.  It looks more like a ulimit problem in this case.  Every time I chase these type of issues they are almost always related to "How" the testing infrastructure is running.

/cc @spxtr @ixdy

[2017-01-10 15:00] justinsb opened #39674 "Big route53 accounts may cause dnsprovider to hit rate limits"
The route53 dnsprovider doesn't implement filtering.  On Route53, there is a 5 request per second rate limit (per AWS _account_): http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DNSLimitations.html

With pagination, it is very likely that we will issue more than 5 requests per second just listing resource records for a big zone.

We need to implement filtering.

[2017-01-10 15:00] munnerz opened #39676 "GCE internal load balancer"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
* internal loadbalancer
* gce loadbalancer
* loadbalancer annotation internal

---

*

[2017-01-10 15:07] timothysc commented on #18610
@jbeda I've been bothered by letting this drop for a long time.  As the ecosystem grows one would ideally hope that they can plug-in their components in a controlled + secure fashion, which also has HA implications as well.

Not only that, but what is currently implemented around status in the registry is odd and broken.

/cc @sttts @ncdc

[2017-01-10 15:42] smarterclayton commented on #35695
If someone wanted to steer PVCs on their own, how would they do it?  Would
prefer this solution be general enough that anyone doing bulk PVC creation
(like a federation server) can do proper zone steering without having to
have custom hacks.

On Tue, Jan 10, 2017 at 8:58 AM, Jan Šafránek <notifications@github.com>
wrote:

[2017-01-10 15:43] warden commented on #13748
As this is not obvious from the thread, this is actually tracked here:
https://github.com/kubernetes/features/issues/33

[2017-01-10 15:45] gmarek opened #39680 "HPA panics"
I just run into panic in controller-manager:
[code]

This clearly shouldn't happen.

cc @fgrzadkowski @jszczepkowski @kubernetes/sig-autoscaling-misc

[2017-01-10 15:47] deads2k commented on #39604
Now blocking the submit queue.

[2017-01-10 15:47] gmarek commented on #39680
The bug is here:
[code]

[2017-01-10 15:51] DirectXMan12 commented on #39680
I'll get a fix in this afternoon.

[2017-01-10 16:04] Dmitry1987 commented on #39178
Hi @jsafrane , yes, it was *alpha* in that mongodb helm chart that I used, noticed it only after some time. thanks!

[2017-01-10 16:05] Dmitry1987 commented on #39178
it worked well when i forked it and changed to "beta", then used in helm as a file, not from repo link. i have this all working now :) .

[2017-01-10 16:05] wongma7 commented on #38192
Another person asked for this on slack. SC field sounds good to me! Don't think supporting users deciding the reclaim policy is needed. If an admin wants that, they could just create two near-identical Classes.

[2017-01-10 16:16] justinsb opened #39682 "Should we configure docker with LimitNOFILE / LimitNPROC"
So docker 1.12 sets these values by default with systemd:

[code]

We continue to default in our salt scripts to LimitNOFILE=1048576 and LimitNPROC=1048576

What does GCI do?   Should we set infinity?

[2017-01-10 16:21] bgrant0607 commented on #38644
@razic It appears that no tests depend upon the text, but could you please verify that?

[2017-01-10 16:22] bgrant0607 commented on #38644
But to answer the question, we'd need to fix tests for 2 prior releases.

[2017-01-10 16:33] soltysh commented on #23597
Addressed in linked PR.

[2017-01-10 16:43] borsboom commented on #28226
Yup, I'm using that too and seems to work fine.

[2017-01-10 16:53] gmarek commented on #39680
@DirectXMan12 please do. We want it to get into 1.5.2 release.

@saad-ali - fix for this is important to cherry-pick.

[2017-01-10 17:03] bgrant0607 commented on #9298
See PR #38861.

[2017-01-10 17:12] bowei commented on #38896
@yns-libn -- what is the specific issue? You will need to post more information (Kubernetes version, what the failure is, what you are trying to do). It would also help to use a new issue, rather than attaching it to this one, which already has two different topics associated with it.

[2017-01-10 17:21] jingxu97 commented on #39657
cc @kubernetes/sig-storage-misc @kubernetes/sig-apps-misc @kubernetes/sig-aws-misc

[2017-01-10 17:26] jingxu97 commented on #39657
@Jan-M thank you for sharing your use case. We will definitely consider it when designing this feature. Your input is greatly appreciated!

[2017-01-10 17:34] colemickens commented on #36611
@olostan It's rolling out now.

[2017-01-10 17:37] akhlopotine commented on #34772
@wojtek-t - any ETA for the fix?

[2017-01-10 17:39] akhlopotine commented on #34772
@wojtek-t - Thank you for looking into this one. Any ETA for the fix?

[2017-01-10 17:39] deads2k commented on #39640
A while back I updated the message to be `user "username" cannot verb resource.groupin the the namespace "ns"`, but I've opened https://github.com/kubernetes/kubernetes/pull/39684 to include subresource, so it will be`user "username" cannot verb resource.group/subresource in the the namespace "ns"`

[2017-01-10 17:43] msau42 commented on #34549
Sounds reasonable to me

[2017-01-10 17:45] MrHohn commented on #39640
Thanks for the PR. That will be helpful :)

[2017-01-10 17:45] mbohlool commented on #39604
I think I am missing something here. I've checked some of the attached PRs. Links to the pkg/master folder in master branch has the change (new file called master_openapi_test.go:

https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master_openapi_test.go

but non of the recent PRs I checked has the file in their branch:

https://github.com/deads2k/kubernetes/tree/generic-17-move-tests

[2017-01-10 17:58] mbohlool commented on #39604
OK. I see, the tests are patching the change of the PR into the master, so everybody should get that if they retest, but it look like my test is not blocking submit queue. there should be another issue.

[2017-01-10 18:01] hongchaodeng commented on #39670
I don't know much about Swagger thing.
My question is where does the problem happen? In Swagger? In etcd?

[2017-01-10 18:03] timothysc commented on #39670
example from this a.m. -   https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/1969

[2017-01-10 18:07] ncdc commented on #39670
@timothysc that was from before #39649 was merged, I think

[2017-01-10 18:08] rootfs commented on #39657
@jingxu97 thank you for initiating this process. The existing snapshot proposal is a good start point. It leaves many open questions.

- should we need a snapshot controller? Unlike PV controller, snapshot is a continous proess, and IMHO, could pose a critical scaling issue. In addition, snapshot is usually synchronous, caller has to wait till snapshot command is done.
- is 3rd party (i.e. control

[2017-01-10 18:11] humblec commented on #39345
@rootfs @fabiand it looks to me that, multiple TP is good enough to achieve this goal. As long as we are 'logging in' all the available targets ( by a api spec change of TP from string to array)  we should be able to bring the mpath support with iscsi. What do you think?

[2017-01-10 18:18] mbohlool commented on #39670
I don't see any failure after ~8am where #39649 is merged.

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-test-go/

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-unit
(two failures after 8am are not related)

[2017-01-10 18:21] fabianofranz commented on #39596
The proposed UI sounds good. Notice you can also have multiple verbs, and resources can also be provided in `type/name` format.

[2017-01-10 18:23] hongchaodeng commented on #39670
Folks.
I understand it's very important to make tests passed and not blocking any PR.
But we should focus on why test failed, figuring out the root cause and fixing it, instead of talking about how disabling it makes failure gone.

[2017-01-10 18:30] mboersma commented on #38843
How can we get this image built and published? It would close a big issue for us, so we are happy to help get it over the finish line.

[2017-01-10 18:36] spxtr commented on #39670
Trying to repro locally with `bazel test //pkg/master:go_default_test -t- --runs_per_test=32`, haven't hit it yet.

[2017-01-10 18:39] xiang90 commented on #39670
@ncdc @spxtr @hongchaodeng

It seems that there is a race between cluster startup, and connection establishment. It would be great if someone can reproduce it locally.

[2017-01-10 18:47] jingxu97 commented on #34242
@tsmetana thank you for helping on this. I think when pod is deleted from api server, some information such as volume spec is not recoverable. But it might be ok to put some dummy information as long as the information needed for detach is good.
You are right, unique name is <plugin>/<volume>

[2017-01-10 18:49] bh016088 commented on #38774
+1

[2017-01-10 18:49] verb commented on #1615
We discussed this a little more in SIG Node today and general agreement was that we should make shared PID namespace a general requirement of the CRI. It's unlikely that docker >= 1.12 will see much use prior to a switchover to the CRI, so we're not going to implement it in the legacy dockertools runtime.

[2017-01-10 18:51] renaudguerin commented on #32827
I've created L4 LBs in GCP using a "type: Loadbalancer" service definition, which doesn't create health checks for the nodes at the LB level (or didn't as of 1.4)

Am I correct in thinking that Kubelet's container level health checks don't help at all when a node is completely down (e.g. during a cluster version upgrade), and the L4 LB keeps sending traffic to it because it has no health checks to

[2017-01-10 18:58] timothysc commented on #38949
I'm ok with an input knob for adjusting the TTL with default unchanged, but not a fan of changing the defaults.

[2017-01-10 19:06] jessfraz commented on #38774
working on it, should have a fix soon

[2017-01-10 19:09] r2d4 commented on #39645
This is fixed in the above PR

github and included relative links. They have been updated to point to
the absolute path to the latest release.

[2017-01-10 19:10] madhusudancs commented on #39271
@moonek yeah, in the current implementation `kubefed` waits for a load balanced address. We need to fix this before going GA.

[2017-01-10 19:16] thockin commented on #14661
Re-opening.  I do think we should have a node-level healthcheck for LBs that are not using the OnlyLocal annotation.

[2017-01-10 19:17] thockin commented on #32827
I reopened https://github.com/kubernetes/kubernetes/issues/14661

What you're doing is a viable workaround, but it is a workaround.

@mdelio

[2017-01-10 19:17] smarterclayton commented on #38949
I though we already allowed event TTL to be tuned?  We use it in openshift
since we generate more events per unit time.

On Jan 10, 2017, at 1:58 PM, Timothy St. Clair <notifications@github.com>
wrote:

I'm ok with an input knob for adjusting the TTL with default unchanged, but
not a fan of changing the defaults.

—
You are receiving this because you were mentioned.
Reply to this email directly, v

[2017-01-10 19:26] MrHohn commented on #35641
Just want to clarify, we have not actually reached the root cause for the original post yet.

For the users that claimed to have the same problem, I assume they were experiencing the similar situation that "kube-proxy iptables rules were not created". However, there are many different failures that could lead to this problem. It would be great if you could post more information for us to further d

[2017-01-10 19:28] renaudguerin commented on #32827
@thockin That's what I thought yes, but there isn't currently a better solution apart from that SIPP side effect, correct ?

[2017-01-10 19:30] thockin commented on #32827
Correct

On Tue, Jan 10, 2017 at 11:29 AM, Renaud Guérin <notifications@github.com>
wrote:

[2017-01-10 19:36] thesandlord commented on #39087
@ualtinok that did it! This is awesome!

I'm going to try and get this into the docs.

[2017-01-10 19:43] dhawal55 commented on #38498
Sorry, i was not active for a while.

@gnufied Can you link to the issue for dealing with orphaned pods? We are seeing AWS nodes misbehave where they fail to attach any volume and I'm trying to figure out if it could be related to these orphaned pods and the failed units on the node.

[2017-01-10 19:45] MrHohn commented on #39658
@kubernetes/sig-network-misc

[2017-01-10 19:46] yujuhong commented on #38588
This check seems too aggressive to me. We use a timeout of 60s on the debian-based cvm:
https://github.com/kubernetes/kubernetes/blob/v1.5.1/cluster/saltbase/salt/supervisor/docker-checker.sh#L46

/cc @dchen1107

[2017-01-10 19:54] #39285 closed

[2017-01-10 19:54] #39543 closed

[2017-01-10 19:54] jingxu97 commented on #38498
@dhawal55 could you describe a little more details about how AWS nodes misbehaved? Thanks!

[2017-01-10 20:07] andrewwebber commented on #38498
Got this issue on a fresh v1.5.1 CoreOS cluster after restarting a machine, previously successfully scheduled

[2017-01-10 20:09] ravishivt commented on #39658
OK, I'm leaning towards this being a Canal specific issue as I learn more about how canal works.  Canal sets up flannel.1 interface on each node and then creates one calico interface for each pod running on a node.  It then sets up a felix-FORWARD iptables target in the FORWARD chain to ACCEPT any traffic coming or leaving a calico interface.  The problem is that node-to-node traffic goes through

[2017-01-10 20:09] freehan commented on #39658
@ravishivt Can you check your default Network Policy for kube-system namespace?

cc @caseydavenport
We need to make sure iptables rules created by kube-proxy and calico are not stepping on each other's toes

[2017-01-10 20:11] dhawal55 commented on #38498
@jingxu97 I don't remember the exact message, but when I view the ec2 instance on AWS management console, it said something like "volumes on the node are not attached correctly" and I could see some volumes stuck in attaching even when the corresponding pv/pvc is deleted in Kubernetes.

[2017-01-10 20:16] jingxu97 commented on #38498
@andrewwebber do you see  "Orphaned pod" message? you mentioned you have pods successfully scheduled on a cluster. So after restarting a machine, are those pods still running?

If it is ok, you could share me your logs over slack (@jinxu) or email me jinxu@google.com so I can help to check. Thanks!

[2017-01-10 20:25] foxish opened #39687 "Scheduler, StatefulSets, and External Controllers"
The implementation of equivalence classes currently [ignores StatefulSets](https://github.com/kubernetes/kubernetes/blob/9705bb728e768be02bf5b32aa14dec059f9269ed/plugin/pkg/scheduler/algorithmprovider/defaults/defaults.go#L252-L260). The reason seems to be https://github.com/kubernetes/kubernetes/issues/32024#issuecomment-244685920. I think the reasoning no longer holds given the goals and the cur

[2017-01-10 20:27] ravishivt commented on #39658
@freehan  kube-system doesn't have a Network Policy added.

[code]

[2017-01-10 20:40] andrewwebber commented on #38498
@jingxu97 Sorry for the spam but my logs look something like this. Somehow the system healed after restarting.

Given the following systemd-unit
[code]

[code]

I restarted the worker service and then machine and got something better

[code]

[2017-01-10 20:46] jessfraz commented on #38774
I bisected it and it lead to this commit https://github.com/kubernetes/kubernetes/commit/ce187f9c6a0bd9dfa8cc9d4f4a83a7e686e46ecb

[2017-01-10 20:48] ravishivt commented on #39658
OK, I opened an issue with Canal, https://github.com/projectcalico/canal/issues/31.  Feel free to close this issue at your discretion.

[2017-01-10 20:54] evaldasou commented on #30617
You are open to posting them , but nothing is visible for 3 weeks @oshalygin :/

[2017-01-10 21:00] fgrzadkowski commented on #39680
Reassigned to @DirectXMan12

[2017-01-10 21:04] timothysc commented on #38949
Yup.

```--event-ttl duration     Amount of time to retain events. Default is 1h. (default 1h0m0s)```

[2017-01-10 21:08] fgrzadkowski commented on #38949
Would you be OK with changing the mechanism from TTL in etcd to something
like garbage collection? My reasoning is that if you care about total
number of events stored in a system, then having a knob for TTL does match
your expectations, while a more direct solution where you just keep X last
events would easier to manage WDYT?

--
Filip

On Tue, Jan 10, 2017 at 10:05 PM, Timothy St. Clair <
notif

[2017-01-10 21:09] #39604 closed

[2017-01-10 21:16] #39465 closed

[2017-01-10 21:33] #37876 closed

[2017-01-10 21:45] k8s-merge-robot opened #39692 "ci-kubernetes-e2e-gci-gke-pre-release: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-pre-release/186/
Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for node-Service: udp {Kubernetes e2e suite}

[code]
Issues about this test specifically: #36271

Failed: [k8s.io] Docker Containers should be able to override the image's default ar

[2017-01-10 22:13] oshalygin commented on #30617
@evaldasou / @jason-riddle embarrassingly, forgot about this thread after I was up and running.  My apologies...

Here's whats working pretty well for me.
Note that I have this refactored into separate bash scripts but you can kind of forklift this to suit your needs.

[code]

[2017-01-10 22:22] mwielgus opened #39693 "Federation apiserver doesn't work with kubectl 1.4"
[code]

cc: @nikhiljindal @csbell @madhusudancs

[2017-01-10 22:33] #37991 closed

[2017-01-10 22:35] timothysc commented on #39687
@jayunit100 assigning

[2017-01-10 22:36] pnovotnak commented on #23481
I've got a request--can the IP be an internal one, too?

Here's a setup I run;

[code]

The worker nodes do not have public IP addresses, but they are able to query Google's DNS service. Right now I run a python script that queries the compute api, then the dns api, calculating the delta and updating where required in a loop. The script is terrible and I would like very much not running and monito

[2017-01-10 22:44] williamsandrew commented on #38542
Would this bug affect the deletion of jobs with an init-container? I ran into this bug and adjusted my manifest to add the pull policy to the init-container. However, I now cannot delete said job. Example:

[code]

[2017-01-10 22:46] saad-ali commented on #39680
Ack, please get the cherry-pick out ASAP. I'll keep an eye out.

[2017-01-10 22:50] svend commented on #37854
@chrislovecnm I'm think I'm running into this problem on Kubernetes 1.5.1 stable. Here is the error in the kubelet logs.

[code]

Here are the contents of the pods directory:

[code]

This happened when I deleted the pod which was using the PVC.  Here are the kubelet logs for the deletion:

[code]

Kubernetes versions:

[code]

[2017-01-10 22:54] timothysc commented on #38949
In order to check the event count there would either need to be a watch or a periodic re-list of events.  Neither of which I'm crazy about...  I'd be ok with it if it was an opt-in behavior, and defaulted off for smaller clusters.

/cc @hongchaodeng

[2017-01-10 22:56] enisoc commented on #24946
@kargakis I see what you mean. I confirmed with @lavalamp that the controllerRef proposal is not intended to solve all of these cases (in particular, orphan/adopt with overlapping selectors + non-fungible objects). I will send a PR to update the proposal to explicitly call out some of these non-goals. Thanks.

[2017-01-10 22:59] liggitt commented on #38949
I'd expect garbage collection or active management to be far more expensive than simple TTL

[2017-01-10 23:00] lavalamp commented on #24946
Sure, but if you're in this situation when you do the upgrade that turns on the controller references, it means that you have currently have controllers actively fighting over pods. Right now, this situation causes controllers to generate enough traffic to destabilize the cluster. So I don't think people will actually get their clusters into this situation and leave them there. It's easy enough to

[2017-01-10 23:01] kuroneko25 commented on #33483
Exact same use case. We are on GKE and currently uses bastion routes. AFAIK that is the best alternative at this point.

[2017-01-10 23:03] mikedanese commented on #39436
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/34488/pull-kubernetes-e2e-kops-aws/6900/

[2017-01-10 23:06] zmerlynn commented on #39436
That looks a lot like https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/39689/pull-kubernetes-e2e-kops-aws/6890/, which looks like AWS is struggling? (@justinsb)

[2017-01-10 23:15] svend commented on #37854
There are the following errors in the kube-controller-manager logs:

[code]

[2017-01-10 23:17] jayunit100 commented on #39687
I assume the problem of "treating pods as equivalent" is more related to the concern of rescheduling then anything else, right?  because the use of an equivalence class to simply predicate match is inoccuous wether or not a pod is stateful...

Assuming the above, then to uplevel, this issue is a good example of the general problem of scheduler logic conflicting with external controllers... and i g

[2017-01-10 23:18] bgrant0607 commented on #38113
@kargakis TPRs are not for workload controllers only. They are already being used more broadly than that. However, that doesn't mean they shouldn't support (optional) features for common use cases.

[2017-01-10 23:20] bgrant0607 commented on #39337
I believe this to be a dupe, or special case, of #31571.

Let's keep the TPR-related discussion in #38113.

[2017-01-10 23:26] thockin opened #39696 "kube-proxy container image without debian underneath?"
We currently build from a base image that has debian and iptables installed.  I wonder if we can find or buidl something smaller and less exposed?  Maybe a static iptables build?

[2017-01-10 23:26] thockin commented on #39696
@kubernetes/sig-network-misc

[2017-01-10 23:40] k82cn commented on #38542
@williamsandrew , not sure now. Let me check it,

[2017-01-10 23:52] alexanderilyin commented on #23726
In my case I had just to remove `~/.kube/config` which left from previous attempt.

[2017-01-10 23:58] svend commented on #37854
I was able to recover by manually unmounting the EBS volume and restarting kubelet:

[code]

[2017-01-10 23:59] emaildanwilson commented on #39271
I managed to work around this with a local edit to kubefed that would set default values for the ip and hostname fields just to see what would happen...  I hit what will be the next issue. The only --dns-provider options for the federation-controller-manager are google-clouddns and aws-route53.

[2017-01-11 00:00] pwittrock opened #39699 "Create `kubectl lint` command"
There are a number of best practices for creating config files, but they are not enforced by the API.  It would be helpful to have a `kubectl lint` command to check for basic best practices and give warnings

Things to check for
- [ ] Deployments specify max old replicas
- [ ] Deployments specify both selectors and PT.labels (not just the labels)
- [ ] Service ports always have names
- [ ] Configs

[2017-01-11 00:05] maweina opened #39701 "The pods of kube-flannel is in ERROR state in agent node after installing cluster by kubeadm"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
request

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kubadm, flannel
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-01-11 00:07] #38332 closed

[2017-01-11 00:13] bowei commented on #39696
Does alpine work? Or we need a customized iptables version:

[code]

[2017-01-11 00:42] SydOps commented on #17512
I use below command to get aquick view for the resource uages.

    kubectl describe nodes

[2017-01-11 00:56] s332401890 commented on #35641
Although I do not know why, but I have solved the problem。i update the version of all of k8s software.

[2017-01-11 00:59] foxish commented on #39125
@mwielgus we need to cherrypick https://github.com/kubernetes/kubernetes/pull/39454 and https://github.com/kubernetes/kubernetes/pull/39544 into release-1.5 to have this fixed for the next point release. But there are merge conflicts. I am not familiar enough with the disruption controller to understand the other changes that have gone in. Could you please take a look?

[2017-01-11 01:31] k8s-merge-robot opened #39704 "ci-kubernetes-e2e-gci-gce-slow-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow-release-1.4/1646/
Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for node-Service: http {Kubernetes e2e suite}

[code]
Issues about this test specifically: #32684 #36278 #37948

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services

[2017-01-11 02:25] mikedanese commented on #39603
https://github.com/kubernetes/kubernetes/pull/38787 will improve this, I just need to finish it off.

[2017-01-11 02:56] smarterclayton commented on #39687
Rescheduling needs to have a controller independent way to trigger safe
transformation of pod sets.  That sounds like disruption budget.

I might be missing the thread of your argument, but rescheduler can break
stateful and stateless applications equally - a 2 node stateless HA router
controlling ingress to your platform is broken if rescheduler knocks them
off at the same time, just like an acti

[2017-01-11 03:10] billyteves commented on #27343
same as above. I also encountered the issue of bad certificate:
`NAME                 STATUS      MESSAGE                                                                                                ERROR
controller-manager   Healthy     ok
scheduler            Healthy     ok
etcd-0               Unhealthy   Get https://<ip>:2379/health: remote error: tls: bad certificate `

[2017-01-11 03:12] billyteves commented on #27343
same as above.
`etcd-0                        Unhealthy   Get https://ip-here:2379/health: remote error: tls: bad certificate `

[2017-01-11 03:27] snowsky commented on #39576
@kargakis yes, what is the output of "kubectl version"?

[2017-01-11 03:28] zhouhaibing089 opened #39710 "kube-apiserver is not working with etcd2 when enable with client-cert-auth"
I did a test to enable etcd client-cert-auth, but then apiserver can not come up, totally. the version I tested is nearly master HEAD branch.

[code]

The error message from kube-apiserver:

[code]

I did a search on etcd issues list, and found this: https://github.com/coreos/etcd/issues/5429, a quote on the comment:

So it looks like the kube-apiserver has been upgraded to use a v3 etcd client, a

[2017-01-11 03:30] snowsky commented on #39657
When I saw the topic, I was thinking it is the snapshot for Pods...

[2017-01-11 03:34] armstrongli commented on #39710
please check the option `--storage-backend` in apiserver to make sure the default one is `etcd2` if the etcd cluster is on v2 one.

In the earlier version of kubernetes, `etcd2` is default value. It could be `etcd3` by default

[2017-01-11 03:35] #39710 closed

[2017-01-11 03:36] xingzhou commented on #39596
yes, @fabianofranz, but since some sub-resource like `pod logs`, is defined as `pod/logs`, I'd like to let user input apiGroups, resources and verbs respectively, like:
`kubectl create role --api-group=xxx --resource=xxx --verb=xxx`

Besides, one single Role object can hold multiple Rules(each rule includes a set of verbs, apiGroups and resources), but from the command line aspect, it is hard for

[2017-01-11 03:48] #39003 closed

[2017-01-11 03:50] jayunit100 commented on #39687
I think we all agree on the change, the remaining question the last one posed in the original issue : is external controllers tell the scheduler not to touch certain pods?

  I guess a Disruption budget of 0 would prevent any destabilization ; but that would disable any evictions entirely.... I assume folks would **want** to support eviction while still telling the rescheduler not to rebalance aut

[2017-01-11 04:38] #30621 closed

[2017-01-11 04:46] maweina commented on #39701
After checking the codes of flannel and kubeclient, I found "--iface" is not used by flanneld to communicate with kube-apiservice. Actually caller of kubeclient is not able to specify source ip address.

After hardcoding the ip address of kube-apiservice in kube-flannel.yml as follows, the issue is worked around. However we still need an official solution to install kubenetes by kubeadm in vagrant

[2017-01-11 05:15] hsafir commented on #35103
Is kube up still in maintenance mode?

[2017-01-11 05:25] #39680 closed

[2017-01-11 05:25] #39176 closed

[2017-01-11 05:25] #39258 closed

[2017-01-11 05:25] #39412 closed

[2017-01-11 05:25] bprashanth opened #39712 "Reject updates to addons in kube-system"
It is too easy to point this at your foot and pull the trigger. Maybe we can add an admission controller or webhook to reject the update? or perhaps an RBAC webhook to only allow the addon-manager username through?

http://kubernetes.io/docs/admin/admission-controllers/#how-do-i-turn-on-an-admission-control-plug-in, http://kubernetes.io/docs/admin/authorization/, https://github.com/kubernetes/kube

[2017-01-11 05:46] madhusudancs commented on #39271
@emaildanwilson there is `coredns` support, in addition to `google-clouddns` and `aws-route53`, now - https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/dnsprovider/providers/coredns/coredns.go#L33

[2017-01-11 06:04] davidopp commented on #39687
I didn't read the whole thread but I think you may be missing some of the context. (Note that I didn't review the implementation, so I don't know exactly what was implemented, but I know what the goal is.)

Equivalence class is a way to identify a set of pods as identical with respect to scheduling requirements, so that you only need to run the predicate/priority functions across all nodes for one

[2017-01-11 06:10] du2016 commented on #39672
Whether your  https://master/api   api works ok？

[2017-01-11 06:11] thockin commented on #39696
How responsive is Alpine to things like CVEs?  I am looking for a long-term
solution that requires less work from us :)

On Tue, Jan 10, 2017 at 4:14 PM, Bowei Du <notifications@github.com> wrote:

[2017-01-11 06:14] bowei commented on #39696
Yeah -- not too sure about that. If we compile completely from source, we would take over the security patching though? I have had some weird behavior trying to use CFLAGS=-static building on a Debian system, but running with a Alpine musl libc due to some libc functions that require dynamic loading.

[2017-01-11 06:14] foxish commented on #39687
I agree. I vote for deleting the special casing of the StatefulSet from the scheduler for now.

As for the more general issue, we would either want a way to use an annotation or field to specify if a controller is managing homogeneous or heterogeneous pods, or for the scheduler to figure that out from inspection of resource requirements of individual pods. But I agree with @davidopp that we can di

[2017-01-11 06:17] thockin commented on #39696
Maybe we can just build a container that has iptables and nothing else?

On Tue, Jan 10, 2017 at 10:14 PM, Bowei Du <notifications@github.com> wrote:

[2017-01-11 06:20] davidopp commented on #39687
Yeah, the "normal" way to identify equivalent pods is to hash (as a single unit) the fields of the pod template that the scheduler cares about, and build a map from hash to set of pods (that are all equivalent).

[2017-01-11 06:21] #39658 closed

[2017-01-11 06:24] #39640 closed

[2017-01-11 06:24] #39575 closed

[2017-01-11 06:24] #33255 closed

[2017-01-11 06:28] thockin commented on #34549
This is something of scope creep on the admission controller - now it
handles PVCs and StorageClasses. If we do this, make sure to handle Update
properly.  This seems to be a backdoor way to get around the "no cross
object validation" pseudo-rule.

@lavalamp any other precedents around "only one" situations?

On Tue, Jan 10, 2017 at 9:44 AM, Michelle Au <notifications@github.com>
wrote:

[2017-01-11 06:46] fzu-huang opened #39717 "BUG REPORT: FakeDockerClient will caused memory leak"
When I try to use kubemark to do some perf-tests.I found that some kubemark(hollow-kubelet) will be OOM. Then I kept one kubemark running which I added pprof.

[code]

We found that `(*FakeDockerClient).ListContainers` use 1066.16kB and the number of `flat` in it is inscreasing. I add some log in this function:

[code]
and found that log:
[code]
We saw that the array  `f.called`  won't be released

[2017-01-11 06:53] tyranron commented on #36482
@resouer no, in my experience it's not relative to only DaemonSets. It happens with all node pods.

Yesterday, it happened again.

**Kubernetes version**
v1.5.1_coreos.0 ([coreos/hyperkube image](https://quay.io/repository/coreos/hyperkube?tag=latest&tab=tags))

**Environment:**
- **Cloud provider or hardware configuration**:
   Bare metal CoreOS installation: 1 node at all
- **OS**:
   CoreOS sta

[2017-01-11 07:05] fabiand commented on #39345
:+1: I think the change is simple - and I'd have done it the same way, by changing to a list of strings.

[2017-01-11 07:13] davidopp commented on #36482
Where is "MatchNodeSelector" coming from? PodStatus?

Scheduler never examines a pod once it is bound to a node, even if there is a reboott. I wonder if it's coming from kubelet admission controller re-running after node reboot? (and maybe the node name has changed? but in that case the kubelet shouldn't even be paying attention to the pod, since it only lists pods that are assigned to it...)

cc/

[2017-01-11 07:14] ipadavic commented on #33483
Same use case. Need to access GKE services from GCE instances.

[2017-01-11 07:33] foxish commented on #36482
This seems very odd given that it is a node restart. Is the node object re-registering with a new name with kubernetes?

The node controller should do the following:
* During restart, if the kubelet is unreachable for a short while (<5mins), the pods running on it remain in the "Running" state, and when it reconnects, it is as though nothing happened.
* If it is unreachable for a longer time, the

[2017-01-11 07:36] krmayankk commented on #22179
@pmorie pinging again, when would you be able to work on this? Is this a complex fix ? I am not too familiar with the area, but if its something easy to fix or with some guidance i can try a fix, if you are busy with other things

[2017-01-11 07:37] foxish commented on #36482
This seems very odd given that it is a node restart.
The node controller should do one of the following:
* During restart, if the kubelet is unreachable for a short while (<5mins), the pods running on it remain in the "Running" state, and when it reconnects, it is as though nothing happened.
* If it is unreachable for a longer time, the node controller sends a signal to kill the existing pods on t

[2017-01-11 07:39] krmayankk commented on #39699
may be a vim plugin that catches errors in json or yaml will also help. I find it very hard when creating new configs and have nothing to copy from

[2017-01-11 07:45] tyranron commented on #36482
@davidopp @foxish
No node parameters were changed. This reboot was caused by CoreOS `update-engine.service` (updating from `1185.5.0` to `1235.5.0`, can attach its log if required).

Kubelet however has `--register-node=true` option, but hostname was not changed:
[code]

[2017-01-11 07:50] resouer commented on #36482
How did you set `gluster: slow-01` to node?

[2017-01-11 07:58] tyranron commented on #36482
@resouer in my case its `role/http-ingress: 'true'`. It was done manually at cluster setup via:
[code]

[2017-01-11 08:08] hjacobs commented on #39657
@snowsky @jingxu97 maybe rename the issue title to make clear that it's about storage/PV?

[2017-01-11 08:14] resouer commented on #36482
@tyranron All failed daemonsets have nodeSelector `role/http-ingress: 'true'`? Can you figure out what label is missing?  (post `kubectl describe node` here will help)

[2017-01-11 08:17] tyranron commented on #36482
@davidopp

In the specified `kubectl get pods` results:
- All Pods with status "MatchNodeSelector" have status "Running" before the reboot.
- After reboot they stuck in "MatchNodeSelector" state.
- Kubernetes created new duplicate Pods with status "Running" (except for DaemonSet `ingress-nginx`).
- Kubernetes did not remove old Pods that stuck in "MatchNodeSelector" state.

[2017-01-11 08:21] tyranron commented on #36482
@resouer I am sure that no labels were missing as far as node labels hadn't been changed during reboot anyhow.
[code]

[2017-01-11 08:25] zhouhaibing089 commented on #27343
Fixes is submitted at https://github.com/kubernetes/kubernetes/pull/39716.

[2017-01-11 08:28] piosz commented on #37453
friendly ping

[2017-01-11 08:30] tyranron commented on #36482
The other strange thing that is I cannot reproduce this bug with manual reboots. I tried nearly 5-6 times, but everything is ok. Did not changed anything in configuration at all.

[2017-01-11 08:33] foxish opened #39722 "User "system:anonymous" cannot proxy services in the namespace "default"."
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): User "system:anonymous" cannot proxy services in the namespace "default".

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCE

**What happened**:
Unable to access services via the

[2017-01-11 08:40] jszczepkowski opened #39723 "Node controller is not marking nodes as NotReady and not removing them"
**Kubernetes version** (use `kubectl version`):
v1.6.0-alpha.0.2942+e827393fa2335c-dirty

**Environment**:
GCE, gci

**What happened**:
Node controller is not marking nodes as NotReady and not removing them. After a worker node or a master replica is removed, it is still marked as a ready node.

[code]

[code]

**What you expected to happen**:

Nodes are removed after their VM is removed.

**How t

[2017-01-11 08:53] jszczepkowski commented on #39723
CC @gmarek

[2017-01-11 09:00] #37241 closed

[2017-01-11 09:05] davidopp commented on #20064
I'm going to reopen until I have a chance to take a look at what you did. Still haven't had time unfortunately.

[2017-01-11 09:20] renerchen commented on #35641
@MrHohn  We have debugged the problem. Then we found:
 -- When iptables rules in one node is less than 1200, the service can be accessed successfully always
 -- When iptables rules in one node is more than 1200, the iptables can't be written in some probability.
-- When iptabls rules in node is more than 1000, the iptables will be locked in some probability
Can you tell me why, thanks a lot! It is

[2017-01-11 09:22] renerchen commented on #35641
@s332401890  what is your kuberntes version？

[2017-01-11 09:24] jsafrane commented on #35695
I plan to allow users to configure a zone/region in PVCs, see https://github.com/kubernetes/community/pull/247, however it's per PVC. If PVCs are created from a template (e.g. in a PetSet), all of them will either end up in the same zone (if it was configured so in the template) or they end up in a random zone (no configuration was present there).

Dynamic provisioning is already PetSet-aware, it

[2017-01-11 09:26] jsafrane commented on #39178
@Dmitry1987. thanks for confirmation.

@jimmycuadra, did you try KubernetesCluster tag on your AWS instances? Can we close this issue?

[2017-01-11 09:26] s332401890 commented on #35641
{Major:"1", Minor:"3", GitVersion:"v1.3.0", GitCommit:"86dc49aa137175378ac7fba7751c3d3e7f18e5fc", GitTreeState:"clean", BuildDate:"2016-12-15T16:57:18Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}

[2017-01-11 09:27] renerchen commented on #35641
@MrHohn By the way, when I write the missing iptables  manually, it is failed to write the rules with string "KUBE-". And I don't know why,

[2017-01-11 09:50] renerchen commented on #35641
@s332401890 and what is you kube-proxy configuration?

[2017-01-11 09:53] s332401890 commented on #35641
@renerchen http://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/
 config info

[2017-01-11 09:53] renerchen commented on #35641
@MrHohn  I found iptales options of kube-proxy
--iptables-masquerade-bit value                If using the pure iptables proxy, the bit of the fwmark space to mark packets requiring SNAT with.  Must be within the range [0, 31]. (default 14)
--iptables-sync-period duration                How often iptables rules are refreshed (e.g. '5s', '1m', '2h22m').  Must be greater than 0. (default 30s)
--prox

[2017-01-11 10:13] gmarek commented on #39723
The culprit here is
[code]
which sounds like an RBAC problem.

[2017-01-11 10:14] gmarek commented on #39723
Also - is this problem present in 1.5 release?

[2017-01-11 10:16] Random-Liu commented on #39717
Hm, this IS a problem...
Actually, the FakeDockerClient is only for unit test initially. Periodically clean up or something seems to be an overkill to me.

Maybe we should just add an option to disable all call trace, because kubemark never uses it...

[2017-01-11 10:22] craigwillis85 commented on #39672
@du2016 My masters are working fine, although if they weren't what should i be looking for?

I can schedule pods on all 3 nodes fine

[2017-01-11 10:25] madhusudancs commented on #37841
Fixed in #39230.

[2017-01-11 10:25] #37841 closed

[2017-01-11 10:32] du2016 commented on #39672
can you paste the content of /api output，in your errors info, i think the restclient  have get empty apiversions.

[2017-01-11 10:36] gmarek opened #39730 "API server returns 500 when issued a Get with invalid label selector"
I'm seeing logs like on 1.5 cluster:
[code]

We probably should return 400 (or maybe 412?), eventually 418. But certainly not 500.

cc @deads2k @lavalamp @wojtek-t @smarterclayton @kubernetes/sig-api-machinery-misc

[2017-01-11 10:39] fzu-huang commented on #39717
@Random-Liu   BTW, What about Prometheus?  It also cost a lot of memory.I think there should be a option to disable it,too.

[2017-01-11 10:45] craigwillis85 commented on #39672
You mean the `/api` on the master?

[2017-01-11 10:46] du2016 commented on #39672
yes

[2017-01-11 10:50] craigwillis85 commented on #39672
curl --cacert ca.pem -H "Authorization: Bearer token" https://master1-ip:6443/api -v

{
  "kind": "APIVersions",
  "versions": [
    "v1"
  ],
  "serverAddressByClientCIDRs": [
    {
      "clientCIDR": "0.0.0.0/0",
      "serverAddress": "master1-ip:6443"
    }
  ]
* Connection #0 to host master1-ip left intact
}

[2017-01-11 10:55] tyranron commented on #36482
Digging into `kubelet.service` logs for different reboots I found that unsuccessful differs from successful ones with some `kubelet_volumes.go:110] Orphaned pod` entries. I think it's relevant somehow.

##### Successful reboot log
[code]

##### Unsuccessful reboot log
[code]

[2017-01-11 10:55] du2016 commented on #39672
it seems ok ,i am sorry that  i don't know what cause the problem.

[2017-01-11 11:13] tyranron commented on #36482
Luckily automatic reboot happened again (CoreOS upgrade `1235.5.0` -> `1235.6.0`).

And the issue happened again, but partially (only with `kube-dns` and `kube-lego` pods).
[code]

It seems to be a race condition somewhere, but I can't figure out where exactly.

[2017-01-11 11:15] fedya opened #39733 "kubernetes dasboard stuck at pending"
**Kubernetes version** (use `kubectl version`):
[code]

- **OS** (e.g. from /etc/os-release):
centos7
- **Kernel** (e.g. `uname -a`):
Linux kubemaster 3.10.0
- **Install tools**:
[code]

**What happened**:

Trying to deploy kubernetes dashboard and stuck at the pending state
[code]

But at least 1 free node is available

[code]
**What you expected to happen**:
running dashboard

**How to reproduce

[2017-01-11 11:26] tyranron commented on #36482
Here is full `kube-scheduler` log after reboot.
[code]

[2017-01-11 11:46] pires commented on #35993
@AdoHe any updates on this?

[2017-01-11 11:59] majewsky opened #39734 "controller-manager and apiserver leaking goroutines and TCP connections"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Kubernetes version** (use `kubectl version`): `v1.4.6-1+530ad0e577004a`

**Environment**:
- **Cloud provider or hardware configuration**: private cloud on bare metal
- **OS** (e.g. from /etc/os-release): `Container Linux by CoreOS 1235.6.0 (Ladybug)`
- **Kernel** (e.g. `uname -a`): `Linux <hostname> 4.7.3-coreos-r2 #1 SMP Sun

[2017-01-11 12:03] pgsimpso commented on #35870
I'm running into the same issue trying to run this example on a coreos-kubernetes multi-node vagrant set up.

[2017-01-11 12:36] sadlil commented on #33470
I can confirm kubernetes/dns#25 fixes the issue with glusterfs.
`dig -x <ip>` resolves the fqdn and `gluster peer probe <fqdn>` resolves to the PTR records and resulting `<hostname>.<headlessServiceName>.<ns>.svc.cluster.local`.

In cause someone want to check things replacing the kubd-dns, here's the image:
[appscode/k8s-dns-kube-dns-amd64:1.10.0-106-g0bb9f17](https://hub.docker.com/r/appscode/k8

[2017-01-11 12:40] stephanlindauer commented on #12835
however that solution is a per-deployment solution and not per-node or per-cluster.
i feel like having a setting like that on cluster level would ease the pain of using private registries a lot.

[2017-01-11 12:46] #39692 closed

[2017-01-11 12:50] k82cn commented on #39687
@davidopp, when we're talking about scheduler, suppose it's default scheduler and for **all kind of workload**. If we're going to support all kind of workload in Kubernetes, I agree with @jayunit100 to add some flags which let "rescheduler doesnt touch certain pods": for some "computing" workload, e.g. MPI, it'll lost internal result which makes those "computing" workload to re-run. But for others

[2017-01-11 13:25] deads2k commented on #39722
I think `kube-up.sh` now runs RBAC by default.  That means that by default, your cluster won't allow full, unprivileged access any more.  There are some doc pulls in progress to ease the transition here https://github.com/kubernetes/kubernetes.github.io/pull/2169 and here https://github.com/kubernetes/kubernetes.github.io/pull/1858.

Using the insecure port locally, you should be able to add bindi

[2017-01-11 13:26] xsgordon commented on #39572
@idvoretskyi can we still get the sig/openstack label here please?

[2017-01-11 13:27] sbezverk opened #39737 "405 response code on updating 3rd part kind object"
Here is the description of the issue I am experiencing running kubernetes 1.5.1 on baremetal.
I need to update 1 value of 3rd party kind created object: here is the json of this object.

{
"kind":"MemcachedOperatorList",
"items":[
         {
                                  "apiVersion":"openstack.kolla/v1",
                                  "description":"memcachedoperator",

[2017-01-11 13:38] tyranron commented on #36482
For Pods that stuck in `MatchNodeSelector` status:
- `docker ps` shows that there is container but not running
[code]

- Old Pod (`kube-lego-3511297842-8n99b`) does not figure in `kubelet.service` log at all after reboot, but new one (`kube-lego-3511297842-5ggxw`) does:
[code]

- Other Pods that successfully survived reboot (like `ingress-default-backend-3830997859-jdppc`) also figure in `kubelet.

[2017-01-11 13:50] zhouhaibing089 commented on #39599
Put it simply, when the requests come to `ResourceQuota` admission control, there is no guarantee that the resource would be created successfully eventually(for example, the validation part might fail), and in this case, the resource count will be increased, but actually it is not provisioned at last.

There is a time window to reset the usage in controller manager, so at  this time range, the use

[2017-01-11 14:02] deads2k commented on #39596
I'm probably ok with that restriction, but some kind of `kubectl set` command which adds a rule is probably in order.

[2017-01-11 14:06] k82cn commented on #39737
`PATH` is not supported by TPR. Try `PUT` with `ResourceVersion` is 0.

Here's my example: https://github.com/k82cn/kube-arbitrator/blob/master/pkg/util/consumer_control.go#L72 .

[2017-01-11 14:08] ofg commented on #29728
I have the same issue with Kubernetes 1.4.6 on AWS.

[code]
Solved it at the minion nodes by changing the mount path to `/mnt/ephemeral/docker/containers` within file `/etc/kubernetes/manifests/fluented-es.yaml`, this led also to a restart of the fluentd pod at the minion.

But this does not work for cluster scaling. If I add a node to the cluster, the _old_ `fluentd-es.yaml` file is there with th

[2017-01-11 14:12] olostan commented on #36611
Found a nice way how to update to 1.5.1 -just change in service definitions (located at `/etc/systemd/...`) all references to 1.4.6 image to 1.5.1  and restart service.

Now have server running 1.5.1, mounted AzureDisk and seems there are no crashes (hope!)

[2017-01-11 14:12] jayunit100 commented on #4301
@davidopp is this ticket actionable ?  I'm not sure it is at this point, since there seems to be a broader deabte around aggressive rescheduling versus coupling to the scheduler logic.

[2017-01-11 14:20] deads2k commented on #39436
It looks a *lot* cleaner.  I'm closing this now.

[2017-01-11 14:20] #39436 closed

[2017-01-11 14:33] shyamjvs commented on #39730
@gmarek On tried digging this up a little bit and figured out that this is not an issue with the apiserver on the master, but instead with the heapster-apiserver (the one which negotiates request/response serialization with the heapster client on one side and is bound to the master metrics API on the other). The following seems to be the issue:
- The [errToAPIStatus function](https://github.com/ku

[2017-01-11 14:39] deads2k commented on #39723
No, RBAC enforcment started in 1.6.  Looks like @liggitt fixed this up here: https://github.com/kubernetes/kubernetes/commit/bda95a59adad71146104a61290957449d4d2a73d#diff-a066255fca075e2bdcfe045e7ca352f7

[2017-01-11 15:21] eparis commented on #39696
Can I ask "why".  What does "smaller" really get us? At least with debian we have a distro with some real trust and respect behind it. What is the size of the base doing that we should jump through any hoops at all? Even the tiniest hoop....

[2017-01-11 15:45] ankon commented on #24484
As part of this best-practices cleanup it would be nice to also simplify the whole thing: secrets can be used as sources for variables, so most of the "magic" of that example can just be deleted.

[2017-01-11 16:00] #39594 closed

[2017-01-11 16:18] dashpole commented on #37453
Looking at it now

[2017-01-11 16:28] kargakis commented on #39699
A vim plugin will work only for people who use vim.

[2017-01-11 16:28] kargakis commented on #39699
@kubernetes/sig-cli-misc

[2017-01-11 16:31] Josh-West-Bose commented on #37801
+1

Perhaps this would fit into the `StorageClass` parameters?

[2017-01-11 16:57] zihaoyu opened #39741 "Deployment status.unavailableReplicas is incorrect"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

#21900
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG Report

**K

[2017-01-11 17:10] pires opened #39742 "bot merges closed PRs"
The following PR had been closed and got merged, https://github.com/kubernetes/kubernetes/pull/39714. The merge job should make sure the PR is still open before merging.

[2017-01-11 17:18] timothysc commented on #4301
@jayunit100

The work that could be done in absence of rescheduling is "controller rectification killing preference" as david had mentioned.  I'm going to update the milestone, this is lower in priority until rescheduling comes into play.

[2017-01-11 17:30] sbezverk commented on #39737
switching to PUT and correcting path solved this issue. Thank you very much for help..

[2017-01-11 17:30] #39737 closed

[2017-01-11 17:33] dashpole commented on #37453
I have found a couple things so far.
On the containerVM nodes, cadvisor is exporting a container with "name": "/system"
On the GCI Master, cadvisor is exporting a container with "name": "/system.slice"
The [default salt config for kubelet](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kubelet/default) has this: "{% set system_container = "--system-cgroups=/system" -%}"

[2017-01-11 17:38] yujuhong commented on #39742
@pires, I filed https://github.com/kubernetes/contrib/issues/2282. Closing this one.

[2017-01-11 17:38] #39742 closed

[2017-01-11 17:46] pwittrock commented on #17333
In this proposal, what would be the behavior for fields set by the user initially and then overridden by the system in actual?  Presumably `actual` would take priority.  If the user updates the field in `spec`, does it then overwrite the field in `actual` set by the system?

Is `actual` meant to be written by any actor that is not the "owner" / creator of the object?  e.g. a 3rd party CICD system

[2017-01-11 17:52] nvnobelen opened #39744 "Node disconnect and re-connect to cluster leads to duplicate pod name and then unexpected results"
BUG REPORT/FEATURE REQUEST

**Environment:**

Kubernetes version: 1.3.5

**Description:**

The following occurred:
* A machine disconnected from the cluster due to a network issue
* Kubernetes rescheduled the pods which where running on this machine, updates LB etc.
* Machine reconnects to the cluster (this was about 5 minutes later).
* Pod now exists twice since the disconnected machine kept the

[2017-01-11 17:54] dchen1107 commented on #37453
I thought we fix this very issue for 1.4 branch by @timstclair a while back.  @piosz Are you running into the same issue with 1.5?

[2017-01-11 17:54] dlamotte opened #39745 "kubectl overwriting error message from server during `kubectl logs pod` (missing container within pod)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
is:issue is:open label:area/kubectl error incorrect

---

**Is this a BUG REPORT or F

[2017-01-11 17:58] madhusudancs opened #39746 "Federation should enable etcd2 -> etcd3 migration for existing deployments."
PR #39646 moved the federation's storage from etcd2 to etcd3. However, it just changed the image and made `etcd3` use `etcd2` as the storage backend. We still need to enable `etcd3` as a storage backend and also enable people with existing federation control plane deployments to migrate from `etcd2` to `etcd3`.

Follow up to issue #39594.

cc @kubernetes/sig-federation-misc @nikhiljindal @shashidh

[2017-01-11 17:58] #38907 closed

[2017-01-11 18:02] jbeda commented on #17333
It looks like this issue has new life based on some recent discussions.

I think that it is important to look at this from the end user experience.  Right now the best we have is `kubectl apply` that does a 3 way merge to try and determine which fields should be clobbered.  This type of "inexact ownership" is, I think, simple on the surface but a bucket of complexity underneath.

I wrote up some o

[2017-01-11 18:03] filipenf commented on #39557
I had a simliar issue while testing kubernetes with kubeadm. This started to happen after I did a `kubeadm reset` and `kubeadm init ... ` again.

Here's what I did to fix (on master and slaves):

[code]

**(you may need to manually umount filesystems from /var/lib/kubelet before calling rm on that dir)**

After doing that I started docker and kubelet back again and restarted the kubeadm process

[2017-01-11 18:07] sttts commented on #39528
@deads2k anything left here?

[2017-01-11 18:13] talk2vino commented on #29728
The file fluentd-es.yaml comes with kubernetes salt package. Before turn ON the cluster you must change the salt package and then kube-up.sh. This way the change is permanent, if you scale n of instances.

[2017-01-11 18:15] yujuhong commented on #36482
I can't rule out the possibility that the node identify changes after the coreos autoupdate. The best way to check this is to get the entire node object to compare.
@tyranron could you post the output of the things below? Thanks.
 1. `kubectl get node <node_name> -o yaml` for the node *before* and *after* reboot.
 2. `kubectl get pods <pod_name> -o yaml` for the old and the replacement pod.

[2017-01-11 18:17] lavalamp commented on #39730
hm, there should already be an equivalent of that errToAPIStatus function in the generic apiserver library somewhere.

[2017-01-11 18:23] lslatr commented on #23474
I'm running a cluster built with kubeadm on ubuntu 16.10.  The resolv.conf file points to 127.0.0.1 and the machine has dnsmasq running.  This is the problem in my case.   kube-dns inside a container tries to connect to 127.0.0.1 to resolve external dns requests.

[code]

[code]

Manually editing the resolv.conf file to point to 8.8.8.8 fixes the problem... at least temporarily.   I'm not an ubunt

[2017-01-11 18:25] cjcullen commented on #39722
I think we need to dig deeper into our 1.5->1.6 permissions story.

I agree that the vast permissions granted by ABAC are terrible and we should do whatever we can to push 1.6 users to set up sane permissions w/ RBAC.

But...
We shouldn't break existing functionality on an upgrade to 1.6 (even if that functionality is something awful like "I need some random service account to be able to exec into

[2017-01-11 18:34] spxtr commented on #39325
Assigning to @dchen1107 to delegate.

[2017-01-11 18:35] #39270 closed

[2017-01-11 18:35] #39186 closed

[2017-01-11 18:36] derekwaynecarr commented on #38113
For historical reference, there was a long discussion on spec/status on the original issue here:
https://github.com/kubernetes/kubernetes/pull/11781#issuecomment-124272512

I think it was a mistake to not have spec/status as a split from the beginning of this resource.  That said, I see how this is just the beginning of feature creep around TPR, and it would be amazing if we make creating your own

[2017-01-11 18:37] bowei commented on #23474
@lslatr -- it looks like the `resolv.conf` is inherited from the Ubuntu system. Ubuntu by default runs its own copy of dnsmasq locally to do name resolution, so the inherited configuration doesn't work (the kube cluster dnsmasq would need use the ubuntu instance of dnsmasq, which is not possible as it is bound on the `lo` device on a different network namespace.

Changing the resolv.conf to 8.8.8.

[2017-01-11 18:40] yujuhong commented on #39717
Agreed. `FakeDockerClient` is not designed to be a long-lived object...

Sounds good to me. kubemark should eventually move away from the docker abstraction and use a CRI mock.

[2017-01-11 18:40] yujuhong commented on #39717
/cc @gmarek

[2017-01-11 18:41] Random-Liu commented on #39717
Sounds good to me.

[2017-01-11 18:51] thockin commented on #17333
On Wed, Jan 11, 2017 at 9:46 AM, Phillip Wittrock
<notifications@github.com> wrote:

I don't have all the answers, but your presumption seems correct at a
glance.  Iguess that end-user changes to `spec` would flow into
`actual`, as if the user changed `spec` today.  Auto-scalers and
whatnot would change `actual` the same way they change `spec` today.

It's unclear what a subresource like /scale sh

[2017-01-11 18:52] deads2k commented on #39528
Getting script set up.

[2017-01-11 18:53] MrHohn commented on #35641
@renerchen

Do you have corresponding kube-proxy logs when this happened? There were users reported kube-proxy performance issue with a huge set of services, but it should still be functioning. Did any kube-proxy pod stop running (be evicted or crashed)? What were your services' setup?

We don't recommend users to manually modify k8s related iptables rules.

Yes, it is right to use the default val

[2017-01-11 18:57] codablock commented on #35180
@ckarlsen84 Wow, I'm happy to see some progress here :)

Is currently only Azure using the go-autorest library or are other components of k8s also using it? I'd be really happy to see a PR for this and would also like to test it early in our clusters.

[2017-01-11 19:00] tyranron commented on #36482
@yujuhong yeap, except node _before_ reboot. It's not something I can reproduce unfortunately.

##### Old Pod
`$ kubectl --namespace=kube-system get pod kube-lego-3511297842-8n99b -o yaml`
[code]

##### Replacement Pod
`$ kubectl --namespace=kube-system get pod kube-lego-3511297842-5ggxw -o yaml`
[code]

##### The diff
`$ diff -Naur kube-lego-3511297842-8n99b.yaml kube-lego-3511297842-5ggxw.yaml`

[2017-01-11 19:05] chrislovecnm commented on #39674
@justinsb can you provide more details on the code base this is coming from?

[2017-01-11 19:07] chrislovecnm commented on #39674
cc: @kubernetes/sig-aws-misc

[2017-01-11 19:09] saad-ali commented on #36259
Hit this again for the official 1.5.2 release:

[code]

[2017-01-11 19:13] mikedanese commented on #36482
https://github.com/kubernetes/kubernetes/pull/38787 will help with this I think.

[2017-01-11 19:19] jimmycuadra commented on #39178
@jsafrane No, I have not confirmed that that works yet. In either case, this should be left open until the need for a KubernetesCluster tag is documented, as that is apparently critical for custom clusters. This was supposed to be tracked in #11884, but it was closed and no one has responded to my questions, which were not answered before the issue was closed.

[2017-01-11 19:20] freehan commented on #39676
ref: https://github.com/kubernetes/kubernetes/issues/23791

[2017-01-11 19:34] emaildanwilson commented on #39271
awesome... this doc should get updated then. https://kubernetes.io/docs/admin/federation-controller-manager/

[2017-01-11 19:35] #29862 closed

[2017-01-11 19:36] thockin commented on #35641
What CentOS version?

On Wed, Jan 11, 2017 at 10:54 AM, Zihong Zheng <notifications@github.com>
wrote:

[2017-01-11 19:37] emaildanwilson opened #39749 "docs for federation-controller-manager should indicate that coredns is a valid option"
https://kubernetes.io/docs/admin/federation-controller-manager/ should indicate that coredns is a valid option for --dns-provider.

https://github.com/kubernetes/kubernetes/issues/39271#issuecomment-271783981

[2017-01-11 19:37] thockin commented on #23474
Maybe kubelet should recognize 127.0.0.1 and rewrite it to `hostname -i` ?
Is that dnsmasq bound to all interfaces or only loopback?

On Wed, Jan 11, 2017 at 10:37 AM, Bowei Du <notifications@github.com> wrote:

[2017-01-11 19:42] thockin commented on #39722
I've made similar arguments.  I completely, totally, 100% believe that
moving from "single use mode" to "multi-user" clusters is the right thing
to do, and we should do it ASAP (last year, if possible).  It *is* going to
hurt a LOT of people, and we need to respect that and allow users to
opt-out for quite a while.  We also need REALLY good docs, and error
messages that can be googled along with S

[2017-01-11 19:43] bowei commented on #23474
dnsmasq is bound only on 127.0.0.1

[2017-01-11 19:44] lslatr commented on #23474
Looks like just loopback

[code]

[2017-01-11 19:44] justinsb commented on #39674
@chrislovecnm  https://github.com/kubernetes/kubernetes/tree/master/federation/pkg/dnsprovider/providers/aws/route53

[2017-01-11 19:46] thockin commented on #23474
well, that makes it pretty useless for containers.  We should just filter
that out and scream if the result is the empty set ?

On Wed, Jan 11, 2017 at 11:44 AM, Erik Dahl <notifications@github.com>
wrote:

[2017-01-11 19:50] hsyed opened #39753 "Feature Request: AWS EFS PVC and StatefullSet - PVCT support."
# Overview.

Some services are extremely well suited for use in EFS especially stateful sets (Elasticsearch, Kafka). Also addressing the messiness of all the helm charts creating 1gb PVC's which AWS users have to create EBS volumes for.

EFS NFS targets have previously required the AZ name in the target. This doesn't seem to be a requirement any longer. The target name is now of the following shap

[2017-01-11 19:53] bowei commented on #23474
@thockin -- that makes sense -- 127.x.x.x should never be inherited

[2017-01-11 19:53] liggitt commented on #39722
For existing clusters moving to 1.6, allowing them to continue to use an existing ABAC policy seems reasonable

Also, having RBAC policy that matches the legacy ABAC policy, but is not loaded by default in new clusters makes sense to me. If someone wants the old unrestricted behavior, we can make that possible, but we want all our CI/E2E tests exercising controllers and components using the scoped

[2017-01-11 19:58] yujuhong commented on #36482
@tyranron were the node labels applied manually (vs. using --node-labels during kubelet startup)? If so, I think there is a possibility that could have caused this.
1. kubelet starts up
2. kubelet it tries to admit pods (e.g., `kube-lego-3511297842-5ggxw`) again.
3. kubelet tries to get the node object for predicates, but for whatever reason, the node store is not ready yet. kubelet then opt to te

[2017-01-11 19:59] lslatr commented on #23474
Just incase someone else has to resolve the issue here's a list of options:
http://askubuntu.com/questions/130452/how-do-i-add-a-dns-server-via-resolv-conf

[2017-01-11 20:01] colemickens commented on #35180
Only Azure uses `go-autorest`. We need to sort out:

1. If CRP is advertising a duration and we're failing to respect it.

2. If we want to ignore it anyway, burn a bit of quota and get a faster turn around.

We might be able to skip #1 and just do #2. Seems like @ckarlsen84 already has the code for it. I'd certainly be in favor of it.

[2017-01-11 20:38] kargakis opened #39758 "Dynamically change loglevel of infrastracture components"
etcd has the ability to increase/decrease its running loglevel which is really useful in debugging individual operations.

https://coreos.com/etcd/docs/latest/v2/admin_guide.html (see "Enabling Debug Logging" section)

It would be nice to support this for all of our components (apiserver, scheduler, etc.).

@kubernetes/sig-api-machinery-misc

[2017-01-11 20:55] timstclair commented on #37453
@dashpole I think I told you the wrong thing earlier. We don't support the misc (/system) cgroup on systemd systems (I can't remember why, but it was an explicit decision - @vishh or @derekwaynecarr might know). The `/system.slice` is something different, I believe a base systemd cgroup (slice).

As for the misc container on ContainerVM nodes, we've been testing for the misc container in 1.5+ in t

[2017-01-11 20:55] djsly commented on #18450
@titilambert I guess we can close this now that we have coded the logic on the client side for now. Eventually we will be looking at using either Operators from coreOS or directly third_party_resources.

[2017-01-11 20:58] timstclair commented on #37453
Found the explanation here: https://github.com/kubernetes/community/blob/795d951bba8bad8bcb67feacc18d741eac8c3597/contributors/design-proposals/kubelet-systemd.md#system-reserved

The `kubelet` should use the flag to know the location that has the processes that
are associated with `system-reserved`, but it should not modify the cgroups of
existing processes on the system during bootstrapping of t

[2017-01-11 21:01] deads2k opened #39759 "create k8s.io/apiserver repo"
`staging/src/k8s.io/apiserver` has gotten large enough that people are starting to ask about godeping it.  This means we need to hash out the name and create a repo for it, along with a sync script (possibly like this: https://github.com/kubernetes/apimachinery/pull/2

@lavalamp @kubernetes/sig-api-machinery-misc @smarterclayton @liggitt @sttts
@jayunit100 since you asked.
@pmorie since you're goi

[2017-01-11 21:05] pwittrock commented on #39699
@viglesiasce

[2017-01-11 21:07] viglesiasce commented on #39699
I have started to work on a prototype of this but will be keeping it out of tree for now. Will post back with the repo after I do a bit more cleanup.

[2017-01-11 21:09] viglesiasce commented on #39699
@jessfraz happy to sync with you to show you where my thinking is leading me ATM.

[2017-01-11 21:09] kargakis commented on #18450
@djsly mind sharing your implementation if it's open-sourced?

[2017-01-11 21:09] #18450 closed

[2017-01-11 21:09] pwittrock commented on #39699
@krmayankk I am thinking of another solution for initializing configs.  Something like:

[code]

[2017-01-11 21:20] replicant0wnz commented on #33483
+1

[2017-01-11 21:23] dashpole commented on #37453
@piosz IIUC this is intended behavior on systemd nodes.  Based on the explanation @timstclair provided, the kubelet doesnt have the authority to control "misc" processes on systemd.

[2017-01-11 21:24] lavalamp commented on #39759
this is formerly the genericapiserver library, right? I think we should make a repo for it, yes.

[2017-01-11 21:29] deads2k commented on #39759
Correct and @sttts and @smarterclayton agree that `k8s.io/apiserver` is a good name.  Once we have the repo, I'd plan to make a cloning script similar to what I opened in kubernetes/apimachinery#2 .

While I'm thinking about it, is there a spot to run that script in a job somewhere?

[2017-01-11 21:31] mikedanese opened #39761 "implement webhook CSR signer for the certificates controller"
We need a webhook based signer that implements the [Signer interface](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/certificates/certificate_controller.go#L43-L45) in order to integrate with external CAs.

cc @liggitt @cjcullen @jcbsmpsn

[2017-01-11 21:32] adimania commented on #26703
A similar thing is happening to me. I am using the deployment definition from [here](https://github.com/training-devops/kubernetes-artifacts/blob/master/nginx-deployment.yml). After the deployment is created successfully, I update the image using `kubectl set image deployment my-nginx my-nginx=nginx:1.11`. However, rollout history is not able to capture this
[code]

[2017-01-11 21:32] mikedanese commented on #39761
We also might want a webhook based approver but I will file that separately.

[2017-01-11 21:36] liggitt commented on #39761
it it simpler to write a server to serve a webhook, or a controller that speaks to the kube api and to an external CA?

[2017-01-11 21:45] lavalamp commented on #39759
Yes, we do have a place where the existing script for the client is running, I can try and find it for you.

Do you have a readme etc all ready to go for apiserver repo? I can make it pretty quick if so.

[2017-01-11 21:55] vishh commented on #37453
+1. "misc" is just a bandaid for cvm.

On Wed, Jan 11, 2017 at 1:24 PM, David Ashpole <notifications@github.com>
wrote:

[2017-01-11 21:57] lavalamp commented on #39758
I think that this would be a lot easier once we stop taking config as flags on the command line. I wouldn't want to do a special dynamic knob mechanism just for log level.

[2017-01-11 22:00] mikedanese commented on #39761
1) Webhooks allow integrating with public(ish) CAs when the kubernetes master is on an unreachable (private) network.
2) Webhooks are less resource intensive for a central CA that handles requests for many clusters. The burden is offloaded to the kubernetes master.
3) Figuring out when work actually needs to be done is non-trivial. This is pretty easy with `client-go` and not very easy otherwise a

[2017-01-11 22:00] lavalamp commented on #39759
See:
https://github.com/kubernetes/contrib/tree/master/mungegithub/publisher/deployment

On Wed, Jan 11, 2017 at 1:45 PM, Daniel Smith <notifications@github.com>
wrote:

[2017-01-11 22:00] boynux commented on #35761
We have the same issue.

[2017-01-11 22:09] smarterclayton opened #39764 "Protobuf not generated for changes to k8s.io/apimachinery/pkg/apis/meta/v1"
Protobuf can't generate for things that are in vendor today.

[2017-01-11 22:26] liggitt commented on #39761
I think we should do asynchronous integrations externally, not with a built-in webhook. If we wanted to make a controller that can call out to a webhook, that seems ok, if a little weird.

[2017-01-11 22:30] cjcullen commented on #39722
Why would kubectl be authenticating as `system:anonymous` here? That shouldn't have worked before, right?

[2017-01-11 22:35] foxish commented on #39722
It is curl without a bearer token that's authenticating as system:anonymous.  As I understand it, this is expected. The difference I guess is that previously, it would challenge and allow basic auth. Now, trying to access that same kube-dashboard URL lands me at the error 403 page.

[2017-01-11 22:36] spxtr commented on #24599
I believe we can close this.

[2017-01-11 22:36] #24599 closed

[2017-01-11 22:39] liggitt commented on #39722
Ah. If you want unauthenticated users to fail authentication, start your apiserver with `--anonymous-auth=false`.

[2017-01-11 22:45] arun-gupta opened #39766 "Kubernetes 1.5.1 does not start on AWS"
Trying to start Kubernetes 1.5.1 on AWS as:

[code]
Kubernetes cluster just keeps waiting:

[code]

Deleted the cluster and tried to create/start the cluster again, and same issue.

Is this expected to work?

[2017-01-11 22:48] chrissnell opened #39767 "`kubectl` should warn user if they attempt to authenticate to the cluster using an expired certificate"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

**Kube

[2017-01-11 22:56] chrissnell commented on #39767
Related but different issue:  #29819

[2017-01-11 23:19] kargakis commented on #39758
@lavalamp is there an issue that tracks the more general problem? I think there is a proposal for kubelet, not sure about the rest though.

[2017-01-11 23:26] saad-ali commented on #39561
@msau42 can help out with this

[2017-01-11 23:28] pwittrock commented on #21648
@monopole This might be a good place to get started

[2017-01-11 23:35] #28839 closed

[2017-01-11 23:46] yujuhong commented on #39723
Yes, this is a dup of #39639, and the fix already went in.

[2017-01-11 23:46] yujuhong commented on #39639
Should be fixed by @liggitt's PR #39641. Closing the issue.

[2017-01-11 23:46] #39639 closed

[2017-01-11 23:46] aertoria commented on #8608
it now will print the following instruction on the screen upon you finish minikube installation. e.g.,
 curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/v1.5.1/bin/darwin/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/

[2017-01-12 00:06] yujuhong commented on #38854
I also saw this in the [release note](https://github.com/google/protobuf/releases/tag/v3.0.0):
[code]

I don't think there is a strong incentive for us to switch to proto3. Compatibility wouldn't be an issue if everyone uses proto2. On the other hand, I do like the simpler proto3, and the generated go code (less pointers and functions).

This will affect all WIP runtimes. /cc @jonboulle @mrunalp

[2017-01-12 00:07] pwittrock commented on #39188
@bgrant0607 Are you thinking this would support only the primitive fields as part of the unique/merge key?  Or would this strategy only be valid for types that contain only primitive fields?

Based on your description, the merge key for this strategy would be dynamic and defined by the client.

Have we considered supporting merge keys that are multiple values, but otherwise treated the same as sin

[2017-01-12 00:21] fortcollins commented on #39345
I'm running into issue badly. If you have the cod change or a patch, i will be happy to test it out.

[2017-01-12 00:29] chrislovecnm commented on #37854
@svend how did you install and what os again? What options do you have running on k-c-m and kubelet?

[2017-01-12 00:32] chrislovecnm commented on #37854
@jingxu97 any ideas on this one?

[2017-01-12 00:33] k8s-merge-robot opened #39774 "TestOverlappingDeployment {deployment}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/2006/
Failed: TestOverlappingDeployment {deployment}

[code]

[2017-01-12 00:49] xilabao opened #39775 "FEATURE REQUEST: kubectl unset command"
Since we have kubectl set command to configure the resources. Should we add the unset command to cancel some configs?

[2017-01-12 00:54] diclophis commented on #32542
I also have been stricken by this error...

`kubectl describe pod XXX ...`

... reports ...

[code]

BUT ... `kubectl describe nodes 2>&1 | grep -i Disk` reports ...

[code]

[2017-01-12 01:04] xilabao commented on #39596
`kubectl set role/clusterrole` sounds good. I can help to finish it if the work has not started. @deads2k @xingzhou

[2017-01-12 01:04] yujuhong commented on #38854
The default values may cause problems for some integer fields. For example, `ExitCode` will be default to 0. We could use some message type:
https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.Int32Value

In addition to that, we test the presence of some fields in the api to determine what to do. The "filters" for listing the sandboxes/containers is one ex

[2017-01-12 01:12] k8s-merge-robot opened #39777 "TestSyncOverlappedDeployment {deployment}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/2007/
Failed: TestSyncOverlappedDeployment {deployment}

[code]

[2017-01-12 01:16] #36187 closed

[2017-01-12 01:45] pwittrock commented on #17144
@shiywang  why don't you look into this

[2017-01-12 01:46] shiywang commented on #17144
@pwittrock cool, I'll take a look at this one.

[2017-01-12 01:46] pwittrock commented on #17144
I am not sure if we want to do prefix based, or look up all controllers with that name and then find their pods (recursively).

Alternatively, we could support globs instead of always doing the prefix: `kubectl get pod  nginx*`

[2017-01-12 01:48] yujuhong commented on #38854
@smarterclayton @lavalamp , do you have any suggestion about using proto3 vs 2?

[2017-01-12 02:09] chrishiestand commented on #30656
An additional use case - you're being security conscious so all processes running inside the container are not privileged. But now something unexpectedly isn't working and you want to go in as root to e.g. install debug utilities and figure out what's wrong on the live system.

[2017-01-12 02:38] gmas commented on #32542
I ran into the same error and the issue was that the filesystem had ran out of inodes.
Check the output of `df -i`

[2017-01-12 02:43] snowsky commented on #39775
Good point! Probably we can still use set command but add some parameter, like -u?

[2017-01-12 02:49] jianzhangbjz commented on #34300
@colemickens I encounter the same problems as you said above on release-1.5 branch, but I have installed the `rsync`, how to fix it? or something else I missed?
[code]

[2017-01-12 02:59] renerchen commented on #35641
@MrHohn   The kube-proxy log is fllowing(one has service iptables rules, the other doesn't have iptables)

The good node kube-proxy log:

kube-proxy.log:9508179:I0112 04:07:40.751401  178196 proxier.go:431] Adding new service "common/a-analysis175:8008" at 192.168.3.222:8008/TCP
kube-proxy.log:9508180:I0112 04:07:40.751544  178196 proxier.go:459] added serviceInfo(common/a-analysis175:8008): (*ipt

[2017-01-12 03:10] bgrant0607 commented on #39188
@pwittrock No, I was thinking we'd use all fields specified by the user as the key, including nested maps. Multiple keys would also work and may be less error-prone.

[2017-01-12 03:18] liggitt commented on #38322
does this let normal users set an annotation on their pods in the API and get them special treatment in the kubelet?

[2017-01-12 03:23] derekwaynecarr commented on #38322
I am still getting out of email jail so I am sorry for delayed comment, but I think this annotation if used should be restricted to just the kube-system namespace.  It's an abuse vector otherwise, no?

[2017-01-12 03:24] #35542 closed

[2017-01-12 03:43] #39723 closed

[2017-01-12 03:53] smarterclayton commented on #38854
We're definitely not ready on the API side to move to 3 - we'd need to
change our representation to handle nil and empty fields, and some of the
support we wanted from gogo-protobuf weren't available in 3.  However, I
don't think there's any reason that CRI couldn't use 3 as long as we can
ensure that gogo-protobuf isn't broken when we update.

On Wed, Jan 11, 2017 at 8:48 PM, Yu-Ju Hong <notifica

[2017-01-12 04:02] iam404 commented on #38774
same here. Getting this error as I upgraded to v1.5.0:

```Error from server (InternalError): an error on the server ("unknown") has prevented the request from succeeding```

[2017-01-12 04:06] #38697 closed

[2017-01-12 04:47] vishh commented on #38322
#38836 seems broken to me. Eviction manager never intended to block non BestEffort pods from running on a node under Memory Pressure in the first place. Unless we intend to use the "Critical pod" annotation on "Best Effort" pods I don't see its purpose. Even in that case why would a "Critical" pod be "best effort"? If we are asking k8s users to place appropriate resource limits, then core k8s comp

[2017-01-12 04:47] BaluDontu commented on #33061
@jingxu97 : I am using v1.4.7. Can you let me know is this holds true for v1.4.7?

Also, from the logs I see it is the kubernetes control plane which decides whether the storage plane is multi node attach or single node attach by attempting to send an attachVolume request on the new node. And its not the cloud provider which says it to kubernetes control plane what type of storage plane it is.

Al

[2017-01-12 04:50] aneeshd16 commented on #32542
Faced the same issue,  solved it by manually removing docker images.

`docker rmi $(docker images -q)`

I'm guessing this cleanup is done automatically, not sure why this issue keeps cropping up.

[2017-01-12 04:54] MrHohn commented on #35641
Seems like you had port 45102 in use on the bad node.
[code]
Have you checked what program was using port 45102? Does not seems like the nodePort allocation conflict issue, otherwise the log would be `Port *** was open before and is still needed` instead.

As nodePort service will need to open a port within a specific range (default 30000-32767, but you have set it to 30000-50000) on every minion

[2017-01-12 04:57] thockin commented on #35641
node ports >= 32768 are very possibly in use as ephemeral ports.

On Wed, Jan 11, 2017 at 8:54 PM, Zihong Zheng <notifications@github.com>
wrote:

[2017-01-12 05:00] thockin commented on #38322
On Wed, Jan 11, 2017 at 8:47 PM, Vish Kannan <notifications@github.com> wrote:

Requires that they all (including kube-proxy) run as daemonset so that
things like resources are modifiable.  kube-proxy needs to scale with
the size of the cluster.

[2017-01-12 05:03] thockin commented on #39188
For this particular case "" is a valid name in only in the case of a single
entry, and that is enforced by validation, so if "" was allowed it would
just work?

On Wed, Jan 11, 2017 at 7:10 PM, Brian Grant <notifications@github.com>
wrote:

[2017-01-12 05:10] derekwaynecarr commented on #38322
I agree with @vishh and include #39114 in the candidate list.  This casts too big a net.

[2017-01-12 05:14] xingzhou opened #39782 "Support adding single rule to Role by using 'kubectl set role/clusterrole'"
This ticket is created based on the discussion of #39596, please see the comments there.

[2017-01-12 05:15] olalonde commented on #32542
Yeah... The fact that there's some garbage that isn't collected is kinda OK but at the very least k8s shouldn't lie and say that everything's fine :)

[2017-01-12 05:16] xingzhou commented on #39596
I'm not working on the `set` command right now and I've created a new ticket to track the implementation of `kubectl set role`.

[2017-01-12 05:32] davidopp commented on #38322
When we were originally discussing this feature I asked @dchen1107 why we didn't do "Have all kube-system pods be Guaranteed including static ones. It doesn't make sense to keep such critical pods in any other QoS Class" and I believe she said because it's hard to size these things properly and it's better to let them exceed request when they need to. But that definitely seems like the simplest so

[2017-01-12 05:32] vishh commented on #38322
things like resources are modifiable.  kube-proxy needs to scale with
the size of the cluster.

@thockin can we prioritize porting kube proxy to a daemonset? Have we scoped out the work involved? Is anyone working on it? As a stop-gap solution, may be we can keep updating the static pod manifest using a daemonset of something.

[2017-01-12 05:33] vishh commented on #38322
@davidopp `5` in https://github.com/kubernetes/kubernetes/issues/38322#issuecomment-272075161 is necessary for admitting static pods for example. Let's discuss the eviction semantics in a different issue though as you suggested.

[2017-01-12 05:58] micmro opened #39783 "'openstack-heat' cluster provider misses 'domain-name' for Keystone v3"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Kubern

[2017-01-12 06:11] thockin commented on #38322
To the best of my knowledge nobody has this goal on their 1.6 critical
list.  @mikedanese or ??? is there a state dump to be had?

On Wed, Jan 11, 2017 at 9:32 PM, Vish Kannan <notifications@github.com>
wrote:

[2017-01-12 06:20] thockin commented on #39561
@mrhohn @mikedanese who among us feels the most ownership of addon
manager?  This is reaching a boiling point.

On Wed, Jan 11, 2017 at 3:26 PM, Saad Ali <notifications@github.com> wrote:

[2017-01-12 06:29] renerchen commented on #35641
@MrHohn  yes, the port 45102 is allocated to another endpoints. Thanks a lot!

[2017-01-12 06:32] renerchen commented on #35641
@MrHohn @thockin
NodePort 30000~32767 is not enought for us. As node ports >= 32768 are very possibly in use as ephemeral ports.  If we want to extend nodeport range, how to do it? Using ports < 32768, like (12768~32768), right?

[2017-01-12 06:37] renerchen commented on #35641
@MrHohn  Another question, when k8s set the node port, does it to check that the port is used in the nodes but not used in kube-proxy?

[2017-01-12 06:38] tyranron commented on #36482
@yujuhong yes, labels were applied manually via `kubectl label node`.

I will add `--node-labels` opt additionally and will post the result on next CoreOS upgrade.

[2017-01-12 06:41] thockin commented on #35641
You have more than 2700 Services and all of them are exposed publicly by
load-balancers?

On Wed, Jan 11, 2017 at 10:33 PM, renerchen <notifications@github.com>
wrote:

[2017-01-12 06:45] tyranron commented on #36482
@yujuhong sounds reasonable for [first case](#issuecomment-271792814) where all Pods stuck after restart.
But for [second case](#issuecomment-271842730) where only part of Pods stuck... does it mean that for reboot-survived Pods 2 happens after 5 ?

Can we check this somehow with logs grepping?

[2017-01-12 06:46] thockin commented on #39696
CVEs - scanning tools are starting to become de rigeur and debian and
ubuntu images all have open CVEs.

On Wed, Jan 11, 2017 at 7:21 AM, Eric Paris <notifications@github.com>
wrote:

[2017-01-12 06:50] k8s-merge-robot opened #39785 "[k8s.io] Deployment lack of progress should be reported in the deployment status {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/2852/
Failed: [k8s.io] Deployment lack of progress should be reported in the deployment status {Kubernetes e2e suite}

[code]

Previous issues for this test: #31697 #36574

[2017-01-12 07:06] MrHohn commented on #39561
As @mikedanese [mentioned before](https://github.com/kubernetes/kubernetes/pull/34639#issuecomment-253858033), it wouldn't be hard to implement an "oneshot" functionality. I also had [a short proposal](https://github.com/kubernetes/kubernetes/pull/34639#issuecomment-253717529) for this.

If we agree this is the proper way to go with, I can also help out. The required work I expect would be putting

[2017-01-12 07:50] SimenB commented on #30656
Installing stuff for debugging purposes is my use case as well. Currently I `ssh` into the nodes running kubernetes, and use `docker exec` directly.

[2017-01-12 08:16] k8s-merge-robot opened #39786 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-test/360/
Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236 #27920 #28492 #29970 #30075 #32980 #33313 #33380 #35444 #37814 #38204

[2017-01-12 08:16] k8s-merge-robot opened #39787 "ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master/157/
Multiple broken tests:

Failed: [k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster. {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29647 #35627 #38293

Failed: Test {e2e.go}

[code]
Issues about this t

[2017-01-12 08:16] k8s-merge-robot opened #39788 "Test {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-latest-1.4-latest-1.5-gci-kubectl-skew/2637/
Failed: Test {e2e.go}

[code]

Previous issues for this test: #33361

[2017-01-12 08:16] k8s-merge-robot opened #39789 "ci-kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-cluster/139/
Multiple broken tests:

Failed: [k8s.io] V1Job should fail a job [Slow] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}

[code]
Issues about this test specifically: #31502 #32947

Faile

[2017-01-12 08:16] k8s-merge-robot opened #39790 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws/6382/
Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895 #39209

[2017-01-12 08:23] ejc3 commented on #38918
For the cluster wide maintenance mode, could it be implemented by a flag in etcd? If the flag is enabled, the cluster will operate normally. If the value is missing, the system will put itself into maintenance mode. That way, you handle the "blank" etcd gracefully while delivering this feature.

[2017-01-12 08:26] #39786 closed

[2017-01-12 08:31] armstrongli commented on #28138
@aaronlevy
Why not let kubelet listening on one http server? It does support fetching pods list from http server.

kubelet watching 2 resources for static pods:
 - host path
 - http server

Then you can create pods directly to the http server instead of to the kubelet. kubelet should be one pure client watching resources, running/stopping pods.

The risk of implementing one rest api in kubelet is

[2017-01-12 08:36] xinxiaogang commented on #28138
I think @armstrongli's question is what if we use `static` pod for the bootstrap control plane and remove them after `normal` control plane pod ready?
- The `static` pods' lifecycle is only for bootstrap usage.

[2017-01-12 08:43] NickrenREN opened #39791 "Should we detach an attached cinder volume forcibly before attaching elsewhere"
#39055  #33288

When a cinder volume is attached by one pod, and then another pod uses the same cinder volume (maybe by mistake),if we detach an  attached cinder volume forcibly, the first pod will lose access to the cinder volume unexpected. This may cause some unpredictable problems.  Is my understanding right?

[2017-01-12 08:56] #39788 closed

[2017-01-12 08:58] JorritSalverda opened #39792 "Feature request: support dns aliases for service"
**FEATURE REQUEST**

I'd like to be able to set custom hostnames in Kubernetes for a service besides the default my-service, my-service.my-ns and my-service.my-ns.svc.cluster.local so I can use the same dns name externally and internally, whereas the external dns record resolves to the public ip and the internal dns record resolves to the service cluster ip.

For our services of type LoadBalancer

[2017-01-12 09:00] JorritSalverda commented on #39792
As a workaround is it possible to directly add dns records to kube-dns? Either by kubectl or directly via the Kubernetes api?

[2017-01-12 09:16] #39790 closed

[2017-01-12 09:23] yns-libn commented on #38896
@bowei
Sorry, I have solved the problem of not being able to access DNS, but the method is not very good, I used the old skydns to deploy my cluster , and in this issue "ConfigMap: kube-system:kube-dns", I don't know what should be set up, there is no specific explanation in the DNS installation instructions, but I think if the problem is solved, the DNS problem will be solved

[2017-01-12 09:34] lihan opened #39795 "Environment variables created from Secrets are incorrect under printenv and set"
Duplicate of https://github.com/kubernetes/kubernetes/issues/23404

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

secrets, envir

[2017-01-12 09:41] #39795 closed

[2017-01-12 09:52] keith4743 opened #39796 "Is there a completion package for k8s 1.5？"
OS：CentOS7.2

I have installed bash-completion and bash-completion-extras, but can not complete command in k8s.

[2017-01-12 10:30] pires commented on #38785
Damn, somehow I missed this and we don't have binaries for 1.5.2.

[2017-01-12 10:32] pires commented on #38785
@brendandburns would you be willing to pick this?

[2017-01-12 10:36] #36170 closed

[2017-01-12 10:48] connec commented on #20902
I've also encountered this using `kubectl replace` - not sure whether it's expected to do cascading deletion or not.

[2017-01-12 11:11] pnovotnak commented on #27876
FYI; seems BASH needs to be a new-ish version.

 $ echo $BASH_VERSION
3.2.57(1)-release                <<< does not work!

$ echo $BASH_VERSION
4.4.5(1)-release                  <<< works!

[2017-01-12 11:44] soltysh commented on #34710
Yes, go ahead, and ping me in the pr. Thanks for your help!

[2017-01-12 11:53] johnparn opened #39798 "Using kubectl apply updates deployment but leaves pods behind"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

I haven't found any duplicates just a similar issue: #27721. In that particular case the problem arose when using `kubectl rolling-update`. In my case I see the same problem when using `kubectl apply -f deplyoment.yaml`. It's not happening all the time

[2017-01-12 12:03] majewsky commented on #39734
The problem appears to be specific to the node where the leading controller-manager runs. Since the switch to a new leader, the situation has stabilized:

<img width="1298" alt="screen shot 2017-01-12 at 13 01 49" src="https://cloud.githubusercontent.com/assets/24696/21889088/7719b7f2-d8c7-11e6-8fa8-0f59c7000b06.png">

[2017-01-12 12:10] soltysh commented on #35508
Only controller-manager restart should be required, scheduler has nothing to do with that, iirc. I've created https://github.com/kubernetes/kubernetes.github.io/pull/2215 to addressed the issue.

[2017-01-12 12:15] k8s-merge-robot opened #39799 "ci-kubernetes-e2e-gci-gke-subnet: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-subnet/191/
Multiple broken tests:

Failed: [k8s.io] DNS should provide DNS for the cluster [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26194 #26338 #30345 #34571

Failed: [k8s.io] DNS config map should be able to change configuration {Kubernetes e2e suite}

[code]
Issu

[2017-01-12 12:23] Raffo commented on #38192
+1, it would be good to have this. While we trust the users and don't allow the to do write operations with `kubectl`, in some cases we want to make sure data is never deleted.

[2017-01-12 12:27] gmarek commented on #39730
@lavalamp - who should work on this?

[2017-01-12 12:36] soltysh commented on #23304
Fix in-flight in https://github.com/kubernetes/kubernetes/pull/39683

[2017-01-12 12:37] deads2k commented on #39596
I'm not working on it either.

[2017-01-12 13:04] crassirostris opened #39800 "Systems components' logs"
Currently several system components running in containers, like scheduler[1] or kube-proxy[2] are logging directly to the `/var/log` directory. Because of that:

* Logging agent configuration is hairy, it should contain manually added records for all components[3]. Introducing new system component require further manual intervention
* Logs from system components are under `gce_instance` resource i

[2017-01-12 13:04] gmarek commented on #39717
@shyamjvs - is this something that you may be interested in looking into?

[2017-01-12 13:22] shyamjvs commented on #39717
Sure. I'll look into it.

[2017-01-12 13:32] deads2k commented on #39759
Yes, I have a readme.md here: https://gist.github.com/deads2k/0f5ec24fda252eb8cc41a72798274e18

[2017-01-12 13:33] liamawhite commented on #39622
Weird, I'm unable to recreate this issue. When I use the resource provided it allows me to create it.

[code]

[2017-01-12 13:40] pmblatino commented on #24687
@jingxu97 Thanks a lot for poiting those lines out,  just tought of letting people know that it doesnt work on GCE kubernetes 1.4.6 only on 1.4.7, and when listing this nfs disk (df -h) on the pod it shows the size of the original disk and not the size set on the nfs-pvc.

[2017-01-12 13:43] #39787 closed

[2017-01-12 13:46] #39789 closed

[2017-01-12 13:51] ash2k commented on #16376
I'm sorry if this is not the right place to comment, but it seems relevant.
I tried to use `cache.NewListWatchFromClient()` to construct an Informer using `cache.NewSharedInformer()` but it does not work:
[code]
Debugging shows that global `api.ParameterCodec` is used to encode `v1.ListOptions` passed to the `VersionedParams()` method. This global `ParameterCodec` is constructed using global `api.

[2017-01-12 14:09] deads2k commented on #39758
I see log level as different than most of the config.  While loglevel changes can be destructive (turn it up so high that the server can't keep up), I see a runtime (non-persisted) change to the loglevel as an action I would allow more broadly than a config change to my API server.  The set of people I would allow to gather logs for debugging is broader than the set of people I'd allow to change h

[2017-01-12 14:33] gmarek commented on #39423
@thockin @bprashanth

[2017-01-12 14:47] orian commented on #19953
Just experienced exactly that.

With 2 nodes cluster. The number of replicas is 1.

[2017-01-12 14:53] justinsb opened #39804 "dnsprovider: large google cloud dns rrsets could be truncated"
We don't implement pagination when retrieving rrsets from google cloud dns, so results could in theory be truncated: https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/dnsprovider/providers/google/clouddns/rrsets.go#L34

We should support NextPageToken.

[2017-01-12 15:05] xilabao commented on #39775
@pwittrock @kargakis

[2017-01-12 15:11] kargakis commented on #39775
@kubernetes/sig-cli-misc

[2017-01-12 15:17] shyamjvs commented on #39717
@fzu-huang Thanks for pointing this out.
@gmarek @Random-Liu The only place we currently use a `FakeDockerClient` is in kubemark. So would you suggest just removing this call logging totally (we can add it in the future when someone actually needs it) or make it optional through a bool argument to all constructors for the client?

[2017-01-12 15:41] shyamjvs commented on #39717
@yujuhong Kubemark (which seems to be the only user of FakeDockerClient on doing a grep in the repo) doesn't use `f.called` array. And the same is also true with other arrays like Created, Started, Stopped, Removed. The whole point of having them was to be able to access history, and if we don't want them, we can just remove the whole history storing logic or just have it as optional. What do you

[2017-01-12 15:47] sbadia commented on #39584
Thanks @mikekap you're right for the strategytype!
Indeed for the `OldReplicatSets`… I leave this issue open ?

[2017-01-12 16:07] kargakis commented on #39777
The [PR](https://github.com/kubernetes/kubernetes/pull/39088) that introduced this flake was [reverted](https://github.com/kubernetes/kubernetes/pull/39778) so this shouldn't be an issue anymore.

[2017-01-12 16:07] #39777 closed

[2017-01-12 16:08] kargakis commented on #39774
The [PR](https://github.com/kubernetes/kubernetes/pull/39088) that introduced this flake was [reverted](https://github.com/kubernetes/kubernetes/pull/39778) so this shouldn't be an issue anymore.

[2017-01-12 16:08] #39774 closed

[2017-01-12 16:12] kargakis commented on #39741
Fixed by https://github.com/kubernetes/kubernetes/pull/38299

[2017-01-12 16:12] #39741 closed

[2017-01-12 16:14] kargakis commented on #39666
I will try to look into this tomorrow.

[2017-01-12 16:29] kargakis commented on #39670
Dupe of https://github.com/kubernetes/kubernetes/issues/39604?

[2017-01-12 16:32] pwittrock commented on #8329
@monopole This would be a good one to get started

[2017-01-12 16:37] smarterclayton commented on #39764
I'll fix this.

[2017-01-12 16:44] eric-tucker opened #39811 "Validation errors in the cli are cryptic"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
ports required

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATU

[2017-01-12 16:45] fabiand commented on #17333
I always had the assumption that - as @thockin says - _actual_ will end up to have the same value as _spec_, if not then there must be an issue somewhere.
And thus it would be odd if _actual_ could somehow override the _spec_ value.

[2017-01-12 16:48] eric-tucker commented on #39811
I have discovered the error was actually coming from the service.  The error message should not be so cryptic and give exactly what resource is causing the problem.  I removed my service definition and things worked.

[2017-01-12 16:55] bgrant0607 commented on #12245
@bogdando Systemd unit files are configuration files in a less introspectable, less portable, less maintainable format. I don't think your argument is actually about flags vs configuration files at all. Read-only vs. read-write seems to be a fairly narrow/specific issue that could be easily addressed. Since this appears to be specifically about Kubelet, please raise your concerns on #29459 or #279

[2017-01-12 17:05] sdminonne commented on #12140
/sub

[2017-01-12 17:07] pwittrock commented on #39188
@thockin I was thinking something similar yesterday.  Something like:

*If len(patch list) == 1 && merge key is missing from patch list entry && len(dest list) == 1 && merge key is missing from dest list entry*
-> *Then merge into only entry in destination list*

[2017-01-12 17:22] ichekrygin opened #39812 "Missing container metrics in kubelet (cAdvisor) in v1.5.1"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No, this looks like a regression in v1.5.1

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubelet, metrics, cAdvisor

---

**Is this a

[2017-01-12 17:30] smarterclayton commented on #1899
I think we should have a conceptual level in the API which is "ready" for most resources.  We should align that concept across the resources and have necessary support to handle that.

Example:

1. create a bunch of things
2. for those things, wait until they are all ready
3. be able to communicate if they are ready

Things that have concrete readiness

1. Pods (today)
2. Deployments (today)
3. Re

[2017-01-12 17:32] karsinkk commented on #29679
@bgrant0607  I saw the for-new-contributors label, Can I have a go at this?, seems interesting.

[2017-01-12 17:40] kargakis commented on #39666
Latest test run from https://github.com/kubernetes/kubernetes/pull/39614 and this seems to be working as expected:
[code]
I am lowering the priority on this until it turns out I shouldn't.

[2017-01-12 17:44] metral commented on #28138
@xinxiaogang The switch to static pods is an open issue (https://github.com/kubernetes-incubator/bootkube/issues/168) in bootkube. Currently, bootkube has the apiserver, controller-manager & scheduler baked into it to stand up the temp control plane.

[2017-01-12 17:45] yujuhong commented on #39717
@shyamjvs, have a single option to disable all of them sounds good to me. Since most unit tests do require the history to verify the call, we can enable this option by default, and let kubemark explicitly disable it.

[2017-01-12 17:47] karsinkk commented on #37704
@stu-gott @lavalamp  Can I have a go at this?

[2017-01-12 17:48] spiffxp commented on #38497
/cc @kubernetes/sig-scalability-misc since we discussed during today's meeting

[2017-01-12 17:51] stu-gott commented on #37704
I have a nearly completed solution for this already. Just working on testing/test cases. WIll hopefully sumbit a PR shortly.

[2017-01-12 17:53] pwittrock commented on #17144
Related link: http://www.tldp.org/LDP/GNU-Linux-Tools-Summary/html/x11655.htm

[2017-01-12 18:08] karsinkk commented on #37704
@stu-gott  Ok.

[2017-01-12 18:09] MrHohn commented on #38896
Hi @yns-libn, how did the kube-dns ConfigMap cause problem? If there is not kube-dns ConfigMap exist, the latest kube-dns would fall back to use the parameters given by the `--federations` flag. You shouldn't be worried about it if you are not using the federation feature.

[2017-01-12 18:22] pwittrock commented on #39704
@spxtr context?

[2017-01-12 18:23] mikekap opened #39815 "CronJob creates a lot of Job objects"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-01-12 18:30] pwittrock commented on #38774
Sounds like something we should patch into 1.5

[2017-01-12 18:32] pwittrock commented on #38774
@jessfraz Would you add a unit or e2e test for this as well when you have a fix?

[2017-01-12 18:33] hongchaodeng opened #39816 "[GC] controller manager gets error "unable to get REST mapping for kind" for ownerRefs to TPR and add-on APIs"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

TPR. GC. OwnerReference. REST mapping.

---

**Is this a BUG REPORT or FEATURE REQUEST?

[2017-01-12 18:34] Random-Liu commented on #39717
@shyamjvs Thanks for picking this up!

[2017-01-12 18:35] justinsb commented on #39524
So I feel like _requiring_ the user to tweak these settings means we aren't doing a good job, but I also feel that an escape valve is handy for extreme cases.

That said, I worry that we don't know what the knobs should be.  If we are able to move to a coherent caching model (#39647, as you pointed out) then the dials will likely be different.  _Hopefully_ we wouldn't need any dials, but I do thin

[2017-01-12 18:36] jessfraz commented on #38774
will do!

On Thu, Jan 12, 2017 at 10:32 AM Phillip Wittrock <notifications@github.com>
wrote:

[2017-01-12 18:43] eric-tucker commented on #15478
Use case for per container configuration: I want to log elsewhere or differently for containers I deploy and I don't care about the log driver for the standard containers necessary to run Kubernetes.

There you go.  Please make this happen.

[2017-01-12 18:58] janetkuo commented on #29403
@xingzhou if we always go back to the editor, users can continue editing regardless of errors made. IMO this is interactive edit mode, so I'm not sure if I understand your question here. Would you expand more on what the edit experience should look like? (Maybe show some examples?)

[2017-01-12 19:06] kargakis commented on #39815
Dupe of https://github.com/kubernetes/kubernetes/issues/34710 cc: @soltysh

[2017-01-12 19:07] r4j4h commented on #23581
Could we work this into a proposal to consider how RDS resource provisioning might look, so that we can better entice development towards it?

Some prior art off the top of my head:

* Service `type: LoadBalancer` communicates with AWS APIs to spin up, configure, and coordinate Elastic Load Balancers, Security Groups, and nodes to be attached. [Reference](https://github.com/kubernetes/kubernetes/b

[2017-01-12 19:08] paultiplady commented on #29542
Note that this issue is breaking Helm for TPRs; see https://github.com/kubernetes/helm/issues/1468.

[2017-01-12 19:09] razvanphp commented on #27876
This is the case with the default bash in OS X Sierra, I would assume updating bash would cause system instability, can this be fixed for the 3.x version too?

[2017-01-12 19:12] kargakis commented on #39811
@kubernetes/sig-cli-misc for improving the error message

[2017-01-12 19:15] #17546 closed

[2017-01-12 19:18] yujuhong commented on #36482
kubelet gets some of the pods from the apiserver, and others from the local disk (e.g., kube-apiserver, kube-proxy). They are from difference sources and hence are admitted in separate batches. It's likely that the node store was populated in between these two batch admissions.

For every batch admission, you should see kubelet log line in this format: `SyncLoop (ADD, source): podName_podNamespace

[2017-01-12 19:22] xmik commented on #15478
Another idea is, where all the containers still **forward logs into the same endpoint, but you can at least set different fields values for different docker containers** on your log server.

This would work for the gelf docker driver, if we could ensure docker containers created by Kubernetes are custom labelled. Meaning: some of a Pod fields could be forwarded as docker container labels. (Maybe t

[2017-01-12 19:23] lavalamp commented on #39758
I actually have the opposite thought, which is the people allowed to monkey
with apiserver's log level ought to be a smaller set than the people who
can change other things, like install TPRs for example...

On Thu, Jan 12, 2017 at 6:09 AM, David Eads <notifications@github.com>
wrote:

[2017-01-12 19:27] pwittrock commented on #39811
@monopole here is another one to get started on.  The issue is that multiple configs can be specified in 1 file, and if validation fails, the error message should give the name and type of the resource that it is failing for (name, kind, namespace) should be unique across the cluster

[2017-01-12 19:31] kargakis commented on #28229
@kubernetes/sig-scheduling-misc @kubernetes/sig-node-misc

[2017-01-12 19:34] kargakis commented on #12140
Assuming each node has a unique label (kubernetes.io/hostname?), the rescheduler could update the node affinity of a pod it's about to preempt.

[2017-01-12 19:42] aveshagarwal opened #39818 "A pod with a toleration gets scheduled on a node with no taints"
As per the doc: https://github.com/kubernetes/kubernetes/blob/master/docs/design/taint-toleration-dedicated.md, It says: "..Or to give all pods that require GPUs access to GPU nodes, an admission controller would add the toleration for GPU taints to pods that request the GPU resource...." .

As per my understanding if a pod has a toleration for GPU resource, but there is no node in the cluster tha

[2017-01-12 19:42] justinsb opened #39819 "bazel-build: `/usr/bin/ld: -r and -pie may not be used together`"
Running `make bazel-build` on debian stretch, I am getting:

`/usr/bin/ld: -r and -pie may not be used together`

I've found some references to this being because the stretch version of ld sets `-pie` by default (e.g. https://github.com/rumpkernel/rumprun/issues/85 ).  But it isn't clear to me how to address this.

Also, why is bazel using the ld from my system anyway (presuming it is)?  That is n

[2017-01-12 19:46] barnsnake351 commented on #37854
@chrislovecnm we have a custom install solution but are using the following options for kubelet and k-c-m. We are running a 3 node control plane with leader election for k-api and k-c-m components. As @svend mentioned, we are running v1.5.1 for all kube components with calico networking.

Distribution is Ubuntu:Xenial
kubelet options:
- allow-privileged=true
- cloud-provider=aws
- cluster-dns=10.x

[2017-01-12 19:49] aveshagarwal commented on #39818
Otherwise, it would require to add something like node selector labels to pods to restrict them to only those nodes. Because there is no point in scheduling a pod on a node with no GPU resource.

[2017-01-12 19:50] davidopp commented on #39818
This is working as expected (though maybe we should clarify the documentation).

A node with no taints allows any kind of pod to schedule, regardless of whether the pod has tolerations.

A node with taint X allows only pods that tolerate X to schedule. (The pod may tolerate other things as well; what's relevant is whether it tolerates X.)

The way to think of taints is that it only prevents pods f

[2017-01-12 20:02] aveshagarwal commented on #39818
@davidopp thanks. wanted to double check. Though wondering what is the disadvantage of restricting pods with tolerations to not get scheduled on nodes with no taints?

[2017-01-12 20:08] mikedanese commented on #39819
@ixdy @spxtr this would be fixed by building in a container.

cc @damienmg

[2017-01-12 20:12] robdewit opened #39820 "glusterfs client is outdated in hyperkube image"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.6", GitCommit:"e569a27d02001e343cb68086bc06d47804f62af6", GitTreeState:"clean", BuildDate:"2016-11-12T05:22:15Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab

[2017-01-12 20:23] chrislovecnm commented on #37854
@barnsnake351 kernel modules and version, aws instance type and docker version please

[2017-01-12 20:28] liggitt opened #39822 "List returns nil items field"
Behavior of the `items` field for empty lists has changed in 1.5.

With 1.4 (and earlier releases):
[code]

With 1.5 and master:
[code]

Looks like a re-emergence of https://github.com/kubernetes/kubernetes/issues/2070 / https://github.com/kubernetes/kubernetes/pull/2075

[2017-01-12 20:28] justinsb commented on #39819
Oh good call @mikedanese ... so I can unblock myself by running in a docker container with e.g. debian jessie.

Is this a bazel bug?  We do download the latest golang, it feels odd to then use the system linker (?)

[2017-01-12 20:32] mikedanese commented on #39819
It sounds like it might be a bad assumption in either cc_library rule in bazel core or in cgo_codegen from http://github.com/bazelbuild/rules_go

[2017-01-12 20:33] stu-gott commented on #29307
I'd like to take a stab at fixing this

[2017-01-12 20:33] damienmg commented on #39819
So default toolchain bazel use is the one from the host which is indeed not reproducible. If Kubernetes ship its own toolchain, using --crosstool_top can change it. If not it might be a bug in the rules_go for cgo support.

I wasn't aware of an issue with debian stretch anyhow, I'll start adding the various debian stable to our CI (we test with ubuntu right now)

[2017-01-12 20:38] damienmg commented on #39819
/cc @pmbethe09 for go.

[2017-01-12 20:39] foxish commented on #39125
ping @mwielgus

[2017-01-12 20:40] liggitt commented on #39822
cc @kubernetes/sig-api-machinery-misc @smarterclayton @derekwaynecarr

[2017-01-12 20:42] foxish commented on #39125
@davidopp, @mwielgus, can someone help cherrypick this into 1.5? I'm sure other folks are going to hit this issue as well as they use StatefulSets with PDB.

[2017-01-12 20:52] ravishivt opened #39823 "Handle nodes with iptables FORWARD DROP better"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):  BUG REPORT

**Kubernetes version** (use `kubectl version`):  1.5.1

**Environment**:
- **Cloud provider or hardware configuration**:  3x Ubuntu 16.04 nodes running in VMware vSphere
- **OS** (e.g. from /etc/os-release):  Ubuntu 16.04
- **Kernel** (e.g. `uname -a`):  4.4.0-57-generic
- **Install tools**:  kubeadm
- **Others**:  CNI: Canal

[2017-01-12 20:52] maisem opened #39824 "Users should be able to delete in a way that respects PodDisruptionBudgets"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

**Kubernetes version** (use `kubectl version`): 1.5.1

**What happened**:
"kubectl delete pods" deletes pods backed by a PodDisruptionBudget without using the Eviction subresource.

**What you expected to happen**:
"kubectl delete pods" should prevent deletion of pods that would violate the PDB.

[2017-01-12 20:56] foxish commented on #39824
I'd expect `kubectl delete` to warn about the fact that we're violating PDB but still allow for a way (--force?) to violate it and delete it anyway.

cc @davidopp @kow3ns @kubernetes/sig-cli-misc @kubernetes/sig-apps-misc

[2017-01-12 20:56] r4j4h commented on #39766
I can confirm 1.5.1 worked on Vagrant, but due to issues with Helm I reverted to 1.4.7, so I cannot verify if it works in AWS, but using `kops` 1.4.7 definitely works on AWS right now.

[2017-01-12 20:58] maisem commented on #39824
@foxish I agree, it should allow a way to forcibly delete the pod.

[2017-01-12 21:00] arun-gupta commented on #39766
Tried to start again with 1.5.1 and got:

[code]

[2017-01-12 21:10] jeremyeder commented on #39818
The presence of a toleration on a pod represents a specific "pod-routing intent" by the author. Isn't it the case that landing pods on nodes without that taint is a violation of the user's intent?

Without the behavior described by Avesh, we have to couple tolerations with label-based node-selectors.  It's really awkward.  I wonder if there should be a toleration-effect to smooth out this oddity.

[2017-01-12 21:14] ReneSaenz commented on #39427
@alejandroEsc are you working on this?  If not, I would like to work on it.

[2017-01-12 21:15] arun-gupta commented on #39766
Seems to behave better with 1.5.2:

[code]

[2017-01-12 21:24] timothysc commented on #28229
Inter-pod-anti-affinity does this.

The api is being promoted to beta-fields in 1.6, doc updates will follow on.  Please reopen if you think it does not meet your requirements.

[2017-01-12 21:24] #28229 closed

[2017-01-12 21:25] chrislovecnm commented on #37854
@barnsnake351 can I get a kernel / syslog when this happens?

[2017-01-12 21:27] chrislovecnm commented on #37854
@barnsnake351 sorry to spam you.  We should have detach sequence after 6 min ish.  If you wait does the ebs volume detach?  @saad-ali can add more details here.

[2017-01-12 21:44] alejandroEsc commented on #39427
@ReneSaenz I plan to, but if i'll keep you posted if i get too delayed.

[2017-01-12 21:56] daniilyar commented on #38495
Docker has it's own native log rotation. For docker json-log driver, just set:

[code]

Just need to proxy appropriate options vi Pod and RC definitions.
From my experience, using docker native logs rotation doesn't break tools, reading logs via Docker API (e.g. logspout).

[2017-01-12 22:02] liggitt commented on #39822
bisected to https://github.com/kubernetes/kubernetes/commit/4f363f54474bf363f0890c0c899dc331b7b34673#diff-fe6dbe5fa548ea5c031a5be1669a6376L1072

we no longer call meta.SetList(obj, items) while processing a list call, which had the side effect of turning a nil list into an empty list

[2017-01-12 22:06] chrislovecnm opened #39828 "STONITH - path to self healing cluster"
I would recommend a design spike on when to Shoot a Node In The Head.

From Wikipedia:

Jump up ^ Alan Robertson (2010). ["Resource fencing using STONITH"](ftp://ftp.telecom.uff.br/pub/linux/HA/ResourceFencing_Stonith.pdf) (PDF). IBM Linux Research Center.

@justinsb and other raised this issue on a call.  I would like to investigate the possibly that all components in K8s have the capability of t

[2017-01-12 22:10] liggitt commented on #39822
cc @soltysh @ncdc

[2017-01-12 22:10] smarterclayton commented on #39822
Probably should have an explicit reflection based "if nil, then set" function.

[2017-01-12 22:12] liggitt commented on #39822
yup, doing it, adding a test, will open the cherry-pick

[2017-01-12 22:12] smarterclayton commented on #39822
Explicit at the end of the list return call, not inside EachListItem.

[2017-01-12 22:25] foxish opened #39830 "kubectl get all does not list PDBs"
`kubectl get all` does not list the PDBs in a cluster.

[code]

[code]

Client Version: v1.5.1

[2017-01-12 22:25] foxish commented on #39830
/cc @kubernetes/sig-cli-misc

[2017-01-12 22:26] lavalamp commented on #39822
If this is an important detail, then please make a unit test.

On Thu, Jan 12, 2017 at 2:12 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-01-12 22:29] r4j4h commented on #39792
Speaking to your workaround:

selector, and then add an Endpoints object that has the IP you want. This
will make a kube-dns record for you. It's sort of a workaround, but it
should work for now.

[Source](https://github.com/kubernetes/kubernetes/issues/12337#issuecomment-218951154)

[2017-01-12 23:01] jessfraz commented on #38774
opened PR and added unit test https://github.com/kubernetes/kubernetes/pull/39831

[2017-01-12 23:01] jessfraz commented on #38774
will cherry-pick onto 1.5 after merge

[2017-01-12 23:06] #39532 closed

[2017-01-12 23:16] lavalamp commented on #39289
@ncdc knows this stuff.

I think there is a long running operation timeout, possibly in an apiserver command line flag. But I'm pretty sure it'd be longer than 5 minutes by default, more like several hours. The timeout would start ticking from the port forward command, not from the docker push command.

[2017-01-12 23:19] sheerun commented on #39622
One more time: the issue is just with the message

[2017-01-12 23:19] chrislovecnm commented on #39828
cc @saad-ali

What sig do you think this would fall under?

[2017-01-12 23:43] lavalamp commented on #17648
SGTM

[2017-01-12 23:46] MrHohn commented on #35641
@renerchen No, it does not. The Apiserver will randomly pick a port from the configured range (beside those allocated nodePorts).

For extending the nodePort range, I think dynamic port range may vary between different platforms and distros. On my local cluster that runs [GCI images](https://cloud.google.com/container-optimized-os/), I have below:
[code]
You may want to check your environment befo

[2017-01-12 23:53] liamawhite commented on #39622
Ok I understand what you're saying, I'll create a PR and get some discussion going. I assume the validation stuff is quite widely consumed so it may cause some unintended issues.

[2017-01-12 23:56] copejon commented on #39119
@saad-ali
@jeffvance and I have spent the last couple days digging down into the cause of the failures.  It came down to the `system:controller:persistent-volume-binder` clusterRole missing the `watch` verb for `event` resources.

Our tests invoked the nfs recycler, which relied on the `persistent-volume-binder` ServiceAccount being authorized for `watch`ing  `events`.  I think when RBAC was intro

[2017-01-12 23:58] jessfraz commented on #39699
neat @viglesiasce!

[2017-01-13 00:24] liggitt commented on #39792
not sure about that... isn't ingress intended to be used to surface services via external DNS names?

[2017-01-13 00:45] SydOps commented on #25421
i got a similar error `unable to decode "dd-agent.yml": [pos 340]: json: expect char '"' but got char '8'` when deploy a dd-agent (datadog) daemonset

Fix is, add single quotation marks.

         - name: PROXY_HOST
           value: proxy.server.com
         - name: PROXY_PORT
           value: 8080

to

         - name: PROXY_HOST
           value: 'proxy.server.com'
         - name: PROXY_PORT

[2017-01-13 01:06] pwittrock opened #39833 "Implement `kubectl create autoscaler`"
The `kubectl autoscale` command creates and autoscaler, but new creation commands are being standardized as `kubectl create <resource> <name>`.  We should keep the old command, but mirror it either as an alias or new implementation under `kubectl create` so that `kubectl create` is the canonical source for creation commands.

[2017-01-13 01:18] shyamjvs opened #39835 "Client ClusterConfig override should be able to totally neglect any inClusterConfig present already"
Currently, [NewNonInteractiveDeferredLoadingClientConfig](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/clientcmd/merged_client_builder.go#L53) in the `clientcmd` [package](https://github.com/kubernetes/kubernetes/tree/master/pkg/client/unversioned/clientcmd) returns inClusterConfig if present (which is determined based on [whether there is a service account token ava

[2017-01-13 01:25] yujuhong commented on #36482
@dchen1107 @janetkuo, this is the issue we just talked about.

[2017-01-13 01:32] shyamjvs commented on #39835
Assigning you @lavalamp as git blame shows you to be the most relevant :)

[2017-01-13 01:32] lavalamp commented on #39759
OK. really sorry I didn't get to this today. First thing tomorrow.

[2017-01-13 01:32] mikedanese commented on #36482
The DS should eventually observer the node label update and react. The latency should be approximately the latency of the watch. Is that not what you are seeing?

[2017-01-13 01:38] yns-libn commented on #38896
Hi  @MrHohn
Thank you for your reply. Have you used k8s1.5.1's DNS in your cluster? I've tried many times without success

[2017-01-13 01:44] yujuhong commented on #36482
This doesn't involve label update at all. During recovery, there was a race condition where kubelet used its own node object (which lacked the user-added labels) to admit pods, and hence rejected the pods (i.e., pod status set to Failed). After kubelet obtained the up-to-date node object from the apiserver, all new pods were admitted correctly. The question is that does daemonset controller create

[2017-01-13 02:01] Random-Liu commented on #39835
Is there a reason why we always default to in cluster config? Is there a way to disable or override it with something like kubeconfig?

[2017-01-13 02:02] huggsboson commented on #29542
At Box we're hitting an issue like this trying to apply (update an already created one, first time apply works just fine) instances of a thirdpartyresource after upgrading to 1.4.8. I can't tell if #35688 or #38982 will fix this problem for instances of a ThirdPartyResource.

[2017-01-13 02:15] ReneSaenz commented on #39427
@alejandroEsc  How can I direct message you?

[2017-01-13 02:24] k82cn opened #39840 "Failed to kube_cover on Mac"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):
master (SHA 3371766d0afd8b8181b1aacf86e43bb4b3df4a4f)

**What happened**:
[code]

**What you expected to happen**:
Generate code coverage report on Mac

**How to reproduce it** (as minimally and precisely as possible):
[code]

[2017-01-13 02:29] smarterclayton commented on #39835
It's because originally the code had no way to detect the difference between empty config and no config, and also that kubectl originally *required* that we fall back to in cluster config due to backward compatibility.

[2017-01-13 02:40] gdonzy commented on #36627
I have the same error

[2017-01-13 03:10] MrHohn commented on #38896
@yns-libn Yes, we have a set of e2e tests that ensure kube-dns works in 1.5. Have you found any related error message  from kube-dns's logs?

[2017-01-13 03:11] screeley44 opened #39843 "glusterfs provisioner not respecting volumetype parameter on createvolume"
Gluster provisioner has a parameter:

[code]
This should override the default value when a volume is dynamically provisioned, but it doesn't seem to be working, the volume fails on a 2 node cluster and the heketi logs reveal that the hard coded constant value for replicaCount is being used.

[code]

Looks like we are building the volumeDurabilityInfo api object in the parse params but never using

[2017-01-13 03:17] gnufied commented on #39524
@justinsb I think coherent caching model currently will only handle - instance, node information unless we start caching output of things like `describeVolume` etc as well. I feel we may be bit far from a caching model which can keep all these different resources fresh and updated.

cc @kubernetes/sig-storage-misc

[2017-01-13 03:26] gnufied commented on #39766
@arun-gupta can you paste generated bootstrap script. It will be there in master node. I think this may be related to - https://gist.github.com/gnufied/17c931f313668415597d21bcf69a8509

And your master node might be hung in trying to `curl` metadata. I guess - `./kube-up.sh` is kinda broken right now for aws. My suggestion is to use kops for aws deployment.

[2017-01-13 03:26] timstclair opened #39845 "Change seccomp default to 'docker/default'"
Seccomp is currently defaulted to `unconfined` on docker: https://github.com/kubernetes/kubernetes/blob/9a88687e24b81f301377d91e69629b6b15d4ae83/pkg/kubelet/dockertools/docker_manager.go#L120

I believe this is for historical reasons, from https://github.com/kubernetes/kubernetes/pull/21790. However, we now have the ability (albeit alpha) to control seccomp profiles, so we should change the defaul

[2017-01-13 03:28] #34649 closed

[2017-01-13 03:42] rcoh opened #39847 "`kubectl taint` produces title-cased keys"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): taint case lowercase

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-01-13 03:45] gnufied commented on #37854
@svend from logs it looks like volume was already umounted:

[code]

I know you worked around the problem for now, but it would be good to know if the volume was indeed unmounted. I can't tell from output of `ls -l` if listing contains mount points of plain directories.

[2017-01-13 03:55] #39822 closed

[2017-01-13 03:59] cazorla19 opened #39849 "Cannot expose deployment on AWS environment"
**Is this a request for help?** I guess yes, but I didn't find any information to troubleshoot this issue either in docs or in Google Groups.

**What keywords did you search in Kubernetes issues before filing this one?** : kubectl aws cannot expose deployment, service pending ip

**Kubernetes version**: 1.5.1

**Environment**:
- **Cloud provider or hardware configuration**: AWS (EC2 on Auto Scalin

[2017-01-13 04:00] cblecker commented on #39796
If you mean for the `kubectl` utility, yes.
If you pipe `kubectl bash completion` to a file, and place it in your bash-completion folder.

[2017-01-13 04:19] gnufied commented on #37854
I tried reproducing this on master and while I did get:

[code]

It eventually succeeded and pod was correctly moved. The disk stuck in `attaching` state as @bonovoxly  reported looks similar to https://github.com/kubernetes/kubernetes/issues/31891 . But we missed cherry picking this to 1.5.

@bonovoxly is there any chance you can try with latest 1.5 release with https://github.com/kubernetes/kube

[2017-01-13 04:27] chrislovecnm commented on #37854
@gnufied any chance you can write a test :)

[2017-01-13 04:33] gnufied commented on #37854
write a test for what?

[2017-01-13 04:42] chrislovecnm commented on #37854
I mispoke ... comment deleted :)

[2017-01-13 04:46] shiywang commented on #17144
@pwittrock thanks, I wrote some simple experiment code, just simply move the `kubectl describe code` to `kubectl logs` it's prefix based, but will change it, if it's better to use glob or regex, about getting resource in cli there is a [package](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource/builder.go) to do that, do you think I can reuse this [function](https://github.

[2017-01-13 04:47] gnufied commented on #39642
@madhusudancs this is just a test account. I don't have any other load balanced service running in this account.

2 and 3 I need to verify. But I still don't understand why the forwarding-route consists of a target pool of 3 nodes whereas federation-apiserver is running on only one instance. It seems like a oversight?

[2017-01-13 05:17] pwittrock commented on #29542
@AdoHe Are there any updates on the status of this issue?  Would it help to have @ymqytw look into it as well?

[2017-01-13 05:20] liggitt commented on #29542
Isn't the core issue `apply` requiring a go struct to use as a schema?

[2017-01-13 05:20] thockin commented on #39423
@matchstick

I'm not sure why the TargetPools would not be updated - they should be.  Can you send us your project ID by email?

[2017-01-13 05:29] xingzhou commented on #29403
@janetkuo, in my mind, current process is a little bit abnormal to me. As when user finished their editing and close the editor, the background process checked the doc and immediately open the editor again, users may not understand what happened. What i'm suggesting is, as user will use kubectl from command line to edit a resource, it may be of a better process that:

1. User issue `kubectl edit X

[2017-01-13 05:32] IanLewis commented on #36304
@piosz Feel free to create an issue. Would be nice to have some support for it in the API. Currently filtering has to be done client side :-|

[2017-01-13 05:40] ualtinok opened #39856 "[Federation] Updating a deployment on federation with a failed RS, unbalance the RS counts on underlying clusters."
**Kubernetes version** (use `kubectl version`):
1.5.1

**Environment**:
GKE

**What happened**:
Created a deployment with 6 replicas on federation cluster which has 3 underlying kube clusters. Deployment failed due to crash of container and RS stayed on CrashLoopbackOff status. Tried to re apply federation deployment with updated container version. Federation successfully changed the version and r

[2017-01-13 05:41] xingzhou commented on #39833
@pwittrock and @monopole, I'm working on similar command: `kubectl create role`, not sure if you have started the coding now? if not, I can help submit a PR for this command as well.

[2017-01-13 05:42] thockin commented on #39561
Other that StorageClass (which I guess an admin *might* want to remove) I
don't think oneshot is what we want.  Maybe we just want to ensure that an
object exists and if it doesn't, create it with a known base-config.  Is
that sufficient?

On Wed, Jan 11, 2017 at 11:06 PM, Zihong Zheng <notifications@github.com>
wrote:

[2017-01-13 05:45] #21284 closed

[2017-01-13 05:50] pwittrock commented on #29542
@liggitt Yeah, the struct is used for the tags determining how to merge list fields.  Is it used for anything else?  WDYT of simply choosing defaults for the values we would get from the structs for TPRs?   e.g. always assume `replace` strategy for lists in TPRs.

[2017-01-13 06:42] rokka-n commented on #29298
2017. Still the same problem with public ELB routing to instances in private subnets.

But no worries, kubernetes is built upon 15 years of experience of running production workloads at Google. Amazon will fix their ELBs sometimes soon.

[2017-01-13 07:01] keith4743 commented on #39796
@cblecker thanx, I have found the guide.

https://kubernetes.io/docs/user-guide/kubectl/kubectl_completion/

[2017-01-13 07:01] #39796 closed

[2017-01-13 07:24] barnsnake351 commented on #37854
@chrislovecnm kernel version is `4.4.0-57-generic` from `ami-b2d463d2 (us-west-2, hvm:ebs-ssd, 20161221)`. We are using m4 instance types, m4.large for the controllers and m4.large/m4.xlarge for the worker nodes. We have seen this error on both the m4.large and m4.xlarge instance types. We should be able to reproduce this tomorrow and gather the logs requested. This is still officially a test clus

[2017-01-13 07:24] k82cn commented on #39840
/cc @ConnorDoyle

[2017-01-13 07:39] #30218 closed

[2017-01-13 07:40] humblec commented on #38192
+1. If we are placing this in 'SC', is it going to be a mandatory  or optional field ?  If optional, is it the plan to make 'delete' as default value ?

[2017-01-13 07:43] humblec commented on #37801
+1 for SC parameter option .

[2017-01-13 07:45] ConnorDoyle commented on #39840
@k82cn does it work for you prior to this commit? https://github.com/kubernetes/kubernetes/commit/a672b501dfa764d343c3fa6cf6520f0f73777ec5

There may be an escaping issue, currently on mobile and unable to verify that hypothesis.

[2017-01-13 07:46] jeffvance commented on #38192
Wouldn't it be safer, if there is to be a default reclaimPolicy, to make it "Retain" so as not to inadvertantly delete customer data?

[2017-01-13 08:08] k82cn commented on #39840
@ConnorDoyle , just create PR to fix that, PTAL. That should be a typo: some `\` missed for `${_pkg}` in embedded script.

[2017-01-13 08:11] alejandroEsc commented on #39427
@ReneSaenz didnt see this till now, felt bad i had not kept up on this so i decided to just push through it. If my email is not available in my profile, please let me know, otherwise jaescobar.cell AT gmail would be the best way to contact me.

[2017-01-13 08:27] ligc commented on #38337
HI, we ran into this issue on SLES 12 nodes, and the patch dc8b6cc996ecacf8854871bd31f73afbb3ad95c1 does fix the issue, thanks, any plan on integrating the patch to Kubernetes?

[2017-01-13 08:44] JorritSalverda commented on #39423
@thockin I've mailed you the project ids.

I'm not sure whether the slow updates are only cosmetic of nature in the web console, but the logs seem to indicate it takes a long time as well.

However we do not see any of the inbound request fail when shrinking a cluster although the automatically created network load balancers don't utilize a health check, so I would expect 1 out so many request to

[2017-01-13 08:53] JorritSalverda commented on #39792
So far we hardly use ingress because of a number of reasons.

- The health checks used by the L7 load balancer put a lot of load on our applications, scaling linearly with the number of nodes in a cluster. At least when we last looked at it.
- Ingress is L7 instead of L4; we currently do TLS termination in a sidecar container. So we don't really need L7, because it forces us to set the certificate

[2017-01-13 08:56] itskingori commented on #3595
This issue currently makes it impossible to run Elasticsearch on Kubernetes [without performance degradation][1]. 😰

[code]

[1]: https://www.elastic.co/guide/en/elasticsearch/reference/2.4/setup-configuration.html#setup-configuration-memory

[2017-01-13 09:04] luxas commented on #38067
Now things are happening with this when go1.8rc1 was released:

Regarding s390x, @ixdy said this in https://github.com/kubernetes/kubernetes/pull/36050#issuecomment-272007705:

Pushed:

I and @bowei will look into the DNS images soon I guess.
@ixdy will be able to push the etcd image when #38926 is merged.
hyperkube will be released with the first 1.6 alpha automatically
Yes, kube-discovery has a

[2017-01-13 09:07] itskingori commented on #3595
We've kinda gotten around this by editing the ENTRYPOINT script available in the official Elasticsearch Docker image.

Setting this at the top ...

[code]

... gives us ...

[code]

[2017-01-13 09:13] piosz commented on #37453
Ok, so I'm closing this issue.

[2017-01-13 09:13] #37453 closed

[2017-01-13 09:30] huanxijiuhao commented on #37922
same issue here

[2017-01-13 09:41] dmrub commented on #38337
I created pull request, but still need to sign CLA.

[2017-01-13 10:03] Crassirostris commented on #38495
@daniilyar Thanks! I know about this mechanism, there're several things to consider, including:

* Json logging drivers are specific for docker, are using their own format and are not compatible with other runtimes
* AFAIK, those settings are set globally for the docker daemon, not per container run

Currently we're looking into details, I hope we will soon have some vision about this problem, exp

[2017-01-13 10:03] Crassirostris commented on #38495
Related issue: https://github.com/kubernetes/kubernetes/issues/15478

[2017-01-13 10:31] pawelprazak commented on #21397
Is there an ETA on this?

BTW, as a workaround I implemented a simple AWS Lambda with boto3 and CloudWatch Events triggering it on AddTag event.

[2017-01-13 10:44] bogdando commented on #12245
@bgrant0607 thanks for the links, I will take a look. Note, the runtime flags vs config files bring less corner cases to handle when doing checlpointing, that was my main concern. Also, systemd unit files looks like portable well enough as supported by all modern OS types, don't they?

[2017-01-13 10:47] bogdando commented on #27980
Cross linked as it's related to kubelet config changes https://github.com/kubernetes/kubernetes/issues/12245#issuecomment-270075340

[2017-01-13 10:58] gmarek opened #39863 "Cluster startup failed while looking for KUBE_BEARER_TOKEN"
I saw this on one of our GKE tests that run from head. Full dump below:
[code]

cc @kubernetes/sig-cluster-lifecycle-misc @roberthbailey @mikedanese

[2017-01-13 11:14] andrejvanderzee opened #39864 "Convert *extensions.Deployment to *v1beta1.Deployment fails (Kubernetes client-go)"
With the Kubernetes client-go, how can I use Convert() for *extensions.Deployment to *v1beta1.Deployment? When I run the program below I get this error:

2017/01/12 22:40:42 failed to convert: converting (extensions.Deployment).CreationTimestamp.Time.sec to (v1beta1.Deployment).CreationTimestamp.Time.sec: Cannot set dest. (Tried to deep copy something with unexported fields?)

[code]

I would expe

[2017-01-13 11:16] kargakis commented on #39833
Is there a plan to deprecate the first generation of generator commands like `expose`, `run`, and `autoscale` in favor of `create` subcommands? Also, I guess if we are going to do this, it will be `kubectl create hpa` since `autoscaler` is not a thing for the kube restmapper.

cc: @kubernetes/sig-cli-misc

[2017-01-13 11:24] kargakis commented on #39864
@kubernetes/sig-api-machinery-misc probably not related to this issue but is client-go using standard generated conversions or does it also take into account custom conversions?

[2017-01-13 11:31] kargakis opened #39865 "Review custom conversions and document why each one is needed"
Custom conversions can end up rotting and bite us hard. Especially as our apis evolve, some may become obsolete and there is no clear way to maintain them apart from having deep knowledge of the code.

For example, it's not clear to me even though I have been developing part of the Deployment and ReplicaSet apis why do we need the conversions in https://github.com/kubernetes/kubernetes/blob/master

[2017-01-13 11:34] andrejvanderzee commented on #39864
I think there is a Scheme mixup (either by me or client-go). If I add the generated function myself to the scheme, it works:

`s.AddGeneratedConversionFuncs(v1.Convert_api_Service_To_v1_Service)`

[2017-01-13 12:11] jsravn commented on #21397
@deitch controller manages an nginx instance which does virtual host routing. Can be scaled horizontally by attaching more to the single ELB.

[2017-01-13 12:15] davidcomeyne opened #39866 "Kubelet won't start > cannot open store: Error"
Hi all,

I searched Google and a lot of forums for an answer but I can't seem to find one. The problem is that my kubelet on a kubernetes-minion will not start.
$ systemctl start kubelet

I'm not really sure if it is a bug or just some misconfig from my part, but here it is:

**Kubernetes version**:
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4", GitCommit:"3b417cc4ccd1b8f3

[2017-01-13 12:17] deitch commented on #21397
@jsravn

ingress controller creates and manages one or more nginx instances that act as app load balancers in front of the service? But those, in turn, need routable IPs. Are those fronted by ELB?

[2017-01-13 12:19] jsravn commented on #21397
@deitch yep ELB is the front-end.

[2017-01-13 12:24] deitch commented on #21397
So traffic flows Internet --> ELB --> nginx --> pods?

1. What do you gain by having nginx in here as opposed to ELB --> pods ? Is it just that k8s does a better job controlling nginx with an ingress controller, as opposed to trying to manage ELB directly?
2. How do you have ELB configured to talk to nginx?
3. Do you gain any benefits over NodePort if it is talking to nginx anyways?

Put it anothe

[2017-01-13 12:27] shyamjvs commented on #39835
cc @gmarek

[2017-01-13 12:39] Crassirostris commented on #39041
Whoops, sorry, accidentally closed

[2017-01-13 12:50] jamstar commented on #39026
im not using kubeadm but i am getting something very similar.
when i trey to exec into anything, i get the following.
Error from server: error dialing backend: dial tcp: lookup node-2 on 10.0.2.3:53: server misbehaving

[2017-01-13 12:55] ZhenyangZhao commented on #39026
@jamstar  i have solved this problem. my mistake. Your issue is hostname can not been resolved by kubernetes.You can try to configure /etc/hosts(ip hostanme).After that can solved your problem.

[2017-01-13 12:55] #39026 closed

[2017-01-13 12:55] humblec commented on #39345
Thanks. Let me give a try. 👍

[2017-01-13 13:19] deads2k commented on #39865
I agree that custom conversions (especially unnecessary ones) can make the code more complicated, but I don't think we can resolve the problem by trying to factor them out.  If you are going to have a hubbed conversion strategy, then only one of the external versions can match the hub.  All the others will have custom conversion logic to wire them together.

So I think that rather than trying to e

[2017-01-13 13:21] deads2k commented on #39864
The scheme in client-go is stuck in an in-between state.  The staging-client-go update script isn't verified (we'll need to fix that), so it got left out of a recent refactor.  I've got https://github.com/kubernetes/kubernetes/pull/39807 in progress to try to fix it and re-collapse us.

[2017-01-13 13:24] fabiand commented on #39345
Could this actually be an dupe of #21306 ?

[2017-01-13 13:31] shyamjvs commented on #39835
Good news, there's a way to solve this problem in kubemark, which is by mouting an empty directory at the location `/var/run/secrets/kubernetes.io/serviceaccount` inside the container thus fooling the container's inClusterConfig logic. Figured it out from this related issue [#16779](https://github.com/kubernetes/kubernetes/issues/16779). And there seems to be an ongoing effort (PR [#37953](https:/

[2017-01-13 13:35] shyamjvs commented on #39835
Ref issues [#39245](https://github.com/kubernetes/kubernetes/issues/39245) and [kubernetes/node-problem-detector/#73](https://github.com/kubernetes/node-problem-detector/issues/73).

[2017-01-13 13:35] shyamjvs commented on #16779
+1 for this feature request

[2017-01-13 13:39] liggitt commented on #39835
If you want to load a specific kubeconfig file and not fallback to in-cluster-config, that's already possible. See https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/bootstrap.go#L149 as an example

[2017-01-13 13:43] andrejvanderzee commented on #39864
@deads2k Thanks for the update. Will this also fix the conversion of ObjectMeta for Deployments? For Services it is done correctly with a custom generated functions for CreationTimestamp.

[2017-01-13 13:46] deads2k commented on #39864
I'm uncertain.  I don't know for sure that it will be sufficient, but I do suspect that my change is necessary.

[2017-01-13 13:51] shyamjvs commented on #39835
@liggitt That sounds perfect. Thanks for pointing to this :)

[2017-01-13 13:51] #39835 closed

[2017-01-13 14:01] timothysc commented on #39863
There were a bunch of changes in this area recently that also affected 1 of my PRs.

/cc @ixdy @deads2k

[2017-01-13 14:30] pmbethe09 commented on #39819
I don't see either -pie or -r in the copts inside http://github.com/bazelbuild/rules_go or the line in the error
https://github.com/kubernetes/kubernetes/blob/master/vendor/BUILD#L5165

So I would guess it has to do with the crosstool configuration?

[2017-01-13 14:53] fuzzyhandle commented on #39282
Ubuntu released a new image for xenial a few weeks back.

I am using

Linux hddevbox1 4.4.0-57-generic #78-Ubuntu SMP Fri Dec 9 23:50:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
You will also need to install aufs-tools package inside lxc is you are using aufs as storage backend. this package provides the auplink command to enable docker to mount rootsfs.

I still don't have a working pod, and the e

[2017-01-13 14:53] arun-gupta commented on #39766
`kube-up.sh` is getting deprecated anyway https://github.com/kubernetes/kubernetes/pull/38772. I removed the cluster already. Is it worth starting it again and sharing the logs? :)

[2017-01-13 14:57] damienmg commented on #39819
We will had a test and fix that in Bazel for the incoming release.

On Fri, Jan 13, 2017 at 3:30 PM Paul Bethe <notifications@github.com> wrote:

[2017-01-13 15:08] deads2k commented on #39863
@liggitt

[2017-01-13 15:11] deads2k commented on #39758
I see the API server config as things like
 1. admission chain
 1. authenticator and authorizer configuration
 1. service CIDR range
 1. cloud provider configuration
 1. log level

Those are managed by config to the process and it seems that log level is far less privileged than the rest.

[2017-01-13 15:12] justinsb commented on #39819
Thanks for looking at it!  I don't know if this is helpful at this point, but I ran `bazel build -s //...` and it appears that `-pie` is not explicitly passed (see below); so I believe stetch enables it automatically.  I tried passing `-no-pie` manually to the clinkoptions but didn't have a lot of success.

[code]

[2017-01-13 15:15] sergeyfd commented on #29330
Still same issue in 1.5.1

[2017-01-13 15:20] deads2k opened #39868 "go4.org down failing verify-godeps.sh"
The submit queue seems to be stuck because we can't download this `go4.org/errorutil`

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/1887

It's been down a while (10 hours since last merge).  Is there any reasonable way to skip that particular godep in the script and unblock our queue until it recovers?

@kubernetes/test-infra-maintainers @kub

[2017-01-13 15:45] rrati opened #39870 "Federation build/deploy too dependent on google cloud"
**Kubernetes version** (use `kubectl version`):
master

**What happened**:
Attempting to build and deploy the federation images from the repo is heavily dependent upon google cloud.

**What you expected to happen**:
More flexibility in the build/deploy methods

**How to reproduce it** (as minimally and precisely as possible):
Follow http://kubernetes.io/docs/admin/federation/

[2017-01-13 15:51] timothysc commented on #39870
/cc @kubernetes/sig-federation-misc

[2017-01-13 16:03] das-vinculum opened #39872 "cronjob reapply fails with kubectl v 1.5.1 and v 1.5.2 against a v 1.5.1 cluster"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
* kubectl, apply cronjob
* cronjob, reapply

---

**BUG REPORT**:
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS using CoreOS
- **OS** (e.g. from /etc/os-release): Mac OS 10.1

[2017-01-13 16:43] k8s-merge-robot opened #39873 "TearDown Previous {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/1746/
Failed: TearDown Previous {e2e.go}

[code]

[2017-01-13 16:44] k8s-merge-robot opened #39874 "ci-kubernetes-e2e-gci-gce-examples: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-examples/1742/
Multiple broken tests:

Failed: [k8s.io] [Feature:Example] [k8s.io] Cassandra should create and scale cassandra {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27978 #28817

Failed: [k8s.io] [Feature:Example] [k8s.io] RethinkDB should create and stop rethinkdb servers {Kub

[2017-01-13 16:44] k8s-merge-robot opened #39875 "ci-kubernetes-e2e-gci-gce-reboot-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot-release-1.5/2319/
Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33407

Failed: [k8s.io] Reboot [Disruptive] [Fea

[2017-01-13 16:50] k8s-merge-robot opened #39877 "Test {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gke-gci-test/337/
Failed: Test {e2e.go}

[code]

Previous issues for this test: #33361 #39788

[2017-01-13 16:51] k8s-merge-robot opened #39878 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-federation/972/
Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895 #39209 #39790

[2017-01-13 16:51] k8s-merge-robot opened #39879 "[k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-release-1.5/3341/
Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]

Previous issues for this test: #26509 #26834 #29780 #35355

[2017-01-13 16:52] k8s-merge-robot opened #39880 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-1.5-test/207/
Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26784 #28384 #33023

[2017-01-13 17:04] #39877 closed

[2017-01-13 17:04] #39878 closed

[2017-01-13 17:04] derekwaynecarr commented on #39818
basically, this means for many classes of workloads, you would have to have a `PodAffinity` that matched each toleration.  I could see this being a pain-point.  Maybe we need something akin to ServiceInjectionPolicy for Tolerations/PodAffinity/PodAntiAffinity that can cover a label selected group of pods and apply defaults so users do not need to muck with each pod spec.

[2017-01-13 17:14] robertlemke opened #39881 "init-containers: Deployment in version "v1beta1" cannot be handled as a Deployment"
**Is this a request for help?**:
_no_

**What keywords did you search in Kubernetes issues before filing this one?**:
_init-containers, init container, deployment_

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):

_**Client Version**: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.6", GitCommit:"e569a27d02001e343cb680

[2017-01-13 17:14] #39873 closed

[2017-01-13 17:16] jsravn commented on #36589
This issue was fixed for me in https://github.com/kubernetes/kubernetes/issues/33203

[2017-01-13 17:22] liggitt commented on #39847
are you sure you have your versions correct? the referenced commit is not in 1.6

[2017-01-13 17:32] adaughterson commented on #36575
--pod-network-cidr=<CIDR> worked for me.

Thanks!

[2017-01-13 17:35] liamawhite commented on #39622
Looking through the master branch, with current code this error message currently reads as follows:
[code]

I think other than maybe changing the last sentence from 'is' to 'was' this covers the issue. Would you agree?

[2017-01-13 17:35] n-rook commented on #39427
Thanks!

[2017-01-13 17:40] rcoh commented on #39847
Server that displays the expected behavior:
[code]

Server that displays *unexpected* behavior:
[code]

[2017-01-13 17:44] liggitt commented on #39847
the annotation is built client-side. are you using a kubectl built from master?

[2017-01-13 17:47] aveshagarwal commented on #39818
@jeremyeder One work around (or whatever you may call it), that is possible is that to taint all non-special/general nodes with a default taint and all non-special/general pods get similar toleration. That would kind of partition nodes into special and general nodes. This would ensure that general pods get to schedule only on general nodes and special pods get to schedule on special nodes.

[2017-01-13 17:52] chrislovecnm commented on #39647
We need to possibly do a spike assessing the patterns mentioned here as well:

https://aws.amazon.com/blogs/compute/monitor-cluster-state-with-amazon-ecs-event-stream/

[2017-01-13 17:54] #39874 closed

[2017-01-13 17:54] #39875 closed

[2017-01-13 18:02] pwittrock commented on #17144
I'd start with `get` and `describe` then figure out what do for the others.  `exec` might be ok, but not if attaching (-t -i), or can have only exactly 1 match when attaching.  Similar for edit. Logs can take a container as an argument, so we would need to make sure that was handled correctly.

[2017-01-13 18:02] chrislovecnm commented on #39647
Specifically, we need to determine if there is value to tie AWS cloud provider, and API calls, into the Cloudwatch Event stream.  From that stream, we can pickup events such as EBS mounts and unmounts.  The main design question what is the latency and tolerance around this event service.

[2017-01-13 18:03] pwittrock commented on #39879
@kubernetes/sig-apps-misc

[2017-01-13 18:04] chrislovecnm commented on #39647
One answer that I have received in regards to that question:

[2017-01-13 18:05] cphrmky commented on #27876
If you'd rather stick with bash on OS X it's pretty easy to update.

http://apple.stackexchange.com/questions/193411/update-bash-to-version-4-0-on-osx

[2017-01-13 18:06] MrHohn commented on #39561
Ensure exist sounds good. What about two classes: one that reconcile, the other ensure exist?

[2017-01-13 18:06] deads2k commented on #39868
I think https://github.com/appc/spec/pull/682 will resolve the issue after its merged and we bump.

[2017-01-13 18:07] andronat commented on #39048
I'm terribly sorry, I was on holidays. Can someone re-invite me back as a member to the org?

[2017-01-13 18:14] bgrant0607 commented on #39048
@andronat Done.

[2017-01-13 18:14] #39048 closed

[2017-01-13 18:16] andronat commented on #39048
@bgrant0607 thanks!

[2017-01-13 18:21] euank commented on #39868
go4.org hasn't been the most reliable source it looks like. There was also #25979

[2017-01-13 18:23] razvanphp commented on #27876
I think that's not the point, the idea is to have the bug fixed, it says nowhere that bash 3 is not supported.

CC: @girishkalele can we please reopen this?

[2017-01-13 18:25] k8s-merge-robot opened #39885 "ci-kubernetes-e2e-gci-gke-prod: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod/214/
Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if not matching {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27655 #33876

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPod Affinity and

[2017-01-13 18:26] eparis commented on #39868
https://github.com/kubernetes/kubernetes/pull/39884 should hopefully get us running again while we work through changing appc/spec and updating out godep...

[2017-01-13 18:28] bgrant0607 commented on #37048
I'd be on board with adding an option to create to ignore "already exists" errors, much like delete can ignore "doesn't exist" errors, but it's not clear to me that this is the best solution for the add-on manager. Perhaps we're missing some APIs, or missing some automation, or the components should read resources directly from the API, or we should create a "break glass" model that hands ownershi

[2017-01-13 18:29] bgrant0607 commented on #37048
But if someone really wanted to do this, it would be trivial to parameterize the apply annotation, which would enable multiple appliers.

[2017-01-13 18:32] bgrant0607 commented on #37048
@MrHohn If data is replaced rather than merged, that's just a bug.

cc @pwittrock

[2017-01-13 18:33] euank commented on #39868
go4.org is back up.

@bradfitz, do you have thoughts on the best solution here?
Should go4.org not mandate canonical import paths so packages like this one (which has no other go4 imports) could be sourced from the [github](https://github.com/camlistore/go4/) import path instead?
Should we use a repo-mirror and Is there a convenient way in Go to mirror a set of repos + hijack `godep save` / `go ge

[2017-01-13 18:38] eparis commented on #39868
honestly I think we should abandon go4 altogether. It is a curated collection of other's work. Which is great. But we're only using one of those "others". So I think we should just go to the source instead of having all this indirection.

[2017-01-13 18:39] ixdy commented on #39819
As a side note, I wonder if we should be using our own `--crosstool_top`. We don't have much cgo code, but it seems like this could be a source of confusion in debugging at some point.

[2017-01-13 18:41] ixdy commented on #39513
Do you need to be building as root?

[2017-01-13 18:43] euank commented on #39868
@eparis personally I'd love if we could abandon godep and use glide, and then the "workaround" for this would be a trivial `repo: https://github.com:camlistore/go4` to avoid hitting the go4 website.

that would also give us a somewhat-sane way to source from mirrors if we needed to in other cases (like googlecode falling over).

The real problem here isn't that we're not using the soruce of packag

[2017-01-13 18:46] ncdc commented on #39868
glide has its own set of issues, just as godep does. govendor looks more promising to me, or whatever tool ends up coming out of the official go dependency management spec that's being worked on.

[2017-01-13 18:46] bradfitz commented on #39868
@eparis, I don't understand. What are you proposing?

Why doesn't Kubernetes check in its dependencies? Depending on the network seems irresponsible and lazy.

[2017-01-13 18:48] euank commented on #39868
@bradfitz we do check in our dependencies, but we also verify that the files in the godep folder match the Godeps.json and that no changes from the referenced commits were introduced therein.

[2017-01-13 18:49] bgrant0607 commented on #23085
cc @viglesiasce

[2017-01-13 18:53] eparis commented on #39868
It also prevents people from manually making changes by hand in `vendor/` which they didn't actually send through the upstream. That used to happen and developers attempted to be expedient, only to have the problem re-emerge the next time someone bumped a vendor'd file.

[2017-01-13 18:55] bradfitz commented on #39868
Okay, but is that a different CI config/column? Or do any dependency network problems affect your main build? I'd make that build config be an async thing and not block day-to-day development.

My bad for letting go4.org break (new credit card expiration date broke billing), but that shouldn't impact the submit queue.

I'd make the "checked-in-vendor-source-matches-network" validation be its own b

[2017-01-13 18:58] ncdc commented on #39868
Good point - why do we have `hack/verify-godeps.sh` as a queue blocker? Can't we just ensure that each PR that touches Godeps.json and/or vendor doesn't break things?

[2017-01-13 19:05] mikedanese commented on #39819
@ixdy we will probably need to maintain a crosstool for our various cross compilation needs anyway.

[2017-01-13 19:14] mikedanese commented on #39819
This is easily reproduced with:
[code]

[2017-01-13 19:19] eparis commented on #39868
Because tests which aren't required don't EVER get fixed. (we do already test things that make changes on a per-PR basis)

[2017-01-13 19:21] ncdc commented on #39868
I would disagree in this case. The next person to bump a Godep would find it broken (if it were).

[2017-01-13 19:27] ixdy commented on #39868
@ncdc @eparis for PRs we only run the godep checks if godeps are affected.
For CI we run the godep checks continuously, so that we don't suddenly discover breakages the next time someone touches godeps.

It might be worth pulling out the CI godep checks into a non-blocking build, though.

[2017-01-13 19:28] bgrant0607 commented on #20473
cc @viglesiasce

[2017-01-13 19:29] ncdc commented on #39868
If we do that, I agree @eparis is likely correct that nobody would notice and nobody would fix. I'm suggesting we only ever test godep per PR, if said PR touches it.

[2017-01-13 19:31] ixdy commented on #39868
@ncdc I'm pretty we do that, but I haven't checked recently.

[2017-01-13 19:31] eparis commented on #39868
@ncdc I'd feel really sorry for the poor dev that just wants to update a godep and has to deal with 6 months of random breakage from other upstreams :-(

[2017-01-13 19:34] ncdc commented on #39868
My complaint is actually about transient flakes that result in `hack/verify-godeps.sh` failing, which means the entire queue is blocked. If we could recognize these transient flakes and not block the queue, I would be happy.

[2017-01-13 19:34] bradfitz commented on #39868
I like the idea of having `hack/verify-godeps.sh` only run if the PR touches a godep file or vendor/** file, but otherwise making it required.

[2017-01-13 19:35] eparis commented on #39868
@ncdc but when the don't block they don't get fixed. So they are going to build until the poor guy comes along and touches godep. Then he's going to have a bunch of other things he has to do before he can do his job. I get it, we'll live, I just feel sorry for whomever that is.

[2017-01-13 19:37] bradfitz commented on #39868
@eparis, but what if they only block the queue for PRs that touch that part of the world, but for people hacking outside of the vendor tree or godep file(s), it doesn't ever run or block people?

[2017-01-13 19:37] ncdc commented on #39868
I don't think it's fair that the community/queue be penalized when there is a flake verifying godeps. If it's a flake (e.g. couldn't connect to host x), there's often nothing we can do until the cause of the flake is resolved externally.

[2017-01-13 19:41] mikedanese commented on #39819
I believe I figured it out. As part of the GCC 6 release notes, they mention a new gcc compile time option --enable-default-pie which enables pie by default. Appearantly it's a more secure default.

https://gcc.gnu.org/gcc-6/changes.html

Passing `-no-pie` to the failing GCC command fixes this issue.

[2017-01-13 19:47] alejandroEsc commented on #39427
@n-rook here is a few samples:

[code]
[code]

[2017-01-13 19:51] TamalSaha commented on #33470
PR is merged now. Closing. Thanks everyone!

[2017-01-13 19:51] #33470 closed

[2017-01-13 19:57] msau42 commented on #39561
That sounds acceptable.  We mainly need:

1. A way to be able to change the default-class annotation
2. That change should persist across upgrades

I think it is ok if the deletion case is not supported.  Changing the default-class is sufficient to get the behavior we want.