[2017-06-23 02:35] dminkovsky commented on #47937
Thank you for reproducing. Or, well, trying.

That's fascinating because that's not what I get. I just re-verified my installation:

[code]
but still

[code]

Why is the first line in your details view `apiVersion: extensions/v1beta1`?

Also, how do you get that details view? is that `kubectl describe`? or `get` with some flag?

[2017-06-23 02:46] dminkovsky commented on #47937
I just fixed it. I deleted `~/.kube/schema` and `~/kube/cache`. Not sure which of these did the trick. Wish I had done one at a time. But now:

[code]

[2017-06-23 02:48] dchen1107 commented on #47899
@smarterclayton those oom events are from NPD, not from kubelet. It is very easy to config NPD to ignore oom issue. It is configurable through config file. But the root cause of our current problem is https://github.com/kubernetes/kubernetes/issues/47865#issuecomment-310550298

[2017-06-23 02:52] dminkovsky commented on #47937
Okay the culprit was `~/.kube/schema`. I straight up deleted `~/.kube/cache` but actually just renamed `~/kube/.schema`. Upon `kubectl create` it was regenerated, containing only a folder for 1.6.4. I deleted that folder a restored my previous (problematic) version, which looks like:

[code]

With this version of `~/.kube/schema` in place,

[code]

But:

[code]

[2017-06-23 02:55] shyamjvs commented on #47865
@dchen1107 Thanks a lot for the detailed update!

[2017-06-23 03:00] aukan commented on #43179
+1

[2017-06-23 03:09] dminkovsky commented on #47937
Posted to SO so that perhaps others might benefit from this experience https://stackoverflow.com/q/44712446/741970

[2017-06-23 03:25] timothysc opened #47943 "Image gc using overlay2 on fedora 26 appears broken."
**What happened**:
Everything was running fine until image layers filled up all the free space for overlay2 and the kubelet died and tore down my masters.

**What you expected to happen**:
It not to blow up my master

**How to reproduce it (as minimally and precisely as possible)**:
Have a reasonably small sized partition, fill it up with images by doing builds.  Doing a ```make release``` is a ni

[2017-06-23 03:26] #1801 closed

[2017-06-23 03:26] #47296 closed

[2017-06-23 03:42] rajasaur commented on #13585
Yeah, been seeing the same with

[code]

As @snstanton  mentioned, if I resize the terminal it picks up the right values, but if not, it defaults $COLUMNS to 80

[2017-06-23 03:54] shyamjvs commented on #47865
FYI, I've uploaded the logs for the current run of gce-enormous-cluster to gcs (available [here](http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-enormous-cluster/7/artifacts)) and brought down the cluster. Re-kicked a new job with services and ip-masq-agent disabled this time. Let's see how much this helps.

[2017-06-23 04:33] #11710 closed

[2017-06-23 04:33] #45387 closed

[2017-06-23 04:33] #46894 closed

[2017-06-23 04:33] #39374 closed

[2017-06-23 05:44] pinkencryption commented on #27000
I would like to request to prioritize this. It is important to isolate IO to run pods properly to include database storage etc.

[2017-06-23 05:44] pinkencryption commented on #27000
This might also help run a system like hadoop without affecting the node health

[2017-06-23 06:46] piosz commented on #41159
@weaseal what is your Heapster configuration? Did you change [metric_resolution](https://github.com/kubernetes/heapster/blob/master/metrics/options/options.go#L70) flag there?

[2017-06-23 06:55] dchen1107 commented on #47920
@pwittrock I couldn't find any information / document related to this, and not sure how we handle it in previous release. But we need to figure out how to do this. Thanks!

[2017-06-23 07:07] nils2504 opened #47949 "k8s garbage collector not working caused by 'cfq'"
**BUG REPORT**:

**What happened**:
Kubernetes nodes doesn't have any space left on disk and cluster gets stuck.
Garbage Collector doesn't clean up old docker images.

**What you expected to happen**:
garbage Collector should clean up unused docker images.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Running docker cleanup on images delete

[2017-06-23 07:19] ixdy commented on #47920
It's not really bundled, but for a given "official" version you can browse `gs://kubernetes-release/release/$version` (e.g. http://gcsweb.k8s.io/gcs/kubernetes-release/release/v1.6.6 for v1.6.6) and find all of the binary artifacts (including kubectl and e2e tests) there.

If you download `kubernetes.tar.gz` from here and extract it, and then run `kubernetes/cluster/get-kube-binaries.sh`, it'll do

[2017-06-23 07:20] ixdy commented on #47920
but no, there isn't a `gcr.io/google-containers/kubernetes-e2e:v1.6.6` which would run correctly versioned tests or anything like that.

[2017-06-23 07:21] xiangpengzhao commented on #30781
/sig api-machinery

[2017-06-23 07:22] xiangpengzhao commented on #30781
ref: https://github.com/kubernetes/kubernetes/issues/34508

[2017-06-23 07:24] xiangpengzhao commented on #30656
/sig cli

[2017-06-23 07:25] xiangpengzhao commented on #30518
/sig aws

[2017-06-23 07:26] xiangpengzhao commented on #32412
/sig network

[2017-06-23 07:27] xiangpengzhao commented on #32338
/sig testing

[2017-06-23 07:39] gmarek commented on #29597
/sig cluster-lifecycle

[2017-06-23 07:40] gmarek commented on #29568
Obsolete.

[2017-06-23 07:40] #29568 closed

[2017-06-23 07:55] kargakis commented on #47937
That's because `kubectl get deploy` implicitly means `kubectl get deploy.extensions` and we are able to access a deployment by using both api groups.

Purely markdown on Github. You need to add a `<details>` HTML tag and close it of course.

Glad you found the root cause, closing this issue.

[2017-06-23 07:56] fgrzadkowski commented on #23942
We should close it.

For reading metrics (either CPU, mem or custome) we will be using master metric API or custom metrics API, which will be exposed using kube-aggregator. This FR is obsolete.

[2017-06-23 07:56] #23942 closed

[2017-06-23 07:59] kargakis commented on #47937
Actually, @fabianofranz @kubernetes/sig-cli-misc is there anything that can be done by our side regarding stale schemas in clients?

[2017-06-23 08:01] k82cn commented on #47943
/cc

[2017-06-23 08:01] k82cn commented on #47933
/cc

[2017-06-23 08:03] gmarek opened #47954 "http2-based scale test failure"
Last kubemark-scale [test](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/482) failed with an error:
[code]

We make test more resilient to such errors, but first I'd like to know if we should (i.e. do we expect such errors to occur). @kubernetes/sig-api-machinery-misc @timothysc @smarterclayton @kubernetes/sig-scalability-misc

[2017-06-23 08:07] gmarek commented on #47865
@shyamjvs started test ~10 PM PDT (thanks a lot!), Load test should finish in ~12h, i.e. Friday 10 am PDT.

[2017-06-23 08:17] #26369 closed

[2017-06-23 08:20] ivan4th commented on #47666
I'll try DIND on CentOS 7 too & see what's going on there.

[2017-06-23 08:20] mikedanese commented on #29480
No intention of making this happen in gce kube up

[2017-06-23 08:21] fgimenez commented on #42086
Failed again https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47593/pull-kubernetes-e2e-gce-etcd3/37311/

[2017-06-23 08:24] kargakis commented on #27997
Not sure this was ever fixed

[2017-06-23 08:58] entropia1 commented on #47838
I can confirm that the new weave-npc version fixes the issue.

[2017-06-23 09:14] mikedanese commented on #27997
Do you want to fix the operator error mentioned here: https://github.com/kubernetes/kubernetes/issues/27997#issuecomment-228232834 ?

[2017-06-23 09:16] mikedanese commented on #26545
Those pages don't exist anymore.

[2017-06-23 09:16] #26545 closed

[2017-06-23 09:18] kargakis commented on #27997
We can identify failures and ratelimit the culprits. This is the same problem as when you specify a Deployment with a bad node selector.

[2017-06-23 09:59] #46791 closed

[2017-06-23 10:20] stijndehaes opened #47956 "Unable to mount volumes for pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
My cassandra pod could not connect to it's persistent volume.

**What you expected to happen**:
My cassandra pod connects to it's persistent volume

**How to reproduce it (as minimally and precisely as possible)**:
After deleting the node it was impossible to reproduce. It happens sporadically again.

**Anything else we ne

[2017-06-23 10:22] erikbgithub commented on #47838
Thanks everybody for the help!

[2017-06-23 10:22] #47838 closed

[2017-06-23 10:38] tnozicka commented on #47180
Ack. (I didn't know we have such repo.)

[2017-06-23 11:03] irfanurrehman commented on #41333
Apologies for not following this up earlier.
The PR relating this issue was merged quite some time back.
Closing this issue as fixed, thus.

[2017-06-23 11:03] #41333 closed

[2017-06-23 11:06] #36902 closed

[2017-06-23 11:13] Steniaz commented on #47956
/sig aws
/sig storage

[2017-06-23 11:36] deads2k commented on #30016
Yes

[2017-06-23 11:36] #30016 closed

[2017-06-23 11:55] mccormd opened #47959 "Pod issues with EBS PersistentVolumeClaim - stuck won't start"
/kind bug

**What happened**:
Starting a new pod reusing a previously created aws ebs dynamically provisioned Persistent Volume fails to attach and start.

Pod Description: -
[code]

Initially the problem seems to be the complaint that the volume is attached to an instance  (when the instance it is attached to is the node required).

I saw these errors in the kublet log..

[code]

Turning up the l

[2017-06-23 11:57] mccormd commented on #47959
/sig aws
/sig storage

[2017-06-23 12:02] mccormd commented on #47959
Trying to delete the replicaset for it to try again comes back with this weird error message: -
[code]

[2017-06-23 12:05] rootfs commented on #29670
/assign @humblec

[2017-06-23 12:08] #47651 closed

[2017-06-23 12:08] #46023 closed

[2017-06-23 12:12] mccormd opened #47960 "Kubectl/API Refusal to delete ReplicaSet"
/kind bug
**What happened**:
Tried to delete a replicaset with a failing container (stuck on a volume mount) and got the following: -

[code]

Looking at the resource looks odd: -
[code]

[code]

**What you expected to happen**:
I was expecting the ReplicaSet to be deleted.

**How to reproduce it (as minimally and precisely as possible)**:

Created with this deployment: -
[code]

**Anything else w

[2017-06-23 12:14] mccormd commented on #47959
/kind bug

[2017-06-23 12:14] deads2k commented on #47941
@eparis @smarterclayton @lavalamp @apelisse @fejta This message from the bot is spamming me with every issue that gets opened without a sig and assigning them to api-machinery.  Granted, I *am* the center the universe, but can we get an updated message that won't do this?

[2017-06-23 12:19] martinmosegaard commented on #2707
A workaround for Elasticsearch until this is fixed is to use command arguments in your Kubernetes deployment spec like so:

[code]

As documented under configuration here:
https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html

[2017-06-23 12:20] mccormd commented on #47960
I see these logs in the controller: -

[code]

[2017-06-23 12:31] jwomeara commented on #46839
Is there anything else I can provide for you to help with this issue?

[2017-06-23 13:04] puja108 commented on #39031
I can confirm this is related to running kubelet inside a docker container.

The solution is easy though, you just need to mount `/dev` as a volume when you start the kubelet/hyperkube container:

`-v /dev:/dev:rw`

[2017-06-23 13:04] #47941 closed

[2017-06-23 13:10] liggitt commented on #47959
cc @caesarxuchao for GC finalizer

[2017-06-23 13:21] liggitt commented on #47960
/assign @caesarxuchao for GC finalizer

[2017-06-23 13:26] liggitt commented on #47937
cached schemas are supposed to have a lifetime of ~5 minutes, iirc

[2017-06-23 13:34] dminkovsky commented on #47937
@kargakis @liggitt just to make sure I was clear: I had 3 schema version folders in `~/.kube/schemas`. My client was version 1.6.4, but until I cleared out the contents of `~/.kube/schemas`, it appeared to be using the wrong schema. Surely that's not right?

[2017-06-23 13:45] soltysh commented on #29698
Most importantly we need to have a [reasonable dynamic and generic client](https://github.com/kubernetes/kubernetes/pull/32523#issuecomment-267050916) for all scale operation. Currently we have `Scale` resource existing in every API group that supports scaling. There should be just one to rule them all :)

[2017-06-23 14:21] #46922 closed

[2017-06-23 14:21] #43322 closed

[2017-06-23 14:47] dhilipkumars commented on #47692
/assign @dchen1107

[2017-06-23 14:47] rrati commented on #46442
@xsgordon Yes, the code change to alter the behavior is pretty simple.  The impact to users and expectations is non-trivial though.  We would want to make sure all cloud providers are in step with whichever direction we head.

[2017-06-23 14:55] crassirostris opened #47963 "Stackdriver event exporter lacks e2e test"

[2017-06-23 15:07] yujuhong commented on #29012
Closing due to age.

[2017-06-23 15:07] #29012 closed

[2017-06-23 15:14] timoreimann commented on #2707
Super quick update: I've started work on this. Should hopefully be able to submit a PR soonish.

[2017-06-23 15:21] gmarek commented on #47865
@dchen1107 - Load test passed. It's highly likely that Density test will pass as well, which means we're golden.

We'll try running those tests with services enabled, but that's not a blocker for release.

[2017-06-23 15:40] dlouzan commented on #9180
@deitch @RiaanLab Might it be the case that you are using this in AWS? I had the same issue and the reason was the ELB in front of the API server, by default it has a 60 seconds timeout. If there's no traffic, the connection will be dropped.

[2017-06-23 15:51] rochdev opened #47965 "Automatic pod rescheduling"
/kind feature

Right now if a node is terminated, its pods are rescheduled on any other available node. However, once a new node is created to replace the failed node, pods are not rescheduled on this node, so in case of a failure of the other node will result in a temporary outage.

For example:

Node N1 has pod P1
Node N2 has pod P2
Node N1 fails
Node N2 has pod P1 and P2
Node N3 is created to r

[2017-06-23 15:55] apelisse commented on #47941
@crimsonfaith91 is working on this.

[2017-06-23 16:01] dchen1107 commented on #47692
@derekwaynecarr I think this is the regression introduced by https://github.com/kubernetes/kubernetes/pull/47462 for 1.7 release. Could you please take a look?

[2017-06-23 16:03] julienchastang opened #47966 "OpenStack: Make Swift Object Store Parameterizable"
@kubernetes/sig-OpenStack-misc

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Currently swift object store has a hard-coded name: `kubernetes`. E.g.,

[code]

**What you expected to happen**:

Make swift object store parameterizable. E.g.,

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]

This defaults to the hard-coded `kubernetes` swift obje

[2017-06-23 16:08] yguo0905 commented on #47865
Here are the resource usage stats for both 1.6.6 and 1.7.0.
https://docs.google.com/spreadsheets/d/1HO3okawImtgbTbvC5SKKl-5a5Y-Bb1u-FIFxO6yvfK4

[2017-06-23 16:08] liggitt opened #47967 "Browser-based API clients cannot authenticate websocket requests"
Browser clients do not have the ability to set an Authorization header programatically on websocket requests. All they have control over is the URL and the websocket subprotocols sent (see https://developer.mozilla.org/en-US/docs/Web/API/WebSocket)

[2017-06-23 16:11] derekwaynecarr commented on #47692
there should be an event per named container.

I am out of office.  @sjenning can you take a look?

[2017-06-23 16:17] derekwaynecarr commented on #47692
/assign @sjenning

[2017-06-23 16:19] derekwaynecarr commented on #47692
We should verify that event counting is actually looking at subobject path as a unique identifier.

[2017-06-23 16:23] timothysc commented on #47920
@ixdy that really needs to be a thing as cluster "Conformance" testing is growing in importance, and will become a imperative in the near future.

I'd gladly pitch in here, but I can't push to gcr.io.

/cc @jbeda

[2017-06-23 16:25] dhilipkumars commented on #47692
@derekwaynecarr wondering how did we miss this is in e2e / node testing ? Are there no tests for scenarios like these?
I would love to help in adding some tests to cover this if someone could point me in suitable place to add cases for these.

[2017-06-23 16:26] shyamjvs commented on #47865
Yup, both load and density test passed, that too with no high-latency requests. List pods 99%ile latency fell all the way from 6s to ~1.5s. Will verify this weekend if just the ip_masq_agent created this mischief or services too.

[2017-06-23 16:30] ericchiang commented on #44875
/cc @kubernetes/sig-network-bugs

This has re-appeared on gci-gke-ingress e2e. Can someone take a look?

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/1702

https://k8s-testgrid.appspot.com/release-master-blocking#gci-gke-ingress

[2017-06-23 16:32] ericchiang commented on #47255
cc @kubernetes/sig-node-bugs

[2017-06-23 16:35] deitch commented on #9180
@dlouzan yes, that was the case indeed. I haven't seen the issue in a while, but as our CD pipeline has matured, we have used it much less, so that is more indicative of lack of usage than lack of problem.

[2017-06-23 16:40] yujuhong commented on #47938
SGTM

[2017-06-23 16:43] dchen1107 commented on #47255
Yes, this is not release blocker. We are going to bump the limit for those tests. Thanks!

[2017-06-23 16:47] yujuhong commented on #47932
/cc @dchen1107 for approval.

[2017-06-23 16:50] dchen1107 commented on #47932
cc/ @kubernetes/sig-cli-bugs cc/ @kubernetes/kubernetes-release-managers

[2017-06-23 16:51] yujuhong commented on #47255
I'll bump the limits for now since it's not a regression.

@pradeepsawlani from the COS team is also investigating this issue.

[2017-06-23 16:54] dchen1107 commented on #47865
@shyamjvs and @gmarek Thanks for the test result. Please share the test result with the service enabled later.

From looking at @yguo0905's data, there is not much change on memory usage footprint for both Kubelet and docker (same 1.11.2 anyway) between 1.6.6 and 1.7.0-beta3.

I am closing the issue and thanks everyone!

[2017-06-23 16:54] #47865 closed

[2017-06-23 16:56] ashic opened #47969 "Make daemonset pod urls available as environment variables"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

It can be useful to be able to hit daemonset pods with http requests from application containers. For example, if we wish to push metrics to the daemonset pod to forward them to something like influxdb. Currently, we can achieve this by specifying a static host port for the daemonset, and then using http://nodename:static-port/ for acce

[2017-06-23 16:57] sjenning commented on #47692
looking now

[2017-06-23 17:01] crimsonfaith91 commented on #47941
@deads2k The reason behind is there is no quote for `@kubernetes/sig-api-machinery-misc`. I will create a PR to quote it.

[2017-06-23 17:05] caesarxuchao commented on #47381
It passed for 35 times in https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-serial-release-1-7, but only passed 4/34 times in https://k8s-testgrid.appspot.com/release-1.7-blocking#gke-serial-release-1-7.

[2017-06-23 17:06] wongma7 opened #47970 ""should not provision a volume in an unmanaged GCE zone" test can be sped up"
This is not very high priority but @copejon @jeffvance I think a faster way to do this test instead of waiting for PVC to timeout is watch for a ProvisioningFailed event on the PVC and check that its reason is ~"invalid zone."~ "kubernetes does not manage zone" Happy to work on a PR at some point if you guys agree

[2017-06-23 17:06] wongma7 commented on #47970
/sig storage

[2017-06-23 17:18] sjenning commented on #47692
So https://github.com/kubernetes/kubernetes/pull/47462 didn't introduce this bug, but it did expose it.

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/record/events_cache.go#L45

`getEventKey()` only keys on event fields that are common at the pod level.  Events generated by different containers in the same pod will yield identical event keys.

This wasn't

[2017-06-23 17:20] sjenning commented on #47692
I think this will fix it

[code]

[2017-06-23 17:24] caesarxuchao opened #47972 "admission/v1alpha1 API should be moved to k8s.io/api"
People writing webhook admission controllers needs import the types.

@lavalamp @whitlockjc WDYT?

[2017-06-23 17:28] taherv commented on #36601
Thanks for the workaround @everett-toews, but some work needs to be done to ensure that workaround actually works when nodes are added to a cluster :(

Looking at it another way, and I'm sure we must have thought about this, why don't we use "exit code of 0" from a daemonset to mean "please dont restart" ? This approach has several advantages :
1. Use plain old DaemonSet object (no customizations

[2017-06-23 17:33] mml commented on #47932
Is it causing a problem?  It does help (a lot) for debugging both in production and e2e test failures.

[2017-06-23 17:35] mml commented on #47932
Oh, wait.  I see.  The info log is going to stdout or stderr instead of to a log file.  Maybe we can detect this  in the flag-printing code and only log the flags if the logs are being sent to a file?

[2017-06-23 17:38] #47963 closed

[2017-06-23 17:38] ixdy commented on #47920
@fejta thoughts on how kubetest can help here?

[2017-06-23 17:44] yvespp commented on #42433
There seem to be two problems that cause this behavior:
1. The ReplicaSet/Deployment Controller seams to completely ignore Pods with status=OutOfcpu. It keeps creating new pods even though the number of desired replicas is reached and doesn't clean up pods with status=OutOfcpu after the Deployment is scaled down.
2. The scheduler ignores the node capacity and binds pods to nodes that don't have th

[2017-06-23 17:48] ixdy commented on #24123
Do we want to try to achieve this for v1.8?
I've got a few PRs out (https://github.com/kubernetes/kubernetes/pull/47939, https://github.com/kubernetes/release/pull/355) to support pushing server components to gcr.io (or any other registry) as part of the normal dev process, not just official releases. I'll follow up with a few changes in test-infra to make sure CI can do this.

The images are tagg

[2017-06-23 17:48] ahawkins commented on #26670
tag all subnets associated with the Cluster, internal/private and
external/public), assigned to the Minions with the same
Name=KubernetesCluster,Value=clusterName tag.

@chrislovecnm is this relevant to kops? (re: https://github.com/kubernetes/kubernetes/issues/26670#issuecomment-283186753)

[2017-06-23 17:51] ahawkins commented on #26670
I've observed something else. My cluster has SG entries for ELBs for services that no longer exist. It seems in my case I'm left with dangling ELBs and (perhaps) thus dangling SG entries.

[2017-06-23 17:55] monopole commented on #47379
So we're going to ignore this in the 15->1.7 tests.

Focus on the __1.6->1.7__ tests.

Seeing new red in these (after some green)

[gce-upgrade-cluster](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gce-upgrade-cluster&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Upgrade%5C%20%5C%5BFeature%5C%3AUpgrade%5C%5D%5C%20%5C%5Bk8s%5C.io%5C%5D%5C%20cluster%5C%20upgrade%5C%20should%

[2017-06-23 18:01] WilliamDenniss opened #47976 "Invalid value error when creating service from exported config"
/kind bug

**What happened**:
`kubectl get -o yaml --export` on a Service includes fields that shouldn't be exported.

**What you expected to happen**:
Resources exported with `kubectl get -o yaml --export` should be creatable without errors.

**How to reproduce it (as minimally and precisely as possible)**:
NB. Derived from https://cloud.google.com/container-engine/docs/quickstart
[code]

**Anyth

[2017-06-23 18:04] mbohlool opened #47977 "Kubectl API discovery caching may be up to 10 minutes stale"
kubectl caches API discovery results without being aware of its changes. Registering/Removing a new API service with api aggregator results in a change in API discovery but kubectl has no way to know the result is changed.

Possible solutions:

short term - implement e-tag for API discovery
long term - move to OpenAPI for api discovery

This is possibly a release blocker.

cc @lavalamp @pwittrock

[2017-06-23 18:09] k8s-merge-robot opened #47978 "Failure cluster [968c18...] failed 84 builds, 4 jobs, and 1 tests over 1 days"
### Failure cluster [968c18a790481df2fe53](https://go.k8s.io/triage#968c18a790481df2fe53)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    4 jobs failed,    84 builds failed.
Failure stats cover 1 day time range '22 Jun 2017 17:05 UTC' to '23 Jun 2017 17:05 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Federation Up | 4 |

##

[2017-06-23 18:12] liggitt commented on #47977
it's not ideal, but this is no different than how clients behaved with dynamic discovery changes due to TPR in any prior release, so I don't consider it a release blocker.

caches have a lifetime of 5 minutes, and can be cleared client-side.

[2017-06-23 18:13] monopole commented on #46185
Even if we focus only on the master upgrade tests, this is still red.

See summary here:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=1-5-.*-1-7.*upgrade&test=DNS%20should%20provide%20DNS
error remains:

[code]

[2017-06-23 18:19] xiangpengzhao commented on #15630
Since pre-commit is removed in #47673, we can close these pre-commit related stale issues.
/cc @thockin

[2017-06-23 18:20] xiangpengzhao commented on #17336
/sig contributor-experience
Since pre-commit is removed in #47673, we can close these pre-commit related stale issues.
/cc @thockin

[2017-06-23 18:20] xiangpengzhao commented on #15630
/sig testing

[2017-06-23 18:21] xiangpengzhao commented on #11497
/sig contributor-experience
Since pre-commit is removed in #47673, we can close these pre-commit related stale issues.
/cc @thockin

[2017-06-23 18:22] xiangpengzhao commented on #25931
Since pre-commit is removed in #47673, we can close these pre-commit related stale issues.
/cc @thockin

[2017-06-23 18:22] xiangpengzhao commented on #31252
/sig cli

[2017-06-23 18:24] xiangpengzhao commented on #41444
/sig cluster-lifecycle

[2017-06-23 18:25] xiangpengzhao commented on #32334
/sig storage

[2017-06-23 18:26] monopole commented on #47765
OK, we're (i.. Dawn and I) going to just ignore these broken tests in 1.5-1.7
Going forward,  please be cognizant of upgrade compatibility and test health.

Focussing on 1.6->1.7, we've got some new failures yesterday (on the 22nd) despite many green runs preceding it.

https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-gci-upgrade-master&include-filter-by-regex=Daemon%20set

PTAL.  This iss

[2017-06-23 18:28] xiangpengzhao commented on #32227
/sig aws
/sig network

[2017-06-23 18:29] xiangpengzhao commented on #33013
/sig storage

[2017-06-23 18:30] xiangpengzhao commented on #33009
Yeah, this can be closed.
/sig docs
/sig storage
/cc @thockin @humblec

[2017-06-23 18:31] xiangpengzhao commented on #32992
/sig network

[2017-06-23 18:31] xiangpengzhao commented on #32544
/sig cli

[2017-06-23 18:32] xiangpengzhao commented on #32496
/sig testing

[2017-06-23 18:33] xiangpengzhao commented on #32739
/sig storage

[2017-06-23 18:35] xiangpengzhao commented on #32801
/sig network

[2017-06-23 18:35] Random-Liu commented on #47800
@mdaniel Given the code (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_logs.go#L294), I really don't understand why this happens.

If the json log line is in-complete, `json.Unmarshal` returns error, it should return error and discard that line; Or else, if `json.Unmarshal` doesn't return error, it means that json is complete, and I don't understand why `

[2017-06-23 18:36] monopole commented on #47767
So Dawn, Phil and i are agreed that we're going to ignore these for the 1.5->1.7 case (no need to skip).
Bad practice, but meh.

Retitling bug to focus on 1.6->1.7.   We still have failures there in SchedulerPredicates family.

Please click on this [1.6->1.7 triage link](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=1-6-.*-1-7.*upgrade&test=SchedulerPredicates) and look at th

[2017-06-23 18:36] deads2k commented on #47977
What are you doing to trigger this problems?  `kubectl get foo` check its cache, fails, re-primes the cache, checks again, succeeds, all silently to the user.

[2017-06-23 18:37] monopole commented on #47767
ptal @bsalamat , and thanks for your help!  Narrowing it all down takes time.

[2017-06-23 18:37] xiangpengzhao commented on #32865
/sig cli

[2017-06-23 18:38] xiangpengzhao commented on #32883
/sig cli

[2017-06-23 18:44] baldwinSPC commented on #41444
We're in the middle of cleaning up the storage provider code. We'll have something in a few weeks.

[2017-06-23 18:46] cblecker commented on #17336
/assign
Yup, this is stale.

[2017-06-23 18:47] cblecker commented on #17336
/close

[2017-06-23 18:47] #17336 closed

[2017-06-23 18:48] DirectXMan12 commented on #16177
I think this may be mostly solved.  Not all of the issues that @deads2k mentioned are quite fixed though (giving write access to HPA is effectively equivalent to giving access to */scale, for instance, and we still don't do discovery quite properly), but I think we can open separate issues if we need to.

[2017-06-23 18:55] monopole commented on #47769
OK, we're going to ignore 1.5->1.7.   Please focus now only on the 1.6 -> 1.7 tests.

PTAL at this [1.6->1.7 triage link](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=1-6-.*-1-7.*upgrade&test=SchedulerPriorities).

If the view is these test failures aren't "real" failures, but are artifacts of race-conditions in cluster testing, then please delete the tests (since they give

[2017-06-23 18:56] marun commented on #44046
@liggitt Should this be targeting 1.7?

[2017-06-23 18:57] xiangpengzhao commented on #17336
xref: #15630 #11497 #25931

[2017-06-23 19:03] cblecker commented on #15630
/assign

[2017-06-23 19:03] cblecker commented on #15630
Closing as fixed.
/close

[2017-06-23 19:03] #15630 closed

[2017-06-23 19:03] cblecker commented on #11497
/assign

[2017-06-23 19:03] cblecker commented on #11497
Closing as fixed.
/close

[2017-06-23 19:03] #11497 closed

[2017-06-23 19:03] cblecker commented on #25931
/assign

[2017-06-23 19:04] cblecker commented on #25931
Closing as fixed.
/close

[2017-06-23 19:04] #25931 closed

[2017-06-23 19:06] liggitt commented on #44046
yes, the fix in #45764 is going to cause us data issues we don't want

[2017-06-23 19:09] monopole commented on #47374
OK, let's ignore the 1.5 -> 1.7 failures.

[2017-06-23 19:09] #47374 closed

[2017-06-23 19:14] monopole opened #47985 "Proxy version v1 should proxy logs on node [Conformance] 1.6->1.7 Upgrade Failure"
[gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-6-gci-1-7-upgrade-master/41#k8sio-proxy-version-v1-should-proxy-logs-on-node-conformance)

[history](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-gci-upgrade-master&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Proxy%5C%20version%5C%20v1%5C%20should%5C%20proxy%

[2017-06-23 19:14] MrHohn commented on #47745
This turned out to be an interesting corner case. It happens at the beginning after we set up the GCE network LoadBalancer for OnlyLocal service --- when the LB still forwarding traffic onto nodes that don't have endpoints on.

For more context, when network LB forward traffic to nodes, packet arrives node with below src:dst:
| src - clientIP:clientPort        |
| dst - lbPublicIP:servicePort |

I

[2017-06-23 19:20] madhusudancs commented on #47977
What should other clients that are not kubectl do? This is a breaking change for kubefed for example. I am going to add the release-blocker label back, until we decide it is not for clients that are not kubectl.

[2017-06-23 19:22] monopole commented on #47381
I apologize for the overlap here with #47769.
That bug is a collection of SchedulerPriorities failures, which includes this.
We could break #47769 into finer parts if there are distinct bugs (like this one) then close #47769

[2017-06-23 19:22] madhusudancs commented on #47977
Btw, I forgot to mention that kubefed uses kubectl's cmd libraries.

[2017-06-23 19:23] bsalamat commented on #47767
@monopole I looked at several tests from [your link](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=1-6-.*-1-7.*upgrade&test=SchedulerPredicates). It looks like the predicate tests have failed when many other tests have failed and they have passed when most tests have passed, so maybe those failures are caused by bad builds.
Lets look at a few examples:
[[k8s.io] SchedulerPred

[2017-06-23 19:24] dchen1107 commented on #47899
The issue is resolved, and closed.

[2017-06-23 19:24] #47899 closed

[2017-06-23 19:25] #25180 closed

[2017-06-23 19:26] brianwallace commented on #42164
We experienced this issue as well on kubernetes 1.6.2, running Container Linux (CoreOS).

I definitely agree that this is a docker bottleneck as testarting docker brought the node back to life for us:

[code]

[2017-06-23 19:29] monopole commented on #47381
Very [flakey](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-gci-upgrade-cluster-new&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20SchedulerPriorities%5C%20%5C%5BSerial%5C%5D%5C%20Pods%5C%20should%5C%20be%5C%20scheduled%5C%20to%5C%20low%5C%20resource%5C%20use%5C%20rate%5C%20node).

This error doesn't look like a test infra tear down failure (given it happens in `prio

[2017-06-23 19:30] liggitt commented on #47977
again, this behavior is no different than prior releases with dynamically added/removed TPR APIs

[2017-06-23 19:34] monopole commented on #47762
@msau42  We've cut 1.7 - is there anyone who can say if this flake a matter of concern?

It both passed and failed on the 21st, and is now stale

[2017-06-23 19:34] davidopp commented on #42433
Rearding (1), https://github.com/kubernetes/kubernetes/issues/43846#issuecomment-294696964 is relevant.

Regarding (2), the scheduler should not ignore available resources if you have PodFitsResources predicate. I didn't look into the details of your case.

[2017-06-23 19:36] timothysc commented on #47777
There are zillions of tools to do this and we could even add one to the master deployments.

I really don't want another metric though, b/c don't we already get that from the kubelet running the master today?

[2017-06-23 19:36] bsalamat commented on #47381
This test should be deleted. [My PR](47883) is already out and lgtm'ed. Someone with write permission should merge it. @k82cn @davidopp

[2017-06-23 19:38] dchen1107 commented on #47977
@liggitt Do we understand why this cause ci-kubernetes-e2e-gce-federation failing https://github.com/kubernetes/kubernetes/issues/47737?

[2017-06-23 19:41] dhawal55 commented on #46692
@ukn I'm running into the same issue. Very annoying. There is a similar issue: https://github.com/kubernetes/kubernetes/issues/45911 but doesn't look like anyone is working on it yet.

[2017-06-23 19:45] dhawal55 commented on #45911
When a node is restarted, all pods end up with the same error. Restarting the pod fixes the issue, but it's annoying to have to restart all pods. Related issue: https://github.com/kubernetes/kubernetes/issues/46692

[2017-06-23 19:46] dchen1107 commented on #47960
@kubernetes/sig-api-machinery-bugs @kubernetes/sig-api-machinery-misc Can someone in sig-api-machinery decide if this is a release blocker for 1.7? The issue is found in 1.6.4. is there any workaround for the users?

[2017-06-23 19:50] monopole commented on #43340
@justinsb can you please make a PR to skip or delete this test, or delegate to someone in the SIG?

[2017-06-23 19:51] ncdc commented on #13585
I have looked into this, and it appears that the kubelet is sending the resize request to the docker daemon too early:

[code]

I performed a similar test with `docker exec` and it behaves correctly.

I think I can fix this. I'll report back in a bit.

[2017-06-23 19:51] liggitt commented on #47977
To my knowledge, nothing has changed in this area anytime recently. Didn't the Federation job just start failing a few days ago?

[2017-06-23 19:54] bsalamat commented on #47765
Similar to what I mentioned in the other issue for Scheduler predicates test, this one seems to have failed only when there are many other test failures in [the test grid](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-gci-upgrade-master). So, probably a bad build or test cluster issues.

[2017-06-23 19:56] bgrant0607 commented on #47448
@liggitt The reason was this one:

For structures, in general, structural equivalence should be good enough. There are some "well known" types that we may want to have stronger guarantees around, but we should probably do that with properties rather than rely on names.

[2017-06-23 19:57] bgrant0607 commented on #47448
Please someone document that policy. :-)

[2017-06-23 19:59] monopole opened #47988 "failure 1.5->1.7 EmptyDir wrapper volumes should not cause {problems}"
[gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-gci-1-7-upgrade-master/65#k8sio-emptydir-wrapper-volumes-should-not-cause-race-condition-when-used-for-configmaps-serial-slow) [grid](https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-cvm-1-5-gci-1-7-upgrade-master&width=5&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%2

[2017-06-23 19:59] yujuhong commented on #47933
@hongchaodeng I don't think emptyDir is related. This is probably caused by a bug where kubelet sets the context deadline too small and hits the timeout. #46267 should solve your problem (which increases the context deadline kubelet uses). We'll cherry-pick it to 1.6.

This should not affect pods where restart policy is not never. I think in general "restart never" pods are prone to problems like

[2017-06-23 20:04] caesarxuchao commented on #47977
If the autoregister-completion health check is not done, the /healthz will return 500. can we let kubectl check the /healthz before visiting the discovery endpoints?

[code]

[2017-06-23 20:05] marun commented on #44046
@kargakis Are you working on this? What's the timeline to resolution?

[2017-06-23 20:06] xiang90 commented on #47933
When updating image field, it does affect `Never`. If there is no error when killing the old container for updating image, the pod wont exit. However, when there is an error, kubelet wont update the pod at all.

[2017-06-23 20:08] xiang90 commented on #47933
@yujuhong @Random-Liu

do you know which commit introduces this problem?

[2017-06-23 20:09] monopole commented on #47988
see also [gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-master/68#k8sio-emptydir-wrapper-volumes-should-not-cause-race-condition-when-used-for-configmaps-serial-slow)

[code]

[2017-06-23 20:10] yujuhong commented on #47933
AFAIK, this bug would only affect RestartPolicy==Never pods. Are you saying that other pods would be affected too?

These was new code from a large internal refactoring. Identifying a specific commit won't help.

[2017-06-23 20:12] monopole commented on #47988
Given [this](https://github.com/kubernetes/kubernetes/commit/8ff00d17d82832422d428d4b39d8282378403216), @ivan4th can you comment on this please?

[2017-06-23 20:14] marun commented on #47219
@ajitak What's the status on this?  Will merging the npd fix resolve this issue?

[2017-06-23 20:14] marun commented on #47344
@gmarek What's the status on this?

[2017-06-23 20:16] xiang90 commented on #47933
sorry. i misread your comment. i thought you said it DOES NOT affect `never`.

but, yes, it does affect our use cases even if we set restart to always. our controller monitors the pod status. when there is an error, it will report and act on it. we have to work around this. but not a huge idea as for `Never`.

[2017-06-23 20:17] xiang90 commented on #47933
good to know. thanks.

[2017-06-23 20:17] ncdc opened #47990 "Initial terminal dimensions for `kubectl exec` are not set correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: `kubectl exec -it` used to set the terminal dimensions correctly. Now, they're only set correctly if you resize the terminal. My theory is that this regressed due to underlying architectural changes in docker and how it creates exec processes, but I'm not 100% sure about that.

**What you expected to happen**:

[2017-06-23 20:18] ncdc commented on #13585
I have been able to fix this locally. However, I am going to open a new issue. Please move discussion there - #47990.

[2017-06-23 20:18] ncdc commented on #47990
Fixed by #47991

[2017-06-23 20:19] marun commented on #47855
@mikedanese Has this issue been resolved by the merged PRs?

[2017-06-23 20:20] yujuhong commented on #47933
@xiang90 FYI, here is the cherry-pick PR: #47989

Got it. Transient errors do happen though, so you may want to make sure the controller can tolerate that.

[2017-06-23 20:26] hongchaodeng commented on #47933
How could a user differentiate such transient error from fatal error?

[2017-06-23 20:31] gmarek commented on #47344
@marun - it was the same issue as https://github.com/kubernetes/kubernetes/issues/47865#issuecomment-310694695.

Everything looks good for now. Two more tests are needed.

[2017-06-23 20:35] skriss commented on #43252
This was an issue I filed during the 1.6 release upgrade testing - it can be closed as it's obsolete at this point.

[2017-06-23 20:35] timothysc commented on #47920
So discussion on release-call was that we should still produce a container b/c this will be an issue for conformance efforts, but it doesn't need to be for this release cycle 1.7.0, but it can be for 1.7.1+

[2017-06-23 20:35] marun commented on #47932
@yujuhong Who's going to work on this?  Can someone be assigned?

[2017-06-23 20:37] hongchaodeng commented on #47933
Actually this transient error is caused within kubelet, not from application itself. The application didn't exit itself from its lifecycle perspective. The kubelet should restart the container on such transient, shouldn't it?

[2017-06-23 20:39] monopole commented on #47988
/assign @ivan4th

[2017-06-23 20:40] yujuhong commented on #47933
Yes, for the RestartPolicy==Always (or OnFailure) pod, kubelet will report an error, and then properly start the containers in the next iteration. For the RestartPolicy=Never pod, it's trickier, and I don't think kubelet handles them well because it couldn't tell why the container exited and whether it should restarted.

I was mainly talking about controller tolerating the error reporting by the k

[2017-06-23 20:40] monopole commented on #47988
/sig test-infra
/remove-sig api-machinery

[2017-06-23 20:41] monopole commented on #47988
/sig testing

[2017-06-23 20:41] mberhault commented on #47911
BTW, the [API docs](https://kubernetes.io/docs/api-reference/v1.6/#certificatesigningrequeststatus-v1beta1-certificates) clearly say:
[code]

[2017-06-23 20:41] monopole commented on #47988
/remove-sig api-machinery

[2017-06-23 20:43] monopole commented on #47988
See also [EmptyDir wrapper volumes should not cause race condition when used for git_repo](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-gci-1-7-upgrade-master/65#k8sio-emptydir-wrapper-volumes-should-not-cause-race-condition-when-used-for-git_repo-serial-slow)

[2017-06-23 20:44] roberthbailey commented on #24123
We definitely want to enable CI testing of kubeadm at head before 1.8. Whether we can take the additional step of cleaning up the kube-up.sh scripts to remove the side-loading is currently TBD.

[2017-06-23 20:44] hongchaodeng commented on #47933
Got it. Thanks for the answer.
Let me try it out with https://github.com/kubernetes/kubernetes/pull/46267 .

[2017-06-23 20:49] xiang90 commented on #47933
it is equally difficult for the external controller to tell if what is the root cause of the error. if we do clean up pod and its related resources on transient failures that not causing by the application, then we waste our resources.

i still feel the best place to retry on internal transient failures is inside kubelet. but not a big deal for us if the rate of the transient failures is low.

[2017-06-23 20:51] #47798 closed

[2017-06-23 20:52] msau42 commented on #47762
I tried to triage this failure, and I am very stumped at this point.  It seems like either the arguments or output of two different tests running in parallel got mixed up.  The output is displaying one line that is from the configmap test, and another line that is from the secrets test.  I have not been able to narrow down which layer could be the culprit: golang, test framework, or the kubernetes

[2017-06-23 20:52] bsalamat commented on #45675
ref/ #47767

These tests are expected to fail. According to @monopole we are going to ignore and remove 1.5 -> X upgrade tests.

[2017-06-23 20:54] yujuhong commented on #47933
Kubelet does retry blindly on errors, but it also exposes errors it encountered to the user. We could potentially retry a couple of times before reporting an error, but each retry could take a long time (e.g., minutes), and during this time, users will have no visibility to what's happening on the node.

[2017-06-23 20:58] xiang90 commented on #47933
@yujuhong

yea. i agree. probably kubelet can learn to understand internal transient errors, and reports them as internal errors to users somehow. then users can simply wait. or users have to try to distinguish errors. but, again, not a huge deal for our current use case.

[2017-06-23 21:00] caesarxuchao commented on #47960
Should be fixed by https://github.com/kubernetes/kubernetes/pull/46500. Might need cherry-pick to 1.6

[2017-06-23 21:02] dchen1107 commented on #47959
I believe this one should also be fixed by #46500.

[2017-06-23 21:04] spil-dennis opened #47992 "DNS names for pods using headless service and deployment"
**BUG REPORT**:

/kind bug
@kubernetes/sig-network

**What happened**:
When setting up a headless service pointing to the pods managed by a deployment/replicaset there are there are either
* no DNS names provisioned, (hostname field empty in podspec) or
* there's single dns name pointing to the ip of the last pod to be brought up (hostname field was set in the podspec)

**What you expected to happ

[2017-06-23 21:04] copejon commented on #47970
@wongma7 Sounds good!  Shortening run times for e2e is always a good idea.  Let me know if you have any questions.

[2017-06-23 21:05] caesarxuchao commented on #47960
The rs controller tried to sync a rs that has the foregroundGC finalizers, and triggered the bug.

It's fixed in 1.7, we should backport it to 1.6.

[2017-06-23 21:09] #47855 closed

[2017-06-23 21:11] spiffxp commented on #25858
/sig instrumentation
elasticsearch-logging is part of the fluentd-elasticsearch addon

[2017-06-23 21:11] deads2k commented on #47977
This seems like much ado about a problem we've had since 1.2 (I think) when we got TPRs. The discovery doc changes in response to those and clients already had to deal with it.  The same thing happens on upgrades and even server restarts since we added API groups years ago.

Claiming this as a new problem is a mischaracterisation since we've had it for years.  In addition, the exact case described

[2017-06-23 21:14] spiffxp commented on #26030
/sig api-machinery
because downward api

[2017-06-23 21:15] spiffxp commented on #26304
/sig testing
to find offending tests and triage specifics to appropriate sigs

[2017-06-23 21:16] mberhault commented on #47911
/cc @kubernetes/sig-api-machinery-bugs

[2017-06-23 21:17] spil-dennis commented on #47992
/sig network

[2017-06-23 21:17] spiffxp commented on #26444
/sig cluster-lifecycle
I'm guessing you own minikube (which is what the above getting-started-guide link now redirects me to)

[2017-06-23 21:22] dchen1107 commented on #47977
@deads2k I am not sure about when we introduced the issue here. But what you described for upgrade is matching what I observed during upgrade test debugging for 1.7.

The only reason we mark this as the release blocker is the federation team think this is the root cause for https://github.com/kubernetes/kubernetes/issues/47737. We need to find the solution / workaround / document as the known issu

[2017-06-23 21:24] spiffxp commented on #27543
/sig api-machinery
client-go uses mergo, although given that this work has been tried and abandoned at least once, this issue can probably be closed as stale / wont-fix

[2017-06-23 21:25] dchen1107 commented on #47805
We need to fix this, but I don't think this is the release blocker.

[2017-06-23 21:28] spiffxp commented on #28315
/sig scheduling
/sig node
given the two sig teams mentioned above

[2017-06-23 21:29] pipejakob commented on #47911
CC @mikedanese

[2017-06-23 21:29] dchen1107 commented on #44046
Based on @liggitt above comment,  looks like #45764 actually introduced a new regression. Am I right?

[2017-06-23 21:39] spiffxp commented on #28345
/sig node
I assume sig-node owns livenessprobe

[2017-06-23 21:40] spiffxp commented on #28370
/sig instrumentation
I assume sig-instrumentation owns the fluentd-elasticsearch addon

[2017-06-23 21:40] MrHohn commented on #47926
/assign

Dupe of #46917 and #46919.

[2017-06-23 21:41] spiffxp commented on #28382
/sig testing

[2017-06-23 21:42] spiffxp commented on #28601
/sig api-machinery

[2017-06-23 21:43] spiffxp commented on #29346
/sig node
because node e2e

[2017-06-23 21:45] spiffxp commented on #29533
/sig instrumentation
because sig-instrumentation owns the elasticsearch-fluentd addon

[2017-06-23 21:47] spiffxp commented on #29640
/sig instrumentation
because elasticsearch-fluentd addon

[2017-06-23 21:50] yujuhong commented on #47933
Sure. That's definitely something worth doing. There are also users who want kubelet to stop retrying if it's a permanent error. I'm not sure how accurate it can be, but kubelet should be able to do better.

[2017-06-23 21:58] hongchaodeng commented on #47933
I tried the latest master at 81ce94a and it seems to solve the problem.

Upgrading the same as described above. No error this time:
[code]

[2017-06-23 22:04] chenopis commented on #17150
Yeah, if you open an Issue in the k8s.io repo and assign it to me, I'll try to fix it in Q3.

[2017-06-23 22:06] chenopis commented on #15343
I don't think this is true anymore.
/close

[2017-06-23 22:06] yujuhong commented on #47938
Hmm..for VM pods, we probably want to adjust the oom scores based on QoS class of the pod.

[2017-06-23 22:07] crimsonfaith91 commented on #47941
@deads2k The change is merged, but we still need permission from @cjwagner for deployment.

[2017-06-23 22:08] chenopis commented on #15094
IMHO, since all the docs now live in the k8s.io repo, any docs issue pre-2017 should be closed.
/close

[2017-06-23 22:09] chenopis commented on #15032
IMHO, since all the docs now live in the k8s.io repo, any docs issue pre-2017 should be closed.

[2017-06-23 22:09] chenopis commented on #13588
agreed

[2017-06-23 22:10] chenopis commented on #12148
IMHO, since all the docs now live in the k8s.io repo, any docs issue pre-2017 should be closed.

[2017-06-23 22:10] chenopis commented on #13168
IMHO, since all the docs now live in the k8s.io repo, any docs issue pre-2017 should be closed.

[2017-06-23 22:10] krzyzacy commented on #47920
/unassign
/assign @ixdy

[2017-06-23 22:10] blemagicleap commented on #46188
@cmluciano I have the same issue and it's working perfectly after corrected the https://

@chrismcv Thanks a lot Chris

[2017-06-23 22:11] pipejakob commented on #47911
After chatting on Slack, it seems that the issue here is that minikube wasn't starting the certificates controller, which is required for auto-signing approved CSRs. This can be enabled by the user through configuration, but is defaulted off. Since the Certificates API is now in Beta, it probably makes sense to default the certificates controller on, but in either case, this is a minikube issue, n

[2017-06-23 22:12] chenopis commented on #3606
This should be re-opened in the k8s.io repo if it's still a problem.

[2017-06-23 22:12] chenopis commented on #10726
IMHO, since all the docs now live in the k8s.io repo, any docs issue pre-2017 should be closed.

[2017-06-23 22:13] vishh commented on #47938
Infra container is a runtime artifact right? Why would it be part of the Node (distro) Spec?

Depends. As mentioned above, if kubelet decides to run an infra container across all runtimes, say for purposes of sharing all namespaces consistently, or providing exec/logs access consistently, etc., then kubelet has to decide the oom score. If it's the runtime that's managing an infra container, then t

[2017-06-23 22:14] chenopis commented on #10956
Don't most people use YAML now?

[2017-06-23 22:15] chenopis commented on #10748
Is this even an issue anymore?

[2017-06-23 22:17] chenopis commented on #10781
@vishh Was this ever completed?

[2017-06-23 22:18] chenopis commented on #11332
This should be closed.

[2017-06-23 22:18] chenopis commented on #11040
This can be closed.

[2017-06-23 22:24] caesarxuchao commented on #47960
Sent https://github.com/kubernetes/kubernetes/pull/47994 to cherrypick to 1.6.

[2017-06-23 22:27] vishh commented on #10781
Nope. I have shared some of the content I generated to @steveperry-53 who is working on addressing this issue I think.

[2017-06-23 22:28] caesarxuchao commented on #47959
The GC finalizer issue is taken care of.

I think the PVC problem is a separate issue. @saad-ali do you know if the problem is fixed in 1.7? The issue was found in v1.6.4.

[2017-06-23 22:31] chenopis commented on #10781
Ok, so we should close this and open it on the k8s.io side.

[2017-06-23 22:33] vishh commented on #10781
That's a good idea!

[2017-06-23 22:37] djsly commented on #43856
Was this cherry-picked in 1.6 ? I can't seem to find any trace of it. Getting hit by this issue on centOS 7.3, fresh OS, fresh install of 1.6.6.

[2017-06-23 22:37] spiffxp commented on #29908
/sig cluster-lifecycle
/kind support
/assign
closing this due to inactivity, and the ubuntu guide has changed significantly since this issue was filed, please reopen if this is not the case

[2017-06-23 22:37] spiffxp commented on #29908
/close

[2017-06-23 22:37] #29908 closed

[2017-06-23 22:38] spiffxp commented on #30006
/sig instrumentation
because logging

[2017-06-23 22:40] spiffxp commented on #30113
/sig release
/priority awaiting-more-evidence
because it's part of the build; maybe this is too low priority to remain open, but it does seem to run way more often than it should

[2017-06-23 22:43] spiffxp commented on #30230
/assign
closing, this was fixed by #30307

[2017-06-23 22:43] spiffxp commented on #30230
/close

[2017-06-23 22:43] #30230 closed

[2017-06-23 22:46] spiffxp commented on #30413
/sig api-machinery
/sig storage
because these sigs were mentioned in the description

[2017-06-23 22:46] deads2k commented on #47977
@dchen1107 Then I would avoid trying to make rushed API changes to discovery or behavior modifications to kubectl.  The aggregation behavior people seem focused on merged in March with this pull here https://github.com/kubernetes/kubernetes/pull/42911 .

[2017-06-23 22:48] caesarxuchao commented on #44046
In https://github.com/kubernetes/kubernetes/pull/44058, I reverted what's introduced in #45764.

[2017-06-23 22:48] #47769 closed

[2017-06-23 22:48] #46963 closed

[2017-06-23 22:50] spiffxp commented on #30452
/sig testing
/assign
closing this because the linked example now 404's; if there are concrete examples, we can re-open and triage to other sigs as appropriate

[2017-06-23 22:50] spiffxp commented on #30452
/close

[2017-06-23 22:50] #30452 closed

[2017-06-23 22:56] yujuhong commented on #47872
/cc @timstclair for the streaming server.

[2017-06-23 23:01] spiffxp commented on #30617
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-23 23:02] timstclair commented on #36666
A problem with my proposal above is it assumes the Kubelet understands the protocol used between the CRI shim & the pod. If that's not the case, the kubelet would still need to talk to the CRI shim for the streams, which adds an extra proxy hop. This might be an acceptible temporary solution, but we should still look into what it would take to get the CRI streaming server a proper signed serving c

[2017-06-23 23:03] spiffxp commented on #30784
/sig auth

[2017-06-23 23:05] spiffxp commented on #30849
/assign
closing because I can't find anything in the linked PR about this, and the linked logs no longer exist; we can reopen if there's another concrete example

[2017-06-23 23:05] spiffxp commented on #30849
/close

[2017-06-23 23:05] #30849 closed

[2017-06-23 23:06] spiffxp commented on #30917
/sig aws

[2017-06-23 23:09] spiffxp commented on #30927
/kind support
/sig storage
/assign
closing due to inactivity, and this looks like a support request, which should be handled via stackoverflow per https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/, please reopen if this is not the case

[2017-06-23 23:09] spiffxp commented on #30927
/close

[2017-06-23 23:09] #30927 closed

[2017-06-23 23:11] ahmetb commented on #11040
/assign

[2017-06-23 23:11] ahmetb commented on #11040
/close

[2017-06-23 23:11] #11040 closed

[2017-06-23 23:12] spiffxp commented on #30586
/sig cli
because the changes in the linked PR appear to be in kubectl

[2017-06-23 23:21] yujuhong commented on #46255
The reason why I proposed using the digest of the image config as the image ID is to expose a content-addressable ID for user to use (e.g., auditing), but you're right about this being format-specific. Using manifest digest may be sufficient for this use case.

I think @stevvooe's suggestion about with the `ResolveImage` would still make the API cleaner. @runcom what do you think?

[2017-06-23 23:26] MrHohn opened #48002 "Make gce_loadbalancer_external and gce_loadbalancer_internal more consistent"
Recently there was a great refactoring that separates GCE ELB and ILB codes (https://github.com/kubernetes/kubernetes/pull/46663). It constructed GCE cloud provider package in a much better way, but meanwhile some inconsistencies need to be cleaned up. For instance, we should pipe in clusterID in [some places](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce

[2017-06-23 23:29] bsalamat commented on #47381
The test is deleted. This issue should be closed.

[2017-06-23 23:31] mberhault commented on #47911
This is due to the cluster being starting without the certificates controller enabled. I've moved this issue to https://github.com/kubernetes/minikube/issues/1647 to have minikube start it up by default.

Closing this. Thank you for the help.

[2017-06-23 23:31] #47911 closed

[2017-06-23 23:35] bsalamat commented on #47769
`[k8s.io] SchedulerPriorities [Serial] Pods created by ReplicationController should spread to different node` is also similar to [SchedulerPriorities [Serial] Pods should be scheduled to low resource use rate node](https://github.com/kubernetes/kubernetes/issues/47381). It is failing a lot in our e2e tests, but have been running the test in my own GCE cluster and has been passing for 18 times so f

[2017-06-24 00:07] spiffxp commented on #30961
/sig cli
/sig api-machinery
do we have enough info to provider smarter error messages in this context?

[2017-06-24 00:10] spiffxp commented on #31123
/sig apps
I'm assuming sig-apps owns daemonsets

[2017-06-24 00:11] caesarxuchao opened #48007 "k8s.io/api has external depdencies"
But it doesn't have the Godeps/ folder.

https://github.com/kubernetes/kubernetes/pull/47936 add the Godeps/.

Ideally, we should not let the IntOrString pull in so much dependency to k8s.io/api

[2017-06-24 00:12] ajitak commented on #47219
@marun
- I have added NPD config which will generate an event for docker image corruption. This is merged.
- One PR for using this config in kubernetes is open.
- I am working on another PR which will use generated event mention above in e2e reboot test and don't fail test for docker image corruption.

[2017-06-24 00:12] spiffxp commented on #31069
/sig api-machinery
probably not the right home for this, but another example of why we might want a "sig-cloud" or something similar; namespaces seem pretty central to api in the meantime, so api-machinery

[2017-06-24 00:14] spiffxp commented on #31063
/sig testing
/assign
the bot removed the label after this issue referenced the PR, so I'm going to go ahead and close this; please reopen if you find another example of this behavior

[2017-06-24 00:14] spiffxp commented on #31063
/close

[2017-06-24 00:14] #31063 closed

[2017-06-24 00:15] bowei commented on #47379
Is this related the aggregation API server ready issue?

[2017-06-24 00:17] spiffxp commented on #30936
/sig apps
because examples
/assign
closing due to inactivity, and the example isn't in the new home of https://github.com/kubernetes/examples; please reopen over there if you'd like to introduce back in as a maintained example

[2017-06-24 00:17] spiffxp commented on #30936
/close

[2017-06-24 00:17] #30936 closed

[2017-06-24 00:18] spiffxp commented on #30991
/sig apps
I'm assuming sig-apps owns deployments

[2017-06-24 00:20] spiffxp commented on #31002
/sig cluster-lifecycle
I'm assuming sig-cluster-lifecycle owns addon management

[2017-06-24 00:24] lavalamp commented on #47977
This is a behavior change on the server that exposes a caching bug (which itself is probably both a server and client bug).

There is no reason for apiserver to return a partial list of built-in resources at any point in its startup stack. I consider that a bug, it is exposing internal setup details to the world for no good reason. Since it is breaking clients and we aren't sure the etag is set co

[2017-06-24 00:45] dchen1107 opened #48008 "e2e flaky: [k8s.io] Pod Disks should be able to detach from a node which was deleted [Slow] [Disruptive] [Volume]"
Since 2 days ago, the test is becoming more and more flaky, and one of the examples is:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial-release-1-7/81

[code]

[2017-06-24 00:48] dchen1107 commented on #48008
@msau42 please triage this one. Currently I put it as the release blocker, and please feel free to remove that if you think it is not. Thanks!

[2017-06-24 00:50] dchen1107 commented on #47988
cc/ @verult please triage this. Thanks!

[2017-06-24 00:55] verult commented on #47988
/cc @msau42

[2017-06-24 00:57] dchen1107 commented on #47376
The pr was merged and cherrypick pr is also merged. Close the issue.

[2017-06-24 00:57] #47376 closed

[2017-06-24 00:58] msau42 commented on #48008
The test deletes the node, and at the end, waits 5 minutes for the node to become ready, but it timed out.

cc @verult

[2017-06-24 01:05] #47219 closed

[2017-06-24 01:13] verult commented on #48008
The test logic hasn't changed after I last modified it, so the test deletes the node through gcloud, and the instance should be restarted automatically by GCE because it's part of an instance template.

The likely possibility, as @msau42 pointed out, is that another change made node discovery take longer, so extending the timeout would be enough. The very unlikely possibility is there's a problem

[2017-06-24 01:17] spiffxp commented on #26708
/sig instrumentation
I believe sig-instrumentation owns the fluentd-elasticsearch addon, if that's what's being referenced here, which still uses a `ReplicationController` and `emptyDir` volume

[2017-06-24 01:22] weaseal commented on #41159
I am attaching the heapster config here.  Let me know if you need anything else

[code]

[2017-06-24 01:22] spiffxp commented on #31017
/assign
closing this in favor of the features issue, that's the more appropriate place for it

[2017-06-24 01:22] spiffxp commented on #31017
/close

[2017-06-24 01:22] #31017 closed

[2017-06-24 01:23] janetkuo commented on #44046
@marun - @caesarxuchao is working on it

[2017-06-24 01:24] spiffxp commented on #31270
/sig testing
/priority backlog

[2017-06-24 01:25] spiffxp commented on #32332
@kubernetes/sig-release-misc I think we can close this, as we no longer cut 1.4.x releases, right?

[2017-06-24 01:27] caesarxuchao opened #48010 "kubectl doesn't work well with externaladmissionhookconfigurations and initializerconfigurations"
To reproduce, one needs to pass the --runtime-config=admissionregistration.k8s.io/v1alpha1 flag when enabling the apiserver, to enable the alpha api; and one needs to create an externaladmissionhookconfiguration or initializerconfiguration first.

Then, if curl the url directly, the result is correct:
[code]

But if running `kubectl get externaladmissionhookconfigurations.admissionregistration.k8s

[2017-06-24 01:28] spiffxp commented on #35058
/sig release
guess we're saying sig-release owns hyperkube under the general guise of "cutting bits" until/unless there is a better home for it

[2017-06-24 01:30] msau42 commented on #47988
What versions of the e2e tests are run after the upgrade test?  Is it the 1.5 version of the test or the 1.7 version of the test?

[2017-06-24 01:31] spiffxp commented on #38838
@kubernetes/sig-testing-feature-requests this sounds like allowing `kubetest` to support out-of-tree deployers, similar to how we'd like `prow` to support out-of-tree plugins

[2017-06-24 01:32] dchen1107 commented on #47737
#47980 was merged and cherrypicked to v1.7. Federation test looks fine now. We are dealing kubectl API discovery caching issue in #47977. Close this bug.

[2017-06-24 01:32] #47737 closed

[2017-06-24 01:33] spiffxp commented on #38831
/sig testing
*mumbles something about kubetest* but I guess I should see if there is a way to run tests "as documented" on 1.5.x before closing this

[2017-06-24 01:37] spiffxp commented on #34395
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

/sig-windows
since this may be windows-specific

[2017-06-24 01:39] spiffxp commented on #29916
/sig cluster-lifecycle
because this is kube-up, but I'm not sure who owns the vagrant provider

[2017-06-24 01:40] spiffxp commented on #47927
/sig scalability
because kubemark

[2017-06-24 01:41] spiffxp commented on #44541
/assign
closing due to inactivity

[2017-06-24 01:41] spiffxp commented on #44541
/close

[2017-06-24 01:41] #44541 closed

[2017-06-24 01:43] spiffxp commented on #38637
/sig api-machinery
because swagger->openapi
/sig cli
since kubectl is involved

[2017-06-24 01:43] dchen1107 commented on #44046
I approved this for 1.7 based on @liggitt's comment at https://github.com/kubernetes/kubernetes/issues/44046#issuecomment-310748733. I should revert #45764, but are we ok with @caesarxuchao's #44058 since it also introducing a new behavior. I will leave @kubernetes/sig-apps-bugs to decide.

[2017-06-24 01:45] spiffxp commented on #39391
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-24 01:47] spiffxp commented on #45195
/sig testing
this looks like kubetest flaking
/assign
closing due to inactivity

[2017-06-24 01:47] spiffxp commented on #45195
/close

[2017-06-24 01:47] #45195 closed

[2017-06-24 01:49] xiangpengzhao commented on #47976
/remove-sig api-machinery
/sig cli
/sig network

[2017-06-24 01:49] msau42 commented on #47988
I suspect that the UpgradeTest failing in this suite is also causing this test to fail.  The test was passing when the UpgradeTest was passing.

[2017-06-24 01:50] sjenning commented on #43856
@djsly it looks like 1.6 was using the same runc version as 1.7 before this PR.  I should be able to pick it if it gets approved.

@derekwaynecarr @vishh what do you think?

[2017-06-24 01:54] spiffxp commented on #43656
/assign
closing due to inactivity, and the linked logs 404; the associated PR merged, this failure happened afterwards, chalking it up to a postsubmit flake

[2017-06-24 01:54] spiffxp commented on #43656
/close

[2017-06-24 01:54] #43656 closed

[2017-06-24 01:55] spiffxp commented on #42442
/sig instrumentation
because logging

[2017-06-24 01:57] spiffxp commented on #41462
/sig instrumentation

[2017-06-24 02:01] #47744 closed

[2017-06-24 02:51] #47692 closed

[2017-06-24 03:49] liggitt commented on #44046
#44058 replaces #45764 with a fix that addresses this issue systemically. While this bug did exist in 1.6.x, more things rely on GC in 1.7 than in 1.6, and without that fix, GC leaves more resources vulnerable to unintentional orphaning.

Since the issue is actually with general GC behavior, @kubernetes/sig-api-machinery-bugs should weigh in.

[2017-06-24 04:25] xiangpengzhao commented on #37645
/sig apps

[2017-06-24 04:28] xiangpengzhao commented on #37595
/sig auth

[2017-06-24 04:29] xiangpengzhao commented on #37576
/sig cli

[2017-06-24 04:30] xiangpengzhao commented on #37415
/sig api-machinery

[2017-06-24 04:30] xiangpengzhao commented on #37297
/sig release

[2017-06-24 04:32] xiangpengzhao commented on #37177
/sig testing
/sig apps

[2017-06-24 04:33] xiangpengzhao commented on #37138
/sig api-machinery

[2017-06-24 05:07] xiangpengzhao commented on #35156
/sig cli

[2017-06-24 05:08] xiangpengzhao commented on #35076
/sig cli

[2017-06-24 05:10] xiangpengzhao commented on #35007
/sig cli

[2017-06-24 05:11] xiangpengzhao commented on #34345
/sig cli

[2017-06-24 05:12] xiangpengzhao commented on #34430
/sig aws

[2017-06-24 05:48] liggitt opened #48018 "EncodeNestedObjects is not given target version information"
When an object is told to encode its nested objects, the preferred encoding version is not provided for it to use. That means nested objects with more than one possible serialized version use the default instead of the requested version.

@kubernetes/sig-api-machinery-bugs

[2017-06-24 07:01] xiangpengzhao commented on #35213
/sig cli

[2017-06-24 07:07] xiangpengzhao commented on #34274
/sig cli

[2017-06-24 07:08] xiangpengzhao commented on #36968
/sig cli

[2017-06-24 07:09] xiangpengzhao commented on #36781
/sig cli

[2017-06-24 07:10] xiangpengzhao commented on #36781
and
/sig scheduling

[2017-06-24 07:34] #47967 closed

[2017-06-24 08:16] xiangpengzhao commented on #38718
/sig api-machinery

[2017-06-24 08:20] xiangpengzhao commented on #38269
/sig api-machinery

[2017-06-24 08:21] garo commented on #30006
We have improved logs2kafka now to support Graylog format, which works better with Docker as it can send more metadata from Docker to the logging tier.

[2017-06-24 08:21] xiangpengzhao commented on #38251
/sig node

[2017-06-24 08:22] xiangpengzhao commented on #38250
/sig node

[2017-06-24 08:23] xiangpengzhao commented on #38249
/sig node

[2017-06-24 08:23] xiangpengzhao commented on #38248
/sig node

[2017-06-24 08:24] xiangpengzhao commented on #38235
/sig scheduling

[2017-06-24 08:25] xiangpengzhao commented on #38232
/sig apps

[2017-06-24 08:28] xiangpengzhao commented on #38116
/sig aws

[2017-06-24 08:29] xiangpengzhao commented on #38053
/sig cli

[2017-06-24 08:29] xiangpengzhao commented on #37965
/sig cli

[2017-06-24 08:30] xiangpengzhao commented on #37859
/sig cli

[2017-06-24 08:31] xiangpengzhao commented on #31133
/sig aws

[2017-06-24 08:32] xiangpengzhao commented on #31173
/sig cli

[2017-06-24 08:36] luxas commented on #35058
@spiffxp hyperkube definitely belongs to sig-release as it hasn't been owned by a sig so far...

[2017-06-24 08:36] xiangpengzhao commented on #30974
@cherylhan please see details in #27722. We are going to close this one.
/sig network
/cc @thockin

[2017-06-24 08:38] xiangpengzhao commented on #31178
/sig cli

[2017-06-24 08:39] xiangpengzhao commented on #32187
/sig storage

[2017-06-24 08:40] xiangpengzhao commented on #32699
/sig cli

[2017-06-24 08:41] xiangpengzhao commented on #32775
/sig aws

[2017-06-24 08:42] xiangpengzhao commented on #33504
/sig docs

[2017-06-24 08:56] runcom commented on #46255
I'm just worried ResolveImage is adding another hop to the way kubelet asks to pull. If ResolveImage goes to the network to gather info about an image AND will also pull the image afterwards then surely we're regressing on performance (for pull)

[2017-06-24 09:07] #11332 closed

[2017-06-24 09:08] kargakis commented on #10748
Going to close due to age, please reopen if it's still an issue.

[2017-06-24 09:08] #10748 closed

[2017-06-24 09:08] #10726 closed

[2017-06-24 09:09] #3606 closed

[2017-06-24 09:09] #13168 closed

[2017-06-24 09:09] #12148 closed

[2017-06-24 09:09] #13588 closed

[2017-06-24 09:09] #15032 closed

[2017-06-24 09:10] #15094 closed

[2017-06-24 09:10] #15343 closed

[2017-06-24 09:14] #43252 closed

[2017-06-24 09:22] kargakis commented on #36601
DaemonSets are designed for long-running daemons, not for batch workloads. I still prefer we solve this in the CronJob API.

[2017-06-24 09:22] luxas commented on #18610
@bgrant0607 We talked about this in the sig-cluster-lifecycle meeting and said it's probably a required feature for us to look at in the v1.9 timeframe for fully making HA work. Stretch goal for v1.8 meanwhile.

First thing is, as said, pick up the proposal, update it to current state of the ecosystem and merge into the community repo. That might be achievable in the v1.8 timeframe
cc @jbeda @robe

[2017-06-24 09:29] kargakis commented on #37645
/sig cli

[2017-06-24 09:41] #29330 closed

[2017-06-24 09:42] kargakis commented on #30660
/sig storage

[2017-06-24 09:43] kargakis commented on #31142
Doesn't seem like an issue specific to k8s, closing

[2017-06-24 09:43] #31142 closed

[2017-06-24 09:44] kargakis commented on #31018
/sig cluster-lifecycle

[2017-06-24 09:45] kargakis commented on #31174
/sig cli
/sig api-machinery

[2017-06-24 09:45] kargakis commented on #31175
/sig cli

[2017-06-24 09:47] kargakis commented on #31218
/sig api-machinery
/sig node

Not sure which sig owns the downward api

[2017-06-24 09:48] kargakis commented on #32211
/sig cluster-lifecycle

[2017-06-24 09:49] kargakis commented on #32360
/sig cluster-lifecycle
/sig api-machinery

[2017-06-24 09:50] kargakis commented on #32195
/sig scheduling

[2017-06-24 09:50] kargakis commented on #31932
/sig testing

[2017-06-24 09:50] kargakis commented on #31897
/sig cli
/sig auth

[2017-06-24 09:51] kargakis commented on #32335
/sig api-machinery

[2017-06-24 09:51] kargakis commented on #31403
/sig testing

[2017-06-24 09:51] #31643 closed

[2017-06-24 09:51] kargakis commented on #31643
+1

[2017-06-24 09:52] kargakis commented on #31791
/sig testing

[2017-06-24 09:52] kargakis commented on #31824
/sig network

[2017-06-24 09:53] kargakis commented on #31351
/sig node
/sig network

[2017-06-24 10:06] dgageot opened #48019 "Add pod's subdomain to the resolv.conf search list"
**FEATURE REQUEST**

/kind feature
@kubernetes/sig-network

**What happened**:

I created two pods in the same subdomain and a headless service for that subdomain. Pods can't find each other by their hostname.

**What you expected to happen**:

I expect a pod (`busybox-1`) in a subdomain (`default-subdomain`) to be able to lookup any other pod (`busybox-2`) in the same subdomain, just using its ho

[2017-06-24 10:08] dgageot commented on #48019
/sig network

[2017-06-24 12:15] #48007 closed

[2017-06-24 12:15] #47745 closed

[2017-06-24 12:29] dgageot commented on #47992
I've seen the same behaviour. We have pods that have a hostname set in the spec. DNS resolution seems to work until we scale up the number of pods. `nslookup` on the hostname only returns the IP of the **last** pod to be brought up instead of the IPs of **all** the pods with the same hostname.

[2017-06-24 13:29] spil-dennis commented on #47992
If you want the ips of all the pods, you should use the DNS name of the service. That works as expected.

Op 24 jun. 2017 2:30 p.m. schreef David Gageot <notifications@github.com>:

I've seen the same behaviour. We have pods that have a hostname set in the spec. DNS resolution seems to work until we scale up the number of pods. nslookup on the hostname only returns the IP of the last pod to be bro

[2017-06-24 13:34] killy001 opened #48020 "Kubernetes map docker exposed ports to random ports"
In Kubernetes, if I want to enable the docker host port mapping, I have to write the hostPort explicitly in the yaml file and kubernetes can't map the host ports to random ports like docker does in docker run -P.

    ports:
    - containerPort: 8080
      hostPort: 1379
      protocol: TCP
    - containerPort: 9090
      hostPort: 1380
      protocol: TCP

Now I have an actual requirement that do

[2017-06-24 15:31] prasenforu commented on #47486
Please help or close.

[2017-06-24 16:31] #47155 closed

[2017-06-24 17:24] #48018 closed

[2017-06-24 17:58] gmarek commented on #47344
We run 4k Node test with services. Things look noticeably better after removal of ip-masq-agent, but we're still not passing. The reason for this is, again, storm of updates from NPD that overload API server. The reason for those updates is fluentd crashloop (OOM). @crassirostris

[2017-06-24 18:29] kfox1111 commented on #46643
see: https://github.com/kubernetes/kubernetes/pull/46444

[2017-06-24 18:43] seanknox commented on #41185
/sig azure

[2017-06-24 19:16] hut8 commented on #22931
@jadhavnitind  You've probably solved this by now, but for those of us like myself who find this as the first hit in Google, check out: https://lemag.sfeir.com/wordpress-cluster-docker-google-cloud-platform/

[2017-06-24 19:38] shyamjvs commented on #47865
And.. the load test failed with services enabled. We are seeing a high qps, like before (similar to https://github.com/kubernetes/kubernetes/issues/47899#issuecomment-310544929). But disabling the ip-masq-agent helped by removing some ooms and the pod-status/events update requests arising due to it from kubelet. But now fluentd seems to do something similar (it was also there before iirc, but ip-m

[2017-06-24 19:46] shyamjvs commented on #47344
To clarify, the storm of updates due to fluentd oom'ing come from kubelet and this is the major component. Ones from npd are just a consequence. Explained in https://github.com/kubernetes/kubernetes/issues/47865#issuecomment-310861405

[2017-06-24 20:28] kargakis commented on #31253
/sig cli

[2017-06-24 20:29] kargakis commented on #31331
/sig testing

[2017-06-24 20:30] kargakis commented on #32432
/sig node

[2017-06-24 20:30] kargakis commented on #32428
/sig testing

[2017-06-24 20:32] kargakis commented on #32425
/sig scalability

[2017-06-24 20:33] kargakis commented on #32457
/sig cluster-lifecycle

[2017-06-24 20:33] kargakis commented on #32488
/sig auth

[2017-06-24 20:33] kargakis commented on #32488
/kind support

[2017-06-24 20:34] kargakis commented on #32553
/sig scalability

[2017-06-24 20:35] kargakis commented on #32600
/sig node
/sig network

[2017-06-24 20:36] kargakis commented on #32605
/sig testing

[2017-06-24 20:36] kargakis commented on #32606
/sig api-machinery

[2017-06-24 20:36] kargakis commented on #32610
/sig scalability
/sig scheduling

[2017-06-24 20:37] kargakis commented on #32653
Closing due to age, reopen if still an issue.

[2017-06-24 20:37] #32653 closed

[2017-06-24 20:37] kargakis commented on #32661
/sig apps

[2017-06-24 20:38] kargakis commented on #32690
/sig testing

[2017-06-24 20:38] kargakis commented on #32723
/sig auth

[2017-06-24 20:38] kargakis commented on #33000
/sig testing

[2017-06-24 20:39] kargakis commented on #33005
/sig testing

[2017-06-24 20:40] kargakis commented on #33358
/sig node

[2017-06-24 20:40] kargakis commented on #33445
/sig node

[2017-06-24 20:40] kargakis commented on #33452
@derekwaynecarr

[2017-06-24 20:41] kargakis commented on #33191
/sig storage
/sig apps

[2017-06-24 20:42] kargakis commented on #33062
@jayunit100 stil an issue?

[2017-06-24 20:42] kargakis commented on #33062
/sig testing

[2017-06-24 20:43] kargakis commented on #33454
/sig apps

[2017-06-24 20:43] kargakis commented on #33454
Not sure if this issue is still valid

[2017-06-24 20:43] kargakis commented on #33314
/sig testing

[2017-06-24 20:44] kargakis commented on #34463
/sig contributor-experience

[2017-06-24 20:44] kargakis commented on #34429
Please redirect support questions in StackOverflow, the kubernetes-users mailing list, or slack.

[2017-06-24 20:44] #34429 closed

[2017-06-24 20:45] kargakis commented on #34337
/sig instrumentation

[2017-06-24 20:45] kargakis commented on #34310
/sig instrumentation

[2017-06-24 20:46] kargakis commented on #34267
/sig aws

[2017-06-24 20:46] kargakis commented on #34292
/sig api-machinery

[2017-06-24 20:46] kargakis commented on #34258
/sig network

[2017-06-24 20:46] kargakis commented on #34240
/sig node

[2017-06-24 20:46] kargakis commented on #34218
/sig aws

[2017-06-24 20:47] kargakis commented on #34027
/sig release

[2017-06-24 20:47] kargakis commented on #34146
/sig cli
/sig api-machinery

[2017-06-24 20:47] kargakis commented on #33877
/sig cli
/sig network

[2017-06-24 20:48] kargakis commented on #33893
/sig network
/sig federation

[2017-06-24 20:48] kargakis commented on #33666
/sig api-machinery

[2017-06-24 20:49] kargakis commented on #33707
/sig storage

[2017-06-24 20:50] kargakis commented on #33613
Does this issue need to move into a separate repo like contrib or community?

[2017-06-24 20:50] kargakis commented on #33505
/sig testing

[2017-06-24 20:50] kargakis commented on #34401
/sig docs

[2017-06-24 20:52] kargakis commented on #35514
/sig aws

[2017-06-24 20:53] kargakis commented on #35250
/sig testing

[2017-06-24 20:54] kargakis commented on #35195
/sig cluster-lifecycle

[2017-06-24 20:54] kargakis commented on #35173
/sig testing

[2017-06-24 20:55] kargakis commented on #35288
/sig cluster-lifecycle

[2017-06-24 20:55] kargakis commented on #35032
/sig node
/sig network

[2017-06-24 20:55] kargakis commented on #35009
/sig release

[2017-06-24 20:56] kargakis commented on #35012
/sig network

[2017-06-24 20:56] #34950 closed

[2017-06-24 20:57] kargakis commented on #34866
/sig network

[2017-06-24 20:58] kargakis commented on #34874
/sig aws
/sig network

[2017-06-24 20:58] kargakis commented on #34886
/sig cli

[2017-06-24 20:58] kargakis commented on #34739
/sig release

[2017-06-24 20:58] kargakis commented on #34746
/sig cli

[2017-06-24 20:59] kargakis commented on #35613
/sig testing

[2017-06-24 21:00] kargakis commented on #35421
Reopen if still an issue

[2017-06-24 21:00] #35421 closed

[2017-06-24 21:00] kargakis commented on #34933
/sig federation

[2017-06-24 21:01] kargakis commented on #34635
/sig release

[2017-06-24 21:01] kargakis commented on #34599
/sig node
/sig network

[2017-06-24 21:02] kargakis commented on #34356
/sig network

[2017-06-24 21:02] #34510 closed

[2017-06-24 21:03] kargakis commented on #33817
/sig cli

[2017-06-24 21:03] kargakis commented on #33773
/sig docs

[2017-06-24 21:03] kargakis commented on #33766
/sig network
/sig cli

[2017-06-24 21:04] kargakis commented on #34312
/sig autoscaling

[2017-06-24 21:04] kargakis commented on #37191
/sig testing

[2017-06-24 21:05] kargakis commented on #37180
/sig testing

[2017-06-24 21:05] kargakis commented on #37004
Please redirect support question in StackOverflow, the kubernetes-users mailing list, or slack.

[2017-06-24 21:05] #37004 closed

[2017-06-24 21:06] kargakis commented on #36876
/sig testing

[2017-06-24 21:06] #36836 closed

[2017-06-24 21:06] kargakis commented on #36843
/sig release

[2017-06-24 21:08] kargakis commented on #36659
Please reopen if it's still an issue in later versions

[2017-06-24 21:08] #36659 closed

[2017-06-24 21:08] kargakis commented on #36729
/sig auth

[2017-06-24 21:08] kargakis commented on #36731
/sig release

[2017-06-24 21:08] kargakis commented on #36156
/sig aws

[2017-06-24 21:09] kargakis commented on #36173
/sig cluster-lifecycle

[2017-06-24 21:09] kargakis commented on #35849
/sig auth

[2017-06-24 21:09] kargakis commented on #35786
/sig api-machinery

[2017-06-24 21:10] kargakis commented on #35636
/sig api-machinery

[2017-06-24 21:10] kargakis commented on #36409
/sig apps

[2017-06-24 21:11] kargakis commented on #35909
/sig auth

[2017-06-24 21:11] kargakis commented on #36391
/sig cli

[2017-06-24 21:14] kargakis commented on #34732
/sig cli

[2017-06-24 21:14] kargakis commented on #33826
/sig scheduling

[2017-06-24 21:15] kargakis commented on #38594
Closing due to age, please reopen if it's still an issue

[2017-06-24 21:15] #38594 closed

[2017-06-24 22:21] k8s-merge-robot opened #48021 "Failure cluster [f37f41...] failed 119 builds, 10 jobs, and 7 tests over 1 days"
### Failure cluster [f37f4141e4673a71e190](https://go.k8s.io/triage#f37f4141e4673a71e190)
##### Error text:
[code]
##### Failure cluster statistics:
7 tests failed,    10 jobs failed,    119 builds failed.
Failure stats cover 1 day time range '23 Jun 2017 21:37 UTC' to '24 Jun 2017 21:37 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Kubectl clie

[2017-06-24 22:54] chrislovecnm commented on #38838
:thumbsup

[2017-06-24 23:55] k82cn commented on #34924
/reopen

I'll trace all related tasks in this issue.

[2017-06-25 00:31] caesarxuchao opened #48023 "AdmissionHookClientConfig.Service only works for port 443"
The [comment](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/admissionregistration/v1alpha1/types.go#L202-L204) on the type says:

[code]

But it really only works if the service port is 443. It's because the serviceResolver only searches for [port 443](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/util/proxy/proxy.go#L50).

At t

[2017-06-25 00:42] cblecker commented on #48019
/remove-sig api-machinery

[2017-06-25 00:43] chrislovecnm commented on #35173
We can close this :)

[2017-06-25 00:43] #35173 closed

[2017-06-25 00:44] chrislovecnm commented on #26708
@spiffxp yah that is kinda not anything I would recommend in production.  But really should that even be part of the base install?

[2017-06-25 01:24] kargakis commented on #36653
/sig cli

[2017-06-25 01:27] kargakis commented on #38303
/sig node

[2017-06-25 01:29] #38239 closed

[2017-06-25 01:35] #38230 closed

[2017-06-25 01:37] #38229 closed

[2017-06-25 01:38] kargakis commented on #37800
/sig node

[2017-06-25 01:42] kargakis commented on #37797
/sig azure

[2017-06-25 01:45] kargakis commented on #38176
Please reopen in the kubernetes/examples repo if this still an issue.

[2017-06-25 01:45] #38176 closed

[2017-06-25 01:52] kargakis commented on #40329
/sig testing

[2017-06-25 01:59] kargakis commented on #39623
/sig instrumentation

[2017-06-25 02:02] justinsb commented on #34874
Removing sig/aws, the controller is shared.

[2017-06-25 02:03] justinsb commented on #35514
kube-up is now fully removed, and kops is an official Kubernetes Community Project.  I more strongly recommend using kops now, but closing this issue as there is nothing we can fix here any longer.

[2017-06-25 02:03] #35514 closed

[2017-06-25 02:06] justinsb commented on #31133
kube-up is now no longer supported for AWS (and is generally deprecated on all platforms).  I personally recommend checking out kops, which has much tighter permissions including on our buckets - still not as strong as I would like, but we're making progress now!

Closing as there's not anything we can fix here any more.

[2017-06-25 02:06] #31133 closed

[2017-06-25 02:08] k82cn commented on #37800
We're going to use CRI for kube-mesos, close this one. If any issue/question on CRI, will log other one.

[2017-06-25 02:08] #37800 closed

[2017-06-25 02:10] kargakis commented on #38877
/sig cli

[2017-06-25 02:29] justinsb commented on #29789
We have yet to come up with a strategy that doesn't have a high chance of collisions, given ELB naming limitations and also the potential for hostile tenants.  We do tag the ELB though with the name of the service though, in the tag kubernetes.io/service-name.

[2017-06-25 02:30] kargakis commented on #38778
/sig node

[2017-06-25 02:31] justinsb commented on #28113
As kube-up is generally deprecated, and we've removed the AWS kube-up code, I'm going to close the issue.

I personally recommend using kops for AWS installations.

[2017-06-25 02:31] #28113 closed

[2017-06-25 02:31] justinsb commented on #28155
We've deprecated kube-up, and removed AWS kube-up entirely, so I'm going to close this issue.  Sorry we didn't get to it!

I personally recommend using kops for installations on AWS.

[2017-06-25 02:31] #28155 closed

[2017-06-25 02:31] kargakis commented on #38733
/sig ui

[2017-06-25 02:35] kargakis commented on #38962
/sig release

[2017-06-25 02:35] gyliu513 commented on #34924
/unassign

[2017-06-25 02:53] liggitt commented on #35909
What denial are you seeing? The kubernetes authorization layer isn't involved in traffic to services other than the kubernetes service

[2017-06-25 02:55] NickrenREN opened #48024 "K8s compile script can not trigger some syntax errors"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**What happened**:
I ran into a syntax error but script can not trigger it. #47225

**What you expected to happen**:
Script can show all the syntax errors

 /kind bug

[2017-06-25 02:55] shiywang opened #48025 "jsonpath umbrella issue"
Currently our jsonpath initial realization is in this pr: https://github.com/kubernetes/kubernetes/pull/11738 we found lot of problem or bugs with this version of implementation below:

- [ ] https://github.com/kubernetes/client-go/issues/158 (JSONPath parser will not filter strings containing parentheses)
- [ ] https://github.com/kubernetes/kubernetes/issues/45546 (jsonpath: missing `left' in fil

[2017-06-25 02:56] shiywang commented on #48025
/sig cli

[2017-06-25 03:00] NickrenREN commented on #48024
/sig testing

[2017-06-25 03:01] NickrenREN commented on #48024
/remove-sig api-machinery

[2017-06-25 03:04] gyliu513 commented on #48020
Please check if https://github.com/kubernetes/kubernetes/issues/23920 can help

[2017-06-25 03:30] shiywang commented on #48010
/assign

[2017-06-25 04:16] eparis commented on #37191
bot keeps these in sync now.

[2017-06-25 04:16] #37191 closed

[2017-06-25 04:34] xiangpengzhao commented on #48020
/remove-sig api-machinery
/sig network

[2017-06-25 05:17] k82cn commented on #48024
@jinzhejz , please help to check this.

[2017-06-25 05:20] CaoShuFeng commented on #48024
I don't think this is an issue.
I think "==" operator returns an "untyped bool" so the compile accept it.
https://github.com/kubernetes/kubernetes/pull/47225#issuecomment-310883007
I am still googleing some document about this.

[2017-06-25 05:26] k82cn commented on #48024
@CaoShuFeng , thanks; waiting for the doc about that :).

[2017-06-25 06:14] CaoShuFeng commented on #48024
This document explains the usage about "untyped string", it also works for "untyped bool"
https://blog.golang.org/constants

This is OK:
package main
import "fmt"
type Verbose bool
func main() {
        a := 0
        var b Verbose = (a == 0) // assign success because "a == 0" is untyped
        fmt.Printf("%v\n", b)
}

This is bad:
package main
import "fmt"
type Verbose bool
func main() {

[2017-06-25 09:44] xiangpengzhao commented on #47976
See: https://github.com/kubernetes/kubernetes/issues/28551

[2017-06-25 09:44] xiangpengzhao commented on #47976
See: https://github.com/kubernetes/kubernetes/issues/28551

[2017-06-25 10:04] mkumatag commented on #47976
I feel same as https://github.com/kubernetes/kubernetes/issues/28548

[2017-06-25 10:53] haimari commented on #23672
Hello
Got the same issue...
https://stackoverflow.com/questions/44702715/kubernetes-pod-fails-with-crashloopbackoff

[2017-06-25 10:54] haimari commented on #23672
@a-robinson
Hello
Got the same issue...
https://stackoverflow.com/questions/44702715/kubernetes-pod-fails-with-crashloopbackoff

[2017-06-25 10:55] obeattie commented on #36485
This has bitten us pretty hard in production – we have several uses of init containers to perform initialisation of the network (eg. setting up tunnel interfaces). If the host restarts this state is obviously lost.

[2017-06-25 12:46] shiywang commented on #19163
@zefciu are you working on this, if not I will take a look

[2017-06-25 12:47] shiywang commented on #19163
/assign

[2017-06-25 12:54] shiywang commented on #47932
Is this already been fixed in https://github.com/kubernetes/kubernetes/pull/47945 ?

[2017-06-25 13:34] #47932 closed

[2017-06-25 14:28] gyliu513 opened #48027 "kubectl does not include `roles`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
There is no `roles` help in `kubectl get`

When I enabled RBAC, then I can get all roles, but there is no help info for it.

[code]

**What you expected to happen**:
`kubectl get` help should include roles.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**

[2017-06-25 14:28] gyliu513 commented on #48027
/sig cli

[2017-06-25 14:28] gyliu513 commented on #48027
/kind bug

[2017-06-25 16:14] ianchakeres commented on #45143
On Thursday (6/22/2017) I met with @lavalamp to chat about the various options discussed in this thread. CC: @saad-ali

We focused on two options that could be used to resolve this issue:
1. Bind PVC and pods more closely using multi-phase locking
   * PVCs maintain references to related pods when in particular states. Related PVs should not be used until the pod/pvc relationship is committed. Whe

[2017-06-25 16:26] smarterclayton commented on #45143
The first one doesn't scale well, the latter sounds like a perfect
match for the finalizer usecase (but you need to mark the pvc as being
in graceful deletion to prevent new pods and kubelets from being able
to use it).

[2017-06-25 16:34] kargakis commented on #31524
/sig auth

[2017-06-25 16:36] kargakis commented on #32880
/sig node

[2017-06-25 16:37] kargakis commented on #37408
Please move in the kubernetes/examples repo, if this is still an issue.

[2017-06-25 16:37] #37408 closed

[2017-06-25 16:38] kargakis commented on #37805
/sig node

[2017-06-25 16:38] kargakis commented on #37556
/sig release

[2017-06-25 16:38] kargakis commented on #37598
/sig release

[2017-06-25 16:39] kargakis commented on #40298
/sig node
/sig docs
/kind documentation

[2017-06-25 16:40] kargakis commented on #40302
/sig docs

[2017-06-25 16:40] #38279 closed

[2017-06-25 16:41] kargakis commented on #38297
/sig api-machinery
/sig testing

[2017-06-25 16:44] kargakis commented on #38267
/sig network
/sig apps

[2017-06-25 16:47] kargakis commented on #37995
/sig node

[2017-06-25 16:49] kargakis commented on #38267
At the controller level, autopausing is also a solution: https://github.com/kubernetes/kubernetes/issues/11505

You can use auto-pausing in 1.7 with StatefulSets. Look out for the partition field in the rolling parameters.

[2017-06-25 16:51] thockin commented on #47992
https://github.com/kubernetes/dns/blob/master/docs/specification.md

The spec makes no such guarantee.  It says it requires an A for the hostname, which is defines as either "The value of the endpoint's hostname field" or "A unique, system-assigned identifier for the endpoint. The exact format and source of this identifier is not prescribed by this specification"

Now, I suppose we *could* use the

[2017-06-25 16:55] thockin commented on #48019
Yeah, I can see how you would expect this to work.  It doesn't, but I could see how you would want it to.

The search path is limited, and we already take a lot of flak for abusing it.  We can't add another entry to it.  We could maybe have a way for pods to opt-in to some variant of behavior, but that might be surprising to some.

Open to ideas...

[2017-06-25 17:22] spil-dennis commented on #47992
I agree that the spec doesn't state my assumption explicitly. Somehow I expected that the "unique, system-assigned identifier" would be the system assigned pod name. Looking through the code, i see that there's a hash created from the ip and port. There is however no (obvious) way to actually retrieve the dns name generated, which raises the question why the record is created in the first place.

[2017-06-25 17:32] ianchakeres commented on #35054
My team ran into this issue recently, and I decided to write up some documentation for the kubectl cheatsheet. You can find the PR at https://github.com/kubernetes/kubernetes.github.io/pull/4186.

Please chime in on the PR with comments and whether it looks good.

FYI: @pwittrock @mikegrass @dhegde @krmayankk

[2017-06-25 17:32] dgageot commented on #48019
Yeah, I was afraid the limited size of the search path would be an obstacle. It seems so logical that a container that is part of a subdomain would search in that domain first.

I wonder how I can patch the `resolv.conf` the clean way. I currently mount a subpath from a configmap. But that's not very portable...

[2017-06-25 17:43] kargakis opened #48031 "Basic StatefulSet functionality [StatefulSetBasic] should provide basic identity is flaky"
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47014/pull-kubernetes-e2e-gce-etcd3/37616/

@kubernetes/sig-apps-test-failures

[2017-06-25 17:47] kargakis commented on #39909
/sig storage

[2017-06-25 17:51] kargakis commented on #39235
/sig windows
/sig docs

[2017-06-25 17:53] kargakis commented on #39198
/sig network
/kind feature

[2017-06-25 17:53] kargakis commented on #38970
/sig docs

[2017-06-25 17:53] #38933 closed

[2017-06-25 17:54] kargakis commented on #38849
/sig docs

[2017-06-25 17:54] kargakis commented on #38811
/sig node

[2017-06-25 17:55] kargakis commented on #37466
/sig scalability

[2017-06-25 17:57] liggitt commented on #48027
This should stop being hard coded and work from discovery

[2017-06-25 17:58] liggitt commented on #48010
It's a missing printer. There are two issues:
1) the printer is missing
2) kubectl should fall back to a generic printer for types without registered printers

[2017-06-25 21:45] thockin commented on #47992
Implementation detail of SkyDNS that leaked through.

The pod doesn't know a full DNS-resolvable name unless you set hostname AND subdomain.  Only hostname can be automatically set :(  That would give you a DNS-resolvable name, but the pod itself doesn't know that name.

[2017-06-25 21:56] gyliu513 commented on #48027
Thanks @liggitt , does there are any discussion for this?

[2017-06-25 22:13] timothysc commented on #27790
/cc @ncdc

[2017-06-25 22:22] k8s-merge-robot opened #48035 "Failure cluster [312beb...] failed 85 builds, 4 jobs, and 1 tests over 1 days"
### Failure cluster [312beb2c099bf62e2c33](https://go.k8s.io/triage#312beb2c099bf62e2c33)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    4 jobs failed,    85 builds failed.
Failure stats cover 1 day time range '24 Jun 2017 22:03 UTC' to '25 Jun 2017 22:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 4 |

##### Top f

[2017-06-25 23:51] timothysc commented on #47954
This sounds exactly like: https://github.com/kubernetes/kubernetes/issues/33557 , where we had too many connections per client.

[2017-06-25 23:58] kfox1111 commented on #36485
I think this will eventually bite the openstack on k8s projects. Didn't realize this behavior. Having it be configurable per init-container would be great.

[2017-06-26 00:26] timothysc commented on #18610
@luxas you need more details on that statement.

[2017-06-26 01:43] sumitkgaur commented on #47031
Hello ZhenyangZhao .. I face same issue on my trial for federation . Could you help me what have you corrected in your setup ?  what was your mistake that you corrected ?

[2017-06-26 01:43] chrislovecnm commented on #39573
Closing

[2017-06-26 01:43] #39573 closed

[2017-06-26 01:46] smarterclayton commented on #47954
Is this a "retryable" error?  Our "retry on temporary error" logic is
old and tattered and needs to be improved - using the new interface in
Go for temporary errors might have handled this as well.

[2017-06-26 01:52] ZhenyangZhao commented on #47031
@sumitkgaur

I use this command and it's running corrected. Sorry for that i forgot some details, because from now for long time.
[code]

[2017-06-26 01:57] caesarxuchao commented on #48010
A sample initializerConfiguration to make it easier for people to reproduce:
[code]

[2017-06-26 02:19] NickrenREN commented on #48024
Good to know. But i still don't think it's a good habit to do like that.

[2017-06-26 02:19] #48024 closed

[2017-06-26 02:32] CaoShuFeng commented on #48024
Yeap,  I aggree with you @NickrenREN .

[2017-06-26 02:39] CaoShuFeng commented on #47304
When I enable IPV6, this test passes.
1. write this to /etc/sysctl.d/99-sysctl.conf:
sysctl -w net.ipv6.conf.all.disable_ipv6=0
2. reboot

[2017-06-26 02:52] k82cn opened #48038 "How to manage const var in k8s?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
tech debt

/kind tech-debt

**Description**:

When working on #46948 , I try to move `kubernetes.io/hostname` into `pkg/api` to make scheduler dependent on api instead of kubelet.

But how about the others?

* If we move all shared const vars into api, component contributors may request PR cross components
* if not, spread const vars in diferent compon

[2017-06-26 02:52] k82cn commented on #48038
/kind tech-debt

[2017-06-26 02:53] k82cn commented on #48038
/labels tech-debt

[2017-06-26 03:37] rodawg commented on #46641
@bjornswift any luck with those settings? I haven't seen another occurrence until an hour ago, without those settings mentioned earlier.

[2017-06-26 03:48] ash2k commented on #47889
/kind bug

[2017-06-26 03:51] ash2k commented on #43430
/kind bug

[2017-06-26 03:54] bjornswift commented on #46641
@rodawg Unfortunately these settings haven't helped us. We've seen incidents on the 16th, 17th, 18th, 22nd, 24th, 25th and then now right around midnight June 26th (4 hours ago).

We've managed to mitigate most impact by extending the pod eviction time. That means that pods don't get deleted (and continue to service established connections, which is important for us). However, they get removed as

[2017-06-26 04:28] krmayankk commented on #47326
@msau42

I just tested by manually editing the PV's claimRef of an already Bound PV. I made the claimRef empty string, and soon the PV became Available and  remaining available for ever. Is this a bug . Again all my tests are on 1.5.3

[2017-06-26 04:38] krmayankk commented on #46932
@kargakis is there a plan to get  rid of the hashing altogether ?

[2017-06-26 04:56] spil-dennis commented on #47992
I don't see how, not adding a record shouldn't cause any issues? Better not create records that will never actually be used.

That doesn't seem true. If you set **only** a subdomain then /etc/hosts in the pod will contain the full resolvable DNS name, built out of the pod name, subdomain and namespace:

[code]

And for example an airflow worker actually communicates this name to the master.
It wou

[2017-06-26 05:19] ash2k opened #48039 "Unstructured converter assumes target map is empty"
/kind bug
/sig api-machinery

**What happened**:
`ToUnstructured()` method in converter from `apimachinery/pkg/conversion/unstructured` assumes the destination map is empty. I almost introduced a bug where I expected it to overwrite contents of the map I have - I think this is a natural thing to expect, isn't it? This is a landmine IMHO.

**What you expected to happen**:
Map contents should be ful

[2017-06-26 05:51] davidopp commented on #12140
One of the key se cases we're interested in is re-spreading pods when a zone comes back online after having failed. The pods will have been moved onto nodes in the non-failed zones, so we would want to rebalance load by moving some back to the recovered zone. This is similar to a node failing and then recovering, but on a larger scale.

[2017-06-26 05:52] luxas commented on #31331
@m1093782566 Why close this? The PR is still in flight: https://github.com/kubernetes/kubernetes/issues/44910

[2017-06-26 05:56] luxas commented on #18610
@timothysc I'm hoping we could get an updated proposal in for this during the v1.8 timeframe and an implementation in the v1.9/v1.10 timeframe. What more details do you want?

[2017-06-26 05:59] davidopp commented on #42001
ref/ #42002

[2017-06-26 06:23] k82cn commented on #48038
@k8s-mirror-api-machinery-misc

[2017-06-26 06:29] wasylkowski commented on #18097
I did not exactly do this, but I did add a test that measures HPA+CA performance using ginkgo's infrastructure. My test runs only once, but it can be run multiple times (not sure if in parallel, though).

The test is here: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/autoscaling/autoscaling_timer.go

[2017-06-26 06:44] krmayankk commented on #12140
this feature request is extremely similar https://github.com/kubernetes/kubernetes/issues/47965

[2017-06-26 06:51] davidopp opened #48041 "Need authorization for setting tolerations"
A primary use case for taints and tolerations is to allow an administrator to statically carve a cluster into [dedicated node groups](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/taint-toleration-dedicated.md). The administrator sets (for example) a NoSchedule taint `dedicated=xxx` on a node to indicate that it is part of the `xxx` dedicated node group. (There

[2017-06-26 07:01] nikhiljindal commented on #44232
@shashidharatd Do you know how we resolved that problem? Did we need an explicit fix or the problem vanished? I dont see any PR linked to this issue.

[2017-06-26 07:08] nikhiljindal commented on #44232
Found https://github.com/kubernetes/kubernetes/pull/46863. So the problem exists for both federation and kube open api specs.

cc @mbohlool

[2017-06-26 07:12] nikhiljindal commented on #44232
I am catching up here.
Looks like the problem was fixed already by https://github.com/kubernetes/release/pull/328.

Closing this as dup of https://github.com/kubernetes/release/issues/326.

[2017-06-26 07:12] #44232 closed

[2017-06-26 07:12] aga20 commented on #46253
+1
@cjyar maybe have you got any workaround/solution?

[2017-06-26 07:38] luxas opened #48045 "kubelet race condition: concurrent map writes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubelet crashed: `fatal error: concurrent map writes`

<details>

[code]

</details>

**What you expected to happen**:

kubelet would function normally

**How to reproduce it (as minimally and precisely as possible)**:

`kubeadm init --kubernetes-version v1.7.0-rc.1` where `kubeadm`, `kubectl` and `kubelet` binaries on ho

[2017-06-26 07:38] mikedanese opened #48046 "Do informers without resync/relist violate controller design best practices?"
This came up in https://github.com/kubernetes/kubernetes/pull/47788. We have a controller design principle state [here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/principles.md#control-logic) that:

Do shared informers that never resync or relist violate this design principle? Did something change to make this no longer necessary? The shared informers used by

[2017-06-26 07:40] luxas commented on #48045
cc @bradfitz for Golang triaging

[2017-06-26 07:57] ebbeelsborg commented on #10710
@thockin I'm interested in working on this and I see that help is wanted. I'd be happy to start hacking away at some minimalistic PRs fixing one small thing at a time, but perhaps it would prudent to first break this issue down into numerous small, concrete tasks that can then be prioritized/parallelized. Any thoughts/opinions on which approach/process is desired here?

It would also be nice to si

[2017-06-26 08:27] davidopp commented on #48046
I interpret that statement as meaning the component needs to be able to retrieve all the state it needs when it starts up, and also needs to detect when it has missed updates (so it can relist). I don't read it as requiring any periodic reslist/resync. But @kubernetes/sig-api-machinery-misc would have the authoritative answer...

[2017-06-26 08:43] gmarek commented on #47777
I don't know if it does @kubernetes/sig-node-feature-requests.

[2017-06-26 09:08] #35786 closed

[2017-06-26 09:13] matthiasr commented on #34739
FTR, I checked and this is still the case as of [1.7.0-rc1](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#v170-rc1).

[2017-06-26 09:19] xiangpengzhao commented on #36752
/sig instrumentation

[2017-06-26 09:22] hjacobs commented on #38267
We introduced weighted traffic switching in our Skipper Ingress HTTP router: https://github.com/zalando/skipper/issues/324
We annotate different backend weights in the Ingress YAML. This solves the problem for us.

[2017-06-26 09:33] xiangpengzhao commented on #37829
I can't reproduce this on v1.5.1. We are going to close this. Feel free to reopen if you still face this on the latest version.

/cc @thockin

[2017-06-26 09:52] shyamjvs commented on #47865
We can either try running fluentd with higher memory limits or try finding and reducing the source of this high logs traffic. The only difference between this run and the last run (which passed) is enabling of services, so kubeproxy should be the one doing the mischief. We have the logging verbosity level set to v1 (https://github.com/kubernetes/test-infra/blob/master/jobs/ci-kubernetes-e2e-gce-en

[2017-06-26 09:55] shyamjvs commented on #47865
kube-proxy.log was 920B without services and ~6-7 GBs (rotated logs included) with services. It's mainly because of printing out iptables rules which is too much to log for large clusters with many services.
cc @kubernetes/sig-network-misc

[2017-06-26 10:01] crassirostris commented on #47865
@shyamjvs

Those are different problems. Quota issues are expected to go away in the coming week, OOM issues are expected under the high load (more than 200KB/sec)

[2017-06-26 10:07] gmarek commented on #47865
@bowei, @kubernetes/sig-network-bugs - KubeProxy shouldn't log this much on v1 level. @shyamjvs is going to file an issue for that.

[2017-06-26 10:13] gmarek commented on #47344
Discussed F2F - we're not sure why NPD tries to do anything in case of container OOM. @kubernetes/sig-node-bugs @dchen1107 @Random-Liu - do you know why NPD tries to patch NodeStatus in such scenario? Shouldn't Kubelet handle that? Currently it seems that if some Containers would be crashlooping we'll get into pretty bad failure loop, from which we can't recover given big enough scale. @derekwayne

[2017-06-26 10:16] shyamjvs opened #48052 "kube-proxy logs exploding in 4000-node scale tests with services enabled"
Ref https://github.com/kubernetes/kubernetes/issues/47865#issuecomment-311014423

From our recent scale test runs:
- With services disabled, size of kube-proxy.log = 921B
- With services enabled, size of kube-proxy.log (+ rotated logs) = ~6 GB

The reason is we are printing the whole iptables (which is super big in our tests) in case of failure in the restore step (this line -https://github.com/ku

[2017-06-26 10:21] shyamjvs commented on #47865
Filed an issue.
@crassirostris Thanks for the lead.

If that's the case, we are sure to thrash fluentd even on moderately big clusters with quite some service endpoints as just [this line](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L1574) in kube-proxy can create a logline of multiple MBs.

[2017-06-26 10:40] n-marton commented on #47831
Did You stop the kubelet service before starting it manually?

[2017-06-26 10:46] shiywang commented on #48010
@liggitt for issue 1, I already add in that pr, for issue 2, the problem is here https://github.com/shiywang/kubernetes/blob/d2fb9cbc18df52405b614f696db8ebea0c49ba5d/pkg/printers/humanreadable.go#L383-L383, type assertion failed, so how should we determine when to fall back ?
like
[code]

[2017-06-26 11:10] spil-dennis commented on #47992
Some further info to elaborate my assumptions:
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/ states:

Then goes on to explain what to do to override this hostname. This text also explains the requirement of the subdomain field to be equal to the service name for a pod DNS name to be created, as well as what the FQDN the pod would be.

Given the above description, i think

[2017-06-26 11:17] xiangpengzhao commented on #34345
I reproduce the issue on v1.5.1 but I don't reproduce it on HEAD. So I think this was fixed in some version later than v1.5.1.

@thockin can we close this issue then?

[2017-06-26 11:28] m1093782566 commented on #31331
oops... I closed it by mistake.

[2017-06-26 11:38] luxas commented on #31331
ok, no worries

[2017-06-26 11:40] ravisantoshgudimetla commented on #48052
/cc me @jeremyeder

[2017-06-26 11:44] ZhangYou0122 commented on #42701
same issue here for v1.6.6, is there any fix around?

E0626 19:20:38.463655   19598 event.go:259] Could not construct reference to: '&v1.Node{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:v1.ObjectMeta{Name:"hz01-matrix-docker-0009.hz01.baidu.com", GenerateName:"", Namespace:"", SelfLink:"", UID:"", ResourceVersion:"", Generation:0, CreationTimestamp:v1.Time{Time:time.Time{sec:0, nsec:0

[2017-06-26 11:50] spil-dennis commented on #47992
Related bug reports on kubernetes/dns:
https://github.com/kubernetes/dns/issues/116
https://github.com/kubernetes/dns/issues/117

[2017-06-26 11:54] gmarek opened #48058 "In case of correlated failures Node agents can overload API server"
Spin-off of #47899.

During our performance tests we run into issue when fluentds were crashlooping on all Nodes (OOM caused by too many log lines from components). While this is important Event and it should be reflected in Status and/or Event it shouldn't overload API server. We need to understand how many API requests are sent from the Node in case of such OOM, and figure out what to do to redu

[2017-06-26 11:57] ravisantoshgudimetla opened #48059 "kubectl drain needs to be typecasted to node object instead of using Values after introspection."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
Kubectl drain uses the values after reflection instead of typecasting once it the node object is confirmed(https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/drain.go#L624). While working on taints for #44944, we noticed that this causes extension to be round about, So, converting the object to node

[2017-06-26 11:59] ravisantoshgudimetla commented on #48059
/cc @mml
/sig cli

[2017-06-26 12:00] k82cn commented on #42701
@anilreddyv , @ZhangYou0122 the fix was not included in 1.6; if necessary, we can backmerge it.

[2017-06-26 12:06] gmarek commented on #48052
cc @kubernetes/sig-network-bugs

[2017-06-26 12:37] jeremyeder commented on #48052
Why is the restore step failing?

[2017-06-26 12:38] gmarek opened #48061 "DNS is not starting in large cluster"
IMPORTANT NOTE: we have only 1 data point for it for now, but we'll rerun the test to confirm.

On 1k Node cluster (at least on GKE) DNS pod is crashlooping because of liveness probe failure:
[code]

@kubernetes/sig-network-bugs @kubernetes/sig-release-bugs @dchen1107 @bowei. @kubernetes/sig-scalability-misc

[2017-06-26 12:45] shyamjvs commented on #48052
fyi, the logs for the run are here - http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-enormous-cluster/10/

[2017-06-26 12:50] gmarek commented on #48052
@jeremyeder - someone from networking team need to take a look, as I can only guess.

[2017-06-26 12:54] ravisantoshgudimetla commented on #48058
/cc me @jeremyeder

[2017-06-26 12:56] shyamjvs commented on #48052
@jeremyeder Not very sure, but the logs say:
[code]

[2017-06-26 13:03] deads2k commented on #48046
It's not strictly a need to relist, but to consider the watch to be an optimization on a relist.  Given informers, a controller will may get notified of a change, but never see a *particular* change.  For instance:

 1. foo/a.spec.one updated to alpha
 2. controller is notified, but has a backed up internal queue
 3. foo/a.spec.one updated to bravo
 4. controller is notified, but the first change

[2017-06-26 13:10] cdrage commented on #26444
@spiffxp Docker local development has been deprecated, so I'm going to close this issue as it's been changed / redirected to Minikube as an alternative.

[2017-06-26 13:10] #26444 closed

[2017-06-26 13:29] jsafrane commented on #44372
@Calpicow, this looks like a different bug. The log snippet shows that a PVC was deleted by something and Kubernetes tries to delete a PV as a consequence. It does not show a PVC getting Lost because something has deleted a PV.

Please create a new issue and post there longer controller-manager log snippet where a PVC gets Lost + few minutes before.

[2017-06-26 13:40] bergman commented on #45419
I'm seeing this problem in 1.6.4 and 1.6.6 (on GKE) with flapping NotReady as the result. Since this is the latest version available on GKE I'd love to have any fixes backported to the next 1.6 release.

One interesting thing is that the time that PLEG was last seen active doesn't change and is always a _huge_ number (perhaps it's at some limit of whatever type it's stored in).

`[container runtim

[2017-06-26 13:46] gmarek commented on #48061
Confirmed that it happened again. Good thing is that it works fine on GCE, so it's not a blocker.

[2017-06-26 13:50] mashayev opened #48064 "New images with Docker 1.12"
Hi,

I'm creating my K8S cluster in CGE with `kube-up.sh`, I see that the default docker is 1.11.
Is there any ETA when new images with Docker 1.12 will be released as default?

[2017-06-26 13:52] jsafrane commented on #44460
Feel free to reshuffle the functions into one util directory (or file), there is no smart idea behind the current directory structure. Was `volumehelper` created to break an import cycle? I don't remember any more.

[2017-06-26 13:59] mashayev commented on #48064
/area docker /sig node

[2017-06-26 14:03] timothysc commented on #18610
I consider this a nice to have for self-hosted HA, but not a prerequisite, so what are the thoughts here?

/cc @roberthbailey

[2017-06-26 14:12] Bplotka commented on #47937
+1 Just bumped into this issue as well, but for `statefulset` - really confusing.

Had these schemas:
[code]
Deletion of `~/.kube/schema ` helped.

Can we at least improve error message? It does not make sense for end user:
[code]
Especially that the same spec works for me for ALL other versions of k8s than 1.5.7

[2017-06-26 14:16] mikedanese commented on #48041
I suspect we want to add tolerations to pod security policy.

[2017-06-26 14:21] jsravn commented on #32992
Update: we moved to dnsmasq which works great. kube-dns is still somewhat a weak spot though, with internal queries failing rarely (but more than any of our other DNS servers). Other issues for that though.

[2017-06-26 14:23] liggitt commented on #48041
Actually, today, nodes can taint/untaint themselves (since they have write permission to their own spec. We want to restrict nodes' ability to steer pods to themselves by adding labels to themselves, or removing taints from themselves.

[2017-06-26 14:28] timothysc commented on #36752
Why has this been re-opened?

[2017-06-26 14:34] fabxc commented on #32610
I think this can be closed given today's state of kube-state-metrics.

[2017-06-26 14:34] tadas-subonis opened #48069 "Environment variables are not re-interpolated when re-applying deployment"
/kind bug

**What happened**:
The environment variables were not interpolated
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

create environment variable like this
[code]

do "kubectl apply -f ."

add another variable:

[code]

and if you bash'in in the container, the command "env" will print value for REDIS_URL with not interpolated $(REDIS_PAS

[2017-06-26 14:35] kargakis commented on #47937
@kubernetes/sig-cli-bugs it seems that from multiple schemas we should pick the correct one (or at least the best choice we can do?) based on the server version. In case there is a mismatch between the cached and the server version, we should at least warn about it.

[2017-06-26 14:36] timothysc commented on #48061
/cc @kubernetes/sig-cluster-lifecycle-misc FYI to keep eyes open.

[2017-06-26 14:46] liggitt commented on #48010
I expect it will look something like this: https://github.com/kubernetes/kubernetes/pull/48033

[2017-06-26 14:55] piosz opened #48071 "Add possibility to change fluentd requests on master and nodes independently"
Master is fully packed and we need more space there. We want to decrease fluentd cpu request from 100m to 90m. Currently it's not possible without changing it on nodes also and we don't want to decrease it there.

Follow up #47906 #48066

[2017-06-26 14:55] piosz commented on #48071
cc @gmarek @mwielgus @mikedanese @fgrzadkowski

[2017-06-26 14:55] jwomeara commented on #46839
*bump*

[2017-06-26 14:56] ReneSaenz commented on #24229
@pieterlange How can I email you?  I have a question

[2017-06-26 15:00] luxas commented on #24229
Also @mhausenblas dropped this in the sig-cluster-lifecycle chat today: https://hackernoon.com/introducing-reshifter-for-kubernetes-backup-restore-migration-upgrade-ffaf78da36

Probably useful for subscribers to this thread, thanks @mhausenblas for working on it!

[2017-06-26 15:07] gmarek commented on #36752
It's not done yet.

[2017-06-26 15:32] mamoit commented on #30518
Is ALB as an ingress already a thing?
This issue seems to be quite idle for its importance.

[2017-06-26 15:37] xiangpengzhao commented on #40369
/sig storage

[2017-06-26 15:40] piosz commented on #41159
With this configuration you use the default 1 minute metric time window.

[2017-06-26 15:43] cjyar commented on #46253
@aga20 If the kubelet restarts, you need to kill all the GlusterFS-using pods on that node.

[2017-06-26 15:44] #32610 closed

[2017-06-26 15:45] wongma7 commented on #37797
can close this issue iirc was something that needed fixing on the app side

[2017-06-26 15:46] davidopp commented on #48041
@mikedanese : @Q-Lee had a proposal for using PodSecurityPolicy here https://github.com/kubernetes/community/pull/721 but I didn't have a chance to read it. I think @bgrant0607 was objecting because it required too big a change in PSP, or something like that. Anyway, I don't in principle have a problem with using PSP, just haven't thought about how it would work.

@liggitt : While it's true that t

[2017-06-26 15:46] kargakis commented on #48064
/remove-sig api-machinery
/sig release

[2017-06-26 15:47] smarterclayton commented on #48010
My pr #48033 is part of the solution for this, so i'll cover it there.

[2017-06-26 15:50] davidopp commented on #47965
I agree with @krmayankk , this is a dupe of #12140. I'm going to close it, please reopen if you think the use case is not covered by that issue.

[2017-06-26 15:50] #47965 closed

[2017-06-26 15:54] ReneSaenz commented on #21582
@colhom How can I email you?  I have a question

[2017-06-26 15:55] #47382 closed

[2017-06-26 15:55] mhausenblas commented on #24229
Thank you very much for pointing this out here @luxas! I'd be delighted to demo it in the SIG Cluster Lifecycle as well. Will join tomorrow and let's take it from there?

[2017-06-26 16:00] spzala commented on #47361
@chenopis @pwittrock hello, just a gentle reminder on what are your thoughts for the next step :-) Are we good at removing docs directory (and all it's references, and that we don't need to generate the docs any more) per discussion above? If so, I can work on making those changes. Thanks!

[2017-06-26 16:12] chenopis commented on #47361
@spzala Currently, the autogenerated docs for kubectl and kubeadm are first generated in the kubernetes/kubernetes repo, then imported into kubernetes/kubernetes.github.io. So, we do still need the autogeneration process. But can that be moved to the kubectl and kubeadm repos or directly in kubernetes/kubernetes.github.io?

[2017-06-26 16:18] grobie commented on #32610
@fabxc Can you describe how today's state of kube-state-metrics is different that it doesn't longer matter that monitoring a node requires the API and the kube-state-metrics service to be available?

[2017-06-26 16:18] xiangpengzhao commented on #31208
/sig cluster-ops

[2017-06-26 16:18] msau42 commented on #47326
@krmayankk A user is not going to "accidentally" delete the PV claimRef.  An admin would have to intentionally do that.  Is that a scenario you really want to protect from?  I thought the scenario you are worried about is if a user accidentally deletes their PVC.

[2017-06-26 16:23] zmerlynn commented on #47920
I'm not clear why it was closed, but c.f. https://github.com/kubernetes/kubernetes/issues/3013. Unless that's been fixed, our test binaries can't be isolated from k8s binaries.

[2017-06-26 16:24] whitlockjc commented on #47972
I'm still learning the rules around API group locations and such.  I defer to @lavalamp.

[2017-06-26 16:38] timothysc commented on #47920
I want to make certain this isn't lost as the 1.7 series continues on.

From tracing through `quick-release` I think the path that makes the most sense is to leverage the hyper-kube container build and add a target for e2e.

[2017-06-26 16:45] #47766 closed

[2017-06-26 16:52] yujuhong commented on #48045
/cc @jingxu97 for the recent change in GetNodeAllocatableReservation (#46456)

[2017-06-26 16:54] yujuhong commented on #48045
Marking 1.7 until this is properly triaged.
/cc @dchen1107

[2017-06-26 16:55] luxas commented on #48045
Yes, this may be a release blocker.
It doesn't seem to occur often, but the harder it is to notice, the more dangerous it can be (Nodes crashing at any time in a previously healthy cluster)

[2017-06-26 16:56] spiffxp commented on #47865
/remove-priority P0
/priority critical-urgent

[2017-06-26 17:00] yujuhong commented on #48052
How many services/endpoints do we support for the size of the cluster? Is this documented anywhere?

[2017-06-26 17:00] shyamjvs commented on #47865
FYI, we are now running the test with fluentd disabled but services still enabled to check if there's any problem with kube-proxy.

[2017-06-26 17:05] Calpicow commented on #44372
Before I create an issue... the PVC is definitely not getting deleted. Below is the result when the PV disappears:

[code]

[2017-06-26 17:12] dchen1107 commented on #48045
This is a new regression introduced in 1.7 release by adding local storage (scratch space) allocatable support. @jingxu97 is out for vacation, @vishh can you take a look at it?

cc/ @kubernetes/sig-storage-bugs

[2017-06-26 17:14] shyamjvs commented on #48052
From my understanding this isn't documented and in fact we don't give any strong promises on services, one of the reasons being our current SLOs (which we focus on in our scale tests) don't include anything particular to services. The plan is to extend them to include such things in the upcoming quarter(s).
@gmarek Comments?

[2017-06-26 17:26] janetkuo commented on #47766
This is fixed by #47886

[2017-06-26 17:28] ixdy commented on #36843
I think this is obsolete.

[2017-06-26 17:28] #36843 closed

[2017-06-26 17:36] yujuhong commented on #45419
@bergman I haven't seen this but if this is the case, your node would have never been ready. Feel free to report this through the GKE channel so that the GKE team can investigate more.

This is certainly possible. Image GC could sometimes cause docker daemon to respond extremely slowly. 30-45 minutes sounds quite long. @zoltrain, was images getting removed throughout the entire duration.

To reite

[2017-06-26 17:40] gnufied commented on #45143
There is a plan to use attach/detach controller as a fencing mechanism to prevent RWX of RWO volume types. As part of that effort, I am proposing that - we introduce a `node` field in PVC status (for now I am considering PVC but it can change to PV).

This field is updated on attach and detach. All volume types implement either a logical attach/detach(iSCSI, NFS etc) or real attach/detach and henc

[2017-06-26 17:42] dchen1107 commented on #48052
@bowei  please triage this one. I don't think this is a release blocker for 1.7 though.

[2017-06-26 17:44] enisoc commented on #47960
@caesarxuchao Why doesn't this happen for every `kubectl delete rs`? Is it a race? Or dependent on `kubectl` version?

[2017-06-26 17:44] spiffxp commented on #31620
/sig aws

[2017-06-26 17:45] dchen1107 commented on #48064
@mashayev In 1.6 release, sig-node team already announced that docker 1.12.6 is compatible and support with Kubernetes. Same with k8s 1.7 release.

[2017-06-26 17:47] spiffxp commented on #34728
/sig api-machinery

[2017-06-26 17:47] spiffxp commented on #35499
/sig node

[2017-06-26 17:48] dchen1107 commented on #48061
Can someone explain a little bit why #3196 fix the potential issue here? Also mark this issue with label: team/gke.

cc/ @kubernetes/kubernetes-release-managers

[2017-06-26 17:48] spiffxp commented on #35505
/sig api-machinery

[2017-06-26 17:48] spiffxp commented on #35506
/sig api-machinery

[2017-06-26 17:50] spiffxp commented on #35774
/sig autoscaling

[2017-06-26 17:50] spiffxp commented on #36015
/sig release

[2017-06-26 17:50] spiffxp commented on #36426
/sig instrumentation

[2017-06-26 17:52] spiffxp commented on #36656
/sig instrumentation

[2017-06-26 17:56] spiffxp commented on #36750
/sig service-catalog
because https://github.com/kubernetes/kubernetes/issues/23896 is tagged as such as well

/sig apps
because this seems like a fit given their work with helm

[2017-06-26 17:57] bowei commented on #48052
cc: @freehan

[2017-06-26 17:57] bowei commented on #48052
This is not a new issue as far as I can tell -- is the services scalability test a new thing?

[2017-06-26 17:57] Calpicow opened #48081 "Losing PV while PVC still exists"
I'm losing PVs while their attached PVCs still exist. Happens about once a month since upgrading to v1.5.x. Using kube v1.5.3 in AWS GovCloud.

[code]

/kind bug
/sig storage

[2017-06-26 17:57] spiffxp commented on #36763
/sig release
because this is an alt-arch problem, though I'm unsure if it still exists given then inactivity

[2017-06-26 17:58] spiffxp commented on #37510
/sig cluster-lifecycle

[2017-06-26 17:59] spiffxp commented on #37528
/sig api-machinery

[2017-06-26 17:59] spiffxp commented on #37700
/sig api-machinery

[2017-06-26 18:01] spiffxp commented on #37873
/sig network
/kind support
/assign
closing because this should be asked elsewhere (eg: StackOverflow) per https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/

[2017-06-26 18:01] spiffxp commented on #37873
/close

[2017-06-26 18:01] #37873 closed

[2017-06-26 18:02] ahmetb commented on #10956
/assign

[2017-06-26 18:02] ahmetb commented on #10956
/close

[2017-06-26 18:02] #10956 closed

[2017-06-26 18:02] spiffxp commented on #38529
/sig node

[2017-06-26 18:04] spiffxp commented on #38749
/sig auth

[2017-06-26 18:04] spiffxp commented on #38973
/sig cluster-lifecycle

[2017-06-26 18:06] spiffxp commented on #39189
/sig api-machinery

[2017-06-26 18:06] spiffxp commented on #39246
/sig api-machinery

[2017-06-26 18:07] bradfitz commented on #48045
This isn't a Go bug. This is the best-effort always-on race detector in the Go runtime. It has no false positives. If you get this crash, it's a real race that needs to be fixed.

[2017-06-26 18:09] ahmetb commented on #17150
There's some info on how Slack unfurls URLs: https://medium.com/slack-developer-blog/everything-you-ever-wanted-to-know-about-unfurling-but-were-afraid-to-ask-or-how-to-make-your-e64b4bb9254

I'd say this is not too bad:

Maybe if we remove `<meta property="og:description" content="Production-Grade Container Orchestration" />`, this could help it gather some text from the detected content section

[2017-06-26 18:09] gmarek commented on #48052
I believe it's new. We knew about excessive logging on v4, which is completely fine. But v1 is a different issue. I don't recall having problems with v1, but I may just not remember them.

[2017-06-26 18:10] gmarek commented on #48052
@dchen1107 - I agree it's not a release blocker. We're just failing issues for all problems we see, for people to triage and figure out if we need to fix some of them before 1.8.

[2017-06-26 18:11] wongma7 commented on #48081
/sig storage

[2017-06-26 18:12] enisoc commented on #47685
I will try to send a skip PR for this today, unless someone else gets to it first.

[2017-06-26 18:13] gmarek commented on #48061
It's kubernetes/test-infra#3196. We believe it's a problem in this test only, and that kube-dns tries to use invalid certificate when communicating with the API server. Sadly it takes some time to validate that, so we preferred to rise this early.

[2017-06-26 18:15] vishh commented on #27000
FYI: The general guideline thus far is to increase network bandwidth and user storage over the network for most applications.

[2017-06-26 18:16] vishh commented on #28918
We do need the UID in the downward API. I'm marking this issue as "help wanted".

[2017-06-26 18:18] dchen1107 opened #48083 "E2E: ci-kubernetes-e2e-gce-federation-release-1-7 is not running for a couple of days"
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation-release-1-7/ is not running for last couple days, and the last run occurred at June 21 (No issue is reported yet):

Builds
334 2017-06-21 01:29 PDT
333 2017-06-21 00:24 PDT took 1h3m
332 2017-06-20 23:20 PDT took 1h2m
331 2017-06-20 22:15 PDT took 1h3m
330 2017-06-20 21:08 PDT took 1h5m
329 2017-06-2

[2017-06-26 18:18] dchen1107 commented on #48083
cc/ @krzyzacy

[2017-06-26 18:19] spiffxp commented on #37699
/assign
closing because this is expected, the internal 'kubernetes' service is always created as https, even if the API server is listening on http externally; you'd probably want to take a look at kube-proxy to see how it routes traffic to the internal kube-apiserver service

[2017-06-26 18:19] spiffxp commented on #37699
/close

[2017-06-26 18:19] #37699 closed

[2017-06-26 18:20] spiffxp commented on #39414
/sig cluster-lifecycle
/sig instrumentation

[2017-06-26 18:23] spiffxp commented on #39900
I'm not sure this issue belongs in kubernetes/kubernetes if it's tracking issues affecting a particular user.  A user does not a SIG make.

Does Box have their own issues repo they could use to track these issues instead?

/assign
I'm closing this, please reopen if there's a specific SIG this can be tracked under

[2017-06-26 18:23] spiffxp commented on #39900
/close

[2017-06-26 18:23] #39900 closed

[2017-06-26 18:25] spiffxp commented on #39973
/sig cluster-lifecycle
/area platform/gce
since we lack a sig-gcp at the moment

/assign
closing because these artifacts are no longer available, please reopen if this happens again

[2017-06-26 18:25] spiffxp commented on #39973
/close

[2017-06-26 18:25] #39973 closed

[2017-06-26 18:25] pinkencryption commented on #27000
@vishh  : Can you elaborate ?

[2017-06-26 18:25] krzyzacy commented on #48083
the jun.21 job was hanging on
[code]

maybe we had some issue terminating the pod, let me kick off another one
/assign

[2017-06-26 18:26] chenopis commented on #17150
We should loop @steveperry-53 into this discussion.

[2017-06-26 18:27] chenopis commented on #17150
/assign

[2017-06-26 18:27] chenopis commented on #17150
/assign @steveperry-53

[2017-06-26 18:28] spiffxp commented on #40314
/sig cluster-lifecycle

[2017-06-26 18:28] spiffxp commented on #40444
/sig scalability
since the original PR was tagged as sig/scability

[2017-06-26 18:29] spiffxp commented on #40891
/sig cluster-lifecycle

[2017-06-26 18:29] dchen1107 commented on #48083
RE: https://github.com/kubernetes/kubernetes/issues/48083#issuecomment-311141879 Why there is no catchall timeout to kill everything?

[2017-06-26 18:31] spiffxp commented on #40896
/sig api-machinery

[2017-06-26 18:33] krzyzacy commented on #48083
It should, and the timeout logic was working for other jobs. Wonder if that was happening when we switched the prow cluster. @spxtr

[2017-06-26 18:40] #16970 closed

[2017-06-26 18:49] hollowimage commented on #45419
TO update: we found the issue on our end as was related to weave and ip-slice provisioning. as we terminate nodes often in AWS, weave originally did not account for the destruction of nodes in a cluster permanently, with new IPs taht follow. as a result networking would not setup correctly, so anything that had to do with internal ranges would not come up correctly.

https://github.com/weaveworks/

[2017-06-26 18:56] crimsonfaith91 commented on #48081
/remove-sig api-machinery

[2017-06-26 18:57] crimsonfaith91 commented on #48069
/remove-sig api-machinery

[2017-06-26 18:58] crimsonfaith91 commented on #48059
/remove-sig api-machinery

[2017-06-26 18:59] crimsonfaith91 commented on #48025
/remove-sig api-machinery

[2017-06-26 19:00] crimsonfaith91 commented on #47985
/remove-sig api-machinery

[2017-06-26 19:06] crimsonfaith91 commented on #47956
/remove-sig api-machinery

[2017-06-26 19:12] krmayankk commented on #47326
@msau42 i think the probability of a PV getting unbound from PVC is low(lets say there could be bugs in pv controller related to that). What would be best is that once a PV is dynamically provisioned, there is no way for it to become Available ever again in the realm of certain reclaimPolicy. Available is a phase which is not admin editable, even if an admin intentionally removes the binding, the

[2017-06-26 19:20] rpothier opened #48089 "Kubenet with IPv6 causes kubelet panic"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
Using Kubenet with IPv6 causes a panic

panic: runtime error: index out of range

goroutine 625 [running]:
k8s.io/kubernetes/pkg/kubelet/network/kubenet.(*kubenetNetworkPlugin).Event(0xc4203bf440, 0x462ebd1, 0xf, 0xc4219deae0)
/root/go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/pkg/kubelet/net

[2017-06-26 19:21] foxish commented on #48069
/sig apps

[2017-06-26 19:26] ixdy commented on #46702
I pushed this last week. Sorry, should've updated on the PR as well.

[2017-06-26 19:39] rpothier commented on #48089
/area ipv6

[2017-06-26 19:40] vishh commented on #48045
I have been working on a fix for the last couple of hours. The code is spaghetti at this point and I'm trying to clean it up along the way.

[2017-06-26 19:42] spiffxp commented on #42013
/sig storage
/sig node

[2017-06-26 19:43] zioproto opened #48094 "Openstack LBaaSv2 - Kubernetes fails to delete Load Balancer"
/sig openstack
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug

**What happened**:

I delete a service:
[code]
Kubernetes is never able to delete the Loadbalancer from Openstack
[code]
The problem is that there are no health monitors in Openstack, and Kubernetes refuses to go on and delete pools and loadbalancers and listeners.
On the neutron server I see DELETE requests without the h

[2017-06-26 19:43] #46702 closed

[2017-06-26 19:45] spiffxp commented on #41850
/sig azure
since this is easy to repro on azure; this may make more sense under an eventual sig-cloud or some other sig, please triage as appropriate

[2017-06-26 19:46] spiffxp commented on #41624
/sig node

[2017-06-26 19:47] spiffxp commented on #40997
/sig aws
since this references kops

[2017-06-26 19:47] spiffxp commented on #38856
/sig cluster-lifecycle

[2017-06-26 19:48] spiffxp commented on #40084
/sig cluster-lifecycle

[2017-06-26 19:48] spiffxp commented on #33613
/sig ui

[2017-06-26 19:49] spiffxp commented on #33452
/sig cluster-lifecycle

[2017-06-26 19:49] spiffxp commented on #44609
/sig scalability

[2017-06-26 19:50] spiffxp commented on #37833
/sig cluster-lifecycle
/sig networking

[2017-06-26 19:50] marun commented on #47344
@gmarek Should this continue to be a release blocker?  If not, please remove 'approved-for-milestone'.

[2017-06-26 19:50] spiffxp commented on #43318
/assign
closing per above comment

[2017-06-26 19:50] spiffxp commented on #43318
/close

[2017-06-26 19:50] #43318 closed

[2017-06-26 19:50] spiffxp commented on #43318
/sig cluster-lifecycle

[2017-06-26 19:51] luxas commented on #48045
@bradfitz Thanks for the clarification!

@vishh Thanks for stepping up and providing a fix!

[2017-06-26 19:51] spzala commented on #47361
@chenopis Thanks Andrew!! OK, let me dig more and understand about the doc code that possibly needs to be moved, and get back with more on it. One of the ideas was to move this code into its own repo (a new repo for doc and other code that are responsible for generating content along with the generated content). Also, as I was thinking about moving code to a different, just thought if https://gith

[2017-06-26 19:52] spiffxp commented on #42366
/sig testing
I don't think we should own this, sounds like a sig-cloud thing, but they don't exist, so I'll put it here for now to triage off later

[2017-06-26 19:52] marun commented on #47767
@bsalamat @monopole Any update on this?

[2017-06-26 19:54] marun commented on #47820
@foxish Should this be closed then?

[2017-06-26 19:58] foxish commented on #47820
Not a release blocker, but makes sense to keep it open to track when we fix the test setup. The underlying issue is tracked in https://github.com/kubernetes/kubernetes/issues/47882

[2017-06-26 20:00] xiangpengzhao commented on #28918
/assign
I'd like to work on this.

[2017-06-26 20:00] kargakis commented on #48094
/sig openstack
/sig network
/remove-sig api-machinery

[2017-06-26 20:01] kargakis commented on #48089
/sig network
/remove-sig api-machinery

[2017-06-26 20:02] kargakis commented on #47966
/sig openstack
/sig storage
/remove-sig api-machinery

[2017-06-26 20:04] ericchiang commented on #47381
Closing. Thanks @bsalamat

[2017-06-26 20:04] #47381 closed

[2017-06-26 20:04] kargakis commented on #47959
Relabeling back to aws/storage sigs since the GC issue seems handled.

[2017-06-26 20:05] kargakis commented on #47871
/sig apps

[2017-06-26 20:05] mikedanese opened #48097 "gke-certifcates-controller image should be buildable with bazel"

[2017-06-26 20:16] bsalamat commented on #47767
@marun My update is already there. I think these tests are fine.

[2017-06-26 20:35] mbohlool commented on #47977
In the Burndown meeting, the decision was not to fix this, only document it as a known issue.

[2017-06-26 20:42] liggitt commented on #47977
the kubectl and kubefed cache usage will be fixed

[2017-06-26 20:45] msau42 commented on #48045
/assign

I'll be backup

[2017-06-26 20:47] steveperry-53 commented on #10781
I'm working on Task and Concept topics that cover this in PR 4158
<https://github.com/kubernetes/kubernetes.github.io/pull/4158>. We should
wait until PR 4158 is reviewed and published before we think about whether
a tutorial is necessary. My guess is that we will not need a tutorial in
addition to the Tasks and Concepts that are part of PR 4158.

On Fri, Jun 23, 2017 at 3:33 PM, Vish Kannan <noti

[2017-06-26 20:52] spxtr commented on #32690
@krzyzacy is in charge of the janitor, and I think we can close this issue.
/assign @krzyzacy

[2017-06-26 20:56] crimsonfaith91 opened #48103 "[Ignore this] Testing issue for sig-mention-handler munger"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report

**What happened**: This issue tests whether bot comment for sig-mention-handler will trigger any sig mention or not.

**What you expected to happen**: The bot comment should not trigger any sig mention.

**How to reproduce it (as minimally and precisely as possible)**: N/A

**Anything else we need to know?**: Ignore this issue. Relevant to

[2017-06-26 21:03] #43772 closed

[2017-06-26 21:05] dchen1107 commented on #47977
xref: v1.7 known issue: https://github.com/kubernetes/kubernetes/issues/46733

[2017-06-26 21:07] krzyzacy commented on #48083
http://prow.k8s.io/log?pod=ci-kubernetes-e2e-gce-federation-release-1-7-335

after retrigger the 1.7 job is hanging getting nodes, and @nikhiljindal is investigating and probably can give more updates

/assign @nikhiljindal

[2017-06-26 21:09] krzyzacy commented on #32690
/close
yeah janitor has been cleaning up old leaked resources effectively.

I'll make it generate some report, follow up discussion in https://github.com/kubernetes/test-infra/issues/2925

[2017-06-26 21:09] #32690 closed

[2017-06-26 21:15] caesarxuchao commented on #46651
The flake occurs again in recent serail tests:
https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-serial-release-1-7&width=20
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial-release-1-7/94

[2017-06-26 21:26] sjenning commented on #44557
Any movement on this?

It seems that we should definitely be setting this timeout below the node controller's grace period such that the kubelet has at least one chance to reestablish a connection with the master before it gets marked as NotReady by the node controller, right?

So between kubelet `node-status-update-frequency` (default 10s) and node controller `node-monitor-grace-period duration`

[2017-06-26 21:29] crimsonfaith91 commented on #48103
/remove-sig api-machinery

[2017-06-26 21:31] chenopis opened #48105 "Update links to k8s.io/docs/user-guide/..."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
There are still links in the autogenerated docs (types.go files) to the deprecated `/docs/user-guide/` directory in k8s.io.

**What you expected to happen**:
These need to be updated so that they go to the correct refactored docs.

**How to reproduce it (as minimally and precisely as possible)**:
See: https://github.com/k

[2017-06-26 21:31] chenopis commented on #48105
/assign

[2017-06-26 21:33] chenopis commented on #48105
@kubernetes/sig-docs-maintainers

[2017-06-26 21:34] chenopis commented on #48105
Does the stupid robot always add `sig/api-machinery` because of its own comment?

[2017-06-26 21:35] chenopis commented on #48105
/sig docs

[2017-06-26 21:38] caesarxuchao commented on #47960
@mccormd do you know who put the "foregroundDeletion" finalizer on the RS?

Is the cluster downgraded from 1.7 to 1.6? Because i know in 1.7 the deployment controller adds the "foregroundDeletion" finalizer for the RS, but 1.6 shouldn't have this behavior.

[2017-06-26 21:51] shyamjvs opened #48107 "Kube-proxy facing locking timeout in large clusters during load test with services enabled"
Follows from discussion in https://github.com/kubernetes/kubernetes/issues/48052

We noticed this while performing load test on 4000 node clusters with services enabled. The iptables restore step in the proxier fails with:
[code]

And the reason quite likely is because of "huge" size of iptables (tens of MBs) as we run 30 pods per node and each pod is part of exactly one service
=> 30 * 4000 = 120

[2017-06-26 21:51] shyamjvs commented on #48107
fyi, the logs for the run are here - http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-enormous-cluster/10/

[2017-06-26 21:59] maisem opened #48108 "fluentd-gcp 2.0.5 doesn't work with json output to stdout"
1.6.6 shifted the fluentd-gcp image from 2.0.2 to 2.0.5. This seems to have broken the json detection from stdout. Using 2.0.2 the logs are parsed into jsonPayload, however for 2.0.5 they are passed into textPayload.

Reproduction steps:
1. Create a GKE cluster with master version 1.6.4
2. Deploy a dummy pod to echo some JSON to stdout:
[code]
3. Lookup container logs in StackDriver: resource.type

[2017-06-26 22:05] caesarxuchao commented on #46651
Still it's the dns pod not being ready, the cause might be different, i see this in the log
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial-release-1-7/93?log#log
[code]

[2017-06-26 22:23] ghodss commented on #39900
We were advised by @pwittrock to open this issue to help the kube team prioritize issues affecting our deployment. We are happy to stop doing so or to do it in another medium if that is more helpful. We don't really have an issue tracker ourselves that would be relevant.

[2017-06-26 22:29] #44046 closed

[2017-06-26 22:29] #47843 closed

[2017-06-26 22:29] #48052 closed

[2017-06-26 22:35] crimsonfaith91 commented on #48103
/remove-sig api-machinery

[2017-06-26 22:42] yujuhong commented on #46241
Closing since #48099 has been merged.

[2017-06-26 22:42] #46241 closed

[2017-06-26 22:42] ahmetb commented on #48105
might be worth opening a bug on test-infra.

[2017-06-26 22:43] bgrant0607 commented on #33664
Some discussion here:
https://kukulinski.com/10-most-common-reasons-kubernetes-deployments-fail-part-2/#10containerimagenotupdating

[2017-06-26 22:55] streamnsight commented on #26035
My particular issue was with a single service, to deploy a Mongo cluster: the first node starts as stand alone, then other nodes need to register with the first node as slaves, and configure the cluster.
I had to hack around quite a bit at the time, but I think there are now initContainers to do this kind of things.
Haven't reworked my config, but  I think @livelace should look into that:
https://

[2017-06-26 23:00] freehan commented on #46651
I thought the decision was to remove the old kubelet from cvm image. That should solve a bunch of problems, including this one.

[2017-06-26 23:00] freehan commented on #46651
@zmerlynn Can you comment on the status?

[2017-06-26 23:10] luomiao commented on #47257
I will take care of the vSphere and Photon.

[2017-06-26 23:11] crimsonfaith91 commented on #48105
@chenopis @ahmetb the PR https://github.com/kubernetes/test-infra/pull/3201 to resolve this has been merged. I am waiting someone to redeploy it.

[2017-06-26 23:12] crimsonfaith91 commented on #48105
/remove-sig api-machinery

[2017-06-26 23:18] crimsonfaith91 commented on #48108
/remove-sig api-machinery

[2017-06-26 23:36] wongma7 commented on #47010
@verult have you made any progress on this? Am looking to help work on

[2017-06-26 23:57] dchen1107 commented on #46651
@zmerlynn Is building a CVM image by removing Kubelet, and will update the test once that is done. On another hand, all serial tests on gci image doesn't have this flakiness.

Close the issue.

[2017-06-26 23:57] #46651 closed

[2017-06-27 00:00] freehan commented on #48107
I suspect other components are holding the lock and fail to release.
Is kube-proxy able to have successful iptables-restore after first occurance?

[2017-06-27 00:09] crimsonfaith91 commented on #48103
/remove-sig api-machinery

[2017-06-27 00:14] freehan commented on #47723
hmmmmmm....Is this another iptables rule conflict case?

Rules to capture request for NodePort is happening earlier than rules for externalIP.

[2017-06-27 00:18] freehan commented on #47711
can you provide the following output?
`kubectl describe endpoint traefik-ingress-controller -n kube-system -o yaml`

[2017-06-27 00:47] #48008 closed

[2017-06-27 00:48] #47176 closed

[2017-06-27 00:49] crimsonfaith91 commented on #47985
/remove-sig sig/api-machinery

[2017-06-27 00:49] crimsonfaith91 commented on #47985
/remove-sig api-machinery

[2017-06-27 00:57] verult commented on #47010
@wongma7 I haven't had a chance to work on this unfortunately. It would be awesome if you could look into it, thank you!

[2017-06-27 01:00] smarterclayton commented on #45143
That's another option.  Certainly RWM doesn't need this construct if so.

On Mon, Jun 26, 2017 at 1:43 PM, Hemant Kumar <notifications@github.com>
wrote:

[2017-06-27 01:00] smarterclayton commented on #47972
Is there a reason not to move them?

[2017-06-27 01:05] smarterclayton commented on #48046
The specific scenario in the other issue can probably be clarified as:

A kubernetes controller that acts only on level driven changes from
informer fed caches is not fully implemented *if* it needs to relist.  It
is not required to relist to be a controller, but correct level-driven
informer-fed controllers do not need to relist.  So the presence of
frequent relist may obscure logical bugs in a c

[2017-06-27 01:07] #48103 closed

[2017-06-27 01:08] caesarxuchao commented on #47972
This is not a deal breaker, but i'd like to point out that so far all the types in k8s.io/api are actually served by the kube-apiserver, but the apiserver does not serve admissionReviews.

[2017-06-27 01:15] djsly commented on #43856
@sjenning that would be appreciated!  currently our automated pipeline is failing with a 50% rate due to this issue.

[2017-06-27 01:49] #48025 closed

[2017-06-27 02:55] krzyzacy commented on #48083
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation-release-1-7/341 that run was green except for some resource leaking, I'll close the issue @dchen1107

/close

[2017-06-27 02:55] #48083 closed

[2017-06-27 03:26] spzala commented on #47361
@chenopis Hi, I have opened this PR to remove some of the docs content that I thought should be deleted as they are only pointing to Community repo https://github.com/kubernetes/kubernetes/pull/48119 Can you please take a look? The remaining docs is what I believe we need to keep and think about moving as we are discussing. Thanks!!

[2017-06-27 03:42] smarterclayton commented on #47972
The default OOTB doesn't, but service catalog or another could very well.

On Mon, Jun 26, 2017 at 9:08 PM, Chao Xu <notifications@github.com> wrote:

[2017-06-27 04:45] livelace commented on #26035
@streamnsight Hello and thanks for your suggest, but I have known about init containers and it is not a convenient way. Anyway I use different approach now.

[2017-06-27 04:52] aga20 commented on #46253
@cjyar thank you. I think this is a good workaround but it isn't solve the main problem.
@rootfs Any idead? Earlier you can help with similiar issues.

[2017-06-27 05:20] yan234280533 commented on #47727
@xingzhou  How about this,  is it  not have record the update time ?

[2017-06-27 05:41] Pensu commented on #36763
It's fixed, rebooted the cluster, didn't get the error, closing the issue.

[2017-06-27 05:41] #36763 closed

[2017-06-27 06:16] liggitt commented on #48041
If an admin tainted a node to prevent control-plane pods from getting deployed to it, the kubelet shouldn't be able to remove that taint.

Same applies (in reverse) for adding labels... if a cluster-admin labels their master nodes with `node-role.kubernetes.io/master=true` and schedules a daemonset with privileged pods on those nodes with access to control-plane secrets, a random node should not b

[2017-06-27 06:56] xingzhou commented on #47727
@yan234280533, sorry that just finished one other ticket at hand and I'm starting to work on this ticket now. I haven't digged into the code too much, but IMO, the rollout of a deployment will create new `replicaset` object which will record the creation time. If this is correct, we can use the creation time to show the update time and as a result, this may just a change of `kubectl`'s display. I'

[2017-06-27 07:18] qiujian16 commented on #47739
I met the same issue sometimes...maybe we should add a function to check if all api-versions are up

[2017-06-27 07:27] fgrzadkowski commented on #35774
I think this is already possible. Currently we started using `ConfigMap` to report CA status and we plan to migrate to `ComponentStatus`. @mwielgus should we close this one?

[2017-06-27 07:32] davidopp commented on #48041
@liggitt I think this is just reinforcing the idea that auth rules on taints need to be configurable based on the taint key. A node might want to add and remove "docker is dead" or "primary disk is dead" taints, but (in your example) not add and remove the taint to prevent control-plane pods from getting deployed to it.

I think labels are different, in that there isn't really a good reason kubele

[2017-06-27 07:46] mashayev commented on #48064
@dchen1107 When I'm creating new cluster with `kube-up.sh` in GCE it's being created with K8S version 1.6 and Docker version is 1.11

I was trying to create it with updated images `e2e-node-ubuntu-trusty-docker12-v2-image` but it failed.

Any idea how can I set K8S cluster with `kube-up.sh` script to be with update docker version?

[2017-06-27 07:51] jeroenjacobs1205 opened #48124 "kube-apiserver does not respect nsswitch.conf"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If have a wildcard dns entry like this on my bind dns server:

`* IN CNAME lb-001.mydomain.com`

this causes kube-apiserver to resolve localhost to lb-001.mydomain.com.

**What you expected to happen**:

nsswitch.conf contains this line:

`hosts:      files dns myhostname`

I would expect that kube-apiserver and uses /et

[2017-06-27 08:13] roberthbailey commented on #18610
We need a plan to be able to healthcheck a self-hosted HA control plane. Right now the /componentstatuses endpoint works to healthcheck a (non-selfhosted) single master control plane, but it won't work once the master components are distributed nor will it work once we start breaking out components (like the cloud controller manager).

[2017-06-27 08:21] kargakis commented on #47727
The creation time of a RS does not always map to the time the rollout started. For example, when we rollback, we reuse a previously created RS.

[2017-06-27 08:44] xingzhou commented on #47727
yes, @kargakis, I tried the rollback, it indeed reused the old object, just added one new revision history showing the original revision version number. So how about we adding a new annotation here in the RS to record the exact update time?

[2017-06-27 08:51] crassirostris commented on #48108
@maisem Thanks! That is indeed a bug with the new version. I'll patch it in the repo shortly

[2017-06-27 09:04] xingzhou commented on #48027
Guangya, what kind of help info are you looking for? I saw the `roles` in the list and the `kubectl explain roles` is now working

[2017-06-27 09:07] kargakis commented on #47727
@kubernetes/sig-apps-feature-requests

[2017-06-27 09:09] bergman commented on #45419
The node is Ready most of the time. I believe kubelet is either restarted due to this check or some other check is signalling the Ready event. We see about 10 seconds of NotReady for every 60 seconds. The rest of the time the node is Ready.

[2017-06-27 09:14] gambol99 commented on #30603
@nhlfr .. I have to agree with @aurcioli-handy ... it's not clear how kubernetes supports trusted images via notary. There doesn't to be any daemon option on docker to enable checking trust by default and the only options i can see are via environment variable (DOCKER_CONTENT_TRUST) or --disable-content-trust on the docker pull. I'm guessing it's some option passed to daemon via cli. The example y

[2017-06-27 09:21] #35774 closed

[2017-06-27 09:41] porridge opened #48127 "Clarify and update PodStatus/PodCondition"
/kind bug

**What happened**:

I wanted to find out how to parse PodStatus. Found two problems:
- PodStatus docs do not state whether it contains at most one PodStatus of type Ready, or which one is authoritative in case there are more
- 1.6 PodCondition API docs say that the only type is Ready, while in a 1.6 I can see a couple more types:
[code]

**What you expected to happen**:

Documentation s

[2017-06-27 09:46] porridge commented on #48127
/sig api

[2017-06-27 09:48] porridge commented on #48127
/sig documentation

[2017-06-27 10:09] mikebryant opened #48128 "RBAC role for just listing (not getting) secrets"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

/kind feature

I would like to be able to set up an RBAC role that allows listing secrets (and possibly access to the rest of the `metadata`), but not give access to the `data`

**Rationale**
We would like to run our clusters using readonly accounts, and only use higher privileged accounts if needed. So in general we want readonly acce

[2017-06-27 10:17] porridge commented on #48127
/sig docs
*sigh*

[2017-06-27 10:24] mikebryant commented on #48128
/sig auth

[2017-06-27 10:28] mccormd commented on #47960
@caesarxuchao I'm not aware on how the "forgroundDeletion" finalizer gets on there - I don't understand what it is even.  I just deploy using the yaml manifest I pasted above which is picked up by the addon manager.

[2017-06-27 11:14] crassirostris commented on #48071
I don't see the difference between fluentd on master and fluentd on the node, from their point of view the environment is the same. I think we have more benefits from keeping them consistent that from slitting, especially since the most important problem now is a memory limit and fluentd inability to gracefully degrade, not lack of resources per se.

[2017-06-27 11:41] fgrzadkowski commented on #48071
The difference is significant - in GKE we cannot easily increase resource in user node, while we can on master. That's why we should also configure them separately. Keeping them consistent is of course beneficial, but not at the cost of degraded performance. We've seen in the past CPU being extensively used; it's just that problems with memory are more explicit (it just dies).

[2017-06-27 11:42] cordoval commented on #3943
I am not using mobi but the same error happens to me on a kops cluster, the "sensitive" defaults for logrotate on kops are 100MB. Minding that the aprox number of rotations is ~7 and there are about 7+ kube related log files. The disk of the default installation gets filled rapidly to ~10GB which in itself also causes no allocation of resources because of disk full which in turn logs more and the

[2017-06-27 12:24] crassirostris commented on #48071
OK, I agree that it would be nice to have a way to change the resources independently without many manual steps, when you deploying fluentd in your cluster

However, I don't agree that it's a P0 and that we can't change 100m to 90m in the currently used configuration, both on the nodes and on the master, even with load tests passing. It's not a bottleneck, so it's just occupying the resources at t

[2017-06-27 12:27] luxas commented on #48128
cc @DirectXMan12 We talked about this as well

[2017-06-27 12:38] keyingliu commented on #45811
We updated the grpc package whose version is same as what kubernetes 1.7 is used, the hung has gone.

[2017-06-27 13:05] sebgoa commented on #13944
Since we are moving all the examples (maintained or not for now), we should redirect all issues to that issue.

Unless we code some issue importing mechanism, we could close all examples related issue here with a message to re-open an issue on kubernetes/examples.

Let's ping @spiffxp who I believe is doing a lot of triage.

Aaron, we are moving all examples to https://github.com/kubernetes/exampl

[2017-06-27 13:06] rootfs commented on #46253
@cjyar @cjyar there is a recent auto unmount feature implemented by @humblec

[2017-06-27 13:23] magicwang-cn opened #48135 "Volume mount why not support fsOwner matching with fsGroup?"
/kind feature

currently, we have already support fsGroup for volume mount, why not support fsOwner？

[2017-06-27 13:36] selvakumarnms opened #48136 "Is it possible to enable multiple cloud providers in controller manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-06-27 13:41] bjhaid commented on #45419
@yujuhong I think the PLEG logging can be improved, saying `PLEG is not healthy` is super confusing to the end user and it doesn't help diagnosing problems, maybe including why the container runtime failed, or some details about the container runtime not responding will be more useful

[2017-06-27 13:43] ravisantoshgudimetla commented on #47604
/cc me

[2017-06-27 13:43] andromedarabbit commented on #30518
Give a vote for https://github.com/coreos/alb-ingress-controller . This is quite a promising project. We've adopted it and it works perfectly.

[2017-06-27 13:54] tmjd commented on #42926
Is this expected to be done for k8s 1.7? With an RC cut I'm guessing probably not.

[2017-06-27 14:00] crassirostris commented on #48108
Nope, not a bug with the new version, it was actually introduced with https://github.com/kubernetes/kubernetes/pull/45734

Because of the first clause in https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/master/lib/fluent/plugin/out_google_cloud.rb#L569 additional field in the record breaks JSON logging

[2017-06-27 14:12] selvakumarnms commented on #48136
/kind feature

[2017-06-27 14:13] selvakumarnms commented on #48136
Is it possible to enable multiple cloud providers in June controller manager service?

[2017-06-27 14:28] selvakumarnms commented on #48136
Is it possible to enable multiple cloud providers in kube controller manager service?

[2017-06-27 14:56] liggitt commented on #48128
The API has a metadata-only access pattern, but that is for performance, not for security.

There are kube features (like `kubectl apply`) that put object content in annotations in the metadata

Currently, the authorization layer does not have information about whether the user is operating in metadata-only mode.

[2017-06-27 14:57] xiangpengzhao commented on #48135
/sig storage

[2017-06-27 15:00] mikedanese commented on #47834
I feel like this is a dup of an older issue but I can't find it.  cc @kubernetes/sig-auth-misc

[2017-06-27 15:01] liggitt commented on #44593
xref https://github.com/kubernetes/kubernetes/issues/46733

[2017-06-27 15:06] parrisvarney commented on #16863
The following use case might be relatively common -

The [official documentation for setting up Elastic Search via docker](https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html) contains a docker-compose.yml file with an environment parameter `bootstrap.memory_lock=true`.  This causes the following error:

[code]

The docker-compose.yml file for the lazy:
[code]

[2017-06-27 15:12] skorski commented on #30656
+1 for this feature.  Not having this makes debugging things a lot more painful.

[2017-06-27 15:25] johnbelamaric commented on #46508
See related https://github.com/kubernetes/kubernetes/issues/25533

[2017-06-27 15:29] #46567 closed

[2017-06-27 15:45] erictune commented on #34363
Note: saw stackoverflow user asking how to wait for a job to be done.  This has come up several times.

[2017-06-27 16:12] gyliu513 commented on #48027
Thanks @xingzhou , the latest build does include `roles`, so close this one.

[2017-06-27 16:12] #48027 closed

[2017-06-27 16:47] crassirostris commented on #41462
/assign @coffeepac

[2017-06-27 16:51] crassirostris commented on #42442
I would prefer that also: https://github.com/kubernetes/kubernetes/issues/39800

[2017-06-27 16:56] Random-Liu commented on #47344
Either node status update or event generation is shown as a `PATCH` in apiserver log, are we sure that NPD `PATCH` is patching NodeStatus? NPD only generates event for OOM instead of updating node condition. An event generation should be shown like this:
[code]

When there is no node condition need to update, NPD patches node status to update heartbeat timestamp every 1 minute, for 5000 node clust

[2017-06-27 16:57] gnufied commented on #31272
I was trying to reproduce this and I do not think original steps work anymore. Also, following steps @sjenning used doesn't work.

1. start nfs server
2. start nfs pod
3. stop nfs server
4. delete nfs pod
5. stop kubelet
6. start kubelet
7. try to start a pod

The main thing is, we are not cleaning volume for pods that are not deleted from api server (and hence a pod stuck in "terminating" state d

[2017-06-27 17:33] cmluciano commented on #34924
/unassign

[2017-06-27 17:37] crimsonfaith91 commented on #47978
/remove-sig api-machinery

[2017-06-27 17:39] liggitt commented on #44593
copied from https://github.com/kubernetes/kubernetes/pull/45294#issuecomment-307833935:

[2017-06-27 17:39] cmluciano commented on #47711
@freehan Should we close this issue pending more information or keep it open for someone to test out?

[2017-06-27 17:41] caesarxuchao commented on #47972
Do you mean the service catalog extension apiserver will serve the admission API?

[2017-06-27 17:46] deitch commented on #47711
@cmluciano we are killing and recreating clusters with some regularity over these weeks. I am happy if you want to close it since I cannot recreate it yet. Just let me reopen it if I manage to recreate and get more info.

Just tell me, please, if it does come up again, what additional data should I get? There isn't much data in the docs on how the service resolves what endpoints it should use and

[2017-06-27 17:50] cmluciano commented on #48061
@bowei I think we bumped the resource sizing of DNS recently. Is this something that needs bumped further for large-scale tests/document fixes?

[2017-06-27 17:50] freehan commented on #47711
Please reopen when it happens again.

Please record related endpoints objects and pod objects.

[2017-06-27 17:51] bowei commented on #48061
@cmluciano -- is that true? I don't think the resource allocation has been touched for a while now...

[2017-06-27 18:10] spiffxp commented on #13944
Good question!  I've totally been making this up as a go along, erring on the side of leaving breadcrumbs that can be found later.

If nobody's opted to own this example, I'm not sure this issue is worth keeping open.  Is it tagged in a way that it could be easily found if someone decided to pick the example up later? eg: you could drop some well known text in a comment that could be searched for

[2017-06-27 18:15] RiaanLab commented on #9180
Nope, I am not using it on AWS. Thanks for the response though.

[2017-06-27 18:19] gmarek commented on #48061
It's diagnosed as a fallout of removing ip-masq-agent in our test environment.

[2017-06-27 18:19] #48061 closed

[2017-06-27 18:20] danehans commented on #47666
https://github.com/kubernetes/community/pull/629

[2017-06-27 18:25] thehufbro opened #48147 "Node fit failure for master due to PodToleratesNodeTaints, when all taints removed."
@kubernetes/sig-cluster-ops-*
/sig cluster-ops

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Attempt to deploy the Rout53 add on into the kubernetes cluster created by Kops.

https://github.com/kubernetes/kops/tree/master/addons/route53-mapper
Deploying version 1.3

"No nodes are available that match all of the following predicates:: MatchNodeSelector (3), PodTolera

[2017-06-27 18:26] spiffxp commented on #48124
/sig cluster-lifecycle
because kubeadm

[2017-06-27 18:26] mccormd commented on #47959
I'm seeing once updated to 1.6.6 also.

Seeing errors like this: -

Failed to attach volume "pvc-6fc6292f-4c58-11e7-97d1-063785b3a926" on node "ip-10-14-6-87.eu-west-1.compute.internal" with: Error attaching EBS volume "vol-0736a686b50bac84a" to instance "i-06c43aa2af50c0914": VolumeInUse: vol-0736a686b50bac84a is already attached to an instance status code: 400, request id: d7c34a99-2b61-4649-abc

[2017-06-27 18:28] spiffxp commented on #45146
/assign
closing due to inactivity

[2017-06-27 18:28] spiffxp commented on #45146
/close

[2017-06-27 18:28] #45146 closed

[2017-06-27 18:28] spiffxp commented on #44876
/assign
closing due to inactivity

[2017-06-27 18:28] spiffxp commented on #44876
/close

[2017-06-27 18:28] #44876 closed

[2017-06-27 18:29] shyamjvs commented on #47344
NPD indeed is sending many PATCH node-status requests, so I guess this likely is a bug. Ref https://github.com/kubernetes/node-problem-detector/issues/124#issuecomment-311444471

[2017-06-27 18:30] spiffxp commented on #47285
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at the moment

[2017-06-27 18:36] Random-Liu commented on #47344
@shyamjvs If so, this seems to be a apiserver client issue then. NPD won't patch node status so frequently, it seems to be the client itself retries frequently on patch error.

The client may need to be error code aware, it should not retry so frequently when the error code is 429, which only makes things worse.

[2017-06-27 18:39] gmarek commented on #47344
I'd love to be able to fix fluentd, and I'm not alone @crassirostris. The thing is even though that's possible at least in theory, we need to be prepared for the same scenario for user Pods, which we won't be able to fix.

[2017-06-27 18:43] henriquetruta commented on #39989
hi @quinton-hoole are you still working on this?

[2017-06-27 18:53] Random-Liu commented on #47344
Offline discussed with @yujuhong, the client retry on 429 error seems to be an even more critical problem. Once someone triggers it, it will retry even more, and the whole cluster gradually go south.

[2017-06-27 18:59] dchen1107 commented on #47747
All required work for v1.7 are done, and move this to 1.8 milestone.

[2017-06-27 19:06] thehufbro commented on #48147
@kubernetes/sig-cluster-ops-*

[2017-06-27 19:41] ahmetb commented on #45843
cc: @sebgoa

[2017-06-27 20:00] ahmetb commented on #1827
/asign

We moved the examples to their own repo (https://github.com/kubernetes/examples) for further maintenance.  All maintained examples (guestbook, mysql-wordpress-pd and cassandra) use either Docker Hub images, or gcr.io/google-samples.

I've a longer term plan to make `gcr.io/google-samples` process more transparent and accessible to wider community: https://github.com/kubernetes/examples/iss

[2017-06-27 20:00] ahmetb commented on #1827
/close

[2017-06-27 20:00] ahmetb commented on #1827
/assign

[2017-06-27 20:00] ahmetb commented on #1827
/close

[2017-06-27 20:00] #1827 closed

[2017-06-27 20:02] ahmetb commented on #7514
We moved the examples to their own repo (https://github.com/kubernetes/examples) for further maintenance. It looks like this issue has been open with little to no recent activity, if you think it's still relevant, please create a new issue in the new repo.

/assign
/close

[2017-06-27 20:02] ahmetb commented on #7514
/close

[2017-06-27 20:02] #7514 closed

[2017-06-27 20:03] ahmetb commented on #3698
We moved the examples to their own repo (https://github.com/kubernetes/examples) for further maintenance.  All the maintained examples now either use Docker Hub or gcr.io/google-samples, and they all use tags for images.

Looks like this issue has been open with little to no recent activity, if you think it's still relevant, please create a new issue in the new repo.

[2017-06-27 20:03] ahmetb commented on #3698
/assign

[2017-06-27 20:03] yujuhong commented on #47344
@gmarek @shyamjvs, my understanding is that there is no regression since the services test was not run with 1.6 (correct me if I am wrong). I think we can remove the release-blocker label and the 1.7 milestone, and leave this issue for follow-up discussions.

[2017-06-27 20:03] ahmetb commented on #3698
/close

[2017-06-27 20:03] #3698 closed

[2017-06-27 20:04] ahmetb commented on #8003
We moved the examples to their own repo (https://github.com/kubernetes/examples) for further maintenance. It looks like this issue has been open with little to no recent activity, if you think it's still relevant, please create a new issue in the new repo.

/assign

[2017-06-27 20:04] ahmetb commented on #8003
/close

[2017-06-27 20:04] #8003 closed

[2017-06-27 20:06] ahmetb commented on #10352
We moved the examples to their own repo (https://github.com/kubernetes/examples) for further maintenance. All maintained examples (guestbook, mysql-wordpress-pd and cassandra) use either Docker Hub images, or gcr.io/google-samples which are publicly acessible. Other examples in that repository are staged for deletion in the long term if nobody steps up to take over maintenance.

I've a longer term

[2017-06-27 20:06] ahmetb commented on #10352
/assign

[2017-06-27 20:06] ahmetb commented on #10352
/close

[2017-06-27 20:06] #10352 closed

[2017-06-27 20:07] ahmetb commented on #9931
This is docs related and docs have moved out of this repo long time ago. Please open an issue to docs repository if this is still relevant.
/assign

[2017-06-27 20:07] ahmetb commented on #9931
/close

[2017-06-27 20:07] #9931 closed

[2017-06-27 20:09] ahmetb commented on #11361
We moved the examples to their own repo (https://github.com/kubernetes/examples) for further maintenance. Most of the examples listed above are staged for deletion in the long term, if nobody steps up to maintain.

Since this issue has been open with little to no recent activity, if you think it's still relevant, please create a new issue in the new repo.

/assign

[2017-06-27 20:09] ahmetb commented on #11361
/close

[2017-06-27 20:09] #11361 closed

[2017-06-27 20:11] ahmetb commented on #11808
We moved the examples to their own repo (https://github.com/kubernetes/examples) for further maintenance. It looks like this issue has been open with little to no recent activity, if you think it's still relevant, please create a new issue in the new repo.

/assign

[2017-06-27 20:11] ahmetb commented on #11808
/close

[2017-06-27 20:11] #11808 closed

[2017-06-27 20:11] yastij opened #48150 "unit: reconciler_test flake"
in #46761 and #47038, the reconciler_test flakes. here's the details :

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46761/pull-kubernetes-unit/38144/
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47038/pull-kubernetes-unit/38054/
[code]

[2017-06-27 20:12] ahmetb commented on #15545
The docs have been moved to their own repo long time ago. I would consider opening the issue there if this is still relevant. Due to long time inactivity, I'll go ahead and close this.
/assign

[2017-06-27 20:12] ahmetb commented on #15545
/close

[2017-06-27 20:12] #15545 closed

[2017-06-27 20:12] yastij commented on #48150
/kind flake
/sig storage

[2017-06-27 20:14] ahmetb commented on #16741
@justinsb should this be kept open?

We moved the examples to their own repo (https://github.com/kubernetes/examples) for further maintenance. It looks like this issue has been open with little to no recent activity, so I am erring on the side of closing it.

We encourage the community to create separate repos or Helm charts for such examples, going forward. Those tend to be easier to maintain and

[2017-06-27 20:14] yastij commented on #48150
/priority failing-test

[2017-06-27 20:15] ahmetb commented on #21002
Just FYI: We moved the examples to their own repo (https://github.com/kubernetes/examples) for further maintenance. And we don't want to add such big topics to the examples repo anymore.

We encourage the community to create a separate repo (e.g kubernetes-elasticsearch) and/or maintain a Helm chart. This way, the example would stay more up to date and have clearer ownership structure.

@piosz @co

[2017-06-27 20:16] ahmetb commented on #24264
We moved the examples to their own repo (https://github.com/kubernetes/examples) for further maintenance and the intention is to remove examples such as the ones categorized above in the long term if people do not stand up for maintaining them.

I this we can just close this issue.

[2017-06-27 20:18] ahmetb commented on #24687
We moved the examples to their own repo (https://github.com/kubernetes/examples) for further maintenance. However such popular examples to host their own repo for maintenance, and/or convert into Helm charts.

It also looks like this issue is now fixed, @jingxu97 should we close now?

[2017-06-27 20:30] marun commented on #47820
We're using 'approved-for-milestone' to indicate an issue is release blocking.   Removing...

[2017-06-27 20:38] ixdy commented on #47920
how would this interact with `kubetest`?

[2017-06-27 20:38] deads2k opened #48152 "Remove TPR resource in favor of CRD"
In 1.6 TPR was indicated as unstable and subject to change [[1]](https://github.com/kubernetes/kubernetes.github.io/blob/release-1.6/docs/tasks/access-kubernetes-api/extend-api-third-party-resource.md). Near the end of 1.6 we talked about a new API and how we would transition [[2]](https://github.com/kubernetes/community/blob/master/sig-api-machinery/api-extensions-position-statement.md#q-should-t

[2017-06-27 20:43] timothysc commented on #47920
It could either be separate, or it's possible it could be the FROM image:sha for the test-infra containers.

[2017-06-27 20:58] smarterclayton commented on #48152
Seems appropriate for alpha transition

On Tue, Jun 27, 2017 at 4:39 PM, David Eads <notifications@github.com>
wrote:

[2017-06-27 21:00] smarterclayton commented on #47972
Yes, it could implement admission controllers that are registered with the
master at the same time the service catalog is added to the aggregate API.

On Tue, Jun 27, 2017 at 1:41 PM, Chao Xu <notifications@github.com> wrote:

[2017-06-27 21:08] #48108 closed

[2017-06-27 21:08] #47129 closed

[2017-06-27 21:08] #48002 closed

[2017-06-27 21:15] yastij commented on #48150
/remove-priority failing-test

[2017-06-27 21:19] enisoc commented on #48152
The [migration helper](https://github.com/kubernetes/kubernetes/pull/46677) intentionally leaves behind the etcd data for TPRs, for rollback and to prevent watchers from seeing deletes.

Should we clean up this data eventually? Is there a precedent for how we handle etcd data for resources that were deprecated and removed?

[2017-06-27 21:21] smarterclayton commented on #48152
No precedent today.

On Tue, Jun 27, 2017 at 5:19 PM, Anthony Yeh <notifications@github.com>
wrote:

[2017-06-27 21:28] dvonthenen commented on #46184
Summary of information based on the discussion of this PR (https://github.com/kubernetes/kubernetes/pull/47852):

 - This is a Moby related issue identified by https://github.com/moby/moby/issues/23184
 - Agreed that working around the issue in the Kubernetes code base is pretty ugly.
 - Kubernetes based on an older deprecated API identified here: https://github.com/kubernetes/kubernetes/blob/mast

[2017-06-27 21:37] caesarxuchao commented on #47972
Ok. I'll move the API group.

[2017-06-27 21:38] shyamjvs commented on #47344
@yujuhong This is not a release-blocker anymore (ref: https://github.com/kubernetes/kubernetes/issues/47344#issuecomment-311163160)
We're yet to run scale tests on 5k nodes without services (did it only on 4k currently), which we recently got unblocked with pr https://github.com/kubernetes/kubernetes/pull/47513 getting merged.
We expect it to work, just waiting for correctness tests (currently run

[2017-06-27 21:46] caesarxuchao commented on #47960
I don't know how a 1.6 rs ends up with the "foregroundDeletion" finalizer. The bug should be fixed by #47994. Closing the issue.

[2017-06-27 21:46] #47960 closed

[2017-06-27 21:59] caesarxuchao commented on #44507
https://github.com/kubernetes/kubernetes/pull/47665 is addressing the issue.

[2017-06-27 22:02] #46703 closed

[2017-06-27 22:09] rideswitch commented on #44103
I have the same question.  I am using statefulsets for redis because I need stable names so that I can cluster the containers.  I have redis-0.redis .. redis-n.redis.  The problem is that since statefulsets use a headless service (obviously in this case named 'redis'), I don't see a way to address these from outside (Cluster-ip is None).  So my idea was to create a regular service for each one of

[2017-06-27 22:10] copejon opened #48156 "E2E Framework: Wrong Node OS set in TestContext when on GKE"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
When running e2e against a GKE cluster, `framework.TestContext.NodeOSDistro` is incorrectly assigned "debian".

**What you expected to happen**:
`framework.TestContext.NodeOSDistro` should be assigned "gci".

**How to reproduce it (as minimally and precisely as possible)**:

0. pull and `make` latest k8s bits.
1. Create k

[2017-06-27 22:10] copejon commented on #48156
cc @jeffvance @msau42

[2017-06-27 22:23] baldeynz commented on #38495
Hi all
We are trying to follow this issue and  add docker logging options to our kubernetes deployments for log rolling e.g --log-opt max-size=10m

For example if we ran something like this directly using docker

docker run -it --log-opt max-size=10m --log-opt max-file=2 image-name

We can use docker inspect to see those options added to the LogConfig e.g

"LogConfig": {
                "Type": "j

[2017-06-27 22:39] nimeshksingh commented on #44445
I hate to keep this going, but somehow, even after k8s 1.6.6, which has pr #45715 and therefore the NoExecute toleration on fluentd-gcp, I ran into the following behavior:

1.  Add new node.  kube-proxy, fluentd-gcp, and my own daemonset pod with a universal 'Exists' toleration start running.
2.  Taint the node with a NoSchedule effect:
`kubectl taint nodes node/my-node-name mykey=myvalue:NoSchedu

[2017-06-27 22:45] nimeshksingh commented on #44445
Just to clarify, using a NoExecute effect is a reasonable workaround for me, but the current behavior for NoSchedule still strikes me as strange.

[2017-06-27 23:23] lavalamp commented on #47972
I am not sure how that will work in practice, since the webhook location doesn't depend on the object under admission (maybe we should change that).

But it doesn't really matter, the k8s.io/api repo is a better place than the main kubernetes repo.

[2017-06-27 23:27] xiangpengzhao commented on #48147
@kubernetes/sig-scheduling-misc

[2017-06-27 23:41] msau42 opened #48160 "Refactor kubelet node status"
As part of #48123, a new GetCapacity() method was added to the container manager interface that gets populated during kubelet initialization.  All resources should use this to report the resource capacity instead of calculating it every time.

Originally, when we tried changing all the existing resources, the kubemark test started failing.  My theory is that the kubemark environment initializes ku

[2017-06-27 23:46] kingdonb opened #48161 "NFS Volumes Example does not work on GKE 1.6.4"
/kind bug
/sig docs

**What happened**:
I followed the steps of examples/volumes/nfs and I did not get a working NFS server.  What appeared to happen was my "nfs" pvc was created and bound to a new PD, instead of being bound to the new unbound "nfs" pv.  The gce-pd provisioner appears to satisfy any requests with a `storageClassName: standard`, and the default behavior appears to be applying this

[2017-06-27 23:49] kingdonb commented on #48161
@kubernetes/sig-docs This is a documentation issue also involving storage.

[2017-06-27 23:50] zmerlynn opened #48163 ""/approve no-issue" isn't working"
See https://github.com/kubernetes/kubernetes/pull/48159#issuecomment-311514654 and on.

[2017-06-27 23:53] kingdonb commented on #33447
You also need to add a `storageClassName` now, I think, one on the `nfs` pv and another on the `nfs` pvc, so they bind together.  Otherwise your pvc will get `storageClass: standard` by default, and `storage-provisioner/gce-pd` will try to fulfill it for you.

[2017-06-27 23:53] diegs opened #48164 "3-way strategic patch merge should treat empty and nil collections equivalently."
/kind bug

**What happened**:

`strategicpatch.CreateThreeWayMergePatch()` is unable to create patches where one downstream item deletes the last key in a map but the other other downstream leg has added additional keys (see repro steps).

**What you expected to happen**:

The function should be able to compute a patch for this case successfully.

**How to reproduce it (as minimally and precisely

[2017-06-27 23:54] diegs commented on #48164
cc @aaronlevy @pwittrock

[2017-06-27 23:54] zmerlynn commented on #48163
@kubernetes/sig-contributor-experience-bugs

[2017-06-27 23:55] msau42 commented on #48156
What if you set
KUBE_NODE_OS_DISTRIBUTION=debian

[2017-06-28 00:06] diegs commented on #48164
@kubernetes/sig-cli

[2017-06-28 00:07] diegs commented on #48164
/sig cli

[2017-06-28 00:08] stevvooe commented on #46255
Indeed, there is a naive, straw man implementation that requires an extra hop, but as I have shown in my last several comments, it is not at all required. No where in the proposal requires an extra hop to implement `ResolveImage`.

The point of separating these is to keep discovery and resolution separate from pulling, which has been a long time ask of the container ecosystem.

[2017-06-28 00:11] kingdonb commented on #48161
@k8s-merge-robot ping

[2017-06-28 00:13] k8s-merge-robot opened #48166 "Failure cluster [21478c...] failed 80 builds, 5 jobs, and 1 tests over 1 days"
### Failure cluster [21478c8e0b5922f8c4b7](https://go.k8s.io/triage#21478c8e0b5922f8c4b7)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    5 jobs failed,    80 builds failed.
Failure stats cover 1 day time range '26 Jun 2017 23:52 UTC' to '27 Jun 2017 23:52 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| SkewTest | 5 |

##### T

[2017-06-28 00:13] k8s-merge-robot opened #48167 "Failure cluster [1fb2ba...] failed 73 builds, 3 jobs, and 1 tests over 1 days"
### Failure cluster [1fb2bacd1b1f35178bd6](https://go.k8s.io/triage#1fb2bacd1b1f35178bd6)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    3 jobs failed,    73 builds failed.
Failure stats cover 1 day time range '26 Jun 2017 23:52 UTC' to '27 Jun 2017 23:52 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Loadbalancing:

[2017-06-28 00:14] kingdonb commented on #48161
/sig docs
/sig storage

[2017-06-28 00:14] kingdonb commented on #48161
/kind bugs

[2017-06-28 00:14] kingdonb commented on #48161
/kind bug

[2017-06-28 00:23] DirectXMan12 commented on #48128
Just to clarify the usecase that @luxas was talking about, in the custom metrics API adapter for Prometheus, we need to know the *name* of potentially any object in the cluster (and be able to list by label selector).  However, *all* we need to know is names and labels, so it would be nice to be able to constrain access, so that in case of compromise, there's less data leakage.

[2017-06-28 00:29] jeffvance commented on #48156
Here are my results from testing today on a GKE deployed via:
`NUM_NODES=2 KUBERNETES_PROVIDER=gke CLUSTER_NAME='jvance-e2e' ZONE='us-west1-a' cluster/kube-up.sh` and running e2e as:
`KUBERNETES_PROVIDER=gke CLUSTER_NAME=jvance-e2e ZONE=us-west1-a cluster/test-e2e.sh  --ginkgo.focus="something"  --provider=gke --kubeconfig=/root/.kube/config --gce-zone="us-west1-a"`
1) NODE_OS_DISTRIBUTION not set

[2017-06-28 00:46] #47627 closed

[2017-06-28 01:04] kingdonb commented on #48161
I think I like the diff in linked gist version above, better than c6d22d05cf60d1ba49f25f5cedab94a09617129a

But, I am not a contributor

If I can get a reviewer who is a contributor to comment, I think you'll find that c6d22d05cf60d1ba49f25f5cedab94a09617129a which was made later is better and more brief.  Doesn't use the id label selector, just a `storageClassName` which still must match on pv an

[2017-06-28 01:08] yujuhong commented on #48160
/cc @vishh @jingxu97

[2017-06-28 01:13] mengqiy commented on #34746
/close
We don't need this any more.

[2017-06-28 01:13] #34746 closed

[2017-06-28 02:44] kingdonb commented on #48161
Also related to #44377

[2017-06-28 02:46] xiangpengzhao commented on #48163
cc @crimsonfaith91

[2017-06-28 02:50] k82cn commented on #48160
/cc

[2017-06-28 02:52] smarterclayton commented on #47972
I'm expecting to have endpoints like /admission/hook/* for servers
that process a wide range of chains.  I don't think there's much
coupling between a resource and the URL of the processing webhooks,
but it's an API clients will want to write to and servers will want to
respond to outside of apiserver.

[2017-06-28 02:53] k82cn commented on #48147
@kubernetes/sig-scheduling-misc

[2017-06-28 02:53] dixudx commented on #48069
/assign

@foxish I'm working on this

[2017-06-28 02:54] k82cn commented on #48147
@kubernetes/sig-cluster-lifecycle-misc

[2017-06-28 02:56] mengqiy commented on #37138
/close
Closing this is actually a conflict. And https://github.com/kubernetes/kubernetes/issues/37138#issuecomment-262394538 should have been fixed by the parallel deletion list.

[2017-06-28 02:56] #37138 closed

[2017-06-28 03:32] marun commented on #47379
@monopole What's the status of this issue?  Should it continue blocking 1.7?  If not, please remove the 'approved-for-milestone' label.

[2017-06-28 03:33] marun commented on #47767
@bsalamat So should the issue continue blocking 1.7?  If not, please remove the 'approved-for-milestone' label.

[2017-06-28 03:35] marun commented on #47977
@liggitt Given that the pr's you've linked to have all merged, should this issue continue blocking 1.7?  If not, please remove the 'approved-for-milestone' label.

[2017-06-28 03:42] #47977 closed

[2017-06-28 03:43] liggitt commented on #47977
The api-versions and kubefed cache usage has been fixed for 1.7

[2017-06-28 04:01] crimsonfaith91 commented on #48163
@apelisse It looks like `/approve no-issue` does not work immediately for https://github.com/kubernetes/kubernetes/pull/48159#issuecomment-311514654. Mind to step in to investigate it? Thanks!

[2017-06-28 04:43] madhusudancs commented on #47672
Presubmit jobs have been super healthy recently.

/close

@nikhiljindal FYI, since you are the buildcop this week.

[2017-06-28 04:43] #47672 closed

[2017-06-28 04:52] MikeSpreitzer opened #48173 "nil pointer panic in pkg/kubelet/kuberuntime/kuberuntime_container.go"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I tried to use virtlet with Kubernetes release 1.6.6, but a pod with a VM in it gets stuck in "ContainerCreating" state.  This problem does not happen with Kubernetes release 1.6.3.
 The log of the responsible kubelet shows a panic when trying to restart the container.  I do not know why the container is being restarted,

[2017-06-28 04:57] MikeSpreitzer commented on #48173
This might be relevant to @kubernetes/sig-node-kubelet

[2017-06-28 05:03] davidopp commented on #47767
I've removed the label.

[2017-06-28 05:10] MikeSpreitzer commented on #48173
@kubernetes/sig-node-misc

[2017-06-28 05:12] k82cn commented on #48173
@kubernetes/sig-node-misc

@MikeSpreitzer , did you do any update action against that Pods?

[2017-06-28 05:13] k82cn commented on #48173
@kubernetes/sig-node-bugs

[2017-06-28 05:14] MikeSpreitzer commented on #48173
I upped the kubelet's `v` to 4, and got an interesting  clue when I tried the experiment again.  Here an excerpt from the more verbose log.  Note the empty container name in the "Killing unwanted container" entry.
[code]

[2017-06-28 05:16] MikeSpreitzer commented on #48173
@k82cn I only created the pod, no updates.

[2017-06-28 05:35] liaoyw opened #48174 "Should not sync third party resources when it's disabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
After we disabled thirdpartyresources, apiserver still try to sync resources. And report
```third party resource sync failed: the server could not find the requested resource```

**What you expected to happen**:
Not sync third party resources when it's disabled

**How to reproduce it (as minimally and precisely as possibl

[2017-06-28 05:43] liaoyw commented on #48174
/sig area/third-party-resource

[2017-06-28 05:46] liaoyw commented on #48174
/sig area/third-party-resource

[2017-06-28 05:47] k82cn commented on #48152
/cc

[2017-06-28 05:56] davidopp commented on #44445
Your understanding is correct. Is the behavior you described repeatable? What PodStatus does the fluentd-gcp pod should when it is evicted? It would useful to see the kubelet and NodeController logs, I guess. Most likely the fluentd-gcp pod is getting evicted for some other reason. (Maybe you could try the same scenario as you described, but *don't* taint the node, and see if the fluentd-gcp pod g

[2017-06-28 06:00] liaoyw commented on #48174
/area third-party-resource

[2017-06-28 06:14] wangxfbelieve commented on #37922
Ops, set proxy information in the  /etc/yum.conf, like this:

proxy=http://172.19.136.190:1087
proxy_username=
proxy_password=

It's will be enable for all users, and It's does works.

[2017-06-28 06:14] pavolloffay commented on #47862
@cmluciano do you have any news on this? Is it in the roadmap or I was doing something wrong?

[2017-06-28 06:39] k82cn opened #48176 "Improve kube-scheduler integration test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
enhancement

/kind feature
/sig scheduling

**What happened**:
Echo @bsalamat 's proposal in sig-scheduling: There are a few scheduling e2e tests that are flakier than accepted. If you go to [the following link](https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-serial-release-1-7&sort-by-failures=) that sorts tests by their failures, you will s

[2017-06-28 06:46] k82cn commented on #48176
/kind help-wanted

[2017-06-28 06:50] mashayev commented on #48064
I'm trying to create it with:
`NUM_NODES=1 KUBE_OS_DISTRIBUTION=container-linux KUBE_GCI_VERSION=e2e-node-ubuntu-trusty-docker12-v2-image KUBE_GCE_MASTER_PROJECT=kubernetes-node-e2e-images cluster/kube-up.sh`

[2017-06-28 06:52] k82cn commented on #48176
/cc @gyliu513

[2017-06-28 06:53] irake99 opened #48177 "hyperkube kube-proxy panics when run with '--cleanup-iptables=true' starting with v1.7.0-alpha.3"
**Is this a BUG REPORT or FEATURE REQUEST?**:
bug

**What happened**:
Got panic after running:
[code]

Panic:
[code]

**What you expected to happen**:
No panic and exit successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Run the following command on both CoreOS v1298.7.0(bare metal) and Ubuntu 16.04.2 LTS(OpenStack)
[code]
Happened with the following versions:
v1.7.0-

[2017-06-28 06:56] fgrzadkowski commented on #48071
The reason it's P0 is because we've reverted PR changing resources to 90m cores. The reasons we've reverted that PR are the following:
* I don't think that tests we have are good enough to say with 100% confidence that 90m is ok
* Increasing it back to 100m is almost impossible (at least now)
* if/once we will solve the problem with memory it's quite possible that cpu might be the next bottleneck

[2017-06-28 07:03] lvthillo opened #48178 "Kubernetes installation with Vagrant stuck"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kubernetes installation stuck with
[code]

**What you expected to happen**:
Finish installation

**How to reproduce it (as minimally and precisely as possible)**:
On mac OS Sierra: 10.12.5

[code]

**Anything else we need to know?**:
/

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- Cloud provide