[2016-10-08 22:11] #27023 closed

[2016-10-08 22:13] bprashanth commented on #33631
i think https://github.com/kubernetes/kubernetes/pull/34053 fixed this

[2016-10-08 22:13] #33631 closed

[2016-10-08 23:07] phsiao commented on #34379
Not sure if you simply want to access it, you could do http://kube-node-0:30526 or http://kube-node-1:30526 to reach the dashboard.  The dashboard is running on nodePort 30526.

[2016-10-08 23:26] kargakis commented on #13488
There is a proposal and PoC in https://github.com/kubernetes/kubernetes/pull/31701

[2016-10-08 23:40] AdoHe commented on #34345
@PhilibertDugas the problem is that: get `io.EOF` but still get some content. In this case, we will not return err.

[2016-10-08 23:50] AdoHe commented on #34394
this should be some validation error.

[2016-10-08 23:54] esayemm commented on #29330
@elcct Hello did you ever find a solution to this?

[2016-10-09 00:07] #33984 closed

[2016-10-09 00:07] #34272 closed

[2016-10-09 00:08] blak3mill3r commented on #24286
@chrislovecnm Sort of... not very _well_ documented, but I do have notes. I should clarify though: I'm only talking about setting up a secure VPN tunnel connecting two private VPC subnets in different regions... I did not combine that with k8s Petsets. I can't see why it wouldn't work though, if k8s exposes the nodes in a Petset to the VPC, and the IPsec tunnel allows connecting from the remote VP

[2016-10-09 00:11] PhilibertDugas commented on #34345
@AdoHe I had found something else, let me know if this makes sense:

To decode YAML or JSON, the decoder tries to `GuessJSONStream`: https://github.com/kubernetes/kubernetes/blob/master/pkg/util/yaml/decoder.go#L201

This method does a `Peek` call:
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/yaml/decoder.go#L289

The problem with `Peek` and the `os.Stdin` stream is that it will b

[2016-10-09 00:13] kking124 commented on #34379
Can I do that remotely or do I need to be on the node to reach that port?

[2016-10-09 00:15] phsiao commented on #34379
Since it is a NodePort, you should be able to do it remotely.

[2016-10-09 00:19] andrewmclagan opened #34401 "[FEATURE REQUEST] Default resource request documentation"
We are having trouble understanding Kubernetes resource requests.

We run a cluster of 3x 1CPU / 3.75Gb

Our issue is this: We are allocating really small CPU requests to each container in our pods so the pod will be scheduled onto a node. Our containers are basically all web containers running NodeJS or PHP so their CPU is pretty low and occasionally bursts.

I personally just don't see the point

[2016-10-09 00:21] AdoHe commented on #34345
@PhilibertDugas would you mind first give a try with kubernetes 1.3? I want to make sure whether this is a regression or not, as we changed decoder in 1.4 to replace the scanner based approach.

[2016-10-09 00:26] PhilibertDugas commented on #34345
Ah yes, sorry for not sharing this, I believe my `kubectl` client is on 1.3 already:

![image](https://cloud.githubusercontent.com/assets/5460957/19216705/68614180-8d95-11e6-98ce-9937fc2bb6a2.png)

[2016-10-09 00:57] smarterclayton commented on #33941
Something seems wrong with TLS/apiserver on GCI.  Seeing this causing other flakes.

[2016-10-09 00:58] smarterclayton commented on #33985
This is happening on a wide range of tests for GCI.  I don't think it's the test, it's the API server, the load balancers, or some other component in between.

[2016-10-09 01:04] mikekap commented on #34401
By default I don't believe kubernetes automatically sets resources/limits if you don't provide them. (Or the first line of http://kubernetes.io/docs/admin/limitrange/ is wrong). This can happen in a non-default configuration if you enable the [InitialResources admission controller](http://kubernetes.io/docs/admin/admission-controllers/#initialresources-experimental). Do you have that enabled on yo

[2016-10-09 02:02] andrewmclagan commented on #34401
okay, you are correct I really don't know how we missed this..!

[2016-10-09 02:03] madhusudancs commented on #32943
This is fixed in PR #34325. Closing the issue.

[2016-10-09 02:03] #32943 closed

[2016-10-09 02:24] chengzhang1016 commented on #33475
@rata Thanks for your response.
I'm confusing. In my testing, all values in `8`, `08`, `008` and `0008` will be change to 0010 (`------x---`) in octal, and all will be created successful.

Furthermore, the reason why I think it should fail is that the behaviour is different with `chmod` command in Linux. User maybe have confusion in here. As we know, the valid value is [0-7][0-7][0-7] in Linux, in

[2016-10-09 02:31] chengzhang1016 commented on #34394
@mdshuai @derekwaynecarr @therc
I opened this issue base on below three merged PRs:
https://github.com/kubernetes/kubernetes.github.io/pull/1063
https://github.com/kubernetes/kubernetes/pull/30599
https://github.com/kubernetes/kubernetes/pull/30931

[2016-10-09 02:32] bruceauyeung opened #34404 "there should be a way to leave cluster in kubeadm"
currently `kubeadm` command provides a command `join` to join a cluster. but there isn't a command to leave that cluster. maybe `kubeadm leave` is suitable for this circumstance

kubeadm version

[2016-10-09 02:41] sequoiar commented on #6862
+1

[2016-10-09 02:47] redhatlinux10 opened #34406 "kubeadm join doesn't join a cluster eventually"
**Kubernetes version** (use `kubectl version`):
kubeadm version

kubectl version

Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"clean", BuildDate:"2016-09-26T18:10:32Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Cloud provider or hardware configuration**:

- **OS**

[2016-10-09 03:06] tianyouhui commented on #33729
same problem as @eparhei  and still hung... is it that the kubelet dns cluster ip default 100.64.0.10 need change?

[2016-10-09 04:10] Panzus opened #34408 "the server has asked for the client to provide credentials"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-10-09 04:46] brendandburns commented on #28695
fwiw, I don't think we should imply `--quiet` with -`it` plenty of newbie users are going to want interactive terminal sessions, but it takes a long-ish time to run for the first time, especially if the image is large, I think that we still want to provide feedback by default.

Definitely makes sense to have a `--quiet` flag though.

[2016-10-09 04:47] brendandburns commented on #27851
This was fixed by https://github.com/kubernetes/kubernetes/pull/31586

but I didn't close this issue.  Closing it now.

[2016-10-09 04:47] #27851 closed

[2016-10-09 05:36] smarterclayton commented on #34377
@willb

[2016-10-09 06:20] ddysher commented on #33222
+1 But everywhere eviction is mentioned, we see QoS.  And although QoS is said be orthogonal to request & limit, we uses request & limit to determine QoS exclusively.  Further, there doesn't seem to be a plan to decouple them?  I remembered reading some docs in k8s.io saying that we deliberately rejected using numbered priority.

One of the assumptions for CPU is that there is always free cycles;

[2016-10-09 06:50] redhatlinux10 commented on #34406
@kubernetes/sig-cluster-lifecycle

[2016-10-09 07:05] qband commented on #32728
Here is the solution that works.
[code]

[2016-10-09 07:24] redhatlinux10 commented on #34406
i have found why this happened.
on the slave node, i forgot to install docker-engine. this is the reason.
so there is another question, why `kubeadm join` succeed even when docker-engine is not installed on the slave node ?

[2016-10-09 07:32] Roshanson commented on #33729
Hi ,I also meet the problem on Ubuntu 16.04 after set http_proxy and start kubelet service.

[2016-10-09 07:55] syklinux commented on #33919
where  i can kown my node token?

[2016-10-09 09:21] suonto opened #34409 "OpenStack LBaaSV2: EnsureLoadBalancer should clean up created objects upon error"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Kubernetes version** (use `kubectl version`): master

**Anything else do we need to know**: Cleanups have been discussed in #33276

[2016-10-09 10:25] WIZARD-CXY commented on #30572
Sorry tobe, I'm not currently maintaining ubuntu k8s provision. maybe u can ask resour for help...

[2016-10-09 10:38] swqmaven opened #34411 "error: <master/discovery> failed to create "kube-discovery" deployment [deployments.extensions "kube-discovery" is forbidden: not yet ready to handle request]"
used kubeadm init error? thanks for help!

[2016-10-09 11:28] tobegit3hub commented on #30572
Thank @WIZARD-CXY anyway. Still not sure if it's the issue of ubuntu provision. It would be great if anyone can help to test this in your environment.

[2016-10-09 12:10] IanLewis opened #34412 "apiserver crash on ARM"
BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.4.0

**Environment**:
- **Cloud provider or hardware configuration**: Raspberry Pi
- **OS** (e.g. from /etc/os-release): Ubuntu Xenial
- **Kernel** (e.g. `uname -a`): Linux ubuntu 4.4.0-1023-raspi2 #29-Ubuntu SMP Tue Sep 6 16:12:44 UTC 2016 armv7l armv7l armv7l GNU/Linux
- **Install tools**:
- **Others**:

**What happened**:

After runn

[2016-10-09 12:42] bes opened #34413 "Intermittent error when doing kubectl apply -f for a HorizontalPodAutoscaler: 'unable to find api field in struct HorizontalPodAutoscalerSpec for the json field "scaleTargetRef"'"
**What keywords did you search in Kubernetes issues before filing this one?**
- unable to find api field in struct HorizontalPodAutoscalerSpec for the json field "scaleTargetRef"
- HorizontalPodAutoscaler
- scaleTargetRef

Also searched google/stackoverflow

---

**Is this a BUG REPORT or FEATURE REQUEST?**
Bug report

**Kubernetes version** (use `kubectl version`):
v1.4.0

**Environment**:
- GKE

[2016-10-09 13:35] resouer commented on #30572
It seems like a flannel issue, tobe could you please remove the flannel
config in dockerd?
Then everything should be ok.

2016年10月9日星期日，tobe <notifications@github.com> 写道：

[2016-10-09 13:36] k82cn commented on #34377
+1 on "generic resource management tools", I have similar ideas on that when working on `kube-mesos`.

[2016-10-09 13:58] xiang90 commented on #34377
/cc @hongchaodeng

[2016-10-09 14:09] colemickens commented on #34236
This should fix the reported issue: #34416

[2016-10-09 14:17] Arachnid commented on #34236
Thanks for fixing this so quickly!

[2016-10-09 14:41] techtonik commented on #28632
Well, I am on `windows/386` and there is no other notebook here.

[2016-10-09 15:00] bes commented on #34413
Tried deleting the hpa using `kubectl delete hpa my-service-horizpodautoscaler` and then reapplying. Worked first time (no errors) and the hpa was created. Waited a few minutes then applied again, and got the same error.

[2016-10-09 16:00] techtonik commented on #33726
So what it required to make this issues actionable? Where to add this `dl.k8s.io` for the certificate?

[2016-10-09 16:05] techtonik commented on #28631
What is the primary download point for `kubectl`? I expected to find it among downloads here - https://github.com/kubernetes/kubernetes/releases

It seems that the scope of this issue to just pack `kubectl` separately during build process. Removing it from the big .tar.gz and testing that nothing breaks can be a separate (and rather long) issue.

[2016-10-09 16:06] mqliang opened #34417 "move service ClusterIP/NodePort allocation logic to a controller?"
Is there any particular reason for putting service ClusterIP and NodePort allocation logic into API server, instead of controller?

AFAIK, allocating in API server is racy when we have multiple API server, unless we write allocation status into etcd. Currently, we have a repair controller in API server which periodically examines all service ClusterIP/NodePort allocations and handle duplicate Clus

[2016-10-09 16:24] smarterclayton commented on #32728
The fix was https://github.com/google/cadvisor/pull/1476

[2016-10-09 16:25] smarterclayton commented on #32728
Plus a Kube change

[2016-10-09 17:33] duglin commented on #28695
showing something to indicate that the image is being downloaded makes sense to me (like Docker does), but I believe the current message shows up even when that's not the case and I think that's less than ideal.  Once the image is cached I think our goal should be that: `xxx` and `kubectl run xxx` show the exact same output.

[2016-10-09 18:22] techtonik commented on #28631
This creates `kubectl` distribution:
[code]
It is only unclear who or what should upload it to https://github.com/kubernetes/kubernetes/releases

[2016-10-09 18:29] ixdy commented on #33726
@techtonik the issue tracking that is https://github.com/kubernetes/k8s.io/issues/18

[2016-10-09 18:52] luxas commented on #34328
I've been working with multiarch a lot, please read though https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/multi-platform.md

This should be pretty straightforward now

As soon as we have upgraded to go1.7.1, we should try to enable it for sure, and I can help as I stated in the proposal

[2016-10-09 19:42] luxas commented on #34412
Known issue. I fixed it in v1.4.1 (also works with v1.4.1-beta.2)

I had to do **a lot** of stuff this release to get ARM working, and everything didn't make .0, so .1 (which comes tomorrow) will work.

I will add a HypriotOS guide to the kubeadm doc very soon...

See: #33485 #33117 #33376 #32517

[2016-10-09 19:42] #34412 closed

[2016-10-09 19:46] luxas commented on #33915
Actually this is done properly, as `/etc/kubernetes` is host-mounted into the container so it should work.

Closing as fixed.

[2016-10-09 19:46] #33915 closed

[2016-10-09 20:42] jimmyjones2 opened #34420 "kubeadm 1.4: kube-dns fails on CentOS 7.1"
CentOS 7.1.1503 minimal VM, using kubeadm guide with weave networking. kube-dns has issues starting up:

[code]

Disabling firewalld resolves the issue.

[2016-10-09 20:43] blak3mill3r commented on #24286
After reading more on Petsets, it's not clear to me that it supports exposing each pet as a stable IP/name.

[2016-10-09 21:08] chrislovecnm commented on #24286
@blak3mill3r first can we open an issue, secondly static IPs are an enhancement that I have requested.

[2016-10-09 21:27] chrislovecnm commented on #28660
Can we get this in 1.5?

[2016-10-09 21:45] davidopp commented on #34417
@fgrzadkowski since replicated API server is related to HA

[2016-10-09 22:47] davidopp commented on #473
"Works" in a loose sense -- we have a web page that explains how you can bring up an HA master, and there are certainly people doing it, but there's still a lot missing. @fgrzadkowski has taken over this issue. Automation and making it testable are on his plate.

[2016-10-09 23:08] #32993 closed

[2016-10-10 00:05] andrewmclagan commented on #34401
Re-opening this as it seems Kubernetes really does have undocumented default resource allocations:

Our `deployment.yml` has absolutely no resource requests or limits and when describing the nodes in our cluster its clear that Kubernetes is allocating `100m` per container within each pod.

This then causes scheduling errors when we do a rolling update of our deployment:

`kuebctl apply -f deployme

[2016-10-10 00:17] AdoHe commented on #34417
[code]
we definitely write status into etcd, use bitmap to store it.

[2016-10-10 00:42] mikekap commented on #34401
I think there's a slight gotcha with apply if you didn't create the deployment with apply in the first place. It sounds very similar to something like #25390 .

Try using kubectl replace or removing the resources with kubectl edit, or just deleting the deployment and recreating it. You should see the CPU requests disappear from the config.

[2016-10-10 00:46] #33588 closed

[2016-10-10 00:50] chrislovecnm opened #34422 "Bump Cassandra example to 3.9"
Current C\* version is 3.9.  We are running 3.7.

Update kubernetes/examples/storage/cassandra/image/files/cassandra.list and cassandra.yaml

@bgrant0607 @thockin can someone assign this to me?  If yah give me perms I could do it 😀

[2016-10-10 00:53] andrewmclagan commented on #34401
Is there anyway to get around resource limits when undergoing an update? It just seems very counter intuitive that resource limits apply to new pods being scheduled and removed. Having to take this into account we are assigning unrealistic resource requests to pods just to get around this "surge" issue

[2016-10-10 01:48] yu-yang2 opened #34423 "hyperkube taking large amounts of cpu."
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"5cb86ee022267586db386f62781338b0483733b3", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"5cb86ee022267586db386f62781338b0483733b3", GitTreeState:"clean"}

**Environment**:
- **Cloud provider or hardware configu

[2016-10-10 02:00] justinsb commented on #28631
FYI the separate downloads are browsable here:

https://console.cloud.google.com/storage/browser/kubernetes-release/release/v1.4.0/bin/linux/amd64/?pli=1

[2016-10-10 02:02] rata commented on #33475
@chengzhang1016 will try to reproduce tomorrow. But I think probably the parser parse it that way and there is no way to validate that if we use a valid yaml/json parser.

Also, chmod says it accepts only OCTAL-MODE for numberic ways, it is not the case of yaml/json nor our. In fact, the example uses decimal mode.

@chengzhang1016 why do you think it's nice to fail with "8" if it is stated that we

[2016-10-10 02:12] chengzhang1016 commented on #33475
@rata OKay. I see and thanks for your explanation. Do you think if we need to add some description in docs?

[2016-10-10 02:47] rata commented on #33475
On Sun, Oct 09, 2016 at 07:13:01PM -0700, Cheng Zhang wrote:

But do you see it as a problem? Can you please elaborate? I'd really like to
know why :)

Not sure, what confused you and how do you think it can be better explained?
Also, feel free to send a PR. But if you don't want, also please explain me some
more and I'll try to clarify it! :)

Thanks again!
Rodrigo

[2016-10-10 02:52] piersharding commented on #33729
Hi -
I think I am seeing something similar to the hang on Ubuntu 16.04.
It waits indefinitely here:
[code]

If I start the kubelet with systemctl start kubelet, kubeadm runs to completion printing the join command and token, however the KubeDNS pod fails to start with the following:
[code]
I have tried booting the cluster multiple times with the same problems.  I wipe the previous init with:
[code

[2016-10-10 03:06] smarterclayton commented on #28660
It's not currently on the minimum requirements list.  If someone wants to
take ownership of the issue and write up a proposal we could at least
commit to getting the proposal reviewed in 1.5, but there is no bandwidth
for an implementation.

On Oct 9, 2016, at 3:28 PM, Chris Love <notifications@github.com> wrote:

Can we get this in 1.5?

—
You are receiving this because you were mentioned.
Reply

[2016-10-10 03:09] smarterclayton commented on #34417
When we last discussed this we could not come up with a way to make a
change to move allocation to a controller while preserving backwards
compatibility and not being a very complex change.

The initializers concept is as close as we've come and the changes required
there are also very expensive a

On Oct 9, 2016, at 6:18 PM, TonyAdo <notifications@github.com> wrote:

unless we write allocation st

[2016-10-10 03:11] monaka commented on #19317
Still v1.4.0 also...

[code]

[code]

[2016-10-10 03:12] smarterclayton commented on #34417
Allocation is HA - we've tested it extensively replicated API servers since
Kube 1.1 (openshift HA is multi API server) and I'm not aware of any fixes
post 1.1.  We did handle add retry loops for when startup conflicts piled
up (the repair core controller can race against the other API server to
update the allocation bitmap, which can lead to lots of write conflicts).

On Oct 9, 2016, at 6:18 PM,

[2016-10-10 03:22] yuexiao-wang opened #34425 "There are some typos in comment information"
There are some typos in comment information such as eg. which should be modified to e.g.

[2016-10-10 03:28] yuexiao-wang opened #34427 "There are some mistakes for logs and commend information in healthz"
The logs should be a lower case letter for the first letter and modify some commend information which is consistent in context.

[2016-10-10 03:39] dongjk opened #34428 ""build/run.sh make" failed"
**Environment**:
- **Cloud provider or hardware configuration**:Vagrant virtualbox
- **OS** (e.g. from /etc/os-release):  "ubuntu/trusty64"
- **Kernel** (e.g. `uname -a`):3.13.0-96-generic
- **Install tools**:
- **Others**:

**What happened**:

I met a error when run `build/run.sh make`

I ran `build/make-clean.sh` fisrt, and set KUBE_VERBOSE=9, and then `bash -x ./build/run.sh make`

[code]

[2016-10-10 03:43] chrislovecnm commented on #28660
@smarterclayton this is not good ;( I would be happy to work on it, but I have zero clue where to even begin.  @bprashanth should we talk about this at sig-apps? What is the best way to get more traction?

[2016-10-10 04:04] AlvinChiou opened #34429 "Kube-ui unable to start"
Hi All,

Myself configured kubernetes on baremetal Ubuntu server, followed.
http://kubernetes.io/docs/getting-started-guides/ubuntu/

Then I install dashboard followed.
http://kubernetes.io/docs/user-guide/ui/

Having trouble to start the kubernetes-dashboard, it's looks like pull image from gcr.io failed.Please suggest.

[code]

[2016-10-10 04:22] chrislovecnm commented on #34422
@bgrant0607 merge robot is not quite correct with the labels

[2016-10-10 04:43] rbtcollins opened #34430 "aws: support for custom IP routes"
**Is this a request for help?** Nope.
## **What keywords did you search in Kubernetes issues before filing this one?** ip route and read every match subject

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

Please permit injecting custom routes into the master and minions.

Why, you might ask?

In AWS the routes objects only apply to the VPC routers; the DHCP option set'

[2016-10-10 04:50] thockin commented on #28660
I'm not sure anyone knows what "this" is, so 1.5 seems exceedingly unlikely.  The requirements just are not clear yet.  at least, not to me...

[2016-10-10 05:00] chrislovecnm commented on #28660
@thockin I have talked to @bprashanth about this topic a few times.

In a nutshell. Many apps require a static private IP address to function. Not just a DNS name, but a persistent IP address. I know it is a pain, and complex, but this does cover many apps that would run inside of a PetSet.  To be clear, this is not public IP, but the private pod IP.

How do you recommend proceeding?

[2016-10-10 05:01] chrislovecnm commented on #28660
I may be commenting on the wrong issue, Arg. Let me ping @bprashanth

[2016-10-10 05:03] thockin commented on #33222
My main point is that for compressible resources there is almost NO IMPACT
on the system if I temporarily exceed my request.  If everyone is using
their request, I might not be able to get extra, and that might cause my
app pain, but that's on me to figure out.

On Sat, Oct 8, 2016 at 11:21 PM, Deyuan Deng <notifications@github.com>
wrote:

[2016-10-10 05:05] chrislovecnm commented on #28969
@thockin this is the one I meant to comment on. Who is setting the priority of this one? Would a proposal be a good start?

[2016-10-10 05:05] thockin commented on #28660
I don't have a great answer right now.  Some environments, like GCE, just
do not play nicely with that.  Does a service per-pet not work, or is it
just fugly and offensive to you?

On Sun, Oct 9, 2016 at 10:02 PM, Chris Love <notifications@github.com>
wrote:

[2016-10-10 05:11] thockin commented on #28969
A proposal is always a good start

[2016-10-10 05:31] davidopp commented on #25320
Sorry for the delay. I think my list was way too long. Those are all features we want eventually but I don't think they're all needed for 1.5.

The remaining things I think we need for 1.5 are
* add forgiveness to Toleration
* Implement NoScheduleNoAdmit and NoExecute
(previously NoScheduleNoAdmitNoExecute see #28082)

@kevin-wangzefeng is working on these and said he should have a PR out soon.

A

[2016-10-10 05:40] chengzhang1016 commented on #33475
I understand the implement and your explanation.
1. Use a proper number in octal, will not change and it works.
2. Use a decimal or a invalid octal, will change to proper octal and it works.
That is fine. But, user maybe have confusion for below two things, I think we should add some explanation for that.
1. What happen while user set a decimal or a invalid octal (will change to a proper octal)
2.

[2016-10-10 06:20] justinsb commented on #34430
kube-up is considered deprecated, so we'd be unlikely to accept it into the main tree.

However, check out kops & in particular https://github.com/kubernetes/kops/issues/428

We'd love to have your input there on use of DHCP to steer traffic.  The biggest challenge with NAT gateways I believe is that they aren't multi-AZ, so we need multiple route tables, which doesn't work with built-in AWS VPC r

[2016-10-10 06:21] justinsb commented on #34430
(or rather, steering traffic using the DHCP approach, even if we then have to do it directly!)

[2016-10-10 06:31] wojtek-t commented on #26637
I don't agree with the fix suggested by @bprashanth

Basically the problem is that every "Endpoints" object is watched by all KubeProxy in the cluster. Which means, that if we are renewing the lease every 2s (which IIUC is the current case), and we have 2000-node clusters, that means that 2000 KubeProxy components are processing that Endpoint update every 2s. No matter if we will be updating iptab

[2016-10-10 06:46] yuexiao-wang opened #34431 "Some typos in links in cassandra"
**Kubernetes version** (use `kubectl version`):
the latest version

**Environment**:
ubuntu 14.02

**What happened**:
There are some typos in links in README

**What you expected to happen**:
Clear up the links

[2016-10-10 06:51] gmarek commented on #34417
PodCIDR allocation is currently kind-of separate from NodeController. They do sit in a single "Controller", which would make it harder to re-implement only one of them, but that's the only problem there is now (codebase is separate and the intersect only on listening to Node changes - it'll be trivial to separate them completely, but I didn't have any reason to do so).

If you want to do the split

[2016-10-10 06:55] asalkeld opened #34433 "kubectl set image prints to options.Err but it is unassigned"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
"set image"

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

In pkg/kubectl/cmd/set/set_image.go
The field "Err" is never assigned to.

See:
https://github.com/kubernetes/kubernetes/blob/master/

[2016-10-10 06:58] gmarek commented on #34003
@yujuhong @dchen1107 - this is failing at least once a day in every suite it runs.

[2016-10-10 07:03] asalkeld commented on #34433
I found a way to pass the stderr into the command. Posting a PR soon.

[2016-10-10 07:09] rbtcollins commented on #34430
Huh, I did not know that kube-up is deprecated - http://kubernetes.io/docs/getting-started-guides/aws/ still points at get-kube :/ with no mention of deprecation. I'm a little miffed at that, as we just brought up the tooling etc we're using around get-kube. ça la vie I guess.

Will comment on the kops ticket.

[2016-10-10 07:13] rbtcollins commented on #34430
NAT gateways are single-AZ - they live in a subnet, and subnets are single-AZ.

One way of meeting our use case is to do this:
head subnet:
  - NAT gateway
kube subnet:
  - master + minions + etc etc
  - route 1.2.3.4/32 to the IP of the NAT gateway.

But that depends on a multi-subnet deployment facility :- 6/1 1/2 dozen of the other at that point :)

[2016-10-10 07:35] jszczepkowski commented on #34309
`make release` works again, thanks for the fix! I guess we can now close this issue.

[2016-10-10 07:46] wojtek-t commented on #33653
Thanks a lot for releasing 3.0.12.
@hongchaodeng is currently trying to update Kubernetes code with it: https://github.com/kubernetes/kubernetes/pull/34246

@xiang90 regarding my comment above - I created https://github.com/kubernetes/kubernetes/pull/34435 (this together with the use of prevKV should help a lot).
To save you effort with rebasing, we should probably merge your PR first, but my shou

[2016-10-10 07:59] techtonik commented on #28631
@justinsb that's awesome. If it is an official location, is it possible to update release notes template (there is one, right?) to point to binaries location? From here - https://github.com/kubernetes/kubernetes/releases/tag/v1.4.0

[2016-10-10 08:21] sdminonne commented on #7347
@justinsb `cluster/libvirt-coreos` works (at least for my needs) . I use it everyday for dev and I'd like to keep it working. I was not aware of this issue. Having a look and let you know.

[2016-10-10 08:26] kiall commented on #34364
Re OpenStack - yes, we've seen this when the Nova Metadata service is down, causing all nodes to become NotReady..

[2016-10-10 08:29] pdbogen opened #34437 "wrong volume mounted on AWS when EBS volume changes device node as part of detach from nodeX and attach to nodeY"
**Is this a request for help?** No.

**What keywords did you search in Kubernetes issues before filing this one?** "wrong volume"

**Is this a BUG REPORT or FEATURE REQUEST?** Bug report.

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): coreos

[code]
- **Kernel** (e.g. `uname -a`):

[2016-10-10 08:38] sdminonne commented on #7347
@roberthbailey I had a look at https://www.ssllabs.com/ssltest/analyze.html?d=alpha.release.core-os.net but I found no reference to `...googleapis...` maybe something changed since this issue is quite old. Could you check again and eventually share more details on the issue? Thanks in advance

[2016-10-10 08:40] liubog2008 opened #34439 "Questions about disk-accounting and disk storage limitation"
I have read proposal [disk-accounting](https://github.com/pmorie/kubernetes/blob/3335a5bb195474d521db8adfc18faa92e130f5c8/docs/proposals/disk-accounting.md) which mentions a solution to limit disk storage. I'm confused about some questions.

Questions:
1. Does it decide that quota based on gid is the solution of disk limitation for ext4?
2. Quota based on gid can't limit root user. Does it mean th

[2016-10-10 08:45] liubog2008 commented on #34439
cc @vishh

[2016-10-10 08:52] soltysh commented on #33968
We're trying hard to maintain backwards compatibility, unfortunately not always this is possible.

[2016-10-10 09:15] gajju26 commented on #34328
Hi luxas,

Thanks for inputs. I have identified the changes required for s390x that need to be pushed. The changes are pretty straight forward and compatible with GO 1.7.1.  You want me to push the required changes for s390x or will be enabled at your end,once you upgrade it to go1.7.1. Can you give me an idea, how soon Kubernetes will be upgraded to go1.7.1??

@cwsolee @aborkar-ibm

[2016-10-10 09:24] errordeveloper commented on #34406
@redhatlinux10 the instructions state that you need to launch `kubelet.service` as well as `docker.service`. We are planning to implement check for this, but haven't done it yet. I believe instructions are very clear about this, did you miss this part?

[2016-10-10 09:59] piosz commented on #33775
@captify-akraievoy thanks for pointing me to it.

In #31519 I updated influxdb to the newer version to improve resource usage. It seems the old Grafana doesn't work with the new influxdb version. We need to update Grafana image - it's hosted in https://github.com/kubernetes/heapster/tree/master/grafana. Anyone willing to help?

cc @mwielgus

[2016-10-10 10:05] gmarek opened #34441 "Make e2e framework use generated clientset instead of unversioned client."
We want to get rid of unversioned client eventually.

cc @wojtek-t @caesarxuchao @dchen1107 @kubernetes/test-infra-maintainers

[2016-10-10 10:15] #34309 closed

[2016-10-10 10:19] Crassirostris commented on #32762
@tagomoris Thanks! Without this output plugin memory is indeed has not exceeded 60MB

The next step is clear then, I will update this issue when fluent-plugin-google-cloud will be fixed

[2016-10-10 11:01] timbunce commented on #29053
I'm unclear on where this is at. We're getting swamped with dns logs.
Thanks for the commit @fluxrad.
Is the volume reduced in v1.4? (I'm unclear re @girishkalele's addon vs in-tree version comment).
If not then could this case be added to the 1.4.1 milestone?

[2016-10-10 11:16] wojtek-t commented on #32361
@luxas - we are currently not targetting 3.1. The current plan is 3.0.12.

[2016-10-10 11:37] wojtek-t commented on #25969
@bprashanth - IIUC, we removed the hacky setup for flannel completely, right?
If so, we should probably close this issue, as this is completely outdated then. WDYT?

[2016-10-10 11:38] wojtek-t commented on #33839
We should ignore failures for enormous-cluster, those were experiments.

As for kubemark-scale, those issues were etcd-related. We are already working on migrating to etcd3.
So I'm decreasing the priority of it for now.

[2016-10-10 11:48] maciaszczykm commented on #29271
I'll create pull request soon to discuss proposed solution.

[2016-10-10 12:27] cristifalcas commented on #22586
We get this on a cluster build with Vmware machines. We use devicemapper with xfs.

[2016-10-10 12:42] deads2k commented on #16779
No.  Given a configured authorizer, the SA token does not grant any permissions.  Also, a user could change the "automount SA token" bool to false if they wanted.

[2016-10-10 12:53] wernight commented on #4789
The [`defaultMode`](http://kubernetes.io/docs/api-reference/v1/definitions/#_v1_secretvolumesource) and `items.mode`) seem good but they are OR'ed with something (possibly somehow [`fsGroup`](http://kubernetes.io/docs/api-reference/extensions/v1beta1/definitions/#_v1_podsecuritycontext)) and as a result 0400 gets transformed into 420.

Editing (`kubectl edit ...`) does fix it, but doing an apply (

[2016-10-10 13:08] wernight commented on #4789
Doing a `kubectl apply -f ...` **twice** also works. Note that normally the only thing that chances is the `image`. Even if done one right after the other.

[2016-10-10 13:14] tagomoris commented on #32762
@Crassirostris Thank you! It's great report for me.

[2016-10-10 13:17] wernight opened #34445 "Secret defaultMode / mode not respected initially"
**Kubernetes version**:
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE

**What happened**:
Changes the permission to 420 instead of 256, so `-rw-r--r--` instead of `-r-----`.

**What you expected to happen**:
Should preserve 0700 (256).

**How to reproduce it** (as minimally and precisely as possible):
Following [Secret files permissions](http://kubernetes.io/docs/use

[2016-10-10 13:21] wernight commented on #34445
Upgraded `kubectl`:

Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675
cd97a46b", GitTreeState:"clean", BuildDate:"2016-09-26T18:16:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"li
nux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675
cd97a46b", GitTreeS

[2016-10-10 13:30] rootfs commented on #32266
Not every bridge is the same. If librbd is implemented as a `tcmu-runner`
handler, we need `targetcli` to do the setup. The semantics would be
different from rbd-nbd.

On Fri, Oct 7, 2016 at 6:05 AM, Radoslaw Zarzynski <notifications@github.com

[2016-10-10 13:35] wojtek-t opened #34446 "Uploading logs to GCS seem to stopped working"
It seems that we stopped uploading logs to GCS around Friday/Saturday.

As examples, this is the first kubemark-scale run that doesn't have logs:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1468/?project=kubernetes-jenkins

But we also don't have any logs e.g. for kubernetes-gce-e2e suite (which seems to be our main suite), e.g.:
https://p

[2016-10-10 13:38] wojtek-t commented on #34446
P0 - because it makes debugging roughly impossible.

[2016-10-10 13:42] dkerwin opened #34447 "ScheduledJobs: jobs.batch already exists"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 8 (jessie)
- **Kernel** (e.g. `uname -a`): 3.16.36-1+deb8u1 (2016-09-03) x86_64 GNU/Linux

**What happened**:

Deployed a scheduled job from this ma

[2016-10-10 13:48] gmarek opened #34448 "Build not working properly"
If I'm not missing something our incremental-ish build works very very badly. It failed to noticed that the file something depends on got recompiled, and thus failed to fail the build.

I observe the following:

[code]

Things to look at:
- I moved RCConfig from `test/e2e/framework/util.go` to `test/utils/runners.go` (I want to reuse this code in integration tests, but that doesn't matter)
- even

[2016-10-10 13:49] rzarzynski commented on #32266
@rootfs: this is why I mentioned the need for the abstraction layer for mapping and unmapping an RBD image.

[2016-10-10 14:04] wojtek-t commented on #33867
Hopefully, #34442 should help with this.

[2016-10-10 14:26] piosz commented on #33895
@bprashanth could you please take a look?

[2016-10-10 14:28] rata commented on #34445
@wernight yes, you need kubectl from 1.4 release too. Glad it works that way! :-)

[2016-10-10 14:29] rata commented on #4789
@wernight using a kubectl from 1.4 release (previous releases don't have this feature) fixes that, as reported in https://github.com/kubernetes/kubernetes/issues/34445 ?

[2016-10-10 14:32] liggitt commented on #23217
that would be possible by binding to `system:authenticated` or `system:serviceaccounts` groups

that would be possible by binding to service accounts in the kube-system namespace

[2016-10-10 14:32] #33185 closed

[2016-10-10 14:32] wernight commented on #4789
Yes, upgrading the client fixes that.

[2016-10-10 14:35] rata commented on #33475
@chengzhang1016 note there is no "change to proper octal". The number is read as a decimal number, and that's it. 8 or 08 is a decimal number, and it's read like that.

In the end, octal, decimal, etc. are all different ways to express the same numbers. That's it.

But haven't realized about the output of "-o yaml" to be in decimal, that's a very good point! Would you like to improve documentation

[2016-10-10 14:39] maciaszczykm commented on #29271
I've got code proposal, but it needs tests to finish. I'll open pull request tomorrow.

[2016-10-10 14:50] kenan435 commented on #33924
When you say making it idempotent, basically reuse the already created assets etc.. and/or prompt the user if they would like to create new ones each time one of the commands (init, join) is executed? Have a check in each one of the functions and make sure that any combination of them (keeping vs creating new ones) does not cause accidental breakage.

[2016-10-10 14:50] maciaszczykm commented on #29271
Ready :-)

[2016-10-10 14:57] kking124 commented on #34379
The port does not appear to be available on either node; I tried recreating the cluster and doesn't seem to have made any difference.

[2016-10-10 15:10] errordeveloper commented on #33907
@pires yes, I think this is a key UX requirement, but it's somewhat easy to overlook.

[2016-10-10 15:19] wernight opened #34453 "Cannot mount volume with different subPath"
**Kubernetes version** (use `kubectl version`): 1.4 (client and server)

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE

**What happened**:
Doesn't show an error but only keeps **one** of the volumes mount when the same volume is mounted multiple times (with different `mountPath` and `subPath`).

**What you expected to happen**:
Should work (that's the main reason to

[2016-10-10 15:28] luxas commented on #32361
Sad, since arm needs 3.1.x unless the etcd team cherrypick some 32-bit fixes into 3.0.13...
Namely https://github.com/coreos/etcd/pull/5890, which I proposed being cherrypicked (very very low risk) into 3.0.x, but seems like it was turned down

cc @xiang90 @gyuho Is a cherrypick okay for you?
There's quite many k8s arm users as well, and I'd like to not "hack" things to make it work on the kuberne

[2016-10-10 15:32] timothysc commented on #26637
So I need "buy-in" on the proposed fix around pushing component status into a etcd-backed resource which it currently isn't.  Are there any oppositions to this?

[2016-10-10 15:45] bprashanth commented on #26637
If you want to make it so kubeproxy doesn't get a watch event that it needs to ignore, less work for me :)
I was proposing something in the here and now, given that this is happening in live 1.4 clusters. I'm guessing component status is not landing in time for 1.4.2.

[2016-10-10 15:56] markine commented on #23142
Thank you @justinsb . It is my understanding that kops is not yet the canonical/standard/recommended way of bringing up clusters yet; kube-up.sh is still "it" for 1.4. Am I mistaken? Thank you!

[2016-10-10 16:00] quinton-hoole commented on #34291
@madhusudancs Can you confirm what version of the GLBC pod you're running in the clusters where you're seeing this behavior?  In particular does it include bug fixes like https://github.com/kubernetes/contrib/pull/1363.

[2016-10-10 16:02] bprashanth commented on #34291
I'm not sure how this is supposed to work if they're using different node ports, that's why I suggested walking through the example

[2016-10-10 16:13] mikekap commented on #34401
You can disable the surge behavior in deployments where it will instead take down an instance from the old set before bringing a new one up. That just involves setting maxsurge to 0. Is that what you're looking for? Otherwise if you remove cpu requests/limits kubernetes schedules pods with an assumption that they use 0 cpu.

Separately I would suggest moving this question to stackoverflow or the k

[2016-10-10 16:41] yujuhong commented on #34308
The original issue: https://github.com/docker/engine-api/issues/379

[2016-10-10 16:44] spxtr commented on #34446
https://github.com/kubernetes/test-infra/issues/777

[2016-10-10 16:45] caesarxuchao commented on #34441
We probably should let it use the clientset in client-go.

[2016-10-10 16:46] caesarxuchao commented on #34441
Related: https://github.com/kubernetes/kubernetes/issues/29934

[2016-10-10 16:48] caesarxuchao commented on #29934
We will let the controllers to use the clientset in client-go. But first we need to write the verify/update scripts so that client-go will be kept up-to-date. I'm writing the scripts now.

[2016-10-10 16:48] bgrant0607 commented on #19444
Closing in favor of #2838

[2016-10-10 16:48] #19444 closed

[2016-10-10 16:49] bgrant0607 commented on #2838
SEO analysis and recommendations:
https://docs.google.com/document/d/1AjMme3SGvvvRLyqpiGHNre5eDmvSQ1qw_4TulwqVFF8/edit?ts=57d83df9

[2016-10-10 16:50] Bashton-MattBuckland commented on #34321
I realised why it's like that now. Because iptables is evaluating each rule sequentially and independently of the other rules. Please ignore this.

[2016-10-10 16:50] #34321 closed

[2016-10-10 16:58] grahamhayes opened #34455 "OpenStack Cloud Provider Requires Nova API to be accessible"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-10-10 17:05] ahakanbaba commented on #33800
After the addition of #30787, the build does not fail in this way. I am closing this issue.

[2016-10-10 17:05] #33800 closed

[2016-10-10 17:05] madhusudancs commented on #34291
@quinton-hoole

How do I get that?

How do I verify that?

[2016-10-10 17:08] MrHohn opened #34457 "`kubectl exec` for pods running on the master return obscure error message"
When try to use `kubectl exec` for the pods on the master node, got below error message:

[code]

After did a bit searching, found this related issue: #29480, saying that on the master kubelet is running with `--enable-debugging-handlers=false`

If `kubectl exec` is not allowed on master, could we make the error message clear?

[2016-10-10 17:08] fluxrad commented on #29053
@timbunce what version of the DNS add-on (and more specifically skydns) are you running? Logging should be minimal by default in recent releases as long as you aren't overriding any defaults. My commit was released in later 1.3 builds.

[2016-10-10 17:11] ncdc commented on #32215
I took at look at `kube-proxy` as a bit of a case study, and here is what it might look like if it followed the suggestions above. If you have any questions or need more details, please let me know.

### Struct for flags (in cmd/kube-proxy/app)

The only required flag would be `--config`. It would point to a config file used to hold all the configuration values necessary to run the proxy. Anything

[2016-10-10 17:16] deads2k opened #34458 "Deployment controller only works because of 30 second resync"
There's a deployment test called `"overlapping deployment should not fight with each other"` with a part called `"Waiting for the second deployment to clear overlapping annotation"` that only passes because of a tight resync period.  The test indicates that the secondary deployment would not become active when the first one was deleted until the resync happens, so the controller doesn't work well

[2016-10-10 17:21] yujuhong commented on #34003
I'll send a PR to ignore mirror pods with restart policy == Never as a bandaid solution and keep this issue open until we have a proper solution.

[2016-10-10 17:21] mikebryant opened #34459 "Panic in thirdpartyresourcedata/codec.go"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): panic thirdpartyresourcedata

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choo

[2016-10-10 17:22] ixdy commented on #34446
@rmmh is working on this

[2016-10-10 17:28] timbunce commented on #29053
We're running v1.3.7+coreos.0 and, ah, kube-dns-v17.1. I thought we were using a later kube-dns on this cluster. We'll be rolling a v1.4 cluster soon and will get the addons updated then. Thanks.

[2016-10-10 17:30] sauercrowd opened #34460 "Getting Started Guide for Ubuntu Calico is outdated"
The Getting Started Guide for Ubuntu with Calico at http://kubernetes.io/docs/getting-started-guides/ubuntu-calico/  is out of date.

The used kubernetes in this document version is **1.14**, which leads to issues with up-to-date docker versions.

Also i want to point out that the calico version used in this document is **0.14.0**, while the current version is **0.22.0**. (I'm not sure if this als

[2016-10-10 17:36] caesarxuchao commented on #34146
@kubernetes/kubectl

[2016-10-10 17:36] spxtr commented on #34378
[code]

[2016-10-10 17:36] quinton-hoole commented on #34291
@madhusudancs Never mind, it seems that the problem is that you have created services with different node ports in the two different clusters (see @bprashanth comment above).

As for checking the controller version, have you tried 'describe pod'?

[2016-10-10 17:39] gmarek commented on #34003
Great - thanks @yujuhong

[2016-10-10 17:40] ixdy commented on #28631
@techtonik yep, I plan to do that.

It's infeasible to upload every binary artifact to GitHub directly, since we have linux, darwin, and windows client binaries for combinations of 386, amd64, arm, arm64, and ppc, as well as server binaries targeting those architectures too.

We may still upload a `kubernetes.tar.gz` to GitHub, but it'll only contain the platform-independent scripts.

[2016-10-10 17:40] AndryBray commented on #34252
@jingxu97 the cluster has been stopped because it was just for testing reason.
We are blocked with NFS file sharing issue...
Please could you confirm me if you received the email? Thank you

[2016-10-10 17:43] mtaufen opened #34463 "TODO syntax proposal"
This proposes a convention for TODO statements in our codebase, and adding a linter to the presubmit checks that enforces adherence to this syntax.
## Rationale

There are a lot of TODOs in our codebase. `git checkout upstream/master && git grep TODO | wc -l` indicates `3971` TODOs. We have not consistently written TODOs in a way that makes them easy to track and delegate.
## Philosophy

Each TODO

[2016-10-10 17:44] spxtr commented on #34378
Assigning to @krousey to triage.

[2016-10-10 17:44] janetkuo opened #34464 "PetSet status.replicas should return the number of actual replicas"
Follow up #33983. PetSet status.replicas isn't returning the number of actual replicas. For example, if there are unhealthy pets in the system, even though the pet set is blocked, the status.replicas will be spec.replicas, not the number of actual replicas.
See more -  https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/petset/pet_set.go#L344-L347

@kubernetes/sig-apps

[2016-10-10 17:47] k8s-merge-robot opened #34465 "kubernetes-e2e-gce-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/10202/

Run so broken it didn't make JUnit output!

[2016-10-10 17:47] mtaufen commented on #34463
/cc @timstclair @thockin @matchstick I recall you all had suggestions on this effort.

[2016-10-10 17:49] ghodss commented on #34146
kubectl uses [ghodss/yaml](https://github.com/ghodss/yaml) which is just a wrapper for [candiedyaml](https://github.com/cloudfoundry-incubator/candiedyaml). candiedyaml's README states that it's a "YAML 1.1 parser with support for YAML 1.2 features" ... I would recommend filing an issue with [candiedyaml](https://github.com/cloudfoundry-incubator/candiedyaml) if you think that the behavior should

[2016-10-10 17:49] jingxu97 opened #34466 "Deployment create/delete issue with same selector"
When I tested with deployment, found some issue. The steps to reproduce is

1.  Create a deployment with the example online http://kubernetes.io/docs/user-guide/deployments/#what-is-a-deployment
1. Edit the deployment yaml file, just change the name of the deployment, and create a second one.

After creating, check the deployment status. The first one is running correctly. The second one returned

[2016-10-10 17:50] jingxu97 commented on #34466
@janetkuo , do you have some time to help take a look?

[2016-10-10 17:52] ixdy commented on #34441
cc @kubernetes/sig-testing

[2016-10-10 17:55] jsloyer commented on #19317
im hitting the error with 1.3.5 as well....

[code]

[2016-10-10 17:56] ravilr commented on #7294
@derekwaynecarr @vishh setting memsw.limit to unlimited by default, doesn't seem right. Can we fix that.  Not every environment has swap disabled, by default.

[2016-10-10 17:58] k8s-merge-robot opened #34467 "[k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] Nginx [Slow] should conform to Ingress spec {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-ingress/921/

Failed: [k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] Nginx [Slow] should conform to Ingress spec {Kubernetes e2e suite}

[code]

[2016-10-10 18:00] mtaufen commented on #34463
I don't see any labels that relate do development process improvements, any suggestions on how to label this?

[2016-10-10 18:07] jingxu97 commented on #34252
@AndryBray , recently we changed the default VM image to GCI which is currently lacking NFS client toolings. We are in the process of adding them in the GCI. In the mean time, the following the bottom of the link https://cloud.google.com/container-engine/docs/node-image-migration to change the image back to Debian 7-based container.

Sorry for this inconvenience and please let us know if you have

[2016-10-10 18:07] hongchaodeng commented on #34377
Nice work!
@foxish Are you going to implement this? If so, let me know if you need any help on coding side.

[2016-10-10 18:08] thockin commented on #34463
LGTM overall.  I like the link to a bug because it simultaneously logs who
wrote the TODO (i.e. who has context), when it was written, and allows for
feedback.  These bugs can re relatively short - they just need to exist
with enough info for someone to pick up later.

On Mon, Oct 10, 2016 at 11:01 AM, Michael Taufen <notifications@github.com>
wrote:

[2016-10-10 18:14] ixdy commented on #28435
#9253 describes a slightly different issue, which still exists; we include several of the server binaries twice in each arch tarball.

[2016-10-10 18:14] bprashanth opened #34469 "Kubectl doesn't print info output by default"
Maybe flag switch it? (-v?).
[code]

It's a minor annoyance and makes bash scripting the output a little harder.

[2016-10-10 18:18] saad-ali commented on #34252
You can follow the progress of adding in Storage client binaries to GCI in https://github.com/kubernetes/kubernetes/issues/34127

[2016-10-10 18:24] AndryBray commented on #34252
@jingxu97 the container and persistent disk zone was "europe-west1-b"

[2016-10-10 18:26] timstclair commented on #34463
I think it's helpful for the issue to link back to the TODO in the code as well. It's easy for code links to get out of date, but since github doesn't have literal code searching, I think best effort is good enough.

When should TODO issues be filed? On the one hand, it's nice to have the issues be filed for the review. On the other hand, it's a bit odd to have open issues for code that hasn't bee

[2016-10-10 18:27] madhusudancs commented on #34291
@quinton-hoole I described and get -o yaml'ed `l7-default-backend-v1.0-0abcd`. But @bprashanth mentioned above that, that's only the backend pod, not the controller itself.

I could go look into the controller version if that's important at this point. Also FWIW, this is a GKE 1.4.0 cluster.

[2016-10-10 18:27] madhusudancs commented on #34291
Also, clarification. I did not create services with different node ports. I just created a federated service.

[2016-10-10 18:29] luxas commented on #28435
@ixdy IIUC, kubemark will be moved to perf-tests, right?
That will be an improvement to remove that one from the tarball at least

[2016-10-10 18:35] wojtek-t commented on #26637
@bprashanth yeah - I'm not sure if we even cherrypick it at all. So if we want to fix it in 1.4 branch (do you think we want - I don't know how important it is), then probably what you described should be a temporary solution.

@timothysc - regarding buy-in, I don't have any strong objections about it. Though @lavalamp may have some. @lavalamp WDYT?

[2016-10-10 18:39] mikedanese commented on #32215
The proposal for kubectl looks great. I don't think we've exposed the v1alpha1 API yet so it should be zero impact to modify and expose through `--config`.

Totally agree.

I agree that it make sense to have a runtime config embed the serializable config to include types that we don't include in the public API. The separate struct for flags to start a minimally configured component makes sense but

[2016-10-10 18:40] mtaufen commented on #32467
@pmorie this was a non-release-blocker for 1.4. Has it been root-caused anywhere/should it remain a non-release-blocker for 1.5?

/cc @saad-ali

[2016-10-10 18:40] wojtek-t commented on #32361
@luxas - the reason for 3.0.x is that that 3.1 is still not release, and we don't want to upgrade at the last moment. Though, if there will be a cherrypick, we can definitely consider it.

[2016-10-10 18:41] k8s-merge-robot opened #34472 "[k8s.io] ScheduledJob should not schedule jobs when suspended [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-alpha-features-release-1.4/484/

Failed: [k8s.io] ScheduledJob should not schedule jobs when suspended [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #32035

[2016-10-10 18:42] ncdc commented on #32215
@mikedanese thanks for the feedback. Would you like me to proceed with a PR for the changes to kube-proxy so everyone can review it in detail?

[2016-10-10 18:45] mikedanese commented on #32215
Yes please.

[2016-10-10 18:45] quinton-hoole commented on #34291
@madhusudancs If you just update the federated service to include a nodeport, that should be propagated to all clusters, and everything should just work.

In your current config, you omitted the NodePort in the federated service, so each cluster chose it's own nodeport independently.  We could arguably change the implementation of Federated Services to make this easier.

[2016-10-10 18:47] jingxu97 commented on #32467
Post it again since the message got rolled out quickly

Checked a few logs from the failed tests, and found the following error. The git repo connection was refused for a little while, and then mount operation seems begin to work after about 3 mins. Strange thing is from util.go, the test should wait for 5 mins until pod in running state.

Two questions here
1) Is this normal that after git-repo s

[2016-10-10 18:48] ymqytw commented on #23564
AFAIK the sensitive data in annotations(last-applied-configuration created by `apply` and change-cause created by `--record`) that is printed out using `kubectl describe` is considered as a leak.
Are there any other ways that may cause a leak like someone has access to the annotations but doesn't have access to the secret data?
If `describe` printing the annotations is the only leak, then this can

[2016-10-10 18:52] mtaufen commented on #34256
@runcom any updates?

[2016-10-10 18:52] k8s-merge-robot opened #34475 "kubernetes-e2e-gci-gce-autoscaling-migs: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-autoscaling-migs/421/

Run so broken it didn't make JUnit output!

[2016-10-10 18:52] k8s-merge-robot opened #34476 "kubernetes-e2e-gci-gce-es-logging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-es-logging/1466/

Run so broken it didn't make JUnit output!

[2016-10-10 18:53] k8s-merge-robot opened #34477 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17942/

Run so broken it didn't make JUnit output!

[2016-10-10 18:53] jingxu97 commented on #34252
@AndryBray since the cluster is stopped, I cannot access the log now. But based on the description, we identified the problem with GCI image. Could you try the link  or the PR @saad-ali just sent out. Please let us know if you still have any issue. Thanks!

[2016-10-10 18:53] k8s-merge-robot opened #34478 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/4848/

Run so broken it didn't make JUnit output!

[2016-10-10 18:57] mtaufen commented on #33730
Seems like something recent may have helped this... tons of reports 6 days ago, then only one 3 days ago, and nothing since then...

[2016-10-10 18:57] zmerlynn commented on #7348
SGTM

[2016-10-10 18:57] #7348 closed

[2016-10-10 19:01] mtaufen commented on #33285
Some of these are the `exit code 1` issue and some are expecting an empty map when then get a nonempty map.

[2016-10-10 19:02] foxish commented on #34377
@hongchaodeng Yes, the plan is to extend the proof of concept (linked above in the issue) to fill in the gaps and get it merged upstream into the spark project.

[2016-10-10 19:04] deads2k commented on #23564
`describe` isn't any more leaky than `get`. You already have access to all the data.  Once the API gives it back to you (remember its in the same object), the information is already exposed.

[2016-10-10 19:05] ixdy commented on #28435
@luxas yes, though it's already been pulled out of the server tarballs into the test tarball with https://github.com/kubernetes/kubernetes/pull/33409

[2016-10-10 19:05] k8s-merge-robot opened #34479 "kubernetes-e2e-gci-gce-ingress-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-ingress-release-1.4/715/

Run so broken it didn't make JUnit output!

[2016-10-10 19:06] k8s-merge-robot opened #34480 "kubernetes-e2e-gci-gce-kubenet: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-kubenet/675/

Run so broken it didn't make JUnit output!

[2016-10-10 19:06] k8s-merge-robot opened #34481 "kubernetes-e2e-gci-gce-proto: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-proto/706/

Run so broken it didn't make JUnit output!

[2016-10-10 19:13] madhusudancs commented on #34291
@quinton-hoole

Yeah, how would I know to do that? No federation documentation I read indicated that I (or any user for that matter) was responsible for selecting the NodePort.

[2016-10-10 19:20] bprashanth commented on #34258
This is left up to the ingress controller, each implementation has its own limitations (eg: https://github.com/kubernetes/kubernetes/issues/24669).
The TLS section of the ingress points to a secret.
TLS is a type of secret, with k/v as defined in: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L2874
Such a secret can be created via `kubectl create secret tls`: http://kuberne

[2016-10-10 19:23] epish commented on #34411
got the same error. It might be due to an invalid state of etcd cluster. the solution provided in #33956 fixed my issue.

[2016-10-10 19:24] AndryBray commented on #34252
@jingxu97 If you need me to start the cluster I can do it.

Do you know approximately when the GCI issue will be solved?

We'd like to avoid using old images as we are starting right now with a new project so we can wait for a while (of course if you plan to fix it asap) for the bugfix

[2016-10-10 19:25] mml opened #34483 "jenkins unable to bring up GKE cluster"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/9714

[2016-10-10 20:08] k8s-merge-robot opened #34485 "TestWatch {etcd}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17950/

Failed: TestWatch {etcd}

[code]

Previous issues for this test: #31262 #32770 #33022

[2016-10-10 20:09] daniilyar commented on #15073
How to check what K8 version has this fix?

[2016-10-10 20:15] spxtr commented on #34479
Looks like it might be infra. Assigning to @rmmh.

[2016-10-10 20:28] jbeda commented on #34448
Hmmm -- this looks like https://github.com/golang/go/issues/3895 but that issue should have been fixed in the version of Go that we are using here.

[2016-10-10 20:34] mtaufen commented on #34463
Agreed on the issue having a link to the TODO. If we have this link point to the TODO at the hash where the origin PR was merged, we can probably get decent mileage using git to track what happens to it after that.

I think they should probably be filed for the review. Part of the review process should be ensuring that issues are filed to track TODOs. If it would cause too much confusion to have T

[2016-10-10 20:37] jbeda commented on #34448
@gmarek -- are you using the dockerized build?  If not, can you try with that?  Also, what version of go are you using?

[2016-10-10 20:37] jingxu97 commented on #34252
@saad-ali , is there an expected date for the GCI fix?

[2016-10-10 20:44] saad-ali commented on #34252
We are preliminarily targeting a v1.4.x release to include NFS and GlusterFS binaries in GCI. In the meantime, as @jingxu97 mentioned, those that dependent on the existence of these client binaries in the OS image can switch back to the old (non-default) `container-vm` image (see the bottom of [this page](https://cloud.google.com/container-engine/docs/node-image-migration)).

[2016-10-10 20:49] thockin commented on #34463
IMO, linking from the issue to the TODO is pointless - you can always grep
for `TODO(#issue-num)`.  xref to PR is sufficient.

On Mon, Oct 10, 2016 at 1:35 PM, Michael Taufen <notifications@github.com>
wrote:

[2016-10-10 21:00] #34480 closed

[2016-10-10 21:00] dagnello opened #34491 "vSphere cloud provider: re-use session for vCenter logins"
**Kubernetes version**:
1.3+

**Environment**:
- **Cloud provider or hardware configuration**: vSphere

vSphere cloud provider creates will create a new login session each and every time the plugin is invoked.  This creates a substantial login/logoffs attempts in vCenter which can impact performance and stability.  The session should be re-used if possible instead of creating a new one each time.

[2016-10-10 21:00] lavalamp commented on #33989
@spxtr @ixdy @fejta This job appears to be totally hosed right now, can one of you take a look?

[2016-10-10 21:05] ixdy commented on #33989
not anymore?

earlier failures were probably #34446.

[2016-10-10 21:10] lavalamp commented on #26637
I haven't seen this until now. What component is using the endpoint objects to do locking?

[2016-10-10 21:12] lavalamp commented on #26637
I would prefer to see us provide pods a way to present any information currently in componentstatus in their own pod status, and get rid of componentstatus entirely. It's a service we should provide for all components, not just system components.

[2016-10-10 21:14] lavalamp commented on #26637
Short term, assuming the locking behavior is legit, either kube-proxy needs to filter out fields it doesn't care about, or we need to get apiserver to filter out such changes (better but much more complex).

If kube-proxy is relying on the system to minimize the number of update messages it gets, that's a mistaken assumption in kube-proxy.

[2016-10-10 21:15] lavalamp commented on #26637
@smarterclayton here's another user for your alternate view proposal.

[2016-10-10 21:18] lavalamp commented on #33989
Dropping back to p2, then

[2016-10-10 21:21] yujuhong opened #34492 "kubelet-cri-gce-e2e-ci container restart backoff test failures"
Test failures : https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-cri-gce-e2e-ci/358
Test history: [link](https://k8s-testgrid.appspot.com/google-node#kubelet-cri-gce-e2e&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Pods%5C%20should%5C%20have%5C%20their%5C%20auto%5C-restart%5C%20back%5C-off%5C%20timer%5C%20reset%5C%20on%5C%20image%5C%20update%5C%20%5C%5

[2016-10-10 21:22] krousey commented on #34378
Seems like a transient network issue when trying to get the version at the beginning of the test. API server didn't record it at all.

[code]

Those were the longest running ones. There were only 200 responses to /version. Looking at the logic, it seems that this isn't retried at all. https://github.com/kubernetes/kubernetes/blob/2fd28577df0dff2c49fe8e398311706a0e876162/hack/e2e.go#L231

Is this p

[2016-10-10 21:24] dagnello opened #34493 "vSphere Cloud provider: Enable secured TLS client connection to vCenter"
**FEATURE REQUEST**:

**Kubernetes version** (use `kubectl version`): 1.3+

Update client login to make use of user-configure certificate/key if provided.

[2016-10-10 21:27] jheiss commented on #29660
Is it possible that the "x509: certificate signed by unknown authority" error from your kubelet is the problem? If kubelet doesn't trust the SSL cert of the apiserver it probably won't even try to authenticate.

[2016-10-10 21:28] mikedanese commented on #26637
Controller manager and scheduler have done this since 1.2.

https://github.com/kubernetes/kubernetes/blob/master/pkg/client/leaderelection/leaderelection.go#L17

[2016-10-10 21:32] gmarek commented on #34448
released go 1.6.3, but it was a plain make from my workstation, not a dockerized build. Clean make fixed the issue, so it's not a problem that can't be mitigated. The problem is that if this would be used to build release we would release a binary that would do random things, IIUC (i.e. linking would put pointers to some strange places of dependees).

[2016-10-10 21:34] mikedanese commented on #9849
Agree.

[2016-10-10 21:34] #9849 closed

[2016-10-10 21:37] freehan opened #34494 "Need a uniform interface for init systems"
docker and kubelet are managed by different init system, such as systemd and upstart, based on OS and setup. In e2e testing, we usually want to manipulate services like docker. Then the test has to accommodate different init systems.

Need a uniform util to interact with underlying init system. It should support `Status, Start, Stop, Restart` operations.

[2016-10-10 21:49] #34124 closed

[2016-10-10 21:49] #34431 closed

[2016-10-10 21:52] mml commented on #34483
Happened again.  https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33148/kubernetes-pull-build-test-e2e-gke/16110/

[code]

[2016-10-10 21:56] k8s-merge-robot opened #34496 "[k8s.io] Services should be able to create services of type LoadBalancer and externalTraffic=localOnly [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-alpha-features/423/

Failed: [k8s.io] Services should be able to create services of type LoadBalancer and externalTraffic=localOnly [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]

Previous issues for this test: #34124

[2016-10-10 22:03] jbeda commented on #34448
I think that generally we do a clean build for releases.  But this should be fixed.  I tested a similar scenario in 1.7.1 (on my mac) and didn't repro but that could either be a delta from 1.6.3 to 1.7.1 or I didn't reproduce what you were doing well enough.  Still digging.

@thockin -- any ideas?

[2016-10-10 22:08] pwittrock commented on #32467
@timstclair Your name appears a lot on the test that is failing.  Could you take a look at this?  It looks like maybe the wait condition is failing early because an error is returned.

[2016-10-10 22:09] jbeda commented on #34448
Was able to repro in dockerized build with 1.6.3.  Doing dockerized build with 1.7.1 to isolate it.  This looks like it might be a bug that was fixed with 1.7.  There were some toolchain improvements around stale builds.

[2016-10-10 22:10] jbeda commented on #28960
Can we make this happen for 1.5?  Any objections to just doing it?

[2016-10-10 22:11] mtaufen commented on #34483
From: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/34468/kubernetes-pull-build-test-gci-e2e-gke/1580/build-log.txt
in PR: https://github.com/kubernetes/kubernetes/pull/34468

[code]
affecting me as well.

[2016-10-10 22:18] krzyzacy commented on #33936
Emm... I'll need this fix

[2016-10-10 22:23] k8s-merge-robot opened #34499 "kubernetes-e2e-gci-gke-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial-release-1.4/165/

Run so broken it didn't make JUnit output!

[2016-10-10 22:24] rmmh commented on #33936
Wouldn't a full struct copy work if we zero out the fields we don't want retained afterwards? It'll be less fragile as well.

[code]

[2016-10-10 22:25] mtaufen opened #34500 "Make GCI the default node image for K8s on GCE"
This issue is for tracking progress on being able to roll out GCI as the default node image for GCE K8s clusters in v1.5.

I will update this soon with more details.

[2016-10-10 22:36] mtaufen commented on #33730
@bprashanth would you consider this a blocker for moving submit-queue blockers to GCI? If so and you have time to take a look at this (and related issues) this week or next, that would be ideal, so we can move forward with https://github.com/kubernetes/kubernetes/issues/34335. This one specifically looks like it isn't flaking too much the last few days so it might not be an issue.

[2016-10-10 22:38] mtaufen commented on #33285
@bprashanth would you consider this a blocker for moving submit-queue blockers to GCI? If so and you have time to take a look at this (and related issues) this week or next, that would be ideal, so we can move forward with https://github.com/kubernetes/kubernetes/issues/34335. This one specifically looks like it isn't flaking too much the last few days so it might not be an issue. It might make se

[2016-10-10 22:44] mtaufen commented on #32535
Conferred with @davidopp. This is definitely not related to GCI and will not impact #34335, marked as non-blocker in https://docs.google.com/spreadsheets/d/1HY8b1EUCPPDj8ZJvprVIJRevlyUA1_ZpyIJN-8c0Xss/edit#gid=2145261112&vpid=A5.

[2016-10-10 22:54] jayunit100 opened #34504 "Fix scheduler perf tests"
Problem

Looks like the master in scheduler performance tests is coming up with panics due to a nil data structure (or else , something is very corrpupt in my build env., but i doubt that).  There were some recent changes to clients and master APIs, probably that is the culprit.

Thoughts

Happy if scheduler_perf is still working for folks as of monday morning, to close this issue but for me it se

[2016-10-10 23:08] lavalamp commented on #26637
That should affect a vanishingly small percentage of endpoints, so not much
point to doing the extra work to fix it in apiserver. IMO this is just a
plain old kube-proxy bug.

On Mon, Oct 10, 2016 at 2:28 PM, Mike Danese <notifications@github.com>
wrote:

[2016-10-10 23:20] #34459 closed

[2016-10-10 23:36] quinton-hoole commented on #34291
@madhusudancs Yes, as previously mentioned, the documentation was definitely inadequate.  I've tried to fill that gap with https://github.com/kubernetes/kubernetes.github.io/pull/1424 .  Please review at your earliest convenience.

[2016-10-10 23:37] #34291 closed

[2016-10-10 23:41] bgrant0607 commented on #30819
Isn't the alpha-to-beta problem the same as beta-to-GA?

I think the general issue is: do we want to allow the representation of some API feature to change?

The API conversion machinery was designed exactly for that purpose.

Level of stability of the implementation is not strictly the same as representation stability, but we have conflated them by imposing quality requirements on beta and GA API

[2016-10-10 23:41] ymqytw commented on #23564
cc: @lavalamp

[2016-10-10 23:44] freehan commented on #32551
Assigning to @bowei

In the short term, adding a kube-proxy parameter for `net.netfilter.nf_conntrack_tcp_timeout_close_wait`. Defaults to 3600 (seconds).

[2016-10-10 23:45] andrewmclagan commented on #34401
haha, thank you for your support its very much appreciated. Stackoverflow and Kubernetes questions are usually quiet. I actually already posted this question there, someone told me it wont get answered and to post it on the issues board.

I have finally worked out the issue, new Kubernetes clusters on GKE create a default resource `limits` type of `100m` for every container in a pod. There are no

[2016-10-10 23:51] lavalamp opened #34508 "Field-level versioning"
We have difficulties around moving fields through alpha, beta, GA. #30819 is one idea. I was talking with Brian earlier today and here is a sketch of something that we could do to solve the general problem.

We begin following semver for our api versions, adding a "patch" version. We define a new tag which can be added in a comment before a field, like this:

`// +version:alpha=v1.5.3`

When the f

[2016-10-10 23:52] lavalamp commented on #34508
Some people who might be interested in this: @bgrant0607 @smarterclayton @mbohlool @thockin

[2016-10-10 23:54] lavalamp commented on #30819
I haven't had any time to participate on this thread even though this is a topic that interests me-- I wrote up an alternative approach in #34508.

[2016-10-10 23:56] erictune commented on #34377
@davidopp

[2016-10-10 23:58] AdoHe commented on #23564
@ymqytw the things we need to is hash the secret content here, not store the original data.

[2016-10-10 23:58] lavalamp commented on #23564
I don't consider this an issue. We don't have a security level that's
"observe metadata but not contents". If we did have that level, then this
would be an issue not just for secrets.

On Mon, Oct 10, 2016 at 4:41 PM, Mengqi Yu <notifications@github.com> wrote:

[2016-10-10 23:59] AdoHe commented on #34469
SGTM. will add it today.

[2016-10-11 00:06] bgrant0607 commented on #34508
Ref #4855, #30819

[2016-10-11 00:11] AdoHe commented on #34466
@jingxu97

1. if you have not specify any selector, then the default selector will bd derived from `spec.Template.Labels`
2. If two deployments have the same selector, we will not sync the latter one, IIRC @janetkuo add this, https://github.com/kubernetes/kubernetes/pull/30730, ptal
3. For the deletion failure, seems like a bug

[2016-10-11 00:20] jimengliu opened #34510 "statusFailure constant should be "Failure" not "Failed""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

statusFailure

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG

[2016-10-11 00:20] ymqytw commented on #16569
Anyone working on this issue? I can pick it up, if no one is working on it.

[2016-10-11 00:25] bgrant0607 commented on #30819
Any approach that requires "changing all clients" is a breaking change, unless "all clients" are system clients that don't need to operate in version-skewed configurations.

Also, kubectl must remain generic. It shouldn't know about specific API fields. Requiring multiple fields to match completely breaks pretty much all kinds of updates, which all involve read-modify-write somewhere.

[2016-10-11 00:25] k8s-merge-robot opened #34511 "kubernetes-e2e-gke-staging: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6537/

Multiple broken tests:

Failed: [k8s.io] Services should be able to change the type and ports of a service [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26134

Failed: [k8s.io] Etcd failure [Disruptive] should recover from network partition with master {Kubernetes e2e su

[2016-10-11 01:02] #33528 closed

[2016-10-11 01:13] derekwaynecarr opened #34516 "PersistentVolumeClaim storage class is mutable"
I am investigating the ability to quota `requests.storage` by `StorageClass`.

It appears that you can mutate `volume.beta.kubernetes.io/storage-class` post creation.

I think this field should work like 'requests.storage` and be immutable post creation.

[2016-10-11 01:14] derekwaynecarr commented on #34516
/cc @kubernetes/sig-storage @pmorie @eparis @deads2k @erinboyd @smarterclayton

[2016-10-11 01:24] scopej opened #34517 "Client certificate auth is using the subject CN from the intermediate CA cert, not from the end entity cert"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
I tried slack, someone else ran in to my issue as well and just used separate CAs

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
interm

[2016-10-11 01:32] bgrant0607 commented on #28631
There are instructions here, which I thought we also documented somewhere:
https://coreos.com/kubernetes/docs/latest/configure-kubectl.html

cc @janetkuo

[2016-10-11 01:34] techtonik commented on #28631
Why it is unfeasible? `kubectl.tar.gz` [produced above](https://github.com/kubernetes/kubernetes/issues/28631#issuecomment-252503057) with all binaries is only 116M. And it is better to distribute it as .zip, because it allows random access for file extraction and partial downloads.

[2016-10-11 01:34] bgrant0607 commented on #28631
Ah, maybe not yet:
https://github.com/kubernetes/kubernetes.github.io/issues/153

[2016-10-11 01:35] yifan-gu commented on #28667
@squeed, @euank and I discussed last weed on whether kubelet or rkt should setup the CNI networks,
so far we think it's better to have kubelet to do it:

- Kubelet also manages the `/etc/hosts` file
- Kubelet also injects the pod ip into envs for the pod (downward API)
- Kubelet has a dedicated logic to manage and gc networks

The information returned by CRI's `PodSandboxStatus` is not necessary t

[2016-10-11 02:24] yarntime opened #34519 "failed to delete namespace from federation"
get the following error msg when trying to delete a namespace from the federation:
`namespace_controller.go:371] Failed to delete namespace *: no kind "DeleteOptions" is registered for the internal version of group "federation"`

kubernetes cluster info:
 `Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0+a16c0a7", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeSt

[2016-10-11 02:25] justinsb commented on #30338
cc @kubernetes/sig-network

[2016-10-11 02:44] bgrant0607 commented on #34508
@lavalamp I assume this approach would not allow the same field name to be used at different stages with different types.

I was thinking we'd use the tags to specify finer-grain versions, either API minor/patch versions or releases.

[2016-10-11 02:44] bgrant0607 commented on #30819
As for reflecting alpha/beta/GA in the field names, there are 2 issues:
1. ensuring the users is aware of the level of maturity
2. allowing for representation changes without "wasting" the ultimate desired field name

(1) could be achieved by means other than forcing the user to write it in the field name.

(2) actually depends on our level of confidence. If we didn't want to include alpha/beta in

[2016-10-11 02:46] k8s-merge-robot opened #34520 "[k8s.io] Docker Containers should use the image defaults if command and args are blank [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/847/

Failed: [k8s.io] Docker Containers should use the image defaults if command and args are blank [Conformance] {Kubernetes e2e suite}

[code]

[2016-10-11 02:55] chengzhang1016 commented on #33475
@rata Hmm,  "change to proper octal", my means that will use octal to set permission volume. For example, user use `8` or `08` decimal number, the files in volume will be set to `010` (`------x---`) permission.

For output in yaml, I think both are OKay. But it should be recorded in doc if cannot be printed in octal.

[2016-10-11 02:56] jamesbuckett opened #34521 "fit failure on node on Kubernetes v1.4"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

fit failure on node nodeSelector

---

**Is this a BUG REPORT or FEATURE REQUEST?**

[2016-10-11 02:59] jamesbuckett commented on #34521
[dep-hl-vp0.txt](https://github.com/kubernetes/kubernetes/files/520864/dep-hl-vp0.txt)
[ns-hl.txt](https://github.com/kubernetes/kubernetes/files/520865/ns-hl.txt)
[svc-hl-vp0.txt](https://github.com/kubernetes/kubernetes/files/520866/svc-hl-vp0.txt)

Rename the files from *.txt to *.yml

[2016-10-11 03:00] fraenkel commented on #34146
go-yaml has the same issues, but I would recommend you still switch back due to compatibility issues. Kube is using an older version of your code which relies on go-yaml.

[2016-10-11 03:35] janetkuo commented on #28631
We documented it as one step under minikube setup guide: http://kubernetes.io/docs/getting-started-guides/minikube/#install-kubectl

[2016-10-11 03:40] techtonik commented on #28631
Installation guide is also here - http://kubernetes.io/docs/user-guide/prereqs/

[2016-10-11 03:52] davidopp commented on #30819
We only have ~3 weeks left until the 1.5 deadline, and a bunch of features we want to move to beta. This is obviously a deep topic that has potential long-term impact, and I'd hate for us to make a quick decision just because of time pressure.

So I'd like to propose that for features that are currently alpha annotations that we want to move to beta in 1.5, we allow people to just add beta annotat

[2016-10-11 03:56] jamesbuckett commented on #34521
This was PEBKAC issue.
.
From : http://kubernetes.io/docs/getting-started-guides/kubeadm/

By default, your cluster will not schedule pods on the master for security reasons.

If you want to be able to schedule pods on the master, for example if you want a single-machine Kubernetes cluster for development, run:

# kubectl taint nodes --all dedicated-

[2016-10-11 03:56] #34521 closed

[2016-10-11 04:08] thockin commented on #30819
I'm afraid the 1.5 window is closing.  It would be a shame to not change
ANYTHING, but I am also very wary (and weary) of having to keep track of
things that are done 10 different ways.  That said, we won't likely figure
this out by debating more.

I propose that we ask for volunteers on a set of small but not trivial
features and try some things.

On Mon, Oct 10, 2016 at 8:52 PM, David Oppenheime

[2016-10-11 04:26] thockin commented on #34508
I don't understand this proposal.  What do those versions mean?  What
literally happens because of them?  How do we overlap alpha/beta and
beta/ga ?

On Mon, Oct 10, 2016 at 7:44 PM, Brian Grant <notifications@github.com>
wrote:

[2016-10-11 04:26] davidopp commented on #34504
Also @jayunit100 had mentioned we should try to get this integrated into the continuous build testing.

[2016-10-11 04:54] #21007 closed

[2016-10-11 05:23] thockin commented on #34516
That sounds right.

On Mon, Oct 10, 2016 at 6:13 PM, Derek Carr <notifications@github.com>
wrote:

[2016-10-11 05:26] thockin commented on #26637
kube-proxy can be smarter for sure, but this still broadcasts a useless
change to every node every 2 seconds.  It really should be a different
object that is less likely to be actually used.  IMO

On Mon, Oct 10, 2016 at 4:09 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-10-11 05:29] nhlfr commented on #33936
@krzyzacy @rmmh @jessfraz You prefer to re-open my pull request #33937 or include that commit in #28742?

[2016-10-11 05:33] bgrant0607 commented on #30819
alpha/beta annotations in use:
[code]

Wow, we've been adding a lot of these.

[2016-10-11 05:38] bgrant0607 commented on #30819
@thockin @erictune For existing annotations with both alpha and beta versions (e.g., pod.beta.kubernetes.io/init-containers), do we convert the alpha annotations, or leave them as is?

[2016-10-11 05:40] surajpasuparthy commented on #24286
@chrislovecnm
Would be possible to have a tunnel between the 2 k8s clusters, enable source NAT on the kube proxy to enable handshaking between the cluster IPs?
The POD IPs would be private in the K8S network. so would just a handshake between the service IPs of C* on both the K8s be sufficient to set up a sync across clusters ?

[2016-10-11 05:52] thockin commented on #30819
I don't think it's 100% consistent - we didn't think that far ahead, but we
can take a stance on it now.

My feeling is still that alpha/beta/ga are different fields that happen to
trigger similar/same behavior in the system.  They don't need to
auto-convert, and they should almost always be mutually exclusive in a
given object.

On Mon, Oct 10, 2016 at 10:38 PM, Brian Grant <notifications@github.

[2016-10-11 05:56] luxas commented on #34494
Yes, we need this for kubeadm too
We should probably put it somewhere in `pkg/util`..., any preference where?

[2016-10-11 06:12] gmarek commented on #34504
cc @wojtek-t

[2016-10-11 06:13] thockin commented on #34448
I'm not going to have time to look at this in the immediate term.  If you
think it is Makefile related, please scream at me...

On Mon, Oct 10, 2016 at 3:10 PM, Joe Beda <notifications@github.com> wrote:

[2016-10-11 06:15] mikeyp commented on #23727
I have the exact same scenario as @etotheipi with 1.4.1. Brought up a single node cluster and I am able to create deployments, services, etc and they work as expected. UI won't work at all. Password from ~/.kube/config isn't valid for dashboard, using vagrant/vagrant gets past basic auth only to get `Forbidden: "/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard"`. Tried using the

[2016-10-11 06:19] jingxu97 commented on #34437
@pdbogen Thank you for posting the issue. We identified the problem and had the fix in #33796 which is already merged in the head and release 1.4.1. We would appreciate if you could also help verify the fix in your cluster. Please let us know if you have any problems. Thanks!

[2016-10-11 06:22] bgrant0607 commented on #30822
We're discussing would-be fields in #30819

[2016-10-11 06:32] bgrant0607 commented on #30819
@davidopp @thockin @smarterclayton @gmarek @erictune @lavalamp
(sorry if I missed someone)

I agree we don't have time to implement a real solution in 1.5.

None of the proposals above will fully work. They'll all break some use cases. Given that, we should choose what we're going to break.

I agree with @davidopp that we should stay with beta annotations in 1.5. However, I disagree with the polic

[2016-10-11 06:34] wojtek-t commented on #26637
kube-proxy can be smarter for sure, but this still broadcasts a useless
change to every node every 2 seconds.  It really should be a different
object that is less likely to be actually used.  IMO

+1000 - this is exactly what I was trying to express in https://github.com/kubernetes/kubernetes/issues/26637#issuecomment-252544560

[2016-10-11 06:36] colemickens commented on #34258
Is there a reason that there was a prescription made here? At least if there was a standard format for the certs "at rest" in the Secret, each Ingress implementation could expect them in that format and include code to transform them for their need.

[2016-10-11 06:37] wojtek-t commented on #34504
commit 204dbe7fdd3bcc88916b359a71baf59f2c3807a7 doesn't influence apiserver at all. And generally it should no-op, because the equivalence-classes are not fully implemented, so this code is not switched on.
I'm pretty sure this is something different.

[2016-10-11 06:37] colemickens commented on #34258
edit: "Is there a reason that there was *not* a prescription made here for the format of the fields of the Ingress TLS Secret?

[2016-10-11 06:39] wojtek-t commented on #28960
@jbeda - the PR is already in-flight.

[2016-10-11 06:40] thockin commented on #30819
That just feels too clever, such that I don't think I can keep it
straight.  Simpler is going to be more human-friendly, and more likely to
be implemented correctly.

On Mon, Oct 10, 2016 at 11:33 PM, Brian Grant <notifications@github.com>
wrote:

[2016-10-11 06:56] smarterclayton commented on #30819
I still think this discussion is avoiding answering the question:

"Do we need a low cost way to get feedback from end users to verify
features, *without* back compat guarantees?"

I believe we do, that it should be called alpha, and we shouldn't do
anything to avoid breaking users (the low-cost bit).  Alpha is for
feedback, not for production users.  If you upgrade and it stops
working... read th

[2016-10-11 06:56] #33249 closed

[2016-10-11 07:00] Pendoragon commented on #18826
any plan on re-enable influxdb as a backend store? we also want to use the initialresource admission control

[2016-10-11 07:00] thockin commented on #30600
I wish to resign from the build business.  I find it ugly but if it works
and doesn't require me to debug the intersection of `go install` and make
DAGs, I'll get over the ugliness.

On Fri, Oct 7, 2016 at 5:10 PM, Joe Finney <notifications@github.com> wrote:

[2016-10-11 07:29] bgrant0607 commented on #34508
@thockin I asked @lavalamp to keep it short. I'll write up more tomorrow.

Imagine we had actual distinct API versions containing the alpha, beta, and GA fields corresponding to some feature. They could all use the same internal rep, clients could request the API versioning containing the version of the field they understood, and users could use `kubectl convert` to upgrade their manifests.

Now a

[2016-10-11 07:29] wojtek-t commented on #34446
It seems that after fixes from yesterday, we are still lacking logs from all kubemark runs. @gmarek

[2016-10-11 08:03] k8s-merge-robot opened #34529 "kubernetes-e2e-gci-gke-prod: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod/65/

Run so broken it didn't make JUnit output!

[2016-10-11 08:08] kzk commented on #29411
Just for a reference to people who have similar issues, at #32762, we partially identified that fluent-plugin-google-cloud output is using much memory.

[2016-10-11 08:15] gl328518397 commented on #7090
这是docker的日志：
Oct 11 16:13:52 mg1 docker-current: time="2016-10-11T16:13:52.267336913+08:00" level=error msg="Handler for GET /images/gcr.io/google_containers/pause-amd64:3.0/json returned error: No such image: gcr.io/google_containers/pause-amd64:3.0"
Oct 11 16:13:58 mg1 docker-current: time="2016-10-11T16:13:58.267522810+08:00" level=error msg="Handler for GET /images/gcr.io/google_containers/pau

[2016-10-11 08:37] jayunit100 commented on #34504
Yup some time after 204dbe7 it I think.

[2016-10-11 08:40] piosz commented on #34310
cc @edsiper

[2016-10-11 08:52] gmarek commented on #29411
@crassirostris

[2016-10-11 09:03] davidopp commented on #30819
I guess I'm on the fence for this particular alpha->beta transition (1.5) because we have so little time (though as a general principle I think I agree with Tim's view). Maybe it wouldn't be so bad to tell people to create the equivalent beta annotations before upgrading. It would be problematic for users of systems that automatically upgrade the masters, though (like GKE).

[2016-10-11 09:09] gmarek commented on #30819
@smarterclayton - I think that what @bgrant0607 meant when he wrote "Isn't the alpha-to-beta problem the same as beta-to-GA?" is that we need some way of doing backward compatible "promotion" (beta->GA) and there's no reason for not using the same procedure for alpha->beta transition.

[2016-10-11 09:20] Crassirostris commented on #29411
As @kzk pointed out, we were able to identify the main problem with the memory consumption. We were able to reproduce those frequent ooms too.

Fixing fluentd plugin and switching to the file buffering (#32762) should put an end to this problem.

[2016-10-11 09:32] kargakis commented on #34458
Thanks for digging this out. This issue is easily fixed by reconciling all overlapping deployments every time we have an event for one.

Unfortunately, we have a bigger issue that needs a tight sync interval and that is [ProgressDeadlineSeconds](https://github.com/kubernetes/kubernetes/pull/19343). Imagine a deployment with a deadline of 10m and the last time it syncs due to an event is during the

[2016-10-11 09:39] piosz commented on #32762
FYI @igorpeshansky @rbuskens

[2016-10-11 09:42] piosz commented on #29411
closing in favor of #32762

[2016-10-11 09:42] #29411 closed

[2016-10-11 09:43] Crassirostris commented on #32762
@igorpeshansky @rbuskens I will provide you with a clear issue in https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud shortly

[2016-10-11 10:03] wojtek-t commented on #34446
Lack of kubemark logs is significantly slowing down any scalability-related work, which is our P0 goal for this quarter, so please prioritize it.
@fgrzadkowski - FYI ^^

[2016-10-11 10:07] Sn0rt opened #34530 "[Networkpolicy] when I use hack/local-up-cluster.sh to test networkpolicy have unexcepted connectoin"
I run local cluster by this script , but have one unexcepted connectoin.
[code]

and tesst with follow
[code]
---

*Is this a BUG ?*

[code]

**Kubernetes version** :
[code]

**Environment**:
- **OS** (e.g. from /etc/os-release):
[code]
-**env**
[code]
**What happened**:

I was try wget nginx/index.html twice.
firstly, should success because by default configure file.
secondly, should fail beacaus

[2016-10-11 10:16] piosz commented on #23782
We are working with fluentd guys to limit memory consumption of fluentd right now. See #32762 for more details. Hopefully we will be able to do it. Otherwise we will revisit this issue.

In the meantime closing in favor of #32762.

[2016-10-11 10:16] #23782 closed

[2016-10-11 10:17] piosz commented on #23782
cc @Crassirostris

[2016-10-11 10:22] lufeng4828 opened #34532 "How to read client IP addresses from HTTP requests behind Kubernetes services?"
Hi all,

first of all any help is appreciated

I have 3 nginx pods behind Kubernetes services, right now, how can I read client IP addresses from HTTP in nginx

Thanks for the explanation!

Environment (also see manifests for more detailed info):
Centos 7.0.1406
Kubernetes: 1.2.0
etcd: 2.3.7
flannel: 0.5.3
docker: 1.10.3

Thanks a lot for any suggestions.

[2016-10-11 10:25] errordeveloper commented on #33961
Current implementation is there only because there was not concrete proposal at the time. There are several ideas floating around, let's make sure we settle on something soon.

[2016-10-11 10:27] errordeveloper commented on #34420
I believe we need to work out what would be better here. May be @dgoodwin has some ideas?

[2016-10-11 10:27] errordeveloper commented on #34420
@luxas this is tagged incorrectly, we should fix the bot...

[2016-10-11 10:50] ivan4th commented on #34136
See also https://groups.google.com/d/msg/kubernetes-sig-cluster-lifecycle/nb-To3C8eZ8/_5o2hs6SFAAJ
I've made a version of [kubernetes-dind-cluster](https://github.com/ivan4th/kubernetes-dind-cluster/tree/kubeadm) ([original version](https://github.com/sttts/kubernetes-dind-cluster) by @sttts) that is capable of starting kubeadm cluster based on locally-built binaries for kubeadm, kubelet, kubectl

[2016-10-11 11:00] errordeveloper commented on #34311
As many folks asked for this, I'm going to fix it.

[2016-10-11 11:06] wernight commented on #34453
Example of where it'd be useful:

  - https://github.com/wernight/kubernetes-che
  - GitLab (to have config and data on the same disk and allow snapshoting them together)

[2016-10-11 11:36] kargakis commented on #34318
Exactly what I want. Opened https://github.com/onsi/ginkgo/issues/303 upstream.

I prefer to avoid a solution that will affect all tests. For now I can live without those trap failures. If we really need them in the future and https://github.com/onsi/ginkgo/issues/303 is not fixed then I will update the existing log dump.

[2016-10-11 11:38] deads2k opened #34534 "deployment controller needs different functionality than UpdatePodWithRetries"
For this controller, `UpdatePodWithRetries` is doing
1. an unnecessary live lookup
2. an unnecessary delay
3. an incorrect backoff to avoid colliding with other controllers
4. an incorrect cache skip

@kargakis got a home in mind?

[2016-10-11 12:02] deads2k commented on #34458
You know this is going to happen, just set it up to queue later.  `workqueue.AddAfter(key, 10*time.Minutes)` and that one item will re-enter your queue.

[2016-10-11 12:20] kargakis commented on #34458
Awesome

[2016-10-11 12:21] AdoHe commented on #34534
/cc @AdoHe

[2016-10-11 12:37] wojtek-t commented on #34446
As an example:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1473/?project=kubernetes-jenkins
[is a run from an hour ago] and it contains only started.json file.

[2016-10-11 12:46] #27687 closed

[2016-10-11 12:57] adohe opened #34538 "YAMLReader should use more performance sensitive methods"
FYI. Just open issue to track @smarterclayton comment on #34297

[2016-10-11 13:09] ncdc commented on #28845
There may be a bug in docker 1.11.2 related to getting the output of exec and attach. We're tracking this in #34256

[2016-10-11 13:10] thaniyarasu opened #34541 "Service LoadBalancer Error not created in AWS"
**Is this a request for help?** : No

**What keywords did you search in Kubernetes issues before filing this one?** :  LoadBalancer Service Error in AWS

**Is this a BUG REPORT or FEATURE REQUEST?** : BUG REPORT

**Kubernetes version** : 1.4.0

**Environment**:
- **Cloud provider or hardware configuration**:  aws
- **OS** (e.g. from /etc/os-release):   ubuntu 16.04.1 LTS
- **Kernel** (e.g. `uname

[2016-10-11 13:18] phsiao commented on #34379
The NodePort in your config is not static, so it would change every time you restart.   Use kubectl describe service kubernetes-dashboard --namespace=kube-system to find the new port.

[2016-10-11 13:23] kking124 commented on #34379
@phsiao; thanks. The new port was 31018. I was still unable to connect.

In this new cluster build, it seems there's issues creating containers:

[code]

[2016-10-11 13:49] kargakis commented on #29828
I need a clean failure for this, although it seems not -deployment related. Closing until the bot creates a new issue.

[2016-10-11 13:49] #29828 closed

[2016-10-11 14:05] pires commented on #33919
@errordeveloper from what i can read from the code, this already works.
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/join.go#L79
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/node/discovery.go#L32-L34

[2016-10-11 14:10] timothysc commented on #26637
+1000 to @thockin and @wojtek-t , The fan-out at large scale is simply untenable.

So on the scale of a 10k node cluster where we had say a minimum of 2 components being updated every 2 seconds that is 10k x (60/2)*2 = 600,000 broadcasts in a minute even with filtering on the proxy side.

I for one am a fan of open transparent communication, but this may be a bit too much ;-).

[2016-10-11 14:28] kargakis commented on #29934
cc: @mfojtik

[2016-10-11 14:42] rata commented on #33475
@chengzhang1016 oh ok. I see what you mean, then.

@chengzhang1016 cool. Where do you think it is the best place to state that?

[2016-10-11 15:09] k8s-merge-robot opened #34547 "TestDeploymentController_dontSyncDeploymentsWithEmptyPodSelector {deployment}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17979/

Failed: TestDeploymentController_dontSyncDeploymentsWithEmptyPodSelector {deployment}

[code]

[2016-10-11 15:20] squeed commented on #28667
@yifan-gu I agree with you - lots of focus seems to be on the kubelet CRI driver. It's not clear to me if direction should be shifted from that.

[2016-10-11 15:25] ncdc commented on #34256
I just opened an upstream issue for this. I can reproduce with docker 1.11.2 and 1.12.1.

https://github.com/docker/docker/issues/27289

[2016-10-11 15:33] quinton-hoole commented on #33943
Thanks for the bug report @Sushant .  Perhaps the best solution here is to suppress the error message if no Federated Ingresses have been created.  If Federated Ingresses have been created, and some of the clusters in the federation are not GCE/GKE, then the federated Ingresses are almost certainly not going to behave as the user expects, and I imagine that they would want to see the log message y

[2016-10-11 15:48] guybrush commented on #34311
i changed the 3 occurences of `443` to `6443` and it worked for me (but i am totally unfamiliar with the code)

[code]

[2016-10-11 15:52] bgrant0607 commented on #15879
There's more discussion here: https://github.com/kubernetes/kubernetes/issues/30819#issuecomment-252774539

A single feature cannot be represented using multiple spec fields in the same API version simultaneously. Only one field can be populated in any resource at a time, and the client needs to be able to specify which field they expect to use, on both mutation and read.

[2016-10-11 15:53] screeley44 opened #34549 "If multiple default StorageClasses exist, pvc request fails"
Do we want to stop the creation of a StorageClass with the "is-default" annotation, if one already exists on the cluster?

If I create multiple "default" storage classes

[code]

and then try to submit a PVC, I get this error

[code]

@kubernetes/sig-storage

[2016-10-11 15:53] bgrant0607 commented on #34508
Note that relying on a new mechanism, such as #33900, won't work for any existing clients.

[2016-10-11 15:54] luxas commented on #34328
I think go1.7.1 is going to be in this week

[2016-10-11 16:01] mtaufen commented on #34256
sweet

[2016-10-11 16:01] bgrant0607 commented on #34508
One disadvantage of using release versions is that some projects that embed K8s (e.g., Openshift) have their own release numbers.

Anyway, I'm inclined to use a single versioning scheme for the API.

[2016-10-11 16:02] bgrant0607 commented on #34458
cc @kubernetes/deployment

[2016-10-11 16:06] thockin commented on #30819
If alpha->beta is abrupt, we guarantee bad experiences.  User uses v1.x.0,
and uses alpha fields to achieve behavior B.  They upgrade to 1.y.0 and
guaranteed behavior B changes and worse, any external resources or state
related to B are abandoned without opportunity for cleanup.

We don't (I think) want to block cluster upgrades because "warning, you
have active alpha features".

More importantly,

[2016-10-11 16:07] kargakis commented on #34547
@deads2k did you see this failure by any chance while working on https://github.com/kubernetes/kubernetes/pull/34349?

[2016-10-11 16:08] euank commented on #28667
@yifan-gu I disagree with the first two bullet points mattering here. With the no-op driver, `PodSandboxStatus` will have the correct ip for downwards API etc in happy cases.

I think the ip returned in `PodSandboxStatus` is, by api contract, the ip you'd want present in the downward api and /etc/hosts so it doesn't matter whether it's related to CNI or not.

I think an important point the kubelet

[2016-10-11 16:19] k8s-merge-robot opened #34550 "continuous-e2e-docker-validation-gci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/continuous-e2e-docker-validation-gci/83/

Run so broken it didn't make JUnit output!

[2016-10-11 16:21] quinton-hoole commented on #26725
@colhom Is this done yet?  If you're too busy we could try to find some community volunteers.

[2016-10-11 16:21] errordeveloper commented on #34411
I'm going to fix this.

[2016-10-11 16:24] erictune commented on #24255
@saad-ali I'm trying to track MySQL related issues for workloads.   Can this be closed, and possibly factoring out a new issue for PD resizing?

[2016-10-11 16:25] #20949 closed

[2016-10-11 16:26] quinton-hoole commented on #26329
Provisionally assigning to @mwielgus who has been thinking about similar things.  Some of this is now incorporated into our common federation controller library.  We can close this once we have ported the Federated Service Controller to the common federation controller library (there is an issue for that somewhere), and verified that all of the cases outlined in this issue are addressed by that po

[2016-10-11 16:29] bgrant0607 commented on #30819
I do believe we need to be able to break compatibility. That's why I wanted alpha in the first place. Alpha isn't even guaranteed to work.

When we broke compatibility for Deployment and DaemonSet we learned that (unsurprisingly) people upgrade without reading release notes. At minimum, if the broken resources still exist, we need to ensure they don't cause clusters to explode.

That said, if ther

[2016-10-11 16:31] erictune commented on #31952
Although it is on the official website, the Ubuntu and Centos guides are not actively supported, and we typically cannot offer much support for them.

You may have better luck with MiniKube, or Kube-up on GCP or AWS.

[2016-10-11 16:31] #31952 closed

[2016-10-11 16:32] erictune commented on #26409
Assuming this fixed it for the OP since not comments in months.

[2016-10-11 16:32] #26409 closed

[2016-10-11 16:35] bgrant0607 commented on #30819
@davidopp Alpha features aren't enabled by default and clusters with alpha features aren't auto-upgraded.

[2016-10-11 16:43] deads2k commented on #34547
No.  I didn't see that one.

[2016-10-11 16:46] squeed commented on #28667
My personal preference (especially given #31307) is to have Kubelet call CNI, but I don't really care either way. I just want to see **whatever the decision is** captured in the CRI spec.

[2016-10-11 16:50] caseydavenport commented on #34530
@Sn0rt By default, I don't think `hack/local-up-cluster.sh` installs a network plugin which supports NetworkPolicy.

Kubernetes itself doesn't enforce NetworkPolicy.  You'll need to run a networking solution like Calico, Canal, etc as your network plugin to get NetworkPolicy features.

[2016-10-11 16:50] fejta commented on #34446
I'm going to migrate this job over to where our code (rather than a jenkins plugin) captures and uploads logs, which we want to do anyway and will hopefully resolve this.

Odd... if we look at job/kubernetes-e2e-gce/configure we will a bunch of conditional build steps in the post-build actions configuration, which matches what is specified in yaml:
https://github.com/kubernetes/test-infra/blob/mas

[2016-10-11 16:52] jbeda commented on #34448
I found a bug in my dockerized build (don't mirror deleted files).

However, I can't repro this by just deleting files for a regular binary.

My test:
[code]

I do get an error (as expected) on the second `make`.

Perhaps this is an issue with the way we build tests.  I'll keep looking.

[2016-10-11 17:04] ncdc commented on #33649
This is being tracked in #34256. It appears to be a docker bug. There's not really anything we can do at the moment.

[2016-10-11 17:06] bprashanth commented on #33904
It's master slave redis, you should be able to create the same petset with this: https://github.com/kubernetes/kubernetes/tree/master/test/e2e/testing-manifests/petset/redis, fyi

[2016-10-11 17:09] DreadPirateShawn commented on #34265
Right, as we suspected. @bprashanth Are you confirming that this is a bug? Or implying that there's a way to upgrade Kubernetes HA masters one at a time without encountering this problem?

Trying to make sure I understand the next steps here, thanks.

[2016-10-11 17:14] deads2k commented on #34547
Found it.  Opened https://github.com/kubernetes/kubernetes/pull/34552

[2016-10-11 17:16] jbeda commented on #34448
See #34553 for PR to fix related bug in dockerized build.  That won't fix this issue though.

[2016-10-11 17:16] michmike commented on #27097
@yujuhong can you please involve me in the planning for the monitoring aspect of the container runtime interface? i would like to represent the windows-aspect of this work.

thanks!

[2016-10-11 17:18] michmike commented on #34327
@jbhurat one of the first things we should itemize is what perf and other metrics cAdvisor exposes to k8s that are needed on windows. We can put them on a table and try to map them to APIs (WMI, perfmon, powershell) on Windows Server.
thanks!

[2016-10-11 17:21] mattf commented on #34377
cc @willb @erikerlandson

[2016-10-11 17:21] sjpotter commented on #34327
@michmike  https://github.com/google/cadvisor/blob/master/info/v2/container.go#L131

[2016-10-11 17:23] lavalamp commented on #34508
It wasn't clear from my initial post, but these were intended to be api versions, not release versions. The patch version will rapidly diverge from the release patch version. We could make this more obvious, by prefixing with something other than "v". We could also not use semver and just have a clock that counts up with each api change--I didn't recommend that because we probably should produce s

[2016-10-11 17:24] lavalamp commented on #34508
Right, you have to actually make a separate "real" api version for that. (Arguably this is a feature.)

[2016-10-11 17:26] jbeda commented on #28960
@wojtek-t Do you have a link/number?

[2016-10-11 17:26] sjpotter commented on #34327
The process how this all works today is a bit convoluted.

a bit of background: kubelet adds labels to the the docker containers, cadvisor reads those labels in an opaque manner and just attaches them to the data it returns.

so the process is

kubelet creates containers, cadvisor provides stats on containers (with the opaque data), kubelet reingests the data and uses the labels that are not opaqu

[2016-10-11 17:28] therc commented on #11505
I might be biased, but I think it would be desirable to have this baked in, in both Deployments and, eventually, Daemonsets. In Borg land (where I started, oversaw or rescued hundreds or thousands of updates), the kubectl equivalent can update X canaries and watch them for N minutes, all from the client side. If no more than M failures have occurred in the new instances, the rest of the tasks will

[2016-10-11 17:28] lavalamp commented on #34508
My suggestion is a superset of this. I was thinking you need to know what semantics the *client* is expecting to get, that it doesn't matter if the server has moved on. I'll have to think about it more, but I still think it is better to track the history and not just the current status.

[2016-10-11 17:30] madhusudancs commented on #34017
Hopefully, this works for everybody now due to these documentation changes - https://github.com/kubernetes/kubernetes.github.io/pull/1424. Please feel free to reopen if it doesn't.

[2016-10-11 17:30] #34017 closed

[2016-10-11 17:31] ixdy commented on #28960
@jbeda #28742

[2016-10-11 17:37] lavalamp commented on #34508
You can specify multiple versions in Accept headers. I'm not sure a range really gets you any benefit over that, unless you want to specify it separately and have it apply to all the things in the Accept header. (to avoid combinatorial explosion)

[2016-10-11 17:44] jbeda commented on #30600
I'm not excited about bazel but, like @thockin, I'm not excited about making builds my life.  A combination of dockerized builds and bazel might be a good combo.  (I say this as using a dockerized build might help to mitigate the pain of installing bazel.)

@spxtr -- do you have the bandwidth to try and convert things to bazel to see how it works?

[2016-10-11 17:44] Random-Liu commented on #33232
@vishh I don't seem to have time to look into this recently. If this is important, we may need another eye here.

[2016-10-11 17:48] krousey commented on #30600
@jbeda #32774 is @mikedanese 's stab at it.

[2016-10-11 17:48] lavalamp commented on #34508
These provide an API history, and if a client gives a range or a version, we'd know:
* which fields are new to that client
* which fields the client will think are alpha/beta/ga.
* which fields the client thinks exist which actually don't anymore.

The most recent alpha/beta/stable/marker determines the current state of the field. We can then stuff e.g. alpha fields into the list of alpha features

[2016-10-11 17:51] javiercr commented on #19825
I had the same issue with kubernetes v1.4.0, a pod crashed with ExitCode 137 but no indication of OOM.

[2016-10-11 17:54] ixdy commented on #34446
I suspect that the job updater ran at some point this weekend while the conditional build step plugin wasn't working, so it wasn't able to add that step. I'm not sure why it hasn't rectified it since.

[2016-10-11 17:59] michmike commented on #34327
this is very helpful. thanks @sjpotter

[2016-10-11 18:01] mikedanese commented on #30600
It works well :) just need buy in and polish.

[2016-10-11 18:03] ApsOps commented on #19825
I think this could happen when a container liveness probe fails.
@javiercr could you check if this was the case for you?

[2016-10-11 18:18] rmmh commented on #34446
That seems to be the problem. I've cleared the job cache and done a full rebuild, so gce-scale and anything else that was updated why the postbuild plugin was missing should be fixed now.

[2016-10-11 18:23] ericln commented on #14276
is `m3.medium` still only have 4G?  is there any workaround for this issue ?

[2016-10-11 18:25] mikedanese opened #34559 "kubeadm output should be clear and beautiful"
Example of current output:

[code]

I don't know what is important. There's no indentation. There's no color. Let's add some structure and convention to this output.

cc @kubernetes/sig-cluster-lifecycle

[2016-10-11 18:28] dhawal55 opened #34560 "Audit log not working"
**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:
- **Cloud provider or hardware configuration**: `AWS`
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

**What happened**:
I'm running a 2 node k8s cluster (1 master, 1 worker) with following kube-apiserver definition and expect audit logs to be generated but no logs are generated:
[code]

**

[2016-10-11 18:37] ravilr commented on #17064
@kubernetes/sig-node there are atleast 2 issues asking to support configuring container runtime options (MemorySwap, MemorySwappiness, shmSize per container ):
https://github.com/kubernetes/kubernetes/issues/28272
https://github.com/kubernetes/kubernetes/issues/7294#issuecomment-252374355

In addition to pod/container spec changes, i think new CRI interface should also support opaque container run

[2016-10-11 18:42] javiercr commented on #19825
@ApsOps sorry for my ignorance 😓 , but how can I check that?

[2016-10-11 18:46] ApsOps commented on #19825
@javiercr Have you setup a `LivenessProbe` in your pod config? If yes, `describe` the pod and look for `events` section.

[2016-10-11 18:50] timstclair commented on #32467
I just show up in blame for some framework refactoring. I can take a look though.

[2016-10-11 18:50] jingxu97 commented on #33867
I have a test also having the similar problem.
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/34557/kubernetes-pull-build-test-e2e-gce/62644/build-log.txt

ERROR: (gcloud.compute.firewall-rules.create) Some requests did not succeed:
 - Quota 'FIREWALLS' exceeded. Limit: 250.0

[2016-10-11 19:03] javiercr commented on #19825
@javiercr nope, I didn't setup any `LivenessProbe` nor it appears in the pod description.

[2016-10-11 19:06] lavalamp commented on #26637
Ah, now I see what you're talking about. I agree it sounds bad, but is it a big percentage of the endpoints traffic at that scale? This costs 10k broadcasts per second.

Assume there's 50 pods per node. Assume each pod shows in one service. Assume a pod changes status once every thousand seconds (most pods won't change often, but pods get started/stopped and crashloop often enough to raise the ave

[2016-10-11 19:09] lavalamp commented on #26637
I think there's actually a very old issue about endpoints not scaling, @bgrant0607 probably knows off the top of his head.

[2016-10-11 19:11] lavalamp commented on #26637
(Note that I don't object to changing scheduler and controller manager to use a different object for locking--endpoints was a weird choice IMO--but it is only adding a few feet onto the end of your runway.)

[2016-10-11 19:21] colhom commented on #26725
@quinton-hoole I am pretty swamped at the moment, so if there are any more expedient volunteers, by all means.

[2016-10-11 19:27] fvigotti opened #34563 "Service NodePort isn't stable"
kubernetes 1.4.1
flannel - vxlan
ubuntu 16.04

I've tried with a fresh manual installation now, minimal setup, 2 nodes, 1 master schedulable and 1 slave, no errors in the log on any component on both servers

1deployment, 2 backend and 2 services ( 1 nodeport , 1 externalIp ) ,

`curl $NODEIP:nodeport` from nodes or other clients doesn't work at all

`curl $SVCIP:nodeport` from nodes cause this :

[2016-10-11 19:30] k8s-merge-robot opened #34564 "kubernetes-e2e-gci-gce-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-serial-release-1.4/144/

Run so broken it didn't make JUnit output!

[2016-10-11 19:32] bgrant0607 commented on #26637
DO NOT persist componentstatuses in etcd. That API is a disaster. See #13216 for discussion of its future directions.

I don't think endpoints scalability has its own issue, though it has been mentioned in a bunch of places:
* #8190
* https://github.com/kubernetes/kubernetes/pull/4370#r24847160

Pagination is #2349

[2016-10-11 19:33] fvigotti commented on #34563
example of strange behaviour

[code]

[2016-10-11 19:38] errordeveloper opened #34566 "kubelet should pick routable IP"
We have seen that on VirtualBox in particular kubelet picks first interfaces, which is usually NATed and is of no use. In particular the issue comes up with `kubernetes` service IP, which gets mapped to endpoint on the NATed interface.

[2016-10-11 19:39] errordeveloper commented on #34420
Are you using VirtualBox?

[2016-10-11 19:40] wojtek-t commented on #34446
Hmm - it doesn't seem to be fully fixed.

Basically, we used to have logs from kubemark master machine, e.g.:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/6550/artifacts/?project=kubernetes-jenkins
(there is this kubemark-500-kubemark-master/ directory)

However, even now (this is the last run), we no longer have those logs:
https://pantheon.

[2016-10-11 19:40] k8s-merge-robot opened #34567 "[k8s.io] Kubectl client [k8s.io] Kubectl run deployment should create a deployment from an image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/5737/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run deployment should create a deployment from an image [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27532

[2016-10-11 19:41] #34563 closed

[2016-10-11 19:43] lavalamp commented on #26637
Ah, I may be misremembering IRL conversations as github issues...

On Tue, Oct 11, 2016 at 12:32 PM, Brian Grant <notifications@github.com>
wrote:

[2016-10-11 19:43] rca commented on #24229
@keglevich3 cool, thanks for the tip!  Will check them out.

[2016-10-11 19:45] fvigotti commented on #34563
there was an error in syntax of svc ( docs are not clear and it's full of wrong examples around there.. )
this is the correct syntax for the nodeport service, but I'll leave here above the wrong format as documentation  of **WRONG** nodePort format.. I'm not 100% about it anyway..
and also I've done this simple test on nodePort to investigate a timeout-behaviour between ingress and services I'll o

[2016-10-11 19:47] chrislovecnm commented on #24286
Every C* instance has to talk to every other C* instance.

[2016-10-11 19:47] quinton-hoole commented on #31624
I can take this one @madhusudancs .  Reassigning.

[2016-10-11 19:51] mbohlool opened #34568 "GCE E2E test sometime failed because of cluster creation failure"
Happened here: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33629/kubernetes-pull-build-test-e2e-gce/62648/

I believe the "Could not fetch instance" lines are responsible for the failure.

[2016-10-11 19:53] jimmyjones2 commented on #34420
@errordeveloper Yes

[2016-10-11 19:57] dcbw commented on #28667
@euank @yifan-gu last net-sig meeting @thockin was suggesting that the network setup would all live within the runtime code, so would be under control of docker/rkt/etc instead of in kubelet.  If that's still the planned direction, then I would say that the CNI driver code should be in some kind of utility packet in kubernetes git or under the kubernetes project that the runtimes could then import

[2016-10-11 19:57] thockin commented on #26637
Endpoints as an API object has scalability problems (needs some form of
pagination) and kube-proxy should batch updates (and filter no-ops).  I am
99% sure both of these have open issues.

On Tue, Oct 11, 2016 at 12:43 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-10-11 19:58] lavalamp commented on #30819
Yes.

The second level consideration is that we might as well not break people if in fact it's actually low cost for us.

The third level consideration is that if everyone believes that we're making the second level consideration, they will be lazy, not read release notes, and then get a nasty surprise when we happen to not make a transition easy. And it will no doubt happen at the worst possible

[2016-10-11 19:59] roberthbailey commented on #34511
The last run looks like it passed.

[2016-10-11 20:04] roberthbailey commented on #33624
@vishh It looks like on this jenkins configuration the master is never coming up healthy. Can you take a look at one and see if you can tell what's going on?

[2016-10-11 20:04] mml commented on #33388
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/34438/kubernetes-pull-build-test-gci-e2e-gce/1549/

[2016-10-11 20:07] lavalamp commented on #26637
I don't see how pagination addresses the fan-out problem, or any problem.
Even in a 10k node cluster there's only 500k - 1m pods total, and those
will be merged into fewer endpoints objects, maybe 2x to 1000x fewer,
depends on how big the services are.

I think adding a low-cost endpoints view using the mechanism Clayton
proposed is not enough; we can filter out metadata changes, ordering
changes,

[2016-10-11 20:10] surajpasuparthy commented on #24286
Ah, i feared as much.
So is Ubernetes the ONLY way i can expose the POD ips on say DC1 to DC2 ? is there any possible configuration i could have to set up multi DC sync across kubernetes clusters without ubernetes.
At the moment, i have a workaround by using the "hostNetwork=true" for the cassandra deployment yaml file. Doing this will assign my VMs ip as the pod ip for cassandra. The limitations

[2016-10-11 20:13] euank commented on #28667
@dcbw based on @freehan's PR over here https://github.com/kubernetes/kubernetes/pull/34276 it seems like that indeed is the plan of action.

I'm not sure that we wanted CRI runtimes to talk to the api-server (out of band) vs it being explicitly expressed in kubelet (in-band). I'm in favor of the latter even though it might mean fairly bulky CRI interfaces.

[2016-10-11 20:17] roberthbailey commented on #33624
Looking at one of the masters, the kube-apiserver container is crashing and exiting immediately. Restarting it doesn't fix the problem, so the master never becomes healthy and the cluster never enters the running state.

[2016-10-11 20:18] dcbw commented on #14940
@bprashanth you can't always do that, because it's IPAM method dependent. You may need to send a DHCP release or some other operation that requires the netns around.  I suppose we could amend the CNI spec to say that the IPAM plugin should release the IP without CNI_NETNS if it can, but there are certainly edge cases where that's not possible.

Whether we can clean up correctly by storing details

[2016-10-11 20:20] jellonek commented on #28667
IMO kubelet should be a proxy for passing this data and CRI should not access api server by self.
This simplifies CRI runtimes which would not require any knowledge about api-server.

[2016-10-11 20:25] lavalamp commented on #26637
(The right kind of update batching would require extensive changes to our watching model, in case it wasn't clear.)

[2016-10-11 20:25] jingxu97 commented on #20646
Hit this problem again in one of my tests run https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/34557/kubernetes-pull-build-test-e2e-gce/62668/build-log.txt

 - Quota 'STATIC_ADDRESSES' exceeded. Limit: 40.0

[2016-10-11 20:26] chrislovecnm commented on #24286
@surajpasuparthy no this is a routing problem not a federation / ubernetes problem.  You have to route between nodes, which is a pure networking issue.

[2016-10-11 20:31] spxtr commented on #20646
Yeah, looking at it now. Not just static IPs.

[2016-10-11 20:33] surajpasuparthy commented on #24286
@chrislovecnm
I see, could you give me an idea about how i can set up this networking ?
So far, i only can think of a tunnel (TLS) between the 2 VMs(2 single node K8S clusters). but that will still forward the handshake only to the svc ip and the Pod IPs are private to the cluster.
Thanks in advance

[2016-10-11 20:34] kjvalencik commented on #15169
@therc What iptables rule are you using as a work around? I'm not able to get something to work within a pod.

[2016-10-11 20:38] k8s-merge-robot opened #34571 "[k8s.io] DNS should provide DNS for the cluster [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/5739/

Failed: [k8s.io] DNS should provide DNS for the cluster [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26194 #26338 #30345

[2016-10-11 20:38] chrislovecnm commented on #8355
@goltermann more information please

[2016-10-11 20:40] chrislovecnm commented on #24286
https://github.com/kubernetes/kubernetes/issues/27239 is where I would ask you to continue this conversation, and I will close this again.

[2016-10-11 20:44] Random-Liu commented on #34492
I think the reason is that we expect the timestamp to be in `nanoseconds`, however, we are using `time.Unix` which returns in `seconds`.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/docker_container.go#L283

[2016-10-11 20:44] therc commented on #15169
DNAT       udp  --  anywhere             MAGICIP  udp dpt:8125 to:NODEIP

[2016-10-11 21:07] surajpasuparthy commented on #27239
@chrislovecnm
Moving here from another thread.
could you give me an idea about how i can set up this networking ?
So far, i only can think of a tunnel (TLS) between the 2 VMs(2 single node K8S clusters). but that will still forward the handshake only to the svc ip and the Pod IPs are private to the cluster.
As a workaround i am using the "hostNetwork=true" to use the VM's ip to be assigned as the

[2016-10-11 21:12] roberthbailey commented on #33624
@vishh

Something funny is going on here. The nodes says that it's running 1.5.0 alpha but the kubelet version is 1.4.0:

[code]

[2016-10-11 21:15] roberthbailey commented on #33624
[code]

[2016-10-11 21:17] vishh commented on #33624
cc @maisem

On Tue, Oct 11, 2016 at 2:16 PM, Robert Bailey <notifications@github.com>
wrote:

[2016-10-11 21:19] vishh commented on #33624
Does `cloud init` logs give any signals? `journalctl -u cloud*`

On Tue, Oct 11, 2016 at 2:17 PM, Vishnu Kannan <vishnuk@google.com> wrote:

[2016-10-11 21:29] smarterclayton commented on #33968
Our expectation is N-1 release for client to server at the current
time (1.4 client -> 1.3 server).  As noted we try to extend that, but
it's not always possible.  That should be documented in
docs/kubectl_conventions.md

[2016-10-11 21:33] grodrigues3 opened #34572 "Very API Reference Test Diffs OWNERs File"
The [PR](https://github.com/kubernetes/kubernetes/pull/31752/files) to generate new OWNERs files is [failing tests](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31752/kubernetes-pull-verify-all/17201/) because the bash script is attempting to verify an OWNERs file in a generated directory.

[code]

The problem seems to be in `hack/verify-api-references-docs.sh`, possibl

[2016-10-11 21:33] bgrant0607 commented on #30819
Note that any solution (including both my proposal and Tim's) that forces use of a newer representation only won't work for annotations read by Kubelet, since we explicitly permit version-skewed nodes.

[2016-10-11 21:34] grodrigues3 commented on #34572
@erictune @nikhiljindal assigning you guys based on `git blame`.

[2016-10-11 21:43] nikhiljindal commented on #34572
Yes `verify-api-reference-docs.sh` verifies that everything in `docs/api-reference` can be generated by running `update-api-reference-docs.sh`.
Do we really want to add an OWNERS file to that directory? All the code there is auto generated by running `update-api-reference-docs.sh`

[2016-10-11 21:52] lavalamp commented on #34508
I suppose differing representations could be handled by allowing fields
with different go names to have the same json tag, and then generating json
parsers that are aware of this (would be a good reason to tear out ugorji).
However I don't think that makes any sense for the proto
representation--any given field number in the proto messages can't change
representation.

On Tue, Oct 11, 2016 at 2:08

[2016-10-11 22:07] grodrigues3 commented on #34572
I think you're right and we don't want to add an OWNERs file there.  I've pinged @calebamiles to get rid of the OWNERs files there and it should hopefully fix the problem

[2016-10-11 22:12] mml commented on #34547
Running this test 8 times in a loop on my workstation, I was able to get a reliable failure signal.

[code]

[2016-10-11 22:20] smarterclayton commented on #34508
I think having json names that reflect the particular state and
representation of a field is a feature.  The only problem we have is
supporting multiple representations, which is really a problem when
you have three levels rather than two.

If we are backwards compatible in major versions, why not simply
collapse this into two states.

1. Alpha (no back compat)
2. Beta (back compat, no breaks)

Al

[2016-10-11 22:21] roberthbailey commented on #33624
Nothing particularly interesting:

[code]

[2016-10-11 22:24] roberthbailey commented on #33624
It looks like https://k8s-testgrid.appspot.com/google-gke#gke-pre-release is also failing consistently.

[2016-10-11 22:25] bgrant0607 commented on #33843
cc @erictune

[2016-10-11 22:26] nikhiljindal opened #34575 "federation-up is broken"
It fails with:
[code]

cc @kubernetes/sig-cluster-federation

[2016-10-11 22:30] roberthbailey commented on #33624
And it looks like it's failing with the same error.

[2016-10-11 22:39] nikhiljindal commented on #34575
cc @madhusudancs @colhom

[2016-10-11 22:46] bgrant0607 commented on #30819
@smarterclayton @davidopp @thockin @gmarek

Since we're talking about a short-term hack at this point, concretely, which alpha annotations are proposing to move to beta in 1.5?

[2016-10-11 22:51] Calpicow commented on #11816
Having problems setting up SSH tunneling.

kube-apiserver with
[code]

and get

[code]

kubelet iptables are set to

[code]

but get the following error for kubectl logs/exec

[code]

[2016-10-11 22:52] colhom commented on #34575
@nikhiljindal make sure you are running the `build/` scripts with `FEDERATION=true` env var exported. That is what controls whether `${KUBE_ARCH}/kubernetes/server/bin/federation-apiserver.docker_tag` gets created.

[2016-10-11 22:55] nikhiljindal commented on #34575
@colhom With https://github.com/kubernetes/kubernetes/pull/29929, we are not generating the federation-apiserver binary and instead using the hyperkube binary.

[2016-10-11 23:01] #34105 closed

[2016-10-11 23:01] #34547 closed

[2016-10-11 23:03] colhom commented on #34575
@nikhiljindal sorry, i copied the wrong line. The droid you're looking for:

`"${KUBE_ROOT}/federation/manifests/federated-image.tag"`

* File conditionally written during `build/release` process
   https://github.com/kubernetes/kubernetes/blob/master/build/release.sh#L43-L49

* File consumed when templating federation control plane yaml
  https://github.com/kubernetes/kubernetes/blob/master/feder

[2016-10-11 23:16] nikhiljindal commented on #34575
Right. My `federation/manifests/federated-image.tag` is also empty.
I am trying to run federation e2e tests.
The command I am running is:
`FEDERATION=true E2E_ZONES="us-central1-a us-central1-f" KUBE_RELEASE_RUN_TESTS=n KUBE_FASTBUILD=true go run hack/e2e.go -v -build && FEDERATION=true build/push-federation-images.sh && NUM_NODES=1 FEDERATION=true E2E_ZONES="us-central1-a us-central1-f" KUBE_UP_A

[2016-10-11 23:23] killdash9 commented on #30656
Any update on this?

[2016-10-11 23:36] colhom commented on #34575
@nikhiljindal that should definitely work. Please `set -x` and then run the `hack/e2e.go -build` step, capture the output and email to me? I was literally doing exactly this process for another PR today, and I verified the image tag file was getting written correctly as well.

[2016-10-11 23:49] javiercr commented on #34401
I had the same problem. [Kubernetes docs](http://kubernetes.io/docs/admin/limitrange/) say:

Which seems to not be true at least in GKE clusters with v1.4.0

[2016-10-11 23:57] AdoHe commented on #33968
I will open an issue to document compatibility guarantee in docs/kubectl_conventions.md.

[2016-10-12 00:00] liggitt commented on #11816
I'm pretty sure the tunneling setup expects to be able to hit port 10250 on any node from any other node. The tunneling is just used to get to the node network, not to get to the specific node being targeted. @cjcullen/@mikedanese is that your understanding?

[2016-10-12 00:01] davidopp commented on #30819
From sig-scheduling:
* scheduler.alpha.kubernetes.io/taints
* scheduler.alpha.kubernetes.io/tolerations
* scheduler.alpha.kubernetes.io/affinity

[2016-10-12 00:14] mikedanese commented on #11816
Yes that's correct.

[2016-10-12 00:17] feiskyer commented on #28667
+1 for moving network plugins to a separate project for reusing.

[2016-10-12 00:20] tedstirm commented on #34101
Okay I ran into this exact same issue and here is how I fixed it.

This problem seems to be due to kube-proxy looking at the wrong network interface. If you look at the kube-proxy logs on a worker node you will most likely see something like:
[code]
This is the wrong network interface. The kube-proxy should be looking at the master node's IP address not the NAT IP address.

As far as I know the ku

[2016-10-12 00:26] miracle2k commented on #30656
My app container image is built using buildpacks. I'd like to open a shell. When I do, I am root, and all the env vars are set. But the buildpack-generated environment is not there. If I open a login shell  for the app user (`su -l u22055`) I have my app environment, but now the kubernetes env vars are missing.

[2016-10-12 00:33] yifan-gu opened #34579 "The `SUBOBJECT` of `kubectl get events` is not right"
I am testing init containers, my pod spec is as follows, where the first init container succeeds, while the second fails, with restart policy == `Always`.

[code]

I expect to see several `pulling`, `pulled`, `created`, `started` events of the `inittwo` container from `kubectl get events`.

However the `SUBOBJECT` of  `pulling` and `pulled` events are in fact `initone` container:

[code]

I am pre

[2016-10-12 00:34] k8s-merge-robot opened #34580 "TestDeploymentController_dontSyncDeploymentsWithEmptyPodSelector {deployment}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17996/

Failed: TestDeploymentController_dontSyncDeploymentsWithEmptyPodSelector {deployment}

[code]

Previous issues for this test: #34547

[2016-10-12 00:37] erictune commented on #30819
Brian wrote:

Does this work when the consumer version lags the APIserver version?

Say at version 1.4, a round-trip conversion does: alpha-annot -> internal field -> alpha-annot
Say at version 1.5, a round-trip conversion does: alpha-annot -> internal field -> beta-annot.
Now if the apiserver is 1.5, and the "consumer"  (kubelet or controller-manager) is 1.4, and the consumer only knows about the

[2016-10-12 00:44] timstclair commented on #32837
/cc @lavalamp

[2016-10-12 00:49] lavalamp commented on #32837
I think at a minimum we need this condition to not break one's cluster.
Right now, it could make enough churn to do that.

On Tue, Oct 11, 2016 at 5:45 PM, Tim St. Clair <notifications@github.com>
wrote:

[2016-10-12 01:06] colemickens commented on #34580
I hit it too, direct link to build: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/34416/kubernetes-pull-test-unit-integration/48793/ PR here: https://github.com/kubernetes/kubernetes/pull/34416

[2016-10-12 01:07] Random-Liu commented on #33189
I checked these 2 days result of gci-gce-cri. Here are 4 kinds of failures I've found:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-cri/565
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-cri/576
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-cri/561
[code]

https://k

[2016-10-12 01:09] timstclair commented on #32837
Maybe the best solution here is to stop rejecting the pod, and instead keep it in a pending state. This doesn't give the Pod a chance to be rescheduled where it can run, but since the scheduler isn't aware of the condition that might not happen anyway, and we're not really targeting heterogeneous clusters (use node labels for that case). This also gives the container a chance to run if the profile

[2016-10-12 01:12] timstclair commented on #32837
This is also consistent with what happens when a Pod is created using a ConfigMap volume for a ConfigMap that doesn't exist.

[2016-10-12 01:17] k8s-merge-robot opened #34581 "[k8s.io] Cluster size autoscaling [Slow] shouldn't increase cluster size if pending pod is too large [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-autoscaling/921/

Failed: [k8s.io] Cluster size autoscaling [Slow] shouldn't increase cluster size if pending pod is too large [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]

[2016-10-12 01:23] vklonghml opened #34582 "kube-proxy.exe flag redefined: log_dir"
hi, forums, i'm using this guide(https://docs.google.com/document/d/1IjwqpwuRdwcuWXuPSxP-uIz0eoJNfAJ9MWwfY20uH3Q/edit#heading=h.c15wonvangdk) to compile kube-proxy on windows, and
run it on windows server 2016, but it failed to start with "kube-proxy.exe flag redefined: log_dir", i found
this error was course by client-go and k8s conflict, when run "go install" in cmd/kube-proxy, i need go get
cli

[2016-10-12 01:25] ilovetina2006 commented on #33360
YES.If nothing has been done since then. I suggest  all of the files needed to create the images put together     in the compressed archive. thx.

[2016-10-12 01:29] resouer commented on #32024
Another thing is when new predicates added, how to update the existing equivalence strategy correspondingly.

[2016-10-12 01:30] dims commented on #34580
@colemickens : can you try rebasing on https://github.com/kubernetes/kubernetes/commit/3d2674b2ddbdea485e1114479b03392ce2589c4c ? That should have fixed this problem

[2016-10-12 01:45] buildmaster opened #34583 "PersistentVolume on EBS can be created in availability zones with no nodes"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: `aws`
- **Install tools**: `kops` default install

**What happened**:
AWS EBS backed PersitantVolumeClaim created a volume in an AZ where there was a master but no nodes. Making it unusable.

**What you expected to happen**:
Zones with master and no nodes shouldn't be used to c

[2016-10-12 01:50] colemickens commented on #34580
Looks like they finally passed and retest is skipped for the submit-queue for that PR, so I'd prefer not to rebase and risk encountering another flake.

If you need it as a confirmation of 3d2674b, let me know and I'll force push my rebase.

[2016-10-12 01:53] Sn0rt commented on #34530
@caseydavenport  got it, thanks.
but I think networkpolicy should can enable by Environment variable because [Kube Networking User Stories](https://docs.google.com/document/d/1ZCz_MZILzKCbFwF9gjU1YNA1YbNaw0NDsESh1P6Vcnc/edit)

[2016-10-12 01:53] bgrant0607 commented on #30819
@erictune None of the solutions proposed in this issue will work for all use cases. In particular, none work with version skew within the control plane and none work with version skew between control plane and kubelet, for annotations consumed by kubelet.

We need to decide which use cases to break. That's why I asked about specific annotations under discussion.

If you're thinking about initConta

[2016-10-12 01:56] #34236 closed

[2016-10-12 01:57] dims commented on #34580
@colemickens no worries. things are looking up in the gate. we can close this issue out tomorrow

[2016-10-12 02:00] saad-ali commented on #34236
No, unrelated

[2016-10-12 02:05] saad-ali commented on #24255
Yes that's fine.

[2016-10-12 02:05] #24255 closed

[2016-10-12 02:14] bgrant0607 commented on #30819
One possibility for spec fields is a variant of proposals by @davidopp and @thockin (and probably others in this thread):

https://github.com/kubernetes/kubernetes/issues/30819#issuecomment-252804882
https://github.com/kubernetes/kubernetes/issues/30819#issuecomment-252820443

We could treat alpha and beta annotations independently and not convert them to a common form. In order to be nice to user

[2016-10-12 02:15] smarterclayton commented on #33843
It's not enough to do odd numbers though - 3,5,7 may be valid but
others are not.  A few systems require 3n+1.  Also, does zero count,
or is it a potential exception?

I think this is a requirement to be leveraged against petsets, not
against general resources, and should be solved there, not across all
scalable resources.

[2016-10-12 02:25] smarterclayton commented on #33843
Also, enforcing an annotation would break autoscaling, and autoscaling
a pet set should be possible, so an enforcing admission controller
needs to at least take that into account and prevent abuse / bugs /
unexpected behavior.

[2016-10-12 02:26] resouer commented on #34040
+1 for https://github.com/kubernetes/frakti/tree/master/test/e2e which is using k8s e2e framework cc @xlgao-zju

[2016-10-12 02:26] smarterclayton commented on #33968
I think there is one - can't find it right now but we talked about
this on an issue recently.

[2016-10-12 02:39] chengzhang1016 commented on #33475
@rata I think place to docs/user-guide/secrets/index.md is OKay, same as you did before : )

[2016-10-12 02:40] #34492 closed

[2016-10-12 02:45] feiskyer commented on #34040
@xlgao-zju will work on this.

cc/ @resouer @yujuhong

[2016-10-12 02:51] k8s-merge-robot opened #34585 "[k8s.io] Job should fail a job {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33763/kubernetes-pull-build-test-gci-e2e-gce/1852/

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #33763.

Previous issues for this test: #28773 #29506 #30699 #32734

[2016-10-12 03:03] liggitt commented on #32453
the correct place to set a trusted CA bundle for verifying connections to the api is in the kubeconfig file, as noted

[2016-10-12 03:03] #32453 closed

[2016-10-12 03:07] resouer commented on #32024
For implementation of part 2, when scheduler doing `updatePodInCache` there's some cases we need to invalid pod's node's equivalence class here's a list in my mind:
[code]

And deciding if those filed changed need to use reflect deep copy.

[2016-10-12 03:09] liggitt commented on #29660
correct, you need to pass `--kubeconfig` to your kubelet, configured with either a trusted CA bundle to verify the API server's cert, or with `insecure-skip-tls-verify: true` to skip TLS verification (don't do this for any real setup)

[2016-10-12 03:19] #34517 closed

[2016-10-12 03:25] Random-Liu commented on #34040
@feiskyer @resouer Nice.
@xlgao-zju Thanks for your help!

[2016-10-12 03:30] liggitt commented on #22135
the kubeconfig used by the kubelet either needs to reference a trusted CA bundle to verify the API server's cert, or contain `insecure-skip-tls-verify: true` to skip TLS verification (don't do this for any real setup)

[2016-10-12 03:30] #22135 closed

[2016-10-12 03:31] #21283 closed

[2016-10-12 03:34] liggitt commented on #14701
the example kubeconfig in the description would send the user credentials if the server url was https. the basic auth and bearer token transports don't send credentials over http

[2016-10-12 03:36] liggitt commented on #14701
to summarize, start the kubelet with `--kubeconfig=kubelet.kubeconfig --api-servers=https://master:6443`

kubelet.kubeconfig:
[code]

[2016-10-12 03:36] #14701 closed

[2016-10-12 03:37] liggitt commented on #2895
`--client-ca-file` supports a cert bundle

[2016-10-12 03:37] #2895 closed

[2016-10-12 03:57] Pendoragon commented on #33222
Does this mean that If an application is critical, I should place it in `Burstable` class in terms of memory? e.g. In stead of setting request & limit memory as 2G/2G, I can raise the memory limit to 4G if the application is critical so that it can survive some memory spikes. Or can I make the statement that critical applications should be classified as `Burstable` rather than `Guaranteed` because

[2016-10-12 04:05] dhawal55 opened #34589 "Dynamic provisioning not working"
**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:
- **Cloud provider or hardware configuration**: `AWS`
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

**What happened**:
I've created a storage class `standard` and a pvc `my-claim` referring to the storage class:
[code]
[code]

However, the pvc remains in Pending state. When i view events,

[2016-10-12 04:16] xlgao-zju commented on #34040
I will try my best to get this job done. :)

[2016-10-12 04:17] mikekap opened #34590 "kube-dns returning the wrong IP"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kube-dns stale/wrong

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2016-10-12 04:38] ntquyen commented on #33192
I got the same issue with kubernetes 1.2.0, coreos 1122.2.0, docker 1.10.3 after I changed flanneld backend from `udp` to `host-gw` to improve network throughput and latency. Kubelet stop returning running containers after about 12 hours. Restarting kubelet seems to bring it back, but I'll keep eyes to see if the issue repeats.

[2016-10-12 04:47] bgrant0607 commented on #23211
@kargakis Yes, I imagined we would change the pod template back, as with manual rollback.

I could imagine an object reference in an event, but don't know where it would fit in a condition.

[2016-10-12 05:00] dhawal55 commented on #34589
The reason was my kube-controller-manager was crashing with OOM error. I increased the momory limit and things are working as expected.

[2016-10-12 05:00] #34589 closed

[2016-10-12 05:13] vishh commented on #33222
If a pod exceeds its requests, it becomes a highly likely candidate for OOM
kills or evictions. Using more than `request` is opportunistic and can lead
to container deaths.

If a pod is critical and cannot tolerate disruptions, I'd recommend setting
request ( and limits) to all its containers to the amount of memory and cpu
the respective containers will require at expected peak usage. Maybe give

[2016-10-12 05:32] foxish commented on #33727
@bprashanth Could the `preStop` hook be used to ensure that pods terminate in a safe manner, such as executing `nodetool decommission` or the equivalent for some workloads?

[2016-10-12 05:43] thockin commented on #33222
Vish and I are just going to disagree on CPU, but we agree on memory.

On Tue, Oct 11, 2016 at 10:13 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-10-12 05:49] ymqytw commented on #32398
cc: @lavalamp

[2016-10-12 06:15] bprashanth commented on #33727
preStop is take out of deletion grace, so yeah you can in theory use either of those and preferably use the more standard one (deletion grace). Some downsides of only having one "tear down" event were discussed here: https://github.com/kubernetes/kubernetes/issues/28706#issue-164615328

However this alone doesn't solve the problem that more than 1 pet shouldn't decom simultaneously.

[2016-10-12 06:15] ghodss commented on #23211
@bgrant0607 Automatically changing the pod template back in the case of a failed deployment breaks the declarative config model, doesn't it? Currently we continuously run kubectl apply across an entire git repo to sync kubernetes objects into the clusters, but this would just result in a fight between the deployment controller changing the spec and the applier trying to change it back.

@kargakis'

[2016-10-12 06:21] k8s-merge-robot opened #34591 "[k8s.io] Networking [k8s.io] Granular Checks should function for pod communication on a single node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-release-1.4/1210/

Failed: [k8s.io] Networking [k8s.io] Granular Checks should function for pod communication on a single node {Kubernetes e2e suite}

[code]

Previous issues for this test: #28827 #31867

[2016-10-12 06:26] asalkeld opened #34592 "kubectl set image has no unit tests"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
`set image`

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

As the subject says, there are no unit tests for "set image". This is partly due to the package that the cmd fakes are in. I'll post

[2016-10-12 06:29] thockin commented on #30819
Is the "works (kind of) in the face of version skew" worth the uncertainty
of which representation will be consumed?  Put another way, if they are
mutually exclusive, and the user converts the in-API object from alpha to
beta (thereby removing alpha), AND their kubelet doesn't understand beta
yet... it seems pretty obvious that it shouldn't work.  As opposed to the
user writing alpha and beta (whi

[2016-10-12 06:34] thockin commented on #28667
I agree that moving the CRI->CNI logic into a lib of its own probably makes
sense, but let's not prematurely factor it, please.

On Tue, Oct 11, 2016 at 5:18 PM, Pengfei Ni <notifications@github.com>
wrote:

[2016-10-12 06:41] thockin commented on #26637
Pagination is about the 1M etcd limit - at ~16 bytes to store an IPv4
address in JSON we will overflow that object after 32k-64k endpoints in the
best case, potentially much less in the worst case.  I know that feels like
a lot, but I'd rather not get surprised by this one.  This is not unique to
endpoints.

On Tue, Oct 11, 2016 at 1:07 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-10-12 06:46] roberthbailey commented on #33624
Ok, @mikedanese and @jlowdermilk helped get to the bottom of this (thanks!).

- The two tests are pinned to run against the latest stable release, which is currently 1.5.0-alpha.0 (we don't have any equivalently pinned tests for GCE btw).
- In GKE we are passing in a flag to turn on specific api groups gated by version. Beginning with 1.4.0 we enable the storage api group.
- It turns out that 1.4.

[2016-10-12 06:49] thockin commented on #17064
It's still unclear to me how to pass params we don't understand through to
Docker without knowing how to map those to docker's JSON API.

On Tue, Oct 11, 2016 at 11:37 AM, ravilr <notifications@github.com> wrote:

[2016-10-12 06:50] Pendoragon commented on #33222
So to put it another way, QoS class has little, if any, relevance to the importance of the application. What matters is how much guaranteed resource(request) it can safely use and how much resource it can opportunistically use(limit). Because it's not the QoS class that decides whether a pod should be evicted or killed, rather it's whether a pod exceeds its requested resource. From a user's PoV, I

[2016-10-12 07:05] ddysher commented on #33222
This only hold true for burstable QoS ?

We have users running quite a few apps on kubernetes and they are terrible at guesting request/limit; so they usually request large number of resource for important app which result in VERY bad utilization.  We are investigating a couple of solutions, like initial resource, autopilot kind of tooling. This really bites us.

[2016-10-12 07:06] wojtek-t commented on #26637
(Note that I don't object to changing scheduler and controller manager to use a different object for locking--endpoints was a weird choice IMO--but it is only adding a few feet onto the end of your runway.)

If you have lots of services then, yes. That said I don't think it's super urgent problem.

Pagination is about the 1M etcd limit

@xiang90 - do you have the same limit for size of value in et

[2016-10-12 07:31] jonaz opened #34594 "scheduler and controller-manager spamming logs with: "lock is held by <server> and has not yet expired""
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "lock is held by"  "has not yet expired"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
tested on 1.3.5

[code]

and 1.3.8 (upgraded today)

[code]

**Environment**:
-  Hardwa

[2016-10-12 07:36] roberthbailey commented on #34511
Run 6540 timed out but the following run succeeded.

[2016-10-12 07:37] roberthbailey commented on #34571
@matchstick can you find an appropriate owner?

[2016-10-12 07:44] piosz commented on #30507
@mksalawa is no longer working on this. Help wanted.

[2016-10-12 07:46] gitoverflow commented on #3476
@bgrant0607 @derekwaynecarr
Can I run multiple api-servers, who manage their clusters independently from the other api-servers and ensure that one a client from one api-server can't modify another cluster by prefix the etcd server?

Example:
2 clusters, managed by 2 api-servers (both secured with tls, clients only have to certs for their api-server, so they can't access the other api-servers)
etcd

[2016-10-12 07:50] bigwhite opened #34595 "kubernetes 1.4.1 release package file from storage.googleapis.com/kubernetes-release/release/v1.4.1 may have been broken"
**Kubernetes version** (use `kubectl version`):
` 1.4.1`

**Environment**:
- **Cloud provider or hardware configuration**:
 ` Ubuntu 14.04.4 LTS (GNU/Linux 3.19.0-70-generic x86_64)`

[code]

**What happened**:

[code]
**What you expected to happen**:

untar and unzip ok!

**How to reproduce it** (as minimally and precisely as possible):

execute command below:
`curl -sS https://get.k8s.io | bash`

[2016-10-12 08:02] nhlfr commented on #34590
Couldn't reproduce that on master - probably it needs some backport.

[2016-10-12 08:34] bigwhite commented on #34595
Sorry, it is probably the problem of the network of my cloud-provider.

[2016-10-12 08:34] #34595 closed

[2016-10-12 08:42] kargakis commented on #23211
@ghodss there are pros and cons to not changing the template.
Pros:
* More predictable behavior. Users won't be surprised to see their spec has changed. But this really depends on how we document what autoRollback is doing in case of a failure.

Cons:
* We break the assumption that the latest replica set is the active replica set, something that has bitten us in OpenShift.
* It will be much harder

[2016-10-12 08:48] fgrzadkowski commented on #34265
@jszczepkowski @wojtek-t

Clarifying questions:
* how do you access apiservers? do you have some load balancer in front of them?
* you mentioned "active apiserver". What do you mean?

The problem that you see with 415 errors is because in 1.3 we are using protocol buffers to communicate between kubelet and apiserver. You updated your master and the kubelet running was trying to register itself and

[2016-10-12 08:49] gmarek commented on #34580
This is still happening and blocking the build. @apelisse please treat this as a real P0.

[2016-10-12 08:51] wojtek-t commented on #32024
Another thing is when new predicates added, how to update the existing equivalence strategy correspondingly. // just a maintainance issue

Very good question. Let me throw some not fully baked idea.
We already know all the predicate function (there is a test that is checking if all of them are actually registered):
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm

[2016-10-12 08:51] fgrzadkowski commented on #473
Actually the web page is not up to date. There are still open question with regard to etcd not being a pet so that we can use managed-instances-groups and equivalents. It's not tested at all.

I think we should keep this issue opened.

[2016-10-12 08:56] mfojtik opened #34598 "We should use targeted watch a poll on the cache in deployment controller"
See https://github.com/kubernetes/kubernetes/pull/32487#discussion_r82785223 for details.

Basically, we need to replace the polling live resources with polling cache or use a watch instead.

[2016-10-12 08:59] resouer commented on #32024
Yes, what I am doing now is invalid the cache when node changed. I will send out a primitive PR so we can discuss there.

`And deciding if those filed changed need to use reflect deep copy.` I mean there will be many `reflect.DeepCopy()` in this part, is it allowed by convention?

[2016-10-12 09:15] DaspawnW opened #34599 "support of .pac files"
Is there a support for .pac files in kubelet?
We are behind a corporate proxy on aws and using flannel as docker network adapter.
To start kubelet we must specify the proxy settings and also specify no_proxy settings. But the flannel network uses an ip range for communication that is too big for no_proxy settings.
So healthz checks für skydns for example won't work correctly...

[2016-10-12 09:16] kevinz commented on #17470
docker 1.12 ipvs service is based on fwmark, no need for dummy ip.

[2016-10-12 09:18] vans88 opened #34600 "Build kubernetes for a new arch---mips6el"
I need build kubernetes for mips64el platform, when running "make release" command, I got the following errors, Any suggestions ?

[code]

[2016-10-12 09:40] pires commented on #3476
Interesting question. I know [etcd does support permissions per key](https://coreos.com/etcd/docs/latest/auth_api.html#example-workflow) but I've never seen if/how it's implemented with the API server?

/cc @philips as I'm pretty sure he's insight on this.

[2016-10-12 09:48] pires commented on #473
@kubernetes/sig-cluster-lifecycle is looking into integrating HA with `kubeadm` as we speak. Feel free to chime in. /cc @timothysc

[2016-10-12 09:56] soltysh commented on #34472
Looks like gce problem, etcd particularly. Not related to scheduled jobs in any way. Closing in favor of #34465.

[2016-10-12 09:56] #34472 closed

[2016-10-12 09:56] errordeveloper commented on #34101
I am looking at this right now. We have a way of reproducing it with https://github.com/davidkbainbridge/k8s-playground, where we have already applied a fix that makes kubelet pickup desride IP for pods in host network namespaces, however somehow `kubernetes` service IP still points to 10.0.2.15.

[2016-10-12 10:03] k82cn opened #34601 "Flake test : TestDeploymentController_dontSyncDeploymentsWithEmptyPodSelector"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report.

**Kubernetes version** (use `kubectl version`):
master

**Environment**:
- **Others**: CI envionment

**What happened**:

[code]

**How to reproduce it** (as minimally and precisely as possible):
Flake test on https://github.com/kubernetes/kubernetes/pull/33546 (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-lo

[2016-10-12 10:11] chenzhiwei commented on #34101
I encountered this issue too.

Adding --advertise-address when starting kube-apiserver solved this issue.

[2016-10-12 10:14] #33256 closed

[2016-10-12 10:16] vefimova commented on #26804
Hi, working on this one.

[2016-10-12 10:31] soltysh commented on #33968
It's https://github.com/kubernetes/kubernetes/issues/33212 Clayton was talking about.

[2016-10-12 10:32] errordeveloper commented on #34101
@chenzhiwei I've already started diving into the code, and you saved me time to realise how this part worked exactly, thank you so much! This looks like an easy fix for kubeadm, PR is coming shortly.

[2016-10-12 10:34] squeed commented on #28667
Right now, the node team is exploring to how to include network plugin invocation in-runtime (or shim) via the CRI API. The conclusion is that it's hard to predict if any nasty complexities (or needless leaky abstractions) will crop up without actually trying it.

In designing this API, it's also worth looking over any node-affecting proposals to the networking spec. The first ones that come to mi

[2016-10-12 10:44] lukaszo commented on #34601
I think it's a duplicate of already fixed #34547

[2016-10-12 10:45] wojtek-t commented on #32024
We generally don't want "reflect.DeepCopy". You can use api.Scheme.Copy (I think it is called that ) though.

[2016-10-12 10:49] wojtek-t commented on #34446
Any thoughts about it? The logs are still missing, e.g.:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1477/artifacts/?project=kubernetes-jenkins

[2016-10-12 10:50] zefciu commented on #32398
Taking a look

[2016-10-12 10:58] BoriszhangSec opened #34602 "DNS issues"
I deployed DNS, but I get the following results, when I delete the SVC, cannot be parsed,What should I do with a problem with this, and thank you
kubelet --version
Kubernetes v1.4.0+a16c0a7
![image](https://cloud.githubusercontent.com/assets/14834177/19307342/807dc300-90ac-11e6-9714-1836fa3385e8.png)

[2016-10-12 11:14] errordeveloper commented on #34101
Ok, so it turns out that this flag is not enough, we still have an issue reaching `kubernetes` service IP. The simplest solution to this is to run `kube-proxy` with `--proxy-mode=userspace`. To enable this, you can use `kubectl -n kube-system edit ds kube-proxy-amd64 && sudo kubectl -n kube-system delete pods -l name=kube-proxy-amd64`.

[2016-10-12 11:16] wojtek-t commented on #33653
OK - so we are already running more extensive performance tests using the new image.

So with the changes in 3.0.12 etcd release, and my PR #34435 that is already merged I would say is at least better than etcd2. I think that at least for now, we can close this issue.

[2016-10-12 11:16] wojtek-t commented on #33653
@xiang90 @hongchaodeng - thank for all the work here.

[2016-10-12 11:16] #33653 closed

[2016-10-12 11:25] piosz commented on #34547
This is still failing. Please take a look into #34580

[2016-10-12 11:26] piosz commented on #34580
cc @deads2k @kargakis

[2016-10-12 11:27] piosz commented on #34601
Closing in favor of #34580

[2016-10-12 11:27] #34601 closed

[2016-10-12 11:29] k8s-merge-robot opened #34604 "[k8s.io] KubeletManagedEtcHosts should test kubelet managed /etc/hosts file {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-release-1.4/1221/

Failed: [k8s.io] KubeletManagedEtcHosts should test kubelet managed /etc/hosts file {Kubernetes e2e suite}

[code]

Previous issues for this test: #27023

[2016-10-12 11:54] errordeveloper commented on #34411
The workaround is to pause `kubeadm` with `^Z` for a minute or so.
[code]

[2016-10-12 12:00] timbunce commented on #21397
Wishlist: Could the DNS name be templated? So rather than mandate one particular format, like `[service-name]-[namespace]-[hosted-zone].[zone]`, people could use a template that suits their needs. For example `{{.service}}-{{.namespace}}-{{.clustername}}`.

[2016-10-12 12:08] deads2k commented on #34580
opened https://github.com/kubernetes/kubernetes/pull/34608

[2016-10-12 12:21] wojtek-t commented on #34114
Configuration of this suite was broken (and I killed it manually). These failures were expected.

[2016-10-12 12:21] #34114 closed

[2016-10-12 12:37] avkonst commented on #34101
I am starting kubeadm with --advertise-address option:
kubeadm init --api-advertise-addresses=$master_address
where my $master_address is not NAT interface. It still not enough to remove this issue.

[2016-10-12 12:39] avkonst commented on #34101
"Ok, so it turns out that this flag is not enough, we still have an issue reaching kubernetes service IP. The simplest solution to this is to run kube-proxy with --proxy-mode=userspace. To enable this, you can use kubectl -n kube-system edit ds kube-proxy-amd64 && kubectl -n kube-system delete pods -l name=kube-proxy-amd64."

@errordeveloper Could you, please, explain what flag are you setting, to

[2016-10-12 12:43] Calpicow commented on #11816
This must mean that there is currently no method to have a secure setup, aside from blocking the port, which locks access to logs/exec. Anything inside the node network (including containers) would be able to run arbitrary commands by accessing the port.

[2016-10-12 12:56] errordeveloper commented on #34101
@avkonst see https://github.com/kubernetes/kubernetes/pull/34607.

Also, you can do this for now:
[code]

[2016-10-12 12:57] errordeveloper commented on #34101
We are going to fix this shortly. If you can hop on Slack, I'd be happy to help.

[2016-10-12 12:59] #34580 closed

[2016-10-12 13:08] Stono commented on #29070
@erictune do we have any idea when it'll be out of alpha?  the dynamic pv claims per pod instance solves so many problems for us but we're on GCE who don't support alpha features in anything other than 30day test environments

[2016-10-12 13:14] kargakis commented on #29197
Closing to force the bot to reopen since the code has changed slightly since the last failure.

[2016-10-12 13:14] #29197 closed

[2016-10-12 13:23] fearphage commented on #20365
Doesn't fix this issue exactly, but I've found that you can easily build only `linux/amd64` if you set `KUBE_FASTBUILD=true`.

https://github.com/kubernetes/kubernetes/blob/bd3c11df8abb1554b24287821edfec76108b9d91/hack/lib/golang.sh#L42-L57

[2016-10-12 13:32] smarterclayton commented on #33843
A much simpler option might be a "scale protection", like the "delete
protection" we discussed previously.  An annotation which clients respect
as "the caller suggested not scaling this".  That makes this less of an API
problem than a UX problem.

On Tue, Oct 11, 2016 at 7:25 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-10-12 13:34] smarterclayton commented on #30656
I thought `su -l` didn't copy env vars?  You have to explicitly do the copy
yourself or use a different command.

On Tue, Oct 11, 2016 at 5:26 PM, Michael Elsdörfer <notifications@github.com

[2016-10-12 13:34] dkerwin commented on #34447
Some logs from the controller manager:

[code]

[2016-10-12 13:54] #20760 closed

[2016-10-12 14:04] obeattie commented on #26637
Guys, I'm sorry to jump in here with little context, but we need **some** solution to this issue in the short term. This is seriously impacting the performance of our nodes in production, and from my perspective it would make sense to add a fix that addresses the immediate issue now (probably in kube-proxy), and then separately make the endpoints API better in the medium term. It would be a shame

[2016-10-12 14:39] luxas commented on #34600
Please read though: https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/multi-platform.md

You should run `make WHAT=cmd/kube-apiserver,cmd/kubelet,etc...` when running **on** the mips platform. `make release` is intended only for amd64 releases and full ci builds

However, it's possible to add support for cross-compiling mips64el binaries from amd64 directly I think

[2016-10-12 14:42] luxas commented on #34600
@vans88 I would also be interested in the use-case you have in mind

[2016-10-12 14:45] kamigerami opened #34613 "404 Not Found on links referring to /docs/user-guide/kubectl/kubectl/"
link referring to the kubectl command-line tool found

[prereqs](http://kubernetes.io/docs/user-guide/prereqs/)
[static-pods](http://kubernetes.io/docs/admin/static-pods/)
[replicasets](http://kubernetes.io/docs/user-guide/federation/replicasets/)
[secrets](http://kubernetes.io/docs/user-guide/federation/secrets/)
[replicasets](http://kubernetes.io/docs/user-guide/replicasets/)

are wrong and poin

[2016-10-12 14:47] mikedanese commented on #26637
Above @bprashanth volunteered to look into the kube-proxy performance issue.

[2016-10-12 14:48] mikedanese commented on #11816
Can you send a PR?

[2016-10-12 14:49] errordeveloper commented on #34101
As this thread is getting quite noisy, here is a recap.

First, find out what IP address you want to use on the master, it's probably the one on the second network interface. For this example I'll use `IP="172.42.42.1"`.

Next, run `kubeadm init --api-advertise-addresses=$IP`.

Now, you want to append `--advertise-address` to `kube-apiserver` in the static pod manifest, you can do it like this:
[c

[2016-10-12 14:51] errordeveloper commented on #34101
I'm working on docs for this. Also, @davidkbainbridge has provided a Vagrant+Ansible implementation, and latest fixes are in [my fork](https://github.com/errordeveloper/kubernetes-vagrant-ansible-ubuntu).

[2016-10-12 14:57] luxas commented on #34324
I'd say feel free to :)
cc @kubernetes/sig-cluster-lifecycle

[2016-10-12 14:57] kamigerami commented on #34613
PR here #1441

[2016-10-12 14:58] vishh commented on #33222
QoS classes are tied to `requests` and `limits` today and so QoS classes do
determine which pods get evicted under resource pressure on the nodes.

In the future, we hope to deliver pressure signals to k8s native apps that
can opportunistically use more resources and dial down their usage when
there is resource pressure (primarily for memory)

On Tue, Oct 11, 2016 at 11:51 PM, Pendoragon <notifica

[2016-10-12 14:58] euank commented on #28667
I think sharing kubenet and cni-related code might not be premature, since for the sake of backwards compatibility I assume at least docker and rkt will want to have implementations that are functionally identical to the existing code.

@squeed Wouldn't that matrix exist in either scenario? The runtimes have a natural desire to be compatible so switching is painless, but they might be forced to be

[2016-10-12 15:07] deads2k commented on #11816
@liggitt has started implementing this here: https://github.com/kubernetes/kubernetes/pull/34381

[2016-10-12 15:09] kseifriedredhat commented on #34517
Please use CVE-2016-7075  for this issue.

[2016-10-12 15:10] alfirin opened #34616 "[DaemonSet] [Ingress] Still in beta"
_\_ Feature Request **

**Kubernetes version**

[code]

**What happened**:
We want to use Kubernetes for our new production set-up.
However we need the ingress controller and the DaemonSet.
But they are still in beta.

I filled an issue for the `nginx-ingress-controller`: https://github.com/kubernetes/contrib/issues/1873

**What you expected to happen**:
When do you plan to make the DaemonSet / In

[2016-10-12 15:20] AdoHe commented on #26804
@vefimova thanks, just go ahead and if you have any problem, just comment here.

[2016-10-12 15:33] erictune commented on #30819
How about we don't ever use annotations for status.  We just put them directly into the expected final place in status.

A combination of (1) only filling in alpha/beta status fields in when an alpha or beta spec is used, and (2) documenting which status fields are provisional seems like sufficient communication to users.

The current behavior is that a kubelet has permission to updated any annota

[2016-10-12 15:37] DongyiYang commented on #9125
@thockin any suggestion?

[2016-10-12 15:42] bgrant0607 commented on #23211
@ghodss Yes, it would deliberately break the declarative model. I'd assume that a declarative user would want to detect lack of progress and then rollback via version-control rollback and re-apply.

Anyway, I don't think we could even get to the reviews for this until next year.

[2016-10-12 15:59] mcortinas opened #34621 "learning cassandra on gcloud with k8s, some problem with petset"
Hi,

I'm newbie in k8s and gcloud, and I just starting with cassandra example https://github.com/kubernetes/kubernetes/blob/master/examples/storage/cassandra/cassandra-petset.yaml, I only set the k8s service but I have some problem with the petset.

My environ:
`Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeStat

[2016-10-12 16:01] errordeveloper commented on #34324
I think you might be able to solve this with `kubeadm init --token=...`. If you want to be more specific about the IP address as well, you can pass `--api-advertise-addresses` as well. We have advance usage docs here now: http://kubernetes.io/docs/admin/kubeadm/.

[2016-10-12 16:06] smarterclayton commented on #26637
How about a configmap?

[2016-10-12 16:08] luxas commented on #34324
I think the use case was to let kubeadm generate a random token and be able to fetch it later, but I don't know if it's worthwhile... May be easier to just specify a random token to kubeadm init directly

[2016-10-12 16:10] koombea-rops commented on #29735
I'm seeing this now, on kube 1.3.6 on AWS. The cluster ran fine for two weeks, and then problem started overnight, and shows no indication of fixing itself (12+ hours later).

Our deploy process is a series of `kubectl apply -f`, run from a bash script during CI

[2016-10-12 16:12] arohner commented on #29735
We just started seeing this as well. kube 1.3.6 on AWS.

The cluster was running fine for two weeks, then the problem started on the last CI build yesterday, and shows no signs of fixing itself. Our deploy process is a series of `kubectl apply -f` commands called from a bash script during CI.

[2016-10-12 16:17] adarshaj commented on #30656
@miracle2k - Have you tried `su -m -l u22055`? `-m` is supposed to preserve environment variables.

[2016-10-12 16:20] Random-Liu commented on #33189
A new test introduced is failing
[code]

[2016-10-12 16:31] #32981 closed

[2016-10-12 16:32] maisem commented on #32981
This doesn't seem to be occurring anymore, the failures seem similar to #27703.

[2016-10-12 16:33] fvigotti commented on #34015
After 1 week and half of my hairs , the problem is
# tcp_tw_recycle= 1
IT MUST BE  0 !!

at least on flannel + vxlan , I think that important kernel params should be specified somewhere

[2016-10-12 16:33] #34015 closed

[2016-10-12 16:34] mbohlool commented on #30632
bumping down priority. I couldn't find anything yet, but it didn't happen for 12 days. I will keep looking.

[2016-10-12 16:34] fvigotti commented on #33945
After 1 week and half of my hairs , the problem is
# tcp_tw_recycle= 1   **error*
IT MUST BE  0 !!
# tcp_tw_recycle= 0  **works*

at least on flannel + vxlan , I think that important kernel params should be specified somewhere
there are also famous posts on the web that set this parameter wrong!!! ie : (http://machinezone.github.io/research/networking-solutions-for-kubernetes/)

[2016-10-12 16:34] #33945 closed

[2016-10-12 16:36] mbohlool commented on #13414
Swagger 2.0/OpenAPI spec feature is completed. There are always small improvements that I will do as part of other tasks.

[2016-10-12 16:36] #13414 closed

[2016-10-12 16:42] k8s-merge-robot opened #34622 "kubernetes-kubemark-gce-scale: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1473/

Run so broken it didn't make JUnit output!

[2016-10-12 16:42] peterkellyonline commented on #34324
Yes, the use case letting init generate the random token but then be able
to fetch that token later, outside of the print out from the successful run
of init on master node.

It is straight forward to get it through the master API, then decode the
value to JSON and get the token that way, but I expected to be able to get
this easily from kubeadm cli.

If it's not worthwhile and the advice is to ge

[2016-10-12 16:43] k8s-merge-robot opened #34623 "[k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29378/kubernetes-pull-build-test-e2e-gce/62852/

Failed: [k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #29378.

[2016-10-12 16:46] Pendoragon commented on #33222
@vishh Sorry, maybe I didn't convey it clearly. What I meant by "Because it's not the QoS class that decides whether a pod should be evicted or killed" is that request is guaranteed resource, being in `Guaranteed` class does not buy you extra level of guarantee on the requested resource than `Burstable`. e.g. For a `Guaranteed` pod A with 2G/2G (request/limit) and a `Burstable` pod B with 2G/4G ar

[2016-10-12 16:48] mbohlool commented on #4700
Maps are represented correctly in swagger 2.0/OpenAPI now.

[2016-10-12 16:48] #4700 closed

[2016-10-12 16:53] lavalamp commented on #34508
Added this to the agenda for today's API Machinery SIG.

[2016-10-12 16:55] errordeveloper commented on #33729
@piersharding

Yes, you are supposed to start kubelet. You can do it before `kubeadm init` or while its running. It's not in the docs for Ubuntu because on Ubuntu the kubelet package is supposed to start it, I'm not sure why that didn't work for you...

Yes, DNS won't start until you install a network, see `kubectl apply -f https://git.io/weave-kube` is in the docs. We are going to make it a littl

[2016-10-12 16:55] bprashanth commented on #26637
@obeattie I was waiting for someone to complain (https://github.com/kubernetes/kubernetes/issues/26637#issuecomment-252660886). Can you clarify what exactly is the issue? (https://github.com/kubernetes/kubernetes/issues/26637#issuecomment-252393346) just cpu or are you running something else that needs the iptables lock? kube-proxy should already have a request: 100m, meaning that's what it gets i

[2016-10-12 16:57] tnine opened #34625 "Validation Enhancement: type:LoadBalancer with firewall rules does not open node ports on minions. Service functions from within pods."
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"clean", BuildDate:"2016-09-26T18:16:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d96

[2016-10-12 17:00] david-mcmahon opened #34626 "make release fails at arm hyperkube"
This is blocking the master branch alpha releases.

cc @saad-ali (1.5 czar), @roberthbailey, @mikedanese @kubernetes/test-infra-maintainers

[code]

[2016-10-12 17:01] bprashanth opened #34627 "master leader election shouldn't consume O(n) watch bandwidth"
Currently we store the leader lock for master components like the scheduler in the corresponding endpoints object. This has the undesirable side effect of sending a notification down the kube-proxy <-> master (and kube-dns <-> master) watch every second. We can probably avoid this by not overloading endnpoints as a lock api.

Forked from https://github.com/kubernetes/kubernetes/issues/26637
@kuber

[2016-10-12 17:02] bprashanth commented on #26637
forked, this issue can be about node local implications of spammy watch notifications for kube-proxy https://github.com/kubernetes/kubernetes/issues/34627

[2016-10-12 17:06] errordeveloper commented on #33729
@Roshanson

I'm not sure what you are saying exactly...

@tianyouhui @eparhei it's hard to tell what exactly is the problem in your case, could you provide more info?

@YorkHe

Thank you for the suggestion, we have multiple issues and in-flight PRs to tackle this.

@arpat we haven't documented Debian install for the reason of memory cgroup not working, which is a more general Kubernetes/Debian iss

[2016-10-12 17:09] errordeveloper commented on #33729
I'm sorry to hear folks are still having this issue, I hope we can get this fixed very soon. It's recommended to use a fresh OS install, I think that's quite clear in the docs. If you have a fresh install, you should have issues with ports or other local config issues. I suspect that not having kubelet start properly is somehow to do with local config...

[2016-10-12 17:15] MrHohn commented on #34602
Can you explain "when I delete the SVC"? Do you mean delete the "mysql-service" service?

[2016-10-12 17:15] #24225 closed

[2016-10-12 17:17] bprashanth commented on #29070
GCE supports it, GKE doesn't. I think the target is beta in 1.5 (track https://github.com/kubernetes/kubernetes/issues/28718, not all the issues mentioned there are blockers).

[2016-10-12 17:19] Stono commented on #29070
Apologies I meant GKE.  Busy day and frantically typing ! I will follow the issue.

Many thanks

[2016-10-12 17:21] spxtr commented on #34623
Assigning to @Crassirostris because of #33278

[2016-10-12 17:29] dashpole commented on #33382
Pods may create volumes (emptyDir volumes, for example), that exist in a filesystem shared across pods.  These volumes do not currently track inode usage.  I plan to add this functionality.
Progress:

- [ ] Add a test for this to the inode eviction end to end node test (test/e2e_node/inode_eviction_test.go)

- [ ] Add to the kubernetes summary api and volume stat calculator to introduce monitoring

[2016-10-12 17:33] saad-ali commented on #33624
Next alpha release is currently blocked on https://github.com/kubernetes/kubernetes/issues/34626

[2016-10-12 17:34] yujuhong commented on #33189
Uh...there are some issues with our implementation, but the test is fundamentally wrong by not setting restart policy to "never"

[2016-10-12 17:39] deads2k commented on #34508
A couple questions:
 1. Am I correct in assuming that we have field level versions that are distinct for each API GroupVersion since that's the finest granularity where they are used and that would allow different groups to proceed at their own pace.  Then it seems like I'd want different minor versions per-API GroupVersion so they can patch and pick changes separately.
 2. Will we use this inform

[2016-10-12 17:40] Random-Liu commented on #33189
Hm...The test is all green in other suites. Why does it success?

[2016-10-12 17:50] derekwaynecarr opened #34629 "Service.Spec.Type should be immutable"
Today we allow a Service.Spec.Type to change post creation.

We even test to allow it as a valid change:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation_test.go#L6404

I think supporting this ability complicates the service controller, and causes the need to invoke cloud api providers to ensure a load balancer does or does not exist for services that were never a

[2016-10-12 17:51] aldenks commented on #29903
Hello, thanks for all your hard work kubernetes team! I'm having very similar problems (`Warning FailedSync Error syncing pod, skipping: timeout expired waiting for volumes to attach/mount for pod...`). This happens fairly often because we're using preemptible instances with GKE. I can usually "fix" it by manually deleting the pod and letting the deployment recreate it.

I see that some of the com

[2016-10-12 17:52] Random-Liu commented on #33189
OK. That is because the function [`waitForPodSuccessInNamespaceTimeout`](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L1468-L1487) is also fundamentally wrong.

We discussed this before, but I didn't realize the current logic is wrong.
`(Container Termianted with ExitCode == 0) != (Pod Success)`

I'll send a PR to fix the test and the framework, and fix the docke

[2016-10-12 17:56] foxish commented on #34377
A minimum checklist items that need to be completed in order to get a first cut merged upstream.

- [ ] spark-submit must generate a unique spark job ID that can be used to kill/check status of a spark job.
- [ ] support for spark distribution to be baked into docker image.
- [ ] support for any remaining commandline options.
- [ ] spark code style guide compliance
- [ ] testing against a non-triv

[2016-10-12 18:00] jingxu97 commented on #29903
Hi @aldenks, thank you for your information. As now, quite some PR are already merged in 1.4.1, but still a couple of important ones are still pending such as #33616. It should be in very soon.
For your case, could you please share more details about the issue so that I can double check whether our fixes cover your issue. It would be very helpful if you could let us know in what cases you notice t

[2016-10-12 18:06] bgrant0607 commented on #30819
@erictune I'm fine with that.

[2016-10-12 18:14] Crassirostris commented on #34623
There are no entries in the GCL, probably fluentd container failed

[2016-10-12 18:15] Random-Liu commented on #34623
See https://github.com/kubernetes/kubernetes/issues/33189#issuecomment-253282725.

[2016-10-12 18:18] sandys commented on #34311
can you guys look at bug #34307 simultaneously ? we would like to have control over this (for policy reasons), but it doesnt seem to work by changing json or whatever.

it would be awesome if you could give a kubeadm commandline flag to make it happen in a nicer way (and take care of restarting api server, etc)

[2016-10-12 18:19] kargakis commented on #26818
I am not sure this is a bug. The events generated by etcd will end up being compressed when they are coming fast through the watch so the deployment controller observes state and not separate mutations. If you want your separate mutations to be observed, you need to poll d.status.observedGeneration between mutations ie. d.generation == d.status.observedGeneration means that the controller has obse

[2016-10-12 18:24] mikedanese commented on #34626
Looks like amd64 works and arm is failing. @luxas

[2016-10-12 18:26] david-mcmahon commented on #34626
@mikedanese indeed.  Fixed title.

[2016-10-12 18:29] yujuhong commented on #34623
@Crassirostris the test should not wait for a pod with RestartPolicy == Always to succeed. Kubelet would be busy restarting the container, causing all kinds of race condition. This also cause https://k8s-testgrid.appspot.com/google-gce#gci-gce-cri to consistently fail.

[2016-10-12 18:29] kargakis commented on #29735
https://github.com/kubernetes/kubernetes/pull/28684 should fix the hotloop by using a rate limiter in the deployment controller. Seems like it was included in 1.3.7. Also the "already exists" shouldn't be treated as an error but instead we should return the replica set from the cache at this point (since it already exists). I was handling this error in a recent PR of mine, will update this issue b

[2016-10-12 18:35] foxish commented on #31264
Handing off to Jess. Based on discussions, the linters we definitely want to port are:

- [ ] {"md-links", updateLinks}: UpdateLinks assumes lines has links in markdown syntax, and verifies that any relative links actually point to files that exist.
- [ ] {"kubectl-dash-f", updateKubectlFileTargets}: Looks for lines that have kubectl commands with -f flags and files that don't exist.
- [ ]  {"anal

[2016-10-12 18:38] Crassirostris commented on #34623
Yeah, I see, thank you guys very much for your help investigating this. Actually, this label was there and got lost in the process or review.

@Random-Liu said he will fix it, thanks him for that!

[2016-10-12 18:39] errordeveloper commented on #34311
@sandys #33638 will allow you to set any ports you prefer, It's like that we might change the defaults and provide flags in one go.

[2016-10-12 18:39] jessfraz commented on #31264
thanks!

[2016-10-12 18:40] errordeveloper commented on #34311
@guybrush yes, that should be enough. We are planning to make this change and add a flag also, and release it along with other bug fixes as a snapshot build.

[2016-10-12 18:52] zapman449 opened #34633 "kubectl should set non-zero exit code on failures."
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubectl exit codes
kubectl return codes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version** (use `kubectl version`): 1.3.4

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /e

[2016-10-12 19:00] rmmh commented on #34446
All the files in _artifacts are being properly uploaded. Something else is failing to copy the logs onto the node.

In [gce-scale/1477](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1477?log)

    SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSDumping master and node logs to /workspace/_artifacts
    Copying 'kern kube-apiserver kube-scheduler kube-controller-man

[2016-10-12 19:10] erikerlandson commented on #34377
@foxish although it may not be on a critical path from upstream's POV, I think it is important to have a story around multiple applications sharing and/or contending for resources.  For example, by respecting namespaces and their limits, or allowing executors to be re-assigned to new jobs to maintain fair sharing of executor resources (i.e. preemption of jobs on executors), or a combination of tho

[2016-10-12 19:16] #34036 closed

[2016-10-12 19:16] sandys commented on #34311
@errordeveloper thank you! but in context of this bug, i meant that changing the json is not working for several people (including me). we are hitting issue #34307 . Will this bug (34311) and 34307 be fixed together ?

[2016-10-12 19:29] mooperd commented on #34411
The workaround suggested by @errordeveloper doesn't work for me. It just sits at kubeadm init indefinitely.

[2016-10-12 19:30] zhangandyx opened #34635 "Race condition when building 1.4.0 from source in Yosemite"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
1.4.0
## yosemite

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG R

[2016-10-12 19:31] pmorie opened #34636 "Unit test flake: TestDeploymentController_dontSyncDeploymentsWithEmptyPodSelector"
[code]

As seen in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/34271/kubernetes-pull-test-unit-integration/48640/

[2016-10-12 19:35] luxas commented on #34626
I haven't touched that code for a while, so has something in your build env changed?

Try invoking the `make build` command manually...
I can't say anything without the output of the make command for the hyperkube image

[2016-10-12 19:39] rapenchukd commented on #16508
I just saw this Issue. And cannot express in enough ways how against this I am, though I am probably a little late in the game to voice my concern. One of the major reasons we were able to implement Kubernetes in our company was because of the granularity in security we gain by the simple extraction of unused functionality at the system level. Generally software should be implemented with the mini

[2016-10-12 19:41] errordeveloper commented on #16508
No, you aren't! User's voice is most important for us.

On Wed, 12 Oct 2016 at 20:39 Drew Rapenchuk <notifications@github.com>
wrote:

[2016-10-12 19:43] jbeda commented on #16508
Agreed -- thanks for your perspective @rapenchukd

[2016-10-12 19:46] ingvagabund opened #34637 "replace restclient with clientset in test/integration/scheduler/scheduler_test.go"
``podScheduled`` defined in ``scheduler_test.go`` is worth refactoring to accept clientset instead of rest client. Affecting ``test/integration/scheduler/scheduler_test.go`` and ``test/integration/scheduler/scheduler_test.go``

[2016-10-12 19:46] emsearcy commented on #27796
It looks like @euank just needs to click "Contribute as an Employee" and will be automatically associated with the CoreOS CCLA.

[2016-10-12 19:47] miry commented on #34101
@tedstirm @errordeveloper  can you help me with similar problem, I have multiple eth*. And I am using `10.136.0.0/16` for private  network, but `eth1`. For now I fixed issue with weave via open port 443 for eth0 and eth1. But found next issue:

I could not access to the instances from the cluster(example to redis that hosts on separate instance). I found that weave uses `10.0.0.0/8` network. And I

[2016-10-12 19:49] smarterclayton commented on #34629
It also complicates quota and admission control.

[2016-10-12 19:49] thaniyarasu commented on #34541
i found issue. AWS LB is not getting created because of it have reached "Exceeded quota of account". (LB default size is 20 in any region). now i have create a support case to increase limit.
so closing this issue.

[2016-10-12 19:49] #34541 closed

[2016-10-12 19:52] miry commented on #34031
fixed via solution in comments: https://github.com/kubernetes/kubernetes/issues/34101

[2016-10-12 19:52] #34031 closed

[2016-10-12 19:54] tedstirm commented on #34101
@errordeveloper I didn't have to update the `--proxy-mode` for my kube-proxy.  All I had to do was make sure the `--advertise-address` flag for the Kube API Server was set to a value listed in the `--api-advertise-addresses` ? I'm just curious as to why you need to set `--proxy-mode` in your setup and I don't?  Any ideas? I looked over the [fork](https://github.com/errordeveloper/kubernetes-vagran

[2016-10-12 19:56] wojtek-t commented on #34446
I'm not aware of any other changes.
@gmarek - we should try to debug it tomorrow.

[2016-10-12 19:57] pires commented on #34324
I believe this is something @dgoodwin is working on.

[2016-10-12 20:01] ingvagabund opened #34640 "Replace NewListWatchFromClient with corresponding clientset lister and watcher"
Currently, the NewListWatchFromClient expects restclient (resp. implementation of `Getter` interface) for given resource. When replacing `unversion.Client` with `ClientSet`, the restclient is replaced with `Client.Core().GetRESTClient()` or similar string depending on resource version. As each clientset type has its own List and Watch method it make sense to replace the NewListWatchFromClient with

[2016-10-12 20:03] danwinship opened #34641 "NetworkPolicy is broken because of mandatory optional fields"
NetworkPolicy got committed with two fields declared incorrectly because of issues with code generation. Specifically, NetworkPolicyIngressRule.Ports and NetworkPolicyIngressRule.From are supposed to be pointers to slices, so that we can differentiate "unset" from "set but empty", but in 1.3 they are slices instead (meaning nil and [] are the same thing).
#25835 (problems with protobuf gen) is fix