[2018-01-29 01:35] xingzhou commented on #54514
forgot to update the ticket. I can reproduce the issue in my env and have prepared a PR for both ConfigMap and Secret, is taking testings and will submit a PR within this week

[2018-01-29 01:43] feiskyer commented on #56751
There are also a few other plugins support windows

- [flannel](https://github.com/coreos/flannel/releases/tag/v0.10.0)
- [Azure CNI](https://github.com/Azure/azure-container-networking)
- [overlay and host-gw are WIP](https://github.com/containernetworking/plugins/pull/85)

[2018-01-29 01:45] feiskyer commented on #44705
/close

[2018-01-29 01:45] #44705 closed

[2018-01-29 01:46] feiskyer commented on #44705
closed based on https://github.com/kubernetes/kubernetes/issues/44705#issuecomment-361113428

[2018-01-29 02:09] balajismaniam commented on #28315
+1. This issue is covered by https://github.com/kubernetes/kubernetes/issues/10782 and https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler.

[2018-01-29 02:16] Qix- commented on #35335
/remove-lifecycle stale

This is still relevant.

[2018-01-29 02:48] hzxuzhonghu opened #58936 "We should pass listener to SecureServingOptions in test"
As we have add `Listener` to `SecureServingOptions `, we should stop using function like `FindFreeLocalPort` in test cases and create a listener and pass to `SecureServingOptions `.

Because `FindFreeLocalPort` just create a tcp listener and get its port and close it. By this we can not make sure the port not be used between this listener close and the kube-apiserver listener start.

[2018-01-29 02:49] hzxuzhonghu commented on #58936
/kind improvement

[2018-01-29 02:49] hzxuzhonghu commented on #58936
/cc @sttts
/assign

[2018-01-29 02:49] hzxuzhonghu commented on #58936
/kind api-machinery

[2018-01-29 02:50] hzxuzhonghu commented on #58936
/sig api-machinery

[2018-01-29 02:51] hzxuzhonghu commented on #58936
/cc @caesarxuchao @cheftako @liggitt

[2018-01-29 02:59] liggitt commented on #58936
Probably a good idea. There are a couple flakes floating around where an integration test gets an "already in use" error

[2018-01-29 03:03] hzxuzhonghu commented on #58936
Ok, I can fix it with our guys @hanxiaoshuai.

[2018-01-29 03:23] umerpk commented on #19825
I am having issue where my java process is saying " abnormal termination with error code 137 " , Process destroyed without shutdown hock

how will I get jvm crash report ?

[2018-01-29 04:06] hzxuzhonghu commented on #58936
create #58937 to fix k/k integration test.

[2018-01-29 04:08] hzxuzhonghu commented on #58936
@hanxiaoshuai Please fix other cases in apiextentions-apiserver.

[2018-01-29 04:09] max8899 commented on #56610
@sibtainabbas10 If you are using aws, replace cloud-config with IAM role will solve the problem, I don't think my config is in bad format, I think the official doc needs to be more specific.

[2018-01-29 04:16] Dieken commented on #58587
I used Ansible to patch /etc/kubernetes/manifests/kube-apiserver.yaml after the cluster was setup, an ugly workaround :-(

[2018-01-29 04:26] fejta-bot opened #58938 "Failure cluster [5aa507...] failed 103 builds, 6 jobs, and 1 tests over 1 days"
### Failure cluster [5aa507ae7869db395f67](https://go.k8s.io/triage#5aa507ae7869db395f67)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    6 jobs failed,    103 builds failed.
Failure stats cover 1 day time range '28 Jan 2018 02:23 UTC' to '29 Jan 2018 02:23 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 6 |

##### Top fa

[2018-01-29 04:46] Inspiravetion commented on #33766
Some help on this would be great...even mitigation steps?...I can confirm that this is still happening today

[2018-01-29 04:51] sibtainabbas10 commented on #56610
@max8899 Hi, I would really appreciate it if you could share you cloud-config file or whatever config you made to make it work. Thanks.

[2018-01-29 06:00] k82cn commented on #58620
api server?

[2018-01-29 06:11] g1001p commented on #58620
The leader is k8s controller. There are 3 api servera and all of them communicated with controller leader through load balancer.

[2018-01-29 07:08] hanxiaoshuai commented on #58936
@hzxuzhonghu OK

[2018-01-29 07:33] maxkondr commented on #58882
I have finally found the root of the issue:
I have missed ClusterRoleBinding `kubeadm:node-proxier`:
[code]

The only difference that this RBAC has in comparing with `system:node-proxier` is: `kubeadm:node-proxier` grants access for ServiceAccount but not User (I missed this point and thought that kubeadm creates duplicate).
Closing.

[2018-01-29 07:33] #58882 closed

[2018-01-29 07:38] wojtek-t commented on #8229
The watch cache in apiserver is enabled by default since 1.2 or sth like that.

[2018-01-29 07:40] max8899 commented on #56610
@sibtainabbas10

You can assign a role with this policy to your EC2 instances:

{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "*",
            "Resource": "*"
        }
    ]
}

[2018-01-29 07:46] porridge commented on #58709
This test finally passed for me in #54294, does it mean it's fixed? If so, then perhaps it should be retried on all PRs in which it failed in the last weeks?

[2018-01-29 07:56] porridge opened #58942 "Intermittent GCE control plane issues in us-central1 when creating small-scale clusters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-scalability-bugs
/priority failing-test

**What happened**:
A couple of small-scale tests failed:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/10275
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/10281

The form

[2018-01-29 07:57] dixudx commented on #58922
@shadycuz  Any detailed event log on the deleting?

[2018-01-29 08:03] #32775 closed

[2018-01-29 08:12] dixudx commented on #58921
@xpoveda Seems you've got multiple nics for the node.

Please try `kubeadm init --apiserver-advertise-address=10.0.0.10`.

[2018-01-29 08:17] porridge commented on #58280
More references FTR:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-correctness/39
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-correctness/40

[2018-01-29 08:18] lcfang opened #58946 "Does someone else have errors running 'make test-e2e-node'?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when I run `make test-e2e-node`, some errors occur:
[code]
Does someone else have the same errors? I wonder what env-cofig I should set.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version

[2018-01-29 08:20] porridge commented on #58942
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-correctness/45

[2018-01-29 08:26] porridge opened #58948 "Kubelet crashlooping with "creating CSR forbidden: User "kubelet" Unknown""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scalability-bugs
/priority failing-test
umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

**What happened**:

In all these cases the cluster setup timed out waiting for all nodes to become available in the cluster, after they were created on GCE:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkin

[2018-01-29 08:29] dixudx commented on #58946
I0129 16:03:29.901833   82425 image_list.go:128] Pre-pulling images with docker [ busybox gcr.io/google-containers/e2e-net-amd64:1.0 gcr.io/google-containers/nginx-slim-amd64:0.20 gcr.io/google-containers/pause-amd64:3.1 gcr.io/google-containers/stress:v1 gcr.io/google-containers/volume-gluster:0.2 gcr.io/google-containers/volume-nfs:0.8 gcr.io/google_containers/busybox@sha256:4bdd623e848417d96127

[2018-01-29 08:30] porridge commented on #58948
@shyamjvs have you looked at this last week? seems to be pretty widespread

[2018-01-29 08:46] icewheel commented on #44275
Same issue here. Installed the latest version today.
[code]
http://localhost:8001/ list all the api endpoint and is working fine. But the dashboard needs authentication but there is no password and username.

[2018-01-29 08:48] jcxian opened #58950 "how can i build images of hyperkube"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:
I want to build hyperkube image. How can i get the Dockerfile of hyperkube
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
I want to compile the mirrors in the mips64el architecture
**Environment**:
- Kubernetes version (use `kubectl version`):

[2018-01-29 08:55] hzxuzhonghu opened #58951 "Should deprecate kubeapiserver insecure http schema"
Currently as authentication and authorization are both standard config for all clusters, the kubeapiserver insecure http handler is unsecure, which means the cluster is vulnerable to the attack.  So it should be deprecated, even removed totally.

@deads2k @lavalamp @sttts @ncdc @liggitt

[2018-01-29 08:55] hzxuzhonghu commented on #58951
/sig api-machinery

[2018-01-29 09:02] lcfang commented on #58946
@dixudx Yes, `docker pull xxx` in my env goes well.

[2018-01-29 09:13] nikhita commented on #51163
/remove-lifecycle stale
/lifecycle frozen

[2018-01-29 09:23] wrfly commented on #55094
I faced this problem too.
Any one can give a specif answer?

[code]

[code]

[2018-01-29 09:32] timchenxiaoyu opened #58952 "question about --tls-ca-file parameter in apiserver"
kubernetes 1.7.6
apiserver run parmeter container --tls-ca-file,but I find it's not use in code ?
why ???

[2018-01-29 09:33] VictorBHub commented on #54491
@zjj2wry 'lastState:' contains info about the start and end of the last dead pod.
the original suggestion, I think, was to show the current pod ready since time (the 'lastTransitionTime' under status.conditions on the element where "type": "Ready")

[2018-01-29 09:35] timchenxiaoyu commented on #58952
@sig/api

[2018-01-29 09:35] errordeveloper commented on #58893
Based on @liggitt's comment, it sounds like testing on 1.9 is a must, also I'm tempted to close as this should probably belong to https://github.com/kubernetes-incubator/service-catalog.

[2018-01-29 09:44] errordeveloper commented on #56476
After you do `kubeadm init`, you need to copy `/etc/kubernetes/admin.conf` to `~/.kube/config`. It looks like this was done once, but not after the user ran `kubeadm init` the second time.

/close

[2018-01-29 09:44] #56476 closed

[2018-01-29 09:44] ChrisTerBeke commented on #36572
The answer in that thread leads to a 404 page....

Anyways, I've switched over to the nginx controller as the GCE controller missed a few other things I needed in my deployment, so I guess you could say it's solved.

For others needing the same escape, here's a fully working config with nginx: https://github.com/ChrisTerBeke/k8s-project-infrastructure.

[2018-01-29 09:52] nikhita commented on #58793
@davidhao3300 Do you see this only for custom resources?

If so, it should mostly be solved by https://github.com/kubernetes/kubernetes/pull/58332.

[2018-01-29 09:53] errordeveloper commented on #58449
@ktsakalozos I am tempted to close this...

[2018-01-29 10:17] shyamjvs commented on #58948
Nope. Will take a look now.

[2018-01-29 10:19] AndriiOmelianenko commented on #36593
/close

[2018-01-29 10:19] #36593 closed

[2018-01-29 10:21] christhomas commented on #52441
what if you are not using minikube, then what? seems that everybody is assuming that minikube is the only environment, but some of us run a single node cluster and still want host path to replace our bare metal vps with a similar kubernetes controlled vps.

[2018-01-29 10:23] shyamjvs commented on #58948
I'm looking at scale-performance runs and it seems like all the kubelets failed to start (and were crashlooping) with:

[code]

[2018-01-29 10:28] porridge commented on #58948
@kubernetes/sig-node-bugs any ideas?

[2018-01-29 10:41] ktsakalozos commented on #58449
@jacekn is it ok to close this issue from here and keep tracking it with:
https://github.com/juju-solutions/bundle-canonical-kubernetes/issues/470

[2018-01-29 11:04] bhack commented on #53497
The majority of subtasks have 1.9 as target. Can you refactor this tracking issue for 1.10/1.11?

[2018-01-29 11:14] runcom commented on #52110
This has broken the CRI as well. Kubernetes should not normalize image names on behalf of the CRI runtime. It's up to implementors to decide how to handle an image name and since there's not a standard around Kube and Image names, I'd prefer not to break the CRI.

[2018-01-29 11:44] gmarek commented on #58406
The whole point of moving from `Unschedulable` to Taints is to make things more configurable.

@bsalamat @davidopp as they're decision makers here.

[2018-01-29 11:53] jacekn commented on #58449
Yes I think so. If the juju-solutions project is better place to track I'll close this one.

[2018-01-29 11:53] #58449 closed

[2018-01-29 11:58] liuhuiping2013 opened #58956 "iptables-restore invalid option in kube-proxy"
/kind bug

/sig network

when start service kube-proxy
/var/log/message :
I0129 19:40:03.709536   21148 iptables.go:381] running iptables-restore [-w5 -T nat --noflush --counters]
E0129 19:40:03.712093   21148 proxier.go:792] Failed to execute iptables-restore for nat: exit status 1 (iptables-restore: invalid option -- '5'
iptables-restore: line 7 failed
)

And i run command
[code]
then run comman

[2018-01-29 12:09] MQasimSarfraz opened #58957 "kubectl fails with ambiguous error when having duplicate entry in KUBECONFIG."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I was trying to update the kubeconfig using:
`$ kubectl config set-cluster local1`
but it kept on failing with:
`error: open /home/qasim.sarfraz/.kube/config.lock: file exists`
mainly due to duplicate entry in `KUBECONFIG`.
**What you expected to happen**:
`Cluster "local1" set.`
**How to reproduce it (as minimally and pre

[2018-01-29 12:11] MQasimSarfraz commented on #58957
/sig cli
/area kubectl

[2018-01-29 12:16] errordeveloper commented on #58957
cc @smarterclayton

[2018-01-29 12:18] errordeveloper commented on #58449
Thanks!

On Mon, 29 Jan 2018 at 11:54 jacekn <notifications@github.com> wrote:

[2018-01-29 12:43] Lion-Wei commented on #58628
@vladimirvivien Thanks, sorry for delayed response.
I sended a pr to do this work, in that pr, I moved those functions to `csi_util.go` and added a ut file.
[code]
Please let me know if have any error of misunderstanding. : )

[2018-01-29 12:57] shadycuz commented on #58922
@dixudx What would be the best places to check? Scheduler? Controller? API server? I will look but it was several weeks ago when this happened through automation. Just now catching it.

[2018-01-29 13:10] shadycuz commented on #58922
@dixudx I just checked. no logs. Something is wrong with the docker dameon and I can't seem to find an answer on the best way to restart it on master nodes.

[2018-01-29 13:24] soltysh commented on #22207
With the ability to fail jobs currently, which then leads to events wrt those failures I think that fulfills what I wrote in my previous comment. That's basically all that we cared about in this issue.

/close

[2018-01-29 13:24] #22207 closed

[2018-01-29 13:28] beatlejuse commented on #58338
@MrHohn
request out of the system, which is outside the Kubernetes cluster

[2018-01-29 13:28] Lion-Wei commented on #58957
I can help fix this problem. : )

[2018-01-29 13:34] mdianjun opened #58962 "Does k8s support assigning unique identification to each pod?"
I create a Deployment with 5 pods, the requirement is that each application in each pod needs an unique identification(such as pod-1, pod-2, pod-3, pod-4, pod-5).  StatefulSet is not suitable，because pods couldn't be rescheduled when the node is NotReady.  Is there any ways to achieve this ?

[2018-01-29 13:56] deads2k commented on #58951
I think removing the insecure option is a good idea.

@kubernetes/sig-api-machinery-misc @smarterclayton

@hzxuzhonghu Can you send an email the sig-apimachinery mailing list with a proposed timeline?  I think this should be like other GA features and have a one year clock.

[2018-01-29 14:02] chrislovecnm commented on #58709
Quotas have been fixed.

/assign
/close

[2018-01-29 14:02] #58709 closed

[2018-01-29 14:02] chrislovecnm commented on #58709
@porridge yes people can retry their tests if they have not

[2018-01-29 14:05] ankon commented on #25379
Clearly this is a still-existing problem, and it is really something that needs to be addressed minimally in documentation, ideally even in code.

[2018-01-29 14:17] lcfang commented on #58946
Hi @dixudx ,I know the reason above, just because of the function of [GetGPUDevicePluginImage()](https://github.com/kubernetes/kubernetes/blob/480327eafe558fc55f0ccdceda125df0b317d534/test/e2e/framework/gpu_util.go#L70), there is an err, so I got an empty image.
But there is another error after that. when I run `make test-e2e-node`, the kubelet can't be started, so the test can't go well. The test

[2018-01-29 14:19] a-roberts commented on #57187
+1 for this idea from a serviceability perspective.

I'm working on a bunch of convenience scripts to help with retrieving artifacts from pods, it's my understanding that we'll be restarting pods every time the interval elapses for the liveness probe which will involve restarting a container.

So what about the helpful core dumps or user logs that I actually want to retrieve for a service engineer

[2018-01-29 14:20] hugohenley commented on #49926
Same issue here!

[2018-01-29 14:25] dixudx commented on #58946
Please check your network connectivity. Seems the raw yaml data can be not fetched.

[2018-01-29 14:47] #41161 closed

[2018-01-29 14:53] hgfischer opened #58964 "Kubelet failed to get the info of the filesystem, Image garbage collection failed"
/kind bug

**What happened**:

Kubelet logs weird errors with the partitioning scheme that I use:

[code]

**What you expected to happen**:

Work without complaining because the partitions are fine.

**How to reproduce it (as minimally and precisely as possible)**:

I haven't tried, but I suppose this is related to the partitioning:

Install Linux system on machine with the following partitioning:

[2018-01-29 15:03] porridge commented on #58709
I kind of hoped sig-testing has tools to trigger retries in a batch way
after such widespread issue is resolved.

[2018-01-29 15:11] mdaley opened #58966 "Cronjob won't start when setting resources memory limits"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

cronjobs fail to run when there is a resource limit set for memory.  I've created a concise demonstration of the problem below.  This shows the problem both in our cluster in GCP (1.8.5-gke-0) and with minikube (latest version, kubernetes 1.9.0).

**What you expected to happen**:

The jobs should run when the `limits - m

[2018-01-29 15:14] mfojtik opened #58967 "Provide metrics for cloud manager API calls"
As a admin for big cluster, I would want to see how much AWS API calls I consume and be alerted when I'm reaching the AWS API call limits.

It would be good if cloud-manager plugins provide some generic Prometheus metrics that count the API calls.

Related: https://github.com/kubernetes/kubernetes/issues/31061

/kind feature

[2018-01-29 15:14] mfojtik commented on #58967
/cc @derekwaynecarr
/cc @smarterclayton

[2018-01-29 15:15] hgfischer commented on #58964
/sig storage

[2018-01-29 15:15] ncdc commented on #52110
Are you saying it's currently broken, or the fix was ok?

On Mon, Jan 29, 2018 at 6:15 AM, Antonio Murdaca <notifications@github.com>
wrote:

[2018-01-29 15:15] jeremywadsack commented on #33766
I was able to mitigate by deleting the service and then applying the new
configuration.
On Sun, Jan 28, 2018 at 8:47 PM Inspiravetion <notifications@github.com>
wrote:

--
Jeremy Wadsack

[2018-01-29 15:43] mdaley commented on #58966
/sig scheduling

[2018-01-29 15:48] mfojtik commented on #58967
/sig aws

[2018-01-29 16:05] yaakov2 commented on #14188
I would like to support the proposal to inject the job id into the started containers.
In the discussion above, there is a statement that this feature "is not needed by actual customers". -- Let me explain why I need it:

My use case is that I need to process tens of millions of data points in a simple computation with a long pre-computation before processing the actual data points.  I plan to use

[2018-01-29 16:13] runcom commented on #52110
The fix is ok but the original patch caused another bug

[2018-01-29 16:18] ncdc commented on #52110
Which one?

[2018-01-29 16:21] DirectXMan12 commented on #58785
ok, so sounds like it's fine to remove the version number.

[2018-01-29 16:22] soltysh commented on #28486
/remove-lifecycle stale
/lifecycle frozen

[2018-01-29 16:23] runcom commented on #52110
https://github.com/kubernetes/kubernetes/pull/51751

[2018-01-29 16:24] lenhattan86 commented on #52715
@kad & @msbl3004: I got the similar issue when compiling Kubernetes and set it up.
Can you let me know how to setup "proxy settings for docker"?

thanks,
Tan-

[2018-01-29 16:35] soltysh commented on #54870
In the [original proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/apps/job.md#backoff-policy-and-failed-pod-limit) we've stated it should work for both restart policies, I've addressed the problem in https://github.com/kubernetes/kubernetes/pull/58972. It counts pod's restartCount, if overall (iow. all containers in all pods) number exceeds backoff limit

[2018-01-29 16:36] dims commented on #58966
i can't seem to recreate with latest master.  does using something else like `memory: "1G"` help?

[2018-01-29 16:38] msbl3004 commented on #52715
@Tan,
You need to configure proxy and restart docker daemon using following steps :

mkdir -p /etc/systemd/system/docker.service.d
vi /etc/systemd/system/docker.service.d/http-proxy.conf
[Service]
Environment="HTTP_PROXY=http://web-proxy.in.hpecorp.net:8080/"
 
Then run
systemctl daemon-reload
systemctl show --property=Environment docker
#Environment=HTTP_PROXY=http://web-proxy.in.hpecorp.net:8080

[2018-01-29 16:40] font commented on #39127
/close

[2018-01-29 16:40] #39127 closed

[2018-01-29 16:46] yaakov2 commented on #15982
@erictune : The proposed EOF approach can fail easily:  If the worker that processes the last "real" message fails, then the queue will retry this message **after** the EOF messages.  This means that the cluster will think the work is done, while there is still outstanding work.

[2018-01-29 17:04] theothermike commented on #40314
/remove-lifecycle stale

[2018-01-29 17:09] bputt opened #58974 "Remove load balancer requirement for standing up cluster federation"
/kind feature

**What happened**: I have 2 clusters setup and when I try to stand up cluster federation, it fails to start because I don't have a cloud provider with load balancer capabilities.

**What you expected to happen**: Kubeadm to initialize properly without need of a load balancer from a cloud provider. It'd be great if it could stand up a haproxy service and manage haproxy for its needs.

[2018-01-29 17:13] yguo0905 commented on #58779
/close

[2018-01-29 17:13] #58779 closed

[2018-01-29 17:15] bputt commented on #58974
/sig multicluster

[2018-01-29 17:43] caesarxuchao commented on #58855
@cheftako is working on it.

[2018-01-29 17:43] divyenpatel commented on #58927
@Xuxe `vm-uuid` in `vsphere.conf` is no longer used in Kubernetes 1.9.2 release. We have removed the unused code as in the PR: https://github.com/kubernetes/kubernetes/pull/58230/

You should remove `vm-uuid` from vsphere.conf file.

Can you provide me the output of followings

[code]
From kbnnode01 VM, provide the output of following file.
[code]

For your reference, look at the following code
ht

[2018-01-29 17:46] ericchiang opened #58975 "pull-kubernetes-verify: godep version bump broke build"
Didn't see an issue for this.

Godep recently updated its version to v80. This broke several builds that directly `go get` godep, grabbing latest. https://github.com/tools/godep/commit/ce0bfadeb516ab23c845a85c4b0eae421ec9614b

/kind bug

cc @sttts @caesarxuchao @kubernetes/sig-api-machinery-bugs

Example https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/58544/pull-kubernetes

[2018-01-29 17:50] phsiao commented on #58966
I think the problem is

[code]

is too low --- that is 1 byte.

[2018-01-29 17:53] mengqiy commented on #36409
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-29 17:53] mengqiy commented on #36409
/sig apimachinery

[2018-01-29 17:58] divyenpatel commented on #58927
/assign divyenpatel

[2018-01-29 18:05] mdaley commented on #58966
[embarrassed grin] Oh, no, have I been silly.  Lower case m instead of upper case M.  I'll try this out tomorrow.

[2018-01-29 18:05] #58966 closed

[2018-01-29 18:08] #29563 closed

[2018-01-29 18:10] pires commented on #53142
/assign me

[2018-01-29 18:11] pires commented on #53142
/assign pires

[2018-01-29 18:13] pires commented on #53142
/remove-lifecycle stale

[2018-01-29 18:16] krzyzacy commented on #58709
@porridge @fejta-bot will automatically drop `/retest` on affected PRs

[2018-01-29 18:19] bgrant0607 commented on #34508
/lifecycle frozen

[2018-01-29 18:22] Xuxe commented on #58927
Hey @divyenpatel ! Thanks so far :)

I already found the deprecated "vm-uuid" in one issue while browsing the VMware Kubernetes repo and updated my config. But the issue persist.

[code]

Your requested outputs:

Worker:
[code]
[code]

Master:
[code]
[code]
You see, the IDs are different. Do i miss something here?

[2018-01-29 18:29] jiayingz commented on #54012
+1 for moving it to v1.11. We will announce the deprecation in v1.10.

[2018-01-29 18:33] castrojo commented on #24735
The kubeadm documentation has been updated since the original issue was filed and works fine on Ubuntu, have you seen: https://kubernetes.io/docs/setup/independent/install-kubeadm/

[2018-01-29 18:41] dims commented on #58952
@timchenxiaoyu fixed by @deads2k in https://github.com/kubernetes/kubernetes/pull/58968

[2018-01-29 18:43] ericchiang commented on #58808
The flags mentioned don't control TLS options:

[code]

They allow users to authenticate with bearer tokens, and control API authorization.

https://kubernetes.io/docs/admin/authentication/#static-token-file
https://kubernetes.io/docs/admin/authorization/

The error implies something about a misconfigured TLS certificate.

[code]

I don't think there's enough information provided to indicate those

[2018-01-29 18:43] #58808 closed

[2018-01-29 18:44] khenidak commented on #57715
CC:- @andyzhangx @jdumars

[2018-01-29 18:44] dims commented on #58950
@jcxian - i usually use `hack/dev-push-hyperkube.sh` just comment out the `docker push` on the last line.

[2018-01-29 18:49] darend commented on #54816
We are also running into this issue with **1.8.7**

**Kubernetes Version**
[code]

**Job Spec**
[code]

**Error** when deleting job

[2018-01-29 18:51] khenidak commented on #58776
/cc @deads2k for visibility

[2018-01-29 18:56] smarterclayton commented on #55435
NET_CAP_ADMIN is effectively root on the host :)

[2018-01-29 19:02] mkj28 commented on #54816
For the above, we can still delete the job via API:
`curl -k -v -XDELETE  -H "Accept: application/json, */*" -H "Content-Type: application/json" \
  --data "{\"kind\":\"DeleteOptions\",\"apiVersion\":\"batch/v1\",\"propagationPolicy\":\"Background\"}" \
  http://localhost:8001/apis/batch/v1/namespaces/default/jobs/init-job-test-app`

[2018-01-29 19:05] smarterclayton commented on #55435
I'm going to go and get more info from the kernel teams about whether we could safely grant NET_CAP_ADMIN in a network namespace and not have it be root on the host via some trivial path.  If so, we may be able to relax that restriction from SELinux in the default kernel policy.  No promises yet.

[2018-01-29 19:07] smarterclayton commented on #55435
@knobunc @dcbw @danwinship question ^ is that something we can help track down?

[2018-01-29 19:08] msau42 commented on #52441
Hi @christhomas, if you cannot use the hostpath provisioner in your environment, then you will have to fallback to the static creation of hostpath PVs.  I couldn't find a great way to include both methods in the tutorial without making it confusing/complicated, but am open to suggestions.

[2018-01-29 19:09] JeanMertz commented on #30861
/lifecycle frozen

[2018-01-29 19:16] tallclair commented on #55435
Independent of the specific istio case around CAP_NET_ADMIN being discussed here, I think this comes back to the debate of Pod vs. Container identity, which is also tightly coupled with whether we consider the container or the pod the security boundary. If the pod is the security boundary, then per-container policies don't make sense, and we need to think of adding privileges to a container as add

[2018-01-29 19:16] knobunc commented on #55435
^ @simo5 FYI

[2018-01-29 19:16] mtaufen commented on #58891
It probably fits in a dedicated repo.

[2018-01-29 19:20] christhomas commented on #52441
I've today found a way to implement host path quickly and easily, lets see what you think of this.

Use this to setup the storageclass and permissions, maybe you already have the permissions, so you can skip this, or take parts of it, but this is what I used:
[code]
You might need to adjust "/mnt/kubernetes-pv-manual" to your setup
Then you can create a PVC for your app like this:
[code]

Then you

[2018-01-29 19:23] lavalamp commented on #56761
Why would apiserver be making namespaces on startup? It should only do that in uninitialized clusters, which shouldn't have webhooks?

[2018-01-29 19:25] msau42 commented on #52441
Looks fine, I think setting up the hostpath provisioner would be better suited to under the hostpath documentation and/or default storage class documentation, rather than the tutorial though.  The tutorial is meant to run across many environments that may not be using hostpath for their default storage class.

[2018-01-29 19:29] christhomas commented on #52441
sure, but its still stuff missing from the official docs and explanations, so it should go somewhere

[2018-01-29 19:32] bsalamat commented on #58620
It is not clear if this is related to the scheduler. The description given in the original post sounds like an API server issue to me.

[2018-01-29 19:34] msau42 commented on #52441
Agree, I think under the hostpath section and/or default storage class section would be a good fit.  Would you like to open a PR for it?

[2018-01-29 19:38] smarterclayton commented on #55435
Re: access, one of the use cases of the debug containers is elevated privileges for debugging.  PSP still needs to control that, but it's a separate endpoint.

[2018-01-29 19:40] Random-Liu opened #58979 "Kubelet should also look at init container when set pod sandbox privilege."
Today kubelet doesn't check init container when setting sandbox privilege. https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/helpers.go#L304

However, it should.

@kubernetes/sig-node-bugs

[2018-01-29 19:41] davidhao3300 commented on #58793
I did see this behavior only for custom resources, I'll check if the branch in that PR addresses this issue

[2018-01-29 19:42] smarterclayton commented on #55435
I do think it's a good point that some init containers are special.  But then most of the examples of sidecars are at least somewhat special with regards to security.

1. I want to keep some secrets from the other containers
2. I want to expose a separate network agent and only look at the filesystem
3. I want to monitor the main workload
4. I want to copy data from someplace else into the pod and

[2018-01-29 19:44] smarterclayton commented on #55435
The only thing that is obviously secure is "pod is the boundary", except then to run something with a real security boundary you create... a second pod that has to be colocated (via a daemonset).  While I can't say that some boundaries shouldn't be hard, creating a *new* root level agent on the host is not any safer and doesn't create a sustainable security model.

[2018-01-29 19:47] zacharysarah commented on #24735
@dlsniper 👋 I see you opened this issue in April of 2016. Twenty-one months is a long time for a substantive reply. I'm sorry your wait has been so long. The CNCF hired me in November to help manage documentation. My goal is that others will not have to repeat your experience.

I hear your frustration. Kubernetes is complicated to use, and the documentation sometimes does little to help, especiall

[2018-01-29 19:51] dobesv commented on #50569
Comments in https://github.com/kubernetes/kubernetes/issues/49931 seem to indicate the HPA-based approach might be a dead-end because autoscaling is relative but for this purpose we want to set an absolute (minimum) value.

[2018-01-29 19:53] tallclair commented on #55435
I think there are 2 concepts rolled up into the pod - resource sharing (including networking), and shared lifecycle. Resource sharing is in direct conflict with isolation, so it's hard to talk about sidecars that need to do interact with each other AND have a security boundary. Lifecycle sharing, however, is not in conflict. If we decided we need strong isolation & bound lifecycles, we could accom

[2018-01-29 20:03] yastij opened #58981 "make tolerations wildcardable"
to graduate taints/tolerations to beta, we should make tolerations wildcard-able, so that we can have a toleration that tolerates all taints with certain key and effect.

/assign

[2018-01-29 20:06] yastij commented on #58981
/sig scheduling

[2018-01-29 20:09] yastij commented on #58981
/assign

[2018-01-29 20:10] simo5 commented on #55435
So for iptables you need CAP_NET_ADMIN and CAN_NET_RAW, the latter is relatively benign if you are ok with any container in the pod being able to do *anything* netowrk within that pod, like generating or intercepting any network packet of any type.
CAP_NET_ADMIN should also be bounded by the netowrk namespace so it may be ok too (again assuming we do not want to have container-level segregation).

[2018-01-29 20:12] deads2k opened #58982 "kube-controller-manager should be able to start https"
`kube-controller-manager` doesn't have the ability to start an https server. This means that it can't have any authentication and authorization protecting debug and metrics and it can't be exposed anywhere but localhost.  Unfortunately, the default at the moment is 0.0.0.0, so we have a bad combination of defaults even.

@kubernetes/sig-api-machinery-misc @sttts @hzxuzhonghu

[2018-01-29 20:15] deads2k opened #58983 "kube-scheduler should be able to start https"
`kube-scheduler` doesn't have the ability to start an https server. This means that it can't have any authentication and authorization protecting debug and metrics and it can't be exposed anywhere but localhost. Unfortunately, the default at the moment is 0.0.0.0, so we have a bad combination of defaults even.

@kubernetes/sig-scheduling-misc

@aveshagarwal @sttts once we figure out how we're goin

[2018-01-29 20:29] crimsonfaith91 commented on #48105
/close

[2018-01-29 20:29] #48105 closed

[2018-01-29 20:32] dchen1107 commented on #30861
@mrunalp @Random-Liu @yujuhong

Can we make sure the new runtime we built has this issue being addressed? cc/ @kubernetes/sig-node-bugs

[2018-01-29 20:33] dchen1107 commented on #10781
/remove-lifecycle rotten

[2018-01-29 20:35] msau42 commented on #58797
@kubernetes/sig-storage-bugs

Let me think about this one predicate at a time:

Volume zone predicate
1. PVC doesn't exist - predicate will fail, not cached
2.  a. PV doesn't exist - if you're using the new volume scheduling feature, predicate will pass.  I think it is ok to ignore this predicate if you're using that feature, because your volume should be using VolumeBind predicate instead.  So no

[2018-01-29 20:37] #56171 closed

[2018-01-29 20:37] #58497 closed

[2018-01-29 20:41] simo5 commented on #55435
So:
$ git grep CAP_NET_ADMIN | wc -l
$ 449

Let that sink in a little.

[2018-01-29 20:43] mengqiy commented on #33766
The issue is caused by defaulting: API server defaults field `spec.ports[0].nodePort`. And this field is not managed by `apply`.
So when you remove `type: LoadBalancer`, `apply` doesn't remove `spec.ports[0].nodePort`. Then the validation will complain about that.

The following is an example after defaulting.
[code]

You can use `kubectl edit` to remove `type: LoadBalancer`, `loadBalancerSourceRa

[2018-01-29 20:45] divyenpatel commented on #58927
@Xuxe we need to figure out how nodes are getting registered with this UUID.
Can you share parameters `kubespray` is setting up on the `kubelet` service on nodes?

[2018-01-29 20:55] smarterclayton commented on #55435
I disagree.  By default the only thing two containers in a pod share is localhost, and resource sharing works just fine today.  Every bit of sharing does relax that, but today that's only in two dimensions:

1. disk
2. memory

with maybe a third coming soon

3. process

I can interact over a filesystem, interact over a network boundary, or interact via IPC without too much trouble, today, and get

[2018-01-29 20:59] Xuxe commented on #58927
@divyenpatel

here you are!

The systemd file:

[code]

And the environment file for the master kubelet:

[code]

The env file for the worker node kubelet:
[code]

[2018-01-29 21:07] simo5 commented on #55435
At times seem like people are conflating isolation with privilege granting here ...

[2018-01-29 21:17] cmluciano commented on #52581
Theses tests were fixed and test dashboards are green

[2018-01-29 21:17] #52581 closed

[2018-01-29 21:19] ironcladlou opened #58984 "Passing an invalid resource to `apply --force` deletes the target server resource"
It's possible to cause a resource to be deleted during `kubectl apply` when the updated resource being applied is invalid (or results in other server side errors).

### Steps to reproduce
1. Create an [example replication controller](https://kubernetes.io/docs/concepts/workloads/controllers/replicationcontroller/)

[code]

2. Create a local file containing a patched version of the replication cont

[2018-01-29 21:22] rayterrill commented on #58747
Running into this same issue (manifested as "Kubernetes node nodeVmDetail details is empty" error upon pvc build using vsphere). Commenting to watch progress. Happy to help debug if needed.

[2018-01-29 21:31] MrHohn opened #58986 "[gce-ingress e2e] Test should fail when resources are leaked"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind cleanup
/sig network
/area test

**What happened**:
We have a `CleanupGCEIngressController` function which monitors whether GCP resources are cleaned up by GLBC after test is finished, and clean resource up otherwise.
https://github.com/kubernetes/kubernetes/blob/2941c4bcbcabcc1516d86fa0e3345ee8262d21fa/test/e2e/framework/ingress_utils.go#L334-L3

[2018-01-29 21:40] ateleshev opened #58987 "Custom labels can't be added to PVC using StatefulSet.Spec.VolumeClaimTemplates"
Are labels could be merged here?

https://github.com/kubernetes/kubernetes/blob/3a1c9449a956b6026f075fa3134ff92f7d55f812/pkg/controller/statefulset/stateful_set_utils.go#L152

for example:
[code]

[2018-01-29 21:49] marcofiocco opened #58988 "kubectl stopped working after reboot"
/kind bug

**What happened**:
I've installed Kubernetes 1.9.2 on the master node (Ubuntu 16.04) including the dashboard. All the pods were running fine. But after rebooting, when I try to run `kubectl get nodes` or `kubectl get pods` I get:

`The connection to the server 10.50.88.230:6443 was refused - did you specify the right host or port?
`

If I run` kubectl cluster-info` I get:

[code]

But i

[2018-01-29 21:51] MrHohn commented on #58986
cc @rramkumar1

[2018-01-29 21:54] bsalamat opened #58989 "Hash of a pod for Equivalence Cache should be calculated once per schedule"
Today, [scheduler calculates equivalence hash of a Pod once per node](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L421). This seems unnecessary and should be done once for all the nodes.

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

/sig scheduling

cc: @resouer @misterikkit

[2018-01-29 21:55] msau42 commented on #58797
Volume count predicate:
1. PVC/PV doesn't exist - predicate will succeed, maybe even incorrectly (ie PV is not one of the counted types, like NFS).  Ideally, we want the count to become more accurate when the error condition is fixed, so the predicate should be invalidated.
2. PVC not bound - same as above
3. PV volume type cannot be modified.  Don't need to worry about this.
4. PVC/PV previously

[2018-01-29 21:55] ateleshev commented on #58987
@kubernetes/sig-storage-misc

[2018-01-29 21:57] marcofiocco commented on #58988
/sig cli
/area kubectl

[2018-01-29 22:03] frankgreco commented on #10091
@thockin I assume that this should only be the case if `--pod-manifest-path` is not set by the user. This would be consistent with the current behavior: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L267-L270

[2018-01-29 22:09] ateleshev commented on #58987
/kind bug

[2018-01-29 22:11] msau42 commented on #58987
cc @janetkuo @kow3ns

[2018-01-29 22:13] resouer commented on #58989
/assign

Thanks, will send fix per slack discussion.

[2018-01-29 22:22] msau42 commented on #58797
Volume bind predicate:
* PVC doesn't exist: predicate will fail
* PV add/delete can cause volume selection to choose something different
* PV modify node affinity can affect volume selection or already bound node selection
* PVC not bound will trigger PV selection.  Once it's bound, then it should be invalidated because the other nodes should fail instead of succeed.
* PVC/PV deletion can cause pr

[2018-01-29 22:26] msau42 commented on #58797
I think in general, we need to have separate invalidation handlers for PVC and PV events because they can occur independently of Pod events.  For example, the volume predicates could succeed and get cached, but because of some other unrelated predicate, the Pod won't get scheduled.  In the meantime, PVC/PV events could happen that may change the results of the volume predicates.

[2018-01-29 22:36] paravz commented on #30073
My understanding from DNS docs is that pods with "dnsPolicy: ClusterFirst", should have "--cluster-dns" in pod's /etc/resolv.conf.

This is still an issue in v1.8.3 (and likely in 1.9): pods with "dnsPolicy: ClusterFirst" only use host node's /etc/resolv.conf, ignoring --cluster-dns in the following configuration produced by kubespray:

[code]

[code]

[2018-01-29 22:37] yastij commented on #58989
/cc

[2018-01-29 22:44] lavalamp commented on #56761
Actually I am going to reopen this. You should not be able to add a webhook which then causes `kube-apiserver` to not start at all. Run levels are about allowing the entire system to bootstrap. apiserver needs to be able to start no matter what webhooks are in; otherwise you have to talk directly to etcd to fix a cluster broken in this way, which IMO is unacceptable.

It also doesn't make sense th

[2018-01-29 22:59] #58979 closed

[2018-01-29 23:10] caesarxuchao commented on #58855
@cheftako, 20899 and 20900 were failing with "failed to create CustomResourceDefinition: customresourcedefinitions.apiextensions.k8s.io "e2e-test-webhook-crds.webhook-crd-test.k8s.io" already exists", which might be caused by a different cleanup issue.

[2018-01-29 23:20] mdianjun commented on #58962
@kubernetes/sig-apps-feature-requests
The requirement is that, when a pod is rescheduled to another node, the pod’s iidentification wouldn’t be changed.

[2018-01-29 23:23] RobertKrawitz opened #58993 "Race condition between listener and client in remote_runtime_test"
A race condition between fakeremote.Start() is spawned as a goroutine to listen for connections, and its caller assumes that the listener will immediately be ready to accept connections.  This leads to intermittent test failures if the caller attempts before the fake remote runtime is ready to listen.  The code needs to be refactored so that the fake remote returns from listen, and then spawns the

[2018-01-29 23:25] G-Harmon commented on #43409
@dnardo I guess you ran into this today.

[2018-01-29 23:25] RobertKrawitz commented on #58993
/sig pod

[2018-01-29 23:26] RobertKrawitz commented on #58993
Reference initial issue: https://github.com/openshift/origin/issues/17757

[2018-01-29 23:34] cheftako commented on #58855
@caesarxuchao Agreed. Instead of conflicting webhook configs it looks like its caused by conflicting CRDs. OTOH since it looks like we only need a single CRD for all out testing I was thinking it would be better to create it in BeforeEach and clean it up in AfterEach.

[2018-01-29 23:44] davidhao3300 commented on #58793
@nikhita confirmed that the PR does not fix this issue

[2018-01-30 00:24] janetkuo commented on #54816
Somehow `kubectl` reaper failed validation while scaling the job to 0.

cc @soltysh

[2018-01-30 00:40] yujuhong opened #58998 "Node e2e: promote eviction tests out of the flaky suite"
We should not keep tests permanently in the flaky suite. @dashpole is there any reason why the eviction tests are still considered flaky? If not, could we move them out of the flaky suite?

/assign @dashpole
since you have the most context.

[2018-01-30 00:40] yujuhong commented on #58998
/cc @dchen1107

[2018-01-30 00:56] noelbundick opened #59000 "Can't delete a deployment containing an Azure Managed Disk volume"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:

I have a deployment with a volume pointing to a pre-existing Managed Disk. The pod runs and correctly mounts the volume. When I try to delete the deployment, I receive the following validation error:

[code]

**What you expected to happen**:

I expect the deployment to be deleted

**How to reproduce it (as min

[2018-01-30 01:02] yujuhong opened #59001 "RFC: Some thoughts about node e2e tests"
Back in 1.5, sig-node defined a set of node conformance tests (i.e., tagged `[Conformance]`). However, there lacks follow-up efforts to maintain the set of conformance tests. IMO, except for a specific set of features which depend on the OS distribution, container runtime, and/or are still under development, most features/tests should be included in the set of node conformance tests. To maintain t

[2018-01-30 01:02] khenidak commented on #59000
Cc @andyzhangx @jdumars

[2018-01-30 01:15] Random-Liu opened #59002 "Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available"
The rescheduler test `[sig-scheduling] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available` has failed for a long time.

[code]

Let's either fix this test or skip it.

@kubernetes/sig-scheduling-misc
/cc @piosz

[2018-01-30 01:15] colemickens commented on #58686
@j0gger I don't know. I don't know if coercing `0.0.0.0` to `default interface` was intentional or not. Someone else will have to weigh in.

[2018-01-30 01:17] dashpole commented on #58998
This is being addressed by https://github.com/kubernetes/kubernetes/pull/57467.  It sat a while waiting for review.

[2018-01-30 01:23] bsalamat commented on #59002
We plan to retire rescheduler in 1.10. It is being replaced by priority and preemption. So, if the test has been failing for a long time, I would skip the test for now.

[2018-01-30 01:28] Random-Liu commented on #59002
@bsalamat Agree. Thanks for the clarification.

[2018-01-30 01:32] kimocode commented on #28969
In the cases where services are created manually for each pod, which selectors do you guys use? Is there a way to select on pod name pre v1.9 ?

[2018-01-30 01:33] Lion-Wei commented on #58957
I think this pr already fixed this problem.
#53880 @wackxu

[2018-01-30 01:40] msau42 commented on #58569
@kmova are you ok with the container restarting?  I don't think container runtimes support live mounting new volumes to a running container.  Restarting a container might be slightly faster than restarting a pod, but if the issue is the application startup time, then I'm not sure if avoiding a pod restart will help much.

Regardless, changing the volume manager to handle live-updating of volumes t

[2018-01-30 01:44] hzxuzhonghu commented on #58951
Sure, I will send it ASAP.

[2018-01-30 01:45] kimocode commented on #28969
Going to try the workaround outlined here: https://github.com/kubernetes/kubernetes/issues/44103#issuecomment-326851272

[2018-01-30 01:47] andyzhangx commented on #59000
/assign

[2018-01-30 01:48] andyzhangx commented on #59000
/sig azure

[2018-01-30 01:52] ScorpioCPH commented on #54412
/close

[2018-01-30 01:52] #54412 closed

[2018-01-30 02:00] resouer opened #59009 "Error log in kubelet source file watch is misleading"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When something wrong with kubelet source file watching, like: https://github.com/kubernetes/kubernetes/issues/55928, kubelet will report a error message with:

[code]

**What you expected to happen**:

This error message is misleading, which is in:

[code]

It should always return the path of source file during error, in

[2018-01-30 02:13] zhangxiaoyu-zidif commented on #58788
I had checked this issue again, in fact, it has nothing to do with docker update. When I set /etc/docker/daemon.json `live-restore` to true, and restart kubelet, the container could not access to the glusterfs volume.
So I think， container non-restart -> pod -non-restart， but kubelet restart -> mount again;
And mount again failed, so container could not access to volume.
=)

[2018-01-30 02:15] zhangxiaoyu-zidif commented on #58788
cc @kubernetes/sig-storage-bugs
I am not sure if other storages have the same problem.

[2018-01-30 02:20] dashpole opened #59011 "Serial Node-e2e tests which use dynamic kubelet config are failing"
/kind bug
https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-flaky-gce-e2e
https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-serial-gce-e2e

likely candidata looks like https://github.com/kubernetes/kubernetes/pull/56995

/sig node
cc @mtaufen

[2018-01-30 02:20] dashpole commented on #59011
cc @kubernetes/sig-node-test-failures

[2018-01-30 02:29] timchenxiaoyu commented on #58952
thks！

[2018-01-30 02:29] #58952 closed

[2018-01-30 02:31] dims commented on #59009
@resouer - see clue here - https://github.com/kubernetes/kubernetes/issues/55928#issuecomment-345203099

you probably used vi/vim to edit a file :) https://www.google.com/search?q=inotify+4913

[2018-01-30 02:35] JuneZhao commented on #49857
@khenidak abandon by my customer so far, if this get caught will open again so far we can close the issue.

[2018-01-30 02:56] tengqm commented on #10781
Again, this should be filed and tracked in kubernetes/website project, not here. Leaving it rotten should be okay. @dchen1107 WDYT?

[2018-01-30 02:58] gnufied opened #59015 "Number of NVMe disks attachable is lower than max predefined count for EBS"
Kubernetes's scheduler defined a default limit of 39 volumes for EBS disks per node (`DefaultMaxEBSVolumes`) but this limit is far lower  for NVMe disks (something like 25-28). We need to find out why and if we should document this.

[2018-01-30 02:58] feiskyer commented on #43287
Update: VMSS PV support is pending on https://github.com/Azure/azure-sdk-for-go/issues/944

[2018-01-30 02:59] gnufied commented on #59015
/sig aws
/sig storage

[2018-01-30 03:22] portante commented on #58638
I think using container name and instance number is fine.  Are we still able to add namespace name, namespace UUID, and pod name, as well?  And can we consider providing the final container ID in an associated JSON file that collectors can read and depend on?  Perhaps just put all the metadata there: namespace name, namespace UUID, pod UUID, pod name, container name, instance number, and ID?

[2018-01-30 03:33] subrnath commented on #31424
+1

[2018-01-30 04:10] drinktee commented on #58962
A pod is rescheduled to another node, which means old pod is deleted, and a new pod has created. Maybe you want a feature that when rs create/delete some pods, their names won't be changed.

[2018-01-30 04:45] magicluo0755 commented on #56574
Hi liqlin2015, I also got this problem while rollback k8s v1.8.4 to 1.7.4
Does 1.7.6 has resolved this issue?

[2018-01-30 04:54] tengqm commented on #43834
/close

[2018-01-30 04:54] #43834 closed

[2018-01-30 05:14] tengqm commented on #48127
Manually copied to website.

[2018-01-30 05:14] tengqm commented on #48127
/close

[2018-01-30 05:14] sberd commented on #58927
Hi, I have some issue. I'm deploy cluster using kubeadm (It's updated version from 1.8.x to 1.9.2) and vmware guide https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/existing.html
Node System UUID is equal  /sys/class/dmi/id/product_uuid, not product_serial.

[2018-01-30 05:16] tengqm commented on #48127
/assign

[2018-01-30 05:35] wanghaoran1988 commented on #58982
/cc

[2018-01-30 06:02] wanghaoran1988 commented on #58346
/assign
I will take a look

[2018-01-30 06:15] divyenpatel commented on #58927
@Xuxe I have installed Kubernetes Cluster using `kubespray`.

[code]

I did not face any issue regarding "Unable to find VM by UUID", while attaching volume with node VM.
I see `System UUID` set in the `System Info` of Node is matching with `product_uuid` and `product_serial `.

[code]

[code]

[code]

vSphere Cloud Provider is also able to locate the node VM using `System UUID`. Verified volume a

[2018-01-30 06:24] divyenpatel commented on #58927
@sberd

For some linux distro we observed `/sys/class/dmi/id/product_uuid` was not reported correctly, so we changed logic to read uuid from product_serial - See https://github.com/kubernetes/kubernete//pull/45311

In 1.9 release, VCP no longer read and parse this UUID, VCP just relies on the `System UUID` set on the node.

[2018-01-30 06:27] sberd commented on #58927
In my case it has different UUID:
[code]
May be it's vmware template settings.

[2018-01-30 06:39] mkumatag commented on #57869
/reopen

[2018-01-30 06:42] brendandburns commented on #46086
/remove-lifecycle rotten

[2018-01-30 06:52] ScorpioCPH opened #59023 "Add scale and soak tests for device plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

As we discussed in device plugins work tracker https://github.com/kubernetes/kubernetes/issues/53497: we need to test device plugin integration with stub e2e in scale and soak test suites.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2018-01-30 06:53] ScorpioCPH commented on #59023
/assign

[2018-01-30 06:55] michrabi commented on #24668
@dims your link from April 6th is broken. Please assist since I still face the issue. Thanks

[2018-01-30 06:59] divyenpatel commented on #58927
@sberd Can you share OS detail?  Do you have VMware tools installed on the VM?

[2018-01-30 07:05] Xuxe commented on #58927
@divyenpatel

One thing i have observed is my uuid from the dmidecode command is different from /sys/class/dmi/id/product_serial.

From my master:

[code]

My product it matches the system uuid from kubectl describe:

[code]

I have installed the open-vm-tools and they are active.
What could cause this issue?

[2018-01-30 07:07] sberd commented on #58927
@divyenpatel  Is it enough?
[code]

[2018-01-30 07:22] divyenpatel commented on #58927
Thank you @Xuxe @sberd

One thing we are sure that we are not able to locate VMs from vCenter using UUID set in `/sys/class/dmi/id/product_uuid`.

Let me get back to you after consulting vSphere experts on this. We need to know in what situations `/sys/class/dmi/id/product_uuid` and `/sys/class/dmi/id/product_serial` can differ or get synced?

[2018-01-30 07:31] zhangxiaoyu-zidif commented on #58788
one should be pointed out that:
we create endpoint without service. I guess and am not sure  endpoint name = service name or some prefix + pv name.

[2018-01-30 07:59] sttts commented on #58975
We have helpers to grab godep. We should use them everywhere.

[2018-01-30 07:59] sttts commented on #58975
/cc @cblecker

[2018-01-30 08:10] #58870 closed

[2018-01-30 08:45] pgeorgiev333 commented on #33777
Hi,

the issue has been submitted in 2016. Any idea when it will be fixed? I have Openshift Origin 3.7 and this is killing me.....

[2018-01-30 08:56] pierreozoux opened #59031 "Configure DNS options at cluster level"
/kind feature
/sig network

We are having some little DNS issues as well. But we think it is normal as DNS is on top of UDP, and well, some packets are lost (The quantity of lost UDP packets is an other debate).

In our case, we think it would be easy to mitigate, and actually improve performances of our applications just by fine tuning the DNS options in `/etc/resolv.conf`.

Currently it uses the

[2018-01-30 09:03] pierreozoux commented on #59031
@kubernetes/sig-network-feature-requests

[2018-01-30 09:24] thkoch2001 opened #59033 "conntrack table for UDP to vanished pod not flushed"
/kind bug

**What happened**:
1. A server pod exposes UDP host port.
2. A client sends packets to the server pod thru the host port. This creates a conntrack entry.
3. The server pod's IP changs due to whatever reason, such as pod gets recreated.
4. Due to the nature of UDP and conntrack, new request from the same client to the host port will keep hitting the stale conntrack entry.
5. Client obser

[2018-01-30 09:36] dixudx commented on #59031
@pierreozoux You can try to use `--resolv-conf` when starting `kubelet`. Refer to [kubelet Options](https://kubernetes.io/docs/reference/generated/kubelet/).

[2018-01-30 09:38] etabest commented on #58217
I also meet this error.
environment：
os -- ubuntu server 16.04
kubelet -- v 1.9.2
error info:
 Jan 30 04:04:44 node-1 kubelet[9879]: E0130 04:04:44.861884    9879 container_manager_linux.go:583] [ContainerManager]: Fail to get rootfs information unable to find data for container /
Jan 30 04:04:45 node-1 kubelet[9879]: E0130 04:04:45.864870    9879 container_manager_linux.go:583] [ContainerManager]

[2018-01-30 09:53] ivanjaros commented on #46965
I haven't worked with k8s for a while so dunno if it is fixed or not but since it seems a minor issue and maybe only local

/close

[2018-01-30 09:53] #46965 closed

[2018-01-30 10:11] gmarek commented on #36752
/close

[2018-01-30 10:11] #36752 closed

[2018-01-30 10:16] sttts commented on #56761
Good point. I guess it is about kube-system, kube-public and default. I don't see a create though on a second apiserver run:

first run: https://gist.github.com/sttts/98550b68bc9adce6a6e1284a34c9a75e
second run: https://gist.github.com/sttts/d7d2ffb4c45aedc1027df222054cc939

I have to prepare a talk in the next days around admission webhooks. I will try to reproduce the issue.

[2018-01-30 10:21] sttts commented on #58951
:+1:

[2018-01-30 10:33] pdecat commented on #59033
/sig network

[2018-01-30 10:34] pdecat commented on #59033
Looks a lot like #58336.

[2018-01-30 10:40] Xuxe commented on #58927
@divyenpatel

@sberd
Which ESXi compatibility do you use?
I discovered the issue seems to come from the ESXi  compatibility 6.5+.

I tested a CoreOS production iso to exclude a issue with Ubuntu. With ESXi compatibility v11 (6.0) both product_serial and product_uuid matching. But on a other CoreOS VM with ESXi compatibility v13 (6.5+) the serial and uuid does not match.

Photon OS with Hardware co

[2018-01-30 10:43] wangycc commented on #42158
@resouer Appears again in the 1.9.1 version.
[code]

[2018-01-30 10:45] sberd commented on #58927
@Xuxe @divyenpatel
I have the same compatibility 6.5+.

[2018-01-30 10:47] dag24 commented on #51764
I'm also seeing this with a kubeadm 1.9.2 cluster:

[code]

websocket-echo.yml (uses a local image):
[code]

Created with:
[code]

The service and deployment are created, but no pods seem to be ever created.

[code]

I wonder if it has something to do with the following strange output (`desired == current == 0`). Expected: `desired == 1` as per `spec.replicas: 1`.

[code]

[2018-01-30 11:16] stewart-yu commented on #58983
/assign

[2018-01-30 11:31] porridge commented on #56293
This keeps happening, although in many cases retrying for 30 seconds is enough.
Just looking at a single sig-scalability CI job, it happened 11 times in the last 3 months or so - see the list below.

And when our 4 retries are not enough, we just fail the test.

[code]

[2018-01-30 11:36] soltysh commented on #56853
I agree with @sdminonne, any success should immediately clear the backoff flag, since it shows the job is configured properly and the problem is only temporary. I'll assign it to myself, but anyone is open to submit a PR fixing this.

[2018-01-30 11:43] #58951 closed

[2018-01-30 11:57] nikhita commented on #45539
See https://github.com/kubernetes/kubernetes/pull/59038 to enable this for new resources.

[2018-01-30 11:57] nikhita commented on #20978
See https://github.com/kubernetes/kubernetes/pull/59038 to enable this for new resources.

[2018-01-30 12:08] nikhita commented on #58984
/sig cli

[2018-01-30 12:14] toredash commented on #35187
I can confirm that I see the same behaviour as @sergeohl, difference is that I'm running:
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

The previous beta spec `service.beta.kubernetes.io/external-traffic` (https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#feature-availability ) worked fine on previous versions of OpenShift:
openshift v3.6.1+008f2d5

[2018-01-30 12:28] soltysh commented on #14188
@yaakov2 the reason we don't have this feature is because nobody had the time to write it, yet If you feel like both the community and the core k8s might benefit from it, you're more than welcome to open a PR implementing this functionality.
Personally, I'd happy to support the feature and I can guide you with implementation.

[2018-01-30 12:33] humblec commented on #58627
/assign @humblec

[2018-01-30 12:33] humblec commented on #58627
This is fixed in master. I am closing this issue.

[2018-01-30 12:33] #58627 closed

[2018-01-30 12:35] soltysh commented on #45759
Agreed, and we clearly stated that we don't want to include any DAG support in core k8s.

[2018-01-30 12:51] kmova opened #59040 "add PV resize support for iSCSI"
/kind feature
/sig storage

**What happened**:
As per the [docs ](https://kubernetes.io/docs/concepts/storage/persistent-volumes/), the support for expanding volumes has been added in 1.9 to the following:
- gcePersistentDisk
- awsElasticBlockStore
- Cinder
- glusterfs
- rbd

Related Feature: https://github.com/kubernetes/features/issues/284

**What you expected to happen**:
Support for expanding

[2018-01-30 13:36] sttts commented on #58982
Wondering whether there is (and should be) an overlap with the apiserver.

[2018-01-30 13:36] lcfang commented on #58946
@dixudx ， I can fetch the yaml correctly, but the kubelet liveness check faild like this:
[code]
Is it also be related with the network setting?

[2018-01-30 13:46] Itfly commented on #57416
@dims Did you fix this bug? I also got the error on Ubuntu 16.04 LTS on Windows Server 2016 Hyper-V
`[init] This might take a minute or longer if the control plane images have to be pulled.

Unfortunately, an error has occurred:
        timed out waiting for the condition

This error is likely caused by:
        - The kubelet is not running
        - The kubelet is unhealthy due to a misconfigurat

[2018-01-30 14:22] porridge commented on #59002
The http://k8s-testgrid.appspot.com/sig-scalability-gce#gce load capacity test is failing every single time since yesterday with a message very similar to this one.

[2018-01-30 14:23] soltysh commented on #29856
This is solved now, right @sttts ?
/close

[2018-01-30 14:23] #29856 closed

[2018-01-30 14:24] soltysh commented on #29955
I'm using this flag frequently and it's working as expected printing usable logs.
/close

[2018-01-30 14:24] #29955 closed

[2018-01-30 14:31] shyamjvs opened #59043 "Load test in our scalability jobs failing while scaling RCs"
We're seeing such failures:

[code]

in the load test in all our scalability jobs running against head. For e.g:

- https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability?before=10414
- https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce?before=6124
- https://k8s-gubernator.appspot.com/builds/kubernetes-j

[2018-01-30 14:32] soltysh commented on #21912
/lifecycle frozen

[2018-01-30 14:34] shyamjvs commented on #59043
It's quite clearly a regression, and the [diff](https://github.com/kubernetes/kubernetes/compare/5ab8f8cea...235714e7f) suggests that the following PR could've likely caused the problem:

#58298 removes the remainder from ScalerFor method

[2018-01-30 14:37] sykpour opened #59044 "macvlan packets not access host iptables"
if I make k8s network bridge mode，when I  set bridge-nf-call-iptables is 1, the packets of container can access host iptables;

However, if I make k8s network macvlan mode,  the packets of container  can not access host iptables. How I should config,  make packets of container access host iptables in macvlan mode

[2018-01-30 14:38] shyamjvs commented on #59043
cc @p0lyn0mial @deads2k

[2018-01-30 14:38] shyamjvs commented on #59043
I'm almost sure it's that one. Let me verify if reverting helps.

[2018-01-30 14:47] porridge commented on #59002
It sounds like this could be caused by #59043

[2018-01-30 14:48] porridge commented on #59043
Some references:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/10396
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/10397

[2018-01-30 14:50] 007 commented on #48767
/remove-lifecycle rotten

[2018-01-30 14:52] deads2k commented on #59043
@DirectXMan12 Can you figure out what's going on with this?

[2018-01-30 14:54] feiskyer opened #59046 "Azure Internal Load Balancer not automatically adding target network IP configurations"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Internal Load Balancer created and associated with availability set but no target network ip configurations on Azure.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

Create Kubernetes service of type LoadBalancer, annotate with "service.beta.kubernetes.io/azu

[2018-01-30 14:54] feiskyer commented on #59046
/sig azure

[2018-01-30 14:54] feiskyer commented on #59046
/assign

[2018-01-30 14:55] feiskyer commented on #59046
/kind bug

[2018-01-30 14:59] franklin-stripe commented on #48754
I ran into this issue myself, and discovered that the bug is fixed in 1.8+. Previously the infra pod docker pull was not using a credential provider: https://github.com/kubernetes/kubernetes/commit/4d5d97438b737f798709899746d8007e2291f7db

[2018-01-30 15:10] fabiand commented on #39892
In Fedora we have a planet as well - I could look at the policy we have there and see if I can somehow clean it and provide it as input here.

[2018-01-30 15:13] idvoretskyi commented on #39892
@fabiand good idea

[2018-01-30 15:18] kevincvlam opened #59047 "Dynamic Volume Provisioning not working on GKE alpha clusters"
/kind bug

**What happened**:

I created a new version 1.8.6-gke.0 alpha cluster on GKE and it no longer is allowing me to dynamically provision volumes.

I tried a few things, creating a pvc with this yaml:

[code]
And observed this error when calling 'describe' on the resource:

[code]

I also tried defining my own storage class, according to:
https://kubernetes.io/docs/concepts/storage/dynamic-

[2018-01-30 15:18] cblecker commented on #58975
/assign

[2018-01-30 15:20] kevincvlam commented on #59047
@kubernetes/sig-gcp-bugs
@kubernetes/sig-storage-bugs

[2018-01-30 15:29] kevincvlam commented on #59047
Also note that when I run

`kubectl describe storageclass`

I can see the default provisioner:

[code]

[2018-01-30 15:38] divyenpatel commented on #58927
@Xuxe
Interesting. I have "ESXi 6.0 and later (VM version 11)" compatibility set on node VMs and template VM used for cloning node VMs.

I have quickly tried out upgrading compatibility to "ESXi 6.5 and later (VM version 13)" on the VM after cloning from the template VM.

I see serial and UUID match.
[code]

[2018-01-30 15:39] timothysc commented on #59002
Closing, given the other merge.

[2018-01-30 15:39] #59002 closed

[2018-01-30 15:46] msau42 commented on #59047
@kevincvlam, alpha clusters now use the alpha disk API so you will need to enable that permission in your project

cc @saad-ali

[2018-01-30 15:50] msau42 commented on #48504
FWIW for gce, we added a call to the cloud provider to list the nodes from the informer and cache the zones.

[2018-01-30 15:54] kevincvlam commented on #59047
Thanks @msau42! How can I enable that permission?

[2018-01-30 15:56] ncdc commented on #24668
@michrabi does this help? https://github.com/kubernetes-client/python/blob/77a504e294cd3e0bf95245ae06fa90b3cf95a476/examples/exec.py

[2018-01-30 16:00] naveensrinivasan opened #59049 "High API Server latency"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
After upgrading from `1.7.7` the API server latency for `post` has gone up.
`histogram_quantile(0.99, sum(apiserver_request_latencies_bucket{subresource!="log",verb!~"CONNECT|WATCHLIST|WATCH|PROXY"}) WITHOUT (instance, resource)) / 1000000 > 1`

`
{job="kubernetes-apiservers",scope="cluster",verb="POST"} | 6.306666666666

[2018-01-30 16:08] naveensrinivasan commented on #59049
cc @kubernetes/sig-api-machinery-bugs

[2018-01-30 16:19] humblec commented on #58788
@zhangxiaoyu-zidif give me some time to go through this, I will get back on this soon.

[2018-01-30 16:20] humblec commented on #58788
/assign @humblec

[2018-01-30 16:24] DirectXMan12 commented on #59043
I have a suspicion -- none of the e2e code seems to call Reset on the `DeferredDiscoveryRESTMapper`, which, IIRC, means it never calls `Invalidate` on the underlying memory discovery cache.

[2018-01-30 16:36] sjenning commented on #58993
/sig node

[2018-01-30 16:36] deads2k commented on #58776
Do you have a reference for the last time this worked?  A brief check looks to me like it has been broken since at least v1.4 and no one has noticed.  YAGNI seems to apply.

[2018-01-30 16:43] DirectXMan12 commented on #59043
(FWIW, `Reset` is *supposed* to be called automatically, from what I can tell of the intentions, but I seem to recall that there may have been a logic issue in the `DeferredDiscoveryRESTMapper` which caused it to never be called...)

[2018-01-30 16:44] DirectXMan12 commented on #59043
(Ah, yep, we'll never be able to construct the "delegate" rest-mapper if we don't have a valid cache, so we'll never get to the line that asks if we're fresh yet)

[2018-01-30 16:52] DinaWork opened #59051 "fluentd isnt shipping logs to stackdriver"
**BUG REPORT**

I have an application deployed on kubernetes on GKE,
`Stackdriver Logging` is enabled on my cluster
fluntd-gcp image on my cluster (by default):
`gcr.io/google-containers/fluentd-gcp:2.0.9`

my logs  were all ok, seen in stackdriver,
but since a few days ago logs from one deployment (lets call it `my-app` )  stopped arriving in stackdriver
even though  they are logged from my app :

[2018-01-30 17:14] DinaWork commented on #59051
Ill note that the logs of other apps do appear in stackdriver
the logs of the failing app are very big - maybe thats why they fail to log?

[2018-01-30 17:26] yujuhong commented on #58998
Thanks for the update. Closing since the PR has been merged.

[2018-01-30 17:26] #58998 closed

[2018-01-30 17:27] Xuxe commented on #58927
@patschi @divyenpatel

yep, after upgrading my v11 coreos box to v13 the UUID stays constant and both serial and uuid matching.
So it seems to be a (bug?) in ESXi it self?

But at least, a temporary workaround was found.

[2018-01-30 17:28] gnufied commented on #59015
cc @justinsb @arun-gupta

[2018-01-30 17:28] michmike commented on #57110
@JiangtianLi  i just approved the PR again. we should be good to go. can you please check

[2018-01-30 17:35] karlhungus opened #59055 "YAMLToJSONDecoder drops data after io.ErrShortBuffer"
/kind bug

**What happened**:
Using `YAMLToJSONDecoder` subsequent reads after `io.ErrShortBuffer` would return values from the next yaml section, rather than the rest of the section being read.

**What you expected to happen**:

I'd expect the rest of the current section to get returned until the whole section has been read

**How to reproduce it (as minimally and precisely as possible)**:

See t

[2018-01-30 17:36] dchen1107 commented on #59001
LGTM. This is part of our CRI runtime qualification process.

[2018-01-30 17:42] karlhungus commented on #59055
/sig api-machinery

[2018-01-30 17:44] php-coder commented on #58950
/kind support

[2018-01-30 17:49] #26035 closed

[2018-01-30 17:53] PatrickLang commented on #30280
We did a big doc push for 1.9, and have multiple network topologies supported:

https://kubernetes.io/docs/getting-started-guides/windows/

I think this issue is safe to close

[2018-01-30 17:54] saad-ali commented on #59047
Google Cloud Support should be able to set you up with the `Required 'Alpha Access' permission for 'Compute API'`.

In the meantime, we should look in to loosening the requirement so that unless you're using an alpha feature, the volume interface uses the non-alpha (v1) API.

@verult can you take a look at this.

[2018-01-30 17:55] michmike commented on #30280
/close

[2018-01-30 17:55] #30280 closed

[2018-01-30 18:08] msau42 commented on #59047
/assign @verult

[2018-01-30 18:24] msau42 commented on #48504
ref #52322

[2018-01-30 18:25] khenidak commented on #49857
cool - Thanks
@jdumars  -- can we close this one?

[2018-01-30 18:26] smarterclayton commented on #53224
Slated as part of 1.10 under moving server GET to beta.

[2018-01-30 18:28] Random-Liu opened #59058 "`Scheduler should continue assigning pods to nodes across restart` and `validates pod affinity works properly when new replica pod is scheduled` are failing"
Following tests fail:
* `[k8s.io] EquivalenceCache [Serial] validates pod affinity works properly when new replica pod is scheduled`.
* `[sig-apps] DaemonRestart [Disruptive] Scheduler should continue assigning pods to nodes across restart`.
[code]
[code]

@kubernetes/sig-scheduling-bugs

Changes triggered this failure: https://github.com/kubernetes/kubernetes/compare/5ab8f8cea...f519cba47

https:

[2018-01-30 18:29] smarterclayton commented on #58536
Overlapping #53224

[2018-01-30 18:33] Random-Liu commented on #59058
Dup of https://github.com/kubernetes/kubernetes/issues/59043. Close

[2018-01-30 18:33] #59058 closed

[2018-01-30 18:34] Random-Liu commented on #59043
Serial test is also broken. #59058

[2018-01-30 18:38] saad-ali opened #59060 "The `Recycle` persistentVolumeReclaimPolicy should have deprecation notice."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The `persistentVolumeReclaimPolicy` called `Recycle` is being deprecated. See [announcement here](https://groups.google.com/forum/#!topic/kubernetes-dev/uexugCza84I). The documentation (comments) in the API (https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L478) should mention this.

**What you

[2018-01-30 18:46] saad-ali commented on #53357
https://groups.google.com/forum/#!topic/kubernetes-dev/uexugCza84I

But agreed that documentation should be updated to indicate this. Opened https://github.com/kubernetes/kubernetes/issues/59060 and https://github.com/kubernetes/website/issues/7148

[2018-01-30 18:47] divyenpatel commented on #58927
@Xuxe I am not able to reproduce the issue you have observed with "ESXi 6.0 and later (VM version 11)" compatibility on coreos.

Deployed core using the OVA  - https://stable.release.core-os.net/amd64-usr/current/coreos_production_vmware_ova.ova

Core OS Version
[code]

Checked `/sys/class/dmi/id/product_uuid` and `cat /sys/class/dmi/id/product_serial` in the VM.
Both are in sync.

[code]

Both `/

[2018-01-30 19:01] sleaze commented on #23896
Thanks a lot for closing this @bgrant0607, I'll just use a mashup of those tools to perform the function of this _missing feature_.

You have helped make the world of klubernetes a better place.

[2018-01-30 19:11] ekimekim commented on #57686
Hi. I'm also being affected by this bug. I thought I'd share a really hacky workaround I plan on using until it is fixed.

The idea is, since the stale values will not change, but the values we are interested in will change regularly (in particular my use-case is interested in the `kubelet_volume_stats_available_bytes` metric), we can determine the "true" value by looking at which value changed mo

[2018-01-30 19:12] brendandburns commented on #49666
Fixed now.

[2018-01-30 19:12] #49666 closed

[2018-01-30 19:14] adnavare commented on #58619
@StuAtGit : I agree to update the doc, but would not make sense before knowing what exactly should be returned there. I would love for a process that returns 0 not be be considered "Failed" too. I will try to find the owner for that code. If you do, please do comment here. Thanks

[2018-01-30 19:18] Xuxe commented on #58927
@divyenpatel

I have not cloned my ubuntu vms both are fresh setups.
CoreOS was also not cloned, installed via ISO not the OVA.

To be clear, if you upgrade a vm from 6.0 and later to 6.5 there is no issue (the ids stay constant and good, i have not tested to clone a upgraded vm).

Please try to create a **new vm** from **begining based on 6.5 and later**, now you should see the ids don't match.
A

[2018-01-30 19:33] showermat commented on #56430
I've had the same issue with the metrics server slowing down API accesses until I deleted the API service.  For what it's worth, the ultimate cause was that I forgot to include `--enable-aggregator-routing=true` in the kube-apiserver manifest.

[2018-01-30 19:51] mtanino commented on #59040
@kubernetes/sig-storage-feature-requests

[2018-01-30 20:02] nikhita commented on #52252
/remove-lifecycle stale

[2018-01-30 20:18] mtaufen commented on #18554
Closing this, as work is tracked in features/issues/281

[2018-01-30 20:18] #18554 closed

[2018-01-30 20:30] portante commented on #58638
Hi @yujuhong, newbie here with k8s: what does it mean to be "assigned" to an issue?  Thanks!

[2018-01-30 20:33] gnufied commented on #24317
FWIW - this problem applies to EBS as well. We noticed that number of volumes that can be attached to certain instance types is lower than current limit hardcoded in scheduler - https://github.com/kubernetes/kubernetes/issues/59015

There is another aspect of this problem, which we haven't tracked is - volumes attached outside k8s (or unknown to k8s). For example, if Max volume limit is 10 on AWS

[2018-01-30 20:42] gnufied commented on #24317
Another way of perhaps fixing this is to - introduce volume based taints to a node. The idea is - any component(whether controller-manager or a CSI plugin) can taint a node if the node reaches certain volume limit.

We used similar mechanism in https://github.com/kubernetes/kubernetes/pull/55558 . But problem there is - applying a unschedulable taint(in current form) to a node, stops all kind of p

[2018-01-30 20:48] huangjiasingle opened #59066 "the source code of kube-apiserver , where is the AuthenticateRequest called when a request come in ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
l  found the autorization and autentication's handle was regisry ,but l can't find anywhere to call

**What you expected to happen**:
l want know where is call when the request come in

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `

[2018-01-30 20:49] huangjiasingle commented on #59066
@kubernetes-apiserver-sig

[2018-01-30 20:50] huangjiasingle commented on #59066
@kubernetes/sig-apiserver

[2018-01-30 20:52] huangjiasingle commented on #59066
@kubernetes/sig Auth

[2018-01-30 20:58] huangjiasingle commented on #59066
@kubernetes/sig-Auth

[2018-01-30 21:02] kevincvlam commented on #59047
Thanks for your help @saad-ali, and @verult for working on it!

Just in case, are there any faster paths than Google Support (eg. self-service)? We have filed a ticket and are awaiting reply.

[2018-01-30 21:03] bchav commented on #59015
Hi, this is a known limitation with the NVMe EBS drivers for C/M5 instances.

From [the EBS documentation:](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/volume_limits.html)

C5 and M5 instances support a maximum of 28 attachments, and every instance has at least one ENI attachment. If you have no additional ENI attachments on a C5 or M5 instance, you could attach 27 EBS volumes. For informa

[2018-01-30 21:17] yujuhong commented on #58638
I assigned the issue to the three of you just to keep track and ensure you will all be included in the upcoming discussions :-)

[2018-01-30 21:27] #59043 closed

[2018-01-30 21:28] gnufied commented on #48504
/remove-lifecycle stale

[2018-01-30 21:59] icewheel commented on #53533
I am running Kubernetes in my local Ubuntu laptop and with each restart I have to turnoff swap. Also I have to worry about not to go near memory limit if swap if off.

Is there any way with each restart I don't have to turn off swap like some configuration file change in existing installation?

I don't need swap on nodes running in cluster.

Its just other applications on my laptop other than Kube

[2018-01-30 22:04] MrHohn commented on #59031
@pierreozoux One more pod level solution is using `dnsConfig`: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods-dns-config

[2018-01-30 22:07] MrHohn commented on #59031
xref https://github.com/kubernetes/features/issues/504.

[2018-01-30 22:20] ivantichy commented on #57558
Hi,
@thockin should we reopen the issue?

[2018-01-30 22:20] vladimirvivien commented on #58628
@Lion-Wei no problem.  I added some comments on the PR.

[2018-01-30 22:24] psycotica0-shopify commented on #28969
That could work.
We use a controller that watches for new pods to be created and then labels them.
Excited for it to become unneeded in 1.9

[2018-01-30 22:30] lavalamp commented on #56761
@caesarxuchao looked up the code: https://github.com/kubernetes/kubernetes/blob/7fe25af6b1310a567250675f349527d621e3815d/pkg/master/client_ca_hook.go#L77

It definitely has the bug I was talking about :(

Does the audit log not show failed POSTs?

The ordinary path does it correctly: https://github.com/kubernetes/kubernetes/blob/7fe25af6b1310a567250675f349527d621e3815d/pkg/master/controller.go#L20

[2018-01-30 22:46] lavalamp opened #59071 "admission/webhook: breaking change: POST and PUT error messages might change"
Follow-up to #56761.

Suppose the kube-system namespace already exists.

Before admission webhooks, a POST of kube-system would produce a 409 conflict error because it already existed. Now, if an admission webhook would have blocked the request, users will see a 500 error instead.

Likewise for PUTs that disallow object creation, users will (with the right sort of webhook installed) observe a 500

[2018-01-30 22:56] #46086 closed

[2018-01-30 23:00] bhack commented on #54011
In the meantime if anybody has a GPU node with Debian to test https://github.com/GoogleCloudPlatform/container-engine-accelerators/pull/51 could be useful

[2018-01-30 23:05] bhack commented on #54011
@flx42 On the nvidia-docker side ping us when you will have an AMI with nvidia-docker v2. I hope that it will be a quite "minimal" base image to be used in a k8 node.

[2018-01-30 23:20] #55941 closed

[2018-01-30 23:32] dhawal55 opened #59074 "ApiServer doesn't retry etcd connections in case of network partition"
/kind bug
/sig api-machinery

**What happened**:
I'm running HA master with apiservers and etcd instances spread out on multi AZs. The apiserver have `--etcd-servers` option set to comma-separated list of all etcd servers.
I isolated an AZ (using network ACLs) to simulate an AZ outage. The LoadBalancer in front of my apiserver removes the instance in the unreachable AZ. But some of the kubectl cal

[2018-01-30 23:51] janetkuo commented on #54816
Thanks @darend for the detailed update. I can reproduce this with 1.7 kubectl + 1.8 server.

[2018-01-31 00:14] saad-ali commented on #59047
Not that I'm aware of.

[2018-01-31 00:22] crimsonfaith91 opened #59076 "Confusing daemonset's retry creating failed daemon pods e2e test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
DaemonSet has an e2e test running `should retry creating failed daemon pods` that has dubious purpose.

**What you expected to happen**:
The e2e test should be refactored and commented clearer as it will be part of the conformance.

[2018-01-31 00:22] crimsonfaith91 commented on #59076
/sig apps

[2018-01-31 00:22] crimsonfaith91 commented on #59076
@foxish @enisoc

[2018-01-31 00:37] enisoc commented on #59076
To elaborate, we're concerned that the following may not actually ensure that DaemonSet recreates Failed Pods:

https://github.com/kubernetes/kubernetes/blob/8b9aa35d4ed8681058ae49ced71750f6d1623fe4/test/e2e/apps/daemon_set.go#L241-L249

For example, it seems possible that the Node might simply overwrite the Pod status with its own information if it hasn't yet seen the change to the Phase.

Ideall

[2018-01-31 01:20] #48527 closed

[2018-01-31 01:24] oleg-kiselev commented on #14188
I have a situation nearly identical to [this issue](https://github.com/kubernetes/community/issues/458), which was closed in favor of "Indexed Job".  What is the status of this feature?   Currently, I am not finding anything in the k8s documentation that would allow the equivalent of having "restartPolicy: "OnFailure" _and_ distinct, stateful pod identities provided by either the existing Stateful

[2018-01-31 01:32] qiupeng-huacloud commented on #32987
I have this issue in v1.9.1. My ENV is 3 master with HA mode. i delete nodeport in master1, and then create nodeport in master2. This issue will happen. Anyone knows the root cause ?

[2018-01-31 01:35] hoshsadiq opened #59078 "zsh completion takes a long time to load"
/kind bug

**What happened**:
When running `source <(kubectl completion zsh)`, it takes much longer for my zsh profile to load. Not sourcing it significantly improves performance of zsh startup.

**What you expected to happen**:
Faster speeds

**How to reproduce it (as minimally and precisely as possible)**:
1. install zsh
2. start zsh
3. add following code to your zshrc: `source <(kubectl complet

[2018-01-31 01:37] hoshsadiq commented on #59078
/sig cli

[2018-01-31 01:38] smarterclayton opened #59079 "Kubelet should fire sd notify to systemd (like genericapiserver) so it can have clean starts"
There's no downside to including the notify if systemd is not installed, and we already run it on some processes like the API.  Adding it to the Kubelet is a no brainer.

For systemd enabled systems this brings us to parity with the other components when starting the kubelet in a unit file and improves the operational experience (restart and start wait until config has been read before reporting s

[2018-01-31 01:39] smarterclayton commented on #59079
The harder problem is when to fire the notify - once static pods start, once the api is registered, or simply once the sync pod loop starts.

[2018-01-31 01:39] dixudx commented on #58982
This means we need another authX. Do we really need to introduce this?

[2018-01-31 01:58] oule opened #59081 "how to rotate log for apiserver kubelet etc.."
hello everyone,
I use k8s 1.5.2
and don't know how to set it's param for apiserver kubelet proxy controller-manager scheduler
I want rotate it's logs

[2018-01-31 02:00] yujuhong commented on #58823
The CRI change has been merged. What's left to do is implementing in kubelet, and adding a test for it once we have a CRI runtime supporting the feature.

[2018-01-31 02:24] lichuqiang commented on #59079
/cc

[2018-01-31 02:29] lcfang commented on #58946
I have got the reason, it is just the same with  [issue#54622](https://github.com/kubernetes/kubernetes/issues/54622)

[2018-01-31 02:52] islinwb commented on #59081
https://kubernetes.io/docs/concepts/cluster-administration/logging/#logging-at-the-node-level

[2018-01-31 02:55] aoxn opened #59084 "kubernetes reflector keep receive an old deleted service notification."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubernetes reflector keep receive an old deleted service notification.

We are running cloud-controller-manager in kubernetes 1.8.4 .

With some low level debug info added to the client watcher (reflector watcher informer), we found that the client watcher keep receive some OUTDATED DELETED service resource notification with the sam

[2018-01-31 02:59] aoxn commented on #59084
/sig storage
/sig API Machinery

[2018-01-31 03:20] sberd commented on #58927
@divyenpatel @Xuxe
Hi all, I recreated vm with compabiltiy 6.0. And number are equal.
[code]

[2018-01-31 03:21] aoxn commented on #59084
cc @luxas

[2018-01-31 03:27] oule commented on #59081
@islinwb
thank you verymuch
上面说要使用kube-up.sh

[2018-01-31 03:38] hzxuzhonghu opened #59087 "k8s.io/apiextensions-apiserver/test/integration TestPatch flakes"
I find so many flakes about this case.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/58445/pull-kubernetes-unit/77656/

[2018-01-31 03:38] hzxuzhonghu commented on #59087
/kind bug

[2018-01-31 03:38] hzxuzhonghu commented on #59087
/sig api

[2018-01-31 03:44] islinwb commented on #59081
@oule I'm not familiar with it....  The doc says it depends on your `deployment tool`. (If your cluster is not deployed by ` kube-up.sh`, you should query docs about the  `deployment tool` you used ).

[2018-01-31 04:23] 4406arthur commented on #57058
@janetkuo , @liggitt
I'm sorry to disturb
From the feature gate doc

I want to enable LocalStorageCapacityIsolation feature, I need set --feature-gates flag on kubelet, kube-proxy, kube-scheduler, kube-apiserver, kube-controller-manager,
or just specific one ?

[2018-01-31 04:28] fejta-bot opened #59089 "Failure cluster [d26e40...] failed 128 builds, 10 jobs, and 1 tests over 1 days"
### Failure cluster [d26e4030ef4dd5b9c0bd](https://go.k8s.io/triage#d26e4030ef4dd5b9c0bd)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    10 jobs failed,    128 builds failed.
Failure stats cover 1 day time range '30 Jan 2018 02:40 UTC' to '31 Jan 2018 02:40 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 10 |

##### Top

[2018-01-31 04:33] sberd commented on #58927
As workaround I changed uuid.bios in vm, and everything worked well. May be it's not good solution for production, but it was my test installation.

[2018-01-31 04:38] divyenpatel commented on #58927
@sberd @Xuxe
We observed this issue while testing VCP on SUSE Linux 12.3.

We installed SLE 12.3 from ISO with `ESXi 6.5 and later (VM version 13)` compatibility. `product_serial` and `product_uuid` did not match.

Reinstalled SLE 12.3 from ISO with `ESXi 6.0 and later (VM version 11)` compatibility. Verified `product_serial` and `product_uuid` matched.

[2018-01-31 04:41] divyenpatel commented on #58927
@sberd Agree. Kubernetes vSphere Cloud Provider team will come up with the solution and update this issue.

cc: @kubernetes/vmware

[2018-01-31 05:17] coffeepac commented on #21002
is there anything we still want out of this issue?  there a couple of helm charts that exist for running elasticsearch and the entire logging pipeline and the cluster addon is now daemonsets so can be installed at any time.

anyone need this issue anymore?  if not I'll the bot close it.

[2018-01-31 05:36] WanLinghao commented on #44703
@liggitt ,Hello~I propose the following ideas about label selector in RBAC:

1.When the request reaches the RBAC in the authorization filter, the RBAC component looks for the RoleBinding information in the system as it does for the existing model. Suppose the request's <verb, resource, namespace> triple  hits a match, say rule A.  If rule A has no selector,  just allow this request. Otherwise, if

[2018-01-31 06:57] saad-ali commented on #59040
CC @gnufied

[2018-01-31 07:01] yaakov2 commented on #14188
@soltysh -- Thanks for your offer to contribute to kubernetes.  I ended up writing my own job queue with the required feature: Properly signal the end of the work.

[2018-01-31 07:39] porridge opened #59095 "Failure to create firewall"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-scalability-bugs
/priority failing-test
umbrella issue: #56062

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/523 failed with:
[code]

**What you expected to happen**:

At least the reason for the failure should be printed. The 20 minutes pas

[2018-01-31 07:46] m-no-2017 opened #59096 "Ingress-Controller (with tcp-ports cm) anomaly regarding special ports"
Architecture:
- 4x Nodes
- 2x Masters (HA), 2x Worker
- built up from scratch
- k8s version 1.7.2
- Ubuntu 16.04.03 LTS, kernel v4.11 (lowlatency)

There is a bug or routing flaw (as far as I can tell) in the following setup of k8s components:

- Ingress Controller (NGINX)
- Ingress Object (k8s ingress definition)
- NGINX proxy
- Service (k8s service definition)
- POD (k8s pod definition)

Our sit

[2018-01-31 08:18] #59055 closed

[2018-01-31 08:23] nikhita commented on #59087
Already being tracked in https://github.com/kubernetes/kubernetes/issues/42644.

[2018-01-31 08:30] hzxuzhonghu commented on #59087
/close

[2018-01-31 08:30] #59087 closed

[2018-01-31 08:50] liucimin commented on #45419
I get some confuse about PLEG and ProbeManager..
The PLEG should hold the pods and Containers' healthy in the node.
The ProbeManager also hold the Containers' healthy in the node.
Why we get the two module to do the same thing?
When the ProbeManager find the container is stop,it will restart the container .At the same time
if PLEG also found the container is stop,does the PLEG make a event to told

[2018-01-31 10:00] sttts commented on #59071
/cc @kubernetes/sig-api-machinery-bugs

[2018-01-31 10:02] sttts commented on #59071
My immediate reaction is: 500 is wrong. 403 and 409 sound reasonable. If we used to have those, we should fix this in 1.9 going back to the old semantics. This is a bug IMO.

[2018-01-31 10:24] sttts commented on #58982
We have the SecureServingOptions (and also delegate authorization options) in the apiserver. The question is how we can make use of that logic. It makes a lot of sense to configure an external apiserver in the same way as controllers. So we should find a common ground for this, i.e. something like **control plane component base config**.

[2018-01-31 10:41] astro-5 opened #59105 "Run Kubelet on Mac OS"
/kind feature

**What happened**:
Downloaded kubernetes source code and built it on Mac OS X. When I tried to build and run kubelet.go file, I got the below logs:
[code]

**What you expected to happen**:
Expect to build and run kubelet natively on Mac machines without VM.

/sig node
/area kubelet

[2018-01-31 10:59] pierreozoux commented on #59031
@MrHohn I want a cluster level configuration (I don't want to have to specify this on each pod)

[2018-01-31 11:11] sttts commented on #44263
/lifecycle frozen

[2018-01-31 11:12] sttts commented on #44005
Am curious.

[2018-01-31 12:37] hgfischer commented on #35062
I have this problem as well on the following specs:

- baremetal
- Linux kubw04 4.4.0-112-generic #135-Ubuntu SMP Fri Jan 19 11:48:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- Ubuntu 16.04.3 LTS
- Kubernetes v1.9.2
- cni v0.6.0
- cri-containerd 1.0.0-beta.1
- LVM over md-raid-1

[code]

[code]

[code]

[code]

[code]

[code]

[2018-01-31 12:41] jcxian commented on #58950
@dims thank you

[2018-01-31 12:49] dvdgsng commented on #45931
/lifecycle frozen

[2018-01-31 13:11] dims commented on #58950
/close

[2018-01-31 13:11] #58950 closed

[2018-01-31 13:20] huangjiasingle commented on #59066
/sig Auth

[2018-01-31 13:21] loburm commented on #56653
@janetkuo should we expect that it's fixed in 1.7.12?

[2018-01-31 13:33] kad opened #59109 "Kubelet device plugin to pass additional information about Pods to Allocate call"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig node
/area hw-accelerators

**What happened**:
At the moment device plugin APIs in terms of `Allocate` call has no information about workload that is requesting particular HW device.

**What you expected to happen**:

We would like to have in `Allocate` call to get more information from Pod spec. At minimum it should be pod/containe

[2018-01-31 13:42] kad opened #59110 "Kubelet device plugin APIs: Deallocate"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig node
/area hw-accelerators

**What happened**:
At the moment Device Plugin APIs are handling only `Allocate` stage.
Device plugins are not aware and not receiving events when Pod/Containers are stopping using particular device.

**What you expected to happen**:
We need to have `Deallocate` part of the API, even were for many devices

[2018-01-31 13:55] andyzhangx commented on #59000
@noelbundick Your kubectl is v1.6.4, could you use a v1.7.7 kubectl to retry? I tried on my v1.7.7 cluster, does not have this issue.

[2018-01-31 14:02] RenaudWasTaken commented on #59109
Duplicate issue of kubernetes/kubernetes/issues/59110
Can you close this one, I'll answer on the #59110

[2018-01-31 14:04] ktsakalozos commented on #57996
Hi @ayen-tibco, seems the `horizontal-pod-autoscaler-use-rest-clients` config param changed its default value recently. I managed to get the autoscaler to work on Kubernetes v1.9 deployed with Juju using the following:

[code]

You should be able to get metrics from then on:
[code]

If you are using Juju you could consider opening issues here https://github.com/juju-solutions/bundle-canonical-kube

[2018-01-31 14:09] mpashka opened #59112 "hostname is not present in /etc/hosts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Under some circumstances I get error in pod running elasticsearch that pod can't get local hostname. That is because local host name (pod name) was absent in /etc/hosts

**What you expected to happen**:
Local host name must be present in /etc/hosts to allow local host resolving.

**How to reproduce it (as minimally and pr

[2018-01-31 14:23] hzxuzhonghu commented on #58682
/cc

[2018-01-31 14:31] redbaron opened #59113 "kubectl-apply silently drops annotations with boolean values"
/kind bug

**What happened**:
When creating resource with boolean value in annotation, kubectl apply completes sucessfully without any errors, but resource has no annotations.

**What you expected to happen**:

Error similar to what `kubectl create` returns

**How to reproduce it (as minimally and precisely as possible)**:

[code]

Creates:
[code]

**Environment**:
[code]

[2018-01-31 14:32] redbaron commented on #59113
/sig cli

[2018-01-31 14:37] wernight commented on #48716
Possibly related I found that `kubelet_volume_stats_inodes_free` metrics (reported in Prometheus from k8s API) is also outdated.

Running v1.8.6-gke.0.

[2018-01-31 14:50] yastij commented on #48716
@deads2k  - still experiencing this ?

[2018-01-31 14:54] RenaudWasTaken commented on #59110
/cc @vishh @jiayingz @vikaschoudhary16

Hello @kad !

Thanks for opening this issue! In general I'm in favor of adding a `Deallocate` call.

We do need to discuss what is the expected behavior in case of a crash. i.e: Do we want at most once of at least once call of that.
Currently the Allocate call has at least once behavior so it would make sense to have this call be the same.

In terms of imple

[2018-01-31 15:01] lenhattan86 commented on #52715
@msbl3004  Thanks for the response.
In fact, my problem is not the same as yours. Kubelet works fine but the Kubeadmin init hangs up.

1) kubeadm init:
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.8.7
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks
[kubeadm] WARNING: starting in 1.8, tok

[2018-01-31 15:43] huangjiasingle commented on #58801
sig/autoscaling

[2018-01-31 16:14] ChrisTerBeke opened #59117 "patch in combination with --local not working"
/kind bug

**What happened**:
Getting the following error:

[code]

**What you expected to happen**:
For the local file to be updated with the given patch

**How to reproduce it (as minimally and precisely as possible)**:
kubectl patch --local -o yaml -f YOUR_FILE_NAME -p YOUR_PATCH_HERE

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.8.6
- Cl

[2018-01-31 16:18] kad commented on #59109
@RenaudWasTaken no, it is not duplicate. this one to get pod annotations to the allocate call, #59110 is about Deallocate :)

[2018-01-31 16:25] RenaudWasTaken commented on #59109
Oh sorry you are right!
cc @jiayingz @vishh @vikaschoudhary16

[2018-01-31 16:30] RenaudWasTaken commented on #59109
I am favorable to passing information through the Allocate call.
This is something we are going to need for GPUs down the line too in order to signal if the container has a specific need for GPU to GPU communication.

In general I wonder if the Allocate call should be reformated as a single call that would contain:
it would contain:
- a map of InitContainer (name?) to devices
- a map of RegularCon

[2018-01-31 16:41] shyamjvs commented on #14733
We probably should reopen this issue as we're seeing problems due to this in large clusters (~3k nodes) with heavy node objects (particularly due to images).
Etcd seems to be consuming too much memory in storing multiple versions of those objects.

[2018-01-31 16:50] ddurgadas commented on #58956
/assign

[2018-01-31 16:50] timothysc commented on #14733
The image meta-data has always been the largest source of update.

[2018-01-31 16:52] shin-nien opened #59119 "apiserver allows duplicate service port"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I was able to add a conflicting service port to an existing service. Attempting to remove the port by modifying the yml and applying fails with `The Service "atest" is invalid: spec.ports: Required value`

Note: Kubernetes 1.8 will not accept a service.yml with conflicting ports if creating for the first time

**What you e

[2018-01-31 16:52] Nowaker commented on #44812
This would be really helpful. A flag like `--pod-names` would play well with existing option `--timestamps`. CC @kubernetes/sig-cli-feature-requests

[2018-01-31 16:52] php-coder commented on #53658
/close
as this idea was rejected: https://github.com/kubernetes/kubernetes/pull/53954#discussion_r157812365

[2018-01-31 16:52] #53658 closed

[2018-01-31 16:54] redTinted commented on #58956
/assign

[2018-01-31 16:56] shin-nien commented on #59119
/sig api-machinery

[2018-01-31 17:13] cblecker opened #59121 "cross-build: PR 58174 causing cross build failure"
[code]

https://github.com/kubernetes/kubernetes/pull/58174
https://k8s-testgrid.appspot.com/sig-release-misc#cross-build&graph-metrics=test-duration-minutes
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/4469

---
cc: @kubernetes/sig-node-bugs @kubernetes/sig-node-test-failures @filbranden @Random-Liu @vishh
/kind bug
/priority failing-test

[2018-01-31 17:17] calebamiles commented on #59121
/cc

[2018-01-31 17:27] PI-Victor commented on #53658
@php-coder anything else you need a hand with? byt the time i looked at this there was already a PR in progress, but i have more free time now.

[2018-01-31 17:28] kramarz commented on #43633
I also would like to see this feature but as workaround I use yaml ids

[2018-01-31 17:29] bgrant0607 commented on #14733
It seemed like we could have hashed the image names/digests into shorter strings, not unlike branch-predictor tables or even a bloom filter, which also would have addressed PII issues. It's just a performance hint.

[2018-01-31 17:29] php-coder opened #59123 "pkg/apis/core/validation/validation_test.go need a spliting and refactoring"
1) The file with tests is huge (and the `validation.go` too):

[code]

I'd suggest to split them to a set of files.

2) Many tests could continue to work even if the code is broken.

In many places we have a check like this: `len(errs) == 0` that always succeed if at least one, not matter which one, error is present. We should test for the expected error message instead.

Related to https://github

[2018-01-31 17:30] lavalamp opened #59124 "admission webhooks: Test: kube-apiserver should start even if webhooks block every API action."
Please write a test that:

* Starts kube-apiserver
* Adds a webhook which blocks everything it is possible to block.
* Re-starts kube-apiserver
* Verifies that kube-apiserver comes back up
* Verifies that it can remove the broken webhook.

This would have caught #56761

[2018-01-31 17:32] nicksardo commented on #58948
I just hit the same message with a single-node cluster:
[code]

The line `gce.go:462] Could not retrieve network "gce-scale-cluster"....` is expected for nodes and has no effect.

[2018-01-31 17:33] php-coder commented on #53658
@PI-Victor Yes, here is https://github.com/kubernetes/kubernetes/issues/59123 While splitting could require some approvement beforehand, the second part is definitely a good change that could be considered as a bug and should be fixed.

[2018-01-31 17:51] dcbw commented on #56794
So NodeNetworkUnavailable originally came from cloud providers and routes as you've found.  The problem is that you may wish to use a cloud provider, but you might *not* use cloud routes at all because you have an overlay.  Cloud routes are mostly relevant for the direct IP routing between nodes eg with flannel + hostgw or maybe other IP-based plugins.

What happened was that if a cloud provider w

[2018-01-31 17:52] filbranden commented on #59121
Looking at the k8s-merge-robot in PR 58174, it says:

"pull-kubernetes-cross Skipped"

(That's under "k8s-merge-robot merged commit 8440837 into kubernetes:master 17 hours ago")

Can someone tell why that test was skipped there? Wasn't the bot supposed to catch that breakage at that point instead?

Just sent #59126 to fix this, someone please review.

Thanks,
Filipe

[2018-01-31 17:55] divyenpatel commented on #58747
/assign divyenpatel

[2018-01-31 17:57] dcbw commented on #56794
@jryberg https://github.com/openshift/origin/blob/master/pkg/network/master/subnets.go#L138

[2018-01-31 18:02] ixdy commented on #59121
@filbranden because the cross build is pretty expensive and takes a while, we only run it when we think a PR is likely to cause problems (regex at https://github.com/kubernetes/test-infra/blob/49473abf5e777f8f3cc3ffda2514a6526f1a6430/prow/config.yaml#L1346).

it's obviously not perfect - nothing in your PR immediately suggested there'd be a cross-build failure.

[2018-01-31 18:09] mikedanese commented on #59066
It's a server filter:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go

that is added to the defautl request handler chain:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/config.go#L545

[2018-01-31 18:09] #59066 closed

[2018-01-31 18:10] bsteciuk commented on #36277
It looks like this work was completed in #51064. Looking at master I'm not seeing any of the `runtime.GOOS == "windows"` checks in `cmd/kube-proxy` (aside from a couple in a test).

[2018-01-31 18:12] #58813 closed

[2018-01-31 18:16] filbranden commented on #59121
Ah ok I see thanks for the clarification!

[2018-01-31 18:17] mikedanese commented on #43540
This seems like an info leak by default. It would be better to allow this by authorizing "system:unathenticated" to access the /healthz endpoint through RBAC.

[2018-01-31 18:17] #43540 closed

[2018-01-31 18:20] dcbw commented on #56794
@squeed not quite safe.  You miss the case where there is a network plugin (like flannel + hostgw or kubenet) *and* you require cloud routes to operate the plugin.  In that case, the readiness of both pieces (flannel+hostgw and cloud routes) is a separate thing and if both use NodeNetworkUnavailable, you don't know when to clear the condition.

But we've kinda already go this handled with NodeRead

[2018-01-31 18:33] cmluciano commented on #36277
/close

[2018-01-31 18:33] #36277 closed

[2018-01-31 18:48] chenopis commented on #57362
@steveperry-53 submitted a fix, which has been merged, so this can be closed.

[2018-01-31 18:54] jennybuckley commented on #49801
/cc @jennybuckley

[2018-01-31 18:54] jennybuckley commented on #55538
/cc @jennybuckley

[2018-01-31 19:01] erstaples commented on #45419
+1
Kubernetes v1.8.4

[2018-01-31 19:10] chakri-nelluri commented on #44737
This is already fixed as part of 47400

[2018-01-31 19:10] #44737 closed

[2018-01-31 19:12] chakri-nelluri commented on #50745
@harshal-shah @fredkan do you still see the issue?

[2018-01-31 19:23] Random-Liu commented on #57356
I see issue related to this again.

In the ubuntu image used in GKE, I see cadvisor report this error for cri-containerd:
[code]

The reason is that cadvisor does see `/dev/sda1` in UUID map at `/dev/disk/by-uuid`, but doesn't see `dev/sda1` in mount table `/proc/self/mountinfo`:
[code]

There are several possible solutions:
1) Let cadvisor get device number from UUID, and use device number to fin

[2018-01-31 19:26] verult opened #59148 "Add Flexvolume DaemonSet deployment examples to the examples directory"
Currently incomplete examples of DaemonSet deployment is only linked in the Flexvolume readme. A more complete example requiring minimal user interaction should be included in the `example/volume/flexvolume` directory.

[2018-01-31 19:26] verult commented on #59148
/sig storage
/assign

[2018-01-31 19:42] ravisantoshgudimetla opened #59150 "Probing container should *not* be restarted with a /healthz http liveness probe [Conformance] {E2eNode Suite}"
We have noticed few months ago that this test flaked again(https://github.com/openshift/origin/issues/12072#issuecomment-335311564)

 Opening this issue again to start dicussion on the test.

Following are my observations after going through history and logs :
- We are bringing up a nginx container and trying to check if <container_IP:80> is available.
 - While this is not a bad idea, there are ma

[2018-01-31 19:44] PatrickLang commented on #57356
I don't think device numbers are a good idea, especially when it comes to Windows. I think the right thing here is to allow an OS/distro specific implementation in that string. On Windows, I'd propose using the volume path because it doesn't change if a drive letter changes.

Would it be possible to have an ordered priority of what's used?

1. zfs / NTFS identifier that uniquely identifies that vo

[2018-01-31 19:46] nikhita opened #59151 "Strip unknown fields in custom resources"
For native resources, if an unknown field is specified, it will be ignored and dropped.

Current behaviour of custom resources: all (valid) fields are accepted and persisted. This means that custom resources do not behave like native resources now.

This can be fixed by mentioning fields in the `properties` construct of the CRD validation schema. New fields which are not specified here will be str

[2018-01-31 19:48] nikhita commented on #58682
Added https://github.com/kubernetes/kubernetes/issues/59151.

[2018-01-31 20:10] PI-Victor commented on #59123
could definitely work on this, after some feedback of course.

[2018-01-31 20:21] nathanjsweet opened #59152 "Track Linux User Namespaces in the Pod Security Policy"
/kind feature
/sig auth
This came out of the multi-tenancy discussion this afternoon:

**Problem**
Linux user namespaces are a powerful isolation primitive for containers that can offer a lot of security for containers and nodes. While it is the case that pods are ephemeral and don't need their node level configuration tracked specifically, user namespaces presents an exceptional challenge for pod

[2018-01-31 20:46] ChrisTerBeke commented on #59117
/sig cli

[2018-01-31 20:51] Random-Liu commented on #57356
We can keep the string, but just assume it is device number for linux.
We can also return multiple fields. :)

[2018-01-31 21:14] derekwaynecarr commented on #58296
I am preparing a fix to not fail when hugetlb mount is not present.  Will post a fix shortly.

[2018-01-31 21:26] thockin commented on #44248
/lifecycle frozen
/remove-lifecycle stale

[2018-01-31 21:27] thockin commented on #43174
/lifecycle frozen
/remove-lifecycle stale

[2018-01-31 21:27] thockin commented on #15636
/lifecycle frozen
/remove-lifecycle stale

[2018-01-31 21:28] #23583 closed

[2018-01-31 21:29] thockin commented on #9083
/lifecycle frozen
/remove-lifecycle stale

[2018-01-31 21:29] thockin commented on #12746
@rootfs did we triage this?

[2018-01-31 21:36] lxpollitt commented on #58624
My view is that unified security policy rather than separate Kubernetes and Istio policies is valuable for many users, and that Kubernetes Network Policy idioms are a solid base for this policy model.  (Perhaps no surprise that both Cilium and Calico are experimenting in this area!)

There's a big part of me that would like to drive wider acceptance of basing L7 policy around Kubernetes Network Po

[2018-01-31 21:39] lxpollitt commented on #58624
We kept the protocols that Network Policy recognizes today pretty small, but I feel less confident whether we could achieve a stable set of 5-10 L7 protocols.  There's a lot of L7 protocols!  So feels like either we will be forever growing this list due to pressure from a particular vendor/project/large user, or we will be falling back to annotations or CRDs as an extension mechanism to cover prot

[2018-01-31 21:46] frankgreco opened #59154 "Generator for CRD Validation Schema"
Currently, a `CustomResourceDefinition` can define validation via an OpenAPI v3 Schema. As talked about in #59151, When CRDs to go GA, any field specified in a custom resource that is not allowed according to the provided OpenAPI v3 scheme will be ignored. This will require that a validation schema be robust.

The lines of code required to define such a schema can quickly become very large. Hence,

[2018-01-31 21:50] nikhita commented on #59154
xref https://github.com/kubernetes/code-generator/issues/28, https://github.com/kubernetes/sample-controller/issues/2.

[2018-01-31 21:52] nikhita commented on #58682
Added https://github.com/kubernetes/kubernetes/issues/59154.

/cc @frankgreco

[2018-01-31 21:53] isaiah1112 commented on #58692
Something I found is that if I do not put a `/` at the beginning of my path following `:` in `<pod>:<path>` that the kubectl cp command works fine.

[2018-01-31 21:54] lxpollitt commented on #58624
Ideally there would be a better way of extending Kubernetes API objects so we could define experimental extensions or vendor/project specific extensions.  Annotations are super limited mechanism for doing this for API objects that have significant structure to them such as Network Policy.  You really want to be able to add extension fields anywhere within the existing structure.  I know this topic

[2018-01-31 21:58] mtaufen commented on #44248
/remove-lifecycle rotten

[2018-01-31 22:22] filbranden commented on #57356
So I think in Linux/Unix using {major, minor} pair should be better than using the UUID, since essentially we end up mapping a UUID to a {major, minor}, so we're just removing a layer of indirection there by using {major, minor} directly.

I thought of cases where {major, minor} would present problems. One is that a device would be removed, a new device would be added and then it would end up gett

[2018-01-31 22:49] dashpole opened #59155 "Node e2e serial local storage capacity isolation tests are failing"
/kind bug

https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-serial-gce-e2e

Example failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/3609

Pods that should be using less than their limits are being evicted for exceeding them.  These tests were passing before being moved to the serial suite from the flaky suite.

The only thing I c

[2018-01-31 22:49] dashpole commented on #59155
cc @kubernetes/sig-node-test-failures

[2018-01-31 22:55] dashpole commented on #59155
A container that hasn't written anything to disk on cos-63 (non-failing) reports a usage of 8192 bytes (8 kb), but a container that hasn't written anything to disk on cos-60 (failing) reports usage of 1318912 bytes (1.3 mb).  So something is added to these containers before the test starts writing to the container's writable layer.

[2018-01-31 23:05] vincentmli opened #59156 "kube-proxy ipvs mode create unnecessary ip virtual server listener for k8s services"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
when running kube-proxy with ipvs mode, kube-proxy creates unnecessary ip virtual server listener for
all local ip addresses on the node when the node has multiple interfaces with ip addresses

for example:

I have node with ip address below, only ip 192.168.1.3 is the actual node ip and part of k8s node network

1: l

[2018-01-31 23:12] vincentmli commented on #59156
/sig network

[2018-01-31 23:27] #57785 closed

[2018-01-31 23:29] derekwaynecarr commented on #58296
I posted a fix here:
https://github.com/kubernetes/kubernetes/pull/59158

[2018-01-31 23:51] jolcese commented on #49926
Same problem when deploying a Stateful Set on kops on AWS.
I;m trying to deploy Cassandra with 6 replicas and sometimes it fails on the first pod and sometimes in the 2nd...

[code]

[2018-02-01 00:05] mfilotto commented on #49817
@kksriram do you think it will be ready for 1.10 ?

[2018-02-01 00:16] valentin2105 opened #59160 "IPv6-only pod get killed because of 'failed to get IP addresses for "eth0":'"
**What happened**:
I got a fully IPv6-only v1.8.x cluster working at glance with Calico 2.x.

I try to deploy a new one on k8s v1.9.x and Calico 3.x.

When I schedule a IPv6-only pod, it got created nicely, got an IPv6 on his own network stack but get delete by kubelet few minutes after the creation because :

[code]

**What you expected to happen**:

Get my pod running and the IPv6 displayed on `

[2018-02-01 00:20] asarkar opened #59161 "Clearly document postStart hook behavior"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The relationship between `postStart` and readiness/liveness is not defined. The [docs](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/) say

What does this mean? How exactly does a hung `postStart` prevent a container from reaching a running state, since the ENTRYPOINT and hook fire asynchron

[2018-02-01 00:24] mindprince commented on #59155
I don't think the GPU stuff should affect anything. But cc @jiayingz who worked on the node-e2e after me.

[2018-02-01 00:32] janetkuo commented on #54816
This can be reproduced with `kubectl scale` too.

Found something weird in the error `error: Scaling the resource failed with: Job.batch "init-job-test-app" is invalid: spec.template: Invalid value: api.PodTemplateSpec`:

[code]

Init container appears in annotations even though it's not used anywhere in the yaml config. I didn't see it from `kubectl get jobs -o yaml` either. It looks like some bu

[2018-02-01 00:37] janetkuo commented on #54816
The 1.7 code that does some init-container annotation tweak in pod template conversion:

https://github.com/kubernetes/kubernetes/blob/63674b07cf8d1ccd74eef58f6e528502152814bd/pkg/api/v1/conversion.go#L463-L494

[2018-02-01 00:40] jiayingz commented on #59155
Agree with @mindprince that GPU e2e_node test doesn't seem to do anything that would affect disk usage.

[2018-02-01 00:40] kprabhak commented on #56706
Can you keep an 'ip monitor' running and watch for any interface change events? Do any of you have NetworkManager running?

[2018-02-01 01:10] yujuhong commented on #59155
According to the [test job configs](https://github.com/kubernetes/test-infra/blob/master/jobs/e2e_node/image-config-serial.yaml),  cos-stable2 is the only image using a different configuration: https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/jenkins/gci-init-gpu.yaml

Maybe that's relevant.

[2018-02-01 01:28] bgeesaman commented on #58908
I have the exact same issue, and the ```iptables -P FORWARD ACCEPT``` "hack" alleviates it, but I agree that it doesn't feel correct.  I can reach the pod via the node it's running on, but not via the other nodes unless I add that forward accept policy.

Ubuntu 16.04.3 LTS
docker 1.13.1
```DOCKER_OPTS=--ip-masq=false --iptables=false --log-driver=json-file --log-level=warn --log-opt=max-file=5 --l

[2018-02-01 01:40] #56417 closed

[2018-02-01 02:01] jhorwit2 commented on #59081
@oule The components you mentioned don't support logging directly to files (only stdout/stderr) other than the  apiserver audit logs, which does support log rotation via the `--audit-log-*` flags. Supporting log rotation is going to depend on the the deployment tool that you're using so I'm going to close this issue. You should open this issue with the respective deployment tool that you use.

You

[2018-02-01 02:01] #59081 closed

[2018-02-01 02:15] tianshapjq commented on #59150
[configure liveness and readiness probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/)
not sure if this is helpful, but to my understanding, this is technically already supported as described in this page. You just have to figure out which probe you need most, either httpGet or exec.

[2018-02-01 03:08] wanghaoran1988 commented on #58805
/asign @stewart-yu

[2018-02-01 03:11] wanghaoran1988 commented on #58814
@tomas-c What do you mean "completely terminated" ? pods being removed ?

[2018-02-01 03:12] wanghaoran1988 commented on #58981
/cc

[2018-02-01 03:21] srflaxu40 commented on #43515
I think I am seeing like this with c4.xlarge, but unsure of "why" at the moment.  It would seem r3.large works perfectly fine.

[2018-02-01 03:22] valentin2105 commented on #59160
Found the issue, it's on Cri-Containerd side.

[2018-02-01 03:22] #59160 closed

[2018-02-01 03:43] karataliu commented on #59046
Root cause:
https://github.com/kubernetes/kubernetes/commit/edfb2ad55293841abd3cbabe45fa162499831a7a#diff-c901394068476b4ccb003a6c6efad57cL306

#55740 removes the logic for retrieve private ip.

This is required however
https://github.com/kubernetes/kubernetes/blob/494664a7364d62dfa2e2700a0eabe578af3284b3/pkg/cloudprovider/providers/azure/azure_loadbalancer.go#L543

The controller-manager will cra

[2018-02-01 03:43] liggitt commented on #54816
In 1.8, the first class field governs. What is the client sending in this case?

[2018-02-01 04:26] vikaschoudhary16 commented on #59110
Or may be we would want to name it `DeInitialize`?

@RenaudWasTaken IIUC, you are talking about container crash here. If a container crashes, does pre-stop hook get invoked? I am not sure on this.

To keep the behavior consistent with `Initialize`, may be we can use the same indication, `InitRequired` received from  DP, to decide on what all events to invoke `DeInitialize`.

[2018-02-01 04:29] fejta-bot opened #59167 "Failure cluster [438f44...] failed 86 builds, 15 jobs, and 1 tests over 1 days"
### Failure cluster [438f44e91bfde2dea3a5](https://go.k8s.io/triage#438f44e91bfde2dea3a5)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    15 jobs failed,    86 builds failed.
Failure stats cover 1 day time range '31 Jan 2018 02:22 UTC' to '1 Feb 2018 02:22 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 15 |

##### Top

[2018-02-01 04:29] fejta-bot opened #59168 "Failure cluster [be5641...] failed 77 builds, 5 jobs, and 1 tests over 1 days"
### Failure cluster [be564117ff6cef692eb0](https://go.k8s.io/triage#be564117ff6cef692eb0)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    5 jobs failed,    77 builds failed.
Failure stats cover 1 day time range '31 Jan 2018 02:22 UTC' to '1 Feb 2018 02:22 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 5 |

##### Top fa

[2018-02-01 04:31] #58993 closed

[2018-02-01 04:32] divyenpatel commented on #58927
We are working on this issue. Here is the internal VMware Issue: https://github.com/vmware/kubernetes/issues/450

[2018-02-01 04:54] thockin commented on #15858
/lifecycle frozen
/remove-lifecycle stale

[2018-02-01 04:55] thockin commented on #31813
@bowei this will expire soon

[2018-02-01 04:56] #17627 closed

[2018-02-01 04:57] thockin commented on #20767
/lifecycle frozen
/remove-lifecycle stale

[2018-02-01 04:57] #25478 closed

[2018-02-01 04:57] thockin commented on #30781
/lifecycle frozen
/remove-lifecycle stale

[2018-02-01 05:02] #21056 closed

[2018-02-01 05:04] thockin commented on #24957
/lifecycle frozen
/remove-lifecycle stale

[2018-02-01 05:05] thockin commented on #30113
/lifecycle frozen
/remove-lifecycle stale

[2018-02-01 05:06] thockin commented on #14204
/lifecycle frozen
/remove-lifecycle stale

[2018-02-01 05:10] #58750 closed

[2018-02-01 05:23] ericchiang commented on #55565
For

and

I wrote a proposal for this here that was rejected:

https://github.com/kubernetes/community/pull/832

[2018-02-01 05:32] ericchiang commented on #54632
You might want to look at the authorized party claim which is used to indicate when a client requests tokens on behalf of other clients https://openid.net/specs/openid-connect-core-1_0.html#IDToken

I'm a little confused about what's being proposed in this feature. Do you just want to skip the audience check?

[2018-02-01 05:45] WanLinghao commented on #57447
try
etcd --quota-backend-bytes=8388608

[2018-02-01 06:05] rambo45 commented on #53373
Workaround:

I was getting this error with kubelet 1.9.2

Nothing shows up with lsof or fuser on /var/lib/kubelet/pods/..

Apparently, stopping the docker service released the lock and i was able to remove those directories manually

[2018-02-01 06:05] cofyc commented on #57686
@gnufied @ekimekim @gamer22026
I submitted a PR to fix this: https://github.com/kubernetes/kubernetes/pull/59170.

[2018-02-01 06:18] ericchiang opened #59171 "kubectl convince for rendering a kubeconfig from a service account"
/kind feature
/sig auth

I've written this helper a few times to configure CI jobs and advised users to do this instead of using their personal credentials for CI. The Tectonic dashboard even has this convince.

Proposed UX:

[code]

The API endpoints and CA in the generated kubeconfig should be the same as values kubectl used to contact the API server.

[2018-02-01 06:49] jeyanthimuthuram opened #59173 "No option to write hook on notification on top of kubernetes deployment completion or deployment stuck"
**What happened**:

Can't able to write any hooks for notification or any other calls following the deployment is completed or stuck on top of kubernetes deployment apply

Because once `kubernetes apply -f deployment.yml` the process handler is transfered to the deamon which is good but we can't able to keep track of the deployment status of the current , it would be nice if there is a hook or som

[2018-02-01 06:52] jeyanthimuthuram commented on #59173
/sig cluster-lifecycle

[2018-02-01 07:04] jianhuihi commented on #49065
Still in 1.9.0, Centos 7.2

[2018-02-01 07:06] cofyc commented on #57686
@ekimekim @gamer22026 @brancz @gnufied @cbandy
FYI.
I also wrote a simple [kubelet-exporter](https://github.com/cofyc/kubelet-exporter) to translate information of kubelet `stats/summary` endpoint to work around this issue in our production clusters temporarily. External exporters can be deployed & updated independently.

[2018-02-01 07:11] porridge commented on #58942
More cases:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/10459 (creating master PD)

[2018-02-01 07:13] porridge opened #59175 "Intermittent failure fetching gs://kubernetes-release-dev/ci/latest-1.7.txt"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-scalability-bugs
/priority failing-test
umbrella issue: #56062

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-release-1-7/735 failed with:
[code]

**What you expected to happen**:

This kind of error should be retried, not crash the whole job.

[2018-02-01 07:34] wanghaoran1988 commented on #57471
@bsalamat I have some free time in the fowlling weeks, fell free let me know what can I help here.

[2018-02-01 07:37] dixudx commented on #57144
/assign
Sent out #59176 to fix this.
/cc @thockin @discordianfish @PengTaoWW FYI

[2018-02-01 07:42] lijunyong opened #59177 "kubernetes HA master, the node status updating exception"
I deploy kubernetes ha master by haproxy and keepalive, but the node get error whe updating status.
I see the kubelet_node_status.go source code, the nodeStatusUpdateRetry

the kubelet exception:
[code]

Kubernetes version
[code]
Kernel
[code]
Install tools：kubernetes binary

haproy conf
[code]
keepalive conf
[code]

[2018-02-01 08:09] YoniTapingo commented on #52810
@andersla Hi, I seem to be hitting the same issue...would you mind to specify how to make a smooth transition from weave to flannel on a running cluster?

[2018-02-01 08:11] andyzhangx commented on #57356
@PatrickLang @taylorb-microsoft In current Windows implementation, it uses LUN --> Windows disk number([code](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_dd/azure_common_windows.go#L42)) --> Windows driver letter ([code](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_windows.go#L313))) to identify the disk in Windows.

[2018-02-01 08:12] andersla commented on #52810
I didn't try to change on a running cluster:)

[2018-02-01 08:14] lijunyong commented on #59177
cc @kubernetes/sig-node-hepl

[2018-02-01 08:54] huaixichen commented on #48998
any update on this issue?

[2018-02-01 08:56] #58936 closed

[2018-02-01 08:57] JeanMertz commented on #32457
/remove-lifecycle stale
/remove-lifecycle frozen

[2018-02-01 09:18] filipnowakswissre commented on #58212
i don't want to create new bug for this, but for me main problem is that in case of rc == 1 you are writing to stdout instead of stderr - like it was the case before breaking release of kubectl.

[2018-02-01 09:29] Didd commented on #50295
On my case this is happening due to a failing kubelet service('service kubelet status') and I had to do 'swapoff -a' to disable paging and swapping which fixed the problem. You can read about the "why" [here](https://askubuntu.com/questions/214805/how-do-i-disable-swap).

[2018-02-01 09:43] tiukhtinvladimir commented on #58805
Hi, same issue with controller-manager

[2018-02-01 10:02] wojtek-t commented on #14733
I thought a bit more about it and here are my thoughts:

1. I think there are two main very high-level approaches that we may potentially take here:
(a) Split the Node object in storage into two parts: "heartbeat" part and "the rest" part (obviously leaving everything as is at the api level)
(b) Somehow reuse the concept of "lease" from etcd v3 to implement cheap heartbeats at storage layer.

To e

[2018-02-01 10:11] k82cn opened #59194 "Schedule DaemonSet Pods by default scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**Description**:

After [discussion](https://docs.google.com/document/d/1v7hsusMaeImQrOagktQb40ePbK6Jxp1hzgFB9OZa_ew/edit#), we agree to let kube-scheduler to schedule DaemonSet Pods instead of DaemonSet controller. This issue is used to trace all related sub-tasks.

Design Doc: https://github.com/kubernetes/community/pull/1714
Features:

[2018-02-01 10:12] k82cn commented on #59194
/sig scheduling
/sig apps

[2018-02-01 10:29] shashidharatd commented on #58974
please raise this issue in https://github.com/kubernetes/federation
i am closing this issue as this is federation specific.
/close

[2018-02-01 10:29] #58974 closed

[2018-02-01 10:34] shashidharatd commented on #54731
This issue has been fixed.
/close

[2018-02-01 10:34] #54731 closed

[2018-02-01 10:42] lijunyong commented on #59177
@kubernetes/sig-Node-bugs

[2018-02-01 10:45] shashidharatd commented on #54576
/remove-sig multicluster

[2018-02-01 11:07] valentin2105 commented on #51764
Got the same problem with own deployed cluster on v1.9.2..

Any way to delete the deploy via ETCDv3 and etcdctl ?

Thanks !

[2018-02-01 11:19] tomas-c commented on #58814
Hey @wanghaoran1988

I meant the process running in the container being stopped/killed and the pod not being in the state "Terminating".

[2018-02-01 11:29] shashidharatd commented on #28226
/remove-sig multicluster
/remove-area federation

[2018-02-01 11:36] DanielZhangQD opened #59197 "Node changes to NotReady after restarting kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
systemctl restart kubelet, keep trying "kubectl get node", node will be notready and then endpoints on that node will be not ready
**What you expected to happen**:
node stays in ready status during kubelet restart
**How to reproduce it (as minimally and precisely as possible)**:
Just restart kubelet and then keep trying "

[2018-02-01 11:37] esevan commented on #45419
@celebdor After update cni to daemonized one, it's now stabilized without cni patch.

[2018-02-01 11:39] DanielZhangQD commented on #59197
Is it OK to initialize Kubelet.clock to time.Now() at the beginning?

[2018-02-01 11:52] pmichali commented on #59160
@valentin2105 Can you elaborate on what you found to be wrong? I've been trying to bring up K8s on bare metal with IPv6 and Kube-dns and user created pods are failing to come up with kubelet reporting permission denied when trying to add the IPv6 address to the pod:

kubelet[24092]: E0131 16:02:47.006479   24092 remote_runtime.go:92] RunPodSandbox from runtime service failed: rpc error: code = Unk

[2018-02-01 11:56] php-coder commented on #59161
/kind docs

[2018-02-01 11:57] php-coder commented on #59161
BTW it's better to submit docs issues to their own repository: https://github.com/kubernetes/website/issues

[2018-02-01 12:27] thomas-riccardi opened #59200 "kubectl annotate breaks slashes in keys with cli 1.7 and master 1.8"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`kubectl annotate` is broken when annotation key contains a slash with cli 1.7 and master 1.8.

**What you expected to happen**:
`kubectl annotate` should work even with slashes in annotation keys (it's allowed) with one minor version skew between cli and master (see https://github.com/kubernetes/website/issues/7103).

**H

[2018-02-01 12:37] thomas-riccardi commented on #59200
/sig cli

[2018-02-01 12:43] #56564 closed

[2018-02-01 13:19] lorenz commented on #45688
@rambo45 Are you running Docker 17.xx? These still don't seem to be stable with Kubernetes.

[2018-02-01 13:42] php-coder commented on #59152
When I looked at it last time, we had the idea for having identical `/etc/subuid`/`/etc/subgid` files on all the nodes in the cluster. This should solve the issue with different mappings between host and namespaced UIDs/GIDs.

CC @adelton

[2018-02-01 13:53] #59121 closed

[2018-02-01 13:57] ravisantoshgudimetla commented on #59150
@tianshapjq It is not about configuring which probe to use. The problem is with test case flaking out and it flakes for what I believe could be an infrastructure related issue. I raised this issue to ensure that everyone is ok switching to exec from httpGet.

[2018-02-01 14:06] stephanwesten commented on #58692
I tried your suggestion to drop the leading slash like this:

`kubectl cp cms-sw-one-6bf986b657-65vbn:home/cms/tomcat/logs ~/documents -c cms --namespace=od'`

This gives the following error:

stderr: tar: home/cms/tomcat/logs: Cannot stat: No such file or directory

With the leading / it works fine except for the warning.

[2018-02-01 14:27] j0gger commented on #58686
@smarterclayton @colemickens I'm happy to take this on, but need some direction here. If not you, who can offer some direction here? I am fairly new to Kubernetes.

[2018-02-01 15:04] #40063 closed

[2018-02-01 15:29] nathanjsweet commented on #59152
@php-coder Interesting. In some ways I'm quibbling with my own proposal, but do you think maybe it's a better idea to keep it as dumb as possible, and just make it another namespace configuration. I think leaving it up to the api-user to make sure the nodes are configured properly is probably a better idea, and just allowing them to specify a user namespace name ("error-ing" out if its not present

[2018-02-01 15:30] mvording commented on #55094
I had the same dashboard issue with a new 1.9.2 deployment as wrfly.    kubeadm init of cluster with flannel ip range and flannel networking yaml applied.    Joined nodes successfully.

I then tried a debug shell, that pod has the same issue.
   $ kubectl run -it --rm --restart=Never busybox --image=busybox sh --namespace=default

$ kubectl describe pod busybox
....
Tolerations:     node.kubernete

[2018-02-01 16:21] azzeddinefaik opened #59205 "a lot of connection Timeout failed issues"
We recently noticed that we have a lot of connection failed issues, in large number of our pods:

ConnectionError: HTTPConnectionPool(host='service_name', port=80): Max retries exceeded with url: /url (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f91218e82b0>: Failed to establish a new connection: [Errno -3] Try again',))

And after further investigation we noticed

[2018-02-01 16:23] php-coder commented on #59152
The approach that we tried (that was suggested by @pweil-) doesn't require PSP modification and looks simple enough.

It's not clear what do you mean here, could you elaborate on it?

Ok, here you again refers to "specify a user namespace name". Could you explain it with more details? How it will look like from technical point of view?

AFAIR docker doesn't allow you to specify a user namespace na

[2018-02-01 16:32] aveshagarwal opened #59206 "Sometimes symlinks to container logs are not created."
**Is this a BUG REPORT or FEATURE REQUEST?**: Yes

 /kind bug

**What happened**:
When kubelet restarts (due to whatever reason) after a container has been started but symlinks to the container logs are not created, the symlinks are never created, and container logs can not be read and end up with error:

[code]
At the code level, If kubelet is restarted (due to any issue) after https://github.com

[2018-02-01 16:34] outkaj commented on #44103
@kylefransham thanks for the idea! is it possible to do some sort of wildcard for the service or does your solution require the creation of a separate service for each pod? ideally, i would like to do something like:

[code]

[2018-02-01 16:35] aveshagarwal commented on #59206
/sig-node

[2018-02-01 16:36] aveshagarwal commented on #59206
/sig node

[2018-02-01 16:55] toddams commented on #11158
Seems like this is still not fixed. Is there an update?

[2018-02-01 17:08] nathanjsweet commented on #59152
Adding user namespace to the PodSecurityContext definitely counts as security related, IMO. Putting a container into a user namespace protects the node, and protects other pods. As far as making the SecurityContext correspond to the `docker run`, that seems awefully vendor specific. The OCI spec, specifically applies user namespaces directly to containers rather than being a node/host wide configu

[2018-02-01 17:13] aveshagarwal commented on #59206
Some ways to address this (sorry if some are ugly):

1. In each sync (sync pod), check if symlinks are created or not, if not create them. A fix to address this way is here: https://github.com/aveshagarwal/kubernetes/pull/9

2. Create a flag in container status that stores if symlinks have been created or not. So that in each sync, this flag can be checked and, if false, symlinks can be created (i

[2018-02-01 17:15] aveshagarwal commented on #59206
Also note, this issue not only affects symlinks, but impacts PostStart hooks too: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_container.go#L156

[2018-02-01 17:41] kksriram commented on #49817
@mfilotto Not sure. The approach proposed for this issue assumed an in-tree provider. The agreement at sig-auth and sig-api-machinery at the end of 1.9 was to have all future KMS providers be out-of-tree. We're working on implementing that for 1.10 via #51965 and the corresponding implementation in #55684 . With that direction, we are discussing a couple of ways forward for this issue

- Revise th

[2018-02-01 17:44] php-coder commented on #57787
As it's not a Kubernetes issue, I'm closing it.

/close

[2018-02-01 17:44] #57787 closed

[2018-02-01 17:58] joelsmith commented on #58719
@gertcuykens I think that should be fixed now that https://github.com/kubernetes/kubernetes/pull/57422 has merged. I don't know what you mean by ref 458.

[2018-02-01 18:00] noelbundick commented on #59000
Works with 1.7.7 kubectl. Thanks!

[2018-02-01 18:00] #59000 closed

[2018-02-01 18:14] krmayankk commented on #56682
@bsalamat we are experiencing the same issue . Is this fixed in 1.9 ? we are experiencing it quite often, is there any other fix then restarting the schedulers ?

[2018-02-01 18:27] ravisantoshgudimetla commented on #59194
@k82cn Not sure how far you have gone with implementation. Feel free to assign some tasks to me after breaking this issue into sub-tasks.

[2018-02-01 18:57] ravisantoshgudimetla commented on #59150
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/container_probe.go#L114 - I just noticed that we already have a test which does exec liveness probe test. Do we still need this test? If not, can we delete it or increase timeouts?

[2018-02-01 19:00] janetkuo commented on #54816
@liggitt The 1.7 client gets an internal Job from internalclientset. The job's template has init-container field set, but doesn't have init-container annotations.

However, when the client sends an `Update` to the 1.8 server here:
https://github.com/kubernetes/kubernetes/blob/3bda299a6414b4866f179921610d6738206a18fe/pkg/kubectl/scale.go#L403

The server somehow thinks that the client is trying to

[2018-02-01 19:00] naumvd95 commented on #40027
/remove-lifecycle rotten

[2018-02-01 19:10] crimsonfaith91 opened #59213 "deployment's collision avoidance mechanism is not triggered when a replicaset's non-PodTemplateSpec field is changed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Deployment's collision avoidance mechanism assumes that if a replicaset's PodTemplateSpec is semantically deep equal with the deployment's PodTemplateSpec, then the replicaset is the new replicaset for the deployment. This assumption does not take into account the case when the user updates only a field of the replicaset t

[2018-02-01 19:23] #58681 closed

[2018-02-01 19:26] bsalamat commented on #56682
The cache having stale information or not receiving events is a known issue, but the root-cause is not yet identified. So, 1.9 does not have a fix for the issue.

[2018-02-01 19:42] dashpole commented on #59011
issue appears resolved

[2018-02-01 19:42] #59011 closed

[2018-02-01 19:42] dashpole commented on #48843
I dont think we can actually remove the OOD condition, but the kubelet shouldn't need to generate it anymore.

[2018-02-01 19:45] dashpole commented on #41055
a lot has changed since this was open, and I think we are content with the current design for the time being.

[2018-02-01 19:45] #41055 closed

[2018-02-01 19:54] rramkumar1 opened #59215 "Refactor proxiers to share implementation of ServiceHandler & EventHandler"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind cleanup

**What happened**:
There is still some duplication among kernel space proxiers. Specifically, each proxier implements the ServiceHandler and EndpointsHandler in the exact same way.

**What you expected to happen**:
Ideally, we could abstract each Proxier behind a KernelSpaceProxier interface which defines certain methods such as ServiceC

[2018-02-01 20:08] yjiang5 opened #59216 "Resource exclusively access support on RBAC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind feature

**What happened**:
In some situation, we don't want user to access both type of resources, i.e., one role can access either resource A, or resource B, but can't access both of them.

Currently this can't be achieved through RBAC yet.

**What you expected to happen**:
When user create roles to access both resource A/B, or create role bind

[2018-02-01 20:45] mattnworb commented on #39596
Seems like this was done in #39852 and #41538 and can be closed now, right?

[2018-02-01 21:08] jennybuckley commented on #58853
/cc @yliaog

[2018-02-01 21:09] jennybuckley commented on #58875
/cc @mbohlool

[2018-02-01 21:10] sjenning commented on #58711
Ok, I've really looked into this today and I'm thinking that option 1 is the only solution here.  Without merging the container statuses from both the API server *and* the runtime, you can't accurately derive the pod status, which makes option 2 problematic.

An option 3 that I entertained was prohibiting removal of containers that are associated with a pod, only allowing removal of containers aft

[2018-02-01 21:10] jennybuckley commented on #58931
/remove-sig api-machinery

[2018-02-01 21:10] rramkumar1 commented on #59215
/assign

[2018-02-01 21:10] jennybuckley commented on #58982
/cc @cheftako

[2018-02-01 21:17] jennybuckley commented on #59071
cc @caesarxuchao

[2018-02-01 21:17] jennybuckley commented on #59071
cc @yliaog

[2018-02-01 21:18] valentin2105 commented on #59160
Hi @pmichali
I don't know anything about BridgePlugin, but if you use Calico CNI, you can easily got IPv6 only on your cluster.

The problem was with cri-containerd and one if his dependency :
https://github.com/containerd/cri-containerd/issues/580
It's currently get fixed.

With Docker, the IPv6 is directly added to the pod and viewable on k8s :

[code]

[2018-02-01 21:18] jennybuckley commented on #59074
cc @mbohlool @jpbetz @wenjiaswe

[2018-02-01 21:19] lavalamp commented on #59049
How high did the latency used to be, and how high is it now? The snippet of logs is in the 6ms to 18ms range which is super fast (1s is the SLO).

[2018-02-01 21:20] jennybuckley commented on #59119
/sig network

[2018-02-01 21:20] jennybuckley commented on #59119
cc @mbohlool

[2018-02-01 21:27] jennybuckley commented on #59124
cc @jennybuckley

[2018-02-01 21:40] anfernee commented on #12455
I would like to take care of it.

(not sure if this would work...)
/assign @anfernee

[2018-02-01 22:14] jpbetz opened #59221 "Document upgrade and downgrade steps for etcd 3.2 upgrade"
For kubernetes 1.10, we've upgraded the default etcd version to 3.2. As part of this we also must document:
- Steps to upgrade etcd from 3.1 to 3.2
- Steps to rollback from 3.2 back to 3.1 if anything goes wrong. The downgrade path will be to use etcdctl save/restore, which requires downtime but can be performed with zero data loss.

[2018-02-01 22:31] gzzo commented on #57853
Given that I'm unable to reproduce this issue, I'm closing it.

[2018-02-01 22:31] #57853 closed

[2018-02-01 22:36] cblecker opened #59223 "cross-build: PR 58680 causing cross build failure"
[code]

https://github.com/kubernetes/kubernetes/pull/58680
https://k8s-testgrid.appspot.com/sig-release-misc#cross-build&graph-metrics=test-duration-minutes
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/4501

---
cc: @kubernetes/sig-network-bugs @kubernetes/sig-network-test-failures @m1093782566 @brendandburns
/priority failing-test

[2018-02-01 22:46] franshamk commented on #44103
@outkaj I always manually defined a separate service for each pod in advance.

As a wild idea,  you could implement some sort of dynamic solution by using the initContainer to start the service also.  You'll have to wildcard the port too, since different services can't share the same client port.

[2018-02-01 23:05] crimsonfaith91 commented on #53617
I also encountered the error when working on DaemonSet's integration tests: #59013

[2018-02-01 23:12] yliaog commented on #58853
due to the time change (from future to back), kubelet won't update pod status.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/status/status_manager.go#L297

could you just kill the pod, and have it recreated?

/sig node
/remove-sig api-machinery

[2018-02-01 23:33] krzyzacy commented on #56507
IMO sig-testing don't decide which test to run on alpha e2e, maybe this is
/sig gcp
?
cc @abgworrall

[2018-02-01 23:39] halbritt commented on #36499
Is this still outstanding?

[2018-02-01 23:50] msau42 commented on #36499
Yes unfortunately it's still whitelist-only for the time-being.  Please contact me if you want to be added to the whitelist.

[2018-02-02 00:09] dashpole commented on #58711
The only problem I can see with that approach is that then we cannot determine when a pod's containers have been deleted.  We currently use [the absence of containers](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L916) to determine if they have been deleted.

I think we can scope the problem down slightly.  It isn't the entire pod status that is incorrect, it is

[2018-02-02 00:13] dimm0 commented on #58589
Is there an example on how to enable psp with allowing everything in kube-system and restricting everywhere else?

[2018-02-02 00:26] abgworrall commented on #56507
I've forgotten why sig-gcp is considered the owner of alpha testing; it's not as if all alpha features are GCP features or anything.

That said, I'd agree, it makes sense to run the regular test suite against an alpha-feature-enabled instance of K8s. (If someone is going to look at the results, that is ...)

[2018-02-02 00:27] RenaudWasTaken commented on #59110
How about "Terminate"?

No kubelet crash.

[2018-02-02 00:31] toddrosner commented on #58059
Same problem here...

[2018-02-02 00:37] DanielZhangQD commented on #59197
/sig node

[2018-02-02 00:39] yujuhong commented on #58711
@sjenning, yes, the observed state from the runtime (`podStatus`) was intentionally decoupled from the pod status to send to the api server.

Directly manipulating the containers (without going through kubelet) could cause a lot of issues. I think it should be discussed separately.

What if kubelet dies before persisting the state to the api server?

Before we rush to the conclusion, @sjenning how

[2018-02-02 00:43] michmike commented on #55861
@orangedeng do you mind if we close this ticket? you should reach to the sig-windows slack channel for resolving additional questions.
Here's the getting started guide with all the details
https://github.com/kubernetes/community/tree/master/sig-windows

[2018-02-02 00:44] michmike commented on #55861
/close

[2018-02-02 00:44] #55861 closed

[2018-02-02 00:45] michmike commented on #38999
please use the slack channel for additional support. cleaning up this ticket right now.
https://github.com/kubernetes/community/tree/master/sig-windows has all the details to get started or to find the slack channel for support

/close

[2018-02-02 00:45] #38999 closed

[2018-02-02 00:46] yujuhong commented on #51665
/cc @agau4779

[2018-02-02 01:14] msau42 commented on #56507
At least in sig storage, we recently had 2 encounters of regressions in alpha clusters that went unnoticed for at least 1 or 2 releases, and could have been easily caught by regression testing.  So we are definitely interested in monitoring the tests we own at least...

[2018-02-02 01:31] hzxuzhonghu commented on #59216
what's use case?

[2018-02-02 01:31] hzxuzhonghu commented on #59216
/sig auth

/cc @liggitt

[2018-02-02 01:39] dashpole commented on #59155
I did confirm that the yaml file https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/jenkins/gci-init-gpu.yaml is what is adding some directories to an empty container.
The directories added are:
`dev/`
--->`console`
--->`pts/`
--->`shm`
`etc/`
--->`hostname`
--->`hosts`
--->`mtab`
--->`resolve.conf`
`proc/`

all files and folders are empty, except `etc/mtab`, which appears to conta

[2018-02-02 01:41] m1093782566 commented on #59223
Sorry, but I will fix it ASAP.

[2018-02-02 02:07] naveensrinivasan commented on #59049
This is not happening anymore. Closing it for now.

[2018-02-02 02:14] m1093782566 commented on #59215
sounds good to me.

[2018-02-02 02:14] liggitt commented on #59216
That doesn't seem a very common use case. For specialized authorization strategies, the webhook authorizer might be a better fit

[2018-02-02 02:28] z-oo commented on #49314
I am seeing this in 1.9. What steps I need to take to solve this problem?

[code]

[2018-02-02 02:30] zhangxiaoyu-zidif opened #59235 "isolated endpoint would be replaced by new built endpoint with service"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
I am not sure if this is a bug.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. create a endpoint without service.
2. create a service with selector, and its name is the same as the existed endpoint.
3. the service will result in creating a new endpoint.
4. the old is

[2018-02-02 02:31] zhangxiaoyu-zidif commented on #59235
/cc @MrHohn

[2018-02-02 02:31] zhangxiaoyu-zidif commented on #59235
/sig network

[2018-02-02 02:50] #58461 closed

[2018-02-02 02:51] DanielZhangQD commented on #59197
BTW, when kubelet starts up, all containers will be not ready by default, and then become ready when readiness probe succeeds, so during kubelet restarts (e.g. kubelet upgrade), endpoints on that node will be moved from addresses to notreadyaddresses, which will cause service access failure if only one pod deployed for some services.

[2018-02-02 03:04] hzxuzhonghu commented on #43214
I can do the work move Ingress to apps.

[2018-02-02 03:25] zhangxiaoyu-zidif commented on #59235
/hold
I need to add some more information.

[2018-02-02 03:31] stewart-yu commented on #59156
/area ipvs

[2018-02-02 03:32] bgrant0607 commented on #43214
@hzxuzhonghu Please do not move Ingress at this time. And it doesn't belong in apps.

[2018-02-02 03:36] hzxuzhonghu commented on #43214
I misspell it should be network.

[2018-02-02 03:39] #33355 closed

[2018-02-02 03:40] kksriram commented on #51965
/remove-lifecycle stale

[2018-02-02 04:01] bgrant0607 commented on #18620
/remove-lifecycle rotten

@bsalamat @derekwaynecarr @davidopp Please de-dupe this issue, #18438, and #12455. (and there are probably others)

[2018-02-02 04:02] bgrant0607 commented on #12455
See #18620, and please discuss in SIG scheduling first.

[2018-02-02 04:30] fejta-bot opened #59241 "Failure cluster [db6a65...] failed 79 builds, 5 jobs, and 1 tests over 1 days"
### Failure cluster [db6a656c236ca98d78d9](https://go.k8s.io/triage#db6a656c236ca98d78d9)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    5 jobs failed,    79 builds failed.
Failure stats cover 1 day time range '1 Feb 2018 02:22 UTC' to '2 Feb 2018 02:22 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-instrumentation] Sta

[2018-02-02 04:57] sjenning commented on #58711
Here is the full log from a pod where this happened since the pastebin in the original issue expired:
[pod-failed-succeeded.log](https://github.com/kubernetes/kubernetes/files/1688080/pod-failed-succeeded.log)

You can see that the container `2ba70598ffa93e42963715706bc71c1e45bfc15078a1050dfb86b1cb3889bb14` is deleted *very* shortly (milliseconds) after dying:
[code]
There is almost a concurrent u

[2018-02-02 05:27] xingzhou commented on #39596
yeap, closing it.

[2018-02-02 05:27] #39596 closed

[2018-02-02 05:28] mtaufen commented on #53533
Set the following Kubelet flag: `--fail-swap-on=false`

On Tue, Jan 30, 2018 at 1:59 PM, icewheel <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-02-02 05:38] mtaufen commented on #43931
/remove-lifecycle rotten
/remove-lifecycle stale

On Sat, Jan 27, 2018 at 2:08 AM, fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-02-02 05:38] mtaufen commented on #43931
@random-liu

On Thu, Feb 1, 2018 at 9:37 PM, Michael Taufen <mtaufen@google.com> wrote:

--
Michael Taufen
Google SWE

[2018-02-02 06:05] icewheel commented on #53533
thanks @mtaufen

[2018-02-02 06:35] m1093782566 commented on #59223
/assign

[2018-02-02 06:40] akhmadfld commented on #29789
Is this issue fixed?

I tried in kubernetes 1.8.4 with these additional annotation from existing ELB:
- service.beta.kubernetes.io/aws-load-balancer-name: "some-name"
- kubernetes.io/aws-load-balancer-name: "some-name"
- kubernetes.io/loadbalancer-name: "some-name"

and nothing changed

[2018-02-02 06:43] m1093782566 commented on #59223
PR #59243 is already sent. Wating for CI report...

[2018-02-02 06:51] porridge opened #59244 "gce-large-performance failed due to unavailable apiserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-scalability-bugs
/priority failing-test
umbrella issue: #56062

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/51 failed with:
[code]
I think Shyam has some theory.
/assign @shyamjvs

**What you expected to happen**:

**How to reproduce it (as minim

[2018-02-02 06:52] rahmonov commented on #51835
On GKE, upgrading nodes helped instantly.

[2018-02-02 07:42] aoxn commented on #59084
FIXed .   Apiserver bug.

[2018-02-02 07:47] ktsakalozos commented on #55602
We can close this. The fix is released.

[2018-02-02 07:57] ktsakalozos commented on #55151
Probably this will make no difference, but here is the lxc profile used by Canonical's Kubernetes for lxd deployments: https://github.com/conjure-up/spells/blob/master/canonical-kubernetes/steps/00_process-providertype/lxd-profile.yaml

[2018-02-02 08:16] plenderyou commented on #58927
I suffered the same issue on a clean install of kubernetes. I rebuilt the machines using the old Compatibility layer and all seemed to work I could provision disks. One question though is disk.enableUUID still required it seemed to work without it

[2018-02-02 08:21] clivez commented on #58853
@yliaog thank you very much for your reply. The problem could be solved by killing the pod, the pod would be recreated immediately and become ready.
But my concern is that, as you know, the time change is common to some extent in production environment, I think it is not a very good method to let kubelet just stop to update pod status, maybe you can add some fix to this time change situation, for

[2018-02-02 08:24] firebook commented on #27710
Any one have solution to support this feature without using Federation?

[2018-02-02 08:37] porridge commented on #59244
Looks like failure in https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/68/build-log.txt might also be caused by the same thing - kube-dns pods do not get scheduled in time.

[2018-02-02 08:47] arno01 commented on #58589
@dimm0 having the ``PodSecurityPolicy`` admission control enabled will automatically prevent anything from its creation until there is at least one PSP exists and is binded to a service account / user / node via RoleBinding or a ClusterRoleBinding.

So until you create the PSP and properly bind it, it means it will be restricted everywhere else it hasn't been binded to. And then you can create dif

[2018-02-02 09:07] feiskyer opened #59255 "PublicIP not removed after deleting LoadBalancer service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When creating many LoadBalancer services, some services may exceed Azure basic LB's FrontendIPConfiguations quota (default is 10). Public IPs are created for all services, but it is not removed after deleting the kubernetes services.

[code]

**What you expected to happen**:

Remove the public IP.

**How to reproduce it

[2018-02-02 09:07] feiskyer commented on #59255
/sig azure

[2018-02-02 09:16] #59046 closed

[2018-02-02 09:35] dhilipkumars commented on #57447
cc @kubernetes/sig-api-machinery-bugs

[2018-02-02 09:42] dhilipkumars commented on #56714
cc: @deepak-vij & @shivramsrivastava

[2018-02-02 09:50] humblec commented on #58788
Few observations here:  the issue description says you are using kube 1.6 release. Can you reproduce this issue with kube `1.8 or kube 1.9`?

Why I am asking is below error scenario has been fixed in these versions.

[code]

These errors wont pop in kube 1.8 or 1.9 and also there is a fix for kubelet mount in these latest versions. so if you hit this issue with kube 1.8 or 1.9, please let me know.

[2018-02-02 09:55] pdecat commented on #6545
*Update for those still coming here for solutions.*

Nowadays, the proper way to achieve this is to deploy kubernetes' IP Masquerade Agent and configure it not to masquerade IP addresses only for really local traffic and not the entire RFC1918 CIDRs.
That way traffic to other destinations in private networks is masqueraded properly and accepted by VPN gateways.

Example `ip-masq-agent` ConfigMap:

[2018-02-02 10:03] tiukhtinvladimir opened #59257 "--configure-cbr0=true not recognised on 1.9.2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

**What you expected to happen**:
As mentioned in documentation here https://kubernetes.io/docs/getting-started-guides/scratch/#networking I expected cbr0 to be created
**Environment**:
- Kubernetes version (use `kubectl version`):
1.9.2
- OS (e.g. from /etc/os-release):
Debian 9.3

[2018-02-02 10:11] zhangxiaoyu-zidif commented on #58788
OK， thanks. I will test it recently.

[2018-02-02 10:27] slaskawi commented on #23291
I would also love to see an Ingress that supports custom TCP-based protocols. Currently in OpenShift we got it working by using TLS/SNI. However you get a performance hit that was and in some cases (like Data Grids without sensitive data) it is not desirable. Another options to look at are `HTTP/1.1 Upgrade` and TLS/ALPN for switching an HTTP connection to a custom protocol. We'll see how that goe

[2018-02-02 10:42] shyamjvs commented on #58154
Ok.. So I created the [CI job](https://k8s-testgrid.appspot.com/sig-scalability-benchmarks#scheduler) running the scheduler benchmarks once every hour. It's mostly green and pretty-prints the benchmark results as an artifact in the logs. For e.g, see - https://storage.googleapis.com/kubernetes-jenkins/logs/ci-benchmark-scheduler-master/296/artifacts/BenchmarkResults.txt

What remains to be done no

[2018-02-02 11:14] pmichali commented on #59160
I found for bridge plugin (one of the reference plugins for K8s that happens to support IPv6), that I needed to downgrade docker from 17.12.0-ce to 17.03.2-ce (other versions may work too). I no longer see the error and IPs are assigned fine.

I do plan on trying Calico too, in the near future.

[2018-02-02 11:45] adelton commented on #59152
I believe there are two parts to the user namespace functionality. One is isolating the containers from the host (so that root process in container does not run as uid 0 on the host), another one is isolating the pods from each other.

With dockerd, the first part can be achieved with `--userns-remap` option. It then uses that single namespace for all containers and images. The https://github.com/

[2018-02-02 11:56] adelton commented on #59152
For the second use case, using user namespaces to isolate pods from each other, I wonder if the ideal situation would be for the user / admin not having to deal with is at all and everything being automated the way uid allocation is now. Forcing the admin to specify namespace names seems error-prone.

That would mean that we'd need the ability to get the maximum uid used by container image, comput

[2018-02-02 12:28] wojtek-t opened #59263 "pull-kubernetes-e2e-kops-aws is broken in 1.7 branch"
pull-kubernetes-e2e-kops-aws is consistently failing on all PRs from 1.7 branch, e.g.:
https://github.com/kubernetes/kubernetes/pull/59164
https://github.com/kubernetes/kubernetes/pull/59192

OTOH, the AWS tests on 1.7 branch look pretty healthy:
https://k8s-testgrid.appspot.com/sig-release-1.7-blocking#aws-release-1.7

@justinsb @kubernetes/test-infra-maintainers @kubernetes/sig-aws-misc - can so

[2018-02-02 13:15] jhorwit2 commented on #59255
/area cloudprovider

[2018-02-02 13:29] kargakis opened #59266 "set-based selectors are broken in statefulsets"
If a set-based (new type) selector is used with statefulsets, the statefulset breaks and never starts a pod. The reason is [this](https://github.com/kubernetes/apimachinery/blob/bfe7139b14565386b4470736ca765bf21616b60e/pkg/labels/labels.go#L157) selector conversion helper.

Reproduce with:
[code]
[code]
Controller manager logs:
[code]
[code]
@kubernetes/sig-apps-bugs

[2018-02-02 13:33] simo5 commented on #59152
I see three options:
1) Just host isolation (what docker supports now)
2) Pod isolation (automatic random assignment and all, to isolate one pod from another only)
3) Explicit user namespace and mapping assignment

The latter one would require configuration on the pod specification, I do not think peeking at images would make sense because the image defintion does not necessarily expose anything o

[2018-02-02 13:33] froy001 commented on #47893
I ran into the same issue. Kubernetes on GCP.

**Kubernetes version:**
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.2", GitCommit:"bdaeafa71f6c7c04636251031f93464384d54963", GitTreeState:"clean", BuildDate:"2017-10-24T19:48:57Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.5-gke.0", GitCommi

[2018-02-02 13:37] kargakis commented on #59266
@kubernetes/sig-api-machinery-bugs [this](https://github.com/kubernetes/apimachinery/blob/bfe7139b14565386b4470736ca765bf21616b60e/pkg/labels/labels.go#L157) helper is broken. The [podnodeselector admission plugin is also using it](https://github.com/kubernetes/kubernetes/blob/11576c3650f64a3d1c4e4c6a2a050f5181690bca/plugin/pkg/admission/podnodeselector/admission.go#L154).

[2018-02-02 13:43] adelton commented on #59152
Thanks for spelling out the option # 3. I agree that for that setup, the admin/user should make things consistent. Can we assume that that includes distributing matching `/etc/subuid` / `/etc/subgid` on the nodes, for example?

For the # 2, how do you propose the allocation to happen? I assume that one of the use-cases for the automatic allocation would be "I just want to run container from random

[2018-02-02 14:24] justinsb commented on #43784
/remove-lifecycle rotten

[2018-02-02 14:24] justinsb commented on #59263
Thanks for the heads up - looking!

[2018-02-02 14:29] irfanurrehman commented on #57505
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#199.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:29] #57505 closed

[2018-02-02 14:33] irfanurrehman commented on #26675
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#200.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:33] #26675 closed

[2018-02-02 14:33] irfanurrehman commented on #30544
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#201.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:33] #30544 closed

[2018-02-02 14:33] irfanurrehman commented on #31074
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#202.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:33] #31074 closed

[2018-02-02 14:34] irfanurrehman commented on #35637
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#203.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:34] #35637 closed

[2018-02-02 14:34] irfanurrehman commented on #39674
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#204.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:34] #39674 closed

[2018-02-02 14:35] irfanurrehman commented on #39804
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#205.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:35] #39804 closed

[2018-02-02 14:35] irfanurrehman commented on #41302
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#206.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:35] #41302 closed

[2018-02-02 14:35] irfanurrehman commented on #42263
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#207.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:35] #42263 closed

[2018-02-02 14:35] irfanurrehman commented on #42355
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#208.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:35] #42355 closed

[2018-02-02 14:36] irfanurrehman commented on #44160
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#209.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:36] #44160 closed

[2018-02-02 14:36] irfanurrehman commented on #44384
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#210.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:36] #44384 closed

[2018-02-02 14:37] irfanurrehman commented on #44743
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#211.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:37] #44743 closed

[2018-02-02 14:37] irfanurrehman commented on #45189
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#212.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:37] #45189 closed

[2018-02-02 14:37] irfanurrehman commented on #50076
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#213.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:37] #50076 closed

[2018-02-02 14:38] irfanurrehman commented on #52315
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#214.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:38] #52315 closed

[2018-02-02 14:38] irfanurrehman commented on #53566
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#215.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:38] #53566 closed

[2018-02-02 14:39] justinsb commented on #59263
Ah - I think this is https://github.com/kubernetes/kubernetes/pull/55417 again, but with mkfifo.  When we did the equivalent of https://github.com/kubernetes/kubernetes/pull/57756 in kops, we added a dependency on mkfifo.  Again it's in the non-CI builds, and it's in >= 1.8, but I'll send a PR to add mkfifo to 1.7 CI

[2018-02-02 14:42] #58719 closed

[2018-02-02 14:44] iMartyn commented on #45173
@justinsb Any more thoughts on that one? It's infuriating me every time I have to explain why the services are listening on port 443 internally.

[2018-02-02 14:48] justinsb commented on #59263
PR is https://github.com/kubernetes/kubernetes/pull/59268

[2018-02-02 14:52] irfanurrehman commented on #53928
This issue was labelled for sig/multicluster and is thus moved over to kubernetes/federation#216.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:52] #53928 closed

[2018-02-02 14:57] irfanurrehman commented on #53930
This issue was labelled with sig/multicluster and is thus moved over to kubernetes/federation#217.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:57] #53930 closed

[2018-02-02 14:57] irfanurrehman commented on #55326
This issue was labelled with sig/multicluster and is thus moved over to kubernetes/federation#218.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2018-02-02 14:57] #55326 closed

[2018-02-02 15:09] chris-short opened #59269 "ContribEx Guide Needs to Recommend Mailing List Best Practices"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
As a Kubernetes community member, it is difficult to attain a good signal-to-noise ratio with regards to GitHub notifications and mailing list messages.

**What you expected to happen**:
I'd like to get some guidance on how to be an effective communicator in the Kubernetes community. In other words, not be deluged by

[2018-02-02 15:16] #59269 closed

[2018-02-02 15:23] wojtek-t commented on #59263
@justinsb - thanks a lot for looking and fixing!

[2018-02-02 15:45] nathanjsweet commented on #59152
I would just like to make it clear that I'm advocating for option #3, as it keeps Kubernetes stupid to the node configuration. There are many possible use cases for user namespacing, some users might want all pods isolated from one another, while some might want to create a concept of "tenancy" where a group of pods are part of the same "tenant" and don't need to be isolated from one another, but

[2018-02-02 16:03] huangjiasingle commented on #59066
@mikedanese  yeal  l got it and understand it. thank you

[2018-02-02 16:18] irfanurrehman commented on #38593
The APIs considered alpha are disabled by https://github.com/kubernetes/kubernetes/issues/42587, thus closing this issue. @nikhiljindal please correct me if this is not the case.
/close

[2018-02-02 16:42] emilhdiaz commented on #25379
This is major blocker for us to run Kubernetes into production. Any advice would be much appreciated!

I already tried to simulate a certificate rotation in a test environment and couldn't do so without causing downtime for running applications.

/remove-lifecycle stale

[2018-02-02 16:58] roboll opened #59275 "kubelet manifest dir sync broken"
/kind bug

cc. @timothysc

**What happened**:
Since https://github.com/kubernetes/kubernetes/pull/50984 - specifically https://github.com/kubernetes/kubernetes/pull/50984/files#diff-bf28da68f62a8df6e99e447c4351122dR303, kubelet always calls `cfg.Channel(kubetypes.ApiserverType)`, leading it to always register an apiserver source with the `PodConfig`. This leads to `PodConfig.SeenAllSources` to nev

[2018-02-02 17:33] divyenpatel commented on #58927
@plenderyou
Yes we need to set `disk.enableUUID` to `1`, so that disks can be identified in the container host using its UUID.

[2018-02-02 17:40] sjenning commented on #59206
@aveshagarwal can you open up a PR for this based on your branch and open a new issue to track the issue where if we hit a `context deadline exceeded` on `StartContainer` or restart the kubelet in the middle of the `StartContainer()` that the container can still come up, as the runtime will continue to try to start the container.  If that happens, the post-start hooks will not be executed.

[2018-02-02 17:45] zapman449 commented on #45976
Wrote a daemonset pod to `getent hosts <hostname>` against several 'well known' hosts inside and outside the cluster every 5 seconds.

Those pods are seeing 5-10 errors a day in my clusters.

kubernetes version 1.7.10 FWIW, built with kops 1.7.1

[2018-02-02 17:50] dashpole commented on #52208
/sig cluster-lifecycle
These are master upgrade failures.

[2018-02-02 17:50] yliaog commented on #58853
or maybe upgrade to k8s 1.9.x built with go 1.9 with monotonic time (https://golang.org/doc/go1.9#monotonic-time)

I'll leave it for people from sig-node to weigh in

[2018-02-02 17:52] simo5 commented on #59152
@adelton I think for the second case we can allow the user to specify/requet a range perhaps, but I would think we just want to allocate randomly by default, to keep things simple.
@nathanjsweet I am not sure what it menas to advocate for opetion 3, the 3 I mentioned before are seprate cases that I think should be supported in Kube, all of them should be, not any specific one.
If any of those case

[2018-02-02 17:58] bgrant0607 commented on #23291
cc @kubernetes/sig-network-feature-requests @bowei

[2018-02-02 18:12] dimm0 commented on #58589
Thanks @arno01!

[2018-02-02 18:34] msau42 commented on #49906
Actually, looking at the OP's example again, I'm not clear and why it failed.  Each pod in the statefulset should have followed the zone where the PV was provisioned.  The only times it would fail scheduling is if you run out of resources in the zones where the PV was provisioned.

@toidiu are you seeing the same issue as the OP? Can you paste your example here?

[2018-02-02 18:37] msau42 commented on #49906
Oh nm I see the problem.  The OP's nodes came up a-b-a-b-a, but the volumes were provisioned as b-a-b-a-b.

The only workarounds I see are to:
- Overprovision your nodes + 1
- Use even number of replicas
- Don't require hard spreading across nodes.  Generally, the scheduler already tries to prefer spreading across nodes even when you don't specify anti-affinity.

@toidiu, I'm not sure I see how a

[2018-02-02 18:57] bgrant0607 commented on #43214
cc @kubernetes/sig-network-api-reviews

[2018-02-02 18:58] bgrant0607 commented on #43214
We're almost certainly going to make changes to the Ingress API. I don't know that we want to move it before we're ready to do so. That would cause more churn for users.

[2018-02-02 19:08] cheftako commented on #58855
/reopen 2 causes of this issue and only one is fixed. Need #59010 to fix the other issue.

[2018-02-02 19:09] cheftako commented on #58855
/open

[2018-02-02 19:16] sjenning opened #59278 "OutOfDisk condition not set to Unknown when node not responding"
[code]

Looks like it was originally correct:
https://github.com/kubernetes/kubernetes/pull/48983/files#diff-209cdbcfa0c2a92c871efbfdb362860bR960

This a PR removed it:
https://github.com/kubernetes/kubernetes/pull/51294/files#diff-a44cd14a0381ca49bcbaaf967b3cc9b0L988

I think this just got caught up in a sweep to remove OutOfDisk from controllers and no one realized that we still needed this unti

[2018-02-02 19:19] sjenning commented on #59278
/sig node

[2018-02-02 19:23] dashpole commented on #59278
We should remove the generation of the OutOfDisk condition by the kubelet in 1.10
See https://github.com/kubernetes/kubernetes/issues/48843

[2018-02-02 19:23] tomdee commented on #57280
@squeed Could you raise a flannel issue to track this if the config in that repo needs to be updated?

[2018-02-02 19:26] sjenning commented on #59278
@dashpole I saw that was planned and this can be undone once that is done.  But in the meantime, and for 1.9 and 1.8, this is an issue.  Right?

[2018-02-02 19:26] michmike commented on #53201
/assign @bsteciuk

[2018-02-02 19:31] dashpole commented on #59278
Yes, #59279 is still required :)

[2018-02-02 19:32] Matty9191 commented on #51322
I'm seeing this  behavior with 1.9.2:

$ kubectl get pods -o wide
NAME      READY     STATUS    RESTARTS   AGE       IP         NODE
log1      1/1       Running   0          4m        **10.1.0.2**   kubworker1
log2      1/1       Running   0          6m        **10.1.0.2**   kubworker3

$ kubectl get nodes
NAME                       STATUS    ROLES     AGE       VERSION
kubworker1   Ready     <non

[2018-02-02 19:46] gnufied opened #59282 "Add e2e test for volume corruption detection on resizing"
As the resizing feature evolves, we need some e2e tests that can detect volume corruption and make the tests fail if that happens.

I will add more details, as I figure out the details.

/sig storage

[2018-02-02 20:00] khenidak commented on #58776
@deads2k ok, can I remove the flag from controller options? just to remove confusion

[2018-02-02 20:03] jberkus commented on #59001
Please give this issue a priority and kind, or remove it from the milestone.  Thanks!

[2018-02-02 20:04] cmluciano commented on #51322
that is quite odd. Is it possible that your k8s-master is also a node?

[2018-02-02 20:04] jberkus commented on #59221
Please add priority and kind labels for this issue.  It looks needed for 1.10, but we need to know how to sort it when code slush comes, thanks!

[2018-02-02 20:05] dashpole commented on #59001
/priority important-soon
/kind feature

[2018-02-02 20:07] jberkus commented on #58823
Hey, if the remaining work for this is going into 1.10, can you please add a priority label?  I also don't see the remaining work on the Features board?  If this isn't rolled into another feature, then you've missed feature freeze for this one ...

[2018-02-02 20:21] Dominik-K commented on #7294
@jonmoter Even you're right Kubernetes sets `MemorySwap = 2 * Memory`, the container will be out-of-memory (OOM) killed when `Memory` will be allocated. You can use my [small test image: `dominikk/swap-test`](https://hub.docker.com/r/dominikk/swap-test/).

[2018-02-02 20:36] Matty9191 commented on #51322
The masters are isolated to their own set of VMs. I currently have 3 etcd servers, 3 servers in the control plane and 5 workers. Each host has a unique IP and the POD CIDR and Service CIDR are unique /16s. Glad to provide any additional information. This is an odd one.

[2018-02-02 21:21] jberkus commented on #58536
Hi!  This item is tagged as being for 1.10.  Given the checklist of tasks, which individual items are actually going into 1.10?

And, if you're tracking this for 1.10, can you please add kind/ and priority/ labels?  Thanks!

[2018-02-02 22:10] jonmoter commented on #7294
@Dominik-K, the container will be OOMkilled when Memory + Swap is exhausted. So if I have a container where I set the memory limit to 100MB, it will be killed when it exceeds ~300MB of total memory consumption.

I can see this happening in the containers running in my system.  And in the [stackexchange answer](https://unix.stackexchange.com/questions/1367/how-to-test-swap-partition/1368#1368) you

[2018-02-02 22:15] toidiu commented on #49906
@msau42 I was seeing problems when working with only a handful of nodes. Once I over-provisioned this seems to be less of a problem.

I believe this is still an issues if not enough memory/cpu is available in the AZ the PVC is attached to. Kube will not automatically move pods to other node (nor should it) and therefore you might need to manually delete pods in a particular AZ.

So the problem is

[2018-02-02 22:16] #59223 closed

[2018-02-02 22:31] jberkus commented on #58635
@jingxu97 if this change is going to be in 1.10, please add kind/ and priority/ labels to it.  Also, this looks remarkably like a feature which wasn't submitted for feature freeze.  Please correct, thanks!

[2018-02-02 22:37] jberkus commented on #58638
@yujuhong if this feature is going to be in 1.10, please add a priority/ label for it.

Also, what's the tracking feature issue for this one?  I can't find a linked feature issue.

[2018-02-02 22:39] jberkus commented on #57382
@justinsb if this issue is going to be fixed in 1.10, can you please add a priority/ label to it?  Thanks.

[2018-02-02 22:52] bgrant0607 commented on #54654
cc @kow3ns

[2018-02-02 22:52] relaxdiego commented on #43292
I've observed that this bug is not present in v1.8.7 but came back in v1.9.2

[2018-02-02 22:53] relaxdiego commented on #43292
/remove-lifecycle rotten

[2018-02-02 22:54] jingxu97 commented on #58635
We are trying to find some help implementing this. Can I still submit a feature for this? Thanks!

[2018-02-02 22:55] bsalamat commented on #58154
@shyamjvs
I don't think we can find a really scientific number to be used as the threshold for the benchmarks. So, my suggestion is to take an average of say past 10 days and find standard deviation. If we don't see much variance in the numbers, we can use "average + standard deviation" as the threshold. If this sounds good to you, I can find the numbers.

[2018-02-02 23:02] bgrant0607 commented on #4301
cc @kow3ns

[2018-02-02 23:04] yastij commented on #58635
I can help with this

[2018-02-02 23:15] jingxu97 commented on #58635
@yastij that's great! Please let me know if you need anything. As @jberkus mentioned, I think we might need to submit a feature.

[2018-02-02 23:31] yastij commented on #58635
@jingxu97 - I can submit it tomorrow and start working on a PR, is it targeting 1.10 ?

[2018-02-02 23:42] nicksardo opened #59294 "GCE: Firewall events being created with nondeterministic string"
/kind bug
/sig network
/assign

**What happened**:
For events being generated within the GCE cloudprovider, slices of firewall parameters are not being sorted before converted into a string. Due to random ordering, this may result in the same line being repeated.

[2018-02-02 23:49] jingxu97 commented on #58635
Yes, we want to target 1.10.

[2018-02-02 23:59] bsalamat commented on #56032
/assign

[2018-02-02 23:59] bsalamat commented on #56032
ref #59244

[2018-02-03 00:29] joelsmith opened #59296 "Useless error message returned upon failure to get logs during pod termination"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

When attempting to fetch container logs for a terminated pod, the Kubelet requests logs from the container runtime using an empty container ID which results in an unhelpful error being returned to the user.

**What you expected to happen**:

The user should get a useful message and we shouldn't leak messages from the co

[2018-02-03 00:30] joelsmith commented on #59296
/sig node

[2018-02-03 00:36] msau42 commented on #49906
Exactly, it's mostly an issue when you are tight on resources.  Unfortunately there are not really any good workarounds today.

I'm hoping to get PV scheduling to beta in 1.10.  But it will still be at least another release before dynamic provisioning support will be added.  Then, we can migrate existing zonal PVs to use it and solve this problem.

Ref kubernetes/features#490

[2018-02-03 00:55] Novex commented on #5774
I'd also love to see this progress. What's the next step and is there anything I can do to help out?

[2018-02-03 01:06] divyenpatel commented on #58927
/assign abrarshivani

[2018-02-03 01:07] divyenpatel commented on #58927
/unassign divyenpatel

[2018-02-03 01:08] divyenpatel commented on #58927
/area platform/vsphere

[2018-02-03 01:09] divyenpatel commented on #58927
/sig area/platform/vsphere

[2018-02-03 01:10] jberkus commented on #56896
@mtaufen  Hey, this issue looks like a feature.  If it's going to be in the 1.10 milestone, it needs kind/ and priority/ tags, and needs to be tracked in /features.

[2018-02-03 01:13] jberkus commented on #56734
a) Is this a bug or a feature?

b) if it's a feature, please add it to feature tracking.

c) also, please add a priority/ label

[2018-02-03 01:15] jberkus commented on #56523
Are you still planning to make changes as part of 1.10 for this issue?

If so, can you please complete the labels for it?  priority/ is required.  Thanks.

[2018-02-03 01:16] krmayankk commented on #54263
this is safe to close now
/close

[2018-02-03 01:16] #54263 closed

[2018-02-03 01:16] feiskyer commented on #56734
Feature issue is here: https://github.com/kubernetes/features/issues/547

[2018-02-03 01:19] relaxdiego commented on #45487
Came across this with standalone kubelet (hyperkube) v1.8.7 and the fix was to mount /root onto the container using the docker run option `--volume=/root:/root:ro`. After restarting kubelet, it was able to download from the private registries that are in `/root/.docker/config.json`

[2018-02-03 01:20] JiangtianLi commented on #56734
Changed this issue from bug to feature.

[2018-02-03 01:23] jberkus commented on #56734
Thanks!

[2018-02-03 01:25] hzxuzhonghu commented on #43214
@bgrant0607 So, we have to delay Ingress.

[2018-02-03 01:25] jberkus commented on #55905
Hello, if this is planned for 1.10, please do two things: 1) add a priority/ label 2) indicate which Feature issue it's related to.  Thanks!

[2018-02-03 01:29] jberkus commented on #54012
please add kind/ and priority/ labels to this issue for 1.10. Thanks.

[2018-02-03 01:31] jberkus commented on #54011
@bhack, @ScorpioCPH, others:

This looks like a feature.  If it's going into 1.10 as the milestone indicates, please add kind/ and priority/ labels, and make sure that there's a tracking issue in the Features repo.  Thanks!

[2018-02-03 01:33] jberkus commented on #47872
@yujuhong this looks like a feature.  If it's targeted at 1.10, it needs kind/ and priority/ labels, and needs to be tracked in the Features repo.  Thanks.

[2018-02-03 01:35] jberkus commented on #42188
@yujuhong Are there still changes planned for 1.10 for this issue?  If so, it needs kind/ and priority/ labels, and probably needs to be tracked as a feature.

[2018-02-03 01:36] jberkus commented on #30039
If this is going into 1.10, can you please add a priority/ to it?  Thanks!

[2018-02-03 02:08] mindprince commented on #54012
/kind cleanup
/priority important-soon

[2018-02-03 02:12] Quentin-M commented on #58793
I have seen similar behaviors with:
- cluster scoped resources, that will try to set the namespace again
- any other resources, with annotations/labels being randomly set to {}.

[2018-02-03 02:22] valentin2105 commented on #59160
As I send you on twitter, 17.09.1-ce work at glance in IPv6 too, (more new than 17.03)

[2018-02-03 02:26] #56689 closed

[2018-02-03 03:15] z-oo commented on #51835
Have the same bug on my local cluster set up using `kubeadm`.

`docker ps | grep {pod name}` on the node shows nothing, and pod stuck in terminating state. I currently have two pods in this state.

What can I do to forcefully delete the pod? Or maybe change name of the pod? I cannot spin up another pod under the same name. Thanks!

[2018-02-03 03:37] #59294 closed

[2018-02-03 04:27] #56438 closed

[2018-02-03 04:31] fejta-bot opened #59300 "Failure cluster [9a3f59...] failed 77 builds, 9 jobs, and 6 tests over 1 days"
### Failure cluster [9a3f59da96d25e83df6e](https://go.k8s.io/triage#9a3f59da96d25e83df6e)
##### Error text:
[code]
##### Failure cluster statistics:
6 tests failed,    9 jobs failed,    77 builds failed.
Failure stats cover 1 day time range '2 Feb 2018 02:14 UTC' to '3 Feb 2018 02:14 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-cluster-lifecycle] R

[2018-02-03 06:11] zhangxiaoyu-zidif commented on #59235
[code]

[2018-02-03 06:44] wackxu commented on #44460
@msau42 @jsafrane I want to help do this. After looking at the code, I want to split those file into three parts: common utils, recyclerclient, VolumePathHandler. I will commit my pr asap

[2018-02-03 07:11] islinwb commented on #59257
It has been removed. (https://github.com/kubernetes/kubernetes/pull/34906)

[2018-02-03 08:07] Oziomajnr commented on #36572
I am having this same issue and I am considering moving to Nginx

[2018-02-03 08:52] vielmetti commented on #57869
I'd add dashboard to this as well, based off the issue at https://github.com/kubernetes/dashboard/issues/2811

[2018-02-03 09:43] wu105 commented on #43504
Did we cover the use case when two (or more) pods use the same pv?  If the underlying infrastructure does not allow the pv to attach to more than one node, the second pod should be scheduled on the same node as the first pod.

[2018-02-03 11:48] idvoretskyi commented on #58823
@yujuhong can you link this issue to the one in a features repo?

[2018-02-03 14:57] voor commented on #58217
Same issue on Fedora 27:
[code]

[code]

[2018-02-03 15:03] voor commented on #58217
Some additional information:
[code]

[2018-02-03 15:04] tiukhtinvladimir opened #59312 "kubelte - unknown flag: --network-plugin-dir"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
According to document https://kubernetes.io/docs/concepts/cluster-administration/network-plugins/#kubenet I am configuring kubelet to use exactly network plugins directory. But kubelet confugured to run with '--network-plugin-dir' flag returns a message
[code]

**What you expected to happen**:
Kubelet started

**Environmen

[2018-02-03 15:13] tiukhtinvladimir commented on #59312
/sig node

[2018-02-03 15:17] tiukhtinvladimir commented on #59257
@islinwb Thanks. It will be fine to update documentation then

[2018-02-03 16:08] msau42 commented on #43504
Pods that use local PVs will be scheduled to the same node, but it's not going to work for zonal PVs.   Pods that use zonal PVs will only be scheduled to the same zone.

[2018-02-03 16:34] msau42 commented on #43872
/remove-lifecycle stale
/assign @jingxu97

Jing, can you handle this as part of your reconstruction work?

[2018-02-03 19:33] jhorwit2 commented on #58635
cc @cheftako @wlan0

[2018-02-03 19:34] jhorwit2 commented on #58635
/area cloudprovider

[2018-02-03 19:39] jhorwit2 commented on #59312
@tiukhtinvladimir please use `--cni-bin-dir`, which is the replacement for `--network-plugin-dir`.

PR: https://github.com/kubernetes/kubernetes/pull/53564

/sig docs

[2018-02-03 19:50] jhorwit2 commented on #59312
/assign

[2018-02-03 19:53] jhorwit2 commented on #59257
/sig docs
/sig networking

[2018-02-03 19:56] jhorwit2 commented on #59205
@azzeddinefaik Can you please supply more information about your setup and any logs that may be helpful.

[2018-02-03 19:56] jhorwit2 commented on #59205
/sig network

[2018-02-03 19:58] jhorwit2 commented on #59173
@jeyanthimuthuram `kubectl rollout status deployment <name>` can be used to watch the status. It'll return a non-zero exit code if it fails. Does this satisfy what you want?

/kind feature

[2018-02-03 20:00] jhorwit2 commented on #59173
@jeyanthimuthuram I'm going to close this ticket since it's a duplicate of https://github.com/kubernetes/kubernetes/issues/14512. Please join the discussion there!

/close

[2018-02-03 20:00] #59173 closed

[2018-02-03 20:03] jhorwit2 commented on #59096
@m-no-2017 Please open this issue under the [ingress controller repo](https://github.com/kubernetes/ingress-nginx). That'll ensure you get support in a reasonable time as tickets for that repo are not checked for in k8s core.

/close

[2018-02-03 20:03] #59096 closed

[2018-02-03 20:04] jhorwit2 commented on #59096
@m-no-2017 FYI, if you're using the ingress controller above that does not use kube-dns/service IP. It routes directly to the backend pods.

[2018-02-03 20:19] nathanjsweet commented on #59152
I don't know enough to agree or disagree with you here. However, I do think 3 is the lowest-level abstraction and could be used to build out the other two.

I think you are right to think about it in a capacity related way.

The one way I think it could be done in a way that makes the API competent enough to provide informative error handling to the users is if each host/node treated user namespac

[2018-02-03 20:56] davidopp commented on #58635
@gmarek

[2018-02-03 22:58] smarterclayton opened #59314 "Kubelet does not update node-labels from flags if they change"
Once a kubelet has created a node object for itself via registration, if the `--node-labels` flag ever changes the labels aren't updated.  I see the labels being set into the objectmeta in the init code, but I don't see the server being updated (external ID hasn't changed).

Recreate:

1. Start kubelet with no --node-labels, wait for it to register
2. Update kubelet to start with `--node-labels a=

[2018-02-03 23:22] jhorwit2 commented on #59314
@smarterclayton this is intended functionality. The flag (see below) mentions they're only added when registering.

https://kubernetes.io/docs/reference/generated/kubelet/

[2018-02-03 23:23] jhorwit2 commented on #59314
I think we should probably rename it to `--register-with-labels` so it matches `--register-with-taints` especially since it's still an alpha feature and that's more clear.

[2018-02-03 23:49] smarterclayton commented on #59314
This is going to be broken with dynamic configuration - as a user, it was unexpected for new labels not to be added.  I think it's time to revisit this.

[2018-02-03 23:49] smarterclayton commented on #59314
@mtaufen @liggitt re dynamic reconfiguration.

[2018-02-03 23:50] smarterclayton commented on #59314
note: It's silly we call this an alpha feature when it's been in the kubelet since 1.1.  We should own up to it one way or another.

[2018-02-04 00:37] liggitt commented on #59314
kubelet ownership of its own labels is not deterministic and is problematic. Kubelet updating labels on an existing Node API object on start is not the direction we want to go, since it removes the ability to centrally manage those labels via the API

[2018-02-04 02:13] wu105 commented on #43504
@msau42 that would require the user to specify the node name of the pod, not desirable because kubernetes already has the information to schedule the second pod to the correct node and the user is burdened with selecting nodes.

On a different topic, hope is not off topic for this thread, is about the node and pv zones with cloud provider Openstack.  When cloud provide is Openstack, the node and p