[2019-01-22 19:03] #58222 closed

[2019-01-22 19:09] Jiayiwang7 commented on #53459
I'm trying to fire several similar jobs simultaneously and watch the status of them. After all jobs are completed, I can follow up with next step. It would be useful if fields selector support arbitrary fields.

[2019-01-22 19:13] #72954 closed

[2019-01-22 19:13] #64474 closed

[2019-01-22 19:13] #71570 closed

[2019-01-22 19:41] bertinatto opened #73181 "Reused iSCSI sessions not being deleted"
**What happened**:

Consider this environment:

1. Two pods (pod1 and pod2) on the same node, each with their own iSCSI volumes
2. Both volumes use different LUNs of the same iSCSI target

These conditions result in both volumes sharing the same iSCSI session:

[code]

As we can see, this session uses the iface `172.18.0.44:3260:iscsi-pv1`. This iface was created along with pod1.

When trying to d

[2019-01-22 19:42] bertinatto commented on #73181
/assign

[2019-01-22 19:46] RUONES commented on #71557
@linanster how did you resolve, just curious?

[2019-01-22 19:59] wojtek-t commented on #73176
/assign @bsalamat
for triage

[2019-01-22 20:45] freevatar opened #73182 "kubectl version 1.13.2 can't describe hpa resource"
**What happened**:
`kubectl version 1.13.2` can't describe `hpa` resource but it works as expected in `kubectl version 1.11.5`
[code]
**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
It works as a charm in `kubectl version 1.11.5`

**Environment**:
- Kubernetes version: `v1.13.2`
- Cloud provider or

[2019-01-22 20:48] freevatar commented on #73182
/sig scalability

[2019-01-22 21:15] mikkeloscar opened #73184 "zookeeper-install image doesn't work (bash is missing)"
**What happened**: The [zookeeper-installer](https://github.com/dims/kubernetes/tree/3e56e3c1c6b994f5b40a49f674e8c37a4c0dbf22/test/images/pets/zookeeper-installer) image used in the Statefulset e2e tests: https://github.com/kubernetes/kubernetes/blob/e4ef6079bc2c38ef7c741c6d253baa3f6fcad12f/test/e2e/apps/statefulset.go#L846 doesn't work because `bash` is missing in the image and the entrypoint is

[2019-01-22 21:34] freevatar commented on #73182
sig/autoscaling

[2019-01-22 21:37] phenixblue commented on #72956
I'll work on the scripts in `./cluster/gce/`

[2019-01-22 21:38] nilebox commented on #59850
@ichekrygin so apparently you can add a finalizer while object doesn't have a `DeletionTimestamp`. But it still won't have any effect, because when you will `kubectl delete ...`, this finalizer will be removed.

Yes, that is correct. As you can see, the only way to request foreground deletion is via `curl` / raw HTTP request.

[2019-01-22 22:03] mbohlool opened #73185 "Extensibility features - Path to GA"
This is an umbrella issue to track all bugs/enhancements required to declare Kubernetes extensibility features GA. Specifically it tracks "Admission Webhooks" and "Custom Resource Definitions". The goal is to have a usable, supportable feature with stable GA API.

# Admission Webhooks
*API*: These are issues/design requests that could affect a stable API:

Discussed on [2019-01-23](https://github.

[2019-01-22 22:08] PatrickLang commented on #69905
/assign @michellemcone

[2019-01-22 22:12] zerkms opened #73186 "Kubernetes namespaces stuck in terminating state"
**What happened**:
I'm currently assessing rook+k8s as a platform and I was simulating different scenarios, which included sporadic nodes restarts.
Then I decided to remove the installed rook operator + cluster and deleted those, but one of the namespaces stuck forever

[code]

As you can see it's stuck in the `kubernetes` finalizer. Editing the `ns/rook-ceph` and removing the finalizers section d

[2019-01-22 22:15] zerkms commented on #73186
/sig api-machinery

[2019-01-22 22:22] zerkms commented on #73186
It looks like there is a dupe https://github.com/kubernetes/kubernetes/issues/60807

Please close this one if it really is.

[2019-01-22 22:35] ChristopherLClark commented on #17088
I'm sorry to resurrect a dead thread, but we definitely need this. Our reasoning is this.

Let's say we have n number of api's. As n grows we want to create some apis that should be cross cutting in that all teams use them, but managed by one team. It is impossible to manage x number of cross cutting apps in every namespace. So we need to have this cross cutting api in its own namespace for securi

[2019-01-22 22:36] yujuhong commented on #72788
Good point. We designed CRI around core metrics API, but some CRI runtimes have integrated with cadvisor directly to fill the gap while we wait for core metrics API.
I think it's reasonable for kubelet to do this on behalf of all CRI runtimes. I spoke to @dashpole offline, and this would probably require no more than 2-day of work.

If sig-windows (e.g., @feiskyer) can pick this up, that'd be grea

[2019-01-22 22:44] dashpole commented on #68522
@WanLinghao those are good questions.  I have some ideas, but nothing is set in stone yet.

**Understanding**
1. Information in the summary API isn't redundant, but the kubelet should be scoped as narrowly as possible.

1. The kubelet may, or may not provide some supplemental metrics in prometheus format, depending on which metrics require knowledge only the kubelet has ("ephemeral storage", for e

[2019-01-22 22:47] briantkennedy commented on #73050
### Validation Issue

The main issue here is that the validation for ClusterRole requires that we apply using an empty rules list.  The following script demonstrates that a user is not allowed to set a ClusterRole with a null rules list:

[code]

### Kubectl Apply Consequence

Here's how I would expect running kubectl apply to funciton for a cluster role with an aggregationRule.  For this, I am us

[2019-01-22 22:52] Fedosin commented on #64751
@liggitt No, it's okay, I'm working on it. I'll post the code this week, sorry for the delay

[2019-01-22 23:05] michmike commented on #72788
thanks for the update. we will wait to hear back from @feiskyer

[2019-01-22 23:06] wstrange commented on #17088
@ChristopherLClark This seems like something that could be better solved by a service mesh like istio?

[2019-01-22 23:14] awly commented on #71004
@mourya007 for example move these kubeadm-only functions into `pkiutil`:
- https://godoc.org/k8s.io/client-go/util/cert#EncodeCertPEM
- https://godoc.org/k8s.io/client-go/util/cert#EncodePrivateKeyPEM
- https://godoc.org/k8s.io/client-go/util/cert#EncodePublicKeyPEM
- https://godoc.org/k8s.io/client-go/util/cert#NewPrivateKey
- https://godoc.org/k8s.io/client-go/util/cert#NewSignedCert

[2019-01-22 23:14] PatrickLang commented on #69905
/assign
I can't assign this to Michelle yet, so I'll park it on myself for now. If it's not done in a few weeks and someone else wants to take it, drop a comment here.

[2019-01-22 23:15] PatrickLang commented on #69905
/milestone v1.14

[2019-01-22 23:19] PatrickLang commented on #73087
/milestone v1.14
cc @craiglpeters
This may be good to backport to 1.12 or 1.13 too if customers are using those versions.

[2019-01-22 23:50] huydinhle opened #73188 "externalTrafficPolicy: Local makes Azure LoadBalancer stop working"
**What happened**:
- Change one of LoadBalancer Service in Azure from externalTrafficPolicy: Cluster to externalTrafficPolicy: Local make any request that sends to this Loadbalancer to be timeout completely
- Switch it back to Cluster will have the loadbalancer working fine and receive traffic again

**What you expected to happen**:
LoadBalancer should still receive traffic just fine

**How to rep

[2019-01-23 00:15] GTB3NW commented on #65392
+1 on fencing. If it's split into two categories of `physical` & `external` we can have nodes submit their STONITH details on admission, otherwise, the cloud provider (or a STONITH provider?) can provide resolution to requests for fencing.

[2019-01-23 01:01] PatrickLang commented on #69871
/remove-lifecycle stale

[2019-01-23 01:13] PatrickLang commented on #69871
Per the [thread with sig-arch and sig-testing](https://groups.google.com/forum/#!topic/kubernetes-sig-testing/ii5584-Tkqk) and [discussion in the sig-testing meeting](https://docs.google.com/document/d/1z8MQpr_jTwhmjLMUaqQyBk1EYG_Y_3D4y4YdMJ7V1Kk/edit#) - it seems that the recommended approach is to not skip tests based on OS using ginkgo's skip() but use tags instead.

Can you create an alternati

[2019-01-23 01:19] PatrickLang commented on #69871
/milestone v1.14

[2019-01-23 01:32] 4ydx commented on #65706
I am seeing this as well.

[2019-01-23 01:32] ejc3 commented on #27114
Agreed, that would be cleaner and much more obvious :)

[2019-01-23 01:41] ping035627 opened #73189 "failed to create kubelet: unknown service runtime.v1alpha2.RuntimeService"
I0123 09:17:30.849536   18641 flags.go:33] FLAG: --container-runtime="remote"
I0123 09:17:30.849540   18641 flags.go:33] FLAG: --container-runtime-endpoint="unix:///var/run/docker/containerd/docker-containerd.sock"

E0123 09:17:30.895631   18641 remote_runtime.go:72] Version from runtime service failed: rpc error: code = Unimplemented desc = unknown service runtime.v1alpha2.RuntimeService
E0123 09

[2019-01-23 01:42] llibicpep opened #73190 "Kubernetes conflicting with terraform (and possibly other IaC tools) in terms of AWS tags"
This ticket is about a conversation started in https://github.com/kubernetes/kops/issues/5700 and also duplicated in https://github.com/terraform-providers/terraform-provider-aws/issues/5974. Basically k8s assuming the tags is something more like a separate entity that doesn't belong and is not a property of another resource. Which is not a case as per AWS implementation.

I'll just quote my last

[2019-01-23 01:42] rbtcollins commented on #47893
/remove-lifecycle stale

[2019-01-23 01:47] llibicpep commented on #73190
@kubernetes/sig-aws-proposals

[2019-01-23 01:56] ping035627 commented on #73189
/sig kubelet
/sig node

[2019-01-23 02:02] sachinmsft commented on #68522
@dashpole , and if a person wants to use Prometheus for monitoring then who will provide the Prometheus formatted metrics? currently these are exposed throgh /metrics/cadvisor end point on kubelet.

would we have to run the cAdvisor as deamonset for that purpose?

[2019-01-23 02:10] yanghaichao12 commented on #70945
is the mysql node in the same subnet or not ?later i'll setup a cluster and test it as yours

[2019-01-23 02:17] skeetwu commented on #65304
Got same issue.
`< > * \ / `
characters can be allowed by OpenStack API, but kubelet can't start up when them exist in password.

[2019-01-23 03:01] bsalamat commented on #73176
@mm4tt What is the version of your cluster? If you are using the HEAD, we have added a back-off mechanism to the scheduler to delay rescheduling unschedulable pods. It starts with 1 second delay and doubles it every time the pod is not schedulable up to 10 seconds.

[2019-01-23 03:05] smallWWhite commented on #12964
this will make kubelet notready

if i create a Service named glusterfs-cluster, after reboot  endpoint is not  lost.  but the kubelet will be notready , something wrong?  hope response    tks.

[2019-01-23 05:08] YoubingLi commented on #73077
expose tries to convert version from "v1" to "__internal" which is not registered.
This is the reason that the function doesn't works.

== "pkg/kubectl/cmd/expose/expose.go"
316                 if inline := cmdutil.GetFlagString(cmd, "overrides"); len(inline) > 0 {
317                         object, err = cmdutil.Merge(scheme.Codecs.LegacyCodec(scheme.Scheme.PrioritizedVersionsAllGroups()...), ob

[2019-01-23 06:04] mysunshine92 commented on #72956
I will fix
./cluster/addons/addon-manager/kube-addons.sh
./cluster/addons/fluentd-elasticsearch/es-image/run.sh
./cluster/addons/fluentd-elasticsearch/fluentd-es-image/run.sh

[2019-01-23 06:08] changyaowei commented on #73189
@ping035627  Kubernetes version and containerd version need provided

[2019-01-23 06:13] WanLinghao commented on #68522
@dashpole So why would we remove the summary API?

It seems we will replace summary API with Core Metrics kubelet API. What's the difference between them?

[2019-01-23 06:15] ping035627 commented on #73189
k8s1.13.0 and containerd in docker18.06.

[2019-01-23 06:19] changyaowei commented on #73189
docker 18.06 ? Do you mean docker or containerd ?

[2019-01-23 06:21] liggitt commented on #73182
What server version are you running against?

[2019-01-23 06:40] changyaowei commented on #73189
I found the latest moby  version is 17.05*,  and  can we use moby's containerd  as runtime  ?

[2019-01-23 06:50] YoubingLi commented on #73077
kubectl help expose

Expose a resource as a new Kubernetes service.

 Possible resources include (case insensitive):

 pod (po), service (svc), replicationcontroller (rc), deployment (deploy), replicaset (rs)

In order to control the scope, I only register them as un-versioned type in the fix.

[2019-01-23 06:58] ping035627 commented on #73189
But I'm just testing whether docker's containerd can be used as runtime for k8s.

[2019-01-23 07:04] wojtek-t commented on #73176
It's from head, so apparently something doesn't work...

[2019-01-23 07:05] linxiulei commented on #73155
/cc @Random-Liu

[2019-01-23 07:10] billjh commented on #72460
The same on 1.11.5-gke.5

[2019-01-23 07:19] sebglon commented on #72460
solved for me on 1.11.6-gke.2

[2019-01-23 07:30] mm4tt commented on #73176
Yes, we're using head. The test run on Jan 21 and the cluster was built from head on the same day (commit https://github.com/kubernetes/kubernetes/commit/dc3edee5f to be more precise).
As you can see in the logs it doesn't look like scheduler is using any back-off mechanism. Definitely not the one you described, it issues requests to api server much more often than 1 per second per pod.
![jjdmwydg

[2019-01-23 07:41] billjh commented on #72460
Solved after upgrade to 1.11.6-gke.3

[2019-01-23 08:00] zhiminghufighting opened #73200 "Kubernetes can's convert LinuxMemory.swap value from a unint64 into a int64 according to ociSpec"
**What happened**:

There is an stable error when k8s master to create pod in k8s node from customers now. Could you please see the logs and check if there are some methods to debug kata when there is some errors?
And please see my comments included in the logs:
===============================================================================Env config================================================

[2019-01-23 08:13] mgdevstack commented on #70137
@dims No existing Conformance tests from the suite are running in Privileged mode. Though there are few e2e tests which verify privileged behavior viz -

Can we close this issue?

[2019-01-23 08:54] brancz commented on #69676
@bjhaid fwiw you can use [mtail](https://github.com/google/mtail) against `dmesg` to produce metrics about oomkill messages.

[2019-01-23 09:33] tuminoid commented on #61557
@liggitt, any updates? k8s 1.14 has Docker 1.13 as minimum supported Docker version, meaning we cannot stick to 1.12.6 much longer to workaround this. Having `exec` and more importantly `cp` hang randomly is PITA.

[2019-01-23 09:57] opsnull commented on #69725
same logs in kube-controller-manager:

K8S 1.8.14

[2019-01-23 09:58] hasonhai commented on #62061
Any news on this? I'm having the same issue. It has happened twice.
When it happened the first time, I could go to the kubelet node to unmounted the rbd volumes manually to fix the problem. This time, Kubelet node is frozen so I have no way to unmounted it at the Kubelet side.

Do we have any way to force the attach-detach-controller to unmount the volume?

[2019-01-23 10:23] pohly commented on #70200
@neolit123 kubeadm was one of the tools which got broken by the tightening of the `--provider` parameter checking. Does kubeadm still rely on the acceptance of unknown provider parameters or can the current warning be turned into an error now?

/remove-lifecycle stale

[2019-01-23 10:36] lucas-sonnabend opened #73205 "kubectl wait <resource> --for condition doesn't say which conditions were not met"
**What would you like to be added**:
let's say I run
[code]
If the deployment is comes up in time it tells me which deployment is up, but if it times out it doesn't tell me on which deployment/resource. Could it be

[code]
**Why is this needed**:
That would make it easier to use, and the information provided is the same irregardless on whether the condition is met or not

[2019-01-23 10:59] KomorkinMikhail commented on #70020
/remove-lifecycle stale

[2019-01-23 11:02] bclau commented on #69871
@PatrickLang done: https://github.com/kubernetes/kubernetes/pull/73204  https://github.com/kubernetes/community/pull/3140

[2019-01-23 11:13] vpm-bradleyhession commented on #58619
Has / will this ever be addressed? Seems really odd. For example, we have microservices that do x amount of iterations then finish, and restart. Definite use case to have exit codes interpreted correctly.

[2019-01-23 11:38] rtheis commented on #72925
@Huang-Wei is it possible to have the necessary fixes cherry-picked to at least 1.12 and 1.13?  That would make it easier for me to build and test?

[2019-01-23 11:48] Huang-Wei commented on #72925
Yeap, cherrypick PRs (#73206 onto 1.13, #73207 onto 1.12) were created and will be reviewed/approved soon.

[2019-01-23 11:54] bertinatto commented on #73181
So, assuming that `pod2` is delete after `pod1`, this is the cause of the problem:

* The commands to log out and delete the node record [explicitly provide the iface name](<https://github.com/bertinatto/kubernetes/blob/26d58d37a71ecc698259729361484007b45a82ba/pkg/volume/iscsi/iscsi_util.go#L734-L737>)
* The shared session uses another iface (note the `:iscsi-pv1` appended):

[code]

If we simply

[2019-01-23 12:11] PrasadG193 commented on #68957
Sounds good to me. Thanks.

[2019-01-23 12:33] LudovicTOURMAN opened #73208 "Docker daemon logs filled node disk space"
**What happened**:
Some pods could not run on the node because there is no space left on `/run` tmpfs.
`"Error":"write /var/run/docker/libcontainerd/737a3f7d9f671903831ed8c5fb4eff4ed4335cc2c81a1c7bff98d890d85cc310/config.json: no space left on device"`

**What you expected to happen**:
Mainly, the pods successfully deployed.

**How to reproduce it (as minimally and precisely as possible)**:
Just h

[2019-01-23 12:46] danielqsj commented on #72956
I will fix `./staging/`

[2019-01-23 13:01] Rabbit222 commented on #70324
I have the same question.
kubectl version: v1.12.1
kernel version: 3.10.0-862.14.4.el7.x86_64
I find an answer about it:
kernel memory is active but the system kernel is not able to apply.
please fix it as soon

[2019-01-23 13:21] neolit123 commented on #70200
@pohly yes the kubernetes-anywhere deployer is still bound to provider=kubernetes-anywhere (unknown) in test infra jobs.
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-x-on-y.yaml#L25

we went back and forth on this topic, but if you wish to replace this support for unknown deployers i can switch those jobs to `skeleton`.
LMK.

[2019-01-23 13:22] neolit123 commented on #70200
given one release has passed with the deprecated message on the CLI, it's probably safe to remove this functionality now. :)

[2019-01-23 13:23] alwinmarkcf opened #73215 "Kubernets cluster goes down when one Volumeprovider is unreachable"
Hi,

this is a serious issue which we had glad fully before we migrated our customer facing services to Kubernetes.

## Background:
We are hosting two production Kubernetes Cluster (v1.11.3). One is dedicated for Applications, the other is a dedicated Rook Cluster.
We have two storageclasses using that Rook Cluster via Ceph/RBD.

We have e.g. some Databases using those storageclasses like Elastics

[2019-01-23 13:43] tuminoid opened #73216 "Pods sharing a PVC on a single node cluster fail to schedule"
/kind bug
/sig scheduling

**What happened**:
I run 50 Nginx containers on a single node cluster via Deployment with 50 replicas. Those containers have a volumemount via PVC backed by HostPath (`/data/kubernetes/tokens`). Sometimes `kube-scheduler` leaves some pods in `Pending` state, while some get to `Running` state. Error is that it PVC is not bound, yet describing said PVC, it is bound and use

[2019-01-23 14:01] CristianPop commented on #73181
I don't know any way around this at the moment and I think it is acceptable to require the safe_logout iSCSI configuration option to be set to true, as it would not allow kubelet to logout of sessions that have been established and are used by other applications running alongside kubelet.

[2019-01-23 14:25] mkobetic commented on #73089
OK, here's a dummy controller that just panics that reproduces the problem for me.
[code]
If you build it and then run the executable, it should print the panic (the default `HandleCrash` behavior) and then hang. If you `kill -ABRT` the process you should see goroutine like this in the dump
[code]
Note that I got different behavior when I just `go run` the sample program. I had to `go build` it an

[2019-01-23 14:44] dims commented on #73200
@zhiminghufighting this is possibly interaction between containerd and katacontainers runtime. Please raise it with kata folks - https://github.com/kata-containers/runtime

/close

[2019-01-23 14:52] bjhaid commented on #69676
@brancz thanks! I just wanted to point out that cadvisor misses OOM events and that should be considered when relying on it...

[2019-01-23 14:53] dims commented on #72460
/close

[2019-01-23 14:59] brancz commented on #69676
I see. If not already that should be reported to cAdvisor :)

[2019-01-23 15:17] vharsh commented on #62156
I hit the same issue while mounting a binary file today.
1. I created a config-map, `kubectl create configmap random-image --from-file=hello-world.png` ( binaryData is supported on my setup, i.e. I have k8s 1.10+.<something>)
2. I mounted the config-map as a volume in my deployment, as documented.
[code]

[code]

I can cd into `/etc/random/hello-world.png`

Maybe this should go in a separate issue

[2019-01-23 16:04] pohly commented on #70200
"Lubomir I. Ivanov" <notifications@github.com> writes:

Yes, please do. Once that is complete, I'll turn the warning into an error.

[2019-01-23 16:19] juanvallejo commented on #72088
/assign pandyamarut

[2019-01-23 16:38] GeorgFleig commented on #39980
@zelentsovl I also have the same issue every time I add a new node to the cluster. Having to restart the master node is quite annoying but works. I finally found a solution without having to restart. For me it helped to update the `/etc/hosts` file inside the kube-apiserver pod. It seems that this also happens automatically after a node restart.

In my example node1 is the master and node5 the new

[2019-01-23 17:22] GregSilverman commented on #72826
Resolved the issues with calico cni/node v3.3.2 upgrade. So far all tests are positive wrt the CoreDNS latency issues being gone.

Will continue to hammer at this in the mean time.

[2019-01-23 17:22] GregSilverman commented on #72826
Resolved the issues with calico cni/node v3.3.2 upgrade. So far all tests are positive wrt the CoreDNS latency issues being gone.

Will continue to hammer at this in the mean time.

[2019-01-23 17:22] #72826 closed

[2019-01-23 17:45] mwhipple commented on #62489
/remove-lifecycle stale

[2019-01-23 17:47] mbohlool commented on #71677
If the RPMs and DEBs are published the same way other official binaries are published (like [the ones here](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#downloads-for-v1125), basically another download link set for them) I think it would be very simple to then publish them to the official RPM/DEB repos. First step (and only step we may need) is an automated tool running i

[2019-01-23 17:48] micahhausler opened #73221 "Support configurable ProjectedVolumeToken rotation period on kubelet"
**What would you like to be added**:

A kubelet configuration parameter for modifying the rotation period on ProjectedVolumeTokens.

**Why is this needed**:

The current default is hardcoded to begin rotation attempts [after 80% of the token's lifetime or 24 hours](https://github.com/kubernetes/kubernetes/blob/v1.14.0-alpha.1/pkg/kubelet/token/token_manager.go#L141-L160), whichever is occurs first

[2019-01-23 17:54] Bessonov commented on #58908
Same result with weave net:
[code]

Discovered [this](https://github.com/kubernetes/kubernetes/issues/70222#issuecomment-450433659) comment. Indeed, it looks like it's working with `externalTrafficPolicy: Cluster` instead of `Local`, which is fine for me.

[2019-01-23 18:05] MalloZup commented on #71677
/CC

[2019-01-23 18:15] bigjonroberts commented on #27308
Can the scope of this just be changed to remove context, since that is already covered by KUBECONFIG ?
So only add `KUBECTL_NAMESPACE`
This would alleviate the concern about competing environment configuration information.

[2019-01-23 18:56] jingxu97 commented on #72500
cc @msau42

[2019-01-23 19:01] msau42 commented on #72500
One possible solution is to run reconstruction on only the csi driver at the end of the registration callback.  And in the normal reconstruction case, skip any csi plugins

@kubernetes/sig-storage-bugs

[2019-01-23 19:07] dashpole commented on #68522
@sachinmsft that is not yet entirely determined.  If you want the exact metrics cAdvisor produces, you will likely have to run cAdvisor as a daemonset.  However, my hope is that we can find a better way which will involve a combination of metrics from the kubelet and from other sources.

@WanLinghao The Core metrics api has more limited metrics, as required by the metrics server.

[2019-01-23 19:07] msau42 commented on #72500
FYI all the CSI reconstruction tests are failing: https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-serial

[2019-01-23 19:37] Overbryd commented on #60825
Sorry to bother you with commenting on this issue. But I cannot find out in what version of Kubernetes this is expected to be released / was released.

Any clarification highly appreciated.

[2019-01-23 19:41] domq commented on #65879
Downgrading Kubelet from v1.13.0 to v1.11.0 today, solved the issue for us — Note that the cluster was in an inhomogenous state (a mix of Kube apiservers of both versions), which is not necessarily a good thing.

[2019-01-23 19:56] hoegaarden commented on #69374
/remove-lifecycle stale

[2019-01-23 20:19] #69773 closed

[2019-01-23 20:23] NULLx76 commented on #64924
I am also experiencing this same issue. Setting `spec.dnsConfig.options` to `{name: ndots, value: "1"}` does fix it. However, I don't want to do this for every container, is there any way that I can change the global default or do something else to resolve this.

Any help is appreciated

[2019-01-23 20:37] erhudy opened #73224 "Node does not go NotReady when kubelet/Docker filesystem fails"
**What happened**: Kubernetes continued to report a node as Ready even after the filesystem hosting the kubelet and Docker on that node failed. A SCSI controller assert caused the MD device backing this filesystem to fail, resulting in error messages if any I/O was generated against the mountpoint or its subdirectories. This was not detected as an error condition and Kubernetes continued to report

[2019-01-23 20:39] erhudy commented on #73224
/sig node

[2019-01-23 20:50] liggitt commented on #27308
namespace is also covered by kubeconfig, so that would still introduce competing values. the comment at https://github.com/kubernetes/kubernetes/pull/60044#issuecomment-405418166 still holds, just with one fewer envvar

[2019-01-23 21:42] rtheis commented on #72925
@Huang-Wei Thank you for the cherrypick PRs.  I rebuilt 1.13 with the cherrypick PR and still saw the problem on 2 of 10 recreate attempts.  Without the fix, I saw a similar failure rate.

[2019-01-23 21:57] andrewsav-datacom commented on #72724
It has been asked on [Stack Overflow](https://stackoverflow.com/questions/53113716/how-to-change-the-entire-kubernetes-cluster-time-zone) a few month ago, but no answer was provided. It was also posted on slack around this time and also there was no answer.

[2019-01-23 22:16] neolit123 commented on #70200
done:
https://github.com/kubernetes/test-infra/pull/10913

[2019-01-23 23:11] Fedosin commented on #64751
@liggitt @casey-robertson done :)

[2019-01-23 23:34] doubleyewdee opened #73235 "Azure Load Balancer public IP lookup by name"
**What would you like to be added**:
Add an annotation to allow lookup of loadBalancerIP by specifying a named Azure resource instead of an explicit IP address. This can pair with the existing 'azure-load-balancer-resource-group' annotation (perhaps call it 'azure-load-balancer-public-ip-resource' or similar).

**Why is this needed**:
During provisioning of k8s clusters on Azure we request IP addr

[2019-01-23 23:37] doubleyewdee commented on #73235
adding @kubernetes/sig-azure

[2019-01-23 23:41] dbitts1024 opened #73236 "pause hardcoded repository"
The sandbox image (pause) is hardcoded to use k8s.gcr.io as the repository.  Could that be changed to use the repository specified in imageRepository instead?

[2019-01-23 23:46] dbitts1024 commented on #73236
@kubernetes/sig-api-machinery-feature-requests

[2019-01-24 00:25] cblecker opened #73238 "Tracking issue: Update to go1.11.5 and 1.10.8"
The go team has released go1.11.5 and 1.10.8 with a security fix.
https://groups.google.com/d/msg/golang-announce/mVeX35iXuSw/Flp8FX7QEAAJ

We should kick off upgrades of both the kubernetes build system, and our CI, as soon as possible.

---
Status:
- [x] test-infra (kubernetes/test-infra#10957)
- [x] master/1.14 (#73326)
- [x] 1.13 (#73376)
- [x] 1.12 (#73329)
- [x] 1.11 (#73379)
---

cc: @ixdy

[2019-01-24 01:21] msau42 commented on #70258
/remove-lifecycle stale

[2019-01-24 01:27] vikaschoudhary16 opened #73240 "Unprivileged device plugins fails to start grpc server"
**What happened**:
If the device plugin is an unprivileged container and selinux is enabled, it fails to start grpc server.

[code]

**What you expected to happen**:
Unprivileged device plugins also able to work

**How to reproduce it (as minimally and precisely as possible)**:
0. Enable selinux
1. Deploy a k8s cluster
2. Deploy a device plugin daemonset without `privileged: true` and plugin sock

[2019-01-24 01:36] davidz627 commented on #70013
/remove-lifecycle stale

[2019-01-24 01:47] Huang-Wei commented on #72925
@rtheis the fix is only ready in master right now. Did you rebuild 1.13 by manually running “git cherrypick <this commit id>” on release-1.13? Or directly built from latest src code of release-1.13?

[2019-01-24 02:00] caesarxuchao commented on #73185
Another potential API change: https://github.com/kubernetes/kubernetes/issues/72944

[2019-01-24 02:01] caesarxuchao commented on #72944
cc @mbohlool @deads2k

[2019-01-24 02:02] PaulFurtado commented on #70262
/remove-lifecycle stale

[2019-01-24 02:18] vbmade2000 commented on #69873
@dims Is this issue still open for work ? If so I want to work on this.

[2019-01-24 02:25] hanxiaoshuai opened #73242 "When a pod resource limits are specified, but resource requests are not, why do we set default requests to limits"
When a pod resource limits are specified, but resource requests are not, why do we set default requests to limits

https://github.com/kubernetes/kubernetes/blob/b9631a881f327b58ff52654cbb448927226bf05a/pkg/apis/core/v1/defaults.go#L132-L148

[2019-01-24 02:45] cofyc commented on #56180
## Design (Draft)

### Filter

Implement scheduler filter plugin in which we call FindPodVolumes to find all feasible nodes and save pre-bound PVs and pre-provisioned PVCs in pod binding cache.

### Reserve

Implement scheduler reserve plugin in which we call AssumePodVolumes to assume pre-bound PVs and pre-provisioned PVCs of selected node.

### Pre-bind

Implement scheduler pre-bind plugin in wh

[2019-01-24 02:49] Wade201801 opened #73244 "Cinder PVC online resize failed with "volume status is not available""
**What happened**:
1. deploy app pod using cinder storage 1G;
2. resize pvc from 1G to 2G, but failed with error "volume status is not available"

**What you expected to happen**:
cinder pvc online resize success.

**How to reproduce it (as minimally and precisely as possible)**:
1. enable feature-gate ExpandInUsePersistentVolumes
2. cinder storage-class set allowVolumeExpansion:true
3. deploy app

[2019-01-24 02:51] surajnarwade commented on #71769
@juanvallejo , I would like to take this up :smile:

[2019-01-24 03:11] yue9944882 commented on #70207
/remove-lifecycle stale
/lifecycle frozen

[2019-01-24 03:22] mogaika opened #73245 "Confusing "Please use 'external' cloud provider for openstack" warning when already using external"
/kind bug

What happened:
Log says:
W0119 22:23:10.778211 10831 plugins.go:118] WARNING: openstack built-in cloud provider is now deprecated. Please use 'external' cloud provider for openstack: https://github.com/kubernetes/cloud-provider-openstack
what can make administrators confused and think that cloud provider is misconfigured

Anything else we need to know?:
cmd that we are using:
/usr/bin/o

[2019-01-24 03:40] surajnarwade commented on #71769
oops, it's already there: https://github.com/kubernetes/kubernetes/pull/72137

[2019-01-24 03:55] surajnarwade commented on #69851
+1 to @rctl , hey @juanvallejo , can you please close this ?

[2019-01-24 03:56] #73136 closed

[2019-01-24 03:57] surajnarwade commented on #70709
since https://github.com/kubernetes/kubernetes/pull/71103 is merged, we can close this :smile_cat:
cc @juanvallejo

[2019-01-24 04:00] surajnarwade commented on #70843
@toothbrush , can you please close this issue :smiley:  ?

[2019-01-24 04:03] surajnarwade commented on #72051
@yangzhenyu900 , @mingfang , can you elaborate issue in this format https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.md ?

[2019-01-24 04:24] aakarshit-batchu opened #73247 "Trident/NetApp mount - Failed to obtain node locks (Elasticsearch Statefulset-6.3.2)"
Hi Team,

We have deployed EFK using the latest manifest files (EK- 6.3.2, F-2.0.4). The Elasticsearch StatefulSet is configured with the VolumeClaimTemplates (Created a StorageClass on Trident/NetApp storage) and on starting the elasticsearch we are running into failed to obtain node lock errors.
We have tested our Trident with other applications and it is working fine. The issue is only with the

[2019-01-24 04:39] dlipovetsky opened #73249 "Taint-to-string method generates string that taint parser considers invalid"
**What happened**: The [`ToString` receiver on the `v1.Taint` type generates the string](https://github.com/kubernetes/kubernetes/blob/33b20f2/pkg/apis/core/taint.go#L33) "key:effect" when the `Value` of the taint is the empty string.

Because the generated string has no `=` character, when it is passed to the `parseTaint` method in `pkg/util/taints`, the method returns an error.

I discovered thi

[2019-01-24 04:41] jasinner opened #73294 "Kubelet should perform ACL check when pulling an image"
If an image already exists on a node it is possible to use that image in a different namespace even though a user might not have access to pull that image from a private repository.

This is mentioned in the [CIS Kubernetes Benchmark v1.3.0](https://www.cisecurity.org/benchmark/kubernetes/) in the item titled "1.1.11 Ensure that the admission control plugin AlwaysPullImages is set". There is offer

[2019-01-24 05:03] liggitt commented on #73050
opened https://github.com/kubernetes/kubernetes/pull/73250 to stop reporting the fields as required. note that the validation error is clientside in kubectl, not server-side... you can apply with `--validate=false` to ignore the spurious warning as a workaround

[2019-01-24 05:59] toothbrush commented on #70843
Oops, forgot, sorry!

[2019-01-24 05:59] #70843 closed

[2019-01-24 06:06] #73083 closed

[2019-01-24 06:21] bgrant0607 commented on #69871
/remove-lifecyle stale

[2019-01-24 06:40] leakingtapan commented on #69434
/remove-lifecycle stale

[2019-01-24 06:41] zhiminghufighting commented on #73200
@dims, i am responsible for kata PRC local support and i use docker to launch kata container and it works.

[2019-01-24 06:55] rajansandeep opened #73254 "CoreDNS to use forward plugin instead of proxy"
**What would you like to be added**:
Modify the CoreDNS configuration to use the [`forward` plugin](https://coredns.io/plugins/forward/) instead of the existing `proxy` plugin.

**Why is this needed**:
The `forward` plugin is the “new” version of the `proxy` plugin  and is faster because it re-uses connections to the upstreams.

/assign

[2019-01-24 06:55] rajansandeep commented on #73254
/sig network

[2019-01-24 07:01] zhiminghufighting commented on #73200
@dims  kata container raise the error when it unmarshal the config.json and  when it is launched by kubectl from master node. It is a right action for kata to check the value range for int64 type LinuxMemory.swap, when the value 18446744073709551615 exceed the range of int64 and kata raise the error.
             kata container will works well when it is launched by docker-containerd.

[2019-01-24 07:04] zhiminghufighting commented on #73200
@kubernetes/sig-contributor-experience-bugs

[2019-01-24 07:14] tuminoid commented on #73216
This is reproducible on `minikube` as well, with basically any container (since its about scheduling, not the pod itself):

[code]

with YAML of:
[code]

Reason being `unbound immediate PersistentVolumeClaims`:
[code]

PV and PVC:
[code]

[2019-01-24 08:00] uablrek commented on #73158
Almost duplicate of https://github.com/kubernetes/kubernetes/issues/72098 (ipv6/4 switched)

[2019-01-24 08:00] ds-ms commented on #72956
I will fix
./hack/run-in-gopath.sh
./hack/test-go.sh

[2019-01-24 08:01] Rogary commented on #70945
cluster node  is the same subnet   and have network access to the Kubernetes nodes
i use tcpdump in mysql node i got this
[code]
but
```192.1.1.24``` this is my pod IP but mysql node has no route to 192.1.0.0/16 so package can't return

[2019-01-24 08:10] jacksontj commented on #73158
@uablrek yes seems like the inverse of my issue. The fix/workaround I have implemented should fix both cases (as it makes the bind specific).

[2019-01-24 08:20] ljani commented on #65618
Personally I've lost track of the discussion and I've also switched environments, so I cannot comment whenever or not this is still a problem.

[2019-01-24 09:37] ds-ms commented on #72956
@mysunshine92 I've reverted my changes from those 2 files.

[2019-01-24 09:44] LW81 opened #73260 "Add support for StandardSSD_LRS on Azure as SC/PV"
**What would you like to be added**:

Since last summer azure offers a Disk Type called StandardSSD.

See https://azure.microsoft.com/en-us/blog/preview-standard-ssd-disks-for-azure-virtual-machine-workloads/

These disks are cost-effective storage option optimized for workloads that need consistent performance at lower IOPS levels

As of today i can't define this type of disks in a Storage Class

[2019-01-24 09:48] wenxuwan commented on #72395
I have the same problem with v1.13.1.

[2019-01-24 09:48] wenxuwan commented on #72395
If there have another thread to follow this problem ???

[2019-01-24 10:00] danielqsj commented on #72956
I will fix `./cluster/juju` and `./cluster/local`

[2019-01-24 10:13] verb commented on #27140
/remove-lifecycle stale

[2019-01-24 10:46] grahamwhaley commented on #73200
To add some more info - I believe @jodh-intel also re-created using `runc`, so we don't believe this is a kata specific issue (just the kata-runtime picked it up first in our testing).

[2019-01-24 10:50] rtheis commented on #72925
@Huang-Wei I manually rebuilt 1.13.2 with https://github.com/kubernetes/kubernetes/pull/73206/.

[2019-01-24 10:52] dims commented on #73200
@zhiminghufighting @grahamwhaley where exactly in kubernetes do we create this `config.json`? what does the json contain? (can you paste a full example?) since i have not been able to figure out what exactly you are mentioning.

[2019-01-24 10:56] #72644 closed

[2019-01-24 11:02] cofyc opened #73263 "Avoid partial volume binding scenario"
**What happened**:

If bindAPIUpdate binds pod volumes partially, rest of assumed volumes will be reverted and can used by another pod. Example illustrated by @msau42:

- Say if node1 has 2 PVs and node2 has 1 pv
- And pod1 has 2 PVCs and pod2 has 1
- It assumes the 2 PVs and goes to bind
- It binds pv1 successfully but fails pv2
  - bindAPIUpdate binds pv1 successfully
  - but bindAPIUpdate faile

[2019-01-24 11:02] cofyc commented on #73263
/sig storage
cc @msau42

[2019-01-24 11:02] yanghaichao12 commented on #70945
hi，i make testing，below is my service and endpoints：
`{
    "apiVersion": "v1",
    "kind": "Service",
    "metadata": {
        "creationTimestamp": "2019-01-24T10:06:55Z",
        "name": "mysql-endpoint",
        "namespace": "default",
        "resourceVersion": "57065",
        "selfLink": "/api/v1/namespaces/default/services/mysql-endpoint",
        "uid": "c76ed2ee-1fbf-11e9-a7e5-fa163e8772

[2019-01-24 11:06] huangjiasingle commented on #73089
@mkobetic  usually, the ResourceEventHandlerFuncs you shouldn't to implement by your self. if you do that, when you add the up ,add,update,delete func produce the panic. the panic ofcuase process by the controller (the controller.Start and contoller.Run called, it's will be produce panic of controller). l think it's no problems.  if you want to use custom controller: you should do like this: (k8s

[2019-01-24 11:13] zq-david-wang opened #73264 "--cpu-cfs-quota-period should not have effect if feature gate CPUCFSQuotaPeriod is not enabled"
**What happened**:
When run kubelet with "--cpu-cfs-quota-period 1000ms"  and without --feature-gates=CustomCPUCFSQuotaPeriod=true, kubelet would set cgroup cpu.cfs_period_us to 1000000, but make calculation based on a default value of 100000, this means if a pod has a limit of 100m, it would have a quota of 10000,  causing its limit set to 10m actually.

**What you expected to happen**:
If the cf

[2019-01-24 11:14] zq-david-wang commented on #73264
/sig node

[2019-01-24 11:22] tsmgeek commented on #67342
I am seeing the problem on 1.11.5 | eks.1, when the pod is being recreated but its on the same node as the one it was replacing. Does not happen all the time. The current fix is for me to go into AWS and detach the volume manually, then delete the pod and it will then start up properly again.

[2019-01-24 11:57] jayunit100 commented on #73249
/sig node

[2019-01-24 11:58] jayunit100 commented on #73249
cc @ravisantoshgudimetla

[2019-01-24 12:12] neolit123 commented on #70194
/remove lifecycle-stale

[2019-01-24 12:24] dims commented on #73264
cc @dashpole @szuecs

[2019-01-24 12:33] antonydenyer commented on #57187
To temporarily get around the problem increase the liveness `initialDelaySeconds`.

[2019-01-24 12:35] tsmgeek commented on #61625
This would be a useful function especially when using NLBs.

A hacky solution may be to have a separate service that has the LoadBalancer and points to NodePorts that have been opened up by other Services, it says that if you do not specify a selector then it does not route data but may trigger the LB to point to all the K8s nodes on the indicated nodeports.

https://kubernetes.io/docs/concepts/se

[2019-01-24 12:42] soltysh commented on #67345
I'm open to any proposals/fixes, I'm personally working on a linux so I won't be of any help, sorry.

[2019-01-24 12:59] jvanbruegge commented on #50922
/reopen
I just came across the need for this: an easy way to share custom TLS certificates with the whole cluster. The configmap is created once on cluster initialization and new namespaces could directly access them. At the moment I have to invoke a bash script for every new namespace that copies the config map. I would prefer to be able to have all configuration in YAML.

The easiest way to do t

[2019-01-24 13:01] mm4tt commented on #73176
An update on more logs - we won't have more logs.
We tried increasing scheduler's log level to v4 and it resulted in the log growing by few orders of magnitude. At the same time it was clogged with useless stuff, e.g. it logged "Node gce-scale-cluster-minion-group-XXX is a potential node for preemption." over **250 000 000** times.

We reverted the log level change in https://github.com/kubernetes

[2019-01-24 13:07] Huang-Wei commented on #72925
/reopen

@rtheis I will take another look.

[2019-01-24 13:10] levindoneto commented on #44275
I've got the same error:
[code]

Does somebody know how to solve it?

[2019-01-24 13:20] pdecat commented on #57187
Hi @antonydenyer, unfortunately this cannot be changed without replacing existing pods so this does not give a chance to debug containers that misbehave only sporadically.

[2019-01-24 13:29] kabakaev opened #73269 "New scheduler priority for real load average and free memory"
**What would you like to be added**:
Kubelet should update node's status.loadavg and status.freeMemory on each heartbeat.
`loadavg` should be a map taken from /proc/loadavg.
`freeMemory` should be calculated as `free + buffers + cache` from /proc/meminfo, see `man 1 free`.

Scheduler should be extended with two more PriorityMaps: `loadAverage` and `freeMemory`.

**Why is this needed**:

Every kube

[2019-01-24 13:46] wavetylor commented on #49387
@ye It's not working because Evicted isn't a status.phase value: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/

Evicted belong to a Status' reason: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#podstatus-v1-core

Which unfortunately isn't queryable with field-selector at the moment.

[2019-01-24 13:55] tuminoid commented on #73216
Steps to reproduce:
[code]

I can reproduce the bug on `1.12.4`, `1.12.5`, `1.13.1` and `1.13.2`, but not on `1.13.0`, `1.12.3` or earlier, or `1.11.6`, or earlier. Common scheduler related commit in all problematic releases is PR #71551. It is also cherry-picked to `1.11.6`, but I cannot reproduce there, so either it requires something in `1.12` tree to trigger, or it isn't about #71551.

Ping @b

[2019-01-24 13:55] kabakaev commented on #73269
@kubernetes/sig-node-feature-requests
@kubernetes/sig-scheduling-feature-requests

[2019-01-24 14:38] spiffxp commented on #70137
/remove-lifecycle stale

[2019-01-24 14:42] spiffxp commented on #70137
I'm willing to take your word for it, but still feel compelled to do a sanity check (which is going to take me some time)

I'm wondering if there's a way we could lint this somehow

[2019-01-24 14:47] spiffxp commented on #70137
/assign

[2019-01-24 14:53] holgpar opened #73275 "exec does not respect `allowPrivilegeEscalation: false`"
**What happened**:

When running a container with `allowPrivilegeEscalation: false` the pid 1 process and its children have `NoNewPrivs:     1`. If I start an additional process in the same container using exec, the flag is set to 0.

**What you expected to happen**:

Processes started by exec should share the same settings as defined for the pid 1 process. This is true for capabilities for exampl

[2019-01-24 14:57] holgpar commented on #73275
/sig auth

[2019-01-24 15:03] ghglza opened #73276 "k8s 1.13.2 + weave 2.5.0 + cri-o v1.13.1dev connect host network pods on wrong IP"
/sig network

**What happened**:
I have set up a k8s v1.13.2 cluster via kubeadm on CentOS 7.6 provisioned VirtualBox VMs.
I use Weave 2.5.0 as CNI plugin, and CRI-O (commit 1fecbd3cd built from source) as runtime.

The VMs have the standard NAT IP interface as eth0 on 10.0.2.15, and a VirtualBox host-only NIC configured on 192.168.99.x
kubelet node IP is set to an 192.168.99.x address via dynamic

[2019-01-24 15:11] spiffxp commented on #62161
/reopen
We should be catching this in our conformance walker

[2019-01-24 15:28] mkobetic commented on #73089
IIUC you're proposing to follow the structure outlined in https://github.com/kubernetes/sample-controller, which indeed bypasses the [`cache.Controller.Run()`] function altogether and implements its own, which would obviously avoid the problematic code.

That said I still think that deferring `WaitGroup.Wait()` [like that](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cli

[2019-01-24 16:01] juanvallejo commented on #72088
bot didn't seem to pick up /assign. Let's try again

/assign pandyamarut

[2019-01-24 16:04] andyzhangx commented on #73260
new managed disk types [`StandardSSD_LRS`](https://aka.ms/StandardSSDBlog), `UltraSSD_LRS` are available from `v1.13.0`

all possible `skuname` values are `Standard_LRS`, `StandardSSD_LRS`, `Premium_LRS`, `UltraSSD_LRS`

[2019-01-24 16:18] mszostok commented on #72088
@juanvallejo FYI: please take in mind that PR for fixing this issue was already created 39 days ago. PR fixes kubectl cluster-info dump command and adds test coverage to never regress. It needs to be only reviewed. I posted that information twice on slack cli channel :)

[2019-01-24 16:21] granular-ryanbonham commented on #69507
Being able to expose ephemeral storage metrics in Kubernetes would be useful in particular in clusters there you may have LimitRange enforcing limits on ephemeral storage and want to provide a way for service owners to be able to view there usage.  Would vote to see this implemented.

[2019-01-24 16:23] neolit123 commented on #26205
/remove-lifecycle stale
/lifecycle active
as PR is still in flight.

[2019-01-24 16:36] yastij opened #73278 "when node restarts, docker restarts the containers automatically"
As part of kubernetes/enhancements#719 we encountered a potential bug.

Environment:

Kubernetes: 1.10 and 1.11
Docker version: from 17.03.1

checked on multiple cloudproviders.

When a node restarts, and the kubelet cannot reach the apiserver, dockerd restarts all the containers in the node.

the following logs are emitted:

[code]

dockerd logs shows the following:

[code]

when inspecting conta

[2019-01-24 16:47] spiffxp commented on #62161
By that I mean I'd like us to update https://github.com/kubernetes/kubernetes/blob/master/test/conformance/walk.go

I think it should reject tests that have `[Flaky]` or `[Slow]` or `[Feature:.*]` tags

I would code this in such a way as to anticipate more tags down the line, and warn/inform on tags that we may consider blocking on in the future but not today (eg: `[Privileged]`, `[Serial]`, etc)

[2019-01-24 17:02] huangjiasingle commented on #73089
@mkobetic  yes, may the controller can support one func allow custom to registry coustom's hand panic log func to HandleCrash() func.

[2019-01-24 17:24] azaiter commented on #56293
Sorry for posting here but my question is closely related to the issue.
I'm encountering this issue very frequently when fetching the initial token in a different service/application. Exponential backoff is implemented as a remedy to it just like this PR. Were there any other solutions that were effective? or a root cause was found? thank you!

[2019-01-24 18:07] DaveKriegerEmerald commented on #67342
Great! We have a workaround for the problem (revising our Argo workflow so steps no longer try to share a volume) and will revisit the issue after our next K8s version upgrade.

[2019-01-24 18:12] xcq1 commented on #57187
We currently use a custom wrapper as a workaround: https://github.com/meisterplan/k8s-health-check
Big caveat is obviously you need to add a binary to your image and bear the indirection of running a shell command stored in an environment variable.

[2019-01-24 18:37] #68222 closed

[2019-01-24 18:46] lostpebble commented on #15180
Oh my... I have been smacking my head against the wall for the past few hours wondering why on earth, when I am port-forwarding to a _service_, I am only sending traffic to a single pod.

Dug through all service documentation to see if I had suddenly gone crazy and didn't know how to configure a simple service correctly.

Please, for the sake of all future head smackers, make it way more clear tha

[2019-01-24 18:57] kfox1111 commented on #15180
Yeah. and worse, the port forward is not re-evaluated when the pod dies. so, do a rolling upgrade and the port forward breaks. FYI.

Don't get me wrong, I'm very happy that you no longer have to go hunt for a pod name to do the port forward. :)  but there are some remaining issues with the current implementation.

[2019-01-24 19:06] lostpebble commented on #15180
Yea, I think the easiest way to prevent the confusion is to actually just output a simple message to the console when starting the `port-forward` command when it includes a service. Something like:

[code]

Would have saved a lot of time 😅

[2019-01-24 19:10] juanvallejo commented on #69851
/close

[2019-01-24 19:10] #69851 closed

[2019-01-24 19:10] #72545 closed

[2019-01-24 19:12] freevatar commented on #73182
Thanks for question.
Server `v1.11.5`
As far as I understand it's just a incompatibility issue between client and server versions.

[2019-01-24 19:12] #73182 closed

[2019-01-24 19:15] ixdy opened #73286 "update all active Kubernetes release branches to latest Go release"
Kubernetes produces a new minor release every 3 months, and currently supports the 3 most recent releases. This means that a given release is supported for around 8-9 months.

Go produces a new release approximately every 6 months, and supports the 2 most recent releases. This means that a given release is supported for about a year.

The release schedules are slightly out of sync, however; the ne

[2019-01-24 19:15] ixdy commented on #73286
/sig release

[2019-01-24 19:17] #67904 closed

[2019-01-24 19:17] #67063 closed

[2019-01-24 19:17] #67092 closed

[2019-01-24 19:17] #67645 closed

[2019-01-24 19:31] foxish commented on #73238
sgtm - this will miss 1.11.7 (because that's slated to go out today), but we can get a 1.11.8 sometime soon with these fixes.

[2019-01-24 19:31] nightmareze1 commented on #61486
@micahhausler

I reported this error 8 months ago.
This don't work in EKS because the hostname-override is incorrect, I fixed this problem using KOPS adding this configuration in kube-proxy.

  kubeProxy:
    hostnameOverride: $HOSTNAME.us-east-2.compute.internal

[2019-01-24 19:33] caesarxuchao commented on #73185
We didn't get a chance to discuss https://github.com/kubernetes/kubernetes/issues/72944 in the meeting, @liggitt can you comment in that issue? Thanks.

[2019-01-24 19:33] mengqiy commented on #73185
Another thing that was discussed in https://github.com/kubernetes/kubernetes/pull/68873#issuecomment-451586879.
We need decision regarding how webhooks handles `{Create,Update,Delete}Options`.

[2019-01-24 19:35] ixdy commented on #73286
This issue was at least partially motivated by the recent Go security releases.

I think in the short term we should make new patch releases of k8s 1.11 and 1.12 with go1.10.8, but we should aim to move those to go1.11.x before go1.10 goes out of support next month.

[2019-01-24 19:54] #55271 closed

[2019-01-24 19:56] dims commented on #73286
@BenTheElder @ixdy - i'd support this new policy

cc @kubernetes/sig-release

[2019-01-24 19:56] dims commented on #73286
@BenTheElder @ixdy we should get buy-in from the current patch release managers too

[2019-01-24 19:58] runyontr commented on #64333
To me, it seems as though there are two types of mutating WebHooks:
1) Changing functionality (e.g. Istio adding a sidecar)
2) Conformance (e.g. AlwaysPullImage)

The Conformance WebHooks are typically tied to a Validation WebHook that then validates the object adhere's to policy.

Could the structure of validation AdmissionsWebhooks be modified to contain a reference to a "remediation" MutatingWe

[2019-01-24 20:04] ixdy commented on #73286
cc @foxish @feiskyer @aleksandra-malinowska, @tpepper @kubernetes/product-security-team

[2019-01-24 20:21] liggitt commented on #73275
/sig node

[2019-01-24 20:32] dims commented on #73275
related to https://github.com/moby/moby/issues/37667 ?

[2019-01-24 20:33] liggitt commented on #73275
@kubernetes/sig-node-bugs what is the expected behavior for this via the CRI? The ExecRequest message doesn't have any options for capabilities/privileges of the newly spawned process:

https://github.com/kubernetes/kubernetes/blob/2cd88258c75527b6ede2257149fb4a01b552d831/pkg/kubelet/apis/cri/runtime/v1alpha2/api.proto#L939-L958

[2019-01-24 20:34] bsalamat commented on #67671
@vllry there is a [PR](https://github.com/kubernetes/kubernetes/pull/67742) which is incomplete as it causes build failures. I never found the time to investigate further what is causing the build failure, but feel free to take a look and fix it. At this point, I don't think I will find the time to provide the solution.

[2019-01-24 21:13] mauilion opened #73289 "Add .kube/plugins to the search path for kubectl plugin discovery"
**What would you like to be added**:
I'd like to append ~/.kube/plugins to the default search path for kubectl plugins.

**Why is this needed**:
In some cases (like windows) it's difficult to install a kubectl-plugin binary in the path or to require that the user define the path to pick up the location of the kubectl-plugin that has been added.
As an alternative I think it makes sense to define so

[2019-01-24 21:13] mauilion commented on #73289
/sig cli

[2019-01-24 21:24] ncdc commented on #73289
cc @soltysh @juanvallejo

[2019-01-24 21:24] fedebongio commented on #73049
/remove-sig api-machinery

[2019-01-24 21:25] fedebongio commented on #73050
/assign @liggitt

[2019-01-24 21:25] fedebongio commented on #73089
/cc @caesarxuchao

[2019-01-24 21:26] yliaog commented on #73089
/cc

[2019-01-24 21:52] donbowman commented on #57801
For this having this issue... you need to make imagePullSecrets a peer to container, e.g. not under the container. Shift it left 2 in your yaml.

just for replication controllers (eg. Deployment, Statefulset).

[2019-01-24 22:09] jkinkead commented on #66306
Thank you @Jeffwan , this is very surprising behavior. Adding the `service.beta.kubernetes.io/aws-load-balancer-internal` annotation makes services *look* private, but keeps them public, which is fairly sketchy (#64251, closed due to inactivity).

[2019-01-24 22:20] #67878 closed

[2019-01-24 22:42] juanvallejo commented on #70709
@surajnarwade thanks

/close

[2019-01-24 22:42] #70709 closed

[2019-01-24 22:54] juanvallejo commented on #73205
/assign Zyqsempai

[2019-01-24 22:54] LuluGO commented on #63959
Hey, thanks for doing this, I was just looking for a way to associate one eip to a nlb, one question though why do you need one eip for each AZ? now the nlb creates a 1 public IP that balance to 3 AZ using traefik in my case when I deploy the service, thanks

[2019-01-24 22:54] #67113 closed

[2019-01-24 23:03] juanvallejo commented on #55708
/remove-lifecycle rotten

[2019-01-24 23:08] bsalamat commented on #73176
cc/ @misterikkit

[2019-01-24 23:10] yliaog commented on #73236
please add the links to the code you mentioned in the description, where is it hard coded?

[2019-01-24 23:13] juanvallejo commented on #55708
With the 1.12 plugin mechanism, the current directory is now preserved when a plugin executable is invoked

/close

[2019-01-24 23:13] #55708 closed

[2019-01-24 23:17] bsalamat commented on #72408
@wojtek-t Given the outcome of the PR you sent, do you think we should keep this open?

[2019-01-24 23:22] msau42 commented on #71237
As a first step, we can add local PV to the TestDriver interface here: https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/test/e2e/storage/drivers/in_tree.go.

By doing this, we automatically get a bunch of test cases running against local PV.

[2019-01-24 23:36] mbohlool opened #73291 "Discussion on admission plugin ordering"
As part of Admission Webhook GA, we need to decide on admission plugin ordering for both standard plugins and webhooks.

The ordering problem comes out of issues like [this one](https://github.com/kubernetes/kubernetes/issues/64333)

**Problem**: Plugins can have different ideas about some fields of the object hence side effect of one plugin is affecting other plugins and the ordering may result i

[2019-01-24 23:43] mbohlool commented on #72944
I think it is a good idea. Ad if we want to do it, it has API implications that I prefer it to be included in v1 API for [Admission Webhook GA](https://github.com/kubernetes/kubernetes/issues/73185). @sttts @deads2k @caesarxuchao what do you think?

[2019-01-24 23:46] mrunalp commented on #73275
I think that we should match NoNewPrivs setting for pid 1 for Exec.

[2019-01-24 23:58] tsuna commented on #73056
Cc @ncdc, judging from the history of this code you might have an opinion on the matter :)

[2019-01-25 00:04] misterikkit commented on #73176
/assign
I can look into this next Tuesday

[2019-01-25 00:58] cblecker commented on #73286
I'm supportive of this policy too, but it will mean more work maintaining our release branches, especially with things like rules_go/bazel.

[2019-01-25 01:00] cblecker commented on #73200
/sig node
/remove-sig contributor-experience

[2019-01-25 01:04] ixdy commented on #73286
if we don't want to maintain compatibility with the latest bazel + rules_go (historically we've generally kept those locked), we can always override the go version. We're already doing this on release-1.11:
https://github.com/kubernetes/kubernetes/blob/3a10094374f22b621b3379a2f6cb81025ffe543f/build/root/WORKSPACE#L50-L67

[2019-01-25 01:08] cblecker commented on #73294
@dims I moved it.

[2019-01-25 01:09] PatrickLang commented on #70604
/milestone v1.14

[2019-01-25 01:22] rajiteh commented on #67342
I can confirm that this particular issue is solved in 1.12.5 -- I have been running a PVC stress tester which basically waits for a StatefulSet to become stable and then rapidly eviction pods for rescheduling. I have never been able to successfully run it for more than 2 hours before running in to this issue. But with 1.12.5, I have been successfully run this for 36 hours.

[2019-01-25 01:32] cofyc commented on #73216
Could you paste your storage class `sc-vault-ro` yaml too?

[2019-01-25 01:38] dims commented on #73294
Thanks @cblecker !

[2019-01-25 02:02] meringu commented on #30518
AWS has just announced TLS termination with NLBs: https://aws.amazon.com/blogs/aws/new-tls-termination-for-network-load-balancers/

If this was supported in Kubernetes I would have no need for ALB support.

[2019-01-25 02:09] cofyc commented on #73216
I guess this happens if PVC/PV cache in VolumeBInder is updated after `c.podQueue.MoveAllToActiveQueue()` is called in `factory.onPvcUpdate`.

We have two different event handlers for PVC/PV events in scheduler:

- scheduler factory, call `c.podQueue.MoveAllToActiveQueue` to move unscheduable pods into active queue
- volume binder PV/PVC assume cache, to receive updates from API server

But there

[2019-01-25 02:18] #73006 closed

[2019-01-25 02:23] meringu opened #73297 "Support TLS termination with AWS NLB"
**What would you like to be added**:

AWS has announced TLS termination for network load balancers: https://aws.amazon.com/blogs/aws/new-tls-termination-for-network-load-balancers/

It would be amazing if Kuberentes could support this! The annotations are all defined, we would need to hook up the cloud provisioner.

[code]

**Why is this needed**:

ACM can only be used with AWS Load balancers, so

[2019-01-25 02:38] cofyc commented on #73216
@bsalamat @k82cn @misterikkit @msau42

I think we need find a way to move unscheduable pods to active queue after PV/PVC cache update in volume binder now.

The way I'm trying to do in https://github.com/kubernetes/kubernetes/pull/71213 is not good (leak volume binder cache details into scheduler). Does new scheduler framework support a better way?

[2019-01-25 02:47] msau42 commented on #73216
For a short term solution, I can see potentially two ways to fix this:
* Pass podqueue to volume scheduler cache, so it can move pods to active queue when it updates its cache
* Volume scheduler cache registers a handler that gets invoked in the scheduler factory's event handler, instead of registering as a separate informer handler.

The 2nd approach probably aligns better with the scheduler v2 f

[2019-01-25 03:16] xiaoxu780 opened #73299 "How to write docker file of kubernetes component"
How to write dockerfile to build the scene of each component of kubernetes, such as kubelet, is there an official example?

[2019-01-25 03:31] dlipovetsky commented on #73249
Some information I'm gathering to help figure out this right fix:

1. According to the [v1.13 API reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#taint-v1-core), the Value is required.
2. The `ToString` receiver was introduced here: https://github.com/kubernetes/kubernetes/pull/32378
3. The original `ParseTaint` method was introduced here:  https://github.com/kubern

[2019-01-25 03:44] tanshanshan commented on #67671
@bsalamat  @k82cn
sorry , but I feel so difficult to solve it ,so I closed it .
sorry for delaying long time.

[2019-01-25 03:47] mbohlool commented on #73291
/sig api-machinery

[2019-01-25 04:15] ravisantoshgudimetla commented on #73249
@dlipovetsky - Thanks for creating the issue

My understanding is that taints and tolerations need to have `node.alpha.kubernetes.io/ismaster=:NoSchedule` format as they are similar to labels which have `key, value`, so `ToString` need to be fixed here.

/cc @k82cn

/sig scheduling

[2019-01-25 04:36] iskondi commented on #66750
+1 This is a pain. Is there an accepted work around for stopping this?

[2019-01-25 04:38] tuminoid commented on #73216
@cofyc There is no separate `sc-vault-ro`, PV is statically created and SC is just used to map it to PVC.

Thanks for the initial analysis.

[2019-01-25 04:46] cofyc commented on #73216
Thanks! I reproduced this issue locally, it has no relation with SC.

[2019-01-25 05:12] hex108 commented on #73014
It works! Thanks @yue9944882 . It might be better to add it to website, I just sent a PR for it.

[2019-01-25 05:12] hex108 commented on #73014
/close

[2019-01-25 05:12] #73014 closed

[2019-01-25 05:14] paulsubrata55 opened #73300 "Nodeport service cannot be accessed from outside cluster if kube-proxy mode is IPVS and cni plugin is calico."
**What happened**:
Started a cluster using following config:
[code]
After that I installed calico for the CNI. Then created a deployment followed by a Nodeport service.
In my cluster I have 2 nodes with 192,168.56.101 as master and 192,168.56.102 as worker. All of my pods from the above deployment are scheduled on worker node. Now if I use 192,168.56.102:nodeport to reach the service, it works fin

[2019-01-25 05:23] subramanian-neelakantan opened #73301 "vSphere volumes do not have zone labels auto applied"
**What happened**:
With zones marked using tags in vCenter and using VCP, the k8s nodes show the zone information correctly in its labels, but a volume does not have the zone labels applied. A node's zone information works correctly due to PR https://github.com/kubernetes/kubernetes/pull/66795.

[code]

However, a newly created volume does not show any zone labels today.

[code]

**What you expect

[2019-01-25 05:32] krmayankk commented on #69836
what are the work items remaining on this item ? I would like to help .

[2019-01-25 05:47] paulsubrata55 commented on #73300
area/ipvs

[2019-01-25 05:59] Rogary commented on #70945
@yanghaichao12  thank you test
i will check it again in a new env

[2019-01-25 06:21] mkumatag opened #73303 "Upgrade node-problem-detector version to v0.6.x in e2e_node tests"
**What happened**:
Currently, [e2e_node](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/node_problem_detector_linux.go#L48) test is using `k8s.gcr.io/node-problem-detector:v0.4.1` which is very old, we need a newer version(v0.6.x)

[2019-01-25 06:21] rongyi commented on #68194
1.11.6 still has this issue

[2019-01-25 06:21] mkumatag commented on #73303
/sig node

[2019-01-25 06:28] mkumatag opened #73304 "Run test-e2e-node on non-amd platforms"
This task is for running E2E node tests on non-amd architectures(arm, ppc64le, etc..)

Following are the usual combinations get executed in usual PR flow or CI/CD process:

### 1. NodeConformance

- [x] https://github.com/kubernetes/kubernetes/pull/73016
- [x] https://github.com/kubernetes/kubernetes/pull/73196
---

### 2. All - Slow - Serial - Flaky - NodeConformance - NodeAlphaFeature

**Failure

[2019-01-25 06:49] paulsubrata55 commented on #73300
@rongyi I have set the `clusterCIDR `, still not working. I can see the ipset in my system
[code]
but the corresponding iptables rule to match this is missing. (`KUBE-SVC-IPSETS` chain is  not present).

[2019-01-25 07:01] dataviruset commented on #68286
Any clue about why the process exits with exit code 2 in this case? I'm having a similar issue running InfluxDB in Kubernetes, and it crashes in the startup process. Runs fine outside of Kubernetes (with ```docker run```).

[2019-01-25 07:38] zhiminghufighting commented on #73200
@dims you can see the swap value is 18446744073709551615, actually it is an int64 value in ocispec.
kata will check the config.json according to ocispec and raise the error when it found the range of
memory sway value is exceed int64 range.

here:
"memory":{"swap":18446744073709551615,"swappiness":18446744073709551615},

kata runtime report the error:
Jan 16 11:58:47 localhost.localdomain kata-run

[2019-01-25 07:46] #72129 closed

[2019-01-25 07:49] wojtek-t commented on #72408
Let's keep that open, but I will reassign it to me. I will get back to it once I have a bit of time.

[2019-01-25 08:04] feie22 commented on #71071
Was this bug fixed in 1.11.7? I didn't see any release notes.

[2019-01-25 08:05] mkumatag commented on #73304
/assign

[2019-01-25 08:44] dawidmalina commented on #71071
Yes it is https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md#v1117:
[code]

[2019-01-25 08:50] liqlin2015 opened #73307 "kubelet failed to start because it failed to get zone from vsphere cloud provider"
**What happened**:

Enabled vSphere cloud provider in Kubernetes v1.12.4 cluster. But found kubelet failed to start due error to get zone from vSphere cloud provider.

[code]

[code]

While the same conf works for **Kubernetes v1.11.5**.

**What you expected to happen**:

Kubelet should start successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Just build a Kubernetes

[2019-01-25 08:52] liqlin2015 commented on #73307
/sig cloud-provider
/sig vmware

[2019-01-25 08:57] liqlin2015 commented on #73307
Checked the code https://github.com/kubernetes/kubernetes/blob/v1.12.4/pkg/cloudprovider/providers/vsphere/vsphere.go#L1345. Is it possible that the rest API client was not generated correctly or the session was expired for some reason?

[2019-01-25 09:04] lbernail commented on #71071
Yes I forgot to add "IPVS" in the release-note in the PR, sorry about that
Let us know if it works ok now! (we'll leave the issue open for a weeks just in case)

[2019-01-25 09:05] fabiand commented on #69932
/remove-lifecycle stale

[2019-01-25 09:06] feiskyer commented on #73286
+1.

This seems easier to do upgrading. But with this, will there some build issues because of override?

[2019-01-25 09:15] rongyi commented on #73300
@paulsubrata55 after adding clusterCIDR option we solved this problem. can you dump your kube-proxy configmap to here?

[2019-01-25 09:31] azerbe commented on #49466
This would be very helpful.

[2019-01-25 10:31] cofyc commented on #73216
My mistake, the second issue is already addressed in https://github.com/kubernetes/kubernetes/pull/73078.

[2019-01-25 10:56] bclau commented on #72742
It seems the test was removed by https://github.com/kubernetes/kubernetes/commit/17aa60686ebe5fd04b4fe6f442dc36a8d70b6730 for some reason.

[2019-01-25 11:03] andristeiner commented on #5698
Would be nice to see NO_COLOR support here: https://no-color.org/

[2019-01-25 11:31] 12beseuahmad commented on #65835
@gunzl1ng3r using subpath as you did worked for me. cheers (Y)

[2019-01-25 11:45] stuart-warren commented on #52172
/remove-lifecycle stale

[2019-01-25 12:19] Nilubkal commented on #54247
i cant get a the message even if write to /dev/termination-log ?

[2019-01-25 12:48] zouyee commented on #73294
https://github.com/docker/compose-on-kubernetes/issues/27

[2019-01-25 12:50] danwinship commented on #69455
NetworkPolicy implementation is controlled entirely by your network plugin, not by Kubernetes itself. If you are still having problems, you should file a bug against the network plugin you are using.
/close

[2019-01-25 12:50] #69455 closed

[2019-01-25 12:50] paulsubrata55 commented on #73300
I found the problem is with the sctp traffic. For tcp/udp traffic the ipvs node port works fine.
Another observation is that ipset bitmap:port does not support SCTP. But `KUBE-NODE-PORT-SCTP` is using bitmap:port

[2019-01-25 12:52] zcalusic commented on #50375
/remove-lifecycle stale

[2019-01-25 12:55] mincore commented on #66159
same issue here:

kubelet, master10-33-41-140  Readiness probe failed: HTTP probe failed with statuscode: 503
kubelet, master10-33-41-140  Readiness probe failed: Get http://10.244.1.58:9090/-/ready: dial tcp 10.244.1.58:9090: connect: connection refused
kubelet, master10-33-41-140  Killing container with id docker://prometheus:Need to kill Pod
kubelet, master10-33-41-140  error killing pod: faile

[2019-01-25 12:58] danwinship commented on #69882
/remove-lifecycle stale
/lifecycle frozen

Multus would make use of this too (cc @dcbw), to figure out if it needs to create additional networks for a pod.

And we could just pass the entire pod JSON. I think plenty of network plugins could make use of that. (HostPort pods are one thing in particular that the plugin might need to deal with that aren't labels or annotations.)

[2019-01-25 13:09] lijiaocn commented on #56850
if run kubelet with  "--docker-only" parameter，this problem will happen，just remove this paramter from your config file.  It seems that  kubelet  will query cgroup info by cadvisor client，if you set "--docker-only"， cadvisor will not collect kubelet's and runtime's cgroups，so query will fail.

I have record this process but in Chinese：[Kubernetes问题调查：failed to get cgroup stats for /systemd/system.

[2019-01-25 13:33] danwinship commented on #71305
I discussed iptables/nft incompatibility in #62720 too, although that was before the iptables binary got rewritten...

It seems like for right now, the backward-compatible answer is "you have to make sure the host is using iptables in legacy mode".

[2019-01-25 13:44] danwinship commented on #71728
NetworkPolicy tests are a `[Feature:]` and so don't get run by default. But I imagine at least some of the CI test environments implement NetworkPolicy (e2e-gce?) so probably we should fix that.

So 2 fixes:
- Make the tests pass again; probably requires changing the test from busybox to something else. I bet there are other tests in #69571 that they switched from wget to curl where they did remem

[2019-01-25 13:47] az82 commented on #61486
We also ran into this and have to evaluate whether we can implement a workaround.

[2019-01-25 14:08] danwinship commented on #72511
Have you actually tried this? It doesn't seem to me like that would do anything; if conntrack isn't recognizing the existence of a "connection", then every packet would be considered `NEW`.

This seems like it might be a kernel bug. (Or possibly a kernel "intentional implementation decision that can't be done any other way for arcane reasons".) Can you come up with a simplified reproducer? (ie, ju

[2019-01-25 14:12] danwinship commented on #72681
Are the pods backing the service dying and being restarted? (eg, check the `RESTARTS` column in `kubectl get pods`. Or else are you repeatedly changing the Deployment they're part of or something like that?). Someone trying to connect to a service IP might get `EHOSTUNREACH` if the service has no pods backing it.

[2019-01-25 14:32] pho-enix commented on #63959
Due to the fact that EIPs are represented by network hardware in AWS's datacenter you'd like to have redundant instances. If you run with only one EIP and the AZ of this EIP goes down, you won't be able to reach the (still up and running) traefik deployment in the other two AZs.

[2019-01-25 14:34] liggitt commented on #73294
duplicate of https://github.com/kubernetes/kubernetes/issues/18787

/close

[2019-01-25 14:34] #73294 closed

[2019-01-25 14:35] liggitt commented on #73294
the `AlwaysPullImages` admission plugin will force all containers to ping the registry, which accomplishes the auth check, at the cost of putting your registry in the critical path for every container start

[2019-01-25 14:37] liggitt commented on #73275
/remove-sig auth

[2019-01-25 14:41] liggitt commented on #73278
according to the docker doc, that looks correct:

[code]

is this a docker bug?

[2019-01-25 14:43] liggitt commented on #73278
does docker treat a system restart differently? I don't see a restart policy value other than `no`/`""` that would let us tell docker we didn't want containers auto-restarted on reboot

[2019-01-25 14:45] soltysh commented on #73289
That's fair suggestion, let's talk this through during our next SIG call, next Wed.

[2019-01-25 15:50] MarcoPalomo commented on #70334
Please put a correct path for this kubeadm.yaml
Because I don't see it in **/etc/kubernetes/manifest**.

[2019-01-25 16:06] hello2mao commented on #73245
hi @mogaika by setting **--cloud-provider=openstack**, you are use in-tree cloudprovider and this is deprecated.

If you want to use external cloudprovider, you should set **--cloud-provider=external** and start [openstack ccm](https://github.com/kubernetes/cloud-provider-openstack).

More info: https://github.com/kubernetes/kubernetes/tree/master/pkg/cloudprovider

[2019-01-25 16:11] wongma7 commented on #71478
The pod is privileged so it has something to do with devices on the host moving around while the container is starting.

for e.g. https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-kube-dns/1912#sig-storage-in-tree-volumes-driver-nfs-testpattern-pre-provisioned-pv-default-fs-subpath-should-support-existing-directory

/dev/sdh gets detached around the time the pod is

[2019-01-25 16:11] tpepper commented on #73286
Seems like we must at least trial moving our old branches forward to golang 1.11.x over the next weeks then (ie: see if scale test especially are okay). In the meantime need to release updated k8s builds with the golang patch fix release of the versions we're current using.

[2019-01-25 16:32] yastij commented on #73278
@liggitt - forcing this to no mitigates the issue.

[2019-01-25 16:33] msau42 commented on #56104
/close

[2019-01-25 16:33] #56104 closed

[2019-01-25 16:37] #66620 closed

[2019-01-25 16:39] DarrienG commented on #7890
Have there been any updates on this? There are ways around it, but an officially supported solution rather than installing extra binaries into my container, or stapling a sidecar container that does mounts would be much appreciated.

[2019-01-25 17:00] balajismaniam commented on #69932
@fabiand Is this still an issue? I've not seen this kind of issue before. We have run mixed workloads with no issues. See https://kubernetes.io/blog/2018/07/24/feature-highlight-cpu-manager/ for example.

[2019-01-25 17:01] andrewsykim opened #73319 "Alternative to Initializers for PersistentVolumeLabel controller"
**What would you like to be added**:
With alpha Initializers removed in https://github.com/kubernetes/kubernetes/pull/72972, we need to provide users with an out-of-tree solution for labeling PVs that will not rely on Initializers. First idea that comes to mind is using a mutating admission webhook. Open to other ideas.

For users that depend on this feature heavily and need an immeidate solution

[2019-01-25 17:01] andrewsykim commented on #73319
/sig cloud-provider storage

[2019-01-25 17:18] gnufied commented on #71478
@wongma7 Did ADC just detach the volume while fsck/mount was in progress?

[2019-01-25 17:21] yliaog commented on #72742
metadata.initializers is alpha, and is decided to be deprecated, and removed.

[2019-01-25 17:22] wongma7 commented on #71478
@gnufied no, I omitted bunch of lines. Just wanted to show that google-e2e-1912-9415e-dynamic-pvc-e8e455d6-201f-11e9-b9fb-42010a800002 is /dev/sdh and it got detached in between 35:48 and 36:07, pod failed at 36:00

[2019-01-25 17:43] liggitt commented on #51290
the alpha initializers feature has been removed in 1.14, and admission webhooks allow for targeting namespaces by label selector

/close

[2019-01-25 17:43] #51290 closed

[2019-01-25 17:44] liggitt commented on #53109
the alpha initializers feature has been removed in 1.14

/close

[2019-01-25 17:44] #53109 closed

[2019-01-25 17:46] liggitt commented on #72742
the alpha initializers feature has been removed

/close

[2019-01-25 17:46] #72742 closed

[2019-01-25 17:48] liggitt commented on #54228
the alpha initializers feature has been removed in 1.14

/close

[2019-01-25 17:48] #54228 closed

[2019-01-25 18:06] khsahaji commented on #68522
Hi dashpole

I am a beginner with Kubernetes API server usage for metrics collection. I have been trying to collect various metrics data using the "k8s.io/metrics/" metrics Golang package. So far I am able to get only few metrics like CPU, Memory and Ephemeral Storage of the containers. I would like to know how should I go about collecting metrics about persistent volume usage of a Pod(if I get it

[2019-01-25 18:12] jingxu97 opened #73321 "Projected Volumes for secrets/configmaps with multi-level paths does not work on Windows"
**What happened**:
The example for **Projection of secret keys to specific paths** in kubernetes.io document does not work. The problem seems caused by giving subpath for the target of key. If only one level of directory is given, then it is working fine for windows.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Just create secret and pod with

[2019-01-25 18:13] jingxu97 commented on #73321
cc @feiskyer

[2019-01-25 18:15] yujuhong commented on #73278
@yastij I couldn't reproduce this on my cluster (kubernets 1.13, GCE, COS image with docker 17.03.2-ce). I tried both methods -- 1) w/ k8s, stop apiserver, and restart the node, and 2) create a docker container with empty restart policy, reboot the node.

Since this can be a docker bug, could you get an os image version + docker version, and commands to reproduce this?

[2019-01-25 18:16] Freyert commented on #68737
Just as an FYI for anyone following this issue:

1. Kubernetes Enhancement Issue: https://github.com/kubernetes/enhancements/issues/661
2. Statefulset Volume Expansion KEP: https://github.com/kubernetes/enhancements/pull/660

[2019-01-25 18:32] bsalamat commented on #73216
FYI, we have also added #72558 to move pods to the active queue periodically. Is the issue reproducible in HEAD which has this change?

[2019-01-25 19:08] PatrickLang commented on #73049
/remove-sig windows

SIG-Windows owns the kubelet & kube-proxy for running Windows containers. This is an issue in minikube, which deploys a Linux VM. Can you check with the #minikube channel in the Slack on who to assign this to?

[2019-01-25 19:13] freehan opened #73324 "Endpoints API Object could not support large number of endpoints"
**What happened**:

When a service select many backend pods (e.g. 10k), the corresponding Endpoints object becomes big (>1MB in proto).

On Kube-proxy, the API watcher will start dropping the endpoints object and will not program iptables for the service. https://github.com/kubernetes/kubernetes/issues/57073
[code]

On master, if the object is too big. It can result in write failure to etcd.
[code

[2019-01-25 19:19] ixdy commented on #73286
There shouldn't be. `rules_go` is pretty agnostic about Go versions.

[2019-01-25 19:38] msau42 commented on #71478
It's strange that it's showing an error message for a device that is unrelated to the container.  The error message makes it sound like the runtime is listing all the devices on the host

[2019-01-25 19:41] dlipovetsky commented on #73249
@ravisantoshgudimetla Thanks for your input.

I've thought about how fixing `ToString` might impact existing clusters. There should be no impact, assuming all components on existing clusters already reject the invalid string representation that can be generated by `ToString`. This assumption is true if all components use the same parsing mechanism as kubelet does.

[2019-01-25 19:43] wongma7 commented on #71478
It looks like docker is doing that (if container is privileged) https://github.com/moby/moby/blob/62d80835abe3f7bc54c70f5e7bad638eaf3596be/daemon/oci_linux.go#L87

[2019-01-25 19:46] PatrickLang opened #73327 "Need NodePort test for mixed-OS clusters"
We need a test case that will verify that NodePort works on all nodes in the cluster for a Windows application.

Here's an example manual test:

Run `kubectl create -f` with this yaml

[code]

Once the pod is running, get the nodeport and make sure it's accessible on each node IP for that port.

[code]

/good-first-issue
/kind test
/sig windows

[2019-01-25 19:48] ravisantoshgudimetla commented on #73249
@dlipovetsky - No problem.

Yes, I thought about backward compatibility too. If we fix on the api side(which we shouldn't IMHO), it may cause breakage to api. Since `ToString` is not externally exposed and not part of api, it should be fixed in that function.

Do you want to send PR to address it?

[2019-01-25 19:57] msau42 commented on #71478
Ahh, I guess if the container's privileged, it's making all the host devices available to the container too.  Which doesn't work that well in Kubernetes as devices fluctuate.

I'm surprised though that a retry won't work eventually

[2019-01-25 19:58] PatrickLang opened #73328 "Need ExternalName test for mixed-OS clusters"
There aren't any tests that cover ExternalPort services from Windows pods today. Here's an example manual case that can best explain what needs to be automated.

1. Start a Windows pod on a Windows node
2. `kubectl create -f …` this yaml

[code]

3. `kubectl exec <podname> curl.exe searchengine`

[code]
This shows that DNS is working for the ExternalName service entry. The actual HTTP request fail

[2019-01-25 20:41] #66785 closed

[2019-01-25 21:05] domq commented on #51835
I am still getting stuck with this issue with k8s v1.11.0. Here is a check-list of what I do to clean up my pods:

- Make sure that all resources that are attached to the pod have been reclaimed. Not all of them are visible in `kubectl get`; some of them are only known to the Kubelet the pod is running on, so you will have to follow its log stream locally
  - In particular, [`umount` directories t

[2019-01-25 21:08] liggitt commented on #69836
The first step is to start describing the use cases for the signing profiles and parameters, to figure out which actors would be providing/overriding/consuming that info.

That information would help inform where in the API the data would make sense (in spec, in status, able to be influenced during approval, etc)

Once we have several good use cases, look at API required to support it.

Then we'd

[2019-01-25 21:36] spuder commented on #30961
For others running into this issue, `mapping values are not allowed in this context` likely means that the yaml isn't valid.
The following appears to be valid yaml in every linter I've tried, but still fails in kubernetes (notice the 4 dashes instead of the typical 3)

[code]

[code]

[2019-01-25 21:42] #67906 closed

[2019-01-25 21:59] fabiand commented on #69932
I had to check. Actually: No. Not an issue anymore, we could not reproduce it.

/close

[2019-01-25 21:59] #69932 closed

[2019-01-25 22:00] bhargavb7 commented on #19317
kubectl get namespace annoying-namespace-to-delete -o json > tmp.json
then edit tmp.json and remove"kubernetes"

curl -k -H "Content-Type: application/json" -X PUT --data-binary @tmp.json https://kubernetes-cluster-ip/api/v1/namespaces/annoying-namespace-to-delete/finalize

and it should delete your namespace,

[2019-01-25 22:11] omadawn commented on #72991
We are experiencing the same issue.

We are running the kubelet in rkt

I've seen this issue in 1.11.6 and 1.10.11

# 1.10 cluster version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf51bbc2c2f85208aad78335", GitTreeState:"clean", BuildDate:"2018-04-27T09:22:21Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version:

[2019-01-25 22:12] #64901 closed

[2019-01-25 23:14] bgrant0607 commented on #72929
Has documentation been updated? Are the possible/expected label values documented? I don't even see a golang documentation page containing the values.

Are there upgrade and version-skew tests? Annotation changes in the past have caused compatibility breakage. I wouldn't expect label key changes to be any less error prone.

Speaking of breakage, do we need a test to verify that golang changes don'

[2019-01-25 23:16] bgrant0607 commented on #72929
cc @liggitt

[2019-01-25 23:17] bgrant0607 commented on #73084
Please ensure this deprecation is announced with 1.14, in release notes and in the feature documentation

[2019-01-25 23:39] liggitt commented on #72929
Just saw this, thanks.

The values are reported by kubelet as part of the kubelet's reconcile loop, so we have a single writer, so reporting both the old and new annotation keys doesn't seem concerning.

I agree documentation needs to be updated, and note the release at which the new keys started getting reported.

Changing the go constant values is the most concerning part of this and should prob

[2019-01-25 23:57] dlipovetsky commented on #73249
@ravisantoshgudimetla

Yes, I'd like to send a PR. I'll get started on it.

[2019-01-26 00:00] jingxu97 opened #73332 "Mount in windows does not check the source path exist or not"
/sig-windows

**What happened**:

In testing local volume on Windows, notice that if the local volume path does not exist, the mount function in mount_windows does not check it and mount will succeeded. But pod will be stuck in CreateContainer phase since the pod volume will be linked to an non-exist path.

**What you expected to happen**:
mount operation should fail and log the error message if l

[2019-01-26 00:07] dashpole commented on #42676
This is complete, and is active on all 1.11+ nodes on GKE.  We haven't detected any soft-lockups.

[2019-01-26 00:07] #42676 closed

[2019-01-26 00:09] yujuhong commented on #72929
Not yet. I will send a PR to update documentation in https://github.com/kubernetes/website, in particular, https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/

FWIW, `LabelOS` and `LabelArch` are not used anywhere in the kubernetes repository. But fair enough, there might be outside components relying on those. I'll send a PR to revert & fix this behavior.

I'm not sure

[2019-01-26 00:35] micahhausler opened #73334 "Support ECR PrivateLink Endpionts"
AWS recently launched private link support for ECR, but in doing so changed the API endpoint for ECR. The latest AWS SDK ([v1.16.25](https://github.com/aws/aws-sdk-go/releases/tag/v1.16.25)) includes updates to the new API endpoint. The existing endpoint will continue to work for existing clients, but won't work with PrivateLink.

**What would you like to be added**:
AWS SDK updated to at least v1

[2019-01-26 00:41] dashpole commented on #73031
In my testing, and in some of the failures, the node has disk pressure before any pods are scheduled.  So something is off in the setup of these tests.  Sometimes it results in a pod being rejected, other times it results in the images being removed from the node, and the pod not being able to pull its image.

[2019-01-26 01:08] wgliang commented on #73269
#18620 #18438 This may be duplicate PR.

[2019-01-26 02:08] gregory-lyons opened #73336 "API server metrics page does not record 403 responses for basic auth"
**What happened**:
When a user makes a forbidden resource request to API server using a [basic auth](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#static-password-file) token, API server responds 403 but does not record the 403 response in its `apiserver_request_count` metric.

I have seen other response codes show up properly in API server for basic auth requests (e.g. 2

[2019-01-26 03:09] psaini79 opened #73338 "Restart POD if container dies"
Is there a way or parameter to set in yaml files to forcefully restart the pod if a container restarts in a pod?

At this moment, if container dies, it restarts but it left some previous state. For my application  requirement I have few IP aliases on eth0 network card. If container dies the IP aliases remain in a pod and other applications assumes that application node is still active and part of

[2019-01-26 03:13] psaini79 commented on #73338
sig /Architecture

[2019-01-26 03:14] psaini79 commented on #73338
/sig Architecture

[2019-01-26 07:35] jianglingxia opened #73340 "kubernete v1.13 kubelet not running"
I use the kubernetes v1.13 source code and make it then deploy the cluster,I found the kubelet not running
is there any para set to kubelet?thanks!

[root@host-101-101-101-127 kubernetes]# systemctl status kubelet.service
● kubelet.service - Kubernetes Kubelet Server
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
   Active: activating (auto-restart) (Resu

[2019-01-26 07:49] szuecs commented on #73264
@zq-david-wang I think the problem is https://github.com/kubernetes/kubernetes/pull/63437/files#diff-5b0d60893b6218cfff53f6dc8b8488d2L68, I will prepare a fix for it

@Thanks @dims for the notification.

[2019-01-26 08:35] #26205 closed

[2019-01-26 10:37] mydockergit opened #73343 "Missing PodTemplate documentation on usage"
Hi,

I saw [here ](https://kubernetes.io/docs/concepts/workloads/pods/pod-overview/#pod-templates)that there is a PodTemplate object.
I created one:
[code]

But how can I link it to DaemonSet or other object that will create this Pod?
The documentation doesn't specify exactly how to use it.

Can you please advise how to use it to create a Pod?
Because I don't see what is the reason for this object

[2019-01-26 11:00] 13567436138 opened #73344 "pod state is completed ,how to solve this situation?"
**What happened**:
some pods state is completed?what is that mean?they are not running.
ceph-bootstrap-27srl                   0/1     Completed   0          68m
ceph-checkdns-8549694cd4-vpmcx         1/1     Running     0          62m
ceph-mds-cdcf54647-746cx               0/1     Init:0/2    0          62m
ceph-mds-cdcf54647-wvvcc               0/1     Init:0/2    0          62m
ceph-mds-keyring

[2019-01-26 11:00] pvanderlinden commented on #58211
/reopen

[2019-01-26 11:00] pvanderlinden commented on #58211
/remove-lifecycle rotten

[2019-01-26 11:01] 13567436138 commented on #73344
/sig apps

[2019-01-26 11:32] yastij commented on #73269
@kabakaev - heartbeats are reported through the Lease API now, which is independent from node status. Making the kubelet update the node status on a high frequency can cause issues at etcd level cc @wojtek-t @derekwaynecarr

[2019-01-26 12:00] paralika commented on #11815
I looked into it.  It looks like PATH and SHELL values are totally dependent on the container images. I cannot see if we are explicitly passing those while attaching process to TTY.

[2019-01-26 12:08] 13567436138 opened #73346 "why is service has no clusterip?"
**What happened**:
clusterip is None
ceph-mgr              ClusterIP   10.233.25.215   <none>        7000/TCP,9283/TCP          123m
ceph-mon              ClusterIP   None            <none>        6789/TCP                   129m
ceph-mon-discovery    ClusterIP   None            <none>        6789/TCP                   129m
ingress               ClusterIP   10.233.3.46     <none>        80/TCP,443/

[2019-01-26 12:24] 13567436138 opened #73347 "why is my pod always at init status?"
ceph-mds-cdcf54647-c4n5f               0/1     Init:0/2    0          105s
ceph-mds-cdcf54647-wvvcc               0/1     Init:0/2    0          147m

why is my pod always at init status?

[root@node1 ~]# kubectl describe pod ceph-mds-cdcf54647-c4n5f -n ceph
Name:               ceph-mds-cdcf54647-c4n5f
Namespace:          ceph
Priority:           0
PriorityClassName:  <none>
Node:               no

[2019-01-26 12:31] 13567436138 commented on #73346
i see

[2019-01-26 12:31] #73346 closed

[2019-01-26 12:31] 13567436138 commented on #73347
i see

[2019-01-26 12:31] #73347 closed

[2019-01-26 12:31] 13567436138 commented on #73344
i see

[2019-01-26 12:31] #73344 closed

[2019-01-26 12:55] kabakaev commented on #73269
@yastij , HDYT maybe such usecase may be solved better using a [custom scheduler](https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/)? I never saw it in action though.

[2019-01-26 13:01] eloyekunle commented on #63267
@misterikkit Mind if I take a crack at this one?

[2019-01-26 15:51] pcdavies commented on #72696
See resolution in issue #298 referenced above.

[2019-01-26 15:51] #72696 closed

[2019-01-26 15:57] eloyekunle commented on #68026
I'm working on this package: `staging/src/k8s.io/kube-aggregator`

[2019-01-26 17:13] xmudrii commented on #66448
/remove-lifecycle stale

[2019-01-26 17:47] dlipovetsky commented on #73249
I suspect are instances of incorrect string representations of Taints in the Kubernetes docs. If I find them, I'll file a separate PR on k/website.

[2019-01-26 18:01] #67973 closed

[2019-01-26 18:19] raravena80 commented on #69041
/remove-lifecycle rotten

[2019-01-26 18:30] paulsubrata55 commented on #73300
To fix the issue for sctp traffic I have done a simple patch on ipvs/proxier.go to make things work in my system. Using `hash IP:Port` for ipset `KUBE-NODE-PORT-SCTP` rule instead of `bitmap:port` since `hash ip:port` supports sctp also.

Pasting the diff below. Please review:
[code]

[2019-01-26 18:59] karlkfi opened #73352 "Proposal: Replace Service with ReverseProxy"
## Problem
The name Service doesn’t really describe what a k8s Service does or is and frequently causes naming conflicts in higher level abstractions.

## Proposal
Rename or replace the Service resource with a similar resource named ReverseProxy.

## Reasoning
ReverseProxy better describes the current functionality and intent behind the Service resource and is more consistent with existing infrast

[2019-01-26 20:11] clehene commented on #17144
Should these two be exclusive?

[2019-01-26 20:16] jnummelin opened #73356 "Kubelet serving CSR not auto-approved"
**What happened**:

I enabled `serverTLSBootstrap: true` on kubelet and expected the serving certificates CSR to be auto-approved by controller manager as per docs here: https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/#approval

Discussing with @mauilion on Slack revealed that `csrapproving` controller does NOT approve serving CSR's at all.

So it needs

[2019-01-26 21:19] shubheksha commented on #73343
Hi @mydockergit, the GitHub issue tracker isn't the best place to ask for support regarding the operation of Kubernetes. Please try one of the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures) listed instead.
If it's an issue with the docs, this repo would be the best place to file an issue.

[2019-01-26 21:20] shubheksha commented on #73340
Hi @jianglingxia, the GitHub issue tracker isn't the best place to ask for support regarding the operation of Kubernetes. Please try one of the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures) listed instead.

[2019-01-26 21:21] shubheksha commented on #73336
/sig api-machinery

[2019-01-26 21:22] shubheksha commented on #73299
Hi @xiaoxu780, the GitHub issue tracker isn't the best place to ask for support regarding the operation of Kubernetes. Please try one of the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures) listed instead.

[2019-01-26 23:07] LittleFox94 opened #73360 "kube-proxy: ipv4/ipv6 mix crashes: KUBE-MARK-DROP':No such file or directory"
Hi there,

I'm not entirely sure if this is a bug or a funny configuration fault. Since that exact configuration worked before, I'm still reporting it.

**What happened**:

Having mixed IPv4 and IPv6 addresses for pods prevented `kube-proxy` (in `iptables` mode) from creating iptables rules. Logged was an error from iptables-save: `Couldn't load target 'KUBE-MARK-DROP':No such file or directory`.

[2019-01-26 23:09] LittleFox94 commented on #73360
@kubernetes/sig-network-bugs

[2019-01-26 23:50] dims opened #73361 "Replace kubernetes/pkg/util/net/sets with code in k8s.io/utils/net/"
At some point, the code in https://github.com/kubernetes/kubernetes/tree/master/pkg/util/net/ (net.go and ipnet.go) was moved to https://github.com/kubernetes/utils/tree/master/net

However we have not started using the code in the kubernetes/utils library. We should switch over to the vendored library and delete the duplicate code in the main repo.

[2019-01-27 01:09] kellycampbell opened #73362 "AWS NLB with externalTrafficPolicy: Local: Health check defaults take 90s to remove node"
**What happened**:

A Service with `externalTrafficPolicy: Local` and AWS NLB load balancer is very slow to recognize that a node fails health checks.

I created a DaemonSet and a Service with

[code]

When one of the pods is restarted, the NLB still allows traffic to it (which is dropped causing connect timeout) for a minimum of 3 * 30s with the default health check settings.

**What you expected

[2019-01-27 01:11] kellycampbell commented on #73362
@kubernetes/sig-aws-bugs

[2019-01-27 02:43] mkumatag commented on #62161
I see the following test failed at least 2 times after adding into the conformance on ppc64le:

`[sig-apps] Daemon set [Serial] should rollback without unnecessary restarts [Conformance]`

https://k8s-testgrid.appspot.com/sig-node-ppc64le#conformance

[2019-01-27 02:43] vjdhama commented on #73361
@dims I would like to work on this.

[2019-01-27 03:02] george-angel commented on #66762
/remove-lifecycle stale

[2019-01-27 03:40] BenTheElder commented on #62161
That looks to be because the test is running on a single node but multiple
are required. It would have been skipped incorrectly previously.

On Sat, Jan 26, 2019, 18:44 Manjunath A Kumatagi <notifications@github.com
wrote:

[2019-01-27 04:11] #68013 closed

[2019-01-27 04:17] mkumatag opened #73364 "Enable "SystemLogMonitor [It] should generate node condition and events for corresponding errors" on non-amd platform"
**What happened**:
Following test fails on the non-amd platform:

[code]

This test uses `node-problem-detector` which is not ported for other platforms. To fix above issue we need to build this image for all the other platforms and push a fat manifest image.

[2019-01-27 04:17] mkumatag commented on #73364
/sig node

[2019-01-27 04:18] mkumatag commented on #73364
Created https://github.com/kubernetes/node-problem-detector/pull/250 to fix this issue.

[2019-01-27 06:13] #57715 closed

[2019-01-27 10:15] mkumatag opened #73365 "Build google/cadvisor:latest for multi architecture"
**What happened**:
Following 3 node tests got a prereq of `google/cadvisor:latest` which is not yet multi-architectured. This issue is to track the work for making this image multi-arch manifest.

[code]

[2019-01-27 10:15] mkumatag commented on #73365
/kind feature
/assign
/sig node

[2019-01-27 10:20] mkumatag opened #73367 "Use manifest images in test/e2e_node/perf tests"
**What happened**:

test/e2e_node/perf tests are referring to adm only images, this need to be replaced with multi-arch fat manifest images.

ref:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/perf/workloads/npb_ep.go#L46
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/perf/workloads/npb_is.go#L44
https://github.com/kubernetes/kubernetes/blob/master/test/e2e

[2019-01-27 10:21] mkumatag commented on #73367
/assign
/sig node

[2019-01-27 10:30] cpressland commented on #70229
Just wanted to provide an update on the above. Since downgrading from Docker 18.06 to Docker 17.03.2 this issue has not reoccurred. I may just be impatient but we were experiencing panics every few days and it’s now been over a week without a single incident.

[2019-01-27 13:47] NicolasT commented on #73356
See the note in the documentation you linked to:

Which refers to https://github.com/kubernetes/community/pull/1982

[2019-01-27 15:15] GMartinez-Sisti commented on #68981
/remove-lifecycle stale

[2019-01-27 16:11] taragu opened #73371 "Retries for kubelet plugin registration should be at a lower layer"
**What would you like to be added**:
The kubelet registration mechanism should be more robust (e.g. have a full controller that maintains desired/actual and reconciles that state periodically). The CSI layer is not right layer to implement retries. Retries should not be implemented by every consumer.

**Why is this needed**: For a more robust kubelet registration mechanism

Related issue: #71487

[2019-01-27 16:48] andyzhangx commented on #73260
here is the eample: https://github.com/andyzhangx/demo/blob/master/pv/storageclass-azuredisk-managed.yaml
let me know if you have any further question.
/close

[2019-01-27 16:48] #73260 closed

[2019-01-27 16:50] andyzhangx commented on #73332
I will take a look at this issue

[2019-01-27 17:35] codeasashu commented on #70300
/close

[2019-01-27 17:35] #70300 closed

[2019-01-27 18:07] neolit123 commented on #73356
/sig auth

[2019-01-27 18:09] neolit123 commented on #73352
/sig architecture

you might get a better response about your proposal if you you send a message to the sig-architecture mailing list:
https://github.com/kubernetes/community/tree/master/sig-architecture

[2019-01-27 18:11] neolit123 commented on #73343
+1
/close

[2019-01-27 18:11] #73343 closed

[2019-01-27 18:11] neolit123 commented on #73340
+1
/close

[2019-01-27 18:11] #73340 closed

[2019-01-27 18:15] neolit123 commented on #73338
/remove-sig architecture

hello, it's best to ask support questions in your support channels like stackoverflow.
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

this is probably the answer you are looking for:
https://stackoverflow.com/a/46127779

/close

[2019-01-27 18:15] #73338 closed

[2019-01-27 18:16] neolit123 commented on #73276
/close

please post the same issue in the kubernetes/kubeam repo.
thanks.

[2019-01-27 18:16] #73276 closed

[2019-01-27 18:18] neolit123 commented on #73215
/sig storage
/kind bug

[2019-01-27 18:43] jnummelin commented on #73356
@NicolasT Thanks for pointing that out, it was too well hidden from me under rotation part of the docs. I swear I had read through that page like 23 times.

Should this be closed since it works as-designed, or kept open for the discussion to maybe enable auto-approval for serving certs too.

[2019-01-27 21:13] liggitt commented on #73356
This is working as designed. There is no information in the API to determine whether a particular address belongs to a node.

/close

[2019-01-27 21:13] #73356 closed

[2019-01-27 21:42] vllry opened #73375 "ClientConnectionConfiguration uses 32 bit types"
**What happened**:
ClientConnectionConfiguration in [component-base](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/component-base) uses int32 and float32.

**What you expected to happen**:
The rest of the codebase appears to be casting these to 64bit/standard types. Either ClientConnectionConfiguration should use 64 bit types, or there should be a comment explaining why i

[2019-01-27 21:44] vllry commented on #73375
/sig api-machinery

[2019-01-27 21:46] vllry commented on #73375
/help

[2019-01-27 21:46] vllry commented on #73375
/help cancel

[2019-01-27 21:55] karlkfi commented on #73352
The bot said pinging the group would send the mailing list an email. Should I send an email in addition?

[2019-01-27 22:24] vllry opened #73377 "Switch kube-proxy to Cobra commands"
**What happened**:
A todo in the kube-proxy main() references switching to Cobra for command parsing.

**What you expected to happen**:
Cobra should be adopted in kube-proxy.

(If this TODO is now defunct or liable to become defunct, please close this ticket)

[2019-01-28 00:07] Jeffwan commented on #66306
@jkinkead, I notice some issues talking about external <--> internal. I think they are still not resolved yet. Let me confirm.

[2019-01-28 00:08] Jeffwan commented on #66306
/cc @M00nF1sh  Hi, you probably want to have a look at this PR. :D

[2019-01-28 00:31] #68086 closed

[2019-01-28 00:35] frapposelli commented on #70391
@mansi-a looks like this has been fixed, please reopen if issue is still happening on latest version.

/close

[2019-01-28 00:35] #70391 closed

[2019-01-28 00:42] zerkms commented on #56903
I have found that it starts happening exactly after one of coredns pods was rescheduled. And lasts for exactly 5 minutes.

Here is the current ipvs:

[code]

During that 5 minutes interval tcpdump for DNS traffic on the host machine looks like this:

for successful requests

[code]

As you see first packet is sent to the service coredns ip address (`10.42.0.10`), then the kernel resolves it via ip

[2019-01-28 01:09] PatrickLang commented on #65890
/remove-lifecycle stale

[2019-01-28 01:17] GregSilverman commented on #56903
We resolved our latency issues by upgrading to the latest version of Calico CNI/Node. So far it has been very stable. See #72826.

[2019-01-28 01:32] #67466 closed

[2019-01-28 02:21] liqlin2015 commented on #73307
cc @dougm . Do you have any idea about the error? Compared with Kubernetes v.1.11.x, does additional privilege required for zone tags?

[2019-01-28 02:31] xychu commented on #72956
I'd like to fix files under `./test/cmd/`.

[2019-01-28 02:33] #68094 closed

[2019-01-28 02:37] mrrandrade opened #73382 "kubeproxy ipvs updates are slow and seems to be affected by node load."
**What happened**: Kube-proxy using ipvs takes a very long time to reflect service endpoint changes.

**What you expected to happen**: As fast as possible update on services.

**How to reproduce it (as minimally and precisely as possible)**: Kube-proxy setup with +- 4000 services endpoints plus ipvs.

**Anything else we need to know?**:

Our cluster is 1.12.3, but we tried using a mixed version ku

[2019-01-28 02:42] mrrandrade commented on #73382
/sig network

[2019-01-28 03:50] dims opened #73384 "Replace kubernetes/pkg/util/keymutex with k8s.io/utils/tree/master/keymutex"
At some point, the code in https://github.com/kubernetes/kubernetes/tree/master/pkg/util/keymutex/  was moved to https://github.com/kubernetes/utils/tree/master/keymutex

However we have not started using the code in the kubernetes/utils library. We should switch over to the vendored library and delete the duplicate code in the main repo.

[2019-01-28 03:52] dims opened #73385 "Replace kubernetes/pkg/util/strings with k8s.io/utils/tree/master/strings"
At some point, the code in https://github.com/kubernetes/kubernetes/tree/master/pkg/util/strings/ was moved to https://github.com/kubernetes/utils/tree/master/strings

However we have not started using the code in the kubernetes/utils library. We should switch over to the vendored library and delete the duplicate code in the main repo.

[2019-01-28 04:08] srsrin commented on #71556
Piggybacking off of the realgambo, is there anyway to make the beta version the default? Because when deployed the hpa through helm, helm doesn't allow the use of beta versions so reverts back to v1 when we would like to be using v2beta2 @MaciekPytel

thanks.

[2019-01-28 04:41] mkumatag commented on #62161
@BenTheElder yes, that is right - we have a single node cluster for the conformance tests and was running fine till now. Is there a new requirement of having multiple nodes for the conformance tests? Is there a requirement doc where anyone can follow before running the conformance like the number of nodes, config etc..

[2019-01-28 04:49] sharmmoh1983 commented on #23001
I am trying to write custom config map for my fluentd daemonset for creating elastic search index based on kubernetes namespace.

[code]
Now when I see the index in ES , I get logstash-myclustername-$['kubernetes']['namespace_name']-2019.01.28

and not the equivalent values

I have tried logstash-myclustername-${record['kubernetes']['namespace_name'] also but no use

Please let me know how to acce

[2019-01-28 04:55] PatrickLang commented on #69905
/remove good-first-issue

It looks like this may not be ready for testing. https://github.com/kubernetes/kubernetes/pull/64009 has the first half of the feature implemented, but it's still incomplete.

[2019-01-28 04:57] PatrickLang opened #73387 "Finish hooking up run_as_username on Windows"
https://github.com/kubernetes/kubernetes/pull/64009 added run_as_username to the container runtime interface, but did not hook it up in the Kubernetes `v1.Container.SecurityContext.runAsUser` field. That's still an int, which won't work on Windows.

**Anything else we need to know?**:
#69905 is tracking testing for this

/milestone v1.14
/sig windows
/sig architecture

[2019-01-28 05:36] #68110 closed

[2019-01-28 06:13] DylanBLE commented on #67118
@fsunaval I am working on a realtime-scheduler-extender which gathers metrics info from[ metrics-server ](https://github.com/kubernetes-incubator/metrics-server)and[ promethues-adaptor](https://github.com/DirectXMan12/k8s-prometheus-adapter).

[2019-01-28 06:19] zhiminghufighting commented on #73200
@dims thanks for your direction and hints. i will track the value assignment of swap to "-1" and the procedure to generate the config.json.

[2019-01-28 06:49] MikeSpreitzer commented on #68418
/remove-lifecycle rotten

[2019-01-28 07:06] MikeSpreitzer opened #73389 "Mysterious authorization failure to `GET /` in aggregated apiservers"
**What happened**:
I tested the sample-apiserver again, and looked in the log of the wardle apiserver (which was running `-v=5`).  I found nearly regular repeats (with a period of 30 seconds) of couplets like the following.

[code]

The client IP:port match the main kube apiserver.

I can not find corresponding entries in the main kube apiserver's log, not even when I turn it up to `-v=8`.

**What

[2019-01-28 07:08] MikeSpreitzer commented on #73389
@kubernetes/sig-api-machinery-bugs

[2019-01-28 07:22] MikeSpreitzer opened #73390 "sample-apiserver does not have script or instructions for building"
**What happened**:
I wanted to test the latest version of the sample-apiserver.  I still did not find instructions or a script for building it.  I found the `build-image.sh` script, but that relies on the `_output` directory produced when building k/k.

**What you expected to happen**:
I expected this sample to have standalone build instructions or scripting.

**How to reproduce it (as minimally a

[2019-01-28 07:22] MikeSpreitzer commented on #73390
@kubernetes/sig-api-machinery-bugs

[2019-01-28 07:23] MikeSpreitzer commented on #73390
I created a script of my own to build it:
[code]

[2019-01-28 07:45] danielqsj commented on #73384
/assign

[2019-01-28 08:00] danielqsj commented on #73385
/assign

[2019-01-28 08:19] feiskyer commented on #72788
Currently, `usageCoreNanoSeconds` is got from docker's stats API on Windows. From docker stats API [here](https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/docker/docker/api/types/stats.go#L23), only `TotalUsage` is available, hence `usageNanoCores` is not set on Windows:

https://github.com/kubernetes/kubernetes/blob/8b98e802eddb9f478ff7d991a2f72f60c165388a/vendor/github.com/

[2019-01-28 08:21] jianglingxia opened #73392 "pod use cinder by the way of cloud controller manager can not attached the node"
**What happened**:
i use the cloud controller manager the way to let the pod use the cinder volume,but the pod always ContainerCreating,and the logs print :
Events:
  Type     Reason       Age   From               Message
  ----     ------       ----  ----               -------
  Normal   Scheduled    29s   default-scheduler  Successfully assigned test/task-pv-pod-hostname to k8s
  Warning  Failed

[2019-01-28 08:21] jianglingxia commented on #73392
@sig-storage

[2019-01-28 08:35] xiaoxubeii commented on #73269
@kabakaev I agree with @yastij. Frequent updates like status.loadavg and status.freeMemory will significantly increase the pressure on kube-apiserver and etcd. One feasible approach which I made is to implement a custom scheduler and use metrics collected by a custom resource monitor.

[2019-01-28 08:43] Sicaine commented on #67345
@soltysh i would propose some default mechanism to check the server certificate based on the default trust store of the users os. Very similiar to what browsers do.

[2019-01-28 09:05] mrdulin commented on #25908
Same issue. Looking for a way or an official docs about how to use `GKE` cron job with `Cloud SQL`

[2019-01-28 09:17] liqlin2015 commented on #73301
@subramanian-neelakantan I have an issue https://github.com/kubernetes/kubernetes/issues/73307 to get zone from vsphere cloud provider with Kubernetes v1.12.4. Is there any limitation for zone support?
How about I disable the zone label?

[2019-01-28 09:42] kabakaev commented on #73269
@xiaoxubeii , what do you mean by `which I made`? Do you have any working example of a custom scheduler?

[2019-01-28 09:47] jinsalex commented on #73140
Hi I am also experiencing the same. any update on the issue or any command that can be used to check whether the node is available?

[2019-01-28 09:53] frankscholten commented on #58076
Running into the same issue. Any idea on what could be the problem?

[2019-01-28 09:57] zgs0103 commented on #61937
We use a temporary method to solve this problem. Modify kubelet.service and pre-create /sys/fs/cgroup/memory/kubepods to prevent kubelet create this path. In testing...

[2019-01-28 10:02] mourya007 commented on #71464
@pbarker Can you provide any reference for how to start on this feature ?

[2019-01-28 10:07] jsravn commented on #58334
/remove-lifecycle stale

[2019-01-28 10:12] tiwalter opened #73395 "Kubernetes does not expose metrics for PVCs with storageclass Ceph-fs"
**What happened**:
I get no metrics for the PVC, if i use PVCs with storageclass Ceph-fs. If i use storageclass Ceph-rbd, it works and e.g the metric **kubelet_volume_stats_capacity_bytes** shows metrics for this PVC.

**What you expected to happen**:
Kubernetes exposes metrics for PVCs with storageclass Ceph-fs (e.g. via metric name **kubelet_volume_stats_capacity_bytes**)

**How to reproduce it

[2019-01-28 10:14] tiwalter commented on #73395
/sig instrumentation
/are monitoring

[2019-01-28 11:07] mariantalla opened #73396 "Failing test: master-blocking/node-kubelet-master Overall"
**Which jobs are failing**:
[sig-release-master-blocking#node-kubelet-master](https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master)

**Which test(s) are failing**:
[Overall](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/18864)

**Since when has it been failing**:
2019-01-27, [build 18864](https://gubernator.k8s.io/build/kubernetes-jenkins/log

[2019-01-28 11:08] Nurza opened #73397 "Node is `Ready` but with : `NodeStatusUnknown`."
Hello, I think this is a bug, but I am not 100% sure. I think it is abnormal to have a node with the `Ready` status but with : `NodeStatusUnknown`.

Anyway, here is the story :

**What happened**:

When I make `kubectl describe nodes`, some of them have the `NodeStatusUnknown` status but they are `Ready` too.

Example :

[code]

**What you expected to happen**:

[code]

My expected behaviour is :

[2019-01-28 11:42] #65875 closed

[2019-01-28 13:42] soltysh commented on #67345
@Sicaine go for it

[2019-01-28 14:05] Nurza commented on #73397
/sig node

[2019-01-28 14:56] nmousavi commented on #66828
/remove-lifecycle stale

[2019-01-28 15:01] wozniakjan commented on #70916
I spent some time looking back at https://github.com/kubernetes/kubernetes/pull/71457, and a significant shortcomings was mentioned by @liggitt - `NamespaceLifecycle` admission controller won't allow any events to get created in the deleting namespace. As a potential workaround, the events can be inserted into `default` or any other permanent namespace and as an `InvolvedObject` refer to the names

[2019-01-28 15:47] joshrosso commented on #67964
ping @timothysc, wanted to verify this *does* overlap with https://github.com/kubernetes/kubernetes/pull/60848 ?

[2019-01-28 15:50] subramanian-neelakantan commented on #73307
This looks like a privilege issue for the kubelet's VC user that is connecting to vCenter to list the tags associated with host/cluster/datacenter. Can you verify whether this VC user has the necessary permissions setup as described in https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/vcp-roles.html? Can this user list the tags associated with a host and a cluster and a datacen

[2019-01-28 15:51] subramanian-neelakantan commented on #73301
@liqlin2015 I have responded in issue #73307.

[2019-01-28 15:57] llevar opened #73407 "Master node on cluster reports having several IP addresses"
**What happened**:
Created a cluster following https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/ and using WeaveNet as the network. Encountered issues with getting weave to peer the nodes with the master because of the wrong IP for master being used. Issue was documented here - https://github.com/weaveworks/weave/issues/3588. After investigation we discovered that the master nod

[2019-01-28 15:59] llevar commented on #73407
@kubernetes/sig-network-bugs /sig network

[2019-01-28 16:22] liggitt commented on #72929
If we don't do that, no one without intimate knowledge of the target cluster of their manifest can start using the new labels until ~1.16.

[2019-01-28 16:43] krzysied commented on #72363
Currently scheduler benchmark is constantly failing since run 8021 (01/10/2019). There is a `panic: runtime error: invalid memory address or nil pointer dereference` log in `.out` file.

The changes between first broken and last "good" test: https://github.com/kubernetes/kubernetes/compare/bd5a4ccfc3d3e0cfa1a9099180526c2237aabec8...2c8b571d573d434687316c606fb5e20e63008345
Example of the log: https

[2019-01-28 16:47] #67631 closed

[2019-01-28 16:47] #66387 closed

[2019-01-28 16:57] mortent commented on #73396
Looks like this is caused by insufficient capacity in the gcp zone where the tests run. I see this message on many of the failing tests:

[code]

[2019-01-28 17:00] tmjd commented on #72511
Sorry for taking a while to respond here but I've been busy and wanted to do a little reading on `UNREPLIED` packets. Unfortunately I didn't find much that helps me understand what should be done.

My initial thought is that I don't think we would want `! --state NEW` as that would include `INVALID`.
Do you know what state a flow is in that has `UNREPLIED` packets?

The change I submitted was inte

[2019-01-28 17:20] neolit123 commented on #73396
the are a number of more tests failing due to this issue:
`pull-kubernetes-node-e2e`
also tests in here: https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all

[2019-01-28 17:23] spiffxp commented on #73396
[#testing-ops thread](https://kubernetes.slack.com/archives/C7J9RP96G/p1548633586269900)

[2019-01-28 17:31] tedyu opened #73410 "Potential misjudgment in nodeAddressesChangeDetected of node_controller"
**What happened**:
I was reading nodeAddressesChangeDetected of pkg/controller/cloud/node_controller.go .
[code]
Suppose for the same type, addresses in addressSet1 are bb, followed by aa.
Addresses in addressSet2 are cc followed by aa.
The comparison in the next for loop would detect no change which is not true.

**What you expected to happen**:
We should distinguish the above difference in addre

[2019-01-28 17:44] surajssd commented on #73410
@tedyu can you provide steps to re-create this on real kubernetes cluster?

[2019-01-28 17:49] tedyu commented on #73410
As I stated above, this potential issue was found during code reading.
I haven't seen this in real cluster yet.

[2019-01-28 17:51] mariantalla commented on #73396
/remove-kind bug

[2019-01-28 18:07] BenTheElder commented on #62161
That is a really good question, I don't know. I do know that removing the
skip merged very recently. I believe you need two nodes on which workloads
can be scheduled and for now I'm supplying --num-nodes=2 to the tests. I
have suspicion this may be a problem for sonobuoy but I haven't had a
chance to test yet.

On Sun, Jan 27, 2019, 20:42 Manjunath A Kumatagi <notifications@github.com
wrote:

[2019-01-28 18:17] achodankar04 opened #73412 "mongodb not starting wiredtiger storage engine when used with azurefile storage class"
What happened:
I am trying to run mongodb(v 4.0.4) docker image in openshift. There is Azure file storage class used for persistence. When the pod is started the persistent volume claim is attached to the pod. But when the mongod tries to run i get the following error related to wiredTiger storage engine.

2019-01-28T17:54:23.006+0000 I CONTROL  [initandlisten] options: { net: { bindIpAll: true },

[2019-01-28 18:44] PatrickLang opened #73414 "Need Windows DNS configuration tests"
We need to add Windows-specific DNS tests to cover the following fields:

  - Test cases needed for `dnsPolicy`: Default, ClusterFirst, None
  - Test cases needed for `dnsConfig`
  - Test cases needed for `hostname`
  - Test cases needed for `subdomain`

These need to run on Windows containers because the domain resolution policy is different, so different results need to be checked. Windows assum

[2019-01-28 18:48] PatrickLang opened #73415 "Need Windows CronJob tests"
https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

There aren't any tests available for this yet on Windows, and they're not in the conformance suite. We need a new test added or adapted to test this on Windows. It's mostly just a scheduling feature so I don't expect there to be any code work needed, just an e2e test.

/milestone v1.14
/sig windows

[2019-01-28 18:50] MaciekPytel commented on #71556
I don't know - @kubernetes/sig-api-machinery-misc can you help with the question above?

[2019-01-28 18:50] PatrickLang opened #73416 "Need headless service tests on Windows"
https://kubernetes.io/docs/concepts/services-networking/service/#headless-services

There isn't a test for this running on Windows nodes today. We need to create one that:
- Creates a headless service with multiple instances
- Creates another pod in the same namespace and check that DNS resolution returns A records for those pod IPs

/milestone v1.14
/sig windows

[2019-01-28 18:52] PatrickLang opened #73417 "Need System OOM testing on Windows"
Kubelet and System-reserve are implemented on Windows along with pod/container reserves which can help prevent overprovisioning, but we still need to test OOM behavior. We need a test case that will:

1. Set kubelet & system reserve
2. Schedule pods until node is full
3. Run something that will take up system ram so that OOM is triggered

/sig windows
/milestone v1.14

[2019-01-28 18:55] PatrickLang opened #73418 "Need QoS testing on Windows"
https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/

We need a test case that:
1. Sets up a namespace with limits on CPU & memory
2. Creates multiple pods with differing QoS settings that will exceed the namespace limits
3. Remove a few pods at a time and make sure QoS behavior is preserved and that lower QoS pods do get scheduled when higher QoS ones are stopped

/sig wi

[2019-01-28 19:00] msau42 commented on #72931
This is the same as https://github.com/kubernetes/kubernetes/issues/72500

[2019-01-28 19:31] msau42 opened #73419 "Local PV stress e2e failing"
**Which jobs are failing**:
gce-serial

**Which test(s) are failing**:
[sig-storage] PersistentVolumes-local Stress with local volumes [Serial] should be able to process many pods and reuse local volumes

**Since when has it been failing**:
since introduction

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-serial

**Reason for failure**:
[code]

**Anything else we n

[2019-01-28 19:31] msau42 commented on #73419
@kubernetes/sig-storage-test-failures
/assign @cofyc

[2019-01-28 19:54] deads2k commented on #72944
When rotating a bundle that is going to be mounted into a pod, it makes a lot of sense to coordinate in configmaps.  However, here we're talking about trying to manage a resource that is designed to be watched live for reaction and never mounted.  While it is possible to do this with a configmap, you end up having to write an effective join between the two.

In a case where you're reading live obj

[2019-01-28 20:02] liggitt commented on #73387
correct, we cannot change the primitive type of an already released field

[2019-01-28 20:06] liggitt commented on #71556
no, the API group and version ordering is pinned in the API server.

note that this only affects how kubectl decides to resolve ambiguous get requests... if you want a specific version, include that in the kubectl get request.

[2019-01-28 20:08] soltysh opened #73421 "Long running request definition in the kube-aggregator"
Kube-API server has a set of long-running pattern check defined [here](https://github.com/kubernetes/kubernetes/blob/8b98e802eddb9f478ff7d991a2f72f60c165388a/cmd/kube-apiserver/app/server.go#L408-L411) that are applied to the operations taking longer than the default timeout of 60 seconds.
Unfortunately, our kube-aggregator has hard-coded the same configuration [here](https://github.com/kubernetes

[2019-01-28 20:10] brahmaroutu opened #73422 "Tracking Issue - Conformance Coverage for Scheduler"
**What would you like to be added**:
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

**Why is this needed**:
This is to track conformance coverage to the scheduler fun

[2019-01-28 20:11] brahmaroutu commented on #73422
area/conformance

[2019-01-28 20:17] brahmaroutu opened #73423 "Tracking Issue - Conformance Coverage for Kube-proxy"
**What would you like to be added**:
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

**Why is this needed**:
This Issue is to improve conformance coverage for Kube-Pro

[2019-01-28 20:19] brahmaroutu opened #73424 "Tracking Issue - Conformance Coverage for Etcd"
**What would you like to be added**:
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

**Why is this needed**:
Identify tests the tests general and pluggable behavior fo

[2019-01-28 20:19] brahmaroutu commented on #73424
as indicated by @timothysc
There have been multiple proposals and even a PR to replace Etcd with other storage systems, and we've upgraded Etcd across major versions (from 2 to 3), so Apiserver behaviors that are dependent on Etcd (optimistic concurrency, watch, Event TTL) should be covered. SIG API Machinery should help with that. They did add some watch tests already.

[2019-01-28 20:21] brahmaroutu opened #73425 "Tracking Issue - Conformance Coverage for Networking"
**What would you like to be added**:
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

**Why is this needed**:
Specifically address CNI networking, identify tests that t

[2019-01-28 20:24] brahmaroutu opened #73426 "Tracking Issue - Conformance Coverage for HostAliases"
**What would you like to be added**:
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

**Why is this needed**:
Conformance coverage on HostAliases require more tests to

[2019-01-28 20:52] andrewsykim commented on #68947
/remove-lifecycle stale

[2019-01-28 20:58] MarkusTeufelberger commented on #65089
According to https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md

This means that newer and older Docker versions than 17.12 are being tested, but not the one in Bionic. Bionic-updates (18.06) however should work, so there's that...

I'd still like to see Kubernetes being tested with Docker 17.12 though.

[2019-01-28 20:58] MarkusTeufelberger commented on #65089
/remove-lifecycle stale

[2019-01-28 21:01] andrewsykim commented on #68947
Do we need a controllers util repo for this? Can that just go into client-go?

[2019-01-28 21:17] brahmaroutu opened #73428 "Tracking Issue - Conformance Coverage for Container Image updates"
**What would you like to be added**:
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

**Why is this needed**:
Conformance coverage for various Image update functionalit

[2019-01-28 21:19] brahmaroutu opened #73429 "Tracking Issue - Conformance Coverage for Shared Volumes between Containers in a Pod"
**What would you like to be added**:
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

**Why is this needed**:
Conformance coverage for CSI, etc.

/area conformance
/ass

[2019-01-28 21:22] brahmaroutu opened #73430 "Tracking Issue - Conformance Coverage for Shared Container Namespaces"
**What would you like to be added**:
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

**Why is this needed**:
This is to improve conformance test coverage for Container

[2019-01-28 21:54] jingxu97 commented on #73332
@andyzhangx thanks for your help!

[2019-01-28 21:59] brahmaroutu opened #73433 "Tracking Issue - Conformance Coverage for Graceful Termination"
**What would you like to be added**:
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

**Why is this needed**:
Add or promote Graceful Termination test coverage for conf

[2019-01-28 22:00] brahmaroutu commented on #73433
per @pontiyaraja
*****************
raised PR for this kubernetes/kubernetes#72191
*****************

[2019-01-28 22:34] PatrickLang opened #73434 "Implement terminationGracePeriodSeconds on Windows"
`V1.Pod.terminationGracePeriodSeconds` is not implemented correctly on Windows. Currently, Docker doesn't have a configurable timeout on Windows, see: [reference](https://github.com/moby/moby/issues/25982), so it can't be implemented. The behavior today is that the ENTRYPOINT process is sent `CTRL_SHUTDOWN_EVENT`, then Windows waits 5 seconds by hardcoded default, and finally shuts down all proces

[2019-01-28 22:35] PatrickLang commented on #73434
/milestone v1.15
/sig windows

[2019-01-28 22:47] yujuhong commented on #73332
/cc @kubernetes/sig-windows-bugs @PatrickLang

[2019-01-28 22:47] yujuhong commented on #73321
/cc @kubernetes/sig-windows-bugs @PatrickLang

[2019-01-28 22:56] ixdy commented on #70249
it seems like it might be a bit late to tackle this for 1.14 (cc @spiffxp), though it might be worth starting on a KEP to outline this in any case?

[2019-01-28 23:04] michmike commented on #73321
we had called out  subpath volume mounting as not working. in the KEP, i am highlighting this again for secrets

[2019-01-28 23:07] michmike commented on #73332
thanks @yujuhong . we will track this for GA

[2019-01-28 23:53] jamesjmurtagh commented on #72788
@feiskyer  I think this is broader than just a Windows issue. Officially supported tools such as the kubernetes metrics-server expect the `usageNanoCores` field, but custom CRIs that conform to the interfaces defined in the `kubelet/apis/cri/runtime` package are not given the liberty to return this value.

#72803

[2019-01-28 23:53] saad-ali commented on #73371
Thanks for creating this.

**Background**

The [Kubelet Plugin Registration Mechanism ](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/util/pluginwatcher#plugin-registration-service) watches a directory on the kubelet host for new socket files. When a new socket file is discovered, the plugin mechanism will attempt to connect to the socket and probe it using the protocol defined

[2019-01-28 23:56] PatrickLang commented on #72803
/sig node

Adding node since this involves CRI changes

[2019-01-28 23:58] msau42 commented on #73371
cc @RenaudWasTaken

[2019-01-29 00:01] PatrickLang commented on #73332
/milestone v1.14

[2019-01-29 00:03] yujuhong commented on #72788
@dashpole suggested previously to cache the stats temporarily and compute the stats using the diff. David, could you chime in on how this could be done?

Yes, this was mentioned in the previous comments too. There are plans to transition those components off this field, but it's WIP. We are looking for a workaround in kubelet for now.

[2019-01-29 00:46] liqlin2015 commented on #73307
Thanks @subramanian-neelakantan . I will check again the permission again listing tags associated with host/cluster/datacenter.

[2019-01-29 01:10] kellycampbell commented on #73362
I'm also curious if anyone has good recommendations for how to schedule pods with `externalTrafficPolicy: Local` such that traffic isn't dropped. I'm thinking there could be a way using a Deployment with pod anti-affinity and rolling update params such that a new pod is brought up on each node before shutting down the old pod. If that's too complex, then I suppose a custom controller could be made

[2019-01-29 01:17] amwat commented on #73396
Latest runs look good, https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master

[2019-01-29 01:32] bgrant0607 commented on #72929
To expand on @liggitt's comment, since supported node/control-plane version skew is 2 releases, in general the new node labels couldn't be depended upon until 2 releases after introduction.

[2019-01-29 01:41] yujuhong commented on #72929
That's why kubelet reports both at the same time. This is a general problem for any new node label.

I will send a PR to add the labels in the node controller, so that folks can start relying the newer labels if they wish.

[2019-01-29 01:43] dims commented on #73079
/assign @philips

[2019-01-29 01:55] liqlin2015 commented on #73307
@subramanian-neelakantan Do you know is there any doc talking about the permission difference in each Kubernetes release? For example, additional tag permission is required for Kubernetes > v1.12.x.

[2019-01-29 01:56] spiffxp commented on #73396
/close
Fixed by kubernetes/test-infra#11002 (#11001 is tracking that this hits a lot more than just this one job, we'll leave that open to keep monitoring)

[2019-01-29 01:56] #73396 closed

[2019-01-29 01:56] spiffxp commented on #73396
/assign

[2019-01-29 02:00] spiffxp opened #73444 "pull-kubernetes-e2e-kops-aws failing"
**Which jobs are failing**: pull-kubernetes-e2e-kops-aws

**Which test(s) are failing**: Up

**Since when has it been failing**:
Last pass @ 2019-01-28 05:43 PST https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/73295/pull-kubernetes-e2e-kops-aws/120805
First failure @ 2019-01-28 05:47 PST
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/73318/pull-kubernetes-e2e-kops-

[2019-01-29 02:01] spiffxp commented on #73444
/sig cluster-lifecycle
because kops
/sig aws
because this is running under a sig-aws managed account AFAIK

[2019-01-29 02:02] spiffxp commented on #73444
/priority critical-urgent
this is merge blocking

[2019-01-29 02:05] spiffxp commented on #73444
Looks like this isn't just the presubmit: https://testgrid.k8s.io/sig-cluster-lifecycle-kops#kops-aws

- Last pass started @ 2019-01-28 05:54 PST https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/38326
- First fail started @ 2019-01-28 06:35 PST https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/38327

[2019-01-29 02:08] msau42 commented on #69602
/remove-lifecycle stale
/lifecycle frozen

[2019-01-29 02:21] msau42 commented on #69819
/remove-lifecycle stale
/lifecycle frozen

[2019-01-29 02:31] spiffxp commented on #73444
[triage link: "waiting for ready nodes timed out"](https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=waiting%20for%20ready%20nodes%20timed%20out)

[2019-01-29 02:39] spiffxp commented on #73444
The CI jobs going from green to red without the underlying kubernetes commit or kubernetes test-infra commit changing make me feel like this is an environment issue, I'm not sure if the version of kops being used changed?

[2019-01-29 02:41] justinsb commented on #73444
I poked around the AWS account, we're getting this error message from the AWS ASGs:

`Launching a new EC2 instance. Status Reason: This account is currently blocked and not recognized as a valid account. Please contact aws-verification@amazon.com if you have questions. Launching EC2 instance failed.`

[2019-01-29 02:45] spiffxp commented on #73444
/assign @shyamjvs
I know you've been doing test-infra work related to presets for AWS credentials, maybe related?

[2019-01-29 02:48] shyamjvs commented on #73444
@BenTheElder Have we changed sth around this recently? I remember this was fixed few days ago when it broke.

[2019-01-29 02:49] shyamjvs commented on #73444
Sorry, also @krzyzacy

[2019-01-29 02:58] justinsb commented on #73444
To be clear though, kops is creating the ASGs, security groups & networking resources, so it isn't a normal "wrong password" problem.  It looks like AWS has maybe decided our account can't create instances?  Like our account has been flagged?

[2019-01-29 03:00] shyamjvs commented on #73444
Thanks for the lead. I'll try to follow up on this internally.

[2019-01-29 03:01] BenTheElder commented on #73444
I've not touched anything, I only reverted the _naming_ of the presets in the config, and I don't have access to any of the AWS accounts. I don't believe @krzyzacy has either. Looks like an issue with the account.

[2019-01-29 03:03] shyamjvs commented on #73444
@justinsb Do you know who/how the account was created?

[2019-01-29 03:06] BenTheElder commented on #62161
er to be clear `--num-nodes` is a flag on the _tests_, not the cluster. I'm [not using a flag either](https://github.com/kubernetes-sigs/kind/commit/44c7055635eae4fd2e6733f9a44c334fd187ce8b), though it is also using kubeadm :-)

[2019-01-29 03:08] justinsb commented on #73444
It's a CNCF-owned/administered account - I think @idvoretskyi is the contact

[2019-01-29 03:34] krzyzacy commented on #73444
I think I can also poke, 1min

[2019-01-29 03:41] shyamjvs commented on #73444
I suggest temporarily making the presubmit non-blocking, until this fixed. WDYT?

[2019-01-29 03:42] subramanian-neelakantan commented on #73307
Hi @liqlin2015, to the best of my knowledge the permissions required for the VC user has not changed across VCP releases. The required permissions have been documented in the above link
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/vcp-roles.html. Please point out any deficiencies in this link and we can update it.

[2019-01-29 03:43] krzyzacy commented on #73444
sgtm

[2019-01-29 03:44] shyamjvs commented on #73444
I'll send out a PR making the change.

[2019-01-29 03:52] shyamjvs commented on #73444
![screen shot 2019-01-28 at 7 50 26 pm](https://user-images.githubusercontent.com/4333971/51883056-29eb3f80-2336-11e9-8dd1-20826d3791fd.png)

^ I think this is the reason for the block.

[2019-01-29 03:54] shyamjvs commented on #73444
The payments haven't been made from Oct 2018. @idvoretskyi Seems like there's a card registered on your name. Can we go ahead and make those pending payments?

[2019-01-29 04:01] shyamjvs commented on #73444
Sent https://github.com/kubernetes/test-infra/pull/11018

[2019-01-29 04:11] #72966 closed

[2019-01-29 04:14] bgrant0607 commented on #70604
Note that we're trying to make the KEP the authoritative list

https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190103-windows-node-support.md#what-will-never-work-without-underlying-os-changes

[2019-01-29 04:37] VinceMD commented on #69264
is there a workaround for this to work? Like editing manually

[2019-01-29 05:13] tanksoga opened #73449 "k8s 1.13.2 cluster, no matches for kind "KubeSchedulerConfiguration" in version "kubescheduler.config.k8s.io/v1alpha1""
**What happened**:
I had k8s 1.13.2 cluster create (1 master + 2 work node), after deploy my containers, I found all pods is deployed to same work node. I google for a while and I found this article [Scheduler Performance Tuning ](https://kubernetes.io/docs/concepts/configuration/scheduler-perf-tuning/) taking about new parameter "percentageOfNodesToScore" after 1.12 and default is set to 50. I wa

[2019-01-29 05:16] tanksoga commented on #73449
scheduletest.yaml layout is mix up , here is correct format in file

apiVersion: kubescheduler.config.k8s.io/v1alpha1
kind: KubeSchedulerConfiguration
algorithmSource:
   provider: DefaultProvider
percentageOfNodesToScore: 100

[2019-01-29 05:51] #70822 closed

[2019-01-29 05:51] #20767 closed

[2019-01-29 05:51] #72717 closed

[2019-01-29 05:52] nikhita commented on #15863
/remove-lifecycle stale

[2019-01-29 06:01] michmike commented on #72788
my biggest worry is that if we say this impacts the horizonal POD autoscaler, how is that passing in our end2end and conformance tests?

[2019-01-29 06:25] michmike opened #73451 "Need container lifecycle event tests"
We need to add Windows-specific tests to cover container lifecycle events

Test cases needed for postStart
Test cases needed for preStop

These need to run on Windows containers to test that functionality on windows

/sig windows
/milestone v1.14

[2019-01-29 07:06] #72342 closed

[2019-01-29 07:06] #72550 closed

[2019-01-29 07:23] xichengliudui opened #73453 "The names of the two child nodes are the same, resulting in confusion."
**What happened**:
When you have two children with exactly the same hostname, something unexpected happens when you execute the kubeadm join command

**What you expected to happen**:
kubectl get nodes returns the correct information

**How to reproduce it (as minimally and precisely as possible)**:
kubeadm init --kubernetes-version=v1.12.2/kubeadm init --kubernetes-version=v1.13.2
Perform a kubead

[2019-01-29 07:31] asalmoqbel commented on #73307
I am having the same issue after upgrading from v1.10.2 to v1.13.2 using Kubespray .. the cloud provider is vsphere here is the logs for the failed master:
[code]

please let me know if you need me to provide any extra information

[2019-01-29 07:44] asalmoqbel commented on #73307
Hi @subramanian-neelakantan , regarding the permissions we didn't change the permissions but after upgrade it stopped working .. please see my comment above, appreciate your help.

[2019-01-29 07:52] k82cn commented on #71349
We have PodGC to clean up orphaned pods every 20s, is that enough?

[2019-01-29 07:53] liqlin2015 commented on #73307
@subramanian-neelakantan We have the privilege required for dynamic persistent volume provisioning with storage policy based volume placement. Can tell which privilege is needed for querying tags associated with DataCenter, Cluster and hosts objects?

[2019-01-29 08:03] cofyc commented on #73263
/assign

[2019-01-29 08:19] zouyee commented on #73397
`Ready` type the condition  of node  just detect runtime and network healthy,  though the condition of disk is unknown, the condition of node has been ready.

  Could you run kubelet with `--v=6`?

[2019-01-29 08:31] krzysztof-jastrzebski commented on #71349
I'm removing pods that have only node affinity set and don't have pod.Spec.NodeName set. These pods were never touched by scheduler before node was removed and after node was removed can't be scheduled as node is doesn't exist anymore. Such pods are pending forever and PodGC can't remove them as pod.Spec.NodeName is empty.

[2019-01-29 08:36] Nurza commented on #73397
Thank you for your response.

I have restarted kubelet with --v=6 and here is the output of `journalctl -xefu kubelet.service` : https://pastebin.com/pQXk4C4a

[2019-01-29 08:48] idvoretskyi commented on #73444
@d-nishi @arun-gupta please, take a look.

[2019-01-29 08:58] rongyi opened #73458 "1.11.7 still missing this commit: 4ca62e4f39c59ebe66a59685a8f020315dfd3016"
**What happened**:
can not access the NodePort from outside cluster when kube-proxy is in ipvs mode.
**What you expected to happen**:
can access the NodePort from outside cluster when kube-proxy is in ipvs mode.
**How to reproduce it (as minimally and precisely as possible)**:
We test this using 1.11.6. and find the filterRules in ipvs mode is useless. We cherry pick this commit and problem solved

[2019-01-29 09:02] mm4tt commented on #72976
The issue seems to be fixed now. Last two run of the gce scale performance have passed.
The 99th percentile of the pod startup latency went down to ~4s:
![pjde8vor5jy](https://user-images.githubusercontent.com/2604887/51896195-301c0300-23ac-11e9-8094-43c6d3c4399f.png)

The PRs that contributed to the fix are:
  * https://github.com/kubernetes/kubernetes/pull/72062
  * https://github.com/kubernetes

[2019-01-29 09:09] nikhita commented on #65612
@p0lyn0mial Isn't this done? Can this be closed?

[2019-01-29 09:10] wojtek-t commented on #72976
@mm4tt - can you remove the "temporary todo" comments, given that we want to leave the bigger disks for audit logs?

[2019-01-29 09:12] mm4tt commented on #72976
Sure, I'm working on that. Will send a PR shortly.

[2019-01-29 09:13] tomekit commented on #9995
I am with @Joeasaurus
I refuse to use a LoadBalancer type as well, as it adds additional complexity to manage long running HTTP connections. I've got legacy API's which need HTTP connection maintained for up to 12 hours.
Pretty easy to achieve with stable network and without LoadBalancer.
E.g. AWS has the 4000s of idle timeout for their load balancer: https://docs.aws.amazon.com/elasticloadbalanci

[2019-01-29 09:14] k82cn commented on #71349
Yes, that's right :) let me take few time to review the PR, thanks.

[2019-01-29 09:23] AWKIF commented on #62334
just ran into this issue, and i'd like that feature as well :)

[2019-01-29 09:32] lyn716 commented on #19317
I think it is equal to exec `kubectl edit namespace <ns>` if uses `temp.json`.

[2019-01-29 09:36] hustshawn commented on #45779
The official example in this [doc](url) just not work

[2019-01-29 09:59] mm4tt opened #73461 "gce-scalability-killer is flaky"
**Which jobs are failing**: gce-scalability-killer is flaky

**Which test(s) are failing**: load test

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-scalability-gce#gci-gce-scalability-killer

![3ev567vxm7a](https://user-images.githubusercontent.com/2604887/51900177-ec79c700-23b4-11e9-8e7b-f547067604f7.png)

[2019-01-29 09:59] k82cn commented on #72363
@wgliang , would you help to check that?

[2019-01-29 10:00] mm4tt commented on #73461
@kubernetes/sig-scalability-bugs
/sig scalability

[2019-01-29 10:02] ymmt2005 commented on #71555
Just FYI, we have another CNI plugin that is affected by this.
https://github.com/cybozu-go/coil/issues/37

[2019-01-29 10:04] mm4tt commented on #73461
Checked two runs and looks like the failure occurs at the same stage - there is a timeout when creating ReplicationControllers.

**Run 1258**:
[code]

**Run 1257**:
[code]

[2019-01-29 10:06] ShivangGoswami commented on #15863
for eg:
c.t.Fatalf("got encryptionConfig:\n%q\n, want encryptionConfig:\n%q", got, want)
needs to be changed to:
c.t.Fatalf("Got encryptionConfig:\n%q\n, want encryptionConfig:\n%q", got, want)
or only strings in error.New() and fmt.Errorf() needs to be changed?

[2019-01-29 10:23] jiatongw commented on #73307
@liqlin2015 Hi, did you provide `[Labels]` in `vcp.conf` file? Or you just leave it empty?

[2019-01-29 10:31] randmonkey opened #73462 "incorrect result in pkg/util/ipset.Runner.TestEntry"
The `TestEntry` method only finds string `NOT` in output of `ipset test`, but when the name of the set contains `NOT`, it will return `false` no matter the entry exists in ipset or not.

**What happened**:
returns false whenever entry exists if the name of set contains `NOT`, e,g: `NOT`, `NOTE`, `KNOTS`
**What you expected to happen**:
returns whether the entry exists whatever the set name is
**Ho

[2019-01-29 10:32] randmonkey commented on #73462
/assign

[2019-01-29 10:36] mgdevstack commented on #68339
/close
Closing as per other fruitful approach https://github.com/kubernetes/kubernetes/issues/68339#issuecomment-423678023 and efforts would be taken to refactor table-based tests into individual tests wherever needed.

[2019-01-29 10:36] #68339 closed

[2019-01-29 10:39] asalmoqbel commented on #73307
@jiatongw in my case we didn't put this section ( [Labels] ) at all, the we tried to put this section empty and same results.

[2019-01-29 10:56] matthiasr commented on #71071
We've had no issues since upgrading to 1.12.5 🎉

[2019-01-29 10:58] lbernail commented on #71071
Great news!

[2019-01-29 11:13] wgliang commented on #72363
@krzysied This issue had beed fixed. U can checkout it #72967

[2019-01-29 11:15] wgliang commented on #72363
This issue has been fixed. Any questions, please feel free to reopen it. I will close it.
/close

[2019-01-29 11:15] #72363 closed

[2019-01-29 11:16] Aracki commented on #37554
In my case, there are ***ALWAYS*** some objects which were recreated after you have "deleted" your namespace.

With `kubectl api-resources` you can see `KIND` & `APIGROUP` of all available objects.

What I am doing is to go through it and find all k8s objects which were in some use of that specific namespace, and **_delete them manually_**.

  [1]: https://stackoverflow.com/a/52957212/2884309

[2019-01-29 11:19] subramanian-neelakantan commented on #73307
The VC user configured in your vsphere.conf file needs to have System.Read privilege on the datacenter, cluster and hosts on which the k8s nodes are running in vCenter. A good way to verify whether the privileges are configured correctly would be to invoke the Get-TagAssignment powercli or invoke the QueryAttachedInventoryServiceTags() API from the VC MOB https://<vc_ip>/invsvc/mob1. These techniq

[2019-01-29 11:21] ashishranjan738 commented on #73361
I also work on this issue

[2019-01-29 11:31] randmonkey commented on #73462
http://ipset.netfilter.org/ipset.man.html
This page says that `ipset test` returns non-zero when entry does not exist in set, and zero when entry exists:
[code]
and I tested the output of `ipset test` (ipset v6.29 on Ubuntu 16.04 LTS, kernel 4.4.0-116-generic),the result goes as follow:
[code]

[2019-01-29 11:38] mariantalla commented on #73396
👍
Will rename this issue and fix its labels so that it's a bit more discoverable in the future, but other than that it's indeed looking good.

[2019-01-29 11:41] mariantalla commented on #73396
/remove-sig node

[2019-01-29 11:43] alwinmarkcf commented on #68737
Is there a workaround for this?
I'm stuck in between two abstraction layers right now, as
* there is an operator for me that creates a DB Cluster.
* this operator creates statefulsets with the volumeclaimtemplate and joins the cluster
* I can't change either the PVC size nor the volumeclaimtemplate size.

Basically it would be enough for me finding a way, how to throw one by one a pvc away and get

[2019-01-29 11:59] krzysied commented on #72363
@wgliang  OK. Thanks!

[2019-01-29 12:01] i-dyachkov commented on #72779
Same problem, fix this please!!!

[2019-01-29 12:03] alwinmarkcf commented on #68737
Ok maybe I should've searched a bit longer. For anybody else searching for a solution:
https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/

So basically it was for me:

1. changing the storageclass(es) by adding: `allowVolumeExpansion: true`
2. changing the PVC and change the requested size: `spec.resources.requests.storage: 200Gi`
3. then the status changes for the

[2019-01-29 12:18] wborgo commented on #70202
I have the same problem on CentOS Linux release 7.6.1810 (Core)
kubelet 1.13.2
Docker 18.09.1
Image k8s.gcr.io/coredns:1.2.6

Everytime I reboot the server, the file /run/flannel/subnet.env is created after a minute or two.
I tried to change the owner and group to the non root user:

sudo chown $(id -u):$(id -g) /run/flannel/subnet.env

[2019-01-29 12:40] mm4tt commented on #73461
I added more logging in https://github.com/kubernetes/perf-tests/pull/393.
Let's wait for the issue to happen again.

[2019-01-29 12:49] fanux commented on #60807
same issue

[2019-01-29 12:57] brancz commented on #66790
/remove-lifecycle stale

[2019-01-29 13:15] #72917 closed

[2019-01-29 13:26] khteh opened #73470 "Node goes down with KubeletHasSufficientPID and pod is not rescheduled to other available nodes?"
**What happened**:
I have a cluster deployed to AWS EKS with 3 to 4 nodes. One of the node goes down for no reason with KubeletHasSufficientPID and the StatefulSet pod replicas is violated in a sense that it does not reschedule pod in other available nodes. I change the podManagementPolicy to Parallel but it doesn't help. Any advice and insight is apprecated.
**What you expected to happen**:
State

[2019-01-29 13:32] dany74q opened #73471 "Kubectl plugin system should consider more file extensions under Windows"
**What would you like to be added**:
Currently, the kubectl plugins system - when running under Windows - will determine that a plugin is executable by looking at the plugin's extension, comparing it to '.exe'.

I think we should allow plugins w/ a few more known extensions (.bat, .com, .cmd; for example).

**Why is this needed**:
This would give more of a similar experience to plugins under *nix,

[2019-01-29 13:32] dany74q commented on #73471
/sig cli

[2019-01-29 13:33] dany74q commented on #73471
Please see the PR below:

https://github.com/kubernetes/kubernetes/pull/73469

[2019-01-29 13:39] jianzzz opened #73472 "Unable to create storage backend?"
**What happened**:
I am using kubeadm 1.13.0 to build my kubernetes service.
On my single master machine, kube-controller-manager、kube-scheduler is running by container way.
By kube-apiserver is failed:
Unable to create storage backend: config
...
err (asn1: structure error: tags don't match

**Environment**:
- Kubernetes version (use `kubectl version`): v1.13.0

[2019-01-29 13:42] jianzzz opened #73473 "Unable to create storage backend?"
**What happened**:
I am using kubeadm 1.13.0 to build my kubernetes service.
On my single master machine, kube-controller-manager、kube-scheduler is running by container way.
By kube-apiserver is failed:
Unable to create storage backend: config
...
err (asn1: structure error: tags don't match

**Environment**:
- Kubernetes version (use `kubectl version`): v1.13.0

[2019-01-29 13:42] #73472 closed

[2019-01-29 13:49] changyaowei commented on #73397
Try grep `hasn't been updated for ` log , when  node have high load, it may not post node status info

[2019-01-29 13:57] masatomo commented on #72104
:+1: `kubectl port-forward` now supports resource/name to select a pod. https://github.com/kubernetes/kubernetes/pull/59705

that would be great if `kubectl exec` supports it as well.

[2019-01-29 14:10] rummens commented on #73177
So it turns out the issue is just Azure, per default each VM (which represent a node) has a 30GB disk. I have no idea why they tell you that you have 680GB availiable.

You have to manuelly increase the disk size of the corresponding VM:

1. Find the name of the node (kubectl get nodes),

2. log in to the Azure Portal and search for a VM with the same name as the node.

3. Folow these steps to inc

[2019-01-29 14:10] #73177 closed

[2019-01-29 14:32] benmoss opened #73475 "Support for building Windows container images"
Following up with a Slack conversation between @spiffxp @ixdy and @yujuhong [here](https://kubernetes.slack.com/archives/C09QZ4DQB/p1548721080968800).

**What would you like to be added**:

The Windows versions of the test images should be available from the same repository as the Linux ones. For testing support for Windows we've so far been pushing alternate images to a [separate registry](https:

[2019-01-29 14:33] mihailgmihaylov commented on #70664
I am not sure if this is related, I had a similar issue recently with the rotation of kube-apiserver audit logs. The error I received, however was:
[code]

It turned out that I was mounting only the file to the kube-apiserver pod and therefore the container was unable to rename it. You can check if this is your case also.

This fixed my issue:
[code]

[2019-01-29 14:33] benmoss commented on #73475
/sig testing

[2019-01-29 14:51] Nurza commented on #73397
I did some Nodes' YAML (kubectl get node -o yaml xxxx) comparison and I noticed that the broken Nodes have a spec.externalID field.

I did some researches and found that spec.externalID is deprecated. Do you know how to remove this field ?

I did not found how to remove this field. The only solution I found is to removing the Node and add it again.

[2019-01-29 14:57] mourya007 commented on #73221
@liggitt @mikedanese @micahhausler I would like to work on this issue or some help in this issue.

[2019-01-29 14:57] #71784 closed

[2019-01-29 15:45] liggitt opened #73478 "Cross-group watch events from etcd are not handled correctly"
**What happened**:
* Set up a HA cluster with 1.9 and 1.10 API servers (occurs on any apiserver skew boundary where a cohabitating resource's storage version changed groups)
* Observed errors when modifying workload objects:
  * when modified via the 1.10 server, saw this error in the 1.9 server: `failed to prepare current and previous objects: v1.Deployment is not suitable for converting to {{"ex

[2019-01-29 15:47] liggitt commented on #73478
error is triggered by this returning false:

https://github.com/kubernetes/kubernetes/blob/34425974c88fa695294a64c887a89f6df48d1b1a/staging/src/k8s.io/apimachinery/pkg/runtime/codec.go#L297-L313

constructed here:
https://github.com/kubernetes/kubernetes/blob/34425974c88fa695294a64c887a89f6df48d1b1a/staging/src/k8s.io/apiserver/pkg/server/storage/storage_codec.go#L86-L93

the info about expected c

[2019-01-29 15:57] MikeSpreitzer commented on #73390
Also, the existing `hack/update-codegen.sh` is not designed to be invoked by a developer who has done `go get k8s.io/sample-apiserver` but rather is designed to work only in the context of a full build of k/k.

[2019-01-29 16:02] neolit123 commented on #73473
hi, the report seems incomplete, but also it feels like this is not a bug.

you might have better success trying in stackoverflow or on slack:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

if you feel this is a problem please try creating a new issue in the `kubernetes/kubeadm` tracker and share you kubeadm config. thanks.

/c

[2019-01-29 16:02] #73473 closed

[2019-01-29 16:03] neolit123 commented on #73453
nodes with the same name are not supported.
https://kubernetes.io/docs/setup/independent/install-kubeadm/

/close

[2019-01-29 16:03] #73453 closed

[2019-01-29 16:06] masterzen opened #73479 "AWS NLB created without k8s tags on target groups"
**What happened**:

We created a LoadBalancer service with type 'nlb' with two listeners forwarding traffic on two different ports. The service was created correctly along with the target groups and was functionning correctly.

Around 20 hours later, no traffic was flowing from clients to any k8s nodes. While troubleshooting we discovered that the k8s node instance security group was lacking the i

[2019-01-29 16:08] xichengliudui commented on #73453
@neolit123  I'm sorry to trouble you

[2019-01-29 16:10] mat285 opened #73480 "ELB Security Group not cleaned up when extra specified"
**What happened**:

Security groups created for k8s elbs on AWS are not deleted when the service and load balancer are deleted.  This caused the number of security groups to keep growing even as the number of services did not.

**What you expected to happen**:

When deleting a load balancer service, the load balancer's associated security group should also be deleted.

**How to reproduce it (as mi

[2019-01-29 16:11] neolit123 commented on #73453
no problem at all! @xichengliudui

[2019-01-29 16:11] mat285 commented on #73480
/sig aws

[2019-01-29 16:13] neolit123 commented on #73470
/sig aws

[2019-01-29 16:15] neolit123 commented on #73433
@brahmaroutu
please add at least `/sig testing` to all your recent tickets.

conformance also falls under sig-architecture or other sigs depending on what is being tested.

[2019-01-29 16:34] jiashenC opened #73481 "Cannot access service from within a pod"
**What happened**:
I have a simple Kubernetes Service standup and it is backed by a single Pod. I go inside the docker container for that Pod by `docker exec -it k8s_test_test-deployment-58b575b599-zlpb5_default_4cc8f312-23e1-11e9-acf6-0800273e509f_0 bash`. I try to `curl test` to access the Service, but it receives connection timeout error. I also test by `curl <Pod IP>:8080`, which works without

[2019-01-29 16:36] jiashenC commented on #73481
/sig cli

[2019-01-29 16:43] alwinmarkcf commented on #55982
Hi,

got now maybe a similar issue.

How to reproduce:

[code]
Using rook as storage provider:
[code]

I created a Statefullset, with a volumeclaimtemplate requesting "100Mi"

When I try to increase that volume while editing the according pvc I get:
[code]

So is there a Problem in general with numbers like `1024[0]*` ???

I successfully resized an image from
* 2Gi to 20Gi.
* 2Mi to 20Gi

So it re

[2019-01-29 16:57] PatrickLang commented on #72722
Azure-CNI 1.0.16 caused some latency starting pods due to a lock contention, and 1.0.17 seems better. I still need to write tests to debug this further

[2019-01-29 17:08] msau42 commented on #70485
/close

[2019-01-29 17:08] #70485 closed

[2019-01-29 17:08] msau42 commented on #70485
Red herring

[2019-01-29 17:23] yujuhong commented on #72788
Do you test HPA? It's not part of conformance, and I doubt this is included in windows testing.

[2019-01-29 17:26] mikedanese commented on #73221
What would be a more suitable % for shorter TTLs?

[2019-01-29 17:42] #70382 closed

[2019-01-29 17:43] benmoss commented on #73475
/sig windows

[2019-01-29 17:45] mikedanese commented on #73221
I'm not sure what that means in this context. Can you give some detail? The current heuristic was a first pass. I'd like to understand the scenarios in which it breaks down. Per [5 and 6](https://github.com/kubernetes/community/blob/master/contributors/devel/component-config-conventions.md#part-1-dont-make-it-configuration), I'm wondering if we can improve the heuristic before punting to configura

[2019-01-29 17:48] antonalechnovic commented on #62185
/remove-lifecycle stale

[2019-01-29 17:50] benmoss commented on #73415
I manually verified this with this:

[code]

[2019-01-29 17:52] benmoss commented on #73415
Job is another api object that I tested too, super similar:

[code]

[2019-01-29 18:38] verult commented on #71400
Yeah it might be a fair amount of work. I'm OK with removing the "flexvolume-" prefix as long as we broadcast it in release notes

[2019-01-29 18:42] bsalamat opened #73485 "Don't update the Pod object after each scheduling attempt by adding a timestamp to the scheduling queue"
We recently added [a PR to put a timestamp on a Pod object](https://github.com/kubernetes/kubernetes/pull/72619) every time it is attempted by the scheduler. This change improves scheduler's fairness and gives pods that have been tried oldest a higher precedence over other pods with the same priority. However, this change could increase the number of pod updates and could raise the load of the API

[2019-01-29 18:49] chakri-nelluri commented on #71400
Thanks @verult.
/assign verult

[2019-01-29 18:52] mariantalla commented on #72931
Thanks @msau42, closing this one.

/close

[2019-01-29 19:01] doubleyewdee commented on #73235
Yes, today we actually do go and look up the IP address after we get one. That said, we already know group+resource name from our Azure deployment specification and it seems counterintuitive to provide resource group name and IP address and then have the k8s code go do a reverse lookup from IP to the LB it applies to.

[2019-01-29 19:04] brahmaroutu commented on #73433
/sig testing

[2019-01-29 19:05] brahmaroutu commented on #73430
/sig testing

[2019-01-29 19:05] brahmaroutu commented on #73429
/sig testing

[2019-01-29 19:05] brahmaroutu commented on #73428
/sig testing

[2019-01-29 19:06] brahmaroutu commented on #73426
/sig testing

[2019-01-29 19:19] brahmaroutu commented on #73425
/sig testing

[2019-01-29 19:19] msau42 commented on #69602
So conformance tests have a limitation that they need to be defined as individual test cases, and not as part of a framework.  ie, the `ConformanceIt()` won't work with the current storage test framework because the same It() is run for plugin-specific tests.

I can see two ways to address this:
1. Define a new `StorageConformanceIt()` that can apply the conformance tag only if the driver type is

[2019-01-29 19:19] brahmaroutu commented on #73424
/sig testing

[2019-01-29 19:19] brahmaroutu commented on #73423
/sig testing

[2019-01-29 19:20] brahmaroutu commented on #73422
/sig testing

[2019-01-29 19:32] #71997 closed

[2019-01-29 19:32] #73254 closed

[2019-01-29 19:33] resouer commented on #73275
The issue is currently, CRI Exec() in does not have any security context included.

/cc @changyaowei @zhangxiaoyu-zidif

[2019-01-29 19:35] redbaron commented on #56149
/remove-lifecycle stale

[2019-01-29 19:45] yujuhong commented on #73275
This is a resonable default.  Hmm...there is no clear documentation/expectation of exec/"kubectl exec"'s capabilities. I'm not sure if there's any user relying on this behavior today.

/cc @tallclair @Random-Liu

[2019-01-29 19:51] pravinsinghal commented on #65618
Has this issue been addressed - I am running into a scenario where the node is marked master and the externalTrafficPolicy is set to Local - and the node is getting excluded from master ..

[2019-01-29 19:55] andrewsykim commented on #65618
This issue has not been resolved yet. I personally would like to see the `SerivceNodeExclusion` feature  (https://github.com/kubernetes/enhancements/issues/724) promoted to beta before doing this though

/remove-lifecycle stale

[2019-01-29 20:09] pravinsinghal commented on #65618
What would be the recommended way - if I need a service on node labelled master needs to be exposed  via a LB.  Is there a way I can enable this alpha feature ? From the code it seems the master node role is checked before the service node exclusion ..

[2019-01-29 20:13] andrewsykim commented on #65618
As of today, you can't add control plane to LBs. Adding masters can lead to unexpected behaviours for users. This definitely warrants more discussion.

[2019-01-29 20:19] pravinsinghal commented on #65618
This is a custom deployment of k8s stack - where depending on the scenario - its reduces to a single node all in one. Any issues top of the mind that I can run into if I modify local k8s stack to enable it. I Need to unblock.

[2019-01-29 20:33] andrewsykim commented on #65618
One alternative is to remove the master node role label on the node object but that may have other implications for your cluster.

[2019-01-29 20:34] tallclair commented on #73275
Yes, I agree that exec should use the same security context as PID 1. Is this a CRI-O / containerd issue, or a Kubelet issue?

[2019-01-29 20:38] michmike opened #73489 "Need Horizontal POD autoscaling tests"
We need to add Windows-specific tests to cover Horizontal POD autoscaling

Test cases needed for all types of metrics that autoscaling can cover (CPU, Memory, etc)

These need to run on Windows containers to test that functionality on windows

/sig windows
/milestone v1.14

[2019-01-29 20:40] benmoss commented on #73451
There are already two tests that cover this being run by the acs-engine tests:

- [k8s.io] [sig-node] PreStop should call prestop when killing a pod [Conformance]
- [k8s.io] Container Lifecycle Hook when create a pod with lifecycle hook should execute poststart exec hook properly [NodeConformance] [Conformance]

/close

[2019-01-29 20:40] #73451 closed

[2019-01-29 20:45] benmoss commented on #73415
/assign

[2019-01-29 20:49] #70588 closed

[2019-01-29 21:07] yujuhong commented on #73275
Spoke to @Random-Liu offline. cri-containerd already does that.

I'm not sure how cri-o handle this(@mrunalp?), but this could be a docker issue.

[2019-01-29 21:09] denkensk commented on #73485
I can help to do this. ^_^

[2019-01-29 21:13] benjaminjb opened #73492 "StatefulSetStatus CurrentRevision doesn't update with OnDelete update strategy"
Note: This may be an enhancement request, but I'm writing it up as a bug since it took me by surprise given how Status was being updated for certain fields and not for others.

**What happened**: I have a statefulset with the `OnDelete` strategy and I deleted the pods, which successfully restarted with the correct, updated controller-revision-hash. However, the StatefulSetStatus was left with the

[2019-01-29 21:16] PatrickLang commented on #67147
My mistake - this was resolved in #69484.

/close

[2019-01-29 21:16] #67147 closed

[2019-01-29 21:19] benmoss commented on #73415
I was able to get the 7 tests from https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apps/cronjob.go to all pass by just using the Windows test image repo.

[code]

Maybe we could add these to the acs-engine test runs?

[2019-01-29 21:32] benjaminjb commented on #73492
@kubernetes/sig-apps-bugs

[2019-01-29 21:43] benmoss commented on #65305
This sounds like more of an acs-engine issue than a kubernetes one, but it sounds like it's more just a case of some surprising defaults.

[2019-01-29 21:45] mml commented on #70499
/remove-lifecycle stale

On Tue, Jan 29, 2019 at 11:15 AM fejta-bot <notifications@github.com> wrote:

[2019-01-29 21:46] benmoss commented on #65305
/close

[2019-01-29 21:46] #65305 closed

[2019-01-29 22:04] PatrickLang commented on #73415
@adelina-t @bclau - do you think it makes sense to keep adding more to the ginkgo focus to bring these tests in to the existing dashboard?

[2019-01-29 22:10] baltendo commented on #73481
I was able to reproduce the error with the mentioned setup (MacOS, Minikube, k8s v1.13.2).
But I didn't have the problem on my Docker Desktop setup (MacOS, Docker Desktop, k8s v1.13.0).

Minikube is using coredns instead of kube-dns.
I listed the pods in the `kube-system` namespace and had a look on the logs of a coredns pod:

[code]

I followed then the instructions here to debug the problem -> n

[2019-01-29 22:34] DirectXMan12 commented on #67777
go ahead

cc @mwielgus

[2019-01-29 22:49] daparthi001 opened #73496 "kubernetes internal networking is failing"
unable to get internal networking is not working .

[2019-01-29 22:50] zhouhaibing089 opened #73497 "predictable memory usage by reflector"
**What would you like to be added**:

Predictable memory usage by reflector. I mean, the memory used by reflector does not have to be linear to the total number of objects in apiserver, since the list call can be paged, so I would expect the memory used should just be enough to handle a single page ideally.

**Why is this needed**:

Considering when a controller starts up, the reflector tries to l

[2019-01-29 22:50] zhouhaibing089 commented on #73497
/sig api-machinery

[2019-01-29 22:58] zhouhaibing089 commented on #73497
/cc @liggitt @caesarxuchao

[2019-01-29 23:09] #64984 closed

[2019-01-29 23:49] benmoss commented on #73489
I started investigating whether we could get [these tests](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/autoscaling/horizontal_pod_autoscaling.go) to run, but ran into two issues:
- First, the version of the `resource-consumer` image in the e2eteam account is only tagged 1.3, and the test calls for 1.4. I retagged it and pushed it based on the code in the windows-testing repo
- Th

[2019-01-29 23:57] Random-Liu commented on #73275
For containerd, we use almost the same `Process` spec with the container for the exec process: https://github.com/containerd/cri/blob/90492e9e70091c9c2a0eee887e43b566c6e97ceb/pkg/server/container_execsync.go#L107

As long as runc is working properly, we shouldn't have this issue.

It seems that docker is not doing that?

[2019-01-30 00:04] d-nishi commented on #73444
@shyamjvs @idvoretskyi @justinsb - I added credits to the CNCF account in Oct 2018 and later modified them to cover all regions. Have we run out of the credits again?

[2019-01-30 00:09] d-nishi commented on #73444
sounds like the credits are all done and @arun-gupta is trying to refresh them on the CNCF account with @shyamjvs

[2019-01-30 00:11] k-toyoda-pi opened #73499 "Adding e2e test suites for componentstatuses"
**What would you like to be added**:

e2e test suites for:
- GET /api/v1/componentstatuses/{name}

**Why is this needed**:

The above API is not performed in current e2e test. By adding test for it, e2e test coverage is improved.

/sig testing

[2019-01-30 00:31] michellemcone commented on #73414
FYI I'm working on this. I plan to start out by porting over [this test](https://github.com/kubernetes/kubernetes/blob/bb9a12d6f8875bed8e28d10a4351c96ab18f8247/test/e2e/network/dns.go#L254) to Windows.

[2019-01-30 00:40] bsalamat commented on #73485
/assign denkensk

Thank you!

[2019-01-30 00:41] bsalamat commented on #73485
@denkensk I cannot officially assign it to you since you are not a member yet, but I consider it assigned to you. You can start working on it.

[2019-01-30 01:03] timyinshi opened #73502 "How to set the cpu, memory size of K8s master node?"
For example, if 50 nodes K8s cluster, using 3 master nodes, how large is the cpu, memory of master node? if 200 node K8s cluster, using 7 master nodes, master node cpu, memory is appropriate?

/sig node
@Dawn Chen

[2019-01-30 01:09] liqlin2015 commented on #73307
@subramanian-neelakantan We have the privilege required for dynamic persistent volume provisioning with storage policy based volume placement. Can tell which privilege is needed for querying tags associated with DataCenter, Cluster and hosts objects?

[2019-01-30 01:15] saad-ali commented on #72500
Possible link: https://github.com/kubernetes/kubernetes/pull/72008

[2019-01-30 01:19] msau42 commented on #72500
It should be noted that the tests are passing on 1.13, so it's caused by some new change in 1.14.

Also the graceful deletion tests are failing, but the force delete tests are passing.  I believe reconstruction only comes into play with force deletion.

[2019-01-30 01:37] Random-Liu opened #73503 "CRI: Include pod name and namespace in the CRI pod log directory"
This has been previously discussed https://github.com/kubernetes/kubernetes/issues/58638#issuecomment-385126031, but we haven't got time to get to this.

Given that CRI runtimes (containerd, cri-o) are used by more and more people, it is better to make this CRI change earlier than later.

/cc @kubernetes/sig-node-feature-requests

[2019-01-30 01:38] gaorong commented on #71400
@verult @chakri-nelluri  Sorry for not updating in time, this issue is being fixed in #71402, could you please help review?

[2019-01-30 01:41] dannyk81 commented on #66103
Hi @m1093782566,

After hitting this in a new cluster deployment (using ipvs and calico), I've been going over all the various linked issues/PRs/mailing lists discussions and seems like there's no obvious concensus on how to approach to fix this.

My understanding is that #66590 is not going to be accepted (also not clear if it will solve the issue).

Can you share if there are any news about this

[2019-01-30 01:49] saad-ali commented on #73371
cc @vikaschoudhary16

[2019-01-30 01:49] D-PENG commented on #73502
The configuration of master node has little relationship with the cluster size, so the master node can not do pod scheduling.

[2019-01-30 01:59] msau42 commented on #72931
/reopen

I took a look at the latest test failures and I think it is a different issue than #72500

[2019-01-30 02:00] msau42 commented on #72931
Looking at one test failure here:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4624/artifacts/bootstrap-e2e-minion-group-t099/kubelet.log

Sequence of events:

1. Kubelet stopped, pod deleted:
[code]
2. Kubelet started again:
`I0129 18:46:01.575] Jan 29 18:46:01.574: INFO: ssh prow@35.247.90.167:22: command:   sudo systemctl start kubelet`
3. Add volume t

[2019-01-30 02:01] msau42 commented on #72500
I think the latest test failures are a different issue than this.  I updated #72931 with test failure details

[2019-01-30 02:01] msau42 commented on #72931
@kubernetes/sig-storage-test-failures

[2019-01-30 02:10] Random-Liu commented on #73503
The proposed pod log directory path is `/var/log/pods/{POD_NAMESPACE}_{POD_NAME}_{POD_UID}`. The order makes it easier to do `ls /var/log/pods/{POD_NAMESPACE}*` or `ls /var/log/pods/{POD_NAMESPACE}_{POD_NAME}*`.

The biggest thing we should pay attention to for log path changing is backward compatibility. Although we never officially support in-place upgrade, we should still avoid breaking it.

We

[2019-01-30 02:12] nyetwurk commented on #22368
I really only need something simple: monitor a ConfigMap, and if it changes, call a command inside the container, e.g. "kill -HUP process". I have zero need for completely redeploying.

[2019-01-30 02:16] msau42 commented on #72931
cc @jingxu97

[2019-01-30 02:22] #73462 closed

[2019-01-30 02:22] msau42 commented on #72931
/assign
will continue investigating. i will try repro-ing at without different commits to try to figure out which pr introduced the regression

[2019-01-30 02:51] vllry opened #73504 "hack/godep-restore.sh fails if GOPATH is not set"
**What happened**:
Running `hack/godep-restore.sh` will fail if GOPATH is not set. This is invisible if called from a context like `make update`.

This seems to specifically be caused in `kube::util::godep_restored`, in `hack/lib/util.sh`.

**What you expected to happen**:
The script should be able to use the default implicit GOPATH.

**How to reproduce it (as minimally and precisely as possible)*

[2019-01-30 02:51] vllry commented on #73504
cc @cblecker

[2019-01-30 02:54] gogiraghu1 commented on #69687
Hi,
  Any update on this bug? Looks like this feature for HPA is in high demand until knative completes HPA integration. Please keep us posted.

[2019-01-30 02:56] cblecker commented on #73504
/sig testing contributor-experience
cc: @kubernetes/bash-firefighters

I’m sure there’s lots of places where we expect a GOPATH.. should review and either error more explicitly, or just Do The Right Thing.

[2019-01-30 02:57] tanksoga opened #73505 "k8s 1.13.2, Unable to apply config file into kube-scheduler pod"
**What happened**:
I had k8s 1.13.2 cluster create (1 master + 2 work node), after deploy my containers, I found all pods is deployed to same work node. I google for a while and I found this article Scheduler Performance Tuning taking about new parameter "percentageOfNodesToScore" after 1.12 and default is set to 50. I want to change to 100

**What you expected to happen**:
I made a scheduler_extr

[2019-01-30 03:04] zouyee commented on #73397
https://github.com/kubernetes/kubernetes/pull/73394

[2019-01-30 03:19] WanLinghao opened #73506 "Deprecate flag -cgroups-per-qos in v1.14"
The design proposal https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/pod-resource-management.md says we should  deprecate cgroups-per-qos and remove the flag entirely in Kubernetes 1.8.

But it still remains in current version.Should we at least deprecate this in v1.14?

[2019-01-30 03:20] WanLinghao commented on #73506
@dubstack @vishh @derekwaynecarr since you are authors of the proposal

[2019-01-30 03:21] WanLinghao commented on #73506
/sig node

[2019-01-30 03:38] #73184 closed

[2019-01-30 03:50] wgliang commented on #73505
@tanksoga
Looks like an issue of kubeadm.
/area kubeadm

[2019-01-30 03:53] danielqsj opened #73507 "Push the zookeeper-installer 1.3 image to gcr.io"
This PR https://github.com/kubernetes/kubernetes/pull/73194 solves execution issue in `gcr.io/kubernetes-e2e-test-images/pets/zookeeper-installer`.

Please help to push new image (version 1.3) to gcr.io.
Dockerfile is [here](https://github.com/danielqsj/kubernetes/blob/master/test/images/pets/zookeeper-installer/Dockerfile), Makefile is [here](https://github.com/danielqsj/kubernetes/blob/master/te

[2019-01-30 03:54] danielqsj commented on #73507
xref: https://github.com/kubernetes/kubernetes/pull/73383

[2019-01-30 04:17] ShivangGoswami commented on #15863
/assign

[2019-01-30 04:17] BenTheElder commented on #73504
@cblecker can we do the right thing and get rid of `godep` though? 😉

[2019-01-30 04:33] ixdy commented on #73504
hm, this appears to have been added in https://github.com/kubernetes/kubernetes/pull/42726, well after we were using `vendor/`. @sttts commented

but I'm not sure what the bug was or if this is still necessary.

(My understanding is that nowadays you really only need to use `hack/godep-restore.sh` and `hack/godep-save.sh` when updating deps, and ideally you call those using `hack/run-in-gopath.sh`

[2019-01-30 04:59] michmike commented on #73489
thanks Ben!

[2019-01-30 05:49] gejiwei opened #73510 "namespaces "default" is forbidden"
**I deployed the k8s cluster with two nodes, installed the helm tool and rook-ceph, and reported the following errors when installing sitewhere**

Error: release sitewhere failed: namespaces "default" is forbidden: User "system:" in API group "" in the namespace "default"
![image](https://user-images.githubusercontent.com/39801390/51960878-c24c0600-2495-11e9-8e11-afb6b99a755f.png)
![image](https:/

[2019-01-30 06:03] tuminoid commented on #73216
I'll test 1.14.0-alpha2 if its reproducible.

[2019-01-30 06:43] pontiyaraja commented on #55589
/remove-lifecycle rotten

[2019-01-30 06:45] pontiyaraja commented on #55589
its failing still

[code]

[2019-01-30 07:12] changyaowei commented on #73397
I don't think this is real reason , but is appearance.
In kubelet 1.12  version, kubelet will not report  spec.externalID ,
In kubelet 1.13 kubelet will not update  `OutOfDisk condition `  and without upgrade, the node `OutOfDisk condition `  will become to unknown https://github.com/kubernetes/kubernetes/issues/72485.(It have be resolved in pr  https://github.com/kubernetes/kubernetes/pull/72507)

[2019-01-30 07:30] george-angel commented on #7433
/remove-lifecycle stale

[2019-01-30 07:53] shilpamayanna opened #73513 "Unmount device failure in kubelet when there is IO error"
**What happened**:
Unmount volume fails in kubelet when volume with XFS filesystem is shutdown due to IO error. This causes pod to be stuck in Terminating state forever.

**What you expected to happen**:
Unmount volume should succeed

**How to reproduce it (as minimally and precisely as possible)**:
Create a pod with  ISCSI/network mounted volume and disconnect/de-provision ISCSI target.
Delete po

[2019-01-30 08:01] Nurza commented on #73397
Hello, thank both of you for your responses. My cluster was in 1.10 and upgraded smoothly to 1.11 => 1.12 => 1.13. All the kube* packages on all nodes was upgraded in the same way. Maybe I did a mistake ? Anyway, I will probably delete those broken Nodes and add them again.

[2019-01-30 08:03] shilpamayanna commented on #73513
@davidz627 Fix for #68759 has exposed the kubelet unmount issue again. GetMountRefs is invoking stat call to check if the path exists. This call would fail with I/O error when XFS shutdown.

[2019-01-30 08:03] shilpamayanna commented on #73513
/sig storage

[2019-01-30 08:10] changyaowei commented on #73397
Not you fault, it's kubernetes bug, i think the first thing is to reproduce this  problem, to confirm the real reason.
If you can reproduce through what i said. You can stop kubelet in node, and delete node by kubectl delete node **, and start kubelet in node, everything will be ok

[2019-01-30 08:10] ixdy commented on #58012
This is still a good idea in want of an owner, I believe.

[2019-01-30 08:33] changyaowei commented on #73397
If you  upgrade  from 1.10 => 1.11 => 1.12 => 1.13 , you describe node , you should get this
[code]

[2019-01-30 08:34] xformerfhs opened #73514 "encryption provider "aescbc" is vulnerable to a padding oracle attack and should be deprecated"
While working with Kubernetes v1.13.2 and examining the way encrypted secrets are stored in etcd I noticed that the recommended encryption provider “aescbc” is susceptible to a [padding oracle attack](https://en.wikipedia.org/wiki/Padding_oracle_attack "padding oracle attack"). While the attack is not really feasible and there are probably attacks that are much easier to execute it is nonetheless

[2019-01-30 08:34] knightXun opened #73515 "send pod OOM events"
kubelet has oomwatcher which watch oom events from docker. I notice such oom has container names.For kubernetes, every pod has its special format name: for example `k8s_fluentd-kafka_fluentd-gqnrc_kube-system_2841dd35-22d8-11e9-b0af-0cc47a70d098_0` contains namespace , 'k8s' , podname, containername. So we can add a pod oom event in oomwatcher.
this is A little change, and it will bring very helpf

[2019-01-30 08:36] Nurza commented on #73397
Oh wait ! I have a 3rd cluster in 1.10. I will upgrade it tonight and make a feedback in ~12h.

[2019-01-30 08:41] mourya007 commented on #7961
@liggitt @tallclair Is this bug still exist ?

[2019-01-30 08:45] ShivangGoswami commented on #15863
/assign

[2019-01-30 08:47] q1054261752 commented on #70257
[root@kube-node1 fluentd-elasticsearch]# kubectl logs fluentd-es-v2.2.1-8sbc5 -n kube-system -f
2019-01-30 08:40:21 +0000 [error]: config error file="/etc/fluent/fluent.conf" error_class=Fluent::ConfigError error="Unknown filter plugin 'd plugins"

what do I will do?

[2019-01-30 09:03] ShivangGoswami commented on #15863
/assign

[2019-01-30 09:08] zouyee commented on #73397
It is a bug, which has been fixed in master branch and https://github.com/kubernetes/kubernetes/pull/73394 cherry pick to 1.13.

[2019-01-30 09:08] vvkkhjt commented on #68474
what do you mean?preserve client IP?I just want get real IP and want know how risk of I set "externalTrafficPolicy = local",
but now I found when I set "externalTrafficPolicy = local",the traffic will flow to only one of these nodes,
Load balancing doesn't work

[2019-01-30 09:21] cofyc commented on #71237
## Current contexts of "PersistentVolumes-local"

### Volume type agnostic

`KUBERNETES_PROVIDER="local" ./hack/ginkgo-e2e.sh  --ginkgo.focus='PersistentVolumes-local' --ginkgo.dryRun | grep 'sig-storage' | grep 'Volume type' -v | sort | uniq`

[sig-storage] PersistentVolumes-local  Local volume that cannot be mounted [Slow]
[sig-storage] PersistentVolumes-local  Pod with node different from PV's

[2019-01-30 09:24] zouyee commented on #73514
/area security

[2019-01-30 09:31] vvkkhjt commented on #68474
you can set "externalTrafficPolicy = local" in Service->spec->externalTrafficPolicy,change Cluster to Local,Note the capital letters,then you can get the real IP

[2019-01-30 09:42] krzysied opened #73519 "Reading apiserver latency metric doesn't works in tests"
**What happened**:
Apiserver latency metric summary displays zeros instead on actual values.

**What you expected to happen**:
Summary should displays actual values.

**How to reproduce it (as minimally and precisely as possible)**:
Running performance test.

[2019-01-30 09:44] krzysied commented on #73519
This issue was introduce in https://github.com/kubernetes/kubernetes/commit/24643fd1163857a507e40f4bceb303c5b44d2d8f . There is problem with reading "apiserver_request_latency_seconds_summary". This metric doesn't exist.

[2019-01-30 09:45] zouyee commented on #73189
https://github.com/containerd/cri

[2019-01-30 09:52] krzysied commented on #73519
- [ ] Reverting metric to deprecated one (apiserver_request_latencies_summary).
Old metric is still available, This will allow performance tests to work properly.
This is important due to k8s SLI being based on this metric.
- [ ] Implement new version of reading metric and verifying SLI.

[2019-01-30 09:57] nevalla commented on #60596
It seems that `kube-system` namespace is still [hard coded in Priority plugin](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/priority/admission.go#L143-L155), so I guess the current status is that system critical pods are still limited to `kube-system` namespace.

[2019-01-30 10:04] fejta-bot opened #73520 "pr:pull-kubernetes-node-e2e flaked 33 times in the past week"
### Flaky Job: pr:pull-kubernetes-node-e2e
 Flakes in the past week: **33**
 Consistency: **94.30%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Node Tests | 33 |

#### Previously closed issues for this job flaking:
#64948 #56122

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2019-01-30 10:45] gaorong commented on #73515
I'd like to work for this.
/assign

[2019-01-30 11:12] gaorong commented on #73515
related issue: #69676

[2019-01-30 11:15] mm4tt commented on #72976
/close

[2019-01-30 11:22] AlexProfi commented on #45779
What version of kubernetes have fixed it? I used 1.11.5 And it works correct when I set
redis-cluster-1.redis-cluster.default.svc.cluster.local
with redis-cluster-1 it doesn't work

[2019-01-30 11:51] krzysied commented on #73519
/sig scalability

[2019-01-30 12:00] jiatongw commented on #73002
@pkqsun Hi, could you refer to this issue #73307 ? The discussions may be a help

[2019-01-30 12:40] #72976 closed

[2019-01-30 13:31] gauravwalecha101 commented on #8976
It seems like fanzhangio has already resolved the aim of this ticket. What all things are left in this to work ?

[2019-01-30 13:44] willemodendaal commented on #61551
Pity this bug rotted... got the same issue now :,(

[2019-01-30 13:44] wojtek-t opened #73527 "Creating selectors is expensive in EndpointsController"
When profiling scalability tests at large scale, it appears that the function ``` SelectorFromValidatedSet``` can consume even 10% of cpu.
In the profiles it's coming purely from the GetPodServices in EndpointsController.

The reason for that is for every single call of GetPodServices:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpoint/endpoints_controller.go#L170
for eve

[2019-01-30 13:46] calvix commented on #66103
@dannyk81 We had a similar issue with ingress controller and hostPorts + ipvs, in the end, we resolved it with using `ServiceType: NodePort` with statically assigned ports for each service instead of hostPorts (as it can give quite similar functionality, service available on nodeIP + port).

Maybe you can find a workaround with `NodePort` for your problem too.

[2019-01-30 13:52] JTarasovic commented on #68686
I am still seeing the previous behavior on v1.14.0-alpha.{1|2}.

kubelet on master nodes has control plane manifests in staticPodPath but pods aren't created as it's trying to bootstrap itself against the control plane components that it isn't launching.

we've been bootstrapping our own clusters this way for ~3 years and we're basically taking our running v1.13.2 config and trying it in v1.14.0 w

[2019-01-30 14:00] autumn1023 commented on #66231
thank you @hzxuzhonghu    mycluster  one node is show  "Unable to connect to the server: Bad request"
when I set http_proxy  in  /etc/profile

[2019-01-30 14:03] taragu commented on #73371
@vikaschoudhary16 I was planning to work on this issue this weekend. @saad-ali what's the priority for this issue? If this is urgent, @vikaschoudhary16 you should probably work on this instead

[2019-01-30 14:09] dannyk81 commented on #66103
Thanks @calvix! indeed we've been discussing NodePort as a possible workaround.

I'm actually going to test this now to play around with, but there are few concerns here:

1) NodePort (even statically assigned ones) are only available from specific range (default 30000-32767), however we need to expose ports 80, 443, 3311, etc. since our external LB is transparently forwarding traffic to these por

[2019-01-30 14:11] qzmfranklin commented on #71996
@dims
This issue is a golang issue, tracked [here](https://github.com/golang/go/issues/27110), resolved by [this commit](https://github.com/komuw/go/commit/e223603eec5f4d12e5ccf0d5987de6f361db5109) and [this commit](https://github.com/golang/go/commit/023dbb188dda6aa49ccc41c8e38f2703700b3f5a) inthe golang repo.

Not closing yet because I have to yet test it out. Will close this issue once I finish

[2019-01-30 14:32] #65885 closed

[2019-01-30 14:43] knightXun commented on #69676
cadvisor should collect more events from docker, not only oom events. cadvisor expose restful api for this. it will be more easy to realize.

[2019-01-30 14:48] calvix commented on #66103
We have LB config with proper port mapping ( port 80 -> 30010, port 443 -> 30011, and etc ..) And each service always uses the same LB port - NodePort combination and that works just fine for us.

That is true, but the packet is just forwarded, it's not like having there some HTTP proxy. Anyway, we don't run latency sensitive workload so we can live with having some small delay because of the extr