[2016-05-18 07:28] bgrant0607 commented on #7514
cc @kubernetes/examples

[2016-05-18 07:31] AaronTao1990 opened #25792 "failed to set up cluster via docker"
I am following this tutorial [Installing a Kubernetes Master Node via Docker](http://kubernetes.io/docs/getting-started-guides/docker-multinode/master/) to set up a cluster via Dockar。

After setting up etcd and flannel. I tried to restart docker with --bip & --mtu option.

And after I ran

	ps aux | grep docker

I found my docker is already started with the right options:

	root     55351  0.1  0

[2016-05-18 07:33] bgrant0607 commented on #7660
@mikedanese @davidopp Can this be closed in favor of more specific issues?

[2016-05-18 07:36] #7682 closed

[2016-05-18 07:49] bgrant0607 commented on #7890
Related: #831

[2016-05-18 07:52] bgrant0607 commented on #7890
FUSE is mainly needed for writes? Otherwise, it seems simpler to just fetch a tar.gz and unpack it into an emptyDir.

[2016-05-18 07:52] xiangpengzhao commented on #25791
The build log also shows
[code]
But it seems that there is no format problem in the file.

[2016-05-18 07:56] ghodss commented on #21317
@jchauncey By default ABAC will deny the kind of curl you make at https://github.com/deis/monitor/blob/master/telegraf/rootfs/start-telegraf#L8, so that wouldn't work for us. I generally wouldn't want to let every pod query its entire spec either, in case of compromise of the pod. Though I don't think there's even a way to currently say "let any pod's service account only query itself," anyways.

[2016-05-18 07:56] bgrant0607 commented on #8091
@jayunit100 Is this issue still relevant?

[2016-05-18 07:58] bgrant0607 commented on #8102
cc @kubernetes/sig-node

[2016-05-18 08:00] bgrant0607 commented on #8103
Obsolete

[2016-05-18 08:00] #8103 closed

[2016-05-18 08:02] bgrant0607 commented on #8115
Superseded by #18622.

The discovery API will make it unnecessary for clients to special-case Endpoints.

cc @kubernetes/sig-api-machinery

[2016-05-18 08:02] #8115 closed

[2016-05-18 08:03] nowprovision commented on #25340
24963 is a little different, I've created a quick fix for it  at
https://github.com/sitepod/kubernetes/commit/d0e9c029cbe7379f386fc2a6696824df604dfd0d
But will wait on feedback before submitting a PR, seems there might be more to it

[2016-05-18 08:05] nowprovision commented on #24963
@brendandburns

Ive created a quick fix for this to enable me to continue to work on Third pary resource clients
https://github.com/sitepod/kubernetes/commit/d0e9c029cbe7379f386fc2a6696824df604dfd0d

YMMV

[2016-05-18 08:12] #8493 closed

[2016-05-18 08:18] rancohen1 opened #25793 "Duplication of packets seen in bridge-promiscuous mode when accessing a pod on the same node through service ip"
using 1.2.4

I created a pod with a small udp echo server running on port 5005 (mendhak/udp-listener) and exposed it as a udp service.

**This only happens when the client and server land on the same node!**

A simple client
[code]
Meanwhile, on the server
[code]
tcpdump on the node
[code]
By the way, my real use case was using logstash with a udp input and my logs were duplicated sometimes (when

[2016-05-18 08:45] dshulyak commented on #25788
I can help with this bug. Looks like trivial fix in PrintRolloutHistory

[2016-05-18 08:59] Random-Liu commented on #25773
After introducing node problem detector #23028, there may be much more node conditions than today. Most of them will only exist when there is corresponding node problem daemon running.
Then for a node problem related condition, there could be 3 states:
* True
* False
* Not monitored at all.

If so, keeping the false condition is necessary. :)
However it is annoying to have a long list conditions w

[2016-05-18 09:04] Wenfeng-GAO commented on #25729
I got exactly the same error when go through the tutorial.

    docker: Error response from daemon: rpc error: code = 2 desc = "oci runtime error: rootfs (\"/var/lib/docker-bootstrap/devicemapper/mnt/8b34255bf18ae27be5f63452001f50a9a81a4fa7411ed862e16b8da72f52fdc0/rootfs\") does not exist".

I use the `master.sh` script on CentOS-7, the kernel is `3.10.0-327.el7.x86_64` and my `docker info` is

[2016-05-18 09:15] AaronTao1990 opened #25795 "Failed to get api server running"
I am trying to set up a k8s cluster via docker and followed the tutorial [here](http://kubernetes.io/docs/getting-started-guides/docker-multinode/master/)

And failed to get the api server run when I came to the last step. Below is the log from k8s.

PS. I tried to do the same thing with tutorial [here](http://kubernetes.io/docs/getting-started-guides/docker/), which is much more clear and simple.

[2016-05-18 09:17] nebril commented on #25417
I am also getting 500 in such situation (I am using master branch), but I am getting different message.

"message": "invalid character 'o' looking for beginning of object key string"

I am investigating this.

[2016-05-18 09:23] AaronTao1990 commented on #25729
@Wenfeng-GAO

I found a similar issue in docker [#here](https://github.com/docker/docker/issues/22684)

And it is really confusing.

I downgrade the docker version to 1.11.0 and the problem is gone.

But still I can not figure out the real reason that causes the problem.

And here comes my new issue.. #25795

[2016-05-18 10:05] jayunit100 commented on #8091
We can close this.  The node port update works.

[2016-05-18 10:11] DreamLog commented on #25528
@thockin Thank you very much for reminding me. I find that you appeared in many places.
so, I encountered a new issues, can you help me?
That is : I have done all kubernetes DNSservice config,and test it running ok. but how could I reach the pod from serviceName(DNS domain name)?

[code]

above this， dns works ok. but.....
[code]

how ever, use IP works.
[code]

[2016-05-18 10:14] jayunit100 commented on #25677
Hmmmm This is a conformance test iirc... I wonder how it broke in the CI?  Maybe because the container got removed slightly after the PR merged .

[2016-05-18 11:01] DreamLog opened #25799 "How use DNS domain name[kubernetes service name] to visit pod in cluster?"
I have done all kubernetes DNSservice config,and test it running ok. but how could I reach the pod from serviceName(DNS domain name)?

[code]
above this， dns works ok. but.....

[code]
how ever, use IP works.

[code]

[2016-05-18 11:11] DreamLog commented on #25799
@ncdc

[2016-05-18 11:47] dshulyak opened #25801 "Only last change is visible in kubectl rollout history"
While working on #25788 I was using nginx-deployment to populate history, the result can be found below. Any help in debugging this issue is highly appreciated

[code]

[2016-05-18 11:50] dshulyak commented on #25801
Adding @janetkuo as you were the author of linked issue

[code]

[2016-05-18 12:27] jimmycuadra opened #25803 "Document in detail what the --cloud-provider option to each k8s component does"
Several of the Kubernetes components accept a `--cloud-provider` option, but I cannot find any documentation on what features are actually turned on by setting this option appropriately. I'd like to know everything it enables across the whole suite of components, and which component is responsible for which feature.

[2016-05-18 12:33] dshulyak commented on #25801
I misunderstood how rollout history works, now i see that it is based on replica set. Sorry for inconvenience, everything works as expected.

[2016-05-18 12:33] #25801 closed

[2016-05-18 12:52] nebril commented on #25417
I submitted JSON with keys not enclosed in quotation marks, which resulted in JSON parser error seen above. I was able to replicate the original bug after realising i messed up the payload. Trying to make a fix :).

[2016-05-18 12:52] dshulyak commented on #24858
If no one is working on patch - i can try to make one.

[2016-05-18 13:01] zefciu commented on #23386
I will try to fix this.

[2016-05-18 13:09] asyoume opened #25805 "when i use"

[2016-05-18 13:10] #25805 closed

[2016-05-18 13:15] asyoume opened #25806 "in container，i want my app get clients ip"
I have use centos7/kubenetes 1.2/flannel 5.5，in container udp client addr is docker0 ip

[2016-05-18 13:37] andreykurilin opened #25807 "Unfriednly error while executing ./hack/update-generated-docs.sh script"
I tried to use update-generated-docs.sh script to update docs and it failed with next log:

It is hard to understand how can I fix this error without reading code.

Imo, we need additional check `[[ `git remote` == *$KUBE_GIT_UPSTREAM* ]]` and print user-friendly error if not.

[2016-05-18 13:43] erickhan commented on #5871
nice to get these GH notifications. Congrats guys!

[2016-05-18 13:57] mwielgus opened #25809 "Annotate manifest-created pods as created by kubelet"
Currently it is not possible to tell which pods are users' and which are from manifests.
cc: @piosz @fgrzadkowski

[2016-05-18 14:06] janetkuo commented on #25788
Thanks

[2016-05-18 14:10] nikhiljindal commented on #25761
How much work do you think will it be for using secrets?

How about changing the string field to kubeconfig path so that it atleast works (in 1.3). And then we improve it by using secrets (post 1.3)?

cc @colhom @jianhuiz @huangyuqi @mfanjie

[2016-05-18 14:27] timothysc commented on #25762
@wojtek-t we could probably create a patch that would default off but we-(Red Hat) could leverage.  It would be no-op change for upstream, but our customers have much larger and denser nodes that they would like to leverage.  Given this would be a 0-feature change for upstream, what is your opinion?

/cc @smarterclayton

[2016-05-18 14:46] mwielgus commented on #25809
Actually it can be tell by "kubernetes.io/config.source": "file".

[2016-05-18 14:46] #25809 closed

[2016-05-18 14:48] nebril commented on #25417
It looks like pkg/apiserver/resthandler.go:1031 is the problem, there is a panic when patchObj.Apply is called. Investigating.

[2016-05-18 14:52] timothysc commented on #23354
/cc @jayunit100

[2016-05-18 15:02] timothysc opened #25811 "node: label persist across restart"
xref: https://bugzilla.redhat.com/show_bug.cgi?id=1326732

Shutdown my labelled AWS nodes overnight to save money.   After restarting them the next morning no pods would start because they failed to match the region label selector which was set during install.   oc get nodes --show-label showed the region label missing.

The nodes were installed using the AWS private DNS name which does not change

[2016-05-18 15:10] bprashanth opened #25812 "node e2e runtime_conformance_test start a container that exits successfully"
No time to dig:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/2968
[code]

didn't look like the test was using a tagged busybox image, why not?

[2016-05-18 15:22] AdoHe commented on #23386
@zefciu please take a look at #23919

[2016-05-18 15:37] dims commented on #20077
I can't recreate the problem using the step from @thockin - should this bug be closed?

Make a service
`kubectl edit` the service and delete the clusterIP line
save

[2016-05-18 15:40] DirectXMan12 opened #25815 "kubectl autoscale prevents CPU percentages over 100%"
In #18294, it was decided that CPU percentages over 100% on the HPA were valid, but should be warned about.  However, `kubectl autoscale` prevents you from passing `--cpu-percent=X` when X is over 100.

It seems confusing that if you create an autoscaler with `autoscale` it will prevent target CPU percentages over 100%, but after you create it, you can go in and edit it to be over 100% (or you cou

[2016-05-18 15:48] #20077 closed

[2016-05-18 15:50] zefciu commented on #23386
Yeah, this is a duplicate. If that patch passes the tests given there it fixes this issue.

[2016-05-18 15:53] kevin-wangzefeng commented on #25663
This seems doesn't support the case if a pod failed scheduling because of resource not fit, and later on the admin added some resource to the cluster, wishing the pod can be successfully scheduled and started.

What I am think about is introducing a max-retry/cool-down mechanism:
1. add a field i.e. `schedulingRetryCounts` to PodStatus to count a pod failed scheduling and retry times,
2. add anoth

[2016-05-18 16:10] briangebala commented on #15478
+1

[2016-05-18 16:26] aveshagarwal commented on #24986
I dont see this issue any more with `update-all.sh` on latest master so closing this.

[2016-05-18 16:26] #24986 closed

[2016-05-18 16:28] harryge00 commented on #22427
How to use godep to fix this?

[2016-05-18 16:28] smarterclayton opened #25818 "exec, logs, attach and any other "container" command should work on init containers"
Need to finish so the client allows you to select an init container, and verify the kubelet works correctly.

@bprashanth

[2016-05-18 16:30] obeattie commented on #15478
In case anyone isn't aware, you can define the default log driver on a per-node basis with a flag to the Docker daemon (`--log-driver`). In my environment, I set the driver to `journald` this way. I struggle to think of a use-case for overriding this on a per-container basis to be honest.

[2016-05-18 16:36] pwittrock commented on #25657
PR is out for review.

[2016-05-18 16:37] dims commented on #5592
We don't print current-context: any more. Can we close this bug?

[2016-05-18 16:40] tnachen commented on #24858
@dshulyak I'll like to work on this issue if you haven't started yet

[2016-05-18 16:49] tmrts commented on #23611
@ixdy didn't realize that even the `verify-*` checks are heavyweight now

@eparis I don't think anybody would vote Travis after hearing what you described :smile:

[2016-05-18 16:52] tnachen commented on #24858
Actually never mind I can look at something else :)

[2016-05-18 16:58] dims commented on #13522
Still not fixed.

[code]

[2016-05-18 17:13] thockin commented on #8976
@mhrgoog another relatively inconsequential cleanup that will let you explore some aspects of the project

[2016-05-18 17:18] dims commented on #17448
Looks like the docs moved to https://github.com/kubernetes/kubernetes.github.io and the references are already fixed as well. We should close this issue.

https://github.com/kubernetes/kubernetes.github.io/search?utf8=%E2%9C%93&q=darwin%2Famd64%2Fkubectl

[2016-05-18 17:18] spxtr commented on #25677
@jayunit100 this test was so flaky (~20%) that I moved it to the flaky suite, so it doesn't block merges.

[2016-05-18 17:21] timothysc commented on #15478
Most clustering will not want their logs going "out-of-band", so what is the feature enablement that this would provide.

Also, from an ops perspective it looks like a loss of control.  Currently we set the defaults and configure a logging stack to aggregate.

[2016-05-18 17:31] a-robinson commented on #11282
This is obsolete, it's been logging warning messages and above for some time now (it had initially been set up to only log error messages, which is a useless mode given that it doesn't seem to consider anything an error).

[2016-05-18 17:31] #11282 closed

[2016-05-18 17:33] chrislovecnm commented on #10931
@rroopreddy can you test this again?  It has been open for a long time and there have been multiple updates to the example.  Thanks

[2016-05-18 17:34] chrislovecnm commented on #17275
@ScubaDrew & @lordkada what is the current status on this?

[2016-05-18 17:44] jonathan-kosgei opened #25819 "Trouble installing the kube-dns addon manually"
Hi,
I have a 3-node kubernetes cluster, 1 master 2 nodes.

I'm trying to install the kube-dns addon as per https://coreos.com/kubernetes/docs/latest/deploy-addons.html however this doesn't work, below are my logs for the containers in the kube-dns pod:

    [root@sc-master-1 pods]# kubectl get pods --namespace=kube-system
    NAME                 READY     STATUS    RESTARTS   AGE
    kube-dns-v11

[2016-05-18 17:46] stevesloka commented on #23330
Has there been any work done on the dynamic provisioning of claims? I'd like to tackle a simple approach to help my use-case but didn't want to step on any wip.

[2016-05-18 17:49] girishkalele commented on #25573
@fluxrad

Could you provide more details of your setup ?
Which version are you running ?
I think the DNS addon is now part of the standard installed services in 1.2.

[2016-05-18 17:51] Random-Liu commented on #25812
The test itself contains error:
[This line](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/runtime_conformance_test.go#L129) assumes the pod to be NotReady, but in fact the pod could be restarted before checking.

@liangchenye

[2016-05-18 18:07] stevesloka commented on #25759
Seems like my upgrade to 1.2.4 fixed the issue. I now have an issue where sshd connections via services are slow, but not sure if related to 1.2.4 or not.

[2016-05-18 18:07] #25759 closed

[2016-05-18 18:19] alena1108 opened #25820 "Error accessing /api/v1/nodes: "value of type api.Service is not assignable to type api.Node""
Not sure if the issue was addressed in follow up 1.2.x releases; but in 1.2.0 (5cb86ee022267586db386f62781338b0483733b3) I do see these errors from time to time on "List /api/v1/nodes":

[code]

Here is the full stack trace:

[code]

[2016-05-18 18:22] mml commented on #25705
I just spoke to @lavalamp and he said he thought we were calling both `List()` and `Index()` at different times without a lock to assure we always acted on the same data.  I'm not convinced.  The logic is a little confusing, but it breaks down into these cases.

 - If namespace = all, call indexer.List(), append matching pods to an empty PodList, then return.
 - Otherwise, call Index(NamespaceInde

[2016-05-18 18:30] smarterclayton opened #25822 "RateLimitedQueue should be stable to multiple adds in the same time tick"
#24971 exposed that the RLQ does not properly handle two events added in the same clock tick.  We need to fix it since it can potentially result in the RLQ being out of order, although in practice this may not be an issue.

[2016-05-18 18:31] smarterclayton commented on #24971
Opened #25822 to determine whether we actually need to fix the RLQ

[2016-05-18 18:50] timstclair commented on #11606
Related issue, flag conflict from dependencies: http://stackoverflow.com/questions/37284423/glog-flag-redefined-error/37307780

[2016-05-18 18:54] chrislovecnm commented on #20999
Is there a way to dynamically build a new image and test that image?  For instance with https://github.com/kubernetes/kubernetes/issues/25583 I have a new container to test.

[2016-05-18 18:55] ScubaDrew commented on #17275
I gave up entirely on the K8 example C* cluster. I don't like the google docker image and other issues in #20961

I'm currently using https://github.com/vyshane/cassandra-kubernetes

It works but suffers from the all nodes are seeds issue.

I chimed in here because I ran into the t2.micro issues early also.

@chrislovecnm anxiously awaiting petsets. I think this will help with the persistent disk

[2016-05-18 18:56] minjs opened #25823 "release-1.2 build package dependence error"
c117-2:kubernetes u738$ godep restore
# cd .; git clone https://code.google.com/p/go-decimal-inf.exp /Users/u738/workspace/go/src/speter.net/go/exp/math/dec/inf
Cloning into '/Users/u738/workspace/go/src/speter.net/go/exp/math/dec/inf'...
**fatal: repository 'https://code.google.com/p/go-decimal-inf.exp/' not found**
godep: error downloading dep (speter.net/go/exp/math/dec/inf): exit status 128
go

[2016-05-18 18:59] nvnobelen commented on #23111
It does not look like it is fixed:
Environment: coreos hyperkube 1.2.3

Test by re-creating the certificates and rebooting the environment:
kubectl get secret --namespace=kube-system
will show an old secret and cause (at least) kube2sky to fail with any of the above indicated errors.
Manual action on removing the secret is still required to get it to work again

[2016-05-18 19:00] chrislovecnm commented on #17275
@ScubaDrew yes ... we are missing a couple of other features that will stabilize it, but PetSet is a huge help!

What would you like to see in the container?  Btw I have a PR that is coming in for more updates, https://github.com/kubernetes/kubernetes/pull/25583 ..  But please let me know what you would like to see.

The SeedProvider will hopefully be ending up in the C* code base, which will be a

[2016-05-18 19:02] chrislovecnm commented on #17275
@ScubaDrew most of the issues in https://github.com/kubernetes/kubernetes/issues/20961 are resolved btw.

[2016-05-18 19:12] timothysc commented on #6080
For stateful services, you'll likely want eviction life-cycle hooks for "gracefulness".  Policy can be decided by pod authors in this way.  As there are often degrees of "stickiness".

[2016-05-18 19:14] ScubaDrew commented on #17275
Thanks @chrislovecnm ! Appreciate all your help with this and specifically all the work on the see provider you did.

Are we at a point that I could pull the stuff from master and try creating my own docker image from the Dockerfile and running a cluster with your seed provider?

[2016-05-18 19:16] timothysc commented on #15675
Doesn't this touch the longstanding topic of wanting real load-balancers with configuration and policy, as you typically adjust these types of configuration parameters?

/cc @thockin

[2016-05-18 19:31] lavalamp commented on #24753
I'm planning to implement a variant of what @david-mcmahon says: I'll make the submit queue ignore failures in the blocking jobs as long as: a) the prior two runs got test results and b) the failed tests from each are a disjoint set. @eparis stop me if that sounds problematic.

[2016-05-18 19:31] lavalamp commented on #24753
The obvious next step is to autofile issues for such tests, we'll see how much time I find.

[2016-05-18 19:34] lavalamp opened #25824 "Resource leak in gce-slow (gcloud crash during teardown)"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/5733/

[code]

[2016-05-18 19:35] andyzheng0831 commented on #23634
I think the root cause is related with cAdvisor. The following events are shown repeatedly about skipping pod synchronization. Although /etc/kubernetes/manifests dir has all kube-system manifest, kubelet does not create any one.

kubelet.go:2499] skipping pod synchronization - [Failed to start cAdvisor open /sys/fs/cgroup/cpu,cpuacct/system.slice/systemd-hostnamed.service: no such file or director

[2016-05-18 19:36] chrislovecnm commented on #25618
@bprashanth sorry to reopen this ...

"flip it to true" part ... I assume that you mean through a `kubectl edit petset cassandra` command and update

[code]
to true

[code]

That is actually giving me an error that I can only edit the `replicas` field.

[code]

I can launch it with  ```pod.alpha.kubernetes.io/initialized: "true"``` and it works fine.

[2016-05-18 19:37] lavalamp commented on #25824
Real problem is that gcloud crashed during teardown:

[code]

[2016-05-18 19:37] smarterclayton opened #25825 "Unit test flake Test_NewGoRoutineMap_Positive_WaitEmpty"
[code]

[2016-05-18 19:38] smarterclayton commented on #25825
Found in #24768

[2016-05-18 19:39] bprashanth commented on #25618
You can't modify any petset spec field except "Replicas", currently. You need to either:
1. create the petset with it set to true
2. create the petset with it set to false, and flip each *pod* annotation to true as you confirm it's ready

[2016-05-18 19:40] mml commented on #25705
OK, AFAICT the problem was with me, the caller.

Two bugs together hid this from me.  (1) I accidentally created a DisruptionBudget with an empty selector, which matched everything (should have been a validation failure *and* should probably have special logic to match nothing).  (2) I was reusing a pointer, so that if the DisruptionBudget matched N pods, I would get N copies of the same pod in my

[2016-05-18 19:40] #25705 closed

[2016-05-18 19:51] lavalamp opened #25827 "kubemark-5: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/4510/

[code]

[2016-05-18 19:53] lavalamp commented on #25827
Looks like node update?

[2016-05-18 19:54] bprashanth commented on #25824
[code]
metadata server again?

This is just complaining that the previous thing is using the current thing I guess
[code]

[2016-05-18 19:56] bprashanth commented on #25824
But it's not a connection refused like we saw before, I wonder if it's using the metadata server hostname and going through our http metadata cache proxy @kubernetes/goog-testing

[2016-05-18 19:58] chrislovecnm commented on #25618
More information please

[2016-05-18 19:58] ixdy commented on #25824
I turned off the metadata cache server on Sunday. Looks like we still need it after all. :(

[2016-05-18 19:59] bprashanth commented on #25618
The same thing, kubectl edit po zoo-0, lookup this annotation, make it "true"

[2016-05-18 20:04] chrislovecnm commented on #25618
@bprashanth thanks ... look forward to the documentation ... I know you are slammed.  BTW coding an application against this right now :)

[2016-05-18 20:04] #25618 closed

[2016-05-18 20:07] pnovotnak opened #25828 "[GKE] Pod Can't Mount Volumes (Fails to Create Paths) Won't Leave ContainerCreating State"
We have a disk "databases-us-central1-b-kube" that contains some protein databases (blast non-redundant, pdb, hhsearch, etc.) It's supposed to be mounted read-only.

We had a replication controller/replica in our "development" namespace (which was created long ago) that was accidentally set to mount this drive as read-write. It was previously the only thing using the drive, so we had no issues the

[2016-05-18 20:08] pnovotnak commented on #25828
cc @javierbq

[2016-05-18 20:15] jayunit100 commented on #20999
The best you can do is push your own image to dockerhub and test that this PR works with your image.

Then we can have them push it based on the fact that we know everything is ready.

[2016-05-18 20:17] dchen1107 opened #25829 "Discuss: Support user-defined healthchecks in docker image"
Docker is adding support for user-defined healthchecks as part of Dockerfile, and the proposal is at https://github.com/docker/docker/pull/22719. We should think about if we want to support that feature? If yes, how?

cc/ @thockin @bgrant0607 @kubernetes/goog-node @derekwaynecarr

[2016-05-18 20:17] minjs commented on #25823
This was fixed in master branch by switching to "gopkg.in/inf.v0".

[2016-05-18 20:21] chrislovecnm commented on #20999
@jayunit100 I am wondering if we can work out using the local server repo to push to ... any thoughts on that?

[2016-05-18 20:38] Random-Liu commented on #1615
FYI, docker will support pid namespace sharing in 1.12 https://github.com/docker/docker/pull/22481

[2016-05-18 20:39] fabioy opened #25831 "Expose kube-controller-manager's "terminated-pod-gc-threshold" flag so it's configurable via script"
The default teminated gc pod settings seems to increase the memory utilization on cluster masters to a much higher level than v1.1.x. This is causing some issues. This option is adjustable via this flag, but it needs to be exposed through the salt and startup scripts so it can be changed via env vars.

[2016-05-18 20:45] devlina commented on #24812
@thockin kube2sky problem which I mentioned happens when I install kubernetes docker as docker container following this http://kubernetes.io/docs/getting-started-guides/docker/. Here are the kube2sky logs:
[code]

However when I installed K8s from source using kube-up.sh using instructions from here http://kubernetes.io/docs/getting-started-guides/ubuntu/ kube-dns works fine without any issue.

In

[2016-05-18 20:56] dims commented on #22517
`kubectl get job/pi -o yaml` also gives the wrong apiVersion

[2016-05-18 21:10] jmhodges opened #25832 "tool to update a file in a configmap or generic secret"
I have some configmap and secrets that contain binary data. Downloading the configmap, and editing it by hand to update the data in them is perilous.

One current alternative is deleting and recreating the configmap but it's easy to forget you deleted it or screw up the replace and wander off for lunch while a deploy occurs which then breaks.

Another alternative is making a new configmap with a n

[2016-05-18 21:24] pnovotnak commented on #25828
Destroying the service and controller, then re-creating both fixed the issue

[2016-05-18 21:28] lavalamp commented on #24753
https://github.com/kubernetes/contrib/pull/1011

[2016-05-18 21:30] lavalamp opened #25833 "gcloud auth problems: kubemark-5 & gke-slow"
[code]

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/4513

[2016-05-18 21:31] fluxrad commented on #25573
OS: CoreOS (stable)
Docker version: 1.9.1
Kubernetes version: 1.2.3
Kube DNS add-on version: v11

Kubernetes installed via CloudFormation bootstrap. Kubelet is a daemon, other services started via Hyperkube in Docker. Cribbed from an earlier version of CoreOS' kube-aws tool.

DNS is configured based on the cluster add-on specified in [kubernetes/addons/dns](https://github.com/kubernetes/kubernetes

[2016-05-18 21:31] pwittrock commented on #25246
@spxtr @ixdy Does this sound like it could be infra related?  The kubelet process wasn't able to bind any ports.

[2016-05-18 21:34] lavalamp opened #25834 "Kubernetes e2e suite.[k8s.io] Kubectl client [k8s.io] Kubectl expose should create services for rc [Conformance]"
Failed twice in a row.

https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17165/

[code]

[2016-05-18 21:35] thockin opened #25835 "protobuf codegen does not handle *[]Foo and *map[Foo]Bar"
I took a look at the code generator and it seems pretty clearly wrong for this case, but I am not deeply familiar with it, so I am crying for help.

Specifically, I think we need to handle the case of pointer-to-slice and pointer-to-map specially, and inject an intermediate type. Coincidentally, this is what we will have to do for proto3 optional primitives, anyway.

[code]

has to become

[code]

[2016-05-18 21:42] ixdy commented on #25246
My best guess is that somehow the truncated UUID wasn't unique? Hard to say, though.

[2016-05-18 21:43] thockin opened #25836 "empty label selector and nil selector are indistinguishable"
Service.spec.selector comments say "If empty, all pods are selected, if not specified, endpoints must be manually specified".

As far as I can tell this is not implemented, though.  While Go understands the different between a nil slice and a non-nil slice with no elements, JSON does not.  With an `omitempty` field, we get the field dropped in either case.

To actually achieve this semantic, we ne

[2016-05-18 21:50] dims commented on #22517
kubectl is making the following calls

`I0518 17:44:26.983681   13465 handlers.go:161] GET /apis/batch/v1/jobs?resourceVersion=0: (924.71µs) 200 [[hyperkube/v1.3.0 (linux/amd64) kubernetes/952e830/job-controller] 127.0.0.1:33560]
I0518 17:44:43.958482   13465 handlers.go:161] GET /apis/extensions/v1beta1/namespaces/default/jobs/pi: (593.349µs) 200 [[kubectl/v1.3.0 (linux/amd64) kubernetes/952e830]

[2016-05-18 21:52] thockin opened #25837 "service controller does not clear endpoints if selector is empty"
If you create a Service with an empty selector, you see `<none>` endpoints.  If you start with a valid selector (so you get one endpoint) then remove the selector, the endpoint sticks.  If you use a selector that selects no endpoints, it is cleared properly.

@jingxu97 or @mhrgoog this might be an easy one

[2016-05-18 22:01] ixdy commented on #25371
without the link to the full build log this one is basically impossible to debug.

[2016-05-18 22:02] fejta commented on #23350
@spxtr looks like you have more context on this. Please assign me one of your flakes instead.

[2016-05-18 22:05] ixdy commented on #25371
OK, this is http://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/25365/kubernetes-pull-build-test-e2e-gce/39163/build-log.txt.

Nothing else looks wrong in the build. If MIG deletion doesn't finish within 30m I don't know what we can do from a test-infra perspective. That's just GCE being broken.

[2016-05-18 22:05] #25371 closed

[2016-05-18 22:27] pwittrock commented on #25246
UUID of the vm instance?

I0506 02:20:11.133084    2761 server.go:117] Starting to listen on 0.0.0.0:10250
F0506 02:20:11.136563    2761 server.go:126] listen tcp 0.0.0.0:10250: bind: address already in use

[2016-05-18 22:29] ixdy commented on #25246
Yeah - maybe `tmp-node-e2e-d8cff0b3` was insufficiently unique? I'm just grasping at straws, though.

[2016-05-18 22:30] thockin commented on #1615
nice!  We should use this as soon as we can

On Wed, May 18, 2016 at 1:39 PM, Lantao Liu <notifications@github.com>
wrote:

[2016-05-18 22:37] bprashanth commented on #1615
Ah, i thought i saw support for that in runc and was puzzled why it didn't work through docker.
Shared pid namespace would help petset too.
@kubernetes/sig-node can we get docker 1.12 in 1.3? :)

[2016-05-18 22:41] Random-Liu commented on #1615
@bprashanth I don't think so we could make it for 1.3. :(
Docker 1.12 is not out yet, and we've decided to go with docker 1.11.

[2016-05-18 22:42] ixdy commented on #25246
Using the first 8 characters of the UUID is only 4 bytes of entropy. A collision is unlikely, but possible...

[2016-05-18 22:48] alex-mohr commented on #20445
@gmarek @wojtek-t If it's required for the 2k nodes work, it's 1.3.  If it's not, then 1.4.

[2016-05-18 22:50] alex-mohr commented on #23327
Seems reasonable to me as a P1 bug.

[2016-05-18 22:52] spiffxp opened #25839 "ConfigMap [Conformance] tests fail with recommended admission-control settings"
Either [the recommended / default admission-control settings](https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/admin/admission-controllers.md#is-there-a-recommended-set-of-plug-ins-to-use) are wrong, or the following ConfigMap tests need to get kicked out of [Conformance]

[code]

What caused `SecurityContextDeny` to be placed in the recommended list in the first place?

/cc @ku

[2016-05-18 22:52] lavalamp commented on #25761
I don't think a static kubeconfig path is a great idea, since to use it
you'll have to change what's mounted inside the ubernetes control plane
every time you add or remove a kubernetes cluster.

On Wed, May 18, 2016 at 7:10 AM, Nikhil Jindal <notifications@github.com>
wrote:

[2016-05-18 22:54] kargakis commented on #25815
@kubernetes/kubectl

[2016-05-18 22:55] spiffxp commented on #25839
I'm guessing per #21004 the default settings are wrong and should be corrected?

/cc @pmorie @vishh @ArtfulCoder @bgrant0607 @roberthbailey

[2016-05-18 23:01] roberthbailey commented on #25839
AFAIK it was in the recommended list of admission controllers prior to the 1.2 release. It looks like http://kubernetes.io/docs/admin/admission-controllers/#is-there-a-recommended-set-of-plug-ins-to-use should be updated for 1.2 (or maybe expanded to show for recommendations for 1.0, 1.1, 1.2, etc).

[2016-05-18 23:03] hongchaodeng commented on #22448
Updates on current status:
- I consider it code complete. Users should be able to run k8s with etcd3 backed storage.
- We have set up [jenkins jobs](https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e.yaml) to run e2e testing nightly. If there are any commit that breaks the code, we should be able to know. Might be great if we can have this in

[2016-05-18 23:03] vishh commented on #23634
@andyzheng0831: cAdvisor has had several issues with systemd recently. We might have to ignore `systemd-hostnamed.service` file like `.mount` files are ignored [here](https://github.com/google/cadvisor/blob/master/container/systemd/factory.go#L42).

[2016-05-18 23:07] andyzheng0831 commented on #23634
I think so. Even for the normal kubelet on GCI, I still see logs about moving systemd-hostnamed containers, which looks not right (although it does not hurt functionality). Is there a systematical way to let cAdvisor ignore a certain set of system services?

[2016-05-18 23:08] kargakis commented on #25790
cc: @kubernetes/deployment

There is no notion of a failed replication controller. Deployments in Kube / deploymentconfigs downstream should take care of this. See https://github.com/kubernetes/kubernetes/pull/19343

[2016-05-18 23:11] vishh opened #25840 "Expose usage of network volumes via kubelet Summary API"
As of now kubelet exports usage of local disk based volumes only. It is useful for users to track usage on network based volumes as well.

[2016-05-18 23:11] kargakis commented on #25790
Actually this is a dupe of https://github.com/kubernetes/kubernetes/issues/14519. Can you post in that issue what do you want from a permanently failed deployment to do? I think your issue downstream was that you may end up with a replication controller that has no ready pods and wasn't identified by the deployment?

[2016-05-18 23:11] #25790 closed

[2016-05-18 23:13] spiffxp commented on #25839
Well, there's a PR with the one delta I now know about :)  If folks are happy with that, can cherrypick back into release-1.2

[2016-05-18 23:13] vishh commented on #23634
@andyzheng0831 We need first class support for systemd in cAdvisor. The way systemd uses cgroupfs is also a bit weird.

[2016-05-18 23:14] thockin commented on #1615
I didn't mean 1.3 :)

On Wed, May 18, 2016 at 3:42 PM, Lantao Liu <notifications@github.com>
wrote:

[2016-05-18 23:14] ixdy commented on #25246
OK, as best I can tell, a VM name collision didn't occur. (And I guess the VM creation would've failed if it had.) No idea on what actually happened here. Maybe something randomly used port 10250 on the VM?

[2016-05-18 23:17] bprashanth commented on #1615
BUT I DID
/me types up a kubernetes-dev email to discuss this

[2016-05-18 23:22] bgrant0607 commented on #19767
Thanks! Have you looked at #24649? :-)

[2016-05-18 23:22] #19767 closed

[2016-05-18 23:25] alex-mohr commented on #25840
GCE PDs appear the same as local disks on the VM.  Clarify what you mean by network based volumes?

[2016-05-18 23:28] vishh commented on #25840
I'm referring to the different types of volume plugins that we support today. Kubelet currently tracks usage of all volumes that share a single partition that kubelet is expected to manage.

[2016-05-18 23:32] girishkalele commented on #25837
@thockin

Am trying to reproduce this issue - Am unclear on the 'remove the selector' part - will kubectl patch work ?
I used kubectl patch to change the selector to a non-existent pod/label. The Endpoints show <none> immediately after (and the selector patch change also)

[trivial-service.yaml.txt](https://github.com/kubernetes/kubernetes/files/271597/trivial-service.yaml.txt)

`console

$ kubect

[2016-05-18 23:35] vishh commented on #6862
I'm convinced. Once #22964 takes some shape (hopefully very soon), we can take in community contributions for lxc/lxd integration. As part of #22964, we are attempting to define a client-server model for integrating with alternate runtimes and it should be (hopefully) straightforward to integrate with lxc/lxd.

[2016-05-18 23:42] bgrant0607 commented on #25839
SecurityContextDeny still appears in several admission control lists, including AWS and local-up-cluster.sh:
https://github.com/kubernetes/kubernetes/search?l=bash&q=SecurityContextDeny&utf8=%E2%9C%93

[2016-05-18 23:45] girishkalele commented on #25573
@thockin @fluxrad

The exact failure is due to the failure to atoi parse the string "tcp://10.100.102.66:9090" in skydns code.
This is the value of the PROMETHEUS_PORT environment variable which triggers the "export metrics to prometheus" feature in skydns (I know, I know, activating a feature just due to the presence of an environment variable is bad practice).

Because your service is named prom

[2016-05-18 23:47] girishkalele commented on #25573
Suggested workarounds for now:

Naming your service something other than prometheus or, less suitable, not running in the kube-system namespace.

[2016-05-18 23:50] bj916b commented on #6862
@vishh this is great news! very much looking forward to this. i'll start watching #22964 more closely.

[2016-05-18 23:59] timstclair opened #25844 "Check container exit status when inspecting immediately after create"
Kubelet issues a docker inspect call after creating a container, but for very short lived containers there is a window in which they could exit before being inspected [1]. Specifically, I'm referring to [this line](https://github.com/kubernetes/kubernetes/blob/35c9ca853a084a4ea04debe027c6ea680fd9ddac/pkg/kubelet/dockertools/manager.go#L1493) in the docker manager.

If the container PID is 0, we sh

[2016-05-19 00:00] pwittrock commented on #25246
Ah interesting theory.  The test script kills all of the running programs before starting, and the api server was able to bind the ports.  Will need to figure out how to debug this.

[2016-05-19 00:06] pnovotnak commented on #25828
I tried switching over to persistent volumes & persistent volume claims, the problem persists :)

    NAMESPACE     NAME        STATUS    VOLUME      CAPACITY   ACCESSMODES   AGE
    development   databases   Bound     databases   500Gi      ROX           2m
    production    databases   Pending   databases   0                        58s
    staging       databases   Pending   databases   0

[2016-05-19 00:09] lavalamp opened #25845 "TestUnschedulableNodes: Failed to observe reflected update for setting unschedulable=true"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-test-go/12266/

[code]

[2016-05-19 00:24] #25205 closed

[2016-05-19 00:27] bprashanth commented on #25844
looking at the logs 2 weird things:
1. The race described
2. The second container ran, which suggests inconsistent reporting of initialized status of init1 and choosing init2 as the next container (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L2144 vs https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L3399). I think 1 got it righ

[2016-05-19 00:29] yifan-gu commented on #7202
This is fixed since https://github.com/kubernetes/kubernetes/pull/15114

[2016-05-19 00:29] #7202 closed

[2016-05-19 00:30] yifan-gu commented on #7205
:tada: :tada: :tada: @euank

[2016-05-19 00:30] #25084 closed

[2016-05-19 00:34] lavalamp commented on #25833
same looking problems in gke-slow. https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/4323/

[2016-05-19 00:42] lavalamp commented on #25791
Looks like you found the problem. Please make sure you're running gofmt with `-s` option and use the same version that the server is using, should be 1.6 now?

[2016-05-19 00:42] #25791 closed

[2016-05-19 00:48] smarterclayton commented on #25844
Init containers have an implicit assumption that container statuses include
results of previous SyncPod invocations. If that's not the case we may need
to fix that (or at least mitigate it).

On May 18, 2016, at 8:28 PM, Prashanth B <notifications@github.com> wrote:

looking at the logs 2 weird things:
1. The race described
2. The second container ran, which suggests inconsistent reporting of
init

[2016-05-19 00:53] smarterclayton commented on #25835
*[]Foo should be redundant - a slice can already be nil.  Same for maps.
I'll look tonight

On May 18, 2016, at 5:35 PM, Tim Hockin <notifications@github.com> wrote:

I took a look at the code generator and it seems pretty clearly wrong for
this case, but I am not deeply familiar with it, so I am crying for help.

Specifically, I think we need to handle the case of pointer-to-slice and
pointer-to-

[2016-05-19 00:54] lavalamp opened #25849 "kubemark-5: build timed out"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/4524/

Big gap in timestamps:

[code]

[2016-05-19 00:54] leewill1120 opened #25850 ""gcr.io/google_containers/pause" source code"
Where can i get the source code of gcr.io/google_containers/pause, I want to learn it.

[2016-05-19 00:56] #25588 closed

[2016-05-19 00:59] lavalamp commented on #25835
There's actually not really a difference between a zero-length and a nil
slice in go, at least not an easily-discoverable one. I suppose the request
is to tell the difference between `"x": null` (or `x` being omitted) and
`"x": []`?

On Wed, May 18, 2016 at 5:54 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-05-19 01:02] spxtr commented on #23350
From [a recent occurrence](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/17169), this error showed up on both nodes that didn't report back:
[code]

[2016-05-19 01:03] lavalamp commented on #25837
IMO, this is working as intended-- `nil` selector means you want to manage the endpoints yourself. The controller has no way to know you don't want that endpoint.

[2016-05-19 01:04] lavalamp commented on #25837
@girishkalele, @thockin is talking about removing the selector completely. `nil` means you want to provide your own endpoints, `{}` means you want to select every pod. Yes, really, that's the api :/

[2016-05-19 01:06] lavalamp commented on #25837
Anyway, the only way to fix this is to demarcate system-created endpoints somehow (annotation?), and have the endpoint controller delete them if the label selector is nil. Seems like a lot of work to change this behavior.

[2016-05-19 01:09] lavalamp commented on #25850
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-05-19 01:09] #25850 closed

[2016-05-19 01:10] lavalamp commented on #25774
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-05-19 01:10] #25774 closed

[2016-05-19 01:12] lavalamp commented on #25786
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-05-19 01:12] #25786 closed

[2016-05-19 01:13] lavalamp commented on #25792
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-05-19 01:13] #25792 closed

[2016-05-19 01:14] lavalamp commented on #25793
@thockin to either answer or give the "no support" boilerplate, I'm not sure if this is expected or not.

[2016-05-19 01:15] lavalamp commented on #25795
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-05-19 01:15] #25795 closed

[2016-05-19 01:18] derekwaynecarr commented on #25829
My initial bias is that health checks are a layer above the container
runtime interface, but if we did support it, it must be reflected in the
pod spec and not hidden from view when introspecting the pod.

We have interfaces today that ask the user to add health checks if not
specified on the pod spec, it would be confusing for them to be hidden in
the image definition alone.

I don't think it mak

[2016-05-19 01:18] lavalamp commented on #25799
(personal note: you used a different IP address than the DNS lookup showed?)

Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently

[2016-05-19 01:18] #25799 closed

[2016-05-19 01:19] lavalamp commented on #25806
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-05-19 01:19] #25806 closed

[2016-05-19 01:20] lavalamp commented on #25807
Thanks for the PR!

[2016-05-19 01:22] yujuhong commented on #25844
This should be true. Is there any evidence that suggests the opposite? https://github.com/kubernetes/kubernetes/issues/25844#issuecomment-220196622 only shows conflicting view of whether init1 has run.

[2016-05-19 01:24] DreamLog commented on #25799
@lavalamp Thanks a lot.I will do it.

[2016-05-19 01:24] lavalamp commented on #25819
(personal note: "Using http://localhost:8080 for kubernetes master"-- either your apiserver is configured to advertise itself wrong, or the kube DNS is configured wrong, my guess is the former.)

Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we

[2016-05-19 01:24] #25819 closed

[2016-05-19 01:27] lavalamp commented on #25823
We're probably not going to cherry-pick this, sorry-- it still builds. You can manually copy out of the Godeps/_workspace directory if you need to simulate `godep restore`.

[2016-05-19 01:27] yujuhong commented on #25844
If the container exits already and it's not an infra container, kubelet should not error out. Although even if it does, I failed to see how this could affect the readiness of the init container without checking the code further.

[2016-05-19 01:29] yujuhong commented on #25829
I agree with what @derekwaynecarr's points. I have also expressed similar concerns in the brief discussion today. It's not desirable to have kubelet running health checks for a container without explicitly expressing it in the pod spec.

[2016-05-19 01:44] yujuhong commented on #1615
@bprashanth, discuss shared PID namespace in general or discuss supporting this in v1.3? I see no practical, actionable plans to support this in v1.3 unless we push the release.

Why do you want this feature so bad?

[2016-05-19 01:46] xiangpengzhao commented on #25791
I build Kubernetes using Docker [(instructions)](https://github.com/kubernetes/kubernetes/blob/master/build/README.md). I think the containerized  build env version is the same with that the server is using. Will the unit/integration test be blocked if verify-gofmt.sh returns `FAILED`?
Thanks! @lavalamp

[2016-05-19 02:07] lojies opened #25854 "Discuss:Support local files in cluster\ubuntu\download-release.sh"
As  [http://kubernetes.io/docs/getting-started-guides/ubuntu/](url) introduced,
when i run following command:
`$ KUBERNETES_PROVIDER=ubuntu ./kube-up.sh`
curl in the ubuntu\download-release.sh can't work correctly, because my k8s is installed in a LAN that can't access the internet.

can consider support the following changes:
- add a directory named downloads for example in the cluster\ubuntu\
-

[2016-05-19 02:09] euank opened #25855 "e2e flake - Post https://$ip/api: dial tcp $ip: i/o timeout not to have occurred"
Flake looks like the API server was unavailable for a subset of tests. I don't see another flake issue for this:

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25062/kubernetes-pull-build-test-e2e-gce/40667/

[code]

From issue https://github.com/kubernetes/kubernetes/pull/25062#issuecomment-220149798

[2016-05-19 02:11] smarterclayton commented on #25835
If you have omitempty set, JSON deserialization will *always* return an
empty slice.  If you don't have omit empty set, you'll get a nil slice if
the user sent no field or "field: null", or an empty slice if the user set
slice.

This is why omitempty should never be used on slices or maps, where we want
to discriminate between empty and unspecified.  It's not the right signal.

On Wed, May 18, 201

[2016-05-19 02:13] smarterclayton commented on #25844
Each syncPod invocation, we inspect the list of init container in order
looking for lastTerminationState.  There could be a bug in that logic, or
if we didn't get the full status, we might make a bad decision.  When
determining which container to run *next*, we always look for the last init
container in the chain that has success, then run the next container
(unless the pod is RestartNever).

On W

[2016-05-19 02:15] bgrant0607 commented on #25829
Trying the Socratic method. :-)

Why are any container properties represented in image metadata?

What would we have done if this had been supported by Docker from the beginning?

What did we do for other container properties, such as ports?

How are ports different from entrypoint and command?

Why don't we use Docker's restart policy even though it mimics ours?

What would we do about readiness

[2016-05-19 02:32] pwittrock commented on #25657
#25781 was merged and introduced a likely fix as well as debug info in the event the root cause was not addressed.  Re-open if we continue to see this.

[2016-05-19 02:32] #25657 closed

[2016-05-19 02:36] smarterclayton opened #25856 "e2e flake, pods not running within 10m"
Possibly related to being unable to pull the images?  No tests ran.

[code]

[2016-05-19 02:39] smarterclayton commented on #25835
I can't think of a reason to use `*[]Foo` over `[]Foo` without omitempty.  We shouldn't need it.

[2016-05-19 02:52] smarterclayton commented on #25835
I present as evidence:

on Sep 29, 2011
<https://github.com/golang/go/issues/2278#issuecomment-66058926>

On Wed, May 18, 2016 at 10:11 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-05-19 03:01] bprashanth commented on #1615
In the context of https://github.com/kubernetes/kubernetes/issues/24957. So i can signal a database to reload on cluster membership change, from a sidecar. Wrapping the databse in a custom pid1 is gross, and there's no way to say: just exec this command in the namespace of another container today.

I don't need it for 1.3, docker 1.12 isn't even out right :)

[2016-05-19 03:13] Wenfeng-GAO commented on #25729
Thanks, my case has been solved by add a line `--exec-root=/var/run/docker-bootstrap` in the bootstrap_daemon part in the master.sh script. Some thing like this:

    ${docker_daemon} \
        -H unix:///var/run/docker-bootstrap.sock \
        -p /var/run/docker-bootstrap.pid \
        --iptables=false \
        --ip-masq=false \
        --bridge=none \
	--exec-root=/var/run/docker-bootstrap \

[2016-05-19 03:41] thockin commented on #25835
We discussed on slack.

Some notes.  If we leave out 'omitempty' on the slice, it mostly does the right thing.  It marshals as "null" but I can live with that.  HOWEVER, we're using 'omitempty' to represent 'optional', so any such field now becomes documented (and code-generated) as required.  BAD.  We need a different tag for swagger to use.  We should probably do that ANYWAY.

And now on to prot

[2016-05-19 03:49] resouer commented on #17196
@davidopp This is now implemented as a priority, do you think we should add a image locality predicate, like docker swarm did?

[2016-05-19 03:49] wstrange commented on #25385
For me this is all about saving keystrokes. I can already kubectl exec with the right arguments to get a shell.

I'd like to see it be super easy  / interactive. I thought of printing a list of pods/containers with a number to choose from- but a grep like pattern with nearest match might also work

[2016-05-19 03:51] smarterclayton commented on #25835
As determined by testing, it's marshaling with omitempty where Go turns an
empty array into a nil (which then comes back as nil).  So JSON with
omitempty has no way to determine set vs. unset.

On Wed, May 18, 2016 at 10:52 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-05-19 03:51] kevin-wangzefeng commented on #24322
/cc @alfred-huangjian

[2016-05-19 03:55] thockin commented on #25835
I now feel like the lesser of 2 evils is to remove 'omitempty' for the case at hand, and deal with the false requiredness, and know that protobuf simply will not work for this type, until we have some fix.

[2016-05-19 03:56] smarterclayton commented on #25835
I'm going to look at an intermediate type representation for slices, since
in proto3 we'd need one anyway to do a union for nullable.

On Wed, May 18, 2016 at 11:51 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-05-19 04:42] thockin commented on #25850
https://github.com/kubernetes/kubernetes/tree/master/build/pause

On Wed, May 18, 2016 at 5:55 PM, leewill1120 <notifications@github.com>
wrote:

[2016-05-19 05:02] apelisse commented on #24031
Actually, curl never times-out and dies after 5 minutes 35. The line you show has been modified since the pull-request was modified.

I'm not sure why the download failed, but I think [8e8c55a](https://github.com/kubernetes/kubernetes/commit/8e8c55a323344c62b5a849f809c3d7f019c4363a) is a valid workaround.

[2016-05-19 06:01] lordkada commented on #17275
Unfortunately I had to give up due to time constraints :-( But still interested to see the end of this story.

[2016-05-19 06:12] zefciu commented on #19163
Will look at it.

[2016-05-19 06:38] keontang opened #25858 "Data too large, data for [kubernetes.container_name] would be larger than limit of [633785548/604.4mb]]"
When I do aggs on container_name, I will get the following errors:

[code]

Then I get the FieldData from indices stats:

[code]

Actually, **evictions is 0**.
And then, I get some useful informations from elasticsearch home page:

[code]

The indices.fielddata.cache.size controls how much heap space is allocated to fielddata. As you are issuing queries, aggregations on analyzed strings will load

[2016-05-19 06:45] AaronTao1990 commented on #22911
got the same problem on centos `7.2`

	W0519 06:43:26.715097   49123 kubelet.go:1995] Orphaned volume "0640a1c8-1d8a-11e6-a9b1-1402ec3ed5c0/default-token-gofxs" found, tearing down volume
	W0519 06:43:26.720166   49123 mount.go:99] could not determine device for path: "/var/lib/kubelet/pods/0640a1c8-1d8a-11e6-a9b1-1402ec3ed5c0/volumes/kubernetes.io~secret/default-token-gofxs"
	E0519 06:43:26.73884

[2016-05-19 06:45] DreamLog commented on #25799
I have resolved it by modifying the service YAML file. all you  used port should be seted in the {spec.ports}, like my issue, the 18010 port must be opened.

[code]

[2016-05-19 07:17] ericchiang opened #25860 "Can't generate client and protobuf code simultaneously for API groups with dots in their name"
In #25634 I'm trying to add an API group called "rbac.authorization.k8s.io" which currently lives in the directory "pkg/apis/rbac"

Unfortunately, client generation with go2idl creates the file pkg/client/clientset_generated/internalclientset/typed/rbac/unversioned/rbac_client.go which has a snippet that looks like this:

[code]

The string "rbac" is wrong since the group's name is "rbac.authoriza

[2016-05-19 07:41] zefciu commented on #19163
While looking I see, that this flag is simply non-functional. For example in kubectl convert it should control the output, but I get v1 whatever I put there (valid or invalid versions).

[2016-05-19 07:42] openxxs opened #25861 "DNS options ndots cause wrong result"
Kubernetes v1.1.7+e4e6878
Kubelet is started with`--cluster-dns=172.16.40.1 --cluster-domain=xxx.com`;
And SkyDNS RC is created with `--domain=xxx.com` and `--nameservers=10.16.72.188:53`, Kube2sky with `--domain=xxx.com`.
Then I run a docker container, the /etc/resolv.conf in container likes:

In this container, I run `nslookup zk.inner.xxx.cn`, **sometimes** it returns wrong result

which causes

[2016-05-19 07:54] jsafrane commented on #23330
@stevesloka, there is PR #25413 to design how various storage properties incl. availability zone should be handled in PersistentVolumes and the same approach will then be reused in dynamic provisioning.

[2016-05-19 08:24] ApsOps commented on #13892
I'm trying to run a socket.io application in k8s and facing this issue as well. I set `sessionAffinity: ClientIP` but it seems it won't work since ELB doesn't send client IPs by default. I tried enabling proxy protocol in ELB but then it just stops serving the requests.

I think it would be nice to have support for proxy protocol since this would be the case in most (all?) the websocket applicatio

[2016-05-19 08:38] soltysh commented on #22517
@dims the reason for that is that jobs co-exists in both `extensions` and `batch` groups. We left `extensions` for backwards compatibility. If you're able to find some time and fix this, PRs are welcome :)

[2016-05-19 08:58] zefciu commented on #19163
@deads2k: In ``pkg/kubects/cmd/get_test.go`` you put the following:

So from your comment it seems that the behaviour reported here (no validation, but simple fallback to default version) is somehow desired. Could you explain?

[2016-05-19 09:07] codevulture opened #25862 "Add support for Keystone Trust (v3)"
Currently no option is available to add Keystone Trust in Kubernetes.

An initial patch to add keystone trust is available on https://github.com/rackspace/gophercloud/pull/580
Diff:
https://github.com/codevulture/gophercloud/commit/149babe7190ed46e8c5c742ba66d896a8811b4c2

[2016-05-19 09:25] sdminonne commented on #25067
@davidopp what is described here it makes perfect sense to me, and basically, I understand some motivations reported by @erictune [here](https://github.com/kubernetes/kubernetes/pull/24781#issuecomment-215914822)
Now: I'm OK to help to write an `addon` for a minimal workflow controller. It something similar it was described in the [proposal](https://github.com/kubernetes/kubernetes/blob/master/doc

[2016-05-19 09:31] harryge00 commented on #12526
What about add "timeafter" in poststart? Users can manually set the order of containers in a pod.

[2016-05-19 09:34] nebril commented on #25417
Issue was in the json-patch library, but it's already fix in master. I will submit commit with newer version proposed.

[2016-05-19 09:50] dshulyak commented on #24858
@deads2k Hi, i see that you are the author of the following comment. I think that currently every valid change cause is discarded because of version conflict. Maybe you have some information why it happens?

[code]

[2016-05-19 10:06] #15632 closed

[2016-05-19 10:23] bharrisau commented on #24858
`apply` command instead generates a patch to update `kubernetes.io/change-cause` then applies that.

https://github.com/kubernetes/kubernetes/blob/c6e995a824094a96f7d43a25e897283f83a12997/pkg/kubectl/cmd/apply.go#L191

[2016-05-19 10:37] dshulyak commented on #24858
It was the same for patch, but for some reason was changed.

https://github.com/kubernetes/kubernetes/commit/11da9a7638e393f84eb34fcf54c1962b3cdc115c

[2016-05-19 10:54] cmpmohan commented on #19765
I'm facing same issue.. where we need install socat..? in kubernetes nodes?

[2016-05-19 11:32] deads2k commented on #19163
It's an inherited comment that I updated, but didn't create. @caesarxuchao I believe.

[2016-05-19 11:46] deads2k commented on #24858
The intent was two fold.  First, prevent the change-cause from ever failing patch the CLI command.  change-cause isn't authoritative and the patch took hold, so a non-zero return code is inappropriate.

Second, if the resource version change post-patch, before the update, the change-cause is unknown, something else touched it after the fact.  A command that issues a `patch` instead of an `update`

[2016-05-19 11:47] kargakis opened #25867 "Refactor the deployment controller"
All the code in the controller currently is in one file (a huge one and will get even huger by time). We should break it down into separate files. Something like:

rolling.go (has all functions/methods related to rolling deployments)
recreate.go (has all functions/methods related to recreate deployments)
rollback.go (has all functions/method related to rolling back)
scale.go (has all functions/met

[2016-05-19 11:47] lukaszo commented on #25773
Looks simply enough for the k8s beginner. If you don't mind I can work on it

[2016-05-19 12:09] salv-orlando opened #25868 "Exposing more "Network Status" for pods"
The Pod status currently includes limited status information as far as networking info are concerned - namely hostIP and podIP.

Kubenet, or any other CNI plugin, can configure more information (such as gateway, host routes, or dns-nameservers [1]); Another potentially useful piece of information is the MAC address assigned to the Pod interface - even if not part of the return value in the CNI spe

[2016-05-19 12:25] wojtek-t commented on #25762
Yeah - adding a "by-default" non-active limit sgtm.

[2016-05-19 12:36] Hui-Zhi commented on #25557
There have 2 parts about NVIDIA GPU we need to consider,

1. NVML libs, this is for NVIDIA GPU management.
2. CUDA libs, this is for the application running inside container.

[2016-05-19 12:37] Hui-Zhi commented on #25557
@erictune Do you have any comments about this?

[2016-05-19 12:41] wojtek-t opened #25870 "Error serializing/deserializing protobuf data?"
I've seen the following error in load test with protobufs:

    go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/load.go:182 creating rc load-small-rc-1532 Expected error: <*errors.errorString | 0xc821b8ba90>: { s: "Error creating replication controller: the object provided is unrecognized (must be of type ReplicationController): empty data", } Error creating replicati

[2016-05-19 12:46] gmarek commented on #20445
We don't think it's needed for 2k nodes. Let's do it for 1.4.

[2016-05-19 12:46] luguangzhen commented on #25725
What I have done before is create pods by create a replicationController, then rolling-update pods by create a deployment, however it does not work.

This issue is sloved by creating a deployment, it create rs and pod automatically, then partially update this deployment with changing the image. The api of create deployment is `POST /apis/extensions/v1beta1/namespaces/{namespace}/deployments`, whil

[2016-05-19 12:47] #25725 closed

[2016-05-19 12:51] nebril commented on #25355
I will try to provide a fix for that. I will try to add the data that's available in `describe` into `get`, as `describe` seems to be purely CLI command.

[2016-05-19 12:55] #25782 closed

[2016-05-19 13:00] smarterclayton commented on #25870
This *could* be the retry bug I fixed in #24768 - it looks exactly the same.

[2016-05-19 13:01] smarterclayton commented on #25870
Retries of PUT/POST to the server would fail, and we trigger retries
above the rate limit in some cases.

On Thu, May 19, 2016 at 9:00 AM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-05-19 13:06] wojtek-t commented on #25870
Yeah - that sounds very probable. Especially because it was in load test on large cluster, where the load was significant.

[2016-05-19 13:08] smarterclayton commented on #25870
I'll split out the parts of that that aren't correlated with the watch
timeout issue.

On Thu, May 19, 2016 at 9:06 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-05-19 13:13] #22994 closed

[2016-05-19 13:15] wojtek-t commented on #25870
Thanks @smarterclayton !
I agree that it may be exactly this issue. If so, should be fixed by #25871

[2016-05-19 13:17] gmarek opened #25872 "e2e flake: 502 Bad Gateway in kubemark startup"
[code]

This happened in Makefile which reads:
[code]

I guess it's some kind of infrastructure problem. @fejta please reassign.

https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/3297/build-log.txt

@kubernetes/sig-testing

[2016-05-19 13:22] pires commented on #23291
Yes! And @sputnik13 proposal nails it.

[2016-05-19 13:28] wojtek-t commented on #23514
I faced this again:

    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework/framework.go:109 May 18 10:49:28.286: Couldn't delete ns "e2e-tests-density-c37gb": namespace e2e-tests-density-c37gb was not deleted within limit: timed out waiting for the condition, pods remaining: []

http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-kubemark-gce-

[2016-05-19 13:40] fgrzadkowski commented on #25663
@kevin-wangzefeng Pod will be scheduled again, but after a backoff. So this will work. The problem that we have now is that with each status update we ignore back-off mechanism and retry scheduling.

[2016-05-19 13:46] gmarek commented on #25827
Not only Node update. There was a short period in which API server was slow. By luck there were a couple of Node updates in that time, and given that there's not too many Node updates during the test it caused the failure. Interesting part of API server logs:
[code]

[2016-05-19 13:50] rrati opened #25875 "Add tests for pods-per-node on kubelet"
Add automated tests for the pods-per-node option on the kubelet.  Best place is probably to add to the e2e_node suite.

[2016-05-19 13:52] gmarek commented on #25827
It looks like a number of etcd writes were happening in the same time and it just got slow. We might try to prevent such things, but I think we should wait for etcd3 before doing low-level optimizations. Sadly this means that this flake might reappear before that...

cc @wojtek-t @xiang90 @hongchaodeng

[2016-05-19 13:55] seelam commented on #25730
yes, we can get the hardware access, if we get the specs.

[2016-05-19 13:58] gmarek commented on #25833
This caused a number of flakes today.

[2016-05-19 14:08] wojtek-t commented on #23514
Actually the failure above was a different issue - it was because apiserver crashed.

[2016-05-19 14:09] gmarek opened #25878 "e2e flake: kube-proxy liveness probe returns 503"
In 1000-Node cluster run a Kubelet failed to download a kube-dns image at first, but after retry it succeeded. Sadly started container wasn't healthy:
[code]

This caused test to fail, as we had 3 unready system pods: `kube-dns`, `kibana` (depends on `kube-dns`) and ingress (I guess it also depends on `kube-dns`)

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-

[2016-05-19 14:11] timothysc commented on #23394
closed via: https://github.com/kubernetes/kubernetes/pull/24142

[2016-05-19 14:11] #23394 closed

[2016-05-19 14:12] gmarek commented on #21484
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/7303

[2016-05-19 14:13] smarterclayton commented on #25835
Proposed https://github.com/gogo/protobuf/issues/181 and will follow up.

On Wed, May 18, 2016 at 11:56 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-05-19 14:15] gmarek opened #25879 "e2e flake: Pods should invoke init containers on a RestartAlways pod"
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/7294

[code]

@dchen1107 - is this a Node bug?
cc @lavalamp as next oncall to follow up on this.

[2016-05-19 14:17] gmarek commented on #25834
There's different failure of this test in https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/7289
[code]

cc @janetkuo

[2016-05-19 14:22] derekwaynecarr commented on #25773
@vishh - I would prefer we keep showing all node conditions, not just those that are true.  It's useful to see information about the LastTransitionTime even when a condition is currently displaying false.  What is the concern in having the information displayed?

[2016-05-19 14:22] wojtek-t opened #25880 "Encoding is being invoked on the same annotation map for pods across two different encodes"
I've just seen the following crash of apiserver

    fatal error: I0518 16:49:34.663726    3519 handlers.go:161] PUT /api/v1/namespaces/e2e-tests-density-c37gb/pods/density-latency-pod-1514-xph9f/status: (175.155856ms) 200 [[kubemar        k/v1.3.0 (linux/amd64) kubernetes/952e830] 104.154.120.247:40256]
    concurrent map writes

From the go-routines logs it seems that the victim ones are:

    5

[2016-05-19 14:23] wojtek-t commented on #25880
Logs coming from this run:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1161/?project=kubernetes-jenkins

[2016-05-19 14:24] philips commented on #260
@ncdc Is everything done for this in v1.3? It is unclear as the proposal is unmerged and there haven't been other PRs referencing this for awhile.

[2016-05-19 14:25] lukaszo commented on #25773
`copy paste from PR` I may add a flag to kubectl to show all conditions. Will it be enough for you?

[2016-05-19 14:26] smarterclayton commented on #25880
So this may mean that someone is mutating an object they are sending to serialization.  Which is a terrifying issue.

[2016-05-19 14:26] smarterclayton commented on #25880
I.e. an object is being pulled out of a cache and reused.  It is *good* that this was caught.

[2016-05-19 14:27] smarterclayton commented on #25880
An object being mutated within the `Encode` call has undefined behavior, which is a p0.

[2016-05-19 14:29] chrislovecnm commented on #17275
@scubadrew I have a pull request pending, after that please!!

[2016-05-19 14:29] smarterclayton commented on #25880
Ok, so the same object is being encoded at the same time, and annotations is being mutated by the init containers (I think).

[2016-05-19 14:29] smarterclayton commented on #25880
So this isn't a copy, it's a mutation.

[2016-05-19 14:30] chrislovecnm commented on #17275
@lordkada please close the issue then

[2016-05-19 14:31] xidui opened #25882 "Does the kubernetes service support add or remove selector when it is in service?"

[2016-05-19 14:37] smarterclayton commented on #25880
Hrm... trying to think of why two threads would have the same annotation map in the current code.  The current code should be creating a copy of the underlying map.  And then changing the copy.  Which means the current code is *not* copying the map.

[2016-05-19 14:43] smarterclayton commented on #25880
Um... were we using ugorji for serializing JSON before?  Not related, but surprising.

[2016-05-19 14:51] ncdc commented on #260
@bprashanth ^

[2016-05-19 14:52] ping035627 opened #25883 "Jenkins unit/integration — No test results found."
FROM https://github.com/kubernetes/kubernetes/pull/25606

Verifying ./hack/../hack/verify-flags-underscore.py SUCCESS ./hack/../hack/verify-flags-underscore.py 58s Build step 'Execute shell' marked build as failure Recording test results ERROR: Step 鈥楶ublish JUnit test result report鈥� failed: No test report files were found. Configuration error? [PostBuildScript] - Execution post build scripts. [k

[2016-05-19 14:55] smarterclayton commented on #260
We are landing e2es and continuing to work on examples.  It is in alpha
now, but the proposal is going to take the first round of alpha feedback
before merging.

On May 19, 2016, at 10:25 AM, Brandon Philips <notifications@github.com>
wrote:

@ncdc <https://github.com/ncdc> Is everything done for this in v1.3? It is
unclear as the proposal is unmerged and there haven't been other PRs
referencing t

[2016-05-19 15:27] idvoretskyi commented on #22986
@vefimova just let us know here in the thread. Usually, that's enough.

If someone would like to work on this issue as well, I hope, they will reach you in the thread.

[2016-05-19 15:31] pwittrock commented on #25246
I bet this is caused by containervm starting its own kubelet.  Will fix by updating the containernm image.

[2016-05-19 15:31] smarterclayton commented on #25844
Saw this flake again.  How do we verify that container status is not lost between syn pods?

[2016-05-19 15:32] smarterclayton commented on #25844
... between calls to syncPods

[2016-05-19 15:33] pwittrock commented on #23916
Duplicate of #25246.  I think I know what is causing this and am working on a fix.

[2016-05-19 15:36] wojtek-t commented on #25880
IIRC we were using it only for deserialization.

[2016-05-19 15:43] timothysc commented on #16831
/cc @rrati fyi to keep on the radar.

[2016-05-19 15:44] wojtek-t commented on #25563
OK - those fixes seem to be enough for 1.3. So I'm going to have a more proper fix outside 1.3

[2016-05-19 15:45] derekwaynecarr commented on #25773
We did a similar flag for events (i.e. --show-events) but that at least was common to all things described.  To be honest, I am not sure the list of conditions are really the problem if we are worried about verbosity of output since they do a good job giving an overview on health of the node.  The pod list is way more exhaustive...

[2016-05-19 16:11] mqliang commented on #25563
After more thinking, the priority mechanism have starvation problem: a event with poor priority may will be never processed.

relist/resync shouldn't be needed at all in a healthy system. But I think we may need it since it is a protection against disappearing objects and watch notification(may should not happen at all)

If we finally decide compeletely get rid of relist/resync, then the problem d

[2016-05-19 16:15] Random-Liu commented on #16831
@MHBauer We are redefining the container runtime interface now https://github.com/kubernetes/kubernetes/issues/22964.
At least now, event is not in our short plan, because not all runtimes support event now, e.g. rkt. And according to our measurement, event stream does improve the performance, but not much.

/cc @yujuhong

[2016-05-19 16:21] pmorie commented on #21244
Closing out per #25755

[2016-05-19 16:21] #21244 closed

[2016-05-19 16:24] ilackarms opened #25885 "RFC: Adding a Unikernel Runtime Implementation"
I have a tool for compiling & running Unikernels in a similar fashion to the way Docker builds and runs containers. I would like to demonstrate as a proof of concept Kubernetes running applications as unikernels at scale using a new unikernel runtime based on https://github.com/emc-advanced-dev/unik

My thoughts so far are to implement a new runtime for the kubelet that would sit alongside the `do

[2016-05-19 16:26] nikhiljindal commented on #25885
cc @dchen1107 @yujuhong @kubernetes/sig-node

[2016-05-19 16:29] mqliang commented on #25563
One problem of multi-workqueue is: there is contention if a rc is both in the workqueue for Add/Update/Delete events and the workqueue for Sync events.

We should be careful about the duplication removal.

[2016-05-19 16:29] bprashanth commented on #25878
The probe failed because
[code]

Which failed because
[code]

kube-dns comes up and synchronously waits for the kubernetes service, which was not found apparently. So this seems like apiserver/master problem? The DNS pod just loops and lists, so no watch even: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/kube2sky/kube2sky.go#L625

[2016-05-19 16:38] smarterclayton commented on #25880
I think this means that something in a code path is copying the same annotation map into multiple pods somehow.  Deep copy and conversion are (or should) both be copying them.  But, by the time encode is invoked, the two have the same annotation map.

[2016-05-19 16:41] smarterclayton opened #25886 "PPC builds are disabled due to a linking error"
#25243 disabled PPC builds due to the following error:

[code]

Additional comments here https://github.com/kubernetes/kubernetes/pull/25243#issuecomment-220357307

[2016-05-19 16:43] krousey opened #25887 ""Kubectl client [k8s.io] Simple pod [It] should support exec through an HTTP proxy" proxy log check is wrong"
At some point, kubectl starting doing multiple requests on calls to `kubectl exec`. One of these is not a SPDY connection, so at least one `CONNECT` will show up in the proxy logs even if proxy support is commented out in the SPDY round tripper. There should be a more robust method to verify that the SPDY round tripper is indeed proxying.

[2016-05-19 16:52] jberkus commented on #260
Where can I find docs for this?  I'd like to test it out for a database-failover use case.

[2016-05-19 16:52] smarterclayton commented on #25879
This is a node bug due to init containers

[2016-05-19 16:52] smarterclayton commented on #25879
@yujuhong I may need help debugging - I see:

[code]

[2016-05-19 16:52] luxas commented on #25886
cc @luxas @ixdy @david-mcmahon @bpradipt @seelam @pensu

[2016-05-19 16:53] smarterclayton commented on #25879
So I think the problem is in the error case - we're not properly recording that the start failed, and the next time we come in we somehow think the first container succeeded.  I'll add some debugging to see if we can't recreate it.

[2016-05-19 16:57] relaxdiego commented on #25697
Adding a diagram of my understanding of how PVs and PVCs should be used. From what I understand from the docs, the PVs are supposed to abstract out the details of the underlying storage backend which includes the credentials.

![screen shot 2016-05-19 at 9 52 34 am](https://cloud.githubusercontent.com/assets/110545/15402203/d86b4a7e-1da7-11e6-8378-c51bb980be1f.png)

[2016-05-19 16:59] thockin commented on #25835
In discussing with @lavalamp, another idea:. What if we simply said "don't
do that" and demand that we use a real struct to wrap the nil-matters
slice?  It would make the go, JSON, and protobuf APIs more consistent (by
making them all uglier) and would not depend on "magic".

I don't know how many other places in our API make this distinction (or
think they do, heh), but maybe we caught this early

[2016-05-19 17:07] yujuhong commented on #25844
The second sync clearly saw the init1 container, and decided to launch init2. See "InitContainersToKeep" in the message below.
[code]

[2016-05-19 17:10] jayunit100 opened #25889 "Add cassandra image to test/images , fix e2e test"
Problem

Cassnandra tests recently reported as broken, should use petsets, should have a better example, and should use the latest image from chriss which has a more production-sane set of defaults.

Solution

Have @chrislovecnm iterate a couple of PRs in so that we can move towards a productionable, fully working cassandra e2e  again.

[2016-05-19 17:12] jayunit100 commented on #25889
needs #25583 to start.

[2016-05-19 17:15] smarterclayton commented on #25835
OpenShift has a few.  Not many though.  Will "inlining" work on it in JSON?

I'm not opposed to it being obvious.  I think it may be the more practical
solution in the short term.

On Thu, May 19, 2016 at 1:00 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-05-19 17:15] smarterclayton commented on #25835
It will make a few serialization places slower.

On Thu, May 19, 2016 at 1:15 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-05-19 17:17] chrislovecnm commented on #25889
@jayunit100 might be a good idea to keep the image needs to be in one.  Cause we would have a mess if we have it in two ... We can move it out of examples.

cc @bgrant0607 @kubernetes/examples

The need needs to be improved:

1. create petset
2. exec nodetool status or cqlsh against the cluster

Parsing logs just AINT right 😄

[2016-05-19 17:18] lavalamp opened #25890 "Flake: garbage_collector_test.go:211: timed out waiting for the condition"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-test-go/12285/

@caesarxuchao maybe we can now reduce the amount of work it does a bit? Maybe you can look at the logs to double check that it's not a deadlock or anything first.

[2016-05-19 17:21] chrislovecnm commented on #20961
@bgrant0607 can we close this ... or at least rename this??  Cause it aint really broken 😄

[2016-05-19 17:22] chrislovecnm commented on #25889
Also this is related: https://github.com/kubernetes/kubernetes/issues/20999

[2016-05-19 17:25] smarterclayton commented on #25844
containers to keep can include failed containers.

On Thu, May 19, 2016 at 1:08 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-05-19 17:28] ixdy commented on #25730
I'm not sure if I'm the best person to answer that question.

For the majority of our CI testing on GCE, we use 3-node clusters:
* master: n1-standard-1 (1 vCPU, 3.75 GB ram), 20 GB SSD PD
* nodes (3): n1-standard-2 (2 vCPU, 7.5 GB ram), 100 GB non-SSD PD

For our larger-cluster tests, we use a larger master node. "Real" clusters have different sizes, too.

Our beefiest machines (with 32 vCPU) are

[2016-05-19 17:29] ixdy commented on #25730
@kubernetes/sig-testing have any opinions about usual hardware specs you use for clusters in CI testing?

[2016-05-19 17:30] bprashanth commented on #260
Ah ha, just what we need a postgres expert :)

see https://github.com/kubernetes/contrib/pull/921 for examples, I can answer any questions about prototying [db of choice] as petset. We have a bunch of sketches under the "apps/stateful" label (eg: https://github.com/kubernetes/kubernetes/issues/23790, @philips an etcd example would be great). I haven't written docs yet, will do so toward the last f

[2016-05-19 17:30] ixdy commented on #25730
I'll also note that we have many CI clusters running simultaneously, but that level of parallelism/scale isn't strictly necessary. We can scale testing to as little or as much hardware as we have. Just running the conformance subset of tests somewhere semi-regularly would be a great start.

[2016-05-19 17:31] spiffxp commented on #19720
What remains to be done here?  Is 1.10 going to be the recommendation for 1.3?

[2016-05-19 17:31] spiffxp commented on #23397
What remains to be done here?  Is 1.11 going to be the recommendation for 1.3?

[2016-05-19 17:34] janetkuo opened #25891 "unit test flake: TestOfferStorage"
Hit this in #25509

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25509/kubernetes-pull-test-unit-integration/26630/

[Log](https://00e9e64bac56e6ab763091cf4c6a56daf7ac2fa782f3cf747e-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F25509%2Fkubernetes-pull-test-unit-integration%2F26630%2Fartifacts%2Fjunit_v1,extens

[2016-05-19 17:39] luxas commented on #25730
A nightly build shouldn't be so heavyweight imo

I haven't run `e2e` tests yet on the Raspberry Pi (issue #22876) , but I think it'll handle it (especially if it's 1-5 times a day)

For `arm64` @tianon recommends this one: https://github.com/docker/docker/pull/19013#issuecomment-171182828 :smile:

Of course, it's possible to run both `arm` and `arm64` binaries on an `arm64` board.
WDYT about arm C

[2016-05-19 17:39] davidewatson opened #25892 "density tests fail with "System error: The minimum allowed cpu-shares is 1024""
I have a 10-node kubernetes 1.2 cluster running on AWS m3.medium instances with CoreOS 1010.1.0. When I run the kubernetes density e2e tests, containers fail to start with the error "System error: The minimum allowed cpu-shares is 1024". I have not seen this error when using AWS m3.large instances. According to the docker team, this issue is fixed in docker 1.11. Therefore we are asking CoreOS to

[2016-05-19 17:40] bprashanth commented on #260
I'll add that currently it's easier to deliver "on-start" notification with a list of peers, through init containers. It's clear that we also require "on-change" notifications. Currently to notice cluster membership changes you need to use a custom pid1. Shard pid namespaces might make this easier, since you can then use a sidecar, this is also something that needs to just work.

[2016-05-19 17:42] timothysc commented on #25892
/cc @kubernetes/sig-scalability @rrati

[2016-05-19 17:43] Random-Liu commented on #19720
@spiffxp We are focusing on validating 1.11 now, but haven't finally made decision yet.

/cc @dchen1107 should have stronger opinion.

[2016-05-19 17:44] ixdy commented on #25730
As noted in https://github.com/kubernetes/kubernetes/issues/25730#issuecomment-219794140, if anyone wants to run CI on these platforms, I'm happy to help get results federated in the test dashboards.

[2016-05-19 17:46] jberkus commented on #260
I have a watchdog, it's the service failover which is more complicated than I'd like.  Will test, thanks!

[2016-05-19 17:47] jberkus commented on #260
I also need to support etcd, so there may be lots of testing in my future.

[2016-05-19 17:47] ixdy commented on #25730
(I know that "running CI" is not trivial right now. I'm hoping to make it simpler soon. @euank might be able to comment on the experience setting it up for CoreOS.)

[2016-05-19 17:49] vishh commented on #25892
Why is the minimum `1024`? Is this systemd imposing this restriction?

[2016-05-19 17:50] timstclair commented on #23397
We're still doing more testing. https://github.com/kubernetes/kubernetes/issues/25844 is the current blocker for switching our master branch to docker v1.11 for soak testing.

[2016-05-19 17:51] luxas commented on #25730
So should the CI be run by community members, CNCF or Google?

[2016-05-19 17:56] dchen1107 opened #25893 "Determine docker version(s) for Kubernetes 1.3 release"
Each docker release has some known issues running in Kubernetes as a runtime. Node team spent a lot of time on validating each release, and decided which release(s) as validated / recommended one(s), and documented the known issues for each, etc. For kubernetes 1.3, we validated both 1.10 (https://github.com/kubernetes/kubernetes/issues/19720) and 1.11 (https://github.com/kubernetes/kubernetes/iss

[2016-05-19 18:01] girishkalele commented on #25837
@lavalamp

Thanks for the explanation - I tried {} and it showed me no difference, but I had only one pod running.

A question for my understanding, with '{}' would it even include pods that don't expose the protocol/port that the service services ?

[2016-05-19 18:03] lavalamp commented on #24753
This has been running overnight now, but unfortunately, all of the failures have been of the sort that prevents the cluster from starting, or is in some step that doesn't make it to a JUnit file. So it hasn't done anything yet.

[2016-05-19 18:05] vishh commented on #25773
@derekwaynecarr Acknowledged. The goal was to define a policy for kubelet and make kubectl user-friendly. When I view the node conditions via kubectl, the fact that I have to look at their Status is not obvious from kubectl. As a user why would I care about non-critical conditions? If necessary, we can add an optional flag to dump `false` conditions as well in kubectl.

IIUC, the summary is as fol

[2016-05-19 18:09] lavalamp commented on #24753
This would save some merge queue time: https://github.com/kubernetes/contrib/issues/1016

[2016-05-19 18:15] chrislovecnm commented on #25889
@kubernetes/examples any recommendations on steps 2 &3 that I listed above?  Would be a good pattern to have for all of our examples.  We would need the base docker template (debian image) on gcr.io.  Docker hub at times SUCKS.

[2016-05-19 18:27] freehan commented on #25868
NetworkPlugins have an interface to retrieve PodNetworkStatus. Currently, it is primarily for pod IP.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/plugins.go#L77

I think this could be the right place to add more detail.

[2016-05-19 18:28] brendandburns commented on #24963
@nowprovision can you send that as a PR?

[2016-05-19 18:28] davidewatson commented on #25892
Docker 1.10 changed the default cgroup driver (which we are using) to cgroupfs instead of systemd, so it is not a systemd bug. Also it doesn't not appear to always be enforced because some of the pods are scheduled with cpu.shares == 10. This is a link to the docker issue which fixes the problem in 1.11: https://github.com/opencontainers/runc/pull/491

[2016-05-19 18:30] lavalamp commented on #25828
@thockin

[2016-05-19 18:33] lavalamp commented on #25835
I suggested making a go alias instead of a struct.

I think making separate structs for optional sections of the api might be a net improvement, though.

[2016-05-19 18:34] lavalamp commented on #25836
Hm, I guess I'm not certain that the "select everything" behavior functions. No one in their right mind would want to do that though.

[2016-05-19 18:36] jayunit100 commented on #20999
namespace is mangled, i know how to fix this.  will push a fix to help unbreak this stuff @bgrant0607 standby

[2016-05-19 18:38] ixdy commented on #25730
The Google test-infra team does not have the resources to maintain much beyond the GCE/GKE CI builds at the moment. ARM/Power will probably have to be owned by the community for the time being.

[2016-05-19 18:38] lavalamp commented on #25825
Can't figure out where this is even used. Can we just delete it?

[2016-05-19 18:39] lavalamp commented on #25825
Marking cluster team since it looks like @saad-ali added this.

[2016-05-19 18:41] lavalamp commented on #25854
@david-mcmahon

[2016-05-19 18:42] gtank commented on #25860
cc @caesarxuchao @smarterclayton for client-gen and protobuf namer, respectively

[2016-05-19 18:43] lavalamp commented on #25855
@euank thanks for report, next time can you include the test name so it's easier to categorize? thanks.

[2016-05-19 18:48] lavalamp commented on #25862
I don't understand what you're asking for, can you clarify?

[2016-05-19 18:50] lavalamp commented on #25880
agree w/ P0 marking & diagnosis so far

[2016-05-19 18:50] yujuhong commented on #25844
Discussed on slack. In summary, the problem has to do with how we convert the kubecontainer.PodStatus to the api.PodStatus.

If a container is terminated, the function `convertToAPIContainerStatuses` makes the decisions:
 1. If the pod restart policy is "Always", and there is a "failure reason" recorded for the given container, this means the pod worker tried to (re)start the container but failed.

[2016-05-19 18:51] lavalamp commented on #25882
(personal note: yes, but please don't file issues for questions like this.)

Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently

[2016-05-19 18:51] #25882 closed

[2016-05-19 18:53] lavalamp commented on #25883
[code]

This is not a flake, it doesn't get to the junit files if you don't pass the linters. Sorry that the output isn't clear right now :(

[2016-05-19 18:53] #25883 closed

[2016-05-19 18:55] lavalamp commented on #25855
Wait, nvm, the name is in there I just didn't look carefully enough, sorry.

[2016-05-19 18:56] lavalamp commented on #25855
guessing at cluster team, maybe network problem? Some connections to apiserver worked...

[2016-05-19 19:02] smarterclayton commented on #25835
The alias won't help with gogoproto because of the way it generates the
struct on the output.

On Thu, May 19, 2016 at 2:36 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-05-19 19:02] vishh commented on #25885
@ilackarms We are working on a simpler interface for introducing new runtimes. Until that happens, we will not be able to take in any new runtimes in upstream. You can track progress on the new runtime interface in #22964

[2016-05-19 19:03] smarterclayton commented on #25835
I'm starting to feel the separate structs might be inevitable.  I'll pull
together a quick example support and then respond back.

On Thu, May 19, 2016 at 3:02 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-05-19 19:03] freehan opened #25897 "integration flake: TestCascadingDeletion"
[code]

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25604/kubernetes-pull-test-unit-integration/26726/artifacts/

[2016-05-19 19:04] yujuhong commented on #25879
Let's discuss on #25844 instead.

[2016-05-19 19:04] #25879 closed

[2016-05-19 19:15] bprashanth commented on #25855
This is jenkins builder to apiserver right? so my best guess would be gce network flake or apiserver flake

[2016-05-19 19:25] bgrant0607 commented on #24946
@gmarek @davidopp I believe adoption/orphaning isn't going to be done in 1.3, so removing this from the milestone.

Ref #2210 #24152 #24433

[2016-05-19 19:34] bgrant0607 commented on #20304
Done

[2016-05-19 19:34] #20304 closed

[2016-05-19 19:34] ilackarms commented on #25885
Maybe this is something that belongs in contrib. Is there any interest in this from the k8s side?

[2016-05-19 19:36] lavalamp commented on #25791
Yes, verify-gofmt.sh must succeed.

[2016-05-19 19:37] adleong opened #25900 "Publishing newer kubectl container images"
kubectl container images should be published with each release.

[2016-05-19 19:38] janetkuo commented on #25897
cc @caesarxuchao

[2016-05-19 19:40] bgrant0607 commented on #23216
HPA types moved by #25279

[2016-05-19 19:40] #23216 closed

[2016-05-19 19:40] yujuhong commented on #25885
@ilackarms, since the runtime interface is going through significant changes, it'd be best for you to wait until the interface is semi-finalized. Otherwise, you may have to rewrite the shim entirely soon. We also believe the new container-level imperative interface will make integration easier for most of the container runtime. Feel free to participate in the discussions. :-)

[2016-05-19 19:47] yujuhong commented on #22964
The new proposal PR: #25899

[2016-05-19 19:49] lavalamp commented on #25900
We should cut them with a sensible location & tag, e.g. gcr.io/kubernetes/kubectl:1.2.3

[2016-05-19 19:50] bgrant0607 commented on #8132
@smarterclayton @wojtek-t Please ref this issue on related PRs.

What is the current status?

cc @jbeda

[2016-05-19 19:52] smarterclayton commented on #25880
Some notes:

UnsafeConversion should not be unsafe yet.  It's just preparation.
The annotation map should have been copied.  If that's not the case, it would be the simplest explanation for the mutation.  If it was copied, then we might have to find a more exotic explanation.

[2016-05-19 19:56] lavalamp opened #25901 "Flake: cluster startup: "Staging server tars to Google Storage""
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/5770/

[code]

[2016-05-19 20:02] bprashanth opened #25903 "Clarify delete-by-label semantics"
Docs seem to indicate that we can delete by label:
http://kubernetes.io/docs/api-reference/v1/operations/#_delete_collection_of_pod
But most cases list by label, delete by name, and there are reports that delete by label doesn't work (ie that something like `DELETE /api/v1/namespaces/default/pods?labelSelector=somelabel%3Dsomevalue` returns 405).

[2016-05-19 20:02] bprashanth commented on #25903
@jmessenger

[2016-05-19 20:24] salv-orlando commented on #25868
Thanks @freehan - That's indeed where I've added MAC so far in my PoC code.

https://github.com/salv-orlando/kubernetes/commit/e566fc69ecfda334c29fae283f9b6e1354d0db75

[2016-05-19 20:28] lavalamp opened #25905 "Deployment deployment should support rollover"
Same test as #22719 but different failure.

https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7324/

[code]

[2016-05-19 20:37] smarterclayton commented on #25860
Do you need dots in your package name?

[2016-05-19 20:41] sgrimee commented on #25832
I was given this trick on the slack channel:
```kubectl create configmap nginx-lb-config --from-file=nginx-lb.configmap --dry-run -o yaml | kubectl replace configmap nginx-lb-config -f -```

[2016-05-19 20:45] ericchiang commented on #25860
@smarterclayton "rbac.authorization" or some to that affect was preferred per discussion in #23396, and #24900 but it's not an implementation requirement.

Would be happy to change the API group name if others are okay with that.

cc @erictune @liggitt @deads2k

[2016-05-19 20:45] gmarek commented on #24946
Yes - we decided that we won't even try to get it done for v1.3 and I moved to fixing other blockers. Sorry for not communicating it wider. It's a first thing for post v1.3 on my list.

[2016-05-19 20:46] sgrimee commented on #18372
If it doesn't refresh automatically, is there a way to trigger a volume refresh manually without having to kill the pod? Use case: updating nginx config and sending it a HUP signal

[2016-05-19 20:52] mikedanese commented on #7294
cc @vishh

[2016-05-19 20:53] lavalamp commented on #24753
@david-mcmahon So it turns out that this doesn't help that much so far. Part of the reason is that the flakes happen on the incoming PR, and I'm checking only head. It still requires that the tests on the PR pass before a merge.

[2016-05-19 20:55] a-robinson opened #25908 "Better support for sidecar containers in batch jobs"
Consider a Job with two containers in it -- one which does the work and then terminates, and another which isn't designed to ever explicitly exit but provides some sort of supporting functionality like log or metric collection.

What options exist for doing something like this? What options should exist?

Currently the Job will keep running as long as the second container keeps running, which mean

[2016-05-19 20:55] janetkuo commented on #25825
Again in #25509

[2016-05-19 20:55] bharrisau commented on #24858
Could there be a race between the `replace` call and the deployment
updating itself to action the changes?
On 19 May 2016 9:47 pm, "David Eads" <notifications@github.com> wrote:

[2016-05-19 20:56] lattwood commented on #22004
@paralin might want to touch base with these folks to see if what they've done is usable for an 'official' terraform repo.

[2016-05-19 20:59] lavalamp commented on #24753
Another item that would help: https://github.com/kubernetes/contrib/issues/1020

[2016-05-19 21:07] derekwaynecarr opened #25909 "kubelet container manager cgroup detection should error if cpu and memory differ"
`kubelet` container manager setup node routine should ensure that cpu and memory cgroups for container runtime are of the same value, and warn if they are equal to `/`.

For background, on systemd environments, the default unit file for `docker` has CPU and Memory accounting not enabled, so the /proc/.../cgroup file reports `/` as cpu cgroup.

https://github.com/kubernetes/kubernetes/pull/25907#is

[2016-05-19 21:07] derekwaynecarr commented on #25909
/cc @vishh - I will send a bug-fix for 1.3 for this in next couple days.

[2016-05-19 21:08] derekwaynecarr commented on #25909
/cc @kubernetes/sig-node @kubernetes/rh-cluster-infra

[2016-05-19 21:12] nikhiljindal commented on #25761
Yea :)

Am wondering how will the federation controller manager access these secrets.
The standard way is to refer the secrets that a pod needs in the PodSpec (and secrets need to be created before pod is created). In this case, federation controller manager will need access to secrets dynamically.
One way can be by using InClusterConfig in federation controller manager to talk to the k8s apiserve

[2016-05-19 21:15] ncdc commented on #25891
The code and test probably need to be updated to use `util.Clock` so the tests can be properly time-controlled instead of using `time.Sleep()`

[2016-05-19 21:20] ncdc commented on #25897
Dupe of #25890?

[2016-05-19 21:20] janetkuo opened #25911 "e2e flake: Kubectl describe should check if kubectl describe prints relevant information for rc and pods"
This test currently runs in flaky list. Test flakes only discovered in gke tests (not gce): pods failed to be Running in 1m30s.

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-flaky/9535/artifacts/

[code]
Logs:
[code]
kubelet logs:
[code]

[2016-05-19 21:22] vishh commented on #7294
Based on the existing comments, this PR can be closed since there is no intention to support swap in the kubelet in the near future. @derekwaynecarr Feel free to re-open if you'd like to continue discussing support for swap.

[2016-05-19 21:22] #7294 closed

[2016-05-19 21:30] ncdc commented on #17523
Updated link to Derek's log: https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/24810/kubernetes-pull-build-test-e2e-gce/38133/build-log.txt

It turns out that https://github.com/kubernetes/kubernetes/blob/c4889dd8268d1f1def711c74c595100b76d2b2fd/test/e2e/kubectl.go#L254 doesn't check the return value from the function call, so it allows the test to proceed when it

[2016-05-19 21:30] smarterclayton commented on #25860
Can we just do "rbac"?  Nothing in the code requires the package name to ==
the group name, so apis/rbac is totally clear already.

On Thu, May 19, 2016 at 5:05 PM, Eric Chiang <notifications@github.com>
wrote:

[2016-05-19 21:31] caesarxuchao commented on #25890
The log says it's timed out waiting for the GC to observe the deletion of the RC. It seems the GC never received the deletion of RC in 120s.

[2016-05-19 21:32] smarterclayton commented on #8132
Stable serialization reqts.:

* Quantity should be serialized as a string: Provide an int64 version of
Quantity that is much faster
<https://github.com/kubernetes/kubernetes/pull/25243>
* Allow discrimination between unset array and empty array: protobuf
codegen does not handle *[]Foo and *map[Foo]Bar
<https://github.com/kubernetes/kubernetes/issues/25835>

Which block finalizing an output proto I

[2016-05-19 21:32] timothysc commented on #22448
@hongchaodeng could I get an invite to said discussion.

[2016-05-19 21:35] smarterclayton commented on #25836
For small namespaces we might have people doing it.

When did we add omitempty to this field?

On Thu, May 19, 2016 at 2:39 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-05-19 21:35] vishh commented on #25909
Looking forward to the fix @derekwaynecarr

[2016-05-19 21:38] ncdc commented on #17523
So the PR seemed easy enough... 😄 #25915

[2016-05-19 21:39] smarterclayton commented on #25880
How old was this code?  It shouldn't be calling through the reflection code, unless the fast path broke.

[2016-05-19 21:48] smarterclayton commented on #25880
Realized we never added a pod list fast path.

[2016-05-19 21:52] ericchiang commented on #25860
Updating #25634 to rename the api group to "rbac". Will close this issue if there's no push back on that thread.

[2016-05-19 21:56] pnovotnak commented on #25828
I added an additional node to our cluster, just in case we were resource-constrained, a second persistent volume and associated claim for our "production" namespace against a second disk. I got the same results as before. We have other controllers

$ kubectl describe pv

    Name:       databases
    Labels:     <none>
    Status:     Bound
    Claim:      development/databases
    Reclaim Policy:

[2016-05-19 21:57] smarterclayton commented on #25880
Found it.  It was init containers, we were accidentally mutating the inner object in the wrong place.

[2016-05-19 22:00] pnovotnak commented on #25828
I can provide access to the cluster for debugging.

peter at cyrusbio d com

[2016-05-19 22:01] pmorie commented on #18372
@sgrimee not yet, it has been requested though, will link later.

[2016-05-19 22:02] derekwaynecarr commented on #7294
Yeah.  This can be closed.  I actually don't want to support swap right now
either, when this was first opened swap was being set incorrectly.  But all
is good now.

On Thursday, May 19, 2016, Vish Kannan <notifications@github.com> wrote:

[2016-05-19 22:02] pmorie commented on #18372
err, I answered the wrong question.  It does refresh automatically, but it's not instantaneous.  The volume is eventually consistent, just like downward API volume.

[2016-05-19 22:05] smarterclayton commented on #25880
Fix open

[2016-05-19 22:20] lavalamp opened #25919 "flake: Pods should invoke init containers on a RestartNever pod"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7330/

[code]

[2016-05-19 22:38] euank commented on #25855
I excluded the test name because there were three tests with different names showing the same failure, and they didn't seem related to the given test name. Since random other tests will fail with the same error, I assume, I thought it would be better to have the error highly visible.

[2016-05-19 22:39] smarterclayton commented on #25835
I think this should work for us:

[code]

We'd still have to fix the omitempty.  We should check ugorji to see if it handles it differently than go (i.e., correctly).

[2016-05-19 22:42] david-mcmahon commented on #24753
@lavalamp In the implementation I set up, we always verified against head and gated only notifications.  That worked well, but this is different.
With a submit queue we actually want to vet each PR as it comes through before allowing it to submit.

Unless we modify the submit queue to retest the same PR looking for flakes vs. consistency, we won't get the benefit of automating with this retest mod

[2016-05-19 22:52] smarterclayton commented on #25835
I can make the custom unmarshaller work for a set of arrays.  We could move to generation in the future if necessary.  How many primitive arrays do we need to support?

[2016-05-19 22:53] smarterclayton commented on #25835
I think I can make the custom unmarshaller bypass the omit empty problem, but need to test.

[2016-05-19 23:03] dchen1107 commented on #25844
Ahh, thanks for digging into the issue.

This is the exact the concern I had when I reviewed the initial implementation of init container, which blocks pr for a while. I even asked @bprashanth to help me verify this case, unfortunately we didn't reproduce the issue back then. :-(

[2016-05-19 23:06] ichekrygin opened #25924 "Inconsistent deployment annotation in rollout history"
Repro Steps:
[code]

Note: `CHANGE-CAUSE` has value `<none>`, since deployment file did not contain any annotations.

Modify nginx-deployment.yaml file adding annotation `foo-bar` like so:
[code]

Delete nginx-desployment and re-create one from scratch
[code]
Assert deployment is gone:
[code]

Create new nginx-deployment:
[code]
Note: `CHANGE-CAUSE` reflect the actual command and not the value fro

[2016-05-19 23:08] bprashanth commented on #25824
Hmm, this happened again in gce-slow
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/5776
[code]

[2016-05-19 23:14] brendandburns opened #25925 "integration test flake: kubectl edit can update the image field of a pod (hack/test-cmd.sh)"
[code]

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25894/kubernetes-pull-test-unit-integration/26773/

[2016-05-19 23:25] lavalamp opened #25926 "Flake: start up: gcloud crashed (CannotConnectToMetadataServerException"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/5776/

[code]

[2016-05-19 23:28] smarterclayton commented on #25844
I wish I'd seen the flakes in the runs prior to merge.

[2016-05-19 23:29] ericchiang commented on #25860
No push back. Closing for now.

[2016-05-19 23:39] jimmycuadra commented on #11884
For those of us doing custom deployments on AWS, what resources need to have this tag and what behavior of which k8s components does it affect?

[2016-05-19 23:44] david-mcmahon commented on #25854
@lavalamp is this not just a cluster (or other team) doc/example/usage fix?

[2016-05-19 23:56] #25019 closed

[2016-05-20 00:02] yujuhong commented on #16831
@MHBauer that's great.

As @Random-Liu pointed out, event stream will improve performance and resource usage for kubelet, but since 1) not all runtimes support this and 2) the benefits significant enough, we didn't prioritize switching to the event stream.

The problem is a little bit more complicated than simply interfacing with the docker event stream. If you are interested, here is some backgro

[2016-05-20 00:02] lavalamp commented on #24753
Start on autofiling issues: https://github.com/kubernetes/contrib/pull/1021

Submit queue doesn't wait long enough: https://github.com/kubernetes/contrib/pull/1022

[2016-05-20 00:15] lavalamp commented on #25511
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17235/

[2016-05-20 00:16] lavalamp commented on #25511
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17234/

[2016-05-20 00:16] lavalamp commented on #25511
@pwittrock any time to look at this?

[2016-05-20 00:17] yifan-gu opened #25928 "rkt: kubelet performance test fails to run on rktnetes"
[code]

Full logs [here](https://gist.github.com/yifan-gu/f6ab6d76a21cc5c1fbb0990e47353c6c)

cc @kubernetes/sig-node

[2016-05-20 00:17] lavalamp commented on #21484
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7336/

[2016-05-20 00:19] lavalamp commented on #25834
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17236/

[2016-05-20 00:20] jeffvance opened #25930 "slow pv <--> pvc binding when claim created before pv"
This is based on the recently merged PR #24331:
[code]

The test involves a simple pv and pvc spec that match accessModes and capacity.

Case 1: create pv first then create pvc using _default_ claim sync period (10m):
[code]
Case 2: create **pvc** first then create pv using _default_ claim sync period (10m):
[code]
Case 3: create pv first then create pvc using claim sync period *30s*:
[code]
Case

[2016-05-20 00:26] yujuhong commented on #25928
@yifan-gu the test expects to see the "runtime" stats from kubelet's summary api. For rkt, this doesn't work. Will need to modify the test to only check the "runtime" resource usage if the runtime is docker. The kubelet resource usage should be fine.

[2016-05-20 00:28] pwittrock commented on #25511
Yes.  Looking

[2016-05-20 00:28] dchen1107 commented on #25928
Is this a regression? Or we just started to run this test against rkt?

For rkt case, there is no daemon, that missing-runtime-issue are not fit for rkt.

[2016-05-20 00:29] mml commented on #25539
And again.

[2016-05-20 00:30] yujuhong commented on #25928
It's not a regression. rkt has never passed this test. We'll need to make the test pick what to check based on the container runtime.

[2016-05-20 00:31] timstclair commented on #25844
We didn't notice this until we started running the tests against docker v1.11.1, which is much faster and hit the race condition differently.

[2016-05-20 00:32] thockin opened #25931 "pre-commit hook is broken for godeps changes"
if you make a godep change and run the pre-commit hook, it tries to run verify-godeps.  Two things go wrong.

1) git sets the GIT_DIR variable, which apparently makes godep puke in its own lap.

2) godep finds "dirty  working tree" for every file in the tmp GOPATH

investigating in background.

[2016-05-20 00:32] thockin commented on #25931
@mhrgoog

[2016-05-20 00:34] yujuhong commented on #25844
I suppose that's a good thing...

[2016-05-20 00:35] dchen1107 commented on #25844
@smarterclayton It is hard to reproduce this. The extra check of last terminated container in your initial code makes me nervous, but we couldn't reproduce it due to that small race windows until we have a faster docker running on the node. :-)

[2016-05-20 00:46] sjpotter opened #25932 "cannonical way to import packages"
Currently we are a bit haphazard in how we name and import our packages.  Kubernetes as a whole has a type package: "k8s.io/kubernetes/pkg/types",

but other sub packages might have their own: "k8s.io/kubernetes/pkg/kubelet/types"

within kubelet it might make sense to refer to the kubernetes type as kubetypes and the internal one as just types, but within kubelet (and perhaps elsewhere) we refer

[2016-05-20 01:01] pwittrock commented on #25511
Looks like this is an image pull failure since the last event we are seeing in the namespace is an image pull event, but no events after that:

`
May 19 16:16:03.216: INFO: WaitFor completed with timeout 1m30s.  Pods found = 0 out of 1
STEP: Collecting events from namespace "e2e-tests-kubectl-kroxp".
May 19 16:16:03.220: INFO: At {2016-05-19 16:14:33 -0700 PDT} - event for redis-master: {replicati

[2016-05-20 01:05] ncdc commented on #17523
I looked at the logs from https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/24810/kubernetes-pull-build-test-e2e-gce/38133/ in more detail. Here is the sequence of events:

- 21:41:15.832926 - pod received by kubelet
- 21:46:16.997514 - pod killed (5 minute timeout from the e2e test)
- 21:47:01.835920 - server recorded the image pull finished (event rejected becau

[2016-05-20 01:05] jeffvance opened #25935 "pre-bound claim remains Pending"
This is based on the recently merged PR #24331:
[code]

I created 2 PVs (pv1,pv2) followed by 2 pvcs (claim1,claim2) where claim2 is pre-bound to pv2 via _volumeName_:
[code]
claim1 finds pv2 before claim2 finds pv2 (which it is pre-bound to). This is ok due to timing.
If I change the order and create pv2,pv1 followed by claim2,claim1 then I again see claim2 in the Pending phase:
[code]
This time

[2016-05-20 01:23] yujuhong commented on #17523
Let's dup this to the slow image-pulling bug: #25277

[2016-05-20 01:23] #17523 closed

[2016-05-20 01:51] ping035627 opened #25936 "Integration test error"
From #25863

E0519 10:00:18.757632   15966 event.go:207] Unable to write event: 'dial tcp 127.0.0.1:50322: getsockopt: connection refused' (may retry after sleeping)
E0519 10:00:20.345152   15966 handlers.go:37] Unable to authenticate the request due to an error: Token has been invalidated
E0519 10:00:20.744882   15966 handlers.go:37] Unable to authenticate the request due to an error: Token has b

[2016-05-20 01:55] bprashanth commented on #24440
@lavalamp @kubernetes/sig-scheduling maybe someone with spare time can rewrite that scheduler test as an e2e, and we can kill integration?

I continue to see integration flake that's hard to debug, current SQ closing failure:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25446/kubernetes-pull-test-unit-integration/26688/

Why did that fail? Ctrl+f "fail" gives me

[2016-05-20 02:04] MikeSpreitzer opened #25937 "Default plugin directory is /usr/libexec/kubernetes/kubelet-plugins/net/exec/ for CNI"
If I understand correctly, when I tell the kubelet `--network-plugin=cni`, it will search `/usr/libexec/kubernetes/kubelet-plugins/net/exec/` by default to find the CNI plugin's config file.  That is contrary to the usual CNI place (`/etc/cni/net.d/`) and looks specific to the other kind of network plugin.  Have I got this right?  If so, it seems a less than ideal situation.

[2016-05-20 02:06] MikeSpreitzer commented on #25937
BTW, the Mesos framework for Kubernetes can pass `--network-plugin` to the kubelet but not `--network-plugin-dir`.

[2016-05-20 02:10] bprashanth commented on #25363
I see similar failures in integration flake, haven't dug into root cause: https://github.com/kubernetes/kubernetes/issues/24440#issuecomment-220498536, https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25446/kubernetes-pull-test-unit-integration/26688/

[2016-05-20 02:11] hongchaodeng commented on #24440
Those failures even existed in passing integration test as well (I can feel your pain).

This is due to [TestUnschedulableNodes()](https://github.com/kubernetes/kubernetes/blob/8a04506546db27bab6b3a58ca88378fadfdb0541/test/integration/scheduler_test.go).

It would be great if original author of those tests can clarify what each test does and maintain it. Otw those tests are just legacy obstacles t

[2016-05-20 02:13] nowprovision commented on #24963
@brendandburns Done. https://github.com/kubernetes/kubernetes/pull/25938

[2016-05-20 02:14] bprashanth commented on #24440
the rc and services tests have been removed. The only ones remaining are put/patch/apiserver typs tests and the scheduler phantom pod tests IIRC. The former is relatively straightforward and only needs to apiserver, the latter would be much easier to maintain as an e2e. Bandwidth issue.

[2016-05-20 02:14] pwittrock commented on #24905
Working on something to address image pull failures

[2016-05-20 02:29] AaronTao1990 commented on #16162
I have got the same problem

	I0520 00:59:57.876139   32133 helpers.go:101] Unable to get network stats from pid 41402: couldn't read network stats: failure opening /rootfs/proc/41402/net/dev: open /rootfs/proc/41402/net/dev: no such file or directory
	I0520 01:00:13.716862   32133 helpers.go:101] Unable to get network stats from pid 41402: couldn't read network stats: failure opening /rootfs/proc

[2016-05-20 02:45] peijunfu opened #25939 "Possibility of using gluster volume in k8s if glusterfs client package on container"
Kubernetes supports several types of Volumes including GlusterFS. Also GlusterFS can be Persistent Volumes in k8s.
https://github.com/kubernetes/kubernetes/tree/release-1.2/examples/glusterfs/

For using glusterfs volumes in k8s, one of prerequisites is "Install Glusterfs client package on the Kubernetes nodes". But if it is expect that everything shall be in containers. Is that possible that put

[2016-05-20 02:46] sjpotter commented on #25928
Pretty sure we discussed this before.   I think i hacked the test to ignore the daemon cgroups it expects to see to get it to run

[2016-05-20 02:46] hongchaodeng commented on #24440
I see. I can definitely help with it. Let me spend some time figuring them out. Meanwhile, anyone familiar with the scheduler tests should feel free to open another issue and track them.

[2016-05-20 03:10] hongchaodeng commented on #24440
@davidopp
What's your opinion on this?

[2016-05-20 03:16] lavalamp commented on #25890
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-test-go/12296/

[2016-05-20 03:23] lavalamp opened #25940 "Unit tests take more than an hour to run"
I think yesterday they were running in under 40 minutes.

I did https://github.com/kubernetes/contrib/pull/1022 because the submit queue is timing out before merging after running tests. I will try to push it live tonight. But we need to figure out what caused this.

[2016-05-20 03:24] lavalamp commented on #25940
People who might want to be aware of this: @ixdy @krousey @smarterclayton @thockin @bgrant0607

[2016-05-20 03:36] codevulture commented on #25862
Hi,
Currently there is no option to use Openstack-Keystone Trust in Kubernetes, Keystone Trust was introduced in Api version 3 and allows a Trustor to delegate roles to Trustee, A more detailed information are provided in the link below:
https://wiki.openstack.org/wiki/Keystone/Trusts

Specifications are provided in: https://specs.openstack.org/openstack/keystone-specs/api/v3/identity-api-v3-os-tr

[2016-05-20 03:54] thockin commented on #25940
I am gathering times right now, hoping to get a suspect

[2016-05-20 04:01] thockin commented on #24440
I agree that integration either needs to be killed or massively overhauled

[2016-05-20 04:05] thockin commented on #25836
I'd rather say the semantic is not supported.  It's not strictly regular in
the sense that more-labels means more restrictions, therefore no labels
should mean no restrictions.  But I don't care that much.

On Thu, May 19, 2016 at 3:04 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-05-20 04:07] bprashanth commented on #24440
This issue describes the circumstances leading up to that scheduler integration test, for anyone attempting to port it: https://github.com/kubernetes/kubernetes/issues/6023. Though IIRC we got rid of the modeler, so things might be different now.

[2016-05-20 04:21] dims commented on #22517
@soltysh - Took a while to debug to get the bare minimum change that at least works with `kubectl get job/pi -o yaml`

[2016-05-20 04:28] thockin commented on #23357
5 has a well-defined meaning - 5 bytes.  5Gi means 5 *10^30.  This is not a
case of forgetting.  You're asking a 5 GiB claim to match a 5 B volume.
Doesn't work.

On Fri, May 13, 2016 at 6:40 AM, Elvir Kuric <notifications@github.com>
wrote:

[2016-05-20 04:36] thockin-cc commented on #25940
Looking at go {builld,test} -x times, nothing stands out.  No one command
is dominating.  The vast majority of individual commands complete in < 1
sec.

$ cat make.times | awk -F: '{if (prev == 0) { prev=$1 } t=$1-prev; print t;
prev=$1}' | sort -n | uniq -c
  15292 0
    690 1
     23 2
      8 3
      2 4
      2 5
      1 6
      1 8
      2 10

On Thu, May 19, 2016 at 8:55 PM, Tim Hockin <noti

[2016-05-20 04:36] lavalamp commented on #25940
Did the number of times we run things change?
Maybe something is slower on Jenkins?

[2016-05-20 04:38] lavalamp commented on #25890
This has failed like four times in a row. Going to make a PR to stop the bleeding.

[2016-05-20 04:46] lavalamp commented on #25890
@caesarxuchao Please undo my "fix" when you figure this out :) I don't know why it got so much worse all of a sudden.

[2016-05-20 04:47] caesarxuchao commented on #25890
This is the [log](https://00e9e64bacc66d0c5d67dd11645e9aeeebbe0a594e562a9a9c-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F25923%2Fkubernetes-pull-test-unit-integration%2F26797%2Fbuild-log.txt?qk=AD5uMEvE-gWUewGqubcPSI-kHocbeN_4mlgqQ8h9HQPS8Xd3TNV_b9q4mwq_GbWVG1wPcuOrPrs6IThQrmEnq8TjZHDMSY6Dn_rZqNDybLPCWYzjPmV-WWotucU7ReYQYN3aibzqiY9SwbhwoGTAAzH

[2016-05-20 04:55] bprashanth commented on #24440
I think we actually have a spike in integration test failures: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-test-go/12298

[2016-05-20 05:15] bprashanth opened #25948 "kubemark-500 hollow nodes don't come up"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/3311/artifacts/
[code]
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/3311/artifacts/kubemark-500-minion-wqpa/
Docker logs are full of
[code]
@gmarek

[2016-05-20 05:15] lavalamp opened #25949 "Bumping ContainerVM image is breaking kubemark"
Failed four times in a row now.

https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/3307/

[code]

[2016-05-20 05:17] anguslees commented on #22063
Just fyi, there is no DNS entry for hosts in Rackspace public cloud (unless you install and run your own DNS server, edit all the /etc/hosts, etc) - and it's an optional feature for OpenStack clouds generally.

We did a bunch of work a year or two ago to introduce and use `Addresses` instead of assuming the `NodeName` was resolvable, for just this sort of case.  I'm disappointed we're here again :

[2016-05-20 05:24] saad-ali commented on #25825
This is used by the yet-to-be-merged Attach Detach controller and persistent volume controller refactor.

Assigning to @jsafrane who introduced this particular test. Jan, not sure what's better increasing the timeout or removing the test altogether.

[2016-05-20 05:26] lavalamp commented on #25949
One of these PRs is the culprit:

Bump GCE ContainerVM to container-v1-3-v20160517 (detail / githubweb)
Add an int64 quantity implementation (detail / githubweb)
Update use of Quantity in other classes (detail / githubweb)
Handle resource.Quantity changes in eviction thresholds (detail / githubweb)
Disable ppc64le for now (detail / githubweb)

[2016-05-20 05:27] liggitt commented on #22063
How do you handle TLS with IP addresses? Do you assume nodes are serving using certs signed by a private CA that is willing to sign for IP addresses?

[2016-05-20 05:28] gmarek commented on #21484
@lavalamp - should this be assigned to API machinery team?

[2016-05-20 05:31] lavalamp opened #25950 "scheduler log: useless error message"
scheduler.go:100] Failed to schedule: kind:"" apiVersion:""

would sure be handy to have the actual thing listed here to help me debug #25949

[2016-05-20 05:33] bgrant0607 commented on #25925
cc @kubernetes/kubectl

[2016-05-20 05:34] bgrant0607 commented on #25905
cc @kubernetes/kubectl

[2016-05-20 05:44] lavalamp commented on #25949
ok, all the hollow node pods got scheduled...

[2016-05-20 05:45] liggitt commented on #22768
I think this should be resolved:
* Removing a ThirdPartyResource orphans associated ThirdPartyResourceData (endpoints go away, so data can't be removed via the API, but lives on in etcd)

This is also a bug, though I'm not sure how important it is if the API can't actually do anything with multiple versions of a third party resource data:
* Specifying multiple versions for a ThirdPartyResource doe

[2016-05-20 05:51] lavalamp commented on #25949
Does the hollow master of the interior cluster not get logged?

[2016-05-20 05:57] hongchaodeng commented on #25949
What do you mean by that?
I usually login to hollow master and see logs in "/var/log". `log-dump.sh` might work but you need to set up config of kubectl.

[2016-05-20 05:57] lavalamp commented on #25949
@wojtek-t @gmarek -- folks in WAW

[2016-05-20 05:58] hongchaodeng commented on #25949
Hope this would help:
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/kubemark-guide.md#monitoring-test-execution-and-debugging-problems

[2016-05-20 05:59] wojtek-t commented on #25880
@smarterclayton - thanks for debugging and fixing!

[2016-05-20 06:00] lavalamp commented on #25949
@hongchaodeng that's the outer master, is there no inner master? what do the hollow nodes register with?

[2016-05-20 06:02] wojtek-t commented on #25949
yes - the hollow-node register with inner master;

Let me take a look

[2016-05-20 06:03] bprashanth commented on #25948
https://github.com/kubernetes/kubernetes/issues/25949

[2016-05-20 06:03] #25948 closed

[2016-05-20 06:05] bprashanth commented on #25949
fishy logs
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-kubemark-500-gce/3307/artifacts/kubemark-500-minion-iw4q/docker.log
[code]

[2016-05-20 06:10] wojtek-t commented on #25949
Looking into it.

It seems that only ~370-380 kubelets are always registered in the kubemark master.

[2016-05-20 06:14] wojtek-t commented on #25949
What @bprashanth wrote above seems like a problem.
I logged into a random machine and there were a bunch of created containers there, but those containers never started.

[2016-05-20 06:18] wojtek-t commented on #25949
To be honest, those errors suggest that maybe this PR is in fact the victim:

Bump GCE ContainerVM to container-v1-3-v20160517 (detail / githubweb)

I will try to verify it.

[2016-05-20 06:32] bgrant0607 commented on #25940
Did we increase the number of dimensions of the test matrix? (e.g., twice as many tests in order to test protobuf)

[2016-05-20 06:34] wojtek-t commented on #25949
I other words, it seems to me that the problem is somewhere around kubelet/docker/node and the change of quantity by @smarterclayton doesn't seem to affect that.

On the other, the second change clearly touches that part of the system.

[2016-05-20 06:48] wojtek-t commented on #25949
So far I verified that I'm getting exactly the same issues when running locally.
I'm going to locally revert the bump of container VM and see if that helps.

[2016-05-20 07:02] wojtek-t commented on #25949
OK - so I locally reverted the bum of container Vm PR:
https://github.com/kubernetes/kubernetes/pull/25843

and this fixes the problem for me locally.
I'm going to revert this PR.

[2016-05-20 07:20] wojtek-t commented on #24320
I faced this again here:

http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-kubemark-gce-scale/1163/

I will take a look into it (but probably next week after freeze).

[2016-05-20 07:57] livelace commented on #14519
Ok. Actually we want, that lifecycle hooks will be processed in context of deployment status. If hook ended with error - deployment should be considered as a failure. Main process of pod may working well and pass all tests (liveness/readiness) but if hook returned error - deployment status should be - failed, because hook is important part of pod and it readiness.

[2016-05-20 07:58] mqliang commented on #25534
@wojtek-t Mind me address this with https://github.com/kubernetes/kubernetes/pull/25342 together? I am working on https://github.com/kubernetes/kubernetes/pull/25342 where I am trying to make the cache return a KeyNotFoundErr when client list from a nonexistent namespace. It's more simple and efficient to judge whether a namespace exist if we have build the index.

[2016-05-20 08:01] wojtek-t commented on #25835
Are we aware of any such places in our API (where we need to distinct nil and empty arrays)?
If not, I would personally vote for wrapping those into structs. In my opinion such api is cleaner.
Regarding slower serialization, I don't think it will be a problem.

As for having a custom marshaller/unmarshaller, I would vote for having it only if it is really really needed (i.e. if it is required to s

[2016-05-20 08:07] kargakis commented on #14519
@livelace hm, so your problem was hooks? It wasn't clear to me from your original issue. I have answered downstream. Hooks in Kube deployments are not there yet: https://github.com/kubernetes/kubernetes/issues/14512

[2016-05-20 08:14] Random-Liu opened #25953 "Unit test flake: TestReflectorResync exactly 2 iterations were expected, got: 3"
[code]
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25904/kubernetes-pull-test-unit-integration/26834/

[2016-05-20 08:21] wojtek-t commented on #25534
@mqliang - I would prefer to have them separate; #25342 is a bug fix that we will merge 1.3; index is a feature for which is too late to have it in 1.3

[2016-05-20 08:22] jsafrane commented on #25825
0.14 s is not enough to start a trivial goroutine??? I'll increase all the timeouts.

[2016-05-20 08:25] #25880 closed

[2016-05-20 08:27] mqliang commented on #25534
There is two bug in https://github.com/kubernetes/kubernetes/pull/25342 actually:

1) filter function is not strong enough so that a client may get events which it is not interested in
2) list from a nonexistent namespace return an empty list, instead of a KeyNotFoundErr

1) is easy to fix, but 2) is much harder(inefficient) if we don't have index.

[2016-05-20 08:32] wojtek-t commented on #25534
Can you please fix 1 and 2 in separate PRs?

Regarding 2 - I can imagine just having a list of namespaces cached, or having a full index from namespace to pods (potentially with something else?). The former is pretty simple to do and is fine to do, 2nd is much more complicated and it's too late to do that.

[2016-05-20 09:02] nhlfr commented on #21317
This pull request introduces node labels and annotations to volume downward API.

@ghodss it **doesn't** include the hostname (as an environment variable) yet, but no worries, I'm working on that too and will raise an another pull request.

[2016-05-20 09:40] ScyDev commented on #14642
We've also experienced this multiple times. In our case it wasn't a new node that had a problem because the disk was not properly detached from another node.
This node existed for weeks. It was like the node was complaining that it couldn't attach the disk because it was already attached to itself.

Stackdriver log for node `gke-test-cluster-default-pool-a7afbbdb-i0sb`
[code]

Manually detaching t

[2016-05-20 09:44] wojtek-t commented on #25870
After merging that PR I think it is fixed. So I'm closing this PR. Will reopen if I face this issue again.

[2016-05-20 09:44] #25870 closed

[2016-05-20 09:48] NiclasHedam opened #25958 "Disable kube-system services"
Hello,

I would like to disable kube-system DNS and kube-system dashboard, since they are unused in my cluster. When I delete the pods and rc, it just gets recreated again. How to disable these correctly?

[2016-05-20 09:52] fgrzadkowski commented on #24782
Happened again:

[code]

[2016-05-20 10:02] wojtek-t commented on #25949
OK - reverting to the previous ContainerVM image solve the problem.

So we clearly have some incompatibility between 1.9 and 1.11 Dockers which I don't have time to debug.
If we want to enable Docker 1.11 we definitely need to understand it (and if that's configurational issue, fix kubemarks).

So I'm reassigning this to @dchen1107 for desicion how to proceed with this.

[2016-05-20 10:30] chao007 opened #25959 "PVC and PV bound takes long time if create PVC first"
Description of problem:
PVC and PV bound takes long time if create PVC first, seems https://github.com/kubernetes/kubernetes/pull/24331 not fixed this issue

Version-Release number of selected component (if applicable):
Client Version: version.Info{Major:"1", Minor:"3+", GitVersion:"v1.3.0-alpha.4.143+505fb857260bc2", GitCommit:"505fb857260bc2f661d70c59037e6a1328020891", GitTreeState:"clean", Buil

[2016-05-20 10:56] jsafrane commented on #25844
I got "Pods should invoke init containers on a RestartAlways pod" flake (referenced from #25879):

[code]

Logs: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25955/kubernetes-pull-build-test-e2e-gce/41020/

[2016-05-20 11:09] Smana commented on #11935
+1

[2016-05-20 11:23] dims commented on #25958
@NiclasHedam can you try deleteing the kube-system namespace? `kubectl delete namespace kube-system`

[2016-05-20 11:26] NiclasHedam commented on #25958
There is some kube-system addons and pods I would like to keep, therefore deleting the whole namespace is not an option.

I'm only interested in deleting the dashboard and dns.

[2016-05-20 11:42] #25844 closed

[2016-05-20 11:58] deads2k commented on #25860
It nests under the existing `authorization.k8s.io` and matches the `authentication.k8s.io`, which also follows our plan to make the names dns names to avoid any ambiguity.  We most recently talked about it here: https://github.com/kubernetes/kubernetes/pull/24902#discussion_r62391331 .

[2016-05-20 12:01] deads2k commented on #25860
Ah, I see.  Not renaming the API group, just the package.

[2016-05-20 12:19] jstrachan opened #25961 "support adding a transparent local proxy/load balancer as a sidecar (without having to change the original docker container to be aware of it)?"
So the [DNS service discovery](http://kubernetes.io/docs/user-guide/services/#dns) in kubernetes is awesome. It encourages simplicity on the container image developer to just use simple service names to discover and communicate with services which then works in whatever namespace your pod is running.

The consumer of a docker image thats using DNS service discovery may decide they wish to use a si

[2016-05-20 12:31] #13412 closed

[2016-05-20 12:33] dims commented on #24411
Looks like the two PR(s) in this issue are merged already. Can we close this issue please?

[2016-05-20 12:40] mkulke commented on #22063
@anguslees yup, i'm aware (been using k8s on rackspace & openstack for a while). Rackspace setups require `--hostname-override` because of this: The nodename is simply the hostname, and the hostname is a non-resolvable, dns-ified version of the instance name (e.g. my-node_1 => my-node-1). That's why currently the Rackspace cloud provider cannot set the Nodename, like other providers do.

The inten

[2016-05-20 12:56] ncdc commented on #25897
Closing as a dupe. Feel free to reopen if I'm incorrect.

[2016-05-20 12:56] #25897 closed

[2016-05-20 12:56] liggitt commented on #22063
Defaults, sure, but I wouldn't expect that to be used that way in production

[2016-05-20 13:02] Hui-Zhi commented on #25557
Volume relative: #831

[2016-05-20 13:49] bprashanth commented on #25950
I suspect it's just printing a %+v on pod, that seems to not work since protobufs

[2016-05-20 14:02] openxxs commented on #25861
I have built another cluster(1 master with 2 slaves) for test, with 3 SkyDNS pods and 1 kube2sky pod. The problem can be re-produced by three steps:
1. create a pod;
2. docker exec into the container created by this pod;
3. sh test.sh:
`#!/bin/sh
for i in {1..10000}; do
  ( ping zk.inner.xxx.cn -c 1 ; ) &
done`
The result includes some wrong records like:

These records are very little but exist.

[2016-05-20 14:14] smarterclayton commented on #25860
Sorry, should have been clearer.

[2016-05-20 14:17] smarterclayton commented on #25825
Unit tests can be arbitrarily delayed under load.  We have had flakes due
to tests that assumed that 15s is long enough to sleep.

Short answer: don't use timeouts, rewrite your test and code to not depend
on the passage of time.

On May 20, 2016, at 4:23 AM, Jan Šafránek <notifications@github.com> wrote:

0.14 s is not enough to start a trivial goroutine??? I'll increase all the
timeouts.

—
You

[2016-05-20 14:21] smarterclayton commented on #25835
Wrapping with structs I believe will make us have to write custom
unmarshal long anyway, because you can't use "inline" on two children
in the same struct (afaik) and the output json would be disgusting
otherwise:

{"field": {"optionalStringArray": []}}

I think we want our JSON schema to be the thing we optimize for
usability and clarity.  There is nothing ambiguous about

{"field": []}

And we s

[2016-05-20 14:22] liggitt commented on #25860
the group got renamed in https://github.com/kubernetes/kubernetes/pull/25634/files#diff-7e3f9c25e85c04b5583c2a61d4adf58eL25

I'd prefer the qualified group name, even if it means the package doesn't match

[2016-05-20 14:25] wojtek-t commented on #25835
because you can't use "inline" on two children
in the same struct (afaik) and the output json would be disgusting
otherwise:

OK - that one I didn't know. It's a good argument.

I think we want our JSON schema to be the thing we optimize for
usability and clarity.

+100

[2016-05-20 14:31] timothysc commented on #19720
@spiffxp

Red Hat has several concerns on 1.11 as has been articulated on several threads.  We have backported patches for 1.10 to stabilize the issues that we have discovered, which is our standard operating procedure.

We will proceed with that route.  That being said, upstream does not run their distro in a systemd, selinux env, but we do.  So even if upstream qualifies for 1.11, it does not me

[2016-05-20 14:53] luxas commented on #25958
@dims The `kube-system` namespace should never be deleted, and in newer releases (`v1.3.0-alpha.4+`) a such request is rejected.

@NiclasHedam It depends on which deployment solution you have how easy it is. It's the `kube-addon-manager` that's recreating the objects. Maybe just remove the files you don't want in `/etc/kubernetes/addons` on the master

Assigning @mikedanese to advise

[2016-05-20 14:55] luxas commented on #25937
@bprashanth @thockin @freehan

[2016-05-20 14:57] gitfred commented on #25251
@timoreimann Have you started working on this? If not I would like to take it over

[2016-05-20 14:58] snejati86 commented on #25961
@jstrachan

In a way, by doing this you are changing the configuration of a container at runtime, how would this be different than getting the URL from the environment variables ? Any do you know why your colleague is against env variables ?

[2016-05-20 15:01] jsafrane commented on #25825
This flaky test checks that `something.Wait()` waits until a separate goroutine finishes. It has to stop waiting and report error at some point. Previously, it waited for 50ms after the goroutine stopped. What is suggested time then? Or should I let the test runner itself time out?

[2016-05-20 15:07] mml opened #25964 "pkg/client/cache flake: reflector_test.go:380: exactly 2 iterations were expected, got: 3"
Log: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25895/kubernetes-pull-test-unit-integration/26824/
Brief discussion in #25895

[2016-05-20 15:09] pmorie opened #25965 "Make integration test failures easier to identify and debug"
Currently the output from the integration tests is rarely useful for pinpointing the cause of an integration test failure.  We should make `test-integration.sh` easier to debug; if possible, there should be a foolproof way to diagnose the specific test case down to file/line number that failed.

I know @thockin was recently thinking about this too.  cc @ixdy @kubernetes/sig-testing

[2016-05-20 15:09] smarterclayton commented on #25825
You should use a channel or other synchronization to deliver that, not
waits.

On Fri, May 20, 2016 at 11:01 AM, Jan Šafránek <notifications@github.com>
wrote:

[2016-05-20 15:11] jstrachan commented on #25961
@snejati86 I think its more he's pro DNS :).

But yeah I guess any iptables, `/etc/hosts`, `/etc/resolv.conf` stuff need to be done on startup first before any of the containers start; so via a lifecycle hook or something to be sure that when all the containers in the pod start; the new DNS mapping / iptable rule is in force

[2016-05-20 15:17] fgrzadkowski opened #25966 "Kubelet e2e tests are not compatible with merge queue logic"
Kubelet e2e tests are run manually using go command. As a result jenkins treats test failures as "red" ones not "yellow". AFAIU this means that we will block with the first flake, not two in the row as for other suites.

@kubernetes/sig-node @lavalamp @wojtek-t

[2016-05-20 15:18] pwittrock opened #25967 "unit test flake: controller/persistentvolume"
Not many details in the logs:
`
FAIL	k8s.io/kubernetes/pkg/controller/persistentvolume	2.721s
`

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25916/kubernetes-pull-test-unit-integration/26923/

[2016-05-20 15:18] jimmidyson commented on #25961
Lots of things do make me sad, this is not one of them. I do _prefer_ DNS but I realise it is not a panacea.

I'm not against env vars at all, but it does mean you need to specify what they all are at startup. I'm playing with iptables DNAT to redirect all outbound traffic in a pod to a proxy running in the pod. That allows us to then not make any changes, add any env vars, etc to the app - a tran

[2016-05-20 15:22] jsafrane commented on #25825
Then I need to wait for message in the channel with a timeout to throw an error that the test failed, that's not really a difference.

[2016-05-20 15:24] mml commented on #25964
Oh, this is a dup of #25953

[2016-05-20 15:24] #25964 closed

[2016-05-20 15:24] mml commented on #25953
I saw this as well.

Log: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25895/kubernetes-pull-test-unit-integration/26824/
Brief discussion in #25895

[2016-05-20 15:25] yujuhong commented on #25966
/cc @pwittrock

[2016-05-20 15:28] ncdc commented on #25953
I think I have a fix for this

[2016-05-20 15:29] gmarek opened #25969 "Flannel crashlooping in 2k Node cluster"
I wasn't able to successfully run Flannel 2k Node cluster. The problem I encountered is that Flannel wasn't running, because etcd cluster backing the Flannel for some reason wash crashlooping. I suspect that it's some small configuration issue.

cc @wojtek-t @bprashanth

[2016-05-20 15:33] timothysc opened #25970 "Test containers should be regularly recompiled and updated."
In digging into a couple of issues it was clear the containers had not been recompiled against golang 1.6.

https://github.com/kubernetes/kubernetes/pull/25280#issuecomment-220633165

/cc @kubernetes/sig-testing @ixdy

[2016-05-20 15:33] yujuhong commented on #25965
Related issue for deprecating tests in cmd/integration/integration.go #24440

[2016-05-20 15:46] philips commented on #25969
Can you file an issue with logs and details on flannel? https://github.com/coreos/flannel

cc @steveeJ @tomdee

[2016-05-20 15:46] jeremyeder commented on #21331
@knobunc

[2016-05-20 15:48] ncdc commented on #25953
Just submitted a PR that I believe fixes this. I was able to get the flakes locally w/o my PR and haven't seen any with it. PTAL!

[2016-05-20 15:55] gmarek commented on #25969
Will do on Monday.

[2016-05-20 15:57] yujuhong commented on #24440
@bprashanth unfortunately the failure you linked was not from this file (`cmd/integration/integration.go`)

[code]
Those tests were in `test/integration/`, and were considered easier to debug (at least from @lavalamp's doc last time). Personally I don't have much experiences debugging this new category of integration tests, so I can't say much. They do seem to flake a lot recently in per-PR tests

[2016-05-20 15:58] timothysc commented on #21331
As we start biggering and biggering, there we're going to need to address this soon.

once we reach 250 or 500 pods/machine we're going to need to segregate traffic.

/cc @kubernetes/sig-scalability

[2016-05-20 15:58] philips commented on #19443
Adding the etcd team: @xiang90 @hongchaodeng @gyuho @heyitsanthony @barakmich

Running etcd on k8s is something we really need to figure out!

[2016-05-20 15:59] yujuhong commented on #25844
All the fixes went in. Please reopen this issue if you see any more flakes.

[2016-05-20 16:03] mml commented on #25953
@ncdc how did you repro locally?  I tried ran this test 1,000 times last night and it passed 1,000 times.

[2016-05-20 16:03] yujuhong commented on #24782
@fgrzadkowski could you post a link to the build and/or logs?

[2016-05-20 16:06] philips commented on #19443
@justinsb If the target is cloud then just do what we recommend with [kube-aws](https://coreos.com/kubernetes/docs/latest/kubernetes-on-aws.html): run a single etcd in an auto-scaling group and backed by an EBS. This is very simple to operate, k8s can survive etcd being down in case of machine failure, and EBS is already a replicated datastore so etcd's replication creating NxN replication doesn't

[2016-05-20 16:11] ncdc commented on #25953
Change the resync period from 1 milli to 1 microsecond. You can also add
'stress -c 8' to the mix.

On Friday, May 20, 2016, Matt Liggett <notifications@github.com> wrote:

[2016-05-20 16:12] yujuhong commented on #25928
@sjpotter, yes we discussed this before and I even had a half-baked local branch to disable daemon check for non-docker runtimes, but that needs a lot of fixes (or just a complete rewrite) after switching to the new summary api.

@sjpotter, if you want to submit a PR, I'd be happy to review. Otherwise, I'll try to pick this up sometime next week.

[2016-05-20 16:18] tmgardner commented on #19443
There is some value in running multiple etcd with EBS, since a single etcd instance can potentially generate corrupt logs, and you can replace a server or two without quorum loss.

We ended up using [etcd-aws-cluster](https://github.com/MonsantoCo/etcd-aws-cluster) for this, which works pretty well, though I'm a bit scared of the failure scenarios involved. I think there's a similar solution for t

[2016-05-20 16:20] justinsb commented on #19443
@philips we already do something similar using automatic instance restarting on AWS & GCE.  Two gotchas:

1. Downtime during a restart (minor)
1. EBS volumes are single zone, so a zone outage takes out the control plane for the duration of the outage (major)

I'd like to figure out something that can tolerate the loss of a (single) zone :-)

[2016-05-20 16:24] timoreimann commented on #25251
@gitfred I did actually. I plan to push out a PR over the weekend.

[2016-05-20 16:25] philips commented on #19443
@justinsb In that case run three static machines across the three AZs.

Essentially I don't think we should overthink this solution if we are thinking about running on AWS/GCE where distributed replication comes free and machine failure doesn't require human interaction to recover from.

[2016-05-20 16:35] krousey commented on #25940
If I go back to February 20 (furthest back I could find), it seems it took ~20 minutes: https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-test-go/8565/build-log.txt

And now it takes ~55 minutes, plus spending another 20-60 minutes in the queue waiting to be run.

[2016-05-20 16:40] smarterclayton commented on #25940
We added the protobuf storage dimension @wojtek-t

On Fri, May 20, 2016 at 12:36 PM, krousey <notifications@github.com> wrote:

[2016-05-20 16:41] smarterclayton commented on #25825
It's ok to have VERY long timeouts for failures (unit tests shouldn't be
broken).

On Fri, May 20, 2016 at 11:22 AM, Jan Šafránek <notifications@github.com>
wrote:

[2016-05-20 16:42] ncdc opened #25974 "node e2e flake: unable to start node services - healthz check failed"
Seen in #25971

From https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/25971/node-pull-build-e2e-test/6970/build-log.txt

[code]

[2016-05-20 16:45] richm opened #25975 "add metadata when using docker --log-driver=journald"
When using OpenShift with the standard docker log driver, there are container logs in the following format::

    /var/log/containers/$name_of_pod-$name_of_project-$name_of_container-$containeruuid.log

The fluentd log collector uses $name_of_pod and $name_of_project to look up in k8s additional metadata for the pod and project (such as the uuids).

When using docker daemon `--log-driver=journald`

[2016-05-20 16:46] smarterclayton commented on #25860
Yes, please use the qualified group name, but the short package name.
Package names are for programmers, qualified group names are for api
consumers.  Different needs.

Sorry for the confusion.

On Fri, May 20, 2016 at 10:23 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-05-20 16:47] nikhiljindal commented on #25761
c @smarterclayton

[2016-05-20 16:52] luxas commented on #18371
I've fixed this with various PRs based on this proposal: #17981
Do you agree @pensu and co?

Closing this for now

[2016-05-20 16:52] #18371 closed

[2016-05-20 16:52] yujuhong commented on #25949
kubelet.log is full of errors like this, as the other issue suggested:
[code]
It seems to be caused by the fact that runc creates a unique session key for each container.
https://github.com/opencontainers/runc/issues/726

[2016-05-20 17:02] ncdc commented on #25975
@richm the examples above are from non-Kube containers (looking at the `CONTAINER_NAME`) values - am I correct?

Here's what I see for a container created from a pod locally:

`CONTAINER_NAME=k8s_bob.94e110c7_bob-iq0d4_default_2d67916a-1eac-11e6-94ba-001c42e13e5d_8b4b7e3d`

From this, we can extract:

- container name in pod: bob
- pod name: bob-iq0d4
- namespace: default
- pod uid: 2d67916a-1eac-

[2016-05-20 17:02] pwittrock commented on #24905
Put together #25944 to pre-pull the images to see if that addresses this.  Also working on adding more debug info

[2016-05-20 17:05] hongchaodeng commented on #24440
I concur on this regarding the "fail" message seen on scheduler test too.

Re. "SchedulerNoPhantomPodsTest", it assumes two kubelets with predefined resources, which is easier to maintain in simulated environment. Right? If testing in integration.go is to hard to debug, we could make it a lightweight unit test. IIRC, it's testing one specific race condition that existed before in scheduler.

[2016-05-20 17:15] luxas opened #25976 "Are we going to update to protobuf 3.0.0-beta-3 before v1.3?"
The title says it all.
@smarterclayton @wojtek-t

[2016-05-20 17:17] ericchiang commented on #25860
Sorry if I wasn't clear in my initial comment but the bug is, but the TL;DR is:

* Client generation assumes that the directory name matches the API group name.
  * Directory named "pkg/apis/rbac" with an API group named "rbac.authroization.k8s.io" doesn't work.
* Protobuf generation does not work if the directory name has a dot in it.
  * Directory named "pkg/apis/rbac.authorization.k8s.io" doesn

[2016-05-20 17:18] ericchiang commented on #25860
So we can't use the qualified group name at the moment.

[2016-05-20 17:18] xiangpengzhao commented on #25791
Thanks :smile:

[2016-05-20 17:26] richm commented on #25975
@ncdc That works.  Thanks!

[2016-05-20 17:26] #25975 closed

[2016-05-20 17:28] smarterclayton commented on #25860
Ok, the first one is a definite bug.  The second one was what I think is an
acceptable limitation.

Group names are APIs, so we can't change group name after creation, so if
we can't fix clientset generation we can't release this API.  We need to
get the clientset thing sorted out.

On May 20, 2016, at 1:17 PM, Eric Chiang <notifications@github.com> wrote:

Sorry if I wasn't clear in my initial co

[2016-05-20 17:28] smarterclayton commented on #25976
I had no plans to, and reason we need to?

[2016-05-20 17:29] smarterclayton commented on #25976
Ref #8134

On May 20, 2016, at 1:15 PM, Lucas Käldström <notifications@github.com>
wrote:

The title says it all.
@smarterclayton <https://github.com/smarterclayton> @wojtek-t
<https://github.com/wojtek-t>

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/25976>

[2016-05-20 17:32] ncdc commented on #25974
@kubernetes/sig-node

[2016-05-20 17:39] luxas commented on #25976
I had no specific reason, just asked
I just thought it might be of interest. It was released some days ago.

    Improved hash maps.
        Improved hash maps comments. In particular, please note that equal hash maps will not necessarily have the same iteration order and serialization.
        Added a new hash maps implementation that will become the default in a later release.
    Arenas

[2016-05-20 17:39] mathisub commented on #19980
I am running kubernetes v1.2.3 and have the same issue with the API server.
Invalid Authentication Config: open /srv/kubernetes/basic_auth.csv

[2016-05-20 17:44] ixdy commented on #25940
Yeah, it has taken close to an hour for a while now. There is also a high amount of variance run-to-run depending what else is happening on the Jenkins VM, I think.

[2016-05-20 17:45] ixdy commented on #25940
cc @kubernetes/sig-testing

[2016-05-20 17:55] ncdc commented on #25967
[code]

[2016-05-20 17:55] ncdc commented on #25967
@kubernetes/sig-storage

[2016-05-20 17:56] ixdy commented on #25970
Wonder if there's a good way to automate this. It seems to require:
* bumping up tags for every test image (which don't really follow consistent patterns, IIRC)
* building all images and pushing them to gcr.io
* updating all tests to use the new tag

All the while hoping that any other new changes brought in don't break the tests in some way.

[2016-05-20 17:56] lavalamp commented on #21484
@gmarek yes, probably :(

[2016-05-20 17:59] saad-ali commented on #14642
@ScyDev That's https://github.com/kubernetes/kubernetes/issues/19953 Should be fixed at the same time as this.

[2016-05-20 18:00] dchen1107 commented on #25949
Didn't see this issue, I updated with https://github.com/kubernetes/kubernetes/pull/25951#issuecomment-220672586

[2016-05-20 18:02] smarterclayton commented on #25940
Coverage is really bad - have we disabled that on the official runs?  That
forces a unique go test compilation per.

On Fri, May 20, 2016 at 1:45 PM, Jeff Grafton <notifications@github.com>
wrote:

[2016-05-20 18:03] yifan-gu commented on #25581
Not able to run the kubelet-perf test as for #https://github.com/kubernetes/kubernetes/issues/25928. So I am going to use https://github.com/coreos/rkt/pull/2324 to record the avg CPU/memory for kubelet and rkt api service.

[2016-05-20 18:03] timstclair commented on #16106
Fixed by https://github.com/kubernetes/kubernetes/pull/22110

[2016-05-20 18:03] dchen1107 commented on #25949
If we reached that quota limit, how come the our docker performance tests & e2e density tests doesn't catch the issue?

[2016-05-20 18:04] freehan commented on #25937
If `--network-plugin-dir ` is not specified, it will serach in the CNI default directory.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/cni/cni.go#L36

[2016-05-20 18:04] smarterclayton commented on #25976
It would not, all the optimizations are for C / Java etc, not Golang.

On Fri, May 20, 2016 at 1:39 PM, Lucas Käldström <notifications@github.com>
wrote:

[2016-05-20 18:11] dchen1107 commented on #25949
I am closing one since the image is revert back, and the flakiness caused by docker 1.11.1 is gone. Please move the discussion related to docker 1.11.1 validation / testing to https://github.com/kubernetes/kubernetes/issues/23397, and the ones which docker release going with Kubernetes 1.3 to https://github.com/kubernetes/kubernetes/issues/25893

[2016-05-20 18:11] #25949 closed

[2016-05-20 18:15] Random-Liu commented on #24782
I still suspect it is caused by a slow image pulling. https://github.com/kubernetes/kubernetes/pull/25944 would fix this.

[2016-05-20 18:16] bgrant0607 commented on #22619
See also #22061

[2016-05-20 18:16] bgrant0607 commented on #22599
See also #22061

[2016-05-20 18:16] bgrant0607 commented on #7369
See also #22061

[2016-05-20 18:19] luxas commented on #25976
Okay, got it.
Closing for now (as it should not be in this release)

We might reopen it in the future if there's need for it

[2016-05-20 18:19] #25976 closed

[2016-05-20 18:23] bprashanth commented on #24440
oh, hmm, different bug then https://github.com/kubernetes/kubernetes/issues/25890

Re shceduler test: If you can manage with a unittest that would be great. If not I'm fine running the integration tests serially. I don't think it'll take that much longer, and flakes that only show up in parallel runs are hopefully covered in gce-e2e.

[2016-05-20 18:23] dchen1107 opened #25977 "Switch master node on GCE to GCI image by default"
We recently switched GKE's master node to GCI image, but not GCE master node. This discrepancy causes a lot of issues for us, especially some prs merged might work on GCE, but totally break GKE. We should get rid of that difference.

cc/ @roberthbailey @kubernetes/goog-gke @kubernetes/goog-node @kubernetes/goog-image

[2016-05-20 18:25] roberthbailey commented on #25977
/cc @lavalamp @mikedanese (two build cops who have recently suffered the effects of this).

[2016-05-20 18:39] ixdy opened #25979 "verify-godeps.sh failing due to expired TLS certificate on go4.org"
verify-godeps started failing about 90m ago, because the TLS certificate for go4.org has expired.
[code]
[code]

It sounds like @bradfitz is fixing, but we may want to disable the check on CI in the interim.

[2016-05-20 18:41] lukaszo commented on #25773
I added to my PR new commit https://github.com/kubernetes/kubernetes/pull/25877
It adds flag --show-all so it can be reused with other `kubectl describe` resources. What do you think about this approach?

[2016-05-20 18:47] bprashanth commented on #25969
memory cpu limits would be my first guess.

[2016-05-20 18:47] ixdy commented on #25940
We haven't done coverage runs in a long while because it's so slow.

[2016-05-20 18:51] andyzheng0831 commented on #25977
The master image for test is defined here: https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh#L39. We want to switch all test jobs? Or just one particular job, e.g., k8s ci testing k8s master head? I am afraid that simply replacing the image in that script will affect all test jobs

[2016-05-20 18:55] lavalamp commented on #25977
I think this is a bad plan unless we continue to test container VM start up somehow. We can't break that while people still use it!

[2016-05-20 18:57] andyzheng0831 commented on #25977
An alternative: Set up another jenkins job dedicated for the purpose and mark it as commit queue blocker.

[2016-05-20 18:58] fabioy commented on #25977
It may be better to just switch GKE masters back to containerVM for now, then redo the sequence (i.e. switch GCE to GCI, then GKE master to GCI).

[2016-05-20 19:00] roberthbailey commented on #25977
@lavalamp if we switch both the test and non-test default from cvm -> gci then starting with the 1.3 release people won't be using it (by default), so testing becomes less important.

[2016-05-20 19:01] wonderfly commented on #25977
I don't think we have to. The GKE CI job is already a CQ blocker, but it runs after submit so bad PRs still get merged (though they get identified quickly). What we need is a PR builder that runs tests with GCI, so we can block bad changes in the first place.

[2016-05-20 19:02] wonderfly commented on #25977
Definition about PR builers: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/e2e-tests.md#the-pr-builder

cc/ @kubernetes/test-infra-admins

[2016-05-20 19:04] dchen1107 commented on #23397
#25844 was merged and reverted shortly because it breaks kubernetes-kubemark-500-gce (#25949). We are still investigating the root cause. One possible culprit pointed by @yujuhong is that it seems to be caused by the fact that runc creates a unique session key for each container (opencontainers/runc#726). If that is the root cause, the max-number of containers created by docker is capped by /proc/

[2016-05-20 19:12] lxpollitt commented on #20391
cc @tomdee

[2016-05-20 19:19] yifan-gu commented on #23335
FYI, related e2e tests that testing the kubectl attach functionality in the default gce e2e testing suit are:
[code]

[2016-05-20 19:21] caesarxuchao commented on #25860
I don't want to demand a user to specify a `const GroupName` to be able to use client-gen. @smarterclayton is it so difficult to make protobuf generator to work with a directory having dots?

[2016-05-20 19:24] apatil commented on #25893
@dchen1107, which storage backends do you test when validating?

[2016-05-20 19:24] gmarek commented on #25969
There are none afaik

[2016-05-20 19:28] smarterclayton commented on #25860
Why not just read it from a comment on the package doc?

On May 20, 2016, at 3:22 PM, Chao Xu <notifications@github.com> wrote:

I don't want to demand a user to specify a const GroupName to be able to
use client-gen. @smarterclayton <https://github.com/smarterclayton> is it
so difficult to make protobuf generator to work with a directory having
dots?

—
You are receiving this because you were men

[2016-05-20 19:29] smarterclayton commented on #25860
Package names aren't special, we shouldn't assume they are.

On May 20, 2016, at 3:22 PM, Chao Xu <notifications@github.com> wrote:

I don't want to demand a user to specify a const GroupName to be able to
use client-gen. @smarterclayton <https://github.com/smarterclayton> is it
so difficult to make protobuf generator to work with a directory having
dots?

—
You are receiving this because you were

[2016-05-20 19:37] timothysc commented on #25970
I think it could be done, and would be highly useful.
/cc @jayunit100

[2016-05-20 19:50] ixdy commented on #25979
Cert was renewed.

[2016-05-20 19:50] #25979 closed

[2016-05-20 19:51] lavalamp commented on #25977
Yes. It could be even simpler, it just has to start up a cluster and tear it down. Just run like 1 fast test. @ixdy @fejta

[2016-05-20 19:54] bgrant0607 commented on #24677
cc @a-robinson

[2016-05-20 19:54] lavalamp commented on #25977
We've got to do something though, the queue has been blocked for like 3 hours on GKE tests not passing.

[2016-05-20 20:00] wonderfly commented on #25977
I'd still like to run the e2e tests as some tests make assumptions of the OS distro and thus fail on GCI.

@ixdy @spxtr Can we duplicate [this job] (http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/) (that runs gce-e2e on every PR), replacing ContainerVM with GCI as the master and (or) node image?

[2016-05-20 20:08] rootfs commented on #25967
@jsafrane

[2016-05-20 20:15] caesarxuchao commented on #25860
If it's so hard to fix this from the protobuf side, I can let client-gen use the `const groupName` if it's present, or use the comment line as you suggested.

We should make a rule on how to name the directories under `pkg/apis/`, I vote for fully qualified name, so people don't need to search in the files to figure out the the group name.

[2016-05-20 20:20] smarterclayton commented on #25860
I'm more concerned that *right now* we're focused on enabling proto across
the board, so I don't want to dive on something optional if we can work
around it right now.  Package names are conventions, and it sounds like
it's easy enough to support it in clientgen for now.

On Fri, May 20, 2016 at 4:15 PM, Chao Xu <notifications@github.com> wrote:

[2016-05-20 20:23] spxtr commented on #25977
It's a bit of a pain to do this, since that job also does a full build and it feels like a major waste to build each PR again. The Jenkins agents probably can't handle that much load, anyway.

[2016-05-20 20:30] yujuhong commented on #25974
[code]
Looks like #25246. Closing as a dup.

[2016-05-20 20:30] #25974 closed

[2016-05-20 20:33] caesarxuchao commented on #19163
Yeah, I left those comments. I was trying to describe the test logic, as I found it difficult to understand at that time.

That's not the desired behavior, I think Clayton's comment is right.

What object are you trying on? We tried on convert batch/v1/job to extensions/v1beta1/job and it works. Though it doesn't report an error if the --output-version isn't valid.

[2016-05-20 20:35] dchen1107 commented on #23397
I reproduced the issue on my test KNode, and filed one against docker at: https://github.com/docker/docker/issues/22865

I am still wondering why we couldn't reproduce the problem on @timstclair's node. The only difference on his node is that his node doesn't run kubelet.

[2016-05-20 20:42] dims commented on #4729
Guess we get this for free with containerd from Docker 1.11? https://blog.docker.com/2016/04/docker-containerd-integration/

Can we close this bug?

[2016-05-20 20:42] ixdy commented on #25977
at some point we probably need to bite the bullet and set up pipelines so we only build kubernetes once, rather than separately in the unit/integration, e2e, and node e2e jobs.

I have no idea how well any of that interacts with the pull request plugin, of course.

[2016-05-20 20:43] steveeJ commented on #25404
Do we have an issue for that? Is it any different in k8s than from running rkt manually?

[2016-05-20 20:45] wonderfly commented on #25977
Thanks for the information @spxtr . So looks like the first alternative, _running tests with GCI/GKE and block bad changes in the first place_, is hard to get done due to some infrastructure challenges (as mentioned in https://github.com/kubernetes/kubernetes/issues/25977#issuecomment-220709516). It's not impossible though, just not prioritized right now.

The second alternative would be, keep run

[2016-05-20 20:49] vishh commented on #23397
Can we just set a higher limit in kubelet for now?

On Fri, May 20, 2016 at 1:35 PM, Dawn Chen <notifications@github.com> wrote:

[2016-05-20 20:51] dims commented on #4845
Looks like this already got implemented
https://github.com/kubernetes/kubernetes/commit/7404b7019cbbe7cd6267f2c0027e4d879a825262

[code]

So can we close this bug?

[2016-05-20 20:52] dchen1107 commented on #25977
I think start another jenkins job as one more pr builder, which have the master node on GCI image and rest of nodes on ContainerVM is the simplest thing unblock us.

After 1.3, I suggested we do https://github.com/kubernetes/kubernetes/issues/25276

[2016-05-20 21:01] a-robinson commented on #4845
Yes.

[2016-05-20 21:01] #4845 closed

[2016-05-20 21:13] lavalamp commented on #25977
No, this is not acceptable! we've been blocked for 10 out of the last 24 hours due to this! :)

[2016-05-20 21:16] euank opened #25988 "rkt: Init container support"
As per title, init containers do not work with rkt as the container runtime and I didn't see an existing issue to track this.

Ref https://github.com/coreos/rkt/issues/2375 and #23666

[2016-05-20 21:21] roberthbailey commented on #25977
I agree that we need to catch this before merging instead of after merging. The question is how best to do so.

[2016-05-20 21:21] spxtr commented on #25977
The problem is that the submit-queue puts them in at odd hours, and we don't expect OSS oncall to be watching at 2 AM.

[2016-05-20 21:24] wonderfly commented on #25977
Well, the flip side is you don't have to run all tests (on all providers) so that all your PRs get merged faster. I am not saying I prefer postsubmit tests, it just something you have to face, no matter its gke tests or gce tests.

I would prefer that too.

[2016-05-20 21:25] spxtr commented on #25977
I think the solution to this is to run more tests when the PR is created, but then when the submit queue asks for a retest before merging only run a smoke test. I think that's a good tradeoff.

[2016-05-20 21:34] wonderfly commented on #25977
That's a good topic to talk and I have some ideas about that too, but I'd stop dragging the focus too far. :smile:

[2016-05-20 21:37] dims commented on #17899
This bug can clearly be closed!

[2016-05-20 21:37] yujuhong commented on #23397
I also reproduced this with @dchen1107's command on my node.
Bumping `/proc/sys/kernel/keys/root_maxkeys` worked for me, until the ip addresses ran out.

[2016-05-20 21:41] dchen1107 commented on #23397
@vishh and @yujuhong bumping the limit is the plan I am doing. :-) How about 2000?

[2016-05-20 21:42] dchen1107 commented on #23397
Meanwhile, @timstclair is hitting other issue related to cAdvisor and docker 1.11.1. He is still reproducing that one. I will send my fix shortly.

[2016-05-20 21:45] vishh commented on #23397
We might want to bump `/proc/sys/kernel/keys/root_maxbytes` too. Seems to
be set to `20000` bytes by default.

On Fri, May 20, 2016 at 2:38 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-05-20 21:48] steveeJ commented on #20799
Snippet from the kubectl docs:
[code]
`--port` simply looks the closest to what could be the nodePort. Is my understanding correct, that there is no way to define nodePart via `kubectl expose` at this point? Should/Must `kubectl port-forward` be used instead?

[2016-05-20 21:48] dims commented on #19309
Looks like we haven't fixed this in kubelet:
https://github.com/kubernetes/kubernetes/blob/e8ff608901be615d48457235dee3a6fbabf6cc71/cmd/kubelet/app/server.go#L394

[2016-05-20 21:48] alex-mohr commented on #25977
I don't see any compelling reasons to have a different master image-type for GCE and GKE -- there are strong benefits to them being identical, as we've observed.  We want 1.3+ to run GCI for GKE, therefore I propose we switch both GCE and GKE to use GCI for the master on all 1.3+ tests by default, including PR and post-submit.

If there is a testing gap in that situation, because we think it's imp

[2016-05-20 21:49] vishh commented on #24677
@dcowden

We can have the kubelet generate a metadata file for each container in the same directory that the container's log files are being stored. This file can contain labels, pod and container names, etc.

[2016-05-20 21:49] wonderfly opened #25993 "Collect more logs (e.g., docker.log, kern.log) for node e2e tests"
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/25701/node-pull-build-e2e-test/6866/build-log.txt

[code]

[2016-05-20 21:49] timstclair commented on #23397
I was able to reproduce this on a container VM GCE instance, but not on an ubuntu trusty instance (that I installed docker v1.11 on using `curl -fsSL https://get.docker.com/ | sh`)

[2016-05-20 21:53] alex-mohr commented on #25977
(To append: I think post-submit coverage is horrible and would support a P0 of any test tiger team and/or code-yellow exit criteria being that we have pre-submit coverage of all the various test matrix points.  I realize that'll be expensive in both time and machine resources, but it'll be less expensive than our current approach and I suspect generate significant velocity benefits.)

[2016-05-20 22:01] janetkuo commented on #20605
#25601 for deleting cluster from `kubectl config`

[2016-05-20 22:02] Random-Liu commented on #25993
It seems that this happens because of docker hung. After this log, all the docker operations are timeout.
[code]

[2016-05-20 22:09] yujuhong commented on #25993
We need docker and kernel logs :(

On the bright side, the docker operation timeouts work and kubelet did not hang.

[2016-05-20 22:12] dchen1107 commented on #25893
@apatil By default the validation is running against aufs, but redhat is validating docker against devicemapper. Also internally, we started validation against overlayfs too lately through our new cloud image: gci.

[2016-05-20 22:12] wonderfly commented on #25993
That `build-log.txt` was the only I could get.

[2016-05-20 22:12] janetkuo commented on #25406
@blerko thanks, please send a PR to fix this document https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/admin/high-availability/index.md

[2016-05-20 22:13] Random-Liu commented on #25993
@yujuhong Yeah~~~ :)

[2016-05-20 22:13] bprashanth commented on #25969
If you don't specify a cpu limit you will get 2 shres: https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/flannel-server/init.sls#L29

Why was etcd crashing, oom?

[2016-05-20 22:18] yujuhong commented on #25993
Yes, that's the problem with the node-e2e framework in general.

[2016-05-20 22:18] apatil commented on #25893
@dchen1107 Does that mean you're testing against something Debian-based, or is there a method you recommend for installing aufs on CentOS? I'd like to get as close as possible to a validated setup, but need to use Rhel 7.

[2016-05-20 22:27] a-robinson commented on #18396
Sorry I never responded, I wish I had a way of getting notifications for @ mentions of arob.

There's no reason we shouldn't be doing this for all resources that support it.

[2016-05-20 22:29] a-robinson commented on #18396
It'd be great to get cluster name into these descriptions as well

[2016-05-20 22:30] janetkuo commented on #25403
Neither `kubectl get --all-namespaces pod/xxx` nor `kubectl get --all-namespaces pod xxx` will work. Retrieving pods with specific name from all namespaces isn't supported currently.

If you wish to retrieve a pod under a namespace, use `kubectl get pod/xxx --namespace=xxx`

[2016-05-20 22:30] roberthbailey opened #25998 "Unable to start kubemark cluster on a mac"
[code]

[2016-05-20 22:44] dcowden commented on #24677
Ok, so I think I understand how this will work now-- just going to summarize to make sure I get it, and to benefit those that come and want the TL;DR version:

### How logging will work in Kubernetes

- Kubernetes will define a construct called logging volumes.
- Containers should send their logs to these volumes
- For performance reasons, these volumes will generally reside local to the k8s node

[2016-05-20 22:52] azell opened #26000 "kubelet Image garbage collection failed: unable to find data for container /"
Cluster 1.2.2 settings:

[code]

When the node disk space is low enough to trigger GC, nothing happens.

[code]

cAdvisor output looks OK:

[code]

Everything else in the cluster seems to be working.  Any ideas on how to debug?  For now I manually removed dangling and older Docker images.

[2016-05-20 22:57] lavalamp commented on #25977
This is a decent idea.

[2016-05-20 22:57] roberthbailey commented on #25998
If I change `base64 -d` to `base64 -D` on https://github.com/kubernetes/kubernetes/blob/master/test/kubemark/start-kubemark.sh#L128-L130 then it gets to the `Waiting for all HollowNodes to become Running...` part.

[2016-05-20 22:57] vishh commented on #26000
I suspect that this might be due to `btrfs` storage driver. We only test
against aufs, overlayfs and device mapper AFAIK.

On Fri, May 20, 2016 at 3:52 PM, Adam Zell <notifications@github.com> wrote:

[2016-05-20 23:05] yujuhong commented on #25893
We test debian + aufs, and [GCI](https://cloud.google.com/compute/docs/containers/vm-image/) (chromium os-based) + overlayfs.

For Rhel 7, you should probably stick to redhat folks's recommendation for storage backend and docker version.

[2016-05-20 23:17] bgrant0607 commented on #24677
See also #13010.

[2016-05-20 23:21] drashkov commented on #25585
It also won't accept "randomshit" as an environment varible. When I add that as an environment variable to an existing deployment and run "kubctl apply -f deployment.json" nothing happens.

This is on version v1.2.4 / 3eed1e3be6848b877ff80a93da3785d9034d0a4f

[2016-05-20 23:34] dchen1107 commented on #25893
Currently Kubelet supports 3 graph drivers: devicemapper (Redhat / openshift), aufs (GCE / GKE), and overlayfs (CoreOS / GCI). We are working on node conformance tests which including runtime too, but not that yet.

[2016-05-20 23:40] #22752 closed

[2016-05-20 23:41] #25246 closed

[2016-05-20 23:43] #18549 closed

[2016-05-20 23:48] brendandburns commented on #25965
I'm marking this P0 as part of the general "we need to make testing/flake fixing suck less" effort we're putting together.

[2016-05-20 23:50] girishkalele commented on #25837
@thockin @lavalamp

So, for the nil case, do want to wipe out the endpoints list ?
And, do we want to change the {} case to also wipe out the endpoint list ?

[2016-05-21 00:01] mikedanese opened #26002 "#19242 breaks compatibility of command line args on kube-controller-manager"
Not specifying --service-cluster-ip-range added in #19242 causes a panic in nodecontroller which causes controller-manager to crash loop.

This feels like a v1.3 blocker.

Ref #19242

@bgrant0607 @mhrgoog @mqliang @wojtek-t @gmarek @lavalamp @goltermann @davidopp

[2016-05-21 00:04] mikedanese commented on #26002
[code]

[2016-05-21 00:08] mqliang commented on #26002
Sorry, I am not familiar with the code under /cluster and /test.

[2016-05-21 00:33] mjg59 opened #26003 "Watching third party resources gives client error: "Unable to decode an event from the watch stream: got invalid watch event type:""
Creating a third party resource type from https://gist.github.com/mjg59/b24995501a7064b0b2e1768b7fe71426 , adding an object (https://gist.github.com/mjg59/98b85a924fddecbd08018f1e2f60e17d) and then running https://gist.github.com/mjg59/3c4a2ef23bc0844342774d1ed71f46fc gives a stream of:

New policy
E0521 00:33:16.589647   31839 streamwatcher.go:109] Unable to decode an event from the watch stream:

[2016-05-21 00:35] wonderfly opened #26004 "node_e2e flake: kubelet_test, image_conformance_test, e2e_node_suite_test"
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/25701/node-pull-build-e2e-test/7060/build-log.txt

[code]

[2016-05-21 01:07] Random-Liu commented on #26004
@wonderfly This is exactly the same issue with the last one you failed.

[2016-05-21 01:10] Random-Liu commented on #26004
Looks like there is something wrong with the coreos image
* This issue: `tmp-node-e2e-9a70fd3b-e2e-node-coreos-stable20160218-image`
* #25993: `tmp-node-e2e-a2b03fc4-e2e-node-coreos-stable20160218-image`

[2016-05-21 01:10] wonderfly commented on #26004
Yeah, some of them I have seen before, but not all, e.g., the `kubelet_test`. I didn't bother to file individual bugs, just to get k8s-bot rerun tests for my PR. Feel free to mark it as duplicated.

[2016-05-21 01:11] Random-Liu commented on #26004
@wonderfly No, I mean the root cause is the same. :) Docker hung.

[2016-05-21 01:14] dchen1107 opened #26005 "Cleanup system configuration at node"
Forked from https://github.com/kubernetes/kubernetes/pull/26001

To make debian-based node compatible with docker 1.11.X, I updated both /proc/sys/kernel/keys/root_maxkey and /proc/sys/kernel/keys/root_maxbytes. Also other kubernetes components do the similar thing. For example, kube_proxy: https://github.com/kubernetes/kubernetes/blob/dae5ac482861382e18b1e7b2943b1b7f333c6a2a/cmd/kube-proxy/app/co

[2016-05-21 01:14] dchen1107 commented on #26005
cc/ @vishh

[2016-05-21 01:19] dims commented on #18710
was this an intermittent issue? can this issue be closed?

[2016-05-21 01:24] HaiyangDING commented on #25184
Sorry I did not reply in time. I agree. Closing this issue.

[2016-05-21 01:24] #25184 closed

[2016-05-21 01:42] dims commented on #16707
@janetkuo @smarterclayton : This seems like a reasonable thing to do...right?

[2016-05-21 01:44] bgrant0607 commented on #26002
@mqliang @gmarek @wojtek-t Component flags constitute an API, with similar compatibility rules. We can't add new required flags to binaries. That breaks all existing Kubernetes cluster deployment code.

[2016-05-21 01:47] Random-Liu commented on #23397
It's wried that docker micro benchmark https://github.com/kubernetes/kubernetes/issues/23397#issuecomment-217055068 didn't catch the error https://github.com/kubernetes/kubernetes/issues/23397#issuecomment-220692094.

I think one reason is old version of docker micro benchmark didn't report docker operation errors, maybe
we've already hit the error during the test.
https://github.com/kubernetes/co

[2016-05-21 02:09] apatil commented on #25893
Thanks, I appreciate the clarifications.

[2016-05-21 02:15] mikedanese commented on #26002
@mqliang no worries. We should have caught these errors in the PR builder. It's an item to increase coverage in pre-submit PR checks

[2016-05-21 02:39] kevin-wangzefeng commented on #25663
@fgrzadkowski I see, thanks for explaining.

[2016-05-21 03:01] dagnello commented on #19774
@bprashanth k8 PR is out, but waiting for my Gophercloud PR to merge first :)

[2016-05-21 05:06] piosz commented on #18710
I haven't observed the issue since then. Also we migrated to the Summary API so closing as obsolete.

[2016-05-21 05:06] #18710 closed

[2016-05-21 05:09] mzupan commented on #22906
Ok found out my issue finally. We had probably 50 or so services in our cluster. We don't have any load balance type services so we never gave the IAM role any access to ELBs.

Looking at the code it makes a check to see if it has a ELB to make sure about any edits is my guess

Once I granted `elasticloadbalancing:DescribeLoadBalancers` permission to the role the controller made one API check per

[2016-05-21 05:34] roberthbailey commented on #23174
@rata

GKE does upgrades in a similar manner to [upgrade.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/upgrade.sh). It works very well for the master node, and somewhat well for the worker nodes. @ihmccreery is currently working on improving the upgrade flow for worker nodes to make them less disruptive to running applications. We expect that as we figure out how to do this,

[2016-05-21 05:54] Frusty opened #26009 "Host search domains not considered in containers"
Kubernetes 1.2.4
CoreOS beta channel (1010)

I am running a kubernetes cluster inside an AWS VPC with custom DNS servers. Those are configured in my host /etc/resolv.conf together with an additional search domain (example.com).

Kubernetes DNS Addon is configured to fall back to our DNS servers.

When in a kubernetes managed container, I can nslookup our externally managed systems by their full na

[2016-05-21 06:28] guoshimin commented on #22906
Sounds like https://github.com/kubernetes/kubernetes/issues/25401

[2016-05-21 07:15] surajssd opened #26010 "fedora missing in the conditional checks"
In [docker-multinode master script](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker-multinode/master.sh) there is initial check for `fedora` but then it is not put in checks.

I mean there are checks like
[code]
but then in consecutive code there are things like following where `fedora` is not mentioned.
[code]

[2016-05-21 07:41] m1093782566 commented on #22448
Awesome work! I have built API Server 1.3 + etcd 3.0 in my envrionment and runed e2e test.

[2016-05-21 07:45] xiang90 commented on #22448
@m1093782566 Does 1.3 + etcd3 work for you?

[2016-05-21 07:50] jsafrane commented on #25967
i'll look at it

[2016-05-21 08:42] gmarek commented on #25969
I checked for ooms and there were none AFAIKT. I'll paste more data on Monday.

[2016-05-21 09:20] wojtek-t commented on #25998
@gmarek - since you wrote this, can you please take a look?

[2016-05-21 09:24] wojtek-t commented on #25940
@smarterclayton - the protobuf storage test I added is only in test-update-storage-objects which is the fastest from all tests. So I really doubt it's because of that.

[2016-05-21 09:27] wojtek-t commented on #25940
But when I'm looking into artifacts/ directory for test runs from Jenkins, e.g.:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25285/kubernetes-pull-test-unit-integration/26504/artifacts/

there are 12 different files (6 groups of tests: xml, stdout for each of them).

And I'm pretty sure we used to have less than 6 groups of tests even few weeks ago. Are we sure

[2016-05-21 10:06] m1093782566 commented on #22448
Yeah, I have passed e2e density test in a 50-node cluster. I am about to run it in a bigger cluster.

[2016-05-21 10:27] wojtek-t commented on #22448
@m1093782566 - did you also run some correctness tests to? density is mostly a performance tests and it may potentially not catch some correctness issues.

[2016-05-21 11:43] #25209 closed

[2016-05-21 11:58] m1093782566 commented on #22448
Not yet, but I will try. I plan to test API Server 1.3 + etcd 3.0 in a 3000-node cluster to see their enhancement in performance.

[2016-05-21 13:39] apatil commented on #25893
@dchen1107, out of curiosity will you be supporting ZFS on late Ubuntu versions?

[2016-05-21 14:04] wojtek-t commented on #22448
@m1093782566 - note that we don't support 3000-nodes at the level of master components. So those experiments won't be very informative.

[2016-05-21 14:31] rata commented on #23174
@roberthbailey great! I'm really interested in that.

With upup and min-turnup (in kube-deploy) the upgrade process might be getting simpler, but any other info/experience/OS is appreciated :)

[2016-05-21 14:56] wojtek-t commented on #25953
@rrati - FYI

[2016-05-21 15:19] kevin-wangzefeng commented on #22448
@m1093782566 better to have some correctness tests like conformance on a cluster at reasonable size i.e. 1000/2000 nodes, before you moving to a larger scale.

[2016-05-21 15:20] xiang90 commented on #22448
@kevin-wangzefeng Can you help to run a conformance test on a large cluster for etcd3 + k8s?

[2016-05-21 15:28] kevin-wangzefeng commented on #22448
@xiang90 - I have not got time to do this work myself yet, actually @m1093782566 is working with us, I will discuss with him off line :)

[2016-05-21 15:43] mikedanese commented on #20355
kubenet is enabled by default now.

[2016-05-21 15:43] #20355 closed

[2016-05-21 15:45] xiang90 opened #26015 "avoid putting heavy load on etcd by issuing unnecessary/large relist"
We have a cache layer in front of etcd to reduce the load directly hit at etcd.

The cache layer works in two steps: first builds the initial state through listing the entire state, then watches on items and applies incremental changes to the initial state.

The first list can be very expensive when the initial is large. A list/re-list can suddenly put a lot of load onto etcd and blocks other norm

[2016-05-21 16:42] vishh commented on #25893
@apatil We are not testing against zfs as of now. We can add testing for zfs in the future, but we are already spread too thin testing three storage drivers. Given that the community is enabling distributed testing, we'd encourage testing for additional storage drivers by the community.

[2016-05-21 16:56] #25430 closed

[2016-05-21 18:55] chrislovecnm opened #26023 "Create process for testing and updating container images"
We have two challenges:
1. Container images must be manually uploaded into gcr.io.  These images include containers like  gcr.io/google_samples/cassandra must be manually uploaded after each update.
2. Container images cannot be tested until they are uploaded.

This is causing issue with testing and also releasing containers that are broken.  We do not have a e2e test cycle that will support this.

[2016-05-21 18:56] chrislovecnm commented on #26023
cc @jayunit100 @kubernetes/examples

[2016-05-21 18:59] jayunit100 commented on #26023
Hmmmm No dupe issues for this?  I thought we had one oriented around the Makefile that satnam created a while back.  ....

[2016-05-21 19:49] chrislovecnm commented on #26023
@jayunit100 find me the dupe 😄

[2016-05-21 20:48] gmarek commented on #25998
Ugh... yeah another BSD thingy:/ I can fix it, but I don't think it's a high priority.

[2016-05-21 21:24] davidopp commented on #1574
https://github.com/kubernetes/kubernetes/issues/25320#issue-153644796

[2016-05-21 21:26] richm commented on #25975
@ncdc in `bob.94e110c7` - the `94e110c7` is the container hash?  `"io.kubernetes.container.hash": "94e110c7"` What exactly is that?

The hex at the very end - the `8b4b7e3d` - what is that?

[2016-05-21 21:28] davidopp commented on #9043
/inplaceupdate subresource on pod might be a good way to express pod updates (resource as well as container image)

[2016-05-21 22:17] bprashanth opened #26030 "Pass zone through downard api"
If I want to know what zone I'm running in currently I need to figure out what node I'm on, and then parse out `failure-domain.beta.kubernetes.io/zone=` label. This makes actions like figuring out the master of my zone more error prone. Also if I don't find that label I have to assume I'm in the default zone, which would lead to some bad failure modes if the reason I didn't find it was because the

[2016-05-21 23:03] aronchick commented on #26009
can you try the following:

`dig +search kafka`

[2016-05-21 23:50] aronchick commented on #25063
Correct - it's the HA deployment.

[2016-05-22 01:31] dims commented on #26030
@bprashanth - fyi, there's a PR for "Extend downward API volumes with node information":
https://github.com/kubernetes/kubernetes/pull/25957

[2016-05-22 03:21] k82 commented on #2630
@thockin , what's the final decision of this issue? I meet the same when using jenkins & glusterfs: the jenkins is using UID:1000 and glusterfs is mounted by UID:0; the jenkins can not access the FS :(.

[code]

[2016-05-22 03:48] streamnsight opened #26035 "`postStart` hook prevents registration of Pod in Service"
Hello,

I'm trying to use a `postStart` hook to run a config task in a pod.
In my hook script I look up the **Pods** referenced by a **Service**, to find all the **Pods** related to the one I'm starting.

The curl call to the `apiserver` works fine when inside the container, but when running within the `postStart` hook, it just returns nothing. Since I wait for it to return something to run the re

[2016-05-22 04:04] pmorie commented on #2630
@andrejvanderzee @charles-crain my sincere apologies, I somehow missed the tags on this thread in the torrent of github alerts.  FSGroup is supported as of 1.2.0.

Host paths do not support FSGroup or SELinux relabeling, because those could provide an escalation path for a pod to take over a host.  However, that said, host paths are not created if they do not exist.  Could you be thinking of empty

[2016-05-22 04:30] Frusty commented on #26009
[code]

[2016-05-22 05:13] lavalamp opened #26036 "Make sure all deepcopy generated files are actually generated by the new generator"
@thockin reports that this is not true.

P0 because if this is not true, we may be copying partial objects.

[2016-05-22 05:15] streamnsight commented on #26035
if this logic is meant to be, and it won't change, I guess I can alter my logic and assume the IP of the pod running the hook will NOT be in the list, and add it myself.
It's dangerous if this behavior might change at some point.

[2016-05-22 05:31] bprashanth commented on #26035
The pod only joins the service when it's ready, which is after running. In 1.3 there will be an annotation you can use on a Service that allows endpoints for unready pods. Use it with caution, since readiness exists for a reason. Some situations where it's useful: https://github.com/kubernetes/kubernetes/issues/25283. The annotation is: https://github.com/kubernetes/kubernetes/blob/master/pkg/cont

[2016-05-22 05:53] thockin commented on #26036
Look at util/sets, instructions, pkg/API/resource, meta etc.

[2016-05-22 06:08] roberthbailey commented on #25998
It would certainly help debug kubemark when it starts failing and blocking the submit queue.

[2016-05-22 06:11] roberthbailey commented on #25063
I don't think that the apiservers should necessarily cross-check each other (and all other system components like the controller manager) and alert. If you are running an HA deployment, you should have something else making sure that your deployment is correct. On cluster creation, the startup scripts should do it.

[2016-05-22 06:33] #25950 closed

[2016-05-22 07:08] wojtek-t commented on #26036
Just answering for pkg/api/resource:

- it is generated, because it's imported from e.g. pkg/api

And because it's not explicitly mentioned in main.go file in generator, it doesn't have init() function:
https://github.com/kubernetes/kubernetes/blob/master/cmd/libs/go2idl/deepcopy-gen/generators/deepcopy.go#L93

I'm pretty sure the same case is for other files, but I will double check on Monday.

[2016-05-22 07:13] odeke-em commented on #3882
Is this issue still valid?
The referred issue was closed. A quick Github search for `StatusReasonUnauthorized` https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=StatusReasonUnauthorized shows usages in `pkg/api/*` and `pkg/client/restclient`.
Also from a search for `StatusDetails` (a struct that has an attribute `StatusReason`)  https://github.com/kubernetes/kubernetes/search?utf8=%

[2016-05-22 07:46] ndeloof commented on #2630
IIUC Empty Dir Volume are created for Pod but also destroyed when Pod is deleted, so they couldn't be used for persistant data (typically, jenkins_home considering @k82 scenario).

[2016-05-22 08:08] k82 commented on #2630
Currently, I'm using `0777` as workaround for demo environment; but a better solution is necessary for production :).

[2016-05-22 11:50] #25131 closed

[2016-05-22 13:59] vanloswang opened #26038 "Failed to start ContainerManager system validation failed - Following Cgroup subsystem not mounted: [cpuset]"
On raspberry pi 3 running Fedora 23.

go version
go version go1.5.4 linux/arm

go env
GOARCH="arm"
GOBIN=""
GOEXE=""
GOHOSTARCH="arm"
GOHOSTOS="linux"
GOOS="linux"
GOPATH=""
GORACE=""
GOROOT="/usr/lib/golang"
GOTOOLDIR="/usr/lib/golang/pkg/tool/linux_arm"
GO15VENDOREXPERIMENT=""
CC="gcc"
GOGCCFLAGS="-fPIC -marm -pthread -fmessage-length=0"
CXX="g++"
CGO_ENABLED="1"

kubectl version
Client Version:

[2016-05-22 14:35] mqliang commented on #26015
@xiang90
I am curious about why a recursive GET request will put a lot of load onto etcd and blocks other normal operations, but WATCH will not. AFAIK, all requests are served sequentially. Is it because the [GET](https://github.com/coreos/etcd/blob/master/store/store.go#L119-L156) method in store package is much more time-consuming than [WATCH](https://github.com/coreos/etcd/blob/master/store/sto

[2016-05-22 15:31] xiang90 commented on #26015
List might need to process thousands or even tens of thousands requests a time. It can require extensive amount of CPU, Memory and network IO. When you do not have enough physical resources, it blocks other operations.

Watch only process one item a time. List and Watch are different.