[2021-02-22 19:29] Jiawei0227 commented on #98281
aws-ebs topology update is here: https://github.com/kubernetes/kubernetes/pull/99130

[2021-02-22 19:30] Jiawei0227 commented on #98281
/triage accepted

[2021-02-22 19:36] Jiawei0227 commented on #80488
https://docs.google.com/document/d/1fEpM1s8qEU6pZvDh9NMsLug606NB5b2qP2GPdX3O_F8/edit

CSI Migration design doc by @yuga711

[2021-02-22 19:55] fl-max commented on #90922
Can anyone confirm if this has now been fixed in the upcoming v1.21 via [this PR](https://github.com/kubernetes/kubernetes/commit/8b52995d328a50169924eb27d8d03cb47a9ceac6#diff-d870edeb820f49abf2f52cd357a8a5396c7cd1a36e024d339146e512186c7297)?

[2021-02-22 19:56] fl-max commented on #90922
/remove-lifecycle rotten

Can anyone confirm if this has now been fixed in the upcoming v1.21 via [this PR](https://github.com/kubernetes/kubernetes/commit/8b52995d328a50169924eb27d8d03cb47a9ceac6#diff-d870edeb820f49abf2f52cd357a8a5396c7cd1a36e024d339146e512186c7297)?

[2021-02-22 20:04] g1bl3t opened #99321 "Push the CoreDNS 1.8.0 image in gcr.io"
Attempting to pull `k8s.gcr.io/coredns:1.8.0` and I noticed the tag doesn't exist on gcr.io, yet it does on the dockerhub repo. I noticed a few issues opened in this fashion requesting the latest image be pushed to gcr.io. Could someone do the needful?

See: https://github.com/kubernetes/kubernetes/issues/88343

------

Need to push the latest CoreDNS image to gcr.io
The 1.8.0 image is available i

[2021-02-22 20:05] juliantaylor commented on #99299
Sorry I misunderstood, no the service is supposed to be externalTrafficPolicy Local, it does not change, but the iptables configuration kube-proxy does for this type of service is wrong.

[2021-02-22 20:05] g1bl3t commented on #99321
/sig network

[2021-02-22 20:20] rajansandeep commented on #99321
From v1.7.1, [the image promotion is no longer done in the legacy way](https://github.com/kubernetes/k8s.io/pull/1405#issuecomment-725631498)

v1.8.0 should be available under `k8s.gcr.io/coredns/coredns:v1.8.0`

[2021-02-22 20:42] ahg-g commented on #99302
We thought about this before, factoring it out as a plugin is not as straightforward as one may think, but feel free to submit a more concrete proposal.

[2021-02-22 20:43] medyagh opened #99322 "Proposal: test kubernetes pre-releases against minikube"
in minikube we have made several performance measuring tools both for measuring the latency and also resource usage, that gets tested with minikube, I would like to test every alpha release of kuberentes with minikube, preferably on the kubernete side. (prow)

previous years minikube could have not be tested in prow because it was only VM drivers, we have support for docker/podman since 2019, I wo

[2021-02-22 21:09] rikatz commented on #99256
/assign @mattfenwick

[2021-02-22 21:12] rikatz commented on #97751
/assign @knabben

[2021-02-22 21:13] rikatz commented on #97506
/assign @jayunit100

[2021-02-22 21:13] rikatz commented on #97506
/close
Per request

[2021-02-22 21:13] #97506 closed

[2021-02-22 21:15] rikatz commented on #88253
/assign @jayunit100

[2021-02-22 21:16] knabben commented on #97640
/close

Windows tests are on https://github.com/kubernetes/kubernetes/issues/97751

[2021-02-22 21:17] rikatz commented on #51891
/assign @skmatti

[2021-02-22 21:17] hh commented on #98449
@lavalamp I wrote up my understanding of how @ii would map resources (k8s kinds?) back to `operationIds` here:
https://github.com/kubernetes/kubernetes/pull/99307#issuecomment-783641817

Is that accurate?

[2021-02-22 21:18] rikatz commented on #46625
/assign @knabben

[2021-02-22 21:19] rikatz commented on #46625
There's one last test to do, Amin will tackle this one :)

[2021-02-22 21:19] knabben commented on #97640
/reopen

[2021-02-22 21:19] abhiraut commented on #83400
here is the link to the ClusterNetworkPolicy KEP enhancement issue https://github.com/kubernetes/enhancements/issues/2091 , maybe we can close this one in favor of the enhancement ?

[2021-02-22 21:21] knabben commented on #97640
Using this issue as umbrela to:

`NetworkPolicyPort with Protocol but not Ports means "any port with that protocol"`

https://github.com/kubernetes/kubernetes/issues/46625

[2021-02-22 21:22] skmatti commented on #51891
/assign

[2021-02-22 21:27] neolit123 commented on #99322
@BenTheElder proposed that we start timing the kind deployments which are already in the e2e here and use kubeadm. these jobs run in high-priority and can catch perf. problems with them.

both kind and minikube are using kubeadm, so could also have the timing tests in the kubeadm e2e, but the kubeadm e2e are currently running in low-priority.

/sig testing cluster-lifecycle
/kind feature
/area tes

[2021-02-22 21:31] medyagh commented on #99322
could we add minikube two kubedm e2e too ?

[2021-02-22 21:32] msau42 commented on #99252
This PR may help with some of the flakiness:
https://github.com/kubernetes/kubernetes/pull/99320#issuecomment-783665180

cc @aojea

[2021-02-22 21:32] rikatz commented on #58624
/lifecycle frozen
We're coming back to this on Q3/2021, as almost all the group is out of bandwidth for taking a look into this, unless someone wants to join us to discuss this one :)

[2021-02-22 21:35] neolit123 commented on #99322
the kubeadm e2e test setup is based on something that resembles kind (uses it as a library).

i can see you already have prow jobs for the minikube repository:
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/minikube/minikube.yaml

you could add more periodic and pre/post-submit jobs there.

[2021-02-22 21:37] medyagh commented on #99322
excellent ! thank you for link, @azhao155 on minikube side is interesting in helping with this. I will add it our v1.19.0 milestone

[2021-02-22 21:37] Jiawei0227 commented on #99252
Are we sure this is caused by timeout?

[2021-02-22 21:43] aojea commented on #99252
I analysed a few failures and all of them were related to the test failing because the pod wasn't running.
This is one occurrence, quoted from https://kubernetes.slack.com/archives/CN0K3TE2C/p1614023847004200?thread_ts=1614021732.000800&cid=CN0K3TE2C

[code]

[2021-02-22 22:10] aojea commented on #90922
that PR you link is unrelated to this, it just adds validation to kubeadm, but does't allow to change them dynamically after configured, as requested here

[2021-02-22 23:22] BenTheElder commented on #99322
Anyone can add jobs to CI, however there are documented requirements for signal the release team monitors:
https://github.com/kubernetes/sig-release/blob/master/release-blocking-jobs.md

There is no guarantee that the CI signal team agrees to monitor any given signal, however the minimum requirements are listed there.

Note also that there's no "test on every alpha release" CI functionality. There

[2021-02-22 23:27] BenTheElder commented on #99322
Today we typically performance test on GCE clusters, with Kubernetes SIG Scalability primarily owning this space.

We have performance test presubmits even, but "cluster startup time" is not something the project has chosen to block on so far. If we do choose to block on this, we could easily do so it in our existing test jobs, we're already recording the timing typically.

It's not clear that the

[2021-02-22 23:33] ehashman commented on #99270
What is the current feature diff?

[2021-02-22 23:55] chewong opened #99325 "[sig-windows] k8s.gcr.io/e2e-test-images/nginx image not working on Windows clusters"
/sig windows
/cc @claudiubelu @jsturtevant

#### Which test(s) are failing:

[code]

#### Since when has it been failing:

After https://github.com/kubernetes/kubernetes/pull/98964 was merged I think.

#### Testgrid link:

https://testgrid.k8s.io/sig-windows-azure#aks-engine-azure-windows-master-staging

#### Reason for failure:

[code]

#### Anything else we need to know:

[2021-02-23 00:00] jsturtevant commented on #99325
I agree that looks like the issue.  It started failing between the two commits: https://github.com/kubernetes/kubernetes/compare/7a94debba...e142a5e1d on this run: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1359950429261139968

[2021-02-23 00:00] jsturtevant commented on #99325
/triage accepted

[2021-02-23 00:10] serathius commented on #99270
Looking into what klog flags, only -v was implemented, we are missing:
`--add-dir-header, --alsologtostderr, --log-backtrace-at, --log-dir, --log-file, --log-file-max-size, --logtostderr, --one-output, --skip-headers, --skip-log-headers, --stderrthreshold, --vmodule, --log-flush-frequency.

[2021-02-23 01:19] julianvmodesto commented on #99003
I think I can reproduce this in a kubectl integration test: https://github.com/kubernetes/kubernetes/pull/99277

[2021-02-23 01:24] #99039 closed

[2021-02-23 01:24] #99076 closed

[2021-02-23 01:28] michaelgugino commented on #98506
As I mentioned in the PR, eviction is passing negatives through to the store: https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/pod/storage/eviction.go#L160

In kubectl, we specify the default value for GracePeriod is -1.  In the case of delete, we simply don't set the value in the deleteOptions we send to the API.  In the case of eviction, we send the -1 value, and that gets

[2021-02-23 01:29] tanjing2020 commented on #99306
/assign

[2021-02-23 01:35] yuzhiquan commented on #99270
if have another log format in the future, we also need to implement all of these  flags?

[2021-02-23 01:40] chaochn47 opened #99328 "Set up exponential backoff, retry and limits on AWS STS call in aws cloud providor"
When starting kube-controller-manager with `--cloud-provider=aws --cloud-config=/var/lib/kubernetes/aws.config` and the following config, any operations related to sync worker nodes, persistent volumes, elastic network interfaces in the aws account will require aws sts client to get the credentials.

[code]
https://github.com/kubernetes/kubernetes/blob/48a0ef6a396f84ec93a8e68d9843c6fe27c4e848/stag

[2021-02-23 01:41] chaochn47 commented on #99328
/sig cloud-provider

[2021-02-23 01:42] ahg-g commented on #98828
Any idea why do we care about pod updates for assumed pods? Assumed pods are waiting to be bound, if that fails, their latest version will be put back into the unschedulable queue anyways.

[2021-02-23 01:54] michaelgugino commented on #98214
If you must always have 1 of something, you should deploy 2.

If you want pod-2 to cause another pod to be evicted, pod priorities can preempt a lower priority pod to make room for pod-2.  PDBs are supported best-effort there, so your scenario should work provided pod-2 has a higher priority than pod-1.

I don't think deployments or replicasets support a 'degrading priority' where the first pod ha

[2021-02-23 02:06] ahg-g commented on #99302
Bind may map ok, but because we need to make a single call for all nodes, the extender filter would need to be implemented as PreScore while the prioritize will be implemented as a `NormalizeScore` of the Score extension point. It is not going to look pretty ...

[2021-02-23 02:21] k82cn commented on #99302
Sure, I'll check that :)

/cc @wpeng102

[2021-02-23 02:26] k82cn commented on #99302
/assign

[2021-02-23 02:51] sxllwx commented on #97962
Fixes for panics already be backported~ @ialidzhikov @roycaihw

[2021-02-23 03:12] CaoDonghui123 commented on #99243
HI, I would like to fix a part of test/e2e/apimachinery/

[2021-02-23 03:14] pacoxu commented on #99243
https://github.com/kubernetes/kubernetes/pull/99120#issuecomment-780017178
@CaoDonghui123 would you ping @palnabarun  if he has already started working on it ?

[2021-02-23 03:14] vinaykul commented on #5774
/remove-lifecycle stale

Redesigned API changes is under review: https://github.com/kubernetes/enhancements/pull/1883

[2021-02-23 03:23] CaoDonghui123 commented on #99243
sorry I have not noticed. It looks like he's working for it

[2021-02-23 03:41] palnabarun commented on #99243
@pacoxu @CaoDonghui123 -- I'm not working on this. But, I think @Darshnadas is already working on this.

[2021-02-23 03:46] liggitt commented on #98506
That -1 doesn't make it to the API. It looks like values < 0 result in a nil value being sent to the API:

https://github.com/kubernetes/kubernetes/blob/4225e1f1cc38cec4986a79f10cecfbdb561e8d03/staging/src/k8s.io/kubectl/pkg/drain/drain.go#L136-L140

The API should never accept a negative value.

[2021-02-23 04:04] felirs opened #99340 "Error "Socket: Socket is Closed" Occur When Rolling Update"
#### What happened:
We used the aws cloud provider.
When a project is rolling update, API calls may fail by incident especially the old pods are terminating.
The error message is **Socket: Socket is Closed**.

#### What you expected to happen:
All the API calls are totally success.

#### How to reproduce it (as minimally and precisely as possible):
1. Modify deployment (use kubectl edit deploy XXX

[2021-02-23 04:06] felirs commented on #99340
/kind support

[2021-02-23 04:08] felirs commented on #99340
/area /workload-api/deployment

[2021-02-23 04:09] brianpursley commented on #95089
Hi @fromanirh

It looks like @zhouya0 fixed the issue with https://github.com/kubernetes/kubernetes/pull/93920 which I think is in 1.21.

I tried to reproduce this issue on a 1.21 cluster and no longer see the problem occur.

I think this can be closed.

[2021-02-23 04:09] #95089 closed

[2021-02-23 04:09] felirs commented on #99340
/area workload-api/deployment

[2021-02-23 04:10] felirs commented on #99340
/area provider/aws

[2021-02-23 04:36] samos123 commented on #7890
I've documented the steps I had to take to load a custom AppArmor profile that specifically allowed mounting fuse: https://github.com/samos123/gke-gcs-fuse-unprivileged

Here is the AppArmor profile that I used: https://github.com/samos123/gke-gcs-fuse-unprivileged/blob/main/lxc-default.apparmor (I took the lxc-default which had fuse rules already in them). Honestly sounds like docker should proba

[2021-02-23 04:42] pacoxu commented on #90503
`kubelet` can configure pause image for docker-shim only that will be deprecated later.
The pause image is decided by cri in general, for instance, containerd can specify it in its configuration.
I thinks it works as expected.

This is not a k8s cluster-scope issue. It is something that container runtime should concern about.
- As Ted said, `docker login ` to the specific repo for pause image pull

[2021-02-23 05:00] marosset opened #99342 "In-Tree storage plugin disk mounting does not work with Windows and containerD"
#### What happened:
When attempting to use in-tree storage plugin that mount/partition/formation disks (ex: Azure-Disk) containers creation fails on Windows nodes with something like

[code]

#### What you expected to happen:
Container creation show succeed

#### How to reproduce it (as minimally and precisely as possible):
- Create a k8s cluster with a Windows node configured to use in-tree azue

[2021-02-23 05:05] Bessonov commented on #57660
/remove-lifecycle stale

[2021-02-23 05:08] Huang-Wei commented on #98828
It seems we cannot control how users update a pending Pod, and also cannot easily determine its real semantics (e.g., does a annotation/label update indicate the pod is more schedulable or not, etc.), so I kinda agree adhering to backoff policy is a mild option, in which case the downside is a Pod may have a delayed latency; while moving it immediately to activeQ may delay/block low-priority pods'

[2021-02-23 05:11] BenTheElder commented on #94567
this is failing in CI as well https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/98799/pull-kubernetes-bazel-test/1364069726292021248

[2021-02-23 05:12] marosset commented on #97304
I don't think `/test pull-kubernetes-e2e-azure-disk-windows-containerd` works.

I only see 1 run which failed on https://testgrid.k8s.io/sig-windows-presubmit#pr-k8s-azure-disk-e2e-master-windows-containerd and also think I just root-caused an issue with windows + contianerd + azure disk -> https://github.com/kubernetes/kubernetes/issues/99342

[2021-02-23 05:13] marosset commented on #99342
/triage accepted

[2021-02-23 05:16] BenTheElder commented on #99286
AIUI this is not being changed currently due to it technically being a regression but I'm having trouble finding the discussion I recall.

https://github.com/kubernetes/kubernetes/issues/14791 appears to be the tracking bug for this

Poking that issue again, but de-dupliating in the meantime. Please see #14791
/kind duplicate
/close

[2021-02-23 05:16] #99286 closed

[2021-02-23 05:16] BenTheElder commented on #99286
/triage duplicate

[2021-02-23 05:17] BenTheElder commented on #14791
Just reminded of this in https://github.com/kubernetes/kubernetes/issues/99286 @kubernetes/sig-api-machinery-bugs this one still seems surprising.

[2021-02-23 05:17] marosset commented on #99342
cc @ravisantoshgudimetla @andyzhangx @kevpar @ddebroy @jingxu97

This probably impacts csi-proxy and CSI plugins as well (haven't had a chance to confirm yet)

[2021-02-23 05:21] pre commented on #7890
@samos123 Fantastic! Well done 🥂

[2021-02-23 06:10] chaochn47 commented on #99328
/cc @nckturner @jqmichael @shravan-achar

[2021-02-23 06:18] andyzhangx commented on #99342
here is the error msg returned by azure disk CSI driver on Windows containerd, looks like there is similar issue in csi-proxy:
[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/702/pull-azuredisk-csi-driver-e2e-windows-containerd/1355114435349319680

[2021-02-23 06:59] ialidzhikov commented on #97962
@sxllwx , thank you once again! Then I am closing this issue.

[2021-02-23 06:59] ialidzhikov commented on #97962
/close

[2021-02-23 06:59] #97962 closed

[2021-02-23 07:36] fromanirh commented on #95089
Thanks! :)

[2021-02-23 07:38] uablrek commented on #99162
To see the dynamics do `watch ipvsadm -Ln -t 192.168.1.2:32502` (with your address of course). Below is a snapshot but to watch it unfold in RT is more interresting;
[code]
From a first glance it looks like the ipvs-proxier does it right: it sets Weight=0 for the deleted pods but,
_the `ActiveConn` is incremented even for pods with Weight=0._

This seems wrong to me. I will hopefully get some time

[2021-02-23 07:55] uablrek commented on #99162
I changed the scheduler to "wrr", weighted round-robin, but the result is the same. Kind of a relief since to my experience Weight=0 is honored for scheduler "rr".

[2021-02-23 08:03] fromanirh commented on #43423
It seems to me this test https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/mirror_pod_test.go#L69 covers the issue tracked here. Can we close this issue then?

[2021-02-23 08:12] L-maple opened #99349 "HorizontalPodAutoscaler v2beta2 bug"
#### What happened:
When I use HPA v2beta2 with custom metric, I found the hpa automatically scaleup the pods out of control and the described reason is "All metrics below targets". The HPA description is as follows:
[code]

When I check the custom metric,  I find actually the metric, which is 0, is below target.

So what's the real reason HPA scaleup??

#### What you expected to happen:
I expect

[2021-02-23 08:24] L-maple commented on #99349
/sig autoscaling

[2021-02-23 08:31] serathius commented on #99265
Looks like code to handle klog flags is spread around multiple places. Recently I found that globalflags are also part of component-base/cli.  https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/staging/src/k8s.io/component-base/cli/globalflag/globalflags.go
I think we should start discussion with owners if this transition makes sense.

[2021-02-23 08:34] serathius commented on #99265
Based on https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/staging/src/k8s.io/component-base/OWNERS
/cc @sttts @lavalamp @mtaufen @luxas @stealthybox

Are there any reasons against moving klog flags from global component-base to logging?

[2021-02-23 08:37] serathius commented on #99267
I think there were problem with test failures, also this code touches API (delicate and slow to review) and code of a lot of components complicating implementation.

[2021-02-23 08:39] serathius commented on #99267
It's pretty complicated issue so I would not recommend it for first contribution. If you're interested in other work in sig-instrumentation/structured logging area, I can recommend helping with migrating kubelet to structured logging.  https://github.com/kubernetes/kubernetes/issues/98976

[2021-02-23 08:54] JoshuaAndrew commented on #99349
@L-maple  metric whether_add_pod above target, so scaleup behavior works as expected,

[2021-02-23 08:58] L-maple commented on #99349
Really thanks fot your quick tips, but I mean the following events are strange. The HPA adds pod automatically...
[code]

[2021-02-23 09:04] BenTheElder commented on #99238
What package dependencies?

- Go source code is fully vendored.
- Image builds use base images from Kubernetes (fairly good about being parameterized here) but those are prebuilt elsewhere, none of the core image builds in this repo do e.g. apt install, they just need the base images

[2021-02-23 09:16] L-maple commented on #99349
@JoshuaAndrew Hi~ Do you have any other suggestions? Disabling scaledown would cause this problem?(My guess...)

[2021-02-23 10:04] QuentinBisson opened #99352 "ValidatingWebhook Equivalent Match Policy fails when apiVersions are conflicting"
#### What happened:

I configured a validating webhook for ingresses with the default Equivalent match policy and defined overlapping equivalent apiversions:

[code]
When I create `networking.k8s.io/v1beta1` ingress, they are created successfully but when I created  `networking.k8s.io/v1`, the validation failed with
`Error from server (InternalError): error when creating "ingress.yaml": Internal e

[2021-02-23 10:37] danielo-directeam opened #99353 "Helm3 Error: constructing many client instances from the same exec auth"
Hi,

After upgrading my Helm from V2 to V3 (using the latest both plugin and Helm versions) I faced this issue:
When I execute the command "helm3 upgrade prod prod/ -f prod/values.yaml -n prod" I see warnings appear:
W0211 14:37:45.549273    2095 exec.go:271] constructing many client instances from the same exec auth config can cause performance problems during cert rotation and can exhaust availa

[2021-02-23 11:04] szpak opened #99354 ""kubectl diff --not-yet-supported" returns 1 which means "Differences were found""
#### What happened:

`kubectl diff --not-yet-supported ...` returns 1 as an exit code:

[code]
(`$status` keep last exit code in Fish Shell - `kubectl diff` behaves the same in bash)

#### What you expected to happen:

Based on the help message for diff subcommand:

I would expect to have anything `>1` returned.

#### How to reproduce it (as minimally and precisely as possible):

In Bash:
[code]

[2021-02-23 11:06] szpak commented on #99354
/sig sig-cli

[2021-02-23 11:06] szpak commented on #99354
/sig cli

[2021-02-23 11:22] gavinfish commented on #99354
/assign

[2021-02-23 11:45] zhangle-dev opened #99356 "Pod Evicting When Hugepages Are Used and Resources Are Insufficient"
I have a question. When I looked at the source code related to pod eviction, I found that when available < threshold, the eviction action was triggered. available = capacity-workingset. When hugepage is configured in the system, if available contains hugepage, will the remaining memory be insufficient and cannot be evicted?

[2021-02-23 11:50] mowangdk commented on #99005
/assign

[2021-02-23 12:18] mattfenwick commented on #99256
Hi @fzu-huang 👋 I'm one of the maintainers who's been working on the e2e network policy tests recently!  We've recently enhanced the [network policy tests](https://github.com/kubernetes/kubernetes/tree/master/test/e2e/network/netpol) to use connectivity tables to help clarify these details -- check out [this PR](https://github.com/kubernetes/kubernetes/pull/91592) and [the associated KEP](https://

[2021-02-23 12:22] mattfenwick commented on #99256
@fzu-huang adding one or two more named port egress test cases could also help clarify this test.  We do have a pair of ingress tests for named ports but just the one for egress.

[2021-02-23 12:42] chenyw1990 commented on #98660
/assign

[2021-02-23 13:25] ProgramerGu opened #99359 "xpu-plugin"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind feature

What happened:
Kubernetes has supported a variety of heterogeneous device management plugins, such as GPU plugin and GPU share. This issuse mainly focuses on the Kunlun chip device XPU developed by Baidu company
What you expected to happen:
A new device-plugin for xpu
How to reproduce it (as minimally and precisely as possible):
XPU Device-

[2021-02-23 13:26] pacoxu commented on #99353
no helm sig here😅

you may open an issue in https://github.com/helm/helm/issues

/close

feel free to reopen if it is a kubernetes bug.

[2021-02-23 13:26] #99353 closed

[2021-02-23 13:34] pacoxu commented on #99359
/sig node
https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/#examples
here are some examples.

[2021-02-23 13:37] Mierpo commented on #31424
We're also running into this issue, what's the proper work-around for this (without increasing the server's disc size)?

[2021-02-23 14:21] michaelgugino commented on #98506
Looks like you are correct.  Do the deletionOptions go through their own validation or through some kind of validation for the evict API?  The original bug report mentions 'evict' though it's not clear if the eviction API was used or not.

[2021-02-23 14:27] liggitt commented on #98506
ValidateDeleteOptions is called inside pod deletion, but did not check that the field was non-negative. I don't see any eviction-specific validation.

[2021-02-23 14:30] perithompson opened #99360 "Windows cross-build image in Pause is a hosted on docker hub image causing builds to fail"
#### What happened:
When including windows in a pause build I get a rate limit error as it tries to pull dockcross/windows-static-x64:latest. This causes the build to fail.
[code]

#### What you expected to happen:
This image should be stored and pulled from k8s.gcr.io/build-image as there should be a copy of this in k8s.gcr.io/build-image to mimic kube-cross for Linux images

#### How to reproduc

[2021-02-23 14:30] perithompson commented on #99360
/sig windows

[2021-02-23 14:33] perithompson commented on #99360
@dims @claudiubelu Are you either of you able help with getting this image into the k8s gcr or if there is a reason why it can't be put there??

[2021-02-23 14:34] gavinfish commented on #99354
For unsupported flag, it is a general case which handled by cobra lib. By default, we set the exit code as 1 when something wrong with the kubectl command. `diff` subCommand never gets a chance to overwrite the exit code in this case.

[2021-02-23 14:48] primeroz commented on #96764
I experienced the same issue , if the node port change the update of the target groups will fail, i guess the port of a node group on aws can't be changed ?

[2021-02-23 14:49] adtac commented on #99304
the data is generated by clusterloader2. it does not use kubemark; instead it creates 5k real VMs on GCP.

Right, but SchedulingBasic should imitate most aspects of the clusterloader2 test in this issue.

[2021-02-23 14:55] liggitt commented on #99311
I would not expect projected service account tokens to support injection via envvar for the following reasons:
* envvars appear in unsecured output of the container runtime environment (e.g. `docker inspect`, `crictl inspect`)
* envvars are only set on container start, and the projected tokens are time-bound and require refreshing

cc @kubernetes/sig-auth-feature-requests @mikedanese @zshihang - t

[2021-02-23 15:05] adtac commented on #99304
unfortunately git bisect on scheduler_perf wasn't useful. I'm going to run git bisect on the clusterloader test but that's going take a while.

[2021-02-23 15:05] adtac commented on #99304
/assign

[2021-02-23 15:06] roizentner commented on #98214
Hi @michaelgugino,
Thank you for the insights. I have some comments:

Says who? For the sake of argument, let's change "always" to _almost always_.
I can live with a few seconds of 0 of something, as long as some mechanism makes an effort to minimize that time.

I am aware of pod priorities, but in my case, all deployments are born equal. I want 1 of each and can't afford giving up on one for anot

[2021-02-23 15:09] ademariag commented on #99311
thank you @liggitt, you make very valid points, but the same applies to secrets keys: they are also "sensitive" and they are also subject to being refreshed/updated out of band.

[2021-02-23 15:13] m1o1 commented on #72811
We did a workaround by taking the desired limit utilization (say 60%) and multiplying by (resource_limit / resource_request). Our quantities are small enough to do `resLimit.MilliValue() / resRequest.MilliValue()` without worrying about MilliValue overflowing the int64. This sets the target utilization in HPA above 100% but seems to translate properly to the percentage of the limit.

[2021-02-23 15:14] adtac commented on #99304
commits between known good and first known bad: https://github.com/kubernetes/kubernetes/compare/7a7778941b50b8...f48972e671e5f3

[2021-02-23 15:15] ahg-g commented on #99304
Adi, can you try and just look at the profiles and compare two data points, anyone before (https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1358823239299633152/artifacts/) and anyone after (https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1363534223436156928/artifacts/).

[2021-02-23 15:21] denkensk commented on #93500
/remove-lifecycle stale

[2021-02-23 15:26] liggitt commented on #99311
That's true, but secrets are a generic mechanism, so for secrets that are not modified, envvar injection could be reasonable. Projected service account tokens are known to be time-bound, so I would not expect to support injecting them via a mechanism that does not support that property.

It is reasonable for users to expect the API surface provided to them to not compromise the security properties

[2021-02-23 15:37] ahg-g commented on #98828
Right, so my point is why do we need to put back an assumed pod in the queues at all on an update event? Is there any drawback to simply skip all assumed pod updates?

[2021-02-23 15:44] ademariag commented on #99311
I fully understand your point of view, but the concerns you are raising are limited to long lived services, and would not necessarily apply for a large class of workloads with limited lifespan, much shorted than the token itself (or when the token is only needed to bootstrap the service), and for which it would make a great sense to be able to leverage the same generic approach already available f

[2021-02-23 15:50] thejoycekung commented on #97312
Flaked twice ~2 weeks ago but now looking good: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=%2F%2Fstaging%2Fsrc%2Fk8s.io%2Fapiserver%2Fpkg%2Fserver%3Ago_default_test#3710be1755dbe609108c

Since it's been relatively quiet, I'm going to go ahead and close this for now.

/close

[2021-02-23 15:59] thejoycekung commented on #94718
This is still flaking: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=restarted%20with%20a%20tcp%3A8080%20liveness%20probe#750b22ec47b6fe63f00a

Example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-2004/1363288610819805184

/cc @kubernetes/sig-windows-bugs

[2021-02-23 16:30] jsturtevant opened #99363 "Migrate Windows test images from k8sprow.azurecr.io/kubernetes-e2e-test-images to gcr promoted registry"
#### What happened:
We started to move Windows Tests images to the new promoter registry in #98964 but ran into a few issues.  This is an aggregate issue to track converting the Window Images back to the

- https://github.com/kubernetes/kubernetes/issues/99325
- https://github.com/kubernetes/test-infra/issues/20884

#### What you expected to happen:
Windows tests to be able to use the test images

[2021-02-23 16:38] jsturtevant commented on #99363
To mitigate this in the mean time we cut the windows tests images back to the k8sprow.azurecr.io/kubernetes-e2e-test-images container registry and the tests are in much better shape now.

[2021-02-23 16:40] sseneca commented on #95826
I think you're right. I've upgraded to k8s v1.20.4 and am not having this issue any more.

[2021-02-23 16:40] #95826 closed

[2021-02-23 16:55] adtac commented on #99304
@ahg-g thanks, I'll dig into that.

looping in @wojtek-t for a SIG scalability perspective. anything change in the test infra recently (~10-Feb) that might be relevant?

[2021-02-23 17:02] michaelgugino commented on #98214
@roizentner Some of what I wrote is for posterity.  Others might view this issue and need a work around, so I tried to put out some ideas to make things work as they are today.

I think the priority/preemption is the correct way to solve this issue.  You're asking the scheduler to prioritize some workload over another workload, this abstraction already exists.  What is missing from this abstractio

[2021-02-23 17:02] ravisantoshgudimetla opened #99365 "Windows volume mounts check volume mount permissions container should have readOnly permissions on hostMapPath"
#### Which jobs are failing:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1364218404642230272
#### Which test(s) are failing:
Kubernetes e2e suite: [sig-windows] [Feature:Windows] Windows volume mounts check volume mount permissions container should have readOnly permissions on hostMapPath
#### Since when has it been failing:

##

[2021-02-23 17:03] ravisantoshgudimetla commented on #99365
/sig windows

[2021-02-23 17:09] roizentner commented on #98214
@michaelgugino, your ideas are great and could help others, I agree.
I just wanted to let you know that they are not suitable for my scenario.

I love your proposed solution! Wish it could be developed...

[2021-02-23 17:17] ravisantoshgudimetla commented on #99365
/assign

[2021-02-23 17:18] michaelgugino commented on #98214
I think scheduling should be included on this issue as well.  Something like this might be possible today with scheduling plugins.

/sig scheduling

[2021-02-23 17:24] jsturtevant commented on #99363
/cc @claudiubelu

[2021-02-23 17:39] jingxu97 commented on #99342
I had a PR to fix eval symlink issue for subPath. They might be related. https://github.com/kubernetes/kubernetes/pull/93707

[2021-02-23 17:44] gnufied commented on #94567
This should be fixed by https://github.com/kubernetes/kubernetes/pull/99174

[2021-02-23 17:56] jayunit100 commented on #99360
context - this might be due to use pulling from a small # of  vmware internal IPs

[2021-02-23 18:00] jayunit100 commented on #99360
goal from sig-windows ~ move this into GCR eventually ~ @BenTheElder would that be ok ?

[2021-02-23 18:03] lyzs90 commented on #99126
We could act on the `FailedToMakePodDataDirectories` and `FailedToMakePodDataDirectories` events, https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1680-L1695, and update the node ReadyCondition so pods will not be scheduled. But this should only be for a finite amount of time otherwise the node will not be allowed to recover.

[2021-02-23 18:34] chewong commented on #99365
Looks like it's a flaky test instead of a failing test
/cc @jsturtevant

[2021-02-23 18:44] alculquicondor opened #99368 "Track completed indexes without relying on lingering pods"
The features "Indexed Job" kubernetes/enhancements#2214 and "Job tracking without lingering pods" kubernetes/enhancements#2307 won't work together in alpha. But it is a requirement for beta graduation.

/sig apps
/area workload-api/job
/assign

[2021-02-23 18:57] chewong opened #99369 "Kubernetes e2e suite.[sig-windows] DNS should support configurable pod DNS servers"
#### Which jobs are failing:

#aks-engine-azure-1-19-windows

#### Which test(s) are failing:

Kubernetes e2e suite.[sig-windows] DNS should support configurable pod DNS servers

#### Since when has it been failing:

Feb 19, 2021

#### Testgrid link:

https://testgrid.k8s.io/sig-release-1.19-informing#aks-engine-azure-1-19-windows

#### Reason for failure:

[code]

#### Anything else we need to kn

[2021-02-23 19:10] xvjiarui commented on #98368
Upvote for support  'Ready & Age'.

[2021-02-23 19:31] zshihang commented on #99311
storing tokens in EnvVar makes them easier to be logged/exposed. not all users are security-aware, we'd not advocate this approach by not providing the API.

[2021-02-23 19:36] mtaufen commented on #99265
I think we generally want to be careful about which global flags we register, and it's preferable for new flags to not be global (e.g. the klog ones are only global for legacy reasons). Is there a reason this has to be moved?

[2021-02-23 19:37] back-2-95 commented on #13776
Just wanted to let you know what started to work for me:

[code]

Weirdest was that when I had:

`rsync:/var/www/html/public/sites/default/files/ ./public/sites/default/files/`

It synced everything from working dir and did not respect that path.

And that was needed to change to flag `--rsync-path=/var/www/html/public/sites/default/files/` and having src & dest as `rsync: ./public/sites/default/f

[2021-02-23 19:43] liggitt commented on #99311
I've added this to the agenda for the March 3rd sig-auth meeting to see what other folks in the sig-auth community think.

Specifically for that use case, would setting PGPASSFILE to `/var/run/secrets/kubernetes.io/serviceaccount/token` work? Notably, the psql documentation also recommends against use of PGPASSWORD:

[2021-02-23 19:44] sseetharaman6 opened #99370 "Kubelet restarts due to concurrent map read and write"
#### What happened:
Kubelet restarted due to `fatal error: concurrent map read and map write`.  Topology manager enabled with best-effort policy, CPU manger is not running.
[code]
#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):  v1.19.2
- Clou

[2021-02-23 19:46] jsturtevant commented on #99365
@claudiubelu mentioned this could be related to permissions:

There might be two things happening, the test isn't actually waiting for pod to start (which is why it passes sometimes) and but when it does start it fails the test due to the permissions

[2021-02-23 19:47] alculquicondor commented on #99252
I'm seeing the same error for:

[code]

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind&include-filter-by-regex=PVC%20Protection

[2021-02-23 20:04] gnufied opened #99372 "vsphere disk provisioning can be slow in large clusters"
Currently whenever a vSphere volume is provisioned, we are looking at all nodes in the cluster and then fetching their hosts and then their datastores and then ensuring that selected datastore in present on all the nodes. This is done every time a new PVC is provisioned.

It can be pretty expensive in large clusters and number of involved API calls can be big.

/sig storage
/area vsphere

cc @divy

[2021-02-23 20:04] gnufied commented on #99372
/triage accepted

[2021-02-23 20:05] wojtek-t commented on #98326
@spiffxp - also one more thing to do would be to ensure that no tests are tagged with more then one SIG (which I think isn't true now for a few tests)

[2021-02-23 20:13] ltagliamonte-dd opened #99373 "AWS ELB healtcheck SYN Flood in pod"
Networking to service/pod when draining config are applied to existent AWS ELB.

**Versions**:
[code]

[code]

How to reproduce the issue:
- Create a namespace:
[code]
- `kubectl apply` the following manifests:
[code]

Traffic to the pod is healthy all instances attached to the ELB are in Service.
[code]
in another shell:
[code]
pod is correctly logging the requests in another shell:
[code]

Let's

[2021-02-23 20:16] ltagliamonte-dd commented on #99373
/sig network

[2021-02-23 20:30] jsturtevant commented on #51540
looks like this got lost but should still be on sig-windows backlog

/reopen

[2021-02-23 20:33] spiffxp commented on #98326
Good point.  There are tinier corner cases, but let's start with the big one.

/sig storage
/sig windows
/assign @msau42 @jsafrane @marosset

There are a bunch of storage tests that look like the following:
[code]
Which SIG should own these?

[2021-02-23 20:35] Huang-Wei commented on #98828
Not any I'm aware of. If the binding goroutine runs successfully, it indicates API server already handles potential conflicts properly if there is any; if the binding goroutine failed, we always fetch the latest version from podLister and add it back into queue:

https://github.com/kubernetes/kubernetes/blob/9d7d3eb820c5297b5fcd5ffa21399c8bf2da744a/pkg/scheduler/factory.go#L341

[2021-02-23 20:41] ahg-g commented on #98828
Yup, that was my conclusion as well here https://github.com/kubernetes/kubernetes/issues/98828#issuecomment-783803840. I think then we can simplify that and simply ignore the update and scheduling of assumed pods then, and keep the pod diffing for non assumed pods when moving them out of the unachedulable queue.

[2021-02-23 20:42] ltagliamonte-dd commented on #99373
- update:
it breaks also if you start directly with connection draining on the ELB:
[code]

[2021-02-23 20:49] ImJasonH opened #99376 "gitVersion results in inconsistent string values"
Ref. https://github.com/google/ko/issues/315#issuecomment-783718564

[pkg/version/base.go](https://github.com/kubernetes/client-go/blob/12449b5492ee1108d29d9ee17b428c84a6a3f55b/pkg/version/base.go#L58) includes:

	// NOTE: The $Format strings are replaced during 'git archive' thanks to the
	// companion .gitattributes file containing 'export-subst' in this same
	// directory.  See also https://git

[2021-02-23 20:58] marosset commented on #98326
We make us of `[Feature:Windows]` for many e2e tests that only run on windows machines.
My suggestion here is probably to have sig-storage own these tests as they reside under /test/e2e/storage/* and switch to using `[Feature:Windows]` instead of `[sig-windows]` in the test names.
SIG-windows will always be happy to help debug issues here.

@jayunit100 @jingxu97 - thought?

[2021-02-23 21:02] alculquicondor commented on #99252
@pacoxu could you clarify why you think there's a problem with scheduling?

[2021-02-23 21:06] BenTheElder commented on #96770
IIRC the new registry does not support mutating tags so I don't think we can do anything about it at this point.

[2021-02-23 21:10] Jiawei0227 commented on #98279
/close

[2021-02-23 21:11] #98279 closed

[2021-02-23 21:14] liggitt commented on #99376
Thanks for the report. Moving to kubernetes/kubernetes where this source comes from.

There's not a lot we can do for past releases, but I'd be in favor of switching to %H going forward. Reproducibility of source archives is important.

[2021-02-23 21:15] Jiawei0227 commented on #98281
cinder topology fix is here: https://github.com/kubernetes/kubernetes/pull/99367
Waiting for topology label update.

[2021-02-23 21:18] fedebongio commented on #73698
@rtheis friendly ping

[2021-02-23 21:19] fedebongio commented on #87185
/triage accepted
/assign @deads2k

[2021-02-23 21:21] fedebongio commented on #99139
/assign @lavalamp
/triage accepted

[2021-02-23 21:22] fedebongio commented on #99231
Hello @spyyang thank you for opening the issue. Are you planning to send a PR to fix it since you've identified the fix?
Thanks!

[2021-02-23 21:23] fedebongio commented on #99240
/cc @sttts
/triage accepted

[2021-02-23 21:24] fedebongio commented on #99303
/triage accepted

[2021-02-23 21:24] fedebongio commented on #99286
/triage accepted

[2021-02-23 21:28] BenTheElder commented on #14791
From SIG API Machinery slack:
@deads2k:

This sounds good to me, of course someone has to be willing to do the work ... and I'm currently already working on too many things 😅

[2021-02-23 21:36] msau42 commented on #98326
I think it makes sense for storage to own the windows storage tests. Using [Feature:Windows] seems reasonable although we'll have to update a number of test jobs.

[2021-02-23 21:40] dims commented on #99370
@sseetharaman6 please see the following:
https://github.com/kubernetes/kubernetes/pull/93243/files#diff-623f1164bd7d648ee0421742187c76b5071b44315aee695f29edc0203b6c762dR1046-R1047

There's an additional mutex that was introduced in https://github.com/kubernetes/kubernetes/pull/93243 looks like you have to try 1.20.x to see if the problem is already fixed.

[2021-02-23 21:40] dims commented on #99370
/sig node

[2021-02-23 21:46] sseetharaman6 commented on #99370
@dims, thanks I believe this is the mutex  : https://github.com/kubernetes/kubernetes/blob/v1.20.0/pkg/kubelet/cm/devicemanager/manager.go#L1051  and it is part of 1.20.x release.  Will this be backported to 1.19.x by any chance?

[2021-02-23 21:47] dsmaugy commented on #98895
@ahg-g Yep! Figured it out, turns out many of those nodes were almost at full capacity of 110 pods. Once they reached 110, the scheduler would mark them as ineligible but this isn't reported in the default verbose logging. Thanks! Closing this issue.

[2021-02-23 21:47] #98895 closed

[2021-02-23 21:51] ademariag commented on #99311
hi @zshihang, I am sorry I do not understand the last sentence:

Could you please explain what you mean? Do you also agree this feature should not be implemented?

[2021-02-23 21:52] ademariag commented on #99311
Thank you @liggitt I will try your approach as well :)

[2021-02-23 22:04] zshihang commented on #99311
yea, in my opinion we should not implement this feature. in general, it is not a good idea to sacrifice security for convenience.

[2021-02-23 22:06] SergeyKanzhelev commented on #95932
/cc

[2021-02-23 22:12] chewong commented on #99363
Steps we took to mitigate the issues temporarily:
- [x] we stoped using the default test image registry `k8s.gcr.io/e2e-test-images` because it contains erroneous httpd & nginx test images. Instead, we switched to `k8sprow.azurecr.io/kubernetes-e2e-test-images` by adding `promoterE2eRegistry: k8sprow.azurecr.io/kubernetes-e2e-test-images` (PR: https://github.com/kubernetes-sigs/windows-testing/pul

[2021-02-23 22:14] ademariag commented on #99311
Thank you @zshihang and @liggitt for your opinions and for discussing this at the sig-auth meeting.

I fully understand you concerns, so much so that If you want, feel free to close now this request.

But I am still somehow puzzled by the inconsistency between this feature request and the already present `secretRefKey` support.

As @liggitt says, if sharing `secrets` through EnvVar is always to be

[2021-02-23 22:20] spiffxp commented on #94776
If NetworkPolicy is an optional feature or not supported by all clusters at a given version, it's not really eligible for Conformance (ref: https://github.com/kubernetes/kubernetes/pull/97205#issuecomment-742697249)

[2021-02-23 23:13] rtheis commented on #73698
I'll update our test to add that.  However, reproducing this is difficult.

[2021-02-23 23:17] spiffxp commented on #96770
Unfortunately 1.16 is out of support at this point, as is 1.17 (ref: https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-versions)

But we haven't pushed anything new lately, so this is probably still the case for supported releases.

The version of redis used isn't pinned at image build time for most arch builds: https://github.com/kubernetes/kubernetes/blob/599e7778b2a38452a1

[2021-02-23 23:23] #98936 closed

[2021-02-23 23:23] #98920 closed

[2021-02-23 23:23] #98870 closed

[2021-02-23 23:28] spiffxp commented on #98606
/priority important-soon
/milestone v1.21

[2021-02-23 23:35] dims commented on #99370
@sseetharaman6 probably not as it is part of the larger https://github.com/kubernetes/kubernetes/pull/93243 which is marked a feature.

[2021-02-23 23:44] robscott opened #99382 "EndpointSlice Controllers should use multiple slices for Services with many ports"
#### What happened:
The EndpointSlice controllers are unaware of the limit on the number of EndpointSlice ports. When a Service has more than 100 ports, the EndpointSlice controllers try to create/update EndpointSlices as usual but fail.

#### What you expected to happen:
The EndpointSlice controller should probably have some support for subsetting EndpointSlices into groups of 100 ports in these

[2021-02-23 23:45] robscott commented on #99382
/sig network
/triage accepted

[2021-02-23 23:45] mattcary opened #99383 "Evaluate if GKELocalSSD test is necessary."
Following up on #99087, evaluate if the test for local SSD on GKE clusters is still necessary (it is also tested internally in Google).

/assign @mattcary

[2021-02-23 23:45] mattcary commented on #99383
/sig storage

[2021-02-23 23:50] BenTheElder opened #99384 "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated"
We should probably move off of this.

[code]

EDIT: warning logged when running `make test`

Taking a guess at the SIG

[2021-02-24 00:02] mattcary commented on #99383
/triage accepted

[2021-02-24 00:12] liggitt commented on #99384
cc @sttts @smarterclayton

[2021-02-24 01:16] ravisantoshgudimetla commented on #99205
I am fine opening a KEP. I hope it is general consensus.

[2021-02-24 02:01] andyzhangx commented on #51540
I think easiest way to add windows UT is add a github action in k/k, it supports Windows

[2021-02-24 02:01] fzu-huang commented on #99256
@mattfenwick  Thanks a lot!
Based on your explanation, I conclude some conclusions. If anything wrong, I hope you can point it out :
1. `namedports` should be search in the scope which  `To` matches.  It might be:
     1. With `podSelector` : some pods in networkpolicy's namespace (even port number might different)
     2. With `NamespaceSelector`:  pods in matching namespaces  (even port number m

[2021-02-24 02:02] pacoxu commented on #99252
The error that I found in my failure is like below, which is a scheduling problem in volume test case.

@aojea is working on it. #99320 increased the pod start timeout from 2min to 5min. It is merged yesterday.
I'd like to see whether it fixed most failure of this later.

[2021-02-24 02:13] andyzhangx commented on #99342
so we need similar fix for `EvalSymLink` on Windows?

[2021-02-24 02:33] BenTheElder commented on #51540
K/K does not currently use actions, and doesn't currently plan to for various reasons. There might be traction in using actions cron (not presubmit) but the release team won't monitor that (see release-blocking-jobs in sig-release).

[2021-02-24 02:48] umohnani8 commented on #64760
Looking at @mborsz comment and iiuc, a CRI container runtime is not used to write the logs where the logs are being dropped in the kube-apiserver. Do we know of a case where there is loss of logs when using a CRI container runtime? If not, then this shouldn't block moving `CRIContainerLogRotation` to GA.
@dims @Random-Liu wdyt?

[2021-02-24 03:25] Bevisy commented on #52902
maybe fixed by #94087

[2021-02-24 03:27] mengjiao-liu commented on #99267
/assign

[2021-02-24 03:39] dims commented on #64760
@umohnani8 i agree.

[2021-02-24 03:42] mengjiao-liu commented on #98146
/assign

[2021-02-24 04:06] jingxu97 commented on #99342
My fix is for Windows actually. There is also some discussion related EvalSymLink issue in Windows in golang https://github.com/golang/go/issues/40180

[2021-02-24 05:03] yaminisridaran commented on #99113
to:
    - ipBlock:
        cidr: 10.96.0.1/0

The above configuration worked.

[2021-02-24 06:15] snowplayfire commented on #98692
[code]
The error is from https://github.com/kubernetes/apimachinery/blob/master/pkg/runtime/error.go#L67 which comes from `NewNotRegisteredErrForKind`.

I add some logs in `k8s.io/apimachinery/pkg/runtime/scheme.go` and `k8s.io/apimachinery/pkg/runtime/error.go` as follows:
[code]

[code]

My controller logs:

[code]

It is very strange that `No NewNotRegisteredErrForType` and `Error NewNotRegiste

[2021-02-24 06:17] #94790 closed

[2021-02-24 06:28] BenTheElder commented on #98486
I also noticed `pkg/controlplane`, it took 240s and timed out in a CI job I'm working on (with a 240s limit currently).

[2021-02-24 06:28] garyhuang123 commented on #63814
@liggitt yeah, the difference comes from changes of Container spec. If adding a new label to identify spec changes, 2 choices are in place,
1. Maintain Container spec versioning, then choose matched Container spec to hash by the value of label.
2. Or quit Container spec versioning maintenance, and skip the old container hashing if version is not matched, but add an additional configuration paramet

[2021-02-24 06:41] garyhuang123 commented on #63814
@liggitt i see, basically the image name is enough to identify changes on container. Is this approach on progress now?

[2021-02-24 07:48] #97785 closed

[2021-02-24 07:59] aojea commented on #99252
It seems it is much better now
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=kind&test=One%20pod%20requesting%20one%20prebound%20PVC%20should%20&xjob=-1-

[2021-02-24 08:01] pacoxu commented on #99252
/remove-priority important-soon

[2021-02-24 08:02] pacoxu commented on #99252
/close
As it may be fixed by  #99320.
I works better now.

[2021-02-24 08:55] chendave opened #99392 "Extend the capability of `scheduler_perf` to support customized configuration"
#### What would you like to be added:
Extend the capability of `scheduler_perf` to support customized configuration.
#### Why is this needed:
Currently, `scheduler_perf` start scheduler with the default configuration,
https://github.com/kubernetes/kubernetes/blob/c78f67a005977bf1159b538a33c2ee3bf5ca24da/test/integration/util/util.go#L86-L90

The above snippet of code creates a scheduler with all t

[2021-02-24 08:57] tanjing2020 commented on #99306
1. The panic listed in this case should be that {"name": requestedtocapacityratiopriority, "weight": 1} is added to the priorities of configmap, argument and argument.requestedtocapacityratiopriority are  not configured.

In the current version, users need to configure the scoring method model by themselves when using the requestedtocapacity ratio priority.
The default method has been removed, and

[2021-02-24 09:57] pacoxu commented on #96497
The KEP-Issue is kubernetes/enhancements#365, Taken from kubernetes/kubernetes#49338. Original discussion in kubernetes/kubernetes#2349
The KEP is https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/365-paginated-lists
The original design is [kubernetes/community](in https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/api-chunki

[2021-02-24 10:16] mikkeloscar opened #99394 "hpa: Scales down despite some metrics being unavailable (since v1.16, #74526)"
#### What happened:

If you have 2 or more metrics defined on an HPA and one metric is suggesting to scale down and the other metric is unavailable, the HPA will scale down despite missing metrics.

Example:

Imagine the following Horizontal Pod Autoscaler resource:

[code]

And the deployment `my-app` is currently scaled to `3` replicas.

If the `cpu` metric is suggesting to scale to 1 AND the `c

[2021-02-24 10:16] ehaiwag commented on #97100
I got this issue radomly with kubernetes v1.19.3.
It doesn't help my case with rebooting apiserver.

[2021-02-24 10:16] mikkeloscar commented on #99394
/sig autoscaling

[2021-02-24 10:23] mikkeloscar commented on #77603
/remove-lifecycle stale

[2021-02-24 10:44] guillermobandres commented on #67014
Hi pedrohdz I tried with the security context as you said:

  securityContext:
    runAsNonRoot: true
    runAsUser: 10001
    supplementalGroups:
      - 10001

But the pod still taking a lot of time to start. Now the k8s cluster is on 1.18 version. Did it work on your cluster with this configuration??

[2021-02-24 10:49] mattfenwick commented on #99256
@fzu-huang yep that's right!!  😄

[2021-02-24 12:34] tnqn opened #99397 "Many error logs in kube-controller-manager about storing status for daemon set"
#### What happened:
Almost every update to a DaemonSet can lead to 2~3 error logs in kube-controller-manager even when the DaemonSet manages very few Pods, for example, there were 3 error logs when updating a daemonset in a small cluster of 2 Nodes.
[code]
Other controllers like deployment don't have this issue when they manage much more Pods.

After looking at DaemonSet controller code, it seems

[2021-02-24 12:39] tnqn commented on #99397
/sig apps

/assign created #99398 to fix the retry logic.

[2021-02-24 12:58] tomkerkhove commented on #85544
/remove-lifecycle stale

[2021-02-24 13:05] alexanderKhaustov commented on #87615
Current release is 1.20, so 3 officially supported versions include 1.18, no?

[2021-02-24 13:10] gjtempleton commented on #99394
/triage accepted

[2021-02-24 13:16] liggitt commented on #87615
Yes, but the fix in 1.19 depends on newer versions of golang / golang.org/x/net, which are only in 1.19+ and are too disruptive to backport to 1.18.

[2021-02-24 13:22] pedrohdz commented on #67014
Hey @guillermobandres,

Don't know then.  You might want to try experimenting with mounting an empty file system, or one with fewer files, to see if that makes a difference?  Does the file system have a lot of files?  It could potentially be something else as well.  In our particular case it was too many files.

[2021-02-24 13:35] adtac commented on #99304
https://github.com/kubernetes/test-infra/pull/20817 enabled HUGE_SERVICES which is possibly the reason:

https://github.com/kubernetes/perf-tests/blob/e8e24c42240e9bb103bc3f75c83d9f1c42e424e7/clusterloader2/testing/load/config.yaml#L451-L462

[2021-02-24 13:48] liggitt commented on #63814
https://github.com/kubernetes/kubernetes/issues/63814#issuecomment-767775821 seems like agreement from sig-node representative:

But I don't see an assignee or any work in progress here. Marked this as needs-triage to bubble it up to the sig issue review process.

[2021-02-24 14:09] wojtek-t commented on #99304
Yes - huge-services can definitely impact that, as those can be heavily saturating CPU on the control-plane.

That said - it's something we want to test, so I guess we can probably close that as "working as intended".
Thanks a lot for debugging this!

@jkaniuk @mborsz - for your thoughts too

[2021-02-24 14:12] guillermobandres commented on #67014
Hi @pedrohdz, yes, the disk have a lot files, this deployment is Loki, that create a lot of small files. I'll try with root permission just to confirm it works as we expect. Today it was 1h 10m to mount the volume...

[2021-02-24 14:15] zouyee commented on #84869
/remove-lifecycle rotten

[2021-02-24 14:16] zouyee commented on #84869
/assign

[2021-02-24 14:17] rainbowjose commented on #97100
Got same problem, kubernetes v1.20.4

[2021-02-24 14:18] alculquicondor commented on #99205
cc @ahg-g

[2021-02-24 14:26] alculquicondor commented on #99252
@cofyc WDYT of https://github.com/kubernetes/kubernetes/issues/99252#issuecomment-784681180 ?

[2021-02-24 14:29] alculquicondor commented on #99392
The request seems reasonable. But I don't have experience adding command line flags to tests. Just make sure it works with the default configuration if nothing is passed.

/triage accepted

[2021-02-24 14:46] divyenpatel opened #99399 "How to make ACCESS MODES on the PVC and PV immutable"
#### What happened:

I have attempted to patch the PVC to change AccessModes on the PVC. It is not allowed. The version I am using is k8s 1.19.2

[code]

[code]

[code]

When attempted to edit PV, I was able to change the access mode from RWO to RWM, which in turn changed the access Mode of PVC to RWX.

[code]

[code]

[code]

#### What you expected to happen:
How do we prevent user from changing

[2021-02-24 14:47] divyenpatel commented on #99399
/sig storage

[2021-02-24 14:53] alculquicondor commented on #99304
What does the workload do? Does it create a big amount of services or just a few big services?

If the former, maybe what @Huang-Wei is working on might help https://github.com/kubernetes/kubernetes/pull/98241
But it could also be related to default topology spreading, which has to identify which services relate to the pod being scheduled.

It would be nice to replicate this load test in integrati

[2021-02-24 14:56] mborsz commented on #99304
HUGE_SERVICES flag enables wrapping all scheduler throughput pods (5000?) in a single huge service. The main goal is to validate endpoints programming for such large services.

Enabling this may cause scheduling throughput regression (sending endpoints updates is quite expensive and will reduce cpu available), but I don't think anyone expected the regression to be that large.

We are discussing in

[2021-02-24 15:03] adtac commented on #99304
thanks for looking into this.

just curious, is this going to be a temporary test?

The flamegraphs of CPU profiles for known-good and known-bad executions are very similar percentage wise. Particularly, time spent in pod topology spread is around the same percentage in both cases, so I don't think it's that. IMO it looks very much like this is the case:

[2021-02-24 15:06] bart0sh opened #99402 "kubelet-serial-gce-e2e-hugepages job is flaky"
#### Which jobs are flaking:
ci-kubernetes-node-kubelet-serial-hugepages

#### Which test(s) are flaking:
when start the pod with the resources requests that contain multiple hugepages resources should set correct hugetlb mount and limit under the container cgroup

#### Testgrid link:
https://testgrid.k8s.io/sig-node-kubelet#kubelet-serial-gce-e2e-hugepages

#### Reason for failure:
Unexpected err

[2021-02-24 15:06] bart0sh commented on #99402
/sig node

[2021-02-24 15:07] bart0sh commented on #99402
/assign @cynepco3hahue

[2021-02-24 15:08] ahg-g commented on #99392
It doesn't need to be a command line flag, it could be a config file that the test always loads if it exists, just like the tests configuration yamls.

[2021-02-24 15:08] abarbachano opened #99404 "Increase fluendt-gcp log entry limit to 256KiB"
#### What would you like to be added:
On April the maximum size of a log entry in Cloud Logging was increased from 100 KiB to to 256 KiB  ([Release notes](https://cloud.google.com/logging/docs/release-notes#April_23_2019), [documentation](https://cloud.google.com/logging/docs/agent/troubleshooting#maximum_log_size_exceeded)

The current fluentd daemonset in GKE still limits the log entry to 100KiB

[2021-02-24 15:08] bart0sh commented on #99402
/triage accepted

[2021-02-24 15:09] bart0sh commented on #99402
/cc @derekwaynecarr

[2021-02-24 15:27] ahg-g commented on #99304
This graphs confirms that the scheduler is getting lower cpu share: http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=E2E&metricname=LoadResources&PodName=kube-scheduler-gce-scale-cluster-master%2Fkube-scheduler&Resource=CPU

[2021-02-24 15:40] raulbarreto-delivion opened #99405 "Users with list secrets permission can get the value of the secret"
#### What happened:

If a user, that only has the permission to list secrets, execute the following command:

kubectl get secrets -o yaml

It will be able to get the value of the secrets

#### What you expected to happen:

Do not show the value of the secrets.

#### How to reproduce it (as minimally and precisely as possible):

Create a role with the permissions:

rule {
    api_groups = [""]

[2021-02-24 15:40] jkaniuk commented on #99304
I do not think that change in peak usage of scheduler affects 50% percentile regression of throughput

There is much more visible increase on controller-manager usage graph: http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=E2E&metricname=LoadResources&PodName=kube-controller-manager-gce-scale-cluster-master%2Fkube-controller-manager&Resource=CPU

However that is more recent

[2021-02-24 15:42] guzmonne commented on #97100
Until the PR #98168 is merged current versions of 1.20 won't be fixed. It should get done on the following dates.

[2021-02-24 15:52] ingvagabund commented on #99218
We might just call Histogram.Clear() method which will clear what has been collected so far at the end of [createPodsOp](https://github.com/kubernetes/kubernetes/blob/a42ff247afeb2f2d7aaf1d28a7cb171d722fb527/test/integration/scheduler_perf/scheduler_perf_test.go#L378) phase:
[code]

[2021-02-24 15:59] adtac commented on #99304
perhaps I'm repeating what @jkaniuk said, but the median CPU usage of kube-scheduler seems to be mostly the same. it's only the 90% and 99%ile lines that have dropped. I'm not sure how to interpret that.

[2021-02-24 16:06] ahg-g commented on #99304
Sure, my point is that the graph confirms the hypothesis that the test is having an effect on CPU usage.

[2021-02-24 16:08] dims commented on #99304
cc @navidshaikh

[2021-02-24 16:14] cbandy opened #99407 "Endpoints being deleted twice"
#### What happened:

A Service with a custom finalizer and a selector has its Endpoints deleted twice when it is deleted.

#### What you expected to happen:

I expected a Service's Endpoints to be deleted exactly once.

#### How to reproduce it (as minimally and precisely as possible):

Create the following Service and watch Endpoints as it is deleted. Notice that Endpoints are `DELETED` in steps

[2021-02-24 16:15] wojtek-t commented on #99304
I actually think it can.
The key point here is that those aren't exactly aligned. The resource usage is measured across the whole tests (hours), whereas the throughput for a minute or so. If the peak is exactly during that time (which actually may easily be the case), it may affect even low percentiles of the throughput.

[2021-02-24 16:24] alculquicondor commented on #99218
WDYT @adtac?

[2021-02-24 16:26] cmsmith7 commented on #95983
I believe this issue is the same as the issue highlighted here ..
https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1629

[2021-02-24 16:34] liggitt commented on #98267
after discussing with @lavalamp and @deads2k, using the v1.5.1 content as the base is the least disruptive for dependency management tools other than go modules that were still pointing to very old versions.

https://github.com/kubernetes/client-go/pull/932 contains the proposed change

[2021-02-24 16:35] cynepco3hahue commented on #99402
I did a small analysis and I can see that the pod failed to start, I can not find any failure messages under the kubelet log, so it really hard to say why it failed.

[code]

[2021-02-24 16:45] jsturtevant commented on #99363
https://github.com/kubernetes/kubernetes/pull/99395 addresses the nginx image failing

[2021-02-24 16:52] #97813 closed

[2021-02-24 17:08] jsturtevant opened #99409 "fs windows tests doesn't pass when run on Windows"
#### What happened:

It was discovered in #99221 that https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/fs/fs_windows_test.go is ~actually running on Linux (there is no build tag for windows on that file) and therefore doesn't tests windows functionality~ doesn't pass when running on a windows machine.

This should be addressed as part of #51540 which would ensure the windows un

[2021-02-24 17:09] jsturtevant commented on #99409
/sig windows
/priority important-soon

[2021-02-24 17:12] ehashman commented on #99265
/triage accepted

[2021-02-24 17:12] ehashman commented on #99267
/triage accepted

[2021-02-24 17:12] ehashman commented on #99270
/triage accepted

[2021-02-24 17:15] chewong commented on #99363
facing the same issue as https://github.com/kubernetes/test-infra/issues/20884 when we tried to push nginx images to the staging registry

[2021-02-24 17:22] ehashman commented on #94428
This is now documented by https://github.com/kubernetes/community/pull/5492

/close

[2021-02-24 17:28] msau42 commented on #99252
I think that error is expected. The volume was provisioned on node "kind-worker", and this message is from the scheduler predicate evalutating "kind-worker-2". I think what happened in these tests is that the pod did get scheduled to "kind-worker" but was slow to come up and timed out.

[2021-02-24 17:47] parmjassal commented on #98963
As i am new to contributing, Can i work on this issue?
After some greping found the validation. Do i need to add the validation over [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/validation/validation.go#L3041) to prevent the name to be empty.
If not, please guide to solve this.

[2021-02-24 17:51] Riaankl commented on #98180
@thejoycekung
This [PR99323](https://github.com/kubernetes/kubernetes/pull/99323) will fix the flakes.
Just need a `/approve`

[2021-02-24 18:35] Huang-Wei commented on #99304
Another metric to look into this issue: how long (minutes) the throughput test spent, and is it getting an increase? As from the graph, the P99 number doesn't look that worse, but the P90 and P50 do. So if the overall time spent on scheduling doesn't change much, it may be just b/c more pods are observed to be scheduled in high percentiles.

[2021-02-24 18:41] Huang-Wei commented on #99304
Thanks @adtac for spotting this. As @alculquicondor mentioned, the current scheduler code responds to Service events in an aggressive manner - it moves all unschedulable pods upon each Service event. (We're working on #98241 to help on this. But it's not finished yet.)

So after HUGE_SERVICES is enabled, **how frequent** the Service events get spawned?

[2021-02-24 19:08] ahg-g commented on #99304
@Huang-Wei based on https://github.com/kubernetes/kubernetes/issues/99304#issuecomment-785133569, it is a single service, so this shouldn't have an impact on generating many unnecessary events (unless that single service is being updated frequently, which doesn't seem to be the case).

[2021-02-24 19:10] #95041 closed

[2021-02-24 19:32] Huang-Wei commented on #99304
Thanks for the confirmation. If it's just one Service and it stays intact, then it won't churn the unschedulable pods.

[2021-02-24 19:40] champtar opened #99418 "self-signed kubelet server certificate is never renewed"
#### What happened:
Looking at how to easily renew kubelet server certificate (serverTLSBootstrap + custom approver/script to regenerate a new cert myself/...), I had a look at the code and I can only find `kubelet.crt` (https://github.com/kubernetes/kubernetes/search?q=kubelet.crt&type=code) here
https://github.com/kubernetes/kubernetes/blob/e7cc2117a02bc5c74a8235a2725834b1841c459e/cmd/kubelet/ap

[2021-02-24 19:42] champtar commented on #99418
/sig node

[2021-02-24 19:48] abdennour commented on #53533
`swapoff -a && systemctl restart kubelet` my way in offline environment

[2021-02-24 20:43] rohitdurvasula commented on #90077
@liggitt I am sure I am misinterpreting this, but why does a 1.18.1 kubectl recommend using networking.k8s.io/v1 if that is only available in 1.19+ ?

[code]

[code]

[2021-02-24 20:46] Huang-Wei commented on #99392
I don't have a strong option on an internal scheduler CC config variable vs. CLI argument. But it'd be favorable to make it aligned with configFile (`config/performance-config.yaml`) - i.e., either make both configFile and the new scheduler CC config internal variables, or both as CLI arguments.

BTW: currently the only CLI arg we have is `dataItemsDir`:

https://github.com/kubernetes/kubernetes/b

[2021-02-24 22:08] ehashman commented on #52902
@Bevisy I agree, I think this is fixed by that patch, especially given the comments around `GetNode()`.

[2021-02-24 22:12] Jean-Daniel commented on #39198
Still an issue.

No, as there is no guarantee the host isn't "eth0".

[2021-02-24 22:49] Huang-Wei commented on #99218
@ingvagabund I'm afraid `Clear()` doesn't work. That was my initial thought as well, but no luck. I guess it's b/c, theoretically, we cannot reset a metric on the server side - Promoetheus' model doesn't support this. But let me know if I miss anything.

[2021-02-24 23:20] howardjohn opened #99425 "Pod probes lead to blind SSRF from the node"
Note: I disclosed this private and was asked to open in public

#### What happened:

A pod probe can be configured to send readiness probes to arbitrary destinations, including localhost on the node. This is similar to CVE-2020-8555.

Kubernetes Version:
v0.20.0 (Kind) and v1.19.6 (GKE) were tested. I suspect its an issue on all versions

Steps To Reproduce:

[code]

This shows an example of acces

[2021-02-24 23:20] howardjohn commented on #99425
/sig security

[2021-02-24 23:29] #98718 closed

[2021-02-24 23:37] aojea commented on #99382
interesting, is this limit present on the normal Endpoints controller too?

[2021-02-24 23:42] arcivanov commented on #98860
Here's another example. Had to nudge by deleting the deployment pod and now distribution is normal.

[code]

It seems that if the deployment was originally without TSCs and then TSCs are added then the topology spread becomes weird. Killing pods by hand seems to fix the behavior causing proper spread.
This is on master nodes btw with no pressures of any kind.

[2021-02-24 23:57] jingxu97 commented on #73434
@marosset Just want to check when it is possible to have this implemented in containerD? Thanks!

[2021-02-25 00:05] robscott commented on #99382
No, this is unique to the EndpointSlice API. We were trying to ensure there were no unbounded lists in the EndpointSlice API, but Service does have an unbounded list here. I didn't properly handle that in the controller. The simplest solution would be to loosen the EndpointSlice API validation but I don't think that's something we want to do. I'm guessing that having >100 ports on a Service is rel

[2021-02-25 00:13] chewong commented on #96770
I see that we were originally using `redis:5.0.5-alpine` from dockerhub before we switched to using k8s.gcr.io (https://github.com/kubernetes/kubernetes/commit/40713f7666730d09fc50e3ce66d5528d741acc5c#diff-fa4ddc33013d1e57259726a4c1c327903e058453aece262eecfb48300e946c93L246). I believe that we wanted to change the test image registry without changing the tag and the Linux version of Redis we built

[2021-02-25 00:23] ltagliamonte-dd commented on #99373
When kube-proxy is in iptables mode, kube-proxy is not on the data path.
By default the AWS ELB HC is configured:
 - TCP mode on the serviceNodePort.
 - every 10s with 5s timeout

When the LB performs the node HC the TCP handshake reaches the pod doesn't stop at node level, so if you have a single pod in a big cluster, it likely get DDoSed by all this HCs, your pod needs to be able to deal with al

[2021-02-25 00:29] marosset commented on #73434
It actually should be working in containerD today :)

[2021-02-25 00:55] BenTheElder commented on #97511
spotted again 1.20

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_kind/2089/pull-kind-e2e-kubernetes-1-20/1364730432314150912

seems to be sporadic in HEAD and 1.20 at least:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=matching%20user%20doesnt%20received

[2021-02-25 01:39] neolit123 commented on #99376
/sig release

[2021-02-25 01:41] neolit123 commented on #99376
/kind bug

[2021-02-25 01:42] neolit123 commented on #99340
hi, you should be contacting EKS support before upstream k8s.

this version is no longer supported upstream.

if EKS confirm an upstream bug in 1.18+ you can reopen this ticket with the details they provided.

thanks
/close

[2021-02-25 01:43] #99340 closed

[2021-02-25 01:44] neolit123 commented on #99356
/sig node
/kind support

[2021-02-25 01:44] neolit123 commented on #99404
/sig cloud-provider
/area gcp
/kind support

[2021-02-25 01:44] neolit123 commented on #99404
/area provider/gcp

[2021-02-25 01:47] neolit123 commented on #99405
viewing an object by listing it is by design.
leaving the ticket if sig api-machinery / sig auth wish to comment.

/sig api-machinery auth
/remove-kind bug
/kind support

[2021-02-25 01:49] neolit123 commented on #99352
adding sigs for triage.

/sig network
for the networking API.

/sig api-machinery
for webhooks

[2021-02-25 01:58] Huang-Wei commented on #96427
/remove-lifecycle stale

[2021-02-25 01:59] Huang-Wei commented on #96427
/priority backlog
/triage accepted

[2021-02-25 01:59] neolit123 commented on #99418
kubeadm doesn't use the kubelet serving certificate for anything, thus it's not enabling its automatic rotation via --rotate-server-certificates RotateKubeletServerCertificate or manual rotation.

also see the note there that the rotation requires an external controller to sign CSRs:
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/#certificate-rotation

[2021-02-25 01:59] #99418 closed

[2021-02-25 02:01] #52817 closed

[2021-02-25 02:54] chendave commented on #99392
Thanks guys for the input, I am thinking it's not necessary a CLI arg, but just a new field in the `testCase` struct, might be `schedulerConf`?
https://github.com/kubernetes/kubernetes/blob/27c89b9aec73f66529a497910c460af2b25ab6dd/test/integration/scheduler_perf/scheduler_perf_test.go#L63-L80

If this field is set, then load the config file and pass down to scheduler instantiation, I will work out

[2021-02-25 02:55] chendave commented on #99392
+1

[2021-02-25 03:21] m14815 opened #99432 "Add hint/suggestion in "kubectl get" command"
#### What would you like to be added:
Add hint or notification while using cmd line "kubetctl get resource"
#### Why is this needed:
Sometimes, users have some many instances under a kind of resource, such as lots of pods, and the user wants to get a detail of a pod, but the user forgets the namespace of the pod, while user use a command with wrong namespace, such as "kubetctl get pod -n namespace

[2021-02-25 03:29] m14815 commented on #99432
/sig CLI

[2021-02-25 03:44] yuzhiquan commented on #99270
fix #96314 [klog/203](https://github.com/kubernetes/klog/issues/203)

[2021-02-25 03:51] CaoDonghui123 commented on #99407
/assign

[2021-02-25 04:34] moycat commented on #51446
This parameter has been [removed](https://github.com/systemd/systemd/blob/main/NEWS#L3507) in systemd 240. Any workaround?

[2021-02-25 06:25] matthyx commented on #52817
Should I consider a cherry-pick for 1.20 and 1.19? (maybe 1.18 too?)

[2021-02-25 06:39] zhangzhaorui commented on #66421
same problem with k8s v1.18.16
kubelet: E0225 12:09:27.779754  304967 fsHandler.go:118] failed to collect filesystem stats - rootDiskErr: could not stat "/data/container/overlay2/33edc2fb9260631d61592a66e277afc245a03d9ae854dcba78efa60bd70d389c/diff" to get inode usage: stat /data/container/overlay2/33edc2fb9260631d61592a66e277afc245a03d9ae854dcba78efa60bd70d389c/diff: no such file or directory, ex

[2021-02-25 06:41] zhangzhaorui commented on #66421
@takakawa hi   if your problem is solved？

[2021-02-25 06:43] robscott opened #99437 "[Flake][sig-node] Pods should run through the lifecycle of Pods and PodStatus"
#### Which jobs are flaking:
- ci-kubernetes-kind-e2e-parallel
- ci-kubernetes-e2enode-ubuntu2-k8sstable1-gkespec

#### Which test(s) are flaking:
Pods should run through the lifecycle of Pods and PodStatus

#### Testgrid link:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99345/pull-kubernetes-e2e-kind/1364771671973564416

#### Reason for failure:

#### Anything else we need to know

[2021-02-25 07:02] tanjing2020 commented on #99306
/cc @alculquicondor
Is this analysis correct? Could you check this for me, please?

[2021-02-25 08:09] thomastvedt commented on #50799
Just as a reference for the future me;
In my case it helped to just delete the two dns pods. When Kubernetes re-created them, dns was working again.

The error occurred when removing an app from "namespaceA", and then reinstalling it in "namespaceB".

[2021-02-25 08:18] aojea commented on #99425
The documentations states that readiness probes can be used to check external services
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-readiness-probes

Sometimes, applications are temporarily unable to serve traffic. For example, an application might need to load large data or configuration files during startup, or depend on external se

[2021-02-25 08:31] lynic commented on #93338
I've met same issue with v1.19.3, reboot node normally the pod will enter NodeAffinity state.

[2021-02-25 08:47] bart0sh commented on #99402
@cynepco3hahue were you able to reproduce it locally?
btw, there is a "right way" to fix this - to fix dynamic update of a hugepage resources. This would eliminate need in a kubelet restart.  There is even a PR for that: https://github.com/kubernetes/kubernetes/pull/81774, we just need to make it working again.

[2021-02-25 09:44] ingvagabund commented on #99218
The performance tests assume all the metrics all gathered and accessed in the same binary. As long as that's the case, `Clear()` works

[2021-02-25 09:52] brennerm commented on #96240
Encountering the same issue on Kubernetes (EKS) 1.18.9.

`OCI runtime create failed: container_linux.go:349: starting container process caused "process_linux.go:449: container init caused \"rootfs_linux.go:58: mounting \\\"/var/lib/kubelet/pods/7718a9bb-5b38-4367-ae2d-8d47c4c64344/volume-subpaths/certificates/0\\\" to rootfs \\\"/var/lib/docker/overlay2/55ace13b7906ec8a06c9078676300aa52e67c776ca90

[2021-02-25 10:02] garyhuang123 commented on #63814
So under this pattern, if new API Container adds new field with default value, the restart is unavoidable, right? @liggitt

[2021-02-25 10:20] ensonic commented on #3595
Not having this feature exposed to k8s requires me to needlesly run workloads as root. I have a workload that need to change its process priority.
With docker I can do:
[code]
and it works. When running the same in k8s with the following podspec:
[code]
the call to `pthread_setschedparam()` fails with EPERM.

[2021-02-25 10:26] jkaniuk opened #99449 "ci-kubernetes-e2e-gce-scale-correctness timing out"
#### Which jobs are failing:
ci-kubernetes-e2e-gce-scale-correctness

#### Which test(s) are failing:
not finishing:
Kubernetes e2e suite.[sig-cli] Kubectl client Kubectl cluster-info dump should check if cluster-info dump succeeds

#### Since when has it been failing:
02-19

#### Testgrid link:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness&show-stale-tests=

##

[2021-02-25 10:27] jkaniuk commented on #99449
[code]

test results lost from testgrid:
![image](https://user-images.githubusercontent.com/5487158/109139939-5e6f9680-775c-11eb-9c35-cb4914b7f475.png)

[2021-02-25 10:31] jkaniuk commented on #99449
/cc @wojtek-t
/cc @justinsb

[2021-02-25 10:31] jkaniuk commented on #99449
/cc @tosi3k

[2021-02-25 10:32] DeanBrunt opened #99451 "Improve Configurability of Generated Firewall Rules to Load Balancer Services"
#### What would you like to be added:
Ability to better configure the firewall rules generated by load balancer services in GKE (specifically for internal load balancers) such that stronger senses of identity can be used (i.e: source service account) for the firewall restrictions.
Likely through the use of annotations.

#### Why is this needed:
At Ziglu we run a number of Kubernetes cluster on GKE

[2021-02-25 10:37] spyyang opened #99453 "Failed to run the pod with duplicate persistent volumes"
#### What happened:

Create a pod:

[code]

the pod is always `ContainerCreating`, and describes as:

[code]

kubelet log:

[code]

#### What you expected to happen:

Deny the pod orchestration with duplicate volumes, OR the pod can be running successfully.

#### How to reproduce it (as minimally and precisely as possible):

Create a pod with the duplicate pvc as above.

#### Anything else we need

[2021-02-25 10:38] DeanBrunt commented on #99451
/sig cloud-provider

[2021-02-25 11:04] polycaster opened #99454 "Kubelet fails to retrieve secret with empty name"
#### What happened:
Kubelet keeps trying to retrieve secrets for "non-empty namespace"/"empty secret name" and this is generating very large amounts of logs

#### What you expected to happen:
I would expect kubelet to not try to retrieve secrets with an empty name.

#### How to reproduce it (as minimally and precisely as possible):
Unsure, I'm unable to determine the source that is causing kubelet

[2021-02-25 11:08] polycaster commented on #99454
/sig node

[2021-02-25 11:12] rtheis commented on #83332
/remove-lifecycle rotten

[2021-02-25 11:55] hanamantagoudvk opened #99457 "kubelet thinks number of NUMA nodes and sockets are same"
#### What happened:

There was a difference in the meaning of MachineInfo.Topology between k8s and cAdvisor.

k8s version 1.18.9, cAdvisor version 0.35.0: both think that Topology represents sockets.

k8s version 1.19.3, cAdvisor version 0.37.0: k8s still thinks that Topology represents sockets, cAdvisor now returning NUMA Nodes

k8s version 1.20.0+, cAdvisor 0.37.0+: now both thinks that Topology

[2021-02-25 11:56] hanamantagoudvk commented on #99457
/sig node

[2021-02-25 13:04] moycat commented on #51446
I find I can use both systemd and `cgconfig.conf` to get rid of `JoinControllers`.

The following is my deployment script:

[code]

[2021-02-25 13:07] jkaniuk commented on #99449
/triage accepted

[2021-02-25 13:19] andy-wolf168 opened #99459 "Is there a plan to support RedHat 8.2"
#### What would you like to be added:

#### Why is this needed:
RHEL 6 is going EOL 11/30/2020 and RHEL 7 going EOL 6/30/2024.
https://access.redhat.com/discussions/2399461

[2021-02-25 13:46] Deepak1100 commented on #94029
i am also facing the same issue. I didn't see any event in my cluster from multiple days after debugging it's related to etcd mvcc space.
etcd disk usage is only 6%
[code]

[2021-02-25 13:56] jkaniuk commented on #96612
Testgrid is green now

[2021-02-25 13:56] #96612 closed

[2021-02-25 14:13] liggitt commented on #93338
The [fix for this issue](https://github.com/kubernetes/kubernetes/pull/94087) was released to v1.19.8+ in https://github.com/kubernetes/kubernetes/pull/97996

[2021-02-25 14:13] liggitt commented on #93338
/close

fixed in https://github.com/kubernetes/kubernetes/pull/94087

[2021-02-25 14:13] #93338 closed

[2021-02-25 14:19] yarinm commented on #95911
@gnufied this could work.

Any other input about this? this is a real pain - even my workaround sometimes doesn't and i have to mess with the delays

[2021-02-25 14:21] ahg-g commented on #99306
Yes, those don't exist anymore, we need to update the docs and mark them as deprecated.

[2021-02-25 14:22] ahg-g commented on #99306
@tanjing2020 please feel free to send a pr to update the docs.

[2021-02-25 14:23] liggitt commented on #99454
cc @wojtek-t - looks like the informer-based secret manager

[2021-02-25 14:24] liggitt opened #99461 "hack/update-vendor.sh can exit with error code 1 and no indication of failure"
#### What happened:

Seen while running on https://github.com/kubernetes/kubernetes/pull/98572

[code]

#### What you expected to happen:

If hack/update-vendor.sh fails, the output should make it clear

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardwa

[2021-02-25 14:40] alculquicondor commented on #99306
It seems that using `klog.Fatalf` is not very graceful reporting errors. Should we change `LegacyRegistry.ProcessPriorityPolicy` to return an error instead?

WRT docs, deprecated means that you can still use them, but we don't provide bugfixes. This is not the case. These plugins (or default configuration) are removed. So maybe we should just remove them from the docs.

[2021-02-25 15:00] howardjohn commented on #99425
I agree someone <could> do that, but not that they should. Typically people are doing those checks within their application,not at the probe level. This is important since you may have multiple dependencies or want to better exercise the logic - you care if your pod can reach it, not kubelet. As an anecdote, Istio (accidentally) breaks any external probe and there has never been a single bug repor

[2021-02-25 15:00] liggitt commented on #93320
ran into this issue in the go1.16 bump PR. as part of golang bumps, we upgrade golang.org/x/... dependencies to latest.

golang.org/x/oauth2@latest brings in new versions of cloud.google.com/go and google.golang.org/api which depend on grpc v1.31+

The etcd requirement for < v1.30 means we can no longer pick up new versions of those libraries.

[2021-02-25 15:01] neolit123 commented on #99459
hi, this is not really a topic for the Kubernetes issue tracker.
from what i've seen 8.x just works, but i haven't tried it myself.

also Kubernetes itself doesn't claim support for a matrix of Linux distributions.

you can talk to other users about this on the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2021-02-25 15:01] #99459 closed

[2021-02-25 15:01] zgfh commented on #79422
@neolit123 should we auto set "pause" image of containerd when have param of “--pod-infra-container-image”？ it will be more easy to install

[2021-02-25 15:09] ahg-g commented on #99306
They can still be used in older versions, so may be we need to keep them and add a note indicating that those are rejected as of 1.17?

Yes, we shouldn't panic on invalid user input.

[2021-02-25 15:21] Jc2k commented on #72236
/remove-lifecycle rotten

[2021-02-25 15:42] ptabor commented on #93320
Just yesterday released 3.5.0-alpha.0 version of etcd (https://github.com/etcd-io/etcd/issues/12498) that support grpc-1.32.

[2021-02-25 15:42] liggitt commented on #99405
correct, list requests include the full object content

https://kubernetes.io/docs/reference/access-authn-authz/authorization/#determine-the-request-verb

See also https://github.com/kubernetes/website/issues/14872 and https://github.com/kubernetes/dashboard/issues/4139#issuecomment-517094869

[2021-02-25 15:42] #99405 closed

[2021-02-25 15:43] liggitt commented on #93320
glad to see that... now to push on https://github.com/kubernetes/kubernetes/issues/96564

[2021-02-25 15:46] stevengibbszions commented on #41881
Still no native support in the K8s Ingress Spec for regex/wildcards?  Is that accurate?

[2021-02-25 15:57] liggitt commented on #99409
https://golang.org/cmd/go/#hdr-Build_constraints makes it sound like the _windows suffix auto-tags as windows

* `*_GOOS`
* `*_GOARCH`
* `*_GOOS_GOARCH`

is that not the case?

[2021-02-25 15:59] liggitt commented on #99409
we have a lot of files using that convention, so if that doesn't work... that's concerning

[2021-02-25 16:09] liggitt commented on #99370
the TopologyManager feature was beta in 1.18... a crashing panic seems like something a targeted fix should be backported for

[2021-02-25 16:21] neolit123 commented on #79422
please comment on:
https://github.com/kubernetes/kubeadm/issues/2020

the flag also apparently controls garbage collection in the kubelet.

[2021-02-25 16:30] liggitt commented on #98267
resolved in https://github.com/kubernetes/client-go/releases/tag/v1.5.2

[2021-02-25 16:30] #98267 closed

[2021-02-25 17:58] cheftako commented on #91628
/remove-lifecycle rotten

[2021-02-25 18:01] #96164 closed

[2021-02-25 18:01] #99449 closed

[2021-02-25 18:15] Riaankl commented on #99134
/reopen

[2021-02-25 18:29] alculquicondor commented on #98828
Another justification for skipping assumed pods is an a solved issue #91249
Note that the workaround for this was to skip updates to `.status.conditions`

[2021-02-25 18:36] ravisantoshgudimetla commented on #99205
@liggitt - A question for you, would it be ok to `allow updates to objects that were  immutable in previous releases especially if we were achieving the same result by deleting and re-creating the object`

[2021-02-25 18:38] alculquicondor commented on #99203
-1 on this proposal as well.
I don't think there is any API validation that is configurable today. Plus, the component config for kube-apiserver would still need to be validated with a maximum value.
So, configuring the validation doesn't really prevent you from making the same mistake at a different level.
 I doubt that api-reviewers would subscribe to the idea.

[2021-02-25 18:45] naresh-makhija opened #99466 "Kuberenetes Endpoints becoming unreachable"
In our K8 cluster, We are facing very tricky issue wherein applications endpoints becomes unreachable which is seen from kg endpoints. Also same gets reflected in iptables -L where these application endpoints reports unreachable.
Simultaneously we see high load on the server when this is happening. We are trying to identify what is causing heavy load on the cluster. Till now we haven't got anythin

[2021-02-25 19:03] ltagliamonte-dd commented on #99373
Closing this issue.

Lessons learned:
- ELB HC reach the pods when kube-proxy is in iptable or ipvs mode. Your pod should be able to handle this additional TCP load.
- python simpleHTTP server shouldn’t be used for anything else than playing around with python I switched the image to (hashicorp/http-echo:0.2.3) and a single pod is able to handle all the HC connections.

On the healthcheck config:

[2021-02-25 19:03] #99373 closed

[2021-02-25 19:33] shokinn commented on #58065
/remove-lifecycle stale

[2021-02-25 19:38] wojtek-t opened #99468 "Validate if tests in test/e2e/common/storage/volume.go re still needed"
Context
@msau42 said that it's possible they now duplicate logic in other tests

/sig storage
/kind cleanup

[2021-02-25 19:54] #81101 closed

[2021-02-25 19:59] chewong opened #99470 "ServiceAccounts ServiceAccountIssuerDiscovery should support OIDC discovery of service account issuer [Conformance]"
#### Which jobs are failing:

aks-engine-azure-windows-master-staging

#### Which test(s) are failing:

ServiceAccounts ServiceAccountIssuerDiscovery should support OIDC discovery of service account issuer [Conformance]

#### Since when has it been failing:

#### Testgrid link:

https://testgrid.k8s.io/sig-windows-azure#aks-engine-azure-windows-master-staging

#### Reason for failure:

[code]

###

[2021-02-25 20:42] ahg-g commented on #98828
ok, I guess we have agreement on the following:
1) ignore updates to assumed pods
2) move pods from unschedulable to backoff on pod update if their backoff period wasn't done.

[2021-02-25 21:08] Huang-Wei commented on #99218
That was my understanding as well, but no luck :(

Here is a diff to call `Clear()` in case `createNodesOp` when "concreteOp.CollectMetrics" is false:

<details><summary>Diff:</summary>
<p>

[code]

</p>
</details>

And below is the output - it's still 1500 (500 init pods plus 1000 measured pods) instead of 1000 being benchmarked:

<details><summary>Output:</summary>
<p>

[code]

</p>
</details>

[2021-02-25 21:10] irizzant commented on #83265
/remove-lifecycle stale

[2021-02-25 21:12] fedebongio commented on #99231
thank you for the pr!
/triage accepted

[2021-02-25 21:14] fedebongio commented on #99352
/assign @caesarxuchao
/triage accepted

[2021-02-25 21:15] fedebongio commented on #99384
cc @lavalamp @yliaog
Didn't we discuss this one (or related) in a past API Machinery meeting?
/triage accepted

[2021-02-25 21:20] victorhugojt commented on #81723
I'm doing performance testing over a microservices deployment cluster and I have the same problem. I don't know how this pods arr being killed if the CPU and memory looks ok. I am agree that more information it would be very useful.

[2021-02-25 21:49] Huang-Wei commented on #99218
But I do find a way to fix this: #99472.

[2021-02-25 21:56] #76714 closed

[2021-02-25 22:21] liggitt commented on #63814
this would have to be a container field that 1) the API server defaults, 2) the kubelet expects to be mutable and explicitly includes in its container hash

Because the kubelet has to be aware of the field, it would be reasonable for it to use the default value in the hash if the field was unpopulated.

[2021-02-25 22:33] liggitt commented on #99205
Allowing a previously immutable value to be mutable can be reasonable as long as the things consuming that value are well understood and react to changes correctly. IIUC, about the only in-tree actor that makes use of this value is the admission plugin, which pulls from an informer, so would use the value for future pods, right?

[2021-02-25 23:05] smarterclayton commented on #99425
The core issue is the user/admin assuming the requests a pod can make overlaps with the probes.  I could maybe see filtering the outbound liveness by network policy but typically the CNI plugin has control over other assumptions there and it may be inappropriate to assume network policy alone can tell the full story.

I could imagine an allowlist of acceptable IP ranges or a denylist provided to t

[2021-02-25 23:28] lavalamp commented on #99384
@ptabor

[2021-02-25 23:33] jsturtevant commented on #99409
You are right, a bit embarrassing but I had the wrong build tags set up in my environment and was getting the wrong output.  I was able to get the tests to build for windows but they seems to be failing:

[code]

Then on a windows machine:

[code]

I've opened #99474 to get these to pass on windows.

[2021-02-25 23:50] tsunny opened #99475 "False Positive: FailedMount events generated even when the pod comes up fine"
#### What happened:
When we deploy our pods that use service-accounts. They randomly produce FailedMount events which looks something like this:

`MountVolume.SetUp failed for volume "default-token-vagiw" : failed to sync secret cache: timed out waiting for the condition
`
#### What you expected to happen:
No events when mounts work - so we can use it to alert for any failures.

#### How to reprod

[2021-02-26 00:14] jsturtevant commented on #51540
The windows tests are not running anywhere and I found that #99409 was failing. Since the tests are not run regularly many of them may not pass as was the case with `fs_windows_test.go`.

AFAIK the current way to [build the unit tests for Windows is on a Linux ](https://github.com/kubernetes/kubernetes/issues/51540#issuecomment-328245215) machine then run them on a Windows Machine.

I wasn't able

[2021-02-26 00:20] BenTheElder commented on #51540
If we're running in CI, we already upload full cross builds, so we can just download and run those. However I don't think go has a good way to pre-build unit tests (IIRC it has to be done binary-per-package?)

@liggitt runs the tests directly with `go test` on linux I think? but officially the `make` tools are doing various things we may want (e.g. supplying non-standard build tags).

IMHO that ma

[2021-02-26 00:28] ravisantoshgudimetla commented on #99205
That is correct, the priority admission plugin intercepts the pod creation request and translates priority class to priority value. For the pods that are already running, the priority value would still point to old one, say if priority value has been modified or the priority class has been deleted and re-created.

[2021-02-26 00:45] dims commented on #93320
w00t!

[2021-02-26 00:54] agowa338 commented on #53533
@abdennour That doesn't solve the issue. You're just disabling swap. That depending on your workload may or may not be viable as has been already pointed out within this issue.

[2021-02-26 00:54] Huang-Wei commented on #98828
@NickrenREN Could you tweak #98829 a bit to adhere to this semantics?

[2021-02-26 01:25] jasongerard commented on #3595
@ensonic If you have control over the binary and image you are trying to run you can try the steps outlined here: https://medium.com/@thejasongerard/resource-limits-mlock-and-containers-oh-my-cca1e5d1f259

The long and short of it is using setcap on the binary to set the SYS_NICE capability.

[2021-02-26 02:42] AManMustHaveACode commented on #75663
find same error with cilium
/reopen

[2021-02-26 03:02] #96986 closed

[2021-02-26 03:48] amwat opened #99480 "[Failing Test] ServiceAccounts ServiceAccountIssuerDiscovery should support OIDC discovery of service account issuer [Conformance]"
#### Which jobs are failing:
`ci-kubernetes-gce-conformance-latest-kubetest2`
#### Which test(s) are failing:
`Kubernetes e2e suite.[sig-auth] ServiceAccounts ServiceAccountIssuerDiscovery should support OIDC discovery of service account issuer [Conformance] `
#### Since when has it been failing:
Fairly new job, but it's the only Conformance test which is failing consistently.
#### Testgrid link:

[2021-02-26 03:59] BenTheElder commented on #99480
The JWT issuer comes from the cluster configuration. I suspect kube-up is not invoked quite the same between the two. `--service-account-issuer=` on the apiserver

[2021-02-26 04:13] shib1000 commented on #95021
/remove-lifecycle rotten

[2021-02-26 04:33] amwat commented on #99480
👍    yup, I think that's the diff.

`I0225 22:32:58.776940       9 flags.go:59] FLAG: --service-account-issuer="https://kubernetes.io/kubetest2"`

in the `kube-apiserver.log`

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest-kubetest2/1365061586389045248/artifacts/3eb373ce-77b6-11eb-a92b-f2148a2022dd/cluster-logs/kubetest2-master/

as opposed to

`I0226 01:06:

[2021-02-26 04:36] BenTheElder commented on #99480
I'm not sure if we require support for alternative issuers, the other issuer is the "usual" one in our jobs for in-cluster issuer.
cc @mtaufen

[2021-02-26 05:00] amwat commented on #99480
ref: https://github.com/kubernetes/kubernetes/pull/88048

[2021-02-26 05:54] smileusd opened #99482 "Pod with hugepage stay OutOfhugepages or Unknown error when node restart"
/sig node

#### What happened:
[code]
After restart node, pod stay OutOfhugepages-2Mi, but new pod can success create on the node. I try to restart kubelet but not work.
But some times it was Unknown after reboot:
[code]
#### What you expected to happen:
Pod should be running
#### How to reproduce it (as minimally and precisely as possible):
1. start a pod with hugepage emptydir
2. restart node

K

[2021-02-26 05:57] smileusd opened #99483 "pod with hugepage can not write if kubelet start earlier than node hugepage ready"
/sig node

#### What happened:
pod with hugepage could not work when node restart.
need restart kubelet to fix this issues.

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):
[code]
hugepage C program: https://github.com/torvalds/linux/blob/master/tools/testing/selftests/vm/hugepage-mmap.c
#### Anything else we need to know?:

#### Environment:
-

[2021-02-26 05:58] naresh-makhija commented on #99466
/sig node

[2021-02-26 06:00] naresh-makhija commented on #99466
/wg K8s Infra
/sig Architecture

[2021-02-26 06:45] nadaahm commented on #75890
/remove-lifecycle stale

[2021-02-26 07:06] NickrenREN commented on #98828
Sure, how about update events for backoff queue pods ? Updating them there ?

[2021-02-26 07:08] adisky commented on #3595
look at it later (not for self)

[2021-02-26 07:29] zhangjiarui130 commented on #57345
I have tested command "systemctl daemon-reload"，it don't work.
my question is frequent creation and stop of PODS by JOB mode causes the time to create and stop PODS to gradually increase

[2021-02-26 07:39] adisky commented on #95932
/remove-lifecycle stale
/assign

[2021-02-26 07:50] #97530 closed

[2021-02-26 08:16] pohly commented on #83265
/help

[2021-02-26 09:07] #95062 closed

[2021-02-26 09:14] ensonic commented on #3595
@jasongerard thats for sharing the "setcap on the binary" tip - we are buliding with bazel (distroless) and there it probably requires some non-trivial changes to apply that though.

[2021-02-26 09:23] bart0sh commented on #99402
@cynepco3hahue after conversation with @derekwaynecarr on slack I'd say we should stick to the current procedure - restarting kubelet when hugepages allocation changes. So, we should investigate why kubelet doesn't restart properly in this test case and fix it.

[2021-02-26 09:26] boogiefromzk commented on #92463
Same on centos 8

[2021-02-26 09:50] bibinphilip commented on #93712
/reopen

[2021-02-26 09:55] pacoxu commented on #97100
It will be fixed in 1.20.5 and 1.19.9 if they got merged. The target date is 2021-03-17 according to [detailed-release-history-for-active-branches](https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md#detailed-release-history-for-active-branches)

[2021-02-26 10:26] wzshiming commented on #99475
Hi, do you know how to reproduce it?

[2021-02-26 11:19] 2339478391 opened #99489 "how to make the self defined controllers watching mutually exclusive"
#### What would you like to be added:

two scenes

all the controllers watching the same resource
when the resource changes
all the controllers will get the event

all the controllers watching the same resource
when the resource changes
one of the controllers per "group" will get the event

#### Why is this needed:

two controller are mutual backups, both are working, that's a cluster
one fail dow

[2021-02-26 11:56] adisky commented on #95932
@karan I am new to kubelet code, trying to understand.
 IIUC, PLEG does not passes `exitCode` in the generated events, one way is to pass the exit code in events generated.
https://github.com/kubernetes/kubernetes/blob/bce5d7a0158444080ed95aae6a5684ce4dd9444b/pkg/kubelet/pleg/generic.go#L223-L224

other way is to get the exit code from podCache before logging which return pod status.
https://githu

[2021-02-26 12:10] #92223 closed

[2021-02-26 12:20] mikkeloscar commented on #83107
/remove-lifecycle rotten

[2021-02-26 12:39] knight42 commented on #99139
I have submitted a PR #99490 to finish the PDB part.

[2021-02-26 14:15] alculquicondor commented on #99205
It sounds like you could proceed. I would still advice a KEP, because of the readiness questionnaire and to have the change properly documented. Note that this means that you would have to do this next release, as enhancements freeze already happened.

Unless people think a KEP is an overkill for this.

[2021-02-26 14:18] alculquicondor commented on #95446
/assign @adtac

[2021-02-26 14:29] neolit123 commented on #99475
yes, please include reproduction steps with a minimal Pod YAML example.

/sig auth storage

[2021-02-26 14:42] SerialVelocity commented on #80968
/remove-lifecycle stale

The PR hasn't merged yet.

[2021-02-26 14:49] alculquicondor commented on #98828
#98829 is not handling 1 yet.

You could check if the backoff period finished, but it sounds like an overkill, because the routine that checks backoffs will eventually do it.

[2021-02-26 15:13] SataQiu commented on #99461
Maybe we can add a `trap` to check the exit code.
[code]

[2021-02-26 15:14] SataQiu commented on #99461
/cc

[2021-02-26 15:40] liggitt commented on #91834
fixed by #99174

[2021-02-26 15:40] #91834 closed

[2021-02-26 15:46] liggitt commented on #99461
something like that seems like a good idea

[2021-02-26 16:01] alonsocamaro opened #99496 "please delete"

[2021-02-26 16:03] spiffxp commented on #76206
/remove-help

[2021-02-26 16:06] #99496 closed

[2021-02-26 16:07] spiffxp commented on #88039
/remove-lifecycle rotten
/help

[2021-02-26 16:07] guieckert commented on #33664
Hi.

I know this case is closed, but here is my solution and why it works.

In the Kubernetes documentation:

"This means that the new revision is created if and only if the Deployment's Pod template (.spec.template) is changed, for example if you update the labels or container images of the template."

[Kubernetes](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#rolling-back

[2021-02-26 16:32] alculquicondor opened #99497 "Simplifying inter-pod-communication between Job Pods"
In #97169, kubernetes/enhancements#2214 we are adding Indexed completion mode, in which each pod of a job gets an index as an annotation. This is useful for static work partitioning in parallel jobs.

We see a potential expansion for indexed completion mode (also mentioned in [KEP alternatives](https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2214-indexed-job#alternatives)) in

[2021-02-26 16:33] BenTheElder commented on #99461
usually when we want to do stuff like that we instead record the exit code for specific steps with something like `command || ret=$?` so we can check after and inform the user of the specific failure (and suggest what to do), then `exit $ret`

[2021-02-26 16:35] liggitt commented on #99480
cc @mtaufen

the test config is more correct... it's a resolveable host that serves discovery data for the issuer

[2021-02-26 16:37] liggitt commented on #99470
cc @mtaufen

[2021-02-26 16:49] adtac commented on #93793
/remove-lifecycle stale

[2021-02-26 16:59] nicktming opened #99499 "psp.allowedHostPaths could not reject symlink"
#### What would you like to be added:
Add a admithandler in kubelet to reject symlink vol. if pods want to use a hostpath, there is no need to use symlink, becase pods could use its symlink target path.

#### Why is this needed:
psp.allowedHostPaths using prefix could not reject symlink, which would make all system path such as /dev, /root exposed to pods using symlink.

[2021-02-26 17:05] nicktming commented on #99499
/sig <security>

[2021-02-26 17:11] ahg-g commented on #99497
+1 to having a mode for stable dns pod names.

There are two cases for stable dns names:
1) MPI jobs (see [mpi-operator](https://github.com/kubeflow/mpi-operator))
2) Distributed Tensorflow training jobs (see [tf-operator](https://github.com/kubeflow/tf-operator))

While MPI can likely use Statefulset, tf-operator could significantly be simplified if v1.Job support indexed and stable dns names.

A

[2021-02-26 17:28] BenTheElder commented on #88039
We're going to need to update this to verify under `make verify` as well instead of under the bazel "unit tests", ref: https://github.com/kubernetes/enhancements/issues/2420#issuecomment-785663043

I'll work on this.

[2021-02-26 17:30] #99376 closed

[2021-02-26 17:31] ImJasonH commented on #99376
Thanks for taking this on @liggitt !! 🎉

[2021-02-26 17:47] nicktming opened #99502 "creating hundreds of pods while creating a rejected deployment"
#### What happened:
if creating a deployment, and its pod is rejected by one admithandler, the deployment controller will create hundred thousands of pods.

#### What you expected to happen:
creating the pods with the number of replicas in deployment.

#### How to reproduce it (as minimally and precisely as possible):
creating a deployment which will be rejected by one admithandler at kubelet.

##

[2021-02-26 18:23] jmos5156 commented on #90150
Can we re-open this as we have hit this same issue twice now on two different clusters. Although we have not been able to repeat the issue at will, we have experienced the same issue described above. We have found that using the same shared rule annotation, can sometimes lead to errors like this
[code]
In an attempt to fix and reverse back we have deleted the Helm release and for the service + end

[2021-02-26 18:38] liggitt opened #99503 "kube-controller-manager discovery throttling messages"
#### What happened:

Ran kube-controller-manager with `hack/local-up-cluster` and observed this in the log every 30 seconds:

[code]

This is also happening in 1.20, 1.19, and 1.18

The GC and quota clients look up discovery information every 30 seconds. They have a QPS of 20 requests per second and a burst of 30 requests.

#### What you expected to happen:

Default configuration of kube-controlle

[2021-02-26 18:53] Huang-Wei commented on #98828
Yes.

Prefer to handle this in a separate PR.

[2021-02-26 19:16] ajgrowney commented on #95140
Experiencing this same bug:

Environment:

Kubernetes version (use kubectl version):
[code]
Cloud provider: AWS EKS

[2021-02-26 19:20] jtfogarty opened #99504 "certificatesigningrequests is in a Approved,Failed condition"
#### What happened:
certificatesigningrequests is in a Approved,Failed condition
#### What you expected to happen:
certificatesigningrequests is in a Approved,Issued condition
#### How to reproduce it (as minimally and precisely as possible):

I create this gist https://gist.github.com/jtfogarty/173d46037d7d69b46cbf457cb9d41cc8 with 2 files.
v1.sh and v1beta1.sh corresponding to the certificatesig

[2021-02-26 19:26] immanetize commented on #40610
Wow, this has been going for a long time.  I would really like to have a clear picture of how my pods are balanced between availability zones.  I can't imagine I am the only one operating kubernetes clusters in multiple failover zones who would benefit from this perspective.  Can anyone explain to me at a high level how region/AZ labels on metrics can be used to compromise the cluster or it's work

[2021-02-26 19:26] enj commented on #99311
IIRC, the envvar support for secrets was added in the early days of Kube to have feature parity with platforms like Heroku.  If we had the chance to do it all over again, I think we would not support this functionality.  At the same time, we cannot go around breaking users of a stable v1 API.  Maybe something to consider if we ever attempt a v2 API.

Security considerations aside, this comment fro

[2021-02-26 19:30] Jiawei0227 commented on #91246
Hey @humblec , is there any updates on the CSI migration status for ceph?

[2021-02-26 19:34] rtheis commented on #99238
@BenTheElder Thank you.  Using KUBE_DOCKER_REGISTRY and KUBE_BASE_IMAGE_REGISTRY will give us what we want.  I incorrectly assumed that the image builds would pull in additional dependencies.  And finally, thank you for catching https://github.com/kubernetes/kubernetes/pull/99145.  I think we can close this issue.

[2021-02-26 19:39] #99238 closed

[2021-02-26 20:02] ahg-g opened #99505 "CronJob unit tests are flaky"
#### Which jobs are flaking:
pull-kubernetes-unit

#### Which test(s) are flaking:
k8s.io/kubernetes/pkg/controller/cronjob: TestController2_updateCronJob/spec.schedule_changed
k8s.io/kubernetes/pkg/controller/cronjob: TestController2_updateCronJob

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/98582/pull-kubernetes-unit/1365354170114117632

/sig apps
/assign @soltysh

[2021-02-26 20:15] jtfogarty commented on #99504
version 1.20.4 also results in the Approved,Failed condition

[2021-02-26 21:08] Jiawei0227 commented on #94108
/reopen

[2021-02-26 21:09] Jiawei0227 commented on #94108
Trying to understand more on this, is it possible to reject a DeleteVolume call if the volume is still staged? Are we able to somehow do that?

[2021-02-26 21:10] geerlingguy commented on #95492
/close

[2021-02-26 21:11] #95492 closed

[2021-02-26 21:11] msau42 commented on #94108
@saikat-royc is working on a solution in external-provisioner to check for nodeunstage success.

[2021-02-26 21:14] Jiawei0227 commented on #94108
Yeah, I am thinking more about from the CSI perspective. When driver deletes volume, is it able to check whether the volume is being staged on some node?

[2021-02-26 21:58] #64429 closed

[2021-02-26 21:58] #98885 closed

[2021-02-26 22:10] msau42 commented on #94108
Not all drivers will have that ability, especially if the process of mounting something on a node doesn't show in the control plane.

[2021-02-26 22:53] phroiland opened #99511 "yaml files saved as .json"
`kubectl cluster-info dump --all-namespaces --output-directory=${HOME}/dump/ -o yaml`

When running the above command, YAML files are created, but they are saved with the *.json* extension.

[2021-02-26 22:54] phroiland commented on #99511
/sig cli

[2021-02-26 23:23] rittneje opened #99513 "rolling update strategy maxSurge 0 not respected"
#### What happened:

I created a deployment with a rolling update strategy with maxSurge=0 and maxUnavailable=1. I then restarted the deployment via `kubectl rollout restart`.

It unexpectedly started scheduling a new pod before one of the old pods finished terminating. This in turn triggered the cluster-autoscaler to provision a new node, which is exactly what we are trying to prevent.

#### What

[2021-02-26 23:25] rittneje commented on #99513
/sig apps

[2021-02-26 23:33] jsturtevant commented on #98102
I was able to reproduce this:

[code]

[code]

I can see there are now Windows pods:

[code]

But on the Windows node there is a left over containers running:

[code]

Containerd thinks there are two:

[code]

The container is killed at `20:09:47.784715` then the log starts to show up 15 mins later at `20:14:03.256813` and repeats regularly:

[code]

10 mins later there is another stop container i

[2021-02-27 00:29] jsturtevant commented on #98102
Interestingly there don't seem to be any containerd tasks running but HCS and containerd think they are running:

[code]

[code]

[code]

[2021-02-27 00:30] #99480 closed

[2021-02-27 00:37] pbaumbacher opened #99516 "GCE Persistent Disk pdName field is not useful"
#### What would you like to be added:

The `gcePersistentDisk` used in persistent volumes looks like this:
[code]

It would be more useful if it matched the format used by in a node's `providerId` field, like below:
[code]

#### Why is this needed:
The current name format is not useful programmatically, since you can't interact with the disk through the GCE API without also knowing the project and

[2021-02-27 00:39] pbaumbacher commented on #99516
/sig api-machinery

[2021-02-27 00:44] jsturtevant commented on #98102
logs of the container:

[code]

[2021-02-27 00:49] BenTheElder opened #99517 "make build should support a smaller / faster target for core component development / testing"
`make quick-release` is one of the more reasonable options for development builds

and yet it builds lots of things like:
`cmd/linkcheck`
`cmd/genyaml`
`cmd/gendocs`
`cmd/genman`
`cmd/genkubedocs`
`cmd/genswaggertypedocs`
`cluster/images/conformance/go-runner` (even though `cluster/images/conformance` has it's own makefile)

and something to probably deprecate and remove entirely:
`cluster/gce/gci

[2021-02-27 00:50] Jiawei0227 opened #99518 "In-tree plugin deprecation plan for non CSI migration support vendors"
#### What would you like to be added:
sig-storage should come up with a plan to deprecate in-tree plugins that do not support CSI migration. And eventually, remove the code from core k8s codebase.

#### Why is this needed:
CSI Migration has been in Beta since v1.17, and it is planning to go GA around 1.23-1.24.
Currently, there are a lot of [in-tree plugins](https://kubernetes.io/docs/concepts/sto

[2021-02-27 00:51] BenTheElder commented on #99517
basically the only thing "quick" about "quick-release" is that we don't build for all platforms. we can do quicker than that.

[2021-02-27 01:40] msau42 commented on #99518
/triage accepted
@kubernetes/sig-storage-proposals

[2021-02-27 02:25] thockin commented on #40610
The simple answer is that it will get implemented when someone steps up to design and implement it.  There are hundreds and hundreds of these issues - really decent ideas - and they all need someone to step up to drive it.

I know that's not what you wanted to hear, but this project has a finite number of (mostly volunteer!) contributors with finite hours per week.  If you have some time, why not

[2021-02-27 03:55] BenTheElder commented on #99517
Thinking about this some more: I think this wants for a different make target.

[2021-02-27 04:26] #95162 closed

[2021-02-27 08:35] uablrek commented on #99162
I was't able to check this during the week, but here are some new observations.

My first thought was that this is some kind of race; when a pod is deleted some SYNs may "sneak through" before weight=0 is set leaving states in conntrack and ipvs and what-not.

### The pods don't have to be deleted with traffic running

1. Run a `vegeta attack` for a short time to get some "InActConn"s in ipvs, the

[2021-02-27 11:58] uablrek commented on #99162
I begin to suspect a kernel problem. I upgraded my kernel to `linux-5.11.1` but the problem is still there.

Another observation; when weight=0 is set for an entry it receives no new connections, `ActiveConn` is zero;
[code]

No problems until...

when the `InActConn` for the entry begin to timeout is seems that it "leaves room" for `ActiveConn`;
[code]
Now 16 of the original 329 `InActConn` has t

[2021-02-27 13:18] rtheis commented on #73698
Test updated, we'll let you know the results once it merges into our pipeline.

[2021-02-27 13:27] uablrek commented on #99162
I sent an issue on linux;
https://bugzilla.kernel.org/show_bug.cgi?id=211979

[2021-02-27 13:35] #95182 closed

[2021-02-27 14:12] pandaamanda commented on #99511
In my cluster, it seems ok. what k8s version you use?
[code]

[2021-02-27 14:40] tharun208 commented on #97497
@ehashman I like to work on this issue.

[2021-02-27 17:45] aojea commented on #99466
This, most probabl, is caused because the pods are not ready, and kube-proxy will insert reject rules to the services
You have to check your pod status
/kind support

[2021-02-27 17:49] aojea commented on #99407
I think that this is indeed a duplicate of https://github.com/kubernetes/kubernetes/issues/87603
/cc @MrHohn @thockin

[2021-02-27 17:51] marjau commented on #95039
Same for Raspberry4B 2G

Cannot read number of physical cores correctly, number of cores set to 0
Cannot determine CPU /sys/bus/cpu/devices/cpu0 online state, skipping
Cannot determine CPU /sys/bus/cpu/devices/cpu1 online state, skipping
Cannot determine CPU /sys/bus/cpu/devices/cpu2 online state, skipping
Cannot determine CPU /sys/bus/cpu/devices/cpu3 online state, skipping

[2021-02-27 17:53] marjau commented on #95039
sudo k3s check-config

Verifying binaries in /var/lib/rancher/k3s/data/361e543640f8374c1cf244caf8533fad9a5035c10b5b4d8abad52f15899a2934/bin:
- sha256sum: good
- links: good

System:
- /usr/sbin iptables v1.8.2 (legacy): ok
- swap: disabled
- routes: ok

Limits:
- /proc/sys/kernel/keys/root_maxkeys: 1000000

info: reading kernel config from /proc/config.gz ...

Generally Necessary:
- cgroup hierarc

[2021-02-27 18:17] liggitt commented on #99454
The forbidden message comes from here:

https://github.com/kubernetes/kubernetes/blob/bd190762fb77b78788e1a3ba72d70a8a08e184b8/plugin/pkg/auth/authorizer/node/node_authorizer.go#L196-L199

Nodes are not authorized to watch all secrets, only specifically named ones.

The watch is being attempted here:

https://github.com/kubernetes/kubernetes/blob/bd190762fb77b78788e1a3ba72d70a8a08e184b8/pkg/kubele

[2021-02-27 18:22] liggitt commented on #99504
Thanks for the detailed reproduction steps.

When you requested a CSR via the v1beta1 API, you didn't specify a signerName, so the `kubernetes.io/legacy-unknown` signer was used, which places no restrictions on the shape of the submitted CSR.

When you requested a CSR with the v1 API, you specified the `kubernetes.io/kubelet-serving` signer, which places restrictions on the submitted CSR, includin

[2021-02-27 18:22] #99504 closed

[2021-02-27 18:25] liggitt commented on #99516
/remove-sig api-machinery
/sig storage
/remove-kind feature
/kind support

[2021-02-27 18:26] liggitt commented on #99505
This is important to resolve before promotion to v1

[2021-02-27 18:35] sftim commented on #99511
/triage needs-information
I think

[2021-02-27 19:29] liggitt commented on #99454
It looks like API validation permits some of the `secretRef` pod fields to be non-nil without specifying a secret name, and the kubelet code that starts informers to watch those secrets was not correctly filterering those out. When the kubelet tried to list/watch secrets without specifying a name, it was forbidden (correctly), but produced those error messages. https://github.com/kubernetes/kubern

[2021-02-27 21:21] liggitt commented on #68578
Dropping `good first issue` since the compatibility implications are unclear. At this point, I think we should probably continue accepting what we previously accepted.

[2021-02-28 03:27] liggitt commented on #99505
looks like the cause was https://github.com/kubernetes/kubernetes/pull/97098

[2021-02-28 04:20] gavinfish commented on #95952
/assign

[2021-02-28 06:06] NickrenREN commented on #98828
@Huang-Wei  FYI ,  #98829 updated

[2021-02-28 08:14] BenTheElder commented on #98720
Any update on this? This makes debugging more painful. There's a *lot* of noise. cc @thockin.

[2021-02-28 08:33] sagarvelankar commented on #97283
Hi,

I solved this problem in CentOS 8 by creating a new firewalld zone for kubernetes pods and setting its target to ACCEPT.
So, firewalld will accept packets going into POD SUBNET CIDR (ingress zone) and also packets coming out of POD SUBNET CIDR
(egress zone)

Commands :

[code]

firewall-cmd man :

[code]

Versions :

[code]

To see what is getting rejected by firewalld, use the below commands

[2021-02-28 08:42] BenTheElder commented on #95600
I think this is an I/O throttling issue in CI. Aaron and I are intermittently working on mitigations for the CI.

[2021-02-28 08:47] krejkrejkrej commented on #72220
/remove-lifecycle stale

[2021-02-28 09:08] zetaab commented on #98720
@BenTheElder the problem is that these log rows are not coming from this repository. Instead these are coming from vendor/google.golang.org/grpc

for instance
[code]

is coming from https://github.com/kubernetes/kubernetes/blob/v1.20.2/vendor/google.golang.org/grpc/clientconn.go#L674

https://pkg.go.dev/google.golang.org/grpc/grpclog#Infof ... which means that it does not matter what loglevel that

[2021-02-28 09:55] #86862 closed

[2021-02-28 10:00] BenTheElder commented on #98720
I don't think GRPC logs klog style lines on its own?, wherever we have the logging adapter we could handle this on our end.

[2021-02-28 10:01] BenTheElder commented on #98720
Our shim should probably map GCPC info => V(N) for some N > 1.

[2021-02-28 10:56] wojtek-t commented on #96836
This has been addressed by linked PRs.

[2021-02-28 10:56] #96836 closed

[2021-02-28 13:30] #88039 closed

[2021-02-28 14:38] rikatz commented on #97640
Can we add the endPort test here, just to increase this coverage?

[2021-02-28 14:40] jayunit100 commented on #99268
since this is related to ipv6 who should we assign this to ?

[2021-02-28 15:03] hasheddan commented on #96759
@msau42 @jingxu97 any updates here?

[2021-02-28 15:03] aojea commented on #99268
this seems a configuration/OS problem, we had similar issues in the past, the OS defaults to resolve localhost to ::1 https://gist.github.com/aojea/94f6f483173641647c731f582e52f0b0#file-localhost_resolution_go-md and some users disable ipv6
https://github.com/kubernetes/kubernetes/issues/95706#issuecomment-717803633

/kind support
/assign

I'll take it

[2021-02-28 15:12] cynepco3hahue commented on #99402
Nope, I failed to reproduce it locally, also under the CI, it does not appear often. The best thing will be to describe the pod in case if it failed, so we will see the reason.

[2021-02-28 15:15] mauricepoirrier commented on #99005
Hey guys, as @mowangdk says, there are a lot of boilerplate on other tests, should I take `/pkg/apis/apps/validation/validation_test.go` ?

[2021-02-28 15:36] #46625 closed

[2021-02-28 15:36] #97640 closed

[2021-02-28 15:43] gavinfish commented on #99505
This function should be related.
https://github.com/kubernetes/kubernetes/blob/c410910c1f3d17c1f35a1c1d59a59d167ddf8935/pkg/controller/cronjob/cronjob_controllerv2.go#L607-L615

[2021-02-28 15:51] knabben opened #99551 "Add E2E tests for Port Ranges on Network Policy"
#### What would you like to be added:
Add E2E tests for Port Ranges on Network Policy
Enhancement proposal:

https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/2079-network-policy-port-range/README.md

#### Why is this needed:
In order to increase test coverage for the Port Range network policy feature.

[2021-02-28 15:52] knabben commented on #99551
/sig network
/area testing

[2021-02-28 15:58] knabben opened #99552 "Add E2E tests for immutable label selector for namespace"
#### What would you like to be added:
Add E2E tests for the immutable label selector for NS

Enhancement proposal:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2161-apiserver-default-labels

#### Why is this needed:
In order to increase test coverage for the default namespace label feature

[2021-02-28 15:58] knabben commented on #99552
/sig network
/area testing

[2021-02-28 17:09] BenTheElder commented on #88039
done in https://github.com/kubernetes/kubernetes/pull/99549

[2021-02-28 17:32] pires commented on #89163
/remove-lifecycle stale

I've talked to @mlbiam recently and there's some progress on this. There also seems to be someone else willing to share the load, myself included.

[2021-02-28 17:45] BenTheElder commented on #98854
GCE flake https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1361815019435593728

[2021-02-28 17:59] zetaab commented on #98720
I found similar issue with PR https://github.com/kubernetes/kubernetes/pull/84061 I think it could solve this issue also.

[2021-02-28 18:13] BenTheElder commented on #98784
another occurrence on https://github.com/kubernetes/kubernetes/pull/99553
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99553/pull-kubernetes-bazel-test/1366080819080204288

[2021-02-28 22:12] mattcary opened #99559 "StatefulSetControl unittests do not update Status correctly."
In pkg/controller/statefulset/stateful_set_control_test.go, scaleUpStatefulSetControl and scaleDownStatefulSet control assume that set.Status is correct. However, in many of the unittests where scale*StatefulSetControl is called multiple times, the set is not updated between calls. This is most apparent in ScaleDown, where the the old Status makes the scaleDownStatefulSetControl call incorrectly a

[2021-02-28 23:02] BenTheElder opened #99562 "hack/tools/go.mod transitively imports this repo at v1.13.0"
See: https://github.com/kubernetes/kubernetes/pull/98845/files#r584370625

We should not have cycles like this.

[2021-02-28 23:52] knabben commented on #97640
@rikatz moved the port range tests to https://github.com/kubernetes/kubernetes/issues/99551

[2021-03-01 00:09] #95139 closed

[2021-03-01 00:46] dims commented on #99562
https://github.com/kubernetes-sigs/zeitgeist/pull/29#issuecomment-787559461 :(

@hasheddan @saschagrunert @justaugustus

[2021-03-01 00:47] dims commented on #99562
/milestone v1.21

[2021-03-01 00:47] dims commented on #99562
/priority important-critical

[2021-03-01 00:48] dims commented on #99562
/priority critical-urgent

[2021-03-01 01:06] BobyMCbobs commented on #98180
I've been taking a look at the logs. Please correct me if I'm wrong, but it appears that it may be infra related.

Looking at two jobs kubelet logs [_ci-kubernetes-kind-e2e-parallel/1365739457365413888_](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1365739457365413888/artifacts/logs/kind-worker/kubelet.log) (success) and [_ci-kubernetes-kind-e2e-parallel/1

[2021-03-01 02:02] justaugustus commented on #99562
/assign

[2021-03-01 03:02] adtac commented on #99392
+1 to the enhancement

This has a limitation: you'd need to modify each test if you want to run all tests with a different scheduler config. I instead propose an environment variable that is understood by scheduler_perf (same idea as the command line flag basically). Something like this maybe?

[code]

[2021-03-01 03:56] waynepeking348 opened #99571 "add timeout configuration for device plugin restart"
#### What would you like to be added:
we would like to add a timeout configuration before device manager decide to report (and set) device allocatable to zero

#### Why is this needed:
in our production environment, whenever we restart our device plugin, the corresponding device allocatable would scale down to zero immediately; this should be confusing, so it would be better if we could wait for a

[2021-03-01 03:57] waynepeking348 commented on #99571
/sig node

[2021-03-01 05:09] sbueringer commented on #74415
/unassign

Unfortunately, I won't have the time to implement this.

[2021-03-01 06:05] shaunmansell commented on #96971
/remove-lifecycle stale

[2021-03-01 06:50] tamalsaha commented on #98380
I would also like to report this issue with k8s v0.20.4 and master branch. This is a blocker for projects using EAS to upgrade to the v0.20.x client-go.

[2021-03-01 07:15] zerkms commented on #78007
/remove-lifecycle stale

[2021-03-01 07:16] wojtek-t commented on #99454
Thanks Jordan for debugging and fixing!

[2021-03-01 08:12] #99454 closed

[2021-03-01 08:43] chestack opened #99577 "PodOverhead resource not counted into ResourceQuota used info"
#### What happened:

assume that: cluster with only one node with 4G allocatable memory

Define test runtimeclass with PodOverhead
[code]
Define resourceQuota test under test namespace with 4Gi memory limit
[code]
Create Pod with test runtimeClass under test namespace
[code]

podOverhead resource not counted into resourceQuota used info
[code]

podOverhead resource counted into node requests info

[2021-03-01 08:53] Shahar-Satori commented on #69041
we'll be happy to have this ability!

[2021-03-01 09:14] gjkim42 commented on #99577
/assign

[2021-03-01 09:22] gjkim42 commented on #99577
/sig node

[2021-03-01 10:13] chendave opened #99580 "scheduler failed to start due to the custom plugin config in scheduler config file"
#### What happened:
Start the scheduler with a scheduler config file which has a custom configuration for a specific plugin, the scheduler will fail to start and throw below exception,

*kube-scheduler.yaml*
[code]

error message,
[code]

#### What you expected to happen:
custom plugin config should take precedence over default plugin config.

#### How to reproduce it (as minimally and precisely a

[2021-03-01 10:14] chendave commented on #99580
/sig scheduling
/assign

[2021-03-01 10:28] polycaster commented on #99454
Just an FYI for anyone that might see this issue on their environment.

I found that Istio was injecting sidecar proxies with empty `imagePullSecrets`. I was unable to see this by describing `Deployment`, `Pod`, and `ReplicaSet`.
The only way of seeing the relevant empty field was to edit the pod at which point I was able to see the following:

[code]

[2021-03-01 10:36] jsafrane commented on #99518
While I agree we should remove as much from in-tree as possible, there is also Kubernetes deprecation policy, which says that we can remove API elements only by introducing v2 of the API.

The whole CSI migration that we plan for cloud-based volume plugins was designed not to change the API at all. IMO someone needs to rewrite the current volume plugins into *compatible* CSI drivers and it will be

[2021-03-01 10:51] chymy opened #99583 "`kubectl explain crd.spec.versions.schema ` schema should be required"
#### What happened:

 We know that `schema` field is optional through `kubectl explain crd.spec.versions.schema `：

[code]
I create a `crd` without `schema`:
[code]
when I execute `kubectl create -f crd.yml`, it prints the following error:
[code]
so schema is required.

#### What you expected to happen:
schema should be show required
`kubectl explain crd.spec.versions.schema `：

[code]

#### How t

[2021-03-01 10:51] chymy commented on #99583
/sig cli

[2021-03-01 10:55] cynepco3hahue commented on #99070
/assign @cynepco3hahue

[2021-03-01 10:57] adtac commented on #69311
Closing in favour of https://github.com/kubernetes/enhancements/issues/2232 - this feature is being added.

cc @ahg-g @alculquicondor
/close

[2021-03-01 10:57] #69311 closed

[2021-03-01 10:59] OJFord commented on #80399
Just a note that I did ask about this in Slack#sig-cli on 16/12/20;  @soltysh [wrote](https://kubernetes.slack.com/archives/C2GL57FJ4/p1608141630270800):

And that appears to be here: kubernetes/enhancements#2229.

Thanks again.

[2021-03-01 10:59] cynepco3hahue commented on #99402
under the code we have
[code]

so from the log https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-hugepages/1366067610260606976/artifacts/n1-standard-2-ubuntu-gke-1804-1-16-v20200330-db753712/kubelet.log, I can see that the kubelet received the pod before the kubelet stopped, so the problem that pod dropped to Failed state because of the kubelet stop.

[2021-03-01 11:25] cynepco3hahue commented on #99402
So some additional details, the one who responsible to restart the kubelet again, is the server service:
1. we restart the kubelet service
2. we are waiting for hugepages to be available
3. we are starting the pod
4. the server service restart the kubelet again because it was not healthy for too long - https://github.com/kubernetes/kubernetes/blob/793390e13be91d79150b57abad5710477ab96bd7/test/e2e_

[2021-03-01 11:42] tomerleib commented on #68737
I've too tested it with `cascade=false` and my pvc's left intact, so couldn't reproduce the issue that @jqx306 reported here.

[2021-03-01 12:50] soltysh commented on #54491
For anyone willing to work on this, the last restart time should be an approximation from all the statuses of all containers and initcontainers. I will want to see extensive unit tests for this particular case.

[2021-03-01 12:55] gjkim42 commented on #99577
ref: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/688-pod-overhead

[2021-03-01 13:00] ahg-g commented on #97169
/triage accepted

[2021-03-01 13:03] gavinfish commented on #99583
/assign

[2021-03-01 13:21] adtac commented on #99580
Does disabling the plugin and re-enabling the same plugin with a different weight work as a workaround?

[2021-03-01 13:34] liggitt commented on #99454
Thanks for digging. Has this been reported to Istio?

[2021-03-01 14:08] bart0sh commented on #99402
@cynepco3hahue great findings! Should we just stop the kubelet and give the server service to start it again? We can also check if the kubelet is restarted successfully before starting the pod.

[2021-03-01 14:11] cynepco3hahue commented on #99402
@bart0sh I tried it under the PR https://github.com/kubernetes/kubernetes/pull/99584, also I unsure how can we check if the kubelet restarted successfully. All tests that I wrote before I checked if the node has NotReady state and waited until it will be Ready, but in case of the restart probably the node will always have Ready state because the time period is very short. I will continue to invest

[2021-03-01 14:33] SataQiu commented on #99461
/assign

[2021-03-01 14:38] Joseph-Goergen commented on #99238
@BenTheElder By blocking off my network from `k8s.gcr.io`, I was able to verify that not everything is pulled from the variable, I was able to verify it does with the PR I just submitted

[2021-03-01 14:43] xing-yang commented on #99399
triage/accepted

[2021-03-01 14:43] xing-yang commented on #99399
/triage accepted

[2021-03-01 14:44] polycaster commented on #99454
If istio were deployed with the default args it wouldn't face this issue.

What I found on my side is that we started doing some templating around istio's arguments for `imagePullSecrets`. The default value of this flag is `[]` but the way it was being initialised when there were no secrets was `[{}]` which explains the lack of name for the secret.

I've confirmed since that if the default value i

[2021-03-01 14:45] alculquicondor commented on #99392
isn't a command line argument more standard?

[2021-03-01 14:50] adtac commented on #96651
/remove-lifecycle stale

[2021-03-01 14:53] #96225 closed

[2021-03-01 14:58] liggitt commented on #99454
still, istio should detect that and either complain about the args or filter out empty items so it doesn't inject them

[2021-03-01 15:20] alculquicondor commented on #99580
This is WAI.
You have to explicitly disable the default configuration.

[2021-03-01 15:32] liggitt commented on #99352
I cannot reproduce the error... I registered a validating webhook the same way and my webhook received the following:

applying a v1beta1 Ingress:
[code]

applying a v1 ingress:
[code]

The webhook registration indicates it accepts v1 objects, so v1 Ingress objects will be sent as-is to the webhook. Is your webhook able to decode v1 Ingress objects successfully?

[2021-03-01 15:33] alculquicondor commented on #78693
/reopen
as this is still relevant in the future.

[2021-03-01 15:34] liggitt commented on #99352
If your webhook only understands v1beta1 Ingress objects, your registration object should look like this:

[code]

That would ensure that ingresses are converted to networking.k8s.io/v1beta1 before they are sent to your webhook.

If that resolves the issue, you should also be aware that v1beta1 Ingress objects will no longer be served in 1.22+, so you should work on updating your webhook to unders

[2021-03-01 15:38] immanetize commented on #40610
Absolutely, I do understand how community contributions work. I've read through two issues here with somewhat unsubstantiated privacy concerns, my hope was to get those concerns overtly documented here to help such contributions move forward.

[2021-03-01 15:40] polycaster commented on #99454
The mention above contains the ticket on istio's side

[2021-03-01 15:49] QuentinBisson commented on #99352
The issue could be on the webhook (nginx 0.43.0). Let me try to reproduce it again

Here is the webhook admission code:

[code]

[2021-03-01 15:50] liggitt commented on #99352
what type is this:
[code]

[2021-03-01 15:54] liggitt commented on #99352
found it here:

https://github.com/kubernetes/ingress-nginx/blob/master/internal/admission/controller/main.go#L25

that webhook is attempting to decode directly into a v1beta1 Ingress. That means it cannot handle being sent a v1 Ingress object and should not indicate support for v1 Ingress objects in its admission config.

[2021-03-01 16:00] egernst commented on #99577
@gjkim42 @chestack  -- can you verify that you have the feature gate enabled for pod overhead for api-server, as well as kubelet and scheduler?

[2021-03-01 16:22] michaelgugino opened #99598 "Ensure eviction respects PDB failsafe"
The PDB controller has logic to 'fail safe' if it cannot determine the correct number of desired replicas, and possibly other scenarios.  Currently, the PDB controller will set status.DisruptionsAllowed = 0, but not offer any other indication that the PDB controller has 'failed safe' to 0.  Since the intent of failing safe is to disallow all disruptions, this previously was sufficient.

Recent cha

[2021-03-01 16:23] jkaniuk opened #99599 "[Flaky Test] [sig-node] Pods Extended Pod Container Status should never report success for a pending container"
#### Which jobs are failing:
ci-kubernetes-e2e-gce-scale-correctness
#### Which test(s) are failing:
[sig-node] Pods Extended Pod Container Status should never report success for a pending container
#### Since when has it been failing:
2021-02-19
#### Testgrid link:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness&show-stale-tests=&width=90
![image](https://user-im

[2021-03-01 16:25] michaelgugino commented on #99598
/sig apps

[2021-03-01 16:27] jkaniuk commented on #99599
/triage accepted
/cc @wojtek-t @mborsz

[2021-03-01 16:31] QuentinBisson commented on #99352
Should the apiequality.Semantic.DeepEqual not theoretically accept v1 as well?

[2021-03-01 16:32] QuentinBisson commented on #99352
If not, we can close this then. This was my misunderstanding. Thanks for you help @liggitt

[2021-03-01 16:35] jkaniuk commented on #99599
I do not see any recent changes in test setup, apart from test renames.

[2021-03-01 16:38] liggitt commented on #99352
no, that method doesn't have anything to do with different API versions. It does things like treating `null` and empty lists as equivalent.

[2021-03-01 16:38] #99352 closed

[2021-03-01 16:41] adtac commented on #99392
It is, but arg parsing is tricky with `go test` IME. However if @chendave prefers and wants to implement an argument, I'll have no problems :)

[2021-03-01 16:45] liggitt commented on #97876
this is resolved in 1.21 by https://github.com/kubernetes/kubernetes/pull/99324

[2021-03-01 16:45] #97876 closed

[2021-03-01 16:48] jkaniuk commented on #99599
Test is already ignoring:
`var reBug88766 = regexp.MustCompile('rootfs_linux.*kubernetes\.io~secret.*no such file or directory')`
https://github.com/kubernetes/kubernetes/blob/8df355b/test/e2e/node/pods.go#L209

Looks very similar, so probably regex should be extended.

Original issues and PRs:
https://github.com/kubernetes/kubernetes/issues/88766
https://github.com/kubernetes/kubernetes/pull/8887

[2021-03-01 16:54] liggitt commented on #70679
This feature graduates to beta in 1.21 and is enabled by default. Remaining items to GA are tracked in https://github.com/kubernetes/enhancements/issues/542 and https://github.com/orgs/kubernetes/projects/51

[2021-03-01 16:54] gjkim42 commented on #99577
@egernst
I made a cluster with the following command,
`FEATURE_GATES='PodOverhead=true' hack/local-up-cluster.sh`
using crio as a container runtime(`RuntimeClass` is not available with Docker)

And the issue was reproduced.

[2021-03-01 16:54] #70679 closed

[2021-03-01 17:17] howardjohn commented on #43214
@liggitt given the conversion code (like Convert_v1beta1_IngressSpec_To_networking_IngressSpec) is private to kubernetes/kubernetes, it seems are only options are to re-invent (likely incorrectly) the conversion logic or import k/k (which we won't do). Or duplicate all of our code 2x to support both versions. Are there other options?

I am a bit confused how the community of ingress implementation

[2021-03-01 17:28] hasheddan commented on #96759
Is this a duplicate of https://github.com/kubernetes/kubernetes/issues/88766?

/cc @smarterclayton

[2021-03-01 17:29] Kenneth-Abrams commented on #39824
/remove-lifecycle rotten

Deleting pods should respect pod disruption budget. 3 years and this still is not solved.

[2021-03-01 17:42] kvaps opened #99602 "Faulty apiserver endpoint blocking launching of static pods"
#### What happened:

I use haproxy as main loadbalancer for kube-apiservers.
Kubelets are configured to communicate with apiserver via haproxy.

Today I was testing etcd-cluster recovery procedure and all apiservers were unreachable for a while.
At this time haproxy was keeping connections open, but didn't close them because none of apiservers were working.

Kubelets were confused by this behavior

[2021-03-01 17:43] kvaps commented on #99602
/sig cluster-lifecycle
/area kubelet

[2021-03-01 17:50] ankeesler opened #99603 "Exec plugin overrides static certs in kubeconfig (different behavior than over statically configured credentials)"
#### What happened:

- My exec plugin overrode the static certs I had in my kubeconfig.

#### What you expected to happen:

- The static certs I had in my kubeconfig should take precedent over whatever is configured by my exec plugin.

#### How to reproduce it (as minimally and precisely as possible):

With admin-like privileges, do the following.
[code]

#### Anything else we need to know?:

- Th

[2021-03-01 17:51] ankeesler commented on #99603
/sig auth

[2021-03-01 17:55] #88553 closed

[2021-03-01 17:58] msau42 commented on #99518
Some vendors are either non-existent (ie flocker}, or confirmed that all of their users have already switched to CSI and don't see the need for csi migration (scaleio, storageos). For all of those, we should follow the deprecation period (1 year), and then remove the functionality, but not the API (because of technical api machinery).

In terms of priority, we should go back to one of the primary

[2021-03-01 18:38] msau42 commented on #99399
@kubernetes/sig-storage-bugs

[2021-03-01 18:38] pohly opened #99604 "PVC protection controller: when is pod shut down?"
The implementation of generic ephemeral volumes depended on relaxing the "pod uses PVC" check such that PVC deletion is allowed to proceed even when the pod itself still exist, as long as it is certain that kubelet is done with the pod:

https://github.com/kubernetes/kubernetes/blob/35c233f18d42dd9bfe96fdc08b45c8880b2ac9a2/pkg/controller/volume/pvcprotection/pvc_protection_controller.go#L295-L346

[2021-03-01 18:40] EvanKrall commented on #69507
Is there _any_ way for users to ask Kubernetes for the current ephemeral-storage usage of a pod that will match what triggers pod eviction?

[2021-03-01 18:41] adtac opened #99605 "web-based simulator for scheduler behaviour"
An in-tree web-based simulator that hooks into the scheduler code to simulate aspects of the scheduler's behaviour. The interface should allow the user to create/delete nodes, pods, volumes, etc. and simulate behaviour such as spreading, affinity, preemption, etc. faithfully. The standalone tool can simulate a cluster and its operations similar to how the integration tests and scheduler_perf bench

[2021-03-01 19:04] BobyMCbobs commented on #88039
This is wonderful to see. Thank you @BenTheElder!

[2021-03-01 19:06] enj commented on #99603
This should also cover the direct case right?

`kubectl get ns --client-...=`

[code]

Precedence should be:

1. CLI flags
2. Static config
3. Exec plugin

[2021-03-01 19:07] enj commented on #99603
/triage accepted

[2021-03-01 19:10] liggitt commented on #98118
bazel is [no more](https://github.com/kubernetes/kubernetes/pull/99561)

/close

[2021-03-01 19:10] #98118 closed

[2021-03-01 19:18] jsafrane commented on #99399
`pvc.spec` is indeed not editable, what you see is that `pv.spec.accessMode` is copied into `pvc.*status*.accessMode` and `kubectl` showing `pvc.status`, not `spec` (similarly, it shows size of the PV, not PVC).

Question is why is `PV.Spec.AccessMode` editable. To me it seems it's an oversight in [PV update validation](https://github.com/kubernetes/kubernetes/blob/5404b5a28a2114299608bab00e429296

[2021-03-01 19:29] ravisantoshgudimetla commented on #99205
I think KEP may be an overkill considering we were doing the same with deletion and re-creation pattern but I think it atleast warrants an e-mail to devel community and docs update.

[2021-03-01 19:36] pohly commented on #99604
/sig storage

[2021-03-01 19:43] pohly commented on #99604
Jordan [pointed out the relevant code](https://kubernetes.slack.com/archives/C0EG7JC6T/p1614627038068200?thread_ts=1614626848.068000&cid=C0EG7JC6T) in kubelet which causes `DeletionGracePeriodSeconds` to be set to zero: https://github.com/kubernetes/kubernetes/blob/5404b5a28a2114299608bab00e4292960dd864a0/pkg/kubelet/status/status_manager.go#L580-L592

This is called "after terminating the contain

[2021-03-01 19:59] enj commented on #99603
/priority important-soon

[2021-03-01 20:07] renkes opened #99608 "Container start failed on large cpu machines - cpu-shares gets set larger than the maximum of 262144"
#### What happened:
Deployment of a POD onto a machine with 488 cores fails if the POD gets deployed with QoS Guaranteed or Burstable when cpu request is larger than 217.

Kubelet Error Trace:
RunContainerError: failed to start container "4ad8bf2f988c9c387d8136ac664caf4af80648ac436e92dac6ecd1f9aece9144": Error response from daemon: OCI runtime create failed: container_linux.go:349: starting contai

[2021-03-01 20:10] #99136 closed

[2021-03-01 20:12] enj commented on #98612
/triage accepted
/priority important-longterm

[2021-03-01 20:15] enj commented on #96647
/remove-lifecycle stale
/priority important-longterm
/triage accepted

[2021-03-01 20:25] enj commented on #99475
In case anyone goes looking for where the error is coming from:

https://github.com/kubernetes/kubernetes/blob/0f88bbe9b1fcb2138cd668948d75358c1a1d9858/pkg/kubelet/util/manager/watch_based_manager.go#L188

which funnels up to:

https://github.com/kubernetes/kubernetes/blob/6a7222cf4e708801624e77336b4e1e0a9bbfed67/pkg/volume/util/operationexecutor/operation_generator.go#L667-L691

[2021-03-01 20:38] renkes commented on #99608
/sig sig/node

[2021-03-01 20:40] renkes commented on #99608
/sig/node

[2021-03-01 20:41] renkes commented on #99608
/sig node

[2021-03-01 20:46] aojea commented on #98247
duh https://github.com/kubernetes/kubernetes/pull/99564/
/close

[2021-03-01 20:46] #98247 closed

[2021-03-01 20:58] mortent commented on #99598
@liggitt @michaelgugino
Continuing the thread from https://github.com/kubernetes/kubernetes/pull/98127#discussion_r582369233

So my original thinking around evicting pods that are Running but not Ready is that it should always be safe (as long as we do a conditional delete). This was discussed at length in https://github.com/kubernetes/kubernetes/pull/94381 (and other issues/PRs linked from there)

[2021-03-01 21:07] rikatz commented on #99551
/assign @knabben
/triage accepted

[2021-03-01 21:09] enj commented on #98440
We do not seem to track headers or parameters via audit today.

https://github.com/kubernetes/kubernetes/blob/0aa2e975a472698a52d2db6db5d718c4214b2f7b/staging/src/k8s.io/api/core/v1/types.go#L5234-L5247

https://github.com/kubernetes/kubernetes/blob/d74ab9e1a4929be208d4529fd12b76d3fcd5d546/staging/src/k8s.io/apiserver/pkg/audit/request.go#L46-L164

[2021-03-01 21:17] rikatz commented on #96639
/assign @jayunit100

[2021-03-01 21:18] mattfenwick commented on #99113
Hi @yaminisridaran 👋 !  Is everything working for you or do you have any more questions?

[2021-03-01 21:31] michaelgugino commented on #99598
I don't have a strong opinion on how we accomplish this, but I consider eviction to currently have a bug (somewhat of an edge case) today, so I'm not sure we need to delay adding the check until 1.22, I don't see why we couldn't ship alongside with the conditions in PDBs (or whatever other mechanism is chosen).

[2021-03-01 21:50] tallclair commented on #99425
/cc @thockin

Quoting Tim from a doc comment from an old discussion of this issue:

Based on that, following the [same approach we used for external IP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2200-externalips-admission) seems like the obvious choice, but I worry about the manageability getting out of hand if we add a new admission controller for every feature we'd

[2021-03-01 21:51] BenTheElder commented on #98247
nice catch :-)

[2021-03-01 22:02] aojea commented on #98247
this always comes back, let see what's next :)

[2021-03-01 22:52] kfox1111 commented on #64616
Until this is resolved, would anyone be willing to share the config they needed to get deployments/daemonsets to work here? May help others needing to do the same save some time.

[2021-03-01 23:10] Ethyling commented on #54491
Hey, I would like to work on this if possible. That would be my first contribution to Kubernetes so I may need help at some point

[2021-03-01 23:15] edganiukov commented on #64616
@kfox1111 but I've described in the issue what you need to do to solve the problem.

[2021-03-01 23:34] jingxu97 commented on #73434
So since containerD already supports it. For users, they don't need to handle CTRL_SHUTDOWN_EVENT, kubelet should perform this automatically during pod termination. Is that correct?

[2021-03-01 23:45] kfox1111 commented on #64616
@edganiukov, I was kind of intending to ask @aauren if he had more annotations not in the original issue description he could share. Maybe a complete scheduler.alpha.kubernetes.io/tolerationsWhitelist line. I worded my question badly though. Sorry.

[2021-03-02 01:32] msau42 commented on #99604
It looks like https://github.com/kubernetes/kubernetes/blob/5404b5a28a2114299608bab00e4292960dd864a0/pkg/kubelet/status/status_manager.go#L579 calls `PodResourcesAreReclaimed` which calls `podVolumesExist`: https://github.com/kubernetes/kubernetes/blob/5404b5a28a2114299608bab00e4292960dd864a0/pkg/kubelet/kubelet_pods.go#L980

So it does look like this waits until pod volumes are successfully unmou

[2021-03-02 01:33] msau42 commented on #99604
Only thing left is to clean up the todo in the code.

[2021-03-02 02:18] ahg-g commented on #99505
Another one: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99163/pull-kubernetes-unit/1366558208847515648

[2021-03-02 02:22] chestack commented on #99577
@egernst  overhead feature enabled, the overhead resource has been counted into requests during scheduling but not counted into resourcequota

[2021-03-02 02:23] pacoxu commented on #99505
When the flake happen, there are messages like

https://github.com/kubernetes/kubernetes/blob/c198632a12971efa55f9d659bcc9f59b79651edc/pkg/controller/cronjob/utils.go#L128-L148

When the system is overloaded, it would happen.

https://github.com/kubernetes/kubernetes/pull/99553#pullrequestreview-601130026
@soltysh is trying to replace the current queue in tests with a mock.

[2021-03-02 02:32] chendave commented on #99580
I think so.

[2021-03-02 02:39] pacoxu commented on #99305
/assign
I will try to reproduce it today.

[2021-03-02 02:56] chendave commented on #99580
I not sure I agree with this,  particularly, for someone who doesn't know details of code IMPL,  e.g. an operator,
- Why bother to disable the plugin first and then re-enable the same plugin? there is no pointer to show they are different in a config file, as a developer, we know the reason behind the scenes, can we assume operator also know what that means to define a schedule config?
- By disabl

[2021-03-02 02:58] readerx commented on #97283
Think you.
The cause of this problem is that the CentOS 8 Firewalld and Calico conflict.
If I don't change the Firewalld rule that's what I want.

[2021-03-02 03:02] chendave commented on #99392
Actually, there is no need to modify each test, but only the testcase that need a different scheduler config.

[2021-03-02 03:23] #97993 closed

[2021-03-02 03:32] pacoxu commented on #90922
The in-process https://github.com/kubernetes/enhancements/pull/1881 will handle similar case with **Services ClusterIP and NodePort Allocators**.

BTW, I think node join is not frequent work.

Can we fix this issue in a minor way that doing some further validation in `postOccupy`?

[2021-03-02 03:39] wzshiming opened #99616 "kubectl proxy reject paths can't be empty"
#### What happened:

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

[code]

[code]

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if t

[2021-03-02 03:40] pacoxu commented on #95421
/remove-lifecycle rotten
/cc

[2021-03-02 03:43] kvaps commented on #99602
Haproxy is waiting for at least one working endpoint to route traffic on it, this is feature of haproxy that no one connection is getting not lost.
I guess it is configurable behavior, but I don't like the fact that some external load balancer can affect kubelets behavior somehow.

I can confirm that, but not in the case when load balancer keeping open connections.

[2021-03-02 04:11] ag3man opened #99618 "kube-scheduler and kube-controller-manager are not fully functional in a HA after upgrade to v1.20.2"
#### What happened:
I was forced to upgrade my cluster from v1.19.4 to v.1.20.2 as I lost 2 master nodes back to back in an ASG.
I now have all my masters at v1.20.2 but kube-controller-manager and scheduler are both unhealthy. I see some alive some other not at all.

I notice that both have the old method of bind address of 127.0.0.1 as insecure ports are being depreciated.
For authorization I am

[2021-03-02 04:12] ag3man commented on #99618
/sig api-machinery

[2021-03-02 04:28] mortent commented on #99598
So based on the description by @liggitt, it seems like the main challenge would be the second scenario where a PDB could have a condition with `SyncFailed` reason that would never be removed. It would effectively block evictions forever (or until the controller-manager is updated). This would also require that the server that performs the eviction is on 1.21 since the check is not being done on 1.

[2021-03-02 04:35] liggitt commented on #99618
what does the following show:
[code]

Are you sure the kube-controller-manager is speaking to a 1.20+ API server? Are your API servers enabling RBAC?

That clusterrole and clusterrolebinding has contained lease permissions since 1.17 (https://github.com/kubernetes/kubernetes/blame/master/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml#L585-L599) and is created or update

[2021-03-02 04:42] mtb-xt commented on #64616
@kfox1111

At least my tolerations whitelist looks like this. Notice 2 custom ones in the first two lines, and the rest are the 'default' ones

[code]

[2021-03-02 05:09] #97107 closed

[2021-03-02 05:25] mauriciopoppe commented on #81245
@oomichi @alejandrox1 @spiffxp I've created a doc about moving the test/e2e/framework/pod, any feedback would be appreciated https://docs.google.com/document/d/12QckcyZpBzmgdQZ91h21co4J0rtoXIH76QJBgR1nD6Y/edit#

[2021-03-02 06:15] pacoxu commented on #99305
LocalStorageCapacityIsolation is a feature gate for kubelet. Can you check if you disable it?

https://github.com/kubernetes/kubernetes/blob/607423871020779daa6a106bf2ee91969789790e/pkg/kubelet/nodestatus/setters.go#L517-L520

ReadyCondition will check ephemeral-storage as required capacities if this feature gate is enabled in kubelet configuration.

Would you check it first?

[2021-03-02 06:18] PEERCRED opened #99622 "hostPort is not published (anymore)"
#### What happened:
I had an ingress controller running on the master node with ports exposed using `hostPort:` mapping:
[code]
After cluster recreation (`kubeadm reset`/`kubeadm init`), I don't/can't get these ports published on the master node anymore for unknown reasons.
k8s/docker/CNI updates didn't help.

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely

[2021-03-02 06:27] pacoxu commented on #99305
- [x] 1.8 alpha  ephemeral-storage
- [x] 1.10 Promote LocalStorageCapacityIsolation feature to beta #60159
- [x] 1.15 KEPs Quotas for ephemeral-storage for https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1029-ephemeral-storage-quotas#quotas-for-ephemeral-storage LocalStorageCapacityIsolationFSQuotaMonitoring default to false is Alpha since 1.15
- [ ] Failed to promote LocalSto

[2021-03-02 06:44] chymy commented on #99583
Hi, @gavinfish, thanks for your PR, but it is invalid. its json fomat should be modified, remving `omitempty`:
https://github.com/kubernetes/kubernetes/blob/6d64dfea641c8cc8ade0d5402abbc5685ba6f70c/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/types.go#L188-L190

and regenerating generated, proto, zz_generated.* files.

[2021-03-02 06:49] liggitt commented on #99583
Only CRDs created via the v1 API are required to have a schema field. It is possible to fetch and update a v1 CRD without a schema if it was created via the v1beta1 endpoint. That means we cannot set the openapi `required` flag on that field.

[2021-03-02 06:50] liggitt commented on #99583
/close

[2021-03-02 06:50] #99583 closed

[2021-03-02 06:56] sureshvis commented on #56374
agree, this is very confusing. A good document explaining process capabilities with security context and setcap on binary will help a lot.

[2021-03-02 06:56] harche opened #99624 "kubelet_running_pods metric includes Pending pods"
#### What happened:
kubelet metric `kubelet_running_pods` should only count pods in `Running` state. But it incorrectly reports the sum of pods in `Running` + `Pending` state.

#### What you expected to happen:
Only pods in `Running` state should be counted.

#### How to reproduce it (as minimally and precisely as possible):
Create a pod with sample yaml to create a pod that stays in `Pending` sta

[2021-03-02 06:57] harche commented on #99624
/sig node

[2021-03-02 07:01] chymy commented on #99583
We should explain it in the field, e.g.: `schema` is optional in v1beta1, and is required in v1. It is better ? @liggitt

[2021-03-02 07:05] liggitt commented on #99583
yes, updating the API docs in v1 to indicate it is required when creating via v1 would be good.

[2021-03-02 07:34] pohly commented on #99604
See https://github.com/kubernetes/kubernetes/pull/99626

[2021-03-02 07:42] JornShen commented on #99551
@knabben  what the process of this ?  IF not starting, I think I can do help :)

[2021-03-02 08:02] LittleChimera opened #99629 "Default storage class needs to be present before PVCs are created"
#### What happened:

When the PVC is created before the default storage class, PVC will end up in a state with no storage class and will never be bounded to a PV.

#### What you expected to happen:

I expect that in eventually consistent model of Kubernetes, non-bound PVCs with no storage class will get assigned the default class once one is available and get bounded to a PV.

#### How to reproduc

[2021-03-02 08:04] LittleChimera commented on #99629
/sig storage

[2021-03-02 08:15] andyzhangx commented on #99342
@jingxu97 so if I replace `EvalSymLinks` func with Windows version, it would work for in-tree disk driver?

https://github.com/kubernetes/kubernetes/blob/b538d230661ff12577a720713cae9c06645d609e/staging/src/k8s.io/mount-utils/mount.go#L200
https://github.com/kubernetes/kubernetes/blob/b538d230661ff12577a720713cae9c06645d609e/staging/src/k8s.io/mount-utils/mount.go#L247

[2021-03-02 08:20] aojea commented on #90922
Check Tim comments, it will need a KEP

The implementation is not complex, I think that the upgrade support is the hardest part ... it has to be done during the next cycle ... I can help you @pacoxu if are willing to take on it

[2021-03-02 08:25] pacoxu commented on #90922
@aojea OK. Let me follow up it.
/assign

So I need to move on to the KEP first and then the PR.
I think I need to use the new KEP template and continue the PR https://github.com/kubernetes/enhancements/pull/1811 here.

[2021-03-02 08:27] jingxu97 commented on #99342
I hope so. But I am surprised that this issue was not discovered before. This mount util should be used by many storage including gce pd? Why I only see the issue in subPath..

[2021-03-02 08:30] DemonsLu opened #99630 "NodeAffinity preferredDuringSchedulingIgnoredDuringExecution doesn't work well"
#### What happened:
I have 2 nodes, one label is foo=bar, annother label is foo=car, both of them have enough resources. And I want to use nodeAffinity's preferredDuringSchedulingIgnoredDuringExecution feature to make my pods be assigned in target node.
I use deployment to manage pods, which setting the pod replica is 2. But when pods are created, I found one pod is created on node (foo=bar), and

[2021-03-02 08:31] DemonsLu commented on #99630
sig/ scheduling

[2021-03-02 08:32] DemonsLu commented on #99630
/sig scheduling

[2021-03-02 08:39] akifkhan01 commented on #98362
@ysksuzuki Did you try this with `--share-processes` ?

I tried which didn't work for me with the message :
Error: unknown flag: --share-processes
See 'kubectl alpha debug --help' for usage. ( And this doesn't list --share-processes as an option )

this suggests me that kubectl alpha debug doesn't have --share-processes option enabled at least until kubectl version v1.18.4

Environment :
Kubernete

[2021-03-02 09:32] trungphungduc commented on #64586
I got the same issue.
I exec into the pod and then remove ndots: 5 or modify to ndots:1 (of file /etc/resolv.conf)
=> its working, but i don't know why ?
pls someone tell me how to solve this problem (without exec into pod) ?

[2021-03-02 10:18] kvaps commented on #89181
this bug still persist on some kernels, if `/var/lib/kubelet` located on overlayfs

[2021-03-02 10:26] wangyysde commented on #99630
Refer to https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/, "....while the latter specifies preferences that the scheduler will try to enforce but will not guarantee. ....". So should you using requiredDuringSchedulingIgnoredDuringExecution instead of preferredDuringSchedulingIgnoredDuringExecution?

[2021-03-02 10:26] wangyysde commented on #99630
Refer to https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/, "....while the latter specifies preferences that the scheduler will try to enforce but will not guarantee. ....". So should you using requiredDuringSchedulingIgnoredDuringExecution instead of preferredDuringSchedulingIgnoredDuringExecution?

[2021-03-02 10:31] cynepco3hahue commented on #99402
@bart0sh So the only reliable solution that I found, it just trying to start the pod number of times. I tested it 5 times and the test passed. Can you please review https://github.com/kubernetes/kubernetes/pull/99584?

[2021-03-02 10:32] Lion-Wei commented on #45509
I'm glad we finally working on this, podDeletionCost will perfectly solve this problem. : )
https://github.com/kubernetes/enhancements/issues/2255

But based on the description, this feature will not be ga until v1.24.
So before 1.24, do we have any idea to solve this problem? Maybe custom rs controller somehow?

[2021-03-02 10:45] vinusorout opened #99636 "Kube-apiserver doesn't pick --etcd-servers values from environment file"
Hello,

I am trying to set kube-apiserver.service manually, for that I have create a service file, with environment:

**Service File**
[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=/etc/kubernetes/kube-apiserver.env
ExecStart=/usr/local/bin/kube-apiserver
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.targ

[2021-03-02 10:47] pacoxu commented on #99305
I tried to fix it in #99635.
Need some testing later.

[2021-03-02 10:51] DemonsLu commented on #99630
@wangyysde Thanks for your response.
I have been read the k8s document before I create this issue. The reason why I choose `preferredDuringSchedulingIgnoredDuringExecution` rather than `requiredDuringSchedulingIgnoredDuringExecution` is that I labeled the node in Zone A with the label foo=bar and the node in Zone B with the label foo=car.  As usual, I expect all node created in Zone A as much as p

[2021-03-02 11:05] bart0sh commented on #99402
@cynepco3hahue Can we access kubelet service from hugepage test cases. If we can we can use its APIs like [ readinessCheck](https://github.com/kubernetes/kubernetes/blob/f79795d71850ab0054b0759f77dd0cec17bb4213/test/e2e_node/services/util.go#L47) or [healthCheck](https://github.com/kubernetes/kubernetes/blob/f79795d71850ab0054b0759f77dd0cec17bb4213/test/e2e_node/services/util.go#L96) to check if k

[2021-03-02 11:17] pacoxu commented on #99636
[code]
https://github.com/kelseyhightower/kubestack/blob/41cb43c710e32d056d6a10e59b0cbc25686a9286/terraform/kubernetes.env#L15-L21

A sample is like above.
/kind support
/remove-kind bug

[2021-03-02 11:19] pacoxu commented on #99636
BTW, current most clusters are using static pod yaml to start up apiserver. What tool are you using to set up the cluster?

[2021-03-02 11:21] akingscote commented on #65785
/remove-lifecycle rotten

[2021-03-02 11:22] LoicAG commented on #93094
New related issue for anyone stumbling upon this: https://github.com/Azure/application-gateway-kubernetes-ingress/issues/1151

[2021-03-02 11:26] cynepco3hahue commented on #99402
not really, the `test/e2e_node/services` used mostly to start all needed components to emulate the cluster(not only the kubelet) and the test does not have access to it. I think you can separate the readiness check under the importable method, but it worth the separate PR.

[2021-03-02 11:27] pacoxu commented on #99624
Does it mean that pod after initial will be take into account for running pod metrics ?

[2021-03-02 11:38] claudiubelu commented on #99365
``CreateSync`` is used for creating the pods. According to the comments, the Pods should be up and running:

[code]

[2021-03-02 11:58] jc42jc commented on #95039
Hi,
You have this error beacuse you kernel doesn't manage the cpu hotplug feature.
https://www.kernel.org/doc/html/latest/core-api/cpu_hotplug.html

The solution is to recompile the kernel 🤦‍♂️

[2021-03-02 12:11] jkaniuk commented on #99599
@kubernetes/sig-node-test-failures, could you triage?

[2021-03-02 12:33] soltysh commented on #54491
@Ethyling go ahead, feel free to ping me on slack, but it might take a bit for me to reply :wink: due to upcoming code freeze for 1.21.

[2021-03-02 12:44] gjkim42 opened #99642 "Failing Test: pull-kubernetes-dependencies"
#### Which jobs are failing:

pull-kubernetes-dependencies

#### Which test(s) are failing:

#### Since when has it been failing:

#### Testgrid link:

#### Reason for failure:

#### Anything else we need to know:

Success rate over time: 3h: **_5%_**, 12h: 62%, 48h: 79%
https://prow.k8s.io/?repo=kubernetes%2Fkubernetes&job=pull-kubernetes-dependencies

[2021-03-02 12:45] soltysh commented on #99505
Yeah, I spoke with @alaypatel07 to make sure we use a mock of the queue so we only get the most important bit of information ignoring the remaining parts

[2021-03-02 12:47] soltysh commented on #99205
This is changing a stable API, so PRR and a proper documentation is in place, imo.

[2021-03-02 12:50] knabben commented on #99551
Sure, this can be split into two parts:

1) Create an API test with port range here - https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/netpol/network_policy_api.go#L36, this is straightforward and is applicable with the master code.

2) Create a Netpol functional test, which will depend on the next release version of Calico with the range port feature added

[2021-03-02 12:51] gjkim42 commented on #99642
Maybe https://github.com/kubernetes/kubernetes/pull/99634 can fix this?

[2021-03-02 13:07] JornShen commented on #99551
thanks for guide :)
/assign

[2021-03-02 13:22] L3tum commented on #87733
We have this issue as well. Would be cool to at least reopen it.

[2021-03-02 13:36] cynepco3hahue commented on #99402
@bart0sh I updated the PR to check the healthiness of the kubelet and looks like it works just fine.

[2021-03-02 13:45] michaelgugino commented on #99598
We can't do away with the CurrentHealthy/DesiredHealthy check.  Pods can be not-ready for a variety of reasons, it doesn't mean they're down and we are free to evict them.

If the PDB is misconfigured, we want to block indefinitely because we can't be sure if it's safe to evict or not.  I'm not sure what scenario you're talking about specifically, but I don't think PDBs go permanent-failed, they c

[2021-03-02 14:02] matthyx commented on #90518
new location of the KEP:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/1287-in-place-update-pod-resources/

[2021-03-02 14:10] bart0sh commented on #99402
@cynepco3hahue thank you. it looks good to me so far. I'll add lgtm label when https://github.com/kubernetes/kubernetes/pull/99634 is merged and tests are all green.

[2021-03-02 14:13] alculquicondor commented on #99580
We can improve the docs to include the default plugins.

It's better for the API to be more predictable (always do the same thing). One thing to think about is order: if we do what your PR proposes, we are altering the order in which plugins are run, not just modifying the "weight" of the plugin.

[2021-03-02 14:18] alculquicondor commented on #45509
You can enable alpha features in your cluster, so you can use it in 1.21 if you have access to kube-apiserver and kcm configuration.

[2021-03-02 14:18] bgdnlp commented on #96840
Just got bit by this on 1.19. Is there any resolution or workaround?

Is it possible to disable adding rules at all maybe, let us create a blanket rule in advance instead?

Or allow specifying a SG to attach to the load balancers, which is already given access to all ephemeral ports o the cluster, instead of creating a set of 3-6 rules for each port?

[2021-03-02 14:48] scones commented on #24873
@o6uoq investing even more work to solve a small problem does not solve the problem of investing less work.

[2021-03-02 14:56] MadhavJivrajani commented on #99318
Hey @AliceZhang2016, are you still working on this, if not I'd like to try it out!

[2021-03-02 14:58] hvenev-vmware commented on #99305
It appears that the pod fails before `ReadyCondition` sees the storage capacity:

[code]

[2021-03-02 15:07] AliceZhang2016 commented on #99318
Hi @MadhavJivrajani, I'm still working on this. Thanks for your interest about this issue.

[2021-03-02 15:08] ag3man commented on #99618
my cluster started at v1.19.4. Would it be safe to assume that my API servers are enabling RBAC?

[code]

[code]

[2021-03-02 16:18] champtar opened #99645 "Kubelet doesn't use rotated client cert on start"
#### What happened:
Testing how kubelet client rotation works, I discovered that on startup kubelet uses the cert in `--kubeconfig` (`/etc/kubernetes/kubelet.conf`) and not the new cert in ` --cert-dir` (`/var/lib/kubelet/pki/kubelet-client-current.pem`)

This prevent kubelet to start
[code]

#### What you expected to happen:
kubelet uses the latest client certificate

#### How to reproduce it (as

[2021-03-02 16:19] champtar commented on #99645
/sig cluster-lifecycle
(not sure if this is more kubelet or kubeadm)

[2021-03-02 16:26] liggitt commented on #99618
Are the permission errors only happening at cluster start or do they persist? My guess is that those are transient and related to the API server filling its authorization cache at startup.

I suspect that the kube-controller-manager / kube-scheduler restarts are cause by the manifests for those components still using insecure ports to monitor healthz. Do you have the manifests you are using for th

[2021-03-02 16:47] ravisantoshgudimetla commented on #99365
On successful run, I see the following in the kubelet logs:

[code]

I believe we're execing into the pod when the `test-container-rw` container is actually getting deleted by containerd but the pod is running which is not giving a correct indication of the `kubectl exec` command. I am modifying the test to ensure we would wait till all the containers are Ready and log the stdout and stderr to see

[2021-03-02 16:57] neolit123 commented on #98222
created PR for kubeadm to remove the detection from there if the kubelet PR merges:
https://github.com/kubernetes/kubernetes/pull/99647

[2021-03-02 17:01] spiffxp opened #99648 "Add metadata to images built from test/e2e/images"
from https://github.com/kubernetes/kubernetes/pull/99631#issuecomment-788945533

Specify metadata during build vs. hardcoding in Dockerfile to avoid duplication/drift (since we have multiple for linux, windows, etc.)

Specify as ARG in Dockerfile(s) and then can pass in via `--build-arg`

Could include metadata such as:
- git_url
- git_commit
- etc.

/assign @claudiubelu @mkumatag
Can you flesh th

[2021-03-02 17:05] jsturtevant commented on #98102
This node is slowly leaking memory as was initially described:

![Screenshot from 2021-03-02 09-03-35](https://user-images.githubusercontent.com/648372/109685728-6782ae00-7b36-11eb-9b45-44511c2083ac.png)

[2021-03-02 17:08] nerzhul commented on #72226
it seems we encounter the same issue on some of our staging issue which are in 1.19.7 :(

[2021-03-02 17:20] nerzhul commented on #55713
It seems we encounter very close issue on 1.19.7 release too

[2021-03-02 17:28] johanfleury opened #99650 "kubelet: setting a negative value in containerLogMaxSize raises an error"
Setting a negative value in `containerLogMaxSize` currently makes kubelet crash with a stack trace.

The [`parseMaxSize` function](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/logs/container_log_manager.go#L132) function raises an error when the value is negative, but the comment on [`LogRotatePolicy.MaxSize`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/log

[2021-03-02 17:32] johanfleury commented on #99650
/sig node

(I guess)

[2021-03-02 17:57] jsturtevant commented on #99170
/priority important-longterm

[2021-03-02 18:02] spiffxp commented on #81245
Will review today

[2021-03-02 18:02] Ethyling commented on #54491
Hey @soltysh , thank you!

I currently have a first version:
[code]
I'm using the `LastTerminationState` attribute of the container status. I don't know if it's the right attribute to use. I will clean my code and open a PR. I think it will be easier to discuss

[2021-03-02 18:53] Jiawei0227 commented on #97634
/triage accepted

[2021-03-02 19:10] BenTheElder commented on #74965
1.16 is in!

[2021-03-02 19:10] chewong commented on #99470
/assign

[2021-03-02 19:11] chewong commented on #99369
/assign

[2021-03-02 19:11] #99505 closed

[2021-03-02 19:11] chewong commented on #99325
/assign

[2021-03-02 19:47] ankeesler commented on #98451
OK, one final pass here to see if we can make progress on this in 1.21: https://github.com/kubernetes/kubernetes/pull/99654.

@enj posited that we may be able to get away with simply changing the line that @blowfishpro originally pointed out. We would still apply a better fix to this in 1.22, but we wanted to hopefully make progress on this in 1.21.

Slack convo here: https://kubernetes.slack.com/

[2021-03-02 19:57] neolit123 commented on #99642
/sig release testing
for triage

[2021-03-02 19:58] ilya-zuyev opened #99656 "Incorrect etcd image config for linux/arm64"
It looks like config blob inside arm64 version of k8s.gcr.io/etcd:3.4.13-0 has `"architecture": "amd64"` instead of `"architecture": "arm64"`

[code]

note `"architecture": "amd64",` line

[2021-03-02 19:58] neolit123 commented on #99636
closing this as trying to keep the issue tracker for bugs/features only, but feel free to continue the discussion.
/close

for future questions please use:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-03-02 19:58] #99636 closed

[2021-03-02 20:08] rbygrave commented on #48180
/remove-lifecycle stale

[2021-03-02 20:11] neolit123 commented on #99656
/sig api-machinery release cluster-lifecycle

@kubernetes/sig-api-machinery-bugs
@kubernetes/release-engineering

not sure where this problem is coming from.

----

the kubeadm team actually maintains an e2e test for our manifest list images:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#periodic-manifest-lists
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-kubernetes-e2

[2021-03-02 20:14] spiffxp commented on #98326
Working on in-tree enforcement before I update description.

tl;dr
- the majority of tests listed in the description are still not tagged (with at least one SIG), waiting on SIG Node to sign off on https://github.com/kubernetes/kubernetes/pull/99492
- usage of KubeDescribe has gone way down, but not at zero yet

[2021-03-02 20:22] neolit123 commented on #99656
cc @jpbetz @wenjiaswe
https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/OWNERS

[2021-03-02 20:23] wojtek-t commented on #98326
#99492 is the biggest bit now (once I get feedback from SIG node, we will be almost there with both)

[2021-03-02 20:37] BenTheElder commented on #99642
/cc @justaugustus
related to go version bump. it's passing 91% past 3 hours

[2021-03-02 20:38] BenTheElder commented on #98768
https://github.com/kubernetes/test-infra/issues/20816#issuecomment-783537779
/close

[2021-03-02 20:38] #98768 closed

[2021-03-02 20:40] neolit123 commented on #99616
/sig cli

[2021-03-02 20:55] yakovm44 commented on #82296
Hi
I found solution that work with clean numbers

env:
  - name: "abcd"
    value: "\"111\""

[2021-03-02 21:16] kfox1111 commented on #64616
Great. Thanks. :)

[2021-03-02 21:20] soltysh commented on #75674
This is described in https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/19-Graduate-CronJob-to-Stable and being actively implemented in https://github.com/kubernetes/kubernetes/pull/98965
/close

[2021-03-02 21:23] #92928 closed

[2021-03-02 21:25] fedebongio commented on #99503
/assign @deads2k
/triage accepted

[2021-03-02 21:26] fedebongio commented on #99618
/triage accepted

[2021-03-02 21:26] fedebongio commented on #99656
/assign @jpbetz
/triage accepted

[2021-03-02 21:44] VladimirTambovtsev commented on #71647
Any updates? Same on Ubuntu with kops.

[2021-03-02 21:52] adampl commented on #55713
The fix should be merged into upcoming 1.19 and 1.20 releases.

[2021-03-02 21:52] jingxu97 commented on #96759
seem related to https://github.com/kubernetes/kubernetes/pull/97659

[2021-03-02 22:00] neolit123 commented on #99645
is the kubelet.conf embedding certificates?

see the second warning under here:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#check-certificate-expiration

[2021-03-02 22:01] neolit123 commented on #99645
you can call `kubeadm init phase kubelet-finalize. ...` on the same node to make the kubelet.conf point to the rotatable file.

[2021-03-02 22:03] neolit123 commented on #99622
/sig network

- please try another CNI plugin instead of flannel.
- 1.17 is no longer in support, so you must reproduce the issue with 1.18+.

[2021-03-02 22:08] ehashman commented on #99599
We meet tomorrow, I'll make sure this is on our board/agenda.

[2021-03-02 22:08] neolit123 commented on #99645
i don't see a core bug here.

i missed that you are using kubespray, which uses kubeadm.
please triage any issues with the kubespray issue tracker first:
https://github.com/kubernetes-sigs/kubespray

/kind support
/close

[2021-03-02 22:08] #99645 closed

[2021-03-02 22:12] ehashman commented on #94223
Can this be closed now? I think this may have been fixed when #97722 was fixed.

[2021-03-02 22:23] neolit123 commented on #99650
/area kubelet

can you show the stack trace?

[2021-03-02 22:30] BenTheElder commented on #99656
typically we've fixed this in other images by switching to `docker buildx build` (see other issues in this repo for e.g. the pause image).

just looking at this though, the build is basically missing `--platform` https://github.com/kubernetes/kubernetes/blob/a5c3b24dba3975bd09e37e5266e9465bbf76bcf9/cluster/images/etcd/Makefile#L147

[2021-03-02 22:32] brettplarson commented on #94198
/reopen

[2021-03-02 22:32] brettplarson commented on #94198
/remove-lifecycle rotten

[2021-03-02 22:34] johanfleury commented on #99650
The stack trace is 5000 lines long and apart from the following message, I don’t think it is relevant:

[code]

[2021-03-02 22:36] Bessonov commented on #52218
/remove-lifecycle stale

[2021-03-02 22:44] spiffxp commented on #81245
@mauriciopoppe First, thanks for the well written proposal!

This sounds reasonable to me.  My concern is potential code/rebase churn this may cause during the runup to code freeze in the next week.
[code]
So one suggestion I have is: go with the above plan, but don't land anything that's going to cause a lot of in-flight PR's to need to rebase.  After code freeze, go nuts, but need to complete pr

[2021-03-02 22:45] champtar commented on #99645
Thanks @neolit123, kubespray indeed doesn't call `kubelet-finalize` anywhere, I'll go look at how to fix that

[2021-03-02 22:49] neolit123 commented on #99645
@champtar like i said, newer versions of `kubeadm init` do this automatically.
this might be the result of an old cluster being upgrade using `kubeadm upgrade` but the `kubelet.conf` is remaining stale.

the manual step in https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#check-certificate-expiration
or calling the `kubelet-finalize` on a node is required.

[2021-03-02 22:55] ilya-zuyev commented on #99656
We see the same error for

 k8s.gcr.io/kube-proxy:v1.20.2
 k8s.gcr.io/coredns:1.7.0

[2021-03-02 23:03] paulchoi commented on #23130
Still seeing the same issue. Recently upgraded the Homebrew version, I believe.

[code]

[2021-03-02 23:04] champtar commented on #99645
It was a fresh deployment of k8s 1.18 / kubespray 2.15, I'm doing a fresh deployment of k8s 1.20 / kubespray master right now, but maybe kubespray is using kubeadm in weird ways / include old workarounds that leave us with `kubelet.conf` having embedded certs instead of pointing to `kubelet-client-current.pem`.

[2021-03-02 23:04] fuomag9 commented on #9995
Is there any update on this? I find it very illogical not to be able to open ports different from port 22!

[2021-03-02 23:12] theAkito commented on #9995
I think it is important to stay fair to all parties in a controversial discussion, which is why I would like you to clarify what you are talking about. This has nothing to do with Port 22 (default SSH) port, as in the whole point of the special NodePort range is that ports such as the one for SSH do **not** get allocated.

All that said, it is best practice to change the default SSH port to someth

[2021-03-02 23:19] fuomag9 commented on #9995
I probably bad worded it, I meant it in the "don't conflict with existing stuff" but still allow a lower number in the range of ports to be allocated by NodePort

[2021-03-02 23:35] BenTheElder commented on #99656
We don't mutate existing image tags and we don't tend to backport changes in build tools, but in 1.21 the core components built from source in this repo (kube-proxy, not coredns / etcd) should be built without this error. https://github.com/kubernetes/kubernetes/issues/98908

[2021-03-02 23:36] ehashman commented on #99624
/triage accepted

[2021-03-02 23:51] BenTheElder commented on #9995
I just want to point out that this is actually up to your cluster operator, the node port range has long been configurable
with the `--service-node-port-range` option for kube-apiserver. https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/

Also this old comment:

Unless I've completely misunderstood the intent here ... You can absolutely do that. It still has to be wi

[2021-03-02 23:54] nextsux commented on #91808
/remove-lifecycle stale

[2021-03-02 23:58] champtar commented on #99645
Found the culprit: https://github.com/kubernetes-sigs/kubespray/blob/668bbe0528daab9f9001a64d1ddfe33694adc763/roles/kubernetes/control-plane/tasks/kubeadm-fix-apiserver.yml#L18-L22
Kubespray regenerate the conf files using kubeadm to make sure the server is up to date
Thanks for the help @neolit123 and sorry for the spam

[2021-03-03 00:21] ilya-zuyev commented on #99656
@BenTheElder Got it. Thanks!

[2021-03-03 00:29] neolit123 commented on #99656
added e2e test to catch this as a warning:
https://github.com/kubernetes/kubeadm/pull/2397

once https://github.com/kubernetes/kubernetes/issues/98908 is done it can be an error.

[2021-03-03 00:42] neolit123 commented on #99645
it would make sense to just include the kubelet-finalize phase in there too.

[2021-03-03 00:47] champtar commented on #99645
I prefer to just change the server using one of lineinfile/sed/kubectl so next time there is a new step like kubelet-finalize we don't break again.

[2021-03-03 01:48] bobbypage opened #99667 "Graceful Node Shutdown E2E test failing due to incorrect focus test name"
#### Which jobs are failing:

ci-kubernetes-node-kubelet-serial-graceful-node-shutdown

#### Which test(s) are failing:

GracefulNodeShutdown test

#### Since when has it been failing:

Since https://github.com/kubernetes/test-infra/pull/20937

#### Testgrid link:

https://testgrid.k8s.io/sig-node-kubelet#kubelet-serial-gce-e2e-graceful-node-shutdown

#### Reason for failure:

[code]

I think ther

[2021-03-03 01:49] bobbypage commented on #99667
/sig node
/traige accepted
/cc @wzshiming

[2021-03-03 01:49] bobbypage commented on #99667
/triage accepted

[2021-03-03 02:00] SerialVelocity commented on #87126
/remove-lifecycle rotten

[2021-03-03 02:35] blackjackyau commented on #93824
/remove-lifecycle stale

[2021-03-03 02:56] wzshiming commented on #99667
Ohhh, my mistake, I didn't notice the extra '['

[2021-03-03 02:58] bobbypage commented on #99667
No worries, should be a simple fix :)

[2021-03-03 02:59] #95183 closed

[2021-03-03 03:11] #87126 closed

[2021-03-03 03:34] jsturtevant opened #99669 "[sig-windows] [Feature:Windows] GMSA Kubelet [Slow] kubelet GMSA support when creating a pod with correct GMSA credential specs passes the credential specs down to the Pod's containers"
#### Which jobs are failing:
https://testgrid.k8s.io/sig-windows-azure#aks-engine-azure-windows-master-staging-serial-slow
https://testgrid.k8s.io/sig-windows-azure#aks-engine-azure-windows-master-containerd-serial-slow

#### Which test(s) are failing:
[sig-windows]  [Feature:Windows] GMSA Kubelet [Slow] kubelet GMSA support when creating a pod with correct GMSA credential specs passes the credent

[2021-03-03 03:41] CaoDonghui123 commented on #99650
/assign

[2021-03-03 03:55] chenxu1990 opened #99672 "cloud volume can not be unmount after node restarted"
steps:
1. create a pod with csi-volume, volume is provided by network storage(our own storage just like ceph)
2. shutdown the node ,and 5 min later, pod will stay in terminating
3. restart the node, pod will restart on another node
4. pod will stuck in containercreating because volume is still mounted on the old node

details:
1. when the old node restarted , csi will reconnect the old node and mo

[2021-03-03 04:00] supriya-premkumar opened #99673 "[sig-node] ineffassign potential race between informer and pod create in test code"
#### What happened:
ineffassign was added to the standard linter script as a part of [this PR](https://github.com/kubernetes/kubernetes/pull/99288) and flagged it.
Creating a sig-node issue as per suggestion [here](https://github.com/kubernetes/kubernetes/pull/99288#discussion_r580297341)

Running ineffassign reports the following issues.
[code]
#### What you expected to happen:
./hack/verify-gola

[2021-03-03 04:00] supriya-premkumar commented on #99673
/sig node

[2021-03-03 04:00] supriya-premkumar commented on #99673
/sig testing

[2021-03-03 04:30] brandond commented on #85330
@saad-ali we've got some logs available, if you're still collecting info.
https://github.com/k3s-io/k3s/issues/3007#issuecomment-789395136

[2021-03-03 04:46] adisky commented on #99673
options = metav1.ListOptions{

I think it can be removed, I found the this discussion from @liggitt https://github.com/kubernetes/kubernetes/pull/73064#discussion_r258123083

[2021-03-03 04:53] arunmk commented on #28272
/remove-lifecycle stale

[2021-03-03 04:54] ag3man commented on #99618
Here you go. I as thinking of switching my bind-address=0.0.0.0

[code]

[code]

[2021-03-03 04:54] nikhita opened #99675 "Ensure all external API types have descriptions"
Working on this issue will teach you about:
- codebase structure for APIs and testing scripts
- how API types are written for various k8s objects like deployments, pods, etc
- the `hack/verify-*` script pattern that's consistently used across k8s

### Background

External API types are defined in `types.go` files in:
-  [`staging/src/k8s.io/api/*/v*/types.go`]( https://github.com/kubernetes/kubern

[2021-03-03 04:55] nikhita commented on #99675
/sig architecture
/triage accepted
/good-first-issue

[2021-03-03 05:21] siddhartha97 commented on #99675
/assign

[2021-03-03 05:23] shiyajuan123 commented on #99675
/assign working on these:
./staging/src/k8s.io/api/events/v1/types.go
 ./staging/src/k8s.io/api/events/v1beta1/types.go

[2021-03-03 05:31] kangarlou opened #99677 "UnmapDevice failed for volume X (on node Y : The device Z is still referenced from other Pods)"
#### What happened:
A transient API server outage and/or node authorization failure coupled with pod deletion while block volumes were getting attached/mounted results in block volumes not getting detached properly; thus, delaying the start of a new replica pod on a different node by 6 minutes.

This is probably a case of Murphy's law where a transient API server access failure and a pod deletion

[2021-03-03 05:39] adisky commented on #99673
/triage accepted

[2021-03-03 05:43] wzshiming opened #99678 "Probe port is filled with the name of the UDP port"
[code]

#### What happened:

No warning, a http request to health-udp

#### What you expected to happen:

Expect an alarm to indicate that the probe filled in is not a valid and usable tcp port

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware config

[2021-03-03 05:47] wzshiming commented on #99678
/sig node

[2021-03-03 05:48] wzshiming commented on #99678
/assign

[2021-03-03 05:48] wzshiming commented on #99678
/triage

[2021-03-03 06:07] kangarlou commented on #99677
Any reason we don't call `actualStateOfWorld.MarkVolumeAsMounted(markVolumeOpts)` before `og.nodeExpandVolume(volumeToMount, actualStateOfWorld, resizeOptions)`? The alternative would be to not return error when `nodeExpandVolume` fails, assuming resize would be retried later:
https://github.com/kubernetes/kubernetes/blob/2695ef3f1b0e2fc51ffb1bcb8491a4165587a089/pkg/volume/util/operationexecutor/o

[2021-03-03 06:33] wangyysde commented on #99650
@johanfleury You can try to quote the value with double quotation when the value is negative, like the following:
`syncFrequency: 0s
volumeStatsAggPeriod: 0s
containerLogMaxSize: "-1"`

[2021-03-03 06:41] pacoxu commented on #90764
So we should remove it now and then add a new test if needed after a conclusion from the discussion in the KEP.

[2021-03-03 07:01] CaoDonghui123 commented on #99650
@wangyysde I tried "-1", but still error

[2021-03-03 07:09] yingjunxu opened #99683 "[ERROR] Recovered from panic in server: "dns://:53""
#### What happened:
kubectl logs -n kube-system -l k8s-app=kube-dns

#### What you expected to happen:

Recovered from panic in server: "dns://:53"

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:
coredns pod is running
[foot@p_foot-master1 ~]$ kubectl get pod -n kube-system
NAME                                      READY   STATUS

[2021-03-03 07:16] pacoxu commented on #99650
volumeStatsAggPeriod: 0s equals to volumeStatsAggPeriod: 1m
volumeStatsAggPeriod: -1s means disable

[2021-03-03 07:21] lumontec commented on #99675
/assign
will be working on this:
 ./staging/src/k8s.io/api/core/v1/types.go

[2021-03-03 07:24] CaoDonghui123 commented on #99675
/assign
working on these:
./staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/types.go
 ./staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/types.go

[2021-03-03 07:27] wangyysde commented on #99650
@CaoDonghui123 Which Kubernetes version have you installed? As if on my v1.19.4 system,no errors occured after I quoted the value with double quotation.

[2021-03-03 07:28] CKchen0726 commented on #99675
/assign
working on thess:
 ./staging/src/k8s.io/api/certificates/v1/types.go
 ./staging/src/k8s.io/api/certificates/v1beta1/types.go

[2021-03-03 07:28] pacoxu commented on #93347
/assign

[2021-03-03 07:28] JornShen commented on #99675
/assign
working on network:

 ./staging/src/k8s.io/api/networking/v1/types.go
 ./staging/src/k8s.io/api/networking/v1beta1/types.go

[2021-03-03 07:31] CaoDonghui123 commented on #99650
@wangyysde v1.20.2

[2021-03-03 07:34] tanjing2020 commented on #99675
/assign
working on these:
 ./staging/src/k8s.io/api/apps/v1/types.go
 ./staging/src/k8s.io/api/apps/v1beta1/types.go
 ./staging/src/k8s.io/api/apps/v1beta2/types.go

[2021-03-03 07:35] uablrek commented on #99622
80 and 443 are "privileged" ports (<1024). Just to rule out some unwanted security restriction please try some ports > 1024, e.g 8080, 8443.