[2021-06-25 19:07] #30861 closed

[2021-06-25 19:10] shinebayar-g commented on #97445
After thoroughly reading through https://github.com/kubernetes/kubernetes/issues/67577 I thought I shouldn't see any throttling with following settings on a NodeJS application.

[code]

![image](https://user-images.githubusercontent.com/3091558/123473831-1e63d780-d5c7-11eb-9e2b-7876168e4b7a.png)

[code]

What am I missing?

[2021-06-25 19:10] haircommander commented on #91845
@kfox1111 thanks for opening the issue. Do you have any interest in opening a KEP and driving this work?

[2021-06-25 19:11] ehashman commented on #98494
Ah! My bad.

This was fixed in cadvisor v0.39.0 which landed in https://github.com/kubernetes/kubernetes/pull/99875 so I think this can _actually_ be closed.

/close

[2021-06-25 19:11] #98494 closed

[2021-06-25 19:12] haircommander commented on #99009
/triage needs-information

[2021-06-25 19:13] ehashman commented on #98494
/remove-lifecycle rotten

someone should feel free to reopen if they can still repro this; we also have https://github.com/kubernetes/kubernetes/issues/101902 concerned with the container metrics as opposed to the runtime itself.

[2021-06-25 19:14] haircommander commented on #36621
/priority backlog

[2021-06-25 19:20] haircommander commented on #84681
@draveness what is the status of this? Is this refactor still needed?
/priority backlog

[2021-06-25 19:22] ehashman commented on #71350
@AndrienkoAleksandr a solution was provided in https://github.com/kubernetes/kubernetes/issues/71350#issuecomment-441920054

Specifically, you can set the `workingDir` and `env` parameters in your container specification: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#container-v1-core https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-contai

[2021-06-25 19:22] #71350 closed

[2021-06-25 19:24] haircommander commented on #24957
is @joemiller 's [workaround](https://github.com/kubernetes/kubernetes/issues/24957#issuecomment-632881383) sufficient for this? it doesn't seem there's a path forward for a clean API for this behavior, and there seem to be multple work arounds (sidecars, shared pid namespaces, etc)

/priority backlog

[2021-06-25 19:25] ehashman commented on #40270
I'd be inclined to close this and/or push this to the CNI, rather than trying to add another scheduling resource for pods.

Right now, node taints and pod anti-affinities give cluster admins a way to control and segment network-heavy workloads.

/remove-sig node

[2021-06-25 19:26] ehashman commented on #101674
Can someone confirm if they can reproduce this?

/triage needs-information

[2021-06-25 19:29] ehashman commented on #54923
This will not be possible to support in a meaningful way until we have full cgroupsv2 support.

/triage accepted

[2021-06-25 19:30] ehashman commented on #66311
@tallclair where are we with this? This issue has been frozen and non-updated for ~2y. Was this implemented?

[2021-06-25 19:32] ehashman commented on #43607
/remove-kind bug

@jingxu97 where are we with this?

[2021-06-25 19:37] BenTheElder commented on #99881
thanks to @PushkarJ it's time to roll over the job config and close the gap on this permanently 🎉

[2021-06-25 19:37] rphillips commented on #30189
Considering the original bug description, this issues seems to be fixed, since configmaps updates are more consistent and reliable. --sync-frequency (which can be configured to be more frequently to a palatable value, a user can use the workaround [described above](https://github.com/kubernetes/kubernetes/issues/30189#issuecomment-672889328) to refresh faster, and this has been documented.

As suc

[2021-06-25 19:37] ehashman commented on #102479
https://github.com/kubernetes/kubernetes/blob/017b359770e333eacd3efcb4174f1d464c208400/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L673-L675

None of this code appears to have been changed in the past ~4 years. I'm not sure this warning is anything to be concerned about, do you have an estimate for the amount of logspam it's causing?

[2021-06-25 19:39] ehashman commented on #96635
/triage accepted
/kind flake

I think this bug was known (we've been tracking similar issues in OpenShift) but no one had seen this issue. Let's get it on our CI board.

[2021-06-25 19:50] amit4alcide commented on #99285
Hi. Mainly for allowing to pass unique node identifiers such as the full
providerID, systemUUID to the pods being executed over the same node. The
nodeName is usually a shorter version of the full providerUUID so it might
be repeating between different clusters while other UUIDs mentioned above
do not.

On Fri, Jun 25, 2021, 21:59 Peter Hunt ***@***.***> wrote:

[2021-06-25 20:11] ehashman commented on #99453
/remove-kind support
/kind documentation

[2021-06-25 20:13] damemi commented on #103141
It might not perfectly solve your use case, but I've discussed the [out-of-tree real load aware plugins](https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/kep/61-Trimaran-real-load-aware-scheduling) as an alternative to overcommitment, since in theory if you are scheduling based on actual load you may not need to rely on request overcommitment

[2021-06-25 20:14] damemi commented on #103084
This could also be relevant to improving the scheduler's logging (ie, easier access to node scores) ref: https://github.com/kubernetes/kubernetes/issues/101820

[2021-06-25 20:15] mmiranda96 commented on #97026
/kind cleanup

[2021-06-25 20:15] mmiranda96 commented on #94289
/kind cleanup

[2021-06-25 20:16] mmiranda96 commented on #58034
/kind deprecation

[2021-06-25 20:16] matthyx commented on #99453
Ah documentation is a kind... Makes sense. Thx Elana!

[2021-06-25 20:18] mmiranda96 commented on #46469
/kind cleanup

[2021-06-25 20:20] mmiranda96 commented on #45206
/kind cleanup

[2021-06-25 20:20] mmiranda96 commented on #44118
/kind cleanup

[2021-06-25 20:21] mmiranda96 commented on #30189
/kind feature

[2021-06-25 20:22] ehashman commented on #30189
/close

Feel free to reopen if you want to pick this up.

[2021-06-25 20:22] #30189 closed

[2021-06-25 20:22] mmiranda96 commented on #30051
/kind feature

[2021-06-25 20:23] mmiranda96 commented on #27264
/kind bug

[2021-06-25 20:23] mmiranda96 commented on #20151
/kind feature
/sig security

[2021-06-25 20:24] mmiranda96 commented on #15673
/remove-kind design
/kind feature

[2021-06-25 20:25] mmiranda96 commented on #8702
/kind feature

[2021-06-25 20:25] mmiranda96 commented on #7452
/kind cleanup

[2021-06-25 20:27] mmiranda96 commented on #3949
/remove-priority awaiting-more-evidence
/triage needs-information
/kind feature
/remove-kind design

[2021-06-25 20:27] bobbypage commented on #98494
Just to leave a note -- the root issue here is that summary API reports a field `StartTime` which is actually populated from cAdvisor _creation_ time leading to confusion of why "startTime" is not updated on container restarts.

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/kubelet/stats/helper.go#L145

google/cadvisor#2800 did update logic for finding

[2021-06-25 20:34] cji commented on #81138
Hi @swatisehgal! I'm not aware of any work being done on this issue as it's quite old. The table is also woefully out of date not having been updated in nearly a year. I'll defer to the @kubernetes/product-security-committee on whether this is still relevant or necessary and should remain open. While I believe it was a low risk it was also something we did want to see fixed at one point.

[2021-06-25 20:36] cji commented on #81115
Fantastic! Yes I believe that does resolve this.

[2021-06-25 20:36] #81115 closed

[2021-06-25 20:36] BenTheElder commented on #102607
https://github.com/kubernetes/kubernetes/issues/99881 is resolved now via https://github.com/kubernetes/test-infra/pull/22707 + a series of PRs fixing the tests (thanks @PushkarJ for fixing the last test!)

going to pull HEAD and see where it's at now when I run it, to confirm.

[2021-06-25 20:39] QiWang19 commented on #81116
Hi, I would like to contribute to this issue. good first issue sounds like a good place for me to start.

[2021-06-25 20:48] matthyx commented on #81116
Hi Qi, sure. I think you can try to drop privileges in some parts as suggested in the short term remediation of the description.

[2021-06-25 20:49] matthyx commented on #81116
Check this one as an example: https://github.com/kubernetes/kubernetes/pull/81217

[2021-06-25 20:52] matthyx commented on #81116
Don't hesitate to request help... I am in EMEA region but asynchronously we should be able to coordinate.
Or you can ask on slack sig-node

[2021-06-25 21:01] ehashman commented on #98494
Should this be reopened then?

[2021-06-25 21:05] ruiwen-zhao commented on #103009
yep it does sound like this should be part of #94626.

I am thinking of generating a warning if the limit is larger than the node's capacity as well.

[2021-06-25 21:35] 2rs2ts commented on #100343
/remove-lifecycle stale

[2021-06-25 21:40] 2rs2ts commented on #72320
Yeah, why is a `CrashLoopBackOff` state considered in the `Running` phase and not the `Failed` phase? Because it will eventually try to run again to see if the container won't crash? As far as I'm concerned, if the kubelet is not currently attempting to run the containers, and the last thing that happened with the containers was them exiting with a non-0 code or being forcefully terminated, then t

[2021-06-25 22:00] johngmyers commented on #72320
The main issue is whether the pod has state local to the node that would adversely affect the application were it to be lost. If so, evicting a `CrashLoopBackOff` pod outside of the budget could be undesirable. Otherwise, evicting it is desirable.

The clusters that are earlier in our deployment pipeline are much more prone to having Deployments which are in constant CrashLoopBackOff. Doing rollin

[2021-06-25 22:12] bobbypage commented on #98494
I think we can use #101902 to track this instead.

[2021-06-25 22:23] BenTheElder commented on #102607
this is now down to https://github.com/kubernetes/kubernetes/issues/102754, can't explain how this is working in CI but not locally yet.

[2021-06-25 22:51] k82cn commented on #103141
Thanks very much for your input! It's not only scheduling, but also node/cgroup/kernel, as we need to reclaim the resouce back for online service and make sure not impact to QoS of online service.

[2021-06-25 22:51] k82cn commented on #103141
Sure, I'm going to move this request to enhancements.

[2021-06-26 00:08] robscott opened #103221 "[Flaky unit test] PersistentVolume TestControllerSync"
#### Which jobs are flaking:
pull-kubernetes-unit

#### Which test(s) are flaking:
k8s.io/kubernetes/pkg/controller/volume/persistentvolume: TestControllerSync

#### Testgrid link:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103190/pull-kubernetes-unit/1408560971697360896

#### Reason for failure:
[code]

#### Anything else we need to know:
- https://storage.googleapis.com/k8s-gube

[2021-06-26 00:11] jpbetz commented on #102749
@nickgerace there is a mitigation for this issue that works on v1.20+ (but not 1.19): Use x-kubernetes-map-type: atomic, e.g.:

[code]

[2021-06-26 00:14] tianon commented on #56374
@ehashman in my experience, `NET_BIND_SERVICE` is the most (only?) compelling use case for ambient capabilities (and the referenced KEP appears also to argue for that as _the_ use case), and it's solved much more cleanly (IMO) by `net.ipv4.ip_unprivileged_port_start=0`, which Docker now sets appropriately by default for network namespaces it creates (https://github.com/moby/moby/pull/41030) -- the

[2021-06-26 00:51] BenTheElder commented on #56374
@tianon @thockin has an issue for setting that in https://github.com/kubernetes/kubernetes/issues/102612

[2021-06-26 00:52] BenTheElder commented on #102612
relevant comment https://github.com/kubernetes/kubernetes/issues/56374#issuecomment-868892588

[2021-06-26 01:05] DaveWHarvey commented on #72320
So the concern is that we have say 2 pods that store state in the root filesystem or on a local SSD, and it replicates it between nodes, one pod is dead, and the other is in Crash Loop Backoff?  If the evict the latter, we will go to zero copies of the state.   If we leave it stuck, then there is opportunity for manual intervention?
I think I agree there would need to be a new setting to enable th

[2021-06-26 01:13] n4j commented on #86843
@ehashman Is anyone working on it or I can take a stab at it?

[2021-06-26 01:13] n4j commented on #86843
/assign

[2021-06-26 01:19] mgutierrez98 commented on #90277
@justaugustus I can send a PR to refactor all of this right now.

[2021-06-26 02:53] meganeshkadam commented on #102908
So, Do I need to replace `--large-cluster-size-threshold`  with  `--large-zone-size-threshold` ?
OR we need to phrase this pointer in the documentation completely for better clarity?

Can you help with what needs to be updated in the documentation?

BR,
Ganesh Kadam

[2021-06-26 04:07] fujitatomoya commented on #86539
/remove-lifecycle stale

[2021-06-26 04:38] thockin commented on #48528
No KEP that I know of.

On Thu, Jun 24, 2021 at 6:39 AM Dave Protasowski ***@***.***>
wrote:

[2021-06-26 06:00] tamalsaha opened #103224 "`kubernetes.New(c rest.Interface) *Clientset` api is not usable"
#### What happened:
https://github.com/kubernetes/client-go/blob/v0.21.2/kubernetes/clientset.go#L637

I am trying to use the `kubernetes.New(c rest.Interface) *Clientset` api to create a client. But it turns out that this facade api is not usable. The key issue is that I can only set one `APIPath` to the `rest.Interface` and it fails for any other api group versions with an error `the server coul

[2021-06-26 06:00] tamalsaha commented on #103224
/sig api-machinery

[2021-06-26 06:28] tamalsaha opened #103225 "Custom Transport can't be used with client-go if client cert is used"
#### What happened:
https://github.com/kubernetes/client-go/blob/v0.21.1/transport/transport.go#L36-L39

`transport.New(config *Config) ) (http.RoundTripper, error)` does not allow setting custom Transport if client cert auth is used. I would like to be able to set custom transport even when client cert auth is used.

I am using a custom transport that is used to connect to airgapped clusters (ima

[2021-06-26 06:39] rahulii commented on #45206
@mmiranda96 any particular files I should look into to solve this?

[2021-06-26 06:54] uablrek commented on #103000
Seem like proxy-mode=ipvs _have_ affinity for _all_ ports in the service. So the function exist in proxy-mode=ipvs but not in proxy-mode=iptables. I have tested with;
[code]
When a client makes a connect to 5001, subsequent connects to 5001 _and_ 5003 goes to the same server.

Note that `type: LoadBalancer` does not permit multi protocols, so test the combo TCP/UDP is not possible.

[2021-06-26 07:42] serathius commented on #102632
Looks like work here is done.
Thanks for the help!

[2021-06-26 07:42] #102632 closed

[2021-06-26 07:48] astraw99 opened #103228 "[Apiserver-extension] `RESTGracefulDeleteStrategy` impl leads to nil panic"
#### What happened:
Use apiserver extension(APIService) `RESTGracefulDeleteStrategy` interface, impl its method `CheckGracefulDelete` to gracefully control resource deletion, when the field `options.GracePeriodSeconds` is nil, will lead to panic!!

#### What you expected to happen:
To first check if `options.GracePeriodSeconds` is nil, then get its value.

#### How to reproduce it (as minimally an

[2021-06-26 08:17] serathius commented on #100748
For now let's focus on the original tasks of having ([kind-json-logging-master](https://testgrid.k8s.io/sig-instrumentation-tests#kind-json-logging-master) and [kind-json-logging-1.21](https://testgrid.k8s.io/sig-instrumentation-tests#kind-json-logging-1.21)) test scenarios, also configure other components.

[2021-06-26 08:24] rahulii commented on #100748
Would like to take this one!
/cc @serathius

[2021-06-26 08:27] serathius commented on #100748
/remove-help

[2021-06-26 08:42] uablrek commented on #103000
I made an unplesant discovery; I use ECMP to distribute traffic between nodes and the `ipvs` affinity state ("template") is per node. So subsequent calls will go to another server if ECMP directs it to another node.

It is as it must be since there is no coordination between `ipvs` instances on different nodes.

[2021-06-26 11:21] #102154 closed

[2021-06-26 11:37] nunodsfernandes commented on #50375
My point for this request was actually that.
I'm working with some deployments that do have pod restarts as per design, and that doesn't bother me at all.
However, some others are indicative of an issue, and uppon solving the issue, the counter remains high.

Let's say that one of the deployments has a restart counter of 357.
I solved the issue and it's no longer restarting.
However, if i need to

[2021-06-26 12:18] warmchang commented on #96169
/remove-lifecycle rotten

FYI: https://github.com/kubernetes/kubernetes/pull/99829

[2021-06-26 13:09] rahulii commented on #100748
@serathius just created a PR: https://github.com/kubernetes-sigs/kind/pull/2335

[2021-06-26 13:14] uablrek commented on #102906
@indrajithgihan Can you please provide the requested information and try the "ping" test above?

[2021-06-26 14:47] #92406 closed

[2021-06-26 16:37] indrajithgihan commented on #102906
@uablrek Found the issue was with network firewall blocking 8472 udp port. Hence we managed to open the port in firewall and now thus is working. Hence ok to close this issue as it is a firewall blockage.

[2021-06-26 19:23] slayer321 commented on #99453
Hii @matthyx, after reading [this](https://kubernetes.io/docs/concepts/storage/volumes/) docs . I think the example of " double mount of the same PV " needs to be added either before `Types of Volumes` or at the end of the page.
what did you say?

And it may look something like this.

Running pods with the duplicate persistent volume,
[code]
Example: A container running a web application reads app

[2021-06-26 19:30] matthyx commented on #99453
Thanks for looking at it.
I wonder if that example would nicely add to https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/ as it's more hands on than the other page. What do you think?

[2021-06-26 19:58] Toasterson commented on #91570
Ok, so I was able to piece together some of the process. There was an effort by @dims to Standardize new platform porting and integration and that is still ongoing IIRC

For now I have very little time to look into this and do the work here. So I will keep not contest the closing and see to review revive Kubernetes on illumos with a strategy that works for me and which interface boundry that works

[2021-06-26 21:40] uablrek commented on #102906
Ok, thanks.

/close

[2021-06-26 21:40] #102906 closed

[2021-06-26 22:03] codearky commented on #103185
/assign

[2021-06-26 23:04] MorrisLaw commented on #36621
Has anyone picked this up yet? What's the current status of this issue? I'm trying to determine if this is something I could start working on or if it needs more discussion.

[2021-06-27 01:05] liggitt commented on #102373
/sig node

[2021-06-27 01:49] #98206 closed

[2021-06-27 05:22] Frankkkkk commented on #97328
Related to #23349

[2021-06-27 05:43] gjkim42 commented on #101674
I couldn't reproduce this issue at v1.21.2 and v1.20.6.

[code]

[code]

node4 was successfully tainted with the `NoExecute` effect and the kubernetes successfully tried to terminate the pods of `node4`.

I think you should wait more time for the kubernetes to evict the pods of the `NotReady` node. I didn't test a lot, but it seemed that v1.20.6 evicted pods more slowly.

[2021-06-27 06:00] sxllwx commented on #102718
@liggitt @deads2k  Is there anything I can do to help this move forward?

[2021-06-27 06:11] slayer321 commented on #99453
yeah, [this](https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/) docs seems the right place to add the " double mount of the same PV" example.
and I think It should be added after the `Create a PersistentVolumeClaim`.
What do you think?

[2021-06-27 07:14] matthyx commented on #99453
Yes, so now sign the CLA, open a PR and link this issue. We'll see what they say during the review...

[2021-06-27 07:44] bsctl commented on #101674
@gjkim42 hello thanks for working on it. Please do all the steps reported in the description. Just shutting down a worker is not enough. Thanks

[2021-06-27 08:05] gjkim42 commented on #101674
@bsctl

Actually, I did.
I made a cluster with 3 master nodes and 2 worker nodes.

Deployed a deployment (10 replicas) and a statefulset (10 replicas).

And then,

1. Stopped all 5 VM nodes
2. Started 3 master nodes
3. Executed `watch kubectl get nodes`
    All 5 nodes were `Ready` status at first. (Kubernetes couldn't state actual states of the nodes at that time)
    Waited for 2 worker nodes's

[2021-06-27 09:20] sumitkgaur commented on #71869
/remove-lifecycle stale

[2021-06-27 09:22] chmouel opened #103239 "kubectl get crash when sorting with a bad unsortable field"
#### What happened:

I am getting a crash when trying to sort pod with kubectl on `.status.containerStatuses[]`

#### What you expected to happen:

Not crashing and at least an error message

#### How to reproduce it (as minimally and precisely as possible):

* `kubectl get pod -o name --sort-by=.status.containerStatuses[]`

#### Anything else we need to know?:

<details>
<summary>Crash log</summa

[2021-06-27 09:23] chmouel commented on #103239
/sig cli

[2021-06-27 10:48] bsctl commented on #101674
@gjkim42 on cluster v1.20.6 the issue is still there. Which logs can be useful to understand the issue?

the eviction time is 300s, why need to wait more? However, we waited up to one hour :)

Currently do not have a cluster in more recent versions to test.

[2021-06-27 10:52] bsctl commented on #101674
I simply switched off (brutally switched off the VM) all the nodes in step 1, not a graceful shutdown. This because the initial intent of the test was a DR simulation.

[2021-06-27 11:33] Jean-Daniel commented on #95488
Everything was fine with my cluster until I upgrade kubelet from 1.21.1 to 1.21.2, and now they fails to start with this error.

[2021-06-27 11:58] Jean-Daniel commented on #95488
I found my issue is #102676

[2021-06-27 12:46] gjkim42 commented on #101674
Could you give us the logs of all of kube-controller-managers?

[2021-06-27 15:38] wangyysde commented on #103192
/cc @wangyysde

[2021-06-27 16:06] sftim commented on #102908
I'm not sure this issue is well-defined enough to count as a good first issue for this website.
/remove-good-first-issue

@xrmzju if you're happy to revise the issue description to make things clear even to a new contributor, we'd be happy to look at reinstating that label.

@meganeshkadam you might like to pick a different issue from https://github.com/kubernetes/website/issues?q=is%3Aissue+label

[2021-06-27 17:21] apoorvajagtap commented on #102405
Hello, @dmrogers7 I have been just looking through the issue and a bit curious to understand what might lead to such a scenario. Can you please confirm the versions, for which you are observing this behavior?

IIUC, in case minreplica is not set, the default value is chosen as '1' as per [code](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal.go#L631-L63

[2021-06-27 17:57] aojea commented on #103000
heh, it should be the same for iptables, I don't think that iptables keeps state between nodes :upside_down_face:

[2021-06-27 18:17] MadhavJivrajani commented on #103239
Hey @chmouel!

I'm not able to reproduce the crash, although I do get an error on running
[code]
However, the following works:
[code]
Could you try this and check if this crashes as well?

[2021-06-27 19:20] MadhavJivrajani commented on #84353
Hi @verb!

On creation of an ephemeral container (the first one on said Pod), adding a `PodCondition` called `IsTainted` is more intuitive imo

If I understand correctly, if the following code is used to update/create `PodConditions` then if its called for the first time for an `IsTaintedDueToEphemeralContainer` type of `PodCondition` then, it will create it and for subsequent calls, since nothing

[2021-06-27 20:54] #98476 closed

[2021-06-27 20:54] #98475 closed

[2021-06-27 21:54] #98242 closed

[2021-06-27 21:58] deitch commented on #41881
/remove-lifecycle stale

[2021-06-27 23:54] #98444 closed

[2021-06-28 01:34] maniator commented on #102822
Here is an image I created to solve not having buildx in the official image https://hub.docker.com/r/maniator/dind-buildx

[2021-06-28 02:46] 249043822 commented on #103143
@ehashman okay, I know

[2021-06-28 03:04] ticpu commented on #70047
/remove-lifecycle stale

The time is coming again, we'll soon be migrating to a newer Ceph cluster and this issue will probably be in the way again.  This time, I'll make sure to submit the pull request and not just a patchset to remove the useless limitation. No timeline yet on the migration.

[2021-06-28 03:59] pacoxu commented on #98902
/priority important-longterm

[2021-06-28 04:03] neujie commented on #102939
Sorry for not responding in time. I saw your code just now, you are welcome to fix it.

[2021-06-28 05:09] #102305 closed

[2021-06-28 05:36] g3rzi commented on #101695
Any update?

[2021-06-28 05:43] pacoxu opened #103246 "data race in TestErrConnKilled"
#### Which jobs are flaking:
pull-kubernetes-unit

#### Which test(s) are flaking:
TestErrConnKilled

#### Testgrid link:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103107/pull-kubernetes-unit/1409355697006579712

#### Reason for failure:
Data RACE in unit test
[code]

#### Anything else we need to know:
- links to go.k8s.io/triage appreciated
- links to specific failures in spygl

[2021-06-28 05:58] #98482 closed

[2021-06-28 06:16] fromanirh commented on #102552
thanks for updating the reproduction steps.
Unfortunately is still not very clear how to reproduce the issue. The steps you added document what happens when the condition triggers. What we miss is the steps to reproduce the state which makes it possible for the condition to trigger, so we can properly assess the bug severity.
For example:
- do we need a special device plugin or does it happen with

[2021-06-28 06:41] pacoxu commented on #101697
/assign  @marwanad
as  #103133

[2021-06-28 07:01] stayhungry001 commented on #102659
I have the same issue, too. As I can see, there are several containers with exit status. This issue resolved when I delete the exited containers.

[2021-06-28 07:11] deitch commented on #48180
Having opened this issue four years ago, and seen the comments and development (as well as done/seen a bunch of admissions controllers), I am not overly enamoured of them as a solution. That comes from three key directions:

1. Scope: a single flag or single configmap or similar that triggers setting env vars on every pod in a namespace or globally is very narrow scope; you only can affect somethi

[2021-06-28 07:13] sttts commented on #98380
Has anybody tried to fix this? I don't think there is much objection to a fix, just somebody needed to dig into it.

[2021-06-28 07:25] pacoxu opened #103247 "Dependencies `go.opencensus.io` exist P1 issue: goroutine started on init() function"
Refer to https://github.com/census-instrumentation/opencensus-go/issues/1074, open an issue to track a P1 issue in k/k dependencies `go.opencensus.io`.

/area code-organization dependency
/priority important-longterm

We upgrade `go.opencensus.io` from v0.22.3 to v0.23.0. It should have problems with both the old and new versions.
https://github.com/census-instrumentation/opencensus-go/blob/v0.22.

[2021-06-28 07:42] muma378 commented on #101820
/assign

[2021-06-28 08:20] matthyx commented on #102367
Do you mind taking a look at it?

/assign @Dingshujie

[2021-06-28 08:31] ingvagabund commented on #102378
@eddiezane if there's someone else who has free time .... Otherwise, I will have some free slots in 2 weeks to take a look.

[2021-06-28 08:34] Tarjei400 opened #103250 "Windows container are not killed properly by liveness probe"
#### What happened:
Liveness probe seems to be restarting container, however old container is still running somehow on a cluster.

#### What you expected to happen:
Old containers are stopped.

#### How to reproduce it (as minimally and precisely as possible):
Reproducing it might be a little tricky, as you cannot see old containers running using kubectl, from that perspective it seems like its al

[2021-06-28 08:37] Tarjei400 commented on #103250
/sig cluster-lifecycle

[2021-06-28 08:40] learner0810 commented on #103246
/assign

[2021-06-28 08:40] pacoxu opened #103251 "Data Race in systemDBus Unit test"
### Failure cluster [78118168f2359d9363b3](https://go.k8s.io/triage#78118168f2359d9363b3)

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go#L121-L131

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go#L334-L342

##### Error text:
[code]
#### Recent failures:
[2021/6/28 上午7:00:1

[2021-06-28 09:01] jcortejoso commented on #103000
The use-case I was testing here is a service that subscribes to a websocket to get "new blocks" events, and when it gets that event it tries to fetch the block from the node using an rpc call. So if the rpc and websocket and rpc ports are served by different ports, the server responding to the requests can be different, and in this case (ethereum nodes) there could be some delays between when diff

[2021-06-28 09:11] #103085 closed

[2021-06-28 09:19] aojea commented on #103000
does this means that, in theory, with current behavior, it should work but it doesn't because the nodes backing the service have some delay synchronizing their state?

indeed, I think that the bug is acknowledged, the debate now is if it is a bug in the docs or a bug in the code :sweat_smile:

But based on Lars finding, it seems that the affinity is always per node, if the external client "enters"

[2021-06-28 09:19] ialidzhikov commented on #103085
@nilo19 , thanks for the fix. Can you also create a cherry-pick to kubernetes/kubernetes@master?

[2021-06-28 09:47] pacoxu commented on #75355
Today in http://storage.googleapis.com/k8s-metrics/flakes-latest.json, it is the top 1 flake for "pr:pull-kubernetes-e2e-gce-ubuntu-containerd".

[2021-06-28 10:01] fromanirh commented on #75355
ok, time to prioritize this work

[2021-06-28 10:02] snowboy932 opened #103255 "ImageGC removing all unused images"
i have the latest  (1.21.2) version of k8s. GarbageCollector is trying to remove all docker images even if they wasnt pulled by k8s. how to disable it? i tried to configure DiskPressure and MemoryPressure to the highest threshold (including deprecated flags) but it didnt help

[2021-06-28 10:09] pacoxu commented on #92402
After upgrading to staticcheck v0.2.0, there are several more static failures. New contributors may take a look.

[2021-06-28 10:09] mikhailadvani commented on #72944
doesn't the configmapRef become more relevant post the 1.20 release of RootCAConfigMap https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#introducing-rootcaconfigmap

[2021-06-28 10:18] Tarjei400 commented on #103250
Update:
 I copied shutdown.exe from windows-servercore image. I go inside container using kubectl exec -it <name> -- cmd and execute shutdown. It looks like old container gets restarted, and new one is being created :O

[2021-06-28 10:36] Tarjei400 commented on #103250
Update, my bad last turns out I have duplicates registered in consul, really sorry for spamming

[2021-06-28 10:41] fromanirh commented on #75355
Do we have a testgrid link? I'm looking at https://testgrid.k8s.io/google-gce#pull-kubernetes-e2e-gce-ubuntu-containerd to try to understand better the flakes and getting too little from here (but looks relatively good from here?)

[2021-06-28 11:07] adelca opened #103258 "Inttermitent extra delays when using minReadySeconds in Deployment"
#### What happened:
Using minReadySeconds:550 in Deployment, rollingUpdate strategy (maxSurge:0, maxUnavailable:2) and replicas:6.
When querying Deployment (kubectl get deployment), the field AVAILABLE does not update according to the value used in minReadySeconds and maxUnavailable. It will take longer and it will cause delays in pods rollout. This happens intermittently, I have been able to repr

[2021-06-28 11:34] pacoxu commented on #88981
- #89232 fixed #88901 in 1.19
- #98377 fixed #82046 in 1.22

It seems that we can close this issue now.
@apelisse @kwiesmueller

[2021-06-28 11:43] kwiesmueller commented on #88981
I agree, thanks for reminding :-)
/close

[2021-06-28 11:43] #88981 closed

[2021-06-28 11:45] #102803 closed

[2021-06-28 11:57] chmouel commented on #103239
It definitively crashes it, did you test it in a repo where there is actual pod in there? that error would not show if there is nothing.

[2021-06-28 12:23] MadhavJivrajani commented on #103239
Yep

Hmm, interesting. Will try to reproduce it again

[2021-06-28 12:25] verb commented on #102008
@yashikabadaya How's it going? I'd like to make sure this makes it into 1.22.

[2021-06-28 12:29] marckhouzam commented on #59078
#96087 has been merged and that PR also moved zsh completion to being native.  The generated zsh completion script for kubectl is now about 60 times smaller.

I hope this solves the current issue.

[2021-06-28 12:30] coderwangke opened #103260 "ipvs: Concurrent map read and map write exist in kube-proxy"
#### What happened:
![image](https://user-images.githubusercontent.com/42019725/123636449-744ab080-d84f-11eb-8293-21a41889a14e.png)

#### What you expected to happen:
no panic

#### Anything else we need to know?:
https://github.com/kubernetes/kubernetes/blob/release-1.16/pkg/proxy/ipvs/graceful_termination.go#L86

#### Environment:
- Kubernetes version (use `kubectl version`): k8s 1.16

[2021-06-28 12:31] coderwangke commented on #103260
/sig Network

[2021-06-28 12:57] gjkim42 commented on #103260
@coderwangke
Could you fix this? I think the function needs a lock while being executed.

[2021-06-28 13:07] dimakow commented on #99370
Opened a PR https://github.com/kubernetes/kubernetes/pull/103262 for this bug. Please review. Happy to discuss the details!

[2021-06-28 13:19] clintmod commented on #34274
/reopen
/remove-lifecycle rotten

[2021-06-28 13:20] Jean-Daniel opened #103263 ""fieldPath: status.podIP" may use wrong IP family in dual stack cluster."
#### What happened:

In a dual-stack cluster with IPv4 as default family (first kubelet IP), a container is created with a env var set to  `fieldPath: status.podIP`.

When the container is running, `status.podIP` properly contains the IPv4

[code]

But at runtime, this env var  (used in container args) is expanded to the pod IPv6 instead of the IPv4.

[code]

[code]

#### What you expected to happ

[2021-06-28 13:22] claudiubelu commented on #98499
I've tried to replicate it as well, but to no avail, so I only had to dig through the logs of the current failures.

curl exit code 28 means timeout, so that means that Kubeproxy might not have set up the NodePort properly (stopping the Kubeproxy service on the Windows nodes will also cause this test to fail).

Looking at: [0]

This test failed with the exit code 28. The nodeport pod started at 17

[2021-06-28 13:43] serathius commented on #102439
I don't think work here has finished. We still need to implement those changes in k/k repo:
* Cut new klog
* Bump klog in k/k
* Update the script
/reopen

[2021-06-28 13:54] jcortejoso commented on #103000
Yes, exactly that is the situation.

Right. In my personal opinion seems ok to me that kubernetes services do not support session affinity on different target ports, so it would look to me a right solution updating the documentation with a clarification over the matter. In this case the consumption of the service is internal so I have not faced the problems of the affinity is in per node basis, bu

[2021-06-28 14:07] vdemeester commented on #86245
/remove-lifecycle rotten

[2021-06-28 14:10] umangachapagain commented on #102439
@serathius Thanks for reminding, I almost forgot 😓

Why do we need to cut a new klog and bump in k/k? Can't we make latest logcheck available to k/k without it?
I don't know the process.

[2021-06-28 14:23] eero-t commented on #52757
I think this belongs under:
* COD WG: https://github.com/cncf/tag-runtime/blob/master/wg/COD.md
* CDI proposal: https://github.com/container-orchestrated-devices/container-device-interface

Although device sharing and GPUs in general are just a part of what those would to address.

PS. Latest Intel device plugins release has _experimental_ support for fractional GPU resources: https://github.com/i

[2021-06-28 14:24] ahg-g commented on #102867
It is still not clear to me how we can efficiently implement what you are proposing.

I would like to understand more details about how we can avoid this, otherwise I think we should go with a gauge.

[2021-06-28 14:39] serathius commented on #102439
Hmm, We could try without updating to update. Please send PR that will update ./hack/verify-structured-logging.sh
If updating klog is nesesery feel free to contact @dims for help

[2021-06-28 14:43] Jean-Daniel commented on #103263
Note: I have a configuration that match the ones that have IP ordering issue before #95251 was fixed.

So it may be related.

[2021-06-28 14:55] umangachapagain commented on #102439
Should the script run logcheck on migrated packages only or entire codebase for correctness or both?

[2021-06-28 14:59] #98506 closed

[2021-06-28 15:16] serathius commented on #102439
This depends on implementation, increasing running time is ok as long it's reasonable, for example x1.5, but not x10.

[2021-06-28 15:19] haircommander commented on #36621
I don't believe this has been addressed yet, if you want to attempt to fix it @MorrisLaw

[2021-06-28 16:05] MikeSpreitzer commented on #102744
I may have restarted the kubelet when I tried that.

[2021-06-28 16:12] kishorj commented on #80897
/remove-lifecycle rotten

[2021-06-28 16:12] neolit123 commented on #103263
/sig network

[2021-06-28 16:12] neolit123 commented on #103258
/sig apps

[2021-06-28 16:12] kishorj commented on #80897
/reopen

[2021-06-28 16:12] neolit123 commented on #103251
/sig node

[2021-06-28 16:16] gnufied opened #103267 "Fix CSI drivers to report actual size of the volume after ControllerExpandVolume and add sanity tests for it"
Currently many CSI drivers report requested volume size as response of `ControllerExpandVolume` RPC call, instead they should return actual volume size after expansion as CSI spec requires:

[code]

We should cover this a CSI sanity test as well.

/sig storage

[2021-06-28 16:16] neolit123 commented on #103255
IIRC, the image garbage collector in the kubelet is supposed to clean only images referenced in k8s objects (e.g. Pod)?
are you sure it's removing other images from the host? how to reproduce that?

/triage needs-information
/sig node

[2021-06-28 16:17] neolit123 commented on #103228
/sig api-machinery

[2021-06-28 16:17] mmiranda96 commented on #45206
@rahulii It looks like the issue requests unit tests for [pkg/kubelet/cri/remote/remote_runtime.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cri/remote/remote_runtime.go). Note that the author already sent a PR that creates a [fake runtime](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cri/remote/fake/fake_runtime.go). Use this implementation to write the

[2021-06-28 16:17] neolit123 commented on #103246
/sig api-machinery

[2021-06-28 16:18] neolit123 commented on #103225
/sig api-machinery

[2021-06-28 16:19] tamalsaha commented on #103225
I have opened a pr https://github.com/kubernetes/kubernetes/pull/103230 to fix this.

[2021-06-28 16:22] neolit123 commented on #103185
/sig api-machinery

likely something that https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder.go#L175 does not tolerate?

you can try reproducing that with a unit test.

[2021-06-28 16:33] yashikabadaya commented on #102008
Hi @verb , I am able to reproduce this issue. I am looking for some guidance on how to go about fixing this issue?

[2021-06-28 17:01] #97577 closed

[2021-06-28 17:03] thockin commented on #103000
Interesting.  Does IPVS have a way to make that independent per-port
(as a choice) or is that just fixed in the IPVS mechanism?

Some LB mechanisms can do affinity and some can't, which isn't
surprising.  If I understand, ECMP + IPVS approximates the iptables
per-port affinity.  But a more stateful routing layer wouId
approximate the IPVS per-service affinity.  I don't think we can
mandate better-

[2021-06-28 17:04] MadhavJivrajani commented on #103260
/triage accepted
/good-first-issue

todo: add a lock around the body of this function:
https://github.com/kubernetes/kubernetes/blob/18936c8b181de5701fba4f0b958317f9dbdab0a1/pkg/proxy/ipvs/graceful_termination.go#L84

Similar to
https://github.com/kubernetes/kubernetes/blob/18936c8b181de5701fba4f0b958317f9dbdab0a1/pkg/proxy/ipvs/graceful_termination.go#L101-L104

[2021-06-28 17:05] alculquicondor commented on #101697
Forbidding it is the appropriate solution. However, we can't do it for backwards compatibility of the API.

/triage accepted

[2021-06-28 17:08] yashikabadaya commented on #103260
/assign

[2021-06-28 17:50] tallclair opened #103271 "[PodSecurity] restricted capabilities"
Tasks:
- [x] Decide on restricted capabilities policy - discussion in https://docs.google.com/document/d/1Z26yS26z5saILHzj9nSvlbGOBJP_6c182Fl-vAi8AQY/edit
    - Proposal has buy-in
- [ ] Update Pod Security Standards documentation - https://github.com/kubernetes/website/pull/27882
- [ ] Implement `check_dropCapabilities.go`
  - in restricted v1.22+, must drop ALL, may only add back CAP_NET_BIND_SE

[2021-06-28 18:18] SergeyKanzhelev commented on #50375
in your case are you solving issue by changing code or making some external dependencies work again?

[2021-06-28 19:05] BenTheElder commented on #100596
/remove-lifecycle stale
/help
/triage accepted
/kind documentation
/retitle document _output directory
though also a log message might be good? thing is where to stick it, we have a lot of variations on building that won't pass through the same codepaths ...
IMO this absolutely ought to be documented at the very least

[2021-06-28 19:21] BenTheElder commented on #100611
/remove-lifecycle stale
https://github.com/kubernetes/kubernetes/pull/100657 just needs a rebase and another poke at assigned reviewers

[2021-06-28 19:46] #101697 closed

[2021-06-28 19:53] brianthelion opened #103274 "Admission controller's valid `allowed: false` response causes kubelet to retry forever"
This issue was initially filed as [kubernetes-sigs/cluster-api#4848](https://github.com/kubernetes-sigs/cluster-api/issues/4848) but it is getting blank stares there, so I've cross-filed here as well.

#### What happened:

An admission controller was created to modify the Node object associated with a kubelet, at `kubeadm join` time. If the admission controller returns a valid `allowed: false` res

[2021-06-28 20:01] bswartz opened #103275 "Update volume populators for 1.22"
#### What would you like to be added:

Implement up updated version of the volume populators KEP, which modifies the PVC API.

#### Why is this needed:

KEP 1495 was updated for the 1.22 release with a new design:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1495-volume-populators

[2021-06-28 20:03] bswartz commented on #103275
/sig storage

[2021-06-28 20:05] 2rs2ts commented on #72320
@DaveWHarvey I would suggest using PersistentVolumes for that use case, not just because of this issue, but also because of any number of things that could cause trouble (such as sudden host failure.) That is a tangential matter for this issue, though.

[2021-06-28 20:19] ScottShingler commented on #97445
We're also experiencing weird issues with unnecessary CPU throttling. We're running on AWS with kernel `5.4.0-1045-aws`.

As a sanity check to rule out if this was the [infamous CFS throttling bug](https://github.com/kubernetes/kubernetes/issues/67577), I ran the Go script from this [gist](https://gist.github.com/bobrik/2030ff040fad360327a5fab7a09c4ff1) via the following job:

[code]

This showed

[2021-06-28 20:27] neolit123 commented on #103274
note that kubeadm is unaware of admission controllers actions or AdmissionReview warnings. it just starts the kubelet in control plane components. it then watches if these become healthy after a period of time.

the kubelet is a service and Node admission failure might not be something to make it exist on. for example, the same Node can be allowed on a later stage. are you expecting the kubelet to

[2021-06-28 20:42] tallclair commented on #103271
See https://docs.google.com/document/d/1Z26yS26z5saILHzj9nSvlbGOBJP_6c182Fl-vAi8AQY/edit# for proposal & discussion.

[2021-06-28 20:45] brianthelion commented on #103274
@neolit123

Understood, yet, we must acknowledge that this is supremely un-helpful to a Kubelet administrator trying to debug a `join` failure related to admission control.

My main concern is that enough "zombie" kubelets will eventually starve the API server.

[2021-06-28 21:24] lauchokyip commented on #102378
@eddiezane @KnVerey , I looked at the source code and here is what I have found. Also need some inputs on how to solve it.

I will use the resource `pods` as an example. `pods` will match the version Kind, `v1 Pod` and  `metrics.k8s.io/v1beta1 PodMetrics`. The later one is because of metrics server.

In `Builder`, when we want to [find the mapping](https://github.com/kubernetes/kubernetes/blob/ea0

[2021-06-28 21:59] tallclair commented on #103206
Related: https://github.com/kubernetes/kubernetes/issues/103271

[2021-06-28 22:00] jswantek opened #103280 "kubernetes fails to start with a flannel crash when using a ppp0 modem interface"
#### What happened:
`flannel` panic on kubernetes start when using a LTE modem that enumerates as a `ppp0` device.

[code]

#### What you expected to happen:
Expected kubernetes to start without panic.

#### How to reproduce it (as minimally and precisely as possible):
1. Attach modem to USB port and wait for it to enumerate (have no other internet uplink interfaces) (**Note: must enumerates as a

[2021-06-28 22:02] jswantek commented on #103280
/sig network

[2021-06-28 22:18] Jean-Daniel commented on #103263
Just a guess, but I wonder if it may be caused by [this code](https://github.com/kubernetes/kubernetes/blob/5f8f5ab3268b41d45481d2d865716fa04c026aab/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L816)

[code]

[2021-06-28 22:38] invidian commented on #88046
@matthyx I doubt I find time to submit a proper PR for this, but I'll try to have a look soon-ish and let's see how that goes.

[2021-06-29 00:41] tallclair commented on #66311
No. I'm not sure we actually want this. It seems like a fairly obvious thing to have in theory, but in practice most services that talk to nodes need to talk to all nodes, and I'm not sure we want to ask them to maintain N separate tokens (clients?) to talk to N nodes. I think client certs might be a better solution for these cases.

@mikedanese WDYT?

[2021-06-29 01:25] lauchokyip commented on #103239
/triage accepted
/kind bug
/priority backlog

/assign

[2021-06-29 01:39] neolit123 commented on #103280
try logging the issue in the flannel issue tracker:
https://github.com/flannel-io/flannel

flannel issues are not tracked here.

/close

[2021-06-29 01:39] #103280 closed

[2021-06-29 01:41] lauchokyip commented on #103239
/remove triage-accepted
/remove kind-bug
/remove priority backlog

[2021-06-29 01:43] lauchokyip commented on #103239
/remove-kind bug

[2021-06-29 01:46] lauchokyip commented on #103239
@chmouel  Sorry, not sure how to remove the label but this is expected. When sorting if the type is not expected it will output errors using klog over [here](https://github.com/kubernetes/kubectl/blob/138447c9c64435625fd86188a545c2d4d058514e/pkg/cmd/get/sorter.go#L332) which will  logs to the FATAL, ERROR, WARNING, and INFO logs, including a stack trace of all running goroutines, then calls os.Exi

[2021-06-29 01:49] lauchokyip commented on #103239
/remove-kind bug

[2021-06-29 01:50] lauchokyip commented on #103239
/remove-triage accepted

[2021-06-29 01:51] lauchokyip commented on #103239
/remove-priority backlog

[2021-06-29 02:57] zouyee commented on #81134
#84032 reopen

[2021-06-29 03:11] kebe7jun opened #103283 "kubectl logs error if multiple pods selected with different containerName"
/kind bug

#### What happened:

[code]

#### What you expected to happen:

The logs of pods with label `dce.daocloud.io/app=dsm-demo` will be output expected without errors.

#### How to reproduce it (as minimally and precisely as possible):

create the following resources:
[code]
kubectl logs -l dce.daocloud.io/app=dsm-demo

#### Environment:
- Kubernetes version (use `kubectl version`):
latest m

[2021-06-29 03:17] kebe7jun commented on #103283
/sig cli

[2021-06-29 03:32] Imy123 opened #103285 "pod can not delete"
#### What happened: In my kubernetes cluster, a pod can not delete
![image](https://user-images.githubusercontent.com/17736269/123732420-77d04d00-d8cc-11eb-8b45-1c0937c2da8e.png)
![image](https://user-images.githubusercontent.com/17736269/123732484-8f0f3a80-d8cc-11eb-8f77-094d259203e4.png)

pod is running, but when I exec delete command get `Error from server (NotFound): pods "ks-apiserver-d67e884

[2021-06-29 03:36] custhk opened #103286 "BoundedFrequencyRunner Loop maybe into an infinite loop"
#### What happened:
[code]
bfr.limiter.TryAccept() will always false in tryRun() and runner.Loop will into an infinite loop  after  11 days and 14 hours ( 1000800s=1000800s/10s/cycle= 100080cycle)
#### What you expected to happen:
No matter how long runner.Loop runs, syncFunc() can be called every 10 seconds

#### How to reproduce it (as minimally and precisely as possible):
1、modify tryRun()
[cod

[2021-06-29 03:37] n4j commented on #103283
I am able to pull logs from multiple containers in my test setup, this doesn't seem to be an issue with `kubectl`

@kebe7jun Could you check if all the containers in the specified pod are healthy?

[2021-06-29 03:46] #103215 closed

[2021-06-29 03:46] #103197 closed

[2021-06-29 04:03] kebe7jun commented on #103283
yes, all of these pods' containers are healthy.

[2021-06-29 05:07] fromanirh commented on #102148
/reopen
we are not done yet

[2021-06-29 05:11] thockin commented on #100895
Merged into utils.  Need to re-vendor into k/k.

We need some sort of static anaylzer.  https://github.com/quasilyte/go-ruleguard looks interesting if we don't have a favorite in our ecosystem already?

[2021-06-29 05:54] fzu-huang commented on #96240
This problem seems similar to issue: https://github.com/kubernetes/kubernetes/issues/68211  .It has been fixed  in 1.20 , but doesn't backport to 1.19 or earlier versions.   We can find some deleted mountpath on  node which this problem happened:

[code]

then subpath will be mount  again and pod will succeefully ran.

[2021-06-29 06:17] sbueringer commented on #92601
@BenTheElder Ah right makes sense. As it's otherwise pretty low priority it probably doesn't make sense to do anything until then.

[2021-06-29 06:31] wzshiming commented on #103251
/assign

[2021-06-29 07:03] yuswift commented on #103285
@Imy123 you missed the `-` in the pod name. Please open issues in https://github.com/kubesphere/kubesphere if you have problems on KubeSphere.

[2021-06-29 07:11] Imy123 commented on #103285
pod name is right, this pod can describe but can not delete

[2021-06-29 07:24] Jean-Daniel commented on #103263
That's it. The fix from  #97979 properly sort IP when computing the Pod status, but the sorted IPs are then replaced by computed IPs as this log shows.

[code]

[2021-06-29 07:45] njuptlzf commented on #102932
Seems noone work here, try to reproduce and fix.
/assign

[2021-06-29 07:47] pacoxu commented on #103286
/sig network

[2021-06-29 07:49] aojea commented on #103263
/triage accepted
Thanks for the detailed report

[2021-06-29 08:11] leonK-BO commented on #58065
@terinjokes & @SamuAlfageme Sorry for the late reply. I will try out in the next days again the commands and your proposals.
Just to make sure that I am here on the right path. The current corporate proxy was internally reachable via "http://xxxxxxxx" so this means that is a plain HTTP proxy right? In order to use a the applied kubectl patch for SOCKS5 I need the proxy to support SOCKS5 right? If

[2021-06-29 08:21] verb commented on #102008
Hi @yashikabadaya, given that time zones are difficult and the code freeze is near, I think it'll be most efficient to communicate with examples. I'll prepare a PR with what I have in mind.

[2021-06-29 08:43] terinjokes commented on #58065
You'll need to contact your IT department to know for sure.

[2021-06-29 09:04] njuptlzf commented on #102932
kubernetes#  ./stress -p 20 ./reconciler.test -test.run "Test_Run_Positive_VolumeMountControllerAttachEnabledRace"
15m25s: 50884 runs so far, 0 failures

:(
I cannot reproduce it, does anyone have better suggestions?

[2021-06-29 09:06] pacoxu commented on #102932
`-p 200` ?
I have no better idea.

[2021-06-29 09:22] yuswift commented on #103285
take a look at the first picture and check the pod name and namespace

[2021-06-29 09:25] #103285 closed

[2021-06-29 09:30] #103075 closed

[2021-06-29 11:07] Frankkkkk commented on #23864
Hi @prameshj any news from the meeting ? Cheers

[2021-06-29 11:18] codearky commented on #103185
@neolit123 Thanks for the hint!

I actually had a look at it and the Yaml document's termination logic seems to happen here:

[https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder.go#L282](https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/apimachinery/pkg/

[2021-06-29 11:21] snowboy932 commented on #103255
@neolit123 diskpressure removed, for example, docker private registry image.
steps to reproduce:
1. create private registry
2. add docker private registry creds as kubectl secrets
3. call diskpressure
result: all images that not using will be removed

[2021-06-29 11:47] neolit123 commented on #103185
Thanks for having a look.

[2021-06-29 13:01] mgutierrez98 commented on #103271
/assign

[2021-06-29 13:16] pjbgf commented on #91444
/remove-lifecycle stale

[2021-06-29 13:54] #101911 closed

[2021-06-29 14:06] #103206 closed

[2021-06-29 14:20] adlerliu commented on #101041
1

[2021-06-29 14:46] liggitt opened #103298 "Mark net.ipv4.ip_unprivileged_port_start as a safe sysctl"
#### What would you like to be added:

Is the `net.ipv4.ip_unprivileged_port_start` sysctl namespaced? If so, can we include this in the set of "safe" sysctls?

If we allow this, we would:
- add to `SafeSysctlWhitelist()`
- permit in PodSecurity baseline profile

cc @mrunalp @tallclair

#### Why is this needed:

So that containers can bind to low ports without needing to bake CAP_NET_BIND_SERVICE

[2021-06-29 14:46] liggitt commented on #103298
/sig network security node auth

[2021-06-29 14:47] Dingshujie commented on #102367
cadvisor detect all subcontainers when start. detect all containers will scan all cgroup path recursively.
if  node have 50 or above pods, it will cost a lot time, so kubelet will set node not ready at first

[2021-06-29 14:51] Dingshujie commented on #100277
/reopen

[2021-06-29 14:52] n4j commented on #102947
@Nebulazhang  Could you please provide the above information?

[2021-06-29 14:54] puerco commented on #102822
/assign @cpanato

[2021-06-29 14:55] Dingshujie commented on #100277
that's right.

[2021-06-29 14:56] liggitt commented on #103205
/assign @tallclair
can you verify the description of what we'll be checking here, then unassign so someone can pick this up?

[2021-06-29 14:56] liggitt commented on #103200
/assign @tallclair
can you verify the description of what we'll be checking here, then unassign so someone can pick this up?

[2021-06-29 14:57] liggitt commented on #103204
this has a question mark in the title, and the pod security standard is marked as optional... not sure what we're doing with this one

/assign @tallclair
to resolve

[2021-06-29 14:58] liggitt commented on #103271
/assign @tallclair
to drive resolution of the approach

[2021-06-29 15:04] puerco commented on #45506
/assign @puerco

[2021-06-29 15:19] Debanitrkl commented on #94428
/assign

[2021-06-29 15:23] mmanjappa commented on #72663
What I see it replaces the existing labels on using the below syntax:
[code]
Could you pls help with synatx to add to the existing list without disturbing what's already there?

[2021-06-29 15:29] lavalamp commented on #72663
If you have a recent version of k8s, it'll be much more intuitive to use serverside apply for this. Just make a JSON/YAML with only the fields you want to add and `kubectl apply --server-side --field-manager=unique-name`.

[2021-06-29 15:43] mmanjappa commented on #72663
Thanks for the reply, In fact I am trying to apply a label from a client code and snippet below:

[code]
it works fine, when `labelKey` does not have ```/``` . for example ```testlabel```

but it breaks when I try with ```test/label``` as it may get interpreted as a path separator

Tried URL escaping without luck. Any pointers would really help

[2021-06-29 15:44] liggitt commented on #72663
see https://datatracker.ietf.org/doc/html/rfc6901#section-3

slash in keys is expressed as `~1`

[2021-06-29 15:48] MadhavJivrajani commented on #102744
/assign

[2021-06-29 15:56] MadhavJivrajani commented on #101851
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 15:57] MadhavJivrajani commented on #99973
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 15:58] MadhavJivrajani commented on #94022
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 15:58] MadhavJivrajani commented on #75604
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 15:59] MadhavJivrajani commented on #74681
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 15:59] mrunalp commented on #103046
The one proposed by rphillips/harche was static based on the node memory, but this proposal is for making it more dynamic.

[2021-06-29 15:59] MadhavJivrajani commented on #68522
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 15:59] MadhavJivrajani commented on #64864
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 16:00] MadhavJivrajani commented on #60001
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 16:00] MadhavJivrajani commented on #46822
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 16:01] MadhavJivrajani commented on #35226
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 16:01] MadhavJivrajani commented on #34508
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 16:02] MadhavJivrajani commented on #18185
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 16:03] MadhavJivrajani commented on #17333
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 16:04] MadhavJivrajani commented on #8190
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 16:04] MadhavJivrajani commented on #7111
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 16:05] MadhavJivrajani commented on #4301
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 16:05] MadhavJivrajani commented on #1768
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 16:05] MadhavJivrajani commented on #815
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 16:05] MadhavJivrajani commented on #170
/remove-kind design
/kind feature

`kind/design` will soon be removed from `k/k` in favor of `kind/feature`. Relevant discussion can be found here: https://github.com/kubernetes/community/issues/5641

[2021-06-29 16:06] tallclair commented on #103200
Updated. We decided to allow all profiles except unconfined, since the cluster admin would need to configure the profiles for them to work.

[2021-06-29 16:07] tallclair commented on #103204
From the Key (https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/2579-psp-replacement#pod-security-standards):

So I think we should close this for now.

[2021-06-29 16:07] #103204 closed

[2021-06-29 16:09] Zsolt-LazarZsolt opened #103300 "Kubernetes never cancels PreStop http hook"
#### What happened:
Consider the following setup.

Have a main container with a liveness probe and a http prestop hook.
Have a side container running a webserver that is listening on said prestop hook, stalling connections indefinitely.

If the following happens:
- main container start failing the liveness probe (in the example port 8002 is not actually open)
- kubernetes decides to kill the main

[2021-06-29 16:10] Zsolt-LazarZsolt commented on #103300
/sid node

[2021-06-29 16:13] nickgerace commented on #102749
Thank you @jpbetz. Is there a plan for k8s 1.19.10+ in the futuee?

[2021-06-29 16:15] liggitt commented on #103204
can we open a doc update to clarify what this means on the website... as an implementer, I'd have a hard time applying that guideline

[2021-06-29 16:16] liggitt commented on #103200
thanks, should the docs be updated as well to clarify that

[2021-06-29 16:16] mattcary commented on #99559
This is subsumed by #99728.

[2021-06-29 16:16] #99559 closed

[2021-06-29 16:22] neolit123 commented on #103274
there is no canonical mechanism for piping component status event across the system.

[2021-06-29 16:27] mmanjappa commented on #72663
Thanks a  lot for the quick pointer @liggitt !

[2021-06-29 16:31] uablrek commented on #103000
From reading a bit more in
https://docs.huihoo.com/hpc-cluster/linux-virtual-server/HOWTO/LVS-HOWTO.persistent_connection.html

in section 21.1;

it looks like the default is to _not_ direct all ports from a client to the same server, the opposite from what I observed. I made 100 connects to port 5001 verifying that they go to the same server and then _one_ connect to 5003. I made that 10 times in

[2021-06-29 16:33] uablrek commented on #103000
An application must handle the case where connects happen to come to the same server in any case so I can't see any problem there. The problem might be uneven load-balancing, but I think that is a minor problem.

[2021-06-29 16:39] thockin commented on #103000
If we ever implement all-ports, it seems VIP:0 + persistence is the
only option for IPVS.  But I think I agree that, as a special case,
that is OK.

So If I interpret correctly, IPVS is *supposed* to be affinity
per-port (though it's not clear it actually does that?).  As such, we
should just fix our docs.  Is that the right take-0away, Lars?

Thanks for investigating!

On Tue, Jun 29, 2021 at 9:3

[2021-06-29 16:41] uablrek commented on #103000
Yes, as far as I can understand the ipvs docs.

[2021-06-29 16:54] aojea commented on #102806
/assign

[2021-06-29 17:11] prameshj commented on #23864
Yes, we discussed this last week and in the previous meeting. I will modify the KEP to allow empty port list in service, as the main approach. I am aiming to have the updated KEP out in the next 2 weeks.

[2021-06-29 17:20] aojea commented on #103263
/assign

[2021-06-29 17:22] dchen1107 commented on #103046
We discussed this topic in the past, and here are some context:
https://github.com/kubernetes/kubernetes/issues/23349#issuecomment-201066147
https://github.com/kubernetes/kubernetes/issues/23349#issuecomment-200484407

[2021-06-29 17:53] yashwanthkalva commented on #101784
This issue is intermittent but a valid bug in my opinion. The annotation mention above was never visible either in success or failure scenarios.

[2021-06-29 17:59] vinaykul commented on #103046
As for the external process monitoring and arriving at recommended reservations, it might be helpful to look at Vertical Pod autoscaler see if VPA recommender can be tweaked to generate recommendations for system-reserved is able to produce good enough recommendations. A lot of their recommendation logic might just work for system-reserved - just a hunch.

[2021-06-29 18:15] danielfoehrKn commented on #103046
That could be a way to implement such a dynamic update of kube & system-reserved.
Just for memory, I experimented with the following metrics to calculate required reserved memory.
via `kube-reserved memory = MemTotal - MemAvailable - working_set_bytes for kubepods cgroup`

- `node_cgroup_kubepods_memory_working_set_bytes`: working set memory of kubepods cgroup (exposed by custom application)
- `no

[2021-06-29 18:19] tallclair opened #103303 "[PodSecurity] Scale testing of namespace bulk check behavior"
- [ ] Add tests to verify timeouts & pod limits on namespace checks

[2021-06-29 18:19] #103053 closed

[2021-06-29 18:21] aramase commented on #103196
/assign

[2021-06-29 18:34] liggitt opened #103304 "[PodSecurity] prioritize checking unique or controllerless pods when checking inside a namespace"
When updating policy labels on a namespace, existing pods are evaluated to see if they are compatible with the new policy.

If there are too many pods, or if evaluation takes too long, we short circuit and warn that not all pods were checked.

For that reason, we want to prioritize checking a variety of pods before checking essentially identical pods, so that unique warnings can be surfaced before

[2021-06-29 18:38] #103211 closed

[2021-06-29 18:38] BenTheElder commented on #103298
xref: https://github.com/kubernetes/kubernetes/issues/102612 for actually potentially setting this by default even.

[2021-06-29 18:42] chrishenzie opened #103305 "Enforce ReadWriteOnce PVC access mode during scheduling"
**What would you like to be added:**
The ReadWriteOnce PVC access mode guarantees only the pods on a single node can access the provided PVC as a volume. This is enforced during volume attachment (in kube-controller-manager), and should be additionally enforced during scheduling.

**Why is this needed:**
Because without it the scheduler will assign pods to nodes and they will fail to start (due to

[2021-06-29 18:45] alculquicondor commented on #103305
/triage accepted
@chrishenzie can you work on it before the code freeze?

[2021-06-29 18:47] chrishenzie commented on #103305
I don't have bandwidth to work on this before code freeze. I will need to sync with sig storage to find an owner for this, likely in a following release.

[2021-06-29 18:47] alculquicondor commented on #103305
No worries

/help

[2021-06-29 18:54] ehashman commented on #102373
/triage accepted

[2021-06-29 19:02] BenTheElder commented on #92601
I think this ought to be fixed anyhow, as conformance tests are widely run, but I don't know that anyone is really staffed to focus on this, so I froze it to make sure it at least stays tracked. It's for sure a real issue.

[2021-06-29 19:03] BenTheElder commented on #92601
/help
note: not tagging as good first issue as this one may be a bit tough, this resource is not scoped to an individual test and the test binary is a bit convoluted.

[2021-06-29 19:09] adampl commented on #101674
I suggest you write a bash script that's using a local multi-node cluster provisioned by [Kind](https://kind.sigs.k8s.io/), so that everyone can have a fully reproducible environment. Something along the lines of https://github.com/kubernetes/kubernetes/issues/97100

[2021-06-29 19:13] ScottShingler commented on #97445
Did some more testing to see if using different CPU limits had any effect on throttling. Turns out it does!

These tests use `stress-ng` on a single CPU, applying a load of 15% for 5 minutes.

### Test 1: CPU limit of `4000m`

Job definition:

[code]

`/sys/fs/cgroup/cpu/cpu.stat` output:

[code]

Hard to see the CPU usage in the graph below due to the scaling, but there's no throttling:

![image]

[2021-06-29 19:19] PushkarJ commented on #103199
/assign @PushkarJ

[2021-06-29 19:23] danielfoehrKn commented on #103046
Answering on a question from the recent [SIG-meeting](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#heading=h.d9zp2j5jvkke).

Expanded question/comment: I like the overall idea about adjusting some of kubelet parameters during the lifecycle of kubelet. However, it might not be a good idea to add complexity into kubelet to be dependent on cgroups implementatio

[2021-06-29 19:28] ashutoshvsingh commented on #48912
Hi Sorry,
It is a long thread, difficult to follow. Someone asked about the attack vector so I can say that it is unsafe in circumstances where we are running web_services that are working on user-generated content (UGC). Liks say there is an attachment in your mail that I am processing for virus scan, and that executable can then execute in that tmpfs. I want to mount it with no execute permissio

[2021-06-29 19:40] ahg-g opened #103308 "Scheduler: Ensure the default config output of --write-to-config is usable"
--write-to-config flag in the scheduler writes to a file the default component config; however this config if passed back to the scheduler is not usable because it lists all default plugins as enabled without disabling them.

To make the configuration usable as an input config while at the same time useful for debugging, the output should disable all plugins for each extension point using the "*"

[2021-06-29 19:49] ahg-g opened #103309 "Scheduler: add tests to verify backward compatibility of component config"
Add a test to capture the working default config from current and previous releases to make sure that continues to load/validate successfully.

See example configurations that can be used in https://github.com/kubernetes/kubernetes/pull/101822#issuecomment-870768062

/sig scheduling
/help
/good-first-issue

[2021-06-29 19:55] shinebayar-g commented on #97445
On Test3: `limits: 400m` means your pod is gonna get 40ms runtime every 100ms period. (Please correct me if I'm wrong). Any process that uses more than that is gonna be throttled until next period. `stress-ng` runs continuously, so in this case if `stress-ng --cpu 1 --cpu-load 15` is taking longer than 40ms to do its job, you're gonna see throttling. You may increase container requests to match th

[2021-06-29 20:11] Paxa commented on #38075
Solution that usually works for me
[code]
So it will use different credentials when switching contexts

[2021-06-29 20:15] fedebongio commented on #98605
/remove-sig api-machinery
/sig scheduling

[2021-06-29 20:17] fedebongio commented on #102808
/assign @smarterclayton @liggitt
(I was told only you two know that piece of the code? sorry!)
/triage accepted

[2021-06-29 20:20] fedebongio commented on #103182
/assign @caesarxuchao
(to find the right owner)
/triage accepted

[2021-06-29 20:21] fedebongio commented on #103185
Let us know when you send a PR, thank you!
/triage accepted

[2021-06-29 20:21] fedebongio commented on #103186
/triage accepted

[2021-06-29 20:21] caesarxuchao commented on #103182
/assign @janetkuo
/sig apps
/remove-sig api-machinery

[2021-06-29 20:22] caesarxuchao commented on #103182
/unassign

[2021-06-29 20:22] fedebongio commented on #103224
/assign @yliaog
/triage accepted

[2021-06-29 20:22] caesarxuchao commented on #103182
This seems to be an issue with the TTL controller. @janetkuo can you take a look? Thanks.

[2021-06-29 20:23] fedebongio commented on #103225
/cc @liggitt
/triage accepted
/sig auth

[2021-06-29 20:24] fedebongio commented on #103228
/triage accepted

[2021-06-29 20:24] fedebongio commented on #103246
Thank you @learner0810 for taking a look, let us know when you have a PR!
/triage accepted

[2021-06-29 20:25] fedebongio commented on #103274
/triage accepted

[2021-06-29 20:40] tcope0094 opened #103312 "Windows nodes have high latency / network drops when pod is terminated on windows node"
#### What happened:
Terminating a pod on a windows node causes the network latency to spike and sometimes timeout completely on all windows nodes in the cluster.
The linux nodes running on the same hosts / subnet / VLAN as the windows nodes experience no network issues at all.

#### What you expected to happen:
Deleting a pod has no adverse impact on networking of the node the pod was terminated o

[2021-06-29 20:40] tcope0094 commented on #103312
/sig windows

[2021-06-29 20:41] tcope0094 commented on #103312
/sig network

[2021-06-29 20:42] liggitt commented on #102808
I'm not familiar with that option or its uses. I'm open to a test demonstrating the issue and a PR to the generator fixing it.

/unassign

[2021-06-29 20:47] oz123 commented on #100596
@BenTheElder to begin with, I only added a note about the location of the build artifacts.
The  `Makefile` is referenced already in many places in the developer guide. Maybe it is better to
completely remove the mentioning of manual invocation of the individual scripts and instead
recommend the specific make target?
IMHO, this is more consistent with the rest of the documentation. However, it is d

[2021-06-29 20:54] BenTheElder commented on #100596
completely remove the mentioning of manual invocation of the individual scripts and instead
recommend the specific make target?

Generally I think this is true, but there are some specific scripts in the repo where it can make sense to just invoke them directly and a few that are not in the makefile at all (like build/run.sh) so it doesn't necessarily apply to everything, but I'd agree it generall

[2021-06-29 21:02] dmrogers7 commented on #102405
@apoorvajagtap

These are the versions I'm running
[code]

The issue isn't with `minReplicas` getting set to `1`, it's that the `desired` never gets set to `1` as it should per this [condition](https://github.com/kubernetes/kubernetes/blob/92726bf0f3e2f2c83ca9d0b750cac53a7d74d0c0/pkg/controller/podautoscaler/horizontal.go#L648-L650)

[code]

However, I do see these other conditions happening

###

[2021-06-29 21:05] muff1nman commented on #100683
/remove-lifecycle stale

[2021-06-29 21:05] chrishenzie commented on #103305
Before this is implemented, we need to spend some time evaluating any potential issues with this feature. If there are any backwards compatibility issues, or customers depending on the legacy (broken) behavior. I will present this to SIG storage in our next meeting to gather feedback.

[2021-06-29 21:27] janetkuo commented on #103182
/assign @ahg-g

[2021-06-29 21:42] sejr commented on #103198
/assign @sejr

[2021-06-29 22:35] aceamarco commented on #79224
Hi, I couldn't tell whether this thread came to any kind of conclusion but I'm now also wishing this feature existed. Have others been able to come up with a work around to using secret values in config maps? Setting env variables to secret values and then referencing those env variables from my configmap doesn't work.

[2021-06-29 23:07] llamasoft commented on #14040
Just a heads up that `kubectl apply` isn't a perfect replacement for `kubectl create || kubectl replace`, specifically when it comes to _certain_ list types.  `kubectl apply` will attempt to _merge_ [some types of lists](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#how-different-types-of-fields-are-merged) whereas `kubectl replace` will always replace them.

This

[2021-06-29 23:37] mgutierrez98 commented on #103271
Hi @tallclair  I'm interested in working on this. Is this already being worked on or can I get started on it?

[2021-06-29 23:46] njuptlzf commented on #102932
-p 200 ,-p 300, I reproduced this fault (and another DATA RACE). I continued to test after adding deepCopy and found that the stress did not seem to recognize my modification,
because the DATA RACE error line was the same as the original, I was a little bit confused....

[2021-06-29 23:52] neolit123 commented on #103300
/sig node

[2021-06-30 00:36] sejr commented on #103195
/assign @sejr

[2021-06-30 01:11] sejr commented on #103203
/assign

[2021-06-30 01:45] njuptlzf commented on #103202
/assign

[2021-06-30 02:02] ZW007 commented on #43567
I have already done: `sudo kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml ` on the master node after `kubeadm init` . This is a must step that every tutorial gives.

I have worker node connected to the cluster, but its status is not ready. @luxas @pradheba-rangarajan @eko
![image](https://user-images.githubusercontent.com/45562036/123890613-

[2021-06-30 02:10] borgerli commented on #99230
@harche, I'm trying to port the PR to 1.20 version which we're using with cgroups v2. Could you please give more information about the  failing tests? such as detailed failure messages. Thanks very much!

[2021-06-30 02:10] neolit123 commented on #43567
instead of flannel try a different CNI plugin like WeaveNet or Calico.

[2021-06-30 02:34] SataQiu commented on #103308
/assign

[2021-06-30 02:41] jpbetz commented on #102749
I've opened PRs to fix and backport this:

main branch: https://github.com/kubernetes/kubernetes/pull/103318
1.21: https://github.com/kubernetes/kubernetes/pull/103319
1.20: https://github.com/kubernetes/kubernetes/pull/103320
1.19: https://github.com/kubernetes/kubernetes/pull/103321

[2021-06-30 02:43] ZW007 commented on #48798
@PLoic I am using Ubuntu 18.04, my `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` has no `$KUBELET_NETWORK_ARGS`  What should I do (

![image](https://user-images.githubusercontent.com/45562036/123893979-02439b80-d923-11eb-8b15-331c6044637c.png)

[2021-06-30 03:22] ZW007 opened #103324 "network plugin is not ready & cni config uninitialized"
#### What happened:
When I do `kubectl get nodes` The Worker node is not ready though the master node is ready.
#### What you expected to happen:
The worker node should be ready.
#### How to reproduce it (as minimally and precisely as possible):
I have added flannel by `sudo kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml` on the master node

[2021-06-30 03:26] ZW007 commented on #103324
/sig <network>

[2021-06-30 03:30] ZW007 commented on #103324
/sig network

[2021-06-30 03:38] ZW007 commented on #103324
/sig <network>

[2021-06-30 03:49] niulechuan commented on #103309
/assign

[2021-06-30 03:51] pacoxu commented on #103298
/assign

[2021-06-30 04:19] #103195 closed

[2021-06-30 04:22] mrunalp commented on #103298
Yes, it is network-namespaced and :+1: to adding it to safe list.

From https://www.kernel.org/doc/Documentation/networking/ip-sysctl.txt
[code]

[2021-06-30 04:23] MadhavJivrajani commented on #103201
/assign

[2021-06-30 04:25] mrunalp commented on #102612
Yes, we allow setting this by default in CRI-O and docker does it, too IIRC. It makes sense to enable this by default :+1:

[2021-06-30 04:37] sejr commented on #103205
/assign

[2021-06-30 04:51] n4j commented on #103200
/assign

[2021-06-30 05:10] SergeyKanzhelev commented on #86080
/unassign @gnufied

[2021-06-30 05:16] palnabarun commented on #100367
/remove-lifecycle stale
/priority important-longterm
(based on https://github.com/kubernetes/kubernetes/issues/100367#issuecomment-801837105. Please feel to correct, if otherwise)

[2021-06-30 05:18] adisky commented on #89233
This does not affect containerd runtime, Tried reproducing the issue with containerd, When the pod is deleted the exec process gets terminated with exit code 137

[code]

[2021-06-30 05:33] thockin opened #103328 "Convert Service REST ResourceLocation() to use EndpointSlice?"
Currently uses Endpoints.  Maybe that is OK?  A comment at least...

[2021-06-30 05:40] palnabarun commented on #99243
/remove-lifecycle rotten

[2021-06-30 06:18] akshitgrover commented on #103304
@liggitt
This is an interesting fix
I'd like to take this up
Can I take this up?
I am fairly new to Kubernetes source code so might need some help

[2021-06-30 06:18] njuptlzf commented on #103202
em...
I used to be confused about the issue description. Based on the [comment1](https://github.com/kubernetes/kubernetes/pull/103325#discussion_r661109269) and [comment2](https://github.com/kubernetes/kubernetes/pull/103325#discussion_r661110977), does @tallclair need to modify the description?
For example, delete the verification requirements of sysctl in container, initcontainer.

[2021-06-30 06:33] akshitgrover commented on #103304
I am guessing this where the logic you mentioned should be implemented right?
https://github.com/kubernetes/pod-security-admission/blob/c669f400f4694fcd34422dba42f8c375f2e746b2/admission/admission.go#L381

[2021-06-30 06:35] mysunshine92 opened #103330 "When set gcc.terminatedPodThreshold = 0, we should delete all terminated pods, not disable pod garbage collector"
#### What happened:
In production environment, users do not want to leave any terminated pods.

#### What you expected to happen:
when set gcc.terminatedPodThreshold = 0, we should delete all terminated pods.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or

[2021-06-30 06:39] sejr commented on #103209
I'm interested in knocking this out, but am not entirely sure where this would be propagated. Seems related to [this todo](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/pod-security-admission/admission/api/validation/validation.go#L26)?

[2021-06-30 07:20] pacoxu commented on #103300
/assign wzshiming
/triage accepted

[2021-06-30 08:52] njuptlzf commented on #102932
confused:
Use golang.org/x/tools/cmd/stress to **compile** stress,
Add Info log to prove that the code **has been modified**:
[code]
Call and fail
[code]

[code]

the increased log is **not printed** (one timeout). As a result, I cannot verify whether I have fixed this problem!

[2021-06-30 08:56] viveksyngh commented on #53459
+1

[2021-06-30 09:29] njuptlzf commented on #102932
I forgot to update reconciler.test, now the test continues. :-)

[2021-06-30 09:45] wzshiming commented on #103300
In the 1.21 test, the PreStop hook can be triggered normally, I guess the process in the container exited early.

[code]

[code]

[2021-06-30 09:56] harche commented on #99230
@borgerli I see no failures in [cgroup v1](https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv1-node-e2e-conformance) and [cgroup v2](https://testgrid.k8s.io/sig-node-cri-o#pr-crio-cgrpv2-gce-e2e) jobs with the stats summary test.

[2021-06-30 10:11] pacoxu commented on #103246
It dups with #101097 and should be fixed by #101098.

/close

[2021-06-30 10:11] #103246 closed

[2021-06-30 10:37] username1366 commented on #100467
After upgrading GKE to v1.18.19-gke.1700 I experienced the same issue - some of the pods after node preemption moved to NodeAffinity status
[code]

[2021-06-30 10:46] rdrgporto opened #103347 "Kubelet is not reporting all metrics"
#### Environment:
- **Kubernetes version**: 1.21.2
- **Cloud provider or hardware configuration**: Bare metal (VMware)
- **OS**: Ubuntu 18.04.5 LTS
- **Kernel**: 4.15.0-147-generic
- **Install tools**: Kubeadm
- **Network plugin and version (if this is a network-related bug)**: Weave 2.8.1
- **CRI**: Containerd 1.4.6

Hi, everyone

I have installed **Kubernetes 1.21.2 with Containerd 1.4.6** in or

[2021-06-30 10:50] niulechuan commented on #103347
/sig node

[2021-06-30 11:00] dmitry-irtegov opened #103348 "k8s 1.20.1 Cannot expose service on Azure: "failed to ensure load balancer: not a vmss instance""
#### What happened:

I have an 1.20.1 cluster deployed on the Azure VMs, using in-tree Azure client.  Cluster has three node groups, a master, a Scale Set node group and Availability Set node group.

When I try to expose a service as follows:
[code]
It hangs in "pending" state.  Dashboard displays the state of the service as having the error
`Error syncing load balancer: failed to ensure load bala

[2021-06-30 11:36] wangao1236 opened #103351 "scheduler: not all plugins support interface of EnqueueExtensions"
Hello, I have a question.

I am trying to upgrade out custom framework plugins to v1.22.0-beta.0, and testing found that not all plugins currently support interface of EnqueueExtensions, such as Prioritysort.

https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/runtime/framework.go#L387

https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/q

[2021-06-30 11:36] wangao1236 commented on #103351
/sig scheduler

[2021-06-30 11:37] wangao1236 commented on #103351
/sig scheduling

[2021-06-30 11:46] sechunOH opened #103352 "kubectl top pod shows wrong memory usage"
#### What happened:
"kubectl top pod" shows different memory usage from its in pod.
I think that it shows with adding cache memory.

Is this usage metric used to HPA?
If so, how can I find right value of memory request for my applications?

[code]
#### What you expected to happen:
HPA uses memory usage without cache.

#### How to reproduce it (as minimally and precisely as possible):

#### Anythin

[2021-06-30 12:00] pacoxu commented on #103352
/sig instrumentation

[2021-06-30 12:03] #62788 closed

[2021-06-30 12:08] pacoxu commented on #103348
/sig cloud-provider
/area provider/azure

[2021-06-30 12:10] pacoxu commented on #103330
/sig apps

[2021-06-30 12:13] pacoxu commented on #103324
/sig network
/kind support

Please check why the flannel pod not started on that node.

[2021-06-30 12:48] septatrix commented on #27000
@fetja this is still relevant and fresh, could you please remove the corresponding labels?

[2021-06-30 13:31] mansing2 opened #103355 "Failed to write to mapped volume even after setting up fsgroup in pod security context"
#### What happened:
I’m trying to run a rootless tomcat container in K8S, to do so I set User ‘tomcat’ with the appropriate permission in Docker Image. I have a startup script that creates a directory in /opt/var/logs (during container startup) and also starts tomcat service.
[code]

The pod runs fine in K8S when deployed using deployment without any volume mapped.

But I get a permission denied e

[2021-06-30 13:34] primeroz commented on #100467
On GKE i also tested with `v1.19.10-gke.1600` and getting plenty of `nodeaffinity` pods

[2021-06-30 13:42] wangyysde commented on #103202
/cc @wangyysde

[2021-06-30 13:51] mansing2 commented on #103355
/sig security
/sig storage

[2021-06-30 14:13] serathius commented on #103352
Assuming that you are using Metrics Server, https://github.com/kubernetes-sigs/metrics-server/blob/master/FAQ.md#how-memory-usage-is-calculated

[2021-06-30 14:21] gjkim42 opened #103356 "Add force-eviction-seconds option to kube-controller-manager"
I am saying [taint-based eviction](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-based-evictions), the other one(no-taint-based eviction) is out of this feature request.

Currently, all the pods are scheduled for deletion by the node lifecycle controller if their nodes are tainted by the `NoExecute` effect for longer than `tolerationSeconds`.

I understand tha

[2021-06-30 14:23] gjkim42 commented on #103356
/sig node

[2021-06-30 14:28] gjkim42 commented on #103356
/cc @ehashman @SergeyKanzhelev @liggitt
Could you PTAL?

[2021-06-30 14:28] liggitt commented on #103304
thanks for the interest; this is targeted at the beta version... right now, effort is going toward the alpha-blocking work for 1.22

[2021-06-30 14:39] AlexLast commented on #101786
Also seeing the same in Kubernetes `1.20.8`, with Docker.

[2021-06-30 14:46] serathius commented on #99270
We have looked into usage of those flags in kubernetes org repos [Search](https://cs.k8s.io/?q=--(log-dir%7Clog-file%7Clog-flush-frequency%7Cone-output%7Cstderrthreshold%7Clog-file-max-size%7Cskip-log-headers%7Cadd-dir-header%7Cskip-headers%7Clog-backtrace-at)&i=nope&files=&excludeFiles=CHANGELOG%7Cconfigure-helper.sh%7C(%5C.md%24)&repos=kubernetes-sigs/kind,kubernetes/kops,kubernetes/kubernetes,k

[2021-06-30 14:46] serathius commented on #99270
Missclick

[2021-06-30 14:52] akshitgrover commented on #103304
Should I wait for the code freeze before working on this?
Sorry for lame questions

[2021-06-30 15:12] aditighag opened #103363 "Allow pods to enter host's cgroup namespace"
#### What would you like to be added:

Kubernetes currently exposes `hostPID` and `hostNetwork` configurations for pods to enter host's PID and network namespaces respectively. Allow pods to enter host's cgroup namespace as well.

#### Why is this needed:

CNIs like Cilium attach BPF programs to cgroups to enable [socket-based load-balancing](https://docs.cilium.io/en/v1.10/gettingstarted/kubeprox

[2021-06-30 15:25] jsturtevant commented on #102849
/milestone v1.22

[2021-06-30 15:26] serathius commented on #99270
@liggit We have looked into usage of those flags in kubernetes org repos [Search](https://cs.k8s.io/?q=--(log-dir%7Clog-file%7Clog-flush-frequency%7Cone-output%7Cstderrthreshold%7Clog-file-max-size%7Cskip-log-headers%7Cadd-dir-header%7Cskip-headers%7Clog-backtrace-at)&i=nope&files=&excludeFiles=CHANGELOG%7Cconfigure-helper.sh%7C(%5C.md%24)&repos=kubernetes-sigs/kind,kubernetes/kops,kubernetes/kube

[2021-06-30 15:31] liggitt commented on #99270
https://grep.app is a good tool for searching across github repos/orgs, though the flag collision with old glog flags likely makes this much harder to determine usage for

[2021-06-30 15:33] liggitt commented on #99270
I'm skeptical integration or e2e tests have sufficient coverage of exceptional cases to prove nothing writes to stdout

[2021-06-30 15:36] AlexLast opened #103366 "No memory metrics from kubelet stats endpoint"
#### What happened:
Since upgrading from Kubernetes `1.19.8` to `1.20.8` we no longer get memory metrics from the `/stats/summary` endpoint on `kubelet`.

Example:
[code]

#### What you expected to happen:
In our previous version, `1.19.8` we would get a response like the following that included utilisation metrics:

[code]

#### How to reproduce it (as minimally and precisely as possible):
Hit th

[2021-06-30 15:39] AlexLast commented on #103366
/sig node

[2021-06-30 15:50] yangjunmyfm192085 opened #103368 "Kubelet should not report metrics from init containers"
#### What would you like to be added:
as discussed in issue [#792](https://github.com/kubernetes-sigs/metrics-server/issues/792) and[#796](https://github.com/kubernetes-sigs/metrics-server/issues/796) , we get the metrics of terminated container. metric information about terminated pods is expected? If so,  that has changed recently?
#### Why is this needed:
 Kubelet endpoints and CRI metrics prot

[2021-06-30 15:51] yangjunmyfm192085 commented on #103368
/sig node

[2021-06-30 16:02] yangjunmyfm192085 commented on #103368
/cc @ehashman @dchen1107 @derekwaynecarr

[2021-06-30 16:03] logicalhan commented on #103352
/assign @ehashman

[2021-06-30 16:04] logicalhan commented on #103352
/sig node

[2021-06-30 16:12] logicalhan commented on #102938
/triage accepted
/assign @ehashman @dashpole

[2021-06-30 16:21] ehashman commented on #103352
/kind support
/close

Thanks @serathius for answering.

Kubernetes does not use issues on this repo for support requests. If you have further questions @sechunOH,  please visit our [forums](https://discuss.kubernetes.io/).

[2021-06-30 16:22] ehashman commented on #102938
/remove-triage accepted
/triage needs-information

[2021-06-30 16:23] #103352 closed

[2021-06-30 16:27] ehashman commented on #101851
/unassign

[2021-06-30 16:28] ehashman commented on #95916
/remove-triage accepted

[2021-06-30 16:31] ehashman commented on #93925
/remove-priority awaiting-more-evidence
/triage accepted

I haven't had time to debug this recently but I suspect this is a similar root cause to a lot of the pod race conditions I've been working on in OpenShift. I'll try to compile a list of PRs that could potentially address this. We have another PR up now that unifies the deletion path and should be fixing this in 1.22.

[2021-06-30 16:32] verb commented on #85545
/reopen

[2021-06-30 16:32] liggitt commented on #100577
In the past, it could sometimes work, but not consistently/safely... cross-namespace owner references were always vulnerable to random deletion on controller-manager restart. xref https://github.com/kubernetes/kubernetes/issues/65200

[2021-06-30 16:44] slintes commented on #98981
/remove-lifecycle rotten

[2021-06-30 16:55] ravisantoshgudimetla commented on #99205
/remove-lifecycle rotten

@alculquicondor - I can work on it. Do folks have review bandwidth? I already have code PR up, I need to put forward KEP.

[2021-06-30 16:57] sourav1985 commented on #61173
Please suggest any solution to be used on windows system

[2021-06-30 16:58] neolit123 commented on #103363
/sig node

[2021-06-30 16:58] neolit123 commented on #103363
/sig network
for the CNI part of the topic.

[2021-06-30 17:08] ehashman commented on #100788
/priority important-soon

[2021-06-30 17:08] ehashman commented on #100788
/cc @bobbypage

[2021-06-30 17:12] ehashman commented on #101906
/unassign
/sig windows

It appears this is primarily failing on Windows. (thanks @cynepco3hahue for noticing!)

[2021-06-30 17:12] ehashman commented on #101906
/remove-sig node

[2021-06-30 17:16] ehashman commented on #99437
/remove-kind flake
/kind failing-test

Appears to only be failing on the node-kubelet-orphans job: https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-orphans

/priority important-soon
/remove-priority important-longterm

Next steps: check Prow config for this job, doesn't appear to be failing on any other jobs.

[2021-06-30 17:16] dimakow commented on #102476
Hit this bug also while working on a fix for 1.19 - so maybe we should open another issue/pr for 1.20 and 1.19 ? At least 1.19 will be still around for quite a while

[2021-06-30 17:19] ehashman commented on #75355
More recent triage link: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Pods%20should%20support%20pod%20readiness%20gates

Appears to be failing in a number of containerd and crio jobs.

/unassign @derekwaynecarr @dchen1107

/priority important-soon
/remove-priority important-longterm

[2021-06-30 17:19] liggitt opened #103373 "[PodSecurity] make name/reason/details messages consistent across checks"
Once all checks are implemented (https://github.com/kubernetes/kubernetes/issues/103194), do a sweep to ensure the forbidden reason and details are consistent/coherent across them

* Consistency of check IDs
* Make reason consistent (and consider exporting as a constant)
* Make details consistent
  * e.g. https://github.com/kubernetes/kubernetes/pull/103382#discussion_r662412946
* Ensure fixtures

[2021-06-30 17:21] ahg-g commented on #99205
Next cycle? Sure.

[2021-06-30 17:23] matthyx commented on #99979
Clayton's PR #102344
jitter refactor #102064

[2021-06-30 17:28] dmrogers7 commented on #102405
What's happening is that the Deployment get deployed with a single instance running, so `currentReplicas` is `1` and `minRepllicas` on the HPA is also `1`, so it never goes into the `if currentReplicas < minReplicas` condition and falls thru to the else condition
[code]

And since it can't compute the metric, it's returning the error.  I now see why it 'works' when `minReplicas` is set to `2` - th

[2021-06-30 17:29] palnabarun commented on #100914
Is this still a release blocker for 1.22?

[2021-06-30 17:37] #99150 closed

[2021-06-30 17:37] dimakow commented on #99370
/assign

[2021-06-30 17:57] BenTheElder commented on #103330
note: this is a breaking change https://github.com/kubernetes/kubernetes/pull/103329#issuecomment-871613173

[2021-06-30 17:57] mattcary opened #103375 "NFS reserved port range can overlap with other services."
When mounting an in-tree NFS share, reserved ports are used (this happened to be a filestore instance, so we can assume the server is configured sanely).

gke-regular-default-pool-08fd3112-zgfs /home/mattcary # netstat -tp | grep nfs
tcp        0      0 gke-regular-default:982 10.108.60.194:nfs       ESTABLISHED -
Note the connection is at port 982.

This can conflict with other ports on the host,

[2021-06-30 17:57] mattcary commented on #103375
/assign @mattcary

[2021-06-30 17:59] tallclair commented on #103271
We still need to come to a conclusion (see the doc, it's on the agenda for sig-security tomorrow). Once we have agreement on what the policy should be, I'd be happy for you (@mgutierrez98) to pick up the implementation.

[2021-06-30 17:59] JCzz opened #103377 "docker is not pulling the right architecture from manifest"
## docker version
[code]

## Building docker image with `docker buildx`

`docker buildx build --push --platform="linux/amd64,linux/arm64" -t gcr.io/<project>/helloworld-go .`

docker run <image>
[code]

[2021-06-30 18:00] JCzz commented on #103377
Sorry, wrong repo - this one is for Docker

[2021-06-30 18:00] #103377 closed

[2021-06-30 18:02] dharmendrakariya commented on #88561
please check this out https://github.com/dharmendrakariya/coturn-on-kubernetes

[2021-06-30 18:04] tallclair commented on #103194
/assign @liggitt
(for final cleanup pass)

[2021-06-30 18:14] palnabarun commented on #100914
I feel from the issue and the subsequent that there are two things:
1. Documenting in the CHANGELOG that this change (https://github.com/kubernetes/kubernetes/pull/99145) was made.
2. Discussing whether adding the capability is justified or not. It feels like this concern should be discussed in the context of the KEP (kubernetes/enhancements#2568).

We need to certainly work on 1.

[2021-06-30 18:19] kennytrytek-wf commented on #83471
For anyone running into this on a new Mac running Docker with Kubernetes locally, there's a problem with the Mac OS where sometimes the Wi-Fi will throttle itself to ~500Kbps, which can cause containers to remain in the `ContainerCreating` state for a long time while the image is being pulled. Disabling and re-enabling the Wi-Fi, then restarting Docker can resolve it.

[2021-06-30 18:20] slayer321 commented on #99453
@matthyx  I open a PR but still it is not reviewed. Do I need to assign it to someone?

[2021-06-30 18:23] puerco commented on #100914
I agree with @palnabarun, the change should have been reflected in the release notes and we missed it. But this is part of the expected changes from the KEP and not a bug. In fact, the KEP explicitly states that the kube-apiserver image would [lose all caps except for cap_net_bind_service](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/kubeadm/2568-kubeadm-non-ro

[2021-06-30 18:27] matthyx commented on #99453
I see your PR and prow has requested review from 2 reviewers... Let's give them one or two days and then we can poke them again

[2021-06-30 18:34] BenTheElder commented on #103375
/sig storage

[2021-06-30 18:49] #103199 closed

[2021-06-30 18:49] #103198 closed

[2021-06-30 18:50] #103202 closed

[2021-06-30 18:51] liggitt opened #103381 "[PodSecurity] baseline - hostProcess check"
Implement the "hostProcess" check from https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/2579-psp-replacement#pod-security-standards

- [ ] implement check_hostProcess.go for the baseline policy
  - fail if `spec.securityContext.windowsOptions.hostProcess=true` or any containers set `securityContext.windowsOptions.hostProcess=true`, include the relevant container names in the fo

[2021-06-30 19:36] liggitt commented on #103381
/sig auth windows

[2021-06-30 20:35] rivernews commented on #53059
Having the same issue on DitigalOcean, there're two things invovled
- The update strategy, `RollingUpdate` vs `Recreate`. Obviously for zero down time `RollingUpdate` is preferred. It keeps old pod before new pod is ready. Here comes the problem: the new pod will fail saying **"Multi-Attach error for volume "pvc-xxx" Volume is already used by pod(s) xxx"**. Changing to `Recreate` seem to eliminate

[2021-06-30 21:00] Huang-Wei commented on #103351
@wangao1236 `EnqueueExtensions` is recommended to be implemented by all plugins that may involve a scheduling decision. In other words, if a plugin can fail a Pod scheduling, it should implement `EnqueueExtensions`. So you should know that PrioritySort doesn't fall into this category, as well as other Score/Bind plugins, etc.

[2021-06-30 21:03] #102749 closed

[2021-06-30 21:08] therevoman commented on #53059
IIRC While working through this issue in 2018 the codebase for handling this situation was not "common" and had a custom implementation in each storage driver.  Not sure if that info helps at all.

[2021-06-30 22:06] BenTheElder commented on #99270
That also seems tricky to statically analyze accurately, e.g. we have components that link to CGO?

Not sure what the answer is here.

[2021-06-30 23:05] tallclair opened #103388 "[PodSecurity] baseline - seccomp: forbid explicit unconfined"
Runtimes (cri-o & containerd) let you override the default seccomp profile, and there is a new proposal to change the default profile (https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2413-seccomp-by-default). To respect these changes to the default in the baseline profile, we should forbid _explicitly_ setting the seccomp profile to unconfined.

Note: this is different from th

[2021-06-30 23:11] #103196 closed

[2021-06-30 23:12] sejr commented on #103388
/assign

[2021-07-01 00:06] gjkim42 commented on #103356
Hi @jingxu97 (the original author of ForceEviction)
Are you working on this?

[2021-07-01 00:55] pacoxu commented on #100914
After https://github.com/kubernetes/kubernetes/pull/103326 is merged, we can add the safe Sysctl to the pod.

[2021-07-01 00:57] vinayakankugoyal commented on #100914
No we can't, since it does not run in its own network namespace.

[2021-07-01 01:01] aravindhp commented on #102849
Please follow sig-windows slack [thread](https://kubernetes.slack.com/archives/C0SJ4AFB7/p1623439088166000) for current state.

[2021-07-01 01:05] aravindhp commented on #102849
Currently investigating what is the current state of owner ship across users in different pods and containers. Created a simple ping container image with two users:
[code]
Created the following pod:
[code]
I then execed into container ping1:
[code]
and ran the following:
[code]
So `testuser1` is able to read a file projected for `testuser2`

[2021-07-01 01:09] aravindhp commented on #102849
I repeated the experiment with two pods running on the same host:
[code]
I then execed into win-ping1 pod:
[code]
and ran the following:
[code]
Again, `testuser1` is able to read a file projected for `testuser2`

[2021-07-01 02:01] niulechuan commented on #103309
Hi, my PR will little bit late, since I realized the test-infra is a quite big scope. I'm doing my best to work it out. thank for this great opportunity to learn this area.

[2021-07-01 02:14] kolyshkin commented on #102676
1.21 backport: https://github.com/kubernetes/kubernetes/pull/103392

[2021-07-01 02:24] wangao1236 commented on #103351
Thank you for your reply.
If only the plugins that  involve a scheduling decision  are recommend to Implement it , as mentioned above, this part of the code will cause all Informers to be enabled, the restriction on Infomer function will be the same as without `EnqueueExtensions `:
[code]

[2021-07-01 02:34] n4j commented on #102947
@Nebulazhang For now I am closing this issue. Feel free to re-open when you are ready to provide additional information

/close

[2021-07-01 02:47] palnabarun commented on #96169
We have gone with alternative 2 in #99829.

/assign
/triage accepted
/close

[2021-07-01 02:47] #96169 closed

[2021-07-01 02:58] palnabarun commented on #99243
/remove-lifecycle rotten

[2021-07-01 03:18] #98556 closed

[2021-07-01 03:30] Huang-Wei commented on #103351
Firstly, the above logic that falls back to register default events are for backward compatibility since when `EnqueueExtensions` was introduced in 1.21, we didn't make it to ensure all needed plugins to implement it. Also, we need to give out-of-tree plugins a couple of release cycles to adapt.

Secondly, even an irrelevant plugin (like PrioritySort) registers some events, it's harmless. It's bec

[2021-07-01 03:33] Huang-Wei commented on #103351
So, for an out-of-tree plugin:

- if it chooses to implement `EnqueueExtensions`, pods failed by that plugin can be moved back more efficiently/accurately
- if it stays intact, the behavior works as before and no performance penalty gets imposed

[2021-07-01 03:34] pacoxu commented on #102947
/close

Some thoughts on the monitoring about kubelet image pulling:
- if you are using a private registry, it's easier to get image-pull status from registry metrics
- the image pull process heavily depends on the network and registry server
- another way to get some status of image pulling is by monitoring events like `Pulling`, `Pulled`.
- some container runtime have metrics that is related to

[2021-07-01 03:34] #102947 closed

[2021-07-01 03:35] wangao1236 commented on #103351
OK，thanks, I got it.

[2021-07-01 03:52] apoorvajagtap commented on #102405
Thank you, @dmrogers7  for extensively explaining all the scenarios you have tested.
As after specifying the `resources.requests` for containers solves the concern, I think, we might not need to make any changes to the code then..

The reason is the following statement in the [documentation](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-resource-metrics).
`

[2021-07-01 04:00] #103308 closed

[2021-07-01 04:50] SHUFIL opened #103395 "gRPC and gRPC-web backend not connecting though kubernetes nginx ingress"
#### What happened:
I have a gRPC server set up in AWS EKS, and use Nginx-Ingress-Controller with network load balancer , infornt of gRPC , Envoy is using , So it will come like that - NLB >> Ingress >> envoy >> gRPC
problem is when we make reqy=uist from bloomRPC , requist not landing into Envoy

#### What you expected to happen:
It should be connect requist from out side to grpc service and, nee

[2021-07-01 05:17] #103166 closed

[2021-07-01 05:45] BenTheElder commented on #103395
Kubernetes does not use the issue tracker for support (please visit the forums instead at https://discuss.kubernetes.io/ or the #kubernetes-users slack channel) and nothing about this appears to be a kubernetes bug.

You might find support from AWS / EKS for their platform.

[2021-07-01 05:45] #103395 closed

[2021-07-01 05:54] BenTheElder commented on #99656
/remove-lifecycle rotten
this is still an issue impacting current releases. not clear that we have a great path forward other than new releases though. 1.21 should be generally fixed, we had a community effort to cleanup image building and consolidate on buildx for the core images https://github.com/kubernetes/kubernetes/issues/98908

[2021-07-01 05:55] SHUFIL commented on #103395
But issue is ralated with ingress

[2021-07-01 05:57] BenTheElder commented on #103395
`Ingress` is only an abstract API object in Kubernetes, the implementation of ingress-nginx is here: https://github.com/kubernetes/ingress-nginx,
but it's also not apparent to me that there is a bug in the ingress versus this being a support question about usage of these tools together.

[2021-07-01 05:59] SHUFIL commented on #103395
So are you saying as per  my ingress controller and ingress rule will work with HTTP2 and gRPC protocal ?

[2021-07-01 05:59] frittentheke commented on #3595
@cynepco3hahue yes, see discussion at https://github.com/containerd/cri/issues/515.

The issue is with Kubernetes not allowing to set rlimits that are then forwarded as options to the runtime. It's supported by sandboxes created by containerd as well as cri-o.

And most importantly it's part of the OCI runtime spec: https://github.com/opencontainers/runtime-spec/blob/master/config.md#posix-process

[2021-07-01 06:28] BenTheElder commented on #103395
The protocols and rules supported by an ingress implementation / controller are not a part of this project, only the config type `Ingress`.

More on that here https://kubernetes.io/docs/concepts/services-networking/ingress/

To debug a specific ingress implementation, please reach out through the forums or other appropriate support channel. We have ~2,000 open issues and do not do support here, we

[2021-07-01 06:32] SHUFIL commented on #103395
Thank you

[2021-07-01 06:49] wangao1236 commented on #103351
If implementations are needed in the future, It's my pleasure to provide a PR.

[2021-07-01 08:26] BenTheElder commented on #100602
is it unmaintained? https://github.com/BurntSushi/toml/issues/272 => things are merging

[2021-07-01 08:27] fasaxc commented on #103363
Calico also uses the cgroupv2 hooks so we'd also like to have a solution for this.

[2021-07-01 08:28] serathius commented on #103368
/assign @dashpole @bobbypage

[2021-07-01 08:39] RPing commented on #100478
I can try this one.
So currently, the only reason kubernetes/klog#232 can't be merged is that we need to use file watch instead of original `os.IsExist` approach, right? @mengjiao-liu

[2021-07-01 09:13] njuptlzf commented on #103210
I want to do this and consult @tallclair  at slack.

[2021-07-01 10:06] serathius commented on #102434
Hey @Priyankasaggu11929, I haven't seen any updates. Are you still planning to work on this issue?
@yuzhiquan has send a PR with implementation https://github.com/kubernetes/klog/pull/249.

There is still some work aside of just implementing `klog.KObjs`:
* Update user guide
* Fix temporary workarounds introduced in original PRs
  *  https://github.com/kubernetes/kubernetes/pull/99799#discussion_r

[2021-07-01 10:11] mengjiao-liu commented on #100478
Thanks for your effort. @RPing
Yes, I think it takes too much I/O to check every time.

[2021-07-01 10:17] acekingke commented on #60140
same error

[2021-07-01 11:02] denkensk commented on #100723
/remove-lifecycle stale

[2021-07-01 11:13] Priyankasaggu11929 commented on #102434
@serathius, firstly apologies on not updating on this (I just got terribly stuck in work stuff previous weeks).

Thank you for listing other points. I'll be implementing them this weekend itself, & will update here.

[2021-07-01 11:18] serathius commented on #99270
First I don't think having guarantee that K8s components generate pure JSON logs is requirement for removal of klog flags and migration to depend on external process to route logs to files. Like klog formatted logs, json format splits output in separate lines. As long as log stream consumer reads each line separately and has some fallback logic for non correctly formatted lines we are good to go.

[2021-07-01 11:20] serathius commented on #102434
Please make sure to collaborate with @yuzhiquan and give feedback on the PR.

[2021-07-01 11:23] yuzhiquan commented on #102434
Huge apologies for not noticed this issue, and with pleasure  work with @Priyankasaggu11929.
Thanks @serathius

[2021-07-01 11:24] Priyankasaggu11929 commented on #102434
Thank you @serathius. I’ll connect on the PR.

[2021-07-01 11:27] danielfoehrKn commented on #103046
There is still research to be done and it probably makes sense to get in touch again with more ideas / after a deeper investigation.
 - how could the kubelet kube/system-reserved be updated without restarting the process
 - how could that integrate with an external recommender based on gathered Metrics

In addition
-  cgroupsv2 for better resource reservations / recommendations?

[2021-07-01 11:42] aojea commented on #103260
@MadhavJivrajani sig-network uses the /triage labels for tracking issues, if you accept it , it can go unnoticed and the PR may not have reviewers, so please let the SIG members handle the triage labels ... anwyay, thanks for helping out and pointing out the code problem

[2021-07-01 11:44] MadhavJivrajani commented on #103260
Oh I see, thank you for letting me know, I'll keep that in mind going forward. :)

[2021-07-01 12:18] AlwaySummit opened #103403 "Labels of pv are missing in version 1.18.18"
#### What happened:
With version 1.18.18, I'm facing an issue about pv label missing which causes a failure of some services running. For example:
[code]
As you can see, label `failure-domain.beta.kubernetes.io/region, failure-domain.beta.kubernetes.io/zone` are missing.
#### What you expected to happen:
In previous version 1.17.16, labels are correctly set in pv. For example:
[code]

#### How to

[2021-07-01 12:21] AlwaySummit commented on #103403
/sig cloud-provider

[2021-07-01 12:21] AlwaySummit commented on #103403
/sig node

[2021-07-01 12:28] codearky commented on #103185
@neolit123 @fedebongio I would love to have your opinions on the following:
There are 3 fix stages to this bug as I see it:
1) We should split to different Yaml documents when three dashes appears, whether they followed by comments (or any other content), and not only spaces, so we would handle the strange behavior described in the bug description.

2) We should consider three dashes as part of th

[2021-07-01 12:31] ash2k commented on #103043
Would also be nice to drop `github.com/go-errors/errors`, which is a dependency of Kustomize but is used in a very few places only.

[2021-07-01 12:47] brianpursley commented on #103185
I'm in the process of [fixing this in kustomize](https://github.com/kubernetes-sigs/kustomize/pull/4014).  To keep it simple, the approach I settled on, at least so far, is to allow (and ignore) white space or comments, but any other content will result in an error.

As you pointed out there is a lot more to the YAML syntax. However, it can be quite a bit more work trying to support all the possib

[2021-07-01 13:28] liggitt commented on #103304
If you want to start looking at it, that's fine, but it's possible the code in the ValidateNamespace function will change before we're ready to start merging 1.23 work, and there isn't really reviewer bandwidth to take a look at work-in-progress stuff for next release yet.

[2021-07-01 13:40] dmrogers7 commented on #102405
The description of  `desiredReplicas` doesn't say what value it should have when it cannot be determined

[code]

The current behavior leaves the `desiredReplicas` value unchanged, but I think it would better to set it back to `0` when it can't be calculated.

I'm coming from a biased view and looking at this issue thru the lens of Spinnaker, which is determining the status of an HPA based on the

[2021-07-01 14:09] liggitt commented on #103388
it should be its own check

[2021-07-01 14:31] aojea commented on #103150
quoting @ravens

This seems a good fit

[2021-07-01 14:33] RPing commented on #100478
/assign

[2021-07-01 15:11] ehashman commented on #103298
/triage accepted

[2021-07-01 15:15] cynepco3hahue commented on #3595
So probably as short term solution it possible to use OCI hooks or custom runtime handlers to update the container before the run.

[2021-07-01 16:12] graywolf-at-work commented on #40908
/reopen

[2021-07-01 16:46] immuzz commented on #103312
@sbangari can you please take a look or assign someone else from your team?

[2021-07-01 16:49] #103298 closed

[2021-07-01 16:50] #103201 closed

[2021-07-01 16:51] immuzz commented on #103032
/priority important-soon

[2021-07-01 16:51] immuzz commented on #103032
cc : @jsturtevant

[2021-07-01 16:52] immuzz commented on #102954
cc : @jsturtevant

[2021-07-01 16:54] immuzz commented on #102864
/close

[2021-07-01 16:54] #102864 closed

[2021-07-01 16:55] immuzz commented on #102686
cc : @jsturtevant

[2021-07-01 16:58] sreejesh123 opened #103410 ""Back-off restarting failed container""
**REMOVED IP ADDRESS from LOG**

#### What happened:
deployment.apps/strimzi-cluster-operator created    dkr-io/strimzi/operator:0.20.1
deployment.apps/strimzi-cluster-operator created
configmap/strimzi-cluster-operator created
serviceaccount/strimzi-cluster-operator created
clusterrole.rbac.authorization.k8s.io/strimzi-cluster-operator-namespaced created
clusterrole.rbac.authorization.k8s.io/stri

[2021-07-01 17:06] #103410 closed

[2021-07-01 17:18] brianpursley commented on #103239
You need to have multiple pods to reproduce this error. It won't happen with just one pod.

For example:
[code]

The error says the type can't be sorted, so that is the problem:
[code]

As @lauchokyip said, this error is generated intentionally.  Here is the code:
https://github.com/kubernetes/kubernetes/blob/e43e9696cc69d835c98b5d590af702677675419a/staging/src/k8s.io/kubectl/pkg/cmd/get/sorter.go

[2021-07-01 18:01] brianpursley commented on #91847
/remove-lifecycle rotten

[2021-07-01 18:13] Jiawei0227 commented on #102357
annotation that is still not in GA:

1. On CSINode:
- `storage.alpha.kubernetes.io/migrated-plugins: xxx,xxx` This is still in alpha
2. On PVC:
- `volume.beta.kubernetes.io/storage-provisioner: pd.csi.storage.gke.io` This is still in Beta

These are the annos that I found need to be upgrade. I am wondering if there is anything else?

[2021-07-01 18:46] alex-kovshovik commented on #89898
**Environment:** Amazon EKS, K8s version `1.19`, AMI release version `1.19.6-20210628`, AMI type `AL2_x86_64`, instance type `c5a.2xlarge`

We're having the same issue since Monday this week, tried everything, but one interesting observation is: the frequency of the occurrence is a lot higher when the nodes have significant memory usage... This could be our app leaking memory, but in that case I w

[2021-07-01 18:52] BenTheElder commented on #93620
This is a perennial issue. We more or less seem to require that someone solve this before a new architecture is added, so eventually someone else will have to do this, or be told they can't add an architecture because this has not been done.

/lifecycle frozen

[2021-07-01 19:13] jonathanbeber commented on #57660
I'm still failing to understand how we can make the metric so hidden at this moment. In the issue description, @discordianfish described that `...without specifying the window over which this was observed. Haven't found where it's defined but it seems like it's ~1-5 minutes.`. And it's still the case.

The [resource metrics pipeline](https://kubernetes.io/docs/tasks/debug-application-cluster/resou

[2021-07-01 19:44] neolit123 commented on #103185
my vote would be to not introduce breaking changes, because this code path is used by literally everyone with manifest files. note that the same code is used for JSON multi-doc splitting too.

@codearky

i think we should not be splitting at any occurrence of `---`.
is the specification explicit about  the `---` being at position 0 of a new line?
if so the accurate way would be:
- split at `\n---`

[2021-07-01 19:51] neolit123 commented on #99270
i searched for a solution about detecting CGO one time and found this:
https://www.reddit.com/r/golang/comments/655kax/how_to_figure_out_whats_using_cgo/dg85l1d/

[2021-07-01 20:17] #100727 closed

[2021-07-01 20:18] #102258 closed

[2021-07-01 20:29] BenTheElder commented on #99270
Sorry, I didn't mean that we have to catch every possible case for it to be worthwhile, that problem is no different than from today where some random library could write gibberish to stdout/stderr (or a file) already, CGO or otherwise.

For the record though, why I don't think you can 100% catch it like this if you wanted to:

<details>

Yeah, I've been reviewing the govet-levee scripts, it's a g

[2021-07-01 20:31] tcope0094 commented on #103312
More details:
We've observed that when a pod is terminated, the CPU utilization of the HNS process on all windows nodes will spike sharply for a few seconds which is the same time when the response times increase sharply.
We have plans to build out a new cluster using the newest windows SAC 20H2, which may fix the issues.

[2021-07-01 21:28] #102255 closed

[2021-07-01 22:28] mohjam2004 commented on #102085
hi @thockin
I have this error on every conformance test.

[2021-07-01 22:36] aojea commented on #87603
/unassign
/assign @thockin
/milestone 1.23
This will be fixed as part of Tim's PR https://github.com/kubernetes/kubernetes/pull/96684,
but not in 1.22 for sure, sorry

[2021-07-01 23:00] NikolaNemes opened #103421 "Out of memory pods from deployment spawn endlessly"
#### What happened:
When a applying a deployment using the _nodeName_ attribute to target a specific worker node with a certain number of replicas, kube-scheduler will start spawning endless OOM pods if the node does not currently have enough memory to accommodate all of them.
#### What you expected to happen:
In case there is no memory for the additional replicas, they should stay pending until t

[2021-07-01 23:02] NikolaNemes commented on #103421
/sig scheduling

[2021-07-02 00:07] Huang-Wei commented on #103351
All default plugins are supposed to complete the implementation in 1.22, please check the table in #100347.

[2021-07-02 01:12] #103203 closed

[2021-07-02 02:20] #103200 closed

[2021-07-02 02:27] yuzhiquan commented on #102434
TODO list as @serathius suggest:

- [ ] Update user guide
- [ ] Tag Klog new version 2.10.0
- [ ] Bump k/k klog version to 2.10.0

Fix temporary workarounds introduced in original PRs:
   * [ ] [Refactor pods format to return ObjRef slice #99799 (comment)](https://github.com/kubernetes/kubernetes/pull/99799#discussion_r588252534)
   * [ ] [kubelet: migrate pkg/kubelet/eviction to structured loggin

[2021-07-02 02:29] Priyankasaggu11929 commented on #102434
Thanks @yuzhiquan. I’ll do the changes tomorrow.

[2021-07-02 03:52] yliaog commented on #103224
it is working as intended, it is not a bug.

GroupVersion must be set when initializing RESTClient
 https://github.com/kubernetes/client-go/blob/843bb800b12ac5b3f0d273bd39f889e248b43fed/rest/config.go#L290

[2021-07-02 03:57] liggitt commented on #103224
But that means a RESTClient can only be used for a single group/version, and kubernetes.New(rest.Interface) uses the provided RESTClient for lots of group/versions, which doesn't work.

I experimented with fixing this in https://github.com/kubernetes/kubernetes/pull/97821 but didn't make a lot of progress

[2021-07-02 05:11] BenTheElder commented on #102476
I think that would probably be approved.

https://git.k8s.io/community/contributors/devel/sig-release/cherry-picks.md if anyone wants to take a stab at it 😅

[2021-07-02 05:48] dimakow commented on #102476
Thanks @BenTheElder

I'll check over weekend if i can provide this fix also to 1.20 and 1.19

[2021-07-02 06:02] #92678 closed

[2021-07-02 06:22] zhangguanzhang commented on #8180
if you used an old version kubelet with a latest version kube-apiserver, will happend this

[2021-07-02 06:33] #101851 closed

[2021-07-02 06:34] serathius commented on #101851
PR with implementation was merged.

[2021-07-02 06:36] thockin commented on #8180
How much older?  We do support version skew, and I am never out of
sync more than one release.

On Thu, Jul 1, 2021 at 11:22 PM zhangguanzhang ***@***.***> wrote:

[2021-07-02 06:39] 249043822 opened #103423 "Kubelet stats Provider performance bottleneck"
For single node with hundreds and thousands of pods and containers, the cpu usage of kubelet becomes high, one bottleneck is the cadvisor stats provider as below:
https://github.com/kubernetes/kubernetes/blob/659c7e709f3b7f5f2a25e456525cd8747f2e68cc/pkg/kubelet/stats/cadvisor_stats_provider.go#L156

[code]
the `getCadvisorPodInfoFromPodUID` method iterate all containerInfos for every podStats caus

[2021-07-02 06:40] 249043822 commented on #103423
/sig node

[2021-07-02 06:50] harshanarayana opened #103425 "kube-apiserver fails to recover from some panic"
#### What happened:
While running on a v1.18.15 version of Kubernetes (With customisation around the kubeadm and kube-proxy), `kube-apiserver` fails to recover gracefully of certain kind of panics causing the nodes to go into `NotReady` state randomly.

Observing this only when the system is heavily loaded close to 90%+ threshold on both CPU and memory and no successful reproduction with regular l

[2021-07-02 06:50] JethroMV commented on #60140
Still ongoing, OP would you mind re-opening this issue please?

[2021-07-02 06:50] liggitt commented on #8180
are you trying to reference secrets from a static pod, or are you getting this message trying to run static pods that don't reference secrets?

[2021-07-02 06:55] harshanarayana commented on #103425
/sig apps

[2021-07-02 06:56] harshanarayana commented on #103425
/sig api-machinery

[2021-07-02 07:08] zgfh commented on #43916
I have the same issue in my k8s 1.15 cluster. any news regarding the issue?

[2021-07-02 07:33] harche opened #103428 "ResourceMetricsAPI failing on containerd and cri-o"
#### Which jobs are failing:
https://testgrid.k8s.io/sig-node-containerd#containerd-node-features (containerd)
https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv1-node-e2e-features (crio)

#### Which test(s) are failing:
[sig-node] ResourceMetricsAPI [NodeFeature:ResourceMetrics] when querying /resource/metrics should report resource usage through the resource metrics api

#### Since when has

[2021-07-02 07:33] harche commented on #103428
/sig node

[2021-07-02 07:40] saschagrunert commented on #103428
/cc

[2021-07-02 07:46] Alestrix commented on #79224
I haven't implemented this with k8s yet, but if your container includes `sed` or - even better - `envsubst`, you can start the container with an [alternative command](https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell), exchanging placeholders in the config with the contents of environment variables and then start the actual app

[2021-07-02 07:56] gtskaushik commented on #79224
@Alestrix We are also following the same approach with emvsubst

[2021-07-02 08:16] #103381 closed

[2021-07-02 08:22] zhangguanzhang commented on #8180
My environment is kubelet: v1.15.5 kube-apiserver is v1.20.6. I see this problem occurred in the log

[2021-07-02 08:22] zhangguanzhang commented on #8180
there is no secres from a staticPod.

[2021-07-02 08:25] zhlhahaha commented on #100800
Hi @dims @vielmetti, I will take a look at this issue.

[2021-07-02 08:50] jsafrane commented on #102357
`storage.alpha.kubernetes.io/migrated-plugins`: will we need it GA? It marks nodes with list of migrated plugins. CSI migration will GA soon-ish and 2 releases after GA the annotation becomes useless and could be removed.  (2 releases because of potentially old kubelets).

`volume.beta.kubernetes.io/storage-provisioner`: that should probably get GA.

[2021-07-02 09:00] Leo069 commented on #71647
Maybe some errors happened when kubernets starting. you can use  `kubectl cluster-info dump` find the error, and fix it.
details can Refer to: [](https://blog.csdn.net/hjlzs/article/details/118408308)

[2021-07-02 09:00] pacoxu commented on #84764
for backward compatibility

kubectl version | apiserver version |  kubelet version | API: remove the ephemeral container |  kubectl debug with exist-name
-- | -- | --  | -- | --
1.22 | 1.22 | 1.22 | supported | supported
1.21 | 1.21 | 1.21 | unsupported | unsupported (failed for existing name)
any | 1.21 | any | unsupported | unsupported(failed for cannot be removed)
1.22  |  1.22 | 1.21 | support

[2021-07-02 09:01] Leo069 commented on #71647
Maybe some errors happened when kubernets starting. you can use  `kubectl cluster-info dump` find the error, and fix it.
details can Refer to: [](https://blog.csdn.net/hjlzs/article/details/118408308)

[2021-07-02 09:17] pohly opened #103430 "prow.k8s.io: show skip reason"
#### What would you like to be added:

When an e2e test gets skipped with `e2eskipper.Skipf`, the reason passed to that function should be visible in junit file and prow.io.

~~Currently the reason is not recorded in the junit file. Whether it would be shown by prow.io is unknown.~~

Recent JUnit files contain an explanation why a test case was skipped. It would be nice to show that on prow.io.

#

[2021-07-02 09:27] codearky commented on #103185
@neolit123 I agree, breaking changes are dangerous here and should be done gradually (although you right
we already apply empty docs as in this case:
[code]
so taking things like `!!omap` as described above would not be actually breaking.

Anyways, I think we'll act cautiously as a result of this change's sensitivity, and go with @brianpursley's approach to this here by special casing whitespaces

[2021-07-02 09:39] cofyc opened #103431 "scheduler/volumebinding: migrate to use pkg/scheduler/framework/plugins/feature"
`utilfeature.DefaultFeatureGate` is deprecated, we should migrate to use `pkg/scheduler/framework/plugins/feature`, see the discussion: https://github.com/kubernetes/kubernetes/pull/100003/files#r592462218
/assign
/sig scheduling

[2021-07-02 11:20] ialidzhikov opened #103433 "csi-translation-lib: Azure disk type is not properly translated"
/kind bug
/sig storage
/area provider/azure

#### What happened:

Creation of a PVC that that uses a StorageClass with the in-tree provisioner `kubernetes.io/azure-disk` and parameter `kind: managed` fails.

#### What you expected to happen:
The above to work.

#### How to reproduce it (as minimally and precisely as possible):

1. Create an Azure cluster with CSI enabled

2. Create StorageClass wi

[2021-07-02 11:51] njuptlzf commented on #103210
/assign

[2021-07-02 12:23] apoorvajagtap commented on #102405
`The current behavior leaves the desiredReplicas value unchanged, but I think it would better to set it back to 0 when it can't be calculated.`
- I doubt if this would be helpful in situations.
- For ex; I receive continuous traffic on my application and momentarily the load might not be a lot, but still I need at least 1 replica to be up and running. In such a scenario, then I might not want to s

[2021-07-02 12:30] ialidzhikov commented on #103433
I see that there is mismatch between the csi-translation lib and the docs in https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/v1.4.0/docs/driver-parameters.md. The csi-translation-lib is translating in-tree PV to CSI with uppercase ("Managed"), so this means that the docs (that state allowed values are with lowercase - "managed") are wrong. If we want to support the lowercase values, t

[2021-07-02 13:31] andyzhangx commented on #103433
/assign

[2021-07-02 14:20] notchairmk commented on #101951
Hi @deads2k, Bug Triage from SIG Release here 👋.. Checking to see if this issue is going to make it to v1.22 milestone bearing in mind code freeze is 07/08/2021. Feel free to reach out if there are any questions/concerns.

[2021-07-02 14:33] dmrogers7 commented on #102405
Spinnaker considers an HPA to be healthy if `currentReplicas == desiredReplicas`

Setting `deisredRepicas = minReplicas` when metrics can't be calculated could cause the HPA to rescale.  This is not current behavior, which is to just leave everything as is.  I'm not reporting a problem in the HPA's scaling of the target resource, just in its inconsistent reporting of the `desiredReplicas`.

The de

[2021-07-02 14:53] andyzhangx commented on #103433
https://github.com/kubernetes/kubernetes/pull/103439 would fix this issue, pls use `Managed` kind as a workaround, thanks.

[2021-07-02 15:11] encodeflush opened #103440 "[Failing Test][sig-release] ci-kubernetes-e2e-gci-gce-alpha-features"
#### Which jobs are failing:
ci-kubernetes-e2e-gci-gce-alpha-features

#### Which test(s) are failing:
* kubetest.Up

#### Since when has it been failing:
Jul 02 2021, 01:26:42 UTC+0200

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features

#### Reason for failure:
[code]
#### Anything else we need to know:
/sig release

[2021-07-02 15:15] neolit123 commented on #103425
Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.15-cisco", GitCommit:"9bd6278a0e70c390455f515d696d1b41cbef8e10", GitTreeState:"clean", BuildDate:"2021-03-16T10:17:33Z", GoVersion:"go1.14.13", Compiler:"gc", Platform:"linux/amd64"}

this version is no longer supported.
is the problem reproducible with 1.19+?

[2021-07-02 15:28] logicalhan opened #103441 "Deprecate apiserver_longrunning_guage and apiserver_registered_watchers in favor of a new metric"
apiserver_longrunning_gauge and apiserver_register_watchers are kinda redundant [as pointed out here](https://github.com/kubernetes/kubernetes/issues/102545). We discussed this in our SIG instrumentation meeting and while it's clear that apiserver_longrunning_gauge, the name does not conform to instrumentation guidelines (it was created before those guidelines existed).

What we want to do is depr

[2021-07-02 15:55] akshitgrover commented on #103304
Sure, I'll just for code freeze before I start with implementation
By the time I'll just assign this to myself
/assign

[2021-07-02 15:55] tallclair commented on #103271
@mgutierrez98 we're good to move forward with the proposal in the doc (require drop `All`, allow only `NET_BIND_SERVICE` to be added back), if you still want to pick this up.

[2021-07-02 16:06] logicalhan commented on #103441
/assign @yan-lgtm

[2021-07-02 16:16] XzBuleSky opened #103444 "Forbidden: disallowed by cluster policy"
#### What happened:
  When I try to create a daemonset resource, I prompt the following information:
[code]
DaemonSet yaml :
[code]

I have added the `--allow-privileged=true` parameter to the apiserver service, but I still report an error

What else causes the error?
#### Environment:
- Kubernetes version (use `kubectl version`):
[code]
- Kernel (e.g. `uname -a`):
[code]

[2021-07-02 16:24] BenTheElder commented on #103430
/sig testing

[2021-07-02 16:34] c0rv4x commented on #83332
Hey,

Is there a resolution to this problem?

[2021-07-02 16:36] vumdao commented on #79365
@alexvaque In my case, I had to add the request resource to the deployment to fix the issue

[2021-07-02 16:53] jsturtevant commented on #101906
/cc @pjh @jeremyje

[2021-07-02 17:10] MikeSpreitzer commented on #60140
/reopen
/remove-lifecycle rotten

[2021-07-02 17:23] XzBuleSky commented on #103444
I have configured the following parameters in apiserver. When I delete the relevant configuration, the daemonset resource starts normally. What's the relationship between the two that will cause the problem?

[code]

[2021-07-02 17:24] jsturtevant commented on #102954
/triage accepted
/priority important-soon

[2021-07-02 17:27] jsturtevant commented on #103032
Memory and eviction controls are also not implemented

/triage accepted

[2021-07-02 18:08] BenTheElder commented on #103330
per https://github.com/kubernetes/kubernetes/pull/103329#issuecomment-872562866
/close

[2021-07-02 18:08] #103330 closed

[2021-07-02 18:08] ajayjangu0001 commented on #63128
This post is very good I am very happy to see this post. Thanks for sharing such a wonderful article. keep up the work... your site is great, and it's helping us a lot.. this post is unique and interesting, thanks for sharing this awesome info

<a HREF”=https://www.agrorelate.com”>blog</a>

[2021-07-02 18:12] BenTheElder commented on #103324
/remove-kind bug
This is not a bug in Kubernetes. Flannel needs to install the CNI config so containerd can start, neither of these are part of Kubernetes.

The Kubernetes project does not use issues for support and does not support third party projects like flannel.

Please file an issue with flannel, or see:
- the forums https://discuss.kubernetes.io/
- stackoverflow https://stackoverflow.com/se

[2021-07-02 18:12] #103324 closed

[2021-07-02 18:51] XzBuleSky opened #103446 "Kubernetes v1.20 endpoints resource cannot view controller manger or scheduler"
#### What happened:
  Hello ！
  I want to check the election of basic components, but the information displayed is different in different versions of kubernetes binary installation methods.
  Is the corresponding information cancelled in kubernetes v1.20 +? Or is there any other way to view the election of basic components?
The following kubernetes configuration parameters are consistent, except t

[2021-07-02 19:13] mgutierrez98 commented on #103271
Will do! thank you @tallclair. It may take me a bit to get this done.

[2021-07-02 19:33] thockin commented on #8180
15 vs 20 is a very large version skew.  Generally we support 3 releases of skew: https://kubernetes.io/releases/version-skew-policy/

[2021-07-02 20:16] grosser commented on #90692
still seeing this with simple pods on 1.20 🤷

[2021-07-02 20:42] #97303 closed

[2021-07-02 22:44] dhilipkumars opened #103450 "Deployment Condition not getting updated with correct timestamp"
#### What happened:
it appears that a deployment recovering from a Quota Error (previous rollout) does not update the condition's timestamp after the current rollout succeeds.

Here is the condition along with deployments status

[code]
But actually the rollout is successful from simple get command
[code]
and the Pod is running fine
[code]

#### What you expected to happen:
The deployments conditi

[2021-07-02 22:45] dhilipkumars commented on #103450
/sig apps

[2021-07-02 22:47] dhilipkumars commented on #103450
cc: @kow3ns

[2021-07-02 23:02] caesarxuchao commented on #102641
I see. The ownerRef was updated to the new version. But perhaps the in-memory node that represented the owner object still had the old version.

[2021-07-02 23:23] BenTheElder commented on #103440
based on testgrid https://github.com/kubernetes/kubernetes/compare/43ebff8fa...2d4753b89 probably https://github.com/kubernetes/kubernetes/pull/99594 cc @cofyc
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features&width=20

[2021-07-03 00:55] cofyc commented on #103440
/cc
working on it

[2021-07-03 00:55] cofyc commented on #103440
/assign

[2021-07-03 02:55] usernameisnull commented on #92245
Has this problem been resolved？
My K8s version：v1.17
 failed: 4,  backoffLimit: 3, weird
[code]

[2021-07-03 03:07] andyzhangx commented on #103433
there is a quick fix in azure disk csi driver: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/915, it would be merged in v1.5 version

[2021-07-03 08:15] vikramcse commented on #99005
/assign

[2021-07-03 09:29] dimakow commented on #102476
Opened https://github.com/kubernetes/kubernetes/pull/103454 for 1.19
Opened https://github.com/kubernetes/kubernetes/pull/103455 for 1.20

[2021-07-03 09:51] vikramcse commented on #99005
Hello @MorrisLaw
This will my first contribution to Kubernetes.
I am working on two methods `TestValidateIngressClass ` and `TestValidateIngressClassUpdate` in pkg/apis/networking/validation/validation_test.go

[2021-07-03 11:38] mkorbi commented on #100788
/milestone v1.22

[2021-07-03 11:39] mkorbi commented on #100314
/milestone v1.22

[2021-07-03 11:41] mkorbi commented on #101906
/milestone v1.22

[2021-07-03 11:47] mkorbi commented on #98180
just cc @soltysh to get an answer on @atiratree question :)

[2021-07-03 11:51] mkorbi commented on #98499
looks resolved for now

[2021-07-03 11:55] mkorbi commented on #96803
looks solved, thank you!

[2021-07-03 12:17] mkorbi commented on #75355
/milestone v1.22

[2021-07-03 12:19] mkorbi commented on #95600
seems solved

[2021-07-03 12:19] mkorbi commented on #93740
/milestone v1.22

[2021-07-03 12:21] mkorbi commented on #100230
/milestone v1.22

[2021-07-03 12:21] mkorbi commented on #100112
/milestone v1.22

[2021-07-03 12:24] mkorbi commented on #98498
looks clean

[2021-07-03 12:25] xyzkpz commented on #50295
if you are getting like this goto this url [](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/)
it will fix your errors...
enjoy everyone

[2021-07-03 12:47] Priyankasaggu11929 commented on #102434
Hi @yuzhiquan, @serathius, want to confirm. The above listed todo items, the PR for them will go after the https://github.com/kubernetes/klog/pull/249 is merged, right?

[2021-07-03 16:42] #71765 closed

[2021-07-03 17:09] cofyc commented on #103440
@Huang-Wei

the scheduler fails to start with this error:

`profiles[0].pluginConfig[5].args.shape: Required value: at least one point must be specified`

it seems the feature gates from the command line does not take effect in the defaulting phrase, do you know how to fix it?

[2021-07-03 17:15] schellj commented on #71765
Please reopen.

[2021-07-03 18:59] cofyc commented on #103440
ah, found there is a cycle here:

The scheduler options [embeds the default config](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-scheduler/app/options/options.go#L71-L77), but the default config's default values depend on the feature gates options.

[2021-07-03 19:16] cofyc commented on #103440
@Huang-Wei @ahg-g I tried to fix it by updating the component config after the CLI flags (including the feature gates) are parsed: https://github.com/kubernetes/kubernetes/pull/103460 PTAL

[2021-07-03 20:44] #98734 closed

[2021-07-03 21:13] yan-lgtm commented on #103441
/assign

[2021-07-04 04:14] andrewsykim opened #103463 "TestQuotaLimitService is flaky"
#### Which jobs are flaking:
integration test jobs

#### Which test(s) are flaking:
TestQuotaLimitService which was recently added in https://github.com/kubernetes/kubernetes/pull/100412.

One example run: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103409/pull-kubernetes-integration/1411506174548774912

#### Testgrid link:

#### Reason for failure:
I suspect this is because TestQu

[2021-07-04 04:16] andrewsykim commented on #103463
cc @hanlins

[2021-07-04 04:17] andrewsykim commented on #103463
/sig network
/sig apimachinery

[2021-07-04 04:18] andrewsykim commented on #103463
/sig api-machinery

[2021-07-04 05:22] navidnabavi commented on #79354
I have this issue on PersistentVolumeClaim too. I must set it and somehow it does not act like an optional method.

[2021-07-04 06:24] RPing commented on #100478
I try the file watch way like watcher in [kubernetes](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/filesystem/watcher.go), but encountered an issue in fsnotify: fsnotify/fsnotify#194, it waits fsnotify/fsnotify#260 to be fixed.

[2021-07-04 09:42] RPing commented on #100478
@mengjiao-liu I've implemented a simple fix using a inotify goroutine.
But I want to clarify that what's the timing for rebuilding the log?
If we want to rebuild it as soon as the log is deleted, we should put the inotify goroutine into kubelet, not klog.

[2021-07-04 09:51] #93760 closed

[2021-07-04 10:59] novahe commented on #103148
Hi @glazychev-art ,The code avoiding data race seems to already exist：
https://github.com/kubernetes/kubernetes/blob/5fe522c2376e9a732a50c89f38986ce4300fd4a0/staging/src/k8s.io/client-go/testing/fixture.go#L374-L377

[2021-07-04 12:34] airadier commented on #87185
/remove-lifecycle rotten

[2021-07-04 14:30] su225 opened #103464 "Allow both TCP and UDP ports in the same service of type `LoadBalancer`"
#### What would you like to be added:
Currently, it is not possible to support both TCP and UDP services with the same service when it is of type `LoadBalancer`. For instance the following spec fails
[code]
with the following error message (in v1.21)

#### Why is this needed:
This is needed to support **both HTTP/2 over TLS+TCP and HTTP/3 over QUIC on the same port (here, 443)** so that clients ca

[2021-07-04 14:32] su225 commented on #103464
/sig network
/sig node

[2021-07-04 16:03] wojtek-t commented on #95110
/remove-lifecycle stale

[2021-07-04 18:51] #98744 closed

[2021-07-04 20:52] samip5 opened #103466 "Ubuntu 20.04: unable to bootstrap cluster fully (arm64)"
#### What happened:

Initialization of cluster on arm64 failed due to coredns not found error.

#### What you expected to happen:

Cluster would have initialized without issue, and gave me a joining token.

#### How to reproduce it (as minimally and precisely as possible):
- Grab a Raspberry Pi 4
- Install Ubuntu Server 20.04 arm64
- Install Kubernetes normally
- Try to deploy dual-stack cluster c

[2021-07-04 20:55] samip5 commented on #103466
/sig release
/wg K8s Infra

I may be wrong with these, but not sure.

[2021-07-04 20:55] samip5 commented on #103466
/wg "K8s Infra"

[2021-07-04 22:51] #98490 closed

[2021-07-05 01:55] mengjiao-liu commented on #100478
If rebuilt, the time point is after the file is deleted.On second thought, the immediate reconstruction should have been done in Kubelet. File handle release and file reconstruction should be a feature rather than a bug.

Let's refer to more comments. @serathius @derekwaynecarr @mrunalp

[2021-07-05 02:19] yuzhiquan commented on #102434
Yes, klog#249 should merged first before we move on other TODO.

[2021-07-05 02:27] andrewsykim commented on #103463
Opened a fix here https://github.com/kubernetes/kubernetes/pull/103472

[2021-07-05 03:00] yqwang-ms commented on #87278
/remove-lifecycle stale

[2021-07-05 03:38] fangzi0813 commented on #52386
I have the same issue

[2021-07-05 03:56] glazychev-art commented on #103148
Hi @novahe,
Did you run my test with `-race` flag?

Of course if I comment
`// obj = obj.DeepCopyObject()`
there will be data race.

But let's take a look at:
1. https://github.com/kubernetes/kubernetes/blob/5fe522c2376e9a732a50c89f38986ce4300fd4a0/staging/src/k8s.io/client-go/testing/fixture.go#L416-L420
We _store_ `obj` in `t.objects` and do `w.Add(..)` with the _same_ `obj`. So, watcher receive

[2021-07-05 05:29] harche commented on #103428
/cc @SergeyKanzhelev @dims

[2021-07-05 05:51] harshanarayana commented on #103425
@neolit123 I am working on patching the 1.20.x+ as we speak to see if the issue shows up there. I will update the thread as soon as I find something concrete.

On a side note, patching e6f98311d00f083c1b980ed7434d2e9769fa921f has taken care of the nil pointer access issue ,

[2021-07-05 07:14] #102973 closed

[2021-07-05 07:18] wzshiming opened #103476 "Fix TerminationGracePeriodSeconds is negative"
* [x] Firstly release 1.22 #98866:
     * Treat negative as 1 in delete path (pod/strategy.go, apiserver delete.go)
     * Allow delete with grace period 0 even if metadata period is negative (apiserver delete.go). This allows kubelet to delete pods.
     * Relax validation of immutable fields to allow it to be set to 1 if it was previously negative. This allows us to update read path in the next

[2021-07-05 07:18] wzshiming commented on #103476
/assign

[2021-07-05 07:21] wzshiming commented on #103476
/sig node
/triage accepted
/lifecycle frozen

[2021-07-05 07:29] omyers89 commented on #60140
Same here, happen on ```.tar.gz``` of ~100MB and sporadically on small ```txt``` files.
(I'm using the GO client)

[2021-07-05 07:34] wzshiming commented on #103464
https://github.com/kubernetes/kubernetes/blob/a3c2028cf41e1f89102db33e2f2851fa5b525703/pkg/apis/core/validation/conditional_validation.go#L35-L50

Maybe you can enable the feature gate MixedProtocolLBService

[2021-07-05 07:35] wzshiming commented on #103464
/remove-kind bug
/kind support

[2021-07-05 07:35] wzshiming commented on #103464
/remove-kind feature

[2021-07-05 07:37] stoneshi-yunify opened #103477 "CSINode does not support setting volume limits for different storageclass"
#### What happened:
kubectl get csinode <nodeX> -o yaml:
[code]

This means the nodeX can attach up to 10 volumes(allocatable.count) provisioned by CSI driver `csi-qingcloud`, no matter what storageclass the volumes used.

A CSI driver could provision different volumes (by different storageclass), which may have different attach limit for a node. This could often happens on clouds. The cloud provi

[2021-07-05 07:38] wzshiming commented on #103464
/assign

[2021-07-05 07:39] stoneshi-yunify commented on #103477
/sig storage

[2021-07-05 07:44] wzshiming commented on #103444
maybe you can add args  `--allow-privileged` to APIServer

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/
[code]

https://github.com/kubernetes/kubernetes/blob/a3c2028cf41e1f89102db33e2f2851fa5b525703/pkg/apis/core/validation/validation.go#L5900-L5904

[2021-07-05 07:45] wzshiming commented on #103444
/remove-kind bug
/kind support
/assign

[2021-07-05 08:10] wojtek-t commented on #78481
/remove-lifecycle stale

[2021-07-05 08:25] SpecialYang commented on #74415
How is this great feature going?

[2021-07-05 08:28] NikolaNemes commented on #103421
Ah, sorry, I tried searching for similar issues and was not able to find anything.

Is there any way to avoid this sort of behavior? (by changing deployment config or a certain k8s config)

if not, I suppose we should just monitor memory/resource consumption and avoid these situations altogether?

[2021-07-05 08:51] wzshiming commented on #103421
Because you use nodeName to bypass the scheduler and forcefully schedule to nodes with insufficient memory, You should lower Requests.

[2021-07-05 09:04] chendave opened #103478 "scheduler: failed with unreadable error message with v1beta2 configuration"
#### What happened:
Have a legacy scheduler config, upgrade to v1beta2 since we are at v1beta2 now,

[code]

scheduler failed to start with some unreadable raw data,
[code]

#### What you expected to happen:
accurate and readable error message.

#### How to reproduce it (as minimally and precisely as possible):
config scheduler config like what has been said above.

#### Anything else we need to k

[2021-07-05 09:18] patsevanton opened #103479 "error: the server doesn't have a resource type "job" in microk8s 1.18"
Hello! i try use reportportal in Microk8s.
I try install reportportal and delete reportportal.
But i can not delete job.batch

#### Environment:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
microk8s - 1.18
- OS (e.g: `cat /etc/os-release`):
NAME="Ubuntu"
VERSION="18.04.5 LTS (Bionic Beaver)"
- Kernel (e.g. `uname -a`):
Linux ecse00500bf2 4.15.0-1

[2021-07-05 09:19] patsevanton commented on #103479
/triage accepted

[2021-07-05 10:40] nikhita commented on #98449
/remove-lifecycle rotten

[2021-07-05 10:55] TomaszKlosinski commented on #70147
Any news on this?

[2021-07-05 11:00] codearky commented on #103185
@fedebongio PR is ready. ^

[2021-07-05 11:18] cpanato commented on #100274
yes Ben (gcr.io/gke-release/gcp-compute-persistent-disk-csi-driver was moved)

[2021-07-05 11:33] yuswift commented on #103446
`kubectl get leases.coordination.k8s.io -A`

[2021-07-05 11:36] apoorvajagtap commented on #102405
I agree that having a more descriptive explanation for `desiredReplicas` could help.
I believe before raising a PR with changes, having a second opinion from the reviewers or contributors should be helpful..  I am also a newbie, not sure how can we get some eyes for the confirmation.
Any ideas @dmrogers7 ?

[2021-07-05 12:47] j4m3s-s commented on #102659
IIRC, when I deleted the containers it hanged and didn't really work. (Although you should take that with a grain of salt, since I can't reproduce the issue at the moment).

We have updated our cluster to 1.17, and the behavior doesn't seem to appear or it appears less often. So unfortunately I'm unable to provide any logs to help debug it further :/.

[2021-07-05 13:00] ns-jisorce commented on #98570
Hi I can still reproduce in a more recent GKE v1.19.10-gke.1600

But I am not able to reproduce the issue if the GKE cluster is created with the option `--enable-dataplane-v2`, certainly due to the benefit of using eBPF over iptable.

[2021-07-05 13:12] dshato42 commented on #15478
What is the status with this feature?
This is will be great to have when using fluentd + fluent-bit architecture.

[2021-07-05 13:26] encodeflush opened #103485 "[Failing Test][sig-node] ci-kubernetes-node-kubelet-features"
#### Which jobs are failing:

ci-kubernetes-node-kubelet-features

#### Which test(s) are failing:

 * E2eNode Suite: [sig-node] ResourceMetricsAPI [NodeFeature:ResourceMetrics] when querying /resource/metrics should report resource usage through the resource metrics api
 * kubetest.Node Tests [runner]

#### Since when has it been failing:

Jul 02 00:04:41 UTC+0200

#### Testgrid link:

https://te

[2021-07-05 13:29] novahe commented on #103148
@glazychev-art  You're right ,thank you for solving my confusion.  One solution could be to copy of object

[2021-07-05 13:52] n4j commented on #102481
@ydp just checking if this issue had cropped up lately

[2021-07-05 14:40] su225 commented on #103464
Thank you very much. Let me give a shot.

[2021-07-05 15:17] blesson-james opened #103489 "kubeadm init tasks fails when executing in private servers running behind a proxy"
#### What happened:
I'm working on Open source project on High Performance Computing, Omnia(https://github.com/dellhpc/omnia). I deploy single node and multi node k8s cluster on HPC servers with CRI-O as K8s CRI. Our playbooks are working fine when executed on normal servers without any proxy.
Recently we moved to completely private network with internet accessible behind the corporate proxy. And

[2021-07-05 15:18] chrischdi commented on #102676
Should this get reopened as the fix will get reverted in #103483 ?

[2021-07-05 15:18] zhangguanzhang commented on #82067
[code]
It works for me in kubernetes: `v1.15.5`

[2021-07-05 15:21] blesson-james commented on #103489
/sig network

[2021-07-05 15:24] blesson-james commented on #103489
kubeadm init should either provide option to pass these proxy variables or should internally handle proxy configurations and all the pods should automatically be able to perform internal and external communications.

Please let me know if above options are available or let me know if doing anything wrong in the proxy configurations

[2021-07-05 15:25] zhangguanzhang commented on #76146
try this
[code]
If not works, could try this:
[code]

[2021-07-05 15:37] su225 commented on #103464
I can confirm that the service I mentioned works when `MixedProtocolLBService` is turned on. Thanks once again. I'll close the issue now.

[2021-07-05 15:37] #103464 closed

[2021-07-05 15:38] odinuge commented on #102676
We can keep this open as long as this is still an issue in v1.21.
/reopen

[2021-07-05 15:49] smarterclayton commented on #48388
The error is not correct - errors on immutable structs should not print the struct, it should print either nothing or list the field that is changed.

[2021-07-05 17:16] Hanaasagi opened #103494 "When use the remote container runtime, image gc manager might delete the sandbox image"
#### What happened:

When run kubelet with `--container-runtime="remote"`, the `ImageGCManager` does not use the correct sandbox image from container runtime. In `ImageGCManager`, the sandbox image should be kept on the node. If we don't get the configuration from container runtime, it will cause the sandbox image to be deleted in some cases.

https://github.com/kubernetes/kubernetes/blob/26bdfbc0

[2021-07-05 17:47] dims commented on #103479
/close

please report to the microk8s repository https://github.com/ubuntu/microk8s

[2021-07-05 17:47] #103479 closed

[2021-07-05 19:20] neolit123 commented on #103446
for more questions please try https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-07-05 19:20] #103446 closed

[2021-07-05 19:21] neolit123 commented on #103446
/sig network

if you think there is a bug, reopen this issue.

[2021-07-05 19:21] neolit123 commented on #103494
/sig node

[2021-07-05 19:23] neolit123 commented on #103494
related to:
https://github.com/kubernetes/kubernetes/issues/81756

[2021-07-05 19:24] neolit123 commented on #103444
please reopen if you think there is a bug.

support requests should normally go here:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-07-05 19:24] #103444 closed

[2021-07-05 19:26] neolit123 commented on #103444
if you think there is missing documentation. please add it to kubernetes/website ( https://k8s.io ).

[2021-07-05 21:39] neolit123 commented on #100760
@mkorbi hi, i do not see this API machinery test flaking consistently in the kubeadm job:

last flake was a single time on 6-22:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-latest&width=20

the flake tracked in https://github.com/kubernetes/kubernetes/issues/100787
is no longer present either.

[2021-07-05 21:39] neolit123 commented on #100787
i do not see this flake in the recent runs of the test job:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-latest&width=20

[2021-07-05 21:59] neolit123 commented on #103489
if your host has the *proxy environment variables kubeadm will pick them up and propagate them to the control plane components. there are a lot of users who have the same setup and it works for them.

but looking at your logs i see:

proxy may not be reason for this failure.
you need to look at the kubelet logs, see what containers are failing on the host and their logs.
if you cannot find a solut

[2021-07-05 21:59] #103489 closed

[2021-07-05 22:04] neolit123 commented on #103466
- remember to install a CNI plugin.
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network
- make sure you have installed the `kubernetes-cni` package on the host:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

that is highly unlikely. a token is printed at the end of

[2021-07-05 22:04] #103466 closed

[2021-07-05 22:13] samip5 commented on #103466
This is not a support question. Thats a bug when it doesn't work with IPv6 and IPv4.

kubeadm init just fails,  and doesn't print a token so how ia that not a bug?

[2021-07-05 22:33] pmanno commented on #101743
bump

[2021-07-06 00:01] #98819 closed

[2021-07-06 00:34] enj opened #103498 "Remove gcp and azure auth plugins in v1.25"
This serves as a milestoned issue to track removal of gcp and azure auth plugin code per #102181

/assign
/milestone v1.25

[2021-07-06 00:35] enj commented on #103498
/triage accepted
/sig auth

[2021-07-06 00:41] ydp commented on #102481
No.. @n4j  guess it's not easy to reproduce.

[2021-07-06 00:47] enj opened #103499 "Update gcp auth plugin deprecation with actionable message"
We should drop the `.V(1)` bit once in favor of a `klog.Warningf` once gcp has a replacement.

xref: https://github.com/kubernetes/kubernetes/pull/102181#discussion_r636963736

/assign @enj @mikedanese
/milestone v1.24
/triage accepted
/sig auth

[2021-07-06 01:28] JohnRusk commented on #102672
Just for completeness @wojtek-t: I'm also seeing non-trivial RAM spikes (e.g. around 10GB) when doing unchunked listing from cache at fairly low concurrency levels. E.g. only 6 concurrent list operations, with 40,000 secrets in the list. Presumably the spikes would be even bigger if the lists were bigger.  I'd love it if enhanced priority and fairness could smooth out such spikes - but (based on m

[2021-07-06 01:34] wzshiming commented on #103421
please reopen if you think there is a bug.

support requests should normally go here:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-07-06 01:34] #103421 closed

[2021-07-06 01:47] lcchris opened #103500 "`kubectl logs` with the `--follow` args, the log loops indefinitely"
#### What happened:
Under ARM64 environment, POD log parameter is the wireless cycle of log after Follow
#### What you expected to happen:
Record of normal output log updates
#### How to reproduce it (as minimally and precisely as possible):
It's always been that way
#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- v1.19.0
- Cloud provider or

[2021-07-06 02:09] wzshiming commented on #103500
/retitle `kubectl logs` with the `--follow` args, the log loops indefinitely

[2021-07-06 02:11] wzshiming commented on #103500
This seems to be caused by the process in the container

[2021-07-06 02:12] wzshiming commented on #103500
please reopen if you think there is a bug.

support requests should normally go here:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-07-06 02:14] wzshiming commented on #103500
/remove-kind bug
/kind support

[2021-07-06 02:27] wzshiming commented on #103250
please reopen if you think there is a bug.

support requests should normally go here:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/remove-kind bug
/king bug
/close

[2021-07-06 02:27] #103250 closed

[2021-07-06 02:28] zhouhaibing089 commented on #75677
/reopen
/remove-lifecycle rotten

[2021-07-06 02:36] timchenxiaoyu commented on #140
how to implement prestart hook ?

[2021-07-06 03:12] pacoxu commented on #98265
1. Pods should run through the lifecycle of Pods and PodStatus [Conformance]
dup with #99437 and is WIP
2. Networking Granular Checks: Pods should function for intra-pod communication: sctp [LinuxOnly][Feature:SCTPConnectivity][Disruptive]
no failure is found in current board https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-orphans

/close

[2021-07-06 03:12] #98265 closed

[2021-07-06 05:00] #100838 closed

[2021-07-06 05:51] pacoxu commented on #103494
We can config kubelet with flag `--pod-infra-container-image`. GCmanager will use it or default one.
https://github.com/kubernetes/kubernetes/blob/75d571a10be4db7a4b932b4131e8f1095f6c46bf/pkg/kubelet/config/flags.go#L95

[code]
https://github.com/kubernetes/kubernetes/blob/7229ea343dd649f9a6c20fa1fd6b13e602f3f082/cmd/kubelet/app/options/container_runtime.go#L29-L36

Containerd configuration in `/e

[2021-07-06 06:33] zgcbj commented on #58962
/reopen
 /remove-lifecycle rotten

[2021-07-06 06:36] zgcbj opened #103506 "Does k8s support assigning unique identification to each pod? #58962"
I create a Deployment with 5 pods, the requirement is that each application in each pod needs an unique identification(such as pod-1, pod-2, pod-3, pod-4, pod-5). StatefulSet is not suitable，because pods couldn't be rescheduled when the node is NotReady. Is there any ways to achieve this ?
The requirement is that, when a pod is rescheduled to another node, the pod’s iidentification wouldn’t be cha

[2021-07-06 06:38] zgcbj commented on #103506
@kubernetes/sig-apps-feature-requests

[2021-07-06 06:44] wojtek-t commented on #103145
@kubernetes/sig-scalability @jkaniuk @mborsz @marseel

[2021-07-06 06:46] pacoxu commented on #103485
dup with #103428 and may be fixed by #103429

[2021-07-06 07:00] yuswift commented on #103450
@dhilipkumars hi, I tried to reproduce the bug with the steps you provided, here is the staus I got:
[code]

[2021-07-06 07:10] codingconcepts commented on #81020
/remove-lifecycle rotten

I experienced the same issue this morning on a cluster that I'd just added a node to.

The solution for me, was to delete the PVC, then delete the affected node. When the node started up again, the PVC was recreated healthy.

Hope this helps people!

[2021-07-06 07:15] wojtek-t commented on #96752
/remove-lifecycle stale

[2021-07-06 08:09] OS-WS commented on #101493
Hi,
Was this issue ever addressed/ fixed?

Thanks in advance!

[2021-07-06 08:38] wojtek-t opened #103510 "TestQuotaLimitService is very flaky"
It failed 3 times on my unrelated PR, e.g.:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102998/pull-kubernetes-integration/1412300553769193472

/kind flake

Added in https://github.com/kubernetes/kubernetes/pull/100412

/sig network
/priority important-soon

/cc @hanlins @aojea @thockin

[2021-07-06 08:46] dstibbe commented on #43633
this is the way :)

[2021-07-06 08:56] aojea commented on #103510
discussed here , https://github.com/kubernetes/kubernetes/pull/103472
but I think we should move from hardcoded delay to wait.PollImmediate loops ...

[2021-07-06 09:53] AlwaySummit commented on #103403
If use pd in-tree driver, this logic will be called while creating volume.
[code]
But the labels will not be constructed when using out-of-tree csi driver. I guess that is the root cause for this issue.

[2021-07-06 09:53] AlwaySummit commented on #103403
@Jiawei0227 Could you please take a look at this? Thanks.

[2021-07-06 09:56] fabiand commented on #25625
@Danil-Grigorev good initiative - In which sig can this topic be driven forward?

[2021-07-06 11:01] boenn opened #103512 "pull-kubernetes-integration timing out"
#### Which jobs are flaking:
pull-kubernetes-integration
#### Which test(s) are flaking:

Several packages just started timing out badly after ~7/5

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=integration&test=TestMain

* k8s.io/kubernetes/test/integration/apiserver/apply
* k8s.io/kubernetes/test/integration/auth
* k8s.io/kubernetes/test/integration/client
* k8s.io/kub

[2021-07-06 11:28] Mohkam commented on #81020
just edit your storage class and change its volumeBindingMode: WaitForFirstConsumer, this will make sure that volume is attached to the node where the pod is scheduled.

[2021-07-06 11:54] adisky commented on #103494
There is already a proposal on adding a pinned images to CRI specs, Image marked as pinned image will not be garbage collected.
https://github.com/kubernetes/enhancements/pull/2694/files

[2021-07-06 12:01] #95837 closed

[2021-07-06 12:37] benc-uk commented on #100271
Hitting this now

[2021-07-06 12:59] yuswift commented on #103167
see kubernetes/website/pull/28623

[2021-07-06 13:33] misanthropicat commented on #69697
/reopen

[2021-07-06 13:39] enj commented on #103498
/assign @ankeesler

Hopefully one of us remembers to follow-up on this.

[2021-07-06 13:41] misanthropicat commented on #69697
So, still no solution? I hit by this too.

[2021-07-06 15:29] michailbrynard commented on #58065
Another workaround, while waiting for https://github.com/kubernetes/kubernetes/pull/84205 to merge: use [Polipo](https://www.irif.fr/~jch/software/polipo/) to convert the SOCKS5 proxy into an HTTP proxy.
[code]

[2021-07-06 16:48] Ritikaa96 opened #103518 "Json-schema adress link needs to be updated in generated code"
#### What happened:
Update in json-schema website link address in CustomResourceDefinition is needed here: https://kubernetes.io/docs/reference/kubernetes-api/extend-resources/custom-resource-definition-v1/#JSONSchemaProps

The link is sending user to "[http://json-schema.org/)](http://json-schema.org/)"

This file is generated from the Kubernetes source code. As such, the link should be updated
i

[2021-07-06 17:04] kfox1111 commented on #89911
/remove-lifecycle stale

[2021-07-06 17:20] ehashman commented on #103428
/triage accepted

[2021-07-06 17:21] ehashman commented on #103428
ah, let's use the RT's issue

/close

[2021-07-06 17:21] #103428 closed

[2021-07-06 17:22] ehashman commented on #103485
from https://github.com/kubernetes/kubernetes/issues/103428

/triage accepted

[2021-07-06 17:22] ehashman commented on #103485
/cc @harche @saschagrunert

[2021-07-06 17:42] #102008 closed

[2021-07-06 17:42] #103478 closed

[2021-07-06 19:03] eladm26 commented on #74551
happens to me when port-forwarding to minio and trying to download large files, getting:
`E0706 18:38:06.048525       1 portforward.go:340] error creating error stream for port 9000 -> 9000: Timeout occured`

[2021-07-06 19:08] #103463 closed

[2021-07-06 19:41] neolit123 commented on #103518
/sig api-machinery

[2021-07-06 21:24] enj opened #103525 "Update azure auth plugin deprecation to warning"
Replace the azure auth plugin deprecation `.V(1)` with a `klog.Warningf` in v1.24

xref: https://github.com/kubernetes/kubernetes/pull/102181#discussion_r664690768

/assign @enj @ankeesler
/milestone v1.24
/triage accepted
/sig auth

[2021-07-06 22:56] ahg-g commented on #95446
Did we update the docs?

[2021-07-06 23:22] #102923 closed

[2021-07-06 23:26] thockin commented on #103506
Not as part of something like Deployment.  I think you want multiple ServiceAccounts and multiple Deployments (or other controllers).

[2021-07-07 01:35] llhhbc opened #103528 "kube-scheduler add restful api for get a pod current node fit list and score."
#### What would you like to be added:
kube-scheduler add a restful api, like `/api/v1/pod/scheduler?name=podName&namespace=namespace`, and it will get result like this:

[code]

#### Why is this needed:
1. In order to clarify the insufficient resources of each node
2. The csi program wants to obtain all the optional node information of the current pod, and comprehensively store the situation, sele

[2021-07-07 02:09] thockin commented on #91459
I have a patch.  I'll try to get it out for review tonight.

[2021-07-07 02:10] Prashanth-M commented on #37798
@colachg @Marcofeli I'm also facing same issue.
How do we find the proper resolv.conf??
In my case some pods are working, some pods are throwing the same error as above. both pods /etc/resolv.conf is looks same.

resolv.conf
`nameserver 10.96.0.10

 search abc-services.svc.cluster.local svc.cluster.local cluster.local ap-south-1.compute.internal
 options ndots:5
`

[2021-07-07 02:18] pacoxu commented on #103494
It targets 1.22 but the k/k PR is not merged yet. See https://github.com/kubernetes/enhancements/issues/2040#issuecomment-875217537.

[2021-07-07 02:30] llhhbc commented on #103528
/sig Scheduling

[2021-07-07 02:51] kebyn commented on #28272
I tried this method of use.
[code]

[2021-07-07 03:09] ka1em opened #103530 "kubelet Unable to attach or mount volumes unmounted volumes=[default-token-kzw5v]"
#### What happened:
kubelet Unable to attach or mount volumes unmounted volumes=[default-token-kzw5v]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):
1. kubectl apply -f test.yaml
2. pod's status is always Creating
3. kubelet log
[code]
4. event message :
[code]
#### Anything else we need to know?:
##### testyaml
[code]

#### Environment:
- Ku

[2021-07-07 03:18] ka1em commented on #103530
/sig node
/sig storage

[2021-07-07 03:31] yylt opened #103531 "subpath should not be directory when secret update"
#### What happened:
the mountpoint of subpath is always directory even if update secret and add `k1` key

[code]

#### What you expected to happen:
the mountpoint of subpath is softlink file when update secret

#### How to reproduce it (as minimally and precisely as possible):

1. create resources in below
2. after pod running
3. update secret `kubectl patch secret -n test keys -p '{"data":{"k1":"

[2021-07-07 03:33] yylt commented on #103531
/sig node

[2021-07-07 03:55] Kaka1127 commented on #28272
Unfortunately, this is not worked for me.

[2021-07-07 04:04] #98253 closed

[2021-07-07 05:07] #98687 closed

[2021-07-07 05:10] #99580 closed

[2021-07-07 05:11] #53533 closed

[2021-07-07 05:11] #103263 closed

[2021-07-07 05:11] #103205 closed

[2021-07-07 05:11] #103388 closed

[2021-07-07 05:34] immanuelfodor commented on #92287
/remove-lifecycle stale

[2021-07-07 06:01] rekhachougule commented on #25055
yes , --grace-period is not working ofr me also, but it worked when set through .yaml file i.e terminationGracePeriodSeconds

[2021-07-07 08:22] #103440 closed

[2021-07-07 08:40] AlwaySummit commented on #103403
Besides, I found a logic in external-provider which is related to the issue maybe. However, it seems that the function is never called when using gke driver. I'm not sure if it is the reason why labels are missing.
[code]

[2021-07-07 08:43] mengjiao-liu commented on #103531
/assign

[2021-07-07 09:00] aojea commented on #102806
/close
This should be fixed by #103307

[2021-07-07 09:00] #102806 closed

[2021-07-07 09:07] #88574 closed

[2021-07-07 10:08] nikhita opened #103540 "Automate code generated by mockgen/mockery"
There are a few mock files [1] [2] in the codebase today that are generated by [mockgen](https://github.com/golang/mock) and [mockery](https://github.com/vektra/mockery). However, these files are not autogenerated by any scripts today. This should be fixed and they should be probably be automated using `go:generate` tags [3].  They should probably also be made consistent to use either mockgen _or_

[2021-07-07 11:28] Hanaasagi commented on #103494
Thanks for the reply. I close this issue and track that KEP.

[2021-07-07 11:28] #103494 closed

[2021-07-07 11:50] matthyx commented on #99979
@ehashman since #102344 isn't (likely) coming to 1.22 we could cut off 90% of flakes by increasing to 15s delay:
https://github.com/kubernetes/kubernetes/blob/625597425b014d3a201babfa49f9dfe08e8c7437/test/e2e/common/node/container_probe.go#L448

[2021-07-07 12:05] mkumatag commented on #99648
/remove-lifecycle rotten

[2021-07-07 12:28] Danil-Grigorev commented on #25625
@fabiand In sig-cloud-provider - cc @andrewsykim @cheftako

[2021-07-07 12:37] aojea commented on #103510
/close

no failures on this test on the last 10 failed jobs since
https://github.com/kubernetes/kubernetes/pull/103472

[2021-07-07 12:37] #103510 closed

[2021-07-07 12:46] e33ivanyauwai commented on #19825
I set a higher memory limit for the pod and double the initial replicas number, and the problem was gone and there is no restarting now.

[2021-07-07 13:03] Prashanth-M commented on #37798
have you done this changes on all node??
I have tried with one worker, but still failing connectivity.

[2021-07-07 13:23] superdave commented on #53533
Spectacular work, @ehashman! Thank you so much for driving this through.

[2021-07-07 13:25] Congelli501 opened #103542 "Pod fail to start as /sys/fs/cgroup/devices/kubepods.slice/kubepods-burstable.slice doesn't exist"
#### What happened:
Pod failed to start on a node that is already running a lot of pod sucessfuly, with the following events:
[code]

The pod was is a `ContainerCreating` state during that time, after 10 minutes, I deleted the pod, and it finally came up in less than a minute.
The pod was created from a statefulset

#### What you expected to happen:
Pod should have started normally.

#### How to r

[2021-07-07 13:38] alculquicondor commented on #95446
I'll take that

[2021-07-07 13:58] nurhun commented on #59119
I'm facing same issue, k3s cluster v1.21.2+k3s1

[2021-07-07 15:17] rajaskakodkar commented on #102919
Hey @sanwishe, have you been working on this? I think I have a solution for this and I am adding the commits on top of #102354

cc: @jayunit100

[2021-07-07 15:25] savitharaghunathan commented on #100914
@palnabarun @puerco : checking in to see if this is still a release blocking issue. If not, can we remove the label?

[2021-07-07 15:30] ehashman commented on #53533
Greetings, friends!

This issue closed as my PR has merged and we now have alpha swap support available in Kubernetes. It should be available in the next 1.22 branch release cut (v1.22.0-beta.1).

There are a few things to keep in mind:

- The CRI has changed, so container runtimes (e.g. containerd, cri-o) won't be able to actually accept swap configs until they have been updated against the new C

[2021-07-07 15:32] alculquicondor commented on #95446
kubernetes/website#28839

[2021-07-07 15:56] #103275 closed

[2021-07-07 16:00] su225 opened #103544 "strategic merge patch when service ports are the same, but with different protocols produces incorrect outputs"
#### What happened:
There is a scenario where strategic merge patch is applied for the following (This is part of some operator, not manual operation. As you can see it does not make sense to patch if it is manual)

BASE
[code]

OVERLAY
[code]

It resulted in the following. Notice two ports with 443/UDP where as the result should have been 443/TCP and 443/UDP like in both base and patch
[code]

**

[2021-07-07 16:01] su225 commented on #103544
/sig apimachinery

[2021-07-07 16:02] su225 commented on #103544
/sig api-machinery

[2021-07-07 16:14] elFarto opened #103546 "Ingress.ingressClassName field is not readded if removed"
#### What happened:
The default IngressClass was not applied to an Ingress when the ingressClassName field was deleted.

#### What you expected to happen:
The default IngressClass should be added to all new *or* updated Ingress' if they do not posses one.

#### How to reproduce it (as minimally and precisely as possible):
1. Create IngressClass, and add annotation to set as default IngressClass
2.

[2021-07-07 16:16] elFarto commented on #103546
/sig network

[2021-07-07 16:17] lavalamp commented on #59119
Is this still a problem if SSA is used (kubectl apply --server-side)? If so, what is the failure point now?

[2021-07-07 16:50] lavalamp commented on #74415
This feature lacks agreement that it should be implemented. So I would say it is not going well. Jordan gave a rough design above. Probably the most effective thing to do is to construct an out-of-tree implementation and demo it to the SIG.

[2021-07-07 17:02] msau42 commented on #103403
This appears to be related to the csi driver and a duplicate of https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/797

/close

[2021-07-07 17:24] su225 commented on #103544
I guess I have hit a brick wall. I tried to add another entry for `patchMergeKey` and got the following error
[code]
Any help is appreciated to get around this issue.

[2021-07-07 17:27] thockin commented on #91459
/retest

[2021-07-07 17:30] Huang-Wei commented on #103440
#103468 fixed the flake. https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features&width=20 is back green now.

[2021-07-07 17:33] savitharaghunathan commented on #100914
Tagging @justaugustus for his input as well

[2021-07-07 17:43] #103228 closed

[2021-07-07 17:47] lavalamp commented on #101493
We have not, changes like CJ's (above) are invasive and no one has had time to completely work one out, given the perceived lack of severity. Proper configuration / use of the egress settings may address this anyway-- wasn't an option when this was discovered but may be now.

[2021-07-07 17:58] neolit123 commented on #103542
are you able to provide more details of why it happens?

i'm going to assume that's node RAM and not the CPU cache of the 7371 (google says it has 64MB L3).
is 256 sufficient for you pod?

/sig node

[2021-07-07 18:19] liggitt commented on #103512
Several packages just started timing out badly after ~7/5

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-integration&xtext=must%20drop%20ALL

* k8s.io/kubernetes/test/integration/apiserver/apply
* k8s.io/kubernetes/test/integration/auth
* k8s.io/kubernetes/test/integration/client
* k8s.io/kubernetes/test/integration/controlplane
* k8s.io/kubernetes/test/i

[2021-07-07 18:19] liggitt commented on #103512
These are the PRs that merged in the past couple days that look like they could potentially impact integration tests:

* #103039 P&F change
* #103437 readyz change
* #99997 ep/epslice refactor (likely unrelated)
* #102998 API server callback in storage critical path
* #103504 P&F change
* #102890 added cmd and integration tests
* #103472 quota integration test deflake (likely unrelated)
* #103484

[2021-07-07 18:25] alculquicondor opened #103549 "TestValidateCertificateSigningRequestCreate/valid_duration is flaking"
#### Which jobs are flaking:

pull-kubernetes-unit

#### Which test(s) are flaking:

pkg/apis/certificates/validation TestValidateCertificateSigningRequestCreate/valid_duration

#### Testgrid link:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/98817/pull-kubernetes-unit/1412827544935206912

#### Reason for failure:

[code]

cc @enj for #99494

[2021-07-07 18:26] alculquicondor commented on #103549
/sig auth

[2021-07-07 18:30] liggitt commented on #103512
taking a random passing run from before timeouts spiked:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103493/pull-kubernetes-integration/1412270401798541312

* k8s.io/kubernetes/test/integration/apiserver/apply
  * `<testsuite tests="122" failures="0" time="332.670000" name="k8s.io/kubernetes/test/integration/apiserver/apply">`
* k8s.io/kubernetes/test/integration/auth
  * `<testsu

[2021-07-07 18:57] tkashem commented on #103512
This is a false error message, https://github.com/kubernetes/kubernetes/pull/103550 should address this.

[2021-07-07 19:04] bswartz commented on #99931
Superseded by https://github.com/kubernetes/kubernetes/issues/103275

[2021-07-07 19:04] #99931 closed

[2021-07-07 19:09] alexpirine commented on #72597
/remove-lifecycle stale

[2021-07-07 19:13] liggitt commented on #103549
/assign @enj
/priority critical-urgent

[2021-07-07 19:20] dims opened #103551 "third_party/forked/golang/LICENSE is not in LICENSES"
we have one in k/k and one in k/utils, both need to be in LICENSES

/assign

[2021-07-07 19:21] dims commented on #103551
/area code-organization

[2021-07-07 19:40] #102294 closed

[2021-07-07 19:43] liggitt commented on #103551
I think we should include anything matching the LICENSE/COPYRIGHT/COPYING patthers under `third_party` or `forked` subdirs in k/k or dependencies... a quick sweep showed these:

[code]

[2021-07-07 19:57] liggitt commented on #103512
@wojtek-t @tkashem - can you look into the P&F PRs that merged in the last couple days (mentioned in https://github.com/kubernetes/kubernetes/issues/103512#issuecomment-875826569) and see if those increased CPU usage or introduced delays to integration tests?

[2021-07-07 19:59] liggitt commented on #103512
/assign @wojtek-t @tkashem

did scale tests indicate any CPU or latency bump in the past couple days?

[2021-07-07 20:36] aojea commented on #103110
discussion was going on the PR https://github.com/kubernetes/kubernetes/pull/103183#issuecomment-875800132 , it should be triaged first though, is not clear this is a bug or a new feature kubernetes want to support ...

[2021-07-07 20:42] aojea commented on #103512
/cc

[2021-07-07 20:58] FraBle commented on #98656
/remove-lifecycle stale

[2021-07-07 21:20] #103271 closed

[2021-07-07 21:24] liggitt commented on #103194
tracking consistency/cleanup work in https://github.com/kubernetes/kubernetes/issues/103373

/close

[2021-07-07 21:24] #103194 closed

[2021-07-07 21:33] sejr commented on #103193
/assign

[2021-07-07 21:37] tallclair opened #103559 "[PodSecurity] Webhook config template & container image"
- [ ] Add a config template (namespace, deployment, validating webhook, SA, RBAC, etc.) for the webhook.
- [ ] Publish a docker image for the webhook

[2021-07-07 22:17] BenTheElder commented on #103440
thanks!

[2021-07-07 22:28] aojea commented on #103546
is this with the v1beta1 or v1 api version?

[2021-07-07 22:31] aojea commented on #103286
@danwinship @thockin you are the ones that knows better the `NewBoundedFrequencyRunner`

[2021-07-07 22:37] BenTheElder commented on #103551
/sig release
?

[2021-07-07 23:12] dims commented on #103540
/sig testing

[2021-07-07 23:23] rikatz commented on #92369
/remove-lifecycle stale

[2021-07-07 23:45] tallclair opened #103561 "[PodSecurity] Improve error UX"
Ideas to consider:
- [x] ~~Group errors by container. Ex:
    `pod: check1, check2 (value); container1: check1 (value, value); init container2: check1, check5~~
- [x] ~~Consider making reasons more machine-readable~~
- [x] https://github.com/kubernetes/kubernetes/issues/103213
- [x] Add context to failure message, like `Pod violates baseline PodSecurity level:` - https://github.com/kubernetes/kube

[2021-07-08 00:05] #103148 closed

[2021-07-08 00:05] #103209 closed

[2021-07-08 01:28] sanwishe commented on #102919
I's still waiting for #102354, any idea is welcome, thanks very much.

[2021-07-08 01:58] zhan849 opened #103563 "APIServer request termination metric has wrong verb label"
#### What happened: `apiserver_request_terminations_total` does not have correct `verb` label - all GET calls that got terminated are labeled with verb "LIST"
the issue stays in the CleanScope function https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go#L516
where all GET calls will end up with scope "namespace" and end up with verb "L

[2021-07-08 02:01] njuptlzf commented on #103213
First test the current situation before making changes.
/assign

[2021-07-08 02:16] #98752 closed

[2021-07-08 02:46] njuptlzf commented on #103213
currently:
[noruntimeclasspod: message runtimeclass1pod: message runtimeclass2pod: message runtimeclass3pod: message1 runtimeclass4pod: message1]

I think it can be changed to:
[`message`: [noruntimeclasspod runtimeclass1pod runtimeclass2pod], `message1`: [runtimeclass3pod, runtimeclass4pod] ]

[2021-07-08 03:34] timchenxiaoyu commented on #3595
docker run --rm -it **--ulimit core=0**  busybox sh

[2021-07-08 03:51] njuptlzf commented on #103213
If a pod has multiple causes of errors,
[code]
I have two thoughts
1. Consider multiple causes of errors as a whole,
[code]
2. Each error cause is used as a key to associate related pods
[code]
The `warning ` of thoughts1 will be repeated a lot; the `podName ` of thoughts2 will be repeated a lot.

It seems that thought1 is less destructive, but according to requirements, I might choose `thought2`.

[2021-07-08 04:34] pacoxu opened #103570 "kubeadm-kinder-rootless-latest task-08-upgrade failed"
#### Which jobs are failing:
https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-rootless-latest

#### Which test(s) are failing:
 task-08-upgrade

#### Since when has it been failing:
https://github.com/kubernetes/kubernetes/compare/ec39cc2ea...17f6f2862?

#### Testgrid link:

#### Reason for failure:

#### Anything else we need to know:
kubeadm 1.22 related issue: https://github

[2021-07-08 04:35] pacoxu commented on #103570
/sig cluster-lifecycle
/area kubeadm

[2021-07-08 04:49] pacoxu commented on #103570
/cc @Huang-Wei

I suspect it is related to #103468 but there is no enough log.

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-rootless-latest/1412703327392632832/artifacts/kinder-rootless-control-plane-2/pods/kube-system_kube-scheduler-kinder-rootless-control-plane-2_85a9b1796171832b72e40bc39a212279/kube-scheduler/0.log

[2021-07-08 04:52] pacoxu commented on #103570
After looking into https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-rootless-latest/1412703327392632832/artifacts/task-08-upgrade-log.txt,
it should be fixed by #103562

[2021-07-08 04:54] vikramcse commented on #103540
/assign

[2021-07-08 04:57] gaorong opened #103571 "kubectl get -o yaml: is it posible to hide metadata.managedFields"
#### What would you like to be added:
kubectl's output hides the pod `managedFields` field by default,  IMO, most people don't care about this field, but it will take a lot of screen space to show, and mess the truly valuable information.  Maybe we can add a flag to `kubectl get pod` command if we want to observe this field apparently.

also see https://stackoverflow.com/questions/62077977/kubectl

[2021-07-08 04:59] gaorong commented on #103571
/sig cli

[2021-07-08 05:22] chendave opened #103572 "scheduler: index out of range"
#### What happened:
Recent commit: https://github.com/kubernetes/kubernetes/pull/99582 import an issue when multiple custom plugin configured in scheduler config file,  and those plugins are default plugins too.

It was manipulating slice with index, but the slice is updated while index is not, which will cause the index out of range, see the exceptions listed below,

[code]
#### What you expected

[2021-07-08 05:39] pacoxu commented on #103571
The second answer in your stackoverflow link has mentioned the flag https://stackoverflow.com/a/67056145.
[code]
This was added since 1.21(#96878).

[2021-07-08 05:43] pacoxu commented on #103561
/sig auth

[2021-07-08 05:44] pacoxu commented on #103559
/kind feature
/sig auth

[2021-07-08 06:00] pacoxu commented on #39188
A recent change in `kustomize` https://github.com/kubernetes-sigs/kustomize/pull/3159 adds support of a merge list.
@natasha41575 @apelisse
Is this time to fix this?

[2021-07-08 06:01] pacoxu commented on #103544
dup with #39188

There are some discussions about it.

[2021-07-08 06:04] OliverCole commented on #87149
/remove-lifecycle stale

[2021-07-08 06:22] zshihang commented on #101286
/close

[2021-07-08 06:22] #101286 closed

[2021-07-08 06:24] zshihang commented on #75551
thanks everyone. all images are updated.

/close

[2021-07-08 06:24] #75551 closed

[2021-07-08 06:29] rayw000 opened #103575 "Failed to renew certificate by following official documents"
#### What happened:

I'm trying to renew certificates of my cluster due to it has already been expired after being set up for 1 year.

I tried steps here https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#kubelet-client-cert
and here https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#manual-certificate-renewal

Everything seems fi

[2021-07-08 06:31] pacoxu commented on #103530
The error message "timeout" always was caused by performance issues. Is the disk on big pressure or kubelet run too many pods on that server? Would you provide more information about the node?

Can it be reproduced in another node?

[2021-07-08 06:31] pacoxu commented on #103530
The error message "timeout" always was caused by performance issues. Is the disk on big pressure or kubelet run too many pods on that server? Would you provide more information about the node?

Can it be reproduced in another node?

[2021-07-08 06:32] pacoxu commented on #103530
The error message "timeout" always was caused by performance issues. Is the disk on big pressure or kubelet run too many pods on that server? Would you provide more information about the node?

Can it be reproduced in another node?

[2021-07-08 06:32] wojtek-t commented on #103512
Nothing that is visible in the past week.
Though scale-tests are not configured with defaults, which I believe is the case for integration tests.

Looking at the PRs mentioned at https://github.com/kubernetes/kubernetes/issues/103512#issuecomment-875826569 from the P&F area:

* #103039
  * this won't add cpu for sure, but in theory may mean rejecting more requests [but I doubt we have such load in

[2021-07-08 07:17] wangyysde commented on #103575
As if you have renewed the certificates. Are you "copy this resulted kubelet.conf to /etc/kubernetes/kubelet.conf on ALL nodes?
Have you restarted kubelet?

[2021-07-08 07:21] rayw000 commented on #103575
@wangyysde

No, just the control plane node. Let me have a try to do this.

Yes, but only the control plane node.

[2021-07-08 07:21] saschagrunert commented on #100914
Yes, let's remove the release blocker label from this one.

[2021-07-08 07:27] zxh326 opened #103576 "Should update endpoints when delete service selector"
#### What happened:

When I delete a service's selector, its endpoints are still the same.

#### What you expected to happen:

when svc selector is none, endpoint subset should be empty

#### How to reproduce it (as minimally and precisely as possible):
1. create service like this
[code]
2. get endpoints
[code]
3. remove service selector
[code]

4. get same endpoints
[code]

#### Anything else we

[2021-07-08 07:48] wojtek-t opened #103578 "Pod startup time latency increase around beginning of June"
As visible in this graph:
![image](https://user-images.githubusercontent.com/10743879/124883115-4e50a900-dfd1-11eb-84d9-74b2e231de53.png)

pod-startup time in 5k-node tests increased around beginning of June (only 99% though).

It seems to be connected to "run-to-watch" phase.

We should investigate and see what we can do with this.

/sig scalability
/kind bug

@jkaniuk @jprzychodzen @marseel @kub

[2021-07-08 07:49] chenyw1990 commented on #103531
/cc

[2021-07-08 07:49] wojtek-t commented on #103578
/triage accepted

Once PR that merged around that time is P&F support for watch-initialitation:
https://github.com/kubernetes/kubernetes/pull/102171

As a first step, we may want to confirm/reject if it's this PR and see if we aren't somehow misconfigured here.

[2021-07-08 07:57] fire2 commented on #99061
We faced this issue too on version 1.20.2.

@andyzhangx you mentioned this is now fixed on 1.18.18, 1.19.10, 1.20.6, 1.21.0. Upgrading to 1.20.7 fixed it in our case. However in the documentation at https://docs.microsoft.com/en-us/azure/aks/azure-files-volume#mount-file-share-as-an-inline-volume it still says:

_Note: starting from 1.18.15, 1.19.7, 1.20.2, 1.21.0, secret namespace in inline azure

[2021-07-08 07:58] kerthcet commented on #92229
/assign

[2021-07-08 08:00] pacoxu commented on #103572
/sig scheduling
/triage accepted

[2021-07-08 08:04] marseel commented on #103578
I've briefly checked test-infra/perf-tests to see if we had any relevant changes around that time, but I don't see any. Most likely it's related to k/k changes.

[2021-07-08 08:04] mengjiao-liu commented on #103531
This issue is repeated in my 1.21.2 environment:
[code]
The problem is that subpath k1 is created as a directory when it is first created. When the key in secret is updated from k0 to k1, do we want to delete the original k1 directory and create a new k1 soft link to point to the secret k1 file?

What was the original design of this part? Is there any kep for reference?
/cc @saad-ali @thockin @msa

[2021-07-08 08:07] mengjiao-liu commented on #103531
/sig storage

[2021-07-08 08:07] rayw000 commented on #103575
@wangyysde

I've tried to copy `kubelet.conf` to a working node with low workloads and restart its kubelet. Everything seemed fine until I tried to delete a pod on it. There is no new pod recreated. Problem still.

[2021-07-08 08:10] elFarto commented on #103546
This is with Ingress v1

[2021-07-08 08:32] borgerli opened #103579 "kubelet failed to start when DynamicKubeletConfig enabled"
#### What happened:

kubelet failed to start when specifying `--feature-gates=DynamicKubeletConfig=true` ,with following error:

[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):
Try to start kubelet with `--feature-gates=DynamicKubeletConfig=true`:

`FEATURE_GATES=DynamicKubeletConfig=true hack/local-up-cluster.sh`

#### Anything else we

[2021-07-08 08:38] borgerli commented on #103579
/sig node

[2021-07-08 08:40] borgerli commented on #103579
Submitted PR #103580 to fix this issue.

[2021-07-08 08:59] #103570 closed

[2021-07-08 09:06] zxh326 commented on #103576
/sig apps
/sig network

[2021-07-08 09:10] mengjiao-liu commented on #103531
I see the limitations of using SubPath in the [documentation](https://kubernetes.io/docs/concepts/storage/volumes/#secret):
[code]

ref https://github.com/kubernetes/kubernetes/issues/50345#issuecomment-656947594

[2021-07-08 09:48] hysyeah commented on #103530
@ka1em please change 100m to 100M and try again
`
        resources:
          limits:
            cpu: "0.1"
            memory: 100M
          requests:
            cpu: "0.1"
            memory: 100M
`

[2021-07-08 10:05] #103193 closed

[2021-07-08 10:08] aojea commented on #103546
I think that the ingress class defaulting happen in the admission plugin

https://github.com/kubernetes/kubernetes/blob/388c2d901d185d34a340fcae566bd38b73bdb704/plugin/pkg/admission/network/defaultingressclass/admission.go#L82-L84

@robscott @rikatz you are more familiar than me with this, is it possible that the update is not being handled by the admission plugin?

[2021-07-08 10:25] calind opened #103581 "Support for generic scheduling beyond assigning pods to nodes"
Hi,

I have a use case where I need to schedule tenants to database clusters. Currently, I need to handpick the cluster a tenant is scheduled to. It would be useful to be able to allow the Kubernetes scheduler to assign DatabaseTenants to DatabaseClusters by matching resources required by DatabaseTenants with resources available on DatabaseClusters.

Is this something worth exploring as a Kubernet

[2021-07-08 10:34] wojtek-t commented on #103512
What is interesting, we're not facing any of these problems in the postsubmit: https://testgrid.k8s.io/sig-release-master-blocking#integration-master

[2021-07-08 10:39] wojtek-t commented on #103512
BTW - looking more at timing, https://github.com/kubernetes/kubernetes/pull/102998 seem to be the most suspicious one from the timing perspective (from the P&F-related ones). Let me take another look at it.

[2021-07-08 11:08] waeljammal commented on #74551
Happens to me as well with services like redis. Running K3D on a ubuntu server vm.

[2021-07-08 11:27] wojtek-t commented on #103512
I took another look, I don't see how this could visibly increase usage (and I'm 100% sure it doesn't increase latency).
The only thing it does is it decorates the Count() call to the storage layer (which is called once per minute per type):
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/options/etcd.go#L77
and stores the returned value in cache.
At thi