[2022-01-06 07:47] silenceper commented on #107371
/sig node

[2022-01-06 08:22] pacoxu commented on #107218
I checked my env and cannot reproduce the problem.
Can you give an example to reproduce it step by step(So I can dig into it)?

The logic of this metric is in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/metrics/collectors/volume_stats.go#L91-L126.

[2022-01-06 08:28] matthyx commented on #107202
@tanguofu is this `env` output from the node running kubelet? I find it strange to have GOPATH set on a prod machine...

[2022-01-06 08:30] matthyx commented on #107202
Indeed... what's strange is that `filepath.Join` doesn't normalize elements before concat:
https://go.dev/play/p/jEWP9rQXy5-

[2022-01-06 08:46] lixiaobing1 commented on #107371
It seems there is problem in NetworkPlugin cni, look at the status of cni.

[2022-01-06 08:46] songlh opened #107372 "goroutine leaks in several tests"
### What happened?

Similar to #107191, goroutines associated with QueueBroadcaster and EventWatcher are leaked in the following tests:

1. `TestAllocateOrOccupyCIDRSuccess()` at [line 321](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nodeipam/ipam/range_allocator_test.go#L321) of pkg/controller/nodeipam/ipam/range_allocator_test.go

2. `TestDaemonSetUpdatesNoTemplateChanged

[2022-01-06 08:58] pacoxu opened #107374 "[sig-network] Proxy version v1 A set of valid responses are returned for both pod and service ProxyWithPath [Conformance]"
### Failure cluster [195aab5c63fe2bf267c8](https://go.k8s.io/triage#195aab5c63fe2bf267c8)

##### Error text:
[code]
#### Recent failures:
[2022/1/6 上午1:25:16 ci-kubernetes-kind-conformance-parallel](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-parallel/1478778946777518080)
[2022/1/6 上午12:43:32 ci-kubernetes-e2e-windows-containerd-gce-20h2](https://prow.k8s.io/

[2022-01-06 09:21] yuzhiquan commented on #106769
@alculquicondor how to do with this struct https://github.com/kubernetes/kubernetes/blob/f6864316ef640274c3d93f43ade127c569cd58f4/pkg/scheduler/framework/types.go#L410 and method, this struct has been refered in many place, shoud move this in to compoent-helper?

[2022-01-06 09:33] NoicFank opened #107376 "FIFO bug: duplicate keys is shown in queue"
### What happened?

If we `add` -> `delete` -> `readd` same key object, then there will be duplicate keys in `queue`.

Here is an sample example\
in the beginning

`items`:\
key1 -> obj1\
key2 -> obj2\
...\
key100 -> obj100

now, obj2 was deleted, then (note: current impl does not delete keys in queue)

`items`:\
key1 -> obj1\
...\
key100 -> obj100

add obj2

`items`:\
key1 -> obj1\
...\
key100 ->

[2022-01-06 09:35] silenceper commented on #107371
I actually have a question about the pod cleanup process. The pod sandbox is up here, indicating that the ip has been added correctly.

When the pod is deleted and cleaned up, all processes in the cgroup will be cleaned up and killed. It will naturally exit at `/proc/%v/ns/net`. Then there will be problems when it is passed to the cni plug-in?

Still expect the cni plug-in to block this error, so

[2022-01-06 09:46] mengjiao-liu opened #107377 "[Failing test] pull-kubernetes-e2e-gce-iscsi-serial and pull-kubernetes-e2e-gce-iscsi are failing"
### Which jobs are failing?

pull-kubernetes-e2e-gce-iscsi-serial
pull-kubernetes-e2e-gce-iscsi

Error text:
[code]
link:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/104732/pull-kubernetes-e2e-gce-iscsi-serial/1478975577011523584/

### Since when has it been failing?

https://prow.k8s.io/job-history/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-iscsi-serial?buildId=1

[2022-01-06 09:57] pacoxu commented on #107371
/sig network

[2022-01-06 09:58] pacoxu commented on #107371
/sig network

[2022-01-06 10:42] smileusd commented on #107266
After add client idle timeout from slb can resolved this. Client can receive EOF and rebuild a watcher:
[code]

[2022-01-06 10:53] NoicFank commented on #107376
/sig api-machinery

[2022-01-06 11:56] tanguofu commented on #107202
yes,  the output of kubelet process
[code]

[2022-01-06 12:52] matthyx commented on #107202
actually python's `os.path.join` does the same... no trim for joined elements

[2022-01-06 12:54] matthyx commented on #107202
@tanguofu this is very weird, because the string `/root/ ` has to come somehow through the golang call `os.UserHomeDir()` which takes the `$HOME` env var.

How is kubelet started on your node?

[2022-01-06 13:13] gjkim42 commented on #100241
/reopen

Waiting for https://github.com/google/cadvisor/pull/3014 to be merged and cadvisor to be updated.

[2022-01-06 13:16] gjkim42 commented on #100241
cc @bobbypage

[2022-01-06 14:01] #101538 closed

[2022-01-06 14:09] Lantern-r opened #107387 "Job didn't delete pods when I changed the activeDeadlineSeconds"
### What happened?

Job didn't delete pods when I changed the activeDeadlineSeconds

[code]

if I changed the activeDeadlineSeconds, job will not stop

[code]

### What did you expect to happen?

Prolong the time of the job by changing the activeDeadlineSeconds

### How can we reproduce it (as minimally and precisely as possible)?

 chang the activeDeadlineSeconds before job stops

### Anything el

[2022-01-06 14:12] sftim commented on #107325
First up, you can set a memory limit on etcd - either using your Pod spec if running etcd in a static pod, or using OS-level mechanisms (like systemd scopes and unit restrictions) if not.

Even so, denial-of-service that merely OOMs the etcd is still a serious issue.
We'd welcome a [blog submission](https://kubernetes.io/docs/contribute/new-content/blogs-case-studies/) that either
- describes the

[2022-01-06 14:12] sftim commented on #107325
If you want to limit how much data is written to etcd during one compaction interval, there _are_ mechanisms available in Kubernetes to make that possible.

One available mechanism is to use the admission control mechanism from validation admission webhooks and set your own limit on the size of a data storage resource. For example: deny writing any Secret or ConfigMap that has data larger than 20

[2022-01-06 14:18] sftim commented on #107294
I can see a `suspend` subresource being relevant to Job and CronJob. Maybe also HorizontalPodAutoscaler and VerticalPodAutoscaler (“don't interfere with `scale` on the target”).

[2022-01-06 14:29] brokoli18 commented on #107297
Here is the definition of the service:
[code]

I had the thought myself that perhaps there are multiple kube proxies running on this node but as far as I can tell there is only 1, in a docker container. This is the default setup for kubeadm I believe:
[code]

I had a look into using the `--nodeport-addresses=` option but wasnt sure where to put it. I ended up editing the kube-proxy daemonset and a

[2022-01-06 14:49] hassenius commented on #66844
For others arriving here, and may find my experience useful.

I had this problem when I had multiple controlplane nodes and my automation had generated different keys on the different API servers. This message would appear on different secrets, depending on which API-Server was responding to the request (round-robin secrets would be encrypted/decrypted with different keys)

[2022-01-06 14:57] Dani-Ionescu opened #107388 "Kubectl deleting of a namespace is always stuck"
### What happened?

I am encountering a very weird issue. Every time when I try to create a new namespace using ```kubectl create namespace xx``` then when I try to delete it, the operation becomes stuck:

[code]
If I press CTRL+C the namespace remains in Terminating state. Any ideas?

### What did you expect to happen?

The namespace xx2 should be deleted.

### How can we reproduce it (as minimal

[2022-01-06 15:20] LQss11 commented on #53881
Have you checked that your docker service is started and running properly?

[2022-01-06 15:24] MadhavJivrajani commented on #107388
/sig cli

[2022-01-06 15:24] MadhavJivrajani commented on #107387
/sig apps

[2022-01-06 15:28] jyller commented on #107282
oh my gad.  I used a note-taking software.
I copied the configuration text to that software, and then I copied it and pasted it to the server, and the invisible characters changed, so the server couldn't parse it.

thank you! i love you

[2022-01-06 15:39] haircommander commented on #107172
/assign @mengjiao-liu

[2022-01-06 16:03] alculquicondor commented on #106127
probably better to express in a "positive" way, like "nodesInclusion". And to use enums instead of booleans. Also we need to only consider "NoSchedule" taints? Or should we include it in the API.

Can you think of a use case where the particular taint is important? Why not just use the tolerations?

Finer details of the API can be reviewed in the KEP and code reviews.

[2022-01-06 16:07] alculquicondor commented on #106769
Likely, yes

[2022-01-06 16:09] ryanpeach commented on #81723
Please lets get this done.

[2022-01-06 16:28] rkojedzinszky commented on #105536
I am experiencing this behavior too.

[2022-01-06 16:57] #103877 closed

[2022-01-06 16:58] #106717 closed

[2022-01-06 16:58] #107115 closed

[2022-01-06 17:10] liggitt commented on #106003
I don't understand this... the full lock would mean the RLock section would have to complete first

[2022-01-06 17:42] sanposhiho commented on #103853
Hi @yuchen-sun
Are you still working on this? I can take it over if you want.

[2022-01-06 18:04] #100588 closed

[2022-01-06 18:07] jsturtevant commented on #96996
/remove-lifecycle stale

[2022-01-06 18:07] liggitt commented on #107388
By default, kubectl delete waits until the deleted object is removed from the API before returning (can short-circuit this with `--wait=false`)

Issuing a namespace delete request marks the namespace for deletion, but must be processed by the namespace deletion controller before it is removed from the API

The namespace deletion controller ensures all resources listed in discovery are deleted from

[2022-01-06 18:14] liggitt commented on #100726
commented at https://github.com/kubernetes/kubernetes/pull/107113#issuecomment-1006806585 but echoing here for visibility:

Rather than adding more validation at job creation time, improving the job controller to report persistent failures as a condition on the job seems like a better approach. This would allow any repeated errors encountered when creating the pods (permission errors, validation e

[2022-01-06 18:19] atiratree commented on #106697
The progressDeadlineSeconds and ProgressDeadlineExceeded in Progressing condition applies only mid rollout. You can check if you are in a rollout with `kubectl rollout status deployment nginx`

I could not reproduce this one.

In more detail:

#### Repro 1 - A deployment with an invalid image scaling from 0 to 1:

scaling is independent to rollout and `Progressing`. You can scale at any point in t

[2022-01-06 18:19] liggitt commented on #107319
Changing this from bug to feature, since it's asking to add endpoint-specific server-side logic into fake clients.

[2022-01-06 18:23] liggitt commented on #107285
I'm not in favor of increasing the cost of server-side field selector evaluation for this... requiring selector values to use exact matches doesn't seem especially onerous

[2022-01-06 18:27] sftim commented on #107285
If the API provided a way for clients to discover the available values for enum-type fields, that might allow for a client-side hint that the match is likely to fail. Maybe that's a way to help end users in this situation?

[2022-01-06 18:34] atiratree commented on #103450
@dhilipkumars I have tried to reproduce this as described but came to a same conclussion as @yuswift and am not seeing an issue here.

also seeing from your output and yaml: your rollout was not successful (did not complete) yet

My test run:

[code]

[2022-01-06 18:46] Saty248 commented on #92090
hey @neolit123 is this issue still open?

[2022-01-06 19:07] atiratree commented on #105842
I am sorry, but I could not reproduce this one (albeit with different image and lower progressDeadlineSeconds timeout). Can you please give a more verbose output what has happened? Full deployment and all ReplicaSets YAMLs? Also events would be helpful.

It would be helpful if you could write a scripted to reproduce this and tell us how often it happens in your environment.

[2022-01-06 19:15] Huang-Wei commented on #106127
Not sure it's a good idea to "introduce" another parser layer for wildcard. We'd better simply derive the semantics to `v1.Taint`.

I'm fine with either as long as the overall semantics is intrusive.

Yes, `Effect` to be only `NoSchedule`.

It's not about a particular taint. Typically users may specify the system-generated taints out there. They key point is based on Jordan's https://github.com/ku

[2022-01-06 19:15] jsturtevant opened #107394 "Garbage collector should orphan pods created by rc if delete options say so on Windows causes flakiness"
### Which jobs are flaking?

https://testgrid.k8s.io/sig-windows-master-release#capz-windows-containerd-master

### Which tests are flaking?

it is random but I did some analysis here: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1932#issuecomment-1006759077

Once I disabled these tests I've seen test success improve.

### Since when has it been flaking?

since this job was e

[2022-01-06 19:17] jpbetz commented on #106437
cc @liggitt @alculquicondor Is there a preferred quoting pattern to use in APIs going forward? We've got some APIs that we'd like to get right.

[2022-01-06 19:23] alculquicondor commented on #106127
`taintsWhenUntolerated` or `untoleratedTaints` sgtm. But I think there should be a mechanism to consider all taints.

[2022-01-06 19:29] Huang-Wei commented on #106127
If we name it `nodesInclusion`, yes; but for `nodesExclusion`, default case (nil slice) means to consider all taints :)

[2022-01-06 19:29] alculquicondor commented on #106437
If SIG docs has the intention of adding a markdown parser to the go docs, I'm all down for it. In that case, you should probably use backticks.

[2022-01-06 19:31] alculquicondor commented on #106127
is that assuming that, if you want the existing behavior, you leave `nodesExclusion` as `nil`?

[2022-01-06 19:33] Huang-Wei commented on #106127
Yes, I'm afraid that should be the default behavior, in terms of API compatibility.

[2022-01-06 19:35] andrewsykim commented on #107387
From glancing at the job controller code, it seems like it handles changes in activeDeadlineSeconds and will extend the deadline accordingly based on the difference between the old and new:

https://github.com/kubernetes/kubernetes/blob/80c01707e0e91ce828125f23576e2b96019e3867/pkg/controller/job/job_controller.go#L412-L420

So I _think_ it doesn't delete existing pods, but will extend the active d

[2022-01-06 19:35] Dani-Ionescu commented on #107388
Hello @liggitt ,

No, I do not populate the namespace with anything.

`[root@k8s-master-node ~]# kubectl create namespace dad
namespace/dad created
[root@k8s-master-node ~]# kubectl get pods -n dad
No resources found in dad namespace.
[root@k8s-master-node ~]# kubectl delete namespace dad
namespace "dad" deleted
^C
[root@k8s-master-node ~]# kubectl get namespaces dad
NAME   STATUS        AGE
dad

[2022-01-06 19:37] liggitt commented on #107388
whether or not you've populated the namespace with anything doesn't matter... the namespace controller has to *verify* no instances of any resources are in the namespace, so all APIs must be reachable. did the example command in https://github.com/kubernetes/kubernetes/issues/107388#issuecomment-1006803606 complete successfully?

[2022-01-06 19:38] liggitt commented on #107388
also, if you get the namespace, are there any details in namespace status to indicate why the controller isn't cleaning it up? `kubectl get namespace $namespace -o yaml`

[2022-01-06 19:38] Dani-Ionescu commented on #107388
Hm interesting:

[code]

[2022-01-06 19:39] liggitt commented on #107388
Bingo.

[2022-01-06 19:41] Dani-Ionescu commented on #107388
Thx a lot, I will investigate more.

[2022-01-06 19:42] liggitt commented on #107388
Sounds good

/close

[2022-01-06 19:42] #107388 closed

[2022-01-06 19:44] alculquicondor commented on #106127
I think we should have a `TaintStrategy` field AND a list instead.

Similar to how we have `DefaultingType` and `DefaultConstraints` in `PodTopologySpreadArgs` (when type is `System`, `DefaultConstraints` is validated to be empty).

The strategies could be: `IgnoreTaints` (default), `RespectAllUntoleratedTaints`, `RespectExplicitUntoleratedTaints` (names could be improved. The list can only be emp

[2022-01-06 19:46] marosset commented on #107258
Also please include information about how the kubelet is configured on the node (are you running it with nssm, native windows service manager, ect)

It seems like the kubelet may be trying to start without elevated permissions

[2022-01-06 19:50] npnwdev commented on #107147
I guess it's the propagation delay. before object BB is deleted, my controller tries to create one (assuming it'd have been removed by GC) so it ends up updating object BB with ownerReference to new-AA and BB never gets deleted.

I tried deleting with `--cascade=foreground` and found `BB` is always deleted.
So I guess the problem can be fixed by using the `foreground` policy.

I'm not sure how i c

[2022-01-06 19:51] Huang-Wei commented on #106127
SG. Just a qq: `TaintStrategy` as the top-level field, or under nodesInclusion/nodesExclusion? I'm inclined to make **all** implicit nodes selection logic explicit, i.e., putting `TaintStrategy` under the so-called "advanced nodes selection/exclusion" field so we don't have any hidden/surprising implication.

[2022-01-06 19:55] alculquicondor commented on #106127
Agree that everything should be explicit. And better to place everything inside the new struct.

[2022-01-06 20:11] jsturtevant commented on #107394
Interesting thing I found when running this again was some of the containers are never cleaned up:

[code]

Container failed to start:

[code]

but also failed to be killed:

[code]

The containerdshims were shut down (the ones shown here map directly to the system containers running, kubeproxy and calico cni):

[code]

and so resources are leaked similiar too https://github.com/kubernetes/kuberne

[2022-01-06 20:15] neolit123 commented on #92090
Hello. The parent issue is still not resolved:
https://github.com/kubernetes/committee-security-response/issues/56

But am ok with closing this particular issue given we are changing the mechanism and that cluster bootstrap is a low noise repository.

/close

[2022-01-06 20:15] #92090 closed

[2022-01-06 20:33] jsturtevant commented on #107394
I was able to replicate the flakiness by runinng:

[code]

Waiting for it to complete:

[code]

The while system is under load running:

[code]

Failed some of the tests:

[code]

[code]

[2022-01-06 20:50] sftim commented on #106437
Folks who contribute to that SIG are more likely to be tech writers than Go coders, I'm afraid! (If I were making something, I'd borrow the way Rust does it: https://doc.rust-lang.org/rust-by-example/meta/doc.html)

[2022-01-06 20:56] atiratree commented on #106054
@soltysh since we are trying to be analogous to the Deployment `Progressing` conditions in other workloads, it probably doesn't make sense to bring new behaviours to the KEP at the moment

[2022-01-06 20:56] caseydavenport commented on #106161
/triage accepted

[2022-01-06 20:56] atiratree commented on #106054
@wking I am trying to document the current behaviour in more detail here: https://github.com/kubernetes/website/pull/31226

Regarding the proposed changes to the `Progressing` condition or introducing a new condition, I think it makes sense to wait for more input / interest from the community before committing to such a change.

[2022-01-06 21:02] caseydavenport commented on #106024
@jabdoa2 wouldn't this easily be resolved by running a second replica?

I understand you're trying to conserve resources, but this is exactly the problem that replication is designed to solve, no?

[2022-01-06 21:04] caseydavenport commented on #106198
/kind support

[2022-01-06 21:06] caseydavenport commented on #106198
I believe you're looking for this, which explains the proper way to create manual endpoints for services without selectors: https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors

/close

[2022-01-06 21:06] #106198 closed

[2022-01-06 21:09] ryanpeach commented on #81723
In case anyone needs a temporary solution to logging pod statuses, for example to a log server for later investigation, this is what I've done:

[code]

[2022-01-06 21:10] caseydavenport commented on #107008
/triage accepted

[2022-01-06 21:14] jabdoa2 commented on #106024
Sure that would be a way for services which can be replicated. However, a very expensive one for low util ressources. Furthermore, some services do not support replication (or would need six times the resources for additional consensus nodes). A lot of deployments around here run additional nodes which are excempt from autoscaling to reduce those kinds of downtimes.

The issue here are not unplann

[2022-01-06 21:15] fedebongio commented on #107203
/assign @caesarxuchao
/triage accepted

[2022-01-06 21:16] fedebongio commented on #107277
/cc @lavalamp @deads2k
/triage accepted

[2022-01-06 21:17] fedebongio commented on #107282
Glad you were able to fix it! Thank you for letting us know!
/triage accepted
/close

[2022-01-06 21:19] fedebongio commented on #107285
/triage accepted

[2022-01-06 21:19] #107282 closed

[2022-01-06 21:20] fedebongio commented on #107313
/triage accepted

[2022-01-06 21:23] fedebongio commented on #107319
/help
/triage accepted

[2022-01-06 21:23] fedebongio commented on #107319
@MadhavJivrajani are you planning to work on this one? Thank you!

[2022-01-06 21:24] fedebongio commented on #107376
/cc @yliaog
/triage accepted

[2022-01-06 21:24] fedebongio commented on #107222
/triage accepted

[2022-01-06 21:24] fedebongio commented on #107301
/triage accepted

[2022-01-06 21:24] fedebongio commented on #107310
/triage accepted

[2022-01-06 21:35] caseydavenport commented on #107079
For what it is worth, a given pod sandbox IP won't change, but a pod IP in the k8s API may still change depending on the network plugin implementation. e.g., if the pod sandbox needs to be restarted a new IP may be assigned without termination of the pod in the Kubernetes API, so we can't assume the pod IP will never change in the API.

I can imagine some more complicated network plugins that are

[2022-01-06 21:42] thockin commented on #107139
I'm going to close this, to take it off the list, but the conversation can continue.  It doesn't seem to be a k8s bug.

[2022-01-06 21:42] #107139 closed

[2022-01-06 21:51] thockin commented on #107079
Is the env var a sufficient workaround?  To add something like proposed would be aa KEP and a couple cycles to change API.   Not impossible but a lot of work for something which has a workaround...

[2022-01-06 21:56] thockin commented on #106976
I support finding a way to get to the end-state of not supporting nodeports on localhost, but I don't know the path.

[2022-01-06 21:58] dcbw commented on #107371
@silenceper yes, this is a problem in the CNI plugin. CNI plugins are required to be resilient on delete, and still clean things like IP allocations up even when other parts of cleanup fail. In this case, the bug should lie with flannel. Let's close this Kube issue and follow up with the CNI one. Thanks!
/close

[2022-01-06 21:58] #107371 closed

[2022-01-06 22:01] thockin commented on #106951
First, great bug report, thanks.

I can't fathom how a node joining causes a coordinated DNS outage across other nodes.  Is anyone who works on cilium able to take a look?

[2022-01-06 22:03] thockin commented on #106864
@aojea want to just triage-accept this?

[2022-01-06 22:06] bridgetkromhout commented on #107275
/assign @bridgetkromhout

[2022-01-06 22:07] aojea commented on #107275
/cc

[2022-01-06 22:09] dcbw commented on #107019
@daschott anyone you know could look at this?

[2022-01-06 22:10] bridgetkromhout commented on #106976
/assign @aojea

[2022-01-06 22:14] dcbw commented on #107019
/triage accepted

[2022-01-06 22:14] bridgetkromhout commented on #106864
/assign @aojea

[2022-01-06 22:14] thockin commented on #106951
@aanm as a sacrificial nomination - any ideas on this?  Could it possibly be Cilium related?  I don't see how it could be anything but a node-agent related..

[2022-01-06 22:15] bridgetkromhout commented on #106603
/assign @bowei

[2022-01-06 22:16] bridgetkromhout commented on #106484
/triage accepted

[2022-01-06 22:17] bridgetkromhout commented on #106480
/assign @danwinship

[2022-01-06 22:18] seocam commented on #78761
You nailed it. After erasing those pods HPA starts to work properly again.

I'm not sure if we shouldn't open another issue for this bug.

Kubernetes version (use kubectl version): v1.21.5-gke.1802
Cloud provider or hardware configuration: GCP GKE
OS (e.g: cat /etc/os-release): Container-Optimized OS from Google
Kernel (e.g. uname -a): 5.4.144+
Metrics-server version:  metrics-server-v0.4.4

[2022-01-06 22:44] krystiannowak commented on #3595
/remove-lifecycle stale

[2022-01-06 22:50] bobbypage commented on #107172
Thanks for catching this @luckerby. A couple questions:

1. Is cAdvisor stats overriding CRI stats consistent with previous behavior? Or is this is a behavior change / regression in 1.23?
2. Are there other fields which have the same behavior, e.g. CPU?

[2022-01-06 23:07] #106176 closed

[2022-01-06 23:11] thockin commented on #106024
This is the logical conclusion of  https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1669-graceful-termination-local-external-traffic-policy - right @andrewsykim  ?

[2022-01-06 23:12] #101029 closed

[2022-01-06 23:56] bobbypage commented on #100241
google/cadvisor#3014 has merged. It will be included in next cAdvisor release and next k8s version (1.24).

If this problem is more widespread we can consider to backport it... is it common to get into case of inotify handles being leaked?

[2022-01-07 00:03] luckerby commented on #107172
@bobbypage For (1) I didn't quite remember, but just saw that in my original post I did mention seeing similar outcomes with  `v1.21.1` when running the same unit test.
For (2) I only focused on memory, but by the looks of the code and the fact that memory and CPU stats are treated rather similarly, I would expect at least CPU stats to have the same problem. Not sure about other stats, and I'd hav

[2022-01-07 00:14] bobbypage commented on #107172
Got it, thanks for the info. We should check (1) so we can understand if this a regression or if this has been the behavior all along.

[2022-01-07 00:18] songlh opened #107396 "goroutine leaks in TestWatchFileChanged()"
### What happened?

If any t.Fatalf() in `func expectUpdate` ([line 363](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/file_linux_test.go#L363) of file pkg/kubelet/config/file_linux_test.go) is triggered, the following send operation on channel ch (or [channel updates](https://github.com/kubernetes/kubernetes/blob/6845df17290505ad6d989463f5bca2fbbd619c03/pkg/kubelet/confi

[2022-01-07 00:54] neolit123 commented on #107368
this is in the framework:
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/test/e2e/framework/log_test.go#L75

/sig testing
/area e2e-test-framework

[2022-01-07 00:55] neolit123 commented on #107372
reported leaks seem to be in apps / network owned controllers.

/sig apps network

[2022-01-07 00:56] neolit123 commented on #107396
reported location is in kubelet.

/sig node

[2022-01-07 01:16] knabben opened #107398 "sessionAffinity TTL expiration not working for Winuserspace"
### What happened?

On `Kube-proxy 1.22` on `winuserspace` with a `NodePort` service I have 2 pods behind the service with `sessionAffinity: clientIP ` and `timeoutSeconds` set.

When doing a request from a source to the NodePort multiple times, the sessionAffinity works as expected. And one of the pod receives all the load.

The issues resides on after 10 seconds (the TTL set in the spec) the cac

[2022-01-07 01:16] knabben commented on #107398
/sig windows
/sig network

[2022-01-07 01:31] jayunit100 commented on #107398
glad we have this aas a placeholder at least - are you moving that to the in-tree kpng implementation ? if so we can delete the code i guess anyways per per https://github.com/kubernetes/kubernetes/issues/103860

[2022-01-07 01:48] Lantern-r commented on #107387
But the job will not stop. In my example, the job's age is 13m when the activeDeadlineSeconds has been changed to 31s.

[2022-01-07 01:53] Lantern-r commented on #107387
However, it is true that if activedeadlineseconds is changed to a value smaller than age at this time, the job will immediately turn to the failed state.

[2022-01-07 02:13] tanguofu commented on #107202
it is started by systemd as follows:
[code]

[2022-01-07 02:16] kerthcet commented on #104335
/remove-lifecycle stale

[2022-01-07 02:51] andrewsykim commented on #107387
Gotcha -- I think this could be related to this issue then https://github.com/kubernetes/kubernetes/issues/107226

[2022-01-07 02:57] pacoxu commented on #99183
@xinfengliu  I will send a PR for it. But it still needs to be reviewed and approved by sig-node approvers. I will try to push this forward.

[2022-01-07 02:58] pacoxu commented on #99183
@xinfengliu  I will send a PR for it. But it still needs to be reviewed and approved by sig-node approvers. I will try to push this forward.

[2022-01-07 03:16] xinfengliu commented on #99183
@pacoxu Thank you so much!

[2022-01-07 03:21] knabben commented on #107398
https://github.com/kubernetes/kubernetes/blob/c92036820499fedefec0f847e2054d824aea6cd1/pkg/proxy/winuserspace/roundrobin.go#L152

`state.affinity.ttlSeconds` are the default 10800 and not using the service config.

[code]

[2022-01-07 04:02] kerthcet commented on #101820
/remove-lifecycle rotten

[2022-01-07 04:04] yue9944882 commented on #107238
@MikeSpreitzer sure thing i just corrected the misguiding line in the issue. let me know if there's anything else i need to fix!

[2022-01-07 04:16] MadhavJivrajani commented on #107319
Hey @fedebongio,
Yes, I was hoping to work on this - however i won't be able to hit the ground running, if this is of importance and someone with more context is willing to take it up, please feel free to assign them!

[2022-01-07 05:03] cafruv commented on #79224
configuration is not key/value pair data? If I want to refer a value in a secret, I can do it in the way I posted in the snapshot picture. Why bother to put that value in a configmap. The easiest way to use key value pair data is by env variables. Configuration is a indirect way which is not necessary at all. So Fake problem

Outlook for iOS<https://aka.ms/o0ukef> を入手
_____________________________

[2022-01-07 05:07] cwyj opened #107401 "how can i set replicated Pods create rate or freeze time?not HPA"
I create a deployment or StatefulSet with 3 replicates.i wangt it create replicates one by one,not at the same time.does it support set create rate or create freeze time?

[2022-01-07 05:12] cwyj commented on #107401
/sig Apps

[2022-01-07 05:48] cafruv commented on #79224
Let me be more clear, if a configuration can’t reference an environment variable, it’s better to change the code to make it possible

Outlook for iOS<https://aka.ms/o0ukef> を入手
________________________________
差出人: Yau William ***@***.***>
送信日r: Friday, January 7, 2022 2:03:34 PM
宛先: kubernetes/kubernetes ***@***.***>; kubernetes/kubernetes ***@***.***>
CC: Comment ***@***.***>
件名: Re: [kubernete

[2022-01-07 06:42] pacoxu commented on #103500
/remove-lifecycle stale

[2022-01-07 06:43] pacoxu commented on #103500
/triage accepted
We meet the same issue.

[2022-01-07 06:47] pacoxu commented on #103500
/sig node
We are using the api(not kubectl).

[2022-01-07 06:52] Shubham82 commented on #107031
Hi @liggitt
I would like to work on this.
/assign

[2022-01-07 06:54] Shubham82 commented on #107031
I will open an issue for it in Kubernetes/website repo.

[2022-01-07 07:04] Prateeknandle commented on #57904
hi,  I'm getting the same issue but it's not getting resolved, when I run `systemctl start kubelet.service` I got `Failed to start kubelet.service: Unit kubelet.service not found`

[2022-01-07 07:17] kerthcet commented on #106127
[code]
what about this?

[2022-01-07 08:04] linastehle commented on #107333
Thanks for the hint. The warning `tar: Removing leading `/' from member names` is a [known issue](https://github.com/kubernetes/kubernetes/issues/58692) and I was just ignoring it in my case.
This issue is about the error message `error: archive/tar: invalid tar header` and the command exiting with a non-zero exit code.

[2022-01-07 08:11] #104213 closed

[2022-01-07 08:35] Msunshineboy opened #107403 "pod creation error: cgroup-parent for systemd cgroup should be a valid slice named as "xxx.slice""
### What happened?

when I change /etc/docker/demon

{
 "exec-opts":["native.cgroupdriver=systemd"]
}
I describe the error pod pod/kube-proxy-zq5dk

Events:
  Type     Reason                  Age                    From               Message
  ----     ------                  ----                   ----               -------
  Normal   Scheduled               <unknown>              default-schedul

[2022-01-07 08:37] Kartik494 commented on #105129
closing the issue in reference of [conversation](https://github.com/kubernetes/kubernetes/pull/106489#discussion_r780079899).
/close

[2022-01-07 08:41] Kartik494 commented on #105129
Hi @pzheng1025 We should close this issue now as per [discussion](https://github.com/kubernetes/kubernetes/pull/106489#discussion_r780079899) this a legit behaviour , not a bug

[2022-01-07 08:47] Alestrix commented on #79224
Change all the programs to fit the kubernetes way instead of vice versa? Apart from this being a total waste of resources, there is a plethora of of reasons why changing the code isn't always possible.

[2022-01-07 08:51] phil9909 commented on #99697
@wzshiming any updates on this?

[2022-01-07 08:53] 249043822 commented on #107396
t.Fatalf() will exit current process, any problem?

[2022-01-07 08:54] afbjorklund commented on #106917
It seems like dockershim is still in `crictl`:

[code]

`WARN[0000] runtime connect using default endpoints: [unix:///var/run/dockershim.sock unix:///run/containerd/containerd.sock unix:///run/crio/crio.sock]. As the default settings are now deprecated, you should set the endpoint instead.`

Part of the new (for Docker users) cri-tools requirement...

[2022-01-07 08:54] andiolsi commented on #79224
@Alestrix yes. All them codes. Prometheus is a superb example where the entire configuration file would fit perfectly into environment variables. We just have to open our minds ... and use Outlook on iOS, it would seem.

[2022-01-07 08:57] aojea commented on #107275
I think that this is a duplicate of
https://github.com/kubernetes/kubernetes/issues/85499
It also has a  PR to fix it
https://github.com/kubernetes/kubernetes/pull/92210

[2022-01-07 09:03] songlh commented on #107396
@249043822 t.Fatalf() only terminates one goroutine.

[2022-01-07 09:04] pandaamanda commented on #107403
@Msunshineboy  please check param --cgroup-driver of kubelet, it should be same with docker(here you set cgroupdriver=systemd )

[2022-01-07 09:08] aojea commented on #107275
/triage accepted

I think we should remove that log line, is not meaningful

https://github.com/kubernetes/kubernetes/pull/92210#issuecomment-1007246642

[2022-01-07 09:18] devedse commented on #107079
By an ip address change I actually meant a **Host** ip address change. Will K8S automatically update the hosts inside the pod if this happens?

[2022-01-07 09:26] jsafrane commented on #94128
Rounding in the external-provisioner was removed in PR https://github.com/kubernetes-csi/external-provisioner/pull/541.

[2022-01-07 09:31] sftim commented on #107031
/transfer website

[2022-01-07 09:33] Msunshineboy opened #107404 "When I join The cluster"
### What happened?

[root@node01 amax]# kubeadm join 10.16.0.78:6443 --token kydz6y.ex2t63no93qm8bvt     --discovery-token-ca-cert-hash sha256:5a811dc96bda254a2bd5f7fcd51997252caaa9cd5306600909a3c75b41de9fdc
[preflight] Running pre-flight checks
        [WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup driver. The recommended driver is "systemd". Please follow the guide at h

[2022-01-07 09:50] pacoxu commented on #106738
/transfer-issue kubectl

[2022-01-07 10:21] pacoxu commented on #107403
/remove-kind bug
/kind support
BTW 1.16 is not supported and End of life. Please try a newer version.

If installing using kubeadm, specifying the cgroup driver to use the same as docker is needed.

[2022-01-07 10:22] pacoxu commented on #107403
/retitle pod creation error: cgroup-parent for systemd cgroup should be a valid slice named as "xxx.slice"

[2022-01-07 10:22] pacoxu commented on #107403
/retitle pod creation error: cgroup-parent for systemd cgroup should be a valid slice named as "xxx.slice"

[2022-01-07 10:31] aojea commented on #107266
yeah, that should be added by default

https://github.com/kubernetes/kubernetes/blob/2af53e9f64eee81a09fd0fd1f0fc96ce0859eb0f/staging/src/k8s.io/apimachinery/pkg/util/net/http.go#L180-L189

[2022-01-07 10:58] pacoxu commented on #107404
/kind support
/remove-kind bug

###  [WARNING IsDockerSystemdCheck]

The container runtime and kubelet should use the same cgroup driver.

### [WARNING SystemVerification]:

https://github.com/kubernetes/system-validators/pull/23
Kubernetes 1.21 started to add docker 20.10 to a valid list. You are using 1.19.

### [WARNING Hostname]: hostname "node01"

https://github.com/kubernetes/kubernetes/blob

[2022-01-07 11:07] ialidzhikov opened #107405 "azure: PV hangs forever in failed deletion because the underlying disk is not found"
### What happened?

The fix from https://github.com/kubernetes/kubernetes/pull/102083 seems to be incomplete/wrong. When disk is not found, the GET call for the disk fails with `404 Not Found` and it is not even reaching the DELETE call.

### What did you expect to happen?

PV to be deleted (its `kubernetes.io/pv-protection` finalizer to be removed) when the underlying disk is already gone.

### H

[2022-01-07 11:09] ialidzhikov commented on #107405
/sig cloud-provider
/sig storage
/area provider/azure
/cc @andyzhangx

[2022-01-07 11:14] andyzhangx commented on #107405
this issue was fixed in CSI driver:
https://github.com/kubernetes-sigs/cloud-provider-azure/blob/b92ed5195629b5eb0dbae90b5ea9e9d1adc6ab26/pkg/provider/azure_managedDiskController.go#L267-L269

what k8s version are you using now?

[2022-01-07 11:15] ialidzhikov commented on #107405
1.19.15

PS: This detail is provided in the issue itself. :)

[2022-01-07 11:17] Martin-Hogge commented on #70732
Same issue on kubernetes version `1.19.14-gke.1900`.

[2022-01-07 11:30] andyzhangx commented on #107405
https://github.com/kubernetes/kubernetes/pull/107406 should fix this issue, once it's merged into master branch, I will cherry pick to 1.23, 1.22, 1.21, and for the other versions, I think you need to patch with this PR by yourself, thanks.

[2022-01-07 12:23] mrueg commented on #64616
/remove-lifecycle stale

[2022-01-07 13:14] gjkim42 commented on #107396
/triage accepted

[2022-01-07 13:35] Msunshineboy opened #107407 "When I join cluster"
### What happened?

I have these error

[kubelet-start] Waiting for the kubelet to perform the TLS Bootstrap...
[kubelet-check] Initial timeout of 40s passed.
[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get "http://localhost:10248/healthz": dial tcp [::1]:10248: connect: con

[2022-01-07 14:51] alculquicondor commented on #106127
We can continue this discussion in the KEP PR, but:
- I prefer positive wording (inclusion, rather than exclusion)
- Avoid bools, use enums instead (ex: nodeAffinityPolicy: Ignore/Respect)
- NodeAffinity and NodeSelectors are the same thing. One API is just more expressive than the other, but there shouldn't be separate controls for them.

Separate discussion (also for the KEP): do we really need

[2022-01-07 15:13] #104013 closed

[2022-01-07 15:18] ahg-g commented on #107198
Is the flake fixed now?

I discussed this with @soltysh over chat before the holidays, ideally we should try to create a patch for the update. Currently cronjob doesn't retry updates at all.

[2022-01-07 15:27] gjkim42 commented on #107396
I think the goroutines leak anyway regardless of closed channel, and kubelet does not need to clean up those goroutines except for tests.

/remove-triage accepted

[2022-01-07 15:28] marckhouzam commented on #74178
It would be nice if some plugin developers try out the solution proposed in https://github.com/kubernetes/kubernetes/pull/105867 and provide feedback.

@corneliusweig since `get-all` uses Cobra, the solution is very easy.  Here is how to try it out:
First build kubectl with the PR
[code]
put this new `kubectl_complete-get_all` on $PATH.

And now test using the newly built `kubectl` (I build mine a

[2022-01-07 15:52] jayunit100 opened #107409 "hardcoded IP in the e2es , should we make it dynamic?"
### What happened?

Right now we hardcode an ip in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L1198

[code]

### What did you expect to happen?

Id assume someone in an environment with an `203.0.113.250` ip address, or with firewalls that dont allow certain ip ranges ... this would i think fail?

### How can we reproduce it (as minimally and precisely as poss

[2022-01-07 15:52] jayunit100 commented on #107409
/sig network

[2022-01-07 16:20] acumino commented on #107313
What to expect with v1alpha1?

[2022-01-07 16:35] stasyanich commented on #69697
1. escaping quotes
2. single quotes -> quotes

[2022-01-07 16:36] stasyanich commented on #69697
`kubectl patch pv <pvname> -p "{\"metadata\":{\"finalizers\":null}}"`

escaping quotes
single quotes -> quotes

[2022-01-07 16:39] alculquicondor commented on #17244
@gaocegege, I'm revisiting this feature request again.

How do you determine which exit codes are acceptable to retry? Are these "retryable" exit-codes coming from the tensorflow framework?

We have a customer that would like to abort on any container error, which they consider "user error". But if the pod was killed due to Eviction or Shutdown, they would like retries. This is visible in the pod.

[2022-01-07 16:52] alculquicondor commented on #17244
@soltysh, what was the usefulness of this below?

Note that in 1.23+, we can issue a pod deletion from the job controller and the failure count won't be lost. So we have options today :)

I'm thinking that, even if the Pod has a restart policy `OnFailure`, the job controller can still inspect the exit codes and issue a pod deletion and terminate the job.

[2022-01-07 16:54] Tamas-Biro1 commented on #103742
/remove-lifecycle rotten

Checking the latest failure run today (at 2022-01-07 12:51:53 +0000 UTC, see:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-node-killer/1479435132900216832)

**The failure was:**
`W0107 13:29:56.507588 15192 simple_test_executor.go:175] Got errors during step execution: [measurement call TestMetrics - TestMetrics error: [action

[2022-01-07 17:25] alculquicondor commented on #107198
Actually, it's safer to discard the update and retry the whole sync, in the case of conflict. Basically, something changed and the controller can no longer be confident of the calculations done in the current sync. Although this was specially true for the job_controller, where the status is used as input.

The cherry-picks are up for review (linked in #107200)

[2022-01-07 17:25] dhilipkumars commented on #103450
@atiratree are you trying in a kind cluster? yeah its not an easy recreate, it doesn't happen all the time.

[2022-01-07 17:49] ahg-g commented on #107198
ok, make sense.

btw, I noticed in the new cronjob controller that we may update the status of the same cronjob more than once in the same sync cycle, also it seems that there are code paths that may lead to issuing status updates when there was no change at all. I think it is worth looking at that controller again to see if those cases are actually true and can be optimized.

[2022-01-07 17:55] ahg-g opened #107411 "Optimize cronjob controller status updates"
### What would you like to be added?

cronjob controller may send more than one status update to the api-server for the same cronjob in the same cycle. Ideally the controller should be sending one per cronjob per cycle.

This was evident from the bug in https://github.com/kubernetes/kubernetes/pull/104799, which wouldn't have existed if the controller was making a single update call.

### Why is t

[2022-01-07 17:55] ahg-g commented on #107198
created https://github.com/kubernetes/kubernetes/issues/107411

[2022-01-07 18:06] mmiranda96 opened #107412 "Job kubelet-gce-e2e-swap-ubuntu failing"
### Which jobs are failing?

kubelet-gce-e2e-swap-ubuntu ([config source](https://github.com/kubernetes/test-infra/blob/eaeb5fa7980680e5db6cb6e80bae7dcd63663694/config/jobs/kubernetes/sig-node/containerd.yaml#L1276))

### Which tests are failing?

- E2eNode Suite.[sig-node] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api
- E2eNode Suite

[2022-01-07 18:06] mmiranda96 commented on #107412
/triage accepted
/priority important-soon

[2022-01-07 18:17] unixfox commented on #62078
/remove-lifecycle stale

[2022-01-07 18:18] mboutet commented on #74099
/remove-lifecycle rotten

[2022-01-07 18:42] tnqn commented on #107170
I met the same error and I confirmed the node port was not used by any other process.
After looking into the code, I think this is a bug in kube-proxy that it would try to open a node port twice with same (empty) IP and port when `--nodeport-addresses` is empty. `nodeAddresses` contains `IPv4ZeroCIDR` and `IPv6ZeroCIDR` in below code.:
https://github.com/kubernetes/kubernetes/blob/7846bbbda0ab921d

[2022-01-07 18:47] andrewsykim commented on #107387
Looks like https://github.com/kubernetes/kubernetes/pull/97101 is the corresponding fix, which is waiting for a review. Going to close this issue for now as a duplicate but feel free to re-open if necessary

[2022-01-07 18:47] andrewsykim commented on #107387
/close

[2022-01-07 18:47] #107387 closed

[2022-01-07 18:49] alculquicondor opened #107414 "Flaky unit test: Test_Run_OneVolumeDetachFailNodeWithReadWriteOnce"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

Test_Run_OneVolumeDetachFailNodeWithReadWriteOnce

### Since when has it been flaking?

Jan 7th, 2022

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-unit&include-filter-by-regex=Test_Run_OneVolumeDetachFailNodeWithReadWriteOnce

### Reason for failure (if possible)

reconcil

[2022-01-07 19:09] BenTheElder commented on #107377
/remove-sig testing
/sig storage

[2022-01-07 19:11] BenTheElder commented on #107239
/sig api-machinery
/remove-sig testing

[2022-01-07 19:12] BenTheElder commented on #106640
/sig windows
/remove-sig testing

[2022-01-07 19:14] BenTheElder commented on #106718
FWIW single node clusters can't pass conformance tests, let alone the entire test suite. This is known and considered "working as intended" (and there's a lot of existing discussion about this).

[2022-01-07 19:25] BenTheElder commented on #100273
/lifecycle frozen

[2022-01-07 19:29] skillcoder commented on #28321
/reopen

[2022-01-07 19:30] ahg-g commented on #107411
/help

[2022-01-07 19:33] ehashman commented on #107403
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/close

[2022-01-07 19:33] #107403 closed

[2022-01-07 19:33] ehashman commented on #107404
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/close

[2022-01-07 19:33] ehashman commented on #107407
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/remove-kind bug
/kind support
/close

[2022-01-07 19:33] #107404 closed

[2022-01-07 19:34] #107407 closed

[2022-01-07 19:56] alculquicondor commented on #107294
/sig api-machinery

[2022-01-07 20:17] #103255 closed

[2022-01-07 20:46] aojea commented on #107409
that will not fail because it test precisely that the traffic doesn't leave the cluster

[2022-01-07 20:47] aojea commented on #107409
the IPs are also picked from reserved ranges

https://github.com/kubernetes/kubernetes/blob/8691d6e1eb0e9b0b0b4e61f11e4ade9a0cedac0d/test/e2e/network/service.go#L1194-L1196

[2022-01-07 20:48] aojea commented on #107409
/close
:smile:

[2022-01-07 20:48] #107409 closed

[2022-01-07 20:55] aojea commented on #107079
I may be miss something sorry, but is not possible to use Services to expose those pods, those guarantee that are resolvable by DNS and are independent of pod ips changes

[2022-01-07 21:02] songlh commented on #107360
@pacoxu the test can pass.

[2022-01-07 21:09] jayunit100 commented on #107409
i saw it failing internally for other reasons (a borked proxy), and was then wondering about it.  in any case, since this goes *through* the service proxy, it seems that a firewall rule could prevent this from working, but, im not sure.

i dont have a  concrete reproducer though, so fair to close i guess.

[2022-01-07 21:13] jcstanaway opened #107415 "kube-scheduler panics on malformed label"
### What happened?

A deployment was inadvertently created with a malformed label in `requiredAffinityTerms` which appears to have caused the kube-scheduler to panic and crash.

Error from kube-scheduler pods:
[code]

Events from REDACTED pod:
[code]

### What did you expect to happen?

kube-scheduler should not panic.

### How can we reproduce it (as minimally and precisely as possible)?

Submit

[2022-01-07 21:15] haircommander commented on #94825
turns out we ended up being blocked on https://github.com/google/cadvisor/pull/3018, so the fix has yet to be merged. let's push for it in 1.24

[2022-01-07 21:15] aojea commented on #107409
some CNI or services proxies send the traffic off the cluster and loop it back, ExternalIP is not great defined, this test what works for kube-proxy, it actually worked differently depending on the pod attached to a bridge or using ptp

[2022-01-07 21:18] jcstanaway commented on #107415
/sig scheduling

[2022-01-07 22:07] knabben commented on #107398
since these modes are deprecated, i will close these issues/PR

[2022-01-07 22:07] #107398 closed

[2022-01-07 22:27] #107170 closed

[2022-01-07 23:49] aanm commented on #106951
@thockin I find this part relevant:

I don't discard a bug that could be caused by an incompatibility between an iptables rule installed by kube-proxy and Cilium. However, this highly depends on the Cilium configuration that is deployed.

@souradeepmoe could you open a GitHub issue on the cilium repository as well and provide a Cilium sysdump of this cluster? It would also be extremely helpful if

[2022-01-08 00:00] khaldelshiekh commented on #54918
Thanks indeed you made my day 100% fixed by using unset http_proxy https_proxy

[2022-01-08 00:54] BenTheElder commented on #107325
xref: https://github.com/kubernetes/kubernetes/issues/94029#issuecomment-892220009 re: compaction interval & automatic compaction

[2022-01-08 02:11] redbaron opened #107417 "Server side apply conflicts with itself"
### What happened?

When resource is created using `POST` call it then can't be updated with SSA  `PATCH` call, even if field manager name for both operations is the same

### What did you expect to happen?

`PATCH` succeeds with no conflicts

### How can we reproduce it (as minimally and precisely as possible)?

Create resource without SSA, but specifying field manager explicitly

[code]

Then up

[2022-01-08 02:13] redbaron commented on #107417
/sig api-machinery

[2022-01-08 02:14] redbaron commented on #107417
/wg api-expression

[2022-01-08 03:34] jyller opened #107418 "Unable to connect to the server: net/http: TLS handshake timeout"
### What happened?

**os:  centos 7.9
kernel: 3.10.0-1160.el7.x86_64
kubernetes version: 1.23.1**

**master  server**
[code]

**The cluster is**
mastera 192.168.1.9
masterb 192.168.1.10
masterc 192.168.1.11
worka    192.168.1.7
selinux firewall iptables swap all disabled

**master Indicates the status of each component**
[code]

**node Indicates the status of each component**

[code]

**kubeconfig

[2022-01-08 03:34] Zheaoli commented on #107415
/assign

[2022-01-08 03:35] Zheaoli commented on #107415
Would you mind to give us a deployment demo which can cause panic and tell us what k8s version you use?

[2022-01-08 03:42] jyller commented on #107418
curl api server all PR_END_OF_FILE_ERROR

[code]

[2022-01-08 03:43] jyller commented on #107418
master server memery all 8G , and all disable SELINUX firewall iptables Swap

[2022-01-08 03:47] jyller commented on #107418
[code]

[2022-01-08 04:48] jyller commented on #107418
install cni TLS handshake timeout
···
[root@192 ~]# kubectl --kubeconfig=/etc/kubernetes/kubeconfig  apply -f "https://docs.projectcalico.org/manifests/calico.yaml"
Unable to connect to the server: net/http: TLS handshake timeout
···

[2022-01-08 06:29] sanposhiho commented on #107415
The first error log is from here:
https://github.com/kubernetes/kubernetes/blob/v1.20.13/pkg/scheduler/internal/queue/scheduling_queue.go#L547

When `LabelSelectorAsSelector` returns error, selector will be nil:
https://github.com/kubernetes/kubernetes/blob/v1.20.13/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/helpers.go#L34-L70

Returned `selector` is passed to `util.PodMatchesTermsNamespaceA

[2022-01-08 07:24] #98714 closed

[2022-01-08 08:07] Zheaoli commented on #107415
@sanposhiho

If your thoughts are right, this bug still exists in the newest version in the master branch. PTAL here https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/types.go#L201-L206

I would like to make a PR to add an extra nil check. But maybe we should add validation to check the selector when people apply a config.

[2022-01-08 08:18] #107418 closed

[2022-01-08 08:19] jyller commented on #107418
KUBE_API_ARGS etcd url error

[2022-01-08 09:01] segevfiner commented on #95712
/remove-lifecycle stale

[2022-01-08 09:10] sanposhiho commented on #107415
This `AffinityTerm` struct is created in this `newAffinityTerm` func and `newAffinityTerm` correctly handles error from `LabelSelectorAsSelector`, doesn't it?
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/types.go#L253
I think this bug doesn't exist on latest master branch.

[2022-01-08 09:13] souradeepmoe commented on #106951
Thanks @thockin for the appreciation. We did quite a lot of debugging within our org, and then reached out here, to the kubernetes community for support as we faced dead ends.

A note here, the node joining didn't cause a coordinated DNS outage. Rather, all the cluster nodes already had an outage with the DNS. We tested that as the node joins the cluster, the node also shows the same behavior.

@a

[2022-01-08 10:31] D1StrX commented on #107082
This not a support question. This is an ongoing bug which cannot be workaround by adding/altering a service file for a lot of distros. Even here on Docker it's Github this issue is mentioned, without a working solution. https://github.com/docker/for-linux/issues/679

[2022-01-08 11:25] #103936 closed

[2022-01-08 11:59] redbaron commented on #107255
I ended up removing liveness probes from all containers, especially statefull ones. I am yet to see a non hypothetical situation where conatiner restart prevented  downtime, but seen too many when it caused it.

[2022-01-08 12:04] Zheaoli commented on #107415
Yes you are right, I think this issue no longer exists since https://github.com/kubernetes/kubernetes/commit/c7fef196b60856420ce3f0470acd1093ab1d9b5f

[2022-01-08 12:11] OliverCole commented on #87149
/remove-lifecycle stale

[2022-01-08 12:13] sanposhiho commented on #107415
Honestly, I don't know much about Kubernetes patch support period.
But, according to the following document, patch support for v1.20 will be until February of this year. So, we may need to fix this issue..?

Latest Release:1.20.14 (released: 2021-12-15)
End of Life:2022-02-28
Patch Releases: 1.20.1, 1.20.2, 1.20.3, 1.20.4, 1.20.5, 1.20.6, 1.20.7, 1.20.8, 1.20.9, 1.20.10, 1.20.11, 1.20.12, 1.20.13,

[2022-01-08 13:18] NoicFank commented on #107255
yes, currently we don't use liveness probe, too. But we need a place to found whether the container is healthy or not (In fact, we need the liveness probe result, but we do not want the container to auto restart).

[2022-01-08 13:30] redbaron commented on #107255
If liveness probe is a network connection to an app, you can create a side container which probes main container and use restart even on a side container as a way to know that main container is in trouble

[2022-01-08 13:38] NoicFank commented on #107255
yeah, thanks for your advice. We do already take this way to get the healthy of container currently, and it's works.

But I'm wonder could we control the actions after liveness failed, so we could use liveness probe to achieve our goal easily.

[2022-01-08 14:16] sftim commented on #67500
/kind feature

[2022-01-08 16:54] redbaron commented on #99003
Got into somewhat similar situation, with exception that `Update` and `Apply` are done by the same manager and still get a conflict. Reported here: https://github.com/kubernetes/kubernetes/issues/107417

[2022-01-08 17:18] redbaron commented on #107417
Looks like a field manager key is not just manager name , but also operation. Is it an oversight or intentional design? Docs say that `Update` is like `Apply`, but can't fail due to conflict and takes ownerhship of changed fields, but as demonstrated by this issue it doesn't do just that, it creates distinct owner with the same name.

[2022-01-08 17:40] hanikesn commented on #69507
/remove-lifecycle stale

[2022-01-08 18:22] sftim commented on #104878
MVP: point out that it's something to consider

[2022-01-08 18:26] #94696 closed

[2022-01-08 18:32] redbaron commented on #25625
/remove-lifecycle stale

[2022-01-08 23:02] endocrimes commented on #104878
There's also https://github.com/containerd/nerdctl#whale-nerdctl-load - (and nerdctl in general) for helping folks through the transition.

[2022-01-08 23:59] bobbypage opened #107425 "cos-cgroupv2-containerd-node-e2e and cos-cgroupv2-containerd-node-e2e-serial jobs are failing"
### Which jobs are flaking?

https://testgrid.k8s.io/sig-node-containerd#cos-cgroupv2-containerd-node-e2e
https://testgrid.k8s.io/sig-node-containerd#cos-cgroupv2-containerd-node-e2e-serial

### Which tests are flaking?

cos-cgroupv2-containerd-node-e2e and cos-cgroupv2-containerd-node-e2e-serial jobs

### Since when has it been flaking?

Failure started since COS M97 image update: https://github.

[2022-01-09 00:04] bobbypage commented on #107425
This should be addressed by https://github.com/containerd/containerd/pull/6418

[2022-01-09 05:12] NikhilSharmaWe commented on #107275
@aojea Just confirming, should I make a PR removing [this](https://github.com/kubernetes/kubernetes/pull/92210#discussion_r780119357) log line.

[2022-01-09 08:20] jyller opened #107428 "Connection to the datastore is unauthorized error=connection is unauthorized: Unauthorized"
### What happened?

Create pod faild because of calico CrashLoopBackOff

[code]

I am a beginner from 0 to install Kubenetes，Maybe this is the installation

[code]

My cluster looks like this

[code]

Calico logs

[code]

### What did you expect to happen?

calico run success

### How can we reproduce it (as minimally and precisely as possible)?

install kubernetes 1.23.1

### Anything else we nee

[2022-01-09 08:32] jyller commented on #107428
calico.yaml was from  "https://docs.projectcalico.org/manifests/calico.yaml"
and changed

apiVersion: policy/v1beta1  =》 apiVersion: policy/v1

reference:  https://www.vmhomelab.org/2021/04/calico-cni-on-kubernetes-1-21/

[2022-01-09 08:42] jyller commented on #107428
[code]

[2022-01-09 08:48] aojea commented on #107428
/remove-kind bug
/kind support

Thanks for reporting the bug but this sounds more like an installation problem with one component

Calico issues should be opened in their own github tracker https://github.com/projectcalico/calico

/close

[2022-01-09 08:49] #107428 closed

[2022-01-09 09:35] #107275 closed

[2022-01-09 09:42] afbjorklund commented on #104878
And there is as well `sudo podman load`, if deciding to replace docker with cri-o instead of replacing docker with containerd.

[2022-01-09 10:08] jyller commented on #107428
I reinstalled calico and running success

[code]

but test-web-api ImagePullBackOff

[code]

[2022-01-09 11:00] jyller opened #107430 "network plugin is not ready: cni config uninitialized"
### What happened?

get po

[code]

describe test-web-api

[code]

### What did you expect to happen?

cni config success

### How can we reproduce it (as minimally and precisely as possible)?

kubernetes1.23.1

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

### Cloud provider

<details>

</details>

### OS version

<details>

[code]

</de

[2022-01-09 11:01] jyller commented on #107430
i directly pull image success
[code]

[2022-01-09 11:17] aojea commented on #107430
@jyller we appreciate your interest in the project but github issues are used to report bugs on the kubernetes code, for helping new users and support them is better to use another channels like:

https://discuss.kubernetes.io/
https://stackoverflow.com/search?q=kubernetes
https://slack.k8s.io/

/close

[2022-01-09 11:17] #107430 closed

[2022-01-09 12:25] rchunping commented on #61117
I have the same issue
the worker node is running at
FreeBSD 10.4 -> bhyve -> CentOS 8
Hardware: Dell R420 , E5-2470v2 * 2 +  64G

the problem was caused by  broken tsc

upgrade VM host to FreeBSD 11.4 fix the issue.

[2022-01-09 12:41] jyller commented on #107430
@aojea  fuck your mather

[2022-01-09 12:42] serathius commented on #105310
/lifecycle frozen

[2022-01-09 12:43] jyller commented on #107430
@aojea Yankee

[2022-01-09 14:00] PriyanshuAhlawat commented on #104432
will like to work on it.
/assign

[2022-01-09 14:45] aojea commented on #107430
@jyller everyone here works on the best interest for users, if I close the issue and give you another links is because you'll receive a better answer on those places ... and most probably this issue will be closed by the bot after a certain period of inactivity.

It's sad that you took my comment as offensive, mainly since was done with the best intention, but your behavior goes against the code o

[2022-01-09 17:32] #103807 closed

[2022-01-09 17:32] redbaron commented on #107417
API server encodes operation into field manager name before passing it to structured-merge-diff:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/buildmanagerinfo.go

[2022-01-09 17:39] jpetazzo commented on #105518
/close

[2022-01-09 17:39] #105518 closed

[2022-01-09 17:46] redbaron commented on #107417
@apelisse , you seem to be the author of  original SSA implementation, which from the start had operation encoded into field manager name. Could you shed some light why `Apply` intended to conflict with `Update` even if done by the same field manager?

[2022-01-09 18:17] zohebs341 commented on #107275
@aojea @NikhilSharmaWe Thank you
It won’t print that line in next k8s version ? Like 1.21.7? Any specific version?

[2022-01-09 18:33] aojea commented on #107275
I have doubts that this qualifies for backporting, because it is only happening if the log level verbosity is 3 or higher, a verbosity level of 2 use to be the default IIRC. Also, It's not impacting any functionality also.

Not backporting this change means that this only be present in current version 1.24, for previous versions people can configure the kube-proxy loglevel verbosity to 2 or lower,

[2022-01-09 20:48] vitobotta commented on #78761
Hi, is it still working for you? I'm in GKE and for example ingress nginx hpa doesn't scale down from the max of 10 replicas to 2 when there is little traffic. It just scales up to the max 10 regardless of what I do. I don't have any pods with those status, and I have tried changing the replicas manually and removing the replicas field from the deployment, but hpa always scales up to the max. Any

[2022-01-09 21:25] aojea commented on #106976
it seems that localhost;nodeport is also used in blogs and forums

https://thorstenalpers.github.io/Docs/how-to-expose-kubernetes-ports.html

https://medium.com/@lizrice/accessing-an-application-on-kubernetes-in-docker-1054d46b64b1

the only tool we have is to add a feature gate and rollout the change in several releases, users can always set the sysctl value by themselves to recover previous beha

[2022-01-09 21:32] #104306 closed

[2022-01-09 21:51] sftim commented on #107417
This might be a docs issue. If so, updates to https://github.com/kubernetes/website/pull/31261 (or a separate PR) might be in order, and also we can /transfer this issue to [k/website](https://github.com/kubernetes/website).

[2022-01-09 22:02] xmudrii commented on #104298
/remove-lifecycle rotten

[2022-01-09 22:13] redbaron commented on #107417
I am not sure it is a docs issue. Current behaviour contradicts documented intent, not just some unclear wording.

To quote docs:

Then it describes what field manager is:

And enumarates ways to communicate field manager to the API server:

And provides example what field manager is:

In the introduction section it is clearly stated that SSA is designed to make multiple collaborators make changes

[2022-01-09 22:39] jurgen-weber-deltatre commented on #105187
/lifecycle stale

[2022-01-09 22:39] jurgen-weber-deltatre commented on #105187
/remove-lifecycle stale

[2022-01-09 23:14] redbaron opened #107434 "Kubernetes behaviour differs from metav1 ManagedFieldsEntry.Time godoc comment"
### What happened?

Godoc says that Time should be empty on mangedFields entry created by "Apply" operation, but kubernetes populates time on apply.

### What did you expect to happen?

Godoc consistent with kubernetes behaviour

### How can we reproduce it (as minimally and precisely as possible)?

Godoc:

https://github.com/kubernetes/kubernetes/blob/559091ba4f36a190e6876e0b164068385a7a992f/stag

[2022-01-09 23:15] redbaron commented on #107434
/wg api-expression
/sig api-machinery

[2022-01-09 23:44] rynowak opened #107435 "Requests proxied from API Server to APIService obfuscate original request hostname"
### What happened?

Requests that are proxied by the APIServer to a custom APIService (aggregation) don't generate the `X-Forwarded-Host` header correctly. Each request will have **both** `Host` and `X-Forwarded-Host` set to ClusterIP IP address of their service.  `X-Forwarded-Host` should be set to the original `Host` value sent by the client.

The result is that the APIService will not be able t

[2022-01-09 23:46] rynowak commented on #107435
/sig api-machinery

[2022-01-10 02:14] pacoxu commented on #107401
For StatefulSet, see
- https://kubernetes.io/blog/2021/08/27/minreadyseconds-statefulsets/
- https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2599-minreadyseconds-for-statefulsets#user-stories-optional

minReadySecondsinteger | Minimum number of seconds for which a newly created pod should be ready without any of its container crashing for it to be considered available. Default

[2022-01-10 02:28] csantanapr commented on #104885
v1.23 is already released and release notes are located here
/close

cc @AuraSinis

[2022-01-10 02:28] #104885 closed

[2022-01-10 02:44] kerthcet commented on #107415
Yes, I suppose we still need a bug fix.

[2022-01-10 03:04] kerthcet commented on #107360
/assign

[2022-01-10 03:26] pacoxu commented on #107414
https://storage.googleapis.com/k8s-triage/index.html?test=Test_Run_OneVolumeDetachFailNodeWithReadWriteOnce

/cc @jingxu97 @gnufied

[2022-01-10 03:27] diyi0926 opened #107440 "Standalone Kubelet is no longer logging container info(“FieldPath” field) for event logs"
### What happened?

I used to use 1.171 standalone Kubelet mode without an API server for my cluster. Because I’m not using API server, I can only get container events from Kubelet logs.
But after I upgrade Kubelet to 1.20.1, I found that the log format is changed and Kubelet log is no longer logging container info(“FieldPath” field in logs) for events logs due to this change [https://github.com/k

[2022-01-10 03:32] diyi0926 commented on #107440
/sig node

[2022-01-10 03:59] MadhavJivrajani commented on #107319
@fedebongio unassigning myself due to lack of bandwidth, will try and take a look post enhancement freeze in case someone hasn't already picked it up. Sorry!
/unassign

[2022-01-10 05:28] SergeyKanzhelev opened #107442 "Non-trivial diff between staging and internal types.go"
There is a non-trivial diff between [`staging/src/k8s.io/api/core/v1/types.go`](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go) and [`pkg/apis/core/types.go`](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go).

1. Optional vs. non-optional int: `ServiceAccountTokenProjection.ExpirationSeconds`:
  `ExpirationSeconds int64` vs.

[2022-01-10 05:30] mattcary commented on #106615
Hurrah, I figured it out. See #107443.

[2022-01-10 05:37] #103110 closed

[2022-01-10 05:57] sanposhiho commented on #101803
https://github.com/kubernetes/kubernetes/pull/102235#issuecomment-1008068308

/close

[2022-01-10 05:57] #101803 closed

[2022-01-10 06:12] pacoxu commented on #107440
#91712 seems to only change the log style.
[code]
In this example, the pod name is still included in the log.

/cc @serathius
/sig instrumentation

[2022-01-10 06:21] wzshiming commented on #99697
I sent a PR for the fix, but there is not much progress yet. Since this is not particularly serious, once fixed it will affect the previous consistent behavior, so be cautious.

#103257

[2022-01-10 06:49] Zheaoli commented on #107415
If we need to fix this bug, I would like to make a PR

[2022-01-10 07:09] pohly commented on #103907
@sochoaAtMulesoft: it's quite likely that the source code line changed. Search for "EXTRA string" instead.

[2022-01-10 07:23] wojtek-t commented on #105346
We reduced the amount of time-series in #106306
At this point, we're not able to go visibly lower than that.

[2022-01-10 07:23] #105346 closed

[2022-01-10 07:34] mohag commented on #53201
/remove-lifecycle stale

Still present

[2022-01-10 08:41] Abdullah-AlSawalmeh commented on #58908
I fixed the issue by:
1- changing from docker to containerd
2- allowing 179 port  (sudo ufw allow 179/tcp) --- mentioned here https://projectcalico.docs.tigera.io/getting-started/kubernetes/requirements

[2022-01-10 09:28] matthyx commented on #107202
I did some research during the weekend... .and I still cannot understand where it comes from.
(I still don't think it's a problem in kubelet code)

@tanguofu maybe you could try to override `HOME` and force it to `/root` ? At least that should fix your particular issue...

[2022-01-10 09:44] serathius commented on #107440
/wg structured-logging

[2022-01-10 10:37] antoineozenne opened #107446 "Use full URL (with cluster domain name) in admission webhook"
### What happened?

My cluster is behind a corporate proxy. Using [kube-prometheus-stack](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack), the apiserver raises an error when calling the mutating/validating admission webhook with a POST on `https://kube-prometheus-stack-operator.kube-prometheus-stack.svc:443/admission-prometheusrules/validate?timeout=10s`

[2022-01-10 10:39] antoineozenne commented on #107446
/sig api-machinery

[2022-01-10 10:45] redbaron commented on #65106
/reopen

[2022-01-10 10:56] ramineni opened #107447 "Rotated container log files size not counted towards ephemeral-storage's limit on CRI-O"
### What happened?

Rotated container logs space usage doesnt seem to be counted towards the epehemral storage limit. Always only current log file stats are taken into account.

### What did you expect to happen?

rotated log files usage also should be counted towards ephemeral-storage usage

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need t

[2022-01-10 10:57] ramineni commented on #107447
/sig node

[2022-01-10 10:58] ramineni commented on #107447
/cc @vaibhav2107

[2022-01-10 11:11] saschagrunert commented on #107342
Working on a fix in https://github.com/kubernetes/kubernetes/pull/107448

[2022-01-10 11:29] jsafrane commented on #94128
Re-phrasing the issue according to current code.

During provisioning, the tests pick size supported both by the test suite and the driver:
* Most of the tests typically declare 1MiB as the lower boundary and no upper boundary. One example out of many:
   https://github.com/kubernetes/kubernetes/blob/ba82add41a06d1fceeaf01fc71d3d5da910c41d9/test/e2e/storage/testsuites/provisioning.go#L77-L79

* Vo

[2022-01-10 11:30] saschagrunert commented on #107190
Great point, I'm in favor of this. With v1 we're in shape to define the right set of policies.

To clarify, when speaking about the version, we're referring to the runtime version defined there:
https://github.com/kubernetes/cri-api/blob/0ab647c/pkg/apis/runtime/v1/api.proto#L20-L21

No, because in protobuf 3 all fields are optional and we should only bump the CRI version on breaking changes. Addi

[2022-01-10 11:52] JianwenSun commented on #85741
When the external ip the same with work. The the local route tables will take effect.
So the icmp packets will not return back, that's the reason why ping failed.
You can use ipvsadm to check the real server info.

[2022-01-10 12:09] jlsong01 commented on #107411
@soltysh  Hi, are you working on it? If not, may I take a try?

[2022-01-10 12:20] aojea commented on #107446
hmm, I think that the problem is that the apiserver doesn't have access to the cluster.domain value, since it is configured on the kubelets only, but it will be good if somebody else can confirm this
[code]

[2022-01-10 13:00] mm4tt commented on #107325
@younaman, please note that `--quota-backend-bytes` and etcd server memory usage are different things. The former controls how big the database can be, but it doesn't directly translate to memory usage of the server.

The typical source of high memory usage is `Range` requests issued against etcd. For example, if your db size is 2GB and you send a `Range` request to read everything , etcd will all

[2022-01-10 13:22] wojtek-t commented on #105804
Closing - #106085 has been merged couple days ago and everything seems to work fine at 5k node scale now.

[2022-01-10 13:22] #105804 closed

[2022-01-10 14:07] dims commented on #107442
cc @liggitt

[2022-01-10 14:28] liggitt commented on #107442
This is intentional:
* allows versioned types to detect absence of a field and set a default value other than the zero value
* allows internal use to avoid needing to do nil checks on the field

Conversion code is generated between internal and external types, and is reviewed during API review. Non-convertible fields generated warning comments. Drift here would be caught by verify scripts showing

[2022-01-10 14:37] #101765 closed

[2022-01-10 15:13] fhke commented on #107218
Hi @pacoxu,

Steps to reproduce:

1. Create a pod with a generic ephemeral volume:

[code]
2. Create a pod using a normal persistent volume:
[code]

3. SSH onto the respective node(s) the pods are scheduled on and check the `kubelet_volume_*` metrics from the kubelet metrics endpoint:

*persistent volume*
[code]

*generic ephemeral volume*
[code]

[2022-01-10 15:16] aojea commented on #107446
can you check your apiserver configuration for `enable-aggregator-routing` ?
I think in your case it should be `false`, because if is `true`  I think the webhook will try to connect directly to the IP and don't do any dns resolution.
Can you confirm this?

[2022-01-10 16:05] jcstanaway commented on #107415
[code]

[2022-01-10 16:11] jcstanaway commented on #107415
In this scenario, what's the expected k8s behavior? Both the kube-scheduler and the kube-apiserver? We're considering that if the kube-apiserver is not going to deny admission that we should add an OPA gatekeeper policy.

[2022-01-10 16:45] antoineozenne commented on #107446
Yes, I confirm `enable-aggregator-routing` is not set, so `false`. Do I need to set this parameter? What are the other impacts/consequences?

[2022-01-10 16:53] aojea commented on #107446
@antoineozenne actually I can reproduce it.
A workaround is adding "svc" to NO_PROXY
I need to investigate more
/assign

[2022-01-10 17:06] MadhavJivrajani commented on #103260
@cyclinder are you still planning to give this a shot?

[2022-01-10 17:09] MadhavJivrajani commented on #107434
/cc @jpbetz @apelisse

[2022-01-10 17:58] aojea commented on #107446
This comment is just for reference:

1. apiserver initializes a resolver for use on the aggregated-apiserver and webhook

https://github.com/kubernetes/kubernetes/blob/8cc7d14588f688fec1d7b7da953e151158440b3a/cmd/kube-apiserver/app/server.go#L455

2. the resolver, depending on the `enable-aggregator-routing` variable, can resolve a service to an endpoint or to the clusterIP. The `kubernetes.defaul

[2022-01-10 18:03] claudiubelu commented on #102100
I don't think we've seen those image pulling timeouts since we've merged the fixes above. We could close this for now, and reopen if it surfaces again, IMO.

[2022-01-10 18:06] jsturtevant commented on #102100
sgtm, thanks for that update!
/close

[2022-01-10 18:06] #102100 closed

[2022-01-10 18:07] albertocavalcante commented on #19475
+1

Any chance this is going to be implemented?

[2022-01-10 18:14] tkashem opened #107454 "leader election migration steps"
### What happened?

I am trying to summarize the migration journey to using `Lease` based leader election.
Hypothetically, let's assume a customer is currently on version `x` and they use `configmaps` based leader election, the migration looks like this:
- version `x+1`: use `configmapsleases` for leader election, this client will use both `configmaps` and `lease` objects, so that new (x+1) client

[2022-01-10 18:14] apelisse commented on #104207
/remove-lifecycle stale

That's something I'd like to see fixed, if someone finds the bandwidth ;-)

[2022-01-10 18:18] tkashem commented on #107454
(it's more of a question that needs clarification)

/sig api-machinery
cc @wojtek-t @deads2k

[2022-01-10 18:50] MikeSpreitzer commented on #107454
@MikeSpreitzer

[2022-01-10 18:57] rahulkjoshi commented on #102698
/remove-lifecycle rotten

The PR referenced above will make this story better: kubernetes/enhancements#2593
Target is 1.24 for code merge

[2022-01-10 19:16] atiratree commented on #103450
@dhilipkumars I have just tried on kind with multiple attempts but could not reproduce it.

Can you please try if it can be reproduced on your env again? If yes, please post full YAMLs, events and kube-controller-logs if possible.

[2022-01-10 19:45] thockin commented on #107190
IMO no.  While I understand the "we linked them together and it didn't work"
problem, that feels like a problem of their own making.  The deps constraints
(implicit or explicit, I don't know) are being violated.

Now, we COULD CHOOSE to jump through hoops to make this better - is it worth
the energy to do this?  Once we do it, it will be hard to stop doing it.  E.g.
defining a new `interface` for

[2022-01-10 19:56] bowei commented on #107190
Adding in a reference to https://gateway-api.sigs.k8s.io/geps/gep-922/

[2022-01-10 19:57] M00nF1sh opened #107457 "informer miss events if resourceVersion rewinded due to ETCD recover from stale backup."
### What happened?

Under an extreme rare case, one of our ETCD cluster restored from backup data, and the APIServers are rotated on new instances with new IPs as well.

The endpoints/endpointSlices for the "default/kubernetes" service is updated to contain new IPs of the APIServers, but the kube-proxy didn't update the IPtables rules on node for several hours, which makes the cluster unusable.

A

[2022-01-10 20:06] M00nF1sh commented on #107457
/sig api-machinery

[2022-01-10 20:12] aramase commented on #107275
For AKS (managed cluster), I just checked and the default log verbosity configured is 3 to enable debug logging. For self-managed Kubernetes cluster, I think users have control over the log verbosity but for managed by default verbose logging is enabled?

Have we backported any similar logging changes before?

[2022-01-10 20:16] andrewsykim commented on #106024
Yes, except in the current state we're only proposing that change for external traffic from a load balancer. I think we can adapt it for internal traffic like we discussed previously, but I think the KEP needs revisting for that soon.

[2022-01-10 20:22] aojea commented on #107275
@cpanato @saschagrunert WDYT about backporting this patch? ^^^

[2022-01-10 20:22] jabdoa2 commented on #106024
That would be awesome! Can we help in any way? Implementing the change is actually super simple. One additional option and two lines of code change.

[2022-01-10 21:08] msau42 commented on #107190
For storage we make most features optional. If in the future we require some new feature (this hasn't happened yet), I think we would have to bump the major version.

User discoverability of what optional features an implementation supports remains a challenge. Today each implementation is responsible for documenting which features they support. We have a [community page](https://kubernetes-csi.gi

[2022-01-10 21:16] thockin commented on #107190
I think it might be interesting to have at least a common pattern for this.

On Mon, Jan 10, 2022 at 1:08 PM Michelle Au ***@***.***>
wrote:

[2022-01-10 22:16] sftim commented on #106187
Maybe we should document that restriction more clearly? This is potentially going to come up in connection to switching the taint used for control plane nodes (planned, I think, for v1.24).

[2022-01-10 22:38] liggitt commented on #105942
/assign @bowei

talked with Walter, who didn't have pointers on the networking differences.

@bowei, can you route to someone who can help dig into the network differences between the envs to figure out why auto-network-discovery isn't working as expected?

[2022-01-10 22:38] #98180 closed

[2022-01-10 23:12] bobbypage commented on #107425
The jobs are running again now.

[2022-01-10 23:12] bobbypage commented on #107425
/close

[2022-01-10 23:13] #107425 closed

[2022-01-10 23:16] bobbypage commented on #107062
#106287 merged but the density tests are still failing.

Example: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cos-cgroupv2-containerd-node-e2e-serial/1480600612373532672

The error is different now:

[code]

It appears the test is for some reason unable to collect resource data for runtime (containerd) container - https://github.com/kubernetes/kubernetes/blob/3cec1d1a13a7414ed5413d75898

[2022-01-10 23:22] bobbypage commented on #107062
The issue *might* be that `--container-runtime-process-name=/usr/bin/containerd`, but the test installs a custom version of containerd to which runs under `/home/containerd/usr/local/bin/containerd`, so `getPidsForProcess` is unable to find it https://github.com/kubernetes/kubernetes/blob/3cec1d1a13a7414ed5413d75898a167220c3892c/test/e2e_node/resource_collector.go#L479

[2022-01-10 23:42] aramase commented on #100870
/remove-lifecycle stale

[2022-01-11 00:21] #94404 closed

[2022-01-11 00:31] lizhuqi commented on #106080
What is the current Windows support for /stats/summary endpoint? It seems that rootfs usedBytes is always return 0 for pods running in Windows nodes. However I do see some values are reported for availableBytes and capacityBytes.

Is https://github.com/kubernetes/kubernetes/blob/33de444861d3de783a6618be9d10fa84da1c11b4/pkg/kubelet/cadvisor/cadvisor_windows.go#L82 the right code path for the suppor

[2022-01-11 01:19] yangjunmyfm192085 commented on #107447
/assign
we can see if there is a issue

[2022-01-11 01:23] #107089 closed

[2022-01-11 01:39] #100466 closed

[2022-01-11 02:00] cyclinder commented on #103260
@MadhavJivrajani  Is there no one working on this? If so, I'd submit a PR for it this week. :)

[2022-01-11 03:04] MadhavJivrajani commented on #107454
/cc

[2022-01-11 03:20] JohnRusk opened #107463 "kube-apiserver 1.22.4 panics with fatal error: concurrent map iteration and map write"
### What happened?

I'm doing some load testing with K8s 1.22.4.  In particular, restarting the API server with thousands of nodes.  The kubelets to re-list to restart their watches, and sometimes the API server panics and crashes.  I captured the error and it was:

[code]

### What did you expect to happen?

API Server does not panic

### How can we reproduce it (as minimally and precisely as pos

[2022-01-11 03:21] JohnRusk commented on #107463
/sig api-machinery

[2022-01-11 04:07] kerthcet commented on #107415
First of all, the value name `-api-gateway-mockservice` is not valid, if a valid name is applied, this expression can apply successfully, pods would like to find nodes with the same label pods landed.
Secondly, what do you mean `if the kube-apiserver is not going to deny admission`, what's the rule you would like to deny?

[2022-01-11 04:35] fip-post-cz opened #107464 "Pod Topology Spread takes into account unschedulable tainted nodes"
### What happened?

Pod Topology Spread (PTS) takes into account unschedulable tainted nodes. It seems that tainted node affects calculation of the global minimum for maxSkew parameter. This makes it impossible to use PTS for some situations.
Specifically, when we have maxSkew: 1, then it is not possible to spawn 2 or more pods on single node, because it seems the global minimum for maxSkew remain

[2022-01-11 04:38] fip-post-cz commented on #107464
/sig scheduling

[2022-01-11 05:09] MadhavJivrajani commented on #107463
@JohnRusk 👋🏼
Is it possible to provide more of the stack trace? I see that the panic is caused by concurrent invocation of iteration in `cloneHeader`, called through `writeHeader`. I'd like to try and narrow down the code surface area of api-server that might be causing this.

[2022-01-11 05:46] kerthcet commented on #107464
similar to https://github.com/kubernetes/kubernetes/issues/106127#issuecomment-1007467672

[2022-01-11 06:19] aojea commented on #107435
IIUIC the header is added by this roundtripper

https://github.com/kubernetes/kubernetes/blob/a0dfd958d5c5e8c2bd5fd30e1d2e9031e9aba1b6/staging/src/k8s.io/apimachinery/pkg/util/proxy/transport.go#L91-L93

The roundtripper is added in

https://github.com/kubernetes/kubernetes/blob/a0dfd958d5c5e8c2bd5fd30e1d2e9031e9aba1b6/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go#L239-L241

by

h

[2022-01-11 06:25] july2993 commented on #69041
this do not work since it will update the pod but fail to update
after adding a named 'www2' in volumeclaimtemplates and recreate the STS
[code]

[2022-01-11 07:04] Huang-Wei commented on #106127
This is based on the support of system-level Unschedulable taints, while also keeping semantics explicit. If supporting Unschedulable taints is optional, or even unnecessary, we can simply the design with enums (respect/ignore), and evaluate the "custom" option (accompanied with a taints slice) in the future.

@nyarly, based on your usecase, it seems the option of system-level Unschedulable taints

[2022-01-11 07:54] kerthcet commented on #107360
/unassign
/assign @mengjiao-liu

[2022-01-11 07:57] kerthcet commented on #106127
also cc @fip-post-cz  for more use cases.

[2022-01-11 08:19] cyclinder commented on #103500
Environment
[code]
If we using the api or kubectl, Both cause an infinite loop of logs(not for a particular pod, all pods are the same). But using `docker logs -f`, the result is normal.

[2022-01-11 08:19] 249043822 commented on #107447
@ramineni Were the rotated log files in /var/log/pods generated by yourself(not by k8s)? The cadvisor can only collects log files on container's filesystem.

[2022-01-11 09:09] nckturner commented on #62793
/reopen

[2022-01-11 09:10] nckturner commented on #62793
/remove-lifecycle rotten

[2022-01-11 09:10] nckturner commented on #62793
/sig cloud-provider
/triage accepted

[2022-01-11 09:13] diyi0926 commented on #107440
Pod name is still there, but the "FieldPath" field which includes container name is missing
Old version log:
[code]

[2022-01-11 09:59] adisky commented on #103764
closing the issue fixed by https://github.com/kubernetes/kubernetes/pull/103415
/close

[2022-01-11 09:59] #103764 closed

[2022-01-11 10:07] pacoxu commented on #107440
/triage accepted

[2022-01-11 10:07] pacoxu commented on #107440
@serathius would you confirm this is expected or a regression?

[2022-01-11 10:55] tyriis commented on #79224
ConfigMaps are fine Secrets are somehow a poor solution (to limited not possible to use external secret resources out of the box etc...)  but, if you need to mix values from ConfigMap and Secrets have a look at `envsub`, and use an initContainer to generate your config file on startup.

[2022-01-11 11:01] dennis-benzinger-hybris commented on #101493
I assume this bug still exists in 1.22, yes?

The initial description doesn't list it as an affected version but I guess that's just because 1.22 didn't exist when the bug was reported.

[2022-01-11 11:15] cpanato commented on #107275
looks like is a log part, sgtm to backport

[2022-01-11 11:23] aojea commented on #107275
@NikhilSharmaWe @aramase would you like to take care of the backports?

[2022-01-11 11:28] verb commented on #87770
/remove-lifecycle stale

@pires still planning on working on this?

[2022-01-11 11:30] pires commented on #87770
I was but work calendar got in the way. If someone else wants to pick it up, I thankfully get out of the way.

[2022-01-11 11:35] luispabon commented on #79224
I think the main reason of this request is to help keeping yaml manifests compact and concise, rather than actually been able to use the values at all.

[2022-01-11 11:42] jonyhy96 commented on #99376
@liggitt @neolit123 since we don't actually use `git archive` to full-fill the commit info as version, should we just delete that `.gitattributes` file?
containerd faced a issue about checksum mismatch https://github.com/containerd/containerd/issues/6387 due to this.

[2022-01-11 12:22] leonardpahlke opened #107469 "[Failing test] gce-ubuntu-master-default, kubetest.Up"
### Which jobs are failing?

master informing [gce-ubuntu-master-default](https://testgrid.k8s.io/sig-release-master-informing#gce-ubuntu-master-default)
master blocking [gce-device-plugin-gpu-master](https://testgrid.k8s.io/sig-release-master-blocking#gce-device-plugin-gpu-master)

### Which tests are failing?

* ci-kubernetes-e2e-ubuntu-gce.Overall
* kubetest.Up

### Since when has it been faili

[2022-01-11 12:27] aojea commented on #107469
it is using docker as runtime that was deprecated

@dims @BenTheElder should the job be removed or updated? I think that there is a copy of this with containerd in blocking

[2022-01-11 12:28] afbjorklund commented on #99376
and before that it was https://github.com/cri-o/cri-o/issues/4820 and before that https://github.com/containers/podman/issues/9355, so everywhere

[2022-01-11 12:28] dims commented on #107469
cc @SergeyKanzhelev @ehashman as they are taking care of what sig-node jobs are needed etc.

[2022-01-11 12:29] dims commented on #107469
also cc @endocrimes @adisky

[2022-01-11 12:35] yuli-lendbuzz commented on #20151
Hi guys.

This is an important feature that will greatly improve the container security.

Best, Yuli

[2022-01-11 12:47] neolit123 commented on #106704
@vupv did you manage to find the cause for the missing node object?

someone logged a similar issue about this today:
https://github.com/kubernetes/kubeadm/issues/2635
but it's not a kubeadm problem because kubeadm tells the kubelet to create the Node object that is throwing the errors.
cc @zhangxiaoyus

[2022-01-11 12:52] MurzNN commented on #88709
/remove-lifecycle rotten

[2022-01-11 13:02] ramineni commented on #107447
No, I have not created any files. they are generated by k8s itself.

[2022-01-11 14:42] #101794 closed

[2022-01-11 14:42] #94128 closed

[2022-01-11 15:16] jcstanaway commented on #107415
Yes, we realize that the label value is malformed. I noted that in the original post. The automation used by one of our teams didn't work correctly. Of course that is being addressed, but the deployment manifest was accepted by the kube-apiserver and the kube-scheduler attempted to process it (and crashed).

So the question is: How is k8s going to protect itself in the event this occurs again? Ide

[2022-01-11 15:53] claudiubelu commented on #106278
I've investigated this a bit, and found the source of the issue, and I could even reproduce it.

So, this failure will mostly occur on Windows test jobs in which we run tests in parallel. The failure is not caused by the test itself, but rather by other tests running in parallel.

What's happening: the test will get the node stats a couple of times. That will also include the pod / container stats

[2022-01-11 16:33] #106971 closed

[2022-01-11 16:40] superherointj commented on #79224
I think I need this. Why is this closed?

[2022-01-11 16:59] alecb-stripe commented on #45361
@jayunit100

Is this behavior documented somewhere? I.e., that starting the kubelet with `--register-with-taints` will be a no-op if the node object already exists in the API (e.g., on a host reboot).

[2022-01-11 17:09] rynowak commented on #107435
The scenario that I can think of where this matters is for an APIService that needs to **generate a URL that the client can understand**. That's what I was trying to do but I'll readily admit that it was a niche scenario.

The blocking issue is that the server has no knowledge what host values are routable for the client. The APIService only sees the internally routable hostname (in this case the

[2022-01-11 17:15] marosset commented on #93276
/remove-lifecycle stale

[2022-01-11 17:56] jsturtevant commented on #106278
Do we have an open issue in containerd we can cross link here?

[2022-01-11 18:46] mmiranda96 commented on #107412
Just found an older version of the same issue but in Fedora: https://github.com/kubernetes/kubernetes/issues/104292

[2022-01-11 18:47] matthew-walters opened #107473 "k8s liveness probe fails during pod termination"
### What happened?

I've tested with k8s v1.21 on Amazon EKS and k8s v1.22, v1.21, and v1.20 in Minikube

I installed a pod containing a simple http server having some `/alive` endpoint.  In the pod spec, specify a liveness probe that uses this endpoint.
No liveness probe failure while pod is running, as expected.
But after executing a `kubectl delete po` command, will see k8s event that liveness

[2022-01-11 18:48] #106265 closed

[2022-01-11 18:49] matthew-walters commented on #107473
/sig node

[2022-01-11 19:02] liggitt commented on #107435
Tracked back to original addition here: https://github.com/kubernetes/kubernetes/pull/3612/files

The original motivation was a lot like what you described, though the main use I'm aware of at the time was for backing pods returning html pages to browser-based applications. That was never very successful, and dropped off sharply when basic auth support was removed.

Additionally, there's no guaran

[2022-01-11 19:21] pohly commented on #103718
/remove-lifecycle stale

[2022-01-11 19:45] thockin commented on #20151
https://github.com/kubernetes/kubernetes/issues/20151#issuecomment-562369295

[2022-01-11 20:23] #107342 closed

[2022-01-11 21:14] fedebongio commented on #107239
Thanks @pacoxu
/cc @sttts
/triage accepted

[2022-01-11 21:15] fedebongio commented on #107294
@ahg-g and @alculquicondor thanks for the issue. Do you have plans to contribute to this?

/triage accepted

[2022-01-11 21:16] fedebongio commented on #107374
@thockin curious why you think is API Machinery and not Network, can you explain please? Thanks!

[2022-01-11 21:17] fedebongio commented on #107417
/assign @apelisse
/triage accepted

[2022-01-11 21:17] fedebongio commented on #107434
/cc @leilajal @Jefftree
/triage accepted

[2022-01-11 21:21] fedebongio commented on #107435
/cc @deads2k @lavalamp
/triage accepted

[2022-01-11 21:21] ahg-g commented on #107294
I am planning to send a KEP, but this one may not be straightforward that I am skeptical we can get it done and accepted this cycle.

[2022-01-11 21:21] ahg-g commented on #107294
/assign

[2022-01-11 21:22] fedebongio commented on #107446
thanks @aojea for taking a look!
/triage accepted

[2022-01-11 21:23] fedebongio commented on #107454
/cc @jiahuif
/triage accepted

[2022-01-11 21:23] fedebongio commented on #107457
/cc @wojtek-t @jpbetz
/triage accepted

[2022-01-11 21:25] fedebongio commented on #107463
/cc @wojtek-t
/sig scalability
@JohnRusk would be great to have stack trace +1
/triage accepted

[2022-01-11 22:03] awels opened #107479 "Take dataSource topology into account when scheduling a pod using unbound WFFC storage"
### What happened?

I have some dynamically provisioned storage that uses WFFC like the included csi-hostpath. I have a multi node cluster. When I attempt to do a csi clone using that storage, the scheduler does not take the topology of the dataSource into account when scheduling the pod. Example:
- I have 3 nodes.
- I have 1 bound volume (source) on node01.
- I create a new PVC with a dataSource

[2022-01-11 22:04] awels commented on #107479
/sig storage

[2022-01-11 22:06] awels commented on #107479
Not sure if storage or scheduling is the right sig, but this is mainly a storage issue so setting it to sig-storage for now. I am more than happy to supply a PR to fix this, just want some confirmation I am looking at the right thing for this particular issue. Basically need to filter the nodes down based on the dataSource for an unboud WFFC storage PVC, instead of just assuming it can go anywhere

[2022-01-12 00:02] JohnRusk commented on #107463
@MadhavJivrajani @fedebongio here is the full callstack

[code]

[2022-01-12 00:03] JohnRusk commented on #107463
BTW, the last things logged before the panic were
[code]

[2022-01-12 00:07] SergeyKanzhelev commented on #107469
/sig node

we can discuss it on tomorrow's CI meeting

[2022-01-12 00:42] aramase commented on #107275
@NikhilSharmaWe Do you want to open the PRs for backport? If not, lmk and I can open them.

[2022-01-12 01:19] 249043822 commented on #107473
/assign

[2022-01-12 01:39] SergeyKanzhelev commented on #104298
/unassign @xmudrii

(based on PR comment, feel free to re-assign to yourself)

[2022-01-12 02:20] yysu opened #107482 "kube-proxy reported Could not check for iptables canary mangle/KUBE-PROXY-CANARY: exit status 4"
### What happened?

Hello guys,

I am using EKS cluster, Kubernetes: `1.18`, Platform: `eks.8`, kube-proxy version is `v1.18.8`.

I saw my `kube-proxy` log reported the warning message several times at different timestamps:
[code]

Tracing the source code, I saw the code logic here :

https://github.com/kubernetes/kubernetes/blob/0f3e6609388defe7d0149216cb0409531f8d33b3/pkg/util/iptables/iptables.

[2022-01-12 02:22] yysu commented on #107482
/sig network

[2022-01-12 02:28] CatherineF-dev commented on #107216
Hi Yan,
these metrics can be scraped from cAdvisor. https://github.com/google/cadvisor/blob/master/docs/storage/prometheus.md

Or you want to these metrics to be added to [Summary API](https://github.com/kubernetes/kubernetes/blob/7d309e0104fedb57280b261e5677d919cb2a0e2d/staging/src/k8s.io/kubelet/pkg/apis/stats/v1alpha1/types.go)?

[2022-01-12 02:41] younaman commented on #107325
@mm4tt Thanks for your reply! I am sorry for reply you so late because I am a little busy these days :)
* Thanks for your response again and I do a similar expirement as you said, which are called "expensive request". In my opinion, the etcd and Kubernetes has no method to defend against the "expensive request", perhaps because the design of etcd doesn't consider a lot about QoS?
* Besides, I use

[2022-01-12 02:44] liushi001 opened #107483 "Kubelet cannot start static pod when move in manifest file after removing manifest file for a while"
### What happened?

An error occurs in `managePodLoop` after the static pod has being deleted, then `syncCh` is triggerred and error event will be dequeued from work queue but pod manage has no such pod because `HandlePodRemoves` has been called.

`No such container error` is a common error type from `p.podCache.GetNewerThan` or `syncTerminatingPodFn` method in `managePodLoop` .

So this event can

[2022-01-12 02:57] liushi001 commented on #107483
/sig node

[2022-01-12 03:19] kerthcet commented on #107415
IIRC, `a valid label must be an empty string or consist of alphanumeric characters, '-', '_' or '.', and must start and end with an alphanumeric character (e.g. 'MyValue', or 'my_value', or '12345', regex used for validation is '(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?').`  this error is emitted by the api-server.

[2022-01-12 03:20] dims commented on #107325
cc @nikhita

[2022-01-12 03:24] daschott commented on #107019
@Keith-Mange @sbangari  FYI

[2022-01-12 03:41] yangjunmyfm192085 commented on #107473
/triage accepted

[2022-01-12 04:40] NikhilSharmaWe commented on #107275
@aramase I am really not sure what has to be done here, feel free to open the PR.

[2022-01-12 06:09] Monokaix commented on #106663
Also encountered same flaky test. https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/107449/pull-kubernetes-unit/1481107690032730112

[2022-01-12 06:22] mattcary commented on #106663
Ah, this is a duplicate of #106615. There's a fix out and waiting to be code reviewed.

Duplicate of #106615

[2022-01-12 06:23] mattcary commented on #106663
/assign
/close

[2022-01-12 06:23] #106663 closed

[2022-01-12 06:33] aojea commented on #107463
Those messages are trying to get the bitmaps from etcd with the IP and nodeport allocation information.

The trace seems that is a timeout.

I would check that etcd is responsive, it may happen that is overwhelmed and not being able to communicate correctly with the apiservers

[2022-01-12 06:38] JohnRusk commented on #107463
aojea I assume that any concurrent map iteration and write would indicate a bug. That's never supposed to happen, right?  That's why it panics when it does, isn't it.  Even if it does in fact happen if etcd is busy, it still shouldn't happen.

[2022-01-12 06:40] aramase commented on #107275
Open PRs for backport:
- https://github.com/kubernetes/kubernetes/pull/107484
- https://github.com/kubernetes/kubernetes/pull/107485
- https://github.com/kubernetes/kubernetes/pull/107486

[2022-01-12 06:42] 249043822 commented on #107447
Okay, I see. As the cri-o runtime uses cadvisor stats provider to get container stats, it caculates container logUsage by formular `logsUsage := *ContainerStats.Filesystem.TotalUsageBytes - *ContainerStats.Filesystem.BaseUsageBytes`. but the default root dir or log dir of cri-o is not /var/log/pods/{podName}/, so theses log files are not on container's filesystem, then cadvisor may not caculate th

[2022-01-12 06:51] 249043822 commented on #107483
this pr have fixed the problem, https://github.com/kubernetes/kubernetes/pull/105075
please upgrade to 1.22.3

[2022-01-12 06:54] yangjunmyfm192085 commented on #107447
In the kubelet code, , the log path is in the format `filepath.Join(podLogsRootDirectory, strings.Join([]string{podNamespace, podName,string(podUID)}, logPathDelimiter)) `, but the directory of your environment is `/var/log/pods/ephem1-pod/con2`, I did not see `string(podUID)`,  Did you set this path yourself? @ramineni

[2022-01-12 07:01] yangjunmyfm192085 commented on #107483
we will close this issue, thanks for your feedback.
/close

[2022-01-12 07:21] ialidzhikov commented on #102856
/remove-lifecycle stale

[2022-01-12 07:29] askervin commented on #92287
Current status of blockio throttling in container runtimes:
- CRI-O: support released in v1.22, see [blockio PR](https://github.com/cri-o/cri-o/pull/4873).
- Containerd: a fully compatible [blockio PR](https://github.com/containerd/containerd/pull/5490) is open.

In these PRs Kubernetes user annotates a pod with blockio classes that apply to all or selected containers in the pod. The container run

[2022-01-12 07:31] wojtek-t commented on #107457
Restoring etcd from backup is not an officially supported operation by Kubernetes. There are a lot of edges with that.
To really make it work, you need to actually restart all the control-plane components as well as other clients.

[2022-01-12 07:51] 249043822 commented on #107473
From this pr:https://github.com/kubernetes/kubernetes/pull/98571, Stop probing a pod during graceful shutdown was added, but it only takes effect while kubelet first sees the pod which was deleted(with deletionTimestamp) early, because the probe manager always holds the pod when it was first added by `HandPodAddition `, would not be changed after.  so you execute `kubectl delete po`, the probemana

[2022-01-12 07:59] aojea commented on #107463
upps, yeah, I was reasoning out loud about those messages ... trying to understand if we can have a reproducer in an unit or integration test ... then things are easier to fix

[2022-01-12 08:04] wsq704252212 opened #107487 "persistentVolumeClaimRetentionPolicy blocks podManagementPolicy: Parallel"
https://github.com/kubernetes/kubernetes/blob/0a8cc161f69270840045fe8f079620b7a4ab1324/pkg/controller/statefulset/stateful_set_control.go#L425

Should it change to ```isStale && monotonic``` ?
[code]

[2022-01-12 08:16] aojea commented on #107482
If the monitor loop tries to check the iptables rules meanwhile another program is using iptables, it will raise that error, because it needs to acquire the iptables lock, but it can not.

There can be only one iptables operation at a time, simplifying, everytime you create a Service or one Service is updated, kube-proxy takes the iptables lock and start to create the corresponding iptables rules,

[2022-01-12 08:18] pacoxu commented on #92287
@askervin if this is merged, we can use the annotation for pod directly if the container runtime is contained or cri-o after upgrading.

It seems that there is no work on the Kubernetes side. However, there are several questions:
- how apiserver knows what `blockio classes` are available on container runtime? kubelet may expose the blockio class names it supported to node labels.
- can we set the

[2022-01-12 08:22] abckey commented on #105435
/remove-lifecycle stale

[2022-01-12 08:29] aojea commented on #107463
I knew I saw something similar recently, I think that this may be related

https://github.com/kubernetes/kubernetes/pull/105734

[2022-01-12 08:48] redbaron commented on #91074
Can it be solved entirely client side by generating JSON patch from a diff for changed fields only?  If that patch had `"op":"test"` for every change it will only make expected modifications or fail if those fields changed. For extra safety  it can have `"op":"test"` for fields present in original patch request, but which came unchanged at the time.

[2022-01-12 09:32] celiawa opened #107488 "The feature gate csiMigrationRBD should be CSIMigrationRBD"
### What happened?

I'm trying CSI RBD migration feature in 1.23.
Found if set --feature-gates=CSIMigrationRBD=true to kube-controller-manager  or CSIMigrationRBD: true to kubelet config.
Error  "unrecognized feature gate: CSIMigrationRBD" showed up.

Need to set to --feature-gates=csiMigrationRBD=true.

It is "CSIMigrationRBD" in [feature-gates](https://kubernetes.io/docs/reference/command-line-t

[2022-01-12 09:58] ramineni commented on #107447
@yangjunmyfm192085 sorry I truncated the name for better readability, the actual path name is
`/var/log/pods/default_ephem1_5334a37d-df02-435c-b385-f05a36567d11/con2` . So I suppose its taking in the above format only.

[2022-01-12 09:58] wybaron opened #107489 "kubelet Failed"
### What happened?

![image](https://user-images.githubusercontent.com/19605510/149117395-6b1eee65-985c-4680-be7a-527f29b063a3.png)
![image](https://user-images.githubusercontent.com/19605510/149117214-2de01a58-e3b5-4d06-ab19-edfd9bd975df.png)
![image](https://user-images.githubusercontent.com/19605510/149117262-2121321a-af93-4258-9650-f45f87d531ed.png)

### What did you expect to happen?

1

###

[2022-01-12 10:03] pacoxu commented on #107489
[code]

/kind support
/remove-kind bug

[2022-01-12 10:06] pacoxu commented on #107488
/sig storage
link to #95361
/triage accepted

[2022-01-12 10:12] ramineni commented on #107447
@249043822 log files gets generated in the path /var/log/pods/default_ephem1_5334a37d-df02-435c-b385-f05a36567d11/con2 for cri-o

[2022-01-12 10:47] Rozzii commented on #106691
Hi all!

I work together with @smoshiur1237 and I started to experiment to find a way to reproduce this issue.

Just to provide a bit more context I have contacted our user who reported the aforementioned problem and it has turned out that the root cause of the input/output error was that the
/var/log/pods directory (among others) was stored on a networked storage solution (probably ceph or someth

[2022-01-12 11:12] bbohdan7 opened #107491 "Kubernetes API Server cannot be started after improper reboot"
### What happened?

Hello! I've got a simple Kubernetes cluster (version 1.23.1) with 1 - master node and 2 - worker nodes. Everything worked fine until I've accidentally rebooted my host computer with all Virtual machines. After VMs were started again I see that kubelet starts running as before, but commands such as:

Then I've tried:

Then, I've decided to check **netstat**: `netstat -tupan | gr

[2022-01-12 11:13] brendandonnellysc commented on #96569
Can this open reviewed again. This would be highly helpful in the AWS EKS setup

[2022-01-12 11:13] brendandonnellysc commented on #96569
/reopen

[2022-01-12 11:14] brendandonnellysc commented on #96569
/remove-lifecycle rotten

[2022-01-12 11:15] mm4tt commented on #107325
Please note that etcd API is not surfaced directly to Kubernetes users. In typical kubernetes setup, etcd API is only accessible to kube-apiserver and it's not exposed directly to K8s users. So the "expensive request" problem is actually more K8s problem than etcd problem. Also, there are efforts in K8s like [API Priority and Fairness](https://kubernetes.io/docs/concepts/cluster-administration/flo

[2022-01-12 11:47] wojtek-t commented on #107463
There was one more in the same category in last months:
https://github.com/kubernetes/kubernetes/issues/105759

Both are addressed at head.

However, from the stacktrace:
[code]

Looking into 1.18 release (as well as 1.17 and 1.19) I don't see httplog.go file to even have 269 lines:
https://github.com/kubernetes/kubernetes/blob/release-1.18/staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.g

[2022-01-12 11:48] aojea commented on #107446
I have to narrow down this function https://github.com/kubernetes/kubernetes/blob/45f77ca4bab08da88bdda267be2157dc10bc64ac/staging/src/k8s.io/apimachinery/pkg/util/net/http.go#L112-L114

[2022-01-12 11:51] pacoxu commented on #99183
@bobbypage
Process metrics include `container_processes`, `container_file_descriptors`, `container_sockets`, `container_threads_max`, `container_threads`, `container_ulimits_soft`.

If I search correctly, they are not used in other apis.
[code]

[2022-01-12 11:51] wojtek-t commented on #107463
Never mind - I don't know where did I get 1.18 from. In 1.22 it all makes sense.

I'm just wondering if the above two fixed ( #105734 and #105759 ) actually addresses this.

[2022-01-12 11:55] mengjiao-liu commented on #107172
I checked the git history and added the following code is in kubernetes 1.13 version.
This part of the logic should not have changed, so the  CRI stats data may not have been correctly obtained from the CRI from the beginning.

PR: #68841
commit: 3b21995c951f551d3c16fa4e38cbb21836e242c7

[2022-01-12 12:11] matthyx commented on #107473
@249043822 could you elaborate ? I don't think I understand what you mean.

[2022-01-12 12:36] aranjanthakur opened #107493 "Pods are in RUNNING state hours after Node is deleted from google cloud"
### What happened?

Kubernetes node was deleted from the managed instance group from google cloud console. kubectl get nodes showed node in NotReady state.
But pod remained in running state.

Pods describe output after 17mins of node deletion
<details>

[code]

</details>

### What did you expect to happen?

Pod should have been evicted and scheduled on a healthy node. Taint based eviction didn't

[2022-01-12 12:55] 249043822 commented on #107473
Sorry @matthyx , I meant that while executing ` kubectl delete po` command, actually the probe manager could not perceive that the pod is deleted, because the variable w.pod in https://github.com/kubernetes/kubernetes/blob/cb303e613a121a29364f75cc67d3d580833a7479/pkg/kubelet/prober/worker.go#L233 was set while the pod was creating(as calling probeMananger.AddPod(pod)https://github.com/kubernetes/k

[2022-01-12 13:06] EthanSedgwick commented on #96569
/reopen

[2022-01-12 13:33] MdSahil-oss commented on #105798
hey @yuvaldolev  and @impact-maker, you guys have solved this issues or still working on it, because i'm considering to solve this issue if you haven't solved it

[2022-01-12 13:34] redfave commented on #90292
I got the same issue. I'm using Windows 11 and the Hyper-V driver.

[2022-01-12 13:37] neolit123 commented on #107489
if the kubelet certificate expired you have to manually sign a new one and place it in the kubelet.conf.
https://kubernetes.io/docs/setup/best-practices/certificates/#configure-certificates-for-user-accounts
then restart the kubelet.

you are using kubeadm / kubelet 1.9 and these versions are very old...
we only support 1.20+ at this point.

your best option is to try to get more support on the fo

[2022-01-12 13:38] #107489 closed

[2022-01-12 13:38] neolit123 commented on #107489
note that newer versions of kubelet / kubeadm automatically rotate the kubelet client certificates.
https://kubernetes.io/docs/tasks/tls/certificate-rotation/

[2022-01-12 13:39] matthyx commented on #107473
Hmm, not quite, because the pod is updated by reconciliation:
https://github.com/kubernetes/kubernetes/blob/a0dfd958d5c5e8c2bd5fd30e1d2e9031e9aba1b6/pkg/kubelet/config/config.go#L420

[2022-01-12 13:50] Mangaal opened #107495 "Kubernetes ingress not able to reference a secret that is in another different namespace"
### What happened?

I was trying to used a secret which I have created in another namespace but I got error when I try to curl the host

[code]
here is the Error I got when i try to curl was "ssl_error_syscall"

### What did you expect to happen?

I think  ingress should be able to reference a secret that is in another different namespace

### How can we reproduce it (as minimally and precisely as

[2022-01-12 14:05] aojea commented on #107495
let me paste the answer from @liggitt in another issue https://github.com/kubernetes/kubernetes/issues/104415#issuecomment-903197798

/sig auth

[2022-01-12 14:08] gabriel-samfira commented on #106278
I opened one here:

https://github.com/containerd/containerd/issues/6436

[2022-01-12 14:14] liggitt commented on #107495
that's correct, cross-namespace secret references from namespaced objects are intentionally not permitted

/close

[2022-01-12 14:16] alculquicondor commented on #87850
/remove-lifecycle rotten

@Huang-Wei @denkensk, after all the improvements we have made with event handling, what do you think of (at least) increasing the flush period.

The flush is harmful during cluster autoscaler scale ups, because a Pod is retried more than needed, potentially increasing it's backoff. Then newer pods could end up being scheduled starving older pods.

[2022-01-12 14:39] aranjanthakur commented on #107493
/sig node

[2022-01-12 14:41] icu5545 commented on #20151
I, too, agree that this would undoubtedly be a useful feature.

@thockin I realize that the design needs to be thought out. However, from the messages above, it would seem that you're relying on the requesters to provide that design. That may be way off base, but that's how I've read this thread. I think, generally speaking, if the requesters had a design in mind, they may have made that known by

[2022-01-12 14:45] yangjunmyfm192085 commented on #107493
/cc @249043822,

[2022-01-12 14:47] ThomasBarach commented on #78761
@vitobotta

[2022-01-12 14:57] vitobotta commented on #78761
Yes, I have the same problem in another namespace although slightly different and even weirder. I have an app with HPA set to max 10 replicas as well and no traffic yet (we haven't finished the migration) and for some reason HPA likes to keep it at 9 replicas instead of the min of 2. Not even the max 10 lol. Why 9 I wonder :D

[2022-01-12 15:00] RSAlderman commented on #101695
@RinkiyaKeDad that related issue https://github.com/kubernetes/kubernetes/pull/104962#issuecomment-1005426583 closed waiting on solution design

Am I correct that there is currently no fix for this issue, assigned `CVE-2021-25743`?

[2022-01-12 15:05] yuli-lendbuzz commented on #20151
Hello @thockin and @icu5545

I am not a kubernetes developer. But, I think I do have a simple solution.

Instead of secrets mounted as system volumes today, you can copy secretes values as files to the starting container.

For example, today, I can easily run ```kubectl cp``` to copy a secret file to the running container.

Do the same in automatic way on container start.

The script running in co

[2022-01-12 15:05] RinkiyaKeDad commented on #101695
@RSAlderman from what I'm aware of, https://github.com/kubernetes/kubernetes/pull/104962 was the only PR out to fix this.

[2022-01-12 15:13] Gathin23 commented on #102545
/assign

[2022-01-12 15:14] Gathin23 commented on #102545
/unasign

[2022-01-12 15:14] Gathin23 commented on #102545
/unassign

[2022-01-12 15:15] Gathin23 commented on #102545
/unassign

[2022-01-12 15:26] RSAlderman commented on #101695
@RinkiyaKeDad thanks for the prompt response. You said last week in #104962

I presume that PR will be referenced from this issue when it is produced and then backported to 1.22 and 1.21 too?

[2022-01-12 15:41] yangjunmyfm192085 commented on #107473
I think @249043822  means:

- when pods being added from a config source, execute kl.probeManager.AddPod(pod), start liveness probeManager worker

1. When starting probeManager worker, if `pod.ObjectMeta.DeletionTimestamp != nil`, then meet the conditions `if w.pod.ObjectMeta.DeletionTimestamp != nil && (w.probeType == liveness || w.probeType == startup) {` in `kubernetes/pkg/kubelet/prober/worker

[2022-01-12 15:47] Nuthanuke opened #107496 "Cert-manager and Ingress pods in Crash loop back off (AKS)"
I was trying to upgrade the kubernetes version of our cluster from 1.19.7 to 1.22 and some of the worker nodes failed in updating so I restarted the cluster. After restarting the upgrade was successful but Cert-manager-webhook and Cert-manager-cainjector pods went down along with the ingress pods. i.e. they are either in crashloopbackoff state or error state

after checking the logs, these are the

[2022-01-12 15:57] mason1kwok commented on #106939
so, if I'd like to fix it, what should I do?

[2022-01-12 15:58] MadhavJivrajani commented on #107491
/sig api-machinery
afaik, the `kubelet` is a daemon, which is why it comes back u prafter a restart. The API-Server on the other hand is not meant to be run as a daemon.

[2022-01-12 16:15] matthew-walters commented on #107473
I should have mentioned that deploying a pod on its own is just the minimal example to reproduce.
In reality I see the issue while doing a rolling upgrades of k8s deployments.  But, I've noticed that when upgrading a deployment, on average, only about 15-20% of the currently running pods fail the liveness check during shutdown.

During my testing, I also experienced this while upgrading a DaemonSe

[2022-01-12 16:16] alculquicondor commented on #87850
5min sgtm, can you send a PR?

[2022-01-12 16:20] denkensk commented on #87850
Sure

[2022-01-12 16:23] peterjanes opened #107498 "Kubernetes' OpenAPI files do not mark batch/v1beta1 as deprecated"
### What happened?

When deploying a batch/v1beta1 CronJob to our 1.21 cluster I noticed `Warning: batch/v1beta1 CronJob is deprecated in v1.21+, unavailable in v1.25+; use batch/v1 CronJob`. This was a surprise, as we use `kubepug` to precheck our deployments for deprecated resources.

### What did you expect to happen?

No deprecation warnings (because we'd have been notified of them previously)

[2022-01-12 16:28] howardjohn opened #107499 "remove use of github.com/imdario/mergo (currently use is incompatible with latest mergo version, latest mergo version introduces bugs)"
### What happened?

client-go behavior changes depending on version of github.com/imdario/mergo used. Kubernetes pins to `v0.3.5`. Many other projects in the ecosystem, including Kubernetes projects like sigs.k8s.io/controller-runtime, use newer versions like `0.3.12`.

If a consumer of client-go is not careful, they will very likely automatically use `mergo`. This will subtly give different behav

[2022-01-12 16:30] howardjohn commented on #107499
I believe https://github.com/kubernetes/kubernetes/blob/a8cb4e22bf982a39ae6f8a522bd2b74fdce04620/staging/src/k8s.io/client-go/tools/clientcmd/loader.go#L228 is the line that is broken btw, but not 100% sure

[2022-01-12 16:30] dims commented on #107499
cc @liggitt

[2022-01-12 16:37] apelisse commented on #106437
Yeah, as we discussed with Tim, it'd be actually useful to have tech writers review API comments, or any comment that end-up in user-facing documentation. We'd probably need a process for that, like a "requires-doc-review" that requires a specific lgtm maybe.

[2022-01-12 16:41] ahg-g commented on #87850
+1

[2022-01-12 16:42] liggitt commented on #107499
this seems primarily like a bug in mergo that reversed behavior in a patch release... has that been reported to that component as a bug?

if someone wanted to tackle updating client-go and making sure our use didn't regress, I wouldn't object

[2022-01-12 16:45] jsturtevant commented on #107114
Saw this in CI https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-master-containerd-windows/1481222494881845248 with same failure message as above

[2022-01-12 16:45] fulhaq commented on #78564
I'd really like to see this feature introduced to K8s. Thanks!

[2022-01-12 16:49] sftim opened #107500 "Docs review for changes that affect public website"
Changes to some parts of Kubernetes code end up being published within https://kubernetes.io/docs/

Most of that is drawn directly from [k/website](https://github.com/kubernetes/website) but there are also pages in that repo that are generated, with no text changes, from the API docs.

**Feature request:**

Add an optional step to allow tech writers / people with an interest in docs to review API

[2022-01-12 16:50] sftim commented on #107500
Some examples of generated documentation:
- [Kubernetes API](https://kubernetes.io/docs/reference/kubernetes-api/)
- [kubectl commands](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands)
- [`kube-scheduler`](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/)

[2022-01-12 16:56] jayesh-srivastava commented on #106980
@sftim I would like to work on this issue. May I assign it to myself?

[2022-01-12 17:04] sftim commented on #106980
Anyone - including you @jayesh-srivastava - is welcome to work on this issue! So long as you've [signed the CLA](https://www.kubernetes.dev/docs/guide/#sign-the-cla) you can open a pull request to propose a fix.

[2022-01-12 17:12] mikedizzle commented on #52326
This would be a nice to have.

[2022-01-12 17:12] jayesh-srivastava commented on #106980
Thanks @sftim. One more thing, I looked at PR #105590. Do I have to make the same changes or anything else. Can you please guide me through. That would be very helpful.

[2022-01-12 17:16] jcstanaway commented on #107415
It appears that error (event) was emitted by the kube-scheduler (see initial post above). If the kube-apiserver detected the error, then the manifest should have been rejected and the kube-scheduler would never have tried to schedule a pod in that deployment.

So it would seem that the apiserver needs an update to catch such malformed label values. It does that in `metadata.labels`, but not in `la

[2022-01-12 17:27] dbourget commented on #103888
@llhuii thanks for following up, and sorry for the slow response.

[code]

That's one line per host except for a host that was rebuilt and doesn't currently have the feature enabled, but did have it back when I was testing this.

Second output is:

[code]

Does this tell you something interesting?

[2022-01-12 17:34] TeddyAndrieux commented on #103658
IMHO this issue is still valid

/remove-lifecycle stale

[2022-01-12 17:47] robscott commented on #103888
@dbourget some fixes were made in v1.23, can you try with that version? I'd also recommend removing `ServiceTopology=true` from `--feature-gates` as it has been removed in later k8s versions.

[2022-01-12 18:06] yuanchen8911 commented on #87850
5 min as default, but make it configurable?

[2022-01-12 18:09] Noxx-7 commented on #102545
/assign

[2022-01-12 18:11] Noxx-7 commented on #102545
/assign

[2022-01-12 18:18] MdSahil-oss commented on #107500
Hey! @sftim would you like to explain it more, because if i assign it to myself so i will need more explaination about issue and it will be my first contribution to kubernetes project so do you think it will be a good start with kubernetes

[2022-01-12 18:19] neolit123 commented on #107496
hi,

make sure that you upgrade from 1.19.x to 1.20.y first. skipping minor versions is not supported.

this doesn't seem like a core k8s problem, but something related to cert-manager / ingress or the deployment of AKS.
you can coordinate with the affected deployments or AKS support on how to resolve it.

you could also try asking on the support forums:
https://github.com/kubernetes/kubernetes/bl

[2022-01-12 18:19] #107496 closed

[2022-01-12 18:21] neolit123 commented on #107487
/sig apps storage

[2022-01-12 18:22] neolit123 commented on #107498
/sig apps

[2022-01-12 18:36] SergeyKanzhelev commented on #107469
/sig cloud-provider

(since tests are in cloud-provider folder)

[2022-01-12 18:37] SergeyKanzhelev commented on #107469
Are those tests needed. For GPU, (judging by name) GPU tests gce-device-plugin-gpu-master were removed, is the job still needed?

[2022-01-12 18:42] alculquicondor commented on #87850
Correct, we want to eventually eliminate it. If we don't see bug reports, we can probably do so in a couple of releases.

[2022-01-12 18:42] SergeyKanzhelev commented on #107412
from @bobbypage: verbosity is low in logs. If we can repro locally with higher verbosity, it will help.

Alternative: just bump the timeout for now.

[2022-01-12 18:44] SergeyKanzhelev commented on #107412
/assign @mmiranda96

[2022-01-12 18:50] SergeyKanzhelev commented on #107062
/assign @bobbypage
/unassign @Dragoncell

[2022-01-12 18:59] jayesh-srivastava commented on #106980
@sftim I have made the PR. I hope this works. If not then will be happy to do the necessary changes.

[2022-01-12 18:59] RinkiyaKeDad commented on #101695
Sorry I'm afraid I don't know if this will happen or not. Let's wait for what others have to say 🙂
Also, just as an fyi, I'm not working on this currently and I don't think anyone else is too.

[2022-01-12 19:01] SergeyKanzhelev commented on #107447
/area cadvisor
/triage accepted
/priority important-longterm

[2022-01-12 19:01] SergeyKanzhelev commented on #107447
/retitle Rotated container log files size not counted towards ephemeral-storage's limit on CRI-O

[2022-01-12 19:11] alculquicondor opened #107504 "Improve performance of node selector matcher"
### What would you like to be added?

Cache the actual operation of a requirement (for example, as a function) instead of storing it as a string

https://github.com/kubernetes/kubernetes/blob/bf8c918e0be340637e63520eb3b58df493a230f9/vendor/sigs.k8s.io/kustomize/kyaml/yaml/internal/k8sgen/pkg/labels/selector.go#L145:6

### Why is this needed?

When we parse a node selector, we transform the API ope

[2022-01-12 19:11] alculquicondor commented on #107504
/sig api-machinery
/sig scheduling

[2022-01-12 19:31] marckhouzam commented on #74178
@ahmetb I would be interested in your opinion on the proposed solution.  It will not work out-of-the-box with Krew, but I haven't found a way to do better with respect to Krew.

You had mentioned this previously, and although it would be a nice solution, I am concerned it would cause problems to any plugin that ignores all arguments and runs no matter what.  With such a plugin, calling a `get-comp

[2022-01-12 19:42] JohnRusk commented on #107463
Thanks @wojtek-t. I can't test on head or 1.23 right now, but it's good to know that the issue may be fixed there.

[2022-01-12 20:01] Huang-Wei commented on #87850
Increasing the internal is a good interim step. However, to smooth the elimination process, I think there are some gaps to better support the decision: like metrics and(or) events to show pods number/names moved by the enforced periodic flush. We may want to evaluate the data points how these metrics/events look like on a prod cluster.

[2022-01-12 20:13] alculquicondor commented on #87850
There will always be pods like that are moved by the flush (for example, in a steady cluster where no pods finished and no new nodes are added).

Perhaps something more useful is whether a pod got scheduled after getting put in the queue due to a flush. And then we should include which reason made it unschedulable in the past, so we can possibly identify which event we missed. Any other informatio

[2022-01-12 20:33] marcelloromani commented on #71647
FWIW in my case I realised I had done a silly mistake: in Docker Desktop -> Kubernetes I had `docker-desktop` selected, _but_ I had disabled Kubernetes in Docker Desktop.

So the solution was simple: select the correct K8s cluster :)

[2022-01-12 20:40] brandond commented on #70044
@ehashman can we unstale this?

[2022-01-12 20:48] bobbypage opened #107505 "graceful node shutdown test - improve dbus command to support other distros"
### What happened?

xref: https://github.com/kubernetes/kubernetes/pull/107361#issuecomment-1006987130

Graceful node shutdown test uses `dbus-send` to invoke dbus - https://github.com/kubernetes/kubernetes/blob/3516e76f3da5778400ee06fc2d628fa4560a6b43/test/e2e_node/node_shutdown_linux_test.go#L444

As per https://github.com/kubernetes/kubernetes/pull/107361#issuecomment-1006987130 some distros, d

[2022-01-12 20:48] bobbypage commented on #107505
/sig node

[2022-01-12 20:48] bobbypage commented on #107505
/sig testing

[2022-01-12 20:50] Huang-Wei commented on #87850
Yes, that basically what I meant above as metrics/events: if we observed that the metric showing the # of pods being moved by flush is 0; or if it's a small number, and by looking into the events/logs, we verify that the number is as expected, they are good signals to retire the flush interval.

We don't have "reason" in the `QueuePodInfo`, but `UnschedulablePlugins` is available and that should s

[2022-01-12 20:51] matthyx commented on #107473
Ok, let me reproduce tomorrow and try to understand what's going wrong... thanks for the additional details!
/assign
(assigning to keep track of it)

[2022-01-12 21:16] alculquicondor commented on #87850
I think verifying that the number is as expected is terribly difficult unless you are fully familiar with the pods in a cluster, which is not realistic when there are cluster administrators and support engineers from cloud providers.

[2022-01-12 22:23] hj-johannes-lee commented on #107074
Hello, I am trying to find a sig/node labeled issue I can contribute. Though it doesn't have "help wanted" or "good first issue" label, can I try to contribute something for this issue?

@bart0sh suggested me this issue (and I believe he will help me a lot ;) ), and it seems interesting to me!

I understand at least the issue fully, and some related parts in cpu_manager.go. But, since I am not rea

[2022-01-12 22:24] aojea commented on #107446
@antoineozenne there is a probability that removing the proxy from the webhooks no matter what can break some clusters
https://github.com/kubernetes/kubernetes/pull/107501#discussion_r783340420

is not possible to add `svc` to the NO_PROXY variable, `NO_PROXY=cluster.local,svc`

[2022-01-12 22:40] SergeyKanzhelev commented on #106939
see https://github.com/kubernetes/kubernetes/issues/106939#issuecomment-998185172

Since we understood item 2 - it is not needed, just remove the skipper lines.

Ideally test needs to be de-flaked as well, but it it not necessarily in the scope of this change

[2022-01-12 22:48] apelisse commented on #107500
We should ping some people in the test-infra world if we want to add another layer of approval.

[2022-01-12 22:54] apelisse commented on #107500
A few thoughts of things we might need to achieve that:
- Have a specific pool of tech-writers/reviewers, maybe defined in [OWNERS](https://github.com/kubernetes/kubernetes/blob/master/OWNERS) or [OWNERS_ALIASES](https://github.com/kubernetes/kubernetes/blob/master/OWNERS_ALIASES)
- Some heuristics to detect that a doc review is needed, a la "api review needed"
- Some new "tech-lgtm-required" labe

[2022-01-12 22:54] apelisse commented on #107500
@thockin thoughts?

[2022-01-12 23:29] ahg-g commented on #107415
I agree, the pod should've not been admitted in the first place.

I think the issue is here: https://github.com/kubernetes/kubernetes/blob/8c69e5d25bfdbd266b384db29493bc9bad60f092/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation.go#L57

we validate the label key but not value for MatchExpressions.

we should add:
[code]

we do that already with MatchLabels, but not MatchExpre

[2022-01-12 23:56] jcstanaway commented on #107415
Patching the apiserver would definitely be the preferred solution as that would cover all clusters without the need to add an OPA Gatekeeper policy.

[2022-01-13 00:04] ahg-g commented on #87850
logs/events are not practical.

I think a metric tracking the number of scheduled pods broken down by both `UnschedulablePlugins` (we can just use any one) and `ClusterEvent` triggering the pod to be moved to the active queue when it got scheduled would be useful, this will allow us to compare across all events, and the flush event should be extremely low relatively if indeed flushing is not neede

[2022-01-13 00:46] ahg-g commented on #107415
/triage accepted
/kind bug

[2022-01-13 00:47] ahg-g commented on #107415
@Zheaoli can you pls send a pr with the fix as described above?

[2022-01-13 00:49] Zheaoli commented on #107415
@ahg-g Of course, I will make bug fix ASAP I can

[2022-01-13 01:04] Huang-Wei commented on #87850
Reasonable metric(s) would suffice to tell if we can retire the flushing interval, but only on a happy path. If it turns out to be undesired number, we need extra info like logs/events to pinpoint the problem. I'd still suggest to go with metric and logs (events can be emitted due to extra costs).

Although a bit hacky, maybe plumb an environmental variable? so we can make it customized while also

[2022-01-13 02:12] 249043822 commented on #107473
@matthyx Here the existing pod is updated, it's no problem, but the configsource always sends a copy for the pod to config source channel, see https://github.com/kubernetes/kubernetes/blob/a0dfd958d5c5e8c2bd5fd30e1d2e9031e9aba1b6/pkg/kubelet/config/config.go#L300, so is the problem I said.

[2022-01-13 02:48] bridgetkromhout commented on #107405
/triage accepted
/assign @bridgetkromhout

[2022-01-13 03:02] liushi001 commented on #107483
/reopen

[2022-01-13 03:12] liushi001 commented on #107483
sorry, I lost some infomation, I'v already backportted this pr #105075 just to resolved moving out and in static pod manifest file to restart pod in a short time.
But there happend another problem in the scenario than there is a long period of time before files are moved in and removed.
I think my problem just was introduced by this pr #105075.
/reopen

[2022-01-13 03:34] haoruan commented on #104252
@khenidak just wondering if this issue is still being worked on, I'd like to help

[2022-01-13 03:38] bysph opened #107511 "Is it possible to get the lifecycle details of a container or pod?"
### What would you like to be added?

We want to know what state the current container/pod is in and what needs to be done before it becomes Running.
It is better to provide a clear list,similar to the following:
{
  "startUpProbe": {
    "status": "success",
    "startAt": "xxxx",
    "finishAt": "xxxx"
  },
  "postStartHook": {
    "status": "success",
    "startAt": "xxxx",
    "finishAt": "xxx

[2022-01-13 04:22] NikhilSharmaWe commented on #107488
@pacoxu Should I change the value of const `CSIMigrationRBD` from `csiMigrationRBD` to `CSIMigrationRBD`.

[2022-01-13 04:46] aartinagdev opened #107513 "HPA scales up deployment to max replicas during rolling upgrade without any load"
### What happened?

We are observing below scenarios with K8s v1.20.6:
We have a Custom Metrics Prometheus Adapter responsible for registering a custom metric with API Server.
HPA makes scaling decisions by querying that custom metric from API Server.

1. When one replica of Deployment is up, and we make an edit to deployment resource using kubectl edit deploy, HPA spawns up pods upto max replicas

[2022-01-13 05:16] 249043822 commented on #107493
@aranjanthakur can you feedback the log for your leader kube-controller-manager and it's configurations?

[2022-01-13 05:17] yangjunmyfm192085 commented on #107493
/assign @249043822

[2022-01-13 06:18] matthyx commented on #107473
Seems like you're doing great :-)
/unassign

[2022-01-13 06:29] vsxen commented on #71510
😄
哈哈

[2022-01-13 06:30] kagaya85 commented on #101622
Hi @dbgoytia, are you still working on this, I'm interested in this and please let me know if I can give it a try, Thanks! : )

[2022-01-13 07:15] mason1kwok commented on #106939
@shatoboar this is a simple issue, so I tried to fix it since I've found it some days.

[2022-01-13 07:18] Shubham82 commented on #107513
/sig autoscaling

[2022-01-13 07:23] BugMakerPro opened #107520 "miss to return when listening channel closed"
https://github.com/kubernetes/kubernetes/blob/68e64ba52eb8518894ee62ef4240c9733f8c4346/cluster/images/etcd-version-monitor/etcd-version-monitor.go#L253

miss return ？

[2022-01-13 07:48] mason1kwok commented on #107319
this is a big update, it must change this logic https://github.com/kubernetes/kubernetes/blob/2f64227aeab46ab77de4b996a4ce63209295de60/staging/src/k8s.io/client-go/testing/fixture.go#L121

as you see, it is the fake client basic method.
needs some help or suggestions.

[2022-01-13 08:02] felix0080 commented on #82958
maybe design error. Nobody answered that question

[2022-01-13 08:04] felix0080 commented on #82958
/reopen

[2022-01-13 08:06] felix0080 opened #107524 "No one can solve this bug?"
### What happened?

https://github.com/kubernetes/kubernetes/issues/82958

### What did you expect to happen?

https://github.com/kubernetes/kubernetes/issues/82958

### How can we reproduce it (as minimally and precisely as possible)?

https://github.com/kubernetes/kubernetes/issues/82958

### Anything else we need to know?

https://github.com/kubernetes/kubernetes/issues/82958

### Kubernetes ve

[2022-01-13 08:07] yuzhiquan commented on #107504
/assign

[2022-01-13 08:57] cynepco3hahue commented on #107074
Feel free to assign it to you yourself, but take into consideration that we are dependent on @smarterclayton work that he mentioned here https://github.com/kubernetes/kubernetes/pull/103979#issuecomment-904836223

[2022-01-13 09:05] yuzhiquan commented on #107504
/triage accepted

[2022-01-13 09:09] #80481 closed

[2022-01-13 09:15] wzshiming commented on #82958
/reopen

[2022-01-13 09:16] wzshiming commented on #107524
Please come back to #82958 to continue our discussion
/close

[2022-01-13 09:16] #107524 closed

[2022-01-13 09:18] wzshiming commented on #82958
Hi @felix0080
This seems to be designed this way, you can try to reduce the heartbeat time of Node to alleviate this situation

[2022-01-13 09:36] antoineozenne commented on #107446
@aojea thank you for your work! Yes, I have the possibility to add `.svc` to the `NO_PROXY` variable, but I would avoid that because in some environments (private providers), `.svc` is used in the infra...

If I understand, you proposed to bypass the proxy when using Services. It seems a bit much to me. Can we naively and simply use `.svc.<cluster domain>` (by providing it in the apiserver conf) t

[2022-01-13 09:43] hj-johannes-lee commented on #107074
Ah, I see.! Thanks!

/assign

[2022-01-13 09:53] MdSahil-oss commented on #107520
/assign

[2022-01-13 09:54] MdSahil-oss commented on #107520
/triage accepted

[2022-01-13 10:00] SCLogo commented on #70044
/remove-lifecycle stale

[2022-01-13 10:01] wdec commented on #100698
/remove-lifecycle stale

[2022-01-13 10:04] XSAM commented on #50309
I totally agree with you @lpgc. I am trying to solve this problem by making an OCI specification for fetching container id within the container. Here is the [comment](https://github.com/opencontainers/runtime-spec/issues/1105#issuecomment-1002888071).

[2022-01-13 10:14] liubog2008 commented on #79272
I think `Value` is not reasonable...

I find `Value` is introduced in HPA v2 and named as `TargetValue` in `Object` type. `Object` type is designed for some metrics from k8s objects such as `Ingress`. And these metrics are not directly related to pods.

Now desired replica for `Value` target is calculated as below

[code]
`utilization` is the sum of metric.
`targetUtilization` is user defined `Val

[2022-01-13 10:50] kerthcet commented on #107488
/assign

[2022-01-13 11:01] dariuszbz commented on #60538
HI. I'm not sure why did you close that. Could you point me where is the solution, please?

In my dev I had a problem with
{
    "apiVersion": "http.keda.sh/v1alpha1",
    "kind": "HTTPScaledObject",
    "metadata": {
        "annotations": {
            "kubectl.kubernetes.io/last-applied-configuration": "{\"apiVersion\":\"http.keda.sh/v1alpha1\",\"kind\":\"HTTPScaledObject\",\"metadata\":{\"anno

[2022-01-13 11:09] #97103 closed

[2022-01-13 11:27] neolit123 commented on #107520
https://github.com/kubernetes/kubernetes/blob/68e64ba52eb8518894ee62ef4240c9733f8c4346/cluster/images/etcd-version-monitor/OWNERS#L4

i don't know much about this tool. the owners file has api machinery.
/sig api-machinery

[2022-01-13 11:32] neolit123 commented on #107511
/sig node

[2022-01-13 11:58] leonardpahlke opened #107530 "[Flaky test] gci-gce-ingress, diffResource"
### Which jobs are flaking?

* gci-gce-ingress

### Which tests are flaking?

* ci-kubernetes-e2e-gci-gce-ingress.Overall
* kubetest.diffResources

### Since when has it been flaking?

History goes back to 2021-12-30

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress

### Reason for failure (if possible)

[code]

### Anything else we need to know?

_No response

[2022-01-13 12:07] denkensk commented on #87850
I suppose that maybe the metric with multi-dim labels will help us to evaluate if we can retire the flushing interval and identify which event we missed.
- (1 dim): The reason triggers the pod to be moved to the active queue, It may includes flushing event, node/add, pod/delete.... (It can be divided into only two categories: flush/event). This will help us to evaluate if we can retire the flushin

[2022-01-13 12:21] loqutus commented on #80481
/reopen

[2022-01-13 12:22] loqutus commented on #80481
/assign @loqutus

[2022-01-13 12:36] linxiulei commented on #105743
#85807

[2022-01-13 13:34] colearendt commented on #49937
@SEJeff thanks for reopening this! if you could run `/reopen` and then follow up with `/remove-lifecycle rotten`, that will allow us to protect it / keep it open a bit easier 😄

[2022-01-13 14:03] ahg-g commented on #87850
Logging is great for debugging, so that sgtm; but it is not practical to spot trends. so I guess we are on the same page.

Not everyone uses the scripts in the repo to start k8s. I think we can just have this as a CC, and cloud providers should tune it at the pace they see fit.

[2022-01-13 15:37] aojea commented on #107530
checking this occurence https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1481536750466633728/build-log.txt

[code]

it seems that a load balancer didn't get cleaned after the test

[code]

@bowei @swetharepakula you may have more insights , can you PTAL?
cc @wojtek-t

[2022-01-13 16:08] astoycos commented on #106011
Yeah sounds good I would continue the debugging process with the CNI (Calcio) since they are the entity handling that traffic flow.

[2022-01-13 16:23] MikeSpreitzer opened #107534 "Outdated/confusing stuff in apiserver storage"
While looking at `k/apiserver/pkg/storage` I noticed a few things.

1.  The parameter named `ptrToType` at https://github.com/kubernetes/apiserver/blob/56ff18e72e23862ac6fd0c6ddd57238be8324ba3/pkg/storage/interfaces.go#L237 has a misleading name.  The value of this parameter is not a pointer to a type; rather, it is an example instance of the type (if I understand correctly).
2. The example usage

[2022-01-13 16:23] MikeSpreitzer commented on #107534
@kubernetes/sig-api-machinery-misc

[2022-01-13 16:24] ahg-g commented on #87850
but that is not safe, we need an easy way to change it back if increasing it caused problems.

[2022-01-13 16:26] alculquicondor commented on #87850
I think we can simply consider the flush yet another type of event. If we do this, the metric itself can serve us long term and we don't need to retire it once we remove the flush.

Ah, good point, then it should either be a command line flag and/or environment variable that gets released with a deprecated notice from the beginning.

[2022-01-13 17:08] ahg-g commented on #87850
it is already one: https://github.com/kubernetes/kubernetes/blob/0669da445fa8c1ae07c15c0827f0e83da11cbe58/pkg/scheduler/internal/queue/events.go#L90

a deprecated flag sounds like a good option

[2022-01-13 17:09] Huang-Wei commented on #87850
Yes, it already is:

https://github.com/kubernetes/kubernetes/blob/0669da445fa8c1ae07c15c0827f0e83da11cbe58/pkg/scheduler/internal/queue/events.go#L89-L90

[2022-01-13 17:20] MikeSpreitzer commented on #107534
7. The func comment at https://github.com/kubernetes/apiserver/blob/56ff18e72e23862ac6fd0c6ddd57238be8324ba3/pkg/endpoints/handlers/patch.go#L516-L520 uses the wrong technique to quote parameter names.

[2022-01-13 17:34] dashpole commented on #107216
/assign @ehashman

[2022-01-13 17:36] ehashman commented on #107216
I don't think we want to expand the set of metrics exported by cadvisor. If these are not already available in the kubelet, we recommend you run a standalone cadvisor to collect them, as @CatherineF-dev has suggested.

/close

[2022-01-13 17:42] fedebongio commented on #107491
/help
It seems to be a setup problem either on the underlying infra or on the VMware host vms. In any case, is not API
machinery.
Can you post the API Server Logs?

[2022-01-13 17:42] MikeSpreitzer opened #107535 "TestApplyResetFields insists on conflict that may not happen"
### What happened?

TestApplyResetFields fails on FlowSchema if that is not skipped.  The failure is in the last operation, an update of status that is expected to get a conflict but does not.

### What did you expect to happen?

I expected TestApplyResetFields to succeed when applied to FlowSchema.

### How can we reproduce it (as minimally and precisely as possible)?

Remove the skipping of Flow

[2022-01-13 17:42] dashpole commented on #106945
/triage accepted

[2022-01-13 17:43] fedebongio commented on #107520
/cc @jpbetz @wojtek-t
/triage accepted

[2022-01-13 17:43] fedebongio commented on #107534
/triage accepted

[2022-01-13 17:43] MikeSpreitzer commented on #104842
Bug #107535 might explain this.

[2022-01-13 17:47] dashpole commented on #106746
/triage accepted

[2022-01-13 17:47] dashpole commented on #106746
/remove-triage needs-information

[2022-01-13 17:52] dashpole commented on #107440
/assign @serathius

[2022-01-13 17:55] dashpole commented on #107146
cc @logicalhan

[2022-01-13 18:04] jpbetz commented on #107520
Looks like a bug to me. I would expected the stopCh case should return there.

[2022-01-13 18:14] sftim commented on #107536
/sig apps

[2022-01-13 18:14] sftim commented on #107536
/kind bug

[2022-01-13 18:22] jyotimahapatra opened #107537 "Modify test/utils/image/manifest.go to handle the images based on a yaml file"
### What happened?

I work for AWS EKS and we run prow conformance jobs before qualifying the kubernetes versions and also as part of regression tests. Today we run the prow conformance in a couple different environments(some of which don't have internet access). In order for the prow conformance tests to run, we need to deliver the images mentioned in https://github.com/kubernetes/kubernetes/blob

[2022-01-13 18:29] dims commented on #107537
/label area/conformance

[2022-01-13 18:30] dims commented on #107537
/sig testing

[2022-01-13 18:31] dims commented on #107498
cc @nikhita

[2022-01-13 19:30] zbogdan7 commented on #107491
Here's the last log from api-server.

2022-01-12T12:30:41.966066133+00:00 stderr F I0112 12:30:41.965974       1 server.go:565] external host was not specified, using 192.168.0.131
2022-01-12T12:30:41.967371313+00:00 stderr F I0112 12:30:41.967342       1 server.go:172] Version: v1.23.1
2022-01-12T12:30:42.554406446+00:00 stderr F I0112 12:30:42.554318       1 shared_informer.go:240] Waiting for c

[2022-01-13 19:37] MikeSpreitzer opened #107538 "Bad concurrent strategic merge patch and server side apply on different slice members"
### What happened?

The TestApplyResetFields test in `test/integration/apiserver/apply` fails when applied to FlowSchema (that is, when the exclusion for that type is removed).

### What did you expect to happen?

I expected that test to pass for FlowSchema objects.  Even though there is also the APF config-producing controller creating/modifying a *different* status Condition, that should not int

[2022-01-13 19:38] MikeSpreitzer commented on #107538
@kubernetes/sig-api-machinery-bugs

[2022-01-13 19:52] MikeSpreitzer commented on #107538
@apelisse

[2022-01-13 20:56] hanlins opened #107539 "Add healthz subresource in CRD"
### What would you like to be added?

Add a `healthz` subresource to CRD. User can add this subresource to their CRD by adding a marker like `//+kubebuilder:subresource:healthz,...`, kubebuilder will generate the healthcheck code, and user can query the healthz field to learn the real-time status of the CR.

### Why is this needed?

Currently, CRD only supports `status` and `scale` subresource. So

[2022-01-13 20:58] dcantah commented on #106278
Thanks @gabriel-samfira for the fix! Once [this](https://github.com/microsoft/hcsshim/pull/1277) is in I'll need to cut a new 0.9.x tag in hcsshim and get it into containerd. Optimistically the fix will be present in Containerd 1.6

[2022-01-13 22:06] stefanprodan commented on #99003
We have the same issue with [Flux](https://github.com/fluxcd/kustomize-controller/issues/486). After we migrated to SSA, the objects applied by Flux client-side are not handed over to Flux server-side even if we apply with force ownership and we use the same manager name. So now Flux users are forced into deleting the `Update` manager from all their objects in the cluster, otherwise they no longer

[2022-01-14 00:21] abdennour commented on #72501
should i downgrade the client ?

[code]

[2022-01-14 00:30] abdennour commented on #72501
Got it! make sure you filenames does not include `:`

[2022-01-14 00:36] apelisse commented on #107417
No, I don't think it's a doc issue. We do support a transition (which doesn't work great either) from csa to ssa, but only for the kubectl manager. I can see here that you're using a different manager.

We should do better with the client-side to server-side transition.

[2022-01-14 00:42] redbaron commented on #107417
Is changing field manager passed to structured merge diff from `(name, operation)` to `(name)` a viable way to resolve it?

[2022-01-14 01:07] 2014BDuck commented on #107415
/sig api-machinery

[2022-01-14 01:13] SergeyKanzhelev commented on #107505
/remove-kind bug
/kind feature

I'm putting kind feature to signify that nothing is really broken in k8s, tests needs improvement.

[2022-01-14 02:05] kerthcet commented on #107520
/retitle miss to return when listening channel closed
/assign

[2022-01-14 02:43] smarterclayton commented on #107539
Can you describe in a bit more detail of what the real time check is for?  A CRD once installed should stay working - is this to query when a CRD is successfully installed?

Note that different apiservers in an HA configuration would report “healthy” at different times - are you trying to use this for load balancer inclusion?

Some more details on the use case would be helpful (what scenarios for

[2022-01-14 02:55] yangjunmyfm192085 commented on #107447
hi, @ramineni, In the past two days, I have studied the collection of file information by cAdvisor. docker and cri-o runtime basically have the same file collection process in cAdvisor.
I have verified  that when the runtime is cri-o, the log information statistics are also correct.
So I need you to provide more detailed information. I found that the command you show at is: `kubectl get --raw /api

[2022-01-14 03:00] hanlins commented on #107539
Hi @smarterclayton, thanks for stopping by! In my use case, the CRD abstracts the necessary network infra between my k8s and some remote resource. Upon creation of a CR, one (let's say the apiserver) should be able to talk to some remote endpoint. It would be nice if we can have a per CR `healthz` endpoint so one can check the connectivity status at runtime. In theory the connectivity should be he

[2022-01-14 03:06] davidstack opened #107543 "taint node,controller manager can not delete pod"
### What happened?

one statefulset pod "statefulsettestpod-0" is running on node2,  the pod toleration is

`
  tolerations:
  - effect: NoExecute
    key: node.kubernetes.io/not-ready
    operator: Exists
    tolerationSeconds: 30
  - effect: NoExecute
    key: node.kubernetes.io/unreachable
    operator: Exists
    tolerationSeconds: 30
  - effect: NoExecute
    key: node.kubernetes.io/unschedul

[2022-01-14 03:30] tschirmer commented on #60964
In my case, I found that prior to the upgrade to 1.19, our pods would have access to port TCP and UDP port 53 for DNS resolution, regardless of the network policy configurable, and afterward we needed to ensure the network policy was allowing port 53 for all pods. We're not sure why it wasn't enforced prior to this (we would expect that to be the case), but the name resolution started up again onc

[2022-01-14 03:32] yangjunmyfm192085 commented on #107493
@aranjanthakur Could you provide more log information as mentioned  above by  @249043822?

[2022-01-14 05:01] aryan9600 commented on #107285
/assign

[2022-01-14 05:54] kevindelgado opened #107544 "applyPatcher shouldn’t unmarshal twice for strict/warn field validation"
## Background

When a server-side apply request specifies strict or warn field validation, it will [unmarshal the patch twice](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go#L486-L504).

First in order to detect any fatal errors (not from strict validation) and unmarshal into the patch object that is applied, and then once again af

[2022-01-14 05:58] kevindelgado opened #107545 "Ensure NestedObjectDecoders do not short circuit on strict decoding errors"
## Background
With the addition of server side validation in 1.23, it is now possible for a `runtime#Decode()` call to successfully decode it’s data and return a non-nil error when there are strict decoding errors (e.g. duplicate/unknown fields).

This means that callers of `runtime#Decode()` can distinguish between fatal errors (that cause decoding to fail) and strict decoding errors (that still

[2022-01-14 05:59] kevindelgado commented on #107545
/sig api-machinery

[2022-01-14 06:00] kevindelgado commented on #107544
/sig api-machinery

[2022-01-14 06:47] kagaya85 commented on #101622
@dbgoytia Thanks for reply, I am vary glad to hear that, I think you can continue your work and I would take a look at  other issues, if there is anything I can help, please feel free to ping me : )

[2022-01-14 07:02] davidstack commented on #107543
/sig api-machinery

[2022-01-14 07:30] sanposhiho commented on #94601
/remove-lifecycle stale

[2022-01-14 08:17] yangjunmyfm192085 commented on #104459
/cc

[2022-01-14 08:33] MaiSao commented on #94245
I have the same problem. How can i help me with this, the deployment (replicaset > 1) loop create evicted Pod ?

[2022-01-14 09:19] #101740 closed

[2022-01-14 10:48] vadimnyx commented on #86507
If you using gcloud, you just have to use command:
gcloud compute firewall-rules create test-node-port --allow tcp:<node-port>

[2022-01-14 10:48] vadimnyx commented on #86507
gcloud compute firewall-rules create test-node-port --allow tcp:node-port

[2022-01-14 12:16] rikatz commented on #107498
Just to make sure, this is the same understanding that I had when developing kubepug :) By that time we didn't had any assumption on how to flag a deprecated API other than trying, as a best effort to look into the api description and looking into the deprecated word (but I knew by that time it was a huge risk!)

Having the OpenAPI v3 properly marking APIs as deprecated would be a huge step (and e

[2022-01-14 12:30] sftim commented on #107498
@rikatz would you be willing to file a feature request that describes what you'd like to see?

[2022-01-14 13:02] sftim commented on #107539
Kubernetes is level-triggered: the `.status` of a resource tells you its status.

With an APIService then yes you want to know if it's healthy or not, but for a CustomResourceDefinition extension then the API server _knows_ that the thing serving that API is healthy (because the API server itself serves the extension API).

Also: is the `z` suffix helpful here? If I were going to have a subresourc

[2022-01-14 13:04] sftim commented on #107539
(If you want to publish an extension API, not following Kubernetes conventins, that reports the status of some resource in a way that a remote client makes sense, then I _think_ you can already do that: define an APIService that implements the API the client wants, and point the APIService at the API you want to check - which could be a CRD).

[2022-01-14 13:09] liggitt commented on #107539
This is asking for the API server to proxy through calls to /api/mygroup/v1/myresource/foo/healthz to some CRD-author-defined endpoint.

I think this is a specific instance of the general feature request at https://github.com/kubernetes/kubernetes/issues/72637

When that was discussed in API machinery, the feedback was that adding more cases of proxying through the API server was not desired.

[2022-01-14 13:10] liggitt commented on #107539
Closing this in favor of #72637

[2022-01-14 13:10] #107539 closed

[2022-01-14 13:39] Jeansen commented on #94825
I'll wait for 1.24. With 1.22.5 My cluster has some of these messages but is stable. But with 1.23.x I get disk pressure because my sys logs get spammed quickly.

[2022-01-14 14:07] mason1kwok commented on #105025
/assign

[2022-01-14 15:25] ahg-g opened #107556 "Add more details related to scheduler's decisions to logging and event messages"
### What would you like to be added?

For scheduled pods, add additional details on how the selected node was scored

For unscheduled pods, add details which filters where actually executed on the pod.

The former should be easy to do now, the latter needs improvements to the framework: e.g. a new "Success" status that says "NotRelevant", which Filters (perhaps using PreFilter extension) return wh

[2022-01-14 15:58] alculquicondor commented on #107556
I would use the word "Skipped" to signal that the filter didn't do a meaningful action on the pod

[2022-01-14 15:59] crigas1 commented on #81329
this would be a very useful feature

[2022-01-14 16:08] jsturtevant commented on #107114
After de-flaking other tests this is still a flake: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-master-containerd-windows/1481964383998316544

[2022-01-14 16:13] Krizz commented on #24803
Thank you @micmax93, this seems to have worked.

Shouldn't this issue be reopened ?

[2022-01-14 16:22] ahg-g commented on #107556
A prefilter returning skipped should cause the framework to skip executing filter as well.

[2022-01-14 16:45] fjammes opened #107560 "Public access to validateOnlyAddedTolerations() in package "k8s.io/apimachinery/pkg/api/validation""
### What would you like to be added?

Public access to validateOnlyAddedTolerations() in package "k8s.io/apimachinery/pkg/api/validation"

See https://github.com/kubernetes/kubernetes/blob/885961cda8875cce192700fe6a32ff57ba706106/pkg/apis/core/validation/validation.go#L3327

### Why is this needed?

When implementing a `validatingWebhook` inside an operator, it might be useful to call `validateOnl

[2022-01-14 16:56] jsturtevant opened #107561 "Windows - FailedCreatePodSandBox: Failed to create pod sandbox: rpc error: code = Unknown desc = failed to reserve sandbox name"
### What happened?

Windows e2e tests flake due to the sandbox name being reserved for another container:

[code]

Reported in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1932#issuecomment-1006193061 then observed in CI: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-master-containerd-windows/1481857931363225600

It is also reported in the issue h

[2022-01-14 16:58] jsturtevant commented on #107561
/sig windows
/sig node

[2022-01-14 16:59] jsturtevant commented on #107561
/triage accepted

[2022-01-14 17:07] ThuF opened #107562 "Kubectl set env from secret leads to uppercase of the secret keys being uppercased"
### What happened?

I have a **Secret** created by the following command:
[code]

I'm binding the secret to a **Deployment** with the following command:

[code]

When describing the deployment I get the following output:

[code]

Where the environment variables are in uppercase:
- clientid &#8594; CLIENTID
- clientsecret &#8594; CLIENTSECRET
- verificationkey &#8594; VERIFICATIONKEY
- xsappname &#

[2022-01-14 17:41] jsturtevant commented on #107561
found https://github.com/kubernetes/kubernetes/issues/94085 which was closed as not a bug: https://github.com/kubernetes/kubernetes/issues/94085#issuecomment-778738166

[2022-01-14 17:57] jpbetz commented on #107520
That PR removes a break, which would be a noop (because a break terminates the execution of the innermost "for", "switch" or "select"). I agree the break should be removed because it doesn't do anything. But resuming the for loop when the goroutine has been signaled to stop seems like a bug. Return still seems right to me here.

[2022-01-14 18:21] hanlins commented on #72637
/cc

[2022-01-14 19:12] MikeSpreitzer commented on #107538
#107547 demonstrates that the problem is not actually a bug in the server but rather a lack of the proper API annotations to guide the strategic-merge-patch.
/close

[2022-01-14 19:12] #107538 closed

[2022-01-14 19:13] MikeSpreitzer commented on #107535
The size limit is way bigger than will be hit in this test, so is not an issue for this test.

[2022-01-14 19:13] #107535 closed

[2022-01-14 19:23] ajsfidelis commented on #69362
I believe I've found a unexpected behavior related with this issue in the function [ensureInternalInstanceGroup](https://github.com/kubernetes/legacy-cloud-providers/blob/release-1.16/gce/gce_loadbalancer_internal.go#L466):

It compares the contents of gceNodes and kubeNodes for Nodes add/removal operations on Instance Group. The former is obtained from GCE Instance Group, the latter from Kubernet

[2022-01-14 20:32] #104641 closed

[2022-01-14 20:42] bobbypage commented on #107284
Both PRs above have merged, so I think we can close this. Please re-open if there's anything else needed. Thanks!

/close

[2022-01-14 20:43] #107284 closed

[2022-01-14 21:17] arianvp commented on #100328
Did this get fixed in any released kubernetes version? I notice restarting dbus on 1.23 leaves kubelet in a broken state like described here

[2022-01-14 21:32] jpbetz opened #107573 "CEL validation for CRDs alpha changes for 1.24"
### What would you like to be added?

CEL validation improvements for the 1.24 Kubernetes release

KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2876-crd-validation-expression-language

Our goal is to complete the bulk of the Beta requirements but release them as Alpha since many add new functionality to the x-kubernetes-validations field.

xref: Beta requireme

[2022-01-14 21:38] jpbetz commented on #107573
/triage accepted

[2022-01-14 22:00] nroose commented on #24725
For me, I don't get why we would want to have restarting pods and restarting containers in the pod. Especially if the pod has one container, why do we need to restart the container and why can't it just be a new pod. A deployment starts a new pod when the pod fails. Why do we need to implement all the features on all the different objects? Doesn't make sense to me. And somehow to prevent the never

[2022-01-14 22:19] BenTheElder commented on #107469
It's going to be up to Node I think? GPU doesn't seem particularly relevant to the other SIGs.

[2022-01-14 22:20] BenTheElder commented on #107499
/sig api-machinery

[2022-01-14 22:28] jsturtevant commented on #107561
The CI test https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-master-containerd-windows/1481857931363225600 didn't have logs as the tests completely timed out.

The [other reported failure](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/1932/pull-cluster-api-provider-azure-windows-containerd-upstream-with-ci-artifacts

[2022-01-14 22:29] bobbypage commented on #107343
/reopen

[2022-01-14 22:30] bobbypage commented on #107343
hmm, is this still issue? The testgrid job is still failing even after the fix appears to be merged?

![image](https://user-images.githubusercontent.com/486583/149593623-9c150848-2dd1-4fdf-88e6-d141cc8693d6.png)

https://testgrid.k8s.io/sig-node-cri-o#node-kubelet-serial-crio

[2022-01-14 22:30] bobbypage commented on #107343
please take a look

/cc @wzshiming

[2022-01-14 22:36] dims commented on #107469
gce-ubuntu-master-default and gce-ubuntu-master-containerd are exactly the same, so we can drop/delete gce-ubuntu-master-default

https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml#L465-L559

[2022-01-14 22:58] endocrimes commented on #107469
+1 - https://github.com/kubernetes/test-infra/pull/24890

[2022-01-14 23:31] jsturtevant commented on #107561
After reviewing everything I believe this is a bit of a red herring.  The root cause is some type of slow down or lock in the system.  The request it self isn't fatal and maybe adds a bit more overhead but it would be pretty minimal I think.

When this error happens it will fail then re-queue accordingly https://github.com/kubernetes/kubernetes/blob/cf18d80d035780739575b8cc889e8f26bf36779f/pkg/kub

[2022-01-14 23:52] jsturtevant commented on #107561
The second issue is the same as https://github.com/kubernetes/kubernetes/issues/107394#issuecomment-1006902049

[2022-01-15 00:28] kevindelgado commented on #107544
closing after discussions with @liggitt revealed that we will be double decoding regardless of which approach we take here so it is best to leave this until we are willing to make the necessary changes to kyaml (kubernetes-sigs/yaml#70)

[2022-01-15 00:28] #107544 closed

[2022-01-15 00:45] rphillips commented on #100241
We have a number of issues that might be the symptom of this issue. Namely, a few customers are reporting memory is full on the node, but all the RSS doesn't add up to the in-use space. With the anonymous mmapped data being retained, this issue seems like the culprit.

Can we get a backport to 1.23 and 1.22?

[2022-01-15 00:48] MikeSpreitzer opened #107574 "Add patch annotations to APF API types in next version"
As revealed in #104842 and #107547, the Condition slices in FlowSchemaStatus and PriorityLevelConfigurationStatus are missing the `patchStrategy` and `patchMergeKey` annotations that tell strategic merge patch how to handle the slice.

This should be fixed when we make the next version of this API.  See #107549 for exactly how.

@kubernetes/sig-api-machinery-misc
@wojtek-t
@deads2k
@tkashem
@laval

[2022-01-15 01:24] #72775 closed

[2022-01-15 01:42] richardseberino commented on #89898
I had the same issue, but in my case, I had 2 containers inside of the same POD, and both of them there a readiness probe setup, and I am looking in the probe for the wrong container

[2022-01-15 01:49] MikeSpreitzer commented on #104842
Current understanding is as follows.  The annotations needed to guide strategic merge patch are missing from the Condition slice field in FlowSchemaStatus and in PriorityLevelConfigurationStatus.  The APF config-consuming controller was written, however, with the mistaken understanding that a strategic merge patch of Status with one Condition will only affect that member of the Condition slice.  T

[2022-01-15 01:49] denkensk commented on #107556
Perhaps it would be better to include other extension points, like Reserve、PreBind and ... .  When developing custom plugins, I always check at each extension point if the pod is related to this plugin.

[2022-01-15 02:18] sanposhiho commented on #107556
I'd like to pick this.

/assign

[2022-01-15 02:21] #107405 closed

[2022-01-15 04:24] #104387 closed

[2022-01-15 05:26] sanposhiho commented on #107556
Isn't it confusing to add new status named "Skipped", because we have "Skip" status for Bind plugins? (ref: https://github.com/kubernetes/kubernetes/blob/7bde4baac48d702aabb03123a342d3c11323c4ef/pkg/scheduler/framework/interface.go#L79)

[2022-01-15 06:08] sanposhiho commented on #107556
We already logging (v>=10)
- all node's normalized scores from each plugin
https://github.com/kubernetes/kubernetes/blob/7bde4baac48d702aabb03123a342d3c11323c4ef/pkg/scheduler/generic_scheduler.go#L430-L437
- all node's final scores (i.e. total score of all plugins when no extenders)
https://github.com/kubernetes/kubernetes/blob/7bde4baac48d702aabb03123a342d3c11323c4ef/pkg/scheduler/generic_schedu

[2022-01-15 07:34] elrob commented on #78761
I'm having another issue and I have searched and been unable to find out why, if it is a bug, or if I am doing something incorrectly?

• HPA scaled down correctly based on my parameters
• And correctly detects a trigger to scale up
• But continues to scale up when it should not

From the events below:
3 -> 2 -> 3 -> 4 -> 5 makes sense
7 -> 9 -> 12 -> 15 does not make sense - the metric was back at

[2022-01-15 07:54] aimuz commented on #100236
/remove-lifecycle rotten

[2022-01-15 13:33] kerthcet commented on #107488
Sorry for delayed replay, the answer is yes, and you can confirm your thoughts by building the binary file yourself, like `build/run.sh make <component>`.

[2022-01-15 14:34] mhadimani opened #107583 "controller-manager failed to start endpoint slice controller, leading to stale iptable rules"
### What happened?

We came across a scenario where our services were not able to reach their respective endpoints because of an issue with the endpoint slices not being updated with the correct IP. This lead to kube-proxy having stale iptable rules

The controller-manager was up and running all the time and we had to restart the controller-manager service to resolve the issue.

On troubleshooting

[2022-01-15 14:40] aojea commented on #107583
Hmm, this maybe an unsupported skew version scenario https://kubernetes.io/releases/version-skew-policy/

[2022-01-15 14:53] aojea commented on #107537
@smarterclayton  fixed the offline problem for conformance in https://github.com/kubernetes/kubernetes/pull/93510

Clayton do you have some thoughts?

I personally can't understand well the improvement from the description, is not a tooling problem?

[2022-01-15 16:32] #100783 closed

[2022-01-15 18:32] #93740 closed

[2022-01-15 19:32] #103530 closed

[2022-01-15 19:32] #103542 closed

[2022-01-15 19:42] jecnua commented on #100483
Probably still needed/valid. Please remove stale/rotten label.

[2022-01-15 22:15] danwinship commented on #60789
@thockin: so what would the mini-KEP be? Just writing up a KEP that basically describes what you implemented in #106732? Or is that in some way incomplete / incorrect?

[2022-01-16 03:23] #105439 closed

[2022-01-16 08:10] timoreimann commented on #104107
/remove-lifecycle stale

[2022-01-16 09:26] arielb135 commented on #44954
Nevertheless, it lists the name of the cluster you defined **locally** in the kubeconfig file, this is not really the cluster name.

[2022-01-16 11:58] timoreimann commented on #88902
/remove-lifecycle stale

[2022-01-16 15:20] yuli-lendbuzz commented on #20151
I was checking Hashicorp Vault to inject secrets for my containers.

I **can** delete secret files injected by Hashicorp Vault.

BUT, Hashicorp Vault implementation is not perfect.

On scale up / down, sometimes the secret files are restored.

I reported a bug: https://github.com/hashicorp/vault/issues/13676

[2022-01-16 16:49] magescher commented on #44954
@arielb135 Yes, this is a very old thread (4 years old) and I’ve since found better/more stable means.

[2022-01-16 16:54] arielb135 commented on #44954
Do share? I'm tackling the same issue and I prefer not doing per vendor approach, or some random guid

[2022-01-16 17:03] #106939 closed

[2022-01-16 17:23] aojea commented on #102613
/remove-lifecycle rotten

[2022-01-16 21:23] rikatz commented on #106484
/kind cleanup
/remove-kind bug

[2022-01-16 21:26] rikatz commented on #69461
Hi, I'm cycling back on this but I'm actually having some hard time to stop and understand the problem.

@lauchokyip maybe you can help me on this?

[2022-01-16 21:30] rikatz commented on #107498
@sftim I want, but tbh I'm a bit (a lot!!) out of time and afraid of writing a full apimachinery kep, which is something I don't dominate properly to ask for something :)

@nikhita or @liggitt should know and answer properly if this is doable or not, before we simple jump on a quest for a new field :D

[2022-01-16 21:41] #104305 closed

[2022-01-16 22:08] yelhouti opened #107591 "hostPort receiving SNATed packets after upgrading k8s"
### What happened?

I upgraded my kubernetes cluster which has an SMTP daemonset with hostPort.
After the upgrade the SMTP server become an open relay.

### What did you expect to happen?

for request received by the daemonset to keep showing the correct source IP.

### How can we reproduce it (as minimally and precisely as possible)?

- Install kubernetes with flannel and kube-proxy IPVS.
- creat

[2022-01-16 22:15] yelhouti commented on #107591
/sig network

[2022-01-17 00:41] #100925 closed

[2022-01-17 01:24] everpeace commented on #99205
/reopen

[2022-01-17 04:26] aranjanthakur commented on #107493
@249043822 how do I get the logs for kube-controller-manager?
Is the issue anyway related to liveness probe?

[2022-01-17 04:44] harche opened #107592 "Unable to launch coreos based node e2e jobs locally"
### What happened?

When trying to invoke coreos based node e2e jobs, the GCE VM gets launched but the ssh to that node doesn't work and eventually the tests fail.

The issue seems to be happening after merging this commit, https://github.com/kubernetes/kubernetes/commit/3ebd93cd02ca9e2ed7f1f6cff4d49b878f93a626

I will send a patch to with similar approach as, https://github.com/kubernetes/test-in

[2022-01-17 04:44] harche commented on #107592
/sig node

[2022-01-17 05:48] feiskyer commented on #98359
issue not resolved
/reopen

[2022-01-17 05:49] feiskyer commented on #98359
@andrewsykim @cheftako could we get this issue fixed?

[2022-01-17 06:05] zhouguangming commented on #81089
+1，we want to set authroized_keys(sshd) for different users.

[2022-01-17 06:17] ramineni commented on #107447
@yangjunmyfm192085 I have verified and info provided is for con2 only .  I have added the sample yaml used for testing , please let me know if I'm doing it right or anything missing.

I have set the kubelet log configuration as containerLogMaxSize: "5Ki", containerLogMaxFiles: 5

[code]
After applying the above yaml

[code]

stats summary shows con1 logs used_bytes always 0 , con2 logs used_bytes

[2022-01-17 06:20] ramineni commented on #107447
@yangjunmyfm192085  [stats_summary.txt](https://github.com/kubernetes/kubernetes/files/7879451/stats_summary.txt)

[2022-01-17 06:39] wzshiming commented on #100328
[code]

I have tested the graceful shutdown part of the Dbus reconnection is fixed.

However, this bug still seems to exist when creating Pod. It seems that the runc or go-systemd parts are not fixed with godbus/dbus#files

/reopen

[2022-01-17 07:09] wzshiming commented on #100328
https://github.com/opencontainers/runc/blob/c83abc503de7e8b3017276e92e7510064eee02a8/libcontainer/cgroups/systemd/dbus.go#L39

It looks like this needs to be checked to see if it's still connected

[2022-01-17 07:12] wzshiming commented on #100328
https://github.com/coreos/go-systemd/pull/393

[2022-01-17 07:19] felixhuettner commented on #105063
/remove-lifecycle rotten

[2022-01-17 08:09] wzshiming commented on #107343
oops... I forgot to add this to the other `ginkgo.Context`

#107595

[2022-01-17 08:19] saschagrunert commented on #95171
/remove-lifecycle stale

[2022-01-17 08:32] aojea commented on #107591
do you mean that before the upgrade it wasn't source natting the packets?
what versions are you upgrading from?
what container runtime are you using?

[2022-01-17 08:44] YanzhaoLi opened #107597 "Document kubelet --protect-kernel-defaults"
### What happened?

There are 6 kernel parameters related to this parameters

- if not setting `--protect-kernel-defaults`: kubelet would restore the 6 kernel parameters to their default values when bootstrap, no matter what their values were.
- if setting `--protect-kernel-defaults`: kubelet would check whether the 6 kernel parameters were set to their default values, if not, kubelet would fail t

[2022-01-17 08:45] yelhouti commented on #107591
@aojea yes before the upgrade I was seing the correct IP.
I move from 1.20.7 if I recall correctly to 1.22.
I also moved from docker to containerd

[2022-01-17 08:57] aojea commented on #107591
this changes the hostport implementation, with docker there is a hostportmanager in kubernetes, with containerd IIRC you move to use the cni portmap plugin

https://www.cni.dev/plugins/current/meta/portmap/

it has an snat option, check your CNI configuration and confirm if you are using the snat option, if affirmative disable it
https://www.cni.dev/plugins/current/meta/portmap/

[code]

[2022-01-17 09:10] thesuperzapper opened #107598 "PROPOSAL configurable down-scaling behaviour in ReplicaSets & Deployments"
### NOTE: there is a new proposal: https://github.com/kubernetes/kubernetes/issues/123541

## Background

The idea of letting users customize the way Deployments (ReplicaSets) remove Pods when `replicas` are decreased has been floating around [since at least 2017](https://github.com/kubernetes/kubernetes/issues/45509), with [other issues dating back to 2015](https://github.com/kubernetes/kubernete

[2022-01-17 09:15] yelhouti commented on #107591
@aojea indeed snat wasn't specified and according to the docs defaults to true.
But after switching/adding it to false, and restarting both flannel and kube-proxy it didn't work. What am I missing please ?
And thanks a lot for the help.

[2022-01-17 09:26] thesuperzapper commented on #45509
I have raised a new proposal in https://github.com/kubernetes/kubernetes/issues/107598, that would allow users to configure the scale-down behavior of ReplicaSets and Deployments. Notably, the proposal would allow users to set up:
- Probes on the Pods to ask them how expensive they would be to kill.
- A central API that knows how expensive every Pod in a Deployments is to kill

While the `controll

[2022-01-17 09:26] thesuperzapper commented on #4301
I have raised a new proposal in https://github.com/kubernetes/kubernetes/issues/107598, that would allow users to configure the scale-down behavior of ReplicaSets and Deployments. Notably, the proposal would allow users to set up:
- Probes on the Pods to ask them how expensive they would be to kill.
- A central API that knows how expensive every Pod in a Deployments is to kill

While the `controll

[2022-01-17 09:30] aojea commented on #107591
that config is stateless, depend on the CNI at the creation time of the pod, you have to recreate the pod , restarting flannel and kube-proxy is not going to make any difference.

[2022-01-17 09:34] thesuperzapper commented on #107598
/sig apps

[2022-01-17 09:36] yelhouti commented on #107591
@aojea of course I had tried that two, no luck still the same wrong IP.

[2022-01-17 09:50] olderTaoist opened #107599 "Are there plans to support the statefulset custom ordinal index"
### What would you like to be added?

statefulset custom ordinal index

### Why is this needed?

i want to deploy one statefulset on multi k8s cluster. but my app depend on headless service，thus i wonder about why statefulset don’t support custom pod oridnal index

[2022-01-17 09:57] nrjohnstone-omnia commented on #4301
That might work, especially if the endpoint is configurable similar to the liveness and other probes are, but this still doesn't address the fact where I have for example 10 pods all active processing long running jobs, and I want to scale down at the next available opportunity WITHOUT interrupting them. In the case where all pods are equally expensive, it would be nice for the scaler to pick a po

[2022-01-17 09:58] aojea commented on #107591
at this point, `iptables-save`., check the rules and figure out who  is snatting  :)

[2022-01-17 09:59] yelhouti commented on #107591
@aojea even though I am using IPVS you expect this rule to be in iptables ? (sorry if this is a stupid question)

[2022-01-17 10:14] kerthcet opened #107600 "Problems in preempt `pickOneNodeForPreemption`?"
### What happened?

Part1:
https://github.com/kubernetes/kubernetes/blob/8815a3119cc8bd82703f3fc5e5c715ec61dfc1ff/pkg/scheduler/framework/preemption/preemption.go#L429-L437
We want to find the minimum highest priority victims, however slice will cache the result.
For example, we have four nodes to pick up, their `victims.Pods[0]`'s priorities are 1000, 1000, 1000, 10,
current result  of minNodes2

[2022-01-17 10:14] kerthcet commented on #107600
/sig scheduling
/cc @Huang-Wei

[2022-01-17 10:14] kerthcet commented on #107600
/assign

[2022-01-17 10:16] tracetechnical commented on #105536
+1 Also with K3s 1.21.8 running longhorn

[2022-01-17 11:05] rkojedzinszky commented on #105536
This can be serious in case of many orphaned pods (e.g. cron jobs, other jobs), as it will spam log files, and eventually fill up disk space. Please check my daemon.log's last 1000 lines, check for pod `shc-prod/home-assistant-config-backup-cron-27369235--1-gj6mn` in the logs. You'll see that it is repeated many times. And also for many other pods.

[d.log.gz](https://github.com/kubernetes/kuberne

[2022-01-17 11:19] wojtek-t commented on #107574
Ref https://github.com/kubernetes/enhancements/issues/1040 for discoverability

@MikeSpreitzer - can we do something else to not forget about it? e.g. add it to GA graduation criteria in a KEP or sth?

[2022-01-17 11:56] cynepco3hahue commented on #104754
I think the main issue with the containerd lane is fixed, feel free to re-open if it is still an issue.
/close

[2022-01-17 11:56] #104754 closed

[2022-01-17 13:17] rtheis commented on #100711
/remove-lifecycle stale

[2022-01-17 13:25] jayesh-srivastava commented on #106980
@sftim Had to close the previous PR because of issues, here is the new one I made.

[2022-01-17 14:04] YanzhaoLi commented on #107597
/sig node

[2022-01-17 14:05] nikhita commented on #99376
@jonyhy96 @afbjorklund I have created https://github.com/kubernetes/publishing-bot/pull/285 to stop including the `.gitattributes` files in k8s libraries. For anyone vendoring these libraries in the future, you should no longer be affected by this issue.

[2022-01-17 14:09] neolit123 commented on #107599
/sig apps

[2022-01-17 14:09] neolit123 commented on #107560
/sig api-machinery

[2022-01-17 14:10] neolit123 commented on #107562
/sig cli

[2022-01-17 14:14] alculquicondor commented on #90402
/close
in favor of #106769

[2022-01-17 14:14] #90402 closed

[2022-01-17 14:17] alculquicondor commented on #107556
Option 1 sgtm.

We should include the normalized (final) scores. Not sure if all the scores would fit in the reason message, so it might be worth just adding the most influential ones.

[2022-01-17 14:31] denkensk commented on #107600
I think it may be not a bug, just a trick to save memory.

Part1：
Even the `minNodes2 ` contains [node3, node1, node2]. But the `lenNodes2` is still 1. So when traversing later, only the first element will be traversed, just `node3`.

Part2:
It is correct to update `minNodes1`.  We just put the result of `minNodes2` in `minNodes1` and update the `lenNodes1 `.

[2022-01-17 14:41] alculquicondor commented on #107598
FYI @gaocegege

[2022-01-17 14:48] alculquicondor commented on #107598
Technical nits:
- I didn't understand what "a chosen pod" is. Chosen for deletion? But then what is the difference with "pods to kill".
- Currently the ages are not directly compared. We compare the logarithm of them (truncated) to allow for some randomness. Maybe we could disable the logarithm calculation in the API, or even parameterize the base. But for simplicity I would leave it always enable

[2022-01-17 15:00] tbonfort commented on #107598
@alculquicondor we are currently using a custom autoscaler that is very similar to HeuristicCostProbeScaleConfig (with an http probe and sampleSizeMethod=all), not including it would be disappointing.

[2022-01-17 15:14] alculquicondor commented on #107598
But you could have your own controller running such probe, then RS controller only queries this controller through CostAPIScaleConfig. That gives you the same behavior without compromising the latency of the RS controller.

[2022-01-17 15:18] TetsujinOni commented on #22024
Has there been an unlinked PR proposed to make this language change?

[2022-01-17 15:21] tbonfort commented on #107598
It's an additional controller that needs to be developed, maintained and deployed. That additional controller would still need to query all pods at scale down time, thus with the same latency as if the RS controller were querying them directly (unless it is acceptable for that custom controller to provide stale/cached metrics)

[2022-01-17 15:31] geotransformer commented on #107320
Opened this thread in the discussion a while ago.
https://discuss.kubernetes.io/t/apiserver-is-not-in-ready-state/18384

[2022-01-17 15:34] yangjunmyfm192085 commented on #107597
Please refer here  `https://github.com/kubernetes/kubernetes/blob/018288b38fcf4c5248c83aa2920641b565798be2/pkg/kubelet/cm/container_manager_linux.go#L420`
Its meaning, kubelet needs to set these kernel parameters to run.
If you set the `--protect-kernel-defaults` flag, but kubelet finds that some parameters are inconsistent with the running requirements, it will report an error and  fail to start.

[2022-01-17 15:39] yangjunmyfm192085 commented on #107597
/kind support
/remove-kind bug

[2022-01-17 15:54] alculquicondor commented on #107598
I think it should be. It's a heuristic anyways. And you can't realistically assume that, by the time the RS controller starts removing the pods, the metrics didn't change.

I think that's acceptable to avoid compromising the throughput of the RS controller.

In any case, this is just my POV, and I'm only a reviewer in SIG Apps. Also, from my POV, this proposal looks ready for a KEP and a Productio

[2022-01-17 16:44] ctrought commented on #44703
+1 for this

[2022-01-17 19:49] #101968 closed

[2022-01-17 20:55] MikeSpreitzer commented on #107574
Linked in #107572 and opened https://github.com/kubernetes/enhancements/pull/3155 .

[2022-01-17 22:05] mitar commented on #74022
So this has been closed without any resolution?

[2022-01-17 22:28] aanm commented on #106951
@souradeepmoe unfortunately not as the issue is no longer present. If you hit the issue again a cluster sysdump will be useful. Thank you!

[2022-01-17 22:36] thesuperzapper commented on #4301
@nrjohnstone-omnia, the proposal in https://github.com/kubernetes/kubernetes/issues/107598 would work perfectly for this use-case, all it proposes is letting the user configure how the ReplicaSet picks which pods to kill ("drain" as you put it) when `replicas` is decreased.

The existing [Pod Lifecycle](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-termination) features wil

[2022-01-17 22:58] sanicheev commented on #98826
/remove-lifecycle rotten

[2022-01-18 00:53] #102573 closed

[2022-01-18 02:34] kerthcet commented on #107600
Oh yes, thanks alex, I also found the comment above. close then.

[2022-01-18 02:34] kerthcet commented on #107600
/close

[2022-01-18 02:34] #107600 closed

[2022-01-18 03:55] sanposhiho commented on #103816
/remove-lifecycle stale

[2022-01-18 06:05] vsxen opened #107611 "https://cloud.google.com/kubernetes-engine/docs/concepts/using-containerd#known_issues"
### What happened?

https://cloud.google.com/kubernetes-engine/docs/concepts/using-containerd#known_issues

### What did you expect to happen?

https://cloud.google.com/kubernetes-engine/docs/concepts/using-containerd#known_issues

### How can we reproduce it (as minimally and precisely as possible)?

Do we have a plan to fix it or this bug will no be fixed in v1.19-1.22?

### Anything else we nee

[2022-01-18 06:06] vsxen commented on #107611
/sig node

[2022-01-18 06:38] matthyx commented on #107469
So it's been removed?
/close

[2022-01-18 06:38] #107469 closed

[2022-01-18 07:07] MadhavJivrajani commented on #107504
@yuzhiquan 👋🏼
please lmk in case you don't have bandwidth to work on this issue, I'd love to give it a shot :)

[2022-01-18 08:38] yuzhiquan commented on #107504
@MadhavJivrajani Thanks, i would have a try, will let you known if i need help.

[2022-01-18 09:55] Shubham82 commented on #107562
Hi @ThuF
I think this is due to the `keyToEnvName(key string) string` function mentioned [here](https://github.com/kubernetes/kubernetes/blob/8a259641532d12f730d0fc6b237d36206d405e52/staging/src/k8s.io/kubectl/pkg/cmd/set/set_env.go#L193)  which Uppercase every Environment key Name. So due to this container env keys name is always in uppercase.
I don't think it is a bug but anyone from /sig cli ca

[2022-01-18 09:55] zishen opened #107617 "ANSI escape characters in kubectl output annotation are not being filtered -"
### What happened?

The same phenomenon with #101695 ,but in pod and node annotation.

### What did you expect to happen?

The ANSI escape characters will be filtered so they couldn't affect the terminal (i.e. using embeded ANSI colors won't do anything to the terminal).

### How can we reproduce it (as minimally and precisely as possible)?

run this :
pod:
![1-pod](https://user-images.githubuserc

[2022-01-18 09:56] zishen commented on #107617
/sig api-machinery

[2022-01-18 11:06] navpreet-securitas commented on #93708
/remove-lifecycle rotten

[2022-01-18 11:07] navpreet-securitas commented on #93708
/remove-lifecycle stale

[2022-01-18 11:08] navpreet-securitas commented on #93708
/reopen

[2022-01-18 11:14] ialidzhikov commented on #89492
/remove-lifecycle stale

[2022-01-18 11:38] graywolf-at-work commented on #102959
.

[2022-01-18 12:06] graywolf-at-work commented on #102959
/remove-lifecycle stale

[2022-01-18 13:04] gischethans commented on #64616
Does anyone know what needs to be added in the tolerations whitelist for a statefulset? The keys quoted by @mtb-xt did not work in my case. I tried including the following but that did not help -

[code]
CC @edganiukov

[2022-01-18 13:48] SriPrarabdha commented on #104432
Hey , would love to work on this issue

[2022-01-18 14:00] liggitt commented on #107498
cc @Jefftree for visibility for potential inclusion in https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2896-openapi-v3 ... marking the schema and operation items for deprecated APIs seems reasonably straightforward

[2022-01-18 14:53] boukeversteegh commented on #79224
I thought I needed this, but I guess, if you can split up your secrets and config maps into multiple files,
you can reference the secrets and configMaps separately.

[code]

However, if you have a lot of small snippets of configuration and secrets, and many containers need the same set of configurations, it becomes tedious and error prone to re-add the same lists. Although using `envFrom` is alrea

[2022-01-18 15:06] sftim commented on #107611
/triage needs-information

What's the issue @vsxen ?

[2022-01-18 15:11] #100611 closed

[2022-01-18 15:11] #106980 closed

[2022-01-18 15:20] BlackTurtle123 opened #107619 "17004 proxier.go:1600] "can't open port, skipping it""
### What happened?

When restarting k3s, it can't start any pod anymore, it seems like there are ghost pods somewhere in the system.

17004 proxier.go:1600] "can't open port, skipping it" err="listen tcp4 192.168.50.3:6990: bind: address already in use" port={Description:externalIP for prod-tools/marketdata-backend:internal IP:192.168.50.3 IPFamily:4 Port:6990 Protocol:TCP}

[code]

### What did y

[2022-01-18 15:55] hj-johannes-lee commented on #107074
If I put just

right under the code [m.setPodPendingAdmission(p)](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/cpumanager/cpu_manager.go#L248), would it still make the same problem solved in [#103952](https://github.com/kubernetes/kubernetes/issues/103952)?

I would like to know what would be the "end" of admission process!

[2022-01-18 16:50] cooldudesam commented on #19825
We are seeing the same issue. @ pachecopaulo - Has your issue resolved? If so, what steps have you taken? any RCA?

EKS - 1.21 version with containerd

Last State:     Terminated
Reason:       Error
Exit Code:    137

Even though the exit code shows 137, I don't see any signs of OOM.
The pod got restarted due to problems with readiness probe.

Thanks!

[2022-01-18 16:55] Jefftree commented on #107498
Marking parts of the schema as deprecated is an OpenAPI v3 feature and making use of that flag definitely seems reasonable. I'm not sure if we can provide any guarantees since marking a resource as deprecated would still require updating some kind of comment in the API definition. (Per @sftim's comment)

Marking operation items as deprecated is available for both OpenAPI v2 and v3. Can we look to

[2022-01-18 17:07] vaibhav2107 commented on #90593
/remove-lifecycle stale

[2022-01-18 17:57] jyotimahapatra commented on #107537
I can try to explain a bit more and see if I can achieve what we need in a different way. The issue is not overriding the test repo and image names during conformance test execution. The overrides present today `KUBE_TEST_REPO` work very well.

The problem I'm facing is that the conformance images need to be present in the test repo to start with. I imagine that there is no way to get the images w

[2022-01-18 18:10] BenTheElder commented on #102976
/remove-lifecycle rotten
this still absolutely spams the logs https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/107616/pull-kubernetes-verify/1483478985085030400

/lifecycle frozen

[2022-01-18 18:34] jpbetz commented on #107573
@liggitt @deads2k @sttts @lavalamp @cici37

[2022-01-18 18:39] SergeyKanzhelev commented on #104432
there is already a PR: https://github.com/kubernetes/kubernetes/pull/104535/files @calvin0327  do you plan to push the PR forward?

[2022-01-18 18:43] WesleyFreitas472 commented on #98319
Please, this is a very boring bug. Any plans to fix?

[2022-01-18 18:48] apt-itude commented on #106111
@yxxhero bump on that question ☝️

[2022-01-18 19:05] ilmal commented on #70202
Hope I can be of help!

The solution for me:

My problem was that flannel-ds pods weren't running on all of my nodes (check that the amount of flannel pods in kube-system match the amount of nodes that are in the cluster).

In my case, two of my nodes had the taint NoExecute, which also blocks flannel pods. If this is the case for you, edit the daemonset and add toleration for NoExecute. Problem s

[2022-01-18 19:16] Bessonov commented on #65502
/remove-lifecycle stale

[2022-01-18 19:16] Bessonov commented on #65502
/lifecycle frozen

[2022-01-18 20:37] ehashman commented on #104292
/priority important-soon
/remove-priority critical-urgent

/milestone v1.24

[2022-01-18 20:37] ehashman commented on #105019
/remove-lifecycle stale

[2022-01-18 21:09] deejross commented on #107562
Platforms can treat environment variable name case-sensitivity differently. This is why it's been accepted as good practice to use all uppercase environment variable names. The Google Style Guide recommends this as well: https://google.github.io/styleguide/shellguide.html#s7.3-constants-and-environment-variable-names

[2022-01-18 21:11] neolit123 commented on #107619
please first discuss with the k3s maintainers.
if they confirm an upstream k8s bug, you can reopen the issue with more details.

/close