[2020-02-16 16:55] neolit123 commented on #88205
/remove-kind bug
/triage support
/sig cluster-lifecycle

hi, what do you see in the kubelet logs; why isn't it running after reboot?

[2020-02-16 17:05] OJFord commented on #64623
/remove-lifecycle rotten

[2020-02-16 17:07] rajibmitra commented on #76395
is this done ?

[2020-02-16 17:19] liggitt commented on #88203
How are you starting your kube apiserver? Are you enabling RBAC authorization?

[2020-02-16 17:22] liggitt commented on #88203
Check the actual process of kube-controller-manager to make sure it matches your systemd invocation. You appear to have trailing white space after some of the line continuation backslashes.

That could have the effect of dropping several of the final flags, especially the use-service-account-credentials flag. The log messages indicate that is not being passed.

[2020-02-16 17:29] #82881 closed

[2020-02-16 17:39] AndrewSav commented on #14040
/remove-lifecycle stale

[2020-02-16 17:47] nyrahul commented on #48948
Same issue (100% cpu for vboxheadless)
* minikube v1.6.1 on Ubuntu 18.04 arch x86_64
* Linux Kernel 5.3.0
* K8s v1.17.0
* vboxheadless v6.1.2

Attached is the perf report (recorded with few secs while vboxheadless is at 100% CPU).
[vboxheadless-perf-report.txt](https://github.com/kubernetes/kubernetes/files/4210468/vboxheadless-perf-report.txt)

[2020-02-16 18:06] andresetevejob commented on #17889
@shilpapadgaonkar , how have you solved this error?

[2020-02-16 19:39] neolit123 commented on #88184
yes, you must pass a channel to the function, as the channel controls when the function should return.

Context#Done() can be used for that:
https://golang.org/pkg/context/#Context

/close

[2020-02-16 19:39] #88184 closed

[2020-02-16 19:45] olegch opened #88214 "addon-manager fails to elect leader if running on master instances that have `_` (underscore character) in the hostname"
**What happened**:

When kubernetes addon manager runs on a master instance that has an `_` (underscore character) in the hostname, it fails to elect a leader and never applies addon manifests.

Even though `_` is not an allowed character in the hostnames (RFC 952, RFC 1123) it still can happen due to error or standard misinterpretations (https://en.wikipedia.org/wiki/Hostname). Not all linux dist

[2020-02-16 19:47] olegch commented on #88214
/sig cluster-lifecycle

[2020-02-16 19:52] olegch commented on #88214
PR with a suggested fix for the issue: https://github.com/kubernetes/kubernetes/pull/88215

[2020-02-16 20:32] #82838 closed

[2020-02-16 20:49] krancour commented on #26923
/reopen

[2020-02-16 21:07] neolit123 commented on #88214
FYI, the addon manager is deprecated and should not be used in production clusters.

[2020-02-16 21:25] olegch commented on #88214
Yes, I agree, considering that addon-manager is deprecated, and that hostnames with underscore is a non-standard situation breaking RFC, it is not clear if this issue even needs to be fixed.
Just putting it here for documentation purposes and for the community to decide.

[2020-02-16 21:33] #82849 closed

[2020-02-16 23:54] hatotaka commented on #87600
Ok, I will send a PR. However, I can't include a test immediately because I don't understand how the test works.

[2020-02-16 23:59] apelisse commented on #87600
Thanks, I’ll try to show you how to get started!

On Sun, Feb 16, 2020 at 3:54 PM Takahiro HATORI <notifications@github.com>
wrote:

[2020-02-17 00:07] dblock247 commented on #13136
+1 need this support - access a kerberized NFS volume from a pod

[2020-02-17 01:53] skycastlelily2 opened #88219 "k8s failed to select a node use node name"
**What happened**:
I create a cluster on fedora 30,and add another node,I try to create a pod with kubectl -f yaml
but k8s failed to slelect the node use node name,then I change the yaml to select that  node with
label,pod is created successfully on that node
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know

[2020-02-17 01:55] liggitt commented on #88219
What labels do you have on your node?

[2020-02-17 02:01] skycastlelily2 commented on #88219
I  try to select the node with name but failed,then I set the node label with
kubectl label nodes dell-pe-fm120-1b.dell2.lab.eng.bos.redhat.com type=testEndNode1
and select the node with label,succeed

[2020-02-17 02:03] liggitt commented on #88219
node selectors don't operate on the node name, only on the node labels. If you want to directly assign a pod to a node you can do so with the spec.nodeName field. Note that if you also specify a spec.nodeSelector on the pod it must match the node's labels even if you directly assign a spec.nodeName

[2020-02-17 02:03] #88219 closed

[2020-02-17 02:13] qhh0205 commented on #88203
Yes, you are right! Thank you very much! The process of kube-controller-manager does not mache systemd invocation, the `use-service-account-credentials` flag not load by process.

[2020-02-17 02:13] #88203 closed

[2020-02-17 02:17] skycastlelily2 commented on #88219
I try to select the node with nodeName but still failed.This is the yaml I use.
apiVersion: v1
kind: Pod
metadata:
  name: memory-demot6
  namespace: mem-example
spec:
  nodeSelector:
    nodeName: dell-per6415-04.lab2.eng.bos.redhat.com
  containers:
  - name: memory-demo-ctr
    image: polinux/stress
    resources:
      limits:
        memory: "200Mi"
      requests:
        memory: "100Mi"

[2020-02-17 02:30] liggitt commented on #88219
Not nodeSelector of nodeName,
[code]

[2020-02-17 02:59] #88168 closed

[2020-02-17 03:39] #82754 closed

[2020-02-17 04:12] liggitt commented on #88193
/sig storage

[2020-02-17 04:14] stevenruizhang commented on #88205
1) after reboot , run kubectl version and get nodes will always throw below error
The connection to the server localhost:8080 was refused - did you specify the right host or port?
2) if u want to need more kubelet log, give me the command i can paste, thanks

[2020-02-17 04:35] neolit123 commented on #88205
kubeadm gives you the command when it fails:

try running this right after a failure.

[2020-02-17 05:28] rohitsharma382 opened #88220 "Set static IP in source IP during egress same as ingress Load Balancer IP in Kubernetes"
I have requirement for configuring SNMP client running on multiple PODs in kubernetes from where i need to send traps to SNMP alarm manager which is not hosted on kubernetes. Now, there are two scenarios
1. SNMP trap client send alarm with source IP and if i have more than one client then they are reaching on SNMP Alarm manager using same source IP (i.e worker node IP).
2. SNMP Alarm Manager is se

[2020-02-17 06:07] rohitsharma382 commented on #88220
/sig node

[2020-02-17 06:08] rohitsharma382 commented on #88220
/remove-sig node

[2020-02-17 06:28] tamalsaha commented on #88208
@dims, this does not resolve the underlying issue that there is a transitive dependency on a GPL v3 library from an Apache v2 licensed project.

/open

[2020-02-17 06:41] #88151 closed

[2020-02-17 06:45] skilxn-go commented on #88027
@alculquicondor I have sent a pr for the first one.
And I'm working on the second one, I think it's better to keep 2 pr for this issue? If so, PTAL at the first one, thanks.

[2020-02-17 07:07] thapakazi commented on #36222
This is scary shit :hankey:
 ... **what is the industry practice to edit the file like these: aws-auth...?**

I managed to type 20+lines by hand :disappointed:  and it worked on 3rd attempt :disappointed_relieved:

[2020-02-17 07:42] holizon9 commented on #85776
survey port pod listening
`netstat -nplt`

[2020-02-17 07:45] SomtochiAma commented on #79209
/reopen

[2020-02-17 08:09] skycastlelily2 commented on #88219
It works,thanks for your help and patience

On Mon, Feb 17, 2020 at 10:30 AM Jordan Liggitt <notifications@github.com>
wrote:

[2020-02-17 08:39] pytimer commented on #85978
What's progress this issue? I use docker 19.03.4 version and nvidia gpu, i also have the same issue, so i want to ask.

nvidia device plugin said that we still install nvidia-docker2 and use it. related document: https://github.com/NVIDIA/k8s-device-plugin#preparing-your-gpu-nodes

[2020-02-17 09:28] pjbgf commented on #85191
@tallclair from a Kubernetes project perspective, I think the only thing we can do is to implement the sandbox container seccomp - which is already being handled by #84623. For users' containers this is probably better handled at the container run-time.

Based on that, I think we can close this issue.

[2020-02-17 09:32] 372046933 commented on #87277
@rikatz By the way, the model under serving is a seq2seq model. The latency problem cannot re reproduced on other models like resnet50. Maybe the model has inherent problem on scaling?

[2020-02-17 09:44] deitch commented on #79384
@liggitt all of the above work, except for dependencies on `k8s.io/kubernetes`. It doesn't recognize the `v0.17.3` tag:

[code]

and trying a v1-style tag `v1.17.3` creates downstream issues:

[code]

I know, `k8s.io/kubernetes` really shouldn't be include directly by client projects, but CCM requires it still, see [here](https://godoc.org/k8s.io/kubernetes/cmd/cloud-controller-manager/app#NewClou

[2020-02-17 09:45] #82917 closed

[2020-02-17 09:57] RainbowMango commented on #79384
[code]
@deitch This might work.
And I don't think `k8s.io/kubernetes` would publish a `0.x.x` tag.

[2020-02-17 10:04] deitch commented on #79384
Yup, that did it @RainbowMango . I _do_ wish I were not dependent on `k8s.io/kubernetes`, but CCM still does depend on it. Oh well.

Now if only I can figure out where they moved k8s.io/kubernetes/pkg/version and k8s.io/kubernetes/pkg/client/metrics in v1.17 :-)

[2020-02-17 10:15] shalev123d opened #88225 "Scheduler not attempting to schedule CoreDNS pods"
Hey everyone!

**What happened**:
After an unexpected reboot event, we started noticing some weird behavior in our cluster, when we tried to troubleshoot everything we noticed that the CoreDNS deployment was 0/2 from the desired state. When initiating kubectl get pods -n kube-system, we don't see any CoreDNS pods in any state, not failing, not running, just nothing.

We tried to 'redeploy' by "kub

[2020-02-17 10:25] shalev123d commented on #88225
/sig cluster-lifecycle

[2020-02-17 10:33] drigz opened #88226 "Duplicate FailedMount events when using multiple volumes"
**What happened**:

If I create a pod with multiple volumes, of which one fails to mount, the pod events shows lots of duplicate events in the output of `kubectl describe`. This appears to be because the "unattached volumes" list has inconsistent ordering, so the event deduplication doesn't work.

**What you expected to happen**:

Event appears once in `kubectl describe` output.

**How to reproduc

[2020-02-17 10:34] drigz commented on #88226
/sig cli

[2020-02-17 10:53] andrewsykim commented on #88212
/assign

/remove-triage unresolved

[2020-02-17 11:23] jsafrane opened #88229 "No details given on PVC when WaitForFirstConsumer binding fails"
**What happened**:
With a StorageClass with `volumeBindingMode= WaitForFirstConsumer`, it's not clear why a PVC is not bound when there is no available PV.

On Pod, there is a  clear event what's wrong:
[code]

On the PVC side we get only this event:
[code]

Note that the message says "waiting for first consumer'. But the pod already exists. The reason why it's not bound yet is that the StorageCla

[2020-02-17 11:24] jsafrane commented on #88229
/sig scheduling
/sig storage

[2020-02-17 11:36] Chaya56 commented on #74551
Got the same, it's working 10 sec then it fail:
`Forwarding from 127.0.0.1:8080 -> 8080
Forwarding from [::1]:8080 -> 8080
Handling connection for 8080
Handling connection for 8080
Handling connection for 8080
Handling connection for 8080
Handling connection for 8080
Handling connection for 8080
Handling connection for 8080
Handling connection for 8080
Handling connection for 8080
Handling connect

[2020-02-17 12:02] jsafrane commented on #88229
I tried to fix this in VolumeBinding predicate, https://github.com/kubernetes/kubernetes/pull/88163. The predicate is called for each pod - node combination, so it would generate event for each node. Which is too much and it's even wrong when there is a node that has an available PV.

We need to evaluate all nodes and then, if the pod is still unschedulable, distribute events to all unbound PVCs o

[2020-02-17 12:19] jsafrane commented on #88229
I tried to fix this in VolumeBinding predicate, https://github.com/kubernetes/kubernetes/pull/88163. The predicate is called for each pod - node combination, so it would generate event for each node. Which is too much and it's even wrong when there is a node that has an available PV.

We need to evaluate all nodes and then, if the pod is still unschedulable, distribute events to all unbound PVCs o

[2020-02-17 12:20] ilirosmanaj commented on #86209
I am also experiencing the case when a pod in terminating state is receiving incoming requests. Should the terminationGracePeriodSeconds be used to only finish the ongoing tasks and no longer receive other?

[2020-02-17 12:23] rtheis commented on #87087
/remove awaiting-more-evidence

[2020-02-17 12:42] hase1128 opened #88232 "Redeply pods depending on load of nodes"
**What would you like to be added**:
I want the new kubectl command for redeploy pods between kubernetes nodes depending on load of nodes.
e.g. kubectl balance pod

**Why is this needed**:
when one nodes is down due to some trouble, the pod running on the node is evicted to another nodes.
Even if we solve the trouble and succeed to recover the node, existing pods don't run on the node unless some

[2020-02-17 12:44] hase1128 commented on #88232
/sig scheduling

[2020-02-17 12:57] stevenruizhang commented on #88205
@neolit123
[steven_rui_zhang@k8s-master-9828 ~]$ kubectl get pod
The connection to the server localhost:8080 was refused - did you specify the right host or port?
steven_rui_zhang@k8s-master-9828 ~]$ journalctl -xeu kubelet
Feb 17 12:56:29 k8s-master-9828 kubelet[12380]: E0217 12:56:29.178387   12380 kubelet.go:2263] node "k8s-master-9828" not found
Feb 17 12:56:29 k8s-master-9828 kubelet[12380]:

[2020-02-17 12:57] zanetworker commented on #83723
/remove-lifecycle rotten

[2020-02-17 12:57] zanetworker commented on #83723
/remove-lifecycle stale

[2020-02-17 13:00] neolit123 commented on #88205
wondering if that last line:

suggests connectivity issues.
did the network setup of the node changed after reboot for some reason?

[2020-02-17 13:02] neolit123 commented on #88205
also check if the kubelet is running?
[code]

and post a full log from `journalctl -xeu kubelet` after doing a:
[code]

[2020-02-17 13:12] stevenruizhang commented on #88205
@neolit123
1) the instance running in GCP, i think the network not changed after reboot, it in the same subnetwork and the Primary internal IP and external IP not changed also
2) steven_rui_zhang@k8s-master-9828 ~]$ systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In:

[2020-02-17 13:17] neolit123 commented on #88205
[steven_rui_zhang@k8s-master-9828 ~]$ journalctl -xeu kubelet

this does not show the beginning of the logs - "staring kubelet..."

does it say that it's running?

[2020-02-17 13:26] wangao1236 opened #88233 "Install kubelet on macOs"
Hello, I'm a kubernetes beginer and I'm trying to deploy a kubernetes cluster on macOs in binary mode.
Now, I am in the stage of installing kubelet, and I have installed docker on my macbook pro.
But, kubelet failed to start, and the print log is as follows:
[code]
Please do me a favor, what should I do? Thanks.

[2020-02-17 13:31] SerialVelocity commented on #80968
/remove-lifecycle stale

The PR hasn't merged yet.

[2020-02-17 13:33] justaugustus commented on #87087
FYI @kubernetes/release-engineering
/area release-eng

[2020-02-17 13:34] Chaya56 commented on #74551
Upgrading my cluster to 1.17 seems to fix my issue. Now kubectl and server are in the same version

[2020-02-17 13:42] #88233 closed

[2020-02-17 13:49] #82755 closed

[2020-02-17 14:05] neolit123 commented on #88225
@shalev123d

any logs that might help debug this?

if you are on 1.17.0 not that there are critical bugs.
you should upgrade to the latest PATCH version.

[2020-02-17 14:05] neolit123 commented on #88225
/triage needs-information

[2020-02-17 14:50] #82933 closed

[2020-02-17 14:53] stevenruizhang commented on #88205
@neolit123  systemctl status kubelet result show the kubelet status is active
steven_rui_zhang@k8s-master-9828 ~]$ systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
Drop-In: /usr/lib/systemd/system/kubelet.service.d
└─10-kubeadm.conf
Active: active (running) since Mon 2020-02-17

[2020-02-17 14:54] stevenruizhang commented on #88205
let me know what u need more action from my side

[2020-02-17 15:01] neolit123 commented on #88205
this line suggests that the API server pod is not running.
make sure the static pod yaml files are present under:
`/etc/kubernetes/manifests`

other than that, it's not clear to me what may be causing this.

[2020-02-17 15:25] dims commented on #88208
@tamalsaha you are chasing that in libopenstorage/openstorage#1433 so that's sufficient for now.

[2020-02-17 15:26] ilirosmanaj opened #88236 "Pods in `Terminating` status receive incoming requests"
**What happened**:
I have a k8s deployment with which I am exposing a Flask application as an endpoint to the outer world.

This endpoint performs some long running tasks (sometimes up to 20 minutes). What I am trying to achieve is that during deployments, the ongoing tasks do not stop and in the meanwhile new incoming requests should be served from the new version of the deployment.

I've added t

[2020-02-17 15:30] ilirosmanaj commented on #88236
/sig api-machinery

[2020-02-17 15:36] shalev123d commented on #88225
Apologies, We're on 1.17.2.
I'm not sure what logs to provide here since I don't have access to the pods, but I tried to upgrade to 17.1.3 now, and the kubeadm upgrade surprisingly hangs here:

[addons]: Migrating CoreDNS Corefile
[addons] Applied essential addon: CoreDNS

 Could you please guide me regarding what logs would be useful?

Thanks!

[2020-02-17 15:40] neolit123 commented on #88225
please provide the output from `kubectl get po -n kube-system`.

if there are coredns pods in the list that are not running call this on one of them:
`kubectl describe po -n kube-system <pod-name>`
and provide the output.

[2020-02-17 15:41] hprateek43 commented on #7923
Can pick this up if still needed.

[2020-02-17 15:44] hprateek43 commented on #88112
@ahg-g Do you recommend modifying the default scheduler with a configmap or adding a new scheduler with the desired weights and add them to the deployments. Does changing the default weights affect the system pods in a negative way?

[2020-02-17 15:49] cben commented on #73692
Thanks for the reminder. I need to rebase and address feedback but keep not getting to it. At the moment I'm sick.  If anyone wants to take over, go ahead.

[2020-02-17 15:55] markyjackson-taulia commented on #74375
Hello, @alejandrox1 @mariantalla @alenkacz,
I wanted to check in on this issue to ensure it was still on track for the v1.18 release cycle.

[2020-02-17 15:57] markyjackson-taulia commented on #76342
Hello, @claudiubelu,
Are we close to completing this? Code Freeze is coming soon
![image](https://user-images.githubusercontent.com/16655670/74668939-15edc800-515b-11ea-8950-2123cf6860ea.png)

[2020-02-17 15:58] markyjackson-taulia commented on #82296
@liggitt ok to move this to v1.19
![image](https://user-images.githubusercontent.com/16655670/74669028-36b61d80-515b-11ea-8c66-9d00c0905766.png)

[2020-02-17 15:59] markyjackson-taulia commented on #74379
@nckturner,
Will this make it into v1.18?

![](https://apptimize.com/wp-content/uploads/2015/11/Code-Freeze.png)

[2020-02-17 16:00] markyjackson-taulia commented on #87510
@mfojtik gentle ping

![](https://apptimize.com/wp-content/uploads/2015/11/Code-Freeze.png)

[2020-02-17 16:01] markyjackson-taulia commented on #87574
@jayunit100 gentle ping

![](https://apptimize.com/wp-content/uploads/2015/11/Code-Freeze.png)

[2020-02-17 16:11] wangao1236 opened #88239 "Install kubelet on macOs: failed to run Kubelet: Container Manager is unsupported in this build"
I'm a kubernetes beginer and I'm trying to deploy a kubernetes cluster on macOs in binary mode. Now, I am in the stage of installing kubelet, and I have installed docker on my macbook pro. But, kubelet failed to start, and the print log is as follows:
[code]
It shows error: "**failed to run Kubelet: Container Manager is unsupported in this build**".
What's wrong with it  ?
Please do me a favor, wh

[2020-02-17 16:25] wangao1236 commented on #88239
/sig area/kubelet

[2020-02-17 16:25] wangao1236 commented on #88239
area/kubelet

[2020-02-17 16:33] wangao1236 commented on #88239
/sig node

[2020-02-17 16:34] droslean commented on #86788
@Random-Liu  Any news?

[2020-02-17 16:41] droslean opened #88243 "[Failing Test] gce-cos-k8sbeta-reboot (ci-kubernetes-e2e-gce-cos-k8sbeta-reboot)"
**Which jobs are failing**:
`gce-cos-k8sbeta-reboot (ci-kubernetes-e2e-gce-cos-k8sbeta-reboot)`

**Which test(s) are failing**:
[code]
[code]
[code]

**Since when has it been failing**:
https://github.com/kubernetes/kubernetes/pull/88099 was opened to fix. The job `gce-cos-master-reboot` is green but not this one.

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.17-blocking#gce-cos-k8sbet

[2020-02-17 16:43] droslean opened #88244 "[Failing Test] aks-engine-azure-1-17-windows (ci-kubernetes-e2e-aks-engine-azure-1-17-windows)"
**Which jobs are failing**:
`aks-engine-azure-1-17-windows (ci-kubernetes-e2e-aks-engine-azure-1-17-windows)`

**Which test(s) are failing**:
[code]

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.17-informing#aks-engine-azure-1-17-windows

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/sig api-machinery
/priority critical-urgent
/milestone

[2020-02-17 16:50] rdxmb commented on #87852
@aojea

No. The problem seems to be the routing over the kubernetes-service, not the dns itself.  Have a look at the following output:

[code]
# dig @10.244.2.69 kubernetes.io

; <<>> DiG 9.10.3-P4-Ubuntu <<>> @10.244.2.69 kubernetes.io
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 20419
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHOR

[2020-02-17 16:51] droslean opened #88245 "[Failing Test] gce-windows-1.17 (ci-kubernetes-e2e-windows-gce-1-17)"
**Which jobs are failing**:
`gce-windows-1.17 (ci-kubernetes-e2e-windows-gce-1-17)`

**Which test(s) are failing**:
[code]
[code]

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.17-informing#gce-windows-1.17

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/sig api-machinery
/sig node
/priority critical-urgent
/milestone v1.18

[2020-02-17 17:01] rdxmb commented on #87852
[code]

[2020-02-17 17:20] alculquicondor commented on #83834
Again, near FIFO is not how most operating systems work today. I don't think that would be the user expectation. I would like to know more arguments, given that you suggest that FIFO should be the default.

[2020-02-17 17:25] smourapina commented on #71719
Hello @BenTheElder, @ameukam et al.
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March, which is about 3 weeks from now. Are you still targeting being ready before then?
Note: Meant to ping this issue instead of the related PR ([#80909](https://github.com/kubernetes/kubernetes/pull/80909)).

[2020-02-17 17:33] smourapina commented on #81134
Hello again @cji, @zouyee, @tptpp !
Would be great to get your feedback: is this still on track for milestone 1.18, given that there has not been any recent activity? Thanks

[2020-02-17 18:04] BenTheElder commented on #71719
Kubeproxy contains GCC ...?

These scanners go off on things that aren't really relevant to running
kube-proxy in a container FWIW. Really common ones are Linux hearders and
systemd, neither of which are actually running but the scanner will find
some trace ...

On Mon, Feb 17, 2020, 09:25 Silvia P. <notifications@github.com> wrote:

[2020-02-17 18:07] BenTheElder commented on #71719
@smourapina I'm not assigned to or working on this, and sampling the listed CVEs supposedly affecting the image I'm not particularly concerned.

E.g. CVE-2018-0732 -- kube-proxy is using go's TLS stack, not openssl

[2020-02-17 18:09] claudiubelu commented on #76342
From my part, we need this part in: https://github.com/kubernetes/kubernetes/pull/81226

[2020-02-17 18:13] #87854 closed

[2020-02-17 18:19] tedyu commented on #88180
Checked the build-log.txt for e2e-gce-device-plugin-gpu and e2e-gce-100-performance

They started around 03:31:50 which was after 03:10:22
I wonder if 'an error that is not an metav1.Status' was from other test run.

[2020-02-17 18:30] kolyshkin commented on #87901
To check whether SELinux is in enforced mode, one can check that read `/sys/fs/selinux/enforce` returns "1". I've implemented that in a particular case that relies on selinux being enforced: https://github.com/kubernetes/kubernetes/pull/88247/commits/70a28579988915a7832118aa199ab713e05c696b#diff-d396c518f484bf943b4f92eec90c708bR273

To check whether SELinux is enabled (I guess this is a prerequisi

[2020-02-17 18:32] JonathanRRogers commented on #81089
Are you saying that your postgres process runs as UID 1001 and reads a file specified by "ssl_key_file" which isn't owned by UID 1001? AFAICT, that can't work because, "on Unix systems, the permissions on server.key must disallow any access to world or group; achieve this by the command chmod 0600 server.key." https://www.postgresql.org/docs/9.5/ssl-tcp.html

I'm not following why setting UID on a

[2020-02-17 18:44] isildurmac opened #88250 "Issue with Command kubectl delete clusterrolebinding --all"
Hi all.
I has a kubernetes cluster in 3 VM with Ubuntu 18.04. One master and 2 worker.
By my mistake I ran this command: kubectl delete clusterrolebinding --all
After that issue I ran with several issues:
root@k8master:~# kubectl get pods --all-namespaces
NAMESPACE              NAME                                         READY   STATUS      RESTARTS   AGE
default                mysql-c85f7f79c-f4

[2020-02-17 18:49] alok87 commented on #76395
I think this was not used. Check in Code organization project. @dims can give more info.

[2020-02-17 18:51] PatrickLang commented on #73434
/reopen

We should be able to fix this after migrating to containerD - ETA by end of 2020.

Until then there's a workaround you can do by setting a regkey inside the container to give it more time to shut down the app

[2020-02-17 19:01] isildurmac commented on #88250
/sig auth

[2020-02-17 19:37] pvlltvk commented on #88154
@Nastradamus It seems like code and building scripts are here - https://github.com/kubernetes/dns

[2020-02-17 20:16] tamalsaha opened #88252 "CRD validation error for x-kubernetes-preserve-unknown-fields: true"
**What happened**:
I have CRD with a spec field of type `runtime.RawExtension` and annotation `x-kubernetes-preserve-unknown-fields: true`. I want to store json data in this field which is actually a Grafana Dashboard json.

When I try to create a CR of this type, I am getting validation error from json bytes. `error validating data: unknown object type "nil" in Dashboard.spec.model.gnetId;` . In

[2020-02-17 20:29] tamalsaha commented on #88252
cc: @sttts

[2020-02-17 21:04] hally9k commented on #82011
Bump, this is still an issue I think...

[2020-02-17 21:08] olivierlemasle commented on #82011
@hally9k It should be fixed by #82070
Did you test on `master`?

[2020-02-17 21:09] timfallmk commented on #88183
@liggitt Appreciate the quick response. `INSTALL.md` has the same instructions for pinning releases, but doesn't explain _why_ a pinned version would navigate transitive dependencies differently than `HEAD`. Could you shed some light on this?

[2020-02-17 21:13] ArcticSnowman opened #88253 "Network Policy NamespaceSelector Should All Match Against Name"
**What would you like to be added**:
A network policy should be able to target a namespace by name not just labels.

**Why is this needed**:
While matching things like pods etc by label is certainly worthwhile, when matching a namespace I suspect the majority of the time you only want to match a single namespace.  It been great match against the name rather than just a label.   I suspect most peop

[2020-02-17 21:14] tedyu commented on #88252
[code]

[2020-02-17 21:17] hally9k commented on #82011
Oops misread the ci-bots message, apologies for the noise.

[2020-02-17 21:18] pentago commented on #44528
From what I just learned this is the issue only on non-GKE Kubernetes. Can't wait for upstream fix.so we can get proper service DNS name resolution on all providers.

Any progress perhaps?

[2020-02-17 21:18] ArcticSnowman commented on #88253
/sig network

[2020-02-17 21:22] tamalsaha commented on #88252
@tedyu , you are able to create the CRD, which is also working for me.

Are you able to create the CR for this CRD? Does the following command work for you?

[code]

[2020-02-17 21:27] tedyu commented on #88252
I used your first command (against 1.16 server) which passed (without validation error).

This might be regression in 1.17

[2020-02-17 21:32] tamalsaha commented on #88252
I think you have not read the issue clearly. The CRD creation is working fine. I am getting validation error when trying to create CR for this CRD.

[2020-02-17 21:34] tedyu commented on #88252
I edited the previous comment with result for second command.

[2020-02-17 21:37] timfallmk commented on #88183
I'm not sure this solves the issue. Same result when pinning `client-go` to `v0.17.3`.

[2020-02-17 21:39] liggitt commented on #88183
You simultaneously are requiring the new incompatible version of the gnostic library at https://github.com/ksync/ksync/commit/fdefc3b1b497ea5c869329f3fa7bb4d86ca79426#diff-37aff102a57d3d7b797f152915a6dc16L28

[2020-02-17 21:41] tamalsaha commented on #88252
Thanks @tedyu ! This is the issue I see. I expected no error since I set `x-kubernetes-preserve-unknown-fields: true`.

[2020-02-17 21:45] timfallmk commented on #88183
That's correct, the issue was to fix using current versions of the gnostic library. If you're saying the  solution is to downgrade to an older version (which is what I get when I run dependency checks after pinning, from scratch `github.com/googleapis/gnostic v0.0.0-20170729233727-0c5108395e2d`) then shouldn't the upstream fix here be the easier solution? Or are there other outstanding reasons not

[2020-02-17 22:06] aojea commented on #87852
then ... it is not a problem in Kubernetes ... it has to be something external or related to the CNI plugin, right?

[2020-02-17 22:09] al45tair commented on #81089
Yes, that's precisely what I'm saying. If you check the latest version of the documentation, it in fact says:

Indeed, every supported version of Postgres except 9.5 appears to be documented as allowing this. Whether that means 9.5 genuinely doesn't support this I don't know, but I doubt very much that anyone needs to be specifically on 9.5 rather than 9.6 or later.

In principle, it isn't, but in

[2020-02-17 22:09] mariusgrigoriu commented on #87852
Maybe, though it would be good to understand what changed in 1.17 that's causing issues with flannel and vxlan so we get to a root cause.

[2020-02-17 22:35] timfallmk commented on #88183
I see this is an ongoing issue that has no resolution, but is being closed out. https://github.com/DataDog/dd-trace-go/pull/585

I will send a PR with the proposed fixes for review.

[2020-02-17 22:59] JaysonRaymond commented on #17763
The point is that [nodejs is (was) not properly handling the error when it reports ENOTFOUND](https://github.com/nodejs/node/blob/1125c8a814030f16fc995d897181ac9920f9d3db/lib/dns.js#L17-L24):

function errnoException(err, syscall, hostname) {
  // FIXME(bnoordhuis) Remove this backwards compatibility nonsense and pass
  // the true error to the user. ENOTFOUND is not even a proper POSIX error!
  i

[2020-02-17 23:28] luarx commented on #11221
Hi guys !
Do you know if nowadays there is an option to debug it @pz07 ? It would be very useful to debug internal HTTP requests between services in a Kubernetes cluster.

As you said, it is easy to debug external requests that go into the cluster through an HA proxy but for internal requests I don't know how to do it...

[2020-02-17 23:37] PatrickLang commented on #75752
Fixed in https://github.com/kubernetes/kubernetes/pull/87730

[2020-02-18 00:09] mateuszlitwin commented on #88179
Ready for review.

[2020-02-18 00:45] JonathanRRogers commented on #81089
I can easily disprove your assumption because I do, in fact, need to use Postgres 9.5. The application I'm supporting requires a specific version of PostGIS, which is tied to the Postgres version. We will some day upgrade both PostGIS and Postgres, but it's not a high priority.

The change that has allowed you to use a Kubernetes secret without permission problems was first released in Postgres 9.

[2020-02-18 01:06] stevenruizhang commented on #88205
@neolit123
1) let me know if missing some files in this folder: /etc/kubernetes/manifests
[steven_rui_zhang@k8s-master-9828 ~]$ ls -l /etc/kubernetes/manifests/
total 16
-rw-------. 1 root root 1757 Feb 16 07:17 etcd.yaml
-rw-------. 1 root root 2600 Feb 16 07:17 kube-apiserver.yaml
-rw-------. 1 root root 2534 Feb 16 07:17 kube-controller-manager.yaml
-rw-------. 1 root root 1120 Feb 16 07:17 kub

[2020-02-18 01:17] boddumanohar commented on #83300
/reopen

On Tue, 18 Feb 2020, 06:30 fejta-bot, <notifications@github.com> wrote:

[2020-02-18 01:41] Huang-Wei commented on #88229
We used to have `PostFilter()` extension point, which I believe is the right moment for recording the event for unbounds PVCs. But recently it's been refactored so doesn't fit.

@alculquicondor @ahg-g Do you think this case can be a good example of using `PostFilter()` as an informational extension point?

[2020-02-18 01:45] yqwang-ms commented on #83834
Pls check this https://github.com/kubernetes/kubernetes/pull/83835#discussion_r335299603

[2020-02-18 02:53] bjlvfei commented on #39225
How to resolve this issue or set OPTIONS='--log-driver=journald'  in k8s?

Levi
Thanks!

[2020-02-18 02:55] 1wpro2 opened #88257 "The restart policy is not working for deployment"
**What would you like to be added**:
To honor the restart policy values, `Always, OnFailure, and Never`, as documented.
https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy

**Why is this needed**:
There are valid use cases where a pod could run till termination. Hence the restart policy of `OnFailure and Never` which only restart if it fails, or never restart at all.

[2020-02-18 02:55] liggitt commented on #88252
If you pass --validate=false, does it create successfully?

[2020-02-18 02:57] liggitt commented on #88236
/remove-sig apimachinery
/sig network node

[2020-02-18 02:57] 1wpro2 commented on #88257
/sig apps

[2020-02-18 02:57] liggitt commented on #88236
The interlock between pod readiness and service routing is owned by node/network sigs

[2020-02-18 03:00] tamalsaha commented on #88252
Yes, if I pass --validate=false, it creates successfully.

[2020-02-18 03:01] liggitt commented on #88252
Then the issue is in client-side kubectl validation

[2020-02-18 03:02] liggitt commented on #88252
/cc @apelisse
for openapi validation

[2020-02-18 03:08] neolit123 commented on #88205
you need to find out why the containers have exited.

try moving the contents of the folder `/etc/kubernetes/manifests/*.yaml` to a temporary location, wait 1 minute, the bring the `*.yaml` back in `/etc/kubernetes/manifests/`

after you have done this watch the docker containers again using `docker ps`

[2020-02-18 03:09] neolit123 commented on #83977
/lifecycle frozen

[2020-02-18 03:51] sushil11th opened #88258 "Container process recovery in case of Node failure"
**Container process recovery in case of Node failure**:

**In case of ec2 spot instances if the node fails there should be a way to migrate the running process of an application inside the docker container automatically to another node in the same state it was  before the termination started **:

[2020-02-18 04:03] #79266 closed

[2020-02-18 05:54] tej1997 commented on #24040
commenting out the "nodePort:" worked for me

[2020-02-18 07:26] remcohaszing commented on #56402
/remove-lifecycle stale

[2020-02-18 09:10] aojea commented on #87852
I agree with you, but having 2 issues open in parallel will not help to focus the investigation, and since this seems a flannel specific issue I will close this one in favor of https://github.com/coreos/flannel/issues/1243

Please feel free to reopen if there are more CNIs affected or there is any evidence that this a Kubernetes issue

/close

[2020-02-18 09:10] #87852 closed

[2020-02-18 09:44] gadelkareem commented on #79365
Using the new beta API seems to solve it
[code]

[2020-02-18 10:05] chetandev commented on #33664
When hpa enabled, it creates max number of pods

[2020-02-18 10:27] Asisranjan commented on #83319
Hi viv01
I am getting this issue.
can you tell how you have resolved this issue.

[2020-02-18 11:09] droslean opened #88262 "[Failing Test] capa-conformance-stable-k8s-master (ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts)"
**Which jobs are failing**:
`capa-conformance-stable-k8s-master (ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts)`

**Since when has it been failing**:
`17th Feb 07:55 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capa-conformance-stable-k8s-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/sig

[2020-02-18 12:13] eyalev commented on #17512
I have a good experience with [kube-capacity](https://github.com/robscott/kube-capacity).

Example:

[code]

[2020-02-18 12:53] lawrencegripper opened #88265 "Pull main pods images while int container executing"
**What would you like to be added**:

The aim here is to optimize the startup process for a `pod` with an `initContainer` (or multiple) followed by a set of normal containers. 

Currently the `initContainer` pulls it's image, runs for a while then after exiting the normal containers images are then pulled (if not present) and the containers started. Note if you have multiple `initContainers` this

[2020-02-18 12:58] marquiz commented on #87198
I was unable to reproduce this issue (tried with Kubernetes v1.17 and v1.14 on CentOS and Ubuntu). Is the podsecuritypolicy somehow involved with the issue? Does everything work as expected if you disable the PodSecurityPolicy admission controller?

[2020-02-18 12:59] lawrencegripper commented on #88265
/sig Node

[2020-02-18 13:40] jwm commented on #28272
/remove-lifecycle stale

[2020-02-18 14:04] splattner commented on #86091
@leodotcloud  could you specify the config issue? What was "wrong" with your config?

[2020-02-18 14:21] liggitt commented on #82296
yes, upstream work on the yaml libraries is not planned for 1.18

[2020-02-18 14:56] alculquicondor commented on #88027
Yes, 2 PRs is ideal. I'll review later today.

[2020-02-18 15:12] tretos53 opened #88271 "BootstrapArguments only allows = sign in --register-with-taints option."
**What happened**: `BootstrapArguments` only allows `=` (equal) sign when used with `--register-with-taints`.

`--register-with-taints=\"node.kubernetes.io=unschedulable:NoSchedule\"` is allowed.
`--register-with-taints=\"node.kubernetes.io/unschedulable:NoSchedule\"` is not allowed.

**What you expected to happen**: BootstrapArguments to allow `--register-with-taints=\"node.kubernetes.io/unschedu

[2020-02-18 15:15] tretos53 commented on #88271
/sig node
/sig scheduling

[2020-02-18 15:18] droslean commented on #88262
/cc @justinsb

This should be related with the boskos-managed AWS credentials

[2020-02-18 15:21] ameir opened #88272 "Ability to define pod affinity on namespace level"
**What would you like to be added**:
Pod affinity/anti-affinity rules provide a lot of power in scheduling pods, but must be defined per-pod.  In our case, we have a dedicated namespace (e.g. `kube-addons`) where we run utility-type services like ExternalDNS, the ALB ingress controller, the Kubernetes dashboard, etc.  We would like to have these services prefer a specific set of nodes, where avail

[2020-02-18 15:22] ameir commented on #88272
/sig scheduling

[2020-02-18 15:47] alculquicondor commented on #83834
That seems reasonable as an argument to have an alternate behavior, but not to make it the default.
Personally, I think FIFO is a greater source of starvation. And that is why operating systems schedulers moved away from it to be more responsive to all users. But if I understand correctly, the appeal is coming from the batch-type jobs. So maybe a better solution for it is co-scheduling, for which

[2020-02-18 16:00] yqwang-ms commented on #83834
We have already solved the co-scheduling/gang-scheduling problem by scheduler extender.
However:
For job requires gang-scheduling, non-FIFO still impacts among these jobs (pod groups).
For job does not require gang-scheduling, non-FIFO not only impact among these jobs, but also impacts among their pods.

Besides, to be FIFO, does not have to sacrifice too much responsive or utilization, see my pro

[2020-02-18 16:05] yqwang-ms commented on #83834
BTW, if we do not respect FIFO, in theory, it can still cause starvation. Because the early pod may be scheduled later than later pod, so it may not be scheduled forever.
What I mean is that, it is not FIFO that cause starvation, it is current K8S **implementation** (priority queue + backoff queue), that to be FIFO caused starvation.

[2020-02-18 16:36] luarx opened #88273 "K8s services/pods HTTP requests debugging"
**What would you like to be added**:
I don't know if this feature already exists but I would be great to have a way to debug what are the HTTP requests that a pod is receiving.

I was thinking about if cAdvisor or another pod is able to export metrics about HTTP traffic of each container/pod.

**Why is this needed**:
Right know it is difficult to debug HTTP requests if a pod does not have an nginx

[2020-02-18 16:37] tedyu commented on #88265
w.r.t. the de-duplication of the calls to EnsureImagePresent, the ImageManager needs to expose the images currently being downloaded so that, if init container runs to completion before the download is finished, we can wait on the image download instead of launching another download.

[2020-02-18 16:45] alculquicondor commented on #83834
Note that the KEP is also using the queuesort endpoint. Extenders can't do that.

An earlier pod will eventually have an earlier timestamp. Quoting Bobby again:

I'm trying to advocate for policy more than implementation. The implementation had issues with backoffs that we have fixed for 1.18, although there is still #87850 which is awaiting for experiments. I believe this is the last piece to sol

[2020-02-18 16:45] tedyu commented on #88265
We should also consider if this feature would be conditionally enabled.
For init container whose image is small and whose execution is fast, the savings in async image download are not much.
Maybe we can get statistics from the first few init container runs along with duration for normal container image download so that we can decide whether to enable the async image download.

[2020-02-18 16:47] alculquicondor commented on #83834
Actually, it's not the last piece. We could try to be more diligent identifying the events that bring pods from the unschedulable queue back into the scheduling queue. But that is a bigger effort with too many corner cases, whereas #87850 is more low-hanging.

[2020-02-18 16:58] ahg-g commented on #88232
did you try rolling restart: https://v1-16.docs.kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-restart-em-

[2020-02-18 17:00] ahg-g commented on #88232
Here is the list of resources that restart is implemented for: https://github.com/kubernetes/kubernetes/blob/1e12d92a5179dbfeb455c79dbf9120c8536e5f9c/staging/src/k8s.io/kubectl/pkg/polymorphichelpers/objectrestarter.go#L32

it includes: ```Deployment```, ```DaemonSet``` and ```StatefulSet```

[2020-02-18 17:15] julianvmodesto opened #88274 "Support passing Context and Options for client-go non-generated Scale client"
**What would you like to be added**:
It would be great if Context and Options could be passed for the Scale subresource client in client-go.

https://github.com/kubernetes/client-go/blob/0ff5a65499e672956d25228b15354d4083973fe7/scale/interfaces.go#L32-L44

**Why is this needed**:
Similar to the change https://github.com/kubernetes/kubernetes/pull/87952.

Options would allow passing dry-run or fiel

[2020-02-18 17:22] amiga23 commented on #36401
This issue is now 3.5 years old, but I can not find any documentation about fluentd and containerd/cri-o. Could you please advise?

[2020-02-18 17:33] julianvmodesto commented on #88274
Actually would be nice to have for Evict too, which seems to be an extension for Pods.

[2020-02-18 17:42] julianvmodesto commented on #88091
@jennybuckley mentioned a related issue: patchType only has a content-type for yaml, but we need a content-type for json, too. cc @mariantalla

So some interface(s) ideally supports yaml + json formats.

[2020-02-18 17:56] dooman87 commented on #77192
Getting the same problem on GKE 1.13.12-gke.25. The pods that it can't reference were deleted with `--grace-period=0 --force` because they were stuck in `TERMINATING` status forever (> 4 hours)

[2020-02-18 17:59] holizon9 commented on #85776
yamlコピペ用
persistent volume
[code]

[2020-02-18 18:00] julianvmodesto commented on #88091
@apelisse mentioned we need some strategy to support clients that use structured objects and CRDs. Related: https://github.com/kubernetes-sigs/controller-runtime/issues/347

[2020-02-18 18:41] 2rs2ts commented on #68684
@nckturner

It does not. That is an AWS SDK message being bubbled up. This limitation isn't documented (docs [here](https://kubernetes.io/docs/tasks/access-application-cluster/configure-cloud-provider-firewall/)) so as far as I'm concerned this is a bug.

[2020-02-18 18:57] k8s-release-robot opened #88277 "Update publishing-bot for release-1.18"
The branch [`release-1.18`][branch] was just created.

Please update the [publishing-bot's configuration][config] to also publish this
new branch.

[branch]: https://github.com/kubernetes/kubernetes/tree/release-1.18
[config]: https://github.com/kubernetes/kubernetes/tree/master/staging/publishing

/cc @kubernetes/publishing-bot-reviewers
/sig release
/area release-eng
/milestone v1.18

[2020-02-18 18:57] luarx commented on #88273
/sig network

[2020-02-18 18:58] luarx commented on #88273
/sig instrumentation

[2020-02-18 18:58] ddebroy commented on #64801
@nileshkumar01 can you post the exact policy YAML you tried that did not work?

[2020-02-18 19:04] SuperTux88 commented on #81450
I have the same problem, I added a `postStart` hook, and now the second container (cloud-sql-proxy) isn't starting anymore, but the `postStart` hook needs application to be started and the application (in the first container) needs the second container to be running.

Before adding the hook both containers were starting in parallel, and since the cloud-sql-proxy start quick, it was always up befor

[2020-02-18 19:21] roycaihw commented on #86967
@annajung I don't have the cycle to work on it this release. Let's move it to milestone 1.19. Thank you

[2020-02-18 19:22] Huang-Wei opened #88280 "Reorganize scheduling e2e test PreemptionExecutionPath"
https://github.com/kubernetes/kubernetes/blob/c93dffdfc44b3a1259129a7d925e588fa9fe40f1/test/e2e/scheduling/preemption.go#L425

now is separately organized as top-level SIGDescribe. However, it's better folded into the existing top-level `SchedulerPreemption [Serial]` SIGDescribe, and it can be refactored as a `ginkgo.Context`.

/sig scheduling
/kind cleanup
/good-first-issue

[2020-02-18 19:24] tamalsaha commented on #86811
@liggitt do you have any thoughts on this issue?

A side question is what is the proper way to add a time field in spec section that is nullable for now?

[2020-02-18 19:24] #88179 closed

[2020-02-18 19:31] tallclair commented on #64801
Copied from [mailing list](https://groups.google.com/d/topic/kubernetes-sig-windows/axUqMtB13fU/discussion) since it's relevant to this issue:

I'm working on putting together SIG-Auth recommended policy "profiles" for securing pods. You can think of these as predefined PodSecurityPolicies, but the final product will be an implementation-agnostic spec.

The 3 profiles we're currently planning are:

[2020-02-18 19:48] jmarcos-cano commented on #63462
To anyone stepping by with this problem you should be able to fix it by adding:

https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy

[code]

[2020-02-18 19:49] jmarcos-cano commented on #56934
To anyone stepping by with this problem you should be able to fix it by adding:

https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy

[code]

[2020-02-18 20:10] riking opened #88282 "Document metadata.namespace behavior for webhooks"
**What would you like to be added**:
Webhook authors should be aware that the metadata.namespace of submitted objects is not trustworthy in Mutating Webhooks, and may be blank in Validation Webhooks. The namespace needs to always be read out of the AdmissionReview object.

**Why is this needed**:
If a webhook author does not test their code with a modified kubectl default namespace, a validating w

[2020-02-18 20:32] cmluciano commented on #82067
@NickrenREN Are you still experiencing this issue and have you looked into the comments above ?

[2020-02-18 20:35] nbartos opened #88283 "Allow configuration for kubevols directory in vsphere cloud provider"
**What would you like to be added**:
To allow the volume directory (currently hard coded as "kubevols") in https://github.com/kubernetes/kubernetes/blob/ed8a260fb3ff03843e3e29bc8e0f24fe4bfb7ab4/staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go#L60

**Why is this needed**:
It is difficult to make sure vmdk's from PVs get cleaned up after the k8 cluster has been deleted, because all volum

[2020-02-18 20:37] nbartos commented on #88283
/sig cloud-provider

[2020-02-18 20:45] rajathagasthya commented on #86811
You could make it `*metav1.Time`.

[2020-02-18 20:48] cmluciano commented on #73158
@jacksontj Can you confirm if this issue is related to the PR suggested in https://github.com/kubernetes/kubernetes/issues/73157#issuecomment-574116053

[2020-02-18 21:10] steven0711dong commented on #88280
I'm new to Kubernetes and I'd like to work on this issue :)

[2020-02-18 21:23] tedyu commented on #81135
@dashpole
If you're busy, I can try to tackle this issue.

[2020-02-18 21:39] liggitt opened #88284 "The COS versions at image-config.yaml are really old"
_Originally posted by @liggitt in https://github.com/kubernetes/kubernetes/pull/88281_

/kind cleanup

[2020-02-18 21:39] liggitt commented on #88284
/assign @cheftako

[2020-02-18 21:39] liggitt commented on #88284
/sig node

[2020-02-18 21:48] rajathagasthya commented on #88283
/area/provider/vmware

[2020-02-18 21:49] tedyu commented on #81135
After obtaining the bytes using code from https://github.com/google/cadvisor/blob/master/fs/fs.go#L552 , I convert the bytes with following code:
[code]
Is the above correct ?

[2020-02-18 21:54] brianpursley commented on #86130
/assign

[2020-02-18 22:14] rphillips commented on #88197
@sjenning and I have been looking into this exact issue. Updates are indeed broken. We will need to send down the properties with SetUnitProperties. I'm a +1 on the current PR.

ie (not sure if this is fully correct, but works): https://github.com/openshift/origin/compare/master...rphillips:wip/systemd_update

[2020-02-18 22:19] apelisse commented on #88252
Yeah, we should probably make anything that has the `x-kubernetes-preserve-unknown-fields: true` accept anything. I thought we already did so for types that are `runtime.RawExtension`. Maybe this never landed actually, I could look it up.

[2020-02-18 22:38] Huang-Wei commented on #88280
Sure, feel free to take it.

[2020-02-18 23:08] sftim commented on #88282
I looked at the page https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#mutatingadmissionwebhook and saw that it [currently](https://github.com/kubernetes/website/blob/dff2f7b9601470dc8383d883b23188ed450d89c2/content/en/docs/reference/access-authn-authz/admission-controllers.md) mentions side effects of a webhook without any cautionary note about this being a bad idea.

[2020-02-18 23:19] kenperkins commented on #83332
I'm also seeing this on k8s 1.14 with metrics server v0.3.4. I can't get my to resolve itself at all.

[2020-02-18 23:32] #87510 closed

[2020-02-18 23:43] Ewocker commented on #47249
Trying to create a bug and found this existing issue. Will put some content here for those who are interested in reproduce.

**What happened**:
On patching targetPorts of service that contains "ports" with duplicate port number, only the first port is updated with the change.

**What you expected to happen**:
Both port should get updated with correct targetPort.

**How to reproduce it (as minimall

[2020-02-18 23:44] raravena80 commented on #70387
/remove-lifecycle rotten

[2020-02-18 23:53] liggitt commented on #70387
Thanks for the feature request, but this is unlikely to make progress as an issue. A proposal that works through the design along with the implications of such a change can be opened as a [KEP](https://github.com/kubernetes/enhancements/tree/master/keps#kubernetes-enhancement-proposals-keps).

/close

[2020-02-18 23:53] #70387 closed

[2020-02-18 23:59] justaugustus commented on #87111
With the cut of the `release-1.18` branch, the 1.14 jobs have been removed, so this is no longer relevant.
ref: https://github.com/kubernetes/test-infra/pull/16351

/close

[2020-02-18 23:59] #87111 closed

[2020-02-19 00:02] liggitt commented on #88250
Restarting the apiserver will recreate the default bindings required for the control plane (controller manager, scheduler) and kube-proxy to function. You'll need to recreate any other bindings that are required for your additional addons or applications to run.

[2020-02-19 00:02] #88250 closed

[2020-02-19 00:05] 2rs2ts opened #88293 "--shutdown-delay-duration causes kube-apiserver to shut down shortly after startup if set to 20s or more"
**What happened**:

After upgrading to 1.16.6, my team started to experiment with the `--shutdown-delay-duration` flag. We found that if it was set to 20s or higher, there was a chance (which increased as duration increased) that our kube-apiserver would shut down shortly after starting, usually within 30 seconds of systemd receiving the startup signal from the apiserver process (i.e. when it ente

[2020-02-19 00:06] 2rs2ts commented on #88293
/sig api-machinery

[2020-02-19 00:13] liggitt commented on #88293
/assign @sttts
as original author in https://github.com/kubernetes/kubernetes/pull/74416

[2020-02-19 00:19] feiskyer commented on #75752
/close per https://github.com/kubernetes/kubernetes/issues/75752#issuecomment-587203653

[2020-02-19 00:19] #75752 closed

[2020-02-19 00:46] zhiweiv commented on #75752
@PatrickLang
Will this fix be backported to previous versions?

[2020-02-19 00:55] andyzhangx commented on #85160
already have a few e2e tests to address this issue in csi driver.

[2020-02-19 00:55] #85160 closed

[2020-02-19 00:58] hase1128 commented on #88232
@ahg-g
thanks for the information!
`kubectl rollout restart` is very similar what I want.
but this command increase revision of resource.

if user is associating their application's feature and revision numbers, it may occur unexpected trouble.
Is there a way to keep revision number?

[2020-02-19 01:06] annajung commented on #86967
/milestone v1.19

[2020-02-19 01:16] #85690 closed

[2020-02-19 01:16] ahg-g commented on #88232
Not using the restart command because it is effectively a deployment update.

Your other option is using something like the descheduler: https://github.com/kubernetes-sigs/descheduler, although it doesn't have a rebalancing strategy yet.

[2020-02-19 01:24] #81055 closed

[2020-02-19 01:24] wgliang commented on #88272
@ameir It looks like this issue can start with KEP.

[2020-02-19 01:32] tallclair commented on #58012
Relevant discussion of whether we should just from debian-base to an upstream (debian:buster-slim) instead: https://github.com/kubernetes/kubernetes/pull/80909#issuecomment-564317233

[2020-02-19 01:33] tallclair commented on #58211
/milestone clear

Seccomp to GA isn't happening for v1.18

[2020-02-19 01:34] stevenruizhang commented on #88205
@neolit123 try moving the yaml to  a temporary location, wait 1 minute, the bring the *.yaml back in /etc/kubernetes/manifests/, running docker ps -a, still have exited container,
1) [steven_rui_zhang@k8s-master-9828 ~]$ sudo docker ps -a
CONTAINER ID        IMAGE                  COMMAND                  CREATED             STATUS                              PORTS               NAMES
5ae3977442f

[2020-02-19 01:34] tallclair commented on #75563
/remove-lifecycle stale
/help

[2020-02-19 01:34] tallclair commented on #84742
/remove-lifecycle stale

[2020-02-19 01:36] andyzhangx opened #88298 "Create Azure Disk Fake operations for testing"
/assign @ZeroMagic
/kind test
/priority important-soon
/sig cloud-provider
/area provider/azure

[2020-02-19 01:42] andyzhangx commented on #85839
/priority backlog

[2020-02-19 01:42] neolit123 commented on #88205
moving the YAML files away will notify the kubelet to remove the control-plane static pods.
bringing them back will tell the kubelet to re-create the static pods.

minikube creates your cluster in a virtual-machine. so minikube stop/start i assume restarts the VM.
the kubeadm equivalent is to restart the host, yet you are seeing an issue after doing that.

try finding out why the containers exit.

[2020-02-19 01:48] andyzhangx commented on #88298
/priority backlog
/remove-priority important-soon

[2020-02-19 01:50] andyzhangx commented on #85839
/priority backlog
/remove-priority important-soon

[2020-02-19 01:50] craiglpeters commented on #85839
/priority backlog
/priority-remove important-soon

[2020-02-19 01:51] craiglpeters commented on #85839
/remove-priority important-soon
Sorry about the typo!

[2020-02-19 01:59] xiaoanyunfei commented on #88226
/assign

[2020-02-19 02:05] feiskyer commented on #87587
/assign @weinong

[2020-02-19 02:20] cheftako commented on #88284
Confirmed the relevant images do exist and are still accessible. (gcloud compute images list --project cos-cloud --no-standard-images --show-deprecated)
Its not clear however if this is the relevant file, https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/jenkins/image-config.yaml is the relevant file or if these files are no longer used at all.

[2020-02-19 02:20] tedyu commented on #88293
I wonder why delayedStopCh is passed to NonBlockingRun.

It seems stopCh should be passed instead.
[code]

[2020-02-19 02:27] abhiraut commented on #87709
@danwinship @lzang : see updated description of the issue. I can detail it in a KEP if you think it makes sense now.

[2020-02-19 02:42] yqwang-ms commented on #83834
Extender can do gang scheduling, because in our setup, the pods in the same group shares the same priority (with job creation time encoded) with the whole job. So even without queue sort plugin, and with our gang reservation, all pods in the group will eventually (normally very fast in fact) fill to the reservation and get allocated.

BTW, I avoid to compare k8s with modern OS, because OS is so di

[2020-02-19 02:44] abhiraut commented on #88253
instead of **"rather than the labels"** I would prefer if we introduce something like `matchExact` alongside of `matchExpressions` and `matchLabels` to select a Namespace by name while also providing the flexibility of using labels.

[2020-02-19 02:48] hainesc commented on #81450
@SuperTux88
Not the fact that `before adding the hook both containers were starting in parallel`, they were starting one by one, the behavior is defined by the code and can not be change by `Adding the hook`. Maybe both of them starting quickly, and seems like the were starting in parallel.

By now, I think, changing the order of the containers is an only workaround that works.

Furthermore, I had

[2020-02-19 03:10] #87979 closed

[2020-02-19 03:11] abhiraut opened #88300 "NetworkPolicy e2e tests is missing Except clause test"
**What happened**:
A missing test case was found for NetworkPolicy with Except clause

**What you expected to happen**:
Expect Except clause test to be covered

[2020-02-19 03:11] abhiraut commented on #88300
/sig network

[2020-02-19 03:16] BobyMCbobs opened #88302 "Write CoreV1ReplicationController lifecycle test+promote - +7 coverage"
- [x] [APISnoop mock ticket](https://github.com/cncf/apisnoop/pull/289)
- [x] [mock template ticket](#)
- [x] [PR](https://github.com/kubernetes/kubernetes/pull/88588)
- [ ] [update and improve](https://github.com/kubernetes/kubernetes/pull/89746)

# Identify an untested feature Using APISnoop

According to this APIsnoop query, there are still some remaining ReplicationController endpoints which a

[2020-02-19 03:29] zerkms commented on #66020
/remove-lifecycle stale

[2020-02-19 03:35] wwgfhf opened #88303 "The number of endpoints is greater than the number of pods"
**What happened**:
There are 3 pods in deployment, but there are 5 endpoints. Two endpoints can not be found in the cluster.
The 3 pods
[code]
The 5 endpoints
[code]
100.101.89.164 and 100.101.89.222 can not be found in the cluster.

**What you expected to happen**:
The number of endpoints is equal  to the number of pods

**How to reproduce it (as minimally and precisely as possible)**:
I don't kn

[2020-02-19 03:35] zhangdb-git opened #88304 "Too many evicted pods in nodes with low resource"
When one node is low on resource, some pods will be evicted to other nodes, but the pod with evicted status is still in this node and created more and more pods in this node. Before the resource pressure resolved, hundreds of pods with evicted status could be created.

[code]

Why try so many times to create pods in nodes which are low on resource? Or we should clear evicted pods on time.

**Envir

[2020-02-19 03:48] zhangdb-git commented on #88304
/sig scheduling

[2020-02-19 04:24] k332772194 opened #88305 "have a question,tell the path not exist,but i am sure the path is exist."
Events:
  Type     Reason       Age                            From                    Message
  ----     ------       ----                           ----                    -------
  Normal   Scheduled    2m39s                          default-scheduler       Successfully assigned public-service/es-0 to 192.168.2.134
  Warning  FailedMount  <invalid> (x8 over <invalid>)  kubelet, 192.168.2.134  M

[2020-02-19 04:27] apelisse commented on #87840
A few thoughts that I have, some from talking with @justinsb.
- It's not super interesting to show differences between two base64,
- One can probably do it with scripting until there is stronger evidence that this is needed,
- We could create a flag to choose which types to skip and/or skip secrets by default,
- I think it might have value to show new/old keys, but also if the password has changed

[2020-02-19 04:31] neolit123 commented on #88303
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:36:19Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/arm64"}

hi, 1.14 is not a supported version anymore.
1.15 will be out of support with the release of 1.18.
you should upgrade when possible

you can try enabling

[2020-02-19 04:32] neolit123 commented on #88305
hi, please use the support channels for this:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-02-19 04:32] #88305 closed

[2020-02-19 04:58] #86367 closed

[2020-02-19 04:58] #87901 closed

[2020-02-19 05:50] henryon commented on #88304
might be the pod are allowed to deployed on this node with label selector?

[2020-02-19 06:28] uablrek commented on #73157
Easier test;

* In any cluster ipv4/ipv6-only or dual-stack
* Use https://github.com/Nordix/assign-lb-ip to set an LB address of the *wrong* family

`assign-lb-ip` does no check of family. At least earlier there were tests for `externalIPs` but *not* for `loadBalancerIP`. My guess was that is was assumed that cloud-providers never does something wrong :smile:

[2020-02-19 06:40] #83382 closed

[2020-02-19 07:15] tasdikrahman commented on #67676
If this doesn't work for you https://github.com/kubernetes/kubernetes/issues/67676#issuecomment-446232363

I got it working again, by just deleting the lock file

[code]

[2020-02-19 07:46] brancz commented on #69676
There’s an in progress PR about this now. https://github.com/kubernetes/kubernetes/pull/87856

[2020-02-19 08:07] KotieSmit commented on #78446
Does anybody have a solid workaround for this?

[2020-02-19 08:11] inoam opened #88310 "kubectl cluster-info dump does not include initContainers logs"
**What happened**:
Ran kubectl cluster-info dump to collect all logs
For logs with initContainer, the logs for initContainers are not included in the dump.

**What you expected to happen**:
Get all logs for running pods, including logs for initContainers even if they are already done.

*How to reproduce it (as minimally and precisely as possible)**:
kubectl cluster-info dump, when there is any pod

[2020-02-19 08:12] inoam commented on #88310
/sig cli

[2020-02-19 08:34] #87977 closed

[2020-02-19 08:49] Belyenochi opened #88312 "Will the dual stack GA be merged in 1.17?"
Assuming the IP dual stack is at 1.19 GA, will this part of the code be merged into an earlier version (such as 1.17 or 1.16), because it is not easy to upgrade a large version during the operation, or is there any good way to smooth it Upgrade large version?

[2020-02-19 08:55] Belyenochi commented on #88312
/sig network

[2020-02-19 09:36] gianarb commented on #73723
Hello @apelisse @jennybuckley  !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-02-19 09:49] mkumatag commented on #69098
/remove-lifecycle stale

[2020-02-19 10:21] jimmy-zh opened #88316 "kube-proxy of ipv4-only cluster reports error in processing ipv6 address of NAT64 load balancer"
**What happened**:
We want to expose our service of ipv4-only cluster to ipv6 client, so we choose `NAT64 architecture load balancer` provided by our cloud provider. When we create a service of that load balancer type, service controller will retrieve both ipv4 and ipv6 addresses of load balancer and populate them in the service object. This will cause kube-proxy of ipv4-only cluster to report an

[2020-02-19 10:25] jimmy-zh commented on #88316
/sig network

[2020-02-19 10:26] hchenxa commented on #82612
/reopen

[2020-02-19 10:26] hchenxa commented on #82612
and @dineshba already have PR and waiting for review.

[2020-02-19 10:27] gianarb commented on #72956
Hello @BenTheElder thanks for your response. I will move this to 1.19 for now.
Have a good day

/milestone v1.19

[2020-02-19 10:28] jimmy-zh commented on #88316
/sig network

[2020-02-19 10:31] zhouya0 commented on #88310
/assign

[2020-02-19 10:49] achernev commented on #56934
@jmarcos-cano I was using those settings when I encountered the issue. The problem turned out to be that Flannel is broken with Kubernetes v1.17; a switch to Calico solved it.

[2020-02-19 10:56] lawrencegripper commented on #88265
Sounds like a good plan, with regard to the statistics is there a source of these I can pull from or is it best to run some test scenarios on a cluster?

For scenarios I'm thinking about testing with `x` initContainer's which run for for `y` secs with images of `z` size. I can then calculate the potential time savings for various values of `x/y/z` and get some more clear metrics of at which point

[2020-02-19 12:10] rtheis commented on #83332
We have found that increasing the metrics server CPU limit along with adding liveness and readiness probes helped to minimize the problem.

[2020-02-19 12:21] jsafrane commented on #79780
This should be fixed by #87978
/close

[2020-02-19 12:21] #79780 closed

[2020-02-19 12:49] skycastlelily2 opened #88322 "document for container linux need to update"
**What would you like to be added**:

Hi, I have followed this document to setup a cluster successfully on fedora coreos (container linux)
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

The following steps are also needed
setenforce 0
sed -i 's/^SELINUX=enforcing$/SELINUX=permissive/' /etc/selinux/config

Note:
    Setting SELinux in permissive mode by runn

[2020-02-19 12:51] Marusyk commented on #79365
Experiencing the same issue with one container. any suggestion?

[2020-02-19 12:58] sttts commented on #88293
`delayedStopCh` is correct because the API server keep working and serving during the delayed shutdown time. That's the main sense of the delayed shutdown time in the first place.

[2020-02-19 12:59] sttts commented on #88293
The issue description is not enough. We need complete logs of the apiserver up to termination. We also need a complete systemd unit file.

[2020-02-19 13:07] akshaysharama opened #88325 "Kubernetes pods is still running even after local disk used by that pod is unmounted"
Kubernetes version - 1.16.3
helm version - 2.16.1
ubuntu - 16.04.5 (server version)
deploying using kubespray and helm.
Deployed pod using PV with local persistent claim (underlying disk is sdb1).

Performed some test cases.
one of the test cases is removing/un mounting the underlying disk used by pod and observed the behavior.

Even after umounting the disk , pods are running and when checked on

[2020-02-19 13:15] goldwinner commented on #75436
corretc format is below:
[code]

[2020-02-19 13:18] liggitt commented on #66020
added to the [sig-auth agenda](https://docs.google.com/document/d/1woLGRoONE3EBVx-wTb4pvp4CI7tmLZ6lS26VTbosLKM/edit#) for today (2/19) for discussion

[2020-02-19 13:25] steve19922 opened #88326 "k8s 1.14.8 error: unable to retrieve the complete list of server APIs: admissionregistration.k8s.io/v1alpha1: the server could not find the requested resource"
**What happened**:
error: unable to retrieve the complete list of server APIs: admissionregistration.k8s.io/v1alpha1: the server could not find the requested resource

**What you expected to happen**:
list all api resources
**How to reproduce it (as minimally and precisely as possible)**:
kubectl api-resources --verbs=list

This also happens when trying to install helm release, it fails with:  fai

[2020-02-19 13:36] sofat1989 commented on #86337
@sftim we use containerd and it will create the podsandbox to run the pause process.  Killing the pod sandbox means killing all the containers, re-creating the podsandboxes and re-creating the containers. during re-creating the podsandboxes, it will re-set up the network. It may cause some issues. So we want to know whether it is better to kill the containers at first to avoid causing more issues.

[2020-02-19 13:39] fribourgpierre commented on #83834
Sorry to diverge from the root debate but does anyone of you can help implementing a workaround to create a FIFO QueueSort plugin on Scheduler Framework with out-of-tree feature (https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md#custom-scheduler-plugins-out-of-tree) ?

As I am not familiar Scheduler Framework, it seems that I need to compil

[2020-02-19 13:42] liggitt commented on #88326
Do you have alpha APIs enabled in your cluster? Are there multiple API servers in your cluster? Are they at the same version with the same APIs enabled?

[2020-02-19 13:44] liggitt opened #88327 "Data races in scheduler unit tests"
**Which jobs are flaking**:
pull-kubernetes-bazel-test

**Which test(s) are flaking**:
pkg/scheduler/internal/queue

**Testgrid link**:

**Reason for failure**:
[code]

**Anything else we need to know**:
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2020-02-19&pr=1&text=WARNING%3A%20DATA%20RACE&job=bazel
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86476/

[2020-02-19 14:25] olefemmy opened #88330 "Intermittent problem with pipeline"
**What happened**: Pipeline occasionally fails. It fails about 1 in 3 builds (there are 3 publishImage in my pipeline)

**What you expected to happen**: Previous version of k8s/rancher always works 1 out of 1

**How to reproduce it (as minimally and precisely as possible)**: N/A

**Anything else we need to know?**: Error message is `Cannot connect to the Docker daemon at unix:///var/run/docker.soc

[2020-02-19 14:29] steve19922 commented on #88326
Hi, thanks for replying, yes the issue is happening with this particular API, which is ALPHA, as per the api servers, AKS is taking care of that.

[2020-02-19 14:32] skilxn-go commented on #88327
I just sent a pr for it, but I'm not very sure if it will make things all right.

[2020-02-19 14:34] olefemmy commented on #88330
/sig node

[2020-02-19 14:37] #82519 closed

[2020-02-19 14:40] Marusyk commented on #78846
/reopen

[2020-02-19 14:40] Marusyk commented on #78846
/remove-lifecycle rotten

[2020-02-19 14:40] Marusyk commented on #78846
any solutions of this?

[2020-02-19 14:49] Marusyk opened #88333 "One more Warning FailedGetResourceMetric horizontal-pod-autoscaler missing request for cpu"
**What happened**:
HPA says

**What you expected to happen**:
Working HPA
**How to reproduce it (as minimally and precisely as possible)**:
Deployment
[code]

HPA

[code]

**Anything else we need to know?**:
Also tried HPA v2beta1, no success

[code]

**Environment**:
- Kubernetes version (use `kubectl version`): v1.12.8
- Cloud provider or hardware configuration: Azure
- OS (e.g: `cat /etc/os-rel

[2020-02-19 14:50] Marusyk commented on #88333
/sig autoscaling

[2020-02-19 14:52] alculquicondor commented on #83834
The framework is quite new and we are only fully leveraging it in 1.18. In the future, we would like to have a sample in https://github.com/kubernetes-sigs/scheduler-plugins
That is indeed the doc to set it up https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers once you have the code. But better use the mailing list or slack channel if you have further questions.

[2020-02-19 14:54] liggitt commented on #88326
what does `kubectl get apiservice/v1alpha1.admissionregistration.k8s.io -o yaml` return?

[2020-02-19 14:55] marquiz commented on #88142
Perhaps a warning event should be created? I'm not sure if an error would be the right thing to do as the image pull might succeed without the secret in question.

[2020-02-19 15:00] liggitt commented on #86811
The correct local fix is to make the field a pointer, so it can actually be omitted during serialization. However, that adds significant risk of NPE for all callers that currently do not check whether the field is nil. If we did this, I think we would need to add nil-safe implementations of all the current methods on metav1.Time and time.Time that tolerated a nil receiver and behaved like the zero

[2020-02-19 15:06] droslean opened #88335 "[Failing Test] skew-cluster-latest-kubectl-stable1-gce (ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew)"
**Which jobs are failing**:
`skew-cluster-latest-kubectl-stable1-gce (ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew)`

**Which test(s) are failing**:
`[sig-cli] Kubectl client kubectl get output should contain custom columns for each resource`

**Since when has it been failing**:
`18th Feb 15:58 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-ku

[2020-02-19 15:07] aojea commented on #88316
@jimmy-zh I think that we fixed this recently with this https://github.com/kubernetes/kubernetes/pull/87117

Please, check if is the same issue

[2020-02-19 15:07] ArcticSnowman commented on #88253
Oh I agree...  sorry my wording was bad...

[2020-02-19 15:13] droslean opened #88336 "[Failing Test] kubeadm-kinder-upgrade-1-17-master (ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-17-master)"
**Which jobs are failing**:
`kubeadm-kinder-upgrade-1-17-master (ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-17-master)`

**Since when has it been failing**:
`18th Feb 10:53 PST` https://github.com/kubernetes/kubernetes/compare/2e5d5ebf5...1e12d92a5

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-upgrade-1-17-master

**Reason for failure**:
[code]

**Anything

[2020-02-19 15:14] droslean commented on #88336
This started to happen after https://github.com/kubernetes/kubernetes/pull/88261 was merged.
/cc @mborsz @lavalamp @sttts @wojtek-t

[2020-02-19 15:50] ahg-g commented on #88327
/assign @skilxn-go

[2020-02-19 15:52] neolit123 commented on #88336
[upgrade/etcd] Upgrading to TLS for etcd
unsupported or unknown Kubernetes version(1.19.0-alpha.0)

the issue here is in kubeadm, due to the new 1.19 tag being tested and not related to #88261.

should be a trivial fix - support the new version. maybe long term convert this to a warning with a fallback.

/assign
/area kubeadm
/sig cluster-lifecycle

[2020-02-19 15:54] denkensk commented on #87850
Sorry for the slow response  @alculquicondor  I will send a pr as soon as possible

[2020-02-19 16:01] marquiz commented on #88330
Hmm, maybe you should file this report against rancher?

[2020-02-19 16:02] marquiz commented on #88325
Looks like the volume was not mounted by the pod. You should not be able to unmount when the device is "busy" i.e. there are users for it

[2020-02-19 16:08] akshaysharama commented on #88325
Pod is mounting the volume ,I checked using exec to that pod and did df -h.It is there.
Even wrote some data and checked on mounted path in node ,i'm able to see the data.

But when I did sudo umount [mount-path] . It is un mounting but inside pod it is still there(checked using df -h)

[2020-02-19 16:13] lovexiongmao commented on #78235
@parkjunhyo hi, do you slove the problem? I get the same question as you

[2020-02-19 16:20] marquiz commented on #88271
Hmm, as described by the error you should use `<key>=<value>:<effect>` format. In this case it should be something like `--register-with-taints "node.kubernetes.io/unschedulable=:NoSchedule"`. Does that work as expected?

[2020-02-19 16:25] olefemmy commented on #88330
I have taken it up with Rancher team and they seem to suggest that it might
be an issue with k8s and docker version, which is why I am raising it here.
I have looked at the bug fixes on docker and k8s and none seem to mention
this intermittent problem.

On Wed, Feb 19, 2020 at 4:01 PM Markus Lehtonen <notifications@github.com>
wrote:

[2020-02-19 16:29] egernst opened #88339 "Tracking PodOverhead graduation to beta for 1.18 release"
This issue is used to track the enhancements we plan to make to PodOverhead in the 1.18 timeframe. As part of the 1.18 release, we plan to graduate `PodOverhead` feature to beta.

 - [x] - update KEP beta criteria: https://github.com/kubernetes/enhancements/pull/1526
 - [x] - scheduler e2e test: https://github.com/kubernetes/kubernetes/pull/87215
 - [x] - feature observability: https://github.com/

[2020-02-19 16:29] egernst commented on #88339
/sig node

[2020-02-19 16:30] egernst commented on #88339
/assign @egernst

[2020-02-19 16:39] nckturner commented on #74379
@markyjackson-taulia still planning on having this in by 1.18

[2020-02-19 16:46] tnqn opened #88340 "[Flaky test] [sig-network] should enforce egress policy allowing traffic to a server in a different namespace based on PodSelector and NamespaceSelector"
**Which jobs are flaking**:
A NetworkPolicy test in `test/e2e/network/network_policy.go`, not run in Kubernetes CI.

**Which test(s) are flaking**:
`[sig-network] NetworkPolicy [LinuxOnly] NetworkPolicy between server and client should enforce egress policy allowing traffic to a server in a different namespace based on PodSelector and NamespaceSelector [Feature:NetworkPolicy]`

**Testgrid link**:

[2020-02-19 16:54] steve19922 commented on #88326
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  creationTimestamp: "2020-02-11T18:22:11Z"
  labels:
    kube-aggregator.kubernetes.io/automanaged: onstart
  name: v1alpha1.admissionregistration.k8s.io
  resourceVersion: "91332005"
  selfLink: /apis/apiregistration.k8s.io/v1/apiservices/v1alpha1.admissionregistration.k8s.io
  uid: 6bf0d842-4cfb-11ea-a95d-4e1a1dae46f2
spec:
  grou

[2020-02-19 16:56] liggitt commented on #88326
That alpha API version no longer exists in 1.14, and is removed by a 1.14 API server on start. It's presence means a 1.13 (or earlier) API server was run in this cluster after the current 1.14 API server started.

You can manually remove it with `kubectl delete apiservices/v1alpha1.admissionregistration.k8s.io` or restart your 1.14 API server to resolve the issue.

/close

[2020-02-19 16:56] #88326 closed

[2020-02-19 17:00] skilxn-go commented on #88027
I have one small question that do I need to mock some fake plugins for testing `WithFrameworkPluginConfig`, or just testing the default plugins?

[2020-02-19 17:04] tnqn commented on #88340
/assign

[2020-02-19 17:10] alculquicondor commented on #88027
You should use the existing plugins, because these are compatibility tests.

[2020-02-19 17:12] skilxn-go commented on #88027
Okay 😃

[2020-02-19 17:29] tedyu commented on #88293
Thanks for clarification, @sttts

[2020-02-19 17:39] lawrencegripper commented on #88265
I've got a very rough hacky change together today which I can use to do the comparison: https://github.com/lawrencegripper/kubernetes/commit/b546db839c633665926a83482865c6993eace1ba

The change aims (need to do more testing) start an async pull of the main pods images (will also add other `initContainers`) before the first `initContainer` is start. I'm hoping to then compare this to without it on

[2020-02-19 18:01] tedyu commented on #88265
The pullChan is not returned for prepull.
How do you check for the completion of prepulling image(s) ?

[2020-02-19 18:16] lawrencegripper commented on #88265
Woop, yeah as I wasn't receiving from the `pullChan` so the hacky version would block the puller. For testing now I'm just using a go routine in the async version to make sure the result it received. Will look at doing something better if the stats show it's worthwhile.

As I mentioned above it looks like the docker daemon is handling the de-duplication of the pull requests so I wasn't planning to

[2020-02-19 18:44] ameir commented on #88272
Thanks, @wgliang. Should I file the issue in https://github.com/kubernetes/enhancements or is it okay to stay here?

[2020-02-19 18:47] rajansandeep opened #88343 "Push the CoreDNS 1.6.7 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.6.7 image is available in docker coredns/coredns:1.6.7

This is the script used for pushing the image:

[code]

/cc @chrisohaver
/assign @johnbelamaric @thockin

[2020-02-19 18:49] tamalsaha commented on #86811
Also, I want to note that `metav1.MicroTime` has the same issue with `null`.

[2020-02-19 18:59] tedyu commented on #85966
/assign

[2020-02-19 19:00] aledbf opened #126818 "CVE-2020-8553: auth-type basic annotation vulnerability"
A security issue was discovered in ingress-nginx versions older than v0.28.0. The issue is of medium severity, and upgrading is encouraged to fix the vulnerability.

**Am I vulnerable?**

The vulnerability exists only if the annotation [nginx.ingress.kubernetes.io/auth-type: basic](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#authentication) is used.

**Ho

[2020-02-19 19:00] #126818 closed

[2020-02-19 19:08] johnbelamaric commented on #88343
I think this can be done with the image promoter now, if instead of `k8s.gcr.io` you use `us.gcr.io/k8s-artifacts-prod/coredns` in the manifests that pull CoreDNS. @stp-ip @listx @dims what do you think? Should we do this now or wait until the vanity domain flip is done so we don't hardcode `us`?

See:
  - https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io#managing-kubernetes-container-re

[2020-02-19 19:08] johnbelamaric commented on #88343
/sig network

[2020-02-19 19:08] thockin commented on #88343
already done

[code]

[2020-02-19 19:09] thockin commented on #88343
@johnbelamaric The promoter works but without the vanity domain, it will just be a mess.  Nobody should hardcode the region.

[2020-02-19 19:10] thockin commented on #88343
And FYI vanity domain O(soon).  Finishing last audit and DR checkboxes

[2020-02-19 19:10] #88343 closed

[2020-02-19 19:41] alculquicondor commented on #88174
If we give a higher weight only to the API-facing scores, then workloads that don't use these features are not affected, which is a good thing.

I think a good weight to give to these scores is one that avoids it to be diluted among the rest of the scores. So, maybe a weight that is half the sum of all non-API-facing scores.
Now, if a user uses the API for more than one score, I think we can safel

[2020-02-19 19:42] #81984 closed

[2020-02-19 19:42] andrewsykim commented on #88300
/remove-triage unresolved

[2020-02-19 19:49] ahg-g commented on #88174
/cc @lavalamp

Daniel, can you comment on whether or not the proposed change conforms with k8s deprecation policy?

[2020-02-19 20:02] byxorna commented on #84214
Ive also stumbled across this - our clusters on <=1.13 never ran into this problem (we were running `docker system prune` daily), but on our 1.17 clusters we run into this off and on. The result is:
1. k8s pod A runs with image B, terminates.
2. `docker system prune --all --force` runs, cleans up image B
3. `kubelet` attempts to inspect pod A's containers, and tries to look up image B
4. kubelet p

[2020-02-19 20:25] lavalamp commented on #88174
I hate to say it, but I think you have to make the new set of weights an option and use the deprecation process to move people over. It's quite difficult to predict what a change in these weights might do to the overall scheduling behavior, no?

If it was already possible to specify the settings (via flag or config file), then maybe there's a case to be made that the deprecation process is heavier

[2020-02-19 20:40] #88088 closed

[2020-02-19 20:51] ahg-g commented on #88174
This may have an impact of availability (since by default the scheduler will prefer less under utilized nodes) and pod startup (less preference to node that already has the image) IF the pod have explicit preference for being on a specific node or with a specific pod.

Those weights are actually configurable via the component config file, but most cloud providers don't allow customers to provide a

[2020-02-19 20:54] alculquicondor commented on #87703
Hello @haosdent, are you on track with this?

[2020-02-19 20:54] lavalamp commented on #88174
Those are good points, but how many users specify preferences? Should we encourage those users to use non-optional constraints, instead? I can imagine arguing that making the preferences more likely to be obeyed makes it rarer and therefore more surprising and worse when they can't be honored.

[2020-02-19 21:14] cblecker commented on #88037
/kind cleanup
/priority ignore-this-im-testing

[2020-02-19 21:14] cblecker commented on #88037
/remove-kind cleanup

[2020-02-19 21:30] alculquicondor commented on #88174
I'm not sure if I'm understanding this correctly. Examples of non-optional scores are "topology spreading", "resources utilization" and "image locality". Users (aka Pods) can't opt-in or opt-out from them. Cluster operators (on prem or cloud-providers) can opt-out or change weights, but for a whole cluster.

Remember that we are talking about node scoring. The nodes to be scored should have passed

[2020-02-19 21:38] 2rs2ts commented on #88293
@sttts Here's a gist with the journal from a couple iterations of the stop/start loop, as well as the `systemctl show` output for the service, from a node I tested this morning (with the value set to 30s because it reproduces very easily at that value): https://gist.github.com/2rs2ts/57837d2932341a9133516386af5f69c5

I should say, this log pattern here is not always the same for every time I test

[2020-02-19 22:47] BenTheElder commented on #72956
updated the checklist, 9 to go! have a PR out for one of them https://github.com/kubernetes/kubernetes/pull/88349

[2020-02-19 23:21] julianvmodesto commented on #88051
@soltysh what do you think about this one?

[2020-02-19 23:55] lavalamp commented on #88174
OK, so I guess the case where this hurts users is:
* They specified preferences
* The preferences are actually bad (plot twist)
* ...but they're diluted so much that they're not having much effect
* but now the scheduler starts honoring them more often

But it's still probabilistic, so we can expect some percentage of the time, the preferences continue to not get honored?

Numerically, suppose 50%

[2020-02-19 23:59] tedyu commented on #88293
Looking at #74416 (we don't know whether that was really related to the shutdown), there is not much log around the delayedStopCh.

Maybe we can add more logs so that there is more information in the next round of test run.

[2020-02-20 00:07] sftim commented on #86337
Maybe a tool like https://github.com/rfjakob/earlyoom or https://github.com/facebookincubator/oomd could help address this, by making it much less likely for the pause process to become the kernel OOM killer's victim?

[2020-02-20 00:08] roycaihw commented on #78499
/remove-lifecycle rotten

This issue still exists in master HEAD

[2020-02-20 00:11] #88327 closed

[2020-02-20 00:12] #88340 closed

[2020-02-20 01:47] roycaihw commented on #86897
`kubectl apply` [prunes](https://github.com/kubernetes/kubernetes/blob/96dfa3f6051766d7ebb3a74dbc0c0c58d5aa120b/test/cmd/crd.sh#L440) the foo CR "test" with a Foreground delete, and [expects](https://github.com/kubernetes/kubernetes/blob/96dfa3f6051766d7ebb3a74dbc0c0c58d5aa120b/test/cmd/crd.sh#L442) it to be gone.
[code]
However in those [failures](https://prow.k8s.io/view/gcs/kubernetes-jenkins/p

[2020-02-20 01:58] roycaihw commented on #86897
Created #88353. For the record the test failed 13 time since 2/14: https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&sort-by-flakiness=&exclude-non-failed-tests=

[2020-02-20 02:25] haosdent commented on #87703
Hi, @alculquicondor I saw @pancernik assign to him before, so I remove help. If he didn't work in this, I would like to help to fix this issue.

[2020-02-20 02:26] haosdent commented on #87703
Looks he didn't work in this. Let me create pull request. @alculquicondor

[2020-02-20 02:52] verult opened #88355 "storage e2e tests: Leaking PDs due to #87258"
**Which jobs are flaking**: Since #87258 was merged, storage e2e tests were leaking ~1 PD ~40% of the time. The PR has since been reverted (#87664)
See https://github.com/kubernetes/kubernetes/pull/87258#issuecomment-579932107

**Which test(s) are flaking**:

**Testgrid link**: https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=8&include-filter-by-regex=diffResources

[2020-02-20 02:52] verult commented on #88355
/sig storage

[2020-02-20 03:33] gongguan opened #88357 "move pkg/controller/volume/scheduling to scheduler"
**What happened**:
package `pkg/controller/volume/scheduling` are only used by scheduler rather than controller-manager, I think it reasonable to move it to `pkg/scheduling/framework/plugins/volumebinding`.

By the way, we can merge [nodevolumelimits.InTreeToCSITranslator](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/nodevolumelimits/csi.go#L41) into [schedu

[2020-02-20 03:34] gongguan commented on #88357
/kind cleanup
/sig scheduling
/sig storage

[2020-02-20 03:35] gongguan commented on #88357
/remove-kind bug

[2020-02-20 03:37] gongguan commented on #88357
/assign

[2020-02-20 03:38] jimmy-zh commented on #88316
@aojea Nice contribution. My problem seems to be the same issue in a certain situation(NAT64 LB). I will backport #87117 patch to v1.16 to meet our needs. Thanks!

[2020-02-20 03:49] BobyMCbobs opened #88358 "Write CoreV1NodeStatus mock test - +2 coverage"
# Identify an untested feature Using APISnoop

According to this APIsnoop query, there are still some remaining Node endpoints which are untested.

[code]

[code]

# Use API Reference to Lightly Document the Feature

-   [Kubernetes API Reference Docs](https://kubernetes.io/docs/reference/kubernetes-api/)
-   [client-go - Nodes](<https://github.com/kubernetes/client-go/blob/master/kubernetes/typed

[2020-02-20 04:44] #83745 closed

[2020-02-20 04:54] jpbetz commented on #87668
Tried this out with https://github.com/kubernetes/kubernetes/pull/88297. The long delays outside of sync.Monitors are almost entirely due to the latency of `attemptToDeleteItem` > `getObject` > `gc.apiResource` > `gc.restMapper.RESTMapping` > `getDelegate` > `GetAPIGroupResources`

I'm guessing that `getDelegate` is fetching from discovery in this codepath for the same reason `GarbageCollector.Syn

[2020-02-20 05:06] neolit123 commented on #88336
should be fixed with https://github.com/kubernetes/kubernetes/pull/88347

[2020-02-20 05:58] neolit123 commented on #88322
/remove-kind feature
/kind documentation
/sig cluster-lifecycle node

@skycastlelily2 hi, users are already using SELinux labels and running a kubeadm cluster with SELinux enabled.

this is possible by configuring a security context:
https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#assign-selinux-labels-to-a-container

i wonder what work remains there and if this sentence

[2020-02-20 05:58] #88322 closed

[2020-02-20 06:12] frittentheke commented on #54498
/remove-lifecycle stale

[2020-02-20 07:15] hase1128 commented on #88232
Understood.
In the current k/k community, is it possible to consider developing such a feature?

[2020-02-20 07:20] cheeye commented on #87197
If you need anything form a s390x env, I will help to provide. It seems only the latest version has this issue. The older versions' images on s390x work.

[2020-02-20 07:32] aojea commented on #88316
@jimmy-zh please do the backport to 1.17 too, so we don't have a gap with one version :smile:

Thanks
/close

[2020-02-20 07:32] #88316 closed

[2020-02-20 07:39] pohly commented on #78879
/reopen
/remove-lifecycle rotten

[2020-02-20 07:44] liu4480 opened #88361 "csi driver is not enabled in kube-apiserver"
I ran k8s 1.13.7
with options:
apiserver
KUBE_APISERVER_OPTS="--logtostderr=true \
--v=2 \
--etcd-servers=https://X.X.X.X:2379 \
--bind-address=0.0.0.0 \
--secure-port=6443 \
--advertise-address=X.X.X.X \
--allow-privileged=true \
--service-cluster-ip-range=X.X.X.X/24 \
--enable-admission-plugins=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota \
--en

[2020-02-20 07:49] liu4480 commented on #88361
/sig usability

[2020-02-20 08:02] george-angel commented on #57049
/remove-lifecycle stale

[2020-02-20 08:11] BenTheElder commented on #87197
I apologize but I'm over-assigned and unable to keep up, if you can figure out what the issue is I can probably help populate new images but I do not have enough bandwidth for this at the moment.

/unassign

[2020-02-20 08:19] hase1128 opened #88362 "Manage the order of Pod booting"
**What would you like to be added**:
I want to add the feature which can manages the order of Pod booting.

e.g.
I would like to guarantee that Pod2 starts boot after Pod1 becomes "ready" status.

in case of multiple pods are contained in one yaml file and user apply this file by kubectl, these pods are booting in parallel.

we can use pod-priority, but this can't manage order strictly.
https://ku

[2020-02-20 08:19] hase1128 commented on #88362
/sig scheduling

[2020-02-20 08:23] lawrencegripper commented on #88265
Looking at this again I now agree that I'll need to track the results of the async pulls to make sure behavior like the Image pull backoff works as expected. @tedyu sorry for being slow to catch up on this one. I'll follow your suggestion of:

[2020-02-20 08:26] skilxn-go commented on #88362
It's a little strange IMO.
As we know, pods belong to workloads.
So your DB and Application pods should belong to some workloads such as deployments or statefulsets.
If there are multi pods in those workloads, say 90/100 pods are ready for the DB, what's the expecting behavior of the Application pods(maybe 50 App pods to be created).

[2020-02-20 08:53] hase1128 commented on #88362
- DB(one primary DB and multiple replica DBs)
- App(multiple Pods and connect to `primary` DB).

In this case, several App Pods will be created but rest of them wait for their reconnect interval.
In this situation, service is run normally, but it does not have enough resource of App Pods.
I would like to avoid such situation. (If we are unlucky, all Apps wait longer than expected)

[2020-02-20 08:54] #79347 closed

[2020-02-20 09:02] Nurza commented on #85866
I have the same issue with my clusters (wich are on different versions of k8s). I run weave for the CNI :

Are affected : 1.15.0, 1.15.2, 1.15.5, 1.17.1
Are not affected : 1.13.5, 1.17.3

Always in the default namespace.

[2020-02-20 10:11] liudalibj commented on #87197
Use follow steps to get a v1.17.2 cluster with none driver on s390x machine by minikube
1. Build debian-iptables on the s390x machine
[code]
2. Get kube-proxy binary file from k8s.gcr.io/kube-proxy:v1.17.2
[code]
3. Build a workable kube-proxy:v1.17.2 image
[code]
4. Test the built out k8s.gcr.io/kube-proxy:v1.17.2 image
[code]
5. Use minikube create v1.17.2 cluster
[code]
6. Check cluster status

[2020-02-20 10:13] liu4480 commented on #88361
What I mean is how can I enable csidrivers.csi.storage.k8s.io in k8s 1.13?

[2020-02-20 10:16] nalan2012 opened #88365 "scheduler framework need more values for additional user-defined plugin"
**What would you like to be added**:
In the priority part of schedule framework, we want to add pod info besides node scores as the input values for additional user-defined plugin.
**Why is this needed**:
we want to leverage the scores info to acheive other tasks after filtering the pod.

[2020-02-20 10:18] odinuge commented on #84426
/remove-lifecycle stale

[2020-02-20 10:19] k82cn commented on #88365
/sig scheduling
/priority important-soon

[2020-02-20 10:23] jimmy-zh commented on #88316
@aojea OK, I will do it soon.

[2020-02-20 10:24] raelga commented on #78352
/remove-lifecycle stale

[2020-02-20 10:25] tretos53 commented on #88271
I tested this again.

The taint format expected by kubelet is: `<key>=<value>:<effect>`

`--register-with-taints node.kubernetes.io/unschedulable=:NoSchedule` Node is attached to the cluster but no taint is set. `Kubectl get node` shows node as Ready.

`--register-with-taints node.kubernetes.io/unschedulable:NoSchedule` Node is not attached to the cluster and kubelet shows error: invalid argument

[2020-02-20 11:07] #79359 closed

[2020-02-20 11:09] droslean opened #88367 "Will download and extract kubernetes-test tarball(s) - curl: (22) The requested URL returned error: 403"
Many jobs are failing because of
[code]

Some of the job logs:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1230434368032346114
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1230434368032346114
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1230440661795213312#1:build-log.

[2020-02-20 11:16] andyzhangx opened #88368 "check disk status before delete azure disk"
**What happened**:
check disk status before disk azure disk
There is little possibility that attach disk would cost 10min, and disk could be attached, deleted in same time, that would cause race condition.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ver

[2020-02-20 11:20] neolit123 commented on #88271
i don't think it is a good idea to try apply the built-in taints managed by the DS controller.

someone reported the same use case some time ago, but i cannot find the ticket. not sure if maintainers replied there. my reply there was that you have to make your DS YAML aware of custom taint that you apply to nodes.

you can also play with anti-affinity and the `NotIn` operator, see example here:
ht

[2020-02-20 11:21] marquiz commented on #88271
It's not about the format. With the built-in taints the value is just empty. E.g. this should work:
[code]

It's just that you have no control over these reserved built-in taints. I don't know exactly how it works but I expect that the master (node controller?) immediately/automatically writes over any value you're trying to set.

[2020-02-20 11:23] marquiz commented on #88271
Yup

I'd suggest to close this issue as `--register-with-taints` seems to work as expected. Giving the user full control over the built-in taints is a completely different story, I think (and I don't know it's a good idea)

[2020-02-20 11:31] droslean commented on #88367
Also, all the jobs report in their log the following:
[code]

@justaugustus  Do we have to take any action to change that?

[2020-02-20 11:37] neolit123 commented on #88271
thanks for the comments and report.
/close

[2020-02-20 11:37] #88271 closed

[2020-02-20 11:45] anton-fedorov commented on #78761
Tried using `targetAverageValue` instead of `targetAverageUtilization` - still no successful scale down

[2020-02-20 11:53] neolit123 commented on #88312
kubernetes has a policy for not backporting feature changes or graduation increments, only critical bug fixes, so the answer is no, the dual stack GA feature will not be backported to older versions.

it depends on what you've used to create the cluster. for example, using the "kubernetes the hard way" tutorial does not give you an easy upgrade path.
managed/hosted cluster solutions and also some

[2020-02-20 11:53] #88312 closed

[2020-02-20 12:14] skycastlelily2 commented on #88322
Hi,

Thanks for your information,the following is needed

cat <<EOF > /etc/sysctl.d/k8s.conf
net.bridge.bridge-nf-call-ip6tables = 1
net.bridge.bridge-nf-call-iptables = 1
EOF
sysctl --system

Make sure that the br_netfilter module is loaded before this step.
This can be done by running lsmod | grep br_netfilter. To load it
explicitly call modprobe br_netfilter.

*Why is this needed*:

On Thu, Feb

[2020-02-20 12:29] #84359 closed

[2020-02-20 12:32] neolit123 commented on #88322
the `br_netfilter` requirement is documented here. it is required by _some_ CNI plugins:
https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#network-plugin-requirements

this step seems more valid not for the Node/OS installation part, but rather for the CNI installation part:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluste

[2020-02-20 12:37] droslean commented on #88367
After some investigation, it seems that file `gs://kubernetes-release-dev/ci/latest-green.txt` contains `v1.19.0-alpha.0.47+da9f47eadfdf85` instead of `v1.19.0-alpha.0.64+937008e3aca75c`

[2020-02-20 12:46] alejandrox1 commented on #88367
Switching from bootstrap.py to podutils should be done by the job owners - this is out of scope for releas team (strictly speaking).
And the message is just a warning, should not affect the job itself.

[2020-02-20 13:06] marquiz commented on #88325
Uh, sorry, I replied to hastily without thinking further :grimacing:

What you're experiencing is by design in Linux. The pv gets bind mounted inside the container (in a separate mount namespace, that's why you don't see it with `df -h` from the system). After creating the bind mount the kernel treats it just as another mount point to `/sdb1[/subdir]` and the two mount points (in host system and i

[2020-02-20 13:07] juliohm1978 commented on #48307
We are using a custom bash script that implements an alternative to `kubectl drain`.

https://gist.github.com/juliohm1978/1f24f9259399e1e1edf092f1e2c7b089

Not a perfect solution, but it really helps when most of your deployments are single Pods with a rollout strategy like the following:

[code]

[2020-02-20 13:14] kargakis commented on #83448
This is unrelated to the CLI and depends on the revisionHistoryLimit set in the Deployment.

[2020-02-20 13:14] #83448 closed

[2020-02-20 13:39] tnozicka commented on #58711
/remove-lifecycle rotten
/lifecycle frozen

[2020-02-20 14:15] stevenruizhang commented on #88205
@neolit123  i have no idea how to find out why the containers exit. I already done the above steps, issue still not resolved, do u have any other way such as reset the kubernetes?

[2020-02-20 14:26] SVronskiy commented on #85519
/remove-lifecycle

[2020-02-20 14:42] neolit123 commented on #88205
hi, try asking for help on the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if this is confirmed as a bug, please reopen the ticket.
/close

[2020-02-20 14:42] #88205 closed

[2020-02-20 14:53] xing-yang commented on #85519
Here's a new KEP for namespace transfer: https://github.com/kubernetes/enhancements/pull/1555

[2020-02-20 15:12] soltysh commented on #86012
Based on what Jordan said above, we don't support more than +/- 1 version for now.
/close

[2020-02-20 15:12] #86012 closed

[2020-02-20 15:16] alculquicondor commented on #87703
Sorry I got messed up with the previous messages. Could you guys coordinate so that the one who already has made progress takes it?

[2020-02-20 15:18] alculquicondor commented on #87474
/close

#88002 should be enough

[2020-02-20 15:18] #87474 closed

[2020-02-20 15:27] alculquicondor commented on #88174
I think we can tweak how many of the currently diluted cases become honored.

In https://github.com/kubernetes/kubernetes/issues/88174#issuecomment-588410909 I proposed that we use a weight of half the sum of the non-API-facing weights. We can be less aggressive and do a quarter or just 2 (we currently put weight of 1 for all).

[2020-02-20 15:33] alculquicondor commented on #88174
On another note, I would say weights are actually part of the component config API. In both v1alpha1 and the new v1alpha2 (#87617), you can tweak the weights of individual scores. Users might be setting up these weights assuming that the defaults are 1. This is not a problem with the old Policy API, because you have to specify **all** the scores with their weights.

So, if we decide to change the

[2020-02-20 15:46] markyjackson-taulia commented on #74375
After chatting with @alejandrox1 it was agreed that we can remove the milestone here until this work is detailed and staffed

/remove-milestone

[2020-02-20 15:48] markyjackson-taulia commented on #74375
/remove-milestone v1.18

[2020-02-20 15:48] alculquicondor commented on #88365
Could you specify which interface you are referring to and what is the proposed change?

In general, it's preferred to keep the interfaces as limited as possible to avoid side effects and maintenance burden. So it's helpful if you can describe the use case too.

[2020-02-20 15:51] markyjackson-taulia commented on #74375
/milestone v1.19

[2020-02-20 15:54] betinro commented on #81584
Yes, we need this. And we also need for NLB to work the following annotations:

- service.beta.kubernetes.io/aws-load-balancer-healthcheck-interval
- service.beta.kubernetes.io/aws-load-balancer-healthcheck-timeout

[2020-02-20 16:04] #82819 closed

[2020-02-20 16:21] stp-ip commented on #88343
Promoter usage is on the radar (and tested) and was discussed with @rajansandeep

Thanks Tim for taking care of this.

[2020-02-20 16:21] liggitt commented on #88367
@BenTheElder @fejta is this related to the workload identity switch yesterday?

[2020-02-20 16:27] #88298 closed

[2020-02-20 16:29] ahg-g commented on #88174
Daniel, I don't expect that 50% of k8s workloads have preferred pod/node affinities, but I don't have data to suggest an alternative estimate.

I guess we could make the change behind a feature flag that gets graduate over multiple releases.

[2020-02-20 16:36] liggitt commented on #88361
The CSIDriver API types were added in 1.14. Prior to that, they were developed as alpha-level custom resources.

/sig storage
/remove-sig usability
/close

[2020-02-20 16:36] #88361 closed

[2020-02-20 16:44] jayunit100 opened #88375 "Missing Egress NetworkPolicy tests"
**What would you like to be added**:

It looks like there's an asymmetry for ingres vs egress testing in our network-policy suite.  We have several different permutations of ingress tests (for example,

- namedport
- namedport + namespace
- namespace && pod
- namespace || pod

but for egress we only have 3 tests: updates, named ports, and CIDR blocks.

**Why is this needed**:

We want to broaden t

[2020-02-20 16:56] uablrek commented on #88023
Does the "http://:port" use a DN or an ip-address? The reason for asking is that if a symbolic name is used it is often the DNS-query that takes long time.

[2020-02-20 17:12] ibuildthecloud opened #88376 "No new tags on staging repos after v0.18.0-alpha.2"
I'm not seeing any tags on staging repos like github.com/kubernetes/api newer than v0.18.0-alpha.2.  Specifically I'm looking for v0.18.0-beta.0.

[2020-02-20 17:13] ibuildthecloud commented on #88376
/sig release

[2020-02-20 17:14] aojea commented on #86370
@danwinship I've tried to reproduce it locally but I can't find entries from the iptables `recent` module.

I've created a deployment and a service and dumpled the iptables.
After updating the service to use sessionAffinity and a timeout of 2 seconds, it seems that the iptables rules are correct:

[code]

but I can't find entries in the /proc/net/xt_recent folder
[code]

can it be something relate

[2020-02-20 17:36] roycaihw commented on #86897
/reopen

I will verify the test results in the next few days.

[2020-02-20 17:38] yardensachs commented on #63022
So, looks like a solution is to use for now, is on your userdata content, you can add `kubelet-extra-args`.

Example:
[code]

[2020-02-20 17:44] aojea commented on #86370
Also, based on #86522 it seems that the test is not covering this scenario, it should be failing because it has to check that it switches the backend once the affinity times out

https://github.com/kubernetes/kubernetes/blob/6eba154f6e3a786e796b27ac86b6dac046273026/test/e2e/network/service.go#L111-L112

[2020-02-20 18:45] smourapina commented on #87766
Hello @alenkacz!
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March, which is a few weeks from now. Is this issue still intended for milestone 1.18? Thanks in advance!

[2020-02-20 18:47] smourapina commented on #58034
Hello @craiglpeters @mtaufen @ritazh !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March, which is a few weeks from now. Is this issue still intended for 1.18? Thanks in advance!

[2020-02-20 18:49] smourapina commented on #87993
Hello @saschagrunert !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March, which is a few weeks from now. Thanks in advance!

[2020-02-20 18:50] smourapina commented on #79523
Hello @mmerrill3, @kirrmann, @pjryan93 !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March, which is a few weeks from now. Is this issue still intended for milestone 1.18? Thanks in advance!

[2020-02-20 18:52] alenkacz commented on #87766
@smourapina yes :)

[2020-02-20 18:52] smourapina commented on #87617
Hello @ahg-g, @alculquicondor !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March, which is a few weeks from now. Is this issue still intended for milestone 1.18? Thanks in advance!

[2020-02-20 18:56] smourapina commented on #86267
Hello @justaugustus, @ixdy!
With code freeze approaching for 1.18 (5 March), can you please check if the current issue is still intended for milestone 1.18?

[2020-02-20 19:04] #83026 closed

[2020-02-20 19:11] alculquicondor commented on #87617
It is :)
All implementation PRs are out for review.

[2020-02-20 19:30] PatrickLang commented on #84804
/milestone v1.18
/close

[2020-02-20 19:30] #84804 closed

[2020-02-20 19:41] PatrickLang commented on #84822
These are tracking containerd/cri master branch:

Flannel-L2Bridge - https://testgrid.k8s.io/sig-windows#containerd-l2bridge-windows-master
Flannel-Overlay - https://testgrid.k8s.io/sig-windows#containerd-overlay-windows-master
GCE - https://testgrid.k8s.io/sig-windows#gce-windows-2019-containerd-master

[2020-02-20 19:41] #84822 closed

[2020-02-20 19:47] PatrickLang commented on #63121
This is done in ContainerD, minus this corner case: https://github.com/containerd/containerd/issues/3897

[2020-02-20 19:48] milkowski commented on #53533
There is huge shift for SSD on most respectable cloud providers now and considering Linux has dedicated optimizations for swapping on SSD https://lwn.net/Articles/704478/ with additional possibility of compression, this situation makes whole new opportunity to utilize swap as predictable and fast resource for additional RAM in case of memory pressure.
Disabled swap becomes wasted resource the same

[2020-02-20 19:56] zhan849 opened #88378 "Kubelet metrics improvement"
**What would you like to be added**:
1. Currently we are using default bucket for many histograms inside kubelet, however, for stats that can span mostly from seconds to minutes, we can have different buckets to make numbers more meaningful
2. it'd be very useful if runtime operations has specific metrics for images - this helps infra teams to detect inefficient images (those constantly needs pull

[2020-02-20 20:08] milkowski commented on #53533
In that case it would be fair to assume `kubelet` will `mlock()` its memory space and set OOM kill priority to low value to avoid being swapped out or OOM killed and run all containers in cgroups with `swapiness` set to `0` by default. If someone wants to benefit form swapping it may opt-in by use an option i.e. `enableSwapiness: 50` for particular container(s) in pod.
No surprises, batteries incl

[2020-02-20 20:14] MichelDiz commented on #48716
I have this issue with StatefulSet. This yaml https://github.com/dgraph-io/dgraph/tree/master/contrib/config/kubernetes/dgraph-ha

The issue is, when I delete the set `kubectl delete -f dgraph-ha.yaml` change some params and re-run it. I have errors due to the reason that the params are saved in file (volume in this case). Without the cleanup of the volume, I can't change anything.

[2020-02-20 20:25] gacopl commented on #63022
@yardensachs that one was around since ages, this is about making aws provider do things it should do since beginning

[2020-02-20 20:48] lavalamp commented on #88174
It is permissible for the default to change over versions, in fact that's the way to do it for API types. Since the type is alpha, I guess it's OK to just do this.

So, if the config file is v1alpha1, do the old defaults; if it's v1alpha2, use the new ones. How does that sound?

[2020-02-20 20:57] alculquicondor commented on #88174
sgtm. But the question of what's a good weight for api-facing scores still remains.

By default we only have 4 non-api-facing scores:
- NodeResourcesBalancedAllocation
- ImageLocality
- NodeResourcesLeastAllocated
- DefaultPodTopologySpread

So my two proposals are actually the same number: 2 :sweat:

[2020-02-20 21:02] ahg-g commented on #88174
What about the case where a config file is not provided at all (which is very common across all cloud providers)? I guess we will have to keep the old defaults, and so we didn't actually solve the issue, right? it will also be confusing to users.

[2020-02-20 21:04] fedebongio commented on #88042
/assign @logicalhan

[2020-02-20 21:06] fedebongio commented on #88044
/assign @caesarxuchao
could you please take a look?

[2020-02-20 21:06] fedebongio commented on #88044
/assign @pbarker

[2020-02-20 21:07] fedebongio commented on #88045
/cc @logicalhan

[2020-02-20 21:08] fedebongio commented on #88091
/assign @julianvmodesto @apelisse

[2020-02-20 21:10] fedebongio commented on #88111
/assign @jingyih

[2020-02-20 21:12] fedebongio commented on #88182
/assign @jennybuckley

[2020-02-20 21:13] fedebongio commented on #88194
/assign @silenceper
Thank you for creating the issue and the PR! Assigning to you so you can close when the PR merges!

[2020-02-20 21:15] w1593950 opened #88380 "```kubectl get componentstatuses``` issue in v1.17.3 and v1.16.7"
```kubectl get componentstatuses``` is not working as expected in ```v1.17.3``` and ```v1.16.7``` but working fine in ```v1.15.10 ```

**What happened**:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

I reproduce this issue when I'm trying to upgrade clusters from Kelsey's Kubernetes the hard way repo --- https://github.com/kelseyhight

[2020-02-20 21:15] fedebongio commented on #88244
/assign @yliaog

[2020-02-20 21:15] fedebongio commented on #88236
/remove-sig api-machinery

[2020-02-20 21:16] fedebongio commented on #88245
/assign @yliaog

[2020-02-20 21:17] fedebongio commented on #88252
/assign @apelisse

[2020-02-20 21:17] fedebongio commented on #88274
/assign @apelisse

[2020-02-20 21:18] fedebongio commented on #88282
/cc @caesarxuchao @jpbetz @liggitt

[2020-02-20 21:18] fedebongio commented on #88282
/need-help

[2020-02-20 21:19] fedebongio commented on #88282
/help-wanted

[2020-02-20 21:29] BenTheElder commented on #88367
Maybe? get-kube.sh does seem to pass auth headers, possibly this part isn't working correctly?
These jobs explicitly mount a service-account.json though so I wouldn't expect workload identity to change things but I could be wrong...

https://github.com/kubernetes/kubernetes/blob/afa72e93cd55ec4f873b8d218054fc8b5f060e02/cluster/get-kube.sh#L246

[2020-02-20 21:30] fejta commented on #88367
Yes, this will not work until we attach a kubernetes service account to the job that uses workload identity:

https://github.com/kubernetes/kubernetes/blob/afa72e93cd55ec4f873b8d218054fc8b5f060e02/cluster/get-kube.sh#L125-L130

[2020-02-20 21:32] fejta commented on #88367
Ideally that command should become `gcloud auth print-access-token` (and let it decide how to best authenticate) rather than assuming the script runs on a VM

[2020-02-20 21:35] eichlerla2 commented on #2630
@jingxu97: Are there any news on that. We still have the pv ownership problem in our clusters with strict security policies.

[2020-02-20 21:39] jayunit100 commented on #88375
We're working towards a more holistic treatement of these tests, so ill take this one.

[2020-02-20 21:39] jayunit100 commented on #88375
/assign

[2020-02-20 21:43] andrewsykim commented on #80250
/remove-lifecycle stale

[2020-02-20 21:53] jayunit100 commented on #88375
Sorry, by the way, this shouldn't be in the feature category.

[2020-02-20 21:54] jpbetz commented on #87668
Traced this down to the discovery `memCacheClient`'s cache refresh. See https://github.com/kubernetes/kubernetes/pull/88382 for a fix.

[2020-02-20 21:55] BenTheElder commented on #88367
/assign

[2020-02-20 21:58] yardensachs commented on #63022
@gacopl Yea makes since, just ended up here after a google search.

[2020-02-20 22:02] ahg-g commented on #88174
Interesting proposal, but don't you think weights will still be needed because unlike NN, the scheduler didn't go through a training phase to discover which features (in this case priority functions) provide the most important signal?

[2020-02-20 22:05] avarf commented on #85483
/remove-lifecycle stale

[2020-02-20 22:15] BenTheElder commented on #88367
sent https://github.com/kubernetes/kubernetes/pull/88383

[2020-02-20 22:22] ElliotPenson commented on #80354
@lynx-coding Unfortunately filtering doesn't to help. I've tried selecting on kind and labels.

Note that this issue also affects `client.CoreV1().Pods().Get()`.
[code]

[2020-02-20 22:22] ElliotPenson commented on #80354
/reopen

[2020-02-20 22:25] danwinship commented on #86370
/assign @aojea

[2020-02-20 22:26] johnbelamaric commented on #86370
/cc

[2020-02-20 22:27] al45tair commented on #81089
Ideally. But there are always going to be cases where things are less than ideal.

No. But you'd have to make non-trivial changes to some of the code that controls how mounting works within a pod. I went and had a look because if it *had* been a trivial fix (which was plausible, without knowing anything about the innards of k8s) I'd have submitted a PR for it. Fortunately for me it turns out that

[2020-02-20 22:29] nckturner commented on #77019
@annajung We're looking at it this week, and we will update this issue by next week if it will land.

[2020-02-20 22:53] nckturner commented on #84363
/remove-triage unresolved

[2020-02-20 22:54] alculquicondor commented on #88174
Let's put an scenario with three simplified scores:

1. user selected:a score that prefers a particular set of nodes (maybe a particular zone).
1. automatic: existence of an image.
1. automatic: low utilization

Now let's assume they give the following scores:
[code]

Notice that they all have the same distribution (so they all give good signal). Even when using softmax the sum of scores (with the

[2020-02-20 22:54] nckturner commented on #84363
@nataizya-s Can you provide your full service yaml?

[2020-02-20 22:55] yliaog commented on #88244
/assign @claudiubelu

[2020-02-20 22:56] yliaog commented on #88244
it's about AKS, @claudiubelu please take help a look

[2020-02-20 23:08] #82960 closed

[2020-02-20 23:48] liggitt commented on #88376
xref https://github.com/kubernetes/kubernetes/issues/56876 https://github.com/kubernetes/publishing-bot/issues/217

[2020-02-20 23:50] liggitt commented on #88380
Table rendering of component status was not added to the server until 1.17 in https://github.com/kubernetes/kubernetes/pull/85174

[2020-02-20 23:58] kvaps opened #88387 "field selector "spec.nodeName" for volumeattachments"
**What would you like to be added**:

[code]

**Why is this needed**:

list/delete volume attachments by node name

[2020-02-21 00:00] kvaps commented on #88387
/sig cli

[2020-02-21 00:09] #82999 closed

[2020-02-21 00:27] w1593950 commented on #88380
Thanks @liggitt I tried that too ... from v1.15.3 ( as per @kelseyhightower notes) to v1.16.0 and then v1.17.0 also same error and same issue. What to do now ? Please advise.

[2020-02-21 00:29] #87720 closed

[2020-02-21 00:30] #88300 closed

[2020-02-21 00:31] anguslees commented on #22368
Here's the same configmap hash + garbage collection of old configmaps, done via some trivial jsonnet in kubecfg: https://engineering.bitnami.com/articles/rolling-updates-for-configmap-objects.html

(I don't want to "me too" with lots of other tools. I wanted to make the more general point that there are several tools out there that do this sort of thing, if stepping between uniquely named and effe

[2020-02-21 00:45] lavalamp commented on #88174
Yup good points-- I agree a weight is still needed.

If all the numbers are 0 or 1 (I had thought that it was a floating point and not a binary signal) then I don't think softmax is going to be different than a linear normalization (?).

I guess it's debatable whether one wants a priority function that selects fewer nodes to have its opinion on those nodes be weighted more highly, which is what no

[2020-02-21 00:49] skmatti opened #88390 "Promote GlobalAccess for GCE Internal Loadbalancers to GA"
**What would you like to be added**:
Global Access for GCE internal load-balancers allows clients to access backends of the load-balancer from any region. The feature is already using GCE compute beta API. This is to bump the API to use GA version.

**Why is this needed**:
To promote the feature to use more stable GCE compute API version(GA)

/sig network
/area platform/gce

[2020-02-21 00:52] liggitt commented on #88380
The fix is serverside. In your example, you are using a 1.17 client but still a 1.15 server.

To see the full output, you can change the output to display what the server is returning with `-o yaml`

[2020-02-21 00:59] apelisse commented on #88182
Yeah, they have multiple environment variables with the same name. I don't think that should be an error though ...

[2020-02-21 01:04] skmatti commented on #88390
/remove-triage unresolved

[2020-02-21 01:14] abhiraut commented on #83191
just noticed this issue while working on a similar effort. since there was no activity for the past 2 months I pushed a PR for this scenario https://github.com/kubernetes/kubernetes/pull/88393

[2020-02-21 01:43] kfox1111 commented on #22368
I think the sheer number of different tools trying to workaround the same problem should be enough evidence that this is really a problem that Kubernetes should be solving rather then forcing each tool or user to come up with their own workarounds to the problem?

Can we get some more feedback on the KEP(https://github.com/kubernetes/enhancements/pull/948) ? It could be totally wrong. I'm just try

[2020-02-21 02:30] alculquicondor commented on #88174
It's not binary necessarily... I was over simplifying. Node affinity and image locality certainly are, but node utilization is not.

[2020-02-21 02:34] lavalamp commented on #88174
It might be worth some experiments, then... if you have some way of telling
whether or not it's actually better?

On Thu, Feb 20, 2020 at 6:30 PM Aldo Culquicondor <notifications@github.com>
wrote:

[2020-02-21 03:01] raunakkumar commented on #86281
Seeing the issue on our setup too with k8s 1.17 and CSI volumes

Following logs are seen in the controller manager
[code]

[2020-02-21 03:17] JonathanRRogers commented on #81089
I am working around the limitation currently, so I accept that Kubernetes is useful while non-ideal. I maintain that since the goal of Kubernetes is to run processes in a Unix-like environment, it is reasonable to expect control over such a basic Unix thing as file ownership. I'm sure I'm not the only user to find the omission surprising.

I have no reason to doubt your assessment that adding cont

[2020-02-21 03:26] neolit123 commented on #88380
/remove-kind bug
/triage support

[2020-02-21 03:35] skycastlelily2 commented on #88322
kubeadm init --config init.yaml will fail with  [ERROR
FileContent--proc-sys-net-bridge-bridge-nf-call-iptables]:
/proc/sys/net/bridge/bridge-nf-call-iptables contents are not set to 1
 without modprobe br_netfilter,you will get:
 [ERROR FileContent--proc-sys-net-bridge-bridge-nf-call-iptables]:
/proc/sys/net/bridge/bridge-nf-call-iptables does not exist
 Besides, the document for other distros pu

[2020-02-21 03:39] MikeSpreitzer commented on #81508
/remove-lifecycle rotten
This is still an interesting issue.

[2020-02-21 04:17] vhosakot commented on #24873
Thanks to `kubectl  api-resources`! I've been able to get manifests (yaml files) of all resources in all namespaces in k8s using the following bash script:

[code]

Above bash script was tested with:
- k8s` v1.16.3`
- Ubuntu Bionic `18.04.3` OS
- bash version version `4.4.20(1)-release (x86_64-pc-linux-gnu)`

[2020-02-21 04:38] superdave commented on #53533
@sftim Those would demonstrate that a) Kubelet doesn't want to schedule the containers and b) Kubelet won't run with swap on by default. What I'm looking to exercise is the situations way up at the top of the thread, by @derekwaynecarr:

And also right below it, from @matthiasr:

Both of those give a good view on the issues already seen, but it would be good to get a sense of known, reproducible s

[2020-02-21 04:45] superdave commented on #53533
I think I agree with everything here. Default to the current behavior to avoid unpleasant surprises.

[2020-02-21 04:59] neolit123 commented on #88322
this is technically a requirement for most Linux distros, to be able to pass bridged iptables traffic.

a potential improvements for the docs can be done here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#ensure-iptables-tooling-does-not-use-the-nftables-backend

a new section bellow "Check network adapters" can be added:
[code]
and then remove the similar

[2020-02-21 05:03] neolit123 commented on #88322
see https://github.com/kubernetes/website/issues/19222

[2020-02-21 06:12] #85495 closed

[2020-02-21 06:14] tedburner commented on #85338
i had the same problem, but not found  the  solution.

[2020-02-21 06:40] neolit123 commented on #88336
the issue seems to be resolved:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-17-master

still flaky occasionally.
/close

[2020-02-21 06:40] #88336 closed

[2020-02-21 06:51] Timoses commented on #71162
/remove-lifecycle stale

[2020-02-21 07:00] juliantaylor opened #88397 "provide computed replica count status for hpa objects"
**What would you like to be added**:
A useful addition to the horizonalautoscaler object (hpa) would be a status for the amount of replicas it has computed to be required based on its metrics.

**Why is this needed**:
The hpa object provides the `desiredReplicas` as a status field. But the minimum value of this field is its spec `minReplicas` setting even when the computed number of replicas is be

[2020-02-21 07:00] skycastlelily2 commented on #88322
Hi,Thanks for your  response and help.

[2020-02-21 07:18] liu4480 commented on #88361
thanks， I tried the solution, it works as expected

[2020-02-21 07:48] cristiklein commented on #64783
We have been contracted to pick this issue up and implement it. Can someone please re-open the issue, assign it to me, and label it accordingly? Otherwise, should I open a new issue?

[2020-02-21 08:00] saschagrunert commented on #87993
I think this issue can be closed after the merge of https://github.com/kubernetes/website/pull/19089. @bitva77, do you see anything still left open?

[2020-02-21 08:14] riking commented on #88282
Yep, I think I had that paragraph in mind while writing the issue text.

[2020-02-21 08:17] #83002 closed

[2020-02-21 08:30] JieZeng1993 opened #88400 "dns work will in pod which in master node, but dns appeared timeout issue in pod which in normal node"
I use kubernetes V1.17.3

[code]

[code]

in pod `filebeat-lzfgj` which in `k8s-master` node, can see log
`Connection to backoff(elasticsearch(https://es-cluster-es-http:9200)) established`
and execute command:
[code]

but in pod `filebeat-rdrbn` or `filebeat-rdrbn`,
they have same issue,log like
[code]
and execute command:
[code]
from this common execute result, i find ip of `es-cluster-es-http d

[2020-02-21 08:41] fengzixu commented on #88280
/assign @fengzixu

[2020-02-21 08:42] fengzixu commented on #88280
@Huang-Wei Seems like the @steven0711dong doesn't follow this issue. I will take it.

[2020-02-21 09:00] JieZeng1993 commented on #88400
other service work will, for example rook-ceph,
[code]

int `rook-ceph-mon-c-6b858cc866-cjhf6` pod,
[code]

[2020-02-21 09:18] nalan2012 commented on #88365
Thanks for your comment.
I wanna to extend functions in the normalize scoring part in the scheduler framework.
Actually,  we want to create new resources based on the scores of the alternative nodes and
distinguish the pod through the annotation info. Our use case could described as follows:
 func NormalizeScores(pod, scores map[string]int) {
   annotations := pod.GetAnnotations()
   if annotation

[2020-02-21 09:43] jkenefick commented on #72597
This feature is not just a nice to have, it's a need to have

[2020-02-21 09:50] maaraneasi commented on #19171
I'd like to know as well as I am struggling with the same...

[2020-02-21 09:58] JieZeng1993 commented on #88400
now , i guess this problem may cause by `dnsPolicy: ClusterFirstWithHostNet` configuration

[2020-02-21 10:05] uablrek commented on #87412
On the [sig-network meeting 2020-02-20](https://docs.google.com/document/d/1_w77-zG_Xj0zYvEMfQZTQ-wPP4kXkpGD8smVtW_qqWM/edit) a work-around using a webhook was mentioned. I have a simpler work-around that may be tested; Define the service without a [selector](https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors) then no endpoints will be assigned by kubernete

[2020-02-21 10:19] #82864 closed

[2020-02-21 10:30] yttan opened #88402 "kubelet fails to delete static pods after updating its configuration to apiserver and restart."
**What happened**:

Firstly, the secure port of apiserver is changed from 6443 to 6444. Some modifications are done on master nodes, everything looks fine.

Then on normal nodes, change the the `server` field in kubelet configuration from ` https://localhost:6443` to ` https://localhost:6444`. And restart kubelet
[code]
It's localhost because the traffic is redirected by an nginx-proxy static pod

[2020-02-21 10:49] cypherfox commented on #64783
@cristiklein do plan to do this as an extension of `kubectl`, or extend the golang crypto lib to use an external crypt engine (as @jfrederickson )?
The latter would help solve so many other problems in one fell swoop. And I would assume that the technical difficulty is about on-par.
That your contract may say something different or the politics of getting stuff in the golang library may make this

[2020-02-21 11:00] droslean commented on #88367
/reopen

#88383 doesn't seem to solve the issue. The jobs are still failing because of this reason.

@BenTheElder Do we need any more actions after #88383 ????

[2020-02-21 11:20] #83050 closed

[2020-02-21 11:24] pbbhopp commented on #58477
Change the targetPort: https to http

[2020-02-21 11:32] alculquicondor commented on #88365
but `NodeScoreList` already has the names of the nodes. Is that not enough?

https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/v1alpha1/interface.go#L322

[2020-02-21 11:46] anapsix commented on #62362
this is still an issue, when initContainer is removed by `docker container prune`, or `docker rm`, it respawns, but main Pod's container(s) continue to run..

Depending on initContainer action, it might not be able to complete successfully, while main container is running, causing `Init:CrashLoopBackOff`.

In some cases, initContainer's actions are not compatible with running main container(s), ca

[2020-02-21 11:49] aojea commented on #86370
I couldn't find errors like this https://github.com/kubernetes/kubernetes/issues/86370#issuecomment-567858679
 anymore and seems that the flakiness was reduced, maybe this problem was fixed by https://github.com/kubernetes/kubernetes/pull/86015

Analyzing one of the last occurrences it shows that the timeout is not enough https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/88081/pull-kube

[2020-02-21 11:50] cja000 commented on #88111
Tested with CentOS 8 and got the same problem

[2020-02-21 12:07] anapsix commented on #86531
this is still an issue, when initContainer is removed by `docker container prune`, or `docker rm`, it respawns, but main Pod's container(s) continue to run..

Depending on initContainer action, it might not be able to complete successfully, while main container is running, causing `Init:CrashLoopBackOff`.

In some cases, initContainer's actions are not compatible with running main container(s), ca

[2020-02-21 12:33] tanjunchen commented on #86756
/help

[2020-02-21 12:47] oxddr commented on #87143
/fixed

[2020-02-21 12:47] zioproto commented on #69314
Hello,
this is expected not to work.

The annotation is not documented in GKE. If you read carefully the source code you will see that the annotation `cloud.google.com/network-tier` is an alpha feature.

https://github.com/kubernetes/kubernetes/blob/release-1.18/staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go#L1099

[code]

You see from the code above that the Tier is al

[2020-02-21 12:52] droslean commented on #87143
thanks @oxddr

/close

[2020-02-21 12:52] #87143 closed

[2020-02-21 13:19] jonasdebeukelaer opened #88406 "Deleting pod: exited containers marked as running until last one exits"
**What happened**:
I have two container running. When deleting the pod containing them, both containers remain in state _running_ until the last one has exited.

**What you expected to happen**:
The first container to shutdown gracefully should be marked as completed as soon as it exits.

**How to reproduce it (as minimally and precisely as possible)**:
Run the following pod, and delete it. The on

[2020-02-21 13:21] mm4tt commented on #88367
I don't agree, the https://github.com/kubernetes/kubernetes/pull/88383 definitely helped in case of e2e scalability jobs, our presubmits and continuous jobs started passing again, e.g.
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-master-scalability-100

[2020-02-21 13:24] claudiubelu commented on #88244
The test has been green for the past few runs: https://testgrid.k8s.io/sig-windows#aks-engine-azure-1-17-windows
The base image had to be refreshed.

[2020-02-21 13:28] cristiklein commented on #64783
@cypherfox Thank you for your feedback.

Our contract stipulates that we are to do whatever is required to make the feature accepted upstream, of course, as cheap as possible. If extending `kubectl` is more acceptable then we do that, otherwise, if extending golang is the only way forward, then we do that.

Currently, we think using [crypto11](https://github.com/ThalesIgnite/crypto11), which has a

[2020-02-21 13:28] jonasdebeukelaer commented on #88406
/sig api-machinery

[2020-02-21 13:31] droslean opened #88408 "[Flaky Test] build-packages-debs (ci-release-build-packages-debs)"
**Which jobs are failing**:
`build-packages-debs (ci-release-build-packages-debs)`

**Since when has it been failing**:
`18th Feb 12:40 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#build-packages-debs

**Reason for failure**:
[code]

**Anything else we need to know**:
/priority important-soon
/cc @kubernetes/ci-signal
/cc @kubernetes/release-managers
/milestone v1.

[2020-02-21 13:33] aojea commented on #86370
There is also another problem, in one of the occurrences the first 2 connections go to one backend and the other 13 goes to the another one

[code]
it fails because it should have deleted the tracked hosts before retrying, otherwise is taking into account the wrong hosts to check teh affinity

[code]

[2020-02-21 13:43] danwinship commented on #86370
ah, that was a problem before with the "affinity works at all" tests (#84238) but I had thought when I looked at this that the problem was that the affinity actually wasn't switching, not just that we weren't getting enough samples

[2020-02-21 13:44] danwinship commented on #86370
also, #86522 suggested to me that there was actually a problem here that wasn't just "we aren't taking long enough to get 15 samples"

[2020-02-21 13:46] aojea commented on #86370
I think that this is another scenario we are not covering

after 2 seconds we should get answers from a different backend, right?

[2020-02-21 14:06] mourya007 commented on #86763
Hi, I also want to contribute here. :)

[2020-02-21 14:27] notpad commented on #88028
@alculquicondor I have a question about what shoud be checked for the instantiated plugins, the name and weight or the args of the plugins?

[2020-02-21 14:29] aojea commented on #86370
:thinking: @danwinship this is working to me from a pod
I think that sessionAffinity only applies to pod->svc communication, that's why session affinity is not working in my example https://github.com/kubernetes/kubernetes/issues/86370#issuecomment-589205142  and in #86522
my bad

[2020-02-21 14:48] asheynkman78 commented on #88023
I used IP address. It was something like http://10.3.0.2:8080

thanks,

Albert

[2020-02-21 15:05] uablrek commented on #88023
Ok thanks. It is not a slow DNS-query then.

[2020-02-21 15:07] tanjunchen commented on #86763
@mourya007  welcome

[2020-02-21 15:24] OlivierMary opened #88410 "Can't get logs from new nodes"
**What happened**:
I installed 4 new nodes on my cluster in same time I upgrade it to 1.16.7.
No problem for logs on old existing nodes.
And on this 4 new node I can't have logs with kubectl:
[code]

**What you expected to happen**:
Getting logs and no errors, from new nodes

**How to reproduce it (as minimally and precisely as possible)**:
I don't know if it's upgrade of cluster version 1.16.5 to

[2020-02-21 15:29] OlivierMary commented on #88410
/sig network
/sig node
/sig cli
/wg cluster-api

[2020-02-21 15:35] danielqsj commented on #83782
#76496 was merged. Close this issue.
/close

[2020-02-21 15:35] #83782 closed

[2020-02-21 16:10] jingyih commented on #88111
The disk performance (fio test) looks good to me.

Question:
 - Which version of etcd are you running?
 - Do you see "took too long" warnings in etcd log all the time, or do they appear only for a short period of time?
 - Since you mentioned this only happens in your production environment, is the etcd configured differently in this environment?

[2020-02-21 16:24] justgotthis commented on #87861
Thanks for the interest in help @eladm26 .

Is there any other information you will need to take a look at this? Any assistance will be beneficial.

[2020-02-21 17:05] fedebongio commented on #88293
/cc @rajibmitra

[2020-02-21 17:05] fedebongio commented on #88182
/cc @rajibmitra

[2020-02-21 17:05] fedebongio commented on #88180
/cc @rajibmitra

[2020-02-21 17:11] justaugustus commented on #88408
/assign

[2020-02-21 17:20] BenTheElder commented on #88367
https://prow.k8s.io/job-history/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress

Looks green?

[2020-02-21 17:28] Huang-Wei commented on #88280
@steven0711dong are you still working on it?

[2020-02-21 17:34] apelisse commented on #88182
At the same time, it's not really useful to have multiple times the same variable and is probably a recipe for trouble.

[2020-02-21 17:36] lavalamp commented on #88182
It's definitely user error. Spamming apiserver logs about it doesn't help things, though.

[2020-02-21 17:40] apelisse commented on #88182
I don't want to hide it, it's really not supposed to happen :-)

it's not really user-data though. The fact that the error triggers here rather than in the actual validation means that there is a discrepancy between our validation and the regular validation. That's probably a problem that *we* have to fix. In that specific example, we can see that Kubernetes  allows multiple environment variable w

[2020-02-21 17:41] steven0711dong commented on #88280
/assign @steven0711dong

[2020-02-21 17:42] steven0711dong commented on #88280
I will be working on this during the weekend because I'm on call this week.

[2020-02-21 17:55] Huang-Wei commented on #88280
@fengzixu As this is a good-first-issue issue. Let's leave it to new contributor.

[2020-02-21 18:02] alexsandro-xpt commented on #77310
Same problem here.

[2020-02-21 18:08] sfiligoi commented on #86281
This is basically making our Kubernetes cluster unusable.
Any ETA on when it will be fixed?

[2020-02-21 18:21] #88400 closed

[2020-02-21 18:23] JieZeng1993 commented on #88400
now, I use `kube-touter`,  no problem above,
[https://github.com/kubernetes/kubernetes/issues/87719#issuecomment-582281969](url)

[2020-02-21 18:27] #83000 closed

[2020-02-21 18:30] apelisse commented on #73666
/lifecycle frozen

[2020-02-21 18:35] lawrencegripper commented on #88265
Got an update with the async pulls being tracked in the `image_manager` which seems to work nicely. Going to use this one to now run some tests and see what difference this makes to start times.

https://github.com/lawrencegripper/kubernetes/commit/13e5c8798a0f42892d2d03b0a2a5e43fa653808b

![image](https://user-images.githubusercontent.com/1939288/75061563-e0d5d280-54d8-11ea-9a61-83c8ca8f17a2.png)

[2020-02-21 18:39] msau42 commented on #86281
cc @davidz627
I believe there were some changes around the verified volumes attached area recently.

[2020-02-21 18:59] tedyu commented on #86281
@kvaps @raunakkumar
Do you see any of the logs added by:
https://github.com/kubernetes/kubernetes/pull/83593/files

I assume the above was what @msau42 referred to.

[2020-02-21 19:01] kalyanbhonagiri16 commented on #87861
Hey @eladm26 ,
I have added more information of our backend storage iscsi information
storage provider – Netapp Solidfire
kubenetes storage provisioner – Netapp Trident 18.07

[2020-02-21 19:13] kaleabgirma commented on #2630
This article looks like working I din't test it but I'll test it on Monday, if anyone can do it b4 then please let us know.
The detail is [here](https://engineering.bitnami.com/articles/running-non-root-containers-on-openshift.html)
Data persistence is configured using persistent volumes. Due to the fact that Kubernetes mounts these volumes with the root user as the owner, the non-root containers

[2020-02-21 19:31] raunakkumar commented on #86281
Hi @tedyu Ours is not an in-tree plugin or the cloud provider one.
Upgrading to csi-attacher v2.1.1 and setting the `-reconcile-sync`  to a larger value definitely improved our situation as indicated by @saad-ali at https://github.com/kubernetes/kubernetes/issues/84169#issuecomment-545692734.

[2020-02-21 19:42] droslean commented on #88367
@mm4tt  @BenTheElder Only the 1.18 jobs are green. We need to cherry-pick the fix to the other branches as well. I will keep this issue open.

https://testgrid.k8s.io/sig-release-1.17-blocking#gce-cos-k8sstable1-ingress
https://testgrid.k8s.io/sig-release-1.17-blocking#gce-cos-k8sstable1-reboot
https://testgrid.k8s.io/sig-release-1.17-blocking#gce-cos-k8sstable1-alphafeatures
https://testgrid.k8s.

[2020-02-21 19:58] msau42 commented on #86281
https://github.com/kubernetes/kubernetes/pull/84321 was made in 1.17 and increased the detach timeout from 15 seconds to 2 mins. That could potentially be affecting the issue seen here

[2020-02-21 19:59] tedyu commented on #86281
Looking at the code where the attachID surfaced:
[code]
It seems csiAttacher should have some mechanism of not querying for attachID's which are not found - some type of throttling.
I doubt that the attachID's mentioned in @raunakkumar 's comment above would ever be found.

@saad-ali @msau42 @davidz627
What do you think ?

[2020-02-21 20:28] christopherhein commented on #72637
/reopen

[2020-02-21 21:06] roycaihw commented on #86897
The test is green.

/close

[2020-02-21 21:06] #86897 closed

[2020-02-21 21:14] BenTheElder commented on #88367
For some reason I thought kubetest always used the copy from HEAD.

[2020-02-21 21:14] BenTheElder commented on #88367
in the case that it didn't we'll need this cherry picked to all active branches :|

[2020-02-21 21:15] roycaihw commented on #74560
/unassign

I don't have the cycle to work on it, so I will let someone else to take a stab.

[2020-02-21 21:29] #83082 closed

[2020-02-21 21:30] invidian commented on #84298
Not stale.

[2020-02-21 22:21] #46073 closed

[2020-02-21 22:26] shashidharrao commented on #54482
@errordeveloper  is there way i can update hostname-override using preBootstrapCommands or adjusting 10-eksclt.al2.conf.

hostname=$(curl -s http://169.254.169.254/latest/meta-data/hostname)
/etc/eks/bootstrap.sh ${ClusterName} --kubelet-extra-args '--hostname-override='$hostname''

here is the usecase : cluster is ready and changed the endpoint to private and using preboot scripts i am adding the

[2020-02-21 22:34] #82605 closed

[2020-02-21 22:41] tedyu commented on #84298
/remove-lifecycle rotten

[2020-02-21 22:44] davidz627 commented on #85313
/remove-lifecycle stale
It's been mostly deduped thanks to @ddebroy's excellent work. I think one place where we still have a seperate piece of logic is the "kubelet startup" code where we are initializing the `CSINode` objects. That could potentially be improved.

[2020-02-21 23:04] Morriz commented on #79988
/remove-lifecycle rotten

[2020-02-21 23:05] Morriz commented on #79988
/reopen

[2020-02-21 23:22] dpc commented on #57291
I'd like to mention that `ImagePullBackOff` should also be configurable.

Generally, in certain scenarios (eg. local/dev/test cluster), all the performance of master etc. issues are simply irrelevant, and what really matters is only developer productivity time. If k8s is waiting for something it should be as snappy as possible.

In my use-case, in development setup, we allow docker images builds t

[2020-02-21 23:25] enj commented on #64783
Feel free to add a discussion topic on to the [SIG Auth Agenda](https://docs.google.com/document/d/1woLGRoONE3EBVx-wTb4pvp4CI7tmLZ6lS26VTbosLKM).  I responded on slack as well.

[2020-02-21 23:55] Bessonov commented on #22368
@kfox1111 you have an unanswered review comment on your KEP.

[2020-02-22 00:06] v-braun commented on #67014
Lost so many hours on that! Thanks!
Just a question:
is it possible to increase the mountin timeout?
My pod restarts after 2m and needs a lot of restarts till it stay alive.
I think an increase of the timeout would help to improve the time because kubes chown can process till and and has not be re-executed multiple times.

[2020-02-22 00:17] marcellodesales commented on #23386
Same with the external-dns!

[code]

[2020-02-22 00:18] adammw opened #88422 "Add impersonation flags to ExecCredential status field"
**What would you like to be added**:
Add impersonation flags to ExecCredential status field.

**Why is this needed**:
This would be great to be able to allow the plugin to pass other parameters such as impersonate user, group or extra fields to the Kubernetes API server, which currently requires changing the KUBECONFIG file directly.

[2020-02-22 00:20] adammw commented on #88422
/sig auth-authenticators
/sig cli

[2020-02-22 00:20] adammw commented on #88422
/sig auth

[2020-02-22 00:32] #80838 closed

[2020-02-22 00:54] fengzixu commented on #88280
Sure.

[2020-02-22 00:55] Nik-Novak opened #88423 "Kubernetes Stateful Sets - Mapping existing IDs to persistent/stateful pods"
I have a unique use-case that seems like it should be supported by Kubernetes (It would really open up the number of problems Kubernetes could solve). I have posted a full write-up here:
https://stackoverflow.com/questions/60346568/kubernetes-stateful-sets-mapping-existing-ids-to-persistent-stateful-pods
I will repost it here as well. I'm not sure if there is an existing way to solve problems of t

[2020-02-22 01:09] Nik-Novak commented on #88423
/sig apps

[2020-02-22 01:10] Nik-Novak commented on #88423
/sig architecture

[2020-02-22 01:12] Nik-Novak commented on #88423
/sig Resource Management

[2020-02-22 01:12] Nik-Novak commented on #88423
/sig storage

[2020-02-22 01:32] fengzixu commented on #88362
Actually, I agree with @skilxn-go. The DB and application should be deployed separately. But I have some ideas based on your requirement.

If you insist on deploying your application pods in the specific order,  maybe you can write a script or little programme, let it run in the initContainer of application pod, this script/programme will check if the DB works fine. If the state of DB is ok, your

[2020-02-22 01:42] fengzixu commented on #88077
I think maybe we missed some logs which can reflect the situation of giving the score.
@Huang-Wei @ahg-g WDYT? If you confirmed, I want to handle this issue.

[2020-02-22 02:31] #88051 closed

[2020-02-22 02:45] yttan commented on #88402
/sig node

[2020-02-22 03:17] alejandrox1 commented on #74375
Coming back to this... some of this work was done in past releases but this is something that we should definitely do a lot more of (occasionally check in to make sure jobs are not becoming a burden), xref https://github.com/kubernetes/sig-release/issues/966

Regarding the issue at hand, the time average duration of the job has been decreasing a bit from a couple days ago so i think it would be go

[2020-02-22 03:35] #77575 closed

[2020-02-22 04:03] andyzhangx commented on #67014
@v-braun for chown slowness issue, you could use following workaround:
Following setting will set pod run as root, make it accessible to any file:
[code]

 - another workaround is using `supplementalGroups`:
[code]

[2020-02-22 04:40] cameronbraid commented on #82756
I've hit the same issue, did you find the cause ?

An event on the `kube-controller-manager-node03`

[code]

[2020-02-22 04:57] ashutoshgngwr commented on #88423
@Nik-Novak wrote an answer to your StackOverflow write up. Not sure if I was able to clearly explain the solution. Feel free to reach out.
https://stackoverflow.com/a/60349177/2410641

[2020-02-22 05:33] tedyu commented on #88423
@ashutoshgngwr
I read your answer.
I am learning operator-sdk myself.

It seems in this approach, when account is reactivated, the PVC used by the previous incarnation should be used (to achieve data access requirement).

[2020-02-22 05:35] ashutoshgngwr commented on #88423
@tedyu Yes, You're right. I remember mentioning that somewhere in the answer. Let me recheck though.

[2020-02-22 05:37] liggitt commented on #88376
This is now resolved

[2020-02-22 08:08] #87668 closed

[2020-02-22 08:51] RainbowMango opened #88426 "track: Migrate metrics to component-base"
**What would you like to be added**:
Track some issues from https://github.com/kubernetes/kubernetes/pull/88311:
- Migrate metrics to component-base as per https://github.com/kubernetes/kubernetes/pull/88311#pullrequestreview-362971729.
- Correct metrics names as per https://github.com/kubernetes/kubernetes/pull/88311#discussion_r382892843.

**Why is this needed**:

/assign @RainbowMango
/sig inst

[2020-02-22 08:54] 8398a7 commented on #68737
[code]

I think it can be avoided by defining yaml above and changing storage.

[code]

If you have any problems please give us your feedback.

[2020-02-22 09:53] aojea commented on #74375
/cc

[2020-02-22 10:08] pythonzm commented on #83319
same error

[2020-02-22 11:08] skilxn-go opened #88427 "[Scheduler Framework] Move `PluginConfig` to `Plugin` struct."
## Benefits
1. The name `PluginConfig` sometimes is easy to confuse with the config of enabling and disabling of plugins. At lease, I think `PluginArgs` would be a better name.
2. Move `PluginConfig` to `Plugin` seems to be more natural, as it will be easier to configure plugin arguments in the same structure.

## Proposal
Current the definition is:
[code]

I think a better one should be:
[code]
B

[2020-02-22 11:17] skilxn-go commented on #88427
Never mind, I guess I understand why they can't be put together.
`Plugin` is used to specifying the plugins used in different phases, and will it may be used more than once.

/close

[2020-02-22 11:17] #88427 closed

[2020-02-22 11:47] v-braun commented on #67014
Excuse me if this is a stupid question but would ``runAsUser: 0`` not mean the process inside the container runs as root. Has it not an impact on security of the container?

The ``supplementalGroup`` sounds better from security perspective or?

[2020-02-22 12:01] andyzhangx commented on #67014
correct, `supplementalGroup` is safer.

[2020-02-22 13:05] mm4tt commented on #88367
I thought the same, but indeed the https://github.com/kubernetes/kubernetes/pull/88383 fixed only 1.18 and master jobs. Older release scalability jobs are still broken
![BJtzLzez5Qb](https://user-images.githubusercontent.com/2604887/75092706-c2281800-557a-11ea-9a00-28b7c2bb9d8c.png)

It's a bit confusing TBH. I thought that get-kube.sh is always downloaded by kubetest from https://get.k8s.io/  whi

[2020-02-22 15:09] DavidWHarvey commented on #68737
It seems like this creates a new type of PVCs which is used as a volumeClaimTemplate to create specific PVCs per pod, i.e., it is creating a standalone volumeClaimTemplate resource by overloading PVCs rather than creating a new resource type.
The specification above seems to be describing all pods in the stateful sets sharing the same volume.   Referencing the PVC from the volumeClaimTemplate sect

[2020-02-22 15:16] ibuildthecloud commented on #88376
/reopen

Thanks, but it's seems to be partially fixed.  There are more tags, but v1.18.0-beta.0 is still missing https://github.com/kubernetes/api/tree/v0.18.0-beta.0

[2020-02-22 15:29] skilxn-go commented on #88027
Actually, I think adding a new method such as `BuildArgs` to `Plugin` interface is a little redundant. In fact, most plugins don't need any arg for building them, so we are talking about adding a
new method that needs to be implemented by all of the existing and coming plugins. And users who write out-of-tree plugins also hardly have the need for using this method.
IMO, it would be more meaningful

[2020-02-22 15:47] #77251 closed

[2020-02-22 15:47] #82451 closed

[2020-02-22 15:59] liggitt commented on #88376
Ah. The bot is fixed, but the 1.18 branch was created in the meantime, and https://github.com/kubernetes/kubernetes/blob/master/staging/publishing/rules.yaml hasn't been updated to sync those branches yet (which is where the 1.18 beta tags are)

[2020-02-22 17:23] alejandrox1 commented on #87092
The issue at hand was related to https://github.com/kubernetes/test-infra/issues/16202
Along with that, https://github.com/kubernetes/test-infra/pull/15867 seemed to cause the following issue:
[code]

[2020-02-22 17:28] mc468 opened #88430 "kubernetes version of release"
Hey guys,
I hvae a simple question, just wannna know which one is stable version(the branch release-1.17 or the tags v1.17.3 in github), in other words, if I wanna build kubernetes using source code, which branch is better
Appreciate it!

[2020-02-22 18:27] leodotcloud commented on #86091
@splattner Here is a detailed write up: https://github.com/rancher/rancher/issues/23284#issuecomment-584339772

[2020-02-22 19:20] riking commented on #58711
The PR is in flight, and close to slipping another release - this doesn't seem appropriate for lifecycle frozen.

[2020-02-22 19:51] #71319 closed

[2020-02-22 20:12] hprateek43 commented on #88430
Use a release tag if you want to build a specific release. Use `make build`  to get a local build. If you are developing kubernetes or want to see the latest changes in your build, go with the master branch.

[2020-02-22 20:16] hprateek43 commented on #88365
Any use case that you feel will benefit from adding the pods in addtion to the nodes for user defined plugins ? Given that you get the node, you can always find the pods running on that node ?

[2020-02-22 23:55] #82724 closed

[2020-02-23 02:28] liggitt commented on #88430
Release tags are cut from the release-1.x branch periodically (roughly monthly). Use the tags if you want a particular release

[2020-02-23 02:53] mc468 commented on #88430
Thank you for your response, so is that means the release-1.x branch is the latest version of the kubernetes 1.x?

[2020-02-23 02:55] liggitt commented on #88430
1.17.3 is the latest stable release. 1.18 is in development currently

[2020-02-23 02:55] #88430 closed

[2020-02-23 03:59] #83074 closed

[2020-02-23 03:59] #83006 closed

[2020-02-23 05:15] nikhita commented on #85105
/remove-lifecycle stale

[2020-02-23 06:30] filipedeo commented on #70496
@kfox1111 A sidecar container runs in parallel with the main application. Any sidecars would be stopped in conjunction with the main container. Check this old conversation of defer-containers (de-init containers) here: https://github.com/kubernetes/community/pull/483

[2020-02-23 08:11] RinckFox commented on #88077
Thank you for the answer! Here is the full scheduling log (logging level 10):
[code]
maybe I’m really missing something, but I don’t see information about other priorities here.

[2020-02-23 08:32] #88277 closed

[2020-02-23 08:32] #88376 closed

[2020-02-23 08:40] 8398a7 commented on #68737
pvc is automatically created by the number of replicas.
I didn't know this and the proposed method was not enough.
Thank you for teaching me.

[2020-02-23 09:05] dongwangdw commented on #70179
In kubernetes cluster, the cadvisor is used for mem metrics, `container_memory_usage_bytes`, and this one includes more than expected. I think this is the cause.
I have a pod which has 1.05 GB from grafana, but with `kubectl top` only 435MB.

[2020-02-23 10:00] agowa338 commented on #53533
Here an example of how a simple application could look like, where for some reason a large portion of memory is allocated but never accessed again. Than once all available memory is filled up, the application either hangs or falls into an endless loop basically blocking resources or forcing the out of memory killer:

[code]

[2020-02-23 10:05] #83178 closed

[2020-02-23 10:12] starchx commented on #84287
/remove-lifecycle rotten

[2020-02-23 10:12] starchx commented on #84287
/remove-lifecycle stale

[2020-02-23 10:54] colearendt commented on #44528
Worth noting that the example highlighted here is now at: https://github.com/kubernetes/examples/tree/bdda4f31e60d171f77252e7d041e9c6877565f73/staging/volumes/nfs

[2020-02-23 13:58] DavidWHarvey commented on #68737
The solution to the primary problem of changing the statefulSet so that new PVCs use the new configuration seems to be blocked by the second order problem of expanding the old PVCs.
Simply re-defining the volumeClaimTemplate so that it does not affect existing PVCs would address our production use cases.   Our procedure to expand the size of all volumes would become:
1) Change the statefulSet volu

[2020-02-23 14:18] thincal commented on #45300
+1 for the proposal, when implement our own controller with a relative HA we have to do leader election logic over time. If built-in it should definitely be convenient.

[2020-02-23 14:47] alculquicondor commented on #88028
Just names and weights to start. But args could be tested once #88027 is fixed

[2020-02-23 15:42] alculquicondor commented on #88027
`getExtensionPoints` should remain unexported because it provides pointers. However, I agree that `BuildArgs` might be too much to ask for all plugins. Instead, we can add a new interface and then plugins can opt-int. Not sure if we should follow this extension pattern https://github.com/kubernetes/kubernetes/blob/9c1543263bac9cb12272b271d2e2f93e45f07e53/pkg/scheduler/framework/v1alpha1/interface.

[2020-02-23 15:43] alculquicondor commented on #88027
On the other hand, simply returning `nil` doesn't seem like much.

[2020-02-23 15:47] alculquicondor commented on #88365
Also, in your example, I believe you are talking about the pod being scheduled. That pod is already passed in. Unless we are misunderstanding your example. Please provide more details.

[2020-02-23 15:57] alculquicondor commented on #83834
The truth is that different users will always have a different view of their clusters. Following with the OS comparison, there are specialized schedulers for RT needs.

The current behavior follows a multi-user environment were we try to avoid a single deployment (as a concept, not necessarily a `apps/v1.Deployment`) from overtaking the cluster. And this is useful if several services are trying to

[2020-02-23 17:31] liggitt commented on #88376
https://github.com/kubernetes/api/releases/tag/v0.18.0-beta.0 is now published

[2020-02-23 18:38] tedyu commented on #88402
@yttan
Do you see the following in kubelet log ?

"skipping delete because sources aren't ready yet"

Thanks

[2020-02-23 19:14] #75396 closed

[2020-02-23 19:30] smarterclayton commented on #83705
Kubelet container start is "at least once" by design.  Components that need "at most once" must provide a pre-start hook to a transactional system with at least single register serializability (i.e. a single etcd object, a database transaction, a single write to an object store, etc).

[2020-02-23 19:38] droslean commented on #88335
[code]

@BenTheElder  This test is still affected by the `get-kube.sh` problem and its in the master branch.

/sig testing

[2020-02-23 19:48] droslean commented on #88367
There are a lot of jobs that are failing because of this.

[skew-cluster-latest-kubectl-stable1-gce](https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce) - master
[skew-cluster-latest-kubectl-beta-gce](https://testgrid.k8s.io/sig-release-1.18-blocking#skew-cluster-latest-kubectl-beta-gce) - 1.18

7 jobs in 1.17 branch https://testgrid.k8s.io/sig-release-1.17

[2020-02-23 19:48] droslean commented on #88367
/sig testing

[2020-02-23 19:50] droslean commented on #87973
job is green. closing.

/close

[2020-02-23 19:50] #87973 closed

[2020-02-23 19:59] droslean commented on #84985
since the job was migrated in the 1.16 informing dashboard, I am closing this issue.

[2020-02-23 19:59] droslean commented on #84985
/close

[2020-02-23 19:59] #84985 closed

[2020-02-23 20:00] droslean commented on #87757
/close

[2020-02-23 20:00] #87757 closed

[2020-02-23 20:02] droslean commented on #88244
/close

[2020-02-23 20:02] #88244 closed

[2020-02-23 20:02] droslean commented on #88262
/close
The job is green

[2020-02-23 20:03] #88262 closed

[2020-02-23 20:05] droslean commented on #87104
since the job is keeps failing because of #87387 it's really hard to track the flakiness of the job. I am closing this issue, and once the job will be fixed, we will track it for any flakiness.

[2020-02-23 20:05] droslean commented on #87104
/close

[2020-02-23 20:05] #87104 closed

[2020-02-23 20:06] droslean commented on #86956
The job is green for many runs now. Closing...
/close

[2020-02-23 20:06] #86956 closed

[2020-02-23 20:07] droslean commented on #88243
/close

[2020-02-23 20:07] #88243 closed

[2020-02-23 20:10] droslean opened #88441 "[Failing Test] gce-cos-master-serial (ci-kubernetes-e2e-gci-gce-serial)"
**Which jobs are failing**:
`gce-cos-master-serial (ci-kubernetes-e2e-gci-gce-serial)`

**Which test(s) are failing**:
[code]
[code]
[code]
[code]

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial

**Reason for failure**:
see https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1231581843564793859

**Anything else we nee

[2020-02-23 20:11] droslean commented on #87387
I am closing this issue. A new issue #88441  was opened to track the `sig-scheduling` errors.
/close

[2020-02-23 20:11] #87387 closed

[2020-02-23 20:14] droslean commented on #86358
It seems that the issue have been fixed. Closing...
/close

[2020-02-23 20:14] #86358 closed

[2020-02-23 20:16] droslean commented on #86878
/close

[2020-02-23 20:16] #86878 closed

[2020-02-23 21:08] pentago commented on #44528
Yeah, regardless, the question still applies as there was no upstream solution at the time of the docs writing.

What does GKE does that allow for this different behavior from upstream Kubernetes?

[2020-02-23 21:11] ialidzhikov commented on #87336
@liggitt , does it makes sense to update https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#naming-conventions with this limitation that it is not possible to have a field named `Size` and to have proto definition for it.

Currently if you have API, you have to first deprecate this field and introduce equivalent, then introduce a new API vers

[2020-02-23 21:16] #83068 closed

[2020-02-23 21:18] ialidzhikov commented on #86666
@liggitt , any chance to have this issue fixed in v1.18?

Currently this issue is a blocker for us to upgrade our cluster to v1.16. As I already mentionned kube-controller-manager@v1.16 uses
[code]
for namespace termination.
We are using `k8s/apiserver` and our apiserver (as I reproduced above also with the sample-apiserver) cannot fallback to the second AcceptContentType:
[code]

[2020-02-23 21:19] ialidzhikov commented on #86666
And why we put this issue into `lifecycle/frozen`?

[2020-02-23 22:17] #83059 closed

[2020-02-23 22:17] #83078 closed

[2020-02-23 23:59] sftim opened #88443 "Fix confusing default for kube-proxy healthz bind address"
**What would you like to be amended**:
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/ lists:

I'd like the default for that command line option to actually be `0.0.0.0`, so that the documentation looks right. Internally, the behavior (listen on `0.0.0.0:10256` unless `--healthz-bind-address` sets a different bind address) should stay the same even if the implementati

[2020-02-24 00:00] sftim commented on #88443
/remove-kind feature

[2020-02-24 00:19] #78321 closed

[2020-02-24 00:19] #82711 closed

[2020-02-24 01:31] yqwang-ms commented on #83834
Agree! It is hard or impossible to make single scheduler sutiable for all scenarios.
BTW, for the first step, we can clarify current scheduler behavior, such as not FIFO, in our wiki:
https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#effect-of-pod-priority-on-scheduling-order

[2020-02-24 01:38] zrss commented on #3595
/cc

[2020-02-24 01:40] jsoref commented on #88443
`--metrics-bind-address` should be changed as well

[2020-02-24 02:11] yqwang-ms commented on #83705
Thanks for the confirm!

[2020-02-24 02:11] #83705 closed

[2020-02-24 02:21] #80702 closed

[2020-02-24 02:36] cwdsuzhou opened #88445 "Scheduler framework: Perfilter did not return a FitError"
**What happened**:

https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L186

When return an error not FitError, so we will not go to preemption when preFilter return not success. Is this intentional?

**What you expected to happen**:

IMO, we may still need preempt when failed

**How to reproduce it (as minimally and precisely as possible)**:

**Anything e

[2020-02-24 02:37] cwdsuzhou commented on #88445
/sig scheduler

[2020-02-24 02:37] skilxn-go commented on #88027
Sure, then I will add `BuildArgs` like what we want before(add this method to `Plugin` interface), and if there is any better idea later, please let me know.

[2020-02-24 02:38] acaird opened #88446 "cluster-info dump should include options for collected logs similar to kubectl logs"
**What would you like to be added**:
The `kubectl cluster-info dump` command should support (at least some of) the same options as `kubectl logs`.

**Why is this needed**:
Collecting all of the logs from a whole cluster can take a lot of time and use a lot of space; often all that is needed are the last few hours, MBs, lines, etc of the logs

**Notes**
I'd be happy to work on this, but I am a Go n

[2020-02-24 02:39] cwdsuzhou commented on #88445
/sig scheduling

[2020-02-24 02:42] cwdsuzhou commented on #88445
/cc @ahg-g

[2020-02-24 02:42] cwdsuzhou commented on #88445
/assign

[2020-02-24 02:44] acaird commented on #88446
/sig cli

[2020-02-24 03:30] andyzhangx commented on #75396
/open

[2020-02-24 03:59] SataQiu commented on #88443
According to
1. https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/apis/config/types.go#L117-L122
[code]
2. https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server.go#L125-L135

[code]
@aojea @thockin
Maybe we should deprecate `--healthz-port` and `--metrics-port` firstly.
If this is the right direction, I am willing to send a PR for this :-)

[2020-02-24 06:00] yttan commented on #88402
@tedyu
Yes, sorry that I forgot to paste the log

[code]

[2020-02-24 06:35] riking commented on #24057
/close

[2020-02-24 06:35] #24057 closed

[2020-02-24 06:41] onesolpark opened #88449 "[OIDC] Add insecure-skip-tls-verify for oidc server in apiserver args"
**What would you like to be added**:
Add option in kube apiserver to allow insecure tls access to oidc server.
Example implementation
[code]

**Why is this needed**:
Needed for apiservers that go through proxy servers.
I understand that it is might be considered insecure in the security view point
but it would be nice to have this option for secure environments that have to go through proxies.

[2020-02-24 06:42] onesolpark commented on #88449
/sig auth

[2020-02-24 07:00] moonek commented on #88304
is this a duplicate of #55051, #54525

[2020-02-24 07:08] cja000 commented on #88111
Hi,

- I'm installing k8s 1.17.3 so `etcd` version is `etcdmain: etcd Version: 3.4.3`
- Latest logs are for 66'5h (aprox from the first occurrence to the last) and I got more than 28k times the message "took too long"
- I have done the same installation in the VirtualBox than in the production environment. The problem appear just after the `kubectl init`, without configuring anything else. I have

[2020-02-24 07:23] thdrnsdk opened #88452 "need to clean up kubeadm init log"
**What would you like to be added**:
[code]

when using kubeadm init include config.yaml

[code]

**Why is this needed**:

the log only show extra-volumes for that control-plane?

like this

[code]

[2020-02-24 07:24] thdrnsdk commented on #88452
/sig kubeadm

[2020-02-24 07:26] #83165 closed

[2020-02-24 07:26] #83166 closed

[2020-02-24 07:28] thdrnsdk commented on #88452
/area kubeadm
/kind cleanup
/sig cluster-lifecycle

[2020-02-24 08:53] dhineshbabuelango commented on #9483
@shiftux  If we try to update the certificates, do we have any command like this to update it or in that case we need to have that put in yaml file only and run kubectl apply -f ?

[2020-02-24 08:55] rajeshdeshpande02 opened #88454 "Create deployment is failing for image having underscore in their name"
**What happened**:
I am trying to create deployment using command `kubectl create deployment snowflake --image=k8s.gcr.io/serve_hostname` . But when I execute this command, I am getting below error:
`The Deployment "snowflake" is invalid: spec.template.spec.containers[0].name: Invalid value: "serve_hostname": a DNS-1123 label must consist of lower case alphanumeric characters or '-', and must star

[2020-02-24 08:56] rajeshdeshpande02 commented on #88454
/sig cli

[2020-02-24 09:12] cristiklein commented on #64783
@enj Thanks! In case you haven't received my request email, could you please allow cristian.klein@elastisys.com to edit the SIG Auth Agenda?

[2020-02-24 09:12] boddumanohar commented on #88280
@Huang-Wei created a PR for this.

[2020-02-24 09:15] yttan commented on #88402
/ assign

[2020-02-24 09:32] kaoet opened #88456 "Propagate imagePullSecrets from ServiceAccount to Pod"
**What would you like to be added**:
When an imagePullSecret is added to a ServiceAccount, this secret is automatically added to all the Pods using this SA.

In the [documentation](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#add-imagepullsecrets-to-a-service-account), it says

We want that to be all Pods, not only new ones.

**Why is this needed**:

We're im

[2020-02-24 09:38] kaoet commented on #88456
/sig apps

[2020-02-24 09:41] joakimr-axis commented on #72956
@k-toyoda-pi has https://github.com/kubernetes/kubernetes/pull/82059 for cluster/pre-existing/util.sh which seems to be stranded since November?

[2020-02-24 09:42] BenTheElder commented on #72956
We've gained a new cluster/ approver or two since then, I'll drop a note
and see if we can get that approved finally ...

On Mon, Feb 24, 2020, 01:41 Joakim Roubert <notifications@github.com> wrote:

[2020-02-24 10:03] joakimr-axis commented on #72956
Awesome!

[2020-02-24 10:07] joakimr-axis commented on #72956
Searching the comments here, and the section for currently open PRs, it seems these files are remaining as not currently having either a PR or someone who claimed it?

./cluster/gce/config-test.sh
./cluster/gce/gci/configure-helper.sh
./cluster/gce/gci/master-helper.sh
./cluster/gce/upgrade.sh

[2020-02-24 10:30] fazil1987 commented on #79224
I think it makes lot of sense to have option that links secret from config map.

[2020-02-24 10:39] tedyu commented on #83622
We can add the following field to ContainerStateWaiting:
[code]
For Kubelet#getPhase , if containerStatus.State.Waiting is not nil, we check the duration for which the container has been waiting. If the duration is beyond certain threshold, e.g. 1 minute, getPhase can return v1.PodFailed.

[2020-02-24 10:39] tedyu commented on #83622
/remove-lifecycle stale

[2020-02-24 10:43] zhouya0 commented on #88454
This issue is fixing :) https://github.com/kubernetes/kubernetes/pull/86636

[2020-02-24 10:43] tedyu commented on #83622
@roycaihw @zhouya0
What do you think of the above suggestion ?

[2020-02-24 11:24] aojea opened #88458 "net.Listen listens on all available unicast and anycast IP addresses regarding the IP family"
**What happened**:

There are flag descriptions where is stated that the unspecified address behaves differently depending on the IP family:

[code]

However, that's not the behavior implemented in `net.Listen`  and `net.ListenPacket`, clarified in the golang documentation https://github.com/golang/go/commit/424b0654f8e6c72f69e096f69009096de16e30fa

**What you expected to happen**:

Fix the commen

[2020-02-24 11:27] aojea commented on #88458
/kind cleanup
/help wanted
/good-first-issue
/priority important-longterm
/cc @liggitt @thockin

[2020-02-24 11:30] #83232 closed

[2020-02-24 11:36] Sturgelose commented on #7890
/remove-lifecycle stale

Just go to check comment https://github.com/kubernetes/kubernetes/issues/7890#issuecomment-558584786, though now it has increased in likes and love :D

[2020-02-24 12:13] zrss commented on #57923
/cc

[2020-02-24 12:14] notpad commented on #88458
/assign
/remove-help

[2020-02-24 12:19] neolit123 commented on #88452
@thdrnsdk
what version of kubeadm are you using?

[2020-02-24 12:25] boddumanohar commented on #85155
@MrHohn How is cache layer related to service load-balancer finalizer?

Thanks

[2020-02-24 13:32] #83226 closed

[2020-02-24 13:32] #79823 closed

[2020-02-24 14:11] petermicuch commented on #82881
This would really be helpful. E.g. https://github.com/kubernetes-incubator/external-storage/tree/master/nfs-client adds automatically namespace and PVC name into the NFS folder (e.g. namespace-pvc_name-pvc-8b769c34-e373-48af-a415-de91928db7b2). I would expect the same for kubernetes.io/azure-file provisioner. Otherwise finding the right one is really a pain.

[2020-02-24 14:42] #88368 closed

[2020-02-24 14:44] aojea commented on #88443
:thinking: it seems that those flags that allow to specify the ports were added "recently" (1.14)
https://github.com/kubernetes/kubernetes/pull/72682

I think that @thockin is the best person to define the strategy regarding configuration flags, config file, ...

[2020-02-24 14:45] neolit123 commented on #88452
this minor issue is in master too.
the fix is in this PR:
https://github.com/kubernetes/kubernetes/pull/88467

[2020-02-24 14:49] Cynerva commented on #81675
/remove-lifecycle stale

[2020-02-24 15:00] skolnickm opened #88468 "usb passthrough to VMs spun up using kubevirt"
**What would you like to be added**:
The ability to pass usb devices to a VM started by Kubevirt. That way the VM can be interfaced by USB devices hooked up directly to the node that is running the VM.

**Why is this needed**:
When a GPU is passed through to a VM and the VM now has direct access to a physical monitor there is no way to interface with it besides using a VNC session of some sort.

[2020-02-24 15:11] andyzhangx commented on #70013
I hit similar issue, make fuse driver standalone is one solution;
another problem is that how to recover when those mounting paths are already broken when fuse csi driver is restarted:
so when fuse driver is broken(sometimes driver pod restarted), the stage volume path is broken, following code will return error directly:
https://github.com/kubernetes/kubernetes/blob/e4a5012de6b49ca7c3b10c4647205f

[2020-02-24 15:17] dims commented on #88468
is there a kubevirt feature request? https://github.com/kubevirt/kubevirt/issues/ please start there and let the kubevirt folks open any KEP (enchancement proposals here in kubernetes)

/close

[2020-02-24 15:17] #88468 closed

[2020-02-24 15:52] ssup2 commented on #30656
Hello. To solve this issue, i developed "kpexec" CLI.
Please give your feedbacks.
* https://github.com/ssup2/kpexec

[2020-02-24 16:04] alculquicondor opened #88469 "TestCoSchedulingWithPermitPlugin is flaky"
**Which jobs are flaking**:

pull-kubernetes-integration

**Which test(s) are flaking**:

TestCoSchedulingWithPermitPlugin

**Testgrid link**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/88087/pull-kubernetes-integration/1231953671323914243

**Reason for failure**:

[code]

/sig scheduling

[2020-02-24 16:06] alculquicondor commented on #88469
Could #88199 be related @mateuszlitwin?

[2020-02-24 16:07] alculquicondor commented on #88469
/help

[2020-02-24 16:12] enj commented on #88449
This is unlikely to be considered based on the security implications.  You can set `--oidc-ca-file` to an CA controlled by the proxy so that it can transparently MITM the connection.  The [HTTPS_PROXY](https://golang.org/pkg/net/http/#ProxyFromEnvironment) env var should also be honored.

[2020-02-24 16:13] ahg-g commented on #88441
/assign @Huang-Wei

Wei, those are failing tests related to both pod spread and pod overhead.

[2020-02-24 16:19] liggitt commented on #66020
Discussed in sig-auth on 2/19 (recording available at https://youtu.be/KOHr85mPDuM)

Supporting multiple service accounts per pod (for separate containers) is not a use case we intend to support directly at this time. Relevant docs:
- [Sub-pod isolation is not a (fully) supported security boundary](https://docs.google.com/document/d/1fe7lQUjYKR0cijRmSbH_y0_l3CYPkwtQa5ViywuNo8Q/edit#)
- [Sandbox Is

[2020-02-24 16:19] #66020 closed

[2020-02-24 16:22] liggitt commented on #84040
Documenting these steps could be added to https://kubernetes.io/docs/reference/access-authn-authz/rbac/#discovery-roles and referenced from https://kubernetes.io/docs/tasks/administer-cluster/securing-a-cluster/#api-authorization

/remove-kind feature
/kind documentation
/help

[2020-02-24 16:24] sethmccombs commented on #87429
Hi Team - Seth on the 1.18 Docs team here, we have until 2/28 to get placeholder PRs in for docs for this release, please let me know if I can help!

[2020-02-24 16:31] MarcelMue commented on #86485
I believe that we are hitting the same or a very similar issue.

At some point the kubelet running on a node does not correctly reflect the `Ready` condition of one or more pods in daemonset(s). In the particular cases we observed, the kubelet reported `NotReady` while the Pod was healthy and appeared to be `Ready` in every other respect.
This impression is compounded by the fact that the `readine

[2020-02-24 16:35] #83240 closed

[2020-02-24 16:41] claudiubelu opened #88470 "test failure: should have stable networking for Linux and Windows pods"
**Which jobs are failing**:

All the v1.18 / master jobs in: https://testgrid.k8s.io/sig-windows

**Which test(s) are failing**:

[sig-windows] Hybrid cluster network for all supported CNIs should have stable networking for Linux and Windows pods

**Since when has it been failing**:

Since this was merged: https://github.com/kubernetes/kubernetes/pull/81226

**Testgrid link**:

https://testgrid.k8

[2020-02-24 16:45] ahg-g commented on #88445
This is by design, preFilter is not a "Filter", the only expected valid status ```Success```

[2020-02-24 16:48] ahg-g commented on #88027
I think we should just add it to the plugins that actually have args, this will require custom code in the test, but I think it is better than having all plugins implement a function means something to only 1% of them.

[2020-02-24 16:53] ahg-g commented on #88357
It is more about ownership of the code, I think this should stay where it is.

/close

[2020-02-24 16:53] #88357 closed

[2020-02-24 17:17] ibuildthecloud commented on #88376
Thanks!

[2020-02-24 17:21] ibuildthecloud opened #88472 "Strategy to deal with transitive depencencies on client-go <1.18"
v1.18.0-beta.0 introduces an API change in the generated client-go code where `ctx` is required now as the first parameter.  As a mitigation strategy a `deprecated` client has been created for people unable/unwilling to change to the new API.  This works fine for code that one controls, but it does not work for transitive dependencies.  Is there a strategy to handle transitive dependencies that ar

[2020-02-24 17:23] ibuildthecloud commented on #88472
/sig api-machinery

[2020-02-24 17:27] RobLSDev commented on #49931
This seems like such a simple thing and a common enough problem to have implemented as a core part of HPA.

[2020-02-24 17:44] skilxn-go commented on #88027
@ahg-g Thanks, but now there is a problem that we can't get the registered plugins with current API.
So, I'm not sure if we can just implement the `ListPluginArgs` method in `FrameWork` with some reflect code for checking if one plugin has implement `BuildArgs` method? This could help us with keeping the `Plugin` interface clean.
cc @alculquicondor

[2020-02-24 17:45] apelisse commented on #87600
Any update @hatotaka, we clearly need this promptly since code-freeze is coming! Thanks.

[2020-02-24 17:47] mattmoor opened #88473 "Unexpected CRD Generation increments"
**What happened**:

I am seeing `metadata.generation` incrementing for non-Spec changes in the CRD.

**What you expected to happen**:

I expect `metadata.generation` to change for ONLY spec changes.

**How to reproduce it (as minimally and precisely as possible)**:

Steps:
1. Install the CRD
2. Install the CR
3. `watch kubectl get foo -oyaml` (note: generation is `1`)
4. Edit the CRD (e.g.  uncomm

[2020-02-24 17:51] mattmoor commented on #88473
/sig api-machinery

[2020-02-24 17:52] Huang-Wei commented on #88280
@boddumanohar It seems #88453 was raised slightly earlier than your PR, sorry that we have to follow the first-come-first-serve principle.

/remove-good-first-issue

[2020-02-24 17:53] ahg-g commented on #88027
you don't need to check if it implements BuildArgs, since this is for testing, we can hardcode which plugins should have their args verified.

[2020-02-24 17:54] ahg-g commented on #88027
The test will not be pretty, but I think it is worth the tradeoff.

[2020-02-24 18:00] rehevkor5 commented on #81806
/remove-lifecycle stale

[2020-02-24 18:05] skilxn-go commented on #88027
Do you mean that we don't test the default plugins, but define some custom plugins in the test file?
And we don't need the ListPluginArgs method anymore, am I right?

[2020-02-24 18:06] vaikas commented on #88473
Would / could this have anything to do with the versioning? is the spec changing in the storage version?

[2020-02-24 18:07] mattmoor commented on #88473
I'm not changing the storage version.  In fact, it's possible this repros with a single version (I didn't try).

[2020-02-24 18:11] tallclair commented on #70249
@dims @yuwenma - have the klog issues that were blocking some of the control plane images been resolved?

/cc @justaugustus

[2020-02-24 18:21] hrishin opened #88475 "[Failing Test] gce-cos-master-seria (ci-kubernetes-e2e-gci-gce-serial)"
**Which jobs are failing**:
`gce-cos-master-seria (ci-kubernetes-e2e-gci-gce-serial) `

**Which test(s) are failing**:
[code]

**Since when has it been failing**:
21ST - Feb

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial

**Reason for failure**:

**Anything else we need to know**:
/priority critical-urgent
/cc @kubernetes/ci-signal
/milestone v1.18

[2020-02-24 18:26] hrishin commented on #88475
duplicate https://github.com/kubernetes/kubernetes/issues/88441

[2020-02-24 18:36] hrishin opened #88478 "[Failing Test] gce-windows-2019-containerd-master (ci-kubernetes-e2e-windows-containerd-gce)"
**Which jobs are failing**:
[code]

**Which test(s) are failing**:

**Since when has it been failing**:
18th Feb

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2019-containerd-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/sig windows
/sig release
/cc @kubernetes/ci-signal
/priority critical-urgent
/milestone v1.18

[2020-02-24 18:36] alculquicondor commented on #88027
@ahg-g and I discussed this offline and arrived to this conclusion:

- For the compatiblity test, we can mock `Configurator.buildFramework` (added in #88285) to capture the arguments the configuration that is being passed. This can also be used by with #88028
- We want another test for `framework/v1alpha1/framework_test.go` that checks the build args for the in-tree plugins accessing the internal

[2020-02-24 18:41] skilxn-go commented on #88027
Sure, that sounds much more clear, thanks. :D

[2020-02-24 18:43] TheDiveO commented on #77142
/remove-lifecycle stale

Still an issue.

[2020-02-24 18:44] justaugustus commented on #88408
This is failing because a 1.18 release for CRI tools doesn't exist yet.
I can tweak the test job arguments to skip this later.

[2020-02-24 18:46] justaugustus commented on #88408
(As a note, this job is important, but not `critical-urgent`)
/remove-priority critical-urgent
/priority important-soon

[2020-02-24 18:56] alculquicondor commented on #88469
Another run https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/88285/pull-kubernetes-integration/1230814531119222784

[2020-02-24 19:03] #88452 closed

[2020-02-24 19:20] hasheddan commented on #88478
This is currently being tracked in #86788

/close

[2020-02-24 19:20] #88478 closed

[2020-02-24 19:22] PatrickLang opened #88481 "Failing test: Memory Limits [Serial] [Slow] attempt to deploy past allocatable memory limits"
**Which jobs are failing**:

None, test is excluded

**Which test(s) are failing**:
`[sig-windows] [Feature:Windows] Memory Limits [Serial] [Slow] attempt to deploy past allocatable memory limits [It] should fail deployments of pods once there isn't enough memory`

[code]

**Since when has it been failing**:

Unsure

**Testgrid link**:

Currently excluded

**Reason for failure**:

All 3 nodes have

[2020-02-24 19:28] chewong commented on #88481
/assign

[2020-02-24 19:36] tifil24400 opened #88483 "kops nodes errors"
Hello,

I'm trying to launch k8s with kops, but I have some errors.
Firstly, I installed kops, then kubectl. Then I created a dns name in aws, a S3 bucket.

Then, I launched theses commands:

`kops create cluster --name=kubernetes.newtech.academy --state=s3://kops-state-b3110b --zones=eu-central-1a --node-count=2 --node-size=t2.micro --master-size=t2.micro --dns-zone=kubernetes.newtech.academy`

W

[2020-02-24 20:08] aojea commented on #81675
I think that this KEP address this issue avoiding the cluster-cidr at all https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20191104-iptables-no-cluster-cidr.md

[2020-02-24 20:58] frittentheke commented on #81172
/remove-lifecycle stale

[2020-02-24 21:14] dims commented on #70249
@tallclair we haven't tracked it down yet. last debugging was here - https://github.com/kubernetes/kubernetes/pull/83390#issuecomment-537813852

[2020-02-24 21:36] aerfio commented on #79988
at least more helpful error message could be helpful 😞

[2020-02-24 22:05] #85645 closed

[2020-02-24 22:15] jmcmeek opened #88494 "Daemonset pod status PATCH errors after upgrading cluster from 1.14 to 1.16"
**What happened**:

The cluster master in a Kubernetes v1.14.10 cluster was upgraded to V1.16.7.  The process of upgrading nodes is under way and has been spread over a week so far.  The cluster owner reported seeing a high percentage of pod status PATCH failures.  The apiserver logs show errors like:
[code]

The errors are all from the v1.14 nodes and have all been for pods associated with Daemon

[2020-02-24 22:17] jmcmeek commented on #88494
/sig api-machinery

[2020-02-24 22:21] raravena80 commented on #69041
/remove-lifecycle stale

[2020-02-24 22:23] mrunalp commented on #77873
Can this be reopened? I am opening a PR to address this.

[2020-02-24 22:23] dims commented on #82440
Can someone please kick the tires with containerd 1.3.2 / 1.2.11 to confirm if things are better for exec based probes?

[2020-02-24 22:30] prithviramesh commented on #87039
Quick update- Slotted the fix for this into my sprint for this week

[2020-02-24 22:38] tedyu commented on #86485
[code]
@marqc
In the kubelet log, prior to the above, was there anything noticeable for aba9a54e-bb6c-49e5-b877-0adb84dda76d ?

Thanks

[2020-02-24 22:48] dims commented on #77873
/reopen

[2020-02-24 22:49] Nowaker commented on #82440
@dims My team tested around November 14th on this version of containerd:

[code]

[2020-02-24 22:53] dims commented on #82440
@Nowaker https://github.com/containerd/containerd/compare/v1.3.0...v1.3.2

[2020-02-24 22:53] mrunalp commented on #77873
@dims Thanks :)

[2020-02-24 23:00] jdumars commented on #81508
@liggitt this is something we're going to need to look at - any help getting this landed somewhere would be greatly appreciated!  cc: @lavalamp

[2020-02-24 23:04] Nowaker commented on #82440
Doesn't like there's anything that relates to `exec` apart from https://github.com/containerd/containerd/pull/3711 which my team already tested against, and there was no visible change in CPU usage.

[2020-02-24 23:05] dims commented on #81508
@jdumars got someone who can clean up https://github.com/kubernetes/kubernetes/pull/84467 ?

[2020-02-24 23:09] liggitt commented on #81508
See also https://github.com/kubernetes/kubernetes/pull/82580#issuecomment-535499216

Static cli options (--etcd-servers-overrids) that pair with dynamic api-specified options (dynamic custom resource API types) are pretty strange, so it's not clear this is the right way to accomplish parceling out custom resources to different etcd instances.

[2020-02-24 23:09] lavalamp commented on #81508
@jpbetz should know the current state.

[2020-02-24 23:10] lavalamp commented on #81508
Like I said on the mailing list, this would be a super dangerous flag to change. It's currently (afaik) only used for events, which are considered best effort.

[2020-02-24 23:11] frittentheke commented on #70411
@boxuan666 ?

[2020-02-24 23:15] serathius commented on #86499
Node Memory utilization is ratio of node Working Set Bytes and node allocatable memory.

Allocatable memory is available on node object:
`kubectl describe node aks-nodepool1-35944238-1`

Node Working Set Bytes are available on api:
`kubectl get --raw /apis/metrics.k8s.io/v1beta1/nodes/aks-nodepool1-35944238-1`

[2020-02-24 23:18] jpbetz commented on #81508
+1 to https://github.com/kubernetes/kubernetes/issues/81508#issuecomment-590595212

Details on what is motivating this might be helpful here. Is there an etcd limitation? If so, what etcd version is in use?

[2020-02-24 23:42] #81630 closed

[2020-02-25 00:45] MikeSpreitzer commented on #81508
I am motivated to consider this because of data volume considerations.  I am using Kubernetes API machinery to build an infrastructure cloud's control plane.  The total data volume for a datacenter is not something I can convince myself will fit in 8 GB; in fact, I am fairly confident it will not fit.

Etcd 3.2 and higher seem to be unreliable regarding startup --- there is flakiness in the TLS se

[2020-02-25 00:46] MikeSpreitzer commented on #81508
I would be happy for a solution in which the custom resources are not really dynamic.

[2020-02-25 00:52] alena1108 commented on #81508
@jpbetz In general, it makes sense to provide etcd as an app-specific data store, especially as you have proliferation of CRDs. And proliferation is going to be inevitable k8s clusters grow in size (https://kubernetes.io/docs/setup/best-practices/cluster-large/) and more system/user workloads running as Kubernetes apps in these big clusters leveraging etcd as their data store.

Using structured et

[2020-02-25 00:57] kfox1111 commented on #80228
/remove-lifecycle stale

[2020-02-25 01:02] jpbetz commented on #81508
Do we have an issue open for this already?

[2020-02-25 01:03] saviogl commented on #79773
@aksgithub Have you heard any updates on this issue yet?

[2020-02-25 01:09] davidz627 commented on #74988
/assign
I'm working on a quick refactor right now

[2020-02-25 01:10] gongguan commented on #88357
Agree, pkg/volume/scheduling maybe better.

[2020-02-25 01:36] MikeSpreitzer commented on #81508
@matte21 : can you please report here what you found about etcd cluster startup flakiness?

[2020-02-25 01:44] #83054 closed

[2020-02-25 02:01] moonek commented on #86467
here is a guide document.
https://kubernetes.io/docs/concepts/containers/runtime-class/

[2020-02-25 02:15] matte21 commented on #81508
I used to deploy a 3-member etcd v3.3.11 cluster on a Kubernetes 1.16 IKS cluster. The etcd cluster was used to store CRs defined via API aggregation, and was managed via coreOS's [etcd operator](https://github.com/coreos/etcd-operator/tree/v0.9.4) v0.9.4.

I had successfully deployed the etcd cluster and accessed the API objects stored in it countless times on the very same IKS cluster, but one d

[2020-02-25 02:28] liggitt commented on #88494
/sig network

[2020-02-25 02:29] liggitt commented on #88494
cc @thockin @khenidak

[2020-02-25 02:40] liggitt commented on #88494
/priority critical-urgent

if it's possible for podIPs to change, then the API server has to treat the singular pod IP as authoritative if there's a mismatch

[2020-02-25 02:57] logan2211 commented on #86773
I'm trying to convert a 1.17.2 cluster to dual-stack and hitting this.

kube-proxy log:
[code]

My kubeadm config looks like:
[code]

The controller-manager, apiserver, kubelets, etc have all been updated with the dual-stack feature gate enabled. The only thing remaining is kube-proxy. However, kube-proxy fails to start due to the segfault above.

It appears to be failing on two empty endpoints re

[2020-02-25 02:59] gaurav-mittal-helm commented on #23864
Hi,

Any update on the support of port range for a pod/service. Is any development happening around this area.

Gaurav

[2020-02-25 03:21] gkarthiks commented on #68026
/reopen

[2020-02-25 03:26] cy-zheng commented on #81009
/reopen
We are looking forward to any solution about that.

[2020-02-25 03:31] CodingSinger commented on #49792
I have the same problem, how did you solve the problem of accessing internal services from outside the cluster？

[2020-02-25 03:38] Rancheroo commented on #60987
same issue found on
k8s 1.15.5
Docker: 19.03.5
using nfs persistent storage
no cloud provider, bare-metal

[2020-02-25 03:55] liggitt commented on #88473
cc @sttts

[2020-02-25 03:57] liggitt commented on #88449
Agree, disabling TLS checks on the connection used to fetch the public keys used to verify the tokens being presented to the API server does not seem like a reasonable use case to support.