[2020-11-03 17:36] mml commented on #21653
@AntonOfTheWoods I'm no longer working on k8s, but I suspect if you wanted to reopen this issue and find a willing reviewer from sig-cli, a patch would probably be accepted.

[2020-11-03 17:48] ravens opened #96174 "Conntrack table not flushed for UDP nodePort service when doing deployment rollout restart"
**What happened**:
Performing a `kubectl rollout restart deployment python-server-deployment` on a UDP-based service using nodePort leads to traffic from another pod to service being interrupted. Flushing manually the conntrack entry is enabling the traffic to flow again.

**What you expected to happen**:
Traffic to continue flowing after rollout.

**How to reproduce it (as minimally and precisely

[2020-11-03 17:51] ravens commented on #96174
/sig network

[2020-11-03 17:53] ravens commented on #96174
Proxy mode is iptables btw.

[2020-11-03 18:01] Huang-Wei commented on #96149
Correct, it's not implemented yet. And due to its complexity, we don't have a concrete timeline to promise when to get it implemented.

[2020-11-03 18:06] NorseGaud commented on #70082
I tried gp2 and ios1/2 SSDs to resolve this and nothing worked. Just wanted to add the details to this.

[2020-11-03 18:10] spiffxp commented on #95832
/remove-kind failing-test
/kind flake
This is not a continuously failing test, it is instead flaking

[2020-11-03 18:12] spiffxp commented on #95832
/priority critical-urgent
the top flake for `pull-kubernetes-e2e-gce-ubuntu-containerd` per http://storage.googleapis.com/k8s-metrics/flakes-latest.json
/area conformance
this is a conformance test, it _definitely_ shouldn't be flaking, and should be demoted if it can't be fixed

[2020-11-03 18:15] spiffxp commented on #95920
/remove-priority important-soon
/priority critical-urgent
top flake for pull-kubernetes-conformance-kind-ipv6-parallel,  2nd top flake for `pull-kubernetes-e2e-gce-ubuntu-containerd` per http://storage.googleapis.com/k8s-metrics/flakes-latest.json
/area conformance
this is a conformance test
/remove-kind failing-test
/kind flake
this is not failing continuously, but is instead flaking

[2020-11-03 18:16] msau42 commented on #92237
Sorry I realize there's still a problem with old PVs created only with beta labels. Without csi migration, they will fail to schedule if nodes are created without beta labels.

[2020-11-03 18:32] dustyjump commented on #87339
@marosset Do you know when support for the newly released 20H2 (2009) will be incorporated?

[2020-11-03 18:46] chrishenzie opened #96177 "Interrupted E2E tests do not run instructions in AfterEach"
/sig testing

**What happened**:
When running E2E tests that use the [E2E test framework](https://github.com/kubernetes/kubernetes/blob/ac996a37f65a8f11640808a883e9522832ed364f/test/e2e/framework/framework.go#L152) and `ginkgo.AfterEach()`, when you SIGINT (ctrl+c) the test, the steps in `ginkgo.AfterEach()` do not run, but the framework's `AfterEach()` does run (which cleans up the test namespace

[2020-11-03 18:57] janosi commented on #96161
@knight42 I was the "someone else" who ran into this problem :) I changed the script to use `curl -w "\n" -kfsS...` The result:

[code]
Actually, it was 403 without the "S", too, but that is visible only if curl is executed in verbose mode.

[2020-11-03 19:03] khenidak commented on #96166
/sig-network

[2020-11-03 19:05] msau42 commented on #55045
@harishp8889 do your PVs have NodeAffinity on it? If so, then Pods using it should always get rescheduled to the same topology.

@DaveWHarvey there's a new feature from sig-scheduling, even pod spreading that may help your scenario: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/

[2020-11-03 19:07] msau42 commented on #55045
FYI, there is a kep proposed to add a flag to enable PVCs to be deleted during scaledown or statefulset deletion:
https://github.com/kubernetes/enhancements/pull/1915

[2020-11-03 19:08] msau42 commented on #55045
cc @mattcary @kkmsft

[2020-11-03 19:10] jayunit100 commented on #93580
/assign

[2020-11-03 19:22] msau42 commented on #92237
One idea suggested by @thockin is to allow mutation of PV.NodeAffinity if the only change is to convert the beta label to GA label.

General mutation can lead to irrecoverable races in the scheduler: https://github.com/kubernetes/kubernetes/issues/69528

[2020-11-03 19:27] grosser opened #96182 "api resourceVersion ignores limit"
[code]

I'd expect it to return 1 or fail with 400.

kubernetes v1.19.3

/sig api-machinery

[2020-11-03 19:33] neolit123 commented on #96171
/sig windows node

[2020-11-03 19:34] neolit123 commented on #96169
/assign @dims
/sig architecture
/area code-organization

[2020-11-03 19:34] neolit123 commented on #96166
/remove-kind bug
/kind failing-test
/sig network

[2020-11-03 19:44] mrajashree opened #96183 "Unreachable node no longer gets Unreachable taint with NoExecute effect"
**What happened**:
1. Created a k8s 1.19.3 cluster.
2. Powered off one node.
3. The node got the following taint: `node.kubernetes.io/unreachable:NoSchedule`

**What you expected to happen**:
Along with the unreachable taint with NoSchedule effect, it should also get the taint with NoExecute effect (`node.kubernetes.io/unreachable:NoExecute`). Those are the two taints a powered off/unreachable nod

[2020-11-03 19:44] mrajashree commented on #96183
/sig node

[2020-11-03 19:45] mrajashree commented on #96183
I see this is the only change in that area since 1.18 https://github.com/kubernetes/kubernetes/pull/89059
could be related?

[2020-11-03 19:47] roycaihw commented on #96065
Such requests will also cause the `managedFields` to be [cleared](https://github.com/kubernetes/kubernetes/blob/ac996a37f65a8f11640808a883e9522832ed364f/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go#L164).
[code]

@apelisse @jennybuckley FYI

[2020-11-03 19:51] Huang-Wei commented on #96083
@jmcmeek This bug has been fixed in master branch, and will be backported to [1.18] and [1.19] soon.

[1.18]: https://github.com/kubernetes/kubernetes/pull/96140
[1.19]: https://github.com/kubernetes/kubernetes/pull/96181

[2020-11-03 19:54] Huang-Wei commented on #93552
/remove-lifecycle stale

[2020-11-03 19:58] apelisse commented on #61578
Yeah, that's definitely the same error.

[2020-11-03 19:59] alena1108 commented on #96066
@liggitt looks like it's been a mix of managed (replicaset/deployment managed) and non-managed pods being deleted when we've observed the issue in prod. If it doesn't reproduce on your end for the managed pods, we'll run more tests in house to hopefully narrow it down.

[2020-11-03 20:01] hh commented on #95920
/assign @spiffxp

[2020-11-03 20:01] adombeck commented on #66828
/reopen

Same issue here, it would be great if the status would reflect that the pod failed.

[2020-11-03 20:05] rtheis commented on #96057
@khenidak I have confirmed that this is fixed in v1.20.0-beta.1 via https://github.com/kubernetes/kubernetes/pull/95894.  Thank you.

[2020-11-03 20:05] #96057 closed

[2020-11-03 20:06] liggitt commented on #96066
GC *will* block on a persistently failing resource... GC requires recognized resource types to be resolveable

[2020-11-03 20:14] dims commented on #96169
Sigh! we gotta do this once more :(

[2020-11-03 20:16] hh commented on #95920
I increased the timeout while waiting for available Replicas.

https://github.com/kubernetes/kubernetes/pull/96184#issuecomment-721351786

[2020-11-03 20:17] adombeck opened #96186 "Misleading "Pending" status is returned when pod fails with "Error: ErrImagePull""
Quoting #66828, which describes the issue well, but was closed after inactivity:

If pod fails in pulling a docker image, we have inconsistency in pod status.

    $ kubectl get pods
    NAME READY STATUS RESTARTS AGE
    my_pod_1 0/1 ErrImagePull 0 59m
    my_pod_2 0/1 ImagePullBackOff 0 39m

    $ kubectl get pod my_pod_1 -o jsonpath={.status.phase}
    Pending

    $ kubectl get pod my_pod_2 -o

[2020-11-03 20:21] adombeck opened #96187 "Misleading "Pending" status is returned when pod fails with "Error: ErrImagePull""
Quoting #66828, which describes the issue well, but was closed after inactivity.

If a pod fails to pull a docker image, the pod status seems to inconsistent:

    $ kubectl get pods
    NAME READY STATUS RESTARTS AGE
    my_pod_1 0/1 ErrImagePull 0 59m
    my_pod_2 0/1 ImagePullBackOff 0 39m

    $ kubectl get pod my_pod_1 -o jsonpath={.status.phase}
    Pending

    $ kubectl get pod my_pod_2 -o

[2020-11-03 20:50] srkunze commented on #96081
Well, that is not really the point of this issue isn't it?

Thanks for pointing out this alternative.

[2020-11-03 20:56] pantelis-karamolegkos opened #96189 "Restored PVC from Volume Snapshot is empty"
**What happened**:

I created a `VolumeSnapshot` resource from a `PersistentVolumeClaim.`

Then going the other way around, i.e. restoring the `PersistentVolumeClaim` from the `VolumeSnapshot`, the mounted directory seemed empty.

**What you expected to happen**:

The path mounted using the `PersistentVolumeClaim` should have the contents it did before the restoration process.

**How to reproduce

[2020-11-03 20:57] pantelis-karamolegkos commented on #96189
/sig storage

[2020-11-03 21:06] Huang-Wei commented on #95887
Can you run the "controller" as a goroutine along with your scheduler plugin? So it's an external controller binary, and hence don't introduce another point of failure. It's pretty like how the default scheduler manages its internal cache.

But note that **cache** is only needed when you need a more efficient data structure. If a {key:value} map is good enough, spinning up a XYZInformer and obtain

[2020-11-03 21:11] srkunze commented on #96081
So this is really expected behavior

Not sure why that kernel configuration is needed but I have two packages here being incompatible with each other because - let me quote @stgraber :

Even though the work-around is not really robust against host kernel updates it seems to me that it is the only solution if both maintainers don't even want to discuss other approaches.

[2020-11-03 21:22] fedebongio commented on #95958
/assign @wojtek-t @roycaihw
/triage accepted

[2020-11-03 21:23] fedebongio commented on #95966
/triage accepted

[2020-11-03 21:23] fedebongio commented on #95979
/triage accepted

[2020-11-03 21:24] bjhaid opened #96191 "tokencleaner controller is not deleting expired bootstrap token secrets objects"
**What happened**:

The tokencleaner controller does not clean up bootstrap token secrets after
they expire after it has been started.

The tokencleaner controller is expected to clean up bootstrap tokens secret
objects that are
stale(https://kubernetes.io/docs/reference/access-authn-authz/bootstrap-tokens/#enabling-bootstrap-token-authentication):

it has however been observed to only clean up bo

[2020-11-03 21:24] fedebongio commented on #95989
/assign @jpbetz
/triage accepted

[2020-11-03 21:26] fedebongio commented on #96040
/remove-sig api-machinery
/sig auth

[2020-11-03 21:26] fedebongio commented on #96049
/triage accepted

[2020-11-03 21:27] fedebongio commented on #96060
/assign @jennybuckley
/cc @apelisse
/triage accepted

[2020-11-03 21:27] fedebongio commented on #96060
/cc @lavalamp

[2020-11-03 21:27] bjhaid commented on #96191
/sig cluster-lifecycle

[2020-11-03 21:29] fedebongio commented on #96065
/cc @liggitt
the sig is interested in knowing your opinion
/triage accepted

[2020-11-03 21:29] bjhaid commented on #96191
/sig apps

[2020-11-03 21:29] fedebongio commented on #96066
/triage accepted

[2020-11-03 21:31] neolit123 commented on #96081
i recall discussions that the kubelet doesn't really support LXD, but i don't know what is the current state.

i would agree only for a case where an application is specifically designed to run inside a container. kubeadm manages a kubelet which does depend on kernel enabled features, so if they are run in an isolated environment some entity needs to expose the host kernel configuration inside the

[2020-11-03 21:34] roycaihw commented on #96065
Added the issue to the SIG meeting agenda tomorrow as well.

[2020-11-03 21:48] spiffxp commented on #95832
/reopen
For CI signal to observe before marking as resolved

[2020-11-03 21:51] fedebongio commented on #58347
/triage accepted

[2020-11-03 21:51] fedebongio commented on #94691
/triage accepted

[2020-11-03 21:51] fedebongio commented on #95250
/triage accepted

[2020-11-03 21:51] fedebongio commented on #95514
/triage accepted

[2020-11-03 21:51] fedebongio commented on #95545
/triage accepted

[2020-11-03 21:52] fedebongio commented on #95556
/triage accepted

[2020-11-03 21:52] fedebongio commented on #95601
/triage accepted

[2020-11-03 21:52] fedebongio commented on #95702
/triage accepted

[2020-11-03 21:52] fedebongio commented on #95956
/triage accepted

[2020-11-03 21:52] fedebongio commented on #96015
/triage accepted

[2020-11-03 21:54] troy0820 commented on #96187
You created the same issue in #96186.
/close

[2020-11-03 21:54] #96187 closed

[2020-11-03 22:00] jayunit100 opened #96193 "ExecUtil in framework.go doesn't allow you to toggle command logging"
**What happened**:

ExecUtil in framework.go has mandatory logging side effect  hardcoded to INFO

**What you expected to happen**:

Since INFO level logging may or may not be an implementation detail of a test that is worth showing all the time, it would be better if we can turn this logging off optionally with a Quiet (false by default) boolean field

**How to reproduce it (as minimally and prec

[2020-11-03 22:04] troy0820 commented on #96186
From the docs, it shows that:

[code]

So failure would indicate that the pod was created and then exited with a non zero state.  The pending provides a status that allows you to see that the pod isn't scheduled for some other reason.
/sig scheduling

[2020-11-03 22:05] dombeck commented on #96187
Oh, sorry, I got an error message when I first submitted the issue, so I assumed that it wasn't created.

[2020-11-03 22:21] aojea commented on #59031
https://github.com/kubernetes/kubernetes/issues/59031#issuecomment-490761350

[2020-11-03 22:37] apelisse commented on #96065
yeah, we assume that this is a "set" (which is the same assumption you're making), and I think that's right.

[2020-11-03 22:42] apelisse commented on #96060
Parsing the audit log isn't easy, what is the cluster object, applied object and final object?

[2020-11-03 22:46] fabiokung commented on #95887
@Huang-Wei nailed it. What you describe is almost exactly what I’m doing today. There are some details particular to my use case (e.g. just tracking current state with an informer and an incremental cache is not enough, because there’s some logic involved in deciding if currently available resources are usable by each `(Pod, Node)` pair, and I currently do that computation in `Filter` as pairs are

[2020-11-03 22:56] liggitt commented on #96191
Commented at https://github.com/kubernetes/kubernetes/pull/96192#issuecomment-721416319, resync is not the way this controller revisits tokens when their expiration is up. If the ttl requeue is not working, that is what should be fixed

[2020-11-03 22:57] fabiokung commented on #95887
Note that limiting `Filter` to only reading from `CycleState` works for me, as long as I can still read my own data structure from it and do writes on it (i.e. don’t deepcopy `CycleState` for the `Filter` phase).

[2020-11-03 22:57] liggitt commented on #96182
limit is optional for the server to honor. with resourceVersion=0, the response is served from the in-memory cache for efficiency, which does not support the limit parameter

[2020-11-03 22:57] #96182 closed

[2020-11-03 22:58] #95877 closed

[2020-11-03 23:03] alculquicondor commented on #95887
`#2` also adds overhead (from copying the state, which can be very expensive).

[2020-11-03 23:13] sbezverk opened #96199 "with SharedInformer Factory observe missing pod update events"
**What happened**:
Simple pod controller based on Shared Informer which is observing pod.Status.Phase changes.  When pod gets created,
there is an Add event, following a series of Update events. In the last received update event, pod's Old and New phase is still showing as Pending, but supposed to be running. Also pod's NodeName and pod's IP are also missing in the last update event received for t

[2020-11-03 23:14] sbezverk commented on #96199
/kind bug

[2020-11-03 23:19] TothFerenc opened #96200 "Pod gets stuck in ContainerCreating state if first attempt of CNI ADD fails (Multus CNI, Whereabouts IPAM)"
**What happened**:
We are using Multus CNI for having multiple network interfaces inside Pod network namespace. Whereabouts IPAM is being used to serve unique IPs within an IP Pool.
In case the IP Pool is fully allocated, if we delete a Pod (under Deployment), a new Pod is started. The deleted Pod is still in Terminating state for a while holding its IP addresses. At this specific point in time th

[2020-11-03 23:22] TothFerenc commented on #96200
/sig scheduling

[2020-11-03 23:29] roycaihw commented on #95958
Nice catch @wojtek-t! I think we can mention "you must restart system components after restoring etcd" in the [doc](https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#restoring-an-etcd-cluster) and close this issue. @weinong WDYT?

[2020-11-04 00:04] weinong commented on #95958
SGTM! thanks!

[2020-11-04 00:09] fabiokung commented on #95887
Could implement `#2` just by changing the interface passed to `Filter` (e.g. `ReadOnlyCycleState`. That wouldn’t be backwards compatible, but very cheap.

[2020-11-04 00:24] wawa0210 commented on #96183
/assign

I can try to fix

[2020-11-04 00:33] mskrocki commented on #96018
I see same results (only ~500 services) on:
[code]

[2020-11-04 01:21] boddumanohar commented on #96169
@dims this looks like a simple task. I would like to take this up.

[2020-11-04 01:25] #81329 closed

[2020-11-04 01:34] andyzhangx commented on #94213
/reopen

[2020-11-04 01:34] andyzhangx commented on #94213
This issue is not resolved, right? @marosset

[2020-11-04 01:36] andyzhangx commented on #94213
I see this issue is resolved in csi-proxy (only on master branch), while it's not resolved for the in-tree azure file driver.

[2020-11-04 01:36] andyzhangx commented on #94213
/triage accepted

[2020-11-04 01:57] chymy opened #96203 "kubelet: could not retrieve port mappings: checkpoint is corrupted"
**What happened**:
After upgrading from 1.10 to 1.13.6, when deleting the StatefulSet pod, kubelet reports error stack:
[code]

**What you expected to happen**:
remove corrupt checkpoints immediately upon detection

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider

[2020-11-04 01:58] chymy commented on #96203
/sig node

[2020-11-04 02:35] justinfx commented on #93900
Please don't remove this feature! We only just discovered it this week and it was positioned to solve a real issue with common volume specs, in the same way mentioned by @devlounge
It would be really sad to now see it removed when it was going to fix some integration issues for us!

[2020-11-04 02:48] knight42 commented on #96161
@janosi Hi, thanks for your information. Given that the apiserver returned 403, I suspect the flag `--oauth2-bearer` passed to curl has no effect in your environment, would you mind posting the output of `curl --version`? I am using curl 7.64.1:
[code]

In addition, I think you could try changing the curl command in `hack/update-openapi-sepc.sh` to the following:
[code]
and see if the problem is s

[2020-11-04 02:59] roycaihw commented on #95966
by definition `verb` is the [kubernetes verb](https://github.com/kubernetes/kubernetes/blob/e54448a307e04773598b212bb3bbcc53eae01d49/staging/src/k8s.io/apiserver/pkg/apis/audit/v1/types.go#L85-L87) associated with the request. See https://kubernetes.io/docs/reference/access-authn-authz/authorization/#determine-the-request-verb on how kubernetes verbs are determined.

I think the first question is

[2020-11-04 03:03] dims commented on #96169
@boddumanohar go for it!

[2020-11-04 03:11] DP19 commented on #95785
This has been partially implemented with #96116 . Covering the code path for when an IP is does not exist on a node.

@aojea I'll assign this back to you so you can split this issue or close it in favor of another issue. Thanks!

/unassign
/assign @aojea

[2020-11-04 03:23] knight42 commented on #91506
I am OK with this approach, I could start with it. but I am afraid this would break some tests that I don't know, and actually I have broken several tests after disabling the insecure port of apiserver: #95877 #95955. Do we need broader discussion first?

[2020-11-04 03:44] marosset commented on #94213
Ah, good point.
yes, this is not fully resolved.

[2020-11-04 04:04] #94855 closed

[2020-11-04 04:20] MHBauer commented on #95877
looking green!

[2020-11-04 04:21] MHBauer commented on #91506
We can try to run more of the CI tests ahead of time, but I think it's forward progress to break things in the effort.

[2020-11-04 04:22] s-ito-ts commented on #94230
I added the code the following and tried to reproduce this problem in my local environment.
[code]
As a result, the following message was output.
So, "fp.numFilterCalled++" is not thread safe and seems to be causing this issue.
[code]

I think it should be changed to such as atomic.AddInt32, what do you think about it?

[2020-11-04 05:16] yashvardhan-kukreja commented on #96187
I would like to pick this up

[2020-11-04 05:16] yashvardhan-kukreja commented on #96187
/assign

[2020-11-04 05:17] yashvardhan-kukreja commented on #96187
@troy0820 can I start working on this?

[2020-11-04 05:19] yashvardhan-kukreja commented on #66828
would like to pick this up

[2020-11-04 05:19] yashvardhan-kukreja commented on #66828
/assign

[2020-11-04 05:20] yashvardhan-kukreja commented on #66828
@troy0820 can I pick this up

[2020-11-04 05:29] yashvardhan-kukreja commented on #96186
I would like to pick this up

[2020-11-04 05:29] yashvardhan-kukreja commented on #96186
/assign

[2020-11-04 05:29] yashvardhan-kukreja commented on #96186
@troy0820 should I start working on this?

[2020-11-04 05:50] xing-yang commented on #96161
@knight42 I tried the following and it worked for me.  swagger.json is no longer empty.

[code]

curl version:
[code]

[2020-11-04 06:18] knight42 commented on #96161
@xing-yang Thanks for your confirmation, and I have filed #96204 to address this issue.

[2020-11-04 06:52] jingxu97 opened #96208 "Add unit tests for PR https://github.com/kubernetes/kubernetes/pull/92692"
TODO: add unit test for PR https://github.com/kubernetes/kubernetes/pull/92692

https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/testing/testing.go#L1282

and there are some examples of populating attachedVolumes like here: https://github.com/kubernetes/kubernetes/blob/a1063c924bfbda6e7d24818858e78fa387c93b72/pkg/volume/util/operationexecutor/operation_executor_test.go#L171

[2020-11-04 07:18] janosi commented on #96161
@knight42 I can confirm, it works with the changed curl command.

[code]

[2020-11-04 07:27] gaorong opened #96209 "a central place to list out all deprecated API"
For now, we just announce the API to be deprecated in the release note, mixed with other notes and not clear.   Maybe we need a central place to list out all deprecated API, make the description clear and well-formated, such as below:

|           api                             |  not served at   |  migrate to |
|-------------------------------------------|------------------|-------------|
| apps

[2020-11-04 07:30] gaorong commented on #96209
/sig release
/sig api-machinery

[2020-11-04 07:35] BenTheElder commented on #96081
Preflight checks are advisory, to help catch running on broken environments (as explained in more detail above by neolit123). *kubernetes* (core components) doesn't check this. Kubeadm does, but kubeadm exposes the ability to ignore or skip this check.
I don't think the check can reasonably function without access to these files.

In KIND we skip this check currently.

Also, Kubernetes is not inte

[2020-11-04 07:41] pacoxu commented on #96209
Similar with https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-graduated-or-deprecated-features.

We may have a page to list all apiversions for core api groups and the deprecated versions history

[2020-11-04 07:51] obeyda opened #96210 "Failing test on Go 1.15.3"
**Which test(s) are failing**:
`vendor/k8s.io/kubectl/pkg/cmd/create/create_rolebinding_test.go`

**Since when has it been failing**:
since upgrading golang: `go version go1.15.3 linux/amd64`

**Reason for failure**:
Since Go 1.15,  type casting from int to string using `string(int)` is not allowed,
output:
[code]

**Anything else we need to know**:
related links:
golang/go#3939
golang/go#32479
ht

[2020-11-04 07:55] obeyda commented on #96210
the fix should be straight forward, so I can create a pull request to fix this.
/sig testing
/sig cli

[2020-11-04 07:56] obeyda commented on #96210
/assign @obeyda

[2020-11-04 08:02] Treyone commented on #96149
No, the doc is clear on the "planned" status. That were SO discussions like [this one](https://stackoverflow.com/questions/55006205/how-to-prevent-pods-scheduling-to-a-node-after-a-pod-has-failed-on-it-in-gce).
Although I have no solid alternative, I appreciate the clarification on the fact that it's not yet planned. In that case, I think it would be wise to throw an error when it's found in the Y

[2020-11-04 08:14] #96193 closed

[2020-11-04 08:18] zhaofengli commented on #78900
Is there a workaround? I have an IPv6-only external GlusterFS cluster, and this bug is a major blocker.

Also it would be much better if we could supply hostnames instead of IPs.

[2020-11-04 08:33] vdemeester commented on #86245
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-11-04 08:54] lingsamuel commented on #92615
Could you provide a minimal reproducible example without Knative? @mattmoor @dprotaso
I create 1000+ ExternalName services and 1500+  ClusterIP services (all ClusterIP svcs point to the same pod, if the problem is env var related, I think it doesn't matter), then start a new Pod, it starts normally and quickly.
I take a quick glance at related code, didn't find any suspicion codepath (maybe I miss

[2020-11-04 08:55] arocki7 commented on #56188
Is this implemented now? or yet to be implemented?

[2020-11-04 09:00] lingsamuel commented on #59450
I meet this today https://github.com/kubernetes/kubernetes/pull/96141
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/96141/pull-kubernetes-bazel-test/1323641965127929856

[2020-11-04 09:01] saurabhtmba2005 commented on #96106
Hi,

In My case that is not the  issue actually but i have verify the config once again and it is more then this.

# uname -a
Linux kube1.yatra.com 3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue Aug 25 17:23:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
# ulimit
unlimited
[root@kube1 ~]# ulimit -a
core file size          (blocks, -c) 0
data seg size           (kbytes, -d) unlimited
scheduling priority

[2020-11-04 09:05] aojea commented on #96177
xref: https://github.com/onsi/ginkgo/issues/222

[2020-11-04 09:32] aojea commented on #95785
what is the different codepath for the IP that exist on the host?
My reading is that the only difference is that it opens a local socket on that port, can you expand on this?

[2020-11-04 10:04] der-eismann commented on #95334
I'd prefer it if the issue was fixed instead of just closing it. Even if there is no actual problem these entries are clogging the logs and something must cause them.
I just tried it with 1.19.3, the issue still persists.

[2020-11-04 10:10] ialidzhikov commented on #95334
@der-eismann, so what is the issue - the noisy and confusing logging? If that is the case, then please kindly open a new issue (there are too much comments on this issue and it is hard to follow what was the initial problem and what are your complaints currently). From the currently issue title and description, it looks like 1.19.2 apiserver cannot write to etcd at all which is not the case as you

[2020-11-04 11:09] behos opened #96218 "StatefulSet PodManagementPolicy Parallel affects updates"
**What happened**:

Hi,

I'm trying to understand whether a behaviour we are observing in stateful sets with `Parallel` `PodManagementPolicy` is expected or if we are hitting a bug.

From the docs:

I'm trying to understand the last bit "Updates are not affected". Unless I am misunderstanding the intention here, we expect that during scale up and down pods will be created and terminated in paralle

[2020-11-04 11:37] aojea commented on #96174
/cc

[2020-11-04 11:42] andyzhangx commented on #56188
@arocki7 there is some initial work to support NFSv3 on Windows in csi-proxy, while it's not supported yet, still on-going.

[2020-11-04 12:00] behos commented on #96218
/sig apps

[2020-11-04 12:08] cristichiru commented on #93719
/remove-lifecycle stale

[2020-11-04 12:33] knight42 commented on #96168
Another possibly related case: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/96214/pull-kubernetes-bazel-test/1323941035230892032
[code]
These tests were introduced in #93877
/cc @bjrara

[2020-11-04 13:49] troy0820 commented on #96186
@yashvardhan-kukreja I don't think there is anything to do with this issue.  The pod status is working by design and isn't intended to show failure because of failing to pull images.  The fail status will show when the container terminates and shouldn't be shown during a failure to pull images.  @adombeck Please read the above comments.

[2020-11-04 13:51] troy0820 commented on #66828
@yashvardhan-kukreja This issue is closed and the comments from issue #96186 discuss the possible resolution for this and that issue.

[2020-11-04 14:07] alculquicondor commented on #95887
I guess that would work in the sense that you cannot change the high level values of the CycleState map, but you could still override what's inside them, if they have pointers. But maybe that's ok.

[2020-11-04 14:21] ajfriesen commented on #87615
It seems the mentioned #95898 got closed for reasons we do not need to discuss.

Is there any other update in regards of this issue?

[2020-11-04 14:22] liggitt commented on #87615
https://github.com/kubernetes/kubernetes/pull/95981 (linked above) is in progress to pull in the http/2 fix

[2020-11-04 14:26] SataQiu commented on #96164
/cc

[2020-11-04 14:33] neolit123 commented on #96208
/sig storage

[2020-11-04 14:49] adtac commented on #95887
yeah, if it was pointers and if the underlying data needed to be modified, I'd imagine it would have its own Lock/Unlock semantics

[2020-11-04 14:50] alculquicondor commented on #96149
/sig node

[2020-11-04 14:52] alculquicondor commented on #96149
It should during Pod creation, as the field doesn't exist in the API. Is this not the case?

As for the implementation, it's more on kubelet side to do. This is somewhat similar to Taint based evictions, which, AFAIK, had several implementation issues.

[2020-11-04 14:53] alculquicondor commented on #95887
for such implementation, the only remaining concern is backwards compatibility. So I would leave that decision to @Huang-Wei, who leads the scheduling-plugins repo.

[2020-11-04 15:02] kesavanrangan opened #96221 "Having Issues in spinning up statefulsets"
**Unable to start statefulset resource with the apiVersion set as "apps/v1".**:

**Expected the resource to be created without any error**:

**Error message seen: error: unable to recognize "statefulsets-Mysql.yaml": no matches for kind "StatefulSets" in version "apps/v1"**:

**Version: Kubectl --> Server and Client: v1.19.3, Kubeadm --> v1.19.3**:

**Environment**:
- Kubernetes version (use `kube

[2020-11-04 15:02] mattmoor commented on #92615
Each service is ~8 env vars, typically with long names.  Knative currently creates 2 ClusterIP and 1 ExternalName per service, and things failed for me at around 1200 Knative services.

I don't think there's anything wrong with your repro except the numbers, I'd create 1200 ExternalName and 2400 ClusterIP services.

[2020-11-04 15:03] SataQiu commented on #96164
/assign

[2020-11-04 15:03] kesavanrangan commented on #96221
Closing this issue. There was a typo in "Statefulset". Apologies for any inconvenience caused.

[2020-11-04 15:03] #96221 closed

[2020-11-04 15:06] NorseGaud commented on #70082
Related https://github.com/etcd-io/etcd/issues/11912

[2020-11-04 15:08] Riaankl commented on #90916
/reopen
Soaking, ready for promotion 19 November 2020

[2020-11-04 15:09] alculquicondor commented on #96164
Please wait until #96202 is merged.

But also, keep in mind that it might be too late to make it to 1.20

[2020-11-04 15:11] Riaankl commented on #90916
/remove-lifecycle stale

[2020-11-04 15:12] Riaankl commented on #90936
/remove-lifecycle stale

[2020-11-04 15:14] #95334 closed

[2020-11-04 15:22] soltysh commented on #48564
As far as it stands this is already implemented.
/close

[2020-11-04 15:22] #48564 closed

[2020-11-04 15:23] liggitt commented on #48564
The convert command still depends on internal types, right?

[2020-11-04 15:27] hkamel opened #96222 "[Failing Test] gce-ubuntu-master-default (ci-kubernetes-e2e-ubuntu-gce)"
**Which jobs are failing**:
`ci-kubernetes-e2e-ubuntu-gce`

**Which test(s) are failing**:

- `Kubernetes e2e suite.[sig-network] Services should be possible to connect to a service via ExternalIP when the external IP is not assigned to a node`
- `Overall`
- `Test`

**Since when has it been failing**:
`11-04 19:33 PST `

**Testgrid link**:
`https://k8s-testgrid.appspot.com/sig-release-master-infor

[2020-11-04 15:27] wojtek-t commented on #95958
@roycaihw - can you please take care of updating this documentation?

[2020-11-04 15:33] liggitt commented on #96065
Is the concern about malicious clients or naive clients that append duplicate owner references? Are there actual examples of the latter?

with `uid` as the key?

[2020-11-04 15:34] bananflugan commented on #15478
I would really like this feature to be implemented. I am currently migrating workloads from Rancher 1.x clusters to Rancher 2.x clusters which run k8s. We have a deployment which sets the log-driver and log-opt parameters in the docker-compose configuration.

I dont want to have to configure one specific host to use the gelf driver globally and tag the pod with a label and host with a label.

[2020-11-04 15:38] jayunit100 commented on #93580
@ddebroy in principal does https://github.com/kubernetes/kubernetes/pull/96180 look good enough to you as a starting point? if so ill test it and verify it on windows 2019

[2020-11-04 15:47] SvenMW commented on #70082
to quote myself: really try to test with higher performance ssds/storage.

my problems went away once the storage was fast enough.
even when you do not put etcd under heavy load it generates enough traffic on it's own.

so please try to test with faster (meaning: more iops) storage first.
I guess most common cloud instances like mentioned here do not deliver the required performance.

[2020-11-04 15:49] soltysh commented on #88025
This is currently being handled in https://github.com/kubernetes/kubernetes/pull/93370. More info is in https://github.com/kubernetes/kubernetes/issues/82659 and https://github.com/kubernetes/enhancements/issues/19
/close

[2020-11-04 15:50] #88025 closed

[2020-11-04 15:56] soltysh commented on #84201
This is indeed duplicate of https://github.com/kubernetes/kubernetes/issues/47202, and I'm closing this as such. As I mentioned that in the other issue this topic is covered in  #82659 and kubernetes/enhancements#19 and that's where it will be discussed but only when we get the new controller completed.
/close

[2020-11-04 15:57] #84201 closed

[2020-11-04 15:59] soltysh commented on #48564
Correct, and from what the discussions we've had I'm not sure this will change. That's why it was decided to make `kubectl convert` a plugin and build from the main k/k repository.

[2020-11-04 16:15] apelisse commented on #96065
[Correct](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L240-L247).

[2020-11-04 16:24] alena1108 commented on #96066
@liggitt

Does it mean that it's by design? And failing CRD can cause the entire GC to block, and that in turn affected the resource quota controller?

[2020-11-04 16:30] liggitt commented on #96066
Because of two-way relationships between objects caused by things like `blockOwnerDeletion`, if GC knows it has an inconsistent view of objects (because it cannot sync a resource type), it will fail safe and stop deleting things.

Quota will not release used resources until the objects are deleted.

[2020-11-04 16:38] MHBauer commented on #95877
The output looks very strange, I have no idea why.
Output has double-underscore-number for the different runs, instead of the image used.
[__08] vs [cos-lts]

[2020-11-04 16:46] alexz-kh commented on #92307
+1 for issue

[2020-11-04 16:51] liggitt commented on #92307
The rationale for disallowing type declarations inside anyOf junctors is described in the structural schema design - https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190425-structural-openapi.md#formal-definition

[2020-11-04 17:09] Riaankl commented on #90916
/triage accepted

[2020-11-04 17:09] msau42 opened #96225 "Creating an intree PVC with datasource should fail"
**What happened**:
In clusters that have intree drivers as the default storageclass, if you try to create a PVC with snapshot data source and forget to put the csi storageclass in it, then an empty PVC will be provisioned using the default storageclass.

**What you expected to happen**:
PVC creation should not proceed and instead have an event with an incompatible error, similar to how we check pr

[2020-11-04 17:09] bjhaid commented on #96191
This is not an issue in 1.19, I'll close for now if any of the supported releases have this issue, then I might figure out what fixed it and maybe hunt for a backport if it is reasonable.

[2020-11-04 17:09] #96191 closed

[2020-11-04 17:10] msau42 commented on #96225
@kubernetes/sig-storage-bugs

[2020-11-04 17:10] msau42 commented on #96225
I think similar issue exists with cloning.

We'll need to think about what the behavior should be for data populators too. cc @bswartz

[2020-11-04 17:11] srkunze commented on #96081
I think that is a message I can live with.

[2020-11-04 17:13] neolit123 commented on #96081
don't take my word for it.

[2020-11-04 17:14] msau42 commented on #96225
/triage accepted

[2020-11-04 17:17] srkunze commented on #96081
No issue for me. As @BenTheElder mentioned LXC is a container for systemd the helps me to keep my host system clean when trying quickly out different projects and/or setups before running them in the wild using costly resources.

[2020-11-04 17:19] pantelis-karamolegkos commented on #96189
Root cause identified, closing in favor of #96225

[2020-11-04 17:19] #96189 closed

[2020-11-04 17:28] pantelis-karamolegkos commented on #96225
Scenario to reproduce the issue

Create the nginx deployment and the PVC used by it

[code]

[code]

Exec into the running `nginx` container, cd into the PVC mounted path and create some files

[code]

Create the following `VolumeSnapshot` using as source the `nginx-pvc`

[code]

The `VolumeSnapshotClass` used is the following

[code]

and wait until it becomes `readyToUse: true`

[code]

Delete t

[2020-11-04 17:58] #96199 closed

[2020-11-04 18:11] justaugustus commented on #90277
/remove-lifecycle stale

[2020-11-04 18:13] xing-yang commented on #96225
@msau42 can you modify the title of this issue and change `snapshot datasource` to `datasource`?  In addition to snapshot datasource, using PVC datasource and AnyVolumeDataSource should also fail for in-tree PVC.

[2020-11-04 18:19] mmerkes commented on #95877
Ya, I noticed that. It's weird. Not sure how it's set, but you can see that the junit config names have a similar issue:

[master](https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1323994100789153792/artifacts/) ->  junit_cos-stable1_01.xml

[conformance](https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-conformance/1323991582642278400/artifac

[2020-11-04 18:26] thockin commented on #23291
This will be covered by the newer Gateway API: https://github.com/kubernetes-sigs/service-apis

[2020-11-04 18:26] #23291 closed

[2020-11-04 18:27] thockin commented on #31364
This will be covered by the newer Gateway API: https://github.com/kubernetes-sigs/service-apis

[2020-11-04 18:27] #31364 closed

[2020-11-04 18:28] thockin commented on #40244
I think app-protocol covers this now?  If so, we should close the issue...  @robscott

[2020-11-04 18:38] #96161 closed

[2020-11-04 18:41] robscott commented on #40244
Good call, closing this now. Feel free to reopen if there's some use case that we've missed with AppProtocol.

/close

[2020-11-04 18:41] #40244 closed

[2020-11-04 18:51] Huang-Wei commented on #94230
@s-ito-ts yes, the latest code has switched to atomic.AddInt32():

https://github.com/kubernetes/kubernetes/blob/6a3fd8f3d71e756f4231b610fb1d404abb100119/test/integration/scheduler/framework_test.go#L232-L233

[2020-11-04 18:59] roycaihw commented on #96065
the latter. The one that I'm aware of: https://github.com/operator-framework/operator-lifecycle-manager/issues/1237

[2020-11-04 19:01] aojea commented on #96174
so @ravens , the whole logic to delete conntrack entries in kube-proxy happens here

https://github.com/kubernetes/kubernetes/blob/71fea80155e5c124b1a44315da59af9799e9fafc/pkg/proxy/iptables/proxier.go#L1635-L1642

The code that you link has an interesting comment

https://github.com/kubernetes/kubernetes/blob/1e11e4a2108024935ecfcb2912226cedeafd99df/pkg/util/conntrack/conntrack.go#L111-L119

that

[2020-11-04 19:02] khenidak commented on #92697
This is not a bug. The IP has been recycled by your CNI into use again. This would be a problem (specifically CNI problem) if two running pods share the same IP.

[2020-11-04 19:03] karan commented on #95357
This may be fixed by https://github.com/kubernetes/kubernetes/pull/96050.

[2020-11-04 19:04] alena1108 commented on #96066
@liggitt just to confirm - this GC logic was the same in 1.17? Or did anything change in 1.18. Trying to figure out why the issue has surfaced in 1.18 only in our environment, will take any theory :)

[2020-11-04 19:05] aojea commented on #91236
This kernel panic may be a coincidence, maybe this is the reason https://github.com/kubernetes/kubernetes/issues/96174

[2020-11-04 19:06] liggitt commented on #96066
No, that has always been the GC behavior

[2020-11-04 19:12] khenidak commented on #94862
The only place we use this is NodeIPAM and range allocators. It has no api impact. It is just we need to chain allocators.

[2020-11-04 19:21] mmerkes commented on #95877
Ok, found the root of the problem. Here's the command for the master suite:

[code]

Note `--report-prefix=cos-stable1 `, which is not present in the conformance tests.

[2020-11-04 19:22] xing-yang commented on #96225
/assign

[2020-11-04 19:28] nstogner opened #96230 "PersistentVolumeClaim Request IDs"
**What would you like to be added**: A way to perform a cluster migration and have PVCs map to the same backing data volumes that they did in the previous cluster (without the need to backup/migrate the k8s PersistentVolume objects that were dynamically created).

**Why is this needed**: The following scenario:

You want to migrate stateful workloads to a new cluster (planned or unplanned)...

1.

[2020-11-04 19:28] msau42 commented on #96225
I wasn't 100% sure on data populators. Because it shouldn't have a dependency on CSI right?

[2020-11-04 19:31] aramase commented on #94862
I can help take a look at this one

[2020-11-04 19:32] msau42 commented on #96225
I guess even if data populators does support intree volumes, pv controller should ignore it similar to csi provisioner

[2020-11-04 19:33] xing-yang commented on #96225
It may or may not have a dependency on CSI.  Design is still in progress.  We can leave it out for now until we know exactly how to use it.  One thing I know is that the any volume data source cannot be an in-tree k8s resource.

[2020-11-04 19:34] xing-yang commented on #96225
Yes, we can actually just ignore it in pv controller.

[2020-11-04 19:44] #95370 closed

[2020-11-04 20:20] viju2008 opened #96232 "Adding the host's trusted certificates or /etc/docker/certs.d/ to app container automatically"
**What would you like to be added**:

**Why is this needed**:

Currently i have 50 pods and 20 services. I have to add a trusted CA certificate internal to all these pods.

However in the present scenario I will have to create a configmap and add it to all the Yaml file and redeploy them

If Kubernetes pods could directly pick from the  /etc/docker/certs.d/ as they containers will be spawned by do

[2020-11-04 20:23] adtac opened #96233 "APF metrics: use snake_case for metric labels instead of camelCase"
**What would you like to be added**: API priority and fairness metrics have labels such as "priorityLevel" and "flowSchema". These should be "priority_level" and "flow_schema" respectively. These metrics have been added to an exception list:

https://github.com/kubernetes/kubernetes/blob/396b90f06ca29c754a81eb6c03cff50b7d9bf265/staging/src/k8s.io/component-base/metrics/testutil/promlint.go#L36-L39

[2020-11-04 20:24] chrishenzie opened #96234 "Clean up / remove suffixes from generated StorageClasses and VolumeSnapshotClasses in E2E tests"
**What would you like to be added**:
Suffixes for generated `StorageClass` and `VolumeSnapshotClass` objects can be removed since they already have randomly generated names.
https://github.com/kubernetes/kubernetes/blob/396b90f06ca29c754a81eb6c03cff50b7d9bf265/test/e2e/storage/testsuites/driveroperations.go#L76

**Why is this needed**:
This is a small cleanup to remove an argument that isn't neede

[2020-11-04 20:31] chrishenzie commented on #96234
/sig storage

[2020-11-04 20:37] grebois commented on #60807
Just copy and paste in your terminal

[code]

[2020-11-04 20:49] dashpole commented on #68522
I opened https://github.com/kubernetes/enhancements/pull/2130, which we can use as a place to discuss concerns around removing the cAdvisor json endpoints.

[2020-11-04 20:58] sfph commented on #83242
/remove-lifecycle stale

[2020-11-04 21:02] dims commented on #70082
for the record: https://github.com/etcd-io/etcd/blob/master/Documentation/faq.md#what-does-the-etcd-warning-apply-entries-took-too-long-mean

[2020-11-04 21:23] ashokbanerjee commented on #52172
Is this being worked on? I think we are hitting this issue.

[2020-11-04 21:25] #95280 closed

[2020-11-04 21:25] #94498 closed

[2020-11-04 21:25] #95920 closed

[2020-11-04 21:33] derekwaynecarr commented on #53533
I put swap on the agenda to see if there is community appetite or volunteers to help push this forward in 1.21.  I have no objection to supporting swap as I noted in 2017, it just needs to make sure not to confuse kubelet eviction, pod priority, pod quality of service, and importantly pods must be able to say if they tolerate swap or not.  All these things are important to ensure pods are portable

[2020-11-04 21:37] ahg-g commented on #96233
yes, lets do that.

[2020-11-04 21:55] rikatz commented on #96222
Apparently this is related to https://github.com/kubernetes/kubernetes/pull/96116

/cc @aojea

[2020-11-04 21:57] rikatz commented on #96222
@aojea if you're busy and want me to take a look tomorrow you can assign that to me and I can deep dive into what's missing/happening :)

Happy to help and to understand better the flakiness life

[2020-11-04 21:59] aojea commented on #96222
so, the test adds a "fake" external IP that should be nated to the service endpoint
It went through the CI, more details in the issue I opened explaining the test
https://github.com/kubernetes/kubernetes/issues/95785

[2020-11-04 22:15] thejoycekung commented on #96168
Thanks @alculquicondor for logging this - I'm going to add this to the CI signal board as well. This is also currently failing for `periodic-bazel-test-master`

[2020-11-04 22:22] aojea commented on #96222
ok, this is interesting

the test is failing when using container runtime DOCKER
https://k8s-testgrid.appspot.com/google-gce#gce-ubuntu-master-default

https://github.com/kubernetes/test-infra/blob/fbee53880054ac5acfe992a58b4e35e81a19aa95/config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml#L532

[code]

the same periodic job that uses container runtime CONTAINERD (same as the PR) is working

[2020-11-04 22:34] Huang-Wei commented on #95887
I rethink @fabiokung 's original problem a little bit: the original racing issue occurs when reading CycleState in in-tree plugins, this indicates one of the (out-of-tree) plugins is (over)writing the most high-level value of the CycleState map. But if we control the locking inside the out-of-tree plugin, and mutate that particular `CycleState[key]` **in-place**, that would be good enough?

https:

[2020-11-04 22:46] aojea commented on #96222
one diff between the working jobs with containerd and the failing ones with docker is that the failing ones use this part of the code

[code]

[2020-11-04 23:04] aojea commented on #96222
@aramase IIRC you are using kubenet for azure jobs, are you using docker as runtime, can you please check if this tests fails there too?

[2020-11-04 23:06] cgwalters commented on #75482
We're hitting this in OpenShift too, see https://bugzilla.redhat.com/show_bug.cgi?id=1884053 - basically we're exposing dns via a damonset + service, and if we don't delete the pod the endpoint can appear incorrectly active.

I think the simplest implementation of this should be that things like the aws termination handler (and the MCO) send SIGTERM to kubelet; that should in turn involve sending

[2020-11-04 23:15] eddiezane commented on #96168
Failures started 2020-11-02

https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=--%20Test%20timed%20out%20at

[2020-11-04 23:47] #93988 closed

[2020-11-05 00:13] virt0uz opened #96240 "OCI runtime create failed: container_linux.go:349: starting container process caused "process_linux.go:449:"
Hi,

Current stack

[code]

We are randomly getting the following error for some of our pods running in our Kubernetes cluster

`Message:      OCI runtime create failed: container_linux.go:349: starting container process caused "process_linux.go:449: container init caused \"rootfs_linux.go:58: mounting \\\"/var/lib/kubelet/pods/5c856f54-4a70-49de-9b12-d4a15e12af11/volume-subpaths/lan-truststore/ph

[2020-11-05 00:20] chrishenzie commented on #96234
/remove-kind feature
/kind cleanup

[2020-11-05 00:22] chrishenzie opened #96241 "Rename StressTestOptions to VolumeStressTestOptions"
**What would you like to be changed**:

**Why is this needed**:

[2020-11-05 00:31] chrishenzie commented on #96241
/sig storage
/kind cleanup

[2020-11-05 00:35] #94273 closed

[2020-11-05 00:49] lavalamp commented on #96065
In the meeting earlier today, the SIG more or less decided to a) add a warning header and b) dedup without failing requests.

Deduping should be over the entire entry, not just the UID field.

[2020-11-05 00:56] s-ito-ts commented on #94230
@Huang-Wei Thank you for your reply.
I seem to have seen the old code.

Please let me ask one more thing.
It seems that there are still some similar codes in the latest code.

https://github.com/kubernetes/kubernetes/blob/6a3fd8f3d71e756f4231b610fb1d404abb100119/test/integration/scheduler/framework_test.go#L252-L253

https://github.com/kubernetes/kubernetes/blob/6a3fd8f3d71e756f4231b610fb1d404abb1

[2020-11-05 00:57] lavalamp commented on #94278
@yliaog can you look and find an owner?

[2020-11-05 01:20] scr-oath opened #96242 "HPA scheduling implementation doesn't scale well with custom/external metrics - all checks are sequential by one goroutine"
**What happened**:
I created an external metric that took roughly 100ms; then to see what happened if there were many of them, I created 1,000 HPAs using it.  Usually every HPA checks every 15s, but this resulted in each HPA check checking every 120 seconds - a drift/delay of over 100 seconds.

**What you expected to happen**:

- Each HPA with a custom/external metric should only drift by maximum

[2020-11-05 01:24] scr-oath commented on #96242
/sig autoscaling

[2020-11-05 01:53] robscott commented on #85572
/remove-lifecycle stale

[2020-11-05 02:02] jayunit100 commented on #95879
Ok. I guess I can try to get this codified into the docs page unless someone beats me to it

[2020-11-05 02:07] jicki commented on #89898
@yuripastushenko  Hello is now the problem solved?

[2020-11-05 02:11] #96210 closed

[2020-11-05 02:26] kskewes commented on #85643
I'm pretty sure this also applies to us on AWS (and maybe other providers) so should we also label per `/area provider/aws` ?

[2020-11-05 03:34] liggitt opened #96243 "[Flaky test] data race panic in k8s.io/apiserver/pkg/server/filters.TestApfExecuteMultipleRequests"
**Which jobs are flaking**:

pull-kubernetes-bazel-test

**Which test(s) are flaking**:

`k8s.io/apiserver/pkg/server/filters`

**Testgrid link**:

* https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test&include-filter-by-regex=k8s.io%2Fapiserver%2Fpkg%2Fserver%2Ffilters&width=5

**Reason for failure**:

[code]

**Anything else we need to know**:
- This just started in

[2020-11-05 03:51] yue9944882 commented on #96243
@liggitt it will be fixed by https://github.com/kubernetes/kubernetes/pull/96244

[2020-11-05 03:57] fabiokung commented on #95887
Case 3 is how I am working around the problem today to avoid the race. I write a "data bag" once into `CycleState's` top level in `PreFilter`, then only modify my own inner structure (with proper locking) in `Filter`, without doing any further modifications to `CycleState` directly (top level) in `Filter`.

That is acceptable, but I'd encourage you to consider making the interface (and documentati

[2020-11-05 04:27] MikeSpreitzer commented on #96168
This looks like #96243 , fixed by #96244 .

[2020-11-05 04:29] andrewsykim commented on #96203
Upgrading 3 minor versions is not supported.

[2020-11-05 04:37] MikeSpreitzer commented on #96233
/triage accepted
Yes, we do not want to go to beta with known wrongness in the metrics.

[2020-11-05 04:46] #92785 closed

[2020-11-05 05:02] MikeSpreitzer commented on #96119
Bug fixes we need in beta:
- #96244 fix races recently introduced in test
- #96236 fix metric labels
- https://github.com/kubernetes/website/issues/24895 fix doc of metric labels

[2020-11-05 05:10] daxmc99 commented on #15128
A workaround, for now, would be to observe the actual values in code.
The `ToSelectTableFields` functions inside the various `strategy.go` files provide some hints.
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/pod/strategy.go#L233

You can search for them here https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/kubernetes/kubernetes%24+ToSelectableFields&patternType=li

[2020-11-05 05:59] thockin commented on #93545
So as much as I wanted to fix this "properly", I reluctantly agree that, in general, we probably don't want to demand that all controllers support N-1 apiservers right now.  I think your fix is correct, and it seems to be what ~everyone does.

[2020-11-05 05:59] #93545 closed

[2020-11-05 06:00] 447806664 commented on #54918
my kubernetes and kubeadm is v11.19.2 on centos 8 fixed the problem by follow steps:
1） first find exception pod check exception information：
list all pods by execute：kubectl get pods -n kube-system
check exception information, replace pod name by self：kubectl describe pod coredns-6c76c8bb89-hk5xg -n kube-system

2）create file and write content：（after execute this command，coredns changed to contai

[2020-11-05 06:07] chymy commented on #96203
The upgrade was successful, but it took 10-20 minutes to delete the old pod and create a new one

[2020-11-05 06:23] #96155 closed

[2020-11-05 07:06] Huang-Wei commented on #95887
Thanks for confirming that. Yes, documenting it, or(and) publishing examples would be quite helpful to clarify the semantics.

As a wrap-up:

- a keyed value can be read from CycleState, literally `cycle_state.go#Read()`, in any phase. It's always race-free.
- if you want to mutate the top-level keyed value in CycleState,
    - if it's a phase that CycleState is accessed consecutively, such as Pre

[2020-11-05 07:09] lingsamuel commented on #92615
Still can't repro, I have 1400 ExternalName and 2900 ClusterIP now.

A potential slow startup reason is the container entrypoint trying to manipulate/scan env vars, such as `bitnami/postgresql`, it does start slower (0/1 Running to 1/1 Running) than normal. Is your test image do such thing?

[2020-11-05 07:10] Huang-Wei commented on #95887
For now, I think the documentation is correct, it clearly says Read() and Write() are not thread-safe:

https://github.com/kubernetes/kubernetes/blob/8bdd10b7d73cb0d705b895e0c9a5646dfbb19a24/pkg/scheduler/framework/cycle_state.go#L87-L90

The key thing here is whether in-tree plugin should use RLock/RUnlock or not. If yes, out-of-tree plugins can be freed to use Lock/Unlock. (see the TBD item in t

[2020-11-05 07:16] FrimIdan commented on #92697
@khenidak I understand that the IP was recycled, I just think that the Completed pod should be updated with an empty IP since it doesn't use this IP anymore. WDYT?

[2020-11-05 07:54] #91887 closed

[2020-11-05 08:04] fabiokung commented on #95887
I like the TBD, and optimizing for correctness in how in-tree plugins are accessing `CycleState`. I understand the concern with synchronization overhead, but I would be really surprised if it is the bottleneck in scheduling code.

[2020-11-05 08:07] Lion-Wei commented on #95750
Hi, I'm talking about bare metal case, and there are more than 300 container in one node, the runtime state is just fine, but node stuck in notready.

I think parallelize this step is necessary, and we need  limit the parallelism.

[2020-11-05 08:20] aojea commented on #95258
I 've added verbosity for conntrack operations recently https://github.com/kubernetes/kubernetes/pull/95694, it will be available  in 1.20 :shrug:

Anways, try to find the cni config, you should see the configuration options in the kubelet logs, it prints it when it is starting

[code]
in this case, you should have a file in `/etc/cni/net.d` and we can try to figure out if you are using the CNI po

[2020-11-05 08:33] joonghyunlee commented on #76928
Unlike AWS Network Load Balancer, HAProxy can't preserve client IP without proxy-protocol. I also have tried to find a solution to inject "X-Forwarded-For" into HTTPS requests using HAProxy. But it looks impossible.

[2020-11-05 08:33] lingsamuel commented on #96240
Duplicate #61545?

[2020-11-05 09:07] mamiu commented on #68737
@evgmoskalenko

This isn't working if the StatefulSet is managed by an operator.

[2020-11-05 09:08] mysunshine92 commented on #84426
/reopen

[2020-11-05 09:16] chendave opened #96252 "`scheduler_perf` should be able to collect the data for the metric of `framework_extension_point_duration_seconds`"
**What would you like to be added**:
run `scheduler_perf` got the below error message,

[code]

We should provide the metric data for different extension points from the metric of "scheduler_framework_extension_point_duration_seconds"

**Why is this needed**:
Those metrics have been removed by this commit - https://github.com/kubernetes/kubernetes/pull/94884
Those metrics are deprecated cause it i

[2020-11-05 09:27] aojea commented on #95785
so, it seems that this work in some environments because they are not using the bridge plugin

https://github.com/kubernetes/kubernetes/blob/e0a51c9e6b4881df78e046d9c6daf4e6f2a11f78/pkg/proxy/iptables/proxier.go#L1135-L1141

[2020-11-05 09:29] zzbmmbzz opened #96254 "NodePort Connection Refused"
I tried to config NodePort but could not access to service and getting `Connection Refused`
[code]

I checked that svc Nodeport on kubeclt and on node:
![image](https://user-images.githubusercontent.com/41033532/98221509-4c39d480-1f82-11eb-9d47-fa4705c60791.png)
![image](https://user-images.githubusercontent.com/41033532/98222040-ed288f80-1f82-11eb-86b7-f2af66d9ac8f.png)

As I checked on kube-prox

[2020-11-05 09:33] Tcooop opened #96256 "k8s kubelet certificate rotation doesn't work | The currently active client certificate has expired, but the server is not responsive"
i follow the official document
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/#token-authentication-file
to set a certification auto rotation on my cluster

**What you expected to happen**:
all steps have follow and when i change my cluster node time , kubelet log is show below:
`
 restart may be necessary to retrieve new initial credentials.
Nov 11 00:

[2020-11-05 09:34] aojea commented on #96222
The problem happens on environment that are using the bridge plugin, seems I got wrong the feature
https://github.com/kubernetes/kubernetes/issues/95785#issuecomment-722255763
will revert until we have the right test.

[2020-11-05 09:35] zzbmmbzz commented on #96254
/sig network

[2020-11-05 09:42] tosi3k commented on #95955
@knight42 @Random-Liu the submission of #96050 hasn't fixed the problems, unfortunately :/.

Sample failing run: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-npd-e2e-node/1324222964127764480

We still have some peculiar problem related to health checking:
[code]

and now NPD panics, too:
[code]

[2020-11-05 10:12] chrischdi commented on #91023
/close

closing for now, issue did now not happen for a while on kubernetes v1.18 or v1.19

[2020-11-05 10:12] #91023 closed

[2020-11-05 10:44] wawa0210 commented on #96183
/triage accepted

[2020-11-05 10:46] #95297 closed

[2020-11-05 10:57] #91892 closed

[2020-11-05 11:10] Darren-wh commented on #75394
The kubectl apply -f  command also can't remove sevice port or containers port.

[2020-11-05 11:15] harche commented on #95357
@karan it indeed seems to be fixed. I had 3 runs of node e2e using Fedora CoreOS as host and that test passed all the time.

[2020-11-05 11:27] willemodendaal commented on #8876
@kvaps, I could kiss you!
I've been trying to get VSCode to attach a debugger to a running Kubernetes pod for two days now. It's tricky because all the documentation shows you need to specify the container name in the launch configuration file, but the container names in K8s are somewhat dynamic, so that doesn't work (eg. [this article](https://blog.avenuecode.com/debugging-remote-containerized-ap

[2020-11-05 11:30] chenyw1990 opened #96259 "kube-apiserver will leak cacheWatcher when time jump to the future and jump back"
**What happened**:

kube-apiserver will leak cacheWatcher when time jump to the future and jump back。

In telecom application scenarios, We expect kubernetes to work properly when time changes.

It is found that when the time of the node where kube-apiserver resides changes to the future for several minutes and change back, memory leak occurs on kube-apiserver.

before time change
![image](https:/

[2020-11-05 11:31] chenyw1990 commented on #96259
/sig api-machinery

[2020-11-05 11:32] chenyw1990 commented on #96259
/assign @chenyw1990
I will fix it

[2020-11-05 11:40] AlphaWong commented on #65013
@dictcp

[2020-11-05 11:50] harche commented on #95343
The failure for this test on Fedora CoreOS is different when run in isoation vs run as a part of node conformance test suite pointing towards some race conditions.

When I run this single test I get following failure,

[code]

But when I run this test along with all other node conformance tests, this test fails with following error,

[code]

[2020-11-05 12:05] knight42 commented on #95955
@tosi3k Thanks for your report, I believe the reason is `ServiceAccount ` admission controller has been disabled in node e2e tests:
https://github.com/kubernetes/kubernetes/blob/4364ef62062d3d18b0a0cec117af9620f8a896ff/test/e2e_node/services/apiserver.go#L64
We need to figure out a new approach now.

/reopen

[2020-11-05 12:15] nevergone-sc commented on #89903
hitting the same issues, any clue?

[2020-11-05 12:17] shivakumargn commented on #96200
Is this a whereabouts IPAM specific issue ? Since

[2020-11-05 12:21] cpanato commented on #95538
@cofyc hello! the fix you made only apply for 1.18? how about 1.19 and 1.17?
thanks!

[2020-11-05 12:22] AndRemiller6 opened #96260 "destroy the specific pod"
destroy the specific pod

[2020-11-05 12:25] #96260 closed

[2020-11-05 12:28] cofyc commented on #95538
after the fix on the master branch (https://github.com/kubernetes/kubernetes/pull/95541) is merged, I'll cherry-pick it into the 1.19 branch (the code are almost the same).

I'm not sure if it's necessary to fix the 1.17 branch. It's 3 versions behind 1.20.

[2020-11-05 12:33] verb opened #96261 "kubectl debug setting images without specifying container name returns error"
**What happened**:

Using `kubectl debug --set-image` without specifying `--image` should modify existing container images without trying to create a new one. Instead it tries to create a new container and returns an error that `--image` isn't set:

[code]

**What you expected to happen**:

This command should change all container images to `ubuntu` instead of returning an error.

/sig cli
/kind b

[2020-11-05 12:34] verb commented on #96261
/assign @verb
/triage accepted

[2020-11-05 12:41] knight42 commented on #95955
filed #96262. I hope we could completely address this issue this time.

[2020-11-05 12:44] jc-lab opened #96263 "kube-apiserver Error: context deadline exceeded"
**What happened**:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

When there are 2 control plane nodes, when the first node dies, the kube-apiserver of the second node always also dies with an error similar to the above.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud

[2020-11-05 12:51] ravens commented on #96174
@aojea tentative PR #96251

[2020-11-05 14:04] TothFerenc commented on #96200
No. For few seconds Whereabouts fails to provide an IP because the pool is depleted. But that circumstance gets resolved by Pod termination, which releases an IP.
The problem is that Kubernetes does not retry the CNI operation, if it fails for the first time.

[2020-11-05 14:16] BenTheElder commented on #96086
This was fixed
/close

[2020-11-05 14:17] #96086 closed

[2020-11-05 14:31] alculquicondor commented on #96168
Probably, I'll leave it up to you to dedup.

[2020-11-05 14:36] alculquicondor commented on #95887
It can be, when you have 5k-nodes clusters, or bigger.

[2020-11-05 14:41] duritong commented on #75175
I can confirm this is still an issue in k8s 1.18.3.

Situation: We have a working intree cloud provider config, with the credentials in a secret. It works to attach volumes in the cluster.

As soon as you try to follow official vmWare documentation https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/zones.html to enable Zone Support by adding the following 3 lines:

[code]

The k

[2020-11-05 14:53] mattmoor commented on #92615
No, this was a pretty trivial Go HTTP server on GKE.

[2020-11-05 15:15] aseemk98 commented on #37932
Hi, I am facing something similar to all the previous comment. One difference being that only 1 of my pods is serving all the incoming requests. I am also using a default ip-tables  proxy mode. My service does have 2 endpoints (for 2 pods) and both of them are ready but all the requests are routed to a single pod. Here's my deployment config:
[code]

[2020-11-05 15:32] distributethe6ix commented on #41881
@cmluciano Were you able to find out if this was possible? It looks like both @johnreytanquinco & @deitch are looking for a wildcard capability on the "top-level-domain". I don't see this anywhere in the Ingress documentation for Kubernetes.
The docs say we can set a wildcard for the subdomain not not domain or TLD.

https://kubernetes.io/docs/concepts/services-networking/ingress/#hostname-wildcar

[2020-11-05 16:02] #91903 closed

[2020-11-05 16:07] ultrafez commented on #68251
As far as I can see, it doesn't seem possible to assign custom labels to pods created by Jobs when they're defined in YAML either.

[2020-11-05 16:14] #92848 closed

[2020-11-05 16:14] jpbetz commented on #92848
This is done.

[2020-11-05 16:22] thockin commented on #37932
Is this about internal "clusterip" requests or external load-balancer
requests?  What are your clients?  Multiple apps or a load-tester? Are
you re-using connections (some HTTP libs will do this without telling
you).

On Thu, Nov 5, 2020 at 7:15 AM Aseem Kannal <notifications@github.com> wrote:

[2020-11-05 16:46] karan opened #96272 "Failing ci-npd-e2e-node: NodeProblemDetector [NodeFeature:NodeProblemDetector]"
Similar to #95357

**Which jobs are failing**: ci-npd-e2e-node

**Which test(s) are failing**:

[code]

**Since when has it been failing**: 2020-10-23 11:08 PST

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-node-node-problem-detector#

**Reason for failure**: Unclear at the moment

**Anything else we need to know**: It will block all PRs in https://github.com/kubernetes/node-problem-det

[2020-11-05 16:47] karan commented on #96272
/sig node

[2020-11-05 16:47] karan commented on #96272
/triage accepted

[2020-11-05 16:54] karan commented on #96272
[code]

[2020-11-05 16:55] karan commented on #95357
@harche The node npd grid still shows it as failing (#96272)

[2020-11-05 17:09] msau42 commented on #89312
cc @kubernetes/sig-storage-feature-requests

[2020-11-05 17:09] karan commented on #96272
Looks like a dupe of #96262

[2020-11-05 17:09] #96272 closed

[2020-11-05 17:10] aramase commented on #96222
@aojea We use kubenet only for IPv6 and dualstack jobs. Rest of the tests use Azure CNI. Default is docker runtime for all jobs.

[2020-11-05 17:25] khenidak commented on #92451
Your issue can be explained as the following. for `I requested IPv4 but got IPv6` situation, this is due to disabled feature gate. Without feature gate the cluster operates only on the first serviceCIDR (in your case it was `IPv6` cidr) so it allocated a ClusterIP from that `IPv6` cidr. Please do note that any field related to disabled feature gate will be automatically dropped (e.g. not used in a

[2020-11-05 17:26] #96222 closed

[2020-11-05 17:27] harche commented on #95343
In my test setup I noticed that [these values](https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/google/cadvisor/info/v2/conversion.go#L137-L138) end up being 0, and that causes the test to fail. Just to verify, I hard coded a value greater than 1000 there (because what the test case is expecting) and the test started passing.

I will investigate more on why the values coming

[2020-11-05 17:30] vineelyalamarthy commented on #95307
/assign

[2020-11-05 17:31] ruiwen-zhao commented on #95970
The error comes from cadvisor ([code](https://github.com/google/cadvisor/blob/bf8fe422ed25ff8046db89b866ca4e1df336f165/info/v2/conversion.go#L247)). It looks like an issue regarding how the CPU usage is measured. Would it make more sense to open an issue there?

[2020-11-05 17:31] eddiezane commented on #95000
Is this a duplicate of https://github.com/kubernetes/kubernetes/issues/94223?

[2020-11-05 17:32] harche commented on #95357
@karan interesting, I had several runs in last few hours and on Fedora CoreOS the test didn't fail at all. But looking at the failures you are seeing, I will reopen the issue.

[2020-11-05 17:32] khenidak commented on #92697
I see your point. One can make the argument that completed pod api object is a snap shot of historical event along with it is ports, logs and so forth. Lifecycle wise the IP gets assigned to pod and stay with it for the rest of its life.

[2020-11-05 17:38] msau42 commented on #92877
/close
0.5 release is not supported anymore and the job has been removed.

[2020-11-05 17:39] #92877 closed

[2020-11-05 17:47] khenidak commented on #90996
/remove-triage unresolved.

This is more of a question now. Not a bug. Not sure how to label it.

@Urvik08 if your deployment size == 1 then it will remain 1 as it moves to a different node.

[2020-11-05 17:49] marosset commented on #94017
/close

we have tests at
- https://testgrid.k8s.io/sig-windows-containerd#aks-engine-azure-windows-2004-master-containerd-hyperv
- https://testgrid.k8s.io/sig-windows-containerd#aks-engine-azure-windows-master-2004-containerd-hyperv-serial-slow

[2020-11-05 17:49] #94017 closed

[2020-11-05 17:53] marosset commented on #88974
These tests are mostly clean now with the exception of 2 gcepd volume expansion tests.
@jingxu97 can you take look at these failures?

[2020-11-05 17:57] marosset commented on #95704
SIG-Windows leads have looked at this issue and determined that we do not have cycles to work on this.
If you are interested in contributing here reach out to the SIG-Windows community and we can help you get started.

[2020-11-05 18:39] roycaihw commented on #95958
Yes. Sorry I was going to send the PR but got distracted.

[2020-11-05 18:39] mvukadinoff commented on #92864
/remove-lifecycle rotten

[2020-11-05 18:40] mvukadinoff commented on #92864
/remove-lifecycle stale

[2020-11-05 18:50] ehashman commented on #95307
Glad to see lots of interest on this issue!

@changshuchao @suramrit @ITonyLi @leilajal @vineelyalamarthy please note that @JornShen has already submitted a PR for this issue and discussion on the implementation is happening there: #95429

We do not need additional contributors for this at this time.

/remove-help

[2020-11-05 18:53] #96261 closed

[2020-11-05 18:59] aubm commented on #93100
@zhouya0 pkg/cmd/create/create_priorityclass.go done 🙂

[2020-11-05 19:26] roycaihw commented on #95958
sent https://github.com/kubernetes/website/pull/24911

[2020-11-05 19:54] neolit123 commented on #95959
hi, please log this ticket in the kubernetes/minikube repository.
this one is for core k8s.

thanks
/close

[2020-11-05 19:54] #95959 closed

[2020-11-05 19:56] neolit123 commented on #96240
/sig storage

[2020-11-05 20:01] neolit123 commented on #96263
2020-11-05T12:27:00.92899237Z stderr F Error: context deadline exceeded

2379 is an etcd port, so i suspect your etcd cluster is losing quorum from going from 2 -> 1.

if you want to have multiple control-plane nodes that run etcd instances you should have 1,3,5...
see the section "What is failure tolerance?" here:
https://etcd.io/docs/v3.3.12/faq/

for more questions please use the support channe

[2020-11-05 20:01] neolit123 commented on #96263
/kind support

[2020-11-05 20:02] #96263 closed

[2020-11-05 20:02] neolit123 commented on #96230
/sig storage

[2020-11-05 20:03] neolit123 commented on #96232
this seems out of scope for core k8s, but deferring to these SIGs to provide feedback:
/sig node auth

[2020-11-05 20:04] neolit123 commented on #96256
hi, this appears to be a request for support. please use the support channels instead:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close
/kind support
/remove-kind bug

[2020-11-05 20:05] #96256 closed

[2020-11-05 20:18] adtac commented on #93795
/remove-lifecycle stale

[2020-11-05 20:19] adtac commented on #93794
/remove-lifecycle stale

[2020-11-05 20:19] adtac commented on #93792
/remove-lifecycle stale

[2020-11-05 20:19] velmafia commented on #74551
I have similar problem, this occurs in azure k8s cluster(client: v1.19.3, server: v1.17.3) and in local `kind` cluster (client: v1.19.3, server: v1.19.1).
It's looks very similar like @ysimonson suggestion [here](https://github.com/kubernetes/kubernetes/issues/74551#issuecomment-476418180). And (I guess) its related with http streams.

Problem occurs when you stop downloading webpage/file during t

[2020-11-05 20:20] adtac commented on #93760
/remove-lifecycle stale

[2020-11-05 20:55] thockin commented on #95587
I Just re-read this and the context and I still hate it all.  The only good answer is to not hash blindly.  I don't know where that code is or whether it could be easily fixed (or fixed at all).  I guess we could try to not call defaults on embedded PodSpecs (or to minimize anyway)

@liggitt @lavalamp who else can we drag in on this?  I think we are now (or will soon be) blocking PRs and features.

[2020-11-05 21:07] #91916 closed

[2020-11-05 21:13] #94230 closed

[2020-11-05 21:14] fedebongio commented on #96070
/assign @yliaog
/triage accepted

[2020-11-05 21:17] fedebongio commented on #96085
/remove-sig api-machinery

[2020-11-05 21:20] fedebongio commented on #96104
We just triaged this one.
Short answers: yes, we should remove it. Can be a good issue to try out yes. Adding Sig apps to see what their thoughts are.
/sig apps

[2020-11-05 21:21] fedebongio commented on #96107
/assign @roycaihw
/triage accepted

[2020-11-05 21:23] fedebongio commented on #96147
/sig network
some discussion during triage, it feels we can't change this right now, may break some clients.

[2020-11-05 21:23] fedebongio commented on #96147
/cc @thockin

[2020-11-05 21:24] fedebongio commented on #96168
/triage accepted

[2020-11-05 21:25] fedebongio commented on #96209
This sounds like a topic for api reviewers, not api-machinery
@kubernetes/api-reviewers
/remove-sig api-machinery

[2020-11-05 21:26] fedebongio commented on #96243
/triage accepted

[2020-11-05 21:26] roycaihw commented on #95966
/remove-sig api-machinery

I think sig auth owns both the definition of Kubernetes request verb (given this [doc](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#determine-the-request-verb) falls under auth), and the implementation of how audit log collects the verb from request info.

[2020-11-05 21:26] fedebongio commented on #96259
/cc @wojtek-t
/triage accepted

[2020-11-05 21:27] liggitt commented on #96209
probably better tracked in https://github.com/kubernetes/website/issues/18675 or https://github.com/kubernetes/website/issues/20617

[2020-11-05 21:31] qiutongs commented on #96090
Is it possible that the node is unreachable? According to [k8s doc](https://kubernetes.io/docs/tasks/run-application/force-delete-stateful-set-pod/#delete-pods), Kubernetes (versions 1.5 or newer) will not delete Pods just because a Node is unreachable. The Pods running on an unreachable Node enter the 'Terminating' or 'Unknown' state after a timeout.

Also, here is a similar long-going issue: htt

[2020-11-05 21:54] roycaihw commented on #96107
@pacoxu please use `"ownerReferences":null` to delete the list. I tried `kubectl edit` and it did the same.

xref: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md

[code]

/close

[2020-11-05 21:57] lavalamp commented on #96082
Why do you say that paginated lists add to the memory pressure of etcd?

Solutions to this problem:

* There's a way to invoke WATCH which first streams everything gotten from a list, which sounds like what you're asking for (although it's probably not memory efficient in apiserver) (also it's not very controllable so I don't recommend it).
* APF will offer a way to limit the number of concurrent

[2020-11-05 21:57] #96082 closed

[2020-11-05 22:02] aojea commented on #96174
/assign @ravens
/triage accepted

[2020-11-05 22:05] otterley commented on #57250
This feature is now available via the new [AWS Load Balancer Controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller) version 2.0 and later for IP mode targets.

To enable it, set the following annotation on your service:

[code]

[2020-11-05 22:09] atzawada opened #96283 "Allow for multiple crontab expressions in a single CronJob"
I would like to see the kubernetes cronjob template allow for accepting multiple crontab expressions in an array, so that the same job definition can be used on multiple schedules. This would promote reuse of code by preventing the need to create multiple cronjob definitions for the same action solely based on schedule. I have several cronjobs that run on multiple different schedules even though t

[2020-11-05 22:10] atzawada commented on #96283
/sig apps
/sig architecture

[2020-11-05 22:10] rdxmb opened #96284 "allow options when creating volumes with nfs"
**What would you like to be added**:

Within NFS volumes defined in pods, I miss a key to add mount options like

[code]

like there is a key `mountOptions:` in https://kubernetes.io/docs/concepts/storage/persistent-volumes/#persistent-volumes

**Why is this needed**:

Actually, when mounting external NFS-Data within a pod, the NFS-client of the kubernetes-worker seems to define the NFS-version fo

[2020-11-05 22:12] rdxmb commented on #96284
/sig storage

[2020-11-05 22:25] #95969 closed

[2020-11-05 22:49] zebambam commented on #77508
I would also like to just add a label to a pod and have that count against that label's quote across all namespaces. This is because we're creating workers at the request of another application, and the labels are stamped by that application. Don't want to allow any single user to over-use our compute resources.

[2020-11-05 23:16] #95538 closed

[2020-11-05 23:28] bobbypage opened #96287 "[1.20] Cut and vendor new cAdvisor release v0.38.0"
For each kubernetes release, we need to cut a new cadvisor release and vendor it back into k/k. This issue will track cutting new cadvisor release (v0.38.0) and vendoring it back into k/k for 1.20 release.

[2020-11-05 23:30] bobbypage commented on #96287
/sig node
/kind bug
/cc @dashpole @dims

[2020-11-05 23:30] bobbypage commented on #96287
/milestone v1.20

[2020-11-05 23:31] ruiwen-zhao commented on #96044
Yes you are right, the doc on qos (https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/) does not mention anything about init containers. However, the doc on [Init Contianers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#resources) does mention it:

I guess one thing we could improve here is to mention that init containers on our QoS doc.

[2020-11-05 23:33] ruiwen-zhao commented on #96044
/assign ruiwen-zhao

[2020-11-05 23:35] dashpole commented on #96287
/milestone v1.20

[2020-11-05 23:42] Huang-Wei commented on #94230
@s-ito-ts Reserve and PostFilter plugins are executed sequentially, so it's fine to leave the counter as is.

[2020-11-06 00:01] thockin commented on #95785
Wow, this is ancient and needs some fixing.  This is not about preventing pod traffic from reaching those IPs.  I had to really stare at it, and I am not 100% in my interpretation.

First, we recognize such traffic from "off machine" (!physdev-is-in &&  !src=LOCAL, which we should probably switch to localDetector) and steer it to the Service.

Second, we recognize ANY such traffic that is destined

[2020-11-06 00:02] thejoycekung opened #96288 "[Failing Test] [sig-node] SetHostnameAsFQDN tests are failing (ci-kubernetes-node-kubelet-features)"
**Which jobs are failing**:
`node-kubelet-features-master` / `ci-kubernetes-node-kubelet-features`

**Which test(s) are failing**:

- `Hostname of Pod [Feature:SetHostnameAsFQDN][NodeFeature:SetHostnameAsFQDN] a pod with subdomain field has FQDN, hostname is shortname [cos-stable1, cos-stable2, ubuntu]`
- `Hostname of Pod [Feature:SetHostnameAsFQDN][NodeFeature:SetHostnameAsFQDN] a pod with subdom

[2020-11-06 00:04] yliaog commented on #96070
InClusterConfig is used for running inside cluster use case, when running outside cluster, please use something like the following:

config, err = clientcmd.BuildConfigFromFlags("", *kubeconfigPath)

then use: clientset, err := kubernetes.NewForConfig(config)

or: client, err := dynamic.NewForConfig(config)

[2020-11-06 00:20] postmasters opened #96289 "Better messaging when `gcloud` needs to re-authenticate"
**What would you like to be added**:

A better message in case `gcloud` requires re-authentication.

**Why is this needed**:

The current error message is:

[code]

I think it is too verbose, and wrong (when it says "retry your command").

[2020-11-06 00:23] s-ito-ts commented on #94230
@Huang-Wei I understand.
Thank you for explaining in detail.

[2020-11-06 00:23] postmasters commented on #96289
/sig cli

[2020-11-06 00:24] thockin commented on #95712
There are two distinct problems here.

1) using a different, more flexible (e.g. allows dots) DNS schema for a different zone
2) returning different results based on client (split horizon)

I am not sure I understand the requirements on the second part well enough to comment.  The first part seems like what `External DNS` was designed to do, but maybe streamlined (the same CoreDNS instance or what

[2020-11-06 01:01] ahg-g commented on #96200
/remove-sig scheduling
/sig networking
/sig node

[2020-11-06 01:01] ahg-g commented on #96200
/sig network

[2020-11-06 01:02] ahg-g commented on #96186
/remove-sig scheduling
/sig node

[2020-11-06 01:20] ahg-g commented on #95887
I don't think it will be expensive, a rlock should be equivalent to an atomic add operation (basically it increments the number of readers). Looking up the state from the map is way more expensive.

[2020-11-06 01:23] ahg-g commented on #95887
Of course we are assuming no contention in the default plugins.

[2020-11-06 01:39] Huang-Wei commented on #95887
This is my impression as well. A vanilla version of scheduler doesn't impose write lock in Filter() and Score(), so should be good.

[2020-11-06 01:52] striver619 commented on #95279
Thank you!

[2020-11-06 01:53] pacoxu commented on #96107
![image](https://user-images.githubusercontent.com/2010320/98316630-bc456a80-2015-11eb-9d7f-6b63a3e0fa8d.png)

@roycaihw  patched but owner reference is still not removed

[2020-11-06 01:58] dims commented on #96287
@bobbypage let's make sure we have a good sync of dependencies between containerd<>runc<>cadvisor<>kubernetes<>docker/docker - basically check if all of them are the same or similar enough for us to use newest deps in k/k.

[2020-11-06 02:03] cofyc commented on #95538
hi, @ahg-g

This is because of this patch: https://github.com/kubernetes/kubernetes/pull/92846/files#diff-75e4458878912a7aef522a2eebd4928b91d7622445f2da897119450016cc8a49L96-L97

Do you think this fix needs to be cherry-picked into 1.19 and 1.18 branch too?

[2020-11-06 07:19] JoseFMP commented on #78879
Would be great if
[code]
would return a simple error in the CLI.

Our pipeline was failing for a month and none realised because all the kubectl results were green :heavy_check_mark:

[2020-11-06 07:29] krmayankk commented on #72253
@tallclair @liggitt  is that enough or do we need to somehow bring these results back to k/k CI ?

[2020-11-06 07:39] aojea commented on #95785
but the ExternalIP belongs to a service and we(kube-proxy) "knows" where to send it (to the service) , that is the part I'm not sure to understand, because whatever the user is doing with that ExternalIP it has to send it back to the cluster to reach the service. However, there is always context that is important and maybe I'm missing something.

Assuming we want to handle ALLl the ExternalIP traf

[2020-11-06 07:39] lingsamuel commented on #95204
Related PR https://github.com/google/cadvisor/pull/2444

[2020-11-06 08:01] aojea commented on #95785
/remove-good-first-issue
/remove-help-wanted

[2020-11-06 08:58] dongwangdw commented on #95204
Multiple queries is invalide now. Is there any workaroud for this? Please help. Thanks.

[2020-11-06 09:30] ncri commented on #95703
After the kubernetes update the issue has not happened again, now for over a week. Not sure if the upgrade itself, or maybe the recreating of the nodes fixed it.

[2020-11-06 09:39] gautierdelorme commented on #90128
As discussed in https://kubernetes.slack.com/archives/C0EG7JC6T/p1592287631273100 we moved from `go-openapi` to `kube-openapi` and we fixed the bug there (see https://github.com/kubernetes/kube-openapi/pull/213). The fix will be picked up by https://github.com/kubernetes/kubernetes/pull/95954.

[2020-11-06 09:40] gautierdelorme commented on #90128
/reopen

[2020-11-06 09:44] nikhita commented on #90128
/triage accepted

[2020-11-06 10:03] Aaron-23 commented on #96090
Yes, I shut down the node directly

[2020-11-06 10:15] nagasitaramthigulla opened #96298 "How to block exec into pod"
I have a user who can install and update pods in cluster.
For secrets management, we are using hashicorp vault, only the admin user has access to the vault secrets.

When vault injects the secrets we are able to see them as plain text when we exec into pod.

So i want to prevent exec to specific users in the k8s cluster.
How can I achieve that using RBAC?

[2020-11-06 10:20] #96233 closed

[2020-11-06 10:22] #90197 closed

[2020-11-06 10:44] nagasitaramthigulla commented on #96298
/sig rbac

[2020-11-06 10:45] nagasitaramthigulla commented on #96298
/sig cli

[2020-11-06 11:29] bboreham commented on #95204
@dongwangdw if you run `kube-state-metrics` see https://github.com/kubernetes/kubernetes/issues/95204#issuecomment-719445180 for an alternative metric.

[2020-11-06 11:36] javidiaz commented on #96288
Hi @thejoycekung, sorry about that, I will work on it asap. Are you aware of any difference between the CI that executes NodeFeature and NodeAlphaFeature?
FYI this other PR merged at the same time https://github.com/kubernetes/kubernetes/pull/95187

[2020-11-06 11:49] pigletfly commented on #96104
/remove-kind feature
/kind bug

[2020-11-06 11:53] pigletfly commented on #96104
/assign @liggitt @sttts  WDYT

[2020-11-06 11:56] javidiaz commented on #96288
/assign javidiaz

[2020-11-06 12:22] javidiaz commented on #96288
Somehow, the /etc/hosts of the pod does not have subdomain

`          # Kubernetes-managed hosts file.
          127.0.0.1	localhost
          ::1	localhost ip6-localhost ip6-loopback
          fe00::0	ip6-localnet
          fe00::0	ip6-mcastprefix
          fe00::1	ip6-allnodes
          fe00::2	ip6-allrouters
          172.17.0.2	hostfqdn-65330.t.hostfqdn-886.svc.	hostfqdn-65330`

I think the i

[2020-11-06 12:27] gautierdelorme opened #96303 "Eliminate dependency on go-openapi/spec"
Thanks to the work done in https://github.com/kubernetes/kubernetes/pull/95954 we should be able to completely remove the dependency on `go-openapi/spec`. It requires to bring back a few types (and related constructors) that were removed in https://github.com/kubernetes/kube-openapi/commit/73fa09a8495ec96b58cf5844be1ec467520a0541.

Refer to https://kubernetes.slack.com/archives/C0EG7JC6T/p16046598

[2020-11-06 12:28] gautierdelorme commented on #96303
/sig api-machinery
/area code-organization
/assign @gautierdelorme

[2020-11-06 12:31] javidiaz commented on #96288
Hi @spiffxp , any idea of why cluster-subdomain is empty String in e2e node tests?

These tests are failing because I made the wrong assumption that cluster-subdomain should be cluster.local by default. So I set cluster.local as the expected subdomain when framework.TestContext.ClusterDNSDomain is empty.

[2020-11-06 12:33] nagasitaramthigulla commented on #96298
/sig auth

[2020-11-06 12:34] vipinjn24 opened #96304 "Pods do not run and errors when a CIFS mounted path is used as volume"
I have a CIFS share and i have mounted it to the host using mount service units. But when i use the share for any pod, they will not run properly and errors out showing some error. I can confirm that the pod runs perfectly fine if i use normal storage.

Please help me successfully use the cifs shares with the pods persistent volumes.

here is the unit code.

[code]

Kubernetes data:
[code]

One mo

[2020-11-06 12:40] vipinjn24 commented on #96304
/sig Storage

[2020-11-06 13:07] sttts commented on #88252
I think the publishing of the "object" type must be supressed for `x-kubernetes-preserve-unknown-fields: true` fields. We have similar cases already.

Touching kubectl is not very effective, or at least it takes multiple releases to makes its way through the ecosystem.

[2020-11-06 13:50] austinorth commented on #57250
Any word on support for using Proxy Protocol _without_ IP Mode?

[2020-11-06 13:50] dims commented on #94281
@JornShen please see https://github.com/kubernetes/kubernetes/pull/89687#pullrequestreview-385257886

![image (3)](https://user-images.githubusercontent.com/23304/98373289-05dd8780-200d-11eb-8fcd-e1f5767140a9.png)

[2020-11-06 14:25] alculquicondor commented on #95887
We can always see with the benchmarks and revert if its not negligible.

[2020-11-06 14:40] troy0820 commented on #95703
@ncri is this safe to close now?

[2020-11-06 14:44] yastij commented on #96183
related to https://github.com/kubernetes/kubernetes/pull/94274

[2020-11-06 14:49] yastij commented on #96183
let's close this as a dupe of https://github.com/kubernetes/kubernetes/issues/94183

/close

[2020-11-06 14:57] ITonyLi commented on #96242
/assign

[2020-11-06 14:58] ncri commented on #95703
I guess I can close this now, yes. If this happens again can it be reopened? I would really like to know what the cause of this was.

[2020-11-06 14:58] #95703 closed

[2020-11-06 15:07] troy0820 commented on #96298
This issue describes what you would like to achieve with blocking exec/attach from pods https://github.com/kubernetes/kubernetes/issues/78741#issuecomment-499236161

[2020-11-06 15:29] pmitra43 commented on #79773
@saviogl did a newer version solve this issue for you?
I am facing this for 1.14:
[code]

[2020-11-06 15:58] #78879 closed

[2020-11-06 16:12] JornShen commented on #94281
@dims thanks for guide. I know one solution to deal with the problem inspiring from your advise.
I will take PR to try to fix it.

/assign

[2020-11-06 16:41] thejoycekung commented on #95936
going to close this in favour of kubernetes/release#1693 and kubernetes/test-infra#19483

/close

[2020-11-06 16:41] #95936 closed

[2020-11-06 17:07] BenTheElder commented on #72253
Validating a Kubernetes feature does not involve running it on every existing implementation of pluggable mechanisms / extension points. We are not for example going to run all CNI implementations
Sometime we need to run one concrete implementation in order to get a functioning cluster, but it's always about testing _the kubernetes parts_.
prow.k8s.io is eliminating any lingering projects that are

[2020-11-06 17:11] bitglue commented on #43916
I'm not intimately familiar with this referenced_memory metric, but it seems like the gist is to look at every page hit by an application over some small span?

Would that mean an application which `mmap()`s a large file to read it (once) would have a large referenced_memory? That would seem to me just another variation on the current problems: a process doing just normal and benign IO can "use" a

[2020-11-06 18:26] eddiezane commented on #96168
Confirming that this was fixed by https://github.com/kubernetes/kubernetes/pull/96229

https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=--%20Test%20timed%20out%20at

/close

[2020-11-06 18:26] #96168 closed

[2020-11-06 18:27] jeremyje opened #96313 "Install pigz to GCE Windows Node Image"
**What would you like to be added**:
pigz for GCE Windows
**Why is this needed**:
Pigz improves the image layer extraction performance for multi-core systems.
Pigz is usually preinstalled on Linux.
This enhancement is scoped specifically for the GKE Windows node scripts.

For Context: https://github.com/moby/moby/issues/34787

[2020-11-06 18:27] jeremyje commented on #96313
/assign me

[2020-11-06 18:28] jeremyje commented on #96313
/sig windows
/assign jeremyje

[2020-11-06 18:35] eatwithforks opened #96314 "kubelet config flag using "--logging-format" and "--vmodule" raises a FATAL error"
**What happened**:
[code]

returns this error message via `journalctl -u kubelet`
[code]
**What you expected to happen**:
vmodule and json format to work. I would like my logs to be in json and still be silencing all but cpu_manager errors.

**How to reproduce it (as minimally and precisely as possible)**:
in what happened step

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

[2020-11-06 18:35] kishorj commented on #57250
@austinorth I've been split between whether to add support for NLB instance mode in the [AWS Load Balancer Controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller) instead or add this feature in the in-tree service controller. With the external controller, we can iterate faster.

[2020-11-06 18:36] richardwxn commented on #96060
any update on this? this might be an issue that would possibly impact other CRDs as well?

[2020-11-06 18:39] 1vanzamarripa commented on #60807
this worked for me, and I ran after verifying there were no dangling k8s objects in the ns.  Thanks!

[2020-11-06 18:48] msau42 opened #96316 "Find a better place to initialize volume manager informers"
**What would you like to be added**:
Background: https://github.com/kubernetes/kubernetes/pull/93130#discussion_r516888787

Right now `WaitForCacheSync` for csi informers is called right before we need to read from it, which is well after any initialization, and gets called repeatedly.

However, there isn't a great place to move it right now. Places that have been tried:
- After we start the infor

[2020-11-06 18:48] msau42 commented on #96316
@kubernetes/sig-storage-feature-requests
/triage accepted

[2020-11-06 18:50] javidiaz commented on #96288
Hi @thejoycekung can you add priority to https://github.com/kubernetes/kubernetes/pull/96305?

[2020-11-06 19:03] BenTheElder commented on #96313
s/GKE/GCE/? as in kube-up?

[2020-11-06 19:29] #95343 closed

[2020-11-06 19:32] tallclair opened #96319 "Automatically suppress secret data from audit logs"
**What would you like to be added**:

Now that secret data is tagged in the API via the new datapolicy tags [1], we should use these tags to avoid accidental logging of secret data in the audit logging subsystem. I propose making it explicitly opt-in to log sensitive data, with a new field on the audit policy. Maybe something like:

[code]

When auditing an object that includes sensitive fields, I

[2020-11-06 20:25] bobbypage commented on #96287
Thanks @dims.

I took a look and tried to upgrade cadvisor to latest master as a test and it looks like the following dependencies will need to be updated in k/k as part of the upgrade:

Taken from
[code]

[code]

[2020-11-06 20:36] dashpole commented on #96287
You can keep running the hack/pin-dependency.sh commands listed and what the end result is.  Each of those may require additional dependencies to be pinned as well

[2020-11-06 21:18] sachinkumarsingh092 commented on #93100
Hi @zhouya0.
I'm new to Kubernetes and would like to work on `pkg/cmd/create/create_secret.go`. Can you please assign me that?

[2020-11-06 21:43] AndrewSav commented on #14040
/remove-lifecycle stale

[2020-11-06 21:46] adammw opened #96321 "Expose API Extension Requests in API server metrics"
**What would you like to be added**:
The aggregation layer allows to extending the Kube API Server with additional APIs through APIService resources. There is currently only a gauge for monitoring the status of the extension API: `aggregator_unavailable_apiservice`, and no way of directly tracking how many individual requests/verbs succeeded or failed as is currently possible with built-in APIs (e

[2020-11-06 22:25] #96174 closed

[2020-11-06 23:05] liggitt commented on #96104
to be clear, this is proposing removing support from client-go only, not from k8s.io/api and k8s.io/kubernetes? until we have a GA and required storage migration story, we still need the type definitions / defaults / conversions in place to be able to read and convert not-yet-migrated deprecated versions out of etcd

[2020-11-06 23:36] bobbypage commented on #96287
[code]

[code]

[code]

[code]

[2020-11-06 23:36] aojea commented on #96147
This is a recurring topic https://github.com/kubernetes/kubernetes/search?p=2&q=dns-1123+OR+dns-1035&type=issues

Some answes that apply from Jordan and Tim https://github.com/kubernetes/kubernetes/issues/71140#issuecomment-441703265

[2020-11-06 23:45] bobbypage commented on #96287
so looks like in addition the updates mentioned in https://github.com/kubernetes/kubernetes/issues/96287#issuecomment-723283985 `github.com/checkpoint-restore/go-criu/v4` and `github.com/opencontainers/selinux` need to be updated.

[2020-11-06 23:58] jeremyje commented on #96313
Replaced but I don't understand the kube-up part.

[2020-11-06 23:59] bowei commented on #96018
/assign

[2020-11-07 00:03] liggitt commented on #96314
This is not yet supported by the klog library. This can be raised as a feature request against that component's repo at https://github.com/kubernetes/klog

[2020-11-07 00:03] #96314 closed

[2020-11-07 01:20] rocketraman commented on #38075
I just ran into this as well, gcloud 311.0.0, kubectl 1.18.6.

[2020-11-07 01:35] #90461 closed

[2020-11-07 03:37] #91941 closed

[2020-11-07 04:37] TBBle commented on #57250
Per https://github.com/kubernetes/cloud-provider-aws/pull/128#issuecomment-705178404 and https://github.com/aws/containers-roadmap/issues/981#issuecomment-665934998 the plan appears to be to move NLB Instance support into the [AWS Load Balancer Controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller) anyway, if that helps with the decision?

It seems like [AWS Cloud Provider v2

[2020-11-07 05:39] #91753 closed

[2020-11-07 06:40] webPageDev opened #96333 "kubectl exec to pod failed, the response is "error: unable to upgrade connection: unexpected EOF""
**What happened**:
**An error occurred when I executed the kubectl exec command on the master node to enter the pod.**
**The error printed after executing the kubectl exec command is "error: unable to upgrade connection: unexpected EOF".**
**And  it is printed in the log of kubelet, the log is "server.go:731] Error while proxying request: unexpected EOF".**

**I saw the information in the api-serv

[2020-11-07 07:41] #87198 closed

[2020-11-07 08:12] virendrasuryavanshi commented on #96070
@yliaog Did you mean [this](https://codeshare.io/2jQ7bP)? It didn't work.

It gives the following error
[code]

[2020-11-07 09:01] imilano commented on #71647
Don't forget to check the permission and owner of `kubectl` in `/usr/local/bin`,

I encountered the same problem,`kubectl version` outputs `Error from server (InternalError): an error on the server ("") has prevented the request from succeeding`.
- `rm .kube` does not work, neither `rm pki`.
- tried reinstall/reset, did not work.

However, I found `sudo kubectl version` get the right output. So I

[2020-11-07 09:41] AkashSarda commented on #95932
/assign

[2020-11-07 10:41] soulxu commented on #85031
It would be great if we assign a different name to the Nth round test. Currently, whatever this is Nth test, the preemptor pod is always called 'preemptor-pod'.

[2020-11-07 11:19] pigletfly commented on #96104
yeah, client-go only

[2020-11-07 12:35] segevfiner commented on #95712
External DNS already has support for configuring CoreDNS via the etcd CoreDNS plugin: https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/coredns.md (The instructions are a bit outdated). Though that's quite a convoluted setup that requires another etcd deployment. (Tried packaging that as a minikube addon here https://github.com/kubernetes/minikube/issues/8980).

This doesn

[2020-11-07 12:42] ITonyLi commented on #95762
What business scenarios need memory metrics to monitor scaling ？

[2020-11-07 14:05] ITonyLi commented on #96242
In my opinion, different scenarios need different options. Can a configurable option be added to realize the timeout degradation of extended indicators? Prevent excessive drift of indicators. @deads2k @luxas @mtaufen

[2020-11-07 14:10] ITonyLi commented on #96242
If the calculation time difference between indicators is large, there will be frequent adjustment of pod quantity in the next copy index calculation.

[2020-11-07 14:48] #72278 closed

[2020-11-07 15:47] wufengzlw commented on #89898
Same issue, sometimes I get this K8S event:

[2020-11-07 15:47] yliaog commented on #96070
did you specify --kubeconfig in the command line (or via env variable)? the above error message said (Neither --kubeconfig nor --master was specified. )

[2020-11-07 17:15] Riaankl commented on #90936
/reopen
PR#93405 on test grid for 2 weeks before promotion to conformance

[2020-11-07 17:17] Riaankl commented on #90936
/triage accepted

[2020-11-07 18:37] scr-oath commented on #96242
As I understand it, the current implementation just has a queue/chan, a timer of some sort, and a single goroutine to process the queue of work. There is a comment "[start a single worker (we may wish to start more in the future)](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal.go#L176)"

I would imagine that many scheduling implementations solve for re

[2020-11-07 19:19] raelga commented on #78352
/remove-lifecycle stale

[2020-11-07 20:54] #91959 closed

[2020-11-07 23:03] MarekPikula commented on #95826
I had similar problem. I have btrfs root snapshot mounted on / (so no root subvolume), so `/var/lib/kubelet` subvolume is mounted automatically at the appropriate path. I followed kubernetes#65204 (in particular [this](https://github.com/kubernetes/kubernetes/issues/65204#issuecomment-473711839) comment) and saved `/var/lib/kubelet` in fstab with `subvol` flag, so it's explicitly mounted and kubel

[2020-11-07 23:43] zerkms commented on #89938
/remove-lifecycle stale

[2020-11-07 23:54] fejta-bot opened #96337 "pr:pull-kubernetes-conformance-kind-ipv6-parallel flaked 11 times in the past week"
### Flaky Job: pr:pull-kubernetes-conformance-kind-ipv6-parallel
 Flakes in the past week: **11**
 Consistency: **95.90%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| [sig-apps] ReplicationController should test the lifecycle of a ReplicationController [Conformance] | 6 |
| [sig-cli] Kubectl client Kubectl server-side dry-run should check if kubectl can dry-run upda

[2020-11-08 03:28] bmaehr commented on #30656
I had a similar problem: I needed to create some directories, links and add permission for the non-root user on an official image deployed by an official helm chart (jenkins).

I was able to solve it by using the exec-as plugin.

[2020-11-08 07:34] adamzhoul opened #96339 "remotecommand spdy stream, goroutine leak"
**What happened**:
I have an app using `remotecommand.NewSPDYExecutor`. (proxy to agent)

                            websocket                           SPDY
     web browser -----------------------> proxy  ---------------------> agent `kubeletremote.ServeAttach`

when we close the web page,  WebSocket conn is closed. However,  goroutine in remotecommand not exit.
they are blocked here:

[code]

[2020-11-08 07:40] andyzhangx commented on #94764
/sig cloud-provider
/area provider/azure
is this still an issue now?

[2020-11-08 09:08] astefanutti commented on #77603
/remove-lifecycle stale

[2020-11-08 09:09] scardena opened #96341 "Network policies are blocking allowed traffic"
**What happened**:
I have set up a network policy that's blocking traffic that it shouldn't
**What you expected to happen**:
Network policies are supposed to block everything that is not allowed. In my case I am allowing egress traffic to everywhere, except the cidr block `192.168.0.0/16`. I can confirm that all traffic to that block is indeed restricted, and mostly anything else is allowed, excep

[2020-11-08 09:10] scardena commented on #96341
/sig network

[2020-11-08 10:08] yehiyam commented on #94892
@dims or anyone else familiar with the area. I'd like to get some pointers as to how to approach this.
1. should I create a KEP as this is an enhancement?
2. Where in the code should I update the pod API?
3. Is there a way to control (redirect) the output of the process via the CRI?

[2020-11-08 10:57] lala123912 opened #96342 "Pod cannot work due to failing to access /etc/hosts inside container if umask of kubelet is configured as 027"
**What happened**:
Process running as non-root will fail to work as it cannot access /etc/hosts inside the container when umask of kubelet  is configured as 027.

It is because the ioutil.WriteFile() used to create /etc/hosts is impacted by umask. Even though kubelet specify the permission of 0644 explicitly, with umask of 0027, it will be configured as 0640. As a result, application running insid

[2020-11-08 10:57] lala123912 commented on #96342
/sig node

[2020-11-08 10:58] lala123912 commented on #96342
/area kubelet

[2020-11-08 11:01] lala123912 commented on #96342
/assign

[2020-11-08 11:01] lala123912 commented on #96342
I will try to fix it

[2020-11-08 11:23] lala123912 commented on #96342
/assign

[2020-11-08 11:27] lala123912 commented on #96342
/cc mattjmcnaughton

[2020-11-08 11:27] lala123912 commented on #96342
@linuxcore

[2020-11-08 11:28] lala123912 commented on #96342
@mattjmcnaughton

[2020-11-08 12:13] lala123912 commented on #96333
It sounds like that it's timeout for waiting response, and you could check  whether  the format of the response  is abnormal or not.

[2020-11-08 12:35] Jainbrt opened #96344 "Enhanace CSIdriver object to explain supported PVC access mode for CSI plugin"
**What would you like to be added**:

I would like to enhance csidriver object to explain what different volume access modes for Persistent Volume Claims a csi driver supports

**Why is this needed**:
There are times when mutiple CSI storage drivers are installed on one k8s cluster and it becomes difficult for administrator/developer to understand which csi driver he/she should use for application

[2020-11-08 12:41] wojtek-t commented on #96259
@chenyw1990 - so are you saying that the time can go forth and back without the components (in this case kube-apiserver) being even restarted? Can you briefly describe how that happens?

[2020-11-08 12:46] wojtek-t commented on #96259
Can it really change by one day? If you repro-ed it by changing by one day, the memory will free-up after that one day actually...

[2020-11-08 12:50] adamzhoul commented on #96339
/sig cli

[2020-11-08 12:51] george-angel commented on #46287
/remove-lifecycle stale

[2020-11-08 12:52] goodqinjin commented on #73666
This feature would be very useful.

[2020-11-08 13:17] sylr opened #96346 "Templating for ConfigMaps / Secrets aggregation"
**What would you like to be added**:

A kubernetes API which would allow to mount files in pods based on the values coming from both ConfigMaps and Secrets, e.g.:

[code]
**Why is this needed**:

Vast majority of software out there which uses files as configuration only use a single file which contains both normal configurations and credentials.

This force us to use either a ConfigMap or a Secret

[2020-11-08 13:38] alejandrox1 commented on #96070
@virendrasuryavanshi in the new version of your code, do you have something like this https://github.com/kubernetes/client-go/blob/a2cda5636dc9c8c961930bb6b7183d38b429a606/examples/out-of-cluster-client-configuration/main.go#L44-L50 ?

[2020-11-08 13:41] shekhar-rajak commented on #92635
We can surely use these Shortcuts like general shortcuts. so should we add this into the section https://kubernetes.io/docs/reference/kubectl/cheatsheet/

I am interested to work on this. Can I assign it to myself ?

[2020-11-08 13:48] shekhar-rajak commented on #92636
Thanks! This is really informative and definitely help to beginners. I would like to add some general examples and use the same format as https://crontab.guru/

Can I work on this?

[2020-11-08 13:59] aeiowx commented on #89939
Has this issue been fixed? Are there any way to pass "--device-cgroup-rule" to k8s pods?

[2020-11-08 14:14] virendrasuryavanshi commented on #96070
Thanks, @alejandrox1, and @yliaog. The final changes after a suggestion by @alejandrox1 worked. [This](https://codeshare.io/2jQ7bP) is the final working code. Thank you for helping with this, really appreciate it.

[2020-11-08 14:14] #96070 closed

[2020-11-08 14:22] chenyw1990 commented on #96259
We simulate the scenario of NTP server failure, In the scenario of NTP server failure, the time may jump to the future. When we repair the NTP server, the time will be corrected.
When the time jumps to the future and then jumps back, cacheWatcher will be cached in watchersBuckets and will not be recycled by gc. memory will leak. In large-scale clusters, memory leaks are fast, and kube-apiserver wi

[2020-11-08 14:25] wojtek-t commented on #96259
That's not entirely true - they will be GC-ed once we reach the previous time. So unless it won't jump by hours, but rather minutes/seconds, you won't leak the memory.
How much it can change? I would like to avoid non-trivial logic if it's not absolutely needed.

[2020-11-08 14:30] mohag commented on #53201
/remove-lifecycle stale

Still present

[2020-11-08 14:44] jayunit100 commented on #48528
/assign @alejandrox1

[2020-11-08 14:46] jayunit100 commented on #96341
/assign @mattfenwick

[2020-11-08 14:47] alejandrox1 commented on #48528
/remove-lifecycle rotten
/sig network
/triage accepted

[2020-11-08 14:50] jayunit100 commented on #96200
/assign @eth0XFEED

[2020-11-08 14:54] eth0xFEED commented on #96200
/assign @eth0xFEED

[2020-11-08 15:12] #88912 closed

[2020-11-08 15:43] mattfenwick commented on #96341
hi @scardena just wondering if you have any other network policies in this cluster ?  I'm not able to repro this failure so I think there's something else going on ...

I tried out your policy on a KinD/calico cluster and got the expected results -- when my targeted pods attempted to reach pods with ips outside the `except` block's cidr, their connections were allowed; when my targeted pods attemp

[2020-11-08 15:47] mattfenwick commented on #96341
And another BTW :) once we get your self-contained test case setup , we could use the truth-table approach from https://github.com/kubernetes/kubernetes/pull/91592 to help track down this problem!

[2020-11-08 17:04] Riaankl commented on #95920
Test grid green since #96184 Merge 5 Nov 2020
[Testgrid GCE Window 2019](https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2019-master&include-filter-by-regex=ReplicationController%20should%20test%20the%20lifecycle%20of%20a%20ReplicationController&width=5)
[Testgrid GCE Windows1909](https://testgrid.k8s.io/sig-release-master-informing#gce-windows-1909-master&include-filter-by-regex=

[2020-11-08 17:26] sylr commented on #96346
/sig api-machinery

[2020-11-08 17:33] ahg-g commented on #96200
/uncc

[2020-11-08 17:36] jayunit100 commented on #96341
Yeah would be cool if we could make a test case up w several `ipBlock` values in it and add it in there .  I don't think we have any complex IPBlock cases as is

[2020-11-08 18:02] jayunit100 commented on #94892
https://github.com/kubernetes/community/tree/master/sig-node <-- might be worth going to the sig node weekly meeting, adding your q to the agenda, and asking there what the next steps would be?

I assume eventually this would result in a KEP bc, I assume some folks would expect this to be solved by something like fluentd or some other Container runtime logging solution

[2020-11-08 18:42] ezYakaEagle442 commented on #92636
@shekhar-rajak  thanks for your reply, yes please feel free to work on it !

[2020-11-08 18:44] ezYakaEagle442 commented on #92635
@shekhar-rajak  thanks for your reply, yes please feel free to work on it !

[2020-11-08 20:12] scardena commented on #96341
@mattfenwick I updated the main ticket with exact steps to reproduce the issue. This should bring up a new empty cluster in AWS and I was able to reproduce it anyway. I am not sure if this problem is within aws / calico / or network policies.

[2020-11-08 20:54] movinglightspeed opened #96349 "kubectl prompts credentials"
**What happened**:
I am randomly now getting kubectl credential prompts everytime i use kubectl

**What you expected to happen**:
kubectl should not be prompting for username and password

**How to reproduce it (as minimally and precisely as possible)**:
Follow these steps
https://cloud.ibm.com/docs/containers?topic=containers-cs_cli_install#cs_cli_configure

Then try to use kubectl
PS C:\Users\Us

[2020-11-08 20:59] movinglightspeed commented on #96349
/sig cloud-provider provider-ibmcloud
/sig cluster-lifecycle kops

[2020-11-08 21:33] mojoa opened #96350 "Pod Status ImagePullBackoff - Will not delete"
**What happened**:
After ```kubectl create -f webapp.yaml```, Pod status from ```kubectl get pod -l app=webapp``` is ImagePullBackoff and ```kubectl delete pod -l app=webapp``` returns pod "webapp-0" deleted, Pod recreates automatically. ```kubectl get deployments --all-namespaces``` shows no mention of webapp. ```kubectl get jobs --all-namespaces``` returns no resources found. ```kubectl get serv

[2020-11-08 22:19] #91770 closed

[2020-11-08 22:19] #91960 closed

[2020-11-08 23:26] richardwxn opened #96351 "Server Side Apply did not cleanup the managedFields"
**What happened**:
We recently integrate server side apply into Istio Operator. But we met some unexpected errors. For example, during istio installation, if the istio deployment is stuck in the ImagePullBackOff status for a bad hub specified, the istio service object in the cluster would endup with managedFields without fieldTypes:
[code]
Then if we try to reapply the manifests into cluster with

[2020-11-08 23:26] richardwxn commented on #96351
/wg api-expression
/sig api-machinery

[2020-11-09 01:29] system51 opened #96352 "["kubelet"] cgroup does not exist"
**What happened**:

Try to add the kube-reserved parameter to the kubelet and prompt an error。
[code]

I know by looking up that some parameters need to be added, but I don't know why these parameters need to be added.
[code]

![image](https://user-images.githubusercontent.com/26198108/98490545-bf866380-226c-11eb-8d3a-09f118e2ba22.png)

The Kubelet error does not indicate that these directories ar

[2020-11-09 01:54] lingsamuel commented on #96350
Hello, you can wrap you code inside codeblock so it will format as code.

Your yaml defines a StatefulSet, not a Deployment, so you can only see it with `kubectl get StatefulSet`.

[2020-11-09 02:19] lingsamuel commented on #96352
If I understand [the document](https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/#kube-reserved) correctly, you could use flag `-kube-reserved-cgroup` to config it.

[2020-11-09 02:35] system51 commented on #96352
@lingsamuel
I need to add --kube-reserved -- CGroup to restrict kube resources. The Cgroup file will not be created automatically when I add the parameter. I need to create them manually. How do I know which directories I need to create? For example, how do I make sure I need the catalogs mentioned above

[2020-11-09 02:52] mojoa commented on #96350
Thank You for the insight!
How to delete is fully explained in the Kubernetes documentation [deleting-statefulsets](https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#deleting-statefulsets)
Is there any known reason the creation of this service would cause "ImagePullBackoff" state?

[2020-11-09 02:59] lingsamuel commented on #96350
`ImagePullBackoff` error is simply the scheduled machine can't get the needed image. It may be caused by several reasons, such as image registry isn't configured properly, no available networks, etc.

[2020-11-09 03:02] chendave opened #96354 "Improve the logic to fetch the metric from a `metrics.Gatherer`"
**What happened**:
Integration test from scheduler component fetches the metrics data from `legacyregistry.DefaultGatherer`,  this is currently implemented in  `component-base` by the method of `GetHistogramFromGatherer`.

That method assumes only one histogram registered per each metric name, this is not true for the metrics with `extension_point`, `framework_extension_point_duration_seconds` for

[2020-11-09 03:08] mojoa commented on #96350
That makes sense.
I will close this issue.
I appreciate your help.

[2020-11-09 03:08] #96350 closed

[2020-11-09 03:25] chendave commented on #96354
/triage accepted

[2020-11-09 03:39] lingsamuel commented on #96352
As far as I know, they simply pointsto the cgroup controllers with the same name. `ephemeral-storage` is an exception.

[2020-11-09 04:45] ProgramerGu opened #96357 "failed to write 0-1 to cpuset.cpus: write /sys/fs/cgroup/cpuset/kubepods/podxxx/container01/cpuset.cpus: permission denied"
**Which jobs are failing**:
  Warning  Failed          33m                kubelet, XXXX  Error: failed to create containerd task: Could not run process: container_linux.go:345: starting container process caused "process_linux.go:275: applying cgroup configuration for process caused \"failed to write 0-1 to cpuset.cpus: write /sys/fs/cgroup/cpuset/kubepods/pod429c26f5-223f-11eb-ae82-0a58701d95bf/co

[2020-11-09 04:51] ProgramerGu commented on #96357
/sig node

[2020-11-09 04:55] Vishal2696 commented on #79773
/reopen

[2020-11-09 05:08] guillaumefenollar commented on #69041
A workaround I'm using is to copy the content of STS object (for instance in yaml format), delete the original sts with `--cascade=false` so that pods are not stopped and recreate it after adding the volumeclaimtemplates to its spec. PVC and pods are recreated. It's a better solution than setting the replicas option to 0 in case of clustered app (kafka, elasticsearch, mongodb...).

[2020-11-09 05:44] Jainbrt commented on #96344
@dpkshetty here is the issue I created as per our discussion, please add more if required.

[2020-11-09 05:52] ProgramerGu commented on #96357
https://github.com/kata-containers/agent/issues/693

[2020-11-09 05:52] #96357 closed

[2020-11-09 06:37] nagasitaramthigulla commented on #96298
@troy0820
I tried below
[code]
but it did not work as expected
[code]

[2020-11-09 06:37] BenTheElder commented on #96313
https://github.com/kubernetes/kubernetes/blob/master/cluster/kube-up.sh is how one creates a GCE cluster from this repo. Otherwise we'd be talking about something that isn't part of kubernetes.

[2020-11-09 07:16] zizon opened #96361 "Fuse mount "Transport endpoint is not connected" error"
**What happened**:
can not mount Cephfs/fuse volumes when fuse process was crash and latter pod crash restart or kubelet restart which will eventually try to recreate the silly mount on the same path.

**What you expected to happen**:
volume umount/remount

**How to reproduce it (as minimally and precisely as possible)**:
kill fuse, restart kubelet

**Anything else we need to know?**:

similar to

[2020-11-09 07:20] zizon commented on #96361
/sig storage

[2020-11-09 07:24] errogaht commented on #75542
ok but in this case i have to manually delete pod in replica set.
and it makes k8s not autonomous system. i need to set up alerts to detect stuck pods in PodInitializing state and then manuall delete. Marketing materials said that k8s can automatically heal, but in this case it is not true

[2020-11-09 07:48] system51 commented on #96352
I cannot confirm which directories I need to create kubelet.slice. How do I confirm which directories I need to create kubelet.slice

![image](https://user-images.githubusercontent.com/26198108/98513514-f1b2b800-22a2-11eb-85bd-218bc597c598.png)

[2020-11-09 08:07] pickfire commented on #63883
I kept getting this issue too in minikube.

[2020-11-09 08:13] richardwxn commented on #96060
Before
[before_existing.txt](https://github.com/kubernetes/kubernetes/files/5508915/before_existing.txt)
[before_crd.txt](https://github.com/kubernetes/kubernetes/files/5508916/before_crd.txt)

After in broken state
[after_existing_envoyfilter.txt](https://github.com/kubernetes/kubernetes/files/5508866/after_existing_envoyfilter.txt)
[after_new_envoyfilter.txt](https://github.com/kubernetes/kubern

[2020-11-09 08:22] nerzhul commented on #91073
Hello, as i saw, i have the same issue in 1.19.3 version:

[code]

Our setup is 3 etcd, 2 apiserver bound on those 3 etcd and a haproxy in front of apiservers

[2020-11-09 08:30] michael-db commented on #87724
/remove-lifecycle stale

[2020-11-09 08:31] imyashvinder opened #96362 "Deleting deployment won't delete replicaset and associated pod"
Hi,

I have recently noticed that I have lots of duplicated deployments because kubectl delete deployment won't delete the replica set and pod associated with it.

[code]
[code]
[code]
[code]
[code]

Kubernetes Version: 1.18
Platform: EKS
[code]

[2020-11-09 08:51] lingsamuel commented on #96352
So you need `cpu` and `memory`.

[2020-11-09 09:13] WxySupn opened #96363 "When a pod has been completed, the taint-manager should no longer evict the pod"
**What would you like to be added**:

When a pod has been completed, the taint-manager should no longer evict the pod。

**Why is this needed**:

If a job has a completed pod, but the pod is evicted by taint-manager due to node damage, the job will have to execute this pod again.

[2020-11-09 09:51] omitrowski commented on #58486
Same problem here :)

[2020-11-09 09:58] wenhuanglin commented on #65797
can use `.spec.backoffLimit`
https://kubernetes.io/docs/concepts/workloads/controllers/job/#pod-backoff-failure-policy

[2020-11-09 10:21] raz3k opened #96366 "cgroupDriver: systemd not working in kubelet 1.19.3"
**What happened**:
Tried using kubeneretes 1.19.3 and set docker to systemd as in 1.18.10, then gave kubelet config to kubeadm init because automatic detection did not work.
**What you expected to happen**:
kubelet load and init the cluster

**How to reproduce it (as minimally and precisely as possible)**: Use this config below when initiating or just set docker to systemd by adding --exec-opt nat

[2020-11-09 10:22] raz3k commented on #96366
/sig node

[2020-11-09 10:30] wojtek-t commented on #96049
The fix and all cherrypicks were merged.

[2020-11-09 10:30] #96049 closed

[2020-11-09 11:16] gosoon opened #96367 "How to delete pod but not clear /dev/shm when mount /dev/shm in emptyDir type"
**What would you like to be added**:

We need to mount /dev/shm in the container, and /dev/shm needs to be restricted by cgroup, but after the emptyDir method is used to mount, /dev/shm will be deleted after the pod is deleted. We don't want the container to be deleted Later, /dev/shm was also deleted. How can I use it? I hope I can get your help.
[code]

**Why is this needed**:

[2020-11-09 11:19] pacoxu commented on #96366
would you check the  file /usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf for

[code]

or something override the config.

ps aux | grep kubelet to see whole process args

[2020-11-09 11:53] mattfenwick commented on #96341
@scardena there might be a better way to write your network policies -- there are a couple problems with the policy and its comments don't match the code, I suggest instead:

 - [use this](https://github.com/ahmetb/kubernetes-network-policy-recipes/blob/master/04-deny-traffic-from-other-namespaces.md) to block traffic from other namespaces while allowing traffic within a namespace -- this approach

[2020-11-09 11:59] mattfenwick commented on #96341
I tried out the example on my KinD/Calico cluster and wasn't able to repro the behavior you saw.

Just speculating here -- is your cluster ipv4, ipv6, or dual stack?  Also wondering if the netpol itself might be the problem: the netpol has both a podselector and and ipblock for one of the egress rules, but [according to the docs](https://github.com/kubernetes/kubernetes/blob/ef16faf409b7aec6b2171e

[2020-11-09 12:06] chenyw1990 commented on #96259
@wojtek-t

we test in 2000 nodes cluster，When the cluster runs stably，before cacheWatcher leak，the memory used by kube-apiserver is 14 GB.
![image](https://user-images.githubusercontent.com/1468240/98537738-ae694100-22c4-11eb-91da-5ef0ed7e30fc.png)

when cacheWatcher leak， the memory usage increases to 43.85 GB after 4.5 hours, and about 6.6 GB memory is leaked every hour.
![aftermemoryleak](https

[2020-11-09 12:12] shekhar-rajak commented on #92635
/assign shekhar-rajak

[2020-11-09 12:16] shekhar-rajak commented on #92636
/assign shekhar-rajak

[2020-11-09 12:18] ScrapCodes commented on #95000
Yes !

[2020-11-09 12:18] #95000 closed

[2020-11-09 12:24] raz3k commented on #96366
yep, that was the issue, didn't have the --config set.

Thanks for your help.

Closing this.

[2020-11-09 12:24] #96366 closed

[2020-11-09 12:28] ScrapCodes commented on #94931
Hi @kubernetes/sig-node-bugs, can you please take a look !

[2020-11-09 13:08] lllamnyp commented on #74986
I do not think this is a problem.
In a comment above we see
[code]
Now 1.3Gi is a non-integer amount of bytes, specifically `2 ** 30 * 13 / 10`.  If you subtract this from the overall capacity, you will have also a non-integer amount of bytes allocatable. So long as kubelet isn't trying anything funny with cgroups, this should be a non-issue.

[2020-11-09 13:11] gautierdelorme commented on #88252
/assign

[2020-11-09 13:52] liggitt commented on #96104
I don't object in principle. Would like input from @sttts or @deads2k

[2020-11-09 13:58] sttts commented on #96104
I expect that there might be a number of projects that support (much) older and newer cluster versions, using the same new'ish client-go. Has anybody done a review of publicly available projects on github?

[2020-11-09 14:09] jconway commented on #90973
/remove-lifecycle

[2020-11-09 14:24] soltysh commented on #96104
FYI, those API groups (apps/v1beta1 & apps/v1beta2) are not served for quite some time and since 1.18 (https://github.com/kubernetes/kubernetes/pull/85903) you can't even enable them back.

[2020-11-09 14:26] dpkshetty commented on #96344
@Jainbrt thanks for opening this issue. Just to add more clarity, today if multiple CSI drivers are available, for someone to figure which ones support RWX Vs RWO modes, one has to list the drivers then go to https://kubernetes-csi.github.io/docs/drivers.html to figure which access modes a particular CSI driver support, it would be good to have the oc or kubectl cmdline provide a way to determine

[2020-11-09 14:30] liggitt commented on #63814
Changing the kubelet mechanism on a minor version boundary is acceptable, because pods are expected to be drained on kubelet minor version upgrade.

[2020-11-09 14:36] austinorth commented on #57250
@kishorj Thanks for the reply! As a user, I would be cool with using either of those options, although the in-tree would make it a little easier for me personally to roll out. As @TBBle mentioned tho, I think if this functionality were to be set up in the [AWS Load Balancer Controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller), the cut-over may be difficult to engineer, and

[2020-11-09 14:53] liggitt commented on #95587
The kubelet hashing is described in https://github.com/kubernetes/kubernetes/issues/63814

Controller hashing/comparison/mechanisms are pretty unique to each controller. I know I swept them all a year or so ago and summarized the current state (some hash, some deepequal, some compare specific fields), but I can't find the summary now.

Limiting defaulting to Pods (as opposed to PodSpecs) would lim

[2020-11-09 15:07] lala123912 commented on #96234
Can I have a try to fix it?

[2020-11-09 15:18] #90128 closed

[2020-11-09 15:18] #95922 closed

[2020-11-09 15:29] andrewsykim commented on #85643
PR for the fix is here https://github.com/kubernetes/kubernetes/pull/96371

[2020-11-09 15:40] alejandrox1 commented on #96288
/triage accepted
Thank you @javidiaz for looking into this, and @thejoycekung for opening the issue :pray:

Given https://github.com/kubernetes/kubernetes/pull/96315 i think you found the issue.
node e2e tests have theirwn entrypoint so i guess we forgot to completely account for all the settings the e2e framework sets and to use those to configure the kubelet.
I think in general we need to refact

[2020-11-09 15:50] troy0820 commented on #96298
@nagasitaramthigulla

1. It looks like you spelled exec wrong in your role
2. In your kubectl auth command, you are not acting as the service account you created.  Use `--as=system:serviceaccount:default:default-user-full-acess`
3. You would also need to use the GET verb to see if you can access the subresource pods/exec as explained in the linked issue.
https://github.com/kubernetes/kubernetes/is

[2020-11-09 15:56] lala123912 commented on #96319
Mark, it makes sense if  this proposal is implemented.

[2020-11-09 16:00] b10s commented on #95488
Just got a crash of one worker node just after update to v1.19.2 from v1.18.6 and changing hyperkube image to plain kubelet.

The error from kubelet logs is:
[code]

All kubepods cgroups seems to be presented (compared to healthy node, all 15 are here):
[code]

Probably need to investigate deeper the cgroups structure.
If you have any ideas what to check, will appreciate it

[2020-11-09 16:02] lala123912 commented on #96259
mark

[2020-11-09 16:13] chelseychen commented on #91965
/reopen

[2020-11-09 16:22] #96288 closed

[2020-11-09 16:24] citananda opened #96380 "configMap.item.mode: 0400 working on pod but not on deployment"
**What happened**:
When I create a deployment with configMap.item.mode: 0400, the permission file is 0440

**What you expected to happen**:
The file permission should be 0400

**How to reproduce it (as minimally and precisely as possible)**:
[code]
With a deployment, the file permission is 0440

**Anything else we need to know?**:
The same with a pod is working (file permission is 0400)
[code]
**E

[2020-11-09 16:28] gnufied commented on #95587
@liggitt https://github.com/kubernetes/kubernetes/issues/63814 looks more about container spec but this change does not affect that and ideally even if defaults are applied - it won't cause a container restart.

For now - in my PR https://github.com/kubernetes/kubernetes/pull/96376/files#diff-19b27e79a2dcb337f58b0f7f3477a29d29498b5d135fbb67e9f858cf1dae222cR2968 I have avoided calling out default e

[2020-11-09 16:31] b10s commented on #95488
![Selection_999(088)](https://user-images.githubusercontent.com/4618288/98568198-2c910c00-22f4-11eb-9c79-0874dc119c4e.png)
I've straced kubelet a bit. Seems it tries to `newfstatat()` cgroup which doesn't exist:
[code]

Why it might happen after update?

[2020-11-09 16:34] citananda commented on #96380
/sig apps

[2020-11-09 16:37] #87935 closed

[2020-11-09 16:53] troy0820 commented on #96362
/sig apps

[2020-11-09 17:13] raghuchahar007 commented on #90483
Hello @danwinship, I upgraded K8s, still getting the same issue.

[2020-11-09 17:39] lavalamp commented on #95587
I feel like a broken record, but controllers simply should not be doing this. It's not even good enough to only hash fields you care about, becaues mutating admission webhooks.

[2020-11-09 17:47] neolit123 commented on #96333
hi, this seems like a request for support. please make sure the server is working fine.

this version is no longer supported. you'd have to upgrade to 1.18 soon.
if you confirm this as a bug in newer versions, please re-open this ticket.

/remove-kind bug
/kind support
/close

[2020-11-09 17:47] #96333 closed

[2020-11-09 17:48] neolit123 commented on #96337
/sig network testing

[2020-11-09 17:48] neolit123 commented on #96337
NVM, missed the actual failing tests:
/remove-sig network testing
/sig apps cli

[2020-11-09 17:49] rajeshkumaratappviewx commented on #51096
Started seeing the problem when there was a very high CPU usage during a performance testing. Continued testing by increasing the liveliness and readiness timeout as it was working after the change. But after started failing with the increased values. Some of the pods fails to register as a services in kubernetes even though the docker is up without any issue.

[2020-11-09 17:49] neolit123 commented on #96344
/sig storage

[2020-11-09 17:49] neolit123 commented on #96363
/sig node

[2020-11-09 17:50] neolit123 commented on #96367
/sig storage

[2020-11-09 17:50] ruiwen-zhao commented on #96044
I am closing this issue since the doc has been updated.

[2020-11-09 17:51] jansenmccloud commented on #91459
/remove-lifecycle stale

[2020-11-09 18:16] apelisse commented on #96060
Awesome, that's super useful, let me look at it!

[2020-11-09 18:17] b10s commented on #95488
Is the following cgroup is a valid cgroup?

`/sys/fs/cgroup/systemd/kubepods/burstable/pod7ffde41a-fa85-4b01-8023-69a4e4b50c55/8842def241fac72cb34fdce90297b632f098289270fa92ec04643837f5748c15/kubepods`

It has !**two** `kubepods` in it's path.

I checked with find on other nodes - seems kubepods appears only once in each cgroup hierarchy:
[code]

[2020-11-09 18:24] marosset commented on #95840
/close

[2020-11-09 18:24] #95840 closed

[2020-11-09 18:28] troy0820 commented on #96349
/remove bug
/kind support
/sig cli

[2020-11-09 18:29] troy0820 commented on #96349
/remove-kind bug

[2020-11-09 18:34] apelisse commented on #96060
OK, So I understand that when you update the CRD, some CRs get some fields pruned. Can it be because you've removed `x-kubernetes-preserve-unknown-fields: true` on the `value` field (almost at the bottom of this diff)?
[code]

[2020-11-09 18:38] jberkus commented on #90973
/remove-lifecycle stale

[2020-11-09 18:39] apelisse commented on #96060
And by carefully looking at the `kubectl.kubernetes.io/last-applied-configuration`, I can tell that the field wasn't accidentally dropped by the kubernetes api-server, it looks like it wasn't sent at all.

[2020-11-09 18:42] jconway commented on #90973
Oops -- thanks @jberkus

[2020-11-09 18:52] elsesiy commented on #74178
/remove-lifecycle stale

[2020-11-09 18:54] justaugustus commented on #90277
/assign @celestehorgan

[2020-11-09 19:09] exdx opened #96382 "Draining nodes with stand-alone pods managed by custom controllers"
Currently the `kubectl drain` command requires usage of the `--force` flag in the case where the node has standalone pods running on it not backed by a deployment or replicaset (or other built-in controllers).

In the case where there are pods that are managed by custom controllers and do not fit the deployment model (for example, stateful gRPC servers with long-lived connections and custom scalin

[2020-11-09 20:10] Huang-Wei commented on #95887
I will run the benchmarks to see if there is perf downgrade.

/assign

[2020-11-09 20:18] jayunit100 commented on #96341
Ahhh good catch matt

[code]

So sounds like, since IPBlock is being set, the podSelector is simply not taking effect .

@cmluciano , are we missing some validation in the APIServer here?

[2020-11-09 20:37] eth0xFEED commented on #96200
hi @TothFerenc thanks for opening this issue , is this the ipam plugin you are using https://github.com/openshift/whereabouts-cni ?

Do you experience the same behavior when using the host-local ipam plugin ?

[2020-11-09 20:53] cmluciano commented on #96341
Yes we do validation testing for this [here](https://github.com/kubernetes/kubernetes/blob/3a110546ed8ab319a3997b788889c943cdb6f05d/pkg/apis/networking/validation/validation_test.go#L391-L437).

I tried on master to add the following test as a success case to attempt to simulate this
[code]

This fails as expected with `Expected success for 15, got [spec.egress[0].to[0]: Forbidden: may not specify

[2020-11-09 21:36] jayunit100 commented on #96341
@mattfenwick I guess technically we just tested this and

[code]

but  the below is NOT VALID

[code]

[2020-11-09 21:55] unixfox commented on #45509
/remove-lifecycle stale

[2020-11-09 22:39] msau42 commented on #95497
@kubernetes/sig-storage-feature-requests

[2020-11-09 23:05] RaunakShah commented on #74971
@namsral can you explain how you solved the issue? I see something similar. I have 41 pods scheduled on a node, each mounting a single PVC. 32 pods are in the `Running` state but 9 are stuck in `ContainerCreating` with the following error:

[code]

Looking at kubelet logs on that node:

[code]

However when i look at the node, i see that the volume is present in `volumesInUse` but absent from `vol

[2020-11-09 23:14] #95738 closed

[2020-11-09 23:18] alculquicondor commented on #90402
@fengzixu can you still work on this?
In particular, we should unify the logic in plugins/noderesources/fit.go and framework/types.go

[2020-11-09 23:37] TothFerenc commented on #96200
Hi @eth0xFEED !
It seems Whereabouts CNI is being developed here: https://github.com/dougbtv/whereabouts/

In the meantime Whereabouts author made this potential fix: https://github.com/intel/multus-cni/issues/578 -> https://github.com/dougbtv/whereabouts/issues/70 which looks good based on initial test results.

Even if the Multus delegated CNI fails like this, why Kubernetes does not retry the l

[2020-11-09 23:41] neolit123 commented on #96382
/sig apps
/kind feature

the sig apps contact details (slack, zoom meeting, etc) can be found here:
https://github.com/kubernetes/community/tree/master/sig-apps

[2020-11-09 23:44] eddiezane commented on #96243
Both PR's landed and this appears fixed.

@kubernetes/ci-signal will continue to monitor on our board.

/close

[2020-11-09 23:44] yliaog commented on #94278
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-default/1325224038775132160

Ensuring resource quota status captures persistent volume claim creation
Nov  8 00:00:58.461: INFO: resource persistentvolumeclaims, expected 1, actual 0
Nov  8 00:01:00.449: INFO: resource persistentvolumeclaims, expected 1, actual 0
Nov  8 00:01:03.123: INFO: resource persistentvol

[2020-11-09 23:44] #96243 closed

[2020-11-09 23:46] aarnaud commented on #88554
/remove-lifecycle stale

[2020-11-09 23:58] jeremyje opened #96390 "Windows kube-up for GCE breaks if GCS bucket for build artifacts is set to Uniform ACLs mode."
**What happened**:
Follow the steps via https://github.com/kubernetes/kubernetes/blob/release-1.17/cluster/gce/windows/README-GCE-Windows-kube-up.md.

[code]

**What you expected to happen**:

A Kubernetes cluster with Windows nodes should be running in GCE (not GKE).

**How to reproduce it (as minimally and precisely as possible)**:
Run the steps from https://github.com/kubernetes/kubernetes/blob

[2020-11-09 23:58] jeremyje commented on #96390
/sig windows
/assign jeremyje

[2020-11-10 00:07] yliaog commented on #94278
As the errors pointed out, the PVC failed to be provisioned due to invalid access mode specified.

Nov 8 00:01:27.139: INFO: At 2020-11-08 00:00:57 +0000 UTC - event for test-claim: {persistentvolume-controller } ProvisioningFailed: Failed to provision volume with StorageClass "standard": invalid AccessModes [ReadWriteOnce ReadOnlyMany ReadWriteMany]: only AccessModes [ReadWriteOnce ReadOnlyMany]

[2020-11-10 00:08] #86784 closed

[2020-11-10 00:08] #94080 closed

[2020-11-10 00:09] #95804 closed

[2020-11-10 00:12] RaunakShah commented on #74971
Seems that it was a test error, the PVC was attached to another node.

/close

[2020-11-10 00:13] #74971 closed

[2020-11-10 01:23] JornShen commented on #94281
The fix PR https://github.com/google/cadvisor/pull/2714 has been merged.

So we wait for cadvisor' owner to update k/k  dependency of cadvisor to v0.38 in 1.20 k8s? And cherry pick the dependency to v1.19(k8s) ? @dims

I see there have been a issuse https://github.com/kubernetes/kubernetes/issues/96287 to trace this thing.

[2020-11-10 01:32] fengzixu commented on #90402
@alculquicondor Hi. Sorry for reply too late. Actually, I have did some work for this issue, but not submit it yet.

[2020-11-10 01:46] dims commented on #94281
@JornShen yes someone will pick up #96287 soon. @bobbypage are we ready to cut a release of cadvisor?

[2020-11-10 01:47] bobbypage commented on #94281
ack, I will cut new release of cadvisor shortly.

[2020-11-10 02:03] JornShen commented on #94281
@dims  @bobbypage all right, thanks!

[2020-11-10 02:14] ironyman opened #96394 "Add option to disable rotate certificates for kubelet in kubeadm"
This is both an issue and an enhancement request but the template for the latter is simpler so here goes the issue.

kubeadm enables kubelet rotateCertificates option in /var/lib/kubelet/config.yaml regardless of configuration passed to kubeadm. To my understanding config values in /var/lib/kubelet/config.yaml should be able to be configured by supplying a config file to kubeadm via the --config p

[2020-11-10 02:27] neolit123 commented on #96394
hello and thank you for logging this ticket.
as you may have noticed the field not being a pointer is problematic.

IIRC, adding an explicit flag or field in the kubeadm config was already discussed but its not ideal.
the problem here is really on the side of the kubelet configuration and the field should be made into a pointer so that we have 3 states of the field instead of 2 (nil, true, false).

[2020-11-10 02:27] neolit123 commented on #96394
/sig cluster-lifecycle

[2020-11-10 02:27] #96394 closed

[2020-11-10 02:37] ahg-g commented on #96252
/triage accept

[2020-11-10 02:41] ahg-g commented on #96167
/help
/good-first-issue
/triage accepted

[2020-11-10 03:03] scardena commented on #96341
@mattfenwick the reason we are using cidr blocks, is because in AWS we need the pods to get ingress traffic from the AWS ALB provisioned by the AWS Ingress Controller (If we were using nginx as ingress controller, it would be easy, we just select the nginx pods for ingress traffic to our pods). so our conclusion was that the best way to block traffic between namespaces was:
1. allow ingress traffi

[2020-11-10 03:25] daniel-hutao opened #96395 "The version at addon/fluentd-elasticsearch isn't equal to elasticsearch"
**What happened**:

I just found the version at addon/fluentd-elasticsearch is v7.4.3 and elasticsearch has no version 7.4.3.
I wonder if it should be 7.4.2?

https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/es-statefulset.yaml
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/es-image/Dockerfile

if it's a bug, I'd l

[2020-11-10 04:57] #93002 closed

[2020-11-10 05:46] msau42 commented on #88622
/reopen

[2020-11-10 05:47] msau42 commented on #88622
/remove-lifecycle rotten
I think this seems reasonable. @jsafrane @gnufied do you see any issues?

[2020-11-10 05:49] #90808 closed

[2020-11-10 05:55] tvvignesh commented on #87747
/remove-lifecycle stale

[2020-11-10 07:09] lingsamuel commented on #96167
These constructors raise errors mainly from `labels.Requirement`, which is a quite generic function. It's hard to change a `fmt.Errorf` to `field.Error`.
I noticed `ValidateNodeSelectorRequirement` in `pkg/apis/core/validation/validation.go` has similar logic compare with `labels.NewRequirement`, so write new validate functions instead change this constructor maybe a better choice?

[2020-11-10 07:13] little-guy-lxr opened #96401 "cephfs in tree volume not set ownership"
**What happened**:
pod.spec.securityContext

  securityContext:
    runAsUser: 1000
    runAsGroup: 3000
    fsGroup: 4000

volume fsgroup be root

**What you expected to happen**:

volume fsgroup shoud be 4000

**How to reproduce it (as minimally and precisely as possible)**:

kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: hello
spec:
  accessModes:
  - ReadWriteOnce
  resources:

[2020-11-10 07:16] little-guy-lxr commented on #96401
/sig-storage

[2020-11-10 07:56] rohith-vallabhaneni opened #96404 "AWS - EKS workernode AMI not available for latest changes- v1.16"
**What happened**:
I'm upgrading my EKS cluster to v1.16 from v1.15 in the N.Virginia region. After the upgrade, my cluster behaves in an odd way on debugging I see the platform version is set to eks.4 which comes with the master version - v1.16.15 but the latest worker node AMI to still pointing to v1.16.13 which is compatible with eks.3
FYI:
https://console.aws.amazon.com/ec2/v2/home?region=us-e

[2020-11-10 07:57] abhiamnyuMt commented on #65706
I am getting the same issue

[2020-11-10 08:00] daniel-hutao commented on #96395
/sig cluster-lifecycle

[2020-11-10 08:02] rohith-vallabhaneni commented on #96404
/sig cloud-provider
/sig node
/sig release

[2020-11-10 08:52] lala123912 opened #96405 "Enhance api-server ability of delimiting traffic sources"
**What would you like to be added**:
Trace log records additional information ,such as data encoding formate, application layer procotol.

**Why is this needed**:
It will be helpful to delimit the abnormal source quickly ，especially in a lager cluster network with more than 2000 nodes.

[2020-11-10 09:16] system51 commented on #96352
@lingsamuel  ok, tks I seem to have found something in the code https://github.com/kubernetes/kubernetes/blob/v1.18.10/pkg/kubelet/cm/cgroup_manager_linux.go

[code]

[2020-11-10 09:44] lala123912 opened #96408 "Code optimization for add additional information to log trace in api server"
**What would you like to be added**:
The following code is not good for reading, we can provide a function to improve readability.
https://github.com/kubernetes/kubernetes/blob/4628c605aadb9b3bdf82b3d9e1a2d77580eefcaf/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go#L64

Such as,
function getTraceFields(req *http.Request) []utiltrace.Field {
    return []utiltrace.Field{
           Key

[2020-11-10 09:48] lala123912 commented on #96405
/area apiserver

[2020-11-10 09:48] lala123912 commented on #96405
/sig api-machinery

[2020-11-10 09:49] lala123912 commented on #96408
/area apiserver

[2020-11-10 09:49] lala123912 commented on #96408
/sig api-machinery

[2020-11-10 10:14] kpe commented on #62434
I have the same problem - I need to use the RR_SCHED policy in k8s. Using the CAP_SYS_NICE in docker is not enough for this as the crgroup `cpu.rt_runtime_us` parameter of the newly started container would be 0. I therefore believe using `--privileged` alone would not help here, and one have to use the `--cpu-rt-runtime` CLI parameter in docker to allow for the RR_SCHED.

@psaini79 and @scw00 So I

[2020-11-10 10:32] sylr opened #96411 "Kubelet: expose metrics about time to first successful probe return"
**What would you like to be added**:

I'd like kubelet to generate histograms about the time it takes between container start and the first successful status for each defined probes (readiness, liveness, startup).

**Why is this needed**:

This would allow to graphs the startup times of containers for fine tuning delays and give indications that containers takes more time to start on some nodes.

[2020-11-10 10:34] sylr commented on #96411
/sig node
/area kubelet

[2020-11-10 10:38] shibumi commented on #48307
Hi, just another random Kubernetes user here. Sad to see that this is still an issue in 2020.
Can we revive this issue here? I would really love to have this feature implemented in kubectl drain. I think the new kubectl rollout restart functionality could be the game changer for drain here.

[2020-11-10 10:38] shibumi commented on #48307
/remove-lifecycle stale

[2020-11-10 11:12] #76657 closed

[2020-11-10 11:35] jakob-kr commented on #94764
I don't know if the issue still occurs, at least it was not reported to me again in the last month.
From my side this can be closed for now, I will reopen it if it happens again.

[2020-11-10 11:55] #92023 closed

[2020-11-10 11:58] rainerfrey commented on #40908
I have a use case with a variation that I didn't see mentioned yet: A pod with an init container that needs to be run for every start of the main container, not just at initial creation.

[2020-11-10 12:03] rainerfrey commented on #24725
Comments in this issue mix to separate aspects:
* run-to-completion or fail-and-exit use cases (these are addressed by Jobs)
* use cases that want to keep the application running, but require the restart of the entire pod instead of just the container
The second case doesn't seem to be addressed in any way yet. Another example for that is: a main container, that needs the action of an init contain

[2020-11-10 12:22] SaveethaRavi opened #96415 "Installing Keptn in AKS Via Helm command, getting exception"
Hi team,

I tried installing keptn in AKS via HELM upgrade command, getting issues as "Error: validation: chart.metadata is required". Can anyone please suggest to overcome this issue and installing keptn in AKS.

Please refer attached screenshot.
<img width="887" alt="keptn error" src="https://user-images.githubusercontent.com/57527241/98673497-6ce89c80-237d-11eb-8a6a-9b3dee276f2d.PNG">

[2020-11-10 12:30] hvenev-vmware opened #96416 "Double counting in the IPAM"
**What happened**:
With a /22 pod network and a /24 assigned to each node, a third node cannot get a pod CIDR if kube-controller-manager has ever been restarted.

**What you expected to happen**:
Once a third or fourth node joins, it gets a /24.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

150% usage on the IPAM controller is not a good sign.

**Anything else we need

[2020-11-10 13:29] wojtek-t commented on #91073
If that happens once - that can definitely happen (and that's fine). The bug was that the components were stuck with those errors.

[2020-11-10 13:31] frimik commented on #83094
My k3d bootstrap contains the following:

[code]

[2020-11-10 13:48] mehrdadpfg commented on #76022
same issue here running kubespray with kubernetes 1.19.2 IPVS+Cilium

first master node gets NotReady and the Physical address node1 mounts to Master2

[2020-11-10 14:02] DavidCsaki opened #96419 "e2e storage subpath test function waitForPodSubpathError returns too may values"
**What happened**:
Test failed:
[sig-storage] In-tree Volumes [Driver: ceph][Feature:Volumes][Serial] [Testpattern: Pre-provisioned PV (default fs)] subPath should verify container cannot write to subpath readonly volumes [Slow]

with error:
"error waiting for pod subpath error to occur: subpath container unexpectedly terminated"

**What you expected to happen**:
Test should have passed with no er

[2020-11-10 14:36] alculquicondor commented on #96167
/remove-good-first-issue

This is actually not trivial :(

[2020-11-10 14:39] alculquicondor commented on #96167
No, the whole point is to avoid code duplication. We can change all the functions that are called to return field.Error or an aggregation of them. But we have to keep the same function signatures.

[2020-11-10 14:40] troy0820 commented on #96415
/kind support
This looks like a Keptn issue and not a Kubernetes issue.  I see that you opened up an issue there and are getting help with it.
/close

[2020-11-10 14:40] #96415 closed

[2020-11-10 14:55] RobertKielty commented on #95832
Last failure 7 days ago

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-conformance-v1alpha3-with-k8s-ci-artifacts/1323499964965326848

2020-11-03 05:40:32 +0000 UTC

[2020-11-10 14:56] RobertKielty commented on #95832
@spiffxp @thejoycekung Please review to see if we can close this now.

[2020-11-10 14:58] RobertKielty commented on #88974
/remove-lifecycle stale

[2020-11-10 15:29] alculquicondor commented on #90402
Might be worth moving the helpers to https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/component-helpers/scheduling/corev1

cc @smarterclayton

[2020-11-10 15:37] viniciusd commented on #24725
The issue with jobs for me is the fact one can't run a job with the same name. Even if I use a plugin that adds random gibberish to the job name, they are going to be pilling up in the cluster. Lots of pollution after some time.

[2020-11-10 15:52] alculquicondor commented on #95497
It might be safer to increase the rate with https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1040-priority-and-fairness, now graduating to beta.

[2020-11-10 16:05] thejoycekung commented on #95832
Let's close this - `pull-kubernetes-e2e-gce-ubuntu-containerd` also looks like it is no longer flaking as well https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-e2e-gce-ubuntu-containerd&test=dry-run#980e60fa6e1abff2a4a5

[2020-11-10 16:09] dvzrv commented on #80633
I just had the same issue on Arch Linux (also using btrfs).

This is a real issue and should be addressed. Our cloud images (virtual machines) are shipped using btrfs and will not work out of the box due to this issue!

[2020-11-10 16:44] dvzrv commented on #80633
My setup is using CRI-O and while using the proposed workaround in https://github.com/kubernetes/kubernetes/issues/80633#issuecomment-550994513 for the kubelet let's me at least bootstrap a cluster using kubeadm I am now getting a continuous stream of error messages:

[code]

[2020-11-10 16:56] jingxu97 commented on #88974
Yes I am working on a fix https://github.com/kubernetes/kubernetes/pull/96294

[2020-11-10 16:57] lousyd commented on #90066
I, too, would very much like to see the output of reading an object not include managedFields. It makes sense that you'd want "get" to always show the complete object. I like the idea of having a flag that says something like "--dont-show-me-that-stuff" that you can add in cases where you don't want to see it. (Which, for me, will be always.)

I also got to thinking about how PowerShell manages ve

[2020-11-10 17:00] wuestkamp commented on #24725
We did need the use case: `want to keep the application running, but require the restart of the entire pod instead of just the container`.

For this we let our main container, after its done, contact the K8s api to delete its own Pod (without gracePeriod) which causes a new Pod to be created.

Example here, but stripped down so not sure if working just like that:

[code]

[2020-11-10 17:20] discordianfish commented on #68522
node-exporter maintainer here, just to clarify: the node-exporter doesn't provide any container level metrics

[2020-11-10 17:26] b10s commented on #95488
Built kubelet with debug info:
[code]

brought it to an unhealthy node and run under Delve.

I can see unexpected `cgroupPaths` in `systemd` part:
[code]
at point
https://github.com/kubernetes/kubernetes/blob/v1.19.2/pkg/kubelet/cm/cgroup_manager_linux.go#L278

Probably the `buildCgroupPaths` has some unexpected behavior
[code]

[2020-11-10 17:34] neolit123 commented on #96416
/sig network

[2020-11-10 17:37] neolit123 commented on #96419
/sig storage

[2020-11-10 17:55] danielfm commented on #86436
Closing this, as my work wasn't impacted by this since.

[2020-11-10 17:55] #86436 closed

[2020-11-10 17:55] alvaroaleman commented on #90066
That is pretty much what `kubectl describe` is and that already omits the managedFields

[2020-11-10 18:15] dims commented on #95955
/milestone v1.20

[2020-11-10 18:20] dims commented on #95727
/cc

[2020-11-10 18:30] sumitKash commented on #79610
i can confrim this too, the kube controller seem to logs this every second:
E1110 16:03:22.545119       1 reflector.go:178] k8s.io/client-go/metadata/metadatainformer/informer.go:90: Failed to list *v1.PartialObjectMetadata: the server could not find the requested resource
E1110 16:03:22.969943       1 reflector.go:178] k8s.io/client-go/metadata/metadatainformer/informer.go:90: Failed to list *v1.

[2020-11-10 18:32] sumitKash commented on #79610
Is there any fix that could apply? I also want to know if this is a serious problem or not pls.

[2020-11-10 18:34] b10s commented on #95488
Seems during parsing of `/proc/self/mountinfo` there is something wrong:
https://github.com/opencontainers/runc/blob/v1.0.0-rc91/libcontainer/cgroups/v1_utils.go#L120

I have mount record which seems to be in not expected format:
[code]

and which is taken by runc wrongly

[2020-11-10 18:46] bobbypage commented on #96287
New cadvisor release (v0.38.0) has been cut -- https://github.com/google/cadvisor/releases/tag/v0.38.0

Next step will be to vendor it back into k/k

[2020-11-10 18:46] b10s commented on #95488
![Selection_999(090)](https://user-images.githubusercontent.com/4618288/98717430-6c2d2600-23d0-11eb-9682-6ac76e5bb066.png)

[2020-11-10 18:54] #72675 closed

[2020-11-10 18:55] #85031 closed

[2020-11-10 19:45] #95590 closed

[2020-11-10 19:50] dashpole commented on #68522
Follow-up from discussion at Sig-Node today:

Just to clarify, kubernetes/enhancements#2130 is trying to consolidate existing endpoints, and isn't intended to remove content.  Potential migration paths are covered as part of the KEP, but to summarize, most metrics being removed should be available in the /metrics/cadvisor kubelet endpoint.  If you rely on metrics that are not included in /metrics/

[2020-11-10 20:16] damemi commented on #93718
PR opened here: https://github.com/kubernetes/kubernetes/pull/96426, sorry for the delay

[2020-11-10 20:30] yuanchen8911 opened #96427 "API to access kube-scheduler's options and configuration parameters"
**What would you like to be added**:

Provide APIs  for out-of-tree scheduler plugins to access kube-scheduler's options and configuration parameters, such as `kubeconfig` path and `Master`.

**Why is this needed**:

Out-of-tree scheduler plugins often need `kubeconfig` path and `Master` information to create `clientset` and `informers`. A plugin has to process and manage these parameters separate

[2020-11-10 20:33] yuanchen8911 commented on #96427
/sig scheduling

[2020-11-10 20:33] yuanchen8911 commented on #96427
/cc @Huang-Wei

[2020-11-10 20:36] #94651 closed

[2020-11-10 20:39] henrik-m opened #96428 "Process Handle Leak on Windows Nodes"
**What happened**:

We have an internal hybrid Kubernetes Cluster which is setup with kubeadm, containing 3 master nodes, 3 linux worker nodes, and 2 windows worker nodes. During the process of migrating internal workloads from our old application platform (Windows Scheduled Tasks) to Kubernetes, we noticed that after a while the windows nodes become unresponsive because of continuously using 100%

[2020-11-10 20:42] henrik-m commented on #96428
/sig windows

[2020-11-10 20:43] #95589 closed

[2020-11-10 21:31] liggitt opened #96430 "`kubectl get <resource>.<group>` invalidates discovery"
**What happened**:

Ran the following on a cluster with many custom resources installed:

[code]

The command took longer to run than expected. Adding trace logging with `--v=6`, the `kubectl get` call was invalidating discovery data on every invocation, meaning every `kubectl get` call fully re-fetched discovery data.

This can be reproduced by making a `kubectl get` call with a single `<resource

[2020-11-10 21:32] liggitt commented on #96430
/sig api-machinery cli

[2020-11-10 21:36] thejoycekung opened #96431 "[Failing Test] ci-kubernetes-e2e-gci-gce-scalability keeps leaking a resource (compute disk)"
**Which jobs are failing**:
`gce-cos-master-scalability-100` / `ci-kubernetes-e2e-gci-gce-scalability`

**Which test(s) are failing**:
`diffResources`

**Since when has it been failing**:
d2fd46712...0cba30d89 (between 06:49 PST and 08:20 PST Nov 9)

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100

**Reason for failure**:
Unsure, but here's whe

[2020-11-10 21:40] pentago commented on #75817
Let's continue..

[2020-11-10 21:43] #94213 closed

[2020-11-10 21:45] spiffxp opened #96432 "Create image-pushing job per image for test/images"
**What should be cleaned up or changed**:

Right now there is only one job that pushes e2e images to GCR: https://testgrid.k8s.io/sig-testing-images#post-kubernetes-push-e2e-test-images.  It runs anytime anything under `test/images` is changed, but only builds a subset of images.

We discussed during SIG Testing today that we could either:
1. make the job build and push all images
2. make a job pe

[2020-11-10 21:46] paulgmiller commented on #76338
Believe what I was seeing was an issue with Azure Load Balancers's not sending resets
https://github.com/Azure/AKS/issues/1052

[2020-11-10 21:56] spiffxp commented on #96432
It also looks like `gcr.io/kubernetes-e2e-test-images` is being used for every e2e test image instead of `k8s.gcr.io/e2e-test-images`.  The only exception is `agnhost`.
- https://github.com/kubernetes/kubernetes/blob/1d4c0ad6f33f2bc42555becdb5d74e570c0730f3/test/utils/image/manifest.go#L72-L74
- https://github.com/kubernetes/kubernetes/blob/1d4c0ad6f33f2bc42555becdb5d74e570c0730f3/test/utils/image

[2020-11-10 21:57] spiffxp commented on #96432
So, let's list from the old image repository, using arm64 as an arch added not too recently but not forever ago to try and avoid stale images
[code]

Compared to the new promoted repository
[code]

Or its staging repository
[code]

[2020-11-10 22:34] neolit123 commented on #96428
seems critical enough to try to fix for 1.20.
/priority important-soon

[2020-11-10 22:34] neolit123 commented on #96428
/milestone v1.20

[2020-11-10 22:40] neolit123 commented on #96428
do you see indication which component (process) has ownership of the handles? i would presume it is the kubelet.

[2020-11-10 23:28] alculquicondor opened #96436 "Make runtime.NewFramework accept KubeSchedulerProfile"
The signature of `runtime.NewFramework` accepts `config.Plugins` and `[]config.PluginConfig`, and separate (via an Option), the scheduler name. It makes sense to just accept `config.KubeSchedulerProfile` instead.

This is a follow up to #95158

/kind cleanup
/sig scheduling
/triage accepted

Too late for doing this in 1.20, but we can do it for 1.21

[2020-11-10 23:29] alculquicondor commented on #96436
@tangwz FYI

[2020-11-11 00:19] alculquicondor opened #96437 "DefaultPreemption plugin is not created when Policy API is used?"
The test is not expecting any DefaultPreemption plugin:

https://github.com/kubernetes/kubernetes/blob/8ed6ca58bc29c341e69efe6a66deedf77db196db/pkg/scheduler/factory_test.go#L143

/sig scheduling
/assign @Huang-Wei

[2020-11-11 00:30] tangwz commented on #96436
/assign

[2020-11-11 00:39] tangwz commented on #96437
May I give a try when this issue is accepted ?

[2020-11-11 00:46] alculquicondor commented on #96436
FYI on related PR #96438

[2020-11-11 00:49] alculquicondor commented on #96436
Actually
/remove-triage

@ahg-g  would it be enough to do this AND update cluster autoscaler to use the new signature?

[2020-11-11 00:49] alculquicondor commented on #96436
/triage new

[2020-11-11 00:50] alculquicondor commented on #96436
/remove-triage accepted

[2020-11-11 00:51] alculquicondor commented on #96437
it might be urgent, so better leave it to @Huang-Wei

[2020-11-11 00:51] scarby commented on #24725
If your expectation is that your containers exit you should use a job. If you are concerned about these building up then use a label and delete the old jobs before you spin up a new one. Also time stamping is better than random gibberish.

[2020-11-11 01:23] Huang-Wei commented on #96437
I will give a fix later.

/assign

[2020-11-11 01:24] wawa0210 commented on #96428
/cc

[2020-11-11 01:25] pigletfly commented on #96104
So can make a consensus that they should be removed in client-go ?

[2020-11-11 01:48] #95636 closed

[2020-11-11 01:50] lingsamuel commented on #96167
Then I guess this will be a big refactoring task, not just sig/scheduling.

[2020-11-11 01:51] #96024 closed

[2020-11-11 03:47] wawa0210 commented on #96419
/assign

[2020-11-11 03:58] JornShen commented on #96401
/assign

[2020-11-11 04:25] pramod3009 commented on #67059
I am not sure if it is kubernetes issue or the user is expected to clear their port forwarding after a respun. Following post on stackoverflow is a temporary solution : https://stackoverflow.com/questions/37288500/how-to-undo-a-kubectl-port-forward/53948474#:~:text=The%20port%20is%20only%20forwarded,port%2Dforward%20command%20is%20running.

[2020-11-11 04:52] liggitt commented on #96104
That seems like a good thing to do, as well as ask on the developer mailing list and discuss forum.

[2020-11-11 06:14] pc-rshetty commented on #72231
We faced this exact same issue today on eks 1.15

[2020-11-11 06:54] Dingshujie commented on #96363
mark

[2020-11-11 08:02] JornShen commented on #95750
/triage accepted

[2020-11-11 08:35] zhutongcloud opened #96449 "kube-proxy not update ipvs rules when My pod infomation change"
**What happened**:
I open k8s ipv4/IPv6,Old ipv6 ipvs rule still exist  when my pod chanaged,cause curl service failed;but ipv4 ipvs rules can right now update.
**What you expected to happen**:
I wish kube-proxy can right now update ipvs rules
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl

[2020-11-11 08:39] jsafrane commented on #88622
This sounds useful. Maybe we could allow more PV changes than today.

[2020-11-11 09:05] bjorn-ali-goransson commented on #48307
Agreed, the team should admit that a lot of people only have resources for 1 replica and thus not reaching the treshold of HA. Why can't we cater for them as well?

[2020-11-11 09:45] kallmekunal commented on #38542
Is there solution of this problem with version 2.7.
Still facing the same.
what exactly expectation of helm upgrade --install relname chartsdirectory
is is expected to work on first time installation in case with CI/CD Pipelines.

[2020-11-11 10:03] cynepco3hahue commented on #81009
/reopen

[2020-11-11 10:04] cynepco3hahue commented on #81009
/remove-lifecycle rotten

[2020-11-11 10:28] terzonstefano commented on #72102
**Installation of the METRICS SERVER on a MASTER without minkube**

1) git clone https://github.com/kubernetes-incubator/metrics-server.git

2) kubectl create -f deploy/1.8+/

3) wait

4) kubectl top nodes  && kubectl top pods

[2020-11-11 10:42] Kumson commented on #86587
@anasalloush @gzqx have you tried `kubectl describe pod -n kube-system` ?
I found the proxy pod has been assigned to the follower node but the pod sandbox failed to be created.
The docker on the follower nodes may failed to pull image from "k8s.gcr.io", you need to prepare the images mannually or change the source of docker.
This solution works for me :)

[2020-11-11 10:53] roycaihw opened #96457 "pull-kubernetes-integration: TestStorageVersionBootstrap flakes"
**Which jobs are flaking**:
pull-kubernetes-integration

**Which test(s) are flaking**:
k8s.io/kubernetes/test/integration/storageversion: TestStorageVersionBootstrap

**Testgrid link**:
(not useful at the moment, no failure recorded in testgrid yet) https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration

**Reason for failure**:
I believe we just need to wait for CR to

[2020-11-11 10:54] roycaihw commented on #96457
/sig api-machinery
/triage accepted

[2020-11-11 11:51] george-angel commented on #57049
/remove-lifecycle rotten

[2020-11-11 12:30] edrevo commented on #43916
@bitglue the `referenced_memory` metric is just an example of an alternative metric that could be used. As fas as I can tell, once kubelet uses a configurable metric for memory pressure you could achieve your goal of disabling the memory pressure feature by using a metric which is always set to 0.

[2020-11-11 12:31] nunoguerreirorosa opened #96458 "CRD stuck on deletion due to finalizer"
**What happened**:
customresourcedefinition stuck on deletion due to finalize.

Last Transition Time:  2020-11-11T10:57:09Z
    Message:               CustomResource deletion is in progress
    Reason:                InstanceDeletionInProgress
    Status:                True
    Type:                  Terminating

I have attempted to patch the crd with the command below:
kubectl patch crd appproje

[2020-11-11 12:32] iamacceptable-daffodil commented on #79365
Hi

I want to do same can you help me how i can set resources for the linkerd proxy containers

[2020-11-11 12:38] nunoguerreirorosa commented on #96458
Nevermind. Figured out I can just edit with kubectl edit crd/applications.argoproj.io

[2020-11-11 12:38] #96458 closed

[2020-11-11 12:47] neolit123 commented on #96449
hi, please note this version of k8s will be out of support with the release of 1.20 in december.

kube-proxy is owned by SIG network:
/sig network

[2020-11-11 12:47] neolit123 commented on #96401
/sig storage

[2020-11-11 12:51] Frodez opened #96459 "The apiserver can't work"
**What happened**:
The apiserver is always restarting and I can't access it with any commands looks like `kubectl xxx`.
When I check the kubectl's status, the `journalctl -b -u kubectl` tells me that:
[code]

And then I checked the container's status and log of the apiserver:
status:
[code]
log:
[code]
[apiserver.log](https://github.com/kubernetes/kubernetes/files/5524047/apiserver.log)

I see tha

[2020-11-11 12:52] Frodez commented on #96459
The complete version for the log of apiserver:
[apiserver.log](https://github.com/kubernetes/kubernetes/files/5524047/apiserver.log)

[2020-11-11 12:58] cloudtrov opened #96461 "Limited resource allocation for a container results in volume mount permission issues"
**What happened**:
   We tried deploying mssql as a stateful with appropriate privileges for both container as well as the fsGroup, but the pod moved to CrashLoopBackOff. The container log shows /usr/bin/find: '/proc/9/map_files': Permission denied . When we increased the resource allocation capacity and redeployed the stateful set, the issue got resolved automatically and the pod moved to running

[2020-11-11 13:01] japzio commented on #81364
might be related to #24330

[2020-11-11 13:20] #85454 closed

[2020-11-11 13:41] hasheddan opened #96463 "[Failing Test] [k8s.io] Probing container should be restarted with a docker exec liveness probe with timeout [ci-kubernetes-e2e-ubuntu-gce]"
**Which jobs are failing**:

`gce-ubuntu-master-default (ci-kubernetes-e2e-ubuntu-gce)`

**Which test(s) are failing**:

`[k8s.io] Probing container should be restarted with a docker exec liveness probe with timeout`

**Since when has it been failing**:

`11-09-20 18:43 PST`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#gce-ubuntu-master-default

**Reason for failure**:

[2020-11-11 13:54] RobertKielty commented on #96431
Triage link on  **Error: 2 leaked resources** https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=Error%3A%202%20leaked%20resources

[2020-11-11 13:56] ravisantoshgudimetla commented on #96428
You can get this info from the kubelet log file when the kubelet starts:

```unix:///var/run/docker.sock``` or whatever the container runtime is...

[2020-11-11 14:04] schrej commented on #3949
For evaluation I've implemented a migration controller and a MigratingPod kind, which allows to migrate pods on deletion.
The operator is available at [schrej/podmigration-operator](https://github.com/schrej/podmigration-operator) (As the rest of my PoC, this is very rough as well.)
It requires my modified [kubernetes](https://github.com/schrej/kubernetes) (the latest modified version of kubelet!)

[2020-11-11 14:07] yashbhutwala commented on #69676
Now that #87856 is closed, what is the best way to alert on OOMKilled containers?

[2020-11-11 14:21] abhiranjeet opened #96465 "Hybrid Cloud Support in Community version of Kubernetes"
Hi,
I wanted to know if my master node of a cluster is self-managed, can I join a managed worker node to that existing master node ?

For example:
- I am using Kubernetes v1.19 on 2 VMs, 1 master node & 1 worker node
- Is there a possibility where my Master VM is community provisioned and Worker is provisioned by GCP, Azure, AWS, etc. ?

Thanks in advance !

[2020-11-11 14:23] bitglue commented on #43916
I can already achieve that goal by setting the memory limit equal to the request, or configuring the eviction thresholds.

My concern is any way I can think of employing this memory pressure feature, your proposed alternative metric included, results in terminating processes for "false" memory pressure, a condition where kubelet thinks there's memory pressure but the kernel could have reclaimed RA

[2020-11-11 14:24] abhiranjeet commented on #96465
/sig Cloud Provider

[2020-11-11 14:25] abhiranjeet commented on #96465
/sig cloud-provider

[2020-11-11 14:34] bitglue commented on #43916
Here's an idea: cgroups has a concept of a memory "soft limit". The kernel docs describe them as:

is to allow control groups to use as much of the memory as needed, provided

are pushed back to their soft limits. If the soft limit of each control
group is very high, they are pushed back as much as possible to make
sure that one control group does not starve the others of memory.

no guarantees, b

[2020-11-11 14:42] RobertKielty commented on #96431
Related issue #38680

@jingxu97 would you be able to take a look at this?

[2020-11-11 14:45] alculquicondor commented on #96437
/triage accepted

[2020-11-11 14:49] alculquicondor commented on #96167
It's not too big, but indeed beyond scheduling OWNERship

/sig api-machinery

[2020-11-11 14:50] liggitt commented on #96459
/cc @MikeSpreitzer

[2020-11-11 15:11] hasheddan commented on #96463
@oomichi @andrewsykim hey folks, noticed this was discussed on https://github.com/kubernetes/kubernetes/pull/94115. Interestingly, the enabled test is passing on [COS nodes](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default) and [Ubuntu Containerd nodes](https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd), but not on Ubuntu. I would be surpris

[2020-11-11 15:15] daniel-ke opened #96468 "In IPv4/IPv6 dual stack cluster, kube-proxy use ip6tables-restore restore rules failed and ipv6 fails due to Couldn't load target `KUBE-MARK-DROP`"
**What happened**:
In an IPV4/IPV6 dual Stack cluster some **type: NodePort/ipFamily: IPV6** service nodePorts are not created by the kube-proxy pods, resulting in us being unable to use IPV6 with externalTrafficPolicy: Local to track connecting IPv6 source IP's, which our use case requires.
( cluster : - pseudo HA config with 2 masters and one worker )

checking the kube-proxy logs for all 3 node

[2020-11-11 15:18] andrewsykim commented on #96463
Is the containerd version the same across those versions?

[2020-11-11 15:18] andrewsykim commented on #96463
FYI @SergeyKanzhelev

[2020-11-11 15:21] hasheddan commented on #96463
@andrewsykim let me double check on that

[2020-11-11 15:22] #91141 closed

[2020-11-11 15:25] sgissi commented on #85454
For anyone coming across this particular issue, I moved my cluster to Ceph-CSI. Migration is quite painful but I was able to do without having to resort to data restore: set PV to Retain, scale Deployment to 0, delete the PVC, create new PVC with new storageclass, delete the newly created RBD image and rename the old image to the new name. StatefulSets were a bit more involved but worked basically

[2020-11-11 15:32] daniel-ke commented on #96468
/sig network

[2020-11-11 15:44] #96437 closed

[2020-11-11 15:51] justaugustus commented on #96463
Opened https://github.com/kubernetes/test-infra/pull/19920 for this.

[2020-11-11 15:56] neolit123 commented on #96428
i did some debugging, but on an expired Windows Server Evaluation copy that i had while we worked on the kubeadm on Windows support becoming Alpha.

i started a 1.19.x kubelet without even having an apiserver to connect to and started adding and removing static pods in a loop. the static pod has a valid spec and seemed to be created properly. docker ps indicates that the containers are started pro

[2020-11-11 15:58] hasheddan commented on #96463
@andrewsykim @justaugustus did a little digging and see that the Ubuntu job is using Docker v19.3.13 ([logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1326479434944876544/build-log.txt)):
[code]
which I believe uses containerd v1.3.7 ([ref](https://docs.docker.com/engine/release-notes/)). This is in contrast to the COS job and Ubuntu containerd job, which

[2020-11-11 15:59] andrewsykim commented on #96463
The test _should_ be passing on docker though, so it's possibly a legitable failure

[2020-11-11 16:00] andrewsykim commented on #96463
Can you give me access to a cluster with that runtime? I can dig in a little deeper to figure out what's up

[2020-11-11 16:01] andrewsykim commented on #96463
Also, is this flaking or failing always?

[2020-11-11 16:02] hasheddan commented on #96463
@andrewsykim I believe a GKE cluster with Ubtuntu image nodes should use this runtime by default. And it is failing always

[2020-11-11 16:08] andrewsykim commented on #96463
Okay, I also thought some of the GKE presubmit tests were using dockershim too, wondering why those passed during presubmit

[2020-11-11 16:09] andrewsykim commented on #96463
Are there any presubmit tests that run dockershim? That would help us narrow down if it's a docker problem or a containerd version specific problem.

[2020-11-11 16:11] aravindhp commented on #96428
/cc

[2020-11-11 16:18] hasheddan commented on #96463
@andrewsykim I don't think there are. Looks like we only run node-e2e (which I am guessing is COS) and ubuntu-containerd https://testgrid.k8s.io/presubmits-kubernetes-blocking#Summary

[2020-11-11 16:29] andrewsykim commented on #96463
ack, is this test also failing on vanilla ubuntu?

https://github.com/kubernetes/kubernetes/blob/81ad32e3a4005be16a4403a5f1edef342a16113e/test/e2e/common/container_probe.go#L227-L241

[2020-11-11 16:29] henrik-m commented on #96428
@neolit123 has asked:
[code]

No, the process leaking handles is not the kubelet itself (which is why restarting it does not yield any results). This is the task manager output from the affected machine:
![pcasvc-handles](https://user-images.githubusercontent.com/8522449/98835657-fad98b80-2440-11eb-8c32-11ac0764c0fa.png)

The description of this service in the services overview is:
[code]

I've no

[2020-11-11 16:32] b10s commented on #95488
Seems the kubelet code

https://github.com/kubernetes/kubernetes/blob/v1.19.2/pkg/kubelet/cm/helpers_linux.go#L203-L208

squeezes the array of 12 elements into map of 13 elements.

But why "squeezes" if the map is bigger than the array?!

Because it loses one of `systemd` subsystem mount points.

------------------------------------------

The array returned from **runc** (**important** - here are

[2020-11-11 16:42] cynepco3hahue commented on #75355
/remove-lifecycle stale

[2020-11-11 16:55] neolit123 commented on #96428
my non-expert evaluation is that PCA is not system-critical for Kubernetes to operate:
https://docs.microsoft.com/en-us/previous-versions/bb756937(v=msdn.10)?redirectedfrom=MSDN

you can turn it off and see how that goes.
https://getadmx.com/?Category=Windows_10_2016&Policy=Microsoft.Policies.ApplicationCompatibility::AppCompatTurnOffProgramCompatibilityAssistant_2

the problem could be in PCA its

[2020-11-11 17:06] #91965 closed

[2020-11-11 18:32] #92512 closed

[2020-11-11 18:37] dylex commented on #78949
I think I'm seeing an issue related to this where MASQUERADE is doing the wrong thing in a fairly simple setup with multiple networks:
https://discuss.kubernetes.io/t/multi-network-cluster-broken-without-masquerade-all/13671
`--masquerade-all` fixes it but I'm not sure that's the right fix.

[2020-11-11 18:55] #96186 closed

[2020-11-11 19:38] wilsonehusin opened #96475 "Ability to get list of overridable registries in e2e.test"
**What would you like to be added**:

A way to list [known YAML keys to override registries with `KUBE_TEST_REPO_LIST`][registry-yaml] without having to look inside the code.

**Why is this needed**:

To run conformance test on airgapped cluster, users need to prepare for the images being used by conformance test suite in registries which are accessible by their cluster. From what I have gathered,

[2020-11-11 19:54] Huang-Wei opened #96478 "Rejection of a waiting pod in scheduler may cause delay of its rescheduling"
In the discussion of https://github.com/kubernetes/kubernetes/pull/82222#issuecomment-719100360, we found a glitch that rejecting a waiting Pod triggers `sched.deletePodFromSchedulingQueue(`) instead of `sched.deletePodFromCache()`. The minor difference results in the preemptor pod lost the immediate chance to be moved back to activeQ/backoffQ - it has to wait for the next flushOff tick to be re-s

[2020-11-11 19:56] Huang-Wei commented on #96478
cc/ @cwdsuzhou @denkensk @yuanchen8911

[2020-11-11 20:52] jingxu97 opened #96481 "Revisit [LinuxOnly] tests running on Windows"
There are some storage e2e tests marked as [LinuxOnly]. Should check again whether some tests can be modified to also run on Windows.

[2020-11-11 21:10] aojea opened #96482 "Add SCTP support to the e2e DialFromNode method"
The method `DialFromNode()` is used in the e2e tests to check the connectivity from the node

https://github.com/kubernetes/kubernetes/blob/a5bce462d095d3bf1ad91a6ebbc2c7a6ce3a314e/test/e2e/framework/network/utils.go#L420-L433

However, it only supports UDP and TCP, panicing if we try to use SCTP.

Adding support for SCTP will allow to enable e2e tests for those testcases

[2020-11-11 21:10] aojea commented on #96482
/help wanted
/sig network

[2020-11-11 21:11] aojea commented on #96482
/help-wanted

[2020-11-11 21:13] rdxmb commented on #51475
/remove-lifecycle stale

[2020-11-11 21:17] adammw commented on #51798
Is there any work around removing the legacy cadvisor implementation for Docker on Linux in favour of a CRI implementation - or is that blocked on moving away from legacy docker integrations at the same time?

[2020-11-11 21:19] gnufied commented on #95588
/close

[2020-11-11 21:20] #95588 closed

[2020-11-11 21:31] adammw opened #96483 "Document that disabling `enable-cadvisor-json-endpoints` flag does not disable stats summary endpoint"
**What would you like to be added**:
Update the help text for kubelet's `enable-cadvisor-json-endpoints` flag to explicitly mention that it has no effect over the `/stats/summary` endpoint.

**Why is this needed**:
The help text for kubelet's `enable-cadvisor-json-endpoints` flag describes it as "Enable cAdvisor json `/spec` and `/stats/*` endpoints." which would seem to include `/stats/summary`,

[2020-11-11 22:25] jsturtevant commented on #96481
/sig windows

[2020-11-11 22:27] wilsonehusin commented on #96475
/area conformance
/area e2e-test-framework

[2020-11-11 22:35] #95490 closed

[2020-11-11 23:07] innovate-invent commented on #75890
/remove-lifecycle stale

[2020-11-11 23:47] ravilr opened #96486 "HA multiple apiserver setups aren't rolling upgrade safe"
In clusters running multiple apiservers for HA, doing a rolling upgrade from 1.x.y to 1.x+1.y of apiservers one at a time, currently results in client-go clients failing due to api discovery errors. this breaks kubectl, kube-controller-manager control loops, any client using standard discovery apis.

This issue happens with almost every minor version upgrade where there were either new API resourc

[2020-11-12 00:12] daniel-garcia commented on #82942
/remove-lifecycle stale

[2020-11-12 00:56] mattcary commented on #80712
/remove-lifecycle stale

[2020-11-12 01:54] pacoxu commented on #96362
Can I know your kubectl version  and the k alias?

[code]
'kubectl delete' will use delete deployment with '--cascade true' by default.

![image](https://user-images.githubusercontent.com/2010320/98885443-fe1a5900-24cc-11eb-8af4-57c44239f0a2.png)

[2020-11-12 01:58] pacoxu commented on #96107
kubectl delete replicaset.apps/nginx-f89759699 --cascade=false

The command above with ' --cascade=false' will delete rs without removing the pods. This may be a user case why someone what to remove the owner reference of a pod.

[code]

[2020-11-12 02:01] ramnar commented on #93100
@zhouya0  - Can you review the above pull request? Also I would like to work on create_service. Can you please assign me that

[2020-11-12 02:45] jacksontj commented on #75890
For anyone else having this issue, we ended up creating a controller to manage this. After reading through this thread and some other issues (e.g. https://github.com/kubernetes/enhancements/pull/1003#issuecomment-619087019) we decided that we'd go with the proposed solution -- namely nodes start with a taint which is then removed. We created https://github.com/wish/nodetaint to do so-- with this c

[2020-11-12 03:04] ravisantoshgudimetla commented on #96428
cc @jsturtevant @marosset @michmike

[2020-11-12 03:05] Jiawei0227 opened #96494 "Support Raw block test for snapshottable"
Currently in the storage testsuite snapshottable test, we dont test raw block in the test itself. This has been proven problematic because some errors for csi driver that supports both raw block and snapshot might be uncovered.

For example: https://github.com/kubernetes-csi/csi-driver-host-path/issues/219

/sig storage
/cc @msau42
/cc @xing-yang
/cc @chrishenzie

[2020-11-12 03:06] Jiawei0227 commented on #96494
/assign @Jiawei0227

[2020-11-12 03:07] denkensk commented on #96478
[code]

I find that Rejecting a waiting Pod will trigger `sched.SchedulerCache.ForgetPod` to delete Pod From Cache.

[2020-11-12 03:30] andrewsykim commented on #96463
Bug fix here https://github.com/kubernetes/kubernetes/pull/96495, @hasheddan can you help me run that failing job against that PR?

[2020-11-12 04:12] tengqm opened #96497 "APIListChunking - feature gate to GA?"
**What would you like to be added**:

Shall we graduate APIListChunking to GA? The feature has been on since v1.9 and we are not getting a lot of complaints/issues on this feature (I may be wrong).

**Why is this needed**:

[code]

[2020-11-12 04:12] tengqm commented on #96497
/sig api-machinery

[2020-11-12 05:14] jeremyje commented on #94138
/assign jeremyedwards

[2020-11-12 05:57] Huang-Wei commented on #96478
That's true, otherwise it's a huge issue... What I was referring to is that the rejected Pod don't have an immediate chance to be rescheduled.

[2020-11-12 06:08] denkensk commented on #96478
Yes. Can we add some mechanism to trigger `MoveAllToActiveOrBackoffQueue` after a waiting Pod is rejected ?
It seems that we've discussed similar issues before.

[2020-11-12 06:14] lead4good commented on #26567
I have bumped into this issue today. For those looking for an easy workaround can use [Pod Affinity rules](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/). Just add an affinity rule to your dependent pods with the unique labels of the pod that had been started with the PVC.

[2020-11-12 06:34] warmchang commented on #68036
Can be closed by https://github.com/kubernetes/kubernetes/pull/77688

[2020-11-12 07:27] r10r commented on #94825
@harche Do you have the time to look at this issue ? I can help with testing / debugging if required.

Environment

* Kubernetes 1.19.3
* Cri-o 1.19.0

[2020-11-12 07:48] abhiTamrakar opened #96500 "privileged PSP is getting applied to all namespaces regardless of RBAC"
**What happened**: privileged PSP is getting applied to all namespaces regardless of RBAC

**What you expected to happen**: PSP shall be applied as per defined RBAC policies for individual namespaces

**How to reproduce it (as minimally and precisely as possible)**: Have one privileged PSP and one restricted, with admission controller for PodSecurityPolicy enabled and RBAC to decide the associatio

[2020-11-12 07:50] abhiTamrakar commented on #96500
/sig auth

[2020-11-12 07:53] harche commented on #94825
Sorry I haven't gotten a chance to look into it yet, I would certainly appreciate any help in debugging. Thanks.

[2020-11-12 08:05] zoeeer commented on #88613
Hi! I'm having a similar problem here.

I have set "activeDeadlineSeconds" on a Pod spec. When the container runs longer than that time limit, the Pod's `Status` will turn to `Failed` with `Reason`: `DeadlineExceeded`. However, the **container**'s `Status` remains `Running` and seems stay that state forever until I mannually delete the pod. (not sure how to check status of container after the pod

[2020-11-12 08:24] ledroide commented on #91600
Same issue here, using Kubernetes 1.19.3.
Happens even with pods that do not use EmptyDir volumes.
@windayski : why did you close the issue ? Could you solve it ?

[2020-11-12 08:34] maplain opened #96504 "kube-scheduler, cloud-controller-manager and kube-controller-manager endpoints are being constantly updated"
**What happened**:
kube-scheduler, cloud-controller-manager and kube-controller-manager Endpoints are being constantly updated.
[code]

**What you expected to happen**:
Without any change in the system, they should not be updated all the time.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a 1.19 k8s cluster, run
[code]
1. See that kube-scheduler, cloud-controller-manage

[2020-11-12 08:34] maplain commented on #96504
/sig network

[2020-11-12 08:35] zoeeer commented on #88613
More info:
Once the pod turned Failed, I can no longer access the container's shell (via command: `kubectl exec -it pod-timeout-test -- /bin/sh`) -- even before the container's sleep time runs out. So it's really confusing what state has the container run into.

[2020-11-12 08:37] prashantcfc opened #96505 "Node labels set by Topology keys are not removed after uninstalling CSI Driver"
**We are writing a CSI driver SP (on prem) and during the NodeGetInfo RPC we return certain topology keys as part of the response which are set on the CSINode and in turn, on the Kubernetes Node. However, when the driver is uninstalled, these node labels are removed from the CSINode object but not removed from the Kubernetes Node.**:

**Since the node labels are removed from the CSINode, expected

[2020-11-12 08:40] windayski commented on #91600
@ledroide： Check your kubelet args `--eviction-minimum-reclaim `.  Maybe it's too large, so the kubelet would still reclaim the resource even if the resource is sufficient on this node.

[2020-11-12 08:43] llhuii opened #96506 "Inconsistent behavior when creating pods with different gpu limits"
**What happened**:
[code]

**What you expected to happen**:
Expect these status of the pods `cuda-vector-add-d8wmf` and `cuda-vector-add-d8wmf` have same behaviors.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- Cloud provider or hardware configuration:
- OS (e.g: `cat

[2020-11-12 08:49] jsafrane commented on #88848
/reopen
/lifecycle frozen

[2020-11-12 08:58] maplain opened #96507 "service Topology doesn't reject the traffic when there is no matching Endpoint"
**What happened**:
When a Service is created with only region topology key, and no extra steps are taken to add those labels to the EndpointSlice, querying the NodePort successfully returns the response

**What you expected to happen**:
Query should be rejected as documented here: https://kubernetes.io/docs/concepts/services-networking/service-topology/#using-service-topology

**How to reproduce i

[2020-11-12 08:59] maplain commented on #96507
/sig network

[2020-11-12 09:06] nikhilbhalwankar commented on #44377
I tried this out on my GKE environment. However, I attached two different persistent disks as follows,

mkdir /exports/data1   -> Mounted Disk1 on this folder
mkdir /exoprts/data2  -> Mounted Disk 2 on this folder

The contents are correctly seen after mounting on NFS pod but when these are mounted on woker pods, the contents are shown as blank. What can be done toresolve this issue?

[2020-11-12 09:16] andyzhangx opened #96508 "mount failure in Azure File CSI migration"
**What happened**:
after turning on `CSIMigration=true,CSIMigrationAzureFile=true` on 1.19, Azure File CSI migration e2e test would failure, main error is like following: `fetching NodeStageSecretRef default/azure-storage-account-f5ffebf7f32ce4953afa073-secret failed: kubernetes.io/csi: failed to find the secret azure-storage-account-f5ffebf7f32ce4953afa073-secret in the namespace default with err

[2020-11-12 09:34] nikhilbhalwankar commented on #44377
I tried this out on my GKE environment. However, I attached two different persistent disks as follows,

mkdir /exports/data1 -> Mounted Disk1 on this folder
mkdir /exoprts/data2 -> Mounted Disk 2 on this folder

The contents are correctly seen after mounting on NFS pod but when these are mounted on woker pods, the contents are shown as blank. What can be done toresolve this issue?

[2020-11-12 09:41] andyzhangx commented on #96508
cc @msau42

[2020-11-12 09:44] mborsz opened #96509 "gce-cos-master-scalability-100 fails on diffResources"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-scalability
**Which test(s) are failing**:
diffResources
**Since when has it been failing**:

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-master-scalability-100

**Reason for failure**:
e.g.

[code]
**Anything else we need to know**:

/assign

[2020-11-12 09:44] mborsz commented on #96509
/sig scalability
/triage accepted

[2020-11-12 09:44] mborsz commented on #96509
Sample failing test:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1326783280590098432

[2020-11-12 10:02] mborsz commented on #96509
Last passing: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1325812662495350784
* v1.20.0-beta.1.285+d2fd467123aac0
* test-infra commit: 3e13293bb

First failing: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1325835563500048384
* v1.20.0-beta.1.290+0cba30d891cb77
* test-infra commit: 76293f4ba

Test-infra di

[2020-11-12 10:06] mborsz commented on #96509
The 'e2e-big-dynamic-pvc-f50aa2f5-a779-4c9e-aede-4150aace06fe' pd-ssd is a prometheus' disk.

The first failing run has:
[code]

while in the last passing we have:
[code]

https://github.com/kubernetes/perf-tests/pull/1563 seems to be culprit

[2020-11-12 11:02] citananda commented on #96380
Someone can help please ?

[2020-11-12 11:09] lingsamuel commented on #96430
The reason seems to be we falsely parse, for example, `endpointslice.discovery.k8s.io` to `k8s.io/discovery, Resource=endpointslice`.

https://github.com/kubernetes/kubernetes/blob/307278029cbf69bc35a7795594d970b7781de2b8/staging/src/k8s.io/apimachinery/pkg/runtime/schema/group_version.go#L29-L37

So the match failed, `err != nil` is true, triggered reset here.

https://github.com/kubernetes/kuber

[2020-11-12 11:10] RobertKielty commented on #96509
Thanks for logging this and looking at the issue

This was already logged here 96431

Please check the [CI Signal board](https://github.com/orgs/kubernetes/projects/11#card-49104618) for failing flaking tests

[2020-11-12 11:32] cseifert-betterdoc commented on #89898
We're also seeing the same issue: Random failures of the Liveness and Readiness probes with `net/http: request canceled (Client.Timeout exceeded while awaiting headers)` using Kubernetes 1.15

Managed EKS at AWS: `Server Version: version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.11-eks-065dce", GitCommit:"065dcecfcd2a91bd68a17ee0b5e895088430bd05", GitTreeState:"clean", BuildDate:"2020-07-16T0

[2020-11-12 11:35] wojtek-t commented on #96431
Debuged in https://github.com/kubernetes/kubernetes/issues/96509

[2020-11-12 12:22] liggitt commented on #96500
By granting the privileged policy to all service accounts in the kube-system namespace, you also grant it to all the service accounts used to run the workload controllers, like the one that creates pods from replica sets. Since that service account is allowed to use the privileged policy, the pod create attempt by that controller is permitted to use the privileged policy.

To resolve this, remove