[2017-03-24 17:36] cjcullen commented on #43612
@ixdy @fejta @spxtr In the past, these failures have been due to Jenkins projects filling up their project metadata, so that's where I'd start looking.

[2017-03-24 17:38] copumpkin commented on #43580
@ncdc do you know if `go-systemd` is the only thing forcing cgo right now?

[2017-03-24 17:40] ncdc commented on #43580
@copumpkin there were some other dependencies previously but I believe I got all of them fixed. https://github.com/kubernetes/kubernetes/pull/38631 was another one but it merged a while ago.

[2017-03-24 17:42] copumpkin commented on #43580
Oh, nice! This will be very cool for minikube (and probably anyone who wants to build k8s!)

[2017-03-24 17:42] jonathan-kosgei opened #43629 "GCE Storage class auto-provisioning SchedulerPredicates failed due to PersistentVolumeClaim is not bound"
**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): container os
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
I have the following Storageclass:
[code]
With that I create the following statefulset:
[code]

However the pod doesn't come up and gives

[2017-03-24 17:44] mikedanese commented on #43470
I'm not looking at this anymore, ping me if you need me.

[2017-03-24 18:00] cjcullen commented on #43612
Talked to @krousey offline. Sounds like this is only happening immediately after an upgrade. That should be a bug, but I don't think it should hold up the release.

[2017-03-24 18:02] tomdee commented on #41723
The flannel PR is now merged.

[2017-03-24 18:05] krousey commented on #43579
@jszczepkowski Who is doing the manual upgrade test since this has now been removed?

[2017-03-24 18:07] andrewrynhard commented on #41723
@luxas I am closing this. Flannel will tolerate the master taint now.

[2017-03-24 18:07] #41723 closed

[2017-03-24 18:14] gamefiend commented on #43222
Will close the issue as the main work is completed.

[2017-03-24 18:14] krousey commented on #43611
Judging by the comment https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L2245 and digging into the history https://github.com/kubernetes/kubernetes/commit/0efe5e7872dddfa817f90dfc4ca666c6d63469c1#diff-8349006db2c242fd7424e1dfb3295840R339 , this used to be wrapped in a retry loop. It was removed in https://github.com/kubernetes/kubernetes/commit/f9a2c07c2007531d35af33

[2017-03-24 18:23] liggitt commented on #43611
it looks like this is limited to gke jobs in the upgrade tests. since getting pod logs depends on master->node communications, which would be affected by the SSH tunnels issue (https://github.com/kubernetes/kubernetes/issues/43612)

[2017-03-24 18:25] wongma7 commented on #43629
Hm maybe the plug-in https://kubernetes.io/docs/admin/admission-controllers/#defaultstorageclass is not enabled? I don't know how to check if the plugin is enabled or not though.

[2017-03-24 18:27] krousey commented on #43470
I'm willing to count https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.6-1.5-downgrade-cluster/130 as a pass...

[2017-03-24 18:28] jonathan-kosgei commented on #43629
I checked the kubelet logs on a hunch:
[code]

What version of kubernetes do I need for that to work?

[2017-03-24 18:31] #43613 closed

[2017-03-24 18:34] wongma7 commented on #43629
It is supposed to work in 1.5, I just don't know if it's turned on by default. it's supposed to automatically change PVCs with storageClass=="" to storageClass="thedefaultstorageclass" e.g. to "fast"

To get around this issue for now you can just add

annotations:
      volume.beta.kubernetes.io/storage-class: "fast"

to your statefulset's volumeClaimTemplate to explicitly ask for "fast." Somebody

[2017-03-24 18:43] jonathan-kosgei commented on #43629
Thanks, let me try that

[2017-03-24 18:54] vishh commented on #23255
The easiest solution would be that of using SSDs as your primary storage.
Is that an option for you?

On Fri, Mar 24, 2017 at 8:57 AM, David Ashpole <notifications@github.com>
wrote:

[2017-03-24 18:56] vishh commented on #43607
@k82cn some of the work items have already been been prototyped including the predicates you mention. Give us a couple of days to update owners on the list of work items.

[2017-03-24 19:01] chuckbutler commented on #43461
The actual root of this issue is that there is no clean way to remove the unit during the departed phase if you are the leader. This works well for non-leader units, but if you ever destroy the leader which you did in the above example, it will unregister all peers and effectively break state.

https://bugs.launchpad.net/juju/+bug/1417874

This bug has been open since 2015 and doesn't have any cle

[2017-03-24 19:10] jayunit100 opened #43631 "Make kubectl.go images faster / squashed ."
**Kubernetes version** (use `kubectl version`):

master

**What happened**:

Pulling the redis image takes a while, like 30 seconds in GCE.    This might be leading to periodic timeouts in tests like `--ginkgo.focus="should check if kubectl describe print"`.

[code]

**What you expected to happen**:

Tests shouldn't depend on large images that take a potentially long time to pull.

** proposed fix

[2017-03-24 19:11] jayunit100 commented on #43631
cc @kubernetes/sig-testing-misc @kubernetes/sig-testing-bugs  (considering this as a bug since we shouldnt need a 500MG image just to test kubectl :))

[2017-03-24 19:18] cmluciano commented on #20365
Taking a look at this today, I also thought that setting ```KUBE_BUILD_PLATFORMS=``` seems to be the most reasonable.

[2017-03-24 19:20] klausenbusk opened #43632 "Provide a way to add entries to /etc/hosts"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**

Ingress, hosts and /etc/hosts
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

There have already been a few issues regarding modifying `/etc/hosts`: https://github.com/kubernetes/kubernetes/issues/20079, https://github.com/kubernetes/kubernetes/issues/

[2017-03-24 19:21] klausenbusk commented on #12337
I have opened a new issue: https://github.com/kubernetes/kubernetes/issues/43632

[2017-03-24 19:32] klausenbusk opened #43633 "Ingress: Allow for multiple hosts"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**
Ingress controller, "hosts", multiple host.

I found this issue: https://github.com/kubernetes/ingress/issues/87 but it was closed as it was in the wrong repo.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

With the current implementation, if you have

[2017-03-24 19:35] ozdanborne opened #43634 "kube-apiserver --storage-backend defaults to etcd3 and hangs if connecting to etcd2 cluster"
I just spent a lot of time debugging this so I figured I'd raise, if anything just to help the next guy googling why his upgrade from k8s-1.5 to k8s-1.6 isn't working. But k8s maintainers feel free to close this if there's no action needed here.

It looks like kube-apiserver for k8s 1.6 now defaults to `--storage-backend=etcd3`. When in this mode, kube-apiserver hangs on its requests to an _etcdv2

[2017-03-24 19:45] djosborne commented on #43634
Note this was with coreos which by default ships with etcdv2 so all CoreOs users will now need to specify this flag.

[2017-03-24 20:05] marun commented on #43616
This looks transient, a single failure in the past week.  Moving to 1.7

[2017-03-24 20:19] krousey commented on #43579
cc @enisoc

[2017-03-24 20:30] anhowe opened #43638 "Manual upgrade of HPA (Horizonatal Pod Autoscaler) for v1.6"
V1.6 Blocking

A manual upgrade test to verify HPA is required.

**Horizontal pod autoscaler Instructions**
1. Use the HPA demo: https://kubernetes.io/docs/user-guide/horizontal-pod-autoscaling/walkthrough/

2. Create a Job:
[code]

3. Verify that job finishes successfully, upgrading master does not affect pods, pods get re-created after node upgrade, “kubectl get jobs” shows SUCCESSFUL == DESIRED

[2017-03-24 20:31] anhowe commented on #43579
created #43638 to track manual upgrade

[2017-03-24 20:48] grodrigues3 commented on #43638
I'll try and run this test manually for now based on the doc we used for the[ 1.5 manual upgrade testing](https://docs.google.com/document/d/19Q4AzWLD5jd2FNaPyKy2xdTN4JIGUUpvwDwg0tcBkyc/edit#).  (obviously using the 1.6 release branch instead of the 1.5)

[2017-03-24 20:52] pwittrock commented on #43638
Thanks @vishh for helping @grodrigues3 with this!

[2017-03-24 20:52] calebamiles commented on #43638
thanks @grodrigues3!

[2017-03-24 20:54] cmluciano commented on #43567
@sig-network-bugs

[2017-03-24 20:57] anhowe commented on #43638
thanks @grodrigues3 and @vishh

[2017-03-24 20:58] ethernetdan commented on #43610
Not blocking under @krousey's guidance

[2017-03-24 20:58] ethernetdan commented on #43612
Not blocking under @krousey's guidance

[2017-03-24 20:58] ethernetdan commented on #43611
Not blocking under @krousey's guidance

[2017-03-24 21:01] fabiand opened #43639 "Use SCSI reservations for exclusive iSCSI access"
Does it make sense to use SCSI reservations to prevent concurrent access to the same iSCSI target?

This works around the fact that it's currently a duty of the plugin or provider to enforce the access patterns.

[2017-03-24 21:01] fabiand commented on #43639
/cc @rootfs @jsafrane

[2017-03-24 21:12] rmmh commented on #43631
This should be as simple as changing the current `test/images/pets/redis/Dockerfile` to use alpine and install redis, instead of basing it off debian, installing gcc, and compiling redis from source :-)

The image should be ~10MB.

[2017-03-24 21:22] msau42 opened #43640 "[Storage] Add support for persistent local storage"
Based on kubernetes/community#306

This issue is meant to track work items and help collaboration between the community on adding support for persistent local storage.

Note: Priority of these features can change based on the number of collaborators.

Alpha user guide is [here](https://github.com/kubernetes-incubator/external-storage/blob/master/local-volume/README.md)

Individual task tracking is

[2017-03-24 21:22] msau42 commented on #43640
/assign @msau42 @vishh

[2017-03-24 21:23] msau42 commented on #43640
cc @kubernetes/sig-storage-feature-requests @kubernetes/sig-scheduling-feature-requests @kubernetes/sig-apps-feature-requests

[2017-03-24 21:25] janetkuo commented on #12987
@matthyx thanks, that would be very helpful!

[2017-03-24 21:28] krousey commented on #43610
https://github.com/kubernetes/kubernetes/pull/43641 Aims to improve the logging of this error, not fix it.

[2017-03-24 21:31] davidopp commented on #43607
@timothysc I wonder if in-person discussions about this should be channeled to the "resource management working group" ... I'm a little worried about spreading discussion between node and scheduling.

[2017-03-24 21:37] JayBusch commented on #18372
I've read through this and several related issues, not to mention any documentation I can find.  It seems that config reloads for pods that use HUP signals is implemented; I just don't see how to implement it.  Perhaps I'm just obtuse, but it would make sense to me if there was a way to define this in a configmap, deployment, service, or container spec so that when I update a configmap that a pod

[2017-03-24 21:41] vishh commented on #43607
@davidopp +1 on having discussions in the resource management working group.

[2017-03-24 21:49] smarterclayton commented on #39325
Nope, this I think was just me failing at locks.  Will continue trying to test.

[2017-03-24 21:54] csbell opened #43646 "[Federation] Service Controller DNS handling is broken"
This has surfaced in Ingress and Service e2e tests that manipulate DNS entries. The service controller queries the managed dns entry, thinks that the CNAME doesn't exist and adds a new one. However, clouddns says (through a 409) that the entry already exists. Error message aside, the control flow within the service controller's endpoint_helper prevents a service from being deleted.

It's unclear a

[2017-03-24 22:09] divyenpatel commented on #43319
Looked in to this issue. Request does reach to vCenter and get processed. size is read as capacityKb 1. So getting error The virtual disk size is too small

[code]

**when set size to 1073741824 without unit, able to create 1 GB volume**

[code]

[code]

[2017-03-24 22:10] #42004 closed

[2017-03-24 22:42] enisoc opened #43648 "kubectl describe takes 60s to return"
**Is this a request for help?**:

No.

**What keywords did you search in Kubernetes issues before filing this one?**:

* "kubectl describe"

---

**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `unam

[2017-03-24 22:50] liggitt commented on #43648
If you do this with `--v=6`, which call(s) are taking the time?

[2017-03-24 22:50] divyenpatel commented on #42338
Tried to see the behavior with bringing down VPXD.

[code]

Verified Cluster Health.

[code]

Observed pod is running.

[code]

and able to get into container running within pod.

[code]

[2017-03-24 22:58] ixdy commented on #43648
I just deployed a v1.6.0-rc.1 cluster on gce using kube-up.sh, and it's working as normal (no 60s-delays).

[2017-03-24 23:03] enisoc commented on #43648
I retried my own repro steps from scratch and now I can't repro. So I must have done something else to get into a bad state. I will look at other possible repro steps that I may have missed.

[2017-03-24 23:04] thockin commented on #43628
I'm not sure I buy the overloading of PV/PVC, and I am not sure this should be a builtin Kind - this seems like a good use for TPR, at least initially?

[2017-03-24 23:30] nicksardo commented on #33483
/assign

[2017-03-24 23:43] ixdy commented on #43626
[code]

[2017-03-24 23:52] enisoc commented on #43648
I was able to repro again. The key seems to be generating a large amount of events first.

Here is the output from `kubectl describe deploy asd --v=6`:

[code]

In my case, the way I ended up with a large number of events was by tickling a bug in 1.5 before doing the upgrade. I have a battery of overlapping controllers that causes a 1.5 cluster to freak out if you create them all at once:

https:/

[2017-03-24 23:54] gyliu513 commented on #43564
For the Kubernetes native `NodePort`, the problem is that the customer **only** want to access the specified pod with `node IP (where the pod is running) + host port mapping` as they already have a haproxy outside the Kubernetes cluster and they do not want the `NodePort` load balance as it may access pods in other nodes.

[2017-03-25 00:01] smarterclayton commented on #43628
I'd prefer a tpr and a secret to deliver a path, in combo with pod preset.  Object storage really isn't a volume - it's a set of credentials pointin to a service, which is what podpreset solves.

[2017-03-25 00:01] smarterclayton commented on #43628
@pmorie @jessfraz re podpreset

[2017-03-25 00:08] jayunit100 opened #43651 "Triage, fix, or SkipIfNode<1 [Conformance] tests which don't work on local cluster."
**Is this a request for help?**

No

**Environment**:

master

**What happened**:

10 Conformance tests fail on local cluster.  Some may be `Conformance` but others should be triaged, relabeled, or fixed, or skipped for single nodes.

[code]

**What you expected to happen**:

Local clusters should pass `Conformance`.

**How to reproduce it** (as minimally and precisely as possible):

[code]

**Not

[2017-03-25 00:08] jayunit100 commented on #43651
@kubernetes/sig-testing-misc

[2017-03-25 00:18] liggitt commented on #43648
Yeah, with sufficiently large numbers of objects, you can hit LB or proxy timeouts. Non-collapsing events (unique messages that include a timestamp or resourceVersion for different events for the same cause and object) for misbehaving components are a likely cause of that.

[2017-03-25 00:20] enisoc commented on #43648
Is this a pre-existing known issue? If so, I will remove it from the milestone.

[2017-03-25 01:27] chuckbutler commented on #43461
After some re-negotiation and exploration, we've settled on this method which uses the -broken context to allow the unit to self unregister with the currently identified juju leader. This should resolve the above without much further fuss. Removing units (including the leader) yielded successful test results.

[2017-03-25 01:37] YuPengZTE opened #43656 "FAILURE in PR #42297 pull-kubernetes-e2e-gce-gci #23247"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/42297/pull-kubernetes-e2e-gce-gci/23247/

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you sho

[2017-03-25 01:39] shashidharatd commented on #43646
Hi @csbell,
I used CoreDNS for most of my testing for service controller refactoring and i did not notice these errors.
my local test environment is slightly different than the CI environment. i would do more tests on this issue using CoreDNS and would confirm, if it is an issue also in coredns or just google-clouddns.

[2017-03-25 01:59] bgrant0607 opened #43657 "Write a kubectl conventions test"
To catch violations of as many conventions as we can automatically.

https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md

cc @kubernetes/sig-cli-feature-requests

[2017-03-25 02:00] bgrant0607 opened #43658 "Write an API conventions test"
To catch as many violations of API conventions as we can automatically.

https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md

cc @kubernetes/sig-api-machinery-misc (hmm, no feature-requests team)

[2017-03-25 02:07] k82cn commented on #43607
@vishh, thanks for your feedback, that's great :).

[2017-03-25 02:11] pwittrock commented on #43638
I did manual testing for debian upgrade / downgrade path.

- [x] upgrade master
- [x] upgrade nodes
- [x] downgrade nodes
- [ ] downgrade master

*I have not been able to get downgrade master to work at all.*  The first time I ran through these steps I hosed my cluster when I downgraded because apparently the default upgrade does something to etcd to make downgrade impossible.  @roberthbailey  Do

[2017-03-25 02:29] anhowe commented on #43638
thanks @pwittrock.  It sounds like we can confirm success for HPA, but will have to open another issue for downgrade of master.

[2017-03-25 03:04] liggitt commented on #8337
All in tree clients were converted to use the watch param in https://github.com/kubernetes/kubernetes/pull/41722

[2017-03-25 03:13] liggitt commented on #43648
Issues with enormous event volume is known: https://github.com/kubernetes/kubernetes/issues/4432

Specifically about event compression not interacting well with fighting controllers: https://github.com/kubernetes/kubernetes/pull/4372/files#r24559200

[2017-03-25 03:17] enisoc commented on #43648
I see. In that case, I will close this since the only way I know of to cause it is fighting controllers, which is already fixed in 1.6.

[2017-03-25 03:17] #43648 closed

[2017-03-25 03:22] liggitt commented on #43648
The TTL on event values in etcd is supposed to backstop it a little by clearing out the flood eventually, though it doesn't help at all while you have the flood

[2017-03-25 03:55] smarterclayton commented on #8337
Definitely the oldest feature we've been trying to deprecate and remove

[2017-03-25 05:41] k8s-merge-robot opened #43659 "ci-kubernetes-e2e-gke-large-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/95/
Multiple broken tests:

Failed: [k8s.io] DNS configMap nameserver should be able to change stubDomain configuration {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}

[code]
Issues a

[2017-03-25 07:01] bviolier commented on #33483
@dgpc Thanks for the info! The VPN for us would be a temporary solution, and if the GCP VPN's don't work, we could also go for some GCE instances that take on this role :-)

Happy to see that the issue is assigned and being worked on.

[2017-03-25 08:00] xiangpengzhao commented on #43583
Reverted in #43661 .

[2017-03-25 09:10] errordeveloper commented on #43617
I've experimented with some ideas around this, please checkout [`kubeplay`](https://github.com/errordeveloper/kubeplay).

[2017-03-25 10:31] jimmycuadra opened #43662 "In-cluster config for kubectl cannot be disabled/overriden"
I have an app running in a pod that shells out to kubectl. A kubeconfig file with credentials for four different clusters is included in the pod. However, kubectl always detects that it's being run from inside a cluster and uses the pod's cluster's apiserver instead of the credentials I'm explicitly passing it. I've tried various things to disable this detection and make it use the configuration I

[2017-03-25 11:03] #41591 closed

[2017-03-25 11:07] huyphams commented on #37922
this works for me.
Centos 7

[code]

[2017-03-25 12:30] paolomainardi commented on #42164
It happens a lot of times, this is becoming a hug problem on our CI.

[2017-03-25 13:43] wanghaoran1988 commented on #43607
A naive question what's "resource management working group" ?

[2017-03-25 15:33] thockin commented on #33483
For this who are waiting for ILB - how often do you need BOTH an internal
ILB and an external LB on the same Service?

On Mar 25, 2017 12:01 AM, "Bob Violier" <notifications@github.com> wrote:

[2017-03-25 15:38] tafypz commented on #33483
@thockin Our usage is such that we would not require both external and internal on the same service.
If having both slows down the development, i would vote for having only one type LB per service first and both as an enhancement later.

[2017-03-25 17:09] davidopp commented on #43607
We've mentioned it on the scheduling SIG mailing list. Please join the scheduling SIG mailing list
https://groups.google.com/forum/#!forum/kubernetes-sig-scheduling

The resource management working group was mentioned here
https://groups.google.com/d/msg/kubernetes-sig-scheduling/a-nvvjjP70M/ZeiC1BfHFAAJ

[2017-03-25 17:11] pietrasiak opened #43665 "What should be proper (local) development workflow?"
I'm experienced node.js developer and I wanted to use kubernetes for my project.

I was able to get kubernetes running quite easly, but then I've run into concerns that I was not able to solve or to find some resources about.

1. How to organize local development workflow properly:
  - being able to have local changes applied to container on every file change without additional work (running comma

[2017-03-25 19:11] ravilr commented on #43662
dup of https://github.com/kubernetes/kubernetes/issues/39897
cc @fabianofranz @pwittrock if this needs to be cherrypick'ed to 1.5.

[2017-03-25 19:46] cblecker commented on #43665
Hi @pietrasiak --
Issues against the Github project are more for bugs in the code, or feature requests. For support and learning about Kubernetes best practices, you'll have better luck looking at our community support resources: https://kubernetes.io/docs/troubleshooting/

I'd also have a look at [minikube](https://github.com/kubernetes/minikube) as it's a great tool to assist in local developmen

[2017-03-25 20:05] kamalmarhubi commented on #28525
@thockin failed to actually close it :-)

@Raffo do you have a link to the project? This sounds really interesting!

[2017-03-25 20:29] #43026 closed

[2017-03-25 22:05] justinsb opened #43667 "kubectl create ingress / kubectl expose"
I think it would be very useful to be able to expose services via an ingress with a single command.  In particular, because ingress seems to always need a hostname, and that will always be specific to the installation.

There are two ways that immediately spring to mind to do this, and I'd appreciate some input on which is preferable before I start coding ( cc @kubernetes/sig-cli-feature-requests

[2017-03-25 22:22] pietrasiak commented on #43665
I'm already using minikube. I'd thought it's good place to write about it, as I thought feedback about guides and docs is important part of so big project.

[2017-03-25 22:45] pwittrock opened #43668 "Cluster dns stops functioning after 1.6 -> 1.5 downgrade"
I have been able to reproduce this twice.

# Steps to reproduce:

- Download kubernetes 1.5.5 tar, extract and cd into the directory
- run cluster/get-kube-binaries.sh
- run cluster/kube-up.sh
- Run the steps defined here [here](https://kubernetes.io/docs/user-guide/horizontal-pod-autoscaling/walkthrough/)
  - You don't need to wait for the HPA to react, just verify that the script says "OK!" a bu

[2017-03-25 22:54] pwittrock opened #43669 "1.6 upgrade script silently performs irreversible change to storage type"
When running the ./cluster/gce/upgrade.sh script it silently will update the STORAGE_MEDIA_TYPE.  This change is irreversible.  Subsequently downgrading to 1.5.5 using the ./cluster/gce/upgrade.sh script will cause the apiserver to be unable to come back up.

# Steps to reproduce
- Download kubernetes 1.5.5 tar, extract and cd into the directory
- run cluster/get-kube-binaries.sh
- run cluster/kub

[2017-03-25 22:54] cblecker commented on #43665
Feedback about documentation is extremely important -- I'm just saying that an issue against this repo isn't the right place for that feedback. Issues against this repo are for specific bug reports or detailed feature requests.

If you're looking for answers to the questions you raise your issue, again, I'd point you towards the community support resources at https://kubernetes.io/docs/troubleshoo

[2017-03-25 22:55] pwittrock commented on #43668
Following up, it looks like cluster dns is generally down, not just for services.  I can't wget from google.com either or run `apt-get update`.

[2017-03-25 22:57] pwittrock commented on #43669
cc @smarterclayton @justinsb @bgrant0607

[2017-03-25 22:57] pwittrock commented on #43668
cc @smarterclayton @justinsb @bgrant0607 @calebamiles

[2017-03-25 23:53] ethernetdan commented on #43668
@pwittrock working to recreate now, can you post the DNS logs if they exist?

[2017-03-26 00:19] k82cn opened #43670 "Updated kubelet to use client-go"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
feature request

**Kubernetes version** (use `kubectl version`):
master branch

**What happened**:
According to discussion at https://github.com/kubernetes/client-go/issues/136  , we'd like to upgrade `kubelet` & `scheduler` to use client-go after lister, informer is ready.

/cc @caesarxuchao @deads2k

[2017-03-26 00:20] k82cn commented on #43670
@deads2k , not sure the progress of list/informer in client-go; I'd like to create PRs for this issue when they're ready :).

[2017-03-26 00:32] ethernetdan commented on #43535
Update: We are going to need more builds to meet the 3 run consecutive run minimum but I think we are on the right trajectory. The slow pace of master jobs makes it harder to get good runs plus lack of history to due to the time out issue.

## needs 3 consecutive passes
- gce-1.5-1.6-upgrade-cluster
- gce-1.5-1.6-upgrade-master
- gke-container_vm-1.4-gci-1.6-upgrade-cluster-new
- gke-container_vm-

[2017-03-26 00:39] ethernetdan commented on #43366
Doc was merged, #43669 tracks giving a better warning in the script

[2017-03-26 00:39] #43366 closed

[2017-03-26 00:40] ethernetdan commented on #41054
Docs are finished, related discussion happening in other issues.

[2017-03-26 00:40] #41054 closed

[2017-03-26 00:43] ethernetdan commented on #43470
Was decided at burndown that these are test failures and don't need to block 1.6

[2017-03-26 00:43] ethernetdan commented on #43638
HPA looks good, downgrade issue found tracked in #43668

[2017-03-26 00:43] #43638 closed

[2017-03-26 00:46] ethernetdan commented on #43364
Issue has been documented, discussion of HA upgrade in #43600

[2017-03-26 00:46] #43364 closed

[2017-03-26 01:02] ethernetdan commented on #43600
We can't get this HA support in 1.6 unless we are willing to delay the release further. We should ensure this is documented correctly with enough warning for users.

@mml @justinsb how do we feel about current docs now?

Perhaps a check syncing whether your masters are in-sync can be added in v1.6.1.

[2017-03-26 02:05] justinsb commented on #43669
I put up a proposed "really backup this time" PR for the release notes here: https://github.com/kubernetes/features/pull/234

[2017-03-26 02:17] pwittrock commented on #43668
Output from Pod trying to use cluster dns

[code]

[code]

[code]

Then change /etc/resolve.conf entry from `10.0.0.10` to `10.244.7.4`:

[code]

So the issue appears to be with the service routing not actually having been updated.

[2017-03-26 02:28] justinsb commented on #43668
Hypothesis: when you downgrade the master, the new etcd2 resource versions are lower, and kube-proxy will ignore changes until the resource version "catches up".  I wonder if there's anything in the kube-proxy logs, and I wonder if a restart of kube-proxy on the node will fix it.

[2017-03-26 02:45] pwittrock commented on #43668
I tried kicking all of the kube-proxies on each of the nodes - no luck.
I then tried creating a new service called "kube-dns-2" that had the same settings, but different ip - no luck.
As a sanity check, tried updating the resolv.conf to match the Pod ip directly again - things work again.

[2017-03-26 02:46] pwittrock commented on #43668
not sure if this is helpful, but here is what iptables gives me on the nodes:

[code]

[2017-03-26 03:17] justinsb commented on #43668
That is interesting, as it possibly points to something to do with kube-proxy rather than with the API.  Does the gce node upgrade procedure build new instances, or is it a "hot push"?

Another hypothesis: maybe kube-proxy no longer has permissions on the API?

The `kube-proxy` logs (/var/log/kube-proxy.log I think) and `iptables -t nat --list-rules` may be interesting.

(`-t nat` because the NAT

[2017-03-26 03:43] gyliu513 commented on #43564
After some discussion in sig-network, there are also some people have the similar requirement of want an external load balancer to communicate with pod directly, instead of passing through nodePort/clusterIP. Currently they can only specify different hostPort to different deployments. Letting kubernetes to automatically assign hostPort for different deployment (or maybe service?) will be quite use

[2017-03-26 04:22] #13212 closed

[2017-03-26 05:24] #40494 closed

[2017-03-26 05:24] #43264 closed

[2017-03-26 05:28] ethernetdan commented on #43669
I'm thinking we also add to the script a prompt about the breaking change and pointing to docs as well as a flag to override to prompt for CI to use.

[2017-03-26 06:13] jiefugong opened #43672 "Possible to replace disk underlying a persistent volume claim if using Storage Class?"
**Is this a request for help?**
yes

I am currently working on a deployment that is using the StorageClass to specify the creation of GCE persistent disks. One feature we would like is to be able to replace a pod's underlying disk with a prior snapshot that might have been created of it (it seems that while this example is specific to GCE this would be common amongst most providers), but I am not

[2017-03-26 08:16] jimmycuadra commented on #43662
Seems it was already suggested that the fix should be cherrypicked in [the original report](https://github.com/kubernetes/kubernetes/issues/38834#issuecomment-267709706). :{

[2017-03-26 08:46] smarterclayton commented on #43667
I would say we probably want "create ingress" first, because it's easier to
say how it should work.  I don't think expose is unreasonable (openshift
uses expose for routes today) but arguments require a lot more thought.

On Mar 25, 2017, at 10:06 PM, Justin Santa Barbara <notifications@github.com>
wrote:

I think it would be very useful to be able to expose services via an
ingress with a single c

[2017-03-26 08:52] matthyx commented on #12987
OK, I will work on that after Kubecon Berlin, where I will attend your talk!

[2017-03-26 09:02] ethernetdan commented on #43668
Have been trying to reproduce this - ran into similar DNS issues with the 1.5.5 cluster even before upgrade on a few different attempts. Going to start from scratch and try again.

[2017-03-26 09:11] wanghaoran1988 commented on #43607
@davidopp Thanks, I am happy to take some task if needed.

[2017-03-26 09:15] adohe commented on #43126
@xingzhou yep, we do have plan to do this, and I really like a more linux style `watch` command, you can refer [http://linuxcommand.org/man_pages/watch1.html](http://linuxcommand.org/man_pages/watch1.html) for more detail. Anyway let's just get this fixed at first.

[2017-03-26 09:21] adohe commented on #43667
[code]
I would like we add `create ingress` (another create subcommand) at first just as what @smarterclayton suggested.

[2017-03-26 10:04] ChipmunkV commented on #24957
So in the end, how to make it send SIGHUP when the configuration changes?

[2017-03-26 10:17] pdecat commented on #33483
Hi @thockin, in our current setup, we do not need both Internal and External LB on the same services.

We are using ILB to expose non public facing services from one K8S cluster to another, both in distinct subnets.

[2017-03-26 10:22] Raffo commented on #28525
@kamalmarhubi Sure, here it is: https://github.com/kubernetes-incubator/external-dns

[2017-03-26 11:23] nikinath commented on #24420
Hi, I'm new here and would like to work on this!

Would the following be a good way to tackle this issue?

* Suggest the user to run `kubectl config --help` when the error occurs.

* Add a few examples for `kubectl config --help`. Something like: https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh#L743. However, examples are already present for subcommands (eg. `kubectl c

[2017-03-26 11:25] ethernetdan commented on #43668
Recreated the issue on 2 clusters. Seemed to work for a few moments on both before stopping. I also was having serious DNS problems on the 1.5 cluster but they seemed to be fixed by increasing the replicas on the DNS autoscaler appointment.

**Cluster 1**
[code]
[code]

**Cluster 2**
[code]
[code]

[2017-03-26 11:37] lqueryvg commented on #29322
FYI, I have my own rather horrible workaround which is as follows:

Instead of:
`
source <(kubectl completion zsh)
`
I run:
`
source <(kubectl completion zsh  | sed -e '/flaghash.*true/s/# pad/2>\/dev\/null # pad/')
`

Basically, this line:
`
flaghash[${flagname}]="true"  # pad "true" for bool flag
`
Becomes:
`
flaghash[${flagname}]="true" 2>/dev/null  # pad "true" for bool flag
`

To throw away t

[2017-03-26 11:47] ethernetdan commented on #43668
Looks like the permissions theory is the winner:
**/var/log/kube-proxy.log**
[code]

[2017-03-26 11:58] ethernetdan commented on #43668
**/var/log/kube-apiserver.log**
[code]
Looks like the api server is still trying to use beta rbac for some reason

[2017-03-26 12:14] itamaro commented on #33483
we have **no** use-case for both ILB and external LB on the same service.

we need external LB's for externally accessible services, and ILB's for simple & direct access to non-public-facing services (AKA "internal services", "dev/test stack", etc.) from outside the GKE cluster, from personal dev machines / office network.

[2017-03-26 13:47] pwittrock commented on #43668
@ethernetdan Good catch.

[2017-03-26 13:52] pwittrock commented on #43668
@ethernetdan @calebamiles I am surprised that this was not already caught during a downgrade test of services.  How did we perform downgrade testing this release (did we at all?)?

[2017-03-26 15:28] pwittrock commented on #43668
@ethernetdan Was the version or group of rbac changed in the 1.6?  I wonder if kube-proxy uses the discovery service to figure out which version of rbac to use, and is caching the discovery version from the 1.6 server.

After downgrading, try deleting the nodes and let the node pool recreate them.  Check if they are healthy afterward.

Also check the FIRST version of rbac listed by discovery servi

[2017-03-26 15:52] ethernetdan commented on #43668
I'm confused by this as well, this should have been able to be caught in our large cluster manual testing as well as in automated tests. @wojtek-t @krousey any ideas why we are just seeing this now?

[2017-03-26 15:55] ethernetdan commented on #43668
Didn't mean to close.

Interesting thought but it didn't seem to help. Maybe it could be cached somehow on the API server?

RBAC did move to beta in 1.6, I'm wondering if this is a side effect of making ABAC default again. @liggitt @bgrant0607 @ericchiang any thoughts?

[2017-03-26 16:24] #28525 closed

[2017-03-26 17:15] liggitt commented on #43668
No, API clients don't inspect RBAC versions to determine how they should authorize… that's purely used server side.

A 1.5 apiserver would only serve alpha RBAC (it doesn't have the beta code), and like alpha versions, does not enable the API by default. I'd expect no RBAC versions listed in discovery.

1.5 kube-up installations don't use RBAC authz, their only authorizer has always been ABAC.

Th

[2017-03-26 17:23] ethernetdan commented on #43668
Here are the [API server logs](https://gist.github.com/ethernetdan/26e758ddbd30600328c1181490d16477).

[2017-03-26 17:31] ethernetdan commented on #43668
`kubectl api-versions`:
[code]

[2017-03-26 18:03] ethernetdan commented on #43668
@liggit identified that the[ 1.5 upgrade script](https://github.com/kubernetes/kubernetes/blob/release-1.5/cluster/gce/gci/configure-helper.sh#L264) is not modifying `/etc/srv/kubernetes/known_tokens.csv` to ensure that the user `kube_proxy` is associated with a token specific to kube-proxy which is supposed to be hardcoded in 1.5.

`/etc/srv/kubernetes/known_tokens.csv`:
[code]

[2017-03-26 18:39] ethernetdan commented on #43668
Also seeing this in downgrade jobs logs: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.6-1.5-downgrade-cluster/183/artifacts/bootstrap-e2e-master/kube-apiserver.log

It seems the service test doesn't get run after the master downgrade for some reason so it wasn't caught

[2017-03-26 18:46] pwittrock commented on #43668
Is it correct that this is an issue in 1.5 then and would be fixed with a patch release?

We should figure out the scope of what downgrade tests are not being run and get them running.

[2017-03-26 18:50] ethernetdan commented on #43668
That's definitely an option, others would be having a migration script in 1.6 or keeping backwards compatibility with the hardcoded username.

Agreed, I want to get to the bottom of why we didn't catch this earlier

[2017-03-26 19:14] ethernetdan commented on #43535
Update: a few more suites down, due to the infrequency of the master runs we may have to impose a tolerance of 1 flake per 3 runs.

## needs 3 consecutive passes
- gce-1.5-1.6-upgrade-cluster
- gce-1.5-1.6-upgrade-master
- gke-container_vm-1.4-gci-1.6-upgrade-cluster-new
- gke-container_vm-1.5-container_vm-1.6-upgrade-master
- gke-container_vm-1.5-gci-1.6-upgrade-master
- gke-gci-1.5-container_vm-

[2017-03-26 19:21] liggitt commented on #43668
It is an issue in 1.5, and should be fixed with a patch release.

1.5 [hard-codes authorization rules](https://github.com/kubernetes/kubernetes/blob/release-1.5/cluster/gce/gci/configure-helper.sh#L915-L920), but if the `known_tokens.csv` file already exists, it [does not ensure it works with those authorization rules](https://github.com/kubernetes/kubernetes/blob/release-1.5/cluster/gce/gci/confi

[2017-03-26 19:41] davidopp commented on #43669
@wojtek-t

[2017-03-26 21:20] #43293 closed

[2017-03-26 21:22] grodrigues3 commented on #43638
I did the testing with GCI as the node image as well and found similar results to Phil.
HPA worked fine with

- Node 1.5.5 Master 1.5.5
- Node 1.5.5 Master 1.6
- Node 1.6. Master 1.6.
- Node 1.5.5 Master 1.6.

https://docs.google.com/document/d/1pCc8AKrj2HFX9yo0Wg6_WU-1IVdxOR7xd572I0-OFrg/edit#

I was unable to downgrade the master and run the HPA demo

[2017-03-26 23:31] ravisantoshgudimetla opened #43678 "Node status not updating latest metadata for re-registration."
Is this a BUG REPORT or FEATURE REQUEST? (choose one):

BUG REPORT

Kubernetes version (use kubectl version):

master

Environment:

Any

What happened:

When using the kubelet's register-node option and restarting a kubelet, looks like the reconciliation is happening for only few annotations in case of re-registration:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node

[2017-03-26 23:32] ravisantoshgudimetla commented on #43678
cc @jayunit100

[2017-03-26 23:32] davidopp commented on #43523
I think manually tagging is fine.

But I am not sure alpha always implies we break compatibility. It just means we MIGHT break compatibility.
For example, 1.5 affinity test would work against 1.6 cluster, except for the fact that we flag-gated the 1.5 behavior in 1.6 and disabled it by default, which for some other features in the future (especially ones that are not using annotations in alpha) we

[2017-03-27 00:21] ncdc commented on #43678
@ravisantoshgudimetla this is how it's currently coded and I would not call it a bug. Once a node has registered, any registration-time metadata such as taints, labels, and so on are not updated.

See also: https://github.com/kubernetes/kubernetes/issues/28051, https://github.com/kubernetes/kubernetes/pull/29459.

[2017-03-27 00:25] ncdc commented on #43670
@k82cn listers and informers should be ok in client-go master afaik. There may be one more update to master that's needed, but it's close if not already there.

[2017-03-27 00:49] chepurko commented on #17489
Hi all, I am working on a Kubernetes LEMP Stack and have a working release over here https://github.com/chepurko/k8s-lemp. I would be very grateful for more pairs of eyes and brains. Currently I __do not__ have working TLS with kube-lego and am working on fixing that, but going through the README at least gets you fine Wordpress HTTP websites.

[2017-03-27 01:08] k82cn commented on #43670
@ncdc , great; let me try to update kubelet accordingly :).

[2017-03-27 01:22] six5532one commented on #22193
+1 for @marcolenzo 's question. I could not find the following in the docs: If we use `httpGet` probes, does a 200 status code mean the check passed, and anything else means the check failed?

[2017-03-27 01:39] shenlanse commented on #43605
Thank you for your help. I think i have decribed the condition resulting in the bug indetail. Be simple, because the order of exec indexFunc is random when update indices, and some function don't care the error returned, the obj is deleted but corresponding indices is still in it.
**NOTE: the obj is deleted but corresponding indices is still in it**
So when we  run index func, the returned list ma

[2017-03-27 02:19] krmayankk commented on #43670
Couple questions:-
- is client-go generated off of objects and structs in kubernetes repo or is it the other way around ?
- When we say kubelet and other internal kubernetes components would also use client-go which sits outside of the repo, i get the feeling that kubernetes resource types and structs would live somewhere outside the kubernetes repo. Both client-go and kubernetes repo would depend

[2017-03-27 02:22] krmayankk commented on #43665
@pietrasiak were you looking for something like this https://github.com/kubernetes/community/blob/master/contributors/devel/development.md
Also i havent found a way to test server side changes locally on my macbook for example. Has someone integrated the process of compiling local changes to server components into a new minikube installation, that would be super awesome .

[2017-03-27 02:23] krmayankk commented on #43665
I think reading more, i think you are not talking about `development of kubernetes` , but more of `development on kubernetes` sorry :-)

[2017-03-27 03:56] gyliu513 opened #43680 "Add `NODE` field to `kubectl get pods` without `-owide`"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-27 04:04] ravisantoshgudimetla commented on #43678
@ncdc Thanks for the information. I will go through them.

[2017-03-27 04:21] xiangpengzhao commented on #43560
Seems they are metrics of infra container with name something like `k8s_POD.639b2af2_foo-web-315473031-e40e2_foobar_a369ace2-5fa9-11e6-b10f-c81f66e5e84d_851a97fd`

[2017-03-27 04:34] #42696 closed

[2017-03-27 04:54] shiywang commented on #43680
cc @adohe @pwittrock @fabianofranz wdyt ?

[2017-03-27 05:03] ravilr commented on #3595
pid cgroup https://www.kernel.org/doc/Documentation/cgroup-v1/pids.txt allows limiting the number of processes per cgroup, and very critical to avoid fork bombs. docker seems to have added support since 1.11 release: https://github.com/docker/docker/pull/18697
Can we expose this in k8s pod container spec.

[2017-03-27 05:32] thockin commented on #24957
As of now there is no supported API for this.  I still think it is worth
doing something here, but what exactly is complicated, and I have not had
time to think more deeply on it.

On Sun, Mar 26, 2017 at 3:05 AM, Velkan <notifications@github.com> wrote:

[2017-03-27 05:45] ethernetdan commented on #43669
Added #43681 to give a prompt before upgrading.

[2017-03-27 06:29] vjrantal opened #43683 "When using Azure provider, not able to expose a service using UDP protocol"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Searched for `azure`, `udp` and `loadbalancer`.

---

**Is this a BUG REPORT or FE

[2017-03-27 06:39] thockin commented on #43632
I'm not sure I understand the use case, especially the 2nd.  This is the case of a pod talking to itself via the public hostname?  Why not just use localhost?

[2017-03-27 06:46] natalia-k commented on #43560
right, and with container_name="POD" but it should be with container_name="kubedns" (for example) like all other metrics (container_memory_usage_bytes,...)

[2017-03-27 06:50] kerneltime commented on #43471
@eicnix Can you please review https://github.com/kubernetes/kubernetes.github.io/pull/2989

[2017-03-27 06:53] vjrantal commented on #43683
As further details on the topic, when exposing the service over UDP in Google Cloud Platform, the load balancer is configured without a health probe:

<img width="578" alt="screen shot 2017-03-27 at 9 39 08" src="https://cloud.githubusercontent.com/assets/207474/24343882/6a8b5d1c-12d1-11e7-9356-2760b695baa0.png">

However, in Azure, I believe it is not possible to create load balancing rules witho

[2017-03-27 07:12] crassirostris commented on #43442
Issue fixed

[2017-03-27 07:12] #43442 closed

[2017-03-27 07:23] wernight commented on #17489
I've been using Kubernetes for a while now. I'd say that in most cases it's better to have one Pod of Nginx, one of MySQL, one of PHP-FPM... This allows scaling components individually, and allows upgrading only some of them.

The only downside is that you may have Nginx on one Pod talking to PHP-FPM on another even though there might be one on the current Pod, so you need a good network within yo

[2017-03-27 07:49] chepurko commented on #17489
@wernight Thanks, I have two containers of NGINX and PHP-FPM in one pod which replicates for each extra site you want and one MariaDB running as a separate StatefulSet.

I guess you could separate out the RDBMS for each website but I think having one just reduces size and complexity. You can always scale our the RDBMS with Percona and Ceph, which is what I'm planning on. Redis is there as a scalea

[2017-03-27 07:53] wojtek-t commented on #43600
@xiang90 - yeah - I agree with what you wrote.

@ethernetdan - solving this at the level of our current migration script may be very hard.

The problem is that currently we have baked the migration script into the etcd image itself.
But in HA setups, turning down one etcd, doesn't guarantee anything for the other, in fact the etcd-cluster can still be up and accept requests. That said, I think tha

[2017-03-27 08:03] piosz commented on #23233
/sub

[2017-03-27 08:13] TheFausap opened #43686 "kube_up.sh download issue"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kuber

[2017-03-27 08:19] jszczepkowski opened #43688 "Lack of support for upgrade of HA master in upgrade.sh script."
Script `upgrade.sh` does not support upgrade of clusters with HA master setup.

[2017-03-27 08:21] nhlfr commented on #24957
@ChipmunkV `kubectl exec -ti name-of-pod /bin/kill -SIGHUP 1`, assuming that your PID 1 in the container is the main process you want to kill.

[2017-03-27 08:21] jszczepkowski commented on #43688
CC @fgrzadkowski @wojtek-t

[2017-03-27 08:39] dolftax commented on #43686
Just chiming in. Use `kops` - https://github.com/kubernetes/kops. kube-*.sh scripts are deprecated.

[2017-03-27 08:58] karataliu opened #43691 "Multiple LoadBalancer source ranges not supported in Azure"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
LoadBalancer, loadBalancerSourceRanges

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Azure ACS
- **OS** (e

[2017-03-27 08:58] gmarek commented on #43444
No, it's not. It's the desired behavior, as we decided at some point that we want to have only one: 'notReady' or 'unreachable' taint on the Node. Current implementation just keeps the first added taint.

@davidopp @timothysc @kubernetes/sig-scheduling-misc

[2017-03-27 09:00] karataliu commented on #43608
Same cause: https://github.com/kubernetes/kubernetes/issues/43691

[2017-03-27 09:02] davidopp commented on #43444
Oh, I thought we decided that the taint would always match the node condition. So there would only be one taint at a time, but the taint would always reflect whatever the node condition says. That would be more intuitive. How hard would it be to change the behavior to do that?

[2017-03-27 09:08] gmarek commented on #43444
Easy, but not 1.6 level easy.

[2017-03-27 09:17] silenceshell opened #43692 "a typo(nointeractive) in Dockerfile for mysql-galera example"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

nointeractive, DEBIAN_FRONTEND

---

**Is this a BUG REPORT or FEATURE REQUEST?** (

[2017-03-27 09:21] gmarek commented on #43444
I'll explain the logic here.. When we first observe a condition other than 'Ready' we add a node to the queue. Node can spend in queue some time, so we check the condition at the time when Taint is applied, so it's consistent at that time. Indeed if the condition is changed after that we won't reflect that. If we want to change this logic we'd need to decide on how we want to do it - do we want th

[2017-03-27 09:33] zengchuan commented on #34429
I got the same error.  kubelet --pod-infra-container-image="IP:5000/pause-amd64" . but not resolve.  Please tell details

[2017-03-27 09:38] niyanchun opened #43693 "Unknown admission plugin: DefaultTolerationSeconds"
I install Kubernetes on Ubuntu 14.04, and I `git clone` the master branch, in kubernetes/cluster/ubuntu/config-default.sh, there is a config:

[code]

but kube-apiserver doesn't know `DefaultTolerationSeconds`.

[2017-03-27 09:44] davidopp commented on #39228
IIUC, this issue is a feature request to handle multiple host IPs per node?

[2017-03-27 09:55] jianlianggao opened #43695 "Error happened when running kubeadm init"
kubeadm init
[kubeadm] WARNING: kubeadm is in alpha, please do not use it for production clusters.
[preflight] Running pre-flight checks
[preflight] The system verification failed. Printing the output from the verification:
OS: Linux
KERNEL_VERSION: 3.10.0-514.6.1.el7.x86_64
CONFIG_NAMESPACES: enabled
CONFIG_NET_NS: enabled
CONFIG_PID_NS: enabled
CONFIG_IPC_NS: enabled
CONFIG_UTS_NS: enabled
CONFI

[2017-03-27 10:12] jonathan-kosgei commented on #12964
I'm running into this too on GKE so I'm not sure if it's the api-server restarting, but just now after a loadtest and intermittently a couple of other times, after my app tries to come back up it failes to mount from gluster due to the gluster endpoints having mysteriously disappeared.

[2017-03-27 10:29] wanghaoran1988 commented on #42479
@kargakis Are you working on this? I am glad to take this if not.

[2017-03-27 10:48] rvrignaud commented on #33483
We have same use case as @itamaro so we don't need both internal and external LB for one particular service

[2017-03-27 11:42] dhilipkumars commented on #43405
[This](https://github.com/kubernetes/community/pull/483) proposal can simplify both the approaches.  I believe future Operators can become lightweight if we allow more elaborate cleanup mechanism.

[2017-03-27 11:52] krish7919 commented on #39792
@dkiser That's exactly my use case. I am moving a multi-instance service external to k8s to k8s instance by instance, and I need cluster requests for x.y.z to be resolved to an internal instance rather than go out to the internet.

[2017-03-27 12:19] JulienBalestra commented on #42909
@jiosec you can use this [script](https://gist.github.com/JulienBalestra/3b783cc8313a8cf7de0615873a2a3731) to recompile hyperkube for making `kubelet --runonce` works with volumes.

PS: You'll need the usual tool-chain for Kubernetes.

[2017-03-27 12:40] jayunit100 commented on #43678
Even if this is desired behavior, If register-with-taints is a no-op, at least the flag should be documented as such or an error message should come through?

[2017-03-27 12:44] ncdc commented on #43678
But you've already registered the node.

On Mon, Mar 27, 2017 at 8:40 AM jay vyas <notifications@github.com> wrote:

[2017-03-27 12:44] wojtek-t opened #43701 "Mock KubeProxy at the IPtables level in kubemark"
Currently in Kubemark we are mokcing the whole "proxier" to be no-op. With that, we are missing a lot of things that kube-proxy is in fact doing.

We should mock KubeProxy at the "IPtables" layer:
- use the real kube-proxy code as it is
- only pass some "no-op" implementation of IPTables to it

We should be much close to its realistic behavior then.

@gmarek @shyamjvs

[2017-03-27 12:45] wojtek-t commented on #43701
@shyamjvs - if you have some free cycles, can you start looking into it?

[2017-03-27 12:53] jayunit100 commented on #43678
Sure, so if registration is not happening then the flag is being incorrectly included, so it's usage should be an error , not silent ignore.

[2017-03-27 12:59] ncdc commented on #43678
I would assume that typically you'd want to use the same flags to start the kubelet every time, in which case, I think this is appropriate, and I don't think an error is justified. A warning, maybe, but not an error.

I'm not sure it's worth the effort right now to "fix" this, as the plan is to move away from using flags for configuration (https://github.com/kubernetes/kubernetes/pull/29459).

[2017-03-27 13:18] deads2k commented on #12732
The `new-ca.crt` wouldn't be auto-added to the container.  Instead a the pod would have to mount the secret (or configmap depending on how smart we make this) which contains the ca.crt that will verify the client secret that the platform signed with the CA it made.

Basically, we'd just be taking the manual "create signing key/cert pair, create client key/cert pair, and sign client key/cert pair"

[2017-03-27 13:21] ethernetdan commented on #43600
Mitigated by #43700, I think enough to close this for 1.6.

[2017-03-27 13:37] jcantrill commented on #36401
cc @portante, @richm

[2017-03-27 13:42] rootfs commented on #43639
It is possible to do it but I need to know if there is any mechanism to reliably read reservation status so that no  deadlock will occur if the node that holds the reservation crashes before releasing the reservation.

[2017-03-27 13:43] ivan4th opened #43704 "Kubelet fails when run inside container"
There's a problem with running kubelet in containers (k8s version v1.6.0-rc.1). I'm trying to start a cluster using [kubeadm-dind-cluster](https://github.com/Mirantis/kubeadm-dind-cluster) and kubelet fails to start any containers. `kubeadm-dind-cluster` creates a cluster where the nodes are represented by containers. The problem occurs when using Mac docker of the following version:

[code]

Ther

[2017-03-27 13:45] jcantrill commented on #42718
@crassirostris

How is 'stream' envisioned?  Would this include true application logs that do not include 'stdout' or 'stderr'.  For instance, if I had something like an apache server that wrote an 'access' log?  Would I expect my stream to be named based on a resource definition from the podspec or inferred by the logname written to a known directory?

[2017-03-27 13:47] errordeveloper commented on #43704
I am also seeing this on Docker for Mac stable (same 4.9.12 kernel), and my setup doesn't use `systemd` and only mounts Docker socket from the hosts, i.e. not Docker-in-Docker.

To reproduce:
[code]

[2017-03-27 13:47] kargakis commented on #42479
@wanghaoran1988 feel free to work on it

[2017-03-27 14:15] divyenpatel commented on #43471
@eicnix can you share your vCenter version?
With 6.5 version of vCenter, I did not require read-only permission on whole VC. I will double check this today with long running task.

[2017-03-27 14:35] jacekn commented on #43461
@chuckbutler  there is one more thing to consider. What happens if current leader disappears temporary, for example due to hardware problems? If that happens relation-broken hooks will not be triggered.

The solution could be to send all cluster members in relation data so that clients can talk to remaining cluster members. This was reported separately here: https://github.com/juju-solutions/bundl

[2017-03-27 14:41] jistr commented on #43389
I have the same issue with Vagrant, using vagrant-libvirt provider. I ran `./cluster/kube-up.sh` from `release-1.6` branch. These are the exports i'm using:

    export PATH=${PATH}:/home/kube/kubernetes/third_party/etcd:/home/kube/kubernetes/_output/release-stage/client/linux-amd64/kubernetes/client/bin
    export KUBERNETES_PROVIDER=vagrant
    export VAGRANT_DEFAULT_PROVIDER=libvirt
    export

[2017-03-27 14:42] jistr commented on #43389
Before `./cluster/kube-up.sh` i ran `make quick-release` from the same branch (release 1.6).

[2017-03-27 14:44] gnufied commented on #38498
@victorgp Can you confirm for us - if the directories that are not getting cleaned up are tmpfs mount points or just plain directories?

[2017-03-27 14:48] deads2k opened #43706 "Change error handling path from GetAPIGroupResources"
Callers to `staging/src/k8s.io/client-go/discovery/restmapper.go.GetAPIGroupResources` should be updated to handle both a return value and an error.  In most cases, it is better to tolerate an error and continue as best as possible instead of failing.

This becomes more important with API aggregation since API servers will be able to fail individually.

@cheftako

[2017-03-27 14:58] derekwaynecarr commented on #43704
the kubelet needs rw access to host /sys/fs/cgroup in 1.6 in order to use the node allocatable and per pod cgroup support.

[2017-03-27 15:11] ktsakalozos opened #43707 "E2e test failure on AWS 1.5.3 deployd with Juju"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Kubernete

[2017-03-27 15:13] errordeveloper commented on #43704
So I think we have found a work around now,  adding `--cgroups-per-qos=false --enforce-node-allocatable=""` solves the problem.

@derekwaynecarr I already have `-v /sys:/sys:rw -v /sys/fs/cgroup:/sys/fs/cgroup:rw`, or is that not enough or somehow not the right thing?

[2017-03-27 15:15] errordeveloper opened #43708 "kubelet --containerized should be marked deprecated"
It turns out that this flag actually breaks volume mounts, I've tried it by accident just now and spend too much time figuring out what was broken.

[2017-03-27 15:25] errordeveloper commented on #43704
I've tested kernel version 4.9 and same Docker version 17.03-ce on a Debian VM, and had been able `dind-cluster-v1.6.sh` worked there, so this is somehow specific to Docker for Mac.
Given there exists a work around, this doesn't look like a release-blocking bug, nevertheless it is still a bug, and I find all the documentation and flags names etc really hard to grasp, clearly it's not a kind of a f

[2017-03-27 15:54] cmluciano commented on #37316
I can test out a few CNI plugins. Are there certain tests cases that should be run through ? @freehan @dchen1107 @yujuhong

[2017-03-27 15:54] mwielgus opened #43709 "Cluster autoscaler scales up too much"
On some occasions Cluster Autoscaler may scale up the cluster two times. This results in growing the cluster too large. The size gets back to normal soon but the user will be forced to pay for the unneeded node for 10min/1h, depending on the cloud provider.

cc: @MaciekPytel @fgrzadkowski @ethernetdan @enisoc

[2017-03-27 16:14] kargakis commented on #43667
ref: https://github.com/kubernetes/kubernetes/issues/17429

[2017-03-27 16:14] lucab commented on #38498
I've just realized this may be just missing a `recursive=true` flag in the rkt volume options. However I didn't check what's the original invocation, and it may be better to double-check it has no unwanted side-effects from the kubelet point-of-view.

[2017-03-27 16:26] jszczepkowski commented on #43688
PR #43700 does not allow to run upgrade scripts on cluster with HA masters.

The upgrade scenario for HA clusters from 1.5 to 1.6 may be the following:
1. remove all master replicas but one,
2. run master upgrade,
3. add master replicas again.

[2017-03-27 16:31] kargakis commented on #43580
@ncdc can we close this issue now?

[2017-03-27 16:35] anhowe commented on #43638
thanks @grodrigues3

[2017-03-27 16:43] jacekn opened #43712 "Add namespace management actions to kubernetes-master juju layer"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

kubern

[2017-03-27 16:50] shiywang commented on #7547
hi @smarterclayton , I made a little change, but I don't think this is want we want

[code]
Could we add a filter in server side ?

[2017-03-27 16:54] ncdc commented on #43580
@kargakis let's wait and see what @copumpkin reports

[2017-03-27 16:56] ncdc commented on #43708
Wouldn't it make more sense to figure out what the issue is? I'd rather do that than remove functionality.

cc @smarterclayton @pmorie @eparis @yujuhong @dchen1107 @derekwaynecarr @sjenning @kubernetes/rh-cluster-infra @kubernetes/sig-node-bugs

[2017-03-27 16:57] copumpkin commented on #43580
Oh sorry, missed the updates. Should the build scripts disable cgo so we don't accidentally get cgo dependencies creeping in again?

[2017-03-27 16:59] ncdc commented on #43580
I don't think we want it disabled entirely, given that some portions use it
(kubelet/cadvisor).

On Mon, Mar 27, 2017 at 12:57 PM, Daniel Peebles <notifications@github.com>
wrote:

[2017-03-27 17:05] vishh commented on #43708
I'd be curious to know if the containerized mode is being tested by anyone... If there is no CI for it, then we should at-least mark it as `experimental`.

[2017-03-27 17:11] eparis commented on #43708
I don't know about just kublet, but openshift node is successfully run containerized with volume mounts. Admittedly it is finiky to make sure you get the right things mounted into the node container and that they have the right mount propagation.

but --containerized is used in downstreams

[2017-03-27 17:15] thockin commented on #12964
Do you mean the whole object disappeared or that it exists but is empty?

[2017-03-27 17:17] thockin commented on #12964
In the original YAML "IP" should be "ip"

[2017-03-27 17:18] jonathan-kosgei commented on #12964
`kubectl get endpoints` does not show the resource

On Mar 27, 2017 8:16 PM, "Tim Hockin" <notifications@github.com> wrote:

[2017-03-27 17:19] ncdc commented on #43708
Yes, we do use it successfully in OpenShift

[2017-03-27 17:20] thockin commented on #12964
I am trying to repro, but no luck so far.

[2017-03-27 17:21] deads2k opened #43714 "publish sample-apiserver image for testing"
We need an API server image we can use to create a pod and run in e2e tests.

The `kube-apiserver` now hosts the aggregator in front.  We are capable of running e2e tests on it, but we need an image to test with.  As a simple starting point, we could use the `wardle` group hosted by the `k8s.io/sample-apiserver`, but we need an image published to use it.

@cheftako @kubernetes/sig-api-machinery-mi

[2017-03-27 17:22] jonathan-kosgei commented on #12964
Just checked.. IP is ip..it does come up, and it works well enough as the
pods are able to mount the gluster volumes, but every once in a while I
find that they're gone.

On Mar 27, 2017 8:18 PM, "Tim Hockin" <notifications@github.com> wrote:

[2017-03-27 17:23] calebamiles commented on #43659
moving to 1.6.1 milestone

**cc: @ethernetdan, @kubernetes/kubernetes-release-managers**

[2017-03-27 17:24] luxas commented on #43714
/cc

[2017-03-27 17:24] jonathan-kosgei commented on #12964
I haven't been able to either, it happens every once in a while. I think
maybe they're deleted before I notice and I only notice because a pod is
fails and on restart it fails to mount it's volume

On Mar 27, 2017 8:21 PM, "Tim Hockin" <notifications@github.com> wrote:

[2017-03-27 17:30] jonathan-kosgei commented on #12964
Just checked a cluster I created an hour ago, and yup all the pods that had
been created are running smoothly but the gluster endpoints resource is gone

On Mon, Mar 27, 2017 at 8:24 PM, Jonathan <jonathankosgei1000@gmail.com>
wrote:

[2017-03-27 17:35] deads2k opened #43716 "set --proxy-client-cert-file and --proxy-client-key-file for kube-up.sh"
The `kube-apiserver` needs a proxy client certificate for the aggregated API servers to trust in order to effectively proxy authentication.  `kubeadm` already has the cert/key pairs required and https://github.com/kubernetes/kubernetes/pull/43715 wires them together.

We need similar wiring for `kube-up.sh` so that our e2e tests can test the authentication and authorization flows.

@cheftako @kube

[2017-03-27 17:38] shyamjvs commented on #43701
Sure, I definitely can look into it. However it might have to wait till I return from my vacation that starts soon (maybe this week if you think it wouldn't take much work). Also could you tell what priority this has?

[2017-03-27 17:38] fabianofranz commented on #43657
+1, we already have [a mechanism](https://github.com/kubernetes/kubernetes/blob/master/hack/verify-cli-conventions.sh) that runs on `make verify` intended to do that, but just [a couple things](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/sanity/cmd_sanity.go#L66-L94) are checked atm (sanity of long description and examples).

[2017-03-27 17:39] deads2k opened #43717 "openapi/swagger needs to be summarized across the cluster"
The `kube-apiserver` now includes the aggregator and the default openapi information is accessible via delegation, but we should really be building it based on the specific group versions being aggregated by the aggregator.

This is not as simple as just including all the available API groups from a given server, since a server can reasonably host more GroupVersions than are exposed.  Common reaso

[2017-03-27 17:45] rnavarro commented on #33483
@thockin Same as @itamaro

We don't have any use cases where we deploy both a public and internal LB for a single service.

[2017-03-27 17:48] thockin commented on #12964
Interesting.

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpoint/endpoints_controller.go#L466-L487

It appears this is intentional.  If you create a service with `clusterIP:
None` and an empty selector, this will not be activated.  It is trying to
prevent submarine problems, such as creating an Endpoints then later
creating a Service and conflicting.

On Mon, Mar 27, 2017

[2017-03-27 17:49] deads2k commented on #43670
client-go is a copy, paste, sed manipulation of files from the kubernetes repo.

There was a proposal to move the types and even a pull, but it didn't go anywhere.  https://github.com/kubernetes/kubernetes/issues/41629 and https://github.com/kubernetes/kubernetes/pull/41747.

I think the first iteration of splitting out the kubelet and scheduler would simply switch them to the client-go copy of th

[2017-03-27 17:50] bowei commented on #37316
@cmluciano @yujuhong -- can you document your test process if you are taking this on, I would like to get some idea of what an automated suite will look like

[2017-03-27 17:50] grodrigues3 commented on #43535
Any updates?

[2017-03-27 18:08] copumpkin commented on #43580
Oh, perhaps I'm misunderstanding then. My goal with this ticket was to be able to build whichever parts of k8s were needed in minikube's localkube without cgo. Isn't kubelet the main upstream component of localkube? My hope was to eliminate the need for cgo there.

If there are still things that need cgo in the build, it seems worthwhile to try to enumerate them and understand if the dependency is

[2017-03-27 18:37] liggitt commented on #43716
cc @mikedanese, same concept as `api->kubelet` for `api->extension api server`

[2017-03-27 18:48] bacongobbler commented on #42403
For projects like minikube that rely on `godep save ./...` after bumping to a release tag and restoring the tagged release's dependencies, is there a recommended way to symlink the directories in `hack/godep-save.sh` other than just pulling a straight copy/paste of that script in downstream repos?

Currently I'm trying to update the docs for updating kubernetes in kubernetes/minikube#1299, though

[2017-03-27 18:49] yujuhong commented on #37316
I don't have enough insight on what CNI plugins to test, but since this issue was re-targeted for 1.7, I think @freehan will be able to provide more input once he's back.

We don't have a dedicated "networking" test suite, I'd imagine if we had one, it should be either part of the node or cluster e2e suite. In general, the node e2e suite should give you the basic confidence for pod networking (of

[2017-03-27 18:54] #42230 closed

[2017-03-27 19:31] cmluciano commented on #37316
Ok i will await freehan's response and start looking at the node e2e suite

[2017-03-27 19:49] #39572 closed

[2017-03-27 19:49] #43007 closed

[2017-03-27 19:55] ChipmunkV commented on #24957
@nhlfr okay, but my hypothetical system has just two buttons "upgrade application to the new version" and "upgrade config file of the application to the new version". Is there some preferred place for a hook that can execute that command when the kubernetes trigger config file change?

[2017-03-27 20:00] jayunit100 commented on #43678
So, if we agree it's worth a warning then we agree it's a low priority UX bug I think.

[2017-03-27 20:13] anhowe opened #43721 "Release v1.6 Blocking - GCE Scalability 1.6 test grid failures"
The GCE scalability 1.6 tests have been failing since March 25th:

https://k8s-testgrid.appspot.com/release-1.6-blocking#gce-scalability-1.6

This issue to track:
* what is the issue?
* is this blocking for v1.6?

[2017-03-27 20:15] kargakis commented on #24957
Related: https://github.com/kubernetes/kubernetes/issues/22368

[2017-03-27 20:20] thockin commented on #18502
You should not NEED to specify the IP.  If you do, something is wrong.

On Feb 21, 2017 7:45 AM, "Michael Sander" <notifications@github.com> wrote:

[2017-03-27 20:24] bgrant0607 commented on #43709
@mwielgus Please provide more information.

[2017-03-27 20:32] sttts commented on #42403
@bacongobbler this is about godep-restore. Broken godep-save was a false alarm.

[2017-03-27 20:35] liggitt commented on #43669
fixed in release-1.6 branch by #43720

[2017-03-27 20:36] #43669 closed

[2017-03-27 20:44] ahmetb opened #43722 "`kubectl create deployment` does not strip off the --image tag"
**What keywords did you search in Kubernetes issues before filing this one?** kubectl create "invalid value"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**: minikube

**What happened**:

The `--image` flag in `kubectl create deployment` does not strip off the image tag in the `spec.template.spec.

[2017-03-27 20:46] mwielgus commented on #43709
@bgrant0607
Imagine that you have just created a pod that cannot be scheduled. CA expands one of the migs to accommodate it. Just when the node arrives there is a brief moment when the pod is still pending (scheduler didn't retry it yet) but the node is available. Scale up is over. Pod is pending. So we might try to scale up again, which would be incorrect. To protect against such situations we ru

[2017-03-27 20:46] liggitt commented on #43693
@niyanchun how did you install Kubernetes? The `DefaultTolerationSeconds` admission plugin referenced in the master version of the install scripts does not exist in the 1.5.x version

[2017-03-27 20:47] liggitt commented on #43693
not a blocker, CI is testing this plugin

[2017-03-27 20:49] liggitt commented on #43709
is this a regression in cluster autoscaler for 1.6, or did the same behavior exist in 1.5?

[2017-03-27 20:50] mwielgus commented on #43709
It is a regression. Doesn't happen always (depends on the network setup timings) but when it does it is quite confusing.

[2017-03-27 20:51] kargakis commented on #43657
We can create an interface that commands should implement.
[code]
https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#command-implementation-conventions

[2017-03-27 21:01] liggitt commented on #43721
got a green run on 0cb4a337c

[2017-03-27 21:13] jiosec commented on #42909
Nice. Thanks Julien!

[2017-03-27 21:16] davidopp commented on #43197
I wonder if this would have caught the "we shouldn't have removed validation of the affinity annotations" bug in a more obvious way

[2017-03-27 21:19] ethernetdan commented on #43535
I think we'll tolerate a flake every 3 runs for master and cluster, there will always be trouble running tests from previous versions the way they are configured. I really would like to see 3 runs out of the new but I'd tolerate a well known flake.

[2017-03-27 21:26] ixdy commented on #43470
Doesn't look like we're having quota issues anymore.

/unassign

[2017-03-27 21:36] kuroneko25 commented on #33483
For us a service is either internal or external but not both at the same time. So we don't have a case where a service needs to use both ILB and GLBC.

[2017-03-27 22:14] #41868 closed

[2017-03-27 22:29] F21 opened #43725 "Update gogo/protobuf dependency"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): gogo, gogo/protobuf

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

It would be great if the `gogo/protobuf` dependency can be upgrade to the latest version. The version being used is quite old (v0.2 ish) and the latest

[2017-03-27 23:03] davidquarles commented on #33483
+1, and same as the previous commenters -- our only use case is internal.

[2017-03-27 23:57] brainwang commented on #28692
What is the latest status for this issue? if fixed, which version?

[2017-03-28 00:41] niyanchun commented on #43693
@liggitt  I installed Kubernetes following this manual: https://kubernetes.io/docs/getting-started-guides/ubuntu/manual/,  and  add v1.5.5 to the $KUBE_ROOT/version file (#39224).  I commented the `DefaultTolerationSeconds` and installed successfully.

[2017-03-28 01:09] anhowe commented on #43721
thanks @liggitt.  It now looks like we are green on 68 and 69, so the SSD GCE fix worked.

I looked into the error logs of 65, 66, and 67 and saw the same errors of pods not coming up in enough time:
**test 65 failure:**
[code]
**test 66 failure:**
[code]
**test 67 failure:**
[code]

This does look like a flakey test since here are the results of 68 that took 210s to get all 100 pods up:
[code]

H

[2017-03-28 01:14] anhowe opened #43728 "GCE-Scalability test is flakey"
Potentially blocking issue, #43721, was because the scalability test waits for 100 pods to come up in 600s.  The investigation shows that 100 pods takes anywhere from 200s to >600s.  Once >600, it causes the tests to failure.  Even after fix 0cb4a33, test 69 still took a full 600s to bring up 100 pods.

The ask here is to make the time to bring up 100 pods less variable, or make the time limit dou

[2017-03-28 01:15] anhowe commented on #43721
filed issue https://github.com/kubernetes/kubernetes/issues/43728

[2017-03-28 01:16] #43721 closed

[2017-03-28 01:27] liggitt commented on #43693
I would recommend using the scripts from the [v1.5.5](https://github.com/kubernetes/kubernetes/releases/tag/v1.5.5) tag to accompany the v1.5.5 you have installed. Master scripts include features that do not exist yet in a released version.

[2017-03-28 01:27] #43693 closed

[2017-03-28 01:58] niuchp opened #43729 "How to read client IP addresses from HTTPS requests behind Kubernetes services?"
First of all introduce my cluster environment:
kubernetes-1.5.1
docker-1.12

I met a problem: I want to get the application of real client IP address, use the ingress of way of the HTTP service can get real IP, but HTTPS service I don't know what I should use the way to get real client IP address.
thanks for any helps

[2017-03-28 02:12] liggitt commented on #43668
fixed in #43676

successfully upgraded v1.5.5 -> ci/latest-1.6 -> ci/latest-1.5 and ensured kube-proxy and kube-dns were functioning correctly after upgrade and downgrade, and tokens file contained correct control plane users after each step

[2017-03-28 02:23] djsly opened #43730 "Cloud Provider PublicIP resource Leak when deleting and re-creating multiple services at the same time."
**BUG REPORT**:

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**:
[code]
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
[code]
- **Others**:
CC: @colemickens @brendandburns

**What happened**:

There are resource leaks in the cloud with respect to PublicIp and LoadBala

[2017-03-28 02:31] leandrocr commented on #26299
I'm sorry but I'm new to k8s and I cannot seem to find in the documentation which apiVersion should I use and what is the proper way to set this up. I have a lot of env vars for one application and this feature would be extremely handy. Thanks.

[2017-03-28 02:47] liuchjlu commented on #43363
@wojtek-t @mml Do you know how to slove the problem as @justinsb mentioned? Are there  some errors between the connection of kube-apiserver(1.6.0-beta.4) with etcd?

[2017-03-28 06:32] wojtek-t commented on #43721
Let's be clear here - the 0cb4a337c commit has nothing to do with this suite and it didn't cause the improvement. It was just accident.

But I took a look into recent failures and there are basically two groups of failures (all of them seem to be known):

1. image-puller is not finishing successfully (i.e. it doesn't manage to download all images it is supposed to download within the timeout). The

[2017-03-28 06:32] wojtek-t commented on #43728
Let's be clear here - the 0cb4a337c commit has nothing to do with this suite and it didn't cause the improvement. It was just accident.

But I took a look into recent failures and there are basically two groups of failures (all of them seem to be known):

1. image-puller is not finishing successfully (i.e. it doesn't manage to download all images it is supposed to download within the timeout). The

[2017-03-28 06:38] wojtek-t commented on #43728
The second one seems to be some setup issue. Though probably someone from Kubelet team can provide more info @kubernetes/sig-node-bugs @yujuhong @dchen1107

[2017-03-28 06:40] tobegit3hub commented on #5607
Any progress about this? We need to expose the `devices` like `/dev/fuse` for unprivileged containers.

Using `--privileged` is not good especially when we don't want to expose all GPU devices for every container.

[2017-03-28 07:04] wojtek-t commented on #43363
1. Any LIST query will result in this log line in etcd:
[code]

This is kind of working-as-intended.

2. Regarding the "took too long" - there isn't anything we should worry about. in etcd v3, we just have more logs that will help with debugging. Those long queries can happen from time to time but with 10ms or 20ms once per 5 minutes, there isn't anything to be worry about.

@xiang90 @hongchaodeng

[2017-03-28 07:24] liuchjlu commented on #43363
I solved this problem. Start the kube-apiserver with the config --storage-backend=etcd2. We can refer question #43634. Tthere are some doubt that why the etcd3 doesn't work? My etcd version is v3.0.12.

[2017-03-28 07:39] wojtek-t commented on #43728
@kubernetes/sig-scalability-test-failures @gmarek

[2017-03-28 07:56] wojtek-t commented on #43701
That's fine - I filed it to not forget about it.

It will be pretty important if we want to have more-realistic kube-proxy in kubemark. So I would say something like P1.

[2017-03-28 08:32] chrigl commented on #38498
@lucab I can confirm this. with
[code]

the mounts do not pile up, and thus, deletion of pods works even after a restart of kubelet, and no Orphans are "created".

Of course, I am not someone who is able to test for side-effects.

[2017-03-28 08:32] barnettZQG opened #43738 "release1.4.0 make build bug."
Branch:
` release-1.4.0`

 When I perform "make all" command, it  don’t find depend on package `github.com/jteeuwen/go-bindata`.
I get it and move to `/vendor/github.com/jteeuwen/go-bindata`
Then continue to report errors:
[code]

[2017-03-28 08:38] vriesmarcel commented on #42605
@JiangtianLi according to our last conversation, you found that the adapter sequence was not ok and therefore dns resolve did not work correct. Where you able to fix this long term in the codebase, so a next release this issue is solved?

@mfaizanse I see the same behavior, I always need to specify fqdn to access the services

[2017-03-28 08:40] dixudx commented on #43722
Invalid issue, which has already been fixed in #38767.

[2017-03-28 08:41] vriesmarcel commented on #42151
I used the portal to deploy the cluster.
Created a new cluster Friday, same issue. when using expose the services are not available from the public IP

[2017-03-28 08:51] ankon opened #43739 ""Unable to get uid from job ... in namespace ..." log spam"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "unable to get uid from job", review titles of all open/closed issues in this project in the result.

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Clo

[2017-03-28 08:58] soltysh commented on #30243
@nickschuch first of all thanks for you PR and your interest! As for what I say, your solution although is perfectly fine ad-hoc, we're interested in having much more structural approach to this problem. Having just int to count failures is definitely not sufficient. Have a look at [this comment of mine](https://github.com/kubernetes/kubernetes/pull/41451#discussion_r101523399), lemme copy that ov

[2017-03-28 08:59] soltysh commented on #30243
@nickschuch will you be able to commit yourself and have it done in time for 1.7?

[2017-03-28 09:02] soltysh commented on #30243
That's obviously wrong, since we're talking about Jobs here, and not CronJobs (like in #43512). So changing APIs here is even more tricky and that's why I'm insisting on having the discussion first.

[2017-03-28 09:03] soltysh commented on #43512
I'm hoping if we address #30243 this issue should be solved as well.

[2017-03-28 09:07] shiywang commented on #43657
sounds good, @fabianofranz @kargakis is there anything I could help here ?

[2017-03-28 09:11] wojtek-t commented on #43728
It seems we were doing some unexpected things regarding image-puller pods.
#43741 is fixing the (1) of what I described above.

[2017-03-28 09:31] wojtek-t commented on #43728
BTW - we are facing exactly the same issues in 1.5 release - @mwielgus FYI

[2017-03-28 09:39] jeroenjacobs1205 opened #43743 "decent documentation for fresh admins"
I'm trying to setup a new cluster from scratch, but I find the lack of decent documentation disturbing. It seems most suggestions fall into one of those categories:

- use a hosted solution: this is a no-go for my project. We need to admin this ourselves
- use a deploy script (kubeadm, kargo): also a no-go. Most projects don't really explain how the security is configured, or why it is configured

[2017-03-28 09:58] fgrzadkowski commented on #43688
I haven't reviewed the PR yet, but the scenario you are proposing defeats the purpose of HA master! I think it's ok to say we do not support HA master upgrades yet, but we should document how this can be done manually and fix this properly later by adding support in upgrade.sh

[2017-03-28 09:59] fgrzadkowski commented on #43688
@wojtek-t @roberthbailey

[2017-03-28 09:59] dixudx commented on #43743
You can refer to [Getting Started Guides](https://kubernetes.io/docs/getting-started-guides/).

[2017-03-28 10:00] ethernetdan commented on #43535
Update: all new suites look good, all clusters except one below look good. Still several masters not there yet. I'm going to start allowing 1 flake per 3 runs for the next sweep.

## needs 3 consecutive passes
- gce-1.5-1.6-upgrade-cluster
- gce-1.5-1.6-upgrade-master
- gke-container_vm-1.5-container_vm-1.6-upgrade-master
- gke-container_vm-1.5-gci-1.6-upgrade-master
- gke-gci-1.5-container_vm-1.6

[2017-03-28 10:20] ostankin opened #43744 "Support annotations for AWS ELB Security Policies"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

`aws elb security policy`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): **FEATURE REQUEST**

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: **AWS**
- **OS** (e

[2017-03-28 10:45] jeroenjacobs1205 commented on #43743
To give an actual example on where the documentation fails me. Let's say I have 3 API servers running which ssl key should be used to for serviceaccount verification. This what the documentation tells me:

--service-account-key-file : File containing PEM-encoded x509 RSA or ECDSA private or public keys, used to verify ServiceAccount tokens. If unspecified, --tls-private-key-file is used. The speci

[2017-03-28 10:58] ethernetdan commented on #43600
Moving to 1.6.1, feel free to move to 1.7 if that's where we want to fix this.

[2017-03-28 11:11] jeroenjacobs1205 commented on #43743
Seems I'm not the only one: https://github.com/kubernetes/kubernetes/issues/11000

[2017-03-28 11:30] voyalab commented on #43680
@gyliu513 Could you please add what you expected to happen ?

[2017-03-28 12:07] colemickens opened #43747 "Unable to run `./hack/update-bazel.go`"
I'm sure this is user error, but I don't know how to unstick myself.

I'm on the commit in this PR: https://github.com/kubernetes/kubernetes/pull/43697

[code]

[2017-03-28 12:12] qwang1 opened #43748 "Incorrect memory calculation for Burstable QoS level cgroups"
**What keywords did you search in Kubernetes issues before filing this one?** :
QoS/cgroup

**Is this a BUG REPORT or FEATURE REQUEST?**:
It's a BUG REPORT

**Kubernetes version**:
Client Version: version.Info{Major:"1", Minor:"7+", GitVersion:"v1.7.0-alpha.0.1144+33c455271e586f", GitCommit:"33c455271e586f267f1d52272b32f69da729ae2a", GitTreeState:"clean", BuildDate:"2017-03-14T07:16:11Z", GoVersio

[2017-03-28 12:14] crassirostris commented on #41647
Flakiness fixed by: https://github.com/kubernetes/kubernetes/pull/43441 https://github.com/kubernetes/kubernetes/pull/43294 https://github.com/kubernetes/kubernetes/pull/43574

[2017-03-28 12:14] #41647 closed

[2017-03-28 12:15] crassirostris commented on #38238
Closing, as it seems to be obsolete. Feel free to reopen if you think it requires any actions from my side

[2017-03-28 12:15] #38238 closed

[2017-03-28 12:19] ncdc commented on #43748
cc @derekwaynecarr @sjenning @vishh

[2017-03-28 12:23] php-coder opened #43750 "kubectl version output isn't human readable"
I was confused by the `kubectl version` that looks like more as machine readable rather than as human readable.
[code]
I feel that UX could be better if it will be written in multiple lines and without curly braces/quotes:
[code]

[2017-03-28 12:25] kargakis commented on #43750
@kubernetes/sig-cli-misc

[2017-03-28 12:26] kargakis commented on #43750
Agreed on this one, we should pretty-print this output.

[2017-03-28 12:32] erikbgithub commented on #26909
this can be said about all error messages

[2017-03-28 12:37] ethernetdan commented on #43668
This has merged into `release-1.6` and will be part of v1.6.0

[2017-03-28 12:37] #43668 closed

[2017-03-28 12:40] #43709 closed

[2017-03-28 12:41] php-coder opened #43751 "PodSecurityPolicy: consider removing omitempty from the fields to improve UX"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

omitempty

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE

[2017-03-28 12:41] php-coder commented on #43751
CC @pweil-

[2017-03-28 12:45] jimisan commented on #39238
unset http_proxy; kubeadm reset; systemctl restart kubelet; kubeadm init?

[2017-03-28 12:52] pweil- commented on #43751
while I agree that it looks nicer to show these fields it is inline with the [api conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#optional-vs-required) to have omitempty here because there is a default value making the field optional

[2017-03-28 12:58] php-coder commented on #43751
API convention doc uses `bool` type as an example for required fields and PSP has boolean fields too. So, maybe these fields isn't optional because they're not a pointers to boolean?

[2017-03-28 12:58] powerupcloud opened #43752 "Services that come up in new pods are unable to resolve DNS and connect to RDS"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): AWS, DNS, RDS

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Repor

[2017-03-28 13:02] pweil- commented on #43751
Right.  They don't need to distinguish from the unset and default value so they aren't pointers (the infamous troolean) and therefore do not require the user to set a value when submitting the object.

[2017-03-28 13:13] hjacobs commented on #43743
@jeroenjacobs1205 I feel your pain. There is no good overview of cluster provisioning and all implications (there are many different ways to do things). I created a doc to share how we run Kubernetes on AWS: http://kubernetes-on-aws.readthedocs.io/en/latest/admin-guide/kubernetes-in-production.html + slides https://www.slideshare.net/try_except_/kubernetes-on-aws-at-europes-leading-online-fashion-

[2017-03-28 13:17] crassirostris commented on #42718
@jcantrill I would prefer not to specify "stream" here, similarly to [the CRI logging proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/kubelet-cri-logging.md), as it might change. Currently, container runtimes like Docker only support `stdout` and `stderr` and there's [an official k8s documentation](https://kubernetes.io/docs/concepts/cluster-administrati

[2017-03-28 13:18] crassirostris commented on #42718
BTW, @timothysc

Is it CRI-compatible?

[2017-03-28 13:24] jeroenjacobs1205 opened #43753 "is this an error or not?"
My master nodes seem to run fine:

[code]
[code]

However, my logs are filling up with this:

[code]

The response codes are 200, which means nothing is wrong (I think?). So is this normal?

[2017-03-28 13:24] crassirostris commented on #36401
@yujuhong @Random-Liu We should probably have a plan for this migration. People should have enough time to move away from the old naming scheme, but should move nevertheless.

I think defining the guidelines for people to use, like https://github.com/kubernetes/kubernetes/issues/42718, is a first important step here. Then the most popular solutions, relying on this, e.g. [fluent-plugin-kubernetes_

[2017-03-28 13:25] powerupcloud commented on #43752
More data. When this problem occurs, its not just the resolution to RDS that fails, but even simple requests like looking up google.com also fail.

[2017-03-28 13:29] jeroenjacobs1205 commented on #43753
On a side note, how about to put a "error", "warning", or "informational" tag in each log line, for clarity purposes?

[2017-03-28 13:33] jacekn opened #43754 "Allow kubernetes-master layer to trust external CA"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): none, I read layer source code instead to confirm this was not currently possible

--

[2017-03-28 13:36] hjacobs commented on #43729
Usually the load balancer (e.g. AWS ELBv2/ALB when using https://github.com/zalando-incubator/kube-ingress-aws-controller) will add a special `X-Forwarded-For` header with the original client IP. Your application needs to read the IP from this header.

See https://en.wikipedia.org/wiki/X-Forwarded-For

[2017-03-28 13:46] jsloyer opened #43755 "Addon Manager returns "error retrieving RESTMappings to prune""
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
IBM
- **OS** (e.g. from /etc/os-release):
Ubuntu 16.04.1 LTS
- **Kernel** (e.g. `uname -a`):
Linux kube-dal10-cr1ae13de8f8ae48349427ad8857dd5069-w2 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:
I am ru

[2017-03-28 13:57] jacekn opened #43756 "kubernetes-master juju layer should allow RBAC configuration"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): none, I read layer source code instead to confirm this was not currently possible

--

[2017-03-28 13:59] nikinath commented on #37554
This issue seems to be fixed in 1.5.2. Even with TPRs.

Logs:

[code]

It is fixed by https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/extensions/thirdpartyresourcedata/codec.go#L367. (PR https://github.com/kubernetes/kubernetes/pull/37328)

When a namespace is deleted, the namespace controller deletes all the deletable resources under that namespace. In case it is a TPR resource,

[2017-03-28 14:03] nikinath commented on #37278
This issue seems to be fixed in 1.5.2.

Logs:

[code]

It is fixed by https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/extensions/thirdpartyresourcedata/codec.go#L367. (PR https://github.com/kubernetes/kubernetes/pull/37328)

When a namespace is deleted, the namespace controller deletes all the deletable resources under that namespace. In case it is a TPR resource, the delete opti

[2017-03-28 14:06] nikinath commented on #19317
This is fixed in `v1.5.2`. Please see: https://github.com/kubernetes/kubernetes/issues/37278#issuecomment-289780021

[2017-03-28 14:11] php-coder opened #43757 "kubectl describe psp should describe all fields"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

describe psp

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEAT

[2017-03-28 14:13] php-coder commented on #43757
@pweil- If you're agree with that than I (or @roidelapluie? :) ) could implement it.

[2017-03-28 14:13] colemickens commented on #41185
Note to self, we should see if there's a flag for changing the watch interval on kubelet to at least short circuit this. Barring this, we need to get Azure LB to terminate TCP connections properly.

[2017-03-28 14:17] jellonek commented on #42542
No, there is not any at this point.
But this would be easy to add options passing support.

[2017-03-28 14:19] pweil- commented on #43757
@php-coder yes, improve the describer.  Look at the scc describer for formatting.

[2017-03-28 14:19] nambrot commented on #19899
There hasn't been movement on this issue, but I just wanted to ask quickly whether this is something we can expect as kubernetes end users to be built into kubernetes soon, or rely on excellent solutions such as https://github.com/jetstack/kube-lego for the foreseeable future?

[2017-03-28 14:20] jonathan-kosgei commented on #12964
So the fix is to create a corresponding service for the endpoints?

[2017-03-28 14:24] cheld opened #43759 "Kubernetes Cluster for Travis"
In Dashboard we used hyperkube-container to execute click tests during travis build. Since version 1.6 hyperkube-container is not working any longer (because of small issues which could be fixed easily). Currently, we start the hyperkube-container with a gulp task and concurrently compile and lint the source-code.

kubeadm does not seem like a good choice to integrate into the build script in such

[2017-03-28 14:26] cheld commented on #43759
https://github.com/kubernetes/dashboard/issues/1710

[2017-03-28 14:27] thockin commented on #12964
Yes.  Endpoints are usually a derived value, and in hindsight they should
probably have been a sub-resource of Service.

On Mar 28, 2017 7:20 AM, "Jonathan Kosgei" <notifications@github.com> wrote:

[2017-03-28 14:28] roberthbailey commented on #43688
It's too late to add this in for 1.6.0, but we should consider backporting a fix so that users can update an HA master to 1.6.x in the near future. We should also put in a big warning in the release notes warning users not to try and upgrade if they deployed an HA master using kube-up.sh.

[2017-03-28 14:37] djsly commented on #43730
The following PublicIP were never removed
[code]

[2017-03-28 14:44] zhouhaibing089 commented on #37278
@nikinath FYI, #37328 also needs to pair with: https://github.com/kubernetes/kubernetes/blob/master/pkg/master/thirdparty/thirdparty.go#L290.

[2017-03-28 14:45] gnufied opened #43760 "Annotation being used for making a SC default"
When we went GA with Storageclasses why we are still using a beta annotation for declaring a particular storage class as default?

[code]

Shouldn't this be renamed too?

cc @jsafrane @kubernetes/sig-storage-pr-reviews

[2017-03-28 14:47] sjenning commented on #43748
/assign

[2017-03-28 14:51] nikinath commented on #37278
@zhouhaibing089 Oh yes, I think the check for GVK is done by calling `registered.IsThirdPartyAPIGroupVersion` and for that we need to register the TPRs. Thanks!

[2017-03-28 14:58] sjenning commented on #43748
We are using `getNodeAllocatableAbsolute()` in `qos_container_manager.go` to get the node allocatable value
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/node_container_manager.go#L152

This code seems to indicate that if `KubeReserved` and `SystemReserved` are not specified, capacity will equal allocatable.  However, the allocatable value reported in the Node resource is dif

[2017-03-28 14:59] xiang90 commented on #43363
Ignore the warning. We (etcd team) realized 10ms is a too tight deadline for not beefy machines. We already made that 100ms in the new releases.

[2017-03-28 14:59] #43363 closed

[2017-03-28 15:00] djsly commented on #32157
I stumbled on a somewhat related issue, where I delete a namespace which contains a service configured to use the LoadBalancerType.

If we delete the namespace, poll the apiserver to ensure that it is indeed removed and recreate the Namespace it seems that the controller manager never as the time to delete the cloud resource and redetect the that service needs new IP. Ignoring the deletion.

Find

[2017-03-28 15:04] crassirostris commented on #41469
@KeithTt Just started a new cluster, then performed from the kubernetes root:

[code]
Then I run `kubectl proxy` and opened page `http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/kibana-logging/`, everything worked. Could you please verify that these steps work for you also?

[2017-03-28 15:08] sjenning commented on #43748
The source of the discrepancy is a difference between `getNodeAllocatableAbsolute()` and `GetNodeAllocatableReservation()`.

`GetNodeAllocatableReservation()` takes into account the hard eviction threshold where `getNodeAllocatableAbsolute()` does not/

[2017-03-28 15:10] djMax commented on #38979
Why is this closed? I hardly think generating 4 gigabytes of spurious logging per day is harmless. If the fix is downstream seems like we should link to that to track resolution no?

[2017-03-28 15:26] gnufied commented on #43760
hmm, I see there is a proper non-beta annotation - `storageclass.kubernetes.io/is-default-class`  - I am going to update release notes with this I think.

[2017-03-28 15:26] #43760 closed

[2017-03-28 15:29] derekwaynecarr commented on #43748
@sjenning -- correct, the verification needs to account for eviction threshold configuration (assuming it was 250Mi here)?

[2017-03-28 15:32] cblecker commented on #43747
/assign
@colemickens this looks to be PR related: https://github.com/kubernetes/kubernetes/pull/43697#issuecomment-289808759

[2017-03-28 15:37] yujuhong commented on #43728
The same issue that happened before: https://github.com/kubernetes/kubernetes/issues/32478

[2017-03-28 15:39] jayunit100 commented on #43755
iirc isn't it `apis/apps/v1beta1/` not `/apps/v1beta1` ?

[2017-03-28 15:56] shiywang commented on #43750
@php-coder I would like to change that tomorrow if you are not working on it.

[2017-03-28 16:02] gyliu513 commented on #43680
What I want is `kubectl get pods` can print out the `NODE` field by default without `-owide` option. The `NODE` info is a very important info for debugging and troubleshooting, I think this can make life easier for people using `kubectl` command. @voyalab

[2017-03-28 16:05] php-coder commented on #43750
@shiywang I'm not working on it, so feel free to provide a PR. But I wouldn't do anything untill we get approval from @kubernetes/sig-cli-misc

[2017-03-28 16:06] InAnimaTe commented on #19899
@nambrot I doubt *soon*. I'm working with @simonswine and others to put more development work into *kube-lego* to reach more stability and features. While I'd love to see this ability build-in, *kube-lego* does a pretty wonderful job now and isn't too hard to get [going](https://github.com/kubernetes/charts/tree/master/stable/kube-lego).

[2017-03-28 16:11] vorlonofportland commented on #43534
On Thu, Mar 23, 2017 at 01:27:30PM -0700, Dawn Chen wrote:

Yes, it is.  Should we build with golang-1.7 instead?

[2017-03-28 16:13] bboreham commented on #37316
The network e2e tests are concentrated in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/networking.go

[2017-03-28 16:37] JiangtianLi commented on #42151
@vriesmarcel What service have you deployed? Is it accessible from Windows node?
@mfaizanse We have fixed the issue of deleting service recently.

[2017-03-28 16:39] vriesmarcel commented on #42151
Let me check the connectivity on the windows node itself. I only checked from outside of azure (my local machine to the service)

From: Jiangtian Li [mailto:notifications@github.com]
Sent: March 28, 2017 10:08 PM
To: kubernetes/kubernetes <kubernetes@noreply.github.com>
Cc: Marcel de Vries <vriesmarcel@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/kubernetes] Azure Wi

[2017-03-28 16:45] VivekBhat opened #43763 "Table of kubernetes/examples/ Readme broken"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

If this is a BUG REPOR

[2017-03-28 16:46] vorlonofportland commented on #43534
Confirmed that when building with go1.7 instead of go1.8, the node tests succeed.

[2017-03-28 16:56] colemickens commented on #43730
Does this repro on a single master cluster?

[2017-03-28 16:57] colemickens commented on #32157
Oh, are you pretty sure this is the root cause? #43730 ?

[2017-03-28 16:57] kfox1111 commented on #19899
if its built in, then each ingress controller would be required to implement it themselves? I kind of like the idea of sharing the implementation.

[2017-03-28 16:58] jayunit100 commented on #23291
Should we close this issue?...  since the original purpose was to debate the question.  It looks like

- community agrees on tcp/l4 and ,
- L4 proposal was successfully merged

[2017-03-28 16:58] derekwaynecarr commented on #43748
the values will differ based on the setting of `experimental-allocatable-ignore-eviction` flag in kubelet.

When set to 'true', Hard Eviction Thresholds will be ignored while calculating Node Allocatable. See https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node-allocatable.md for more details. [default=false]

[2017-03-28 17:00] djsly commented on #43730
Yes, to ensure that all the logs were in the same file, I stopped all services on the toher two kube-master. (e.g. kube-controller-manager, kube-apiserver, kube-scheduler)

The log might still show entries when the configuration was setup as multi master

[2017-03-28 17:01] ncdc commented on #43753
@jeroenjacobs1205 those are essentially http access logs. For example:

`Mar 28 13:23:08 dev-master-003 kube-apiserver: I0328 15:23:08.640872   15002 panics.go:76] GET /api/v1/namespaces/kube-system/endpoints/kube-scheduler: (1.923651ms) 200 [[kube-scheduler/v1.5.5 (linux/amd64) kubernetes/894ff23/leader-election] 127.0.0.1:57902]`

- the `I` in `I0328` means it's "informational".
- `GET /api/v1/n

[2017-03-28 17:02] ncdc commented on #43750
cc @kubernetes/sig-testing-misc, don't some of the tests rely on this output?

[2017-03-28 17:02] #43753 closed

[2017-03-28 17:03] djsly commented on #32157
@colemickens I'm not 100% sure, but I wanted to share the logs with this thread to see if this was maybe related. It is hard to tell right now for the #43730 issue if it is a Azure Load Balancer implementation specific or someone more general at the controller-manager level.

[2017-03-28 17:04] colemickens commented on #32157
Can you try to repro:

* with a single master
* by deleting services instead of the NS

? Thanks!

[2017-03-28 17:04] kargakis commented on #23291
@jayunit100 can you post a link to the proposal that was merged?

[2017-03-28 17:08] jayunit100 commented on #23291
#25821 above ......?

[2017-03-28 17:14] ethernetdan commented on #43535
The rest look reasonable given forgiving a flake per 3 runs so I'm going to close this. It's too bad we don't meet the 3 flake build SLA but given the nature of running tests from previous versions this may be expected. We should try in the future to figure out how to get more jobs in either through getting test time down or running parallel upgrades.

[2017-03-28 17:14] #43535 closed

[2017-03-28 17:15] kargakis commented on #23291
Doesn't look like it got merged.

[2017-03-28 17:15] MrHohn commented on #43755
Hi @jsloyer , you were using addon-manager v6.4-beta.1 (which is built with v1.6 kubectl binary) with v1.5+ apiserver. The specific error you hit is because there is not `apps/v1beta1,Deployment` resource in v1.5 k8s, instead there is only `extensions/v1beta1,Deployment`. The new group was introduced by #39683 for v1.6.

So it seems like `kubectl apply --prune` in v1.6 is not compatible with k8s v

[2017-03-28 17:19] dchen1107 commented on #43534
Great! Thanks for the updates. We can continue carrying on our integration work.

I am leaving this open to fix the error-prone logic in EmptyDir's teardown logic, and resolving the golang 1.8 compatibility issue.

[2017-03-28 17:19] jayunit100 opened #43764 "[e2e] "should support a client that connects, sends no data, and disconnects" doesn't complete on local clusters, and can spam cgroups."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug

**Kubernetes version** (use `kubectl version`):

master

**Environment**:
- **OS** (e.g. from /etc/os-release):
centos
- **Install tools**:
local-up-cluster

**What happened**:

Normally these cgroups are clean after an E2E run:
[code]

But it appears at least with the ""should support a client that connects, sends no data, and disco

[2017-03-28 17:19] spxtr commented on #43750
They probably do. There should be a `kubectl version -o=json` option or something that we can use in test infra.

[2017-03-28 17:25] alejandroEsc commented on #43750
please have a look at:
https://github.com/kubernetes/kubernetes/pull/39858
and related issue:
https://github.com/kubernetes/kubernetes/issues/39427

The above is approved and had an lgtm labeled, but removed by the bot because of testing.

[2017-03-28 17:33] jayunit100 commented on #43764
Closing: but note that the kubepods stuff will remain after the kubelet dies.  not sure if that cgroup should be killed on exit or not.  probably not a big deal.

[2017-03-28 17:33] #43764 closed

[2017-03-28 17:36] ahmetb commented on #43722
Thanks.

[2017-03-28 17:36] #43722 closed

[2017-03-28 17:40] kargakis commented on #43751
lmao

[2017-03-28 17:52] tonylambiris opened #43765 "--reconcile-cidr no longer available in k8s 1.6"
What are the recommended flags for instantiating a stand-alone cluster using the kubenet plugin now that `--reconcile-cidr` has been removed from kubelet?

Thanks in advance.

[2017-03-28 18:53] vishh commented on #43748
I feel this is WAI. https://github.com/kubernetes/kubernetes/issues/43748#issuecomment-289801219 is correct.

[2017-03-28 19:02] sivadatla commented on #23727
I too faced the exact issue mentioned  -
[here](https://github.com/kubernetes/kubernetes/issues/23727#issuecomment-252823272)

I could see dashboard by passing the following header:
`Authorization Bearer iUeq9ps8BSRs8JodL1gzbRmBYCWOmIOM`
For this I have to install modHeader plugin to Chrome to keep the above mentioned header before hitting the following URL
[https://github.com/kubernetes/kubernete

[2017-03-28 19:12] #39427 closed

[2017-03-28 19:25] kylegato commented on #42983
@quantonganh I ran into the same issue, this one appears to work: https://raw.githubusercontent.com/fluent/fluentd-kubernetes-daemonset/master/fluentd-daemonset-elasticsearch.yaml

[2017-03-28 19:36] activeshadow opened #43768 "Kubelet failed to get node info following network unreachable for Kubernetes master"
**What keywords did you search in Kubernetes issues before filing this one?**: "Kubelet failed to get node info"

That search turned up two open issues: #41850 and #35238. However, both of those seem to have to do with errors regarding the cloud provider. We do not use a cloud provider (we're seeing these errors on nodes running outside of a cloud provider).

---

**Is this a BUG REPORT or FEATURE

[2017-03-28 19:37] everett-toews opened #43769 "Unsetting the property of a non-existent context creates that context"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.5.3

[code]

**Environment**:
- **Cloud provider or hardware configuration**: minikube 0.17.1

**How to reproduce it** (as minimally and precisely as possible):

1. View config

[code]

Note that there's only one context.

2. Unset the property of a non-existent context

[code]

[2017-03-28 19:53] jayunit100 commented on #23291
Ahhh sorry ; closed, not merged: In any case,  Are we all in agreement that the proposal en route will just flesh out details but the community wants ingress to support L4?  If so we still should close.

[2017-03-28 19:55] jayunit100 commented on #23291
I.e. My motive here is to establish that we do (or don't) agree on L4 support - and we can debate the implementation in a follow on issue.

[2017-03-28 19:56] yujuhong commented on #43708
@errordeveloper could you provide more details about your setup, and the issues you encountered. This issue is not actionable without the information.

[2017-03-28 20:13] jayunit100 commented on #33175
agree, this was just a placeholder for referencing infra flakes.

[2017-03-28 20:37] bismarck opened #43772 "fluentd.log not included in log rotation"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): fluentd, logrotate

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): B

[2017-03-28 21:01] ConradIrwin opened #43773 "GCE health check does not pick up changes to pod readinessProbe"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): ingress readiness

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG R

[2017-03-28 21:04] tnachen commented on #3595
Instead of everyone having their own hacks and custom entrypoints just to set rlimit I also like to +1 we allow users to set it through k8s API. Is this being worked on at all?

[2017-03-28 21:11] jeunii opened #43774 "Mismatch of K8S versions causing issue"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kubernetes, version, mismatch
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose

[2017-03-28 21:17] jingxu97 commented on #38498
Then it seem to be an CoreOs issue, not Kubernetes. Maybe could file an issue there?

[2017-03-28 21:37] wongma7 commented on #41638
attempted fix created here https://github.com/kubernetes/kubernetes/pull/43775

[2017-03-28 21:37] dchen1107 commented on #42690
RE: https://github.com/kubernetes/kubernetes/issues/42690#issuecomment-288807465

Ok, looks like the initial issue was resolved after you disabled IPv6 on the nodes. Now Kubelet is running, but the new question is why the IPv4 address is not in propagate through NodeStatus:

Kubelet queries cloud-providers for those NodeAddress[] at: https://github.com/kubernetes/kubernetes/blob/23104b714ce129a5df

[2017-03-28 21:42] ctrath commented on #21070
Has there been any thoughts to merging this or implementing something that forces a nodeport to only bind to a given IP?  We have a use case where our load balancer is created and we would like for the load balancer only to communicate to the private interface to the nodeports in the nodes where the deployments are located.

We have tried to block the public nodeport with the firewall, but can't b

[2017-03-28 21:57] kfox1111 commented on #36401
its unclear from: https://github.com/kubernetes/community/blob/master/contributors/devel/container-runtime-interface.md#kubernetes-v16-release-docker-cri-integration-beta

if the link to this issue is a 1.5 only thing, or applies to 1.6 too. since cri is now default in 1.6, is it broken by default with respect to this kind of logging?

[2017-03-28 22:18] BaluDontu commented on #42690
vSphere cloud provider returns all IP address - both IPv4 and IPv6. If you see node2, node3 and node4 it has both IPv4 and IPv6 addresses which it propagates through NodeStatus.

[2017-03-28 22:33] fejta opened #43778 "kubectl client tests fail with already registered errors on 1.4"
See https://storage.googleapis.com/k8s-gubernator/triage/index.html#cc0ee1cb78509e244c43

[code]

Seems similar to https://github.com/kubernetes/kubernetes/issues/40441

/assign @deads2k @liggitt

[2017-03-28 22:34] gamefiend commented on #43222
Reopening this as I closed it in error. Will release PR with suggested fixes for this soon.

[2017-03-28 22:34] fejta commented on #43778
/area apiserver
/kind flake

[2017-03-28 22:35] djsly commented on #43730
Update: I have retested with the deletion of the service/deployment instead of the namespace.

I still have the same issue.

[code]

As you can see 3 IP should have been delete from Azure.
- 52.167.217.196
- 52.167.223.67
- 52.167.222.61

<img width="721" alt="screen shot 2017-03-28 at 18 34 55" src="https://cloud.githubusercontent.com/assets/4981802/24430596/4d004e50-13e5-11e7-8bbb-1a55a85180e7.p

[2017-03-28 22:36] djsly commented on #32157
@colemickens I have updated #43730 with the requested information. It turns out the deleting and recreating the same Service causes the IP to leak in Azure as well.

[2017-03-28 22:39] thockin commented on #21070
I would probably be ok with a flag to kube-proxy specifying which IP range
to use, which defaulted to 0.0.0.0/0.  I think a range so people can
populate it from their private subnet the same on every node.

But I don't have bandwidth right now - this would be an excellent community
contribution.

On Mar 28, 2017 2:42 PM, "ctrath" <notifications@github.com> wrote:

Has there been any thoughts to me

[2017-03-28 22:45] liggitt commented on #43778
Is this running against a 1.6 or master server?

[2017-03-28 22:48] liggitt commented on #43778
1.4 has known issues that prevent it working against 1.6+

Fixed in https://github.com/kubernetes/kubernetes/pull/36898

[2017-03-28 22:49] jeunii commented on #39143
KeithTt are you saying that the KubeMaster is on v1.3 while the minions are on 1.2 ? Im currently facing a similar issue where I have master and minions on v1.2 . I updated one minion to 1.3 and got the same ERROR as you "accepted media types include: application/json, application/yaml' (will not retry!)"

[2017-03-28 22:54] dchen1107 commented on #43765
Yes, the flag was deprecated for more than 2 releases, and removed from 1.6 Kubelet. Here is the related release-notes (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#v160)
[code]

[2017-03-28 23:03] dchen1107 commented on #43765
btw, this flag has no effect since 1.5 release, especially you are using kubenet. Closing the issue for now. Please re-open it if you disagree it.

[2017-03-28 23:03] #43765 closed

[2017-03-28 23:06] thockin commented on #32157
@bowei, we should understand what's up here

On Mar 28, 2017 3:37 PM, "Sylvain Boily" <notifications@github.com> wrote:

[2017-03-28 23:20] #40757 closed

[2017-03-28 23:26] marun commented on #42761
Actually, not even a single controller can be disabled via override.   The marshalling code disallows the form that would be required (``--controllers=services=false``):

https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/kubefed/init/init.go#L915

[2017-03-28 23:39] tonylambiris commented on #43765
I've been building tagged releases until v1.5.5-beta.0 until trying v1.6.0-beta.0, and what I can tell you is passing it to kubelet allowed services to be reached without any other special configuration except passing in `--pod-cidr=` as well.

[2017-03-28 23:41] tonylambiris commented on #43765
@dchen1107 Also I'm not a collaborator so I can't re-open this.

[2017-03-28 23:58] jayunit100 commented on #43651
This time i saw seven, after Exporting
[code]
The remaining failures:
[code]

[2017-03-29 00:14] jayunit100 commented on #40949
really all the examples are apps, possibly charts.

[2017-03-29 00:15] bgrant0607 commented on #43628
This is a service catalog use case IMO.

[2017-03-29 00:37] k8s-merge-robot opened #43780 "ci-kubernetes-e2e-gci-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/4298/
Multiple broken tests:

Failed: [k8s.io] Pods should have their auto-restart back-off timer reset on image update [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27360 #28096 #29615 #31775 #35750

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] sho

[2017-03-29 00:39] kensimon commented on #43397
I'm seeing this on v1.6.0 using kubeadm on a new cluster with the latest CNI release, with Docker 1.12.6.

The workflow I'm going through for installation is basically:

- Install kubelet/kubeadm/cni/docker/etc
- `kubeadm init` with the following yaml:
[code]

And I watch the kubelet logs and see:

[code]

Ultimately kubelet logs these two lines in succession repeatedly:

[code]

while the node st

[2017-03-29 00:39] kensimon commented on #43397
^^ cc @luxas @jbeda @thockin @yujuhong

[2017-03-29 00:57] k8s-merge-robot opened #43781 "TestCheckAPIService {autoregister}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/4132/
Failed: TestCheckAPIService {autoregister}

[code]

[2017-03-29 01:09] niuchp commented on #43729
@hjacobs Thanks for your reply. My kubernetes is deployed on a physical server, not in Cloud, in this case, how should i do?Ingress can be implemented?

[2017-03-29 01:12] justinsb commented on #43540
So what is the healthz endpoint / recommended liveness check for a secure setup (RBAC, kubeadm discovery not enabled, insecure port disabled)?

`curl https://127.0.0.1/healthz` is returning a 401 for me.

[2017-03-29 01:20] ravilr opened #43783 "Allow setting pids-limit on containers"
cc @kubernetes/sig-node
pid cgroup https://www.kernel.org/doc/Documentation/cgroup-v1/pids.txt allows limiting the number of processes per cgroup, and very critical to avoid fork bombs. docker seems to have added support since 1.11 release: docker/docker#18697

I can think of two options to expose this in k8s api:
1. Add it to pod.spec.container.resources.limit  as a container resource limit: pids

[2017-03-29 01:25] justinsb opened #43784 "Recommended liveness check for kube-apiserver"
For 1.6, what is the healthz endpoint / recommended liveness check for a secure setup (RBAC, kubeadm discovery not enabled, insecure port disabled)?

`curl https://127.0.0.1/healthz` is returning a 401 for me.

[2017-03-29 01:31] waldman opened #43785 "DaemonSet Creation/editing: Can't Set ".spec.template.spec.affinity""
**Kubernetes version** (use `kubectl version`):
Client: 1.5.4
Server: 1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`): `Linux ip-10-249-41-68 4.4.41-k8s #1 SMP Mon Jan 9 15:34:39 UTC 2017 x86_64 GNU/Linux`
- **Install tools**: Kops
- **Others**:

**What happened**:
Im trying to run a DaemonSet o

[2017-03-29 01:32] dims commented on #43534
@dchen1107 looks like a possible dup of https://github.com/kubernetes/kubernetes/issues/36983

[2017-03-29 01:42] thockin commented on #43397
@bowei @freehan

On Mar 28, 2017 5:40 PM, "Ken Simon" <notifications@github.com> wrote:

[2017-03-29 02:06] liggitt commented on #43784
You can include credentials in the liveness check or allow unauthenticated requests.

[2017-03-29 02:11] nickschuch commented on #30243
Yep, absolutely. I've been looking for where to best contribute my time on K8s. I want to see this through.

I agree, it will make it easier for me to understand this issue.

How do we go about getting agreement? (sorry, still new to development in the K8s community)

[2017-03-29 02:25] liggitt commented on #43680
Node names can be long. Including in wide output doesn't seem unreasonable

[2017-03-29 02:36] ravisantoshgudimetla opened #43788 "Using assertions and require for sig-scheduling"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

Using assert and require from https://github.com/kubernetes/kubernetes/tree/master/vendor/github.com/stretchr/testify can help us reduce the number of lines of

[2017-03-29 02:37] chinakevinguo opened #43789 "How can i test init-container"
Hi guys:
           see my rc file.
[code]

I used command `kubectl create -f rc.yaml`
I got this error
[code]

maybe my kubernetes version is wrong ?
my version is 1.5.2

[2017-03-29 02:37] cblecker commented on #43747
Fixed. Local environment issue.
/close

[2017-03-29 02:37] #43747 closed

[2017-03-29 03:09] gyliu513 commented on #43680
@liggitt does `kubectl` limit the length of the output? Only adding `NODE` seems does not impact much as for most cases the `NODE` is not that long.

[2017-03-29 03:21] liggitt commented on #43680
Ideally, where the pod is running makes no difference to the end user. The node info could be interesting for a cluster admin, but the other info about the pod seems more important

[2017-03-29 03:27] humbertoflores commented on #43695
Well kubeadm dont support that docker version also after you run twice kubeadm init you first need to run kubeadm reset then your second kubeadm init

[2017-03-29 03:45] justinsb commented on #43784
And I came so close!  Probably going to enable the insecure port, for the time being at least, in kops.

Is there an effort to implement an unprotected healthz endpoint?  Can I help?

[2017-03-29 03:45] fraenkel commented on #43708
https://github.com/kubernetes/kubernetes/issues/42889 documents many of the issues.

[2017-03-29 03:55] gyliu513 commented on #43680
The end user sometimes may also need to debug the specified container, and what the end user need to do is get the pod NODE and logon to that node, then user `docker logs` to check what is wrong with the container, as sometimes the `kubectl logs` and `docker logs` may have different output.

[2017-03-29 03:55] onsi commented on #42837
Closing this out as a dupe of #43273

[2017-03-29 03:55] #42837 closed

[2017-03-29 04:23] yujuhong commented on #43397
I just tested this with kubeadm+v1.6.0, and my experience was a bit different from what you described.

1. `kubeadm init` properly started kubelet and all master components.
2. All master components are running, but node/kubelet stays "NotReady".
3. `kubeadm` continues waiting for the node to become ready, and would not move on to the next phase to create kube-proxy/-dns addons.

For (2), the node

[2017-03-29 04:59] msau42 commented on #36983
The original comment reported the unmount error as "device or resource busy", which is not the same issue as the "deleting~" files.  The issue with "deleting~" files seems to be caused by compiling with go1.8.

[2017-03-29 05:34] jimmycuadra opened #43790 "kubeadm init stuck on "First node has registered, but is not ready yet""
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubeadm

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report

**Kubernetes version** (use `kubectl version`): 1.6.0

**Environment**:
- **Cloud provider or hardware configuration**: Raspberry Pi 3 Model B
- **OS** (e.g. from /etc/os-re

[2017-03-29 05:38] liggitt commented on #43790
Thanks for the detailed issue. Can you open it against the https://github.com/kubernetes/kubeadm repo, as that is where kubeadm issues are being tracked.

[2017-03-29 05:40] jimmycuadra commented on #43790
Ah, of course! Should I close this one?

[2017-03-29 05:41] liggitt commented on #43790
Yes, with a pointer to the kubeadm issue. Thanks

[2017-03-29 05:44] jimmycuadra commented on #4672
Related, possible dupe? https://github.com/kubernetes/kubernetes/issues/25379

[2017-03-29 05:45] jimmycuadra commented on #43790
Issued moved to https://github.com/kubernetes/kubeadm/issues/212.

[2017-03-29 05:45] #43790 closed

[2017-03-29 06:16] puyangsky opened #43791 "Kubernetes rest api docs is missing"
https://kubernetes.io/docs/api-reference/apps/v1beta1/operations/

[2017-03-29 06:47] k82cn commented on #43788
any example on improvement?

[2017-03-29 06:48] k82cn commented on #43789
Please use init container annotation for 1.5.x; `initContainers` field is supported in 1.6.

[2017-03-29 07:05] geoand commented on #5640
Alerting is supported in Grafana since version 4.0 beta (see [this](https://grafana.com/blog/2016/11/09/grafana-4.0-beta-release/)). It would be awesome if there was some way to configure alerting using the standard Grafana + InfluxDB setup of Heapster

[2017-03-29 07:37] jejer opened #43793 "api server does not securely authenticating using service account"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:57:05Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef12

[2017-03-29 08:11] #43793 closed

[2017-03-29 08:12] jejer commented on #43793
Sorry, I used different key files for every api-server.
--service-account-key-file

[2017-03-29 08:21] fejta opened #43794 "node test framework assumes gcs never fails"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/42797/pull-kubernetes-node-e2e-non-cri/5527/

https://kubernetes.slack.com/archives/C09QZ4DQB/p1490737102663326

[code]

It looks like a problem in how the node e2e suite does its testing. Specifically it assumes requests to GCS never fail

[2:38]
Compare https://github.com/kubernetes/kubernetes/blob/1e879c69ecf09ec73fc35ecc0

[2017-03-29 08:26] barnettZQG commented on #34428
I am seeing the same error on Ubuntu,Centos

[2017-03-29 08:30] lucab commented on #38498
@jingxu97 I think you can close this, as the half of it should be fixed by #38909 and the other half is captured at https://github.com/coreos/bugs/issues/1831#issuecomment-290019945.

[2017-03-29 08:36] crassirostris opened #43795 "Remove toleration from fluentd-elasticsearch"
Fluentd-elastcisearch `DaemonSet` sends logs to an Elasticsearch installation inside the cluster. It uses ES service to access, so it doesn't work on master, because there's no kube-proxy on master. Because of that, introducing master toleration to `fluentd-es-ds.yaml` in https://github.com/kubernetes/kubernetes/pull/41489 was unnecessary.

[2017-03-29 08:36] crassirostris commented on #42983
@quantonganh  @kylegato Whoops, I think I owe you an apology. Toleration for fluentd is actually unnecessary, because it doesn't work on master anyway. The `DaemonSet` is still only tested and truly compatible with K8s 1.6, but that trouble was my fault. I filed an issue for that: https://github.com/kubernetes/kubernetes/issues/43795

[2017-03-29 08:38] shahidhk commented on #29307
Is this still relevant? `kubectl run` along with `expose` creates a `deployment` and a `service`. If one them fails, should the other one be rolled back? Is that what is intended out of this issue?

[code]
Since the output from the command clearly says what is created and what is not, a rollback by deleting the created objects manually will also work.

@pwittrock Can you please suggest if automati

[2017-03-29 08:47] crassirostris commented on #36401
@kfox1111 It's still not supported by external tools. It's not strictly broken, because legacy symlinks are still created, but we can't get rid of them them any time soon.

[2017-03-29 08:49] jeroenjacobs1205 opened #43796 "kubelet can't connect to api server"
Why does kubelet say there are no api servers defined?

Kubernetes version: 1.5.5

[code]

This is my kubeconfig file:

[code]

this is my systemd file:

[code]

Kubemasters are running fine, and all components are returning "healthy". master is reachable on the worker node via port 6443.

[2017-03-29 09:11] liranmLP commented on #26309
@dlouzan great investigation!
I have also tried to understand the same issue, and the point I've reached so far is watching the iptables entries related to kube-dns, which look like this during 'normal' state:
(notice the 3 types of entries for the 3 different ips of the dns pods, as well as two "KUBE-SVC..." entries pointing to the kube-dns ClusterIP - 10.0.220.2)

[code]

Then if I delete all 3

[2017-03-29 09:12] k8s-merge-robot opened #43797 "TestAuthModeAlwaysAllow {auth}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/4144/
Failed: TestAuthModeAlwaysAllow {auth}

[code]

[2017-03-29 09:30] jeroenjacobs1205 commented on #43796
fixed by adding "--require-kubeconfig"

[2017-03-29 09:30] #43796 closed

[2017-03-29 09:54] bjb2010 commented on #39228
yes，I want to run three pods on one node, and three pods expose the same port.

[2017-03-29 10:01] timchenxiaoyu opened #43799 "svc error"
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"c55cf2b7d8bfeb947f77453415d775d7f71c89c2", GitTreeState:"clean", BuildDate:"2017-03-07T00:03:00Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"c55cf2b7d8bfeb947f77453415d775d7f71c89c2", GitTreeState:"clean", BuildDate:

[2017-03-29 10:16] FrankYu commented on #35421
virtio-9p-pci is disable by default of qemu-kvm on centos.

See: https://git.centos.org/blob/rpms!qemu-kvm!/4f5da8cf40ea809191d5b389aa6a63327196fdcf/SPECS!qemu-kvm.spec#L5339

[2017-03-29 10:34] dixudx commented on #43785
The Kubernetes server (aka apiserver) you are using is `1.5.2`, which has not enabled `v1.Affinity`. You can visit [extensions_v1beta1.json](https://github.com/kubernetes/kubernetes/blob/v1.5.2/api/swagger-spec/extensions_v1beta1.json#L8027) for details.

The affinity/anti-affinity feature is currently in beta. You can try it after upgrading your apiserver version to `v1.6.0+`.

[2017-03-29 10:50] #42793 closed

[2017-03-29 10:58] silentred opened #43800 "Kubeadm init blocks at "Created API client" forever"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kub

[2017-03-29 11:04] silentred commented on #42993
Same problem here in DigitalOcean

[2017-03-29 11:17] timchenxiaoyu commented on #43799
curl 10.39.0.6:8080/api/v1/proxy/namespaces/kube-system/services/heapster/api/v1/model/namespaces/default/pods/busybox-1865195333-zkwtt/containers/busybox/metrics/cpu/usage
Error: 'dial tcp 192.168.67.4:8082: getsockopt: connection timed out'
Trying to reach: 'http://192.168.67.4:8082/api/v1/model/namespaces/default/pods/busybox-1865195333-zkwtt/containers/busybox/metrics/cpu/usage'[root@slave2 ~]

[2017-03-29 11:47] kargakis commented on #43785
You can still use affinity/anti-affinity features in 1.5 in the form of annotations.
@kubernetes/sig-docs-maintainers how can I access 1.5 docs?

[2017-03-29 11:51] joelharkes opened #43801 "GOOGLE_APPLICATION_CREDENTIALS are sometimes not set"
BUG REPORT
In google cloud random pods sometimes have env key `GOOGLE_APPLICATION_CREDENTIALS` not set. (Using gcloud logging in AspNetCore).

Master version: 1.5.4
[code]

**What happened**:

env variable `GOOGLE_APPLICATION_CREDENTIALS` is not set in pod

**What you expected to happen**:

This should always be in pod, maybe it happens on kubernetes startup but it seems not the case, it seems to

[2017-03-29 11:52] kargakis commented on #29307
@kubernetes/sig-cli-misc

[2017-03-29 11:53] kargakis commented on #29307
I think `run` shouldn't try to cleanup if something failed but we should make sure we get the correct output at all times.

[2017-03-29 11:54] jayunit100 commented on #29829
Specifically, you need to do this:
[code]
I'll put a patch to make these the defaults and see what folks think ;

[2017-03-29 11:54] kargakis commented on #43680
Most users are not going to care.

[2017-03-29 12:50] sbezverk opened #43805 "1.6.0 kubelet fails with error "misconfiguration: kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd""
kubernetes 1.6.0, installation AIO with kubeadm
centos 7.3
 when kubeadm init run, the following error gets reported and kubelet fails to start:
kubelet: error: failed to run Kubelet: failed to create kubelet: misconfiguration: kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd"

[2017-03-29 13:16] ledzep2 commented on #7090
When you start kubelet you can specify an alternative pause image using `--pod-infra-container-image=`. I uploaded a copy of pause to Aliyun China registry sometime ago. You can use it if you want. The address is `registry.aliyuncs.com/archon/pause-amd64:3.0`

[2017-03-29 13:23] RichWellum commented on #43805
Seeing the same.

[2017-03-29 13:27] mikebryant opened #43806 "kube-scheduler gets stuck if there's a pod in a namespace that doesn't exist assigned to a node that doesn't exist"
Originally discussed here: https://kubernetes.slackarchive.io/kubernetes-users/page-100/ts-1490792092215676

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should

[2017-03-29 13:33] ravisantoshgudimetla commented on #43788
So, the documentation at https://github.com/stretchr/testify points out couple of things:

-There are may be scenarios where we want to fail the test. In golang, we do it through Fatal(which we are not using in most of our test cases). We can use require from testify package which solves this.
-Instead of checking for output and error, we can have a simple assert like:
  assert.Equal(123, 123, "th

[2017-03-29 13:36] jayunit100 commented on #43806
cc @kubernetes/sig-scheduling-bugs

[2017-03-29 13:39] dixudx commented on #43785
You can find the doc on [alpha-features-affinity-and-anti-affinity](https://github.com/kubernetes/kubernetes.github.io/blob/release-1.5/docs/user-guide/node-selection/index.md#alpha-features-affinity-and-anti-affinity). For examples, please visit [pod-with-node-affinity.yaml](https://github.com/kubernetes/kubernetes.github.io/blob/release-1.5/docs/user-guide/node-selection/pod-with-node-affinity.y

[2017-03-29 13:53] gyliu513 commented on #43680
Just feel it is not convenient to always input `-owide` to get `NODE` info, I have no comments to close this issue if you all think this does not mean much. Thanks!

[2017-03-29 13:53] #43680 closed

[2017-03-29 14:01] Venkat-Sudharsanam opened #43808 "Error while Initializing your master in kubernetes 1.6"
Hi,

Im using Kubernetes latest version, 1.6
OS is Ubuntu 16.04

[code]
Im using the below tutorial

https://kubernetes.io/docs/getting-started-guides/kubeadm/

When i start Initializing your master, i got stuck with the below error

[code]

Kindly help

[2017-03-29 14:08] kensimon commented on #43397
@yujuhong thanks for looking into this.  Sounds like we're seeing the same thing, I may have been misattributing the `NotReady` state to pods not coming up when that's not the case.  Sounds like it may be a kubeadm bug then?

[code]

I can get this to reproduce reliably using the setup script here: https://github.com/kensimon/aws-quickstart/blob/3a811d00982d9c265e2f00f93d07731f89784b95/scripts/set

[2017-03-29 14:16] Scukerman commented on #43808
+1 same here
**OS:** Ubuntu 16.04

**$ kubeadm version:**
[code]
**$ kubectl version:**
[code]
**$ kubelet --version:**
[code]

**$ apt policy kubernetes-cni:**
[code]

**$ journalctl -u kubelet:**
[code]

[2017-03-29 14:29] dixudx commented on #43768
@activeshadow You can try to append below content in `kubelet.service`.

[code]

[2017-03-29 14:30] kargakis commented on #43680
@bgrant0607 are kubectl preferences (https://github.com/kubernetes/kubernetes/issues/10693) meant to handle cases where users want different defaults for their flags?

[2017-03-29 14:33] stevenbower commented on #43808
+1 having the same problem... at kubecon.. wondering if its an issue with the network here... debugging..

[2017-03-29 14:37] rootfs opened #43809 "Enable exclusive-lock feature on rbd volume"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Kube

[2017-03-29 14:43] stefan-gruettner commented on #43808
+1 I'm facing the exact same issue.

Ubuntu 16.04.2 LTS

`kubeadm version
kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37", GitTreeState:"clean", BuildDate:"2017-03-28T16:24:30Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}`

[2017-03-29 14:47] kristiandrucker commented on #43808
Me too. The same as @stefan-gruettner

[2017-03-29 14:48] stevenbower commented on #43808
everyone on this ticket so far at kubecon?

[2017-03-29 14:48] arthur0 commented on #43808
+1 Same Issue. Same config above.

[2017-03-29 14:49] h0tbird opened #43811 "Liveness command probe does not honor timeoutSeconds"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT

**Kubernetes version**:

[code]

**Environment**:

GKE

**What happened**:

Liveness command probe does not honor `timeoutSeconds`.

**What you expected to happen**:

I expect the liveness command probe to enter failure state after `timeoutSeconds` seconds.

**How to reproduce it**:

*liveness.yaml*
[code]
[code]

**Anything else we need t

[2017-03-29 14:49] mawentao02 commented on #42559
I think whether  RBAC authorization Forbidden error is caused by I didn't use RBAC in my host cluster？
Do I need enable RBAC authorization mode in my cluster by adding --authorization-mode=RBAC in kube-apiserver?
How wo use config RBAC?

[2017-03-29 14:50] kristiandrucker commented on #43808
Going to try to install 1.5.4 kubeadm, kubelet, kubeapi and then do apt upgrade to get latest version. It might work.

[2017-03-29 14:54] stevenbower commented on #43808
#41892 might be related i'm seeing this in my controller logs

[code]

[2017-03-29 15:05] cromark commented on #43808
same issues
fyi @stevenbower .. not at i'm not at kubecon

[2017-03-29 15:05] activeshadow commented on #43768
@dixudx will that do anything if I already have `Requires=network-online.target` in the `[Install]` section?

[2017-03-29 15:07] Scukerman commented on #43808
It seems like it is kubeadm bug coz I found this: https://github.com/kubernetes/kubeadm/issues/212

[2017-03-29 15:12] civik commented on #43805
Same.  `kubeadm init` appears completely broken on CentOS with 1.6.  When I run a deploy it freezes at:

`[apiclient] Created API client, waiting for the control plane to become ready`

I also see the referenced cgroupfs error.

[2017-03-29 15:17] php-coder opened #43812 "SecurityContextDeny Admission Controller could be refactored"
I found that [`SecurityContextDeny`](https://github.com/kubernetes/kubernetes/blob/72207db4552db94929fb760cca6373c1bd57a0ac/plugin/pkg/admission/securitycontext/scdeny/admission.go) could be improved:
- stale comment on `Admit()` function can be fixed (should also mention SupplementalGroups and FSGroup fields)
- we can extract function for checking `PodSecurityContext`
- we can extract function fo

[2017-03-29 15:19] sbezverk commented on #43805
@civik it has been resolved, you need to add --cgroup-driver=system to kubelet start up parameters in /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
But this does not resolve kubeadm problem :(

[2017-03-29 15:30] php-coder commented on #24944
@daveey Do you still have this issue? Is it reproducible on the latest version?

[2017-03-29 15:43] civik commented on #43800
This is probably the same as #43805

[2017-03-29 15:58] jbeda opened #43815 "kubeadm 1.6 is broken due to unconfigured CNI making kubelet NotReady"
Initial report in https://github.com/kubernetes/kubeadm/issues/212.

I suspect that this was introduced in https://github.com/kubernetes/kubernetes/pull/43474.

What is going on (all on single master):
1. kubeadm starts configures a kubelet and uses static pods to configure a control plane
1. kubeadm creates node object and waits for kubelet to join and be ready
1. kubelet is never ready and so ku

[2017-03-29 15:58] jbeda commented on #43815
/cc @lukemarsden @luxas @mikedanese

[2017-03-29 16:01] jbeda commented on #43815
If we revert #43474 completely, we are in a situation again where we break 0.2.0 CNI plugins (see https://github.com/kubernetes/kubernetes/issues/43014)

Should we consider doing something like https://github.com/kubernetes/kubernetes/pull/43284?

Also /cc @thockin

[2017-03-29 16:05] jbeda commented on #43815
/cc @kubernetes/sig-network-bugs

[2017-03-29 16:08] silentred commented on #43800
I added --cgroup-driver=system to /etc/systemd/system/kubelet.service.d/10-kubeadm.conf, and systemctl daemon-reload && systemctl restart kubelet . Still not work.

[2017-03-29 16:10] civik commented on #43800
I guess I made the assumption that #43805 was the root cause of the kubeadm init failure, since they seemed correlated in the logs.  There is probably 2 separate issues at play here.

[2017-03-29 16:14] yujuhong commented on #43815
Ref: https://github.com/kubernetes/kubernetes/issues/43397#issuecomment-289978351

[2017-03-29 16:15] dcbw commented on #43815
@jbeda can I get some kubelet logs with --loglevel=5?

[2017-03-29 16:16] silentred commented on #43800
I don't see this error either `kubelet: error: failed to run Kubelet: failed to create kubelet: misconfiguration: kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd"`

[2017-03-29 16:19] kensimon commented on #43397
^^ looks like #43815 is the real bug here, I'll move my conversation there.

[2017-03-29 16:19] jbeda commented on #43815
@yujuhong -- you mention that you think that this is working as intended.  Regardless, kubeadm was depending on this behavior.  We introduced a breaking change with #43474.  We can talk about the right way to fix this for 1.7 but, for now, we need to get kubeadm working again.

[2017-03-29 16:23] civik commented on #43800
Based on #43815 it seems that in 1.6 kubeadm is fairly busted.  Its possible that #43808 is related but manifesting differently on Ubuntu.  At any rate, watch for a fix for #43815 to see if this is still an issue with EL based distros.

All this aside, its pretty brutal that they pulled 1.5.4 from the repo when they released 1.6.  Downgrading isn't even an option.

[2017-03-29 16:24] silentred commented on #43800
It seems it comes with v1.6.0 #43815

[2017-03-29 16:28] sbezverk commented on #43805
@civik kubeadm issue solved too. you MUST make sure you run a non alpha version of kubeadm. Here is what I haveand it started working properly:
kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37", GitTreeState:"clean", BuildDate:"2017-03-28T16:24:30Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}

[2017-03-29 16:28] kfox1111 commented on #43805
This looks like a bug in the kubelet package. It should default to the way docker is setup on the system.

[2017-03-29 16:34] jayunit100 commented on #43788
- agree w/ rgudi that it might be a minor improvement to the overall readability  .
- but its also low priority, so we should flag it as p5 or whatever
- probably a good help-wanted issue for new contributors or something.

[2017-03-29 16:34] jbeda commented on #43815
Slack discussion ongoing now -- https://kubernetes.slack.com/archives/C09QYUH5W/p1490803144368246

[2017-03-29 17:04] jbeda commented on #43815
It looks like DaemonSets will still get scheduled even if the node is not ready.  This is really, in this case, `kubeadm` being a little too paranoid.

The current plan that we are going to test out is to have `kubeadm` no longer wait for the master node to be ready but instead just have it be registered.  This should be good enough to let a CNI DaemonSet be scheduled to set up CNI.

@kensimon is

[2017-03-29 17:05] awebneck commented on #38633
@justinsb any progress on this? I also really would like to have this flexibility in place for integrating k8s into an existing VPC.

[2017-03-29 17:13] dcbw commented on #43815
@jbeda yeah, looks like the DaemonSet controller will still enqueue them mainly because it's completely ignorant of network-iness.  We should really fix this more generally.  Is there anything immediate to do in kube or is it all in kubeadm for now?

[2017-03-29 17:14] #42449 closed

[2017-03-29 17:27] kfox1111 commented on #36401
Ah, ok. Thanks.

[2017-03-29 17:36] luhkevin commented on #43805
I'm having this issue too. I added `--cgroup-driver=system` and I'm getting the same thing.
How do I download a new version of kubeadm?

[2017-03-29 17:37] zuqiang commented on #43808
same problem

[2017-03-29 17:40] jamstar commented on #43805
im gettign this issue not with kubeadmin, mine is built via vagrant the hard way.  i tried --cgroup-driver=system and --cgroup-driver=systemd

[2017-03-29 17:41] sbezverk commented on #43805
for me, since I am on centos, running "yum install kubeadm-1.6.0-0.x86_64" does the trick.

[2017-03-29 17:43] mikedanese commented on #23720
@ericchiang have you decided whether you are going to tackle this for 1.7?

[2017-03-29 17:45] ericchiang commented on #23720
@mikedanese yes I'm planning on working on this over 1.7.

[2017-03-29 17:50] luhkevin commented on #43815
I'm  trying to install kubernetes with kubeadm on Ubuntu 16.04. Is there a quick fix for this?

[2017-03-29 18:02] mlbiam commented on #23720
@ericchiang i'm a little confused by the word "sync".  would this be in real-time or something that would create objects inside of k8s similar to openshift's User an Group objects?  Also, i wouldn't assume "union", it should be configurable.  I've worked on several deployments over the years (not k8s related, generic idm) where groups from a central idp are completely worthless because the owner o

[2017-03-29 18:16] grodrigues3 commented on #43808
Looks related to #43815

[2017-03-29 18:18] stevenbower commented on #43815
@jbeda if you have a patched version happy to test it..

[2017-03-29 18:19] civik opened #43819 "Kubeadm 1.6.0 release RPM has malformed versioning information"
Bug

**Kubernetes version** (use `kubectl version`):
1.6.0

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal
- **OS** (e.g. from /etc/os-release): Centos 7.3
- **Kernel** (e.g. `uname -a`): 3.10.0-514.6.2.el7.x86_64
- **Install tools**: yum
- **Others**:

Using baseurl: http://yum.kubernetes.io/repos/kubernetes-el7-x86_64

**What happened**:

Installation of kubeadm is d

[2017-03-29 18:21] civik commented on #43805
I opened #43819

[2017-03-29 18:26] grodrigues3 commented on #43800
Closing this as a dupe of  #43815

[2017-03-29 18:26] #43800 closed

[2017-03-29 18:29] grodrigues3 commented on #43791
Closing and moving to docs repo

[2017-03-29 18:29] #43791 closed

[2017-03-29 18:29] civik commented on #43800
@grodrigues3 Now I'm not so sure - I think this may be more the fault of #43819

[2017-03-29 18:34] grodrigues3 commented on #43791
https://github.com/kubernetes/kubernetes.github.io/issues/3101

[2017-03-29 18:44] grodrigues3 commented on #43819
/assign

[2017-03-29 18:44] grodrigues3 commented on #43819
/unassign

[2017-03-29 18:48] kensimon commented on #43815
I have kubeadm getting past the node's `NotReady` status, but the dummy deployment it creates isn't working due to the `node.alpha.kubernetes.io/notReady` taint preventing it from running.  Adding tolerations doesn't seem to help, I'm not exactly sure how to proceed at this point.  Can anybody shed some light on how to deploy a pod that tolerates the `notReady` taint?

I'm exploring some other opt

[2017-03-29 18:50] bgrant0607 commented on #5889
cc @mbohlool

[2017-03-29 18:57] ymariappan commented on #22469
can anyone explain what is expected from the below network policy?

apiVersion: extensions/v1beta1
kind: NetworkPolicy
metadata:
 name: np
spec:
 podSelector:
  matchLabels:
    run: nginx-isolated-ns
 ingress:
  - from:
     - podSelector:
        matchLabels:
         app: ubuntuapp-isolated-ns
    ports:

as per https://github.com/kubernetes/community/blob/master/contributors/design-proposals/n

[2017-03-29 19:00] Cisneiros commented on #43805
I had the same problem when installing 1.6.0 on CentOS. Added `--cgroup-driver=systemd` (note the "d" at the end) and kubelet started, and I can now see the node using `kubectl get node`.

But the node never gets ready. When I describe the node, I get these events:

[code]

[2017-03-29 19:07] vishh opened #43821 "[Kubelet] Use objects from the external client consistently"
Kubelet codebase is still using the internal client library which is resulting is a mess when re-using kubelet libraries across modules. We should either use the external client library everywhere or (better) define an internal pod object for kubelet and all its internal modules, including volume plugins, and use the internal version consistently.
If we do not address this soon enough, the codebas

[2017-03-29 19:33] TapasBhattacharjee opened #43822 "Kubeadm hangs on Cent OS 7.3 and kubernetes v1.6.0 with error message Created API client, waiting for the control plane to become ready"
I am running on Cent OS 7.3 and kubernetes v1.6.0. I followed instructions given at https://kubernetes.io/docs/getting-started-guides/kubeadm/

After kubeadm init it hangs saying Created API client, waiting for the control plane to become ready. I am not using any proxy so there's no possibility it is stuck due to that. I have also disabled selinux. Is this a known issue with any of the Cent OS or

[2017-03-29 19:37] MikeSpreitzer commented on #22469
Note that
[code]
is different from
[code]
The first one says the value of `ports` is the empty list, while the second one says the value of `ports` is a list containing one object (which has zero fields).

BTW, I am not sure that
[code]
is even valid YAML, since it says there is a `ports` field but does not say what its value is.

BTW, there is a bug in all the doc (due to the fact that we do not

[2017-03-29 19:44] roberthbailey commented on #6099
This is the cluster lifecycle backlog, but since no one is actively working on it I'm going to un-assign.

[2017-03-29 19:55] ahmetb commented on #33292
I am going to just type a few keywords here because this issue doesn't come up when you search on Google. It is not documented anywhere (incl. tutorials) that kubefed doesn't create the default namespace.

- kubefed does not create default namespace
- kubernetes federation default namespace missing
- Error from server (NotFound): namespaces "default" not found

[2017-03-29 20:03] mzygmunt commented on #43822
Relating with #43815

[2017-03-29 20:30] ymariappan commented on #22469
I have two questions.
1. ports: [{}] should omit all the ports or according to the port rule, should select all the ports?
2. what is expected behavior for ports:[{'protocol': 'TCP'}]

Thanks,
Yuvaraja

[2017-03-29 20:34] kenkouot commented on #26309
@cmluciano We ended up not using DNS for this. We implemented our own nginx ingress controller, heavily based on the one provided [here](https://github.com/kubernetes/ingress). This creates an upstream per backend that specifies all the service backend IPs explicitly. We also upgraded to k8s 1.5.x. We haven't had the issue since.

Before we came upon this solution, we found that we could isolate a

[2017-03-29 20:51] jimmycuadra commented on #43822
It may not be #43815 (AKA https://github.com/kubernetes/kubeadm/issues/212), because the bug in those happens after the "waiting for control plane to become ready" phase. @TapasBhattacharjee, you may need to wait a while for this phase to complete, depending on the speed of your computer/network. kubeadm is waiting for all the containers to support the control plane to start, which includes downlo

[2017-03-29 20:56] BaluDontu commented on #42026
Over here you are using a kubernetes deployment with v1.5.2. We introduces the vm-uuid change in 1.5.3 version.

Can you upgrade it to 1.5.3 and check it again.

[2017-03-29 20:59] BaluDontu commented on #40084
@kerneltime : Can you forward the mail to me as well.

[2017-03-29 21:09] kensimon opened #43826 "kubeadm should allow custom manifests as part of initialization"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): feature request

(TL;DR: if kubeadm supported `--initialization-manfest=path/to/network-plugin.yaml`, we wouldn't need to skip waiting for nodes to be ready like in https://github.com/kubernetes/kubernetes/pull/43824)

#43815 is tracking an issue with kubeadm where it doesn't proceed with cluster initialization because the nodes don't have

[2017-03-29 21:12] TapasBhattacharjee commented on #43822
I highly doubt it as a network issue as the same worked after I downgraded kubelet version to 1.5 it completed within a few minutes. However I will double check after re-installing everything.

[2017-03-29 21:12] alexbrand opened #43827 "API server etcd preflight check swallows connection error"
Starting with v1.6.0, the API server has an etcd preflight check to make sure that it is able to connect to the etcd cluster.

Currently, if there is an issue connecting to etcd, the error is not being displayed to the user. Instead, a generic error message is being logged.

In order to improve usability and diagnosability, these connectivity errors should be logged so that the user can know exact

[2017-03-29 21:15] sbezverk commented on #43815
we worked around it by removing KUBELET_NETWORK_ARGS from kubelet command line. after that kubeadm init worked fine and we were able to install canal cni plugin.

[2017-03-29 21:16] overip commented on #43808
Same problem, same configuration. The only difference in my configuration is that I am running Ubuntu 16.04 Server on AWS. Could please someone of the kubernetes developer restore the old packages until you worked out the issue? This is a pretty big problem that does not allow to use k8s at all.

[2017-03-29 21:20] mikedanese commented on #43826
Please use https://github.com/kubernetes/kubeadm for kubeadm issues.

[2017-03-29 21:20] #43826 closed

[2017-03-29 21:21] csbell opened #43828 "[Federation] Daemonset with finalizer not always getting deleted"
From CI failure here: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/2458/build-log.txt

Upon deleting with orphan=true, the finalizer Update() fails and the next time around the federated object is never deleted. This is flaky.

Relevant bits:

[code]

[2017-03-29 21:21] mikedanese commented on #43822
Please use https://github.com/kubernetes/kubeadm for kubeadm issues.

Also this is a dup of #43815

[2017-03-29 21:21] #43822 closed

[2017-03-29 21:24] mikedanese commented on #43819
Fixed even though 1.6.0 is still broken.

[2017-03-29 21:24] mikedanese commented on #43808
Dup of https://github.com/kubernetes/kubernetes/issues/43815

[2017-03-29 21:24] #43808 closed

[2017-03-29 21:31] klausenbusk commented on #43632
Public hostname == ingress `Host`.
Yes, without going through the load balancer, some of the PHP also require "sticky" sessions and then it is just easier if the exposed domains just point to localhost.

That require extra logic in the app code and when the app code expose multiple sub-/domains, then it is just easier adding the domain to /etc/hosts.

[2017-03-29 21:37] overip commented on #43815
@sbezverk would you please describe how to do that?

[2017-03-29 21:41] coeki commented on #43815
Can confirm @sbezverk (good find :) ) findings, adjusting /etc/systemd/system/10-kubeadm.conf and removing KUBELET_NETWORK_ARGS will make it run on centos. Tested with weave.

[2017-03-29 21:42] sbezverk commented on #43815
@overip  you need to edit /etc/systemd/system/kubelet.service.d/10-kubeadm.conf

ExecStart=/usr/bin/kubelet $KUBELET_KUBECONFIG_ARGS $KUBELET_SYSTEM_PODS_ARGS $KUBELET_NETWORK_ARGS $KUBELET_DNS_ARGS $KUBELET_AUTHZ_ARGS $KUBELET_EXTRA_ARGS

remove $KUBELET_NETWORK_ARGS

and then restart kubelet after that kubeadm init should work.

[2017-03-29 21:44] jp557198 commented on #43815
this is what i did

kubeadm reset

# remove ENV entries from:

/etc/systemd/system/kubelet.service.d/10-kubeadm.conf

# reload systemd and kube services

systemctl daemon-reload
systemctl restart kubelet.service

# re-run init

kubeadm init

[2017-03-29 21:46] coeki commented on #43815
All correct, and while we're at it

If you see this:
      kubelet: error: failed to run Kubelet: failed to create kubelet: misconfiguration: kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd"

you have to edit your /etc/systemd/system/kubelet.service.d/10-kubeadm.conf and add the flag --cgroup-driver="systemd"

and do as above

kuebadm reset
systemctl daemon-reloa

[2017-03-29 21:52] kensimon commented on #43815
I'd be careful removing `--network-plugin=cni` from the kubelet CLI flags, this causes kubelet to use the no_op plugin by default... I would be surprised if common plugins like calico/weave would even work in this case (but then again my understanding of how these plugins operate underneath is a bit limited.)

[2017-03-29 21:53] #38684 closed

[2017-03-29 21:53] #39962 closed

[2017-03-29 21:54] sbezverk commented on #43815
@kensimon hm, have not seen any issues on my setup, I deployed canal cni plugin and it worked fine..

[2017-03-29 21:59] resouer commented on #43815
@sbezverk Is cross host networking also working well?

[2017-03-29 22:01] sbezverk commented on #43815
@resouer cannot confirm, I have 1.6.0 only as All-In-One.

[2017-03-29 22:22] waldman commented on #43785
I followed the example on: [pod-with-node-affinity.yaml](https://github.com/kubernetes/kubernetes.github.io/blob/release-1.5/docs/user-guide/node-selection/pod-with-node-affinity.yaml) and it worked as a charm.

As this is apparently an unsupported feature of my K8s version, I'm closing the Issue. :(

[2017-03-29 22:22] #43785 closed

[2017-03-29 22:24] timothysc commented on #43523
It means we guarantee nothing so the tests should not be trusted outside of a release.  I think minimizing false positives on upgrade tests is our primary goal.

[2017-03-29 22:28] davidopp commented on #41600
@roberthbailey

[2017-03-29 22:36] stevenbower commented on #43815
workaround works but can't get flannel going...

[2017-03-29 22:39] sbezverk commented on #43815
@stevenbower  worst case scenario, you can put back this setting and restart kubelet and you are done with kubeadm business..

[2017-03-29 22:40] webwurst commented on #43815
I got a three node cluster with `weave` working. Not sure how stable this might be with this hack, but thanks anyway! :smiley:

[2017-03-29 22:46] coeki commented on #43815
On a side node, you can put back the $KUBELET_NETWORK_ARGS, after the init on the master passes. I actually did not remove it on the machine I joined, only the cgroup-driver, otherwise kubelet and docker won't work together.

But you don't have to kubeadm reset, just change /etc/systemd/system/kubelet.service.d/10-kubeadm.conf and do the systemctl dance:

systemctl daemon-reload
systemctl restart

[2017-03-29 23:04] TapasBhattacharjee commented on #43822
Yes I reconfirmed several times and it is an issue with kubelet-1.6 which never comes up with the kubernetes-cni-0.5.1.  I am using following versions now to proceed:

1. kubelet 1.5.4
2. kubernetes-1.6.0
3. kubeadm-1.6.0
4. docker-1.12.6
5. kubernetes-cni-0.5.1

[2017-03-29 23:05] #43611 closed

[2017-03-29 23:11] timothysc commented on #43640
/cc @kensimon

[2017-03-29 23:39] arun-gupta opened #43834 "404 for docs link"
Following link give a 404:

https://kubernetes.io/docs/user-guide/scheduled-jobs/

It used to work earlier.

https://kubernetes.io/docs/concepts/jobs/ is a logical link that should work, particularly since https://kubernetes.io/docs/concepts/jobs/run-to-completion-finite-workloads/ is a working link.

[2017-03-29 23:41] ConnorDoyle commented on #43523
+1

[2017-03-30 00:22] kensimon commented on #43815
# To those of you who are disabling KUBELET_NETWORK_ARGS and reporting it works for you:

For me, I have 2 clusters up: one where I applied the patch from https://github.com/kubernetes/kubernetes/pull/43824 and let kubeadm proceed normally on initialization, and one with KUBELET_NETWORK_ARGS deleted.  On the cluster with KUBELET_NETWORK_ARGS removed, any traffic between pods fails.

On a cluster w

[2017-03-30 00:23] #43631 closed

[2017-03-30 00:45] calebamiles commented on #43763
Closing this issue as https://github.com/kubernetes/kubernetes/pull/43761 has merged.

[2017-03-30 00:45] #43763 closed

[2017-03-30 00:56] mikedanese commented on #43815
I suggest that we drop both the node ready and the dummy deployment check
altogether for 1.6 and move them to a validation phase for 1.7.

On Mar 29, 2017 10:13 AM, "Dan Williams" <notifications@github.com> wrote:

[2017-03-30 00:58] louyihua commented on #43534
I've encountered this issue about a month ago and now I can confirm that this issue is caused by compiling with Go 1.8, which forbids renaming a directory into an existing directory even if the destinition is empty. So the current logic that uses `TempDir()` call does not work properly under Go 1.8.

[2017-03-30 01:03] LaurentDumont commented on #43815
Anyone else running Ubuntu 16.04 - I've removed the `KUBELET_NETWORK_ARGS `from the `systemd` service and reloaded the `systemd` daemon. I can turnup a master node but cannot join a node. It fails with the error `The requested resource is unavailable`

[2017-03-30 01:16] k82cn commented on #43788
@jayunit100 , is there preferred test tools in k8s community? it seems more than one test tools here.

[2017-03-30 01:16] yujuhong commented on #43815
I wouldn't be surprised since KUBELET_NETWORK_ARGS tells kubelet what plugin to use, where to look for the configuration and binaries. You NEED them.

[2017-03-30 01:32] sdake commented on #43819
this wasn't fixed - instead the kubeadm1.6.0alpha that worked was deleted.  Can we get an older version of kubeadm in the kubernetes RPM repositories?  TIA!

[2017-03-30 01:39] supereagle commented on #43834
https://kubernetes.io/docs/concepts/jobs/ is just a folder which contains several children links, not really a logical link.

You can verify this by testing https://kubernetes.io/docs/tutorials/object-management-kubectl/object-management/

[2017-03-30 01:44] supereagle commented on #43834
Maybe this issue should be created in [kubernetes.github.io](https://github.com/kubernetes/kubernetes.github.io)

[2017-03-30 02:07] mikedanese commented on #38228
I'm worried that since we broke TLS unit tests, we are going to break clusters on upgrade to 1.7. Is my fear unfounded? Anyone want to do some analysis?

[2017-03-30 02:35] dixudx commented on #43768
@activeshadow  `Requires=network-online.target` means when `kubelet` gets activated, `network-online.target` will be activated as well. So this will not guarantee that when network is online, `kubelet` will be notified to start up.

However, `WantedBy=network-online.target` will try to start `kubelet` when network is reachable. Here `WantedBy` is preferred, instead of `RequiredBy`.

[2017-03-30 02:40] mikedanese commented on #43815
I recommend #43835 (and the 1.6 cherry pick #43837) as the fix we make for 1.6. I tested both and they work. I've assigned @jbeda and @luxas to review when they wake up.

[2017-03-30 02:44] arun-gupta opened #43838 "Starting cluster on AWS using curl"
`export KUBERNETES_PROVIDER=aws; curl -sS https://get.k8s.io | bash` does not start a cluster on AWS with the latest release. This is mentioned at https://kubernetes.io/docs/getting-started-guides/aws/.

It just shows the output as:

[code]

Starting the cluster manually using `cluster/kube-up.sh` shows:

[code]

This message should've been displayed at the very first place itself.

[2017-03-30 02:46] NickrenREN opened #43839 "Refactor VolumePlugin.NewUnmounter"
Now we construct unmounter using volumeName as a arg .This will make some troubles to get volume spec info when needed.
For example, Cinder:
when we run TearDown() function ,we need to probe MountRefs to find volumeID,that could be avoided.
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/cinder/cinder.go#L420

Could we add uniqueVolumeName,so that we can easily get volume info.

@j

[2017-03-30 03:10] yujuhong commented on #41055
I think having an internal pod object might be good in the long run, but perhaps not for the reasons stated in the post.

To give some background, most components in kubelet looks at the desired spec (i.e., the v1.Pod object) and the current state, and try to reconcile both.

The desired spec, the v1.Pod objects, are passed around everywhere but they should be read-only, so the concurrency is not

[2017-03-30 03:13] jbeda commented on #43815
Both of those PRs look reasonable.  ButI think we should look at going with https://github.com/kubernetes/kubernetes/pull/43824 instead.  While it is a bit more complicated, it does preserve that code path so that users that preconfigure CNI outside of using a Daemonset (I do this in https://github.com/jbeda/kubeadm-gce-tf though I haven't updated it to 1.6) still wait for nodes to be ready.

As a

[2017-03-30 03:15] richm commented on #42718
@timothysc That work work too.  How would that get written to the logs?  as additional json parameters in the log e.g.

    {"pod_uuid": "f8b0761c-4b5b-4c44-b347-b2a8c0d4f65f",
     "namespace_uuid": "62d35183-f695-4d3e-9881-567a438249a5",
     "pod_labels": ["label1", "label2"],
     "pod_annotations": ["annotation1", "annotation2"],
     "time": ...,
     "message": ....,
     "stream": "stdout"

[2017-03-30 03:16] kwent commented on #42164
Same here.... k8s v1.5.2

[2017-03-30 03:17] activeshadow commented on #43768
@dixudx ah hah... got it. Good to know! I will try it out ASAP.

So do I *only* need `WantedBy=network-online.target` or do I still need `After=network-online.target` as well?

[2017-03-30 03:18] nikhiljindal commented on #39555
I brought up federation by running `NUM_NODES=1 FEDERATION=true E2E_ZONES=\"us-central1-a us-central1-f\" KUBE_UP_AUTOMATIC_CLEANUP=true go run hack/e2e.go --up --federation --deployment=none` and still saw the same problem on HEAD.

That command should ideally be using `kubefed init` so there should not be any difference, but looks like there is.

[2017-03-30 03:21] dixudx commented on #43768
Only `WantedBy=network-online.target` will work.

[2017-03-30 03:23] mikedanese commented on #43815
Sorry I missed https://github.com/kubernetes/kubernetes/pull/43824. I'm also happy with either if they both work.

[2017-03-30 03:26] richm commented on #42188
@crassirostris

No.  We need namespace_uuid, pod labels, pod annotations

Yes, that plus potentially avoiding file I/O if the journal is in memory (although with file system caching, that's probably a non-issue).  So that isn't a compelling factor to favor journald over file logs.

Yes, that's one of the limitations of the journald support - we don't have a way to throttle reading logs per pod/nam

[2017-03-30 03:28] activeshadow commented on #43768
Sorry @dixudx, what I meant to ask was do I still need `Requires` and `After` in the `[Unit]` section? I know this is more of a systemd question and less of a Kubernetes question...

[2017-03-30 03:36] dixudx commented on #43768
Actually in this scenario, only `WantedBy=network-online.target` is needed.

[2017-03-30 03:38] activeshadow commented on #43768
Great, I'll try it out and report back here ASAP. Thanks again @dixudx!

[2017-03-30 03:42] #42570 closed

[2017-03-30 03:45] civik commented on #43819
@sdake Agreed.  In general keeping n-1 released version packages in the repo would be appreciated, for situations just like this.

[2017-03-30 05:21] thockin commented on #42718
We certainly don't want to log all that with every message.  Given that
UUID is UU, can't that be squirrelled away in a lookup table somewhere else
out of the fast path?

Alternatively, something like a per-file header or special meta-record
every few MB or something....

On Wed, Mar 29, 2017 at 8:15 PM, Richard Megginson <notifications@github.com

[2017-03-30 05:36] thockin commented on #43632
Do you know all the hostnames at pod startup time, or can they possibly be added later?  I guess I am not against this idea in principle, I just have a nagging suspicion it will blow in all the corner cases.

I guess we could look at a community implementation, if someone did one.  I don't think that we have time on our side right now to drive it.

@bowei @dchen1107

[2017-03-30 06:03] WIZARD-CXY commented on #43815
I'm also happy with either if they both work too

[2017-03-30 06:13] klausenbusk commented on #43632
I currently have a `docker-entrypoint.sh` script like this: https://gist.github.com/klausenbusk/7426c125bea4bd378f9d39c3421ecce9 ,  which "extract" the hostnames from the nginx config at container startup, it also configure `nginx` to forward some request internally (we don't expose all domains externally).

[2017-03-30 06:28] bowei commented on #43632
@klausenbusk -- I'm not sure about your particular use case as the host name extraction logic seems to be quite complex (parsing of the nginx config).

The two things I do see that are useful:

* Ability for a ConfigMap to be written out as a single file into the container instead of injecting it as a directory of files. This would solve a lot of problems where a piece of the container configurati

[2017-03-30 06:40] HardySimpson opened #43843 "Speed up pod watch by not create map"
**Help reduce the watch CPU cost**:

Most CPU cost in apiserver's watch is on this [code](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/pod/strategy.go#L190) with pprof test result

[code]

As `make(fields.Set, 5)` is actually make a map, which is quite slow because there is memory allocation in it. And every time when pod had status change, it will go through this code an

[2017-03-30 06:43] HardySimpson commented on #43843
@kubernetes/sig-scalability-pr-reviews

[2017-03-30 06:57] zhouhaibing089 commented on #43142
certificate CN and SAN must be fully qualified name.

[2017-03-30 06:57] #43142 closed

[2017-03-30 07:00] krmayankk opened #133559 "Add examples of how a simple list and watch is built using client-go"
- basically how to use resourceVersion correctly. Sorry if this is documented somewhere else ?
- From my understanding, we should always do a list and get the resourceVersion from the list
- then use a watch with the above resourceVersion
- if the watch fails, can we restart the watch with same resourceVersion
- if the watch succeeds , how do i get the updated resourceVersion to do the watch again

[2017-03-30 07:15] bhtak commented on #43805
Another work around I found.

While kubeadm keeps printing '[apiclient] First node has registered, but is not ready yet', I deployed 'kube-flannel.yml' which installs flanneld. And it worked.

1. kubeadm init
2. copy /etc/kubernetes/admin.conf to ~/.kube/config
3. kubectl create -f kube-flannel.yml as follows.

kube-flannel.yml
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: kube-flannel-cfg

[2017-03-30 07:22] davidopp opened #43845 "HardPodAffinitySymmetricWeight should be in scheduler policy config, not in KubeSchedulerConfiguration"
(@bgrant0607 noticed this)

HardPodAffinitySymmetricWeight should be in the [scheduler policy config](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/api/v1/types.go), not in KubeSchedulerConfiguration

If/when fixing this, we need to be careful to do it in a backward-compatilble way.

@bsalamat @kubernetes/sig-scheduling-bugs

[2017-03-30 07:36] samlinux commented on #43808
Same problem, same configuration on a DigitalOcean droplet!

[2017-03-30 08:19] xiangpengzhao opened #43846 "Hundreds of pods with status "MatchNodeSelector""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernete

[2017-03-30 08:19] nir-stratoscale commented on #41040
+1

[2017-03-30 08:28] xiangpengzhao commented on #43846
We might just ignore `podMatchesNodeLabels` in `PodSelectorMatches` if nodeName specified like [this](https://github.com/xiangpengzhao/kubernetes/commit/0b5ef7551acb76ec435a3c025140a1d060d4a155).

or, we should validate node conflict before RC creating a pod.

I tested both ways at v1.5.1 and they work well. I prefer the latter and will create a PR. Discussion is welcome.

[2017-03-30 08:32] #43839 closed

[2017-03-30 08:34] errordaiwa commented on #43356
@thinkhard-j-park @igormrbean which tag of kube-dns/healthz image do you use?

[2017-03-30 08:45] scottxusayhi opened #43849 "kube-apiserver 1.6 can not write to etcd v2.3.1 (which is auto-downloaded during kube-up)"
kube-apiserver failed to start due to error write data to etcd v2.3.1 (connection reset)

Manually replace the etcd binary with v3.1.5 one solves the problem.

Note that the etcd 2.3.1 is auto selected and downloaded when I do KUBERNETES_PROVIDER=ubuntu ./kube-up.sh

**Kubernetes version** (use `kubectl version`):
1.6.0

**Environment**:
- **Cloud provider or hardware configuration**: Bare Metal
-

[2017-03-30 08:54] sdake commented on #43819
For others suffering from the fact that kubeadm 1.6.0 is broken out of the box, I built the "n-1" packages (atleast for CentOS) and use them in this review:

https://review.openstack.org/#/c/451556/

If your wondering how the images were built or how they are installed, that is covered in this review.

Upstream in kolla-kubernetes we have a parallel effort to get kubeadm 1.6.0 + kubernetes 1.6.0 g

[2017-03-30 09:06] Anson2048 commented on #43808
Same problem

[2017-03-30 09:10] webwurst commented on #43815
It works for me, when I only disable `KUBELET_NETWORK_ARGS` during `kubadm
init`. Thanks to you instructions I could verify that.

[2017-03-30 09:12] kristiandrucker commented on #43808
@samlinux @Anson2048 check out this issue. https://github.com/kubernetes/kubernetes/issues/43815

[2017-03-30 09:17] k82cn commented on #43845
Do you mean `PredicatePolicy`? It seems scheduler policy config's args can not passed to FitPredicates; it need to update related interface.

For the `backward-compatilble`: mark `HardPodAffinitySymmetricWeight` to be deprecated and set scheduler policy config to HardPodAffinitySymmetricWeight if policy config is empty.

[2017-03-30 09:27] a-wakeel commented on #41692
Sorry for late answer !
I followed this official guide for centos
https://kubernetes.io/docs/getting-started-guides/kubeadm/

[2017-03-30 09:33] #42439 closed

[2017-03-30 09:34] k82cn commented on #43806
Any logs from controller-manager? I'd like to know what's happened when namespace deleted.

[2017-03-30 09:40] mikebryant commented on #43806
I'm afraid not - we have very limited log storage, and the namespace deletion happened something like a week prior.

[2017-03-30 09:49] coeki commented on #43815
Confirmed @webwurst for it working when you only disable `KUBELET_NETWORK_ARGS` during `kubadm
init`. I had to restart kube-dns though for it to pick it up. The check from @kensimon works, dns resolves.

Although I agree that this a terrible hack, and too horrible for most people to follow, looking at the slack channels.

A better solution is presented by the patches from @kensimon or @mikedanese.

[2017-03-30 09:52] xiangpengzhao opened #43851 "Hundreds of pause containers running in the same pod"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernete

[2017-03-30 10:54] xlgao-zju commented on #23920
+1 for this issue.

[2017-03-30 11:03] zhouhaibing089 commented on #43783
cc @yujuhong

[2017-03-30 11:54] samlinux commented on #43808
thanks I'm not sure what to do now? Could you lead me to the right solution?

[2017-03-30 12:08] ngortheone opened #43854 "[Question] PowerPC 64 build"
Hi, I tried to compile kubernetes on PowerPC 64

[code]
Here is my kernel info
[code]

I tried to find information about ppc, but only found about little endian (ppc64le) one.

**My QUESTIONS are:**
* Is ppc64 big endian architecture supported? (If not - why? and will it be supported in future?)
* Is there any way to run kubernetes on ppc64

[2017-03-30 12:25] zetaab opened #43856 "Failed to start ContainerManager failed to initialise top level QOS containers"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37", GitTreeState:"clean", BuildDate:"2017-03-28T16:36:33Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1",

[2017-03-30 12:27] shiywang commented on #42569
#dibs on this issue

[2017-03-30 12:35] jsravn commented on #43300
@jingxu97 do you have any ideas on the best way to fix this? It looks like similar code to wait for sync has changed a bit in master. I could try adding a simple loop to wait for `hasSynced` in 1.4 to confirm this is our problem.

[2017-03-30 12:59] danwinship commented on #22469
"ports: [{}]" is

    Ports: &[]NetworkPolicyPort{
            { Protocol: nil, Port: nil },
    }

The docs for Protocol say: "If not specified, this field defaults to TCP", so "ports: [{}]" is equivalent to "ports:[{'protocol': 'TCP'}]"

The docs for Port say "If this field is not provided, this matches all port names and numbers.". So "ports:[{'protocol': 'TCP'}]" means "match all TCP ports".

[2017-03-30 13:00] dsever commented on #43805
Same here with Red Hat Enterprise Linux Server release 7.3 (Maipo)

Mar 30 14:58:17 master01a kubelet: error: failed to run Kubelet: failed to create kubelet: misconfiguration: kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd"

[2017-03-30 13:15] jeroenjacobs1205 opened #43857 "kubeadm centos documentation is incorrect"
I'm following the steps listed in the documentation at https://kubernetes.io/docs/getting-started-guides/kubeadm/ for deployment on CentOS7 (single node installation).

kubeadm init gets stuck here at step 2 of 4:

[code]
In /var/log/messages, I see the following:

[code]

However, according to the documentation, the network setup is only done in step 3 of 4.

[2017-03-30 13:20] timothysc commented on #43607
@davidopp I'm ok with that, but we should PSA broadcast in the SIGs about topics like this to ensure interested parties are "in the loop".

[2017-03-30 13:20] timothysc commented on #43607
/cc @kensimon

[2017-03-30 13:42] csarora commented on #43819
@sdake Could you provide info how did you install older version of kubeadm , because i am trying to list/install older kubeadm its not allowing or where to get RPM for older kubeadm?

[2017-03-30 13:48] sdake commented on #43819
@csarora I had to build it myself using these commands:
git clone https://github.com/kubernetes/release/tree/master/rpm
git checkout efd57b86a69051b70cf08a73df0e1d672bc61272
docker-build.sh

For future time travelers, I'm not sure I built the RPMs correctly as a result of the issue raised here: https://github.com/kubernetes/release/issues/305   Instead reference this review for latest instructions

[2017-03-30 14:04] andrewsykim commented on #39812
There was a fix that went out for this in 1.5.6, I upgraded my worker nodes to run 1.5.6 and I still see this bug.

[2017-03-30 14:06] wanghaoran1988 commented on #43324
@enisoc Would you like point me how to add this skew test? I found we have [DeleteDepoyment](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/deployment.go#L66) e2e test, just add this to the jenkins job? but how to? thanks.

[2017-03-30 14:06] patte commented on #43815
@coeki how exactly did you restart kube-dns. I tried ```kubectl delete pod kube-dns-3913472980-l771x --namespace=kube-system``` and now kube-dns stays on pending ```kube-system   kube-dns-3913472980-7jrwm              0/3       Pending   0          4m```
It did exactly as described: remove `KUBELET_NETWORK_ARGS`, `sudo systemctl daemon-reload && sudo systemctl restart kubelet.service`, `kubeadm in

[2017-03-30 14:06] wanghaoran1988 commented on #43323
@kargakis I can take this

[2017-03-30 14:12] ekozan commented on #23920
It's working now ^^ it's still open beacause an temporary solution has been made

[2017-03-30 14:14] brandoncole commented on #37266
We're also seeing this issue for namespaces - while cosmetic and easily worked around - curious about feedback on whether this is perceived as correct or incorrect.  I assume it's incorrect :)

[2017-03-30 14:16] brandoncole commented on #37266
Maybe @chrislovecnm or @kris-nova or @justinsb might know who to tag to raise awareness of this?

[2017-03-30 14:27] Scukerman commented on #43849
My kube-apiserver (clustered up via kubeadm 1.6 using kubernetes 1.6) also can't write anything into etcd (3.0.17, default manifest for kubeadm).

I do `etcdctl ls /` and see nothing.

[2017-03-30 14:28] chrislovecnm commented on #37266
I will ping the API server folks. Big question is how to recreate this ;)

[2017-03-30 14:35] kargakis commented on #43323
@wanghaoran1988 @enisoc self-assigned this so you may want to sync with him before starting any work.

[2017-03-30 14:48] hobti01 commented on #12732
Thanks for that information.

Do you mean that the "server" pod crash loops, automatically adding `new-ca.crt` via a Secret?

From a UX perspective:
1. Deploy a server with annotations to get a cert "automatically"
2. Deploy a client with annotations to get a cert "automatically"
  - Get the name of the Secret containing the new-ca?
3. Modify the server Pod to mount the new-ca Secret
  - Manually,

[2017-03-30 14:49] liggitt commented on #9902
[automountServiceAccountToken](https://github.com/kubernetes/kubernetes/pull/37953) option was added to service account and to pod spec

[PodPresets](https://kubernetes.io/docs/user-guide/pod-preset/) allow automounting additional secrets/configmaps

[2017-03-30 14:49] #9902 closed

[2017-03-30 14:53] JasonCrash opened #43860 "Could not find endpoints for service "kubelet" in namespace "kube-system". DNS records will be created once endpoints show up"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
kubelet,  Could not find endpoints

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
No duplicates found.
---

**Is this a BUG REPORT or F

[2017-03-30 14:53] liggitt commented on #19525
serving from cache is now required to opt-in with resourceVersion=0
closing due to age, please reopen if this is an issue

[2017-03-30 14:53] #19525 closed

[2017-03-30 14:54] liggitt commented on #24198
explicit nulls are propagated in apply in https://github.com/kubernetes/kubernetes/pull/40630

can you verify this is working as expected in 1.6?

[2017-03-30 14:57] xiangpengzhao commented on #43851
ref #29148 #30137 #30147 https://github.com/kubernetes/kubernetes/issues/25281#issuecomment-217591358

[2017-03-30 14:58] timothysc commented on #43197
Well hind-sight is 20-20 on that.  I think we blazed a new trail and exposed some weird testing scenarios I was not aware of.

[2017-03-30 15:03] coeki commented on #43815
@patte So I just ` delete pods kube-dns-3913472980-3ljfx -n kube-system` And then kube-dns comes up again.

Did you after kubeadm init,  add `KUBELET_NETWORK_ARGS`, again `sudo systemctl daemon-reload && sudo systemctl restart kubelet.service` install a pod network, like weave or calico? Add that first, you should be able to get it to work.

I tried and tested on centos7 and just did it on ubuntu/

[2017-03-30 15:12] sbezverk commented on #43815
I am really surprised that kubernetes development community has not provided any ETA for an official fix. I mean this is a horrible bug which should be easily get caught during the code testing.  Since it has not, at the very least, 1.6.1 should be pushed asap with the fix so people would stop hacking their clusters and start doing productive things ;). Am I wrong here?

[2017-03-30 15:13] ncdc commented on #42889
cc @sjenning who's been looking into this

[2017-03-30 15:16] thockin commented on #43815
Hey all,

I was a little distracted this week, and this is a long thread full of
kubeadm stuff I don't know that well.  Can someone summarize for me?  I
think I get the gist of the bug, but what are the proposed solutions and
what makes them horrible?

On Thu, Mar 30, 2017 at 8:13 AM, Serguei Bezverkhi <notifications@github.com

[2017-03-30 15:18] xlgao-zju commented on #23920
@ekozan how did you fix this issue?

[2017-03-30 15:19] ravisantoshgudimetla commented on #33431
@jayunit100 I was reproduce the issue. On further analysis it seems, the code is pointing to https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/scheduler.go#L81, this happens to be shared lister from client. So, I guess it makes sense that listing is not happening here. I am working on remove now.

[2017-03-30 15:28] mikedanese commented on #43815
A change in kubelet (#43474) caused kubelet to start correctly reporting network not ready before the cni plugin was initialized. This broke some ordering that we were depending on and caused a deadlock in kubeadm master initialization. We didn't catch it because kubeadm e2e tests had been broken for a few days leading up to this change.

Current proposed fixes are #43824 and #43835.

[2017-03-30 15:30] thelastworm commented on #43857
Same issue in ubuntu 16.04

[2017-03-30 15:32] youngdev commented on #43856
Seeing the same issue on Red Hat Enterprise Linux Server 7.3
Kernel: 3.10.0-514.10.2.el7.x86_64    (Same as OP, so I'm suspecting the kernel might have something to do with it)

A reboot of the machine however seem to fix it.

[2017-03-30 15:34] jeffyecn commented on #33483
+1, only use case is internal.

[2017-03-30 15:36] thockin commented on #43815
ok, That was what I understood.  The interlock between network plugin
coming up and node readiness is a little awful right now.

On Thu, Mar 30, 2017 at 8:28 AM, Mike Danese <notifications@github.com>
wrote:

[2017-03-30 15:46] mikedanese commented on #43815
I still prefer #43835. It's a simpler change, I don't think the e2e checks should be done where they are, and there are reports of #43824 not working still. Let's get this resolved today.

[2017-03-30 15:48] sbezverk commented on #43815
+1 to resolve it today as lots of efforts are wasted on dealing with collateral from the workaround.

[2017-03-30 16:02] timothysc commented on #3595
No, but I think I'd like to enqueue this for @k8s-mirror-cluster-lifecycle-feature-re  b/c it will directly affect them.

[2017-03-30 16:11] Dieken commented on #43819
"Broken out of the box"，haha!

I upgraded from v1.5.4 to v1.6.0，bitten by the CNI issue in kubeadm，then I rollback to 1.5.6 because this is the only 1.5.x left in the apt repo，then...kubelet 1.5.6 can't start due to wrong default rbac config....

Oh, indeed broken out if the box!

[2017-03-30 16:23] Dieken commented on #43815
I can't believe nobody really tried kubeadm 1.6.0 before 1.6.0 was released....

And, kubelet 1.5.6 + kubeadm 1.5.6 are also broken, /etc/systemd/system/kubelet.service.d/10-kubeadm.conf references /etc/kubernetes/pki/ca.crt but kubeadm doesn't generate ca.crt, there is ca.pem although.

Currently 1.6.0 and 1.5.6 are the only left releases in k8s apt repository...

[2017-03-30 16:24] Dieken commented on #43815
"broken out of the box", words learned today.

[2017-03-30 16:27] yujuhong commented on #43851
@xiangpengzhao the race condition should be fine because the kubelet will make sure it gets the latest state before syncing again. Unless your `SetUpPod` returns prematurely without setting up everything properly. This would cause kubelet to think that the infra container is defective and proceed to create another one.

[2017-03-30 16:35] yujuhong commented on #43815
Agree with Mike on this one. #43835 is the simpler change, and validation (if needed) can be done in a separate phase.

[2017-03-30 16:37] jsravn commented on #43300
Added in https://github.com/jsravn/kubernetes/commit/5d3c1da39c2540ff35169e3e61ff69b2c85d98c3 - going to deploy this version of kube-controller-manager and verify if it fixes the restart issue.

[2017-03-30 16:43] samlinux commented on #43808
If I try to install the pod network with

kubectl apply -f http://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/kubeadm/calico.yaml

the result is:
The connection to the server localhost:8080 was refused - did you specify the right host or port?

Any hints are appreciated

[2017-03-30 16:47] jsravn commented on #43300
I can verify the node informer wasn't synced in time - I get the message "Waiting for node store to sync before processing nodes" on startup. So this is the bug I believe, and will cause volume information to be out of sync on kube-controller-manager startup/restarts.

[2017-03-30 16:48] kargakis opened #43864 "Deployment RecreateDeployment should delete old pods and create new ones"
Flaked three times today in gci-gce, likely caused by https://github.com/kubernetes/kubernetes/pull/43508

https://k8s-testgrid.appspot.com/sq-blocking#gci-gce&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Deployment%5C%20RecreateDeployment%5C%20should%5C%20delete%5C%20old%5C%20pods%5C%20and%5C%20create%5C%20new%5C%20ones

[2017-03-30 16:52] timothysc commented on #38228
re-poke 1.7 is open.

Do we have a canonical list of issues here somewhere?

[2017-03-30 16:58] timothysc commented on #43806
This should cleanup all the pods... So now I have more questions

- Is this a timing artifact?  How long did you wait before you deleted the node?
- Is the pod stuck in "Terminating"?
- Did you try re-starting the scheduler?

[2017-03-30 17:02] dcbw commented on #43815
@thockin we really need finer-grained conditions and status for networking, especially with hostNetwork:true.  Nodes can be ready for some pods, but not others.

We can't use nodeNetworkUnavailable, becuase that's specific to cloud providers.  We probably need another one, or a way for the scheduler to allow hostNetwork:true pods on nodes with NetworkReady:false, or making the taints work for unre

[2017-03-30 17:04] thockin commented on #43815
Agree.  I have been delaying the problem because I had no great answers,
but we need to get this in 1.7

On Thu, Mar 30, 2017 at 10:02 AM, Dan Williams <notifications@github.com>
wrote:

[2017-03-30 17:06] spxtr commented on #43064
/area test-infra

[2017-03-30 17:10] mkumatag commented on #38228
@abdasgupta @Pensu worked on it and know what all hurdles we can get part of 1.8 test. Meanwhile can we get a closure on https://github.com/kubernetes/kubernetes/pull/41427 which is main blocker as of now!