[2016-05-03 16:50] janosi commented on #5095
Docker 1.12 seems to receive support for per-container sysctls.
https://github.com/docker/docker/pull/19265
Could it be the way for Kubernetes, i.e.managing sysctls in containers through the Docker API?

[2016-05-03 16:51] smarterclayton commented on #24971
I believe this is a bug in rate limited queue, so we definitely need to fix it (esp. since it's happening in the real world)

[2016-05-03 16:55] rca commented on #25060
@thenayr: thanks!

After updating awscli deployment ran smoothly; below is the aws version installed:

[code]

[2016-05-03 16:55] #25060 closed

[2016-05-03 17:04] mml opened #25086 "Jenkins tasks can fail due to FS permissions problem"
- http://ci-test.k8s.io/kubernetes-build/9650/
 - http://ci-test.k8s.io/kubernetes-build/9651/

@krousey will be adding some data from an ssh session.  I also note that once this build failed, it was not automatically retried.  Why was that?

[2016-05-03 17:05] bgrant0607 commented on #13288
The test in test/e2e/kubectl.go has been failing several times a day for the past couple weeks. I'd like to block Docker Hub entirely during tests to ensure new dependencies are not introduced.

Maybe we could add an admission controller that rejects pods that don't explicitly specify a registry?

[2016-05-03 17:06] yujuhong commented on #24698
I see. Thanks for the clarification!

[2016-05-03 17:13] krousey commented on #25086
I can't ssh to jenkins-builder-4 to diagnose/fix. I can ssh to the master just fine. Still working on it.

[2016-05-03 17:21] liggitt commented on #22695
It should be as simple as telling k8s to trust the keystone cert as a CA (assuming the self-signed cert generated by keystone is correctly marked as a CA, which it should be, since it is signing for itself).

I've seen too many production installations running with http or untrusted TLS settings to believe that only developers will use this option if it's made available.

[2016-05-03 17:23] spxtr commented on #25086
[code]
[code]
This has happened to me before on my local machine, since those files in _output are made in a docker container and owned by root. I don't know why it's happening all of a sudden. I sudo rm'd the _output folders and kicked off a new build.

@ixdy should probably take things from here.

[2016-05-03 17:25] spxtr commented on #25086
#25052

[2016-05-03 17:31] janetkuo commented on #25083
Updating test conventions docs in #25089

[2016-05-03 17:35] ncdc commented on #23917
@smarterclayton the scheduler priority function compares container.Image to the names of the images in the node's status. I'm hesitant to put any logic to parse `@sha256:...` since that's Docker specific. WDYT?

[2016-05-03 17:37] mikedanese opened #25092 "default htb qdisc configured on cbr0 sometimes drops all packets"
I'm not sure where the defaults come from but they sometimes drop all packets causing container IPs to become unreachable. ARP fails.
[code]
I'm not sure if this is related but I also noticed on this machine that the default pfifo qdisc drops all packets. pfifo is the default qdisc for an htb node so it's used in the unconfigured htb qdisc:
[code]
This is because the default value for queue size i

[2016-05-03 17:38] xhe opened #25093 "Can not access service externally for nodePort type, help please."
I am very interested in testing NodePort to see how the embedded is working, but then I am totally lost.
I am following this: http://kubernetes.io/docs/user-guide/connecting-applications/

Step 1:

`apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: my-nginx
spec:
  replicas: 2
  template:
    metadata:
      labels:
        run: my-nginx
    spec:
      containers:
      - name: my

[2016-05-03 17:40] erictune commented on #24971
@smarterclayton you wrote pkg/controller/node/rate_limited_queue.go.  Would you be a good person to pick an owner for this bug?

Giving P1 since we think happens in real world and I don't understand severity.

[2016-05-03 17:52] ihmccreery commented on #17397
I'm unassigning myself because this is out-of-scope for what I'll be working on this quarter.

[2016-05-03 17:53] ixdy commented on #25086
Yeah, it's dumb. Jenkins uses the build image from the previous run to clean up the artifacts from the previous run; since the files are written out by Docker, they're owned by root, so it can't delete them directly. And I changed the name of the build image, so it couldn't find the old one anymore.

It's fragile and breaks not infrequently. We should just use `sudo rm -rf` to clean up the workspa

[2016-05-03 17:55] ixdy commented on #25086
Apologies for breaking the build, however. I should have known this would happen.

[2016-05-03 17:55] bgrant0607 commented on #25083
This test has been failing several times a day since 4/21.

[2016-05-03 17:57] bgrant0607 commented on #24758
I think we want rates over past day, 3 days, week, month.

A super-dense graph showing the individual successes and failures, with links to test artifacts, similar to our internal test dashboard, would be super-useful, also.

[2016-05-03 17:58] bgrant0607 commented on #24759
See also #24758

[2016-05-03 17:59] bgrant0607 commented on #24762
See also https://github.com/kubernetes/contrib/issues/869

[2016-05-03 18:00] smarterclayton commented on #23917
I think the node should be abstracting that

On May 3, 2016, at 1:39 PM, Andy Goldstein <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> the scheduler priority
function compares container.Image to the names of the images in the node's
status. I'm hesitant to put any logic to parse @sha256:... since that's
Docker specific. WDYT?

—
You are receiving this becaus

[2016-05-03 18:01] smarterclayton commented on #24971
@gmarek and I are probably the two who have touched it, I think
@mikedanese as well but may be misremembering.  It should be a
straightforward fix to make now monotonic, I don't know when I can get
to it

[2016-05-03 18:02] ncdc commented on #23917
Are you suggesting that the `ContainerImage` that is in the node status have both `Names` and `Digests`?

[2016-05-03 18:02] erictune commented on #24928
I think this is what happens:

token controller (pkg/controller/serviceaccount/tokens_controller.go) lists all the secrets referenced by a service account, and then follows those references to secrets, and checks each secret to see if it is a "service account token.  A secret `IsServiceAccountToken` if:

- type: kubernetes.io/service-account-token
- AND it has annotation `kubernetes.io/service-acc

[2016-05-03 18:06] bgrant0607 commented on #23146
@spiffxp I created a new repo for this: https://github.com/kubernetes/community

@mml There is resistance to creating team labels that nobody monitors on a regular basis.

[2016-05-03 18:12] erictune commented on #24925
`%` is not valid for specifying cpu in a yaml/json.  So, its meaning is not precisely defined.  I think you started using `%` in this issue.

`0.1` is the same amount of cpu on a single core, dual core, or 48 core machine.

Definition:

*For a single-threaded program, a cpu usage of `0.1` means that if you could freeze the machine at the machine at a random moment in time, and look at what each co

[2016-05-03 18:13] liggitt commented on #24928
What version of kubernetes was this cluster running? Prior to 1.2.0, there were conditions around startup or cache-relists where the token controller could accidentally create duplicate secrets. (fixed in https://github.com/kubernetes/kubernetes/pull/21706 and https://github.com/kubernetes/kubernetes/pull/22160)

* By invalidating the signature by changing the keys used to verify them (which your

[2016-05-03 18:16] ajohnstone opened #25096 "kubernetes - FailedSync Error syncing pod, skipping: configmaps"
The following errors are occurring despite the volume being mounted.
 * Warning     FailedMount Unable to mount volumes for pod "nginx-ingress-controller-1626740531-88561_default(d125e230-1151-11e6-a2d1-0adbaa6061ff)": configmaps "nginx-template" not found
 * Warning     FailedSync  Error syncing pod, skipping: configmaps "nginx-template" not found

[code]

however the configmap exists.
[code]

fu

[2016-05-03 18:17] aaronlevy opened #25097 "hyperkube image contains security vulnerabilities"
It looks like some packages in the hyperkube image contain security issues. This is based on a scan of the container using https://github.com/coreos/clair

I just pulled the `gcr.io/google_containers/hyperkube:v1.2.3` image, then pushed it to the quay.io registry to be scanned, and this is the output:

https://quay.io/repository/aaron_levy/hyperkube/image/04355a9c966dafc9d29c96a79112ea527f42fa8654

[2016-05-03 18:17] ekozan commented on #24687
Somebody have push on gcr.io/google_containers/volume-nfs
the build image of the pr https://github.com/kubernetes/kubernetes/pull/22665
@rootfs

[2016-05-03 18:21] bgrant0607 commented on #24928
cc @caesarxuchao @lavalamp @gmarek re. cascading deletion

[2016-05-03 18:23] #25096 closed

[2016-05-03 18:24] ajohnstone commented on #25096
incorrect
[code]

[code]

[2016-05-03 18:27] kargakis commented on #20077
I thought this was fixed by https://github.com/kubernetes/kubernetes/pull/20481

[2016-05-03 18:28] kargakis commented on #20077
Same error in Origin: https://github.com/openshift/origin/issues/6926

[2016-05-03 18:31] erictune commented on #24880
Assigned to @nikhiljindal as owner on behalf of colhom.

[2016-05-03 18:35] erictune commented on #24865
@justinsb do you think there is a docs fix needed here, and if so to which docs file?

[2016-05-03 18:45] ixdy commented on #25086
https://github.com/kubernetes/test-infra/pull/14 should fix this once and for all, I hope.

[2016-05-03 18:47] erictune commented on #24824
Kubernetes should be able to start without a connection to the internet.  However, many of the core developers, including me, are not familiar with CentOS, so I don't know if it is doing something odd.

Suggested other places to go for help:
- The `systemctl enable` might need to do a `docker pull` from the internet.    You might have review what the systemd units are doing, in terms of starting d

[2016-05-03 18:47] #24824 closed

[2016-05-03 18:49] erictune commented on #24824
Please feel free to reopen if you find more information and think something in `kube-apiserver` itself (as opposed to docker or systemd units) is reaching out to the internet, and should not be.

[2016-05-03 18:57] erictune commented on #24494
@derekwaynecarr

[2016-05-03 18:58] erictune commented on #24375
@bprashanth can you prioritize?

[2016-05-03 19:02] timothysc commented on #23397
/cc @eparis - opinions?

[2016-05-03 19:03] rootfs commented on #24687
@pwittrock ^^^

[2016-05-03 19:04] bprashanth commented on #24375
I think everyone sort of agrees that we shouldn't add priorities to the work queue. The 2 work arounds are:
1. Add more workers
2. Batching relists

1 is possible today, making this issue about 2.

@wojtek-t the controller will still continue to sync (not relist from apiserver but from store) so this is still a problem, even after we remove apiserver relists right?

[2016-05-03 19:05] rootfs commented on #24985
opened #25100 to support GCE PD

[2016-05-03 19:09] MartinPyka commented on #25050
Wouldn't it be way easier and safer if the host interface would be a config parameter rather then selecting one based on heuristics? Then those people who are working in closed and very restricted settings would have an easier time getting kubernetes running!?

[2016-05-03 19:09] wojtek-t commented on #24375
@bprashanth - yes it will still continue to sync from local cache  [but relists from apiserver can be very expensive (in terms of network traffic and cpu-consumption because of deserialization) and we will avoid that].

[2016-05-03 19:10] caesarxuchao commented on #24928
if that's the case, then @erictune's theory won't explain why there are 3 secrets, since the invalidated ones will be deleted by the token controller.

Regarding cascading deletion, if the token controller sets the OwnerReference of the Secret to point to the ServiceAccount, then the garbage collector will delete the Secret when the ServiceAccount is deleted. There will be no need to note down the

[2016-05-03 19:13] liggitt commented on #24928
I'd like clarification about this statement:

I am guessing there were three secrets generated and added to the same service account, which is the bug fixed by the referenced PRs

[2016-05-03 19:14] luxas commented on #24714
fixed at HEAD. It doesn't matter much anyway, as they are static pods, not normal k8s objects

it isn't but that's something I would like to fix

Have been thinking about it, but it will probably wait before we see how `minikube` evolves.

[2016-05-03 19:15] vishh commented on #24677
@edsiper That sounds like a good short-term solution. In the long term though, we'd like to not use docker daemon for logs at all, as I mentioned earlier. That means that there will be metadata added to each log line. Instead, we will have to define a new k8s plugin that can add metadata to one or more log files.

@jimmidyson how do we add k8s metadata to logs now? Is https://github.com/kubernetes

[2016-05-03 19:17] timothysc commented on #24375
and relist "should be" unnecessary.

[2016-05-03 19:18] ScubaDrew commented on #17275
I'm new to K8 and Cassandra -- but I do see a lot of t2.micro instances. I've had the web UI no end point and other failures in my testing when using very small EC2 types.

[2016-05-03 19:19] smarterclayton commented on #23917
Technically the digest is a name.

On May 3, 2016, at 2:02 PM, Andy Goldstein <notifications@github.com> wrote:

Are you suggesting that the ContainerImage that is in the node status have
both Names and Digests?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/23917#issuecomment-216613731>

[2016-05-03 19:30] chrislovecnm commented on #17275
`t2.micro` are WAY small :(  I am bumping the demo mem up to 2G and 2CPU.   I am not sure if the jvm will even start.  I am pretty sure it will start with 1G of mem, but have not tried.  Can you get any logs from `kubectl`.

Btw info on validating an install https://github.com/kubernetes/kubernetes/issues/20961#issuecomment-212147456 - but this is when they are running

[2016-05-03 19:38] #24276 closed

[2016-05-03 19:46] ncdc commented on #23917
True. Here are the options I can think of:

1. Augment the list of names for an image in the node to include digests, including the repo; e.g. you would see `busybox@sha256:abcd1234` in addition to `busybox:latest` for the same image
  1. No change to scheduler priority, so it requires an exact match on `repo:tag` or `repo@digest`
1. Augment the list of names for an image in the node to include di

[2016-05-03 19:53] erictune commented on #24167
If you want revocation, you have to give up federation.  How do we see service accounts working in a federated environment?  Cluster 1 can't really check cluster 2's etcd.

[2016-05-03 19:57] erictune commented on #23900
This is how gofuzz tests work.  They generate random strings.

[2016-05-03 19:57] #23900 closed

[2016-05-03 19:59] swagiaal opened #25101 "[RFC] PVC recycle should wait for pod termination."
I know we have talked about this before but I wanted to get some discussion on the record as I think we discussed this in the context of protecting the binder state as opposed to user protection. I ran into a use case which exposes this problem.

The https://github.com/openshift/origin-metrics has a redeploy option which does a delete  of all pods and PVCs and recreates them. The issue is that the

[2016-05-03 19:59] kfox1111 commented on #22695
I didn't think Devstack could easily deploy with SSL enabled, but it looks like you can:
https://ask.openstack.org/en/question/45348/devstack-with-ssl/

So http support might not be as important as I thought. It could be relegated to a documentation issue for deploying Devstack in this mode when deploying with Kubernetes.

We'd still need a way to specify the root CA though for Keystone.

[2016-05-03 20:04] lavalamp commented on #24967
Interesting. I guess code coverage changes the behavior of line reporting?

I'm willing to take a PR to fix this!

[2016-05-03 20:04] naphthalene commented on #17657
I'm running into this (or a similar issue). Basically when declaring a pod with an `imagePullSecrets` `spec` option it works great, however if I try to create a `ReplicationController` --> `spec` --> `template` --> `spec` --> `imagePullSecrets` it is not getting picked up.

[2016-05-03 20:07] erictune commented on #23396
I have created a "Feature Tracking Issue" for this work, to test out the feature tracking concept.
It is https://github.com/kubernetes/features/issues/2

[2016-05-03 20:08] lavalamp commented on #25037
Thanks @derekwaynecarr!

[2016-05-03 20:13] brendandburns commented on #24584
@AdoHe are you actively looking at this?

[2016-05-03 20:24] derekwaynecarr commented on #25037
So there are a few issues I have discovered:

1) the quota test was not stopping its launched controllers, got a pr to fix that which stopped logging noise.
2) the replication controller launched by this test keeps trying to record events even after the server connection is closed.  this appears to be a side effect of the event recorder having no way of notifying it to stop sinking events.

[2016-05-03 20:31] smarterclayton commented on #23917
Digest name for Docker runtimes is a valid image target, so 1 or 2 seem ok
(name is vague in our spec, but equates to tag OR digest in docker).
Arguably 2 would give us better matching across the cluster (when tags
change but images don't), but changes the semantics of "name" (you can't
pull by digest).

We can potentially do a 1b option later - have the scheduler be a bit more
aware of digest.

O

[2016-05-03 20:36] fejta commented on #15030
Send a PR that adds these jobs to https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e.yaml and they will start running automatically!

@alex-mohr to find an owner for this.

[2016-05-03 20:36] ncdc commented on #23917
I'm going to mark the PR as a fix for this issue if that's ok?

[2016-05-03 20:53] huang195 commented on #24685
@mml @lavalamp thanks for your replies. We were also thinking about using an external proxy to do this work, but just wanted to check if there are anything in Kubernetes that already does this.

[2016-05-03 21:00] swagiaal commented on #24738
I have updated the title. The predicate checks volumes which are specified in a pod and prevents scheduling of two pods which reference the same storage asset (where appropriate), but if I do the same thing through a PVC the scheduler is non the wiser. This is a reminder to address that

[2016-05-03 21:01] Random-Liu commented on #24938
@yujuhong @mikedanese It looks like this never happened again. Can we close this one?

[2016-05-03 21:01] streamnsight commented on #24928
@liggitt  yes i had 3 secrets and the 3 of them were listed in the `ServiceAccount` description.
I have upgraded this cluster a few times now. I tend to do this manually so I don't think scripts overwrote anywthing.
I do insert my registry credentials in the `ServiceAccount`: I would get the `ServiceAccount` (`kubectl get serviceaccount default -o yaml`, then remove the uuid ref and add the regist

[2016-05-03 21:09] sputnik13 commented on #23291
we would really like to see TCP support in Ingress, is there anything we can do to help move this forward beyond an idea?

[2016-05-03 21:11] smarterclayton commented on #23917
I'm fine with it.

On Tue, May 3, 2016 at 4:36 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-05-03 21:18] ihmccreery commented on #15030
This has been fixed for a while; sorry it never got closed.

[2016-05-03 21:18] #15030 closed

[2016-05-03 21:20] mml opened #25103 "verify-codecgen and update-codecgen disagree with each other"
See, e.g.

- https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25102/kubernetes-pull-test-unit-integration/23972/
- https://github.com/kubernetes/kubernetes/pull/23684#issuecomment-216654698
- #25102

This seems to be blocking multiple PRs from even being tested.

[2016-05-03 21:26] lavalamp commented on #25103
Looking.

[2016-05-03 21:27] trinitronx commented on #24349
@luxas :  So I had some time to try out the `hyperkube` container, and as it turns out... it apparently does not understand the `-s` or `--server` flags like the bare `kubectl` container does.

The use case I'm trying to solve which yielded the need for a `kubectl` container is:

 - Start SSH tunnel to `kube-apiserver` in a container (outside cluster in `docker-machine` VM)<br/>For example: <br/>

[2016-05-03 21:30] djsly commented on #18450
Hi David, Thanks for the proposal!

This is indeed exactly what we coded in this PR https://github.com/kubernetes/kubernetes/issues/22442 with the only exception that we kept
[code]
to allow other RC to deploy replicas that are independent of the /dev/shm, hence making the node's resources still available for other type of services.

What we would like to do in the end is provide upstream with the

[2016-05-03 21:32] liggitt commented on #24167
The check can be done via etcd or via the API (there's implementations for both in tree)

[2016-05-03 21:38] trinitronx commented on #24349
@luxas:  Also, after thinking about this a bit more... with the advent of Raspberry Pi & other popular ARM or embedded architectures, I can also envision that others may desire to build their own `kubelet` container for those platform architectures for interfacing with, or running a Kubernetes cluster on this cost-effective hardware.

The `Makefile` changes are pretty simple and leverage the pre-e

[2016-05-03 21:54] yifan-gu commented on #24103
We actually has implemented this in our fork'd branch, but doesn't seem good enough to upstream such change. https://github.com/yifan-gu/kubernetes/commit/aad45b908e621d3fbcf20b3487a371e8c0734b5a

On the other hand, coreos image on the gce contains python in `/usr/share/oem/python/`, but the os team high suggest we do not depend on that /cc @crawford

[2016-05-03 21:57] sarahnovotny commented on #23146
please use MD pages instead of the GH wiki function for the community
documentation.  (and leave breadcrumbs on the
github.com/kubernetes/kubernetes/wiki pages when their locations move.)

On Tue, May 3, 2016 at 11:06 AM, Brian Grant <notifications@github.com>
wrote:

[2016-05-03 21:57] nikhiljindal commented on #24880
@colhom Any update?

I see that the first part of this is to just bring up the federation control plane (bring up kubernetes cluster, then bring up federation etcd in a pod, and then the federation apiserver and controller manager pods). We can have deployment and service yaml files for federation etcd, apiserver and controller manager. So that bringing up federation control plane is as easy as ru

[2016-05-03 21:57] #25086 closed

[2016-05-03 22:08] lavalamp commented on #25103
I think I figured it out. The order of generation matters. The verify script subtly breaks that by renaming and checking the files one at a time. The update script deletes everything and then recreates them.

[2016-05-03 22:08] Random-Liu commented on #19077
@smarterclayton It is hard to update the image pulling progress in pod status for now. Pod status is updated before each `SyncPod`, while the whole image pulling process happens during `SyncPod`.

The plan for now is to periodically (maybe every 5, 10 senconds) send event telling what is the current image pulling progress, which will at least tell user that whether the image pulling is stuck there

[2016-05-03 22:11] colhom commented on #24880
@nikhiljindal I should have a PR up by EOD today. I have the apiserver being provisioned on top of the existing cluster, and am in the process of getting that endpoint hooked up to ginkgo. Right now it's only for the vagrant platform. I take it GCE and then AWS, as far as priority w.r.t making it work with other providers?

Where are the deployment/service files that you're talking about?

[2016-05-03 22:19] smarterclayton opened #25106 "kubectl Apply or validate is not using the json field in output"
While testing #23567, I created an internal and external field `InitContainers` on pods, but the json field name of external InitContainers was `alphaInitContainers` (while the internal name is `initContainers`.  All but one e2e test passed - that test failed due to an invalid initContainers field.  However, that field is not present in any external serialization or swagger, which means that apply

[2016-05-03 22:19] smarterclayton commented on #25106
@liggitt

[2016-05-03 22:19] crawford commented on #24103
Correct. We will remove that without notice. Do not use that python (it's very crippled anyway).

[2016-05-03 22:21] bprashanth commented on #23291
@sputnik13 a big step forward would be teaching the existing ingress controllers about Type=LoadBalancer behavior (and flag controlling it). It really doesn't make sense to have 2 things that do ingress tcp, but we already have type=lb. When Ingress does TCP the idea is that we'd deprecate Type=Loadbalancer (or repurpose it to mean internal lb).

So the code in service_controller needs to be moved

[2016-05-03 22:26] smarterclayton commented on #19077
Doesn't pulling then effectively block all sync progress for other
containers in the same pod?  Or does it merely block parallel startup of
the containers.

On Tue, May 3, 2016 at 6:08 PM, Lantao Liu <notifications@github.com> wrote:

[2016-05-03 22:33] dcowden commented on #24677
@vishh adding metadata to log lines sounds tricky without knowing the log format. How do you handle multiline logs correctly?

[2016-05-03 22:35] bprashanth commented on #24782
The pod in question is static-pod-7b242f93-0b79-11e6-be53-42010af00019-tmp-node-e2e-a0bb2bf7-e2e-node-containervm-20160217-image, it was created at 6:38 and failed at 6:40 because it couldn't open the DNS config file.

@kubernetes/goog-node maybe a race between creating mount points and starting containers that forces startup to take > 120s?

[code]

[2016-05-03 22:36] nikhiljindal commented on #24880
Yes.

The config YAML files dont exist yet :) That is a subtask that can be worked on in parallel.

[2016-05-03 22:40] colhom commented on #24880
I've been putting those in `federation/manifests`. Reasonable?

[2016-05-03 22:40] janetkuo commented on #19808
For anyone who hit this... upgrading my go from v1.5 to v1.6 solves the problem! :)

[2016-05-03 22:42] vishh commented on #19077
@smarterclayton Assuming that exposing image pull progress is mainly for human consumption, would the following work?

* If an image is being pulled for a container, then update `ContainerStateWaiting` to contain a reason `PullingImage` and a message "progress: x%". The progress will be made available on a best-effort basis.
* If a pod is in`Pending` phase because images are being pulled, reflect

[2016-05-03 22:42] #19808 closed

[2016-05-03 22:47] smarterclayton commented on #19077
I don't even think progress is required, I'd be happy with a single
reason.  But I'll take the message and say that it'll help users even on a
best effort.

On Tue, May 3, 2016 at 6:42 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-05-03 22:47] smarterclayton commented on #19077
Basically, yes, I think that would make 90% of clients better.

On Tue, May 3, 2016 at 6:47 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-05-03 22:55] nikhiljindal commented on #24880
yes :)

[2016-05-03 22:56] lavalamp commented on #25103
I have a fix. Will send a PR shortly.

[2016-05-03 22:58] janetkuo commented on #25083
#24849 will fix the 1st problem

[2016-05-03 22:59] marun commented on #22063
I'm working on getting openshift running on openshift such that nodes for the nested cluster are managed via a replica set.  Since the apiserver assumes the node names are resolveable for kubelet communication, I'm having to watch for node changes and update /etc/hosts on the master node.  It would be preferable to have the apiserver use node.status.addresses since I'm ensuring that an InternalIP

[2016-05-03 22:59] timstclair commented on #23397
Performed manual restart tests, no issues found.

Tested the following with no apparent issues:
- Kill docker daemon (`sudo pkill -9 -f /usr/bin/dock[er]`) while running steady state with lots of pause pods, wait and restart (`sudo /etc/init.d/docker start`)
- Kill docker daemon while scaling pause (gcr.io/google_containers/pause) replication controller to 0 replicas. `kubectl` reports pods as ter

[2016-05-03 23:00] vishh commented on #19077
@stuartbassett Will you be able to re-purpose your PR (#25032) to do what's mentioned in https://github.com/kubernetes/kubernetes/issues/19077#issuecomment-216686379 ? I can provide more specific design details, if you have difficulty parsing https://github.com/kubernetes/kubernetes/issues/19077#issuecomment-216686379

[2016-05-03 23:06] yujuhong commented on #24508
@ArtfulCoder would you mind taking a look?

[2016-05-03 23:07] vishh commented on #24677
@dcowden Are you referring to existing docker support for additional metadata in logs or the long-term solution I was alluding to?

[2016-05-03 23:13] yujuhong commented on #23503
Removing the test in #25054

[2016-05-03 23:17] david-mcmahon commented on #15639
Is this still an issue?  We version all containers at release time AFAIK.  What am I missing?

[2016-05-03 23:26] yujuhong commented on #21640
#24557 failure is not relevant to this issue.

The most recent report of such flake was over a week ago. I think the cause is the slow metadata url response in GCE, and that should've been fixed by the recent rollout. I am going to close this issue. Feel free to reopen if there is another occurrence.

[2016-05-03 23:26] #21640 closed

[2016-05-03 23:32] Random-Liu commented on #19077
@smarterclayton Yeah, for now it will block starting of all other containers.

[2016-05-03 23:42] Random-Liu commented on #24782
@bprashanth Looks like `SyncPod` was stuck before creating mount points (or even `GenerateRunContainerOptions`), because we don't do any mount before
[code]

[2016-05-03 23:45] vishh commented on #19077
@Random-Liu Why not update the pod status manager even on pleg events, instead of updating it only from sync pod?

[2016-05-03 23:50] Random-Liu commented on #19077
@vishh We can do that, but we need to separate pod status updating out of `SyncPod`. I think that is also one option @yujuhong mentioned before.

[2016-05-03 23:51] AdoHe commented on #24584
Yes, will open a PR asap.

[2016-05-03 23:52] thockin commented on #25097
That sounds like a fine fix.  In general this problem is just a mess.

On Tue, May 3, 2016 at 11:18 AM, Aaron Levy <notifications@github.com>
wrote:

[2016-05-03 23:56] kjnsn opened #25111 "azureFile not recognized at valid"
When attempting to create the file given at `examples/azure_file/azure.yaml` I receive the following error:

`error validating "azure-file.yaml": error validating data: found invalid field azureFile for v1.Volume; if you choose to ignore these errors, turn validation off with --validate=false`

Versions are as follows:

[code]

According to the documentation this should have been valid with versio

[2016-05-04 00:08] yujuhong opened #25113 "Use cases for kubectl port-forward"
As we are figuring out the next-version container runtime interface, I'd like to gather some feedback on existing features we support.

The description of kubectl port-forward is [here](https://github.com/kubernetes/kubernetes/blob/1d96b4c55b6b4e6bc9bda5d12a7b99834056bdf4/docs/user-guide/kubectl/kubectl_port-forward.md).
What are the existing use cases? Is this feature mainly used for debugging?

[2016-05-04 00:19] dcowden commented on #24677
@vishh I was referring to the long term plan, when the docker daemon is no longer in the picture. In the long term plan, containers will be logging to a location on the filesystem that is specified in the k8s metadata as a logging volume.  k8s knows these files are logs, and knows that it should add metadata to them. they are in whatever format the application is using, which could include multi-l

[2016-05-04 00:19] vishh commented on #25113
cc @kubernetes/rh-cluster-infra

[2016-05-04 00:20] ncdc commented on #25113
This is essentially a debugging tool. If you need to connect to a port in your pod and you don't ever want to expose that port via a service or via ingress, you'll need to use port forwarding to get temporary access to that port. One good example is connecting to the JVM debugging port for remote debugging of Java processes.

[2016-05-04 00:20] yujuhong commented on #24938
@Random-Liu, I'm ok with closing this one, but could you file an issue to pre-pull the pause image?

[2016-05-04 00:24] Random-Liu commented on #24938
@yujuhong Sure. Will do that.

[2016-05-04 00:28] vishh commented on #24677
k8s need not add metadata to each line. It just needs to make the metadata available for logging daemons to consume along with log files. One option would be to create metadata files inside each log volume in a curated format and have logging daemons associate log lines with metadata appropriately.

[2016-05-04 00:29] yifan-gu commented on #25113
We should be able to achieve the same by `kubectl exec` the `socat` inside the pod's namespace. Though we need to have `socat` in the container image. But on the other hand, we need `socat` on the host today.

@euank @sjpotter Actually found the PortForward is broken for rkt today, as the PID of the pod returned by rkt api service is not the PID1 of the pod, (it's changed to the pid of nspawn/kvm)

[2016-05-04 00:32] david-mcmahon commented on #24169
@luxas Agreed, that sounds like a great solution.  cc @eparis.  I don't know what if any work has / is being done with OWNERS files but that seems like a good use of them coupled with a labeling bot.

[2016-05-04 00:36] yujuhong commented on #25113
Yes, supporting this for normal Linux containers should not be a problem. This, however, might be a problem for hypervisors and windows? AFAIK, hyper doesn't support this (@feiskyer, correct me if I am wrong).

This is a "pod-level" feature that is not tied to a specific container, so it'd be good to figure out how and whether we are going to support it as part of the sandbox operation proposed in

[2016-05-04 00:40] ncdc commented on #25113
This would make for a much less friendly UX. Also, `kubectl port-forward` and the associated code in the kubelet already has all the plumbing necessary to listen on local ports on the user's system and to copy the data back and forth between the user's local ports and the ports in the pod.

I know our users would be unhappy if we suggested that port forwarding was going away.

cc @smarterclayton @

[2016-05-04 00:41] Random-Liu opened #25116 "Node E2E: we should prepull pause image before the node e2e test suite running."
All test needs the pause image, we should pre-pull the image for node e2e test as what we do for e2e test, because:
* Image pulling is very slow and error prone, we may want to do it in test as less as possible.
* Only the first running test take the cost of pause image pulling, which sometimes make the test flaky.

/cc @yujuhong

[2016-05-04 00:41] Random-Liu commented on #24938
Close this one and filed #25116

[2016-05-04 00:41] #24938 closed

[2016-05-04 00:43] dchen1107 commented on #24938
Do you know the test is running with image? Today's containerVM image? or other guest image? We only pre-pull those required images for ContainerVM image.

[2016-05-04 00:43] yifan-gu opened #25117 "rkt: portforward is broken"
Since the pid of the pod returned by rkt api service is not the PID1 of the pod now, so it doesn't hold the namespace, thus cannot be used by `nsenter` to enter the namespace and run `socat`.

Ref https://github.com/kubernetes/kubernetes/issues/25113#issuecomment-216708103

[2016-05-04 00:44] yifan-gu commented on #25117
cc @euank @sjpotter

[2016-05-04 00:47] euank commented on #25117
Using the well-known network namespace path we'll have after #25062 should allow us to use `nsenter --net=path` if it's particularly difficult to get the correct pid1.

[2016-05-04 00:50] smarterclayton commented on #25113
This is a very common way to debug and diagnose both development and production features.

I would love to have a more generalized framework for executing in-container helpers (injected static binaries that can evolve differently from the container runtime), especially to decouple them from the kubelet.

[2016-05-04 00:50] smarterclayton commented on #25113
s/features/applications/

[2016-05-04 01:21] feiskyer commented on #25113
@yujuhong Right, Hyper doesn't support port-forward.

@smarterclayton Could we achieve this by some wrapping on ExecInContainer?

[2016-05-04 01:34] ncdc commented on #25113
It's not that simple. You have to bind to local ports so you can accept connections from local clients, and then you need to get the data copied between the client and the pod. Right now we do client -> `kubectl port-forward` ports -> apiserver -> kubelet -> pod's network namespace via socat. There is a lot more going on here than just "exec"ing something 😄

[2016-05-04 01:38] rootfs opened #25120 "RFC: Adding Persistent Volumes Test Cases"
# RFC: Adding test cases to [e2e/persistent_volumes.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/persistent_volumes.go) and [integration/persistent_volumes_test.go](https://github.com/kubernetes/kubernetes/blob/master/test/integration/persistent_volumes_test.go)
## Existing test cases
### [e2e/persistent_volumes.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e

[2016-05-04 01:39] smarterclayton commented on #25113
The ideal would be "client -> api server -> kubelet -> launch process in
container context -> redirect from kubelet to listening process in
container context -> serve back to client", allowing the kubelet to offload
any communication traffic.

The "standard process" could be a process inside the VM or out, just as
long as there was a way to execute it.  I don't think that we should go
lowest commo

[2016-05-04 01:39] euank commented on #25113
It can also be used as a means to run once-off deployment/migration/analytics type jobs against a service which should not generally be exposed (e.g. for security reasons).

You might argue that it's better for these jobs to run on K8, not on a developer's machine, but I don't think that level of overhead is always warranted / desired, and it certainly can't replace interactive sessions (e.g. poki

[2016-05-04 01:53] mfanjie commented on #21625
@bprashanth @justinsb @a-robinson seems the fix in 1.2 is not a long term solution, so want to check if there is anyone working on rewrite the logic to apply the pattern like other controllers? I am working on federation service controller now, and same logic would be applied.

[2016-05-04 01:55] bprashanth commented on #21625
If you have the bandwidth, help would be appreciated. I'm not re-writing it any time soon.

[2016-05-04 01:55] mfanjie commented on #23848
write down and tracking the dependencies here:

- [ ]  cluster controller(@huangyuqi):
clusterClientMap to be public so service controller can reuse the clientset instead of creating own ones.
- [ ] apiserver(@nikhiljindal):
service to be registered in federation apiserver and provide core client to access service
- [ ] dns provider(@quinton-hoole):
dns provider to talk to dns server.

There are t

[2016-05-04 01:58] mfanjie commented on #21625
okey, then I am going to work on this.

[2016-05-04 02:07] smarterclayton commented on #25106
@kubernetes/kubectl re: apply being broken because it is using internal objects when it should not be

[2016-05-04 02:08] jeffvance commented on #25120
Additional test cases to consider (from https://gist.github.com/jeffvance/4d3f78d1e772e360ce33bef48e450df1):

### PREBIND: test that a pre-bound PVC binds to the target PV.
 - Setup:
     -  create pvc1 with _Spec.VolumeName_ = "pv1"
     -  create pv1 with no pre-binding (no ClaimRef)
     -  pvc1 and pv1 have same _accessModes_ and _capacity_ spec, so they would naturally match
 - Expected Resul

[2016-05-04 02:29] mfanjie commented on #23848
In k8s controller manager, every controller holds its own clientset, like https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L200-L206. We might need to follow the same, then we have no dependency on cluster controller anymore. But need to maintain our own clientsetMap, and need to consider secure access of k8s clusters.

[2016-05-04 02:34] Random-Liu commented on #24938
@dchen1107 The image should be "node-containervm-20160217-image"

[2016-05-04 03:42] Jackong commented on #24713
@timstclair How to use HEAD image: gcr.io/google_containers/hyperkube-amd64:<TAG>?

[2016-05-04 03:44] liggitt commented on #22063
Using IP addresses even when a resolvable hostname is available will make TLS to nodes more difficult

[2016-05-04 05:08] chrislovecnm commented on #24030
@bgrant0607 @bprashanth any answer to the above question??

Also is there an issue in for a command to run before removing a pod?  For instance I reduce the size of a PetSet from 8 - 6.  In order to do that `nodetool decommission` needs to be run on the two nodes that are going down.

[2016-05-04 05:35] mikedanese commented on #23174
Here is a proposal that is along the lines of what I am implementing in kubernetes/kube-deploy#9:

The v2 implementation will be considered successful if it:
* is portable across many deployment targets (e.g. at least gce/aws/azure)
* is transparent and can be used as a reference when creating deployments to new targets
* allows for an easy and reliable first experience with running multinode kube

[2016-05-04 05:36] mikedanese commented on #23174
cc @aronchick

[2016-05-04 05:55] bprashanth commented on #24030
Alpha in 1.3

Not in alpha

Is this only on scale-down, or do you need to run it when, eg I kubectl delete a node too? Can you just do it in a pre-stop hook or using deletionGracePeriodSeconds (http://kubernetes.io/docs/user-guide/production-pods/#lifecycle-hooks-and-termination-notice)? the petset will ensure that no other nodes are created before the decomm tool has done it's job and the pet is

[2016-05-04 06:10] thockin commented on #23174
Clarification requested.

Is the goal to produce a simpler way for people to get bootstrapped for
"kick the tires" mode or to (eventually?) build a "real" turnup system for
production-grade clusters?

On Tue, May 3, 2016 at 10:36 PM, Mike Danese <notifications@github.com>
wrote:

[2016-05-04 06:11] chrislovecnm commented on #24030
@bprashanth do we have an issue in for properly exposing a Cassandra cluster?

[2016-05-04 06:15] wojtek-t commented on #24375
and relist "should be" unnecessary.

Agree (assuming that there weren't errors in the list/watch).

[2016-05-04 06:18] bprashanth commented on #24030
Do you mean C* as a service? most of the people I've talked to (might be a biased sample) simply want c* in cluster for use in something like spark. What're the requirements, public DNS name for each node?

[2016-05-04 06:26] mikedanese commented on #23174
I think we should aim to make the deployments to supported platforms production worthy. I think that transparency does not preclude production worthiness. I think we should be uncompromising in our policy: we do not sacrifice transparency to achieve production worthiness.

In cluster/ we made sacrifices and kube-up now produces production-grade clusters. cluster/ is now also completely opaque to u

[2016-05-04 06:34] chrislovecnm commented on #24030
So for ubernetes, multiple datacenters, and client's that are external to k8s every cassandra pod (instance) ip / dns needs to be exposed.  This is the same for such systems as elasticsearch.

[2016-05-04 06:48] jsafrane commented on #25101
I got bitten by this behavior in deleter e2e tests - Kubernetes tries to delete a PV that is still attached to a node, while kubelet on the node is slowly trying to detach it. Quick brainstorming:

* We can delete/recycle volume when appropriate PVC is deleted *and* the PV is unmounted + detached from all nodes, i.e. we need cooperation between attach&detach controller and recycler.

* Alternative

[2016-05-04 06:52] thockin commented on #23174
I'm not sure I understand "transparency" here.  Here's my thinking, though.

We have at least a few people working on different attacks on "I just want
a cluster up and running so I can play".  Nobody is spending real thought
on how to do REAL clusters with 3rd party integrations and all the
customization that comes with that.  In the mean time we have
vendors/partners/third-parties who are sittin

[2016-05-04 06:56] thockin commented on #21625
Awesome!

On Tue, May 3, 2016 at 6:58 PM, Jesse Meng <notifications@github.com> wrote:

[2016-05-04 07:11] thockin commented on #15639
1) Version number tags are not consistent.  We have at least "1", "v1",
"1.0" tags in existence.

2) We have no embedded documentation standard (e.g. a /README.txt)

3) We have no embedded Dockerfile standard (e.g. /Dockerfile)

4) We have no naming convention for containers.  "foobar", "foo-bar",
"foo_bar" all exist.

5) We have no guidelines on MAINTAINER metadata

6) We have no guidelines on "l

[2016-05-04 07:21] mikedanese commented on #23174
I defined what transparency means in this context in this comment: https://github.com/kubernetes/kubernetes/issues/23174#issuecomment-216749607

I'm hoping we can support infrastructure integrations by asking them to reimplement phase 1. I'm hoping we can support pod network providers with cluster addons and network plugins. We should sketch out how both of those goals.

You are correct that the p

[2016-05-04 07:25] thockin commented on #5095
@dchen1107 @vishh would be nice to queue this up, even though we'll
probably NOT get 1.12 qualified for our 1.3

On Tue, May 3, 2016 at 9:51 AM, janosi <notifications@github.com> wrote:

[2016-05-04 08:42] bryk commented on #24714
@luxas Why is K8s dashboard deployed in `default` namespace? Is this something intentional? Or the namespace was just not specified?

Dashboard UI must be deployed in kube-system namespace in order to `/ui` redirect work.

[2016-05-04 09:09] wojtek-t commented on #22448
Any help with e2e test would be super helpful. Currently even if we have code, we are not merging almost anything, because of flakes.

[2016-05-04 09:16] cheld commented on #24714
@bryk The deployment of add-ons are not described in the guide (http://kubernetes.io/docs/getting-started-guides/docker/). I assume @gonfva deployed dashboard himself to default namespace.

Everything is fine when using the docs and the provided yamls, but it is not convenient to find and collect all the information.

So, I suggest to (more or less) automate the deployment of the most important ad

[2016-05-04 09:44] errordeveloper commented on #17032
I hostly do not understand how WebSockets can be neglected in 2016, especially given that Kubernetes API itself uses WebSockets.

[2016-05-04 09:54] errordeveloper opened #25126 "kubectl proxy doesn't allow WebSockets"
There is no specific issue that addresses this issue, which I think is rather critical. I haven't tested SPDY and HTTP/2 yet, but those are probably broken also. In amy environments `kubectl proxy` would be the only user-friendly way to to get to the internal services, although it's understood that it can only carry HTTP traffic, it should support modern uses of HTTP.

[2016-05-04 09:56] errordeveloper commented on #25126
This had already been reported in #17032 and #24482, but nobody got to the bottom of where this bug lies.

[2016-05-04 10:00] errordeveloper commented on #25126
xref #25126

[2016-05-04 10:19] dcowden commented on #24677
Oh I see ok! How do you envision logging daemons getting the logs and metadata? Would the k8s API provide an endpoint that logging daemons consume, or do the logging daemons read the data directly off the filesystem?

I'm sorry to be asking so many questions, I'm needing to set my system up and I'd like to do it as similarly as possible to what will eventually become the 'right' way

[2016-05-04 10:39] keontang opened #25127 "pod_name field are splitted when doing elasticsearch aggs"
When i doing an elasticsearch aggs with the following statement:
[code]

then, i got this:
[code]

Actually, i want the pod names like this:
[code]

[2016-05-04 10:42] simonswine commented on #19899
I've just "released" 0.0.2 of kube-lego. I think it has the minimal needed features in for a release. See the [README](https://github.com/simonswine/kube-lego/blob/master/README.md)

I added documentation and examples and think the code is much more mature...

It would be great if you could give it a go in your cluster. I am keen to get some early feedback.

@bprashanth I am not really familiar wi

[2016-05-04 10:55] jimmidyson commented on #24677
@vishh Kubernetes metadata is added to all log events by our [fluentd kubernetes metadata filter](https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter). Currently this relies on extracting info from the log file name. Could you link to details on the long term plan, bypassing docker for streaming logs as you describe above?

Multiline logs are really tricky to handle in a generic

[2016-05-04 11:00] AdoHe commented on #24584
@brendandburns I created a new ThirdPartyResource named `CronTab` and an object of that type.
[code]
And then I try to edit this object:
[code]
it seems edit displays not only metadata part.

[2016-05-04 11:06] AdoHe commented on #24584
But I did find another interesting problem:
I tried to create another ThirdPartyResouce with follow yaml file:
[code]
And I can see that this resource is created successfully.
[code]
But if I create an object of this resource type, just failed:
[code]
it seems a little bit trick.

[2016-05-04 11:09] rootfs commented on #25120
@kubernetes/sig-testing @kubernetes/sig-storage

[2016-05-04 11:23] errordeveloper commented on #23385
Also happens on Docker for Mac, and it's got this:
[code]

[2016-05-04 11:27] mkumatag commented on #25066
rackspace/gophercloud module supports function call to load the options from environment which can be used to get the value from env instead of passing through CLI  like `opts, err := openstack.AuthOptionsFromEnv()`

for #24982 :
Rightnow keystone auth code is heavily depends on external package https://github.com/rackspace/gophercloud which is currently handles only username/password based authen

[2016-05-04 12:12] AdoHe opened #25129 "kubectl failed to create ThirdPartyResource object because of different Plurality Rule"
@brendandburns As I commented [here](https://github.com/kubernetes/kubernetes/issues/24584#issuecomment-216829751), I think the root cause is plurality rule. I noticed such log in `kube-apiserver.log`:
[code]
But if you request this address: `http://127.0.0.1:8080/apis/experimental.example.com/v1/namespaces/default/networkpolicys`, it's just ok. So whether we should use `policys` or `policies`?

[2016-05-04 12:53] erez-rabih opened #25131 "Pods missing on Grafana/InfluxDB dashboards"
Hi,

I'm having a lot of cases in which pods are missing on the Grafana dashboard so I can't view their metrics.

Using kubernetes 1.2.1 on AWS.

Any way to troubleshoot this?

[2016-05-04 12:53] #24642 closed

[2016-05-04 13:19] wojtek-t opened #25132 "Set up jenkins suite testing protobuf communication"
Once we have (initial) support for protobufs already merged (e.g. migration is not required for it), we should set up a Jenkins job running tests where all components are using protobufs to communicate.

@smarterclayton

[2016-05-04 13:19] dcbw commented on #25092
@mikedanese does this happen with --configure-cbr0 and packet shaping too?  The kubenet implementation just uses the existing kubernetes shaping code that --configure-cbr0 does.

[2016-05-04 13:20] wojtek-t commented on #25132
For this, I specifically mean correctness tests at first.

[2016-05-04 13:20] wojtek-t commented on #25132
@zmerlynn - FYI

[2016-05-04 13:21] wojtek-t commented on #25132
I think that for now we require just 2 PR before doing that:
https://github.com/kubernetes/kubernetes/pull/24789
https://github.com/kubernetes/kubernetes/pull/24710

[2016-05-04 13:49] jayunit100 commented on #24704
ok i can put this in @bgrant0607

[2016-05-04 13:51] dcbw commented on #25092
It seems the *fifo qdiscs default their packet limit to the txquelen of the interface (man tc-pfifo).  It also seems most virtual interface types (bridge, etc) set a dev->tx_queue_len of 0.  It further seems that pkg/util/bandwidth/linux.go relies on the default packet limit.  I could swear this worked before with kubenet, and it must have worked with --configure-cbr0 when the code was originally

[2016-05-04 13:53] dcbw commented on #25092
Note that to test with --configure-cbr0 you'd also need --reconcile-cidr.

[2016-05-04 14:02] piosz commented on #11382
It requires Master Metrics API to be implemented (#11382).

[2016-05-04 14:03] jayunit100 commented on #13414
cc @elmiko , re openshift updating to 2x swagger

[2016-05-04 14:05] wojtek-t commented on #25132
I will create a project and set up testing for it (hopefully tomorrow).

[2016-05-04 14:16] wojtek-t commented on #14978
We have the working version of the framework implemented and most of controllers are sharing pod cache. We may add additional sharing in the future on demand.

@smarterclayton @deads2k - do you think we can close this one?

[2016-05-04 14:22] wojtek-t opened #25134 "Investigate 1000-kubemark failure"
There are quite a lot of Density failure in 1000-node kubemark, with

    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/density.go:563 Expected error: <*errors.errorString | 0xc83cdbc540>: { s: "too high pod startup latency 99th percentil: 5.211839668s", } too high pod startup latency 99th percentil: 5.211839668s not to have occurred

e.g.

    May  2 05:40:46.705:

[2016-05-04 14:23] dcbw commented on #25092
Upstream CNI fix is here: https://github.com/containernetworking/cni/pull/199 and we'll also work around it in kubenet for now.

[2016-05-04 14:24] #23497 closed

[2016-05-04 14:27] justinsb commented on #23174
I proposed something with similar goals in https://github.com/kubernetes/kube-deploy/pull/8  But my approach is obviously very different.

Here are my axioms:

* We want a canonical installation.  If a user does not install via an "official" way, they should be expected to be able to self-troubleshoot.  I think of this as Debian vs Linux-From-Scratch.  We have to produce something more like a dist

[2016-05-04 14:30] wojtek-t opened #25135 "unit flake: TestAddTwoFireEarly"
--- FAIL: TestAddTwoFireEarly (10.15s)
	delaying_queue_test.go:92: unexpected err: timed out waiting for the condition

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/24164/kubernetes-pull-test-unit-integration/22236/build-log.txt

[2016-05-04 14:31] piosz commented on #11382
We may want to support the following commands:
- ```kubectl top node <id>``` - list all pods running on the given node accompanied with theirs cpu/mem usage
- ```kubectl top pod <id>``` - print cpu/mem usage stats for the given pod
- ```kubectl top pod --selector=<label-query>``` - list all pods defined by the label query accompanied with their cpu/mem usage

[2016-05-04 14:40] rootfs commented on #25101
@kubernetes/sig-storage

I think the Jan's first solution is a sound one. But from an end user perspective, it is just odd to the PVC is deleted while it is still be used, an inexperienced/uninformed user may even believe the PV is also deleted as a result. On the other hand, on GCE, it is not permitted to delete a disk while it is still being used by a VM.

I would prefer Jan's 2nd solution, alth

[2016-05-04 14:54] deads2k commented on #14978
I'm ok with closing it.  I'd also be ok with leaving it open until we plug more of the controllers for other resource types if you like.

[2016-05-04 14:55] wstrange commented on #23174
@justinsb Doesn't a tool that generates {Salt,Ansible, Terraform, etc.} ultimately suffer the same issues as the current salt implementation? Someone has to write and maintain those templates.

[2016-05-04 15:03] mikedanese commented on #23174
The goals of these two proposals are completely different. I don't think the goals of proposal 1 can be achieved by building the tool described in proposal 2. 10K lines of code and config is not minimal or concise. Production-grade deployment is not a top priority for proposal 1 and is a priority for proposal 2. I'm not sure that these proposals can or should be reconciled.

[2016-05-04 15:03] markturansky commented on #25101
Related but closed -- https://github.com/kubernetes/kubernetes/issues/12084

[2016-05-04 15:08] justinsb commented on #23174
@wstrange I would say no for the case which is most problematic for us; we define once how the canonical configuration maps to the various tools, but then as we change the canonical configuration we don't need to update each of the configurations (or change the mappings).

However, if we define a new attribute, then yes, we would need to update the conversion to each of the tools.

As an example:

[2016-05-04 15:10] eparis commented on #24762
from the first LGTM or the last LGTM?

[2016-05-04 15:17] justinsb commented on #23174
@mikedanese  I have no objection to pursuing both approaches!  And I certainly am not arguing that 10k lines  is concise - though we can debate minimality when we find something smaller that means all the requirements ;-).  And a lot of that configuration will disappear when we get rid of some of the salt scripts I carried across for compatibility.

I think you're right, big-picture the disconnect

[2016-05-04 15:26] smarterclayton commented on #14978
We should probably have some issue to have someone dig into which other
controllers are impactful before we cut 1.3.  Could be this issue, or
another.

On Wed, May 4, 2016 at 10:54 AM, David Eads <notifications@github.com>
wrote:

[2016-05-04 15:27] smarterclayton commented on #25132
I'm going to probably add a new condition to unit test jobs that runs the
unit tests with protobuf enabled - doing it for integration will be
trickier, so agree it'll be useful to run the e2e suite with proto enabled.

On Wed, May 4, 2016 at 10:06 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-05-04 15:36] bprashanth opened #25138 "Flake: unit test federation/cmd/federated-apiserver/app.TestRun"
Slightly outdated failure, so it might be fixed. Doesn't look like https://github.com/kubernetes/kubernetes/issues/24952:
[code]

[2016-05-04 15:43] smarterclayton opened #25139 "e2e flake failed because no API token found for service account"
Found in https://github.com/kubernetes/kubernetes/pull/24768, *may* be related to the speed up in the PR but not sure.  Opening for now.

http://pr-test.k8s.io/24768/kubernetes-pull-build-test-e2e-gce/38235/build-log.txt

[code]

[2016-05-04 16:00] kargakis opened #25140 "new tests in parallel e2e run can fail due to resource contention"
[code]

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23590/kubernetes-pull-build-test-e2e-gce/38280/?pli=1

@jlowdermilk @kubernetes/kubectl

[2016-05-04 16:02] kfox1111 commented on #25066
So, if we at least moved the auth code using gophercloud from the apiserver to kubecli and passed the token through, that would get us Keystone V3 & Horizon support. I don't know what gophercloud's status is with regard to K2K federation or Kerberos, but if there was a fall-back to just allowing a raw token from an environment variable, that would work too. I'd be surprised if they didn't have tha

[2016-05-04 16:34] elsonrodriguez commented on #23174
It's hard to argue that there's a better production-ready setup than GKE.

In turn, part of the appeal of the current salt code is that GKE uses it to manage the minions. This appeal has led to some kube-up providers using that salt code in order to approach GKE-like usability.

Is this approach aiming to replace what GKE is deployed or managed with?

[2016-05-04 16:42] gonfva commented on #24714
For the record, I didn't deploy the dashboard myself. As I mentioned, I followed the instructions in this page http://kubernetes.io/docs/getting-started-guides/docker/ for the stable release at that moment (1.2.x). That version deployed the dashboard (in the default namespace)

[2016-05-04 16:46] erictune opened #25142 "Kubectl rollout can't initiate a rollout"
[kubectl rollout](http://kubernetes.io/docs/user-guide/kubectl/kubectl_rollout/) can pause or unpause or undo a rollout.  But it cannot initiate a rollout.  IIUC, you initiate one by patching a deployment.  Suggest that:
- the rollout docs say how to start one.
- maybe have `kubectl rollout start` be an alias to `kubectl patch` or something.

[2016-05-04 17:03] luxas commented on #24714
@bryk I talked about the master components, they were in the default ns until ~a week ago.
But that has nothing to do with dashboard.

@gonfva The docker guide does not deploy the dashboard automatically. It hasn't _ever_.
Look at the [source code](https://github.com/kubernetes/kubernetes/tree/master/cluster/images/hyperkube)

The only thing I can think of is that you had deployed the dashboard ea

[2016-05-04 17:08] MHBauer commented on #4683
This issue is obsoleted by the move to using `docker-machine`.

[2016-05-04 17:14] dcbw opened #25143 "Remove kubenet CNI bridge plugin txqueuelen workaround"
Once https://github.com/containernetworking/cni/pull/199 gets merged and we upload a new version of the CNI plugins for cluster/saltbase/salt/cni/init.sls we can revert https://github.com/kubernetes/kubernetes/pull/25136.

[2016-05-04 17:15] dcbw commented on #25143
@mikedanese here's the workaround removal issue; anything else I need to add to it?

[2016-05-04 17:17] danielfm commented on #23478
* Allow the creation of EBS root volumes instead of relying on the default storage for the chosen instance type

Some types of instances do not provide a root storage device sufficiently large to hold Docker images (m3.medium), or do not provide storage at all (m4.\* , c4.\*).

[2016-05-04 17:22] mikedanese commented on #25143
Nope! This is what we need to track it. Thanks for opening.

[2016-05-04 17:23] thockin opened #25145 "GCE: should refuse to create a firewall rule with no tag"
In some custom setup cases the prefix-matching logic for GCE load-balancers can break and end up creating a firewall rule with no tags.  We should instead refuse to create the rule.  In fact, if we find it, we should probably delete the rule, but that's maybe too aggressive.

pkg/cloudprovider/providers/gce/gce.go

Looking at the logic, if we return error in the tag-selection, we'll abort the whol

[2016-05-04 17:23] kargakis opened #25146 "Quota and replication"
The quota system, in its current form, doesn't play well with high-level resources such as replication controllers/replica sets/deployments. While quota will correctly not allow my replicaset to scale up to the N pods I have asked for -because N pods may exceed {cpu,memory,pods} quota- the replicaset is blocked in limbo as its desired state has been updated but may never be fulfilled. This has imp

[2016-05-04 17:36] naphthalene commented on #20786
Was roadblocked by this for a while - the odd thing is that there's no problem using the `imagePullSecrets` with a `Pod` configuration, but when trying a `ReplicationController` setup, it would fail to fetch the secret.

[2016-05-04 17:39] jamiehannaford commented on #24982
Could the new function live in `plugin/pkg/auth/authenticator/token/keystone/keystone.go`? gophercloud already supports token auth for v3, so it should be relatively straightforward.

I don't think `OS_PASSWORD` should be used if the token is invalid because it defeats the purpose of having a dedicated token auth function IMHO. If the user provides an invalid/expired token, a descriptive error sho

[2016-05-04 17:50] smarterclayton opened #25149 "Readiness and liveness probes report an event when container is not running"
Readiness and liveness exec probes fire an event when the container is not running - we should not be firing the event (handling the specific container not running error) since we know for sure the container is dead:

[code]

[2016-05-04 17:50] smarterclayton commented on #25149
@ncdc triggered while browsing what failed on the server

[2016-05-04 17:52] ncdc commented on #25149
Convert to a kube issue?

[2016-05-04 17:55] smarterclayton commented on #25149
This is a kube issue :)

[2016-05-04 17:55] ncdc commented on #25149
Oops I just assumed it was OpenShift

[2016-05-04 18:06] vishh commented on #5095
@thockin @erictune Given that https://github.com/docker/docker/pull/192 is done, how do you think sysctl options will be represented in our API?

[2016-05-04 18:11] thockin commented on #5095
I expect it would be similar in structure.  Either a per-pod or
per-container (or both) map of string-string ?  Can you think of any reason
not to make it simple?  I don't think we can/should abstract it much
further.  Maybe we don't want to spell it "sysctl" - maybe "osParams" or
something plausibly generic?  I didn't look at Docker's API, but presumably
Windows and Mac will have to handle this..

[2016-05-04 18:12] kfox1111 commented on #24982
I think there is a little confusion on which part we are talking about. Server vs Client. Right now, its all happening on the server, and I think it needs to be moved to the client only, with the exception of an admin user needed for token validation in the server. I'm ok with requiring the user to fetch a token manually, but it would be much smoother if the workflow was something like the followi

[2016-05-04 18:17] mml opened #25150 "Doc to guide placing resources in API groups"
Questions it should answer:
- How do I pick the right existing group for my new resource?
- How do I decide if a new group is warranted?
- How do I name it?
- When should we prefer breaking a group up?
- Are there cases when we should avoid breaking a group up or putting related resources in separate groups?
- When we must make tradeoffs between the goals in [api-group.md](https://github.com/kuber

[2016-05-04 18:17] bgrant0607 commented on #25142
@erictune
Rollouts are started by any mutation to the pod template of the Deployment. We could make `kubectl rollout start` print suggested ways to start a rollout.

cc @janetkuo

[2016-05-04 18:18] bgrant0607 commented on #25142
The main feature we're missing, IMO, is `kubectl set image`. #21648

[2016-05-04 18:18] smarterclayton opened #25151 "Watch cache regression: changes behavior of "resource version too old" error"
When attempting to fetch a resource version that is too old, the behavior of watch (for both HTTP and web sockets) changed when watch cache was enabled.  The watch cache returns a 410 - without the watch cache, we return 200 and then write an "error" entry to the watch stream.  This broke a client that dependent on the watch behavior, and moreover is inconsistent with other errors we set in the re

[2016-05-04 18:19] smarterclayton commented on #25151
@kubernetes/sig-api-machinery I think this is candidate for back port to 1.2 to restore the previous behavior.

[2016-05-04 18:20] smarterclayton commented on #25151
@jwforres since this broke your javascript client, @liggitt FYI because of watch cache

[2016-05-04 18:22] ncdc commented on #25151
+1 for backport

[2016-05-04 18:24] naphthalene commented on #20786
Ah, finally figured it out - turns out I was launching apps into kube-system namespace, so I had to make sure I specify that in the pull secret YAML.

[2016-05-04 18:35] yujuhong opened #25153 "gcloud unrecognized arguments --fields"
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25054/kubernetes-pull-build-test-e2e-gce/38324/

[code]

[2016-05-04 18:36] bgrant0607 commented on #25083
The test has failed twice since #24849 merged, so that didn't seem to make much difference. :-(

[2016-05-04 18:37] yujuhong commented on #25153
I believe all per-PR builds failed because of the same reason.

[2016-05-04 18:37] david-mcmahon opened #25154 "Rewrite/enhance hack/cherry_pick_pull.sh script"
It should be a more curated, friendly and guided experience.  Possibly look into doing away with hub.

cc @zmerlynn @davidopp

[2016-05-04 18:38] spxtr commented on #25153
It's not a flake, it's just plain broken. Assigning to @ixdy, test infra oncall.

[2016-05-04 18:40] ixdy commented on #25153
There appears to be a new gcloud release today: https://cloud.google.com/sdk/release_notes

Not sure if this was an expected breaking change or not. I don't see it in the release notes, anyway.

[2016-05-04 18:44] gmarek commented on #24971
Me neither. If it's P1 I most likely won't have time before v1.3.

[2016-05-04 18:45] nikhiljindal commented on #24089
cc @pwittrock who is also facing this issue

[2016-05-04 18:45] a-robinson commented on #25153
cc @k8s-oncall as well

[2016-05-04 18:46] ixdy commented on #25153
Reassigning to the buildcop. I'm pretty sure this isn't an infra issue - OSS k8s is just broken with the latest release of gcloud.

[2016-05-04 19:05] zacharynevin commented on #21613
I'm having this exact issue, but my kubernetes version is 1.2.3.

[2016-05-04 19:12] janosi commented on #5095
@vishh I do not know whether it matters or not, but you referenced wrong Docker github issue.

On pod vs. container level: one would think, it depends on whether a given parameter is in a pod level namespace or not, and consequently maybe both is needed (pod and container). According to the Docker issue above, the following sysctls are supported currently:
IPC namespace: kernel.msgmax, kernel.msgm

[2016-05-04 19:20] wojtek-t commented on #25151
hmm - we enabled watch cache in 1.1 - so this should also be broken in 1.1

[2016-05-04 19:28] ixdy commented on #25153
Apparently `--fields` was an undocumented hidden flag that we should not have used. We are to replace the `--fields` and `--format` flags with
`--format="value(networkInterfaces[0].accessConfigs[0].natIP)`

We'll probably need to cherry-pick this fix.

[2016-05-04 19:29] apatil commented on #22911
Same on Ubuntu 14.04, hyperkube v1.2.3, docker 1.9.1 with aufs backend, stock kernel.

I also see pod state transitions taking a long time; they hang in "Pending" and "Terminating" for minutes. Does anyone else see that in conjunction with this issue?

[2016-05-04 19:35] ixdy commented on #25153
Fix PR: #25159

[2016-05-04 19:36] apatil commented on #22911
For context, this issue doesn't show up immediately in my hyperkube setup. It turns up after a few days. During that time, I update 6 or 7 deployments simultaneously, several times per day.

[2016-05-04 19:40] timothysc commented on #14978
Isn't the long term vision to split out, and self host the individual controllers.
/cc @mikedanese

[2016-05-04 19:48] pwittrock commented on #24089
I am going to need to fix this for Templates.  Working on this now.

[2016-05-04 20:04] buildlackey opened #25160 "pod status does not reflect 'Reason' codes for failures that one sees when doing kubectl describe pod <podname>"
When a pod (or rep controller, or service) fails for reason like 'no corresponding docker image' or PodExceedsFreeCPU  we see this when we do  a "pod describe".  I have included the describe output for one of our test runs below.  Notice that the Status for the replication controller is  Pending -- however an event occurred whose corresponding 'Reason' code is FailedScheduling.

I would argue this

[2016-05-04 20:37] #25153 closed

[2016-05-04 20:48] dhawal55 commented on #16162
I'm seeing similar error for one of my container:
[code]

What is OOM score?

[2016-05-04 21:11] luxas commented on #24169
Sounds great.
It seems like it's @eparis that's the bot ninja :), maybe he can do it?

[2016-05-04 21:15] sputnik13 commented on #23291
@bprashanth given existing ingress controllers are contribs, is it necessary that they all come to a common implementation of TCP or are you saying that someone needs to create an ingress controller that supports TCP, then the community can reason about whether to accept it?

I assumed that the path to acceptance would be more along the lines of getting agreement on what the Ingress resource spec

[2016-05-04 21:33] luxas commented on #24349
I know, I'm the author of Kubernetes on ARM, ARM64 and PowerPC64le, and have lots of Pi's at home for learning.

It should be `/hyperkube kubectl`. ´kubelet` is the Kubernetes server

The point is, if you want a `kubectl` container, propose it and we may look into that, but there's a much better way of doing it ([docker wrapped binaries](https://github.com/kubernetes/kubernetes/blob/master/build/c

[2016-05-04 21:42] shikloshi opened #25167 "Error deploying nodejs pod while following tutorial"
I'm using the hello-world tutorial for nodejs in Kubernetes and when trying to upload the pod we just created in the console I'm getting this errors:
```error: failed to negotiate an api version; server supports: map[], client supports: map[autoscaling/v1:{} authorization.k8s.io/v1beta1:{} v1:{} metrics/v1alpha1:{} extensions/v1beta1:{} componentconfig/v1alpha1:{} batch/v1:{}]```

I'm using:
**Doc

[2016-05-04 21:44] #25103 closed

[2016-05-04 21:48] bprashanth commented on #23291
So I create a TCP ingress on aws/gce etc, how will that work?

1. It won't work - not acceptable. Then we don't have a cross platform resource. You can just use config map like the nginx controller currently does.
2. It won't work till we've ported the code in service_controller that currently fulfills service.Type=Loadbalancer to respect both service.Type=Loadbalancer and TCP Ingress, at which po

[2016-05-04 21:53] dcowden commented on #24677
@jimmidyson the structured json logs in docker makes it harder too, when the logs were already structured _before_ docker got ahold of them

[2016-05-04 21:57] jimmidyson commented on #24677
@dcowden The fluentd kubernetes metadata filter handles the case where the original log message is JSON by merging the original JSON log message with the Docker JSON log so the original fields are restored, along with the enriched metadata. Not the best but seems to work OK for that scenario.

[2016-05-04 21:57] pmorie commented on #22911
Sorry I missed the ping on this.  Assigned to self, will try to triage by the end of the week.

[2016-05-04 22:07] saad-ali commented on #13535
PR https://github.com/kubernetes/kubernetes/pull/17747 laid the ground work for this and switched the GCE PD create and delete calls in E2E from gcloud to the GCE library. It should be much easier now to switch over the remaining gcloud calls in E2E.

[2016-05-04 22:08] chrislovecnm commented on #24030
@bprashanth @bgrant0607 should I open this as a separate issue?

[2016-05-04 22:08] lavalamp commented on #25151
It's possible that it was always nondeterministic and just depends on how fast the call to the storage layer executes. I think all of our in-tree clients will handle it either way.

[2016-05-04 22:09] dchen1107 commented on #15867
cc/ @mrunalp

[2016-05-04 22:10] bgrant0607 commented on #21912
Frequent example: insufficient quota

[2016-05-04 22:12] bgrant0607 commented on #25146
cc @davidopp @mml

[2016-05-04 22:12] dchen1107 commented on #15867
cc/ @andyzheng0831 from our GCI team too.

[2016-05-04 22:13] bgrant0607 commented on #25146
Related: #21912

[2016-05-04 22:14] dcowden commented on #24677
what about the scenarios where the original message is (a) unstructured ( JVM GC logs ), (b)  kv structured, as if to be sent to splunk. those are the realities of my world at the moment.

[2016-05-04 22:14] philips commented on #23396
@erictune Are you going to track and update that feature? Who is in charge of keeping it up to date? We can do it but I am confused what the action for us here is.

cc @mike-saparov

[2016-05-04 22:20] bprashanth commented on #24030
Kubernetes doesn't do external DNS yet. Once we get that cross platform, exposing it through petset should be no harder than exposing in-cluster DNS through petset.

The petset will handle ordering, identity, cluster reconfiruation events and other common idioms required to safely deploy stateful services. Though we haven't clearly defined it's scope for WAN deployments, the petset controller prob

[2016-05-04 22:22] erictune commented on #23396
I will update that issue.

[2016-05-04 22:23] bgrant0607 commented on #25146
I don't think there's a strict dupe of this.

I totally agree that it makes sense to check pod quota when creating or scaling a controller.

I think the tricky part is how to avoid double-charging a pod.

Maybe controllerRef could help. The controller could squat on pod quota up front and then pods could steal it back from the controller indicated by controllerRef as they are created. Deployment w

[2016-05-04 22:26] philips commented on #23396
@erictune sounds good! Maybe you should put that URL in the description for people new to the issue? https://github.com/kubernetes/kubernetes/issues/23396#issue-143079808

[2016-05-04 22:31] edsiper commented on #24677
Unstructured logs are not to complex, the usual workaround is to insert them in a "message" field in a structured message.

[code]

but I agree that multi-line is hard (hard to determinate when the message starts... when it ends)

k8s should support expose the logging mechanism which adds required metadata, then Fluentd as a logging service can consume the info and deliver it to the desired backen

[2016-05-04 22:36] pwittrock opened #25169 "flake e2e node conformance test failure"
23:49:35       Expected error:
23:49:35           <*errors.StatusError | 0xc82057fe00>: {
23:49:35               ErrStatus: {
23:49:35                   TypeMeta: {Kind: "Status", APIVersion: "v1"},
23:49:35                   ListMeta: {SelfLink: "", ResourceVersion: ""},
23:49:35                   Status: "Failure",
23:49:35                   Message: "pods \"busybox\" not found",
23:49:35

[2016-05-04 22:36] pwittrock commented on #25169
cc @Random-Liu

[2016-05-04 22:37] jimmidyson commented on #24677
@edsiper That is exactly how we handle Java stack traces & other multiline messages.

[2016-05-04 22:38] dcowden commented on #24677
@edsiper, maybe i used the wrong term when i said 'unstructured'. what i meant was, 'structured, but in a way completely inconsistent with the outer json payload.  For example:

[code]

Here, i want to extract user=joe and url as fields. i can do this easily in splunk or fluentd before the json wrapper was added, but not so easily afterwards. Neither really understand the 'double-layer format'

Si

[2016-05-04 22:41] edsiper commented on #24677
@jimmidyson yeah, I mean get rid of the "filter" step in Fluentd to obtain metadata from the REST Service.

[2016-05-04 22:45] dchen1107 commented on #22964
Here is the high level draft we are coming with:

https://docs.google.com/document/d/1ietD5eavK0aTuMQTw6-21r67UU73_vqYSUIPFdA0J5Q/edit#

[2016-05-04 22:48] dchen1107 commented on #22964
cc/ @rajatchopra @mrunalp

[2016-05-04 22:50] pwittrock commented on #25023
Right now there isn't a great way to document this since it is specific per-cluster type.

[2016-05-04 22:51] chrislovecnm commented on #24030
@bprashanth completely understand, but do we have an open issue for that functionality?

[2016-05-04 22:52] smarterclayton commented on #25151
I'm fairly certain this never used to behave this way, because OpenShift
hasn't enabled the watch catch and we have never had a report of this until
we enabled the watch cache for Kube resources just recently.

On Wed, May 4, 2016 at 6:08 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-05-04 22:54] smarterclayton commented on #25151
I see what you mean about ordering - etcd remote call would almost never be
fast enough to beat the watch event.  In practice, I suspect no one ever
saw this without the watch error.

Either way, for web sockets if we don't fix this clients can't get this
error (the browser eats the 410 during the websocket negotiation and client
code can't get access).  So it's at least broken for web sockets.

O

[2016-05-04 22:56] bprashanth commented on #24030
External DNS has been disucssed standalone (https://github.com/kubernetes/kubernetes/issues/9914, https://github.com/kubernetes/kubernetes/issues/11760) in the context of Ingress (https://github.com/kubernetes/kubernetes/issues/24145) and in the context of Ubernetes (https://github.com/kubernetes/kubernetes/blob/8179a0d30e238c51a5c19e6217fe87633d40b1ae/docs/design/federation-phase-1.md).

[2016-05-04 22:57] Random-Liu commented on #25169
@pwittrock @liangchenye
Offline discussed with @caesarxuchao, this is a known issue https://github.com/kubernetes/kubernetes/issues/19403#issuecomment-175296720.

For short, event though the pod is deleted on the apiserver, kubelet may still try to delete the pod again. If we create a pod with the same name and namespace right after deleting the pod, the new pod will be deleted by kubelet accident

[2016-05-04 22:59] pwittrock commented on #25169
Great.  Seems like we have a quick fix then.

[2016-05-04 23:01] pwittrock commented on #24422
Please post the logs if you see this fialure.

[2016-05-04 23:02] bprashanth opened #25170 "RC shouldn't update observedGeneration with pending creates/deletes"
The desired behavior is:
- Create spec.Replica pods
- As pods keep coming down watch, update status.Replicas, so users have pseudo real-time feedback
- If during this time someone submits a new update to spec.Replicas that bumps up the generation, _dont_ update status.Generation to match
- Update Generation when pending creates/deletes are observed

Without the third check, we could confuse a clie

[2016-05-04 23:03] bprashanth commented on #25170
fix is https://github.com/kubernetes/kubernetes/issues/25171

[2016-05-04 23:03] yujuhong commented on #25169
Don't we check the pod UID before deleting it?

[2016-05-04 23:10] Random-Liu commented on #25169
@yujuhong But there is still a race between kubelet and apiserver.

* Kubelet gets the old pod, and update the status.
* Apiserver deletes the pod because it reaches the timeout.
* Test create the new pod with the same name and namespace.
* Kubelet deletes the nwe pod.

[2016-05-04 23:13] yujuhong commented on #25169
Ah...yeah...that jogged my memory. Thanks for the explanation. Deleting by UID would be great.

[2016-05-04 23:20] smugcloud opened #25174 "AWS Nodes Getting KubeletOutOfDisk"
I have a 1.2 cluster on AWS (built with kube-up) that has been running for over a month with minimal pods.  I am running into some strange issues where the volumes that were created on startup are filling up from InfluxDB and Docker (details below).  I have seen these issues ([#14276](https://github.com/kubernetes/kubernetes/issues/14276), [14274](https://github.com/kubernetes/kubernetes/issues/14

[2016-05-04 23:51] caesarxuchao commented on #25169
This is not enough, the pod may be deleted and recreated after the check in kubelet and before the deletion request reaches the API server. We need to use #22965, which technically is still "deleting by Name", but you can set the UID as a precondition.

[2016-05-04 23:56] caesarxuchao opened #25176 "hack/verify-codecgen.sh disagrees with hack/udpate-codecgen.sh for testdata"
I ran into this when working on #23928.

Verify-codecgen.sh:
[code]

Update-codecgen.sh:
[code]

cc @thockin since it may provide insights to your "moving to /verdor" PR.
cc @wojtek-t

[2016-05-05 00:02] smugcloud commented on #13508
Hi @justinsb I believe this issue still persists in 1.2. I opened a new issue to track this but wanted to get your thoughts on the underlying problem.

https://github.com/kubernetes/kubernetes/issues/25174

[2016-05-05 00:15] janetkuo opened #25180 "kubectl should suggest possibly matching kubectl commands"
For example,
- `get`: `ps`, `list`
- `delete`: `rm`

@kubernetes/kubectl

[2016-05-05 00:18] davidopp commented on #22967
I just hit this in PR #24776

[2016-05-05 00:20] fejta commented on #13288
Please open a separate issue for that request.

[2016-05-05 00:20] #13288 closed

[2016-05-05 00:21] janetkuo commented on #25180
It's pretty simple to add suggestions. Take a stab at this in #25181. Keep this open for more ideas on other suggestions.

[2016-05-05 00:26] davidopp commented on #25146
Yes, I can't think of anything better than something like what Brian suggested.

[2016-05-05 00:39] caseydavenport commented on #23920
@thockin @microadam - Correct me if I'm misunderstanding something, but I _think_ that `hostPort` just isn't going to work with CNI based integrations at the moment (I see you're using Calico).

`hostPort` currently relies on Docker to configure the port mapping, but in the CNI case Docker doesn't have the knowledge to do this, since pods are started with `net=none`.

I think this could be resolve

[2016-05-05 01:01] janetkuo commented on #25180
In the future, if we support `kubectl create pods`, its suggestion list will include `kubectl create containers`.

[2016-05-05 01:13] #24815 closed

[2016-05-05 01:20] ixdy commented on #23879
There haven't been any PRs linked here recently, so I wonder if this is still an issue.

[2016-05-05 01:20] ixdy commented on #23350
We may want to wait and see if updating our Ginkgo dep (#25081) helps any.

[2016-05-05 01:32] timstclair commented on #23397
_v1.9 results copied from [this comment](https://github.com/kubernetes/kubernetes/issues/16110#issuecomment-180510177)_

**Introduction**
I benchmarked docker v1.11 using the [docker micro benchmark tool](https://github.com/kubernetes/contrib/tree/master/docker-micro-benchmark).

**Benchmark Environment**
* Cloud Provider: GCE
* VM Instance: n1-standard-2 (2 vCPUs, 7.5 GB memory)
* OS: Debian GNU/

[2016-05-05 01:37] derekwaynecarr commented on #25146
I am not sure I agree with the original problem description.  Do you have
an opinion on Job and concurrency?  Asking the quota system to understand
all potential higher order resources that may result in a pod creation is
non-trivial.  There were previous requests to not charge for quota on
compute resources until point of scheduling, but that also has pros and
cons.

On Wednesday, May 4, 2016, Da

[2016-05-05 01:39] wangyumi opened #25183 "cannot access ClusterIP on node host, ubuntu 14.04.4"
I am using k8s 1.2 on ubuntu 14.04.4

here are some info on my one k8s minion node:

[code]

[code]

here are kube-proxy log on this node:

[code]

I have some ClsterIP on my k8s:

[code]

I found other pods in this cluster can access this CLusterIP.
But If I tried to access this ClusterIP from the node host directly, It failed.

Actually, I can find the right (only a  guess since I am not an ipta

[2016-05-05 01:42] derekwaynecarr commented on #25146
I think it's fair to warn the user that a replica may not be satisfied due
to quota usage unless something else frees it up.  In some ways, events do
that now but maybe we can make it more prominent.  There are a number of
reasons why a replica set it deployment could not be satisfied though.
Lack of capacity, etc. separate from quota.  I need to think on this more.
Other areas of complication is

[2016-05-05 01:59] derekwaynecarr commented on #24494
Even when not in HA there is a potential for a race between admission and
quota controller recalculation.

I had some initial ideas on how to mitigate that but have not found time to
address.  In practice, I have yet to encounter this race, but it had a
similar outcome where you could exceed quota by 1.

A write up that describe situation was here:
https://github.com/kubernetes/kubernetes/pull/201

[2016-05-05 01:59] bgrant0607 commented on #24533
Infant mortality detection: #18568

[2016-05-05 02:01] derekwaynecarr commented on #24494
To elaborate some more, my hope was that we could use etcd3 multi object
transactions when that became available but that is still TBD if it's
something we will leverage in admission control.

On Wednesday, May 4, 2016, Derek Carr <decarr@redhat.com> wrote:

[2016-05-05 02:06] AdoHe commented on #25180
@janetkuo actually in #25181, kubectl can just give correct command if you are using some wrong command, like `git`, more advanced we want kubectl can suggest the next command. For example you may want to run `kubectl get pod <pod_name>` after you create a pod.

[2016-05-05 02:07] derekwaynecarr commented on #25055
I am not in favor of cascading grace period.

See discussion here:
https://github.com/kubernetes/kubernetes/pull/24964

On Monday, May 2, 2016, Chao Xu <notifications@github.com> wrote:

[2016-05-05 02:07] bgrant0607 commented on #24533
activeDeadlineSeconds was originally intended to eventually terminate failing Jobs. Unlike with Deployment, a Job seems less likely to start failing after making some progress.

Ok, let's have `kubectl run --restart=Never` create N pods.

Let's suggest job-level activeDeadlineSeconds to users to ensure jobs don't crashloop forever.

I propose we add infant-mortality detection to Job (eventually),

[2016-05-05 02:12] derekwaynecarr commented on #24891
I am glad it was so easy to summarize my position!

Another issue is that as sub resources proliferate things like kubectl edit
or apply may become less useful?

On Sunday, May 1, 2016, Tim Hockin <notifications@github.com> wrote:

[2016-05-05 02:58] huang195 commented on #24494
@derekwaynecarr ah ok, so even in the non-HA setup, a race condition could happen, although very rarely. It seems in a HA setup (see the above example), a race condition can happen more commonly due to user requests getting sprayed to all the apiservers. I see the PR was closed. Is there any workaround in the meantime before etcd3 multi object transaction is available?

[2016-05-05 03:05] freehan commented on #23920
@dcbw

[2016-05-05 03:05] HaiyangDING opened #25184 "Pod with key `scheduler.alpha.kubernetes.io/name` but empty value should be ignored by any scheduler."
Currently in multi-scheduler scenario, a pod will be scheduled by `default-scheduler` iff its annotations meets one of the 3 following conditions:

1. has no key (nor value): `scheduler.alpha.kubernetes.io/name`
2. has proper key&value referring to default scheduler, i.e. `scheduler.alpha.kubernetes.io/name: default-scheduler`
3. has key but empty value, i.e. `scheduler.alpha.kubernetes.io/name: <

[2016-05-05 03:07] AdoHe commented on #25083
@janetkuo Actually the `waitFor` did do some wait & retry logical. I found this test flake a little bit trick.
[code]
After the first `checkOutput`, the pod should be running. But when we describe the rc, we just get the pod status is waiting.

[2016-05-05 03:10] #24140 closed

[2016-05-05 04:38] davidopp commented on #25184
It is already possible to create a pod and not have it scheduled immediately (create it with a NodeName set to some value that does not correspond to any actual node.) I think we should actually reject `scheduler.alpha.kubernetes.io/name: <nil>` in validation.

[2016-05-05 05:40] bobobo1618 opened #25186 "Getting started guides lack security, leading to information leaks and open remote code execution"
Steps to reproduce (as per [the guide](http://kubernetes.io/docs/getting-started-guides/ubuntu/)):
1. Set up cluster:
   `env KUBERNETES_PROVIDER=ubuntu nodes="<nodes>" role="<roles>" NUM_NODES=<num> SERVICE_CLUSTER_IP_RANGE=<ip range> FLANNEL_NET=<flannel net> ./kube-up.sh`
   (note: I used public IP addresses here since I'm deploying to a cloud and don't have a host within it, I think this is a

[2016-05-05 05:43] barkinet commented on #25186
sudo barki@ninja-network:~$ sudo apt-get update
sudo: unable to resolve host ninja-network
[sudo] password for barki:
Ign:1 http://dl.google.com/linux/chrome/deb stable InRelease

Hit:2 http://dl.google.com/linux/chrome/deb stable Release

Ign:3 http://archive.canonical.com/ubuntu trusty InRelease

Hit:4 http://archive.canonical.com/ubuntu trusty Release

Hit:7 http://archive.ubuntu.com/ubuntu xen

[2016-05-05 05:45] davidopp commented on #25146
I think it's pretty reasonable for someone to want an admission decision at the time they create or update whatever user-facing abstractions we tell them to use to manage their workloads (Deployment, ReplicaSet, etc.). The way we do it today seems a lot less user-friendly than something that comes in earlier in the submission process.

Note that what Brian's suggesting (assuming I understand it co

[2016-05-05 06:03] barkinet commented on #25186
ubuntu 1604

[2016-05-05 06:11] wojtek-t commented on #25176
@caesarxuchao - can you please rebase and check again?
#25108 was merged yesterday, so it may not be part of your PR.

[2016-05-05 06:15] wojtek-t commented on #14978
Currently, it's just a matter of initialization. We can easily split some controller to a separate container/pod.
However, I'm not sure if every single controller should be in a separate pod. Some of them probably should though.

[2016-05-05 06:27] thockin commented on #25176
I think there are 2 files which need to be regenerated and checked in but
are not diffed.  I saw teh same.

On Wed, May 4, 2016 at 11:11 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-05-05 06:54] janetkuo commented on #25180
@AdoHe did you mean alias the command, i.e. `kubectl ps` takes you directly to `kubectl get`? We deliberately don't want to support that because this makes it confusing in docs and there will be more commands to learn for the users. cc @bgrant0607

Yes, I'm aware of that. It's part of the [kubectl roadmap](https://github.com/kubernetes/community/wiki/Roadmap:-kubectl).

[2016-05-05 07:03] caesarxuchao commented on #25176
Yes, #25108 fix the problem. Thanks.

[2016-05-05 07:03] #25176 closed

[2016-05-05 07:09] piosz commented on #23425
The tests are disabled now since we are working on dedicated Kubernetes autoscaler. It should be fixed if we decide to enable the tests. Decreasing priority.

[2016-05-05 07:11] piosz commented on #21664
@jszczepkowski is working on this.

[2016-05-05 07:16] zhouhaibing089 commented on #25186
@bobobo1618 could you paste the ouput of `ps aux | grep kube-apiserver`. I guess that you are running with option `--insecure-bind-address=0.0.0.0`..

[2016-05-05 07:22] bobobo1618 commented on #25186
@zhouhaibing089 that's correct. The documentation doesn't give any guidance about how to do otherwise. That's only part of the problem though, the other part is that access to the API port gives someone code execution abilities.

It seems the scripts are generating HTTP basic auth credentials and SSL certs but not requiring them for access, which I think is the bigger issue. Exposing the API serve

[2016-05-05 07:29] zhouhaibing089 commented on #25186
that's not true, 8080(the default insecure pot) should only be exposed at localhost. it will not do any authentication when using insecure-port.

[2016-05-05 07:32] maclof commented on #22698
Hey @thockin I don't suppose you've had a chance to look at this yet? The server is still sitting there with the credentials I emailed to you.

[2016-05-05 07:56] zhouhaibing089 commented on #25183
I remember that I test it before, it worked to access the cluster ip on the node, in my case, it is `192.168.0.1`, the cluster ip of kubernetes service.

/cc @thockin

[2016-05-05 08:14] wangyumi commented on #25183
@zhouhaibing089
Thanks.
Can you let me know your os/kernel version?

[2016-05-05 09:09] luispabon commented on #14232
This is still broken. I can access grafana, kibana, kube status and influxdb (the latter by appending `:http` to the url as above) but I cannot access the dns control panel or heapster (get a 404 on this one)

[2016-05-05 09:44] erez-rabih commented on #25131
It looks like the same applies to nodes. I have 20 nodes on the cluster but I can see only 5 of them on the Grafana dropdown list.

[2016-05-05 10:18] erez-rabih commented on #25131
Looks like it is a heapster-kubelet error.
When I fetch the logs from the Heapster pod I get multiple errors of the following kind:
[code]

[2016-05-05 10:24] erez-rabih commented on #25131
Might be related to #24713

[2016-05-05 11:51] mkumatag commented on #24982
IMHO we should find a way to pass the token from kubectl to keystone auth module where we can just validate the token and return back if error

Getting new token through "openstack token issue" may not be a good idea because we'll end up creating lot of deps to install non-go packages(openstack is part of python-openstackclient python package) and require it own environment variables to run.

[2016-05-05 12:18] voxik opened #25194 ""Unrecognized input header" while trying to access logs"
I observe the following error:

[code]

While accessing the logs via docker works just fine:

[code]

Using the following kubernetes:

[code]

coming from projectatomic/adb Vagrant box.

[1] https://atlas.hashicorp.com/projectatomic/boxes/adb/

[2016-05-05 12:58] luxas commented on #24714
See #25196

[2016-05-05 13:37] ironcladlou commented on #25146
The theme of the current discussion seems to be new mechanisms for quota violation prediction.

I would also suggest the value of the existing mechanism could be extended by a richer failure context attached to the things that are failing. For example, if the deployment controller is trying to scale up a replicationController and knows progress is stalled by pod create failures resulting from coun

[2016-05-05 13:37] maxwell92 commented on #23111
RUN: kubectl get secret --namespace=kube-system.
then delete the secret and all of kube-dns svc, rc.
finally ./deployAddons.sh

[2016-05-05 13:47] ironcladlou commented on #25146
As @bgrant0607, https://github.com/kubernetes/kubernetes/issues/21912 could go a long way towards this. It's not clear to me yet whether events or status are considered more discoverable/meaningful to users for these scenarios.

[2016-05-05 14:02] kfox1111 commented on #24982
yeah, using gophercloud in kubectl would reduce deps... Maybe we make a new property in ~/.kube/config:
contexts:
- context:
    cluster: localhost
    osauthtype: gophercloud

And have three auth types, gophercloud, token, and openstackclient.

That way, if all the user needs is keystone v3 auth, the gophercloud module can be used as is, and no extra deps are needed. Token just passes the token f

[2016-05-05 14:05] bobobo1618 commented on #25186
Exposing the insecure port on all interfaces is the default behaviour of
the cluster/kube-up.sh script.

Either this should be removed (probably for the best) or heavily documented
with warning signs everywhere so that users know what they're getting into
and how to remove it.

As is, everyone who follows those instructions is unknowingly opening their
cluster to running anything anyone cares to r

[2016-05-05 14:15] rootfs opened #25198 "failed to bring up gce cluster for e2e test"
This just happened today. I was able to bring up a gce cluster just a couple days ago. It seems to be a gcloud cli change.
[code]
[code]

@kubernetes/sig-testing

[2016-05-05 14:20] bgrant0607 commented on #23174
I agree with @mikedanese:
https://github.com/kubernetes/kubernetes/issues/23174#issuecomment-216749607

We also need to adequately document how to configure our components. An architectural diagram (like the one we use in our presentations) would help, too:
http://kubernetes.io/docs/getting-started-guides/scratch/

There is a diverse set of solutions today: the multitude of "getting-started guides

[2016-05-05 14:30] jayunit100 commented on #25198
does `cluster/kube-up.sh` work ?

[2016-05-05 14:31] jszczepkowski opened #25199 "creation of e2e cluster not working with the latest gcloud"
When I try to create e2e cluster by executing `go run hack/e2e.go -v -build -up`, it fails with the following error:
[code]

It seems that the latest version of gcloud (108.0.0) is not handling `--fileds` flag in `gcloud compute instance-groups describe` command.

[2016-05-05 14:33] matthughes commented on #10921
@thockin So since using iptables for proxying (#3760) doesn't fix this issue and that issue was closed, can we reopen this issue or open new issue to track?

[2016-05-05 14:39] rootfs commented on #25198
@jayunit100 same error
[code]

[2016-05-05 14:40] rootfs commented on #25198
gcloud version
[code]

[2016-05-05 14:45] rata commented on #23174
@bgrant0607 so, are you saying that both (2 and 4) can be pursued at the same time?

If it helps, right now we have a kubernetes cluster for our staging environment and we have no production kubernetes cluster because we are finding out a good way to upgrade it. That is the main issue holding us back. Having production ready, and a way to upgrade it and maintain it, is very important to us. And ku

[2016-05-05 14:48] jszczepkowski commented on #25199
CC @wojtek-t

[2016-05-05 14:51] luxas commented on #23174
FYI, I'm working on the `docker-multinode` solution, which is very generic (2): https://github.com/kubernetes/kube-deploy/pull/12

[2016-05-05 15:13] smarterclayton opened #25200 "Clean protobuf import lines"
The proto files should only have imports to packages they actually use.

[2016-05-05 15:17] mikedanese commented on #18112
Update: the proposal was merged. @gtank will be submitting an implementation.

[2016-05-05 15:17] rata commented on #23174
@luxas what is the difference to @justinsb approach? I can contribute to any, but ideally I want less fragmentation if possible (if it has the same goals, etc.)

[2016-05-05 15:26] mikedanese commented on #23174
Docker multinode is at most half of option (2). It doesn't handle the provisioning phase. See https://github.com/kubernetes/kubernetes/issues/23174#issuecomment-216749607 . It could be used as the node bootstrapping phase but it does not currently meet the transparency requirement.

[2016-05-05 15:27] ingvagabund opened #25201 "e2e flake: SchedulerPredicates [Serial]"
When running `validates resource limits of pods that are allowed to run` test, the number of additional pods to create to saturate each node's cpu resource is something `0`. When this happens, the e2e fails due to  calling `framework.StartPods` which expects non-zero number of additional pods to be created.

I have introduce condition to skip the waiting part if the number of replicas is `0` [1].

[2016-05-05 15:32] ingvagabund commented on #25201
@kubernetes/rh-cluster-infra @kubernetes/sig-testing

[2016-05-05 15:32] spxtr commented on #25199
dupe of #25153 should be fixed after rebase

[2016-05-05 15:32] #25199 closed

[2016-05-05 15:32] spxtr commented on #25198
dupe of #25153 should be fixed after rebase

[2016-05-05 15:32] #25198 closed

[2016-05-05 15:37] ingvagabund commented on #25201
The ``validates resource limits of pods that are allowed to run`` is not the only tests using ``framework.StartPods`` and relying on the non-zero number of replicas. Would be worth fixing all occurences and updating the ``StartPods`` to panic or at least noisily  complaint if its input is invalid.

[2016-05-05 15:44] pmorie commented on #20403
Has anyone hit this recently?  Afaik, it can be closed.  I haven't seen it linked to anything recently.

[2016-05-05 15:45] pmorie commented on #21244
Has anyone hit this issue recently?  I haven't seen it linked in 2 months.

[2016-05-05 15:49] mikedanese commented on #23174
@elsonrodriguez Using the two phase terminology of https://github.com/kubernetes/kubernetes/issues/23174#issuecomment-216749607, GKE uses salt for phase 2 but phase 1 (i.e. the bash part of kube-up) is orchestrated by the GCP control-plane. Since it works today theres really no motivation to change it and changing it actually poses considerable risk. The issue isn't salt on GKE, it's salt everywhe

[2016-05-05 15:57] pmorie commented on #24576
I'm cool with revisiting @yujuhong but if we do that we should drop this to p2

[2016-05-05 16:37] ScubaDrew commented on #20786
+1

[2016-05-05 16:40] spxtr commented on #24620
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/6143

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/6209

[2016-05-05 16:43] DreadPirateShawn opened #25204 "new namespace non-functional for over 5 minutes due to default service account creation delay"
We've occasionally run into an issue where we create a new namespace, but the corresponding service account isn't created for over 5 minutes, during which time the new namespace remains non-functional.

That is, we can create a replication controller in the new namespace, but it throws errors every second complaining that it's `unable to create pods: pods "grafana-20160505-063149-" is forbidden: s

[2016-05-05 16:45] spxtr commented on #23716
The job is disabled. Someone can feel free to pick it up anytime.

[2016-05-05 16:45] #23716 closed

[2016-05-05 16:46] #23162 closed

[2016-05-05 16:46] brendandburns commented on #24584
What kubectl version are you using?  Prior to HEAD, kubectl tries to validate experimental objects and fails.  At HEAD, I think it should ignore validation.

[2016-05-05 16:47] brendandburns commented on #25129
We should make sure that pluralization is consistent between server and client.  I will take a look at fixing this.

thanks!
--brendan

[2016-05-05 16:47] spxtr commented on #21420
Closing in favor of #24760

[2016-05-05 16:47] #21420 closed

[2016-05-05 16:57] jnardiello commented on #11204
Hello everyone,
We have just crushed in this issue as well. We are trying to setup a multizone cluster on AWS, the goal is to have minions spanning on all three Availability zones within the same cluster.

Setting up the cluster the main AZ (where `master` is) has no issues. All the minions are working fine and  `iptables` are correctly configured for network connectivity to work:
`MASQUERADE  all

[2016-05-05 17:00] lavalamp commented on #24507
Left this running overnight, repro'd a different issue though...

[2016-05-05 17:09] derekwaynecarr commented on #25146
@deads2k - fyi

[2016-05-05 17:12] yujuhong commented on #23397
If it helps, I remember the docker-containerd cpu usage to be quite low that it's insignificant.

[2016-05-05 17:15] spxtr commented on #23611
I think an admin just needs to go into the settings and remove it.

[2016-05-05 17:24] eparis commented on #23611
/me goes to use ADMIN POWER!

[2016-05-05 17:27] eparis commented on #23611
travis should now be dead (I think).
checks were not enforced on release-1.x branches, so it shouldn't have mattered.
travis is not longer 'required' on master.
long live no travis.

[2016-05-05 17:29] eparis commented on #23611
I'm closing this issue. reopen and ping me if I failed at killing travis.

[2016-05-05 17:29] #23611 closed

[2016-05-05 17:30] spxtr commented on #23611
Thanks :)

There's still some docs and code mentioning travis, plus `.travis.yml`, but not too much.

[2016-05-05 17:31] #24692 closed

[2016-05-05 17:33] jayunit100 opened #25205 "[e2e] Consolidate Schedulable vs Ready Nodes querying in tests."
TL;DR we just need to converge ListSchedulableNodes and GetReadyNodes.  The semantics are probably more complicated than they really need to be for most e2e's that use either of them.... here's my brain dump:

Problem:

ListSchedulableNodesOrDie lists NotReady nodes, which, are really for all intents and purposes not schedulable from the purposes of an end user or E2E Test.   GetReadyNodes, meanwh

[2016-05-05 17:33] jayunit100 commented on #25205
cc @kubernetes/sig-scalability @kubernetes/sig-testing

[2016-05-05 17:35] smarterclayton opened #25207 "Flake in e2e "should function for pod communication between nodes""
[code]

[code]

[2016-05-05 17:35] lavalamp commented on #24507
Hm, never mind, it was just the 10 minute test timeout, sigh.

[2016-05-05 17:41] jayunit100 commented on #25205
Ideally an opportunity for @spiffxp declarative node spectrum thing similar to the `ClusterVerificationFramework` type stuff

[2016-05-05 17:43] pmorie commented on #20549
@pweil- I wonder if you're hitting this.

[2016-05-05 17:43] pmorie commented on #20549
a new flavor of it, anyway

[2016-05-05 17:47] pmorie opened #25208 "Clarify what an 'expansion' interface is in the client sets"
It is not obvious to me at all what interfaces like these are for: [`pkg/client/clientset_generated/internalclientset/typed/extensions/unversioned/generated_expansion.go`](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/clientset_generated/internalclientset/typed/extensions/unversioned/generated_expansion.go#L8).  Can we add a comment to the template file explaining this?

cc @pwei

[2016-05-05 17:50] vishh opened #25209 "Limit the number of images exposed as part of NodeStatus"
`NodeStatus` currently includes a list of all images along with its size. This list can grow arbitrarily large on some clusters and it is bounded only by the disk capacity on each node.
The main purpose for exposing images in NodeStatus is to aid scheduling, by placing pods on nodes that already contain most of the required images.
If we can safely assume that the image pull latency for small imag

[2016-05-05 17:51] vishh commented on #19077
@Random-Liu Can you file a separate issue detailing the change that needs to happen to move pod status updates out of syncPod method?

[2016-05-05 17:52] ncdc commented on #25209
cc @kubernetes/rh-cluster-infra @smarterclayton

[2016-05-05 17:55] yujuhong commented on #25209
How is this issue different from #23355?

[2016-05-05 17:55] errordeveloper commented on #25126
Also, turns out one cannot issue `kubectl port-forward` against the proxy, it fails with `Upgrade request required`.

[2016-05-05 18:08] janetkuo opened #25210 "node e2e flake: Kubelet Container Manager oom score adjusting when scheduling a busybox command that always fails in a pod [It] it should be possible to delete"
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/25181/node-pull-build-e2e-test/4416/build-log.txt
[code]

@kubernetes/sig-node

[2016-05-05 18:16] bprashanth commented on #25207
https://github.com/kubernetes/kubernetes/pull/23567#issuecomment-217087670

Hmm, @kubernetes/goog-node pod ip changed.
There are 2 pods: different-node-webserver on e2e-gce-builder-3-3-minion-hc9h (10.245.5.9:8080) and different-node-wget e2e-gce-builder-3-3-minion-rqg4 (with entrypoint: wget --timeout=10 -s 10.245.5.9:8080).

The wget failed.
From https://pantheon.corp.google.com/storage/browser/

[2016-05-05 18:35] bobobo1618 commented on #25186
Updated since it appears most of the other getting started guides, including at least Docker, have the same problem. This problem is passingly mentioned in the [from scratch guide](http://kubernetes.io/docs/getting-started-guides/scratch/#security-models) but doesn't go into much more detail.

It seems to me that the cluster scripts should be updated to provision with HTTPS certs by default. Some

[2016-05-05 18:36] vishh commented on #24677
@edsiper We still haven't come up with a long-term format for stashing metadata alongside container logs, which logging daemons can then ingest.
With today's model, may be the plugin can continue to use docker logs metadata, but filter out the metadata before storing logs anywhere. Kubelet can add per-container log labels to docker containers, and fluentd-k8s plugin can then parse that appropriate

[2016-05-05 18:41] cjcullen commented on #24479
I think I found another instance of this. There really isn't much in the [logs](https://00e9e64bac54d07b90e911f82268b9cf34fd07d3c908d362bf-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F24902%2Fnode-pull-build-e2e-test%2F4531%2Fbuild-log.txt?qk=AD5uMEvNyWR-_WUbXwiSdNIv1fe3vHfFhUXY5sNQrY9zrLrO4Td7oefifqKaYOr6VdgC1UXrPtNNPJhwbPMu0EtqaYZ9WY7-0G-NHz6uEEuDjnSA

[2016-05-05 18:50] aveshagarwal commented on #25209
A quick thought (or concern) that comes to my mind is that from scheduling point of view, it seems like there is a high probability it might cause some applications with large images to land on some specific nodes always, somewhat tying those applications to those nodes, unless more care is taken. Only applications with smaller images would have a chance to experience  whole cluster. If this is de

[2016-05-05 18:54] ncdc commented on #25209
We have spreading predicates and priorities for that in the scheduler

[2016-05-05 18:58] cjcullen opened #25212 "@k8s-merge-robot is a conniving liar"
I ran into a flake on the node e2e (#24479). I asked @k8s-bot for a retest. It did kick off a new test run, but @k8s-merge-robot responded saying that I needed to link to an issue to get a retest. I was pretty sure I had, but when I checked back on my PR, my comments was gone. Luckily, I still had another window open with my comment, so I took a screenshot for evidence: https://github.com/kubernet

[2016-05-05 19:00] cjcullen commented on #25212
@spxtr

[2016-05-05 19:05] yujuhong commented on #25212
+1. I have experienced it a couple of times. It ate my comments.

[2016-05-05 19:08] rootfs opened #25213 "kube-up timed out on GCE"
Rebased to the latest master to pickup fix to #25198, but I got time out all the time.

@kubernetes/sig-testing

[code]

[2016-05-05 19:22] dchen1107 opened #25215 "Test docker nightly build against GCI image and Kubernetes head"
We have ~20 test jenkins builds are running against various GCI image, and Kubernetes builds already. @wonderfly kindly agreed to add another one to test docker nightly build for us. This is relatively easy comparing to today's debian-based containerVM image, and less error-prone.

@liangchenye This is the first step to unblock the work of automating docker validation process which you have been w

[2016-05-05 19:27] yujuhong commented on #25210
One of the suites failed:
[code]

[2016-05-05 19:32] tonymeng commented on #12337
Are you referring to [this](https://github.com/kubernetes/kubernetes/issues/8631#issuecomment-104404768)? Is there a way to map that to a URL (e.g. google.com)? I do not have an internal dns server.

[2016-05-05 19:47] nikhiljindal commented on #24240
We are in the last few weeks of 1.3.
Will be good to get this fixed.

[2016-05-05 19:53] Random-Liu commented on #19077
@vishh Will do! :)

[2016-05-05 20:05] smarterclayton commented on #24240
It's on my list after the protobuf stuff lands.  I believe it's a bug in gorestful.

[2016-05-05 20:05] derekwaynecarr commented on #25146
@ironcladlou - I agree with roll-up on failure conditions as a good first step before doing anything more radical.

[2016-05-05 20:07] derekwaynecarr commented on #25209
Is there an alternate API that could be invoked to find the exhaustive list of locally available images if its not in node status?

[2016-05-05 20:07] yifan-gu opened #25218 "rkt: Handle cadvisor's detection for rkt better"
When kubelet starts and tries to connect to rkt api service.
I saw the following error messages printed by rkt api service:

[code]

But it doesn't seem to affect the rktnetes's functionality.

cc @euank @sjpotter

[2016-05-05 20:12] kargakis commented on #25146
I would lean towards surfacing to status. Events is another area we need to work on. Related: https://github.com/kubernetes/kubernetes/issues/11994

[2016-05-05 20:14] sjpotter commented on #25218
Cadvisor.  It does the net test to see if the api service is running and
then kills the connection

On Thu, May 5, 2016 at 1:08 PM, Yifan Gu <notifications@github.com> wrote:

[2016-05-05 20:15] euank opened #25219 "CoreOS: Cluster scripts don't place cni plugins"
In `cluster/saltbase/salt/cni/init.sls` the CNI plugin is downloaded / placed appropriately (e.g. `/opt/cni/bin`

The CoreOS scripts don't set this up.

This breaks rktnetes with #25062 on a `./cluster/kube-up.sh` setup.

cc @yifan-gu

[2016-05-05 20:16] yifan-gu commented on #25219
Maybe I can include the fix in #22663 ?

[2016-05-05 20:17] derekwaynecarr commented on #17523
I encountered this here:

https://github.com/kubernetes/kubernetes/pull/24810#issuecomment-216676518

https://00e9e64bacc10db5eb724c1d4d4d23cf4fe70262b526a039cf-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F24810%2Fkubernetes-pull-build-test-e2e-gce%2F38133%2Fbuild-log.txt?qk=AD5uMEvAzRxf4jrdNeOQTztzweowTyIWckm8gd0H54IilNjdh2pRyeUIuAP2GWjLp754LM

[2016-05-05 20:20] ihmccreery opened #25220 "Recreated nodes don't get PodCIDR immediately"
I'm still investigating, but it looks like when we recreate nodes with the same name as an old node, the new node can't start Docker properly because it doesn't have a PodCIDR, and must wait ~5 minutes to get one.  My guess is that the NodeController doesn't hand the new node a new PodCIDR until it's been reporting itself Unhealthy for at least 5 minutes.

This is causing unnecessary (I think) dis

[2016-05-05 20:27] janetkuo commented on #25210
@yujuhong thanks. PR description updated.

[2016-05-05 20:34] quinton-hoole commented on #24880
@colhom @lavalamp Followup to our discussion today. @lavalamp and I agreed with @ixdy that pushing the Ubernetes control plane binaries to gcr.io by default (with option to override with alternative registry) would be sufficient, and easier than other alternatives we discussed (e.g. creating a registry inside the federated clusters).

[2016-05-05 20:37] janetkuo commented on #25142
We should add more examples in `kubectl rollout --help` too.

[2016-05-05 20:37] janetkuo commented on #25142
@kubernetes/kubectl

[2016-05-05 20:42] sjpotter commented on #25218
in containers/rkt/client.go

the issue is a workaround of grpc not failing fast if no servicel, so test with a raw net connection that something is listening on the port, but grpc then complains

ugly way to fix is to have api service run a plain listening socket that doesn't do anything on another port and we hit that to test if api-service is alive

[2016-05-05 20:43] dchen1107 commented on #24620
Bump the priority to P0 since it has several failures already, and currently blocks our merge queue. The last one is:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/16272/

[2016-05-05 21:00] dgaviola commented on #24803
This is also affecting us. We cannot make Kubernetes sends us the preStop HTTP GET request. We are using Google Container Engine with versions 1.2.3 for master and 1.2.2 for nodes.

[2016-05-05 21:24] ixdy commented on #25213
@rootfs do you have any code changes besides the e2e test?

May want to check logs on the master and nodes to see what's up. `cluster/log-dump.sh` may be helpful here.

[2016-05-05 21:30] Random-Liu commented on #25210
This is the same with #25169.
A quick fix #25121 and a long run fix #25224 are all ready. :)

[2016-05-05 21:31] timstclair commented on #23397
Yeah, that's consistent with my findings. I've updated the graphs to include containerd.

[2016-05-05 21:45] mikedanese commented on #12732
cc @gtank

[2016-05-05 21:47] dstynchula commented on #17084
How can I add this rule to the existing set of iptables rules that get applied to an Ubuntu node in an autoscaling group so that it gets applied on launch?

[2016-05-05 21:48] smarterclayton commented on #12732
This is about to merge to origin.  Will update once we get more practical use (I plan on trying it with pet sets for automatic peer signing)

[2016-05-05 21:52] Random-Liu commented on #23397
Maybe the CPU spike is because docker processes request much faster than before, the benchmark sends more request in the same period.

[2016-05-05 21:55] dchen1107 commented on #25215
cc/ @timstclair

@wonderfly suggested an alternative approach, and will provide the detail information here.

[2016-05-05 21:56] eparis commented on #25212
I bet it is the capital `I`

[2016-05-05 21:57] lavalamp commented on #24880
As an action item for a googler-- we need to create a testing bucket in
gcr.io for this to work. @ixdy or @fejta?

On Thu, May 5, 2016 at 1:34 PM, Quinton Hoole <notifications@github.com>
wrote:

[2016-05-05 21:59] Random-Liu commented on #25149
We have plan to do this #20950. :)

[2016-05-05 22:00] ixdy commented on #24880
@spxtr is current testinfra on-call

[2016-05-05 22:04] sjpotter commented on #25218
https://github.com/google/cadvisor/pull/1269

made the timeout 1ns and removed the tcp dial.  hopefully this basically means it will try once and not timeout before one it even tries once.

[2016-05-05 22:05] bprashanth commented on #17084
@justinsb did we end up fixing the provision scripts? if so, we can propose a cherry-pick

[2016-05-05 22:05] smarterclayton commented on #25019
Current state:

[code]

Going to look into a couple of options w.r.t. faster behavior.

[2016-05-05 22:07] smarterclayton commented on #25019
Benchmarks are here https://github.com/kubernetes/kubernetes/pull/25229

[2016-05-05 22:08] smarterclayton commented on #25149
At a minimum we should guard this specific error case from the exec code,
even before the PLEG stuff comes in.  Not a high priority issue, but it's
noise and not useful to users.

On Thu, May 5, 2016 at 5:59 PM, Lantao Liu <notifications@github.com> wrote:

[2016-05-05 22:12] vishh commented on #25209
cAdvisor already exposes a list of images.

On Thu, May 5, 2016 at 1:07 PM, Derek Carr <notifications@github.com> wrote:

[2016-05-05 22:14] Random-Liu opened #25231 "Kubelet: We should separate status update with SyncPod"
As is discussed in https://github.com/kubernetes/kubernetes/issues/19077#issuecomment-216686379.

Now we only update pod status at the beginning of `SyncPod`, so the pod status could never be able to reflect the changes happening in `SyncPod`, for example image pulling progress.

We should separate status update with `SyncPod`, so that we could update pod status whenever we need, and possibly driv

[2016-05-05 22:23] wonderfly commented on #25215
We definitely want to automate the docker validation tests that you guys wrote/will write, and run them on a continuous basis. We, GCI, internally have been doing continuous testing (at a much smaller scale) with docker HEAD, but it turned out that docker HEAD is rather flaky that made our test results more like noise. So instead, @dchen1107 suggested that we could do it with docker's prereleases

[2016-05-05 22:25] janetkuo commented on #24411
I believe the remaining task for this issue is to update kubectl conventions https://github.com/kubernetes/kubernetes/blob/master/docs/devel/kubectl-conventions.md? cc @k82

[2016-05-05 22:28] Random-Liu commented on #25215
@wonderfly SGTM! :)

[2016-05-05 22:29] dchen1107 commented on #24211
cc/ @jlowdermilk Cluster team is working on to make kubenet default. Once we switch this to production, we don't need to restart docker to configure cbr0.

[2016-05-05 22:30] dchen1107 commented on #20355
cc/ @jlowdermilk

[2016-05-05 22:39] elsonrodriguez commented on #23174
@mikedanese Gotcha, the phase separation definitely makes sense, so regarding phase 2, are the salt "everywhere else" problems related to how kube-up providers have extended salt? Or more related to community feelings towards salt?

If it's an extension problem, I think some guidelines could be put out to make us play nicer with salt base. if it's community pressure, what prevents other methods fr

[2016-05-05 22:45] bgrant0607 commented on #8830
cc @fejta

[2016-05-05 23:00] janetkuo commented on #11488
@kubernetes/kubectl

[2016-05-05 23:05] janetkuo opened #25234 "Enable search in `kubectl help`"
It'd be similar to Linux [`apropos` command](http://www.cyberciti.biz/faq/unix-linux-command/), a command to search the man page files

@kubernetes/kubectl

[2016-05-05 23:07] yujuhong commented on #25210
Closing as a dup of #25169

[2016-05-05 23:07] #25210 closed

[2016-05-05 23:17] smarterclayton commented on #25234
Why not just make `kubectl help` do a search if it doesn't have an exact match?

[2016-05-05 23:18] smarterclayton commented on #25234
[code]

[2016-05-05 23:18] madhusudancs commented on #22471
This is now documented here - http://kubernetes.io/docs/admin/multiple-schedulers/

[2016-05-05 23:18] #22471 closed

[2016-05-05 23:20] janetkuo opened #25235 "Implement `kubectl rollout status`"
Users now need to use `kubectl get deployment` to [check the rollout status of a deployment](http://kubernetes.io/docs/user-guide/deployments/#the-status-of-a-deployment), but it's subtle. We should add `kubectl rollout status` for better user experience.

Ref [proposal](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/deploy.md#deployment-version), original issue #17168 and ori

[2016-05-05 23:26] lavalamp commented on #25151
Well, it should be easy to just not wait at all, maybe? I'm OK with changing this behavior.

[2016-05-05 23:26] lavalamp commented on #25151
Although, are web clients XSS hardened? I'm not sure that we're optimizing for them currently.

[2016-05-05 23:27] bobbyrullo commented on #18549
We talked about this in sig-auth meeting, and we finally have something we all pretty much agree on:

* Make a new OIDC AuthProvider (introduced with #23066)
* Users will configure their kubeconfig with a client-id, client-secret, issuer URL, and optionally, some scopes
* The transport wrapped by `WrapTransport` will add ID token (if present) as a bearer token (like how it works now using the lega

[2016-05-05 23:29] mikedanese commented on #5754
What follows is a simplified strawman that solves the quoted problem domain.

Cluster automation does:
[code]
The clusterID is a 256bit random string. This creates a resource at path:
[code]
with type
[code]
apiservers are started with --cluster-id <cluster-id> and register PATCH the resource at the path to add their URL (protocol://hostname:port or --advertise-address) to a list of Endpoints. Onc

[2016-05-05 23:34] lavalamp commented on #25019
I'm definitely on board with optimizing this if needed. It is super well tested, so not too much fear of breaking things.

[2016-05-05 23:36] aronchick opened #25236 "Deployment Undo doesn't undo number of replicas"
Execute the following:

[code]

This results in 4 replicas running, instead of the expected 10 (since the deployment was undone).

[2016-05-05 23:36] aronchick commented on #25236
Related? https://github.com/kubernetes/kubernetes/issues/22512

[2016-05-05 23:38] AdoHe commented on #25235
@janetkuo why the original PR is closed? should we reopen it?

[2016-05-05 23:38] AdoHe commented on #25234
sounds good.

[2016-05-05 23:42] janetkuo commented on #25235
@AdoHe it's because this can be done with `kubectl get deployments`; we wanted to receive feedback from community first before adding `kubectl rollout status` command. So yes, we should reopen it.

[2016-05-05 23:46] AdoHe commented on #24411
I think so. @k82 if you have bandwidth, please go ahead.

[2016-05-05 23:55] liggitt commented on #25151
If you mean CSRF, it isn't an issue with bearer token auth. Basic auth should already have a big warning around it saying "not safe with browsers"

[2016-05-06 00:02] rootfs commented on #25213
the fourth try finally brought it up

[2016-05-06 00:02] #25213 closed

[2016-05-06 00:02] verdverm opened #25238 "Expected behavior for Deployment replicas with HPA during update"
I am seeing unexpected behavior from a user standpoint when `kubectl apply -f mydeployment.yml`

The existing Deployment has an HPA associated with it and the current replica count is 3. When the deployment is accepted, the number of replicas jumps to 9, then scales down to 6, the value in the deployment. Eventually, the new pods info starts flowing in and the HPA does its thing and scales back to

[2016-05-06 00:08] vishh commented on #24702
@Random-Liu Any updates on this feature?

[2016-05-06 00:12] vishh opened #25239 "Disk based evictions"
Local disk is shared amongst pods and system daemons on a best effort today. Since we do not support disk as a first class resource, there is no means to restrict disk usage of pods.
Often times, nodes run out of local disk, and kubelet needs to free up disk space. Kubelet can perform several actions to free up disk space - delete old containers, delete unused images, evict pods that use a lot of

[2016-05-06 00:22] bobbyrullo commented on #23720
follow up from the sig-auth meeting:

Here's the broad strokes of a proposal, based on what I think we all agreed to:

* User Groups should be pluggable
* The Interface for groups should be essentially `AddGroups(user UserInfo)`
  * (note that because UserInfo is an interface, we'd have either have to have a new UserInfo implementation that wraps an underlying UserInfo and return that or add AddGr

[2016-05-06 00:39] yujuhong commented on #25207
Relevant logs:
[code]

kubelet panic'd and wasn't handled properly until much later, this caused `kubelet.Start()` to be run again -- launching a second copy of status manager, pleg, and more.
Evidence:
 - `Starting to sync pod status with apiserver` was logged by `statusManager.Start()`
 - `Starting kubelet main sync loop` was logged by `Kubelet.syncLoop()`
 - The two instances of pleg eventually

[2016-05-06 00:40] madhusudancs opened #25241 "kubectl apply -f works for only a subset of resources in the file"
A user reported this error in the #kubernetes-users Slack channel.

[code]

Here is their config:

[code]

I tried to help debug a bit but without any luck. I think the user will be able to add more context. I will share this issue with them.

[2016-05-06 00:41] yujuhong commented on #25207
By the way, @smarterclayton could you double check to see if this was caused by your PR?

[2016-05-06 00:43] oliverdain commented on #25241
I am the user in question. The only additional context I can provide is that I was trying to do an `apply` to change the selector as, as you can see, it worked for one service but not the other two. This is a test cluster and I'm happy to get on a Google Hangouts and do a screen share if that'll help y'all debug.

[2016-05-06 01:51] yifan-gu opened #25242 "rkt: systemctl restart doesn't tell rktnetes that a pod fails to start"
I was testing the selinux support #24901 manually today by creating pods with good and bad selinux options.
And when I gave the pod bad selinux options, I expected the pod to fail.
However I saw the pod stuck in `ContainerCreating` state, even though the restart policy is no.

[code]

On the node, I saw the pod is prepared, but not running, this means the systemd fails to start it:

[code]

Also t

[2016-05-06 02:09] Random-Liu commented on #24702
@vishh Will work on this late this week.

[2016-05-06 03:21] smarterclayton commented on #25019
Tried out some optimizations in #25243.

1. Turned Quantity.Amount into an interface to try having an *inf.Dec impl and an int64 impl
2. Gave the Amount impls an `AsInt64() (int64, bool)` to allow fast comparisons and addition (when scales match)
3. Added a fast path to ParseQuantity that looked for strings without decimals and created an int64 amount
4. Reused more bigs during addition

Some othe

[2016-05-06 03:30] smarterclayton commented on #25019
5. For Canonicalize(), `Round` and `removeFactors` is slow, mostly because of the allocations but also the big decimal mods.  An int64 version should be significantly faster.

[2016-05-06 04:27] AdoHe commented on #25241
@oliverdain First could you provide the original yaml which you use to create the resource? And then the new yaml file which you use to do apply, I will try to reproduce this and take a look.

[2016-05-06 05:02] #24937 closed

[2016-05-06 05:02] #25169 closed

[2016-05-06 05:45] thockin commented on #8830
I have lots of thoughts on how to move in this direction.  If someone takes
up this mantle, please loop me in.  It's perpetually on my list of stuff
that annoys me but I'm just too busy

On Thu, May 5, 2016 at 3:46 PM, Brian Grant <notifications@github.com>
wrote:

[2016-05-06 05:47] madhusudancs commented on #25241
@AdoHe the yaml(s) in question is right in my issue description. Start with

[code]

for all the services and then replace it with the one in my message above.

[2016-05-06 06:13] cwt commented on #24418
Any update on this issue? I just upgrade GKE node to the latest version (1.2.3) and also install the latest new relic agent. Still can't monitor my docker instances.

[2016-05-06 06:15] davidopp commented on #25019
That package predated my joining the project and always struck me as overgenerality. Is there any reason we can't just use int64 for our internal representation of every resource quantity? I am unable to think of any resource for which that wouldn't work. Maybe there's something I'm not seeing...

If we could just use int64 internally, then we could convert to/from the current resource.Quantity ju

[2016-05-06 06:33] wojtek-t commented on #25019
Some of the gains are quite significant, e.g. 2x on "BenchmarkQuantityUnmarshalJSON-8".

That package predated my joining the project and always struck me as overgenerality. Is there any reason we can't just use int64 for our internal representation of every resource quantity? I am unable to think of any resource for which that wouldn't work. Maybe there's something I'm not seeing...

Actually - t

[2016-05-06 06:42] nikhiljindal commented on #24620
Failed again: https://github.com/kubernetes/kubernetes/pull/24943#issuecomment-216725855

[2016-05-06 06:54] euank opened #25246 "Flake: e2e_node_suite_test.BeforeSuite - could not load kubeconfig & bind: address already in use"
Link: https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/24701/node-pull-build-e2e-test/4637/build-log.txt

The bytespam decodes to:
[code]

Looks like tests might have been stomping on each other with the various "address already in use" and kubeconfig issues.

[2016-05-06 07:06] luxas commented on #23233
Please write in go

:+1:

[2016-05-06 07:46] timoreimann opened #25248 "Update documentation examples incorrectly referring to replication controllers with replica sets"
A number of examples spread across various documentation pages still speak of replication controllers where they should instead say replica sets. Many of these are of an introductory nature and thus tend to confuse Kubernetes newcomers in particular (as determined anecdotally by the number of Slack questions I personally see getting posted in this regard). One particular use case is the applicatio

[2016-05-06 07:50] chrislovecnm commented on #24030
@bprashanth https://github.com/kubernetes/kubernetes/pull/24912 makes me happy 👍

[2016-05-06 08:00] sjpotter commented on #25218
my fix didn't work, I've reverted it and have a bug files against grpc  https://github.com/grpc/grpc-go/issues/668

[2016-05-06 08:23] soltysh commented on #25146
@kargakis the problem with status is that you need to then parse the events and know which to present and which not. Which basically means you're tightly coupling the controller logic (responsible for updating the status) with specific events. I'd prefer having an easier way to collect events with regards to specific objects, exactly like in the attached issue, you've pointed to.

[2016-05-06 08:33] soltysh commented on #25067
/sub

[2016-05-06 08:33] timoreimann opened #25251 "Stabilize describer outputs"
All describers should exhibit a stable output behavior; that is, the output should only change if the state of the underlying object changes. Specifically, we should make sure that all iterations over maps (which Go randomizes) are always carried out in a stable, deterministic fashion.

TODO list (and related object(s)):
- [x] QoS classes (pod)
- [x] resource limits (pod)
- [x] resource requests (

[2016-05-06 08:35] k82 commented on #24411
@AdoHe & @janetkuo , I'll continue to work on it :).

[2016-05-06 09:04] davidopp commented on #19082
I wonder if we should have a notion of alpha/beta/GA opaque resources. Today we introduce new resources using annotations, which has some annoyances like requiring '-o yaml' to be able to see them in kubectl, and requiring a fair amount of code to be changed when it goes from alpha to beta (i.e. stops being an annotation). Examples of alpha resources are network bandwidth, and nvidiaGpu. If opaque

[2016-05-06 09:24] soltysh commented on #25037
Noticed yesterday in here: https://00e9e64bace7150fdbb45beb4aaf19178dec970d46de740b26-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F24662%2Fkubernetes-pull-test-unit-integration%2F24439%2Fbuild-log.txt?qk=AD5uMEsTHKOKyS7HPATkPmag7er9wEDMXku0Ssk4KSfFNLMDNAnxWVP15RGaepdvTBTjyNE9QmVOpsIe2PjmP4qe31o7BwFP3Ed9wotFXsjPLnQTwSXKHp8sSlnZ-qdTDpfGhaKNbqdDnK

[2016-05-06 09:41] dominikh opened #25252 "Incorrect comparison in unversioned.MatchesServerVersion"
The following code compares cVer.GitTreeState against itself. The RHS should probably use sVer instead:

[code]

[code]

[2016-05-06 09:43] soltysh opened #25254 "Add doomed-to-failure detection to Job"
Per [this comment](https://github.com/kubernetes/kubernetes/issues/24533#issuecomment-217058534) we want infant-mortality detection to Job, with no knob, and backoff in the event of failures in the middle of Job execution (#2529).

[2016-05-06 09:44] soltysh commented on #25254
@bgrant0607 mind assigning this one to me

[2016-05-06 09:45] soltysh commented on #24533
Fix in #25253. Although our current generator allows only having 1 pod. So additional changes might be required. But I'd propose to do it afterwards.

Infant mortality detection for Job moved to: https://github.com/kubernetes/kubernetes/issues/25254

[2016-05-06 10:16] #23809 closed

[2016-05-06 10:16] #24076 closed

[2016-05-06 10:20] soltysh commented on #24905
Here: https://00e9e64bac216e668d9f7d8d2842977f64705002defa478189-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F24662%2Fnode-pull-build-e2e-test%2F4694%2Fbuild-log.txt?qk=AD5uMEtkdd4dYJ6LWcPSJFAKgg8m5dTkDYSpZeBdOb02S5H262ebybmavrFwnQovjlqrCXXCJOI3ZOPRoteeJuVSGMMSLwQJXK8kc4n0Ae9FWv0PytubMvrljeFx7W6lwLe5RC2pBFiJvRBs3wwWSE_MwXYP9AOzrvZ3INLJ8X4XSjLKE79__SzNJd

[2016-05-06 11:58] resouer commented on #25209
I will update this to a top N list

[2016-05-06 12:20] luispabon opened #25257 "AWS: applications become unavailable when nodes are being scaled down"
I have an experimental set up on a cluster using k8s 1.2.3 on AWS, configured with autoscaling both of nodes and of pods.

I have manually added policies to the generated AWS autoscaling group to both scale up and down the cluster based on certain metrics, as k8s' command line tooling (eg kube-up.sh) don't seem to support this.

Scaling up works well. Pods are flowed into the new node very quickly

[2016-05-06 12:24] AdoHe commented on #25241
@madhusudancs @oliverdain in a recently PR #25074 I have updated this, so if you use apply to create the original resource, and then update it , it should be ok. I test this on HEAD, it's ok.

[2016-05-06 12:26] wojtek-t opened #25258 "Watch seems to NOT work with protobufs"
Today I enabled e2e suite where we are using protobufs to:
- communicate with apiserver
- store them in etcd

Tests are not even starting, because system pods are not starting. And it seems that scheduler is not even seeing anything to schedule.

I did some experiment and added a log in framer:
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/framer/framer.go#L87

to see the value of

[2016-05-06 12:27] wojtek-t commented on #25258
We are definitely not having objects of 2GB - those "remaining" values should be in order of 1000s

[2016-05-06 12:32] smarterclayton commented on #25258
It's probably pretty easy to recreate this under the BenchmarkWatchProtobuf if it's on the server side - just add arbitrarily large fields to some of the items

[2016-05-06 12:34] wojtek-t commented on #25258
I'm still not sure if it's server or client side. Still debugging.
BTW, I tried to modify the existing test in watch_test.go, but so far it's passing for me.

[2016-05-06 12:41] wojtek-t commented on #25258
BTW, to reproduce:

    export TEST_CLUSTER_API_CONTENT_TYPE="--kube-api-content-type=application/vnd.kubernetes.protobuf"
    export TEST_CLUSTER_STORAGE_CONTENT_TYPE="--storage-media-type=application/vnd.kubernetes.protobuf"
    make clean && make quick-release && go run hack/e2e.go -v --up

[2016-05-06 12:51] wojtek-t commented on #25258
Another finding:
- it seems that client is using "lengthDelimitedFrameReader" (it is first reading 4 bytes as a length of the frame)
- it seems that server is NOT using "lengthDelimitedFrameWriter" (I added a lot in its Write() method and this log doesn't appear at all)

[2016-05-06 13:02] smarterclayton commented on #25258
Definitely a bug.  Is the framer not set in the codec factory?

On May 6, 2016, at 8:51 AM, Wojciech Tyczynski <notifications@github.com>
wrote:

Another finding:

   - it seems that client is using "lengthDelimitedFrameReader" (it is
   first reading 4 bytes as a length of the frame)
   - it seems that server is NOT using "lengthDelimitedFrameWriter" (I
   added a lot in its Write() method and th

[2016-05-06 13:05] wojtek-t commented on #25258
What I don't understand is that we are using exactly the same CodecFactory both in client and server.
So maybe WatchServer is not receiving anything from storage?

[2016-05-06 13:08] wojtek-t commented on #25258
I mean from cacher? But we didn't change cacher at all, so if it works for jsons, it should also work for protobufs.

Let me do an experiment what happens if I switch on protobufs only for storage and clients will still be using jsons.

[2016-05-06 13:21] surajssd commented on #24383
@johndmulhausen ping

[2016-05-06 13:21] phagunbaya commented on #20786
+1

[2016-05-06 13:22] smarterclayton commented on #25258
Maybe my changes with StreamSerializerInfo broke it.  I don't see an obvious spot where it would have chosen the wrong framer.

[2016-05-06 13:25] sbezverk commented on #18372
@fabxc you mentioned in your post

I could not find a way to trigger it via cli (kubectl), does it exist only as API? If you know how to use configMap update/refresh with cli, appreciate if you could share.

[2016-05-06 13:28] wojtek-t commented on #25258
Hmm - I have some problem with my project, so those experiments might take me some time.

I'm still wondering why may client behavior differ from server behavior, so maybe something else is wrong... But I don't see the reason why client is using framer and server seems to not use it...

[2016-05-06 13:29] #25092 closed

[2016-05-06 13:58] errm commented on #25257
I think there is a 5 minute timeout on a node being marked as dead when it goes away.

You might have better results if you set the minimum number of pods in the autoscaler to 2, and ensure that your AWS autoscaling policy does not remove more than 1 node every 5 minutes.

[2016-05-06 13:59] yangyuqian commented on #17215
Not working to me as well.
I'm running k8s on master branch with mesos-0.24.1. Does it mean mesos-0.24.1 isn't support by the latest k8s?

Here is the error message.
![image](https://cloud.githubusercontent.com/assets/7478577/15075136/5fdc6c0e-13d5-11e6-8bf3-503148287342.png)

[2016-05-06 14:04] smarterclayton commented on #25019
First goal was correctness and generality of definition. I.e., that we have a consistent resource definition we can apply in many places.

As for where an int64 is not enough, precision aspects on very large quotas would be the first thing I can think of.  Rollup of 10GB across a thousand pods is very close to the int64 precision.  As we move to connected clusters, I would expect global quota / co

[2016-05-06 14:07] matthiasr commented on #25241
We also hit this snag, also with a selector update involved. Because in 1.1 `kubectl apply` would _not_ create we have `create -f`'d every existing service in our cluster. Is there a way to recover from this without deleting and recreating the service?

[2016-05-06 14:08] wojtek-t commented on #25258
OK - so I confirmed that if we just switch protobufs on for storage, that seem to work.

So the problem is in the server <-> client communication.
So if storage works fine (which means cacher which we don't touch when changing client<->server communication is also working fine and delivering watch events to WatchServer) that means that something is probably wrong with framer on the apiserver side.

[2016-05-06 14:21] bgrant0607 commented on #25234
SGTM

[2016-05-06 14:22] bgrant0607 commented on #25180
Yes, we decided a long time ago not to support built-in aliases. We should document that in kubectl conventions if it's not there already.

[2016-05-06 14:23] wojtek-t commented on #25258
So one more data point - I took a look what Framer in apiserver is.
And printing reflect.TypeOf(framer) here
https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/watch.go#L149
returns:

    fancyResponseWriterDelegator

IIUC, that means, that s.framer there is simply returning the given ResponseWriter.

Which means we are using incorrect framer in apiserver. Don't know why yet.

[2016-05-06 14:24] bgrant0607 commented on #1940
@kargakis Is this still missing?

[2016-05-06 14:27] DirectXMan12 commented on #25238
cc @kubernetes/autoscaling

The scaling of a deployment is based on the `replicas` field.  When the HPA scales a deployment, it also updates the `replicas` field.  AFAICT from your description, what's going on is that the `apply` operation ends up updating the replicas field, and thus is temporarily scaling the deployment manually until the HPA's next sync loop iteration (when the HPA notices the

[2016-05-06 14:31] kargakis commented on #1940
No, -v is a thing. Closing.

[2016-05-06 14:31] #1940 closed

[2016-05-06 14:41] bj916b commented on #6862
@thockin have there been any other discussions/work around this PR? i noticed it's a little old in kubernetes-land, but it would be sort of a nice feature to have for existing organizations who have LXC-based deployments. i'm only curious.

[2016-05-06 14:45] naphthalene commented on #14504
Is there any progress on this issue?

[2016-05-06 14:46] wojtek-t commented on #25258
OK - so the problem is that in apiserver we are using JSON as a streaming serialization codec.

So the problem seem to be that Accept header is empty (although I'm not sure why, yet)

[2016-05-06 14:47] mikebrow opened #25264 "Documentation incorrect for e2e testing on local cluster"
The documentation for learning how to run e2e tests sends you down a path that will not work.  Specifically it has you set up a single node local cluster to run the e3e tests locally. See:

[code]

Run the cluster...  run `go run hack/e2e.go -v --build --up --test --down`

Build works fine ... then on the --up part you get the following error:
 e2e.go:170: Cluster size (1) is too small to run e2e

[2016-05-06 14:47] kargakis commented on #25238
@kubernetes/deployment

[2016-05-06 14:55] wojtek-t commented on #25258
But what I confirmed for 100% is that apiserver is using JSON streamserializer instead of protobuf one.

[2016-05-06 15:05] spiralman opened #25265 "Allow enabling AWS ECR Credentials Provider outside AWS nodes"
It would be nice to be able to enable the AWS ECR Credentials Provider independent from setting the cloud-provider to "aws".

We would like to enable developers to stand up their own instance of our cluster and services on their local machines to enable local integration testing.

Our particular use-case is:
1. Developer stands up local cluster inside docker, using `latest` images from ECR for all

[2016-05-06 15:11] apatil commented on #25056
@dchen1107, just an update, the kubelet is still in the same state:

[code]

Some context that may be helpful is this happened after I had been experimenting with deploying an NFS server using the current Kubernetes example, https://github.com/kubernetes/kubernetes/blob/master/examples/nfs/nfs-server-rc.yaml, and https://github.com/kubernetes/kubernetes/pull/22665 . I changed the replication contr

[2016-05-06 15:24] luispabon commented on #25257
It's not much better. I have set up a new environment with 2 nodes and all my apps deployed with a minimum of 2 replicas. Then I've manually terminated one of the minions.

Applications still went unavailable for a couple of minutes.

Also, when the new node came back up online, pods failed to flow into it.

[2016-05-06 15:28] timothysc commented on #25056
/cc @ncdc

[2016-05-06 15:30] derekwaynecarr commented on #25146
@soltysh - if every object had the equivalent of NodeConditions that explained potential reasons for why a desired state could not be achieved that would potentially provide a cleaner method of introspection.

[2016-05-06 15:42] ncdc commented on #25056
If this is related to stuck image pulling, what you'll see in the docker daemon's log is something like this:

[code]

If pulling is stuck, this is all that you'll see. If pulling isn't stuck, then you should see something like the following:

[code]

And in the kubelet's log, this is the last entry you should expect to see for a pod that is stuck Pending / ContainerCreating if pulling is indeed s

[2016-05-06 15:46] smarterclayton commented on #25207
I have only seen this once, but it is possible.  Will look into the scenario.

[2016-05-06 15:47] smarterclayton commented on #25139
This s a potential race in many scenarios - I'm working on a fix for it in #24768

[2016-05-06 15:49] cameronbrunner commented on #19082
I like the idea of this resource promotion process and think it might even have some use as a concept outside of resources.

As for this comment:

Something we do in Grid Engine for this type of stuff is provide a `loadsensor` interface that is a script that can be executed on the exec host.  The script is started by our execution daemon with commands being passed via stdin (things like 'provide y

[2016-05-06 15:54] apatil commented on #25056
@ncdc, the image is definitely present on the node. I've verified by hand:
[code]

and also the kubelet doesn't log about creating a container. The logs here: https://github.com/kubernetes/kubernetes/issues/25056#issuecomment-216412369 are all it says after a pod is scheduled.

Note also that several pods have been in the 'Terminating' state for three days.

[2016-05-06 15:56] bgrant0607 commented on #21585
cc @kubernetes/kubectl

[2016-05-06 15:56] luispabon commented on #25257
Interestingly, when I bring the node down, new pods are created pretty much straight away, and I can from the command line open a shell into all of them. The service however is still unavailable from the ELB endpoint, even though the ELB only points to the only node available.

[2016-05-06 15:58] ncdc commented on #25056
@apatil can you ssh to the node and curl the kubelet port to get a stack trace? e.g. `curl -k https://localhost:10250/debug/pprof/goroutine?debug=2`

[2016-05-06 16:01] apatil commented on #25056
Here's the stack trace:

[code]

[2016-05-06 16:01] apatil commented on #25056
Stack trace attached.
[stacktrace.txt](https://github.com/kubernetes/kubernetes/files/252616/stacktrace.txt)

[2016-05-06 16:03] ncdc commented on #25056
goroutine 192 looks baaaad

[2016-05-06 16:03] bgrant0607 commented on #24078
What api group syntax did we settle on? I don't see it documented anywhere.
cc @caesarxuchao

[2016-05-06 16:04] therc commented on #19082
As I mention in https://github.com/kubernetes/kubernetes/pull/24836#issuecomment-217482186, using annotations and even labels makes alpha resources look so different that they become second class citizens when it comes to support from monitoring tools, etc., which in turn makes it even harder to graduate them, as there will be less extensive data and increased friction for users. (Also, when the r

[2016-05-06 16:04] bgrant0607 commented on #24078
With Ubernetes, we'll also have multi-cluster scenarios coming.

[2016-05-06 16:04] smarterclayton commented on #21585
Alphabetical is ok, but I'd prefer to do categorical.  @fabianofranz we need to make the templates stuff consumable and put it in Kube:

[code]

[2016-05-06 16:04] apatil commented on #25056
What does it mean?

[2016-05-06 16:06] smarterclayton commented on #24078
Syntax is:

    kubectl get hpa.v1beta1.extensions frontend

<resource>[[.<version>].<group>]

On Fri, May 6, 2016 at 12:04 PM, Brian Grant <notifications@github.com> wrote:

[2016-05-06 16:07] dhawal55 commented on #16361
[code]

[2016-05-06 16:14] jayunit100 opened #25268 "Determine which File system plugins work, and are stable for writing 1k, 1M, 1G of data, over service endpoints."
I think @rootfs  mentioned this hasn't been tested thoroughly in e2e tests.
- we want to know that volume plugins ability to work for basic content is tested in CI, at least for some highly stable things like NFS.
- (previously used --scale idea for the plan but now moving to using viper to customize data structures, see logging_soak for example)

[2016-05-06 16:14] jayunit100 commented on #25268
@kubernetes/sig-testing @kubernetes/sig-storage

[2016-05-06 16:27] bgrant0607 commented on #23875
cc @eparis @hongchaodeng @fejta

[2016-05-06 16:29] bgrant0607 commented on #21381
SGTM @tobad357. PR welcome.

cc @kubernetes/kubectl

[2016-05-06 16:30] ncdc commented on #25056
I think it's trying to mount the NFS directory. You said you had an incorrect configuration at one point?

[2016-05-06 16:31] ncdc commented on #25056
There are several goroutines in this state

[2016-05-06 16:32] smarterclayton commented on #25019
In the init PR I noticed that a lot of places are actually using Quantity.Value() today, which returns an int64, and is using that for calculations.  So we're potentially using Quantity in a way that doesn't benefit from Dec() in many cases.

@derekwaynecarr because you noticed this on init containers and I noticed that we were using Value()

[2016-05-06 16:32] smarterclayton commented on #25019
And we are doing comparisons on those int64

[2016-05-06 16:32] bgrant0607 commented on #21817
cc @kubernetes/examples

[2016-05-06 16:32] timothysc commented on #14978
@wojtek-t @mikedanese is there a time horizon on deployment change, or has it been de-scoped?

[2016-05-06 16:34] bgrant0607 commented on #21817
See also:
https://github.com/kubernetes/kubernetes/blob/master/examples/README.md
https://github.com/kubernetes/kubernetes/blob/master/examples/guidelines.md

Doc overhaul:
https://docs.google.com/presentation/d/14mJwJGlwBJHIpMRGR-nYMSyyNk-kRpabyz74-YYXeTo/edit#slide=id.g12d21f53ed_2_11
https://docs.google.com/document/d/12Nfj2E8tZL-CMnnpkSH9m5k_oqd4qJh4qDwYDxPGJJI/edit?ts=5705b1fc#heading=h.qfbb9

[2016-05-06 16:35] bgrant0607 commented on #21817
As far as repos go, we also have:
https://github.com/kubernetes/demos-and-tutorials
https://github.com/kubernetes/charts

[2016-05-06 16:37] bgrant0607 commented on #5465
cc @kubernetes/examples

[2016-05-06 16:39] bgrant0607 commented on #21635
Every page now has "I wish this page ..." at the bottom.

[2016-05-06 16:39] #21635 closed

[2016-05-06 16:40] #22142 closed

[2016-05-06 16:42] timothysc commented on #15867
/cc @jeremyeder

[2016-05-06 16:49] jeremyeder commented on #15867
Hmm, for me, the question is whether we really need to do this -- or should we be concentrating within the OCI framework to get away from CoW entirely.

If I could speak for only myself [1], I believe bind-mounted, read-only, non-root containers with payload on top is a superior design.

If you say that's too far off, then honestly not much has changed since https://github.com/kubernetes/kubernete

[2016-05-06 16:51] verdverm commented on #25238
This is more an issue when we have 20 replicas under load and roll a new Deployment and the replicas go from `20 -> 26 -> 6 -> ... -> 20`

[2016-05-06 16:56] krousey commented on #3955
My plan to attack this is to decode things to `runtime.Unstructured` and use the dynamic client for most operations. Here's a quick guess at commands that can be switched to decoding to `runtime.Unstructured`

 - annotate
 - apply
 - create
 - delete
 - edit
 - get
 - label
 - replace

I plan on adding a method to `cmdutil.Factory` to get dynamic clients, and the command by command, switching the

[2016-05-06 16:57] rhatdan commented on #15867
I agree the long range we should be getting rid of COW file systems in production.  COW if for Developers and "Pet" containers.

[2016-05-06 16:58] smarterclayton commented on #15867
Probably at least a year off for many people, and is fairly inflexible for
new users / new workloads.

On Fri, May 6, 2016 at 12:50 PM, Jeremy Eder <notifications@github.com>
wrote:

[2016-05-06 16:58] krousey commented on #3955
cc @kubernetes/sig-api-machinery @kubernetes/rh-ux

[2016-05-06 16:59] krousey commented on #24620
@nikhiljindal You got a direct logs link for that flake?

[2016-05-06 17:02] smarterclayton commented on #3955
Sounds reasonable to me.  I'm currently concerned that there is use of the
third party decoder in certain methods - we need to put that under the
decoder returned by the factory in some code paths, and you may hit that.

On Fri, May 6, 2016 at 12:56 PM, krousey <notifications@github.com> wrote:

[2016-05-06 17:02] smarterclayton commented on #21381
SGTM - has been requested several times.

On Fri, May 6, 2016 at 12:29 PM, Brian Grant <notifications@github.com>
wrote:

[2016-05-06 17:03] jeremyeder commented on #15867
So, is this gh issue really just asking for someone to write a test plan?

[2016-05-06 17:07] apatil commented on #25056
It's safe to assume I had an incorrect configuration at one point, yeah.

[2016-05-06 17:08] krousey commented on #24620
I'm looking into this, but not making much headway. There are a couple of different errors:

[code]

[code]

but it seems to be communication errors with the netexec pod. I'm going to try to find that code and see if there's a problem there. Also, anyone have an idea what all the `MISSING` stuff in the error means? Is it a url encoding error?

[2016-05-06 17:10] ncdc commented on #25056
Wrong IP address for the NFS server, or ?

On Fri, May 6, 2016 at 1:08 PM, Anand Patil <notifications@github.com>
wrote:

[2016-05-06 17:10] apatil commented on #25056
To clarify, that deployment doesn't _consume_ any NFS persistent volumes, and none of my versions did. It consumes a host volume and runs an NFS server. The pod spec is attached.
[pod.yml.txt](https://github.com/kubernetes/kubernetes/files/252706/pod.yml.txt)

[2016-05-06 17:12] apatil commented on #25056
So it can't be hanging trying to mount an NFS volume, it's trying to create an NFS volume.

[2016-05-06 17:14] apatil commented on #25056
By "incorrect configuration", I meant that my version of this: https://github.com/rootfs/kubernetes/blob/nfs-doc/examples/nfs/nfs-data/run_nfs.sh could have been wrong.

[2016-05-06 17:18] ncdc commented on #25056
Oh ok.

Here's one of several hung pod workers:

[code]

I don't know that this pod worker is necessarily associated with the nfs server pod. Regardless, it's trying to run

[code]

And hanging. You probably need to get some help from @kubernetes/sig-storage @pmorie when they have time.

[2016-05-06 17:19] apatil commented on #25056
OK, I appreciate your attention to this issue, I look forward to hearing from them.

[2016-05-06 17:22] krousey commented on #3955
@smarterclayton Just took a quick peek at the third party codec. From what it looks like, the dynamic client would exhibit the exact same file->wire behavior just with different internal representation. I'll be sure to cc on PRs and maybe you can point out what you mean.

[2016-05-06 17:23] bgrant0607 commented on #22061
I'd like to make the RC and RS controllers have deterministic/idempotent behavior.

We already made deletion idempotent by ensuring victims to delete are chosen deterministically.

I'd like to do the same for creation by making pod names deterministic.

I don't want to use dense indices, however, since that would have misleading connotations. However, we could do something like hash the pod templa

[2016-05-06 17:24] wojtek-t commented on #14978
I'm not aware of any plan for separating controllers into different pods. At least short/medium term.

[2016-05-06 17:24] bgrant0607 commented on #22061
Would need to rewrite incarnation annotations in the case of adoption.

[2016-05-06 17:26] smarterclayton commented on #3955
All I meant was that no code outside of cmdutil.Factory() needs to be aware
of ThirdPartyCodec.  Right now, it's littered through the codebase next to
the codec we pass through - the original intent of the RESTMapper and Codec
and ObjectTyper interfaces is that they're supposed to hide those details
from consumers in the code.

On Fri, May 6, 2016 at 1:23 PM, krousey <notifications@github.com> wro

[2016-05-06 17:27] mikedanese commented on #14978
I don't know about the priority of splitting control loops out of the manager but I don't think anyone is currently working on this. As Wojtek said, I think sharing state between controllers (where possible) can happen without impeding that goal. Breaking up the controller will increase the number of components required to start in the initial bootstrap but this change should not make that situati

[2016-05-06 17:31] smarterclayton commented on #14978
Breaking up the controller will unlock scaling of memory / CPU for
controllers, but impose more load on the API server (less shared caches /
watches).  We should definitely have the answer before we hit the hard
limit.

On Fri, May 6, 2016 at 1:27 PM, Mike Danese <notifications@github.com>
wrote:

[2016-05-06 17:34] chrislovecnm commented on #21817
@bgrant0607 we also have https://github.com/kubernetes/contrib ... how do this apply?

[2016-05-06 17:35] mikedanese commented on #14978
Sure. It seems orthogonal to this issue: sharing state between control loops if they are in the same process.

[2016-05-06 17:36] chrislovecnm commented on #5465
how does https://github.com/kubernetes/contrib compare to examples?

[2016-05-06 17:37] mikedanese commented on #14978
Missread your comment.

IIUC this is what we are debating here but we don't do it yet, so if we broke up the controllers today, the load ont the apiserver would be approximately the same.

[2016-05-06 17:38] smarterclayton commented on #14978
We have already started sharing the pod cache.  That's probably going to be
the worst one.

On Fri, May 6, 2016 at 1:37 PM, Mike Danese <notifications@github.com>
wrote:

[2016-05-06 17:44] janetkuo commented on #25180
Documented in #25269

[2016-05-06 17:54] bgrant0607 commented on #19680
Doc overhaul in progress:
https://docs.google.com/presentation/d/14mJwJGlwBJHIpMRGR-nYMSyyNk-kRpabyz74-YYXeTo/edit#slide=id.g12d21f53ed_2_11

It won't specifically address many of these issues, but hopefully will provide a better framework in which to address them.

[2016-05-06 17:56] wojtek-t commented on #14978
Yes - pod cache is already shared between controller and it seems to be the biggest load on it.

[2016-05-06 17:59] jayunit100 commented on #25268
this stems originally from some thoughts in #22665 , #24687

[2016-05-06 18:03] bgrant0607 commented on #21817
@chrislovecnm I want to nuke contrib: https://github.com/kubernetes/contrib/issues/762

[2016-05-06 18:03] chrislovecnm commented on #6222
This is awesome!

[2016-05-06 18:12] bgrant0607 commented on #25254
cc @erictune @kargakis @janetkuo

[2016-05-06 18:18] DazWilkin commented on #21635
Awesome! Thank you

[2016-05-06 18:22] janetkuo opened #25272 "Add a verbosity flag in `kubectl` commands that explains all the things that it's doing"
It'd be especially useful for commands like `kubectl run`, `kubectl expose`. Make `kubectl` functionality more discoverable.

An idea from @lavalamp.

cc @kubernetes/kubectl

[2016-05-06 18:23] timothysc commented on #14978
Just to be clear, I'm not opposed to the change.  I'm just wondering if there were plans to change the deployment, and that answer appears to be no.

[2016-05-06 18:26] janetkuo commented on #25272
The flag could be `--verbose`  (default = false). It'll be good for learning. Can be used in tutorial docs.

[2016-05-06 18:27] yifan-gu commented on #25242
So turns out because the API service doesn't return the pod as it cannot find the UUID (https://github.com/coreos/rkt/issues/2502), so kubelet thinks it's not started, thus keeps restarting it.

[2016-05-06 18:28] davidopp commented on #25019
Hopefully I'm not giving away any state secrets, but the per-cluster quotas at Google are expressed in int64 and I've never heard a request that it be changed to a larger datatype. At the risk of sounding provincial, if int64 is large enough for quotas at Google, I'd question whether there will exist Kubernetes installations that will need something larger. Now, you could argue (as you seem to be)

[2016-05-06 18:30] ncdc commented on #13585
PR is #25273

[2016-05-06 18:32] smarterclayton opened #25274 "rest_client_request_status_codes Metrics is recoding a value that is not a code"
This is from a production server - not sure how this value got in here, but the rest client looks like it's recording the wrong field (maybe .Status, instead of .Code) in error cases.

[code]

[2016-05-06 18:37] chrislovecnm opened #25275 "Hook for executing command before reducing number of pods deployed"
**Need / Justification**

Multiple big data stacks, and other technologies, cannot gracefully leave a their cluster when running inside of k8s

I have been looking for something to get my hooks into for more of a contribution to this project, and this may be one of them.  Before I start coding could use some advice on making sure this is not supported and how to do this well.  Still bit of a n00b

[2016-05-06 18:41] vishh commented on #15867
@jeremyeder We ideally want k8s to support only a single CoW filesystem, as long as a CoW is required. This issue proposes considering `Overlayfs` as that default. We need to run adequate tests, in addition to fixing the issues that @rhatdan has pointed out [earlier](https://github.com/kubernetes/kubernetes/issues/15867#issuecomment-149544988), before we can consider using `Overlayfs` as the only

[2016-05-06 18:42] dchen1107 commented on #15867
We filed this issue for evaluating / validating overlayfs since many users asked for / questioned it. We also decided to include it as the filesystem to our GCI image. But we are far away to decide which filesystem is the default / recommended filesystem for now.

One of Kubelet's roadmap for the disk accounting in short and medium term is supporting the most common docker storage backends: device

[2016-05-06 18:45] chrislovecnm commented on #21817
@bgrant0607 got yah, but would like to understand more.  I see duplicate work going on there, so I am just confused.

[2016-05-06 18:50] eparis commented on #15867
Given that overlayfs is non-posix conformant (and never will be) it seems it would be an extremely bad choice for it to be the `single` CoW filesystem. Bugs might be a problem right now which can be solved, but non-posix is a design flaw forever....

[2016-05-06 18:52] smarterclayton commented on #15867
We should definitely look to *enable* read only non-CoW.  I'm just worried
that it's yet another bar for usability for Kube, so we'll continue to be
expected to work well with the other workload.

On Fri, May 6, 2016 at 2:43 PM, Dawn Chen <notifications@github.com> wrote:

[2016-05-06 18:55] thockin commented on #24533
having just one pod seems like a non-starter, unless we demand that
--replicas == 1 when restart=Never

On Fri, May 6, 2016 at 2:45 AM, Maciej Szulik <notifications@github.com>
wrote:

[2016-05-06 19:10] dchen1107 opened #25276 "Validating GCI image as the default image for GCE & GKE"
We want to deprecate today's debian-based container-vm image, and switch to GCI image by default. Before we do that, we need to validate the image using Kubernetes testing infrastructure. GCI image has three different release channels: dev, beta, and stable. Besides that they also build ci release nightly. Today we already run the the following jenkins jobs against each image release:
  * kubernet

[2016-05-06 19:13] yujuhong opened #25277 "e2e flake: slow and unreliable image pulling"
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25054/kubernetes-pull-build-test-e2e-gce/38681/

[code]

[2016-05-06 19:16] Random-Liu opened #25278 "Unit test flake: k8s.io/kubernetes/pkg/registry/persistentvolumeclaim/etcd TestGet Panic"
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/24918/kubernetes-pull-test-unit-integration/24658/build-log.txt
[code]

[2016-05-06 19:18] bgrant0607 commented on #21315
Yes, we should document that httpHeaders is only available in 1.2.

[2016-05-06 19:18] ncdc commented on #25194
Are you running Docker 1.10?

[2016-05-06 19:19] bgrant0607 commented on #25194
See also #16670

[2016-05-06 19:22] ncdc commented on #25194
@bgrant0607 this has been fixed in master and 1.2.0+. This particular Kube above is one that we build from OpenShift's Godep'd copy of Kube. It does not contain the fix to fsouza/go-dockerclient.

[2016-05-06 19:23] bgrant0607 commented on #21405
@t5unamie You can find more information about how to get involved here: http://kubernetes.io/community/

[2016-05-06 19:24] bgrant0607 commented on #21405
@t5unamie It's not clear to me what you're trying to do. Could you please explain in a bit more detail? Why do you want to create an addon? Did you want to share it with the community?

[2016-05-06 19:25] bgrant0607 commented on #21414
cc @kubernetes/sig-testing

[2016-05-06 19:27] bgrant0607 commented on #21631
cc @bprashanth

[2016-05-06 19:28] bgrant0607 commented on #21735
cc @dlorenc @vishh @pwittrock

[2016-05-06 19:31] bprashanth commented on #21631
closing in favor of https://github.com/kubernetes/kubernetes/issues/21633
The example was fixed a while back

[2016-05-06 19:31] #21631 closed

[2016-05-06 19:39] jayunit100 commented on #25278
ill try to repro...

[2016-05-06 19:42] bgrant0607 commented on #22018
We've redone the whole site. This seems to work now.

[2016-05-06 19:42] #22018 closed

[2016-05-06 19:44] bgrant0607 commented on #22068
All these links seem to work now.

[2016-05-06 19:44] #22068 closed

[2016-05-06 19:46] bgrant0607 commented on #22109
See also #22770 and #22063

cc @justinsb

[2016-05-06 19:47] derekwaynecarr commented on #25239
@vishh - I should be able to assist in the bottom 3 parts of Stretch.

[2016-05-06 19:50] jayunit100 commented on #25278
i cant reproduce this in isolation

[2016-05-06 19:51] soltysh commented on #24533
@thockin yes it's [required](https://github.com/kubernetes/kubernetes/blob/5916baa387f02edfe30c731d8e5eb4ba34fdbfe1/pkg/kubectl/cmd/run.go#L147) for everything other than `RestartPolicyAlways`.

[2016-05-06 19:51] hongchaodeng commented on #23902
Fixed by #23923

[2016-05-06 19:51] #23902 closed

[2016-05-06 19:52] chrislovecnm commented on #25275
@bgrant0607 can you assist with the tagging, and who the heck do I talk to about this one ...

Got another fun one coming in ..

[2016-05-06 19:52] bgrant0607 commented on #22752
See efforts here: https://github.com/kubernetes/minikube

cc @vishh @dlorenc

[2016-05-06 19:54] bgrant0607 commented on #22752
See also #8413

[2016-05-06 19:59] jayunit100 commented on #25278
ah
[code]
looks like there are some ports used by this.  even though they're random, maybe thats thte source of the flake?

[2016-05-06 19:59] bgrant0607 commented on #25275
Cc @bprashanth @smarterclayton

[2016-05-06 20:13] bgrant0607 commented on #22799
This was fixed by PR #22845?

Nobody requested that it be cherrypicked into the release branch.

[2016-05-06 20:17] jayunit100 commented on #25278
@Random-Liu i think this is an infrastructure flake.  ive run it several times, and even run it in parallel (run the same test on the same machine multiple times in two terminals) and wasn't able to reproduce it.....  What do you think?

[2016-05-06 20:24] jeremyeder commented on #15867
Hi @dchen1107 --

Do you have any indication what is driving "since many users asked for / questioned it" ?

---

Yes indeed @mrunalp is correct, we did to a lot of testing on Overlay before we marked it as fully supported in the latest release of RHEL (7.2).

The output of that process was several things...documentation, configuration advice, performance testing, running a bunch of complex tradit

[2016-05-06 20:25] chrislovecnm commented on #25275
@bgrant0607 much appreciated!

[2016-05-06 20:28] jayunit100 commented on #25246
i wonder if the networking related flakes, like this, are more infra-flakes then anything else?  just a thought.

[2016-05-06 20:33] erictune commented on #23396
@ericchiang

At some stage, we will need to create "bootstrap policy" on the cluster.    That is, create canned roles, and bindings for the initial administrator account and for controllers.
On openshift this is stored here: https://github.com/openshift/origin/blob/2fb5c03de1b9a7208a03b9dd28e05a25e5de7d0e/pkg/cmd/server/bootstrappolicy/policy.go

The question is whether to store them as go objects

[2016-05-06 20:36] rhatdan commented on #15867
@rhvgoyal has been doing a lot of work with overlayfs kernel, trying to get SELinux to work properly and has found a few other issues, and submitted some fixes.

My biggest concern is about the lack of activity in the OverlayFS kernel work.  Until recently there have not been many people working on it, especially outside of Red Hat.

[2016-05-06 20:37] bgrant0607 commented on #16130
Obsolete.

[2016-05-06 20:37] #16130 closed

[2016-05-06 20:38] mikedanese commented on #23233
Before rewriting in go, we should evaluate wether helm can do what we need.

[2016-05-06 20:43] lavalamp commented on #25272
Isn't there already a -v?

[2016-05-06 20:44] lavalamp commented on #25272
Oh, right, this was talking about adding useful things, like describing e.g. "Making a deployment for you" so you can figure out what `run` does.

[2016-05-06 20:45] liggitt commented on #23396
We also store the yaml version in https://github.com/openshift/origin/blob/master/test/fixtures/bootstrappolicy/bootstrap_cluster_roles.yaml, with a unit test that makes sure they stay in sync, and adds an audit step to any changes to the defaults.

[2016-05-06 20:45] smarterclayton commented on #25275
The goal is to have something concrete an admin can invoke in the PetSet when cluster membership changes.  No promises for 1.3 (with alpha pet set), but we totally agree the use case you describe is critical to operation.

[2016-05-06 20:53] #24717 closed

[2016-05-06 20:54] smarterclayton commented on #25019
I'm hesitant to throw out the Dec implementation, but I am pretty convinced
we should have an int64 implementation, and if we're going to do that we
should at least consider the possibility of overflow promotion into the
higher order.

On Fri, May 6, 2016 at 2:28 PM, David Oppenheimer <notifications@github.com>
wrote:

[2016-05-06 20:57] ericchiang commented on #23396
Yeah that sounds good. I figured we'd have a set of reasonable defaults for documentation purposes at the very least.

I prefer yaml since it seems less magical, but either way is fine. Do we plan to turn on RBAC by default? (I remember discussion of making ABAC the default #22813.)

[2016-05-06 20:58] #24874 closed

[2016-05-06 20:58] #23300 closed

[2016-05-06 21:05] Random-Liu commented on #24702
Offline discussed with @yujuhong and @vishh , we decided to serialize an internal versioned object containing only necessary information instead of the api.Pod object, because:
1) We can not serialize only container spec or status with the current runtime serializer, because the serializer can only serialize the whole `runtime.Object`.
2) If we serialize the whole api.Pod into each container, beca

[2016-05-06 21:10] #24784 closed

[2016-05-06 21:12] caseydavenport opened #25281 "Kubelet checking pod status before CNI execution."
Seen on Kubernetes v1.2.3.

Looks like the kubelet is trying to look up a pod's IP address before the CNI plugin has actually been executed, resulting in the following cryptic message:

[code]

Here are logs isolating the issue, showing three notable events:
1) Intent to execute CNI - "About to run with conf.Network.Type=calico"
2) The above error log - kubelet trying to read eth0 before CNI has f

[2016-05-06 21:14] #24788 closed

[2016-05-06 21:15] #24423 closed

[2016-05-06 21:18] bgrant0607 commented on #23159
cc @kubernetes/docs

[2016-05-06 21:20] chrislovecnm commented on #25275
@smarterclayton much thanks, was not expecting it in 1.3 - just am happy to build a herd of pets ... Would it be a school of pets ;)

[2016-05-06 21:23] bgrant0607 commented on #22927
cc @dlorenc @vishh

[2016-05-06 21:25] bgrant0607 commented on #22911
cc @dlorenc @vishh

[2016-05-06 21:27] euank commented on #25246
"address already in use" doesn't sound like a networking issue but two tests stomping on each other / one test running over another.

[2016-05-06 21:27] bprashanth opened #25283 "Consider a kind of Service that ignores readiness"
This is mostly motivated by petset. Currently we create a governing service that is responsible for the network identity of each pet. The requirements of this governing service differ from a normal service in the following ways:
1. Pets have internal protocols to notice peer health, and a list of different checks (eg: http://www.cloudera.com/documentation/enterprise/5-4-x/topics/cm_ht_zookeeper_se

[2016-05-06 21:28] bprashanth commented on #25283
I have a wip that does this through an annotation: https://github.com/kubernetes/kubernetes/pull/25284

[2016-05-06 21:41] bprashanth commented on #25275
Yes that's "on-change". The request seems to be specifically about "on-scale-down".
If you can figure out that it's a scale down when you get a list of peers on-change, great.
If not, I'm still not convinced you can't just either terminationGracePeriodSeconds or prestop.

Why is it significant that you know the delete is in fact a delete from petset scale, vs a delete from user? Today, if you scal

[2016-05-06 21:43] #24163 closed

[2016-05-06 21:45] bprashanth commented on #25275
A channel whereby an admin can invoke the script is easy. Dosn't matter what the script it, it can be on-change, on-foobar etc. If the system is going to be responsible for sending the notifications, the easiest thing to detect is on-change.

[2016-05-06 21:45] bgrant0607 commented on #23380
Thanks @AdoHe. I changed the title to be more general.

[2016-05-06 21:46] bgrant0607 commented on #23380
cc @php-coder

[2016-05-06 21:48] hongchaodeng opened #25286 "Cluster Bootstrap Script with ETCD V3 Servers"
The current cluster bootstrap script (GCE specifically) pulls etcd v2 image from gcr.

As we are moving towards etcd v3 w.r.t. more comprehensive testing, we want to have the capability to bootstrap a cluster talking with etcd v3 servers. This includes two parts:
1. Configure kube-apiserver by specifying "--storage-backend" to "etcd3" and also other corresponding parameters if needed.
2. Start etc

[2016-05-06 21:49] #24931 closed

[2016-05-06 21:50] hongchaodeng commented on #25286
/cc @xiang90 @philips @mikedanese @yifan-gu @euank @timothysc @wojtek-t @gmarek

[2016-05-06 21:50] hongchaodeng commented on #22448
Re. cluster setup script, I open an issue: #25286

[2016-05-06 21:51] hongchaodeng commented on #25286
xref: #22448

[2016-05-06 21:59] janetkuo opened #25287 "Fix incomplete kubectl bash completion"
We have bash completion for some `kubectl` commands:
[code]

but many other commands don't support this (or have limited support)
[code]

Ref:

- to enable bash completion http://kubernetes.io/docs/getting-started-guides/gce/#enabling-bash-completion-of-the-kubernetes-command-line-tools
- cobra docs https://github.com/spf13/cobra/blob/master/bash_completions.md
- https://github.com/kubernetes/kube

[2016-05-06 22:00] janetkuo commented on #25287
Ref #23801 is moving it to `kubectl completion`

[2016-05-06 22:00] smarterclayton commented on #25275
this also gets into the script being able to easily know the desired scale of the cluster, vs the current scale.

[2016-05-06 22:03] #25097 closed

[2016-05-06 22:05] janetkuo commented on #25272
@lavalamp yes, this will be different from `--v`

[2016-05-06 22:08] yujuhong commented on #23503
Closing since the tests in question have been removed.

[2016-05-06 22:08] #23503 closed

[2016-05-06 22:08] #24182 closed

[2016-05-06 22:12] cjcullen commented on #25212
I opened https://github.com/kubernetes/contrib/issues/920 to track this in contrib.

[2016-05-06 22:12] #25212 closed

[2016-05-06 22:18] #24488 closed

[2016-05-06 22:25] bgrant0607 commented on #15244
Mocks:
https://docs.google.com/presentation/d/14mJwJGlwBJHIpMRGR-nYMSyyNk-kRpabyz74-YYXeTo/edit#slide=id.g12d21f53ed_2_11

[2016-05-06 22:25] dmcnaught opened #25289 "Generation of project_hash in cluster/aws/config-default.sh has problems if you have multiple releases per aws account&user"
When I uploaded a new version for testing (1.2.2), it made it so that bootstrapping the old version would fail (1.2.0) - scaling up the ASG for the minions.
Failure = endless loop:
`== kubernetes-server-linux-amd64.tar.gz corrupted, sha1 0a63308708b67aef20f274a17168848057b49325 doesn't match expected 289db0f893b47fc00461204dcdddef457def08b6 ==
== Hash validation of https://s3.amazonaws.com/kuberne

[2016-05-06 22:32] bgrant0607 commented on #25037
Hit this multiple times in one PR: #23988

[2016-05-06 22:36] bgrant0607 commented on #23388
CoreOS's main documentation is on their site:
https://coreos.com/kubernetes/docs/latest/getting-started.html

[2016-05-06 22:38] bgrant0607 commented on #23693
In general, we shouldn't expose implementation details to users. This should be fixed at the point where the error is generated.

[2016-05-06 22:39] bgrant0607 commented on #23727
cc @bryk

[2016-05-06 22:40] bgrant0607 commented on #23727
cc @derekwaynecarr re. vagrant

cc @dlorenc @vishh re. avoiding this problem in minikube

[2016-05-06 22:44] ravilr commented on #25283
+1. this is useful even in traditional n rc's and n+1 services setup for clustered systems like
n nodes zookeeper/etcd. Currently, there isn't a easy way to specify a readiness check in such setups, because the check in these cases would look for whether the pod member has joined the cluster successfully as follower, which wouldn't work as they discover each other through them appearing in service

[2016-05-06 22:44] bgrant0607 commented on #23778
cc @vishh @erictune

[2016-05-06 22:46] bgrant0607 commented on #23874
See also #4855.

cc @aronchick

[2016-05-06 22:48] janetkuo opened #25290 "Update `kubectl help` descriptions and examples from docs"
- [ ] Update kubectl commands descriptions to align with descriptions in [kubectl operations table](http://kubernetes.io/docs/user-guide/kubectl-overview/#operations)
- [ ] Add appropriate examples to kubectl commands from [kubectl overview examples](http://kubernetes.io/docs/user-guide/kubectl-overview/#examples-common-operations) and [kubectl cheatsheet](http://kubernetes.io/docs/user-guide/kube

[2016-05-06 22:48] janetkuo commented on #16089
#25290

[2016-05-06 22:48] bgrant0607 commented on #24020
cc @kubernetes/sig-aws

[2016-05-06 22:49] bgrant0607 commented on #24020
Related: #24420

cc @kubernetes/kubectl

[2016-05-06 22:52] bgrant0607 commented on #15092
Obsolete

[2016-05-06 22:52] #15092 closed

[2016-05-06 22:55] vishh commented on #23778
I can fix this! cc @derekwaynecarr

[2016-05-06 23:01] vishh commented on #25174
@smugcloud Ideally, InfluxDB and Grafana should store their data not to an `EmptyDir` volumes, but instead to a persistent disk.

If you intend to customize where volumes are stored, `--root-dir` kubelet flag is to play with.

[2016-05-06 23:05] janetkuo commented on #25083
It's becoming pretty green now. Possibly because of #24849

[2016-05-06 23:06] bgrant0607 commented on #24903
Please ask usage questions on stackoverflow.

Also PTAL at the documentation:
http://kubernetes.io/docs/user-guide/images/

Kubernetes always pulls from a registry.

[2016-05-06 23:06] #24903 closed

[2016-05-06 23:10] bgrant0607 commented on #24879
@vlyubin Did you create the resource via apply?

[2016-05-06 23:10] bgrant0607 commented on #24879
cc @kubernetes/kubectl

[2016-05-06 23:11] bgrant0607 commented on #24858
cc @janetkuo

[2016-05-06 23:12] bgrant0607 commented on #24858
@hekike Which kubernetes and kubectl releases? Did the patch actually trigger a rollout?

[2016-05-06 23:14] bgrant0607 commented on #24805
cc @kubernetes/kubectl

[2016-05-06 23:16] bgrant0607 commented on #24778
PR welcome, @krmayankk

[2016-05-06 23:20] bgrant0607 commented on #24484
cc @kubernetes/examples

[2016-05-06 23:22] chrislovecnm commented on #25275
Both are the same.  The Pet needs to know if it is being deleted, restarted, or updated.

We have three different behaviors in my mind.

1. scale down - DELETE - drain node - drop the mike - walk away
2. rolling update - UPDATE - restart the pid - sequential (1,2,3,4,5)
3. rolling restart - RESTART - stop - update container - use the same disk - start

Scale down is just that.  I am a pet that is

[2016-05-06 23:22] janetkuo commented on #25083
@AdoHe thanks for looking into this. From the log, it seems that `waitFor(1)`, which waits for 1 pod to be running within 90 seconds, timed out and caused the test to fail... which means that the pod's `checkOutput` isn't executed.

This flake is considered solved now. If it becomes flaky in the future, we should increase the timeout in `waitFor`.

[2016-05-06 23:22] #25083 closed

[2016-05-06 23:22] bgrant0607 commented on #24658
cc @brendandburns

[2016-05-06 23:23] bgrant0607 commented on #24658
@0x777 ThirdPartyResource was alpha in 1.2. We won't be backporting the fixes, of which there are several.

[2016-05-06 23:23] #24658 closed

[2016-05-06 23:25] janetkuo commented on #25083
Removing it from flaky list #25291

[2016-05-06 23:27] bgrant0607 commented on #24586
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-05-06 23:27] #24586 closed

[2016-05-06 23:28] bgrant0607 commented on #24606
cc @janetkuo @kargakis

[2016-05-06 23:36] bgrant0607 commented on #24668
This needs to be better documented (#16095), but it sounds like this was resolved.

[2016-05-06 23:36] #24668 closed

[2016-05-06 23:39] bgrant0607 commented on #24687
cc @kubernetes/examples

[2016-05-06 23:39] bgrant0607 commented on #24714
cc @vishh @dlorenc

[2016-05-06 23:47] derekwaynecarr commented on #25254
Can we avoid calling it by this name?

[2016-05-06 23:47] pmorie commented on #25254
please

[2016-05-06 23:52] bprashanth commented on #25275
Yeah, thanks for the context, that's the discussion we had https://github.com/kubernetes/kubernetes/pull/24912#discussion_r61774323.

Most of the pets I've prototyped, modelling an update as: leave cluster, updated, join cluster works. Agree that we can do better with fine grained events, we should target this > alpha. Most likely > beta though, since the main focus for beta will be getting things

[2016-05-06 23:53] derekwaynecarr commented on #25254
Maybe premature failure detection, where failure window is defined as X

[2016-05-06 23:53] bgrant0607 commented on #24731
@kubernetes/autoscaling @soltysh @bprashanth

[2016-05-06 23:55] bgrant0607 commented on #24744
See also #19575, #22059

[2016-05-06 23:59] bgrant0607 commented on #24744
@sijnc The API can't read your local file, so what you wrote won't work.

Do you want the secret updated, or to create a new secret? Do you want all consumers of the secret to get the updated value simultaneously?

[2016-05-07 00:01] bgrant0607 commented on #24744
cc @kubernetes/kubectl @pmorie

[2016-05-07 00:03] bgrant0607 commented on #24744
You may be able to do:
[code]

[2016-05-07 00:04] lavalamp commented on #25019
@davidopp ah yes, but internally we don't store memory in millibytes! ;)

(this is a joke about previous bugs in resource.Quantity-- for anyone who hasn't followed it carefully)

More seriously, the metrics API IIRC does want to store things in nanocores for some reason or other. Expanding beyond int64 might be needed. I'm on board with a int64 implementation as long as there's a fallback.

[2016-05-07 00:04] krousey commented on #24620
So this test has a lot of moving parts. I actually diagrammed to help me understand it for anyone who cares:

[code]

[2016-05-07 00:06] bgrant0607 commented on #22207
cc @ghodss

[2016-05-07 00:09] krousey commented on #24620
@ncdc Any ideas as to why this is starting to flake so much? Also, do we need to do it for both environment variables? If this sequence flakes 10% of the time, running it twice increase the overall flake to 19% of the time.

[2016-05-07 00:10] bgrant0607 commented on #22207
The only forms of notification that should happen in the main repo are via the API: conditions and events.

Adapter components may be built in other repos to export status and events to other systems (monitoring/alerting, logging, databases, etc.).

[2016-05-07 00:13] yujuhong commented on #25281
Yes, there is a race condition because kubelet has a component that periodically polls docker to detect new containers (or any container state changes). In this case, you create the infra container first, and then call the cni plugin to setup the network. Between this two operations, kubelet detected this new container and tried to gather more information about the "pod" this container belongs to.

[2016-05-07 00:13] jayunit100 commented on #24620
Also, Is nginx even needed ? After all exec can be done in any simple pod. And the proxy is local right ?

[2016-05-07 00:16] yujuhong commented on #25281
@caseydavenport do you want to fix the parsing issue?

[2016-05-07 00:19] yujuhong commented on #24702
Just wanted to add that the pod spec written on the container may be outdated, and we don't want people to start relying on it.

This would be much simpler if annotations are mutable or if we can checkpoint somewhere else...

[2016-05-07 00:25] ncdc commented on #24620
@krousey not really. I don't have any foundation for this, but my gut feeling is there is something weird going on with the GCE networking between the apiserver and the kubelet (that's missing from your diagram above). It uses the rest generic proxy in the apiserver to proxy traffic between kubectl and the kubelet. That's where the timeouts seem to be occurring (at least that's where they were hap

[2016-05-07 00:33] sijnc commented on #24744
@bgrant0607 In my second comment I talk about kubectl loading the local file when running:

`kubectl create | apply -f my-secret.yaml`

When it encounters dataFromFile kubectl base64 encodes it before inserting it into the spec and submitting it to the API.

WTR Kubernetes updating the secret, it would probably be confusing if calling kubectl apply did not update the secret and it was consumed as

[2016-05-07 00:40] ncdc commented on #24620
@jayunit100 any image will work. The proxy is not local - you can't set HTTP_PROXY=127.0.0.1:3128 and have it work. The go code that sets up proxying ignores local loopback addresses. So we run a pod as the proxy. And we run another pod as the exec target (nginx currently).

[2016-05-07 00:51] yujuhong commented on #25242
yes, kubelet needs to see the dead body to be convinced that the pod failed, due to the lack of other proof.

[2016-05-07 01:21] therc commented on #25265
I wrote the ECR code and that TODO in particular. I was thinking of the bare metal cluster use case (we have one we'll migrate to Kubernetes, but only after we can support multiple GPU devices per node). I guess this issue is mine.

[2016-05-07 01:26] spxtr opened #25294 "e2e flake: [k8s.io] PersistentVolumes NFS volume can be created, bound, retrieved, unbound, and used by a pod"
Immediately after this test was reenabled in #25128 we got huge numbers of parallel flakes in `kubernetes-e2e-gce`. This might be a coincidence. I'll make a PR to move it to flaky. If things haven't improved after it's moved then I'll revert, else I'll assign this issue to @jsafrane.

![ss](https://cloud.githubusercontent.com/assets/7368979/15089494/00f277ea-13b9-11e6-94db-c568d47adfbb.jpg)

[2016-05-07 01:42] derekwaynecarr commented on #23778
I actually think we should remove the more info link altogether and just
say total limits may exceed 100% because the scheduler schedules to
requests.

On Friday, May 6, 2016, Vish Kannan <notifications@github.com> wrote:

[2016-05-07 01:56] madhusudancs commented on #25241
cc @bgrant0607

[2016-05-07 02:03] pmorie commented on #24744
@sijnc good news, @ingvagabund has made a PR today to make extend the secret volume and make it behave like the configmap volume: atomic updates when the secret updates, and control over filenames and subdirectories of keys in the volume

[2016-05-07 02:04] pmorie commented on #24744
@sijnc oops; https://github.com/kubernetes/kubernetes/pull/25285

[2016-05-07 02:12] bgrant0607 commented on #25241
Updates are documented here:
https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/user-guide/managing-deployments.md#in-place-updates-of-resources

If the lack of a config annotation is the problem, you should be able to use `kubectl patch --save-config` to make this change and add the annotation.

To remove the old label, you'll need to explicitly null the value in the patch, like

[2016-05-07 03:51] thockin commented on #16727
@pmorie @childsb @jsafrane @rootfs @saad-ali

Hey all,  I am clearing out old PRs and issues and realized this is still open.  I propose one of 2 solutions.

1) We leave this as-is.  If you ask for NFS on a system that doesn't have NFS tools available, Mount() will fail, hopefully with a decent error message.  The volume plugin is correct, the system is wrong.

2) We add a "CanMount()" interface t

[2016-05-07 03:51] #16727 closed

[2016-05-07 03:51] thockin commented on #12650
@pmorie @childsb @jsafrane @rootfs @saad-ali

Hey all,  I am clearing out old PRs and issues and realized this is still open.  I propose one of 2 solutions.

1) We leave this as-is.  If you ask for NFS on a system that doesn't have NFS tools available, Mount() will fail, hopefully with a decent error message.  The volume plugin is correct, the system is wrong.

2) We add a "CanMount()" interface t

[2016-05-07 03:51] #12650 closed

[2016-05-07 04:09] saad-ali commented on #12650
I'm ok with 1

[2016-05-07 04:41] bgrant0607 commented on #25194
Thanks, @ncdc. Is there a reason this is still open?

[2016-05-07 05:02] caseydavenport commented on #25281
@yujuhong Yep, happy to do that.

Agree that the race condition is safe to ignore.  I have encountered a number of users who thought there was something wrong with their cluster because of the message, so a fix for the log would definitely improve user experience.  I can take a look at that as well when I get a chance.

[2016-05-07 05:14] #24819 closed

[2016-05-07 05:32] thockin commented on #17362
I'd love to make time (or for someone else to make time) to make the
go->swagger process do the right thing for cases like:

[code]

and to see us do more of this sort of inlining, rather than type-sharing.
I think it makes docs clearer too.

On Tue, Nov 17, 2015 at 11:38 PM, Brian Grant <notifications@github.com>
wrote:

[2016-05-07 06:13] roberthbailey commented on #25276
Why not do this now so that we get as much soak time as possible before the 1.3 branch is cut? I'm not sure if we want to duplicate all of the soak and scalability tests or just start running them on GCI instead of the older debian-based container-vm.

[2016-05-07 06:14] davidopp commented on #25019
@timstclair @vishh @piosz Is it true that the node-level or master-level metrics API wants to measure things in nanocores? If so, why?

[2016-05-07 06:57] abourget commented on #20146
I'm hitting a similar issue, but in my case.. I'd like to do the verification of Keystone.  Where does the kubelet read the ca-certs on the system ? I thought it was `/etc/ssl/certs` (as per https://golang.org/src/crypto/x509/root_unix.go ) but it doesn't seem to work for some reasons.

[2016-05-07 08:15] DarkSkull91 opened #25304 "Example of NFS volume doesn't working"
Hi guys! I've just run nfs example, but all I got is this error:
[code]

why?

[2016-05-07 08:29] AdoHe commented on #25039
can close this one.

[2016-05-07 08:46] hekike commented on #24858
@bgrant0607

`kubectl version`
[code]

[2016-05-07 09:23] AdoHe commented on #21585
@smarterclayton seems better, we should apply the same to kubectl.

[2016-05-07 10:38] #25039 closed

[2016-05-07 10:43] kargakis commented on #25272
Would still be confusing:/

[2016-05-07 11:09] kargakis commented on #25146
@soltysh isn't each controller responsible for emitting those events anyway? Agreed with @derekwaynecarr. Conditions is the way to go.

[2016-05-07 11:15] ncdc commented on #25194
I would say it's safe to close and that there should be a big reported
elsewhere for this particular issue with the vagrant box.

On Saturday, May 7, 2016, Brian Grant <notifications@github.com> wrote:

[2016-05-07 11:21] wojtek-t commented on #25019
yeah - nanocores granurality sound at least strange; are we even able to e.g. force limits at the level of nanocores?

[2016-05-07 11:22] kargakis commented on #24805
It would be nice to be consistent with the output from create/delete. For example, the log above should be something like:
[code]

[2016-05-07 11:29] kargakis commented on #24606
When there is no new replicaset, nil takes its place and the panic is caused because of it.

[2016-05-07 11:36] wojtek-t commented on #25258
@smarterclayton - I'm assuming that you didn't have time to look into it yesterday, right? I'm going to look into it on Monday, so if you have any further findings just let me know.

[2016-05-07 11:39] AlmogBaku commented on #11011
We still facing the same issue:
https://github.com/coreos/coreos-kubernetes/issues/467

[2016-05-07 12:38] advoretsky commented on #23392
@pmorie It would be very good to see this option in the http://kubernetes.io/docs/getting-started-guides/docker/#run-it page command.

[2016-05-07 13:35] derekwaynecarr commented on #25146
Per the reservation discussion, I have a general proposal on supporting reservations here though it is primarily motivated around addressing latency between the creation of a resource and the quota recalculation:  https://github.com/kubernetes/kubernetes/pull/20113

I will need to think if it can be extended to support controllers making a reservation on behalf of a not yet created resource.  cont

[2016-05-07 14:10] keontang commented on #25127
I have solved this problem by adding a index template for k8s logs.