[2019-02-17 19:40] corneliusweig commented on #74178
@kubernetes/sig-cli-feature-requests

[2019-02-17 20:08] corneliusweig opened #74179 "Move HumanReadablePrinter to cli-runtime"
**What would you like to be added**:
The cli-runtime repo (`kubernetes/staging/src/k8s.io/cli-runtime`) provides generic printing functionality for plugin authors. However, the `HumanReadablePrinter` from package `k8s.io/kubernetes/pkg/printers` is not included. This printer should also be available in the cli-runtime repo, so that plugins can use it.

**Why is this needed**:
Printing a resource i

[2019-02-17 20:18] jonfairbanks commented on #65387
Did this fix get lost in the shuffle? Any chance getting this fix merged in?

[2019-02-17 21:15] #61543 closed

[2019-02-17 21:25] MaciekPytel commented on #73738
There are several differences between v2beta1 and v2beta2, you can't just take beta2 yaml and change apiVersion. In particular in v2beta1 target is specified differently - instead of 'target' object you have a targetAverageUtilization field.

[2019-02-17 22:04] clouless commented on #45487
For all stumbling upon this. I have setup k8s via kubeadm 1.13.3 on an Ubuntu 18.04 host (upgraded from 1.11.x). Had problems pulling from my nexus on my slave nodes.

What fixed it for me was as mentioned above:

(1) as root run: `docker login nexus.k8s.home.mydomain:32554`
 * enter username and password
 * check that file `/root/.docker/config.json` exists and contains entries like
[code]

(2) C

[2019-02-17 23:33] wubigo commented on #68333
kubeadm 1.13 has set the default value to Default route transits interface ip address instead of loopback ip

[2019-02-18 00:19] michmike commented on #74134
i am ok to have that conversation, but please file a ticket @neolit123 and let's discuss that in sig-windows

[2019-02-18 00:20] michmike commented on #74134
everyone, thank you for your help and responses. trying to bring back this conversation to the original request. what would you like us to do in order for the few folks from google that have permissions to upload the windows images to be used for testing.

[2019-02-18 00:25] michmike commented on #73489
@bclau  can you please add this image to your request for https://github.com/kubernetes/kubernetes/issues/74134 and ask that this image is pushed under gcr.io/google-samples or gcr.io/google-containers?

[2019-02-18 00:28] michmike commented on #74101
@feiskyer  can you please propose an alternative fix for 1.14?
thank you!
cc: @PatrickLang

[2019-02-18 00:31] michmike commented on #70882
@adelina-t  if this issue is fixed, can we please close it? thanks!

[2019-02-18 01:38] rkttu-devsisters commented on #65163
I think this problem occurs if you do not specify the hostname-override parameter in the AWS environment the same as kubelet. Thanks to the Windows Container team for confirming this issue.

I will close the issue.

However, later in the Kubernetes installation guide, it would be better to add a detailed explanation with the troubleshooting guide etc. to see what problems can occur when this param

[2019-02-18 01:38] #65163 closed

[2019-02-18 01:50] giovannicandido commented on #30606
I don't think I did anything different. I did follow their instructions, created the storage class **hcloud-volumes** and used the yaml shared.

https://github.com/hetznercloud/csi-driver

[2019-02-18 02:05] manojtr commented on #2630
I also face the exact same issue described above.

[2019-02-18 02:25] mrbobbytables commented on #72956
`./third_party/*` should be fixed in #74180

[2019-02-18 02:57] monica-wei commented on #73307
Hi @subramanian-neelakantan,  in my case we don't provide `[Labels]` in vsphere configuration file and we don't have storage policy either.

so we set the the Minimal roles/privileges for vsphere according to https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/vcp-roles.html#minimal-set-of-vsphere-rolesprivileges-required-for-dynamic-volume-provisioning-without-storage-policy-bas

[2019-02-18 03:04] cespo opened #74188 "RoleBinding not respected if talking to the kubelet directly"
**What happened**:
I am trying to retrieve container logs via the kubelet API but get a 403 'Forbidden'

`curl -k -H "Authorization: Bearer ${TOKEN}" https://<NODE-IP>:10250/containerLogs/<NAMESPACE>/<POD>/<CONTAINER>`

This is my ClusterRole

[code]

And this is the RoleBinding
[code]

Kubelet logs
[code]

If I convert the RoleBinding in a ClusterRoleBinding the curl command works

[code]

**What

[2019-02-18 03:05] cespo commented on #74188
/sig apimachinery

[2019-02-18 03:10] wwyhy commented on #51096
we are using same C5 instances, but not EKS, we are deploy k8s with kops.

we set the `timeoutSeconds` to 5, no help.

[2019-02-18 03:25] xichengliudui commented on #72956
fix cluster/addons/fluentd-elasticsearch/fl……uentd-es-image/run.sh at #74187

[2019-02-18 03:28] candyleer commented on #3295
wait for this feature

[2019-02-18 03:37] SataQiu commented on #74178
In fact, `kubectl` already supports command completion.
You can run `kubectl completion -h` for more information about it.

If you are using bash shell，just run `source <(kubectl completion bash)`, and then it will work!

[2019-02-18 04:08] yue9944882 commented on #67546
/remove-lifecycle stale

[2019-02-18 04:15] cespo commented on #74188
@kubernetes/sig-api-machinery

[2019-02-18 04:56] liggitt commented on #74188
The Kubelet API does not authorize requests at the same granularity as the Kubernetes API server (all requests for container logs are authorized uniformly as requiring permissions to the nodes/proxy subresource). See
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-authentication-authorization/#kubelet-authorization

Nodes are a cluster scoped resource, so permissions must

[2019-02-18 04:56] #74188 closed

[2019-02-18 05:27] andyzhangx opened #74190 "A storageAccount API call blocks kubelet from becoming Ready when there isn't any outbound IP"
**What happened**:
A storageAccount API call blocks kubelet from becoming Ready when there isn't any outbound IP, 1. eventually (after 10mins), the kubelet registers again... there is a call to the ARM API done by `azure_blobDiskController.go:70` which blocks for 10mins, before letting kubelet complete with its starting logic and making the node as `Ready`

details: https://github.com/kubernetes/c

[2019-02-18 05:47] xichengliudui commented on #72956
[code]
in #74192

[2019-02-18 05:52] shsjshentao commented on #74128
I think it is the same with [https://github.com/kubernetes/kubernetes/issues/61999](url)

[2019-02-18 06:20] xichengliudui commented on #72956
[code]
in #74193

[2019-02-18 06:26] danielloczi commented on #72395
Is there any news regarding this bug?
In some time critical setup in production it causes serious issues, and as far as I know there is still no solution or workaround.
Any idea how to make pods re-started as fast as possible after node failure?

I already configured liveness probes, but unfortunately it doesn't help as it seems to me that the failed kube-system pods checks the result of the liven

[2019-02-18 06:40] andyzhangx commented on #73849
@feiskyer I tried with the above exact service config, and it works well on my k8s v1.13.3 cluster created by aks-engine, how can I repro that error?

[code]

[2019-02-18 06:43] andyzhangx commented on #73849
@feiskyer correction: there is no error, while UDP port rule is not created, I can repro that.

[2019-02-18 06:44] huynq0911 commented on #74132
I was a little bit confused. As far as I see that almost `priorityMetadata` usages are inside  `priorities` package (`image_locality.go` also). So, can you give me an example of accessing `priorityMetadata` outside  `priorities` package?

[2019-02-18 07:38] mm4tt commented on #73461
New failure:

Run link: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-killer/1731
Error: `[measurement call TestMetrics - TestMetrics error: [resource constraints: 1 constraints violated: [container kube-proxy-e2e-big-minion-group-m4xc/kube-proxy is using 0.051962892/0.05 CPU]]]`

Took a look at the test history and found similar failure some time ag

[2019-02-18 07:39] feiskyer commented on #74101
Yep, of course. Need to figoure out how to fetch the data more efficiently first.

[2019-02-18 08:10] Reamer opened #74197 "Flapping HostIP when node has multiple IP addresses"
Copy of https://github.com/vmware/kubernetes/issues/519 because this repository is archived.

**What happened**:
Using Openshift with vsphere cloud provider, works as expected till you [add multiple egressIPs](https://docs.okd.io/latest/admin_guide/managing_networking.html#enabling-static-ips-for-external-project-traffic). After adding multiple `EGRESS IPS` the cloud provider changes the `HOST IP`

[2019-02-18 08:12] Reamer commented on #74197
/sig vmware

[2019-02-18 08:23] wojtek-t commented on #74088
Sorry - I meant "we should not print 10% of slowest ones" - what's the point of printing 15k pods in 5k-node density test?

[2019-02-18 08:25] subramanian-neelakantan commented on #73307
Hi @monica-wei, have you made sure that the k8s user logging in to vCenter has been provided the "Read-only" role on the datacenter, cluster and hosts on which k8s VMs are running? To do this:
1. log in to vCenter as a administrator user
2. Select Datacenter, go to Permissions tab
3. Click on add permission button, select k8s user, and select "Read-only" role
4. Click ok.

This should now provide

[2019-02-18 08:30] myonlyzzy commented on #33777
I think the reason there is no  node  cpu Requests  can satisfied pod cpu request.  use this command check all node cpu request ,  `kubectl describe nodes {NodeName}` . if pod request cpu add current request cpu more than 100% , kube-scheduler will  get a event "Kubernetes Pods not scheduled due to "Insufficient CPU" "

[2019-02-18 08:36] mkf-simpson commented on #62594
Encountered the same issue on the single node. New pods stuck in `Waiting: ContainerCreating` status. `sudo reboot` on the node helped

[2019-02-18 08:46] fungiboletus opened #74201 "ConfigMap in Ingress"
**What would you like to be added**:

I would like to deploy an Ingress with configurations settings stored inside a ConfigMap.

**Proposed Solution:**

[code]

**Why is this needed**:

I would like to share the same configurations for my various environments (testing, stage, production,…). Today I have to manually maintain a set of files or use a template system such as Helm. It would be nice to

[2019-02-18 08:57] mm4tt commented on #73176
Thanks Jonathan!

I've reserved a scale-testing slot for tomorrow to test the fix.
Will update this issue once I have the results.

[2019-02-18 09:02] cheyang commented on #52757
@RenaudWasTaken , we have open sourced a solution to do the GPU sharing in Kubernetes. Welcome to try and comment.

GPU Sharing Scheduler Extender:  https://github.com/AliyunContainerService/gpushare-scheduler-extender
GPU Sharing Device Plugin: https://github.com/AliyunContainerService/gpushare-device-plugin

Thanks!

[2019-02-18 09:08] monica-wei commented on #73307
Hi @subramanian-neelakantan thanks for your quick response.

I **granted the "Read-only" role on the vCenter, datacenter and set "propagate to children" to No** according to Minimal set of vSphere roles/privileges required for dynamic volume provisioning **without storage policy** based volume placement

![image](https://user-images.githubusercontent.com/47728900/52939460-33991d80-339f-11e9-8b8d-b

[2019-02-18 09:14] brancz commented on #67126
/remove-lifecycle stale

I'm not sure an event is the right thing, but we need some sort of signal that can be processed to potentially notify people.

[2019-02-18 09:21] Unrealnew commented on #72395
I "simply" believe that in the transition between 1.12 and 1.13 they introduced a bug in dealing with the monitor-period ooptions. It would be useful to know a roadmap for solving this important problem!

UP!

[2019-02-18 09:27] #68911 closed

[2019-02-18 10:05] krzysied commented on #74088
I found it useful when debugging. It allows to easily spot when multiple pods are sequentially scheduled on same node.
Maybe instead of printing it in he log, we want to write it to the file?

[2019-02-18 10:05] subramanian-neelakantan commented on #73307
@monica-wei, Ah I see that this instruction is given only for the Datacenter (with propagate to children set to no). I will see how to update this documentation.

Meanwhile, could you confirm here whether repeating the permission setting for Cluster and Hosts solves this issue for you? It might help others coming here for the same issue.

[2019-02-18 10:12] ogirardot commented on #73856
+1

[2019-02-18 10:41] adelina-t commented on #70882
This issue has been fixed by pr #71036 .
/close

[2019-02-18 10:41] #70882 closed

[2019-02-18 10:41] wojtek-t commented on #74088
Have you ever went through a list of 15k pods? Seriously?
This isn't even readable: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/310/build-log.txt

[2019-02-18 10:42] xichengliudui commented on #72956
[code]
in #74205

[2019-02-18 10:50] krzysied commented on #74088
Ok, I see why this whole list is not readable. Mostly I skimming through ~20 slowest pods.
I agree that this list can be shorten, however I would like also to keep some part of this log.

[2019-02-18 10:56] monica-wei commented on #73307
Hi @subramanian-neelakantan , I tested in our lab, kubelet is running after adding "Read-only" role on the vCenter, datacenter, Cluster and Hosts where VMs are running. And the "propagate to children" set to no.

[2019-02-18 11:01] jwlogemann commented on #74066
Hi,
The suggestion of checking the kubeletwin/pause was the right one. The image bundled with Kubernetes is based on build 14393 (server 2016), so it doesn't work on server 2019.

The fix was to build a new Pause image. I used this as the Dockerfile:
`FROM mcr.microsoft.com/windows/nanoserver:1809
CMD cmd /c ping -t localhost`

And then I tagged it as 'kubeletwin/pause'

Perhaps this should be add

[2019-02-18 11:06] subramanian-neelakantan commented on #73307
Hi @monica-wei, thanks for confirming. Really appreciate you reporting the documentation issue in
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/vcp-roles.html.

[2019-02-18 11:29] #68883 closed

[2019-02-18 11:34] rowshan commented on #74201
I get this error once I tried to join slave with master:
`$ sudo kubeadm join 10.147.69.63:6443 --token qsyq32.jsvm1emj05bk85p5 --discovery-token-ca-cert-hash sha256:e4faf6143b282f0d6fc55ce5e563f748e06a258176497da36564aeeac657dc0c
[preflight] Running pre-flight checks
[preflight] Some fatal errors occurred:
	[ERROR Port-10250]: Port 10250 is in use
[preflight] If you know what you are doing, you c

[2019-02-18 11:53] bclau commented on #74066
Indeed, I remember having this issue some ago too. My first instinct was to check the desired Pod's container image, not the kubeletwin/pause image. IMO, the failure reason in this scenario is not obvious enough and could be something that we could improve upon.

Hmm, maybe. The documentation you linked only tells you that you should pull the ``mcr.microsoft.com/windows/nanoserver:1809`` image and

[2019-02-18 12:22] bibryam commented on #70496
Is this different that defer-containers proposal?
https://github.com/dhilipkumars/community/blob/9e81de385df8355af78b32ec0dd596cecda86a8a/contributors/design-proposals/defer-containers.md

[2019-02-18 12:30] #68893 closed

[2019-02-18 12:30] #68303 closed

[2019-02-18 12:33] SataQiu commented on #73803
I briefly studied this problem and found that this may be caused by json encoding.

Look at the secret encoding code:
pkg\kubectl\generate\versioned\secret_for_docker_registry.go#Line151
[code]

Before executing `json.Marshal()`, the data(`dockerCfgJSON`) is completely correct!
But after `json.Marshal()`, the HTML escaping is performed on the data(`dockerCfgJSON`).

Here is part of the description

[2019-02-18 12:34] corneliusweig commented on #74178
Hi @SataQiu , but I'm not talking about command completion in general. I'm talking about command completion for `kubectl` plugins. For example, the new plugin system allows to call a plugin with at location `/usr/bin/kubectl_my_plugin` as `kubectl my-plugin`. It would be nice to get `my-plugin` suggested, when typing `kubectl `<kbd>Tab</kbd>.
Further, if plugin names are completed, so should be op

[2019-02-18 12:42] liggitt commented on #73803
Maybe we should do some work for the json decoding?

The escaped JSON values are equivalent. "&" and "\u0026" are equivalent strings and would not be interpreted differently once read by the JSON consumer. You can verify this by reading the decoded JSON value and printing it out.

[2019-02-18 12:44] dixudx commented on #46107
/remove-lifecycle stale

[2019-02-18 12:55] luarx commented on #49466
I would appreciate that feature also. As @bahho said, a pod can be restarted a lot of times!

[2019-02-18 13:01] skbly7 commented on #72511
@danwinship Example to replicate on other k8s clusters.
NOTE: This will happen only if your FORWARD policy is DROP as the above comments already told.

Run a deployment with 3 replicas (on different nodes), haven't added anti-affinity, but one can just verify manually.

[code]

[code]

Do the below multiple times, only one node will receive all packets v/s others receiving only first packet.

[cod

[2019-02-18 13:01] elmo3006 opened #74210 "Kube-dns: name resolution does not work (connection refused)"
**What happened**:
Pods cannot resolve other pods names. Pod2 cannot connect to pod1, in the logs we can find:

[code]

[code]
[code]
Netstato kube-dns pod shows that port 53 is available:
[code]
[code]

**Log**
Kube-dns:
[code]

dnsmasq:
[code]

sidecar:
[code]

**Environment**:
* Kubernetes version (use `kubectl version`): v1.9.7
* Docker version: 1.12.6
* OS (e.g. from /etc/os-release): Red Hat

[2019-02-18 13:02] elmo3006 commented on #74210
/sig network

[2019-02-18 13:08] ylhyh commented on #63390
@kvaps, it's not work
Example:
node001 joined to k8s first time, and got assigned pod cidr 10.112.11.0/24 from k8s, then I removed it from k8s cluster by some reason.  Is it posible to keep the original cidr 10.112.11.0/24?  Actually it is always create a new cidr, such as: 10.112.12.0/24, 10.112.13.0/24, 10.112.14.0/24 ...

[2019-02-18 13:26] skbly7 commented on #72511
@fasaxc Thanks for your comment.
I was able to restrict the custom FORWARD rule a bit more as you suggested. Tested and only allowing `NEW` state temp fixes the issue for me. Let's see what will be good solution at kubernetes level.

[code]

[2019-02-18 13:55] nitin302 commented on #56903
I'm using AWS EKS with Kubenetes v1.10 with kube-dns What fix can I use, to mitigate these timeouts?
If the kernel fix needs to be done, does it need to be done at Amazon Linux kernel as patch from the linux kernel?

[2019-02-18 14:05] sepich opened #74211 "securityContext runAsGroup leads to diff on kubectl apply"
**What happened**:
Applying the same yaml leads to `configured` instead of `unchanged`
[code]
Removing `runAsGroup` fixes it:
[code]

**What you expected to happen**:
When there is no diff with `kubectl.kubernetes.io/last-applied-configuration` there should be no `configured` response?

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Versi

[2019-02-18 15:24] ipuustin commented on #72956
I'll do `hack/lib/util.sh` next.

[2019-02-18 15:26] rcsavage commented on #70496
The defer-container proposal would suffice and provide additional benefits.   Seems like that proposal was started in 2017.   How can we raise the priority?

[2019-02-18 15:33] #68885 closed

[2019-02-18 16:01] mm4tt opened #74213 "Start running kube-prometheus stack in scalability tests"
**What would you like to be added**:
We'd like to have the Prometheus stack ([kube-prometheus](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus)) running in our scalability tests.

**Why is this needed**:
There are couple of reasons:

1. It will simplify writing SLI assertions/tests that are based on metrics not necessarily exported on master. Some examples here ar

[2019-02-18 16:01] mm4tt commented on #74213
/sig scalability

[2019-02-18 16:08] IvanMijailovic opened #74214 "Catch PodExceedsFreeCPU or PodExceedsFreeMemory events in Java Client API"
Hi All,
Is there any way to catch PodExceedsFreeCPU or PodExceedsFreeMemory events in Java Client API code?
On the other hand, make Java Client code aware of these failed events.

Thanks in advance!

[2019-02-18 16:14] kinghrothgar commented on #43916
I have found MongoDB workloads seem to also consistently recreate this problem. I am having to give pods +50% memory (around 50% of the dataset size) to prevent them from getting evicted. As such I'm migrating mongodb out of Kubernetes.

[2019-02-18 16:38] mm4tt commented on #74123
Fixed ![dc3iq1hoc1x](https://user-images.githubusercontent.com/2604887/52964940-e8353e00-33a3-11e9-8e67-ec702f84276c.png)

/close

[2019-02-18 16:38] #74123 closed

[2019-02-18 16:46] liggitt commented on #74211
That is attempting to set a field that is not currently enabled by default in the api. Client-side, kubectl sees that it wants to set the field and that it is not set server side

/close

[2019-02-18 16:46] #74211 closed

[2019-02-18 16:46] deepanvermag3 commented on #68321
Any update on this? @Nilubkal @charandas @SneakyMax I have this issue:
I have a running AWS EKS cluster with 2 worker nodes of type T2 and M3. I have mongo deployed on M3 and my application code deployed on T2. If kube-dns pod is running on M3, then microservices don't talk to mongo, but if it runs on T2, microservices can talk to mongo. How to work on this problem?

[2019-02-18 16:58] aojea commented on #71565
Checking at the logs we can see that the entry disappeared from the conntrack table

[code]

It couldn' timeout because there is only a 1-second gap between both reads, most probably something closed the connection, but it's hard to know from the log files :thinking:

[2019-02-18 16:59] maxbischoff opened #74215 "Non-existent image referenced in imageutil"
**What happened**:

I extracted the images from https://github.com/kubernetes/kubernetes/blob/master/test/utils/image/manifest.go to mirror them in a closed environment and got an error for `CudaVectorAdd2` resepctive gcr.io/kubernetes-e2e-test-images/cuda-vector-add:2.0:
`Error response from daemon: manifest for gcr.io/kubernetes-e2e-test-images/cuda-vector-add:2.0 not found`
The var `CudaVectorA

[2019-02-18 17:00] maxbischoff commented on #74215
@kubernetes/sig-testing-bugs

[2019-02-18 17:03] anarchistHH1983 commented on #74215
I signed it

On Mon, Feb 18, 2019, 12:01 PM Maximilian Bischoff <notifications@github.com
wrote:

[2019-02-18 17:29] embano1 commented on #67703
Resolved with the following PRs:

https://github.com/kubernetes/kubernetes/pull/72731
https://github.com/kubernetes/kubernetes/pull/72687

When pending [tests](https://github.com/kubernetes/kubernetes/pull/72732) are merged, this should make it into v1.14. According to a [comment](https://github.com/kubernetes/kubernetes/pull/72731#issuecomment-464337091) from @frapposelli a backport is not likely

[2019-02-18 17:29] #67703 closed

[2019-02-18 17:42] ekhaydarov commented on #2630
this issue has been open for like 5 years. no one from kubernetes is interested in it and it may be for a reason, valid or not. there were many number of valid solutions to the simple problem but none of them were implemented.

Not sure why this issue doesnt just get closed

[2019-02-18 17:48] anarchistHH1983 commented on #2630
Help w comp talk.

On Mon, Feb 18, 2019, 12:44 PM Erkin Khaydarov <notifications@github.com
wrote:

[2019-02-18 18:07] virtuman commented on #72949
having exact same issue on baremetal k8s with just 3 nodes. first observed on v1.12.1, since then, upgraded to 1.12.3, issue persists. we use kubespray for cluster management and CentOS as the host OS.

[2019-02-18 18:21] jeffdyoung commented on #67721
@dims Can you give me what would be required? Currently, I can get Fedora-29 2cpu/2GB RAM LPARs.   Is this enough, and how many nodes do you usually test with?

[2019-02-18 18:30] dims commented on #67721
@jeffdyoung need at least 2 nodes. i am not quite sure about the CPU/RAM requirements though.

[2019-02-18 18:33] 2PacIsAlive commented on #24725
This has me so confused. I am creating a deployment that automatically creates a replicaset - I am not creating the replicaset directly. How do I get that replicaset to have `restartPolicy` `Never`?

[2019-02-18 18:43] bclau commented on #74066
So, @jwlogemann, if this no longer is an issue, can you close this issue, please?

[2019-02-18 18:47] andersjanmyr commented on #27768
It's also possible to use the name of the hook with log.
[code]

Example:
[code]

[2019-02-18 18:49] neolit123 commented on #74173
/sig windows

[2019-02-18 18:49] neolit123 commented on #74169
/sig node

[2019-02-18 18:50] neolit123 commented on #74128
/sig node

[2019-02-18 18:50] mourya007 commented on #70958
@mikedanese Could you specify how can i help in this issue ?

[2019-02-18 18:51] neolit123 commented on #74135
/remove-sig cluster-lifecycle

[2019-02-18 18:51] neolit123 commented on #74214
/sig api-machinery

[2019-02-18 18:52] anarchistHH1983 commented on #74128
/sig windows

On Mon, Feb 18, 2019, 1:51 PM Lubomir I. Ivanov <notifications@github.com
wrote:

[2019-02-18 18:59] neolit123 opened #74218 "windows: considerations about the pause image"
1. determine a good default location for the pause image on Windows
should we host in in GCR as the default location for users?

2. image contents
- we most likely need to make it schema2 with support for all OS versions that we want to target.
- ideally needs to be as small as possible.
  - if users will target nanoserver on worker nodes the image should be nanoserver based too.
  - if the users

[2019-02-18 19:08] jsturtevant commented on #73417
Agreed this is a more common case.

I am not sure that it is.  Is this tested on linux somewhere?

[2019-02-18 19:33] jsturtevant commented on #73417
I am seeing strange numbers reported when performing a test case.  I scheduled a few pods to test memory limits and then schedule a pod with no memory limit and a process that will consume all of the available memory 500mb at a time:

[code]

After the pod consumes all available memory, When I compare Node Allocatable/Node usage/Pod Usage I am not seeing the numbers add up properly:

[code]

My no

[2019-02-18 19:36] jingxu97 commented on #2630
@mheese As you commented here https://github.com/kubernetes/kubernetes/issues/2630#issuecomment-424876108 to set a uid and gid for a volume , do you still trying to working on it? Thanks!

[2019-02-18 19:37] #68944 closed

[2019-02-18 19:43] sudomann commented on #30617
I discovered this thread when searching for a solution to some unrelated use of kubernetes, where kubectl suddenly wouldn't be able to connect to the cluster, throwing:
[code]
Here is the method i used to work around it, in case it can help someone else:

Not wanting to use the older, more insecure authentication method;
[code]
I deleted the kubeconfig file
[code]
and re-authenticated with `gcloud

[2019-02-18 19:50] jingxu97 commented on #64157
@kfox1111 , could you give some more details about how you want to deploy the driver? Normally system admin who has the root access can deploy the driver by running it in privileged containers.

[2019-02-18 20:38] #65870 closed

[2019-02-18 21:10] miry commented on #71887
same issue for 1.14.0-alpha3

[2019-02-18 21:13] michmike commented on #74066
we will include this in the GA docs for windows containers on K8s. i had already added a note on this. thank you and sorry for the trouble. i will close this ticket now.

[2019-02-18 21:13] michmike commented on #74066
/close

[2019-02-18 21:13] #74066 closed

[2019-02-18 21:48] michmike commented on #74101
You may want to check if bypassing PowerShell and going directly to WMI where the data is stored is more efficient (This can be done in addition to caching to help alleviate the stress on the node).

wmic /namespace:\\root\StandardCimv2 path MSFT_NetAdapterStatisticsSettingData  get name, receivedbytes, sentbytes

[2019-02-18 22:06] jayunit100 opened #74223 "Leaderelect.go doesnt affirm it created a new lock for a new leader"
Looking at controller/scheduler logs, You get a somewhat counterintuitive read out in cases where a cluster goes down eventually:

[code]

In this case, we had a healthy controller manager for 6 hours or so, and then something went wrong.  at *9:34*.  However, since all we see is errors by default, we cant easily see that in a crashlog.  This PR just makes it so we affirm that newly created locks

[2019-02-18 22:09] jayunit100 commented on #74223
/sig testing

Assigned to sig-testing b/c i'd like to use these logs to look at how leader election events in broken clusters occured/ or did not occur .

[2019-02-18 22:15] rhockenbury commented on #73417
I believe node allocatable will always just be capacity minus reserves (system and kubelet) - https://github.com/kubernetes/kubernetes/pull/69960.  So in this scenario it looks like you have `--kube-reserved` and/or `--system-reserved` set?  The memory % on the node is relative to the allocatable amount, and still seems to be under the total memory capacity - are you sure that all available memory

[2019-02-18 22:52] shyamjvs commented on #73444
https://github.com/kubernetes/test-infra/pull/11353 should add back the kops-aws presubmit. Kops-aws CI jobs look pretty good too - https://testgrid.k8s.io/google-aws#kops-aws

[2019-02-18 23:30] neolit123 commented on #74201
you need to check what is taking up port 10250?
if it's something by kubeadm try calling `sudo kubeadm reset` before `...join`.

[2019-02-18 23:31] neolit123 commented on #74201
/sig cluster-lifecycle

[2019-02-18 23:50] lisa opened #74225 "Kernel oops with kubernetes 1.13.3 on arm64 arch"
**What happened**:

During normal operation kubernetes operations in a small three-node cluster (one master node and two non-master nodes) I experience a [kernel oops](https://gist.github.com/lisa/972b27c561e1fb58a6d268d24de88a81#file-crashlog-txt), captured via serial console during a crash event.

**What you expected to happen**:

I expect for my kernel not to oops.

**How to reproduce it (as mi

[2019-02-18 23:54] lisa commented on #74225
Maybe @kubernetes/sig-api-machinery because that is process at fault?

[2019-02-18 23:54] lisa commented on #74225
Maybe @kubernetes/sig-api-machinery-bugs because that is process at fault?

[2019-02-19 00:36] cespo commented on #74188
Ah true
Thanks @liggitt

[2019-02-19 00:42] #17130 closed

[2019-02-19 00:57] jcapellman commented on #65387
As far as I know it hasn't

[2019-02-19 01:00] anarchistHH1983 commented on #65387
Merge

On Mon, Feb 18, 2019, 7:58 PM Jarred Capellman <notifications@github.com
wrote:

[2019-02-19 01:08] emccormickva commented on #50375
Count me as another +1 on this. Would love to have it.

[2019-02-19 01:30] neolit123 commented on #70189
/lifecycle frozen

[2019-02-19 01:48] hello2mao commented on #73561
/needs-sig

[2019-02-19 02:02] lisa commented on #74225
I think this is best represented in https://github.com/rockchip-linux/kernel/issues/67 sorry for the noise.

[2019-02-19 02:02] #74225 closed

[2019-02-19 02:34] 13567436138 opened #74227 "why i can not download the deps"
[code]

[2019-02-19 02:35] 13567436138 commented on #74227
/sig  developer

[2019-02-19 02:54] JishanXing commented on #74163
Maybe you can use **Ctrl+\**. It's SIGQUIT.

[2019-02-19 03:25] xichengliudui commented on #72956
[code]
in #74228

[2019-02-19 03:30] yue9944882 commented on #74105
@sttts it's sort a related thread w/ #68508. for now CRD's update will terminate CR's watch connection, the other way round 🙃we might fix'em together

[2019-02-19 03:32] cofyc opened #74229 "Flaky in-tree local volume plugin tests"
**Which jobs are failing**:

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/34994

**Which test(s) are failing**:

[sig-storage] In-tree Volumes [Driver: local][LocalVolumeType: block] [Testpattern: Pre-provisioned PV (default fs)] volumes should be mountable

**Since when has it been failing**:

**Testgrid link**:

https://testgrid.k8s.io/sig-storage-kubernetes#

[2019-02-19 03:33] cofyc commented on #74229
/sig storage
/assign

[2019-02-19 03:43] jianglingxia commented on #74162
can you give me some advise? I step by step by the web method but not running,thanks

[2019-02-19 03:44] yue9944882 commented on #68508
/remove-lifecycle stale

[2019-02-19 03:53] xichengliudui commented on #72956
[code]
in #74230

[2019-02-19 03:53] xrmzju opened #74231 "multi `container` query param in kubectl request"
**What happened**:
when use `kubectl exec` command, we found multi `container` query param in the request,
[code]
  because we set the `container` param twice in  `kubernetes/pkg/kubectl/cmd/exec/exec.go`
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
use `kubectl exec` command and set the log level to `8`
**Anything else we need to know?

[2019-02-19 03:54] cofyc commented on #74229
The problem is when client is deleting first pod, it is deleted immediately.

[code]

This is because when pod status phase is `Succeeded`, [pod object is deleted immediately](https://github.com/kubernetes/kubernetes/blob/cbcc2b26fe214282290b2d8c9dabfbf2226fdeb6/pkg/registry/core/pod/strategy.go#L135-L138). But pod is set to `Succeeded` before its volumes are unmounted and detached.

`in-tree-inje

[2019-02-19 04:00] xichengliudui commented on #74227
you can try ping google.com

[2019-02-19 04:16] #69490 closed

[2019-02-19 04:16] #74007 closed

[2019-02-19 04:49] justinsb commented on #73705
Looks like this is now in much better shape - we've had some totally green runs!

Still some flakiness around some sig-network session-affinity tests, but likely unrelated to this issue (?)

[2019-02-19 05:08] tossmilestone commented on #74231
/sig cli

[2019-02-19 05:11] thandayuthapani commented on #74132
/cc @k82cn

[2019-02-19 05:22] tossmilestone commented on #74231
@xrmzju It seems a duplicate 'container' param are set, thanks for your report. I will fix it later.

[2019-02-19 05:59] 13567436138 opened #74233 "what is wrong with my project"
[code]

[](url)
![image](https://user-images.githubusercontent.com/31508490/52993247-81b92a00-344e-11e9-9ddd-bd276c51c2b2.png)

[2019-02-19 06:07] 13567436138 commented on #74233
is this because the compatitive of my project,some package I download with git clone

[2019-02-19 06:24] k82cn commented on #74132
xref https://github.com/kubernetes-sigs/kube-batch/pull/587

As we want to reuse `ImageLocalityPriority` outside default scheduler.

[2019-02-19 06:25] k82cn commented on #74132
/kind feature
/priority important-soon

[2019-02-19 06:36] henrywangx commented on #73242
@hanxiaoshuai Hi，xiaoshuai.
We also feel confused about this. Because we think the default requests should be 0.

[2019-02-19 06:45] #73044 closed

[2019-02-19 06:53] andyzhangx commented on #67813
/open
I will take a look at this

[2019-02-19 06:59] andyzhangx commented on #67813
/reopen

[2019-02-19 07:00] PatrickLang commented on #74101
+1 - I didn't know which class name was needed. One of the libraries like this may help https://github.com/masterzen/winrm

[2019-02-19 07:01] PatrickLang commented on #74101
My other thought was that it may be possible to keep a powershell session open, and pipe new commands to it. I think the jit at the beginning is the most expensive part. using the Windows Performance Recorder would be able to determine how much time was spent in each call on the stack.

[2019-02-19 07:06] vikram-donekal opened #74234 "how-to-limit-pv-volume-storage-in-kuberntes-at-run-time-growing"
helm version
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}

kubectl  version
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", Git

[2019-02-19 07:09] #74234 closed

[2019-02-19 07:10] cofyc commented on #71193
/lifecycle frozen

[2019-02-19 07:11] vikram-donekal opened #74236 "Limit PV volume Storage In kuberntes at run time growing"
helm version
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}

kubectl  version
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", Git

[2019-02-19 07:14] vikram-donekal commented on #74236
/sig Storage

[2019-02-19 07:14] vikram-donekal commented on #74236
/sig storage

[2019-02-19 07:32] vvkkhjt opened #74237 "Unable to decode an event from the watch stream: stream error: stream ID 3; INTERNAL_ERROR"
here is my question:https://stackoverflow.com/questions/54760830/unable-to-decode-an-event-from-the-watch-stream-stream-error-stream-id-3-inte

[2019-02-19 07:41] vvkkhjt commented on #74237
/sig api-machinery

[2019-02-19 07:51] 13567436138 opened #74238 "test fail"
[code]

[2019-02-19 07:52] tnozicka commented on #74022
To me, ascending RV is a property I'd expect from a WATCH call from its nature. Also the similarity to etcd WATCH call and the fact that apiserver is mostly a "proxy" before the etcd server would support expecting behaving the same way. But since we have not done a great job documenting it our opinions can differ. I believe this property can be also proven from what we have managed to document:
(p

[2019-02-19 08:00] tnozicka commented on #74022
To my knowledge this is not streamed at this point. Given the (hopefully) likely future of removing the initial artificial list from watch method does it have weight in this case? (One more reason to use separate calls.)

Sort seems like an easy fix for the mess we have now while maintaining backwards compatibility.

[2019-02-19 08:10] xiyangxdy commented on #63477
@dvoros Thanks, I modify `mountPath: /etc`, It's running.

[2019-02-19 08:11] thockin commented on #74134
I am happy to help publish this via the k8s.gcr.io alias, which I
believe is the correct long-term path.

We need an image - preferably not one as prone to CVEs as busybox
historically is.  Hence a suggestion for "pause" or something
equivalently useless and tiny (if it is tiny).

Then, we need a path.

First, we'll be setting precedent for test images, so I need input on
that.  I propose `k8s.gcr

[2019-02-19 08:17] chirangaalwis commented on #73140
Experiencing the same issue with AWS EKS.

The Kubernetes version is as follows:
`Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.5-eks-6bad6d", GitCommit:"6bad6d9c768dc0864dab48a11653aa53b5a47043", GitTreeState:"clean", BuildDate:"2018-12-06T23:13:14Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}`

[2019-02-19 08:22] yowenter commented on #74081
/area kubelet

[2019-02-19 08:23] snowplayfire opened #74240 "There are too many pdb update operations even if no changes take place"
**What happened**:

There are too many pdb update operations compared with other resources.
![image](https://user-images.githubusercontent.com/11936090/52943840-fd609b80-33a8-11e9-880a-308e7de12638.png)
That is, there are many "Put" operations for pdb periodically in kube-apiserver log.
[code]

In my view, the amount of pdb operations  is connected with disruption controller's resyncPeriod and pdb

[2019-02-19 08:23] yue9944882 commented on #73994
wrt @lavalamp 's comment, that weird output you got from serializing quantity is right suggesting that you are losing precision. or rather, an explicit rounding up/down should be done before calling `NewScaledQuantity`. +1 that we should reject it on on instantiation.

[https://github.com/kubernetes/kubernetes/blob/a887ae8344adf9739c1d156a718c05fdf95b73ab/staging/src/k8s.io/apimachinery/pkg/api/re

[2019-02-19 08:26] snowplayfire commented on #74240
/sig apps

[2019-02-19 08:44] xichengliudui commented on #72956
[code]
in #74242

[2019-02-19 08:45] ferrandinand commented on #70685
No, It is not working for bare metal in the specs I mention before.
The feature is ignored and failed jobs are not removed.

kubernetes 1.13.1 (bare metal)
OS: Container Linux by CoreOS stable (1855.4.0)
uname -a
`
Linux master-10-0-4-103 4.14.96-coreos #1 SMP Mon Jan 28 05:16:10 -00 2019 x86_64 Intel Core Processor (Haswell, no TSX) GenuineIntel GNU/Linux`

[2019-02-19 09:10] dbazhal commented on #70238
/remove-lifecycle stale

[2019-02-19 09:20] rowshan commented on #74201
The main problem is I was trying to connect master node (which is 255.255.0.0) and slave node(255.255.255.0). so when i set both in the same subnet it starts working.

[2019-02-19 09:27] bartelsb commented on #39178
@msau42 Does the new feature handle the case where a node with an existing pod/volume goes down and the pod gets moved to a node in a different AZ? Specifically, does Kubernetes handle copying the existing volume to a new volume in the new AZ? If not, when the pod gets redeployed in a new AZ, it would no longer have access to any data from the old volume.

I reviewed both the blog post and the off

[2019-02-19 09:29] wojtek-t commented on #74022
I actually claim that watch with rv=0 is *not* re-startable (even if we sort the initial contents).

[2019-02-19 09:31] marccarre opened #74246 "Add way to specify kubeadm's --ignore-preflight-errors in InitConfiguration and JoinConfiguration"
**What would you like to be added**:

A single way to configure all of `kubeadm`'s behaviour.
In particular, given `ignorePreflightErrors` and `externalcfg` are currently disjoint:
https://github.com/kubernetes/kubernetes/blob/a887ae8344adf9739c1d156a718c05fdf95b73ab/cmd/kubeadm/app/cmd/init.go#L104-L106
https://github.com/kubernetes/kubernetes/blob/a887ae8344adf9739c1d156a718c05fdf95b73ab/cmd/kub

[2019-02-19 09:32] marccarre commented on #74246
/sig cluster-lifecycle

[2019-02-19 09:35] fungiboletus opened #74247 "ConfigMap in Ingress"
**What would you like to be added**:

I would like to deploy an Ingress with configurations settings stored inside a ConfigMap.

**Proposed Solution:**

[code]

**Why is this needed**:

I would like to share the same configurations for my various environments (testing, stage, production,…). Today I have to manually maintain a set of files or use a template system such as Helm. It would be nice to

[2019-02-19 09:35] fungiboletus commented on #74201
Guys, your discussion has nothing to do with the issue. I'm closing it and opening a new one.

[2019-02-19 09:35] #74201 closed

[2019-02-19 09:38] doughgle opened #74249 "kubeadm init "[kubelet-check] Initial timeout of 40s passed""
**What happened**:

`kubeadm init` timed out while waiting for kubelet to start although kubelet started successfully (perhaps after a longer duration). Looks like the timeout duration is hard-coded.

[code]
From <https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/apiclient/wait.go#L164>

[code]

**What you expected to happen**:

kubeadm detect that kubelet started successfu

[2019-02-19 09:38] fungiboletus commented on #74247
/sig architecture

[2019-02-19 09:47] danielqsj commented on #74238
which branch are you using ? I tested the master branch, tests are passed.

[2019-02-19 09:56] huynq0911 commented on #74132
@k82cn, @thandayuthapani : I see.  Can I take this?

[2019-02-19 10:10] mm4tt commented on #74011
Friendly ping.

@bowei @thockin Did you have a chance to take a look?

[2019-02-19 10:54] dlisin commented on #67191
/remove-lifecycle stale

[2019-02-19 10:55] teodor-pripoae commented on #56371
/remove-lifecycle stale

Any updates regarding this security issue ?

[2019-02-19 11:03] tobiasvdp commented on #27114
Having an init container to handle the expected behavior of a liveness probe to start checking after the readinessprobe seems counter intuitive. An implementation from the past with a configured delay before it starts checking, should not hinder the development of this expected behaviour.

[2019-02-19 11:15] k82cn commented on #74132
sure; I'm also thinking how to simplify priorityMetadata's factory functions. Please also share your idea here :)

[2019-02-19 11:28] zhangxiaoyu-zidif opened #74253 "ds shows wrong pod status by kubectl"
**What happened**:
when i exec `kubectl get ds` it shoud wrong message:
[code]

but in fact it has replicas.

when describe this ds

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.12
- Cloud provider or hardware configuration:
- OS (e.g

[2019-02-19 11:30] bclau commented on #74134
So, I'll sumarize the previous discussions. The proposed images are:

- The image currently named ``e2eteam/busybox:1.29``
  - image tags: ``e2eteam/busybox:1.29-1803`` and ``e2eteam/busybox:1.29-1809``.
  - based on: ``mcr.microsoft.com/windows/servercore:1803`` and  ``mcr.microsoft.com/windows/servercore:ltsc2019`` respectively.
  - image is currently used in Windows E2E tests and should already

[2019-02-19 11:33] zhangxiaoyu-zidif commented on #74253
/sig cli

[2019-02-19 11:39] simonfontana commented on #51850
/repoen

[2019-02-19 11:40] simonfontana commented on #51850
/reopen

[2019-02-19 11:49] tnozicka commented on #74022
are you saying the axiom is false or the rv=0 implementation?

is this the case when:
- A is created at RV 2
- B is created at RV 3
- B is deleted at RV 4
- B is created at RV 5
- WATCH with RV 0 happens at RV 5
so if you get interrupted after reading  RV 2 and restart the watch you get to see RV 3+4+5 instead of just seeing 5?

[2019-02-19 11:58] wojtek-t commented on #74022
That's one example.
The other (probably worse one) is:
- A is created at RV 2
- then a lot of things happened, but nothing touching our resource type directly, and we are at RV=100000
- B is created at RV 100001

- watch with RV 0 happens at RV 100001
- it returns A (with RV 2) and break
- when I want to restart it, I got "out-of-history" error even though there weren't any compaction in the meant

[2019-02-19 12:08] kachkaev commented on #30784
/remove-lifecycle stale

[2019-02-19 12:17] neolit123 commented on #74247
/remove-sig architecture
/sig network

[2019-02-19 13:00] rafalix1337 opened #74255 "Kubernetes loadbalancer with dedicated servers"
I have a problem with setting kubernetes loadbalancer/ingress(under port 80 for example). I don't use with any cloud, just vps servers with only one ip per server. I'm was trying install traefik but i dont get external-ip - stuck on pending.

I have read that I need something what simulating loadbalancer so I installed MetalLB but it more dedicated from local network no vps servers and didn't work

[2019-02-19 13:07] tnozicka commented on #74022
yeah, that doesn't preclude restartability, it just makes it significantly more likely to fail on RV too old which can be hit even normally

I don't suppose we can just afford to start returning an error instead due to backwards compatibility. Although it would sort it all out.

[2019-02-19 13:17] fspaniol commented on #66170
Up

[2019-02-19 13:30] idanlevin commented on #71184
/remove-lifecycle stale

[2019-02-19 13:52] alessio-torelli commented on #66159
We're having the same issue on our cluster (version 1.8.4) with a liux container

[2019-02-19 13:53] jboero commented on #51934
I know this is closed but if anybody comes across it in a search, this is a confusion of packagers, with Ubuntu users advising Fedora users.

Simple Fedora-specific instructions are well-maintained here: https://kubernetes.io/docs/getting-started-guides/fedora/fedora_manual_config/

[2019-02-19 13:53] ejschoen commented on #72675
If it's any help, I just encountered this issue in kubelet v1.13.2 under Debian Stretch 9.5, after a restart.  I was not out of disk space.  Deleting the ready files from /var/lib/kubelet/pods/{podId}/plugins/kubernetes.io~empty-dir/wrapped_kube*/ helped.

[2019-02-19 13:59] justaugustus commented on #67892
/remove-lifecycle rotten
/reopen

[2019-02-19 14:07] lucasslima commented on #65933
Hi guys,

I'm a bit late to the party, but I just had to deal with this again, and the process to update the UUID on kubernetes can be a bit annoying, so I made a small script that gets the information from vSphere and patches the Kubernetes nodes. It requires the [govc](https://github.com/vmware/govmomi/tree/master/govc) binary, as well as [jq](https://stedolan.github.io/jq/).
[code]

[2019-02-19 14:48] astrieanna commented on #66439
/reopen

[2019-02-19 14:50] bertinatto commented on #73181
@bswartz: that's correct, I have only seen this problem when the field `initiatorName` is set. I'm not sure which situations require this field set, but I'm not very familiar with this plugin.

[2019-02-19 14:57] mattjmcnaughton commented on #72956
Releasing a diff with fixes for the following :)

[code]

Thanks for leading efforts to tackle this @BenTheElder :)

[2019-02-19 15:09] mariantalla opened #74258 "Timeout: Failing sig-storage daily e2e tests in master-upgrade"
**Which jobs are failing**:
[gce-new-master-upgrade-master](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master)

**Which test(s) are failing**:
All sig-storage tests configured to run daily under the master-upgrade dashboard. Among others:
- `[sig-storage] PersistentVolumes-local [Volume type: gce-localssd-scsi-fs] [Serial] One pod requesting one prebound PVC should b

[2019-02-19 15:18] apandhi commented on #56903
@nitin302 as mentioned by @mikksoone, setting `dnsPolicy: Default` in your pod fixes the issue temporarily. However, it means you won't be able to resolve internal services by name. You'll have to expose them in order to access the services.

[2019-02-19 15:21] #73752 closed

[2019-02-19 15:31] dims commented on #69776
Justifications for updating a vendored dependency:
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/godep.md#justifications-for-an-update

For future updates, each proposed PR should fall under one of those categories

[2019-02-19 15:52] gnufied commented on #73972
That could cause an detach and a attach to happen at the same time, which may or may not be safe depending on volume type.  Could this cause volume types that don't have any inbuilt fencing to be available on 2 nodes concurrently? We have seen file system corruption in case it does happen.

[2019-02-19 16:07] msau42 commented on #39178
No, data migration is not part of this feature.  The feature only handles initial provisioning of a volume.  Once the volume is provisioned, it must always be scheduled to a node in the same zone.

If you need to handle zone outages, you will need to use a storage system that does cross zone replication.

[2019-02-19 16:08] ramnes commented on #40422
/remove-lifecycle rotten

[2019-02-19 16:18] gnufied commented on #73972
On second thought - I think we are assuming if detach has not finished yet then actual attach call won't be made until volume is removed from actual state of the world(if volume does not support multi-attach). So we should be safe?

I see two problems with that:

1. We should review and make sure that each volume type emits correct access mode.
2. Second problem I see is - mutliAttach check is ent

[2019-02-19 16:23] mariantalla opened #74261 "Master-blocking failing tests: verify.godeps and verify.staging-godeps"
**Which jobs are failing**:
* [master-blocking/verify-master](https://testgrid.k8s.io/sig-release-master-blocking#verify-master)

**Which test(s) are failing**:

| Job | Test | Reason for failure |
|---|---|---|
| [verify-master](https://testgrid.k8s.io/sig-release-master-blocking#verify-master) | [verify.godeps](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/2

[2019-02-19 16:37] #74075 closed

[2019-02-19 16:52] gitchellam opened #74262 "Error "node "k8s-master" not found" : while running # kubeadm init command"
**What happened**:
Error  while running below command
kubeadm init --apiserver-advertise-address=15.218.124.98 --pod-network-cidr=10.244.0.0/16

**What you expected to happen**:
kubernets cluster should be successfully created and initalized.

**How to reproduce it (as minimally and precisely as possible)**:
Followed - https://www.howtoforge.com/tutorial/centos-kubernetes-docker-cluster/
and compl

[2019-02-19 16:58] gitchellam commented on #74262
We have a this master machine behind proxy

[root@k8s-master tmp]# systemctl show --property=Environment docker
Environment=HTTP_PROXY=http://web-proxy.in.softwaregrp.net:8080 HTTPS_PROXY=http://web-proxy.in.softwaregrp.net:8080

[2019-02-19 17:04] GuiSim commented on #19475
It's a shame this was closed, I would have used this feature.

[2019-02-19 17:15] gnufied commented on #74049
@apelisse can you pick this up to fix failure in alpha clusters? Reading @liggitt's last comment - it doesn't seem like a storage issue.

[2019-02-19 17:21] awly commented on #70958
I started working on a PR but didn't have time to finish it off yet.
This is tricky, because we technically support passing cert as a file and key as a blob (or vice versa) in `kubeconfig`.

Anyway, I'll work on it some more, unless @mourya007 you'd like to give it a go

[2019-02-19 17:23] SebastianStehle commented on #71319
/remove-lifecycle stale

[2019-02-19 17:26] thockin commented on #74134
WHOAH.  That's a 2GB image.  For testing.

I am in favor of this just based on the size (I was thinking something
like kuberneets' pause, which is 240 kB.  Over 1000 times smaller.  We
have different comprehensions of what "nano" means.

350 MB is *not* OK.  It's acceptable if we have no other choice, but
honestly we should create our own that is as small as humanly
possible.

I don't have enough

[2019-02-19 17:30] mikkeloscar commented on #63750
/remove-lifecycle stale

[2019-02-19 17:35] gnufied opened #74264 "Add support for CSI volume expansion in kubelet"
We need to enable CSI volume expansion on kubelet side.

Xref - https://github.com/kubernetes/enhancements/pull/780

[2019-02-19 17:35] gnufied commented on #74264
/sig storage
/assign

[2019-02-19 17:39] bclau commented on #74134
Yes, dockerhub, I forgot the "hub" :)

And yes, that's what we're doing and it works for the most part. But, if you take a look here [1], basically, the root is ``e2eRegistry`` (by default: ``gcr.io/kubernetes-e2e-test-images``), so basically the image is: ``gcr.io/kubernetes-e2e-test-images/resource-consumer/controller``. But, if we set e2eRegistry to a dockerhub repo (e.g.: ``e2eteam``), then th

[2019-02-19 17:47] thockin commented on #74134
I see.  I think it would be OK to ask that images don't use subdirs,
but the e2eRegistry variable could.

e.g.

// Docker hub
e2eRegistry = "e2eteam"

// GCR
e2eRegistry = "k8s.gcr.io/testing/e2e"

ResourceController  = Config{e2eRegistry, "resource-consumer-controller", "1.0"}

That seems workable, though it doesn't answer the question of the
actual path in GCR :)

On Tue, Feb 19, 2019 at 9:40 AM

[2019-02-19 17:52] bclau commented on #74134
Yep, exactly right. :)

[2019-02-19 17:55] #73771 closed

[2019-02-19 18:03] mrbobbytables commented on #72956
/reopen
unintentionally closed by #74193

[2019-02-19 18:08] mrbobbytables commented on #72956
For those working on the the shellcheck issues, please do **not** put "fixes #72956" in your PR. This is an umbrella issue for tracking that shouldn't be closed until all the shellcheck issues are resolved.

[2019-02-19 18:09] gnufied commented on #73730
The problem is not just patching of PVs but actual path on the disk I think. I agree that just using `volumeID` should be sufficient and we don't need the whole `aws://us-east2a/vol-xbya` thing, but we will have to kind of support existing volume paths as well while keeping new format in PV.

So, how are we planning to handle this on kubelet?

[2019-02-19 18:10] shyamjvs commented on #73444
We're not enabling back the presubmit per discussion under https://github.com/kubernetes/test-infra/pull/11353. Closing this issue; reopen if apt.

/close

[2019-02-19 18:10] #73444 closed

[2019-02-19 18:14] gnufied commented on #74049
/unassign
/assign @apelisse

[2019-02-19 18:18] rickypai opened #74265 "Support Downward API for HostAliases"
### What would you like to be added

Currently, HostAliases provide a way to inject entries into `/etc/hosts` files inside Pods.

While this is useful for previously-known static IPs, there are times when one would want to alias the IPs of dynamic resources like the Node IP or the Pod's own IP.

### Why is this needed

It's often useful for the Pod to know the IP of the host in order to access per

[2019-02-19 18:18] rickypai commented on #74265
/assign rickypai

[2019-02-19 18:19] CodeCorrupt opened #74266 "Kubernetes Service not working with NFS between two pods"
**What happened**: Due to what I can only assume is an issue with K8s Services, I'm unable to mount a NFS share from a server pod to a client pod

**What you expected to happen**: `mount -t nfs nfs-service:/exports /mnt/test` to successfully mount

**How to reproduce it (as minimally and precisely as possible)**:
_I've copied what was posted on SuperUser and Stack Overflow with no responses_

When

[2019-02-19 18:28] msau42 commented on #74229
cc @dashpole is this expected? I thought kubelet is supposed to delete the pod object only after the volumes are unmounted. This also impacts the StorageProtection feature, which assumes that if the Pod object is deleted, then the volume has been unmounted. For a storage backend like nfs, it may result in unmount hanging. cc @kubernetes/sig-storage-bugs

@cofyc to fix the flakiness, the simplest t

[2019-02-19 18:41] dchen1107 commented on #74148
We discussed this at today's SIG Node meeting. SIG Node agreed to deprecate "containerized kubelet" with the following action items:

* The project was initiated for self-host cluster by SIG cluster lifecycle. We should communicate with them first to understand the potential dependencies.
* There were some demand from the community for this feature in the past, but we don't know who are using this

[2019-02-19 18:46] verult commented on #71289
/remove-lifecycle stale

[2019-02-19 18:47] dims commented on #74148
will do thanks @dchen1107

[2019-02-19 18:48] bowei commented on #56371
/lifecycle frozen

[2019-02-19 18:48] dims commented on #74148
/sig storage
/sig cluster-lifecycle

[2019-02-19 18:49] bowei commented on #74011
I don't of any reason why it was not

CC: @freehan @MrHohn

[2019-02-19 18:50] dims commented on #74148
cc @timothysc @luxas @roberthbailey @kubernetes/sig-cluster-lifecycle

cc @saad-ali @childsb @kubernetes/sig-storage-misc

[2019-02-19 18:51] lavalamp commented on #74022
Yeah, I don't mean to be difficult, but the RV=0 case was literally intended to offer the semantics of a list, then turn into a watch; folks doing this were not expected to want to restart, since they can't even know whether they ever got a complete state or not. It's "axiomatic breakdown" vs "historical reasons". I appreciate the appeal of the axiomatic breakdown, but it's not connecting with me

[2019-02-19 18:53] dashpole commented on #74128
It probably isn't 100% the same as https://github.com/kubernetes/kubernetes/issues/61999, since that was fixed all the way back in 1.10.

Is there a reason why you are running 4 kubelets?

Can you tell me more about the memory exhaustion?  The image looks like it is just showing high I/O

[2019-02-19 18:56] freehan commented on #74011
I do not recall any particular reason. Maybe just because the kube-proxy metrics were rarely collected.

[2019-02-19 18:58] MrHohn commented on #74011
FYI there was a bug when configuring kube-proxy metrics bind: https://github.com/kubernetes/kubernetes/issues/53754. It was recently fixed, but cherrypicks haven't been merged:
- https://github.com/kubernetes/kubernetes/pull/72865
- https://github.com/kubernetes/kubernetes/pull/72866
- https://github.com/kubernetes/kubernetes/pull/72867

[2019-02-19 19:19] philips commented on #73079
Is there anything left to do on this @mayakacz ?

[2019-02-19 19:28] andrewsykim commented on #72139
/assign

Working on this as part of https://github.com/kubernetes/enhancements/issues/837.

[2019-02-19 19:31] zakkg3 commented on #34583
Another similar case here, like @khteh: 0/2 nodes are available: 1 Insufficient pods, 1 node(s) had no available volume zone.
The EBS was created in the AZ where the node is full (1c).. you can guess the rest..

[2019-02-19 19:47] dashpole commented on #74229
That is only during graceful deletion.  If a pod is Succeeded, do we begin unmounting volumes?  Or do we wait until the deletion timestamp is set?  Would it be good enough to start unmounting when the pod is failed/succeeded?  If we want to be 100% sure this isn't a problem, we would need to always do graceful deletion, even when the pod is failed/succeeded.

[2019-02-19 19:55] mayakacz commented on #73079
This is over to CNCF for contracting. Will close this 'issue'. Thanks!

[2019-02-19 19:55] #73079 closed

[2019-02-19 20:00] gpjacobs commented on #63396
I was experiencing this same issue but found a different cause - the CPU resource limit. With a low CPU limit, the Spring Boot app was only logging a few lines (as shown above) and appeared to be stuck, and eventually the pod would be killed for failing the liveness/readiness probes. I kept increasing the CPU limit until it started up successfully. I needed to increase my probe delays a bit too. M

[2019-02-19 20:00] derekwaynecarr commented on #70017
re: resource quota, you can create a quota that restricts the number of allowed best effort pods in the namespace using quota scopes.

https://kubernetes.io/docs/concepts/policy/resource-quotas/#quota-scopes

so you would create a quota that matches BestEffort scope and set count/pods to 0.

independent of the quota capability, i want to look at the limit range change closer.

[2019-02-19 20:05] msau42 commented on #74229
Yes, we do start unmounting when pod is [succeeded or failed](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/volume/util/util.go#L372).

The API is setting grace period to 0 in the case of pod success or failed. Maybe that needs to be removed if we want to use Pod deletion as a signal that volumes are unmounted.

[2019-02-19 20:07] jennybuckley commented on #59124
/reopen

On Wed, Dec 19, 2018, 11:12 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2019-02-19 20:19] bgrant0607 commented on #74022
Sorry that I haven't had time to fully read this thread and comment in detail, but let's please not overly constrain the API's semantics. Many of the current behaviors are accidentally inherited from etcd rather than intentional. For instance, the resourceVersion is/was intended to be an opaque value, not something that could be used in relative comparisons in clients.

Certainly we should not exp

[2019-02-19 20:20] oomichi commented on #34059
We can use framework.ExpectNoError() instead of Expect(err).NotTo(HaveOccurred()) like https://github.com/kubernetes/kubernetes/pull/74113
That will lead we can avoid `. "github.com/onsi/gomega"` which is invalid against golint in long term.

[2019-02-19 20:37] jmcmeek commented on #71811
@liggitt We just got 1.14.0. alpha running in IKS.  Your change appears to work great.  A test that used to take 26 minutes due to throttling ran in 10 seconds.  Thanks!

[2019-02-19 20:49] liggitt commented on #71811
fantastic

[2019-02-19 20:59] rtheis commented on #71719
@ixdy this appears to be fixed in 1.14 with https://github.com/kubernetes/kubernetes/pull/73714 and https://github.com/kubernetes/kubernetes/pull/73493.  This is excellent.  Is this something that the community would consider cherry-picking to 1.11, 1.12 and 1.13?

[2019-02-19 21:15] CodeCorrupt commented on #74266
@kubernetes/sig-network-bugs

[2019-02-19 21:17] liggitt commented on #67671
@bsalamat is this a fundamental use case we need to address before [promoting the API to v1](https://github.com/kubernetes/kubernetes/pull/73555)?

[2019-02-19 21:25] andrewrynhard commented on #74148
@dims Does this deprecate `hyperkube` based `kubelet` in any way. I have a project that depends on this and I think it is a real use case for a container based `kubelet`.

https://github.com/autonomy/talos

[2019-02-19 21:30] msau42 commented on #71289
/lifecycle frozen

[2019-02-19 21:45] dims commented on #74148
@andrewrynhard it doesn't. the main thing to go would be this flag, if you are not using it, you are good.

[1] https://github.com/kubernetes/kubernetes/pull/74267/commits/bcf6d39b3a8d3c260b69f83c29e9c37fca74025f

[2019-02-19 21:46] yastij opened #74271 "Signal undecorated storage through external paramaeters"
Currently we signal undecorated storage by simply affecting the undecoratedStorage to the decorator. This is a blocker for kubernetes/enhancements#383 as we need to enable watch cache for events (which currently hardcoded and not configurable)

cc @wojtek-t @gmarek

/assign
/sig api-machinery

[2019-02-19 21:52] yastij commented on #74271
/assign

[2019-02-19 21:59] jsturtevant commented on #73417
Thanks for the clarification.  I currently have these settings:

[code]

And on the machine I am seeing most memory being used:

[code]

If I understand correctly,  I start to see memory-pressure once I get into the `--eviction-hard` setting above. In that case I should start to see pods get evicted, so for a valid test I could adjust the values to be easier to hit then test to see that pods get e

[2019-02-19 22:02] msau42 commented on #64157
This should be covered by https://github.com/kubernetes/enhancements/issues/596

[2019-02-19 22:04] msau42 commented on #71012
/remove-lifecycle stale

[2019-02-19 22:13] coffeepac opened #74272 "Elasticsearch AddOn plugin base image has security vulnerabilities"
**What happened**:  gcr.io/google-containers/elasticsearch:v6.3.0  has a bunch of security vulnerabilities

**What you expected to happen**: no vulns

**How to reproduce it (as minimally and precisely as possible)**: run a security scanner against the image

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuratio

[2019-02-19 22:13] coffeepac commented on #74272
/assign @coffeepac
/sig instrumentation

[2019-02-19 22:53] cosmin-ionita commented on #2630
I also encountered this issue. Is there any plan to create a viable solution for it? Local persistent volumes can't replace all use-cases of hostPath volume

[2019-02-19 23:06] #74231 closed

[2019-02-19 23:28] msau42 commented on #70505
/remove-lifecycle stale

[2019-02-20 01:38] huynq0911 commented on #74132
@k82cn: Hmm, can you share the implementation idea of `ImageLocalityPriority` function in PR [587](https://github.com/kubernetes-sigs/kube-batch/pull/587/)?
Is it same as `ImageLocalityPriorityMap` function in [/scheduler/algorithm/priorities/image_locality.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/priorities/image_locality.go) ?

[2019-02-20 01:44] k82cn commented on #74132
@kubernetes/sig-scheduling-feature-requests

[2019-02-20 01:46] k82cn commented on #74132
I want to import and use `ImageLocalityPriorityMap` directly from upstream.

[2019-02-20 01:55] xichengliudui commented on #72956
I'm sorry @mrbobbytables , I'll take care of it

[2019-02-20 02:03] doughgle commented on #74249
/sig cluster-lifecycle

[2019-02-20 02:05] xichengliudui commented on #72956
@BenTheElder There may be many files that have been repaired or are under approval. Could you please update the files to be repaired in issue? This will be more convenient!

[2019-02-20 02:18] spiffxp commented on #71052
/milestone clear
/remove-priority important-soon
/priority important-longterm
Having seen no movement on this issue for a while, I'm going to assume it's not committed to for this milestone.  Please add this back to the v1.14 milestone if you intend to work on this.

[2019-02-20 02:19] danielqsj commented on #74261
/assign

[2019-02-20 02:22] spiffxp commented on #71143
Any update on this? I'm led to believe https://github.com/kubernetes/kubernetes/pull/71192 is intended to fix this

[2019-02-20 02:23] shsjshentao commented on #74128
I only run one kubelet，and many things will happen high read io if memory exhausted.
And kubelet du is very slow
Feb 20 03:13:34 10-23-134-252 hyperkube[1549]: I0220 03:10:47.027142    1549 fsHandler.go:135] du and find on following dirs took 36m30.243286852s: [/var/lib/docker/overlay2...

[2019-02-20 02:25] spiffxp commented on #64742
/milestone clear
Having seen no movement on this issue for a while, I'm going to assume it's not committed to for this milestone. Please add this back to the v1.14 milestone if you intend to work on this

[2019-02-20 02:27] liggitt commented on #71143
That is fixing this issue. This is not actually a bug in master, the original PR was backed out. https://github.com/kubernetes/kubernetes/pull/71192 will reintroduce CRD openapi publishing but in a way that resolves this issue as well

[2019-02-20 02:38] #65228 closed

[2019-02-20 02:58] j-griffith commented on #74162
@jianglingxia Have you looked at the logs for the PODs to see if it tells you why it's restarting?  I'm assuming you deployed Kubernetes using the externa OpenStack Provider?  You're not trying to do standalone Cinder are you?  Maybe if you provide some more details on how to reproduce that would help, in the meantime I'll see if I can get an environment deployed and check the latest plugin.

[2019-02-20 03:12] qiujian16 opened #74280 "Performance issue in API aggregation layer"
**What happened**:
I have two APIServices installed on api aggregator. When I have a lot of clients (more than 200) calling these two APIs at the same time via kube-apiserver, I see a lot of timeouts in client, and when i run kubectl to get these api resource, the response time becomes as much as more than 10s.

It seems that kube-apiserver will open a socket for each APIService, since I saw to es

[2019-02-20 03:13] qiujian16 commented on #74280
/sig scalability

[2019-02-20 03:31] wgliang commented on #70411
Have the same issue.
/priority important-soon

[2019-02-20 03:57] #72900 closed

[2019-02-20 04:01] liggitt commented on #73062
kubectl defaults to fetching extensions/v1beta1 when an ambiguous request is made for compatibility reasons

if you want deployments from the apps API group, do `kubectl explain deployment.apps`

/close

[2019-02-20 04:01] #73062 closed

[2019-02-20 04:06] tongchao199 commented on #70334
@mattshma  mine config, and rm -rf /var/lib/kubelet, reinit by kubeadm, fix this problem

$kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:05:53Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}
[root@k8s-master-1:/root]
$kubectl version
Cli

[2019-02-20 04:13] yowenter commented on #74253
I'll try to reproduce it and try to figure it out.

[2019-02-20 04:58] johnSchnake opened #74282 "Support custom taints during e2e tests"
**What would you like to be added**:
Support for users with clusters that have `NoSchedule` taints on specific nodes other than master nodes so that they can still run e2e tests.

**Why is this needed**:
It is a reoccurring problem that Sonobuoy users report problems with e2e tests failing to run on their clusters because of a setup which included custom taints.

 - Having looked briefly into the

[2019-02-20 05:10] #68985 closed

[2019-02-20 05:22] gitchellam commented on #74262
Hi All,

Could you please have a look and advice on it.

[2019-02-20 05:24] gitchellam commented on #74262
=============Forget to include errors:============

Feb 19 22:05:25 k8s-master kubelet[22041]: E0219 22:05:25.634050   22041 kubelet.go:2266] node "k8s-master" not found
Feb 19 22:05:25 k8s-master kubelet[22041]: E0219 22:05:25.734834   22041 kubelet.go:2266] node "k8s-master" not found
Feb 19 22:05:25 k8s-master kubelet[22041]: E0219 22:05:25.773369   22041 event.go:212] Unable to write event: 'P

[2019-02-20 05:36] andreykaipov commented on #68577
Sorry for my ignorance, but as someone fairly new to Go and Kubernetes, what's the problem with just running `go mod init`? I cloned this repo outside my GOPATH, ran `go mod init`, Go found what it needed from the `Godeps`, and boom - `make` worked with no issue and I didn't even cry once. I was shocked it worked so smoothly.

Go modules are experimental in Go 1.11, but would having a `go.mod` and

[2019-02-20 05:55] liggitt commented on #46073
fyi, with the guidance in https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md#alpha-field-in-existing-api-version (and the sweeps done in https://github.com/kubernetes/kubernetes/issues/72169 and https://github.com/kubernetes/kubernetes/issues/72651), n-1 skew among API servers will no longer drop data from fields supported in version `n`

[2019-02-20 05:59] BenTheElder commented on #68577
Yes it can affect them, adding a `go.mod`  (previously on accident) broke some tooling that depends on Kubernetes being findable in `GOPATH`, it couldn't query the package location anymore. Many tools in & out of the repo depend on GOPATH pretty heavily unfortunately, we need to disentangle that.

We also shouldn't check it in unless we're going to keep it up to date, so we need to update all the

[2019-02-20 06:00] jianglingxia commented on #74162
https://github.com/kubernetes/cloud-provider-openstack/tree/master/manifests/cinder-csi-plugin
and i reply you in the slack
thanks

[2019-02-20 06:01] BenTheElder commented on #68577
With go1.12 coming soon it has to be about time, but I don't think we have all of those things figured out just yet.

cc @cblecker @dims

[2019-02-20 06:23] liggitt commented on #74280
might be related to https://github.com/golang/go/issues/27044, if aggregator<->backend is using http/2 connections

[2019-02-20 06:24] wgliang commented on #69769
/remove-lifecycle rotten

[2019-02-20 06:40] 13567436138 commented on #74238
1.10.13

[2019-02-20 06:41] 13567436138 commented on #74233
using american server ，everything goes well

[2019-02-20 06:41] #74233 closed

[2019-02-20 06:42] 13567436138 commented on #74227
network problem

[2019-02-20 06:42] #74227 closed

[2019-02-20 07:07] leakingtapan commented on #50898
@falken @emmanuel do you really need to specify tag through PVC annotation? will a storageclass parameter suffice? Looking forward in long run, the existing in-tree EBS plugin will be deprecated in favor of [EBS CSI driver](https://github.com/kubernetes-sigs/aws-ebs-csi-driver). And all the new features are supposed to be added there. The good news is there is an [existing PR](https://github.com/k

[2019-02-20 07:08] 13567436138 commented on #73921
thanks a lot,i have joined the slack

[2019-02-20 07:08] #73921 closed

[2019-02-20 07:20] #73882 closed

[2019-02-20 07:26] krmayankk commented on #14661
Curious what is remaining here ? Also do all health checks (for both https, network, container native) go to kube-proxy 10256 port ? Why do they not go to kubelet ?

[2019-02-20 07:26] wojtek-t commented on #74022
Inspired by @lavalamp comment above, let me also rephrase my statement a bit.

I really believe that the semantic of watch rv=0 was a mistake and we should get rid of that completely: https://github.com/kubernetes/kubernetes/issues/13969
That said, I can imagine that the current behavior may potentially be misleading for users. I also agree that situations described above in my comment is really r

[2019-02-20 07:44] bgrant0607 commented on #74022
On breaking compatibility: If there's enough benefit, it's possible to version watch behavior.

[2019-02-20 07:45] johscheuer opened #74289 "e2e tests NetworkPolicies are failing"
**What happened**:

I wanted to run the e2e network policy tests with: `kubetest --provider=skeleton --test --test_args="--ginkgo.focus=\[Feature:NetworkPolicy\]"` and I noticed that all tests are failing (I actually don't know why nobody has noticed this before).  Looking into the logs I saw the following errors:

[code]

which are correct because the tests using `busybox:1.29` as "client" which

[2019-02-20 07:45] johscheuer commented on #74289
/sig testing

[2019-02-20 07:50] pohly commented on #34059
But then `framework.ExpectNoError()` still needs an additional message string, doesn't it? Otherwise it's not better than `Expect(err).NotTo(HaveOccurred())`.

[2019-02-20 07:57] code-sleuth commented on #59113
/remove-lifecycle stale

[2019-02-20 08:00] jsturtevant commented on #73417
I performed manual testing and found that even when memory was used up on the machine the "Memory Pressure" notification was not fired.

After looking deeper I found [threshold notification](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/threshold_notifier_unsupported.go) is not implemented for windows.   The [evictionmanger ](https://github.com/kubernetes/kubernetes/blo

[2019-02-20 08:05] johscheuer commented on #74289
With the current fix two tests are still failing:

[code]

I will take a look and fix these failing tests too.

[2019-02-20 08:14] shsjshentao commented on #74128
sorry, it's not k8s bug, when i ran containers without k8s, it still happened this issue. Maybe a kernel issue.

[2019-02-20 08:14] #74128 closed

[2019-02-20 08:25] BarthV commented on #25319
Selecting labels over all namespaces would be a really great feature !
As an example, we wanted to avoid some kind of statefulsets running side to side on the same node, but since they are running in their own namespace we're not able to use the podAntiAffinity mecanisms ... So we had to trick this and use state / capacity mecanism which is much less flexible than selectors.

So please keep on min

[2019-02-20 08:25] adisky commented on #74162
Closing the issue, as per discussion on slack, cinder-csi-plugin v0.2.0 used with 1.0.0 sidecars, which is incompatible, upgrading cinder-csi-plugin to 1.0.0 solved the issue
/close

[2019-02-20 08:25] #74162 closed

[2019-02-20 08:27] mm4tt commented on #73461
/assign

[2019-02-20 08:27] mm4tt commented on #73461
Recent failure where caused by https://github.com/kubernetes/test-infra/pull/11363 and are not related to this issue.

[2019-02-20 08:28] mm4tt commented on #74213
/assign

[2019-02-20 08:33] yld2019 commented on #72395
When node is considered failed, the related pod is still considered healthy.
**What happened**:
`kubectl get node
NAME    STATUS     ROLES    AGE   VERSION
yld-0   Ready      master   17d   v1.13.3
yld-1   NotReady   <none>   17d   v1.13.3
kubectl get po -w
NAME                    READY   STATUS    RESTARTS   AGE
curl-649649b6c7-gcc4k   1/1     Running   0          10m
`
**What you expected to hap

[2019-02-20 08:47] yowenter commented on #74253
@zhangxiaoyu-zidif  Hi, could you paste the output of `kubectl get ds csi-ds -o yaml` ?
I guess there may be some mistakes with the selector.

[2019-02-20 08:52] Hashfyre commented on #67342
We are not `1.12.2`, and seeing this issue, will update to `1.12.5` by next week and report back if that solves the issue.

[2019-02-20 09:07] qiujian16 commented on #74280
thanks @liggitt seems it is fixed in golang 1.12, i will try kube-apiserver with golang 1.12 to verify.

[2019-02-20 09:12] qiujian16 commented on #74280
thanks @liggitt, seems it will be fixed in golang 1.12...

[2019-02-20 09:15] #54579 closed

[2019-02-20 09:16] zhangxiaoyu-zidif commented on #74253
@yowenter  you mean that something wrong with my node selector?

[2019-02-20 09:19] zhangxiaoyu-zidif commented on #74253
OK, I recheck it, now it is correct now:
[code]

[2019-02-20 09:20] zhangxiaoyu-zidif commented on #74253
maybe the sync needs some time, but it delays too much... I am not sure when it turns correct...

[2019-02-20 09:31] #74253 closed

[2019-02-20 09:35] yowenter commented on #74253
The daemonset is an higher layer abstraction of pod. The ds controller use shared Informer to sync pod status. So maybe it will be a little slow.

[2019-02-20 10:23] #73077 closed

[2019-02-20 10:59] adisky commented on #73887
@harshkumar1 it is same as https://github.com/kubernetes/kubernetes/issues/67342??? seeing the comments it is resolved in v1.12.5, so what is the problem now?

[2019-02-20 11:16] shm007g commented on #45022
I'd got same problem. Containers in Pod can't access outer network, i mean google this thing. Happens I must download file in those containers.

I solve this by make ip-masq-agent back to work which is down before, this ip-masq-agent control iptable the pod talk with.

I even tried to change dns policy with all those google result which i doubt.

I wget some domain, it resolve well with ip, but ca

[2019-02-20 11:26] jsafrane commented on #73730
It's not possible to edit existing PVs. You must delete whole PV and create a new one. This may have unexpected consequences on running applications, you need to remove its finalizers and so on. And this will break `/var/lib/kubelet/*` paths if you do it with a PV used by running pod.

IMO, we should fix the in-tree code to create PVs with correct volume IDs, however, the code must be able to work

[2019-02-20 11:31] calvix commented on #74148
What is the reason behind this decision? We are heavily using containerized `kubelet` in production running on CoreOS

Would that mean that we no longer can run kubelet in container?

[2019-02-20 11:48] KlavsKlavsen commented on #72888
This is it.. All it does is expose secrets as env vars in the init-container.. and when I then did 'env' in the init container - the variables weren't there :(

[code]

[2019-02-20 12:03] johscheuer commented on #74289
Seems to be an implementation error on the network plugin side (tested with weave latest and calico 3.6). I will investigate some time in the implementation details on the calico side. But this error/failures are no blocker for the PR from my perspective.

[2019-02-20 12:07] jackielii opened #74296 "[kubeadm] `kubeadm reset` ask for confirmation"
**What would you like to be added**:
`kubeadm reset` should ask for confirmation to prevent accidental reset

**Why is this needed**:
Without the confirmation, the command can be easily executed by mistake

[2019-02-20 12:09] jackielii commented on #74296
/sig cluster-lifecycle

[2019-02-20 12:10] whypro commented on #74011
It was fixed by https://github.com/kubernetes/kubernetes/pull/72682

[2019-02-20 12:13] kumar-shantanu opened #74297 "Intermittent ImagePullBackOff from ecr"
**What happened**:
We saws some ImagePullBackOff error twice in last one month on **few of the** kubernetes nodes. In the logs it says Unknown desc = Error response from daemon: Get https://454579647685.dkr.ecr.eu-west-2.amazonaws.com/v2/xxxxx/xxxxx/manifests/sha256:xxxxx: no basic auth credentials

**What you expected to happen**:
It should work as all of the nodes are having **same IAM** roles e

[2019-02-20 12:20] xichengliudui commented on #74296
K8s will ask your permission and then reset the cluster.
[code]

[2019-02-20 12:21] kumar-shantanu opened #74298 "create podsandbox fails intermittently"
**What happened**:

We are running kubernetes on coreos which is configured to autoupdate itself and reboot as it sees fit. We have noticed after a particular restart pods are unable to schedule itself on the particular nodes with the below error,

Feb 19 10:32:40 ip-172-22-126-113.eu-west-2.compute.internal kubelet[1273]: E0219 10:32:40.696303    1273 kuberuntime_sandbox.go:54] CreatePodSandbox f

[2019-02-20 12:25] mm4tt commented on #74011
We've run into the bug you mentioned when we started overriding metrics-bind-address in tests. The kube-proxy was crashlooping in old releases due to a different flag format, see https://github.com/kubernetes/kubernetes/issues/74123

Given that people are becoming more interested in collecting kube-proxy metrics, e.g. Network Programming SLI or https://github.com/kubernetes/kubernetes/pull/74027,

[2019-02-20 12:26] jackielii commented on #74296
Might be my mistake, I just did a `kubeadm reset` on the master node and it proceeded without asking. And I regret to say it was a production server

[2019-02-20 12:29] xichengliudui commented on #74296
if you have no problem, please close this pr. thanks

[2019-02-20 12:32] kumar-shantanu commented on #74298
/sig network

[2019-02-20 12:32] kumar-shantanu commented on #74297
/sig/aws

[2019-02-20 12:35] #74296 closed

[2019-02-20 12:46] SataQiu commented on #72956
The following scripts fixed by #74299
[code]

[2019-02-20 12:50] hello2mao commented on #74056
/sig autoscaler

[2019-02-20 12:51] hello2mao commented on #74056
@cbharathnoor hi, the HPA will skip scaling if the ratio is sufficiently close to 1.0 (within a globally-configurable tolerance, from the --horizontal-pod-autoscaler-tolerance flag, which defaults to 0.1).

In your case, the ratio is 96/90=1.07 which is close to 1.0.

[2019-02-20 13:05] dims commented on #74148
@calvix

- Do you use the flag as shown here? https://github.com/kubernetes/kubernetes/pull/74176/files#diff-ed3df710e9af7cd30a185896a60897d9L814
- Do you have `--volume` mounts as shown just below the line pointed above

If so, you have about a 3 releases per our deprecation policies to switch over to some other way of running kubelet. RedHat/CoreOS folks who initially championed this approach ha

[2019-02-20 13:10] hello2mao commented on #74097
@Kanshiroron It is marked deprecated in this PR: https://github.com/kubernetes/kubernetes/pull/66615. And as it says this flag is currently no-op and will be deleted.

[2019-02-20 13:16] Kanshiroron commented on #74097
:+1:

[2019-02-20 13:16] #74097 closed

[2019-02-20 13:20] khteh commented on #69307
/remove-lifecycle stale

[2019-02-20 13:37] #72288 closed

[2019-02-20 13:43] tnozicka commented on #74148
Is it necessary to remove/deprecate the feature or just disable the flaky CI check? I find that feature and running in kubelet helpful. Briefly looking at the implementation there is at least unit test suit.

[2019-02-20 13:56] dims commented on #74148
@tnozicka that's the tip of the ice berg, there's a lot more things that can be simplified when we drop this feature, example see https://github.com/kubernetes/kubernetes/pull/68513

Another example of what we had to go through is here - https://github.com/kubernetes/kubernetes/pull/63143

There is no appetite to continue taking on this burden.

I'll let @derekwaynecarr @jsafrane @saad-ali and oth

[2019-02-20 14:18] KielChan opened #74302 "kubelet v1.13.2 cannot patch node status occasionally"
**What happened**:

After upgrade kubernetes from v1.9.11 to v1.13.2 in  place, some of node cannot patch its node status to kube-apiserver. Even kubelet cannot watch configMap because it `use of closed network connection`.

**What you expected to happen**:

kubelet can patch its status successfully

**How to reproduce it (as minimally and precisely as possible)**:

Not sure. At least 250 pods on

[2019-02-20 14:19] KielChan commented on #74302
/cc sig-api-machinery-misc

[2019-02-20 14:21] KielChan commented on #74302
/sig node

[2019-02-20 14:28] matti commented on #45779
for me `redis-cluster-1.redis-cluster` works, but not `redis-cluster-1`

[2019-02-20 14:30] mariantalla commented on #74261
Thanks! 💥

[2019-02-20 14:33] matti commented on #70977
for me `nginx-service-0.nginx-service` resolves, but `nginx-service-0` does not

[2019-02-20 14:36] ryan-dyer-sp commented on #50898
@leakingtapan Being able to specify at the PVC level would be highly valuable (though at this point I'll take additional tagging of EBS volume at any level I can get).  My previous employer required billing tags which were extremely granular as various applications running within the cluster were from different depts and needed to be billed to those depts accordingly.  Technically, you could work

[2019-02-20 14:52] rowshan opened #74303 "LoadBalncer Ingress: IP_address does not exist"
Hi, I am trying to create a kafka service where I should be able to see the loadbalancer ingress ip but it is not there. here is my yaml file:
[code]

and here is the output.
[code]
[code]
So from the above out put
LoadBalancer Ingress: ip_address  is not exist

Even though the service is created but for the deployment I want to use this ip as KAFKA_ADVERTISED_HOST_NAME
Any idea what could be the

[2019-02-20 15:04] timothysc commented on #74148
fwiw I don't think we should deprecate the entire use case b/c it's highly valuable for testing.  I'm not certain why this matters for the kubelet, b/c it really shouldn't unless it's a design flaw.

[2019-02-20 15:26] liggitt commented on #72888
doesn't `name: {{ regexReplaceAll "-" $key "_" }}_{{ . }}` replace `-` with `_` in the envvar name?

[2019-02-20 15:27] liggitt commented on #72888
do you have the resulting deployment manifest as fetched from the apiserver, rather than the helm chart?

[2019-02-20 15:28] dims commented on #74148
@saad-ali @msau42 @jsafrane @derekwaynecarr can you please chime in with the ongoing cost of supporting this feature? how much effort is to keep it going?

[2019-02-20 15:34] calvix commented on #74148
Yes

we use this list fo volume:
https://github.com/giantswarm/k8scloudconfig/blob/master/v_4_1_0/master_template.go#L221-L247

This seems to work pretty nice for us and we don't have any volume issues so far.

[2019-02-20 15:44] carlosmkb commented on #68827
any updates on this?

[2019-02-20 16:00] rhockenbury commented on #73417
Yeah, that sounds to be in agreement with what I've observed on the windows nodes that I run.

To prevent resource starvation (as a workaround), would setting mem/cpu requests equal to mem/cpu limits for all windows pods work?  I think the request / limit values get passed down into the docker daemon when it starts a container, so is it possible that docker could enforce the memory limit?

[2019-02-20 16:02] fieryvova commented on #68447
Why is this closed? It looks like an unresolved issue. I have the same errors with 1.12.1.

[2019-02-20 16:11] spiffxp commented on #72956
I tried to update some of the entries but it's relatively manual stuff to verify, and I had to wave off eventually for other work

[2019-02-20 16:13] jsafrane opened #74305 "iSCSI fails to setup a volume when one target is down"
If one target in multipath volume gets down **and** a pod that uses the volume is deleted and **quickly** recreated (e.g. by a Deployment), the new pod never starts.

**How to reproduce it (as minimally and precisely as possible)**:

1. Run Deployment with single replica with one multipath iSCSI volume

2. Destroy one target (e.g. switch the machine off). Multipath will mark appropriate path as fa

[2019-02-20 16:22] jsafrane commented on #74305
Fix: https://github.com/kubernetes/kubernetes/pull/74306

[2019-02-20 16:29] dims commented on #74144
/close

we no longer have this job.

[2019-02-20 16:29] #74144 closed

[2019-02-20 16:30] dims commented on #73073
/close

we no longer have this job.

[2019-02-20 16:30] #73073 closed

[2019-02-20 16:41] s-spindler commented on #59078
/remove-lifecycle rotten

still valid in 1.13.3

[2019-02-20 16:46] sigma commented on #68577
This is a bit misleading. It seems to work, but builds the wrong thing because staging/ is then ignored as the source of many of the k8s.io packages. Basically this allows `go mod` to reason about a much looser dependency graph, and ultimately claim "victory". When you enforce actual alignment of the dependency graph is when problems above start showing up.

[2019-02-20 16:55] jsafrane commented on #74148
Maintenance of containerized kubelet is increasingly painful. Kubelet / its storage code must know about all mounts on the host, resolve symlinks on the host, execute various helpers on the host and similar stuff, which is especially hard when it does not actually run on the host but is a weird container. See https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/nsenter_mount.go and

[2019-02-20 17:29] BenTheElder opened #74308 "flakes: [sig-network] Service endpoints latency should not be very high [Conformance]"
**What happened**: The Conformance test `[sig-network] Service endpoints latency should not be very high [Conformance]` flakes.

**What you expected to happen**: Conformance tests should not be flaky

**How to reproduce it (as minimally and precisely as possible)**: Run the test against various clusters.

**Anything else we need to know?**: AFAICT the test is essentially testing the performance of

[2019-02-20 17:29] BenTheElder commented on #74308
/sig testing

[2019-02-20 17:42] BenTheElder commented on #74308
/cc @pwittrock

[2019-02-20 17:50] maxbischoff opened #74309 "e2e tests for RBAC"
**What would you like to be added**:

I would like e2e tests for RBAC, so that I can test that RBAC is enforced in a running cluster.

**Why is this needed**:

I couldn't find any e2e tests that test RBAC but think that there should be some to ensure that it actually works. Did I miss those tests? Is there a good reason for not having them? Is there interest in contributions of e2e tests for RBAC?

[2019-02-20 17:51] maxbischoff commented on #74309
/sig testing

[2019-02-20 18:14] kfox1111 opened #74310 "initContainer metrics fail"
**What happened**:
the metrics-server is unable to get metrics for pods with init containers.
See also: https://github.com/kubernetes-incubator/metrics-server/issues/213#issuecomment-465675386

**What you expected to happen**:
Metrics for pods with init containers show up.

**How to reproduce it (as minimally and precisely as possible)**:
create a pod with an init container. metrics are not gather

[2019-02-20 18:17] benmizrahi commented on #56371
Any updates for solving this issue?
We also get the same results as described above

[2019-02-20 18:19] kfox1111 commented on #74310
@kubernetes/sig-node-bugs

[2019-02-20 18:19] phenixblue commented on #72956
I had previously called `./cluster/gce/`, but I haven't had much time to work on this. There are a lot there, so don't let me block anyone from taking those on

[2019-02-20 18:28] bsalamat commented on #67671
@liggitt This is not a fundamental use case, but it is a good enhancement. This does not need to be addressed before promoting the API to V1.

[2019-02-20 19:02] kleinbs commented on #72150
@jungopro
Same as the guy above, how did you end up fixing this?

[2019-02-20 19:27] msau42 commented on #74148
Not only is the code complex, but it is also not tested, so we have had to rely on manual testing when making bug fixes, and we don't know about regressions until after the release when users report issues. sig-storage has tried for 6+ months to find an owner that can dedicate resources to support and maintain this environment, but nobody has stepped up.

[2019-02-20 19:30] thockin commented on #14661
kube-proxy exposes "healthiness" as "was able to update the heartbeat recently.  We may want to go further with "readiness" vs "liveness" (I have an idea brewing) but it's unlikely that it will be totally user-defined.  Instead, I am focusing on things like node schedulability.  If the node is unschedulable, it should probably not be considered for new LB traffic.

That allow users to define arbit

[2019-02-20 19:30] #14661 closed

[2019-02-20 19:31] bswartz opened #74313 "Iscsi raw block support logs out from target too early"
On the detach code path for iSCSI raw block volumes, there is no ref count check to avoid logging out too early.

**What happened**:
When kubelet detaches an iSCSI raw block volume, it always logs out of the target, even if there are other pods using other volumes on the same target.

**What you expected to happen**:
Kubelet should not log out of the target until the last volume has been disconnec

[2019-02-20 19:32] bswartz commented on #74313
/sig storage

[2019-02-20 19:34] bswartz commented on #74313
@kubernetes/sig-storage-bugs

[2019-02-20 19:57] kplimack commented on #24669
@SARAN-thala definitely dont do this, those headers dont mean anything, which is why the upload is "working".  Nothing know hows to consume that chain with those headers.  Upload it as type generic using keys "tls.crt" and "tls.key".  The "tls" secret type wont know how to validate the chain and will bail, so just use generic.

[2019-02-20 19:59] arthuersundar opened #74316 "/opt/nifi/run.sh: Read-only file system"
Hi,
I deployed apache NIFI (docker image) in our kubernetes cluster. I used the"AlexsJones/kubernetes-nifi-cluster" page.

PODs are getting crashed. Getting "Read-only file system "error.

I have mounted the PVC in RWO mode. Please advise.

sh-4.2# kubectl logs nifi-2 -n nifi
chmod: /opt/nifi/run.sh: Read-only file system
/bin/sh: ./run.sh: Permission denied
sh-4.2#

sh-4.2# kubectl get pvc -n nif

[2019-02-20 19:59] bswartz commented on #74313
In case it's not obvious from the bug report, the correct fix for this issue will involve developing a *combined* refcounting scheme across block and filesystem volumes. The current implementation stores the two volume types in different directories, so we either need to go back to a single directory or improve the ref counting mechanism to look in both places.

[2019-02-20 20:12] gnufied opened #74317 "Minor resource leak/cleanup in subpath and other tests"
While reading some of the e2es, I found following code to be suspect:

[code]

This would mean that - if deleting a pod fails then rest of the cleanup code won't get executed. Which may be problematic for next test execution.

/sig storage

cc @msau42

[2019-02-20 20:42] misterikkit commented on #37232
@arianitu even more reason to track the bug in a separate issue (:

[2019-02-20 20:51] #65976 closed

[2019-02-20 20:51] #69580 closed

[2019-02-20 21:26] #68989 closed

[2019-02-20 21:32] janetkuo commented on #71666
What images we use for this test shouldn't matter, as we only care about whether the images is updated. So if serve-hostname is causing us problem we can just use some other images instead. We could also increase the timeout based on the number of nodes for DaemonSet rolling update test.

[2019-02-20 21:34] msau42 commented on #74317
cc @pohly

[2019-02-20 22:13] smirzai opened #74322 "Support routing based on request method and changing it in Ingress"
**What would you like to be added**:
To be able to route base on request method on source and target.The following examples routes all POST http cals on /testpath to test:80 and changes the method to GET:
lack of the method field on paths means all methods and on backend means the same method as the request

[code]
**Why is this needed**:
http request is part of the http address. This gives a more

[2019-02-20 22:22] smirzai commented on #74322
/sig network

[2019-02-20 22:24] saad-ali commented on #74148
+1 to what @msau42 asnd @jsafrane said. Either we should deprecate the feature, or find an owners who can commit to fixing issues and adding much needed tests. We tried to find an owner in SIG storage during Q2 2018 but no one stepped up.

[2019-02-20 22:36] dims commented on #74308
/sig network

[2019-02-20 23:02] DaveWHarvey commented on #45398
While I agree this restriction is tedious for helm charts, the fact that helm does not detect that the change will fail is also a problem:  rather than rejecting the upgrade, helm installs the upgrade, only to have it fail, and then forces you to roll it back.      If there are going to be immutable fields, then there should be a way for helm to determine that those fields are immutable prior to a

[2019-02-20 23:14] msau42 commented on #74313
cc @wongma7

The mounts and block device refcnting is supposed to be a backup mechanism.  The volumemanager reconciler already does [refcnting in the asw](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/kubelet/volumemanager/reconciler/reconciler.go#L277) and should not call UnmountDevice until all pods using it have successfully UnmountVolume.

In your case, do you see Unmount

[2019-02-20 23:34] daschott commented on #65163
Thanks for confirming, @rkttu-devsisters. I'll take note to add an entry to the troubleshooting section for the next docs update. Thank you for your patience, we hope that the next issue you report the community or container team can help with issues faster.

[2019-02-21 00:05] jsturtevant commented on #73417
Yes, setting limits==requests would help the scheduler not over provision the nodes.

@craiglpeters @PatrickLang I think the best way to approach this particular issue for 1.14 is to make sure docs call out what works/doesn't work and give guidance to on how to prevent resource starvation on nodes.  Is there a place in the docs that would make sense for this information?

The call outs would be:
-

[2019-02-21 00:46] gyuho commented on #72102
I think this was the issue more on how gRPC balancer does failover with credentials.

I've shared a workaround to fix this issue in upstream gRPC https://github.com/grpc/grpc-go/pull/2650.

And waiting for their feedback.
/cc @xiang90 @jpbetz

[2019-02-21 01:42] oomichi opened #74326 "Cannot specify "openstack" as cloud-provider of e2e test"
**What happened**:

When specifying "openstack" as cloud-provider of e2e test, the test is failed like
[code]

**What you expected to happen**:

We can run e2e test with openstack cloud provider.

**How to reproduce it (as minimally and precisely as possible)**:

Just kick the following command:
[code]

**Anything else we need to know?**:

This issue doesn't happen on v1.13, so this issue seems to

[2019-02-21 01:43] oomichi commented on #74326
/sig openstack
/sig testing

[2019-02-21 01:46] oomichi commented on #74326
The exception raises at https://github.com/kubernetes/kubernetes/blob/3baab4dc356f46335e72e88e7754b93898acff2c/test/e2e/framework/test_context.go#L430

[2019-02-21 01:54] oomichi commented on #74326
The reason of this issue comes from https://github.com/kubernetes/kubernetes/commit/f3d79e152eaac1cd1c5ac79e0a0bbd0997abdb17

[2019-02-21 02:03] oomichi commented on #74326
Ideally it is nice to put a new directory `test/e2e/framework/providers/openstack` for registering the cloud provider.

[2019-02-21 02:04] oomichi commented on #74326
/assign @oomichi

[2019-02-21 02:41] cciotti commented on #68827
It was closed five days ago.

[2019-02-21 02:56] lucasantarella commented on #52218
Me as well. This is definitely needed!

[2019-02-21 03:15] danielqsj commented on #68577
/cc

[2019-02-21 03:21] hjydxy commented on #69973
@wooyanger Could you be specific please, which directory, which files, Thanks a lot!

[2019-02-21 03:33] mattjmcnaughton commented on #72956
Putting out a diff for the following rn:

[code]

[2019-02-21 04:14] xichengliudui opened #74331 "Runc and CVE-2019-5736"
**What happened**:
https://kubernetes.io/blog/2019/02/11/runc-and-cve-2019-5736/

**What you expected to happen**:
https://github.com/kubernetes/kubernetes/pull/72823
`1.14` supports Docker version `18.09`. will there be any problem? do we need to update to `18.09.2`?

do we need to do something about it?

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need t

[2019-02-21 04:18] xichengliudui commented on #74331
/sig-bug

[2019-02-21 04:41] SataQiu commented on #72956
The following scripts fixed by #74333
[code]

[2019-02-21 05:13] anguslees commented on #74148
Just because I like causing trouble, another alternative is to run `kubelet` executable from a container (or systemd portable unit, etc), but unify the kubelet's rootfs view with that of the host.  Specifically: do the equivalent of #54935, but for `kubelet`.
Then you would run from docker with `-v /:/rootfs:rshared` (or equivalent), and early in `main()` chroot() to /rootfs.  This loads the execu

[2019-02-21 06:37] #67180 closed

[2019-02-21 06:53] phillipao opened #74334 "deleting a finalizing resource should not fail"
**What would you like to be added**:
This sequence fails:
$ kubectl delete ns foo --wait=false
$ kubectl delete ns foo --wait=true
Error from server (Conflict): Operation cannot be fulfilled on namespaces "foo": The system is ensuring all content is removed from this namespace.  Upon completion, this namespace will automatically be purged by the system.

I'd like for it to succeed.

**Why is this

[2019-02-21 06:55] phillipao commented on #74334
/sig api-machinery

[2019-02-21 07:08] Hashfyre commented on #61545
We are seeing the same issue:
[code]
@nikhita could this be re-opened, is there a know fix a duplicate issue I should track?

[2019-02-21 07:19] lemonshow commented on #25485
/remove-lifecycle rotten

[2019-02-21 07:23] lemonshow commented on #25485
Looking for native support from GCP ingress controller. Anyone can share insights about the plan? The initial post was 2.5 years back.

[2019-02-21 07:25] cofyc commented on #74229
To always do graceful deletion even when the pod is failed/succeeded is simple, then we can assume that normally when pod objects are deleted (except forcefully), volumes are already unmounted by kubelet. But [this feature is added long ago](https://github.com/kubernetes/kubernetes/pull/15900), and it helps to improve performance in deleting jobs in batch.

For this flaky test only, what I need is

[2019-02-21 07:55] KlavsKlavsen commented on #72888
Sorry - this was just the latest version (where I rewrote the helm chart to "fix variables").
I'll roll a simple one up tomorrow to reproduce the issue.

[2019-02-21 08:10] stanislavb commented on #68827
We would still want such a feature, but the process of ignoring the feature request for half a year until it auto-closes leaves little hope for it to happen.

Our workaround meanwhile has been to ask ourselves "why don't we want to schedule them on the same node?". In our case it was to not contend for resources, so we use resource claims for the same purpose, claiming all CPU cores available on a

[2019-02-21 08:19] errordeveloper commented on #74214
I think you should report this in Java client repository, not here.

[2019-02-21 08:22] errordeveloper commented on #74331
I believe you should be able to update to 18.09.2. It sounds like docs need to clarify Docker patch versions.

[2019-02-21 08:37] #56634 closed

[2019-02-21 08:39] BenTheElder commented on #72956
Thanks @spiffxp and thanks all! I updated the checklist in the original post again. 89/284 down (we gained one new file since we started)

[2019-02-21 08:47] danielqsj commented on #73781
@rajeshdeshpande02 @Zyqsempai :  I submitted a PR to fix this issue: https://github.com/kubernetes/kubernetes/pull/74337, PTAL

[2019-02-21 08:49] chandankumar4 opened #74339 "Link is not working"
**What happened**:
I got one link from `kubectl patch --help` but link is not working
error:
[code]

https://htmlpreview.github.io/?https://github.com/kubernetes/kubernetes/blob/HEAD/docs/api-reference/v1/definitions.html
[code]

**What you expected to happen**:

It need to show some info!!

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud

[2019-02-21 08:54] xichengliudui commented on #74339
/assign

[2019-02-21 08:55] xichengliudui commented on #74339
/sig docs

[2019-02-21 09:04] mgaranov opened #74340 "kube-controller-manager restarts 1.13.3"
**What happened**:
i've just kubeadm init --pod-network-cidr=10.244.0.0/16

all pods are running but  kube-controller-manager-kmaster always restarts

coredns-86c58d9df4-542lg          1/1     Running   0          46m   10.244.0.31     kmaster   <none>           <none>
coredns-86c58d9df4-5slzr          1/1     Running   0          46m   10.244.0.32     kmaster   <none>           <none>
etcd-kmaste

[2019-02-21 09:07] garenwen commented on #38095
Why do you close this issue？I really want to solve this issue！

[2019-02-21 09:08] YoubingLi commented on #74266
I don't think this is a bug.

NFS doesn't allow you to nested export filesystem.

The container mounts host-based path to /exportfs, then export /exportfs path inside container.
You cannot mount container's /exportfs at any place.

It is same as following scenario.

    1. HostA export path1
    2. HostB mounts HostA:path1 as path2, then export path2
    3.  NFS dosn't allow you to mount HostB:pat

[2019-02-21 09:10] mgaranov commented on #74340
/sig cluster-lifecycle
/kind bug

[2019-02-21 09:26] IvanMijailovic commented on #74214
Thanks @errordeveloper, the question is raised on their side hence issue closed.

[2019-02-21 09:26] #74214 closed

[2019-02-21 09:43] mkumatag commented on #69098
/remove-lifecycle stale

[2019-02-21 09:45] brancz commented on #63750
I believe this is addressed with https://github.com/kubernetes/kubernetes/pull/73638

[2019-02-21 10:21] bmwiedemann commented on #70131
/remove-lifecycle rotten

We currently have 1.13.3 in openSUSE and I can see new variations of order:
[code]

Plus the issue with varying build-ids - is 1.13.3 too old to have fixes from @dims or do we need to change something in our .spec file?

[2019-02-21 10:25] pohly commented on #74317
I noticed that too. It has been a general pattern in several of the `AfterEach` functions. It's not limited to pod deletion either, `l.resource.cleanupResource()` and `l.testCleanup()` also probably have asserts.

I was pondering what to do about this. A better approach would be to distinguish between test setup (must use asserts) and tear down (no asserts, log errors). But even that is problemati

[2019-02-21 10:43] chenqiangzhishen commented on #60987
version 1.11.2 still have the issue

[2019-02-21 11:00] rdxmb commented on #60987
same here with

 v1.13.3
Ubuntu 16.04
Docker 18.06.2-ce

[2019-02-21 11:49] hello2mao commented on #74303
/sig cloudprovider

[2019-02-21 11:50] hello2mao commented on #74303
@rowshan hi, when LoadBalancer Service is in creating state, you can not see **LoadBalancer Ingress** from "describe  service".
You can use cmd "$ kubectl get  service kafka-service" to check whether LoadBalancer Service is created successful.

Before success:
[code]

[code]

After success:
[code]

[code]

[2019-02-21 11:54] #71769 closed

[2019-02-21 12:22] subramanian-neelakantan commented on #73002
@celiawa with this PR https://github.com/kubernetes/kubernetes/pull/72687, VCP will attempt to fetch zone information only if the vsphere.conf has the _[Labels]_ entry. Could you confirm this works for you and close this issue?

[2019-02-21 12:25] yowenter commented on #73994
Whether to lose precision or check arguments both look good to me. But I prefer simple, so I think losing some precision is tolerable and make sense.

[2019-02-21 12:33] michaelmeelis commented on #43279
I just had this problem as well. I check the nodes with kubectl get pod -o wide | grep Unknown. It showed that the node 2 was the problem. Then I check the node itself and saw that
CONTAINER-RUNTIME
docker://Unknown
With a describe on the node you can check the events as well and found out that the docker daemon died. I went to azure itself found the vm (the node) and rebooted the system. It solve

[2019-02-21 12:50] rowshan commented on #74303
@hello2mao here is the describtion of the service:
[code]

[2019-02-21 13:28] KielChan commented on #74302
maybe error happened in https, because I have test kubelet patch node status with insecure-address and insecure-port, it never failed

[2019-02-21 13:46] Prakashrathod28 commented on #51322
I'm facing same problem. Can I expect any solution?

[2019-02-21 13:55] superdave commented on #53533
Just to keep things alive: I'm still very much interested in working on a KEP and/or implementation for this; once things settle down (I have a workshop to prepare for next weekend), I'll try and join the Slack channel.

[2019-02-21 14:00] derekwaynecarr commented on #74148
The function needs ownership from both SIG Node and SIG Storage.

There were attempts early in the project to remove containerized kubelet support, but Red Hat offered contributors to maintain this model in both SIGs for ~11 releases of Kubernetes.  Kubernetes was much smaller 11 releases ago and our shared project experience was limited.  It's one thing for a feature to work initially, and anothe

[2019-02-21 14:11] luisdavim commented on #64623
/remove-lifecycle rotten
/remove-lifecycle stale

[2019-02-21 14:14] mattjmcnaughton commented on #72956
I will fix all of the `hack/verify-generated-*` in a PR this morning :) Will link once its created!

[2019-02-21 14:30] luisdavim commented on #64623
I've seen this being requested many times and I think that `DaemonSet`s should allow for a `RestartPolicy` of `OnFailure` and jobs should allow using that to execute tasks on all nodes once.

[2019-02-21 14:33] hello2mao commented on #74303
@rowshan So you can not get LoadBalancer Ingress IP until LoadBalancer Service is created successful.

[2019-02-21 14:48] antalm commented on #72565
Hi! Sorry, it was a mistake. I had --register-node=false setting in kubelet and thus nodes did not have the default kubernetes.io/hostname label, but instead had a private nodename label. When I changed topologyKey to nodename, the 3rd pod instantly went to Pending state as expected. Sorry for the confusion. I am closing this issue.

[2019-02-21 14:48] #72565 closed

[2019-02-21 14:55] bswartz commented on #74313
It's not multiple pods using the same volume, it's multiple pods using different volumes on the same iSCSI target (server). Iscsi has special refcounting specifically for this case, but it needs an overhaul for raw block. What we have now is a significant regression if you use a mixture of raw block and filesystem volumes. I hesitate to mention data corruption, but it's not impossible if you force

[2019-02-21 15:01] darkowlzz opened #74350 "Support volume expansion in StorageOS volume plugin"
**What would you like to be added**:
Volume expansion support in StorageOS volume plugin.

**Why is this needed**:
To resize PVCs created by StorageOS through kubernetes.

/sig storage

[2019-02-21 15:14] msau42 commented on #74317
The underlying disks represented by PVS do not get cleaned up by deleting the cluster immediately because cluster teardown immediately shuts down the controllers that are supposed to handle cleanup.

How about waiting to error at the very end of the cleanup function?  In the past we have had real issues with pod teardown that would have been easily caught by this.

[2019-02-21 15:25] bitglue commented on #43916
@kinghrothgar [`LimitRSS` doesn't do anything on Linux](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#Process%20Properties).

I suggest making your pod's memory request and limit equal. This will prevent the pod from being evicted. Yes, this means if there's "extra" memory available on the node, MongoDB can't use it. But arguably that's a _good_ thing, because if more pods are

[2019-02-21 15:28] pohly opened #74352 "move test/e2e/framework into staging"
**What would you like to be added**:

https://github.com/kubernetes/kubernetes/issues/66649 and its PR https://github.com/kubernetes/kubernetes/pull/68483 made it possible to use `test/e2e/framework` outside of Kubernetes. It would be better to move `test/e2e/framework` into `staging/src/k8s.io/e2e-framework` and import it as `k8s.io/e2e-framework`. This might be a good time to document and clean

[2019-02-21 15:28] pohly commented on #74352
/sig testing

[2019-02-21 15:33] pohly opened #74353 "simplify e2e.go"
**What would you like to be added**:

#66649 and its PR #68483 made it possible to use test/e2e/framework outside of Kubernetes. But projects doing that (like https://github.com/intel/pmem-CSI/blob/d4bd9086d742701ba5b5fe10d413a2ed79a8fad4/test/e2e/e2e.go or https://github.com/intel/oim/blob/799b79eb01b4471a715f3f12b4c199a7c055c8ef/test/e2e/e2e.go) still need to copy a significant chunk of code. It

[2019-02-21 15:33] pohly commented on #74353
/sig testing

[2019-02-21 15:58] mbach04 commented on #70588
For tracking purposes:
[Kube auto-scaler](https://github.com/kubernetes/autoscaler/issues/1707)

[2019-02-21 15:59] pohly commented on #74317
What do you meant with "waiting to error"?

Do you want `framework.DeletePodWithWait()`, `l.resource.cleanupResource()` and `l.testCleanup()` to run even if one of them fails or panics (i.e. has an assertion failure)?

[2019-02-21 16:10] jeff1985 commented on #70324
Is there a real workaround for this? My cloud provider is telling me the only cure is to restart each cluster node on a daily basis.. Any help appreciated!

[2019-02-21 16:22] msau42 commented on #74317
Correct although thinking about that more it would be hard to enforce. Methods called inside may also have assertion failures.

Is it reasonable to try to cleanup as much as we can, but in some failure cases there may need to be manual intervention?

[2019-02-21 17:22] #74229 closed

[2019-02-21 17:46] pohly commented on #74317
We can wrap each call in a func which has a defer and catches exceptions there, so it can be enforced in a generic way.

I'm just not sure how much it will really help when, for example, deleting the pod which currently uses a volume fails.

[2019-02-21 17:50] sarjeet2013 opened #74359 "Health check by CSI driver"
**What would you like to be added**:

CSI driver should provide a way to inform CO about a bad health of an attach/mount and let CO reattach/remount request to the CSI driver again. There is no existing RPC for CSI that has support for it.

**Why is this needed**:

In some cases, the intermittent failure from the storage backend can remove the attached volume or fail the mount to the backend stora

[2019-02-21 17:51] sarjeet2013 commented on #74359
/sig storage

[2019-02-21 17:51] xiaods commented on #9043
so any update on this feature request?

[2019-02-21 17:52] oomichi commented on #74326
I was wondering we could remove "openstack" provider specific tests and conditions from e2e tests, but there are storage tests which are related to OpenStack in e2e tests.
So it is nice to add registration for OpenStack at this time.

[2019-02-21 18:15] jeff1985 commented on #70324
This issue might be connected to https://github.com/google/cadvisor/issues/1581

If you take a closer look, you can verify that the problem is inside the function inotify_add_watch.

The default inotify limit on ubuntu is 8192, which can be the limiting factor here.
So I decided to test increasing the limit. I ran this command on one of my cluster nodes:

   $ sudo sysctl fs.inotify.max_user_watch

[2019-02-21 18:30] michmike commented on #74101
if we go native WMI/WinRM will likely be much faster. even faster is likely the windows perf counters
https://docs.microsoft.com/en-us/windows-server/networking/technologies/network-subsystem/net-sub-performance-counters
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.performancecounter?view=netframework-4.7.2 (not sure if these are available in any form for GO)

[2019-02-21 18:34] CodeCorrupt commented on #74266
@YoubingLi Thank you for that explanation! best answer I've gotten by far.

I'm curious now, why is it that I can use that share as a Persistent Volume then? What is the difference between me mounting the nfs inside a container, and K8s service mounting that same nfs share internally to create a PV/PVC? Also why am I able to mount the same nfs share when I mount through `localhost` in the pod runn

[2019-02-21 18:36] msau42 commented on #74359
This feeds into an overall volume health feature. It would be beneficial to have a higher level overview of the problem space and user stories, especially considering the failure conditions of many of the CSI drivers out there.  I think we can break this out into multiple parts:

* How to surface unhealthy volumes?
* What kind of reactions would we want Kubernetes or external controllers to be abl

[2019-02-21 18:36] msau42 commented on #74359
cc @xing-yang @jingxu97 @NickrenREN

[2019-02-21 18:36] msau42 commented on #74359
@kubernetes/sig-storage-feature-requests

[2019-02-21 18:38] s2maki commented on #45509
I'm struggling to understand how this isn't a more general problem with deployments.  Even in the example given in the [documentation for deployments](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/) (describing rollout of an nginx upgrade) it seems like disruption of active work is a problem.

In the provided example, any HTTP connections currently open at the time a pod is

[2019-02-21 18:58] PatrickLang commented on #73414
For the first one [should support configurable pod resolv.conf](https://github.com/kubernetes/kubernetes/blob/bb9a12d6f8875bed8e28d10a4351c96ab18f8247/test/e2e/network/dns.go#L254) - yes. The main differences will be checking the output of `ipconfig` instead of `cat /etc/resolv.conf`, and maybe using `nslookup` instead of `dig` but the flow is the same

Checking second one now

[2019-02-21 19:13] mitpwd opened #74361 "Deamonset (ds) not scheduling new pods after upgrade in-situ 1.10.6 to 1.11.7"
**What happened**:
Deamonset (ds) not scheduling new pods after a pod is deleted using kubectl command. This happened after upgrade from 1.10.6 to 1.11.7, but only with all our deamonsets. When we remove the whole namespaces and re-deploy all K8S resources again (e.g. ds, secrets, namespace, limitranges) we get the desired and running state correct (total 6).

This is the status of the deamonset a

[2019-02-21 19:15] haiyanmeng commented on #70890
Can anyone reproduce the issue? I have trouble to reproduce it.
The liveness exec command probe ends up using the [ExecSync](https://github.com/kubernetes/kubernetes/blob/739af85d7a63dec41e07913c14c3fe26695804bb/pkg/kubelet/kuberuntime/kuberuntime_container.go#L790) CRI method, which executes the command in the container and returns the output.
The command set in the liveness probe is `yes`, which

[2019-02-21 19:17] pradheba-rangarajan commented on #43567
Thank you very much! Worked like a charm

[2019-02-21 19:30] wongma7 commented on #74313
What is the special refcounting iscsi has, could you point me in the right direction?

Regardless of whether two iscsi volumes are used as block or filesystem, if they have the same target they are supposed to be tracked by kubelet's desiredStateOfWorld/actualStateOfWorld the same way. The iscsi plugin identifies volumes uniquely by target info, see the call stack:
GetVolumeName (returns "TargetPo

[2019-02-21 19:52] PatrickLang commented on #73414
Agree on second one. I think that will cover it. It may make sense to simplify it a bit because the common methods used there are all based on running bash + dig. If it works with busybox, that may be feasible.

The description at https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-hostname-and-subdomain-fields matches those test cases

[2019-02-21 19:59] msau42 commented on #7890
Now that CSI is available, a CSI driver can be written for fuse filesystems.  However, there are special considerations with upgrades: https://github.com/kubernetes/kubernetes/issues/70013

[2019-02-21 20:00] daschott commented on #73414
If at all possible, could we use native Windows cmdlets such as `resolve-dnsname` instead of relying on Linux cmdlets that have been ported to Windows like `dig`? Am not 100% confident if they are going to behave consistently.

[2019-02-21 20:04] DaveWHarvey opened #74365 "Statefulset pod restart should use current settings for pod indices >= partition during rolling upgrade"
**What happened**:
Changed helm chart which changed the name of service account used by statefulSet, and deleted old service account.   Rolling upgrade with partition=0 (triggered by only the change in serviceAccount) worked as desired on a number of statefulSets. Then worker node crashed, and one statefulset could not recreate pod because old version of the statefulSet needed for pod 0 referenced

[2019-02-21 20:33] verult commented on #73972
Linking past discussions around multi-attach here: https://github.com/kubernetes/kubernetes/issues/40669 and https://github.com/kubernetes/kubernetes/pull/40148#pullrequestreview-18685838 .

Context for those who didn't really know how `IsMultiAttach()` worked (like me :) ):
* For in-line volumes, it encodes a check on a per-volume-plugin basis. However this doesn't cover all volume plugins today

[2019-02-21 20:39] bsalamat commented on #73216
@tuminoid Thanks for testing various versions. #72558 is already cherrypicked to 1.11+ branches.

[2019-02-21 20:45] bsalamat commented on #73216
It is worth noting that #73309 is also a great improvement that should address this issue. With #73309 we should see the logic added by #72558 to get exercised in very rare (and unexpected) situations. Basically #72558 is our safety valve.
With the issue addressed, I think we can close this issue. Please feel free to reopen if needed.

[2019-02-21 20:45] #73216 closed

[2019-02-21 20:46] gnufied commented on #74317
Can we not audit other cleanup functions being called from teardown and make sure they return error and not assert themselves?  What I ended up doing was - use `utilserrors.NewAggregate()` and gather all the errors and then assert at the end of teardown routine.

[2019-02-21 20:54] PatrickLang commented on #73414
yeah, I think what David's suggesting makes sense if the test cases are forked for Windows.

[2019-02-21 21:05] pohly commented on #74317
Sure, that also can be done. Now we just need a volunteer...

[2019-02-21 21:26] fedebongio commented on #74237
/cc @jingyih @jpbetz

[2019-02-21 21:28] fedebongio commented on #74302
/cc @lavalamp

[2019-02-21 21:28] msau42 commented on #50898
Can folks here provide some more details on their use cases?  For example, what kind of information to you want to associate with a tag and an example of tag values?  Instead of blindly allowing any arbitrary PVC annotations to be passed (which [breaks portability](https://github.com/kubernetes-csi/external-provisioner/issues/170#issuecomment-465833825)), we can investigate other means to be able

[2019-02-21 21:28] fedebongio commented on #74334
/assign @apelisse

[2019-02-21 21:31] pohly commented on #74317
Just for reference, previously in 1.13 the code looked like this:
https://github.com/kubernetes/kubernetes/blob/96043d91a17435b1294e8427edf4c0eca8d25d0c/test/e2e/storage/testsuites/subpath.go#L185-L196

The driver cleanup then followed in:
https://github.com/kubernetes/kubernetes/blob/96043d91a17435b1294e8427edf4c0eca8d25d0c/test/e2e/storage/csi_volumes.go#L138-L141

[2019-02-21 21:38] spiffxp commented on #73884
/remove-kind failing-test
This should be reserved for tests which are continuously failing
/kind flake
/milestone v1.14

[2019-02-21 21:39] spiffxp commented on #73105
/sig scalability
/remove-kind bug
/kind flake
/milestone v1.14
As we are approaching burndown and this impacts our ability to merge code

[2019-02-21 21:40] spiffxp commented on #73067
/remove-kind failing-test
This should be reserved for tests that are continuously failing
/kind flake

(honestly if we're going to have the bot auto-file flakes like this, it should be /kind flake'ing so humans don't have to triage like this)

[2019-02-21 21:41] dcbw commented on #74298
What CNI plugin are you using?

[2019-02-21 21:42] msau42 opened #74372 "Pod object can be deleted before volumes have unmounted"
**What happened**:
As discovered in https://github.com/kubernetes/kubernetes/issues/74229, if a pod is is not long-running and ends in a success or failed state, when that Pod object is deleted, it [immediately deletes](https://github.com/kubernetes/kubernetes/blob/cbcc2b26fe214282290b2d8c9dabfbf2226fdeb6/pkg/registry/core/pod/strategy.go#L135-L138) the Pod object instead of waiting for volumes to

[2019-02-21 21:45] php-coder commented on #74309
/sig auth

[2019-02-21 21:48] michmike commented on #74134
@bclau what are the next steps on this ticket to get the images to gcr.io?

[2019-02-21 21:50] neolit123 commented on #74365
/sig aws

[2019-02-21 21:51] lavalamp commented on #74302
I'm not sure that it's related, but skipping versions is not supported or tested; at least not on the control plane, I'm not sure about nodes but the most you could skip while still being in the supported matrix is 1. It's actually pretty risky skipping versions.

If you roll forward one version at a time you'll at least have a much better idea of which version introduces the problem.

About this

[2019-02-21 21:51] neolit123 commented on #74316
/sig storage

[2019-02-21 21:51] neolit123 commented on #74361
/sig scheduling

[2019-02-21 21:54] spiffxp commented on #73067
/close
At this point we don't have enough context to solve this particular flake

Looking at the triage dashboard it's unclear which of these are valid PR failures vs. flakes https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pr%3Apull-kubernetes-e2e-gce%24

[2019-02-21 21:54] #73067 closed

[2019-02-21 21:55] neolit123 commented on #74262
what is the output of `kubeadm init` if you also add verbose level `--v=2`?

/area kubeadm
/sig cluster-lifecycle

[2019-02-21 21:57] MarcPow commented on #70851
/close.

This change has already been merged.

[2019-02-21 22:01] neolit123 commented on #74340
try a different CNI plugin instead of flannel - e.g. Weave net or Calico:
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network
and see if you are facing the same problem?

do you have matching versions between kubeadm, kubelet, api-server, controller-manger, scheduler?
is everything 1.13.3?

[2019-02-21 22:13] DaveWHarvey commented on #74365
My inclination is that this is not AWS related, but an architecture problem esp. with helm.

[2019-02-21 22:15] DirectXMan12 opened #74373 "Admission Webhook Review Requests Don't Include GVK in Raw Object"
The admission webhook review requests seem not to include a GVK in the raw object.  It's included elsewhere in the review request, so it's generally not an issue, except that the unstructured codec *requires* GVKs to be present (it's not a technical requirement AFAICT, just a check done in the codec logic).  This means that trying to use `codec.Decode` or `json.Unmarshal` on an Unstructured fails.

[2019-02-21 22:16] jcrowthe commented on #71712
I've run into this issue as well and have confirmed that swapping
[code]
on each kubelet fixes this issue (running Kubernetes v1.13.3 running CRI-o v1.13.0). I do still get some disparate error logs, but so far I haven't received any error when running `kubectl top pod <pod>`.

[2019-02-21 22:22] msau42 opened #74374 "Storage protection feature does not integrate well with StatefulSet pod recreation"
**What happened**:
The storage protection feature prevents PVC deletion until all Pods referencing it are deleted.  This doesn't work well with Statefulsets when you want to delete the PVC and have the StatefulSet controller recreate it.  The StatefulSet controller only [creates missing PVCs when creating a new Pod](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/controller/sta

[2019-02-21 22:22] spiffxp opened #74375 "pull-kubernetes-e2e-gce is nearing its timeout"
If forget which timeout applies to which layer, but there is both:
- `--timeout=90` (ref: https://github.com/kubernetes/test-infra/blob/5df2f2f9ff8a75d5e0128889a314241b14749b2b/config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml#L43)
- `--timeout=65m` (ref: https://github.com/kubernetes/test-infra/blob/5df2f2f9ff8a75d5e0128889a314241b14749b2b/config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.ya

[2019-02-21 22:24] msau42 commented on #74374
A workaround in the meantime is to delete the StatefulSet pod a second time if it's stuck in pending due to missing PVC.

[2019-02-21 22:41] DaveWHarvey commented on #74365
Adding a service account with the old name allowed pod0 and pod3 to be created, and pod1 is now terminating as the rolling update is moving forward again.

[2019-02-21 22:51] #68913 closed

[2019-02-21 22:51] #64062 closed

[2019-02-21 23:01] freehan commented on #74308
@mm4tt @wojtek-t Is it possible to the related to the recent kube-proxy/endpoints-controller change?

[2019-02-21 23:01] prameshj commented on #74210
Pods do not get hostnames by default, so the error is expected.
Are service names being resolved? like - "nslookup kubernetes.default"

[2019-02-21 23:09] PatrickLang commented on #74101
here's some code that uses perf counters https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/winstats/perfcounters.go

the same package may work for this but I haven't confirmed what the counter names are

[2019-02-21 23:14] PatrickLang commented on #73792
/assign @jsturtevant

[2019-02-21 23:15] thockin commented on #74134
I am still waiting for which image we are going to use, and for any
objections to "k8s.gcr./io/testing/e2e" as a root.

On Thu, Feb 21, 2019 at 1:49 PM Michael Michael <notifications@github.com>
wrote:

[2019-02-21 23:19] PatrickLang commented on #73327
@immuzz is going to take a look
cc @neolit123

[2019-02-21 23:22] PatrickLang opened #74377 "Need cross-OS test for service connectivity"
Create a hybrid OS test that will have two services, one in linux and one in windows that talk to each other over flannel (Claudiu indicated this had some issues in his testing and we need to verify this)

We should create the test in such a way that can work with all supported CNIs

/sig windows

[2019-02-21 23:22] itskingori commented on #68712
/remove-lifecycle rotten

[2019-02-21 23:22] PatrickLang commented on #74377
/assign @vyta

[2019-02-21 23:25] spiffxp commented on #74308
/remove-kind bug
/kind flake
because, ya know, flakes

[2019-02-21 23:28] BenTheElder commented on #74308
@spiffxp FWIW I think this is a bug in the test, not any other flakiness. It's unreasonable to not expect the network to flake at all?

[2019-02-21 23:48] BenTheElder commented on #74375
to be clear: the y axis on that graph is in seconds, and x (while not visible) is the date?

[2019-02-21 23:52] #68933 closed

[2019-02-21 23:57] dims opened #74379 "Extract cloud provider specific credentialproviders"
Splitting this out from the conversations in https://github.com/kubernetes/kubernetes/pull/70675, we are trying to remove cloud specific code into pluggable things, we should do the same with the credential providers too

/area cloudprovider

[2019-02-21 23:57] dims commented on #74379
/assign @andrewsykim

[2019-02-22 00:04] msau42 opened #74380 "Volume mode test is leaking PDs"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce

**Which test(s) are failing**:
I0221 20:48:18.462] [sig-storage] In-tree Volumes
I0221 20:48:18.462] [90m/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/storage/utils/framework.go:22[0m
I0221 20:48:18.462]   [Driver: gcepd]
I0221 20:48:18.462]   [90m/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/ku

[2019-02-22 00:04] msau42 commented on #74380
cc @pohly @mkimuram @gnufied

[2019-02-22 00:04] msau42 commented on #74380
@kubernetes/sig-storage-test-failures

[2019-02-22 00:30] codenrhoden commented on #72290
/assign

[2019-02-22 00:35] anjuls commented on #51835
we are facing same issue when we started mounting secrets (shared with many pods). The pod goes in `terminating`  state and stay there forever.  Our version is v1.10.0 . The attached docker container is gone but the reference in the API server remains unless I forcefully delete pod with `--grace-period=0 --force` option.

Looking for a permanent solution.

[2019-02-22 01:37] lyl2008dsg commented on #74262
- I had the same problem.

- I had the same problem.

- I feel like the problems that have arisen since I upgraded to 1.13.3

[2019-02-22 01:40] jshakk opened #74382 "Kubernetes worker node error on kube proxy and calico node"
**What happened**: Installed kubernetes and docker in master and worker node successfully. However  getting the below error when tried to get the pods
kube-system   calico-node-mz9sc                                    0/1     PodInitializing
kube-system   kube-proxy-cz7cv                                     0/1     ContainerCreating

**What you expected to happen**:
Expected to successfully scale

[2019-02-22 01:41] Huang-Wei commented on #40358
@BrendanThompson There was a design doc approaching "max pods per topology". But after brainstorming with Bobby, it turns out that might not be a good idea, esp. on how to set that "max value", see the discussion [here](https://docs.google.com/document/d/1llmjRNp5UEfzXR0Tv7btt5zB04FW8bu960t_o91mueI/edit?usp=sharing).

Recently I drafted up a [KEP](https://github.com/kubernetes/enhancements/pull/85

[2019-02-22 01:42] littleroad commented on #73788
Duplicate of #74310

[2019-02-22 01:45] neolit123 commented on #74262
would that be an upgrade from 1.13.2 to 1.13.3?

[2019-02-22 01:47] #74092 closed

[2019-02-22 02:06] lyl2008dsg commented on #74262
Yes.  Last night, I used 1.13.2. He could work.
Since upgrade from 1.13.2 to 1.13.3, the above problems have arisen.

[2019-02-22 02:09] neolit123 commented on #74262
^ @kubernetes/sig-cluster-lifecycle

[2019-02-22 02:09] xichengliudui commented on #74331
/assign @SataQiu

[2019-02-22 02:09] MrHohn opened #74383 "`externalTrafficPolicy: Local` doesn't work well with nodeport for internal traffic"
**What happened**:

Sending traffic from a pod (`hostNetwork: false`) to the nodeport (`externalTrafficPolicy: Local`) on another node is not working properly.

Below illustrate what happens:
![nodeport bug with only local](https://user-images.githubusercontent.com/8681801/53214479-a1dd1a80-3601-11e9-835a-4e353d7be67c.png)

To describe it in words:
- We have client podA running on nodeA, server po

[2019-02-22 02:10] olivejing commented on #72905
I run command: kubectl create -f pvc-test.yaml：
[code]
the error happens every time:
`E0222 02:04:35.053949       1 goroutinemap.go:150] Operation for "provision-default/pvc-test[33608eb7-3646-11e9-946e-fa163e255ba2]" failed. No retries permitted until 2019-02-22 02:04:35.539965143 +0000 UTC m=+236459.134894572 (durationBeforeRetry 500ms). Error: "Operation cannot be fulfilled on persistentvolumec

[2019-02-22 02:10] xichengliudui commented on #74331
@errordeveloper I believe @SataQiu is more suitable. thanks.

[2019-02-22 02:28] msau42 opened #74384 "LocalVolumeType: gce-localssd-scsi-fs tests are failing"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-serial

**Which test(s) are failing**:
LocalVolumeType: gce-localssd-scsi-fs

**Since when has it been failing**:
2/20

**Testgrid link**:
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4710

**Reason for failure**:
unsure yet

/assign

[2019-02-22 02:28] msau42 commented on #74384
@kubernetes/sig-storage-test-failures

[2019-02-22 02:41] zhangxiaoyu-zidif commented on #40358
`Require` is good. and `perfer` is redundant. Just image that when we
deploy a daemonset in our K8s, we actually knows the replicas number. Some
resources and replicas number is deliberated by users with some tools. So
we need not consider too much on graceful solution.

Wei Huang <notifications@github.com> 于2019年2月22日周五 上午9:42写道：

[2019-02-22 02:47] cofyc commented on #72347
/assign

[2019-02-22 02:56] SataQiu commented on #72956
Fixed by #74385
* hack/generate-bindata.sh
* hack/generate-docs.sh
* hack/install-etcd.sh
* hack/update-bazel.sh

[2019-02-22 02:57] xichengliudui commented on #74382
I suggest you execute:
`apt update -y`
or
`systemctl daemon-reload && systemctl restart docker`
or all trying to execute

[2019-02-22 03:04] huxiaoliang commented on #73327
NodePort  service doesn't work on my mixed-OS clusters (1 k8s linux master + 1 k8s linux worker + 1 windows worker) as well. I depends on https://kubernetes.io/docs/getting-started-guides/windows/#host-gateway-topology as network solution for windows node, other linux node use calico for networking.  all works well except accept access NodePort  service on windows node, it seems the Port 31858 is

[2019-02-22 03:04] huxiaoliang commented on #73327
@immuzz  I am waiting your feedback, thanks in advance.

[2019-02-22 03:14] smileusd commented on #69553
I find the problem in cross build kubelet to linux at mac:
[code]
but is fine general build:
[code]

[2019-02-22 03:29] mingxingshi commented on #60807
[]([root@k8s-master ~]# curl -k -H "Content-Type: application/json" -X PUT --data-binary @tmp.json https://172.*****:6443/api/v1/namespaces/rook-ceph/finalize
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "namespaces \"rook-ceph\" is forbidden: User \"system:anonymous\" cannot update namespaces/finalize in the namespace \"rook-ceph\"",
  "rea

[2019-02-22 03:36] mingxingshi commented on #60807
[code]
I got a return code 403, what should I do :(

[2019-02-22 04:04] xichengliudui opened #74387 "translations/kubectl/... can't edit"
**What happened**:
https://github.com/kubernetes/kubernetes/issues/74339

But when I found the path to the file I was trying to fix, I saw the last line:
[code]

**What you expected to happen**:
fix https://github.com/kubernetes/kubernetes/issues/74339

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use

[2019-02-22 04:06] answer1991 opened #74388 "Node becomes to be NotReady when iops is full"
**What happened**:
When Node's iops is full, the Node status becomes to be NotReady. The NotReady message is "Container runtime is not ready".

After our troubleshoot, we found func `plugin.syncNetworkConfig()` in cni package costs more then 30s, then the runtime status health check is failed :

[code]

**What you expected to happen**:
Node should still be in Ready status when iops is full. Becaus

[2019-02-22 04:06] xichengliudui commented on #74387
/sig node

[2019-02-22 04:06] answer1991 commented on #74388
/assign
/sig-node

[2019-02-22 04:31] DaveWHarvey commented on #74365
/sig Architecture because I think the API for statefulsets should be clarified.

I've revised the above comments and title to make the case more coherent.

The documentation for "Staging an Update"  describes the behavior on a pod failure when the pod index is < partition.   However, the >= case is not described at all.

[2019-02-22 04:32] jshakk commented on #74382
Thank you, I did that and calico and kube-proxy went to pending state indefintely.
kube-system   calico-node-7kqhn                                    0/1     Pending
kube-system   kube-proxy-rl78q                                     0/1     Pending

when i described the pod, i got the below.
Events:
  Type    Reason     Age   From               Message
  ----    ------     ----  ----

[2019-02-22 04:33] ceshihao commented on #74387
I think it means you should modify corresponding files in translations instead of generated bindata.go

[2019-02-22 04:51] #74039 closed

[2019-02-22 04:59] answer1991 commented on #74388
/sig node
/sig network

[2019-02-22 05:08] SataQiu commented on #74331
18.09.2 is a sub-version of 18.09 which kubeadm currently supports.

[2019-02-22 05:24] andrewsykim commented on #74379
Tracking issue for SIG Cloud Provider milestones https://github.com/kubernetes/cloud-provider/issues/13.

Hoping to have an alpha working version of this for v1.15

[2019-02-22 05:26] mingxingshi commented on #60807
Thx god, the terminating namespace is finally gone. The following method do trick for me.
[code]

[2019-02-22 05:29] xichengliudui commented on #74387
Here's how I understand it:
none of the files above the `// DO NOT EDIT!` can be edited. It's not that I want to edit the bindata.go file.
did I misunderstand?

[2019-02-22 05:42] jejer commented on #66777
/reopen

[2019-02-22 05:52] thockin commented on #48719
I independently found this same issue via another bug report.  Looking at the fix now, trying to add good e2e for it.

[2019-02-22 05:55] liurd commented on #71706
We also have the issue.
One more thing is, if two process write iptables same time. in the race condition, there will be write iptable fails. No sure if it is related.

[2019-02-22 05:57] thockin commented on #56903
This issue is not a Kubernetes issue, per se.  We're working on a per-node DNS cache model which will hopefully alleviate this quite a lot.  I'll close this issue, though the conversation can continue.  It's just not actionable (or rather the cache is the action)

[2019-02-22 05:57] #56903 closed

[2019-02-22 06:03] vainu-arto commented on #56903
@thockin This is caused by a bug in the kernel NAT implementation that has according to reports been finally fixed in Linux 5.0. The action is thus upgrading the kernel to a fixed version.

If that isn't possible, there are several workarounds that help (like enabling --random-fully when creating iptables NAT rules which makes this race much less likely to be hit, this should be automatically appl

[2019-02-22 06:11] idealhack commented on #62577
/lifecycle frozen

[2019-02-22 06:17] #74305 closed

[2019-02-22 06:17] #73858 closed

[2019-02-22 06:21] readme2gh commented on #66852
你解决了吗,我也是遇到这个问题,求帮助

[2019-02-22 06:22] #74331 closed

[2019-02-22 06:31] #73658 closed

[2019-02-22 07:04] andyzhangx opened #74396 "fail to detach azure disk when there is server side error"
**What happened**:
Current azure cloud provider would fail to detach azure disk when there is server side error, need to add retry mechanism for detach disk operation, while for attach disk operation, it's not necessary since k8s pv-controller will try if first try failed.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2019-02-22 07:05] ricky1993 opened #74397 "Controller will be hung for a while after restarting"
**What happened**:
Our cluster has about 50k replicaset. Every time we restart controller, it will be hung for 15 minutes.
Replicaset controller's queue is full, and cannot handle the new sync request.
![image](https://user-images.githubusercontent.com/10073361/53225513-3c496680-36b3-11e9-81f0-0a11c6e4b629.png)

**What you expected to happen**:
After leader restarting, the standby should be the ne

[2019-02-22 07:32] vTNT commented on #23880
+1

[2019-02-22 07:42] brb commented on #56903
This won't help. The flag is used to alleviate another race in conntrack which has nothing to do with the race in this issue.

To avoid any confusion - the kernel fixes do _not_ completely prevent from the timeouts when running more than one instance of kube-dns in a cluster. The `ipvs` mode users are even more prone to the problem. [The blogpost](https://www.weave.works/blog/racy-conntrack-and-dn

[2019-02-22 07:53] mm4tt commented on #74308
I cannot say that I'm 100% sure, but I'd be really surprised if https://github.com/kubernetes/kubernetes/pull/73314 is the culprit of this flakiness.
The changes we introduced shouldn't affect the latency of an Endpoints object creation in a significant way. We haven't introduced any new API calls, we're just iterating over already fetched list of pods, computing the trigger time for them and sett

[2019-02-22 07:54] yue9944882 commented on #74373
[https://github.com/kubernetes/kubernetes/blob/d9f3e96796e2d154b1d4caa156ba95ff9b01e5b2/staging/src/k8s.io/apimachinery/pkg/conversion/unstructured/unstructured_conversion_test.go#L384-L408](https://github.com/kubernetes/kubernetes/blob/d9f3e96796e2d154b1d4caa156ba95ff9b01e5b2/staging/src/k8s.io/apimachinery/pkg/conversion/unstructured/unstructured_conversion_test.go#L384-L408)

this's designed i

[2019-02-22 07:56] yue9944882 commented on #74334
https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-448633260

deleting namespace should be done via request subresource

/remove-kind feature
/kind support

[2019-02-22 07:58] hchenxa commented on #71887
I also find this issue with kubernete 1.12.4 when using systemd as cgroup-driver, after the kubelet started, this will flood my syslog, but after stop the kubelet, the message only shown when operate the docker container like create/destroy docker container.

[2019-02-22 08:00] zvictor opened #74401 "kube-dns fails to start in GKE when combined with addons"
**What happened**:
kube-dns fails to start running on all newly created GKE clusters post version `1.11.6-gke.3` when installed with Istio and CloudRun addons, with the following logs:

[code]

**How to reproduce it (as minimally and precisely as possible)**:
given that `CLUSTER_VERSION > 1.11.6-gke.3`:
[code]

**Anything else we need to know?**:
all versions tested by me:
[code]

**Environment**:

[2019-02-22 08:07] vainu-arto commented on #56903
@brb This does not match observed results in our clusters. The DNS issue has not been seen here ever since random-fully got enabled in Flannel.

[2019-02-22 08:49] marekaf commented on #74401
The same happened to me with kube-dns and heapster. Seems like a bug in CloudRun addon, the kube-system namespace gets labeled with istio-proxy=true which is clearly a bug.

[2019-02-22 08:56] huxiaoliang commented on #73327
this message show in the kube-proxy logs periodically.

[code]

[2019-02-22 09:31] liurd opened #74405 "Tight retry loops should not cause cascading failure of the cluster"
**What happened**:
Problem found by accident during cluster stability testing. The application consumes nearly 7MB of memory per pod.
While the helm chart was written the way that the deployment have set too low limits - see the snippet:
`containers:
......
  resources:
    limits:
      cpu: 200m
      memory: 4Mi
    requests:
      cpu: 100m
      memory: 4Mi `

_A pod was started; once initial

[2019-02-22 09:47] #73485 closed

[2019-02-22 09:52] gosoon commented on #56850
I've got the same errors on

-  CentOS Linux release 7.2.1511 (Core)
-  docker 1.13.1
-  kubernetes v1.8.1

use
[code]
in kubelet config still can't solve.

[2019-02-22 10:03] kumar-shantanu commented on #74298
We are using calico version 2.6.7 - and yes 100.64.0.1 is the cluster apiserver

[2019-02-22 10:16] cofyc commented on #72346
`podVolumesExist` is currently being used in follow places:

- `Kubelet.cleanupOrphanedPodCgroups`
- `Kubelet.cleanupOrphanedPodDirs`
- `Kubelet.PodResourcesAreReclaimed`

My suggestion is to check volume directories instead of mounts to decide wether volumes exist or not for pod in `podVolumesExist`.

Overview:

- volume manager makes sure volume directories are removed after they are unmounted

[2019-02-22 10:28] prometherion opened #74409 "CABundle in Webhook ClientConfig should be able to be referenced instead of a string"
**What would you like to be added**:

Actually we got this spec:

[code]

In my humble opinion, better to handle with a `secretRef`:

[code]

**Why is this needed**:

Essentially I'm using `cert-gen` to handle with ease certificates and I faced some difficulties to handle webhook configuration with Helm due to certificates management: I have to pass an input value in order to fill correctly the `c

[2019-02-22 10:28] cofyc commented on #72347
List of calls of `IsLikelyNotMountPoint` outside of `pkg/volumes`:

[code]

- [x] pkg/util/removeall/removeall.go, RemoveAllOneFilesystem
  - safe, although maybe unnecessary
-  [ ] pkg/kubelet/kubelet_getters.go, Kubelet.getMountedVolumePathListFromDisk
  - my proposal see https://github.com/kubernetes/kubernetes/issues/72346#issuecomment-466347067
- [ ] pkg/util/mount/mount_helper.go, doCleanupM

[2019-02-22 10:37] errordeveloper commented on #74331
On Fri, 22 Feb 2019, 5:09 am SataQiu <notifications@github.com wrote:

Yes, but it sounds like we should make it clearer in the docs, as docker
versioning scheme is not obvious... Do you agree?

[2019-02-22 10:40] WanLinghao commented on #74409
I had same idea before, I think we should provide some unified way against all the caBundle thing

[2019-02-22 11:03] #69025 closed

[2019-02-22 11:11] tomekit commented on #20227
Bumping to prevent stale. Is there any update here?

[2019-02-22 11:11] paulsubrata55 commented on #58921
the system time should be same across all nodes. At least it solved certificate issue in my case.

[2019-02-22 11:34] angegar commented on #71869
I am encountering the same issue. I deployed the stack with kops on AWS and my k8s version is 1.11.6. The problem is that i have an application downtime ones per week when the disk pressure happened.

[2019-02-22 11:36] brb commented on #56903
Anyway, to __completely__ eliminate the DNS timeout issue, use Linux kernel v5.0 (the final release is probably next week) and Cilium for k8s networking. The latter replaces `kube-proxy` for accessing services with its own LB implementation (BPF based) which selects an endpoint based on a packet hash. So, in the case of two racing DNS requests, the same endpoint is selected, and thus neither packe

[2019-02-22 11:54] zvictor commented on #74401
I just tried with `cluster-version=1.11.7-gke.6` and it works! 🎉

[2019-02-22 12:06] #73849 closed

[2019-02-22 12:14] tlbdk commented on #73963
Any news?

[2019-02-22 12:21] prometherion commented on #74409
/sig api-machinery

[2019-02-22 12:27] brb commented on #56903
@vainu-arto This is either coincidence in timing or you were suffering from a different issue (e.g. accessing DNS outside cluster). See https://tech.xing.com/a-reason-for-unexplained-connection-timeouts-on-kubernetes-docker-abd041cf7e02 which described what the `--random-fully` flag actually fixes.

[2019-02-22 12:34] ae6rt commented on #56903
@thockin, where can we track the per-node cache design and work?

[2019-02-22 12:41] qmfrederik opened #74412 "Many ConfigMaps and Pods slow down cluster, until it becomes unavailable (since 1.12)"
**What happened**:

I schedule multiple jobs in my cluster. Each job uses a different ConfigMap which contains the configuration for that job.

This worked well on version 1.11 of Kubernetes. After upgrading to 1.12 or 1.13, I've noticed that doing this will cause the cluster to significantly slow down; up to the point where nodes are being marked as NotReady and no new work is being scheduled.

F

[2019-02-22 12:43] qmfrederik commented on #74412
@kubernetes/sig-cluster-lifecycle-bugs @wojtek-t

It looks like this is a regression introduced in v1.12. It looks like #64752 may be related.

[2019-02-22 12:45] munnerz commented on #74409
FWIW, as part of cert-manager there's been a PR to add a controller that automatically copies the contents of a secret over to the caBundle field on {Validating,Mutating}WebhookConfiguration resources and APIService resources: https://github.com/jetstack/cert-manager/pull/1398

I've also put together a small binary that can be used to do this as a CronJob too (which we are moving *away* from using

[2019-02-22 12:46] qmfrederik commented on #74412
On v1.12, the kubelet logs will contain messages like this:

[code]

and

[code]

and the kube-controller-manager logs:

[code]

[2019-02-22 12:48] mm4tt commented on #73176
I reproduced the issue (non-schedulable heapster pod due to not enough resources) on a 5K node cluster. Then I run the load test, first on the version without the fix and the on the version with the fix.
Below are the graphs of the number of scheduler requests (for the unschedulable pod) per minute.

Without fix:
![pjoyng2aiwl](https://user-images.githubusercontent.com/2604887/53242781-15386800-36

[2019-02-22 12:59] frittentheke commented on #26030
/reopen

[2019-02-22 13:00] frittentheke commented on #26030
requested again in issue https://github.com/kubernetes/kubernetes/issues/40610

[2019-02-22 13:09] pdecat commented on #56903
Here I believe: https://github.com/kubernetes/kubernetes/issues/45363

[2019-02-22 13:22] dims opened #74413 "Unable to update to newer dependencies like docker etc"
folks who are working on `golang.org/x/net` moved code previously in `"lex/httplex"` to `"http/httpguts"`, this has a cascading problem for us since some of our dependencies need older versions of `golang.org/x/net`

[code]

[2019-02-22 13:22] #74190 closed

[2019-02-22 13:29] johanneswuerbach commented on #56903
I think https://github.com/kubernetes/kubernetes/issues/70707 and the related issues are a better subscribe target. The feature is also already available as an alpha in 1.13+

[2019-02-22 13:35] nikhita commented on #61545
@Hashfyre I don't think there are any plans to address this in the near future because it would warrant an api change. Ref: https://github.com/kubernetes/kubernetes/issues/61563#issuecomment-428364190.

[2019-02-22 13:36] cablespaghetti commented on #39090
Just to add my use case; we're running on Amazon EKS and so have no control over the kube-controller-manager flags. This means that I effectively have no control over how aggressively my Pods scale down if I continue to use the HPA.

This is particular problem for us because we're running websites using some quite hefty Java apps, so the load is quite spiky and it can take 1-2 minutes for a new in

[2019-02-22 13:49] rdxmb opened #74414 "`kubectl --namespace apply --prune` should prune within the namespace only"
**What would you like to be added**:
Actually, the parameter `--prune` depends to all namespaces in the cluster. Filtering is only possible with labels. When running `kubectl --namespace NAMESPACE --prune -f ` the `prune` should only depend on the objects defined in `NAMESPACE`.

**Why is this needed**:
A typical use-case is having one repository and namespace per project. When working with declar

[2019-02-22 13:53] skonto opened #74415 "Support a list of namespaces for informers"
**What would you like to be added**:
Enhance the api here: https://godoc.org/k8s.io/client-go/informers to support a list of namespaces
**Why is this needed**:
Operators may need to monitor a subset of all namespaces or even dynamically add one.
I think it could benefit the multi-tenancy story.
 @kubernetes/sig-api-machinery-feature-requests

[2019-02-22 13:54] rdxmb commented on #74414
@kubernetes/sig-cli-feature-requests

[2019-02-22 13:54] redbaron commented on #56903
@brb,

changing kube-dns's Service to have sessionAffinity: ClientIP would also eliminate race, right?

[2019-02-22 13:59] mattjmcnaughton commented on #74387
I agree with @ceshihao that the comment is saying that you should not edit `pkg/kubectl/generated/bindata.go` and instead update the `translation/*` files.

[2019-02-22 14:13] mariantalla commented on #74258
These are now consistently passing, but without related changes --> will change the label to `kind/flake` and close.

/kind flake
/remove-kind failing-test
/close

[2019-02-22 14:13] #74258 closed

[2019-02-22 14:13] yastij commented on #56514
/remove-lifecycle stale
/lifecycle frozen

[2019-02-22 14:15] liggitt commented on #74373
when encoded to the wire, apiVersion and kind must *always* be included.

@DirectXMan12, do you have a gist handy of what the webhook receives for a built-in type (like a pod) and a for a custom resource?

[2019-02-22 14:19] liggitt commented on #74409
correct, this is a duplicate  of https://github.com/kubernetes/kubernetes/issues/72944

/close

[2019-02-22 14:19] #74409 closed

[2019-02-22 14:20] alejandrox1 opened #74417 "[Failing Test] master-blocking:gce-cos-master-default diffResources"
**Which jobs are failing**:
* [master-blocking#gce-cos-master-default](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default)
* [master-upgrade#gce-new-master-upgrade-cluster-new-parallel](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new-parallel)

**Which test(s) are failing**:
* `master-blocking#gce-cos-master-default - diffResources`
  *

[2019-02-22 14:23] rahvee commented on #60134
Same issue, Red Hat Enterprise Linux Server release 7.5 (Maipo)
Sad.  :-(

[2019-02-22 14:38] mborsz opened #74419 "gce-scale-performance has failed"
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/314 failed with

[code]

[2019-02-22 14:38] mborsz commented on #74419
/assign
/sig scalability

[2019-02-22 14:39] brb commented on #56903
@redbaron No. At least in the `iptables` kube-proxy mode, session affinity is implemented by using the `recent` iptables module (`iptables-extensions(8)`) which adds the source address of DNS request to the list after an endpoint has been selected. So, two different endpoints can be selected for two parallel DNS requests sent from the same socket which will cause the DNS timeout.

[2019-02-22 14:42] bclau commented on #74134
Well, I think we are in agreement that we should use the nanoserver images. As for the root repo, I have no objections.

[2019-02-22 14:44] liggitt commented on #74309
related to https://github.com/kubernetes/kubernetes/issues/62988

since RBAC is an optional feature, adding e2e tests is fine but cannot currently be required as part of conformance

can look at what the PSP tests do to check if RBAC is enabled before deciding if they will run:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/auth/pod_security_policy.go#L55-L57

[2019-02-22 14:46] #74303 closed

[2019-02-22 14:54] mattjmcnaughton commented on #72956
I put out a diff this morning to address the following in hack: https://github.com/kubernetes/kubernetes/pull/74420

[code]

[2019-02-22 14:55] mborsz commented on #74419
/cc @wojtek-t @mm4tt

I see e.g.

[code]

I see several "About to write a response" traces around that time: https://gist.github.com/mborsz/6810900c941ea85a0e51f0cd169088a2

[2019-02-22 15:20] liggitt commented on #74373
Looks like custom objects (held in unstructured objects) would include GVK, but in-tree types would not.

It might be as simple as explicitly setting the GVK in ConvertToGVK:

[code]

and we need to update the webhook test to ensure objects in requests *always* have an apiVersion/kind

[2019-02-22 15:25] andyzhangx opened #74421 "cannot parse deviceInfo on azure disk mount"
**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): master
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

/sig azure
/assign

[2019-02-22 15:31] pohly commented on #74380
It has been like that already before my recent code refactoring:
https://github.com/kubernetes/kubernetes/blob/aa87e4b57c53367ca542940367a992a5fc0e062a/test/e2e/storage/testsuites/volumemode.go#L209-L228

Therefore I have to defer to @mkimuram - I myself don't really know what this test does or why it was written like that.

[2019-02-22 15:52] tlbdk commented on #73963
@qingling128 @igorpeshansky seems we have found a way to make fluentd unhappy again can you help land it at the right people? We have seen 4 crashes in less than two weeks

[2019-02-22 15:53] liggitt commented on #8867
@dekkagaijin what's the status of this?

[2019-02-22 15:53] bswartz commented on #74313
@wongma7 https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/iscsi/iscsi_util.go#L651
This is the how the iscsi plugin does refcounting on the iscsi session. Unfortunately the way it's coded, it won't be easy to add ref counting to DetachBlockISCSIDisk(). The ref counting function will need to count up all the filesystem and raw block volumes before deciding it's safe to log out.

[2019-02-22 16:08] #67867 closed

[2019-02-22 16:11] cmluciano commented on #68036
/remove-lifecycle rotten

[2019-02-22 16:42] onyiny-ang opened #74425 "1.14 Release Notes: "Known Issues""
This issue is a bucket placeholder for collaborating on the "Known Issues" additions for the 1.14 Release Notes. If you know of issues or API changes that are going out in 1.14, please comment here so that we can coordinate incorporating information about these changes in the Release Notes.

/assign @dstrebel @jeefy @onyiny-ang @alenkacz

/sig release
/milestone v1.14

[2019-02-22 17:10] phillipao commented on #74334
Sorry, it's difficult to understand your response. Can you elaborate, please?

The comment you link to says to PUT something to the namespace's finalize subresource. I don't know what a "request subresource" is.

I can't find any documentation for the finalize subresource, but I suspect it's deleting finalizers because of a stuck delete. That's not the issue I'm talking about.

Also, I know how to

[2019-02-22 17:12] apelisse commented on #74334
Hi @phillipao,

If I understand properly, you're looking for a way to "re-attach" to the waiting deletion of the namespace, rather than get an error. So that you can wait until the previous deletion command finishes?

[2019-02-22 17:13] wojtek-t commented on #74419
About to write a response is misleading - we should change that step name - it usually is time to get it from storage. Are those requests served from etcd from from watchcache?

[2019-02-22 17:13] phillipao commented on #74334
exactly, yeah

[2019-02-22 17:14] apelisse commented on #74334
That sounds like a feature :-)

[2019-02-22 17:14] phillipao commented on #74334
To put another way, this sequence seems wrong:

`kubectl delete ns my-ns --ignore-not-found # succeeds`
`kubectl delete ns my-ns --ignore-not-found # fails, because terminating`
`kubectl delete ns my-ns --ignore-not-found # succeeds, because not found`

[2019-02-22 17:15] apelisse commented on #74334
I completely understand, and I agree. Not sure it can be done.

[2019-02-22 17:16] apelisse commented on #74334
Some of the logic to implement this might be on the client.

/remove-kind support
/kind feature
/sig cli

[2019-02-22 17:17] cgagnaire commented on #73856
Hi,
We would definitly like to have the "allocated pods and resources" informations in the  `/api/v1/nodes/<node>/status` endpoint as it is the main informations missing, with the _Unschedulable_ boolean, compared to the `kubectl describe nodes`.
Information we can also find in the dashboard :
![image](https://user-images.githubusercontent.com/23257354/53258609-58f29800-36cd-11e9-897d-8b0be02b6143

[2019-02-22 17:41] spiffxp commented on #74308
This is fair, but I still would prefer we use `kind/flake` to identify these kinds of issues.  Whether the source of the flake is the environment, the feature, or the test, it's still something to do with flakiness.

[2019-02-22 17:45] dineshgovindasamy commented on #73327
@huxiaoliang please send us the debug logs.

https://github.com/Microsoft/SDN/blob/master/Kubernetes/windows/debug/Debug.md

@madhanrm

[2019-02-22 17:48] mikedanese commented on #8867
We support this in GKE, but I don't think there's an equivalent for some other platforms. Kube2iam covers this. Do we need a platform agnostic solution? If not, we can close this.

[2019-02-22 17:48] yue9944882 commented on #74334
@phillipao Sry for misreading. I was referencing another unrelated issue.

/kind feature

That conflict error is designed to prevent un-pre-conditioned deletion upon namespaces. And re-attaching deletion (if that's what you mean) should only be valid if it's a pre-conditioned deletion which also requires you to get the resource. It doesn't come easier than checking namespace's status I suppose. @a

[2019-02-22 18:07] wongma7 commented on #74313
OK, think I understand now.

I'm in favour of making the iscsi-specific refcounting look in 2 places. For filesystem keep parsing /proc/mounts (https://github.com/kubernetes/kubernetes/blob/8f1082c6aff6df3cb5e103474d9d846b6f8ebf90/pkg/volume/iscsi/iscsi_util.go#L158), this method is the best. For block, maybe we could add up the # of files in the global symlink dirs that correspond to the same por

[2019-02-22 18:08] timothysc commented on #74282
/assign @stevesloka
/milestone v1.15

[2019-02-22 18:15] spiffxp commented on #74375
correct on the x/y, I can provide a link to something that has more concrete numbers but the main point was to illustrate that it's been continually going up and to the right

[2019-02-22 18:25] BenTheElder commented on #74375
Right, to clarify further though we've gone from 1.9\*1000s ~= 31.6666667 minutes to around 3\*1000s = 50 minutes _just for the tests_, in presubmit this will be even longer than the `ci-kubernetes-e2e-gci-gce` data due to building etc.

[Recent runs of the presubmit](https://prow.k8s.io/job-history/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce) often take as much as 65 minutes, whe

[2019-02-22 18:28] rodlogic commented on #73297
@davidxjohnson What about Elastic IPs that go with the NLB?

[2019-02-22 18:30] BenTheElder commented on #74375
Gaining 20 more serial minutes of tests year over year is probably not sustainable.

[2019-02-22 18:34] kfox1111 commented on #65153
Any updates?

[2019-02-22 18:37] mborsz commented on #74419
Sorry, I haven't updated this issue. I already found that in etcd.log there is a planty of entries like:
[code]
around that time.

On Monday I will continue debugging.

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/314/artifacts/gce-scale-cluster-master/etcd.log

[2019-02-22 18:41] michmike commented on #74134
@bclau can you please explicitly give @thockin all the images to upload in an authoritative list? i am hoping we can upload all of these by monday EOD.

[2019-02-22 19:18] bsalamat commented on #73176
@mm4tt By default the scheduler rate limit is 20 qps for all scheduler operations. Default backoff delay for unschedulable pods is 1 second and goes exponentially higher every time a pod is retried, but does not exceed 10 seconds. This 10 second max backoff time also means that if a pod is not retried for 10 seconds, for example because there are many other pods in front of it in the queue, its ba

[2019-02-22 19:20] DaveWHarvey commented on #68737
I got around this limitation on elasticsearch because of work I had to do to avoid EBS volumes being unable to be assigned because they are in the wrong availability zone, i.e. I had created a statefulset per AZ.     If I want to change some storage characteristic, I create a new "AZ" using the same storage class, and then migrate all the data to pods in that new AZ, then destroy the old AZ.

[2019-02-22 19:38] bclau commented on #74134
Sure. As we've discussed previously, the images are:

- mcr.microsoft.com/windows/nanoserver:1809
- mcr.microsoft.com/windows/nanoserver:1803

[2019-02-22 19:39] spiffxp opened #74431 "pull-kubernetes-integration flaking test test-cmd run_kubectl_run_tests"
**Which jobs are failing**:
pull-kubernetes-integration

**Which test(s) are failing**:
test-cmd run_kubectl_run_tests

**Since when has it been failing**:
According to triage, the first failure was 2019-02-21 12:00 UTC

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration

**Reason for failure**:
Unknown

**Anything else we need to know**:

This ma

[2019-02-22 19:40] spiffxp commented on #74431
/sig cli
/priority critical-urgent
/milestone v1.14

[2019-02-22 19:43] DanielJoyce commented on #46574
Yeah, fluentd is a resource hog and it looks like the version shipping with GKE currently has memory leaks.

[2019-02-22 19:45] mm4tt commented on #73176
Thanks Bobby!

That makes sense. In that case I believe we can close this issue once https://github.com/kubernetes/kubernetes/pull/74157 merges.

[2019-02-22 19:47] neolit123 commented on #74134
@bclau

no manifest list image that supports both 1809 and 1803?
are we OK for only having 1809 for that "pull from GCR" test?

[2019-02-22 19:47] prathameshd9 commented on #45140
Hi. I am not sure if this is still relevant but I was wondering if the two cases are included where either "pod terminates right after preStop completes" or " a way to terminate pod somehow after preStop exits so it does not wait for gracePeriod to finish" ??

[2019-02-22 19:48] ixdy commented on #73286
One catch: go1.10 -> go1.11 had a lot of breaking changes (fmt and vet), which makes the update harder than just "update the version".

[2019-02-22 19:59] bgrant0607 opened #74432 "Lint conformance tests"
There are a number of conformance test requirements and guidelines:
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-requirements

We should try to automate enforcement to the degree we can, via a "linting" tool, and/or test framework checks.

For instance, conformance tests shouldn't invoke framework.ProviderIs or framew

[2019-02-22 20:00] bgrant0607 commented on #74432
/sig testing

[2019-02-22 20:07] #71728 closed

[2019-02-22 20:07] #74289 closed

[2019-02-22 20:09] bclau commented on #74134
Yeah, I meant those images should be included in a single manifest list (something like ``windows-nanoserver``), like we've previously discussed.

As for the second question, AFAIK, the GCE Windows CI is using Windows Server 1803 at the moment, so it would be nice to have the new test running on that too.

[2019-02-22 20:11] alewitt commented on #70674
just fyi: i also am having this issue when trying to force apply my crds

[2019-02-22 20:18] M00nF1sh commented on #57212
I'm working a fix on this, should be available nearly next week.

[2019-02-22 20:26] gnufied commented on #72988
@hogepodge it should be a change into openstack.conf which would add a new configurable field. It would be backward compatible but would allow admins to configure different limits on a node if they must.

[2019-02-22 20:55] bjhaid commented on #74265
Does the below capabilities provided by the downward API[1] not address this:

[code]

we use datadog at my job and we inject `status.hostIP` into all pods.

1. https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#capabilities-of-the-downward-api

[2019-02-22 21:10] astrieanna opened #74435 "kube-proxy on windows failing after recent networking change"
I have been deploying master-branch kubernetes on Windows using flannel/host-gateway networking, with one master, one linux worker, and three windows worker. Recently, kube-proxy stopped running correctly. It exits with an error about not finding the HNS Network. I have confirmed that the HNS network exists on the host with the correct name (cbr0), and have identified the last commit where kube-pr

[2019-02-22 21:35] dcbw commented on #74298
The message after "NetworkPlugin cni failed to set up pod "XXXXXXXX" network:" comes from the network plugin itself, so in this case that would be Calico. It appears that Calico is not able to contact the apiserver for some reason, so you'd want to follow up with Calico/Tigera about what that error occurs. It shouldn't be caused by kubernetes itself.

[2019-02-22 21:48] michmike commented on #74134
@thockin see above for the two images we want to push. we also need to repush this image
* resource-consumer/controller:1.0 to avoid the "/" as resource-consumer-controller
cc: @benmoss

[2019-02-22 21:50] rickypai commented on #74265
@bjhaid not all applications support the configuration injection methods provided by the existing downward API. That's why `HostAlias` exists in the first place.

[2019-02-22 21:52] bswartz commented on #74313
I haven't looked deeply enough to see what the refcounting solution for raw block could or should look like. I just noticed that there wasn't one and that it causes problems, and that the iscsi sessions end up getting shared between file systems and raw block volumes, so the new ref counting system has to consider both.

[2019-02-22 22:06] ksubrmnn commented on #74435
I'm aware of this issue. The fix will be out within an hour.

[2019-02-22 22:07] msau42 commented on #74313
This may work for in-tree iscsi but I'm wondering how feasible this is going to be for CSI, which shouldn't be encoded with Kubernetes-specific details.

[2019-02-22 22:14] spiffxp opened #74437 "pull-kubernetes-cross flaking"
Flake is of the form
[code]

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-cross shows nothing for it, presumably because the failures aren't wrapped in a junit.xml file that's parsed by kubernetes/test-infra/kettle

The job itself seems to be failing more often recently, but how many of these failures are due to this flake? https://testgrid.k8s.io/presub

[2019-02-22 22:15] spiffxp commented on #74437
[code]

[2019-02-22 22:56] #66790 closed

[2019-02-22 23:08] pjh opened #74439 "Support dumping logs with log exporter for GCE windows nodes"
**What would you like to be added**:
Windows support in the logexporter daemonset (`cluster/log-dump/logexporter-daemonset.yaml`).

**Why is this needed**:
In https://github.com/kubernetes/kubernetes/pull/73442 we introduced support for Windows nodes in clusters on GCE. In https://github.com/kubernetes/kubernetes/pull/74438 I'm adding support for fetching logs from Windows nodes in GCE test cluste

[2019-02-22 23:09] pjh commented on #74439
/assign yujuhong

Since I can't assign issues to myself yet...

[2019-02-22 23:18] prameshj commented on #45363
Looks like the nxdomain plugin in coredns can do this too - https://github.com/miekg/nxdomain
This is not part of the coredns repo, but looks like the plugin.cfg can be modified to include out-of-repo plugins too.
https://github.com/coredns/coredns/blob/master/plugin.cfg

[2019-02-22 23:20] prameshj commented on #45363
Closing since node-local-dns addon runs a dns cache per node, similar to what the issue is requesting. Please reopen if that's not the case.
/close

[2019-02-22 23:20] #45363 closed

[2019-02-22 23:25] rajathagasthya commented on #74415
@kubernetes/sig-api-machinery-feature-requests

[2019-02-22 23:48] spiffxp commented on #74431
/remove-kind failing-test
/kind flake
I can't see it consistently happening in CI, so it must be a flake?

[2019-02-23 00:14] #73205 closed

[2019-02-23 00:30] spiffxp commented on #74431
What I got when running locally...
[code]

[2019-02-23 00:32] spiffxp commented on #74431
And I see the same thing in the build-log.txt for https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/74440/pull-kubernetes-integration/45980
[code]

[2019-02-23 00:52] nfrush opened #74443 "kubeadm fails with config file when using etcd key"
**What happened**:

Attempted to run 'kubeadm init --config=/etc/kubernetes/cfg/config.yaml' where config.yaml was:

[code]

Kubeadm fails to init with the following error:
[code]

Which is unclear about why exactly it's failing. Removal of the etcd keys results in it being fine (and prevents usage of an external etcd cluster)

**What you expected to happen**:
I expected it to use the existing ext

[2019-02-23 00:57] spiffxp commented on #74431
Trying to track down the first occurrence.  I think there was an XML parsing error that was obscuring this that was fixed recently.  Backtracking through pull-kubernetes-integration failures and visually inspecting them.

https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/74440/pull-kubernetes-integration/45980 - run_kubectl_run_tests - 2019-02-22 15:45 PST

https://gubernator.k8s.io/

[2019-02-23 00:59] msau42 commented on #72346
To clarify, are you suggesting that we use `getPodVolumePathListFromDisk` directly and also potentially remove `getMountedVolumePathListFromDisk` which filters the results using IsLikelyNotMountPoint?  The result is that we may return more directories because `IsLikelyNotMountPoint` is skipping local bind-mounted directories and csi/flex plugins that don't actually do mounts.

`cleanupOrphanedPodD

[2019-02-23 01:00] neolit123 commented on #74134
i pulled these images on Windows:

size of each is roughly ~350MB.

and then saved them to TAR and uploaded them here:
https://drive.google.com/drive/folders/1bw62yQijtU5mWKG5_EHWbwFQUhSrgGXT?usp=sharing

to go lower than that we might have hack custom images that trim, for instance a bunch of DLLs that we don't need  (for e.g. a minimal pause image), however such a custom image will just require

[2019-02-23 01:01] msau42 commented on #72346
cc @gnufied

[2019-02-23 01:09] spiffxp commented on #74431
So going by that, let's cast a net in commits that landed just prior to the earliest PR failure, and N hours prior
[code]

https://github.com/kubernetes/kubernetes/compare/ad403f8e2054d0dcd322e287af17cc3d69b38bf3...3baab4dc356f46335e72e88e7754b93898acff2c

[2019-02-23 01:16] #66221 closed

[2019-02-23 01:28] spiffxp commented on #74431
Suspects
- https://github.com/kubernetes/kubernetes/pull/73201 - only because it touches test/cmd/core.sh
- https://github.com/kubernetes/kubernetes/pull/73866 - enables server side apply <-- this is my guess
- https://github.com/kubernetes/kubernetes/pull/73959 - reduce lock contention in watchcache

[2019-02-23 01:56] msau42 commented on #74384
Looks like reconstruction is not correctly implemented for local PVs:
[code]

1. Need to check if it's ok for mounter to be initialized with an empty path
2. Investigate the panic in the operation_generator

[2019-02-23 01:58] #74388 closed

[2019-02-23 02:01] msau42 commented on #74384
cc @cofyc

Unsure why it's failing only for this local pv type (real disk vs loopback block)

I have not investigated the 2nd test yet

[2019-02-23 02:12] brentnk commented on #74443
@nfrush Have you tried adding the scheme (http/https) to your etcd endpoints?

[2019-02-23 02:19] #66063 closed

[2019-02-23 02:19] #68738 closed

[2019-02-23 02:45] clkao commented on #67577
https://github.com/torvalds/linux/commit/512ac999d2755d2b7109e996a76b6fb8b888631d in 4.18 seems to be the relevant patch for this issue.

[2019-02-23 03:13] bswartz commented on #74313
My test CSI driver uses a different approach to this problem entirely. Rather than using state in the filesystem to perform refcounting, I just query the kernel (sysfs) to see if there are zero or more disks on the SCSI host. This works if you're careful to scan disks one at a time and delete them at disconnect time.

Another approach would be to use a hostpath volume in the pod for the node plugi

[2019-02-23 03:19] #74435 closed

[2019-02-23 03:27] apelisse commented on #74431
the test might be racy in the first place, maybe enabling the feature changes the time profile of the test.

[2019-02-23 04:01] spiffxp commented on #74431
Welp, now that I have what I think is a local repro loop for this, and I'm bisecting, it's looking like the whole commit range I suspected is fine 🙄

Looking closer, this particular test case is overly optimistic, it deletes a job and immediately gets pods expecting there to be none.

I'd still like to nail down what timing change surface this before I go change the `get_object_assert` to a `wait_

[2019-02-23 04:26] neolit123 commented on #74443
moving to:
https://github.com/kubernetes/kubeadm/issues/1419
/close

[2019-02-23 04:26] #74443 closed

[2019-02-23 04:27] neolit123 commented on #74439
/sig windows

[2019-02-23 04:27] neolit123 commented on #74439
/sig gcp

[2019-02-23 04:28] neolit123 commented on #74401
/sig gcp

[2019-02-23 04:29] neolit123 commented on #74382
/sig network

[2019-02-23 04:30] neolit123 commented on #74397
@ricky1993 thanks for the report but 1.10 is outside of the support skew. please update!

/close

[2019-02-23 04:39] liggitt commented on #8867
given this is targeting gce, and the provider-specific nature of metadata access, I think this should be closed

/close

[2019-02-23 04:39] #8867 closed

[2019-02-23 05:22] liggitt commented on #74373
fixed in https://github.com/kubernetes/kubernetes/pull/74448

[2019-02-23 05:25] mcrute commented on #74379
/assign @mcrute

[2019-02-23 05:32] spiffxp commented on #74431
Well, for some reason https://github.com/kubernetes/kubernetes/pull/74057 seems to be when the flakes started showing up

[2019-02-23 05:44] apelisse commented on #74431
I realize that the flake is hard to reproduce especially since it's hard to run specific tests in `test-cmd`. You can comment a lot of the tests by playing with some of these shell scripts so that they mostly just run the test you want to run. if you do so, you might be able to run 10/20 times the test in a row at this PR and before. I'm curious what the difference would be in term of flake rate.

[2019-02-23 06:03] spiffxp commented on #74431
Yeah that's what I've been doing.  It's https://github.com/kubernetes/kubernetes/pull/74057 and specifically looks to be 8c28d3f63c360d43d00c80091c6aac7f19afc259.  Which has nothing directly to do with pods, so I guess it's just a matter of this slowing the apiserver down just enough to start tripping a poorly written test.

[2019-02-23 06:45] liggitt commented on #73803
from the example given with this content:

`{"auths":{"docker.io/rickybobby/car":{"username":"rickybobby","password":"\u0026","email":"ricky@bobby.com","auth":"cmlja3lib2JieTom"}}}`

the json content is decoded here:

https://github.com/kubernetes/kubernetes/blob/f49fa022dbe63faafd0da106ef7e05a29721d3f1/pkg/credentialprovider/secrets/secrets.go#L33-L36

running the following program shows what is

[2019-02-23 06:46] liggitt commented on #73803
can you provide the exact error message you are seeing, along with your kubelet configuration details (what version of docker, is the kubelet configured to use dockershim?)

[2019-02-23 07:18] dimm0 commented on #69799
This is still a huge issue for us. Jupyter notebooks spawn containers as a non-root user, and this relabelling prevents scientists from storing large datasets in their volumes (we use rook to manage ceph in our k8s cluster)
Rook guys already made fsgroup and selinux relabelling configurable (https://github.com/rook/rook/pull/2540#issuecomment-458668486), but I still see a slowdown when mounting vo

[2019-02-23 07:26] klzsysy commented on #69625
i try remove rbd module

[code]

![image](https://user-images.githubusercontent.com/3226923/53283253-77fd3280-377e-11e9-91dd-6f0bcdbc9995.png)

But who can tell me to wait 10 seconds after the completion of the mount to start the next step? （rbd same）

![image](https://user-images.githubusercontent.com/3226923/53283270-b266cf80-377e-11e9-8437-6480ae0d6038.png)

@k4k

[2019-02-23 07:35] zouyee commented on #74169
`kubectl describe node {NODE-NAME}`, which could output `DiskPressure` condition

[2019-02-23 07:38] m1kola commented on #71017
It was resolved in #70931. So, I think, we can close it.

/close

[2019-02-23 07:38] #71017 closed

[2019-02-23 08:03] huxiaoliang commented on #73327
@dineshgovindasamy  thanks, below is my log, please take a look,
[fwboqyja.egw.zip](https://github.com/kubernetes/kubernetes/files/2896606/fwboqyja.egw.zip)

[2019-02-23 08:23] #69083 closed

[2019-02-23 10:22] xichengliudui commented on #74387
/close

[2019-02-23 10:22] #74387 closed

[2019-02-23 10:56] zouyee commented on #51798
/remove-lifecycle stale

[2019-02-23 11:26] #69091 closed

[2019-02-23 15:10] SataQiu commented on #72956
Fixed by #74455
[code]

[2019-02-23 15:20] khteh opened #74456 "liveness and readiness probe do not honour parameters"
**What happened**:
I have this liveness and readiness params configured but it just fails:
[code]
`kubectl describe pod <mypod>` Events: shows that it fails on the FIRST probe failure and there is no retry at all!

**What you expected to happen**:
Honour the configuration parameters. RETRY!!!

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

*

[2019-02-23 15:50] mrbobbytables commented on #72956
If you are looking to take on fixing an item on the list, please remember to go up half-way through this issue and expand the **hidden items**. There are a lot of comments and PRs of items that people are actively working on that will not show up when searching unless it is expanded.
<img width="866" alt="screen shot 2019-02-23 at 10 45 35 am" src="https://user-images.githubusercontent.com/6500863

[2019-02-23 16:37] davidxjohnson commented on #73297
What about them? (elaborate)

[2019-02-23 16:56] AndrewDryga commented on #66159
Same issues one latest version available in GKE (`1.11.7-gke.6`). Reproduces after a day or two after nodes restarted.

[2019-02-23 18:10] ravihugo commented on #67135
Just got hit by this too. Our CI environment does not currently set the replica value because we would rather manage this separately. So now it looks like we'll need to start managing this in the CI environment. Also the suggested work-around seems a bit strange. Is that equivalent of the first apply setting the replica size to 1 and then re-apply it back to 100 (for example).

Wouldn't that massi

[2019-02-23 18:39] spiffxp commented on #72956
A bit of advice for those working on this: make it easy on your reviewers.  Explain why you're changing what you're changing.  "Fixing shellcheck failures" is not enough context.

Some details that could help your reviewer:
- what shellcheck failure are you fixing?
- why are you doing it this way?
- why is this more maintainable than what was there before?
- if you need to ignore a shellcheck fail

[2019-02-23 19:47] spiffxp opened #74462 "ENABLE_PROXY appears unused in cluster/kube-up.sh"
/kind cleanup
/priority important-longterm
/sig cluster-lifecycle
/assign

The less bash the better, if this is dead code I would like to remove it

ref: https://github.com/kubernetes/kubernetes/pull/74449#discussion_r259590363

[2019-02-23 20:12] tiptop-labs opened #74463 "failed to create kubelet: only support unix socket endpoint"
**What happened**:

registered custom CRI by starting kubelet with extra options: `--container-runtime-endpoint=tcp://localhost:2000 --image-service-endpoint=tcp://localhost:2000 --container-runtime=remote` according to documentation [here](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-node/container-runtime-interface.md); kubelet did not start; error message in journa

[2019-02-23 20:30] tiptop-labs commented on #74463
I've added now @kubernetes/sig-node-bugs to the original text.

[2019-02-23 20:32] neolit123 opened #74464 ""make test-cmd WHAT=kubeadm" performs additional tests"
this PR removed the script `./hack/make-rules/test-kubeadm-cmd.sh` which can be used to run the `cmd/kubeadm/test` integration tests.

https://github.com/kubernetes/kubernetes/pull/72939

the following command is claimed to be a replacement:
[code]

but instead it runs unrelated tests too.

expecting the above command to only show the following output (run only kubeadm tests):
[code]

/assign @run

[2019-02-23 20:32] neolit123 commented on #74464
/sig cluster-lifecycle

[2019-02-23 21:20] spiffxp commented on #74431
FYI @liggitt  for the above.  My plan for now is just to rewrite the test so it's more forgiving.  But I wanted to confirm that it's expected / known that apiserver performance changed a bit as a result of this.

[2019-02-23 21:20] spiffxp commented on #74431
/assign
/assign @liggitt

[2019-02-23 21:49] mooperd commented on #57049
+1

[2019-02-23 21:57] Stocco commented on #73297
also wanting this one /support

[2019-02-23 22:37] #68002 closed

[2019-02-23 22:50] liggitt commented on #74431
What metric are you seeing suffer with that commit? There should be no impact.

[2019-02-23 23:12] apelisse commented on #74431
A racy test goes from flaking 0% of the time to flaking 10-20% of the time

On Sat, Feb 23, 2019 at 2:51 PM Jordan Liggitt <notifications@github.com>
wrote:

[2019-02-23 23:12] spiffxp commented on #74431
[This particular naive test case](https://github.com/kubernetes/kubernetes/blob/master/test/cmd/run.sh#L36-L39) flakes:
[code]

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=integration#1f13e06e89eca50e1cd8

It should probably use `wait_object_assert` instead.  The thing is, I can't get it to flake before.

I hacked up test/cmd/legacy-script.sh to run just this, and none

[2019-02-23 23:19] michmike commented on #74134
no hacks please. we need to upload the images as they officially come from microsoft. :)

[2019-02-23 23:30] liggitt commented on #74431
It definitely should.

I'll take a look at job->pod deletion propagation time before/after that commit, but there's nothing I can think of in that path a new networking API group would impact.

[2019-02-23 23:36] neolit123 commented on #74249
this is by design, possibly a bit confusing, but it indicates to the user that your kubelet is staring slower than normal.

        timed out waiting for the condition

this however is caused by something else.
you need to look at the kubelet / api server logs.

[2019-02-24 00:56] skleinjung commented on #55045
I specifically prefer the behavior of NOT deleting the PVCs when deleting a stateful set. This allows future instances of that set to reattach to the data saved by the previous instances. Is there a better way to reuse data like this, or would auto-deleting the PVC just destroy my use case?

[2019-02-24 01:41] ixdy commented on #74437
to clarify, by "multiple builds at once" I mean "multiple `docker build`s at once".

[2019-02-24 01:53] spiffxp commented on #74134
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

[2019-02-24 01:56] spiffxp commented on #68940
/remove-lifecycle rotten
Is this still valid?

[2019-02-24 01:58] spiffxp commented on #74464
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

[2019-02-24 02:02] spiffxp commented on #66159
/remove-sig windows
agree this doesn't sound like a windows issue, the original report mentioned a windows client but there are other comments here without it

[2019-02-24 02:07] spiffxp commented on #51798
What is the definition of done here?  Should we close this in favor of #68522 or would there be something else to do even when that's finished?

[2019-02-24 02:08] spiffxp commented on #68522
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

[2019-02-24 02:12] spiffxp commented on #74379
/miletones v1.15

[2019-02-24 02:12] spiffxp commented on #74379
/sig cloud-provider

[2019-02-24 02:12] spiffxp commented on #74379
/milestone v1.15

[2019-02-24 02:12] spiffxp commented on #74373
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

[2019-02-24 02:15] spiffxp commented on #74439
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

[2019-02-24 02:18] spiffxp commented on #74384
/priority critical-urgent
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

[2019-02-24 02:18] spiffxp commented on #72346
/priority important-soon
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

[2019-02-24 02:20] spiffxp commented on #72988
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

[2019-02-24 02:20] spiffxp commented on #57212
/assign @M00nF1sh

[2019-02-24 02:22] shenshouer commented on #14512
any update for this ?

[2019-02-24 02:23] spiffxp commented on #73286
/priority important-soon
No milestone, AFAICT this isn't directly relevant to v1.14 but instead all previous releases

[2019-02-24 02:23] spiffxp commented on #73176
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

[2019-02-24 02:24] spiffxp commented on #74419
/kind failing-test
/priority important-soon
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

[2019-02-24 02:28] spiffxp commented on #74375
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

/assign @mariantalla
I'm putting this in the milestone because I think we may want to buy ourselves some headroom, I would suggest having the CI signal team make some suggestions o

[2019-02-24 02:28] spiffxp commented on #43214
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

[2019-02-24 02:29] spiffxp commented on #43214
I note @liggitt says the PR work is basically done for v1.14? But I see a lot of checkboxes unchecked in the description.

[2019-02-24 02:30] spiffxp commented on #74308
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

[2019-02-24 02:30] spiffxp commented on #74425
/milestone v1.14
We're entering [burndown](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#burndown) and this looks relevant to the 1.14 release.  Please `/milestone clear` if I am incorrect

[2019-02-24 03:42] #69034 closed

[2019-02-24 03:52] zrss opened #74469 "Daemon Set Pod can't be auto-recover after the node becomes schedulable"
**What happened**:

We `cordon` some nodes for updating the driver of device, and there is a Daemon Set A controlls pods running on all nodes

but some container of pods of daemon sets exit  during the updating process

and finally, we `uncordon` the updated nodes, but it ends with the `Unschedulable` status and can't be auto-recover

[code]

ds update strategy is

[code]

**What you expected to h

[2019-02-24 03:55] zrss commented on #74469
/sig apps

[2019-02-24 04:02] zrss commented on #74469
and the status of ds

[code]