[2017-04-27 14:32] erikgrinaker commented on #43576
Actually, the last time I tested this I found the docs to be incorrect. The `preStop` hook is called roughly at the same time that the endpoint is removed in the API, but there will be some lag before kube-proxy updates the iptables rules. `sleep 3` is generally sufficient for the endpoint to be removed from the service, regardless of the readiness probe, although this will not be the case if a ku

[2017-04-27 14:39] liggitt commented on #34091
to create from a file, always use `kubectl create -f <file>`

`kubectl create clusterrole` is a specialized command that creates a role based on verbs and resources you pass in with flags, not a file. see `kubectl create clusterrole --help` for details

[2017-04-27 14:49] soltysh commented on #45024
@kubernetes/sig-storage-bugs fyi

[2017-04-27 14:52] jsravn opened #45026 "Large dockerd memory leak when streaming kubelet logs"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
memory leaks docker 1.12 kubelet logs
---

**Is this a BUG REPORT or FEATURE REQUEST?

[2017-04-27 15:02] foxylion commented on #43576
@erikgrinaker I had the same results when I tested this. So the docs should be fixed. And as you said it, graceful shutdown is already handled pretty well by most of the web servers, so the sleep seems really to be enough.

But it still bugs me, that it is required to add a preStop hook to prevent a immediate graceful shutdown (= do not accept any new connections, but process existing ones) of the

[2017-04-27 15:08] IainColledge commented on #43691
Is there a workaround for this on Azure you're aware of please?

[2017-04-27 15:12] jayunit100 opened #45029 "Consolidate or make explicit the logic for the node_status and node_controller, to make code more explicit and status logs more obvious to users."
# Feature request

Goal: Incrementally improve the transparency and simplicity of the node's logging of status updates and communication with the apiserver,

- for context, in #44577 we discussed that the timings in the node retries are coupled intentionally to behaviour of other components in the system, for example, the node controller.... but that PR may or may not move forward...
- In any case

[2017-04-27 15:13] jayunit100 commented on #45029
The #44577 PR was a first pass at ideas, lets make the plan more explicit in here, and move forward with an implementation that is conservative enough to agree on.  @dchen1107 @gmarek @yujuhong .

[2017-04-27 15:14] colinmorelli commented on #45022
It's possible there are two different issues here (not clear at the moment). I can confirm that when a pod is setup, running nsenter on the network namespace will get me the pod's IP:

[code]

It appears that kubelet can't get the container's network namespace, though. When I run the same command with `--net=` (empty) I get the same error that kubelet gets: `nsenter: cannot open : No such file or

[2017-04-27 15:16] ravisantoshgudimetla commented on #43992
@kfox1111 So, --register-with-taints is a no-op if --register-node is false. This is available in documentation

[2017-04-27 15:17] mikedanese opened #45030 "move group approver to use a subject access review"
Right now the group approver is configured with a static group name to allow provisioning of kubelet client certificates. The group approver should move to using a subject access review. We need 3 verbs to auto approve the full kubelet flow:

1. `csr/nodeclientcert` which if granted indicates the group approver should approve any kubelet client shaped certificate requested.
1. `csr/selfnodeclientc

[2017-04-27 15:19] spradeepv commented on #44203
@thockin if this has to move out of servicecontroller, where do you think it fits. Endpoint controller already updates services whenever there is a change in endpoints. But we don't have endpoints in service spec to compare with the old service.

[2017-04-27 15:19] rootfs commented on #45024
There are multiple layers in the stack that have limitations on max LUNs.

From https://access.redhat.com/solutions/70913
[code]

[2017-04-27 15:24] thockin commented on #44203
@freehan and I were discussing this some, yesterday.  It sort of feels like
this is a provider-specific need, though certainly more than one provider
will probably need it.  We discussed maybe having controller-manager (cloud
controller - @wlan0) register its own callbacks on endpoints so that it
gets called, but the generic service controller does not.

On Thu, Apr 27, 2017 at 8:19 AM, Pradeep Sa

[2017-04-27 15:27] colinmorelli commented on #45022
Yeah they appear to be separate issues. The `nsenter` seems to be while trying to cleanup terminated pods. Does that just loop forever? It certainly seems to.

Anyway I've got a log now while starting a new container, and everything seems fine according to the log:

[code]

Still no network though

[2017-04-27 15:28] carsonoid commented on #44098
I think this may have been fixed in #43259

[2017-04-27 15:29] cheungpat commented on #21285
For those who are interested, I have a docker image with fluentd and the [aws elasticsearch plugin] installed. It can send log to AWS Elasticsearch without requiring a proxy for authenticating to AWS Elasticsearch:

https://github.com/cheungpat/fluentd-es-aws
https://hub.docker.com/r/cheungpat/fluentd-elasticsearch-aws

You can compare it to the fluentd-es image which I modified to build my own im

[2017-04-27 15:29] kfox1111 commented on #43992
Ok. So then we'd need a new feature, that probably shares a lot of code with the other feature.

[2017-04-27 15:44] jsravn commented on #45026
I'm not having much luck reproducing this, unfortunately. But the few nodes with large dockerd increases all had the above error messages when the increases happened (at 1m resolution). I'll have to keep monitoring and see what happens.

[2017-04-27 15:51] piosz commented on #44581
@atombender yes. The motivation behind migrating fluentd to ds was to add possibility to manage it including enabling/disabling. It's coming soon.

[2017-04-27 15:53] atombender commented on #44581
@piosz Awesome, thanks.

[2017-04-27 15:54] crassirostris commented on #21285
@cheungpat Thanks a lot for the solution!

I will close this issue now, not only because of the solution @cheungpat proposed, but because Kubernetes will soon be separated from the end-user logging solutions, including logging agents. I suggest creating issues like this in https://github.com/fluent/fluentd or https://github.com/fluent/fluentd-kubernetes-daemonset for better and faster answers

[2017-04-27 15:54] #21285 closed

[2017-04-27 15:56] soltysh commented on #44410
https://github.com/kubernetes/kubernetes/pull/44602 merged so I'm closing this.

[2017-04-27 15:56] #44410 closed

[2017-04-27 15:57] #40110 closed

[2017-04-27 16:07] xiangpengzhao commented on #35946
Then which one is the newest version? AFAIK there are some users being confused by this.

Right now I see the order of release list is `v1.5.8-beta.0` --> `v1.5.7` --> `v1.4.12`(!) --> `v1.7.0-alpha.2`. Since we already have the stable (if) v1.6, why do we release/tag some v1.5.x or even v1.4.x? Any policy?

@enisoc @jessfraz (since you release v1.4.12) :)

[2017-04-27 16:08] jsravn commented on #45026
Ok, I was able to reproduce to an extent but not as much as I saw. Running heavy logs while several kubectl streamers, I was able to expand the dockerd memory footprint from about 80Mi to 180Mi over about 10 minutes. After killing the apiserver that memory never seems to get reclaimed. It could be a lot of things though - it may just be the GC being overly greedy. Maybe some sort of throttling of

[2017-04-27 16:19] wojtek-t commented on #44609
I agree, but:
1. I'm not sure it makes sense to introduce new features to current rescheduler, which we are going to eliminate anyway (and replace with some other kind of rescheduler)
2. That is the ideal solution, but it will take in my opinion at least 2 quarters to get there, and we need something sooner.

[2017-04-27 16:31] roberthbailey commented on #44581
The fix is part of this week's GKE. See release https://cloud.google.com/container-engine/release-notes#april_26_2017

You can tell if it's in the zone you care about by running `gcloud container get-server-config --zone=ZONE` and see if 1.6.2 is listed in the `validMasterVersions` field in the output.

[2017-04-27 16:31] mml opened #45037 "Etcd size sometimes starts growing and grows until "mvcc: database space exceeded""
To reproduce, bring up a GCE cluster, then modify the `--quota-backend-bytes` field in `/etc/kubernetes/manifest/etcd.manifest` and restart etcd.  I lowered it to 384 MiB to speed this up.

[code]

After awhile, you'll start to get this from the loop: `error: Scaling the resource failed with: etcdserver: mvcc: database space exceeded; Current resource version 6060`

Cool, now it's broken.  Attache

[2017-04-27 16:32] roberthbailey commented on #44581
Ah, forgot to reload the page and it looks like @piosz beat me to it. :)

[2017-04-27 16:32] #23264 closed

[2017-04-27 16:32] mikedanese commented on #23264
Yes.

[2017-04-27 16:35] piosz commented on #44609
I meant potential long term solutions.

1. I meant the new rescheduler being designed.

[2017-04-27 16:39] thockin commented on #44944
"deprecate" here means "tell people it is going away eventually, and to use
taints instead".  Deprecation policy is clear that this is a long, slow
process, but if we want to ever get rid of it, start now.

On Thu, Apr 27, 2017 at 1:41 AM, David Oppenheimer <notifications@github.com

[2017-04-27 16:43] hongchaodeng commented on #45037
Can you detail how did you bring up the cluster? k8s version, etcd version. Please give a script.

Please give more detail. What is `/etc/kubernetes/manifest/etcd.manifest` file?

How long is a while? Can you give a measure?

[2017-04-27 16:48] shyamjvs opened #45038 "Flag --gather-metrics-at-teardown isn't working for kubemark"
We recently tried to enable e2e metrics gathering for our 100-node kubemark test (https://github.com/kubernetes/test-infra/pull/2587), but seems like it's not working (ref: http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce/2464/artifacts/):
[code]

The reason could be due to using the wrong client, viz. talking with real master instead of kubemark master, but need to

[2017-04-27 16:48] enisoc commented on #35946
The [release support policy](https://github.com/kubernetes/community/blob/4605abfa0755e7741907db0bc7f131edd0406242/contributors/design-proposals/versioning.md#supported-releases-and-component-skew) is that we support 3 minor releases at a time with patches. Since 1.6 is the latest, that means we need to continue patching 1.6, 1.5, and 1.4 for any bugs deemed impactful enough.

Unfortunately as @li

[2017-04-27 16:56] spradeepv commented on #44203
@thockin Could you please elaborate on ho this would be implemented?

[2017-04-27 16:56] cmluciano commented on #45022
@colinmorelli does your error seem similar to #42735 at any point?

[2017-04-27 17:14] colinmorelli commented on #45022
I don't _think_ so, but it's hard to say for sure.

Through seemingly no changes that I'm aware of right now, I destroyed the node and brought up another and got the network up between the host and the pod, but still had no internet connection. Then I added a TRACE action in iptables and was able to figure out that there was a rule in the filter table that seemed to cause issues routing packets of

[2017-04-27 17:18] ravisantoshgudimetla commented on #43992
There are changes that can accomodate this. For example, #29459 can handle this, if I not I made a hacking version some time back through which you update(Its like deleting the node entry and re-creating with all metadata again). I guess, the best bet would be to wait till the above PR takes some shape.

[2017-04-27 17:29] kargakis commented on #44999
Why?

[2017-04-27 17:32] kargakis commented on #44982
@kubernetes/sig-storage-feature-requests @php-coder

[2017-04-27 17:34] msau42 commented on #44977
The last few runs seem to be ok, so maybe it's not an issue anymore?
https://k8s-testgrid.appspot.com/google-gke-staging#gke-staging

[2017-04-27 17:35] kargakis commented on #44948
The conditions will differ between resources .. They already do. Having all of them be the same will be hard.

[2017-04-27 17:36] kargakis commented on #44948
Also I don't think this is a bug

[2017-04-27 17:38] ajtrichards commented on #12140
/sub

We'd be really keen to see this feature implemented sooner rather than later.

[2017-04-27 17:38] ahawkins opened #45041 "Periodic Docker Daemon Lockups"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS w/kops
- **OS** (e.g. from /etc/os-release):

[code]
- **Kernel** (e.g. `uname -a`): 4.4.41-k8s #1 SMP Mon Jan 9 15:34:39 UTC 2017 x86_64 GNU/Linux

- **Install tools**: Kops 1.5.3

**What happened**:

I

[2017-04-27 17:44] ahawkins commented on #45041
Perhaps related: 31487

[2017-04-27 17:45] nikhiljindal commented on #33292
Not that I know of.
The task here is to call BootstrapController at `pkg/master/controller` from `federation-apiserver`. It is right  now being called only from `kube-apiserver`.

That controller creates both the kubernetes service and the default namespace. In federation we only need the default namespace. Will also need to refactor the code since federation cant depend on `pkg/master` (pkg/maste

[2017-04-27 17:51] marun commented on #39986
@quinton-hoole I was thinking of the case of a cluster leaving the federation but wanting to retain the resources created by the federation control plane.  In such a case I would imagine that the resources should revert to acting like any cluster-created resource vs a federation-created resource.

You're right, though, that it wouldn't be any different from a replicaset-managed pod.  I think it sh

[2017-04-27 17:52] thockin commented on #44203
Imagine controller-manager had a hook into CloudProvider that was "register
controllers" or something.  It's sort of horrible.  maybe it would happen
lazily in the first EnsureLoadBalancer() call or something.

My main fear is that I know Endpoints get updated a lot, even when the
endpoints themselves haven't changed.  Maybe it's not so bad to just make
this part of the controller, for now - would

[2017-04-27 17:52] mikedanese commented on #45030
@jcbsmpsn @pipejakob

[2017-04-27 18:01] cmluciano commented on #29894
Is this still an issue?

[2017-04-27 18:04] timothysc commented on #44958
@dchen1107 as you are both the release manager and sig-node lead, I think fixing this would go a looong way towards folks having the ability to test release candidates on their own clusters.

[2017-04-27 18:05] msau42 commented on #43504
Yes, the sequence I am suggesting is going to require changes to the current provisioning protocol to add this additional request.

[2017-04-27 18:13] vishh commented on #43504
I was assuming that provisioning will be triggered by the scheduler in the future at which point the zone/region/rack or specific node a pod will land on will be known prior to provisioning.

[2017-04-27 18:15] wkruse commented on #14908
@tobad357 Seems like it is solved [Persistent Volume > Persistent Volume Claims > Selector](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#selector)

[2017-04-27 18:15] Random-Liu commented on #44955
@discordianfish The problem is that kubelet is not expected to update the pod cache now. The pod cache should strictly reflect the state from the source.

Actually, kubelet does maintain up-to-date pod statuses in another cache, but the information is not exposed via kubelet api. Kubelet will only upload those statuses to the apiserver.

We need to define better kubelet api for standalone use case

[2017-04-27 18:20] nikhiljindal commented on #39987
@perotinus said he will take up https://github.com/kubernetes/kubernetes/issues/37570

[2017-04-27 18:27] eparis commented on #44172
SnapShots are NOT volumes. When dealing with a storage array once can create a snapshot of a volume. In many storage arrays a 'snapshot' could in fact just be a diff from some previous state. One can later create a volume from that snapshot. We plan to represent that similarly in kube.

Let me walk through a flow at a high level:

1. User creates a PVC which creates a PV
2. User uses this PVC like

[2017-04-27 18:28] colinmorelli commented on #45022
Indeed, that seems to resolve the issue. For others who may stumble on this in the future, in my cloud-init, I've added:

[code]

Given that leaving these rules behind effectively breaks kubernetes (at least that was my experience), would it be reasonable to suggest that kubelet checks for docker's default iptables rules and at least prints a warning/error on startup that they might conflict?

[2017-04-27 18:29] DirectXMan12 opened #45043 "Standardize Container-Related Kubelet Prometheus Metrics"
Currently, the Prometheus metrics exposed by Kubelet are simply those directly exported by cAdvisor.  In light of the move to make metrics more easily accessible to third-party monitoring pipelines (as per the monitoring vision), we should standardize and document the set of metrics that are guaranteed to be exported.

Currently, the set of metrics exported by cAdvisor don't follow the instrumenta

[2017-04-27 18:31] Random-Liu commented on #44976
Actually, there is only one solution proposed here. Both kubelet and the runtime need to take action.

[2017-04-27 18:31] DirectXMan12 commented on #45043
cc @fabxc as we talked about today's in SIG-instrumetation meeting
cc @smarterclayton

[2017-04-27 18:32] DirectXMan12 commented on #45043
@fabxc @piosz is there a set of sig-instrumentation group in the new style?  I don't see them...

[2017-04-27 18:34] caesarxuchao commented on #45019
It looks like we should make `NewRESTClient` private and try to remove `UnversionedRESTClientFor`

[2017-04-27 18:35] #45022 closed

[2017-04-27 18:42] davidopp commented on #44944
Yes, that's reasonable.

[2017-04-27 19:04] jchauncey commented on #44732
Here are the logs from the kubelet.

[code]

If you want to zoom and see what I'm doing to replicate this and talk about it more we can do that.

[2017-04-27 19:05] Random-Liu commented on #44976
Do you mean that we should let runtime just dump purely container output without any other thing? I think we still need the timestamp which is discussed in the original log proposal.

Do you mean that Kubelet should not try to read newline at the end of the file? The problem is that `kubectl log` may return incomplete last log line. This may be acceptable.

The problem what I mentioned is that:
1)

[2017-04-27 19:08] xiang90 commented on #45037
@mml

Each pod contains ~ 3 * 50,000bytes = 150 KB data or 50KB? Let's assume it is 150KB (50KB wont make a huge difference).

We are generating ~ 20/2 = 10 pods/seconds, which is 1500KB = 1.5MB/seconds data.

If we keep doing this for 300 seconds without cleaning up "dead" pods and do compaction timely, we will run out of storage quota you set (~300MB). It looks like a DOS to Kubernetes storage.

[2017-04-27 19:09] yujuhong commented on #44450
@dwradcliffe I think it's reasonable. I doubt if anyone uses those file names on purpose.

[2017-04-27 19:18] ravisantoshgudimetla commented on #36733
@davidopp I have the same question as @k82cn. What would `NotSchedulable` depend on and where does it come from?

[2017-04-27 19:35] bgrant0607 commented on #14956
I no longer think this is something we should do, at least not in the next year, so closing.

[2017-04-27 19:35] #14956 closed

[2017-04-27 19:54] msau42 commented on #43504
I also think that the filtering is more of an optimization and can be optional.  There are only a handful of zones, so we could try to provision in one zone, and if that fails, then try another zone until it succeeds.

But for the node case, being able to pre-filter available nodes will be important.  It's not a scalable solution if we have to retry hundreds of nodes until we find one that succeed

[2017-04-27 19:55] omarvsoft commented on #35641
Hi team

I have a similar problem but, in my case I'm not changing the port range... All the rules work well for days and suddenly the node ports don't work, all services look well too but in the kube-proxy log I see the next message for each service:

`Apr 27 14:26:17 server-01 kube-proxy[5948]: I0427 14:26:17.144549    5948 proxier.go:1120] Port "nodePort for kube-system/gogs-git" (:30001/tcp) w

[2017-04-27 19:57] crassirostris commented on #42718
Closing for now to make a proposal to the community repo later, which will be more aligned with all related SIGs and efforts

Stay tuned!

[2017-04-27 19:57] #42718 closed

[2017-04-27 19:58] mml commented on #45037
150K is correct.

But, the pods don't generally complete.  Most of them are deleted as we scale the controllers up and down.

Of those that do complete (by my math, I think it could be no faster than about 1 every 5 minutes), there is pod GC for dead pods.  I will try to find the parameters it is using to see if that is part of the problem.

[2017-04-27 20:02] pmorie commented on #44995
@k8s-mirror-api-machinery-feature-rqusts

[2017-04-27 20:03] rodawg opened #45050 "running more than 200 instances on AWS breaks ELB LoadBalancers"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No. By the way, the troubleshooting link above gives a 404.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

I searched for: `filterlim

[2017-04-27 20:03] thockin commented on #35641
That's a V(4) log - it's for deep debugging.  All it means is that a piece
of state did not change.

On Thu, Apr 27, 2017 at 12:55 PM, omarvsoft <notifications@github.com>
wrote:

[2017-04-27 20:06] timothysc commented on #26507
@gmarek and I starting on this in earnest now... I'm going to hit the scheduler 1st.
/cc @kubernetes/sig-scheduling-feature-requests

[2017-04-27 20:09] mml commented on #45037
This is set by the controller-manager flag `terminated-pod-gc-threshold`, which is `12,500` by default (see [here](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/options/options.go#L86) and [here](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/options/options.go#L164)).  But as I said, I don't think there will be many dead

[2017-04-27 20:11] kfox1111 commented on #42718
it might be better to leave this open until the proposal is made to allow for us to more easily watch from the sidelines?

[2017-04-27 20:12] rjhowe commented on #23386
Looks like this PR fixes the issue 1.5 #33901

[2017-04-27 20:12] mml commented on #45037
I did this at head, but observed the same behavior on 1.6.  I brought up an e2e test cluster, but `cluster/kube-up.sh` does basically the same thing.

On the master, this file is present and configures the static pod in which etcd runs.  One doesn't need to understand the whole file.  Just look for the `--quota-backend-bytes` flag and set the value to something low enough that you will hit it soon

[2017-04-27 20:18] crassirostris commented on #42718
@kfox1111 I planned to concentrate on writing this new proposal, detailing all the relevant aspects, rather than keeping some active work here. That's what I wanted to indicate by closing this issue

You're still more than welcome to give your input here or on sig-instrumentation meetings or anywhere else, I will try to keep track on everything as much as possible and respond until we can proceed

[2017-04-27 20:18] omarvsoft commented on #35641
Thank you @thockin for answer!

Do you have any recommendations? I don't understand why in the cluster the services stop responding to external requests, the iptables rules seem to be correct and all services are running...

[2017-04-27 20:18] bgrant0607 commented on #20473
Looks like there may be some issues: #43576

[2017-04-27 20:27] xiang90 commented on #45037
@mml  @wojtek-t

Checked etcd log/data.

We have ~3700 keys in etcd, which consumes 385MB space. avg key size is ~100KB. Most of them are dead pods.

From etcd perspective, it SHOULD stop users from writing to it since the size exceeds the limit.

API server did GC pods

If 12,500 is the threshold, then it is a problem. 12,500 * 150KB (1.85GB) >> 300MB. Right? So when you create ~3000 pods, etcd w

[2017-04-27 20:32] mrunalp commented on #44976
:+1: to this. This is the simplest fix. It isn't necessarily incomplete as the output doesn't always have a newline.

[2017-04-27 20:35] mikedanese commented on #44887
This sounds like a problem with wait.Until, and i don't think we should solve it in the leader elect client. From this comment:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go#L104-L108

Doesn't it sound like someone expects the race to be mitigated?

[2017-04-27 20:35] mikedanese commented on #44887
@lavalamp @timothysc

[2017-04-27 20:38] xiang90 commented on #45037
@mml

Just to be clear. We should note that etcd3 keeps historical version of keys, which means both the PUT&DELETE will be kept until an etcd compaction is called. etcd compaction is every 5 minutes. As long as we create more than 3000 pods in 5 minutes, it triggers the no space alarm.

12,500 setting is also a problem (when we set quota low) as I mentioned early.

[2017-04-27 20:38] philips commented on #42654
One side effect that I hope this resolves is the needless roundtrips to the identity provider:

[code]

Ideally these only happen when a tokens request is required.

[2017-04-27 20:40] mml commented on #45037
@xiang90 OK, thanks.  Following from that if I try a modified version of this strategy where I try to keep the creation rate to say 2000 pods / 5 minutes, the system should stay healthy due to etcd compaction.  If that's right, I'll try this lower rate and see what happens.

[2017-04-27 20:42] kfox1111 commented on #42718
Yeah. that's cool. Could you please post a link here when its ready? I think that would let everyone here that's subscribed to get notified.

Thanks,
Kevin

[2017-04-27 20:44] timoreimann commented on #43576
This subject has also been discussed in kubernetes/contrib#1140.

[2017-04-27 20:45] bboreham commented on #44409
There is a PR open to change the spec at https://github.com/containernetworking/cni/pull/283, and issue at https://github.com/containernetworking/cni/pull/281

[2017-04-27 20:47] crassirostris commented on #42718
@kfox1111 Absolutely! That was my plan

[2017-04-27 20:55] crassirostris commented on #44976
@Random-Liu I want to make sure I understand the problem correctly, could you please verify?

If container writes `foo` to the `stdout` without a newline, runtime will print a following message to the log file: `<metadata> foo<EOF>` (no newline). If container then writes `bar` to the `stdout`, it's not clear should runtime write `<metadata> foobar<EOF>` or `<metadata> foo\n<metadata> foo<EOF>`

An

[2017-04-27 21:00] xiang90 commented on #45037
yes. and we need to make sure the 2000 pods are also removed either by the controller or pod GC (request etcd delete). or we will simply keep on adding stuff into etcd. compaction will take no effect.

[2017-04-27 21:04] kfox1111 commented on #42718
Ok. Thanks. :)

[2017-04-27 21:19] bhs commented on #26507
@timothysc @gmarek: Marek and I had a quick chat this AM. I am happy to help with modeling / conceptual issues if they crop up. Please just ping me on gitter or via email / whatever.

[2017-04-27 21:23] timothysc commented on #26507
@bhs thanks.  Are you on kubernetes.slack.com ?

[2017-04-27 21:27] bhs commented on #26507
@timothysc I am not, and frankly I am too swamped to pay attention to another firehose in my life. :)  But I take IRQs happily.

[2017-04-27 21:30] xiangpengzhao commented on #44948
Yeah they are different. How about display all of the fields of its conditions for each resource?

[2017-04-27 21:30] timothysc commented on #26507
Mucking the the client <> api is the hardest part from what we've seen so far.

[2017-04-27 21:31] foxylion commented on #43576
So in summary one could say "use sleep, it works" (based on [this](20473#issuecomment-282410899)).
Is there anywhere a response of a maintainer why pods are terminated before service have a chance to stop routing requests to that specific pod?

[2017-04-27 21:41] spiffxp commented on #36120
@kubernetes/sig-scalability-misc @kubernetes/sig-api-machinery-misc

is this on the roadmap for 1.7?

[kubernetes-dev thread](https://groups.google.com/forum/#!topic/kubernetes-dev/k5ilr4k50BE)

this would greatly assist with #8830

[2017-04-27 21:43] thockin commented on #36120
I have been working on a better JSON codec, so we can keep the perf.  It's
not at the top of my stack, though, but it's close to working.

On Thu, Apr 27, 2017 at 2:41 PM, Aaron Crickenberger <
notifications@github.com> wrote:

[2017-04-27 21:46] ericchiang commented on #44873
We routinely have issues with the godep instructions failing, not producing the correct change, taking forever, using too much memory, etc. Internally, CoreOS moved away from godep about a year ago for glide because the tool routinely ate into developers' time, and I've see Kubernetes contributors have issues with this (e.g. https://github.com/kubernetes/kubernetes/pull/42669#issuecomment-28516491

[2017-04-27 21:59] yujuhong commented on #43632
@thockin, just to clarify, are you in favor of adding HostMappings to the API?

[2017-04-27 22:08] tpetracca commented on #1462
Just piling on that I would make good use of having termination reason available to my preStop hook. I'm looking to be able to know whether or not my pod is being killed because the statefulset is being scaled down or not. Specifically for Cassandra I want to make sure that I properly `decommission` the node so its data gets replicated to the rest of the cluster properly if it is never coming back

[2017-04-27 22:09] msau42 commented on #44514
Also checked gke-staging and gke-prod today.  The latest runs are looking good.

[2017-04-27 22:10] timoreimann commented on #43576
@foxylion Tim Hockin provides some insights [in this comment](https://github.com/kubernetes/contrib/issues/1140#issuecomment-231641402). In a nutshell, it's because Kubernetes is a distributed system, and any extended coordination in such a system increases the complexity to a significant amount. The alternative that Kubernetes chose is to implement graceful termination in terms of loosely coupled

[2017-04-27 22:33] jayunit100 commented on #39148
So, are you suggesting these are dead code?

[2017-04-27 22:39] liggitt commented on #45016
After the node TTL period expires (5 minutes by default, I think) the node controller should mark those pods as dead (or delete them, I forget which). Is that not happening?

[2017-04-27 22:43] liggitt commented on #45009
The initContainers field was added in kube 1.6

Kubectl 1.5 can continue to be used with 1.5 features against a 1.6 server, but will not know about 1.6 fields.

[2017-04-27 22:44] liggitt commented on #45009
Can you see if the initContainers are even being sent to the server on creation (with --v=8)

[2017-04-27 22:46] msau42 opened #45053 "FsGroup support for Local Persistent Volumes"
Once #44897 is in, proper fsGroup support should be added.  The current implementation just sets the volume's fsGroup to the one supplied, but it doesn't check if it could be conflicting with other pods.  This could cause problems if multiple pods use the same PVC, but have different fsGroup settings.  Tests should also be added.

@kubernetes/sig-storage-bugs

[2017-04-27 22:48] fejta commented on #44410
Yay! Thank you so much!

And if you look there are zero hits of this cluster after 4a today: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=v1job#63a36434077ff31ae29e

[2017-04-27 22:48] msau42 opened #45054 "SELinux support for LocalVolumes"
Once #44897 is in, SELinux support for LocalVolumes should be added.  Tests should also be written.

@kubernetes/sig-storage-feature-requests

[2017-04-27 22:49] smarterclayton commented on #44172
@thockin and I had previously agreed that the "PersistentVolumeClaim" and
"PersistentVolume" naming was incorrect - what an end user saw should be
"PersistentVolume" (because that's how the user thinks of it), and the
lower level object (what an admin sees) can be more technical, like
"PersistentVolumeDefinition" or similar.

So I'm ok with the two object model - but as Eric describes I really wan

[2017-04-27 22:51] michalmedvecky commented on #45022
I have the same issue with k8s 1.6.2. installed using kubeadm to (openstack) vm nodes.
I'm using flannel as cni backend.

But my result is a bit different - the pods don't have IP addresses

[code]

and I get this to syslog:

[code]

[2017-04-27 22:52] msau42 commented on #44732
Are you able to get the master logs?  Those logs should be able to show if we are able to successfully detach the volume from the old node.

[2017-04-27 22:53] zhangxiaoyu-zidif commented on #45016
No, it doesnot happen. I wait more than twenty minutes.  The phenomenon disappears until I restart that node shutdown-ed before.

[2017-04-27 23:02] vishh commented on #43504
Storage should reside where pods are. If pods have a specific spreading constraint, then storage allocation has to ideally meet that constraint. The scenario you specified is OK for pods that do not have any specific spreading constraints.

Define success? For local PVs it's only a matter of applying label filters and performing capacity checks right?

[2017-04-27 23:19] colinmorelli commented on #45022
@michaelvilensky I could be wrong about my statement here, but I don't think `docker inspect` is how you should be checking for IP addresses on your nodes. That would only show docker's addresses.

You can run `nsenter --net=/proc/<containerPid>/ns/net -F -- ip addr show` to get the interfaces (or `docker exec` into the container and run an equivalent command). You can also inspect the interfaces

[2017-04-27 23:28] msau42 commented on #43504
I'm referring to a dynamic provisioning scenario, where the scheduler decides which node the pod should be on, and then trigger the provisioning on that node.  But the scheduler should know beforehand some information about whether that node has enough provisionable capacity, so that it can pre-filter more nodes.

[2017-04-27 23:31] michalmedvecky commented on #45022
I never used nsenter, syntax you provided does not work, but this maybe does the job:

[code]

It just shows there is no ip assigned to the container.

[2017-04-27 23:40] thockin commented on #43632
I am neutral on it.  It's come up often enough that i believe the problem
is real.  The API doesn't seem harmful to me, what do you think?  You're
the guardian of CRI...

On Thu, Apr 27, 2017 at 3:00 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2017-04-27 23:41] thockin commented on #43632
Also the name is terrible - help?  HostAliases?  DNSAliases?

On Thu, Apr 27, 2017 at 4:39 PM, Tim Hockin <thockin@google.com> wrote:

[2017-04-27 23:42] rickypai commented on #43632
I'm up for `HostAliases`. `DNSAliases` might accidentally imply that it's actually interfacing with kube-dns.

[2017-04-27 23:51] fejta commented on #44243
Thanks for the investigation!

/unassign
/assign @mikedanese

Chatted with Mike earlier today. He will follow up on the GCP problem so I can track down the rest of the top failures for this week.

[2017-04-28 00:07] yujuhong commented on #43632
I am neutral but just wanted to make sure there are no obvious, alternative ways to achieve this. BTW, the proposed solution changes the k8s API, but not CRI :)

On the other hand, if we support this on the k8s API level, we should discourage users from modifying this file directly. For example, #44473 reported a bug where users modify `/etc/hosts` in the init containers, and later found that kube

[2017-04-28 00:14] #27623 closed

[2017-04-28 00:18] Rev1408 commented on #41632
Hi,

were you able to resolve it, I have same problem.

Thanks!!

[2017-04-28 00:18] thockin commented on #43632
We should definitely discourage modifying that, but we should perhaps
respect it if a user provided a volume mount.

Thoughts on name?

On Thu, Apr 27, 2017 at 5:07 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2017-04-28 00:22] bowei commented on #44791
This does not seem to be related to networking, it is testing when the service endpoints are populated in the API server.

[2017-04-28 00:27] yujuhong commented on #43632
I am terrible at naming...
I agree that having DNS in the name can be misleading. `HostAliases` sounds ok.
`HostnameIPMapping` might be more direct?

[2017-04-28 00:30] fejta opened #45058 "Basic StatefulSet functionality [StatefulSetBasic] should provide basic identity is flaky"
Failures for this test in PRs: https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=provide%20basic%20identity

12 of 34 failures in the past week matched the following text:

[code]

Expectations:
* This work should interrupt and take priority over other activity while it is assigned to you.
* Expectation for sig leads is to identify someone to fix the issue, `/assign` t

[2017-04-28 00:31] thockin commented on #43632
I'd go for brevity when possible.  HostAliases ?

On Apr 27, 2017 5:27 PM, "Yu-Ju Hong" <notifications@github.com> wrote:

[2017-04-28 00:32] thockin commented on #44791
We sort of own the endpoints controller.

On Apr 27, 2017 5:22 PM, "Bowei Du" <notifications@github.com> wrote:

[2017-04-28 00:51] janetkuo commented on #45058
Looking

[2017-04-28 01:00] MrHohn commented on #35641
@omarvsoft  Could you open a new issue with more details? Your issue seems unrelated to the original post.

[2017-04-28 01:01] smarterclayton commented on #45058
I though cockroach just changed their CLI settings related to certs - not sure if that's related

[2017-04-28 01:27] fejta commented on #44791
Expectations:
* This work should interrupt and take priority over other activity while it is assigned to you.
* Expectation for sig leads is to identify someone to fix the issue, `/assign` them and `/unassign` yourself.
* Expectation for assignees are to investigate the issue and either a) resolve it or b) `/assign` it to a more appropriate person and b) `/unassign` yourself.

[2017-04-28 01:28] fejta commented on #44790
Expectations:
* This work should interrupt and take priority over other activity while it is assigned to you.
* Expectation for sig leads is to identify someone to fix the issue, `/assign` them and `/unassign` yourself.
* Expectation for assignees are to investigate the issue and either a) resolve it or b) `/assign` it to a more appropriate person and b) `/unassign` yourself.

[2017-04-28 01:28] fejta commented on #44792
Expectations:
* This work should interrupt and take priority over other activity while it is assigned to you.
* Expectation for sig leads is to identify someone to fix the issue, `/assign` them and `/unassign` yourself.
* Expectation for assignees are to investigate the issue and either a) resolve it or b) `/assign` it to a more appropriate person and b) `/unassign` yourself.

[2017-04-28 01:30] MrHohn commented on #44963
Sorry about the delay, I don't have enough insights of weave to explain this issue. I'm now looking into their design and will hopefully have a brief answer soon.

For the nodeport warnings you saw in logs, they are benign --- or we should say they shouldn't show up. #42888 was tracking this and it already got fixed on upstream (#44578). Though the fix is not in k8s 1.6.

[2017-04-28 01:32] ravisantoshgudimetla opened #45060 "Refactoring taints logic to reduce sprawl across components."
As a follow-up on the discussion that we had on #43171 and sig-scheduling meeting, I wish to consolidate the points that were raised there wrt taints logic sprawl in kubectl.

- Some functions like reorganizeTaints in taints.go in pkg/kubectl/cmd/ need to moved to another location(either api/helpers.go or new TaintController pkg) - @gmarek, @timothysc
- Refactor the testing suite to reflect the ne

[2017-04-28 01:32] nikhiljindal commented on #35254
I presented https://docs.google.com/document/d/1ioBg6Nn7PwyAAY48S42VQ0Zr1LXY5IAnMbBsftmE8DI at the sig-auth meeting (https://www.youtube.com/watch?v=eT35tfepKGE) and here are some of the major issues raised:

* In UserIdentity mode, Cluster still needs to trust federation to have authenticated the user and trust it to have impersonated the right user.
* Giving federation impersonation powers can g

[2017-04-28 01:36] shenlanse commented on #44887
Great, Sorry to not notice the recheck. Thanks

[2017-04-28 01:38] smarterclayton commented on #44948
Some of that info isn't always relevant.  If we print too much info,
we risk making it hard for users to understand what is going on.
Describe doesn't have to show everything, but it should show enough
for a user to know there is an action needed.

[2017-04-28 01:49] mikedanese commented on #44887
The logs are very suspect though. I ran:
[code]

And could not encounter something like this.

[2017-04-28 01:54] jeffvance commented on #44172
@eparis Re _5. At some later point a user might create a new PVC which points to the SnapShotRequest_:
Why would the new PVC point to the snapshot *request* object rather than the snapshot object? In other words, the user/PVC is not requesting another snapshot, he/she is requesting a PV based on a snapshot, right?

[2017-04-28 01:58] shenlanse commented on #44887
I have another question. Under special conditions, there may be two leaders at the same time.

[code]

When leader renews lease, if apiserver timeout for this request(That is to say, the leader get failed response **after 1min**), other candidate will acquire leader during this 1min.

So old leader exits after 1min, however new leader acquire lease after 15s.

[2017-04-28 02:04] rickypai commented on #43632
I'm updating the PR to use `HostAliases`. thanks for the suggestion

[2017-04-28 02:13] xiangpengzhao commented on #44948
From a user's perspective, when something doesn't happen as expected, the sequence of getting info or debugging might be as below:

- `kubectl get foo`
- `kubectl get foo -o wide`
- `kubectl describe foo`
- `kubectl get foo -o json`
- vi log
- dig into code

Yes we should give necessary but not verbose info in each step. As for describe, what info to display is just perfect? Users might be confuse

[2017-04-28 02:27] smarterclayton commented on #44172
The user is making a request to link a high level object under his
control to another high level object.  The lower level details don't
really matter to her (ie it doesn't matter there is a PV or some tar
file on S3).  The user should be able to request new PVCs based on
existing snapshots that have been successfully captured (or request a
new pvc pointing to a new snapshot at the same time and ex

[2017-04-28 02:28] k8s-merge-robot opened #45063 "TestStream {tests}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5170/
Failed: TestStream {tests}

[code]

[2017-04-28 02:29] foxish commented on #30289
Added helm chart in https://github.com/kubernetes/charts/pull/74. Closing.

[2017-04-28 02:29] #30289 closed

[2017-04-28 02:32] feiskyer commented on #44972
I think we can keep this for debugging, and add a log in kubelet.

@Random-Liu Does these fields help for debugging containerd integration?

[2017-04-28 02:34] smarterclayton commented on #43504
I think we should try to keep the pod as the central scheduling
object, and if dynamic provisioning could fail in a particular part of
the cluster, that info needs to be available to the scheduler prior to
its schedule (whether via dynamic provisioning marking a pvc as being
constrained, or the scheduler knowing about the storage class and a
selector existing on the storage class status).  The lat

[2017-04-28 02:51] yyt030 opened #45064 "kubeadm blocking waiting for the control plane to become ready"
Hi, all,
i install kubernetes cluster use kubeadm tool follow the document url:
https://kubernetes.io/docs/getting-started-guides/kubeadm/,
but it blocking wait for the control plane to become ready , why ???
it waiting for what ?

**Kubernetes version** :
[code]
**What happened**:
when i run cmd,it blocking waiting, i don't konw it wait what ?
[code]
others,  the kubelet logs :
[code]
pls help me

[2017-04-28 02:55] k82cn commented on #45019
+1

[2017-04-28 03:01] k82cn commented on #36733
@ravisantoshgudimetla , "just show taints" makes more sense to me.

[2017-04-28 03:05] ChenLingPeng commented on #44063
@haibinxie So is there any problems we should care if we have thousands VIP in dummy interface?

[2017-04-28 03:21] kow3ns commented on #44684
The test infrastructure appears to be broken in general. There are clustered test failures across the grid [for example](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.5-container_vm-1.6-upgrade-master/461). The StatefulSet one, which is intermittent, will be resolved when we cherry pick  #44730 into 1.6.

[2017-04-28 03:23] MrHohn commented on #44963
BTW two quick questions:
- Where did you run the `wget` command? Within the cluster or outside?
- Have you tried to access service IP within the cluster to see if source pod IP is reserved?

[2017-04-28 03:37] k8s-merge-robot opened #45066 "TestRoundTripAndNewConnection/redirect_=_true {spdy}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5172/
Failed: TestRoundTripAndNewConnection/redirect_=_true {spdy}

[code]

[2017-04-28 03:39] haoyixin opened #45067 "Do not release resource(image) when using rbd storageclass."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): ceph, rbd, storageclass, pvc, pv

---

**Is this a BUG REPORT or FEATURE REQUEST?** (

[2017-04-28 03:47] emperorcezar commented on #45009
Strangely, when I reinstalled v1.5.3 it's sending it everytime now. Same
files. Of course I'm running it as ./kubectl and 1.6 is elsewhere on the
system. Don't know if that has an effect. I had quadruple checked that the
init containers weren't working before.

-------------------------------------------------------------------------------------------------------------
Father, Pythonista, Cyclist,

[2017-04-28 03:49] kow3ns commented on #44684
@kubernetes/test-infra-maintainers I can probably help with issue from the comment above but first we need to fix quota limits

Apr 27 17:52:31.645: Failed to allocated static ip e2e-tests-ingress-upgrade-1pxjn-static-ip: googleapi: Error 403: Quota 'STATIC_ADDRESSES' exceeded. Limit: 7.0, quotaExceeded
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework/ingres

[2017-04-28 03:57] xingzhou commented on #44182
I'd like to take a look at this

[2017-04-28 04:05] xiangpengzhao commented on #35946
Thanks @enisoc for explanation!

[2017-04-28 04:16] k8s-merge-robot opened #45072 "TestServeAttachContainer {server}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5173/
Failed: TestServeAttachContainer {server}

[code]

[2017-04-28 04:33] smarterclayton commented on #44065
Proposal SGTM, prototype also barring minor details.

[2017-04-28 04:35] brendandburns commented on #40071
@jsafrane I believe this is fixed, correct? If so, I will close it...

[2017-04-28 04:36] brendandburns commented on #26601
Closing this as obsolete.

[2017-04-28 04:36] #26601 closed

[2017-04-28 04:37] brendandburns commented on #18076
Closing this as obsolete. Please use Azure Container Service or [ACS-Engine](https://github.com/azure/acs-engine) for deployment.

[2017-04-28 04:37] #18076 closed

[2017-04-28 04:38] brendandburns commented on #19598
Closing this as obsolete. Please use Azure Container Service or ACS-Engine for deployment.

[2017-04-28 04:38] #19598 closed

[2017-04-28 04:39] k8s-merge-robot opened #45073 "[k8s.io] Security Context when creating a pod in the host PID namespace should show its pid in the host PID namespace {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/3525/
Failed: [k8s.io] Security Context when creating a pod in the host PID namespace should show its pid in the host PID namespace {E2eNode Suite}

[code]

[2017-04-28 04:48] pmorie commented on #44819
Seen again in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45025/pull-kubernetes-unit/28012/

[2017-04-28 04:54] liggitt commented on #44819
That failure was on master:e36cca4b which was prior to the fix being merged

[2017-04-28 04:54] #44819 closed

[2017-04-28 05:27] k8s-merge-robot opened #45075 "TestServeExecInContainer {server}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5175/
Failed: TestServeExecInContainer {server}

[code]

[2017-04-28 05:39] mdshuai opened #45076 "[HPA] kubectl can't get 'autoscaling/v2alpha1' hpa"
**Kubernetes version** (use `kubectl version`):
v1.7.0-alpha.2.436+acca01bcc20600-dirty

**What happened**:
Create a hap with `autoscaling/v2alpha1` version, then get the hpa, the version is `autoscaling/v1`
Actually I want get the correct version that I create

[code]

**What you expected to happen**:
I expect get the same version hpa that I created.

**How to reproduce it** (as minimally and pre

[2017-04-28 05:41] mdshuai commented on #45076
@derekwaynecarr  @DirectXMan12 Help check, thanks.

[2017-04-28 05:41] ramkri123 commented on #40632
Hi Kad,

Many thanks for sharing this issue. I am encountering the exact same isssue in my machine.

I don't understand your fix. I don't find an "&" in the build/lib/release.sh file. If you can let me know your exact patch it would be much appreciated.

Thanks in advance,
Ramki
email: ramkri123@gmail.com

[2017-04-28 05:51] spradeepv commented on #44203
@thockin May I know when are you planning to move out cloud provider code OUT?

[2017-04-28 05:56] thockin commented on #44203
Over the next 9 months.  It has started but it is long and slow for
compatibility reasons...

On Thu, Apr 27, 2017 at 10:52 PM, Pradeep Sathasivam <
notifications@github.com> wrote:

[2017-04-28 06:05] tobad357 commented on #14908
Yes it is, will close it

[2017-04-28 06:05] #14908 closed

[2017-04-28 06:11] bowei commented on #44791
There seem to be two major sets of failures:
* 11 failures -- namespace deletion. The namespace deletion errors appear to be part of a general failure to delete namespaces in the test run. All instances where the test failed, other tests in the suite also failed with "namespace is empty but is not yet removed".
* 8 failures -- all part of a set of broken test runs (many failures in non-networking

[2017-04-28 06:26] k8s-merge-robot opened #45078 "TestRoundTripAndNewConnection/redirect_=_false {spdy}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5178/
Failed: TestRoundTripAndNewConnection/redirect_=_false {spdy}

[code]

[2017-04-28 06:28] Tedezed commented on #44033
Example in Python: https://github.com/Tedezed/slug-containers/tree/master/statefullset_autoscaler/slug_statefullset_autoscaler

[2017-04-28 06:34] ahawkins commented on #45041
Add multiple lockups yesterday. Kubelet checks failed. Now pods are stuck in the `Unknown` state.

[2017-04-28 06:46] xiangpengzhao commented on #32071
[code]

In the latest doc, it's more clear, as @jimmycuadra said.

As this issue is confirmed, we might close it :)

[2017-04-28 06:52] takahser commented on #44538
I was reading the docs on kubernetes deployments [1] and understand, that all pods that are created from the same template will be labeled with the same `pod-template-hash`.

I'm interested to know more about how this happens:

- who will add the labels: the deployment or the replica set?
- why does changing the deployment template and using the `kubectl apply` command not change the `pod-template

[2017-04-28 06:59] tsmetana commented on #44172
Thanks for the discussion. We're moving forward.

We will use two objects and it also looks like we have agreed to rename `SnapshotRequest` to `Snapshot`. Now we need to rename the second object. I have no preferences whatsoever (`SnapshotRepresentation` sounds OK to me).

[2017-04-28 07:05] wojtek-t commented on #45037
I agree with @xiang90 that in this case it looks like "working as intended". Also note that we have the quota bytes set to 4GB, and it really makes a difference comparing to ~400MB, because we are doing compaction every 5 minutes in both cases.

To be honest, I'm not convinced it is what happened. My hypothesis is that we faced some other problem, but I wasn't the one what was doing the debugging

[2017-04-28 07:30] davidopp commented on #44958
Is this a dup of #246?

[2017-04-28 07:36] kargakis commented on #44538
@takahser thanks for your detailed comment, I have opened https://github.com/kubernetes/kubernetes.github.io/issues/3569 where I am going to address all of your questions.

[2017-04-28 07:36] davidopp commented on #12140
@ajtrichards Can you say what particular functionality you're looking for?

[2017-04-28 07:45] k8s-merge-robot opened #45080 "[k8s.io] PrivilegedPod should enable privileged commands {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/3529/
Failed: [k8s.io] PrivilegedPod should enable privileged commands {E2eNode Suite}

[code]

[2017-04-28 07:48] jingxu97 commented on #44172
I have been thinking more about this two-object proposal and PV/PVC relationship and I feel that that two-object model are necessary for pre-existing volume case, but not for dynamic provisioning case.

1. The need for two objects: Just like node, pre-existing and configured disk storage is a type of resources that could be shared by different users. Based on the user's request, scheduler/controll

[2017-04-28 07:53] gmarek commented on #45029
@jayunit100 - what's the user's problem you're trying to solve?

[2017-04-28 07:54] gmarek commented on #45038
Yup. Known issue.

[2017-04-28 07:57] gmarek commented on #45060
Any idea which sig should be responsible for this? I don't have any...

[2017-04-28 08:05] kargakis commented on #44948
Timestamps and messages which tend to be verbose may be omitted.

On Fri, Apr 28, 2017 at 4:14 AM, Peter Zhao <notifications@github.com>
wrote:

[2017-04-28 08:12] kargakis commented on #45058
Yeah, seems related to https://github.com/kubernetes/kubernetes/pull/44966

[2017-04-28 08:29] discordianfish commented on #44955
I see, and the local files don't count as 'source'?
Would it make sense to expose that other pod status on the current, not-well-defined kubelet api? Or would you rather not add anything to it until it gets better defined?
If it's as straight forward as it sounds, I can submit a PR to do that. Going to close this here since it's not a bug either way.

[2017-04-28 08:29] #44955 closed

[2017-04-28 08:34] jsafrane commented on #40071
Yes, it's fixed.

[2017-04-28 08:34] #40071 closed

[2017-04-28 08:35] eveny commented on #41916
@danielfm. I was not clear. I tested a setup on 3 bare metal servers on hetzner. Maybe this thread is not a best place to describe the issue but there are a bunch of tickets with similar behaviour which are linked together.
Actually I don't have AWS
Once again there is the setup.
[code]
And I see the issue in configuration:
1. When I do config  **/kubelet --address=144.76.62.71** I assume that con

[2017-04-28 08:49] gmarek commented on #26507
@bhs mentioned that it's probably best to start by adding support of context.Context to things that are of interest to us, and then using it to pass span id across process/machine boundaries. It'd mean some big changes in our client-go library, which includes, but is not restricted to, figuring out how we want to handle our generated protobufs.

As we want to be able to trace flow of a single obje

[2017-04-28 08:49] chy168 commented on #38192
For my use case, I'd like to create StatefulSet to deploy db application. In this scenario, I would like the created PV default to Retain policy. If we could provide reclaim option to StorageClass, it would also benefit StatefulSetSpec.volumeClaimTemplates. After scale out SatefulSet, I won't patch the PV to persistentVolumeReclaimPolicy= Retain anymore.

[2017-04-28 09:12] wojtek-t commented on #45037
So I looked into logs of the cluster affected and:
- when I did manual: "compact + defrag"
I compacted only 1161 changes in etcd

What I mean, etcd was compacted to rev: 697302 and after my manual compaction to rev: 698463

So I'm pretty much convinced that the problem wasn't in too long history in etcd.

So I have a strong hypothesis, that what really helped in this case was actually "defrag".

@

[2017-04-28 09:14] eugene-chow opened #45084 "[kube-dns RBAC] Default ClusterRole is insufficient"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubedns kube-dns RBAC 1.6

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose

[2017-04-28 09:18] akdj opened #45086 "Pulling an Image from a Docker hub Private Registry : failed"
Hi!
I want to make a deployment of one docker image on my kubernetes cluster
I followed this post : [Pulling an Image from a Private Registry](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/)
I only modifed the final step : instead of create juste a pod, I create a deployment :

with this yaml config :

[code]

And I have always :

[code]

[2017-04-28 09:19] xiangpengzhao commented on #45016
In versions of Kubernetes prior to 1.5, the node controller would force delete these unreachable pods from the apiserver. However, in 1.5 and higher, the node controller does not force delete pods until it is confirmed that they have stopped running in the cluster. One can see these pods which may be running on an unreachable node as being in the “Terminating” or “Unknown” states. In cases where K

[2017-04-28 09:23] jsravn commented on #41916
@eveny `--address` is for kubelet's http server. It's not going to affect the originating IP to apiserver, which I suspect will simply be the address of the outbound interface. 15m is probably the resync period built into the kube client.

[2017-04-28 09:29] noxon73 commented on #41632
Me too...
`export KUBERNETES_PROVIDER=centos; ./get.k8s.sh
'kubernetes' directory already exist. Should we skip download step and start to create cluster based on it? [Y]/n

Skipping download step.
Creating a kubernetes on centos...
./cluster/../cluster/../cluster/centos/config-default.sh: line 100: cd: ./cluster/../cluster/../cluster/centos/ca-cert: No such file or directory
... Starting cluster

[2017-04-28 09:38] wojtek-t commented on #45037
So now I'm 100% the problem wasn't about size of history in etcd - it was about fragmentation.

So what I did is that I took one of the snapshots from that cluster and restored it locally and it was huge. Then I just did defrag, and it was reduced by ~500x. See below:

[code]

So I think this is all about the question that I asked above:

[2017-04-28 09:42] michalmedvecky commented on #45022
Okay so my previous method was wrong. When entered the container `ip ad sh` showed the expected IP address on the eth0something interface.

But the networking did not work - running `iptables -P FORWARD ACCEPT` on minion node helped.

I don't say this is wrong, but there is definitely something undocumented.

[2017-04-28 09:49] k8s-merge-robot opened #45089 "TestServeExec {streaming}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5185/
Failed: TestServeExec {streaming}

[code]

[2017-04-28 09:51] Miyurz commented on #45064
Related to https://github.com/kubernetes/kubernetes/issues/43815

and is fixed with https://github.com/kubernetes/kubernetes/pull/43835 so you got to try kubectl 1.7  or try the workaround as mentioned in the former issue.

[2017-04-28 09:51] Miyurz commented on #45064
@yyt030 ^

[2017-04-28 09:52] wojtek-t commented on #45037
So in other words, my question here is:

"don't we need something like https://github.com/kubernetes/kubernetes/pull/45090 "

In my opinion this would solve the problem that we've seen.

[2017-04-28 09:54] wjkohnen commented on #44581
I've tested this on us-east1-d and it works.

Today I've tested this on europe-west1-d and it does not work. There is still the `beta.kubernetes.io/fluentd-ds-ready=true` label despite `loggingService: none` and the fluentd-gcp daemon sets get created.

[2017-04-28 09:56] ahawkins opened #45092 "kubectl log fails with uninformative error message"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS w/kops
- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`): `Linux ip-172-20-49-73 4.4.41-k8s #1 SMP Mon Jan 9 15:34:39 UTC 2017 x86_64 GNU/Linux`

- **Install tools**: Kops
- *

[2017-04-28 10:01] crassirostris commented on #44581
@wjkohnen It will start working today by the EOD PT or by the EOD PT on Monday. Sorry for the inconvenience

[2017-04-28 10:03] ajtrichards commented on #12140
Hi @davidopp the specific need we had was to shift pods around on to other nodes to make space for some pods with larger resource requirements.

We specify the request and limits for each Deployment. We then have one deployment that requests 40% of the CPU and then it gets stuck in a Pending state as it can't schedule anywhere. It would be good to be able to shift some of the smaller pods around o

[2017-04-28 10:11] k8s-merge-robot opened #45093 "TestServePortForward {server}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5186/
Failed: TestServePortForward {server}

[code]

[2017-04-28 10:12] spradeepv commented on #44203
Thanks for the information @thockin

[2017-04-28 10:14] kargakis commented on #45063
Seems like this is flaking a lot today cc: @ncdc

[2017-04-28 10:21] zhangxiaoyu-zidif commented on #45016
If the "READY" was "0/1", I will appreciate it very much.
"1/1" really confuses users.

[2017-04-28 10:39] lcancelasp opened #45095 "_OPTS"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-28 10:52] ncdc commented on #45063
This is either because of my recent changes for redirects, go 1.8 (there's another pull to try to address that), or the combination of the two. I'll be online in a couple of hours to look.

[2017-04-28 11:10] xiangpengzhao commented on #45016
yes we might want to enhance it.

[2017-04-28 11:34] ncdc commented on #45063
Yeah, this is 1.8 and our incorrect use of Hijack(). We need #43922.

[2017-04-28 11:38] ncdc commented on #45093
Should be fixed by #43922

[2017-04-28 11:39] ncdc commented on #45089
Should be fixed by #43922

[2017-04-28 11:39] ncdc commented on #45078
Should be fixed by #43922

[2017-04-28 11:40] ncdc commented on #45075
Should be fixed by #43922

[2017-04-28 11:40] ncdc commented on #45072
Should be fixed by #43922

[2017-04-28 11:40] ncdc commented on #45066
Should be fixed by #43922

[2017-04-28 11:41] ncdc commented on #45023
Should be fixed by #43922

[2017-04-28 11:41] wjkohnen commented on #44581
Thanks! I don't know what EOD PT means, but Monday sounds good to me.

[2017-04-28 11:42] crassirostris commented on #44581
@wjkohnen Sorry, end of day pacific time :D

[2017-04-28 11:48] kargakis commented on #26507
Why not use the object uid?

[2017-04-28 11:50] gmarek commented on #26507
They the span will span over whole object lifetime, and we probably don't want to do that as well.

[2017-04-28 11:56] kargakis commented on #3074
We have had requests for separating the image pulling time from the time we expect a Deployment to complete a rollout (ProgressDeadlineSeconds) so I think this would be a nice to have at some point.

[2017-04-28 12:07] bboreham commented on #35183
@cheburakshu I dare say it will; however that is off-topic for this issue. Per #42713 the system administrator has to remove the node. Suggest you open an issue against kubeadm if this doesn't suit.

[2017-04-28 12:26] JonasT opened #45102 "Custom Solutions guide links to Getting Started From Scratch, and that guide links to kubectl install which already seems to assume I have kube-up.sh"
I found the following isuse with the documentation:

The Custom Solutions ( https://kubernetes.io/docs/setup/pick-right-solution/#custom-solutions )guide links to Getting Started From Scratch ( https://kubernetes.io/docs/getting-started-guides/scratch/ ), and that guide links to kubectl install which already seems to assume I have kube-up.sh ( https://kubernetes.io/docs/tasks/kubectl/install/ ).

[2017-04-28 12:27] gmarek commented on #26507
I'm playing with `jaeger` as an OT backend, but I could use some help with setting it up correctly @yurishkuro - could you spare few minutes to help me with understanding what needs to be configured?

[2017-04-28 12:53] kad commented on #40632
See my workaround here: https://github.com/kad/kubernetes/commit/550b4cd13d4d0231e00b3fb1381d457a25d57481

[2017-04-28 12:56] ravisantoshgudimetla commented on #36733
@k82cn, Thanks for clarification. I read that yesterday but was having a question regarding the field as such. So, just to be clear:

- We are not going to change the status to have an additional value for status field called `NotSchedulable`.
- We are going to have a new field called taints and this shows all the existing taints or the one designated as nodecondition taints?

[2017-04-28 12:57] vagharsh commented on #45064
i am having the same issue while installing the kubeadm 1.6.x
using the following script . can anyone tell me whats the problem here ?
`
#!/bin/bash

yum update -y

yum install -y yum-utils wget net-tools socat etcd

cat >/etc/yum.repos.d/docker.repo <<-EOF
[dockerrepo]
name=Docker Repository
baseurl=https://yum.dockerproject.org/repo/main/centos/7
enabled=1
gpgcheck=1
gpgkey=https://yum.dockerpro

[2017-04-28 13:03] luxas commented on #31168
Hmm, @mikedanese kubeadm doesn't use kubelet's built-in function to do the TLS bootstrap yet, does it?

Referencing: https://github.com/kubernetes/kubeadm/issues/173

I'm not sure kubeadm e2e's are covering the kubelet TLS bootstrap; they cover kubeadm's TLS bootstrap functions. Nearly the same code, but not 100%

[2017-04-28 13:14] rodawg commented on #45050
I have a clarification to the bug report -- the minions attached to the AWS ELB were not marked `Unhealthy`, they were de-registered from the ELB.

This caused a site outage for us because the AWS ELB handling traffic was public facing. It also took down several other internal facing ELBs.

[2017-04-28 13:19] danielfm commented on #41916
@jsravn perhaps [this](https://github.com/kubernetes/client-go/blob/65ac4e638a79d49b7dbd5e1cef4e7785af7cbd39/tools/cache/reflector.go#L78) is it?

[2017-04-28 13:45] JonasT commented on #45102
On second examination, I suggest this paragraph should be expanded:

It doesn't actually link a guide that should be started with first (which explains on how to do a basic kubernetes install). This is why I ended up on kubectl instead, which isn't really a good place to start if you have never set up a cluster and you want to have one.

[2017-04-28 13:49] timothysc commented on #45060
I'd ideally like to see the utility libraries pushed under the scheduler subdir and just call-outs and consolidation in the other locations.

[2017-04-28 13:57] jayunit100 commented on #45029
From the user perspective, none of this is relevant :), hopefully they never have to dive into kubelet logs.

[2017-04-28 14:01] timothysc commented on #44958
246 is too old, and should be scrapped imo.
The purpose of this is to come up with an "up to date list."

[2017-04-28 14:03] takahser commented on #25406
The pod master is still on the diagram on the official kubernetes HA docs: https://kubernetes.io/docs/admin/high-availability/

[2017-04-28 14:13] mikedanese commented on #31168
Ya, that's why I say leave it open until we do this in kube-up GCE. We test multiple client bootstrap flows but not the kubelet experimental flag one. That's the one I'm planning on using in GCE.

[2017-04-28 14:17] supereagle commented on #44190
I think `kubectl logs -f` needs to report error for unready pod status, such as `ContainerCreating` and `Pending`. No error for `Pending` pods may mislead the users to think that there is no output for the pods, and ignore the unready status. An enhancement is needed here.

Kindly ping @liggitt

[2017-04-28 14:18] luxas commented on #31168
Ok, perfect, then I read your last comment wrongly.

@mikedanese Will the kubelet TLS bootstrap flag graduate to beta in v1.7? I assume so in case GCE will use it...

We should probably start using it in kubeadm as well in v1.7 https://github.com/kubernetes/kubeadm/issues/173

[2017-04-28 14:23] glycerine commented on #26657
@emilyz-github One way to upgrade is to download a more recent binary release of kubectl, per this instructions: https://coreos.com/kubernetes/docs/latest/configure-kubectl.html and then to `chmod +x kubectl` and move it to the front of your shell's PATH.

See the "Download the kubectl Executable" section of the link.

[2017-04-28 14:30] k8s-merge-robot opened #45104 "TestServePortForward {streaming}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5197/
Failed: TestServePortForward {streaming}

[code]

[2017-04-28 14:34] jsravn commented on #41916
@danielfm I don't think kubelet uses the informer - and I think that just relists the cache, it doesn't actually list against the apiserver directly. I tried looking into it, and afaict there is no logic to relist periodically.

[2017-04-28 14:36] foxylion commented on #43576
@timoreimann Okay this makes sense, thanks for your response!
I've closed this, as it seems to works as designed.
Still hard to get this right in the sense of simplicity, many people seem to make difficult things instead of simply waiting a specific amount of time.

[2017-04-28 14:36] #43576 closed

[2017-04-28 14:40] #45093 closed

[2017-04-28 14:40] tacy commented on #45064
@yyt030
Related to #43805,  you need to add startup parameter `--cgroup-driver=systemd` to kubelet

[2017-04-28 14:45] jayunit100 commented on #45029
Per gmarek's comment, I've collated a  few concrete issues we can / should tackle as part of this:

- https://github.com/kubernetes/kubernetes/issues/42796 Take a look at how much logging spam is required to ascertain the behaviour.
- https://github.com/kubernetes/kubernetes/issues/41916 " kubelet did not pick up on the daemon being down."
- https://github.com/kubernetes/kubernetes/issues/33491 co

[2017-04-28 14:45] cmluciano commented on #45084
/label area/dns

[2017-04-28 14:49] ArchiFleKs opened #45106 "Cinder pv stays in bound state when PVC is deleted"
BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: OpenStack
- **OS** (e.g. from /etc/os-release): Container Linux by CoreOS beta (1381.1.0)
- **Kernel** (e.g. `uname -a`): 4.10.12-coreos
- **Install tools**:
- **Others**:

**What happened**:

In OpenStack, when deleting a PVC, the PV stays in bound state and is not

[2017-04-28 14:51] yurishkuro commented on #26507
@gmarek happy to. What would you like to know?

[2017-04-28 14:54] deads2k commented on #44065
The proposal sounds good overall.  I think the helpers probably deserve to be exposed too, but I don't think agreement is needed there to move forward with non-contentious bits.

[2017-04-28 14:57] cmluciano commented on #45084
@eugene-chow that makes sense to me. Please submit a PR when you get a chance.

[2017-04-28 14:58] ramkri123 commented on #40632
Many thanks kad.

[2017-04-28 15:00] cmluciano commented on #45022
@michaelvilensky Are you saying that your issue is fixed?

[2017-04-28 15:07] dlouzan commented on #21397
How do you handle this case for Internal ELBs? I have a service running in k8s that I would like to make accessible to other internal non-k8s services, so I can't use the service names (those are only available in the k8s network). So for this I am creating a k8s LoadBalancer service using the beta annotation for aws internal elbs. The issue is that afterwards I have to manually create an internal

[2017-04-28 15:10] deitch commented on #21397
@dlouzan FWIW, I avoid ELB auto-management entirely. I have ELBs managed separately (mostly tf), and kube components only are responsible for kube.

I have a terraform kubernetes module I wrote that takes as arguments what input ports it needs and sets up ELBs and security groups and NACLs to support it. Not ideal, but I don't like mixing kubernetes with AWS ELB

[2017-04-28 15:15] ravisantoshgudimetla commented on #45060
Makes sense @timothysc. I will put up a minimal PR sometime next week.

[2017-04-28 15:17] deads2k commented on #43556
Given that the integration tests all share a single etcd, I don't think these will ever be successfully run in parallel in the current structure.

[2017-04-28 15:19] luxas commented on #44975
@wlan0 Done!

cc @thockin @rrati @roberthbailey

[2017-04-28 15:32] xiangpengzhao commented on #43556
@deads2k Do you mean `make test-integration` doesn't run in parallel by default, right? If it doesn't, then it should run successfully. But it doesn't. I also encounter this issue. Any clue from the failure?

[code]

[2017-04-28 15:37] deads2k commented on #43556
Nothing leaps out.  Any indication that the server wasn't able to start serving?

[2017-04-28 15:41] #44920 closed

[2017-04-28 15:42] shettyg commented on #44752
I see the same error too.

[2017-04-28 15:43] liggitt commented on #45084
What version of dns are you running? The current version is tested with that role and works fine

[2017-04-28 15:44] liggitt commented on #45084
(That said, adding get permission on resources it can already list/watch is fine)

[2017-04-28 15:47] liggitt commented on #45076
v1 is preferred. If you want a specific group/version, you can specify it as `kubectl get hpa.v2alpha1.autoscaling`

[2017-04-28 15:47] #45076 closed

[2017-04-28 15:48] #45095 closed

[2017-04-28 16:00] wongma7 commented on #45106
What version of etcd are you using? We had somebody else with this exact issue and it turned out they were running an incompatible version of etcd.

But that was with local-up-cluster, not production, and idk what checks kubernetes has in place for etcd compatibility in production.

[2017-04-28 16:02] yujuhong commented on #44972
I am in favor of removing the network namespace field from CRI since runtime owns the network piece completely.

/cc @thockin @freehan

[2017-04-28 16:06] ArchiFleKs commented on #45106
I'm using etcd v3.0.10 I think. I'll recheck

Le ven. 28 avr. 2017 18:00, Matthew Wong <notifications@github.com> a
écrit :

[2017-04-28 16:10] xiangpengzhao commented on #43556
I'm not at office now so that I can't get more info. But I remember that seems I use docker (all right, moby) v1.13, maybe it's due to it changes the default FORWARD policy to DROP ?

[2017-04-28 16:10] mikedanese commented on #38228
Merging that PR gave us a 75% flaky rate on test-go last night. Verify looks fine. I'm going to roll it back.

https://k8s-testgrid.appspot.com/google-unit#test-go

[2017-04-28 16:10] ArchiFleKs commented on #45106
Yes it is 3.0.10 on coreos 1381

Le ven. 28 avr. 2017 18:05, Kévin Lefevre <lefevre.kevin@gmail.com> a
écrit :

[2017-04-28 16:18] wongma7 commented on #45106
OK, the changelog recommends 3.0.17 for kube 1.6, though it does say "this is not a strong recommendation and users should consult an appropriate installation or upgrade guide before deciding what versions of etcd" https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#external-dependency-version-information . I don't know what upgrading etcd entails exactly but I assume upgrading point

[2017-04-28 16:20] dwradcliffe commented on #44450
The dot ignore should have covered the vim temp file too, but it doesn't work because the filename passed in is the absolute filename including the path. So the first character is not a dot.

[code]

I'll try to submit a PR fix.

[2017-04-28 16:22] mikedanese commented on #38228
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5198
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5197
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5196
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5195
https://k8s-gubernator.appspot.c

[2017-04-28 16:24] yujuhong commented on #45041
This seems like a docker bug. The log messages were generated by docker's health checks (i.e., not kubernetes's). You may want to try running containers without the docker health checks and see if the node will be more stable.

[2017-04-28 16:32] timothysc commented on #44887
I don't think your original assertion is true:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go#L104

@shenlanse are those logs from 1.6?

[2017-04-28 16:38] ArchiFleKs commented on #45106
Ok thanks for the info. This is not production so I can try other release
easily.

I'll try the 3.0.17 and also kube 1.5 with etcd2

Le ven. 28 avr. 2017 à 18:18, Matthew Wong <notifications@github.com> a
écrit :

[2017-04-28 16:39] ncdc commented on #45104
This should be fixed by #43922, which merged a few minutes after this test run failed. I'm going to close for now and we can reopen if that PR didn't actually fix it.

[2017-04-28 16:39] #45104 closed

[2017-04-28 16:40] #45089 closed

[2017-04-28 16:40] #45078 closed

[2017-04-28 16:40] #45075 closed

[2017-04-28 16:40] #45072 closed

[2017-04-28 16:41] #45066 closed

[2017-04-28 16:41] #45063 closed

[2017-04-28 16:43] dwradcliffe commented on #44450
PR submitted https://github.com/kubernetes/kubernetes/issues/45111

[2017-04-28 16:47] haibinxie commented on #44063
@ChenLingPeng not i am aware of

[2017-04-28 16:54] pmcq commented on #29972
Hi I think I have hit the same issue with init-containers though it is not related to a petset, coreos, or any application.  We had our application up and running for several days and suddenly on one machine the pods went back to `Init:0/4` state from `Running`.  It seems the simplest way to reproduce this is as follows:
1. Start a pod with an init-container
2. Let application come up and pod tran

[2017-04-28 17:00] msau42 commented on #44790
I repeatedly ran this test on my e2e cluster since 7pm last night, and it has not failed yet.  Seems like it fails more frequently in the PR env instead of the CI env, so may need to look into differences between the two.

The test is failing during the deletion of the namespace.  It seems like there are still some resources not getting deleted.  I'm trying to dig deeper in the logs to see if I ca

[2017-04-28 17:00] pmcq commented on #29972
@dchen1107 sorry to ping but I was able to reproduce this issue pretty reliably without coreos, and with a cluster that is not misconfigured - node has been up for 100+ days, application had been running for several days without issue, I think removing the Exited init-containers might be the issue, and I'm uncertain if that is a known aspect of the design.

[2017-04-28 17:01] luxas commented on #38228
@mikedanese @ixdy Before you rollback, can you see if https://github.com/kubernetes/kubernetes/issues/43922 fixes the problem?

[2017-04-28 17:03] #43519 closed

[2017-04-28 17:03] #43563 closed

[2017-04-28 17:11] xiang90 commented on #45037
@wojtek-t

defrag is there to reclaim disk space. It is a highwater mark that the database has ever grown to. For example, you put 10M keys into etcd and remove them all, you might want to call defrag. Other than that, we should be good. Normally, you will be able to use 50%+ the space.

16MB actual data but 5GB page allocation is really strange. Do you call snapshot from etcdctl frequently?

We j

[2017-04-28 17:14] ravisantoshgudimetla commented on #44944
@davidopp Ok, I was under the impression that this is needed for 1.7, if not I can circle back to this later.

[2017-04-28 17:15] ahawkins commented on #45041
@yujuhong how can you tell that? Also do you know of a way to disable health checks in the docker daemon itself? I'm looking at https://docs.docker.com/engine/reference/commandline/dockerd/#options but don't see an option to.

[2017-04-28 17:16] redbaron commented on #44676
slightly related: I am trying to find info why it is that only image field of initContainers triggers pod restart and no other fields?

[2017-04-28 17:20] mikedanese commented on #38228
Ok, last two have been green.

[2017-04-28 17:22] janetkuo commented on #45058
#44966 (merged 2 days ago) added `--insecure` to the command. I believe it solved this issue already.

[2017-04-28 17:23] tpetr commented on #29972
@pmcq Nice catch! I just confirmed that our affected Stateful Sets are in the state you described (init-container Docker containers deleted). After digging further, I realized @bbeaudreault was experiencing this because our kube nodes have a cron job that deletes old terminated containers that are 2+ days old (the timing lines up perfectly).

I can disable / alter our cron job, but it makes me won

[2017-04-28 17:23] pmcq commented on #29972
Should have clarified in that previous post I did the `docker rm` on two separate containers (Init container 1 and init container 4).  I was able to get the Pod to go from `Init 0/4` -> `Running` again by running a container with the expected name, i.e.
[code]

[2017-04-28 17:24] #45058 closed

[2017-04-28 17:24] yujuhong commented on #45041
Ah..I think I misread the issue. Your containers died before containerd could save the stat. What containers were you running and do they run fine without kubernetes? Were they expected to terminate so soon?
Was docker responsive at all when this happened? You may also want to check `dmesg` to see if there was any relevant information about docker.

[2017-04-28 17:26] freehan commented on #44972
SGTM

[2017-04-28 17:31] wojtek-t commented on #45037
We've grown from ~60MB snapshot to ~4.5GB snapshot within 2 hours.

I see - thanks for the info. Is there any issue for it?

[2017-04-28 17:32] devth commented on #25106
Not sure this if this is directly related but trying to apply a deployment with initContainers errors:

[code]
on 1.6.1.

[2017-04-28 17:33] xiang90 commented on #45037
@wojtek-t

How often do you call snapshot from etcdctl? or how do you do snapshot?

[2017-04-28 17:36] xiang90 commented on #45037
We are still looking into the problem right now.

[2017-04-28 17:37] liggitt commented on #25106
@devth what does `kubectl version` show?

[2017-04-28 17:37] wojtek-t commented on #45037
Every hour or so. We're using etcdctl for snapshoting.

[2017-04-28 17:42] devth commented on #25106
Ah, locally I have 1.6.1 but in CI it was using 1.5.3 (apparently `google/cloud-sdk` is stuck at 1.5.3). Will upgrade. Thanks!

[2017-04-28 17:43] grodrigues3 commented on #44975
@kubernetes/sig-testing-misc

[2017-04-28 17:46] Random-Liu commented on #44972
@yujuhong SGTM. I found that field is useless when implementing containerd integration. Then how about I send a PR to remove it?

[2017-04-28 17:49] pmcq commented on #29972
Here's what I've been using to fix up pods in our system, YMMV:
[code]
First arg is the pod name (e.g. `web-server-551139053-x7cmb`) Second arg is the name of the init container in the pod that is supposed to be started, (e.g. `web-config-fetch`).  Seems to have fixed up everything so far, hope that helps someone.

[2017-04-28 17:49] Random-Liu commented on #45092
From the error log, it doesn't seem like pod not ready is the problem. Are you able to get pod log after the pod is ready?

It seems to me that kubelet rejected the connection. 172.20.41.138:10250 is the kubelet port on the node which the pod lies on.

[2017-04-28 17:57] xiangpengzhao commented on #34950
@Smalinuxer correct. And now we should run `make release` instead.

[2017-04-28 18:02] xiang90 commented on #45037
Hmm... if you do not do snapshot very frequently, you should not meet the exact issue I just described. It might be another thing. Do you have a good way to reproduce it?

[2017-04-28 18:06] Random-Liu commented on #45073
@yujuhong @feiskyer Something wrong here.

[2017-04-28 18:16] Random-Liu commented on #44990
This should have been fixed. Doesn't that work? https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/file_linux.go#L84

[2017-04-28 18:18] Random-Liu commented on #44990
It seems that when using `vim`, there are some other temporary files ended with `~`. Those files are not ignored. That is a known issue.

For now, it is recommended to edit the manifest outside that directory and copy the file back.

[2017-04-28 18:24] readams commented on #44307
I've tested this on 1.6.2 now and this appears to be fixed.

[2017-04-28 18:34] Random-Liu commented on #44955
@discordianfish Actually you could run a apiserver locally with kubelet. That's how we are doing node e2e test and minikube now.

[2017-04-28 18:39] #44007 closed

[2017-04-28 18:42] Thermi commented on #43516
This hit me today, too. No new nodes were created and there was no reason to mark the nodes as NotReady. `kubectl` tells me, that the kubelet didn't receive a response from them, but the services on the nodes are fine.

[2017-04-28 18:43] fejta commented on #45058
Thanks much for resolving!

[2017-04-28 18:49] devth commented on #25106
@liggitt still errors after upgrading kubectl:

[code]

[code]

This is via Helm 2.3.1.

[2017-04-28 18:52] liggitt commented on #44448
the defaulting for pod exec and attach objects seems wrong as well:
[code]

[2017-04-28 18:52] vllry commented on #36327
@nicksardo: it's 1 federated ingress across four clusters.

[2017-04-28 18:54] michalmedvecky commented on #45022
I am saying when I change FORWARD from DROP to ACCEPT, it works, but that's not a solution. I'm trying hard to study what causes this behavior and who should be in charge of correct iptables rules.

[2017-04-28 18:55] liggitt commented on #25106
it looks like helm 2.3.1 is locked to kubernetes 114f8911f9597be669a747ab72787e0bd74c9359 (which is v1.5.6)

[2017-04-28 19:01] rrati opened #45118 "cloud providers get instance/vm calls filter on running status"
If a node is attached to a cloud provider and the machine is in any state other than running/available/ready/whatever cloud provider uses to indicate ready, it will be removed from the kubernetes cluster.

Looking at the various cloud providers, some of them filter nodes based on the state whereas others do not.  The node controller has logic for handling a node that is not updating status and evi

[2017-04-28 19:06] yujuhong commented on #45073
`E0428 14:00:00.121273    3766 httpstream.go:185] timed out waiting for client to create streams`

Let's all I've got...

/cc @ncdc

[2017-04-28 19:08] ncdc commented on #45073
Fixed by #43922

[2017-04-28 19:08] #45073 closed

[2017-04-28 19:08] #43191 closed

[2017-04-28 19:13] cmluciano commented on #45022
Can you post your docker version?

[2017-04-28 19:29] spiffxp commented on #37143
/remove-priority P0

[2017-04-28 19:29] spiffxp commented on #37143
/assign

[2017-04-28 19:30] spiffxp commented on #37143
/close
ref kubernetes/test-infra#2435

[2017-04-28 19:30] #37143 closed

[2017-04-28 19:47] madhusudancs commented on #37143
yAy! Happy dances!

[2017-04-28 20:04] wojtek-t commented on #45037
Not at all.

[2017-04-28 20:08] nicksardo commented on #36327
@vllry In your support ticket, can you ask them to cc @csbell and myself, please.

[2017-04-28 20:10] wojtek-t commented on #44063
Yes - that's definitely true. If you implementation is passing all existing e2e tests, in my opinion we can merge this implementation.

[2017-04-28 20:13] vllry commented on #36327
Certainly @nicksardo

[2017-04-28 20:16] #45038 closed

[2017-04-28 20:16] #44937 closed

[2017-04-28 20:20] michalmedvecky commented on #45022
`Docker version 17.04.0-ce, build 4845c56`

[2017-04-28 20:34] timothysc commented on #44063
I'll wait till the PR comes in but we might want to have a dual building similar to what was done with etcd.

[2017-04-28 20:44] msau42 commented on #44790
Here's one failed [test](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44868/pull-kubernetes-e2e-gce-etcd3/27655/):
From the API server [logs](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/44868/pull-kubernetes-e2e-gce-etcd3/27655/artifacts/e2e-gce-agent-pr-99-0-master/kube-apiserver.log)

1. The initial namespace deletion request from the e2e test:
I042

[2017-04-28 21:01] ncdc commented on #44175
etcd v3 has a different way you have to use etcdctl. You have to set an environment variable to read etcd in v3 mode: `export ETCDCTL_API=3`.

I'd recommend you read https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/interacting_v3.md for more details.

Hope this helps!

[2017-04-28 21:17] jeffvance commented on #44790
@msau42 Great analysis! Since no singular event stands out as taking too much time how about, in the name of expediency, just changing the timeout to 5m?

[2017-04-28 21:29] gmarek commented on #26507
@yurishkuro thanks - I run https://github.com/uber/jaeger/tree/master/examples/hotrod, and did something +- based on it in our client library. But honestly I don't understand where in that process I configured a place where traces should be stored and read from. I guess that Cassandra address, Cassandra itself and the rest of the stack is pre-configured in the image from the example, but I'd like

[2017-04-28 21:31] gnufied commented on #44656
For stress tests I am thinking of simply creating 30 pods (using deployments) and bringing them up and down and hoping it works. @justinsb did you had anything else in mind for stress tests?

[2017-04-28 21:33] tgraf commented on #35183
I have the same requirement. CNI plugins typically install files (binaries & a config file in `/etc/cni/net.d/`) in the host filesystem when the managing pod is first started as a `DaemonSet`.

 I'm doing the installing part using a `PostStart` hook. Ideally I could clean up (remove both binaries and config files) as the pod is removed from the node. I looked into using a `PreStop` hook for the cl

[2017-04-28 21:42] jchauncey commented on #44732
This is on GKE so I dont think so. Unless you know how?

[2017-04-28 21:46] cedriclam commented on #44018
Hi,
As a need contributor, I'm interesting of solving this issue.

I already check the current code, and propose to retry the service creation until success or all possible ports (between FederatedSvcNodePortFirst and FederatedSvcNodePortLast) have been tried.

If this approach is fine for you, I can submit a PR soon.

[2017-04-28 21:50] #6962 closed

[2017-04-28 21:53] jfoy opened #45126 "ServiceController updateLoadBalancerHosts() drains all external load balancers during full master disruption"
**Is this a request for help?**: No
**What keywords did you search in Kubernetes issues before filing this one?**: disruption servicecontroller

---
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report
**Kubernetes version**:
[code]
**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS Container Linux 1235.9.0
- **Kernel*

[2017-04-28 21:56] tomte76 commented on #44963
- I ran the wget commands above from outside the cluster. Even from outside the openstack using a floating ip assigned to the VM of the kubernetes node. The wget to wordpress pods and also the wget to the /healthz healthcheck-nodeport was ran from outside the cluster.

- I logged into the mysql pod in the cluster, installed wget and did a wget on the ep/wpfrontend

`ep/wpfrontend   10.32.0.2:80

[2017-04-28 22:09] mikedanese opened #45128 "don't break when debian drops debs from their repos"
because it's super annoying

[2017-04-28 22:18] MrHohn commented on #44963
Thanks for the experiments.

Yeah this would not work, nodePort is opened on node IPs but not on service IP.

Quick summarize what you got this time:
- pod to pod communication preserves source IP.
- pod to service communication loses source IP.

This is surprising and sounds like the issue is wider than just "OnlyLocal" service. I wonder how we ensure the compatibility for various k8s network plu

[2017-04-28 22:33] madhusudancs commented on #44018
How do you plan to check if the NodePorts are available? In our presubmit test environment, tests run across many instances of federation control planes in parallel, but share the same underlying clusters. So this approach might be viable depending on how and where you plan to check for these used NodePorts.

[2017-04-28 22:34] tomte76 commented on #44963
Can you suggest another network plugin I can try to see if the problem goes away? It is not much work to redeploy the whole setup. Even with new VMs or in parallel if necessary . As far as I can appraise at the moment, all we need is a multi-node network overlay. We are not bound to weave if other solutions are available. What we badly need is the possibility to preserve the external ip in on prem

[2017-04-28 22:34] MrHohn commented on #44963
@tomte76 May you file an issue against [weaveworks/weave](https://github.com/weaveworks/weave) as well? Weave folks might have more insight of this.

[2017-04-28 22:37] tomte76 commented on #44963
Yes. I can file this. Maybe I should try first, if the problem disappears if I use another network plugin to ensure it is related to weave?

[2017-04-28 22:40] MrHohn commented on #44963
Sorry, your comment popped up after I sent that. Probably try [flannel](https://github.com/coreos/flannel)?

[2017-04-28 22:51] jingxu97 commented on #44732
@jchauncey in order to debug the attach detach problem, we need to access the master log and also kubelet log. Could you share your zone, project and cluster name with us so that we could access the master log? Thanks!

[2017-04-28 22:57] msau42 commented on #44732
You can email the information to me or Jing.  We may need to coordinate some time with you to reproduce the issue if the logs got rotated.

[2017-04-28 23:02] #43550 closed

[2017-04-28 23:12] feiskyer commented on #44972
OK. I will send a PR to remove it.

[2017-04-28 23:12] feiskyer commented on #44972
/assign

[2017-04-28 23:22] tomte76 commented on #44963
Thank you. I redeployed and installed flannel using kube-flannel-rbac.yml and kube-flannel.yml but at the moment the dns-pod does not start.

`po/kube-dns-3913472980-1d76n                     0/3       rpc error: code = 2 desc = failed to start container "cc3fb3bc6a1ba24857f015b9f4f7e41b783ac3ffa900904b61119c1aa4c59e2b": Error response from daemon: {"message":"cannot join network of a non running

[2017-04-28 23:25] jingxu97 commented on #44732
@jchauncey also could you double check whether there are some pods left on the node. Sometimes, even a pod is deleted, it might fail and API server still have this pod. You could use "kubectl get pods --show-all" to get a more complete list of pods.

[2017-04-28 23:39] msau42 commented on #44792
From one of the recent [runs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45017/pull-kubernetes-e2e-gce-etcd3/27552)

Seems like the NFS server is not reachable.  Should we consider adding some liveness probes to the nfs-server pod to help us debug further?

I0427 06:21:25.686] Apr 27 06:19:11.382: INFO: At 2017-04-27 06:15:56 -0700 PDT - event for pvc-tester-zfzk9: {k

[2017-04-28 23:43] supereagle commented on #44752
They are not actual errors and can be ignored, [here](https://github.com/kubernetes/kubernetes/issues/38979#issuecomment-268340625) is the detailed explation. You can have a try on the method in the cadvisor [PR 1627](https://github.com/google/cadvisor/pull/1627).

[2017-04-28 23:45] hostirosti opened #45131 "Add `kubectl config rename-context`"
Getting a kubectl context/credentials through e.g. GKE creates an entry in ~/.kubeconfig with a lengthy name: gke_projectname_zone_cluster-name.

It would be amazing to be able to rename the context via kubectl instead of manually in .kubeconfig
Before:
[code]
--> `kubectl config rename-context k8s-is-awesome-cluster`

After:
[code]
@kubernetes/kubectl

[2017-04-28 23:54] supereagle commented on #42492
@mkumatag  I have submitted the PR #44199 for docker version check in kubelet.

[2017-04-29 00:02] jeffvance commented on #44792
I think the nfs-server pod uses nfs v4 (gcr.io/google_containers/volume-nfs:0.8). If so, does the export path matter? I recall reading where changing the path from "/export" to "/" fixed a problem.
Also, we've seen many of these `FailedMount` errors which seem to be somewhat random and dependent on which os the tests runs on.

[2017-04-29 00:07] msau42 commented on #44792
I'm not a NFS expert, but I feel that if it was a matter of an incorrect path, then all the tests would fail, not just a few of them.

The particular test run I linked to is gce debian, so it doesn't have the special cos containerized mounter.

[2017-04-29 00:16] qwe5456 commented on #44999
Hi @kargakis , thank you for your reply.

I did some more investigation and found this issue might be caused by the adoption of shared informers.
According to the [controller's development instruction](https://github.com/kubernetes/community/blob/master/contributors/devel/controllers.md), all the controllers share the same cache now.

I have been working on v1.0 for a long time and just moved on t

[2017-04-29 00:31] k82cn commented on #28590
maybe a benchmark is necessary for this firstly.

[2017-04-29 00:36] verb opened #45133 "pull-kubernetes-bazel flake"
Jenkins Bazel Build / pull-kubernetes-bazel flaked after passing all tests:

[code]
full log: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/41583/pull-kubernetes-bazel/15298/build-log.txt

[2017-04-29 00:37] ncdc opened #45134 "storage.k8s.io api group incorrectly defaults to v1 for discovery in v1.6"
storage.k8s.io/v1 was added in v1.6 and set as the default discovery version. This can cause problems for v1.5 clients, which don't know about storage.k8s.io/v1.

Fortunately, the etcd storage version is v1beta1 (https://github.com/kubernetes/kubernetes/blob/584b57b8b4596d52559bdd6b79503f8f70281aec/pkg/apis/storage/install/install.go#L42).

I am working on a fix for this.

cc @liggitt @sttts @jsaf

[2017-04-29 00:46] verb opened #45135 "pull-kubernetes-e2e-gce-etcd3 failed test run"
CalledProcessError with no output:

[code]

full log: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41583/pull-kubernetes-e2e-gce-etcd3/27780/?log#log
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41583/pull-kubernetes-e2e-gce-etcd3/27780/

[2017-04-29 00:49] #44832 closed

[2017-04-29 00:56] MrHohn commented on #45084
kube-dns stops using kubernetes service as ready signal since #35449, which is not released until v1.6. kube-dns released with v1.5 or before will require "get" permission.

[2017-04-29 00:57] MrHohn commented on #45084
cc @bowei

[2017-04-29 00:58] cblecker commented on #44873
I had a look at using glide a couple days ago, but my experiment didn't go well due to the complexity of k/k. Ran into two different bugs, as well as issues with the staging dir. The other issue with glide is the way it interacts with bazel. The way it handles subpackages doesn't play well with bazel's build files. I have a feeling it could be worked around, but it would be nontrivial for sure.

V

[2017-04-29 01:39] k8s-merge-robot opened #45137 "TestTokenCreation {serviceaccount}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5211/
Failed: TestTokenCreation {serviceaccount}

[code]

Previous issues for this test: #44819

[2017-04-29 01:41] fejta commented on #44684
Which project needs more quota?

[2017-04-29 02:00] ncdc commented on #45137
@liggitt

[2017-04-29 02:07] ncdc commented on #45134
@liggitt fyi, it's only discovery that's an issue in 1.6. It has v1beta1 for etcd storage.

[2017-04-29 02:18] jingxu97 commented on #44792
I checked another test "should test that deleting the Namespace of a PVC and Pod causes the successful detach of Persistent Disk"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45017/pull-kubernetes-e2e-gce-etcd3/27552

From the log, it looks like deleting the namespace took about 3 mins. The test timeouted after 3 mins for deleting the namespace. It seems like we should

[2017-04-29 02:19] ncdc commented on #45134
cc @enj

[2017-04-29 03:15] k8s-merge-robot opened #45139 "ci-kubernetes-e2e-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/1298/
Multiple broken tests:

Failed: [k8s.io] Namespaces [Serial] should delete fast enough (90 percent of 100 namespaces in 150 seconds) {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27957

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON PodAffinity

[2017-04-29 03:29] nestoru commented on #23726
`gcloud container clusters get-credentials your-cluster --zone us-east1-b --project your-project`

[2017-04-29 03:51] sdboyer commented on #44873
We dep folks are trying to actively pay attention to y'all (and I've not forgotten my discussions with @thockin), though there are a lot of plates spinning right now 😄. If someone could continue poking at it regularly, that'd be the best way to ensure we're continuing to iron out bugs that only projects the size of k8s tend to run into. For my purposes, anyway, I think just giving it a poke once a

[2017-04-29 04:03] zihaoyu commented on #43988
We have basically the same setup as @vdavidoff :

- Flannel on CoreOS. Flannel gets a subnet from etcd, writes CIDR to properties file
- dockerd starts with `--bip` CIDR from flannel properties file
- No CNI plugin or kubenet or anything for kubelet

We saw the same logs in `kubelet` logs:
[code]

However, we also saw massive pods being killed by kubelet:
[code]

This caused disruption and brief s

[2017-04-29 04:06] dhilipkumars opened #45140 "pod should be deleted once preStop Hooks finished executing."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): prestop hooks

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Ku

[2017-04-29 04:08] dhilipkumars commented on #45140
@erictune @smarterclayton @kow3ns @kargakis
This was the issue i was talking about in the app-sig meeting last time.
Could someone please copy sig-app-lifecycle and sig-node for this bug please?

[2017-04-29 04:09] dhilipkumars commented on #45140
CC: https://github.com/kubernetes/community/pull/483

[2017-04-29 06:17] jingxu97 commented on #44790
The delay of ns deleteion might related to this PR #29051 and #29262.
#29262 is still open.

[2017-04-29 06:35] davidopp commented on #45029
I think maybe what @gmarek was getting at was that we should have a good justification before we start making changes, since it generates a lot of review work, can introduce new bugs, etc. But yeah, breaking it down into small, easily-reviewable pieces can mitigate some of the risk.

[2017-04-29 06:40] #37915 closed

[2017-04-29 06:41] #44529 closed

[2017-04-29 07:34] shu-frank-csdn commented on #7581
I also hit this issues, @kcao3 have you fixed it ? I struggle for three hours.

[2017-04-29 07:58] fejta commented on #44975
This is more appropriate for sig-scheduling or whoever owns the cloud-controller-manager, not sig-testing

[2017-04-29 07:59] davidopp commented on #12140
@ajtrichards Priority/preemption (kubernetes/features#268) is one possible solution to that problem, and I'm not sure the rescheduler should be involved. I think we were planning to do "spreading pods away from high/over-utilized nodes" as the first rescheduler use case.

(It's true that rescheduler is needed for your use case if the large deployment runs at the same priority as the smaller pods).

[2017-04-29 08:01] gmarek commented on #45060
I'm not convinced that it's should be under scheduler. There's other kinds of taints, i.e. 'NoExecute' ones, which have nothing to do with scheduler. Plus I don't like the idea of controllers depending on scheduler directory. Maybe we can just make a 'taint' subdir in `pkg/api` or even in `pkg`?

[2017-04-29 08:04] gmarek commented on #45038
Thanks for fixing this!

[2017-04-29 08:04] cedriclam commented on #44018
my approach for getting an available port is a "Dummy" approach: create a list of possible available port, get one of them randomly, then try to create the Service. If Service creation failed. try to use another possible available port, until service creation success or all possible available ports have been tested.

[2017-04-29 08:13] gmarek commented on #45118
If that's really the case it's unfortunate - we probably can fix `cloudprovider` logic to list everything (I guess there's a flag that you can pass to CP to give you everything, not only working machines). I have no idea who deals with that @k8s-mirror-cluster-lifecycle-misc ?

OTOH I think the only problem with this would be if the machine would flap, as this would be annoying and cluster autosca

[2017-04-29 08:16] gmarek commented on #33257
Judging by the time it's really old release. As a lot of things changed since then I'm closing this issue.

[2017-04-29 08:16] #33257 closed

[2017-04-29 09:05] tgraf commented on #35183
Confirmed that this is not guaranteed. I sleep in the `PreStop` hook for 60 seconds and then attempt delete files on mounted volumes they will not be deleted as the volume has already been unmounted.

[2017-04-29 09:45] nugrahawahyu commented on #39326
@klausenbusk can you share link how to setup flexvolume using rexray on digitalocean?

[2017-04-29 10:09] ajtrichards commented on #12140
Thanks @davidopp - sounds like Priority / Preemption would be a good solution for us. Will keep an eye out on that becoming available.

[2017-04-29 10:20] kargakis commented on #45140
@kubernetes/sig-node-bugs

[2017-04-29 10:23] kargakis commented on #44999
@qwe5456 can you explain more the "If one of the controllers adds an annotation to an replicaset" part? What do you mean by "controller"? If that controller is using the API to update the ReplicaSet, the ReplicaSet controller should see the update eventually.

[2017-04-29 11:18] jayunit100 commented on #45029
Ack, gmarek/davidopp: First series of improvements will be no-ops - then we can debate the thorny subject of backoffs which is largely subjective.

[2017-04-29 11:31] hostirosti commented on #45131
Found a work around if anyone is interested (currently requires 3 steps):

1. Get context information (you need the CLUSTER name and AUTHINFO for the next step):
[code]
1. Create new context:
[code]

1. Delete old context:
[code]

[2017-04-29 12:07] leopoldodonnell commented on #34982
In my case the lifecycle approach ran into race condition issues. If it doesn't work for you, consider using an init container. This solved my problem with a secret `git-secret` with a key `ssh`

[code]

[2017-04-29 13:00] rootfs commented on #44750
Hit the same issue, turning off iptables (`iptables -F`) fixed the problem

[2017-04-29 13:02] discordianfish commented on #44955
That's true, probably do that for my test use case. Although I have another use case where I run some stand-alone nodes that shouldn't be part of a cluster and I want to reduce complexity/dependencies there. All I need there is have it run my pod manifests. But sure, I understand if that's out of scope of the project. Just hoped this would be a minimal change.

[2017-04-29 14:10] luxas commented on #38228
The SPDY problem is resolved now thanks to https://github.com/kubernetes/kubernetes/pull/43922, the test hasn't flaked since the PR was merged.

Closing this as it currently looks like everything's green, we'll reopen once again if things start to fail

[2017-04-29 14:10] #38228 closed

[2017-04-29 15:04] eugene-chow commented on #45084
@liggitt It says 1.6.0-alpha. The image is `gcr.io/google_containers/kubedns-amd64:1.9`
[code]

[2017-04-29 15:18] liggitt commented on #45084
Yeah 1.6.0-alpha.0 is pre-1.5

The current image version 1.14.1, I think

[2017-04-29 16:12] jingxu97 opened #45143 "should prevent the deletion of a PVC that is referenced by an active pod"
The mount/unmount logic is controlled by creation/deletion of the pod. But PV/PVC is controlled by pv controller. As mentioned in issue #44297, in current design, after deleting PVC, the mount point was still exist on the Kubernetes node which the Pod was deployed and also the mount point could be seen from inside the Pod.And also if other Pod reuses the PV, then both old Pod and new Pod could acc

[2017-04-29 16:13] jingxu97 commented on #44297
I created an issue to track this #45143

[2017-04-29 16:18] jingxu97 commented on #43367
@chao007, I am not sure the workflow you described. I assume when you create 50 pods with ebs volume, your cluster was already up. "Ctrl-c the script local-up-cluster.sh" will this stop the cluster?
Also could you check with "kubectl get pods" to see whether all the pods still exist? You need to delete those pods to release the volume resources.

[2017-04-29 16:20] jchauncey commented on #44732
@jingxu97 I nuked the cluster yesterday but first thing Monday morning I'll get it fired back up and get it in the right state so you can get the logs.

[2017-04-29 16:24] jingxu97 commented on #42465
I plan to work on this feature, assign to myself.

[2017-04-29 16:27] vishh commented on #43504
The algorithm I was imagining is as follows:

1. Go through scheduling predicates to identify a list of viable nodes
2. Go through priority functions and get a list of nodes sorted by priority
3. Present this set of nodes to the dynamic provisioner and have the
provisioner choose a node based on priority
4. Scheduler completes the binding process if provisioning succeeded. It
might assign to a spe

[2017-04-29 16:30] jingxu97 commented on #42720
@eddytruyen, sorry for the late reply. Do you still have the issue? Could you share the kubelet log with us for further debugging? Thanks!

[2017-04-29 16:31] zetaab commented on #44985
you can use curator to clean logs older than x days https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/es-curator.yaml https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/es-curator-config.yaml

[2017-04-29 17:06] luxas opened #45144 "The APIService should be able to consume the CA from a ConfigMap"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):

HEAD

Currently, a typical APIService resource looks like this:
[code]

It would be much easier to maintain if the `caBundle` instead could point to a Secret inside of the cluster, like the `service` field.

I think we could add a new field `caSecretRef` that would optional

[2017-04-29 17:25] luxas opened #45145 "APIService Conditions should be set by the APIService controller"
**Kubernetes version** (use `kubectl version`):

HEAD

https://github.com/kubernetes/kubernetes/pull/43301 merged recently, and contained the API types for the Conditions an API Service can have.

These Conditions aren't used yet, but should/will be fixed in follow-up PRs.

The primary use-case for them AFAIU is to indicate whether:
a) The APIService Service is reachable and can be relied upon
b)

[2017-04-29 17:54] luxas commented on #43950
This was fixed with v1.6.2

[2017-04-29 17:54] #43950 closed

[2017-04-29 18:09] k8s-merge-robot opened #45146 "ci-kubernetes-e2e-gci-gke-reboot: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/4023/
Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all inbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33405

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot

[2017-04-29 18:24] cblecker commented on #44873
Commenting to link related issue: https://github.com/kubernetes/client-go/issues/78

[2017-04-29 18:25] JulienBalestra commented on #44663
@dragoschiplink the needed flags are:
[code]
You can have a look to https://github.com/JulienBalestra/enjoliver

We use it at [blablacar](https://blablacar.com) in our baremetal datacenters.
Hope it helps !

[2017-04-29 18:27] luxas opened #45147 "Add a `kubectl set serviceaccount` command"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):

HEAD

Now that RBAC is going to GA, using ServiceAccounts is getting more and more important.
Still a lot of users run their apps/addons/whatever in the `default` SA.

In order for the admin to be able to change ServiceAccount easily after an application has been installed

[2017-04-29 18:37] rickypai commented on #43632
Just posted the last PR to enable this feature: https://github.com/kubernetes/kubernetes/pull/45148

[2017-04-29 18:42] liggitt commented on #45144
It means the controller would need access to secrets, which I'm not thrilled about.

It also means the controller would need to join watch events from two resources, which makes the controller more complicated

[2017-04-29 19:10] JulienBalestra opened #45149 "rkt Pod looses the network"
**What keywords did you search in Kubernetes issues before filing this one?**
rkt netns

---

**Is this a BUG REPORT**

**Kubernetes version**:
1.5, 1.6, master

**Environment**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
[code]
CNI 0.5.2
- **Others**:

Kubelet setup:
[code]
The CNI configuration:
[code]

**What happened**:

If running

[2017-04-29 19:25] cmluciano commented on #44791
May be related https://github.com/kubernetes/kubernetes/pull/45124/files

[2017-04-29 19:30] davidopp commented on #43504
the pod cannot be scheduled. The scheduler should not be changing it's pod
spreading policy based on storage availability.

I'm not sure I understand this. It's important to distinguish between predicates (hard constraints) and priority functions (soft constraints/preferences). The scheduler spreading policy (assuming you're not talking about explicit requiredDuringScheduling anti-affinity) is the

[2017-04-29 19:42] liggitt commented on #44791
https://github.com/kubernetes/kubernetes/pull/45124 only affects the PV e2e tests, not this one

[2017-04-29 22:23] rcarcasses commented on #33664
If you are using jenkins a simpler way around is just to kill the pod:
[code]
also of course using ```imagePullPolicy: Always```...

[2017-04-29 23:28] rata commented on #23676
I've not tested this since kuberntes 1.2 (just use other monitoring tools), so closing as it might not be relevant anymore.

[2017-04-29 23:28] #23676 closed

[2017-04-30 00:29] olalonde commented on #44985
Thanks. I actually ended up writing something similar:

[code]

[2017-04-30 00:29] #44985 closed

[2017-04-30 01:35] shu-frank-csdn commented on #33544
I also hit this issues. have disabled SELINUX.
<python>
[certificates] Valid certificates and keys now exist in "/etc/kubernetes/pki"
[kubeconfig] Wrote KubeConfig file to disk: "/etc/kubernetes/admin.conf"
[kubeconfig] Wrote KubeConfig file to disk: "/etc/kubernetes/kubelet.conf"
[kubeconfig] Wrote KubeConfig file to disk: "/etc/kubernetes/controller-manager.conf"
[kubeconfig] Wrote KubeConfig fi

[2017-04-30 01:39] eugene-chow commented on #45084
Thanks! I presume this is a non-issue then.

[2017-04-30 01:39] #45084 closed

[2017-04-30 01:46] kargakis commented on #33664
Use of the full sha of the image is the best option IMO.

[2017-04-30 02:01] flx42 commented on #44834
@weiwei04 There are multiple things here.
- mknod permission is different than cgroup device whitelisting, you might be able to mknod a device file but not open it. See https://github.com/NVIDIA/nvidia-docker/issues/170
- It seems you are running your container as `privileged`, in this case all devices might be whitelisted. Look at the cgroup to check.

[2017-04-30 02:18] liggitt commented on #45137
I'm stumped... ran this in a loop for hours with race mode on and off, GOMAXPROCS set to 1 and 4, with the CPU idle and pegged with other tasks, and didn't see it flake once...

[2017-04-30 02:24] liggitt commented on #45137
oops, same fix as https://github.com/kubernetes/kubernetes/pull/44996, missed that there was a second test involving resource conflicts.

[2017-04-30 02:46] zihaoyu commented on #40442
@freehan we see the same problem on v1.6.2 on CoreOS:

[code]

We do not use CNI plugin, or kubenet. We use flannel and set docker daemon `--bip` flag.

[2017-04-30 03:47] adohe commented on #44812
imho, no such capsule design, should we add one for this? @smarterclayton

[2017-04-30 03:52] adohe commented on #38117
@frankgreco we did want implement this, but I am afraid we are not going to focus this on 1.7. We are working hard to move TPR to beta in 1.7

[2017-04-30 04:22] #45137 closed

[2017-04-30 04:25] silentred commented on #44752
Thanks @supereagle , I will close this issue.

[2017-04-30 04:25] #44752 closed

[2017-04-30 04:41] suyogbarve commented on #44992
Seems like "WarnWordSepNormalizeFunc" method only checks the "name" for presence of "_"

I tried isolating the problem with sample program below
Still trying to identify what is the correct way to ignore "args" and only validate flags

https://gist.github.com/suyogbarve/56692b9fed421718fdca0007a77a1175

go run echo.go echo times -t=2 --a_b=1 helloworld -- --x_y
Above program gives error for both -

[2017-04-30 05:14] parjong opened #45153 "Cannot create a container on an appropriate node (with kubectl run)"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: 1 linux/amd64 master + 2 linux/arm nodes
- **OS** (e.g. from /etc/os-release): ubuntu 16.04 (master) / hypriotOS 1.4.0 (node)

**What happened**:

When running ``kubectl run armhf --image=armv7/armhf-ubuntu --rm -it -- /bin/bash``, the scheduler attempts to create a container on

[2017-04-30 05:44] k82cn commented on #43670
@jcbsmpsn , are you going to do this one?

[2017-04-30 06:30] adohe commented on #24584
@chrislovecnm more specific info is weclome. :)

[2017-04-30 06:32] adohe commented on #11488
@kargakis you mean move `dry-run` server side?

[2017-04-30 06:35] liggitt commented on #24584
Closing as fixed in https://github.com/kubernetes/kubernetes/pull/41304

[2017-04-30 06:35] #24584 closed

[2017-04-30 06:45] adohe commented on #44347
@grosser one point I want to clarify, default argument of 10 is only used when a selector is specified, when you use logs with single pod(or single container), the default value may not be ok.

[2017-04-30 06:46] adohe commented on #44347
also please take a look at [docker logs](https://docs.docker.com/engine/reference/commandline/logs/).

[2017-04-30 07:36] mdshuai commented on #45076
@liggitt thanks

[2017-04-30 07:45] mdshuai commented on #45076
[code]

[2017-04-30 07:57] luxas commented on #45144
@liggitt Yeah, a ConfigMap makes more sense from the "grant-RBAC-privileges" perspective, a Secret was just the first thing I came to think of. That sounds good to me.

Would this be a blocker for making AA more user-friendly?

cc @jbeda

[2017-04-30 08:18] madhusudancs commented on #44018
Sounds reasonable to me. Go for it.

A couple of caveats:
1. No need to create a real list, you could just use the range boundaries.
2. Be careful about service creation failure. You need to check if the service shard creation failed in the underlying clusters and rollback all those shards before retrying.

[2017-04-30 08:19] xiechengsheng opened #45155 "scheduler and controller-manager shows that bind: address already in use"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
Keywords: bind: address already in use
Here is the similar issue: [port clash betwee

[2017-04-30 08:19] adohe commented on #7296
yes, we did need this. Assign it to me and will open a PR asap.

[2017-04-30 08:19] adohe commented on #7296
/assign @adohe

[2017-04-30 08:32] luxas opened #45156 "The --cloud-provider flag should be mandatory for the cloud-controller-manager"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

HEAD+https://github.com/kubernetes/kubernetes/pull/44258

When the `cloud-controller-manager` is deployed without the `--cloud-provider` flag it segfaults.
The cloud-controller-manager should just make the cloudprovider flag mandatory and crashloop without it to fix this.

Other

[2017-04-30 08:33] luxas commented on #45156
@wlan0 seems like I can't assign you this issue, but you'll fix this, right?

[2017-04-30 08:45] rcarcasses commented on #33664
@kargakis I agree

[2017-04-30 09:30] chandanmad commented on #45147
Is anyone working on this? If not I would like to take this up.

[2017-04-30 11:28] rachlenko commented on #11687
what the workaround for:
Error: release v1 failed: the server does not allow access to the requested resource (get namespaces default)
?

[2017-04-30 11:48] luxas commented on #45147
@chandanmad Nobody is working on this. I would be super happy if you could contribute this feature.
Be aware of that there isn't consensus around this proposal yet (I proposed it yesterday, saturday, so people haven't had time to catch up on it)

However, I do think that this is in line with [the rest of the proposal](https://github.com/kubernetes/kubernetes/issues/21648#issuecomment-250881311), s

[2017-04-30 11:52] k82cn commented on #45060
+1 on `pkg/api`; and it's better for `client-go` to include it for all related components.

/cc @lavalamp

[2017-04-30 12:20] randunel commented on #43211
This issue persists with

[code]

[2017-04-30 13:01] ahasnaini commented on #25257
Getting the same issue, I killed the node myself wanted to test how kubernetes reacts to it. For someone service become entirely unavailable even thou pods were running on other nodes.
Currently kubernetes doesn't work well at all with a node dying on aws atleast.

[2017-04-30 13:34] vagharsh commented on #44029
i have a CentOS 7 freshly installed i have updated the YUM repo and installed docker and k8s from the official guide i do a after creating these 3 pods
`kubectl create -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml`
`kubectl create -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml`
`kubectl create -f https://ra

[2017-04-30 14:42] dhilipkumars commented on #14512
@kargakis deferContainers are proposed to be Prestop so db-migration can be programmed easily using it.   If reasons for these hooks are towards 'better support for stateful apps' shouldnt we think of doing these in statefulsets instead?

[2017-04-30 14:52] dhilipkumars commented on #35183
Hi @bboreham, @tgraf , @cheburakshu, could you please take a look at this proposal and provide more feedback it appears to me that we could achieve these using  [deferContainers](https://github.com/kubernetes/community/pull/483), this will not only allow us to isolate termination scripts from the main image but also provide more guarantee and control than preStop hooks.

[2017-04-30 15:07] grosser commented on #44347
"--timestamps, -t" ... so to follow docker it should be a shorthand for
timestamps :(

On Sat, Apr 29, 2017 at 11:47 PM, TonyAdo <notifications@github.com> wrote:

[2017-04-30 15:48] xiangpengzhao commented on #45155
All the info you provided shows that kube-scheduler and kube-controller-manager have already been running as system services and binding 10251 & 10252. In such case, if you ran them in shell with the commands you provided, they would definitely fail with port conflict.

[2017-04-30 15:54] xiangpengzhao commented on #45155
There is no gremlin in your server. Don't worry, brother:)

[2017-04-30 16:01] xiangpengzhao commented on #45156
What if users run K8S in local servers without cloud provider?

[2017-04-30 16:22] luxas commented on #45156
@xiangpengzhao This won't affect normal users at all. Kubernetes can still be run on on-prem/bare-metal/cloud or whatever.

This is solely about factoring out the built-in cloudprovider code out of the kubernetes core repo (this repo).
It's a multistep process outlined in detail here: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cloud-provider-refactoring.md

T

[2017-04-30 16:38] xiangpengzhao commented on #45156
Thanks Lucas for explanation! What I thought was kube-controller-manager:)

[2017-04-30 17:29] ianchakeres commented on #40905
/assign

[2017-04-30 18:10] davidopp commented on #7296
Of course keep in mind that updating the ReplicaSet won't have any effect on pods that are already running.

[2017-04-30 21:06] kargakis commented on #14512
There are more reasons for hooks than db migrations, eg. image promotion. Although, if we have auto-pausing in the workload controllers (https://github.com/kubernetes/kubernetes/issues/11505), we can satisfy the use cases of this issue by programming hooks on top of the existing APIs.

[2017-04-30 21:14] mikefedyk commented on #25988
How much longer will CRI take before this issue is addressed?

[2017-04-30 22:02] bboreham commented on #35183
@dhillipkumars I couldn't see how that would allow me to know that the entire DaemonSet is being deleted.  Conversely I don't seem to need additional isolation.

[2017-04-30 22:25] yurishkuro commented on #26507
@gmarek Please take a look at these docs:
  * http://jaeger.readthedocs.io/en/latest/architecture/
  * http://jaeger.readthedocs.io/en/latest/deployment/

They are work in progress, please raise issues at https://github.com/uber/jaeger/issues if something is missing and you need it urgently (we plan to ship Docker images for all components soon).

[2017-04-30 22:35] ravisantoshgudimetla commented on #45060
I have been looking at the structure of code-base. Would it make sense to add fn's in pkg/util/taints.go. Following are the reasons that I have in my mind for this proposal.

- In pkg/api taints.go there is a TODO which states that they don't want helper functions in that package.
- Existing fn's already seemed to have used to them like parseTaints in kubectl/cmd/taints.go.

[2017-05-01 02:50] euank commented on #25988
This issue is both correct and out of date at the same time.

The rktnetes implementation living in-tree for this repository still doesn't support init containers. The CRI implementation (https://github.com/kubernetes-incubator/rktlet) does support init containers today, but isn't as well-tested and isn't in-tree/enabled by default yet.

The resolution for this issue is switching to the CRI rkt im

[2017-05-01 04:41] thockin commented on #44650
Nobody has jumped on this because it's not clear what sort of failure it actually is.  Given it is around Node reboot - Dawn do you have anyone who can start to chip away at it - even just to add logs?

[2017-05-01 05:00] vishh commented on #43504
It is possible that storage constraints might violate pod scheduling constraints. What if a statefulSet wants to use a storage class that is accessible only from a single zone, but the pods in that storageClass are expected to be spread across zones? I feel this is an invalid configuration and scheduling should fail. If the scheduler were to (incorrectly) notice that storage is available in only z

[2017-05-01 05:15] davidopp commented on #43504
There are two kinds of spreading: constraint/hard requirement (called requiredDuringScheduling) and preference/soft requirement (called preferredDuringScheduling). I was just saying that it's OK to violate the second kind due to storage.

I think it's hard to pin down exactly what "user expectations" are for priority functions. We have a weighting scheme but there are so many factors that unless y

[2017-05-01 05:25] vishh commented on #43504
Got it. If storage availability can be exposed in a portable manner across deployments, then it can definitely be a "soft constraint" as you mentioned. The easiest path forward now is that of performing dynamic provisioning of storage once a list of nodes is available.

Got it. I was referring to "hard constraints" specifically.

[2017-05-01 05:55] xiechengsheng commented on #45155
@xiangpengzhao Thanks~ I see. But how can I print the scheduler debug logs to the stdout? I want to midify the scheduler's source codes, so I **try to print some information to the stdout rather than to the log files** and use the commands to see the information:
[code]
But in this case, the stdout just prints the port conflicts message and shows nothing about my debug logs...I think **it is the p

[2017-05-01 08:17] lachgil commented on #43389
+1 for vargrant + libvirt

[2017-05-01 08:18] mub opened #45163 "Freshly installed kubectl on Windows refuses to run simple commands"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): a bug report could be classified as request for help, but primarily this is a **bug report** because this product does not behave as documented.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have

[2017-05-01 08:45] ajit-drag commented on #44841
If the above deployment is deprecated what you suggest for installation on ubuntu servers ?

[2017-05-01 09:03] fabriziopandini opened #45164 "Error on pre-commit Checking for federation openapi spec that need updating"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "Checking for federation openapi spec that need updating", pre-commit, hack/update-fe

[2017-05-01 12:05] deads2k commented on #45147
I'm in favor of this command.  @fabianofranz ?

[2017-05-01 12:14] dhilipkumars commented on #35183
@bboreham hmmm... you may probably need [this one](https://github.com/kubernetes/community/pull/541) too to precisely know why the pod is being brought down.

[2017-05-01 12:40] chandanmad commented on #45147
Thanks, I will start working on this.

[2017-05-01 14:00] fearphage commented on #19764
@debianmaster Care to share the official response that you found?

[2017-05-01 14:20] tanner-bruce commented on #11979
@schonfeld I'm curious if you had any luck with this? Unfortunately 1 year later we are experiencing the same problems with EBS volumes. Makes me wonder if the Persistent Volume API makes a ton of calls for EBS volumes.

As a side note, we are also having problems with terraform and even packer when running in the same account as our kubernetes cluster, which leads me to believe it is indeed the k

[2017-05-01 14:46] dragoschiplink commented on #44663
Thanks!

[2017-05-01 14:46] #44663 closed

[2017-05-01 15:57] deads2k opened #45170 "k8s.io/kubernetes/pkg/kubectl/cmd/util/openapi TestOpenapi 0.00s"
k8s.io/kubernetes/pkg/kubectl/cmd/util/openapi TestOpenapi 0.00s

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45167/pull-kubernetes-unit/28488/

What's weird is that it appear to be passing near as I can tell: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/45167/pull-kubernetes-unit/28488/artifacts/junit_a9308e5199d66c4eb1553a4ec233c5882b1bfb35_20170501

[2017-05-01 15:57] xiangpengzhao commented on #44841
@ajit-drag you can try kubeadm. See: https://kubernetes.io/docs/getting-started-guides/kubeadm/

[2017-05-01 16:03] benjigoldberg commented on #40724
I seem to be experiencing the same issue on my end. As @frankgreco pointed out above, the `kube-dns` pod gets an i/o timeout, but if I `curl` from the host machine (with the configured iptables) the connection succeeds.

[2017-05-01 16:04] jchauncey commented on #44732
@msau42 I just sent you an email. I could not find @jingxu97's email address so you can forward it to him too.

[2017-05-01 16:16] yujuhong commented on #43632
@rickypai could you add a node e2e test for this feature?

[2017-05-01 16:24] jingxu97 commented on #44732
my email is jinxu at google.com. Thanks!

Jing

On Mon, May 1, 2017 at 9:05 AM, Jonathan Chauncey <notifications@github.com>
wrote:

--
- Jing

[2017-05-01 16:28] copejon opened #45172 "PersistentVolume:NFS tests in Core CI"
PR #45101 _Mark PersistentVolumes as [Feature:Volumes]_ adds the `Feature` tag to NFS backed PV tests "so that we know that we need a cloud provider that supports volumes to run this test." As a local cluster created by `local-up-cluster.sh` is not tested in CI, is it actually appropriate to use `Feature` here?  Given that the core CI environments _do_ support these tests, my understanding is that

[2017-05-01 16:41] msau42 commented on #44790
Those two issues do not seem to impact the deletion of the namespace itself, so I don't think fixing those will solve this issue.

[2017-05-01 16:56] jfoy commented on #41916
We've observed this same failure behavior in AWS. Our architecture is as described above: kubelets connect to apiserver through an ELB discovered via Route 53 DNS.

The apiserver lost connections from the nodes coming through one ELB IP first, followed by those coming through the other IP about 25 seconds later; the nodes were marked NodeNotReady. The nodes were unable to reach the apiserver for 1

[2017-05-01 16:57] cblecker commented on #45164
/assign
/close

Thanks for the report @fabriziopandini. This is a known flake. We have another issue open to get it fixed.

Same issue as https://github.com/kubernetes/kubernetes/issues/44232

[2017-05-01 16:58] cblecker commented on #45164
/close

[2017-05-01 16:58] #45164 closed

[2017-05-01 16:59] cblecker commented on #44232
@kubernetes/sig-contributor-experience-bugs

[2017-05-01 17:00] ericln opened #45173 "SSL termination at ELB and internal communication over http on port 80"
This is what I would like to setup

**Would like to have**
External access `only` via https on 443 and ssl terminated at ELB and all the requests get routed to the internal services via http on port 80. Also, all the internal services communications are all over http port 80.

**What's happening right now**
With the following setup, it results in ELB with https on port 443 and aws cert setup corre

[2017-05-01 17:03] krousey commented on #36120
I thought the point was to not have generated JSON codecs and just use the standard JSON package. Are we still using JSON encoding in performance sensitive paths?

[2017-05-01 17:05] thockin commented on #36120
I don't think a massive perf regression is OK, if we can avoid it.  We can
eject ugorji if we want, but I might still offer my own thing :)

It's my 120% project.

On Mon, May 1, 2017 at 10:03 AM, krousey <notifications@github.com> wrote:

[2017-05-01 17:12] xiangpengzhao commented on #45153
If you want to create a regular pod and let it be scheduled to a linux/arm node (suppose it has label `arch=arm`), you can try this:
[code]

I don't have your image, but I simply try nginx with below command, it works.
[code]

Not sure how to specify `--overrides` when `--restart` is "OnFailure" or "Always". Maybe it's not complicated.

[2017-05-01 17:12] xiangpengzhao commented on #45153
@adohe Any other suggestions?

[2017-05-01 17:14] xiangpengzhao commented on #45153
/assign

[2017-05-01 17:14] eparis commented on #44992
We both wrote a test program. I don't see the problem with either....

[code]

[2017-05-01 17:15] xiangpengzhao commented on #45153
Oops :sweat_smile:

[2017-05-01 17:26] krousey commented on #36120
What do the metrics say the performance impact would be since we've moved storage, controllers, and nodes to proto?

The only thing I really ask is please don't implement this by generating methods on the types.

[2017-05-01 17:29] yujuhong commented on #45041
@ahawkins those error messages are expected *if* docker is not responsive.

Answering the questions in https://github.com/kubernetes/kubernetes/issues/45041#issuecomment-298057666 would help.

[2017-05-01 17:33] caesarxuchao commented on #36120
May i ask what the concerns are?

[2017-05-01 17:35] thockin commented on #36120
Why?  That's exactly how it is implemented and it is far cleaner than the
alternative.

On Mon, May 1, 2017 at 10:26 AM, krousey <notifications@github.com> wrote:

[2017-05-01 17:37] pwittrock commented on #45147
Is the SA on a Pod mutable or immutable?

What about DaemonSet and StatefulSet?  Do those have SA as well?

Is there a way to do this so that it dynamically supports anything with a PodTemplate?  Maybe this should be done as a subresource that can be dynamically discovered by kubectl using the discovery service.

[2017-05-01 17:37] suyogbarve commented on #44992
@eparis : Coincidentally my development environment was using older version of "github.com/spf13/cobra" and my tests also included warning for x_y
"x_y is DEPRECATED and will be removed in a future version. Use x-y instead."

After upgrading to latest "github.com/spf13/cobra" the warnings were gone (like your output)
I guess "https://github.com/kubernetes/kubernetes/tree/master/vendor/github.com/s

[2017-05-01 17:39] pwittrock commented on #45147
Maybe helpful:

[contributing instructions](https://github.com/kubernetes/community/blob/master/sig-cli/CONTRIBUTING.md)
[feature proposal template](https://raw.githubusercontent.com/kubernetes/community/master/contributors/design-proposals/sig-cli/template.md)

[2017-05-01 17:41] jfoy opened #45174 "Allow kubelet to set HTTP Keep-Alive client header for apiserver connections"
**Is this a request for help?**: No
**What keywords did you search in Kubernetes issues before filing this one?**: keep-alive kubelet

---
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature request for bug work-around :-)

See #41916 for background on the bug behavior; also #43516 and kubernetes-incubator/kube-aws#598 . In a nutshell:
- kubelets frequently access the apiserver via

[2017-05-01 17:43] liggitt commented on #45147
Pod is immutable. All the other objects (with the exception of stateful set) are mutable.

[2017-05-01 17:44] liggitt commented on #45147
That pattern is the same for all the things that set aspects of a pod spec (except image, which is also mutable in pods)

[2017-05-01 17:51] krousey commented on #36120
Basically there are a lot of hoops required to re-use `ObjectMeta` for third party types. This is an unfortunate combination of struct embedding plus method sets including the methods of embedded structs. Documented here https://github.com/kubernetes/client-go/issues/8. I don't know why that issue is closed. Last I checked, this is still an issue, with some rather verbose workarounds. If possible,

[2017-05-01 17:53] emaildanwilson commented on #15929
Closing this since it's incredibly old and there are completely different setup options now.

[2017-05-01 17:53] #15929 closed

[2017-05-01 18:04] mikedanese commented on #44650
I've seen this when test projects are misconfigured and masters are being deployed on top of each other. Can we make sure that these tests are running with a mutex and that two tests aren't using the same project?

[2017-05-01 18:09] xiang90 commented on #45037
@wojtek-t I tried to reproduce this issue with Kubernetes with a higher load (higher throughput, less pod size) than @mml's, and keep on snapshotting it every 5 minutes. I cannot really reproduce the unbounded database size issue.

The db size will grow to its max size before compaction and will not shrink without defrag, but that is normally OK.

Is it possible that k8s does use > 2GB data at som

[2017-05-01 18:10] eghobo commented on #37566
@smarterclayton: any ideas about timeframe (1.7, 1.8, etc)?

[2017-05-01 18:12] ahmetb commented on #27308
Hi folks, I have wrote a small program called [kubectx](https://github.com/ahmetb/kubectx) that lets me switch between multiple contexts saved in a single kubeconfig easily. I have `kubectx - ` command to switch between the current and the previous context. I can also create aliases for long context names and use shell completion on bash/zsh. I blogged about it [here](https://ahmet.im/blog/kubectx

[2017-05-01 18:14] jeffvance commented on #45172
cc @kubernetes/sig-storage-misc @kubernetes/sig-testing-bugs

[2017-05-01 18:16] dchen1107 commented on #44650
@thockin From my above triage, the root cause is pretty clear:

After the node reboot, the node is notReady due to NetworkPlugin;
Why? Because of lack of PodCIDR.
Why? Because node cannot register.
Why? Because the error: "x509: certificate signed by unknown authority"

Reboot test suites are a set of error-prone test suites by design, but most of failures last a couple of weeks are caused by the

[2017-05-01 18:33] thockin commented on #36120
I tried to read that but I don't understand the issue with methods.

On Mon, May 1, 2017 at 10:51 AM, krousey <notifications@github.com> wrote:

[2017-05-01 18:35] mikedanese commented on #23720
Should we expect that the group plugin will be called during a TokenReview and that the response will be used to populate the UserInfo returned?

[2017-05-01 18:37] thockin commented on #43632
Do we need e2e?  Every e2e is a liability, and slows down test runs - e2e
is needed if we can't cover in unit or integration.

On Mon, May 1, 2017 at 9:16 AM, Yu-Ju Hong <notifications@github.com> wrote:

[2017-05-01 18:42] msau42 commented on #45172
I guess if you don't have NFS configured on your local machine, then these tests will fail.  Can you detect if NFS is installed and skip the test otherwise?

[2017-05-01 18:48] krousey commented on #36120
In k8s code:
[code]

In third party code that doesn't run our code generation tools but just wants to reuse us like a normal library:

[code]

Workaround involves not embedding but rather naming the metadata and defining `GetObjectKind()`, `GetObjectMetadata()`, and `UnmarshalJSON()` (not sure if `MarshalJSON()` is required too). And do this all over again for the list type.

[2017-05-01 18:49] jayunit100 opened #45178 "Separate packages for kubelet and kubectl"
**FEATURE REQUEST**

As a kubernetes developer, I'd like it if the kubelet functionality  was separated into different packages, so as not to create large dependency debt if it is imported externally.

Overall there are roughly 10x more top level go files found in these classes then in the other typical top level packages in kuberentes... details below.

*** DETAILS ***
Several utilities are not i

[2017-05-01 18:52] yujuhong commented on #43632
Unit tests are great to ensure the individual functions work correctly, but so far it's not sufficient to prevent regression in our codebase from my experiences. Since this is a new addition/feature to the API, I'd prefer having a corresponding node e2e test.

Integration test can be sufficient, but I've not had any pleasant experience debugging integration tests. Maybe that has changed already?

[2017-05-01 18:55] thockin commented on #36120
Ah, interesting.  Yes, I see that.  Maybe we should not be embedding.  I
sort of argued this a long long time ago, but gave up.  It would be tedious
to fix but not impossible.

@sttts wrt deepcopy, too.

On Mon, May 1, 2017 at 11:48 AM, krousey <notifications@github.com> wrote:

[2017-05-01 18:55] jayunit100 commented on #45178
@kubernetes/sig-node-feature-requests @kubernetes/sig-cli-feature-requests

[2017-05-01 18:55] thockin commented on #43632
no, integrtaion tests are under-serviced tech-wise.

On Mon, May 1, 2017 at 11:52 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2017-05-01 18:57] copejon commented on #44656
That should be relatively easy.  See https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/volume_provisioning.go#L492.  The pattern creates 100 PVs but could easily be made to create Pods instead.

[2017-05-01 18:58] MrHohn commented on #44963
I made some mistakes. The iptables rules mentioned above seems to break the external source IP preservation mechanism:
[code]
The packet flow as below:
1. External client sends request to node's IP on nodePort.
2. Packet goes in node through eth0.
3. PREROUTING: Packet got DNAT to backend pod IP (default/wpfrontend).
4. FORWARD: Routing decision made to forward this packet to 'weave' bridge.
5. PO

[2017-05-01 19:01] krousey commented on #36120
@thockin Yea, as I was typing the workarounds, I thought... you know... That's how it should be anyway (at least for the Get* methods... having to write your own marshal and unmarshal is broken).

[2017-05-01 19:02] msau42 commented on #45172
To clarify, what I think should be done is:
1. NFS tests need to check if NFS Is installed.  If not, skip the test
2. Remove the [Features:Volumes] tag from the test.

I don't think whether it can always run on a local cluster should be a criteria for inclusion in the standard CI.  That's what the [Conformance] tag is supposed to be for.  But the test should be skipped if the environment cannot ru

[2017-05-01 19:04] yujuhong commented on #45178
Last time @pmorie split `kubelet.go` into multiple `kubelet_*.go` files, as the first step to a more modular kubelet. I don't think anyone has picked up the work after that.

[2017-05-01 19:13] justinsb commented on #44656
We have a multivolume stateful set test which I proposed a while ago, which could be made pretty similar to that.  https://github.com/kubernetes/kubernetes/pull/41180  and https://github.com/kubernetes/test-infra/pull/2402

The disruption is where I think it gets interesting.  But anything would be a good start @gnufied  :-)

[2017-05-01 19:18] jingxu97 commented on #44790
But I think delaying the deletion of a pod will affect the time to delete the namespace.

[2017-05-01 19:36] ericchiang commented on #23720
@mikedanese I was planning on writing a RequestAuthenticator wrapper similar to the way the `system:authenticated` groups get added. So yes, it should be passed along to the TokenReview registry.

[2017-05-01 19:38] copejon commented on #45172
Okay, I'll take a stab at detecting NFS support.

[2017-05-01 19:57] #43064 closed

[2017-05-01 20:33] pwittrock commented on #45178
@jayunit100

Is this something you are looking to pickup?

[2017-05-01 20:34] ericchiang opened #45183 "SubjectAccessReview and CertificateSigningRequest protobuf struct tags don't match json tags"
Noticed this after generating Go types from the protobuf files. SubjectAccessReviewSpec has "verb" instead of "user"[1]. CertificateSigningRequestSpec uses "keyUsages" instead of the JSON tag "usages"[2].

[code]

Since protobuf names aren't important, just the index, I think we can fix this with no comparability breaks for the wire format. cc @kubernetes/sig-api-machinery-bugs

P.S. here's the sc

[2017-05-01 20:44] calebamiles commented on #39334
any news, @dashpole?

[2017-05-01 21:12] quinton-hoole commented on #39986
@marun Yes, I think that it would be perfectly reasonable to support orderly "seccession" from a Federation, along the lines that you suggest.  For example, when deregistering a cluster from a federation (as one way of expressing "I no longer want this cluster to be part of this federation"), one might methodically remove all of the parent refs to objects in that federation.

[2017-05-01 21:12] yujuhong commented on #43632
@thockin does a simple node e2e test sound good to you?

[2017-05-01 21:12] quinton-hoole commented on #39986
Oops, sorry, closed by mistake (and re-opened).

[2017-05-01 21:14] perotinus opened #45185 "Federation e2e tests fail to run with error "flag provided but not defined: -cloud-config-file""
When running the Federation e2e tests locally with HEAD Kubernetes, e2e.go fails:

[code]

[2017-05-01 21:16] cedriclam commented on #44018
@madhusudancs thanks for the caveats, I will do soon a PR.

[2017-05-01 21:16] perotinus commented on #45185
cc @madhusudancs

[2017-05-01 21:23] quinton-hoole opened #45187 "Design Proposal: Federated Job: Cross-cluster task rebalancing"
Figure out how best to do task rebalancing across clusters for Federated Jobs.

See #36197 for background.

@jianhuiz leads this effort.  Assigning myself as proxy, as he is not part of the K8s org yet.

@kubernetes/sig-federation-feature-requests

[2017-05-01 21:27] quinton-hoole commented on #45187
From @jianhuiz

1. how to decide a re-balancing is needed (succeeded ==0 and failed >0? failed = 0 and active ==0 for a while?; active is far less than parallelism?; jobs on a cluster can succeed but significantly slower than other clusters)
2. how to make an efficient re-balance. should the succeeded count being considered when re-planning?

[2017-05-01 21:27] jkinkead opened #45188 "Adding a scheduler extender requires duplicating the full scheduler policy config"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No, although I might be misreading some code.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
scheduler extender

---

**Is this a BUG

[2017-05-01 21:34] nikhiljindal commented on #44932
cc @kubernetes/sig-api-machinery-misc @davidopp

[2017-05-01 21:45] timothysc commented on #44095
/cc @kensimon

[2017-05-01 21:48] thockin commented on #43632
SGTM

On Mon, May 1, 2017 at 2:12 PM, Yu-Ju Hong <notifications@github.com> wrote:

[2017-05-01 21:54] nikhiljindal opened #45189 "Should be able to restrict federation to specific namespaces"
Came up while discussing with @marun that federation controllers assume that they have access to all namespaces and watch resources on all namespaces ([example](https://github.com/kubernetes/kubernetes/blob/0df02517254bc59d26086bd350a5e457e1961933/federation/pkg/federation-controller/deployment/deploymentcontroller.go#L131))

It should be possible to restrict federation to only specific namespaces

[2017-05-01 21:56] nikhiljindal commented on #44743
@ericchiang Realized that restricting the federation credentials to specific namespaces wont work (controllers assume that they have access to all namespaces). Filed https://github.com/kubernetes/kubernetes/issues/45189 to fix that.

[2017-05-01 22:03] kokhang opened #45190 "Remove dependency on "rbd" tool for mapping and unmapping volumes in RBD volume plugin"
## Background:
Currently the RBD volume plugin shells out to `rbd` to map and unmap Ceph block volumes to the host. This creates a dependency on `rbd` and `ceph-common` to be installed on all the nodes.

In addition to this, RBD volume plugin shells out to `modprobe rbd` before mapping a volume. If this call results in an error, the mapping request fails.

Aside to `map` and `unmap`, the RBD plugi

[2017-05-01 22:03] gnufied opened #45191 "Terminated pods keep volumes attached to the node"
Currently in Kubernetes when a pod is terminated (but not deleted from api server), the volume - pod was using although is unmounted from node is still kept attached to the node.

This creates problems if user tries to create another pod using same PVC.

Currently kubelet has a flag called `--keep-terminated-pod-volumes` that can force the volume to be mounted on the node for terminated pods (the

[2017-05-01 22:07] dashpole commented on #39334
Oh, sorry.  I dont think ill be able to get to this soon.  For those affected, 1.5 and 1.6 both have the fix for this.  We can probably just close this.

[2017-05-01 22:08] csbell commented on #45189
Are we forced to go down a pessimistic route here? IOW, if we say that federation can only watch *some* namespaces, will we ever be able to use NamespacesAll?

[2017-05-01 22:19] freehan commented on #44702
do the nodes running `kube-proxy-k8s-3` and `kube-proxy-k8s-4` has 2 NICs?

what does `docker inspect` for the kube-proxys looks like?

[2017-05-01 22:27] kargakis commented on #37566
@eghobo daemonsets support rolling updates in the API since 1.6 and statefulsets are going to have it for 1.7 as per https://github.com/kubernetes/community/pull/503#issuecomment-298448147

[2017-05-01 22:29] nikhiljindal opened #45193 "Support federation specific fields in API"
This has come up many times.

Some options we have discussed:
* federation should define its own API rather than using kubernetes's API
* Try to generalize the federation fields so that they make sense to be added to kubernetes API
* Add an extension object that can be binded to a kubernetes object. The extension object will contain federation specific fields.

cc @kubernetes/sig-federation-featur

[2017-05-01 22:30] nikhiljindal commented on #45193
@perotinus is going to update his doc with more details: https://docs.google.com/document/d/1s0Tb3rtK0UTG7aMtA4jDus_8DV4B0KkGCSITL2vQunA

[2017-05-01 22:33] ericchiang commented on #45189
I think it's important that federation doesn't assume it has full access to the underlying clusters. Particularly for things like the secrets controller, I don't want to have to give the federated control plane the ability to dump all the secrets in all my clusters to use federation.

[2017-05-01 22:46] spxtr commented on #45170
[raw xml isn't helpful](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/45167/pull-kubernetes-unit/28488/artifacts/junit_a9308e5199d66c4eb1553a4ec233c5882b1bfb35_20170501-081912.xml)
[code]

[2017-05-01 22:46] madhusudancs commented on #44907
https://github.com/kubernetes/ingress/issues/645 was mostly about surfacing the hidden errors and turned out that was not sufficient to debug the issue.  It also turns out https://github.com/kubernetes/ingress/pull/652 wasn't sufficient to fix the underlying issue.

@nicksardo has a new hypothesis that explains the reason behind this bug at high loads pretty well. I am just writing down his hypoth

[2017-05-01 22:49] #44790 closed

[2017-05-01 22:55] kargakis commented on #45153
This can also be `kubectl run -o yaml --dry-run | kubectl set affinity [OPTIONS] - | kc apply -f -` assuming we have `set affinity` at some point.

[2017-05-01 22:57] kargakis commented on #45147
Statefulsets are going to loosen their validation soon I expect.

[2017-05-01 23:00] quinton-hoole commented on #44907
@madhusudancs @csbell @nicksardo

1. As far as I recall the cluster's GLBC's only share the same UID because the Federated Ingress Controller chooses one of their UID's (via the described leader election), and propagates it to the other clusters, hence I don't think that 2 above works?
2. Why not just fix the GLBC garbage collection logic.  It seems that's the root cause of the problem (i.e. GLBC

[2017-05-01 23:02] nicksardo commented on #39423
@MrHohn will be adding this as proposed: https://github.com/kubernetes/community/pull/552

[2017-05-01 23:21] madhusudancs commented on #44907
Federated Ingress unifies the UIDs using a leader election logic. My fault, I should have probably clarified that. UID unification will still continue to use the same logic. But that logic is not required for syncing Ingress objects and that's not required. Once the UIDs are unified, Ingress objects can be propagated.

We have talked about this and @csbell has some ideas around ref-counting but it

[2017-05-01 23:23] madhusudancs commented on #44907
@quinton-hoole also, any ideas around how to make that possible are welcome.

[2017-05-01 23:23] nicksardo commented on #44907
1. A UID will still be chosen and propagated to the other clusters - that's unavoidable. But this can happen well before any ingress objects are created. The UID is also being moved to the service controller so GCP internal and L7 LBs can share instance groups.

2.  Making the GLBC aware of other clusters would probably mean adding state to configmap or doing something really ugly like putting sta

[2017-05-01 23:24] earth2marsh commented on #44589
If you need guidance on how to use the name and/or logo of the OpenAPI Specification, there's a style guide here: https://github.com/OAI/OpenAPI-Style-Guide#the-specification-name-and-usage

[2017-05-01 23:30] quinton-hoole commented on #44907
@madhusudancs @csbell @nicksardo
Yes, a few ideas:

1. I don't know what you mean by "concurrency control of L7 resources" but I think at most all you need is optimistic concurrency (e.g. version ID's, like in Kubernetes), to prevent two API clients (in this case GLBC's) from trampling on each other.
2. Beyond that, I think it might be even easier than that, potentially.  Each GLBC can see what IP

[2017-05-01 23:38] quinton-hoole commented on #44907
@nicksardo @madhusudancs @csbell It's probably worth having an in-person discussion about this, as I really don't understand all the above arguments, and it will probably be quicker to resolve this with a quick discussion.  Call me any time on my cell if you need to.

[2017-05-01 23:47] k8s-merge-robot opened #45195 "Extract {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-updown/14345/
Failed: Extract {e2e.go}

[code]

Previous issues for this test: #42078 #42543 #42866 #43064

[2017-05-01 23:54] jingxu97 commented on #45191
I agree that in default case (--keep-terminated-pod-volumes is not set), only unmount volume while not detach seems not quite right. It causes some trouble when users try to use that volume for different pods.

But to fix this, we have to make sure if the flag --keep-terminated-pod-volumes is set, controller should not detach the volume. Since this flag is kubelet, we might need a separate flag fo

[2017-05-01 23:59] BrianGallew commented on #33554
Frankly, I don't see the reluctance to allowing this to be configurable per site (or better yet, per container).  "We're smart enough to solve this for everyone" is not realistic.  There are a number of assumptions in the SkyDNS design which, while undoubtedly true for the given developer's environment, is clearly *not* true for many of us who are trying to get work done, only to run into this iss

[2017-05-02 00:00] fejta opened #45196 "cmd/integration tests should produce junit results"
/assign @pwittrock @mengqiy
@kubernetes/sig-cli-misc

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5306?log#log
artifacts link shows that the `make test-cmd` command does not produce junit results: http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-test-go/5306/artifacts/

This prevents us from displaying on testgrid what is happening: https://

[2017-05-02 00:03] madhusudancs commented on #44907
That's what I mean. What are those version ID's that could be compared-and-swapped using GCP APIs?

I am not entirely sure what you mean here. Also, not sure what you mean by using a lock resource. Where would that be stored?

[2017-05-02 00:04] ncdc commented on #45191
Isn't that flag only to indicate you don't want emptyDir-based volumes
deleted as soon as the pod terminates? I wouldn't expect it to have any
bearing on attached volumes. Right?

On Mon, May 1, 2017 at 7:55 PM Jing Xu <notifications@github.com> wrote:

[2017-05-02 00:11] jingxu97 commented on #45191
We don't differentiate what type of volumes for this. Even for attached volumes, if the flag is set, it will not perform unmount for the volume.

[2017-05-02 00:12] nicksardo commented on #44907
@quinton-hoole
The ingress GC logic will be changing and get smarter - that's a given. Given that there are 7 different types of resources and the introduction of the service-controller sharing resources with the GLBC (same region), these changes may or may not be trivial. The first priority will be to decrease the frequency of GC - it's achievable and most likely make this a non-issue.

My second

[2017-05-02 00:26] mappedinn commented on #44377
Sorry @copejon for answering you late

Really I don't know why. This is the error I am getting if I am using `exports`

**MountVolume.SetUp failed for volume "kubernetes.io/nfs/2736fdad-2ecc-11e7-99e0-42010af00037-nfs" (spec.Name: "nfs") pod "2736fdad-2ecc-11e7-99e0-42010af00037" (UID: "2736fdad-2ecc-11e7-99e0-42010af00037") with: mount failed: exit status 32 Mounting command: /home/kubernetes/bin

[2017-05-02 00:26] fejta opened #45198 "multizone suites are failing to start clusters"
Failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html#ea6679417165f10786e6
Example run:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/6060#teardown-previous
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-ha-master/5666#teardown-previous

/assign @madhusudancs

[2017-05-02 00:47] adohe commented on #45147
This sounds good to me. @chandanmad just go ahead, I will help review this. Thanks ~

[2017-05-02 01:03] wlan0 commented on #45156
Thanks for reporting this @luxas - I've added a commit in this PR (https://github.com/kubernetes/kubernetes/issues/44258) itself to fix this.

[2017-05-02 01:04] wlan0 commented on #44975
Well I'm writing the test, and building the cloud-controller-manager. This is going into the sig-cluster-ops SIG I think. @luxas?

[2017-05-02 01:06] nicksardo commented on #40778
/assign @MrHohn

[2017-05-02 01:23] justinsb opened #45202 "StatefulSet tests need to be updated for 1.6 annotations"
e.g. https://github.com/kubernetes/kubernetes/blob/master/test/e2e/testing-manifests/statefulset/zookeeper/statefulset.yaml#L13

As @kow3ns pointed out here https://github.com/kubernetes/kubernetes/pull/41180#discussion_r114213102:

[2017-05-02 01:28] shenlanse commented on #44887
@timothysc these logs are from k8s1.3,  sorry for not notice the change in k8s1.6.

[2017-05-02 01:30] Rev1408 commented on #24903
@benmcp I am on minikube, and I have the same problem, i tried to run  kubectl run some-node-proj --image=my-awesome-local-image:v1 --image-pull-policy=IfNotPresent

docker images
REPOSITORY                             TAG                 IMAGE ID            CREATED             SIZE
nginx                                  latest              46102226f2fd        6 days ago          109 MB
alpine

[2017-05-02 01:56] eparis commented on #45191
I think I totally agree with @jingxu97.

If the flag is set we should keep the volume mounted (and obviously attached)
If the flag is not set we should unmount the volume and detach it.

The hard part, I guess, is making that a reality.

[2017-05-02 02:11] msau42 commented on #45191
It will be especially difficult in upgrade scenarios, where your master and nodes can be different versions.

[2017-05-02 02:13] k8s-merge-robot opened #45204 "[k8s.io] Cluster level logging using GCL [Feature:StackdriverLogging] should create a constant load with short-living pods and ensure logs delivery {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-sd-logging/236/
Failed: [k8s.io] Cluster level logging using GCL [Feature:StackdriverLogging] should create a constant load with short-living pods and ensure logs delivery {Kubernetes e2e suite}

[code]

[2017-05-02 02:18] eparis commented on #45191
Old Master, New Node: nothing will change. Same situation as today. No big deal.
New Master, Old Node: You will get the behavior expected from the new master. Worst that could happen (but we can make sure it doesn't) is that the master tries to detach while the volume is still mounted. Such a detach should just fail.

So long as the master waits until the unmount is finished to request a detach th

[2017-05-02 02:54] jingxu97 commented on #45191
In master controller, there is a force detach logic. After timeout of 6
minutes, controller will detach no matter whether it is mounted or now.
We've been thinking about increasing the timeout. But still detach might
happen while volume is still mounted. If we complete remove this force
detach logic, we are afraid of detaching never happened in case of kubelet
not responsive.

On Mon, May 1, 2017

[2017-05-02 02:58] feiskyer opened #45206 "Unit test for pkg/kubelet/remote"
There is no unit tests for pkg/kubelet/remote. We should add a fake runtime and add unit tests for the package.

[2017-05-02 03:06] fejta commented on #45198
/assign @mikedanese

[2017-05-02 03:32] linuxpython opened #45207 "Failed to list *api.Secret: Get https://localhost:443/api/v1/secrets?resourceVersion=0"
centos:7.3
kubernetes:1.6.1

kube-apiserver.log
[code]
apiserver-config
[code]
systemctl unit
[code]

[2017-05-02 04:12] madhusudancs commented on #45198
/assign @justinsb

@justinsb could you please take a look? GCE multizone teardown is failing. You are the resident expert ;-)

[2017-05-02 04:26] gnufied commented on #45191
So the main concern I hear is - without the flag being set, the controller may try to detach a terminated pod after 6 minutes timeout, regardless of volume is unmounted on node or not.  It should be noted that, detach on AWS will fail if volume is mounted. I think GCE allows detach of volumes, even if it is mounted on a node.

But that behavior of detach on terminate is not so much different from

[2017-05-02 05:02] ahawkins commented on #45041
Yes the images themselves are fine. Occasionally the usually start and run just fine. This issue seems to happen _after_ they are created.

No

Yes all commands like `docker ps` or `docker images` hang for a long time.

All check into `dmesg`. This has happened again this weekend. It's happening daily like clock work at this point on _one_ node.

[2017-05-02 05:11] caesarxuchao opened #45209 "patch tests shouldn't depend on client-go/pkg/api"
This [test file](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest_test.go) tests if apiserver handles strategicMergePatch correctly. It uses client-go/pkg/api.Scheme as converter, defaulter etc, and it assumes the client-go/pkg/api.Scheme knows the internal types, which is true for now, but in fact, client-go shouldn't import the interna

[2017-05-02 05:12] ahawkins commented on #45041
@yujuhong I'll check in `dmesg` if it happens again.

[2017-05-02 05:17] krmayankk commented on #37566
@kargakis @kow3ns  for statefulsets, are we saying client side rolling update using kubectl will land in 1.7 ?

[2017-05-02 05:26] jarpy commented on #30120
Thank you for picking this up again. It would be hugely beneficial to the Elasticsearch, Kibana and Logstash images.

[2017-05-02 05:28] madhusudancs commented on #45185
@perotinus I pulled the latest master

[code]

I couldn't reproduce this. May be try pulling the master now? Also, did you run make clean before building the binaries again?

[2017-05-02 05:30] ddysher commented on #17470
continuing @starsdeep 's experiment, but it works both in container and in host (only one host). Is there anything specific in your network environment @starsdeep ?

[code]

To use dr mode, I'v created another dummy interface in pod as well...

[code]

Just a quick and dirty experiment.

Also, links from @guybrush are outdated, repost here
http://youtu.be/4-pawkiazEg (huawei)
http://youtu.be/KJ-A8

[2017-05-02 05:39] caesarxuchao opened #45210 "metrics API shouldn't depend on client-go/pkg/api"
client-go/pkg/api will be removed in a coming refactor. Internal types (i.e, pkg/api/types.go) will only exist in k8s.io/kubernetes.

However, the [internal metrics API](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/metrics/pkg/apis) depends on api.ResourceList and api.ObjectReference. @DirectXMan12 why does the metrics API need an internal version? Can we just remove the

[2017-05-02 05:42] k8s-merge-robot opened #45211 "[k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1044/
Failed: [k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover {Kubernetes e2e suite}

[code]

Previous issues for this test: #26744 #26929 #38552

[2017-05-02 06:02] luxas commented on #44975
sig-cluster-lifecycle last time we talked ;)
Yeah, SGTM.

@fejta Of course not! That wasn't our intention ;) Don't know why the bot tagged this with sig/testing. However, it may be beneficial that you know about this effort anyway.

[2017-05-02 06:03] fejta commented on #44975
Agreed, thanks for the heads up :)

[2017-05-02 06:04] luxas commented on #44975
And if there was a sig-cloud (which @thockin talked briefly about in another thread), this work would belong to that sig

[2017-05-02 06:07] anteyk commented on #44200
Hi team, sorry for delay.
Kernel version is
[code]

[2017-05-02 06:40] wojtek-t commented on #28590
We already have benchmark (though I'm not sure how good it is).

We have a goal of 100pods/s for the end of year. Though it needs to work for 5000-node clusters (I believe we are already there for small enough clusters, if we bump qps limits).

[2017-05-02 06:41] murhum1 opened #45213 "BUG: Memory-limited jobs with a resource quota that initially don't have enough resources stay in queue almost forever"
**What keywords did you search in Kubernetes issues before filing this one?**
Job, resourcequota, scheduler

- **Kubernetes version** (use `kubectl version`):

    Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:44:38Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/am

[2017-05-02 06:42] tsmetana commented on #44172
I don't have that strong preference for the two-object model as it may seem. I originally proposed one object model too. The two object model emerged from the upstream discussion for the reasons I have mentioned earlier: mostly it looks to be less limiting for future development.

This I believe is the important point: The two-object model is unnecessary in most cases. However the data replication

[2017-05-02 06:54] gyliu513 opened #45214 "Kubernetes build failed with go1.7.4 on ubuntu 16.04"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-05-02 07:07] ahawkins commented on #45092
Yes

[2017-05-02 07:08] ahawkins commented on #40846
@smarterclayton Thanks for your time and effort :bow: ❤️

[2017-05-02 07:10] nvartolomei commented on #44812
What does "capsule design" mean?

[2017-05-02 07:15] gyliu513 commented on #45214
/cc @mikedanese are you using go1.8? https://github.com/kubernetes/apiserver/commit/aab2f083cf42954f16bad707ff263d2ea13b2ca3

[2017-05-02 07:16] yaxinlx opened #45215 "no need to close eventCh channel in threshold_notifier_linux.go"
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/threshold_notifier_linux.go#L114

close it may make kubelet crash, though the possibility is small.
keep it open is just ok.
And to avoid getThresholdEvents blocked for ever, stopCh should be passed in it.

[code]

[2017-05-02 07:20] wojtek-t opened #45216 "Upgrade to Go 1.8. resulted in significant performance regression"
Since:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/394
kubemark-scale started consistently failing.

It seems that some metrics are a bit higher (though this doesn't seem to be the problem).

The main problem is that now all the runs are timing out. I looked into logs from few runs and the pattern seems to be exactly the same in all of them:

-

[2017-05-02 07:22] gyliu513 commented on #45214
When upgrade go to 1.8, got the following error

[code]

[2017-05-02 07:30] wojtek-t commented on #36120
There shouldn't be any visible drop. Basically, the only objects that would require more work after removing ugorji (assuming that you're using protobufs for communication between components and for storage format, which are both default now) would be requests coming from users, kubectl and stuff like that. There shouldn't be that much of this stuff, but performance of those can drop.

[2017-05-02 07:37] gyliu513 commented on #45214
Got a solution from https://github.com/golang/go/issues/19143

In case some else will have the same issue:

To remove an existing Go installation from your system delete the go directory. This is usually /usr/local/go under Linux, Mac OS X, and FreeBSD or c:\Go under Windows.

[2017-05-02 07:37] #45214 closed

[2017-05-02 08:07] wojtek-t commented on #45037
Yes agree. This is fine.

I'm trying to look into logs, but so far didn't get anything useful I can share.
I think that it had to be some special kind of workload, because the cluster was pretty small (less than 10 nodes) and there wasn't that much happening there.

[2017-05-02 08:17] ArchiFleKs commented on #45106
I just tested with latest CoreOS alpha 1395 which has etcd 3.1.6 and volume deletion is working

[2017-05-02 08:26] xiangpengzhao commented on #45155
If you want to run scheduler manually using the binary you compiled, you HAVE to stop the already running kube-scheduler.service, otherwise port will conflict.  (as you mentioned `But when I stopped the scheduler service or controller-service, the port conflict messages disappeared`) That means the running kube-scheduler has already bound 10251. You cannot run another kube-scheduler which will try

[2017-05-02 08:38] wojtek-t commented on #45037
I looked also into etcd logs and I don't see anything suspicious there over those 2 hours. The logs look exactly the same as they look in all other clusters.

[2017-05-02 08:40] tacy commented on #44994
@gastzars  upgrade kubectl to v1.6.1

[2017-05-02 08:48] shenlanse opened #45220 "Scheduler schedules pod to node which has not enough resources"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
maybe a bug or a point we can improve

---

**Kubernetes version** (use `kubectl version`):
k8s1.3.5. I think it still exist in 1.6

---

**What happened**:
when **restart** kube-scheduler component, kube-scheduler schedules pod to node which has not enough resources. So this pod is set Falied **by kubelet**.

---

**What you expected to h

[2017-05-02 08:48] parjong commented on #45153
@xiangpengzhao Thank you for answer. ``kubectl run armhf --image=armv7/armhf-ubuntu --restart=Never --overrides='{ "apiVersion": "v1", "spec": { "nodeSelector": { "beta.kubernetes.io/arch": "arm" } } }' --rm -it -- /bin/bash`` works well!

[2017-05-02 08:48] #45153 closed

[2017-05-02 09:09] shenlanse commented on #45220
@timothysc @brendandburns

[2017-05-02 09:09] aachuthan commented on #45041
We ran into a similar issue on a 4 Node cluster on AWS
OS Image:  Debian GNU/Linux 8 (jessie)
Container Runtime Version: docker://1.11.2
Kubelet Version: v1.5.6

The pods in one of the nodes were getting killed/re-started quite often with the reason "Completed". We also found the kube-dns pod  running out of that node has re-started 20+ times. We had to set-up  a new cludter to fix this issue. The

[2017-05-02 09:12] xiechengsheng commented on #45155
@xiangpengzhao
1. Wonderful, it works~ But the stdout later shows the message:
[code]
2. And if I want to print the debug logs to the stdout the second time, the stdout will just show the lock message and won't show my debug logs...
3. By the way, everything will work well if I print the debug logs to the log file...
4. So finally I still choose the log file to debug... That seems to be more stabl

[2017-05-02 09:18] shenlanse commented on #41956
Same with [42232](https://github.com/kubernetes/kubernetes/pull/42232)

[2017-05-02 09:18] #41956 closed

[2017-05-02 09:19] kargakis commented on #37566
@krmayankk it's going to be server-side. I've linked the proposal above, please have a look.

[2017-05-02 09:22] wojtek-t commented on #45037
I also looked into apiserver logs, and didn't find anything super strange. In particular, there weren't many deletions in the meantime, so the size of DB shouldn't shrink during that time when we grown DB.

@xiang90 - is there any tool that I can potentially use to inspect what is using that space in the etcd snapshot file?

[2017-05-02 09:47] edevil commented on #43516
Is anyone looking into this issue? I've since upgraded to 1.6.2 and the problem remains. This is an example night for my nodes:

[code]

Since it seems this issue is affecting a small number of people, maybe it is related to the Azure cloud provider I'm using. Today I saw this message in the logs:

[code]

This is just a theory, but can the node status goroutine that has the job of periodically re

[2017-05-02 09:57] k82cn commented on #45220
@kubernetes/sig-scheduling-misc

Used to meeting similar issue; not sure why we did not have sync when scheduler start up.

[2017-05-02 10:13] kargakis opened #45223 "kubectl set image --local is not really local"
[code]
It tries to contact the api server for the discovery docs and fails because no api server is running. Could `kubectl` first look in its local cache if it's passed --local?

@kubernetes/sig-cli-bugs

[2017-05-02 10:42] kargakis commented on #7296
Only ReplicaSets have this limitation.

On Sun, Apr 30, 2017 at 8:10 PM, David Oppenheimer <notifications@github.com

[2017-05-02 10:49] ajit-drag commented on #44841
But according to above link is only for Ubuntu 16.04+, I want a solution for ubuntu 14.04+. Will above installation work for ubuntu 14.04?

[2017-05-02 11:20] gg7 commented on #16967
Is this actually fixed? I'm running 1.5.7 on bare metal and I'm having the same issue:

[code]

[2017-05-02 11:23] Rev1408 opened #45226 "On Minikube pause image is always pulled from internet and proxy setting doesn't work"
I am using Minikube, my server is behind a proxy, this is my pod yaml file

[code]
I pre downloaded the nginx and pause images

[code]

But still starting the pods fails, my pods are always in 'ContainerCreating' status and this is the error in the events, looks like its trying to pull pause image from internet, even though i specified imagePullPolicy: Never in my yaml file, but i specified it for

[2017-05-02 11:25] edevil commented on #39162
make cross on release-1.6 also fails:

[code]

[2017-05-02 11:47] deads2k commented on #45209
You could create your own local scheme.

[2017-05-02 11:54] ddysher commented on #2210
@enisoc seems kubectl still only uses selector to find matching pods, result in confusing outputs

[code]

It reports three running pods (another one being managed via another controller with the same selector), should we add more option while listing?

[code]

[2017-05-02 11:55] pmichali commented on #44848
Some questions I have on this...

- Do we need/want the ability to enforce an ordering of IP address selection (e.g. IPv4 over IPv6) vs just first global IP found?

- If ordered, do we need/want to apply that for all interfaces (e.g. check all interfaces for IPv4, then check all for IPv6) or on a per interface basis (e.g. check IPv4 and then IPv6 on first interface, then do same on next, etc)?

-

[2017-05-02 12:00] francobellagamba commented on #31615
This same issue is present in the Rackspace CP.

[2017-05-02 12:02] wojtek-t opened #45228 "Evaluate using FlatBuffers as additional media type in the API (next to json and protobufs)"
Currently, Kubernetes supports to different formats of data (both for communication at the API level and as a storage type):
- JSON
- protobufs

We introduced protobufs for performance reasons and they solved a lot of our problems.

If at some point it will appear that protobufs are not enough, we may consider evaluating FlatBuffer:
https://google.github.io/flatbuffers/index.html

According to the

[2017-05-02 12:02] wojtek-t commented on #45228
But I don't think it's something that we should do now.

[2017-05-02 12:11] Rev1408 commented on #7332
on a Minikube there is no kubelet, how do we pass this option pod-infra-container-image

[2017-05-02 12:16] m1093782566 commented on #17470
@ddysher

I assume need at least 2 hosts, and visit container(in the next host) from host via vip.

[2017-05-02 12:18] szuecs commented on #26670
@cbluth I think @prakash1991 manually modified the SG, which can be done as a workaround, because no one is resetting the SG. A simple manual delete works, but is not a solution for Kubernetes.

[2017-05-02 12:33] sttts commented on #45209
@deads2k compare the linked PR, not green yet, but implements that.

[2017-05-02 12:37] #44732 closed

[2017-05-02 12:38] deads2k commented on #45209
Ah, great minds :)

[2017-05-02 12:40] weiwei04 commented on #44834
@flx42  thanks, after I removed privileged, the GPU devices can be isolated as expected. According to k8s docs(https://kubernetes.io/docs/concepts/workloads/pods/pod/#privileged-mode-for-pod-containers), privileged container will see all the host devices.

cc @cmluciano

[2017-05-02 12:40] #44834 closed

[2017-05-02 12:46] #30201 closed

[2017-05-02 12:46] pmichali commented on #44848
Just a note... the original code, while specific to IPv4, will look for interfaces that have a default route, and then accept the first global IPv4 address. This may not be the interface from the default route.

[2017-05-02 13:16] yan234280533 opened #45229 "The doc in kubernetes.io : --sync-frequency duration Max period between synchronizing running containers and config (default 1m0s) is looks like an error"
The doc in  kubernetes.io : --sync-frequency duration  Max period between synchronizing running containers and config (default 1m0s) is looks like an error:

The url is : https://kubernetes.io/docs/admin/kubelet/

and the --sync-frequency duration  is explain：

--sync-frequency duration  Max period between synchronizing running containers and config (default 1m0s)

is an error ?

[2017-05-02 13:33] #45229 closed

[2017-05-02 14:05] eduardobaitello commented on #13051
Any news about this?

[2017-05-02 14:21] szuecs commented on #26670
For the record, you could use the following configuration change to fix your "Too many ELBs: RulesPerSecurityGroupLimitExceeded" issue:

https://github.com/zalando-incubator/kubernetes-on-aws/pull/390/files

DISCLAIMER: we do not use it in production yet, so please make sure you understand the change and test it.

[2017-05-02 14:27] crassirostris commented on #13051
@eduardobaitello There's a [memory limit of 200MB](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-ds.yaml#L33) set up for fluentd-elasticsearch currently. Unfortunately, huge memory consumption is a known issue of the fluentd. As one of the possible solutions I can recommend taking a look at fluentbit and its [kubernetes installation](https://g

[2017-05-02 14:28] #13051 closed

[2017-05-02 14:37] xiangpengzhao commented on #43556
I run `iptables -P FORWARD ACCEPT` to enable forward but integration tests still fail. I'm totally confused.

[2017-05-02 14:46] eduardobaitello commented on #13051
@crassirostris thanks for the quick feedback.

My question was due to Elastic Search memory usage, which is [unlimited](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/es-controller.yaml#L28) at this time, and using about 2GB RAM in my environment.

There is a recommendation for this setting?

[2017-05-02 14:59] ddysher commented on #17470
@m1093782566 yeah, i'd think so but haven't had time to look at it yet.

I'm playing with a single host since @starsdeep only uses `vagrant@master`

[2017-05-02 15:00] crassirostris commented on #13051
@eduardobaitello Oh, sorry, I didn't look into the question properly!

We don't have an expertise in Elasticsearch installation, so I don't feel like recommending something. I would suggesting taking a look into existing deployments: https://github.com/fabric8io/elasticsearch-cloud-kubernetes or https://github.com/pires/docker-elasticsearch-kubernetes. Quick glance shows that they don't set Kubern

[2017-05-02 15:06] jayunit100 commented on #45178
Sure ill grab it.

[2017-05-02 15:07] jayunit100 commented on #45178
/assign @jayunit100

[2017-05-02 15:07] adohe commented on #45223
I think `local` here has similar meaning as `dry-run`, it will not contact api-server to do real patch, but it will fetch the resource from api-server. What you mean look in it's local cache? to find the resource in local cache? I think you have specified the resource in your command line.

[2017-05-02 15:30] tacy commented on #44723
@Slahser busybox don't support `search` in `resolv.conf` , you can use `busybox musl`

[2017-05-02 15:38] tacy commented on #44723
Not resolving using search domain gliderlabs/docker-alpine#8

[2017-05-02 15:40] DirectXMan12 commented on #45210
I figured the internal metrics API should use an internal version of other API objects.  Is that not the case?  What's the recommended pattern for cross-API-group usage, if any?

[2017-05-02 15:53] urzds commented on #22179
Do `PodSecurityPolicy`s solve this?  Their [documentation](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#supplementalgroups) vaguely describes a "range", where the first value in the range shall be "the default" (I assume for the effective GID?). Sadly there is no actual example of how this looks like and the [proposal](https://github.com/kubernetes/community/blob/master/contribu

[2017-05-02 16:08] jheiss commented on #22179
@urzds Supplemental groups are different from primary GID. You can specify supplemental groups in the pod/container security context, and similarly apply policy about them through PSP. Neither the security context nor PSP currently supports specifying anything about primary GID. It is currently always GID 0.

[2017-05-02 16:10] jheiss commented on #22179
By the way, an example of what supplemental groups policy looks like in PSP is:

[code]

[2017-05-02 16:16] jheiss commented on #22179
I hadn't noticed before now but your comment about a default prompted me to check and indeed the first GID in the supplemental groups PSP policy does end up added as a supplemental group to the running pod by default. So using my example you end up with a container running with primary GID 0 and GID 10000 as a supplemental group. Which is rather strange, but probably a discussion for another ticke

[2017-05-02 16:18] caesarxuchao commented on #45210
It is. But does the metrics API need an internal version?

[2017-05-02 16:19] copejon commented on #45172
In testing against a hyperkube cluster built by `local-up-cluster.sh`, I'm unable to produce errors mentioned in the PR above.  All PersistentVolumes:NFS tests pass without issue.

@dims Can you provide some details about your test environment? Which OS?  Is NFS installed / running?  Do you have log data for the errors?

[2017-05-02 16:31] jsravn commented on #41916
Okay, another update.

Switching to DNS does *not* help for this issue. We just had another production issue with kube-proxy being an hour (!!!!) out of date, then finally getting the `streamwatcher.go:103] Unexpected EOF during watch stream event decoding: unexpected EOF` message before updating. This caused our endpoints to be out of date and requests were failing.

This is pretty bad, needless

[2017-05-02 16:34] discordianfish commented on #43515
I also just ran into such timeout issue:

After running a load test against my postgres backed web application, the database didn't respond anymore for still unknown reasons. According to kubernetes it was up and running

[code]
The log showed a bunch of these messages. Not sure yet why but possibly it couldn't access the volume anymore:

[code]

Short after that, the pod entered "error" state: ht

[2017-05-02 16:39] urzds commented on #22179
Thanks for the example and the explanation. Maybe this should be added to the documentation? In case you don't want to submit a PR, do you allow someone else to quote you on this?

[2017-05-02 16:41] redbaron commented on #41916
and if it is `SIGKILL`ed then Linux kernel will send RST packet on any incoming packet coming from kubelet, which would immediately trigger closed connection on kubelet side

[2017-05-02 16:42] jagosan commented on #45228
For posterity, [nanopb](https://github.com/nanopb/nanopb) and [CBOR](http://cbor.io/) are other options with similar properties.  Protocol translation & support is risky and ought not to be undertaken lightly :)

[2017-05-02 16:45] jsravn commented on #41916
@redbaron That doesn't help with kubelet and kube-proxy, which send no data. They do a long poll and just sit blocked on a read. apiserver needs to send the FIN otherwise those connections just hang until kubelet/kube-proxy try to resync or whatever.

[2017-05-02 16:48] jsravn commented on #41916
It's possible that tuning your OS tcp keepalive settings might help mitigate this, but something is wrong w/ apiserver I think - or at least with the docker container of it.

[2017-05-02 16:50] cantbewong commented on #44172
I question whether _scheduled_ create or delete should be in the API. Once you enable snapshots to be created by API, you can implement scheduled snapshots, including _periodically_ scheduled snapshots. SO I don't think this level of detail needs to be, or should be called out unless you propose that the scheduled snap mechanism is part of Kubernetes itself, which I do not think is a requirement,

[2017-05-02 16:58] kargakis commented on #45202
@kubernetes/sig-apps-misc

[2017-05-02 17:01] bamarni commented on #32536
@Random-Liu

Is it to be done within the https://github.com/kubernetes/test-infra repository? I can give it a shot if no one is working on it.

[2017-05-02 17:07] jeffvance commented on #44172
@cantbewong wrote: _Common use cases exist for creating a volume from a snapshot long after the original snapshot was created. If as a developer you decide you want to do this, I think finding the functionality in something labeled SnapshotRequest is unexpected_
I agree re. naming.

[2017-05-02 17:09] DreadPirateShawn commented on #42735
@freehan So -- ignoring the sidebar issue @aespinosa had, what's the next step here? Is it to fix the small race window between pod status and cni execution?

(I'm not in a rush, just clarifying what to expect.)

[2017-05-02 17:32] jkemp101 opened #45234 "Improve service's node selection for load balancers"
There have been a number of issues/PRs to adjust the service controller's behavior with respect to the nodes it selects to add to a LoadBalancer.  Many of these issues have focused on keeping the masters out of the load balancers which was an important first step.  However, there are other use cases that are still not met with the current functionality.

Current issues:
* Clusters with varying nod

[2017-05-02 17:33] jkemp101 commented on #45234
Trying to consolidate discussions on how to improve what nodes are used by load balancers.  Above is my first cut of how it could work.  Would love to flesh this out and get it as a priority.  I have to implement some significant workarounds to deal with these issues.  I would think this would impact many people using k8s in production.

Here are some of the related discussions mainly focused on k

[2017-05-02 17:35] #45209 closed

[2017-05-02 17:41] arthur0 commented on #45210
Can I work on this?

[2017-05-02 17:44] luxas commented on #45190
cc @kubernetes/sig-storage-feature-requests @kubernetes/sig-storage-bugs

[2017-05-02 17:52] lavalamp commented on #45144
@mbohlool is working on transititioning this to be a beta API, Mehdy, this is something to consider.

But @luxas I don't understand why a ref to a config map would be an improvement. It seems like it'd just be more moving pieces?

We also need to think about how we could rotate the CA here, which might mean we need to keep a list of CAs instead of a single one.

[2017-05-02 17:53] jsravn commented on #41916
It also seems like the resync periods in kube-proxy/kubelet (which is 15m by default) is not working properly. Since in the most recent case I had, it took about 1 hour for kube-proxy to detect the apiserver connection was stale. I had a critical pod redeployed, and it took 26 mins for the endpoint to be updated (as seen in kube-proxy logs with `-v=2`). The apiserver instance was restarted an hour

[2017-05-02 17:53] rootfs commented on #45190
@idryomov for sysfs interface.

[2017-05-02 17:57] tobilarscheid commented on #24829
Hi guys, deleting all secrets of type `kubernetes.io/service-account-token` (`kubectl get secrets --all-namespaces` is your friend) fixed this issue for us as well.

The question remains how we could ever end up in such a state and what can be done to avoid this?!

[2017-05-02 18:02] jswoods commented on #41916
We've resorted to running this every 15 seconds as a workaround https://gist.github.com/jswoods/ae5fe375f206c1e1787139ebbdaa39f2. Not ideal at all but so far as kept our cluster up.

[2017-05-02 18:05] jsravn commented on #41916
On more thought, kubelet should *really* be checking the health of the watches. I had always thought resync is supposed to do that, but maybe that logic has changed (or my understanding is broken)? Relying on a long lived TCP connection to stay up in the presence of middleware, load balancing, and so on is not a great idea without application level pings. I'll have to dig more into the resync code

[2017-05-02 18:14] verb commented on #1615
#41583 added initial support for shared PID for docker

[2017-05-02 18:18] verb commented on #1615
Do we want to pursue sharing UTS?

[2017-05-02 18:19] lavalamp commented on #45144
After chatting with @deads2k it seems that folks can just add more CAs to the bundle when a rotation is needed.

I still don't think a config map makes things easier, so I'll close this one for now.

[2017-05-02 18:19] #45144 closed

[2017-05-02 18:19] krmayankk commented on #22179
I noticed his earlier as well that primary gid is always 0 and this is not
fixed by the PodSecurityPolicy as well.
I have opened a feature to track this earlier and volunteered to work on
this . Please expect an initial proposal and a PR in the next couple weeks

Mayank

On Tue, May 2, 2017 at 9:39 AM Dennis Schridde <notifications@github.com>
wrote:

--
-Mayank

[2017-05-02 18:26] jsravn commented on #45174
This header only applies to http/1.0, kubelet uses http/1.1. It really just needs to ping the apiserver periodically to ensure the watch is still active.

[2017-05-02 18:28] Spindel opened #45237 "Scheduling fails with "Insufficient Memory" until restart of apiserver/master"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):  No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
memory scheduler / memory scheduling

---

**Is this a BUG REPORT or FEATURE REQUEST

[2017-05-02 18:38] DerekV commented on #35186
I have worked around this by adding a list of `.0,.1,.2,` .. `.255` to my no_proxy.  It's ugly, and ultimately fragile, but it will exclude all IP http calls made by clients to IP addresses.  This works for the moment just because we don't have any other outbound traffic that does not use a hostname.

[2017-05-02 18:45] kokhang commented on #45190
[Rook](www.github.com/rook/rook) is currently using sysfs to map/unmap. https://github.com/rook/rook/blob/master/cmd/rook/block/map.go#L124

[2017-05-02 18:56] cmluciano commented on #41936
Is this still an issue @saurabhjha1

[2017-05-02 19:02] mengqiy commented on #42561
/unassign

[2017-05-02 19:07] rdsubhas commented on #41881
Yep, this is somewhat essential for using minikube or kubernetes from dev-to-prod. We have dozens of developers using minikube and hosted/remote kubernetes VMs with IPs. Everyone cannot be given full domain names (/etc/hosts overrides and generally converting this into a huge problem).

Almost all routers that I know of (haproxy, nginx, etc) allow routing based on trailing wildcards, i.e. only the

[2017-05-02 19:11] deitch commented on #41881
Thanks @rdsubhas ; well explained.

[2017-05-02 19:12] jfoy commented on #45174
Oh, that didn't match my understanding of the header under http/1.1 based on https://tools.ietf.org/html/rfc2068#section-19.7.1.1 . If I understand correctly, there isn't a watch involved here at all, but the kubelet's channel to send updates to the apiserver -- which is exactly what failed here. Am I missing something?

[2017-05-02 19:20] jfoy commented on #43516
@edevil Not exclusive to Azure - we see it on AWS.

[2017-05-02 19:39] jayunit100 commented on #22212
is this for 1.7 ?  Can we label it as such so that we can have #42002 primitives in place for in 1.8?