[2015-12-25 19:53] kargakis commented on #19059
Actually 2) is already implemented. So there is only 1) that needs to be done here.

[2015-12-25 20:24] thockin commented on #19080
If I understand what you mean by explicit scheduling wrt PV, yeah, I think
it will come, eventually.  But that doesn't solve the RC problem.

We have discussed arbitrary equiv groups of PV, where an RC pulls a PV from
the group, but we have not designed it further - time went to nominal
services (still not done) which seemed like it was/is more important.

Gentrifying PV to an arbitrary cluster Re

[2015-12-25 21:38] uluyol commented on #12598
Most of this should be outdated now.

[2015-12-25 21:38] #12598 closed

[2015-12-26 02:06] mqliang commented on #19102
@davidopp

Labels enable users to map their own organizational structures onto system objects in a loosely coupled fashion, without requiring clients to store these mappings.

I may misunderstand, it implies labels is user-oriented, and annotation is system-oriented

[2015-12-26 04:24] mqliang opened #19106 "AnnotationPolicy and LabelPolicy for Required/Permitted/Prohibited label/annotation value"
Current, k8s support filter invalid request in validation time, and apply default value to some api at creation time. Which is not very flexible, I propose to add an admission controller to filter out invalid request and apply default annotation/labels value, the API definition is like follows:

AnnotationPolicy and LabelPolicy
----

[code]

Admission controller will list&watch those policy and ap

[2015-12-26 05:09] mqliang commented on #19106
initial discussion https://github.com/kubernetes/kubernetes/issues/15390

[2015-12-26 07:36] mqliang commented on #14561
@bparees I send a issue/pr to that covers being able to commit/push a running pod. see https://github.com/kubernetes/kubernetes/issues/18205 and https://github.com/kubernetes/kubernetes/pull/19107 So that user could commit/push their container manually.

[2015-12-26 07:43] dalanlan commented on #17205
@SunWeicheng0001  It's kinda odd that you suffer `unbound variable` & `non-published client endpoints(http://127.0.0.1:4001,http://127.0.0.1:2379)` if you pull from HEAD 'cause i cannot reproduce this.

[2015-12-26 07:50] mqliang commented on #14561
BTW, I think a PostStop hook is also very helpful, since it offer the advantage of not having a timing window in which the pod gets purged after exiting and before we have a chance to invoke the commit/push.

[2015-12-26 07:51] SunWeicheng0001 commented on #17205
@dalanlan I replace the cluster folder with the one in branch release1.1, using the k8s binaries build by myself from HEAD and the etcd binaries downloaded by the script from HEAD, then the result is correct.
It there any potential problem in cluster scripts from HEAD?

[2015-12-26 07:53] dalanlan commented on #17205
Sorry but i cannot quite catch you. It does have an issue(or issues), but obviously not this particular one.

[2015-12-26 10:34] maclof commented on #19077
I have a similar usecase for this, so I would also like to see this added :)

[2015-12-26 12:42] mqliang commented on #18972
see PR https://github.com/kubernetes/kubernetes/pull/19043

[2015-12-26 14:24] luxas opened #19109 "Build kubectl statically"
Why is `kubectl` built dynamically for `amd64` at this time?
Is there any specific reason for this or could we change `kubectl` to be statically built?

For example: on hosts like RancherOS, this is a very big problem, because by default no `libc` is present, so `kubectl` doesn't work.

I assume it's only this line that will have to be updated: https://github.com/kubernetes/kubernetes/blob/master/

[2015-12-26 14:41] luxas opened #19110 "Update kube-build to go1.5.2"
Since @mikedanese updated the ci go version to `1.5.2`, shouldn't `kube-build` use it too?

It will also make cross-compilation easier, see this blog post: http://dave.cheney.net/2015/08/22/cross-compilation-with-go-1-5
So, if we upgrade to `go1.5.2`, we will not need `build/build-image/cross/Dockerfile` anymore.

Just now I'm working on getting ARM support into mainline k8s: #17981, and found out

[2015-12-26 14:47] mqliang opened #19111 "add cleanup policy for deployemt"
@kargakis @nikhiljindal @ironcladlou @davidopp

Current, deployment has no cleanup policy, old rc will always be preserved, I propose to add a `CleanupPolicy` field to `DeploymentSpec` indicating delete/preserve/remove the old rc. Just like `kubectl rollingupdate` does.

[code]

I will send a PR to address this if it looks good.

[2015-12-26 15:25] kargakis commented on #14519
I was thinking about the timeout param in the spec but I believe a timeout-based approach here adds more complexity than say a retries-based approach as the user has to know beforehand how long of a timeout they must use. The times a deployment comes up vary too. We would also have to always make sure that `maxProgressThreshholdSeconds` > [MindReadySeconds](https://github.com/kubernetes/kubernetes

[2015-12-26 15:38] luxas commented on #17981
@brendandburns Great news! I've been able to compile all kubernetes binaries on my `amd64` laptop.
This makes ARM building a lot easier and faster, and the ARM binaries works on both `ARMv6` and `ARMv7` (aka RPi 1 and 2)

The code is [here](https://gist.github.com/luxas/e319b314f22b18243b1d) and it uses `golang:1.5.2` as the base image. I could test if it also works with `golang:1.4-cross`, which

[2015-12-26 16:46] erictune opened #19113 "Document use of AWS ECR with k8s"
AWS now has a built-in registry called [ECR](https://aws.amazon.com/blogs/aws/ec2-container-registry-now-generally-available/), similar to Google Container Registry.

We should document how to use ECR for those kubernetes users who wish to use ECR with their AWS-hosted K8s clusters.

We should document and test how to get a credential from AWS (e.g using `aws ecr get-login`), and how to put that i

[2015-12-26 18:15] mikedanese commented on #19110
We are working on it in #14873. See https://github.com/kubernetes/kubernetes/pull/14873#issuecomment-166703378

[2015-12-26 18:45] erictune commented on #19049
@kubernetes/goog-control-plane @erictune

[2015-12-27 06:54] Hui-Zhi commented on #19049
@therc , I think we can enable the GPU as a normal device which under /sys/fs/cgroup/devices first, then we have 2 choices,
1. Enable other devices which also under sys/fs/cgroup/devices.
2. Enable GPU in cgroup (kernel space), then we can enable whatever functionalities we want.

[2015-12-27 15:56] luxas commented on #19030
@fgrzadkowski Could you keep this open until you fix it?
I think it would be a great feature

[2015-12-27 18:00] pwittrock opened #19118 "kubernetes-soak-continuous-e2e-gke/gce failing"
kubernetes-soak-continuous-e2e-* tests have been failing since at least Dec 22

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-soak-continuous-e2e-gce/

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-soak-continuous-e2e-gke/

GCE failed tests:
Kubernetes e2e suite.Job should run a job to completion when tasks sometimes fail and are not locally

[2015-12-27 18:01] pwittrock opened #19119 "kubernetes-e2e-gke-subnet"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-subnet/

Failing with:
GCE L7 LoadBalancer Controller should create GCE L7 loadbalancers and verify Ingress

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/ingress.go:561 Dec 27 09:07:53.974: Ingress failed to acquire an IP address within 15m0s

[2015-12-27 18:02] pwittrock opened #19120 "kubernetes-e2e-gke-subnet tests failing"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-subnet/

Failing with:
GCE L7 LoadBalancer Controller should create GCE L7 loadbalancers and verify Ingress

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/ingress.go:561 Dec 27 09:07:53.974: Ingress failed to acquire an IP address within 15m0s

[2015-12-27 18:11] #19119 closed

[2015-12-27 21:41] wienczny opened #19122 "Proposal: Share service with namespaces"
Namespaces are Kubernetes implementation of administration domains.
If you have a namespace for services that should be shared across namespaces you have to either resolve the the ip using the api or use the dns-addon.
I propose to add a sharing feature to services in namespaces:

- A boolean flag ```exported``` is added to the service definition.
or
- A list of names of namespaces is added to the

[2015-12-28 01:27] ixdy commented on #14763
+1 that a test should not be both `[Conformance]` and `[Skipped]`.

[2015-12-28 02:06] ixdy commented on #18809
I have very little understanding of the integration tests, so I'm not sure how much useful progress I am going to make.

[2015-12-28 02:08] ixdy commented on #18809
... though very briefly looking at the logs, my best guess is that some tests have very small internal timeouts which are regularly being exceeded.

[2015-12-28 02:54] pesho opened #19124 "Cloud provider API downtime still leads to NodeNotReady"
I'm experiencing the same issue as #16593 but with OpenStack, using Kubernetes 1.1.3. Since that issue is closed and was filed as AWS-specific, I'm opening a new one. #13417 was supposed to fix it and is included in release 1.1.3 (despite having been reverted in master), but it doesn't seem to work properly (as @antoineco also reported in #16593). Also related to issues #13398 and #13412.

In shor

[2015-12-28 05:57] dove-young commented on #14153
I've got similar problem with Kubernetes v1.1.2.

Here is my kubectl log message

[code]

And here is my get pv and get pvc result

[code]

details of pv

[code]
and details of pvc

[code]

[2015-12-28 06:23] davidopp commented on #19049
@cameronbrunner

[2015-12-28 06:45] dove-young opened #19125 "kubectl logs counter return 404 page not found"
I installed Kubernetes v1.1.2 in 3  Fedora 22 VMs.  Most functions work well, but <code>kubectl logs xxx </code> always return <code>404 page not found</code>. Even when I use an pod defined as example, it still failed.

Here is Pod definition

[code]

[code]

Check logs from docker

[code]

Here is <code>kubectl get events </code> result

[code]

[2015-12-28 07:01] wojtek-t commented on #19084
+1

We should also migrate our conversion generator to the new Daniel`s framework in the meantime (for better maintainability).

[2015-12-28 07:09] wojtek-t commented on #19048
Regarding first point (logs verbosity), I think we need at least --v=2 logs to debug it (at least from apiserver, but probably also from kubelets)...

[2015-12-28 07:15] wojtek-t commented on #18928
There are exaclty the same failures coming from pkg/storage, e.g. here:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-test-go/5100/artifacts/?project=kubernetes-jenkins

In the above one, the failure is "TestList" from "pkg/storage"

[2015-12-28 07:16] wojtek-t commented on #18928
[Note that it seems this is also related to watch - in Cacher there is underlying watch to etcd]

[2015-12-28 07:53] Random-Liu commented on #19037
Some other humble thoughts.

If we want to ensure there is always associated pod worker when pod update comes, we may want to consider the implementation below:

**Prerequisite:** the pod worker should avoid enqueue a resync when the the pod status becomes Failed after syncPod().

Then, there might be **3 optional implementation:**
* Treat pod workers as a worker pool, do not bound a worker to a s

[2015-12-28 07:54] #19102 closed

[2015-12-28 08:18] antoineco commented on #19124
Indeed, I asked if the AWS ticket could be reopened already, since the current fix makes the entire cluster depend on the availability of a single API. It's extremely dangerous in production.

[2015-12-28 08:28] gmarek commented on #19109
@bgrant0607 @janetkuo

[2015-12-28 08:39] fgrzadkowski commented on #19030
The initial title of this issue was `404 error: https://get.k8s.io/local` and the problem was wrong comment in the script. This is fixed.

I agree that having this script served from `https://get.k8s.io/local` is a great feature, which is why I added this comment in the first place :) Now, that you've repurposed this issue we can re-open it.

Btw, the reason I'm not adding forwarding rules yet is

[2015-12-28 08:43] alexisvincent commented on #19075
Any feedback on this?

[2015-12-28 08:55] gmarek commented on #19064
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/21911

[2015-12-28 09:04] danielschonfeld opened #19127 "AWS ephemeral LVM isn't created using kube-up.sh"
From the `cloud-init-output.log`:

[code]

Seems like we can't utilize 100% free space, but reducing to 99% works:

[code]

vs

[code]

Is there a better way?

[2015-12-28 09:05] Smana commented on #18868
@AdoHe
I just want to understand why i get a `500` error when the stats are requested then immediately followed by a stacktrace.
I've checked on the server of my collegue which is working good and he gets a `200` on these calls.

I've checked again this morning and my logs looks still the same.
[code]

[2015-12-28 09:13] qwang1 opened #19129 "Create generic/docker-registry secret with --output=wide, error shows but secret is created"
### Description
Create generic/docker-registry secret with --output=wide,  it shows "err accessing flag no-headers for command generic: flag accessed but not defined: no-headers" , but secret is created.

### Version
[root@ip-172-18-1-5 amd64]# ./kubectl version
Client Version: version.Info{Major:"1", Minor:"2+", GitVersion:"v1.2.0-alpha.5.485+500493a3acf960", GitCommit:"500493a3acf9607f67b74cefe5

[2015-12-28 10:23] wangqunOne opened #19132 "Kubernetes HA don't support to transfer the container with cinder volume plugin to another normal minion node."
we have setup one kubernetes cluster to test the HA if support to transfer the container with the cinder volume plugin. I have three nodes. One Master Node, and two Nodes are minion nodes. I install with cinder volume plugin successfully.
1.I use the case to create the pod on A minion node. It can run well. And the cinder can also be attached to the container.
apiVersion: v1
kind: ReplicationContr

[2015-12-28 10:28] wojtek-t commented on #18928
Ref #19131

I've just run:
$ export KUBE_RACE=-race
$ hack/test-go.sh -i 100 pkg/registry/generic/etcd/

simultanously in 3 consoles - and all 300 tests passed - this is really strange...

[2015-12-28 10:29] wangqunOne commented on #19132
@spothanis

[2015-12-28 10:31] wojtek-t commented on #18980
This helped a lot!
I'm lowering the priority of it - @ixdy feel free to close if you think it doesn't make sense to investigate more...

[2015-12-28 11:19] AdoHe commented on #18868
@Smana First kubelet will write the stack trace to requests of which the response status code is not: `200, 301, 307, 404, 101`, in your case, the response status code is `500` so you will get the stack trace.
so why you get `500 internal error`, actually from the log you paste, it's hard to figure out. I just checked the log you pasted on `stackoverflow`, I think the root cause is: `cadvisor can'

[2015-12-28 12:07] erez-rabih opened #19138 "Probes output does not reach ElasticSearch"
Hi,

I am using Kubernetes 1.1.3 with FluentD + ElasticSearch enabled. I am also using liveness probes on some of our containers to make sure they are health.
I noticed that when I report to the STDOUT from the probe the output does not reach ElasticSearch as other containers logs do.
Is there a way to ship those logs?

[2015-12-28 12:17] wojtek-t commented on #18928
What is interesting - we are also testing per-resource Watch in registries, e.g. for Pod we have it here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/pod/etcd/etcd_test.go#L288

However - those tests do NOT fail for any single resource.
I have no idea how they are different from tests in pkg/registry/generic/etcd

[2015-12-28 12:55] wojtek-t commented on #18794
I didn't record that failure and now I'm unable to find it.
If someone observes this error - can you please paste a link to it here?

[2015-12-28 13:45] wojtek-t commented on #18928
So to summarize the current state:

1. We observe the following races:

        WARNING: DATA RACE
        Write by goroutine 95:
          sync.raceWrite()
              /tmp/workdir/go/src/sync/race.go:41 +0x2e
          sync.(*WaitGroup).Wait()
              /tmp/workdir/go/src/sync/waitgroup.go:124 +0xf9
          net/http/httptest.(*Server).Close()
              /tmp/workdir/go/src/net/http/h

[2015-12-28 13:49] mwielgus commented on #19118
@roberthbailey to triage

[2015-12-28 14:00] wojtek-t commented on #18794
OK, I've got something:

    === RUN   TestWatch
    --- FAIL: TestWatch (0.08s)
	    cacher_test.go:184: Unexpected error: too old resource version: 1 (3)

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/9d912e843b40193c59cfa8d72b6b5780bda53b11/kubernetes-pull-test-unit-integration/7414/?debugUI=DEVELOPERS

[2015-12-28 14:30] wojtek-t commented on #18794
OK - I managed to reproduce it locally (this is a race in test).
The fix is already sent out for review - #19140

[2015-12-28 14:32] wojtek-t opened #19141 "unit test flake: pkg/master is flaky"
This has just happened:

--- FAIL: TestGetServersToValidate (0.20s)
	<autogenerated>:31:

	Error Trace:	master_test.go:131

	Error:		Not equal: 3 (expected)
			        != 4 (actual)

	Messages:	unexpected server list: map[string]apiserver.Server{"controller-manager":apiserver.Server{Addr:"127.0.0.1", Port:10252, Path:"/healthz", EnableHTTPS:false, Validate:(apiserver.ValidatorFn)(nil)}, "scheduler

[2015-12-28 14:34] mpj commented on #17902
@sils1297 Hej lasse! I'm having the same problem, did you ever figure out what you problem was?

[2015-12-28 14:41] wojtek-t commented on #19141
@gmarek

[2015-12-28 14:43] mpj commented on #17902
Here is my theory, it's that expose will infer the selector from the rc. The problem is that this returns on a deployment label as well:
[code]
(external ip masked)

[2015-12-28 14:54] wojtek-t commented on #16424
This one was actually fixed by #18819

[2015-12-28 14:54] #16424 closed

[2015-12-28 14:55] wojtek-t commented on #11780
This will be fixed once we migrate to the new generated based on the framework. Should happen relatively soon.

[2015-12-28 14:57] gmarek commented on #19141
cc @kubernetes/goog-control-plane @kubernetes/goog-csi

[2015-12-28 15:13] mpj commented on #17902
Hmm. no. I tried my theory and specificed the selector to just service_name=stealy and the forwarding still breaks when I do a rolling-update.

[2015-12-28 15:18] smil2k commented on #18911
Hi,

I'm not talking about LibNSS! (https://en.wikipedia.org/wiki/Network_Security_Services)

/etc/nsswitch.conf is a part of libc! Every application which uses glibc is using  /etc/nsswitch.conf!
(http://man7.org/linux/man-pages/man5/nsswitch.conf.5.html)
Even static programs load dynamic libraries if they are using gethostbyname!
(http://stackoverflow.com/questions/15118408/compile-c-with-functi

[2015-12-28 15:38] xiang90 commented on #18928
@wojtek-t Can you give me a quick hint about how to reproduce this race? Which unit test should I run? I can try to fix this.

[2015-12-28 16:15] smarterclayton commented on #19084
Yes, I found several places where there are bugs caused by the two
pass "find imports / write function" code.

[2015-12-28 17:01] pepverd opened #19144 "Kubectl GET HPA CPU Current isn't refreshed properly under Non Successfully POD creation scenario"
Testing Kubernetes in GKE, I think I encountered an issue related with the behaviour of the HPA in Kubectl, and particularly with the data reported by Kubectl GET HPA CPU Current that isn't refreshed properly under Non Successfully POD creation scenario.

I was doing some load testing against one of my GKE Instances (1 simple, n1-standard-1 (1 vCPU, 3.75 GB memory)), GKE Kubectl version 1.1.2.

Un

[2015-12-28 17:13] wojtek-t commented on #18928
@xiang90 - the problem is that I cannot reproduce this locally (I've run those tests 500+ times and all tries passed). On the other hand, when running on Jenkins, it is failing probably at 5-10%.

Currently, the most frequently failing tests isL
pkg/registry/generic/etcd/etcd_test.go
test: TestEtcdWatch

https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/generic/etcd/etcd_test.go#L5

[2015-12-28 17:18] therc commented on #19049
The document also doesn't seem to address the fact that, in addition to /dev/nvidiaX, nVidia boards also need /dev/nvidiactl and /dev/nvidia-uvm.

[2015-12-28 17:48] smarterclayton commented on #7111
After #17922 lands, the next change will be to remove conversion/scheme, and fold that function into runtime/scheme.  A scheme will use a Convertor, a DeepCopier, and a set of maps for its type registry to handle anything that deals with Kind, Group, and Version and how Go structs are mapped between them.

[2015-12-28 17:56] xiang90 commented on #18928
@wojtek-t Oh. No worries. etcd or k8s do not really matter.

How can I reproduce on Jenkins? I think I need to reproduce this so that I can find the root cause more easily and know I actually fix it.

[2015-12-28 18:10] ixdy commented on #18980
I'll watch next week after the holidays when the PR flow picks up again...

[2015-12-28 18:11] yenif commented on #17641
I started running into this issue on google container engine last week. I switched kube-proxy to iptables mode according to http://googlecloudplatform.blogspot.com/2015/11/enhancements-to-Container-Engine-and-Container-Registry.html ("A re-architected networking system”) and it’s working much better.

Is there a way to configure default annotations for new nodes being created and joining the clust

[2015-12-28 18:21] wojtek-t commented on #18928
@xiang90 - you can try writing "@k8s-bot unit test this please" few times - if you run 10 times successfully (without those those unit test failure), it would probably mean that the test is fixed.
Once you have WIP PR, I'm happy to help with testing it.

[2015-12-28 18:32] vishh commented on #168
FYI: Docker now supports updates to cgroups [#15078](https://github.com/docker/docker/pull/15078/files)

[2015-12-28 19:02] vishh commented on #19049
At a meta level, device information need not be exposed outside of the kubelet. Once a pod that needs a GPU lands on a node, kubelet can do everything necessary to provide access.

Now for sharing GPUs, why not run multiple containers per pod for now?

[2015-12-28 19:07] yifan-gu commented on #18928
@wojtek-t The oidc test is still failing? I thought it was fixed by https://github.com/kubernetes/kubernetes/pull/18917

[2015-12-28 19:21] wojtek-t commented on #18928
@yifan-gu - no - it seems to be fixed (I've already changed the title of this issue)

[2015-12-28 19:26] yifan-gu commented on #18928
@wojtek-t That's cool :) Sorry, I saw your [comments](https://github.com/kubernetes/kubernetes/issues/18928#issuecomment-167574597) on summarizing the current state 6 indicate the oidc test is still failing recently, so I got confused. Never mind.

[2015-12-28 19:28] therc commented on #19049
Sharing GPUs through multiple containers will work for our API use case, where we have long-running servers behind the endpoints, but is not really going to work for batch pipelines that perform model training. Some of them run for minutes, some for days.

[2015-12-28 19:35] thockin commented on #18898
I chimed in on the Docker side.  If this doesn't land in docker.next, we can workaround in kube.

[2015-12-28 19:47] wojtek-t commented on #18928
@yifan-gu - sorry; I pasted the wrong trace. it's already updated

[2015-12-28 19:48] mzupan commented on #18652
So I loaded a grafana pod to see influxdb and I don't see any pod stats.. the drop downs are empty.. but cluster stats for all k8 nodes are there

<img width="1021" alt="screen shot 2015-12-28 at 10 31 48 am" src="https://cloud.githubusercontent.com/assets/205373/12024445/deabfee8-ad58-11e5-8a38-82443095ebe5.png">

[2015-12-28 20:04] saad-ali commented on #18776
@jonboulle the plugins would just need access to the host namespace

[2015-12-28 20:13] thockin commented on #19122
Can you explain what you think this flag would do in concrete terms?  Even
within a given namespace you use IP addresses or DNS to resolve Services,
so what would this change?
On Dec 27, 2015 1:41 PM, "Stephan Wienczny" <notifications@github.com>
wrote:

[2015-12-28 20:20] thockin commented on #18911
nsswitch is what I meant.

Not every app uses glibc.  Not every container has glibc present.  Not
every container wants us mucking with their internals.  Also, if we did
this we have to deal with a variety of library versions, which is
thoroughly unattractive.  On top of that, manipulating files that the user
can see across namespace boundaries is very ugly - as documented and n the
/etc/hosts deb

[2015-12-28 21:18] gang99zheng commented on #19071
I have problem for cassandra v7 image also. The error is "permission denied".  cassandra v6 image runs just fine.

[2015-12-28 21:24] wienczny commented on #19122
As DNS is (currently #11599) an addon and not stable in operation, you should not have to rely it.
Alternatively you can use a static cluster IPs for you services.
The third possiblilty is using service accounts and the kube-api

While inside the same namespace service IPs and ports are injected into the environment of started containers. It would be great if you could have services from another n

[2015-12-28 22:19] yenif commented on #18604
Just ran into this in GKE, last reported measure had number of open tcp connections at 7,759 and 114 req/s with kube-proxy in iptables mode. It looks like the offending connections are udp connections to dns. Increasing sysctl net.ipv4.netfilter.ip_conntrack_max from 65536 to 6553600 stabilizes around 132466 for roughly 100 req/s to an ugly node app that dumps requests into bigquery.

[2015-12-28 22:33] freehan opened #19149 "Update Elasticsearch and Kibana version for ES logging addon"
Elasticsearch addon is running ES version 1.5, while 2.1 is already out for some time. Addon Elasticsearch: https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch/es-image

Plus, the ES addon cluster discovery only happens when pod starts. So if the es pods got recreated. The es cluster can easily get into bad state.

Probably merging the elasticsearch setup from

[2015-12-28 22:41] thockin commented on #19122
On Mon, Dec 28, 2015 at 1:24 PM, Stephan Wienczny
<notifications@github.com> wrote:

Pardon?  In what sense is it not stable?  the vast vast vast majority
of kubernetes users rely on DNS, and in the eventual future it will
not be an addon.

That's a disaster operationally.

This assumes you control all applications, which is why we went with
DNS - we can not make that assumption.

We hope to kill

[2015-12-28 23:11] cjcullen commented on #19120
Submitted quota request to increase BACKEND_SERVICES quota to 10 for k8s-jkns-e2e-gke-subnet (it is currently at 3).

[2015-12-28 23:41] smarterclayton commented on #19141
Seeing this ~5% of my runs today

[2015-12-28 23:44] smarterclayton opened #19151 "Data race in pkg/client/record/event_test.go"
[code]

[2015-12-28 23:56] unixist opened #19152 "kubelet's --api-servers flag doesn't honor multiple servers"
kubelet's usage suggests that it'll do some sort of round-robin when hitting apiservers, but my experience says that it only uses the first one specified.

A brief search thru the code seems to corroborate that hypothesis: https://goo.gl/60iweW. Can we adjust the usage to say "incomplete"? Or better, just fix this? It'd be nice to not have to have another HA solution in front of HA apiservers.

ku

[2015-12-29 00:07] smarterclayton commented on #19151
Have not reproduced locally even after a few tens of runs.

[2015-12-29 00:54] caesarxuchao opened #19154 "mungedoc should warn people to fetch upstream/release-1.1 if it already exists"
In #18047, mungedoc checks if a doc exists in upstream/release-1.1. If upstream/release-1.1 in the local machine is out-dated, mungedoc will work improperly. We need to at least add a message to warn people to fetch the latest upstream/release-1.1.

cc @nikhiljindal @mattjmcnaughton

[2015-12-29 00:57] wienczny commented on #19122
I agree with you concerning cluster IPs.

There are some issues I've got with the current DNS implementation:

Sometimes DNS requests timeout which might cause a lots of restarts.

[code]

The current Skydns implementation is hard to debug using the logs. I had to dig deeper to find the underlying problem there.

I've got some containers that don't contain a full linux environment. They are just a

[2015-12-29 01:05] spxtr opened #19155 "GCE L7 LoadBalancer Controller test failing in gke-flaky suite."
`GCE L7 LoadBalancer Controller [Serial] [Slow] [Flaky] should create GCE L7 loadbalancers and verify Ingress`

It probably shouldn't be running in the gke-flaky suite. Looks like #19021 might've added it, and it's failed every run since then.

[2015-12-29 01:21] kfox1111 commented on #12767
Ping?

[2015-12-29 02:01] dalanlan commented on #19152
Confirm this from HEAD
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L624

[2015-12-29 02:05] dalanlan commented on #18174
It's an illusion for kubelet to support multiple api-servers. In fact it simply picks up the first one to talk to.
Ref #19152

[2015-12-29 02:30] cpwais commented on #15818
I also had a similar issue and wasn't able to get this working.  Seems that master.sh has the container use eth0 ...

FMI https://groups.google.com/forum/#!topic/google-containers/hdonxxWyTBM

@brendandburns could we please consider re-opening this issue?

[2015-12-29 02:55] resouer commented on #9188
Should this be closed now?

[2015-12-29 03:07] AdoHe commented on #19152
@unixist @dalanlan I think this is still in progress. A simple round robin should be enough for multiple api server.

[2015-12-29 03:32] AdoHe commented on #18868
@Smana can you provide more complete log just like you paste at `stackoverflow`?

[2015-12-29 03:32] bprashanth commented on #19155
From logs:
[code]

These are the quota requirements for the test:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/ingress.go#L41

This is the request I put in last time:
[code]

I don't seem to have access to the gke-ci-flaky project.

Also somewhat tangentially the test is already running in gke-1.1 and I don't think it should be added to any CI suite.

[2015-12-29 03:45] bprashanth commented on #19120
This is the same as:  https://github.com/kubernetes/kubernetes/issues/19155#issuecomment-167710572

I see:
[code]

I've put in a request for quota (I guess the request for >3 backend services hasn't gone through yet).

[2015-12-29 03:46] bprashanth commented on #18775
Did you mean gke-flaky?
Gce-flaky has been passing: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-flaky/9461/testReport/(root)/Kubernetes%20e2e%20suite/GCE_L7_LoadBalancer_Controller__Serial___Slow___Flaky__should_create_GCE_L7_loadbalancers_and_verify_Ingress/history/

See https://github.com/kubernetes/kubernetes/issues/19120 for gke-subnet failures, please re-open if this is diffire

[2015-12-29 03:46] #18775 closed

[2015-12-29 05:13] thockin commented on #19055
Can you provide some more context on this - I think yo mean the Azure port?

[2015-12-29 05:18] thockin commented on #19033
I'm really hoping some folks from community will chime in on this.  I
really want to understand what it is that people want to do with a
cluster-private registry - how do you want to use it?  it keeps coming up
as a pain point for people, but we have not really pinned down exactly
what...

@smarterclayton as a seed

On Tue, Dec 22, 2015 at 3:12 PM, Minhan Xia <notifications@github.com>
wrote:

[2015-12-29 06:06] smashraf commented on #19055
@thockin So when we create a cluster the virtual network is generated randomly and every time a new cluster is created it goes into a new virtual network but I came across a scenario where we needed to create clusters in the same virtual network also the dns name which is generated randomly looks a bit ugly.I made the required changes to create a cluster in the desired vnet and also

[2015-12-29 06:07] smashraf commented on #19055
@thockin So when we create a cluster the virtual network is generated randomly and every time a new cluster is created it goes into a new virtual network but I came across a scenario where we needed to create clusters in the same virtual network also the dns name which is generated randomly looks a bit ugly.I made the required changes to create a cluster in the desired vnet and also allocate the d

[2015-12-29 06:32] nagarjung commented on #17727
Hi @jayunit100 : Is this issue open to work on or anyone working on this issue? Please let me know if I can work on this issue.

[2015-12-29 06:40] jayunit100 commented on #17727
Open to work on if you are working now, as I'm off until January 4.  If you beat me to the patch that's great :)!

[2015-12-29 06:53] wojtek-t commented on #18928
@xiang90 - did you do any progress on it?

[2015-12-29 06:53] xiang90 commented on #18928
@wojtek-t I will do it tomorrow. Sorry for the delay.

[2015-12-29 06:58] nagarjung commented on #17727
@jayunit100 : I had asked this question because a week back you had asked me to work on 2 issues, one of which was this. As I'm new to opensource I was not clear with the status of the issue.

[2015-12-29 07:01] wojtek-t commented on #18928
@xiang90 - no worries; I will also try to do something today - will let you know if I find something

[2015-12-29 07:04] adohe opened #19159 "kubelet should provide an option to set net mode when use custom network plugin"
FYI. I am using a custom network plugin to configure the kubernetes network, since kubernetes will create pod infra container at first, and then call the network plugin `SetUpPod` method, so in my plugin,
I have to do some cleanup before I do real network setup since I don't want to use `veth` and `docker0`, so if kubelet can provide an option to set the net mode, this can be simplified. (PS: my c

[2015-12-29 07:14] thockin commented on #19159
Eventually (probably) CNI will be the only network plugin, and you will
just write a CNI plugin.  We're still ironing out the kinks.

On Mon, Dec 28, 2015 at 11:05 PM, TonyAdo <notifications@github.com> wrote:

[2015-12-29 07:14] AdoHe commented on #18245
@zhengguoyong I also experienced this in my test environment. I have no way but to restart everything. I think err get when TearDownPod should be treated as permanent error, the sync loop should not try it.

[2015-12-29 07:20] wojtek-t commented on #19064
And again:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/22001/

[2015-12-29 07:23] thockin commented on #12399
This is not exactly a "new" issue

[2015-12-29 07:25] AdoHe commented on #13760
@thockin I think we should provide an option to configure the net mode. Actually I prefer `--net=none`, since I want to my network plugin to control the network of containers, and I don't want to use `veth` and `docker0`.

[2015-12-29 07:32] jayunit100 commented on #17727
ah yes, I believe you asked for some easy golang patches to get started with? I think this is in that category.  So, are you working on this currently?  If so I won't look at it.

[2015-12-29 07:47] thockin commented on #13760
That's what CNI plugins give you.

On Mon, Dec 28, 2015 at 11:26 PM, TonyAdo <notifications@github.com> wrote:

[2015-12-29 07:53] AdoHe commented on #19159
@thockin I think in long term CNI will be the only network plugin, so for now if we use the exec network plugin we have to do use the docker's --net=bridge. I noticed that in long run there will be a client/server implementation of container runtime, do you think the network plugin should be kept with the container runtime?

[2015-12-29 07:54] dove-young commented on #18947
Sorry I did not remember yet. I just noticed that it did not retry in a long time. I then pulled image manually and start up daemon successfully.

I cannot retry this scenario since developers in my team need to use these daemons.

[2015-12-29 08:00] AdoHe commented on #13760
@thockin yeah I will use the CNI network plugin. Thanks very much.

[2015-12-29 08:18] Hui-Zhi commented on #19049
@therc Yes, for Nvidia GPU, needs "--device /dev/nvidia0:/dev/nvidia0 --device /dev/nvidiactl:/dev/nvidiactl --device /dev/nvidia-uvm:/dev/nvidia-uvm", and so far I don't know what the special works to do for other GPUs. We need to list the vendor in the yaml file.

[2015-12-29 08:24] nagarjung commented on #17727
Sure, I will work on this.

[2015-12-29 08:24] nagarjung commented on #17727
Can you please re-assign it to me?

[2015-12-29 08:32] AdoHe commented on #19152
Maybe a random pick is also suitable.

[2015-12-29 08:48] adohe opened #19161 "kube client should support multiple api server endpoints."
FYI. just reference to #19152, #18174, maybe a round robin or random pick should be used with multiple endpoints.

[2015-12-29 09:28] qwang1 opened #19163 "kubectl create secret --output-version doesn't validate the value"
### Description

Flag: --output-version=" " of "kubectl create secret" doesn't validate the input parameter.
### Version

[root@ip-172-18-1-5 amd64]# ./kubectl version
Client Version: version.Info{Major:"1", Minor:"2+", GitVersion:"v1.2.0-alpha.5.485+500493a3acf960", GitCommit:"500493a3acf9607f67b74cefe541a324a71108cf", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"2+", GitV

[2015-12-29 09:50] gmarek commented on #18641
It's done.

[2015-12-29 09:50] #18641 closed

[2015-12-29 09:50] Random-Liu commented on #19152
/cc @Random-Liu

[2015-12-29 09:52] gmarek commented on #17879
Last (hopefully) PR in effort is #19162. Closing.

[2015-12-29 09:52] #17879 closed

[2015-12-29 09:58] gmarek commented on #15803
I fixed some failures, but now I'm seeing timeouts in #18338, so something hangs somewhere. I was unable to reproduce it locally and I don't have cycles to work on it anymore (we need to prioritize debugging density test failures on bigger clusters). I think it should be either a blocker for v1.2, or we should disable master node registration in 'normal' setup - it's really crazy that we have mean

[2015-12-29 10:00] ant31 commented on #19152
the main point is to retry with  another server if it failed,
it can be random,  round robin...

if the current implementation ( first one always) had a  failover to the next one, it would be enough for the HA requirements.

[2015-12-29 10:03] Random-Liu commented on #19049
/cc @Random-Liu

[2015-12-29 10:20] gmarek commented on #18960
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/1df78a239879db73d6ca831e850c289e38393a8b/kubernetes-pull-test-unit-integration/7533/build-log.txt

From #19142

[2015-12-29 10:37] gmarek commented on #16394
Not done yet: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/5253/

[2015-12-29 10:38] sebv opened #19166 "ubuntu kube-up validation failure"
Using master, running `./kube-up.sh`

The cluster is created but validation fails with:

[code]

Seem to be caused by `nodes` variable override here: https://github.com/kubernetes/kubernetes/blob/master/cluster/validate-cluster.sh#L43

Renaming the variable to `_nodes` fixes it.

[2015-12-29 10:44] gmarek commented on #19035
Dupe of #12765

[2015-12-29 10:44] #19035 closed

[2015-12-29 10:44] gmarek commented on #12765
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10110/

[2015-12-29 11:01] dalanlan commented on #19152
it can be random, round robin...
if the current implementation ( first one always) had a failover to the next one, it would be enough for the HA requirements.

kubelet won't make a new clientConfig on the fly IIUC.

[2015-12-29 11:02] gmarek opened #19167 "Unit tests are EXTREMELY flaky lately"
It's bad. kubertest-test-go suite failed 5 consecutive times because of it.

@thockin @davidopp @brendandburns @bgrant0607 @dchen1107 @fgrzadkowski @wojtek-t @nikhiljindal @aronchick

Known Issues:
- [x] pkg/master #19141 (fixed by @wojtek-t in #19195)
- [x] pkg/util/wait #19067 (maybe fixed by @wojtek-t in #19196)
- [ ] pkg/storage/etcd, pkg/registry/generic/etcd #18928
- [x] pkg/apiserver #19176

[2015-12-29 11:26] ant31 commented on #19152
If I give 2+ external api-endpoints to a service and one of those endpoints is down, I would expect the service to continue to work using the remaining api-endpoints .

If not, it's unclear for me the intention of this setting

[2015-12-29 11:39] wojtek-t commented on #18928
I added some logging and it seems that we still have some unwanted requests.
The PR adding logging is here: #19158
the failure log is here:
https://gist.github.com/wojtek-t/9f5e23b714b876c140f7

I will continue debugging.

[2015-12-29 11:49] wojtek-t commented on #18928
The line that is suspicious is the "Get" request after the "data race"

[2015-12-29 12:47] AdoHe commented on #19152
for a possible implementation, kube client can try to use the same endpoint as long as the endpoint continues to work well. If the preferred endpoint isn't functioning properly, kube client should do a round robin rotation(or random pick) over other available endpoints.

[2015-12-29 12:59] yossi-cohen opened #19171 "Starting a container with host networking enabled"
I run a pod (actually many of them) which read a video stream from an external MULTICAST address
multicast can reach only pods deployed on the same host as the multicast sender (pods running on other hosts do not get multicast packets)
I've managed to get multicast to remote hosts using 'docker run --net=host ...'
Now I need to get the same result under kubernetes:
So as I understand, I have to ru

[2015-12-29 14:26] stevenmccord commented on #16965
@fgrzadkowski It looks like you have solved this issue, but I am not sure how I pull the latest docker images?  When I try to pull anything with 1.2 it looks like it isn't tagged.  How do I get the latest hyperkube image?  Thanks!

[2015-12-29 14:58] ihmccreery opened #19174 "Automatically announce new releases as part of the new release tooling"
We should have instructions for announcing new releases via email (kubernetes-announce, kubernetes-dev, and google-containers@).

cc @roberthbailey

[2015-12-29 15:25] smarterclayton commented on #12399
Let's reframe that as - Mark and Brad are going to work on this because we feel the security risk is too high for normal operational use when there is O(several) parties on the cluster.  Structurally, what concerns / reservations are there to an implementation here that would only allow attach from a controller?

[2015-12-29 15:43] smarterclayton opened #19176 "Flake in pkg/apiserver.TestMaxInFlight"
[code]

Have only seen this once, personally.

[2015-12-29 15:44] smarterclayton commented on #19167
Also https://github.com/kubernetes/kubernetes/issues/19176

[2015-12-29 15:48] smarterclayton commented on #19163
This is due to how we create objects during conversion - we return NotRegisteredError when the provided kind, group, or version is not recognized.  The printer loop then silently ignores those.  We need to make a more specific not registered error for this case and tie it to how the resource printer invokes ConvertToVersion.  There should probably be a specific error if the version the user provid

[2015-12-29 15:51] smarterclayton commented on #18679
We should summarize this as:

1. Don't try to have a resource in both a cluster and namespace scope now
2. If we create new scopes, reevaluate (@quinton-hoole is considering a cross-cluster scope that spans instances)
3. If we fixed the internal NamespaceDefault == NamespaceAll, or removed namespace defaulting from the internal code in both client and server (but not the api), it would be less fra

[2015-12-29 16:57] wojtek-t commented on #18928
One more failure coming from TestList in pkg/storage/cacher_test.go
https://gist.github.com/wojtek-t/2328d11f9d7bc72642a0

To be honest, I have no idea where does this race come from...
@xiang90 - it would be great if you could look into it (this issue is causing us a lot of problems)

[2015-12-29 17:58] smarterclayton opened #19178 "Upgrade the kube bot to identify flakes and open issues automatically"
Most of the triage of flakes looks like:

1. Have a PR, observe various failures in tests
2. Open an issue (or link to an existing issue), extract relevant snippets, back reference it to the current issue, give it the right labels,
3. Rerun the tests

It would be nice to automate / unify this process with a command to the k8s-bot... instead of saying:

    k8s-bot unit test this

say

    k8s-bot

[2015-12-29 17:58] smarterclayton commented on #19178
@kubernetes/goog-testing

[2015-12-29 17:59] spxtr commented on #18960
We had three clone fails this morning coinciding with a github [problem](https://twitter.com/githubstatus/status/681884105533997056). The builds ([7598](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/7598/console), [7599](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/7599/console), [7600](http://kubekins.dls.corp.google.com:8

[2015-12-29 17:59] smarterclayton commented on #19178
Another thing - we should be rerunning tests on master repeatedly (3 times each merge?) and if any of them fail, stop the merge queue.

[2015-12-29 18:04] therc commented on #18100
I saw the same with 1.1.1 running on CoreOS alpha 899.1.0 on AWS (although EC2 says it's 8777.1.0). It doesn't happen with beta-835.5.0. This is the trimmed log; unfortunately there isn't a lot of helpful information.

[code]

[2015-12-29 18:12] therc commented on #18100
Also:
[code]

Some kernel change?

[2015-12-29 18:15] cjcullen commented on #19120
Looks like the BACKEND_SERVICES quota is at 20 now (Is that what you requested Prashanth?). Either way, gke-subnet tests are happy again.

[2015-12-29 18:15] #19120 closed

[2015-12-29 18:49] smarterclayton opened #19180 "e2e test flake: "should release NodePorts on delete""
[code]

[2015-12-29 18:50] smarterclayton commented on #19180
Hit in #19047 https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/4d672c37b89c474b420deec35458ddbc4d4a8d22/kubernetes-pull-build-test-e2e-gce/22053/build-log.txt

Since this is a performance improving test case, it's somewhat possible we exposed a flake due to a race becoming more likely.

[2015-12-29 19:58] Random-Liu commented on #15089
**Progress Update**
Docker has started working on mutable label [see here](https://github.com/rancher/rancher/issues/1399#issuecomment-167268874)
And the original issue docker/docker#15496 has been marked as `status/claimed`.

[2015-12-29 20:07] thockin commented on #18100
That helps track it further - can you run again with --v=6 and show me the
logs?

On Tue, Dec 29, 2015 at 10:13 AM, Rudi C <notifications@github.com> wrote:

[2015-12-29 20:15] thockin commented on #12399
No concerns - we want to do it, and @saad-ali has a design doc, but it
has to fit into the larger volumes / storage plan, too.

[2015-12-29 20:16] thockin commented on #19171
What environment (cloud, os, kube version) ?

On Tue, Dec 29, 2015 at 4:59 AM, yossi-cohen <notifications@github.com>
wrote:

[2015-12-29 20:20] thockin commented on #19159
Yes, I think network plugin is a facet of runtime, but it's not currently
factored as such.  Specifically, all the logic we have around plugins
doesn't apply to rkt, which does CNI natively.

On Mon, Dec 28, 2015 at 11:53 PM, TonyAdo <notifications@github.com> wrote:

[2015-12-29 20:21] thockin commented on #18174
we should fix it and fix them both to work the same way.

On Mon, Dec 28, 2015 at 6:06 PM, Emma He <notifications@github.com> wrote:

[2015-12-29 20:28] thockin commented on #19122
On Mon, Dec 28, 2015 at 4:57 PM, Stephan Wienczny
<notifications@github.com> wrote:

That's not normal - we should fix that, rather than tossing the baby
with the bathwater.

The current implementation will become more integrated over time -
it's a matter of priority and making time to work on it.

Docker (and kubernetes) always configures /etc/resolv.conf to point to
the cluster DNS server.  Most

[2015-12-29 20:30] yifan-gu commented on #18776
From the proposal #18333:

My understanding is the containerized plugin need to do mounts to the host. Currently, the processes started by `rkt fly` are in the host mount namespace, so we are good.

[2015-12-29 20:34] therc commented on #18100
Hah...
[code]

and on and on.

[2015-12-29 20:39] therc commented on #18100
These are the outputs from tc:
[code]

[2015-12-29 20:40] spxtr commented on #16623
This hasn't flaked in the last 50 builds on gce-flaky or gce-parallel-flaky. Should it be moved back?

[2015-12-29 20:49] dinvlad opened #19181 "Images from a private repository on GKE are not visible to pods within the same project"
Hi guys, I'm trying to pull an image to a container cluster on GKE from private repository hosted on GKE under the same project, but getting errors that the image is not found. More specifically, I've created a cluster using Deployment Manager and verified that it works:
[code]
I also made sure that the correct cluster credentials are received:
[code]
The IP addresses above are the same. After tha

[2015-12-29 20:55] ixdy commented on #19151
@smarterclayton which version of Go are you using locally?

[2015-12-29 21:02] mikedanese commented on #16623
@spxtr https://github.com/kubernetes/kubernetes/pull/19028

[2015-12-29 21:04] dinvlad commented on #19181
Fwiw, the symptoms sound awfully similar to #17086

[2015-12-29 21:27] ihmccreery commented on #17981
cc @david-mcmahon

[2015-12-29 21:46] jason-riddle commented on #19073
Makes sense. Just wanted to check to make sure I wasn't reinventing the wheel.

[2015-12-29 21:46] #19073 closed

[2015-12-29 22:32] therc commented on #14197
I have observed this at least twice, too.

[2015-12-29 22:37] thockin commented on #18100
Try `tc -V` - I get "tc utility, iproute2-ss120521" on our debian.

I wonder if CoreOS `tc` got upgraded to a version that explicitly shows the
"noqueue" lines whereas older ones did not.  I think the fix is to ignore
"noqueue", but before doing that I want to understand what changed.

anyone from CoreOS land who can offer context?

On Tue, Dec 29, 2015 at 12:39 PM, Rudi C <notifications@github.co

[2015-12-29 22:45] therc commented on #18100
tc utility, iproute2-ss150210

[2015-12-29 22:49] therc commented on #18100
That corresponds to v3.19.0: http://git.kernel.org/cgit/linux/kernel/git/shemminger/iproute2.git/commit/?h=v3.19.0&id=46d364fe8fa9fd6f5ca3989b572a2548d9caf56a
while yours is v3.4.0: http://git.kernel.org/cgit/linux/kernel/git/shemminger/iproute2.git/commit/?h=v3.4.0&id=db70d91c7859700f9febf9bad8c29681bf9ac711

[2015-12-29 23:05] therc commented on #18100
Actually, even on 835.9.0, which has no issues, tc is version ss150210.

[2015-12-29 23:32] spothanis commented on #19132
@wangqunOne I think this is probably an area which common to all cloud backed volumes. I know that there was some talk about having a separate volume controller at some point.

@saad-ali do we have any solutions for such scenarios with GCE?

[2015-12-29 23:42] thockin commented on #18604
PR is in flight.

On Mon, Dec 28, 2015 at 2:19 PM, Brian Finney <notifications@github.com>
wrote:

[2015-12-29 23:43] saad-ali commented on #19132
Yes this is a known issue. See https://github.com/kubernetes/kubernetes/issues/14642. We're working on a redesign that should fix this. Summary of the issue: currently kubelet is responsible for determining when to attach/detach a volume from the node. When a node goes down, kubelet goes down, and this can lead to a volume getting stranded on the node.

Closing this issue as duplicate.

[2015-12-29 23:43] #19132 closed

[2015-12-29 23:45] thockin commented on #18100
I think the fix here is just to also check for "noqueue" during setup and
treat the results as if that interface had no data at all.

I'm swamped right now - got time?  Easy fix...

On Tue, Dec 29, 2015 at 3:06 PM, Rudi C <notifications@github.com> wrote:

[2015-12-29 23:47] thockin commented on #17641
The iptables mode is technically still beta, but there's not (as far as I
know) a way to set labels on new nodes as they join the cluster, though
that seems reasonably parallel to admission control.

On Mon, Dec 28, 2015 at 10:11 AM, Brian Finney <notifications@github.com>
wrote:

[2015-12-29 23:47] thockin commented on #17641
@davidopp @mikedanese @roberthbailey to confirm - no way to set labels/annotations to be assigned to nodes as they join, right?

[2015-12-29 23:51] wienczny commented on #19122
DNS might be an improvement to env vars but It does not solve the signaling issue. Any application using the DNS for dynamic services has to repeatly poll the DNS for changes. This might work for your own applications but fails if you are using applications from the shelf. Is there a plan for a tool like confd bound to the service changes?

[2015-12-30 00:00] thockin commented on #19109
I think it was the default and we only changed things to static if we had
good reason.  It makes sense to me to have it static.

On Sat, Dec 26, 2015 at 6:25 AM, Lucas Käldström <notifications@github.com>
wrote:

[2015-12-30 00:05] thockin commented on #19122
On Tue, Dec 29, 2015 at 3:51 PM, Stephan Wienczny
<notifications@github.com> wrote:

We have 2 modes of DNS for Services - "normal" and "headless".  Normal
services are the default - they give you a stable virtual IP that
doesn't need to be refreshed.  Headless services bypass the virtual
IP, but the assumption is that you opted in to that, so your app must
be under your control (e.g. refreshes pr

[2015-12-30 00:12] thockin commented on #18933
I am a little lost on this.  Can you restate the problem with a bit more
step-by-step detail?

Are the clients and servers all pods?  Why are you using a node port?

From your iptables output it doesn't look like kube-proxy is running - are
you sure it is?  check the logs.

On Thu, Dec 24, 2015 at 8:32 PM, suryaveerc <notifications@github.com>
wrote:

[2015-12-30 00:15] saad-ali commented on #12399
@childsb This is definitely something that has been high pri for us. I have a preliminary detailed design doc to move attach/detach logic to a controller. I haven't shared it publicly yet because I want to make sure it's in alignment with whatever we decide for https://github.com/kubernetes/kubernetes/issues/18333. We're planning on closing on https://github.com/kubernetes/kubernetes/issues/18333

[2015-12-30 00:16] vpal commented on #13868
Are there any plans to implement the RunAsGroup besides the SupplementalGroups option?
(I see that SupplementalGroups is available in the current tree, but I was not able to get it working with 1.1.2 though, but haven't spent a lot of time with it yet.)

It really does not seem to make any sense to me to be forced to run as gid 0 and only be able to provide the user a container should run with.
So

[2015-12-30 00:17] saad-ali commented on #15524
I have a preliminary detailed design doc to move attach/detach logic to a controller. I haven't shared it publicly yet because I want to make sure it's in alignment with whatever we decide for https://github.com/kubernetes/kubernetes/issues/18333. We're planning on closing on https://github.com/kubernetes/kubernetes/issues/18333 next week (Storage SIG meeting 11 AM PST Jan 5). Once that happens, I

[2015-12-30 00:23] thockin commented on #12399
@childsb will you be in Raleigh next week?

On Tue, Dec 29, 2015 at 4:15 PM, Saad Ali <notifications@github.com> wrote:

[2015-12-30 00:35] caesarxuchao commented on #16395
ref #19018. If we take #19018's approach, then we can let the swagger show the "apiVersion" field.

[2015-12-30 00:49] caesarxuchao commented on #19018
I assuem if a codec's schema doesn't have extensions/v1beta1, it should be smart enough to decode a `v1beta1 Status` returned by the server to `v1 Status`, right?

[2015-12-30 01:09] suryaveerc commented on #18933
Hi,

I'll try to give as much detail as possible:

1. Installed K8s on Openstack following [K8s on CoreOS] (http://kubernetes.io/v1.1/docs/getting-started-guides/coreos/coreos_multinode_cluster.html ). 1 Master Node, 2 Minion Nodes.
2. Created few services (mysql, redis, tomcat, opensips).
3. Mysql, redis, tomcat are all accessed by Opensips.
4. Only Opensips is exposed to outside world.
5. Opensi

[2015-12-30 01:11] thockin commented on #15624
Seems fixed now

[2015-12-30 01:11] #15624 closed

[2015-12-30 01:13] #16139 closed

[2015-12-30 01:19] ixdy commented on #18335
Haven't seen any failures in the last week. Lowering priority.

[2015-12-30 01:22] xiang90 commented on #18928
@wojtek-t The race comes from go httptest lib itself. See https://github.com/golang/go/issues/12262. It is still in go 1.5 but fixed in go tip.

I do not know what should we do actually. Do you want us to work around this?

[2015-12-30 01:27] moserke commented on #11543
https://github.com/Nordstrom/kubernetes/commit/a2a2e13ee15ff6d0346df0d9f2570f07bb495741 takes a different approach and uses instance-id, which is more expected with AWS.  Welcome conversation on this suggested fix.

[2015-12-30 01:44] jtblin commented on #11543
As explained in #17643, using the instance-id does not work as the api server uses the node name for some commands like `logs` to access the container on the node, see conversation in the PR and #18525.

[2015-12-30 02:21] HackToday commented on #19132
@saad-ali  glad to know someone is working on the important issue. Will keep tack of it

[2015-12-30 02:22] moserke commented on #11543
This approach does not change the node name, only the externalID and providerID.  That way, things that still rely on the local-hostname as the nodeName still continue to function, like logs.  Seems like #17643 changed the node name to the instance-id as well, which caused problems.  This was more an attempt to make externalID/providerID be like a remote key to AWS, and used for that only.

[2015-12-30 02:32] AdoHe commented on #19159
@thockin Ok, I see that. We are using docker, it's ok.

[2015-12-30 02:37] moserke commented on #11543
It keeps all of the changes encapsulated in the aws.go cloud provider so that other cloud providers can continue to work as the would normally with the node name.  Just does verifications in the provider to make sure the instance it is running on is the node name that was passed in.  Moves the abstraction away from relying on the nodeName to look up anything in aws.

[2015-12-30 02:53] AdoHe commented on #19171
@yossi-cohen yes, you can use host network mode if you specified in the pod spec. Besides what's your kube version?

[2015-12-30 02:56] AdoHe commented on #18174
@thockin I gave a possible solution to support multiple api servers in this issue #19152 what do you think?

[2015-12-30 04:07] jtblin commented on #11543
Ok, I don't know the code well enough to comment tbh. Note that the changes I made are also encapsulated in the `aws.go` provider only, and touch less code overall. That said I don't have a strong opinion, as long as it works :)

[2015-12-30 05:29] bprashanth commented on #19155
I tracked down the issue:
1. We're right at the border of backend quota. The test currently uses 3. If there's even a single backend leaked, every test thereafter will fail because of quota.
2. Sometimes a run hangs on a request. This seems like a GCE bug since a GET should never hang. I'll need to dig and try a repro.
3. When it hangs the build times out and kills the cluster, leaking resources.

[2015-12-30 05:31] wienczny commented on #19122
I'm already using both service types. The headless ones are useful to resolve pod ips for my mysql-galera-nodes.
The problem I was starting this thread for was making the galera cluster available to customers using their own namespaces. As DNS is declared as "addon" I did not see it as best solution for the problem.
The initial problem was my understanding of term "addon" and issues with the dns a

[2015-12-30 05:31] #19122 closed

[2015-12-30 05:39] mzupan commented on #18652
So I'm not trying to debug code and this line

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/metrics/metrics_client.go#L133

If i add the following above it

[code]

I get the following

[code]

Going to try to dig in why that is empty.

[2015-12-30 05:49] thockin opened #19184 "BoolFlag is a clumsy UX"
It acts like a boolean flag but requires an argument, unlike boolean flag is pretty much every environment.  We need to find a better way to express the things that this is expressing.  Maybe a add a tristate to the pflag lib that behaves the same way but doesn't demand an argument?

[2015-12-30 06:12] thockin commented on #15634
On Thu, Oct 29, 2015 at 1:00 AM, Harry Zhang <notifications@github.com> wrote:

As discussed elsewhere - good :)

This is borderline useless - no comments and no tests.  I shake my
fist at you @smarterclayton!  We should move this to
cmd/kube-apiserver/app where it is used.

We can probably remove the kube-proxy call to this lib, which leaves
just kubelet.  What do you think @vishh?  This can just

[2015-12-30 06:19] thockin commented on #16585
Is this issue still open?  Are you still having trouble?

[2015-12-30 06:19] thockin commented on #16585
Please reopen, if so.

[2015-12-30 06:19] #16585 closed

[2015-12-30 06:25] resouer commented on #15634
Thanks, Tim, I was once planning to post a new design here.

[2015-12-30 06:27] wojtek-t commented on #18928
@xiang90 - thanks a lot for investigating it.
It would be great it if we could somehow work around it, because it is often blocking our merge queue.

Since this is just test code, maybe some "sleep" before closing etcd server would be enough?

[2015-12-30 06:30] xiang90 commented on #18928
@wojtek-t It is not about etcd server. There is a httptest server. Accepting requests while closing will lead to the race. We need to ensure there is not more NEW request coming before close the httptest server. So probably we should stop all clients, wait for a while (sleeping...) and then close the server.

[2015-12-30 06:32] thockin commented on #19122
Thanks.  It startd as an addon but it quickly became clear it was the
preferred way to operate, and so we'll be tightening the integration up.

On Tue, Dec 29, 2015 at 9:31 PM, Stephan Wienczny <notifications@github.com>
wrote:

[2015-12-30 06:48] qq511700505 opened #19185 "Add support for ppc64le arch in kube-build image"
we are trying build kubernetes binaries with docker on ppc64le . But the Dockerfile in /build/build-image/ gets etcd binary by downloading 'etcd-$ETCD_VERSION-linux-amd64.tar.gz' (Line 37-43)

we consider  it will be better if change it into getting the source code of etcd and building binary according to  current architecture.

[2015-12-30 07:12] wojtek-t commented on #18928
Yes - that's what I had in mind.
All the tests are showing that the issue is only watch requests.
What I've done here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/etcd/etcd_watcher.go#L472
was supposed to ensure that no new requests will be issued to httptest server.

Also, all watchers is tests should now be explicitly Stopped() before the end of the test (before closing of h

[2015-12-30 07:15] gmarek opened #19186 "unit flake: k8s.io/kubernetes/contrib/mesos/pkg/runtime"
It failed on #19142

[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/1df78a239879db73d6ca831e850c289e38393a8b/kubernetes-pull-test-unit-integration/7637/build-log.txt

cc @wojtek-t @kubernetes/kube-mesos

@sttts - please fix or reassign.

[2015-12-30 07:22] AdoHe commented on #19171
@yossi-cohen by default, kubernetes will allow pod from all sources(`File`,`HTTP`,`apiserver`) to use host network, from the event you past, I guess the pod source is mismatched, what's your kube version, and how you create the pod?

[2015-12-30 07:28] wojtek-t commented on #18960
I agree that it's probably more than 5%...

I've seen this problem multiple times during the day, and IIUC there weren't any github issues at that time.
Maybe just retrying on failure from github would help?

[2015-12-30 07:36] xiang90 commented on #18928
@wojtek-t

I checked the log here: https://gist.github.com/wojtek-t/9f5e23b714b876c140f7

I expect to see https://github.com/kubernetes/kubernetes/pull/19158/files#diff-3873aaf6d0eff7554d081a4b7bebeae3R463 printed out before `closing client connections`. Seem like we fail to close the watcher before close server?

[2015-12-30 07:44] xiang90 commented on #18928
@wojtek-t Also checked the stop code in https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/etcd/etcd_watcher.go. I feel it is OK.

[2015-12-30 07:48] wojtek-t commented on #18928
The first link that I pasted was before I added this "closing watcher" log - I realized that it would be needed later and after that the only failure that I reproduced was the second one (where the logs seem ok)

[2015-12-30 07:48] gmarek commented on #18969
It turns out that it happens even on a 100 node cluster:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/3725/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/3724/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/3721

It started to happen after increasing verbo

[2015-12-30 07:49] wojtek-t commented on #18960
This has just happened to me:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/baf97c9c5e51b1208e9f8fdaa05f780a636204b0/kubernetes-pull-test-unit-integration/7643/?debugUI=DEVELOPERS

There doesn't seem to be any github issues now...

[2015-12-30 07:51] wojtek-t commented on #18969
My feeling is that it's not strictly related to logs verbosity - it seems that sometimes some Kubelets fail to register themself. It's obviously more probably in scalability tests, because there are way more Kubelets there, so bigger change for the failure...

[2015-12-30 07:55] xiang90 commented on #18928
@wojtek-t So the only issue is the TestList one right now?

[2015-12-30 08:00] Smana commented on #18174
+1

[2015-12-30 08:00] xiang90 commented on #18928
@wojtek-t Basically what happened is that we cancel ctx passed into etcd.watch. But in etcd client the cancellation is done asyn (standard library only provides async http request cancellation). So you can see a get request after next is finished. A quick fix would be just sleep for a while.

[2015-12-30 08:02] xiang90 commented on #18928
If you want to be sure, probably you need to provide a customized transporter to etcd which ensures the http cancellation is sync.

[2015-12-30 08:14] AdoHe opened #19188 "Add a pull secrets manager to cache duplicate secrets"
FYI. we should add a secret manager to store the pull secrets for different namespaces. Thus for duplicate secrets, we have no need to talk to api server. Actually I am working on this manager, but I have no idea about when to remove a secret.

[2015-12-30 08:15] wojtek-t commented on #18928
@xiang90

@wojtek-t So the only issue is the TestList one right now?

No - there are other tests failing too, but all of them are failing with exactly the same trace.

@wojtek-t Basically what happened is that we cancel ctx passed into etcd.watch. But in etcd client the cancellation is done asyn (standard library only provides async http request cancellation). So you can see a get request after ne

[2015-12-30 08:26] fgrzadkowski opened #19189 "e2e flake: Reboot [Disruptive] each node by ordering unclean reboot and ensure they function upon restart (influxdb crash looping)"
This failed 5 times in the last 12 hours. Last failure:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/9752/

@kubernetes/goog-node

[2015-12-30 08:27] yossi-cohen commented on #19171
Thanks for the quick response.
I've finally managed to overcome the problem by modifying ~/kubernetes/cluster/ubuntu/util.sh:
I'v added **'--allow_privileged=true'** to KUBE_APISERVER_OPTS
and **'--allow_privileged=true --host-network-sources=*'** to KUBELET_OPTS

*my 'worker-rc.yml' (including the __hostNetwork: true__) looks like this:*

    apiVersion: v1
    kind: ReplicationController
    met

[2015-12-30 08:28] Smana commented on #18868
[code]

The first log is
[code]

However this container is running
[code]

When i request the stats page i get strange characters
[code]
However the container exists
[code]

[2015-12-30 08:29] fgrzadkowski opened #19190 "e2e flake: Reboot [Disruptive] each node by ordering clean reboot and ensure they function upon restart"
This failed 4 times in the last 12 hours. Last failure:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/9748/

@kubernetes/goog-node

[2015-12-30 08:30] fgrzadkowski opened #19191 "e2e flake: Reboot [Disruptive] each node by dropping all inbound packets for a while and ensure they function afterwards"
This failed 2 times in the last 12h. Last failure:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/9748/

@kubernetes/goog-node

[2015-12-30 08:31] fgrzadkowski opened #19192 "e2e flake: Reboot [Disruptive] each node by switching off the network interface and ensure they function upon switch on"
This failed 2 times in the last 12 hours. Last failure:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/9730/

@kubernetes/goog-node

[2015-12-30 09:10] AdoHe commented on #19171
@yossi-cohen actually you just need to add `allow_privileged`, by default `host-network-sources` is `*`. Actually I don't get the point why you have to use `host` network mode. the multicast packets are special so they have to be handled within the default network namespace?

[2015-12-30 09:52] wojtek-t commented on #18928
It seems that answer for my question above:

So what you are saying is that, even though the Next() call is already finished, etcd client library can still issue some request to etcd?

is yes.

For me this seems like a real bug (https://github.com/golang/go/issues/12262 is unrelated to that).

I think that we have 3 options:
1. add Sleep() just before terminating http server:
https://github.com/ku

[2015-12-30 09:58] fgrzadkowski commented on #19188
Is this supposed to be a manager running in kubelet?

[2015-12-30 09:59] fgrzadkowski commented on #19188
@kubernetes/goog-node

[2015-12-30 10:05] fgrzadkowski commented on #19181
Can you please check permissions of your GCE VM? There should be section called "Permissions" and "Storage".

[2015-12-30 10:06] fgrzadkowski commented on #19181
@kubernetes/goog-gke

[2015-12-30 10:08] wojtek-t commented on #19141
Yes - it's pretty flaky.

Looking into failures it seems that in the expected situation we have:
- single etcd server on port 4001

But when the test is failing we have:
- etcd server on port 4001 (expected):

        Server{Addr:"", Port:4001, Path:"/health", EnableHTTPS:false, Validate:(apiserver.ValidatorFn)(0xb9d330)}
- another etcd server on a random port

        Server{Addr:"127.0.0.1", Por

[2015-12-30 10:08] fgrzadkowski commented on #19180
@kubernetes/goog-node From the description it looks like a problem in node, but feel free to reassign.

[2015-12-30 10:09] fgrzadkowski commented on #19176
@kubernetes/goog-csi

[2015-12-30 10:11] fgrzadkowski commented on #19171
@kubernetes/goog-cluster

[2015-12-30 10:15] fgrzadkowski commented on #19161
@kubernetes/goog-csi

[2015-12-30 10:15] fgrzadkowski commented on #19152
@kubernetes/goog-node

[2015-12-30 10:16] fgrzadkowski commented on #19159
@kubernetes/goog-cluster

[2015-12-30 10:18] fgrzadkowski commented on #19144
@kubernetes/goog-control-plane

[2015-12-30 10:18] fgrzadkowski commented on #19098
@bbgw Can you please send a PR which fixes it?

[2015-12-30 10:19] fgrzadkowski commented on #19096
What data do you mean? If you'd like to persist the data then they should be written to a persistent storage like GCEPersistentDisk (or equivalent).

[2015-12-30 10:22] fgrzadkowski commented on #19096
Also - can you please open a stackoverflow question for this? Please see this document for more ways to seek help/advise:

https://github.com/kubernetes/kubernetes/blob/master/docs/troubleshooting.md

[2015-12-30 10:22] #19096 closed

[2015-12-30 10:23] fgrzadkowski commented on #19077
@kubernetes/goog-ux

[2015-12-30 10:25] fgrzadkowski commented on #19075
@kubernetes/goog-node

Can you please post the following information:
* cloud provider (GKE?)
* os
* kube version

[2015-12-30 10:26] yunzhonghe71 commented on #19096
ok，thanks

[2015-12-30 10:44] wojtek-t commented on #19141
I think I understand what is happening here. Will send a PR fixing this soon.

[2015-12-30 11:01] yossi-cohen commented on #19171
My problem is that the **multicast sender** is **not part of the cluster.**
If I'm running my pods inside the default network I don't get the multicast packets.
*(not cleared to me why)*
Is there a way to get the multicast packets while running my pods in the default network?

[2015-12-30 11:25] wojtek-t commented on #18928
@xiang90 - or even better, would it be possible to guarantee that when Next() finishes, no http request will be issues to etcd?

[2015-12-30 12:59] wojtek-t commented on #19067
This test is incorrect. I will try to fix it.

[2015-12-30 15:21] #19141 closed

[2015-12-30 15:27] wojtek-t commented on #19167
And also: https://github.com/kubernetes/kubernetes/issues/19151
[Looking into that issue, I think I've seen a different failure coming from that package]

[2015-12-30 15:44] tacy opened #19201 "rdb: failed to setup"
ENV: Kubernetes 1.1.2 / Centos7.1

I couldn't add rbd volume to pods using secret mode, error info:

[code]

my secret yaml:
[code]

pod yaml:
[code]

In https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd_util.go#L231,  These is execute rbd map image,  but I couldn't find param `--key` at the manual of rdb ,  I don't understand why using it?

I could add rbd volume to pod by k

[2015-12-30 15:49] xiang90 commented on #18928
@wojtek-t

That requires etcd/client to count the number of in-flight HTTP requests. Not sure if that worth the effort in general. We have no way to know if the http request is sent out. The HTTP cancellation in golang is just a hint by default and will return immediately.

I am not sure why you even want to care about that other than the httptest server will report a race due to its internal impl

[2015-12-30 15:54] #19067 closed

[2015-12-30 15:56] moserke commented on #11543
OK, yeah, looking through yours again, it is a bit more surgical to solve the specific need.  I do have some minor issues with switching the kubernetes node name to an IP address, but that is more a symptom of what I think is the bigger problem which is nodename is overloaded in this case and really externalID/providerID should be used everywhere in reference to finding the object in the cloud pro

[2015-12-30 16:21] wojtek-t commented on #18928
What I would like to avoid is the situation when Next() finishes and still we can issue some request.

[2015-12-30 16:45] brendandburns commented on #18794
Re-opening this as it just flaked @ head:

.../job/kubernetes-test-go/5325/

[2015-12-30 17:13] wojtek-t commented on #18794
cacher_test.go:302: Unexpected error: too old resource version: 4 (5)

This is a different issue than the original one (that I fixed), although the error is similar (I mean the original issue was in initialization, this one is in the middle/end of a test).

[2015-12-30 17:14] wojtek-t opened #19202 "unit flake: TestWriteEventError"
event_test.go:460: case retry1: wanted 12, got 0 attempts

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/5326/

[2015-12-30 17:15] wojtek-t commented on #18928
But yeah - if can solve it with passing a different transport, I'm fine with that.

[2015-12-30 17:23] smarterclayton commented on #15634
I think that was my first Kube commit, so I claim newbish.

[2015-12-30 17:53] spxtr commented on #18960
Set PR Jenkins SCM checkout retry count to 3 (It's under Manage Jenkins > Configure System). I have a feeling this won't work completely since we tend to get bursts of these failures, but it should help.

[2015-12-30 17:54] moserke commented on #11543
@jtblin do you use public IP addresses on your nodes?  I'm having an issue with ```func (aws *AWSCloud) NodeAddresses(name string) ([]api.NodeAddress, error) {``` because it tries to get a public IPV4 address which errors out.  That was part of the change I needed to make.

I had to modify it not to error if can't get the IP addresses, but to just throw an error if both addresses could not be foun

[2015-12-30 18:08] polvi commented on #18735
I heard there was recently a demo of some approaches at this during a community meeting. Are there any notes for that?

[2015-12-30 18:09] xiang90 commented on #18928
Well... We want to avoid the other side over the network receiving a request after cancel of request returns. This is not what normal transport implementation wants to achieve. It means we have to wait the ack from the other side once the request sent out over the network. For the cancellation, normally we just want to unblock the sender from sending or waiting.

[2015-12-30 18:19] wojtek-t commented on #18928
Sure, I agree. But we should be able to gracefully terminate the test - currently we can't do it.

[2015-12-30 18:52] xiang90 commented on #18928
@wojtek-t For that purpose, I would suggest to have a transport(https://golang.org/pkg/net/http/#Transport) that counts the current opening connection by overwrite the dial func, add a tr.Terminate funcs that close all ongoing connections and also stop accepting new ones. That should not be hard to do.

[2015-12-30 19:00] wojtek-t commented on #18928
@xiang90 - would you be able to do that? I'm just leaving for paternity leave and will be OOO for ~month.

[2015-12-30 19:07] xiang90 commented on #18928
@wojtek-t OK. I will try.

[2015-12-30 19:09] yifan-gu opened #19204 "cadvisor cannot process containers created by rkt"
Debugging a cluster with rkt as container runtime. See a few error messages from cadvisor, for example:
[code]

Full logs [here](https://gist.github.com/yifan-gu/3e8f3baf0fea48f7e8dd)

cc @dchen1107 @vishh @jonboulle

[2015-12-30 19:10] wojtek-t commented on #18928
@xiang90 Thanks a lot!
@gmarek please help @xiang90 with reviewing, etc.

[2015-12-30 19:11] wojtek-t commented on #18794
I have no idea what is happening here.
I've sent out PR extending logging for debugging purposes out for review - #19203

[2015-12-30 19:12] yifan-gu commented on #18928
@wojtek-t Congrats!

[2015-12-30 19:12] wojtek-t commented on #18928
@yifan-gu thanks!

[2015-12-30 20:04] dinvlad commented on #19181
Good catch! I had to enable 'https://www.googleapis.com/auth/devstorage.read_only' under oauthScopes[] in my deployment template and now it works well:
https://cloud.google.com/container-engine/reference/rest/v1/projects.zones.clusters#NodeConfig

[2015-12-30 20:04] #19181 closed

[2015-12-30 20:11] spxtr commented on #19155
It looks like there's no Timeout set for the default http client used [here](https://github.com/kubernetes/kubernetes/blob/eeb727afd39ed04b9ac794edfa5561d65a67a905/test/e2e/ingress.go#L524).

[2015-12-30 20:34] spxtr commented on #18960
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/7715/console

Tried three times and it worked on the third. I still have no idea why this is happening on this job and not the others, but it should cause fewer red lights with the retries.

[2015-12-30 21:08] luxas commented on #19185
@qq511700505 @fgrzadkowski  I'm working on this right now... Will send a PR soon

Related: #17981

[2015-12-30 21:08] #18958 closed

[2015-12-30 21:27] huggsboson commented on #18239
@fgrzadkowski @runseb @2opremio I confirmed that kubernetes/kubernetes#19069 fixed my secret mounting issues in docker-machine.  I was using docker 1.9.1.

[2015-12-30 21:53] bprashanth commented on #1589
2. Setup networking
3. Initialize volumes
4. Start the "init" container and let it run to completion

Inline with Eric's system vs user init container idea, can we drive 2 and 3 through init containers too? Eg: all pods could get a base init container that contains networking plugin binaries, runs with --privilege, host networking and has /proc mounted in. When invoked it will perform a CNI ADD. W

[2015-12-30 21:54] wojtek-t commented on #18794
The log from failure;

    E1230 21:37:19.586059   18906 cacher_test.go:309] cached event: MODIFIED &api.Pod{TypeMeta:unversioned.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:api.ObjectMeta{Name:"foo", GenerateName:"", Namespace:"ns", SelfLink:"", UID:"", ResourceVersion:"5", Generation:0, CreationTimestamp:unversioned.Time{Time:time.Time{sec:0, nsec:0, loc:(*time.Location)(nil)}}, DeletionTimesta

[2015-12-30 21:55] thockin commented on #18933
On Tue, Dec 29, 2015 at 5:09 PM, suryaveerc <notifications@github.com> wrote:

Right, the UDP load-balancer PR is not merged yet.  Damn.  To do this
you must have changed the cluster's service node port range - it
defaults to 30000-32767, right?

same IP space or is it crossing virtualization planes or rfc1918
edges?  I'm trying to avoid node port because I think I see what is
happening.  Let's se

[2015-12-30 22:09] smarterclayton commented on #1589
If we do, those init containers have to be appropriately secured and
controlled.

On Wed, Dec 30, 2015 at 4:53 PM, Prashanth B <notifications@github.com>
wrote:

[2015-12-30 22:10] smarterclayton commented on #19018
I think we would require that all versions declare which internal schema
maps to their type.  If the server doesn't declare which type maps to
status (and possibly the kind name `Status` itself should be
parameterizable in a group), then the API server would refuse to start.

On Tue, Dec 29, 2015 at 7:49 PM, Chao Xu <notifications@github.com> wrote:

[2015-12-30 23:11] spxtr commented on #19064
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/22144/

[2015-12-30 23:58] thockin commented on #12534
The kube_master_url flag should not be needed if you have ServiceAccounts
configured properly.

On Thu, Dec 17, 2015 at 11:35 AM, kcraft <notifications@github.com> wrote:

[2015-12-31 00:03] thockin commented on #18788
The steps are:

Reconfigure the nginx forwarder that services k8s.io to redirect to the
newer github branch.

I don't think we should document that here because it is very much an
internal-only thing.  Do we have an internal doc?  I would be happy to
document there :)

On Thu, Dec 17, 2015 at 1:33 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2015-12-31 00:21] nikhiljindal commented on #170
Yes @JeanMertz the above current status and remaining work are still true.

[2015-12-31 00:33] spxtr commented on #18704
Ran into this on 1.0 branch.

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/22149/console

[2015-12-31 00:54] sjpotter opened #19209 "persistent volume claims get assigned to the same pv when created quickly"
I don't know if this is only a problem because I'm using hostPath for persistent volume testing / learning, but I've noticed that if I create N persistent volumes and then create N claims quickly (either in a for loop or just by loading a directory full of yml files) that the claims do not get assigned to individual persistent volumes but multiple claims can be assigned to one (or all to one in so

[2015-12-31 01:53] softdevelophd commented on #18624
how did you fix @ericandrewlewis ?

[2015-12-31 03:41] AdoHe commented on #18868
@Smana how you ever tried use https:
[code]
I tried this on my laptop, of course I use kube v1.1.3, I just get 200.
For this log:
[code]
I believe it is thrown by cadvisor, if your colleague can work well, I guess this is a bug of cadvisor.

[2015-12-31 03:48] AdoHe commented on #19171
@yossi-cohen AFAIK, you just want to make the multicast sender(which is not part of the kube cluster) can communicate with multicast receivers which are kubernets pods. I think you have no need to run your pods in host network(if the multicast has to, I am afraid you have to), you can run in the default network but you have to make sure the iptables rules are ok.

[2015-12-31 04:09] cheyang opened #19211 "Moving kube-proxy out of kube node"
Current Kubernetes Deployment Mode is putting Kubelet and Kubeproxy together in the same kube node, I tried to move the kube-proxy out of the node and put it into the Service gateway node which doesn't have Pod on that.
![kube diagram](https://raw.githubusercontent.com/cheyang/kubernetes_cd/master/kube.jpg)
The configuration in Node  is like this:
[code]
This can work.  Here are my thoughts of thi

[2015-12-31 05:05] thockin commented on #19211
This is a viable way of implementing networking, I think, though I certainly have not tried it.  However:

1) you lose the HA aspect of the proxy being distributed (as you point out)
2) L2 (as you point out)
3) in the newer iptables mode the overhead of kube-proxy is very low, so this will surely perform worse
4) node-management of a new kind of "special" machine.

The only real requirement for Se

[2015-12-31 05:05] thockin commented on #19211
I'm happy to leave this issue open for a while to collect feedback, but I don't think this is something we will be doing in the default implementation.

[2015-12-31 05:14] thockin commented on #19171
I've never tried to use multicast across docker, but some quick googling
says it should work.

On Wed, Dec 30, 2015 at 7:48 PM, TonyAdo <notifications@github.com> wrote:

[2015-12-31 05:35] brendandburns commented on #19176
This flaked in Jenkins as well.

[2015-12-31 06:19] thockin commented on #18333
re: Docker volumes

Docker volumes have a distinct advantage of letting us share drivers with Docker, which is a net win for anyone writing drivers.  I have not written a driver myself but my understanding is:
 - run a daemon
 - implement a JSON-RPC endpoint in that daemon
 - drop a UNIX socket or other pointer to your daemon into a dir
 - receive a handful of commands on the socket, react

Issues

[2015-12-31 06:26] ericandrewlewis commented on #18624
@softdevelophd I upgraded my OS, see [kubernetes/dashboard#170](https://github.com/kubernetes/dashboard/issues/170) for the properly filed ticket and discussion

[2015-12-31 06:26] AdoHe commented on #19211
@cheyang I did some real tests about kube-proxy, I think it is quite ok if your cluster size is not that big. Your solution is a viable way, but to replace local proxy with center proxy is a big concern, for this case I prefer use other proxy solutions, like haproxy.

[2015-12-31 06:51] wojtek-t commented on #18794
OK - thanks to the logs, I managed to understood what was happening here. It's a test issue.
Will send a fix soon.

[2015-12-31 06:55] cheyang commented on #19211
@thockin and @AdoHe , thanks for your quick response.  It's helpful.

@AdoHe , I'd like to use several gateway nodes for  sharing the traffic. For example, 5 or 10 nodes share 1 gateway node. But I agree that the cluster management effort is not small.

[2015-12-31 07:00] thockin commented on #19211
In general we will have this tradeoff for lots of things.

Distributing work out to each node costs more resources in total, but
offers latency and HA and simplifying properties.  proxy, DNS, API proxy,
watch cache, etc.

On Wed, Dec 30, 2015 at 10:56 PM, cheyang <notifications@github.com> wrote:

[2015-12-31 08:13] so0k commented on #10386
Is there any reason not to change `cluster/addons/dns/skydns-rc.yaml.in` to use the `skynetservices/skydns:2.5.3a` image from [docker hub](https://hub.docker.com/r/skynetservices/skydns/tags/) instead of the gcr.io image?

[2015-12-31 08:19] AdoHe commented on #19211
@thockin good point :+1:

[2015-12-31 08:30] AdoHe opened #19214 "kubelet add a version endpoint"
FYI. I am not sure whether the kubelet must have the same version as apiserver, but I just can't find a way to get the kubelet version when I must debug different kubelet versions.

[2015-12-31 08:35] #18794 closed

[2015-12-31 09:55] alexkappa commented on #16412
+1 I'm experiencing the same difficulty.

[2015-12-31 10:26] shenshouer commented on #18196
It`s ok int 1.1.3 release

[2015-12-31 10:26] #18196 closed

[2015-12-31 11:32] fgrzadkowski opened #19217 "`kubectl get nodes` totally unreadable"
I've just started e2e cluster. Output of `kubectl get nodes` doesn't fit my 24" screen :/

[code]

This is totally unreadable!

@kubernetes/goog-ux (assigning to @bgrant0607 as a TL of our UX team)

[2015-12-31 14:01] jonboulle commented on #19204
should we track this in google/cadvisor#858?

[2015-12-31 14:50] resouer commented on #15634
@thockin Two questions:

1. Are we talking about removing usage of `ResourceContainer` in proxy's config? Why it is useless may I ask?
2. There are still plenty of codes in `util.go` , how should we deal with them? Find a proper directory (maybe not so easy ... )?

[2015-12-31 15:14] tacy commented on #19201
Selinux cause volume readonly problem, reference link: http://www.projectatomic.io/blog/2015/06/using-volumes-with-docker-can-cause-problems-with-selinux/

[2015-12-31 16:14] suryaveerc commented on #18933
@thockin

you must have changed the cluster's service node port range - it
defaults to 30000-32767, right?

Yes, I changed the defaults.

edges?  I'm trying to avoid node port because I think I see what is
happening.  Let's see if we can piece it together.

Clients are on same network as Openstack.

to break it, but failed.  The kernel is smart enough to un-NAT before
applying rules, so the loop d

[2015-12-31 17:06] thockin commented on #15634
1) proxy normally runs as a container now

2) one at a time, find better homes.  Not easy, but we can just keep
chipping away at it.
On Dec 31, 2015 6:50 AM, "Harry Zhang" <notifications@github.com> wrote:

[2015-12-31 17:22] dstynchula opened #19219 "Dockerhub image pull documentation is incorrect in the user guide as of 12/31/2015"
The documentation says to create a secret by taking the output of docker login from ~/.docker/config.json  ,base64 the json and place it as a string into a secret.yaml. After a lot of wrangling, we found it necessary to remove the auth wrapper in the json as well as all of the spaces in the json leaving a single line for this authentication mechanism to work. Maybe the docker login config.json for

[2015-12-31 17:25] dstynchula commented on #19219
The resulting config.json looked like this:
{"https://index.docker.io/v1/":{"auth":"<SHA REDACTED>","email":"<EMAIL REDACTED>"}}

Base64'ing this string resulted in successful authentication to dockerhub and permitted us to pull down an image.

[2015-12-31 22:10] thockin commented on #18933
I still don't understand what was happening - what you describe "the
response was sent to IP of Kubeproxy and some port(5060 in this case) that
has rule set on Node" should not trigger iptables until AFTER NAT is
resolved.

If you have a way to repro it , I'd like to try

On Thu, Dec 31, 2015 at 8:14 AM, suryaveerc <notifications@github.com>
wrote:

[2015-12-31 22:11] mbmccoy commented on #12167
Bump.

I just had this problem, and I would put it under "Other/Unknown" given the sparsity of our metadata/keys.

It happened after GKE created some extra oddly-named pods during a rolling-upgrade. (They had names like `usual-name-6d494c8ca4d9becd7e3e3d9d2ae000ba-uax4d`. The long hash in the middle is unusual, the short trailing nonce is standard.) I nuked these extra pods and then couldn't view

[2015-12-31 22:21] thockin commented on #10386
Their image used to be huge but now it's from busybox, so very reasonable.

I am still worried about us officially releasing a product that pulls
images that we don't control.  It's not that I don't trust people, it's
just that we've seen git hashes get obliterated by well-intentioned changes
(hence we vendor deps), and we've seen docker hub tags get re-written or
disappear.

It is my opinion that

[2015-12-31 22:24] mbmccoy commented on #13488
I'm a fan of this feature. Use case: Easily upgrade all the pods to use a newly-pushed docker image (with `imagePullPolicy: Always`). I currently use a bit of a hacky solution: Rolling-update with or without the `:latest` tag on the image name.

[2015-12-31 22:30] thockin commented on #19167
This needs to be a drop-everything situation.  It's really bad.

[2015-12-31 22:39] dmag commented on #18230
This also affected me on Fedora 23.

I paused for a long time before running that docker container because I'm not sure why kubernetes needs all those permissions, and which ones are optional. (This should be at least documented.)

I'd be much happier with "safe" docker instructions, even if it limits some features.

[2015-12-31 22:56] suryaveerc commented on #18933
@thockin
I can reproduce it anytime. Let me know what details you want to see.

Thanks.

[2015-12-31 23:01] thockin commented on #18933
I need the simplest step-by-step repro you can come up with, please.

Thanks!

Tim

On Thu, Dec 31, 2015 at 2:56 PM, suryaveerc <notifications@github.com>
wrote:

[2015-12-31 23:32] jdef commented on #18333
+1 for keeping plugin code in-tree.

$0.02: The Kubernetes-Mesos project used to be an external repo and
vendored the k8s source tree. It was *very* hard to keep up with the pace
at which k8s moves. We (the k8s-mesos team) have been much happier since
pushing the project into the k8s source tree, even if it does live in
contrib/ and isn't compiled by default for everyone. In addition to more
eyeba

[2016-01-01 04:20] pwais opened #19221 "Ubuntu support broken on master (and likely several prior releases)"
I was mostly following this guide, which seems to be either deprecated and/or broken:
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md

One key bug, one of the scripts references the wrong Github account, fix:

[code]

But I still can't `kube-up.sh`:

[code]

I had more luck with v1.0.0 except that kube-proxy failed to launch on my minion because of an inc

[2016-01-01 04:20] pwais commented on #19221
FWIW this is master @ 7743a4ca8916a9e8acac481550ddc0ac813b42b1

[2016-01-01 08:49] suryaveerc commented on #18933
@thockin

Wish you a very Happy New Year.

Sorry for the delay. Below is the simple scenario to reproduce it.

Application A listens on port 5060 running in a POD(P) exposed port 5060.
Nodeport service (N) created, exposed port 5060.
NAT rule to forward request to KubeProxy(KP) some random port (say 34567)
Client (C) connects from port 5060.
KP forwards to Pod from some another random port (say 45

[2016-01-01 09:40] wojtek-t commented on #19167
Agree - I already fixed some of them and debugged some, but there is more to be done here.

[2016-01-01 10:53] alexisvincent commented on #19075
GKE
Master Version: 1.1.3
Node Version: 1.1.3
Not sure exactly what GKE uses as OS

[2016-01-01 11:50] bprashanth commented on #19155
@spxtr I'm ooo till the 7th and it seems like my desktop has gone offline. If this needs a fix please ASAP replace the default http client with something like:
[code]
I'll investigate the suspicious hangs when I get back.

[2016-01-01 12:34] wojtek-t opened #19223 "unit flake: TestPoll pkg/util/wait/wait_test.go"
wait_test.go:95: Expected exactly one tick, got 0

Example failure:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/5419/

[2016-01-01 12:34] wojtek-t commented on #19167
And also: https://github.com/kubernetes/kubernetes/issues/19223

[2016-01-01 12:43] bprashanth commented on #19155
nevermind, I was able to do it through a backup vm. Please review https://github.com/kubernetes/kubernetes/pull/19224

[2016-01-01 13:02] bprashanth commented on #19075
Hmm,@lexisvincent can you consistently reproduce? might be related to https://github.com/docker/docker/issues/14203 (though a connection reset error is too broad to point fingers)

[2016-01-01 13:03] bprashanth commented on #19075
I meant @alexisvincent

[2016-01-01 14:39] wojtek-t commented on #19223
And another similar, but different:

wait_test.go:111: Expected exactly one tick, got 0

[2016-01-01 14:57] alexisvincent commented on #19075
My thoughts too. I could when I had the issue. Haven't tested since. I will try again when I'm home

[2016-01-01 15:08] alexisvincent commented on #19075
I just tried on 2 clusters (one of the the same as before) and couldn't reproduce. Also I think the issue manifested on a previous version of kubernetes. 1.1.2 I've since upgraded the cluster to 1.1.3

[2016-01-01 17:26] therc commented on #19033
For our use case, the primary benefit would be locality and reduction in Internet traffic. Although we're experimenting on AWS, we have a colo where we'll run containers as well. You could also envision carving a cluster in two, with only one set of machines being able to talk to the outside world (and running a sanctioned list of services that includes the registry). Ideally, multiple local regis

[2016-01-01 22:40] cpwais commented on #11711
Still seeing this problem on master @ 92463a2435342a5d27ef5dbae476edc03e9e2d50   https://github.com/kubernetes/kubernetes/issues/19221

./cluster/../cluster/../cluster/../cluster/../cluster/../cluster/../cluster/../cluster/ubuntu/util.sh: line 51: roles[${ii}]: unbound variable

(line 51 because I added some debugging)

[2016-01-01 22:50] cpwais commented on #11711
set -euo pipefail in cluster/ubuntu/util.sh results in:
/root/kube/util.sh: line 44: nodes: unbound variable
Connection to 10.0.10.xxx closed.
After the scp.

Looks like the env var isn't getting transferred into the ssh shell...

Minor rant: It would be really nice if the k8s bash scripts did NOT rely on the env for configuration.  After having worked with k8s on GCE and AWS, too, I don't really

[2016-01-02 00:14] quinton-hoole commented on #16394
Saw this again today:

https://github.com/kubernetes/kubernetes/pull/17916#issuecomment-168351936

[2016-01-02 04:55] thockin commented on #18933
On Fri, Jan 1, 2016 at 12:50 AM, suryaveerc <notifications@github.com> wrote:

Ahh, if the SIP message contains the ip:port, I can maybe see
problems.  The test I set up (which is pretty much what you described)
assumed simple UDP responses to the post-NAT IP, which gets un-NATed
upon receipt.

I was hoping for something like "run pod X; run pod Y; create a
service S; netcat X:5060 -p 5060; observ

[2016-01-02 04:56] thockin commented on #19167
Appreciate your work on them, I know you disappear soon.

On Fri, Jan 1, 2016 at 1:40 AM, Wojciech Tyczynski <notifications@github.com

[2016-01-02 04:57] WIZARD-CXY commented on #19221
It seems the download url of kubernetes need to be updated and the conf file are not 'scpped" to the master machine successfully.

[2016-01-02 05:02] WIZARD-CXY commented on #19221
can you confirm by seeing the '~/kube/' directory on master node, does it contain ubuntu/util.sh and all the other missing files?

[2016-01-02 05:35] danielschonfeld commented on #19127
Solved by #16303.  Good to close if you are in agreement

[2016-01-02 06:16] pwais commented on #19221
Here is what I did to get things working:

https://github.com/kubernetes/kubernetes/compare/master...pwais:pwais_fix_ubuntu

One unsolved issue is that the role -> roles variable hack happens in `cluster/ubuntu/config-default.sh`; perhaps it should move to `ubuntu/util.sh`.  I found that without my change `kube-up.sh` was *not* sourcing `cluster/ubuntu/config-default.sh` on the deploy host-- this

[2016-01-02 06:17] pwais commented on #11711
Potential fix in #19221 .  The `role` -> `roles` change doesn't seem to address everything (anymore?)

[2016-01-02 06:18] pwais commented on #19221
Also FWIW https://github.com/kubernetes/kubernetes seems to be missing some releases (e.g. I couldn't pull 1.1.0 anymore today).  Is there a better place to pull releases?  (Also, how can I push code built from source?)

[2016-01-02 08:22] okigan commented on #18993
+1

running on Mac OSX 11 -- it's alpha, but it should at least start, right ?

[2016-01-02 08:26] roberthbailey commented on #17641
I don't know of anything built in to the system. You could write a pretty simple controller process that watches the apiserver's nodes and sets labels on them as new ones join and then run it in your cluster under a replication controller if you don't mind writing a small amount of code.

[2016-01-02 08:30] roberthbailey commented on #19181
The important section from https://cloud.google.com/container-engine/reference/rest/v1/projects.zones.clusters#NodeConfig is:

The following scopes are recommended, but not required, and by default are not included:

 - https://www.googleapis.com/auth/compute is required for mounting persistent storage on your nodes.
 - https://www.googleapis.com/auth/devstorage.read_only is required for communica

[2016-01-02 08:32] sliranc commented on #19214
# kubelet --version=true
Kubernetes v1.1.3

[2016-01-02 09:27] wojtek-t commented on #19223
I understand what is happening here. Will try to send a PR later today.

[2016-01-02 10:36] #18604 closed

[2016-01-02 14:32] mvoropaiev commented on #19221
@pwais you can get 1.1.0 release from the following URL found in '[Releases](https://github.com/kubernetes/kubernetes/releases)' section:
https://github.com/kubernetes/kubernetes/releases/tag/v1.1.0

[2016-01-02 14:57] tacy commented on #18949
#19201

[2016-01-02 15:01] borg286 opened #19227 "Docker setup fails due to etcd never getting started"
I tried to follow the instructions on https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md
but the everything but the scheduler, kubelet, and /pause fail. I check the logs and it seems the apiserver failed because etcd was unavailable.
I went to an older version of these instructions to get a docker command to bring up etcd and then the mega-command above and

[2016-01-02 15:44] borg286 opened #19228 "Please multi-node docker DNS instructions"
I'm trying to follow the instructions for local docker here
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md
For DNS setup it refers you to the multi-node docker setup for DNS. There is has the user set up some environment variables, one of which is
export KUBE_SERVER=10.10.103.250 # your master server ip, you may change it
For single-node docker setups th

[2016-01-02 17:58] wojtek-t opened #19229 "unit flake: plugin/pkg/scheduler/factory"
[code]

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-test-go/5471/artifacts/?project=kubernetes-jenkins

[2016-01-02 18:01] wojtek-t opened #19230 "unit flake: pkg/client/unversioned/portforward is timing out"
FAIL	k8s.io/kubernetes/pkg/client/unversioned/portforward	300.229s

Example failure:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/e41d66f0e207f8d32268b80e8d0d1c227663cc48/kubernetes-pull-test-unit-integration/7816/artifacts/?debugUI=DEVELOPERS

[2016-01-02 18:01] wojtek-t commented on #16394
@quinton-hoole - this was a different failure than this one. I've just opened https://github.com/kubernetes/kubernetes/issues/19230 for it and closing this one

[2016-01-02 18:01] #16394 closed

[2016-01-02 19:06] luxas commented on #19109
Fixed with #19193 (forgot to make an auto-closing issue, so doing it manually :D)

[2016-01-02 19:06] #19109 closed

[2016-01-02 19:51] bkleef commented on #12716
Same on CoreOS 899.1.0 with Kubernetes Linux AMD 64-bit v1.1.2 bins.

* Logs:
[code]

* Unit:
[code]

[2016-01-02 22:23] cpwais commented on #17463
Running into this problem too; have hit it several times before ...  Is DNS broken in master ?

[2016-01-02 22:25] alexcouper opened #19231 "Port-forwarding times out"
## Question

 - Is there something I'm doing wrong?
 - Is port-forward not meant to be used in this way on GKE?

### What am I doing?

I have a pod running on GKE that i'd like to connect to 'privately' (ie without exposing it externally). To do this i'm using the port-forward command.

`kubectl port-forward  -p api-rc-eu9cs  8888:80 --v=10`

### What's the problem?

The initial request using the

[2016-01-02 22:30] wojtek-t commented on #19167
It seems that we are on much better shape now.
The biggest issue responsible for 90%+ of all flakes now is #18928 - and I think that we should temporarily fix by by merging #19187 - it seems that although it's pretty ugly hack, it seems to solve the problem (I tested it 20+ times on Jenkins and it never failed on that race - before it was failing within 5 runs).

[2016-01-02 22:31] cpwais commented on #17463
I think I've had this problem every time I've tried the spark k8s example ...

[code]

[code]

[2016-01-03 00:47] wattsteve commented on #17463
Every time I've run this in my on-premise cluster, I've used Flannel, so
there has been an overlay network that helps ensure the workers can reach
the master. I think the Googlers that run it test it in Google Cloud which
I believe also has some sort of an overlay network where different
containers on different hosts can reach each other. I don't think an
overlay network is explicitly required for

[2016-01-03 02:26] itorres commented on #18230
The problem is that `/dev/pts/ptmx` permissions are changed to 000.

So a quick workaround is running `chmod 666 /dev/pts/ptmx`

[2016-01-03 03:06] resouer commented on #19221
ping @dalanlan

First thought, I don't think we have to use `roles`, can we make decision based on `NODES` & `MASTER` like [this](https://github.com/kubernetes/kubernetes/pull/13901/files#diff-d70f09536b044cb2000a89053261a00eR110) ?

[2016-01-03 03:07] resouer commented on #19221
@pwais PR is always welcome, which is a better way to discuss how this can be fixed.

[2016-01-03 04:17] smarterclayton commented on #16076
Found it:

[code]

The new resource version we are writing is one value ahead of the existing object.  We used to clear storage version in etcd, looks like we've regressed.

[2016-01-03 04:37] smarterclayton commented on #16076
Clearing the resource version just prior to encoding the object from etcd_helpers.go is almost certainly the correct behavior.  That will mean that resources that have the resource version set in the storage version will fail a CAS.

[2016-01-03 05:30] thockin commented on #17641
This alone is not pleasant because you still need to kick kube-proxy to
pick up the annotation change :(

On Sat, Jan 2, 2016 at 12:26 AM, Robert Bailey <notifications@github.com>
wrote:

[2016-01-03 07:47] luxas commented on #18230
@itorres Thanks for the workaround!
Was stuck with ssh for some days now, not even reboots did solve it :/
However, your trick did it :+1:

[2016-01-03 07:53] wojtek-t opened #19233 "unit flake: bind address in use"
Use "kubectl create [command] --help" for more information about a command.
    +++ [0103 04:22:21] Starting kubectl proxy
    +++ [0103 04:22:21] On try 1, use proxy port 33300 if it's free

    netcat isn't installed, can't verify if 127.0.0.1:33300 is free, skipping the check...

    F0103 04:22:21.959031   28201 proxy.go:132] listen tcp 127.0.0.1:33300: bind: address already in use

Example fa

[2016-01-03 08:04] wojtek-t commented on #19223
It seems that my fix didn't help:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/5504/

[2016-01-03 08:44] wojtek-t commented on #19223
OK - I'm able to reproduce it. Will send another PR later today.

[2016-01-03 08:58] wojtek-t commented on #19223
#19234 sent out for review

[2016-01-03 09:40] cpwais commented on #17463
Thanks Steve!

Woof, looks like my DNS is broken:

[code]

I'm using ubuntu and have found other things are broken too ...

Curious, any chance you could give me any quick pointers to what you did to
get a working setup?

On Sat, Jan 2, 2016 at 4:48 PM, Steve Watt <notifications@github.com> wrote:

[2016-01-03 09:51] pwais commented on #19221
@mvoropaiev `curl https://github.com/kubernetes/kubernetes/releases/download/v1.1.0/kubernetes.tar.gz` 404s for me and that's what the k8s script runs.

@resouer I imagine `roles` is a bit of tech debt from before the scripts used `MASTER` and `NODES` more uniformly.

New problems:
I've also recently discovered that `deployAddons.sh` (DNS in particular) seems to be broken, haven't debugged thoroug

[2016-01-03 11:12] Fei-Guang opened #19235 "installation: Error: client: etcd cluster is unavailable or misconfigured"
~/kubernetes/cluster/ubuntu ~/kubernetes/cluster
Done! All your binaries locate in kubernetes/cluster/ubuntu/binaries directory
~/kubernetes/cluster

Deploying master and node on machine 8.0.0.6
make-ca-cert.sh                                   100% 3270     3.2KB/s   00:00
config-default.sh                                 100% 3431     3.4KB/s   00:00
util.sh

[2016-01-03 11:35] Fei-Guang commented on #19235
ubuntu@:~/kubernetes/cluster/ubuntu/binaries/master$ ./etcdctl member list
ce2a822cea30bfca: name=infra peerURLs=http://localhost:2380,http://localhost:7001 clientURLs=http://8.0.0.6:4001

[2016-01-03 16:36] therc opened #19237 "traffic shaping not getting enabled on CoreOS/AWS"
See the discussion starting at https://github.com/kubernetes/kubernetes/issues/18100#issuecomment-161477862

which might point to recent kernel changes. PR coming.

[2016-01-03 16:44] therc commented on #18100
Does #19238 look reasonable?

[2016-01-03 18:15] thockin commented on #19233
prio for flakes

[2016-01-03 19:24] HardikDR commented on #12455
Is heapster-based solution reliable for this purpose  ?

[2016-01-03 19:45] #17704 closed

[2016-01-03 20:15] smarterclayton commented on #16076
If we do that guaranteed update needs to get the proper "last good state" and return it (as well as set the resource version back).

[2016-01-03 20:16] smarterclayton commented on #16076
@kubernetes/rh-cluster-infra

[2016-01-03 20:48] therc commented on #14197
After some more investigation, I am not sure that ignoring RouteAlreadyExists will always work, because if e.g. all routes don't get cleanly deleted when bringing down a cluster and then you bring it up again, the leftover routes will be in "blackhole" state:
[code]

In that case, there's no way around removing the stale routes.

[2016-01-03 23:18] justinsb commented on #14197
Ah - I have a PR for the blackhole route problem #17078.  I'll tidy it up and try to get it merged!

[2016-01-03 23:43] so0k commented on #10386
Understood, but Current gcr image tags aren't very clear which version of SkyDNS is actually used:

[code]

[2016-01-04 00:00] justinsb commented on #14197
So I agree with the issue as described by @sethp-jive here: we need a generic solution and specific solutions for any repeatable problems (like the route blackhole issue).

For the generic solution, we need some form of backoff so we don't hit AWS rate limits - the big problem here is that these limits are account-wide, so a k8s cluster could disable access to other infrastructure running in the s

[2016-01-04 00:12] yenif commented on #17641
Pretty hacky, but get's the job done. I just added

[code]

to the end of the gke startup template so nodes are configured when they are started by compute engine. I did the same thing for numerous sysctl settings.

[2016-01-04 01:08] suryaveerc commented on #18933
@thockin
I actually tried to do some simple C program to repro but stuck somewhere. May be I can do it sometime.

I have another issue, I can open a new one if you wish.
The document says that service provide loadbalancing but my NODEPORT UDP service does not do this. If I send request at some intervals I see those going to different pods but if I send them continuously they go to same pod.

Thank

[2016-01-04 01:40] smarterclayton commented on #19151
This was from Jenkins runs.

[2016-01-04 02:07] qq511700505 commented on #19185
Now the main problem is that I cann't get golang docker images for ppc64le. [ps:To bulid golang binaries we need a go binary first.] But there is no official download link for golang binary for ppc64le, which is the key problem, I think.
@luxas  @fgrzadkowski

[2016-01-04 04:25] thockin commented on #18933
UDP is well known to be hard to proxy because there isn't a "connection".
If we set timeouts too low then UDP "flows" get broken.  If we set timeouts
too long then you get this.  Once there is a NAT entry for a given
client:port to a particular backend:port, that will be reused.  UDP can not
tell the difference between another packet in a "flow" and a new connection.

If you use a different source

[2016-01-04 04:26] thockin commented on #17641
yeah, it would be neat if GKE had a way to add node labels/annotations
similar to startup scripts.

On Sun, Jan 3, 2016 at 4:12 PM, Brian Finney <notifications@github.com>
wrote:

[2016-01-04 04:38] suryaveerc commented on #18933
@thockin

The test client creates all request from single port. I'll try to find the option to send requests from different ports and update here.

Thanks

[2016-01-04 04:50] thockin commented on #18933
I don't think ANY sort of proxy could handle routing UDP from the same
client ip:port to different backends, short of timeouts.

On Sun, Jan 3, 2016 at 8:38 PM, suryaveerc <notifications@github.com> wrote:

[2016-01-04 04:55] thockin commented on #19209
@markturansky

On Wed, Dec 30, 2015 at 4:54 PM, Shaya Potter <notifications@github.com>
wrote:

[2016-01-04 06:10] hongchaodeng opened #19246 "Scheduler latency metrics should separate error case from normal"
Currently scheduler latency [metrics](https://github.com/kubernetes/kubernetes/blob/c4fdb7a2d06db250f577f06e41182a9f22cc8f7c/plugin/pkg/scheduler/metrics/metrics.go#L31) are observed regardless of failure. For example, binding latency is [recorded](https://github.com/kubernetes/kubernetes/blob/c4fdb7a2d06db250f577f06e41182a9f22cc8f7c/plugin/pkg/scheduler/scheduler.go#L152) like:
[code]

This could

[2016-01-04 06:11] hongchaodeng commented on #19246
/cc @xiang90 @gmarek

[2016-01-04 06:30] ericandrewlewis commented on #18626
For my own reference (and perhaps others), to get this working correctly, follow
the [getting started guide instructions](https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/getting-started-guides/docker.md)
with these caveats.

Run the master kubelet like so

[code]

Create the Kubernetes DNS replication controller. Replace `{{IP address of the master}}`
with the address of your master

[2016-01-04 07:50] roberthbailey commented on #15639
We should have a similar set of procedures for test images as production images, right? The only difference is that we may be incrementing the version numbers of test images faster as we won't want to wait for releases to push newer versions.

[2016-01-04 07:58] roberthbailey commented on #18982
@stensonb That is a good observation.

/cc @ncdc @stephenR

[2016-01-04 08:45] zhouhaibing089 opened #19247 "No package cockpit-kubernetes available."
I see that near line 122 of `cluster/vagrant/provision-master.sh` shows:

[code]

I followed that instruction manually, but `cockpit-kubernetes` seems not exist.

[2016-01-04 08:47] AdoHe commented on #19214
@sliranc correct, just close this.

[2016-01-04 08:47] #19214 closed

[2016-01-04 08:49] AdoHe commented on #19152
within the current kube client implementation, it's a little bit difficult to support multiple api servers.

[2016-01-04 08:50] AdoHe commented on #19188
@fgrzadkowski yes, this should be a manager running in kubelet, I am working on this, but I have no idea when to remove the secrets.

[2016-01-04 09:23] fgrzadkowski commented on #18239
@huggsboson Lovely! I have a PR in-flight to release hyper-kube with every alpha release every 2 weeks (#19061)

[2016-01-04 09:36] leonidlm commented on #18506
@gmarek how about additional metrics such as % allocated cpu/memory per cluster/namespace?

[2016-01-04 10:35] #19223 closed

[2016-01-04 10:38] mzupan commented on #18652
ok turns out all i needed to add was

[code]

Then it started to work.. not sure why in the kube-up setup I do not have to do that.

[2016-01-04 10:38] #18652 closed

[2016-01-04 10:47] gmarek opened #19248 "integration flake: timeouts in kubernetes-test-go-release-1.1"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go-release-1.1/2055

I can't see anything immediately wrong, so it may be an honest timeout, i.e. solution would be to increase it.

We need an owner for integration tests in general...
@brendandburns @thockin @davidopp @dchen1107 @ixdy @bgrant0607

[2016-01-04 10:49] gmarek commented on #18050
@markturansky - any progress on this?

[2016-01-04 10:52] gmarek commented on #19248
We need to cherry pick #14802 into branch 1.1

[2016-01-04 11:22] adohe opened #19249 "kubelet should handle the docker daemon down properly"
FYI. I am using docker `1.8.2` and kubernetes `1.1.2`, and just attach one node to the master. I create some pods using `kubectl`, and the pods are all running. Then I use `kill -15 docker` to kill the docker daemon process on the node, when the docker daemon process down, I query the pods status on master, they are all running. Even after ten minutes, the pods are still in running status. Of cour

[2016-01-04 11:29] gmarek commented on #19192
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/9990/

[2016-01-04 11:30] gmarek opened #19251 "e2e flake: Reboot [Disruptive] each node by triggering kernel panic and ensure they function upon restart"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/9990/

[2016-01-04 11:30] gmarek commented on #19190
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/9990/

[2016-01-04 11:34] gmarek opened #19252 "integration flake: Timed out waiting for kubectl proxy"
It seems like an issue similar to the problem with API server. I'll extend the timeout in the similar fashion.

cc @thockin @ixdy

[2016-01-04 11:43] gmarek commented on #18811
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/5570 printed:
[code]

[2016-01-04 11:53] fgimenez commented on #17907
Hi, this seems to be working with the current master's branch tip:

[code]

Please, let me know if the issue should be closed, thx! :)

[2016-01-04 12:01] gmarek commented on #19246
I completely agree - @hongchaodeng are you going to change this?

[2016-01-04 12:06] gmarek commented on #18506
Depends on the question you're asking:) Currently we want to focus on metrics that are useful for monitoring control plane performance. In such case % of cpu used by user is completely uninteresting.

On the other hand for people running clusters it'd be great to have those. But I don't think that single API server metric is a good way to do it, as it requires nontrivial amount of computation, esp

[2016-01-04 12:11] gmarek commented on #19229
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/b6614a4cc76fbfd94f6da52543d8afead6e2f2b7/kubernetes-pull-test-unit-integration/7864/build-log.txt

[2016-01-04 12:12] gmarek commented on #19229
cc @davidopp @xiang90 @hongchaodeng

[2016-01-04 12:26] gmarek commented on #19048
We have first run with all the additional monitoring: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/3808/

[2016-01-04 12:38] nagarjung commented on #15197
@roberthbailey : Hi I would like to work on this issue, could you please this to me.

[2016-01-04 12:54] gmarek commented on #19048
Sadly metrics look normal to me. Plus they're hard to analyze, as maps in go print themselves in random order...

[2016-01-04 12:55] thockin commented on #15639
agree.

On Sun, Jan 3, 2016 at 11:51 PM, Robert Bailey <notifications@github.com>
wrote:

[2016-01-04 14:05] gmarek commented on #19064
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/13892/

[2016-01-04 14:08] ncdc commented on #19129
cc @derekwaynecarr @kubernetes/rh-cluster-infra

[2016-01-04 14:11] gmarek opened #19254 "unit flake: k8s.io/kubernetes/pkg/storage (specifically storage.TestList)"
[code]

Looks like a dupe of #18928

cc @kubernetes/goog-control-plane

[2016-01-04 14:13] ncdc commented on #18787
@vishh @davidopp @smarterclayton as @liggitt pointed out to me, if we use an admission controller for this, it overrides the pull policy for each container/image, and we lose the original value. If the cluster admin later decides to disable this admission controller, the pull policies will still be Always. I suppose we could maybe consider storing the original values as annotations, but I'm guessi

[2016-01-04 14:16] luxas commented on #19185
Well, you have to find a `debian`-ish `ppc64le` base image or build your own. Then you could download [kubernetes-on-arm](https://github.com/luxas/kubernetes-on-arm), and see how `luxas/go` and `kubernetesonarm/build` are built. There are instructions for how to build a) a `golang` image from scratch b) kubernetes form source

But in this case (as I'm working on it) I think we should focus on cros

[2016-01-04 14:27] kargakis opened #19255 "Duplicate version negotiation requests"
[code]
@deads2k @liggitt

Found in https://github.com/kubernetes/kubernetes/pull/18901 which is based on top of https://github.com/kubernetes/kubernetes/commit/b494855ebf7801b6e92f734ca402f0dc44c37b43 (almost latest master)

[2016-01-04 14:32] bgrant0607 commented on #19217
We should just remove the labels column. If the user wants to know the labels, they can use describe, or `-L` to display specific label values.

[2016-01-04 14:46] derekwaynecarr commented on #19129
I will investigate further.  Thanks for the report.

[2016-01-04 14:50] derekwaynecarr commented on #19163
Thanks for the tip @smarterclayton , will look to investigate.

[2016-01-04 15:03] timothysc commented on #19167
@gmarek -

1.5 seems to be exposing a number of behavioral oddities in jenkins, but does anyone know why *no one* can seem to repro many of the cases locally.

[2016-01-04 15:15] gmarek commented on #19167
At least for some of those issues the answer is load. Plus I don't think we found any jenkins oddity yet - all things were genuine bugs in tests.

[2016-01-04 15:32] ihmccreery commented on #19178
My work in #19021 makes flake tracking rely on `[Flaky]` label in the test description rather than regexps in `e2e.sh`.

[2016-01-04 15:33] ncdc commented on #18982
cc @liggitt

[2016-01-04 15:34] ncdc commented on #19230
@wojtek-t do you know which test was timing out specifically?

[2016-01-04 15:46] quinton-hoole commented on #19178
@ihmccreery How do you deal with the case where a given test is flaky in one environment and not others.  Stated another way, flakyness is a function of (test, environment) as per the existing regex scheme, not just (test).

[2016-01-04 15:58] lavalamp commented on #18991
We already have a group. I think that makes a separate prefix redundant.

*clients* need to handle arbitrary re-rootings, e.g. if we go through a
proxy or something. But I don't see any need for this in the server. IMO
the fewer options we give people when they make their own APIs the better.

On Tue, Dec 22, 2015 at 5:29 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-01-04 16:06] lavalamp commented on #14102
I thought replace -f did a delete-create cycle in this case?

[2016-01-04 16:09] lavalamp commented on #14433
The master.go file has changed significantly since you filed this-- what were you referencing?

(The Root field needs documentation...)

[2016-01-04 16:15] deads2k commented on #14433
This is now fixed.

[2016-01-04 16:15] #14433 closed

[2016-01-04 16:20] lavalamp commented on #19176
@krousey can you take a look at this? I think @nikhiljindal has a lot already :)

[2016-01-04 16:24] lavalamp commented on #19161
I think we should solve this by having kube-proxy be aware of multiple apiservers, and have kubelet (and all in-cluster clients) use the service IP. That way only one component has to be aware. (The downside is that kubelet would have a dependency on kube-proxy, but I think that's already the case.)

out-of-cluster clients should be using a load balancer address anyway, so they shouldn't have to d

[2016-01-04 16:26] ihmccreery commented on #19178
@quinton-hoole I answered that question in #19021, since it's not really related to this issue.

[2016-01-04 16:27] #19235 closed

[2016-01-04 16:45] piosz commented on #16158
This issue is obsolete. We are fine with the tests running in sequential mode.

[2016-01-04 16:45] #16158 closed

[2016-01-04 16:46] smarterclayton commented on #18991
Agreed - just saying we have to support the legacy path configurable
just for Openshift oapi and Kube API.

[2016-01-04 16:51] ncdc commented on #19230
Pasting the log from 17916:

[code]

I believe what's happening here is the client is opening and closing the spdy connection so quickly at times that the spdy server is shutting down its goroutines just as quickly, before our code is able to call `SetIdleTimeout`. And when our code does call that, it hangs because there is nothing reading from the channel that `SetIdleTimeout` is sending to.

[2016-01-04 16:56] a-robinson commented on #19228
Thanks @borg286 -- would you be up for making this change in the docs and submitting a pull request?

[2016-01-04 16:56] a-robinson commented on #19227
Thanks @borg286 -- would you be up for making this change in the docs and submitting a pull request?

[2016-01-04 16:57] a-robinson commented on #19231
@cjcullen

[2016-01-04 17:22] timothysc commented on #18831
@hongchaodeng Where is the PR on this one?

[2016-01-04 17:24] jayunit100 commented on #19095
cc @timothysc

[2016-01-04 17:28] hongchaodeng commented on #19246
Yes. I will do it. @gmarek

[2016-01-04 17:40] runseb opened #19262 "DNS add-on picking up wrong port on docker deployment"
Hi,

I have seen many issues related to the DNS add-on. But can't quite get it to work yet. So here is another one.

I have a single node docker deployment of k8s. With self-signed certs and token access. I managed to get the service accounts to work properly, I can run basic pods/rc etc. Even deployment manager.

But when launching the DNS add-on it seems that kube2sky is trying to reach the api

[2016-01-04 17:46] spxtr commented on #18960
Still fails occasionally, as in [7896](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/7896/console), but succeeds with retries often [7891](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/7891/consoleFull). I'll up the retry-count to 5.

[2016-01-04 17:51] lavalamp commented on #18266
It's a good question. I don't think it's worth the complexity cost at the
moment. Ideally we would want to make an analogous change in all
controllers, not just replication controller, which to me says apiserver
should itself do the rate limiting and push that back onto clients with
429s.

On Thu, Dec 10, 2015 at 9:57 PM, wangbo <notifications@github.com> wrote:

[2016-01-04 17:55] lavalamp commented on #18535
@mikedanese Just to confirm, yes, exposing it as a flag is the right thing. Thanks.

[2016-01-04 17:57] caesarxuchao commented on #14102
@lavalamp the man page says `-f` for is the shortcut for filename and `--force` does a delete-create cycle.

[2016-01-04 18:01] markturansky commented on #19209
@sjpotter what version of kube are you running?  The race you're talking about was fixed fairly recently.

[2016-01-04 18:02] lavalamp commented on #18289
Glad you figured it out. You are right that kube-proxy needs a fix, but if you make sure you've got the flag from #18628, and you tell all in-cluster clients the master service IP (or its DNS name), then all clients will correctly be loadbalanced by kube-proxy, as it reads the endpoints. kube-proxy itself won't be load balanced, but that's a separate issue.

[2016-01-04 18:03] roberthbailey commented on #15197
Unfortunately github only allows you to assign issues to members of the kubernetes organization (see https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/). It doesn't seem like anyone is working on this at the moment so go ahead and treat your comment as a hold on the issue and I'll look for a PR.

[2016-01-04 18:03] cjcullen commented on #19231
This sounds like #12179. I have a PR about ready to send out to fix it.

[2016-01-04 18:11] quinton-hoole commented on #18928
Saw this again in https://github.com/kubernetes/kubernetes/pull/17733#issuecomment-168755295

[2016-01-04 18:15] roberthbailey commented on #19118
@ihmccreery can you take a look at this and verify that we are running the expected set of tests? If so, then we can dig in deeper.

The GCE build is completing successfully after ~3 hours and the GKE build is timing out after 6 hours.

[2016-01-04 18:29] gmarek commented on #18928
I'll merge #19187 to make this flakes go away.

[2016-01-04 18:31] derekwaynecarr commented on #18565
The ability to persist some type of Policy in etcd is a long-running discussion topic.

See https://github.com/kubernetes/kubernetes/issues/17440 for background on how we would like to support RBAC policy models as well.

[2016-01-04 18:40] roberthbailey commented on #12375
@davidopp if you haven't found an owner I can probably write something up in the next week or two.

[2016-01-04 18:44] charles-crain commented on #2630
@pmorie Looking through the commit logs it looks like fsGroup isn't supported until 1.2.0-alpha3 yes?

[2016-01-04 18:54] gmarek commented on #18928
If anyone see this happening again please ping this issue.

[2016-01-04 18:55] bgrant0607 commented on #19054
There's some discussion of this in #1535.

[2016-01-04 18:55] vishh commented on #19188
Can you post a proposal before you start working on a PR?

On Mon, Jan 4, 2016 at 12:51 AM, TonyAdo <notifications@github.com> wrote:

[2016-01-04 18:56] ncdc commented on #19230
I believe the correct way to fix this is to fix spdystream. I have opened an issue here: https://github.com/docker/spdystream/issues/63. I have a local fix that appears to work (for a spdystream test, that is). I have yet to reproduce the timeout/panic with `TestForwardPorts` in my VM.

[2016-01-04 18:56] dougbishop opened #19264 "Openstack cloud provider invalid memory address or nil pointer dereference"
Kubernetes version: 1.1.0-0.4.git2bfa9a1.el7

OS:CentOS Linux release 7.1.1503 (Core)

The kubelet keeps failing with the following:

[code]

kublet config:

[code]

config:

[code]

cloud-config:

[code]

Not sure what I am missing here. Been at it for hours, unfortunately the code for the openstack provider does not tell you when a param is missing, or malformed. Any help would be appreciated.

[2016-01-04 19:05] borg286 commented on #19228
Sure.

[2016-01-04 19:08] borg286 commented on #19227
No. I felt that whoever made the last major redo of this guide should chime in with his input on the best way to do it. I don't know what is involved with getting the initial kubelet that spins up the other jobs to also spin up etcd and wait for it to be up first.  The first version of getting a kubernetes cluster through docker split it out into 3 commands. These were put into one, and that goal

[2016-01-04 19:11] sjpotter commented on #19209
@markturansky using the hyperkube 1.0.1 container images from gcr for my testing.

[2016-01-04 19:14] Random-Liu commented on #18266
@yujuhong Is this related to what we discussed before about the graceful deletion implementation on Kubelet side?

[2016-01-04 19:17] sjpotter commented on #19209
I can test it locally with the instructions here

https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md

(basically what I was doing anyways w/ 1.0.1) with whatever version you tell me to try it with.

[2016-01-04 19:20] childsb commented on #12399
@thockin i'l be at the Raleigh meetings, lets discuss then.

[2016-01-04 19:23] markturansky commented on #19209
The fix was merged Nov 25. I think you are using an older version that does not have this update.

  https://github.com/kubernetes/kubernetes/pull/16432

[2016-01-04 19:24] bgrant0607 commented on #19054
Programmatic clients building atop an API may well want cascade=false to do things like rename a resource, change other immutable fields, or replace one type of controller with another (e.g., ReplicationController with ReplicaSet).

Users using an API directly via kubectl or UI typically expect cascade=true, except when they intentionally orphan the resources.

One could achieve these different be

[2016-01-04 19:31] davidopp commented on #12375
Sure, that would be great. Assigning to you.

[2016-01-04 19:32] yujuhong commented on #18266
@Random-Liu, there are suboptimal logic in kubelet's status update that could cause extra GETs after a pod has been deleted, leading to even slower batch deletion. However, I don't think it'd affect the etcd memory usage.

[2016-01-04 19:33] gmarek commented on #16872
It happened just now: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10217/

[2016-01-04 19:35] gmarek commented on #17931
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10217/

@timothysc please prioritize this

[2016-01-04 19:36] gmarek commented on #17781
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/1368/

[2016-01-04 19:46] nikhiljindal opened #19266 "Garbage collect stale RCs from deployment"
Long use of deployment can result in a lot of stale RCs. Currently there is no easy way to garbage collect them.

Note that we do need to keep the last RC to allow rollback, but all previous ones can be deleted.

cc @janetkuo @kargakis @ironcladlou

[2016-01-04 19:52] timstclair commented on #18848
@resouer - Yes, https://github.com/kubernetes/kubernetes/pull/18611 is the node side, but it should not block this issue (in fact it needs to not block it, in order to correctly handle version skew). As mentioned above, `Allocatable` is defaulted to `Capacity`, so just using allocatable will default to the current behavior. Just wanted to make sure that was clear :)

[2016-01-04 19:56] hsaputra commented on #6053
I am sorry, so how does this issue actually fixed?

[2016-01-04 20:03] dpratt commented on #19266
It'd be nice to have the deployment controller do the cleanup, or alternatively if there's a way to query for RCs by replica count from kubectl/API, we could also use that in our deployment scripts.

[2016-01-04 20:05] davidopp commented on #18848
@resouer do you have an update on your progress on this issue?

[2016-01-04 20:06] davidopp commented on #18848
Oh sorry, just noticed the PR. That's what happens when I go on vacation. :)

[2016-01-04 20:17] maclof commented on #13585
I'd love to see this fixed soon. It seems that the terminal window size isn't monitored by kubectl and sent to kubelet to resize.

We should probably be doing something like docker does here: https://github.com/docker/docker/blob/master/api/client/utils.go#L99

I noticed back in may @ncdc was working on a commit for this here: https://github.com/ncdc/origin/commit/13220dbb5208df5659568e282bc848307

[2016-01-04 20:21] lavalamp commented on #18801
@bgrant0607

I think the primary difference between labels and annotations is that the latter are not queryable.

For your use of selecting schedulers, since the annotation is basically a way to experiment before adding a "real" field, I would simply extend the field selector mechanism, making it pretend that you have a field.

[2016-01-04 20:22] piosz commented on #18336
The test is 100% stable now. Closing the issue.

[2016-01-04 20:22] #18336 closed

[2016-01-04 20:23] yujuhong commented on #9188
Sure.

[2016-01-04 20:23] #9188 closed

[2016-01-04 20:31] charles-crain commented on #18993
+1, seeing this on Linux with aws.

[2016-01-04 20:36] lavalamp commented on #18853
@smarterclayton @kubernetes/goog-csi @kubernetes/sig-api-machinery Here's a case where we want pod-specific delete options. It doesn't make too much sense to add a pod-specific option to the current https://github.com/kubernetes/kubernetes/blob/fec5206f1a954d7035dea0cc6fc1f15df085c309/pkg/api/v1/types.go#L2092, but it is expedient.

[2016-01-04 20:38] smarterclayton commented on #18853
This is also a place where we may want to be polymorphic.  Both DeleteOptions and PodDeleteOptions should be accepted.

[2016-01-04 20:53] ncdc commented on #13585
I'm still planning on working on it but it's lower priority than some other
things on my plate. If you want to pick it up, that would be fine. It just
needs to continue to be backwards compatible with older clients and servers
that don't have this feature.

On Monday, January 4, 2016, Marc Lough <notifications@github.com> wrote:

[2016-01-04 20:56] nikhiljindal commented on #19255
cc @kubernetes/goog-csi @janetkuo

[2016-01-04 20:58] maclof commented on #13585
@ncdc regarding backwards compatibility, I assume this would to be implemented as streamingProtocolV3? similarly to how it's already been done? https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/remotecommand/v2.go

[2016-01-04 20:58] a-robinson commented on #12493
I've run this test 2000 times each on two different machines today (one mac, one linux) and haven't had a single flake. Given that there haven't been any failures mentioned since August 10, I'm going to mark this as obsolete, but I'll continue doing some more local runs and am happy to look into it if any more failures are observed.

[2016-01-04 20:58] #12493 closed

[2016-01-04 21:02] yujuhong commented on #16943
@luxas, I run [this e2e test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubelet_perf.go) to get the cpu usage of kubelet and docker. The test queries cadvisor on each node for data over a preset period of time and calculate the percentiles, etc, locally.

[2016-01-04 21:04] ihmccreery commented on #19118
The tests that are running look fine to me.  From a somewhat cursory glance, looks like lots of tests are failing because they can't start pods.

[2016-01-04 21:08] lavalamp commented on #18939
I don't see that file any more-- @caesarxuchao did you change it? If so just close this. Thanks!

[2016-01-04 21:08] #18846 closed

[2016-01-04 21:10] lavalamp commented on #18963
@caesarxuchao, do you have time to take a look?

[2016-01-04 21:13] lavalamp commented on #16706
Yeah, I prefer your work-around to more flags or more functionality for the existing flags.

[2016-01-04 21:19] gmarek opened #19268 "unit flake: pkg/client/record"
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/655cdd17314260140227b70821d6e8c6ad622c55/kubernetes-pull-test-unit-integration/7928/build-log.txt

[2016-01-04 21:24] alexcouper commented on #19231
@cjcullen is there anything I could do locally to confirm the hypothesis that this is #12179 related?

[2016-01-04 21:26] sjpotter commented on #19209
I guess it can be closed then as already fixed

[2016-01-04 21:26] #19209 closed

[2016-01-04 21:27] lavalamp commented on #14102
Argh, of course. That's what I get for being out for so long!

On Mon, Jan 4, 2016 at 11:57 AM, Chao Xu <notifications@github.com> wrote:

[2016-01-04 21:33] nikhiljindal commented on #14519
Number of retries also seems fine to me.

[2016-01-04 21:34] cjcullen commented on #19231
The `kubectl exec`, lost connection, and broken pipe problems are almost certainly #12179.

I'm not sure about the subsequent request problem. One way to find out would be to launch a [GCE cluster](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/gce.md) and try your steps there. Kubernetes on GCE (as opposed to GKE) doesn't use SSH tunnels for proxying, so if it al

[2016-01-04 21:51] mastoj commented on #18990
I have the same problem and it is really annoying since whenever I get a faulty node I have to use `kube-down.sh` and then `kube-up.sh` which takes a long time to finish.

I did try to run `kube-up.sh` again after that error message and got a new one instead from the minion, since the master is already running:

[code]

[2016-01-04 22:06] ihmccreery commented on #19118
Looks like pods aren't moving from Pending to Running.  The scheduler seems to be scheduling pods to the node `qy4b` despite that node being in the `Not Ready` state.

That node is complaining directly to the command line when I log in:

[code]

Assigning to @dchen1107 to investigate further.

[2016-01-04 22:10] cameronbrunner commented on #19081
With well defined built in resources we could probably avoid the need for floats like you did for cores by defining a minimum increment and then scaling appropriately.  I imagine that this could get cumbersome when kubernetes adds full support for custom resources where things could have many significant digits and scaling to an integer value could yield an awkward value.  Once again this would be

[2016-01-04 22:11] ihmccreery commented on #19118
This also seems like a scheduler problem though; we shouldn't be scheduling pods on `Not Ready` nodes, right?  @mikedanese for help on that.

[2016-01-04 22:16] davidopp commented on #12744
@jdef

[2016-01-04 22:46] yujuhong commented on #19014
It hasn't happened in the last 30 builds, so I'm lowering the priority to p2 for the time being.

This seems to happen in the extreme case where all add-on pods are run on the same node. As we increase the number of pods, the noise would become more negligible. The better solution is to disable the addon pods, but that could be more problematic for other tests run before and after this test. I'll

[2016-01-04 23:33] nikhiljindal opened #19273 "Where to define common api machinery objects used by genericapiserver and client"
There are lots of objects like RESTMapper, GroupMeta (almost all of latest.go and registered.go), etc that are currently defined in `pkg/api` and are used by both `pkg/genericapiserver` and `pkg/clients`.

I want to remove `pkg/genericapiserver`'s dependency on `pkg/api` and hence want to move those objects somewhere else.

I was thinking of moving them to genericapiserver pkg, but @caesarxuchao p

[2016-01-04 23:33] mml commented on #13430
In reply to my last update, I was thinking in terms of machines when I wrote the suggestions for default values.

Taking a step back, as @quinton-hoole asked in a different way, why not just delete all pods the moment a machine becomes unreachable?

To prevent instantaneous cluster destruction when things aren't actually/completely broken:

1. The unreachability might actually be due to the master

[2016-01-05 00:03] nikhiljindal opened #19275 "Remove pkg/api/latest"
pkg/api/latest has generic code on what all groups are enabled and the GroupMeta corresponding to them.
pkg/registered seems a better place for this and already has some of the code (like what all groups are enabled).

I will move the relevant code from pkg/api/latest to pkg/api/registered and delete pkg/api/latest.

cc @lavalamp @smarterclayton @deads2k @caesarxuchao @kubernetes/goog-csi

[2016-01-05 00:04] smarterclayton commented on #19275
Can you do this after split codec (17922) lands?

[2016-01-05 00:08] smarterclayton commented on #19273
Apimachinery is a weird word :)

Rest mapper should not be dependent on our API objects, for sure.

Can you list the types out you plan to move? I would expect certain
ones to be under something like pkg/api/rest (which doesn't depend on
our API objects).

[2016-01-05 00:08] #19176 closed

[2016-01-05 00:32] nikhiljindal commented on #19273
To clarify, api_machinery was proposed as a package for generic operations on API objects (conversion, defaulting, validation, etc) in https://github.com/kubernetes/kubernetes/pull/16062.
While that proposal only talks about `/apis`, my inference from that is that we do not want generic RESTMapper code in `pkg/api`. We should only have the v1 API objects and related code in `pkg/api`

[2016-01-05 01:02] timstclair commented on #17931
It looks like that last failure (http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10217/) was a different issue, caused by a network hiccup:

[code]

Further down in the logs the network appears to recover (later pulls succeed), but not before the test timed out. I don't know how to further diagnose this issue, but it sounds like maybe it was something out of our c

[2016-01-05 01:10] mqliang commented on #19266
I send a issue several weeks ago to address this https://github.com/kubernetes/kubernetes/issues/19111

[2016-01-05 01:11] timstclair commented on #17931
the previous failure (https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/a4202cbee9eb362da61cd2c4c74e217ca4fd0bdc/kubernetes-pull-build-test-e2e-gce/21745/build-log.txt) looks like something different? The only failure I see there is:
[code]

[2016-01-05 01:29] smarterclayton commented on #19275
GroupMeta should never have been added to Latest - it's also not really appropriate because codecs won't work this way in the future (nor will versioning).  We shouldn't be using groupmeta internally - there is no one size fits all "this is the group meta for an object", since it's unlikely to have the right interfaces.

[2016-01-05 01:31] ixdy commented on #13485
Are folks still seeing this? I'm having a really hard time getting it to occur on-demand.

[2016-01-05 01:40] danielschonfeld commented on #12121
We're hit by the lack of this in kube-controller-manager

30 nodes.  Default install utilizing the script.  About 6 minutes after a launch of kibe-controller-manager we get the following:

[code]

with nothing of great interest before utilizing `--v=4`.  (using Kubernetes 1.1.3)

[2016-01-05 01:42] smarterclayton commented on #19275
Registered is a good place for most of latest.  We should move a lot of the global constants out of there (as much as possible) and have clients and apiserver initialize codecs and the new negotiated serializer.  Resource versioner can probably stay, although that might just need to get folded into metadata accessor (which is api/meta, but doesn't import api/, it's just interfaces compatible with

[2016-01-05 01:50] nikhiljindal commented on #19275
Agreed that GroupMeta should not have been added to latest.
Why is it unlikely to have the right interfaces? We can still provide the Codec in GroupMeta?

[2016-01-05 02:01] AdoHe commented on #19188
@vishh sure I will.

[2016-01-05 02:02] smarterclayton commented on #19275
Codec won't be part of group meta - it's possible negotiated serializer
might be, but even that is unlikely.  It's more likely that clients will
instantiate a codec factory directly for the scheme the API is built on.

On Mon, Jan 4, 2016 at 8:50 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2016-01-05 02:47] AdoHe commented on #19161
@lavalamp this should be a good enough solution at this moment. Especially when we implement this on kube client which is a little bit difficult. But I am worry about the kube-proxy, actually I noticed that many users have thoughts to remove this component or replace it.

[2016-01-05 03:43] AdoHe commented on #19264
@freshfrmthehood would you mind check `Instances` function of the openstack cloud provider? from the stack trace I guess it is related with this method.

[2016-01-05 03:47] AdoHe commented on #19217
@bgrant0607 I volunteer myself to do this.

[2016-01-05 03:51] AdoHe commented on #18868
@vishh how about this issue?

[2016-01-05 03:54] Fei-Guang commented on #19166
met this problem since yesterday

[2016-01-05 03:56] markturansky commented on #18050
@gmarek how frequently is this still occurring?  the sync period for the pv controllers in the tests was dramatically shortened recently.

[2016-01-05 04:08] AdoHe commented on #19217
@bgrant0607 I got one idea: by default, when we use `kubectl get nodes`, the `LABELS` column will not be displayed, since we already have the `-L` flag, we can use this, if we use `kubectl get nodes -L ALL` we will get result like current kubectl behavior, and if we use `kubectl get nodes -L ***` we will get the label presented as a separate column, how about this?

[2016-01-05 04:34] erictune commented on #19049
Three design alternatives to consider: Renumber Devices, selectively expose devices, or expose all devices.

- Renumbering
  - when application is allocated `/dev/nvidia2`, it sees `/dev/nvidia0` because kubelet does `docker run --device /dev/nvidia2:/dev/nvidia0 ...`.
   - does this even work, or do applications need to know their number to use `/dev/nvdiactl` and `/dev/nvidia-nvm`?
   - might he

[2016-01-05 04:41] cpatulea opened #19279 "kubectl: improve error message on syntax error"
[code]

(There's a syntax error in there somewhere, not sure where.)

$ kubectl create -f example.json
invalid character '}' looking for beginning of object key string

kubectl should include the line and column number so I can fix my json.

[2016-01-05 04:42] bgrant0607 commented on #19217
Thanks, @AdoHe.

I wouldn't use special sentinel values with `-L`. That's short for `--label-columns`, and current behavior is very different from that. We could perhaps add a new flag, which would print them at the end of each line.

However, is it possible to print them with existing template options, such as Go templates, jsonpath templates, or custom columns? If so, that might be good enough.

[2016-01-05 04:44] erictune commented on #19049
Another set of alternatives, this time for reporting node capacity:
- Kubelet detects:
  - kubelet detects presence of devices like `/dev/nvidia*` and post number and/or type present to the apiserver (e.g. in the Node object).
  - least work to setup, but hardest to customize.
- Kubelet proxies:
  - node admin is responsible for writing the device type/count into a file, which kubelet reads and re

[2016-01-05 05:02] #18800 closed

[2016-01-05 05:04] erictune commented on #19049
I think it would be a good test of the extensibility of Kubernetes to see if this feature can be implemented (initially) without any GPU-specific changes to Kubernetes.

I think this is almost possible.  If we use the "Expose All" approach I mentioned above, then kubelet does not need to change how it creates pods.

If we use the "Custom Reporter" approach I mentioned above, then the kubelet does

[2016-01-05 05:07] bgrant0607 commented on #18801
We've wanted general field selection on GET/WATCH for a long time: #1362

There are a few other GET/WATCH cases we want to support, also: #4817

I could imagine supporting annotation selectors similarly, if field selection is too cumbersome.

Which queries we index for efficiency is another matter.

I wouldn't allow selection of annotations in most API resources, such as controllers or services se

[2016-01-05 05:09] bgrant0607 commented on #18801
BTW, the current implementation of field selectors should be considered a total hack and not something we should try to copy/extend.

[2016-01-05 05:14] bgrant0607 commented on #19111
Rename doesn't make sense in this context.

Also, I think we'll want to support keeping N old RCs around.

Probably the policies that make sense could be reduced to a single knob, which is the number of old RCs to retain, with some way to express that all should be retained (-1?).

If the number retained were 0, that would interfere with the ability to undo the last deployment change, so we might

[2016-01-05 05:15] bgrant0607 commented on #19266
Thanks @mqliang. Let's use the other issue.

[2016-01-05 05:15] #19266 closed

[2016-01-05 05:16] bgrant0607 commented on #19111
cc @dpratt

[2016-01-05 05:22] AdoHe commented on #19217
@bgrant0607 Get it. I will try to use the `-o` option to implement this.

[2016-01-05 05:24] bgrant0607 commented on #18780
There's no getting around the fact that importance and urgency change, and that we decide to do certain things at certain times. I try to at least ensure P0s and P1s are accurate for the current milestone. We have too many open issues (over 2000 now) to keep all these values straight for all issues, and more values will make it harder. I've never seen both priority and severity used correctly toge

[2016-01-05 05:55] aronchick commented on #18780
IMHO, the ordering of addressing items is a numerical list, with each item
getting its own (unique) index. I've never been fond of P0, P1, etc - it
tells you how significant something is, but doesn't telling someone
unfamiliar with the issue _which_ significant item should be worked on.

This is not to say everything needs a number - but giving a number the top
<n> (where n = the space allotted fo

[2016-01-05 06:08] suryaveerc commented on #18933
I used different ports for requests and now it's working as expected.

Thanks

[2016-01-05 06:17] dpratt commented on #19111
I'd argue for making the default 1, with 0 being the sentinel 'retain-all' value.

[2016-01-05 06:24] mqliang commented on #19111
Why we ***disallow*** 0 ? I think we should ***discourage*** 0. Just like what we in pod creation:

But if user insist to create pod directly, let it go. For deployment, we can handle analogously: default 1 and ***discourage*** 0, if we want ***disallow*** 0, how about adding an optional admission controller?

[2016-01-05 07:09] davidopp commented on #18801
@bgrant0607 Where were we proposing to use annotations in #18261? Are you referring to the side-discussion with @ravigadde here? https://github.com/kubernetes/kubernetes/pull/18261#issuecomment-164307219

[2016-01-05 07:13] ravigadde commented on #19049
@erictune

The extender can return annotations to the scheduler. The scheduler can update the annotations in the binding object to propagate these back to the pod. However, this will require changes in the scheduler interface.

[code]

Along with selectedMachine, it should be possible to return annotations.

[2016-01-05 07:32] davidopp commented on #19049
We really want to limit scheduler extender to Ravi's use case. I will read this issue more thoroughly in the next day or so but we don't want to turn scheduler extender into something required to support a general feature like GPUs. If that's not what you were implying, my apologies, I will read the issue more carefully soon.

[2016-01-05 07:42] roberthbailey commented on #18212
On GKE, where the master is on a separate network, what would a service for the scheduler or controller manager look like? It would be reachable from the apiserver (since it runs in the same network as the other master components) so proxying should work. But the service wouldn't be reachable from any of the nodes (or any containers running on the nodes). This is unlike the kubernetes service, whi

[2016-01-05 07:47] fgrzadkowski commented on #18506
@leonidlm We already expose requested resources (CPU/mem) in Heapster.

[2016-01-05 07:51] gmarek commented on #13430
I completely agree with everything except last paragraph. I'm not certain that rate of pod deletion is interesting, we want to rate limit node deletion (which you did in your example, so I guess that's what you actually has in mind). Second thing is that your flag misses the time interval, so it should be `--max-node-deletion-fraction-per-minute` (or something).

As for concrete value - if it's pe

[2016-01-05 07:56] gmarek commented on #17931
Ah, sorry, I probably had too many tabs open at that point.

[2016-01-05 08:09] gmarek commented on #18050
I don't know, I'm not monitoring failures very closely - I believe I saw this on one of per-push tests.

[2016-01-05 08:14] gmarek commented on #18212
To tell the truth I wasn't worrying about GKE too much. The whole reason before this effort is to be able to catch performance regressions automatically and make locating the reason faster. For this reason I think that as long as it'll work on any provider (read: GCE:), we're good. cc @fgrzadkowski

If you think that exposing those metrics would be useful for other reasons, we can work on exposing

[2016-01-05 08:40] #19246 closed

[2016-01-05 08:52] gmarek commented on #18969
Another failure: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-enormous-cluster/23

[2016-01-05 09:09] AdoHe commented on #19279
maybe duplicated with #12231

[2016-01-05 09:49] fgrzadkowski commented on #19229
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/324890e267d9e2c58bb6e7663ced30bad5ff046a/kubernetes-pull-test-unit-integration/7878/?debugUI=DEVELOPERS

[2016-01-05 09:49] fgrzadkowski commented on #19229
@davidopp Can you please reassign?

[2016-01-05 10:00] Zhomart commented on #10735
How to change from gce to vagrant? Switching to gce cluster is easy using command `$ gcloud container clusters get-credentials cluster-name`, but I could not switch to cluster running on vagrant.

[2016-01-05 10:54] Pensu opened #19284 "Proposal: Adding gccgo support using gccgoflags"
Hi everybody,

While building k8s, the script hack/lib/golang.sh is called. It uses ldflags to build binaries, that doesn't work well with archs that are using gccgo instead of golang. I propose, that we should use gccgoflags by finding out the compiler.

Now, there are two ways to do that, we can put an if-else in golang.sh itself or we can create a separate script for gccgo(the way docker does i

[2016-01-05 10:58] AdoHe commented on #19188
# Proposal to create a secret manager

## Background
Kubelet will retrieve duplicate secrets multiple times and there is no cache for secrets in the current implementation.
This is somehow hard to address.

## Motivation
Add a separate secret manager to avoid duplicate secret retrival and make this easier to address.

## Proposed Design
### Design of secret manager
`SecretManager` <b>Interface</b>

[2016-01-05 10:59] AdoHe commented on #19188
@vishh would you mind reviewing this?

[2016-01-05 11:04] dalanlan commented on #19221
@pwais
Sorry bu I was OoO last week ;-)
First of all, thank you for reporting this.  And let me try to sort this out.
- KUBE_CONFIG_FILE env thing. I has exported it like util.sh #L309.
- DNS. Please file another issue when you dig it up later.
- kube-down. I've tried to clean up resource and would not tear down the cluster util there are no pods, secrets or whatever. If you could only confirm the

[2016-01-05 11:07] dalanlan commented on #11711
@pwais  I'm sorry but you may kinda mess these up. Please ref #19170

[2016-01-05 11:07] dalanlan commented on #11711
@cpwais  Known issue. Ref #19170

[2016-01-05 11:19] tdeheurles commented on #12534
@thockin : which ServiceAccounts are we talking about ? I'm not running on google cloud (using baremetal).

So I suppose you point to that [one](https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/design/service_accounts.md).

Thanks for information. I will have a look. But, for now, the documentation seems more focused on what it is than how to use it no ?

[2016-01-05 12:44] nagarjung commented on #15197
Please hold on the issue

[2016-01-05 13:30] bgrant0607 commented on #18801
@davidopp No, sorry, I was referring to https://github.com/kubernetes/kubernetes/issues/341#issuecomment-154663349, and our discussion prior to that.

[2016-01-05 14:23] ironcladlou commented on #19111
@mqliang

This seems reasonable to me. With this model, @bgrant0607's suggestion of `-1` for the "retail all" makes sense.

[2016-01-05 14:37] lavalamp commented on #19273
Somewhere under apimachinery/ sounds good to me. (or api/machinery/...)

If we do that split, at or before the same time, we'd have to also split tools into its own repository for exactly this reason, so that client and server can both depend on it. Repository dependency needs to be acyclic :)

[2016-01-05 14:45] ironcladlou commented on #14519
If during a given sync progress can't be made due to some transient error (failing to update due to some connectivity issue), I probably want to continue trying to sync until connectivity is restored. Given that, I wonder if retry counts might not apply uniformly to all classes of error. Can we think of any examples of specific error types where retry thresholds would be more appropriate than time

[2016-01-05 15:08] luxas commented on #19262
What does `kubectl get svc` output?
The default internal `kubernetes` route should always be `10.0.0.10:433`, even though `apiserver` is listening on `0.0.0.0:6443`

I guess it's something other that's wrong. The `kube2sky` log seems fine.

[2016-01-05 15:24] luxas commented on #19228
Sorry for distrurbing, but I don't think that's the case.
If you submit `127.0.0.1` to `KUBE_SERVER`, it will point to `localhost` of the pod, not the node. The only case when `localhost` of a pod is the same as the node `localhost` is when setting `hostNetwork: true` on the pod definition. So, as you mentioned, setting `KUBE_SERVER` to `127.0.0.1` will not work, not even in the `single-node docke

[2016-01-05 15:27] luxas commented on #19227
@fgrzadkowski and I have worked on the `docker` guide.
@fgrzadkowski made `etcd` run under `kubelet` some week ago.

@borg286 Which version were you using when you ran the combined command from the master branch? It should work with `v1.1.3`

[2016-01-05 15:32] kargakis commented on #14519
I am pretty sure there are users who would want timeout-based deployments but a timeout feels more error-prone vs a retry count. Or so I think. I don't have any strong case over a retry count. That being said, if we think a timeout is more useful then I will try that approach and see where it goes.

[2016-01-05 15:34] saad-ali commented on #19268
Looks like a dupe of https://github.com/kubernetes/kubernetes/issues/19202

On Mon, Jan 4, 2016 at 1:19 PM, Marek Grabowski <notifications@github.com>
wrote:

[2016-01-05 15:47] brandong954 commented on #18990
Yeup, just had to "kube-down.sh" and then "kube-up.sh" again, and everything worked!

[2016-01-05 15:56] ironcladlou commented on #14519
I think both have value. I agree that timeout is prone to undesirable failure due to the unpredictability of timing within the cluster generally. I think that automation in general around this condition is problematic and needs to come with disclaimers.

Maybe this highlights the importance of giving users clear visibility into status so they can easily know when deployments aren't progressing so

[2016-01-05 16:06] luxas commented on #19227
@borg286 Confirmed that the command in https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md works out-of-the-box at least when using `v1.1.3`

[2016-01-05 16:12] timothysc commented on #18969
@gmarek I can not access that URL listed above.

/cc @kubernetes/sig-scalability

[2016-01-05 16:13] arkkanoid opened #19289 "Full Storage cause pod replication loop"
Hi,
I've created a new pod of replica=1 and when I run "get pods" I got a lot of replicas (~10) of the same pod with status "OutOfDisk".:
    omk-application-microservice-0864j   0/1       OutOfDisk   0          9m
    omk-application-microservice-0kk77   0/1       OutOfDisk   0          9m
    omk-application-microservice-0l13x   0/1       OutOfDisk   0          9m
    omk-application-microservic

[2016-01-05 16:35] quinton-hoole commented on #18969
@timothysc the logs are at:

https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-cluster/23/

[2016-01-05 16:36] timothysc commented on #17331
Is this really targeted for v1.2?  /cc @kubernetes/rh-storage

[2016-01-05 17:18] quinton-hoole commented on #18780
@bgrant0607

- Regarding importance and urgency changing over time, agreed, they do.  My hypothesis is that they change less frequently than our work queue ordering (which is effectively what the manged-together priority label is currently used for).
- Regarding more values making it harder, see above and paragraph 4 of "Problems with this approach".
- Regarding my reaction in https://github.com/k

[2016-01-05 17:22] borg286 commented on #19227
It seems that
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md
tells the user to

   1. Decide what Kubernetes version to use. Set the ${K8S_VERSION} variable
   to a value such as "1.1.1".

Perhaps we should just updated the docs to use 1.1.3. Seems like a simple
fix. If you don't get to this today I'll try to do it tonight.

On Tue, Jan 5, 2016 at 8:07 A

[2016-01-05 17:23] quinton-hoole commented on #18780
@aronchick The problem with giving each item in the work queue a unique (relative) number, is that every time anything is added to or removed from the list, everything needs to be renumbered.  In addition, it's not possible to assign a number to any item without full knowledge of all other items.  Hence we use absolute numbers (P0..P3).  Perhaps you're arguing for a larger number of discrete value

[2016-01-05 17:38] mgoodness commented on #16891
I also have a use case (URI rewrites) that I think these fields would facilitate. For example:
[code]
Would generate this nginx controller config:
[code]

[2016-01-05 17:48] ihmccreery opened #19291 "Fix GKE reboot ci tests"
The GKE reboot CI tests are failing.

The four tests that are failing probably shouldn't even be running with the reboot suite.  The GKE reboot suite is running quite a different set of tests from the GCE reboot tests; they should be fixed so they're the same except for differences in provider.

Related to #10548.

[2016-01-05 17:53] freshfrmthehood commented on #19264
From what i see the instances function looks pretty basic:

type Instances struct {
	compute            *gophercloud.ServiceClient
	flavor_to_resource map[string]*api.NodeResources // keyed by flavor id
}

My guess is that this is causing it:
	compute            *gophercloud.ServiceClient

However my knowledge of Go is limited, so not sure what else I can troubleshoot here, any more ideas?

Thanks

[2016-01-05 17:58] borg286 commented on #19228
What is the approximate timeline for serviceAccounts to get merged in?
Contrary to what you said, setting KUBE_SERVER to 127.0.0.1 did seem to
work. I recognize now that it should be the internal address. How do I get
that internal address?

On Tue, Jan 5, 2016 at 7:25 AM, Lucas Käldström <notifications@github.com>
wrote:

--
Integral z-squared dz
from 1 to the cube root of 3
times the cosine
of t

[2016-01-05 18:04] quinton-hoole commented on #18679
@smarterclayton I'm not a K8s namespace expert, but I have to agree with @deads2k that having multiple non-hierarchical, possibly overlapping namespaces is both cognitively challenging and fraught with implementation peril as exhibited by @deads2k's code examples.

As you and I discussed briefly a few months back, is it not worth seriously considering moving towards hierarchical namespaces (possib

[2016-01-05 18:05] quinton-hoole commented on #18679
@bgrant0607 FYI as I seem to recall that he has strong opinions on this matter :-)

[2016-01-05 18:19] huggsboson commented on #17676
Seems like the current train of thought is to use sidecars to do git checkouts, this would more than likely include support for credentials: #15421

I actually hacked together the go code for the change and it got pretty hairy.  You need to do an ssh-keyscan and other host modifying things that make the sidecar look pretty attractive.  I was going to look at the git-sync side car and see if I coul

[2016-01-05 18:30] janetkuo commented on #18943
Related issue for "failed to wait for pods running" error: #17931

[2016-01-05 18:30] lavalamp commented on #18991
Yes, I agree we need to do the minimum to support legacy clients.

On Mon, Jan 4, 2016 at 11:47 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-01-05 18:32] janetkuo commented on #18943
We've seen this error before #17398.

[2016-01-05 18:34] lavalamp commented on #19255
Dup of #13794, right?

[2016-01-05 18:34] #19255 closed

[2016-01-05 18:40] lavalamp commented on #19161
@AdoHe As long as replacements to kube-proxy still let service IPs work (its main function!) my suggestion should continue to work.

[2016-01-05 18:42] lavalamp commented on #19161
Actually, now that I think about it, clients should already be using the service address. So I think there's nothing that needs to be done here.

[2016-01-05 18:49] caesarxuchao commented on #18963
I'll take a look this week.

[2016-01-05 18:52] janetkuo commented on #18943
Failed 4 times in the latest 385 tests (1%) in kubernetes-pull-build-test-e2e-gce. All related to "failed to wait for pods running". Closing this issue since #17931 will take care of this error in all e2e tests.

[2016-01-05 18:52] #18943 closed

[2016-01-05 18:53] spxtr commented on #18960
I switched on `GIT_CURL_VERBOSE` and got this error:

[code]
It looks like others have had the same issue. I'll keep trying fixes.

[2016-01-05 18:54] therc commented on #10439
How would this interact with #2209? loasd would do all the talking to Vault for LOAS-enabled services and fetch the credentials for non-LOAS services, while keeping the Vault auth token itself hidden from my container?

[2016-01-05 18:57] janetkuo commented on #18558
Closing this since is recently passed 100% in kubernetes-e2e-gce-parallel.

[2016-01-05 18:59] freehan commented on #19138
The probe output were logged in kubelet log. It should be already in ElasticSearch. Search for tag:kubelet and you will get kubelet logs. See if that helps.

[2016-01-05 19:06] smarterclayton commented on #18679
I think of traditional filesystem and all I see are POSIX :)  I certainly
agree that overlapping is challenging - will have to reflect more on
hierarchy (haven't thought about it recently).  The biggest use case is for
generic ownership / authz / quota enforcement with levels.  The downside is
that everything that has to deal with those has to understand hierarchy.

On Tue, Jan 5, 2016 at 1:06 PM,

[2016-01-05 19:08] Calpicow opened #19293 "kubectl exec doesn't work with apiserver behind ELB in https mode"
All commands work except `kubectl exec`.

[code]

Replicating the curl request (assuming there is not POST data) returns this error message:

[code]

[2016-01-05 19:16] nikhiljindal commented on #19053
This doesnt seem to have happened again.
Closing. Feel free to reopen if you see this again.

[2016-01-05 19:17] spxtr commented on #19155
Looks like it's fixed on GKE but now failing on GCE with

[code]

[2016-01-05 19:27] spxtr commented on #18337
Another release-1.0 fail:

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-release-1.0/2992/

[2016-01-05 19:29] Calpicow commented on #19293
Probably an ELB issue with SPDY, closing.

[2016-01-05 19:29] #19293 closed

[2016-01-05 19:31] quinton-hoole commented on #18679
cc @etune also FYI.  He has opinions :-)

[2016-01-05 19:42] roberthbailey commented on #19118
/cc @kubernetes/goog-node since @dchen1107 may not have time to look at this today

[2016-01-05 19:45] roberthbailey commented on #19118
https://github.com/docker/docker/issues/5618 seems like it may also be related.

[2016-01-05 19:54] #11874 closed

[2016-01-05 19:59] spxtr commented on #18778
These tests got even slower, taking 27 minutes total now. Just to be clear, @saad-ali would you be okay with moving these to slow as things currently stand? I think on-call will roll back any PR that causes a regression in a critical job, especially if it fails twice in a row. The difference is that it will take several hours longer to be fixed in the slow suite, but I think that's an acceptable t

[2016-01-05 20:09] quinton-hoole commented on #18679
@smarterclayton Are you implying that POSIX filesystem namespace semantics are bad in some way?  If so, please elaborate.

[2016-01-05 20:48] mml commented on #13430
@gmarek you're right that this flag means percent of nodes.  The name I chose is sloppy.

But time isn't a factor here.  My proposal is that this is an absolute stopping point.  If nodes become unreachable, we will delete the pods on them only up until X% of the machines are unreachable at once.  Once the problem goes further than that, we'll stop.  This would prevent the kind of outage seen in #1

[2016-01-05 21:08] yujuhong commented on #19249
It's not clear from your description whether the docker daemon stayed down. The default cluster setup scripts sets up daemons (e.g., supervisord) to babysit the docker daemon and restart it if necessary. Could you check if docker stays down after you kill it?

Also, kubelet should report the node status as not ready if the daemon is down. If a node remains not ready for >5 minutes (the default thr

[2016-01-05 21:16] gmarek commented on #19268
I'm not sure. Failure message seems similar, but I can't see full logs for #19202 to check if race stack was there as well. I'll close the second one, as this one is on the list.

[2016-01-05 21:16] gmarek commented on #19202
dupe of #19268

[2016-01-05 21:16] #19202 closed

[2016-01-05 21:18] gmarek commented on #18969
Main problem is that there are no logs...

[2016-01-05 21:20] quinton-hoole commented on #13430
+1 @mml  I think picking a sane upper limit for auto-recovery from simultaneously unreachable nodes makes a lot of sense.  And yes, around 10% as a default seems like the right limit (rounded up to whole numbers, as you suggest).

[2016-01-05 21:20] janetkuo commented on #18996
Failure rate ~2% (6/351).
Error looks like this: `total pods available: 1, less than the min required: 2` in test/e2e/deployment.go:186

[2016-01-05 21:21] freehan commented on #17873
It gets flaky again... I am able to reproduce the problem by running DaemonRestart and Elasticsearch test together. It looks like the DaemonRestart test somehow disrupts the ES cluster. ES cluster gets into bad state, hence failing the es test.

Confirmed with @yujuhong. This particular test restarts all the containers.
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/daemon_restart.g

[2016-01-05 21:32] gmarek commented on #13430
OK, so let me repeat what I understood. We want to say that we allow for up to X% machines to be removed 'at once', for some meaning of 'at once', and we want to do it in the node controller, in the loop healthchecking the Node, right? I guess we don't care about the case of crawling failure cause by slow rollout right (it happened internally - as you probably know). We also need to somehow make i

[2016-01-05 21:34] quinton-hoole commented on #13430
@mml One more after-thought that might be useful.

1. Ideally, in a world where the administrator doesn't actually get paged when the limit gets reached (or loses the page, or whatever), the system should self-recover, with the proviso that it never enters into a "catastrophic failure" state in the process (i.e. as long as the number of unreachable nodes is below the specified limit).  I assert th

[2016-01-05 21:36] janetkuo opened #19299 "e2e flake: Deployment deployment should support rollover [minUnavailable/maxSurge violated]"
Recent failures:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/22457
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/22453
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/22451

Related issues: #19064, #18996
cc @nikhiljindal

[2016-01-05 21:52] freehan commented on #19033
@therc  Thanks for sharing your thoughts
Did you use the kube-registry addon to setup private registry? What level of security are you looking for?

[2016-01-05 21:56] spxtr commented on #18981
Done.

[2016-01-05 21:56] #18981 closed

[2016-01-05 22:14] yujuhong commented on #17873
It's a recent regression. Found the cause and will upload a fix soon.

[2016-01-05 22:38] coleca commented on #19113
This might be a problem to use with a K8S secret/imagePullSecrets since the AWS ECR credentials are only good for 12 hours according to this:

http://docs.aws.amazon.com/AmazonECR/latest/userguide/Registries.html

Unless maybe you create a container to self-update the secret on a schedule?

[2016-01-05 22:40] therc commented on #19033
I set it up manually on AWS using S3 storage, before I even had Kubernetes running. We'd want to have group-based read/write restrictions based on image path. But I guess that only works for manifests. If I understand the protocol, you can still get the blobs if you knew their paths, because a layer could theoretically belong to both an image you have access to and one that you don't (it doesn't l

[2016-01-05 22:46] quinton-hoole commented on #12948
Haven't seen this since.  Closing as obsolete.

[2016-01-05 22:46] #12948 closed

[2016-01-05 22:53] quinton-hoole opened #19304 "e2e flake: Kubectl describe should check if kubectl describe prints relevant information for rc and pods [Conformance]"
I can see two failures out of the past approx 100 runs.  Both failures look the same. Logs below:

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/22348/testReport/(root)/Kubernetes%20e2e%20suite/Kubectl_client_Kubectl_describe_should_check_if_kubectl_describe_prints_relevant_information_for_rc_and_pods__Conformance_/
[code]

http://kubekins.dls.corp.google.com:8081

[2016-01-05 22:54] quinton-hoole commented on #19304
@kubernetes/goog-ux

[2016-01-05 23:12] thuey commented on #9580
@moix I'm having the same problem. Docker is not running with --bip. Should it be?

[2016-01-05 23:32] fabioy commented on #19289
It's a known issue (see #4135 and #7660). Those are failed pods, and since there are no replicas running, the scheduler keeps trying to schedule, not realizing the node is out of disk. There's a good explanation of it here:

http://stackoverflow.com/questions/32285003/outofdisk-pods-get-not-destroyed-correctly/32508419

[2016-01-05 23:32] #19289 closed

[2016-01-05 23:36] ixdy commented on #13485
OK, I did find another timeout - http://goto.google.com/prkubekins/job/kubernetes-pull-build-test-e2e-gce/22427/

The list of suspicious tests does *not* include the networking test this time:
* Kubectl client Kubectl patch should add annotations for pods in rc [Conformance]
* Kubectl client Simple pod should support exec through an HTTP proxy
* Pods should be submitted and removed [Conformance]
*

[2016-01-05 23:37] mml commented on #13430
(3) can also happen with a crash-looping or slow kubelet that we nonetheless get contact with periodically.

The most adversarial case is where nodes are almost always unreachable, but the moment they've been unreachable for whatever our timeout duration is, they come back for a split second.  So at any snapshot, less than 1% of nodes are marked bad.

I don't think we need to pick between (1) and

[2016-01-05 23:37] davidopp commented on #15310
Proposal for how to do this (depends on #18263  being implemented)
1. Admission controller intercepts Node object creation and adds a taint "node being configured"
2. DaemonSet controller automatically adds toleration for "node being configured" taint to all pods it creates
3. When all DaemonSets that should schedule onto the node have started, the taint is removed

(3) is the only tricky step. On

[2016-01-05 23:39] mgoodness commented on #16891
I also have a use case (URI rewrites) that I think these fields would facilitate. For example:
[code]
Would (when fed into a template) generate this nginx controller config:
[code]

[2016-01-05 23:45] ixdy commented on #13485
Looking more carefully, http://goto.google.com/prkubekins/job/kubernetes-pull-build-test-e2e-gce/22207 is another timeout. (I really wish it'd fail on my debug PR...)

Suspicious tests:
* Job should scale a job down
* Kubectl client Simple pod should support exec through an HTTP proxy

I'm gonna start suspecting that Kubectl HTTP proxy test now...
@ashcrow are we doing anything in this test that m

[2016-01-05 23:58] therc commented on #19113
This is how the ECS agent does it: https://github.com/aws/amazon-ecs-agent/blob/v1.7.0/agent/engine/dockerauth/ecr.go#L49

So perhaps lazydockerkeyring.Lookup() would refresh the credentials on demand when called by dockertools:docker and it'd get bonus points if it doesn't refresh them unless needed (it does say "lazy" right there...). That means that it would now need to know about AWS and poten

[2016-01-06 00:06] schonfeld commented on #12121
@aronchick this is a pretty big deal breaker on our end here... Do you have any suggestions on workarounds for now? Suggestions?

[2016-01-06 00:07] david-mcmahon commented on #19174
This should be scripted and generated automatically as part of the release.

[2016-01-06 00:08] schonfeld commented on #11979
@justinsb @mcadam we're def seeing this right now on AWS. We spun up about 40 nodes using the default k8s aws installation, and are _at times_ crippled by this... Even to the point where pods fail to start because k8s is unable to mount their EBS volumes due to rate limits.

Any ideas re workarounds? Anything we can do interim?

[2016-01-06 00:13] justinsb commented on #12121
The 30 node above seems like something I should be able to reproduce.  I'll give it a go, either tonight or tomorrow morning.  (Of course if anyone else wants to try they should feel free!)

At v=4 we should see a lot of "AWS request:" log messages, as all AWS calls should be logged.  My guess is somewhere we are in a loop and making calls sufficiently rapidly to exhaust our API call quota, but th

[2016-01-06 00:15] danielschonfeld commented on #12121
@justinsb unfortunately we're trying to set up a new production cluster on AWS so we're using v1.1.3.  1.1.3 doesn't include the "AWS request:" log statements... I think the earliest that merge appeared in was 1.2.0-alpha1.

[2016-01-06 00:15] therc commented on #19113
Ah, credentialprovider already has a plugin mechanism, with only the GCP one being implemented at the moment, complete with credential TTL...

[2016-01-06 00:17] justinsb commented on #12121
@danielschonfeld that makes sense.  I'll probably try with head first but if I can't reproduce I'll try with 1.1.3 with the logging PR cherry-picked - thanks for the tip!

[2016-01-06 00:19] mml commented on #15310
For the implicit forgiveness part, the idea is that all DaemonSet-managed pods implicitly forgive the node going unreachable, but not any other type of node deletion or cascading delete event.

Correct?

[2016-01-06 00:21] danielschonfeld commented on #12121
@justinsb let me know what you come up with.  for now we've raised the node-sync-interval on kibe-controller-manager to 1 *minute*.   This seems to "alleviate" the problem to the point where KCM can do its magic properly as opposed to not being able to at all.

But we still see similar problems when sometimes mounting an EBS and it being unsuccessful it would get rate limited asking for volume inf

[2016-01-06 00:22] errordeveloper opened #19308 "EasyRSA fork is no longer required"
As https://github.com/OpenVPN/easy-rsa/issues/25 is fixed in the latest release.

[2016-01-06 00:22] errordeveloper commented on #19308
cc @brendandburns

[2016-01-06 00:28] caesarxuchao commented on #18960
@spxtr, looks like checking out release branch doesn't cause this flake, right? #18047 needs the release branch, so could you please re-enable the checkout, perhaps after you fix this issue?

[2016-01-06 00:35] errordeveloper opened #19309 "Passing `--cert-dir` to kube-apiserver results in creation of new certs"
It seems to actually overwrite existing ones

[2016-01-06 00:35] errordeveloper commented on #19309
I've used v1.1.3, haven't tested with master or checked the code yet

[2016-01-06 00:38] errordeveloper opened #19310 "Passing only --tls-cert-file produces cryptic error message"
It says: `E0105 14:50:09.165099      10 server.go:633] Unable to listen for secure (open : no such file or directory); will try again.`

I've also had `--cert-dir` set at the time, not sure if that somehow triggered an edge case of sorts. I've only tested this with 1.1.3 binaries.

[2016-01-06 00:43] quinton-hoole commented on #13430
@mml That's a perfectly reasonable solution, but it doesn't really solve what I tried to express in (3) above.  All it does (I think) is rate limit the endless restart cycle that I described.  Concretely, using your example parameters, every pod in the cluster will probabilistically restarted once every 100 minutes, potentially forever.

To be clear, I think that's probably fine.  But I think it a

[2016-01-06 00:55] davidopp commented on #15310
Yeah, this is just addressing what happens when NodeController deletes pods because the NodeReady  became False or Unknown. But did you have something specific in mind when you said "other type of node deletion or cascading delete event" ?

[2016-01-06 01:00] david-mcmahon opened #19312 "Fully automate k8s release process"
Effectively reduce the text of https://github.com/kubernetes/kubernetes/blob/master/docs/devel/releasing.md to a few lines calling a single entry point that automates the process from end to end.

[2016-01-06 01:10] borg286 commented on #19227
I don't know how to make a pull request. This is as far as I got
https://github.com/kubernetes/kubernetes/compare/master...18293d9ea9d9a7a00cf29257f5660690882f1878

[2016-01-06 01:33] dalanlan commented on #19161
@lavalamp  Not for kubelet IIUC.
[code]

[2016-01-06 01:47] maclof commented on #17359
@thockin I've started working on fixing this, could you tell me if I'm going in the right direction? https://github.com/maclof/kubernetes/commit/d394dfb96ebe73cc4c02835813dd5e3effef4285

I assume I will need to name the filter chains something other than OUTPUT?

[2016-01-06 01:53] AdoHe commented on #19161
@dalanlan I think so, the source code just pick the first one as the apiserver address.

[2016-01-06 01:57] AdoHe commented on #19249
@yujuhong yes, the docker daemon stays down after I kill it. I checked the node status, it is NotReady but when I use `kubectl get pods`, the pods are still running, after about <b>13m</b>, the pods get deleted. I know from source code, the node controller will delete all pods, but as I can see it should take that long. I will do another test today and make sure it really exists.

[2016-01-06 02:02] yujuhong commented on #19249
IIRC, the default pod eviction timeout is 5 minutes. When did the node transition to NotReady? It might help to check kube-controller-manager.log

[2016-01-06 02:16] dalanlan commented on #19161
@AdoHe Exactly. Yet it's definitely not a service ip,right?

[2016-01-06 02:23] fabioy commented on #18812
Not sure what the context for this issue is, as it doesn't seem to be a k8s product issue. Closing for now (feel free to reopen with more context).

[2016-01-06 02:23] #18812 closed

[2016-01-06 02:26] bgrant0607 commented on #18780
Build/test breakages and features targeting the current milestone are urgent. Everything isn't. Until it is.

[2016-01-06 02:31] fabioy commented on #18931
Please submit your changes as a pull request (PR) to be reviewed. Thanks.

[2016-01-06 02:36] thockin opened #19315 "Probably should not use float in our API"
There are just SOOOOOO many corner cases around float, we should just change it to a Quantity or int 0-100 or 0-100000 (NodeUtilization.Value)

@jszczepkowski
@bgrant0607

[2016-01-06 02:37] mysterytree commented on #17562
＋1

[2016-01-06 02:38] mysterytree commented on #17562
![image](https://cloud.githubusercontent.com/assets/6166794/12133584/914ad664-b461-11e5-88bd-f3504dee9ff1.png)

[2016-01-06 02:38] mysterytree commented on #17562
OS: centos 7 (3.10.0-229.20.1.el7.x86_64)

[2016-01-06 02:45] fabioy commented on #19068
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-06 02:45] #19068 closed

[2016-01-06 02:47] Toplife opened #19316 "k8s ui"
hi all genius,
when we have k8s ui can replace cli to manage cluster?

[2016-01-06 02:49] fabioy commented on #19072
I'm not sure how relevant that example file is, since it seems to reference the deprecated v1beta1 endpoint?

[2016-01-06 02:55] AdoHe commented on #19161
@dalanlan Definitely not, it's just the first apisever addresses you configured when you start kubelet.

[2016-01-06 03:00] AdoHe commented on #19264
@freshfrmthehood  I just checked the v1.1.0 source code, below is the `Instances` method:
[code]
And I think the nil error is thrown by this sentence:
[code]
Hope this can help you figure out the root cause.

[2016-01-06 03:01] bgrant0607 commented on #19315
Already documented:
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#primitive-types

[2016-01-06 03:36] gnudeep commented on #19221
RUNTIME_CONFIG does not set apiserver runtime-config parameter. As a workaround I had to update create-kube-apiserver-opts in util.sh manually as follows.

node0:~/kubernetes/cluster/ubuntu$ git diff util.sh
diff --git a/cluster/ubuntu/util.sh b/cluster/ubuntu/util.sh
index 6d81ee0..b21a729 100755
--- a/cluster/ubuntu/util.sh
+++ b/cluster/ubuntu/util.sh
@@ -199,6 +199,7 @@ KUBE_APISERVER_OPTS="\

[2016-01-06 03:51] paralin commented on #17929
I'm going to close this for now because I'm not seeing the problem anymore.

[2016-01-06 03:51] #17929 closed

[2016-01-06 03:54] AdoHe commented on #19217
@bgrant0607 I gave a try to use the golang template to control labels display, it can meet our needs more or lees, but the template is quite complicate and also not that perfect. So I have got other idea:
* Update the default printer to not show lables by default
* Add a `--show-labels` flag, when the flag is true we show labels at the end of the line.
I did understand that users just care about o

[2016-01-06 03:56] paralin opened #19317 "Kubernetes namespaces stuck in terminating state"
I tried to delete some namespaces from my kubernetes cluster, but they've been stuck in Terminating state for over a month.

[code]

The openshift namespaces were made as part of the example in this repo for running Openshift under Kube.

There's nothing in any of these namespaces (I used get on every resource type and they're all empty).

So what's holding up the terminate?

The kube cluster is h

[2016-01-06 03:58] paralin commented on #17397
Any updates on this? I really need to update my kube cluster - there's some critical bugs in my running version. I'm a bit apprehensive to try anything without confirmation here that kube-push works.

[2016-01-06 04:03] mikedanese commented on #17397
We've disabled kube-push for gce and I don't know if we are going to fix it or remove it. We recommend you use ./cluster/gce/upgrade.sh to upgrade instead.

[2016-01-06 04:04] justinsb opened #19318 "Salt error in heapster-controller template"
I observed the following error on AWS when running `salt-call -l debug state.highstate` on the master, on a cluster where I had set `NUM_NODES=30`:

[code]

[2016-01-06 04:04] bgrant0607 commented on #19315
The right fix to the ClusterAutoscaler API is to delete the whole thing, though.

[2016-01-06 04:05] paralin commented on #17397
@mikedanese Can that upgrade the nodes as well as the master?

[2016-01-06 04:06] bgrant0607 opened #19319 "Convert Go field and type names in autogenerated API docs"
We autogenerate user-facing API documentation from types.go comments now. Most people tend to refer to Go field and type names in their comments as per typical godoc style. However, this isn't appropriate for user docs. I generally tell people to use the json field names instead of Go field names and English instead of type names, but it's been an uphill battle to enforce.

When generating documen

[2016-01-06 04:12] bgrant0607 commented on #19217
@AdoHe --show-labels is fine. Ideally, it would work for any resource, not just nodes, similar to --label-columns.

Yes, either --selector or --label-columns should be sufficient for the case where users care only about a couple properties -- that was my point.

cc @janetkuo

[2016-01-06 04:12] AdoHe commented on #19310
@errordeveloper actually from source code kube-apiserver will use cert dir only if both `--tls-cert-file` and `--tls-private-key-file` is empty so if you just pass one and left other empty, apiserver will not load files from cert dir.

[2016-01-06 04:14] AdoHe commented on #19309
@errordeveloper yeah, apiserver will generate self signed certs.

[2016-01-06 04:18] justinsb commented on #19318
Partial fix in #19320.  But the problem was that num_nodes in pillar was empty:

[code]

I think this means that the `{% if pillar['num_nodes'] is defined -%}` in the salt template is not correct.

[2016-01-06 04:26] bgrant0607 commented on #19111
Given that we have to handle the possibility of there being no previous RC in `kubectl rollout undo` anyway, I don't have a strong objection to allowing 0. It means that if a rollout completes, the user won't be able to roll it back. C'est la vie

[2016-01-06 04:31] dalanlan commented on #19221
@gnudeep  We won't support every flag in the scripts. The users could do this manually if they want it badly.

[2016-01-06 04:35] AdoHe commented on #19217
@bgrant0607 if --show-labels is fine, I will add this flag to kubectl.

[2016-01-06 04:35] roberthbailey commented on #17397
@paralin - Yes: `-N:  Upgrade nodes only`

[2016-01-06 04:37] AdoHe commented on #19249
@yujuhong I test this again. The node transition to NotReady after 5 minutes since when I kill the docker daemon, but the pods are still on running state, and after about 11m, pods get deleted.

[2016-01-06 04:46] paralin commented on #17397
Great, works. Thanks.

[2016-01-06 04:50] gnudeep commented on #19221
@dalanlan How about adding an entry to the Ubuntu Bare Metal document page explaining this step.

[2016-01-06 05:25] erez-rabih commented on #19138
@freehan I actually can't find any log with tag:kubelet.

[2016-01-06 05:34] justinsb opened #19322 "routecontroller tries to create routes with empty CIDR"
Probably a race when trying to create a route for a node where the CIDR not yet assigned.  We should check for empty-string

[code]

[2016-01-06 05:43] bgrant0607 commented on #19080
@cameronbrunner Could you please explain in more detail what you'd plan to use this for?

Maybe relevant: #18016

[2016-01-06 05:45] justinsb commented on #12121
I was able to cherry-pick the logging patch back to 1.1 (it's a simple cherry-pick but then you have to change the package name to aws_cloud; I then changed the logging to V(2) so I didn't have to mess around with changing log levels).

With N instances, it does appear that the ListRoutes function is a big culprit, because it makes 1+N calls every 10 seconds.

From kube-controller-manager (with 5

[2016-01-06 05:50] bprashanth commented on #19155
I think the test gets killed sometimes, and it doesn't take too many killing to fill up 10 backend services (takes 2). I'll deflaky when I'm back in the office, for now I've cleaned up so it should pass.

[2016-01-06 06:43] yxy12a commented on #6888
start the kubelet like below will solve the issue that when you cannot connect to google, but  can connect to docker.io:
kubelet --pod-infra-container-image="docker.io/kubernetes/pause"

[2016-01-06 07:31] adaiguoguo commented on #6888
@yxy12a .Thank you.Your workaround seems to be much better

[2016-01-06 07:37] caesarxuchao opened #19323 "Remove validation of ResourceVersion in the Update() methods of typed clients"
Some Update() methods in the typed clients checks if `len(ResourceVersion)==0` and if so invalidates the update. Such clients include that for endpoints, events, limit_ranges, namespaces, persistentvolumeclaim and persistentvolumes.

We should keep a thin client so we shouldn't do such validations at the client side. And our server has implemented the same validation: https://github.com/kubernetes

[2016-01-06 08:17] magicwang-cn commented on #18266
@lavalamp @smarterclayton @hongchaodeng @xiang90
since i have a look at etcd's code, i found that once etcd receives a request, it will clone the store's data, then write the data into response, @hongchaodeng am i right? [see the code](https://github.com/coreos/etcd/blob/master/etcdserver/etcdhttp/client.go#L669)
so as @smarterclayton said, when deleting,  it adds 2-3 writes in the happy path. the

[2016-01-06 08:55] mysterytree opened #19325 "Error scheduling: No suitable offers for pod/task"
![image](https://cloud.githubusercontent.com/assets/6166794/12138743/3433a39a-b496-11e5-906b-d308869d202f.png)
![image](https://cloud.githubusercontent.com/assets/6166794/12138749/3c45edcc-b496-11e5-8b30-c2226975582a.png)

[2016-01-06 08:55] mysterytree commented on #19325
kube-dns-v9-ns0xe can't start

[2016-01-06 09:14] fgimenez commented on #18931
@fabioy done, it's #19326

Thx! :)

[2016-01-06 09:55] wangzhezhe opened #19327 "The problem of Master node switch in HA proposal design"
It seems there still existing some problems in [HA proposal design](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/high-availability.md) especially the short window when the Master is switched to a new one. During that time , some requests from the controller manager and the scheduler may be committed to the apiserver at the same time probably. Could any one give me some pract

[2016-01-06 09:57] nagarjung commented on #15197
@roberthbailey : I would like to send a pull request for the above issue. I have tried maintaining a kubernetes tar ball on a standard directory and then use wget timestamping option to compare the changes in the local and the remote files. If this solution is fine please suggest me a standard directory where i can maintain tar ball. I have tested with /tmp. We can maintain in /urs/local by provid

[2016-01-06 10:06] magicwang-cn commented on #18266
what's more, when begin to deleting, the prometheus data of etcd is as follows(`with a high growth`):
![etcd_goroutines](https://cloud.githubusercontent.com/assets/7587313/12140095/15b23030-b4a0-11e5-9249-7ac83c07b8b6.png)
![etcd_mem_alloc](https://cloud.githubusercontent.com/assets/7587313/12140099/15e4ff6a-b4a0-11e5-89dc-b028168f9c32.png)
![etcd_mem_heap_inuse](https://cloud.githubusercontent.co

[2016-01-06 10:08] gmarek commented on #17873
@yujuhong - please monitor this test and close this bug if there won't be any failures in some time.

[2016-01-06 10:47] AdoHe opened #19328 "ImageGC garbage collect images even these images are used by containers not managed by kubernetes"
FYI. I just want to know this behavior is correct? or we should just garbage collect images used by containers which are managed by kubernetes?

[2016-01-06 11:12] Hui-Zhi commented on #19049
So far GPU only exist in /sys/fs/cgroup/devices, so any user cases should follow the rules from:
https://www.kernel.org/doc/Documentation/cgroups/devices.txt
Due to constrained by this rule, GPU only can be used by exclusive/sharing among containers. So there should have a reference counter for each GPU resource, 0 for "reference" means no containers in using, otherwise, means there're "reference"