[2016-10-24 20:00] bprashanth commented on #29060
It should be exposed as described in: https://github.com/kubernetes/kubernetes/issues/34125#issuecomment-255196805

[2016-10-24 20:03] k8s-merge-robot opened #35461 "[k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/2435/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28584 #32045 #34833 #35429 #35442

[2016-10-24 20:07] jaknoll commented on #16585
Just to add a little more information in case it helps.  I'm running kubelet with --cloud-provider=openstack, here is the full command (as a systemd service):

[code]

And my cloud.conf file:

[code]

And kubernetes successfully communicates with OS, as seen by the following log message:

[code]

Thanks

[2016-10-24 20:08] aaronc commented on #25840
Is this metric now visible to end users in current versions of Kubernetes? I'm running Kubernetes 1.4 but am not seeing persistent disk info in Heapster data in InfluxDB.

[2016-10-24 20:09] yujuhong commented on #35448
@Zapadlo @alkar there are a lot of controller manager stuff in the graph. What's the command you used to start kubelet and how did you get the profile?

[2016-10-24 20:12] philips opened #35462 "Tracking: Kubernetes Product Security Response Plan"
This is a tracking issue for creating, documenting, and exercising a Kubernetes Product Security Response Plan. The overall goal is to ensure that when a security vulnerability becomes known the entire Kubernetes community has processes, infrastructure, and communication channels to make an organized and responsible response for users.

The document describing the initial implementation of this [p

[2016-10-24 20:15] philips commented on #35462
Next steps I would like to have completed by KubeCon (Nov 8th and 9th):

- [ ] Cleanup the response doc and try and put the relevant parts into the dev guide and kubernetes home page (I can lead this)
- [ ] Create a private github repo and a private CI system to handle private disclosures (could you lead this @jessfraz?)
- [ ] Create a vendor survey for people to sign-up for embargoed disclosures

[2016-10-24 20:24] alkar commented on #35448
@Zapadlo got the profile, so I can't help you there, but the kubelet is started a systemd service:

[code]

HTH

[2016-10-24 20:25] luxas commented on #35314
Actually I proposed this already earlier in the process, but it didn't recieve much attention.

I'm a really big +1 on this, as now I'm trying to maintain all the issues/PRs we have, label them correctly, find them, prioritize them, add lgtm for those who haven't got write access, etc etc, and that's quite painful with constantly 4500+ issues and 500+ PRs, the bot that is auto-labeling everything

[2016-10-24 20:25] fraenkel commented on #34146
If go-yaml exposes an Encoder/Decoder, one could set an option to enable "strict" YAML 1.2 parsing. Booleans are just one change in YAML 1.2, there are others.

There is also a separate issue opened on allowing longer lines to be emitted which could be made possible as well.

[2016-10-24 20:27] fabianofranz commented on #35226
Note that depending on how the design decision goes, we may end up with situations where more that one top-level command offers the same subcommand, unchanged. For example, both `kubectl get` and `kubeadm get`, or `kubectl config` and `kubeadm config`.

In that case, and having in mind that we eventually want to move `kubectl` out of the main repo, where do the actual command implementations (curr

[2016-10-24 20:34] fabianofranz commented on #35226
This sounds like a good discussion topic for the @kubernetes/sig-cli meeting next wednesday. @smarterclayton would you like to bring this up, in which case I'd add it to the agenda?

[2016-10-24 20:35] ymqytw commented on #34413
I will prioritize this issue.
cc: @caesarxuchao

[2016-10-24 20:35] Zapadlo commented on #35448
Got the profile by running `kubectl proxy` and `go tool pprof rootfs/hyperkube http://127.0.0.1:8001/api/v1/proxy/nodes/ip-10-66-21-88.eu-west-1.compute.internal/debug/pprof/profile`

Go version: `go version go1.7.1 linux/amd64`

[2016-10-24 20:35] mikedanese commented on #35314
I agree with @jbeda that the release work blocks this. We also need to make sure the apigroup machinary works well out of repo as well.

[2016-10-24 20:37] #35364 closed

[2016-10-24 20:38] #33775 closed

[2016-10-24 20:39] luxas commented on #35314
Yes, there are work to be done in a lot of different areas for this to work, but once we've done it, splitting kubectl or something else will be much easier :)

[2016-10-24 20:40] bgrant0607 commented on #35226
We also want to make most of kubectl a reusable client library #7311 (in addition to moving commonly needed complex orchestration, such as cascading deletion, out of the client #12143).

[2016-10-24 21:28] kow3ns commented on #35318
@mml What behavior would you expect on opt-out? That eviction is equivalent to deletion with no PDB?
@smarterclayton If the default PDR is not global, but applied to all Pods in the same RS or PS as in (3 proposed by erictune), will that still be impossible for large dense clusters? Is your concern here primarily that evictions makes progress? For RS=1 or PS=1, using the default behavior described

[2016-10-24 21:31] yujuhong commented on #35448
@Zapadlo I looked at the svg file, but it still didn't make much sense to me. Most of the cpu was consumed by federation-controller. Are you sure the`rootfs/hyperkube` binary is the same version that's running in the node?

Also, how much cpu was kubelet actually using? Can you also check the `/debug/pprof/` endpoint to see how many goroutines are running?

/cc @kubernetes/sig-rktnetes since this

[2016-10-24 21:44] caesarxuchao commented on #33845
We discussed on slack, ReplicaSetControllerRefManager should be called at Deployment and RS informers' ResourceEventHandlerFuncs. Also, if there is a periodic resync func, ReplicaSetControllerRefManager should be called there, too.

[2016-10-24 21:47] bprashanth opened #35466 "don't apply securityopts in shim if docker < 1.9"
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager.go#L1149
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/helpers.go#L197
I think both should do the same, so if we're dropping support for 1.9, maybe just drop it in both places?
@kubernetes/sig-node

[2016-10-24 21:48] erikerlandson commented on #34377
That is definitely one scenario.   Other scenarios I had in mind were related to decoupling from storage endpoint creds.  Taking S3 as a representative example, a spark app that wants to open an RDD against S3 also has to establish the key+secret.   But if the S3 endpoint were mounted as a kube PV, then the Spark app could be coded against a mountpoint, and be decoupled from S3 creds.   It would a

[2016-10-24 21:48] Zapadlo commented on #35448
Quite sure, I downloaded the same image and extracted the binary from it.

Currently its using ~130% on a 2CPU machine.

Output from `/debug/pprof/`:

[code]

[2016-10-24 22:00] rmmh commented on #35392
I think this is an AWS timeout?

[2016-10-24 22:10] sjenning commented on #35406
I am able to reproduce.

The logs show that the pod is evicted, but the pod resources remain.  Here is a debug session dump:
https://paste.fedoraproject.org/460401/34628714/

My theory is that the pod is still scheduled to the node because it is the only node.  This messes up the reconciler because the pod is scheduled to the node and its volumes are in the desired state, even though the pod is no

[2016-10-24 22:13] ixdy commented on #31776
We have encountered some weird timeout issues where tests were getting stuck, which did eventually end up being a test-infra issue. I can't remember the details anymore, though. @spxtr @rmmh ?

[2016-10-24 22:14] Random-Liu commented on #35466
@bprashanth Currently dockershim is targeting on docker 1.11. We may make it compatible with docker 1.10 later, but may not make it for docker 1.9.

[2016-10-24 22:27] bprashanth commented on #35466
Yeah i thought as much, though getting a working config with --experimental-runtime="" and a non-working config with --experimental-runtime="cri" is weird, especially since docker 1.9 is still default on ubuntu trustly. Feel free to close this out if we've already drawn that line.

[2016-10-24 22:53] bprashanth commented on #33027
This *may* have been fixed when we lifted the limits on dnsmasq, but IIUC the previous repro was on container-vm, which never enforced limits anyway. Worth trying to stress the node because then dnsmasq only gets its request.

[2016-10-24 23:19] Random-Liu commented on #35466
Thanks for reporting this, we'll track the compatibility issue in https://github.com/kubernetes/kubernetes/issues/29478.

Close this one. :)

[2016-10-24 23:19] #35466 closed

[2016-10-24 23:36] Random-Liu commented on #33189
Another flake in gci-gce-cri, which I think @yujuhong mentioned to me last week.
* Link: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-cri/1157
* Failure:
[code]
* Symptoms:
* dockershim failed to create infra container with error `device or resource busy`, but when it tried to create infra container again later, docker claimed that the container already e

[2016-10-24 23:37] bgrant0607 commented on #35228
@lukaszo We have discussed representing all sources of disruption/unschedulability, including conditions, as taints. I don't know that anyone is working on this, however.

[2016-10-24 23:48] k8s-merge-robot opened #35473 "[k8s.io] Kubectl client [k8s.io] Proxy server should support --unix-socket=/path [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging/114/

Failed: [k8s.io] Kubectl client [k8s.io] Proxy server should support --unix-socket=/path [Conformance] {Kubernetes e2e suite}

[code]

[2016-10-25 00:12] coffeepac commented on #28999
@blurrcat @sp-joseluis-ledesma I was unable to recreate this issue at Kubernetes 1.3.6 and stable CoreOS 1122.2.0 using kube-aws and doing a simple reboot.  I don't really have time to go any deeper into experimental repro steps.

Do you have the option of moving to 1.3.7 or 1.4.4?  Both versions will contain a number of storage related fixes, especially 1.4.4

[2016-10-25 00:14] bprashanth commented on #33189
Please link kern.log if you get a chance. A single instance of that message (unregistered_netdevice) is probably not the same as the old bug, but it's possible that it caused some disruption. If you see O(ten) instances spamming the log, and a docker hung task/the node completely dead, that's probably the dreaded kernel reace we mitigated by making cbr0 promiscuous.

[2016-10-25 00:19] matchstick commented on #28999
@saad-ali @jingxu97 Agreement with @coffeepac  we did put a lot of fixes an dI know some of them may have impacted secretes, saad and jing should be able to weigh in here

[2016-10-25 00:25] Random-Liu commented on #35335
@adambom I noticed that, so in our own implementation, I've avoided that.
https://github.com/kubernetes/kubernetes/pull/35348

[2016-10-25 00:27] yujuhong commented on #33189
A similar failure I mentioned to @Random-Liu previously:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/35245/pull-kubernetes-e2e-gce-cri/12/
The node in question: http://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/35245/pull-kubernetes-e2e-gce-cri/12/artifacts/cri-e2e-agent-pr-25-0-minion-group-ilqm/

Saw similar "failed to unmount" error in docker.log;
[code]

Did

[2016-10-25 00:29] Random-Liu commented on #33189
However, I don't remember we saw this anywhere in non-cri integration.

[2016-10-25 00:29] bgrant0607 commented on #25832
Support for binary in configmaps was requested in #32432.

[2016-10-25 00:39] yujuhong commented on #33189
We wouldn't notice this at all if kubelet was able to create a new infra container with a randomly generated suffix in the name, which is what we had been doing pre-CRI.

[2016-10-25 00:40] saad-ali commented on #28999
The `Volume is already mounted to pod, but remount was requested` message is not an error and is part of the normal operation of ephemeral volumes (like secrets)--it is the mechanism by which kubelet keeps the contents of the secret volume up to date. In a recent PR we've lowered the priority of the message so it is not printed in normal flow.

Can you describe more specifically what is not workin

[2016-10-25 00:48] Random-Liu commented on #33189
@yujuhong Good point! You mentioned this before, forgot that. :)

[2016-10-25 01:06] wyaeld commented on #27430
Minor observation: `PersistentSet` can just as easily use `PerSet` as a shorthand rather than the suggestions above for `PetSet` again, for those of us who like short names

[2016-10-25 01:08] joshk0 opened #35477 "Prioritize static pods"
I'm running Kubernetes 1.4 in GKE and I had a runaway pod eat up all my disk. The new disk based eviction tossed out all the pods in response. (I then hit #35406 , but that's unrelated to this issue.)

In the aftermath, I found that absolutely no pods were running on the machine, including kube-proxy. When I cleaned up the node, I found that service IPs didn't resolve, and I assumed that this was

[2016-10-25 01:09] bgrant0607 commented on #19762
Proposal is open: #35313

[2016-10-25 01:52] chengzhang1016 commented on #34394
@thaniyarasu No. My means is that ExternalName type service cannot be created if without `spec.ports`.
You can try again via your josn without `"ports": [{ "port": 3000 }]`

You can refer to the docs about externalname type service: https://github.com/kubernetes/kubernetes.github.io/blob/release-1.4/docs/user-guide/services/index.md
The docs indicated that `An ExternalName service is a special cas

[2016-10-25 01:55] #30159 closed

[2016-10-25 01:55] chengzhang1016 commented on #34394
@thaniyarasu ExternalName type service should be created successful without `spec.ports` by document: https://github.com/kubernetes/kubernetes.github.io/blob/release-1.4/docs/user-guide/services/index.md

[2016-10-25 01:59] kargakis commented on #35126
Assuming there is nothing to do here re protobuf, I'm closing

[2016-10-25 01:59] #35126 closed

[2016-10-25 02:05] nikhiljindal opened #35482 "federation: do not upload users kubeconfig as secret"
Today, we create a secret with users kubeconfig for federation control plane to be able to talk to all federated clusters.
Other alternatives:
- Admin should create a service account in the cluster that federation control plane needs access to (Ref https://github.com/kubernetes/kubernetes/pull/35154#issuecomment-255863762)
- federation control plane should send a Certificate signing request (CSR)

[2016-10-25 02:44] victorgp commented on #26000
Same here, kubernetes version 1.3.4 using CoreOS with default overlay fs

[2016-10-25 02:52] kevin-wangzefeng commented on #35414
/cc @kubernetes/sig-scheduling

[2016-10-25 02:53] victorgp commented on #16563
@vishh what's the status of this as today that version 1.4 is released?

Is overlayfs already supported?
Is the kubelet able to clean data if /var/lib/docker is in a different partition?

[2016-10-25 03:02] smarterclayton opened #35486 "hack/verify-generated-protobuf.sh is not working in the build guards"
I checked out master and ran hack/update-generate-protobuf-dockerized.sh and changes from https://github.com/kubernetes/kubernetes/pull/33905 were assigned tags.

[2016-10-25 04:36] hwinkel commented on #11359
to run K8s in a IoT/m2m use case this would be a typical scenario where you have just one "Gateway" node. Once you can reach this gateway Node K8s could create some kind of policy managed overlay network for the applications. But the external etcd should be available I assume.

BTW: IPv6 could be a option to once deployed more widely. How ist the IPv6 support these days?

[2016-10-25 04:40] MikeSpreitzer commented on #34099
FYI, you can query for the list of tags that _are_ available with this command: `curl https://gcr.io/v2/google_containers/hyperkube/tags/list  | jq .`.  Here is the tail of what I got just now:
[code]

[2016-10-25 04:43] MikeSpreitzer commented on #34099
(and there's no `v1.3.10-beta.0` either)

[2016-10-25 04:50] ymqytw commented on #34413
The root cause is [bestMatch()](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/unversioned/group_version.go#L291).
This function will return the first one in the slice when there is no best match.
In this case, this function's return value is not deterministic. It depends on the order of the input slice.
Ref: [#34010Comment](https://github.com/kubernetes/kubernetes/pull/34010#pullreq

[2016-10-25 05:25] praveenrajr9 commented on #19235
Hi All I am trying to setup kubernetes on a vm ubuntu 14.04 with help of instructions given in http://kubernetes.io/docs/getting-started-guides/ubuntu/
Flannel version 0.5.5
etcd version 2.3.1
kubernetes version 1.4.4
I am getting following error when I run the command

`KUBERNETES_PROVIDER=ubuntu ./kube-up.sh`
[code]

content of /var/log/upstart/etcd.log

[code]

[2016-10-25 05:52] mtbbiker commented on #32551
@bowei 100% Thanks I'll open a new Issue

[2016-10-25 05:58] foxish opened #35498 "Remove/replace pod.alpha.kubernetes.io/initialized annotation from petsets for beta"
PetSets currently support an annotation `pod.alpha.kubernetes.io/initialized` in their PodTemplateSpec field. From the user documentation:

#### Use cases
1. **Debugging**: If one want to bring up the pets in my petset one after the other, while pausing after each step, confirming that the state is as expected, one may use this functionality. For example, a petset where each pet is a replica of a

[2016-10-25 05:58] zreigz commented on #34100
We can close it

[2016-10-25 06:06] liggitt commented on #35413
The signing is done by a controller. If you want to issue certs for CSR's differently than the controller does, you can set up an external controller or process that protects the signing key however it wants, and avoid providing the signing key to the controller.

[2016-10-25 06:12] blurrcat commented on #28999
@saad-ali Thanks for your time! I have created a 1.4.3 cluster with kube-aws and the problem is gone!

[2016-10-25 06:15] davidopp commented on #35414
cc/ @dchen1107 @yujuhong

[2016-10-25 06:35] pieterlange commented on #32304
I've been experiencing the same issue with coreos stable and k8s 1.4. Restarting kubelet on a node "works" for me too, for a couple of hours.

[2016-10-25 06:49] davidopp opened #35499 "NodeController flag to disable all evictions"
@mml suggested maybe we could add a flag to NodeController that disables all evictions, so if it freaks out and starts doing a lot of unwanted evictions due to a bug, an operator could restart it with the flag enabled to at least halt the damage. (I guess the benefit of this over just killing NodeController and making sure it doesn't restart, is that the other things NC does would be preserved.)

[2016-10-25 07:01] mdshuai opened #35500 "node-selector in namespace can't merge with clusterDefaultNodeSelector"
**Kubernetes version** (use `kubectl version`):
v1.5.0-alpha.1.857+c81816751387a2-dirty

**What happened**:
node-selector in namespace can't merge with clusterDefaultNodeSelector

**How to reproduce it** (as minimally and precisely as possible):

Enable "PodNodeSelector" admission controller in api-server
[code]
1. Create a namespace with "scheduler.alpha.kubernetes.io/node-selector": "env=test,in

[2016-10-25 07:02] mdshuai commented on #35500
@aveshagarwal @derekwaynecarr

[2016-10-25 07:15] jsafrane commented on #16585
@jaknoll, kube-controller-manager is the Kubernetes component responsible for provisioning and it must be started in similar fashion like kubelet, i.e. with `--cloud-provider=openstack --cloud-config=/etc/cloud.conf`. No cinder/nova tools are necessary to be installed, Kubernetes uses Nova/Cinder API directly (at least on the master node).

Adding `-v 5` won't harm either and its logs should show

[2016-10-25 07:32] hjacobs commented on #35052
@austinmoore- we are also running into a similar issue with the `KubernetesCluster` tag as we want to reuse our network setup (i.e. subnets). The AWS integration currently assumes only one cluster per subnet (subnets tagged with `KubernetesCluster=...`).

[2016-10-25 07:43] piosz commented on #33775
This is now fixed in HEAD and should be included in 1.4 patch release soon. In the meantime you may want to use the new version in your cluster.

[2016-10-25 07:45] zreigz commented on #33797
I can work on this.
@caesarxuchao is it fine for you ?

[2016-10-25 07:45] xiangpengzhao commented on #27398
In telecom use cases, multiple networks are needed.  The possible network planes are management, control and media. Different type of traffic uses different networks to be isolated from each other. As the telecom applications being migrated to cloud, a telecom pod then has to be allocated multiple interfaces from all the network planes which it needs.
cc @thockin

[2016-10-25 07:47] zreigz commented on #35351
Can you describe it a little bit more. First of all I can not find any `hack/build.sh` file

[2016-10-25 07:51] xiangpengzhao commented on #27398
Another use case:
https://bugzilla.redhat.com/show_bug.cgi?id=1346466#c4

[2016-10-25 07:56] gyliu513 commented on #19235
Why close this, it still happens in my cluster again.

[code]

[2016-10-25 08:08] sarahnovotny commented on #35462
ack.  will draft something.

[2016-10-25 08:14] jim-yefeng commented on #34720
The same problem...

[2016-10-25 08:17] spacexnice opened #35502 "support for adding extra kubelet configuration"
# Support for adding extra Kubelet config

kubeadm should support for adding extra kubelet configuration while doing kubeadm init.   i want to add an extra [ --pod-infra-container-image] parameter to kubelet cmdline ,but cant find a parameter doing so.

[2016-10-25 08:17] fabiand commented on #27398
I wonder if additional NICs (beyond the first) should somehow be handled separately.

Keeping the first NIC mandatory would allow us to keep the assumption that there is always one NIC providing the cluster communication (like we have today).
Additional NICs could be then either defined natively in k8s or through an external provider (which will require some coordination with k8s).

To me another

[2016-10-25 08:22] floreks commented on #34559
Any reply would be great. We would like to move forward with it.

[2016-10-25 08:41] praveenrajr9 commented on #19235
I found out the cause:
In kubernetes/cluster/ubuntu/util.sh

There is a function

[code]
Remove the bold part and run

[2016-10-25 08:49] chrisz100 opened #35504 "Specify annotations on a namespace level and pass through"
In order to deploy load balancers/ services to AWS we define ELB SSL certificates using annotations.

Since we have wildcard certificates and add DNS routes per namespace, it would be great to define default-annotations on a namespace level.

If a service or pod got a strict parameter for this annotation, the defined value should be used.
If there is no value for the namespace-defined annotation s

[2016-10-25 08:57] errordeveloper commented on #34559
@floreks we are pressing for a snapshot release to get some of the user issues fixed, if you would like to chat about more details, please join us on Slack.

[2016-10-25 09:04] davidopp commented on #35228
That's interesting, I hadn't even realized DaemonSet would evict daemons. But the code @lukaszo pointed to seems to do that -- IIUC the path is that the node condition changes to NodeOutOfDisk, which triggers the watch on nodes (dsc.updateNode) which iterates over all the pods and does
`shouldEnqueue := (dsc.nodeShouldRunDaemonPod(oldNode, ds) != dsc.nodeShouldRunDaemonPod(curNode, ds))` so it que

[2016-10-25 09:05] errordeveloper commented on #34559
Yes, we are not using `glog`, as it produces rather noisy output by default, and we haven't had time to investigate custom formating, please feel free to do so.

Please take a look, I think a PR that add custom writer definition would be a good start.

May be. I think there are a few interesting things we could try.

No need, we don't have to stick to `fmt` package, as I said above.

[2016-10-25 09:09] sebgoa commented on #34100
Yes, thank you

[2016-10-25 09:09] #34100 closed

[2016-10-25 09:10] gyliu513 commented on #19235
Have a try with your solution, still does not work

[code]

[2016-10-25 09:12] qq690388648 commented on #35500
The logic of "PodNodeSelector" admission controller is clear in code between https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/podnodeselector/admission.go#L192 and https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/podnodeselector/admission.go#L214, so I think the original intention of @aveshagarwal is the clusterDefaultNodeSelector only take effect

[2016-10-25 09:13] mdshuai opened #35505 "Need validate namespace node-selector when create namespace"
**Kubernetes version** (use `kubectl version`):
v1.5.0-alpha.1.857+c81816751387a2-dirty

**What happened**:
Create a namespace with invalid node-selector, it can create successfully

**How to reproduce it** (as minimally and precisely as possible):

[code]

**Expected results**
1. When create namespace with invalid value"scheduler.alpha.kubernetes.io/node-selector" should failed.

**Anything else

[2016-10-25 09:14] bogdando commented on #35314
The kubeadm depends on the /usr/local/bin/kube-discovery https://github.com/kubernetes/kubernetes/blob/73e89ba0ece903e82b7005be06465753a4e065f7/cmd/kubeadm/app/master/discovery.go#L74. Shall we move the latter to another repo as well? Because dependencies like that might as well speed down kubeadm devs and block them "to move quickly" and maintain "productivity in the kubernetes repo is a zero sum

[2016-10-25 09:17] mdshuai commented on #35505
@aveshagarwal @derekwaynecarr

[2016-10-25 09:19] bogdando commented on #34134
What kubernetes binaries are the 1st class citizens and allowed to go to hyperkube and what are the 2nd class and shall be shipped as a separate distros? Doesn't what defeat the very concept of the hyperkube distro? Shall we extract discovery and federation related binaries? Why do you thing LCM tool (kubeadm) differs to those so it has to be separated?

[2016-10-25 09:21] spiddy commented on #30939
@ichekrygin  how can you downgrade to specific release number? I only found doc for downgrading channel https://coreos.com/os/docs/latest/manual-rollbacks.html

[2016-10-25 09:22] bogdando commented on #16508
I will leave that here https://github.com/kubernetes/kubernetes/issues/34134#issuecomment-255982448
We should think very careful on the final moves from the design decisions perspective.

[2016-10-25 09:24] mdshuai commented on #35500
@qq690388648 Thanks for your comment, I need  confirm with @aveshagarwal

[2016-10-25 09:29] bogdando commented on #28761
The main use case it is to omit any DNS dependencies and not using the "peer finder helper script" when bootstrapping clusters http://kubernetes.io/docs/user-guide/petset/bootstrapping/. Not sure if ConfigMaps could handle the case as well as the downward API. The latter seems the way less complex to setup (nothing to setup) and use (just query it!) and looks more user friendly.

[2016-10-25 09:31] xt99 commented on #35378
Same result for me after the same steps.

I also tried Calico network plugin, same result with crashing pods:

[code]

[2016-10-25 09:34] kargakis commented on #33845
@krmayankk it seems that the PodControllerRefManager does the whole Classify/Adopt dance [while the replica set is synced, just after listing all of its pods](https://github.com/kubernetes/kubernetes/blob/cfbb0eb2ff680173eeaa0ce91ab42f3c4f9bbc33/pkg/controller/replicaset/replica_set.go#L579). The respective place to do this in the deployment controller is not clear enough atm because we list all o

[2016-10-25 09:35] ThomasZhou commented on #27398
For telecom use case, some interface ip was configured by application self, not always by infrastructure.

[2016-10-25 09:36] mdshuai commented on #35505
also can update "scheduler.alpha.kubernetes.io/node-selector" after create namespace
[code]

[2016-10-25 09:42] praveenrajr9 commented on #19235
@gyliu513 try this as it is

function create-etcd-opts() {
  cat <<EOF > ~/kube/default/etcd
 ETCD_OPTS="\
 -name infra\
 -listen-client-urls http://127.0.0.1:4001 \
 -advertise-client-urls http://${1}:4001"
EOF
}

[2016-10-25 10:04] mdshuai opened #35506 "podNodeSelectorPluginConfig need validation when start"
**Kubernetes version** (use `kubectl version`):
 v1.5.0-alpha.1.857+c81816751387a2-dirty

**How to reproduce it** (as minimally and precisely as possible):

[code]

**Expected results**
1. Should start failed PodNodeSelector with invalid podNodeSelectorPluginConfig value.

**Anything else do we need to know**:

[2016-10-25 10:04] mdshuai commented on #35506
@aveshagarwal @derekwaynecarr

[2016-10-25 10:21] Hirayuki commented on #29540
+1

[2016-10-25 10:37] k8s-merge-robot opened #35507 "[k8s.io] Job should run a job to completion when tasks sometimes fail and are not locally restarted {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-test/130/

Failed: [k8s.io] Job should run a job to completion when tasks sometimes fail and are not locally restarted {Kubernetes e2e suite}

[code]

Previous issues for this test: #31498 #33896

[2016-10-25 10:53] floreks commented on #34559
First option is quite simple but as I've started to work on that I've noticed that `log` lacks option to write to stderr. It only offers simple `Print` with custom writer.

I guess this leaves us with second option. I don't want to create whole framework but rather simple solution that will meet our requirements and offers at least 3 levels of logging (Info, Warning, Error).

[2016-10-25 10:58] sachincab opened #35508 "ScheduledJob of kubernetes never gets called"
**What happened**:
We created a scheduled jobs from example mentioned on documentation.
kubectl run hello --schedule="0/1 \* \* \* ?" --restart=OnFailure --image=busybox -- /bin/sh -c "date; echo Hello from the Kubernetes cluster"

kubectl get scheduledjob hello
NAME      SCHEDULE      SUSPEND   ACTIVE    LAST-SCHEDULE
hello     0/1 \* \* \* ?   False     0         <none>

It never create a associ

[2016-10-25 10:59] kayrus commented on #30755
Looks like Helm's Charts could be used to resolve this issue https://github.com/kubernetes/charts

[2016-10-25 10:59] #30755 closed

[2016-10-25 11:23] nvartolomei opened #35509 "kubectl: yaml output for replication controller looks broken"
Look how output is formatted, works ok for json.

**Kubernetes version** (use `kubectl version`):

 → kubectl version
[code]

**What happened**:
[code]

**What you expected to happen**:
[code]

[2016-10-25 11:25] gajus commented on #13488
I feel like this addition is just an unnecessary bloating of the CLI API. This can be easily achieved by updating deployment environment variable values [as suggested by @paunin](https://github.com/kubernetes/kubernetes/issues/13488#issuecomment-218093109).

[2016-10-25 11:29] pskrzyns commented on #32128
@ncdc there is name duplication in those tests, ```"should support a client that connects, sends no data, and disconnects [Conformance]"``` is used twice. Do we really need 2 tests cases for this (cause it looks  more like portforwarder image testing, than testing k8s functionality), if so do you have any idea how to rename one of them ?

[2016-10-25 11:34] chakri-nelluri commented on #32543
@thockin @brendandburns @rootfs PTAL and let me know your feedback. I have changed the API to gRPC API.

[2016-10-25 11:37] chakri-nelluri commented on #32550
@thockin @brendandburns @rootfs PTAL.

[2016-10-25 11:48] joelharkes commented on #34395
👍  I got the same issue

[code]

[2016-10-25 11:49] vganapathy1 commented on #34884
@errordeveloper, I using Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-43-generic x86_64) and firewall is by default disabled. I even tried to reset steps suggested by @Starefossen and still the issue persists!

FYI When i look at the kube-proxy-adm64 I could see the below messages,
I1025 11:48:32.834269       1 iptables.go:339] running iptables-restore [--noflush --counters]
I1025 11:48:32.837936       1 p

[2016-10-25 12:00] k8s-merge-robot opened #35513 "[k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial-release-1.4/258/

Failed: [k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27115 #28070 #30747 #31341

[2016-10-25 12:06] dgoodwin commented on #35314
FWIW the kubeadm -> kube-discovery dependency is soft, and and likely going away very soon. In the link above it's just referencing an image where kube-discovery is published and the binary within it, it can be built and published separately.

[2016-10-25 12:09] joelharkes commented on #34395
Got it working:

Set environment variables:
![image](https://cloud.githubusercontent.com/assets/2960938/19685263/f91f06d4-9abb-11e6-852c-98679eb956ce.png)

then execute the following in he command line:
[code]

[2016-10-25 12:25] Arun129 opened #35514 "Error : This might loop forever if there was some uncaught error during start up"
Hi Team,
I am experiencing the below issue which was given in the below screenshot:
![2016-10-25 17_54_45-root ip-172-31-59-144_](https://cloud.githubusercontent.com/assets/7767467/19685878/3cc7961a-9adc-11e6-9bd8-1c9bcc7c5748.png)

[2016-10-25 12:39] resouer opened #35515 "`./hack/update-bazel.sh` fails with go 1.6.2"
`./hack/update-bazel.sh` fails with go 1.6.2. and obviously update golang will solve this.
[code]

Is there any obvious place we remind user/developer of the minimal go version we required? If not, we should add one to `./hack` at least.

[2016-10-25 12:40] Arun129 commented on #35514
Things I have tried :
I have attached some IAM policies to my current logged in user for full API Access
Policies like AmazonAPIGatewayInvokeFullAccess, AmazonAPIGatewayAdministrator, AdministratorAccess, AWSSupportAccess.
There is anything else to add apart from these policies. / Anyone tell me how to get a full access to AWS API's

[2016-10-25 12:48] ingvagabund commented on #28158
Affecting cluster capacity as well [1]. The scheduler consists of two controllers using the ``DeltaFIFO.Pop()``. Each iteration of the cluster capacity analysis consists of scheduler creation, running scheduler until no pod is schedulable and cleaning up the scheduler. As the two controllers are never cleaned up completely, each iteration leaves two go-routines blocked on the ``Pop()``. Running th

[2016-10-25 12:50] aveshagarwal commented on #35500
@mdshuai Yes this is correct behavior as default cluster level selectors only take effect when a namespace does not have any selectors associated with it. So it is working as expected.

[2016-10-25 12:54] aveshagarwal commented on #35506
@derekwaynecarr I do not have enough permissions, could you assign this issue to me?

[2016-10-25 12:54] aveshagarwal commented on #35505
@derekwaynecarr I do not have enough permissions, could you assign this issue to me?

[2016-10-25 12:54] aveshagarwal commented on #35500
@derekwaynecarr I do not have enough permissions, could you assign this issue to me?

[2016-10-25 13:12] wojtek-t opened #35517 "Step building the same over and over again"
While running make quick-release I get the following:

[code]

We are building gobindata and teststale 16 times each, which clearly seems like a waste of time.

@thockin @gmarek @jayunit100

[2016-10-25 13:41] karolyi commented on #3920
+1

[2016-10-25 13:45] ncdc commented on #32128
@pskrzyns yes we need both test cases. The first is for `With a server that expects a client request`, and the second is for `With a server that expects no client request`. These are two different valid scenarios that ensure that the port forwarding connection and streams are terminated properly in both cases. It is not just portforwarder image testing.

[2016-10-25 13:46] kargakis commented on #33845
Ok, I think the change needed to consolidate all lists into one place will be non-trivial and I don't want to block this issue. For now I think we will be fine with a separate list [before](https://github.com/kubernetes/kubernetes/blob/2729f282f38b5cac580c42b95aace87fc0fcb355/pkg/controller/deployment/deployment_controller.go#L357) any processing of the deployment happens where you should: 1) list

[2016-10-25 13:48] MikeSpreitzer commented on #34099
@justinsb you might get more attention on this issue if you changed its name to refer to 1.3.9

[2016-10-25 14:14] jayunit100 commented on #35517
Re bindata: Go generate will generate bindata as part of the compilation of e2e.  Outside that it shouldn't need to be called unnecessarily.

If anything is compiling the e2e code, or using it, it will generate bindata on demand.  It could be optimized, but I don't think it should be a huge cost?

[2016-10-25 14:20] wojtek-t commented on #35517
If it was generated only in case of compiling e2e that wouldn't be a problem. But it's being generated no matter what you are compiling. Which is clearly wrong.

[2016-10-25 14:22] capsloth commented on #27430
The poll result is official? PetSets are StatefulSets now?

[2016-10-25 14:25] lpabon commented on #28791
Closed by #31854

[2016-10-25 14:25] #28791 closed

[2016-10-25 14:26] aldenks commented on #29903
It seems as though the fix (#34859) is still under review. We are also effected by this and it is causing downtime in production daily.

[2016-10-25 14:34] ingvagabund commented on #35414
@LiTao2016 what happens if the Apiserver does not provide all layers? IINM, all the priority functions work over data collected from the Apiserver. If the ``ImageLayerPriority`` does not have all layers of the image in question available, should it assign worst or zero priority? What happens if the image does not exist (e.g. missing image registry)?

[2016-10-25 14:56] rrati opened #35518 "Move node affinity from annotations to api fields"
Moving the node affinity implementation out of annotations and into api fields, and from alpha->beta, should be done piecemeal to ensure functionality and sanity.  I would propose a process first porting the implementation/tests before attempting to promote from alpha->beta.  Porting would entail:
1. Remove the node affinity implementation in annotations and do not bother with backwards compatibil

[2016-10-25 14:59] timothysc commented on #35518
@davidopp This morning @rrati and I conversed about doing a 2-part conversion to leverage https://github.com/kubernetes/kubernetes/issues/34508 , and aim for alpha-beta in 1.6.

Thoughts?

[2016-10-25 15:00] yujuhong opened #35519 "(gci-)gce-serial suite flaking"
https://k8s-testgrid.appspot.com/google-gce#gce-serial
https://k8s-testgrid.appspot.com/google-gce#gci-gce-serial

Since [build 2400](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2400), tests in gce-serial started flaking a lot.
The [diff between build 2399 and build 2400](https://github.com/kubernetes/kubernetes/compare/37dc74f...40b66e1) include thre

[2016-10-25 15:02] justinsb opened #35521 "Kubelet may reject static pods when the node is out of disk space, and will not retry them"
If a pod fails admission (admission controller, disk space, or network not ready as of #33347), it is not retried.

I think this is the cause of #35409

Working up a PR now... I am thinking of keeping a list of pods that were rejected, and reattempting them every housekeeping interval.

[2016-10-25 15:02] resouer commented on #34308
Have we begin this work, or we still discussing?

[2016-10-25 15:03] luxas commented on #35314
Yes, we're not planning to keep kube-discovery for long, and even if we did that, we can have it wherever we want to, since the only usage of it is from the pushed image to `gcr.io`.

[2016-10-25 15:04] yujuhong commented on #35521
@justinsb pod phases progress monotonically. Once a pod has been rejected and transition to the "Failed" state, it is not supposed to go back to pending or running. I don't think kubelet should retry them

[2016-10-25 15:06] justinsb commented on #35521
But - for example - we check disk space in canAdmitPod.  That is a temporary condition.

How do you propose to handle this instead?

[2016-10-25 15:06] miracle2k commented on #21656
I think for some of us that are seeing this, it's really #34278.

[2016-10-25 15:09] yujuhong commented on #35521
kubelet doesn't care about whether the condition is temporary or not (for regular pods). It assumes the control plane (e.g., ReplicaSet) can react and determine what to do.

[2016-10-25 15:09] yujuhong commented on #35521
/cc @kubernetes/sig-node

[2016-10-25 15:16] justinsb commented on #35521
Hmmm.. that is tricky because of static pod manifests.  I put the network-readiness check in the same place as the disk space check, as I figured that was the closest analog.

Looking for a place to move it such that the pod can be admitted but won't start:

1) Any suggestion?
2) Should I move the disk free-space check there also?

[2016-10-25 15:23] miracle2k commented on #34278
On my cluster, this is definitely because Docker keeps restarting:

[code]

I can't find the reason why docker is restarting, though.

[2016-10-25 15:28] justinsb commented on #35521
How about in `Kubelet::syncPod`?

[2016-10-25 15:30] aveshagarwal commented on #25320
I have copied the list from https://github.com/kubernetes/kubernetes/issues/35518 here for taints/tolerations too :

1. Remove the existing implementation in annotations.
2. Implement existing stuff in api fields (xref: https://github.com/kubernetes/kubernetes/issues/34508).
3. Port tests.

As we discussed in yesterday's sig-sched meeting, I will start looking into it once the existing PRs are in

[2016-10-25 15:30] justinsb opened #35524 "Suspicious dropped-error in kubelet.go"
err here is never used:

https://github.com/kubernetes/kubernetes/blob/94f580ef03fd8e2cb0d4d9c2550fd231e8406dac/pkg/kubelet/kubelet.go#L1389

[2016-10-25 15:31] yujuhong commented on #35521
@justinsb hmm....even for regular pods, this behavior seems undesirable. If kubelet restarts, and the network plugin is not ready (due to podCIDIR) yet, it would reject all pods assigned to it. That seems to be what caused the serial suite to fail.

It might work. That just means kubelet will not sync the pod if network is not ready. I don't think disk space should be moved to the same space becau

[2016-10-25 15:39] justinsb commented on #35521
I feel like I've seen bad behaviour with full disks, so it feels like this is actually exposing a pre-existing problem.  I don't understand why we would permanently reject a static pod if the disk was full?

It feels like we should move both to syncPod...  I have a WIP PR which I'm testing now - can we give me a few minutes to see if that just fixes things, and then if not we can revert?

[2016-10-25 15:45] justinsb commented on #35521
Actually, on second thoughts, if we're blocking the submit queue we can just revert.  It sounds like this is a non-trivial issue, so it's worth finding the right solution.

[2016-10-25 15:46] smarterclayton commented on #35498
Should we just support Pause on PetSet (for part of these cases)?

[2016-10-25 15:48] fraenkel commented on #28158
Even if you break DeltaFIFO.Pop(), Controller.processLoop will never exit.

[2016-10-25 15:52] pires commented on #35424
I've been looking at this and I believe my initial assessment, and perhaps yours as well, that _if a value is not set in the configuration file, then use corresponding flag default_ is wrong. I am now convinced that we can use only one of the configuration methods, flags or file.
That said, when using flags, there are defaults available. The same doesn't apply to configuration file.

@mikedanese c

[2016-10-25 15:53] pskrzyns commented on #32128
@ncdc thx, missed ```With a server that expects no client request``` part ;)

[2016-10-25 15:54] foxish commented on #35509
cc @pwittrock @ymqytw

[2016-10-25 15:58] luxas commented on #35424
If it's like that, we should definitely have defaults for flags as well

[2016-10-25 16:12] pwittrock commented on #35509
@nvartolomei  Does this work on earlier versions?

[2016-10-25 16:12] viglesiasce commented on #35498
Do users have to catch the roll out at the right time in order for this to work? For example if I want to pause between nodes 2 and 3 coming up, do I need to be precise in my timing when editting the resource? How does this look from the users perspective?

[2016-10-25 16:13] foxish commented on #35477
/cc @kubernetes/sig-network

[2016-10-25 16:23] gmarek commented on #35513
@wojtek-t - do you know why we might be getting 500's in 1.4 branch?

[2016-10-25 16:23] #35519 closed

[2016-10-25 16:25] yujuhong commented on #35521
I don't think it's blocking the submit queue. Since you no longer need to change the admission logic, there are parts in your original PR that's not needed anymore. I think reverting makes sense here, and will make cherrypicking easier too.

[2016-10-25 16:26] kargakis commented on #35498
Note that Pause allows scaling in Deployments, it just blocks upgrades. That being said, I think Pause will be useful for PetSets in general. Not sure though if we can use it somehow for this specific issue.

[2016-10-25 16:28] kargakis commented on #35498
I like the debugging hook for PetSets. If it's optional I don't see any reason to get rid of it.

[2016-10-25 16:29] pigmej commented on #27430
I think that choosen `StatefulSet` is very bad name, what if I have stateless `PetSet`?

[2016-10-25 16:31] yujuhong commented on #35521
This is a bug, and it should be fixed. I changed the title to reflect that (thanks). The immediate solution if anyone encounters such a situation is to restart kubelet to let the pods go through the admission process again.

@justinsb I don't think your new PR needs to change the admission logic at all, so it shouldn't be affected by this bug.

[2016-10-25 16:33] superdump commented on #35424
To be clear: my expectation is that defaults are defaults regardless of whether I modify them with config in a file or command line flags. Defaults always apply unless they are explicitly overridden.

[2016-10-25 16:34] foxish commented on #35498
@viglesiasce

1. `kubectl scale --replicas=2 petset <name>`
2. *user pauses petset controller if necessary and inspects the state of the system*
3. `kubectl scale --replicas=3 petset <name>`

With the previous flow, the petset controller was paused after each pet's creation automatically, and here it would be an extra step to pause the controller it if necessary. I don't know how important it is t

[2016-10-25 16:35] jlowdermilk opened #35530 "Feature proposal: generic cmd auth provider plugin for kubectl"
kubectl currently supports 2 [auth provider plugins](https://github.com/kubernetes/kubernetes/tree/master/plugin/pkg/client/auth), gcp and oidc. I believe a wide range of other use cases could be handled by a plugin that runs a command to generate an access token.

Sample [AuthProviderConfig](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/clientcmd/api/types.go#L143) b

[2016-10-25 16:36] foxish commented on #35508
/cc @kubernetes/sig-apps  @erictune

[2016-10-25 16:41] matchstick commented on #28615
@madhusudancs Do you have time to address this? If not should @quinton-hoole  or someone else on federation triage?

[2016-10-25 16:41] evandigby commented on #29543
We're experiencing the same (or similar) issue with a few additional details:
- It only stops working if 2 of the subscribers are scheduled on the same pod.
- The pause is temporary--it eventually resumes (after 20-60s).
- We're using a different redis client (gopkg.in/redis.v5. We have also tried v2 and v4).

@nvartolomei were you ever able to resolve this?

[2016-10-25 16:42] yujuhong commented on #34308
AFAIK, no one is working on this.

[2016-10-25 16:44] kargakis commented on #35508
@soltysh

[2016-10-25 16:47] pires commented on #35424
@superdump I agree. And if it's not the case here, it should be documented.

[2016-10-25 16:49] chrislovecnm commented on #27430
@danpaik do we have results?  I need to rename a talk at kubecon

[2016-10-25 16:55] dcbw commented on #26637
@thockin IIRC you said you had a 3.x something kernel, while all our customers are either using later kernels, or using a highly rebased network stack from later kernels.  I was able to reproduce the issues with a 4.7 kernels on Fedora.  I haven't tried recent Ubuntu.  But in any case, iptables-restore latency is highly kernel dependent it seems.

[2016-10-25 17:05] smarterclayton commented on #35498
@bprashanth and I had several discussions with the lifecycle of what would be useful.  There are a bunch of use cases that overlap:

1. Debugging - not a primary concern for most users but helpful
2. Pause (prevent changes) - very important if you are triaging failures.  Technically scaling is itself a user action, so if you don't want your pet set autoscaled while triaging failures you need to ta

[2016-10-25 17:05] janetkuo commented on #35508
I cannot reproduce this in 1.4.3.

[code]

It'd help if you can show us the controller manager log and then we can debug when it failed

[2016-10-25 17:08] matchstick commented on #33302
@bowei or @thockin Can either of you take a look? As always @bprashanth may already have seen this.

[2016-10-25 17:10] pbecotte commented on #33680
Don't suppose anyone has any ideas for working around this until the next release?  (or a way to get a more up to date version of this binary)

[2016-10-25 17:14] jayunit100 commented on #35517
yup, we can make it a little smarter so that it doesn't run `go generate` unnecessarily.   not sure if test stale is in the same category or not, ill look

[2016-10-25 17:15] danpaik commented on #27430
Yes, I am crunching the final tally to find the condorcet winner which may or may not be consistent with the polljunkie results (which uses a different method).  I'll update later today.

[2016-10-25 17:16] bprashanth opened #35531 "[CRI] Docker shim should persist runtime config options like podCIDR"
Does the shim need to persist runtime config options so the network plugin can notice changes?
1. Some runtime options are only needed at startup and not changed thereafter. We handle this today.
2. Some may change at any point. Fails existence proof (?).
3. Some are only available after startup, but won't change

PodCIDR is an example of 3, and I think it might need to get persisted beause networ

[2016-10-25 17:17] kerneltime commented on #35340
@kcrawley can you share some more details on the changes planned?

[2016-10-25 17:20] derekwaynecarr commented on #35406
The issue is as follows:

1. handle pod clean-ups only cleans up pods that no longer exist on api server.

In response to disk pressure, we need to do the following:

1. cleanup terminal pod volumes
1. evict end-user pods

in handle `cleanupOrphanedPodDirs`

1. always clean-up volumes for pods failed with reason=evicted

The caveat here is memory backed volumes (secrets) as the current flow implie

[2016-10-25 17:20] mikesplain commented on #33969
This is also the case for v1.3.9

[2016-10-25 17:24] jayunit100 commented on #35517
Ah ok i see...

- go bindata is generated for every build in `build-go.sh`
- kube_toolchain is also run for every build in `build-go`

so, since `make quick-release` builds each binary, it redoes these two steps over and over.

the key, then, is to decide when we care about running these steps (one simple easy way to do this is to analyze the input to `build_binaries`

[2016-10-25 17:26] bprashanth commented on #33302
out of all the bugs assigned to me "Disruptive Feature: Reboot" is at the bottom of the list. Reboot tests are historically major flaky. If you want something that isn't *supposed* to flake, tackle something like udp networking.

I suspected this specific udp test case was flaking and sharded the suite before the last release:
https://github.com/kubernetes/kubernetes/issues/33285
https://github.co

[2016-10-25 17:27] ichekrygin commented on #30939
@spiddy: we are running `K8S` on `AWS` so all we had to do was to update to an earlier `AMI`. However, this issue is fixed as of `v1.4.0`, moreover, we are running on `v1.4.4` which also works w/out this problem.

[2016-10-25 17:34] jbeda opened #35533 "`kubeadm join` should retry discovery service"
Right now we are order dependent on how nodes come up.  The master must be up and running before `kubeadm join` can be run on the nodes.

We should make all calls to the master retry (with a fairly long timeout) so that the node can be up and running before the master.

[2016-10-25 17:36] errordeveloper commented on #35084
Where did you get the `http://files.rm-rf.ca/rpms/kubelet/` URL from? We don't have this in the docs, there is an official repo hosted by Google now. [Could you please try following what's in the docs?](http://kubernetes.io/docs/getting-started-guides/kubeadm/)

[2016-10-25 17:37] janetkuo opened #35534 "Rename PetSet to StatefulSet"
A list of things need to be changed for renaming `PetSet`. Feel free to extend the list:

**Pre code freeze**:
- [x] PetSet API (PR #35663)
  - types.go
  - API server related codes
    - register.go, conversion.go, defaults.go, validation.go, ...
    - client/cache/listers.go, clientset, unversioned client, ...
  - All other codes that referenced PetSet
  - All yaml/json config files that include

[2016-10-25 17:38] errordeveloper opened #35535 "firewalld breaks kubeadm"
Some users reported this, and it looks like disabling it solves the problem, but I'd like to find out what rules need to be added to make things work. I've been able to make most things work (see https://github.com/errordeveloper/kubernetes-ansible-vagrant/commit/67a4d87021f95b108e46f6a45a11f2f3786726f9), but lacking pod to master right now.

[2016-10-25 17:43] justinsb commented on #27430
I think what redis did here is worthy of thought: http://redis.io/commands/SLAVEOF

When we talk about PetSets, we have an opportunity for advocacy.  Talking about things and giving them names is the only way to effect change.  I have never thought more about cattle and where meat comes from than I have since the pets vs cattle analogy came about.  We don't need to endorse the analogy, but stoppin

[2016-10-25 17:56] xjlu commented on #35317
The number seems arbitrary, and on staging env, we hit the issue when we want to schedule more than 6 apps.

[2016-10-25 18:01] #35369 closed

[2016-10-25 18:02] foxish commented on #35535
cc @kubernetes/sig-cluster-lifecycle

[2016-10-25 18:03] foxish commented on #35514
cc @ymqytw

[2016-10-25 18:07] jaknoll commented on #16585
@jsafrane, thanks for the quick responses.

I've updated my kube-controller-manager manifest with cloud-provider and now I can't get the controller-manager to start.  Without the cloud-provider/config options things start up without an issue.  Here is the pod status and manifest file use:

[code]

logs for kubelet only show this:

[code]

Attempting to run the controller-manager container manually

[2016-10-25 18:12] ncdc commented on #22609
I assume you'd add retries in the event that 2 apiservers tried to update
the ConfigMap simultaneously?

On Mon, Oct 24, 2016 at 10:13 AM, Filip Grzadkowski <
notifications@github.com> wrote:

[2016-10-25 18:12] sandys commented on #16508
hi Joe,
just curious about the self update part - doesn't the opportunity to have a
single binary, give you guys the opportunity to fix the update lifecycle?

If you are going through all this design trouble, why not architect it
around lifecycle? I believe it would be the killer application around the
single binary architecture (other advantages notwithstanding)

On Oct 17, 2016 11:07 PM, "Joe Be

[2016-10-25 18:12] mikedanese commented on #35424
I think i know how to fix this. I'll take a look today.

[2016-10-25 18:12] errordeveloper commented on #35314
Also renaming to kube-boot, as suggested in another thread, would make a
lot of sense.

On Fri, 21 Oct 2016, 21:29 Ilya Dmitrichenko, <errordeveloper@gmail.com>
wrote:

[2016-10-25 18:14] hjacobs commented on #35534
OMG, after the comments in #27430 I would have thought there would be some consideration, but here you go... (I can live with the rename, but I'm also somehow disappointed :disappointed: ).

[2016-10-25 18:15] kelseyhightower opened #35536 "Clusters built with kubeadm don't support basic auth"
Some people are having trouble authenticating to the Kubernetes dashboard when the cluster is built with kubeadm. Seems like the deployed api server does not support basic auth, which makes it impossible to hit the Dashboard UI without using `kubectl proxy`.

[2016-10-25 18:16] grosser commented on #35076
I have no idea about go, but I'd say: parallelize the fetching using the
current implementation ... then do the logic when something arrives ?

On Mon, Oct 24, 2016 at 4:46 AM, Sebastian Florek <notifications@github.com>
wrote:

[2016-10-25 18:16] caesarxuchao commented on #33845
Thanks. I thought the informer would use the `FullDeploymentResyncPeriod` defined in the deployment controller package, so I concluded it's not resyncing because `FullDeploymentResyncPeriod` was not used anywhere.

[2016-10-25 18:17] smarterclayton commented on #35145
That's the behavior we want, yes (that is described in the other proposal,
although possibly should be described more clearly).

On Sun, Oct 23, 2016 at 9:39 PM, David Oppenheimer <notifications@github.com

[2016-10-25 18:17] Hirayuki commented on #35536
if needed I can reproduce the issue and give outputs tomorrow

[2016-10-25 18:18] dgoodwin commented on #35535
Spoke with @danwinship briefly, he has confirmed that you should not need to disable firewalld entirely, however it would block host ports by default and those rules would need to be disabled which I believe matches what @errordeveloper had to do in the branch linked above.

[2016-10-25 18:18] thockin commented on #26637
What verbosity are you running?  The normal setting is --v=2 and that does
not log all the iptables state.  That is --v=3

On Mon, Oct 24, 2016 at 2:17 AM, leo-baltus <notifications@github.com>
wrote:

[2016-10-25 18:19] mikedanese commented on #35536
@kubernetes/sig-cluster-lifecycle

[2016-10-25 18:19] smarterclayton commented on #35318
What class of things run as rc=1, ps=1?

Important:
Databases
Leader services
The B of an A/B test
----
Not important:
Testing instances of production services
Random stuff you start under an rs (so it will survive node death) but for
which you forget about.

In large clusters the latter are going to dwarf the former (many OpenShift
clusters today are 95% the latter).  If this change added the PR

[2016-10-25 18:20] derekwaynecarr commented on #10570
Evan - thanks for the details!

Given what you described about your workload (multiple containers that
share a common NUMA node), if you were to adopt Kubernetes in the future
for this style of workload, I am curious how you would look at adopting
Pods.

For this style of workload, do you prefer a model:

   1. Having a single Pod object that grouped multiple containers (shared
   fate, shared mem

[2016-10-25 18:20] bprashanth commented on #35534
I noticed you already have a pr for the first, thanks! We should focus on nailing the api change before code freeze.

[2016-10-25 18:21] luxas commented on #35314
@errordeveloper Do you mean kube-discovery should be renamed to kube-boot or should kubeadm be renamed?

[2016-10-25 18:21] smarterclayton commented on #35335
Tail should be *int in the API, is it not?

On Oct 21, 2016, at 6:01 PM, Lantao Liu <notifications@github.com> wrote:

How docker logs works:

   - docker logs --tail=-1 CONTAINER_ID: prints all lines.
   - docker logs --tail=1 CONTAINER_ID: prints the last line.
   - docker logs --tail=0 CONTAINER_ID: prints no lines. (Usually used with
   -f to follow new logs)

How kubectl logs works:

   - kub

[2016-10-25 18:21] thockin commented on #35409
Is it broken because it expected to not run?

On Mon, Oct 24, 2016 at 4:24 AM, Mikhail Vyatskov <notifications@github.com>
wrote:

[2016-10-25 18:21] errordeveloper commented on #35314
This would be really great. We, kubeadm contributors, had a lot of pain
recently not being able to move as quickly as we could, e.g. we hit test
infra flakes without having any test that concern kubeadm code as such,
also noise in the issues and PRs had been a problem. Additionally, admin
access for some of kubeadm contributors would help the current situation,
but it seems like a big question for

[2016-10-25 18:22] errordeveloper commented on #34884
Does 'curl -vk https://10.0.0.1:443' work from a node and master?

On Tue, 25 Oct 2016, 12:49 vganapathy1, <notifications@github.com> wrote:

[2016-10-25 18:22] smarterclayton commented on #35359
Can we rename bazel BUILD to .BUILD?

On Oct 22, 2016, at 4:35 AM, Joe Finney <notifications@github.com> wrote:

Ahh, case-insensitive filesystem bugs. Looks like we have two obvious
options:

   1. Don't support native builds on mac. Run it in docker.
   2. Rename all build/ folders to something else.

I'm happy with either solution, but remember @thockin
<https://github.com/thockin>'s words
<htt

[2016-10-25 18:22] smarterclayton commented on #35318
Sure - my default position is do not make this change, but I can
understand why someone would want implicit PDB.  But a better argument
would be a simple controller that creates a PDB for everything, rather
than having custom core behavior.

[2016-10-25 18:22] smarterclayton commented on #35159
That's going to be going away very soon so we shouldn't depend on it.

Some other options

- move the controllers out of kubernetes/kubernetes and copy the libraries
as we go - moving them slowly. (this is similar to your option 1.1)
- move kubelet out of kubernetes/kubernetes
- move kubectl out of kubernetes/kubernetes

We could potentially pick off libraries we want to reuse into their own
repos

[2016-10-25 18:23] smarterclayton commented on #34377
Openshift is still 1.3 so it only supports the alpha annotation.  If
you set both it'll work.

[2016-10-25 18:23] MaikuMori commented on #21656
According to Slack and my own experience this is a serious problem
affecting considerable amount of people.

On Mon, 24 Oct 2016 at 02:17 David Oppenheimer <notifications@github.com>
wrote:

--
~ Miks Kalniņš

[2016-10-25 18:23] bowei commented on #33302
Looks like 267d1fbd77449afd8c2bde7687a606c19a6019fc needs to be backported to 1.3

[2016-10-25 18:24] luxas commented on #34884
Please move the debug session to another thread so we can focus on releasing tasks here instead :)

[2016-10-25 18:24] ikester commented on #27430
Yes Chris. That was my main concern when I first posted on this thread.

But how big of a debt is it really? I mean, this is still beta, and it’s only been out for a few months.

I’m not saying the cost is zero. There are clearly many documents, blog posts, tutorials, videos, etc. already out there. My point is that it’s only going to get worse. And if we’re going to make a change it should be don

[2016-10-25 18:24] smarterclayton commented on #35318
Is 3 disruptive to anyone with a large cluster today?  Trying to consider
how someone may be rotating nodes in and out en masse where this would be
surprising / a problem.  The solution is fairly easy (to create a PDB).

On Mon, Oct 24, 2016 at 2:35 PM, Kenneth Owens <notifications@github.com>
wrote:

[2016-10-25 18:24] errordeveloper commented on #34884
Ok, looks like there is a bug, I wonder why we missed it so far, it may be
an edge case. Tobias, if you can give me access, it would be the easiest
path to debug this. I wonder why the /etc/kubernetes directory was not
empty in your VM... Before I get to this, could you check what was in it,
and in case there may be any other state, e.g. data in etcd?

On Fri, 21 Oct 2016, 10:59 Tobias Bradtke, <n

[2016-10-25 18:24] smarterclayton commented on #35226
Re: splitting kubectl and controller managers and kubelet - it's been
discussed briefly as part of the "how do we cleanly transition to
versioned clients".  Build infra is probably the challenge but would
also help velocity.  We discussed splitting oc out into its own repo
to reduce cost of testing as well on openshift side.

[2016-10-25 18:25] smarterclayton commented on #35318
Agree 3 sounds better than 4, and that both sound (at least naively) as
being better than 1 and 2.

On Sat, Oct 22, 2016 at 6:04 AM, David Oppenheimer <notifications@github.com

[2016-10-25 18:25] vishh commented on #33255
I vote for `qos`.

On Fri, Oct 21, 2016 at 3:01 PM, Seth Jennings <notifications@github.com>
wrote:

[2016-10-25 18:28] smarterclayton commented on #35359
Is it possible on the mac to make the filesystem for bazel case sensitive?
It seems pretty likely we'll have packages and directories called "build"
in Kube ecosystem projects that want to reuse Kube build infra.

What "make fs" part is acting as insensitive?

On Oct 22, 2016, at 4:35 AM, Joe Finney <notifications@github.com> wrote:

Ahh, case-insensitive filesystem bugs. Looks like we have two ob

[2016-10-25 18:29] thockin commented on #2742
I've thought about it for DeepCopy, and it should be pretty close to
doable.  Conversion is more complicated.

On Fri, Oct 21, 2016 at 12:25 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-10-25 18:29] ikester commented on #27430
I know people probably don’t want even more choices at this point but, after reading again recent arguments and looking at the options in that poll, I wonder why I haven’t seen:

OrderSet - os
OrderedSet - os
OrderedInstanceSet - os
IndexSet - is
IndexedSet - is
IndexedInstanceSet - is
SequenceSet - seq
SequencedSet - seq
SequencedInstanceSet - seq
OrdinalSet - os

Key point: Noun (not Adjective)

[2016-10-25 18:30] karlkfi commented on #27430
PersistentPodSet?

[2016-10-25 18:31] hjacobs commented on #35530
@jlowdermilk we use token authentication and we are using a simple helper script/binary to generate the right `kubeconfig` for the user. So theoretically this feature proposal is interesting for us, BUT: I think it just makes `kubectl` more complex and other tools like the `docker` client have the same issue (we also generate a `.docker/config.json` with a token).

=> My opinion is that the `kubec

[2016-10-25 18:32] ymqytw commented on #35509
@nvartolomei Which part of the formatted output is broken?

[2016-10-25 18:34] thockin commented on #9125
Also, we have an HTTP server:  cmd/kube-proxy/app/server.go

On Mon, Oct 24, 2016 at 9:03 AM, Prashanth B <notifications@github.com>
wrote:

[2016-10-25 18:34] smarterclayton commented on #35226
sig-cli agenda item sounds good.

On Mon, Oct 24, 2016 at 4:40 PM, Brian Grant <notifications@github.com>
wrote:

[2016-10-25 18:35] karlkfi commented on #35422
I no longer work on kubernetes, have been removed as a committer, and can no longer unassign myself from this ticket.

[2016-10-25 18:35] thockin commented on #14661
On Fri, Oct 21, 2016 at 12:37 PM, Prashanth B <notifications@github.com> wrote:

I convinced myself that it DOES NOT do what we want.  it does exactly
what we do today.

[2016-10-25 18:35] smarterclayton commented on #35335
Agree tail=0 no logs is intended behavior

On Oct 21, 2016, at 6:01 PM, Lantao Liu <notifications@github.com> wrote:

How docker logs works:

   - docker logs --tail=-1 CONTAINER_ID: prints all lines.
   - docker logs --tail=1 CONTAINER_ID: prints the last line.
   - docker logs --tail=0 CONTAINER_ID: prints no lines. (Usually used with
   -f to follow new logs)

How kubectl logs works:

   - kube

[2016-10-25 18:35] smarterclayton commented on #35359
We will eventually have other packages that are called "build".  OpenShift
has several.  I don't think assuming "build" is reserved is a long term
solution.

On Mon, Oct 24, 2016 at 1:56 PM, Joe Finney <notifications@github.com>
wrote:

[2016-10-25 18:35] ncdc commented on #2742
I have many of the generators working in a separate repo, but I had to hack the scripts a lot. See https://github.com/openshift/kube-projects/pull/9 plus what's already in tree

[2016-10-25 18:36] ranhsd opened #35539 "Question about namespace best practices"
Hi , I did some quick search on the internet about kuberbetes namespaces and all the examples that i found use namespaces in order to separate between dev,test,staging,prod env. In my project i am planning to have 2 clusters: one for test and staging (will be separated by namespaces of course) and the other one for production.
I wanted to know if the best practice of using namespaces is only when

[2016-10-25 18:37] smarterclayton commented on #35359
All the dealing with ugly real world stuff (Mac, distro build systems) I do
like the concept of bazel in terms of speeding up builds.

On Sat, Oct 22, 2016 at 7:21 PM, Joe Beda <notifications@github.com> wrote:

[2016-10-25 18:38] smarterclayton commented on #35359
A nice addendum to:

Let not make developing on Kube suck

Which is probably more important to me.  Some Kube developers use Macs.
 95% of our code has zero to do with Linux.

On Oct 22, 2016, at 4:35 AM, Joe Finney <notifications@github.com> wrote:

Ahh, case-insensitive filesystem bugs. Looks like we have two obvious
options:

   1. Don't support native builds on mac. Run it in docker.
   2. Ren

[2016-10-25 18:38] jaknoll commented on #16585
@jsafrane - Thanks! that did it.  I figured I was missing something pretty simple.

[2016-10-25 18:41] justinsb commented on #35534
We should probably wait for the community to determine a name, right?

[2016-10-25 18:45] thockin commented on #35407
How do we know that a given PV is "dirty" and needs to be manually
scrubbed, without status?

On Mon, Oct 24, 2016 at 1:59 AM, Jan Šafránek <notifications@github.com>
wrote:

[2016-10-25 18:46] jlowdermilk commented on #35530
@hjacobs, are your tokens long lived? For long lived tokens, generating kubeconfig is sufficient, but if you have access tokens with a 1hr expiry (oauth2 default), it's a pain to have to manually run a helper when kubectl could do it for you and handle caching the access token.

[2016-10-25 18:46] smarterclayton commented on #35054
In openshift we intercept this and change the flag name to loglevel, so
it's possible but annoying.

On Oct 21, 2016, at 5:55 PM, Janet Kuo <notifications@github.com> wrote:

Where does -v / --v come from? I think it's from glog. Would this make it
hard to change its flag description?

Agree that we should define debug/trace levels, and logs in the codebase
should be compliant with them.

—
You ar

[2016-10-25 18:46] smarterclayton commented on #35359
We can set up a full case sensitive FS on mac via a partition if necessary.

On Oct 22, 2016, at 3:38 PM, Jeff Grafton <notifications@github.com> wrote:

Well, that is terrible.

Option 1 doesn't fix the issue - git is just going to fail to check out
build/ and BUILD on macOS.

Probably the only thing we can do is rename build/ to something else, but
that's going to break everyone who calls into b

[2016-10-25 18:47] deads2k commented on #35530
@smarterclayton How do you feel about this versus the kubectl extension mechanism? I think that `kubectl login` plus  kubectl extensions would end up being a nicer integration long term.

If we go down this route instead, I think we'll want a way to pass through the current state of the merged kubeconfig file or maybe just the known information to the helper command.

[2016-10-25 18:48] rtoma commented on #34278
@bprashanth Thanks for sharing the oneliner to free unused IP addresses! I was able to cure our GKE 1.4.3 cluster from a "no IP addresses available in network" FailedSync loop.

[2016-10-25 18:49] smarterclayton commented on #35318
Yeah 3 addresses the large dense clusters case pretty well.  I think it's a
good line between safety and forward progress, and will validate it with
some operators.

I think 3 is probably good enough I don't need the default, but defer to
others who may be more concerned.

On Mon, Oct 24, 2016 at 5:28 PM, Kenneth Owens <notifications@github.com>
wrote:

[2016-10-25 18:49] ncdc commented on #35359
I don't see individual developers doing this (or were you joking?)

[2016-10-25 18:50] spxtr commented on #35359
@smarterclayton I would agree with forcing developers to use a real file-system, but I don't think it's acceptable to be unable to clone the repo and make small docs changes on a mac. We have renamed the build folders, and we can add a presubmit that ensures this problem doesn't reoccur if necessary.

[2016-10-25 18:51] bprashanth commented on #35534
I think the poll is closed

[2016-10-25 18:51] ixdy commented on #35359
also hopefully https://github.com/bazelbuild/bazel/issues/552 will be fixed at some point in the next few months, which will solve the issue for us.

[2016-10-25 18:51] thockin commented on #10570
I'm particularly interested in the CAREFUL evolution of this at the API
level, given our experiences with Borg.  Looking forward to it.

On Fri, Oct 21, 2016 at 1:09 PM, Jeremy Eder <notifications@github.com>
wrote:

[2016-10-25 18:52] thockin commented on #27398
I think nobody is against multiple IP addresses, we just need to figure out
the API considerations.

On Tue, Oct 25, 2016 at 2:35 AM, Zhou Tong <notifications@github.com> wrote:

[2016-10-25 18:52] karunchennuri commented on #35254
Is it assumed that users of federation control plane are different from users of underlying clusters?

[2016-10-25 18:55] ericchiang commented on #35530
@jlowdermilk would you just want to add an OAuth2 auth provider instead?

[code]

[2016-10-25 18:59] kargakis commented on #35498
Note that Pause does not prevent scaling in Deployments, only upgrades

On Tue, Oct 25, 2016 at 5:47 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-10-25 18:59] smarterclayton commented on #35359
One more scenario - if I want to vendor Kube packages, what implications
are there to BUILD files in vendor/k8s.kubernetes/* directories?

On Sat, Oct 22, 2016 at 7:33 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-10-25 18:59] jlowdermilk commented on #35530
@ericchiang, that works if you have a refreshToken, but I'm looking for a solution that doesn't require caching refreshToken. The only assumption this proposal makes is that some script/binary exists that provides a bearer token that the apiserver will accept, with an expiration timestamp for cache eviction.

[2016-10-25 19:00] smarterclayton commented on #35426
Just different function.  This is "show the things to end users that fit in
a list, suitable for help".  Help should not be fetched remotely.

On Mon, Oct 24, 2016 at 1:33 PM, David Eads <notifications@github.com>
wrote:

[2016-10-25 19:02] dchen1107 commented on #21656
The problem initially reported here is a resource provisioning issue, and including "capacity" of IP addresses in NodeAllocatable is the right approach to resolve this problem. The FeasibilityChecking run by both the scheduler and the node should take the IP addresses into the consideration. --max-pods kindly workaround this provisioning issue today.

But I want to point out the following issues r

[2016-10-25 19:05] luxas commented on #35533
I think this is working already :smile:
See https://github.com/kubernetes/kubernetes/pull/34703 and https://github.com/kubernetes/kubernetes/pull/34718

WDYT?

[2016-10-25 19:07] nicolasbelanger commented on #33775
@piosz Works for me, thanks!

[2016-10-25 19:07] fabianofranz commented on #35054
How it looks like to change the flag description by the intercept-and-change method (no changes yet to long or short flag names):

https://github.com/fabianofranz/kubernetes/commit/8f5c76daccdb0f4fc64d6bbd70de7c838a4a921c

[2016-10-25 19:09] jbeda commented on #35536
Opinions on what the experience should be here?

We could create an admin user and output the password as part of `kubeadm join`.

But, to be honest, basic auth is a bit of a hack as to change those accounts you need to edit a file and restart the apiserver.  This'll also be a problem as we move to HA.

Options:
* Improve password auth so that accounts are stored in etcd and can be managed.
* Enha

[2016-10-25 19:10] ghodss commented on #35054
If we're going to create a different long name, we should keep to word separation conventions and call it --log-level.

[2016-10-25 19:10] dchen1107 commented on #34278
This is a serious production bug in 1.4 with kubenet, and we should fix and even patch 1.4 IMP. I raised the priority to P0 to reflect the urgency on this one. I also updated another issue at: https://github.com/kubernetes/kubernetes/issues/21656#issuecomment-256142942 in which many users complain this particular bug.

@freehan has a pending pr https://github.com/kubernetes/kubernetes/pull/34373 t

[2016-10-25 19:11] kelseyhightower commented on #35536
@jbeda It could be as simple as updating the docs and highlight that you must use kubectl proxy to "authenticate" to the Kubernetes Dashboard and other add-ons.

[2016-10-25 19:11] yujuhong commented on #35448
@Zapadlo it seems that a lot of churn is caused by reading the listing pod volumes on the disk using [ReadDirNoExit](https://github.com/kubernetes/kubernetes/blob/v1.3.6/pkg/util/util.go#L90).
You could check listing the directories in `/var/lib/kubelet/pods/<pod_uid>/volumes` to see if there is anything abnormal.

[2016-10-25 19:11] jbeda commented on #35533
Ah!  You are way ahead of me.  We'll just have to wait for the next release to use it widely.

[2016-10-25 19:11] hjacobs commented on #35530
@jlowdermilk we use OAuth tokens with 1h lifetime too. Another approach is wrapping `kubectl` with your script/binary like `myauth kubectl get pods` or shorter `mykubectl get pods` so nobody needs to manually trigger the `kubeconfig` generation script.

Potential problem I see with your "command" hook: what about user input? Will STDIN just work (waiting for user input like password)? The command

[2016-10-25 19:11] #35533 closed

[2016-10-25 19:12] Crassirostris commented on #35409
@thockin It's fixed now and should be closed

https://k8s-testgrid.appspot.com/google-gce#gce-es-logging
https://k8s-testgrid.appspot.com/google-gce#gci-gce-es-logging

Mentioned in https://github.com/kubernetes/kubernetes/pull/35528

[2016-10-25 19:13] bprashanth commented on #34278
Yeah the plan was to get that pr in to the next minor releaes. Are you saying this alone qualifies a new release? if not, we have time no?

[2016-10-25 19:13] deads2k commented on #35426
While that wouldn't make it impossible to create `set` commands that work natively across unknown types, it does make a lot less consistent.  Saying that the solution for having good help is "fork kubectl" is not very friendly.  An optional, fast, short-circuiting check seems better for everyone except the guy writing it.

[2016-10-25 19:14] bprashanth commented on #34278
The reason time is important is because if the next release is tomorrow, we'd go with the gc hack, but if there's time we can investigate an alternate solution (I haven't dug up if we can in fact just call teardown on old container id for infra container).

[2016-10-25 19:16] fabianofranz commented on #35054
@janetkuo I think `--verbosity` sounds interesting in terms of clarity, but that would be an addition (not replacement) to `-v`, correct? Just take `debug|info|warning|error|critical` and map each to 0~10 levels, but still expose `-v` if you want to set it numerically, and make them mutually exclusive.

[2016-10-25 19:16] #35409 closed

[2016-10-25 19:17] yujuhong commented on #21656
Not all the network plugins use the pod CIDR assigned to the node, and we don't know how many IPs they have (i.e., it could be lower than 110). This shouldn't affect the GKE clusters, but for GCE clusters using non-default network plugins, it may still cause issues.

[2016-10-25 19:18] dchen1107 commented on #34278
@freehan and I had a brief conversation a while back, and I don't like gc hack. But if we couldn't find another solution in short term or the qualified solution is too complicated for a patch release, I can leave with gc solution in 1.4.

[2016-10-25 19:20] saad-ali opened #35542 "Tag all storage E2E tests with [Storage] tag so that they can be run explicitly"
We have storage E2E tests sprinkled across multiple test suites. When trying to run all storage tests, it is difficult to know which ones to run. To fix this, we should tag all storage/volume plugin e2e tests with the `[Storage]` tag.

@kubernetes/sig-storage

[2016-10-25 19:20] bprashanth commented on #34278
We're on the same page, I'm holding out in the hope that I'll find a better solution by the time someone announces the 1.4.5 release train. Minhan's pr is pretty much ready modulo nits, so we can get it in an revert too (gross but whatever).

[2016-10-25 19:25] timstclair commented on #35521
Related PR: https://github.com/kubernetes/kubernetes/pull/35342

Conditions which the scheduler is not aware of, or that should be retried on the same node should be "soft rejected", i.e. the pod should not be marked as failed, instead it should be blocked from starting.

[2016-10-25 19:25] yujuhong commented on #34278
Tear down the old container id for an infra container should be fine after #35240, and the CRI e2e tests are basically doing that right now. There is no tests for non-kubenet plugins though.

That said, in today's kubelet, the GC hack works for all cases (e.g., infra containers got removed by user directly), and the alternative approach doesn't.

[2016-10-25 19:26] dchen1107 commented on #21656
That should be ok. In my mind, whoever does ip allocation on the node should figure out  "capacity" of IP addresses, Kubelet just needs to get that information and reports it as part of NodeAllocatable.

Again, this is lower priority issue in 1.5 timeframe and --max-pods is the workaround for now.

[2016-10-25 19:26] wojtek-t commented on #35517
@jayunit100 - we can try with what you suggested and potentially improve in the future.

[2016-10-25 19:38] smarterclayton commented on #35530
The assumption I made for extending kubectl login that:

1. Something had to be installed on the user's system
2. The login command needs to know what auth module to call

The extension proposal helps with 1 (we could say just add
kubectl-login-mycustomlogin) but we would need a way for the server to
describe 2.  HTTP almost got this right, but then people went and started
adding extensions that d

[2016-10-25 19:38] justinsb commented on #35534
Perhaps, but the poll results have not been computed: https://github.com/kubernetes/kubernetes/issues/27430#issuecomment-256099586

Also, presumably we should check to see if there are objections to the winner, unless you want to do this twice :-)

Also, perhaps the reason PetSet was excluded was because we are now going to ask the community to vote on "PetSet vs winner".

[2016-10-25 19:46] rootfs commented on #35542
would volume work? storage is something used for api storage (etcd)

[2016-10-25 19:46] soltysh commented on #35461
This looks like a dupe of #35429, which should be addressed already.

[2016-10-25 19:46] #35461 closed

[2016-10-25 19:49] luxas commented on #35533
Yes, I'm really trying to push the next release forward, but there are some things yet to be done (as always)

[2016-10-25 19:49] nikhiljindal commented on #28615
I think @quinton-hoole is on the ingress one.
I just tried the auth ones locally and both of them failed. It should be easier to debug now that I have them failing locally.

the invalid credentials one didnt have anything in logs. Will try to add more info to logs to find out the problem.
The right credentials one failed with:
[code]

[2016-10-25 19:53] soltysh commented on #35508
Same here, using:
[code]
working as expected.

To add more to what Janet already asked for it would be nice to show us the events for that SJ, as well.

[2016-10-25 20:04] ixdy commented on #34099
@david-mcmahon

[2016-10-25 20:06] ericchiang commented on #35530
Are you trying to pop a browser to login or something?

While the `ClientAuthProvider` has a `Login` method it's not really implemented by any auth provider and doesn't actually have a way to trigger it in kubectl. So today, `ClientAuthProviders` express non-interactive methods (like using a refresh token to get a new access token), while the `kubectl login` proposal would deal with options requir

[2016-10-25 20:06] ixdy commented on #34099
cc @alex-mohr @nikhiljindal @fabioy

[2016-10-25 20:08] david-mcmahon commented on #34099
@fabioy has the tooling to push these missing images.

[2016-10-25 20:15] nikhiljindal commented on #35251
I think the time out is due to a combination of our failing tests and https://github.com/kubernetes/kubernetes/issues/35080. Whenever a test fails, e2e framework tries to print the logs of some of our pods. But fetching logs is timing out after a long time (as discussed in https://github.com/kubernetes/kubernetes/issues/35080).

Fixing the tests to not fail should eliminate the timeout failure :)

[2016-10-25 20:16] euank commented on #35406
We discussed this in the sig-node meeting today.

We all agree this is a problem and at the very least should get in a fix (even if partial) for 1.5. @derekwaynecarr said someone from Redhat should be able to help

The partial fix could just be evicting volumes when there's disk pressure, but it could also be removing any known-tmpfs volumes when the pod's cleaned up.

I think the next step is som

[2016-10-25 20:17] nikhiljindal commented on #35251
Regarding spec.ports[0].protocol and spec.sessionAffinity fields, I see that we are setting them in our tests: https://github.com/kubernetes/kubernetes/blob/33ebe1f18b9cf5909931376f656e19e80ac9ac1c/test/e2e/federation-util.go#L266.

Ref https://github.com/kubernetes/kubernetes/issues/28615#issuecomment-256155937

[2016-10-25 20:19] davidopp commented on #21656
Sorry, I wasn't completely clear on the resolution of this issue.

* Are we going to implement IPs as a schedulable resource in 1.5? Ever?
* Are we going to fix IP leakage issue in 1.5? Ever?

[2016-10-25 20:22] mml commented on #35499
Other advantages: depending on your method of pushing flags, it will also persist across crashes, restarts, reboots, etc., and could be code reviewed.

[2016-10-25 20:23] #35108 closed

[2016-10-25 20:23] #33289 closed

[2016-10-25 20:24] derekwaynecarr commented on #10570
@thockin -- agreed.  hope to chat more at kubecon on it.

[2016-10-25 20:27] jayunit100 commented on #20064
I think the conclusion for this issue is really that we would ,for first pass, aggregate event summaries  in the scheduler itself and later on see how it would titrate into API modifications ?  so we can punt on thinking about API stuff for now.

[2016-10-25 20:28] Random-Liu commented on #35335
Yeah, tail is `*int`. But if `tail=0`, kubelet will see `TailLines=nil`.

[2016-10-25 20:33] luxas commented on #35535
I guess the best we can do here is to document it

[2016-10-25 20:35] luxas commented on #33926
@errordeveloper Can I close this?
It doesn't seem like we're going that way...

[2016-10-25 20:36] davidopp commented on #20064
@fgrzadkowski / @piosz would you be willing to take over shepherding issue? it seems close enough to monitoring/metrics that it would make sense for you to shepherd it. Personally, I would really love to see what was described here https://github.com/kubernetes/kubernetes/issues/20064#issuecomment-212070819 implemented at some point. I don't think it would take a lot of time. If @jayunit100 or som

[2016-10-25 20:37] luxas commented on #33922
Closing, since we want to show all those flags that we support on `kubeadm init` and `kubeadm join` and everything else more advanced will go into the config file, so there's no need for this.

[2016-10-25 20:37] #33922 closed

[2016-10-25 20:38] luxas commented on #33925
Ok, so we have decided to require a `kubeadm reset` in between two `kubeadm init/join` runs with preflight checks. The files that kubeadm is creating may not exist in beforehand

[2016-10-25 20:38] #33925 closed

[2016-10-25 20:41] bprashanth commented on #34278
Oh, so this is essentially fixed in the specific case of docker restart. I'll have to try and repro to confirm. We might still have issues because we can't find the pid of an exited container or something.

[2016-10-25 20:41] luxas commented on #33911
Assigning @dgoodwin and @pipejakob since they are working on the `kubeadm token` command

[2016-10-25 20:42] roberthbailey commented on #35536
This is the same problem as with the bearer token auth. They were both built without taking HA requirements into account.

Until we have another solution that works for a web browser (oauth anyone?), having basic auth is an important part of the user experience for folks that want to access services through the apiserver proxy (e.g. the dashboard).

I think the best option would be to replace basi

[2016-10-25 20:42] Crazee opened #35547 "Parts of the Kubernetes world ignore the kubeadm init --api-advertise-addresses values"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
1.4.0

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.1 LTS (Xenial Xerus)
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
I'm trying to set up a cluster across AWS region b

[2016-10-25 20:42] luxas commented on #33638
This is now fixed at HEAD with @errordeveloper's PR

[2016-10-25 20:42] #33638 closed

[2016-10-25 20:44] jlowdermilk commented on #35530
From reading the `kubectl login` the impression I get is that `kubectl login` is a mechanism for obtaining long-lived credentials. That is not the use case this proposal is targeting. Rather, this is meant to target the non-interactive case, where you run kubectl and "it just works", while internally it handles refreshing access token if needed, or using a cached one.

The specific use case I want

[2016-10-25 20:44] k8s-merge-robot opened #35548 "[k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Slow] [Feature: Ingress] shoud create ingress with given static-ip {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-ingress/1406/

Failed: [k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Slow] [Feature: Ingress] shoud create ingress with given static-ip  {Kubernetes e2e suite}

[code]

Previous issues for this test: #33840

[2016-10-25 20:44] k8s-merge-robot opened #35549 "[k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Slow] [Feature: Ingress] should conform to Ingress spec {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-ingress/1389/

Failed: [k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Slow] [Feature: Ingress] should conform to Ingress spec {Kubernetes e2e suite}

[code]

[2016-10-25 20:46] luxas commented on #35547
@Crazee Oh wait, please take a look at https://github.com/kubernetes/kubernetes/issues/35043 and propose there what should be done.

Thanks!

[2016-10-25 20:46] #35547 closed

[2016-10-25 20:48] luxas commented on #34893
This is now fixed when we're binding to ports higher than 1000

[2016-10-25 20:48] #34893 closed

[2016-10-25 20:49] timothysc commented on #20064
We need to clean the events, and I would take a wholistic approach here.  At scale, on a bad affinity you can easily flood events with garbage.  /cc @wojtek-t

[2016-10-25 20:49] luxas commented on #34022
This is exactly what https://github.com/kubernetes/kubernetes/issues/34132 is about, so closing in favor for that one

[2016-10-25 20:49] #34022 closed

[2016-10-25 20:54] Crazee commented on #35043
What I need is a way to specify the *only* "public" IP address to be used for communication between nodes.  Not something in addition to the "I'm gonna use eth0 because I like it" auto-detection business.

[2016-10-25 20:55] nikhiljindal commented on #35080
I debugged this in a local cluster.
kubelet is up and working fine. I can create new deployments and pods get started. that means kubelet can talk to apiserver and watch for new pods.
But proxying to kubelet via apiserver is not working. Not just logs, but none of the command that uses that apiserver proxy (like kubectl exec) is working.

@madhusudancs mentioned that there might have been a change

[2016-10-25 20:58] pires commented on #34893
We should have code commits referring to issues.

[2016-10-25 21:01] kcrawley commented on #35340
@kerneltime i've been looking at some of the other cluster providers for patterns and I'm not seeing anything that I'm overly fond of. I'd like to use saltstack; but that looks like an excessive amount of work. (as in, my employer would be unhappy with me spending anything more than a day or three on this).

that being said, since we are using debian, i'll likely pull the systemd scripts for etcd/

[2016-10-25 21:03] kcrawley commented on #35340
Given the `deprecation` notice, is it worth taking the time to go ahead and move this project in accordance to the maintainers wishes? I don't mind taking on that project in my spare time - the fix I've mentioned above has solved a major problem I was having (and the entire reason I started researching flanneld)

[2016-10-25 21:03] saad-ali commented on #35542
Yep, volume works!

[2016-10-25 21:03] yujuhong commented on #21656
I am not sure about this. We probably need someone from the networking team to work on this, and I don't know if they have cycles for this. @matchstick @thockin

IIUC, yes. @freehan's PR will get merged and cherry-picked back to 1.4.

[2016-10-25 21:09] davidopp commented on #35518
Can we move this discussion to #25319 ?

BTW I didn't fully understand your proposal. It sounds like you are proposing to remove the alpha annotations before any replacement is available. If so, that seems bad. I'm also unsure about not giving people one version where we support both alpha and beta, so that they have a chance to migrate.

[2016-10-25 21:13] luxas commented on #34893
We often have, but sometimes issues are forgotten.
I'm doing my best to keep the issue/PR stack clean

[2016-10-25 21:15] aveshagarwal commented on #35500
@mdshuai could you close it. thanks.

[2016-10-25 21:18] kcrawley commented on #35340
Well, it appears the issue was addressed and is awaiting the 1.4 release.

https://github.com/kubernetes/kubernetes/pull/35308/files

[2016-10-25 21:21] jayunit100 opened #35555 "Make scheduler less dependent on events for metadata and reasons"
Problem

As of now, the scheduler is slated to make lots of events (per pod) especially on failures.  #20064 attempts to improve the quality of data for scheduling, and may or may not reuse the existing hacky events based data channel .... Specifically, in the scheduler, we need to SPAM less events...

Solution
- _Event is a report of an event somewhere in the cluster._ Is the current definition o

[2016-10-25 21:21] jayunit100 commented on #35555
cc @timothysc

[2016-10-25 21:23] dashpole commented on #35406
cc @saad-ali

[2016-10-25 21:26] caesarxuchao commented on #35159
@smarterclayton I think the options you gave have the same operational cost as option 1.1. With controllers/kubelet in their own repos, we still have duplicate packages for different API versions, just they are in different repos. Also we still need a mechanism to keep them in sync.

I think I can go with option 2. Its cost is rebase could be huge. I can try to finish the work during the 1.5 code

[2016-10-25 21:30] bprashanth commented on #34278
Alright next release is the coming friday, lets just go with the hack.

[2016-10-25 21:35] luxas commented on #34324
@dgoodwin I guess we could come up with something like `kubeadm token list -n 1` for this

[2016-10-25 21:36] luxas commented on #33930
This is now fixed with #35075

[2016-10-25 21:36] #33930 closed

[2016-10-25 21:37] timothysc commented on #35555
I'd consider this step-0 before reason.

[2016-10-25 21:38] jlowdermilk commented on #34496
This was fixed by #34360, just lost race with mergebot.

[2016-10-25 21:38] #34496 closed

[2016-10-25 21:42] lpabon opened #35557 "Question: Can vendor LGPL3 Go code be included?"
In our [GlusterFS storage manager](https://github.com/heketi/heketi) we are contemplating changing our license from Apache 2 to LPGL 3.

Currently this code is used in the [vendor/...](https://github.com/kubernetes/kubernetes/tree/master/vendor/github.com/heketi/heketi) for the storage dynamic provisioner of GlusterFS.  Would there be any conflicts if we change license?

I also noticed that the [Y

[2016-10-25 21:43] caesarxuchao commented on #35335
I think the [line](https://github.com/kubernetes/kubernetes/blob/master/pkg/conversion/queryparams/convert.go#L111) @Random-Liu linked to is the problem.
[code]

[2016-10-25 21:45] luxas commented on #35058
I actually have written a such patch in my local env, but I never uploaded.
It removed the docker and docker-multinode-specific stuff and all the unused deps.

Also, we will come one step closer once https://github.com/kubernetes/kubernetes/pull/30356 is in.

Should I submit the patch so you can take a look at it?

[2016-10-25 21:46] yujuhong opened #35558 "Node e2e framework doesn't populate `started.json`"
The cluster e2e framework creates a `started.json` file, but node e2e framework doesn't.
I think that may be the root cause of not seeing "commit hash" displayed in test-grid for node e2e tests.

[code]

/cc @dchen1107 @Random-Liu

[2016-10-25 21:50] liggitt commented on #35080
does this correlate with the merge of https://github.com/kubernetes/kubernetes/pull/33718? that changed to use the node-reported IP address when talking from the master to the node.

https://github.com/kubernetes/kubernetes/pull/35497 is a follow up that allows the apiserver to select which node-reported address to use for master->node communications

[2016-10-25 21:51] jbeda commented on #16508
@sandys -- making stuff self-updating is very common on the client but is much much more rare on the server.  Often times the binary itself will be running in a container and the update will include downloading a new container and switching over.  Obviously that has to be done from the outside (either talking to the control plane or container engine).  Other times the binary will be running with p

[2016-10-25 21:53] foxish commented on #35557
cc @sarahnovotny

[2016-10-25 21:54] thockin commented on #21656
We don't have any cycles to do this in the next 2 weeks.

Can someone please file an issue and tag it networking, and @me,
@matchstick, and @bprashanth

I am crashing...

On Tue, Oct 25, 2016 at 2:04 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-10-25 21:55] thockin commented on #16508
self-updating clusters sounds terrifying to me.

On Tue, Oct 25, 2016 at 11:12 AM, Sandeep Srinivasa <
notifications@github.com> wrote:

[2016-10-25 21:56] thockin commented on #26637
It sounds more and more like a kernel regression

On Tue, Oct 25, 2016 at 11:19 AM, Tim Hockin <notifications@github.com>
wrote:

[2016-10-25 21:57] bowei commented on #33027
# DNS latency

## TLDR

It looks like the tail latency issue is no longer an issue. I suggest increasing the CPU allocation to 200mi for safety (e.g. 20% of one core).

## Details

Using the script snippet from beeps@ and varying the amount of CPU utilization of the node (excluding from other system services and kube-dns) that the DNS
server is scheduled on:

cpu usage %|50%tile (ms)| 90|95|99|99.

[2016-10-25 21:57] Random-Liu commented on #35558
@yujuhong Thanks for filing this issue! :)

[2016-10-25 21:58] bprashanth commented on #21656
*Current* IP leak on docker restart will get fixed in 1.4.5 which is set to get cut this friday.

[2016-10-25 21:58] jbeda commented on #35536
I like the idea of documenting the `kubectl proxy` method. That is no code changes and provides immediate relief.

I'd say we need to document the following:
* How to copy/extract the admin.conf kubeconfig from the master VM
* How to import/merge that in to your ~/.kube directory.
* How to rewrite the target for the cluster if there is an inner/outer IP issue
* How to use the proxy command to conn

[2016-10-25 22:03] aecolley commented on #27430
My own analysis of the 77 votes cast so far shows that `StatefulSet` is the runaway winner, by the Condorcet winner criterion. The pairwise comparisons (`StatefulSet` vs. _X_) were:

+15 v. PersistentSet
+19 v. IdentitySet
+27 v. NominalSet
+35 v. PersistentInstanceSet
+37 v. IdentityArray
+39 v. NominalArray
+43 v. PersistentArray
+43 v. PersistentInstanceArray
+45 v. RoleArray
+47 v. RoleSet
+47

[2016-10-25 22:08] danpaik commented on #27430
I finished crunching the numbers and the winner is StatefulSet.

It won via multiple methods - average position (polljunkie) and condorcet using completion rules Schulze/Beatpath/CSSD, CIVS Ranked Pairs, MAM, Condorcet-IRV.

There is sometimes a bit of variation on the ordering after the top but the top is always StatefulSet.

The new name for PetSets will be StatefulSet.

I am truly sorry that so

[2016-10-25 22:11] derekparker commented on #27796
Also having issues, tried to sign up via GH which had an old email as primary, then signed up using different email and now can not link my GH account.

[2016-10-25 22:12] danielfm commented on #30939
@ichekrygin

That's odd... I just created a test cluster running Kubernetes 1.4.4 in latest CoreOS stable AMI (1122.3.0), and the weird numbers still show up in my graphs:

![image](https://cloud.githubusercontent.com/assets/29534/19705251/38d79b3c-9aea-11e6-88dd-14afbedf3f2a.png)

However, I also tested with latest CoreOS beta AMI (1185.2.0), and it seems to work (the numbers match the ones given

[2016-10-25 22:13] bowei commented on #33027
[dns-latency.zip](https://github.com/kubernetes/kubernetes/files/551921/dns-latency.zip)

[2016-10-25 22:14] zihaoyu commented on #30939
@danielfm latest stable AMI still does not include the fix. Beta channel is fixed however.

[2016-10-25 22:18] jayunit100 commented on #20064
gated on ^ , continue dialog there.

[code]

[2016-10-25 22:21] foxish commented on #35515
cc @kubernetes/sig-cluster-lifecycle

[2016-10-25 22:24] dankohn commented on #27796
It's clear that the Linux Foundation (LF) CLAbot is not yet fully baked. What we need right now is some product manager help to analyze where users are (sometimes) getting stuck in a cul de sac. Based on that analysis, we will look at whether to enhance the LF CLAbot or consider alternative (open source) solutions.

I've spoken with @philips about potentially providing some assistance, and hope to

[2016-10-25 22:30] elsonrodriguez commented on #28337
@mtaufen Confirming this isn't working on `v1.5.0-alpha.1.275+37de61b1c358f3`

The pod will resolve itself just fine, but kubedns never creates the entry so other pods can't resolve it.

[2016-10-25 22:36] jayunit100 commented on #31795
shall we close this guy?

[2016-10-25 22:46] pwittrock commented on #34413
@caesarxuchao Is the codec library owned by the api-machinery sig?

[2016-10-25 22:49] fabioy commented on #34099
Apologies for missing this earlier (bug triage didn't land this on my radar).

The 1.3.9 and v1.3.10-beta.0 images should be available now. I'm trying to figure out what to do with the 1.3.8 images.

[2016-10-25 22:54] mikedanese commented on #35515
Errors are non fatal but noisy. The update worked fine I suspect.

[2016-10-25 22:54] rmmh commented on #34755
correlated with other leakage issues, closing

[2016-10-25 22:54] #34755 closed

[2016-10-25 22:55] rmmh commented on #32574
This was fixed.

[2016-10-25 22:55] #32574 closed

[2016-10-25 22:56] itajaja opened #35559 "scheduled jobs not applying correctly"
[code]

**Environment**:
- **Cloud provider or hardware configuration**: kops-deployed running on aws
- **OS** (e.g. from /etc/os-release): debian

**What happened**: when I do `kubectl -f apply my-scheduled-job.yml` without that job being present, everything works ok, but when I apply an already existing job, I get a "no kind "ScheduledJob" is registered for version "batch/v1"".

If you are not a

[2016-10-25 22:57] rmmh commented on #34485
Timeout that hasn't re-occurred, closing.

[2016-10-25 22:57] #34485 closed

[2016-10-25 22:57] itajaja commented on #35559
EDIT: I was able to reproduce it with the job at http://kubernetes.io/docs/user-guide/scheduled-jobs/

[2016-10-25 22:58] itajaja commented on #35559
oops, duplicate of #35149

[2016-10-25 22:58] #35559 closed

[2016-10-25 23:14] david-mcmahon commented on #34099
Thanks @fabioy!  I'l take care of 1.3.8.

[2016-10-25 23:26] gyliu513 commented on #19235
Thanks, it is working now! @praveenrajr9

[2016-10-25 23:42] smarterclayton commented on #27430
I'll take the todo to formalize some of the name decision processes and get that adapted to api_change.md.  We have a set of guidelines for names (some of which we helped describe here) and that will help make the future process for name changes smoother.

Marking as resolved - thanks everyone for keeping this civil, even if there were some bumps.

[2016-10-25 23:42] #27430 closed

[2016-10-25 23:43] k8s-merge-robot opened #35564 "kubernetes-cross-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-cross-build/1230/

Run so broken it didn't make JUnit output!

[2016-10-25 23:57] mikedanese commented on #35515
This is fixed.

[2016-10-25 23:57] #35515 closed

[2016-10-25 23:58] rmmh commented on #35392
@quinton-hoole I think this job is yours?

[2016-10-26 00:02] lchi opened #35565 "Feature proposal: Add username/password auth for etcd"
Kubernetes does not currently support authentication w/ etcd using users and roles (see: https://coreos.com/etcd/docs/latest/authentication.html). I'd like to add support for this but I'm not sure of the best way to accomplish this, but looking at the command line flags I was thinking something along the lines of:

[code]

Any thoughts on this? This would be my first contribution so I'm not sure w

[2016-10-26 00:24] AdoHe commented on #34394
@chengzhang1016 I opened a PR #34789 to create ExternalName service through kubectl, you may want to take a look.

[2016-10-26 00:24] gtaylor commented on #16508
Yeah, that has safety and predictability issues that would make it a poor
fit for anything but tinker clusters.

I'm very happy to explicitly grab new packages/containers to update.

On Oct 25, 2016 2:56 PM, "Tim Hockin" <notifications@github.com> wrote:

[2016-10-26 00:26] bgrant0607 commented on #35557
We should file a separate issue about this somewhere (maybe not in this repo):

We need an official, documented policy about which licenses are permitted.

Probably some subset of these:
https://opensource.org/licenses

cc @kubernetes/contributor-experience

[2016-10-26 00:29] caesarxuchao commented on #34413
Yes. This is an api-machinery issue.

[2016-10-26 00:37] kerneltime commented on #35340
@kcrawley Looks like in master the management of cbr0 is quite a bit different.. what is the most important for you here.. getting 1.4 using flannel or the master?

[2016-10-26 01:01] mtaufen opened #35569 "Setting NODE_IMAGE_PROJECT in cluster/gce/config-default.sh seems to have no effect"
While trying a vm image today, I directed `cluster/gce/config-default.sh` to use an alternative `NODE_IMAGE_PROJECT` by changing:

[code]

to:

[code]

This had no effect on the project where the chain of scripts following `cluster/kube-up.sh` looked for the node image. The following had the effect I was looking for:

In `cluster/gce/util.sh`, change:

[code]

to:

[code]

Sort of strange that som

[2016-10-26 01:04] pwittrock commented on #33664
Quick question - why not set an annotation on the pod template with the current time to force the repull.  I believe this would execute an update using the deployment's strategy to rollout the new im age.

I put together an example of how to write a controller to do this in response to webhook callbacks from dockerhub.  I need to add some documentation and then will post the example here.  Ideally

[2016-10-26 01:09] kcrawley commented on #35340
I don't want to derail this issue; I believe flannel is the right call here. I'm not on a critical time or anything.

_however_ since the cbr0 bug has been identified, it makes sense for the fix to be merged. i'm a bit confused as to why #35308 is tagged in 1.4, but hasn't been released. is it waiting for the next point release?

[2016-10-26 01:15] k8s-merge-robot opened #35570 "kubernetes-e2e-gci-gce-petset: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-petset/1479/

Run so broken it didn't make JUnit output!

[2016-10-26 01:31] david-mcmahon commented on #34099
v1.3.8 uploaded.

[2016-10-26 01:31] #34099 closed

[2016-10-26 01:39] ixdy commented on #35570
[code]

and so it begins. sigh.

[2016-10-26 01:39] ixdy commented on #35570
I'm used to seeing this on github.com, but not GCS...

[2016-10-26 01:42] chrislovecnm commented on #35534
File names we care, impacts e2e tests

[2016-10-26 02:32] k8s-merge-robot opened #35575 "kubernetes-e2e-gci-gce-scalability: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-scalability/725/

Run so broken it didn't make JUnit output!

[2016-10-26 02:38] MikeSpreitzer commented on #34099
I see 1.3.9 and 1.3.10-beta.0 now, but not 1.3.8.

[2016-10-26 02:42] caesarxuchao commented on #33797
Sure. I'm not working on it. Github does not let me assign it to you, maybe I can do that after you send a PR.

[2016-10-26 02:45] DjangoPeng opened #35576 "Failed to negotiate an api version v1"
Everytime when I run `kubectl version`, I get the error:

[code]

Version Info:
- Ubuntu 14.04 64bit
- latest version of k8s master branch
- docker v1.12.1

I login shell with user `dl`, and localhost is `9.91.9.130`.
rbac.yaml

[code]

.kube/config

[code]

[2016-10-26 02:45] feiskyer commented on #35531
cc/ @kubernetes/sig-node

[2016-10-26 02:45] mtaufen commented on #34335
Based on tracking these tests for the past few weeks, we don't think that we face significant risk in moving to GCI-based submit queue blockers. Flakes and failures in these suites do not appear to be caused by the GCI transition.

What will happen:
- The list of submit queue blockers will exchange the current container-vm based jobs for the equivalent GCI-based jobs.
- The existing container-vm-b

[2016-10-26 02:56] ymqytw commented on #35514
cc: @caesarxuchao

[2016-10-26 02:56] foxish commented on #35293
It appears that https://github.com/kubernetes/kubernetes/pull/33655 broke this?
[BlockNetwork](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L4135-L4143) no longer seems to work.

[2016-10-26 03:15] LiTao2016 commented on #35414
Thanks for @ingvagabund's timely response.if the apiserver does not provide all layers,of cause,should download the missing image layers as usual and image layers info is not considered in the scheduling time as you said.Under normal circumstances,this only happens when the image is first deployed.In other cases,such as pods re-scheduling,the apiserver could provide all layers info and make the sc

[2016-10-26 03:16] Smalinuxer commented on #31845
i got same error .. the same situation
how to fixed it ?

[2016-10-26 03:23] euank commented on #27796
@derekparker I hit the same problem and ended up eventually finding the account edit page: https://identity.linuxfoundation.org/user/me/edit

Logging in via my github account and then manually changing the email to my CoreOS one got it to work.

[2016-10-26 03:32] #35500 closed

[2016-10-26 03:47] foxish commented on #35293
The issue appears to be that we add an iptables rule with the cluster-ip specified, when we've moved to using the external network interface in the `--api-server` flag passed to the kubelet in https://github.com/kubernetes/kubernetes/pull/33655, I'll submit a PR for this, as it is necessary that it be fixed in order to later have https://github.com/kubernetes/kubernetes/pull/34045 work.

[2016-10-26 03:53] svanscho commented on #34210
I am running into the exact same issue. Any update?

[2016-10-26 03:54] foxish commented on #27324
Same cause as https://github.com/kubernetes/kubernetes/issues/35293#issuecomment-256242479

[2016-10-26 04:05] k8s-merge-robot opened #35579 "[k8s.io] Deployment deployment should create new pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging-parallel/1580/

Failed: [k8s.io] Deployment deployment should create new pods {Kubernetes e2e suite}

[code]

[2016-10-26 04:05] k8s-merge-robot opened #35580 "[k8s.io] Generated release_1_2 clientset should create pods, delete pods, watch pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/10564/

Failed: [k8s.io] Generated release_1_2 clientset should create pods, delete pods, watch pods {Kubernetes e2e suite}

[code]

Previous issues for this test: #32043

[2016-10-26 05:25] k8s-merge-robot opened #35586 "[k8s.io] Kubectl client [k8s.io] Simple pod should return command exit codes {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-multizone/4751/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should return command exit codes {Kubernetes e2e suite}

[code]

Previous issues for this test: #31151

[2016-10-26 05:36] fejta opened #35588 "Federation tests have not passed in a very long time"
I do not see any evidence of the federation tests ever passing: https://k8s-testgrid.appspot.com/google-federation

Is there a plan to get these tests working? If not can we disable them to free up these resources to run other tests?

[2016-10-26 05:49] Seyun commented on #31845
i got this problem too. :(

[2016-10-26 05:53] Seyun commented on #29540
I got this problem too.

[2016-10-26 05:58] k8s-merge-robot opened #35589 "[k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working mysql cluster [Feature:PetSet] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-alpha-features-release-1.4/919/

Failed: [k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working mysql cluster [Feature:PetSet] {Kubernetes e2e suite}

[code]

Previous issues for this test: #33895

[2016-10-26 06:32] qq690388648 commented on #35539
As I know, the services in different namespaces are isolated, so how can the different layer find each other where you put them into different namespaces?

[2016-10-26 06:41] k8s-merge-robot opened #35590 "[k8s.io] Downward API should provide container's limits.cpu/memory and requests.cpu/memory as env vars {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/1882/

Failed: [k8s.io] Downward API should provide container's limits.cpu/memory and requests.cpu/memory as env vars {Kubernetes e2e suite}

[code]

[2016-10-26 06:46] xingzhou commented on #33065
@thockin, I'm coding on the first patch for this ticket( adding the ```--uid```flag to ```kubectl run``` and enable --uid param for docker runtime ), one question want to confirm with you. For ```SecurityContext```admission check, do we still need that? if so, I'm thinking we need to add message like "please enable SecurityContext admission for api server while using --uid flag" to the flag's help

[2016-10-26 06:50] vganapathy1 opened #35591 "wave-cube DNS name collision and kube-dns dosn't start"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

[code]

**Environment**:
VMware vCloud Air VM
- **Cloud provider or hardware configuration**:
  7.797 GiB RAM, 2 CPUs each
- **OS** (e.g. from /etc/os-release):

[code]
- **Kernel** (e.g. `uname -a`):
  `Kernel Version: 4.4.0-43-generic`
- **Install tools**:
- **Others**:

[2016-10-26 06:58] k8s-merge-robot opened #35595 "[k8s.io] Kubectl client [k8s.io] Kubectl run rc should create an rc from an image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-proto/1466/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run rc should create an rc from an image [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28507 #29315

[2016-10-26 07:12] zreigz commented on #33797
@lavalamp Can you give me more details how to reproduce it. When my authentication token is invalid I receive only this error: `error: You must be logged in to the server (the server has asked for the client to provide credentials)`

[2016-10-26 07:23] bgrant0607 commented on #20473
Some details are here:
http://kubernetes.io/docs/user-guide/production-pods/

[2016-10-26 07:26] piosz commented on #35589
@bprashanth could you please take a look?

[2016-10-26 07:36] jasonhubs commented on #35084
@errordeveloper  Hi it's good to see you again ! well ,and I found the url in a bolg,you may also know the fucking wall in China.I will try the docs.Thank you!

[2016-10-26 07:49] DjangoPeng commented on #29908
@rmahajan2420 @uschtwill Have you fixed the bug? Or find solutions to the error?

[2016-10-26 07:49] bgrant0607 commented on #27140
Vaguely related to #831

[2016-10-26 07:57] dragoscirjan commented on #35378
From what I've noticed, the dns service eventually starts, however weave remains in the same state. One active, two in CrashLoopBackOff state.

[2016-10-26 08:00] jsafrane commented on #35407
yes, `PersistentVolumeController.isVolumeReleased()`, https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go#L1095

[2016-10-26 08:04] ranhsd commented on #35539
hi @qq690388648 - by creating internal service and then access it the following way {service_name}.{namespace_name}. If you will create a service you will see the URL .

[2016-10-26 08:10] floreks commented on #35076
current implementation ... then do the logic when something arrives ?

Interesting idea. It may work. I'll check this out.

[2016-10-26 08:13] szuecs commented on #27430
@danpaik would be great if you consider the old name in the next poll. I don't really care about names, but if you break backwards compatibility, because of renaming then I care.

[2016-10-26 08:14] nvartolomei commented on #35509
Actually looks like it is ok, reordered keys confused me.

[2016-10-26 08:14] #35509 closed

[2016-10-26 08:20] nvartolomei commented on #29543
@evandigby I noticed that messages are not delivered if connection is idle for some time, added a temporary fix that sends a ping message every second. Haven't touched it since then.

[2016-10-26 08:22] k8s-merge-robot opened #35600 "[k8s.io] Addon update should propagate add-on file changes [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/10667/

Failed: [k8s.io] Addon update should propagate add-on file changes [Slow] {Kubernetes e2e suite}

[code]

[2016-10-26 08:24] bgrant0607 commented on #35054
See also #29681

[2016-10-26 08:24] qq690388648 commented on #35539
@ranhsd Yes, you are right, I have forgot the dns.

[2016-10-26 08:24] k8s-merge-robot opened #35601 "[k8s.io] Proxy version v1 should proxy logs on node with explicit kubelet port using proxy subresource [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/1606/

Failed: [k8s.io] Proxy version v1 should proxy logs on node with explicit kubelet port using proxy subresource [Conformance] {Kubernetes e2e suite}

[code]

[2016-10-26 08:27] chrislovecnm commented on #27430
@smaterclayton having a defined process about re-naming I think is worthwhile. Think it would have helped with some of the bumps.  Appreciate u taking that on

[2016-10-26 08:40] bgrant0607 commented on #35054
And #22723

[2016-10-26 08:41] errordeveloper commented on #35535
@luxas yes, and also warn in pre-flight checks that users may need to disable it or relax some of the rules.

[2016-10-26 08:46] errordeveloper commented on #35535
@dgoodwin thank you. I'll take another look for what needs to be done, I've been using kube-proxy in userspace mode so far (due to VirtualBox networking issues), but will take a look at other options (there are a few, e.g. iptables mode with masquarade).

[2016-10-26 08:48] errordeveloper commented on #35535
We also have https://github.com/kubernetes/contrib/blob/master/ansible/roles/node/tasks/firewalld.yml, which I tried to adopt, but I need to re-test to confirm if it works or not (it didn't seem to work in my previous test, but may be I've missed something).

[2016-10-26 08:55] anioool opened #35607 "Phase Pending under spec.status key when pod is in Terminating"
Hi guys,

I found situation when pod with state Terminating (kubectl get pods command - text output) has phase set to Pending under the spec.status.phase key when i fetch json output.

Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.4", GitCommit:"dd6b458ef8dbf24aff55795baa68f83383c9b3a9", GitTreeState:"clean", BuildDate:"2016-08-01T16:45:16Z", GoVersion:"go1.6.2", Compiler:"gc

[2016-10-26 08:55] kerneltime commented on #35340
@kcrawley yes, I am hoping that it makes it into 1.4.5 which should be tagged this Friday.
There is another pull request I hope makes it as well https://github.com/kubernetes/kubernetes/pull/35474

[2016-10-26 09:06] uschtwill commented on #29908
@DjangoPeng: Hey there. I am not sure about this one, but it could be related: One thing that made setting up Kubernetes a hassle for me was, that my hosting provider's VPS was using a custom kernel that had major issues with using kernel modules. In this case not being able to run VXLAN was the culprit. Check this issue [here](https://github.com/kubernetes/kubernetes/issues/17205#issuecomment-243

[2016-10-26 09:30] xynova commented on #19765
@jimmycuadra This is what i did to get socat in coreOS. Wether it is good or not.. many shades of gray

[code]

# Then tell the kubelet to consider binaries in the /opt/bin directory .. maybe changing it to a socat specific isolated one is better

### /etc/systemd/system/kubelet.service

###	[Unit]
###	Description=Kubernetes Kubelet Master
###	Documentation=http://kubernetes.io/docs/admin/kubelet

[2016-10-26 09:32] xynova commented on #19765
@jimmycuadra This is what i did to get socat in coreOS. Wether it is good or not.. many shades of gray

[code]

# Then tell the kubelet to consider binaries in the /opt/bin directory .. maybe changing it to a socat specific isolated one is better

[code]

[2016-10-26 10:01] rakshithprakash opened #35613 "Error getting signer for provider skeleton: 'GetSigner(...) not implemented for skeleton on local cluster"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
Raising this bug after discussing with gmarek.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2016-10-26 10:03] soltysh commented on #32150
@janetkuo I've noticed you're taking care of the rename in #35534, I'd like to rename SJ to CronJobs, for 1.5. The only bugging thing for me is whether we **just** rename everything breaking backwards compatibility. SJ, similarly to PS are just and alpha feature so that's ok, but I want to be sure before coding.
@erictune || @bgrant0607 any opinions on that one?

[2016-10-26 10:11] thockin commented on #35407
OK.  I can buy that.

[2016-10-26 10:11] #35407 closed

[2016-10-26 10:14] xt99 commented on #35378
This comment has helped me to resolve this issue: https://github.com/kubernetes/kubernetes/issues/34101#issuecomment-253235083

I suppose there is another solution with `Vagrantfile` configuration similar to [this](https://github.com/errordeveloper/kubernetes-ansible-vagrant/blob/22dd39dfc06111235620e6c4404a96ae146f26fd/Vagrantfile#L11) (read carefully [Limitations](http://kubernetes.io/docs/getti

[2016-10-26 10:22] errordeveloper commented on #34884
Let's release another unstable snapshot ASAP https://github.com/kubernetes/release/pull/177 👍

[2016-10-26 10:23] errordeveloper commented on #34884
Thanks @luxas. @vganapathy1 if you are still having problems, please open another issue or find me on Slack.

[2016-10-26 10:35] k8s-merge-robot opened #35614 "kubernetes-kubemark-500-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/7119/

Run so broken it didn't make JUnit output!

[2016-10-26 10:44] Zapadlo commented on #35448
Nothing in volumes looked out of place. We solved the issue by making sure all our workers are running on `1.4` - I have not seen this issue on `1.4` yet so happy to close and re-open a new one if it reappears.

Thanks @yujuhong

[2016-10-26 10:44] #35448 closed

[2016-10-26 11:00] zreigz commented on #35576
I was trying reproduce the issue. First I had to modify `rbac.yaml` file because of validation problems:
[code]
I was using the latest master branch and I didn't notice any problems

[2016-10-26 11:02] floreks commented on #34559
Small update:

![zrzut ekranu z 2016-10-25 16-24-28](https://cloud.githubusercontent.com/assets/2285385/19723517/e12b4c3e-9b7b-11e6-8bfb-76f04f5185aa.png)

Do we want to color warning messages also? If yes, I think that we should consider changing the color of timestamp so it's not the same as warning color.

I've almost finished initial version. I should be able to create PR soon and if we agree

[2016-10-26 11:19] Crassirostris commented on #19149
@piosz Can be closed due to #34969

[2016-10-26 11:25] chrislovecnm commented on #35534
@justinsb it has been renamed ;) It is done, now let's rename this poodle. Oh wait StatefulSet

[2016-10-26 11:27] chrislovecnm commented on #35534
@janetkuo I know we have code that references filenames as well. C* e2e tests for instance.

[2016-10-26 11:29] chrislovecnm commented on #35534
@janetkuo do we want to put blog posts in here as well. Probably want to add a note about the name change to some of the posts on our blog.

[2016-10-26 11:31] #19149 closed

[2016-10-26 12:12] yuriy-filatov commented on #35419
@justinsb maybe you can advise something here? It's quite important as monitoring is dead on docker level and will affect everyone who'll use this kernel version.

[2016-10-26 12:29] dkerwin commented on #34447
Ping. More than 2 weeks and no action at all? Anything else i can do?

[2016-10-26 12:55] rrati commented on #35518
I'm proposing a 2 step process for the migration. Step 1 is to change from annotations to api fields but keep the feature in alpha.  Once we have verified equivalent functionality using api fields that existed using annotations then we can promote from alpha->beta.

I'm also suggesting we not attempt to support/maintain compatibility for the annotations version.  Part of step 1 should be removing

[2016-10-26 13:04] fgrzadkowski commented on #22609
You mean they would both try and one will fail to resourceversion conflict? Yes, we should retry in such case.

[2016-10-26 13:16] dgoodwin commented on #34324
Yeah token list is on my "list".

[2016-10-26 13:20] hectorj2f opened #35625 "Kubelet CNI mtu parameter seems to be ignored with any version >= v1.4.1"
We are facing a bug on which the MTU parameter set in the kubelet is ignored. This problem can be reproduced with CoreOS versions of hyperkube image `v1.4.1`, `v1.4.3` and `v1.4.4` in a CoreOS machine. The same configuration works when using hyperkube image `v.1.4.0`. We use calico as a kubernetes CNI plugin. This setup worked with v1.4.0 and we didn't change any version of the calico components.

[2016-10-26 13:27] sarahnovotny commented on #35557
This is one of the places where I would like to get CNCF Legal advice.  @dankohn and or @caniszczyk  can you work with the LF lawyers to list CNCF acceptable licenses for /vendor within our project?

[2016-10-26 13:40] hus787 opened #35626 "Upgrading kubernetes on the node pool caused error"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Environment**:
- **Cloud provider or hardware configuration**: gcloud

**What happened**:
Upgrade kubernetes version on node pool

Got:

**What you expected to happen**:
 To upgrade

**How to reproduce it** (as minimally and precisely as possible):

Don't know.

[2016-10-26 13:42] caniszczyk commented on #35557
@sarahnovotny alright, we'll put this on the list, it's not super clear in the CNCF Charter's IP Policy, but we would lean towards permissive licensed options (ASL, MIT etc)

@lpabon I'd give you advice to keep the Apache license here was going to a less permissive license isn't the best idea for adoption IMHO (also license changes are never fun)

[2016-10-26 13:43] etiennetremel commented on #34886
@AdoHe Nice catch! We had the exact same issue and spent quite some time trying to find where was the problem. Thanks

[2016-10-26 13:45] liggitt commented on #35565
I'm not sure we'd want to encourage colocating kubernetes in a partitioned etcd. Can you describe what else you would want to put in the etcd instance kubernetes uses?

[2016-10-26 13:49] liggitt commented on #35505
We have to deal with invalid data in annotations, because those annotations could have values from previous releases, before validation was added. I don't think we should validate the annotation structure in the API.

[2016-10-26 13:54] soltysh commented on #34413
Lemme try to first reproduce this and I'll see what I can do.

[2016-10-26 13:56] quinton-hoole commented on #28615
@nikhiljindal See https://github.com/kubernetes/kubernetes/pull/35263#issuecomment-255580194

Someone introduced a backwards incompatible change into the service API.  Could you follow up while I'm out of office?  @mfanjie does not seem to have followed up.

[2016-10-26 13:57] aveshagarwal commented on #35505
@liggitt  The annotation scheduler.alpha.kubernetes.io/node-selector is going to be in 1.5 for the first time. And I see that pkg/api/validation/validation.go has several validations for annotations like ValidatePodSpecificAnnotations, ValidateEndpointsSpecificAnnotations,  ValidateAffinityInPodAnnotations and some others too.

[2016-10-26 13:57] k8s-merge-robot opened #35627 "[k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce/1906/

Failed: [k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster. {Kubernetes e2e suite}

[code]

Previous issues for this test: #29647

[2016-10-26 14:11] pires commented on #34324
@luxas then please re-assign to @dgoodwin.

[2016-10-26 14:11] k8s-merge-robot opened #35628 "[k8s.io] HostPath should support subPath [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/1618/

Failed: [k8s.io] HostPath should support subPath [Conformance] {Kubernetes e2e suite}

[code]

[2016-10-26 14:26] #30144 closed

[2016-10-26 14:31] mtaufen commented on #34335
/cc @ixdy @saad-ali

[2016-10-26 14:51] piosz commented on #35627
This is because of partially reverted PR https://github.com/kubernetes/kubernetes/pull/35622

[2016-10-26 15:18] deinspanjer opened #35636 "Kube api server generates incorrect links in response to /logs endpoint"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kube-apiserver.log
kube api logs
log file link

---

**Is this a BUG REPORT or FEATUR

[2016-10-26 15:31] resouer commented on #32024
Just a update, this requires refactor the exiting `HostPredicate` item in cache, I am doing, will finish in a few days.

[2016-10-26 15:31] AdoHe commented on #34886
@etiennetremel you are welcome. Btw what's your kubernetes version?

[2016-10-26 15:33] soltysh commented on #35149
Working on this right now...

[2016-10-26 15:39] derekwaynecarr commented on #35406
I think my comment above reflects the desired state I want to land at in
kube 1.5 which had no major objection in sig call.  Seth will be doing the
implementation this week.

On Tuesday, October 25, 2016, David Ashpole <notifications@github.com>
wrote:

[2016-10-26 15:39] amolsh commented on #34210
Have you tried above mentioned solutions? In my case that was the only
issue.

On Oct 26, 2016 9:24 AM, "Sander Van Schoote" <notifications@github.com>
wrote:

[2016-10-26 15:39] errordeveloper commented on #35084
Hey, Jason! Do you have access to GCR behind the Chinese state firewall?

On Wed, 26 Oct 2016, 08:37 jasonhubs, <notifications@github.com> wrote:

[2016-10-26 15:42] quinton-hoole commented on #35254
Yes, given that the cloud providers might be different.

On Oct 25, 2016 20:53, "Karun" <notifications@github.com> wrote:

[2016-10-26 15:45] errordeveloper commented on #35043
Point taken, we definitely want to allow this to be done easily. Do you
always have public IP on one of the interfaces on the machine? Many cloud
providers use NAT, or force you to use a load balancer. Also, in an HA
setting, restricting to single IP is undesirable.

On Tue, 25 Oct 2016, 21:54 Guy Riddle, <notifications@github.com> wrote:

[2016-10-26 15:47] smarterclayton commented on #27430
I'll take the todo to formalize some of the name decision processes and get
that adapted to api_change.md.  We have a set of guidelines for names (some
of which we helped describe here) and that will help make the future
process for name changes smoother.

On Tue, Oct 25, 2016 at 6:08 PM, Dan Paik <notifications@github.com> wrote:

[2016-10-26 15:50] evandigby commented on #29543
We were able to work around it by forcing ipv4 by switching "localhost" to 127.0.0.1. Seems it's also been reported elsewhere:

https://lists.openshift.redhat.com/openshift-archives/users/2016-August/msg00065.html

[2016-10-26 15:50] sarahnovotny commented on #27796
@dankohn, i think some robust documentation on the corporate signup,
corporate individual signups, and common troubleshooting out of these GH
issues would be a huge start.

On Tue, Oct 25, 2016 at 8:24 PM, Euan Kemp <notifications@github.com> wrote:

[2016-10-26 15:51] errordeveloper commented on #35535
As I've been testing on VirtualBox, I've had to pass `--proxy-mode=userspace` to `kube-proxy`, changing it for `--cluster-cidr=10.32.0.0/12` and adding `10.32.0.0/12` as an allowed source, appears to work, yet I need to re-test a few more times.

[2016-10-26 15:53] justinsb commented on #34099
Thanks for fixing!  1.3.9 is the one that is particularly important, so thank you.

[2016-10-26 15:53] errordeveloper commented on #35535
Latest code is in https://github.com/errordeveloper/kubernetes-ansible-vagrant.

[2016-10-26 15:54] eparis commented on #27796
I'm the manager for the Red Hat org. When people ask me what is wrong I generally have no idea. I have no idea how to get that visibility, but if it didn't just work I'm totally lost...

[2016-10-26 15:58] fortytw2 commented on #27430
@smarterclayton if you can have a PR / issue open for comment about doing so, that'd be swell (and link it in this issue)

[2016-10-26 15:58] luxas commented on #35043
Eventually we want to be able to use componentconfig to set this via the config file...

[2016-10-26 15:59] luxas commented on #35535
Does it work with `10.96.0.0/12` --cluster-cidr as well if you explicitely allow that?

[2016-10-26 16:05] zreigz commented on #35149
The main problem is that there are two versions of GroupVersionKind returned in `bestMatch` function.
However ScheduledJob is registered only for v2alpha1 but it requires some additional check (or just workaround for this case).
Because the file https://github.com/kubernetes/kubernetes/blob/master/pkg/api/unversioned/group_version.go is in unversioned package there is circular dependency error whe

[2016-10-26 16:06] errordeveloper commented on #35535
@luxas this is a bit confusing, but `kube-proxy --cluster-cidr=...` means the pod CIDR, not service CIDR.

[2016-10-26 16:09] juntagabor opened #35637 "Federated service IP out of sync between AWS LB and CloudDNS records"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?**
federation dns
federation aws
federation aws cname

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
v1.4.4

**Environment**:
- **Cloud provider or hardware configuration**:
  GCE for federation control plane

[2016-10-26 16:13] luxas commented on #35535
Ah, sorry. I thought you were talking about `kubeadm --cluster-cidr` :)

[2016-10-26 16:28] smarterclayton commented on #35359
The conflicts here are really annoying - I think in the last 3 days half of
my PRs have had merge conflicts, up significantly from when it was just API
changes.  Since *every* package in the system is now a candidate for merge
conflicts, we've made the merge problem a lot worse without fixing the "no
generated files" problem we originally set out to solve.

On Tue, Oct 25, 2016 at 2:51 PM, Jeff Gr

[2016-10-26 16:44] bboreham opened #35640 "kubeadm join should accept a hostname"
**FEATURE REQUEST**

**Kubernetes version** (use `kubectl version`):
1.4.0

**What happened**:

[code]

**What you expected to happen**:

It should resolve the hostname and then proceed as if an IP address had been given.

[2016-10-26 16:48] lukemarsden commented on #35640
cc @kubernetes/sig-cluster-lifecycle

[2016-10-26 16:48] carsonoid opened #35641 "kube-proxy iptables rules not created"
**Kubernetes version**

1.4.0

**Environment**:
- aws
- Ubuntu 16.04
- 4.4.0-22-generic

**What happened**:

1 of 6 nodes in a cluster stopped connecting to other services.

After looking at `ps fax` I could see that there was a `[iptables] <defunct>` process child of kube-proxy. `iptables-save` was also missing all of the service rules.

Restarting the kube-proxy container caused the rules to be

[2016-10-26 16:49] luxas commented on #35591
cc @kubernetes/sig-cluster-lifecycle

[2016-10-26 16:51] luxas opened #35642 "Should kubeadm automatically deploy the kubernetes dashboard?"
I'm leaning towards yes, because the dashboard is an integrated part of k8s and our focus is on good UX and an UI is great for that purpose.

cc @kubernetes/sig-cluster-lifecycle

[2016-10-26 17:19] spxtr commented on #35359
We can experiment with not checking in automanaged BUILD files.

[2016-10-26 17:20] spxtr commented on #35614
https://github.com/kubernetes/test-infra/pull/925

[2016-10-26 17:21] spxtr commented on #34985
Seems flaky but doesn't look like test-infra.

[2016-10-26 17:23] derailed opened #35643 "Kubeadm on arm..."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
## kubeadm arm

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug

**K

[2016-10-26 17:24] spxtr commented on #35580
This failure was not in isolation and it looks like a GKE staging flake.

[2016-10-26 17:24] #35580 closed

[2016-10-26 17:26] spxtr commented on #34986
Failure 13821 was due to GitHub being down. It's unfortunate that we don't get logs in this case.
[code]

[2016-10-26 17:26] #34986 closed

[2016-10-26 17:28] errordeveloper commented on #35643
cc @luxas

[2016-10-26 17:28] caesarxuchao commented on #33797
lavalamp is OOO this month. Unfortunately, I don't know how to reproduce the error. Let me know if you want to work on other bugs.

[2016-10-26 17:31] errordeveloper commented on #34420
I've managed to resolv this and other issue in my Vagrant+Ansible repo (https://github.com/errordeveloper/kubernetes-ansible-vagrant), please take a look and let me know if you have any question (Slack may be the best place). There are a few things around firewalld and SELinux, that repo has all the right pieces without disabling both of those security features of CentOS.

[2016-10-26 17:31] luxas commented on #35643
Did you use Hypriot **v1.0.1** as stated in docs?

[2016-10-26 17:34] errordeveloper commented on #34720
Are all folks commenting here behind a proxy? If so, there is https://github.com/kubernetes/kubernetes/issues/34695 and thereby this is a duplicate.

[2016-10-26 17:35] errordeveloper commented on #34720
If you are using VritualBox and Vagrant, please take a look at the reference implementation here: https://github.com/errordeveloper/kubernetes-ansible-vagrant.

[2016-10-26 17:35] errordeveloper commented on #35084
Also, checkout https://github.com/errordeveloper/kubernetes-ansible-vagrant.

[2016-10-26 17:38] errordeveloper commented on #33689
@bulletRush could you jump on Slack and we could discuss it there?

[2016-10-26 17:38] yujuhong commented on #35558
@dashpole maybe something to pick up if you have spare cycles :-)

[2016-10-26 17:40] errordeveloper commented on #33689
This one of many catch-all issues what seems like the same problem but isn't. Some of the problems raised here should be fixed with pre-flight checks that will be available in the next snapshot package, and are already available in the unstable channel for testing.

[2016-10-26 17:45] errordeveloper commented on #34101
Pease checkout https://github.com/errordeveloper/kubernetes-ansible-vagrant, there is code to handle firewalld rules and SELinux stuff (if you are on CentOS), as well as VirtualBox issues (applies to Ubuntu as well as CentOS). We are planing to provide plain text documentation soon too. Find me on Slack if you still have problems. It's always a good idea to create a new issue rather then comment o

[2016-10-26 17:46] errordeveloper commented on #33798
Pease checkout https://github.com/errordeveloper/kubernetes-ansible-vagrant, there is code to handle firewalld rules and SELinux stuff (if you are on CentOS), as well as VirtualBox issues (applies to Ubuntu as well as CentOS). We are planing to provide plain text documentation soon too. Find me on Slack if you still have problems. It's always a good idea to create a new issue rather then comment o

[2016-10-26 17:46] errordeveloper commented on #33689
Pease checkout https://github.com/errordeveloper/kubernetes-ansible-vagrant, there is code to handle firewalld rules and SELinux stuff (if you are on CentOS), as well as VirtualBox issues (applies to Ubuntu as well as CentOS). We are planing to provide plain text documentation soon too. Find me on Slack if you still have problems. It's always a good idea to create a new issue rather then comment o

[2016-10-26 17:52] rrati commented on #25319
I would propose converting from annotations to api fields before moving from alpha->beta in a process described in #35518.  Namely, convert from annotations to api fields, strip the annotations implementation out completely, port tests, etc.  Once functionality is confirmed to be at the same level as annotations then promote from alpha->beta.

[2016-10-26 17:53] pires commented on #35642
It's an add-on so I'd suggest adding `--enable-ui` to enable it (disabled by default).

[2016-10-26 18:09] #35371 closed

[2016-10-26 18:11] #34491 closed

[2016-10-26 18:13] justinsb commented on #32150
I think if the schema name changes, it should stay in alpha for another release.  So if it is renamed to CronJobs in 1.5, it should not go to beta until 1.6 at the earliest.

[2016-10-26 18:15] dashpole commented on #35558
I could probably get to it by the end of the day today.  It should be super simple, right?

[2016-10-26 18:21] praoreo commented on #34897
@lavalamp - Have you seen this issue in 1.4.1 release? Any pointers on how to resolve the issue?

[2016-10-26 18:34] david-mcmahon commented on #34099
@MikeSpreitzer ok now?
[code]

[2016-10-26 18:34] Random-Liu commented on #35558
I found that we have a [gubernator script](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/gubernator.sh) which will populate started.json and finished.json, we should test it. If it works, we should enable it with `--gubernator=true` in `jenkins/e2e-node-jenkins.sh`.

[2016-10-26 18:39] foxish commented on #35576
/cc @kubernetes/sig-auth

[2016-10-26 18:39] nlamirault commented on #35643
@luxas I've got the same issue with Hypriot 1.0.0. Where i can download the 1.0.1 image ?
I try to download https://downloads.hypriot.com/hypriotos-rpi-v1.0.1.img.zip, but i've got an error.
Could you send the link for documentation which explain how use Kubeadm on Hypriot. I could try a new installation.

[2016-10-26 18:40] foxish commented on #35641
/cc @kubernetes/sig-network

[2016-10-26 18:41] zreigz commented on #33797
Yes sure if you have something  I can take it

[2016-10-26 18:42] pwittrock commented on #33664
FYI here is a simple controller for pushing deployment updates in response to webhook callbacks.  It natively supports dockerhub, but you can manually post to it from the command line.

[container-image-pusher](https://github.com/pwittrock/container-image-pusher)

[2016-10-26 18:42] ericchiang commented on #35576
Kinda a dup of https://github.com/kubernetes/kubernetes/issues/26909?

@DjangoPeng what version of Kubernetes are you using?

[2016-10-26 18:42] foxish commented on #35607
/cc @ymqytw

[2016-10-26 18:44] roberthbailey commented on #35642
Did you mean leaning *towards* yes?

[2016-10-26 18:46] roberthbailey commented on #35642
How are we handling other add-ons in kubeadm? Are we deploying a canonical set of add-ons by default?

[2016-10-26 18:48] pires commented on #35642
@roberthbailey kube-proxy and kube-dns are automatically provisioned, but that's it.

[2016-10-26 18:49] derailed commented on #35643
Nicolas - try https://github.com/hypriot/image-builder-rpi/releases

On Wed, Oct 26, 2016 at 12:40 PM, Nicolas Lamirault <
notifications@github.com> wrote:

[2016-10-26 18:49] MikeSpreitzer commented on #34099
@david-mcmahon Now this is odd!
[code]

[2016-10-26 18:53] luxas commented on #35642
@roberthbailey Oops, yeah of course I did that. What a typo :sweat_smile:

We're only deploying kube-dns right now, manually in Go code, since it's such an integral part of k8s.
So I thought we might want to do the same for the dashboard...

[2016-10-26 18:55] roberthbailey commented on #35642
We have a long list of possible add-ons:

- Dashboard
- Ingress Controller
- Monitoring (heapster, influxdb, grafana)
- Logging (fluentd, elasticsearch)
- Node Problem Detector
- Docker Registry
- Horizontal Pod Autoscaling
- Cluster Autoscaling

Are we going to add a flag for each? I think that's going to be a cumbersome user experience.

[2016-10-26 19:01] deads2k commented on #35576
Master automatically creates roles allowing discovery and negotiation and binds them to all users.

[2016-10-26 19:08] soltysh commented on #32150
Not quite convinced, first off SJ are alpha, so no guarantees about backwards compatibility. Secondly, we're doing exactly similar thing to PetSets (see #35534).

[2016-10-26 19:25] derailed commented on #35643
Thanks for pointing this out @luxas! This was indeed a pilot error. Did get further so we can close this issue. Tho the master is now coming up, setting up the pod network using flannel per the docs results in an error.

Yields

Error from server: error when creating "flannel.yml": DaemonSet in version "v1beta1" cannot be handled as a DaemonSet: [pos 1115]: json: expect char '"' but got char 'n'

[2016-10-26 19:31] derailed commented on #35643
Probably a bug in the template, me think the nodeSelector should be:

nodeSelector:
  beta.kubernetes.io/arch: arm

[2016-10-26 19:34] luxas commented on #35643
Ok, seems like the ARCH=arm thing is working poorly then.

Try just running
[code]

[2016-10-26 19:34] david-mcmahon commented on #34099
Yes, hyperkube didn't make it up due to a hiccup.  Check now.
[code]

[2016-10-26 19:42] justinsb commented on #35642
@mikedanese and I (well mainly me) were/are going to look at a better addons manager, to effectively remove these from the installer.  We have one in kops that could serve as a starting point called "channels".  channels uses the addons manager even for the "system" addons (dns), so that these can be updated also.

Then you can type `channels add channel kubernetes-dashboard` to install the dashbo

[2016-10-26 19:58] madchap commented on #34720
I am not behind a proxy, and have that issue.

[2016-10-26 20:20] caesarxuchao commented on #29891
Proposal for "Synchronous mode GC" (https://github.com/kubernetes/kubernetes/pull/32628) got merged. Implementation will be done in 1.6.

[2016-10-26 20:22] caesarxuchao commented on #33196
@zreigz will be interested working on this? To work on this one, you'll need to know the concept of finalizers and pod graceful termination.

[2016-10-26 20:28] bprashanth commented on #35641
so was the node NotReady? I don't think we can ensure correct iptables rules in NotReady nodes. was the kubeproxy static pod up (docker ps), if not, do you have kubelet logs?

[2016-10-26 20:28] bprashanth commented on #35589
@foxish did we fix this in HEAD?

[2016-10-26 20:30] erikh opened #35649 "kubelet dpkg installation: `[[` referenced in a POSIX shell"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?**

`kubelet install [[`
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version** (use `kubectl version`):

**Environment**:
- **Cloud provider or hardware configuration**: vmware 12.5
- **OS** (e.g. from /etc/os-release): ubuntu 16.04
- **Kernel** (e.g. `un

[2016-10-26 20:32] foxish commented on #35589
@bprashanth, yes, https://github.com/kubernetes/kubernetes/pull/35158 should have fixed it. We should cherrypick that into release-1.4 I guess.

[2016-10-26 20:34] erikh commented on #35649
mm `"arm"*` is probably incompatible but this will work: `"$(uname -m) | grep -vE '^arm'`

[2016-10-26 20:35] foxish commented on #35649
/cc @kubernetes/sig-cluster-lifecycle

[2016-10-26 20:38] erikh commented on #35649
sorry this is about the kubelet post-install, not kubeadm.

[2016-10-26 20:39] luxas commented on #35649
Thanks for the bug report and the will to help, but I actually fixed this some hours ago.
See: https://github.com/kubernetes/release/pull/175

Feel free to look at some of the other kubeadm bugs if you're interested in helping :)

[2016-10-26 20:39] #35649 closed

[2016-10-26 20:39] erikh commented on #35649
oh great! Thanks.

[2016-10-26 21:15] jefflaplante commented on #7890
Has anyone worked on this further? I would like to be able mount FUSE volumes like other PersistentVolumes in kubernetes as an alternative to NFS or glusterfs for multi-container Read-write.

[2016-10-26 21:26] derailed commented on #35643
Thank you all for the prompt support!
Finally got this thing up and running. Watching this cluster live on rpi is a beautiful thing.  Totally impressed by your work. kubeadm rocks. Tx!!

[2016-10-26 22:28] vishh commented on #16563
@dashpole can you help out here?

[2016-10-26 22:41] ymqytw commented on #35607
There are no `Terminating` phase for `spec.status.phase`. Valid phases are `pending|running|succeeded|failed|unknown`. [Ref](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L1601)
What happened here is:
If a pod has an non empty `deletionTimestamp`, it will be considered as `Terminating` by `kubectl`. `kubectl get pods` will print that status out for you.

[2016-10-26 22:43] foxish commented on #32430
This just blocked the submit-queue.
@vishh, should this be reassigned?

[2016-10-26 22:47] dchen1107 opened #35654 "All test suite kubernetes-e2e-gce-*-release-1.4 failed"
All test suite running against 1.4 release on containervm image failed since ~8:40am this morning. We should fix the issue before we cut another patch release.

cc/ @fejta @foxish, oncall

[2016-10-26 22:50] foxish commented on #35654
/cc @jessfraz

[2016-10-26 22:56] foxish commented on #35654
@fejta @spxtr Looks like a jenkins issue.
The first unsuccessful build has the following:

[2016-10-26 22:56] smarterclayton commented on #35614
This was me and fixed by reverting the unsafe conversion change (which either exposed a go 1.7 bug or a subtle logical bug.  Tests will continue elsewhere. Closing.

[2016-10-26 22:56] #35614 closed

[2016-10-26 22:59] dchen1107 commented on #35654
Yes, what is what I found. And I removed that leaked master node so that the rest runs wouldn't be blocked by this. The question is why teardown logic was broken for all test suites. Not just one here.

[2016-10-26 23:01] dchen1107 commented on #35654
cc/ @roberthbailey I am not sure if anything changed lately in cluster lifecycle, especially the teardown side.

The issue is extremely urgent is that we are going to cut another patch release for 1.4 with new containervm image here.  cc/ @matchstick

[2016-10-26 23:06] timothysc commented on #31795
yup, done.

[2016-10-26 23:06] #31795 closed

[2016-10-26 23:11] erictune commented on #35318
It doesn't look like we are going to be able to decide on a default behavior in time for 1.5, and talking about this more, I'm less sure that there is a single default that makes sense for everyone.

Still, I'd like it if we can leave open the possibility of a default behavior in the future.
The way to do this is to include a line like the following in the documentation for `/eviction` endpoint: "

[2016-10-26 23:16] timothysc commented on #25320
@aveshagarwal I'd like to sync sometime on your test plan(s) around this.  Right now everything is lite at best.

but +1 to the plan.

[2016-10-26 23:40] k8s-merge-robot opened #35658 "Deferred TearDown {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/6499/

Failed: Deferred TearDown {e2e.go}

[code]

[2016-10-26 23:42] gene-telligent commented on #32304
Bumping and adding to the incidence rate:

**Version**

Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.5", GitCommit:"b0deb2eb8f4037421077f77cb163dbb4c0a2a9f5", GitTreeState:"clean", BuildDate:"2016-08-11T20:29:08Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.5", GitCommit:"b0deb2eb8f403742107

[2016-10-26 23:42] jessfraz commented on #35654
Oh ya I was trying to figure this out, I dont think it was a specific commit because it had passed then started failing on the same commmit

[2016-10-26 23:43] jessfraz commented on #35654
There were some things added to vmware with regard to tear down

[2016-10-26 23:44] #29682 closed

[2016-10-26 23:50] Random-Liu commented on #35558
Confirmed with @krzyzacy that testgrid use the `started.json` to populate the commit number.

We should generate `started.json` and `finished.json` in [`RunRemote`](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/remote/remote.go#L156), where we should be able to get all necessary information.

[2016-10-26 23:57] fejta commented on #35654
Will you please provide a testgrid link for at least one of the failures and/or a gubernator link? https://k8s-testgrid.appspot.com/release-1.4-all

[2016-10-26 23:59] jessfraz commented on #35654
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-reboot-release-1.4/2323

from https://k8s-testgrid.appspot.com/release-1.4-all#gce-reboot-release-1.4

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-release-1.4/3035

from https://k8s-testgrid.appspot.com/release-1.4-all#gce-release-1.4

The really dont tell much because it's "

[2016-10-27 00:00] fejta commented on #35654
I am pretty sure the problem is [here](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-reboot-release-1.4/2323?log):

[code]

[2016-10-27 00:00] jessfraz commented on #35654
oh wow that is unfortunate, is that a command that was depreciated?

[2016-10-27 00:04] fejta commented on #35654
Yes, I have a vague memory that @ixdy fixed this for master, maybe it just needs to get ported back to older branches?

[2016-10-27 00:05] jessfraz commented on #35654
gotcha thanks either will cherry pick what i find or just fix it

[2016-10-27 00:07] jessfraz commented on #35654
got it cherry-picking #34577

[2016-10-27 00:09] foxish commented on #35654
@jessfraz , would it need to be cherrypicked into the 1.3 branch as well?

[2016-10-27 00:13] jessfraz commented on #35654
@foxish ya i bet I will open that one too

[2016-10-27 00:16] dchen1107 commented on #35654
You guys rock! Thanks!

[2016-10-27 00:19] erictune commented on #32150
@justinsb can you elaborate on your reasoning?

[2016-10-27 00:20] jessfraz commented on #35654
@foxish they never call to "--zones" on release-1.3 so i believe it is safe

[2016-10-27 00:45] fejta commented on #35654
Letting Jess handle this, please assign back to me if you need my help.

[2016-10-27 00:58] DjangoPeng commented on #35576
@ericchiang k8s v1.2.0. I followed the [guide](http://kubernetes.io/docs/getting-started-guides/ubuntu/).

[2016-10-27 01:02] ericchiang commented on #35576
@DjangoPeng RBAC was added in v1.3.0.

[2016-10-27 01:21] MHBauer commented on #28695
3 is the only case left that requires work or a decision to be made about whether it is a valid use case.

The real decision is about whether to make `--quiet` the default.

There is a third decision about whether to output the extra status info as stdout vs stderr. For reference, in docker, the equivalent `pulling image` text goes to stdout, not stderr. This might split the difference on the `--q

[2016-10-27 01:26] ericchiang commented on #35530
@jlowdermilk would it be reasonable to add the gcloud credentials support to the gcp auth provider?

I'm not opposed to this change, it's just hard for me to imagine other tools that would use this, since most that print temporary credentials (e.g. kinit) require interaction.

[2016-10-27 01:28] foxish commented on #27796
@caniszczyk @emsearcy The webhook failed and no cncf-cla status on https://github.com/kubernetes/kubernetes/pull/35581. Would you be able to check on this?

[2016-10-27 01:41] DjangoPeng commented on #29908
@uschtwill Thanks for your advise. I add `--no-sync` for `etcdctl`, but I still have the `vxlan` warning:
[code]
What's more, I get new problem when calling `validate-cluster`:
[code]

[2016-10-27 01:55] redhatlinux10 commented on #35640
has this feature request been assigned to someone ?  if not, i can do it.

[2016-10-27 02:32] MikeSpreitzer commented on #34099
AOK now.  Thanks!

[2016-10-27 02:34] HardySimpson commented on #28960
tried build k8s with 1.7, running performance seems not increase much, binary is smaller 50% than 1.6

[2016-10-27 02:45] DjangoPeng commented on #35576
@ericchiang  I tried v1.3.7 and it has been fixed. but I get a new error:
[code]
My master node is 9.91.9.130.
I get the error when calling `validate-cluster`:
[code]

[2016-10-27 03:12] duglin commented on #28695
My perspective:
- I think we should differentiate between a delay due to pulling an image and a delay due to the time it takes to create the container/pod
- I think the default should be to hide the "waiting for pod" messages. Personally, I would like to get rid of it all together, not even control it by a flag.  If it takes so long for things to start then we should fix that delay instead of be c

[2016-10-27 03:35] mfanjie opened #35667 "federation service set default function not working properly"
related issues:
#28615
#35247

Steps to reproduce:
1. start federation apiserver
2. create a simple service profile which can be proceeded by kube-apiserver

[code]
1. the following error is shown

[code]
1. by investigating on the source code, the root cause should be SetDefaults_ServiceSpec is not being invoked properly.
2. the register.go has registered this function by the path
   `NewSchemeBu

[2016-10-27 03:37] mfanjie commented on #28615
@quinton-hoole sorry for slow response as had day long trainings and meetings. #35667 is opened for tracking the root cause of federation apiserver incompatible issue.

[2016-10-27 04:05] bgrant0607 commented on #31266
cc @kubernetes/sig-api-machinery @kubernetes/docs

[2016-10-27 04:11] bgrant0607 commented on #34743
I believe there are 2 parts to this:
1. How do we express this in our interface definition?
2. How is it represented in OpenAPI?

Regarding (2), I thought OpenAPI supported examples? Search for "example" in the following:
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md

cc @kubernetes/sig-api-machinery

[2016-10-27 04:15] ConnorDoyle commented on #28311
@vikaschoudhary16 and @jeremyeder closing this issue since the original scope is satisfied by the node-feature-discovery incubator project. Let's continue the discussion of cells over there (created [nfd-32](https://github.com/kubernetes-incubator/node-feature-discovery/issues/32) to track it).

[2016-10-27 04:15] #28311 closed

[2016-10-27 04:25] philips commented on #27796
@dankohn I am currently emailing potential folks we could work with; and I need to write the product requirements doc. I hope to do that by EOW.

[2016-10-27 05:10] zreigz commented on #33196
LGTM If you have some docs or you can show me source code where the problem exists it would be helpful I will start investigation and let you know if I find some problems.

[2016-10-27 05:19] zreigz commented on #33797
I think someone already have been working on this: https://github.com/kubernetes/kubernetes/pull/27066

[2016-10-27 05:23] liggitt commented on #35505
it can be set in annotations in previous releases, so you need to be able to handle invalid values, despite validation.

[2016-10-27 05:28] Smalinuxer commented on #31845
then i find my docker container can't access the apiserver
it even can't access host machine .
i thing it's due to my virtualbox ....... fuck it

[2016-10-27 05:33] zreigz commented on #33196
I found some documentation and PR regarding those subjects. After reading this I will prepare POC for review.

[2016-10-27 05:48] m1093782566 commented on #35534
@janetkuo I am working on improve PetSet(StatefulSet) test coverage, I will be glad to do some help.

[2016-10-27 05:55] DjangoPeng commented on #35576
@ericchiang Fixed `connection refused` error.
It caused by an `Unknown admission  plugin:DefaultStorageClass`, which can be found in `kube-apiserver.log`:
[code]
So I deleted `DefaultStorageClass` in [/ubuntu/config-default.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/ubuntu/config-default.sh#L87).  Then, it goes well.
[code]
And it looks like a same [issue](https://github.com/

[2016-10-27 06:00] DjangoPeng commented on #29908
@uschtwill Fixed `connection refused` error.
It caused by an `Unknown admission  plugin:DefaultStorageClass`, which can be found in `kube-apiserver.log`:
[code]
So I deleted `DefaultStorageClass` in [/ubuntu/config-default.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/ubuntu/config-default.sh#L87).  Then, it goes well.
[code]
And it looks like a same [issue](https://github.com/k

[2016-10-27 06:15] #33676 closed

[2016-10-27 06:17] bgrant0607 commented on #29679
Listing containers might be a use case for view:
http://stackoverflow.com/questions/33924198/how-do-you-cleanly-list-all-the-containers-in-a-kubernetes-pod/33925363#33925363

[2016-10-27 06:27] liggitt commented on #34822
To further scope down the targeting ability, https://github.com/kubernetes/kubernetes/pull/35675 makes the 3 provisioners that look up secrets (rbd, gluster, quobyte) require a secret type matching the volume plugin name (when looking up across namespaces for a PV provision). That at least requires the creator of the secret to have intended the secret to be used with that volume type.

[2016-10-27 06:37] soltysh commented on #34413
It looks like the same problem as in #35149, goes all the way down the exact same method. Working on it now...

[2016-10-27 06:40] soltysh commented on #32150
To give one more argument for, the sooner we do it the better for the users to safe the effort needed to switch from SJ to CJ.

[2016-10-27 07:05] hjacobs commented on #35530
@jlowdermilk just FYI my `kubectl` wrapper script (hacked last night): https://github.com/zalando-incubator/zalando-kubectl

[2016-10-27 07:20] soltysh commented on #35149
That's an internal version marker, I'm wondering why it's internal here and not a specific version like it was in the case of edit.

[2016-10-27 07:22] vincentheet opened #35677 "Service sessionAffinity with ClientIP 180 sec instead of minutes when using iptables proxy mode."
**Kubernetes version**: 1.4.4

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **Kernel**: Linux gke-pool 3.16.0-4-amd64 1 SMP Debian 3.16.7-ckt25-2 (2016-04-08) x86_64 GNU/Linux

**What happened**: Session affinity is lost frequently when using a service to connect from a pod to another pod using a service with sessionAffinity: ClientIP on Kubernetes 1.4.4 with the iptables

[2016-10-27 07:24] zreigz commented on #35149
Yes you are right. I've noticed that later after further investigation

[2016-10-27 07:28] soltysh commented on #35149
I think we need to use the versioned object in apply, that's how it works in edit. Otherwise we'll always struggle with this problem. This worked ok with single versioned object, because it'll always returned the only available counterpart to `__internal`, but now that `batch` has two it's hard to guess which one to use, because `GroupVersions` knows nothing about kinds.

[2016-10-27 07:30] zreigz commented on #35149
Exactly. The problem is here:
`
    "/apis/batch/v1",
    "/apis/batch/v2alpha1",
`
GroupVersionKind with ScheduledJob is constructed based on `batch` group which has two versions. There is no possibility to check to which version ScheduledJob is registered

[2016-10-27 07:32] zreigz commented on #35149
I couldn't add any helpful logic to `group_version.go` because of circular dependency errors. I think this file should be in `runtime` package

[2016-10-27 07:42] etiennetremel commented on #34886
@AdoHe we are using v1.4.4

[2016-10-27 07:45] markxyl commented on #33714
I got the same problem,and I solve it as I disable the "KUBE_ADMISSION_CONTROL="

[2016-10-27 08:18] mfanjie commented on #35667
with further debugging:
trying to diff kube-apiserver and federation-apiserver as they are using the same func call.
kube-apiserver is working properly and here is the stacks
[code]
For federation, I am quite sure the  `scheme.go:444` is called when creating federation service, but the further call stacks were missing, trying to see what happens on zz_generated.defaults.go, but I found there is no

[2016-10-27 08:26] errordeveloper opened #35682 "Long term behaviour of kubeadm commands (mini proposal)"
Here are some ideas of how kubeadm commands could work beyond initial cluster bootstrap. Some of these features may be easier to implement with self-hosting, but we can roll something simple on top of the current implementation with static pods and some self-hosted components.
## Motivation

User should be able to upgrade control plane component or update the configuration without a reset. The int

[2016-10-27 08:26] mootezbessifi commented on #26259
@khanamura
Hi sir,
i tried to execute the some steps above. exactly the same by some time it cgoup changes to docker and some time still docker-current.
i am fed up with this issue that takes from me too much time.
please help

[2016-10-27 08:27] uschtwill commented on #29908
@DjangoPeng: Glad you got the other issue fixed. It seems like the cluster is up and running though!? Is it functioning properly? Can you schedule pods, query the API, add nodes and such?

The VXLAN issue kept me from getting the cluster up altogether, and although I got it working eventually, you're one step ahead of were I was at that point. As I said in the other issue, switching to a generic K

[2016-10-27 08:28] #33765 closed

[2016-10-27 08:35] soltysh commented on #35149
I have a working patch that modifies `kubectl apply` in such a way that it works against versioned object, instead of `__internal`, similarly to `kubectl edit`. PR will be opened shortly.

[2016-10-27 08:36] danielschonfeld opened #35683 "kubenet bare metal documentation update"
Drawing on the GCE Kubernetes Networking page we set out to enjoy our L2 ("dumb switch") at our new bare metal installation utilizing kubenet.  Wanted to share our success story with tips on updating the L2 section of the networking page.

1) No need anymore for the instructions to start docker with --bridge=cbr0 and the other flags mentioned under GCE environment.  (At least for the L2 backed bar

[2016-10-27 09:05] Smalinuxer opened #35684 "kubeadm blocks waiting for 'waiting for the control plane to become ready'"
i saw the issue [#33544](https://github.com/kubernetes/kubernetes/issues/33544)  and all the issue about this question. but it not work ! i have no method to hand it .

Environment:

[code]

when i cmd :
`kubeadm init`

then it output:

[code]

it blocked at waiting for the control plane to become ready.

then i get the pods

[code]

the wave is i created after cmd kubeadm

**i have already closed

[2016-10-27 09:13] Smalinuxer commented on #35684
or is k8s not support at virtualbox machine ?
i got lots of question at virtualbox , i have build k8s at coreos on virtualbox , it comes lots of problem too.

[2016-10-27 09:13] mbohlool commented on #34568
No reproducible.

[2016-10-27 09:13] #34568 closed

[2016-10-27 09:20] mfanjie commented on #35667
Not sure if this is related to root cause, but comparing three doc.go, the tags and the generated files on all these folders are different.
tags in federation/apis/federation/v1beta1/doc.go
[code]

tags in federation/apis/core/v1/doc.go
[code]
tags in pkg/api/v1/doc.go
[code]

[2016-10-27 09:24] mfanjie commented on #35667
should be missed by PR #33352

[2016-10-27 09:28] luksa commented on #22191
This issue can be closed. The endpoints controller already removes terminating pods from the endpoints list. See https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpoint/endpoints_controller.go#L405-L408

[2016-10-27 09:31] hectorj2f commented on #35625
I just tested it using a homemade hyperkube image using the upstream code from https://github.com/kubernetes/kubernetes, and it seems that this error doesn't happen anymore :/.

[2016-10-27 09:35] captify-akraievoy commented on #35419
*Update*: we have another cluster with precisely same versions of kubernetes running fine - stats are still present, despite kernel having been auto-updated to the very same version we've seen on the one which has broken per-container CPU stats. My current conclusion is that the load also is a factor: because the cluster, which is still intact, does not really sustain significant load in compariso

[2016-10-27 09:52] samnissen commented on #34720
Also not behind proxy, and on KVM

[2016-10-27 10:02] mbohlool commented on #33293
How can I reproduce this?

I've tried

[code]

but the log does not show a panic:

[code]

[2016-10-27 10:56] smalllove1459 commented on #34720
Using a Proxy and stuck here for hours...

[2016-10-27 11:00] shashidharatd commented on #35251
Currently there are 3 testcases which are failing, One is in Federated Ingress and the other two are in Federation API server authentication. I know the cause for API server authentication test failures. By default anonymous-auth is enabled, so api server will accept the request and there are no authorization plugins configured currently, hence the requests are being served.
I will send a fix for

[2016-10-27 11:13] bogdando commented on #35133
This is now tracked as https://github.com/kubernetes/features/issues/138

[2016-10-27 11:35] quinton-hoole commented on #35078
Any progress on this yet @shashidharatd ?

[2016-10-27 11:36] quinton-hoole commented on #34261
Ping @erictune

[2016-10-27 11:38] anioool commented on #35607
@ymqytw,
Thanks for explanation. At least now I know why i had different values. I will update my scripts.

[2016-10-27 11:38] #35607 closed

[2016-10-27 11:43] shashidharatd commented on #35078
@quinton-hoole, I wasn't able to focus on this task for past few days. Will work on it in next 2 days and update

[2016-10-27 11:45] zreigz commented on #33196
I've prepared some proposition: https://github.com/zreigz/kubernetes/commit/c650a6ac62e93e7dbadb87c0abd00b07deb860f1 please take a look. I am not sure about other places for modifications.

Another thing. I was testing it using the following commands:
[code]
and the code for DELETE operation was 202 but when I use delete `deployment` then the value of `*options.GracePeriodSeconds` for each resourc

[2016-10-27 11:52] nlamirault commented on #35643
using v1.4.4, process go to the end :

[code]

But kubectl fails :

[code]

The etcd container logs : https://gist.github.com/nlamirault/d84e77e02276d158493f15f249324ba5

[2016-10-27 12:14] nlamirault commented on #35643
i try the unstable version of **kubeadm** with reset command. Then i try another init. Etcd container is up, but i've got logs :

[code]

[2016-10-27 13:24] nvartolomei opened #35695 "PetSet with multiple PVC"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCE

**What happened**:
Creating a PetSet with multiple PVC allocates volumes in different zones, then pod scheduling fails. (volume a is in zone a, volume b in zone b, no node in both zones at the same time)

**What you expected to happen**:
Allocate volumes in the same zone.

[2016-10-27 13:50] davidewatson commented on #29563
This issues has been addressed here: https://github.com/kubernetes/kubernetes/pull/26143 I believe this can now be closed.

[2016-10-27 14:00] pskrzyns commented on #25762
I was pointed that this is correct thread for my question so here I am.
Can we change existing density tests, so we don't have hard coded number of pods (```should allow starting 95 pods per node```) but instead have number of pods calculated basing on the number of cores (```should allow starting 1 pod per core```). Or should there be another set of tests for that ?

[2016-10-27 14:06] jayunit100 commented on #35555
talked to tim, step-0 not technically, but b/c higher prio to clean event spam then to add the feature.

[2016-10-27 14:12] smarterclayton commented on #33196
I'm concerned about the backwards compatible aspects of this - while it's the right thing to do, we need to be very sure we don't break working integrations.

[2016-10-27 14:14] timothysc commented on #25762
@pskrzyns no, b/c upstream has not defaulted to this change, but we have defaulted to this on our side.

/cc @yujuhong

[2016-10-27 14:16] pondohva commented on #30039
@yujuhong could you please refer to issues related with 1.12 support? I haven't met problem with 1.12 yet on test environment.

[2016-10-27 14:28] kargakis commented on #28348
@mfojtik i think we really need failure traps for Deployment e2e tests

[2016-10-27 14:29] hectorj2f commented on #35625
We also tried specifying the MTU value using the own CNI configuration file but without success:

[code]

[2016-10-27 14:33] kargakis commented on #28348
Or maybe we have enough info?
[code]

[2016-10-27 14:50] rootfs commented on #30404
@kubernetes/sig-openstack What is the plan for the migration? gophercloud/gophercloud has shared file and shared network we may need to support manila.

/cc @jsafrane

[2016-10-27 14:59] pires commented on #35424
OK, I (believe I) found the solution - we are missing defaulting for the objects we expose.

Now, relying on the flag system to provide the defaults is wrong. Let's look at an example here.

`test.yaml`
[code]
And now you run:
[code]

Which token should be used?

[2016-10-27 15:03] aveshagarwal commented on #35505
I wonder why would someone want to set the annotation scheduler.alpha.kubernetes.io/node-selector in a previous release? It'd be of no use as only the podnodeselector admission plugin uses it and the plugin is going to be in 1.5 only.  Also node selector is an API field in pod, but not in namespace, and I am not sure if there is a plan to do that.

Also there is going to be some annotations based

[2016-10-27 15:22] resouer commented on #32024
@wojtek-t During writing up code, here is one thing I'd like to discuss.

If we allow invalid specific predicate in ecache, we will need to:
1. store result (fit, failReasons) of predicate by predicateKey in ecache
2.`podFitsOnNode` will check if ecache item is available by predicateKey, and use the cached result instead of call `predicate` if so
3. after `predicate`, we need to update items in st

[2016-10-27 15:34] yujuhong commented on #30039
@pondohva my comments above was outdated. Kubernetes 1.4 is compatible with docker 1.12, so it should be fine for you to use it. See the [1.4 release note](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#action-required-before-upgrading) for more information. That said, kubernetes doesn't support *al* features in Dockerfile*, and many of those already existed in the kubernetes AP

[2016-10-27 15:35] kargakis commented on #28348
Running `rollout undo` in a bash loop can bring a deployment into a weird state but this still doesn't explain how we jumped two revisions in the failure above. @kubernetes/deployment should we promote revision into the deployment status and add validation on top of it?
[code]

[2016-10-27 15:35] yujuhong opened #35701 "CRI: Add a "Status" call in the API report readiness of the runtime"
Currently we rely on `Version` in CRI to check whether the container runtime is up. This single binary state may not be indicative of whether the runtime is ready, nor provide enough information about subcomponents in the runtime. For example, the default network plugin kubenet reports an error on the [`Status`](https://github.com/kubernetes/kubernetes/blob/e2c96db72b6ef5819b08f976861a344ea9430373

[2016-10-27 15:35] shashidharatd commented on #35078
I wasn't able to focus on this task for past few days. Will work on it in
next 2 days and update

On 27-Oct-2016 5:06 PM, "Quinton Hoole" <notifications@github.com> wrote:

[2016-10-27 15:35] smarterclayton commented on #33196
GracePeriod is only supported on Pods - for all other resources it is
treated as zero always.

On Thu, Oct 27, 2016 at 7:45 AM, Lukasz Zajaczkowski <
notifications@github.com> wrote:

[2016-10-27 15:38] superdump commented on #35424
The flag is last so it takes precedence. That would be my expectation.

[2016-10-27 15:38] errordeveloper commented on #35649
Thanks, @erikh! @luxas is working on this and has a PR open.

On Wed, 26 Oct 2016, 21:35 Anirudh Ramanathan, <notifications@github.com>
wrote:

[2016-10-27 15:39] jonathan-kosgei commented on #33798
It should be noted that fully qualified domain names work I.e. nslookup
kubernetes.default.svc.cluster.local

On Oct 26, 2016 8:47 PM, "Ilya Dmitrichenko" <notifications@github.com>
wrote:

[2016-10-27 15:42] foxish commented on #35695
/cc @kubernetes/sig-apps

[2016-10-27 15:42] Crazee commented on #35043
In my case I have set up an overlay network (on an interface not eth0) connecting the nodes.  It's cloud based and does HA by placing a new outbound connection to the cloud (load balancer, etc.) if the current connection fails.  I need no open inbound ports for running the infrastructure.

I'd be happy if all the bits of each Kubernetes node used only this address to talk to other Kubernetes nodes

[2016-10-27 15:44] smarterclayton commented on #35318
Sgtm

On Oct 26, 2016, at 7:11 PM, Eric Tune <notifications@github.com> wrote:

It doesn't look like we are going to be able to decide on a default
behavior in time for 1.5, and talking about this more, I'm less sure that
there is a single default that makes sense for everyone.

Still, I'd like it if we can leave open the possibility of a default
behavior in the future.
The way to do this is to in

[2016-10-27 15:44] carsonoid commented on #35641
The node was Ready according to the API. The kube-proxy pod was up but no
rules were created. Basically: kube-proxy was up but the logs were
essentially empty per the paste in my original post and yet there were no
iptables rules for services on the host.

On Wed, Oct 26, 2016 at 2:29 PM, Prashanth B <notifications@github.com>
wrote:

[2016-10-27 15:46] mikedanese commented on #35424
Flags are parsed atomically in go (unlike getopt). Knowing that implementation detail, I would expect the config file to take precedence. Whether that's right or not is another question...

[2016-10-27 15:48] thockin commented on #35359
Can we just check in deltas?

On Wed, Oct 26, 2016 at 10:20 AM, Joe Finney <notifications@github.com>
wrote:

[2016-10-27 15:50] derailed commented on #35643
Thanks Lucas for pointing this out. I've totally missed it, my bad...

We can close this issue as this clearly was a pilot error. However I am
running into another problem setting up the pod network

The flannel daemonset config does not seem to be valid. Guessing it's
missing spec.selector?? but not for sure as the error given is not super
useful

So

ARCH=arm curl -sSL
https://raw.githubusercont

[2016-10-27 15:57] bgrant0607 commented on #27796
@foxish Did we turn off the Google CLAbot in the kubernetes repo?

[2016-10-27 15:57] pires commented on #35424
@superdump ok, let's try a different order then:
[code]
Does your previous rule still apply and now the configuration file has precedence?

[2016-10-27 15:58] pires commented on #35424
@mikedanese it's an important question in the sense that it will have an impact on how this fix is implemented. If we proceed with defaulting, we will be able to use only one of the configuration methods: flags *or* file.

[2016-10-27 16:02] erictune commented on #35318
We will recommend that users in production scenarios create their own PDB as part of the petset config bundle.  We will recommend that template authors provide a PDB too.  Assuming  #34776 is implemented, this can be independent of the scale for scalable petsets.

[2016-10-27 16:05] foxish commented on #27796
@bgrant0607 No, we have not done that. We will turn it off org-wide only after we have the CNCF bot functional. Blocked by https://github.com/kubernetes/contrib/issues/1834

[2016-10-27 16:08] erictune commented on #35695
How does your cluster have nodes in multiple zones?  Are you using GKE or GCE?  I saw you said GCE, but just want to clarify that you are not using GKE.

Are you using kubernetes federation, or do you have one cluster into which you added multiple zones?

[2016-10-27 16:16] pires commented on #35133
Just to add to what Luke said, there's file configuration support for `kubeadm join` as well.

[2016-10-27 16:17] pires commented on #35640
@redhatlinux10 go!

[2016-10-27 16:24] zreigz commented on #33196
Thanks for explanation. I was testing my implementation  https://github.com/zreigz/kubernetes/commit/c650a6ac62e93e7dbadb87c0abd00b07deb860f1 where API server returns 202 with kubectl and everything works fine. Do you have some specific tests in mind. I can also run e2e tests.

[2016-10-27 16:29] jbeda commented on #33881
My suggestion on how to solve this in the short term:

Have `kubeadm init` talk to the API server to find the service IP of the DNS server.  Then rewrite that into a systemd unit overlay file.  Then kick systemd and kubelet to reload that file.  Shouldn't be that much code.

This assumes that users are using systemd so we'd probably want to make this something you can disable if you aren't using s

[2016-10-27 16:31] justinsb commented on #32150
Some of my thoughts:

* When we decided to rename PetSets, we did so after much deliberation, and consideration of the impact it would have on users.  I don't _want_ another discussion like that, but we should have it if you want to rename.
* While I don't understand the advantages for the rename, I do see the costs.  We have yet to do a successful rename.  I suspect once PetSets -> SS is done, wh

[2016-10-27 16:33] erictune commented on #28718
My take on beta:

Before Code Freeze:

- [ ] Naming
  - [x] pick name #27430
  - [ ] Rename Kind to StatefulSet and change version to v1beta1 (@chiachenk working on a PR)
  - [ ] fix kubectl describe to recognize statefulset instead of petset  ( @ymqytw working on a PR)
  - [ ] document cluster upgrade process
  - [ ] rename examples (@kow3ns working on a PR)
- [ ] Fencing
  - [ ] at-most-one-pod-

[2016-10-27 16:47] superdump commented on #35424
@pires - yes, I would expect the config file to take precedence because of convention. However, I would argue if duplicates are specified that maybe a warning or error should occur.

[2016-10-27 16:52] cjcullen commented on #35530
@ericchiang: If this wouldn't be useful anywhere other than with gcloud, I'd be fine just wedging it into the gcp authProvider. We were thinking that maybe some other credential flow might have similar requirements, but without a concrete example, it's tough for me to make that argument.

@hjacobs: Very cool! Something like that would definitely work to get credentials from `gcloud`, but I worry t

[2016-10-27 16:55] nvartolomei commented on #35695
GCE, one cluster with multiple zones, configured by following k8s multizone tutorial.

On 27 Oct 2016, 19:09 +0300, Eric Tune <notifications@github.com>, wrote:

[2016-10-27 16:58] luxas commented on #35424
Yes, I also think the config file should have higher precedence.
We should/have to document this as well as show a warning if both are specified.

@mikedanese Do you have a status update on this? Do you have something up as a PR soon?
I'd like to get the last pieces ready so we can soon can push a new release to stable

[2016-10-27 16:59] emiliauskas-fuzzy commented on #28709
managed to bump into the same issue while going through this tutorial: https://cloud.google.com/endpoints/docs/quickstart-container-engine, but don't see any logs for /var/logs/kubelet.log on the cluster VM.

[2016-10-27 17:06] foxish opened #35707 "verify-godeps is difficult to run/verify locally"
Verify-godeps cannot be run locally and that leads to delay in fixing issues with it.
It took 3 PRs to fix this morning's submit-queue break.

https://github.com/kubernetes/kubernetes/pull/35704
https://github.com/kubernetes/kubernetes/pull/35696
https://github.com/kubernetes/kubernetes/pull/35699

cc @gmarek @kubernetes/contributor-experience

[2016-10-27 17:06] pires commented on #35424
@luxas I mentioned I have a fix for defaulting (for when you decode an object from a file) but there's nothing in place to force precedence or even merge of objects. As an example, `kubadm init` code may seem to try and merge `MasterConfiguration` populated by flags with a new one populated by file. This *is not* what's going on!

[2016-10-27 17:11] foxish commented on #35707
/cc @apelisse

[2016-10-27 17:11] bprashanth commented on #35701
Yeah, without a structured status call it becomes hard to stall nodeReadiness on external dependencies (eg: network plugin's etcd unreachable: http://kubernetes.io/docs/getting-started-guides/ubuntu-calico/). Even better if we can report non-critical status warnings as events on the node object. If the shim is not ready, I want to know why, if it's going to be not ready (ips almost exhausted, log

[2016-10-27 17:11] jingxu97 commented on #31272
During some testing, I noticed that fix in #35038 still won't solve the problem of kubelet hung on unresponsive nfs. When a node has some directories mounting to a nfs server (running in a container) exports, after the nfs server container is deleted, ReadDirNoStat() function will hung too.

Could you please check again and see whether you get different result? Thank you!

cc @kubernetes/sig-stora

[2016-10-27 17:13] eparis commented on #35707
why can't it be run locally?  (it used to be possible!?)

/me starts to read.

[2016-10-27 17:13] luxas commented on #35424
No, I realise that this is not how it works today, but I was thinking we were talking about how it _should_ be, and we think that config flags _should_ take precedence, but they are not right now.

Right?

[2016-10-27 17:14] #22191 closed

[2016-10-27 17:15] apelisse commented on #35707
Unknown command `/me`. Did you mean `/meme starts to read`:

![image](https://cloud.githubusercontent.com/assets/1929644/19777675/39f7f4cc-9c2e-11e6-9db2-5f25ee95b1be.png)

[2016-10-27 17:36] WeiBanjo commented on #26787
Even removing tags doesn't work for us.  We are still getting error message ```Multiple tagged security groups found for instance i-xxxxxx; ensure only the k8s security group is tagged```

By looking at `getTaggedSecurityGroups` method in [aws.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L2830) file. I feel like calling `DescribeSecurityGroupsInpu

[2016-10-27 17:40] mikedanese commented on #35359
I will work on this.

[2016-10-27 17:49] jessfraz commented on #35654
#35659 is merged so this should be good now

[2016-10-27 17:49] luxas commented on #28960
Ok, this has been merged/fixed now, closing...

[2016-10-27 17:49] #28960 closed

[2016-10-27 17:53] dashpole commented on #33444
@vishh This should be fixed now

[2016-10-27 17:54] pires opened #35710 "[kubeadm] Only supports configuration from one source at a time, flags or file"
Currently, one `kubeadm {init,join}` can only be configured through flags _or_ configuration file. So:

[code]

or

[code]

Both configuration options don't coexist as users may expect it to (#35424).

[2016-10-27 18:03] pires commented on #35424
@luxas I will open a PR that fixes this issue. I've opened #35710 for continued debate.

[2016-10-27 18:08] andersla opened #35712 "Kubeadm inside docker container fails"
## When trying to install Kubeadm inside Ubuntu 16.04 docker container it fails.

BUG REPORT

**Kubernetes version** (use `kubectl version`):
latest

**Environment**:
Ubuntu 16.04 Docker container

**What happened**:
When trying to install Kubeadm inside Ubuntu 16.04 docker container it fails.
My Idea was to use one docker container as master "node" and a second container as a worker "node" (kuber

[2016-10-27 18:11] erictune commented on #27430
Renaming to StatefulSet: https://github.com/kubernetes/kubernetes/pull/35663

[2016-10-27 18:13] timgivois commented on #13776
+1

[2016-10-27 18:14] luxas commented on #35712
cc @errordeveloper and @marun since they have been running systemd inside a container

@andersla Be beware that running systemd this way inside a container is not supported ootb, but feel free to try it our/hack on it as it would be great for testing kubeadm that way

[2016-10-27 18:14] pires commented on #35183
@hectorj2f did you look at [Termination of Pods](http://kubernetes.io/docs/user-guide/pods/#termination-of-pods), particularly [step 5](http://kubernetes.io/docs/user-guide/container-environment/#hook-details)?

[2016-10-27 18:15] maisem commented on #34277
@ymqytw are you working on this? Looks like #35483 is a dupe of this.

[2016-10-27 18:16] luxas commented on #35683
cc @kubernetes/sig-network

[2016-10-27 18:17] gmarek commented on #35707
The error I'm seeing is:
[code]

[2016-10-27 18:18] erictune commented on #27430
There is the question of how we decide the name.  I don't think voting turned out to be a good way to do that.

There is also the question of how rename impacts users.  We will see how the "delete alpha resource" impacts users when they upgrade their clusters to 1.5 and StatefulSet.   We may decide that pattern is too costly.  If so, we should invest in the API machinery to allow us to concurrentl

[2016-10-27 18:19] erictune commented on #27430
@smarterclayton your proposal will cover both those topics? (and more, I suspect, knowing you 😄 )

[2016-10-27 18:27] yujuhong commented on #35477
Related issue: #35521

[2016-10-27 18:31] erictune commented on #32150
Justin: does it address your concerns if we do the following.

*for at least 2 versions, the apiserver serves both `apis/batch/v2alpha1/scheduledJobs` and `apis/batch/v2beta1/cronJobs`, and they are backed by the same storage*

This means you could convert your manifests 1 at a time and also you could chose when to do it, not concurrent with an upgrade.

I've talked to @caesarxuchao and he says th

[2016-10-27 18:34] yujuhong commented on #35214
@dchen1107 should we fix this for 1.5?

[2016-10-27 18:35] dvohra commented on #20497
Got same issue: memory limit was hit and deleting the rc does not delete the Pods, which continue to be in Terminate state. The following command deletes the "terminating" pods.
`kubectl delete pods --all --grace-period=0`

[2016-10-27 18:36] bprashanth commented on #28718
Theres something else we (well I) kind-of (read: completely) forgot. There's a useful feature we added to Services. The annotations is shown in many petset examples: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/testing-manifests/petset/zookeeper/service.yaml#L6

It enables pets to make decisions about their peers being ready/unready using internal protocols, so eg: a http readines

[2016-10-27 18:43] eparis commented on #35707
can you include you `.git/config` file?

[2016-10-27 18:44] eparis commented on #35707
For when you REALLY want it to run you need to use:

`KUBE_FORCE_VERIFY_CHECKS=y hack/verify-godeps.sh`

[2016-10-27 18:44] spxtr commented on #34059
[code]
Think it's worth adding a presubmit verify check ensuring that the first number doesn't go up?

[2016-10-27 18:49] bprashanth commented on #35477
Yeah there are 2 parts to this, I think:

1. Don't treat a static pod rejection as final, because the manifest is already on the  node so it *cannot* possibly run anywhere else
2. Assume static pods are the most important because they manage shared node resources for all the other pods on the node (iptables, logs etc)

What about resources on the master? I still want a way to sacrifice fluent befo

[2016-10-27 18:52] bprashanth commented on #35477
retitiled because this isn't specific to kube-proxy, how will this work for daemons?

[2016-10-27 18:53] yujuhong commented on #35477
Related issue on preemption: #22212

[2016-10-27 18:54] krousey commented on #4874
Closing in favor of #29934 as it represents the remaining tasks and is owned by the person actively working on it.

[2016-10-27 18:54] #4874 closed

[2016-10-27 18:56] bprashanth commented on #22212
Please consider 2 in https://github.com/kubernetes/kubernetes/issues/35477#issuecomment-256734897, if you haven't already

[2016-10-27 18:56] bprashanth commented on #35477
So I guess 1 is fixed with the mentioned pr?
If so we can probably close as a dupe of 22212

[2016-10-27 19:01] krousey commented on #28427
Hey @saad-ali, this is consistently failing on the gce soak tests right now. Any update on this issue?

[2016-10-27 19:02] justinsb commented on #32150
I think that would be great @erictune - thank you for considering & suggesting it! It feels very much like the kubernetes way to evolving our schemas.  It leaves the human issues (communication of renames, spelling of cron) which feels right, and with a "gradual" migration we could even put warnings into kubectl.

[2016-10-27 19:06] yujuhong commented on #35477
Neither of the two addresses this, but I don't think kubelet should treat any pod specially.

[2016-10-27 19:28] vishh commented on #33444
Can we close this issue then?

[2016-10-27 19:28] saad-ali commented on #28427
Thanks for the heads up @krousey. I took a look.
* The deployment for soak tests happens once a week.
* The last deployment for the soak tests happened at Oct 25, 2016 1:00 AM
* This soak test deployment picked up PR https://github.com/kubernetes/kubernetes/pull/34570 which was merged at Oct 24, 2016, 9:42 PM PDT and broke a couple of `Pod disk...` tests.
* While the PR was reverted at Oct 25, 201

[2016-10-27 19:31] soltysh commented on #32150
A few mentioned that Scheduled might be mistakenly taken with the Scheduler. There were some naming doubts at the proposal time but were dropped at the time.

Actually I didn't plan to move SJ/CJ to beta anytime soon due to the missing parts, see https://github.com/kubernetes/features/issues/19 'Before beta' section and that will definitely won't happen for 1.5. But I wanted to do the rename asap

[2016-10-27 19:40] sjenning opened #35718 "mounting nfs volumes in pods is broken"
https://github.com/kubernetes/kubernetes/pull/35652 broke mounting nfs volumes in pods:

[code]

`kubectl create -f nfspod.yaml`

Stuck in `ContainerCreating`

`kubectl describe pod demo`

[code]

Note the leading `/` on the nfs server name.

@vishh @derekwaynecarr

[2016-10-27 19:42] vishh commented on #35718
https://github.com/kubernetes/kubernetes/pull/35349/commits/7fd03c4b6e132347cfa591abb263b92a53d004b1 should fix this. Sorry for the trouble.

[2016-10-27 19:43] rootfs opened #35719 "fs type is silently ignored in ConstructVolumeSpec"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

[reconstructVolume](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/reconciler/reconciler.go#L486) calls plugin's `ConstructVolumeSpec` to create a volume spec and use this volume spec in plugin's `NewMou

[2016-10-27 19:45] sjenning commented on #35718
@vishh ah yes, I had a PR with that fix ready to go but you beat me to it.  Minus the whole `else` case there since the `if` before it ends in a `return`.  Thanks!

[2016-10-27 20:09] fejta commented on #35707
@gmarek @foxish can you share the `PWD` you use for your kubernetes repo? It should be `$GOPATH/src/k8s.io/kubernetes` per https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md#clone-your-fork

The first thing hack/verify-godeps.sh should print is:
`Checking for 'Godeps/' changes against 'upstream/master'`