[2015-11-13 02:14] paralin commented on #17179
Agreed on the duplicate

[2015-11-13 02:18] eliaslevy opened #17199 "Apiserver should expose a non-authenticated endpoint to check its health"
While setting up k8s in a HA configuration in AWS and configuring an internal elastic load balancer to front the apiservers I noticed that the apiserver does not appear to expose a non-authenticated endpoint that ELB could use to perform an HTTPS health check (it expects a 200 response).  That limits the health check to a generic SSL or TCP check.

[2015-11-13 02:32] HaiyangDING commented on #12140
Just one more comment right now, we may also need to remove the "avoid machine X" notation once the pod is successfully scheduled onto the node, this could be done by the scheduler.

[2015-11-13 03:07] resouer commented on #17039
The typical use case is: [daemon set](https://github.com/kubernetes/kubernetes/blob/master/docs/admin/daemons.md)

For example: I want to deploy a glusterfs servers as daemon set. But only part of my clusters are host network && privileged enabled.

Of course it can always be replaced by node-selector

[2015-11-13 03:08] zhengguoyong commented on #17158
success now,
close it.

[2015-11-13 03:08] #17158 closed

[2015-11-13 03:10] shenshouer commented on #17154
I use the docker images about the api-server, kube-controller-manager and kube-scheduler which in v1.1.1 release kubernetes.tar.gz. I will check version .

[2015-11-13 03:37] derekwaynecarr commented on #17151
I was going to do some R&D on initializers, but this seems more pressing.  Self assigning and when send a PR.

[2015-11-13 03:38] derekwaynecarr commented on #17151
@ncdc - I am going to pick this up as part of the r & d work we discussed today.

[2015-11-13 04:12] shenshouer commented on #17154
@nancykyo Thank you very much !
I check the version about the container of kube-apiserver,kube-controller-manager and kube-scheduler and found the version about the image I used which docker load from the file kubernetes-server-linux-amd64.tar.gz in kubernetes.tar.gz is v1.0.7 . It does not match with the release version v1.1.1

So I suggest need explicit hint at here when the version is not right

[2015-11-13 05:01] brendandburns commented on #17062
I'm working on this now.  eta sometime tomorrow.

[2015-11-13 05:06] brendandburns commented on #16987
@dalanlan I think your analysis is correct, and also the desired behavior.

In a system with health checks and restart, dying if your preconditions aren't met, is actually the robust, correct behavior.  Trust the kubelet to continue to restart you until your pre-conditions are met.

[2015-11-13 05:13] dalanlan commented on #16987
@brendandburns theoretically, yes. That said,  #12588 is odd indeed and unexpected.

Based on this assumption, `emptyDir` is good to go in this case(again).
Thank you for the clarify.

[2015-11-13 05:26] dalanlan opened #17205 "[ubuntu] etcd error during upstart process"
Since we have bumped etcd version to 2.2.1, there exists a problem with etcd when deploying the cluster [ubuntu].
I'm not positive whether it's fatal or not, and file this issue in case some one would love to pick it up. Or i'll follow this thread early next week.

- Case 1
[code]
- Case 2
[code]
For case 2, adding param `--no-sync` for `etcdctl` would fix this.

This may apply to all other platfo

[2015-11-13 05:46] feihujiang commented on #15830
Thanks, I got it. I'd love to do this work.

[2015-11-13 05:46] luxas commented on #16987
@dalanlan So, should I create the PR of this file then (and of course `master.json`)? https://github.com/luxas/kubernetes/blob/16987-default-serviceaccount-secret-hyperkube/cluster/images/hyperkube/master-multi.json

[2015-11-13 05:46] brendandburns commented on #16436
[code]

[2015-11-13 05:52] dalanlan commented on #16987
Feel free to. You deserve this credit :)

[2015-11-13 05:55] dalanlan commented on #16987
Also `master.json` please.

[2015-11-13 06:41] bgrant0607 commented on #4432
cc @jiangyaoguo

[2015-11-13 06:54] davidopp commented on #12140
I think it would be nice if the scheduler could continue to have a narrow mutating interface (only allowed to write to /bindings). I don't think there's any harm in keeping the annotation on the pod, since the pod will never be re-used; it will just terminate or be killed eventually.

[2015-11-13 07:10] davidopp commented on #12744
Yeah, I haven't thought much about how to structure this library and how it should interact with the components that use it. For now, I guess we will have to recompile the rescheduler whenever we introduce a new scheduler into the system. (That is, when someone implements a new scheduler, they will also need to update the rescheduler code.)

To handle the case where someone has introduced a new sc

[2015-11-13 07:13] yorele commented on #17060
related question: i'm confused about compiling for arm: if i can compile the Go code, the release is made in Docker images, and as far as I can tell they use standard Centos and Debian:jessie base images so they are certainly not compatible with arm out of the box. In order to be compatible with arm32 the base image would have to be a debian armhf or centos arm32 image.

considering this, i was go

[2015-11-13 07:26] davidopp opened #17208 "Write a guide to writing a new scheduler"
Once we make it possible for people to write new schedulers (#11793), we should write some guidelines/best practices for things people should do when they write a new scheduler. For example
- update the rescheduler
- back off trying to schedule a pod onto a node if kubelet keeps rejecting the pod from that node
- use our standard client code (like pkg/client/cache)
- use the library of kubelet pre

[2015-11-13 07:36] hurf commented on #16955
@janetkuo If you're not working on this, I'll take this.

[2015-11-13 07:41] #17157 closed

[2015-11-13 08:03] michaelukpong commented on #17172
@liggit this was seen on GKE...

[2015-11-13 08:34] paralin commented on #17060
@yorele You'll need to actually use arm base images.

See https://github.com/paralin/crew/blob/master/plugins/scratch/commands

It's a system that will automatically scratch re-compile images.

However, in this case you probably want to just modify the base images to armbuild/debian

There's no really good automatic solution at the moment, I believe.

[2015-11-13 08:49] luxas commented on #17060
Yeah, @yorele you'll need to use ARM base images, if you **compile** on ARM.
But, AFAIK you may cross-compile **statically** to ARM, but not dynamically.

See my project here: https://github.com/luxas/kubernetes-on-arm
Prebuilt k8s binaries on ARM: https://github.com/luxas/kubernetes-on-arm/releases

[2015-11-13 09:31] davidopp commented on #17190
@kevin-wangzefeng

[2015-11-13 09:59] HaiyangDING commented on #17190
Some quick thoughts here, I will think it through later.

Maybe we can start with pod instead of namespace (as we plan to do for multi-scheduler), and this could avoid touching admission controller. Also, I'd prefer using annotations over labels.

[2015-11-13 10:08] mrosic opened #17209 "kubectl describe node xyz: "format mismatch: BinarySI vs. DecimalSI""
Hello,

I'm getting the following error message:
[root@xyz ~]$ kubectl describe node node02.xyz.com
format mismatch: BinarySI vs. DecimalSI

note that "kubectl describe node01.xyz.com" works fine.
kubernetes v1.1.0-alpha.0-1605-g44c91b1

[2015-11-13 11:03] opyate opened #17211 "Vagrant provider fails with 404 on fedoraproject.org/coprs"
Hello,

I'm trying the [vagrant provider](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/vagrant.md) walk-through, and start getting red output here:

[code]

The fedoraproject.org links are 404, so I'm wondering if I can hack in an alternative (and if so, which?), or if it's just a case of trying again later.

[2015-11-13 11:09] enricomingardo commented on #17211
Could this issue be related  to https://github.com/saltstack/salt/issues/28142 ?

[2015-11-13 11:09] opyate commented on #17211
I dug around on Fedora COPRS, and found [an alternative cockpit preview](https://copr.fedoraproject.org/coprs/g/cockpit/cockpit-preview/repo/fedora-21/msuchy-cockpit-preview-fedora-21.repo), then modified `kubernetes/cluster/vagrant/provision-master.sh` to point to it.

It seems to work, so if the `msuchy` preview is verified, I'm happy to send a PR.

[2015-11-13 11:36] #14830 closed

[2015-11-13 11:50] opyate commented on #17211
@enricomingardo I've worked around the immediate 404 problem, but might be going down the wrong path. My 2 VMs came up with no k8s services started, so it might be part of the larger problem which you alluded to.

[2015-11-13 11:53] HaiyangDING commented on #17208
+1 for this doc.

[2015-11-13 12:09] luxas commented on #16987
The PR is here: #17213

[2015-11-13 12:21] coleca commented on #16449
CAs will refuse to issue these type of certificates with internal hosts in the SAN. See https://www.digicert.com/internal-names.htm for an example.

[2015-11-13 12:41] ddysher commented on #16974
doh, so I was matching on endpoints port instead of service port?    I always use the same port number for service and endpoints... it blinds me.

[2015-11-13 12:52] liggitt commented on #17172
On master or on 1.1?

[2015-11-13 13:08] kargakis commented on #17170
Working on this. @bgrant0607 mind assigning?

[2015-11-13 13:17] michaelukpong commented on #17172
@liggitt  not sure how to check that.... my understanding --> if I install kubernetes locally then ofcourse i can chose which release to git pull/download.

But on Google cloud... i just simply create a cluster and keep doing stuff.... how can i check which kubernetes Google cloud is running on GKE? ...

Thanks and forgive my novice knowledge on this subject matter.

[2015-11-13 13:20] liggitt commented on #17172
https://$MASTER/version should report the build

[2015-11-13 13:25] michaelukpong commented on #17172
okay thanks
[code]

[2015-11-13 13:30] ltagliamonte opened #17215 "kubernetes 1.1.1 System error starting container on debian SID"
I'm running a local kubernetes cluster using vagrant, today i recreated the cluster updating to the latest kubernetes version 1.1.1 and i'm getting the following error creating a simple rc:

[code]

docker logs output:

[code]

i'm using vagrant 1.7.2, docker 1.9 and debian sid:

[code]

step to reproduce the issue:

[code]

when kubernetes is up create a a simple namespace with a mysql rc running

[2015-11-13 13:39] deads2k opened #17216 "Switch to use `GroupVersion` in APIs and structs"
Switching to use the new `GroupVersion` type will make our code flows much easier to read and debug as we try to determine which information is contained in particular strings.  Choosing a single struct field or interface method and chasing ripples out one or two levels produces a pull of moderate size that is pretty easy to review and easy to rebase as other changes go in.  After we think we've g

[2015-11-13 13:47] deads2k commented on #17216
@liggitt  are you willing to help review this work?  There will be a lot of it.

[2015-11-13 13:49] jetole commented on #16449
What about multiple master ports or running different server / cert on the
public facing IP and the one with the long list of SAN's on the rest the
internal IP's ?

On Fri, Nov 13, 2015 at 7:22 AM, Cole Calistra <notifications@github.com>
wrote:

--

:: Sincerely,
:: Joseph Tole

[2015-11-13 14:03] deads2k opened #17218 "Figure out the purpose/necessity of APIGroupVersion.ServerGroupVersion"
See https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/apiserver.go#L96.  (It was `APIGroupVersion.ServerVersion` before).  It seems like those values should always be unversioned.

Spawned from: https://github.com/kubernetes/kubernetes/pull/17175/files#r44783763

@liggitt @caesarxuchao

[2015-11-13 14:07] liggitt commented on #17216
Sure, @caesarxuchao and I can probably tag team on individual PRs

[2015-11-13 14:10] liggitt commented on #16449
There is already a way to provide a cert for a specific hostname without splitting to separate ports using SNI. That would be preferable, imo

[2015-11-13 14:14] deads2k commented on #17216
I think that in the end, we shouldn't have any calls to `.String` and `.ParseGroupVersion`.  That will allow us to find and stomp all the ripples as we start by converting at the edges.

[2015-11-13 14:26] peterbourgon opened #17219 "cluster/aws/util.sh: kube-down doesn't respect custom VPC_ID"
1. export custom VPC_ID
2. Invoke kube-up on AWS
3. Verify cluster works
4. Invoke kube-down

Expected behavior: all created k8s resources are removed.

Actual behavior: the script exits almost immediately, having not deleted anything.

It appears that [kube-down blindly invokes get_vpc_id](https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/util.sh#L1152) but that should only happen

[2015-11-13 14:41] ncdc commented on #17183
cc @jcantrill @mwringe @sosiouxme

[2015-11-13 15:04] peterbourgon commented on #17219
This patch seems to resolve it, modulo style concerns.

[code]

[2015-11-13 15:05] wernight commented on #4710
+1

Most Docker (official and not) images that allow an optional password, implement this via environment variables ([mysql](https://hub.docker.com/_/mysql/), [postgres](https://hub.docker.com/_/postgres/), [ipython/scipyserver](https://hub.docker.com/r/ipython/scipyserver/)...). So there is a use case.

It's possible to wrap but having a helper would be very helpful.

If there is a greater securi

[2015-11-13 15:11] timothysc commented on #11470
imho this whole proposal sounds like what you really want is #17197

[2015-11-13 15:41] #17109 closed

[2015-11-13 15:47] ravigadde commented on #11470
No it isn't. I will explain in the other thread.

[2015-11-13 15:56] peterbourgon commented on #17219
...but with that, it still tries to delete the VPC, which it shouldn't do...

[2015-11-13 16:09] bgrant0607 commented on #17170
Done, thanks

[2015-11-13 16:11] jetole commented on #16449
Can you provide a reference, a link or anything I can read to explain to me
how I would do that?

On Fri, Nov 13, 2015 at 9:11 AM, Jordan Liggitt <notifications@github.com>
wrote:

--

:: Sincerely,
:: Joseph Tole

[2015-11-13 16:21] liggitt commented on #16449
Sorry, updated comment with reference, but github doesn't renotify... see NameToCertificate in https://golang.org/pkg/crypto/tls/#Config

[2015-11-13 16:22] liggitt commented on #16449
Go supports it, but the apiserver would have to allow populating/plumbing through extra certs into that structure

[2015-11-13 16:24] bgrant0607 commented on #15390
cc @gabrtv

[2015-11-13 16:26] bgrant0607 commented on #15390
Generalization of this idea described here: https://github.com/kubernetes/kubernetes/pull/16250#issuecomment-155677649

[2015-11-13 16:30] enricomingardo commented on #17211
The alternative repo has a wrong char in header: @
I'm trying this workaround:

[code]

[2015-11-13 16:31] bgrant0607 commented on #17097
Related: #15390

I think we need at least 2 things:

1. A generic resource policy object -- not just for pods. I'd use this for labels and annotations. #15390
2. A pod-specific policy object, which is the generalization of LimitRange.

Is there a reason why we wouldn't fold pod security policy into the latter?

cc @erictune

[2015-11-13 16:35] bgrant0607 commented on #17151
@davidopp: Dedicated machines proposal.

[2015-11-13 16:35] bgrant0607 commented on #17151
Where would the selector be put? LimitRange?

[2015-11-13 16:36] bgrant0607 commented on #17151
cc @erictune

[2015-11-13 16:39] bgrant0607 commented on #17097
cc @pweil-

[2015-11-13 16:45] bgrant0607 commented on #17151
Let's say a particular namespace is forced to land on a set of machines. Do you also want to force all other namespaces to not land on that set of machines? That's a use case we have internally -- mutual exclusion. It's inconvenient (and impossible until more general selectors are implemented) to use nodeSelector for this. This is one use case for what we call *taints*, which have a repulsive effe

[2015-11-13 16:57] derekwaynecarr commented on #17151
@bgrant0607 - the initial thought to get parity with downstream efforts in OpenShift was to do this via an annotation inspected during admission, but I agree that it has limitations around mutual exclusion.  I agree with mutual exclusion as being a desire.  I will have time to put some thoughts together on that later today / early next week.

[2015-11-13 17:01] erictune commented on #16741
@zmerlynn added nfs-common to cluster/saltbase/salt/base.sls which makes NFS work with all cloud providers that use salt.  But that is not all getting-started-guides.   For example, fedora on vagrant, core-os tectonic, etc are not going to work out-of-the-box.

So, either we need to bring the other getting-started-guides up to that level, or...
... what if we implement the `mount()` syscall inside

[2015-11-13 17:02] karlkfi commented on #15424
Thanks for looking into it, @sgoings
We haven't seen this at all recently. So I'm going to close it assuming is was a fluke with the aws teamcity agent VM.

[2015-11-13 17:02] #15424 closed

[2015-11-13 17:28] luxas commented on #16799
This would be useful, why isn't `kube-proxy` present by default in `master-multi.json`?
BTW, will the deprecation of static pods affect `master-multi.json`, when running containerized kubelet?

[2015-11-13 17:32] mikedanese commented on #16799
@luxas We are hoping to move kube-proxy into a DaemonSet, and static pods are a good intermediate step. They won't be static pods for long I hope.

[2015-11-13 17:32] enricomingardo commented on #17211
It doesn't works, but Why do you have closed this issue?

[2015-11-13 17:38] lavalamp commented on #17208
Scheduler is an "initializer", in that it sets a field under .spec after an object has been created. Controllers, by contrast, act on other objects, potentially updating the status periodically.

Both share use of watches--possibly over multiple resource types--they're basically the same other than the action(s) they perform.

So I agree that they should probably be covered in the same doc. Our cu

[2015-11-13 17:39] pmorie opened #17223 "There should be a SecurityContext component of PodStatus"
There should be a `SecurityContext` component of `PodStatus` that communicates the effective SELinux context of a pod / container.

@pweil- @bgrant0607 @smarterclayton @swagiaal

[2015-11-13 17:53] bgrant0607 commented on #17095
We had trouble with this for resource values, also, before we introduced Quantity.
cc @lavalamp

[2015-11-13 17:56] bgrant0607 commented on #16293
cc @kubernetes/goog-cluster

[2015-11-13 17:56] bgrant0607 commented on #16304
cc @ArtfulCoder

[2015-11-13 17:57] pmorie opened #17226 "There should be a way to set specific mount options for NFS"
... in order to do things like turn off attribute caching, which is needed when using an NFS volume as storage for a docker registry.

cc @kubernetes/rh-storage @ncdc

[2015-11-13 17:59] bgrant0607 commented on #16307
See also #8867. Eventually we'll need to lock this down.
cc @thockin

[2015-11-13 18:02] caesarxuchao commented on #17216
Sounds right. Thank you! I'll take the latest package today.

[2015-11-13 18:04] bgrant0607 commented on #16326
See also #16938.

[2015-11-13 18:04] bgrant0607 commented on #16938
We're going to delete the K8s docs from cloud.google.com for now and direct users to kubernetes.io.

[2015-11-13 18:13] janetkuo commented on #17179
Thanks! Closing this.

[2015-11-13 18:13] #17179 closed

[2015-11-13 18:14] lordkada commented on #12273
+1

[2015-11-13 18:15] brendandburns commented on #17129
We also need to update the munger so that the github text doesn't refer to the 1.0 branch.

--brendan

[2015-11-13 18:25] #16897 closed

[2015-11-13 18:30] caesarxuchao commented on #17216
@deads2k I hope you don't mind I updated the list with one new entry (search for "[updated]"). May I add entries into the list as I find more?

[2015-11-13 18:32] brendandburns commented on #16828
Is someone owning this?  We are leaking here...

[2015-11-13 18:33] deads2k commented on #17216
please do.

[2015-11-13 18:34] brendandburns opened #17228 "Run conformance tests against single node docker and multi-node docker"
This is part of making sure those configs are fully supported.

[2015-11-13 18:35] timstclair commented on #17129
@brendandburns I think that's a different issue? Or is that somehow tied to this one? I think this issue is fixed.

[2015-11-13 18:36] janetkuo commented on #17010
No, I don't see any. We should add tests for rollback.

[2015-11-13 18:39] zmerlynn commented on #16741
@erictune: Yeah, I'll admit I cheated a bit there. I was trying to get the NFS example working at all on GCE/GKE. I didn't even see this issue, which is about how I was feeling when I was staring at the NFS going "Sigh, this is bad."

[2015-11-13 18:39] zmerlynn commented on #16741
(The NFS example now works on GCE/GKE *without* that because the new `containervm` image *also* has `nfs-common`, but I needed the Salt change before that.)

[2015-11-13 18:40] mikedanese commented on #17228
cc @fgrzadkowski

[2015-11-13 18:42] vishh commented on #17183
Related issue: #13846

@bgrant0607: #8001 is almost resolved. The fluentd plugin does tag log lines with kubernetes metadata. Relevant [comment](https://github.com/kubernetes/kubernetes/issues/8001#issuecomment-139407239)

Following are some of the issues with logs today:

1. Logs are stored on disk. By default, the json logging driver is used with docker. They are not rotated by the kubelet direc

[2015-11-13 18:42] janetkuo commented on #16955
@hurf thanks!

[2015-11-13 18:44] luxas commented on #16799
OK, thanks for the info!
`DaemonSets` is looking very interesting, hadn't read about that earlier

[2015-11-13 18:46] pweil- commented on #17097
I'm not sure yet that having the PSP inside another policy makes sense unless something in the new policy directly relates to the security policy.  For instance does this imply that validation under a PSP is only acceptable if all conditions of the over arching policy are met?  Or are they really separate pieces?

If they are tied together I would also be concerned about the number of variations s

[2015-11-13 18:51] bgrant0607-nocc commented on #17084
cc @justinsb @brendandburns

[2015-11-13 18:52] bgrant0607-nocc commented on #17094
cc @zmerlynn

[2015-11-13 18:52] lavalamp commented on #17095
`resource.Quantity` is encoded as a string, so it should pass through anything. Unfortunately, it's not a natural fit for e.g. gid/uid.

`int64` is a critical part of our api, but this is tricky: if we start serializing as strings, we have to rev the API.

We have been acting as if numeric values in json are integers or floats depending on how they're formatted. Is this in line with the JSON spec?

[2015-11-13 18:56] rootfs commented on #17226
@pmorie +1
we need the ability to set nfs versions, security, caching.

should make it more general for other network filesystems too (gluster, cephfs, and upcoming cifs)

[2015-11-13 18:57] bgrant0607-nocc commented on #17094
Source IP masking is documented here:
https://github.com/kubernetes/kubernetes/blob/f430dc8ac8011f2584eeb06f0e423b1513042c02/docs/user-guide/services.md#shortcomings

But we should have a documented workaround, if there is one.

@thockin Will this still be a problem with the iptables implementation of kube-proxy?

[2015-11-13 18:58] bgrant0607-nocc commented on #17098
Related: #13567

cc @davidopp @erictune @mml

[2015-11-13 18:59] bgrant0607 commented on #13567
cc @mml

[2015-11-13 19:00] bgrant0607 commented on #17151
cc @mml

[2015-11-13 19:00] bgrant0607 commented on #17097
cc @mml

[2015-11-13 19:01] zmerlynn commented on #17094
@ztao1987: I believe you are the same user that replied to this thread in google-containers?https://groups.google.com/forum/#!searchin/google-containers/hdfs/google-containers/P4uh7y383oo/9PcP_cGVuJgJ If so, it sounds like `--proxy-mode=iptables` worked for you?

[2015-11-13 19:02] liggitt commented on #17095
From the JSON spec:

In practice, most implementations deserialize as float64 (go does by default, Javascript does by spec)

Don't I know it. Not sure which I dislike more, API breakage or data loss/corruption...

[2015-11-13 19:08] bgrant0607 commented on #17098
@derekwaynecarr I agree on rates for terminating pods. For bounded-duration resources, we want to control rates. For indefinitely existing resources, we want to control footprint.

I was thinking that Jobs of BestEffort pods would just be run in a different namespace than indefinitely running pods.

If we added a cap on the number of BestEffort pods, I don't see why we'd also need a flag.

[2015-11-13 19:10] bgrant0607 commented on #17097
#17098 made me think of other examples:

I'd like to be able to require restart=Never and restart=OnFailure pods to have a max/default ActiveDeadlineSeconds.

I'd like to be able to set a max/default TerminationGracePeriodSeconds.

[2015-11-13 19:11] bgrant0607 commented on #17097
Related: https://github.com/docker/docker/issues/11187

[2015-11-13 19:12] bgrant0607 commented on #17097
Namespace is probably too coarse to apply a number of these policies. We'll likely want to use label and field selectors for targeting.

[2015-11-13 19:13] #15355 closed

[2015-11-13 19:14] bgrant0607-nocc commented on #17103
We need to move this to an archive or delete it.

[2015-11-13 19:15] bgrant0607-nocc commented on #17103
cc @erictune

[2015-11-13 19:15] bgrant0607-nocc commented on #17105
cc @ihmccreery @quinton-hoole

[2015-11-13 19:17] bgrant0607-nocc commented on #17107
Yes, it's compatible.
http://kubernetes.io/v1.1/docs/admin/cluster-management.html

[2015-11-13 19:17] #17107 closed

[2015-11-13 19:18] pmorie commented on #16910
@bgrant0607 Seems like an application for a `SecretDataSelector` like what we would want to use for secrets in env vars.

[2015-11-13 19:18] bgrant0607-nocc commented on #17107
In the future, please try stackoverflow:
http://stackoverflow.com/questions/tagged/kubernetes

[2015-11-13 19:25] zmerlynn opened #17231 "Zeppelin image is huge"
The `gcr.io/google_containers/zeppelin` image added by #17025 is over a gig. Investigate how to trim this down. (Cut out interpretters? Make them more modular somehow, possibly composing them once we have some solution like #831?) It's not even clear there's upstream support for making this more modular, though.

[2015-11-13 19:25] zmerlynn commented on #17231
cc @timothysc @kubernetes/sig-big-data

[2015-11-13 19:36] jackgr commented on #16543
After discussion with @lavalamp, a key observation is that when the object is pushed to the api server, the server will upgrade the version, if necessary, until such time as the version being pushed is deprecated. When the version being pushed is deprecated, an error will be returned. So, there is no risk of doing any damage by submitting the wrong version.

With this observation in mind:
* If the

[2015-11-13 19:39] deads2k commented on #16543
How will you detect the conflict between old annotation and the new apply?  Won't that require reserializing the existing annotation with the new codec?

[2015-11-13 19:43] alex-mohr commented on #6099
@fabioy may be starting to look at this

[2015-11-13 19:46] nikhiljindal commented on #13414
Thanks for suggesting that @paralin
Are you suggesting that as a replacement for go-restful?

At a quick glance it looks like its a CLI that supports generating server, client code from spec, but am not sure how can I use that to generate spec from our code.
Any pointers?

cc @casualjim who suggested the same https://github.com/emicklei/go-restful/issues/157#issuecomment-155246694

[2015-11-13 19:49] paralin commented on #13414
@nikhiljindal Tricky. I think it probably only supports spec -> code. Might have to just focus on updating go-restful unless there's some other solution here

[2015-11-13 19:49] nikhiljindal commented on #15916
@caesarxuchao had added a lint checker (hack/verify-linkcheck.sh) that checks links with  http://releases.k8s.io/HEAD prefix. We need to extend that to all links.

[2015-11-13 19:51] jackgr commented on #16543
No, the type meta provides access to the version, regardless of the codec. We can simply compare the versions between annotation and command line input to determine whether or not there's a conflict.

[2015-11-13 19:51] casualjim commented on #13414
@nikhiljindal it has a free-style doc comment parsing API, it should be able to work with anything.
these 2 applications should show you some possible use cases. https://github.com/go-swagger/go-swagger/tree/master/fixtures/goparsing

Documentation is a bit of a WIP atm.

[2015-11-13 19:55] derekwaynecarr commented on #17098
@bgrant0607 - I know in OpenShift, I have use cases for running a BestEffort pod in the same namespace that has quota on compute resources.  For those use cases the operator may want to think of those pods as just cost of running infrastructure, but does not want run them in a separate namespace (need shared access to secrets).  Examples include our build and deploy pods.

Agree that flag/cap on n

[2015-11-13 19:56] yujuhong commented on #13562
@vishh, that was what I thought initially, but now I think container GC may be different from the rest (e.g., image).
 - There is no value keeping dead containers of deleted and/or terminated pods. This is different from, say, images, which you may be able to reuse later.
 - For pods that are still alive, we know exactly how many dead containers is required to generate pod statuses. Beyond that, t

[2015-11-13 20:00] derekwaynecarr commented on #17098
PR to make resource quota respond to freed compute resources via watch notification is here:

https://github.com/kubernetes/kubernetes/pull/17133

[2015-11-13 20:00] #16982 closed

[2015-11-13 20:00] MikeSpreitzer commented on #17013
I have a patch for this, and it changes 10 lines.

[2015-11-13 20:16] timothysc commented on #17231
remove mvn tooling and all the extra steps.

[2015-11-13 20:37] jackgr opened #17237 "Make kubectl apply check for stale input"
This issue tracks the fix to kubectl apply required to detect configuration using a version that is older than the apply annotation on the resource, per the discussion in #16543.

[2015-11-13 20:38] jackgr opened #17238 "kubectl apply --overwrite"
This issue tracks the implementation of the --overwrite flag in kubectl apply, per [this comment](https://github.com/kubernetes/kubernetes/pull/16980#issuecomment-156101513) in #16980. Fixes #13576.

[2015-11-13 20:52] quinton-hoole commented on #17105
@llarson Mine says 1.1.1.  Web caching?

[2015-11-13 20:57] smarterclayton commented on #17223
Can't it change over the lifetime of the process?

On Fri, Nov 13, 2015 at 12:39 PM, Paul Morie <notifications@github.com>
wrote:

[2015-11-13 21:01] zmerlynn commented on #17231
@timothysc: I can look at that, but I think I can actually just strip the image of the dev tooling right now. Right now I think the Zeppelin deps themselves are a ridiculous portion of this, though. (I'll poke at it.)

[2015-11-13 21:20] caesarxuchao commented on #15916
#16233 is the issue for updating the hack/verify-linkcheck.sh. Hopefully I can do it next week.

[2015-11-13 21:28] ihmccreery commented on #17105
@mikedanese fixed this yesterday.

The root cause was a change in our GKE rollout, (which is where we mark a release as stable,) and an oversight on my part.  The docs have been fixed; this shouldn't be a problem again.

[2015-11-13 21:28] #17105 closed

[2015-11-13 21:29] soltysh opened #17242 "Be able to specify Job's deadline"
This was came out from discussion between @pmorie and @sdminonne and was mentioned in https://github.com/kubernetes/kubernetes/issues/14186#issuecomment-155614590. I've been discussing this with @erictune later today and he agreed about bringing back the original idea from https://github.com/kubernetes/kubernetes/pull/11746 of having Job's deadline:
[code]
Additionally @bgrant0607 mentioned combin

[2015-11-13 21:29] vishh commented on #13562
pods. This is different from, say, images, which you may be able to reuse
later.

This is not entirely true. We provide access to previous instance logs. I'm
trying to find ways where logs are independent of container lifetimes
though.

them around does us no good, other than degrading docker's performance. On
top of that, when there is disk space pressure, you can't really remove
*more* dead cont

[2015-11-13 21:34] smarterclayton commented on #17098
Are builds and deployments best effort?  Depending on who you ask, they
aren't.

On Fri, Nov 13, 2015 at 3:00 PM, Derek Carr <notifications@github.com>
wrote:

[2015-11-13 21:35] soltysh opened #17244 "RFE: ability to define special exit code to terminate existing job"
This came out during my discussion with @erictune later today. Our current implementation of jobs assures we always restart pods to fulfill `JobSpec.Completions`. What if, at a certain point in time, we know the job won't be able to finish successfully ever. We should be able to mark the job for termination without actually removing it from the system, because we want to keep old data.
This might

[2015-11-13 21:35] Random-Liu commented on #13562
@vishh, it seems that the latest dead container is still useful, before the new container is started.

[2015-11-13 21:36] smarterclayton commented on #17151
We do that in the proposal with the global default - the global default can
force everyone away, and the namespace default can allow someone into a
subset of the reserved space (namespace default overrides global default).
Not the same as taints as I understand it, but instead about up-front
partitioning.

On Fri, Nov 13, 2015 at 2:00 PM, Brian Grant <notifications@github.com>
wrote:

[2015-11-13 21:37] soltysh commented on #17242
One thing I didn't mention is, after reaching the deadline, the job would be marked as failed.

[2015-11-13 21:38] vishh commented on #13562
Yes. On a best-effort basis ideally.

On Fri, Nov 13, 2015 at 1:36 PM, taotao <notifications@github.com> wrote:

[2015-11-13 21:39] soltysh commented on #17244
Such job would be marked as failed, in that case.

[2015-11-13 21:42] derekwaynecarr commented on #17098
@smarterclayton - i agree its operator specific - but aside from the use case, i think its fair for an admin to say i give you X amount of burstable/guaranteed resource and Y best-effort tasks to run whatever (jobs of any kind) seems sane to me.

[2015-11-13 21:44] soltysh commented on #17130
@derekwaynecarr have you done some tests around it?

[2015-11-13 21:49] yujuhong opened #17251 "Move all mirror pod logic to a single module"
Right now we have mirror pods being passed to the pod workers. Removing the mirror pod references scattered in kubelet.go and centralize them in one place brings benefits such as
 - Easy disabling/enabling of such a feature, if necessary
 - More readable code
 - Pod workers no longer need to interact with apiserver
 - Allow enhancements such as waiting a certain period of time before trying to rec

[2015-11-13 21:49] bprashanth commented on #17130
I though about making the Informer more flexible when it came to type of store/index etc but punted pre 1.0 because I didn't actually witness any cpu churn when i rewrote the rcs. Don't deny that it might be time now.

[2015-11-13 21:55] yujuhong commented on #13562
Yes, let me rephrase that. For *deleted* pods, we no longer have to keep the dead containers.

As @Random-Liu pointed out, you still need latest dead container. Moreover, we still support `kubectl logs -p`, so one previously dead container is required until we can resolve all the issues.

*If* we can stop really on tombstones completely, there is even more reason to GC all the dead containers ASAP

[2015-11-13 21:57] yujuhong opened #17253 "Mirror pod status won't be updated after recreation"
If a mirror pod gets deleted for some reason, the status won't ever be updated since the pod status appears the same.

We used to solve this issue by deleting the pod status. This is undesirable because many internal kubelet components relying on the pod status for various operations. I think we can add a function to forcibly increment the version of the status when creating a new mirror pod.

/cc

[2015-11-13 22:00] vishh commented on #13562
Previous logs are best-effort. So if the node only has a 10GB disk, we
should go ahead and delete previous container instances.

On Fri, Nov 13, 2015 at 1:56 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-11-13 22:01] vishh commented on #13562
In general, I agree with the overall idea of being aggressive about garbage
collecting dead containers.

On Fri, Nov 13, 2015 at 2:00 PM, Vishnu Kannan <vishnuk@google.com> wrote:

[2015-11-13 22:37] timstclair commented on #17253
I think the issue is that when the mirror pod is recreated, it won't get the current pod status set. Once the status changes, that should still increment the version and push the update to the new mirror pod.

I think the best way to fix this is to update the status managers version tracking map (`manager.apiStatusVersions`) to tie the versions to the mirror pod UID (since that is the piece that n

[2015-11-13 22:59] bgrant0607 commented on #17151
See also #17190

cc @davidopp

[2015-11-13 22:59] bgrant0607 commented on #17190
See also #17097

cc @derekwaynecarr @smarterclayton

[2015-11-13 23:12] bgrant0607 commented on #17097
Another example: automatically select a scheduler: #17197

[2015-11-13 23:21] yujuhong opened #17256 "Flaky Service test in per-PR jenkins"
Many recent per-PR builds failed with
Kubernetes e2e suite.Services should be able to change the type and nodeport settings of a service

[code]

E.g., all the yellow builds between kubernetes-pull-build-test-e2e-gce16325 to 16335
Note that the timeout is really high (20 minutes), so the failed tests slows down the processing of jenkins queue.

[2015-11-13 23:25] yujuhong opened #17257 "Per-PR jenkins hits STATIC_ADDRESSES quota"
The per-PR jenkins is hitting the resource quota quite frequently:

[code]

[2015-11-13 23:33] bgrant0607-nocc commented on #17112
Closing in favor of the ongoing discussion in #7893

[2015-11-13 23:33] #17112 closed

[2015-11-13 23:33] bgrant0607-nocc commented on #17117
cc @mikedanese

[2015-11-13 23:37] WeixuZhuang opened #17258 "Abstract ExtractParams in kubectl/run for generators to share common parameter parsing"
kubectl/run.go has a TODO in line 292, 133 which wants to
'abstract this logic so that multiple generators can handle env in the same way. Same for parse envs.'

This changeset creates a common ExtractParams which shares the common parameter parsing logic for env and args.

It ensures none of the unit tests or system tests would be broken by this change.

[2015-11-13 23:38] WeixuZhuang commented on #17258
Can this code piece be assigned to me. I have the patchset prepared. Thanks.

[2015-11-13 23:40] bgrant0607-nocc commented on #17154
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-11-13 23:40] #17154 closed

[2015-11-13 23:42] bgrant0607-nocc commented on #17155
Needs to be quoted in the comment:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L779
Or we need to add an auto-munger for this.
cc @pmorie

[2015-11-13 23:43] bgrant0607-nocc commented on #17160
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-11-13 23:43] #17160 closed

[2015-11-13 23:52] bgrant0607 commented on #17165
--validate is on by default in kubectl now, and should catch this, though error messages could be better.

Server-side validation is covered by #5889, but it's tricky due to version-skewed scenarios.

Closing as dupe of #5889.

[2015-11-13 23:52] #17165 closed

[2015-11-13 23:55] bgrant0607-nocc commented on #17174
I think you can use HostnameOverride to overcome this behavior:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L100

Reverse lookup might be useful in some environments.

[2015-11-13 23:58] emaildanwilson commented on #11543
Does anyone know what it's using the generate the hostname when the kubelet first tries to register? i've changed the override to be a name that I confirmed works w/ "aws ec2 describe-instances --filter Name=private-dns-name,Values=myhostname" and I also set the hostname of the server to the same thing but kubelet still is complaining that it "failed to get external ID from cloud provider: instanc

[2015-11-14 00:07] ihmccreery opened #17263 "Build sustainable, reasonable upgrade and version-skewed test infrastructure"
#14778 got us through the v1.1 release, but it didn't go very smoothly and should be better for v1.2.

[2015-11-14 00:07] ihmccreery commented on #14778
We've gotten v1.1.1 out, so I'm going to close this tracking bug, (the more specific bugs remain open,) in favor of #17263.

[2015-11-14 00:07] #14778 closed

[2015-11-14 00:15] tmandry commented on #8841
@resouer I guess I expected it to be always for any tag.

As a new user, I didn't know there was such a thing as an image pull policy. I was using versioned tags along with `rolling-update` and it wasn't working, and I didn't know why. None of the docs I was using seemed to mention it, so maybe that's the problem.

[2015-11-14 00:26] emaildanwilson commented on #11543
eh... I found it after digging further. now it's overridden by the ec2 metadata (curl http://169.254.169.254/latest/meta-data/hostname) so I can't manipulate it anymore.... bummer. We really need this private-dns-name lookup to go away.

[2015-11-14 00:34] bgrant0607 commented on #2211
Related: #15390

[2015-11-14 00:35] bgrant0607 commented on #15390
Related: #2211

[2015-11-14 00:36] bgrant0607 commented on #2211
Note that labels are scoped by namespace.

[2015-11-14 00:41] dchen1107 opened #17266 "Kubernetes components --version flag requires a argument to printout the version information since 1.1 release"
@dyema reported that:

Kubelet has a weird way of handling --version flag in v1.1: it requires a boolean value to be specified at commandline.
[code]
The older version handles it more sanely:
[code]
Then I verified it with our master components, and all of them have the same regression:
[code]

[2015-11-14 00:41] dchen1107 commented on #17266
cc/ @andyzheng0831

[2015-11-14 00:44] saad-ali commented on #17257
Lots of recent PRs have run into this, examples:
* kubernetes-pull-build-test-e2e-gce/16373
* kubernetes-pull-build-test-e2e-gce/16372
* kubernetes-pull-build-test-e2e-gce/16370
* kubernetes-pull-build-test-e2e-gce/16368
* kubernetes-pull-build-test-e2e-gce/16367
* kubernetes-pull-build-test-e2e-gce/16366
* kubernetes-pull-build-test-e2e-gce/16365
* kubernetes-pull-build-test-e2e-gce/16364
* kuber

[2015-11-14 01:22] saad-ali commented on #17257
I ran `cluster/gce/delete-stranded-load-balancers.sh` against `kubernetes-jenkins-pull`.

It deleted stranded resources and freed up some quota.

The "kubernetes-jenkins-pull" project quota limits before:
* Firewall rules: 100 (97% used)
* Forwarding rules: 30 (100% used)
* Static IP addresses us-central1: 25 (100% used)
* Target pools: 50 (100% used)

The "kubernetes-jenkins-pull" project quota l

[2015-11-14 01:23] derekwaynecarr commented on #17130
We have an index informer so it's a simple fix to update the controllers in
question.

When doing updates for quota controller here I just noticed these were
doing O(N) lookups that were unnecessary when an O(1) is possible.  With
20k projects/namespaces in an OpenShift deployment it would be a problem if
all controllers followed the same pattern.

https://github.com/kubernetes/kubernetes/pull/171

[2015-11-14 01:24] bgrant0607 commented on #17244
Borg uses exit code 42. It's pretty confusing to silently do this. At minimum, I'd want the user to be able to specify what exit code to use.

Another option would be to use the termination message.

[2015-11-14 01:24] bgrant0607 commented on #17244
Or to create a new "upward API" path just for this purpose.

[2015-11-14 01:26] bgrant0607 commented on #17244
Kubelet would need to not restart OnFailure containers that used whatever mechanism was chosen.

[2015-11-14 01:38] bgrant0607 commented on #17242
Note: If we eventually add a way to keep the Job inactive (e.g., initializers #3585), then the clock should only start once the Job becomes active.

[2015-11-14 01:44] jeremyeder commented on #17035
The way we are testing HFT workloads now is to key off the PCI ID of the exchange-facing network card/FPGA:

[code]

So we know that this adapter is local to node 1.  That means I'd want to schedule my "performance sensitive pod", aka PSP on node 1.  Equivalent to:

[code]

In terms of what kernel features need to be surfaced in Kube so that we can encode them in the pod manifest, minimally we'd n

[2015-11-14 01:45] bgrant0607 commented on #17098
One axis is QoS: BestEffort vs. Burstable/Guaranteed.

Another axis is terminating (restart Never/OnFailure) vs. not (restart Always).

We could potentially ignore the second axis by making it possible to express creation rates by QoS class. The indefinitely running pods will consume negligible creation rate quota except in pathological situations, which we should mitigate by making controllers sm

[2015-11-14 01:49] jeremyeder commented on #17035
@davidopp Field feedback thus far seems to indicate heavily couple with complex sets of nodeSelectors.  Actually here is a question for you all:

If I set schedulable=false on nodeX, and I create a pod with a nodeSelector that only matches nodeX, then I don't think the pod would ever be scheduled -- so perhaps we need a 3rd option for the scheduler:  schedulable=false|true|selected where selected

[2015-11-14 02:17] #17116 closed

[2015-11-14 02:28] dalanlan opened #17271 "[v1.1.1] kube-up could fail potentially on ubuntu"
It's a known issue 'cause by #17109, and fixed from HEAD by #17110.
`controller manager` fails to start in all of my own experiments.
Since v1.1.1 has been officially cut, we should clarify this, at least in the document.

This could apply to other platforms, in which cases `controller manager` and `api-server` are raised w/o  order.

[2015-11-14 04:04] resouer commented on #8841
@tmandry you can set `imagePullPolicy: Always` in your container spec. Not related to this issue, I think.

[2015-11-14 04:28] thockin commented on #17155
of curiosity I tried quoting it in the comments, but it still did not regenerate with the $ characters.

The `types_swagger_doc_generated.go` is already correct (has all the $ characters) - it's the conversion to HTML that is dropping them, and it is only $$ that are affected.

@caesarxuchao

[2015-11-14 04:32] thockin commented on #17097
I'm skeptical that a declarative object is going to provide enough
expressiveness to cover all these use cases.  It sounds more like code
snippets run at some early point in the lifecycle.

On Fri, Nov 13, 2015 at 3:13 PM, Brian Grant <notifications@github.com>
wrote:

[2015-11-14 04:37] pmorie commented on #17095
@liggitt

Put that way it seems like a no-brainer that API breakage is the lesser of two evils to me.

[2015-11-14 04:43] pmorie commented on #17244
@bgrant0607

Did you have any ideas about what upward API would like?  Termination message seems like a natural channel to me, as well as exit code.  Termination message is probably more flexible and can carry any number of signals.

Thinking a little bit more about termination message, what if the termination message could contain a json/yaml object like so:

[code]

[2015-11-14 04:53] thockin commented on #17095
This is the biggest piece of brain damage I have ever EVER heard.

We can do tricks with marchal/unmarshal ourselves (i.e. JSON looks like an
int to humans, but managed as string) but we can't mandate client libs to
do that across languages.

We can start accepting IntOrString for all ints > 32 bits, and deprecate
the int representation.  But this means sometimes users say "0" and
sometimes 0.  Pu

[2015-11-14 04:56] pmorie commented on #16741
@erictune This touches the problem you and I were discussing at Kubecon of containerizing the mount helpers / fuse daemon / fs daemons so that we can have a 100% airgapped installation option.
Ideally, what you would be able to do is map plugin types to pod templates, and have the kubelet run a run-once pod with a container(s) with all the necessary bits to do the mount.

cc @kubernetes/rh-storage

[2015-11-14 05:06] thockin commented on #17226
Is this something users want to see or something that admins would set on
the PV but users would never experience?  If it is workload-specific, it
can't be just PV, but that means it becomes part of Claim, which nullifies
the decoupling we're trying so hard to keep.

On Fri, Nov 13, 2015 at 10:56 AM, Huamin Chen <notifications@github.com>
wrote:

[2015-11-14 05:23] thockin commented on #17162
I feel like we should move on from glog soon.  I've been looking at
https://godoc.org/gopkg.in/inconshreveable/log15.v2#pkg-index and I like
what I see.

On Thu, Nov 12, 2015 at 6:46 AM, Dmitry Smirnov <notifications@github.com>
wrote:

[2015-11-14 06:03] brendandburns commented on #16055
I will propose a cherry pick of this into 1.1.2 so that we can get a working version from the 1.1.x series.

[2015-11-14 07:56] lordkada opened #17275 "Cassandra example on AWS doesn't create a Cassandra cluster"
I'm running a simple cluster (k8s 1.1.1) on aws and trying to follow the instructions provided in the Cassandra examples section (https://github.com/kubernetes/kubernetes/tree/release-1.1/examples/cassandra).

When I try to scale the Cassandra nodes:

the new pod is created as expected:

[code]

**but** if I run:

I can see only one node (of course this is specular, so the same happens if I try qu

[2015-11-14 10:49] opyate commented on #17211
Re-opened. I thought I found a work-around by pointing to another COPR, but presumably the original was baked specifically for this demo.

[2015-11-14 13:49] mattf commented on #17231
[code]
(3) is an install of [bzr git mercurial openssh-client subversion] in the base java image, which seems wasteful to me. you'll have to switch base images to get rid of this.
(2) is your install of [curl net-tools build-essential git wget unzip python python-setuptools python-dev python-numpy libfontconfig]. i expect curl is at least redundant, as is git if your using the java image. you shou

[2015-11-14 14:22] zmerlynn commented on #17027
Current bikeshed colors: create a single repo within the https://github.com/kubernetes org named `applications` and start there.

@jackgr, I know from https://github.com/kubernetes/deployment-manager/issues/47 that you're talking about splitting off the type registry. I'm concerned about lack of atomic commit between the DM type registry and something I try to create here. I think they should prob

[2015-11-14 15:32] markturansky commented on #17226
either part of Claim or on the persistent-volume plugin?  The latter is where we can set ReadOnly on the actual mount we're attempting, not on the claim.  Perhaps more runtime params on the pv plugin (e.g, use this secret or config for this mount, but not necessarily the next one with the same PV).

[2015-11-14 15:36] timothysc commented on #17027
I'd like @smarterclayton opinion here.  The impacts are pretty broad and will shape commercial interest, adoption, and participation.

[2015-11-14 15:41] zmerlynn commented on #17027
BTW, I'm happy to discuss it at the next community meeting with a slot. I think the next agenda is set but we could maybe devote a chunk. @sarahnovotny? Otherwise it might be past Thanksgiving.

[2015-11-14 16:50] shaylevi2 commented on #13494
How can that be acceptable? A complete showstopper.

[2015-11-14 16:56] shaylevi2 commented on #3760
If you just joined, allow me to sum it up. All issues regarding inability to get the client ip were merged into this issue, however the solution proposed (and implemented) does not solve it. You currently have to way to access client's ip. Ha.

[2015-11-14 17:47] donghwicha opened #17280 "kube-foundry (kubernetes + cloud foundry)?"
I've been recently testing a fork of Cloud foundry, Stackato  but.. it is really similar to Kubernetes.

Is there any movement to integrate kubernetes to cloud foundry?
like a fork of cloud foundry which is based on kubernetes and all of the components is rewritten with go.

It would be great if cloud foundry can get advantages from Kubernetes for cluster management.

Anybody thinking about this?

[2015-11-14 19:30] pmorie commented on #17223
@smarterclayton The one way it could change, I suppose, is if you let the container runtime allocate an MCS label -- you might get a different label across restarts.

[2015-11-14 19:55] pmorie opened #17281 "Ownership management of volumes should be idempotent"
Currently the ownership management facility for volumes is not idempotent.  This presents problems for users that need specific permissions that are outside those we give to files in managed volumes.  This is actually a gap that we should work into the design document for ownership management.  The rules should be formalized as:

1.  Unless otherwise noted on a plugin-by-plugin basis, ownership ma

[2015-11-14 19:57] pmorie commented on #17120
@jeffvance Yeah, that block should either be killed or made meaningful in the context of the example.  I'm guessing it exists to present an example of writing logic around the event type.

[2015-11-14 20:03] jayunit100 commented on #17120
I think Jeff is tied up with other stuff Paul.

If you want to take this over then go for it I can help review ... Sounds ok Jeff?

[2015-11-14 20:04] jayunit100 commented on #17120
And yeah definitely make that block useful or delete

[2015-11-14 20:41] pmorie opened #17282 "k8s-bot generates invalid links"
Looks like the test results are available from Jenkins in `console-log.txt`, not `build-log.txt`

[2015-11-14 20:42] pmorie commented on #17282
@kubernetes/goog-testing

[2015-11-14 22:20] sdminonne commented on #14186
@soltysh sorry I was flying back home. Answering in https://github.com/kubernetes/kubernetes/issues/17242

[2015-11-14 22:20] sdminonne commented on #17242
@soltysh no problem :) enjoy

[2015-11-14 22:44] smarterclayton commented on #17223
What if the container process itself changes uids?  Or labels?

On Nov 14, 2015, at 2:31 PM, Paul Morie <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> The one way it could
change, I suppose, is if you let the container runtime allocate an MCS
label -- you might get a different label across restarts.

—
Reply to this email directly or view it on GitHub
<https

[2015-11-14 22:45] ScOut3R opened #17284 "Lost container's IP isn't removed from Service's Endpoints"
Hey,

I noticed that if a container, which is an endpoint for a service, gets lost (I kill the machine running it) its IP isn't removed from the service's endpoints. At least not under a reasonable timeframe. I have waited probably 60 minutes.
I was wondering is this intentional? Or am I missing some configuration option?

Kind regards,
Mate

[2015-11-14 22:55] smarterclayton commented on #17097
For small namespaces (app specific), just the defaulting is probably
enough.  For larger namespaces, I agree.

However, it's not clear how much customization you need.  If you had a
label based approach to limitranger selection you can do a number of things
during namespace setup that could just work when you deploy stuff.  I think
we should map out what more complex scenarios could look like here

[2015-11-14 23:06] romanek-adam opened #17285 "[1.1.1] heapster RC creation failure due to missing NUM_MINIONS variable in minion user data"
Hi, I just started playing with kubernetes v1.1.1 on AWS using the following config:

[code]

Unfortunately the very first thing I encountered was that cluster monitoring addon was broken. Apparently the heapster RC was missing. I found out that the [RC spec for heapster](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/influxdb/heapster-controller.yaml#L2) re

[2015-11-14 23:08] spinus commented on #16779
@liggitt , @mikedanese do you guys have any clue how to set ABAC up on GCP with kubernetes 1.1.1?

[2015-11-14 23:10] mikedanese commented on #16779
GKE does not support ABAC yet. However it is possible to setup ABAC with GCE clusters.

[2015-11-14 23:13] spinus commented on #16779
wow, that was fast :-) thank you for the answer.
By saying ABAC with GCE clusters do you mean setting up own kubernetes installation, right?
Do you know any way of restricting API access from pods to API server on GKE? The current default policy seems a little bit dangerous, not?

[2015-11-14 23:35] MichielDeMey commented on #4710
+1 What @leonfs said. Docker supports loading environmental variables through an `env` file which should be extremely useful for storing sensitive data.

Would it be possible to expose that functionality to Kubernetes also?

[2015-11-14 23:49] pmorie commented on #17223
My bad, I've had tunnel vision on selinux.

On Saturday, November 14, 2015, Clayton Coleman <notifications@github.com>
wrote:

[2015-11-14 23:55] zmerlynn commented on #17231
I can trim it down some by cutting out the build machinery (and I'll put up a PR shortly), but here's what the `.tgz` looks like:

[code]

And expanded:
[code]

(Instead of just deleting, it's actually easy to build, copy out, compose, too.)

[2015-11-15 00:50] deads2k commented on #16543
Sorry, I'm still struggling with how there is sufficient information to do this properly.  Can you walk me through this example?

[code]

 1. call apply with `FooV1.aAndB="alfa/bravo"`
 1. call apply with `FooV2.b="charlie"` and `FooV2.c="delta"`

Now, intent-wise, this should produce a conflict because `charlie` will collide with `bravo` in the internal copy, but I don't see any way to properly d

[2015-11-15 01:14] liggitt commented on #16543
If I'm following correctly, @jackgr is proposing considering FooV2 as a conflict because of the version difference, without even looking at the fields. Not sure how good an experience it is, but it would sidestep all the conversion/defaulting issues. It would basically mean resetting your apply base any time you bumped versions of the API you were working with, right?

[2015-11-15 01:30] liggitt commented on #16543
Nope, re-read:

In that particular case, I agree with @deads2k, I think you have to do a conversion of the annotation version, which means defaults and conversions get applied, and user-provided fields become ambiguous

[2015-11-15 02:02] paralin commented on #16989
What about just integrating this? https://github.com/couchbase/kubernetes

[2015-11-15 03:40] noralife opened #17289 "kubectl does not create new rcs, pods and services with Vagrant user"
I am running Kubernetes on VirtualBox.
In release 1.1.1, vagrant user cannot execute `kubectl create` command because of a permission problem.

Here is the execution log.

[code]

The file permission after installing Kubernetes 1.1.1 using `./cluster/kube-up.sh` is like

[code]

So current workaround is here but needs to be fixed in the future release.
[code]

[2015-11-15 03:47] arun-gupta commented on #16989
@paralin It has too much details and require extensive setup. I'm discussing this with @tleyden on how to simplify this and will send a PR.

[2015-11-15 06:23] mahehss opened #17290 "Not able to pull images from private registry"
When I try connecting to docker private registry(trail version install in one of my AWS servers) from a docker host I get the following error:

FATA[0000] Error response from daemon: v1 ping attempt failed with error: Get https://docker-registry.xyz.com/v1/_ping: x509: certificate signed by unknown authority. If this private registry supports only HTTP or HTTPS with an unknown CA certificate, plea

[2015-11-15 06:27] mahehss opened #17291 "kubeapi-server stop working when upgraded docker to 1.9"
Kubeapi-server along with all the other images stopped working the moment I upgraded docker to 1.9 version. I need to do the upgrade as with 1.6 version I am unable to connect to private registry. Please let me know if I am doing something wrong and whether there are specific instruction for installing/upgrading docker on master.

API version information
kubectl api-versions
Available Server Api V

[2015-11-15 08:36] resouer opened #17293 "[Proposal] Simply populate env from files in Pod"
Copied from https://github.com/kubernetes/kubernetes/issues/4710#issuecomment-156758189
There's many requests in that thread asking for  publishing Pod env from [update] volume [/update] file/path

**Note**: this proposal does not mean to fix #4710 , 4710 is more complex.

If we do not want to make this non docker specific, we can simply add a pkg/util to load env from file, instead of using `dock

[2015-11-15 08:54] davidopp commented on #17151
I'm never one to discourage expediency, but just be aware that
(1) we are planning to replace the current k/v-map based node selector with a more generic one at some point in the medium-term future, and move all current users of the map-based node selector over to it  (https://github.com/kubernetes/kubernetes/issues/341#issuecomment-154663349 ). This is similar to what we are already doing with Po

[2015-11-15 09:15] davidopp commented on #17098
Isn't the first thing implied by the second thing (namely, whenever the second thing is > 0) ?

On the more general question... My understanding is that
(1) we want to control rate to prevent people from abusing the cluster manager
(2) we want to control footprint to fairly share the nodes
(3) we want to control total number of best-effort pods simultaneously active because they have zero footprin

[2015-11-15 11:31] sttts commented on #17256
Found some more PRs blocked by this: #16034 #16256

[2015-11-15 14:03] Galexrt commented on #16988
I forgot to activate link sharing for the file. It is available now.

[2015-11-15 14:21] sttts commented on #17256
Something infrastructure related it seems. Even old PRs fail (which were green before).

[2015-11-15 15:09] jackgr commented on #16543
First, I assume the reason you mention `Foo` is that we start there. Without it, we have no baseline against which to compare. However, you didn't mention the values provided for `Foo` to start the scenario, I'm assuming that the user calls `kubectl create`, passing values for all of the properties of `Foo`. The annotation is attached and contains what the user passed. The current state of the obj

[2015-11-15 15:34] jackgr commented on #17027
@zmerlynn yes we're thinking about splitting the type registry from the main DM repo, which currently holds both the type registry and the code base. Our thinking is that the type registry doesn't need to live with the code and vice versa. Are you suggesting that we keep them together?

[2015-11-15 19:08] olalonde commented on #12614
FWIW, this works with vbox 5 https://coreos.com/kubernetes/docs/latest/kubernetes-on-vagrant-single.html

[2015-11-15 20:01] apatil opened #17295 "DaemonSets not available in api extensions/v1beta1 in Kubernetes v1.1.1"
Hi everyone, I'm running kube-apiserver v1.1.1, with argument `--runtime-config=extensions/v1beta1`. It looks like daemonsets should be API objects in extensions/v1beta1: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/v1beta1/types.go . However, the API server doesn't report them:

[code]

Also, I have some code written against the unversioned client that works with daemo

[2015-11-15 20:54] jackgr commented on #16543
Also, in the last scenario, note that if the user had provided a value for `a`, which does exist, rather than a value for `c`, which doesn't exist, then there would have been no error from the api server. In that case, here's what the user would provide:

[code]

The patch would look like this:

[code]

After application of the patch, the current state would look like this:

[code]

[2015-11-15 21:19] dlsniper opened #17296 "Using TensorFlow with Kubernetes to optimize container/pods/nodes requirements/usage"
Hi,

After hearing the talks about "Kubernetes and Containers: Changing the way we build applications" by @tekgrrl and "Your Data and the World Beyond MapReduce" from @kazunori279 one question that I've had but couldn't really follow up with is:

Could Kubernetes use TensorFlow to determine if either containers or pods resources can be optimized for different periods of times (during a day or for

[2015-11-15 21:34] paralin opened #17297 "DaemonSet should not/currently cannot schedule pods on SchedulingDisabled nodes"
Similar to #16105

In the GCloud deploy script the master appears as a SchedulingDisabled node. DaemonSet is attempting to schedule on this node, and spews out a ton of errors in the event log like so:

[code]

This looks like a fairly critical bug to me.

[2015-11-15 21:35] paralin commented on #17297
cc @mikedanese @erictune @davidopp @bgrant0607

[2015-11-15 21:48] mikedanese commented on #17297
yup, makes sense. See https://github.com/kubernetes/kubernetes/pull/14054#issuecomment-144229094. @davidopp this has to do with the node configuration matrix we discussed last meeting.

[2015-11-15 21:52] paralin commented on #17297
Looks like a very good but complex solution to the problem. Maybe until that's ironed out we could prevent scheduling on SchedulingDisabled pods within DaemonSet as a temporary fix?

[2015-11-15 22:07] mikedanese commented on #17297
I see two ways we can quickly fix this:

1. Don't place DaemonSet pods on scheduling disabled nodes. What are the behavioral compatibility implications with this approach?
2. Give master container bridge a larger cidr ([here](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/configure-vm.sh#L579)) which fixes the ipallocation problem, but the master configuration is still unsuitable

[2015-11-15 22:27] caesarxuchao commented on #17155
Thank you @orfjackal for catching this. It turns out `$$` has special meaning in asciidoc (search `Double dollar enclosure asciidoc`). Because we convert our swagger spec to asciidoc and then to html, the `$$` is lost when converted to html. I'm sending patches.

[2015-11-15 22:33] paralin commented on #17297
I vote #1 for compat with existing clusters.

[2015-11-15 23:06] dlsniper commented on #17296
I could also see benefits to having a smart "learning" mechanism in place that could also understand from previous executions of similar containers / pods / etc. better scheduling being done in order to improve the resource usage across nodes / lower the number of nodes needed.  Or even to take price vs execution time vs other factors into account when scheduling tasks.

All of of these of course

[2015-11-15 23:42] jayunit100 opened #17301 "remove podmaster, vagrant-podmaster examples/"
depends on  #16830 being merged and completed...

Podmaster was a good start on how to do introspective HA, but looks like now  @mikedanese is working on an temporary Leader elector #16830 , that is native to kube daemons, and based  service endpoints + annotations, we will no longer need podmaster stuff.

cc @brendandburns @mikedanese

Once 16830 is in, we can thus remove brendan's podmaster (i t

[2015-11-15 23:55] davidopp commented on #17035
Correct.

Can you explain the use case or this? Are you looking for something like dedicated machines (#17190) ?

[2015-11-16 00:04] davidopp commented on #12744
[Comment below is NOT a suggestion for something to implement as part of this issue. But it seemed better to put it here than to create a new issue.]

Related to this, we should also standardize the selection criteria that are applied before a node is even considered by the predicate functions (for example, avoiding nodes with NodeReady==ConditionFalse and nodes marked unschedulable). This doesn't

[2015-11-16 00:13] davidopp commented on #17297
I didn't look at the Kubelet code, but why is it giving that error message? SchedulingDisabled isn't something the Kubelet even knows about, IIRC.

BTW what pod is DaemonSet trying to schedule onto the master? I thought we weren't using DaemonSet for anything yet.

[2015-11-16 00:34] paralin commented on #17297
It's nothing internal, just the newrelic example I contributed a week ago that uses daemonsets.

[2015-11-16 01:35] mikedanese commented on #17297
@davidopp It's giving an error because we only allocate a /30 cidr (4 ips) on the master's container bridge. We could allocate more IPs and the problem error would go away.

[2015-11-16 02:21] dalanlan commented on #17271
Or we could change the workflow of deployment to fit v.1.1.1 in (sounds odd to me though).
WDYT?
/cc @resouer  @WIZARD-CXY

[2015-11-16 02:30] WIZARD-CXY commented on #17271
odd to me,too

[2015-11-16 03:11] kevinliuzhong commented on #17295
I met the same problem. @thockin

[2015-11-16 03:15] resouer commented on #17271
Here's my thoughts:
1. Change the issue of this title, if it affects all providers.
2. Ask a owner to cherry pick #17110
3. Clarify this issue in the doc is enough

[2015-11-16 03:20] dalanlan commented on #17271
It could use extra work to figure out, 'cause it only affects those providers that do not take upstart order of `api-server` and `controller manager` into consideration.

It's not that useful since v1.1.1 is officially released as i pointed out before. This one would suffer anyway.

[2015-11-16 03:56] nikhiljindal commented on #17295
As per https://github.com/kubernetes/kubernetes/blob/master/docs/admin/daemons.md#caveats, you need to set ```--runtime-config=extensions/v1beta1/daemonsets=true``` to enable daemonsets.

[2015-11-16 04:57] smarterclayton commented on #17098
4) we want to prevent certain pathological starvation issues regarding
run-always pods when users operate under limits, but not have to over
allocate quota to stay safe.
5) allow very small limits to be sanely specified - I.e. run 1 run-always
and no more than 10 minutes of run once pods per hour.
6) we want to limit some users below "fair share of the cluster" by default

It's too easy under the

[2015-11-16 05:01] smarterclayton commented on #17151
It's not an API change.  It's just an admission controller that looks at
the namespace annotation that applies a defaulting behavior.  As an
admission controller it can be optional, solves real use cases in
production (today), and can be controlled by admins othogonally to future
changes.

There's not much more detail needed besides the description above, but I'll
rephrase the description.

On Nov

[2015-11-16 05:29] davidopp commented on #17098
run-once pods and jobs that *must* run.

I assume you mean request, not limit. Isn't the disincentive to not setting an accurate request that you might get starved?

I wonder if some of your scenarios for run-once are better solved by a billing system that charges for usage, rather than an admission control system.

[2015-11-16 05:31] resouer commented on #13203
This can be closed, since #13384 is in @JorritSalverda

[2015-11-16 05:32] davidopp commented on #17151
the namespace annotation that applies a defaulting behavior.  As an
admission controller it can be optional, solves real use cases in
production (today), and can be controlled by admins othogonally to future
changes.

That's clear enough; thanks.

[2015-11-16 06:10] resouer commented on #17205
I will test this in docker cluster, to see if it is ubuntu specific (not likely, to be honest)

[2015-11-16 06:49] ltagliamonte commented on #17215
Any updates on this?

[2015-11-16 06:57] davidopp commented on #17297
Oh right, that's what you were talking about with (2).

As you allude to, we just need something that's "good enough" until we implement the more flexible policies you mentioned ( https://github.com/kubernetes/kubernetes/issues/17297#issuecomment-156857375 ). On the assumption that we'll implement those policies before we have a burning need to run daemons on the master node, I think (1) is OK.

[2015-11-16 07:16] justinsb opened #17309 "Salt fails to install packages when it loses the race"
At least on AWS with 1.0:

Sometimes on boot salt will fail to install a package, because someone else holds the package system lock.

[code]

[2015-11-16 07:17] justinsb commented on #17309
When this happens, the node stays in NotReady for much longer than it should (until a salt retry?).  `salt-call -l debug state.highstate` normally fixes it

[2015-11-16 08:32] zhengguoyong opened #17312 "GCE e2e fail"
Now PR run GCE e2e, it will fail and no test result,
is it the k8s-bot problem?
please see #17311
thanks.

[2015-11-16 08:52] zhengguoyong commented on #17282
i think #17312 say the same thing.
:)

[2015-11-16 08:58] wojtek-t commented on #17312
The issue is that we are leaking resources somewhere in our tests, and thus after some time we are exceeding the quota so that no new tests can be run.

@piosz @kubernetes/goog-testing

[2015-11-16 09:09] piosz commented on #17312
cc @saad-ali @brendandburns @ixdy @mikedanese

[2015-11-16 09:28] wojtek-t commented on #10475
This is enabled for all resources (except from events). So I'm closing this bug now.

[2015-11-16 09:28] #10475 closed

[2015-11-16 09:29] jsafrane commented on #16741
* CinderVolumeSource works only on OpenStack (similar to GCE PD and AWS EBS)

* iSCSI and RBD are not rally shared by default. It is possible to attach one iSCSI / Ceph RBD block device simultaneously to several hosts, but it would have catastrophic consequences if it is not  formatted with a filesystem that can be shared among many mounts (e.g. GFS2).

* Right now,  **all**  volume plugins need s

[2015-11-16 09:47] kevin-wangzefeng commented on #17190
Very attractive feature. Our customers have some similar requirements:

1. Multi-AZ nodes in one k8s cluster.  (also found in some previous discussion #4235 #13056 #13063)
    - User can choose which one or more AZ(s) to run Pods in.
    - Pods belongs to one RC will be spread across zones as a preference
    - Pods (belongs to different services) that talks to each other, will be running in the s

[2015-11-16 10:15] davidopp commented on #17190
Hi Kevin. I would suggest that you add the requirements you listed to #17059 and get feedback there. I think #17059  is more relevant than this one. I have copied your comments over there, and written a reply.

[2015-11-16 10:15] davidopp commented on #17059
@kevin-wangzefeng says:

Very attractive feature. Our customers have some similar requirements:

1. Multi-AZ nodes in one k8s cluster.  (also found in some previous discussion #4235 #13056 #13063)
    - User can choose which one or more AZ(s) to run Pods in.
    - Pods belongs to one RC will be spread across zones as a preference
    - Pods (belongs to different services) that talks to each other,

[2015-11-16 10:16] resouer commented on #17205
@dalanlan I test it in etcd 2.2.1 with docker cluster, it works well

[2015-11-16 10:26] piosz commented on #17312
I removed all unused resources and Jenkins is working now. I'll re-run e2e for all LGTMed PRs. Though this is a temporary solution and we should find the source of leaks.

[2015-11-16 10:31] soltysh opened #17313 "kubectl scale's replicas parameter should be renamed to something more generic"
If I want to scale an object (currently supported are only rc and job) I'm calling:
[code]
The parameter `--replicas=3` is perfectly fine for RC which use replicas to define their size, but for Jobs, not necessarily, since Jobs have parallelism. More resources might come in the future. Thus, I propose renaming this parameter to be more generic. Maybe size?
The same applies to current-replicas flag

[2015-11-16 10:34] #16113 closed

[2015-11-16 10:44] jiangyaoguo opened #17314 ""describe pod" miss kube-proxy events"
Both kube-proxy and kubelet have "--hostname-override" parameter. Now most kubelet  setup scripts override hostname by this parameter. Kube-proxy should keep consistent with kubelet. Or When describing node, events of kube-proxy will be losted because of different hostname.

[2015-11-16 10:44] kargakis commented on #17313
I'm fine with --replicas as long as it's well documented what happens when used against a job.

[2015-11-16 10:45] jiangyaoguo commented on #17314
@zmerlynn

[2015-11-16 10:51] mrosic commented on #17209
Anyone got an idea how I could work around this so I can use "kubectl describe" again?

[2015-11-16 11:14] bcwaldon commented on #11975
CoreOS is now maintaining official "Kubernetes on CoreOS" documentation. See the AWS guide here: https://coreos.com/kubernetes/docs/latest/kubernetes-on-aws.html

[2015-11-16 11:33] fgrzadkowski commented on #16685
Reassigning to @piosz who wrote those tests (or at least understands them :) )

[2015-11-16 11:35] piosz commented on #16685
Each single test in the suite has stability 100% so closing the issue.

[2015-11-16 11:35] #16685 closed

[2015-11-16 11:43] jeremyeder commented on #17035
Yes, thanks.  I think the 3 bullets in the first comment of 17190 would indeed satisfy what we're looking for.  So I will just comment there about that and leave this issue to the tuning options for performance sensitive pods.

As was already noted, the title of this issue is just one use-case amongst many that are very similar.  I hope it can eventually be updated to reflect this.

[2015-11-16 12:43] jiangyaoguo commented on #4432
@bgrant0607 #14823 has made a a separate etcd instance to store events. And events in etcd have a  1 hour TTL, and can be collected and pushed to other persistent store by heapster. I don't  know the performance of etcd when we actually only create/read/update events. Why don't we save events to InfluxDB directly? I like the idea of @saad-ali new "events server" . Does this means a separate apiser

[2015-11-16 12:45] deads2k commented on #16543
Sorry there was confusion there.  `Foo` is the internal version so you can see what you're encoding/decoding to.  In our scheme's, version=`""` is the internal.  I think that will probably change the scenario you built.

`Foo` = internal, `FooV1` = first external version of `Foo`, `FooV2` = second external version of `Foo`.

[2015-11-16 12:53] deads2k commented on #16543
I had no idea that `apply` worked like that, stomping fields it didn't know about and that don't even exist in its version of the scheme.  I'm having trouble reasoning about what I think this command does and it accomplishes it in a predictable way.  I'll come back and try again after the rest of the morning's email.

At first blush, it seems like a very dangerous to command to use near version bo

[2015-11-16 13:05] roflmao commented on #11435
I just noticed this issue while deploying a cluster on GKE.
Put up es-controller and es-service from https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch
More info in #17160

Should i create a new issue on SO?

[2015-11-16 13:21] kargakis commented on #14062
I think this is correct.

[2015-11-16 13:28] alfred-huangjian commented on #17190
@davidopp
Give a addition explanation about the point 2 @kevin-wangzefeng mentioned above.

"Run one k8s cluster across multiple VLANs"

One of our users have such requirements base on their original IT infrastructure:
1. The nodes are divided into several groups. Each group may have about 30 nodes, And their network are located in a VLAN/subnet.
2. The Pods need to be associated with endpoint IP

[2015-11-16 13:33] #13203 closed

[2015-11-16 13:35] fgrzadkowski commented on #16965
@luxas secrets are working in k8s-in-docker setup. Service accounts are not. We are now working on a proposal how to simplify the whole procedure. It will also address things like certificates and service accounts.

[2015-11-16 13:56] alfred-huangjian commented on #17059
@davidopp @justinsb @kevin-wangzefeng
For(1),
It make sense for the first bullet and second bullet.
third bullet: we prefer to reduce the network communications between zones.
1st. Related applications can be deployed in the same several zones if possible. Just like Web application access the database.
2nd. Give the high priorities in kube-proxy routing iptables to visit the service in the same zo

[2015-11-16 14:53] gmarek commented on #16828
Sorry, I was on vacation.

My best guess is that it's caused by the timeout of a jenkins suite. When suite times out no 'after-each' is called and namespace that was used for tests are left dangling. This is not a problem for ordinary tests, as we recreate clusters either way, but it's a problem for soak ones. I think that the simplest solution for it is to add a plugin to Jenkins which allows run

[2015-11-16 15:38] enricomingardo commented on #17211
@opyate the original repo seems now running:
https://copr.fedoraproject.org/coprs/sgallagh/cockpit-preview/repo/fedora-21/sgallagh-cockpit-preview-fedora-21.repo

[2015-11-16 15:45] ncdc commented on #17226
For our particular immediate needs, this is so you can tune the settings for the NFS volume used to back our Docker registry replicas, as the default settings result in close to 100% push failures. I see this more as settings an admin would set on a volume for a specific use case such as this one, and not something you'd want end users to have to worry about with PVCs.

[2015-11-16 16:17] jackgr commented on #16543
Clearly, there's miscommunication hear about how apply works. Of course, it
does not delete things it doesn't know about. It only deletes things the
user has asked to delete. Likewise, it only writes properties that the user
has provided values for, and only overwrites when asked to do so with a
–-overwrite flag. It isn't dangerous in any way..

I think the problem here is that I misunderstood you

[2015-11-16 16:27] jeffvance commented on #17120
I may have time to work on this. I'll let you know today or tomorrow.

[2015-11-16 16:31] apatil commented on #17295
Confirmed that that worked. Thanks for the help!

[2015-11-16 16:31] #17295 closed

[2015-11-16 16:37] liggitt commented on #16543
API versions allow fields to be added or removed or change meaning. It looks like apply isn't regarding API versions when computing patches, right? Let's take a more realistic example:

Let's say in v1, we have a couple attributes in the schema:
[code]

In V2, we realize we want the user to request host/port using a different field, and we use the old field names to indicate the allocated host/por

[2015-11-16 16:44] peterbourgon commented on #17219
Additionally, when I create a k8s cluster with a declared VPC_ID, I can't create LoadBalancers (ELBs) with my services anymore:

[code]

[2015-11-16 17:10] luxas commented on #16965
@fgrzadkowski Oh sorry, I meant the combination of those, that `secrets` aren't created when a `ServiceAccount` is. I do know that secrets were fixed in your PR: #13791

However, I did solve it here: https://github.com/kubernetes/kubernetes/issues/16965#issuecomment-154740451
My PR is here: #17213
And maybe the discussion continues in this PR after the merge: #17262

[2015-11-16 17:41] jackgr commented on #16543
Thanks, @liggitt. That's a much clearer example. The patches and annotations shown are what apply would generate. Several thoughts in reply:

* When the patch in step 3 is applied, `host` will be deleted. IIUC, it will be set some time later, based on the value the user set in `requestedHost`. What will happen in this case?
*  When #17238 is implemented, `kubectl apply` will pass `false` for the `

[2015-11-16 17:48] #3760 closed

[2015-11-16 17:57] liggitt commented on #16543
It's a hypothetical example, so I'm not sure :) The main point was that `apply` has to be version-aware to correctly determine which fields are user-specified when working across versions.

How does `apply` know `host` was populated by a controller?

Again, hypothetical example, but host/port probably wouldn't be required if Foo could be created without them set and they got populated later by a c

[2015-11-16 18:13] caesarxuchao commented on #16173
The laundry lists is in #17216.

[2015-11-16 18:19] zmerlynn commented on #17027
@jackgr: I agree that the type registry doesn't need to live with the DM code. I'm saying that I think the type registry should live with the Kubernetes application resources (i.e. the things I'm trying to move out of the `examples/` directory).

[2015-11-16 18:20] jackgr commented on #16543
:0)

Because its value has changed between the annotated configuration and the live configuration in a way that differs from the user's input. Of course, this interpretation relies on user input maintaining the annotation, which we've been careful to do.

Yes, that's what I meant. It's worth considering as a simple solution. Not sure it's the best experience we can offer, however, per your comment

[2015-11-16 18:21] caesarxuchao commented on #17216
Sorry I was working on other things last Friday. I will work on refactoring the `latest` package today.

[2015-11-16 18:23] jlowdermilk commented on #17211
cc @derekwaynecarr

[2015-11-16 18:27] smarterclayton commented on #17226
Runtime params potentially have security options, so for the most part this has to be set by an admin.  You can't for instance allow someone to specify no_root_squash.

[2015-11-16 18:29] jlowdermilk commented on #17271
Actually a cherry pick would be useful, as we still do patch releases for bugfixes every ~2wks or so. Proposed in #17322.

[2015-11-16 18:32] jlowdermilk commented on #17275
cc @brendandburns @justinsb

[2015-11-16 18:34] vishh commented on #16988
Can you post the `png` plot of this data? Once you run `go tool pprof ...`
you can enter `web` to view the png output.

On Sun, Nov 15, 2015 at 6:03 AM, Alexander Trost <notifications@github.com>
wrote:

[2015-11-16 18:41] jlowdermilk commented on #17280
To my knowledge there is no effort to fork cloud foundry on top of kubernetes; I'm not sure what the underlying framework is for Stackato, so not sure how much sense that makes. In any case, this is a discussion for which the [slack channel](https://kubernetes.slack.com/messages/kubernetes-dev/) would be better suited.

[2015-11-16 18:41] #17280 closed

[2015-11-16 18:43] jlowdermilk commented on #17289
cc @derekwaynecarr

[2015-11-16 18:45] thockin opened #17324 "API design issue: "claims" and service classes"
With #17197 (multiple schedulers), I see the third instance (load-balancers and storage being the others) of an API pattern and I want to pin it down.

The pattern is that of a "claim" being filed (pod, ingress, pvclaim) that is to be satisfied by some semi-abstract "service class", which is implemented by a process or pod somewhere in the cluster.

For load-balancing this manifests as "what kind

[2015-11-16 18:46] #16514 closed

[2015-11-16 18:52] jlowdermilk commented on #17290
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-11-16 18:52] #17290 closed

[2015-11-16 18:53] jlowdermilk commented on #17291
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-11-16 18:53] #17291 closed

[2015-11-16 19:09] markturansky commented on #17324
Is there a reason the API server can't also have the same config (for storage, whatever) and use it to validate incoming requests?  If not, that removes one API Pro and one Abstract Con.

Also, can I assume file watchers can reload config data dynamically and not require an API to be so dynamic?

Any good admin will document their work and the cluster's configuration.  QoS classes should be easily

[2015-11-16 19:12] derekwaynecarr commented on #17289
@noralife - I assume that if you interact with the vagrant cluster from your host directly you have no problem?

[2015-11-16 19:13] bprashanth commented on #17324
There's a similar pattern for provisioning external resources in general (creating a DNS redcord, waiting for CA to sign a cert, acquiring a static IP etc).
* A users asks for X by creating a claim, waits till a controller has populated the status field, then references the claim to make use of X
* A user has X, self-populates the field and creates claim, proceeds to use it

Such claims cannot typ

[2015-11-16 19:15] vishh commented on #14762
Can you change the execution driver in docker to be `native`?

On Wed, Nov 11, 2015 at 11:37 PM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-11-16 19:19] bgrant0607 commented on #4710
Since access to the Docker daemon is equivalent to root on the machine, exposing secrets through Docker doesn't seem to increase risk significantly.

Another request:
http://stackoverflow.com/questions/33703012/kubernetes-secrets-files-to-environment-variables

Support for env files generally is #8800.

[2015-11-16 19:26] liggitt commented on #4710
I think the risks of env files as opposed to secret volumes were around things like logging of `docker inspect` output, and capturing of values in layers when building a docker image

[2015-11-16 19:31] nikhiljindal commented on #11435
I guess, you can try creating those controllers without `kubernetes.io/cluster-service: "true"` in the yaml definition and then they should be fine?

[2015-11-16 19:39] bprashanth commented on #16943
|  | median cpu | 95th% cpu | memory |
| --------- | ------- | ------ | ------- |
| kubelet | 0.18 | 0.64 | 55MB |
| docker | 0.01 | 0.62 | 70MB |
| kube-proxy | <0.001 | 0.03 | <5MB* |

Written as a semi-educated, casual user of Kubernetes: Isn't spiking to 65% of a core every 10s essentially as bad as using 65%, always? from a capacity planning perspective I still have to shave off 1/2 a core pe

[2015-11-16 19:54] bgrant0607 commented on #4710
This seems no worse than doing it through Docker directly, and it can be avoided by not exposing the secrets as environment variables.

I think we should support this, but document the risks. We can mitigate the risks over time with an improved mechanism.

[2015-11-16 20:04] erictune opened #17329 "Print how to reattach to a session when it times out."
After a `kubectl run` times out, you can usually reattach with something like  `kubectl attach -i --tty foo-a3e6b`.

But not all users realize that.  It would be nice, when a `kubectl run` or `kubectl attach` session ends, to print `Session ended.  Resume with  ./kubectl attach -i --tty <container-name>`

[2015-11-16 20:28] vishh opened #17331 "Add support for disk accounting"
Based on #16889

This issue tracks support for basic disk accounting in kubernetes. Specific work-items are as follows:
## Core Features
- [x] du works today. Use du for all the categories and ensure that it works on both on aufs and overlayfs - [cAdvisor [#962](https://github.com/google/cadvisor/pull/962)]
- [ ] Add device mapper support - [cAdvisor [#959](https://github.com/google/cadvisor/issue

[2015-11-16 20:34] ixdy opened #17332 "unit test TestGenericScheduler is flaky"
This unit test has flaked several times recently on Kubekins, always with the same error:
[code]

I suspect #16647 may be a culprit, though I'm not 100% sure.

cc @abursavich @kubernetes/goog-testing @kubernetes/goog-control-plane @kubernetes/rh-cluster-infra

[2015-11-16 21:01] thockin opened #17333 "v2 API proposal "desired vs actual""
This has come up a bunch in a lot of small ways, and my mind keeps coming back to this idea, so I want to write it down.

In early early kube API we had `desired` and `actual` (or something like that) structs.  Since they were the same struct there were a bunch of things in the struct that were things we didn't want users to set (which eventually became status) and other problems.  As we changed t

[2015-11-16 21:02] justinsb commented on #17275
Looking at the seed provider (https://github.com/kubernetes/kubernetes/blob/release-1.1/examples/cassandra/java/src/io/k8s/cassandra/KubernetesSeedProvider.java) I can see two ways this could go wrong (I'm sure there are others, but these two are obvious to me):

1. If the service isn't defined correctly.  Can you `kubectl describe service cassandra` and check that both pods are listed as endpoint

[2015-11-16 21:06] andyzheng0831 commented on #12689
I think it is not fixed yet

[2015-11-16 21:14] lavalamp commented on #17333
I have been thinking for a while that a "one writer" policy (at some TBD level of granularity) would be a good thing.

For comparison, why not annotate (comment/struct tag) every field that the system writes and forbid the user from setting it. This seems less invasive. (If the user is allowed to make a request, add a "BlahRequest" block or some such.)

With the system in the OP, it looks to me li

[2015-11-16 21:15] ixdy commented on #12689
Ah, now I see. [`restart-kube-proxy` in cluster/gce/util.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L1217-L1223) has a correct implementation, but [`restartKubeProxy` in test/e2e/util.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/util.go#L2156-L2166) does not.

[2015-11-16 21:17] tomkukral commented on #4710
We would also really appreciate env files since we usually need to share same credentials in many containers in a pod (db, app, bacula-backup).

Describing security concerns in doc is imho sufficient to mitigate security issues.

[2015-11-16 21:25] thockin commented on #17284
Can you provide more information?

What version of kubernetes?  Was the node itself marked NotReady?

On Sat, Nov 14, 2015 at 2:45 PM, Mate Gabri <notifications@github.com>
wrote:

[2015-11-16 21:25] andyzheng0831 commented on #12689
It is true. I made the change in the util.sh script, because it is easy to
determine the os distribution. But I am not sure how to do it in the test
golang code, so the problem in test/e2e/util.go has not been fixed.

On Mon, Nov 16, 2015 at 1:16 PM, Jeff Grafton <notifications@github.com>
wrote:

[2015-11-16 21:27] ixdy commented on #12689
Right, I just wanted to document what was missing so that future-me would understand what still needs to be done.

[2015-11-16 21:28] ScOut3R commented on #17284
@thockin Ah, sorry! I have tested it with version 1.0.6 and 1.1.1. The node was marked NotReady almost right after I shut it down. Is there any test I should do to provide you more information?

[2015-11-16 21:35] quinton-hoole commented on #4432
FYI, etcd performance is documented here:

https://coreos.com/etcd/docs/2.2.0/benchmarks/etcd-2-2-0-rc-benchmarks.html

In summary:

* write performance approximately 15-75 QPS per client, decreasing with the number of clients (e.g. 75 QPS for a single client, 15 QPS per client for 256 concurrent clients).
* read performance approximately 19,000 QPS per etcd server total (i.e. ~19K x 3 = 57K QPS f

[2015-11-16 21:38] ixdy commented on #17282
Neither one is entirely correct right now, unfortunately.

`build-log.txt` is what is uploaded by the [Google Cloud Storage Jenkins plugin](https://wiki.jenkins-ci.org/display/JENKINS/Google+Cloud+Storage+Plugin), which is what we have been using since I initially set up the per-PR Jenkins.

`console-log.txt` is what is uploaded by the [custom script I wrote](https://github.com/kubernetes/kubernet

[2015-11-16 21:38] noralife commented on #17289
@derekwaynecarr

I tested commands from my host directly and there is no permission error.
My usage of `kubectl` seems to be wrong.
Thank you for teaching me.

I don't know whether this ticket should be open or not.
Please kindly decide it.

[2015-11-16 21:38] mml opened #17336 "pre-commit checks should run on clean copy of repo"
It's far too easy to have the pre-commit check pass only due to uncommitted changes.

Also, because it takes so long, I have moved it from pre-commit to pre-push anyway.  I propose we run all the checks inside a docker container, and we build the docker tarball from a clean checkout of HEAD.  This will take a bit longer, but it would provide a more useful signal.

[2015-11-16 21:48] paralin commented on #17088
I'll close this for now, makes sense.

[2015-11-16 22:02] derekwaynecarr commented on #17186
@bgrant0607 - Just a heads-up this is a near term priority for me in next few days.  I am interested in your requirements.  I will try and write up more details on some of my own goals in more detail soon.

But a rough set of requirements:

1. The kubelet has the ability to monitor compute resource usage (memory / disk in near term)
2. An operator can set thresholds for % of memory and disk usage

[2015-11-16 22:10] vishh commented on #17186
@derekwaynecarr: The rough outline aligns with my thoughts as well. Step `3` is the core policy and this can get pretty complex. We can start with assuming that the default behavior will satisfy most users.
I'm happy to collaborate since this is a priority for me as well :)

[2015-11-16 22:11] derekwaynecarr commented on #17186
@vishh - sounds good, maybe we can get a hangout this week to talk through topics and divide/conquer?

[2015-11-16 22:12] derekwaynecarr commented on #17186
fyi @ncdc for the upstream issue tracking out of resource killer

[2015-11-16 22:12] thockin commented on #17088
FWIW you *can* set up a Service in namespace X with no selector and a
manual Endpoints that just lists another Service's IP.  It's yet another
bounce, but it seems to work. :)

On Thu, Nov 12, 2015 at 5:14 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-11-16 22:12] vishh commented on #17186
SGTM. Will sync up with you over IRC.

On Mon, Nov 16, 2015 at 2:12 PM, Derek Carr <notifications@github.com>
wrote:

[2015-11-16 22:14] thockin commented on #17284
@freehan Can you try to get a repro on this?

[2015-11-16 22:21] dchen1107 commented on #17186
@derekwaynecarr What you listed at https://github.com/kubernetes/kubernetes/issues/17186#issuecomment-157185065 is aligned with our thoughts. For 2) the thresholds for % resource should align with https://github.com/kubernetes/kubernetes/issues/13984

[2015-11-16 22:23] freehan commented on #17284
Sure. Let me try it out.

What is the ideal behavior in this case? IP got removed in X seconds?

[2015-11-16 22:23] bgrant0607 commented on #17333
See also #1178

[2015-11-16 22:24] thockin commented on #17333
This is basically what we do with spec and status.  There should be
nothing in `spec` that a user can't set.  But frequently (`nodeName`)
they won't make a choice and the system will do it for them.  We could
reflect that in `status` but then status becomes an ad hoc mess of
random fields, and components end up watching some fields in both.

I much prefer to have a source of "combined desired trut

[2015-11-16 22:25] derekwaynecarr commented on #17186
@dchen1107 - agree on #13984, that is also a near term priority for me.  I want to get rid of the resource-reserver pod and static resource reservation in general for incompressible resources in kubernetes 1.2, so having the kubelet dynamically report back its available compute resource goes hand-in-hand.  So we just need to synch up on how we can all best contribute to the effort.

[2015-11-16 22:25] bgrant0607 commented on #17333
Also relevant: #13038, #16543, #8190

[2015-11-16 22:26] thockin commented on #17284
IP should be removed ~instantly once we delete the pod, which should happen
~instantly once we timeout a node.

On Mon, Nov 16, 2015 at 2:23 PM, Minhan Xia <notifications@github.com>
wrote:

[2015-11-16 22:29] bgrant0607 commented on #16543
`annotations` is a field in `metadata`, and the apply annotation is represented as a single annotation.

[2015-11-16 22:29] dchen1107 commented on #17186
@derekwaynecarr FYI: @timstclair has a proposal at https://github.com/kubernetes/kubernetes/pull/17201 based on our internal design discussion.

[2015-11-16 22:30] bgrant0607 commented on #16543
This should really be covered by a design doc: #15894.

[2015-11-16 22:30] drocsid opened #17338 "When a service has multiple ports, Return "this service has multiple ports"."
I defined a service with multiple ports and tried to get the endpoint through the proxy.

For example:

[code]

[code]

A better message would be "this service has multiple ports" or similar.

[2015-11-16 22:30] ixdy commented on #17282
OK, plugin is still not fully fixed, but it should be uploading `build-log.txt` again. Sorry for leaving this broken over the weekend.

[2015-11-16 22:33] derekwaynecarr commented on #13984
The primary operator goal here is that I should be able to eliminate the need to do a static-pod for resource reservation, and the kubelet should support a dynamic resource reservation model for incompressible resources like memory/disk.  For things like CPU, I know we have issues where CPU usage spikes as the number of pods on the node increases, but I am less concerned on that in the near term.

[2015-11-16 22:39] jlowdermilk opened #17339 "fluentd-es pod stuck pending on soak cluster"
[kubernetes-soak-continuous-e2e-gce](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-soak-continuous-e2e-gce/) was happily running until yesterday when the fluentd-es pod on one node went pending and got stuck that way. I poked at the cluster but couldn't determine why it's stuck pending. As far as I can tell the minion is healthy and has available resources.

[code]

@dc

[2015-11-16 22:41] timstclair commented on #13984
I'm not sure I understand the question. Are you proposing having different reservations at different QoS tiers? I don't see how that would work since kubelet doesn't control what is running in the reserved portions.

[2015-11-16 22:43] mikedanese opened #17340 "kubectl create doesn't work very well on gce master due to permission issues on /tmp"
[code]

[2015-11-16 22:46] gedw99 opened #17341 "Feature request - remote file system."
As a user, I want to develop complex software, without having to install any k8 or docker locally.

I can use use my standard tools. Ide, terminal.
If the remote filesystem is exposed over NFS or whatever is easily mountable from osx, Linux or windows.

[2015-11-16 22:48] liggitt commented on #16543
Yes, sorry. The "annotation" content above would be serialized into a single annotation as a JSON string

[2015-11-16 22:55] jlowdermilk opened #17342 "test namespaces sometimes get leaked in soak clusters"
[kubernetes-soak-continuous-e2e-gke](http://kubekins.dls.corp.google.com/view/GKE/job/kubernetes-soak-continuous-e2e-gke/) went red after a few good runs. Upon investigation, it turns out it has 700+ test namespaces with pending pods, so the cluster is massively overscheduled and unusable. We should check for and delete any old test namespaces at the beginning of e2e runner so the soak cluster doe

[2015-11-16 22:56] smugcloud commented on #14232
I'm also having this issue on a fresh cluster (lots of details [here] (https://github.com/kubernetes/heapster/issues/333)).  I can access Elasticsearch/Kibana/KubeUI/Grafana, but **cannot** access Heapster/KubeDNS/InfluxDB.

[2015-11-16 22:58] smarterclayton commented on #17095
Going through the protobuf stuff, every use of int or uint is broken anyway.  For the non-controversial ones I'll submit a pr to make them int32 (anything with port, uid, gid, etc).

Most IntOrString should probably be int32 anyway - all the ports, at least.  We should have Int32OrString.

[2015-11-16 22:59] smarterclayton commented on #17095
Also, int32orstring should be in unversioned.

[2015-11-16 23:18] dchen1107 commented on #17339
I might misread the information you posted above, but at least I saw pod status is Running and Container's status is running too. Did you post a wrong information here?

[2015-11-16 23:21] jlowdermilk commented on #17339
Sorry I posted the wrong one. The pending one is below (I'll edit original comment to match)
[code]

[2015-11-16 23:27] bgrant0607 opened #17344 "Clarify volume plugin errors"
And generate an event, if we don't already.

Motivated by http://stackoverflow.com/questions/33606773/use-rbd-in-kubernetes-error

Currently Kubelet just logs "no volume plugins matched".

What the plugin matching code does is:
[code]

The rbd CanSupport implementation checks whether the rbd command works:
[code]

If it doesn't, it's probably because the user didn't realize they needed to install

[2015-11-16 23:33] bgrant0607 commented on #831
Another request:
http://stackoverflow.com/questions/33672380/how-to-build-a-sidecar-container-for-passing-files-from-a-machine-outside-of-the

[2015-11-16 23:47] bprashanth commented on #17284
See https://github.com/kubernetes/kubernetes/issues/8335 IIRC the pod will stay Running till the node controller wacks it after podevictiontimeout (the node will flip to notready in 40s), but something might've changed recently

[2015-11-16 23:49] bprashanth commented on #17284
We can set Ready == false if the node is unreachable. This will also remove it from the service.

[2015-11-16 23:57] vishh commented on #13984
Kubelet can auto-detect systemd deployments and avoid re-parenting system daemons.

Are you referring to per qos class quota? If the node exposes detailed usage information, the policy around how the resource are distributed across qos classes can probably be managed in higher layers.

[2015-11-17 00:09] jlowdermilk commented on #17339
You can fetch/use credentials for the cluster via the following (assumes you have access to the kubernetes-jenkins project)
[code]

[2015-11-17 00:17] lavalamp commented on #17333
I think it requires an entirely new process? User writes an update to `spec`; then some mystery code runs in the server, and afterwards both `spec` and `actual` will have been updated.

That mystery code will involve a bunch of boilerplate (probably under-tested and bug ridden), or it will involve another invocation of the conversion stuff (complex, still under-tested, but probably fewer bugs).

T

[2015-11-17 00:20] lavalamp commented on #17095
Yes, there's actually an issue I filed about this ages ago. hmm...
https://github.com/kubernetes/kubernetes/issues/2264 Sounds like we thought
we fixed it at one point.

On Mon, Nov 16, 2015 at 2:58 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-11-17 00:23] lavalamp commented on #16543
I probably don't need to ask this, but on the off chance-- we don't have
the possible bug here where every time you use apply to update the
annotation doubles in size (due to including itself), right?

On Mon, Nov 16, 2015 at 2:29 PM, Brian Grant <notifications@github.com>
wrote:

[2015-11-17 00:36] caesarxuchao commented on #15916
I'm working on this now.

[2015-11-17 00:40] liggitt commented on #17095
We "fixed" it by correctly deserializing int64 in our code (at least into typed structs), and by specifying int64 in the API types, but it looks like JSON implementations generally don't handle int64

[2015-11-17 00:45] hongchaodeng commented on #15551
Is the number of "nodes" here meaning [NUM_MINIONS](https://github.com/kubernetes/kubernetes/blob/70d89a3541b175f8c2e1db28e9c2e681442e3077/cluster/kubemark/config-default.sh#L25)?

[2015-11-17 00:57] ben opened #17347 ""Missing Service Entry" after cluster runs for a few hours"
I've got what's pretty close to a vanilla cluster running in AWS. I altered the instance sizes and counts, turned off cluster/node logging, and I'm using `btrfs` for Docker storage, but otherwise everything is just as `kube-up` made it.

We have a few RCs and Services running, but after the cluster was up for a couple of hours these stopped responding. `curl`ing from one pod to another got really

[2015-11-17 00:59] zhengguoyong commented on #17312
thanks all.

[2015-11-17 01:12] reesew opened #17348 "ingress name-based requires path when service port 80"
ingress.yaml

[code]

`kubectl describe ing long-running` returns `googleapi: Error 400: Invalid value for field 'resource.pathMatchers[0].pathRules[0].paths[0]': ''.  Must have between 1 and 1024 character(s), invalid`
changing the `servicePort` to something other than 80, and adding `path: /*` both solve this problem

[2015-11-17 01:18] bprashanth commented on #17348
Thanks for the report, we should default this

[2015-11-17 01:21] thockin commented on #17333
User POSTs to `spec`.  Per-resource logic copies that do `actual` and
then does all the stuff we do today.

User PUTs to `spec`.  Per-resource logic merges that with `actual`.

I'm hand-waving, obviously it's a little tricky and we'll need to
define the semantics we actually want to see and that we can plausibly
implement.

yeah, we can code-gen a lot of this.

I think it's a little gross, but I g

[2015-11-17 01:27] thockin commented on #17284
Good point.  node being NotReady is different than pods being killed.
Notready node should probably imply all pods being Notready.

On Mon, Nov 16, 2015 at 3:47 PM, Prashanth B <notifications@github.com>
wrote:

[2015-11-17 01:30] freehan commented on #17284
I am not able to reproduce the problem :(
I am trying this on version 1.1.1 with different service types and with/without RC.

@ScOut3R Can you provide more detail? What is the service type? Is there a RC involved? How many replicas?

[2015-11-17 01:33] thockin commented on #17341
This is not really enough to stir a discussion.  What exactly do you envision being exposed over NFS?  Do you intend to run NFS over the public internet for cloud installations?

[2015-11-17 01:46] freehan commented on #17284
@ScOut3R Are you also using liveness or readiness probe?

[2015-11-17 01:48] smarterclayton commented on #17095
Also, people aren't applying that during API review, so we have 20-30
fields which are int internally which means the server *could* return a
very high number to JavaScript.

On Nov 16, 2015, at 7:41 PM, Jordan Liggitt <notifications@github.com>
wrote:

We "fixed" it by correctly deserializing int64 in our code (at least into
typed structs), and by specifying int64 in the API types, but it looks l

[2015-11-17 01:49] jiangyaoguo commented on #14702
+1 for separate client for events. Do we should turn down original 5 QPS to keep the overall QPS of kubelet?

[2015-11-17 02:24] smarterclayton commented on #17333
I'm in favor of this, at the risk of having even larger API objects than we
do now.  I agree with Brian that separation between user's desired intent
and the reactive elements of the cluster (actual) is much better expressed
with a new field.

If you think about what most automated elements of the cluster are doing,
they're applying override / field mutations on specific entities.  Maybe we
should

[2015-11-17 02:33] pmorie commented on #17344
+1 to this, there are many things like this that should surface from `CanSupport`

[2015-11-17 02:34] pmorie commented on #17293
@resouer Do you imagine this being used with a file in a volume?

[2015-11-17 02:38] jiangyaoguo commented on #14702
+1 for separate client for events. Do we should  keep overall QPS of kubelet in view of two separate apiserver client?

发件人: Yu-Ju Hong [mailto:notifications@github.com]
发送时间: 2015年11月17日 4:05
收件人: kubernetes/kubernetes
抄送: Jiangyaoguo
主题: Re: [kubernetes] Audit and evaluate apiserver client usage in kubelet (#14702)

@wojtek-t<https://github.com/wojtek-t>, now that events have been moved to a sep

[2015-11-17 02:51] donghwicha commented on #17280
@jlowdermilk cool! I'll join it

[2015-11-17 02:55] ztao1987 commented on #17094
@zmerlynn yes, it solves my problem

[2015-11-17 03:00] pmorie commented on #17281
@swagiaal Also, AWS, GCE, etc, can have this meta directory regardless of what's in the volume.  Whatever the type of volume, the meta directory is on the node's storage, not the volume itself.

[2015-11-17 03:14] smarterclayton opened #17350 "hack/update-codecgen.sh doesn't work on Mac"
It relies on `readlink -f` which is not supported on OS X.

[2015-11-17 03:27] wing328 opened #17351 "Swagger spec at http://kubernetes.io/swagger-spec/api/ seems not up-to-date"
The swagger spec at http://kubernetes.io/swagger-spec/api/v1/ seems not up-to-date as I found the following parameter definition for method `connectGetNamespacedPodExec `
[code]
while the updated swagger spec at[ Github repo](https://github.com/kubernetes/kubernetes/blob/master/api/swagger-spec/v1.json#L6111) has a valid type (string) defined.

[2015-11-17 03:38] liggitt commented on #17095
+1 for int32/uint32 in API types, and continuing to render them as numbers in API responses, not strings.

Looking through the types.go files, the only current int/int64 API fields I see maaybe actually using values > 2 billion are:
* `Generation`/`ObservedGeneration`: not sure how quickly we use up the value space
* `Replicas`: > 2 billion replicas seems like a stretch, but...
* `PodLogOptions.Li

[2015-11-17 03:42] resouer commented on #17293
@pmorie Either in the volume, or in the docker image. I think.

[2015-11-17 03:48] nikhiljindal commented on #17351
Thanks for reporting.
Sent https://github.com/kubernetes/kubernetes/pull/17352 to fix that.

[2015-11-17 03:52] liggitt commented on #4710
Passwords, key values, etc, showing up in log files is less than ideal... not everything dealing with the log may treat it as confidential, and the data could persist long after the pod and tmpfs volume are safely removed.

Perhaps, though allowing secret data to be used in that way strongly implies it has been done in a secure way. "It was documented to be insecure" is small comfort if the user d

[2015-11-17 03:53] pmorie commented on #17293
@resouer I don't think docker supports an env file that comes from the container's filesystem.  Correct me if I'm wrong.

[2015-11-17 04:02] liggitt commented on #16543
yes, recursive annotation inclusion is prevented

[2015-11-17 04:06] smarterclayton commented on #17095
I started fixing this in #17353.  It's a horrible PITA to fix this because
we can't regenerate conversions easily.

I made replicas int32, left generation, left log options, and changed
restart count to int32.  I also made prober 32.

On Mon, Nov 16, 2015 at 10:38 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-11-17 04:33] smarterclayton commented on #17350
Actually, it seems to work, but gives horrible errors.

[2015-11-17 04:36] smarterclayton opened #17354 "EmptyDir should be allowed to be defined on PV to allow easy testing and local dev of pod templates that point to PV"
There is no system component today that allows easy mock / development testing with PVs.  We should add EmptyDir as a valid source type to PV struct, and document it can be used for local testing.

It should be possible in the future for admins to configure some namespaces / app types to be automatically given empty dir to facilitate simple iteration.

[2015-11-17 04:36] smarterclayton commented on #17354
It is far too difficult to test PV for local developers or kick the tire users.

[2015-11-17 04:38] smarterclayton commented on #17354
@thockin this is based on feedback from app developers who find it difficult to validate precanned apps that depend on templates.  It doesn't solve the whole problem, but it enables someone to actually try out function.

[2015-11-17 05:11] bgrant0607 commented on #17097
Another example: credential injection (Secret volume + env var)
https://developers.google.com/identity/protocols/application-default-credentials

[2015-11-17 05:17] bgrant0607 commented on #17097
@thockin I'm trying to avoid client-side config munging via templates written in a Turing-complete DSL where everything in the templates can be overridden. :-)

Having such a runtime defaulting mechanism would facilitate the use of mostly concrete, discretely parameterized templates.

[2015-11-17 05:21] thockin commented on #17097
I'm just seeing a list of capabilities as long as my arm, and I can easily
imagine it sliding into a master-side turing complete system.

On Mon, Nov 16, 2015 at 9:17 PM, Brian Grant <notifications@github.com>
wrote:

[2015-11-17 05:37] jay-lau opened #17355 "Cannot create new horizontalPodAutoscalers"
Reproduce steps are as follows:
1) Create a replication controller with following content: kubectl create -f rc1.yaml
apiVersion: v1
kind: ReplicationController
metadata:
  labels:
    name: cassandra
  name: cassandra
spec:
  replicas: 1
  selector:
    name: cassandra
  template:
    metadata:
      labels:
        name: cassandra
    spec:
      containers:
        - command:
            - /run

[2015-11-17 05:56] jay-lau commented on #17355
Kubernetes has command "kubectl delete hpa xxx" which can delete the hpa, but this command was not exposed to "kubectl get".

This problem can be resolved by using "kubectl delete hpa xxx".

[2015-11-17 05:56] #17355 closed

[2015-11-17 06:05] pmorie commented on #17282
@ixdy Cool -- should I close this out or will you do a follow-up soon?

[2015-11-17 06:07] pmorie commented on #17281
@swagiaal

We can have private functions that the public ones call underneath, but I am wary of exposing this to volumes to use for a free for all.  I think we want to track any proliferation of these mechanisms in a way that calls out what they're being used for.

[2015-11-17 06:12] bgrant0607 commented on #17095
How does this relate to #16964?

[2015-11-17 06:12] dalanlan commented on #16965
@fgrzadkowski  If that's the case, it's an issue indeed. As i pointed out in the [comment](https://github.com/kubernetes/kubernetes/issues/16965#issue-115661647), i could not get any secrets w/ default configuration (by which i mean, no additional flag apart from HEAD now)

[2015-11-17 06:15] bgrant0607 commented on #10408
@smarterclayton Re. templates:

1. Performing substitution in the server is usually preferable, since it works for non-kubectl clients, as you point out, and is generally the direction we want to go #12143. If we could also link the code into kubectl, that might be nice for a --local mode.
2. Parameterizing numbers, probably. Maybe a solution to #17095 would help? Arrays, maybe container commands,

[2015-11-17 06:20] thockin commented on #17095
On Mon, Nov 16, 2015 at 7:38 PM, Jordan Liggitt
<notifications@github.com> wrote:

We could also change this to a quantity, so 1234 means the same thing,
but 1234Gi means what you think it means.

ditto

uid/gid was int64 to allow negative numbers.  I say screw it and go
for uint32 for those.

port should be uint16 or uint32
exitcode and signal should be int32

[2015-11-17 06:21] liggitt commented on #17095
It's related, but https://github.com/kubernetes/kubernetes/pull/16964 is still needed, since I was seeing the default go JSON marshal/unmarshal handler switch to exponent notation when roundtripping, even under the int32 boundary.

[2015-11-17 06:22] pmorie commented on #17095
@liggitt

I think the most problematic ones in practice would be the PodLogOptions ones you mentioned, and I second Tim's suggestions for those.  Generation/ObservedGeneration could also conceivably become a problem in super-long lived RCs, but this same situation existed previously, just with a higher limit, right?  We probably ought to think through the boundary conditions of all such sequences

[2015-11-17 06:23] liggitt commented on #17095
Since we ended up with int pointers for uid/gid, etc, we can tell the difference between 0 and unset. Was there any other reason for a negative uid?

[2015-11-17 06:24] jay-lau opened #17357 "Add HorizontalPodAutoscaler (hpa) to "kubectl get""
The current "kubectl get" does not include hpa in the help info, we should add it to "kubectl get" for better debug ability.

[2015-11-17 06:25] liggitt commented on #17095
*very* eventually consistent

[2015-11-17 06:28] thockin commented on #17095
Negative UIDs are a thing, as per most UNIXes.  we were trying to avoid
pain, but screw it.

On Mon, Nov 16, 2015 at 10:24 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-11-17 06:32] romanek-adam commented on #17285
The issue bug exists on master, should I provide a PR too?

[2015-11-17 06:43] thockin commented on #17281
I don't like how informal this proposal is.  I don't want assumptions made
about files existing or not existing.  The plugin meta dir is the plugin's.

Don't we already assert idempotence in plugins by way of SetUp() returning
early?  Why not make SetUp() return a code that indicates "complete" vs
"idempotence short circuit" ?  Something like that.

On Mon, Nov 16, 2015 at 10:07 PM, Paul Morie <no

[2015-11-17 06:53] #16147 closed

[2015-11-17 06:55] pmorie commented on #17281
@thockin The volume plugins do this correctly, but the ownership management exists outside of any plugin.  I am happy to capture this in an update to the proposal so we can debate the merits that way -- I had planned to do that in the PR with the fix for this issue.

[2015-11-17 07:03] brendandburns commented on #10408
A couple of thoughts:
  * given deployment manager, I'd prefer `{{` to `${`
  * the pipe syntax is a non-starter from my perspective, `oc process <foo> | oc create -f -` is just to complicated/verbose, I'd much rather use the stream transform approach described in #14993
  * we should just start with simple string substitution.  there are lots of other bits upstream from that that will add the nec

[2015-11-17 07:07] thockin opened #17359 "kube-proxy iptables should REJECT packets for services without endpoints"
Currently we install the rules even if a service has no endpoints.  Connecting to such a service just hangs.  Some apps (curl) don't handle this well.

[code]

Something like that for when there are 0 endpoints.  I only tested with TCP, but from reading it sounds like UDP is OK.

[2015-11-17 07:23] gedw99 commented on #17341
i am not saying it has to be NFS, but more guessing logically this would be the best protocol. The choice of protocol is pretty important because you want it to work cross OS.

What to expose over NFS?
- the remote file system. Thats it.

How it would be accessed ?
- You could mount it like a drive ?

[2015-11-17 07:23] bgrant0607 commented on #10408
@brendandburns

* If we use the same substitution syntax as Deployment Manager (`{{`), then Deployment Manager could not be composed with the Templates API without escaping and also any differences in behavior may be confusing.
* I agree that piping (or temporary files) is not ideal long term, but I was looking for an easy way to start, and I disagree that it's a non-starter. It is a straightforwa

[2015-11-17 07:28] thockin commented on #17341
What remote filesystem?  The one in a running container?  The one on the
master?  A node?  What do you want to DO with that filesystem?

There's no universal remote FS.  NFS is as close as you get and I have no
idea what the Windows/Mac state of affairs is.  But I still have no idea
what you're trying to achieve.

On Mon, Nov 16, 2015 at 11:24 PM, Ged <notifications@github.com> wrote:

[2015-11-17 07:33] thockin commented on #17354
PV already supports hostPath for this?

On Mon, Nov 16, 2015 at 8:38 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-11-17 07:56] HackToday commented on #13556
Hi @jsafrane @spothanis  I followed in guide
https://github.com/kubernetes/kubernetes/tree/master/examples/mysql-cinder-pd

it can not work for kubectl create pods with such mysql yml file, the mysql container is created, but cinder volume was not attached or used by any pod(containers).

Did you try it successfully ?  I used k8s v1.1 official release

[2015-11-17 08:00] resouer commented on #17293
@pmorie My bad. Just limit this to populate ENVs from a volume path. updated.

[2015-11-17 08:10] wangqunOne opened #17360 "Kubernetes volume using OpenStack cinder doesn't work."
Hi, I use the official url http://kubernetes.io/v1.1/examples/mysql-cinder-pd/README.html to create a cinder volume.

Run the command "cluster/kubectl.sh create -f examples/mysql-cinder-pd/mysql.yaml"
The result of command is error validating "/home/minion/kubernetes/examples/mysql-cinder-pd/mysql-service.yaml": error validating data: field nodePort: is required; if you choose to ignore these erro

[2015-11-17 08:14] bgrant0607 commented on #17184
Related: #4855

[2015-11-17 08:16] bgrant0607 commented on #16961
What workaround are we planning? Just always put the Ready condition last? I'd prefer that to version-specific behavior.

[2015-11-17 08:17] #16431 closed

[2015-11-17 08:19] fgrzadkowski commented on #16965
@dalanlan Secrets and service accounts are not the same thing. Please create a secret manually and mount it to your pod to verify if that working or not. I believe it should be ok. Service accounts tokens are indeed not generated in the default setup and there is a PR in-flight that fixes it.

Please reopen if you can reproduce that a secrets are not properly mounted/written when you create them m

[2015-11-17 08:19] #16965 closed

[2015-11-17 08:21] Galexrt commented on #16988
@vishh Here you go:
* https://drive.google.com/file/d/0B_zLDa2CD7z4d3NwcUVmajVFa3c/view?usp=sharing
* https://drive.google.com/file/d/0B_zLDa2CD7z4dFZjZzFnNlRNNTg/view?usp=sharing
* https://drive.google.com/file/d/0B_zLDa2CD7z4LU94LVV0eWdpaGs/view?usp=sharing
* https://drive.google.com/file/d/0B_zLDa2CD7z4SjIwbWIxdWlWMDA/view?usp=sharing

I looked at the pngs but they all look the same.. The only

[2015-11-17 08:24] wojtek-t commented on #14702
@wojtek-t, now that events have been moved to a separate etcd instance, we can set -event-qps so that kubelet will create a separate (apiserver) client for events. Do you have any suggestions on the numbers to use?
Also, it seems to me that there is no reason not to always use a separate client for events now. WDYT?

It definitely makes sense to have a separate client for events.
However, I'm not

[2015-11-17 08:28] bgrant0607 commented on #16845
Even once we have multi-object transactions, we should never use it for this. It's unnecessary and the transactions would never succeed in practice.

[2015-11-17 08:34] piosz commented on #17312
Closing the issue since the tests pass.

[2015-11-17 08:34] #17312 closed

[2015-11-17 08:34] ixdy commented on #17282
I'll follow up with a close when I fix the plugin properly.

[2015-11-17 08:35] ScOut3R commented on #17284
@freehan It's a simple service utilizing the NodePort feature:

[code]

The pods are managed by an RC with a replication factor of 2. The two replicas were residing on two different hosts at the time of testing. I am not using liveness or readiness probe for the pods. Could that be a problem?

[2015-11-17 08:36] bgrant0607 commented on #16845
At minimum, we want:

1. To be able to evaluate nodes in parallel
2. To reuse the evaluation of multiple nodes for multiple pods

For workloads that want to be spread, greedy works just fine. and rescheduling (#12140) can gradually improve placement over time.

Mainly it's workloads that want to be co-located/packed that require gang scheduling.

However, gang scheduling alone can't solve the prob

[2015-11-17 08:37] bgrant0607 commented on #16845
It's also likely that gang-scheduled workloads would want gang admission control and/or temporal scheduling (queuing).

[2015-11-17 08:56] owenhaynes opened #17362 "Api docs wrong for service name"
The API doc list the v1.Service having a v1.ObjectMeta which contains a name. It says the name can be up to 253 characters in length. This however is not true for v1.Service which can have at most 24 characters.

[code]

[2015-11-17 09:23] jay-lau opened #17363 "No job related kubectl help info"
The current kubectl can create jobs but there is no help info when "kubectl get" or "kubectl describe"

[2015-11-17 09:24] gedw99 commented on #17341
1. Yes the FS running inside the container. It can be any container, because who knows which one you want to connect to and do work on.

2. With a remote FS; you can test faster, because its on the real infrastructure and so has a IP that is addressable. Also when you have a ton of data (e.g machine learning), you cant have it locally.
So, you can work faster, and git commit the code on the remote

[2015-11-17 09:28] jay-lau opened #17364 ""kubect describe jobs" include garbage charactor"
# kubectl describe jobs/pi
Name:           pi
Namespace:      default
Image(s):       perl
Selector:       app in (pi)
Parallelism:    1
Completions:    1
Labels:         app=pi
Pods Statuses:  0 Running / 1 Succeeded / 0 Failed
No volumes.
Events:
  FirstSeen     LastSeen        Count   From    SubobjectPath   Reason                  Message
  鈹€鈹€鈹€鈹€鈹€鈹€鈹€鈹€鈹€   鈹€鈹€鈹€鈹€鈹€鈹€鈹€鈹€        鈹€鈹€鈹€鈹€

[2015-11-17 09:42] davidopp commented on #16845
I agree; that's what I interpreted this issue to be about.

Yes, I'm going to work on this or find someone to work on this, for 1.2. It is needed for our scalability goals. But I think it's orthogonal to gang scheduling.

This is a good point--once the cluster gets full and fragmented, you can't expect all the resources you need to be available simultaneously (without a preemption scheme). And I g

[2015-11-17 10:01] gmarek commented on #17357
cc @piosz @mwielgus

[2015-11-17 10:07] gmarek commented on #17360
cc @bgrant0607

[2015-11-17 10:08] gmarek commented on #17362
cc @bgrant0607

[2015-11-17 10:09] gmarek commented on #17363
cc @bgrant0607

[2015-11-17 10:09] gmarek commented on #17364
cc @bgrant0607

[2015-11-17 10:23] cgeoffroy commented on #17340
I had an error on the v1.1.1 kubectl release (taken from https://storage.googleapis.com/kubernetes-release/release/v1.1.1/bin/linux/amd64/kubectl) which seems to be related:

[code]
Even thought i don't known if it's related to `tmp` permission or a broken install.

[2015-11-17 10:31] wapolinar commented on #11916
The SSH client is trying to make a connection to the master and the nodes by using the ssh key of the current user. SSH is used even when the master is localhost!

This requires the public key of the current user to be in the authorized_keys file of the user that is mentioned in the "export nodes" statement. In the case of the ubuntu guide, the user name is "vcap" and the file would be /home/vcap/

[2015-11-17 10:34] sdminonne commented on #17289
@derekwaynecarr https://github.com/kubernetes/kubernetes/issues/17340 may be related

[2015-11-17 11:01] #16955 closed

[2015-11-17 11:04] kargakis commented on #5981
This is not an issue anymore. @bgrant0607 @thockin

[2015-11-17 11:07] kargakis commented on #15924
This is a dupe of https://github.com/kubernetes/kubernetes/issues/10294. Let's do  --cluster-ip=None or --type=Headless instead of --headless @saturnism

[2015-11-17 11:10] #15474 closed

[2015-11-17 11:26] dalanlan commented on #16965
That's expected then. Thank you for the clarification.

[2015-11-17 11:28] roflmao commented on #11435
This helped. But i cant access the service via the master then.

[2015-11-17 12:27] jszczepkowski commented on #16734
@bgrant0607 Can you comment on this proposal?

[2015-11-17 12:27] jszczepkowski commented on #16734
CC @jszczepkowski

[2015-11-17 12:49] deads2k commented on #15924
In validation, headless isn't mutual exclusive to any type, so I think that `type` is in appropriate.  I could get behind `--cluster-ip=None`

[2015-11-17 12:52] lordkada commented on #17275
Hey guys, thanks a lot for your time... I'm doing several tests and each time I'm getting odd and inconsistent results.

The tl;dr; of this story is that I was not able to reproduce it, so maybe you wanna close this issue.

The long version is that in my opinion I'm hitting something else that randomly appears, but I haven't enough experience with k8s to go in deep details...

Anyway this morning

[2015-11-17 12:57] jszczepkowski opened #17371 "Improve unit-test for metrics client"
We need to improve unit-test for metrics client:

 https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/metrics/metrics_client_test.go

Currently, our tests do not cover calculating requests. We need to do for them something similar as for resource consumption:
 - calculating average for many requests from different containers,
 - missing requests for some containers a

[2015-11-17 12:57] deads2k opened #17372 "Preferred GroupVersions should always be in the same order"
Many places in the code deal with preferred `GroupVersions`.  Right now some are best to worst and some are worst to best.  We even reverse existing slices in a couple spots.

There should be one order (I prefer best to worst) to make it easier to figure out what is represented where.

[2015-11-17 12:59] sosiouxme commented on #17183
On Fri, Nov 13, 2015 at 1:42 PM, Vish Kannan <notifications@github.com>
wrote:

Recently the journald logging driver was updated so that docker logs can
pull from it according to container metadata. The same doesn't exist for
syslog and probably won't as it's not really suitable for log metadata.

ELK/other aggregator? Given the right metadata, journald entries would
allow docker logs to continue

[2015-11-17 13:55] zmerlynn commented on #17094
Closing for now, thanks! I may follow up later to see how HDFS is going for you, though.

[2015-11-17 13:55] #17094 closed

[2015-11-17 13:58] jszczepkowski commented on #16177
CC @jszczepkowski

[2015-11-17 14:09] owenhaynes commented on #17362
The docs sort of exists (http://kubernetes.io/v1.1/docs/design/identifiers.html) but they are not very clear which one is used for which type. Should at least be made more clear.

[2015-11-17 14:15] lordkada commented on #17275
At least It looks that I was able to reproduce the "nodes NotReady" case...
The scary part to my eyes is that it seems able to kill a k8s cluster... where am I wrong?

[code]

Then I start a second shell:

[code]

As you can notice, the last node is 'NotReady' now (before it was OK).

Again, my 'dashboard ui' becomes unresponsive:
![screen shot 2015-11-17 at 14 57 40](https://cloud.githubuserconte

[2015-11-17 14:26] smarterclayton commented on #17354
HostPath doesn't have all the positive properties of EmptyDir - it doesn't
chown, set selinux labels, or cleanup content.  Someone testing / iterating
on a pod that uses a PV on a single machine has to go rm -rf a local dir
every time they want to reset the PV, and isn't getting the same security
behavior.  HostPath is useful as well.

It is extremely useful to people trying to build things agains

[2015-11-17 14:29] smarterclayton commented on #15924
Hrm - that may be legacy behavior.  Neither node port or load balanced will
work with a clusterIP=none iirc.

On Nov 17, 2015, at 7:50 AM, David Eads <notifications@github.com> wrote:

This is a dupe of #10294
<https://github.com/kubernetes/kubernetes/issues/10294>. Let's do
--cluster-ip=None or --type=Headless instead of --headless @saturnism
<https://github.com/saturnism>

In validation, headles

[2015-11-17 14:33] johanhaleby opened #17376 "Ingress without rules is still valid"
The [documentation](http://kubernetes.io/v1.1/docs/user-guide/ingress.html#single-service-ingress) says that you should be able to create an ingress resource like this:

[code]

But if you try to create this (`kubectl create -f some.yaml`) you'll get an error:

[code]

[2015-11-17 14:40] gmarek commented on #15551
Yes it's exactly what it means. It's unfortunate that word 'minion' still appears somewhere... @bgrant0607 @wojtek-t

[2015-11-17 14:48] swagiaal commented on #17281
@pmorie what about the above ?

[2015-11-17 15:04] gmarek commented on #15064
Results are pretty close now on everything except listing pods. I'll do a braindump here for the posterity, and for the time I'll have some time to work on it:
- in Kubemark runs we're seeing less `list pods` calls than in the real cluster (90th and 99th percentiles are always equal on Kubemark, and they are never equal on real clusters)
- on real clusters we're seeing list pods from:
  - GC contr

[2015-11-17 15:14] timothysc commented on #15474
/cc @jayunit100 FYI requests have been made to verify behavior at scale on *this.

[2015-11-17 15:30] jayunit100 commented on #15474
- Yeah that sounds like a good test to run re: scale out to n node
- cc  #10479 also

[2015-11-17 15:39] #14992 closed

[2015-11-17 16:06] danwinship commented on #10398
Oops, this should have been closed by #12396

Neither of these are a problem any more; we use `iptables -w`, so the race condition is solved, and we listen for firewalld restarts, so our rules get re-added if firewalld removes them.

[2015-11-17 16:16] jeremyeder commented on #15551
Hey @gmarek have you retried this after #15682 ?

[2015-11-17 16:17] jeremyeder commented on #17035
@davidopp @erictune are users free to adjust labels?  I would add area/performance to this one.

[2015-11-17 16:30] pmorie commented on #17281
Going to make a PR with additions to the proposal today.

[2015-11-17 16:31] pmorie commented on #17281
@swagiaal

In that case, it's the exact same as if a new pod is scheduled onto the node, and the exact same as it would be today.

[2015-11-17 16:44] yujuhong commented on #14702
Since this may affect the cluster scalability, you and @gmarek may have a better idea on how to test this. Do we have existing clusters/benchmarks for this purpose?

[2015-11-17 16:47] #10398 closed

[2015-11-17 16:48] wojtek-t commented on #15551
@jeremyeder we are running Kubemark continuously

[2015-11-17 16:50] wojtek-t commented on #14702
@yujuhong - once this is implemented, I'm happy to do some benchmarks to get values for limits

[2015-11-17 16:57] wojtek-t commented on #16560
@lavalamp - I think those non-standard methods are relatively rare (at least now). So it is significantly better than what we have now to even generate only those that are standard.

    type PodsREST interface {
      Create(*Pod) *Pod
      Update(*Pod) *Pod
      List(???) *PodList
      Binding(*Binding) *Status
    }

Regarding List (and similar methods), I think that we should unify the sign

[2015-11-17 17:09] gmarek commented on #15551
@jeremyeder it depends what 'this' you mean. We're continuously running 1000 node clusters, and 1785 node experiment was done on Oct 25th, which is after #15682 was merged (Oct 17th).

[2015-11-17 17:11] gmarek commented on #14702
+/infty for this effort. If your change will be compatible with SimpleKubelet, you can easily modify HollowKubelet code and run Kubemark experiments with your change, if you don't have access to 'big' projects. Default quota is enough to run 100 'Node' Kubemark.

[2015-11-17 17:37] spothanis commented on #13556
@HackToday are you seeing any errors in kubelet logs?

[2015-11-17 17:37] vishh commented on #16988
Can you try `pprof` with the kubelet binary? I suspect that symbols might have been stripped out.
`go tool pprof <path-to-kubelet-binary> http://localhost:8001/api/v1/proxy/nodes/<node_name>/debug/pprof/profile`

The kubelet binary will be part of the release bundle you are using, which is usally at `_output/dockerized/bin/linux/amd64/kubelet`.

Apologies for not mentioning this option earlier. I

[2015-11-17 17:44] ssergiienko commented on #15644
Problem appears again. After restore from snapshot i leave cluster for a few hours and when returned i can see that:
[code]
And have this things in logs:
[code]

But this messages appears only once on this node, and no repeat more, although kubelet continue to eat all resources even now ($date = Tue Nov 17 19:41:37) without new messages in logs.

On our cluster we use ntpd and right now time on no

[2015-11-17 17:45] smarterclayton commented on #17095
If a container says it wants to runAs -2, we should nuke the cluster from
orbit.

It's the only way to be sure.

On Nov 17, 2015, at 1:28 AM, Tim Hockin <notifications@github.com> wrote:

Negative UIDs are a thing, as per most UNIXes. we were trying to avoid
pain, but screw it.

On Mon, Nov 16, 2015 at 10:24 PM, Jordan Liggitt <notifications@github.com>
wrote:

https://github.com/kubernetes/kubern

[2015-11-17 17:45] vishh commented on #17183
pull from it according to container metadata. The same doesn't exist for
syslog and probably won't as it's not really suitable for log metadata.

Thanks for the info. This should make switching over to journald much simpler in the short term.
Is it possible to configure per log stream disk usage constraints using journald? Explicit control over logging will help provide better disk usage isolation

[2015-11-17 17:48] vishh commented on #17285
Yes please.

On Mon, Nov 16, 2015 at 10:32 PM, Adam Romanek <notifications@github.com>
wrote:

[2015-11-17 18:00] erictune commented on #16741
NFS is going to be available on all kernels, I imagine.
So, we should figure out how to enable NFS clients on any kernel / OS distro with minimal user effort.

If `mount.nfs` is the only thing missing, then how about bypassing it and calling `mount(2)` directly from Kubelet?

[2015-11-17 18:08] drocsid commented on #1806
+1 This issue is more than a year old. I'm trying to work around this today by mounting the docker binary and required libraries into my pod. Not sure if it's going to work, and I'm pretty certain I'm breaking security principles. However I'm not sure docker suggestions are any better:

http://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/

[2015-11-17 18:21] bgrant0607 commented on #2349
We should try to use the same approach for paging for metrics, logs, events, lists, etc.
cc @vishh @timstclair @dchen1107

[2015-11-17 18:22] jeremyeder commented on #15551
Thanks guys -- any chance the continuous kubemark data is surfaced anywhere?

[2015-11-17 18:26] erictune commented on #16779
I think this is an API bug.  In the pod type, ServiceAccountName should be
type string* not a string.  If the user explicitly set it to the empty
string instead of omitting it, then the admission controller should not do
any service-account-token-mounting logic on the pod.

There is a workaround.  Mount an emptyDir at the default service account
mount path, like this:

$ cat no-sa.yaml
apiVersion:

[2015-11-17 18:30] Galexrt commented on #16988
@vishh I added three new files to the folder.
They are named like `pprof-latest-*`.
**I get no more OOMs!**

I really don't know why it is working now..
But it seems like reinstalling the server for the 10th time, installing kubernetes from package and replacing the binaries with the latest release binaries is working..
I think it might was just a temporay issue with the server or the binaries I u

[2015-11-17 18:30] #16988 closed

[2015-11-17 18:33] smarterclayton commented on #2349
I'd prefer to go down the (prefix for start, next page token, limit) route
rather than pure numeric paging.  Numeric paging doesn't really help
clients much and is a pain to optimize at the limit.

On Tue, Nov 17, 2015 at 1:21 PM, Brian Grant <notifications@github.com>
wrote:

[2015-11-17 18:53] mikedanese commented on #17341
I think this is a dup of #16741

[2015-11-17 19:02] jlowdermilk commented on #17119
@bprashanth have you had a chance to look at this? Test is still pretty bugged; would be good to fix before next patch cut to reduce noise.

[2015-11-17 19:04] beeradb commented on #17072
Just nudging this issue. I realize it's probably low priority, but it's also an easy change which I feel would add clarity to the installation docs.

If I should just take initiative and issue a pull request let me know, but as I understand [contributing.md](https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md#contributing-a-patch) I'm supposed to issue a proposal and get a thumbs

[2015-11-17 19:07] jayunit100 opened #17380 "Can/should we enforce singletons over the RESTClient?"
In #16811 we had a conversation about RESTClient being singleton.  It appears to be invoked several times by each daemon... so there is nothing enforcing that a single process uses one global client.

Should this be forced at the level of restclient.go ?

[2015-11-17 19:12] bprashanth commented on #17119
https://github.com/kubernetes/kubernetes/pull/16979 just went in which has the right gcloud command (1. in the list above). Any failures now should only be because of https://github.com/kubernetes/kubernetes/issues/16985, which should be fixed in https://github.com/kubernetes/contrib/pull/219. As for making it tolerant to parallel runs of itself, I'm planning to do the following:
1. Tag all resour

[2015-11-17 19:33] gmarek commented on #15551
I doubt it... I can paste results if you're interested in some specific thing (we're running standard density test there).

[2015-11-17 19:36] janetkuo opened #17384 "Use versioned types in kubectl generators"
Per discussion with @nikhiljindal, in generators we use unversioned types to create objects. Therefore we need to set default values manually. We should instead use versioned types.

_Description updated: changed internal/external version to unversioned/versioned types_

cc @bgrant0607

[2015-11-17 19:42] jlowdermilk commented on #17119
Sounds like the main test fix is in then. The main annoyance is that we have jobs that are running versioned tests at latest stable, which doesn't have the fix. As long as we cherrypick #16979 onto 1.1, that pain is temporary.

[2015-11-17 20:09] spinus commented on #16779
@erictune thank you for sharing your solution. Looks like working workaround :-)

IMHO service account should by mounted only when explicitly set, not as a default. I'm not sure what's the rule of the thumb in most clusters but I can only guess that most pods don't need this.

[2015-11-17 20:20] smarterclayton commented on #17097
We can call it DefinitelyNotTuringCompleteMasterSideTemplatingSystemPolicy.

On Tue, Nov 17, 2015 at 12:21 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-11-17 20:21] bprashanth commented on #17376
That should work, turns out I forgot a cherry pick.
You should only be disallowed from creating an Ingress with *neither* rules or default backend.

[2015-11-17 20:24] nikhiljindal commented on #17351
Fixed by https://github.com/kubernetes/kubernetes/pull/17352

[2015-11-17 20:24] #17351 closed

[2015-11-17 20:42] nikhiljindal commented on #17384
cc @lavalamp @kubernetes/goog-csi

[2015-11-17 20:44] davidopp opened #17389 "Parallelize evaluation of predicate and priority functions for a single pod across machines"
findNodesThatFit() and PrioritizeNodes() can be trivially parallelized. This will improve performance.

Parallelizing across pods is more complicated and is left for future work.

@kubernetes/sig-scalability

[2015-11-17 20:57] davidopp opened #17390 "Implement "equivalence classes" and caching thereof"
These are described in section 3.4 of the Borg paper.

There are a lot of ways to do this. One simple way is
1) When you apply the predicate and priority functions to a pod, cache the results (namely, for each machine, whether the pod is feasible on that machine, and the priority value for the pod on that machine)
2) Scheduler watches for bindings and unbindings and node changes, and marks a cache

[2015-11-17 21:01] nikhiljindal commented on #17384
Yes. Will update the title

[2015-11-17 21:07] mikedanese commented on #16779
That would be a breaking change.

[2015-11-17 21:10] bgrant0607 commented on #17097
@thockin The idea here is to separate operational concerns from (for lack of a better term) development concerns. How the operational policy and overrides are generated is out of scope. Matching of operational policy/overrides to pods and other resources should support common use cases and otherwise rely on the escape hatch of using namespaces and/or label selectors to select matching resources.

[2015-11-17 21:24] gedw99 commented on #17341
@mikedanese
Yes its possible that the implementation crosses over.
#16741 is more about a SAN type stuff -  The bottom layer of storage that the Docker containers can mount.
If that storage mount can also be exposed over a remote connection then yes it would be the same.
But,  because the way a FS is mounted from a network drive, is very often different from what you would want over a remote conne

[2015-11-17 21:28] spinus commented on #16779
I'm not suggesting to change this immediately or anything like that. Rather, maybe would be worth to discuss this topic in security context and then eventually consider changing that using deprecation policy etc.

[2015-11-17 21:32] freehan commented on #17284
Thanks for the detail. Probe should not matter since the node is down.

I still cannot reproduce the problem. After the node is down, there is a 5 min grace period till the pods get evicted. Once  evicted, endpoints should be updated.

@ScOut3R After the node is down for 5 minutes, what are the status of pods on that node?

[2015-11-17 21:34] mikedanese commented on #16779
@spinus sounds good, and it very well may be the right approach. Just noting that the change isn't necessarily easy to make.

[2015-11-17 21:35] derekwaynecarr opened #17391 "Keep a rolling average on resource creation and initial notification via watch"
**Scenario:**
controller X has a WATCH against kube-api-server on resource Y
client A creates a new Y
1. kube-api-server creates a resource Y in etcd
2. etcd acknowledges create and responds with Y, Y createdIndex/modifiedIndex mapped to ResourceVersion
3. kube-api-server is notified via a WATCH event from etcd that Y exists
4. controller X is then notified that Y exists

**Goal:**
Measure the tim

[2015-11-17 22:03] mikedanese commented on #8686
I discussed this with @brendandburns @roberthbailey and we decided that the easiest path forward for ci builds is to depend on an external registry (so 2) ii) ):

The registry prefix (everything but the image name and tag) would be configurable by an env variable set it cluster/env.sh which we already source in kube-up and gitignore.

We can move to iii later on if we decide we don't like this dep

[2015-11-17 22:06] bgrant0607 commented on #16558
I think there are at least 2 cases of 3rd-party apiservers: with and without separate storage.

[2015-11-17 22:06] liggitt commented on #16779
both image pull secrets and mountable secrets (including the automounted api token secret) are related to service accounts. I think we'd still want to be able to set image pull secrets on the `default` service account and have pods use them, even if they didn't want/need an API token. Is there another way we could prevent automounting of an API token, other than removing the association of a servi

[2015-11-17 22:13] jlowdermilk commented on #17172
@michaelukpong unfortunately the cherry pick of the fix missed the 1.1 release cut. It should be included in the 1.1.2 patch release.

As an aside, you can get server/client version info for kubernetes on any platform by running
[code]

[2015-11-17 22:32] erictune commented on #16779
We could add field to serviceAccount called, say `noAutomaticAPICredentials` which tells the service account controller, and any other similar automation, that the user does not want credentials added to the service account.

Then users could create serviceAccount "no-api-access" (or any other name the user choses) in their namespace, with `noAutomaticAPICredentials=true`, then add imagePullSecret

[2015-11-17 22:41] nasdf opened #17394 "Kube proxy source address"
Would it be possible for the kube proxy to preserve the source address of a packet?  I am trying to capture a UDP packet source address for later use but cannot find any way to do this currently.

[2015-11-17 22:44] svennela opened #17395 "aws profile is cleaned up"
Hi,

aws profile is being cleaned up after running kube-up.sh

1) aws iam list-instance-profiles I can see  profiles

after bash ./kubernetes/cluster/kube-up.sh

The config profile (ks-profile) could not be found

Thank you,
Sridhar

[2015-11-17 22:48] smarterclayton commented on #1806
Today we run locked down pods that have access to hostPath bind mounted
docker sockets, where the build controller (that creates the build pod) has
elevated privileges to do so but the user does not.  When PodSecurityPolicy
lands, that'll allow similar distinction.  I don't think there's a better
way today - docker-in-docker can be painful, but is more secure than
accessing the host docker.

On Tu

[2015-11-17 22:57] paralin opened #17397 "kube-push.sh is broken"
I'm getting this error on my Google Cloud cluster:

[code]

Using the default `./cluster/kube-up.sh`

To reproduce:
- kube-up
- everything is working fine
- delete one of the instances from the autoscaling group
- the new instance will fail with this error continuously

[2015-11-17 23:00] yujuhong commented on #17395
/cc @justinsb

[2015-11-17 23:16] dchen1107 commented on #17339
I looked at the issue this morning, and found the cluster was teared down, and new cluster doesn't have fluentd pending issue. @jlowdermilk do I miss anything here?

[2015-11-17 23:18] jlowdermilk commented on #17339
The soak-cluster gets torn down and recreated weekly. I was hoping we could debug the issue before that happened, but since that's no longer possible I'll close this as not reproducible. Hopefully we can catch it sooner if it happens again.

[2015-11-17 23:18] #17339 closed

[2015-11-17 23:18] bgrant0607 commented on #12611
Forgiveness is related: #1574

So is service-level readiness, which was discussed in the Component Registration API context #13216.

[2015-11-17 23:18] paralin commented on #17397
The problem is that /srv/salt-overlay/salt/kubelet/kubeconfig does not have the certificate data.

[2015-11-17 23:20] bgrant0607 commented on #16558
We still want to make ThirdPartyResource minimally usable for simple CRUD, such as for storing config templates or cloud storage breadcrumbs.

[2015-11-17 23:23] paralin commented on #17397
It seems salt-overlay has the certificate data but /srv/salt/kubelet/kubeconfig does not. The overlay doesn't seem to be applied. If I copy the kubeconfig to /srv/salt/kubelet/kubeconfig from /srv/salt-overlay/salt/kubelet/kubeconfig it works.

[2015-11-17 23:26] bprashanth commented on #17397
@piosz

[2015-11-17 23:29] smarterclayton commented on #4710
Since a user can work around this in a non optimal way anyway, protecting
users from themselves can probably be taken too far.  It's better for users
to use secrets to inject them into env (or files) than it is for them to
just use env from the start.  So I'm slightly in favor of allowing secrets
-> env via downward API to at least ensure the secrets aren't in the API
objects.

On Nov 16, 2015, at

[2015-11-17 23:35] smarterclayton commented on #831
Someone from RH was looking at mount from another image - @rhatdan, who was
that?

On Nov 11, 2015, at 2:41 PM, Brian Grant <notifications@github.com> wrote:

Quick note:

We need (at least) 2 things:
1. mount from another image
2. run container to populate a volume

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/831#issuecomment-155889358>
.

[2015-11-17 23:50] smarterclayton commented on #17098
A lot of our use cases like this come up from overzealous admins - who
conserve under conditions of scarcity today, and want to continue to
conserve in the future.  They often want to set strict limits - but that
complicates any "pod machinery" use cases.  They don't want to allow
unbounded job execution for various reasons (which are sometimes wrong, but
are also human policy things, rather than

[2015-11-17 23:55] bgrant0607 commented on #17186
The threshold probably has to be expressed similarly to alert triggers in other systems, such as including a duration as well as a threshold, in order to accommodate bursting.

We'll also want OOR killing for CPU, but since CPU is compressible, we'll need to take into account other factors (e.g., QoS) and signals (e.g., cpu load). That's sort of true even for memory, which is marginally compressib

[2015-11-18 00:02] bgrant0607 commented on #15673
OOR proposal: #17186

Node resource management proposals: #14943, #13006, #16889

[2015-11-18 00:05] lavalamp opened #17402 "apiserver's MaxInFlightLimit is unused"
Let's remove it.

[2015-11-18 00:12] bgrant0607 commented on #4855
cc @davidopp @mml

[2015-11-18 00:14] karlkfi opened #17404 "API Example Usage Docs"
The API docs don't have a great on-ramp for explaining how to use the API directly. We have some example docs from the DCOS docs, that don't really belong there. I'd like to donate them to the k8s API docs, but I'm not sure where to put them. Any ideas where these would go?

Unfortunately, it somewhat overlaps with the walkthrough 101 page, but the rest API bits don't really belong there...

---
#

[2015-11-18 00:37] #17271 closed

[2015-11-18 00:41] dchen1107 commented on #15673
The initial issue on memory management: https://github.com/kubernetes/kubernetes/issues/14532
Node Allocatable issue: https://github.com/kubernetes/kubernetes/issues/13984 and proposal: https://github.com/kubernetes/kubernetes/pull/17201

[2015-11-18 00:42] HackToday commented on #13556
@spothanis  I used fedora VM, and with
journalctl -r -u kubelet, did not find any error logs.

I found pod is created, but  cinder volume was not attached.

Below are details:

1.Create a cinder volume. Run "cinder create --display-name=myvoltest 1 "

  "cinder list"
   volumeID:0a9c53b7-97f2-4369-8d62-43a2885c6be8, status:available, Name:myvoltest, Size:1, Volume Type:lvmdriver-1, Bootable:false,

[2015-11-18 00:45] thockin commented on #17394
In kubernetes v1.1 you can turn on the iptables proxy, which preserves source IP for clients within the cluster.  It still gets lost on load-balancers, though.

[2015-11-18 00:45] #17394 closed

[2015-11-18 00:46] ArtfulCoder opened #17406 "Allow DnsPolicy=ClusterFirst for Pods with hostNetwork: true"
With 1.1, we allow pods to be created with hostNetwork = true.
These pods should be allowed to use Cluster DNS, if the pod spec says so.

We have already wired the kube-proxy to support traffic from the host machine to be directed to kube-services. We should similarly allow cluster dns names to be looked up by pods with hostNetwork=true.

This way, pods can use hostNetwork = true and still leverag

[2015-11-18 00:48] ArtfulCoder commented on #17406
@thockin

[2015-11-18 01:02] smarterclayton commented on #10408
@bparees when you add your proposal ref it here please.

On Nov 17, 2015, at 2:24 AM, Brian Grant <notifications@github.com> wrote:

@brendandburns <https://github.com/brendandburns>

   - If we use the same substitution syntax as Deployment Manager ({{),
   then Deployment Manager could not be composed with the Templates API
   without escaping and also any differences in behavior may be confusin

[2015-11-18 01:12] yujuhong opened #17407 "Rename RawPodStatus/PodStatus in kubelet"
Forked from #17259

We want to rename some types and functions in the container runtime interface.
 -  type RawPodStatus to PodStatus
 - GetPodStatus() to GetAPIPodStatus()  (should be eventually deprecated).
 - GetRawPodStatus() to GetPodStatus()

@Random-Liu, I am assigning this to you so that you do with, or after your pending PRs to avoid rebases.

[2015-11-18 01:15] yujuhong commented on #15644
This seems like a cadvisor issue.

/cc @kubernetes/goog-node

[2015-11-18 01:16] smarterclayton commented on #15390
I wonder if we can get away with just default, forbidden, and override.  The benefit is that all clients "just work". I know we've had requests for rules based labeling (add a label based on image used to facilitate global selection), and most of those use cases are solved by that combination.

Actually, that's what the namespace node selector admission controller does - defaults, overrides, and f

[2015-11-18 01:18] yujuhong commented on #17407
/cc @dchen1107

[2015-11-18 01:25] thockin commented on #17360
@spothanis

[2015-11-18 01:25] ixdy commented on #16828
Would cherry-picking #17392 fix this?

[2015-11-18 02:04] drocsid commented on #1319
I finally got a chance to work on this again. @thockin I followed your documentation for deploying the registry, thanks. I made an effort to get the docker binary running inside a container, and built an image inside of it.

Then came the push attempt.

[code]

[2015-11-18 02:24] liggitt commented on #10408
transforms of parameter values into primitive values like numbers or booleans, or other encodings (specifically base64 to allow parameter values to be used to construct secrets) are something we were still trying to figure out for OpenShift templates. https://github.com/openshift/origin/issues/3946#issuecomment-135292216 is the most recent conversation we had about it

[2015-11-18 02:51] timstclair opened #17412 "Prune apiserver dependencies"
The `pkg/apiserver` package currently has a lot of dependencies:

![image](https://cloud.githubusercontent.com/assets/3272040/11231144/68cd7aee-8d5a-11e5-93d7-efa82fa03822.png)

This is problematic because we would like to use the apiserver library on the kubelet to host the [metrics api group](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/compute-resource-metrics-api.md).

F

[2015-11-18 02:51] timstclair commented on #17412
cc/ @lavalamp

[2015-11-18 03:01] paralin commented on #17397
So I've redeployed the entire cluster and it seems to work now. Might be worth looking at. Nevertheless, killing this issue.

[2015-11-18 03:44] mali11 commented on #16845
@bgrant0607  @davidopp

The background I raised this issue is because we have requirements to ensure the traffic bandwidth between pods are guaranteed for specific applications, which means we need to guarantee the bandwidth for pods in each level(host, TOR, aggregate, spine) of the topology, we can't rely on a non-blocking datacenter and it should be topology-independent.

On the other hand, thes

[2015-11-18 04:26] dalanlan commented on #17205
@resouer  The flags of `etcd` in docker-k8s are out dated. You might want to upgrade them. Ref https://github.com/coreos/etcd/blob/master/Documentation/configuration.md

[2015-11-18 05:12] brendandburns commented on #17390
voting this down to p2 since rough estimates via micro benchmark indicate that this can save us at most 1 millisecond / scheduling.

[2015-11-18 05:13] xiang90 commented on #17390
/cc @hongchaodeng

[2015-11-18 05:13] brendandburns commented on #17389
unassigning.  micro benchmarks indicate that this doesn't make much difference.

[2015-11-18 05:14] brendandburns commented on #17062
Marking this down to P1, as this works as much as it ever has as far as I can tell.

I'm working on improvements.

[2015-11-18 05:14] brendandburns commented on #17124
Closing this as closed by #17203

[2015-11-18 05:14] #17124 closed

[2015-11-18 05:16] brendandburns commented on #16935
@bgrant0607 the scenario is that I have N clusters and I want my config files to care with them which cluster they are intended to update.

I don't really like the "config file is executable" approach since it seems pretty weird to run a config file.

[2015-11-18 05:31] bgrant0607 commented on #17364
cc @mikedanese @erictune @soltysh @janetkuo

[2015-11-18 05:45] thockin commented on #17406
I think that some network setups (including a developer team I spoke to today) it is not true that hosts can access the pod network.  And in a VLAN'ed model it won't be true, either.

This is a tricky one.

@sig-network

[2015-11-18 05:45] thockin commented on #17406
@kubernetes/sig-network

[2015-11-18 06:06] jay-lau opened #17417 "autoscaler cannot get CURRENT cpu percentage"
I was using https://github.com/kubernetes/kubernetes/tree/master/docs/user-guide/horizontal-pod-autoscaling here to test the autoscaling features and everything goes well. But after the autoscaler was created, I found that the CURRENT value for cpu percentage is always <waiting>, anyone can help?

1) kubectl run php-apache --image=gcr.io/google_containers/hpa-example --requests=cpu=200m
2) kubectl

[2015-11-18 06:07] jay-lau commented on #17417
NAME         REFERENCE                                TARGET    CURRENT     MINPODS   MAXPODS   AGE
php-apache   ReplicationController/php-apache/scale   1%        <waiting>   1         10        22m

[2015-11-18 06:08] jay-lau commented on #17417
Seems the CURRENT value cannot be paste here, but its value keeps in <waiting>.

[2015-11-18 06:19] bgrant0607 commented on #16935
I don't know that YAML tags are the best solution. Among other reasons, kubectl also accepts json.

I'd generalize the title to "declaratively specify cluster context".

A number of CLIs do this with a separate file in the same directory. Another option is a flag or env var. The advantages of those approaches is that they wouldn't couple a purely operational concern (which cluster) to potentially

[2015-11-18 06:35] thockin commented on #4710
Unless I am gravely mistaken, Docker's env-file is evaluated OUTSIDE
the pod.  Having it read from inside the pod is actually a LOT more
interesting, but as far as I can tell that is NOT what is happening.

[2015-11-18 06:39] thockin commented on #4710
That said, I see no reason not to support secrets -> env, with the
documentum that secrets -> volume is strictly better in every way.

On Tue, Nov 17, 2015 at 10:35 PM, Tim Hockin <thockin@google.com> wrote:

[2015-11-18 06:44] mali11 commented on #16845
Sorry I don't understand why the transaction would never succeed in practice, could you please elaborate further?

[2015-11-18 06:54] johanhaleby commented on #17376
Oh nice, I would've hoped that this should work. Is it a client or "server" problem? Will it be available in the next minor release?

[2015-11-18 06:58] mhausenblas commented on #4710
+1 to what @thockin said:

In my experience, even when suggesting or providing [good practices](https://mesosphere.com/blog/2015/11/12/sharing-secret-data-in-kubernetes/) it's still a challenge for certain folks to follow along, oftentimes leading to bad outcomes such as people baking secrets into images because they struggle to use a Kubernetes Secret.

[2015-11-18 07:09] davidopp commented on #16845
I think the argument is that reservations or squatting are just as powerful as transactions but more likely to succeed in getting all your pods eventually scheduled.

Simple example: A cluster with two machines. One machine is running a pod P that takes up half of a machine, the other machine is empty. You submit a gang of two pods P1 and P2 that each take up a full machine. In the transaction app

[2015-11-18 07:18] soltysh commented on #17364
Will work on it, please assign it to me.

[2015-11-18 07:21] thockin commented on #17362
Yeah, I am not sure how to fix this one, short of cloning ObjectMeta, since
that is where the description comes from.  will chew on this...

On Tue, Nov 17, 2015 at 1:55 PM, Brian Grant <notifications@github.com>
wrote:

[2015-11-18 07:27] janetkuo commented on #17364
@soltysh Thanks!

[2015-11-18 07:35] bgrant0607 commented on #17404
Thanks @karlkfi. API usage docs could go into docs/devel.

[2015-11-18 07:36] wojtek-t commented on #17384
@nikhiljindal @janetkuo - can you explain what "generators" are you talking about here?

[2015-11-18 07:38] bgrant0607 commented on #17362
Related: #3752

I think we'll have to clone ObjectMeta and other shared types eventually, but we could add a note to the share documentation about service names.

[2015-11-18 07:41] bgrant0607 commented on #14475
cc @smarterclayton

[2015-11-18 07:43] bgrant0607 commented on #17324
Related: #3585, #14475

[2015-11-18 07:44] bgrant0607 commented on #17324
And: https://github.com/docker/docker/issues/11187

[2015-11-18 07:58] spothanis commented on #17360
It is weird that you are getting a warning about a service when you are creating a pod.

When the kubelet boots up, do you see a log line about cinder volume plugin (you might have to increase the log verbosity to 4, I don't quite remember)?

Also when Kubelet starts up, do you see messages indicating that connection to nova was ok and that it was able to find the node from the cloud provider?
Ano

[2015-11-18 08:13] wojtek-t commented on #17391
@derekwaynecarr - I was doing some experiments on density.go/load.go on 100-node cluster at some point (few months ago when we were launching it). And definitely it wasn't in the order of seconds - and definitely not 20s.

I completely agree it would be useful to have such a metric - I will try to add it.

[2015-11-18 08:18] piosz commented on #17397
Did you use autoscaling feature or just resize manage instance group?

cc @jszczepkowski @mwielgus

[2015-11-18 08:23] janetkuo commented on #17384
@wojtek-t generators are used to create objects in `kubectl`, see:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory.go#L113-L119
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/generate.go
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/run.go

[2015-11-18 08:29] wojtek-t commented on #17390
voting this down to p2 since rough estimates via micro benchmark indicate that this can save us at most 1 millisecond / scheduling.

@brendandburns - what assumption do you have in your benchmarks? If we have e.g. a relatively big replication controller (e.g. hundreds of replicas) being created at once - the savings should be huge..

[2015-11-18 08:31] wojtek-t commented on #17389
unassigning. micro benchmarks indicate that this doesn't make much difference.

@brendandburns
I think I need to look into your benchmark. I don't believe this won't make any difference.
When running experiments in big clusters (like 500-nodes), we have a scheduling throughput of ~1 pod/second and all the time is spent on making a scheduling decision - so we need to improve the scheduling algorith

[2015-11-18 08:32] gmarek commented on #16828
Probably. The problem that may appear is that the time used for deleting this namespace will be accounted for the current test. As long as it's not a heavy test it's OK, but if something would need to clean up after density, or something similar, we're screwed.

[2015-11-18 08:33] wojtek-t commented on #17384
@janetkuo - got it. thanks!

[2015-11-18 08:33] davidopp commented on #17390
Benchmark is in #17415

[2015-11-18 08:34] davidopp commented on #17389
Benchmark is in #17415

[2015-11-18 08:34] kevin-wangzefeng commented on #17190
@davidopp thanks for you suggestion, then in this issue we just focus on dedicated machines requirements.

1. The table mapping namespace name to label/annotation value, we can add new resource type and store it into etcd
[code]
    then implement corresponding methods in registry, kubectl printer etc.

2. Add a new admission controller (or add new logic in existing admission controller) to handle

[2015-11-18 08:40] wojtek-t commented on #17389
Thanks @davidopp
I commented on that - I completely agree with @davidopp that this benchmark may be too artificial.

[2015-11-18 09:16] feiskyer opened #17421 "Has shippable tests been turned off?"
I see there is no shippable tests on recent PRs, has shippable tests been turned off?

We can actually move shippable tests to travis, since travis is more fast than shippable.

[2015-11-18 09:26] paralin commented on #17397
@piosz The instance group is an autoscaling group. I "managed' it by deleting a couple instances from it and allowing them to be re-created.

[2015-11-18 09:31] combk8s opened #17423 "performance test result of the default scheduler in Kubernetes"
Recently, we made a performance test for the default scheduler of Kubernetes, on a cluster with 100
nodes.

Test cases and test result is as follows:
* In the first test case, we build a cluster with 50 nodes an no pods, then create 3000 pods concurrently to let scheduler to schedule them;
* In the second test case, we build a cluster with 50 nodes an 3000 pods, after the existing 3000 pods' statu

[2015-11-18 09:39] wangqunOne commented on #17360
@spothanis， I check the kubernetes version. I  uses the kubernetes version 1.0.4. Does it cause the failure?

I want to ask you  which case is supported below ?  We want to make the kubernetes work with openstack cloud provider.

First case: I have two VM instances to install kubernetes. Both of instances  were created by openstack. Then to install kubernete on the two instances. Finally, to confi

[2015-11-18 09:53] mali11 commented on #16845
Thank you for the detailed explanation! I think I've got the point :)

Yes, exactly. and in our case, the algorithm spends much longer time than the usual algorithms, that could make the situation even worse since it gives other schedulers more time to place pods to cause races.

I'm considering if there's different methods to solve this problem more simply such like: is it possible to allow only

[2015-11-18 10:22] davidopp commented on #17035
Unfortunately the ACL system isn't flexible enough right now for us to be able to let users adjust labels, but I added it for you just now.

[2015-11-18 10:34] vekexasia commented on #6158
where is the redis-slave image source?

[2015-11-18 10:39] feiskyer commented on #16927
@janetkuo @bprashanth #17425

[2015-11-18 12:38] MartinPodval commented on #13997
I've have same problem. On vmware machines.

[code]

[2015-11-18 12:44] rajeswarr commented on #13382
Hi,

I used vagrant in mac and getting below error. can someone help me.

Waiting for each minion to be registered with cloud provider
error: couldn't read version from server: Get https://10.245.1.2/api: net/http: TLS handshake timeout

[2015-11-18 12:50] deads2k commented on #16779
I'm still rather partial to the idea of an explicit list of auto-mounted secrets proposed in item 4 here: https://github.com/kubernetes/kubernetes/issues/11070

[2015-11-18 12:56] deads2k commented on #16935
Is this different than `KUBECONFIG` or `--config` or `--context=` (for selecting a context in a kubeconfig file?

[2015-11-18 13:02] rhatdan commented on #831
We have the ability via atomic mount to mount container images.

On 11/17/2015 06:36 PM, Clayton Coleman wrote:

[2015-11-18 13:03] spinus commented on #16779
@deads2k so, fingers crossed for RBAC :-) hope it won't allow all service accounts to do anythink by default. Default policy DROP ++ :-)

@erictune: small comment, I'm not sure where but think I've seen this kind op options in kubernetes already, I would vote agains "no" options as they can be misleading. +1 for clear options like "AutomaticAPICredentials=false" rather than "noAutomaticAPICredenti

[2015-11-18 13:22] rajeswarr opened #17426 "error: couldn't read version from server: Get https://10.245.1.2/api: net/http: TLS handshake timeout"
Hi,

I used vagrant in mac and getting below error. can someone help me.

Waiting for each minion to be registered with cloud provider
error: couldn't read version from server: Get https://10.245.1.2/api: net/http: TLS handshake timeout

[2015-11-18 13:26] azr commented on #3192
Hello there, can I do something to make this available in the `gcloud container clusters create` command ?

[2015-11-18 13:58] kargakis opened #17429 "Support exposing a service as ingress"
`kubectl expose` should support exposing a service as ingress.

It should probably be the default generator when trying to expose a service and default to exposing everything else ([rcs, pods](https://github.com/kubernetes/kubernetes/blob/2a929883929e64ab2cab2192ae7606de18426e36/pkg/kubectl/cmd/util/factory.go#L289)) as services.

@smarterclayton @bgrant0607 @bprashanth

[2015-11-18 14:43] swagiaal commented on #17360
cc @jsafrane

[2015-11-18 14:50] jsafrane commented on #16741
Actually, I dived into various cloud images (on GCE) and I found out that all these have all the required kernel modules:
* CoreOS beta 835.4.0
* CentOS 7.1.1503
* Debian GNU/Linux 7.9 (wheezy) with backports kernel

Also, I checked that a Fedora 21 container running on any of the above **can** mount GlusterFS, iSCSI, Ceph RBD and NFS.

I did not test CephFS - in theory, it should work (there is c

[2015-11-18 14:51] cmoad commented on #14232
I was having the same issue with KubeUI. I don't recall exactly how I found the message but the error reported that there was no "default" service account in the "kube-system" namespace. I created this manually by running `kubectl create -f serviceaccount.yml --namespace="kube-system"` and that resolved the problem.

serviceaccounts.yml:::

[code]

[2015-11-18 15:03] bgrant0607 commented on #17097
Related to the matching problem: #17324

[2015-11-18 15:10] bgrant0607 commented on #17324
I don't know whether a single approach would be best for all cases, but I find the Abstract approach appealing for cases where we want extensibility and/or want to allow the operator to be able to apply policy, as in #17097. Typos could be handled by creating a policy object with a list of valid classes, which I've also proposed we do for labels #15390.

[2015-11-18 15:12] bgrant0607 commented on #15390
This approach would be useful for annotations, also.

Rather than overriding specified label values, how about just default, required, forbidden?

[2015-11-18 15:13] swagiaal commented on #17341
@gedw99 I may not have understood your use case properly but would it be possible for you to use the NFS plugin and mount important data dirs from NFS which you can also mount from your dev mahcine ?
For example if you are developing a website being served by nginx you can create a pod which mounts an NFS export to /usr/share/nginx/html inside the container then mount the same nfs export from you

[2015-11-18 15:18] rootfs opened #17433 "Godeps/_workspace/src/google.golang.org/api/container/v1beta1 should be replaced with Godeps/_workspace/src/google.golang.org/api/container/v1"
https://godoc.org/google.golang.org/api/container/v1beta1 returns Not found

@eparis

[2015-11-18 15:28] jsafrane commented on #17360
@wangqunOne, Kubernetes 1.0.4 does not have Cinder volume plugin, AFAIK it has been added in 1.1.0.

In addition, you need to tell Kubernetes some OpenStack credentials to be able to attach volumes:
`kubelet --cloud-provider=openstack --cloud-config=/etc/cloud.conf`. You can see skeleton of `cloud.conf` here: https://github.com/kubernetes/kubernetes/blob/master/cluster/rackspace/cloud-config/maste

[2015-11-18 15:32] jsafrane commented on #13556
@HackToday, please run kubelet with `--v=5`, try to attach a volume and and post the logs somewhere, there must be some error there.

[2015-11-18 15:50] nasdf commented on #17394
Thanks for the response.  I've already upgraded to v1.1 and turned on the iptables, but I didn't realize the load-balancers changed the source address.  What is the recommended approach without using load-balancers?  Would I just point to a single node ip address on the cluster?

[2015-11-18 15:54] liggitt opened #17435 "thirdPartyResourceDataMapper needs to use KindToResource"
it is currently hardcoding an incorrect conversion of kind to resource:
[code]

[2015-11-18 16:01] drocsid commented on #1319
It seems that the localhost:5000 endpoint might be visible from the docker host, but not from inside the containers. Then I used the service DNS inside the container, but still seem to have issues connecting. @pwais do you have any suggestions?

jenkins@jenkins-ijphv:/$ docker tag 9a503c2f95a5 kube-registry:5000/search-api
jenkins@jenkins-ijphv:/$ docker push kube-registry:5000/search-api
The push

[2015-11-18 16:07] erictune commented on #16779
@spinus agree that positive flag names are better than negative flag names.  However, it gets complicated because of our backward compatibility rules.   There may also be backward compatibility issues around changing the default to drop.  Will look into it.  For now my first priority is for people to have a clean way to create a pod without api creds.

[2015-11-18 16:20] jchauncey commented on #17183
Isn't that the point of using something like fluentd as your collection point. It allows for people to plug and play any logging stack they want (splunk, elk, files, etc...)

[2015-11-18 16:22] spothanis commented on #17360
@wangqunOne apart from what @jsafrane mentioned, it will work only with case 1. In case 2, Openstack is not aware of your instances and wont be able to attach or detach volumes to it.

[2015-11-18 16:23] drughi opened #17437 "Containers not starting using private registry"
Hello!

i have a working installation with kubernetes 1.1.1 running on debian

i also have a private registry working nice running in v2 ..

i am facing a weird problem.

defining a pod in master

apiVersion: v1
kind: Pod
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  containers:
    - name: nginx
      image: docker-registry.hiberus.com:5000/debian:ssh
  imagePullSecrets:
    - name: my

[2015-11-18 16:34] spiffxp commented on #14216
I'm seeing this behavior again in v1.1.1.  At this point I'm pretty sure something is wrong with our journald setup.  In the meantime, still trying to keep an eye on excessively verbose scheduler messages.  #17004 will take care of some of this, and hopefully #17348 catches the rest (for now.)  At that point I can run a scheduler with --v=1 and not run directly into whatever our journald issue is.

[2015-11-18 16:35] smarterclayton opened #17440 "Proposal for upstreaming OpenShift policy / auth components as a Kube extension"
In order to
1. An example of external authorizations / authentication in the upstream Kube repo that can provide more sophisticated behavior than the simple checked in code
2. To prove that we can integrate 3rd party extension APIs in a clean way that do not live in the Kube codebase (via reuse of a shared 3rd party library, verify discovery works, prevent refactorings from breaking 3rd parties)

[2015-11-18 16:35] smarterclayton commented on #10408
Opened https://github.com/kubernetes/kubernetes/issues/17440 to track auth/authz upstreaming as an ecosystem project as discussed at Kubecon

[2015-11-18 16:39] thockin commented on #17338
Also see http://stackoverflow.com/questions/33767736/kubernetes-endpoints-throw-serviceunavailable/33785525#33785525 - the URLs printed at cluster turnup ignore the fact that ports are named and are invalid.

[2015-11-18 16:49] WeixuZhuang opened #17441 "The addNode and UpdateNode methods in pkg/controller/daemon/controller.go should only enqueue related DaemonSet"
When add node or update node func is called, all DaemonSets are enqueued to workqueue of DaemonSet Controller. The consumer of the workqueue does an iteration of node.List for every DaemonSet in the workqueue.

It is not efficient, we should enqueue DaemonSet only it has new or updated nodes in it.

[2015-11-18 16:53] jackgr commented on #10408
Perhaps I'm missing something, but why are we talking about enshrining the OpenShift templating and parameterization mechanisms in Kubernetes, when there are existing alternatives, some of which may be better for Kube users?

Wouldn't it be better to let Kube users choose from among the alternatives, see which ones emerge as the solutions that users prefer, and then incorporate those into the code

[2015-11-18 17:05] joeblew99 commented on #17341
@swagiaal

It's close, but i have a few issues with that architectural approach to solving the use case.

I want to be able to expose the folder from inside my pod, independent of how the pod mounts the volume exposed by the storage layer. The reason is because I need to be independent of the storage protocol. This is the conflagration I was warning about.

It would be much more flexible if I can

[2015-11-18 17:16] smarterclayton commented on #10408
OpenShift templates were designed from the beginning as "how would we do simple templatization in a consumable way for users of a Kube platform that leverage all of the core Kube patterns".  The patterns they expose are the same principles we've built Kube around.

They solve a particular problem - how do I consume, reuse, and expose precanned API object groups to a server, without requiring a ful

[2015-11-18 17:17] asim commented on #16361
Unfortunately still not fixed.

[2015-11-18 17:19] mml commented on #17336
I note that `git archive` can directly export into .tar or .tar.gz files.

[2015-11-18 17:21] derekwaynecarr commented on #17391
@wojtek-t - in this scenario, we were load testing a cluster with fake nodes.  So it was primarily stressing the limits of individual controllers before things fell down, or how long until those controllers observed a change and could act upon it.

[2015-11-18 17:21] timothysc commented on #16845
@mali11 .. Do you **really** need gang scheduling for your use case? The most common use case for 'gang scheduling' is MPI, where coordinated group start is important.  Resources can sometimes be hoarded/reserved in order to gather enough resources for the coordinated start.   Now-a-days this is more of an exception then the norm.

[2015-11-18 17:23] jackgr commented on #17027
After discussing this issue with others offline, it's clear to me that my comments here have been conflating two things:

1. The "official" top level repo for Kubernetes, per the title of this issue.
1. The top level repo for DM.

The former will either have to:

* support multiple tools/formats, in which case it will require discussion and design to finalize, or
* enshrine a single tool/format, i

[2015-11-18 17:24] smarterclayton opened #17443 "Non googlers should be able to get access to the unit/integration logs"
It's very difficult to debug problems for non-googlers now that both shippable and travis are disabled - it wastes developer time (they have to test everything themselves, when the machine has run and tested the box, then they have to nag googlers).

Having access to the unit/integration logs is a must if they are going to gate merges.

[2015-11-18 17:25] smarterclayton commented on #17443
Assigning Jeff randomly

[2015-11-18 17:27] bgrant0607 commented on #8132
Yet another binary format: http://ubjson.org/

[2015-11-18 17:32] therc commented on #16357
I think this is a duplicate of #11204

[2015-11-18 17:35] ihmccreery opened #17444 "Release notes tools are confusing"
Right now, we can use `release-notes/release-notes.go` in [kubernetes/contrib](https://github.com/kubernetes/contrib) to do release notes for alpha releases, (since it properly munges PRs on master,) but must use `build/make-release-notes.sh` for official versions, because it properly follows cherry-picks back to their original PRs, (if they're formatted right, which they aren't always).

These to

[2015-11-18 17:38] smarterclayton commented on #14475
We've been putting together a proposal for an API extension for this that would take the best parts of CF service broker, add in some Kube specific things that are really powerful, and then also let arbitrary provisioning and logic still fit in.

@ncdc, can you get your current deck turned into a summary proposal (high level, not expected to be implemented in Kube in the short term, but for which

[2015-11-18 17:38] soltysh commented on #17364
These garbage you see are the lines under headers for events, here's my output for comparison:
[code]

I assume you have some problems with displayed characters on your console. @jay-lau can you please check this?

[2015-11-18 17:40] jackgr commented on #10408
Similar arguments can be made about other available templating solutions. They all have merit. That's why it doesn't make sense to enshrine one of them. At least, not without a shoot out. If we want to drive a decision, instead of waiting for the community to demonstrate a preference through adoption, then we should compile a list of available candidates and a set of evaluation criteria, and then

[2015-11-18 17:42] soltysh commented on #17364
We're using there unicode 2500 fyi, so I'm guessing your console does not handle unicode well.

[2015-11-18 17:43] ncdc commented on #14475
Will do. Expect it by tomorrow at the latest.

On Wednesday, November 18, 2015, Clayton Coleman <notifications@github.com>
wrote:

[2015-11-18 17:43] soltysh commented on #17364
[This is the line](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/describe.go#L1516) that is responsible for that.

[2015-11-18 17:54] timothysc commented on #17027
never going to happen in open source.  Everyone know that vim is the one true editor amirite ;-)

[2015-11-18 17:58] svennela commented on #17395
I am using MAC. Once i run

bash ./kubernetes/cluster/kube-up.sh

 aws iam list-instance-profiles information is also gone from that shell command. If i open new tab, it works fine. Any pointers??

[2015-11-18 18:06] smarterclayton commented on #10408
I think maybe we're talking about different things - the proposal here is
to create an API object that is the framework for simple parameterization.
We can argue about whether that is desirable or not (lots of data
supporting it's the #1 thing that app authors want).  Templating (logic) is
out of scope.  Orchestration (reconciliation) is out of scope.
It's less about templating than about creating

[2015-11-18 18:14] jackgr opened #17447 "Kubernetes application definition"
Forked from #17027.

Currently, there is no way to define higher level types in Kubernetes. For example, there's no way to abstractly define a Redis cluster, consisting of a Redis master, which consists of a service and replication controller, plus a set of Redis slaves, each of which consists of a service and replication controller pair, with appropriate wiring between the master and slaves.

Gra

[2015-11-18 18:18] jackgr commented on #17027
Well said, @timothysc. It's also unlikely that anyone will want to build an application whose definition spans multiple tool/template formats. Any "official" top level repo will probably need to adopt a single tool/format for the sake of consistency.

And so, this discussion is not likely to lead to the "official" solution any time soon.

Hence, [my comment above](https://github.com/kubernetes/kub

[2015-11-18 18:22] binarybana opened #17448 "Kubectl download links for 1.1.1 still point to 1.0.1"
On the download link to the `kubectl` binary at http://kubernetes.io/v1.1/docs/getting-started-guides/docker.html it still points to the v1.0.1 kubectl binary.

I'm not sure if this is intentional but it meant that things like `kubectl get jobs` didn't work for me.

[2015-11-18 18:29] erictune commented on #16779
#17445 will fix this issue, in one way.

Will still look into @liggitt suggestion about allowing imagePullSecrets but no API token, with a different fix.

[2015-11-18 18:33] erictune commented on #16779
@dead2k
How do you see the proposed `serviceAccount.AutoMountedSecrets` being used by the Token Controller  in the default case and how would the user specify they do not want an API token?

[2015-11-18 18:38] freehan commented on #17284
@ScOut3R The 5 minutes grace period is necessary. You do not want to evict all pods on a node due to a network blip.

I will add a fix to mark pods NotReady when node turn NotReady. This should remove bad endpoints.

[2015-11-18 18:45] ashcrow opened #17449 "Ensure Logging Conventions Are Implemented"
https://github.com/kubernetes/kubernetes/pull/17438 noted a location where the logging did not meet the [conventions](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/logging.md). There is possibly other areas in the codebase that are not following the conventions and should be found and brought up to date. This issue is opened for folks who would like to fix specific areas of the c

[2015-11-18 18:58] smugcloud commented on #14232
Hmm, interesting @cmoad.  I actually already had the `default` serviceAccount in my cluster so I don't think that's it for my issue.
[code]

[2015-11-18 19:03] zmerlynn commented on #17027
There's one piece missing if we're going to split, which is where to put Docker images builds that we're hosting (e.g. https://github.com/kubernetes/kubernetes/tree/master/examples/spark/images, etc.). We can just start a top level https://github.com/kubernetes/images/ repo to crack that nut.

[2015-11-18 19:22] ihmccreery commented on #14780
Closing in favor of #16040.

[2015-11-18 19:22] #14780 closed

[2015-11-18 19:22] ihmccreery commented on #16040
xref #3334 and #2953.

[2015-11-18 19:29] nikhiljindal commented on #17448
The link is https://storage.googleapis.com/kubernetes-release/release/v1.0.1/bin/darwin/amd64/kubectl
cc @caesarxuchao
Another prefix we need to look for https://storage.googleapis.com/kubernetes-release/release/ in the munger.

[2015-11-18 19:31] reesew commented on #8620
I believe I've found this same thing in 1.1. No change? Still not using docker's event stream?

[2015-11-18 19:40] eliaslevy opened #17453 "Scheduler will assign to nodes out of resources pods that don't request specific compute resources"
The PodFitsResources default predicate [will not filter out](https://github.com/kubernetes/kubernetes/blob/0798915490fa60137f8239fd62003516537f3917/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L178-L179) a node that has all of its resources already allocated to pods with requested resources when determining where to schedule a pod that makes no resource requests.  This can result is a n

[2015-11-18 19:40] mattf commented on #17027
On 11/18/2015 12:23 PM, Jack Greenfield wrote:

+2

[2015-11-18 19:41] ixdy commented on #17443
They are accessible, but it's not super obvious how to find them right now.

Basically, navigating to https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/${git-sha}/kubernetes-pull-build-test-e2e-gce/kubernetes-pull-test-unit-integration/ will show you all test results (stdout, test XML reports, verbose test output). You can sorta navigate here by taking the "Test arti

[2015-11-18 19:51] jchauncey commented on #8001
Where is this at as far as running it on a non-google cloud kubernetes stack?

[2015-11-18 20:05] jimmidyson commented on #8001
Just need to try it out with daemon controller really. Without that you don't get the reuse of pod labels in stored events as it can't auth to API server. Would be good to get someone testing it with daemon controller if possible.

[2015-11-18 20:09] jchauncey commented on #8001
Ok I'm still fairly new to this but I will give it a shot. I'm going to use the image in cluster/addons to build a fluentd image unless there is one already hosted on a public repo.

[2015-11-18 20:11] smarterclayton commented on #17447
Depend on whether you are building (accumulating) or defining (all at once) such an application.  They are two different problems (making it easy to add and consume services, vs defining the relationships between a set of components all at once), and we want that to be a clear spectrum.

Things we have said so far (in many different discussions of which only Brian knows the numbers):

1. We want t

[2015-11-18 20:12] smarterclayton commented on #17447
Why would you programmatically determine the set of labels for an application on creation?

[2015-11-18 20:20] jimmidyson commented on #8001
That would be awesome! There is an updated image that should work for you in Docker hub at `fabric8/fluentd-kubernetes:1.3`. Will be good to hear how you get on.

[2015-11-18 20:21] jackgr commented on #17447
Great list. Nice to have it extracted from the various issues and compiled into one place.

[2015-11-18 20:27] jackgr commented on #17447
Because you're creating objects programmatically from type definitions. The assumption here is that instead of creating everything in its own one-off way, we will define mechanisms that make it easy to create things from descriptions. I think that's the point of 7. in the list above, but it applies equally well to resources.

For example, with DM, one can create a Redis type that defines the label

[2015-11-18 20:34] smarterclayton opened #17456 "Deploying applications to Kube should take into account security and the permissions necessary to accomplish their goals"
We are starting to discuss formalizing / defining how an application is deployed onto Kube (via config files, examples, deployment-manager, Helm, and OpenShift templates).  Many of those applications are going to be isolated with no external dependencies.  That's the easy problem.

The next problem is how those applications (or Kube extensions running as extensions) are:
1. Authorized to talk to t

[2015-11-18 20:37] pmorie commented on #17456
Also: host namespace access

[2015-11-18 20:37] smarterclayton commented on #17456
5.ii

[2015-11-18 20:37] markturansky commented on #15390
Does this also apply to selectors?  Would it restrict what I can add to, say, pod's NodeSelector?

[2015-11-18 20:38] pmorie commented on #17456
Retracted :8ball:

[2015-11-18 20:50] smarterclayton commented on #17456
As a concrete example, the OpenShift logging aggregator (https://github.com/openshift/origin-aggregated-logging/tree/master/deployment) is a productized version of the Kube elastic search cluster, but a) secured and b) able to be used from a UI securely.  The implications of that highlight all of the current gaps I mention above - the pieces that defend the cluster and ensure the cluster are whole

[2015-11-18 21:01] timstclair commented on #17412
cc/ @nikhiljindal - Is there another issue I can dedup this to?

[2015-11-18 21:14] pwittrock opened #17458 "Support running node e2e tests locally on linux"
Node e2e tests are written to run on jenkins against gce hosts.  We must support running the node e2e tests against a local cluster compiled from local source.

[2015-11-18 22:17] jchauncey commented on #8001
hrm Im stuck on getting kubectl to take the manifest -

[code]

I have this when starting my api server

[code]

Version:

[code]

manifest -

[code]

[2015-11-18 22:19] wernight opened #17460 "CrashLoopBackOff and confusing status"
Pods are crashing as reported by:

[code]

But the message isn't clear when trying to exec:

[code]

And the describe gives an even more confusion "2/2 replicas created" and it did find the image:

[code]

It would help to have clearer messages to help understand causes of crashes.

The `exec` command could say that the given container isn't running properly on the Pod (with a status or a command

[2015-11-18 22:23] yujuhong commented on #1319
@drocsid, I don't think the [kube-registry add-on](https://github.com/thockin/kubernetes/blob/0b50b7e00f6b9fa29b10ede75adc2460eaad708b/cluster/addons/registry/README.md) works for your use case. The addons explicitly says
[code]

The proxy pod makes it possible for docker to talk to `localhost:5000` **no the node**, instead of `kube-registry.kube-system.svc.cluster.local` to bypass SSL authenticat