[2015-07-13 06:53] dieuroi opened #11134 "Failed to create docker container with error: API error (500): No command specified"
With the help of kubernetes guestbook, I changed the image value and modified the imagepullpolicy as follows
[code]
Since I am in China, I can't pull "gcr.io/google_container/pause:0.8.0". My friend in the USA pulled an image "Kubernetes/pause" for me and I specified *--pod_infra_container_image="Kubernetes/pause"*
But it failed and kubelet log says:

I can't understand this.

[2015-07-13 07:04] marekbiskup commented on #11046
Could you tell me how the logs are rotated?
I need it for my e2e test.
Thanks.

[2015-07-13 07:27] wojtek-t commented on #10792
@davidopp

I looked into those failures and both are exactly the same. For me this seems like some problems with network. Basically in the apiserver there is a log it seems that it's correctly sending a request to the kubelet:

    I0712 22:26:06.333028       8 handlers.go:137] GET /api/v1/proxy/nodes/e2e-gce-minion-4qfv:10250/logs/: (2.052688ms) 503
    goroutine 28999 [running]:
    github.com/G

[2015-07-13 07:33] davidopp commented on #10792
Yeah, retrying seems like a good idea; it can't hurt and maybe it will fix the problem as you say.

[2015-07-13 07:35] wojtek-t commented on #10792
@davidopp - ok - I can prepare a PR for it.

[2015-07-13 07:43] Icedroid commented on #11123
kubelet.ERROR content as follow:

E0713 09:13:32.653059   21812 reflector.go:183] watch of *api.Pod ended with: 401: The event in requested index is outdated and cleared (the requested history has been cleared [2417/2287]) [3416]
E0713 09:27:01.526251   21812 reflector.go:183] watch of *api.Service ended with: 401: The event in requested index is outdated and cleared (the requested history has bee

[2015-07-13 08:03] quinton-hoole commented on #10792
Having a retry in the test seems fine, but it would be good to get to the bottom of why the node network is getting borked. Weve seen that problem elsewhere also.

[2015-07-13 08:07] wojtek-t commented on #10792
@quinton-hoole - I don't think it's Kubernetes problems. Basically, this particular request is not going through kube-proxy or anything like that - we just send an http request directly to Kubelet and it seems Kubelet doesn't event receive it. I'm not sure how/if we can debug it...

[2015-07-13 08:13] gmarek commented on #10480
Thanks @WIZARD-CXY. Closing the issue.

[2015-07-13 08:13] #10480 closed

[2015-07-13 08:35] davidopp opened #11136 "All Shippable builds are failing with "Please run hack/run-gendocs.sh""
I guess we merged a doc PR that hadn't run hack/run-gendocs.

Go to
https://app.shippable.com/builds/55a35fe2bd047d0c00e25ed8
or any other recent build to see the problem.

We should run hack/run-gendocs and submit the result ASAP.

[2015-07-13 09:00] wojtek-t commented on #10127
I think I understand the failure - in test 6 we don't wait until apiserver is really restarted, so it sometimes happen that at the begining of test 7 apiserver is still down (or at least not yet responding to request). I will prepare a fix for it.

[2015-07-13 09:35] jimmidyson opened #11140 "Events appear to be out of order"
I had a pod that was being restarted due to failed liveness probe. `kubectl describe` orders the events by last seen so the `killing` event happens before the `liveness probe failed` event if the liveness probe fails multiple times. Here's a log:

[code]

Notice that the last log, liveness probe failed, first seen before the first kill, hence it was the original trigger, but appears in the describ

[2015-07-13 09:36] quinton-hoole commented on #10792
I'm concerned about our iptables reconfiguration on the nodes, e2e tests that down the node network interface, and the kubelet process that is being restarted.

[2015-07-13 10:04] mwielgus opened #11141 "Document what can be updated with kubectl patch (and how)"
The current documentation is very vague https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl_patch.md and doesn't explain what can be updated in this way. Can I rename or stop the pod, change number of replicas in RC etc.

For example it seems to be impossible to change pod name:
[code]

[2015-07-13 12:20] zmerlynn commented on #11136
The offending PR was #11129

[2015-07-13 12:21] #11136 closed

[2015-07-13 12:37] ReSearchITEng commented on #6888
please move to docker hub...
Especially in intranets, people get:
2700 event.go:203] Event(api.ObjectReference{Kind:"Pod", Namespace:"demo11", Name:"webserver-controller-ychel", UID:"d310777e-2958-11e5-be96-4437e6a56f8a", APIVersion:"v1beta3", ResourceVersion:"274474", FieldPath:""}): reason: 'failedSync' Error syncing pod, skipping: image pull failed for gcr.io/google_containers/pause:0.8.0, this

[2015-07-13 13:07] marekbiskup opened #11144 "Update examples to create service before RC (so that spreading works)"
In examples we always create an RC before creating a service. Then spreading doesn't work.

Examples should be corrected (or clarified that we make this simplification).

cc @lavalamp

[2015-07-13 13:53] zmerlynn commented on #11105
I went ahead and worked something up for this this morning, to get Shippable builds back on the rails.

[2015-07-13 13:58] marekbiskup opened #11148 "Missing error messages from kubectl resize"
There are cases when rc-resize cannot work (e.g. resizing a replication controller that has an RW-mounted PD). However, when we run this command, we don't get a reasonable error message, but a timeout.

I suspect that "resize" handler doesn't actually check the conditions, but dumbly tries to update the RC.

[2015-07-13 14:10] wojtek-t commented on #10548
What we currently have is:

    "GCE_FLAKY_TEST_REGEX="MaxPods.*"

(which is a perfect subset of flaky parallel regexp).
IIUC, we have not all tests running in some set.

Can we close this issue now or is it something still missing here?

[2015-07-13 14:24] wojtek-t commented on #10926
IIUC - #11055 was a fix for this. Can we close this issue now?

[2015-07-13 14:26] wojtek-t commented on #10899
@thockin - changing the cluster size is a trivial change. All we need to do is to set "NUM_NIONS to 3 (or 4) instead of 2:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/jenkins/e2e.sh#L54

[2015-07-13 14:41] #11105 closed

[2015-07-13 14:51] marekbiskup opened #11152 "Describe livenessProbe in the user guide"
I may be wrong, but it looks like the livenessProbe is only described via examples:

examples/liveness/README.md
examples/walkthrough/k8s201.md

It would be nice to have it in the user guide too. It's a nice feature and the example may be overlooked.

[2015-07-13 14:53] erictune commented on #10983
Have you found a measurable difference between taskset and no taskset?

[2015-07-13 14:54] marekbiskup commented on #11152
cc @brendandburns @yujuhong

[2015-07-13 14:54] mwielgus opened #11153 "Kubectl replace on RC leaves the old pods alive"
[code]
I would rather expect that replace == create + delete, but for RC this is not true.

[2015-07-13 15:15] metmajer commented on #11119
Have the same issues when running a Vagrant cluster on my Mac.

[2015-07-13 15:19] marekbiskup commented on #10992
Status:
1. corrected in #11143
2. reported #11144
3. to be investigated
4. to be investigated
5. we will ignore the error (see below)
6. we found one here: examples/update-demo
7. fixed in #11145
8. reported #11148
9. to be confirmed

Ad. 5
from @brendandburns:
I sorted out the kubectl rolling-update issue.  There is an issue with kubectl 0.20.1 and 0.19.3 clusters, you need to explicitly make kub

[2015-07-13 15:24] gmarek opened #11154 "Update examples so that we create Services before creating corresponding ReplicationControllers/Pods."
Currently examples follow wrong pattern of creating RCs first. It makes services spreading no-op.

[2015-07-13 15:32] mikedanese commented on #11152
Maybe user guide would have a better spot but doc is here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/pod-states.md#container-probes

[2015-07-13 15:36] #11153 closed

[2015-07-13 15:36] mwielgus commented on #11153
--cascade solves the problem

[2015-07-13 15:38] marekbiskup commented on #11152
Ok. I missed it.
I'll let the issue stay for a day, and if nobody objects, close it as not needed.

[2015-07-13 15:46] erictune commented on #11070
Yes 6.

On Fri, Jul 10, 2015 at 12:57 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-07-13 15:55] ArtfulCoder commented on #10926
This is fixed.

[2015-07-13 15:55] #10926 closed

[2015-07-13 16:08] mwielgus opened #11157 "kubectl replace - Inconsistent behavior and vague documentation"
Updating a pod (just a label change):
[code]
Updating a service (selector change):
[code]
But on the other hand it is ok to turn RC upside down:
[code]
Can we explain in the doc what is actually possible with `kubectl replace` and when `--force` is needed?
It would be also nice to have consistent error messages (pod vs service replace).

[2015-07-13 16:14] RichieEscarez commented on #11093
Hi @bgrant0607,
Since all user docs are moving over to gh-pages, i dont see this file reorg necessary. Ive also already created the site navigation files for v1 based on the docs/*.md and examples/*.md file structure so this move will also have impact there. Once we move these files to kubernetes.io (#9494), the site navigation will serve as the TOC. Here is a screen cap from my local build:
![k8s

[2015-07-13 16:15] thockin commented on #11048
It was never broken.  We never took away old names.  Can you run kube2sky
with higher -v ?  You should see both sets of names in the logs.

Oh!  Maybe this has some effect...  At some point (around 0.20 I thought)
we changed the default 'search' directives in kubelet from "cluster.local"
to "svc.cluster.local".  Any new pods would get "svc", but any old ones
would not.  But DNS serves both names,

[2015-07-13 16:17] thockin commented on #10809
What you do with nginx depends entirely on your application(s) and how you
use your cluster.  I can not prescribe an answer for that.

On Sun, Jul 12, 2015 at 11:11 PM, KSanthanam <notifications@github.com>
wrote:

[2015-07-13 16:18] esecules opened #11158 "UI Reports Memory Usage Including Buffers and Cache"
It would be more useful to know the amount of memory actually used on my nodes rather than that plus the cache and buffers.

[2015-07-13 16:25] thockin commented on #11133
On Sun, Jul 12, 2015 at 11:39 PM, kgrvamsi <notifications@github.com> wrote:

If you want to bring a node down, first mark the node as unschedulable.

http://releases.k8s.io/v1.0.0/docs/node.md#manual-node-administration

Sorry, when running under a replication controller all pods are
considered identical.

[2015-07-13 16:25] thockin commented on #11133
Closing for now.  Please reopen if this does not answer your questions.

[2015-07-13 16:25] #11133 closed

[2015-07-13 16:28] azr commented on #9944
Hello there, not sure if this is the right place but when I'm running

`kubectl rolling-update previousName -f replication-controller.json`

I get a

[code]

[2015-07-13 16:30] thockin commented on #11134
I don't know if your capiltalization is just a language thing or literal, but it does matter:

[code]

is wrong

[code]
is correct

[2015-07-13 16:41] thockin commented on #11148
We have other problems that we do not catch - an RC that uses a
PersistentVolumeClaim to a PD will not get caught.

On Mon, Jul 13, 2015 at 6:59 AM, Marek Biskup <notifications@github.com>
wrote:

[2015-07-13 16:41] eikaas commented on #11148
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  tapiohush@gmail.com
    Domain eikaas.no has exceeded the max emails per hour (32/30 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, including

[2015-07-13 16:41] thockin commented on #10899
Someone send a PR?

On Mon, Jul 13, 2015 at 7:27 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2015-07-13 16:42] eikaas commented on #10899
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  tapiohush@gmail.com
    Domain eikaas.no has exceeded the max emails per hour (33/30 (110%)) allowed.  Message will be reattempted later

------- This is a copy of the message, including

[2015-07-13 16:46] jlowdermilk commented on #9944
@azr, that looks unrelated to this issue. Please do open a separate issue with your rc file pasted or linked to help debug.

[2015-07-13 16:57] brendandburns commented on #10976
This is now fixed.

[2015-07-13 16:57] #10976 closed

[2015-07-13 17:11] erulabs commented on #11012
@justinsb I apologize - I was traveling right after reporting this bug and haven't gotten back to it - I'm going to try to recreate on the newest release (This bug was on r19). While it did occur to me twice (once with a Jenkins installation and another time with just a few test text files (the /var/nginx) example. It's possible this was me getting unlucky with AWS or the host boxes, and this time

[2015-07-13 17:11] #11012 closed

[2015-07-13 17:11] bgrant0607 commented on #7257
I wove many/most of these practices into the new user-guide content. A bullet list of guidelines in docs/examples would be useful, as well.

[2015-07-13 17:14] bgrant0607 commented on #11093
cc @mikedanese

[2015-07-13 17:20] gmarek commented on #10860
I had relatively little time today, so I didn't manage to finish this today. It requires a little more work, so I'll send the PR tomorrow.

[2015-07-13 17:27] bprashanth commented on #10860
If we can just have a library log cpu/memory at the end of each soak iteration we can observe it over a week as a starting point.

[2015-07-13 17:30] gmarek commented on #10860
That's roughly the idea, but to make it simpler I want to just write a test which will do exactly the same.

[2015-07-13 17:31] eikaas commented on #10860
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  tapiohush@gmail.com
    Domain eikaas.no has exceeded the max emails per hour (30/30 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, including

[2015-07-13 17:31] smarterclayton commented on #7469
Summary of current design discussion:

* DNS can be backed by code https://github.com/openshift/origin/blob/d3282b30203b559d804dcb29fe1209a8b13cf449/pkg/dns/serviceresolver.go#L63
* DNS is important to the operation of a container, so if the DNS server is down some containers can't start
* When running a docker registry on the cluster, the nodes would need to resolve the DNS entry for the registry

[2015-07-13 17:32] eikaas commented on #7469
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  tapiohush@gmail.com
    Domain eikaas.no has exceeded the max emails per hour (31/30 (103%)) allowed.  Message will be reattempted later

------- This is a copy of the message, including

[2015-07-13 17:36] brendandburns commented on #10899
https://github.com/GoogleCloudPlatform/kubernetes/pull/11165 sent.

[2015-07-13 17:55] brendandburns commented on #10423
Moving this into post, since it seems unlikely to get fixed in the near term.  @ixdy feel free to correct me if I'm wrong.

[2015-07-13 18:17] nikhiljindal commented on #11144
Am sorry, can you please elaborate on "Then spreading doesnt work"?

cc @caesarxuchao @JanetKuo @bgrant0607

[2015-07-13 18:19] nikhiljindal commented on #11141
cc @caesarxuchao @mikedanese

[2015-07-13 18:19] mconigliaro opened #11167 "docker --bip=true?"
The "from scratch" getting started guide says this about configuring the bridge for Docker: `Or let docker do it with --bip=true.`

Setting the `bip` option to `true` results in the following error from the docker daemon:

[code]

I believe the `bip` option needs to be a CIDR address (e.g. `--bip=192.168.1.1/24`).

[2015-07-13 18:20] vsimon opened #11168 "images.md Doc typo"
The scp of .dockercfg for-loop command is missing 'done'

[2015-07-13 18:22] nikhiljindal commented on #11140
cc @saad-ali

[2015-07-13 19:02] timothysc commented on #10934
@ixdy - per our discussion last week do you have an outline of your current configuration and how we could potentially add-on?

[2015-07-13 19:09] bgrant0607 commented on #11144
Good point. We should add that to our documentation, also, such as best practices for examples #7257. I'll fix my new docs.

cc @mikedanese

[2015-07-13 19:12] bgrant0607 commented on #9494
Decision: Copy, not move.

[2015-07-13 19:13] bgrant0607 commented on #9494
cc @thockin @lavalamp

[2015-07-13 19:20] lavalamp commented on #9494
gh-pages should be considered an *output* of our release/documentation process. It's not appropriate to keep unversioned docs there, nor to send PRs to it that aren't part of a release process.

[2015-07-13 19:22] lavalamp commented on #10792
I don't know about retrying, it already tries N times and expects them all to succeed.

[2015-07-13 19:56] #5349 closed

[2015-07-13 20:06] rrati opened #11172 "controller-manager won't start without --cloud-provider"
#kube-controller-manager --help
...
            --cloud-provider="": The provider for cloud services.  Empty string for no provider.
...

But when I try to start the cm, it fails with:
controllermanager.go:198] Failed to start service controller: ServiceController should not be run without a cloudprovider

The help implies cloud-provider is not required, and it didn't used to be required.

[2015-07-13 20:08] timothysc commented on #11172
umm we run local bare metal, someone care to explain this recent 11th hour change?

/cc @eparis

[2015-07-13 20:10] #11168 closed

[2015-07-13 20:16] #11172 closed

[2015-07-13 20:16] erictune commented on #11140
Showing the container ID in the Message defeats the event collapsing feature of events.  The events should be (IMO):
[code]

[2015-07-13 20:16] bgrant0607 commented on #10966
cc @caesarxuchao

[2015-07-13 20:16] bgrant0607 commented on #9753
cc @caesarxuchao

[2015-07-13 20:16] timothysc commented on #11172
retract.

[2015-07-13 20:23] thockin commented on #11172
For posterity - can someone please summarize?

On Mon, Jul 13, 2015 at 1:17 PM, Timothy St. Clair <notifications@github.com

[2015-07-13 20:25] suyogbarve commented on #9580
@moix : I am facing the same issue, I am unable to ping the pods on a different node.
Even from master I am not able to ping any pods.
How did you fixed your problem?

[2015-07-13 20:29] caesarxuchao opened #11173 "--validate does not work for `kubectl patch`"
For example, if I run

[code]

though spec.name is not a valid field, `--validate` does not report an error.

@nikhiljindal @bgrant0607

[2015-07-13 20:32] rojer opened #11175 "Public IP is released during LoadBalancer service config updates"
During update of a type = LoadBalancer service on GCE LB config is re-created and public ip is not preserved. It should be.

[2015-07-13 20:32] caesarxuchao commented on #11141
After an in person discussion with @bgrant0607, we think the docs should point people to the swagger-ui to find if a field is mutable. I'll add this point into the docs.

[2015-07-13 20:36] rojer opened #11177 "It should be possible to specify static public IP for LoadBalancer services"
What subj says - use existing allocated static IP instead of auto-assigning one.
Sometimes renumbering and reconfiguring is a pain, it would be nice to be able to preserve IP when moving to container clusters.
Could be a viable workaround for #11175 too. The two of them make service reconfiguration (adding/removing ports) impractical.

[2015-07-13 20:44] saad-ali commented on #10899
Pushing a new build to soak to verify #11165

[2015-07-13 20:47] antoineco opened #11178 "Kubernetes 1.0.0 does not create default secrets anymore"
On a freshly provisioned cluster (v1.0.0), I noticed that the default secrets were not created anymore for any of my namespaces.

Here the `apiserver` flags I use:
[code]

[2015-07-13 20:50] thockin commented on #11178
Can you show us what you mean (what kubectl command)?

On Mon, Jul 13, 2015 at 1:48 PM, Antoine Cotten <notifications@github.com>
wrote:

[2015-07-13 20:53] antoineco commented on #11178
A simple `kubectl get secrets --namespace=xxx`. <private joke>This means skydns is broken again</private joke>

[2015-07-13 21:00] thockin commented on #11178
I just brought down my cluster to build a new one and test, but honestly we
have significant e2e tests that cover this.  I doubt if it is broken in
general.  will try to repro

On Mon, Jul 13, 2015 at 1:54 PM, Antoine Cotten <notifications@github.com>
wrote:

[2015-07-13 21:07] antoineco commented on #11178
Yes tests usually cover that quite well, hence my surprise. I'm investigating as well on my side.

The best I could find so far is inside the kube-controller-manager logs:
[code]

[2015-07-13 21:15] nikhiljindal opened #11181 "Unnamespaced POST (api/v1/kind) is broken for namespaced objects (pods, endpoints, etc)"
POSTing to /api/v1/endpoints results in 403, while POSTing to api/v1/namespaces/default/endpoints woks fine.

Steps:

```$ curl -X POST http://localhost:8080/api/v1/endpoints -d @/tmp/endpoint.json ``` gives me:

[code]
My endpoint.json:
[code]

``` $ curl -X POST http://localhost:8080/api/v1/namespaces/default/endpoints -d @/tmp/endpoint.json ``` works fine and gives me 200 status:
[code]

[2015-07-13 21:18] nikhiljindal commented on #11181
cc @bgrant0607
As per discussion, POSTing to /api/v1/endpoints should not be allowed. It should return a 404.

[2015-07-13 21:24] antoineco commented on #11178
@thockin I regenerated the certificate and especially key used by kube-controller-manager (`-service-account-private-key-file`) and it worked. Closing, sorry for the panic!

[2015-07-13 21:24] #11178 closed

[2015-07-13 21:37] brendandburns commented on #10125
Asssigning to @gmarek since I think he has it in #10827

[2015-07-13 21:46] thockin commented on #11178
Whew.  I was about top come tell you "works for me" which is the least
helpful thing ever uttered :)

On Mon, Jul 13, 2015 at 2:24 PM, Antoine Cotten <notifications@github.com>
wrote:

[2015-07-13 21:54] moix commented on #9580
Hi @suyogbarve, in my case it was a problem in one node related to flannel interface was removed from routing table.
Please check _ip a_ and _route -n_ commands and ensure nodes can route each other via flannel interface.

[2015-07-13 22:00] smarterclayton commented on #11070
Although I'd almost prefer not having to know about the service account at
all (have the secret added to the default service account implicitly).
Having to bind to a service account always introduces a point of coupling
that the pod author (or template author) may not need to know about.

Service accounts exist in part to enable isolation of secrets.  But
mandating the isolation puts the burden on

[2015-07-13 22:02] caesarxuchao commented on #10966
FWIW, if all we care about an API type is its description tag, then we can parse the files in api/swagger-spec.

[2015-07-13 22:05] erictune commented on #10861
When this merges, need to update docs/compute_resources.md.  Search for `10861` in that doc.

[2015-07-13 22:06] jimmidyson commented on #11140
@erictune The container ID is totally unnecessary anyway so this is definitely an improvement. Still feels a bit weird to have the liveness probe failure after the kill event.

[2015-07-13 22:29] erictune commented on #10966
yes let's do that for now.

On Mon, Jul 13, 2015 at 3:02 PM, Chao Xu <notifications@github.com> wrote:

[2015-07-13 22:31] bgrant0607 commented on #10446
cc @nikhiljindal @caesarxuchao

[2015-07-13 22:36] erictune commented on #10966
Proposal:
[code]

On Mon, Jul 13, 2015 at 3:29 PM, Eric Tune <etune@google.com> wrote:

[2015-07-13 22:40] saad-ali commented on #10127
Sorry to keep beating a dead horse, but "Shell should pass tests for services.sh" still looks flaky. After #11139 was merged it has failed two GCE E2E runs, and the 1 and only GCE soak test run after today's 2 PM deployment.

See:
* job/kubernetes-e2e-gce/7575/
* job/kubernetes-e2e-gce/7576/
* job/kubernetes-soak-continuous-e2e/1981/

[2015-07-13 22:46] caesarxuchao commented on #10966
SGTM. Do you want to code it up or shall I? I'd be happy to do it.

[2015-07-13 22:48] caesarxuchao commented on #10966
Oh, we can parse the model.description for easy API type as well. go-restful will generate model.description, but we have filled in content yet. #5331

[2015-07-13 22:48] erictune commented on #10966
Go for it.

On Mon, Jul 13, 2015 at 3:46 PM, Chao Xu <notifications@github.com> wrote:

[2015-07-13 23:04] arun-gupta opened #11192 "Confusing instructions for starting cluster using Vagrant"
Getting Started with Vagrant at https://github.com/GoogleCloudPlatform/kubernetes/blob/v0.21.2/docs/getting-started-guides/vagrant.md says to setup cluster using

[code]

and then

[code]

The instructions are confusing and seems to indicate that both are required where as the first one downloads Kubernetes and starts the cluster. The later option requires to download Kubernetes and start cluster

[2015-07-13 23:07] #10692 closed

[2015-07-13 23:09] thockin commented on #8799
is this still alive or can we close it?

[2015-07-13 23:11] satnam6502 commented on #11046
[code]

[2015-07-13 23:12] thockin commented on #11175
This is a bug and a dup of #11002, but that indicates that the IP would be preserved - I am not sure how.

[2015-07-13 23:12] #11175 closed

[2015-07-13 23:12] thockin commented on #11002
How is the LB preserved?  #11175 indicates it is NOT preserved, making this higher prio.

[2015-07-13 23:14] #8799 closed

[2015-07-13 23:18] fredjean commented on #10906
I have a license for Fusion and the associated Vagrant plugin. I was able to reproduce the original issue. Upgrading the box to Fedora 21 lead to a different error:

[code]

I'm willing to help troubleshoot and put together a PR to address.

[2015-07-13 23:19] #10779 closed

[2015-07-13 23:35] fredjean commented on #10906
Further investigation shows that the error I'm getting is a vagrant issue, not a kubernetes issue. I'll see if I can find a solution.

[2015-07-14 00:18] dchen1107 commented on #11046
@marekbiskup I believe our log rotation for daemons and docker containers are all controlled by logrotation configuration files. Kubelet doesn't do extra handling on logrotation.

For an example you gave above: https://github.com/GoogleCloudPlatform/kubernetes/issues/11046#issuecomment-120276366
I think the testing container you have might log too much, and reach the maxsize 10M very fast. I just

[2015-07-14 00:28] nikhiljindal commented on #11181
Actually, this is not restricted to just endpoints. I tried it on a few more resources (POST to /api/v1/<resourceKind>) and all of them return the same 403 error.

cc @smarterclayton

[2015-07-14 00:28] bprashanth commented on #10860
https://github.com/GoogleCloudPlatform/kubernetes/pull/11196

[2015-07-14 00:29] jason-riddle commented on #11119
Steps to reproduce (For me at least)

    export KUBERNETES_PROVIDER=vagrant
    boot2docker up
    boot2docker ssh sudo /etc/init.d/docker restart  # (Fixes Issue in http://git.io/vmtb6)
    $(boot2docker shellinit)
    make clean
    make quick-release

Then

    ./cluster/kube-down.sh
Bringing down cluster using provider: vagrant
==> minion-1: VM not created. Moving on...
==> master: VM not cre

[2015-07-14 00:36] nikhiljindal commented on #11181
If we want to stop supporting POST to /api/v1/\<resourceKind\>, then just removing one line https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/api_installer.go#L330 will fix it.
But I am not sure what is the right expectation here.

[2015-07-14 00:53] yujuhong commented on #11007
That'd be helpful. Thanks!

It's likely to be the second case in my previous https://github.com/GoogleCloudPlatform/kubernetes/issues/11007#issuecomment-120127523
"After kubelet starts the containers, it does not immediately perform the readiness check. Thus the containers would stay unready until the next sync. We can consider performing the extra probe to eliminate the at most 10 second delay."

[2015-07-14 01:03] yujuhong commented on #10860
I've discussed with @dchen1107 last week to implement mechanisms like this, but I forgot to subscribe/update this issue. Sorry about that.
I have two PRs up for this already: #11074 introduces utility functions to scrape cadvisor (through kubelet /stats/container). #11196 adds resourceMonitor, which polls kubelet periodically and stores the usage information in a fixed-size buffer. Tests can calls

[2015-07-14 01:03] smarterclayton commented on #11181
It was there to support a few resources in Openshift that were hybrid cluster/namespace scoped and allowed create without a namesapce.  @deads2k and I are in the process of discussing how to remove that complexity - if necessary we can carry a patch.

[2015-07-14 01:27] karlkfi commented on #11192
@derekwaynecarr has been owning the vagrant cluster, but I'm sure he'd prefer a PR for a docs change.

[2015-07-14 01:33] arun-gupta commented on #11192
sure, I can do it. Send the PR on trunk?

[2015-07-14 01:39] karlkfi opened #11199 "./hack/verify-gendocs.sh verify failures"
Shippable is failing on master and PRs.

Locally on master:

[code]

Examples:
- https://app.shippable.com/builds/55a425f0bd047d0c00e52b92
- https://app.shippable.com/builds/55a44aaebd047d0c00e5c79b

[2015-07-14 01:44] dieuroi commented on #11134
I'm sorry that I made a mistake when asking this question but I do used the **correct** one in my json file.
I found that when I pull the "kubernetes/pause" image from dockerhub then the image was useful. But when I saved the image for another computer which have no access to the Internet, kubernetes failed to create container again.

My commands for saving the image are as follows.
[code]

[2015-07-14 01:45] Icedroid commented on #11123
rc is created successfully, but no running pods, Who know why this is happen?
[code]

I get no any error on the kubelet, controller-manager logs. But the pod not run.

[2015-07-14 01:48] karlkfi commented on #11199
Looks like failures to `mungedocs --verify` now explodes on https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/verify-gendocs.sh#L52 without telling the user to run `hack/run-gendocs.sh`. Likely due to `set -o errexit`.

[2015-07-14 01:50] karlkfi commented on #11199
`hack/run-gendocs.sh` on master doesn't actually make any changes, but yet mungedocs --verify fails:

[code]

[2015-07-14 01:54] Icedroid commented on #11123
When start api-server I got these errors:

Log file created at: 2015/07/14 09:50:23
Running on machine: urestful
Binary: Built with gc go1.4.2 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
E0714 09:50:23.336410   29675 reflector.go:136] Failed to list *api.Namespace: Get http://0.0.0.0:8888/api/v1/namespaces: dial tcp 0.0.0.0:8888: connection refused
E0714 09:

[2015-07-14 01:56] karlkfi commented on #11199
`_output/local/bin/darwin/amd64/mungedocs --verify=true --root-dir=$PWD/docs/` passes on master.

[2015-07-14 02:00] karlkfi commented on #11199
False alarm. Recent master changes are causing PRs that aren't rebased to fail `./hack/verify-gendocs.sh`. They pass once rebased.

[2015-07-14 02:00] #11199 closed

[2015-07-14 02:11] karlkfi commented on #11192
head of master, yes.

[2015-07-14 02:11] saad-ali commented on #10127
Fixed with #10127

[2015-07-14 02:11] #10127 closed

[2015-07-14 02:29] arun-gupta commented on #11192
Pull request created: https://github.com/GoogleCloudPlatform/kubernetes/pull/11200

[2015-07-14 02:52] ardemiranda opened #11201 "Error exec "cluster/kube-up.sh". aws without public ip"
When you run the "Cluster / kube.up.sh" error below

./../cluster/aws/util.sh: line 182: get_instance_private_ip: command not found

i add the function in cluster/aws/util.s
[code]

[2015-07-14 03:20] thockin commented on #11199
I synced to head and have no such problem.  Please resync

On Mon, Jul 13, 2015 at 6:39 PM, Karl Isenberg <notifications@github.com>
wrote:

[2015-07-14 03:20] thockin commented on #11199
Sorry, I responded by email before reading it all :)

[2015-07-14 03:22] thockin commented on #11134
@dchen1107

On Mon, Jul 13, 2015 at 6:44 PM, dieuroi <notifications@github.com> wrote:

[2015-07-14 03:23] thockin commented on #11123
0.0.0.0 is obviously wrong.  You're setting some flag somewhere wrongly/.

On Mon, Jul 13, 2015 at 6:54 PM, Icecream <notifications@github.com> wrote:

[2015-07-14 03:26] thockin commented on #11201
@justinsb

On Mon, Jul 13, 2015 at 7:53 PM, André Ribeiro de Miranda <
notifications@github.com> wrote:

[2015-07-14 03:59] caesarxuchao commented on #10966
I used json.Unmarshal to unmarshel the spec file to swagger.apiDeclaration. The only problem with this approach is that it doesn't preserve the order of the fields, which is a known problem :(

[2015-07-14 04:05] lvlv opened #11203 "tag v1.0.0 (cd82144) fails unit test"
This bug should already got fixed in commit ca21fca7 by Zach Loafman, shall we cherrypick?

$ hack/test-go.sh pkg/kubectl/cmd
Running tests for APIVersion: v1 with etcdPrefix: registry
+++ [0714 11:56:13] Running unit tests without code coverage
W0714 11:56:19.642163   31364 cmd.go:149] -p POD is DEPRECATED and will be removed in a future version. Use exec POD instead.
W0714 11:56:19.642215   3136

[2015-07-14 04:10] mikedanese commented on #11203
It's been cherry picked. #11147

[2015-07-14 04:11] mikedanese commented on #11203
Wrong one. Here it is: #11160

[2015-07-14 04:24] caesarxuchao commented on #10966
FWIW, go-restful/swagger.ModelList.UnmarshalJSON also mess the order. It looks like we need a customized UnmashalJSON.

ref #10311

[2015-07-14 04:49] thockin opened #11204 "kubelet's MASQUERADE support is insufficient"
Today kubelet sets up an iptables MASQUERADE rule for any traffic destined for anything except 10.0.0.0/8.  This is close, but not even correct on GCE, and certainly not right elsewhere.

First GCE.  We probably want something like:

[code]

This catches all traffic to RFC1918 ranges and masquerades it.  We can probably optimize with CONNMARK or something so we only consider packets from container

[2015-07-14 04:52] thockin commented on #10955
Folding into #11204

[2015-07-14 04:52] #10955 closed

[2015-07-14 04:52] thockin commented on #11204
From @caetanovendrami on #10955

Kubelet on minions is creating an iptables rule for masking any connections except for 10.0.0.0/8 which is a fixed rule in pkg/kubelet/container_bridge.go.
I think it should be the ${CLUSTER_SUBNET} (which varies from provider to provider). Due to that rule I can't connect to an outside service on a different network (eg 10.100.0.0/16) which is out of my cluster ad

[2015-07-14 04:53] thockin commented on #10303
fold into #11204

[2015-07-14 04:53] #10303 closed

[2015-07-14 04:53] #9372 closed

[2015-07-14 04:58] Icedroid commented on #11123
@thockin you can see
[code]
 So I think 0.0.0.0 is right.

[2015-07-14 05:20] mikedanese commented on #11152
Looks like there will be some doc on liveness probes added here as well:

https://github.com/GoogleCloudPlatform/kubernetes/pull/11205/files

[2015-07-14 05:24] thockin commented on #11123
*api.Namespace: Get http://0.0.0.0:8888/api/v1/namespaces: dial tcp
0.0.0.0:8888: connection refused

Clearly it's not right or it would work :)

0.0.0.0 is an unspecified IP.  It literally has no meaning in the context
of a connection attempt.  So the mission is to find out what flag is being
mis-used.

On Mon, Jul 13, 2015 at 9:58 PM, Icecream <notifications@github.com> wrote:

[2015-07-14 05:35] thockin commented on #10222
The biggest problem I see in this is that Docker's bridge assumes a prefix, and all container IPs must be "behind" that prefix.  That said, some BGP-based solutions (e.g. Calico) have emerged, which might help you.  Sadly, Docker's network plugins are not ready for prime time, and that sort of limits what we can really do in our own Plugins, for now.  for example, I can not report a different IP t

[2015-07-14 05:35] #10222 closed

[2015-07-14 05:54] antoineco commented on #11123
Maybe your kubeconfig file points to 0.0.0.0?

Btw, how did you fix the errors you mentioned before ? That could help other people in your case.
[code]

[2015-07-14 06:03] marekbiskup commented on #11144
By spreading I mean assigning pods to different nodes.
By default, the scheduler score is counted from the number of allocated pods, CPU allocation and memory allocation (and maybe more factors).
If there is a service over our pods, there is additional score for nodes that don't host pods of this service (this may be an oversimplification - I haven't looked in the code). So our pods are spread acr

[2015-07-14 06:08] marekbiskup commented on #11046
Actually my rotated files were small - just a few lines. So it's still unexplained.
Anyway, I agree with @satnam6502  that we should clarify that `kubectl logs` may be unreliable and the user should not assume they are complete. We may also put this note in our examples.

[2015-07-14 06:09] marekbiskup commented on #11152
Ok, there is more than I expected. Closing as a false report.
Sorry for bothering you.

[2015-07-14 06:09] #11152 closed

[2015-07-14 06:15] mikedanese commented on #11152
Not bothered at all :) it's good to have people pointing out holes in the doc

[2015-07-14 06:16] fzu-huang opened #11206 "kubernetes1.0 build failed..."
i download kubernetes1.0 and build in centos7.  but it fialed.

[root@localhost kubelet]# go build
# github.com/docker/libcontainer/cgroups/systemd
../../../../docker/libcontainer/cgroups/systemd/apply_systemd.go:87: not enough arguments in call to theConn.StartTransientUnit
../../../../docker/libcontainer/cgroups/systemd/apply_systemd.go:102: not enough arguments in call to theConn.StopUnit
../..

[2015-07-14 06:22] Icedroid commented on #11123
@antoineco these error also exists now. But I have the rc running normal.

@thockin  After restart the etcd with as follow:
[code]
then errors:

gone.

[2015-07-14 06:23] davidopp commented on #10868
And again:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/7583/console

[2015-07-14 06:30] marekbiskup opened #11207 "Cluster DNS example - connection timeout to backend"
This is about examples/cluster-dns/.

I'm trying to write an automated test and the code is more or less the following:

[code]

The frontend pod just tries to connect the backend via a dns name and then prints the result. In most cases it works great, but in 1/20 cases instead of the result, the frontend pod gets a timeout.

[code]

I believe there is something wrong with kubernetes, not with the

[2015-07-14 06:31] marekbiskup commented on #11207
Note that even though this occurs quite infrequently, it is quite easy to reproduce. Usually it takes 30-90 minutes to reproduce.

[2015-07-14 06:38] bgrant0607 commented on #11007
That indeed sounds like the problem.

[2015-07-14 06:57] wojtek-t commented on #10127
@saad-ali - thanks for fixing it!

[2015-07-14 07:12] marekbiskup opened #11209 "Use pod yaml to create a replication controller"
Currently, in order to create an RC, the user has to put pod specification (pod template) into a replication controller. But it seems natural to be able to create an RC having a pod definition, without having to copy pod specification to the RC. It is especially useful for examples and new users (this feature was suggested by a few of them).

Comments from email exchange:
- It's not generally poss

[2015-07-14 07:29] marekbiskup opened #11210 "create an alias 'list' for `kubectl get'"
Some software (e.g. gcloud or ecs CLI) uses the work `list` instead of `get` to retrieve a list of API objects (e.g. pods, replication controllers, etc). Users may be happy to have more consistent CLI even across products. Adding a synonym `list` for retrieving objects would make users life slightly easier.

On the other hand, a good practice is to have only one way to make things, so that users d

[2015-07-14 07:29] davidopp commented on #10962
+1

[2015-07-14 07:30] marekbiskup commented on #11210
cc @brendandburns

[2015-07-14 07:36] Icedroid commented on #11123
I know why these error happen, It is because admission-control problem, Now I only can use  --admission-control="AlwaysAdmit"
[code]

E0714 15:34:18.287843   31186 reflector.go:136] Failed to list *api.LimitRange: Get http://0.0.0.0:8888/api/v1/limitranges: dial tcp 0.0.0.0:8888: connection refused
E0714 15:34:18.287930   31186 reflector.go:136] Failed to list *api.ResourceQuota: Get http://0.0.0.

[2015-07-14 07:39] gmarek commented on #10860
Seems like overkill to me - I can easily scrape cadvisor without a fancy machinery around it and don't block on your PRs:)

[2015-07-14 07:46] marekbiskup opened #11212 "Show logs from updated pods during rolling update"
This is a suggestion from one of our users.

During rolling update, we are informed about replication controller changes:

[code]

But even if replication controllers are scaled properly, we don't know if the pods actually started and are well. A way to check pods is to get logs from each of them and check if they printed a certain message like `service started`. Currently to achieve it, we have t

[2015-07-14 08:00] marekbiskup opened #11213 "Need a container with installed gsutil (to access gcs)"
Consider the following use case:
A hadoop batch job creates an input file for another service. The service then uses it as an input.
We need to exchange the data via some storage. But a PD cannot be mounted RW on on many nodes (we need RW access for hadoop, and RO for the service).

A way (on GCP) to exchange the data is to use GCS. A sidecar container would read the input file from GCS and put in

[2015-07-14 08:02] marekbiskup commented on #11213
cc @brendandburns @lavalamp

[2015-07-14 08:09] marekbiskup opened #11214 "API doc (swagger) doesn't mention which fields are optional"
I wonder if it is possible to include the information about which fields are optional into swagger. Maybe as annotations.

There is such documentation for GKE:
https://cloud.google.com/container-engine/docs/spec-schema
But I haven't found it for opensource Kubernetes.

[2015-07-14 08:11] marekbiskup commented on #10992
4. we don't have any doc describing which fields in the API are required
#11214

Remaining: 3, 9.

[2015-07-14 08:28] marekbiskup commented on #11214
cc @nikhiljindal

[2015-07-14 08:38] #11203 closed

[2015-07-14 08:38] gmarek opened #11215 "Kubelet restarts for unknown reasons causing e2e test failures."
Discussed originally in #10792, #10899.

We observe e2e test failures which were tracked down to Kubelet being restarted. Further investigation revealed that Kubelet was not getting `healthz` probes from Monit, so current theory is that restart is orchestrated by Monit which does not receive responses from Kubelet for some reason (Monit prober hanging? some network configuration issues? Problems w

[2015-07-14 08:40] lvlv commented on #11206
I built through hack/build-go.sh, which use checked-in go deps, and it
passed, can you try that?

On Tue, Jul 14, 2015 at 2:17 PM, fzu-huang <notifications@github.com> wrote:

[2015-07-14 09:02] roackb2 opened #11216 "local-up-cluster.sh not running correctly"
when issuing following:
   `` [root@mymachine hack]# ./local-up-cluster.sh``
returns this:
   ``./local-up-cluster.sh: line 36: ./../hack/lib/init.sh: No such file or directory``
I suggest adding ``KUBE_ROOT=$PWD`` after ``cd "{$KUBE_ROOT}"`` to get absolute path:

I'm  a totally newbie to kubernetes & open source community who happens to found a small bug,
hope this helps.
And if it does not or I

[2015-07-14 09:12] davidopp commented on #11215
@dchen1107

[2015-07-14 09:14] fzu-huang commented on #11206
@lvlv      thank you for your help~   i  run ./build-go.sh  but it still failed.this is the log:

[root@root hack]# ./build-go.sh
+++ [0706 16:42:20] Building go targets for linux/amd64:
    cmd/kube-proxy
    cmd/kube-apiserver
    cmd/kube-controller-manager
    cmd/kubelet
    cmd/hyperkube
    cmd/kubernetes
    plugin/cmd/kube-scheduler
    cmd/kubectl
    cmd/integration
    cmd/gendocs

[2015-07-14 09:16] fzu-huang commented on #11206
but when  i  "go  build"   others , such as  kubectl.go      it succeeded.  by the log   i saw something wrong in the  code .  but this is the version 1.0!   i can't believe that...

[2015-07-14 09:35] wojtek-t commented on #11215
cc @saad-ali (who was looking into similar problems as part of #10792 - see e.g. https://github.com/GoogleCloudPlatform/kubernetes/issues/10792#issuecomment-119752028)

The next interesting run is:
kubernetes-e2e-gce-parallel/3419
with strange things happening on the master machine (all master components seems to be killed, Kubelet is up for ~6 more minutes, then it's restarted and everything else

[2015-07-14 09:43] lvlv commented on #11206
hack/build-go.sh now depends on rsync, try yum install rsync, and build
again

On Tue, Jul 14, 2015 at 5:17 PM, fzu-huang <notifications@github.com> wrote:

[2015-07-14 09:44] marekbiskup commented on #11214
Everything is written in the swagger UI. We must have overlooked it.

example:

[code]

[2015-07-14 09:44] #11214 closed

[2015-07-14 09:47] gmarek commented on #11215
For interested parties here is interesting part of the logs:
[code]

Where @^ is really ^@ and there's 3740 of them:
[code]

As @mwielgus suggested this log is probably caused by some buffer overwrite. Only component that does not have this kind of log is Kubelet, which may indicate that some OOM happened on the machine, and Kubelet was unaffected because we adjusted its OOM score.

[2015-07-14 09:54] marekbiskup commented on #11209
I actually found podtemplate to be already present in both the API and kubectl. So it looks like 1. is already implemented - maybe it is just not documented and it is not in the examples (or maybe I overlooked it).

[2015-07-14 10:25] marekbiskup opened #11218 "posting a pod to the API server without a namespace in the url doesn't work"
but is documented in the swagger API.

We should remove this API call from the spec if it doesn't work.

This works for POST:
`https://146.148.17.25/api/v1/namespaces/default/pods`

This doesn't work for POST:
`https://146.148.17.25/api/v1/pods`

Details:

Pod:
[code]

target url
`https://146.148.17.25/api/v1/pods`
result:
[code]

target url
`https://146.148.17.25/api/v1/namespaces/default/pods`
(

[2015-07-14 10:42] feihujiang opened #11220 "Map a container port to a random host port?"
We know, docker -P could map a container port to a random host port. I want to know if Kubernetes has this function (map a container port to a random host port)? if it has, what should I do to use this function, Is there any flag to be set in PodSpec or ContainerPort  to use this function?

[2015-07-14 11:03] pz07 opened #11221 "Http logs for Kubernetes services"
I wonder if there is a way to get HTTP (access) logs for Kubernetes services. Ideally it would look similar to logs provided by HAProxy: http://cbonte.github.io/haproxy-dconv/configuration-1.5.html#8.2.3

I guess it would be helpful in investigating issues in microservices environment.

[2015-07-14 11:43] marekbiskup commented on #11207
cc @mwielgus

[2015-07-14 11:57] marekbiskup commented on #11207
@mwielgus suggests this is a problem with delayed endpoint creation for a service. Basically, when I connect to the service, it has no endpoints at the moment and that's why connection times out.

The solution is to wait for service endpoints before creating the frontend pod.

[2015-07-14 12:19] Icedroid opened #11222 "Kubernetes 1.0.0 apiserver using http got errors"
[code]

I got so many errors:

[code]

I deploy k8s cluster [Getting Started from Scratch](https://github.com/GoogleCloudPlatform/kubernetes/blob/v1.0.0/docs/getting-started-guides/scratch.md)  with Access the apiserver using HTTP.

When I start apiserver as follow:
[code]
If I start apiserver not have  --admission-control.The k8s cluster run OK and I can create rc in normal.
[code]

[2015-07-14 12:42] mwielgus commented on #11157
cc: @bgrant0607

[2015-07-14 12:52] dieuroi opened #11223 "The main container is exited after the POD container is killed"
I use docker version 1.2 and kubernetes v0.20.2 on os SUSE.
I made a image called suse13.1/apache and service apache will start once container is created.
My json file for creating a pod is as follows.
[code]

And I use **google/pause:go** instead of gcr.io/google_container/pause. The pod is created but still not ready:

[code]

After a while, the pod is exited.

[code]

The describe of the pod sa

[2015-07-14 13:20] rrati opened #11225 "hack/local-cluster-up isn't setting/creating certificates, tests fail"
The hack/local-cluster-up isn't generating and setting the --root-ca-file on the controller-manager, which is now needed for some tests to pass.  Running one of the networking tests:

_output/local/bin/linux/amd64/e2e.test --host=http://127.0.0.1:8080 --provider="local" --ginkgo.v=true --ginkgo.focus="should function for intra-pod communication" --kubeconfig="$HOME/.kubernetes_auth"

against the c

[2015-07-14 13:22] timothysc commented on #11225
cross-ref - https://github.com/GoogleCloudPlatform/kubernetes/issues/11061#issuecomment-120499034

/cc @thockin

[2015-07-14 13:22] perljedi opened #11226 "Swagger API docs for getting container logs missing an input parameter"
Using the REST api to get logs for a container running in a multi-container pod requires using "container" URI parameter.  That parameter doesn't not show up at all in the Swagger api docs.

[2015-07-14 13:40] pmorie commented on #11220
Currently there's no way to do this -- I would argue that it's probably not great to consume random host ports as it could complicate scheduling of other pods that wanted to use the consumed port.  Can I ask, what is the enclosing use-case?  Perhaps there's a better way to get you what you want.

[2015-07-14 13:40] marekbiskup commented on #10992
3. posting a pod to the API server without a namespace in the url doesn't work (even though it is described in the swagger API). the namespace in the url seems to be required.

reported #11218

[2015-07-14 13:41] antoineco commented on #11123
I still don't understand what queries the API on 0.0.0.0. What flags are you using to start your controller-manager (and optionally scheduler)?

[2015-07-14 13:45] mwielgus opened #11227 "kubectl replace --force doesn't work with stdin input"
Resource description is read 2 times (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/replace.go#L135).
The second attempt fails (stdin is not "rewinded")
[code]
As a result the resource is deleted but not created again.

[2015-07-14 13:55] hobti01 opened #11228 "ip address assignment to service"
I'm running a Kubernetes 0.17.0 cluster on CoreOS with flannel.  I have a combined master/node and one additional node.  kube-dns is running and most services are operating without issue.  There are no issues communicating directly from pod to pod.

However, I have a service that does not function as expected.  DNS resolution works but nothing traverses the service IP.  It has been assigned an IP

[2015-07-14 13:59] bgrant0607 commented on #11218
Cc @nikhiljindal

[2015-07-14 14:04] delianides commented on #11220
@pmorie Am I correct in saying that random host ports within Kubernetes are even irrelevant because each pod will have its own generated IP? With docker, unless you have a networking plugin, everything is bound to the host machine's IP address.

[2015-07-14 14:25] cianclarke opened #11229 "Swagger API documentation nicknames should include unique for each operation"
cc @smarterclayton
As I understand it, the nickname for each operation should be unique[1]. I searched the open issues, and could not find an open issue relating to this, however my apologies if this is a duplicate.
Since the introduction of 'namespaced' apis (`/api/v1/services` v.s.`/api/v1/namespaces/{namespaces}/services`), there are operations with duplicate nicknames [2][3].
This means when w

[2015-07-14 14:35] pmorie commented on #11220
@delianides You can still consume a host port if you need it.  I'm having trouble thinking of a use-case for a random host-port, though.

[2015-07-14 15:00] andronat commented on #5331
JFYI we are doing significant changes on how to handle information exposed to swagger: #10933

[2015-07-14 15:16] rojer commented on #10664
this just happened to me - PD with ext4 got corrupted while deleting / creating a pod (through RC, but whatever). dmesg is full of SCSI errors, with "Couldn't clean up journal at the end":

(lots and lots more here)
[81016.158253] sd 0:0:2:0: [sdb] CDB:
[81016.158697] Read(10): 28 00 00 00 00 02 00 00 02 00
[81016.159485] sd 0:0:2:0: [sdb] Unhandled error code
[81016.160100] sd 0:0:2:0: [sdb]
[810

[2015-07-14 15:27] delianides commented on #11220
@pmorie Sorry, that was my point. I was trying to highlight the difference between the docker client and kubernetes.

[2015-07-14 15:27] marcospedreiro commented on #10664
The solution for me was that I had to manually (as in through the console), attach the PD to my GCE instance and make sure it was read/write *before* creating the replication controller that used the PD.

I think a great feature would be to be able to specify a PD in the RC json/yaml, and then have kubernetes automatically create and attach the PD you specified to the instance.

[2015-07-14 15:43] rojer opened #11231 "Kubernetes/GCE corrupted PD volume"
Somehow a GCE persistent disk was corrupted when used exclusively by a single pod on a container engine. While testing, i repeatedly deleted / created the replication controller and pod (a singleton) with 4 containers all using a single PD in read-write mode.
Eventually the pod just refused to start, and the instance reported filesystem corruption in the logs.
This looks like failure to sync/unmou

[2015-07-14 15:43] rojer commented on #10664
i think my issue is a different one, filed #11231 instead

[2015-07-14 15:57] rojer commented on #11231
well, wonderful - now it just destroyed all of my data. see that mkfs near the end? well...

some more log messages with more "mkfs" attempts - http://pastebin.com/sRS5RT8F

now i have a consistent but completely empty volume.

[2015-07-14 16:01] sshen opened #11232 ""curl -sS https://get.k8s.io | bash" fails silently"
Running "curl -sS https://get.k8s.io | bash" seems to fail silently. After some debugging, it looks like get_latest_version_number is the culprit:

<pre>
  63 function get_latest_version_number {
  64   local -r latest_url="https://storage.googleapis.com/kubernetes-release/release/stable.txt"
  65   if [[ $(which wget) ]]; then
  66     wget -qO- ${latest_url}
  67   elif [[ $(which curl) ]]; then

[2015-07-14 16:06] erictune commented on #11232
This works for me:
[code]
Maybe it was a transient problem?
Are you still seeing the problem?

[2015-07-14 16:07] thockin commented on #11231
@saad-ali since you're kind of the domain expert on PD now.  We do run e2e tests over PD - maybe we can push them harder?  Can you inspect for evidence of improper umount ?

[2015-07-14 16:07] thockin commented on #11231
Making this p0 to triage and try to repro

[2015-07-14 16:07] erictune commented on #11232
@cjcullen can you suggest someone to assign this to?

[2015-07-14 16:11] sshen commented on #11232
Yep, the curl command works for me. However, the function prefers wget if it's available, which fails on my Centos 7.0 box.

[2015-07-14 16:14] thockin commented on #11231
@swagiaal we should consider errors in safe_format_and_mount and *not* try to format... maybe

[2015-07-14 16:15] rojer commented on #11231
this is my session on a temp instance with this disk attached: http://pastebin.com/cjCQnhUa

[2015-07-14 16:18] bgrant0607 commented on #11157
General principles and guidance:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/working-with-resources.md
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/user-guide/managing-deployments.md#in-place-updates-of-resources
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md#defaulting

Field-by-field details:
http://kubernetes.io

[2015-07-14 16:27] thockin opened #11233 "Alias 'kubectl config use-context' to 'kubectl config use'"
The '-context' does not seem to add any value

[2015-07-14 16:28] bprashanth commented on #10860
would still recommend code reuse if possible, especially since we've survived for this long without the test.

[2015-07-14 16:30] rojer commented on #11231
sorry, some more pastes to hopefully assist in debugging.
last known successful launch of the pod (describe pod output): http://pastebin.com/FCTH1SSA
and the restart that killed it (note the failed mount at the end): http://pastebin.com/r2Czyrec

commands in between:

rojer@nbt:~/go/src/cesanta.com/prod/cloud/demo/gce gce$ kubectl delete rc/cloud2
replicationcontrollers/cloud2
rojer@nbt:~/go/src/c

[2015-07-14 16:35] yujuhong opened #11234 "kubelet should set readiness to true as soon as possible for containers without readiness probe defined"
Forked from #11007

kubelet set readiness for containers when checking container health in SyncPod. For containers that are created for the first time, the readiness of the containers would only be set in the next sync (~10s or less). This applies to containers with *NO* readiness probe defined, so that they'd stay as not ready until the next sync. Instead, kubelet could perform an extra probe rig

[2015-07-14 16:36] brendandburns commented on #11232
I believe this is a known bug in wget that is shipping w/ your Centos:

http://wiki.openwrt.org/doc/howto/wget-ssl-certs

I think you need to upgrade wget.

We should have a better error message, though.  Assigning to myself.

[2015-07-14 16:36] thockin commented on #11207
If you have already verified that DNS answers, the endpoints exist.  That
said, we know DNS has a bug wherein the entries are briefly deleted and
recreated, but that should only be every 30 minutes.

Can we distill this failure down to a simple shell script?

On Tue, Jul 14, 2015 at 4:58 AM, Marek Biskup <notifications@github.com>
wrote:

[2015-07-14 16:37] yujuhong commented on #11007
Filed #11234 for fixing the readiness confusion; leaving this bug for the reason/message issue.

[2015-07-14 16:37] erictune commented on #11221
Do you mean logs for the kubernetes apiserver?   We plan to do that but haven't gotten around to it.  It is sort of covered by #2203.

Or do you mean logs for web servers in user-created pods?  We don't have a general way to do that at the moment.  There are multiple ways to reach a kubernetes service:
  - pod to service to pod: uses kube-proxy.  This is using L3 load balancing.  So, the kubernete

[2015-07-14 16:38] erictune commented on #11221
Happy to hear a longer description of your requirements.

[2015-07-14 16:38] erictune commented on #11221
@lavalamp to fact check above.

[2015-07-14 16:39] brendandburns commented on #11231
We use gce's safe_format_and_mount command to mount PD, if it ran mkfs when there was a legit filesystem there, then that's a bug in that script (not that we shouldn't fix it, just so that we know where to look)

The script is checked in here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/helpers/safe_format_and_mount

[2015-07-14 16:40] thockin commented on #11223
Docker 1.2 is pretty old and not well tested any longer - I would suggest
you upgrade to 1.6.2.

Kubernetes 0.20 is not THAT old but still old in kube-time :)

Why are you using a different pause container?  Why do we HAVE a different
pause container in the google/ namespace?

As for the issue - if the pause container dies, all containers in the pod
must be restarted.  I don't know why it is dying

[2015-07-14 16:41] brendandburns commented on #11228
The Service CIDR should be disjoint from the Node subnet ranges.

Service CIDRs are programmed into the node using iptables.  You don't need to make them routeable.  Choose an arbitrary range that is outside of any other IP ranges in your cluster.

[2015-07-14 16:41] #11228 closed

[2015-07-14 16:42] cjcullen opened #11235 "We should include ssh tunnel health in apiserver /healthz"
We've seen a couple cases where the SSH tunnel updater locks up and the tunnels go stale. We should set a "last refreshed" variable, and report an error in the kube-apiserver healthz handler if it is too stale.

@brendandburns

[2015-07-14 16:43] brendandburns commented on #11207
Also, Pod running is no guarantee of Pod serving, you should make sure that you have readiness checks enabled on your Pods.

[2015-07-14 16:43] dchen1107 commented on #10868
@davidopp Thanks for updating. Unfortunately when I saw the issue, the cluster is teared down already, thus I cannot verify if it is caused by the same docker load hang or other different cause. Among yesterday 20 builds, one is failed with cluster build failure.

[2015-07-14 16:46] brendandburns commented on #11206
Your GOPATH is likely set to something incorrect.  Clear the GOPATH variable and try 'make' in the Kubernetes directory.

[2015-07-14 16:46] #11206 closed

[2015-07-14 16:46] brendandburns commented on #11201
@ardemiranda any chance you can send a PR?

Thanks!
--brendan

[2015-07-14 16:49] mwielgus commented on #11227
The problem is caused by 2 visitors running on stdin (one in delete.go:Reap/DeleteResult and one in replace.go

Possible fixes:
1. Write stdin to a temp file and update parameters passed by the user.
2. Introduce a wrapper around os.Stdin that stores all of the input in memory for future use. The wrapper would be used here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/

[2015-07-14 16:49] thockin commented on #8900
Decision reversed, fixed for 1.0

[2015-07-14 16:49] #8900 closed

[2015-07-14 16:49] #8184 closed

[2015-07-14 16:50] thockin commented on #10323
@rojer said in #11177

What subj says - use existing allocated static IP instead of auto-assigning one.
Sometimes renumbering and reconfiguring is a pain, it would be nice to be able to preserve IP when moving to container clusters.
Could be a viable workaround for #11175 too. The two of them make service reconfiguration (adding/removing ports) impractical.

[2015-07-14 16:51] thockin commented on #11177
Closing as dup of #10323

[2015-07-14 16:51] #11177 closed

[2015-07-14 16:53] erictune commented on #10966
Let's get the basic information in a doc first and then fix up the order in
a later PR.

On Mon, Jul 13, 2015 at 9:25 PM, Chao Xu <notifications@github.com> wrote:

[2015-07-14 16:55] zmerlynn commented on #8900
This goes all the way back to #3636 :)
On Jul 14, 2015 9:50 AM, "Tim Hockin" <notifications@github.com> wrote:

Closed #8900 <https://github.com/GoogleCloudPlatform/kubernetes/issues/8900>
.

—
Reply to this email directly or view it on GitHub
<https://github.com/GoogleCloudPlatform/kubernetes/issues/8900#event-355559626>
.

[2015-07-14 16:58] brendandburns opened #11236 "Implement a reaper for namespaces."
support

[code]

[2015-07-14 17:01] jweissig commented on #11119
Webserver is not returning file contents completely for css/js files for the UI, as in you make a request, and you will only get the first ~12.5K of the file. Retry, and you will get a little more. Weird, I know.

Kubernetes Tag v1.0.0
Latest Version: 1.7.3
Chrome version 43.0.2357.132

After the vagrant cluster is up.

Steps to reproduce at the command line:

[code]

File contents will partially

[2015-07-14 17:01] erictune commented on #11235
@cjcullen add priority and team please.

[2015-07-14 17:02] erictune commented on #11233
@thockin add priority and team please.

[2015-07-14 17:06] thockin commented on #11231
Sure, I @'ed @swagiaal because there's a PR to internalize that logic.

On Tue, Jul 14, 2015 at 9:39 AM, Brendan Burns <notifications@github.com>
wrote:

[2015-07-14 17:06] erictune commented on #11229
@bgrant0607 @nikhiljindal

Can describe more about how this affects you?  For example, you cannot make a client in language X using library Y that depends on a valid swagger spec.   This will help us prioritize.

[2015-07-14 17:07] smarterclayton commented on #11216
Generally these are run from the root of the Git dir (above hack) - we'd need to change a lot of files to be consistent.  This does work when you run it from the root of the Git dir, correct?

[2015-07-14 17:07] erictune commented on #11229
Question above directed at @cianclarke

[2015-07-14 17:08] smarterclayton commented on #11229
Yes I believe that was Cian's problem (I sent him towards using the swagger
JS client, which uses nicknames for the methods it uses internally).

On Tue, Jul 14, 2015 at 1:07 PM, Eric Tune <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-07-14 17:09] erictune commented on #11226
@nikhiljindal

[2015-07-14 17:09] lavalamp commented on #11221
I think the easiest way to get this is to actually just use HAProxy in place of a load balancer (some assembly required). If you're already using a load balancer, your cloud provider should be keeping the logs you desire.

At the moment, we *do* store access logs for requests that go through the apiserver's proxy; however it's not in HAProxy's format, and it's mixed in with all api calls.

I don't

[2015-07-14 17:09] erictune commented on #11226
Thanks for the report, @perljedi

[2015-07-14 17:11] yujuhong commented on #10860
All my PRs do is scraping cadvisor (through kubelet) and aggregate the data, which is exactly what you suggested here :-)  I think you probably misunderstood my PRs. See my response in https://github.com/GoogleCloudPlatform/kubernetes/pull/11196#issuecomment-121155316

Whether the implementation is an overkill is another issue. If there is anything you'd suggest otherwise, feel free to leave any c

[2015-07-14 17:11] thockin commented on #11207
I'm running a DNS lookup every 0.2 seconds for the last hour and saw 0
failures to resolve in my cluster.

On Tue, Jul 14, 2015 at 9:43 AM, Brendan Burns <notifications@github.com>
wrote:

[2015-07-14 17:13] caesarxuchao commented on #10966
#10933 is related. Once #10933 is in, we can adapt its WriteSwaggerDocFunc() to write the .md docs.

[2015-07-14 17:16] lavalamp commented on #11213
I'm pretty neutral on this. On one hand, it's relatively easy and we might as well demonstrate it. On the other hand, it's not portable between clouds, so __I consider it an anti-pattern__.

When we get a proper solution for batch, IMO it should be possible to have tasks that have volumes as their output and other tasks that take those volumes as their input, so that you can work around mounting r

[2015-07-14 17:17] erictune commented on #11225
Summoning people who touched local cluster code recently or know about ca-files, in hopes of finding a volunteer to help with this issue:
 - @jayunit100
 - @pmorie
 - @nak3
 - @eparis
 - @mikedanese

[2015-07-14 17:17] bprashanth opened #11237 "Replacing a service fails trying to modify clusterip"
It is confusing that this doesn't work, especially since clusterIP was not part of the initial manifest or the replacement.
[code]

[2015-07-14 17:17] dchen1107 commented on #11223
@dieuroi I am surprised that docker 1.2 is still working in your environment. Actually the minimal docker remote API version kubelet support is 1.15, which should map to docker 1.3 at least. The recent validated docker version we used is docker 1.6.2, remote API version is 1.18. Also when pause container dies, all containers in the pod should be killed, and recreated after pause is restarted. This

[2015-07-14 17:19] erictune commented on #11223
@dieuroi feel free to reopen issue if you still have an issue after upgrading docker.

[2015-07-14 17:19] #11223 closed

[2015-07-14 17:21] brendandburns commented on #11144
We should really spread by label sets, and not just services.  That will ensure that we do spreading for both cases and things won't be order dependent.

However, I think that for the purposes of this issue, it is closed by #11179

[2015-07-14 17:28] dchen1107 commented on #11222
Have you tried to remove SecurityContextDeny from your --adminssion-control and restart your kube-apiserver?

[2015-07-14 17:30] pz07 commented on #11221
@erictune, I meant logs for web servers in user-created pods. Api server logs would be useful as well, but less critical, I guess.

Usually, having an application consisted of many services with service to service communication I try to hide each service behind HAProxy (other L7 proxies would work as well I guess). This configuration works very well for me on production. For example, having HAProx

[2015-07-14 17:31] dchen1107 commented on #11221
subscribe me

[2015-07-14 17:36] justinsb commented on #11201
Actually, let me send a PR.  This should just be reversing a delete I made (in error).

[2015-07-14 17:38] pmorie commented on #4869
There's a libcontainer PR in progress to create a knob that controls mount propagation modes on a container level:

https://github.com/opencontainers/runc/pull/77

However, it's not clear whether runc will be integrating into docker for 1.8.  I'll create an issue for pre-runc docker to cover upstream docker before runc is integrated.

[2015-07-14 17:39] lavalamp commented on #11221
That's a fair point. Your options for this are a) scrape kube-proxy logs on every machine. Kube-proxy does TCP proxying, not HTTP, so you'll not get much useful data this way; or b) aggregate logs from each pod running the service.

[2015-07-14 17:42] dchen1107 opened #11238 "kubectl describe node should include allocated resource"
kubectl describe node includes, node resource capacity, and all pods allocated to that node already. It should also include resourceAllocation information.

[2015-07-14 17:43] pmorie commented on #4869
Created https://github.com/docker/docker/issues/14630 to cover this in pre-runc docker.

[2015-07-14 17:47] thockin commented on #11237
This one keeps popping up.  Principally the answer is that 'replace' is a
full replacement and really must be an RMW operation.  That's somewhat
unsatisfying in this case, though.

On Tue, Jul 14, 2015 at 10:18 AM, Prashanth B <notifications@github.com>
wrote:

[2015-07-14 17:52] erictune commented on #11221
@thockin we just talked about this.  You said that you thought doing L7 in kube-proxy might degrade network performance.  But, if someone is already using ha-proxy between their microservices, maybe there isn't much change when moving to kubernetes with L7-enabled kube-proxy.

[2015-07-14 17:52] erictune commented on #11221
@thockin @lavalamp maybe doing L7 proxying in kube-proxy could be optional: introspection vs performance tradeoff user can make.

[2015-07-14 17:54] justinsb commented on #11201
@ardemiranda if you do want to put together a PR we can of course use that instead, but I deleted this by mistake so I have created a PR to fix my mistake.

[2015-07-14 17:54] nikhiljindal commented on #11218
Dup of https://github.com/GoogleCloudPlatform/kubernetes/issues/11181

[2015-07-14 17:54] #11218 closed

[2015-07-14 17:55] erictune commented on #11220
Kubernetes doesn't support this.

[2015-07-14 17:55] #11220 closed

[2015-07-14 18:00] wojtek-t commented on #11215
cc @lavalamp who is on-call today for decision if we should try to debug it before 1.0

[2015-07-14 18:00] nikhiljindal commented on #11229
Thanks @cianclarke.
Yes I just checked and we have duplicate nicknames, which we should not.
I am surprised because, last I checked, our swagger spec passed swagger validation, which it should not if we have duplicate nicknames.

[2015-07-14 18:02] saad-ali commented on #10899
Did a clean deployment to Jenkins GCE Soak at 4PM yesterday. All runs since have been green. Closing this issue.

[2015-07-14 18:02] #10899 closed

[2015-07-14 18:02] webron commented on #11229
Umm, how did you run the validation? :)

[2015-07-14 18:04] lavalamp commented on #11215
Actually @erictune swapped with me. But I think @dchen1107 is the one to decide about that.

[2015-07-14 18:05] erictune commented on #11158
Which UI url and what version `kubectl version` are you referring to.

[2015-07-14 18:06] cianclarke commented on #11229
@erictune Sure - when attempting to integrate with k8 APIs using https://github.com/swagger-api/swagger-js, I discovered that due to the duplicated nicknames, I was unable to utilise a swagger client to call the APIs I needed access to. In particular, we need to operate on namespaced APIs.

Somewhat unrelated to this issue, for the immediate future we probably won't be using the Swagger API client

[2015-07-14 18:07] nikhiljindal commented on #11229
```$ swagger-tools validate api/swagger-spec/resourceListing.json api/swagger-spec/api.json api/swagger-spec/v1beta3.json api/swagger-spec/v1.json api/swagger-spec/version.json ```

We do it as a one-off right now, so it is possible that it might have broken since I last checked.
I am working on adding it as part of our continuous tests: https://github.com/GoogleCloudPlatform/kubernetes/issues/535

[2015-07-14 18:07] thockin commented on #11221
L7 in userspace may also defeat some micro-segmentation plans which operate
below L7.  I am not against making this more visible, but we have to
consider the intersection of a lot of desireable features.

On Tue, Jul 14, 2015 at 10:53 AM, Eric Tune <notifications@github.com>
wrote:

[2015-07-14 18:08] zmerlynn opened #11243 "Pull request builder may not (or may) be working on release-1.0"
See https://github.com/GoogleCloudPlatform/kubernetes/pull/11186#issuecomment-121325672

It's doing something really weird for alternate base-branch pull requests. Shippable seems to be handling these fine.

[2015-07-14 18:09] webron commented on #11229
@whitlockjc - does swagger-tools check for duplicate `nickname`s in 1.2 definitions?

[2015-07-14 18:22] saad-ali commented on #11231
I'll try to repro this today.

@rojer What Kubernetes version did you experience this issue on? I'd like to see if you had this fix or not: https://github.com/GoogleCloudPlatform/kubernetes/pull/10169

[2015-07-14 18:23] erictune commented on #11158
I think you are talking about `https://$APISERVER/static/app/#/dashboard/`

Yes, I agree that showing memory usage including all buffers and cache is not useful.  However, some fraction of buffers and cache are typically necessary.  So, we probably only want to show recently used cache and buffer, for some definition of recently used.  @vishh @vmarmol @dchen1107 @rjnagal do we have a reasonable me

[2015-07-14 18:25] erictune commented on #11148
@marekbiskup put a priority and team on this issue, please.

[2015-07-14 18:25] wolfador commented on #8211
I'm also hitting this issue in kubectl 0.17 and 21 (both client) with 0.17 server

kubectl --context=DEV version
Client Version: version.Info{Major:"0", Minor:"21", GitVersion:"v0.21.0", GitCommit:"39b013a5d5fb09b5bb7236b553dfa189f8884bbd", GitTreeState:"clean"}
Server Version: version.Info{Major:"0", Minor:"17+", GitVersion:"v0.17.1-748-g01fcb58673001e", GitCommit:"01fcb58673001e56c69e128ab57e0c3

[2015-07-14 18:27] rjnagal commented on #11158
cadvisor/heapster both report usage (all memory) and workingset (hot
memory).

On Tue, Jul 14, 2015 at 11:23 AM, Eric Tune <notifications@github.com>
wrote:

[2015-07-14 18:28] erictune commented on #11119
@preillyme @bcbroussard

[2015-07-14 18:28] bcbroussard commented on #11119
Thanks for the repro steps @jweissig, I'm seeing similar things. For me the `base.js` file will load, but then `app.js` will stall.

I'm also seeing it when running the last container image `v1` on k8s `1.0.0 RC2` with vagrant. Removing the Kubernetes resource limits does not appear to help either.

This wasn't happening with the `v0.21.0` release where the web ui was first containerized, so it ap

[2015-07-14 18:29] erictune commented on #11114
kubelet is on 10250 usually?  Why do you think it is on 8080?

[2015-07-14 18:31] erictune commented on #11114
@dchen1107 @vmarmol

[2015-07-14 18:32] erictune commented on #11048
is this the --root-ca-cert issue?

[2015-07-14 18:34] erictune commented on #11213
How hard is it to make the program in the pod access the GCS api directly?

[2015-07-14 18:35] dchen1107 commented on #11114
cAdvisor's port is 4194, not on 8080. kubelet is on 10250 (secure one), and 10248 (read-only one)

[2015-07-14 18:36] erictune commented on #11048
p1 to understand if there is some issue we didn't know about here.

[2015-07-14 18:43] erictune commented on #11154
@davidopp to confirm if this is a scheduler issue and prioritize

[2015-07-14 18:47] rojer commented on #11231
@saad-ali whatever container engine is running at the moment.

[2015-07-14 18:48] rojer commented on #11231
the instance where all this happened is still up and i can pull logs or even give you access to it

[2015-07-14 18:50] justinsb commented on #11002
We do have an e2e test for this, but perhaps it isn't testing what I think it is.  #11030 highlights that we definitely don't preserve it on AWS, but the test should be checking that it is preserved on GCE.

[2015-07-14 18:51] timstclair opened #11248 "cluster-info needs kube-system namespace"
I believe the primary use case for `kubectl cluster-info` is to summarize the list of cluster addons running (label `kubernetes.io/cluster-service=true`). However, all cluster addons have been moved to the `kube-system` namespace:
[code]

I think `cluster-info` should use the `kube-system` namespace flag by default, but if not some documentation needs to be updated:
https://github.com/GoogleCloudP

[2015-07-14 18:56] timstclair commented on #11119
I haven't seen anything like that, but I've only tested on GCE.

I'm curious: does the swagger-ui load normally (it's still hosted by the master)? How about other cluster addons (e.g. `/api/v1/proxy/namespaces/kube-system/services/kibana-logging`)? If those both load normally it might be a problem with the way the kube-ui is set up. If other cluster addons have problems, it sounds like it could be

[2015-07-14 19:03] lavalamp commented on #11119
Since our proxy e2e test is ever so slightly flaky, my money is on some networking trouble.

[2015-07-14 19:04] davidopp commented on #11154
This is  a dupe of #11144. Closing.

[2015-07-14 19:04] #11154 closed

[2015-07-14 19:12] bgrant0607 commented on #10009
I'm all for guessing based on resource.

[2015-07-14 19:15] #10805 closed

[2015-07-14 19:18] jweissig commented on #11119
@timstclair swagger-ui load without issue and show/hide API enpoints (watch requests complete via dev tools too).

[code]

I don't have kibana-logging installed so that is 404'n.

[2015-07-14 19:24] davidopp commented on #11144
To clarify, if you create service and RC in the wrong order, it's only service-based spreading that doesn't work. We always do spreading based on resources (worst fit), including the case where no resources are specified (we pretend you requested 0.1 CPU and 200 MB of memory).

But I agree we should go through all the examples and do the same as we did in #11179. @marekbiskup  or @gmarek if you ha

[2015-07-14 19:25] timothysc opened #11249 "Referencing common setup scripts."
Currently we have the following ways to stand up a cluster:

1. By hand, fraught with peril and instructions are rarely kept up to date.
2. Salt
3. Ansible
4. hack/local-cluster-up
+ Plus assortment of other tooling that folks may wish to use (chef, puppet, vagrant magik,etc.)

Each one of these methods repeats some initial setup and configuration for certs & default configuration.  Perhaps instea

[2015-07-14 19:28] gmarek commented on #11144
#10667 was wrote exactly for this very reason. I just felt that going from spreading on services, to spreading on label sets as too big leap. In principle label-set driven spreading was exactly my goal.

[2015-07-14 19:29] davidopp commented on #11249
This seems related to #2770 and #5472

[2015-07-14 19:29] bcbroussard commented on #11119
@timstclair The issue also exists with `v0.21.0` which is the first release with the containerized version of `kube-ui`

[2015-07-14 19:29] uluyol commented on #10009
I have run into an issue with api.Status. Because it is a versioned object, it needs to be converted to a versioned api, but with multiple groups, this conversion fails because the API group is inferred from the type. So if I have group "exp" with version "v0" the server will try to convert the api.Status to have group "api" and version "v0".

Here are two potential fixes:
* Allow objects to exist

[2015-07-14 19:30] uluyol commented on #10009
@thockin

[2015-07-14 19:30] timothysc commented on #11249
@davidopp umm totally unrelated.

[2015-07-14 19:31] mikedanese commented on #11144
I tried spreading by labels in #2312 but it was unpopular at the time, possibly because of implementation. Picking a good heuristic for spreading on label intersection was not straightforward.

[2015-07-14 19:33] davidopp commented on #11144
I think #10667 is a little different from @brendandburns described; IIUC #10667 explicitly spreads by RC (when there's no Service) while @brendandburns is talking about looking at the labels directly, regardless of which RC is controlling the Pods. It looks like #2312 (which I wasn't previously aware of) is closer to what @brendandburns is talking about.

[2015-07-14 19:34] krousey commented on #8892
Spot checked a few builds and haven't seen this error pop up again. Reopen if it happens again.

[2015-07-14 19:34] #8892 closed

[2015-07-14 19:34] davidopp commented on #11249
(The closing was because I hit the wrong button, not because I was actually trying to close this issue--sorry.)

Can you explain the differences between this issue and those?

[2015-07-14 19:35] dchen1107 commented on #11134
"No command specified" is an error code returned by docker. Looks like you docker import removes all configurations from an image including both Entrypoint and Cmd.

I think running docker load -i pause.tar should fix your issue here.

[2015-07-14 19:36] gmarek commented on #11144
I agree - I just felt it would be too big change for people before v1 (I hoped it would make it to the release when I wrote it).

[2015-07-14 19:38] brendandburns opened #11251 "/healthz on apiserver should monitor SSH tunnel health"

[2015-07-14 19:40] #11093 closed

[2015-07-14 19:49] nikhiljindal commented on #11229
I just ran swagger-tools validate again and didnt get any error, so I can confirm that it is not failing on duplicate nicknames.

[2015-07-14 19:58] #10109 closed

[2015-07-14 20:02] #11192 closed

[2015-07-14 20:02] r-tock commented on #10451
The cpu usage has been down since the last release. But for g1-small nodes its hovering around 23%, I would keep the investigation around to reduce that further.

Also the bandwidth usage from these nodes have been a steady 256KB/s

[2015-07-14 20:03] #11201 closed

[2015-07-14 20:04] thockin opened #11255 "Firewall warning makes standard kubectl output hard to read"
Example:

[code]

It's hard to distinguish the warning from the actual output.  I'd like to do something like:

[code]

@bgrant0607 @jlowdermilk

[2015-07-14 20:09] erictune opened #11257 "Undo the duplication of #11256"

[2015-07-14 20:15] roberthbailey commented on #11249
Rather than clean scripts, I'd like to see a deployment CLI (#5472) written in Go with the reusable bits and then cloud provider parts cleanly factored out (#2770). I don't see how this is totally unrelated. Even for the local setup, the CLI program could ask for input (press enter once you've configured your network...) and for cloud providers the setup could be automated.

[2015-07-14 20:27] erictune commented on #11257
#11256

[2015-07-14 20:31] timothysc commented on #11249
Ahh, thanks @roberthbailey for piecing that together for me, that makes a lot more sense now.

[2015-07-14 20:33] bgrant0607 commented on #8270
cc @mgannholm

[2015-07-14 20:40] jayunit100 commented on #10030
This bug, i assume, only surfaces if you restart kube-controller-manager at the **end** of the test.
otherwise i guess overshoot might be corrected before it occurs.
correct? am working on local reproducer

[2015-07-14 20:45] thockin opened #11259 "Remove "might need to open firewall" message when not needed"
We should be able to tell when a Service with a LoadBalancer does/does-not need the user to open the firewall.  This is emitted client-side, which means the client needs to know about cloud-provider or the API has to return enough info.

@bprashanth

[2015-07-14 20:53] smarterclayton opened #11261 "client/request warns about Kube objects, should be abstracted"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/request.go#L277 specifically refers to Kube objects, but client is generic to any runtime.Object.  We should abstract this code into scheme, and pull it out of pkg/client/request.go.

[2015-07-14 20:53] smarterclayton commented on #11261
@lavalamp

[2015-07-14 20:54] timothysc commented on #10030
restart in the middle of density... density has a check for total (pending + running), and the total count far exceeds, and density will fail.

[2015-07-14 20:59] mwielgus commented on #10931
Did you start cassandra service?
Could you please attach `kubectl logs` from all of the pods?

[2015-07-14 21:03] arun-gupta opened #11262 "Unable to watch services when label selectors are set"
Started a MySQL service as defined at:

https://github.com/arun-gupta/kubernetes-java-sample/blob/master/app-mysql-service.yaml

`kubectl` shows the output correctly as:

[code]

Querying the service with a label shows the following output:

[code]

Even though the request is narrowed by the label, an error message is displayed indicating label selectors are not supported on services. This is inco

[2015-07-14 21:04] kelseyhightower commented on #9178
@pires Do you need help on this?

[2015-07-14 21:22] lavalamp commented on #11261
I think that will make sense when we offer versioned clients, which I hope to get together soon.

[2015-07-14 21:26] lavalamp commented on #10030
Yeah, restart in the middle to test. But this should be 98% fixed with @bprashanth's change. Is there still a problem?

[2015-07-14 21:27] jayunit100 commented on #11225
the key thing is knowing how to fix the cathing -once we have a direction on how to setup CAs ; fixing the script is probably easy ; happy to help there but CA advice definetly needed

[2015-07-14 21:30] davidopp commented on #10915
@ixdy could you take a look at this?

[2015-07-14 21:32] bgrant0607 commented on #9632
We should copy that text about installing kubectl to docs/user-guide/prereqs.md

[2015-07-14 21:33] bgrant0607 commented on #4202
Done

[2015-07-14 21:33] #4202 closed

[2015-07-14 21:33] bgrant0607 commented on #7299
Done

[2015-07-14 21:33] #7299 closed

[2015-07-14 21:39] smarterclayton commented on #11261
As an example of where we already tolerate this one way:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/pods.go#L77

I don't particularly like that.... but...

On Tue, Jul 14, 2015 at 5:22 PM, Daniel Smith <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-07-14 21:40] smarterclayton commented on #11261
How will versioned clients work when the server doesn't support your
version?  Or do you have a plan for that as well?

On Tue, Jul 14, 2015 at 5:39 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-07-14 21:41] eparis commented on #11225
I'll take a look I guess.  /cry

[2015-07-14 21:45] ixdy commented on #11243
I've set up the pull request builder to only touch PRs on the master branch. I can either remove this setting, or we can grow the whitelist.

[2015-07-14 21:47] bgrant0607 commented on #9416
We definitely need some kind of organization of our troubleshooting docs:
* docs/user-guide/application-troubleshooting.md
* docs/user-guide/debugging-services.md
* docs/user-guide/compute-resources.md#troubleshooting
* https://github.com/GoogleCloudPlatform/kubernetes/wiki/Debugging-FAQ
* https://github.com/GoogleCloudPlatform/kubernetes/wiki/Services-FAQ
* https://github.com/GoogleCloudPlatform/

[2015-07-14 21:47] lavalamp commented on #4874
OK. Time to do this. The motivation is so that people can import pkg/client/v1 and have code that will continue to build against head without changes as long as v1 is supported.

Proposed factoring:
* pkg/client/config
 * This has everything to do with certs, setup, etc.
* pkg/client/rest
 * RESTClient moves here
* pkg/client/unversioned
 * the current client.Client struct and interfaces move here

[2015-07-14 21:49] dchen1107 commented on #11215
Kubelet /healthz now does 3 checks: 1) docker version 2) hostname 3) syncLoop. The last one is added since v0.20 through #10004, which reports kubelet unhealthy when syncLoop takes more than 5 mins. This is a workaround for some docker call hangs without return.

I suspect the unknown restart is caused by long syncLoop here.

[2015-07-14 21:51] bgrant0607 commented on #10009
Status is defined as follows in v1:
[code]
I think I'm still in favor of making this unversioned, though I know we've changed StatusDetails in the past, and should likely make more changes to it (e.g., Name and Kind should be expanded to a larger subset of ObjectReference). We need to have a default type returned for completely bogus paths not corresponding to any valid group or api version, anywa

[2015-07-14 21:58] saad-ali commented on #11231
Thanks @rojer. Releases 0.21.0 onward all have #10169, so that means this is a separate issue.

Have you been able to repro the issue? Based on what you've said, repro steps should be:
1. Create a replication controller with 1 replica for a pod with 4 containers all sharing a single GCE PD in RW mode.
2. Change the replica size of the RC to 0.
3. Repeat above steps in rapid succession.

And the sy

[2015-07-14 21:59] #10720 closed

[2015-07-14 22:02] dchen1107 commented on #11215
Of course, kubelet could do better job logging such failure, and also capture the reason of /healthz failure at monit log. But I don't think it is so critical to patch 1.0. Any disagreement?

Also for initial e2e test failure, I think we can improve the test with some retry logic.

[2015-07-14 22:04] davidopp commented on #4874
On Tue, Jul 14, 2015 at 2:48 PM, Daniel Smith <notifications@github.com>
wrote:

Meaning you'll "lock down" this last one (it will reflect the unversioned
we have today, while pkg/client/unversioned will be the one that's always
up-to-date)?

[2015-07-14 22:05] davidopp commented on #11215
SGTM

[2015-07-14 22:05] saad-ali commented on #11231
Also, @rojer, could you please share your kubelet logs with me. They should be under `/var/logs/`

[2015-07-14 22:05] ixdy commented on #11243
The [GitHub commit status API](https://developer.github.com/v3/repos/statuses/) only allows specifying the sha of a commit - there's nothing about pull requests or branches. So if a commit has the same sha in multiple PRs, they'll probably all share the same status, even if they get merged into different trees in the PR builder.

[2015-07-14 22:08] bprashanth commented on #10030
If you time it right (eg while it's creating replicas), you can get it to overshoot, this is known. It should always correct itself and it should not overshoot if restarted in the steady state.

[2015-07-14 22:11] smarterclayton commented on #10009
ListOptions / DeleteOptions are shared across multiple API groups (and they
have conversions).  The version they are used with may not be in the same
version of their code.  Requiring those to be explicitly registered by type
and name in each group isn't the end of the world (unless I missed
something making that impossible).

On Jul 14, 2015, at 5:51 PM, Brian Grant <notifications@github.com> wro

[2015-07-14 22:12] rojer commented on #11231
@saad-ali i'd add some write activity to the PD, so that FS is dirtied between attaching and detaching. my containers weren't doing much writing, but there was some.

kubelet.log.bz2: https://drive.google.com/file/d/0BxU-yGrhFVkkYzZHR2JNdlZyVzQ/view?usp=sharing

[2015-07-14 22:20] lavalamp commented on #11261
Well, I was thinking about just requiring the server to support the version you ask for. But now that I think about it, I guess we could allow the client library to up/down convert objects into the version corresponding to the client version. (see https://github.com/GoogleCloudPlatform/kubernetes/issues/4874#issuecomment-121401567)

[2015-07-14 22:34] lavalamp commented on #4874
Well, sort of-- I'll lock it down by changing the import line from ```"...pkg/api"``` to ```api "...pkg/api/v1```.

There's no way to lock it down without doing this.

[2015-07-14 22:35] JanetKuo commented on #9416
And also
* docs/cluster-troubleshooting.md

I'll use `docs/troubleshooting.md` as a central place for organizing all other troubleshooting docs.

[2015-07-14 22:36] lavalamp commented on #4874
I'm working on a PR to do step 1 above. Then I'll try and draft some folks to help me do 2 & 3 in parallel.

[2015-07-14 22:38] smarterclayton commented on #11261
It may not be a huge issue, but I could imagine supporting both v1 and v2
servers at the same time - we typically in the past manage that by having
the client libraries work against both, and conversion helps to some
degree.  There's always some divergence though, which implies custom
coding.

On Tue, Jul 14, 2015 at 6:20 PM, Daniel Smith <notifications@github.com>
wrote:

--
Clayton Coleman | Lea

[2015-07-14 22:39] davidopp commented on #4874
Sorry, I accidentally replied by email which I think munged my question. Just trying to understand the difference between pkg/client/unversioned and pkg/client/v1

When we make changes to types.go, we'll make them in the former dir but not the latter, yes?

[2015-07-14 22:41] lavalamp commented on #4874
types.go is inside the pkg/api/ tree; I'm not copying that. But yes, there should be no backwards-incompatible changes inside pkg/api/v1 as of a month or so ago.

[2015-07-14 22:44] lavalamp commented on #11261
Yeah, I think that's doable. But servers will already have to support v1
until all clients have been configured to speak v2. So it's a nice-to-have.

On Tue, Jul 14, 2015 at 3:38 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-07-14 22:46] esecules commented on #11158
Im using this URL:
http://kube-master:8080/api/v1/proxy/namespaces/kube-system/services/kube-ui/#/dashboard/
and the 0.21.1 release of kubernetes with the v1 kube-ui image (Image ID: a5aea7f6bfd4).

[2015-07-14 22:53] thockin commented on #4874
I still think we should discuss what our client library is.  Fat client
libs have a long history of coming back to bite people in the butt, but
"just a bunch of structs" is also problematic.  If we want to offer a
client library outside of our own codebase, we should start from the place
of deciding what feature set we want to offer to clients - not what structs
we can move around to suck less.

W

[2015-07-14 22:59] jayunit100 commented on #10030
maybe its fixed ?

[code]

I tried killing/restaring several times, couldnt get an overshoot.

[2015-07-14 23:01] arun-gupta opened #11275 "Top search link for "replication controller" gives 404"
Google for "replication controller" and the top link shows up as:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/replication-controller.md

And this is a 404.

Update the search engine or create a redirect :)

[2015-07-14 23:11] saad-ali commented on #11231
Thanks @rojer.

The interesting bits from the logs here: https://gist.github.com/saad-ali/5aa08ff382fba68bb88a

It looks like the PD is attached correctly, but a mount fails with:
[code]

Then all subsequent attaches continuously fail.

[2015-07-14 23:20] #10128 closed

[2015-07-14 23:23] rojer commented on #11231
11:30 is not when the disaster happened. i had seen this mount error before but did not pay attention - delete/create seemed to have solved it. data loss happened later - at 15:23 +0100 it still worked, at 16:06 +0100 mount failed for one last time. machine's clock are UTC, so i think you need to subtract 1 from that.
see this update i posted earlier: https://github.com/GoogleCloudPlatform/kuberne

[2015-07-14 23:24] bgrant0607 commented on #9416
SGTM

[2015-07-14 23:28] saad-ali commented on #11231
Looks like it happened twice:
[code]
16:06 +0100 aligns with the second occurance

[2015-07-14 23:31] rojer commented on #11231
yes, that's the fatal incident. i did not re-create PD in between, maybe automated fsck saved it. i do remember seeing what i now think was corruption (one of my containers complained about inconsistent on-disk state - one file was missing), but at the time i just blew out that part of the state and moved on.

[2015-07-15 00:26] dchen1107 commented on #11231
cc/ @zmerlynn on containervm image cut for 1.0.

[2015-07-15 00:27] saad-ali commented on #11231
@rojer Can you re-confirm if you had a Read-Write PD or a Read-Only PD? The logs seem to indicate that [kuebelet called `mounter.Interface.Mount`](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/volume/gce_pd/gce_util.go#L315) (which it does for RO PDs), instead of calling `safe_format_and_mount` (which it does for RW PDs).

[2015-07-15 00:32] rojer commented on #11231
RW.

specifically, i have this in my RC config:

      volumes:
        - name: data
          gcePersistentDisk:
            pdName: cloud-disk
            fsType: ext4

and for each of the 4 containers:

          volumeMounts:
            - name: data
              mountPath: /data

[2015-07-15 00:35] timothysc commented on #10030
Let's try on our beasty cluster in the a.m.

[2015-07-15 00:35] zmerlynn commented on #11231
@saad-ali: Are you sure about the version number? @rojer, when did you create the cluster? (I ask because we only recently started upgrading masters to 0.21.2, but if you created it last week sometime, you would've gotten 0.21.x as well.)

[2015-07-15 00:37] zmerlynn commented on #11231
(This was a driveby comment, I just wanted to make sure everyone understood that GKE may be somewhat lagged, especially on automatic master upgrades.)

[2015-07-15 00:38] saad-ali commented on #11231
@zmerlynn Yes, the `Terminating GCE PD...detach verification. Another attach/detach call was made for this PD` errors were introduced in #10169 and show up in @rojer's kubelet.log The fix was in 0.21.0, so 0.21.x would have it.

[2015-07-15 00:39] rojer commented on #11231
$ gcloud --project cesanta-2015 beta container --zone europe-west1-c clusters describe cloud
clusterIpv4Cidr: 10.80.0.0/14
createTime: '2015-07-11T19:02:41+00:00'
currentMasterVersion: 0.21.2
currentNodeVersion: 0.21.1
endpoint: 104.155.47.32
initialClusterVersion: 0.21.1
initialNodeCount: 2
...

[2015-07-15 00:40] zmerlynn commented on #11231
Cool, thanks, Just checking. :)

[2015-07-15 01:08] lavalamp commented on #4874
I've started on #11280 and already found a number of places where we're not versioned as completely as we should be.

We should move conversion/registration functions out of v1; this solves that problem.

I have a much more modest goal of just letting people write code against our v1 api, using our current client interface.

I want to make the addition of a versioned client now, offering our exist

[2015-07-15 01:14] lavalamp opened #11282 "addon: fluentd-gcp: be helpful when failing"
When fluentd is in gcp mode and it fails (due to missing scope or api not being turned on) it should log a helpful message when it dies instead of crashlooping. Right now it crashloops and doesn't write any log messages, so it's pretty annoying to figure out. Changing it to elasticsearch mode (in cluster/gce/config-default.sh) is the easiest workaround.

[2015-07-15 01:59] Icedroid commented on #11222
@dchen1107
[code]

[2015-07-15 02:19] Icedroid commented on #11123
@ the queries on 0.0.0.0 which is the same as the --admission-control value.

[2015-07-15 02:23] bengong2015 commented on #10010
@thockin Is the long-tail latency problem solved in the latest version 1.0.0? I didn't find any distribution in services.md or releases.md. Thanks.

[2015-07-15 02:28] saad-ali opened #11283 "Read-write volume shows as read-only"
1. Create a container with read-write volume, by specifying a volume with `readOnly: false`
2. Run kubectl to verify container volumes are read-only
  * Expect: `readOnly: false`
  * Actual: `readOnly: true`

YAML input file:
[code]
Create RC:
[code]
Kubectl output:
[code]

[2015-07-15 02:34] saad-ali commented on #11283
I maybe missing something obvious here because this seems glaringly wrong.

[2015-07-15 03:05] saad-ali commented on #11231
The read-only bit should default to false if it is not specified, as in your example. However, I noticed that even when I explicitly set the read-only bit it seems to be stored incorrectly internally: Opened #11283 to track.

Regarding the filesystem type being empty, the `fsType` is loaded from the volume spec (same as the `readOnly` bit), so it being empty is pretty strange.

[2015-07-15 03:16] dieuroi commented on #11134
I found that the configurations are missing and modified them manually, now the issue is fixed. I also tried running docker load -i and this command did help me. Thank you for your instructions!

[2015-07-15 03:16] #11134 closed

[2015-07-15 03:29] thockin commented on #11283
That does seems like "a problem" if real.  But I can not repro:

[code]

[2015-07-15 03:37] liggitt commented on #11225
local-up-cluster.sh doesn't specify a cert, which means the API server generates a self-signed one. you *should* be able to use that self-signed cert (generated at /var/run/kubernetes/apiserver.crt, I believe) as the CA...

[2015-07-15 03:48] dieuroi commented on #11223
After upgrading docker to version 1.6.2 and using docker.io/kubernetes/pause as pause container. But the issue still exists.

[2015-07-15 03:50] thockin commented on #10010
no, the long tail should be fixed by moving away from userspace proxying
entirely and that will land probably in 1.1

On Tue, Jul 14, 2015 at 7:24 PM, bengong2015 <notifications@github.com>
wrote:

[2015-07-15 03:51] thockin commented on #11223
Can you clarify what the problem is?  WHat did you expect to happen and
what actually happened?

On Tue, Jul 14, 2015 at 8:48 PM, dieuroi <notifications@github.com> wrote:

[2015-07-15 03:56] liggitt commented on #11225
Hmm, tried this and ran into a couple errors:

1: the self-signed cert needs adjusting to be considered a valid CA cert (which it should be)
[code]

2: the self-signed cert doesn't include 127.0.0.1, which is probably ok, but means the API_HOST used by local-up-cluster won't validate against it

[2015-07-15 04:05] whitlockjc commented on #11229
Not yet, it's on the list: https://github.com/apigee-127/swagger-tools/issues/219

[2015-07-15 04:06] liggitt commented on #11225
https://github.com/GoogleCloudPlatform/kubernetes/pull/11285 should fix CA validation in local-up-cluster.sh

[2015-07-15 04:06] stevenbrichards commented on #10822
I'm able to reproduce this as well
[code]

[2015-07-15 04:30] thockin commented on #4874
It's hard to disagree with the goal, but I am very anxious abouyt exposing
to users the same struct that we use for unmarshalling.

As an example, I'd like to make ServicePort.NodePort into a pointer so we
don't always print it when it is 0.  From an API point of view that's a
transparent change - no client will see it.  After you make this change
we're more or less supporting the v1 structs as a

[2015-07-15 04:42] dieuroi commented on #11223
I upgraded docker to version 1.6.2 and used docker.io/kubernetes/pause as pause container.
I made a image called suse13.1/apache and service apache will start once container is created.
My json file for creating a pod is as follows.
[code]

After I running *kubectl create -f* with this file, the main container would be created and started again and again. I ran *docker ps -a" to find main containe

[2015-07-15 04:48] thockin commented on #11223
Your suse13.1/apache:latest container is exiting and being restarted.  You
might look at logs for the exited containers to see why.

On Tue, Jul 14, 2015 at 9:43 PM, dieuroi <notifications@github.com> wrote:

[2015-07-15 04:50] WIZARD-CXY commented on #11000
good stuff

[2015-07-15 04:54] dieuroi commented on #11223
Does that mean something is wrong with my suse13.1/apache:latest container, not kubernetes?

[2015-07-15 04:56] smarterclayton opened #11288 "Downward API should expose pod IP"
The pod IP is an incredibly useful value for containers to have access to via an env var - it removes very ugly hacks from simple code that must provide an IP to others (the "simple" bash solution is ifconfig + awk + grep which really inspires confidence).  We should make it available via the downward API.

[2015-07-15 04:57] thockin commented on #11223
Correct.  It seems that kubelet is doing what you asked it to do: run a
container and restart it whenever it dies.

On Tue, Jul 14, 2015 at 9:55 PM, dieuroi <notifications@github.com> wrote:

[2015-07-15 05:00] thockin commented on #11288
errm, hostname -i?  ioctl(SIOCGIFADDR)?  ip addr list?

I don't have a problem exposing more stuff, but this is a problem that has
existed time immemorial and is not at all related to kube or containers :)

On Tue, Jul 14, 2015 at 9:57 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-07-15 05:06] dieuroi commented on #11223
Thank you ! @thockin  I will go to check the log.

[2015-07-15 05:43] #11257 closed

[2015-07-15 05:53] davidopp commented on #10548
It seems to me that we definitely run all the e2e tests.

Looking at hack/jenkins/e2e.sh, it seems that everything except what's in ${GCE_DEFAULT_SKIP_TEST_REGEX} is run in either kubernetes-e2e-gce or kubernetes-e2e-gce-flaky:

[code]

As for what's in ${GCE_DEFAULT_SKIP_TEST_REGEX}:

[code]

Reboot is tested in kubernetes-e2e-gce-reboot

So the only thing left really is Restart. But as far as I

[2015-07-15 05:57] wojtek-t commented on #11215
@dchen1107 - this definitely not the reason it all the cases I've seen, because I've seen Kubelet restarts after ~3 minutes (which means 5-minute deadline for syncLoop couldn't be the case here).
Also, as I wrote above, it's not that Kubelet is responding to /healthz with "not-ok" status - it just doesn't receive the /healthz requests in many cases.

[2015-07-15 06:12] karlkfi commented on #10776
/cc @sttts @tsenart Can one of you take a look at this and see if it's an easy fix, a duplicate, or something we need to skip?

[2015-07-15 06:17] bgrant0607 commented on #11144
Spreading by RCs is issue #4971.

[2015-07-15 06:27] antoineco commented on #11123
I meant what flags are you using to start `kube-controller-manager` and `kube-scheduler`? (the complete command)

[2015-07-15 06:27] bgrant0607 commented on #11144
Regarding spreading by label sets, definitely read comments on #2312. I don't think spreading pods with anything other than exactly matching sets of labels makes sense.

[2015-07-15 06:32] Icedroid commented on #11123
[code]

[2015-07-15 07:10] gmarek commented on #11215
+1 to what @wojtek-t wrote. @dchen1107 please take a look at gce-parallel 3431 run kubelet 48.4 logs.
You will notice that Kubelet does not log any GETs on healthz for first few minutes, but starts getting them after it's restarted ~2.5 minutes after it's started, around the line 193.

[2015-07-15 07:29] jiangyaoguo commented on #9139
@thockin @markturansky Has anyone been working on this issue?  If nobody, I volunteer to fix this.

[2015-07-15 07:30] marekbiskup commented on #11207
Dns works because it is confirmed by the python code. Also the pods answer because I call `podsResponding()`
Finally, the stack trace shows that the error comes from GetServerResponse and the code is like this:

[code]

Clearly, pods are responding, DNS is responding, but it is not possible to connect to the IP address of a pod.

I'm going to add a loop that waits for endpoints before starting the

[2015-07-15 07:34] gmarek commented on #11144
@bgrant0607 - IIUC a lot of people noticed this problem, but for some reason no one did anything with it. I believe that doing something (whether it's spreading by RC instead of Services, RC in addition to Services, or general label sets) it's way better than preserving status quo.

All of those changes would be pretty simple, and it'd be really easy to change ones mind after some time, and implem

[2015-07-15 07:35] marekbiskup commented on #11213
Not hard. We managed to make it work within minutes.

[2015-07-15 08:02] pz07 commented on #11221
@lavalamp, do you mean aggregating application logs? that's must have, but still I find HTTP logs extremely useful. Application logs are of different quality and it's often hard to reason from them.

[2015-07-15 08:22] sttts commented on #10776
Looking into it.

[2015-07-15 09:08] #10616 closed

[2015-07-15 09:08] mwielgus commented on #10731
Fixed with #11146

[2015-07-15 09:08] #10731 closed

[2015-07-15 09:39] moix commented on #10620
Thanks @liggitt, I took a look to local-up-cluster.sh and salt/generate-cert/make-ca-cert.sh and could setup it correctly.
But, as commented at https://github.com/GoogleCloudPlatform/kubernetes/issues/10265, the ca.cert was missing, only the token file was mounted. It was an issue in 0.19 and upgrading to 1.0 fixed it.

[2015-07-15 09:39] #10620 closed

[2015-07-15 09:56] rawlingsj opened #11296 "Unable to proxy a service"
Seeing a strange issue when trying to proxy a service running on GKE, api version v0.21.2

`/api/v1/proxy/namespaces/default/services/myservice/index.html`
[code]
The service is definitely there and can be seen using
`/api/v1/namespaces/default/services/myservice/`

If going directly to the pod then it works..
`/api/v1/proxy/namespaces/default/pods/myservice-w4l8b/index.html`

Is there a configura

[2015-07-15 10:09] kgrvamsi commented on #11114
@dchen1107  when i start the kublet then i should see the cadvisor port running on 4194 and the kublet port @10250 but as you can see my above comment i see only 10250 port opened but not the cadvisor port.

@erictune initially i was in a assumption that kublet also serves the cadvisor api's on the same port but later i go to know from other issues that cadvisor runs by default (standalone mode) o

[2015-07-15 10:19] frosenberg opened #11297 "Cannot deploy on AWS with v1.0.0 release candidate"
I used the latest release to deploy on EC2. It fails as follows (just showing the relevant parts of the CLI output):

[code]

Here are the environment variables I use:
[code]

The minion has the following content in the salt log:
[code]

I have been seeing this in older version too (v0.21.2).

[2015-07-15 10:59] marekbiskup commented on #11207
I added querying the service via the proxy (from the client) before trying to query the service via DNS (from another pod) and the issue has gone.
I'm not 100% sure IP creation delay was the cause. Maybe just an additional delay, alone, helped to cover another issue. (I use wait.Poll, which adds 5s delay before makes a check.)

[2015-07-15 11:22] wojtek-t commented on #11215
I did a deeper debugging of that problem based on the run gce-parallel 3498 - it has exactly the same symptoms and have monit logs for it. What happens is that (all the logs comming from kubelet 104.197.34.96):

- kubelet from containerVM image is running
- we restart it after appropriately copying our binaries:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/ku

[2015-07-15 12:02] pires commented on #9178
@kelseyhightower definitely! Thank you.
On Jul 14, 2015 5:05 PM, "Kelsey Hightower" <notifications@github.com>
wrote:

[2015-07-15 12:12] #11207 closed

[2015-07-15 12:31] marekbiskup commented on #11144
@davidopp, It's quite a lot of work to go through all examples. And creating an RC first seems to be natural, so I suppose we may want to go back to the current order (RC, then service).

How about leaving the examples as they are and adding a note to only one or two of them for instance in the guestbook (I can do it). After 1.0 we will add either @gmarek's or @mikedanese's patch (or something els

[2015-07-15 12:47] wojtek-t opened #11302 "Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both. (Failed 25 times in the last 30 runs. Stability: 16 %"
cc @saad-ali @davidopp @quinton-hoole

[2015-07-15 12:48] wojtek-t commented on #11302
There were:
- 2 failures as part of "gce-flaky" suite: 2170, 2171
- a bunch of failures inside "gce-parallel-flaky" suite

[2015-07-15 12:58] wojtek-t commented on #11302
I looked a bit into logs and in all cases it seems that we are simply not able to attach the volume.
[Example logs from 2472 run in gce-parallel-flaky]:

    W0715 00:40:06.083878    3061 gce_util.go:160] Timed out waiting for GCE PD "parallel-flaky-f39acc33-2a89-11e5-b4e7-42010af01555" to attach. Retrying attach.
    I0715 00:40:06.456545    3061 server.go:635] GET /healthz: (3.602916ms) 0 [[moni

[2015-07-15 13:01] WIZARD-CXY commented on #9502
/sub

[2015-07-15 13:10] djannot opened #11304 "Can't create a service with v1.0rc2 => Timeout: request did not complete within allowed duration"
s3picsService.json:

[code]

kubernetes/platforms/linux/amd64/kubectl --server=10.64.231.42:8888 create --v=9 -f s3picsService.json
I0715 15:06:11.266410   29402 decoder.go:141] decoding stream as JSON
I0715 15:06:11.267864   29402 debugging.go:101] curl -k -v -XGET  -H "User-Agent: kubectl/v1.0.0 (linux/amd64) kubernetes/cd82144" http://10.64.231.42:8888/api
I0715 15:06:11.269408   29402 debuggin

[2015-07-15 13:22] marekbiskup opened #11305 "Mungedocs should assert <some config> exists for examples using kubectl -f <some-config>"
The following one-liner shows some errors:

[code]

As @lavalamp did recently with broken links, maybe we can do something with broken file paths.
I don't have any idea how to do it easily.

cc @mikedanese

[2015-07-15 13:31] marekbiskup commented on #9185
I'm closing this issue. the `/` character in labels is a design decision and we don't want to change it.
And now we have other template languages, as @daizuozhuo said.

[2015-07-15 13:31] #9185 closed

[2015-07-15 13:33] #10985 closed

[2015-07-15 13:52] bgrant0607 commented on #11305
Yes, we need to fix these

[2015-07-15 13:56] bhouse opened #11307 "controller-manager crash when specifying --allocate-node-cidrs=true without a cloud provider"
Running the `controller-manager` via the `hyperkube` container, I was getting a stack trace in the logs. Turns out I was calling `--allocate-node-cidrs=true` without a cloud provider. It gave an error message about requiring a cloud provider, but then dumps a full stack trace.

[code]

[2015-07-15 13:58] bhouse commented on #11307
maybe related to #11172

[2015-07-15 14:21] markturansky commented on #9139
@jiangyaoguo We've not started this yet.  Feel free to take a shot at it :)  Between Builders, Cleaners, and now Recyclers, I think the pattern is pretty clear.

I'd start with just 1 in a PR and get some feedback.  Repeat with the rest of the plugins.  I'm happy to review your work.

[2015-07-15 14:21] bgrant0607 commented on #11144
@gmarek I wasn't suggesting that we do nothing.

If we spread by RC, then it should be by both RC and service.

If we spread by labels, then it should be by exact match, and we should also still spread by service.

[2015-07-15 14:31] marekbiskup opened #11309 "kubectl port-forward - invalid error message."
[code]

Should be "for port-forward"

[2015-07-15 14:32] gmarek commented on #11144
Can you elaborate a bit what you mean by "both RC and service"? I'll try to update my PR tomorrow.

[2015-07-15 14:38] marekbiskup opened #11310 "Improve bash completion of kubectl"
TODOs: *Last updated on Sept 2 by Janet*
- [x] kubectl label - suggest a resource type
  - [x] kubectl get and delete also use kubectl.NewHumanReadablePrinter to get the resources back, thus should be fixed as well.
- [x] kubectl exec - suggest the pod name
- [x] kubectl rolling-update - suggest the rc name
- [x] check that `kubectl log $pod [tab][tab]` is doing the right thing
- [x] Distribute `c

[2015-07-15 14:42] pmorie commented on #9139
Likewise, feel free to tag me in for code review.

On Wed, Jul 15, 2015 at 10:21 AM, Mark Turansky <notifications@github.com>
wrote:

[2015-07-15 14:43] marekbiskup commented on #10992
for 9:
Automcompletion works well, but has to be installed. I reported #11310 to include this information in the doc.

[2015-07-15 14:43] marekbiskup commented on #10992
All issues mentioned here were resolved or delegated to other issues.

[2015-07-15 14:43] #10992 closed

[2015-07-15 15:07] marekbiskup commented on #11310
It looks like the bash-completion file is not distributed with kubernetes binaries:
[code]

[2015-07-15 15:15] pmorie commented on #9338
Related: #4871

[2015-07-15 15:16] pmorie commented on #6605
Related: #4871

[2015-07-15 15:18] bgrant0607 opened #11311 "Ensure all docs and examples in user guide are reachable"
We've consolidated user docs in docs/user-guide. We should ensure that we link to all of them from reasonable places within the user guide -- they all need to be reachable.

[2015-07-15 15:27] timothysc commented on #5472
Ok, late to the party on this one which is why I opened the separate ticket.

I pretty much agree with everything @bgrant0607 has stated thus far, but I'm actually opposed to the idea of 'Go' all the deployment things, due to the plethora of choices different folks will want to use.  (Chef, puppet, ansible, salt, etc.)

What is common to all these tools is a set of operations..
e.g. - gen certs, c

[2015-07-15 15:34] erictune commented on #11304
What Cloud provider are you using?

[2015-07-15 15:34] erictune commented on #11304
assigned to @lavalamp to delegate to someone who understands apiserver well enough to support this.

[2015-07-15 15:35] rrati commented on #5472
+1 to using shell/bash scripts over go programs.  Any knowledge of what is going on and debugging is much easier for an admin when the system is written in a shell script vs go.  While automation is great, there will be instances where it will fail and in those cases more people are used to looking at and interpreting shell scripts than go.

[2015-07-15 15:36] erictune commented on #11302
Moving to post since AIUI this is a test stability fix.

[2015-07-15 15:37] erictune commented on #11297
@justinsb

[2015-07-15 15:41] smarterclayton commented on #11288
Not every container has 'ip'.  `hostname -i` returns 127.0.0.1 on at least
half my systems.  podIP is *always* correct (the IP other pods should use
to contact this pod).

existed time immemorial and is not at all related to kube or containers :)

The fact that the problem has existed from time immemorial and that there
is no way to easily figure it out is a crime. :)

On Wed, Jul 15, 2015 at 1:01

[2015-07-15 15:41] jayunit100 commented on #10030
@lavalamp are you referring to #10147 as the fix?

[2015-07-15 15:42] yujuhong commented on #11215
From looking at monit.log in my own cluster, monit seems to be checking the services sequentially in every cycle. Among the services, kube-addon is bound to fail on the minions, so monit waits 30 seconds for it to start in every cycle, causing the cycle to be 2m+30s. If you have multiple failed-to-start services, the cycle could be longer.

Here is an example (with kube-addon start timeout set to

[2015-07-15 15:44] erictune commented on #11296
Can you confirm that your service's selector is selecting any pods?
Run `kubectl get services`, look for the row of your service, then in the `SELECTOR` column for something like `foo=bar`.  This is the selector for your service.  Now see if that selector is selecting any pods, like `kubectl get pods -l foo=bar`.  If no results from that, then that is your problem.

[2015-07-15 15:46] #9578 closed

[2015-07-15 15:51] rawlingsj commented on #11296
Thanks but yes that's all working correctly.  I'm able to use the service directly and via a GKE external load balancer. The issue is only when using the proxy.

[2015-07-15 15:54] djannot commented on #11304
I'm running Kubernetes on a CoreOS cluster.

[2015-07-15 15:55] roberthbailey commented on #5472
I think shell scripts are great for small linear tasks, but creating a cluster is neither. The current set of shell scripts is near unmaintainable and doesn't provide the framework for having clean interfaces to cloud providers. I would also like to see us start doing a bunch of the cluster creation tasks in parallel, which is going to be significantly easier to do in Go than shell.

Another idea

[2015-07-15 15:56] roberthbailey commented on #11296
@rawlingsj If you don't mind sending me (robertbailey [at] google.com) you cluster name / project ID I can take a look and see if there's anything obviously wrong with the proxy on your master.

Can you confirm that the proxy works for pods but not for services?

[2015-07-15 15:59] roberthbailey commented on #11297
@brendandburns

[2015-07-15 16:00] zmerlynn commented on #5472
My thinking has actually drifted to where @roberthbailey, and I was writing that up, but he beat me to it. For GCE/GKE, I'd rather push provisioning into the master, which would solve a lot the GCE/GKE divergence issues, and it would give us a model for other cloud providers as well. My goal is to start looking at this soon, after I fry some other GKE fish.

[2015-07-15 16:05] rawlingsj commented on #11296
@roberthbailey sure I'll send the details over now, but yeah the issue is the proxy works for pods but not services.

[2015-07-15 16:07] erictune commented on #11248
Agree.  Want to send a PR?

[2015-07-15 16:07] erictune commented on #11248
@bgrant0607

[2015-07-15 16:08] erictune commented on #11248
Breaks a bunch of documentation if this doesn't work.  Changing kubectl seems low risk since this is single purpose command.

[2015-07-15 16:09] erictune commented on #11248
Hmm.  However, there is the problem of backwards compatibility of kubectl command.
Could it do the following:
 - if kube-system namespace exists, list that, otherwise, use default?

[2015-07-15 16:12] erictune commented on #11283
@saad-ali please reduce priority if you cannot repro

[2015-07-15 16:12] timothysc commented on #5472
I think what we are proposing is congruent, although we are slightly talking past each other on the ticket.

We're not proposing creating the cluster with shell scripts, we are only proposing the common operations as stated above, become scripts to be used by * cluster creation tools. (chef, puppet, ansible, salt, etc.) e.g. take all the 1-2 step magic out of salt.

I read that to mean the master

[2015-07-15 16:16] erictune commented on #11304
Can you check and/or provide apiserver logs (e.g. using `journalctl`)  from the same time frame as the failure?

[2015-07-15 16:19] erictune commented on #11221
This is clearly useful.  I'm not sure whether it is a core feature of kubernetes or a feature of a PaaS/Framework that runs on top of it.  @smarterclayton does OpenShift provide a standard way to log intra-cluster http requests along with latency stats for them?

[2015-07-15 16:26] roberthbailey commented on #5472
Certainly possible. :)

I think we all agree on the desired end state: A simpler way to create and configure clusters.

We would like to reduce the dependence on salt, but I don't think we've had time to think about the best way to do it yet.

[2015-07-15 16:39] jayunit100 commented on #5472
Possible compromise : If reason for go == concurrency + expressiveness ; then in addition to bash allow Python/Ruby ? Admins generally can read py/rb/bash

[2015-07-15 16:40] aronchick commented on #11221
Wouldn't best practice to be to run the web server as a foreground process
and output logs to stdio ? Or is this for multiple logs?

On Wed, Jul 15, 2015, 09:19 Eric Tune <notifications@github.com> wrote:

[2015-07-15 16:46] bprashanth commented on #10030
yes

[2015-07-15 16:59] lvlv commented on #11288
Is it possible to expose more like spec.nodeName as well?

On Wed, Jul 15, 2015 at 11:42 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-07-15 17:08] thockin commented on #11288
NodeName crosses a different philospohical line and would require more
debate :)

On Wed, Jul 15, 2015 at 10:00 AM, Lv Lv <notifications@github.com> wrote:

[2015-07-15 17:10] roberthbailey commented on #11296
@rawlingsj when you created your service did you give the port a name?

Try `/api/v1/proxy/namespaces/default/services/myservice:portname/index.html`

[2015-07-15 17:12] roberthbailey commented on #11296
The proxy will only find an address for your service [if the port string matches exactly](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/service/rest.go#L311) and if one isn't specified in your query it [uses the empty string by default](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/util/port_split.go#L39). If you create your service with a named por

[2015-07-15 17:12] philk commented on #5472
I actually like the idea of the master being able to provision cloud resources for a completely different reason than just automation and initial bootstrapping. If the master is responsible for interacting with AWS, GCP, etc then there can be one place to handle auto-scaling versus the current setup where you'd need to autoscale new nodes via your cloud provider then resize a replication controlle

[2015-07-15 17:16] yujuhong commented on #11215
If I understand correctly (from the logs), monit does not immediately restart a service after a failed attempt to start the process. It simply logs it and move on until the next cycle (e.g. the kube-addon attempts in the log). If monit keeps trying to restart the service until it's running, it'd be stuck at kube-addon forever.

[2015-07-15 17:24] rawlingsj commented on #11296
Ah I see.. no I created it using the CLI and didn't give a port name.

`kubectl expose rc myservice --create-external-load-balancer=true --port=80 --target-port=9090`

I'll give that a go now.

[2015-07-15 17:24] JanetKuo opened #11316 "MUNGE generated table of contents won't work when there's a symbol in the headline"
If the title/headline contains symbols like `'` or `?`, the generated TOC link won't work.

For example, the generated TOC link of the headline `### It doesn't work` will be `#it-doesn't-work`
but the link should be `#it-doesnt-work`; if the headline is `### How to do this?`, the link should be `#how-to-do-this` instead of `#how-to-do-this?`

[2015-07-15 17:30] thockin commented on #11296
Hmm, it looks like 'expose' gives unnamed ports a name of "default".  That
seems like a misfeature to me.  Care to open a bug?  Alternately we could
make teh proxy assume that no name means "first port found" which will
handle single-port services transparently.  Or both

On Wed, Jul 15, 2015 at 10:24 AM, James Rawlings <notifications@github.com>
wrote:

[2015-07-15 17:37] yujuhong commented on #11309
Are you using the kubectl from gcloud?

[code]

[code]

[2015-07-15 17:39] rawlingsj commented on #11296
That's great it is working with default, many thanks both!

`/api/v1/proxy/namespaces/default/services/myservice:default/index.html`

I'll close this issue and raise one for the misfeature to be discussed.  Thanks again.

[2015-07-15 17:39] #11296 closed

[2015-07-15 17:46] bgrant0607 commented on #11311
We should also cross-link concept/feature docs, feature-oriented examples, and tutorials. For example:
* docs/user-guide/pod-states.md#container-probes
* docs/user-guide/liveness
* docs/user-guide/production-pods.md#liveness-and-readiness-probes-(aka-health-checks)

[2015-07-15 17:47] bgrant0607 commented on #11311
cc @krousey @RichieEscarez

[2015-07-15 18:05] gmarek commented on #11215
@yujuhong - good point. We haven't though about it when looking into logs. It sounds that we probably understand the problem completely, which is good, as it means that @wojtek-t PR should solve it completely (as long as we'll be able to start up Docker daemon in under a minute).

[2015-07-15 18:08] timstclair commented on #11248
Actually, it looks like this was already done by https://github.com/GoogleCloudPlatform/kubernetes/commit/988aa6fdf67110cdfc012bf79a15d39c337f58bc, I must have been using an old version.

[2015-07-15 18:08] #11248 closed

[2015-07-15 18:12] pmorie opened #11319 "Control permissions of non-emptyDir volumes"
Forking from #2630

This issue is to discuss how we can offer control of permissions on volumes that are not emptyDir or based on emptyDir (secrets, git repo, downward API) so that they can be used easily with packages that have requirements about perms.

@thockin @eparis @smarterclayton

[2015-07-15 18:13] preillyme commented on #11297
FWIW — I'm seeing a similar issue in our testing as well.

[2015-07-15 18:14] bgrant0607 commented on #10966
See also #9097

[2015-07-15 18:18] lavalamp commented on #11305
@krousey wants to add a thingy to mungedocs that inlines example files into the docs, so they don't need to be updated in two places. That would presumably fix this at the same time.

[2015-07-15 18:22] saad-ali opened #11321 "Explicit errors while detaching GCE PD prevent PD from ever being detached"
If `GetCloudProvider` or `DetachDisk` calls fail while detaching a GCE PD, because the previous `Unmount` call succeeded, there are no further attempts by kubelet to detach the PD, and the PD remains attached to the node indefinitely.

Code in question [pkg/volume/gce_pd/gce_util.go#L114](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/volume/gce_pd/gce_util.go#L114):
[code]

`ve

[2015-07-15 18:23] lavalamp commented on #11305
@mikedanese maybe we can leave this open for the general problem after your patch is merged?

[2015-07-15 18:28] saad-ali commented on #11283
I still have a repro:
[code]
[code]
[code]

[2015-07-15 18:28] lavalamp commented on #11304
Is etcd healthy? apiserver logs would be very helpful.

[2015-07-15 18:28] lavalamp commented on #10030
Yes.

[2015-07-15 18:30] evanphx opened #11324 "Service continues and fails to configure an ELB, locking out AWS account"
After setting up a few services, I noticed the following output in `get events`:

[code]

I assume the service tried to configure an ELB in the past (not sure when or how or what details it tried to use) and has kept trying and now can't even use the AWS API.

How can I either:
1) tell it to please stop so that I can use my AWS account again
2) fix it so that it does configure the ELB

/cc @justin

[2015-07-15 18:44] justinsb commented on #11324
Sorry about the problem.  Looks like we need a sleep / backoff policy here!

To get you up and running again, if you redeploy the nginx service without Type=LoadBalancer, we will (should) stop trying to create a load balancer, and you should get out of the AWS API penalty-box.

Sorry about this, and thanks for the report.  Looks like this is pretty important to fix.

Do you happen to know why you

[2015-07-15 18:44] justinsb commented on #11297
I will try to reproduce

[2015-07-15 18:46] evanphx commented on #11324
@justinsb I'll remove the service, wait for the penalty-box to expire, then build it again so that we can see what the real error was.

[2015-07-15 18:46] bgrant0607 commented on #9399
I think we should just do this manually for now. It requires a human to know where the most appropriate content is.

See also #11311.

cc @JanetKuo @caesarxuchao @krousey

[2015-07-15 18:47] a-robinson opened #11327 "GCE UpdateTCPLoadBalancer removes all VMs from load balancer"
UpdateTCPLoadBalancer works by getting the list of the current nodes in the load balancer's target pool and then comparing them to the list of nodes in the cluster. In the process, though, it compares the project ID returned by the target pool API with the string ID known to the controller manager, but one of them is the numeric project ID and the other is the string project ID. We then add the on

[2015-07-15 19:01] fredjean commented on #10906
I am making progress in getting this running. The master and node(s) are now getting to the provisioning step.

[2015-07-15 19:05] preillyme commented on #11297
I was able to get it working now following: https://github.com/GoogleCloudPlatform/kubernetes/blob/v1.0.0/docs/getting-started-guides/aws.md

[2015-07-15 19:10] saad-ali commented on #11231
I ran the PD E2E tests back to back on my cluster overnight. I wasn't able to repro this issue, but I discovered #11321. (The existing PD E2E tests create a PD, attach it to a node, mount it, write to it, unmount it, detach it, attach it to another node, read the data, unmount it, and detach it.)

I will write another E2E tests that more closely mirrors @rojer's repro conditions. Specifically:
1.

[2015-07-15 19:11] ardemiranda commented on #11201
@justinsb
Believe also need to change the function check-minion.
To make a "ssh forward" by the master.

More has the following comment which makes check-minion in the file "aws/util.sh: 54"
\# Basic sanity checking
\# TODO(justinsb): This is really not needed any more

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/aws/util.sh#L1054

I would make this change the "ssh foward

[2015-07-15 19:13] justinsb commented on #11297
I suspect the problem is the S3 bucket being in a non-default region, I haven't tested this as much.  But I will try to figure it out.

[2015-07-15 19:17] uluyol commented on #10009
have conversions).  The version they are used with may not be in the same
version of their code.  Requiring those to be explicitly registered by type
and name in each group isn't the end of the world (unless I missed
something making that impossible).

[2015-07-15 19:18] uluyol commented on #10009
Sorry for the accidental post + closing.

[2015-07-15 19:20] bgrant0607 commented on #9097
@andronat pointed out [Slate](https://github.com/tripit/slate) on #11253

[2015-07-15 19:28] csaintc opened #11330 "Access external load balancing ID"
I have an isomorphic javascript app that talks to the same API on both the front-end and the back-end.

On the back end, getting the service’s IP is no problem at all.

But, the service’s external IP is not contained in containers’ environment variables, so I have no way to pass that address down to the frontend.

Is there a way to get a service’s external IP inside of a container?

[2015-07-15 19:33] lavalamp opened #11331 "Add /healthz endpoint to UI container"

[2015-07-15 19:51] #11063 closed

[2015-07-15 19:51] ae6rt opened #11332 "PodSpec comment on ServiceAccountName references non-existent markdown URL"
This field

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1/types.go#L879

is commented and that comment contains a reference to a markdown file service_accounts.md that no longer exists in docs/.  The file appears to live in docs/design/ now.

[2015-07-15 19:52] frosenberg commented on #11297
@justinsb you think if I switch out the S3 location to default (i.e., unset the env var that I use), it should work.

I can try that as well but tbh I see no correlation between the salt error and the S3 location. But I'm no expert here, just a user :)

[2015-07-15 19:55] yujuhong commented on #11238
@dchen1107, by "allocated resources" do you mean the "total resource requirements of all pods on the node"?

E.g., `describe node` currently shows:
[code]

kubectl can look at the pods assigned to the nodes, and compute:
[code]

I assume kubectl'd have to exclude pods in terminated states (e.g., failed/succeeded) when summing the allocated resources since they no longer consume any cpu/memory. Sch

[2015-07-15 19:57] bprashanth commented on #11330
Can you explain how your frontend differs from the backend? (what is it using the external ip for, is it running outside your cluster?)

[2015-07-15 20:02] mikedanese commented on #11305
@lavalamp my patch is in. I'm unassigning myself and renaming. Also moving to v1-candidate.

[2015-07-15 20:03] pnovotnak opened #11334 "kube-version-change Throws Error: "no kind "ReplicationController"""
When I run the [kube-version-change](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/admin/cluster-management.md#switching-your-config-files-to-a-new-api-version) command, I get the following error:

    2015/07/15 11:34:02 Couldn't decode input: "no kind \"ReplicationController\" is registered for version \"v1beta3\""

Here's the configuration I'm trying to convert:

    ---

[2015-07-15 20:03] evanphx commented on #11324
Adding the LoadBalancer service back in, I'm seeing:

[code]

[2015-07-15 20:09] erictune opened #11335 "Jenkins timeouts on LoadBalancer"
Last Jenkins run failed.  Appears to be a timeout creating LoadBalancers.  Taking 20min to create an LB. Was green last night and nothing merged today.  Has to be GCE.

Snippet from http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/7621/consoleFull#3342045390e74f2cb-3875-4db7-be7c-109bf2060372
follows
[code]

[2015-07-15 20:09] erictune commented on #11335
@thockin

[2015-07-15 20:12] brendandburns commented on #11144
@davidopp yes, I'm suggesting simply looking at the labels on the pods and scoring based on "overlap" or something like that.

You could make the priority a sigmoid function based on number of shared labels, or something like that.  That would emphasize exact and near-matches, while quickly down-voting partial overlap.

Alternately, we could only use exact match, so
[code]

[2015-07-15 20:14] brendandburns commented on #11144
and vis a vis @bgrant0607 's comment, I think we should also continue to explicitly spread by service too.

[2015-07-15 20:15] evanphx commented on #11324
I took a few different steps and seem to have gotten it both working in different ways:

First I deleted the service because it was erroring, but I noticed the count was still going up. So I deleted the security group it said was a duplicate and then it finished setting the ELB up! That meant I needed to manually clean up the ELB resources and security groups because k8 thought it was already dele

[2015-07-15 20:21] justinsb commented on #11297
Hmmm .. it came up for me, even with the S3 bucket being in a different region.

Do you still have a non-working cluster?  Can you try running `systemctl status docker` on 52.28.128.92 so we can see the status of docker?

The error messages from kubelet are mostly known:

* No such file or directory: '/etc/sysctl.d/99-salt.conf' is fixed in #10401, but I think mostly harmless.
* The messages about

[2015-07-15 20:23] thockin commented on #11335
Trying to manually repro, I can create an LB in seconds.

On Wed, Jul 15, 2015 at 1:10 PM, Eric Tune <notifications@github.com> wrote:

[2015-07-15 20:25] justinsb commented on #11324
I have a PR that I _think_ covers this: #11029.   I thought it was a one-off error, but it sounds like it wasn't.

Thanks so much for pausing & retrying also - that was super-helpful.  Even if we think #11029 covers this, let's leave this issue open to track the need for a backoff to avoid overloading the AWS API.  (And presumably this aggressive retrying happens on other clouds also, though maybe

[2015-07-15 20:28] justinsb commented on #11297
@frosenberg so that was my theory, but I am no longer convinced, as it worked for me.  And the salt files come from S3, so if that was the problem I suspect we would fail much earlier.  It looks more like something went wrong with docker startup.  Output from systemctl status docker would be the next step, I believe.

[2015-07-15 20:34] bgrant0607 commented on #11157
And declarative update (#1702) is the general solution.
cc @jackgr

[2015-07-15 20:36] frosenberg commented on #11297
@preillyme if you followed the procedure, I guess you installed v0.21.1, right?

[2015-07-15 20:40] bgrant0607 commented on #11305
Moved to v1.0 milestone. Clearly we need this.

[2015-07-15 20:48] frosenberg commented on #11297
Just followed the aws docs and installed v0.21.1. Same issue here. Trying version 1.0.0 now.

Docker fails to come up. Here is the upstart log `/var/log/upstart/docker.log`:

[code]
The same entry keeps repeated in the log.

The `/var/log/salt/minion` log shows this:
root@ip-172-20-0-193:~# cat /var/log/salt/minion
2015-07-15 20:39:07,796 [salt.loaded.int.module.cmdmod][ERROR   ] Command 'service

[2015-07-15 20:54] evanphx commented on #11324
Certainly looks like #11029 should fix it. I'm still wondering why I'd see it failing literally for hours in a loop though. If it was a problem with AWS being eventually consistent, then after an hour I'd think that first check, looking to see if the securityGroup existed, would start to return the group!

I don't know the k8 code well yet, though so perhaps it was looping in a different place tha

[2015-07-15 20:55] #10776 closed

[2015-07-15 20:56] thockin commented on #11330
service.status.loadBalancer.ingress

On GCE the ip field is set.  On AWS the hostname field is set

On Wed, Jul 15, 2015 at 12:29 PM, csaintc <notifications@github.com> wrote:

[2015-07-15 21:15] arun-gupta opened #11338 "Incorrect number of Pods shown by kubectl when scaling Replication Controller"
A Replication Controller is started using https://github.com/arun-gupta/kubernetes-java-sample/blob/master/wildfly-rc.yaml and shows:

[code]

Pods are shown correctly as:

[code]

Scaled up by 1 (config file has 2) as:

[code]

and the output is updated correctly:

[code]

Replicas are then reduced to 1:

[code]

and the output shows:

[code]

Ctrl+C and view the list of pods running shows:

[cod

[2015-07-15 21:18] saad-ali commented on #11283
@thockin just pointed out `readOnly: true` is for the `secrets` volume. I knew it was too good to be true. Closing.

[2015-07-15 21:18] #11283 closed

[2015-07-15 21:26] dchen1107 commented on #11215
@gmarek I don't think @wojtek-t's PR solve the race issue at booting time we are talking here. Again, the issue is only occurring at boot time and like I mentioned at the initial issue: https://github.com/GoogleCloudPlatform/kubernetes/issues/10792#issuecomment-120137088 Such race is expected since we don't fully control boot sequence, and kubelet and docker can be restarted by various sources tod

[2015-07-15 21:27] frosenberg commented on #11297
Just ran a test with v1.0.0 (distro 'vivid'). It fails as well with docker not coming up.

[code]

Any clue? Cloud the ubuntu image in region in eu-central-1 be busted? I give it another try in the us-east region.

[2015-07-15 21:38] yujuhong commented on #11215
@dchen1107 posted a new comment which gave more details about the cons of @wojtek-t's PR while I was editing my comment.

Hmm....I don't think increasing the start timeout would solve the problem.
  1. A lot of restarts are caused by race conditions from multiple sources trying to start kubelet: init.d, salt, monit. Unless we solve the fundamental issue, adjusting timeout wouldn't help much.

  2.

[2015-07-15 21:40] bgrant0607 commented on #11144
One way to spread using both RC and service is to put pods matching either all into one set. See PR #9560 for a more general approach to anti-affinity. There was some discussion of spreading on #367 also.

[2015-07-15 21:47] bgrant0607 commented on #11144
Semantic information is required in order to interpret overlapping labels sets. Just using a function of fraction of matching labels doesn't work well for many real examples. A differing label key might indicate a different app, prod vs. dev, or a new release being deployed during rolling update. Also, 7 out of 8 labels matching probably isn't typically more significant than 1 out of 2 labels matc

[2015-07-15 21:48] #11327 closed

[2015-07-15 21:51] a-robinson opened #11340 "Tests to verify that existing pods/services continue to function across cluster resize and/or upgrade"
We have tests that verify that things work before and after resize, but AFAIK don't sufficiently ensure that everything in the cluster continues working properly in the steady state after an upgrade. #11327 is an instance of a bug where within the first 30-60 seconds after a resize or upgrade, external load balancers on GCE will continue working, but after target pool changes have had time to prop

[2015-07-15 21:53] frosenberg commented on #11297
Ran the whole process in us-east-1 again. Same issue. Some more log information from syslog:

[code]

I think it boils down to the `no such network interface` error when starting up docker.

[2015-07-15 21:56] gmarek commented on #11215
In Kubelet logs we saw 3-4 Kubelet starts: first one is kubelet from container image, probably started by init.d. After that salt kills running Kubelet and starts new Kubelet twice - once to check if it boots up at all (or test something else - I don't know), this Kubelet lives from 10ms to 100ms. Second one should live. The thing that we observe is that last Kubelet start too slowly, which makes

[2015-07-15 21:56] lavalamp commented on #11144
I think it's simpler to just spread things that have identical labels. Then that will continue to work even when/if we act on previous discussions to stop using labels to indicate ownership.

[2015-07-15 22:00] #10572 closed

[2015-07-15 22:00] thockin commented on #11305
This would be great.  @krousey says not working on it, I'll see if I can do something minimal

[2015-07-15 22:01] #9416 closed

[2015-07-15 22:02] smarterclayton commented on #11319
So existing proposal is there is a pod wide security context that applies
to volumes (explicit or inferred).  Volumes need to know the uid, gid,
SELinux label.  They also may need perm flags, but I assume that is per
volume?

On Jul 15, 2015, at 2:12 PM, Paul Morie <notifications@github.com> wrote:

Forking from #2630
<https://github.com/GoogleCloudPlatform/kubernetes/issues/2630>

This issue is t

[2015-07-15 22:02] gmarek commented on #11144
@brendanburns @thockin @bgrant0607 @lavalamp @davidopp  - please decide if it should make it into v1.0. If so I'll be happy to implement it tomorrow, so also please decide how it should work. There were already too many discussions on this subject and I believe we just need someone who'll make a final (at least for now) decision.

As I wrote - I believe that the current state is bad and we should

[2015-07-15 22:08] yujuhong commented on #11215
My point is (of course I could be wrong) that monit does not rely on the 30s timeout for checking /healthz, so increasing the timeout doesn't help.
  - salt starts kubelet
  - monit does routine health check, cannot reach /healthz
  - monit starts kubelet
     - If kubelet process is running, monit moves on
     - Otherwise, it waits for at maximum 30s, and then moves on.
  - monit ides for 2 minu

[2015-07-15 22:13] frosenberg commented on #11297
Looks like it is working now. I suspect it was the IAM role for the minion (b/c that is the only thing I clean up between the last `kube-up` run and this one). I had one laying around from a some older version that was different. I was not aware the the `kube-up.sh` does not update an "outdated" IAM role.

[2015-07-15 22:16] mbforbes commented on #11340
So we do have exactly this test; it's called [`cluster_upgrade.go`](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/cluster_upgrade.go), and is discussed in #8081, https://github.com/GoogleCloudPlatform/kubernetes/issues/8081#issuecomment-112499324, #9987, ... . It creates resources, does an upgrade, then checks whether the resources are healthy. We've wanted to do more of t

[2015-07-15 22:20] gmarek commented on #11215
Well, there's a simple way to check it, as I don't think increasing timeout will do much harm:)

Another data point is that I'm not convinced that there's a 'race' per se (i.e. there's never two kubelets running in the same time). When looking at Kubelets logs I've never seen interleaving of PIDs that write logs, which suggests that everything that starts Kubelet kills the previous one. It is poss

[2015-07-15 22:25] yujuhong commented on #11215
One race condition I pointed out was that monit kills and restarts kubelet prematurely, as another source has *just* started kubelet (hence no response from /healthz). I have logs to verify that.
Also, most of them tries to stop and then start kubelet. The race condition would most likely cause short-lived kubelet processes.

As for why increasing timeout may be bad, Dawn's https://github.com/Goog

[2015-07-15 22:35] rojer commented on #11231
thanks, Saad.
fwiw and on the off-chance it makes a difference, i used g1-small instance type for my "cluster".

[2015-07-15 22:54] ddysher commented on #8735
It seems that localhost is not implicitly tried.

I've started a dnsmasq container on localhost, with the simplest config:
[code]

I can't reslove kube services:
[code]

But I can resolve if using localhost explicitly:
[code]

I'm using GCE, resolve.conf has the following content. it works if I added localhost explicitly
[code]

[2015-07-15 22:59] justinsb commented on #11297
Ah; thank you for noticing that.  There is indeed an issue where we don't verify the IAM role configuration.  My thinking here is that users may have deliberately granted more rights to their masters/minions.  Perhaps that is much rarer than the much-more-common case of us changing the IAM configuration.

kubelet restarts docker after it configures cbr0, so it sounds like that is why Docker was no

[2015-07-15 23:20] nikhiljindal commented on #1743
I discussed this with @bgrant0607 and I am going to look at this in detail.
Assigning to myself.

[2015-07-15 23:20] pnovotnak opened #11342 "kubectl get logs <podname> throws error"
Running `kubectl get logs <podname>` results in an error:

    Error from server: Get https://gke-cyrus-cluster-us-central1-a-CENSORED-CENSORED-node-CENSORED:10250/containerLogs/default/<podname>-CENSORED/<podname>?follow=true: use of closed network connection

The output of `kubectl version`:

    Client Version: version.Info{Major:"0", Minor:"20", GitVersion:"v0.20.2", GitCommit:"323fde5bc5c45e3

[2015-07-15 23:23] bgrant0607 commented on #11227
cc @caesarxuchao

[2015-07-15 23:32] RichieEscarez opened #11344 "Implement the steps necessary for publishing docs to gh-pages (out of master)"
As part of the release process, we need to process our .md files, specifically our user-facing documentation under the "docs" and "examples" folders in the master branch, and then copy them over to a release specific folder in the gh-pages (for example, the v1.0 folder is "v1_0" and the corresponding HEAD folder is "vHEAD".

The gh-pages directory structure will be match master with the exception

[2015-07-15 23:33] nikhiljindal commented on #10043
This is where mesos is using binding as top level resource: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/contrib/mesos/pkg/executor/executor.go#L470.
We need to change that to Resource("pods").Subresource("bindings")

[2015-07-15 23:42] #11229 closed

[2015-07-15 23:53] ixdy commented on #10868
Found another cluster (kubernetes-e2e-gce-parallel-flaky) which appears to be stuck with the docker load issue.

[code]

Are there any logs I should save which would help narrow this down to a simpler repo? (@thockin requested a simpler repro on #10998.)

[2015-07-15 23:58] bgrant0607 commented on #1743
Regarding in-place updates: I think we'll want to do that eventually, but we need 3-way diff (#1702) and would need to allow enough in-place (and ideally non-disruptive) pod/container updates to make the complexity worthwhile. For images, I don't know that it makes sense, since a new image needs to be pulled, anyway, unless you're doing it to preserve local storage, which needs a better solution,

[2015-07-16 00:05] smarterclayton commented on #1743
Agree on local storage.  We're trying to hedge against that in the short
term for real workloads.

On Jul 15, 2015, at 7:58 PM, Brian Grant <notifications@github.com> wrote:

Regarding in-place updates: I think we'll want to do that eventually, but
we need 3-way diff (#1702
<https://github.com/GoogleCloudPlatform/kubernetes/issues/1702>) and would
need to allow enough in-place (and ideally non-dis

[2015-07-16 00:06] esecules opened #11348 "Rolling Update to New "latest" Image"
Is it possible to do a rolling update where kubernetes pulls and uses the newest Docker image with the "latest" tag rather than having to change the replication controller spec to use version 2.0.0 instead of 1.2.3 for example?

[2015-07-16 00:15] yujuhong commented on #10868
Some obvious ones I can think of:
   - /var/log/startupscript.log: records when the tarballs are copied, and when kube-master-addons.sh is run.
   - /var/log/docker.log: records the image load/pull requests.

@dchen1107 would know more.

[2015-07-16 00:16] pnovotnak commented on #11342
Also, sometimes it throws `Unable to connect to the server: EOF`

[2015-07-16 00:24] thockin commented on #11305
I have a validator written, but it get tricky.  many examples do things like:

[code]

I'm going to assert that references with no directory elements are mostly of this form and are OK

[2015-07-16 00:24] roberthbailey commented on #11342
Can you run `grep "Accepted publickey for gke-41c25b6ea59e0d7da1d0 from" /var/log/auth.log` on one of your nodes to see if there are any entries? The master is having issues creating an ssh tunnel into your nodes (kubectl logs uses the proxy running on the master).

[2015-07-16 00:26] ixdy commented on #10868
OK, saved those two logs:
* https://storage.googleapis.com/kubernetes-jenkins/debug-logs/2015-07-15/docker.log
* https://storage.googleapis.com/kubernetes-jenkins/debug-logs/2015-07-15/startupscript.log

[2015-07-16 00:26] pnovotnak commented on #11342
The cluster was not working very well and unfortunately, about 120 seconds ago I deleted it :(

Will try this if/when it happens again.

Thanks!
-Peter

[2015-07-16 00:30] a-robinson commented on #11327
For posterity, I've manually verified that #11329 fixes this when downsizing a cluster.

[2015-07-16 00:32] AnanyaKumar commented on #147
I'm starting work on the Kubelet side of QOS tiers. Right now, my plan was to support 2 tiers - batch jobs and production jobs. Does this seem reasonable, or do you think keeping the code flexible to support an arbitrary number of tiers is essential?

[2015-07-16 00:38] thockin opened #11351 "master"

[2015-07-16 00:38] thockin commented on #11351
hmm, not sure what happened here..

[2015-07-16 00:38] #11351 closed

[2015-07-16 00:54] rroopreddy commented on #10931
I just tried with latest "Release 1.0.0 Candidate Two" to replicate original problem. kubectl command fails, let me wait for another release to see if I can get past this and duplicate Cassandra issue

error: couldn't read version from server: Get http://localhost:8080/api: dial tcp 127.0.0.1:8080: connection refused

[2015-07-16 01:08] feihujiang commented on #11309
this was addressed by #10913

[2015-07-16 01:39] smarterclayton commented on #147
We *might* have a use case for a dev workload which is not batch, but
suitable for preemption.  However, it could probably be classified with
batch safely, so we don't have a concrete level beyond the two you mention.

On Jul 15, 2015, at 8:32 PM, Ananya Kumar <notifications@github.com> wrote:

I'm starting work on the Kubelet side of QOS tiers. Right now, my plan was
to support 2 tiers - batch jo

[2015-07-16 01:41] feihujiang commented on #10305
@bgrant060 Maybe someone forgets resource name when using describe command, and if `kubectl describe <kind>` works, lot's of information output is a little boring. I think `kubectl describe <kind> --all` is better.  What's your opinion?

[2015-07-16 01:45] smarterclayton commented on #11221
It (Openshift) does not automatically (doesn't change the Kube proxy internally to an L7 aware).  I know a few folks have replaced the service proxy with HAProxy, and we plan on exposing *some* metrics data from our edge HAProxy to heapster / influx for use in autoscaling, and that HAProxy and Apache and others could easily generate the latency numbers).  I don't think we have a short term plan to

[2015-07-16 02:00] F21 opened #11354 "Unable to use selectors"
I have kube-ui running on kubernetes.

Using `kubectl` confirms that it's running:

[code]

If I try to select the kube-ui svc using its label, nothing is found:
[code]

[2015-07-16 02:16] vsimon commented on #11354
Try `kubectl get svc -l k8s-app=kube-ui --namespace=kube-system`

[2015-07-16 02:18] mbforbes opened #11355 "Pods test failures after master upgrade 0.19.3 → 0.21.2"
### Conditions
- e2e test version: 0.19.3
- nodes version: 0.19.3
- master version: 0.21.2

### Tests
- [FLAKE] Pods should be restarted with a docker exec "cat /tmp/health" liveness probe
- [FLAKE] Pods should \*not\* be restarted with a docker exec "cat /tmp/health" liveness probe
- [FLAKE] Pods should be restarted with a /healthz http liveness probe
- [FAIL] Pods should be updated

### Flake hi

[2015-07-16 02:45] liggitt commented on #11355
Is the failing e2e code at the 19.3 level? If so, it's probably missing the e2e fixes in https://github.com/GoogleCloudPlatform/kubernetes/pull/10523 which should help the liveness-exec check

For the last one, I think the rejected spec mutation might be the scheme in the liveness probe defaulting to HTTP when it was previously empty (added in https://github.com/GoogleCloudPlatform/kubernetes/pull

[2015-07-16 02:52] Icedroid commented on #11172
I meet the same problem. How to solve it?

[2015-07-16 02:54] bgrant0607 commented on #10305
I think it should be consistent with get.

This won't go in until after 1.0 is done.

[2015-07-16 02:57] Icedroid commented on #11222
Is it a bug? Who know how to deploy the k8s cluster correctly?

[2015-07-16 02:58] liggitt commented on #11355
Nevermind, the defaulting would have happened in the old podspec as well... so there wouldn't be a diff. I can see now the submitted podspec serviceAccountName is empty, because the 19.3 e2e client code didn't know about it. Here's the sequence:

1. pod is created by 19.3 e2e client code, probably with no service account
2. master service account admission sets pod.spec.serviceAccountName to `defa

[2015-07-16 03:11] feihujiang commented on #10305
OK, I see.  But I stick to my opinion.

[2015-07-16 03:16] bgrant0607 commented on #147
What exactly do you plan on doing, @AnanyaKumar?

I don't think we need an arbitrary number of tiers.

Please see my proposal here: https://github.com/GoogleCloudPlatform/kubernetes/issues/147#issuecomment-76504724

I wouldn't characterize the tiers as "batch" and "production".

The tier with no resource limits nor requests specified I consider "best effort". The degree to which we oversubscribe r

[2015-07-16 03:21] bgrant0607 commented on #11305
Or convert these to use stdin?

[2015-07-16 03:21] bgrant0607 commented on #11305
Or /tmp/foo.yaml

[2015-07-16 03:33] bgrant0607 commented on #11344
cc @caesarxuchao

[2015-07-16 03:33] shankeriyer opened #11359 "k8s nodes and NAT"
I have a cluster made up of ubuntu nodes 192.168.1.1("ai") 192.168.1.2 ("i")
I am trying to add a k8s node ("192.168.2.1")  that is behind a NAT gateway.
The k8s node is translated as "192.168.1.100" in the "192.168.1.x" network.
Is this supported? What configuration changes do I need to make to get this to work?

[2015-07-16 03:37] zmerlynn commented on #11355
Yes, I believe the failing e2e code is at the 0.19.3 level as well. I think @mbforbes is reattempting pivoting the e2e versions after the master upgrades as well, but we might run into other issues if the nodes are version skewed. (My hope is fewer.)

[2015-07-16 03:42] thockin commented on #11359
Have you tried it and found it to be a problem?  With things like this it
is sometimes difficult to predict what will or won't work.  If it is a
1-to-1 NAT I suspect it will be transparent to us, as long as you add the
Node with the NAT IP and not the native IP.

On Wed, Jul 15, 2015 at 8:34 PM, shankeriyer <notifications@github.com>
wrote:

[2015-07-16 03:47] bgrant0607 commented on #11144
I personally don't think the situation is that bad. There's a straightforward solution, which is documented as the recommended practice, and in the common, simple scenario of a small number of RCs deployed one after another the pods should be assigned to nodes approximately round-robin due to the least-requested priority function.

That said, urgency changes if we're actually going to produce a re

[2015-07-16 03:51] shankeriyer commented on #11359
I have tried 2 scenarios
(a) with kube_up i configure my cluster to have a k8s node with an IP of 192.168.1.100.
      I find that the k8s nodes tries to bind to the 192.168.1.100 address and there are errors in the log
(b) Next I want to try a kubeup without the "192.168.1.100" node and try to add the node after the cluster is up with the local nodes. Here I need to modify the /etc/default/kubele

[2015-07-16 03:54] thockin commented on #11359
It sounds like there's some work to be done to make this work then, sorry.  It doesn't sound like a very common case, so we didn't cover it automatically.

[2015-07-16 03:56] thockin commented on #11305
I could switch them all to /tmp/whatever.yml if you like that better

On Wed, Jul 15, 2015 at 8:22 PM, Brian Grant <notifications@github.com>
wrote:

[2015-07-16 03:58] bgrant0607 commented on #11305
Seems like it would make validation easier.

[2015-07-16 04:05] shankeriyer commented on #11359
Wonder if etcd needs a combinations of the right set of parameters to get this working
viz. --initial-advertise-peer-urls => should have the translated so that the rest of the networks can access
--listen-peer-urls should have the local ip's
and the infra<n> should have the correct IP addresses depending on the location of the peers
Will try it out and update this thread

[2015-07-16 04:21] bgrant0607 commented on #5472
I agree with many of the recent comments.

* Command-line flags are evil. We need to treat component configuration like versioned APIs.
* We want to deliver component configuration via Kubernetes itself #1627.
* As much setup should be driven by this configuration as possible, using plugins (e.g., for networking) as necessary.
* In our experience, it is important to decouple actuator/operation imp

[2015-07-16 04:29] thockin commented on #8735
yeah, short of configuring resolv.conf on nodes, I have not found a good answer, nor have I found a good answer to configuring resolv.conf.,..

[2015-07-16 05:13] nikhiljindal commented on #170
/sub

Current status  (correct me if I am wrong):
- PodTemplate exist as separate resource.
- APIServer exposes POST, GET, DELETE, etc operations on /podtemplates
- PodTemplateSpec is currently inlined in ReplicationControllerSpec.

Remaining Work:
- Allow ReplicationControllerSpec to include a reference to PodTemplate.
- Add podtemplate support to kubectl

[2015-07-16 05:24] thockin commented on #11305
I allowed ./ as a special case and made all examples and docs use that or
use real paths.  The one big ugly is the docs for kubectl, which include
help strings.  Instead of "-f FILENAME" for help, it now says "-f
/path/to/FILENAME".

I did it as a new commit so I can throw it away if you balk :)

Tim

On Wed, Jul 15, 2015 at 8:59 PM, Brian Grant <notifications@github.com>
wrote:

[2015-07-16 05:28] gmarek commented on #11144
OK. If so then someone should fix all examples, as they're just wrong, as @marekbiskup pointed out.

I'll try to gather everything that was written about this topic in a single issue to make the discussion easier.

[2015-07-16 05:33] bgrant0607 commented on #11144
Many aspects of most examples violate a number of proposed best practices: #7257. PRs welcome to help improve them.

[2015-07-16 05:39] gmarek opened #11361 "Fix examples so that they follow proposed k8s best practices."
Suggestion of best practices are listed in #7257, examples should follow them.

Assigning to @bgrant0607 to delegate.

cc @brendanburns @davidopp
- [ ] aws_ebs
- [ ] blog-logging
- [ ] cassandra
- [ ] celery-rabbitmq #11401
- [ ] cluster-dns
- [ ] elasticsearch
- [ ] explorer
- [ ] glusterfs
- [ ] guestbook
- [ ] guestbook-go
- [ ] hazelcast
- [ ] high-availability
- [ ] https-nginx
- [ ] iscsi
-

[2015-07-16 05:39] gmarek commented on #11144
Yup. And I believe it's bad, as probably a lot of people will start by copying examples and modifying them afterwards. My experience in updating docs/examples from Europe is pretty bad (really long review cycle, which is bad especially for documents, as they need quite a few of them), so I guess it would be better if someone from US would fix this. Opened #11361

[2015-07-16 05:50] bgrant0607 commented on #11361
See also #1603 and #5465.

[2015-07-16 06:13] F21 commented on #11354
That works! Thanks!

[2015-07-16 06:13] #11354 closed

[2015-07-16 06:24] feihujiang opened #11362 "Kubectl delete command's wrong synopsis"
In kubectl_delete.md, It says "if both a filename and command line arguments are passed, the command line arguments are used and the filename is ignored."

but when I test,

$kubectl delete pods asdf -f pod.yaml
error: when paths, URLs, or stdin is provided as input, you may not specify a resource by arguments as well

So I think the description "if both a filename and command line arguments are p

[2015-07-16 06:40] roberthbailey commented on #10868
@fabioy recently found a test GKE cluster that failed to initialize with the docker load issue. I manually killed docker, ran the side loading commands, and then it worked as expected. AFAIK this was the first GKE cluster that failed to initialize due to this problem.

[2015-07-16 06:41] roberthbailey commented on #11342
Was anything else not working. Looking at the master logs (before the cluster was deleted) it appeared that the proxy on the master was in an unhealthy state, but I'm curious if you saw anything other than the proxied calls (which include kubectl logs and kubectl exec) failing with this cluster.

[2015-07-16 06:49] kgrvamsi opened #11365 "Documentation Links shows 404 Error"
Hello,

Every link which is cached in Google shows a Github 404 error.

Examples urls:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/replication-controller.md
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/walkthrough/replication-controller.yaml
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/pods.md

[2015-07-16 06:54] roberthbailey commented on #11365
/cc @mikedanese

This is almost certainly due to https://github.com/GoogleCloudPlatform/kubernetes/pull/11239. It looks like it may take the google crawler a little bit of time to figure out where the new home for the docs are.

@brendandburns @bgrant0607 - should we have left placeholder docs that pointed users to the new location (a la https://github.com/GoogleCloudPlatform/kubernetes/blob/maste

[2015-07-16 06:56] bgrant0607 commented on #11344
@nikhiljindal, @krousey, or @JanetKuo: Does one of you have time to work on this? @caesarxuchao has more to do on #11357

[2015-07-16 07:03] bgrant0607 commented on #11365
No, we're going to be directing people to kubernetes.io rather than github, anyway. We moved essentially all the docs. Leaving placeholders would create a mess. We should probably remove ancient placeholders at this point.

[2015-07-16 07:09] nikhiljindal commented on #8190
/sub

[2015-07-16 07:12] kgrvamsi commented on #11365
Can i have the link for that as i see no documents on the main page @http://kubernetes.io/gettingstarted/

[2015-07-16 07:13] wojtek-t commented on #11215
I agree that what @dchen1107 and @yujuhong wrote above the increasing timeout is theoretically correct (i.e. theoretically increasing timeout might probably harm us).
But this is NOT what we are observing in practice - in fact I can point you to at least 10 test runs, when thanks to increasing timeout to 60 seconds we would avoid its restarts 2m30s after it was in fact started.
I'm not going to sa

[2015-07-16 07:22] wojtek-t commented on #11302
I'm not sure - this might be either test problem or a problem with real code. I wasn't able to find the cause of it yet.

[2015-07-16 07:31] dchen1107 commented on #10868
@roberthbailey Thanks for reporting. PR #10998 was verified to fix the issue.

[2015-07-16 07:34] pythonpowerd commented on #6439
+1 to fix this bug. I spend some time to figure out why my service is not created thru REST until i explicitly set apiVersion in request body or explicitly set spec.type: 'ClusterIP' which is default.
I think missing fields(like kind, apiVersion etc.) should be populated from url

[2015-07-16 07:39] dchen1107 commented on #11222
Have you tried what I suggested above by removing ServiceAccount from your kube-apiserver's flag: --admission-control, and restart your kube-apiserver?

[2015-07-16 08:19] gmarek commented on #8669
Closing in favor of #11308

[2015-07-16 08:20] gmarek commented on #8669
Closed wrong thing...

[2015-07-16 08:37] Icedroid commented on #11222
@dchen1107
Do you mean remove ServiceAccount or SecurityContextDeny, I have remove both:

[code]

[2015-07-16 09:26] hurf commented on #10382
Related doc has been moved to https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/admin/cluster-management.md#switching-your-config-files-to-a-new-api-version

[2015-07-16 10:08] gmarek opened #11369 "Discuss: Decide the future of "service" spreading."
Various people risen similar concerns about current spreading semantics:
Currently we do spreading only on Services (and on resources, but that's orthogonal thing), i.e. if scheduling is trying to schedule a pod from some Service (which is defined as existence of a Service that has a selector matching given pod), we'll try to schedule it on a different machine from other pods of this Service (agai

[2015-07-16 10:53] djannot commented on #11304
I've just found that the service has now been created.

And I can delete and recreate quickly.

I don't know if the issue was that I've tried to create the service just after I've deployed k8s. Perhaps it needed some time to be operational.

I've seen a lot of these errors in the logs, but don't see them anymore:
Jul 15 16:24:33 coreos2 kube-apiserver[2575]: E0715 16:24:33.384935    2575 repair.go

[2015-07-16 13:25] mwielgus commented on #11338
So the problem is with the event definition:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/watch/watch.go#L51
[code]
If you scale down a RC then the event received by `kubectl` has type `DELETED` and the printed state is from just before the deletion.

[2015-07-16 13:34] markturansky commented on #7634
@aronchick is this still an issue?

[2015-07-16 13:35] mwielgus opened #11370 "kubectl get * -w should print event type"
Otherwise it is hard to tell what exactly happened with the resources. Example
[code]

Other version of this issue: #11338

[2015-07-16 13:41] Bochenski commented on #10323
This would be really useful for instance to allow a GCE network load balancer to route traffic to two separate clusters in different availability zones.  Also if you need to re-build a cluster for any reason it's useful to be able to 'reconnect' to an existing load balancer IP

[2015-07-16 13:57] mwielgus commented on #11338
cc @lavalamp

[2015-07-16 14:04] frosenberg commented on #11297
I'm closing this since this issue is resolved for me. Found another issue with DNS but I file a separate one.

[2015-07-16 14:04] #11297 closed

[2015-07-16 14:05] justinsb opened #11371 "Should install clock sync (ntp)"
At least on AWS, if the clock drifts > 300 seconds (which it will), then we get the rather cryptic message: `AWS was not able to validate the provided access credentials`  This is because AWS includes the timestamp in the request.

Installing ntpd would stop this drifting from happening.  If the drift does happen, the likely symptom is that EC2 calls would stop working: attach/detach volumes on th

[2015-07-16 14:06] frosenberg opened #11372 "DNS_DOMAIN variable ignore during AWS Cluster setup"
I'm setting up a cluster on AWS. I want to use a custom domain name, however, the following environment variable seems to be ignored on the 1.0.0 release candidate (have not tried other versions):

[code]

Anyone seeing this as well or am I doing something wrong.

[2015-07-16 14:11] justinsb opened #11373 "AWS scripts should verify IAM configuration"
Whenever we change IAM policy, we risk breaking people in subtle ways that don't have the new IAM policy, because we only check that the IAM policy exists, we don't check that it matches what we want.  I have been doing this because I thought people might want to add extra permissions to their IAM policy.  I now think this is wrong: the far more common case is that we add something to the policy a

[2015-07-16 14:14] bgrant0607 commented on #11369
We are just talking about spreading during initial deployment. Once a service is up and pods get replaced due to rolling updates, node updates, etc., this won't be a problem.

The service is the logical grouping that the user wants to have high availability. Users shouldn't lose spreading if they use multiple replication controllers (e.g., for a canary, for multiple release tracks, or for a Zookee

[2015-07-16 14:15] justinsb commented on #11372
I don't think we let you change that on AWS.  (AFAICT, we don't let you change that on GCE etc either!)

Can I ask what you're trying to achieve by changing it?   This domain name is an internal implementation detail, that isn't exposed outside the cluster, and most pods inside the cluster will never notice either.

[2015-07-16 14:19] frosenberg commented on #11372
Fair enough. I was just wondering b/c it is exposed as environment variable in `aws/config-default.sh`.

We just wanted to adapt it, b/c we cross-configure some of our microservices with DNS name and we somehow wanted to have our "own" suffix. No big deal though.

Feel free to close.

[2015-07-16 14:19] #11372 closed

[2015-07-16 14:21] justinsb commented on #11335
I don't know if we have the kube-controller-manager logs here? I did spot something in one of my tests.... If one of the minion instances is deleted, but we haven't noticed that (i.e. the sync with cloud-instances is broken), then we will tell the cloud to add a host to the LB that no longer exists.  The cloud (AWS & I think GCE) will then fail that request.

Collecting events in these tests might

[2015-07-16 14:22] justinsb commented on #11335
(Although when I spotted this, I was messing around with other stuff; I didn't spot this with otherwise healthy code.  But maybe we got really unlucky with the timing of a node failure?)

[2015-07-16 14:26] bgrant0607 commented on #11365
Coming today or tomorrow, hopefully.

[2015-07-16 14:27] bgrant0607 commented on #11365
In the meantime, check out:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/user-guide
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/admin
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides

[2015-07-16 14:32] justinsb commented on #11297
Thanks @frosenberg ; I opened #11373 because this has persuaded me that we should verify the IAM policy (because this was so unexpected).  I don't know if there is another issue that will come out of this around the fact that docker failed to start, but I think that may be "correct" (although surprising); we can't start docker till kubelet configures the network bridge.

[2015-07-16 14:35] justinsb commented on #8496
Hi @aranw.  Is this still happening for you?  If so, might you have an old IAM policy configured... can you please see the discussion (towards the end of) #11297 , and the related bug #11373 .

[2015-07-16 14:35] jayunit100 opened #11375 "Regression testing for security defaults, from zero"
Security changes are very difficult to track.  We've discussed deployment rework #5472 , as part of that, maybe

- we need a security-util.sh script, which does all the security tasks
- this script should be used in hack/local-up-cluster.sh, and
- hack/local-up-cluster.sh should run in the CI

This way if security options change/regress, they are always caught.  Likewise, we will know that a singl

[2015-07-16 14:37] jayunit100 commented on #11375
cc @timothysc @rrati @eparis feel free to close this issue if its subsumed elsewhere.  IMO its a subtask of #5472

[2015-07-16 14:38] justinsb commented on #9537
I'm going to close this; we've made lots of improvements to our docs & these scripts, and I'm guessing these will address the problem.  @Snesha if you can reproduce, please feel free to reopen!

[2015-07-16 14:38] #9537 closed

[2015-07-16 15:13] #11309 closed

[2015-07-16 15:18] rawlingsj opened #11377 "'expose' gives unnamed ports a name of "default""
Following on from a discussion yesterday #11296, when creating services using 'expose' it gives unnamed ports a name of "default".  There was a concern that this is a misfeature so issue raised here to track it.

The command used in this scenario was
[code]

[2015-07-16 16:27] roberthbailey commented on #10868
Yep. I was just making a note for posterity since we hadn't ever seen this in GKE before.

[2015-07-16 16:28] bgrant0607 opened #11380 "Add serviceAccount to retain backward compatibility with 0.19"
Forked from #11355.

GKE went to beta with 0.19 rather than 0.20, so now we need to support backward compatibility with 0.19.

pod.spec.serviceAccount was renamed to pod.spec.serviceAccountName in #10081, which broke compatibility. We need to add serviceAccount back as a deprecated field and cross-populate each field from the other in conversion.

cc @liggitt @erictune @pmorie @mbforbes

[2015-07-16 16:28] bgrant0607 commented on #11355
Filed #11380 for the serviceAccount issue.

[2015-07-16 16:31] bgrant0607 commented on #11365
cc @thockin

[2015-07-16 16:32] bgrant0607 commented on #11344
cc @thockin

[2015-07-16 16:35] devurandom commented on #11000
Ok, let's assume I have setup CA and client certificates on a separate machine and now want to place them onto the appropriate nodes in my CoreOS cluster.

I thought about this, too. But etcd has no concept of authorisation (according to [their website](https://coreos.com/etcd/) "Access control lists (ACLs) will be added to etcd in the near future."), so for security reasons I cannot place the cer

[2015-07-16 16:35] aranw commented on #8496
Hi @justinsb I haven't given Kubernetes another go since posting this issue, not sure if I'll get chance any time soon

[2015-07-16 16:43] bprashanth commented on #10305
This is just a nice to have because one can always do: kubectl describe nodes `kubectl get nodes | tail -n +2 | awk '{print $1}'`

[2015-07-16 16:43] dchen1107 commented on #11222
Sorry, I mean ServiceAccount, not SecurityContextDeny above.

I think initially you might hit backward compatibility issue #11380.

[2015-07-16 16:47] justinsb commented on #8496
Thanks for letting us know!  You may want to try again once we hit 1.0 - soon now :-)

[2015-07-16 16:49] bgrant0607 commented on #11361
@mikedanese is writing up the best practices, and will also make a pass over the examples.

[2015-07-16 16:50] bgrant0607 commented on #11144
@mikedanese is writing up the best practices, and will also make a pass over the examples.

Note also that there are other reasons services should be started first. kubecfg (the predecessor to kubectl) used to start services first among multiple resources to ensure that service environment variables would be created for the services.

It would also make sense to create the RC without specifying re

[2015-07-16 16:54] roberthbailey commented on #11377
/cc @thockin @bgrant0607 @lavalamp

[2015-07-16 17:03] pmorie commented on #11319
@smarterclayton I'm not sure whether I think it should be per-volume type -- it cuts across all volume types, doesn't it?

[2015-07-16 17:05] bprashanth opened #11382 "Define and implement kubectl top"
Would be nice to have `kubectl stats podName` work like docker stats (basically a top like interface on the client that connects to an endpoint streaming data every second).  I think this should be pretty straightforward, since the kubelet server already supports requests for `/stats/ns/podname/uid/containername`

Would be even better to have kubectl show stats consumed by a service, rc across the

[2015-07-16 17:09] #10467 closed

[2015-07-16 17:20] krousey commented on #11344
I'll get an initial cut going.

Do we really want to have a vHEAD? That seems like a lot of churn for whatever process takes this over. Potentially every commit.

[2015-07-16 17:33] lavalamp commented on #11338
Agree, although I'd say the event definition is not the problem, rather kubectl's interpretation of the event is. :)

[2015-07-16 17:41] lavalamp commented on #11377
Yeah, I'd vote for it to be "". We can also improve our service proxy code to be more forgiving.

[2015-07-16 17:46] mikedanese commented on #1487
[code]

[2015-07-16 17:47] roberthbailey commented on #11380
@mbforbes is working on a fix.

[2015-07-16 17:49] saad-ali commented on #11302
Haven't had a chance to dig in to this yet. But it may well be: https://github.com/GoogleCloudPlatform/kubernetes/issues/11321

[2015-07-16 17:49] bgrant0607 commented on #11380
cc @nikhiljindal

[2015-07-16 17:51] bgrant0607 commented on #11380
@mbforbes if you need help or have other fish to fry, @nikhiljindal could work on this.

[2015-07-16 17:52] mbforbes commented on #11380
It will be a fun exercise. I wouldn't mind a good review, though :-)

[2015-07-16 17:56] liggitt commented on #11380
I can jump in to help or review as well later tonight

[2015-07-16 17:56] thockin commented on #11377
I agree we should not give it a name and that we can make the master proxy
try harder.

On Thu, Jul 16, 2015 at 10:42 AM, Daniel Smith <notifications@github.com>
wrote:

[2015-07-16 18:04] pmorie commented on #9473
@justinsb I'm going to take a stab at this today.

[2015-07-16 18:04] mikedanese commented on #7257
Creating this comment for notekeeping.

[2015-07-16 18:09] bgrant0607 commented on #11377
I agree, though changing this would be a breaking change. We added versioning to generators for this reason. The right fix would be to create a "service/v2" generator with the new behavior and make it the default version, while retaining the v1 behavior.

[2015-07-16 18:11] bgrant0607 commented on #11377
@nikhiljindal or @jlowdermilk: does either of you have time to do this today? If you're working on more critical 1.0 issues, we can let this slide.

We should at least document current behavior, if nothing else, however.

[2015-07-16 18:13] pnovotnak commented on #11342
I believe you are correct. This failure occurred 7 days after cluster
creation.

What tests should I run if this happens again? Keep in mind this is running
on Container Engine.

Seems to be pretty reproducible, and I'll be running my clusters with
real-world workloads until they fail.

-Peter
On Jul 15, 2015 23:42, "Robert Bailey" <notifications@github.com> wrote:

[2015-07-16 18:15] mikedanese opened #11384 "Deprecate and remove 'kubectl stop'"
At this point, kubectl delete has a super set of the functionality of kubectl stop. Is there any reason to keep it around?

@bgrant0607 @jlowdermilk

[2015-07-16 18:15] bgrant0607 commented on #11355
Since a couple issues have popped up already, I decided to look through API changes between 0.19 and 0.20:
https://github.com/GoogleCloudPlatform/kubernetes/commits/master/pkg/api/v1/types.go

[pod.status.reason](https://github.com/GoogleCloudPlatform/kubernetes/commit/101739a6bee61b0a09edfad7a27fbf1f497b466b): Additive. kubectl will just print less information if it isn't populated.
[ObservedGene

[2015-07-16 18:22] bgrant0607 commented on #11384
I agree we should eliminate it. It just creates user confusion.

[2015-07-16 18:24] pmorie commented on #9473
@justinsb Let me make sure we're on the same page about what you want before I write code.  It sounds to me like what you're asking for is: if you set the `ResourceRequirements` field of a container, you want to be able to consume that information via the downward API.  Accurate?

[2015-07-16 18:24] roberthbailey commented on #11355
Thanks for checking Brian. With luck we won't need more patch releases into the 0.20 branch.

[2015-07-16 18:28] bprashanth commented on #10030
@jayunit100 to be more clear on the case you should expect overshoot:

1. With a single rc manager: you restart the manager right after it starts a bunch of POST requests for pod creates, but before the POSTs can complete. So realistic scenario if the apiserver is loaded and these POSTs take a second each to reach etcd, and the manager restarts within that second, there could be overshoot.

2. Wit

[2015-07-16 18:33] nikhiljindal commented on #11377
I can take this.

[2015-07-16 18:36] ArtfulCoder commented on #11362
@feihujiang do you want to submit a PR with the change ?

[2015-07-16 18:37] JanetKuo opened #11385 "Change absolute links to Kubernetes GitHub to relative links"
For example, these should be relative links.
[code]

[2015-07-16 18:37] brendandburns commented on #11251
Closed by #11250

[2015-07-16 18:52] saad-ali commented on #11231
Ok, I've got what looks like a repro: PD is empty after pod is deleted and recreated.

I *think* what's happening here is the rapid deletion and recreation of the pod causes the PD to be unmounted, asynchronously detached, while the new attach request comes in. The attach request terminates any further attempts to detach, but the detach request may still be pending on the GCE server-side. The atta

[2015-07-16 19:02] bgrant0607 commented on #11385
cc @krousey

[2015-07-16 19:03] smarterclayton commented on #11319
Maybe - I wasn't sure whether one of the types might not be amenable to having a perm forced.

[2015-07-16 19:08] uluyol commented on #10009
runtime.Scheme.ObjectVersionAndKind returns the version and kind based on the Go type, not the values in the object's TypeMeta ([link to code that handles this in pkg/conversion](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/conversion/scheme.go#L384)). Registering the same Go type in multiple groups breaks this behavior. I don't think we can have multi-group objects unless we

[2015-07-16 19:11] mconigliaro commented on #10779
:+1:

[2015-07-16 19:17] justinsb commented on #11231
This sure sounds like #11012; I added a test in #11128 but I haven't reproduced the problem yet.

[2015-07-16 19:24] justinsb commented on #9473
@pmorie I think this would be useful for the downwards API.  But: my workaround is to simply list _all_ the pods and match podIP, and get my full pod info that way.  This means that the manifest doesn't require the user to include any additional information (i.e. the downward API mapping).  It's not pretty, and it isn't efficient because we can't currently filter by podIP, but I find it pretty tol

[2015-07-16 19:30] pmorie commented on #9473
It seems like the biggest challenge to doing this is getting the API right.  Currently, the downward API only supports references to `Pod`-scoped fields, like so:

[code]

With this change we need to expand the scope of the API to container-scoped fields.  There are a couple different facets to consider:

1.  If you're consuming the API in environment variables, it might be natural to have a conta

[2015-07-16 19:30] hernanliendo opened #11391 "Could not mount more than one gcePersistentDisk volume"
Hey guys,

having a hard time trying to mounting more than one *gcePersistentDisk*. This is my rc script:

[code]

I have no problems if removing this part from it:

[code]

I'm running on a Google Container Engine cluster

Thanks!

[2015-07-16 19:32] pmorie commented on #9473
Example of possible API:

[code]

[2015-07-16 19:33] yujuhong commented on #11215
As it stands, I am still not convinced that increasing start timeout could fix this problem, for the reasons stated in my previous comments :-)
In particular, I don't understand the 30s vs 35s argument, as monit *does not* check /healthz when starting kubelet.

I am, however, willing to accept that increasing the start timeout might help in some cases because of its side-effects (e.g. longer perio

[2015-07-16 19:38] pmorie commented on #9473
Some other little nits about this:

1.  The `Quantity` API type supports formatting, which is something you would conceivably want to apply to the quantities for this API
2.  The `ResourceList` type is actually a `map[ResourceType]resource.Quantity` -- what's right expression syntax we want for this?  Do we want to parse `resources.limits[memory]` in an api label conversion function?

[2015-07-16 19:45] gmarek commented on #11215
I believe I can answer one of your questions:
* healthz was ready after 2m30s, but Monit (or anything else) wasn't interested in it. Please take a look at logs from the gce-parallel 3431 run.
I don't understand the second one, an I doubt the third one is possible: we only see such failures in Jenkins, and as such we'd need to merge it first (or hammer k8s-bot on a PR:)

[2015-07-16 19:49] AnanyaKumar commented on #147
Thanks for the details! I'm drafting a proposal right now, and I'll work on it with @rjnagal and @vmarmol and then I'll send it out to you. I'll change the names according to what you suggest.

I plan to treat pods without limits as best effort jobs, and pods with limits as top tier jobs. Best effort pods will be invisible to top tier jobs, and should not affect top tier pods in either admission o

[2015-07-16 19:59] nikhiljindal opened #11392 "Bad error message while using kubectl expose service without specifying port"
I tried to create a service from another service using kubectl expose, without specifying the port and here is the error message I got:

[code]
The command I ran:
[code]

The error is expected since I didnt specify a port (which is required), but the error message can be better.

[2015-07-16 19:59] saad-ali commented on #11231
@justinsb I based my test off yours in #11128. But instead of switch nodes, I make sure to recreate a pod on the same node (immediately after deletion), and specify multiple containers. I'll send out a PR with the new test once I have a fix.

[2015-07-16 19:59] nikhiljindal commented on #11392
cc @bgrant0607

[2015-07-16 20:00] ArtfulCoder commented on #11391
Does it run if you remove {
                "name": "artifactory-disk-data",
                "mountPath": "/var/opt/jfrog/artifactory/data"
              }

[2015-07-16 20:00] nikhiljindal commented on #11392
FWIW, creating a service from rc works without specifying the port (even tough it is required as per https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/user-guide/kubectl/kubectl_expose.md)

Running:
[code]
works fine.

[2015-07-16 20:06] jayunit100 commented on #8119
FYI, these plots now automated in #11003

[2015-07-16 20:10] nikhiljindal commented on #11392
Discussed with @bgrant0607 We should fix the error message in 1.0.
Later, we should allow "kubectl expose myservice --name=newservice" (without specifying port), but that will be post 1.0

[2015-07-16 20:11] ddysher commented on #8735
Yeah, that's no difference than setting dns service in resolv.conf.....

Sounds like we have to look at how to configure resolve.conf reliably.

[2015-07-16 20:23] antoineco commented on #11000
kubeconfig has to be used with every "client" as long as authentication is involved, this includes kubelet and kube-proxy. So you'll somehow have to fetch/generate these config files on your nodes, unless you disabled SSL within your cluster.

[2015-07-16 20:41] thockin commented on #11377
I don't really see it as a breaking change, at least not a very bad one -
any pods that exist will be fine.

But if we make the master proxy try to find the first port definition, we
can paper over this and call it done, for now.  Deprecate that, add a flag
that defaults to true, deprecate the flag and in a year change it to false?

On Thu, Jul 16, 2015 at 11:34 AM, Nikhil Jindal <notifications@gi

[2015-07-16 20:56] bgrant0607 commented on #11385
@krousey Did you decide to do this, or are you waiting on it?

[2015-07-16 21:08] krousey commented on #11385
I did not do this.

[2015-07-16 21:15] #11251 closed

[2015-07-16 21:17] brendandburns commented on #10132
Assigning to thockin as he has a PR out on this.

[2015-07-16 21:20] mbforbes commented on #11355
Important: running a "pure" 0.19.3 (master, nodes, and e2e code all at 0.19.3) has **zero** flakes for the three flaky pod tests above.

<img width="1773" alt="noflakes" src="https://cloud.githubusercontent.com/assets/1170062/8735447/b31d7794-2bc5-11e5-875e-6825740a87ae.png">

This seems to imply that #10523 didn't prevent these, and the 0.21.2 master is causing the flakes. Could the flakes also b

[2015-07-16 21:20] brendandburns commented on #10132
ugh, wrong issue, sorry for the noise...

[2015-07-16 21:22] bgrant0607 commented on #10132
@lavalamp is working on this

[2015-07-16 21:30] nikhiljindal commented on #11377
Am updating kubectl expose to leave service ports unnamed in https://github.com/GoogleCloudPlatform/kubernetes/pull/11397

@thockin Didnt get you. Are you suggesting that we change master proxy to use the first port definition for now, but deprecate that later?

[2015-07-16 21:35] liggitt commented on #11355
The field name change caused the pod update failure.

The liveness exec failures were caused by the e2e code in that test not using the standard method for constructing a test namespace, which meant the e2e test wasn't waiting for the namespace to be ready before creating pods. In 19.3, the admission plugin would let pods get created before their service account and API token was ready, but that w

[2015-07-16 21:39] krousey commented on #11344
Is is possible to have javascript that just rewrites the links?

[2015-07-16 21:43] nikhiljindal commented on #11344
kubernetes.io/third_party/swagger-ui/ runs JS, so I dont think there is any restriction on running JS on kubernetes.io

[2015-07-16 21:44] pmorie opened #11398 "Volumes that use 'ready' files do not tear down those files"
Currently there are two volumes (and one pending change for emptyDir) that use 'ready' files to indicate that `Setup` has already been run for a volume: secrets and git repo.  Neither of these volumes cleans up the ready file when the volume is torn down.

fyi @thockin

[2015-07-16 21:45] thockin commented on #11344
that would be a cool trick - do you know JS well enough? :)

On Thu, Jul 16, 2015 at 2:40 PM, krousey <notifications@github.com> wrote:

[2015-07-16 21:46] brendandburns commented on #10126
Taking this as it appears to be unloved right now...

[2015-07-16 21:49] krousey commented on #11344
@thockin eh... not under a time limit.

[2015-07-16 22:06] bgrant0607 commented on #11377
OTOH, the kubectl change was pretty easy.

[2015-07-16 22:14] davidopp commented on #10792
This test is failing repeatedly on kubernetes-e2e-gce-parallel
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-parallel/3570/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-parallel/3571/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-parallel/3572/

Did we merge something today that might have broken this?

[2015-07-16 22:15] lavalamp commented on #10132
@RichieEscarez I will try to make an "index" page for our admin docs.

[2015-07-16 22:15] davidopp commented on #10792
@erictune

[2015-07-16 22:15] bgrant0607 commented on #11344
A couple issues I noticed:
* Single-`#` section titles aren't converted to html
* Code blocks don't have line breaks.

[2015-07-16 22:24] roberthbailey commented on #10767
Assigning to @erictune to address @RichieEscarez's comments from #10271 in a follow-up PR.

[2015-07-16 22:25] davidopp commented on #10792
Did we merge something between 1:30 and 2:00 today that may have broken this?

[2015-07-16 22:30] davidopp commented on #10792
False alarm, these failures are all performance expectations. We should investigate why stuff got slower but it's not a correctness bug.

[2015-07-16 22:42] vially opened #11407 "kubelet agent fails to start containers defined inside the manifest"
Creating a `container-vm` instance using a `containers.yaml` metadata manifest file results in an error:
`E0716 22:08:43.474283    2364 http.go:54] Failed to read URL: invalid pod: [metadata.name: invalid value '-containervm-test-1': must be a DNS subdomain (at most 253 characters, matching regex [a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*): e.g. "example.com"]`

The easiest wa

[2015-07-16 22:42] davidopp commented on #10792
Actually this is frequently failing with a more worrisome error, e.g.
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/2737/testReport/junit/(root)/Kubernetes%20e2e%20suite/Proxy_version_v1_should_proxy_through_a_service_and_a_pod/

[code]

I'm reluctant to increase the timeout to fix the timeout failures ("took xxx > yyy") until we understand what is going on with t

[2015-07-16 22:45] davidopp commented on #10792
The "an error on the server has prevented the request from succeeding" failures seem to mostly be happening in the PR builder Jenkins (http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/) whereas all the ones in the kubernetes-e2e-gce-parallel (http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-parallel/3572/) seem to be of the timeout flavor.

[2015-07-16 22:50] nelcy commented on #147
+1 for implementing QOS tiers in Kubernetes. Would love to take part in adding support for it.

@bgrant0607 @erictune

Thinking more, typing "best-effort" to limits, would not work for some scenarios.

Lets say user wants to define two apps
- A top-tier web app with requested resources and no limit
- A best-effort tier batch job with minimum requested resources and no limit

At run time, we want t

[2015-07-16 22:51] lavalamp commented on #10132
@RichieEscarez as you can see in the PR I just made, not all of the stuff you reference actually exists in the admin docs. :/

[2015-07-16 23:01] mbforbes commented on #11355
@liggitt but by that logic, wouldn't all 0.19.3 e2es see the same flakiness in those tests? In https://github.com/GoogleCloudPlatform/kubernetes/issues/11355#issuecomment-122102111 I'm describing that we have a Jenkins job (pictured) that's running pure 0.19.3 and never seeing those tests flake. (Sorry if I'm confused—attempting to understand!)

[2015-07-16 23:16] smarterclayton commented on #10009
On Jul 16, 2015, at 3:08 PM, Muhammed Uluyol <notifications@github.com>
wrote:

ListOptions / DeleteOptions are shared across multiple API groups (and they
have conversions). The version they are used with may not be in the same
version of their code. Requiring those to be explicitly registered by type
and name in each group isn't the end of the world (unless I missed
something making that impossi