[2020-10-06 20:37] jhgoodwin commented on #22368
I disagree with adding flags to opt into the behavior most people expected from the objects in the first place.
Users should who define a deployment + configmap, expect it to update when either changes so that the current state matches the config. It's unexpected that killing a pod is required to make the system match the current state.

If people want to use such flags to opt out, that's another

[2020-10-06 20:38] djupudga commented on #22368
I was into this a while back, but now I am not. The reason is config and deployment are two separate resources. Like pod is not deployment. Config maps are related to pods, not deployments. To facilitate this, I believe, a new deployment resource type would be needed and a new controller. One that somehow encapsulates deployment and config.

[2020-10-06 20:40] jhgoodwin commented on #22368
If deployments can consume a resource to create things under it's management, it should also demand a callback for when that resource changes, otherwise things it claims to mange are not well managed.

[2020-10-06 20:47] kfox1111 commented on #75378
No, sorry. It got bumped by other priorities. I still think it could be fairly easily written as a csi ephemeral driver. The image-populator one would be a good starting point I think for someone wanting to try and implement this. The developer would need to:
1. remove the buildah related code
2. add reference counting to cleanup the volume once all relevant pods are removed from the node.

[2020-10-06 20:50] kfox1111 commented on #22368
@jhgoodwin We can't break backwards compatability. Adding the flags allow backwards compat. Maybe someday when there is a Deployment/V2, the defaults can be flipped around to be better. But we can't do it in v1.

I believe killing the pod is the best approach in general. Otherwise you run the risk of having random configs across your deployment that you can't track. But you can implement that toda

[2020-10-06 20:54] lavalamp commented on #22368
I think it'll be less confusing for future civilizations if y'all have this conversation on the KEP, I left my thoughts there :)

[2020-10-06 20:55] kfox1111 commented on #22368
@djupudga so is ReplicaSets. You can do everything that Deployments do with just ReplicaSets. What Deployments do is add an Orchestration layer around performing a rolling upgrade. I believe it is just an incomplete orchestration layer, as it does the right thing so long as you don't have config files. If you do, then its inconsistent in its rolling forward/backwards without a bunch of user intera

[2020-10-06 20:57] jayunit100 opened #95339 "NodeIP isn't consistent with the probing client, when running "should update nodePort: udp [Slow]" tests, resulting in inconsistent results."
**What happened**

When we test  nodeports (see the various granular checks in networking.go) , you can get unpredictable results if your firewall is up.  For example,

if you have blocked UDP traffic in your cluster, 1/n of the time the `should support nodePort on udp` test will pass (even if you have a firewall around nodes), b/c 1/n times, your probe container is on the same node as the node po

[2020-10-06 20:59] jayunit100 commented on #95339
/sig network

[2020-10-06 21:17] alculquicondor commented on #93718
/retitle Scheduler should log processed component config

[2020-10-06 21:23] damemi commented on #93718
@alculquicondor I can pick this back up now if you'd like. Any specific timeline or blockers for this?

[2020-10-06 21:26] #89254 closed

[2020-10-06 21:32] alculquicondor commented on #93718
The only partial blocker is that we don't generate the `.profiles[*].plugins` or `profiles[*].pluginConfig` values until much later after API defaulting.

But having something is better than nothing, which is what we have today :)

[2020-10-07 01:50] alejandrox1 commented on #95017
Taking a look
Will assign myself a primary point of contact
/assign @alejandrox1

As for communication, please share this issue in slack or ping
/cc @kubernetes/sig-node-test-failures
otherwise hard to track down where we can help :smile:

[2020-10-07 01:50] alejandrox1 commented on #95017
/priority important-longterm

[2020-10-07 02:02] alejandrox1 commented on #95017
and actually, communication may be better over mailing lists - it's super easy to lose messages in slack and prow already sends email notifications.
At least for node, we have the main mailing list and we also have this one https://groups.google.com/g/kubernetes-sig-node-test-failures just for CI-related things.

[2020-10-07 02:26] JornShen commented on #95307
/assign

[2020-10-07 07:15] harche opened #95343 "Summery API test needs to be more flexible"
**Which jobs are failing**:
NodeConformance [Summery API test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/summary_test.go#L41) is too rigid, and that makes it fail on certain platforms. It even [flakes on existing platform](https://k8s-testgrid.appspot.com/sig-release-master-blocking#node-kubelet-master)

For e.g the test right now assumes that it will always enter in the t

[2020-10-07 07:18] harche commented on #95343
/sig node

[2020-10-07 07:21] harche opened #95344 "Summary API test is a bit flaky"
**Which jobs are flaking**:
[Kubelet-node-master](https://k8s-testgrid.appspot.com/sig-release-master-blocking#node-kubelet-master)

**Which test(s) are flaking**:
[Summary API NodeConformance](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/summary_test.go#L41)

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#node-kubelet-master

**Reason for fai

[2020-10-07 07:21] harche commented on #95344
/sig node

[2020-10-07 07:22] harche commented on #95344
This particular test also fails on CRIO with Fedora CoreOS platform because the return value of `/stats/summary` is slightly different on that platform.

https://github.com/kubernetes/kubernetes/issues/95343

[2020-10-07 07:24] harche commented on #95343
Sample output of `/stats/summary` on CRIO running on Fedora CoreOS,

[code]

[2020-10-07 07:26] irizzant commented on #92460
Hitting the same issue here
`E1007 00:53:36.177177       1 status.go:71] apiserver received an error that is not an metav1.Status: &errors.errorString{s:"context canceled"}`

k8s 1.18.9 on kubespray

[2020-10-07 08:28] BenTheElder commented on #95297
/remove-sig testing
/sig cli

[2020-10-07 08:30] BenTheElder commented on #95228
/triage duplicate
/remove-sig testing
/sig node
/close

[2020-10-07 08:30] #95228 closed

[2020-10-07 08:32] mseewooth opened #95349 "SERVICE object in kubernetes"
Hello,

I'm currently using metallb-system on my k8s cluster. i have a question regarding SERVICE object.

Are services replicated across workers in a kubernetes cluster ?

For e.g metallb assigned an IP to a service type loadbalancer.  In the logs of pod metallb that the assigned IP is on workerA .

Which means the service is on workerA and the traffic will come directly in workerA and then distr

[2020-10-07 09:14] surajssd commented on #39198
Yes this is still an issue.

[2020-10-07 09:29] Mikhail2577 commented on #92463
Hi everyone, seems like I can't install kubeadm or kubelet on my fresh install of CentOS7.

sudo yum install -y kubelet kubeadm kubectl --disableexcludes=kubernetes

Loaded plugins: fastestmirror, product-id, search-disabled-repos, subscription-manager

This system is not registered with an entitlement server. You can use subscription-manager to register.

Loading mirror speeds from cached hostfil

[2020-10-07 10:19] bart0sh commented on #95043
@mikebrow Let me give you more details on this.

The test runs in parallel on independent gcloud instances with different parameters(OS, amount of pods, etc). What you see is a consolidated log taken from all instances.

Let's take this test as an example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-benchmark/1313487777479790592
It runs on 25 instances. You can

[2020-10-07 10:35] cfecherolle commented on #17088
+1 on this. In our case, we separate our environments in different namespaces, each one of them having its own Ingress.

We wanted to transparently redirect to a unique service instance (an IAM) used by all of these environment, by adding rules in each Ingress config, but it turns out ExternalName services are not accepted as targets so we can't.

I don't see any obvious solution: IAM service itse

[2020-10-07 11:40] wojtek-t commented on #82364
I finally looked into it a little bit.
Here are the last findings:

There are a number of test runs that report extremely high values for NetworkProgrammingLatency, e.g.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1313719396765536256
[code]

Fortunately, whenever we report the metric in kube-proxy, we also log the value there:
https://github.com/kuber

[2020-10-07 11:49] bart0sh commented on #95043
Investigated  [the same test](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-benchmark/1313487777479790592) a bit further.

Instance: n1-standard-1-cos-85-13310-1041-9-81c76a83, test: "latency/resource should be within limit when create 90 pods with 0s interval", failure traceback:

I1006 15:01:18.677] [91m[1mâ€¢ Failure [824.723 seconds][0m
I1006 15:01:18.677]

[2020-10-07 11:58] wojtek-t commented on #82364
Another data point - it seems to be somehow related to the fact that the "namespace" itself is being deleted before the service itself. [This may explain why we don't observe this behavior for any of our test services.]

[2020-10-07 12:01] wojtek-t commented on #82364
The corresponding logs from kube-apiserver:
[code]

[2020-10-07 12:06] harche opened #95357 "NodeProblemDetector [NodeFeature:NodeProblemDetector] is flaky"
**Which jobs are flaking**:
ci-kubernetes-node-kubelet-features

**Which test(s) are flaking**:
NodeProblemDetector [NodeFeature:NodeProblemDetector]

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-node-kubelet#node-kubelet-features-master

**Reason for failure**:
The time during set for the event in past is too short. https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/nod

[2020-10-07 12:06] harche commented on #95357
I am looking into it.

[2020-10-07 12:06] harche commented on #95357
/sig node

[2020-10-07 12:11] bart0sh commented on #95043
another example from the same test, but bigger instance n1-standard-2-cos-85-13310-1041-9-a5565d53. Test case failed the same way: it was not able to delete one of the pods. However, it this case the pod was in the 'Running' state:

build log https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-benchmark/1313487777479790592/build-log.txt
[code]

kubelet.log https://sto

[2020-10-07 12:29] wojtek-t commented on #82364
I think I know what is happening here now.

Basically the problem is that if deletion of Endpoints/EndpointSlice object is actually removing some endpoints (underlying pods), then we basically take into account trigger-time from the Endpoints/EndpointSlice object:
https://github.com/kubernetes/kubernetes/blob/e99df0e5a75eb6e86123b56d53e9b7ca0fd00419/pkg/proxy/endpoints.go#L225
https://github.com/k

[2020-10-07 12:36] pancernik commented on #84922
@mtaufen @liggitt Any thoughts regarding the last @alculquicondor's  comment? We'd like to move this forward.

[2020-10-07 12:37] humblec commented on #91246
@msau42 JFYI I have filed https://github.com/kubernetes/kubernetes/pull/95361 for addressing this, marked it as WIP till I finish some testing on the migration..

[2020-10-07 12:48] baens commented on #89008
/remove-lifecycle rotten

[2020-10-07 12:54] feikesteenbergen commented on #65785
This does not seem to be fixed, at least not for v1.17.9

[2020-10-07 12:58] feikesteenbergen commented on #65785
/reopen

[2020-10-07 13:02] feikesteenbergen opened #95362 "Please reopen https://github.com/kubernetes/kubernetes/issues/65785"
Issue https://github.com/kubernetes/kubernetes/issues/65785 was closed, however the behavior describe still is the case,
could that issue be reopened and this one closed?

[2020-10-07 13:14] wojtek-t commented on #82364
https://github.com/kubernetes/kubernetes/pull/95363 is out of review

[2020-10-07 13:38] deads2k commented on #95280
Instead of building a category based on the types we have, I would build the category based on why people look at them.  I suspect a category like `kubectl get api-extensions` which returned

1. mutating admission config
2. validating admission config
3. CRDs
4. APIServices
5. recommendation for various CSI types to list in CRD

would be very helpful.

[2020-10-07 13:38] sttts commented on #95280
Webhook is far too generic. By putting admission webhooks in there we basically steal that word from the ecosystem to be used for other purposes. "admissionwebhooks" I could agree with.

[2020-10-07 13:38] adambkaplan commented on #95257
@nikhita also good call out with not having code-generator in the $GOPATH. In my environment $GOPATH was not set, which led the code generator to write the clientset in an incorrect location.

[2020-10-07 13:46] jayunit100 commented on #95339
@aojea curious your thoughts on this:

[code]

vs

[code]

[2020-10-07 14:03] aojea commented on #95339
Personally, I think that we we should validate everything that is supposed to work, so we should test both if we can.

Absolutely agree that this is the most important, is just how people use NodePorts, so we need to be sure we never break that and we have to gate on that.

Great catch by the way

[2020-10-07 14:06] thejoycekung commented on #95017
Looks like mirrored by #95343 and #95344

Possibly fixed by #95345 ?

[2020-10-07 14:16] alejandrox1 commented on #95017
Let's move to https://github.com/kubernetes/kubernetes/issues/95344
Since it seems that @harche already working on this and the other issues have more detail :rocket:
/close

[2020-10-07 14:16] #95017 closed

[2020-10-07 14:20] alejandrox1 commented on #95344
@harche thank you for opening this issue.
Just to have more visibility in the future, and avoid duplicated work, could you please share issues like this one in #sig-node or with the mailist list for CI improvements https://groups.google.com/g/kubernetes-sig-node-test-failures ?

I also see you opened so will assign you this issue https://github.com/kubernetes/kubernetes/pull/95345
/assign @harche

[2020-10-07 14:21] alejandrox1 commented on #95343
/assign @harche
/triage accepted
/priority important-longterm
/cc @kubernetes/sig-node-test-failures

[2020-10-07 14:43] michaelgugino commented on #93476
If you are deploying a single replica of any particular pod, you're saying "It's okay if this pod is offline for some short time" as an involuntary disruption (eg, node failure) would result in this potentially happening.

So, you have two choices:  Acknowledge it's okay to have 0 pods deployed for a short amount of time by removing the PDB, or adjust your replica count to ensure that you're alway

[2020-10-07 14:55] yanirq commented on #25625
/remove-lifecycle stale

[2020-10-07 15:06] harche commented on #95136
/close

[2020-10-07 15:06] #95136 closed

[2020-10-07 15:08] khatrig opened #95365 "DNS Resolution not working from pods running on specific nodes"
**What happened**:  I'm seeing an odd dns resolution issue. Node is not able to resolve any kubernetes services. The cluster has 100+ nodes, all of the nodes were setup using the same kubespray automation. OS setup is also completely the same on all the nodes. I checked kube-proxy, nodelocaldns, coredns, calico configuration but didn't find anything significant there. External DNS also does not wo

[2020-10-07 15:12] thejoycekung opened #95366 "[Flaky Test] [sig-instrumentation] MetricsGrabber should grab all metrics from a Scheduler"
**Which jobs are flaking**:
ci-kubernetes-e2e-gci-gce / gce-cos-master-default

**Which test(s) are flaking**:
[sig-instrumentation] MetricsGrabber should grab all metrics from a Scheduler

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&sort-by-flakiness=

**Reason for failure**:
STEP: Waiting for a default service account to be provisioned in namespa

[2020-10-07 15:12] thejoycekung commented on #95366
/sig instrumentation

[2020-10-07 15:16] humblec opened #95367 "Pass secret in NodeExpansion Call for the CSI driver"
In different use cases we need "secret" passed to the CSI driver to perform NodeExpansion which is missing atm .  One of the very visible use case is that, the expansion on LUKS enabled device, which needs the passphrase in order to resize the device on the node.

One other use case is that, at times we need to check the actual size of the image ( for ex: RBD image size in Ceph Cluster) before pro

[2020-10-07 15:16] michaelgugino commented on #94181
You might be interested in this KEP: https://github.com/kubernetes/enhancements/pull/1411

[2020-10-07 15:19] humblec commented on #95367
/sig storage
/wg storage

[2020-10-07 15:20] howardjohn commented on #93476
Wouldn't removing the PDB mean we can have *voluntary* downtime, whereas with the PDB we will only have involuntary?

[2020-10-07 15:32] michaelgugino commented on #93476
This is true.  But from my POV, by only having one replica, you're implicitly stating that losing that application for some length of time is a non-critical event for your cluster.  Set an alert if the replica is down for a protracted period of time.

One approach to minimizing downtime for voluntary disruptions is to set an appropriately timed gracePeriod.  The pod will be marked deleted, the rep

[2020-10-07 15:36] cmluciano opened #95368 "Refactor networking e2e tests so we can better select components like kube-proxy"
**What happened**:
The Networking label is applied to a myriad of tests both under the test/e2e/networking.go file and test/e2e/kube_proxy.go . Since the label is the same in SIGDescribe, we have to use more regex filters to only select tests kube_proxy specific tests.

**What you expected to happen**:
We should refactor the tests so that a developer only needs to have a simple gingko  focus (i.e.

[2020-10-07 15:37] thejoycekung opened #95369 "[Failing Test] [sig-network] Networking should recreate its iptables rules if they are deleted [Disruptive]"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-alpha-features

**Which test(s) are failing**:
Networking should recreate its iptables rules if they are deleted [Disruptive]

**Since when has it been failing**:
Commit 777e84e18
https://github.com/kubernetes/kubernetes/compare/7a5b058f2...777e84e18

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-fe

[2020-10-07 15:37] cmluciano commented on #95368
/triage accepted
/sig networking
/assign @cmluciano

[2020-10-07 15:37] cmluciano commented on #95368
/sig network

[2020-10-07 15:38] kbhawkey commented on #94749
I guess that using the "keystone" field, `metadata.name` in the query, distinguishes one version of a resource from another version.
Are there any known areas where conflicts do not clearly resolve?

[2020-10-07 15:45] gnufied commented on #95367
How would this work for existing PVs which don't have the secret? We will have similar problem when we first started copying secrets from storageclass onto PVs.

[2020-10-07 15:52] staebler opened #95370 "Priority-and-Fairness and Max-in-Flight filters create goroutines with lifetimes that exceed apiserver lifetime"
**What happened**:
The goroutines created for the Priority-and-Fairness and Max-in-Flight filters continue to run after the apiserver has been stopped.

**What you expected to happen**:
When the apiserver stops, the filters' goroutines stop.

**How to reproduce it (as minimally and precisely as possible)**:
Create a program that starts an apiserver and then closes the stop channel for the apiserve

[2020-10-07 15:53] staebler commented on #95370
/sig apimachinery

[2020-10-07 15:55] humblec commented on #95367
I think copying it from the SC is not a good idea as we expect the SC to go away at any point in time. So existing PVCs can be left with "unsupported" ..

[2020-10-07 15:56] staebler commented on #95370
/sig api-machinery

[2020-10-07 16:02] khatrig commented on #95365
/sig networking

[2020-10-07 16:03] khatrig commented on #95365
/sig network

[2020-10-07 16:06] dashpole commented on #95366
/assign

[2020-10-07 16:14] ehashman commented on #95307
/triage accepted
/good-first-issue

[2020-10-07 16:15] ehashman commented on #95115
/assign @brancz

[2020-10-07 16:16] alculquicondor commented on #87850
/remove-lifecycle stale

[2020-10-07 16:19] ehashman commented on #95096
This sounds like an issue with either fluentd or the container runtime limiting log line size... perhaps https://github.com/moby/moby/issues/34620

/assign @dashpole

[2020-10-07 16:20] dashpole commented on #95366
/triage accepted

[2020-10-07 16:22] thejoycekung commented on #95366
Thanks @dashpole!

[2020-10-07 16:31] RobertKielty commented on #95344
@harce thank you for opening and working on this issue.

You can check the [CI Signal project board ](https://github.com/orgs/kubernetes/projects/11#card-46917235) for issues logged against tests that are producing non-deterministic results.

And also it is worth noting that #95017 that @thejoycekung logged has a [triage link](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=wh

[2020-10-07 16:33] dashpole commented on #95096
According to https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/kubelet-cri-logging.md, the log line splits are determined by the container runtime.

What runtime are you using?

[2020-10-07 16:55] snirbenyosef commented on #95096
how can i check that ?

[2020-10-07 16:57] dashpole commented on #95096
`kubectl describe no  | grep Runtime`

[2020-10-07 16:58] 2rs2ts commented on #85397
BTW adding a reverse proxy on the host will not solve this problem because of how the thing I want to use does origin detection. Please reopen this issue. This is a salient request.

[2020-10-07 16:59] snirbenyosef commented on #95096
@dashpole what are you trying to describe ? the nodes ? the fluntd pods ?

[2020-10-07 17:00] dashpole commented on #95096
`no` is short for `nodes`

[2020-10-07 17:02] ahg-g commented on #94008
yeah, lets deprecate `NodePreferAvoidPods` as well

[2020-10-07 17:08] alculquicondor commented on #94008
FYI @damemi, who asked about this in https://github.com/kubernetes/kubernetes/pull/92507#discussion_r500607005

[2020-10-07 17:11] 2rs2ts commented on #53331
We have jobs that don't restart when they get an error and they don't get reaped sometimes. So it does seem like a bug to me.

[2020-10-07 17:12] 180254 opened #95374 "PodDisruptionBudget is not respected when updating component spec"
**What happened**:
I have:
-a Kubernetes cluster with two StatefulSets (let's call them foo and bar), managed using terraform.
-defined PodDisruptionBudget so only one replica of "foo", "bar" can be taken down at the same time.

I updated the definition of components (version of images has changed) and performed "terraform apply".
PodDisruptionBudget has been ignored. The "foo" and "bar" have been

[2020-10-07 17:16] 180254 commented on #95374
/sig cluster-lifecycle

[2020-10-07 17:17] lavalamp commented on #95362
I'll reopen it and close this.

[2020-10-07 17:17] #95362 closed

[2020-10-07 17:17] lavalamp commented on #65785
/reopen

Please give us repro instructions?

[2020-10-07 17:22] aojea commented on #95369
/assign
/cc @danwinship
Thanks for detecting it so quicklly

[2020-10-07 17:41] 2rs2ts commented on #70585
FYI in case it was not clear I am seeing this still on k8s 1.17.8, kernel version 5.4.38. I think it needs to get reopened

[2020-10-07 17:44] cmluciano commented on #88698
/assign @cmluiano

[2020-10-07 17:44] #95216 closed

[2020-10-07 17:44] cmluciano commented on #88698
/assign

[2020-10-07 17:46] cmluciano commented on #94356
/assign

Ok I tested this out with kind in ipvs-mode with metallb. In iptables mode I had zero failures but ipvs does not pass at all during the timeout window.

This is likely due to #88698

[2020-10-07 17:55] lavalamp commented on #95280
Yeah, there are other webhooks, e.g. CRD conversion webhooks or authz webhooks...

[2020-10-07 17:56] lavalamp commented on #95280
I'd expect the short names "mwc" and "vwc" to be set up, are they not?

[2020-10-07 18:09] aojea commented on #95369
most probably is related to https://github.com/kubernetes/kubernetes/pull/94474

[2020-10-07 18:15] cmluciano commented on #88698
@xmath279 Can you place the snippet of your Ingress NetworkPolicy?

[2020-10-07 18:21] jingxu97 commented on #94237
that is a pvc which points to a gce persistent disk.

[2020-10-07 18:36] soltysh commented on #95280
Unfortunately, they are not.

[2020-10-07 18:46] soltysh commented on #95280
/triage accepted
/assign

[2020-10-07 18:53] tculp commented on #91509
/remove-lifecycle rotten

[2020-10-07 19:35] DirectXMan12 commented on #95280
does category tolerate namespacing?  i.e. would `webhooks.k8s.io` be tolerated?  Still a bit long, but shorter than `mutatingwebhookconfigurations`

[2020-10-07 20:24] MushuEE commented on #95173
Taking two jobs: [Failed](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-build-fast/1313898308795633664) and [Success](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-build-fast/1313923221132677120). It looks like the major difference in time is running `make clean` and `make quick-release`.

There are [Make runs](https://prow.k8s.io/view/gs/kubernetes-jenkins/

[2020-10-07 20:25] neolit123 commented on #95138
but is the kube-apiserver running? please show output from `kubectl get po -A`.

what are the reproduction steps for this:
- did you call `kubeadm reset` before `kubeadm init`?
- what is the full kubeadm command line?
- are you passing a configuration file to kubeadm and what are it's contents?

/priority awaiting-more-evidence

[2020-10-07 20:29] MushuEE commented on #95173
I would almost lean towards increasing the timeout... It seems like the run times come very close to 40m when the `('make', 'clean')` and `('make', 'quick-release')` stages are run

[2020-10-07 20:36] grosser opened #95380 "cpumanager "ignoring terminated container" should not be a warning"
kubernetes 1.19.2

seeing tons of these, feels like something that should be debug or info ... not really actionable or something that it should warn about ?

[code]

/sig node

[2020-10-07 20:47] ahg-g commented on #94659
this will be addressed as part of https://github.com/kubernetes/enhancements/pull/1916

[2020-10-07 20:47] #94659 closed

[2020-10-07 20:55] spiffxp commented on #95173
It's worth noting these still run in the "default" cluster, where most jobs don't declare their resource usage.  Thus it's very possible to land on a node with a noisy neighbor and insufficient resources to complete the job in a timely manner.

I would be more interested in us pushing to migrate all of the build jobs to k8s-infra-prow-build, where all jobs are required to declare resource usage, a

[2020-10-07 21:31] spiffxp commented on #95173
https://github.com/kubernetes/test-infra/issues/19484 covers migrating this job over

[2020-10-07 23:12] liggitt commented on #95374
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/89820

PDBs do not guard workload update rollouts, but guard node drain operations

[2020-10-07 23:12] #95374 closed

[2020-10-07 23:30] fejta-bot opened #95381 "pr:pull-kubernetes-conformance-kind-ipv6-parallel flaked 8 times in the past week"
### Flaky Job: pr:pull-kubernetes-conformance-kind-ipv6-parallel
 Flakes in the past week: **8**
 Consistency: **94.20%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| [sig-network] Services should be able to change the type from NodePort to ExternalName [Conformance] | 4 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

/kind flake

[2020-10-07 23:31] alejandrox1 commented on #70585
/reopening to investigate recent messages :microscope:
/reopen

[2020-10-07 23:32] alejandrox1 commented on #70585
/unassign @draveness

[2020-10-07 23:33] alejandrox1 commented on #70585
/triage accepted

[2020-10-08 01:06] hehe717 commented on #90461
I still have this same issue

[2020-10-08 01:46] MushuEE commented on #95026
@cpanato looks like similar behavior tohttps://github.com/kubernetes/kubernetes/issues/95173

[2020-10-08 01:59] changshuchao commented on #95307
/assign

[2020-10-08 04:14] Huang-Wei commented on #85677
/remove-lifecycle rotten

[2020-10-08 06:25] MikeSpreitzer commented on #93757
@ahg-g : the text

should be revised to more clearly express the intent.  It is that the driving client has many more requests outstanding at once than the corresponding priority level will allow to be served concurrently.

[2020-10-08 06:35] igraecao commented on #92067
The problem persists in our environment as well, and the workaround cited above will not do anymore. Is there something in the works for this one?

[2020-10-08 06:52] snirbenyosef commented on #95096
@dashpole
 Container Runtime Version:  docker://19.3.12
 Container Runtime Version:  docker://19.3.12
 Container Runtime Version:  docker://19.3.12
 Container Runtime Version:  docker://19.3.12

[2020-10-08 07:04] aojea commented on #95369
/unassign
/assign @danwinship
he already submitted a fix

[2020-10-08 07:04] aojea commented on #95369
/triage accepted

[2020-10-08 07:17] gadinaor opened #95385 "Pod ContainerStatus shows incorrect imageID repo reference"
**What happened**:

I created 2 Pods, each running a container from a different repo, but have the same image hash.
The container status mix the 2 image repo **.Status.containerStatuses[0].image**  and **.Status.containerStatuses[0].imageID**

See
kubectl get pod -n myns -o yaml shows the following:

[code]

**What you expected to happen**:

**.Status.containerStatuses[0].image**  and **.Status.co

[2020-10-08 07:48] foreversunyao opened #95386 "[Doc] k8s upgrading document missing "cert upgrade manually" on additional control plane nodes"
**What happened**:
In https://v1-16.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#upgrade-additional-control-plane-nodes , it only upgrades binary but missing renew certs like what is done on first control plane node https://v1-16.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/#upgrade-the-first-control-plane-node . seems "upgrade apply" has di

[2020-10-08 07:59] brancz commented on #95115
@dgrisonnet do you want to give it a try to fix this?

[2020-10-08 08:06] foreversunyao commented on #95386
/sig CLI

[2020-10-08 09:07] dgrisonnet commented on #95115
I can give it a spin but I might need some more insights.

For the record, I was able to fix my original problem in metrics-server by forcing the instantiation of the metric by calling the `Create` method before trying to collect it with `testutil.CollectAndCompare`. AFAIU, this seems to be the intended way to do it considering the lazy instantiation of the metrics. However, I don't think segfault

[2020-10-08 09:10] serathius commented on #95115
/cc @RainbowMango @logicalhan
as they authored the metrics framework

[2020-10-08 09:25] tosi3k opened #95390 "Flaky "Pod Container Status should never report success for a pending container" test in release-1.17"
**What happened**:
When `Ensure Kubelet always reports terminating pod container status` PR (https://github.com/kubernetes/kubernetes/pull/88440) got cherry-picked to `release-1.17` branch in https://github.com/kubernetes/kubernetes/pull/93041, we forgot to additionally cherry-pick its follow-up fixes of the e2e test that was introduced therein:
* `test: Properly detect container runtime flake in

[2020-10-08 10:23] tosi3k opened #95393 "Missing log information in "Pod Container Status should never report success for a pending container" test in release-1.18"
**What happened**:
#88440 introduced a new e2e test: `Pod Container Status should never report success for a pending container`. This test has a formatted log line with %s symbols but does not include the parameters. That was introduced in release-1.18, fix for that is in https://github.com/kubernetes/kubernetes/pull/92051 but it wasn't introduced until release-1.19 branch was created.

Simple fix

[2020-10-08 10:25] ScrapCodes opened #95394 "[Flaky Test] go_test: //staging/src/k8s.io/apiserver/pkg/storage/cacher/go_default_test:run_1_of_2"
**Which jobs are flaking**:
bazel-test-master (periodic-kubernetes-bazel-test-master #1314084281143791616)

**Which test(s) are flaking**:
go_test: //staging/src/k8s.io/apiserver/pkg/storage/cacher/go_default_test:run_1_of_2

**Testgrid link**:
https://testgrid.k8s.io/google-unit#bazel-test-master
**Reason for failure**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-kubernetes-baze

[2020-10-08 10:26] jingyih commented on #95334
Could you elaborate on this? I am trying to understand if the messages you posted (e.g. `transport: loopyWriter.run returning. connection error: desc = "transport is closing"`) are just noisy logs or do they actually causing writes to fail.

Could you try `kubectl get --raw='/readyz?verbose'` and look for the entry for etcd? Internally the kube apiserver will try to perform a quorum read to etcd s

[2020-10-08 10:28] dr4Ke commented on #44954
Since kubernetes/federation is retired, and there is no reason that even a standalone cluster should not know its name, can this issue be reopened?

[2020-10-08 10:31] RobertKielty commented on #95394
/sig-release-test-failures

[2020-10-08 10:54] feikesteenbergen commented on #65785
Currently trying to reliable reproduce the issue.

We're also investigating if increasing [`--livez-grace-period`](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/) will be a workaround.

(We'd rather have no response for say 20 seconds than have a `401` Unauthorized response, the former will be retried, the latter will not by many tools)

[2020-10-08 10:56] tosi3k commented on #93932
@robscott @freehan do we have any progress on perusing that flake? The test failed 10 times in about 50 most recent runs of `ci-kubernetes-e2e-gce-scale-correctness` job.

[2020-10-08 11:42] harche commented on #95344
@RobertKielty sorry I wasn't aware of CI Signal project board. Thanks for the link.

[2020-10-08 11:43] harche commented on #95344
@alejandrox1 sorry my bad, I didn't realize there was already an issue for this.

[2020-10-08 11:52] jkaniuk commented on #93932
/priority critical-urgent

[2020-10-08 12:51] der-eismann commented on #95334
Thanks for your answer!

Sorry, this was a wrong assumption. On our production cluster I was able to view existing resources with
[code]
This was missing on the new staging cluster, however I just noticed that this is the old v2 API and the keys are unused. If I use
[code]
I am able to view all existing resources, so the etcd connection seems to be fine.

[code]

Looks like the connection is fine

[2020-10-08 12:59] xmath279 commented on #88698
Hello @cmluciano,

It's been a while since I did those tests and I'm currently using iptables to prevent this issue from happening.

However, if I recall correctly, the network policy was as simple as that:
[code]

[2020-10-08 13:40] harche commented on #95344
More failures around not having NetworkStats and MemoryStats,
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=when%20querying%20%2Fstats%2Fsummary%20should%20report%20resource%20usage%20through%20the%20stats%20api

[2020-10-08 13:45] harche commented on #95344
[code]
From the kubelet logs of one of the failed jobs. https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cri-containerd-node-e2e/1314090071145582592/artifacts/tmp-node-e2e-03246eac-ubuntu-gke-1804-1-16-v20200330/kubelet.log

Open the failed job's kubelet.log and look for `cri_stats_provider.go`

[2020-10-08 13:56] linjmeyer commented on #62334
We've had this problem as well on GKE nodes (Container-Optimized OS).  It would be great to see Kubernetes handle this as it can effectively break the network stack of an entire node.

Slightly off topic, does anyone have any tips for determining which container/process is leaking the TCP memory?  As a quick workaround we have increased the TCP memory but that can't work forever.

[2020-10-08 14:03] harche commented on #95344
[code]

helped me to get rid of errors related fsinfo not available. I do some more testing. It's just a temporary patch which looks for `xfs` because that's what I am using. If it really works, I could make it more generic.

[2020-10-08 14:07] denkensk commented on #72278
/remove-lifecycle rotten

[2020-10-08 14:07] denkensk commented on #72278
/reopen

[2020-10-08 14:17] alculquicondor commented on #72278
/triage accepted

[2020-10-08 14:28] tosi3k opened #95401 "Flaking kubemark-master-500 job"
**Which jobs are flaking**:
`kubemark-master-500`

**Which test(s) are flaking**:
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-master-500

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-master-500

**Reason for failure**:
All of the failures are due to kubetest timeout kicking in, not due to any clusterloader-related failures. Either we

[2020-10-08 14:38] MHBauer commented on #95043
Other person also involved with cos,
/cc @karan

[2020-10-08 14:52] tosi3k opened #95402 "Very flaky kubemark-5000 and kubemark-5000-scheduler jobs"
**Which jobs are flaking**:
`kubemark-5000`
`kubemark-5000-scheduler`

**Which test(s) are flaking**:
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-5000
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-5000-scheduler

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-5000
https://k8s-testgrid.appspot.com/sig-scalability-kub

[2020-10-08 14:57] neolit123 commented on #94901
this seems like a question for @kubernetes/sig-docs-en-owners

this search query at k8s.io reveals that the capitalization varies:
https://kubernetes.io/search/?q=%22control%20plane%22

i would recommend :control plane", because it is not the name of an object, it is the object.
an example of that is the following - if one is talking about a k8s node topology wise, then "node" does not have to be

[2020-10-08 15:00] neolit123 commented on #94901
yes, but only if this is not a case of:

i think saw a few cases of that.

[2020-10-08 15:21] MHBauer commented on #95357
looks like dup of https://github.com/kubernetes/kubernetes/issues/94493

I'm generally wary of "increase the timeouts" or "increase the resources" as solutions to problems.

[2020-10-08 15:28] mwhipple opened #95403 "Allow passing parameters as part of probe requests"
(half-baked idea)

**What would you like to be added**:

When defining readiness and liveness probes it could be very helpful to be able to relay in the probe request. This could include replica set information such as the number of active/healthy nodes (or potentially a condensed digest of probe responses). This could be supported by allowing for some dynamically expanded values within the probes

[2020-10-08 15:45] suramrit commented on #95307
Im a first time contributor looking for good-first-issues, however this issue does not seem to have a clear indication of where to start with it. Am I missing something ?
Appreciate any help!

[2020-10-08 16:10] JamesDowning commented on #89898
Same problem here:

- EKS v1.16
- Django application with Nginx and gunicorn

[code]

Running the same request via a pod in the same namespace `curl http://xxxxx:80/healthcheck/` returns a 200 response.

[2020-10-08 16:14] oomichi commented on #94901
@neolit123 Thanks for your comment!

Yes, I agree with you here.
I think these rules should be applied with the order.

[2020-10-08 16:27] dashpole commented on #95096
Yeah, this is a duplicate of https://github.com/moby/moby/issues/34855.  Docker is splitting your logs at 16k, and it doesn't appear to be configurable.

[2020-10-08 16:46] michmike commented on #93479
@ddebroy or @jingxu97, can you PTAL?

[2020-10-08 16:47] liggitt commented on #84922
That would be my recommendation - make the config file mutually exclusive with all flags other than the ones described here:

https://github.com/kubernetes/kubernetes/blob/d236e50be7da53affa670a575b8f7ac55f1420f5/cmd/kube-scheduler/app/options/options.go#L153-L159

[2020-10-08 16:52] immuzz commented on #92710
SIG- Backlog Meeting : @jingxu97 Can you provide more details so we can look into it

[2020-10-08 17:24] liggitt commented on #95402
possible related to https://docs.docker.com/docker-hub/download-rate-limit/ ? do we need to use a different container image registry or an image tag other than latest to avoid repulling repeatedly?

[2020-10-08 17:24] holynakamoto opened #95406 "Unable to pull some images from k8s container registry filesystem layer verification failed"
**Bold** Images won't pull due to filesystem layer verification failed
_Italics_ pull successful
_k8s.gcr.io/kube-apiserver:v1.19.2_
**k8s.gcr.io/kube-controller-manager:v1.19.2**
_k8s.gcr.io/kube-scheduler:v1.19.2_
**k8s.gcr.io/kube-proxy:v1.19.2**
_k8s.gcr.io/pause:3.2_
**k8s.gcr.io/etcd:3.4.13-0**
_k8s.gcr.io/coredns:1.7.0_

[code]
(edit: neolit123 formatted above blob)

I have tried pulling th

[2020-10-08 17:37] holynakamoto commented on #95406
tag https://github.com/kubernetes/kubernetes/labels/sig%2Frelease

[2020-10-08 17:42] holynakamoto commented on #95406
/sig release

[2020-10-08 17:57] MHBauer commented on #95043
In https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-benchmark/1314218418764779520
I see a dead pod holding everything up until a 10 minute timeout expires.
On n1-standard-1-cos-85-13310-1041-9-76ec8536 it's pod test-11c6bda1-b9cf-4c40-b7a7-fa3953d713a3
In this log
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-benchmark/131421841876

[2020-10-08 18:05] bsdnet commented on #95043
I remembered that @dims  has changed the runtime to containerd. In this case, do we still docker running when do performance benchmarking? It will consume about 100M on my idle machine.

As to change in #17743, I checked the patch, and did not see anything difference to upstream containerd.service.  Also, [docker-ce](https://github.com/docker/docker-ce/blob/master/components/packaging/rpm/SPECS/do

[2020-10-08 18:18] howardjohn opened #95407 "Provide a way to perform offline CRD schema validation"
**What would you like to be added**:

I have been trying to get an offline CR schema validation working for a couple of weeks now. I have tried many many different ways to do so, and nothing I do matches the API server

Specifically, I would like something along the lines of `ValidateCR(customResourceDefinition, customResource) error`, where the `error` returned will exactly match the result had I

[2020-10-08 18:19] howardjohn commented on #95407
/sig api-machinery

[2020-10-08 18:42] polinchw opened #95408 "Disk filling up under /var/lib/docker/overlay2 causing the nodes to crash."
**What happened**:
I installed Kubernetes 1.19.2 with Kubespray.  The cluster comes up and is functional but in less than 24 hours all of the nodes fill up their /var/lib/docker/overlay2 directories.  The nodes then start crashing when they reach 100% disk space under /var.  I'm aware that this directory is where Docker stores its images.  I did limit the logs files to 100k and keeping one copy pe

[2020-10-08 18:44] MHBauer commented on #95043
Completely missing test 'ubuntu-gke-1804-resource3' in the test run as well, https://github.com/kubernetes/test-infra/blob/d9e0d116d4de03610d1a9c81792f7ecadf5960c1/jobs/e2e_node/benchmark-config.yaml#L175 doesn't show up in testgrid. It looks to be running successfully in the logs...

[2020-10-08 18:47] yashvardhan-kukreja commented on #95385
I would like to take this up

[2020-10-08 18:47] yashvardhan-kukreja commented on #95385
/assign

[2020-10-08 18:48] wolfewicz commented on #69697
I had multiple pvcs stuck in terminating status.
kubectl describe pvcname (To get pod its attached to.)
kubectl patch pvc pvcname -p '{"metadata":{"finalizers":null}}'
kubectl patch pod podname -p '{"metadata":{"finalizers":null}}'
This worked in my K8S cluster

Thanks for posting these commands to get rid of the pvc

[2020-10-08 18:51] stefanlasiewski opened #95409 "Kubernetes 1.17 with Ubuntu 18.04 & Hardware Enablement kernel results in iptables rules containing `DNAT [unsupported revision]`"
**What happened**:

My Kubernetes 1.17 cluster (and Kubernetes 1.16 cluster) have 40-50 of firewall rules that say `[unsupported revision]`. I am concerned this will cause problems with

[code]

**What you expected to happen**:

I expect these firewall rules to be valid, like so:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

1. Allocate a worker node
1. Install Ubuntu

[2020-10-08 18:52] stefanlasiewski commented on #95409
/sig network

[2020-10-08 19:20] stefanlasiewski commented on #94754
I tracked down a related bug for regular Ubuntu 18.04 with the HWE Kernel (Kernel v5 instead of Kernel v4)  and Kubernetes 1.17, and filed it here:

https://github.com/kubernetes/kubernetes/issues/95409

[2020-10-08 19:27] jayunit100 commented on #79610
im seeing this to

[2020-10-08 19:29] jingxu97 commented on #69697
@wolfewicz @DMXGuru if pods are deleted, pvc should not stuck in terminating states. User should not need to remove finalizer manually.
Could you reproduce your case and give some details here, so that we can help triage?

[2020-10-08 20:01] wojtek-t commented on #95402
Do we really need busybox? Can we use some other image?

[2020-10-08 20:05] spiffxp commented on #94901
@oomichi thank you for enumerating my concerns, I think I want to explain the reasoning a bit more though:

Master is used interchangeably to refer to different concepts.  Our goal here is not just to use more inclusive language, but to be more specific about what we're referring to.  This includes maintaining the appropriate level of abstraction; sometimes we want to talk about the group as a who

[2020-10-08 20:16] fedebongio commented on #95370
/cc @jpbetz

[2020-10-08 20:19] fedebongio commented on #95407
/assign @sttts
Stefan would you mind taking a look to this one? During triage we felt you may have some important inputs and thoughts here
Thanks!
/triage accepted

[2020-10-08 20:20] fedebongio commented on #95370
/triage accepted

[2020-10-08 20:24] neolit123 commented on #95408
hi, the contents of /var/lib/docker/overlay2 are the responsibility of the overlayFS driver for docker.
this is not directly a k8s problem, but our cluster could be setup to contribute negatively to this scenario.

i think the proposed change request belongs to docker, but this comment identifies as a "feature and not a bug":
https://forums.docker.com/t/some-way-to-clean-up-identify-contents-of-va

[2020-10-08 20:24] #95408 closed

[2020-10-08 20:25] neolit123 commented on #95408
/remove-kind bug
/kind support

[2020-10-08 20:28] tallclair commented on #90835
To follow up to what Jordan said, this is something that we've previously discussed building as an audit webhook. In other words, implement what you asked for out-of-tree, by setting up the "audit server" as the webhook backend. If this is something you'd be interested in working on, I would sponsor it for kubernetes-sigs.

[2020-10-08 20:29] DMXGuru commented on #69697
How and what details would you like? The kubectl commands and output showing this behavior and then a kubectl describe and kubectl get -o yaml for the resultant PV?

Sent from my iPhone

[2020-10-08 20:58] MHBauer commented on #95043
So is the solution "don't use docker, configure the images to use containerd through cri"?

[2020-10-08 21:21] #91940 closed

[2020-10-08 21:21] #89816 closed

[2020-10-08 21:29] nlzv opened #95416 "tls-cert-file and tls-key-file options is not used by daemons in curl"
ps -eo pid,args | grep kube-controller-manager
 179356 /opt/kubernetes/v1.19/bin/kube-controller-manager --logtostderr=false --v=9 --master=https://127.0.0.1:6443 --service-account-private-key-file /etc/pki/kubernetes/kubernetes.key.pem --client-ca-file /etc/pki/nz/nzroot.cert.pem --tls-cert-file /etc/pki/kubernetes/kubernetes.cert.pem --tls-private-key-file /etc/pki/kubernetes/kubernetes.key.pem

[2020-10-08 21:38] jingxu97 commented on #69697
@DMXGuru first thing I want to verify is that there are no pods running and no VolumeSnapshots are taken during PVC/PV terminating.

kubectl describe pod | grep ClaimName
kubectl describe volumesnapshot | grep persistentVolumeClaimName

Second, could you describe in what sequence did you perform pod or pvc deletion? Thanks!

[2020-10-08 21:40] aojea commented on #95381
/triage accepted
/assign

I saw this several times

[2020-10-08 22:08] holynakamoto commented on #95406
Virtualbox combined with hyper v breaks sha256 calculations for some reason.

[2020-10-08 22:14] #85148 closed

[2020-10-08 22:27] oomichi commented on #94901
@spiffxp Thank you for your guideline!
That is very clear and I understand what we need to take care of during PR reviews.
We are ready to go forward.

[2020-10-08 22:53] monchier opened #95421 "Issue using metrics fakeclient to test simple API"
**What happened**:
I am running the following unit test against to test the `metrics` API. The test fails with:
[code]

[code]

I see [here](https://github.com/kubernetes/metrics/blob/master/pkg/client/clientset/versioned/typed/metrics/v1beta1/fake/fake_podmetrics.go#L38) resource is `pods`, while I would expect this to be `podmetrics`.

**What you expected to happen**: test succeeds.

**How to re

[2020-10-08 23:22] monchier commented on #95421
/sig sig-instrumentation

[2020-10-08 23:24] sleeyax commented on #39557
Quick & easy lifesaver, ty

[2020-10-08 23:32] fejta-bot opened #95422 "pr:pull-kubernetes-e2e-gce-storage-slow flaked 3 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-storage-slow
 Flakes in the past week: **3**
 Consistency: **83.30%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Timeout | 4 |

#### Previously closed issues for this job flaking:
#86043

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

/kind flake

[2020-10-08 23:34] msau42 commented on #91784
/remove-lifecycle rotten

[2020-10-08 23:58] eknudtson opened #95425 "Kubeadm unable to join workers with BGP Unnumbered RFC 5549"
**What happened**:
Related to the following:
https://github.com/kubernetes/kubeadm/issues/1156
https://github.com/kubernetes/kubernetes/pull/83475

When I attempt to `kubeadm join` a worker with routing to the host (unicast IP on the loopback, IPv6 link locals on interfaces), kubeadm fails to join workers with the following output:

[code]

verbose error:
[code]

**What you expected to happen**:
I

[2020-10-09 00:00] swetharepakula commented on #93932
Sorry, for not having an update sooner. I have been investigating the flakes.
The three flakes linked here have the same pattern, and I assuming most of failures I see in testgrid will fall into the same category.

In the flake situation, I believe this is what is happening.
1. Service starts off as ExternalTrafficPolicy = local
2. GCE load balancer is created with the proper health checks
3. Serv

[2020-10-09 00:01] monchier commented on #95421
/sig-instrumentation

[2020-10-09 00:03] eknudtson commented on #95425
/sig network

[2020-10-09 01:21] cofyc commented on #91281
/remove-lifecycle stale

[2020-10-09 01:25] liggitt commented on #95416
The example curl output is generated at the request layer, which does not know about the connection level options like cert/key file. The output shown does not represent an actual call to a curl library, the golang http client is used to make all calls

[2020-10-09 01:25] #95416 closed

[2020-10-09 01:40] HaonanFeng commented on #94696
Sorry, I was business trip for the last few days and I'm working on this.

[2020-10-09 02:21] pacoxu commented on #95164
I have seen similar issues before. However, I cannot find these logs in my cluster which is 1.18.

[2020-10-09 02:55] zhouya0 commented on #91929
/close

[2020-10-09 02:55] #91929 closed

[2020-10-09 03:18] #90924 closed

[2020-10-09 04:36] yosshy commented on #64760
実際には何の（デーモン）プログラムのログが消えるのが問題になっている？

[2020-10-09 04:41] yashvardhan-kukreja commented on #95385
@gadinaor  .. just for the sake of full clarity..

can u please comment below that what values "exactly" did u expect under `image` and `imageID` of each replicas of the 2?

[2020-10-09 05:15] JornShen commented on #95307
let' s talk about  in https://github.com/kubernetes/kubernetes/pull/95429.:)

[2020-10-09 05:21] #83562 closed

[2020-10-09 06:18] gadinaor commented on #95385
@yashvardhan-kukreja

The container status field should have looked like this:

image: gcr.io/dcvisor-162009/iskan/e2e/zerovuln_scratch:latest
      imageID: gcr.io/dcvisor-162009/iskan/e2e/zerovuln_scratch@sha256:569cfa0ff435f3a076a1b06a1f45d772ee3f5d4fbf6b39242a573c0cff632d69

[2020-10-09 06:22] alexjuchina commented on #36222
Awesome, very good website~

[2020-10-09 06:24] anarkiwi commented on #26093
Just a note here - I had my own version of nsenter installed (via pip3 install) on ubuntu20. This caused a continual kubelet crash which took a while to diagnose - kubelet of course wanted nsenter from util-linux.

It sure would be nice if the preflight called out the dependency on the distro version of nsenter.

Oct 09 18:45:59 faucet kubelet[296741]: E1009 18:45:59.180219  296741 pod_workers.go:

[2020-10-09 07:05] multi-io opened #95431 "Job resource should support recreating pods that hang or fail to be scheduled properly"
**What would you like to be added**:

Unless I'm overlooking something here, a Kubernetes Job resource does NOT support recreating its pod in case of a failure, EXCEPT if the failure constitutes the pod’s container running regularly and exiting with exit code != 0.

If the pod e.g. fails to be scheduled for some reason and hangs indefinitely, or if the pod is scheduled and started normally but the

[2020-10-09 07:19] yashvardhan-kukreja commented on #95385
cool thanks

[2020-10-09 07:23] #69028 closed

[2020-10-09 07:31] multi-io commented on #95431
/sig apps

[2020-10-09 08:10] sighingnow commented on #17064
I'm wondering the status of this issue, or, is there any chance/possibility to pick it up and implement such features in official kubernetes repo? to support custom docker runtime arguments.

[2020-10-09 08:35] foreversunyao commented on #95386
anyone is looking at this case ?
I wonder  **kubeadm upgrade "node"** is supposed to renew the certs if it's control plane nodes, no matter it's first one or additional one

[2020-10-09 08:37] lancelot1989 opened #95432 "Daemonset Controller failed to create new pod"
I've met a problem like https://github.com/kubernetes/kubernetes/issues/75836

I use taint to evict daemonset on nodes to do some system upgrade, after system upgrade done, I remove taint to let daemonset reproduce pod on these nodes.

There're 3 daemonset fit these nodes, 2 of them had create pods on nodes after removing taint, only one daemonset didn't create pod on these nodes until I taint & u

[2020-10-09 08:39] lancelot1989 commented on #95432
/sig Apps

[2020-10-09 08:44] yodarshafrir1 opened #95433 "Number of Job retires is different for restartPolicy of OnFailure and Never"
**What happened**:
Submitting a job with the same value of `backoffLimit` (as long as `backoffLimit` > 0) will cause different number of retries with different values of `restartPolicy`.
For `restartPolicy=Never` the number of retires is equal to `backoffLimit`.
For `restartPolicy=OnFailure` the number of retires is equal to `backoffLimit-1`.

**What you expected to happen**:
Both policies should

[2020-10-09 08:45] lancelot1989 commented on #95432
my kubernetes version is already 1.15.5

[2020-10-09 08:48] yodarshafrir1 commented on #95433
/sig apps

[2020-10-09 08:58] hasan4791 opened #95434 "Kubectl delete/patch/edit behavior in kubectl proxy mode"
**What happened**:
I'm trying to access the kubernetes api server through the apiserver proxy which is running in "--disable-filter=true" mode. When using kubectl delete/patch/edit commands, following error is being thrown

[chasan@chasan-linux]$ kubectl delete po redis-server-5 -n $n
Error from server (MethodNotAllowed): the server does not allow this method on the requested resource (delete pods

[2020-10-09 09:08] oaicstef commented on #80431
Hi, I'm having the same issue, at the beginning I was thinking that it was happening due to a misconfiguration on my side but then I see that the behavior is not the one expected reading at the documentation.
This is the second "closed" issue I found about the same problem, is anyone trying to solve it? It seems a real issue to me, a pod to be ready is taking around 3 to 5 minutes in my pipelines

[2020-10-09 09:11] carlosjgp commented on #17088
@cfecherolle You just need to deploy an ingress and service on a namespace where the service is configured as ExternalName to the service in the other namespace

[2020-10-09 09:30] Iridias commented on #91652
I would like to have the Jenkins-Syntax supported!
In Jenkins you can put an "H" instead of a number, e.g. in the minutes-field, to indicate that the task is performed every hour at an unspecified but invariant time for each task.

[2020-10-09 09:33] cfecherolle commented on #17088
Hi @carlosjgp.
I'm not sure I understand your answer. Could you please clarify? Which namespace, which ingress and service, in short : how do you separate and wire things together, regarding namespaces?

[2020-10-09 09:39] muvster commented on #44812
Now available in the form of `--prefix`: https://github.com/kubernetes/kubernetes/pull/76471

[2020-10-09 10:35] BZakir commented on #92460
same in 1.12

[2020-10-09 11:06] OvervCW opened #95436 "Pods with a startup probe but without a readiness probe take a long time to become ready"
**What happened**:

I created the following deployment:

[code]

Both the startup probe and liveness probes succeeded almost immediately after the pod was created, but despite this, it took ~80 seconds for the pod to change its state to Ready. The following requests were made during those 80 seconds:

[code]

**What you expected to happen**:

I expected the pod to become ready after about 10 secon

[2020-10-09 11:09] fkpwolf commented on #95149
[code]
there is only one `endpointslices`! You are right @aojea. How to fix this? I have no idea on `endpointslices`.

[2020-10-09 11:09] OvervCW commented on #95436
/sig node

[2020-10-09 11:53] danwinship commented on #89816
Oh, the release notes in 95239 don't mention this because it was sort of a drive-by fix, but kubelet now only considers syntactically valid `node.status.addresses` values when deciding which value to pick as `hostIP`/`podIP`.

[2020-10-09 11:59] neolit123 commented on #95422
/sig storage

[2020-10-09 12:00] neolit123 commented on #95290
hi, please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-10-09 12:00] #95290 closed

[2020-10-09 12:01] neolit123 commented on #95349
hi, please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-10-09 12:01] #95349 closed

[2020-10-09 12:01] neolit123 commented on #95381
/sig network

[2020-10-09 12:02] neolit123 commented on #95385
/sig node

[2020-10-09 12:03] neolit123 commented on #95394
/sig api-machinery

[2020-10-09 12:09] neolit123 commented on #95403
/sig node

[2020-10-09 12:10] neolit123 commented on #95403
you might want to contact sig-node on slack / mailing list for better visibility:
https://github.com/kubernetes/community/tree/master/sig-node#contact

[2020-10-09 12:10] neolit123 commented on #95421
/sig instrumentation

[2020-10-09 12:11] neolit123 commented on #95434
/sig cli api-machinery

[2020-10-09 12:35] jprzychodzen commented on #95401
I've rechecked the values from Metric Explorer - we are not throttled by CPU.
![cpu-kubemark](https://user-images.githubusercontent.com/29059230/95582137-832bd180-0a3a-11eb-9a2e-4ed98d37d2c9.png)

[2020-10-09 13:06] sbocinec opened #95440 "Kubectl patch not idempotent when setting nodeSelector label value to null"
**What happened**:
Patching (`kubectl patch`) a deployment with a `nodeSelector` label value set to `null` is not idempotent (when using default `strategic` merge patch):
* when a `nodeSelector` constraint exists with a `key:value` label set for the deployment, setting the `nodeSelector` label value to `null` by patching the deployment removes the `nodeSelector` constraint
* when a `nodeSelector`

[2020-10-09 13:15] sbocinec commented on #95440
/sig api-machinery

[2020-10-09 13:28] jprzychodzen commented on #95401
From logs: for failing run it can take up to 45 minutes form job start to Prometheus check passing. For other jobs, it can take about 25 minutes.

[2020-10-09 13:30] jprzychodzen commented on #95401
It might be memory throttled, increasing.
![Uploading memory-kubemark.png…]()

[2020-10-09 13:34] alculquicondor opened #95442 "Reorder default Filter plugins to have UnschedulableAndUnresolvable first"
Inspired from https://github.com/kubernetes/kubernetes/pull/92866/files#r496160188

Our default Filter plugins have the following order:

https://github.com/kubernetes/kubernetes/blob/ee297b6f4d78daaf2f71c78a05203698581ca40a/pkg/scheduler/algorithmprovider/registry.go#L87-L104

IIUC, this order was chosen to have the fastest Filters or the most probability of reporting Unschedulable first. Arguabl

[2020-10-09 13:34] alculquicondor commented on #95442
@ahg-g @Huang-Wei for comment

[2020-10-09 13:35] alculquicondor commented on #95442
and @cofyc :)

[2020-10-09 13:38] jprzychodzen commented on #95401
Reupload
![memory-kubemark](https://user-images.githubusercontent.com/29059230/95589782-85475d80-0a45-11eb-8d6e-4df42e94171a.png)

[2020-10-09 13:49] rikatz commented on #95409
/assign

Try running the same command from inside kube-proxy container and check if this happens. This is because iptables command is just a layer for the proper iptables/nftables stack of your kernel.

Because iptables used inside kube-proxy is more up to date then from Ubuntu 18.04 it might generate invalid messages for the iptables command but the rules are there.

[2020-10-09 13:49] ahg-g opened #95445 "scheduler in-tree plugin names should be fully qualified"
**What would you like to be added**:
in-tree plugin names should be fully qualified, something like `scheduler.kubernetes.io/${pluginname}`.

**Why is this needed**:
Makes it easier to distinguish between in-tree and out-of-tree plugins.

Now is the best time to do this since we are introducing v1beta2 api. For v1beta1, we will accept both names `scheduler.kubernetes.io/${pluginname}` and `${plugi

[2020-10-09 13:55] alculquicondor commented on #94695
@SataQiu would you mind putting a list of all the packages or plugins that already have open/merged PRs?

[2020-10-09 14:06] alculquicondor commented on #95445
It will be a bit painful to fix all unit tests, but yeah, it should make things more clear.

[2020-10-09 14:16] damemi commented on #95445
Good idea, it could also set a precedent for *all* developers to name their plugins with fully-qualified names (as plugins grow, it could be possible to import plugins from multiple 3rd parties)

[2020-10-09 14:19] soltysh commented on #95280
It's a string, so you could theoretically namespace that.

[2020-10-09 14:28] alculquicondor commented on #94008
/retitle Deprecate NodeLabel, ServiceAffinityand NodePreferAvoidPods from scheduler's CC api

[2020-10-09 14:30] #72287 closed

[2020-10-09 14:30] alculquicondor opened #95446 "Umbrella: scheduler component config v1beta2"
/sig scheduling

- [ ] Deprecate some Plugins #94008
- [ ] Make Plugin names fully qualified #95445
- [ ] Remove backwards compatibility hacks:
  - [ ] Defaulting Type to List when non empty list (PodTopologySpread) from #95048

/assign

[2020-10-09 14:31] alculquicondor commented on #95446
/triage accepted

[2020-10-09 14:32] alculquicondor commented on #94008
/assign @hprateek43

[2020-10-09 14:34] alculquicondor commented on #95446
cc @hprateek43

[2020-10-09 15:07] damemi commented on #92143
/remove-lifecycle stale

[2020-10-09 15:14] gutek9 commented on #49297
I've faced the same situation. Is it some misconfiguration? Or is it still not resolved?

[2020-10-09 15:23] divy4 opened #95449 "kubectl --dry-run=server with Read Only Permissions"
**What would you like to be added**:

The ability to run `kubectl <command> --dry-run=server` with a user or service account that only has read permissions (i.e. the GET/HEAD verbs listed in https://kubernetes.io/docs/reference/access-authn-authz/authorization/#determine-the-request-verb).

**Why is this needed**:

This would be helpful for setting up a "dry run user/service account" that doesn't

[2020-10-09 15:24] gutek9 commented on #49297
/reopen

[2020-10-09 15:25] widgetpl commented on #49297
cc @wlan0 @thockin @justinsb

[2020-10-09 15:29] divy4 commented on #95449
/sig api-machinery

[2020-10-09 15:30] Huang-Wei commented on #95445
SGTM.

One question, should we use the GroupName defined in scheduler CC? i.e., `kubescheduler.config.k8s.io`:

https://github.com/kubernetes/kubernetes/blob/ee297b6f4d78daaf2f71c78a05203698581ca40a/staging/src/k8s.io/kube-scheduler/config/v1beta1/register.go#L25

Or, we just use another group name to indicate it's "in-tree", such as `scheduling.k8s.io`; so that we use a different group, like in s

[2020-10-09 15:46] ahg-g commented on #95445
`kubescheduler.config.k8s.io` make sense to me.

[2020-10-09 15:58] alculquicondor commented on #95445
I think the plugin names are somewhat independent of the component config. I would prefer `scheduling.k8s.io` or the originally proposed `scheduler.k8s.io`.

[2020-10-09 16:00] alculquicondor commented on #95445
Recall that other binaries can use the framework directly without component config.

[2020-10-09 16:33] ehashman commented on #95436
/kind support

[2020-10-09 16:54] ehashman commented on #95403
I think this is a large enough change to require a KEP. (See ["Is My Thing an Enhancement?"](https://github.com/kubernetes/enhancements/#is-my-thing-an-enhancement) for more info.)

Check out the KEP template/process here: https://github.com/kubernetes/enhancements/tree/master/keps#kubernetes-enhancement-proposals-keps

[2020-10-09 17:13] stefanlasiewski commented on #95409
@rikatz Are you saying I should try to run commands like these from within `kube-proxy`?

[code]

[2020-10-09 17:18] alculquicondor commented on #84922
If we are going to start failing for all those flags, should we do that for v1beta2 only? ref #95446

[2020-10-09 17:19] rikatz commented on #95409
inside the kube-proxy container, run ``iptables-save`` and check if the ``[unsupported revision]`` still appears. If not, that's because what I've explained above :)

[2020-10-09 17:19] Huang-Wei commented on #95445
Scheduler-plugins adheres to scheduler CC to defined its versioned plugin args, and hence derives the API group/version: `kubescheduler.config.k8s.io/v1beta1` ([link](https://github.com/kubernetes-sigs/scheduler-plugins/blob/939c1c03521ce2117a7c370f7f730d81c3331590/pkg/apis/config/register.go#L26)).

But the qualified plugin name is slightly a different thing:

- if we want to (implicitly) **enfor

[2020-10-09 17:22] mkumatag opened #95450 "failed to find the FC disks starts with fc prefix"
**What happened**:

Currently, we have logic here to look for the disk names with `-fc` but this fails when we have devices which are starting with `fc` https://github.com/kubernetes/kubernetes/blob/ee297b6f4d78daaf2f71c78a05203698581ca40a/pkg/volume/fc/fc_util.go#L63

e.g: on ppc64le architecture, NPIV based fc disks are discovered as follows:

[code]

and here is the udev information for one of

[2020-10-09 17:22] mkumatag commented on #95450
/sig storage

[2020-10-09 17:24] mkumatag commented on #95450
/triage accepted

[2020-10-09 17:32] mwhipple commented on #95403
alright, thanks for the further info. I'll look to do a quick temperature check on Slack and then look at starting a KEP if no alarms are going off.

[2020-10-09 17:33] dashpole commented on #64760
We don't use copytruncate for CRI logging, so the test must be using docker.  Docker doesn't support CRI logging, so we can't change the way it does log rotation.  When using docker, it is possible that you can lose logs due to rotation.  The solution would be to switch to a container runtime that supports the CRI logging mechanism.

See https://github.com/kubernetes/kubernetes/issues/58823 for de

[2020-10-09 17:42] spiffxp commented on #94901
One other set of assumptions / definition I see come up (in tests, anyway):
- there is exactly one instance of each control plane component
- there is exactly one control plane node that hosts these components

Basically these are assumptions that are tangled up with the e2e framework's concept of a "provider", usually assuming the kube-up.sh gce implementation with a set of default parameters.

W

[2020-10-09 17:46] alculquicondor commented on #94008
Update to https://github.com/kubernetes/kubernetes/issues/94008#issuecomment-703680713

It actually won't work properly. Either v1beta1 plugins get broken or v1beta2 configurations don't get prevented from instantiating old plugins. I believe having `getPluginArgsOrDefault` do validation is a bad idea. We should be doing that during actual API validation (or conversion? although I'm not sure if ap

[2020-10-09 17:56] rikatz commented on #95409
/remove-kind bug

@stefanlasiewski once you try this please give me a feedback

[2020-10-09 18:07] monchier commented on #95421
Adding some color to this to help clarify:
What made me think this is a bug is this line: https://github.com/kubernetes/metrics/blob/master/pkg/client/clientset/versioned/typed/metrics/v1beta1/fake/fake_podmetrics.go#L38
[code]

and if I debug the tracker, it turns out that everything would be fine if Resource were `podmetrics`.

Since this is automatically generated, the fix could be actually her

[2020-10-09 18:28] Jefftree commented on #91438
/close

[2020-10-09 18:28] #91438 closed

[2020-10-09 18:34] #90379 closed

[2020-10-09 18:47] stefanlasiewski commented on #95409
Indeed, that seems to be true. The rules inside the container appear fine even though they show an error on the host.

[code]

Inside the container:

[code]

[2020-10-09 18:49] troy0820 commented on #93761
/sig node

[2020-10-09 19:41] bankershours commented on #95406
You can close this, it's larger issue with Virtualbox and Hashes, was getting the same on apt-update

[2020-10-09 19:59] melissajenner22 commented on #63959
How to get Allocation IDs?

[2020-10-09 20:16] msau42 commented on #69799
/reopen

[2020-10-09 20:17] msau42 commented on #69799
/remove-lifecycle rotten

[2020-10-09 20:23] alculquicondor commented on #95445
I'm thinking that scheduling-plugins should have it's own groupName. The downside is that all the users of custom plugins need to write the groupname and Kind of the corresponding PluginConfigs, and we might need other generalizations in [decoding](https://github.com/kubernetes/kubernetes/blob/b0ca7f1ea56dea9eccfb053c9837fe83f4bc5804/staging/src/k8s.io/kube-scheduler/config/v1beta1/types.go#L225)

[2020-10-09 20:45] rikatz commented on #95409
Ok, so as this is explained I'll close this but feel free to re-open if you think this wasn't solved

/close

[2020-10-09 20:45] #95409 closed

[2020-10-09 20:55] OliverCole commented on #87149
/remove-lifecycle stale

[2020-10-09 21:13] SaiHarshaK commented on #93363
/assign

[2020-10-09 22:47] stuartpb commented on #95297
If SIGs are responsible for their own testcases, then this touches test cases for api-machinery as well (I'm not sure what the non-CLI version of this is, but there's definitely a schema adherence test that should fail at the API level).

/sig api-machinery

[2020-10-09 23:02] vip8439 opened #95455 "dnf/yum/rpm installation of Kubernetes packages from official repos fails on RHEL 8 systems with FIPS enabled"
**What happened**: yum/dnf/rpm installation of kubernetes packages from the official repo fail on RHEL 8 machines with FIPS enabled.

yum/dnf installations fail with:
[code]

[code]
fails with:
<kubernetes_package>: DIGESTS signatures NOT OK

**What you expected to happen**:
yum/dnf/rpm installation complete successfully.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

*

[2020-10-09 23:08] vip8439 commented on #95455
/sig release

[2020-10-09 23:19] troy0820 commented on #95449
Hey @divy4 could you do:
`kubectl create -f <something.yaml> --as=system:serviceaccount:namespace:dry-run-sa --dry-run`
Doing this will validate the yaml but it will not create it and the service account that you are using to check it will have the reader permissions that you requested.

[2020-10-09 23:19] troy0820 commented on #95449
/kind support

[2020-10-09 23:30] troy0820 commented on #93058
/sig security

[2020-10-09 23:36] shapeofarchitect commented on #94435
@wingman-chakra  @pacoxu  I experienced the same exact Issue in our clusters too , We operate in Azure AKS and we run our automated builds in the pods , One of our QA long running tests were set to run for 3 Hours , I set the grace period for the pods to be 3 hours (10800) but right at 1 hour and 7 mins or 8 mins kubernetes send SIGTERM and graceful termination of the pod happens.

In my case we a

[2020-10-10 00:39] #90748 closed

[2020-10-10 01:16] jwm commented on #75457
/remove-lifecycle rotten

[2020-10-10 01:36] RainbowMango commented on #95152
The reason for that is we want to offer stability guarantees for metrics. For more details, you can refer to [the proposal](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20190404-kubernetes-control-plane-metrics-stability.md).

[2020-10-10 01:59] srikaratstrings commented on #94435
In our case, the issue was that cluster-autoscaler does not respect
terminationGracePeriodSeconds. I will wait a maximum of 10 minutes before
killing the pod.

On Sat, Oct 10, 2020 at 5:06 AM Vineet Gupta <notifications@github.com>
wrote:

[2020-10-10 02:12] RainbowMango commented on #95115
The reason why we delay instantiation to the registry is we want to check if the metrics are deprecated or not.
If we want to instantiate it before the registry, how do we know the release version which holds in the registry for now?

I wonder why you need to describe a CounterVec before it is registered? Can you explain more about your cases?

[2020-10-10 02:31] lancelot1989 opened #95457 "Evicted DaemonSet pod stuck Daemonset's rolling update"
**What happened**: i have a daemonset, if a node has DiskPressure, an evicted pod controlled by this daemonset will be assign to the DiskPressure node. if u don't deal with the DiskPressure, then edit the daemonset for a rolling update, u will find out that the rolling update will take much more time than usual.

**What you expected to happen**: DiskPressure node should not stuck the rolling updat

[2020-10-10 02:35] thejoycekung opened #95458 "[Failing Test] build-master-fast"
**Which jobs are failing**:
`build-master-fast`

**Which test(s) are failing**:
Overall (there's only one test)

**Since when has it been failing**:
Commit b0ca7f1ea

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#build-master-fast&sort-by-flakiness=

**Reason for failure**:
`push-build.sh` is returning with `exit status 1`. Example spyglass link here: https://prow.k8s.io/v

[2020-10-10 02:37] stefanlasiewski commented on #95409
So if I understand correctly, this isn't actually an issue with Kube-proxy
at all.

This is an issue with something on Ubuntu 18.04.5 which changes the
behavior of `iptables` when the HWE kernel is present.

If I run a standard Kernel on the host:

[code]

Iptables within the kube-proxy container is the same version and is still
set to legacy mode, which is correct:

[code]

-= Stefan

On Fri, Oct

[2020-10-10 02:39] #95369 closed

[2020-10-10 02:39] troy0820 commented on #95028
/kind support

[2020-10-10 02:44] yoursmanish opened #95459 "approve already denied csr - kubectl says approved but its actually its not"
New CSR raised.
Then CSR is was denied. Now the status is "Denied". All good till now.

If I try to approve this denied request, the output says "approved", but the status of CSR did not changed. and is still "Denied".
certificate is also not populated in the CSR.

Either approve the CSR and generate certificate also
Or in the status tell that its not possible(give correct message)

here is the co

[2020-10-10 02:54] coderanger opened #95460 "Server Side Apply causing spurious resourceVersion bumps on no-op patch"
**What happened**:

Running `kubectl apply --server-side -f tmp.yml` with

[code]

the generation, resource version, and managedFields timestamp all change even when running it multiple times in a row (i.e. when the apply should result in no changes).

The relevant via of the CRD from KEDA 1.4.1 is:

[code]

**What you expected to happen**:

No change to resource version (or generation or managedF

[2020-10-10 02:55] coderanger commented on #95460
/sig api-machinery
/area apiserver

[2020-10-10 02:56] coderanger commented on #95460
Example diff from the repro steps:

[code]

[2020-10-10 03:34] janetkuo commented on #64787
/remove-lifecycle rotten
/lifecycle frozen

[2020-10-10 03:34] yoursmanish commented on #95459
/sig auth

[2020-10-10 03:34] janetkuo commented on #64787
triage/accepted

[2020-10-10 03:35] janetkuo commented on #64787
/triage accepted

[2020-10-10 03:54] pacoxu commented on #94435
@shapeofarchitect  it seems that supervisord send kill signal to all its subprocesses, and all process are killed gracefully after 70 minutes.

If you want to add more time, you may try to add a preStop with 'sleep infinity', so that terminating grace period 3h will work

[2020-10-10 05:22] #94269 closed

[2020-10-10 05:31] matti commented on #92030
/remove-lifecycle rotten

[2020-10-10 08:24] andyzhangx opened #95465 "azure disk attach failure for disk size bigger than 4TB"
**What happened**:
there is a disk resize scenario:
In the beginning, it’s 3TiB with cachingMode=ReadOnly, and then disk detached, resized to 4TiB, then user find they could not attach that disk back to any agent node, I think that’s a bug we need to fix.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Env

[2020-10-10 08:55] korkin25 opened #95466 "kubectl plugins doesnt work"
**What happened**: I need to use kubectl plugins. I have installed a few plugins, but on any attempts to use plugin I see error messages.  for example:
kubectl minio:

Error: unknown command "minio" for "kubectl"
Run 'kubectl --help' for usage.

I have tried to investigate the problem using strace command, but the interesting fact - with strace command kubectl plugins works well:)

![image](https:

[2020-10-10 09:42] ningyougang opened #95467 "Does k8s support make `service account delete action` executed last?"
Hi, guys,

when execute `helm delete <release> --purge`, it seems all resources are deleted parallel.
Does k8s support make `service account delete action`  executed last?

[2020-10-10 09:43] #95467 closed

[2020-10-10 10:02] JornShen commented on #95436
Can you use the most latest version?

I create deploy using the same yaml. And It seems that no this problem in latest version.

[2020-10-10 10:11] farah commented on #91029
There's 11 files remaining to finish this off (mostly in the kubelet directory)

[code]

I'll change those after the #95069 is merged, and delete the v1alpha1/ folder in the same pr.

[2020-10-10 10:15] zhouya0 commented on #95421
The problem is:
https://github.com/kubernetes/kubernetes/blob/fa15799f7409b8644221c2b43a494c74aac0c5ee/staging/src/k8s.io/client-go/testing/fixture.go#L324-L334

For others resources, `resource` is just the plural form for `kind`. But not for `podMetrics` and `nodeMetrics`.

[2020-10-10 10:49] #90129 closed

[2020-10-10 12:51] #90238 closed

[2020-10-10 13:06] yodarshafrir1 commented on #94921
I looked into this issue.
This issue seems to happen due to a race condition that exists in the method `syncJob` of the Job Controller:

There are 2 Events that are relevant for this race condition:
**Event 1:**
The job has `DeadlineExceeded` and is handled as it should:
All the active pods are being deleted and the status of the job is updated with `failed=1` since there was 1 active pod.

**Even

[2020-10-10 14:39] arjunrn commented on #86349
/remove-lifecycle stale

[2020-10-10 15:00] liggitt commented on #95459
This was resolved in 1.19. Attempting to deny an already-approved CSR now results in an error

[2020-10-10 15:00] #95459 closed

[2020-10-10 15:27] apelisse commented on #95460
cc @kwiesmueller

[2020-10-10 16:27] kwiesmueller commented on #95460
@apelisse shouldn't that be fixed by your PR?

[2020-10-10 16:50] godomainz opened #95470 "Accessing kubernetes dashboard gives Error trying to reach service: 'dial tcp 10.44.0.2:8443: connect: connection refused'"
I used kubernetes hard way and managed to deploy a cluster successfully with kubernetes 1.18.6

I used vmware and kubernetes 1.18.6. I deployed metric-server and kubernets dashboard

I used this command -->  kubectl proxy --address='0.0.0.0' --port=8001 --accept-hosts='^*$' to startup kuberenetes dashboard

Then I used below url to access kubernes dashboard from my master node

http://localhost:80

[2020-10-10 17:13] neolit123 commented on #95466
testing here:
https://www.katacoda.com/courses/kubernetes/playground
downloading the latest `kubectl-minio` plugin and adding it to `$PATH` then running `kubectl minio init` works fine.

[code]

/priority awaiting-more-evidence
/sig cli

[2020-10-10 17:14] neolit123 commented on #95466
please provide detailed step-by-step guide on how you are installing the plugins.

[2020-10-10 17:18] neolit123 commented on #95470
for dashboard specific issues, please log them in:
https://github.com/kubernetes/dashboard

for support questions please try:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/remove-kind bug
/triage support
/close

[2020-10-10 17:18] #95470 closed

[2020-10-10 17:19] neolit123 commented on #95470
/kind support

[2020-10-10 18:21] jwm commented on #72155
/remove-lifecycle stale

[2020-10-10 18:21] jwm commented on #72155
/remove-lifecycle rotten

[2020-10-10 18:55] conrallendale commented on #22368
Let's summarize a simple idea:

1.  Create a "provider" resource for ConfigMap (ConfigMapGenerator);

[2020-10-10 19:03] shapeofarchitect commented on #94435
Unfortunately in my case I can't directly use  `preStop` hook as I have to use this in `services` container in our gitlab pipelines. Also it seems that I can't edit the po yaml in the running container for lifecycle hooks.

So appreciate any other suggestions to get this move forward.

[2020-10-10 19:12] kragniz commented on #74819
I personally think this still makes sense in the context of applying a patch to generate resources, even if that patch would be rejected by the apiserver

/reopen

[2020-10-10 20:43] reith commented on #88097
@luisdavim

Something similar happened for us a week ago but unfortunately garbage collector requests is filtered from our audit log, so I cannot say it's for sure same phenomenon but I see some DELETE actions on resources that got deleted exactly when incident occurred. Those requests count are zero before and after incident and that spike matches deletionTimestamp on deleted resources (actually

[2020-10-10 21:03] reith commented on #88097
For our case server version is `1.16.4` and removed resources have some characteristics:

1) they were being owned (and still owned) by another resource which has `foregroundDeletion` finalizer.
2) some resources are owned like 1) but are additionally owned by another resource, those resources are not deleted.
3) all resources, owner or owned, are namespaced but problem didn't occur for some names

[2020-10-10 21:28] divy4 commented on #95449
Hey @troy0820, sadly no. I'm interested in the `server` mode of dry run to check if there are any incompatibilities between the resource definitions and preexisting resources on the cluster.

For example, create a Service by running `kubectl create -f file.yml` on this file (which was copied from the [docs](https://kubernetes.io/docs/concepts/services-networking/service/)):

[code]

If you then ed

[2020-10-10 23:15] reith commented on #88097
For our case, while deleted resources had proper (in the same subnet) owner, some owned resources in another namespace were incorrectly pointing to another namespace. Is it a possible case that #92743 covers?

[2020-10-10 23:30] liggitt commented on #88097
Yes, that is one of the primary issues addressed by that PR

[2020-10-11 01:47] troy0820 commented on #95449
@divy4 The feature you are requesting is dependent on a permissions model that will allow dry-run on service accounts to impersonate the creation of Kubernetes objects bypassing what the role was designed to do.

[2020-10-11 03:36] troy0820 opened #95471 "kubectl auth can-i doesn't validate verb"
**What happened**:
When using kubectl auth can-i <verb> <resources> the "verb" isn't check and returns yes on any resource regardless of what the verb is.

**What you expected to happen**:
I expected the cli to register an error like when you don't have enough arguments.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
`none`

**Environ

[2020-10-11 03:37] troy0820 commented on #95471
/sig cli

[2020-10-11 07:09] #91089 closed

[2020-10-11 07:49] harshsingh1002 opened #95477 "kubeadm join hangs at preflight"
I was provisioning a kubeadm cluster and performed following steps
1.  Installed all the dependencies like kubelet , kubeadm , kubectl , docker ( used official document )
2. kubeadm init --pod-network-cidr=192.168.0.0/16 --apiserver-advertise-address={{master-ip-address}}.
3. created the .kube/cofing file with the help of kubeadm output
4. Dowloaded calico.yaml curl https://docs.projectcalico.org/

[2020-10-11 11:18] chinazj commented on #60807
ETCDCTL_API=3 etcdctl --cacert=/etc/kubernetes/pki/etcd/ca.crt \
--cert=/etc/kubernetes/pki/etcd/peer.crt \
--key=/etc/kubernetes/pki/etcd/peer.key \
get /registry --prefix | grep <namespace>

[2020-10-11 12:13] hulucc commented on #59368
Seeing this with k8s v1.16.5

[2020-10-11 12:14] #90725 closed

[2020-10-11 12:58] liggitt commented on #95471
This is working as intended. The authorization layer can answer questions about arbitrary verbs, and the response to can-i mirrors the response you would get from a subjectaccessreview permission check. Getting a "yes" response to arbitrary verbs likely means you are a superuser and would be authorized for any operation.

[2020-10-11 12:58] #95471 closed

[2020-10-11 14:24] jiafujiang commented on #70411
I got the same issue, any solution?

[2020-10-11 14:25] invidian commented on #70411
This has been fixed since v1.19.0 (https://github.com/kubernetes/kubernetes/pull/91277/commits/eabb362aa37f7acc85bc64f2035dadc5511d3716).

[2020-10-11 14:36] runningman84 commented on #60748
/remove-lifecycle stale

[2020-10-11 14:39] harshsingh1002 commented on #95477
/sig cluster-lifecycle

[2020-10-11 15:08] troy0820 opened #95480 "kubectl auth can-i <verb> "nonexistent resource" responds with 'yes' even after warning that it doesn't exist"
**What happened**:
During the query `kubectl auth can-i get dafdafdf` the warning shows:
[code]
but then it still responds with `yes`
using the -v=10 flag with this command also shows the response body as it being allowed _(which should be false because it doesn't exist)_
[code]

**What you expected to happen**:
I expected that after the warning it would respond as no because the resource doesn't

[2020-10-11 15:09] troy0820 commented on #95480
/sig cli
/sig auth

[2020-10-11 15:10] harshsingh1002 commented on #95477
![2020-10-11 20_38_32-Window](https://user-images.githubusercontent.com/48350442/95682263-f92e6500-0c01-11eb-9004-be21d63e6ca9.png)

[2020-10-11 15:33] liggitt commented on #95480
This is similar to https://github.com/kubernetes/kubernetes/issues/95471#issuecomment-706701187 and is working as intended.

The authorization layer is decoupled from the serving layer, so that authorization checks can be made speculatively before resources are served.

The warning is present in case someone typoed the resource name to make it visible that the resource is unknown, but the check ca

[2020-10-11 15:33] #95480 closed

[2020-10-11 15:36] troy0820 commented on #95471
@liggitt Wouldn't a superuser only have access to the Kubernetes verbs that exist and not the arbitrary verbs that it is allowed to query that is defined here (https://kubernetes.io/docs/reference/access-authn-authz/authorization/#determine-the-request-verb)

This seems to go against the selfsubjectaccessreview which will return a set of actions that a user can perform.  Arbitrary verbs seem like

[2020-10-11 16:01] liggitt commented on #95471
No, the cluster-admin superuser role allows `*` verbs which allows any verb

[2020-10-11 17:19] #91101 closed

[2020-10-11 18:20] #90950 closed

[2020-10-11 18:22] thomacos commented on #88157
/reopen
/remove-lifecycle rotten

[2020-10-11 21:31] rikatz commented on #95409
Yes, exactly. This is not exactly an issue with the Ubuntu version, but the iptables command version of the host that does not recognize some parameters of the rules inserted by the iptables command from inside kube-proxy container :)

[2020-10-11 22:24] #30784 closed

[2020-10-11 22:31] rikatz commented on #67526
/remove-lifecycle stale

[2020-10-12 00:04] wawa0210 commented on #95477
From the log, it appears that the apiserver of 172.16.6.4 does not work normally

[2020-10-12 00:26] #90540 closed

[2020-10-12 00:34] andyzhangx commented on #56188
/reopen

[2020-10-12 01:02] korkin25 commented on #95466
Just using https://www.katacoda.com/courses/kubernetes/playground:

1. Installing krew

(
  set -x; cd "$(mktemp -d)" &&
  curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/krew.tar.gz" &&
  tar zxvf krew.tar.gz &&
  KREW=./krew-"$(uname | tr '[:upper:]' '[:lower:]')_$(uname -m | sed -e 's/x86_64/amd64/' -e 's/arm.*$/arm/')" &&
  "$KREW" install krew
)

2.

![image](htt

[2020-10-12 01:26] tanjunchen commented on #81232
/remove-lifecycle stale

[2020-10-12 01:49] kolyshkin commented on #92147
This bug is still there even after #93427, we occasionally see it in cri-o tests (see e.g. https://github.com/cri-o/cri-o/pull/4253).

/remove-lifecycle stale

[2020-10-12 03:24] warmchang commented on #65012
/remove-lifecycle stale

[2020-10-12 06:37] zhouya0 commented on #95421
/assign

[2020-10-12 06:54] george-angel commented on #65012
/remove-lifecycle stale

[2020-10-12 07:13] strictnerd opened #95483 "set mac address"
hi ~ guys
I have an application that depends on a component in which its license is based on the mac address. I wonder if it is possible to create something like a pool of mac addresses to be used…

[2020-10-12 07:36] OvervCW commented on #95436
I'm currently unable to use the latest version, but I do see now that this issue has been reported before: https://github.com/kubernetes/kubernetes/issues/95140

[2020-10-12 08:51] #44812 closed

[2020-10-12 09:00] Bobgy commented on #7890
/remove-lifecycle rotten

[2020-10-12 09:07] MartinKirchner opened #95484 "Exposing a service as Loadbalancer or NodePort does not work if SessionAffinity is configured (on Docker for Windows)"
**What happened**:
On Docker for Windows with activated Kubernetes I defined a deployment with a replica set of 5 and a matching service of type `LoadBalancer` (or `NodePort`). The service configures a `SessionAffinity`.
Curl fails with `curl: (52) Empty reply from server`

**What you expected to happen**:

- Service is exposed
- `curl localhost:8080` should return "Hello Kubernetes!"

**How to re

[2020-10-12 09:16] MartinKirchner commented on #95484
/sig windows

[2020-10-12 09:51] yichengliu58 opened #95485 "Helper utilities to implement a k8s PROXY api server with support for watching"
**What would you like to be added**:
I need to implement a k8s proxy server, that receives clients (kubectl) requests and proxy them to real upstream k8s api servers, the server also needs to support watch requests. For this to come to true, the server has to keep two-way alive connections with both clients and upstream kube-apiserver.

In k8s code, there is  a struct called `WatchServer` (defined

[2020-10-12 09:56] yichengliu58 commented on #95485
/sig api-machinery

[2020-10-12 10:40] hulucc opened #95486 "Error deleting conntrack entries for UDP peer: Invalid IP address"
![image](https://user-images.githubusercontent.com/4343900/95736735-2ee25500-0cb9-11eb-8574-22598ec49e90.png)
During the rolling update of udp deployment, casually, udp packets get losting continuesly by ~1mins, and kube-proxy showing failed to cleanup the conntrack table.

k8s: v1.16.6

[2020-10-12 10:46] dineshkumar181094 commented on #29789
is this custom adapter is open-sourced?

[2020-10-12 10:55] neighbour-oldhuang commented on #45419
mark

[2020-10-12 12:02] josephburnett commented on #83561
/remove-lifecycle rotten
/reopen

[2020-10-12 12:04] aneagoe commented on #79224
Here's a simple scenario where this is useful. You're trying to deploy a 3rd party Java application that relies on an external database. You provision the external database via Helm (ie postgres) and you have to configure `database.properties` file for the Java app to connect to the instance. Creating this as a separate configmap or secret destroys the single source of truth and one has to keep no

[2020-10-12 12:15] wojtek-t commented on #95402
Re answering this question - what we use there is "sysctl"
https://github.com/kubernetes/kubernetes/blob/master/test/kubemark/resources/hollow-node_template.yaml#L21

So we basically need to the smallest image that contains this sysctl.

[2020-10-12 12:17] CyshallChan commented on #92463
I use centos 8, same issue.

[2020-10-12 12:18] BrijJhala commented on #79224
@aneagoe i have used secrets as env variable and specify env variable in application.conf with ${env} . K8 container will read it without any issue but if you go application.conf. You will still see   ${env}

[2020-10-12 12:33] dka23 commented on #85454
Is there any way to upgrade to 1.19 without breaking Ceph support?

[2020-10-12 12:38] #88472 closed

[2020-10-12 12:41] AmineMH7 opened #95487 "Kubernetes failed to pull image k8s.gcr.io"
I am trying to install Kubernetes on my CentOS machine, when I intialize the cluster, I have the following error.

I specify that I am behind a corporate proxy. I have already configured it for Docker in the directory : /etc/systemd/system/docker.service.d/http-proxy.conf

Docker work fine.

[code]

[code]

[code]

[code]

[2020-10-12 12:45] yehiyam commented on #94892
@aistein are you working on this, or can I give it a try?

[2020-10-12 12:48] soulxu commented on #95442
RunFilterPlugins still returns early for `Unschedulable`, even with changing plugin order.

https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/runtime/framework.go#L502

So should we change to run the filter plugins until there is `UnschedulableAndUnresolvable`?

[2020-10-12 12:49] b10s opened #95488 "kubelet crashes with: root container [kubepods] doesn't exist"
**What happened**:
kubelet became unhealthy after a while, in few days after healthy run

Only two ways to bring it back:
- rebooting node (restarting systemd service doesn't help);
- use "workaround" kubelet parameters, and restart service:
[code]

**What you expected to happen**:
- kubelet keep running;
- in case of crash, resurrect kubelet by restarting via systemd automatically.

**How to repr

[2020-10-12 12:54] tnqn commented on #92464
A workaround is using `timeout` to wrap the exec command so that the command can fail with a non-zero exit code which is respected by the kubelet probe code. For example:
[code]

BTW, https://github.com/kubernetes/kubernetes/pull/94115 should fix this.

[2020-10-12 12:56] AmineMH7 commented on #95487
I don't know how to add labels ?!

/sig contributor-experience

Thank you

[2020-10-12 14:13] wilmardo opened #95490 "cronJob without restartPolicy results in an invalid restartPolicy: Always"
**What happened**:
Deployed an cronJob with an empty `restartPolicy` and it defaulted to `Always` which is an invalid option:
[code]
Leaving the key out completely has the same result

**What you expected to happen**:
The empty key to default to something valid like `OnFailure` or `Never`. Also document what this default is, my proposal would be to have `Never` as default since some tasks can't be

[2020-10-12 14:17] wilmardo commented on #95490
My guess would be  /sig api-machinery

If it is better practice to wait for the triage instead of guessing the sig, let me know :+1:

[2020-10-12 14:18] wilmardo commented on #95490
/sig api-machinery

[2020-10-12 14:28] neolit123 commented on #95488
/sig node

[2020-10-12 14:29] neolit123 commented on #95486
hi, please try to reproduce the problem with 1.17+ (1.16 is no longer supported) or search it if this problem was already fixed.

/sig network

[2020-10-12 14:30] neolit123 commented on #95483
hi, please try the support channels for general questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-10-12 14:30] #95483 closed

[2020-10-12 14:33] neolit123 commented on #95466
the way i installed the plugin was just downloading it from without krew:
https://github.com/minio/operator/releases

i think it's better to start at the support channels first and if you confirm this is as bug in kubectl then this ticket can be re-opened:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-10-12 14:33] #95466 closed

[2020-10-12 14:54] michaelgugino commented on #91141
I believe this particular issue has been solved through a variety of means.

For kubelets that are unreachable, the pods in question will not actually disappear in some circumstances (attached storage, stateful sets).  That is addressed with an optional argument to drain: https://github.com/kubernetes/kubernetes/pull/85577  Note, that simply instructs drain to ignore the pods with a deletion times

[2020-10-12 15:03] geerlingguy opened #95492 "Kubernetes won't run 50,000 Jobs"
**What happened**:

I created a project, [50k-k8s-jobs](https://github.com/geerlingguy/50k-k8s-jobs), in support of a video I made [50,000 Kubernetes Jobs for 50k Subscribers](https://www.youtube.com/watch?v=O1iEBzY7-ok), and going into the project, I thought it would be a pretty straightforward task: create 50,000 Job resources. Wait for the Jobs to get to 'succeeded' state, then I'm done.

I use

[2020-10-12 15:05] jayunit100 opened #95493 "[flake] Pods should be submitted and removed [NodeConformance] [Conformance] on kind/ipv6"
**Which jobs are flaking**:

kind ipv6, (parallel)

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/95333/pull-kubernetes-conformance-kind-ipv6-parallel/1315315521008177152/

fails.  i suspect theres a particular parallel scenario wherein pod deletion is particularly slow.

**Which test(s) are flaking**:

[code]

**Testgrid link**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-l

[2020-10-12 15:07] geerlingguy commented on #95492
/sig Scheduling

[2020-10-12 15:14] #95320 closed

[2020-10-12 15:24] divy4 commented on #95449
@troy0820 Sure, this is definitely going outside the current role definitions, which is why I made this thread. Do we want to extend the permissions of the read only verbs to include dry runs? In terms of actions being made to the cluster, a dry run doesn't actually create/delete/patch anything, as far as I'm aware. But I also acknowledge that this would make the output of `--dry-run=server` vs `-

[2020-10-12 15:36] tosi3k commented on #95402
Reason for adding `busybox` init container to kubemark's hollow nodes in the first place is the outcome of this past discussion: https://github.com/kubernetes/kubernetes/issues/41713. Tl;dr NPD creates an `inotify` instance per hollow node pod on a node and the default upper limit of those instances was insufficient, hence `busybox` with sysctl call was introduced. This is done once per hollow nod

[2020-10-12 15:38] wojtek-t commented on #95402
No - that's a reason for creating inotify. You don't need busybox for that. You need an image that has systctl inside to use (see my comment above).

But I agree that using something different than :latest  can be the cheapest mitigation short term to do.

[2020-10-12 15:54] neolit123 commented on #95493
/sig network

[2020-10-12 16:00] tosi3k commented on #95402
I understood what you meant in the first place, maybe sentences in my comment weren't phrased in a proper order :D.

Anyways, here's the PR with a proposed fix: https://github.com/kubernetes/kubernetes/pull/95494.

[2020-10-12 16:01] wojtek-t commented on #95402
Makes sense - sorry. Approved the PR.

[2020-10-12 16:07] troy0820 commented on #95449
@divy4 I'm not in sig/auth but I can only make an assumption that changing how the authorization works for dry-run would impact other k8s objects because the authorization is identical for dry-run and non-dry-runs. _(https://kubernetes.io/docs/reference/using-api/api-concepts/#dry-run-authorization)_

/sig auth

[2020-10-12 16:31] cheftako commented on #91628
/remove-lifecycle stale

[2020-10-12 16:41] dgrisonnet commented on #95115
My use case was in metrics-server's unit tests when we moved from the global registry to the dependency injected ones. To test the metrics, we use the `testutil.CollectAndCompare` function from the metrics framework that is responsible for registering and collecting a given metric. However, this function is using the client_golang registration mechanism instead of the custom one from this framewor

[2020-10-12 17:14] Huang-Wei commented on #95492
@geerlingguy Thanks for reporting this.

Some questions:

1. When the Pods gets into a stuck state, can you run `k describe pod <pod name>` to check its events? (esp. check the string "Insufficient pods")
1. It's very suspicious that you hit the pods limit per node, esp. given that "Delete [batch size] Jobs" made the flow work. So could you provide the parameter that sets the pods limit per node (

[2020-10-12 17:15] #92792 closed

[2020-10-12 17:18] geerlingguy commented on #95492
I will do this once I get another stuck cluster set up — I didn't paste results from any of the clusters I was testing on yet, but I did `describe` some of the completed Pods, at least, and the Events looked very normal (e.g. scheduling on node xyz ... completed). I forgot to check on any of the pending Pods though (d'oh!).

I did not reach this limit, I was pointing out that at no point did I rea

[2020-10-12 17:40] bsdnet commented on #95043
@MHBauer  I am not familiar with the code/setup each test needs.
From /test/e2e_node/runner/remote/run_remote.go,  I saw the following check:
 if !strings.Contains(output, "docker.service") &&
                        !strings.Contains(output, "containerd.service") &&
                        !strings.Contains(output, "crio.service") {
                        err = fmt.Errorf("instance %s not runnin

[2020-10-12 17:57] suramrit commented on #68026
A strange issue that Im seeing is after following the following steps as mentioned by @dims
- Say your GOPATH looks like this GOPATH=/Users/dims/go
- Your kubernetes directory should be /Users/dims/go/src/k8s.io/kubernetes ($GOPATH/src/k8s.io/kubernetes)
- cd to /Users/dims/go/src/k8s.io/kubernetes and then run hack/verify-golint.sh from that directory.

I get the following output -
installing gol

[2020-10-12 18:05] kinghrothgar commented on #95258
Is there anything else I can do to help debug this?

[2020-10-12 18:15] justenwalker opened #95496 "[suggestion] consider explicitly defining String() on metav1.Time"
**What would you like to be added**:

explicitly define String on [metav1.Time](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/time.go)

[code]

or perhaps safer

[code]

**Why is this needed**:

There is a bug when debugging certain types that embed other types having value receivers for String(); when they get called in a nil pointer context

[2020-10-12 18:18] aojea commented on #95258
ideally, steps to repro and cluster configuration (cni, cri, ...)

[2020-10-12 18:18] justenwalker commented on #95496
/sig api-machinery

[2020-10-12 18:19] Jiawei0227 commented on #95152
I see. So I am wondering if there should be a set of default metrics in the KubeRegistry? The reason is that the default registry in prometheus offers some default metrics like process and go related metrics[1]. Some library depends on the metrics to have some of these metrics, like `process_start_time_seconds` to properly parse or process the metrics. I do notice that we have a function[2] in com

[2020-10-12 18:20] dlipovetsky commented on #67455
Similar to #564. One fix may suffice for both.

[2020-10-12 18:23] pohly opened #95497 "increase volume provisioning rate"
**What would you like to be added**:

Performance testing showed that the volume controller is able to trigger volume provisioning at a rate of ~4 volumes/second and then bind PVs to PVCs at a rate of 6 volumes/second. Testing was done with a fake CSI driver that can deal with a much higher number of CreateVolume calls per second.

It seems that throttling of the request rate in client-go is the r

[2020-10-12 18:23] pohly commented on #95497
/sig storage

[2020-10-12 18:30] jsturtevant commented on #94490
We [discussed this at sig-windows](https://www.youtube.com/watch?v=hW4BkgAqdtk&list=PL69nYSiGNLP2OH9InCcNkWNu2bl-gmIU4&index=5) and agree should be a log warning for depreciation in 1.20 and remove support in v1.21.

@wawa0210 can you update the PR to log the warning and add the appropriate release note?

[2020-10-12 18:33] #95402 closed

[2020-10-12 18:42] jsturtevant commented on #95484
@MartinKirchner This looks like it is an issue with Docker for Windows product and not specific to Kubernetes. Could you close this issue and open it directly against https://github.com/docker/for-win?

[2020-10-12 18:46] jsturtevant commented on #95199
Did this get fixed by #95168? could this be closed?

[2020-10-12 19:01] geerlingguy commented on #95492
Responding to #1:

[code]

That was for a Pod in 'Completed' status.

I found a Job that was not yet successful:

[code]

Then I looked up that Pod:

[code]

The Pod had already done it's work:

[code]

So it looks like the Pods are being created without issue, but then the scheduler code that is supposed to see the success of the Pod is just... really really slow. Some of these Pods sit after the

[2020-10-12 19:36] Huang-Wei commented on #95492
This indicates that scheduler has done its work - schedule the pod to node "lke11534-14345-5f84975e0378".

I guess it's the issue. In a normal case, scheduler received a DELETE event from API server which indicated the pod has been deleted (or variation of deletion, like completed for a run-to-completion job pod), and hence scheduler can remove the pod's resource request from its internal cache. O

[2020-10-12 19:44] damemi commented on #89930
Good news everyone! The new repo, [k8s.io/component-helpers](https://github.com/kubernetes/kubernetes/pull/92507), has been created with https://github.com/kubernetes/kubernetes/pull/92507 and is now open for relocating helper functions to be external. Huge thanks to @ingvagabund for taking on the work and feedback to get this repo initialized!

This has been the major blocker for much of the work

[2020-10-12 19:45] #91092 closed

[2020-10-12 19:46] geerlingguy commented on #95492
Interesting—and to be honest, that's why I posted the issue here, I only know the basics of the internal scheduler architecture, but it seemed (according to my notes in this issue comment: https://github.com/geerlingguy/50k-k8s-jobs/issues/3#issuecomment-706779723) the scheduler itself was the component that got stuck in a CrashLoopBackOff (`kube-scheduler-kind-control-plane` in Kind), so I _assum

[2020-10-12 20:20] tallclair commented on #81518
/remove-lifecycle rotten

I still think this is something we should do.

[2020-10-12 20:26] chruss2 opened #95498 "maxSurge not accounting for terminating pods in rolling update"
**What happened**:
When patching a deployment with 15 replicas and a rolling update strategy, it immediately put 3 pods in terminating status, and scheduled 7 new pods.  This is using the default settings for maxSurge and maxUnavailable of 25%.

**What you expected to happen**:
It should immediately put 3 pods in terminating status, and schedule 4 new pods (not 7).
* maxSurge = 25% rounds up to 4,

[2020-10-12 20:28] Huang-Wei commented on #95492
From https://github.com/geerlingguy/50k-k8s-jobs/issues/3#issuecomment-706779723, it seems both controller-manger and scheduler are crashing due to unable to renew its lease.

To narrow down the problem, can you turn off leader election` in both controller-manager and scheduler, and then retry? I suppose you're running a non-HA control plane.

[2020-10-12 20:32] neolit123 commented on #95498
/sig apps

[2020-10-12 20:32] tallclair commented on #95306
We reuse the audit ID from the request header, if specified:
https://github.com/kubernetes/kubernetes/blob/f5a0250800309017e667e82067d704b6ed28513a/staging/src/k8s.io/apiserver/pkg/audit/request.go#L55-L62

Although, there is an open TODO there about whether this should be generally allowed. My thinking is that the audit ID is more useful for debugging an convenience than as a tamper-resistant ide

[2020-10-12 20:33] ialidzhikov commented on #95334
@der-eismann , can we then close the issue?

[2020-10-12 20:34] neolit123 commented on #95487
hi, this appears to be a request for support.
please try the support channels instead:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

or in this case #kubeadm on k8s slack.

/remove-sig contributor-experience
/kind support
/remove-kind bug
/close

[2020-10-12 20:34] #95487 closed

[2020-10-12 20:36] neolit123 commented on #95477
+1, the api server needs to be accessible.

this appears to be a request for support. please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

or #kubeadm on k8s slack.

thanks
/kind support
/remove-kind bug
/close

[2020-10-12 20:36] #95477 closed

[2020-10-12 20:39] geerlingguy commented on #95492
@Huang-Wei - To disable leader election in Kind (documenting here since I couldn't really find it anywhere else), I tried:

  1. Edit the control plane pod: `kubectl edit pod kube-scheduler-kind-control-plane -n kube-system`
  2. Set `--leader-elect=false` in the `spec.containers[0].command`.

But I got the message:

[code]

Do you know how I may be able to disable it in a Kind cluster (or more ge

[2020-10-12 20:52] neolit123 commented on #95425
hi, please log the same issue in kubernetes/kubeadm.
we do not track kubeadm tickets in kubernetes/kubernetes.

also please provide the contents of `/etc/kubernetes/kubeadm-join.yaml` there.

thanks
/close

[2020-10-12 20:52] neolit123 commented on #95425
/area kubeadm
/remove-sig network
/sig cluster-lifecycle

[2020-10-12 20:52] #95425 closed

[2020-10-12 20:53] neolit123 commented on #95406
/close

[2020-10-12 20:53] #95406 closed

[2020-10-12 20:59] neolit123 commented on #95386
this version is no longer supported by the k8s team. you should upgrade to 1.17+

`kubeadm upgrade node` also has `--certificate-renewal`, so i don't see the problem.

"node" will also renew on CP nodes, as confirmed by:
https://github.com/kubernetes/kubernetes/blob/release-1.17/cmd/kubeadm/app/cmd/upgrade/node.go#L170
and
https://github.com/kubernetes/kubernetes/blob/release-1.17/cmd/kubeadm/app/

[2020-10-12 21:00] neolit123 commented on #95386
for support questions please use the support channels and #kubeadm on k8s slack:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-10-12 21:00] geerlingguy commented on #95492
I just stopped the deployment to the Linode cluster after 3 hours, and here is a quick plot of the data for how many jobs were deployed over time (increments on the graph are in ~10 minute increments):

![Jobs Deployed over time](https://user-images.githubusercontent.com/481677/95789864-eec4a780-0ca3-11eb-8334-4def0c29146e.png)

Do you expect I may see different behavior on a cloud provider like E

[2020-10-12 21:00] #95386 closed

[2020-10-12 21:00] neolit123 commented on #95138
/close
due to no response.

[2020-10-12 21:01] #95138 closed

[2020-10-12 21:01] Huang-Wei commented on #95492
Thanks for offering that. For now let's disable leader-election on a kind cluster and see how it goes.

[2020-10-12 21:02] geerlingguy commented on #95492
@Huang-Wei - Thanks! I'm booting up the local cluster now. I'll report back with results.

[2020-10-12 21:03] Huang-Wei commented on #95492
BTW: you can optionally disable leader election also:

[code]

[2020-10-12 21:05] suramrit commented on #68026
I think I understand. I misunderstood the steps around .golint_failures.

The first step is to remove the pkg that we are targeting from this file and then run the `hack/verify-golint.sh`

My mistake was to assume that the packages in the file itself need to be removed after we are done cleaning the golint errors.

[2020-10-12 21:59] Riaankl opened #95500 "Write PodProxyWithPath & ServiceProxyWithPath test+promote - + 12 endpoint coverage"
# Progress <code>[3/6]</code>

-   [X] APISnoop org-flow : [PodProxyWithPath.org](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/PodProxyWithPath.org)
-   [X] test approval issue : [kubernetes/kubernetes#95500](https://github.com/kubernetes/kubernetes/issues/95500)
-   [x] test pr : [kuberenetes/kubernetes#95503](https://github.com/kubernetes/kubernetes/pull/95503)
-   [x] two weeks soak

[2020-10-12 22:07] jayunit100 opened #95501 "[flake] Probing container with readiness probe test (parallel) on kind/ipv6"
**Which jobs are flaking**:
pull-kubernetes-conformance-kind-ipv6-parallel

**Which test(s) are flaking**:

[code]

**Testgrid link**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/95333/pull-kubernetes-conformance-kind-ipv6-parallel/1315669795001077760/

**Reason for failure**:
pod restarted

looks like this is from the kind (k8s 1.20) job

[code]

[2020-10-12 22:15] msau42 commented on #91001
/remove-lifecycle rotten

[2020-10-12 22:56] kfox1111 commented on #91036
Does this allow setting dots in the FQDN as well? I'd like to be able to set hostname to 'foo.bar.baz'

[2020-10-12 23:48] mtaufen commented on #84922
Re: @liggitt

If it's possible to enforce mutual-exclusion now (with scheduler I think it should be, there is only one instance of it/no concerns around instance-specific vs. shared config), then that would be the cleanest approach.

The reason we interleaved for Kubelet was for backwards-compatibility during incremental flag migration because we hadn't decided (a) how to deal with instance-specif

[2020-10-13 00:21] javidiaz commented on #91036
Hi @kfox1111

This feature is not changing the way FQDN is constructed in Kubernetes, it just allows you to set it in the hostname field of the kernel. You can see how FQDN are constructed in https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-hostname-and-subdomain-fields. Essentially it is: podname.subdomain.namespace.svc.cluster.local. I believe podname can have dots

[2020-10-13 00:31] geerlingguy commented on #95492
All right, I created a new cluster using that config (`kind create cluster --config=kind-config.yaml`), and confirmed it had leader election disabled (`--leader-elect=false`). I'll do a new result set this way (deploying batches of 50 Jobs), then run the exact same job with `--leader-elect=true` again, for comparison.

The reason I'm going to run it again with `true` is because I set up a new cool

[2020-10-13 00:38] monchier commented on #95421
Thank you for the quick PR! @zhouya0

[2020-10-13 00:59] wawa0210 commented on #94490
https://github.com/kubernetes/kubernetes/pull/95505

i open a new pr for log warning message for this issue

[2020-10-13 01:24] kfox1111 commented on #91036
ok, so there still is no way to set the subdomain fully and explicitly then I guess. Guess this needs to be a new feature request. Thanks.

[2020-10-13 01:51] #91134 closed

[2020-10-13 01:52] javidiaz commented on #91036
What do you mean? What kind of FQDN would you like to have? Currently, you can customize that FQDN quite a bit. K8s also allows you to change cluster.local with something else.

[2020-10-13 02:17] foreversunyao commented on #95386
@neolit123  thanks for answering this questions
actually I understand what you are saying, but there is only one thing I have doubt  is the doc is for ugprading from v1.15 to v1.16, and it mentioned certficates will be renew automatically(event without --certificate-renewal) , but it did not do it on additional nodes automatically. That's the confusion part for us, no matter v1.15.4 supported or n

[2020-10-13 03:02] neolit123 commented on #95386
the docs for 1.16 are no longer maintained, but you can try sending a PR for the dev-1.16 branch of the kubernetes/website repository.

[2020-10-13 03:16] foreversunyao commented on #95386
sounds great, will do soon. thanks for helping

[2020-10-13 03:36] geerlingguy commented on #95492
/me goes around changing multiple variables... This morning I had bumped my Docker for Mac RAM allocation to 8 GB (it was 2 GB), and now both the graphs look similar, and while they show a regression over time, it's not dramatic like the Linode example was, or my earlier example when I ran it with 2 GB of RAM on my MacBook Pro:

`--leader-elect=false`:

![jobs-local-leader-elect-false](https://use

[2020-10-13 03:42] foreversunyao commented on #95386
seems no that branch anymore, is it possible to make it to release-1.16 ?

[2020-10-13 04:12] #95465 closed

[2020-10-13 06:03] hantmac opened #95507 "Accessing field 'firstUnhealthyPod.Name' may lead to nil pointer?"
**What would you like to be added**:
Although once given that `firstUnhealthyOrdinal` is initialized with MAX_INT, the condition `ord := getOrdinal(condemned[i]); ord < firstUnhealthyOrdinal` will always met, in my opinion, the code in https://github.com/kubernetes/kubernetes/blob/475849eafaafb653c6c238d4947b7c17f191afee/pkg/controller/statefulset/stateful_set_control.go#L376 and https://github.co

[2020-10-13 06:05] hantmac commented on #95507
/sig scheduling

[2020-10-13 06:08] hantmac commented on #95507
/sig api-machinery

[2020-10-13 06:10] wojtek-t commented on #90179
/remove-lifecycle stale
/lifecycle frozen

[2020-10-13 06:11] hantmac commented on #95507
/remove-sig scheduling

[2020-10-13 06:39] AmineMH7 commented on #95487
/remove-sig contributor-experience
/kind support
/remove-kind bug
/close

[2020-10-13 07:13] aojea commented on #95501
there are several things that can influence a flake, sometimes the infra, sometimes the test, sometimes the code, ...

One occurrence is not meaningful and we should try to correlate with other tools the history of the job and the test, in this case you can check the results per test

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=%20Probing%20container%20with

however,

[2020-10-13 07:28] saschagrunert commented on #93064
/remove-lifecycle stale

[2020-10-13 07:37] smileusd opened #95510 "CSI should support recycle and retain policy"
**What would you like to be added**:
CSI implement Recycle() interface and csi-provisioner can watch retain pv

**Why is this needed**:
Currently CSI only support Delete policy, need support recycle and retain policy if user needed.

[2020-10-13 07:38] smileusd commented on #95510
/kind storage

[2020-10-13 07:46] PorkCharsui79 commented on #13136
+1 I would also very much like to use nfs4+kerberos with k8s.

[2020-10-13 07:57] #89731 closed

[2020-10-13 08:26] BoxuanChen commented on #85723
@weathery  did u solve this probelm?

[2020-10-13 08:59] hsyl4125 opened #95514 "error building controller context: failed to wait for apiserver being healthy: timed out waiting for the condition: failed to get apiserver /healthz status: Get https://master1:8080/healthz?timeout=32s: dial tcp 192.168.187.142:8080: connect: connection refused"
[code]
controller-manager config files:
[code]
apiserver config files:
[code]
Why  controller-manager conntect  to https://master1:8080/healthz?timeout=32s on the apiserver  not https://master1:6443/healthz?timeout=32s or http://master1:8080/healthz?timeout=32s

[2020-10-13 09:05] chendave commented on #93013
/remove-lifecycle stale

[2020-10-13 09:08] aojea opened #95515 "kube-proxy bind-address flag definition is not correct for ipvs or iptables modes"
**What happened**:

kube-proxy documents the bind-address flag as

https://github.com/kubernetes/kubernetes/blob/01f3f6798953c0afbc224955445b9aaa125abf77/pkg/proxy/apis/config/types.go#L114-L116

however, this seems to apply only to kube-proxy in userspace mode, where it is used as ListenIP
https://github.com/kubernetes/kubernetes/blob/01f3f6798953c0afbc224955445b9aaa125abf77/pkg/proxy/userspace/p

[2020-10-13 09:08] mlavacca commented on #94428
/assign

[2020-10-13 09:09] aojea commented on #95515
/assign @khenidak @danwinship @thockin
/sig network

[2020-10-13 09:27] zentale commented on #42649
Another fix for this same thing? https://github.com/kubernetes/kubernetes/pull/89397

[2020-10-13 09:32] hsyl4125 commented on #95514
/sig api-machinery

[2020-10-13 09:38] #94913 closed

[2020-10-13 09:56] u2bo commented on #75114
I met the same problem, do you fix it @dims

[2020-10-13 10:36] #95121 closed

[2020-10-13 10:39] dims commented on #75114
@u2bo not yet. @justaugustus has the TODO in his list.

[2020-10-13 10:41] bart0sh commented on #95043
@MHBauer @bsdnet @mikebrow @derekwaynecarr

We already have benchmark tests that use containerd, here is their job config: https://github.com/kubernetes/test-infra/blob/master/jobs/e2e_node/containerd/cri-master/benchmark-config.yaml They seem to have the same test cases as node-kubelet-benchmark job.
And the test grid is green: https://k8s-testgrid.appspot.com/sig-node-containerd#node-e2e-benchma

[2020-10-13 11:22] neolit123 commented on #95386
commented on the PR.

[2020-10-13 11:35] RobertKielty commented on #95458
Adding the following error (lin break manually added

So release/push-build.sh is failing consistently on

[sig-release-master-blocking#build-master](https://testgrid.k8s.io/sig-release-master-blocking#build-master)

@spiffxp could this be a credentials / storage config change issue?

[code]

[2020-10-13 11:37] TomaszKlosinski commented on #23211
So is there any plan to implement `spec. autoRollback`?

[2020-10-13 11:42] RobertKielty commented on #95458
Also affecting ...

https://testgrid.k8s.io/sig-release-1.19-blocking#build-1.19

[2020-10-13 11:44] cpanato commented on #95458
and
 - https://testgrid.k8s.io/sig-release-1.18-blocking#build-1.18
 - https://testgrid.k8s.io/sig-release-1.17-blocking#build-1.17

[2020-10-13 11:59] ahg-g commented on #89930
This is great, thanks for driving this @ingvagabund and @damemi

[2020-10-13 12:01] Prithvipal commented on #71647
I am also getting the same error.
Even `kubectl version` command is not working.
`kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeState:"clean", BuildDate:"2020-03-25T14:58:59Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"darwin/amd64"}
Error from server (InternalError): an error on the serve

[2020-10-13 12:19] ahg-g commented on #95445
we could enforce that all plugin names should use a subdomain of `plugin.kubescheduler.k8s.io` (i.e., the name should be `${something}.plugin.kubescheduler.k8s.io/${pluginName}`), and verify that plugins with the subdomain `intree.plugin.kubescheduler.k8s.io` exist in the in-tree registry (I am suggesting `kubescheduler` instead of scheduler or scheduling to be consistent with the `kubescheduler.c

[2020-10-13 12:24] lilic opened #95523 "Extend kubectl api-resources to include API versions"
**What would you like to be added**:

Currently the `kubectl api-resources` command doesn't include an API version of the resources.

**Why is this needed**:

I would like to see which versions of the APIs are preferred by the apiserver in the cluster.

[2020-10-13 12:25] lilic commented on #95523
/sig cli

[2020-10-13 12:59] thejoycekung commented on #95458
Going to do some relabeling since we know this doesn't really have to do with the commit in k/k from Friday.

/remove-sig cloud-provider
/remove-area provider/gcp
/sig release

[2020-10-13 13:23] geerlingguy commented on #95492
I finished the two runs today with Docker limited to 2 GB of RAM, and both of them started running into issues around 3,000 jobs  (regardless of the `--leader-elect` value):

![jobs-local-2gb-ram-true](https://user-images.githubusercontent.com/481677/95865496-60483880-0d2c-11eb-87c8-ce9464fde4d8.png)

![jobs-local-2gb-ram-false](https://user-images.githubusercontent.com/481677/95865505-63432900-0d

[2020-10-13 13:25] alculquicondor commented on #95442
That is correct, and that's what it should be.

[2020-10-13 13:28] alculquicondor commented on #95442
No, that's the original conversation suggested and it's likely not ideal in the average case.

[2020-10-13 13:44] alculquicondor commented on #84922
It's not a problem, given that users have to opt-in to the new API version.

[2020-10-13 14:23] josephburnett commented on #83561
/triage accepted
/assign josephburnett

We classify pods into three sets, `readyPodCount`, `ignoredPods` and `missingPods` (missing metrics).  The ignored pods are those which are not yet ready, and hold back scaleup.  Missing pods are those whose metrics we "manufacture" with the most conservative value.

However in the case of failed or deleted pods, we skip right over them.  The don't go into a

[2020-10-13 14:39] joshimoo commented on #88852
This still seems to be the case, is it safe to assume that CSIVolumeSource should be marked as beta?

[2020-10-13 14:49] liggitt commented on #88852
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#volume-v1-core shows the field as beta

[2020-10-13 15:25] apelisse commented on #93363
Yeah, a client-side warning seems good enough for now.

[2020-10-13 15:41] jkachika commented on #88709
/remove-lifecycle stale

[2020-10-13 15:41] #95514 closed

[2020-10-13 16:15] MHBauer commented on #95043
Ah, how irritating. Maybe we need a benchmark tab.
I need to keep track of each test that has a corresponding docker/containerd version.

Maybe nobody cares about these docker performance tests, but they do care about the containerd performance tests?

[2020-10-13 16:27] alculquicondor commented on #87703
Could you look into using https://github.com/kubernetes/kubernetes/blob/dc98ed96f65a795749ad62fa79373bec5899e303/pkg/scheduler/scheduler.go#L159 ?

There are some existing tests that use it.

[2020-10-13 16:34] Riaankl opened #95524 "Write NodeProxyWithPath test+promote - + 4 endpoint coverage"
# Progress <code>[2/6]</code>

-   [X] APISnoop org-flow : [NodeProxyWithPath.org](https://github.com/apisnoop/ticket-writing/blob/master/NodeProxyWithPath.org)
-   [X] test approval issue : [kubernetes/kubernetes#95524](https://github.com/kubernetes/kubernetes/issues/95524)
-   [ ] test pr : kuberenetes/kubernetes#
-   [ ] two weeks soak start date : testgrid-link
-   [ ] two weeks soak end date

[2020-10-13 16:35] dims commented on #95043
+1 to remove the docker one!

[2020-10-13 16:54] cmluciano commented on #92147
@liggitt Do we have precedent for these type of defaulting e2e tests? Is it sufficient to just check if a default exists already and only then try to create one?

[2020-10-13 16:58] aojea commented on #89358
for conformance you have at least 2 workers and 1 master

[2020-10-13 17:08] danwinship commented on #95515
I don't think there is any good way to explain it in the length of a command-line-option description.

It might make sense to deprecate the old flag and provide new ones with clearer semantics?

No, let's not make bind-address any worse than it is. If there is a need for being able to specify dual-stack node IPs for some part of kube-proxy functionality, let's figure out exactly what that function

[2020-10-13 17:10] liggitt commented on #92147
I'm not sure... I don't see storageclasses, or priorityclasses creating defaulting objects in e2e tests

I don't see anything testing priorityclass defaulting

Apps and Storage have e2e tests (but not conformance tests) that depend on a default storageclass existing, and skip them if none exists: https://github.com/kubernetes/kubernetes/blob/release-1.19/test/e2e/framework/pv/pv.go#L821-L827

[2020-10-13 17:13] oomichi commented on #81427
/remove-lifecycle stale

[2020-10-13 17:16] oomichi commented on #84615
https://github.com/kubernetes/kubernetes/pull/93213 can solve this issue.
In addition, I am not working for this issue as the above PR.
/unassign @oomichi
/remove-lifecycle stale

[2020-10-13 17:25] Huang-Wei commented on #95442
+1.

_Lightweight_ plugins that may return `UnschedulabeAndUnresolvable` status can be moved ahead of other plugins that only return `Unschedulable` status.

[2020-10-13 17:36] alculquicondor commented on #95445
I would just leave the "intree" ones as `plugin.kubescheduler.k8s.io`. We shouldn't enforce external ones to a particular subdomain. In fact, if they want to do `plugin.scheduler.example.com`, that would be even better.

+1 to the rest of the comment

[2020-10-13 17:40] cmluciano commented on #92147
@robscott Do you have any thoughts about not creating the defaults for e2e tests and just skipping if don't exist?

[2020-10-13 17:56] conrallendale commented on #22368
I don't know kubernetes internals, but how a configmap is mounted inside a container? A directory is created and then referenced on container creation? I've been thinking in something much more simple than discussed here before: create a field on "volumes" field on PodSpec with name "configMapRef", like the one on envFrom. This way, the configMap files would be "copied" inside the container on cre

[2020-10-13 17:56] damemi commented on #95445
+1 to this, that's exactly what I had in mind with my earlier comment (that 3rd party developers can use their own `example.com` domain)

[2020-10-13 18:05] kfox1111 commented on #22368
The problem is that of new, old pods. Here's an example:
Say I upload version A of a config file.
Then upload Deployment with 3 replicas.
Then I update configmap and trigger a rolling upgrade. It starts to delete/create new pods with the new config. Then I notice something wrong and try and issue a rollback of the deployment.
It will start deleting the new pods and launching the old version pods,

[2020-10-13 18:07] seh commented on #86784
/remove-lifecycle stale

[2020-10-13 18:17] ahg-g commented on #95445
ok, so we are circling back to the suggestion in the initial suggestion, and use the domain `plugin.kubescheduler.k8s.io/${pluginName}`. sgtm

[2020-10-13 18:19] conrallendale commented on #22368
Hummm, so is this what happens with envFrom? On ReplicaSet there is only a reference to the ConfigMap. I had the misconception idea that the envFrom config would be converted on ReplicaSet to explicit env configs.

[2020-10-13 18:37] kfox1111 commented on #22368
envFrom is only used by a pod. Deployment/ReplicaSet don't do anything with them. As far as I know, Deployment/ReplicaSet really only touches the pods metadata section a bit currently.

[2020-10-13 18:38] jkaniuk commented on #93932
No longer flake situation, it is failing constantly:
![image](https://user-images.githubusercontent.com/5487158/95901472-ae445700-0d93-11eb-9762-82986b81a572.png)

/kind failing-test

[2020-10-13 18:40] jkaniuk commented on #93932
/retitle [Failing test] [sig-network] ESIPP [Slow] should handle updates to ExternalTrafficPolicy field

/remove-kind flake
/remove-priority important-soon

[2020-10-13 18:44] aojea commented on #95486
From the top of my head, this sames related to https://github.com/kubernetes/kubernetes/pull/94107,
@robscott do you think that is the same issue and will be resolved by your fix?

[2020-10-13 18:45] jkaniuk commented on #93932
/cc @kubernetes/sig-network-bugs
/assign @knight42

[2020-10-13 18:51] Huang-Wei commented on #95445
`plugin.kubescheduler.k8s.io/${pluginName}` sounds good to me.

[2020-10-13 18:51] alculquicondor commented on #95445
/triage accepted

[2020-10-13 18:51] robscott commented on #95486
Interesting, is this IP coming from `loadBalancerSourceRanges`?

[2020-10-13 18:53] ahg-g commented on #95445
/help

[2020-10-13 18:58] kfox1111 commented on #91036
For example, say I needed the fqdn to be exactly: "foo.bar.baz" without changing the cluster to be something other then cluster.local. How do I do that?

[2020-10-13 19:04] conrallendale commented on #22368
So this doesn't creates a "state", right? I don't see a use case where someone would want this behavior. For volumes ok, you can have live reload when the config file is updated. But, if envs don't have live reload, so why keeping the reference instead of converting to env literals? By chance, no transformation on PodSpec between deploy and replicasets is a hard requirement on kubernetes?

[2020-10-13 19:21] Huang-Wei commented on #95442
FYI: from @alena1108 who also had this concern: https://kubernetes.slack.com/archives/C09TP78DV/p1589394566175200

So how about `nodeaffinity`, is it also a good candidate to be moved ahead of `noderesources`? NodeAffinity and NodeSelector both incorporated in `nodeaffinity`, I'm pretty sure NodeSelector logic is simply, but not 100% sure NodeAffinity logic falls into the category of "lightweight"

[2020-10-13 19:26] spiffxp opened #95528 "Update flaky test template with clearer instructions"
Followup per https://github.com/kubernetes/community/pull/5205/files#r502665584

That PR updates https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/flaky-tests.md with clearer instructions on how to fill out https://github.com/kubernetes/kubernetes/issues/new?labels=kind%2Fflake&template=flaking-test.md

We should update the issue template itself with these instruct

[2020-10-13 19:26] spiffxp commented on #95528
/sig testing
/priority important-longterm
/kind documentation
/area testing

[2020-10-13 19:27] conrallendale commented on #22368
Implementing a "configMapLiterals" or simply "literals" volume type would solve this issue. It would be created like a EmptyDir but with some files defined "in line". No ConfigMap would be created, so no need for a garbage collector.

This could be implemented first, and on a second moment the "configMapRef" like I described before. With configMapRef would be possible to reference the configmap on

[2020-10-13 19:32] stefanlasiewski commented on #95409
I filed an Ubuntu bug for this:

https://bugs.launchpad.net/ubuntu/+source/linux-meta-hwe-5.4/+bug/1899690

[2020-10-13 19:44] cici37 opened #95530 "Drop apiserver dependency from k8s.io/csi-translation-lib"
**What would you like to be added**:

Drop apserver dependency from k8s.io/csi-translation-lib

**Why is this needed**:
Drop apserver dependency from k8s.io/csi-translation-lib, to avoid apiserver/cloud-provider/controller-manager deps from this lib. It seems to be only needed for the `cloudvolume.LabelMultiZoneDelimiter` constant value of `__`

_Originally posted by @liggitt in https://github.com

[2020-10-13 19:44] cici37 commented on #95530
/sig-storage

[2020-10-13 19:47] cici37 commented on #95530
/sig storage

[2020-10-13 19:48] Huang-Wei commented on #95492
Setting Job TTL would help on GC completed job automatically.

- https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/
- https://kubernetes.io/docs/concepts/workloads/controllers/job/#clean-up-finished-jobs-automatically

[2020-10-13 19:50] geerlingguy commented on #95492
@Huang-Wei - Unfortunately it seems that's behind an alpha flag, and is not enabled on at least LKE and EKS because it is in alpha.

[2020-10-13 20:31] Huang-Wei commented on #95492
True :(

Some questions:

- is that everytime controller-manager crashed when the number of Jobs come to a threshold? or both controller-manager and scheduler crashes?
- when it hits the threshold, what's the status of the pods? Are there purely 3k `Completed` pods, or 3k `Completed` pods plus a number (or thousands) of `Pending` pods?
- if there are `Pending` pods, could you check how many there

[2020-10-13 20:44] alculquicondor commented on #95442
Let me propose an order, for extra clarity:

[code]

[2020-10-13 20:57] kfox1111 commented on #22368
env literals only work well if you've put a lot of effort inside a container to convert every config option to an environment variable rather then just passing the whole config through as a file. I prefer the latter. Significantly less effort and better compatibility at the same time.

[2020-10-13 21:00] BenTheElder commented on #91963
@caesarxuchao what remains here?

[2020-10-13 21:11] ialidzhikov commented on #94019
All related PRs are merged. Can we now close this issue?

[2020-10-13 21:13] alculquicondor commented on #94437
/close
as we haven't heard any reports of this being a non-transient bug.

[2020-10-13 21:13] #94437 closed

[2020-10-13 21:15] conrallendale commented on #22368
I think I don't get your point. Just to be clear: what am I saying, is, if you create something like:
[code]

with a ConfigMap like:

[code]

will produce a ReplicaSet like:

[code]

[2020-10-13 21:23] kfox1111 commented on #22368
Yup. I'm just saying, generally I avoid using env variables at all in my containers as it gets you into a config anti-pattern where you have to end up writing a bunch  of code in your container to read all the env vars and then copy them into a config file that the program reads. Then a bunch more code to test that that code works reliably. if you just mount a configmap as a volume, you eliminate

[2020-10-13 21:35] MrHohn commented on #93932
Great analysis on https://github.com/kubernetes/kubernetes/issues/93932#issuecomment-705889377. While I'm still looking into the failure, noting one thing that it looks like we changed the test to access the LB VIP from a pod that runs in the same cluster instead of from outside - isn't that defeating the purpose of this test?

Previous traffic path: outside -> NetLB -> VM -> backend pod
Current t

[2020-10-13 21:37] Huang-Wei commented on #95442
`nodeaffinity` internally composes [LabelSelector](https://github.com/kubernetes/kubernetes/blob/6268e6f990522289a6a2c25db5d9cacc0988171b/pkg/scheduler/framework/plugins/helper/node_affinity.go#L31) and invokes `Matches`, which IMO is a bit more expensive than `tainttoleration`.

`nodeports` should be cheaper than `noderesources`.

So my 2 cents is:

[code]

[2020-10-13 21:38] MrHohn commented on #93932
This test runs fine in the normal gce-slow suite: https://k8s-testgrid.appspot.com/google-gce#gce-cos-master-slow&width=20&include-filter-by-regex=%20should%20handle%20updates%20to%20ExternalTrafficPolicy%20field

[2020-10-13 21:42] ahg-g commented on #95442
Both proposals are fine by me.

[2020-10-13 21:51] conrallendale commented on #22368
Hey, I was talking about only the env part, not the volume part. Like I said before, this convertConfigMapToLiterals would convert the envFrom ConfigMap and the volume type ConfigMap to the volume type Literal (to be created yet). So, a deploy like:

[code]

with a ConfigMap like:

[code]

would be converted on ReplicaSet like:

[code]

[2020-10-13 22:07] kfox1111 commented on #22368
Ah, ok. I misunderstood. sorry.

That could work. The one main drawback I see to the configmap literal thing would be that if you had a large number of pods, you'd be duplicating your config into etcd by that large number of pods. But maybe thats the tradeoff we need to make to get someone on the k8s team to sign off on it though?

[2020-10-13 22:08] kfox1111 commented on #22368
I guess there's one other issue... whenever I talk about configmaps, I mean, configmaps or secrets. a literal would work for a configmap but maybe not a good idea for secrets as that part of etcd isn't encrypted at rest.

[2020-10-13 22:16] MrHohn commented on #93932
FWIW this scale test runs with 5,000 nodes: https://github.com/kubernetes/test-infra/blob/a94aa9f33f223cee9d5c4ebb9c2fe74dac5714c8/config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml#L29.

It may also be related to the scalability issue we experienced previously: https://github.com/kubernetes/kubernetes/issues/56138 (actually saw @jayunit100 already linked it)

[2020-10-13 22:19] neolit123 commented on #95501
/sig network

[2020-10-13 22:19] neolit123 commented on #95510
/sig storage

[2020-10-13 22:25] MrHohn commented on #93932
So the sequence in my mind is:

1. Setting ExternalTraffic field back to `Local` from `Cluster`.
2. kube-proxy on every node updated the iptables rules promptly so that it will drop any external traffic targeting this service if there is no backend pod running on the same node.
3. Service controller takes much longer to process this service to update the LB health check to point to the dedicated h

[2020-10-13 22:43] PaulFurtado commented on #87615
Is it possible to mitigate this entirely in kubernetes without waiting for an upgrade golang? For example, can client-go be made to swap out the transport if it hits a "use of closed network connection" or something?

[2020-10-13 23:24] reza-shamsi-monaef opened #95532 "Fail to start kubelet service on centos7"
Hi to all
i have 2 fresh installed minimal centos 7

1-192.168.100.200------hostname=kuber1.test
2-192.168.100.201------hostname=kuber2.test

i have updated 2 servers
0-swapp are off
1-selinux are disabeld
2-firewall are disabled
3-docker are installed
4-hostnames are correct
5-/etc/hosts is configured
6-kubectl kubeadm kubelet are installd
7-Docker version 1.13.1, build 64e9980/1.13.1
8-kubeadm v

[2020-10-13 23:31] swetharepakula commented on #93932
Even though on the service, ExternalTraffic field is being set from `Cluster` back to `Local`, the service controller is still processing the first update from `Local` to `Cluster`. So there is a mismatch between the nodes and LB. Otherwise I agree with the above sequence. What occurs during steps 4-5 depends on where in the update the service controller is.

I think the test needs to be reworked

[2020-10-13 23:33] klimov-gett commented on #63214
I think this may also be a worthy alternative to k8s jobs
(which also don't have any supplement for the --rm option apart from feature-gate `TTLAfterFinished `)

In cases where parallelism and concurrency are not needed, i.e.: you only need to run one pod (but with multiple containers) to completion and delete it immediately after, using something like `run --rm -f [filename]` makes a lot of sense

[2020-10-14 00:21] alculquicondor commented on #95442
/triage accepted

/help
/good-first-issue

[2020-10-14 01:08] soulxu commented on #95442
/assign

[2020-10-14 01:09] soulxu commented on #95442
I want to help here :)

[2020-10-14 01:13] k-kinzal opened #95536 "v1.20.0-alpha.2 is in stable.txt"
**What happened**:

https://storage.googleapis.com/kubernetes-release/release/stable.txt

There seems to be an alpha version in `stable.txt`

**What you expected to happen**:

I think `v1.19.2` should be in `stable.txt`.

**How to reproduce it (as minimally and precisely as possible)**:

Go to https://storage.googleapis.com/kubernetes-release/release/stable.txt

**Anything else we need to know?**:

[2020-10-14 01:16] k-kinzal commented on #95536
/sig release

[2020-10-14 01:19] #95315 closed

[2020-10-14 01:28] gzlj commented on #94019
yes,thank you.------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;Ismail&amp;nbsp;Alidzhikov&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年10月14日(星期三) 凌晨5:11
收件人:&nbsp;&quot;kubernetes/kubernetes&quot;<kubernetes@noreply.github.com&gt;;
抄送:&nbsp;&quot;gzlj&quot;<1747441374@qq.com&gt;;&quot;Mention&quot;<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [kubernetes/kubernetes] Pod

[2020-10-14 01:37] justaugustus commented on #95536
/priority critical-urgent
/assign @hasheddan @saschagrunert

cc: @kubernetes/release-engineering
/triage accepted

Investigation thread on Slack: https://kubernetes.slack.com/archives/C2C40FMNF/p1602639142299800

[2020-10-14 01:49] tanjunchen opened #95537 "client-go DeleteCollection doesn't work as expected."
**What happened**:

see https://github.com/istio/istio/issues/27910

client-go DeleteCollection doesn't work as expected.The function call returns normally without any error but it doesn't  delete anything.

**What you expected to happen**:

I hope that deleting a non-existent resource will report an error. No error is reported when deleting non-existent resources. I don't know if it was designed

[2020-10-14 01:50] tanjunchen commented on #95537
sig/api-machinery

[2020-10-14 01:50] tanjunchen commented on #95537
/sig api-machinery

[2020-10-14 01:50] ahg-g opened #95538 "Scheduler VolumeBinding plugin returns error instead of unschedulable"
**What would you like to be added**:
Scheduler VolumeBinding plugin reports error when a PVC doesn't exist for example: https://github.com/kubernetes/kubernetes/blob/9891ac4d4dd648c3f38d12e4e16fc55573b6606d/pkg/controller/volume/scheduling/scheduler_binder.go#L291

We need to take a second look at the VolumeBinding plugin and make sure that errors are returned only when there is a system error, no

[2020-10-14 02:10] cofyc commented on #95538
/assign
I'll take a look.

[2020-10-14 02:53] cofyc commented on #95538
If the PVC object does not exist, the plugin will return `UnschedulableAndUnresolvable` status.

https://github.com/kubernetes/kubernetes/blob/9891ac4d4dd648c3f38d12e4e16fc55573b6606d/pkg/scheduler/framework/plugins/volumebinding/volume_binding.go#L123-L126

I guess you mean the plugin will return an error when a referenced PV does not exist?

I've created a PR for this: https://github.com/kuberne

[2020-10-14 03:03] zerkms commented on #66450
/remove-lifecycle stale

[2020-10-14 03:06] MrHohn commented on #93932
@swetharepakula Good observation - indeed service controller was lagging when handling the service updates when the node number is huge, particularly it was taking a long time on forwarding rule operation (e.g. took 12 minutes to create one):
[code]

To summarize there still seems to be performance issues around this ESIPP feature on GCE. I'd probably put back the `DisabledForLargeClusters` tag un

[2020-10-14 03:19] wawa0210 commented on #95530
/assign

[2020-10-14 04:40] mrak commented on #22368
This is exactly the issue we deal with. We have resorted to appending the names of all of the configmaps that an application uses with the application's release version. This results in a lot of old configmap clutter that we have to build additional machinery around to clean up, but it results in consistent configuration expectations between each rollout and potential rollbacks.

[2020-10-14 04:57] acobaugh commented on #22368
Has anyone mentioned https://github.com/stakater/Reloader yet? We've been using that with great success for the last ~2 years. It Just Works, and you forget it's even running.

[2020-10-14 06:45] MartinKirchner commented on #95484
@jsturtevant Thanks for looking into it. I created issue https://github.com/docker/for-win/issues/9028

[2020-10-14 06:45] #95484 closed

[2020-10-14 07:10] tarquin-the-brave opened #95545 "MutatingWebhook v1 admissionregistration.k8s.io field failurePolicy not defaulting to Fail"
**What happened**:

I configured a mutating webhook like so:

[code]

and labelled the default namespace accordingly:

[code]

I didn't setup anything to server the webhook.

**What you expected to happen**:

WIthout anything to serve the webhook I expected any attempt to create a Pod in the `default` namespace to fail.

The `failurePolicy` field [is documented][doc] as being defaulted to `Fail`.

[2020-10-14 07:21] eranreshef opened #95546 "Improve the documentation for "RotateCertificates" config value"
**What happened**:

I tried to enable tls-bootstraping for master nodes while having control plane components created as static pods by kublet.
When kubelet started, it first tried to access the api-server to create a CSR before actually starting the api-server which caused sort of a dead-lock.
When I enabled the certificate rotation flag, the bootstrapping process moved to the background and didn

[2020-10-14 07:24] eranreshef commented on #95546
/sig docs

[2020-10-14 07:41] jsafrane commented on #95510
Retain policy is supported by Kubernetes, it just won't call DeleteVolume CSI method. Recycle is and will not be supported in CSI, use dynamic provisioning instead.

[2020-10-14 07:59] saschagrunert commented on #95536
Thanks for the fix @hasheddan! :green_heart: I'm not sure if the v1.19.3 patch release from today should bring back the right version, because we compare the remote version (right now v1.20.0-alpha.2) to the new one (v1.19.3) on a semver basis:

https://github.com/kubernetes/release/blob/3e6255b8b86d1b43b8fcff67fd36d03f60495422/pkg/release/publish.go#L168-L190

Can we manually revert the markers b

[2020-10-14 08:25] JoshuaAndrew commented on #92111
@zuquan-song  any progress ?

[2020-10-14 08:34] yiqinguo commented on #91914
I have the same problem.

[2020-10-14 09:01] andyzhangx opened #95547 "hostPath does not work on containerd on Windows"
**What happened**:
hostPath does not work on containerd on Windows

I tried hostpath example with server:2004 on containerd on Windows and seeing this issue, it works well on docker Windows:

[code]

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ver

[2020-10-14 09:02] andyzhangx commented on #94213
hostPath on containerd Windows does not work too: https://github.com/kubernetes/kubernetes/issues/95547

[2020-10-14 09:21] yangjy20169717 opened #95548 "k8s api error"
在尝试安装1.19版本的kuberneters时，遇到了一些问题。主要是在安装cni插件flannel时，提示error: unable to recognize "kube-flannel.yml": no matches for policy/, Kind=PodSecurityPolicy.下方是我的编排文件

---
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: psp.flannel.unprivileged
  annotations:
    seccomp.security.alpha.kubernetes.io/allowedProfileNames: docker/default
    seccomp.security.alpha.kubernetes.io/defaultPr

[2020-10-14 09:36] tarquin-the-brave commented on #95545
/sig docs

[2020-10-14 09:42] hchenxa opened #95549 "the PV list table did not have storageclass name for all PVs."
**What happened**:

The storageclass name did not shown in pv list column below

[code]

**What you expected to happen**:
The pv list should have storageclass name

**How to reproduce it (as minimally and precisely as possible)**:

run command kubectl get pv

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.19.2
- Cloud provider or hardware con

[2020-10-14 09:43] hchenxa commented on #95549
/sig cli

[2020-10-14 10:02] ceteongvanness opened #95550 "error: deployment "xxx" exceeded its progress deadline and RolloutStatusTimedout"
I am new to the kubernetes, may I know which one I should add on or other things?
**Which jobs are failing**:
azure/k8s-deploy@v1.2

**Which test(s) are failing**:
Deployment

**Since when has it been failing**:
After first time of the deployment it fail

[code]

[code]

[code]

**Testgrid link**:

**Reason for failure**:
It wait until too long then it cause failure

**Anything else we need to kno

[2020-10-14 10:14] yangjy20169717 opened #95551 "api error"
在尝试安装1.19版本的kuberneters时，遇到了一些问题。主要是在安装cni插件flannel时，提示error: unable to recognize "kube-flannel.yml": no matches for policy/, Kind=PodSecurityPolicy.下方是我的编排文件

[code]

[2020-10-14 10:14] #95548 closed

[2020-10-14 10:15] yangjy20169717 commented on #95548
未打标签

[2020-10-14 10:23] tibin-mfl commented on #85963
Is there any update on this, `deny` rule RBAC will be really helpful. I want to give access to a user to all the resources read, write, update and delete expect namespace and ingress, for this now I have to create define all resources in my RBAC instead if there was a deny rule it was really helpful.

[2020-10-14 10:38] RobertKielty commented on #95072
Reviewing this as I code the CI Signal report

No longer flaking on [sig-release-master-blocking#kind-ipv6-master-parallel](https://testgrid.k8s.io/sig-release-master-blocking#kind-ipv6-master-parallel&width=5&include-filter-by-regex=EndpointSliceMirroring)

However, the test is flaking on other jobs as can be seen here

[triage Test : \\[sig-network\\] EndpointSliceMirroring should mirror a custo

[2020-10-14 10:40] mooperd commented on #85963
It's not likely to happen I think. Would require a major reworking of the
permission systems and our lordship don't see the point. K8s is not
intended to be a multi-tenant system so Deny rules are unlikely to ever be
a priority.

On Wed, 14 Oct 2020, 12:23 Tibin George, <notifications@github.com> wrote:

[2020-10-14 10:40] BoleynSu commented on #95536
It would be better to require manual approval for releases to prevent issues like this. What if we introduce another label for non-releases? The current fix will still fail to react correctly.

[2020-10-14 10:58] saschagrunert commented on #95536
Not sure if I get this, how would manual approval work technically?

[2020-10-14 11:00] BoleynSu commented on #95536
I mean adding a blocker that requires manual approval in the pipeline.

[2020-10-14 11:02] BoleynSu commented on #95536
BTW, I updated my comment above to include

[2020-10-14 11:24] akcrisp commented on #85963
What do you mean is not multi tenant ? That’s what namespaces are for. Not having a deny option is a massive gap as I spelled out previously

Sent from my iPhone

[2020-10-14 12:02] lala123912 opened #95552 "pkg/kubelet/container/helpers.go:The function shouldRecordEvent will panic when the value of input object is nil"
**What happened**:
The status of container always stucks in a state of "ContainerCreating".

kubelet log:
E0331 14:06:04.044168   17044 runtime.go:82] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)
goroutine 537686 [running]:
k8s.io/kubernetes/vendor/k8s.io/apimachinery/pkg/util/runtime.logPanic(0x354c360, 0x

[2020-10-14 12:13] conrallendale commented on #22368
Correct me if I wrong, but I don't think there is a use case where someone want to restore an old secret. I'm assuming that secrets are only used for credentials, certs, and things like that. If someone is using secrets to manage configs, then it is being used wrongly IMO. Generally I use ConfigMaps to generate all the config necessary and use env vars inside these configs, and then gerenate env v

[2020-10-14 12:13] lala123912 commented on #95552
/sig network

[2020-10-14 12:19] lala123912 commented on #95552
/sig node

[2020-10-14 12:21] liggitt commented on #95551
What command are you running that encounters this error?

Can you also provide the output of `kubectl version`?

[2020-10-14 12:22] lala123912 commented on #95552
@derekwaynecarr

[2020-10-14 12:30] conrallendale commented on #22368
If I have understood correctly, this doesn't solve this issue. Reloader only recreate the pods on ConfigMap/Secret changes, right? If so, then no rollout/rollback is supported. By the way, I think Reloader, kustomize and other tools would benefit from this change IMO.

Particulary, I think we have to choose some of the proposed approaches mentioned in this issue and take it forward. I proposed it,

[2020-10-14 12:33] tdihp opened #95555 "ExternalTrafficPolicy: local in iptables proxy impl intermittently fails if source is in pod CIDR, however not a part of the cluster."
**What happened**:

iptables implementation of kube-proxy will result in incorrect address conversion given the below condition:

1. Accessing a LoadBalancer service with ExternalTrafficPolicy: local.
2. At least two endpoints across two nodes.
3. Client accessing the service has a IP address inside the pod CIDR
4. Client is not a part of the cluster. (e.g. a VM in the same subnet)

Removing any o

[2020-10-14 12:34] mborsz opened #95556 "Calls with verb=GET are reported with verb=LIST in metrics"
**What happened**:
While I was watching grafana for a single run, I noticed that GET requests are reported as LIST requests, e.g. grafana shows ~1K QPS for LIST of pods
![8vS47hgQ9GxtJhL](https://user-images.githubusercontent.com/2559168/95988213-dd58d800-0e28-11eb-9687-7c7c80dbc373.png)
while kube-apiserver's logs show:
[code]
(there are no pod lists that time).

I'm not sure if this is intended

[2020-10-14 12:34] tdihp commented on #95555
@kubernetes/sig-network-bugs

[2020-10-14 12:35] wojtek-t commented on #95556
@kubernetes/sig-api-machinery-bugs

[2020-10-14 12:37] wojtek-t commented on #95556
@lavalamp @deads2k @sttts - FYI

[2020-10-14 13:11] josephburnett commented on #83561
There is a unit test for ignoring deleted pods.  But it assumes deleted pods will not be producing metrics.  I "fixed" this and now the test fails, as expected.

[code]

[code]

[2020-10-14 13:24] ahg-g commented on #95538
Thanks! The errors I am seeing are on 1.18 clusters, can we look at 1.18 and try to patch? This is still throwing the scheduler's error metrics off.

[2020-10-14 13:25] ahg-g commented on #95442
/remove-help

[2020-10-14 13:31] #85963 closed

[2020-10-14 13:31] tosi3k commented on #95556
From the former run's artifacts:
[code]
This is (among others) what we miss in the latter run - this is understandable from the point of view of this if condition: https://github.com/kubernetes/kubernetes/pull/93523/files#diff-c4f07ee44a4626c817dd95cf30e147a2125ea923804be5c3608fb4a845fc1c20R446.

Why do the reported GETs have `"namespace"` as the scope instead of `"resource"`, however?

[2020-10-14 13:34] rikatz commented on #94883
@yaroze any return about this?

[2020-10-14 13:35] rikatz commented on #85395
/remove-lifecycle stale

Waiting for Service APIs to reach alpha

[2020-10-14 15:09] #95442 closed

[2020-10-14 15:10] nlzv commented on #95416
If I use --kubeconfig file where one is pointed kubelet cert and key and root cert then there is no 401 error.
kubelet --kubeconfig kubelet.kubeconfig <other options not related to api server connectivity>

generate_kubelet_kubeconfig.sh

kubeconfig='kubelet.kubeconfig'
apiserverip='...'
apiserveriport='...'
host='...'
server="https://$apiserverip:$apiserverport"
cluster="..."
tlscert=/etc/pki/k8s

[2020-10-14 15:15] zoltan-fedor commented on #46861
Helm version 3.3.4 doesn't handle the `valueRef` -> `value` change with the `helm upgrade`.
I needed to manually modify the Deployment (remove the `valueRef`) and then rerun the `helm upgrade` with the `value`.

[2020-10-14 15:16] justaugustus commented on #95536
Closed via https://github.com/kubernetes/release/pull/1640#issuecomment-708463451.

[code]

/assign
/close

[2020-10-14 15:23] lavalamp commented on #95556
cc @logicalhan

There should probably be a unit test mapping URL paths to the expected label values.

[2020-10-14 16:18] robscott commented on #95072
Sorry I've been underwater for a bit. It looks like the test is expecting only one EndpointSlice to be created but sometimes an extra one is created due to informer cache being out of date. Although not ideal, this would still be a valid outcome. I need to update the test to consider this a valid outcome.

[2020-10-14 16:40] soltysh commented on #95523
It's already done in https://github.com/kubernetes/kubernetes/pull/95253

[2020-10-14 16:40] #95523 closed

[2020-10-14 16:42] eddiezane commented on #95549
@jsafrane would you please take a look and let us know if you were working on this?

/cc @soltysh
/assign @jsafrane
/triage accepted

[2020-10-14 16:45] eddiezane commented on #95434
@hasan4791 could please provide the output of `-v=6` and the set of commands you're using to reproduce?

/triage needs-information

[2020-10-14 16:46] PaulFurtado commented on #87615
Alternatively, would this issue still occur if using HTTP 1.1, or is it purely HTTP 2 related? If HTTP 1.1 would be immune and doesn't have huge draw backs, it'd be a real simple workaround to just set `GODEBUG=http2client=0` on kubelet, kube-proxy, and various control-plane processes, or even set `GODEBUG=http2server=0` on the apiserver process to make the change universal.

Do we think these wou

[2020-10-14 16:49] eddiezane commented on #95297
/triage accepted
/assign @SaiHarshaK

[2020-10-14 16:53] eddiezane commented on #95293
/assign @dougsland
/triage accepted

[2020-10-14 17:12] mseewooth opened #95564 "Adding multiple master to a single master cluster . --control-plane-endpoint not specified"
Hello,

I have a single k8s cluster v1.18. I wish to make that existing cluster a HA cluster with multiple masters.
Unfortunately being newbie, i didn't flag --control-plane-endpoint while initialising the cluster.

Can some please advise how to add the controlplaneendpoint in the kubeadm-config ?

Thank you very much

[2020-10-14 17:18] aojea opened #95565 "pods can not reach endpoints in the same node, for UDP services, if they are using hostNetwork"
**What happened**:

Pods can not reach endpoints using hostNetwork: true that run in the same node.

**What you expected to happen**:

It works for TCP, so it should work for UDP too

**How to reproduce it (as minimally and precisely as possible)**:

Deploy a service with endpoints using hostNetwork: true
[code]

Create an UDP service too, using that deployment

Run a container to probe the servic

[2020-10-14 17:18] aojea commented on #95565
/sig network

[2020-10-14 17:30] #90055 closed

[2020-10-14 17:33] Riaankl commented on #94954
/reopen
Will monitor in test grid to move to Conformance after 2 weeks soak.

[2020-10-14 17:36] Huang-Wei commented on #94954
/triage accepted

[2020-10-14 17:53] Huang-Wei commented on #94696
We can use `cmp.AllowUnexported()` as an option:

[code]

[2020-10-14 17:56] SergeyKanzhelev commented on #95552
Is there a code path that can pass the `object` that is typed `nil`? Or this is based on code analysis?

[2020-10-14 17:57] zuquan-song commented on #92111
@JoshuaAndrew hi, I'm not sure whether it is a bug and waiting for someone to confirm this problem

[2020-10-14 18:34] eatwithforks opened #95568 "kuberenetes api server vmodule=trace is not silencing the trace logs."
**What happened**:

I'm trying to silence the `Trace[1234]:` logs in kube-apiserver by setting `vmodule=trace=1` but the Trace logs are still showing up.

https://github.com/kubernetes/utils/blob/6301aaf42dc774ae865e140a583ecfebfe1af454/trace/trace.go#L205

**What you expected to happen**:
Trace logs to be removed from kube-apiserver logs

**How to reproduce it (as minimally and precisely as possi

[2020-10-14 18:40] alculquicondor commented on #94695
@SataQiu is there more pending work?

[2020-10-14 18:41] iamsudip commented on #51271
Facing same issue with traefik internal load balancer.

We just migrated from 1.17 to 1.18 k8s and that's when I started seeing the issue.

[code]

[2020-10-14 18:42] alculquicondor commented on #94696
-1 on `AllowUnexported`

I think we should define clear semantics of when 2 statuses are equal. Otherwise we are not wining anything from moving off `reflect.Equal`

[2020-10-14 18:52] Huang-Wei commented on #94696
If the comparison semantics is not ambiguous, why don't we use `AllowUnexported` directly? Take the `framework.Status` for example, it's clear that we're going to compare all (private) fields (reason, code, etc.).

[2020-10-14 19:05] alculquicondor commented on #94696
It is actually a bit ambiguous.

Say a plugin returns `{Unschedulable, "not enough CPU"}`. Then we annotate that as coming from the FitPlugin in runtime.go:
So `{Unschedulable, "FitPlugin failed: not enough CPU"}`. Now they are different, but they shouldn't be.

Arguably, we are wrapping statuses the wrong way. That's precisely what https://blog.golang.org/go1.13-errors is trying to solve. However

[2020-10-14 19:09] alculquicondor commented on #94696
That said, I don't think we do decision making with "reasons", only with "errors". So we don't need to redefine the Status struct.

But we should fix how we compare errors. I think a proper comparison, at least for now would be:
code is equal, reasons are equal, errors compare the same with `errors.Is`

[2020-10-14 19:11] seans3 commented on #95060
@0xtyls Hello. A `restart` command working on containers is really at the wrong level of abstraction for k8s. We work on pods (or deployments), but not containers. If you want to restart a container, you should kill the pod and the k8s system will restart it. Maybe you could create a `kubectl plugin` that easily kills a `Pod`.

/close

[2020-10-14 19:11] eddiezane commented on #95074
As others have pointed out we kubectl has completion and we're actively working to improve that.

A good issue to follow is https://github.com/kubernetes/kubectl/issues/882.

/close

[2020-10-14 19:11] #95060 closed

[2020-10-14 19:11] #95074 closed

[2020-10-14 19:30] pnovotnak opened #95570 "Reserved range within service CIDR wherein automatically assigned IPs will not be chosen"
**What would you like to be added**:

It would be nice to be able to specify a range, within the service CIDR, where the cluster will not automatically allocate service ClusterIPs but will still allow services to be created with the ClusterIP manually specified.

**Why is this needed**:

This would be useful, for instance, in situations where you need to add more DNS resolvers. Coredns cannot use

[2020-10-14 19:36] Huang-Wei commented on #94696
That's true.

I got your point. How about defining a generic `ComparerFn` in framework/interface.go (rough logic, can be tweaked):

[code]

Then in tests, call the `ComparerFn` to have a unified comparing behavior:

[code]

[2020-10-14 19:43] pnovotnak commented on #95570
/sig networking

[2020-10-14 19:44] pnovotnak commented on #95570
/sig network

[2020-10-14 19:47] alculquicondor commented on #94696
alternatively, we expose all the attributes and just use `cmpopt.EquateErrors`.

[2020-10-14 19:54] Huang-Wei commented on #94696
`cmpopt.EquateErrors` sounds good to me as well, I don't have a strong option.

BTW: if we go with the customized `ComparerFn`, it seems we should make the error comparison symmetric:

[code]

Ref:

https://github.com/kubernetes/kubernetes/blob/0dd6bf625814ab6ef9f93fbee40cde6d6206d932/vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go#L155

[2020-10-14 20:14] bowei commented on #69845
/assign

[2020-10-14 20:14] apelisse commented on #87674
/lifecycle frozen

[2020-10-14 20:14] apelisse commented on #89264
/lifecycle frozen

This is not something we want closed by accident.

[2020-10-14 20:15] apelisse commented on #89374
/remove-lifecycle stale

[2020-10-14 20:23] lavalamp commented on #90968
/reopen
/remove-sig api-machinery
/remove-triage

[2020-10-14 20:44] SaiHarshaK commented on #95297
/assign

[2020-10-14 21:05] #94980 closed

[2020-10-14 21:35] archonic commented on #74551
This is happening with the `linkerd dashboard` command as well. The localhost connection to the dashboard fails and the terminal connection to the linkerd dashboard severs, so it just puts random errors into your terminal and you can't reconnect to the dashboard.

[2020-10-14 21:48] swetharepakula commented on #93932
I will submit a PR with that change with a todo to remove once #56138 is resolved.

Thanks for your help!

[2020-10-14 21:49] Riaankl commented on #94955
The last of the "Lease endpoints" was promoted to conformance with PR [#94969](https://github.com/kubernetes/kubernetes/pull/94969)
This issue can be closed
/close

[2020-10-14 21:49] #94955 closed

[2020-10-14 22:46] MrHohn opened #95573 "*-dns-nodecache jobs are failing"
**Which jobs are failing**:
gci-gce-serial-kube-dns-nodecache

**Which test(s) are failing**:
N/A

**Since when has it been failing**:
10/13

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-serial-kube-dns-nodecache&width=5

**Reason for failure**:
Cluster failed to start:
[code]
**Anything else we need to know**:
/cc @aojea @jayunit100 @prameshj

[2020-10-14 22:55] jtweaver commented on #80897
After struggling with this issue for an inordinate amount of time, I think I finally found a solution that allows us to use `externalTrafficPolicy=Cluster` (and thereby avoid the problems in this issue and others) while still preserving source IP.

What works for us is enabling Proxy Protocol V2 (manually) for the Load Balancer and then configuring nginx-ingress to use the real-ip-header from the

[2020-10-14 23:02] caseydavenport commented on #95170
@kiemlicz there's no way to guarantee a specific pod IP address natively in Kubernetes using core APIs. The way to provide stable network access is through a Service and - like you suggested - StatefulSets will provide a stable service IP to each pod in the set.

If you really need it, Calico will let you do this as per https://docs.projectcalico.org/networking/use-specific-ip. Some other CNI plug

[2020-10-14 23:02] #95170 closed

[2020-10-14 23:26] jayunit100 commented on #95573
So, http://gcr.io/k8s-testimages/kubekins-e2e:v20201014-d8fda77-master is a failing job, we can see that there is a error around binding to a specific IP address.

In passing jobs, the initial core file isn't printed out (https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-kube-dns-nodecache/1316200521412907008/build-log.txt) so not sure how to do an apples to apples c

[2020-10-15 00:26] thejoycekung commented on #91236
Flaked again today here: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1316431801945690112

[2020-10-15 00:27] thejoycekung commented on #91236
Flaked again here: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1316431801945690112

[2020-10-15 00:27] prameshj commented on #95573
/kind bug

I have been looking at this offline with @jayunit100 and @aojea

The only difference between a failing and a passing job is the arguments to the bind plugin.

Failing Job:

Link - https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-kube-dns-nodecache/1316518480610070528/build-log.txt

Image - k8s.gcr.io/dns/k8s-dns-node-cache:1.15.14
Config:

[code]

[2020-10-15 00:30] prameshj commented on #95573
Issue is reproducible when spinning up a cluster via kubetest using:

[code]

[2020-10-15 00:37] prameshj commented on #95573
https://github.com/kubernetes/kubernetes/commit/c1e5e6a5562bdd968977a36720f56362fbf4aa26 changes to lines 907-910 in hack/local-up-cluster.sh  and lines 2467 to 2469 in configure-helper.sh seem like the issue.

[2020-10-15 00:40] prameshj commented on #95573
What we see is substitution works correctly for line https://github.com/kubernetes/kubernetes/blob/2318a13228dfaadd2de4669c8ce3ffb126ed3958/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml#L70, but for line https://github.com/kubernetes/kubernetes/blob/2318a13228dfaadd2de4669c8ce3ffb126ed3958/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml#L65, it replaces "__PILLAR__LOCAL__DNS__" with empty st

[2020-10-15 00:42] prameshj commented on #95573
/assign @jayunit100

Can you investigate?

[2020-10-15 00:56] jayunit100 commented on #95573
Yeah lookin into it

[2020-10-15 01:04] jayunit100 commented on #95573
Regex is matching the entire line :). Should be easy fix . Will verify in hack local up and issue PR shortly

[2020-10-15 02:31] bsdnet commented on #95043
+1 we should have a benchmark tab.

As what @bart0sh said,  we maybe need to understand the difference between node-kubelet-benchmark vs node-containerd-benchmark. I am not sure whether docker will run or disabled when we run node-containerd-benchmark. If so, that means ~100M memory consumes by dockerd matters.

[2020-10-15 03:16] dougsland commented on #56402
I am interested in this issue.
/assign

[2020-10-15 04:28] #95550 closed

[2020-10-15 04:41] hsyl4125 opened #95582 "start scheduler error log: x509: certificate signed by unknown authority"
**What happened**:
scheduler log:
[code]

kube-apiserver  log:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
cat kube-scheduler.kubeconfig
[code]

**CA and client cert is OK**
[code]

**kube-scheduler config:**
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
Kubernetes v1.18.5

[2020-10-15 05:02] uablrek commented on #69845
@bowei Can you approve the API change in https://github.com/kubernetes/kubernetes/pull/92744? @thockin seems very busy.

[2020-10-15 05:06] BarakStout commented on #93100
I would like to help as well

[2020-10-15 05:35] YuikoTakada commented on #64760
There is a new [PR](https://github.com/logrotate/logrotate/pull/361) of logrotate which adds copyreduce mode. This feature can  reduce log loss.

[2020-10-15 05:45] yqwang-ms commented on #87278
/remove-lifecycle stale

[2020-10-15 06:11] wd commented on #66430
seems I have  the same problem. save this to a file named `a.yaml`
[code]

And run `kubectl apply --prune --dry-run=client --all -n sandbox -f a.yaml`, the results
[code]

I have no idea why it want to prune the `namespace/cattle-system`.

[2020-10-15 07:09] aojea commented on #95573
/sig network
/triage accepted

[2020-10-15 07:17] aojea commented on #91236
It seems that the packet never gets DNATed in the receiving host, so it does not reach the pod in the node.
There is the same test that is using ClusterIP instead of NodePort that is more reliable.
This is being a tough one

[2020-10-15 07:19] pacoxu commented on #95564
Refer to kubeadm help docs:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join-phase/#tab-control-plane-join-4 ?

[2020-10-15 07:21] jcassee commented on #66430
@wd Maybe it's pruning the namespace simply because you are not explicitly listing it in `a.yaml`? Prune is not smart enough to determine that you are using the namespace in your resources.

[2020-10-15 07:22] mseewooth commented on #95564
Okie solved. i just had to add the controlPlainEndpoint key in kubeadm-config

kubectl -n kube-system get configmap kubeadm-config -o jsonpath='{.data.ClusterConfiguration}' > kubeadm.yaml
kubeadm config upload from-file --config kubeadm.yaml

[2020-10-15 07:22] #95564 closed

[2020-10-15 07:33] kpiyush17 opened #95584 "Auto scale down not sending SIGTERM signal"
Hi,

I am using the https://github.com/kubernetes/autoscaler tool to do the auto-scaling of nodes. I have a golang application that uses signals to do the graceful shutdown. As the title says in case of an auto-scale down event using the tool, the application is not receiving the SIGTERM signal in case of pod deletion.
Is this expected? Is there any workaround/different signal that can be captured

[2020-10-15 07:43] #79034 closed

[2020-10-15 07:54] HaonanFeng commented on #94696
Did you mean use  `cmpopts.EquateErrors()` like this?
[code]

[2020-10-15 07:55] HaonanFeng commented on #94696
Did you mean use `cmpopts.EquateErrors()` like this?

[code]

[2020-10-15 08:04] lachlancooper commented on #95106
I'm seeing the same behaviour on EKS 1.17.

I expect the fix would look very similar to #55731: add a block towards the end of `ensureLoadBalancerv2()` (in the `else {}` block where existing LBs are handled) to add additional tags.

[2020-10-15 08:14] lala123912 commented on #95552
This problem occured while deploying a container in our application.

[2020-10-15 08:19] lilic commented on #95523
@soltysh nice, thanks! :D just in time when I need it.

[2020-10-15 08:44] wsq704252212 opened #95586 "A determine statement mistake in stateful_set_control.go"
Hi, I'm reading the code of statefulset controller.
In the [https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/statefulset/stateful_set_control.go](url), I found that the comment in line 466(before scale down) says ' We will wait for all predecessors to be Running and Ready prior to attempting a deletion.'
But there seems to be a a determine statement mistake in the code when scal

[2020-10-15 09:12] jsafrane commented on #95549
Do all PVs actually have a storage class assigned? Can you please post `kubectl get pv -o yaml`?

[2020-10-15 09:26] pacoxu commented on #95582
please check the etcd certs that were configured in apiserver params.

[2020-10-15 09:30] MiracleJy commented on #59876
@xanthoc
Try `/mnt/wsl/mnt/some/funny/loc`.

k8s version:
[code]
Filesystem architecture is as follows：
[code]

[2020-10-15 09:30] pacoxu commented on #95584
/sig autoscaling

[2020-10-15 09:35] pacoxu commented on #95584
The reason may be like https://github.com/kubernetes/autoscaler/blob/a80841eed5359df78c9bf806918c16af6a4aaf6d/cluster-autoscaler/cloudprovider/aws/README.md#common-notes-and-gotchas
[code]

Please provide some more info about the autoscale logs or environment information for further invesgating.

[2020-10-15 09:39] wd commented on #66430
@jcassee might be, but i have many namespaces, why it's only prune that one?
[code]

[2020-10-15 09:40] pacoxu commented on #95586
/sig apps

[2020-10-15 09:41] gnufied opened #95587 "Consider defaulting logic in pod.Spec.SecurityContext.FSGroupChangePolicy"
When we introduced this field in alpha we documented this as:

"	// Valid values are "OnRootMismatch" and "Always". If not specified defaults to "Always"."

But we aren't doing this strictly speaking. But if we did set the default to "Always", then it has implications for controllers who are hashing pod spec, because a k8s upgrade will cause all of these controllers to rollout a pod update now, wh

[2020-10-15 09:41] gnufied commented on #95587
cc @kubernetes/sig-storage-misc
/sig storage

[2020-10-15 09:43] gnufied opened #95588 "Report a metric for time taken to perform recursive permission change"
As part of FSGroupPolicyChange, we need to emit a metric for time taken to perform recursive permission change.

/sig storage

[2020-10-15 09:44] gnufied opened #95589 "Move ConfigurableFSGroupPolicy to beta"
We need to move this field to beta in 1.20.

/sig storage

[2020-10-15 09:45] gnufied commented on #95589
/triage accepted

[2020-10-15 09:48] gnufied opened #95590 "Add e2e that verifies volume permissions in pod with various values of fsGroupChangePolicy"
We need to add e2e that verifies volume permissions in pod with different values of fsGroupChangePolicy.

/sig storage

[2020-10-15 09:54] #83561 closed

[2020-10-15 10:20] pacoxu commented on #95570
https://github.com/kubernetes/kubernetes/issues/24363 is about reserving a cluster ip for dns.

System reserved only the first ip in cluster-ip-range for apiserver.

[2020-10-15 10:31] kpiyush17 commented on #95584
@pacoxu Thanks for the reply. Can you tell me what kind of environment information you require?

[2020-10-15 10:32] hsyl4125 commented on #95582
**The etcd certificate configured in apiserver is the same as the etcd peer certificate.**

[code]

**My apiserver config:**
[code]
**Please help me troubleshoot the problem**

[2020-10-15 10:40] soltysh commented on #94965
Like Jordan explained before, client-side dry-run is not quite reliable and we'd encourage using serve-side apply, instead.

[2020-10-15 10:40] #94965 closed

[2020-10-15 10:43] hchenxa commented on #95549
here is the full list of `kubectl get pv`
[code]

[2020-10-15 10:45] soltysh commented on #95549
@jsafrane it might be related with the fact that we're using beta annotations first then fall back to PV's spec compare https://github.com/kubernetes/kubernetes/blob/56833a63c902e8d350d7335ef91746f554def967/pkg/apis/core/helper/helpers.go#L460-L467 and from what I see `volume.beta.kubernetes.io/storage-class` is deprecated () for long enough to be entirely dropped. Eventually we can revert the ord

[2020-10-15 10:46] soltysh commented on #95549
And from that above yaml, that's the case :wink:

[2020-10-15 11:07] soltysh commented on #95293
Spoke with Doug, but for clarity the approach is to do something similar to https://github.com/kubernetes/kubernetes/pull/87809
but instead of `kubectl.kubernetes.io/default-logs-container` annotation we should introduce more generic like `kubectl.kubernetes.io/default-container` that can be used across the board.

[2020-10-15 11:24] pacoxu commented on #95589
According to https://github.com/kubernetes/enhancements/pull/1879,  @jsafrane  is working on a better design on this.

[2020-10-15 11:35] ScrapCodes commented on #95394
This is continuing to be flaky with more recent failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-master/1316643307752787968

[2020-10-15 11:43] ScrapCodes opened #95595 "[Flaky Test] go_test: //staging/src/k8s.io/legacy-cloud-providers/azure/go_default_test:run_1_of_2"
**Which jobs are flaking**:
bazel-test-master
**Which test(s) are flaking**:
go_test: //staging/src/k8s.io/legacy-cloud-providers/azure/go_default_test:run_1_of_2

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master
**Reason for failure**:
[code]

**Anything else we need to know**:
- links to go.k8s.io/triage appreciated
https://storage.googleapis.com/k8s-guber

[2020-10-15 11:47] ScrapCodes commented on #95595
/sig cloud-provider

[2020-10-15 11:56] wojtek-t commented on #95556
https://github.com/kubernetes/kubernetes/pull/95562 is opened to fix that.

[2020-10-15 12:01] chenyw1990 commented on #94305
@neolit123 I have test with kubelet v1.18.1，The bug still exists.
before kubelet restart
![image](https://user-images.githubusercontent.com/1468240/96118841-ad8bfc00-0f1e-11eb-9a50-c44f20bf235e.png)

after restart kubelet，container be restart
![image](https://user-images.githubusercontent.com/1468240/96118863-ba105480-0f1e-11eb-9c71-32f22002c968.png)

log is：
`I1015 19:53:34.784437  104589 kubelet

[2020-10-15 12:05] jsafrane commented on #95049
It is possible to make the bind mount shared, still... I am not sure it's the right thing to do. All CSI drivers would need to be updated to make NodePublish shared, if they use bind mounts. The same for all bind-mounts we do for subpaths.

IMO, it's much safer to declare that mount propagation works only for HostPath volumes.

@xtreme-sameer-vohra, what is your use case for using GCE PD as a base

[2020-10-15 12:07] danwinship commented on #95251
So this is weird, but... dual-stack clusters do not actually have a "main family", because decisions about IP families are made by multiple components, and kubernetes clusters do not have a single source of configuration truth that applies to all components. So it is explicitly allowed to have kube-apiserver default to IPv4-primary IPv6-secondary for services, and have your network plugin default

[2020-10-15 12:08] fonsecas72 opened #95596 "Add "Accept: */*" header to HTTP probes"
**What would you like to be added**:

I would like that besides User-agent we added the Accept header as well with the "acept all" default. Just like curl does.

**Why is this needed**:

Because it was my expectation that the probe would work similarly to a curl but is not the case.

I think more folks can hit this situation and waste some time to finally sort it out

If this is **not** something

[2020-10-15 12:08] jsafrane commented on #95049
Correction: kubelet can make result of NodePublish shared, if it is a mount point. But we get into the area where kubelet expects that the root of the volume is a mount point. What if there is a subdir on the volume that's used as a mount point?

[2020-10-15 12:13] kopal2212 opened #95597 "Document info for the taint NodeWithImpairedVolumes=true:NoSchedule"
Hi Team,
We are running, Kubernetes on EKS v1.14 and cloud Provider AWS.
We ran into an issue where 4 out of total nodes were tainted with **NodeWithImpairedVolumes=true:NoSchedule,**
This resulted in many pods not being scheduled, while I got the information from #55558 as to why it happens, I was unable to find this info in the official doc, it would be great if this is added to the official doc

[2020-10-15 12:15] kopal2212 commented on #95597
@kubernetes/sig-storage

[2020-10-15 12:20] tavin commented on #63371
It seems that changing `suspend: true` to `suspend: false` also causes immediate job execution. So you have to wait until just after the scheduled time to safely unsuspend.

[2020-10-15 12:21] jsafrane commented on #95549
Yes, it's the annotation. Still, how the PVs got provisioned? The provisioner `ibm.io/ibmc-file` is wrong, either it should not file `volume.beta.kubernetes.io/storage-class` annotation or it should be the same as `pv.spec.storageClassName`.

[2020-10-15 12:25] verb opened #95598 "Integration tests for `kubectl debug`"
**What would you like to be added**: Add `test/cmd` integration tests for `kubectl debug`

**Why is this needed**: This is part of the kubernetes/enhancements#1441 [Graduation plan](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/1441-kubectl-debug#graduation-criteria)

/sig cli
/priority important-soon

[2020-10-15 12:26] verb commented on #95598
/assign

[2020-10-15 12:29] verb commented on #95598
/triage accepted

[2020-10-15 12:32] neolit123 commented on #94305
Ok this is up to the Sig Node group to triage.

[2020-10-15 12:33] gnufied commented on #95589
@pacoxu Nope. The current design is the design we are going to use to handle fsgroup. we discussed this at length in sig-storage call.

[2020-10-15 12:34] wojtek-t commented on #94748
Addressed by https://github.com/kubernetes/kubernetes/pull/94910

[2020-10-15 12:34] #94748 closed

[2020-10-15 12:50] ScrapCodes opened #95600 "[Flaky Test][sig-storage] PVC Protection Verify that scheduling of a pod that uses PVC that is being deleted fails and the pod becomes Unschedulable"
**Which jobs are flaking**:
kind-master-parallel

**Which test(s) are flaking**:
[sig-storage] PVC Protection Verify that scheduling of a pod that uses PVC that is being deleted fails and the pod becomes Unschedulable

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel

**Reason for failure**:
[code]

**Anything else we need to know**:
- links to go.k8s.io/

[2020-10-15 12:53] xpivarc opened #95601 "Kubectl explain fail(only for the first time) for crd"
**What happened**:

`k explain ct2`
the server doesn't have a resource type "ct2"

**What you expected to happen**:
See a explain output for ct2.

**How to reproduce it (as minimally and precisely as possible)**:

Create any new `crd`. Example:
[code]

Run `k explain ct2`.
the server doesn't have a resource type "ct2"

<optional>
Run `k explain ct2` for the second time and get the expected output.

[2020-10-15 13:05] neolit123 commented on #95532
hi, if you are using kubeadm to manage the kubelet, the kubelet will crashloop until you start "kubeadm init/join". this is due to missing files that kubeadm will create. such as the kubelet config.yaml. some more details here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/

/close
/kind support

[2020-10-15 13:05] neolit123 commented on #95532
/area kubeadm
/sig cluster-lifecycle

[2020-10-15 13:05] #95532 closed

[2020-10-15 13:07] neolit123 commented on #95601
hi, see this existing issue / comments:
https://github.com/kubernetes/kubernetes/issues/82407#issuecomment-528919183

/close

[2020-10-15 13:08] neolit123 commented on #95601
/remove-kind bug
/kind support
/sig api-machinery

[2020-10-15 13:12] neolit123 commented on #95596
/sig node network

[2020-10-15 13:13] alculquicondor commented on #94696
Kind of. Export the Status fields (make the first letter uppercase) instead of using `cmp.Exporter`

[2020-10-15 13:16] jcassee commented on #66430
Ah, indeed. I don't know! Last straw: maybe `kubectl` does not see all namespaces? If your cluster version is new enough you can try `--dry-run=server` for a better simulation of what would happen.

[2020-10-15 13:18] liggitt commented on #87615
not very surgically... transports are currently shared in order to avoid ephemeral port exhaustion in the face of callers that repeatedly construct new clients

as far as I know, HTTP 1.1 can encounter the same issue since idle connections go back into a keep-alive pool (and has fewer options to detect/mitigate it since the ping health check mechanism is not available to it)

[2020-10-15 13:21] neolit123 commented on #95597
hi, this taint seems to originate from the legacy AWS provider and is not a "core" k8s taint:
https://github.com/kubernetes/kubernetes/blob/d9bb58fc49d3d4e6e816a45eb8c8ac3e146621e3/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L239-L240
with the extraction of providers to be outside of kubernetes/kubernetes it seems appropriate to not document this at k8s.io, but rather in places like the A

[2020-10-15 13:21] #95597 closed

[2020-10-15 13:24] xpivarc commented on #95601
Hi @neolit123,
That's another case. I probably failed to describe the problem.
1. As can be seen in example, the structural schema is provided.
2. Second `k explain ct2` returns expected output.

[2020-10-15 13:24] neolit123 commented on #95582
hi, i'm going to close this ticket until it's confirmed as a bug in core kubernetes.
we generally do not provide support in this repository. please try the support channels instead:

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
if this is a confirmed bug let's reopen it.

[2020-10-15 13:24] #95582 closed

[2020-10-15 13:24] neolit123 commented on #95568
/sig instrumentation api-machinery

[2020-10-15 13:26] neolit123 commented on #95601
ok, i missed this part.

this is odd.

/reopen

[2020-10-15 13:26] neolit123 commented on #95601
/remove-kind support
/kind bug

[2020-10-15 13:29] kopal2212 commented on #95597
Sure, thanks for the info @neolit123

[2020-10-15 13:30] fasaxc commented on #87615
Is there a good workaround for projects that use the client?  How can we identify when the client is dead and what' the minimum we need to do to fix it (sounds like restarting our process might be the only option)?

[2020-10-15 13:31] chenyw1990 commented on #94305
i have create a pull request to fix it
[#95602](https://github.com/kubernetes/kubernetes/pull/95602)

[2020-10-15 13:45] povsister commented on #87615
When you got repeatedly `write tcp xxx use of closed network connection` error for an identical URL. That indicates the client is dead. The connection pool inside Transport has cached a dead tcp connection for requested host:port .

As far as I know, re-construct a `http.Client` can fix this problem without restarting the whole application.

It requires source-code-level access to project. Maybe y

[2020-10-15 13:50] fasaxc commented on #87615
I have source code access to my project, but we use the kubernetes client.  When we do watches, it seems that it never detects if the TCP connection is severed like this (and since the watch is handling the HTTP transactions, no errors bubble up to our code to handle).

[2020-10-15 13:59] povsister commented on #87615
Yeah. you are right, the `http.Client` is not exposed by kubernetes client.
Currently it's hopeless for top-level application to do such workaround with little cost.
If kubernetes client does not use `http.DefaultClient`, it could be fixed by re-construct the whole kubernetes Client.

For watch request, it is getting worse. kubernetes client seems keep re-trying request and no error is popped to u

[2020-10-15 14:01] Xyaren opened #95604 "startupProbe is not applied to Pod if serviceAccountName is set."
**What happened**:
When adding `serviceAccountName` and  `startupProbe`to the pod template in my deployment, the resulting pods will not have a startup probe.
When adding only one of both, everything works as expected.
Readiness and liveness probes are not affected and work together with `startupProbe`.
The deployment looks fine on all cases, also does the replicaset (startupProbe is shown here in

[2020-10-15 14:03] tmmorin commented on #62036
/reopen.
/remove-lifecycle rotten

[2020-10-15 14:10] #93409 closed

[2020-10-15 14:15] wd commented on #66430
get the same results
[code]

and my enviroment
[code]

[2020-10-15 14:19] tmmorin commented on #62036
It seems to be that something among the following would be needed:
* update documentation to warn users about using an initialDelaySeconds lower than periodSeconds, and that all timers are only loosly honored because of a random timer of up to periodSeconds being added
* update kubelet code to use a lower jitter bounded by initialDelaySeconds for the first probe
* prevent users from using a initia

[2020-10-15 14:25] Xyaren commented on #95604
/sig apps cloud-provider

[2020-10-15 14:31] jambajaar commented on #83916
@liggitt -- any clarification on the below and to @bentastic27 's last note?

[2020-10-15 14:34] sethvargo commented on #81127
/remove-lifecycle stale

[2020-10-15 14:47] jcassee commented on #66430
Alas, I'm out of ideas, sorry...

[2020-10-15 14:59] troy0820 commented on #95601
I'm trying to reproduce this but I'm not having any luck.  I get the output of `kubectl explain ct2` when running it on a kind cluster after creating it on the first try and afterwards.

@xpivarc were you running this in a script or something where the resource wasn't created and ran up against the command `kubectl explain ct2`

[2020-10-15 15:03] whoislb opened #95607 "High-availability cluster can‘t restore after a master off network"
**What happened**:
After we unplugged the cable of  a master accidently, the etcd and apiserver pod of this master is always in CrashLoopBackOff. We delete this failed node but can't join a new master successfully. There seems to be a problem with the etcd cluster

**Environment**:
- Kubernetes version (use `kubectl version`):
  1.18.6
- Cloud provider or hardware configuration:
  Bare metal 3 mas

[2020-10-15 15:06] #93267 closed

[2020-10-15 15:12] xpivarc commented on #95601
Hi Troy,
1. I encountered it on project [kubevirt](https://github.com/kubevirt/kubevirt/) in [CI](https://prow.apps.ovirt.org/pr-history/?org=kubevirt&repo=kubevirt&pr=3257).
2. I used [kubevirtci](https://github.com/kubevirt/kubevirtci) cluster (1.19.0) to reproduce it manually.

I will try it on kind.
I observed that it will succeds if I always clear the cache of kubectl(this is not needed in 1.

[2020-10-15 15:23] RenaudWasTaken commented on #94305
Hello!

I'm having a hard time understanding what is the context / use case you are trying to fix, would you mind dumbing it down for me 😅?

Thanks a lot!

[2020-10-15 15:40] MartijnZuijd commented on #90145
This is happening to me as well, my versions:
[code]

I'm kind of confused, all I did was change the instance type from t3.medium to t3a.medium

[2020-10-15 15:42] MHBauer commented on #95043
Some of these also run on different machine types from others, n1-standard-1 vs n1-standard-2.
https://github.com/kubernetes/test-infra/blob/master/jobs/e2e_node/benchmark-config.yaml
https://github.com/kubernetes/test-infra/blame/master/jobs/e2e_node/containerd/cri-master/benchmark-config.yaml
It doesn't seem to be related to the failures, but it is another inconsistency that limits the usefulnes

[2020-10-15 15:52] yangjy20169717 commented on #95551
![image](https://user-images.githubusercontent.com/30720160/96154311-3b78de80-0f41-11eb-87bd-d92446a715c5.png)
 我在执行kubectl apply -f kube-flannel.yml 命令时报错，

[2020-10-15 15:55] #95551 closed

[2020-10-15 16:02] MartijnZuijd commented on #90145
I followed this workaround: https://github.com/kubernetes/kops/issues/8771#issuecomment-601137743
and now the dns-controller is starting just fine.

After closer inspection the dns-controller that was trying to start after the update command was:
v1.17 and the rollback starts version v1.15.1

[2020-10-15 16:19] dmellstrom commented on #72675
Thanks @ejschoen ! this helped me get my cluster running after all pods were evicted and clearing space alone didn't fix the issue.

[2020-10-15 16:52] #90133 closed

[2020-10-15 16:58] derekwaynecarr commented on #95552
@lala123912 do you have a reproduction?

[2020-10-15 17:00] invidian commented on #88046
/remove-lifecycle stale

[2020-10-15 17:05] shubb30 commented on #87615
The workaround proposed [here](https://github.com/kubernetes/kubernetes/issues/87615#issuecomment-668614826) has been working for us for several weeks.  We turned it onto a python script that runs as a daemonset in all of our clusters.  We usually see it take action once or twice a week (automatically restart kubelet) and we have not had any negative impact on our cluster operation as a result.

[2020-10-15 17:16] liggitt commented on #94256
Is this happening repeatedly on a single pod, causing ErrImagePull and eventually ErrImagePullBackOff? Or is a single instance of this failing the pod? Apart from root causing and resolving the containerd issue, we need to make sure the kubelet retry mechanisms would cover this issue.

[2020-10-15 17:17] MHBauer opened #95612 "Capability set incorrectly. CAP_NET_RAW should be NET_RAW."
**Which jobs are failing**:
ci-cri-containerd-node-e2e

**Which test(s) are failing**:
Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api

**Since when has it been failing**:
2020 10-12 09:04 PDT
Since https://github.com/kubernetes/kubernetes/pull/95321

**Testgrid link**:
https://testgrid.k8s.io/sig-node-containerd#node-e2e

**Reason for

[2020-10-15 17:19] MHBauer commented on #95612
it's a node_e2e test so
/sig node

[2020-10-15 17:26] wojtek-t commented on #94256
It recovers without intervention, but there is some large timeout (6 minutes IIRC), which exceeds most of our timeouts in different tests.
We were facing this issue in scalability tests when setting prometheus in the past. And mitigated that by increasing timeout from 3 minutes or something to 10 minutes. So I think it's fine on our side.

[2020-10-15 17:44] jingxu97 commented on #95587
Since there are only two values in this new field, would it be better to make a bool value, e.g., *enableFSGroupOnRootMistach and default is nil.

[2020-10-15 17:55] MHBauer commented on #95552
v1.15 is quite a while ago. This also looks like on arm?
I can't find a version of 1.15 that has and Eventf on kuberuntime_manager.go:719.

The most recent version has an info https://github.com/kubernetes/kubernetes/blob/v1.15.12/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L719

The helpers.go lines don't seem to match up quite right either
this one is okay https://github.com/kubernetes/kubern