[2017-11-30 06:26] lichuqiang commented on #56022
Sorry I had a mistake here, because init-containers run sequentially, we need to consider the reuse between init containers too, so the scenario above might not occur.

[2017-11-30 06:28] ggaaooppeenngg opened #56609 "propose: support kubefed nodeSelector label"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
scheduler schedules federated-apiserver to a random availabe node
**What you expected to happen**:
schedule to specific nodes
**How to reproduce it (as minimally and precisely as possible)**:
set up federation service

**Anything else we need to know?**:
I suggest to add a flag to kubefed command, or support a config

[2017-11-30 06:28] liggitt commented on #56574
Ah. Setup/cleanup of APIService objects between versions had a bug (#51912) that was resolved in 1.7.6 and 1.8

I would recommending targeting the latest 1.7.x release for the downgrade.

[2017-11-30 06:30] max8899 opened #56610 "Kubelet can't start with "--cloud-provider=aws""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

kubelet can't start with --cloud-provider=aws --cloud-config=/etc/kubernetes/cloud-config

**What you expected to happen**:

kubele could start and using cloud-config for aws

**How to reproduce it (as minimally and precisely as possible)**:

Start kubelete with "--cloud-provider=aws --cloud-config=/etc/kubernetes/cloud-config" and

[2017-11-30 06:31] ggaaooppeenngg commented on #56609
/sig federation

[2017-11-30 06:37] tengqm commented on #56609
@ggaaooppeenngg please consider close this one and file an issue in the kubernetes/federation project (https://github.com/kubernetes/federation).

[2017-11-30 06:39] lichuqiang commented on #56022
Oh, you are right, I ignored the resource awareness issue. I also agree that it's hard to address the issue without big change to current implementation. But I still feel the inconsistency of behavior between API and kubelet might confusing users.

[2017-11-30 06:40] max8899 commented on #56610
@kubernetes/sig-<awz>-<bugs>

[2017-11-30 06:45] tianshapjq commented on #56610
you have to /sig node
BTW, seems there are some unrecognized character in your config file, maybe you can change some special characters and try again.

[2017-11-30 06:47] max8899 commented on #56610
/sig kind/bug

[2017-11-30 06:48] max8899 commented on #56610
@kubernetes/sig-aws-bugs

[2017-11-30 06:53] max8899 commented on #56610
@tianshapjq I've confirmed many times, it's the same with my working aws credentials. And I'm confusing why there is no doc for this? It cost me many time to read the code to find the cloud config file format.

[2017-11-30 06:59] lichuqiang commented on #56022
Agreed that to address the issue, it requires big changes in the overall workflow. And as I commented above, because init-containers run sequentially, we need to consider not only the reuse between init containers and normal containers, but also that in init containers themselves.
And we haven't see clearly if its a common user case that deserve such a big change.

[2017-11-30 07:01] davidopp commented on #56306
Specifically, requiredDuringSchedulingIgnoredDuringExecution if you want a guarantee. Even doing preferredDuringSchedulingIgnoredDuringExecution isn't a guarantee.

Automatic best-effort spreading by set (ReplicaSet etc.) predates anti-affinity.

BTW the reason why these things aren't guaranteed is that the scheduler decides which node is best for a pod by adding up a bunch of different criteria,

[2017-11-30 07:07] hzxuzhonghu opened #56614 "should validate admission plugin names --admission-control"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
`--admission-control` param is not validated in func Validate

**What you expected to happen**:

validate admission plugins, if not registered, return err to prevent going on until call `AdmissionOptions.ApplyTo`.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**E

[2017-11-30 07:07] hzxuzhonghu commented on #56614
/sig auth

[2017-11-30 07:10] k82cn commented on #56539
Did you try `strategy. rollingUpdate.maxUnavailable: 1`? Kill pod first when doing rolling upgrade.

/sig apps

[2017-11-30 07:10] jiayingz commented on #56022
Right. So for now, perhaps just return an error when this happens, to give clear error signals.

[2017-11-30 07:10] porridge commented on #55779
I looked at the other failing tests in that run, and none of them looks like it could have obviously triggered this problem.

Here are some other rare messages in apiserver log, with how many times they were logged within which 10-second intervals:
[code]

The spike of messages from `watcher.go` seems correlated in time, and supports the theory of overload. Let me try to get some latency distribut

[2017-11-30 07:14] andyzhangx commented on #56463
Hi @gnufied , is PV size grow feature still in alpha in master now? How do I open this feature, set `--feature-gates=ExpandPersistentVolumes=true` in kubelet, kube-apiserer and kube-controller-manager config?

`

[2017-11-30 07:14] ggaaooppeenngg commented on #56609
@tengqm thx, I want to do a simple hack first, and find it's gone in current repo：）

[2017-11-30 07:14] #56609 closed

[2017-11-30 07:15] hzxuzhonghu commented on #56614
/kind bug

[2017-11-30 07:16] lichuqiang commented on #56022
@jiayingz Oh, I'm afraid we miss something, the check may not work as expected.
As I commented, because init-containers run sequentially, we did reuse between init containers in [scheduler](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L583), that is, if we have two init containers, each request 1 device, then we expect 1 device in tot

[2017-11-30 07:54] tianshapjq opened #56617 "issues about containerized kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
We found some quite weird phenomenons during our tests. We ran kubelet in a container and the memory usage of this container climbed up unexpected.
Here are our setup:
OS: centos Linux release 7.3.1611
Docker: 1.12.6
Kubernetes version: v1.6
nodes: 3 nodes on 3 bare metal machine.

followings are the phenomenons we got until now:
1.

[2017-11-30 07:57] tianshapjq commented on #56617
/sig node
/sig storage

[2017-11-30 08:02] tianshapjq commented on #56617
@kubernetes/sig-node-bug

[2017-11-30 08:02] tanhui2333 commented on #55649
same....

Kubernetes Version: 1.8.4
Docker Version: 17.09.0-ce

[2017-11-30 08:09] wodong commented on #53333
I also meet this issue on Ubuntu 16.04.3.
In my environment , I need using **http proxy** to download the docker images ,
I just follow doc https://medium.com/@SystemMining/setup-kubenetes-cluster-on-ubuntu-16-04-with-kubeadm-336f4061d929 to generate my environment .

At step kubeadm init ,  I got the following error.

At first , I thought this is caused by that I need configure proxy for kubeadm

[2017-11-30 08:11] tianshapjq commented on #56523
/cc

[2017-11-30 08:13] andyzhangx commented on #56463
@gnufied I have figured out that `--feature-gates=ExpandPersistentVolumes=true` should be set in kubelet, kube-apiserer, kube-controller-manager, kube-scheduler config, and also need to enable ` PersistentVolumeClaimResize` in apiserver admission control. It works well.

[2017-11-30 08:15] karataliu opened #56618 "E2E test issue: createBalancedPodForNodes would fail when computed usage metric cpuFraction is greater than 1"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Following cases will call 'createBalancedPodForNodes', which tries to create balanced load on nodes.
- [sig-scheduling] SchedulerPriorities [Serial] Pod should avoid to schedule to node that have avoidPod annotation
- [sig-scheduling] SchedulerPriorities [Serial] Pod should perfer to scheduled to nodes pod can tolerate

Bu

[2017-11-30 08:25] BenTheElder commented on #53016
Fun fact, hitting something suspiciously similar on 1.7 running unit on Prow:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/52755/pull-kubernetes-unit-prow/34/?log#log
This test smells :-(

[2017-11-30 08:28] BenTheElder commented on #53016
and on 1.8... https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/56592/pull-kubernetes-unit-prow/37/

[2017-11-30 08:34] wackxu commented on #56261
@bsalamat @JorritSalverda Sorry, I do not know that how we can do periodic full scan because `sharedInformer`  seems has not `relist` function. and it consumes a lot of resources for doing periodic full scan also.

[2017-11-30 08:43] fengyu10 opened #56620 "kubectl --request-timeout no effect for the exec command?"
**Is this a BUG REPORT?**:

Uncomment only one, leave it on its own line:
/kind bug

**What happened**:
i create po use file：
apiVersion: v1
kind: ReplicationController
metadata: {name: gputest2, namespace: hdp-teu-dia}
spec:
  replicas: 1
  template:
    metadata:
      labels: {component: gputest2}
    spec:
      containers:
      - command: [/bin/bash, -c, touch /workspace/gputest.$(hostname).

[2017-11-30 08:51] andyzhangx commented on #56462
Hi @gnufied I have already set up the volume expansion env, and I could edit the volume size, suppose I could get logs under `ExpandVolumeDevice` func in azure file in **controller-manager** logs, right? While it did not, could you take a glance at following code? Thanks.
https://github.com/andyzhangx/kubernetes/commit/0671e8c4067f9f4025d2d341999b8c2dd41e2c8a

[2017-11-30 08:51] BenTheElder commented on #55069
A very similar error is quite reliably triggered in TestReadPodsFromFileChanged when running a version of pull-kubernetes-unit on Prow https://github.com/kubernetes/kubernetes/issues/53016#issuecomment-348116391
[code]

[2017-11-30 08:52] andyzhangx commented on #56462
/sig storage

[2017-11-30 08:55] porridge commented on #55194
ACK.  In progress, causes for recent flakes fixed, ginko flake flake auto-retry swithched on, waiting for next run tomorrow
ETA: 01/12/2017

[2017-11-30 08:57] JorritSalverda commented on #56261
Okay, just removing the node from the cache - like you suggested - is then probably the most straightforward way to do it.

[2017-11-30 09:28] marono commented on #55031
@JiangtianLi have a look now, using structs ...
I'm going to let you know soon about the PR, I'd ideally like to do it myself as a 'get-to-know' exercise ...

[2017-11-30 09:29] rajasaur commented on #48677
Thanks @kevtaylor . I tried a similar approach earlier which led to an error of "file already exists" because the "Trick" that you mentioned wasnt happening in my case , i.e. once the symlink was created in the init container, when actually doing the volumemount subPath, it tried to create a path called "logs" (the subPath argument) and failed with "File already exists" error. Ill retry with your

[2017-11-30 09:44] mediafreakch commented on #15180
It was never mentioned here but was exactly what I was looking for: https://docs.giantswarm.io/guides/accessing-services-from-the-outside/#api-access

Accessing a random pod through the service via URL.

First, simply use `kubectl proxy --port 8002`.
Then you can access your apps like this: `http://localhost:8002/api/v1/proxy/namespaces/NAMESPACE/services/SERVICE_NAME:SERVICE_PORT/`

[2017-11-30 09:44] kevtaylor commented on #48677
@rajasaur Thanks for the update - much messing about can be alleviated with an environmental expansion - hence my PR #49388

[2017-11-30 09:53] m1093782566 commented on #54916
IPVS CI is running, please check: http://k8s-testgrid.appspot.com/sig-network-gce#kubeadm-gce-ipvs

I am going to close this PR.

/close

[2017-11-30 09:53] #54916 closed

[2017-11-30 09:54] wanghaoran1988 commented on #56618
/assign
@bsalamat @karataliu Could you please point me when we will have a cpuFraction > 1?

[2017-11-30 09:55] porridge commented on #55589
We have another failed run, https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8479 this time with unmuted curl:

[code]

Turns out curl is very picky about when to actually retry with `--retry` :disappointed:

[2017-11-30 09:55] m1093782566 commented on #51602
IPVS CI is green now.

[2017-11-30 09:58] shyamjvs commented on #55589
See that the following failures are also due to it:

- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/26840
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/26841

[2017-11-30 10:02] porridge commented on #55589
Now, there is a `--retry-connrefused` option in curl, but:
1. I don't know whether we can count on the binary version to be recent enough to support this option, and
2. it [does not work so well](https://github.com/curl/curl/issues/1036#issuecomment-312585216) anyway

Also, note that in this case above the file was not downloaded at all. Previously we got an HTML error document instead, so it was

[2017-11-30 10:02] shyamjvs commented on #55589
And these failures are temporally related - https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-small
They're all within a time range of ~15 mins (1:15 - 1:32), which most likely means that the cfssl server is down during that period.

We can try retrying curl with `--fail` option:

[code]

But I'm still not sure if it's the best thing to keep retrying curl for such long period of t

[2017-11-30 10:04] shyamjvs commented on #55589
The reason I say this is it's part of the cluster start-up and we probably don't want to increase the cluster startup latency due to this, but rather just fail fast.

cc @kubernetes/sig-cluster-lifecycle-bugs

[2017-11-30 10:05] redbaron opened #56625 "PodSecurityPolicy can be sidestepped with innocent emptyDir and subpath"
Here is a pod which would be allowed by fairly strict security policies, yet gives full control over node host by gaining access to docker socket:

[code]

/kind bug
/sig node

[2017-11-30 10:05] porridge commented on #55589
I think we should talk to sig-testing to have cfssl* included in the image where these tests run. Wasting time and network to fetch these binaries every time, and effectively making all e2e tests depend on the availability of pkg.cfssl.org is just counter-productive.

[2017-11-30 10:07] redbaron commented on #56625
Docker follows symlinks when mounting volumes, Kubelet should check that subPath is not a symlink leading outside of a volume directory path on a host and refuse pod  start if it is

[2017-11-30 10:08] shyamjvs commented on #55589
SGTM. But note that this is not just a testing issue - we still need to solve this problem for normal cluster creations. Hence sig-cluster-lifecycle.

[2017-11-30 10:12] porridge commented on #55589
Right, but for manual creations at least the developer can intervene
manually...

[2017-11-30 10:12] EvolveZy opened #56626 "how to renew the certificate when apiserver cert expired?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):1.7.5
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Ot

[2017-11-30 10:16] shyamjvs commented on #55589
For manual creations by devs, probably yes. But this can be part of production setups too.

[2017-11-30 10:32] sttts opened #56627 "genericapiserver: RecommendedOption should include admission"
The admission webhook story of 1.9 includes that extension API server can/will use the admission webhooks registered automatically. For that the webhook admission plugin must be set up in each extension API server. This should be automatic, i.e. part of the `RecommendedOptions`.

[2017-11-30 10:33] sttts commented on #56627
/cc @deads2k @hzxuzhonghu

[2017-11-30 10:44] hzxuzhonghu commented on #56627
I can add admission plugin to the RecommendedOptions.

[2017-11-30 10:44] redbaron commented on #56610
@max8899 please do `base64 </etc/kubernetes/cloud-config` and paste result here.

[2017-11-30 10:53] terencechow opened #56628 "Random network latency"
**BUG REPORT**:

**What happened**:

I am running a kubernetes cluster with 2 restify servers and 1 mysql service. These are run locally with minikube using virtualbox. 1 server is my API and another is my backend which speaks to the local mysql database.

In my restify server I use the audit logger which tells me latency times of a request. Looking at the code of restify, the audit logger tracks

[2017-11-30 11:17] jsravn commented on #53207
This started happening to us more frequently recently. On 1.7.10.

I've attached a goroutine dump of when it happens:

[goroutinedump.txt](https://github.com/kubernetes/kubernetes/files/1517528/goroutinedump.txt)

[2017-11-30 11:17] jsravn commented on #53207
@dchen1107

[2017-11-30 11:18] jsravn commented on #53207
Today it happened to 3 of our prod nodes
[code]

[2017-11-30 11:25] hzxuzhonghu commented on #56627
Yes, it should be same as audit /authn/ athz.

[2017-11-30 11:34] jsravn commented on #53207
Looks like syncNodeStatus is hanging indefinitely waiting for docker to respond, when gathering version info.

[code]

[2017-11-30 11:37] jsravn commented on #53207
So is that a cadvisor bug? It appears there is no timeout around querying docker.

[2017-11-30 11:41] jsravn commented on #53207
Indeed: https://github.com/google/cadvisor/blob/master/container/docker/docker.go#L139. These calls all should have a deadline on the context.

[2017-11-30 12:07] luksa commented on #56282
/remove-sig api-machinery
/sig cli

PR is ready: https://github.com/kubernetes/kubernetes/pull/56629

[2017-11-30 12:13] jsravn commented on #53207
Made a hopefully cherry pickable fix in #56630.

[2017-11-30 12:16] dims commented on #56618
/sig scheduling

[2017-11-30 12:16] dims commented on #56620
/sig cli

[2017-11-30 12:16] dims commented on #56626
/sig auth

[2017-11-30 12:17] dims commented on #56628
/sig network

[2017-11-30 12:33] fengyu10 opened #56631 "kubectl exec $podname -- /bin/sh -c "sleep 16200", Why run 4 hours is over?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Uncomment only one, leave it on its own line:
/kind bug

**What happened**:
create RC file:
apiVersion: v1
kind: ReplicationController
metadata: {name: gputest, namespace: hdp-teu-dia}
spec:
  replicas: 1
  template:
    metadata:
      labels: {component: gputest}
    spec:
      containers:
      - command: [/bin/bash, -c, touch /workspace/gputest.$

[2017-11-30 12:38] crassirostris commented on #54551
As discussed in the [exception requests thread](https://groups.google.com/forum/#!topic/kubernetes-milestone-burndown/zdzq-7zWMZM), we're not proceeding with buffering for this milestone, instead, I'll send a PR to make webhook parameters configurable.

[2017-11-30 12:39] sdf611097 commented on #15128
The format is
[code]
%3D is '=', Using ',' to add new constraint.

This sample will get nodes which is neither named 'node1' nor 'node2'.

The possible fields are defined in [conversion.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/v1/conversion.go). (see search AddFieldLabelConversionFunc).

[2017-11-30 13:12] joar commented on #27308
In fish shell, I have the following solution:

If I want to use the `beowulf-cluster` whenever I'm in the `/home/joar/beowulf-files` directory, I create the file `/home/joar/beowulf-files/.kube-config`:
[code]

- `auto_kube_config` is https://github.com/joar/dotfiles/blob/master/.config/fish/functions/auto_kube_config.fish and is loaded an executed in `config.fish`.
- `auto_kube_config` is execute

[2017-11-30 13:19] fgbreel commented on #54138
After some days with crontab entry disabled the conntrack entries continues to increase, but in a very slow rate.

Which is okay.

`~1k` per day with `gcr.io/google_containers/kube-apiserver-amd64:v1.8.0`
vs
`~100` per day with `gcr.io/google_containers/kube-apiserver-amd64:v1.8.3`

![k8s-conn](https://user-images.githubusercontent.com/893920/33432499-75d8d0c6-d5d8-11e7-8823-db0b102c3a0e.png)

[2017-11-30 13:29] redbaron commented on #56628
do numbers converge when you use HTTP keepalive? It might be that 100ms is spent on DNS resolution

[2017-11-30 13:42] xiangpengzhao commented on #56594
/assign

[2017-11-30 13:45] xiangpengzhao commented on #56594
I will investigate it.

[2017-11-30 13:54] markine commented on #45976
An update: scaling the echo server randomly between 1 and 10 replicas every 5 seconds gave an increase in failure rate: 112 errors for about 444,000 requests. Note that the server was configured with a readinessProbe and a preStop hook with a "sleep 10".

[2017-11-30 14:20] porridge commented on #55779
I tried to look at GCE activity logs for the master VM instance, to make sure there wasn't a VM migration at the time of this problem, but unfortunately it looks like these logs are only kept for 7 days. I created an export to bigquery with a 90 day TTL so it's easier to look them up in case this re-occurs.

[2017-11-30 14:23] porridge commented on #55779
Some other findings:

4xx responses to node PATCH requests. The 409s are conflicts with node-problem-detector, which are expected. The huge 429 spikes though (the only two occurences during the entire test) confirm the overload theory.
![node-patch-4xx](https://user-images.githubusercontent.com/489420/33435430-715acb3a-d5e2-11e7-851f-ffca28ad927d.png)

[2017-11-30 14:26] Blasterdick commented on #53566
+1 on federated 1.8.3-gke.0 (Google Container Engine)

[2017-11-30 14:28] porridge commented on #55779
node PATCH response latency (log scale):
![node-patch-latency](https://user-images.githubusercontent.com/489420/33435700-206da264-d5e3-11e7-80f7-0596928e0af8.png)

[2017-11-30 14:32] porridge commented on #55779
Some more latency plots (all log scale):

![put-latency](https://user-images.githubusercontent.com/489420/33435868-a028d136-d5e3-11e7-8c45-dde7bd9061d4.png)
![patch-latency](https://user-images.githubusercontent.com/489420/33435869-a0463dd4-d5e3-11e7-871d-40982936a5b3.png)
![delete-latency](https://user-images.githubusercontent.com/489420/33435870-a063ddb2-d5e3-11e7-92f4-aeb322c1b940.png)
![post-l

[2017-11-30 14:35] porridge commented on #55779
The response rates overall don't show anything terribly worrying:
![response-counts](https://user-images.githubusercontent.com/489420/33436001-04ae8506-d5e4-11e7-9b55-1d0ab292176e.png)

[2017-11-30 14:35] rphillips commented on #56234
I'll continue to test locally to see if I find anything else.

[2017-11-30 14:37] shyamjvs commented on #55779
/sub

[2017-11-30 14:41] porridge commented on #55779
One interesting thing about the 429s is that the spikes were extremely narrow - first was ~40ms wide and the second less than 10ms wide.

[2017-11-30 14:44] djsly commented on #56253
@ixdy that sounds great. Any idea when the existing 3.0 tag could be pushed again?

[2017-11-30 14:45] az-z commented on #56590
Is it a separate install/rpm?

On Nov 29, 2017 21:40, "Di Xu" <notifications@github.com> wrote:

[2017-11-30 14:48] luksa commented on #56631
I'm guessing something closes the connection after exactly 4 hours. Try running:
[code]
This should keep the connection between kubectl and the API server open.

[2017-11-30 15:09] kweisamx opened #56634 "The Device Plugin with normial network interface controller to Pod"
/sig network

I see the doc of kuberentes device plugin at this [link](https://kubernetes.io/docs/concepts/cluster-administration/device-plugins/)

Could I ask if the device plugin support normal NIC that we use in our server or computer for container?

Thanks

[2017-11-30 15:18] Blasterdick commented on #42594
@nikhiljindal could [this](https://github.com/kubernetes/kubernetes/issues/53566) be related ?

[2017-11-30 15:45] akhisharma-DevOps opened #56636 "Link one service to another service in Kubernetes"
I have individual kubernetes containers up and running. Can someone please help me how to link them? I have worked on docker compose and there it works like this:

![image](https://user-images.githubusercontent.com/25716046/33439327-2f03503c-d613-11e7-8607-938927f9cecf.png)

But when coming to kubernetes, I have no clue how to proceed. I have service and deployment files created after using kompos

[2017-11-30 15:47] akhisharma-DevOps commented on #56636
/sig dependency-resolution

[2017-11-30 15:47] messmerxx opened #56637 "CPU/Memory resource not allocated on a windows server 2016 node"
**this is a BUG REPORT**:

**What happened**:
I have created a kubernetes cluster with one master (linux ubuntu) and one node (windows server 2016) in AWS environment. After i can use RDP to remotely log into the windows server 2016 node. on this node, i have downloaded kuberntes releases for windows node (kubectl, kubelet etc.).

I can start kubelet to connect to the api server (master). the node

[2017-11-30 16:04] messmerxx commented on #56637
/sig windows server 2016
/sig windows node

[2017-11-30 16:05] terencechow commented on #56628
Unfortunately I'm not seeing any difference when using HTTP keepalive.

[2017-11-30 16:14] ron212 commented on #54753
I also have the same issue, when i add secret to job

[2017-11-30 16:23] cmluciano commented on #21070
I think this has already been address in the componentconfig for kube-proxy.

[bind-address](https://github.com/kubernetes/kubernetes/blob/7f8521819d3677c98cf88344d8cbee0b72a681ab/cmd/kube-proxy/app/server.go#L128)
[ipv6 bind-address](https://github.com/kubernetes/kubernetes/pull/55972)
[componentconfig flag](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server.go#L119)
[

[2017-11-30 16:41] JiangtianLi commented on #55031
@marono Okay, I'll let you do it and test on both VMware and HyperV machine. Also please add a few comment explain the total physical memory obtained from GlobalMemoryStatusEx and GetPhysicallyInstalledSystemMemory (https://msdn.microsoft.com/en-us/library/windows/desktop/cc300158(v=vs.85).aspx) and in parity with Linux's MemTotal from /proc/meminfo (used for Linux node). Thanks.

[2017-11-30 16:45] iMartyn commented on #36601
Another thing to think about if using CronJobs is timings - If you want something running at intervals on all your nodes, you probably don't want them running on the same minute (stampede)  this would be a case for something like a ~ operator, for instance :
[code]
could run at close to :05 every hour, but if determined randomly by the node, (whilst possible, not likely) should not run on all node

[2017-11-30 17:13] Morriz commented on #50451
Any updates on this? I assume more people would like to tighten their net, and only allow certain pods access to certain pods in another namespace. To do cross namespace policing we have to resort a combination of `namespaceSelector: {}` AND `ports:` which is kinda rough. Or am I missing something?

[2017-11-30 17:23] mmanishpandey opened #56640 "Kube proxy issue |area/kube-proxy"
Is this a BUG REPORT

 /kind  bug

Gettting following error in kube proxy logs  , this kube proxy runing on master node
.12.154:6443: getsockopt: connection refused
E1114 19:39:40.157790       1 reflector.go:201] k8s.io/kubernetes/pkg/proxy/config/api.go:49: Failed to list *api.Endpoints: Get https://10.196.12.154:6443/api/v1/endpoints?resourceVersion=0: dial tcp 10.196.12.154:6443: getsockopt: co

[2017-11-30 17:24] #56588 closed

[2017-11-30 17:25] jayunit100 commented on #30716
So , as of now im assuming *no* we dont / can't encrypt data in configmaps.

[2017-11-30 17:37] mmanishpandey commented on #56640
/sig area/kube-proxy

[2017-11-30 17:39] rphillips commented on #56234
@dashpole opened PR https://github.com/kubernetes/kubernetes/pull/56641 with the help of @squeed . CoreOS defaults to using the actual size instead of the apprent size.

[2017-11-30 17:48] dashpole commented on #55649
#56433 is in.  This fix will be in 1.8.5 when it is cut.

[2017-11-30 17:48] #55649 closed

[2017-11-30 17:50] dashpole commented on #48703
Fix will be in 1.8.5

[2017-11-30 17:51] dashpole commented on #56637
cc @kubernetes/sig-windows-bugs

[2017-11-30 17:52] mmanishpandey opened #56642 "Kube proxy issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened*

Getting following issue in kube proxy running on master Node

**What you expected to happen**:

.12.154:6443: getsockopt: connection refused
E1114 19:39:37.146635       1 reflector.go:201] k8s.io/kubernetes/pkg/proxy/config/api.go:49: Failed to list *api.Endpoints: Get https://10.196.12.154:6443/api/v1/endpoints?resourceV

[2017-11-30 17:54] cblecker commented on #56640
Duplicate of #56642

[2017-11-30 17:54] cblecker commented on #56640
/close

[2017-11-30 17:54] #56640 closed

[2017-11-30 17:54] cblecker commented on #56642
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-11-30 17:54] #56642 closed

[2017-11-30 18:05] bgrant0607 commented on #36601
A once-per-node cronjob would be non-trivial to make it work reliably, since pods won't necessarily be able to schedule on all selected nodes. Theoretically that problem  exists for Jobs already, but probably isn't as much of a problem in practice.

Running an actual DaemonSet solves that problem. Could cron be put into a container?

[2017-11-30 18:11] mtaufen commented on #56516
Should be ok to move the constants to a common place.

[2017-11-30 18:12] messmerxx commented on #56637
Hi dashpole, with "cc @kubernetes/sig-windows-bugs", will this issue be sent to the mailing list? Thanks a lot. hope, i will get a response as soon as possible.
it should be a fundamental problem to deploy applications in windows server 2016 with containers.

[2017-11-30 18:14] michmike commented on #56637
hi @messmerxx , which instructions did you use to set up your cluster?

[2017-11-30 18:21] messmerxx commented on #56637
hi @michmike, thanks for your reply.
i followed the instruction like this:
https://kubernetes.io/docs/getting-started-guides/windows/

i have created a windows server 2016 node. on this node, i have downloaded kubernetes 1.8.3 binaries for windows node. on the node, i started the kubelet.exe. i can register this windows node with linux master successfully.

on the master, i ran "kubectl get node",

[2017-11-30 18:24] bowei commented on #45976
@markine -- can you file a different issue with your problem and link it here? I think what you are seeing is the fact that kube-proxy forcibly removes a conntrack entry for UDP when the deployment changes, otherwise the entry may persists forever if there is continual traffic flowing (the expiry timer will never fire). It may be that the ~100 requests were in flight and stranded by the removal.

[2017-11-30 18:25] foxish commented on #56416
I've investigated further. There's no obvious issue I can see - given that this is causing noise, we'll disable these tests in all the upgrade suites and re-enable them after the fix is found.

[2017-11-30 18:26] messmerxx commented on #56637
@michmike, i think kubelet installed on windows server 2016 node shall be able to allocate resources with kubelet options, right?

i started kubelet.exe with the following command:
PS C:\tools\node\bin> .\kubelet.exe --feature-gates "KubeletConfigFile=true,CPUManager=true" --hostname-override=10.121.
4.112 --resolv-conf="" --kubeconfig "C:\tools\node\bin\manifests\kubeconfig-linux" --node-labels "

[2017-11-30 18:28] michmike commented on #56637
@messmerxx  those instructions are outdated. we are updating them with v1.9 of k8s (to be released this month)

here's the most up to date instructions. https://github.com/apprenda/kubernetes-ovn-heterogeneous-cluster

can you please follow them instead?

[2017-11-30 18:32] messmerxx commented on #56637
@michmike : thank you very much for your information.

right now, i want to deploy my application with a simple kubernetes cluster. one master with linux, one node with windows server 2016.

everything else worked perfectly with 1.8.3. the problem is the cpu/memory allocation on windows node. why the cpu/memory "capacity" and "allocatable" always 0?

what could go wrong? any suggestions? thanks.

[2017-11-30 18:33] messmerxx commented on #56637
on the windows server 2016 i can create windows docker container images and run the containers successfully.

[2017-11-30 18:35] messmerxx commented on #56637
with kubernetes 1.8.3, provides kubelet options for windows to allocate the cpu/memory resources? Thank you very much for your reply.

[2017-11-30 18:47] bsteciuk commented on #56637
@messmerxx This is likely due to running kubelet 1.8.3, which would not have the work done in PR #50396 , which adds Windows server metrics.  I'm currently using a 1.9 kubelet (1.9.0-alpha.3 - which includes the changes made in that PR) on Windows Server 2016, and those node values are filled in for me:
[code]

[2017-11-30 18:52] bsteciuk commented on #56637
It's also worth noting, that if you're using Windows Server Core, #55031 will prevent that alpha from working for you.  This has been fixed and will be present in the next beta build due out soon.

[2017-11-30 18:58] jiayingz commented on #56022
Thinking about this problem a bit more, I wonder whether we may tackle this issue from the following approaches, ordered by their complexities:

1) Just return an error whenever an init container requests a device plugin resource, and document in the device plugin user guide that requiring device plugin resource in init containers are not supported. This may be the short-term change we can try to

[2017-11-30 18:59] MrHohn opened #56645 "[CLEANUP] Remove left over feature gate checks for ESIPP"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind cleanup
/sig network

**What happened**:
Ref https://github.com/kubernetes/kubernetes/pull/56562, https://github.com/kubernetes/kubernetes/pull/45857, https://github.com/kubernetes/kubernetes/issues/46404.

There are a few left over feature gate checks in https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go and proba

[2017-11-30 19:02] messmerxx commented on #56637
@bsteciuk : thank you very much for your information.

my windows node has the this version info:
windows server 2016, Version 1607, OS Build 14393.1770.

so you mean with this windows server version, kubelet.exe will crash according to the bug report for kubernetes 1.9.3 alpha, am i right?

when exactly is the beta build?

thank you very much.

best regards,
Kejun Xu
![win_version](https://user-i

[2017-11-30 19:04] messmerxx commented on #56637
@bsteciuk my current windows is "Microsoft Windows Server 2016 Base with Containers - ami-ce7ac5a1
Microsoft Windows 2016 Datacenter edition with Containers" from AWS.

if i use "Microsoft Windows Server 2016 Base Nano - ami-c712ada8
Microsoft Windows 2016 Datacenter Edition Nano." from AWS, could it work with kubelet.exe from 1.9.3 alpha?
Thanks a lot!

[2017-11-30 19:04] davidz627 opened #56647 "GCE dynamic provisioning create volume int overflow possible"
/kind bug

**What happened**:
Integer overflow possible when creating a GCE PD. See
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/gce_pd/gce_util.go#L84

We could/should be using the Quantity type throughout. Or at least making sure if that value is above *max int64* to use the max int64 value or max disk size value instead of 0.

**What you expected to happen**:
Not overflow

**

[2017-11-30 19:04] davidz627 commented on #56647
/sig-storage

[2017-11-30 19:08] mikedanese commented on #44445
The original issue was resolved along with another that got rolled up into this. What is unresolved:

@gmarek

@davidopp

But these were side conversations to the original issue. If you guys think these are important to continue discussing, can you break out a dedicated issue?

[2017-11-30 19:08] #44445 closed

[2017-11-30 19:15] MrHohn commented on #54755
This seems obsolete now.
/close

[2017-11-30 19:15] #54755 closed

[2017-11-30 19:22] bsteciuk commented on #56637
@messmerxx The bug referenced above affects Windows Server Core, which is a stripped down, minimal variant of Windows Server, and since Nano is a stripped down Server Core, it's likely Nano would be affected as well.

I would expect that the 1.9.0-alpha.3 kubelet would run without hitting that bug on your Microsoft "Windows Server 2016 Base with Containers" machine.

[2017-11-30 19:23] MrHohn commented on #14661
Unassigning as GCE part was done.
/unassign
/remove-area platform/gce
/area cloudprovider

[2017-11-30 19:43] ixdy commented on #56253
We shouldn't push over the 3.0 tag; we should push a 3.1 or 4.0 tag instead.

I'm not sure who owns the pause container who should drive this. Maybe sig-node and/or @verb?

[2017-11-30 20:27] caesarxuchao commented on #49588
@roycaihw feel free to have a try.

[2017-11-30 20:45] bsalamat commented on #56429
The check that fails is:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/resourcequota/controller.go#L422

It is unfortunate that the ResourceQuota tests are located in the `scheduling` directory.
@derekwaynecarr Can you please take a look? This is blocking the release.

[2017-11-30 21:21] mtanino commented on #56149
@wenjun93

Which kubernetes version are you using? Is this same question of this issue?
https://stackoverflow.com/questions/41926177/kubernetes-rescheduling-of-pods-after-a-node-becomes-unreachable

When I tried to reproduced this problem, a pod with iSCSI volume wasn't automatically rescheduled when kubeket node went down. After Kubelet became `NotReady`, Pod became `Unknown` status but the pod w

[2017-11-30 21:21] lavalamp commented on #56018
cc @mml

[2017-11-30 21:22] lavalamp commented on #56044
/assign @yliaog

[2017-11-30 21:22] lavalamp commented on #56044
cc @Random-Liu

[2017-11-30 21:23] lavalamp commented on #56064
cc @jpbetz

[2017-11-30 21:23] thockin commented on #14661
Can you update what you think still needs to be done, and who should be
doing it?

On Thu, Nov 30, 2017 at 11:24 AM, Zihong Zheng <notifications@github.com>
wrote:

[2017-11-30 21:23] yujuhong commented on #53016
Is the test flaking or failing consistently?

[2017-11-30 21:26] lavalamp commented on #56135
cc @yliaog

[2017-11-30 21:27] lavalamp commented on #56203
@jpbetz

[2017-11-30 21:28] BenTheElder commented on #53016
It fails consistently on branches older than master it seems. We are using docker in docker on prow instead of some rather old docker on jenkins for this version though.

[2017-11-30 21:31] lavalamp commented on #56215
Your server version is "v1.2.0-rancher-1", are you sure this is the right place to file this bug? :)

What kubernetes version does that correspond to?

[2017-11-30 21:34] jberkus commented on #56416
If we're disabling this test, can we close the issue?  Or at least take it out of the milestone?

[2017-11-30 21:39] janetkuo commented on #56426
The `Cluster master cannot be upgrade to` bug has been fixed, which uncovered some underlying `[sig-instrumentation]` tests failures.

Closing this one as new bugs should be opened for`[sig-instrumentation]` test failures. cc @spiffxp

[2017-11-30 21:40] nikhita commented on #56018
For the record, from the discussion in https://github.com/kubernetes/kubernetes/pull/56055#issuecomment-345789060, `ConfigCompatibleWithStandardLibrary` works after a bump.

[2017-11-30 21:45] derekwaynecarr commented on #56429
My wife just had a child this week.  I’m not sure if i will have time to look at this.  I will try tomorrow morning.

[2017-11-30 21:47] jiayingz opened #56649 "Device Plugin Beta work tracker"
/kind feature

**What happened**:
The DevicePlugins feature was introduced in 1.8 Kubernetes release as an alpha feature.
Since then, we have seen good development work on stabling the feature as well as early adopters on using the framework to support device resources in Kubernetes.
This issue is to track the work requirements of entering this feature into beta.
FYI, here is list of requirements

[2017-11-30 21:47] derekwaynecarr commented on #56429
Is this test doing an upgrade or downgrade?  We have support for new quota resource names that would not be understood by 1.8 servers.

[2017-11-30 21:49] shyamjvs commented on #53327
Seems like this issue is seen again in the following run - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/738
It was a timeout while deleting namespace and the build-log suggests that it's because of undeleted pods. Reopening the bug for further investigation.

cc @dashpole

[2017-11-30 21:53] jberkus commented on #56414
If this is fixed, can we close the issue?

[2017-11-30 21:55] #52396 closed

[2017-11-30 21:58] az-z commented on #56590
@dixudx
Di,
 thank you for pointing out.

I spent the entire day today in a futile attempt to get the issue resolved.
Here are the steps and configurations i made.
i'd appreciate anyone guidance.
1. create deployments with nginx
[code]

2. create service - ClusterIP
[code]

3. create ingress controller
[code]
4. create ingress resource
[code]
5. Expect to see the non empty value in the ExternalIP

[2017-11-30 22:00] MrHohn commented on #14661
@ngtuna for CloudStack

[2017-11-30 22:04] shyamjvs commented on #53327
My strong feeling is that [your fix](https://github.com/kubernetes/kubernetes/pull/55026/files) is working almost as desired, except sometimes by chance it is failing to delete certain containers. One doubt I have is if your `toDockerContainerStatus()` function is handling all the cases properly (wrt container states)?

[2017-11-30 22:11] shyamjvs commented on #53327
Sadly, we don't have the hollow-kubelet logs for kubemark-5000 as we're not collecting them due to their explosive volume.

[2017-11-30 22:13] ironcladlou commented on #56121
There’s a reflector backing the shared informer for replicationcontrollers, and sometimes (when this bug manifests), the reflector’s watch loop (ListWatch) is returning due to:

[code]

and

[code]

When this happens, the reflector doesn’t restart ListWatch again until the full resync period hits. The net effect is the reflector isn't dispatching the rc events to the informer (and thus the GC), al

[2017-11-30 22:14] derekwaynecarr commented on #56429
what differentiates the gke specific tests from the gce specific tests?

for example:
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-cluster-new

it looks like the same test in concept, but not gke specific, and in that env, the quota tests are all passing

[2017-11-30 22:15] dashpole commented on #53327
The function is based on [toDockerContainerStatus](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/convert.go#L104) and [toRuntimeAPIContainerState](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/convert.go#L119).  It should be correct.  It is possible there is another bug somewhere.

[2017-11-30 22:17] bsalamat commented on #56429
Makes sense. Let me take a look then.

[2017-11-30 22:17] neverfox commented on #49926
Ran into this when trying a stateful set in 1.8 that works great in 1.7. It does *not* retry and instead puts the pod into a CreateContainerConfigError state (something that's new to me).

[2017-11-30 22:22] jberkus commented on #53006
Per Exception discussion, this portion of the feature is being removed from the milestone.  As such, changing the priority.

/priority important-soon

/remove-priority critical-urgent

[2017-11-30 22:25] yliaog commented on #56135
please try  "kubectl --v 10", also it seems it cannot connect to api server at all at the network level.

[2017-11-30 22:39] jiayingz commented on #56649
/sig node

[2017-11-30 22:41] gtie commented on #54138
@notjames, thanks for the hint! The upgrade to 1.8.3 solved the issue for our clusters.

As part of the upgrade, we enabled collection of etcd app metrics, and those show etcd's `process_open_fds` remaining constant (at 200-300 after days of usage, supported by manual spot-checks of netstat).

@fgbreel, is it possible that your conntrack metric is picking up something else than etcd connections?

[2017-11-30 22:43] yliaog commented on #56044
https://github.com/kubernetes/kubernetes/pull/55764 looks like fixed this.

now it's failing for other reasons, like:
W1128 22:06:27.727] ERROR: (gcloud.beta.compute.instances.create) Could not fetch resource:
W1128 22:06:27.727]  - The zone 'projects/kubernetes-scale/zones/us-east1-a' does not have enough resources available to fulfill the request.  Try a different zone, or try again later.

[2017-11-30 22:50] MrHohn commented on #55726
Error is not occurring anymore.
/close

[2017-11-30 22:50] #55726 closed

[2017-11-30 22:53] jbiel commented on #48703
We are seeing this on one of our clusters running `1.8.3-gke.0`. I found it while investigating 2 nodes that randomly reported memory and disk pressure today. They both reported pressure then cleared it ~3-4 minutes later. Looking at our metrics, I don't see that the nodes should have reported pressure (they're quite idle with a lot of free resources and our cluster doesn't churn much.)

Is it pos

[2017-11-30 23:06] dashpole commented on #48703
This definitely should not cause memory pressure.  1.8.3 contains this fix: https://github.com/kubernetes/kubernetes/pull/53840, which disables the feature that caused the original condition, so it should not cause disk pressure either.

The fix in 1.8.5 will cause the log line to no longer appear.

[2017-11-30 23:12] vikaschoudhary16 commented on #56022
I see this a very big limitation. Special devices/resources in init containers is a very common use case IMO. Therefore we should try to fix this.

This approach perfectly makes sense to me. What is your concern in implementing this?

Even today, IIUC, Allocate call is made per container. Is there any other value that this approach is adding over 1) ?

I am not able to see any gains with 2) or 3)

[2017-11-30 23:28] bsalamat commented on #56261
I also suspected that periodic resync would be prohibitively expensive, but I don't have any concrete numbers. If it is not acceptable, as @JorritSalverda said, we can stick to the first solution of removing the node when scheduler faces a "node not found" error. We should not remove the node right away. I'd suggest trying again to get the node and if the node is still not found, then remove it fr

[2017-11-30 23:40] jiayingz commented on #56022
I feel we may not be able to implement 2) for 1.9 timeframe. Option 2) also doesn't address the case @RenaudWasTaken mentioned above: https://github.com/kubernetes/kubernetes/issues/56022#issuecomment-348001390
Option 3) covers that case for pods without restarts. Option 4) fully covers the requirement we we will scrub old container data before giving it to a new container, even if they both run i

[2017-11-30 23:48] caesarxuchao commented on #56121
It seems it restarts the ListWatch after [r.period](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/cache/reflector.go#L207), which is always set to `time.Second`. (it's not the resync period).

[2017-11-30 23:59] sankate opened #56653 "fluentd-gcp throwing errors "No such file or directory""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After upgrading to k8s 1.7.10 I am seeing these errors

`fluentd-gcp: 2017-11-30 23:34:35 +0000 [warn]: emit transaction failed: error_class=Errno::ENOENT error="No such file or directory @ sys_fail2 - (/var/log/fluentd-buffers/kubernetes.containers.buffer..b55f3b6683f4036be.log, /var/log/fluentd-buffers/kubernetes.contai

[2017-12-01 00:03] mengqiy commented on #56414
/close

[2017-12-01 00:03] #56414 closed

[2017-12-01 00:06] jingax10 commented on #56449
I cannot reproduce it until today. Strange. Anyway, just close it :-)

/close

[2017-12-01 00:06] #56449 closed

[2017-12-01 00:29] jiayingz commented on #53548
Fixed with PR https://github.com/kubernetes/kubernetes/pull/53547
/close

[2017-12-01 00:29] #53548 closed

[2017-12-01 00:30] jiayingz commented on #53281
The test is now running stably.
/close

[2017-12-01 00:30] #53281 closed

[2017-12-01 00:40] m1093782566 commented on #21070
I mean an IP block instead of a single IP?

[2017-12-01 01:11] jiayingz commented on #56159
@vikaschoudhary16 as you are working on a common node-level checkpoint manager, you may also want to consider whether we need to persist checkpoint data upon node reboot. It seems this is not required by either device plugin checkpoint or dockershim checkpoint.

[2017-12-01 01:29] lichuqiang commented on #56022
How about make the allocation call optional? That is , if we find a contaienr using re-allocated devices, we'd try to issue an Allocate gRPC call first, and still use the cached setting if allocation failed.

And, if we decide not to address the issue in v1.9, which means we have enough time to work on it later, I think approach 2) might not be a good choice. Because it has a premise that devices

[2017-12-01 01:30] knightXun commented on #56215
/r/n is equal to /n ? maybe windows can't parse config file correcttly because /r/n

[2017-12-01 01:35] wenjun93 commented on #56149
@mtanino Sorry for not being clear, the case is, when the pod is created by replication controller, when pod became Unknown, a new pod will created with the same volume.

[2017-12-01 01:35] #56596 closed

[2017-12-01 01:46] FengyunPan opened #56657 "OpenStack load-balancer should have a node health-check"
Related to: #14661

/sig openstack
/assign

[2017-12-01 01:49] janetkuo commented on #56422
The fix was rolled out around midnight. Just waiting for the latest upgrade tests to finish before closing this.

[2017-12-01 02:05] lichuqiang commented on #56649
I'm ’a fan of probe model. I do feel to let plugin developers care about the re-registration after kubelet's restart seems unfriendly to some extent. And have received complaint from my colleague.

[2017-12-01 02:08] xiangpengzhao commented on #56594
This is caused by a missing `]` in the job config. PR https://github.com/kubernetes/test-infra/pull/5757 sent.

Job failure info:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-8-on-1-9/204

[code]

[2017-12-01 02:16] xiangpengzhao commented on #56504
update to avoid this issue to be removed from milestone :)

[2017-12-01 02:23] #56594 closed

[2017-12-01 02:25] ScorpioCPH commented on #56518
@jiayingz Hi, Just FYI, [tempSetCurrentKubeletConfig will restart kubelet](https://github.com/kubernetes/kubernetes/pull/54792#discussion_r151065335). Maybe it is helpful for you.

[2017-12-01 02:36] gogeof commented on #56135
@lavalamp @yliaog thanks for response
This cluster has been delete, I'm trying to make the problem reappear. After I success, I will add more detail log by run "kubectl --v 10".

[2017-12-01 02:49] jhorwit2 commented on #14661
@MrHohn This requires [at least v1.7.2](https://github.com/kubernetes/kubernetes/blob/50fa5637b6dc9538c908fbdd632ff1d3c59f65da/pkg/cloudprovider/providers/gce/gce_healthchecks.go#L34), correct?

[2017-12-01 02:57] jhorwit2 commented on #56636
@akhisharma-DevOps In order to get you help in a timely manner I'd suggest commenting on the [related issue in the kompose repo](https://github.com/kubernetes/kompose/issues/859) and/or joining the #kompose channel on [Kubernetes slack](https://kubernetes.slack.com/).

/assign
/close

[2017-12-01 02:57] #56636 closed

[2017-12-01 03:08] dims commented on #56631
/sig node

[2017-12-01 03:09] dims commented on #56653
/sig instrumentation

[2017-12-01 03:21] lichuqiang commented on #56022
@jiayingz I noticed that you have already add the limitation into the [document](https://github.com/kubernetes/website/pull/6501), so I think it's already the decision that we add the limitation as a short-time solution in v1.9
So I posted a PR to add the check in code,#56659, PTAL :)

[2017-12-01 03:24] xyalan commented on #54039
I have same problem in v1.8.3+coreos.0.

[2017-12-01 03:24] xiangpengzhao commented on #56516
@mtaufen PR #56516 sent. Please take a look, thanks!

@ixdy how can I verify this issue against the PR #56516 locally?

[2017-12-01 03:25] #56155 closed

[2017-12-01 03:28] liggitt commented on #55565
xref https://github.com/kubernetes/kubernetes/issues/17549

[2017-12-01 03:28] dixudx commented on #54039
@xyalan Currently the fix is in v1.9 and master branch. Not available for v1.8.

@wojtek-t Shall we cherry-pick to v1.8?

[2017-12-01 03:28] fejta-bot opened #56662 "Failure cluster [811532...] failed 64 builds, 6 jobs, and 1 tests over 1 days"
### Failure cluster [8115328da043128c7c1c](https://go.k8s.io/triage#8115328da043128c7c1c)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    6 jobs failed,    64 builds failed.
Failure stats cover 1 day time range '30 Nov 2017 01:58 UTC' to '1 Dec 2017 01:58 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| SkewTest | 6 |

##### To

[2017-12-01 03:28] fejta-bot opened #56663 "Failure cluster [2ea637...] failed 58 builds, 4 jobs, and 2 tests over 1 days"
### Failure cluster [2ea63779dca6246a1ce3](https://go.k8s.io/triage#2ea63779dca6246a1ce3)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    4 jobs failed,    58 builds failed.
Failure stats cover 1 day time range '30 Nov 2017 01:58 UTC' to '1 Dec 2017 01:58 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-apps] statefulset-u

[2017-12-01 03:30] samlyhuang opened #56664 "dns can not be resolved in nginx lua script"
docker version:17.09.0
system version: CentOS Linux release 7.2.1511 (Core)
kubernetes version : 1.6.2

I  have a problem in k8s dns.

In a websocket container, when I use lua script in nginx service,this is a global config:global_params.lua ,the content of file is below:

[code]

then run nginx service in websocket containers ,it will show same message in error.log:
`redis-server can not be resol

[2017-12-01 03:37] ScorpioCPH commented on #56649
Hi, for cluster reliability, I think we need more test cases, including scale and soak tests, to simulate more production scenarios.

[2017-12-01 03:41] mtanino commented on #56149
@wenjun93
When I create a pod with iSCSI volume in replicaset, after kubelet node2 goes down, new pod was rescheduled on another node(kubelet node1) with same iSCSI volume but the new pod didn't never come up since multiattach isn't permitted.

`Multi-Attach error for volume "pv0001" Volume is already exclusively attached to one node and can't be attached to another`

I think this is your expected

[2017-12-01 03:43] jhorwit2 opened #56665 "Add support for out-of-tree cloud providers to run service e2e tests"
Currently the [service e2e tests](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go) are highly coupled to specific cloud providers (mainly GCE and GKE). We need to have the ability to run the service e2e tests for any cloud provider in a declarative rather than imperative way (see below example)

https://github.com/kubernetes/kubernetes/blob/c933067cd3cfa81349446b92

[2017-12-01 03:52] wenjun93 commented on #56149
@mtanino Thanks so much for your testing, the code [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/populator/desired_state_of_world_populator.go#L108) will remove terminated pod from desiredStateOfWorld, will the pod not be deleted after a while?

[2017-12-01 04:09] liqlin2015 commented on #56574
Thanks @liggitt

[2017-12-01 04:13] mtanino commented on #56149
@wenjun93
There are two dswp, one is in kubelet and the other is in a/d controller. Your link is a/d controller's one.
I believe steps are;
- A/D controller is referring  kubelet's dsw therefore if kubelet node2 goes down and never come back, a/d controller's dsw isn't updated.
- As a result, if there is a pod with volume on kubelet node2 which goes down, a/d controller considers that the volume i

[2017-12-01 04:13] ramikhalaf opened #56666 "get pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-12-01 04:13] #56666 closed

[2017-12-01 04:20] mtanino commented on #56149
The feature to prevent multiattach for iSCSI plugin is available from Kubernetes v1.8.

[2017-12-01 04:21] fengyu10 commented on #56631
@luksa According to the way you perform,
date && kubectl exec gputest-zzjn6 --namespace=hdp-teu-dia -- /bin/sh -c "for i in {1..5}; do echo 'sleeping for 1 hour'; sleep 3600; done" && date
![image](https://user-images.githubusercontent.com/31887880/33467783-fbe84156-d691-11e7-91b6-43e96829f8ef.png)
Run the command over an hour!!!
Why this happens???

[2017-12-01 04:49] liggitt commented on #56381
What version of the API server are you seeing this against?

[2017-12-01 05:13] andyzhangx commented on #56005
@kubernetes/sig-windows-feature-requests

[2017-12-01 05:22] MrHohn commented on #14661
@jhorwit2  Thanks for mentioning, that is correct. v1.7.2 is the earliest k8s version that kube-proxy properly serves healthz port. We should probably make it a global const somewhere.

[2017-12-01 05:22] verb commented on #56253
It seems like it should be sig-node. I'll look into it.

[2017-12-01 05:31] vladimirvivien opened #56667 "Type VolumeHost should return node name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In-tree volume API does not have an easy way to access NodeName of currently running node.  This is needed specifically for the in-tree CSI volume plugin.

[2017-12-01 05:33] vikaschoudhary16 commented on #56022
@jiayingz @RenaudWasTaken

**Use Case:**
Let say there is a  which node has two Devices of a resource type X and the device IDs are X1 and X2. User pod has one init container, lets call it cont-init and one regular container, lets call it cont-reg. Both cont-init and cont-reg requests 2 unit of resource X. cont-init will run some vendor specific code on allocated Devices and then cont-reg will use

[2017-12-01 05:43] fengyu10 opened #56669 "Run the tensorflow task, Why container mount /dev/nvidia1, using /dev/nvidia0 tensorflow?"
Uncomment only one, leave it on its own line:
/kind feature

**What happened**:
### create pod file:
[code]
I run the tensorflow task inside the container, have a CUDA_ERROR_UNKNOWN mistakes, More log as follows:
[code]
### Other instructions
Container to run the command: ls /dev
[code]
The host machine run the command: ls /dev
[code]
### The problem
* why didn't containers/dev/nvidia0 equipment?

[2017-12-01 05:50] akhisharma-DevOps commented on #56636
@jhorwit2 this is not related to kompose. I guess you misunderstood the issue. What I'm asking is how to link services in kubernetes as we do in docker.
You just saw annotations of kompose as it converted docker-compose to kubernetes manifest files. But my real question is something else.

[2017-12-01 05:54] lichuqiang commented on #56022
@vikaschoudhary16
I think in RenaudWasTaken 's case, the initialization task is considered to be managed in the plugin, not in init-container, and in init-container we only _use_ the device, so then we might need to call plugin to do recycle action before the device reused by reguler containers.
In practical use, both of the two scenarios may exist, it depends on the request of user.

Besides, if

[2017-12-01 06:02] gyliu513 opened #56670 "apiserver connect to etcd may cause calico node failed to start"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After I install Kubernetes finished, then start to install calico, found that calico node failed to start.

[code]
[code]

calico node reports 9099 was used. Then check who is using 9099, found that apiserver using 9099 to connect to etcd. After restart apiserver, the calico node can start up successfully.

[code]
[code]

[2017-12-01 06:04] amanrawka opened #56671 "Nginx C"
Hey
I was trying to set the cookies in the browser using nginx C but not able to change the cookies in the browser, I am making changes in the headers_out.headers in that I am making changes in Set-cookies parameter. The changes are reflected in  the logs, but not able to see in the browser. Also when I reload the page the default cookies gets restored.

Looking for a solution.

[2017-12-01 06:12] vinayus commented on #56636
Maybe this can help you to link containers. Simple example:

[code]

[2017-12-01 06:14] porridge commented on #56052
ACK. In progress: causes of previous failures were fixed, it's now suffering from [prow-related test-infra instability](https://github.com/kubernetes/test-infra/issues/5700) after it has been moved from jenkins.
ETA: 02/12/2017 (when the next run should complete)
Risks: if causes https://github.com/kubernetes/test-infra/issues/5700 is unfixed, the job can as last resort be moved back to jenkins

[2017-12-01 06:31] islinwb commented on #39180
@lukaszo @kargakis  Hi! Any theories on why the number of iterations is set to "300" (not larger). Error occured in our code based on v1.7.3:
`--- FAIL: TestDefaulting (0.60s)
	defaulting_test.go:181: expected /v1, Kind=EndpointsList to trigger defaulting due to fuzzing
FAIL`
It passes after I changed it to 500. The actual iter times is 427.
Does the actual iter times varies randomly? The actual i

[2017-12-01 06:39] thockin commented on #14661
Should we be doing this atthe Service controller level, or should this
simply be an implementation detail - if a cloud wants to do it, they should
do it, but it should not be part of Service Controller?

especially as we move towards Cloud Controller Manager ...

On Thu, Nov 30, 2017 at 9:22 PM, Zihong Zheng <notifications@github.com>
wrote:

[2017-12-01 06:41] SukantGujar opened #56672 "Weird connection performance behavior on NodePort based service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We are experiencing very weird connection speed issues on a NodePort based Nginx setup. Here's what our setup looks like:

1. There's a Master cluster and then there are several Tenant Clusters.
2. The Master cluster has a NodeJS based gateway proxy which is exposed at port 80/443 as a  k8s LoadBalancer service.
3. Every

[2017-12-01 06:50] thockin commented on #56018
If we think that is the right answer, doing a bump is pretty easy.  Can we
get a PR with a test case that fails, so we can fix the test case with a
jsoniter bump?

On Thu, Nov 30, 2017 at 1:40 PM, Nikhita Raghunath <notifications@github.com

[2017-12-01 06:52] xujieqwe commented on #56320
I like this idea. However, I concern about the loopback interface implementation of IPVS.
I've tried some methods to make 127.0.0.1:nodeport accessible, but still didn't work.

[2017-12-01 06:58] andyzhangx opened #56674 "Sleep 25s after creating a new azure storage account is unnecessary"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I found azure cloud provider will always sleep 25 seconds after creating a new azure storage account:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_blobDiskController.go#L531
Actually it's not necessary now, since it's already using sync way to create a storage account:
https:

[2017-12-01 07:16] SukantGujar commented on #56672
/sig network

[2017-12-01 07:22] vikaschoudhary16 commented on #56022
It is the init containers' job to initialize things and if in some special case device plugin is doing the initialization part, in that case, init containers will not be needed and serve no purpose in pod spec.
Specific to @RenaudWasTaken example of memory scrubbing, i think this also makes more sense to be done in init container. Once Device's memory is scrubbed, it can be used by regular contain

[2017-12-01 07:23] stewart-yu commented on #56674
Fix first link: [https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_blobDiskController.go#L531](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_blobDiskController.go#L550)

[2017-12-01 07:25] vikaschoudhary16 commented on #56022
/cc @nqn @sjenning @jeremyeder @tengqm @ConnorDoyle

[2017-12-01 07:27] luksa commented on #56631
@fengyu10 is your `/bin/sh` actually busybox? if so, it doesn't handle `for i in {1..5}`properly. Instead, use `for i in 1 2 3 4 5` or ``for i in `seq 1 5` ``

[2017-12-01 07:29] andyzhangx commented on #56674
yes, I am testing the fix now...

[2017-12-01 07:36] porridge opened #56677 "Multiple unchedulable nodes in 1.8 100-node scalability test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scalability-bugs
/severity failing-test
umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

**What happened**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/251 timed out waiting for nodes to schedule:
[code]

[2017-12-01 07:43] porridge commented on #56044
If you think it's fixed, let's close this one.
/close
We'll reopen if it reappears.

[2017-12-01 07:43] #56044 closed

[2017-12-01 07:55] lichuqiang commented on #56022
@vikaschoudhary16
Yep, it could work if the plugin behavior the way you described, but I'm not sure if all kinds of devices could support "pre-allocation", that is, doing allocation on a same device multiple times at the same time, to prepare runtime informations for several containers that reuse the device.
Also I have no idea if all plugin developers consider there plugins "stateless", that is,

[2017-12-01 08:03] porridge commented on #56053
Now a similar thing happened in master:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8494
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8500

![podstart](https://user-images.githubusercontent.com/489420/33473373-83c2f3c6-d676-11e7-8877-e17838ce5e56.png)

[2017-12-01 08:05] nikhiljindal commented on #42594
@Blasterdick No this is not related. Jianhuiz pointed out the root cause for that in: https://github.com/kubernetes/kubernetes/issues/53566#issuecomment-340565304. Its a bug in federation deployment controller. Doesnt require any change to kubectl.

Unassigning since am not working actively on this anymore.

[2017-12-01 08:07] m1093782566 commented on #55923
After discussing in sig-network, I think I already have a clear map.

Let's fix it.

/assign

[2017-12-01 08:13] nikhiljindal commented on #53566
Removing sig/cli label since as Jianhuiz [pointed out](https://github.com/kubernetes/kubernetes/issues/53566#issuecomment-340565304), this is due to a bug in federation deployment controller and does not require any code change to kubectl.

cc @irfanurrehman This should be moved to the new kubernetes/federation repo?

[2017-12-01 08:13] yue9944882 commented on #56381
@liggitt  I'm using v1.7.8

[2017-12-01 08:14] wenjun93 commented on #56149
@mtanino
`A/D controller is referring kubelet's dsw therefore if kubelet node2 goes down and never come back, a/d controller's dsw isn't updated.`

What's the way `A/D controller is referring kubelet's dsw`? The way A/D controller communicate with node2's kubelet is `node.Status.volumeAttached` saved in apiserver , when node2 goes down and became notReady, A/D controller will still manage the node

[2017-12-01 08:15] #51814 closed

[2017-12-01 08:27] ahume opened #56682 "AssumePod failed when scheduling StatefulSet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Pod created by StatefulSet failed to schedule, with error:

[code]

**What you expected to happen**:

Pod scheduled to node correctly.

**How to reproduce it (as minimally and precisely as possible)**:

I don't yet have reproducible steps, from a fresh cluster. I'm using the Prometheus Operator to create a StatefulSet running alert

[2017-12-01 08:29] porridge opened #56683 "Advanced Audit tests failing in 5k node cluster despite retries"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-auth-bugs
@kubernetes/sig-scalability-misc
/priority failing-test
/priority critical-urgent
umbrella issue: https://github.com/kubernetes/kubernetes/issues/55194
Please investigate ASAP, this broke a release-blocking job.

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gc

[2017-12-01 08:31] gyliu513 commented on #56670
it seems to be a system configuration mistake

[code]

[2017-12-01 08:31] #56670 closed

[2017-12-01 08:35] porridge commented on #55194
ACK. In progress
ETA: 03/12/2017
Risks: Apparently new regression: #56683

[2017-12-01 09:20] chentao1596 commented on #56617
/cc

[2017-12-01 09:22] ahume commented on #56682
/sig scheduling

[2017-12-01 09:31] linyouchong commented on #56617
/cc

[2017-12-01 09:32] dixudx commented on #56682
This pod is supposed to be bound to a node successfully, but failed. However the pod gets assumed in the scheduler cache.

@ahume Have you tried to fully delete the pod and sts, since it may take several mins for gc? And retry again.

/cc @kubernetes/sig-scheduling-bugs

[2017-12-01 09:37] m1093782566 commented on #55923
I believe this can be fixed by #56685 .

[2017-12-01 09:48] ChipmunkV commented on #44752
@shettyg, is there a deb package with 0.5.2 CNI?

I am getting the same errors, but the networking is actually broken in some places: some services are unreachable and I see that the iptables rules for them are in fact incorrect. (using bridge network plugin)

[2017-12-01 10:04] Lion-Wei commented on #54497
@cmluciano Hi, I work in Huawei, this  problem does lead some safety concern in our product, id you don't mind, I think I can give a shot. Thanks.

[2017-12-01 10:11] dixudx commented on #56476
@chenqy930 Please move this issue [kubeadn](https://github.com/kubernetes/kubeadm).

Also can you run `kubectl config view` to verify the server address defined in cluster.

[2017-12-01 10:17] karataliu opened #56686 "Azure internal loadbalancer with user specified IP broken"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
E2E case `[It] should be able to create an internal type load balancer [Slow] [DisabledForLargeClusters]` fails on Azure

[code]

Error log is:
[code]

In #55740, determinePublicIPName is called even if internal load balancer wanted, and static IP specified. But it will fail when user specifies a static IP.

This is a regr

[2017-12-01 10:22] karataliu commented on #56686
/sig azure

cc @jdumars
This works in v1.9.0-beta.0, but fails in v1.9.0-beta.1 . Could consider a v1.9 issue.

[2017-12-01 10:45] ChipmunkV commented on #47294
Same thing with bridge. It actually affects the connectivity between pods.

Kubernetes 1.6.3, CNI 0.5.1, Docker 17.06.2.

[2017-12-01 10:54] crassirostris commented on #56683
/assign @loburm

Please take a look

[2017-12-01 10:58] Lion-Wei opened #56689 "make ipvs 'cleanupIptablesLeftovers' simplier"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Kube-proxy ipvs mode use `GetChainLines` and `Restore` delete iptables rule for now.
But ipvs created iptables rules are specific. We can use `Flush` and 'Delete` instead of restore whole table.

[2017-12-01 11:00] Lion-Wei commented on #56689
/sig network
/area ipvs

[2017-12-01 11:31] porridge commented on #55779
Another interesting observation is that shortly before the event, at 21:37:48.895264 we see 'ScalingReplicaSet' Scaled up replica set kube-dns-74dbf45884 to 385 (from 313).
Then, shortly after, at 21:38:15.104060 it's scaled down to 334.

[2017-12-01 11:32] fgbreel commented on #54138
@gtie I double checked with `netstat/ss` and new connections is being created, but it's okay with this rate.

![screen shot 2017-12-01 at 12 24 42](https://user-images.githubusercontent.com/893920/33481068-39855db8-d693-11e7-971f-2be700df48ad.png)
![screen shot 2017-12-01 at 12 24 35](https://user-images.githubusercontent.com/893920/33481070-399de9fa-d693-11e7-8c1b-8b152f9f4ded.png)

Maybe we can

[2017-12-01 11:38] lukaszo commented on #39180
@islinwb see the comment from the @smarterclayton  https://github.com/kubernetes/kubernetes/pull/39181#issuecomment-269025245

[2017-12-01 11:56] shyamjvs commented on #55779
FWIW - kube-dns replicas are controlled by kube-dns-autoscaler (which is another deployment) - https://github.com/kubernetes/kubernetes/blob/607c3d69670d624fef86ac21dd9f64ac16dde558/cluster/addons/dns/kube-dns.yaml.base#L69-L72

[2017-12-01 12:18] porridge commented on #55779
This is the kube-dns replica size in time:

![chart](https://user-images.githubusercontent.com/489420/33482504-a4447944-d699-11e7-8724-f0e2cada255d.png)

That slope is an artifact of the graphing tool - imagine it's a stepped graph for a moment.

Anyway, this is weird, because according to [the docs I've found](https://kubernetes.io/docs/tasks/administer-cluster/dns-horizontal-autoscaling/#underst

[2017-12-01 12:21] porridge commented on #55779
@MrHohn you seem to be the owner of this addon, can you comment on the above behavior of DNS autoscaler? Could it be that the docs are outdated, and something else could influence its decisions?

[2017-12-01 12:32] porridge commented on #55779
The strangest thing is that the replica count goes *up* first. I could understand if some test does something naughty and causes some nodes to seemingly disappear from the autoscaler's radar. But this looks like some extra nodes appeared, or their shape changed!

[2017-12-01 12:35] rakeshkulkarni6 opened #56693 "Kube-DNS crashloopbackoff"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have deployed kubernetes cluster usiing acs-engine in azure . After deployment my kube-dns pods were working perfectly but after two days machine got rebooted Kube-DNS is not working and it went into crashloopbackoff mode.
**What you expected to happen**:
Kube-DNS pods should be running properly
**How to reproduce it (as minimally

[2017-12-01 12:36] porridge commented on #55887
FWIW, I happened to stumble on possibly relevant warnings in controller manager log from the failing test (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/28)

[code]

[2017-12-01 12:36] yastij opened #56694 "update eventRecorder to handle event series using the new Event API group"
before working to start working on #56514 , we need to make changes to the eventRecorder so that it can handles event series.

[The design doc.](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/events-redesign.md) shows how it will work.

/sig scalability

cc @gmarek

[2017-12-01 12:38] shyamjvs commented on #55779
I would suggest looking into the dns-autoscaler pod's logs in a running cluster (we currently have one running).

[2017-12-01 12:40] messmerxx commented on #56637
@bsteciuk thank you very much for your information. i have tried the kubernetes 1.9.3 alpha version on my windows server 2016 node. and it worked!
thanks.

[2017-12-01 12:41] #56637 closed

[2017-12-01 12:41] porridge commented on #55779
Don't know if it's related, but the messages `gc_controller.go:62] PodGC is force deleting Pod: kube-system:e2e-image-puller-gce-scale-cluster-minion-group-*` show a similar pattern: lots of them during cluster set up, then an almost half an hour gap, and then again some of them peppered before and after the event:

[code]

[2017-12-01 12:41] ScorpioCPH opened #56695 "[e2e node] Pause pod created in GPUDevicePlugin test by makeCudaPauseImage() will be `CrashLoopBackOff` forever"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug maybe

**What happened**:

Container running in this pod will exec a command then `exit`, so this pod's status will be `CrashLoopBackOff` and it will restart periodically.
Maybe `restartCount` checking in the following steps seem like useless.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as pos

[2017-12-01 12:45] shyamjvs commented on #55779
I just checked the dns-autoscaler deployment on the 5k-node cluster and found that the autoscaling is configured as follows:

[code]

16 nodesPerReplica explains why we have that value of 313 replicas for 5k nodes. Also the initial rise in your graph is reasonable given that it was probably the time when new nodes were getting registered. The less steep increase after that is the part which intrig

[2017-12-01 12:52] RenaudWasTaken commented on #56022
This would defeat the purpose of a container.
In the case of GPUs, when you run a container you expect the GPU to always be in the same state.
Furthermore GPUs can't be shared (exclusive usage) between containers meaning that Init containers should behave in the same way as regular containers.
With the only difference being that they are executed sequentially and before regular containers.

Additi

[2017-12-01 13:02] porridge commented on #55779
The last output from the current run is roughly what I would expect it to be:
[code]

[2017-12-01 13:04] michmike commented on #56005
hi @andyzhangx, can you please join the sig-windows slack channel where windows development is happening. i would love to discuss this feature request at our next meeting. ping me in Kubernetes slack (mmichael) for details

[2017-12-01 13:08] RenaudWasTaken commented on #56022
@jiayingz I think it's a sane behavior to forbid the use of Device Plugin Resources in Init Containers for the 1.9 release

[2017-12-01 13:14] tengqm commented on #56022
moving forward, #56398

[2017-12-01 13:28] josrom commented on #46822
Have same issue i need the functionality to be able to delete pods from a node that has died:
Version 1.8 introduces an alpha feature that automatically creates taints that represent conditions. To enable this behavior, pass an additional feature gate flag --feature-gates=...,TaintNodesByCondition=true to the API server, controller manager, and scheduler. When TaintNodesByCondition is enabled, the

[2017-12-01 13:31] messmerxx opened #56696 "kubernetes-1.9.3alpha, weave-net sandbox pod can not be started "No such network: host" on windows server 2016 node"
**like a BUG**:

**What happened**:

i have a kubernetes cluster with a master (ubuntu linux) and a windows server 2016 node. on the windows server 2016 node, i have installed kubernetes binaries for windows node of version 1.9.3 alpha. on my windows node, i tried to execute kubelet.exe to register my windows node to master successfully. on the master, i have created a deployment, a pod shall be c

[2017-12-01 13:33] porridge commented on #55779
FWIW, the bump from 313 to 385 kube-dns pods would correspond to addition of ~1150 nodes (23% increase) all in one go. The overall increase of API latency (see graphs above) is on the order of what I would expect if that many nodes were added. Except there is no evidence of additional nodes in the api server logs. `perl -n -e 'print $1,"\n" if m{(/api/v1/nodes/[a-z0-9-]+)}' kube-apiserver.log |sor

[2017-12-01 13:37] messmerxx commented on #56696
/sig windows server 2016
/sig windows node

[2017-12-01 13:41] ironcladlou commented on #56121
Good catch! That leads me down another path...

[2017-12-01 14:07] messmerxx commented on #56696
kube-system   kube-dns-autoscaler-758959bc85-vvzmg                                   0/1       Pending   0          1h
kube-system   kube-dns-d46d5575c-nghk8                                               0/3       Pending   0          4m
kube-system   kube-dns-d46d5575c-vjwpf                                               0/3       Pending   0          2d
kube-system   weave-net-d52g9

[2017-12-01 14:12] rootfs commented on #56005
@andyzhangx would flex or csi work? There are already cifs flex drivers around.

[2017-12-01 14:12] porridge commented on #55779
I looked closer at [the DNS autoscaler](https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/blob/master/pkg/autoscaler/k8sclient/k8sclient.go#L142) code, and there's really just a simple loop over the results of `CoreV1().Nodes().List({Watch:false})`.

It looks as if the cause for all this instability is the fact that API server for some reason returned more nodes than there in

[2017-12-01 14:15] porridge commented on #55779
/remove-sig cli
I think it's pretty clear by now that the CLI test was just an innocent bystander.

[2017-12-01 14:17] arindam00 opened #56698 "kube-dns and dashboard is crashing with CrashLoopBackOff"
Is this a BUG REPORT or FEATURE REQUEST?:

Uncomment only one, leave it on its own line:

/kind bug
/kind feature
/sig priority
What happened:
I have deployed kubernetes cluster usiing acs-engine in azure . After deployment my kube-dns pods were working perfectly but after two days machine got rebooted Kube-DNS is not working and it went into crashloopbackoff mode.
What you expected to happen:
Kub

[2017-12-01 14:21] jhorwit2 commented on #56636
My apologies @akhisharma-DevOps. We're trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and
how to address common use cases. The recommended way to ask support questions is via [stackoverflow](http://stackoverflow.com/que

[2017-12-01 14:21] andyzhangx commented on #56005
@rootfs that's good question, I will try flex on Windows first, it's in my list.

[2017-12-01 14:29] andyzhangx commented on #56005
@michmike I am already in sig-windows, just mute in the group. And I am in China, the meeting time is too late for me, could you just paste your discussion result here? Thanks.
I raised this feature proposal just want to know whether there is some requiremnt for a new upstream SMB plugin, or a working cifs flex driver is enough?

[2017-12-01 14:31] messmerxx commented on #56696
code = Unknown desc = failed to start sandbox container for pod "weave-net-rz2pv": Error response from daemon:
No such network: host"
-------
the error message in the above logs. i tried to create a network  with "host" driver on windows node. but without success. the plugin can not be found.
No such network: host" --> does this error message mean that the "host" network driver is used?

[2017-12-01 14:33] andyzhangx commented on #56005
BTW, this month, azure released `Windows Server version 1709`, by this OS, azure disk & file mount  is already supported on Windows starting from v1.7.2.
You could find detailed info here:
https://github.com/andyzhangx/Demo/tree/master/windows#k8s-volume-support-on-windows-server-1709

[2017-12-01 14:36] gcstr commented on #54918
Same here

[code]

[2017-12-01 14:37] xiangpengzhao opened #56699 "version info in v1.9.0-beta.0 is incorrect."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig release
/sig cluster-lifecycle
/priority failing-test

**What happened**:
kubeadm-gce-upgrade-1.8-1.9 fails due to:
[code]
https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-kubernetes-e2e-kubeadm-gce-upgrade-1-8-1-9/158/build-log.txt

**What you expected to happen**:
Test succeeds.

**How to reproduce it (as minimally and

[2017-12-01 14:42] xiangpengzhao commented on #56699
@david-mcmahon I see you tagged https://github.com/kubernetes/kubernetes/releases/tag/v1.9.0-beta.0. Can you please help check this?

/cc @dashpole

[2017-12-01 14:46] micahhausler opened #56700 "Emit useful error with invalid instance types for AWS NLB services"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

An error is returned when creating an NLB service on a 1.9 cluster with M3 instance types. (among others)

[code]

**What you expected to happen**:

The NLB should omit the M3 instance as a target

**How to reproduce it (as minimally and precisely as possible)**:

Launch a 1.9 cluster in AWS with an M3 Instance class. Cr

[2017-12-01 14:47] micahhausler commented on #56700
/sig aws

[2017-12-01 14:59] akhisharma-DevOps commented on #56636
/open

[2017-12-01 15:10] MrConIB commented on #41936
Hi saurabhjha1,

In your Environment notes I see 8 Nodes and 2 infiniband switches but no additional info on type of switches or HCA´s.
When using Infiniband, are you using SM (Subnet Manager) on at least one of your switches or as a soft installation on one of your compute nodes?

if not that could be the problem you are experiencing

/Mattias

[2017-12-01 15:20] justinsb commented on #56700
Not entirely sure how we should go about this TBH.  Silently or quietly dropping nodes may be worse behaviour.  It might be better to raise a clear error, because users have a few options - they can change their instance type, or they can set the new annotation to exclude nodes: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/service_controller.go#L72-L74

ELBs still wo

[2017-12-01 15:23] micahhausler commented on #56700
Thats a good point. I wouldn't want any surprising behavior, or no nodes in service.

I'll add a PR to the NLB docs about using the `alpha.service-controller.kubernetes.io/exclude-balancer` annotation with older instance types.

Another option is to add another nlb-specific annotation, specifying that targets sohuld be registered by IP address. That would support all instance types, but you would

[2017-12-01 15:24] xiangpengzhao commented on #56699
Since 1.9.0-beta.1 has already been cut, I think we should update `gs://kubernetes-release/release/latest-1.9.txt`. and this should fix the test. @dashpole can you help update it?

[2017-12-01 15:27] xiangpengzhao commented on #56699
Another question, I don't find this job config in https://github.com/kubernetes/test-infra/blob/master/jobs/config.json. Am I missing something? @krzyzacy

[2017-12-01 15:41] soltysh commented on #54904
@foxish I've finally spend some time today looking into it, the backoff limit is properly reseted to 0 (see #56702, where I've added a test). There's one gotcha, though. If a controller notices both failure and success at the same time, it won't clear the retires, the question is should it?

[2017-12-01 15:41] micahhausler opened #56703 "AWS NLB service errors with more than one port"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

/sig aws

**What happened**:

Create an NLB service on 1.9 with 2 ports, and get this error:

[code]

Kubernetes is attempting to create the ICMP rule for MTU discovery once per port, resulting in an error. Creating a service with a single port does not experience this error.

**What you expected to happen**:

The service should be created

[2017-12-01 15:41] jsafrane opened #56704 "Double mounts on cluster created by kube-up.sh on Ubuntu"
Some mount propagation magic in Kubernetes on Ubuntu 16.04 on GCE duplicates every mount.

[code]

**Steps to reproduce**:
On recent master. install Kubernetes on GCE on Ubuntu:

[code]

Run a pod with a GCE PD volume:
[code]

The volume looks like it's mounted twice in `mount` output on the node:
[code]

Deleting this pod will unmount everything correctly in GCE PD case, however it won't unmount

[2017-12-01 15:45] shyamjvs commented on #56683
Discussed with @loburm about this offline. There were 2 attempts of the test. One of them failed with:

- 'unexpected end of JSON input' which is coming from [this line](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/auth/audit.go#L665) while parsing an audit log line. IMO we shouldn't be failing the test there as that line maybe:
  - an unrelated log wrt our e2e test (so we don't m

[2017-12-01 15:47] micahhausler commented on #56703
/kind bug

[2017-12-01 15:53] sttts commented on #55538
Are we talking about CRD or CR watch and protobuf? The later with protobuf obviously does not work, as commented.

[2017-12-01 16:02] rootfs commented on #56704
cc @jingxu97

[2017-12-01 16:31] #5644 closed

[2017-12-01 16:47] markine opened #56706 "UDP packet loss"
Hello. I am trying to characterize UDP packet loss I'm observing in a Kubernetes 1.7.2 cluster on AWS.

**The main questions to you**: (a) is the UDP loss rate below what you'd expect?; and (b) why does the loss rate change in response to server scale-ups and scale-downs?

This work started in attempts to debug intermittent DNS lookup failures. The DNS failure rate has decreased significantly when

[2017-12-01 16:47] markine commented on #45976
@bowei https://github.com/kubernetes/kubernetes/issues/56706

[2017-12-01 16:56] markine commented on #56706
/sig network

[2017-12-01 17:03] justinsb commented on #55538
@sttts I'm not sure "obviously" is correct - list works, for example.  IIRC watch with protobuf just silently fails to do anything - it doesn't return an error.

And yes I mean CR watch :-)

[2017-12-01 17:03] markine commented on #45976
@bowei Looking at the EC2 node hosting an echo server pod, each request/response packet pair creates its own conntrack entry that expires in 30 seconds. e.g.

[code]

[2017-12-01 17:15] dims commented on #56667
/sig storage

[2017-12-01 17:15] dims commented on #56669
/sig node

[2017-12-01 17:17] dims commented on #56671
/close

Can you please open one in the nginx project?

[2017-12-01 17:17] #56671 closed

[2017-12-01 17:17] dims commented on #56693
/sig network

[2017-12-01 17:17] dims commented on #56698
/close

duplicate of https://github.com/kubernetes/kubernetes/issues/56698 ?

[2017-12-01 17:17] #56698 closed

[2017-12-01 17:19] dims commented on #56664
/close

Does not look like a problem in kubernetes. can you try the nginx project please?

[2017-12-01 17:19] #56664 closed

[2017-12-01 17:24] MaciekPytel commented on #56335
Hi @rsd35410, @mattjmcnaughton,
Sorry for late reply. I think it makes sense to add more options to control HPA speed. I'd prefer a more systematic approach of having a wider discussion in sig on how to give users more control and improve HPA reaction speed in general, rather than just adding a few fields. However, we're already too late for 1.9 anyway and most people are stuck in last minute pre-

[2017-12-01 17:26] sttts commented on #55538
@justinsb it should obviously not work with protobuf, but in the sense that the negotiating serializer switches to JSON if you offer it json and protobuf as alternatives. This seems to be broken.

[2017-12-01 17:39] messmerxx commented on #55861
O have more or less similar problems. I can run docker run -d --name aspnet microsoft/aspnet
docker run -d --name nanoserver microsoft/nanoserver

But when I create a pod with master. It doesn't work. On my node,I see error message kube dns linux can not be downloaded. It is true, because the node is windows.
Is there kube dns image for windows? Thanks

[2017-12-01 17:49] spiffxp commented on #55194
Now tracking against v1.9.0-beta.2 (kubernetes/sig-release#39)

[2017-12-01 17:50] spiffxp commented on #56052
Now tracking against v1.9.0-beta.2 (kubernetes/sig-release#39)

[2017-12-01 17:51] spiffxp commented on #56244
Now tracking against v1.9.0-beta.2 (kubernetes/sig-release#39)

[2017-12-01 17:55] jiayingz commented on #56022
/cc @cmluciano @sameo @flx42 @3xx0

I think what long-term solution we decide to implement will largely depend on use-case requirements from different device plugins. Would like to hear some thoughts from different device plugin developers on this. Can people cc-ed in this issue take a look at the proposed options mentioned in https://github.com/kubernetes/kubernetes/issues/56022#issuecomment-3482

[2017-12-01 18:00] spiffxp commented on #56416
@jberkus Not yet, I would like to wait until I see runs of the affected jobs with results for other tests, but missing results for these misbehaving tests.  As currently configured, testgrid is going to continue to show these as failing until we have 10 consecutive runs missing results for them.

[2017-12-01 18:00] spiffxp commented on #56416
Now tracking against v1.9.0-beta.2 (kubernetes/sig-release#39)

[2017-12-01 18:06] RenaudWasTaken commented on #56022
- Solution 1 makes sense for the moment
- Solution 2 defeats the purpose of the device plugin, setting up a device before making it available to a container.
- solution 4 seems to be a sane solution.

As mentioned in my previous comment, as long as devices are exclusive, I expect the devices exposed in my container to be in the same state at the start of my container.

[2017-12-01 18:08] foxish commented on #54904
Hmm, that's a hard one - can we make that decision based on the actual numbers of those successes and failures? I imagine if we see 1 failure and 10 successes, the decision we want to take is different from when we see the inverse. @kow3ns for his thoughts.

[2017-12-01 18:10] jberkus commented on #47820
If these tests are non-blocking, can this issue be removed from the milestone?  Thanks.

[2017-12-01 18:13] krzyzacy commented on #56699
@xiangpengzhao ci/latest-x.x.txt is uploaded by https://github.com/kubernetes/release/blob/master/push-build.sh#L189-L191

[2017-12-01 18:15] spiffxp commented on #56426
/reopen
I'm not quite ready to close this yet because I see this test flipped back to failing around midnight here https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-master-gci-1.8-downgrade-cluster-parallel

but I do agree the sig-instrumentation test is a separate issue

[2017-12-01 18:16] spiffxp commented on #56426
Now tracking against v1.9.0-beta.2 (kubernetes/sig-release#39)

[2017-12-01 18:22] spiffxp commented on #56429
Now tracking against v1.9.0-beta.2 (kubernetes/sig-release#39)

FWIW this magically started passing:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new/1562
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new/1563

So it may have been a GKE-specif

[2017-12-01 18:24] spiffxp commented on #56422
Now tracking against v1.9.0-beta.2 (kubernetes/sig-release#39)

[2017-12-01 18:25] janetkuo commented on #56422
Verified that the latest `UpgradeTest` and `[sig-cluster-lifecycle]` has passed. Underlying upgrade test failures (`[sig-autoscaling]`) are exposed. Closing this one. New bugs should be opened for the underlying failures.

[2017-12-01 18:25] #56422 closed

[2017-12-01 18:28] luxas commented on #56699
`https://storage.googleapis.com/kubernetes-release/release/latest-1.9.txt` is now pointing to `v1.9.0-beta.1`, so I'd expect the next job run to succeed

[2017-12-01 18:31] janetkuo commented on #56426
The failures are different. All failing `BeforeSuite` are newly added. Suspect that affects other tests.

[2017-12-01 18:32] janetkuo commented on #56426
Un-assigning myself, as the original bug is fixed and verified.

[2017-12-01 18:33] spiffxp commented on #54574
Now tracking against v1.9.0-beta.2 (kubernetes/sig-release#39)

[2017-12-01 18:51] enisoc commented on #56699
@david-mcmahon and I believe this is a one-time problem due to a bug that existed at the time v1.9.0-beta.0 was built, but was then fixed in https://github.com/kubernetes/release/pull/465.

We also fixed the branch CI by retroactively updating the tag, but the wrong tag had already been baked into the v1.9.0-beta.0 binaries. We didn't consider that a problem because beta.0 is not an actual release

[2017-12-01 18:55] luxas commented on #56699
Thanks for the info @enisoc! With https://github.com/kubernetes/release/pull/465 merged I think we can close this then :+1:

[2017-12-01 18:55] #56699 closed

[2017-12-01 19:05] enisoc commented on #56348
I'm moving this to the v1.8 milestone because the bug existed since then, so it's not a show-stopper for 1.9. However, if the patch happens to be ready in time for 1.9.0, we will accept it.

[2017-12-01 19:09] janetkuo commented on #56244
@yguo0905 is going to take a look

[2017-12-01 19:14] markine commented on #56706
Modifying the client loop slightly to timestamp failures let me look at the traffic in more detail:

[code]

[2017-12-01 19:16] ericchiang commented on #56626
This is up to the install method and deployment tools. The Kubernetes API server doesn't have logic to do rotation.

For kubeadm's case, you'd need to use the CA kubeadm generates to sign a new serving certificate for the API server, replace the existing key and cert file on disk, then restart the API server.

You might want to ask in https://github.com/kubernetes/kubeadm/issues for kubeadm specif

[2017-12-01 19:16] #56626 closed

[2017-12-01 19:29] shyamjvs commented on #55589
@porridge Thanks for that much needed change. Note that you'll also have to build a new image and update it in the jobs for your change to take effect.

[2017-12-01 19:35] shyamjvs opened #56714 "Seeing a decrease in scheduler throughput"
Following from an offline discussion.
I'm noticing that the scheduler throughput of our latest successful [5k-node run](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/67/build-log.txt) seems to be ~300 pods per 10s:

[code]

IIRC it was considerably higher before. Also,

[code]

It's weird that it is that high in comparison with [2k-node](https://sto

[2017-12-01 19:37] shyamjvs commented on #56714
Indeed it seems like it decreased. Earlier it was:

E2E startup time for 150000 pods: 1h4m31.349005395s (in [run 52](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/52/build-log.txt))
E2E startup time for 150000 pods: 1h5m11.387550071s (in [run 54](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/54/build-

[2017-12-01 19:39] messmerxx commented on #56696
i have made some progress.

but now i still get the problem:
E1201 19:22:15.486973 5012 kuberuntime_manager.go:647] createPodSandbox for pod "weave-net-gt7pj_kube-system(ac13f23d-d6cb-11e7-a4cd-0289db2a7c18)" failed: rpc error: code = Unknown desc = failed to start sandbox container for pod "weave-net-gt7pj": Error response fro
m daemon: No such network: host

[2017-12-01 19:39] messmerxx commented on #56696
No such network: "host"

is a host network required?

[2017-12-01 19:46] messmerxx commented on #56696
@michmike what could be the problem?
failed to start sandbox container for pod "weave-net-gt7pj": Error response fro
m daemon: No such network: host

thank you very much for your reply.
best regards,
Kejun Xu

[2017-12-01 19:47] bsalamat commented on #56714
Are alpha features enabled in these tests? Scheduler uses a new alpha scheduling queue in 1.9. That might be causing the slow down.

[2017-12-01 19:53] ConnorDoyle commented on #49964
Discussion doc: [Use cases and requirements for Kubernetes hardware topology](https://docs.google.com/document/d/1dv3-se21ivEZhyRCr9qixvjyB_VRO2yIlotWb2kOdiw) (join `kubernetes-sig-node`, `kubernetes-dev`, or `kubernetes-wg-resource-management` mailing lists to view/comment)

[2017-12-01 19:56] shyamjvs commented on #55779
From the controller-manager logs, I managed to find the scaling events for the kube-dns replicaset:

[code]

So clearly the RS replica count was set to a higher value around that time transiently. And the count is computed by the autoscaler using #schedulable-nodes and #schedulable-cores (https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/blob/master/pkg/autoscaler/controller/

[2017-12-01 19:56] messmerxx commented on #56696
@michmike additional information:

this error is occurred while creating apprenda/pause image. here is a screenshot.

![weave](https://user-images.githubusercontent.com/19169562/33500685-f6c472ce-d6d9-11e7-9f35-93c70bf4c96c.png)

[2017-12-01 20:00] DirectXMan12 commented on #44033
if that's the case, then we're all set :-)

[2017-12-01 20:03] shyamjvs commented on #56714
@bsalamat Are those features turned on by default? Those jobs are mostly following the [default configs](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh) of kube-up. The only ones we're overriding are [these](https://github.com/kubernetes/test-infra/blob/master/jobs/env/ci-kubernetes-e2e-gce-scale-performance.env).

[2017-12-01 20:34] DirectXMan12 commented on #56335
Yeah, we've discussed this quite a bit in the past, and the conclusion has always been that the forbidden window is an implementation detail that we really shouldn't need at all, so we shouldn't expose it as a knob.  There's an argument to be made about a pragmatic approach, but even then, it probably shouldn't be an API field (at most an annotation).

As for the step field, I'm not certain as to

[2017-12-01 20:42] DirectXMan12 commented on #56165
Sounds like you're not using the walkthrough I linked to, but the Bitnami one.  In that case, you'd need to set up the Prometheus Operator first.

[2017-12-01 20:42] DirectXMan12 commented on #56165
If you have specific adapter problems, please file a bug against the Prometheus custom metrics adapter repository, and not here on the main Kubernetes bug tracker.

[2017-12-01 20:46] DirectXMan12 commented on #56430
@kubernetes/sig-api-machinery-bugs not sure what the root cause is here, but at the very least, we should have a way to disable OpenAPI aggregation fetching for a particular service, or at least it should back off more aggressively.

[2017-12-01 20:48] DirectXMan12 commented on #56430
cc @deads2k @mbohlool

[2017-12-01 20:57] bsalamat commented on #56714
@shyamjvs No, the new queue is off by default and the overrides that you linked do not enable it.

[2017-12-01 21:10] bsalamat commented on #56429
I spent some time yesterday looking into the code, but nothing seemed wrong and the fact that the tests were passing fine in non-GKE tests was indicating that a config problem on GKE must be causing the failure. If there has been any change of configuration on GKE in since yesterday, that might be what has fixed the issue.

[2017-12-01 21:38] deads2k commented on #56430
/assign mbohlool

[2017-12-01 21:47] calvix opened #56720 "kube-proxy get stuck if master is recreated on new instance"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Kube-proxy get stuck after master goes down and is recreated on a new machine.

We run `kube-proxy` as daemon set and under normal circumstances `kube-proxy` works fine.

We run k8s nodes as imutable instances and if there is reboot, stop or error,  the node is recreated as whole new machine with new ip,mac and everyhting.

[2017-12-01 22:02] janetkuo commented on #56426
Why are `BeforeSuite` failing, and why aren't them running before? Not sure if it's specific to any sig. Can someone from test-infra take a look?  @kubernetes/test-infra-maintainers

[2017-12-01 22:09] krousey commented on #56426
@janetkuo After the downgrade completes, another set of normal e2e test runs start. These are called the skew tests. The upgrade step runs to completion and is mostly successful (the HPA test is failing). After that, the next suite is trying some basic validation of the health of the cluster and running into this error:

[code]
You can ignore the other "BeforeSuite" errors. Ginkgo is running 25 no

[2017-12-01 22:09] bsalamat opened #56721 "Scheduler's priority queue should implement back-off mechanism when moving pods to the active queue"
/kind improvment

Scheduler in Kubernetes 1.9 has a new alpha-gated scheduling queue. This scheduling queue has an active queue and a list of unschedulable pods. When certain events occur, [pods are moved from the unschedulable queue to the active queue](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/core/scheduling_queue.go#L344). Scheduler should implement a back-off m

[2017-12-01 22:21] krousey commented on #56426
Pulled this from the build log on https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-master-gci-new-downgrade-cluster-parallel/905?log#log. Maybe someone can figure out what's going wrong.

[code]

[2017-12-01 22:56] grodrigues3 commented on #56426
@fejta guessing this might be test-infra related.  Can you PTAL?

[2017-12-01 23:01] krzyzacy commented on #56426
isn't it because downgrade is failing between run 898/899? it's odd that there's no k/k or test-infra changes involved.

[2017-12-01 23:02] krzyzacy commented on #56426
cc @MrHohn
https://k8s-testgrid.appspot.com/sig-release-1.8-all#gci-gke-1.8&width=20 is also failing with before suite - I suspect it's a gke issue @grodrigues3

[2017-12-01 23:07] mtanino opened #56725 "[e2e failure] [sig-storage] Volume plugin streaming [Slow] iSCSI fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When I run iSCSI e2e on my local environment, test in volume_io.go always fails.

[code]

[code]

**How to reproduce it (as minimally and precisely as possible)**:
- Start k8s using local cluster,
ALLOW_PRIVILEGED=true ALLOW_SECURITY_CONTEXT=true hack/local-up-cluster.sh

- Then run e2e
KUBERNETES_PROVIDER=centos KUBERNETE

[2017-12-01 23:08] mtanino commented on #56725
@rootfs @jsafrane
Any feedback?

[2017-12-01 23:10] MrHohn commented on #56426
/assign @MrHohn @dnardo

[2017-12-01 23:15] ConnorDoyle commented on #56022
Solution number 1 seems totally reasonable short-term.

Long term, simplifying and documenting the relationship between plugin callbacks and container lifecycle would help plugin authors.

[2017-12-01 23:20] mtanino commented on #56149
@wenjun93

Did you see Pod terminating of kubelet node2? I suppose this happens after kubelet service on node2 comes back again. correct?

After the pod was terminated, what's the status of pod and volume?
- Was the pod directory(/var/lib/kubelet/pod/poduid) unmounted and cleaned up successfully?
- Was the volume detached from kubelet node2 and plugin directory(/var/lib/kubelet/plugins/iscsi/...)

[2017-12-01 23:20] m1093782566 commented on #56143
fixed.

/close

[2017-12-01 23:20] #56143 closed

[2017-12-01 23:21] vkdrao4git commented on #54918
Same issue for me too

Dec 01 17:20:44 masternode kubelet[4766]: W1201 17:20:44.917510    4766 cni.go:196] Unable to update cni config: No networks found in /etc/cni/net.d
Dec 01 17:20:44 masternode kubelet[4766]: E1201 17:20:44.917852    4766 kubelet.go:2095] Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni confi

[2017-12-02 00:42] messmerxx commented on #56696
@michmike

i found one article. currently, cni networking is not supported on windows server 2016 by kubernetes. any work around to make weave-net pod running on windows node?

thank you very much.

https://blogs.technet.microsoft.com/networking/2017/04/04/windows-networking-for-kubernetes/

Today, with the publicly available versions of Windows server and client you can deploy Kubernetes with the

[2017-12-02 00:51] andyzhangx commented on #55861
@messmerxx you should not run a pod on master, it's not k8s way.
you could use `nodeSelector` to make sure that windows pod will run on Windows node, see example here:
https://github.com/andyzhangx/Demo/blob/master/windows/basic/aspnet-pod.yaml

[2017-12-02 00:55] enisoc commented on #55027
/assign @kow3ns
who is working on the docs change.

[2017-12-02 00:59] dnardo opened #56727 "GCE - configure-helper.sh - masquerade rules that were added in 1.7.11 and 1.8.4 get flushed."
It looks like when I cherry picked back the changes from pr/54838 I must have missed the part where we moved the flush up from where we star the kubelet to the configure firewall function.  This causes the rules to get flushed after we write them out.

Fix is to remove the the second flush and cherry pick it back into 1.7 and 1.8

[2017-12-02 01:00] dnardo commented on #56727
/sig network

[2017-12-02 01:02] MrHohn commented on #56727
/kind bug
/priority critical-urgent
/area platform/gce

[2017-12-02 01:09] MrHohn commented on #56727
cc @bowei @thockin

[2017-12-02 01:19] messmerxx commented on #56696
@michmike it seems to be that you are working on networking for containers on windows server 2016.

perhaps weave net is not yet supported for windows server 2016, can openVSwitch networking work with kubernetes 1.9.3 alpha in a kubernetest cluster with linux master and windows server 2016 node?

http://blog.kubernetes.io/2016/07/update-on-kubernetes-for-windows-server-containers.html

thank you v

[2017-12-02 01:22] MrHohn commented on #56727
Ref #54838.

[2017-12-02 01:29] bsalamat opened #56730 "Back-port scheduler cache panic fix to 1.8 and 1.7"
There was a bug in scheduler which is fixed in 1.9 and later as a part of [this PR](https://github.com/kubernetes/kubernetes/pull/55039). We need to backport it to 1.8 and 1.7.

The sequence of events to trigger this issue is:
 - Pod fails predicates, pod condition was updated with the predicate error.
 - Pod passes predicates
 - Pod fails bind, pod condition was updated with the bind error.

The

[2017-12-02 01:30] bsalamat commented on #56730
cc/ @yguo0905

[2017-12-02 01:45] xiangpengzhao commented on #56594
The test is green now :v:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-1.8-on-1.9

[2017-12-02 01:51] messmerxx commented on #55861
Thanks for your reply. I think I typed it wrongly.the pod will be deployed on node.after removing or cleaning up the kube dns colltrollers for the cluster,the problem is gone.

But I am not be able to start the weave net pod on my windows node.do you know why? Does k8s support weave net on windows server 2016? Thank you very much.

[2017-12-02 01:55] messmerxx commented on #55861
Which networking mode have you already tried? Did it work?@andyzhangx

[2017-12-02 02:17] JiangtianLi opened #56734 "Kubernetes Container Runtime Interface (CRI) doesn't support WindowsContainerConfig and WindowsContainerResources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
Currently Container Runtime Interface (CRI) only supports LinuxContainerConfig and therefore LinuxContainerResources in ContainerConfig. Windows resource config is different from Linux's, although it shares some common properties. For example, docker's resource config for both platforms: https://github.com/moby/moby/

[2017-12-02 02:18] JiangtianLi commented on #56734
/sig windows
/sig node

[2017-12-02 02:21] JiangtianLi commented on #56734
@PatrickLang @taylorb-microsoft @feiskyer

[2017-12-02 03:17] noprom opened #56735 "Unable to mount volumes for pod "mypod_default(0d57f079-d709-11e7-94c9-00163e30bcc9)": timeout expired waiting for volumes to attach/mount for pod "default"/"mypod""
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
I am using Aliyun Kubernetes service to create my cluster, first of all, I created a NAS on the cloud provider, and the path is: 188864a977-ojm24.cn-beijing.nas.aliyuncs.com
Then, I use the following file to create my PesistentVolume:
[code]
And I got the right result:
[code]

Then I created a PersistentVolumeClaim using

[2017-12-02 03:28] fejta-bot opened #56736 "pr:pull-kubernetes-e2e-gce-device-plugin-gpu flaked 22 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-device-plugin-gpu
 Flakes in the past week: **22**
 Consistency: **96.70%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Stage | 17 |
| Up | 5 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2017-12-02 03:28] fejta-bot opened #56737 "Failure cluster [ef0fa0...] failed 249 builds, 31 jobs, and 1 tests over 1 days"
### Failure cluster [ef0fa0f828386c914de8](https://go.k8s.io/triage#ef0fa0f828386c914de8)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    31 jobs failed,    249 builds failed.
Failure stats cover 1 day time range '1 Dec 2017 02:33 UTC' to '2 Dec 2017 02:33 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 31 |

###

[2017-12-02 03:28] fejta-bot opened #56738 "Failure cluster [02bd8b...] failed 246 builds, 32 jobs, and 1 tests over 1 days"
### Failure cluster [02bd8ba009292ae49af5](https://go.k8s.io/triage#02bd8ba009292ae49af5)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    32 jobs failed,    246 builds failed.
Failure stats cover 1 day time range '1 Dec 2017 02:33 UTC' to '2 Dec 2017 02:33 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 32 |

###

[2017-12-02 03:28] fejta-bot opened #56739 "Failure cluster [1558be...] failed 234 builds, 30 jobs, and 1 tests over 1 days"
### Failure cluster [1558be1c3fa8e8a766c8](https://go.k8s.io/triage#1558be1c3fa8e8a766c8)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    30 jobs failed,    234 builds failed.
Failure stats cover 1 day time range '1 Dec 2017 02:33 UTC' to '2 Dec 2017 02:33 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 30 |

###

[2017-12-02 03:32] noprom commented on #56735
/sig bugs

[2017-12-02 03:34] ianmaddox commented on #46901
I can confirm the same issue.

[2017-12-02 05:32] xiangpengzhao commented on #56699
Test case `[sig-cluster-lifecycle] master-upgrade` in https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-upgrade-1.8-1.9 passes now.

But there are still other failures (`[sig-apps] statefulset-upgrade`, `hpa-upgrade`, `service-upgrade`) in the job. This may need folks from associated sigs to pay some attention.

[2017-12-02 05:40] lfaoro commented on #23621
You can use 'echo -n' to not out the '\n' char

`echo -n "SECRET" | base64`

[2017-12-02 06:03] Lion-Wei commented on #56054
Similar issue happened to me before, ipvs mode `NodePort` function may not very stable before `ipset` merged in(#54219), related with node/cni and other things. Suggest use newest version. : )

[2017-12-02 07:21] warmchang commented on #40044
should be closed by https://github.com/kubernetes/kubernetes/pull/53088

[2017-12-02 07:35] porridge commented on #55779
@shyamjvs:
1. thanks for independently looking at the log, but the graph in https://github.com/kubernetes/kubernetes/issues/55779#issuecomment-348480805 already shows exactly what sizes the RS was scaled to and when. You can see it was scaled up to 385 twice, and I think this corresponds to the two latency spikes on earlier graphs.
2. I'm not sure why you think one of #shedulable-nodes and #schedu

[2017-12-02 08:14] #51836 closed

[2017-12-02 08:36] jsafrane commented on #56725
It will be fixed by https://github.com/kubernetes/kubernetes/pull/54300

iSCSI target image provides too small device for streaming tests.

[2017-12-02 10:28] jsafrane opened #56743 "CSI volume plugin uses wrong Attacher"
Internal volume plugin for CSI creates VolumeAttachment with `Attacher: "kubernetes.io/csi"` (= the plugin name). It should be CSI driver name instead, as the external attacher must know which CSI driver to call.

/sig storage
/kind bug

@saad-ali, please prioritize
@vladimirvivien, PTAL. It should be one-line change in https://github.com/jsafrane/kubernetes/blob/master/pkg/volume/csi/csi_attacher

[2017-12-02 10:29] luxas commented on #56699
@xiangpengzhao This is ok and expected. We don't deploy heapster (needed for hpa-upgrade, don't use a cloud-provided LoadBalancer (needed for service-upgrade) and don't deploy a default StorageClass for PersistentVolumes in statefulset-upgrade. This is all fine and as green as we can get it right now.

[2017-12-02 10:35] luxas commented on #56504
FYI; all our v1.9 tests in the testgrid are kind of green right now, which looks very promising https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all
One or two bugfixes might still be needed, we'll see, but overall things should be ok

FWIW; https://github.com/kubernetes/kubernetes/pull/56599 needs to be merged right before the release candidate cut

[2017-12-02 11:42] messmerxx opened #56744 "has somebody got weave-net to run on windows server 2016 node in a kubernetes cluster?"
can weave-net be supported on windows server 2016 in a kubernetes cluster environment??

i have used:
kubernetes 1.9.3 alpha

if i create a weave-net network with docker on windows server 2016, the error message is "plugin can not be allocated"

if i create a weave-net pod on windows server 2016, i got the error messages.

E1202 10:58:09.775691 7076 remote_runtime.go:92] RunPodSandbox from runtime

[2017-12-02 11:44] messmerxx commented on #56744
/sig windows
/sig node

[2017-12-02 12:08] surajssd opened #56745 "--cascade false has no effect when deleting deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When using `--cascade false` flag while deleting the deployment, it still deleted the replicaset and the pods associated with the deployment.

**What you expected to happen**:

When that flag is applied it should only delete the deployment and leave everything else as it is.

**How to reproduce it**:

[code]

**Anything

[2017-12-02 12:08] xiangpengzhao commented on #56699
@luxas thanks for clarifying :)

[2017-12-02 12:09] kargakis commented on #46901
/assign tnozicka kow3ns

[2017-12-02 12:19] surajssd commented on #56745
Full logs when deleting the deployment

[code]

[2017-12-02 12:30] surajssd commented on #56745
/sig node

[2017-12-02 12:35] surajnarwade commented on #56745
Hey @surajssd , it's working in my case,

[code]

[code]

[code]

[2017-12-02 12:49] shyamjvs commented on #55779
Sorry I wasn't sure from your graph if it was 'actual no. of replicas' or 'replica count set in the RS'. If it was actual no. of replicas, that doesn't necessarily mean that the count on the RS was also set the same, as it's possible that RS-controller [creates more than required replicas](https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/#replicas). I was confirming that the dn

[2017-12-02 12:57] gmarek commented on #55779
When new Node is observed NodeController emits an Event:
[code]
and logs:
[code]
In the logs from the first entry in this issue the last "new Node" was registered ~21:05, which means no new Node objects were observed afterwards.

If dns autoscaler "sees" new things it most likely mean some issue with its cache (or informer library). As we don't observe the same issues in all controllers it's very

[2017-12-02 13:50] mgmjoke commented on #49198
oooh! It went well.
You're a god!

[2017-12-02 13:55] sttts opened #56747 "kubectl config view --minify=true fails for kubeconfig without current context"
Separate cluster kubeconfig files can have unnamed contexts, e.g.

[code]

Then `kubectl config view --minify=true` complains that no context is set.

Meanwhile:
[code]

and

[code]

and

[code]

All not very consistent.

[2017-12-02 13:58] mtanino commented on #56725
Cool. Thank you for the fix.

[2017-12-02 14:20] zousheng opened #56748 "kube-dns-autoscaler create clusterrole failed in k8s 1.6"
Hi,

When I tried to deploy kube-dns-autoscaler, the rbac create clusterrole failed due to below error:

rror from server (Forbidden): error when creating "dns-autoscale.yaml": clusterroles.rbac.authorization.k8s.io "system:kube-dns-autoscaler" is forbidden: attempt to grant extra privileges: [{[list] [] [nodes] [] []} {[get] [extensions] [deployments/scale] [] []} {[update] [extensions] [deployme

[2017-12-02 14:47] feiskyer commented on #56734
+1 for the feature. Some questions

* Does iops is required? CRI doesn't support setting iops yet.
* How windows would handle pod resources? Kubelet set pod-level cgroups for Linux containers
* Does all current LinuxContainerResources make sense for Windows containers? e.g. all fields below

https://github.com/kubernetes/kubernetes/blob/8c1ee761d2dd7761069ca0ca41fec484ac39b573/pkg/kubelet/apis/cri

[2017-12-02 15:00] bboreham commented on #56696
I can confirm that Weave Net is currently Linux-only.

[2017-12-02 15:08] chakri-nelluri opened #56749 "Volume info missing from CSIPersistentVolumeSource"
/kind bug

Volume Info is missing from CSIPersistentVolumeSource. This is required to pass on options to external attacher & node plugin.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.9.0
- OS (e.g. from /etc/os-release): Linux
- Install tools: Hyperkube

[2017-12-02 15:09] chakri-nelluri commented on #56749
As CSI support is in alpha phase, planning to add volume info as annotation to PV
Annotation format:
```csi.kubernetes.io/volume-info: <value>```

[2017-12-02 15:09] chakri-nelluri commented on #56749
/sig storage

[2017-12-02 17:39] cleanerx commented on #44811
I have the same problem:
I found the docker image run did not forward the http/https proxy variables potentially set so got cannot download things. Adding
` -e https_proxy=$(HTTPS_PROXY) -e http_proxy=$(HTTP_PROXY)`
to the docker run commands helped getting out.
Unfortunately the docker run command does not seem to get the dependency

Manually fetching the dependency within the docker container
go

[2017-12-02 17:50] c9s commented on #47202
:+1:

[2017-12-02 19:52] BradErz commented on #56706
Just out of intrest what overlay network system are you using? We were using flannel with the Backed type set to UDP. We were also experiencing a lot of intermittent DNS timeouts.

Changing to vxlan has sempt to have sold our problems.

[2017-12-02 20:01] dims commented on #56748
/sig auth

[2017-12-02 20:17] messmerxx commented on #56696
@bboreham thank you very much for your confirmation.

in AWS environment with the following settings:
kubernetes 1.9.3 alpha
windows server 2016 as NODE
ubuntu linux as Master

which networking plug-in can work? does anyone have the experience?
calico, open virtual networking?

thank you very much!

[2017-12-02 20:37] wojtek-t commented on #54039
@jpbetz is patch release manager for v1.8

[2017-12-02 20:42] messmerxx commented on #56696
i checked the documentation of open virtual switch, which can support windows.

https://github.com/openvswitch/ovn-kubernetes

but for my small cluster, one master and one windows node, OVN is overwhelming!!!

[2017-12-02 20:44] messmerxx opened #56751 "Open Virutal Network/Open VSwitch is the only solution for kubernetes windows cluster?"
dear all,

after doing some research, i found out that currently most of the networking plugins are not supported for windows node in a kubernetes cluster.

it seems to be Open Virutal Network/Open VSwitch is the only solution for kubernetes windows cluster. but for my small kubernetes cluster, one linux master and one windows node, OVN is overwhelming!

https://github.com/openvswitch/ovn-kubernet

[2017-12-02 20:45] messmerxx commented on #56751
/sig windows
/sig kubernetes

[2017-12-02 21:38] messmerxx commented on #56696
E1201 19:22:15.486973 5012 kuberuntime_manager.go:647] createPodSandbox for pod "weave-net-gt7pj_kube-system(ac13f23d-d6cb-11e7-a4cd-0289db2a7c18)" failed: rpc error: code = Unknown desc = failed to start sandbox container for pod "weave-net-gt7pj": Error response fro
m daemon: No such network: host

----
for this error, i think kubernetes can not find the host network. why?

a bug in kubernetes?

[2017-12-02 21:43] messmerxx opened #56752 "kubelet possible CNI network plugins on windows server 2016 node"
the kubelet.exe CNI flag can be set by

--network-plugin=xxx

can someone tell me, what are the supported CNI plugins for windows server 2016?

i tried weave-net on my windows server 2016 node, but it failed. weave-net is not supported on windows. #56696

thank you very much.

[2017-12-02 21:43] messmerxx commented on #56752
https://github.com/kubernetes/kubernetes/issues/56696

[2017-12-02 21:43] messmerxx commented on #56752
/sig windows server 2016
/sig windows node

[2017-12-02 22:31] Freyert commented on #56747
This section of code in  [`kubernetes/pkg/kubectl/cmd/config/create_context.go`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/config/create_context.go#L131-L137) indicates that contexts can not be created without a name.

[2017-12-02 22:45] mofirouz commented on #48968
I'd like to report a problem here as well but on 1.8.3-gke.0. I am however using a StatefulSet and this occured while resizing the StatefulSet from 1 replica to 3 replicas. My SS spec is as follows:

[code]

[code]

Please note that after a few hours (more than 6hours), this problem resolved itself but the pods and StatefulSet were left in a completely broken state where their state were `Waiting:

[2017-12-03 01:01] stewart-yu opened #56753 "add testcase toleration.go function"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind  bug

**What happened**:

**What you expected to happen**:
add testcase  for toleration.go function.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
-

[2017-12-03 04:08] andrewrothman commented on #45828
I just ran into this same issue. As @thockin and @antoineco mentioned, I edited `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`.

I changed this line:
[code]

to this:

[code]

Which worked perfectly, and my pods can now access the internet as normal:

[code]

Maybe adding a check to `kubeadm init` that reads the host's `/etc/resolv.conf` and adds this additional arg if the nameserver is s

[2017-12-03 07:05] yeungbo commented on #54918
same issue on CentOS7
Dec 03 14:49:47 devops-ucdp.novalocal kubelet[20242]: W1203 14:49:47.446270   20242 cni.go:196] Unable to update cni config: No networks found in /etc/cni/net.d
Dec 03 14:49:47 devops-ucdp.novalocal kubelet[20242]: E1203 14:49:47.446454   20242 kubelet.go:2095] Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin

[2017-12-03 07:48] patrickshan commented on #55924
Ah, make sense, will try this. Thanks @caesarxuchao .

[2017-12-03 07:48] #55924 closed

[2017-12-03 08:20] debajyoti1d1mukherjee opened #56755 "Kubeflix Turbine server deployed in a pod of Kubernetes Cluster Hosted in IBM Cloud failed to start."
**Kubernetes Cluster Hosted in IBM Cloud with version v1.7.4-1+1540c973d4ff9d**

**Steps we have done .**

    1cloned the source code from git hub and
    2Build Image for turbine server
    3Pushed Image to docker hub.
    4.Created a service account and provided all required roles.
    5.Deployed the image using deployment.yml .
    **java-code
[java-code.zip](https://github.com/kubernetes/kube

[2017-12-03 10:38] hanikesn commented on #56706
We're having the same problems when using calico.

[2017-12-03 14:35] dixudx commented on #56747
@sttts No `current-context: xxx` in your kubeconfig. This is why the cmd complains those errors.

Please have a valid context name for  `cluster-8f18` instead of anonymous. Then issue `kubectl config use-context xyz`.

[2017-12-03 15:16] #50813 closed

[2017-12-03 15:21] Nick-Harvey commented on #43924
I'm running into the same issue. Certs are from digicert, kubernetes cluster running in GCE, certs installed through the host and put in /etc/docker/certs.d/, and still x509 error.

Docker logs:
`TLS handshake error from XXXXXXXXXX: remote error: tls: bad certificate`

Kub version:
`Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.4", GitCommit:"9befc2b8928a9426501d3bf62f72849d5

[2017-12-03 15:42] Freyert commented on #56747
@dixudx where in the API are we allowing an improper context name? Could we add validation to that to prevent this?

[2017-12-03 15:52] pompomJuice commented on #43924
Paste the entire folder name in '/etc/docker/certs.d/' please.

It should work if **all** your nodes have that cert installed.

[2017-12-03 15:54] #56532 closed

[2017-12-03 16:14] sttts commented on #56747
The problem is not that I can do this. The problem is that we accept(ed) those kubeconfigs and people use them. And I guess by https://github.com/sttts/kubernetes/blob/5d4795e14e02ac29273009d86ba3c5012684d5f4/staging/src/k8s.io/client-go/tools/clientcmd/api/v1/conversion.go#L170 empty names just end up as empty keys in the internal KubeConfig type and all the loading code is happy without a curren

[2017-12-03 16:25] Nick-Harvey commented on #43924
root@kubernetes-minion-group-96k7:/etc/docker/certs.d/"foo.bar.com":5000# ll
total 16
drwxr-xr-x 2 root root 4096 Dec  2 20:43 ./
drwxr-xr-x 3 root root 4096 Dec  2 20:07 ../
-rw-r--r-- 1 root root 3332 Dec  2 20:23 domain.crt
-rw-r--r-- 1 root root 1675 Dec  2 20:43 domain.key

So far only one node in the cluster :)

[2017-12-03 16:29] pompomJuice commented on #43924
Change those to ca.crt and ca.key

[2017-12-03 16:49] Nick-Harvey commented on #43924
Changed them to ca.crt and ca.key both in the directory, as well as updated the files called out in the secret . I restarted docker service on the node and redeployed the pods and still, same error.

[2017-12-03 17:44] vladimirvivien commented on #56743
ACK. In progress

[2017-12-03 17:59] chrislovecnm commented on #49480
@caseydavenport which decision?

[2017-12-03 18:16] sttts opened #56761 "admission/webhook: a non-working webhook on namespace lets apiserver launch fail"
Put an admission webhook on the namespace resource which fails (e.g. due to a certificate error). During launch of the apiserver a namespace is created (kube-system? kube-public?) which fails:

[code]

Kube-apiserver never starts successfully anymore. You have to recover this cluster e.g. via etcdctl. This is probably not acceptable.

Maybe we have to exclude webhooks from loopback connection?

[2017-12-03 18:16] sttts commented on #56761
/cc @deads2k @caesarxuchao

[2017-12-03 18:37] markine commented on #56706
@BradErz @hanikesn vxlan set up using kops 1.7.x.

[2017-12-03 18:38] pompomJuice commented on #43924
I made a mistake, the one should be **client.key** not **ca.key**.

It should work.

Double check by trying to start the image manually on the box.

[2017-12-03 18:44] dims commented on #56755
/close

please contact IBM support

[2017-12-03 18:44] #56755 closed

[2017-12-03 19:37] wojtek-t commented on #56714
In the past, the throughput was significantly higher initially, and it was dropping with the number of scheduled pods in the system. Is it still the case? Or is the throughput roughly constant over time this time?

[2017-12-03 20:54] chakri-nelluri commented on #56749
/assign @vladimirvivien

[2017-12-03 21:36] taylorb-microsoft commented on #56734
cc Windows container core (@jhowardmsft; @darrenstahlmsft; @jstarks; @PatrickLang)

 - Iops is optional (without specifying a value the container is unbounded in regards to IO)

 - Ideally I think a per pod spec and a per container spec would make since (possibly the pod is just a  sum of the containers but pod + container settings would enable nice sharing scenarios).  With the goals of being as

[2017-12-03 22:04] dminkovsky commented on #38192
Thank you for fixing this!

Does anyone know how to make the `StorageClass`es that comes provisioned with new clusters on GKE have `reclaimPolicy` not be `Delete` by default?

[2017-12-03 22:06] justinsb commented on #56761
Perhaps we need a special connection where all these hooks can be skipped, like the `insecure-port` gets us out of authn issues.

[2017-12-03 22:09] greghaynes commented on #56721
I've looked at the code for this a bit and would like to work on this if someone else hasn't already begun.

[2017-12-03 22:32] caseydavenport commented on #49480
@chrislovecnm this one ^

[2017-12-03 22:45] justinsb opened #56763 "Test flake: 4.9 kernel vs [sig-network] Network should set TCP CLOSE_WAIT timeout`"
e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-cncf-canary/475

I think that `[sig-network] Network should set TCP CLOSE_WAIT timeout` fails on a 4.9 kernel.

It appears that the test is looking for `cat /proc/net/ip_conntrack`, but on 4.9 I have `/proc/net/nf_conntrack` instead.

cc @bowei @kubernetes/sig-network-bugs

[2017-12-03 23:50] krzyzacy commented on #56763
(also affecting pr-kops job which blocks the queue http://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kops-aws)

[2017-12-04 00:13] danderson opened #56764 "`kubectl get all` does not list secrets"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I created a secret with `kubectl create secret generic test --from-literal=foo=bar`, which succeeded. But then when I ran `kubectl get all`, the secret wasn't listed. This confused me for a while, until I tried `kubectl get secrets` and saw that my secret does indeed exist.

**What you expected to happen**:

I expected `

[2017-12-04 00:15] danderson commented on #56764
/sig cli

[2017-12-04 00:18] caesarxuchao commented on #56761
This sounds like what [namespaceSelector](https://github.com/kubernetes/kubernetes/blob/050956b08e8bdcec3a7afe91b1be2665a74cc362/staging/src/k8s.io/api/admissionregistration/v1beta1/types.go#L191) is designed for. We can label the kube-system namespace with a run-level label and let webhooks skip the kube-system namespace and resources in it.

[2017-12-04 00:33] justinsb commented on #56763
Ah - if it's queue blocking we can just tie 1.10 back to jessie in kops...

[2017-12-04 00:41] justinsb commented on #56763
PR to have kops use jessie for the stable channel in 1.9 & 1.10 is https://github.com/kubernetes/kops/pull/4002

The jobs I just switched to alpha (https://github.com/kubernetes/test-infra/pull/5783) are going to stay broken, so we still need to decide what to do here.

[2017-12-04 00:47] stewart-yu commented on #56764
See here [https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all](https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all)

[2017-12-04 01:26] islinwb commented on #39180
@lukaszo Many thanks!

[2017-12-04 01:38] shyamjvs commented on #56714
Wojtek: IIRC it was constant for almost the whole time at ~300 pods per 10s. Hmm.. that's strange that the throughput was affected by the #scheduled pods already in the system, especially given that we're not even using any affinity-related features.

After thinking a bit, I have the following hypothesis:
- throughput in small clusters is bottlenecked by qps, while in large clusters it is bottlene

[2017-12-04 01:49] spiffxp commented on #56416
/reopen
still failing, eg: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1165

[2017-12-04 01:50] foxish commented on #56416
The previous fix didn't take. Will have a new fix shortly.

[2017-12-04 02:07] zouyee commented on #56763
using nf_conntrack instead?

[2017-12-04 02:26] davidopp commented on #56306
BTW the documentation on this stuff is [here](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/)

[2017-12-04 02:32] WanLinghao commented on #56745
try

$ kubectl delete deploy web --cascade=false

[2017-12-04 02:47] spiffxp commented on #47820
@jberkus until the tests are actually made non-blocking, or made passing, this issue must remain in the milestone, as the tests are (still) failing on release-blocking jobs

[2017-12-04 02:47] hzxuzhonghu commented on #56761
Similar issue I met #56478, when AdmissionWebhook enabled but admissionregistration.k8s.io/v1beta1 is disabled.

[2017-12-04 02:49] spiffxp commented on #54574
/close
Thanks for the backport, I now see green for this test
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-master
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-cluster
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-master-gci-1.8-downgrade-cluster

[2017-12-04 02:50] #54574 closed

[2017-12-04 02:53] spiffxp commented on #56052
/status in-progress
I've witness @porridge and @shyamjvs keeping watch over this job and its failures

We have a green run as of Dec 1st https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/74

Leaving open to see if the trend continues

[2017-12-04 02:56] justinsb commented on #56763
@zouyee haven't drillled down to know whether it's jessie vs stretch or 4.4 vs 4.9, but yes - on my stretch machines I have nf_conntrack ad not ip_conntrack.  The PR switches back to jessie with 4.4, so we should get ip_conntrack back.

[2017-12-04 03:00] spiffxp commented on #56426
I no longer see this specific test case failing as of
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-master-gci-new-downgrade-cluster/529
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-master-gci-new-downgrade-cluster-parallel/910

There are a bunch of individual test case failures in the non-parallel job t

[2017-12-04 03:04] spiffxp commented on #56429
/close
GKE gremlins, got it.  I will reopen if this starts failing again

[2017-12-04 03:04] #56429 closed

[2017-12-04 03:08] #56749 closed

[2017-12-04 03:11] #56743 closed

[2017-12-04 03:27] cmluciano commented on #54497
@Lion-Wei SGTM

[2017-12-04 04:23] #54762 closed

[2017-12-04 04:48] surajssd commented on #56745
@WanLinghao thanks that worked.

TIL: if you want to set value of boolean flag use `=`

[2017-12-04 04:48] #56745 closed

[2017-12-04 04:56] justinsb opened #56766 "Correct toleration for a must-run daemonset?"
We have a few must-run-on-every-node-no-matter-what daemonsets, specifically for CNI providers (must run on masters, should run even during a drain to give other pods a chance to drain cleanly).

The correct toleration for this isn't 100% clear to me:

Should we just specify:

[code]

I've heard that because the operator defaults to Equal, `key: X` without a value doesn't do what I had assumed (ma

[2017-12-04 04:58] jaysonjc commented on #51711
It seems that the ingress cookie affinity doesn't work in GKE since there is no direct POD load balancing (unlike nginx ingress controller). Is there any way to enable direct pod load balancing in GKE with session affinity?

[2017-12-04 05:58] zouyee commented on #56763
in netfilter group email, you will find
`ip_conntrack_* helper modules have been replaced by nf_conntrack_* when available and moved from net/ipv4/netfilter to net/netfilter.`

[2017-12-04 06:38] porridge commented on #55779
@gmarek the resync logic in dns autoscaler is [so simple](https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/blob/master/pkg/autoscaler/k8sclient/k8sclient.go#L145-L157). I cannot see where it might have gone wrong...

[2017-12-04 06:42] dixudx commented on #56747
Make sense. I prefer the first option, which is currently what we are validating.

[2017-12-04 06:50] lichuqiang opened #56770 "hardcode in Url format in httpGet handler of container lifecycle"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
the url is hard code [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/lifecycle/handlers.go#L126) in httpGet handler of container lifecycle.
Thus, I have a pod definition like this:
[code]

and the output url looks like this:
[code]
The scheme in definition did not take effect, and we got a redundant

[2017-12-04 06:51] michmike commented on #56696
hi @messmerxx  we will support a few CNI options for windows when Kubernetes v1.9 is released and we will document them appropriately with the release. Stay tuned for updates in about 2 weeks.

1. Upstream L3 Routing - IP routes configured in upstream ToR
2. Host-Gateway - IP routes configured on each host
3. Open vSwitch (OVS) & Open Virtual Network (OVN) with Overlay - OVS switch extension and O

[2017-12-04 06:52] lichuqiang commented on #56770
/sig node

[2017-12-04 06:55] porridge commented on #55194
ACK.  In progress
ETA: 06/12/2017
Risks: newly introduced audit tests still unfixed: #56683

[2017-12-04 06:55] vikaschoudhary16 commented on #56022
@RenaudWasTaken

If we go by Solution 2), I think above holds true. How do you see GPUs' state changing once app containers are using them?

IMO, init containers have the same goal documented, i.e to prepare the env/devices ready before app containers come up.
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#what-can-init-containers-be-used-for
Quoting the relevant documentation

[2017-12-04 06:58] porridge commented on #56683
FWIW, https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/41 failed again, this time both times with "unexpected end of JSON input"
BTW, since this bug is blocking the release (via #55194) it needs to be added to v1.9 milestone @spiffxp

[2017-12-04 07:06] wojtek-t commented on #56714
That isn't strange. There is a bunch of things in scheduler that are still dependeng on the number of scheduled pods. One of them is spreading priority.

That isn't fully true - see above.

[2017-12-04 07:06] porridge commented on #56064
More failure(s):
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-release-1-7/474

[2017-12-04 08:26] michmike commented on #56005
@andyzhangx  we record all our meetings on youtube here https://www.youtube.com/playlist?list=PL69nYSiGNLP2OH9InCcNkWNu2bl-gmIU4

Right now, we have not discussed this at all, but we can add it for discussion after v1.9 ships.

[2017-12-04 08:27] tianshapjq commented on #53672
@derekwaynecarr hi, I've worked on the _HugePages isolated at container and not just pod boundary_ issue and would like to confirm some details.
My first though was to implement this issue via docker, just like what cpu and memory did. But docker seems not support hugepage limit in present. Which means we have to get it done by coding in kubernetes or libcontainer, is that right?
Please let me kno

[2017-12-04 08:44] zetaab opened #56776 "networkpolicies - allow / deny cidrs"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE
 /kind feature

Currently it looks like network policies supports only ipblocks, but there is no possibility to define is that ipblock allowed or denied. This means that it is impossible to make advanced models of which ip is allowed and which not. https://kubernetes.io/docs/concepts/services-networking/network-policies/

I suggest that we shou

[2017-12-04 08:48] zetaab commented on #56776
/sig network

[2017-12-04 08:51] porridge commented on #56714
Obligatory pretty graph. We can clearly see that current best is worse than old worst...

![chart](https://user-images.githubusercontent.com/489420/33543785-9bb4603c-d8d8-11e7-87b7-af74ca052821.png)

[2017-12-04 08:53] andyzhangx opened #56777 "flexVolume parameters parsing incorrect"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
When I try to set up a flex volume PV by following config:
[code]
Then I run `kubectl describe pv pv-flex-lvm`, the output would be as following in which `driver`, `fsType` is parsing incorrect, I tried on both v1.8, v1.9 k8s cluster, got same situation:

[code]

**What you expected to happen**:

**How to reproduce it (as

[2017-12-04 08:58] stewart-yu commented on #56777
I will help fix it

[2017-12-04 08:59] andyzhangx commented on #56777
To simplify this issue, I used following config to create a flex volume PV:
[code]

And also got same error output (`driver` field is incorrect in output, `driver` field value moved to `FSType` filed!!!)
[code]

[2017-12-04 09:30] wojtek-t commented on #55779
Yeah - dns autoscaler seems pretty simple (BTW - we should probably change it to be watch based at some point, but that's a separate issue).

That said, referring to what @shyamjvs said about apiserver cache corruption - this is not the case. If you look carefully into code of dns autoscaler, it's listing nodes directly from etcd, not from apiserver cache (it's not setting ResourceVersion=0).

So

[2017-12-04 10:01] porridge commented on #56714
FWIW, there is a slight decrease in throughput while pods are scheduled, but the rate seems similar, and negligible compared to the drop we're seeing between run 52 and 67.

![time](https://user-images.githubusercontent.com/489420/33546865-79f9ada8-d8e2-11e7-82da-7960f6cc0ff0.png)

[2017-12-04 10:39] porridge commented on #56714
Seeing that it matches the mean value of the samples in above graphs pretty well, I took a look at the throughput reported in the `Throughput (pods/s) during cluster saturation phase` message in past runs, and it seems that there were several regressions that took it from ~38 pods/sec level to ~28 pods/sec level, not a single one. However I think we should first focus on what happened [between run

[2017-12-04 10:39] duane-ibm opened #56780 "pull-kubernetes-unit job fails on ubuntu 16.04"
**Is this a BUG REPORT or FEATURE REQUEST?**: bug

**What happened**: pull-kubernetes-unit job fails, while looking through the error log, it is unclear what the exact cause of failure is.
[code]

PFA complete build log [build-log.txt](https://github.com/kubernetes/kubernetes/files/1526612/build-log.txt)

**What you expected to happen**: The build to move ahead after Running command: run_impersona

[2017-12-04 10:40] jsuchenia commented on #56682
I was hit by this problem, restart of all schedulers helped

[2017-12-04 11:00] porridge commented on #56714
Unfortunately on a 100-node cluster the throughput has been almost always exactly `18.75` since the beginning of October - I guess it's bound by something else than scheduler.

[2017-12-04 11:07] porridge commented on #56714
Interestingly, there is also no recent throughput performance drop in the kubemark-5000 runs:

![kubemark5k](https://user-images.githubusercontent.com/489420/33549699-b26f58be-d8eb-11e7-87f4-44f89e94f37b.png)

[2017-12-04 11:12] sttts commented on #56761
That should work. For that to work we have to label our kube-* namespaces.

[2017-12-04 11:14] porridge commented on #56714
And the data for the 2k node tests is all over the place:
![large](https://user-images.githubusercontent.com/489420/33550010-b990eb2a-d8ec-11e7-8864-95ec4663c43f.png)

[2017-12-04 11:15] wojtek-t commented on #56714
In small clusters, it's limited by qps limits.

[2017-12-04 11:16] crassirostris commented on #53455
Another important use case:

In current e2e test audit events are read from the log file. However, there are a couple of problems:

- In load tests, a lot of audit events are produced. Network problem when transferring GBs of data will cause the tests to fail
- Log file can be rotated during the tests, which also triggers failure
- Current implementation cannot be used in any environment, it's tig

[2017-12-04 11:17] johnwalker247 opened #56783 "get deploy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-12-04 11:23] porridge commented on #56714
Looks like the way to go ahead is to bisect on a 5k-node cluster :-/

[2017-12-04 11:25] wojtek-t commented on #56714
Or bump QPS limits in 100-node cluster locally to do bisection.

[2017-12-04 11:55] fredkan commented on #50745
Is there any update please?

[2017-12-04 12:14] arashadahamad opened #56786 "Prevent the deletion of a PVC that is referenced by an active pod"
**Is this a BUG REPORT

**What happened**:
There is a pod which is using pvc(nfs) when I delete pvc first and then delete pod (even with very less different between pod and pvc deletion) then pod goes to in terminate state forever
 This is happened because pvc deleted first before unmounted from pod(by kubelet)
hence unmount failed and it left pod in terminate state.

**What you expected to happen

[2017-12-04 12:14] arashadahamad commented on #56786
FYI,  This looks same as https://github.com/kubernetes/kubernetes/pull/46573 PR

[2017-12-04 12:15] discordianfish commented on #11883
And it's undocumented. I'm frankly suprised about the shape of the AWS cloud provider integration and it's documentation right now. I've spend more than a day debugging why it removes my instances.

[2017-12-04 12:25] foxish opened #56787 "GCE: make upgrade testing consistent"
After GCE cluster upgrade, the nodes talk to the master using the in-cluster IP.

Reasoning:

api-server.log [from gce upgrade cluster](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-stable1-beta-upgrade-cluster-new/35/artifacts/bootstrap-e2e-master/kube-apiserver.log)

api-server.log [from gce serial](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernet

[2017-12-04 12:26] jk1510karti opened #56788 "unable to connect SQL service from other pods"
I've created two pods top of Azure Kubernetes cluster 1) Application 2) MS SQL server

both pods are exposed via Azure Loadbalancer and both having External IPs. I am unable to use the External IP in my application config file. But I can connect that SQL Server from anywhere. For some reason I am unable to telnet DB IP from Application container.

the connection is getting timeout. but I can ping/

[2017-12-04 12:30] AnkitVaidya01 commented on #43576
@foxylion can you please provide deployment yaml with your input. I am trying to deploy but facing issues

[2017-12-04 12:32] foxish commented on #56787
@krousey, this is a blocker for network partition tests etc which rely on a consistent network interface being used for testing.

[2017-12-04 13:42] mattjmcnaughton commented on #56335
@MaciekPytel @DirectXMan12 that makes total sense! I agree with not wanting to "double down" on adding customization to an implementation detail that you feel shouldn't really be necessary. I'll give some thought to if there is a good alternative and we can sync after the 1.9 release. Good luck getting 1.9 out the door :)

[2017-12-04 13:44] porridge commented on #56714
Unfortunately I'm not able to make scheduler the bottleneck in a 100-node test:
[code]
even using the `*_ARGS` settings [from gce-scale-performance](https://github.com/kubernetes/test-infra/blob/master/jobs/env/ci-kubernetes-e2e-gce-scale-performance.env)

[2017-12-04 13:47] wojtek-t commented on #56714
You can try bumping it even more, though I'm not sure if this won't cause some other issue.

[2017-12-04 14:11] justinsb commented on #11883
@discordianfish grab a mop :-)

[2017-12-04 14:15] andyzhangx commented on #56777
@stewart-yu cool!

[2017-12-04 14:32] squeed opened #56794 "Failed network plugins should set NodeNetworkUnavailable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When the network plugin detects a failure (e.g. the CNI configuration is not on disk), we don't set NodeNetworkUnavailable. Instead, the kubelet sets NodeReady to false with a comma-separated list of all errors as the Message.

This is hard to parse out, and often masks the true problem. It also is confusing to end-users, because th

[2017-12-04 14:32] squeed commented on #56794
/area networking

[2017-12-04 14:33] squeed commented on #56794
/sig network

[2017-12-04 14:39] lunemec commented on #48968
Hi, I've run into this issue as well.
We are using the persistent volume to store user uploaded files, much like the  [wordpress example in the google cloud documentation.](https://cloud.google.com/kubernetes-engine/docs/tutorials/persistent-disk)

None of the solutions presented work (strategy Recreate or maxSurge: 0). Both caused the new pod being stuck in ContainerCreating stage locked while wa

[2017-12-04 14:49] discordianfish commented on #11883
@justinsb Don't get me wrong but as someone building kubernetes clusters for people, I can't possibly fix all issues I touch. I try my best to fill issues and fix blockers myself but I can't just mop up all the things and frankly wish this would be something AWS spends some resources on.

[2017-12-04 14:51] s-urbaniak commented on #56794
To add more context to it, `NodeNetworkUnavailable` currently is set mainly in the node controller range allocation only: https://github.com/kubernetes/kubernetes/blob/v1.8.4/pkg/controller/node/ipam/sync/sync.go#L343.

Hence the current semantic meaning of `NodeNetworkUnavailable` only relates to PodCIDR allocations as explained by @squeed above.

[2017-12-04 14:59] mati865 commented on #56346
Tarball from https://dl.k8s.io/v1.8.4/kubernetes-src.tar.gz seems to build fine so the tarball v1.8.4 from GitHub must be mispackaged (downloaded it few times to make sure).

[2017-12-04 15:04] jsravn commented on #45976
I dug a bit in the code. So iptables kube-proxy:
* Runs every 30s by default, and deletes all UDP connections associated with removed endpoints.
* In 1.7.11 and earlier there's a bug with endpoints that means it can take 10s (depending on cluster size) for endpoints to update after kube-dns gets removed.
* kube-dns has a `terminationGracePeriodSeconds` of 30s by default - and waits the full 30s be

[2017-12-04 15:07] jsravn commented on #45976
Even better would be to bypass iptables completely, and update a local dnsmasq or something with the endpoints. I don't think you can avoid all failures with the iptables proxy.

[2017-12-04 15:14] ash2k commented on #53124
/keep-open

[2017-12-04 15:32] markine commented on #45976
@jsravn nice sleuthing! It sounds like we should disable kube-dns-autoscaler for kubernetes <=1.7.11 for more stable operation. Do we have the right audience to ensure that UDP/DNS reliability is improved in kubernetes 1.8/1.9?

Do you have any new thoughts on steady state packet loss without kube-dns pod removal?

[2017-12-04 15:33] honi opened #56795 "Allow to use configmaps or secrets as valueFrom for TLS hosts in ingress spec"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**NGINX Ingress controller version**:
0.9.0-beta.17

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
Google Container Engine
Running [kube-lego](https://github.com/jetstack/kube-lego) for automatic certificate provisioning.

**What you expected to happen**:
I have qa/staging/production namespaces r

[2017-12-04 15:38] justinsb commented on #45173
I think I understand the issue now.  We don't have a way to say that the ELB should listen on a port that the service does not listen on (?).  So there's no way to say "this is an http service, so port 80, but when we expose it through the ELB it should be port 443 (only)"

One workaround - which isn't great, but just trying to understand the problem space - is to create two separate services: one

[2017-12-04 15:53] civik commented on #49213
@luxas I guess my counter to that would be that until kubectl can be blessed for use for a 'production' deployment that shouldn't be the place for defining the 'according to Hoyle' configs. If I'm deploying Kubernetes in a custom built pipeline that deploys a HA cluster, I currently have to run kubectl 'out of band' to somewhat manually determine what config options/defaults have changed.  It woul

[2017-12-04 15:55] yastij opened #56796 "use Taints instead of node condition in the cloud node_controller"
following the discussion with @wlan0, we should use taints instead of node conditions to mark node unusable to wait for routes to be initialized by cloud provider.
Obviously route_controller has to update the taints once it initializes the routes.

/sig node

[2017-12-04 15:55] yastij commented on #56796
/assign

[2017-12-04 16:03] danielmorlock opened #56797 "Kubernetes Flannel CNI does not re-create POSTROUTING MASQUERADE rules"
/kind bug

**What happened**:
Starting k8s with flanneld CNI on an Ubuntu 16.04 server results in the following POSTROUTING rules:

     $ iptables -t nat -L POSTROUTING
    Chain POSTROUTING (policy ACCEPT)
    target     prot opt source               destination
    KUBE-POSTROUTING  all  --  anywhere             anywhere             /* kubernetes postrouting rules */
    MASQUERADE  all  --  17

[2017-12-04 16:04] danielmorlock commented on #56797
/sig bugs

[2017-12-04 16:10] jsravn commented on #45976
@markine I don't know about the UDP packet loss. I haven't tested that out yet or found a way to reproduce it reliably. But scale events can get some issues as described. I had another idea - add an option to kube-proxy so it passes UDP packets through the userspace proxy. Then it can control precisely when to "close" the udp connection. However the existing userspace code would need to be improve

[2017-12-04 16:30] Hardy2015 opened #56799 "Please add Selector support to the LimitRange feature"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We have a namespace containing 700 replication controllers. They belong to an app, that exists in two sizes, the one small with only two pods, the other more sophisticated with four pods. When we started with K8s we wrote an app to create RCs on request. All specifications are inside rc.yaml and service.yaml. Meanwhi

[2017-12-04 16:35] mumoshu commented on #55022
I have a seemingly related issue to this [in kube-aws](https://github.com/kubernetes-incubator/kube-aws/issues/1039#issuecomment-348978375).
The surface error message isn't the same, but one source of problem was controller-manager.

In nutshell, apiserver was getting super slow to serve custom metrics API due to missing route to metrics-server, which resulted in controller-manager to fall into a

[2017-12-04 16:36] Hardy2015 commented on #56799
@kubernetes/sig-api-machinery-feature-requests

[2017-12-04 16:37] mumoshu commented on #55022
For apiserver part of problem, probably https://github.com/kubernetes/kubernetes/issues/56430 is related.

[2017-12-04 16:41] Deshke opened #56800 "kubeAPIServer Upgrade error with autoscaling/v2alpha1"
/kind bug
**What happened**:

kops upgrade 1.7.10 to 1.8.4
[code]

happens with `kops edit cluster $name`
[code]

**What you expected to happen**:
`kops update cluster $name` does validate the configuration of the cluster and if  non supported configurations appear at least a **WARNING** is shown

**How to reproduce it (as minimally and precisely as possible)**:

try to upgrade a cluster from 1.7.

[2017-12-04 16:42] chrislovecnm commented on #56800
/sig autoscaling
/sig apps
/sig api-machinery

[2017-12-04 16:45] chrislovecnm commented on #56800
To be clear this is not a kops bug, bit it appears that alpha autoscaling api group was removed in 1.8. Version was bumped from alpha to beta, without having alpha remain in 1.8.

I assume that alpha should have remained?

[2017-12-04 16:46] Deshke commented on #56800
would make sense, to leave alpha enabled but give out a warning that v1alpha1 is deprecated in 1.8 and will be removed in 1.9?

[2017-12-04 17:01] justinsb commented on #11883
Fair enough - the general ask is not that you fix the issue, but just move it forward (e.g. here the issue is tagging).  We discussed on slack, and we found where the docs got moved to; we talked about the additional tag format that isn't in there.  That's some progress at least :-)

[2017-12-04 17:05] msau42 commented on #48968
Hi @mofirouz, typically if you see the event 'Waiting: CrashLoopBackOff', it means that the volumes did successfully get mounted, but your containers had trouble coming up.  If you can still reproduce this problem, let's try to debug in a different issue.  This issue is specifically for tracking nuances regarding using Deployments and GCE PD.

[2017-12-04 17:11] nicksardo commented on #51711
You can fake it by using `externalTrafficPolicy: Local`, run a max of 1 pod per node for the respective service, and setting the sesionAffinity on the Backend Service. The Google LB will forward traffic to the same node and the traffic policy will prevent the traffic from being routed off that node. Of course, this only works if you don't have more than one selected pod on that node.

for N nodes.

[2017-12-04 17:11] #51711 closed

[2017-12-04 17:13] mtanino opened #56803 "Add e2e tests for iSCSI persistent volume"
It would better to have e2e for iSCSI persistent volume.

/sig storage

[2017-12-04 17:20] djsly commented on #56569
/area platform/azure

We have the same requirements in Azure and currently using the `HTTP_PROXY`,`HTTPS_PROXY` and `NO_PROXY` solution doesn't feel right...

In our case (azure specific) we would like that we could control the access using the Azure Network Security Group but this is another request. Until Microsoft provides us a better way to open up the access to the cloud API endpoints, we hav

[2017-12-04 17:21] mtanino commented on #56803
/assign

[2017-12-04 17:25] msau42 commented on #48968
Hi @lunemec, if you use GCE PD as ReadWriteOnce with Deployments, you will have downtime no matter what because your GCE PD can only be attached to one node at a time.  So it's better to architect your solution to use a many reader/writer volume (like nfs/gluster, or GCE PD as read only) + multiple pod replicas if you need availability.  I will update the docs to include best practices with ReadWr

[2017-12-04 17:26] aharonh commented on #51881
In my arm64 based k8s v1.8.4 with flannel 0.9.2 and ubuntu 16.04, created with kubeadm according to documentation I get pings from pod to pod ips accross nodes, but service ips (cluster ips) are not working from within the pods. Suprisingly to me, pings to cluster ips respond only from nodes.

[2017-12-04 17:27] msau42 commented on #48968
/assign

[2017-12-04 17:35] DreadPirateShawn opened #56805 "readString: Failed to read "/sys/fs/cgroup/...": open /sys/fs/cgroup/...: no such file or directory"
/kind bug

**What happened**:

We're seeing error-level logs regarding what appears to be a metric read failure:
[code]

It's a very low frequency -- we have two kube cronjobs that run one per minute, in 12 regions, so ~34560 total pods per day, and we've seen this occur 6 times in the past week, so call it once per day.

My guess is that it's a just a minor race condition.

**What you expected to

[2017-12-04 17:41] krousey commented on #56787
I haven't been following the network features too closely this release cycle. Did GCE enable private IP and switch it on by default? Or is this something else? If we did switch the master to private IP by default, the upgrade should respect that the cluster had a public IP and keep it. However, I don't think that's what is happening here because clients would probably break. Can someone from sig-n

[2017-12-04 17:43] ryanmcnamara opened #56806 "Updating statefulset from v1beta1 to v1beta2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

I have a stateful set that I created with api version v1beta1, I'm trying to update it to add a new annotation in the pod template using the v1beta2 api version in the update request but the update does not roll the pod. It seems that updating pods of stateful sets only works if it was initially created at version v1beta2, which I believe i

[2017-12-04 17:44] iMartyn commented on #45173
Thanks for joining in @justinsb, but I think it's simpler not to change the syntax.

Consider the current situation - I have a http app listening on port 80, and I give the annotations of an ssl certificate (that should be enough to say I want ssl) and a port for ELB to listen on (443).  There's no need for the annotation to do re-mapping.

The point is, as soon as you're saying you want SSL termi

[2017-12-04 17:50] dnardo commented on #56787
@krousey Short answer no.  Nothing sets this to the private IP by default that I know of.  I need more info.  Is this GKE or GCE?

[2017-12-04 17:54] krousey commented on #56787
@dnardo GCE according to the first post. I think @foxish (correct me if I'm wrong) is referring to this test suite: https://k8s-testgrid.appspot.com/sig-release-1.9-all#gke-1.8-1.9-upgrade-cluster-new&sort-by-failures=

Looks like the network partition tests aren't happy because something is changing (at least that's what this issue claims) with the network.

[2017-12-04 17:54] foxish commented on #56787
This is happening only in the GCE environment in cluster-upgrade tests.

[2017-12-04 17:56] foxish commented on #56787
The GKE failures (and the new runs of the network partition tests) are failing due to a botched fix (https://github.com/kubernetes/kubernetes/pull/56789) that I had tried. I've linked two offending runs in the issue itself.

[2017-12-04 18:12] mofirouz commented on #48968
@msau42 The pods failing to start was caused by a bad update to the pod command line caused by an internal system that we use. But this is beside the issue at hand...

The issue is that we *need* to use StatefulSets because we run a database with sensitive data replication requirements and cannot have pods being out of action for hours / undetermined amount of time while Kube / GKE sorts itself ou

[2017-12-04 18:18] dims commented on #56753
/sig api-machinery

[2017-12-04 18:19] dims commented on #56783
/close

please open a fresh issue with details.

[2017-12-04 18:19] #56783 closed

[2017-12-04 18:19] dims commented on #56786
/sig storage

[2017-12-04 18:20] dims commented on #56788
/sig azure

[2017-12-04 18:20] dims commented on #56797
/sig network

[2017-12-04 18:20] dims commented on #56805
/sig node

[2017-12-04 18:20] dims commented on #56806
/sig api-machinery

[2017-12-04 18:23] bsalamat commented on #56721
@greghaynes Please go ahead. I cannot assign the issue to you here, since you are not a member yet though.

[2017-12-04 18:27] dnardo commented on #56787
I know the cherry picks I added on Friday are not in yet.  It would be good to see if these pass after they are merged.

[2017-12-04 18:33] yguo0905 commented on #56730
This is great!

[2017-12-04 18:34] yguo0905 commented on #56730
/cc @vishh

[2017-12-04 18:37] mikedanese commented on #56582
Subdividing namespaces is not trivial. The current advice is to use different namespaces. Are you primarily concerned with dividing access between users or service accounts?

[2017-12-04 18:38] msau42 commented on #48968
Hi @mofirouz, did you also see the issue being discussed here, where the volume mounts are failing and never recovering because the GCE PD never gets detached from the old node?

[2017-12-04 18:44] bowei commented on #45976
Doesn'

[2017-12-04 18:53] mikedanese commented on #56174
Security usability issue: RunAsUser and RunAsGroup are disingenuous as alone they allow pod processes to escalate to any user or group (including root) using SUID/SGID. I don't think this is obvious behavior for users of PodSecurityPolicy. Can we modify defaults to disallow this unless explicitly requested?

[2017-12-04 18:54] derekwaynecarr commented on #53672
@tianshapjq -- to support isolation at container boundary, we would need support from the container runtime.  that would require support in the CRI to expose the resource, and support in individual container runtimes (contianerd, cri-o, docker, rkt, etc.) to actually make use of it.  in practice though, i have not seen a major requirement to support container boundary isolation.  do you have use c

[2017-12-04 18:57] blakebarnett commented on #39593
We are hitting this frequently also.

[2017-12-04 19:10] mikedanese commented on #55822
Can you outline a scenario? This is simple for the case where I want a pod to trust all cluster local actors but I can see how this becomes complex when we introduce multiple clusters.

[2017-12-04 19:13] Nick-Harvey commented on #43924
That didn't seem to work either :( same error

[2017-12-04 19:20] pompomJuice commented on #43924
What happens when you try to start the docker container manually from command line?

[2017-12-04 19:23] mikedanese commented on #55121
How many releases do we want to accept both?

[2017-12-04 19:25] jberkus commented on #56357
ACK.  In progress
ETA: 1.9.1 release
Risks: Fix code is difficult, requires test changes

According to SIG as of 12/1, a fix is being worked on, but may not be ready for 1.9.0 release.  SIG believes that the issue is not a showstopper, but will be user-visible.  Team is working to get a PR by 1.9.0 but may not be able to fix issue until 1.9.1.

[2017-12-04 19:32] jberkus commented on #56244
@yguo0905 status update?

[2017-12-04 19:41] jberkus commented on #53020
@crassirostris

Please provide a status update and plan for this issue.  Since #53006 isn't getting into 1.9, do you plan to proceed on this issue?  If so, what's ETA for delivery?  You're past the exception deadline.  Thanks!

[2017-12-04 19:46] bsalamat commented on #56714
Thanks guys for looking into this. IIUC, scheduler's throughput is at least 75 pods/s in a 100 node cluster. With this throughput we can achieve our SLO of 1000 pods in 15 seconds. That said, I think we should continue our investigations and make scheduler faster if possible.
One potential problem that I found while looking into scheduler's code several weeks ago is the fact that we keep running a

[2017-12-04 20:16] mikedanese commented on #40067
@liggitt answered this correctly.

[2017-12-04 20:16] #40067 closed

[2017-12-04 20:19] BenTheElder commented on #53016
I think this particular issue has been solved this by mounting a tmpfs to /tmp in the job container.

[2017-12-04 20:28] saad-ali opened #56813 "CSI Teardown Path does not contain `volume_id`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Teardown path does not contain `volume_id` or `driver_name`

* During mount, the CSI Mounter (i.e. `NewMounter(...)`), sets `volumeID` and `driverName` to `pvSource.VolumeHandle` and `pvSource.Driver` (see https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_plugin.go#L143).
* `volumeID`  and `driverNam

[2017-12-04 20:30] mikedanese commented on #30784
There's an escalation consideration with 'whoami' and 'whatcanido' APIs that I haven't seen discussed. Without these APIs and with a leaked credential, an attacker has to guess against the API what resources the credential has access to. With 'whoami', the guessing can be much more targeted.  With 'whatcanido', the attacker can trivially gain access to all resources that the credential has access

[2017-12-04 20:40] liggitt commented on #30784
I'm not sure I'd consider those escalation.

For whoami, the errors returned when authorization denies already contains some information about the calling user. I can maybe see some installations not wanting to let credential holders check who they are, but I think that becomes a default policy question.

For whatcanido, the number of resources and verbs is small enough that enumeration of all of

[2017-12-04 20:53] foxish commented on #54904
I suggest we reduce the expected completions to 3 for this test. It would prevent us timing out. We can have the discussion of whether this is the right behavior in https://github.com/kubernetes/kubernetes/pull/56702. @soltysh

[2017-12-04 20:56] caesarxuchao commented on #56761
Run-level tracking issue: https://github.com/kubernetes/kubernetes/issues/54522

[2017-12-04 20:58] Nick-Harvey commented on #43924
should I use kubectl run on one of the nodes or docker run? docker run, the container starts but I get connection refused. If I use kubctl, `error: failed to discover supported resources: an error on the server ("") has prevented the request from succeeding`

If I used kubectl on my local machine that's leveraging kubectl proxy, the container starts but I get the following:
 http: server gave HTTP

[2017-12-04 21:04] shyamjvs commented on #53327
@dashpole I managed to get one of the hollow-kubelet logs from the currently running kubemark-5000 cluster where we're seeing a forever undeleted pod 'load-medium-1010-gh8nw'. Attaching it here -

[kubelet-hollow-node-gnc8w.log](https://github.com/kubernetes/kubernetes/files/1528764/kubelet-hollow-node-gnc8w.log)

And the logs concerning to that particular pod are:

[code]

Clearly we're not seein

[2017-12-04 21:06] mikedanese commented on #30784
Maybe escalation isn't the right word. Without knowledge of client identity and client ability, client credentials are harder to use. This attribute of client credentials provides an extra layer of defense against leaked or otherwise compromised credentials. This is not critical if the ship has already sailed but nonetheless I wanted to consider it.

True. We would need to redact user info from au

[2017-12-04 21:09] dashpole commented on #53327
Looking...

[2017-12-04 21:12] yliaog commented on #56230
/cc @mbohlool

[2017-12-04 21:13] yliaog commented on #56278
/cc @cheftako

[2017-12-04 21:15] yliaog commented on #56316
/cc @caesarxuchao

[2017-12-04 21:16] vladimirvivien opened #56815 "CSI Mounter should create target path during SetUpAt call"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When a the internal k8s csi driver calls the external CSI driver for mounting (NodePublish) it is not creating the mount location.

**What you expected to happen**:
The internal CSI driver should create the target path to avoid bypassing security measures to allow external driver pod to do it.

**How to reproduce it (as m

[2017-12-04 21:17] vladimirvivien commented on #56815
/storage

[2017-12-04 21:18] vladimirvivien commented on #56815
/sig storage

[2017-12-04 21:19] yliaog commented on #56381
/cc @cheftako

[2017-12-04 21:20] vladimirvivien commented on #56813
/assign vladimirvivien

[2017-12-04 21:20] vladimirvivien commented on #56813
/assign @vladimirvivien

[2017-12-04 21:21] jsafrane commented on #56813
/assign @vladimirvivien

[2017-12-04 21:24] yliaog commented on #56489
/cc @jennybuckley

[2017-12-04 21:25] mml opened #56816 "Print what HTTP request we were handling when we print a stack trace"
This would make debugging a little easier:  when we print a stack trace into the log, can we annotate it to show which (if any) HTTP request we were handling?

cc @lavalamp
/sig api-machinery
/area apiserver
/area logging
/kind feature

(Also, we could use an area/debugging label.)

[2017-12-04 21:26] yliaog commented on #56567
/cc @caesarxuchao

[2017-12-04 21:26] vladimirvivien opened #56817 "CSI internal volume driver should probe external driver prior to NodePublish"
/kind bug

**What happened**:
The internal csi driver called NodePublish without probing the external driver.

**What you expected to happen**:
Prior to calling NodePublish RPC, Kubernetes must probe the external driver for readiness.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a pod that uses a csi-backed volume.

**Anything else we need to know?**:

**Environment**:

[2017-12-04 21:26] yliaog commented on #56584
/cc @mikedanese
/sub

[2017-12-04 21:27] dashpole commented on #53327
This looks like the culprit log line: `remote_runtime.go:246] RemoveContainer "4d3a382426ddc7b9" from runtime service failed: rpc error: code = Unknown desc = failed to remove container "4d3a382426ddc7b9": container not stopped`
It looks like even though we are returning an error when starting the container, we have already added that container to the "RunningContainers" list in the fake client du

[2017-12-04 21:27] #56667 closed

[2017-12-04 21:29] yliaog commented on #56627
/cc @caesarxuchao

[2017-12-04 21:31] mikedanese commented on #56584
This is a dup of #22609 and should be fixed by #51698 which is currently alpha

[2017-12-04 21:40] #56683 closed

[2017-12-04 21:50] sasskinn12 commented on #54918
Same issue here...

[2017-12-04 22:14] mofirouz commented on #48968
@msau42 Yep I experienced the same thing and I mentioned it. I don't know why in my case it bounced back after some hours (more than 13hrs!) - I suspect maybe an on-site GCE engineer manually detached the disk?

[2017-12-04 22:20] jiayingz commented on #56022
For reference, I implemented option 2 solution in PR https://github.com/kubernetes/kubernetes/pull/56818. The change itself is small. This is an alternative short-term fix we may consider to get into a 1.9 patch release. I think the main benefit of taking this fix compared to Option 1 solution is that we can change the underlying implementation to support init containers later with less user-facin

[2017-12-04 22:22] #52746 closed

[2017-12-04 22:22] #51602 closed

[2017-12-04 22:23] gnufied opened #56819 "Node taints from AWS cloudprovider can't be applied because of incorrect service account permissions"
Recently introduced fix of tainting the node if EBS volume on a node is stuck for too long in "attaching" state does not work on RBAC enabled clusters because of missing service account permissions.

/sig storage
/sig aws

[2017-12-04 22:29] msau42 commented on #48968
Hi @mofirouz sorry I missed it from your original comment.  I only see that you said the error was `Waiting: CrashLoopBackOff`.  This error occurs after the volume has been successfully mounted, and indicates that your container is crashing for some reason.  So I want to make sure we're not confusing two different issues here.  It is normal to see a FailedMount event for a few seconds, but once th

[2017-12-04 22:31] dashpole commented on #53327
Ref: https://github.com/kubernetes/kubernetes/pull/56821

[2017-12-04 22:37] jiayingz commented on #56022
No mater we take PR https://github.com/kubernetes/kubernetes/pull/56659 or PR https://github.com/kubernetes/kubernetes/pull/56818 for 1.9, I think we need to have this issue approved for 1.9 milestone.

@vishh or @dchen1107 or @derekwaynecarr can any of you approve this issue for 1.9? Thanks!

[2017-12-04 22:55] pompomJuice commented on #43924
Try the following.

Make your own docker registry. Use gitlab for this it is free.

Host some images on it on http. Try to start a pod with this image. Then verify that the docker you are looking at is in fact running that pod. If it is then you know you have the correct node.

Then like before `docker run` and explain to me what you mean by connection refused.

[2017-12-04 23:06] ihmccreery commented on #55797
Xref https://github.com/GoogleCloudPlatform/k8s-metadata-proxy/pull/12

[2017-12-05 00:35] stewart-yu commented on #56786
I can help to fix it.

[2017-12-05 00:49] geekofalltrades commented on #7789
Did the followup issue ever get created? I would love to go track it.

I've got a manifest that creates RBAC resources in both my-namespace and kube-system. My `.kube/config` is using a context with `namespace: my-namespace`. When I try to apply or create the manifest, the resources in `kube-system` will not create.

[code]

[2017-12-05 01:31] #56819 closed

[2017-12-05 01:50] polasekr opened #56826 "oidc-username-prefix switch is not"
/kind bug
/sig api-machinery

**What happened**:

This is the list of switches api server runs with:
[code]
It is configured to use OIDC for authentication and prefix is set to user-. When I authenticate OIDC user  (in this example rpolasek) without creating any role bindings, kubectl throws back error
[code]
In the error message it refers to user as URL#username, rather user-username (user-rpolas

[2017-12-05 01:52] kumare3 commented on #25908
Hey Guys, I see this issue has been open for a month. What is the latest on this? We have a use-case, where we want to run a job. The job runs a `main` container with a few side-car `containers`. We want the job to exit when the `main` container exits. Is the state of art to share a `file` to send a `signal` between the containers?

[2017-12-05 02:22] mdshuai opened #56827 "hpa event still said can't find metrics from heapster even the system use metrics-server"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**Description of problem:**
Now --horizontal-pod-autoscaler-use-rest-clients is default true, I have deploy metrics-server and no heapster, but in hpa envet it still said "no metrics returned from heapster".
Actually hpa already get metrics from metrics-server

**Version-Release number of selected component (if applicable):**
v1.10.0-alpha.0

[2017-12-05 02:23] mdshuai commented on #56827
@DirectXMan12

[2017-12-05 02:44] hzxuzhonghu commented on #56816
Already print http request.  https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go#L38

[2017-12-05 02:47] andyzhangx commented on #56777
One workaround is use command like following:
[code]

[2017-12-05 02:50] arashadahamad commented on #56786
Thanks @stewart-yu,  it would be good if you can share the plan

[2017-12-05 02:58] stewart-yu commented on #56786
I think more had disscued in [there](https://github.com/kubernetes/kubernetes/issues/45143) @arashadahamad

[2017-12-05 03:35] dixudx commented on #56786
/close

This has been fixed by #55824.

[2017-12-05 03:35] #56786 closed

[2017-12-05 03:36] dixudx commented on #33355
@thockin shall we close this since it has been fixed in #55824.

[2017-12-05 03:39] WanLinghao commented on #56539
@liqlin2015  if your demand is deploying ONE pod on each node across the cluster, you may use DaemonSet instead.

[2017-12-05 03:40] andrewsykim commented on #25908
I wouldn't mind starting some work on this, would like to know if anyone could review upcoming PRs if I do (maybe after kubecon).

cc @erictune @a-robinson @soltysh

[2017-12-05 03:44] jhorwit2 opened #56830 "The PersistVolumeLabeler controller should wait for its turn in the pending list of initializers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

According the [documentation](https://kubernetes.io/docs/admin/extensible-admission-controllers/#how-are-initializers-triggered), initializer controllers should only initialize the object once its name is at `metadata.initializers.pending[0]`.[Currently](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller

[2017-12-05 03:48] arashadahamad commented on #56786
@dixudx , I see this fix is available only in https://github.com/kubernetes/kubernetes/releases/tag/v1.9.0-beta.1

what about the 1.7 and 1.8 version

[2017-12-05 04:38] yguo0905 commented on #56244
For the failed run https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster/168?log#log

Node bootstrap-e2e-minion-group-9sch cannot register to master because

[code]

The node is of the newly created template bootstrap-e2e-minion-template-v1-8-5-beta-0-60-dcbe09a08ac68d, which does not contain `KUBE_MANIFESTS_TAR_URL`. The instance templ

[2017-12-05 04:55] saad-ali opened #56833 "GCE cloud provider AlphaFeatureGate can't handle more then 1 feature"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If the `alpha-feature` field in `/etc/gce.conf` contains multiple entries, e.g. `alpha-features = NetworkTiers,DiskAlphaAPI,NetworkEndpointGroup`, none of them are enabled.

Log message:
[code]

**What you expected to happen**:
Each of the comma-separated entries should be enabled.

**How to reproduce it (as minimally and

[2017-12-05 05:29] stewart-yu commented on #56833
I think it's better to process `comma-separated entries` in read `/etc/gce.conf`

[2017-12-05 05:50] dixudx commented on #56786
@jsafrane @pospispa Any plan to cherry pick this feature to 1.7 and 1.8?

[2017-12-05 05:51] hzxuzhonghu commented on #56833
https://godoc.org/gopkg.in/gcfg.v1#example-ReadStringInto--Multivalue

[2017-12-05 06:01] porridge commented on #56714
Bobby, we didn't change anything yet, so far I'm just trying
(unsuccessfully) to reproduce the issue of throughput being ~28 in a
5k-node cluster.

[2017-12-05 06:03] porridge commented on #56052
We have 2 green runs in a row now, for the first time since 1st half of November. I think we can tentatively declare a success and close this issue.

[2017-12-05 06:09] pikeszfish commented on #55599
I have the same problem when I use
- kubelet 1.7.11
- calico and calico-ipam
- portmap
- CNI config name `10-calico.conf`

kubelet output something like
[code]

But it's OK when I rename config name to `10-calico.conflist`

[2017-12-05 06:11] stewart-yu commented on #56777
Yes

[2017-12-05 07:19] hzxuzhonghu opened #56838 "DenyEscalatingExec admission controller should check psp hostNetwork"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

currently only `hostIPC ` `hostPID` are checked in `DenyEscalatingExec` admission controller

**What you expected to happen**:

hostNetwork should also be checked to deny exec /attach

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes ve

[2017-12-05 07:19] dongbinx commented on #53711
@leeningli
I have the same problem, how did you fix it? please help me, thanks!

[2017-12-05 07:20] hzxuzhonghu commented on #56838
/kind bug
/sig auth

[2017-12-05 07:21] wojtek-t commented on #56714
@bsalamat - as @porridge wrote above, we are not thinking how to improve a scheduler. This issue is all about regressions that happened and we need to investigate it.

[2017-12-05 07:22] linyouchong commented on #56564
/data is a special directory for mongo?
I have try you config (using tomcat image),it works well.

[2017-12-05 07:30] leeningli commented on #53711
@dongbinx
execute this commond："kubectl create clusterrolebinding yourname-cluster-admin-binding --clusterrole=cluster-admin --user=system:node:your node ip"   on your master

[2017-12-05 07:33] porridge commented on #56714
Still no luck with the following. Looks like I'll need to bring up a full-sized cluster after all:
[code]

[2017-12-05 07:38] hongli-my opened #56840 "tc(class/filter) leak when use kubenet"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kink bug

**What happened**:
======pod.yaml=======
[code]
create pod will create tc class and filter
[code]
delete pod only delete one class and filter
[code]
use `tc class show dev cbr0` or `tc filter show dev cbr0` also have some rule does not delete

Maybe a bug or some where need to be config in kernel ?

**What you expected to happen**:

**How to

[2017-12-05 07:39] hongli-my commented on #56840
sig/network

[2017-12-05 07:41] hongli-my commented on #56840
/area networking

[2017-12-05 07:41] hongli-my commented on #56840
/sig network

[2017-12-05 07:45] Rafaesp commented on #56776
I think you could write:
[code]
[code]

All traffic that doesn't match, will be denied.

Could anybody confirm this, please?

[2017-12-05 08:08] loadwiki opened #56841 "new feature: use 'kubectl exec' to attach pod which has already completed."
Now we use k8s to run some distributed machine learning jobs written by python.
Some times the pod command or argument may be wrong format and the pod complete immediately.
For instance, put command 'python train_cifar10.py --batch_size=128' instead of the correct format 'python train_cifar10.py --batch-size=128'. In such situation, pod completed immediately either. There would be no chance to exe

[2017-12-05 08:30] xujieasd opened #56842 "kube-proxy: too many iptables input filter chain will cause performence issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

As we know, for these serivces, nodeports, externalIPs without endpoint, kube-proxy iptables will make rejection rules in filter tables, it can avoid `close wait issue` #43212.
all these filter rules will match `KUBE-SERVICES` chain in both `INPUT` and `OUTPUT` chain
(`"-A INPUT -j KUBE-SERVICES"`, `"-A OUTPUT -j KUBE-S

[2017-12-05 08:30] Rafaesp commented on #51726
Is this going to be done or are you reviewing it yet?

[2017-12-05 08:30] kargakis commented on #28660
Fixed by https://github.com/kubernetes/kubernetes/pull/55329

[2017-12-05 08:30] #28660 closed

[2017-12-05 08:32] xujieasd commented on #56842
After I have searched kube-proxy simily issues, I find there already have a PR, #56164
This PR splitting out the "new" part of KUBE-SERVICES (NodePort and ExternalIP reject rules) into a separate KUBE-EXTERNAL-SERVICES chain run from INPUT
However I think it still cannot avoid large numbers of reject rules in INPUT chain, if we have many services with NodePort and ExternalIP without enpoints

I th

[2017-12-05 08:45] manojdevs commented on #56564
yes! '/data' is the data store for mongodb.

[2017-12-05 08:57] porridge commented on #55194
ACK. In progress, known regression #56683 fixed. Next job run tomorrow.
ETA: 06/12/2017

[2017-12-05 09:28] yue9944882 commented on #56381
Merged.
Closing this issue.

[2017-12-05 09:28] #56381 closed

[2017-12-05 09:35] zetaab commented on #50004
@FengyunPan imo this integration with openstack was better before you "fixed" it.

[2017-12-05 10:04] mcwienczek commented on #56539
I am having same problem with preferredDuringSchedulingIgnoredDuringExecution. After rolling update of a deployment, podaffinity is not longer respected. I want deployment to be spread across many nodes (not necessarily one pod per node) to achieve high-availability. Rolling update skewes pod anti affinity in such a way that sometimes I end up having all pods scheduled on one node. This invalidate

[2017-12-05 10:15] crassirostris commented on #53020
Sorry, I forgot to update this bug. We decided, that for this release the fix is too complicated to include, so we're moving this effort to 1.10

[2017-12-05 10:58] Rafaesp opened #56847 "matchLabels from NetworkPolicy's podSelector not working as expected"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I create a NetworkPolicy that matches two different pod labels, the resulting NetPol only matches the last label
**What you expected to happen**:
The resulting NetworkPolicy should match both labels

**How to reproduce it (as minimally and precisely as possible)**:
1. Create namespace
```kubectl create ns policy-demo

[2017-12-05 11:03] Rafaesp commented on #56847
@kubernetes/sig-network-bugs
@kubernetes/sig-api-machinery-bugs

[2017-12-05 11:12] wackxu commented on #56799
Agree with @Hardy2015 , I think this is a really good use experience for users when the LimitType is `pod`, Can anyone give some thoughts? If we agree do this, I can help done it.

[2017-12-05 11:39] wackxu commented on #56847
`matchLabels` is a map in  kubernetes, I think when decode, the latter one will cover the prior value and you should use different key when use `matchLabels`

[2017-12-05 11:42] shyamjvs commented on #56714
@porridge Maybe it's not needed to go all the way till 5000 nodes (which
also our project quota won't allow atm) - can we check if we see some
difference on 1000 or 2000 nodes? Also bisection should be relatively fast
if you run just density test (should take about 2-3 hrs per run iirc).

On Tue, Dec 5, 2017, 1:34 AM Marcin Owsiany <notifications@github.com>
wrote:

[2017-12-05 11:51] pospispa commented on #56786
I personally don't plan to cherry-pick this feature into K8s 1.8 or 1.7. I don't know if such cherry-picking could be justified.

[2017-12-05 11:51] Rafaesp commented on #56847
@wackxu Didn't know about key uniqueness. Closing issue. Thanks.

[2017-12-05 11:51] #56847 closed

[2017-12-05 11:57] pospispa commented on #33355
https://github.com/kubernetes/kubernetes/pull/55824 doesn't fix this bug. https://github.com/kubernetes/kubernetes/pull/55824 protects only PVCs that are in active use by a pod.

However, this issue is about a deletion of a PV that is bound to a PVC. https://github.com/kubernetes/kubernetes/pull/55824 doesn't protect PVs.

[PV protection](https://github.com/kubernetes/features/issues/499) feature

[2017-12-05 12:06] porridge commented on #56714
See above, 2k node clusters don't show this regression.

[2017-12-05 12:07] porridge commented on #56714
I'm also using a doctored density test which runs the bare minimum we need.

[2017-12-05 12:27] wojtek-t commented on #56714
I looked into a period when the regression happened, and the only PR that seems suspicious to me is https://github.com/kubernetes/kubernetes/pull/51192
It would be surprising to me if this would cause regression, but it may be possible.

[2017-12-05 12:40] thatsk opened #56850 "Failed to get system container stats for "/system.slice/kubelet.service": failed to get cgroup stats for "/system.slice/kubelet.service": failed to get container info for "/system.slice/kubelet.service": unknown container "/system.slice/kubelet.service""
Environement:-
centos 7.4.1708
kubeadm v1.8.4

**What happened**:
all working fine. but when I check I getting first error https://github.com/moby/moby/issues/30628
So I have upgraded and got resolved.
But again I get a new error as I mention the Subject issue. Don't know why its showing issue or its known issue in kubelet. Just let me know if you have any solution.
Below are logs which are contin

[2017-12-05 12:49] thatsk commented on #56850
@kubernetes/sig-kubeadm
@kubernetes/sig-kubelet

[2017-12-05 12:50] thatsk commented on #56850
sig/kubeadm

[2017-12-05 12:50] thatsk commented on #56850
sig/kubelet

[2017-12-05 13:28] yue9944882 commented on #56799
+1

[2017-12-05 13:59] jsravn commented on #45976
@bowei That kicks in after netfilter sees a reply packet on the UDP stream. It starts at 30s by default (nf_conntrack_udp_timeout I think), then goes up to 180s which is that setting.

[2017-12-05 14:08] jsravn commented on #45976
Re. endpoint update, I was wrong, I see now it gets called on endpoint update so should happen within the termination grace period.

[2017-12-05 14:45] dinvlad commented on #30558
Are there plans to also support `--from-env-file` for updates? Thanks

[2017-12-05 14:52] farcaller opened #56852 "rbd lock isn't removed upon pod termination"
/kind bug

**What happened**:

Upon killing a pod in a stateful set the pod isn't restarted, unable to claim the PVC bound to a RBD volume.

**What you expected to happen**:

Killed pods restart.

**How to reproduce it (as minimally and precisely as possible)**:

1. Set up a `StatefulSet` with a PVC that maps to an RBD volume.
2. Wait until pod is scheduled on node `A`.
3. Cordon `A` to prevent sa

[2017-12-05 14:53] farcaller commented on #56852
/sig storage

[2017-12-05 14:59] farcaller commented on #56852
Actually, the node `B` tries to clean up the lock and fails:

[code]

The ceph auth is

[code]

[2017-12-05 15:02] akosiaris commented on #56346
I just stumbled across this as well. And I can reliably reproduce it

`curl -L -O https://github.com/kubernetes/kubernetes/archive/v1.7.10.tar.gz`, try to build, works.

`curl -L -O https://github.com/kubernetes/kubernetes/archive/v1.7.11.tar.gz`, try to build, fails.

[2017-12-05 15:05] k82cn commented on #56714
Is it possible to enable `pprof` for the scheduler for investigation? It'll show which part is the slowest, and may give a clue on whether it's broken by recently PR.

[2017-12-05 15:10] dims commented on #56850
/sig node

[2017-12-05 15:10] dims commented on #56841
/sig node

[2017-12-05 15:11] dims commented on #56817
/sig storage

[2017-12-05 15:12] dims commented on #56735
/sig storage

[2017-12-05 15:12] tmjd commented on #55599
@pikeszfish I think what you are seeing is different.  When you are using portmap and calico the config must be a list which the kubelet requires to have the `conflist` suffix.

@felskrone You can set a logging level with `-v Level`, sorry I'm not sure what the Level should be but I'd probably try `Debug`.

[2017-12-05 15:15] liggitt commented on #56826
fixed in https://github.com/kubernetes/kubernetes/pull/56175 and https://github.com/kubernetes/kubernetes/pull/56229 (for 1.8.5, scheduled for 12/7)

[2017-12-05 15:15] #56826 closed

[2017-12-05 15:18] porridge commented on #56714
I had some problems bringing up a full-sized cluster. I was finally able to run the test on a 4150-node cluster with the code from 3df3c580b7, and scheduler throughput was ~41.5 pods/s.

[2017-12-05 15:18] porridge commented on #56714
@k82cn can you point me at rough instructions how to do that?

[2017-12-05 15:23] wojtek-t commented on #56714
https://github.com/kubernetes/community/blob/930ce65595a3f7ce1c49acfac711fee3a25f5670/contributors/devel/profiling.md

I think profiling is enabled by default in test-env, but I'm not sure. If not - there has to be some flag somewhere.

[2017-12-05 15:26] farcaller commented on #56852
Updating for those that will come after me. ceph requires a "blacklist" capability to remove locks:

[code]

[2017-12-05 15:26] #56852 closed

[2017-12-05 15:31] k82cn commented on #56714
Regarding the scheduler performance improvement, I'd suggest to open an issue to trace all related ideas here, and evaluate the priority/impact.

[2017-12-05 15:32] k82cn commented on #56714
The flag is `profiling` :).

[2017-12-05 15:41] soltysh opened #56853 "Job backoff limit workings when parallelism > 1"
This issue was born out of the discussion from https://github.com/kubernetes/kubernetes/issues/54904 and https://github.com/kubernetes/kubernetes/pull/56702.

In short:
Job controller has an exponential backoff in place when failures happen to a job. As long as the parallelism is one, it's clear when a failure or success happens, the latter clears the backoff. The problem is when parallelism > 1,

[2017-12-05 15:43] soltysh commented on #56853
/cc @foxish @kow3ns @clamoriniere1A
@kubernetes/sig-apps-feature-requests

[2017-12-05 15:45] soltysh commented on #54904
Done in #56702, along with the unittest that I wrote for resetting the backoff limit.

[2017-12-05 15:52] aknrdureegaesr commented on #48219
FWIW: When I edited `/etc/kubernetes/manifests/kube-apiserver.manifest` yesterday, that caused the `kubelet` v1.7.10 to restart the API server. Reproducibly, several times.

So this problem may have been solved?

[2017-12-05 16:04] #36847 closed

[2017-12-05 16:07] msau42 opened #56854 "Alpha e2e failing due to monitoring bringup failures"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-instrumentation-bugs

**What happened**:
Since at least the weekend, the alpha e2e suites have been intermittently failing because a few monitoring services failed to come up running.

https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-features

[2017-12-05 16:32] resouer commented on #56714
@bsalamat If I remembered correctly, it was a feature requested by user to have all failed predicates reported at once. We may need a option instead of completely remove this logic maybe?

[2017-12-05 17:04] dnardo commented on #56787
Cherry picks have been merged, let me know if that clears things up.

[2017-12-05 17:11] akalambu opened #56855 "Openstack LBAAS: members not added automatically"
When i use cloud provider Openstack and i use LoadBalancer to expose a service i see that the load balancer gets created but the nodes are not added as members to the load balancer pool

Expected result
LBAAS pool gets created but also members need to be added to the pool