[2018-07-25 14:34] wadeholler opened #66611 "Service type LoadBalancer tries to create FloatingIP even though the optional parameter floating-network-id was not used"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Creating service type: LoadBalancer with v1.10.3 and openstack RH-OSP 10, tries to allocate floating IP for LB even though `floating-network-id` is not specified in /etc/kubernetes/cloud.cfg.

kubernetes service state will not pass pending and controller manager keep having errors

**What you expected to happen**:

No floating IP t

[2018-07-25 15:12] danbondd commented on #66574
I successfully ran `sudo systemctl restart kubelet` on the master node. However, the terminating pod is still there.

[2018-07-25 15:12] itsuri opened #66613 "ort-by"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-07-25 15:13] chrisduong commented on #60295
/remove-lifecycle stale

[2018-07-25 15:14] sangrealest commented on #41469
@johnzheng1975  find the nodeSelector in  kubespray/roles/kubernetes-apps/efk/fluentd/templates/fluentd-ds.yml.j2 and label your nodes with that selector.

[2018-07-25 15:17] dims commented on #66613
/close

[2018-07-25 15:40] P1ng-W1n opened #66614 "CPU scheduler can't configure kube-proxy related POD cgroup settings in "static" mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Kubelet spams syslog with the following messages:

**What you expected to happen**:
No error messages

**How to reproduce it (as minimally and precisely as possible)**:
- Setup a base environment with kubeadm
- Make sure that kube-proxy is running fine
- Configure kubelet to use the --cpu-manager-policy=static flags with -

[2018-07-25 15:46] liggitt commented on #66574
restarting the kubelet doesn't restart the controller manager. how you restart it depends on your deployment. I'm not sure what method kops uses for controller-manager setup.

[2018-07-25 16:02] GaborLukacs commented on #66614
/sig bugs

[2018-07-25 16:32] IronCore864 commented on #66564
I'll try this asap and get back later.

[2018-07-25 16:47] shahbour commented on #65933
you need to update the provide id in node info , you can do that manually

[2018-07-25 16:59] Bondeau commented on #65933
Thank you @shahbour.

Is it be safe ?

How can I update manualy this provider id ? I'm not familiar with json request sorry.

[2018-07-25 17:02] shahbour commented on #65933
You can do kubectl edit node ...

[2018-07-25 17:04] Bondeau commented on #65933
Okay I will try this.
Thank you.

[2018-07-25 17:28] dims opened #66618 "Publish multi-arch images for Dockerfiles under test/images/"
- [X] "goproxy" to "gcr.io/kubernetes-e2e-test-images"
- [X] "jessie-dnsutils" to "gcr.io/kubernetes-e2e-test-images"
- [X] "redis" to "gcr.io/kubernetes-e2e-test-images"
- [X] "serve-hostname" to "gcr.io/k8s-authenticated-test"

[2018-07-25 17:29] dims commented on #66618
/sig testing

[2018-07-25 17:31] dims commented on #66618
tip for uploading `server-hostname` is here - https://github.com/kubernetes/kubernetes/pull/63453#issuecomment-407798138

[2018-07-25 17:50] cjwagner commented on #66618
`server-hostname` should be published to gcr.io/k8s-authenticated-test now.
I'm rerunning `make all-push` for the other 3 images.

[2018-07-25 17:50] morenoh149 commented on #10735
/lifecycle frozen

[2018-07-25 17:51] morenoh149 commented on #10735
/remove-lifecycle frozen

[2018-07-25 17:54] IronCore864 commented on #66564
Works, great. After passing cloud provider to both controller manager and api server. Please go ahead and close this ticket but I really appreciate it if we could improve the doc to be more detailed on this 👍

[2018-07-25 18:05] liyinan926 opened #66620 "Jobs with deterministic pod names"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Within the community working on Apache Spark on Kubernetes, there's some recent discussions around high-availability (HA) support for Spark drivers, particularly for Spark streaming applications for which HA is critical. Currently the Spark driver runs in a bare pod and if it the pod dies for whatever reason, the app

[2018-07-25 18:12] geekgonecrazy commented on #64743
Looks like the NodeProblemDetector change lands in:

So at least when these are available on gke....  A workaround to help automatically repair nodes with this issue should be in place.

[2018-07-25 18:21] cjwagner commented on #66618
I think the `goproxy` and `redis` images were published successfully this time.

`jessie-dnsutils`:
[code]

[2018-07-25 18:49] johscheuer opened #66621 "ResourceQuota for Services are misleading"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
From the official docs: https://kubernetes.io/docs/concepts/policy/resource-quotas/#object-count-quota it should be possible to set Quotas for different Service types e.g. `services.loadbalancers` and `services.nodeports` so in theory I can forbid to create a raw service of the type `NodePort` but allow to create services

[2018-07-25 19:19] sttts commented on #66610
@nikhita clarified that we completely forbid `patternProperties` right now because OpenAPI v3 does not support them. So the described issue is not existing for us.

[2018-07-25 19:19] #66610 closed

[2018-07-25 19:34] raphaeljoie opened #66622 "Call to pods sometimes slow : it takes either 0, 10, 20, 30 ... seconds"
/kind bug

**Context**:
I have an infrastructure deployed on AWS using Terraform. Two Spring (Java) apps are deployed using Terraform, via Kubernetes using a `kubernetes_replication_controller` and a `kubernetes_service`.

Using a simple infra, I experienced sometimes realy slow response when calling a pod from an other pod *and* when calling from the outside.

**What you expected to happen**:
Res

[2018-07-25 19:44] wendorf commented on #65732
To provide an update:

We've since created a second cluster for all of our Spark jobs, and have fully migrated them to the new cluster. Our original cluster no longer shows this memory problem, and the problem has migrated to the new cluster along with the Spark jobs, so it does look like our original hunch is correct. _Why_ that's correct is still elusive.

[2018-07-25 19:50] r0bj commented on #45419
@sstarcher @mechpen calico ticket related to this issue:
https://github.com/projectcalico/calico/issues/1109

[2018-07-25 20:01] dims commented on #66618
@cjwagner can you please try https://github.com/kubernetes/kubernetes/pull/66624 ?

[2018-07-25 20:33] kfox1111 commented on #64984
@jsafrane was a decision made whether to use crd or registrar flag?

[2018-07-25 20:45] cjwagner commented on #66618
`jessie-dnsutils` should now be published too thanks to @dims PR.

[2018-07-25 21:16] dims opened #66626 "Publish multi-arch images for e2e tests (Dockerfile not in test/images)"
- [ ] "k8s-sample-admission-webhook" (to "gcr.io/kubernetes-e2e-test-images")
       - fixing build for this image [here](https://github.com/kubernetes/kubernetes/pull/66665) (MERGED)
       - need to publish from directory `test/images/webhook`
- [ ] "k8s-aggregator-sample-apiserver" (to "gcr.io/kubernetes-e2e-test-images")
       - Really old image build from k/k 1.7 branch, about to be [promote

[2018-07-25 21:17] dims commented on #66626
looking at the images in http://gcr.io/google_containers

[2018-07-25 21:17] bsalamat opened #66627 "Scheduler checks feasibility and scores a subset of all cluster nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

Today, kube-scheduler checks feasibility of all of the nodes in a cluster for every pod in every scheduling attempt. All of those feasible pods are then scored. Our performance data shows that 90th percentile of running predicate and priority functions takes about 30ms per pod and 99th percentile is as high as 60ms/pod.

We would like to

[2018-07-25 21:22] tallclair opened #66628 "Move cloud-specific roles out of RBAC bootstrap"
As of https://github.com/kubernetes/kubernetes/pull/56709, all Kubernetes clusters with RBAC bootstrap roles for AWS, regardless of whether they are running on AWS. The hardcoded RBAC bootstrap policy should only include roles that are used by all clusters, regardless of addons, configuration, or cloud provider.

The `system:aws-cloud-provider` ClusterRole(Binding)s should be removed from the boot

[2018-07-25 21:22] dims commented on #66626
/assign @mkumatag
cc @cjwagner

[2018-07-25 21:32] craigbox commented on #56306
/remove-lifecycle stale

[2018-07-25 22:01] vladimirvivien commented on #66323
@msau42 Yes, agreed this has to be solved. As you pointed out user error or improperly configured PSP can set `fsgroup` value that does not match the correct attribute, causing permission issues.

Here is what I think can be done without new CSI capabilities:

- `if PV.AccessModes == nil`, then do not apply fsgroup
-  `if contains(PV.AccessModes, RWM) || contains(PV.AccessModes, ROM)` then:
    -

[2018-07-25 22:05] f3flight opened #66629 "dns service discovery fails on 1.11 with coredns (new default)"
/kind bug

**What happened**:
DNS service discovery doesn't work:
[code]

**What you expected to happen**:
DNS service discovery works

**How to reproduce it (as minimally and precisely as possible)**:
Not sure, I've started back my Ubuntu-based Kubernetes lab on Linux Academy to go through DNS exercise and found that DNS discovery doesn't work; DNS in general works.

**Anything else we need to kn

[2018-07-25 22:11] f3flight commented on #66629
@kubernetes/sig-apps-bugs

[2018-07-25 22:13] azman0101 commented on #45976
@joshbenner

`--conntrack-min=536870912`

This value seems very high. How did you determine that this was the right value for your use-case ?

[2018-07-25 22:20] f3flight commented on #66629
/area dns

[2018-07-25 22:23] f3flight commented on #66629
@kubernetes/sig-network
/remove-sig apps

[2018-07-25 22:23] f3flight commented on #66629
@kubernetes/sig-network-bugs

[2018-07-25 22:40] oomichi commented on #66522
@sttts
Thanks for your reply, can I confirm this issue?
When calling this API directly with curl, the API returns:
[code]
That says v1beta1 is only available. Then when calling the API with "extensions/v1beta1":
[code]
That means the API returns the list of available extensions on v1beta1 API, IIUC.
I see "/apis/extensions/v1beta1" itself is beta, but is "/apis/extensions" also beta?

[2018-07-25 22:42] oomichi commented on #66522
One more thing is my response would be late because I also is traveling the rest of this week :-)

[2018-07-25 22:44] rajansandeep commented on #66629
@f3flight
You need to specify the IP of the CoreDNS pod

example
[code]
Or you can check by doing a `dig` command instead of `nslookup`

example:
[code]

[2018-07-25 23:03] ixdy commented on #66626
`e2e-net` comes from https://github.com/kubernetes/kubernetes/tree/master/test/images/net; I think it's just `gcr.io/kubernetes-e2e-test-images/net` now.
`gb-frontend` seems to be https://github.com/kubernetes/examples/blob/master/guestbook/php-redis.
Similarly, `gb-redisslave` seems to be https://github.com/kubernetes/examples/tree/master/guestbook/redis-slave.

[2018-07-25 23:04] ixdy commented on #66626
(I found the gb- images using cs.k8s.io, btw - https://cs.k8s.io/?q=gb-frontend&i=nope&files=Makefile&repos=)

[2018-07-25 23:05] ixdy commented on #66626
`k8s-dns-dnsmasq` sounds like https://github.com/kubernetes/dns.

[2018-07-25 23:11] ixdy commented on #66626
`git blame` on the k8s-aggregator-sample-apiserver image usage leads me to https://github.com/kubernetes/kubernetes/pull/50347 and then ultimately to https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/sample-apiserver/hack/build-image.sh.

[2018-07-25 23:19] #59946 closed

[2018-07-25 23:55] neolit123 commented on #66564
ref: https://github.com/kubernetes/kubernetes/issues/66564

[2018-07-25 23:55] dims commented on #66626
/sig testing

[2018-07-26 00:02] dims commented on #66626
related to https://github.com/kubernetes/kubernetes/issues/38067

[2018-07-26 00:02] dims commented on #66618
related to https://github.com/kubernetes/kubernetes/issues/38067

[2018-07-26 00:31] Mahla1990 opened #66636 "Deleting replica and deployment does not delete the pod"
**BUG REPORT**:

/sig cli
/kind bug

**What happened**:
When I deleted the deployment and replicas via Ruby client, the replica and deployment are gone but the pods is till there.

[code]

`replica sets [#<Kubeclient::ReplicaSet metadata={:name=>"***", :namespace=>"default", :selfLink=>"/apis/extensions/v1beta1/namespaces/default/replicasets/***", :uid=>"36209078-7bc3-11e8-a201-fa163e1a7ce3", :res

[2018-07-26 00:34] f3flight commented on #66629
@fturib the logs are clean and mostly empty. See below. @rajansandeep thank you for the hint. Nslookup still doesn't work, but it seems to be a problem with **nslookup** itself (I used "busybox" image) rather than k8s; dig via another container works fine, and from busybox I can see that resolution works if I do ping instead:
[code]
Closing, thanks again for the help.

[2018-07-26 00:34] #66629 closed

[2018-07-26 00:36] joekohlsdorf commented on #45976
If you know that you have a lot of external queries, you should verify that you are not hitting any limits of your upstream DNS or cloud provider. I ran into this because someone thought it would be a good idea to not cache NXDOMAIN responses in kube-dns by default. Unfortunately checking this is a bit tricky because the number of upstream DNS reqs isn't (yet) provided as a metric.

[2018-07-26 00:38] wgliang commented on #66627
I think we also need to ensure that the chances of each Node attempting to be scheduled are equal.

[2018-07-26 01:34] igorpeshansky commented on #52162
/remove-lifecycle rotten

[2018-07-26 01:36] andrewmyhre opened #66637 "kube-apiserver crash-loops when cloudprovider enabled and --advertise-address=0.0.0.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Launching a cluster with cloudprovider (AWS) enabled and `--advertise-address=0.0.0.0`, kube-apiserver would run for a minute or two and then exit with:

[code]

When I changed the `--advertise-address=` value to the public IP of the node kube-apiserver ran normally. The message `Current master IPs listed in storage are [

[2018-07-26 02:15] neolit123 commented on #66636
/sig cli
/kind bug

[2018-07-26 02:16] neolit123 commented on #66637
/sig cloud-provider

[2018-07-26 02:18] neolit123 commented on #66621
/sig cli
(please, delegate if needed)

[2018-07-26 03:05] #50122 closed

[2018-07-26 03:17] mingweiLIU commented on #65221
Same here, version v1.11.0 , cnetos7.

[2018-07-26 03:18] mingweiLIU commented on #65221
Same here, version v1.11.0, centos7

[2018-07-26 03:29] jeremywadsack commented on #63214
/remove-lifecycle stale

[2018-07-26 03:43] ghostsquad commented on #40422
Is the plan to bake in an audit system that can be used for rollbacks?

[2018-07-26 04:06] qiujian16 opened #66642 "kubectl watch does not support server-print"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If creating a crd xxx with additionalPrinterColumns, running `kubectl get xxx --watch` only returns "Name Age".

**What you expected to happen**:
same as `kubectl get` command, `kubectl get --watch` should also use server side printing by default.

**How to reproduce it (as minimally and precisely as possible)**:
Create a

[2018-07-26 04:06] #60393 closed

[2018-07-26 04:07] qiujian16 commented on #66642
/sig-cli

[2018-07-26 05:05] jiatongw commented on #64021
**Latest upate:**

The tagging would be applied on host-level. We can use `VM.Runtime.Summary.Host` to detect drift of VMs.
We decided to maintain `phase 1` as an **opt-in** feature, and keep it as simple as possible. Changes are:

- Add a new field `Labels` into vSphere configuration file
- Add `zone`, `region` property to field `[Labels]`
- `legacyMode`, `allowEmpty` will not be considered

Exam

[2018-07-26 05:35] krmayankk commented on #29838
/remove-lifecycle rotten

[2018-07-26 05:37] andrewsykim commented on #60646
We were discussing this same problem here https://github.com/kubernetes/kubernetes/pull/60292.

TL;DR we should consider caching or rate limiting (or both?) in route controller since it seems to be a common problem across providers.

[2018-07-26 05:37] andrewsykim commented on #60646
/remove-lifecycle stale

[2018-07-26 06:02] luizportela commented on #37218
Please look this guys! thanks!

[2018-07-26 06:21] johscheuer commented on #66621
I found the according code: https://github.com/kubernetes/kubernetes/blob/master/pkg/quota/evaluator/core/services.go#L126-L134

So a service of type `LoadBalancer` will increase the used quotas for services of the type `LoadBalancer` and `NodePort`. I understand the idea behind this because each service of the type `LoadBalancer` will require at least one NodePort. But then the documentation it r

[2018-07-26 06:30] tanshanshan commented on #66621
https://github.com/kubernetes/kubernetes/blob/85b8a23f197c39136f4a17ea59fffa4c4e8de225/pkg/quota/evaluator/core/services.go#L130-L134

I think the codes designed this.

[2018-07-26 06:39] johscheuer commented on #66621
@tanshanshan thanks for your replay that exactly the same code snippet I posted above :) The main question here is (at least for me): "Is the documentation wrong or is the calculation wrong".

[2018-07-26 06:59] sttts commented on #66522
The extensions API group is deprecated, i.e. we will not add any new types or versions to it. So I would consider the whole group as better forever.

[2018-07-26 07:04] Lion-Wei commented on #66607
I think the reason is, traffic from in cluster have no need to go out side(lb) then come back.
And probably lb should not do TLS decoder work.

[2018-07-26 07:17] FKatenbrink commented on #36304
Any update on this?

[2018-07-26 07:45] seanlei commented on #66103
@m1093782566 how you find that nat mode will not do snat?  and why?

[2018-07-26 07:52] jsafrane commented on #66323
* If mount reference count <= 1, apply fsgroup
     * If mount reference count > 1, do not apply fsgroup to void stated issue

A RWM volume (say NFS) can be mounted on multiple nodes. Do you have reliable count of mounts across all nodes?

[2018-07-26 08:14] pohly opened #66649 "refactor test/e2e/framework"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

The E2E framework has grown organically over time. As a result, it is both hard to maintain and close to impossible to use outside of Kubernetes itself.

**What you expected to happen**:

The goal is to make it possible that other projects can:
- import test/e2e/framework as a vendor dependency without pulling in sup

[2018-07-26 08:16] jiatongw opened #66650 "Error when using Godep to manage dependencies"
I am working on some code that need a dependency, which is already one of the vendors in kubernetes. **I fetch the latest version and manually copy it** to `kubernetes/vendor` to replace the older version.  (for example, `kubernetes/vendor/github.com/foo` is the older version dep, what I did was I manually fetched the latest version to my GOPATH, and then copy&paste it to `kubernetes/vendor/github

[2018-07-26 08:18] mikenorgate opened #66651 "Conntrack table not flushed when pod deleted"
/kind bug

**What happened**:
I am seeing exactly the same bug as #59033

1. A server pod exposes UDP host port.
2. A client sends packets to the server pod thru the host port. This creates a conntrack entry.
3. The server pod's IP changs due to whatever reason, such as pod gets recreated.
4. Due to the nature of UDP and conntrack, new request from the same client to the host port will keep hittin

[2018-07-26 08:31] huyqut opened #66654 "k8s + Flannel + Vagrant => DNS problem: "Name or service not known""
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT

/kind bug

**What happened**:

I setup a Kubernetes mini-cluster (1 master - 1 node) using Vagrant. CNI is Flannel. Everything is set and both master and node are ready. No problem whatsoever with kube-system pods.

However, when I try a simple deploy:
[code]
and try to exec into it. DNS cannot be looked up:
[code]

Nothing works. If I try

[2018-07-26 08:31] mikenorgate commented on #66651
/sig network

[2018-07-26 08:31] huyqut commented on #66654
/sig networking

[2018-07-26 08:32] islinwb commented on #66582
@janetkuo Hi! I've submitted PR #66605 and #66606 for the 3rd and 5th item in the list. Would you take a look at them when you are availbale? Thanks!

[2018-07-26 08:34] jiatongw commented on #66650
/kind bug

[2018-07-26 08:34] mborsz commented on #66337
I think it started around ~2018-07-12.

Latest run is also affected by this issue: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/184

[2018-07-26 09:34] shyamjvs commented on #66337
Thanks.
So yesterday I took a look at test-infra changes and found following relevant ones:

- (July 12) https://github.com/kubernetes/test-infra/pull/8661 moved 5k-node scalability tests to us-east1-b (however, lower scale jobs (which were untouched) are also seeing the issue)
- (July 9) https://github.com/kubernetes/test-infra/pull/8604 enabled advanced audit log for scale-performance (but this

[2018-07-26 09:40] shyamjvs commented on #66337
So @mborsz and me were discussing offline and I suggested looking at historical runs of our gce-100 job (where we seem to face the issue) to find the oldest suffering run as that job is running way more frequently than 5k one. Also, it maybe the case that some node's docker crashed even when the test was green (due to happening at a less critical time) - but this is sth to verify.

[2018-07-26 09:59] flauflauf commented on #66450
This is crucial when following GitOps practices.

We manage our Kubernetes configuration in Git. Every commit triggers a CI pipeline which applies the configuration to our cluster. Seeing "configured" in the kubectl apply output for configuration files that did not change should be a sign of configuration drift (someone directly administered the cluster without a git commit).

[2018-07-26 10:11] redbaron opened #66661 "kubectl exec times out if no output is produced"
/kind bug

/sig cli
/sig api-machinery

**What happened**:

`kubectl exec POD sleep infinity` exits after 240 minutes of inactivity

**What you expected to happen**:

session stays up as long as POD is up and APIServer/Kubelet is not restarted

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

I grepped Kubernetes and Go sources for `24

[2018-07-26 10:13] aleks-mariusz opened #66662 "initial HA setup scenario - race condition ?"
i've been trying to set up a k8s lab cluster to play with, (3x VMs).. however my goal is to not only to learn about how k8s works but to play with HA.. so far i'm having a lot of trouble getting this to work reliably (more like -at-all-)

i'm following the instructions here: https://kubernetes.io/docs/setup/independent/high-availability/#stacked-control-plane-nodes

trying to boot strap the first

[2018-07-26 10:14] aleks-mariusz commented on #66662
one sec.. i pressed enter in the title field (thought i was in the main field) and submitted it before i finished filling it all out.. will edit the issue and remove this comment when it's ready to be handled

[2018-07-26 10:30] P1ng-W1n commented on #66661
I think that's an expected behavior when --streaming-connection-idle-timeout is not configured for kubelet.
From https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/:

Try to add --streaming-connection-idle-timeout=0 to your kubelet startup script / systemd service file

[2018-07-26 10:54] francotseng opened #66664 "cephfs volume doesn't support client quota"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Cephfs volume with ceph-fuse of ```jewel``` and earlier version does not support capicity quota, which means that the pod using the cephfs volume can use as many space as the cephfs provides, instead of the quota's limitation.

**What you expected to happen**:
Pods mounting cephfs volumes should be rejected to write any mo

[2018-07-26 11:08] francotseng commented on #66664
#dibs

[2018-07-26 11:13] #60413 closed

[2018-07-26 11:31] timoreimann commented on #22368
@alcohol `kubectl delete`ing the Daemonset pods should do the trick I guess.

[2018-07-26 11:33] gmichels commented on #22368
Here is a quick solution depending on your Helm knowledge: make it a Helm chart and use the ConfigMap checksum in an annotation as described in https://github.com/helm/helm/blob/master/docs/charts_tips_and_tricks.md

[2018-07-26 11:35] KIVagant commented on #13488
@alcohol , check this one https://github.com/kubernetes/kubernetes/issues/13488#issuecomment-356892053

[2018-07-26 11:45] dims commented on #66650
@jiatongw did you see https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md ?

[2018-07-26 11:46] k82cn commented on #66560
/kind feature

Similar requirements with https://github.com/kubernetes/kubernetes/issues/40358

/cc @kevin-wangzefeng , someone may also interest in this feature :)

[2018-07-26 11:51] wgliang commented on #66627
Hi @bsalamat
 I have two thoughts:
1, need to implement node_spreading to balance the chance that Node is selected
2, need to pass an atomic counter to control the goroutines (current number is 16) that are running at the right time, we can add a parameter in the workqueue.Parallelize()  to complete.

I am willing to help implement this feature if you feel that it is ok.

[2018-07-26 11:54] k82cn commented on #63188
Did not trigger this issue again, close this for now.

[2018-07-26 11:54] #63188 closed

[2018-07-26 11:59] k82cn commented on #66627
/priority important-soon

[2018-07-26 12:03] ZP-AlwaysWin commented on #59033
The problem still exists in the latest version！I am don't happy

[2018-07-26 12:04] Zhan-Jie commented on #59033
is this problem solved ?
I  found it again on kubernetes 1.11 !!!!

[2018-07-26 12:05] Zhan-Jie commented on #59033
差评

[2018-07-26 12:08] alcohol commented on #22368
Thanks for the tips :-)

[2018-07-26 12:08] alcohol commented on #13488
Thanks for the tip :-)

[2018-07-26 12:11] k82cn commented on #66627
/status approved-for-milestone

[2018-07-26 12:14] k82cn commented on #66614
/sig node

[2018-07-26 12:21] mborsz opened #66672 "High pod startup latency in scalability tests"
E.g.: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/15903

[code]

/sig scalability
/cc @shyamjvs
/assign

[2018-07-26 12:21] Zhan-Jie commented on #66651
/kind bug

You are right ! I also experienced the same bug on kubernetes 1.10.5 and kubernetes 1.11.1 .
This problem is repeated in several issues.

[2018-07-26 12:35] k82cn commented on #66070
/sig node

[2018-07-26 12:37] k82cn commented on #65746
/kind feature

[2018-07-26 13:07] chrisohaver commented on #66629
Just an FYI, that is not correct. You do not need to specify the CoreDNS pod IP to get a lookup to work.  Pods will, by default, point to the cluster dns service IP (e.g. 10.96.0.10).  For example, you can see that happening in the output of nslookup in this issue description.

[2018-07-26 13:16] r7vme commented on #66346
I'll wait little bit for a proper fix from CoreOS i think. Trying to get attention about https://github.com/coreos/bugs/issues/571

[2018-07-26 13:21] vikaschoudhary16 opened #66673 "[Umbrella issue] Quota Support For Priority-Class Work Tracker"
This issue is meant to track and discuss planned work items for the quota support for priority classes across  releases.
This list is not final. This issue will be updated and iterated over to add any missing items.

## v1.11 Done:
- [X]  Implement quota support for priority classes as alpha feature(https://github.com/kubernetes/kubernetes/pull/57963)
- [X] Fix an issue related to quota sync (#647

[2018-07-26 13:21] k82cn commented on #65257
We can not do that; AntiAffinity also supports "zone/topologyKey", but kubelet should not knows the status of other nodes. That's why we did not include Pod Affinity/Anti-Affinity in kubelet admit.

[2018-07-26 13:42] k82cn opened #66674 "Promot TaintBasedEviction to Beta"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

TaintBasedEviction: https://github.com/kubernetes/features/issues/166

[2018-07-26 13:42] k82cn commented on #66674
/sig scheduling
/help-wanted

[2018-07-26 13:54] AlexMuresan commented on #66387
@andyzhangx  I was using [this](https://sourceforge.net/projects/winnfsd/) for nfs mount functionality.

[2018-07-26 13:55] redbaron commented on #66661
You are absolutely right! thank you very much.

[2018-07-26 13:55] #66661 closed

[2018-07-26 14:03] pohly commented on #66649
My thoughts about Viper..

Pros:
- different, unrelated packages can set defaults and get values independently *if* we establish some naming scheme for keys such that keys don't clash - but the same also works with `flag`
- no need to register valid keys: just define some Go struct, then call `viper.Unmarshal(&mystruct)`

Cons:
- because keys don't need to be registered, typos in key names (in env

[2018-07-26 14:04] andyzhangx commented on #66387
@AlexMuresan I mean how do you use the nfs client in k8s? The following mount logic in mount_windows.go is written by myself, now it only supports cifs protocol on Windows:

https://github.com/kubernetes/kubernetes/blob/2486d51eb9d9bb3b43fba23b2ac52d4a863e3973/pkg/util/mount/mount_windows.go#L81-L82

[2018-07-26 14:11] anhsirksai commented on #66674
Can I please pick it up and contribute?

I have sent you a mail request also with further details.

[2018-07-26 14:37] pohly commented on #66649
One more thing to consider are auxiliary files. At the moment, they get built into the test binary via test/e2e/generated/bindata.go, which has to be generated anew when adding or removing tests. One of the goals for reusing storage tests for external drivers was that the tests can be used and extended via external scripts, without recompilation (https://docs.google.com/document/d/1I6Rn8X3-B0UbC6Q

[2018-07-26 15:01] yue9944882 opened #66680 "[Umbrella Issue] Authz & Core admission controller clientset/informer refactor internal->external"
Leave the discussion open here :)

We want to use external clientset / informers inside admission controllers instead of the internals. With the help of this, the admission check would be done by using external types as auxiliary types for
 admitting internal types in the admission check. Basically the refactor of this part would be following the "defacto" that:

- if we are consuming some object

[2018-07-26 15:01] yue9944882 commented on #66680
/sig api-machinery

[2018-07-26 15:30] kfox1111 commented on #22368
Still waiting for a real fix to this issue too. :(

[2018-07-26 15:52] liggitt commented on #46442
We just encountered this (again) in our aws instances, with the node controller deleting Node API objects while instances were temporarily shut down, losing node labels applied by the scale-up process.

This is pretty clearly a data loss issue, and I think resolving that should be prioritized over responsiveness of auto-draining/rescheduling pods in node shutdown cases. Administrators already have

[2018-07-26 16:03] kksriram commented on #49817
Kubernetes KMS plugin for HashiCorp Vault : https://github.com/oracle/kubernetes-vault-kms-plugin

[2018-07-26 16:04] glaceroy commented on #44665
Hello All. Need your help. I have installed kubectl and minikube on my MAC but both are not working.

When I run minikube start I get an error "Segmentation fault: 11"

When I run kubectl get nodes I get an error "The connection to the server localhost:8080 was refused - did you specify the right host or port?"

Please can you help me fix this issue

[2018-07-26 16:07] thomas-riccardi commented on #19475
/reopen
It seems it is still *not* possible to access the containers image ID using the downward API.

[2018-07-26 16:20] msau42 commented on #66323
In addition, that would be a change in semantics to how we support rwx volumes today.  If we don't have a new CSI capability, then I think the best course of action is to only apply fsgroup for RWO volumes.  Some questions remain:

- Do all RWO volumes support fsgroup?
- RWX is a superset of RWO.  So if a user requests a RWO volume, it could still be satisfied by a RWX volume type.  Can we detect

[2018-07-26 16:30] justaugustus commented on #47543
@colemickens @kubernetes/sig-azure-misc -- do we have an updated status for this?
/assign @kubernetes/sig-azure-misc

/remove-lifecycle rotten
/lifecycle frozen

[2018-07-26 17:06] saurfangg commented on #29642
Any chance of an answer on this? We're also running into this issue and would like to experiment with increasing the TTL from 30 seconds to a couple minutes.

[2018-07-26 17:13] wsong commented on #65785
I actually haven't seen this on the release version of 1.11.0; I only saw this on 1.11.0-beta.0. Not sure what the root cause was, but perhaps this was fixed in a subsequent commit? I'll go ahead and close this for now.

[2018-07-26 17:16] jiatongw commented on #66650
Hi @dims ! Yes, I did. Cause the dependency is already there and I want to update it. So I assume that I will only do `Updating a dep` and `Saving deps` right? Now I have the latest version in my GOPATH, and I also copied it into vendor folder. But running the commands listed in`Updating a dep` section also failed. (this one`hack/run-in-gopath.sh bash -c 'git -C $GOPATH/src/example.com/go/frob che

[2018-07-26 17:24] bsalamat commented on #66627
I have two thoughts:
1, need to implement node_spreading to balance the chance that one Node is selected
2, need to pass an atomic counter to control the goroutines (current number is 16) that are running at the right time, we can add a parameter in the workqueue.Parallelize() to complete.

I agree that we should give all nodes equal chance. Moreover, we must ensure that nodes in various zones are

[2018-07-26 17:30] bsalamat commented on #66627
Given that we don't have the feature in the scheduler, we don't have any data on this. Once we have the feature, we can start changing the number of nodes and collect data.
This feature is useful in larger clusters with at least a few hundred nodes. So, I was thinking that we can start with scoring a minimum of 100 nodes or 20% of the nodes, whichever is larger. Of course, we are going to make thi

[2018-07-26 18:15] micahhausler commented on #47733
Is anyone still observing this issue?

[2018-07-26 18:18] micahhausler commented on #66044
This is something we debated earlier on https://github.com/kubernetes/kubernetes/issues/56700. I think the solution here is to add the label
[code]
to nodes of older instance types.

Can we close this issue out?

[2018-07-26 18:21] micahhausler commented on #66306
Hmm this is an interesting edge-case.

We don't re-create an ELB (or NLB) right now if you switch from internal to external (see #60393 and #64251), and this feels similar. We could probably manage this, but we'll bring it up at the next [SIG-AWS](https://github.com/kubernetes/community/tree/master/sig-aws) on Friday

[2018-07-26 18:21] aleks-mariusz commented on #66662
so in an effort to try to gather as much information and script my exact set up to make it reproducible, i ended up inadvertantly getting this all to work.. this is a good thing and a bad thing.. but in order to save someone else the grief, i am sharing the scripts i made to try to reproduce this (which fail at reproducing it as they end up setting up a working HA cluster instead)..

https://gist.

[2018-07-26 18:53] liggitt commented on #65109
I think it is probably lowest on the list of dynamic extension point APIs we would consider (admission, audit, and authorization all seem more likely to be used broadly).

If a hosted provider wanted to allow dynamic registration of authentication providers, they could do so today with a `apiserver -> delegating webhook authenticator -> n webhook authenticators` setup, driven via a custom resource

[2018-07-26 19:08] deads2k commented on #66680
I think that using external clientsets, informers, and listers makes sense inside of admission.  The admission attributes would remain the same, but the external looks up made would be external.  For example, things like the the limitranger would use an external client to look up the list of limit ranges.

[2018-07-26 20:08] vladimirvivien commented on #66323
If there's not a reliable way to enumerate node mounts (thinking about it, for CSI external drivers, the answer is NO).  Theres is no reliable way to have k8s autocorrect a bad fsgroup/PV.AccessMode combo.  So we would have to rely on the config provided by user/admin.

I have come to similar conclusion as @msau42 -- mainly, apply fsgroup only to volumes with `RWO ` access modes.  The other k8s sp

[2018-07-26 20:12] dguendisch opened #66687 "Resizing a persistent volume is partially broken on openstack (cinder)"
Resizing a persistent volume is partially broken on openstack (cinder) with k8s v1.11.1.
Partially in the sense that static resizing (requiring a pod restart) works, but the newly introduced online resizing (not requiring a pod restart) fails.

Upon resizing a pvc it remains in the Resizing condition forever (see the warning event) until I delete the pod that has this pvc mounted:
[code]
After pod

[2018-07-26 20:36] gnufied commented on #66323
I will just try to summarize the conversation from Slack.

We can safely assume that `fsgroup` only applies to block storage type with file system on top of it. So for all - volumes that need to have `SetVolumeOwnership` called MUST have a file system(`fsType`) on them. Is that assumption correct?

If it is - can we not use presence of `fsType` field or we can query the local volume for fs type (l

[2018-07-26 20:52] DirectXMan12 opened #66688 "CRD /scale labelSelectors shouldn't need to be under status"
Right now (in master, which is cef2d325ee1be894e883d63013f75cfac5cb1246 at the time of writing), if you implementing the scale subresource for a CRD, you have to point `labelSelectorPath` to a field under the CRD's `.status` field
(see the documentation for that field, plus https://github.com/kubernetes/kubernetes/blob/cef2d325ee1be894e883d63013f75cfac5cb1246/staging/src/k8s.io/apiextensions-apise

[2018-07-26 21:11] ryanmcnamara opened #66689 "Creating a pod fails if default service account does not exist with the default service account enabled."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Occasionally when creating a namespace and then creating a pod this happens
[code]

The reason for this is that between the namespace `foo` creation and the pod creation, the kube-controller-manager had not yet created the `default` service account in the `foo` namespace. So [this line](https://github.com/kubernetes/kubernetes/blob/

[2018-07-26 21:13] chrisohaver commented on #66654
Try exec-ing into the box, and doing a dns lookup directly against one of the dns pod IPs using something like `dig`.  e.g. `dig @10.244.0.5 google.com`.

[2018-07-26 21:33] #66618 closed

[2018-07-26 22:02] rbtcollins commented on #47893
My question is, what are the semantics of a redirect here?
Is it ; "the health of the resource is the health of the url redirected to", or is it "the health of the resource is the response to the probe HTTP request".

e.g. should we follow HTTP redirects *at all* - and I would argue that we shouldn't.

[2018-07-26 22:14] spiffxp commented on #60850
/remove-lifecycle stale
/assign
since I bumped into this

[2018-07-26 22:30] timoreimann commented on #25251
/remove-lifecycle stale

[2018-07-26 22:34] tianyicaii commented on #66461
Cannot reproduce.

[2018-07-26 22:34] #66461 closed

[2018-07-26 22:59] ixdy commented on #66649
I haven't worked on the e2e test frameworks in a while, so I don't have many strong opinions here.

I don't think the framework was ever intended to be used outside the kubernetes core repo, though some folks do apparently do this.

I believe we added the bindata dependency so that you only needed an `e2e.test` binary to run e2e tests.

It's probably out of scope for what you're suggesting here, s

[2018-07-26 23:07] liggitt commented on #66689
Yes, it is working as intended. There is already a retry for the default service account. Pods are immutable after creation, so allowing a pod to be created without the service account available would break any application depending on service account credentials

/close

[2018-07-26 23:07] #66689 closed

[2018-07-26 23:14] consideRatio commented on #61132
/remove-lifecycle rotten

[2018-07-26 23:15] consideRatio commented on #61132
I confirmed this was still an issue in gcloud beta v209, we are not allowed to use '/' within the taints even though you can apply such taints if done using kubectl directly.

[2018-07-26 23:44] neolit123 commented on #66338
the `v1alpha1` related errors were fixed, but now both tests are getting:
[code]
for the master nodes. digging out possibly causes; if someone knows - help out. :)

[2018-07-26 23:58] negz opened #66693 "Configure Kubelet to leave node wide sysctls alone"
/kind feature

https://github.com/kubernetes/kubernetes/blob/3234b0f/pkg/kubelet/cm/container_manager_linux.go#L333

The Kubelet manages a small set of sysctl settings when running on Linux. By default the Kubelet will set these various sysctls to the constants defined in `k8s.io/kubernetes/pkg/util/sysctl`, but it can also be asked to instead error and exit non-zero via the (unintuitively named)

[2018-07-26 23:59] negz commented on #66693
/sig node

[2018-07-27 00:30] k82cn commented on #66673
/sig scheduling
/kind feature

[2018-07-27 00:31] k82cn commented on #66673
/priority important-soon

[2018-07-27 00:49] adubkov commented on #54918
I my case it could not read one file from `/etc/cni/net.d/`.
I just add read permission and it solve my problem.

[code]

[2018-07-27 01:13] k82cn commented on #66673
/status approved-for-milestone

[2018-07-27 01:20] francotseng commented on #66664
/remove-sig scheduling

[2018-07-27 01:20] neolit123 commented on #66338
submitted follow-up PR:
https://github.com/kubernetes/kubernetes-anywhere/pull/549

[2018-07-27 01:36] hzxuzhonghu commented on #66680
/cc

[2018-07-27 01:44] shigy123456 opened #66696 "my kubelet can not work normally when the pod size larger than 110"
**What happened**:
my kubelet of kubernetes cluster has the max_pod_size :300
when the pod size of node is larger than 110,Like 140,then the kubelet of the node is not work normally,the kubelet is like dead.

**What you expected to happen**:
i want to know how to config the kubelet,then it can work normally ,even the pod size is 200.

**Environment**:
- Kubernetes version (use `kubectl version`):1

[2018-07-27 01:45] shigy123456 commented on #66696
@sig/node
@kind/bug

[2018-07-27 01:46] shigy123456 commented on #66696
@kubernetes/sig-node-node

[2018-07-27 01:48] shigy123456 commented on #66696
/sig node

[2018-07-27 01:48] shigy123456 commented on #66696
/kind bug

[2018-07-27 02:31] k82cn commented on #62598
/remove-lifecycle stale

[2018-07-27 02:44] ypresto commented on #48948
Maybe related; issue about Kubernetes and CPU of docker-for-mac:
https://github.com/docker/for-mac/issues/2601

[2018-07-27 02:54] BSWANG commented on #66607
@Lion-Wei Will it be an option to config this behavior？Some functions like TLS,Monitor,Logging doing on `lb` are more reasonable and high performance.
If add this option, I would like to commit a PR to it.

[2018-07-27 02:55] andyzhangx commented on #66387
@AlexMuresan this test could not run on Windows since NFS plugin on Windows is not implemented, eventually it will call:
https://github.com/kubernetes/kubernetes/blob/2486d51eb9d9bb3b43fba23b2ac52d4a863e3973/pkg/util/mount/mount_windows.go#L81-L82

[2018-07-27 03:13] tianshapjq commented on #56617
@pires sorry, we just focus on docker 1.12 mainly. We get rid of the containerized kubelet for we can't find the solution to solve the raising up of memory... We try K8s 1.10 recently, and it works fine. I am still working on this :)

[2018-07-27 03:33] dixudx commented on #66680
Agree with @deads2k.

Thanks @yue9944882 for such a refactoring. Current k/k admissions use internal clientset/informers. While k/apiserver admissions use external. It's better to have them on a same basis. After such refactoring, we may not need to auto generated internal version clientsets and informers any more.

[2018-07-27 03:50] miaoshixuan commented on #66696
run kubelet with `--max-pods xxx` option

[2018-07-27 03:56] lachie83 commented on #65271
@krisdock We've removed the DenyEscalatingExec admission controller and I'm running the conformance tests across all versions. Let me know if this has resolved the issue.

[2018-07-27 04:01] #63897 closed

[2018-07-27 04:44] cclient opened #66699 "Containers from init-containers section do not execute if livenessProbe result in restart"
BUG REPORT

**What happened**:

livenessProbe lead to  restart pod

but the init-containers section do not execute again

**What you expected to happen**:

all  init-containers re_execute if  livenessProbe lead to restart

i see https://kubernetes.io/docs/concepts/workloads/pods/init-containers/ but no idea

---
use  redis store status

#### expected
[code]

---

now
[code]

**Environment**:
- Kub

[2018-07-27 05:05] feiskyer commented on #47543
The issues have been fixed. controller manager will fail with errors now instead of panic.

/close

[2018-07-27 05:05] #47543 closed

[2018-07-27 05:59] cclient commented on #66699
cc @kubernetes/sig-apps-feature-requests

[2018-07-27 06:00] chenxushuo commented on #63781
OK ， thank you everyone！

[2018-07-27 06:03] ronakpandya7 opened #66700 "How to allow port range in kubernetes clusterIP kind service"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

Hello,

We are using kubernetes cluster with version 1.10.3.
We want to allow range of ports in the ClusterIP kind kubernetes service.
But we don't know how to do this, it is not possible for us to allow each and every ports one by one in the service port section.

We want to allow hundreds of ports.

**Environment**:
- Kubernetes version (

[2018-07-27 06:07] ronakpandya7 commented on #66700
@kubernetes/sig-contributor-experience-bugs

[2018-07-27 06:08] WanLinghao commented on #66020
Currently,  namespace-serviceaccount pair is all we need to know when do authorization. After your solution applied, the information we need to know in authorization becomes namespace-serviceaccount-pod-container. I worried about this based on following reasons:

- The namespace-pod-container determines the only container the request comes from,  it feels awkward since the serviceaccount becomes d

[2018-07-27 06:18] lachie83 commented on #65271
Here are the AKS 1.10 conformance results - https://github.com/cncf/k8s-conformance/pull/271

[2018-07-27 07:05] ronakpandya7 commented on #66700
Thanks for the reply @charrywanganthony

PodSecurityPolicy is the cluster level resource, by creating it we can do whitelist the specific ports, but we have to give ports in our service too.

So our purpose will not solve.

Do you have any idea how we solve our purpose using PodSecurityPolicy?

Thanks in advance :)

[2018-07-27 07:09] wackxu commented on #66627
Maybe we need some rescheduler mechanism to balance the resources usage?

[2018-07-27 07:15] fejta-bot opened #66703 "pr:pull-kubernetes-e2e-gce flaked 37 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce
 Flakes in the past week: **37**
 Consistency: **92.30%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| [sig-apps] CronJob should remove from active list jobs that have been deleted | 20 |
| [sig-api-machinery] Garbage collector should orphan RS created by deployment when deleteOptions.PropagationPolicy is Orphan [Conformance]

[2018-07-27 07:41] wgliang commented on #66627
@bsalamat
I think we should not split Nodes in advance, but think that when there are **already N Nodes that meet our requirements**, we think we can find a good Node from N Nodes to place Pods.

For example, a cluster with 1000 Nodes, we set N to 200, and two Pods need to be scheduled (Pod_a, Pod_b):

1. When scheduling Pod_a, we tried 345 Nodes, of which 200 were met, then we will not try the re

[2018-07-27 07:46] tpoindessous commented on #39420
Hi

I have the same issue : on a dev project, I create and delete cluster and service with ILB, quite often (once a day).

I see that ILB are not deleted and since I use reserved internal IP addresses, new ILB doesn't work.

Maybe, someone should mark this issue as "opened" ?

Thanks !

[2018-07-27 08:02] anguslees commented on #46442
I'm convinced that (for openstack) the right solution is just to remove the ACTIVE filter, so the node exists in k8s for as long as it exists in openstack.  This is a ~1 line change.

The only reason I haven't fixed this already, is that this issue calls for a consistent approach across cloud providers.  I believe this has left us in analysis paralysis and unable to move forward, since there **is

[2018-07-27 08:08] mborsz commented on #66337
Also https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable2/418

[2018-07-27 08:19] xiaoxubeii commented on #66687
/assign

[2018-07-27 08:20] andreacassioli commented on #51835
Got a similar problem running on Azure ACS.

[code]

I have tried using `--now` or setting the grace period. For instance

[code]

Still the pod is hanging and that causes the corresponding deployment to be stuck as well.

[2018-07-27 08:30] xiaoxubeii opened #66705 "Openstack: Fill size attribute for the V3 API volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
#56829 patched out the Size field (was added PR #58685), it will cause issue #66687 again.
See also [9326e84#diff-c6603a39b8f63223075a6ac640bd6ef9R235](https://github.com/kubernetes/kubernetes/commit/9326e845e48e2cc61f57094bd7561e37fb831ce5#diff-c6603a39b8f63223075a6ac640bd6ef9R235) and #66687.

**What you expected to hap

[2018-07-27 08:30] xiaoxubeii commented on #66705
/kind bug
/sig storage
/sig openstack

[2018-07-27 08:31] xiaoxubeii commented on #66705
/assign

[2018-07-27 08:34] #59865 closed

[2018-07-27 08:41] pohly commented on #66649
The intention to use Viper instead of flags was introduced in be2e1f5d96487e765cb071da7ee6f90d47ff53f6. That commit has no explanation in the commit message why Viper is considered better than flags and no link to an issue about that work.

@jayunit100 do you remember more about that? Nothing has been done since that commit in 2016, so is there really still any interest in moving to Viper? If not,

[2018-07-27 08:49] hzxuzhonghu opened #66706 "kubectl should use external versioned clientset instead of internal"
**What happened**:

kubectl now uses internal clientset https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory.go#L45

**What you expected to happen**:

make use of versioned clientset

/cc @deads2k @sttts @adohe @liggitt

[2018-07-27 08:50] hzxuzhonghu commented on #66706
/sig cli

[2018-07-27 08:50] hzxuzhonghu commented on #66706
/assign

[2018-07-27 09:02] Bondeau commented on #65933
Hello.

After updating node ExternalID everything worked perfectly.

To update this info, I used this command :
[code]

[2018-07-27 09:05] shahbour commented on #65933
You mean after updating providerId

[2018-07-27 09:08] Sn0rt opened #66708 "kube-scheduler shouldn't? assign pod to node which not have available ip address"
/kind bug
/sig scheduling
to run  kube-controller-manager with `--node-cidr-mask-size=29` options , then kubelet will set up a bridge which name is `cbr0` and the net mask is `29`, thus only have 5 (network, gateway, broadcast) ip addresses to allocate.
I think scheduler should't assgin pod to the node which not have enough ip addrs.

err message:
[code]

[2018-07-27 09:08] Bondeau commented on #65933
Yes sorry.
I fixed it.

[2018-07-27 09:47] Sn0rt opened #66713 "extern resource did not decrease after use"
/kind bug
/sig scheduling

**Environment**:
- Kubernetes version (use `kubectl version`): 1.8.13

[code]

which can reprocude with GCE with version 1.8

[2018-07-27 10:03] k82cn commented on #66708
Reasonable, let me take some time to check this.

[2018-07-27 10:05] k82cn commented on #66713
The status of node are not modified; scheduler caches related info.

[2018-07-27 10:11] k82cn opened #66714 "Minimize the dependency of scheduler algorithm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig scheduling

**Description**:

When replacing NodeSelector with NodeAffinity predicates, it import 400+ files ... ; it's better to minimized the dependency of scheduler algorithm which we'd like to be used by other project.

xref: https://github.com/kubernetes-incubator/kube-arbitrator/pull/310

[2018-07-27 10:33] UmaprasadBisen opened #66715 "Container migration"
Any idea how to migrate the container from one cloud to another with their volumes?
Thanks in advance.
 @kubernetes/sig-api-machinery
@k8s-merge-robot

[2018-07-27 10:50] username1366 commented on #66568
I've built kube-scheduler with some debug info output https://github.com/username1366/kubernetes/pull/1/files It prints nodeInfo.UsedPorts() and schedutil.GetContainerPorts(pod) when portsConflict happens.

Example debug output:
[code]

If we look to debug output we'll see that kube-scheduler trying to schedule pod test-deploy-dccc46c97-dz286 to node app-pool2-13-europe-central1.testdc.com and it

[2018-07-27 11:00] Sn0rt commented on #66708
thx

[2018-07-27 11:40] akumria commented on #55946
/reopen

@gnufied  Happy to give this a try as a first contribution - where should I document the taint?

Over here: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/ ?

[2018-07-27 11:43] raphaeljoie commented on #66622
Update :

## Test over nodes
Got the suggestion to test also over the number of nodes and the Availability zones. Got some interesting results
**2 nodes drained (`kubectl drain`), 1 up (same subnet and AS as master)**

- 4 pods over same unique node : 100% success, no delay
- 5 pods over same unique node : 100% success, no delay

**1 node drained, 2 ups (same and different subnet+AZ as master)**

[2018-07-27 11:47] embano1 commented on #64021
Update from a chat with @hoegaarden on CFCR implications with these changes:

**Phase 1**
- Only minor changes would be needed on CFCR side to adopt this change in VCP
- The benefit is to move away from hard coding it into `kubectl --node-labels` when joining the cluster (which has several disadvantages)
- Since we provide fallback, i.e. don't set `[Labels]`, the current AZ implementation in CFCR

[2018-07-27 11:52] Sn0rt commented on #66713
@k82cn thx

[2018-07-27 11:52] #66713 closed

[2018-07-27 12:00] mborsz commented on #66609
My understanding of this issue is that:
1. for some reason in e2e tests for 1.9 and 1.10 communication between nodes and test executor is broken which causes test to timeout. I'm trying to find what has happened there.
2. If this happens, I think that the correct behavior is to finish test without fetching logs from a broken node instead of failing the test. IIUC it's not possible right now in the

[2018-07-27 12:20] mborsz commented on #66609
I traced first failures due to this bug in each branch:
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable2/282/ -- 1.9 on 2018-06-22
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/1062/ -- 1.10 on 2018-06-14
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/lo

[2018-07-27 12:40] sttts commented on #53524
This turned into kubebuilder.

[2018-07-27 12:40] #53524 closed

[2018-07-27 13:01] r7vme opened #66720 "controller manager fails to update endpoints of host network services when nodeName has changed"
/kind bug

**What happened**:
We have noticed that one of the node-exporters is down. It turned out that service has "old" endpoint still. After digging deeper i see following errors in controller manager

[code]

Turns out controller manager can not update endpoints for node-exporter service, because of this error. In endpoint list is see right IPs for worker nodes, but wrong IP for master node (

[2018-07-27 13:10] r7vme commented on #66720
/sig node

[2018-07-27 13:22] pvlltvk commented on #35062
@sergei-utinski Can you create issue/pull request in [moby](https://github.com/moby/moby) project?

[2018-07-27 13:39] mattmoyer commented on #65109
@liggitt Prototyping this out of tree sounds like a great plan. It would let us iron out the API and better understand the performance, reliability, and security implications.

I think a lot of the long term value, though, comes from having a standard way of doing this across clusters, which feels like something that eventually belongs in-tree. Would you agree?

[2018-07-27 13:44] ffilippopoulos commented on #60665
I managed to create an internal load balancer by specifying network and subnet in kube-controller configuration.
My conf is a file with just:
[code]
and I pass it to `kube-controller-manager` as `--cloud_config=<path-to-file>`.
That does the trick:
[code]
my manifest is:
[code]
hope that helps!

[2018-07-27 14:06] yue9944882 commented on #66720
@r7vme #31311 what is the use case of changing node name?

[2018-07-27 14:06] yue9944882 commented on #66720
/sig api-machinery

[2018-07-27 14:13] P1ng-W1n commented on #54967
This issue seems to affect 1.11.0 as well.

[2018-07-27 14:49] pajel commented on #52357
(off topic) @xrl if you have 3 master nodes and set MINIMUM_MASTER_NODES=3 your cluster won't tolerate even a single master node failure. No HA, it will wait for the 3rd node to come back for ever ;-)
https://www.elastic.co/guide/en/elasticsearch/reference/current/discovery-settings.html

[2018-07-27 15:23] wongma7 commented on #54384
@RobertKrawitz it looks like jingxu97 was working on "Local Ephemeral Storage Capacity Isolation" this but idk the current status https://github.com/kubernetes/features/issues/361 , you may wish to contact her

[2018-07-27 15:29] asos-roberth opened #66721 "ing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-07-27 15:35] asos-roberth commented on #66721
made in error

[2018-07-27 15:35] #66721 closed

[2018-07-27 15:41] aveshagarwal commented on #66627
Just food for thought (not to deviate from current discussion, just came to my mind and i thought to share, discard if you want):

Another thing we could look into is if its possible to pre-compute any of the calculations to save time whenever a new pod appears. IOWs, if there is a way to amortize the cost of finding a right node (whenever scheduler is idle) for future pods. Scheduler could also k

[2018-07-27 15:41] #60033 closed

[2018-07-27 15:49] pohly commented on #66649
Let me propose something for the Viper topic:
- let's keep and *encourage* defining command line flags, because then a) they can be discovered without reading source code or documentation and b) accidental conflicts between different flags get detected by the `flag` package
- in addition, let's use Viper as additional method to set the same flags via a configuration file
- let's move non-framework

[2018-07-27 15:57] liggitt commented on #46442
It is important to clarify the meaning of the interface cloud providers are implementing, so that Kubernetes can make consistent decisions based on what they return, but we might be able to do so in bite-size pieces. As we pin down the meaning of the interface where we currently have divergent implementations, per-provider efforts to reconcile their implementations to the agreed on meaning is reas

[2018-07-27 16:02] warmchang commented on #61517
/remove-lifecycle stale
I also encountered the same problem.

[2018-07-27 16:04] jsafrane commented on #66497
@liggitt, perhaps you can shed some light here. Can we move things from annotations to Node.Status or it's set to stone?

[2018-07-27 16:14] andrewsykim commented on #61898
/close

Guess this wasn't an issue for anyone else?

[2018-07-27 16:14] #61898 closed

[2018-07-27 16:42] #56157 closed

[2018-07-27 17:17] liggitt commented on #46442
We discussed this today in sig-aws, and I've added it to the agenda for the [8/8 meeting of sig-cloud-provider](https://docs.google.com/document/d/1OZE-ub-v6B8y-GuaWejL-vU_f9jsjBbrim4LtTfxssw/edit#heading=h.w7i4ksrweimp).

One point was raised that attributes about the instance can be changed while stopped. Having the node controller delete the Node object, and the restarted kubelet re-register is

[2018-07-27 17:31] saad-ali commented on #66497
To be clear removing this annotation and replacing with a new field will not break anything.
Existing drivers will ship with an `driver-registrar` that will continue to apply this annotation and an old `external-attacher` that will continue to read this annotation. New drivers will opt in to new versions of these components that will read/write the field instead of the annotation. From the sig-sto

[2018-07-27 18:03] lachie83 commented on #65271
Also ACS-Engine - https://github.com/cncf/k8s-conformance/pull/274

[2018-07-27 18:03] lachie83 commented on #65271
@krisdock I believe this can be closed.

[2018-07-27 18:32] Random-Liu commented on #64315
@yujuhong just finds that we can get context from the http.Request wrapped by `go-restful`. https://golang.org/pkg/net/http/#Request.Context

We should be able to fix this issue with that. And this should also fix potential resource leakage in other streaming calls, e.g. exec, attach etc.

[2018-07-27 18:37] jhenriquez commented on #64500
@mortent I'm assuming OnDelete is the default updateStrategy still on version 1.9.8, is this correct? Are there any guidelines, considerations or recommendations as to why I would prefer one over the other?

It seems to me rolling update appeals as preferable, and I believe is the default for deployment resources.

[2018-07-27 19:01] cblecker commented on #66700
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-07-27 19:01] #66700 closed

[2018-07-27 19:37] JakeKo commented on #41727
The `--docker-email` field is still required. This is very frustrating as `docker login` does not require an email but Kubernetes does? Is there a good reason for this?

[2018-07-27 19:55] kow3ns commented on #65622
The work with extension mechanisms and tools like kubebuilder are their to provide users with the ability to extend the API server and add controller for custom resources. I second @liggitt's notion above.
/close

[2018-07-27 19:55] #65622 closed

[2018-07-27 19:57] #66705 closed

[2018-07-27 19:59] liggitt commented on #66135
Yes, under https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#primitive-types

[2018-07-27 20:01] msau42 commented on #66323
We'll need to make it clear that `fsType` is only for block-based storage systems, and the field cannot be reused for some multi-protocol file server (ie, nfsv3, nfsv4, smb, etc).  For that case, then the plugin will need to expose its own new storageclass parameter + volume attribute to specify protocol.

[2018-07-27 20:05] msau42 commented on #65552
@verult found an issue in the flex volume test where waiting for detach before deleting the PVC could help.

[2018-07-27 20:07] #66662 closed

[2018-07-27 20:37] mortent commented on #64500
RollingUpdate is the default strategy since 1.7. So if you don't specify any update strategy, you should get rolling updates. You can configure it in the spec as described [here](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#update-strategies)

OnDelete is the legacy strategy, so unless you have special requirements, the default rolling update strategy should be your best

[2018-07-27 21:02] yastij commented on #64387
@timothysc - this is happening on any distro that enables denyEscalatingExec, I think we need a solution on the kubernetes conformance side.

[2018-07-27 21:08] bsalamat commented on #66627
@wgliang Actually, when we try scheduling Pod_b, we should not start from the first node again. We should continue from the node at which we stopped when scheduling Pod_a.

@ravisantoshgudimetla I am not sure if you proposal is scalable. Given the number of combination of pod scheduling requirements and node properties, you would need a very large amount of memory in larger clusters to precompute

[2018-07-27 21:13] greenlaw commented on #66108
I'm running into the same problem with a fresh CentOS 7 install for a new worker node.

@sagyvolkov Did you find a solution for this?

@liggitt In my case, the master has already been initialized, and I'm trying to run `kubeadm join` on a worker node to join the cluster, but getting an `Unauthorized` error message - further inspection showed that `kubelet` service is not starting, reporting the sa

[2018-07-27 21:35] liggitt commented on #66108
The join command is responsible for pulling down cluster info and setting up the kubelet config. If that is failing, it is not surprising there is no config dir and the kubelet will not start.

Determining why the join command is failing would be the first step, but is a separate issue

[2018-07-27 21:39] bsalamat commented on #66627
I prototyped the feature and here are some results that I obtained for a 5000 node cluster scheduling 10000 pods. Scheduler stops once it finds 500 feasible nodes.

Without the feature:
[code]

With the feature
[code]

So, looks like we get close to 30% end-to-end performance improvement with this feature.

[2018-07-27 21:42] crimsonfaith91 commented on #66555
/assign

[2018-07-27 21:44] greenlaw commented on #66108
@liggitt Thanks for explaining that, I thought the kubelet service had to be running before `kubeadm join`.

I just got it working.  The `kubadm join` command initially printed by my master during `kubeadm init` wasn't working (token invalidated somehow?), so I generated a new token on the master using `sudo kubeadm token create --print-join-command`, then ran that join command instead, which work

[2018-07-27 21:51] gnufied commented on #66323
Can we not use `blkid` to get fsType - https://github.com/kubernetes/kubernetes/pull/59050 and use that information for calling `SetVolumeOwnership` ? It may be problematic to rely entirely on `fsType` present inside csi source.

[2018-07-27 22:13] sagyvolkov commented on #66108
@greenlaw - yes, just run the init command. its confusing and of course not mentioned in any documentation :)

[2018-07-27 22:20] #66408 closed

[2018-07-27 23:00] liggitt commented on #66353
There are actually lots of resources that have immutable fields which require delete/create to change (services, pods, storage classes, persistent volumes, etc)

There were a couple reasons I remember for this:
- a binding to a different role is a fundamentally different binding. requiring delete/recreate ensures the full list of subjects is intended to be given the new role (as opposed to enablin

[2018-07-27 23:24] crimsonfaith91 commented on #66555
@mohammedzee1000 It seemed that the newest test runs were passing. Is there any specific aspect that you want us to look at?

[2018-07-27 23:42] #63682 closed

[2018-07-28 00:34] k82cn commented on #66627
That's great ! Do we know the what or how may do we "lose"? for example, if we go through all nodes, how many "schedule decision" are different?

[2018-07-28 02:03] tallclair commented on #26804
/reopen
/remove-lifecycle rotten

[2018-07-28 02:39] tallclair commented on #26804
:boom:

[2018-07-28 05:55] #53462 closed

[2018-07-28 07:31] kaybinwong opened #66735 "Namespace keeps Terminating after deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
using kubectl delete ns xxxx, but its status keeps Terminating

**What you expected to happen**:
destroy and can recreate

**How to reproduce it (as minimally and precisely as possible)**:
kubectl create ns xxx

// do some other job

kubect delete ns xxx --now=true

**Anything else we need to know?**:
nothing else

**Envir

[2018-07-28 07:54] kaybinwong commented on #66735
sig/cluster-ops bugs or some i had done wrongly?

[2018-07-28 11:08] slassh commented on #60807
@ManifoldFR , I had the same issue as yours and I managed to make it work by making an API call with json  file .
kubectl get namespace annoying-namespace-to-delete -o json > tmp.json
then edit tmp.json and replace "kubernetes" with []

curl -k -H "Content-Type: application/json" -X PUT --data-binary @tmp.json https://kubernetes-cluster-ip/api/v1/namespaces/annoying-namespace-to-delete/finalize

a

[2018-07-28 11:34] vladimirvivien commented on #43962
@goblain are you planning to keep pushing for this to get merged ? I think this is still needed.  Just ran into that issue.

[2018-07-28 12:09] goblain commented on #43962
the decision to go with this is way above me, so I am unable to influence this further. Seems like there simply is no will to merge this into upstream in near future

[2018-07-28 13:02] #60575 closed

[2018-07-28 14:40] dkuji commented on #60884
same issue with v1.11.1 on raspbian(stretch)

[2018-07-28 15:04] #60298 closed

[2018-07-28 15:04] #60556 closed

[2018-07-28 15:09] ManifoldFR commented on #60807
@slassh It worked! Should've thought about making an API call: thanks a lot!

[2018-07-28 15:38] shubb30 commented on #43633
+1 for this feature.

I also tried @kramarz suggested workaround, and I get the following error:
    Error: YAML parse error on mysite-web/templates/ingress.yaml: error converting YAML to JSON: yaml: line 4: mapping values are not allowed in this context

[2018-07-28 16:51] AlexMuresan commented on #66387
@andyzhangx Even so, the test produced pods that could not be terminated. As I see it, regardless of whether or not the test passes, the pods should not be stuck in the `Terminating` state.

[2018-07-28 18:07] #56696 closed

[2018-07-28 19:08] #55822 closed

[2018-07-28 20:09] #60124 closed

[2018-07-28 21:35] Hayyk opened #66742 "deployment doesn't manage already created pod with appropriate labels"
/kind feature

**What happened**: created pod with "x" and "y" labels, then created deployment which actually must manage pods with "x" and "y" labels. set replicas: 1. but it doesn't take management of the pod created above and creates new one. I see 2 pods in deployments descriptions , the one that created earlier than the deployment is not active and there is a message "This pod matches the dep

[2018-07-28 23:39] bsalamat opened #66743 "Add validation for kube-scheduler configuration options"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind technical-debt

[`KubeSchedulerConfiguration`](https://github.com/kubernetes/kubernetes/blob/28b6fb5f7d4ec9fc0be2843d61543ef70b748e70/pkg/apis/componentconfig/types.go#L79) does not have any validation at API level. We should add validation for the config options. We should also add validation for the [cli flags](https://github.com/kubernetes/kub

[2018-07-28 23:41] bsalamat commented on #47604
This feature is built and moved to beta in Kubernetes 1.11.

[2018-07-28 23:41] #47604 closed

[2018-07-28 23:47] bsalamat commented on #48650
This is already done.

[2018-07-28 23:47] #48650 closed

[2018-07-29 00:13] #60586 closed

[2018-07-29 02:15] #60593 closed

[2018-07-29 05:18] #57844 closed

[2018-07-29 05:18] #59407 closed

[2018-07-29 05:35] islinwb commented on #66743
I would like to take this.
/assign

[2018-07-29 05:51] aruneli commented on #66388
I can contribute to this

[2018-07-29 06:04] slimbit90 commented on #45956
/reopen

[2018-07-29 06:32] mbohlool commented on #66431
Please create the issue here: https://github.com/kubernetes-client/java

@brendandburns

[2018-07-29 07:20] #43324 closed

[2018-07-29 08:22] mootezbessifi opened #66744 "pod to pod can not be reached through service clusterIP running in the same minion."
Hi All,

few days ago, i am facing a strange issue which is "a pod can not reach another pod running in the same minion/host through servide ClusterIP whereas they can reach each other skipping going through service clusterIP"

i am running kubernetes 1.9.6 on top of openstack (ubuntu 16.04 hosts) with:
- cni 0.7.0
- cri-containerd 1.0.0-beta
- flannel 0.9.1
- etcd 3.0.13

the other scenarios were

[2018-07-29 08:54] mootezbessifi commented on #66744
/sig proxying
/sig network

[2018-07-29 09:13] oded-dd commented on #61178
+1 Same issue with coreos image CoreOS-stable-1800.4.0-hvm
(Working with debian jessie didnt have the issue)

I am running 1.9.8

[2018-07-29 09:38] ansilh opened #66745 "Controller not updating secret of service account after adding new secret"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Controller not updating secret of service account after adding new secret
**What you expected to happen**:
- Based on the document https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/

To create additional API tokens
A controller loop ensures a secret with an API token exists for each service ac

[2018-07-29 12:43] pashok2398 opened #66746 "Support for custom tls cipher suites in kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
SSL Medium Strength Cipher Suites Supported

**What you expected to happen**:
Add `--tls-cipher-suites` option to `kubelet` as in `kube-apiserver`

**How to reproduce it (as minimally and precisely as possible)**:
PR for api-server and kubelet #48859

**Anything else we need to know?**:

**Environment**:
Kubernetes v

[2018-07-29 13:57] motek80 opened #66747 "On CentOS 7.5, calling to "kubelet" produces error"
/kind bug

**What happened**:
On CentOS, calling "kubelet" displays the following error:

`F0729 13:50:44.278410    9196 server.go:262] failed to run Kubelet: failed to create kubelet: misconfiguration: kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd"`

**What you expected to happen**:
After calling "kubelet", no errors should be displayed

**How to reproduce it

[2018-07-29 14:01] motek80 opened #66748 "After rebooting Master node, cannot connect server anymore"
/kind bug

**What happened**:
On CentOS, after rebooting Master node, calling to kubectl produces the following error:

`The connection to the server xxx.xxx.xxx.xxx:6443 was refused - did you specify the right host or port?`

**What you expected to happen**:
Expected that system will continue to function normally after reboot

**How to reproduce it (as minimally and precisely as possible)**:

1.

[2018-07-29 15:57] xikunyang commented on #66575
The packet from my pod just drop by filter table forward chain(default policy drop).
![image](https://user-images.githubusercontent.com/36947547/43368110-92c386b6-938a-11e8-9bf3-8bd9743a0bff.png)

Because the packet cannot match the KUBE-FORWARD chain:
![image](https://user-images.githubusercontent.com/36947547/43368129-cf68b19a-938a-11e8-9b08-fe4f665bd847.png)

If I just change the default policy

[2018-07-29 16:40] jimangel commented on #61961
I think this issue is still valid - does anyone know if there's been a fix implemented?

/remove-lifecycle rotten

[2018-07-29 16:53] liggitt commented on #61961
I've tried to recreate the issue and have been unable to. OIDC auth fails (obviously), but other auth methods (like x509 certs and other token auth) remain responsive.

[2018-07-29 17:01] choudharykomal opened #66749 "ADDRESS column is empty in "kubectl get ingress""
ADDRESS column is empty in "kubectl get ingress"

[code]

[2018-07-29 17:30] #59171 closed

[2018-07-29 17:38] dblackdblack commented on #29276
/remove-lifecycle stale

On Sun, Jul 29, 2018 at 10:31 fejta-bot <notifications@github.com> wrote:

[2018-07-29 19:10] markusdd commented on #66661
Thanks for making this clear.
Can you provide any help on how to configure this within an openshift environment? I usually do not directly talk to kubelet when administrating the cluster

[2018-07-29 19:32] #60656 closed

[2018-07-29 19:48] P1ng-W1n commented on #66661
I think that under Openshift this could be configured in the /etc/origin/node/node-config.yaml node configuration file [1], under the kubeletArguments section:

[1] https://docs.openshift.com/enterprise/3.1/admin_guide/manage_nodes.html#configuring-node-resources

[2018-07-29 20:30] eloyekunle commented on #66533
I would like to work on this issue.

/assign

[2018-07-29 20:33] #42306 closed

[2018-07-29 21:04] liggitt commented on #66735
Typically this means the namespace controller is unable to discover/delete all resources in the namespace, and will not remove the namespace until it has done so. What is in the controller manager log?

[2018-07-29 21:19] liggitt commented on #66746
The kubelet supports the same cipher/tls version flags as kube-apiserver in 1.10. There was an error in printing of flag help that caused the kubelet flags to not be displayed in `--help` that has been fixed in latest 1.10.x releases

/close

[2018-07-29 21:19] #66746 closed

[2018-07-29 21:30] liggitt commented on #66745
Creating a custom secret with a service account annotation does not cause the controller to modify the service account.

The linked document describes how the controller modifies the *secret* object to set a token value if required. In your example, if you omitted the data.token key, the controller would generate a token and update the secret object for you.

/close

[2018-07-29 21:30] #66745 closed

[2018-07-29 21:37] RomanKisilenko opened #66750 "When deleting a cluster, kops ignores reclaim policy and deletes EBS volume disks even if reclaim policy is set to Retain"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When EBS volumes are being created by kubernetes, reclaim policy is not included into AWS tags, thus kops is not able to figure out that you want to preserve the volumes when deleting a cluster.

**What you expected to happen**:
Kubernetes to tag volumes with reclaim policy.

**How to reproduce it (as minimally and precise

[2018-07-29 22:51] neolit123 commented on #66749
/sig cli

[2018-07-29 22:53] neolit123 commented on #66750
/sig storage
/sig aws

[2018-07-29 23:02] neolit123 commented on #66747
hello and thank you for the report!

the same guide already explains the cgroup driver issue:
https://kubernetes.io/docs/setup/independent/install-kubeadm/#configure-cgroup-driver-used-by-kubelet-on-master-node

ATM the kubelet does not have auto-detection of the docker cgroup driver, but if your run kubeadm it should start a valid instance of the kubelet without the error, in the case of docker.

[2018-07-29 23:02] #66747 closed

[2018-07-29 23:09] neolit123 commented on #66748
possible duplicate of https://github.com/kubernetes/kubeadm/issues/1026

1. please wait for the node for ~5 minutes, if it doesn't come up there is a problem.

2. please provide detailed logs from the kubelet
[code]

/sig cluster-lifecycle
/cc @kubernetes/sig-node-bugs

[2018-07-29 23:10] neolit123 commented on #66742
/sig cli

[2018-07-29 23:15] neolit123 commented on #66715
hi, you are going to get a better response if you ask on http://slack.k8s.io/.
you can try the following channels:
#sig-cloud-provider
#kubernetes-users

this tracker is better suited for bug reports and feature requests.
/close

[2018-07-29 23:15] #66715 closed

[2018-07-29 23:16] neolit123 commented on #66450
/cc @kubernetes/sig-cli-bugs

[2018-07-29 23:36] #60276 closed

[2018-07-30 00:06] parsoFish commented on #61406
running into the same problem need a way to find a pod that contains a substring in the name and this functionality seems the right way to do it

[2018-07-30 00:31] willthames commented on #66432
@chrisohaver having managed to reproduce this again during another attempt at a 1.9.7 to 1.9.9 upgrade, I can finally answer 'no':

[code]

[2018-07-30 00:37] #57424 closed

[2018-07-30 01:03] kalote commented on #61406
@parsoFish i've been able to find a solution for my issue (finding password in dc) by using `oc get dc/mydc -o jsonpath='{range .spec.template.spec.containers[*].env[*]}{.name}: {.value}{"\n"}{end}'` and piping the result to `egrep -i \"pass(word)?\"`.

AS the jsonpath output doesn't provide the regex capability, you can just use another tool that does.

[2018-07-30 01:26] zyf0330 opened #66751 "Support set env for pod from node label"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
cannot set env from node label for pod or deploy
**What you expected to happen**:
can set env from node label
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Or please tell me why it should be supported
**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Clou

[2018-07-30 02:02] jingslunt opened #66752 "curl command report error in RBAC mod"
[code]

[2018-07-30 02:06] pentaphobe commented on #43962
+1 here too

Has anyone worked out a reliable workaround in the meantime?

[2018-07-30 02:08] jingslunt commented on #66752
[code]

[2018-07-30 02:47] ms4720 opened #66753 "kubectl config view shows passwords by default"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

 typed `kubectl config view` and the passwords for the following users were displayed:

- domain_name
- domain_name-basic-auth

**What you expected to happen**:

display REDACTED

and to display them use: `kubectl config view --raw`

**How to reproduce it (as minimally and precisely as possible)**:

kubectl config view

[2018-07-30 03:00] ms4720 commented on #66753
/sig CLI

[2018-07-30 03:30] pytimer commented on #61277
I have the same issue on CentOS 7.4, i use http_proxy before run `kubeadm init <args>`, this issue must happen.

I unset http_proxy like @watsonl  said, this issue solved. Anyone can tell me why? Thanks.

- kubeadm version
[code]

[2018-07-30 03:42] willthames commented on #66432
With tcpdump

[code]

From the kubedns side with verbosity ramped up:

[code]

So the query is being sent out but not received by kube-dns.

[2018-07-30 03:44] koyadume opened #66754 "Setting up authentication proxy using nginx"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Kubernetes expects each group to be passed in a separate header with same names

**What you expected to happen**:
Kubernetes should allow passing all groups (comma or something else as separator) in a single header

**How to reproduce it (as minimally and precisely as possible)**:
https://stackoverflow.com/questions/50559736/nginx-a

[2018-07-30 03:48] koyadume commented on #66754
/sig Auth

[2018-07-30 03:50] feiskyer commented on #62038
@PatrickLang Any updates on this?

[2018-07-30 04:01] leoyer opened #66755 "work node cannot create kube-proxy and kube-flannel"
<pre>ul 30 11:57:33 slaver2 kubelet[15871]: I0730 11:57:33.246887   15871 docker_service.go:271] Setting cgroupDriver to cgroupfs
Jul 30 11:57:33 slaver2 kubelet[15871]: I0730 11:57:33.320817   15871 kuberuntime_manager.go:186] Container runtime docker initialized, version: 17.12.1-ce, apiVersion: 1.35.0
Jul 30 11:57:33 slaver2 kubelet[15871]: I0730 11:57:33.330988   15871 csi_plugin.go:111] kuber

[2018-07-30 04:41] bronger commented on #47202
The problem of timezones with all bells and whistles has long been solved in the Linux world. Why is this that much of a prerequisite for a Kubernetes deployment?

It is difficult to discuss about the significance of use cases I admit. However (and in my humble opinion), being able to schedule services in sync with the services' users seems important enough to me to be eligible for Kubernetes core

[2018-07-30 04:59] daurnimator commented on #61171
FWIW I just wasted a few hours on this same issue: requiring double encoding is weird!

[2018-07-30 05:49] Itfly opened #66756 "The job status is still running after the related pod status changes to ImagePullBackOff"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I create a kubernetes job which would deploy a pod to run the task. The pod immediately changes its status to ImagePullBackOff because of the wrong image name(without the private docker registry name) while the job's status is still running after 2 days.

**What you expected to happen**:
The job status should change to f

[2018-07-30 05:56] willthames commented on #66432
Looks like one of our kube-dns pods (of two) is responding but the other isn't:

[code]

[2018-07-30 06:21] motek80 commented on #66747
I tried everything explain in [this](https://kubernetes.io/docs/setup/independent/install-kubeadm/#configure-cgroup-driver-used-by-kubelet-on-master-node) section, however kubelet continue to complain about cgroup driver incompatibility.

Is there any configuration example for CentOS? Everything I has been tried so far doesn't seem to work.

[2018-07-30 06:27] timyinshi opened #66757 "one pv bug - unable to find a keyring on /etc/ceph/ceph.client.admin.keyring"
/kind bug
/sig storage

**What happened**:
the ceph's keyring in secret,when creating pod ,kubelet will use the ceph's keyring to authentication ceph.
my problem is why must have a client keyring file in /etc/ceph.
i think it is a bug.

**What you expected to happen**:
i think the secret's keyring is the only thing we need to maintain.

**Anything else we need to know?**:
the error info:
Jul 30 10

[2018-07-30 06:42] willthames commented on #66432
iptables rules on the source node look reasonable and pointing at the right places

[code]

[2018-07-30 06:49] dElogics commented on #45419
@mechpen see https://github.com/moby/moby/issues/5618 for the issue.

[2018-07-30 06:53] maneeshmurali commented on #39090
In my scenario, I have used custom metrics auto scaling the pods but the issue am facing is when the pod is re scaling the connections are lost and I think k8s  doesn't consider the live connections in a pod while re-scaling the pods.
Example :  Currently am having 2 pods and I have set the threshold to 100 socket connection. If I push 300 socket connections to the pods the pods will auto scale to

[2018-07-30 06:58] willthames commented on #66432
Note also that this seems to be a different issue to https://github.com/weaveworks/weave/issues/3287 - our `insert_failed` count is not increasing at all (it could be that we're hitting a similar issue due to parallel udp calls that isn't manifesting in the same way)

[code]

[2018-07-30 07:04] anguslees commented on #46442
We can start building such a list, but I think we should also keep in mind that these are different complex systems, and the lifecycle state diagrams will not match perfectly.

In other words, the list of mishandled cases is going to be non-empty, and that's ok!  Imo the correct response to a "doctor, it hurts when I ..." bug report is "so don't do that", not to attempt to turn k8s into a grand un

[2018-07-30 07:08] arani007 commented on #65575
Thanks @roaddemon your solution worked like charm.

[2018-07-30 07:09] r7vme commented on #66720
@yue9944882

We have ephemeral immutable nodes in our clusters. So upgrade or any other operation will cause node recreation. Hostname generated automatically, but the IP address depends on the underlay hypervisor node, where node will be scheduled. So it's possible that node stays on the same hypervisor and uses same ip address.

[2018-07-30 07:10] motek80 commented on #66747
Tried to add [Environment="KUBELET_CGROUP_ARGS=--cgroup-driver=systemd"] to /etc/systemd/system/kubelet.service.d/10-kubeadm.conf and then call

- systemctl daemon-reload
- systemctl restart kubelet

No effect, still issue exists

[2018-07-30 07:17] tatobi commented on #60152
I have a worakround for it.

[code]

[2018-07-30 07:20] CaoShuFeng commented on #66754
If we support this, should we also support comma separated http headers in other places? For example [impersonation](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation.go#L63)

[2018-07-30 07:21] motek80 commented on #66747
/open

[2018-07-30 08:03] feiskyer commented on #66449
There is no aadTenantId option, only tenantId is used. Have you checked whether aadClientId and aadClientSecret are set? From the logs, both of them are empty.

[2018-07-30 08:49] ffilippopoulos opened #66762 "Cannot create Internal loadbalancer on Reserved GCE ip"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig gcp

**What happened**:
Trying to create an internal loadbalancer using kubernetes services of `type: LoadBalancer` and specifying `loadBalancerIP` on a kube cluster running on gcp. This ip was already reserved (but not in use) in order to be able to create a dns record for it.
[code]
kube-controller was unable to create the load balan

[2018-07-30 08:53] mitsuaki0717 opened #66763 "Please tell me the conditions under which the workernode of the kubernetes Cluster is detached from the cluster."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-07-30 09:16] Itfly commented on #66756
/sig apps

[2018-07-30 10:02] NeilW opened #66766 "kube-proxy: node-port ipv6 port open on v4 cluster"
/kind bug

**What happened**:

When creating a node port application (in this case the example guestbook) on a host server that is dual stacked and has AAAA and A DNS entries, the node port on the v6 address is open to kube-proxy and hangs.

**What you expected to happen**:

The v6 address would refuse the connection and the client would fall back onto the v4 address which would connect correctly.

[2018-07-30 10:10] NeilW commented on #66766
/sig network

[2018-07-30 10:55] kir4h opened #66768 "kubeadm join fails if master takes too long to become ready"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
(Given a scenario where the master and the node machines are created at the same time, and whenever the master takes too long to be created for any reason...)

When attempting to join a kubernetes node to a kubernetes cluster, the node reported that the token is invalid or has expired. But this is not true, a second kubead

[2018-07-30 11:05] kir4h commented on #66768
/sig cluster-lifecycle

[2018-07-30 11:05] xmudrii commented on #66768
/kind bug
/area kubeadm

[2018-07-30 11:55] neolit123 commented on #66747
does that happen if you use `kubeadm init`?
the file `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` only make sense for kubeadm.

if you want to start the kubelet without kubeadm move the folder `/etc/systemd/system/kubelet.service.d/` somewhere and add your flags in `/etc/systemd/system/kubelet.service`

also please share the output from:
`journalctl -xeu kubelet`

[2018-07-30 12:04] neolit123 commented on #66747
/remove-sig node

[2018-07-30 12:11] WanLinghao commented on #66020
I propose a new model to attenuate serviceaccount credential:
- Introduce a new concept called serviceaccount-level. User could launch serviceaccount token request with different level. The token which server generates would contain the serviceaccount-level info, and it will be used in authorization stage.
- All the serviceaccount with different level index composes a serviceaccount family.  Servi

[2018-07-30 12:12] mohammedzee1000 commented on #66555
@crimsonfaith91 thanks for pointing that out. Closing issue, will reopen if i see regression

/close

[2018-07-30 12:12] #66555 closed

[2018-07-30 12:18] mohammedzee1000 commented on #66240
Tests seem to be fixed, closing for now, will reopen in case of regression.
/close

[2018-07-30 12:18] #66240 closed

[2018-07-30 12:21] mohammedzee1000 commented on #66243
Tests mentioned here appeared to be green. Will reopen in case of regression
/close

[2018-07-30 12:29] mohammedzee1000 commented on #66546
These tests seem to be green, closing for now, will reopen on regression
/close

[2018-07-30 12:29] #66546 closed

[2018-07-30 12:31] mohammedzee1000 commented on #66550
These tests appear to be green. Closing. Will reopen on regression.
/close

[2018-07-30 12:31] #66550 closed

[2018-07-30 12:33] mohammedzee1000 commented on #66566
These tests seem to have gone green. Closing. Will reopen on regrssion
/close

[2018-07-30 12:33] #66566 closed

[2018-07-30 12:35] mohammedzee1000 commented on #66570
These tests seem to have fixed themselves. Closing. Will reopen on regression.
/close

[2018-07-30 12:35] #66570 closed

[2018-07-30 12:38] mohammedzee1000 opened #66769 "Failing Tests: [sig-scheduling] SchedulerPriorities SchedulerPredicates"
# Failing Jobs
[sig-release-master-upgrade#gce-1.10-master-upgrade](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)

# Failing Tests

[SchedulerPriorities [Serial] Pod should perfer to scheduled to nodes pod can tolerate](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1668)
[SchedulerPrior

[2018-07-30 12:41] mohammedzee1000 opened #66770 "Failing Test : [sig-api-machinary] Etcd failure [Disruptive]"
# Failing Jobs
[sig-release-master-upgrade#gce-1.10-master-upgrade](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)

# Failing Tests
[[sig-api-machinery] Etcd failure [Disruptive] should recover from SIGKILL](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1668)

/sig api-machinery
/kind fa

[2018-07-30 12:44] mohammedzee1000 opened #66771 "Failing Test [sig-network] DNS"
# Failing Jobs
[sig-release-master-upgrade#gce-1.10-master-upgrade](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)

# Failing Tests
[[sig-network] DNS configMap federations should be able to change federation configuration [Slow][Serial]](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)
[[sig-network] DNS confi

[2018-07-30 12:44] mohammedzee1000 commented on #66505
Linking sub issues :
https://github.com/kubernetes/kubernetes/issues/66769
https://github.com/kubernetes/kubernetes/issues/66770
https://github.com/kubernetes/kubernetes/issues/66771

[2018-07-30 12:49] #47723 closed

[2018-07-30 12:52] mohammedzee1000 opened #66772 "Failing Test: [sig-scheduling] [Feature:GPUDevicePlugin] run Nvidia GPU Device Plugin tests"
# Failing Jobs
[sig-release-master-blocking#gke-device-plugin-gpu](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gke-device-plugin-gpu)
[sig-release-master-blocking#gke-device-plugin-gpu-p100](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gke-device-plugin-gpu-p100)

# Failing Tests
[[Feature:GPUDevicePlugin] run Nvidia GPU Device Plugin tests](https://k8s-gubernator.

[2018-07-30 12:52] mohammedzee1000 commented on #66772
/milestone v1.12

[2018-07-30 12:54] aleksandra-malinowska opened #66773 "Node doesn't have labels defined in --node-labels flag"
Kubelet was started with the following flag:

[code]

But the node doesn't have the labels:

[code]

This is causing autoscaling tests to fail: [Should be able to scale a node group down to 0[Feature:ClusterSizeAutoscalingScaleDown]](https://k8s-testgrid.appspot.com/sig-autoscaling-cluster-autoscaler#gci-gke-autoscaling)

~~Tests and above replication come from GKE, but given that the flag is pass

[2018-07-30 12:55] aleksandra-malinowska commented on #66773
cc @MaciekPytel

[2018-07-30 12:55] aleksandra-malinowska commented on #66773
/sig-node

[2018-07-30 13:08] mohammedzee1000 commented on #66772
/kind bug

[2018-07-30 13:11] mohammedzee1000 opened #66774 "Failing Test: periodic-kubernetes-e2e-packages-pushed"
# Failing Jobs
[sig-release-master-blocking#periodic-kubernetes-e2e-packages-pushed](https://k8s-testgrid.appspot.com/sig-release-master-blocking#periodic-kubernetes-e2e-packages-pushed)

# Failing Tests
[periodic-kubernetes-e2e-packages-pushed](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-e2e-packages-pushed/77)

/cc @tpepper @AishSundar

Overall failing
/k

[2018-07-30 13:25] p0lyn0mial opened #66775 "kubelet increased number of HTTP 404 errors"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I'm observing increased number of HTTP `404` errors (kubernetes API server) when scheduling my `CronJob`s to run every 2 minutes. The metric I'm observing `rest_client_requests_total` is coming from kubelet `/metrics` endpoint.

**What you expected to happen**:
Scheduling my `CronJob`s to run every 2 minutes doesn't incre

[2018-07-30 13:33] mohammedzee1000 opened #66776 "Failing Tests: [sig-api-machinery] AdmissionWebhook Should be able to deny pod and configmap creation"
# Failing Jobs
[sig-release-master-upgrade#gce-1.10-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)
# Failing Tests
[AdmissionWebhook Should be able to deny pod and configmap creation](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1681)
# Triage Results
[ci-kubernet

[2018-07-30 13:34] xujintao opened #66777 "the status of controller-manager is unhealthy"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig api-machinery

**What happened**:
When i kubectl get componentstatuses
the status of controller-manager is Unhealthy and the message is:

and /var/log/kubernets/kube-controller-manager.INFO is:

What i understand is apiserver should send https instead of http request to controller-manager while controller-manager binding secure addre

[2018-07-30 13:35] p0lyn0mial commented on #66775
/sig node

[2018-07-30 13:44] mohammedzee1000 opened #66778 "Failing Tests: [sig-instrumentation] Cluster level logging implemented by Stackdriver"
# Failing Jobs
[sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-master)
# Failing Tests
[[sig-instrumentation] Cluster level logging implemented by Stackdriver should ingest events](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-u

[2018-07-30 13:45] mborsz commented on #66672
I was debugging `density-latency-pod-63-dk67h` running on e2e-big-minion-group-r6nq (7.477171923s from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/16064.

The timeline is:
[code]

So sandbox creation took 4.77s and container creation ~2s.

Logs (kubelet and docker) don't contain any hints why sandbox creation took so long or at least I can

[2018-07-30 13:46] AishSundar commented on #66771
@spiffxp as per k8s-bot's comment above, do we still need one of the following labels on a test issue?  kind/bug, kind/cleanup or kind/feature.

[2018-07-30 13:47] vladimirvivien commented on #66323
@gnufied the only problem with #59050 is that in CSI volume info is intentionally opaque to the CSI code inside k8s.  All mount logic is delegated to the driver.

[2018-07-30 13:52] vladimirvivien commented on #66323
@msau42 @gnufied @saad-ali Instead of a new capability or trying to deduce how best to apply fsgroup, why not pass the `fsgroup` to the driver and let it decide how to apply it (either as a attribute for the mount or top level request param)?  Right now, all mount logic has been delegated to the external CSI driver except for applying permission.

Thoughts ?

[2018-07-30 14:09] mborsz commented on #66672
Logs from docker for that pod:

[code]

[2018-07-30 14:16] brancz commented on #66778
@coffeepac did we move this test to sig-gke?

In any case this is @piosz's territory :slightly_smiling_face: .

/assign @piosz

(@loburm or @kawych if Piotr can't take care of this, could you assign this to appropriately to someone?)

[2018-07-30 14:33] mborsz commented on #66672
Relevant code is here:
https://github.com/kubernetes/kubernetes/blob/28b6fb5f7d4ec9fc0be2843d61543ef70b748e70/pkg/kubelet/dockershim/docker_sandbox.go#L103-L133

IIUC the delay between 'Calling POST' and 'calling POST /start' is caused by either creating a sandbox container in docker or inside of CreateCheckpoint call (which basically writes some data to disk).

[2018-07-30 14:47] andrewsykim commented on #39090
This likely belongs in another issue, but your application should handle closing connections gracefully during the termination grace period (seconds after SIGTERM is received).

[2018-07-30 15:03] xymyeah commented on #31424
+1

[2018-07-30 15:30] luxas commented on #66774
ok, thanks for the update

[2018-07-30 15:32] meeca1218 commented on #41038
We also received warning
Port: 6443 Here is the list of medium strength SSL ciphers supported by the remote server :

Medium Strength Ciphers (> 64-bit and < 112-bit key, or 3DES)

ECDHE-RSA-DES-CBC3-SHA Kx=ECDH Au=RSA Enc=3DES-CBC(168) Mac=SHA1
DES-CBC3-SHA Kx=RSA Au=RSA Enc=3DES-CBC(168) Mac=SHA1
..............................................

How could we fix it ?  Any suggestion ?

[2018-07-30 15:38] meeca1218 commented on #65950
Vulnerability Description:
Synopsis :

The remote service supports the use of medium strength SSL ciphers.
The remote host supports the use of SSL ciphers that offer medium strength encryption. Nessus regards medium strength as any encryption that uses key lengths at least 64 bits and less than 112 bits, or else that uses the 3DES encryption suite.

Note that it is considerably easier to circumven

[2018-07-30 15:40] resouer opened #66782 "KUBE_TEST_ARGS in make command did not pass to hack/make-rules/test.sh"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After change in #66061, if you still set`KUBE_TEST_ARGS` in make command, its amended value will not be passed to `hack/make-rules/test.sh`

P.S.  `KUBE_TEST_ARGS` is amended  with default values here: https://github.com/kubernetes/kubernetes/blob/28b6fb5f7d4ec9fc0be2843d61543ef70b748e70/hack/make-rules/test-integration.

[2018-07-30 15:41] resouer commented on #66782
xref: #65714

[2018-07-30 16:08] yingnanzhang666 opened #66785 "the latency of api request was affected by compact when use etcd 3.3"
**versions:**
kubernetes version: v1.9
etcd server version: v3.3.8
grpc client version: v1.7.5
etcd client version: v3.2.13

**cluster scale:**
167k pods, 5k nodes, 5 master nodes

**the api load on one master node:**
DELETE pods: 56/s
PUT pods: 66/s
PATCH nodes: 158/s
LIST nodes (hit to etcd): 1/s
LIST all pods with fieldSelector(nodename) (hit to etcd): 1/s
![img_20180731_093953](https://user-im

[2018-07-30 16:11] yingnanzhang666 commented on #66785
/sig api-machinery
/sig scalability

[2018-07-30 16:15] yingnanzhang666 commented on #66785
@wojtek-t @jpbetz @gyuho Do you have any idea about this?

[2018-07-30 16:32] gyuho commented on #66785
etcd storage compaction "does" block readers, writers, and APIs like hash check and snapshot. Requests may timeout during compaction. But we haven't checked the exact compact latencies between etcd versions.

[2018-07-30 16:35] dims commented on #66626
@cjwagner Can you please publish a few images when you get a chance? ( cc @mkumatag )

1) from k8s.io/kubernetes/test/images/webhook run "make all-container WHAT=webhook"
2) from k8s.io/kubernetes/test/images/sample-apiserver run "make all-container WHAT=sample-apiserver"
   (Need https://github.com/kubernetes/kubernetes/pull/66686 to merge)
3) from k8s.io/kubernetes/test/images/dnsutils run "make

[2018-07-30 17:01] PatrickLang commented on #66561
/sig windows

[2018-07-30 17:01] imranrazakhan commented on #63804
E0730 17:01:15.217272    1555 summary.go:92] Failed to get system container stats for "/user.slice/user-1000.slice/session-1.scope": failed to get cgroup stats for "/user.slice/user-1000.slice/session
-1.scope": failed to get container info for "/user.slice/user-1000.slice/session-1.scope": unknown container "/user.slice/user-1000.slice/session-1.scope"
E0730 17:01:15.217298    1555 summary.go:92]

[2018-07-30 17:02] PatrickLang commented on #65498
/sig windows

This is actually a bug in the Azure CNI code, tracked at https://github.com/Azure/azure-container-networking/issues/195

[2018-07-30 17:03] PatrickLang commented on #65305
/sig windows

[2018-07-30 17:03] yingnanzhang666 commented on #66785
what about the db sync duration? under the same api load, when I switch to 3.1.9, the db sync duration is down to less than 200ms.

[2018-07-30 17:08] Huang-Wei commented on #66526
@k82cn @bsalamat ^^

[2018-07-30 17:12] vladimirtiukhtin opened #66789 "Implement username/password authentication on etcd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
api-server does not support username/password authentication on etcd

**What you expected to happen**:
api-server does support username/password authentication on etcd

[code]

[2018-07-30 17:13] tiukhtinvladimir commented on #66789
/auth

[2018-07-30 17:36] ehashman opened #66790 "Consider renaming "pod_name" labels to "pod" and "container_name" labels to "container" for cAdvisor metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What's happening:**

Currently, the `container_*` metrics use the label "pod_name" to refer to the name of the pod in a timeseries and "container_name" to refer to container names within that pod.

kube-state-metrics, however, uses "pod" to refer to the names of pods and "container" to refer to names of containers.

This difference makes

[2018-07-30 17:42] ehashman commented on #66790
/sig instrumentation

[2018-07-30 17:52] ConnorDoyle commented on #66614
/assign

[2018-07-30 17:53] balajismaniam commented on #66614
/assign

[2018-07-30 17:58] ehashman opened #66791 "Add histogram metric for Pod start latency"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig instrumentation

**What happened**:

Currently, the best available metric for pod start time is `kubelet_pod_start_latency_microseconds`, exported by the kubelets. However, this metric is a summary type. This means that it can't be aggregated between kubelets, and limited percentile data is exposed.

**What you expected to happen**:

[2018-07-30 18:05] ehashman commented on #40214
I am using `kube_pod_container_resource_requests_memory_bytes` from kube-state-metrics to retrieve this stat.

[2018-07-30 18:10] coffeepac commented on #66778
@brancz we didn't move this to sig-gke, I don't think that would be correct.

however, starting with 1.12 this is behind a feature gate for e2e tests so it won't run most of the time.  We could cherry pick it back if that would clear the error.

[2018-07-30 18:45] Alphapage opened #66794 "Cpu average consumption"
Hello,

I have installed Kubernetes on my local windows PC using minikube or docker for windows without any container running.
In both cases, Kubernetes consumes approximatively 20 percents of the cpu (Intel 5Y10) constantly.

Is it the normal cpu usage to have Kubernetes managing the nodes ?
Do you plan to optimize and reduce Kubernetes resource utilization or is it a limitation ?
I can't find an

[2018-07-30 18:47] cjwagner commented on #66626
The images under `k8s.io/kubernetes/test/images` should be published now, but I don't have permission to publish the images under `k8s.io/examples/guestbook`.

[2018-07-30 19:43] patrickdk77 opened #66796 "Using AWS NLB"
/kind bug

**What happened**:
Connection timeout, packets go into the node and into the container, but no replies are seen

**What you expected to happen**:
A reply packet to my TCP sync request

**How to reproduce it (as minimally and precisely as possible)**:
Setup a service using an NLB, example:

apiVersion: v1
kind: Service
metadata:
  name: cas-test
  labels:
    app: cas-test
  annotations:

[2018-07-30 20:13] tamilmani1989 commented on #65498
@PatrickLang  The reason for pod creation error is different here. It's not due to unparseable error. The one you referenced will just fix the error message returned by azure CNI should be parseable by containernetworking/cni.

[2018-07-30 20:39] timothysc commented on #66649
I'd welcome a proposal doc that breaks apart the work into well-defined stages.

wrt viper, the intent was to have a supported config file mechanism to run the tests.

[2018-07-30 20:45] patrickriordan opened #66800 "Kubernetes 1.9.6 doesn't seem to properly drain connections"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Some requests timeout or return 504 during deployment. 1 request per second and 2 deploys per minute results in about 1 bad requests per 2 hours.

**What you expected to happen**:
I expected there to be zero downtime during deployment.

**How to reproduce it (as minimally and precisely as possible)**:

Overview: Setup a d

[2018-07-30 21:06] ConnorDoyle commented on #66614
/remove-sig scheduling

[2018-07-30 21:06] 007 commented on #39178
/remove-lifecycle stale

[2018-07-30 21:20] PatrickLang opened #66801 "Pod Dns Policy not implemented on Windows, leaves incomplete suffix list"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Windows pods are not getting the expected DNS suffix list. They are only getting the one for their current namespace and the Pod DnsPolicy is ignored

**How to reproduce it (as minimally and precisely as possible)**:

Windows pods still only get the dns search suffix for their namespace. They should also have svc.cluster.l

[2018-07-30 21:31] jcrowthe commented on #65651
Issue appears to have resolved itself, either through deploying v1.11.0 or Azure changed something.

[2018-07-30 21:31] #65651 closed

[2018-07-30 21:52] jiayingz opened #66802 "Handle fsnotify errors in pluginwatcher"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Currently pluginwatcher doesn't watch for fsnotify errors. However, we have seen issues in the past that fsnotify error could happen on some systems, e.g., when we have too many fsnotify registered. We would like to add this support in pluginwatcher. Basically, we need to select fsnotify.Errors event, and then see how

[2018-07-30 21:54] jiayingz commented on #66802
/sig node
/cc @vikaschoudhary16 @RenaudWasTaken @figo @sbezverk @saad-ali @vladimirvivien

[2018-07-30 21:59] jiayingz opened #66803 "Extends e2e_node/gpu_device_plugin.go and e2e/scheduling/nvidia-gpus.go tests to verify both gRPC based and probe based registration models"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:
Basically we need to extend the current gpu device plugin to be able to register with both models depending on whether the pluginwatcher feature is enabled on the node, and then we add a separate test to enable pluginwatcher for probe based registration.

**How to reproduce it (as min

[2018-07-30 21:59] jiayingz commented on #66803
/sig node

[2018-07-30 22:04] jiayingz commented on #65773
For fsnotify error, filed https://github.com/kubernetes/kubernetes/issues/66802

@vikaschoudhary16 had already added the test coverage for probe based mode in e2e_node device_plugin test. I filed https://github.com/kubernetes/kubernetes/issues/66803 for gpu based device plugin e2e test. Ideally, we want to add the e2e test coverage with a stub device plugin, but that would depend on the long pendi

[2018-07-30 22:07] jiayingz opened #66804 "Issues a single Allocate gRPC call per pod in kubelet device manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:
Basically implements this TODO in device manager allocateContainerResources():
"TODO: refactor this part of code to just append a ContainerAllocationRequest
in a passed in AllocateRequest pointer, and issues a single Allocate call per pod."

**How to reproduce it (as minimally and pre

[2018-07-30 22:08] jiayingz commented on #66804
/sig node

[2018-07-30 22:16] mkimuram commented on #66571
Updated the table. subpath.go is added and some tests for one plugin come to be executed for other plugins(Please see tests and plugins marked as "A" in the below table).

plugins|volumes.go|volume_io.go|persistent_volumes-volumemode.go|subpath.go
-|-|-|-|-
NFS | M | M | M | M
Gluster | M | M |  | M
iSCSI 	 |M |M|M |A
Ceph-RBD  |M |M|M |A
CephFS |M |M|M |A
hostpath |A |A |-|M
hostpathSymlink |A |A

[2018-07-30 22:18] willthames commented on #66432
@chrisohaver the [logs from kube-dns](https://github.com/kubernetes/kubernetes/issues/66432#issuecomment-408738256) suggest that it's not receiving the request

[2018-07-30 22:24] fedebongio commented on #66680
/cc @caesarxuchao

[2018-07-30 22:25] fedebongio commented on #66688
/cc @mbohlool @sttts

[2018-07-30 22:25] fedebongio commented on #66720
/cc @cheftako

[2018-07-30 22:26] fedebongio commented on #66770
/cc @wenjiaswe

[2018-07-30 22:27] fedebongio commented on #66776
/assign @caesarxuchao

[2018-07-30 22:28] fedebongio commented on #66777
/assign @cheftako

[2018-07-30 22:28] Huang-Wei commented on #66526
/assign

[2018-07-30 22:28] fedebongio commented on #66785
/cc @wenjiaswe

[2018-07-30 22:36] m1kola commented on #66753
Thanks for reporting. I can reproduce this.

As far as I'm aware, the data is not omitted for security reasons: it just to make output more readable for humans. Currently it only omits PEM-encoded data from a client cert and key files. Probably it's a desired behaviour.

I'm happy to work on it, if anyone from @kubernetes/sig-cli-bugs can confirm that they are happy to replace password (and, proba

[2018-07-30 22:43] jpbetz commented on #66785
`--snapshot-count` changed from 10,000 to 100,000.in 3.2, and is known to have performance implications. But it looks like we're narrowed this one down specifically to the compaction operation so maybe we can rule that out?

[2018-07-30 22:49] BrendanThompson commented on #66583
@msau42 from the looks of things in https://github.com/kubernetes/features/issues/559 and https://github.com/kubernetes/kubernetes/pull/65769 it looks as though there isn't going to be a graduation of the feature to **beta** in `1.12`, its also not currently tracked in the _Feature Tracking Spreadsheet_.

Is there going to be an architectural change to the way that this will be implemented? I am j

[2018-07-30 23:07] neolit123 commented on #66800
@kubernetes/sig-aws-misc
/sig network
please, delegate to another sig if needed.

[2018-07-30 23:09] neolit123 commented on #66796
@kubernetes/sig-aws-misc

[2018-07-30 23:13] neolit123 commented on #66794
/sig windows

[2018-07-30 23:14] neolit123 commented on #66789
/sig auth

[2018-07-30 23:17] msau42 commented on #66583
@BrendanThompson you should not rely on this feature in the current state.  The API has been determined to be an incompatible change so the API needs to be completely redesigned.

[2018-07-30 23:30] mkimuram commented on #66388
@aruneli

Thank you for your interest.

I think that we are ready to make a pull request for https://github.com/mkimuram/kubernetes/commit/b461cb7acad0a0912fda198b8df46cd5ae452f0a, once  https://github.com/ceph/ceph-csi/issues/48 is resolved. I'm welcome to your review and tests, before doing it.

[2018-07-30 23:39] BrendanThompson commented on #66583
Had a further discussion with @msau42 via Slack, as such this issue can be closed.

[2018-07-30 23:39] #66583 closed

[2018-07-30 23:50] yingnanzhang666 commented on #66785
@jpbetz I see that change log, so actually, I have already specified `--snapshot-count=10000` in etcd parameter to have a try. The dashboard and result above were indeed test with snapshot-count 10000.

[2018-07-30 23:54] neolit123 commented on #66794
/sig windows

[2018-07-30 23:54] neolit123 commented on #66800
/sig network

[2018-07-30 23:55] neolit123 commented on #66796
/sig aws

[2018-07-30 23:55] neolit123 commented on #66789
/sig auth

[2018-07-30 23:59] neolit123 commented on #66763
please re-open once you have details in the issue description.
thanks.

/close

[2018-07-31 00:00] #66763 closed

[2018-07-31 00:00] #60713 closed

[2018-07-31 00:07] mayakacz commented on #61420
Will this make it to Beta in 1.12?
From sig-auth on 7/11, it sounded like this was missing a release shepherd. Is anyone owning pushing this forward?

[2018-07-31 00:16] liggitt commented on #66773
labels are only added on initial registration of the Node object. if `--node-labels` was changed after that initial registration, the kubelet does not modify labels on start

[2018-07-31 00:17] caesarxuchao commented on #59759
Agree that the webhook needs to see the real object, but the real object won't be included in the user's request. I think it's fine for the webhooks to GET the real object from the apiserver, like how the existing compiled-in admission controller does: https://github.com/kubernetes/kubernetes/blob/742a90cb5a4485c6db4ecd9b547b96335ec10745/plugin/pkg/admission/exec/admission.go#L105

I want to remov

[2018-07-31 01:01] #60487 closed

[2018-07-31 01:09] islinwb commented on #66743
/unassign

[2018-07-31 01:37] sgmiller commented on #60099
Agreed.  This violates a security principle of providing only that information something needs to operate.  Should be a container or pod level attribute to disable or whitelist this information.

[2018-07-31 01:43] micahhausler commented on #66796
Hi thanks, this is a known limitation of internal NLB, it doesn’t support hairpinning. https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-troubleshooting.html

Possible mitigations for this would be to have Kubernetes support IP target type, or use ProxyProtocol. You could also run your client pods on separate nodes from the service that is behind the NLB
https://github.

[2018-07-31 01:43] #66796 closed

[2018-07-31 01:48] figo commented on #66802
i will work on it if nobody already work on it, thanks

[2018-07-31 01:49] figo commented on #66802
/assign

[2018-07-31 02:43] yue9944882 commented on #66720
/kind feature

[2018-07-31 03:01] charrywanganthony commented on #66756
The job object also remains after so that you can view its status? It is up to you to delete old jobs.

[2018-07-31 03:04] yue9944882 commented on #66720
/assign

[2018-07-31 03:10] ms4720 commented on #66753
I would like to do this, it looks like a good first issue thing, and I found it.

[2018-07-31 03:13] ms4720 commented on #66753
I think user name/login is fine, think /etc/passwd vs /etc/shadow.

[2018-07-31 04:13] mohammedzee1000 commented on #66778
/priority critical-urgent
/remove-priority important-soon

[2018-07-31 04:15] mohammedzee1000 commented on #66776
/priority critical-urgent
/remove-priority important-soon

[2018-07-31 04:16] mohammedzee1000 commented on #66774
/priority critical-urgent
/remove-priority important-soon

[2018-07-31 04:29] guineveresaenger commented on #66337
@wojtek-t @countspongebob there seems to be recent activity on this, and it's a 1.12 known issue. Should this be a 1.12 milestone? Please update.

[2018-07-31 04:31] guineveresaenger commented on #63024
@fejta @timothysc this is a 1.12 know issue. Should this be in the milestone?

[2018-07-31 04:51] mcluseau commented on #62830
/remove-lifecycle stale

[2018-07-31 04:58] shyamjvs commented on #66337
Yes, let's keep it in the milestone until we debug it or prove it's
unrelated to k8s.

On Tue, Jul 31, 2018, 6:30 AM guineveresaenger <notifications@github.com>
wrote:

[2018-07-31 05:01] guineveresaenger commented on #66505
Should this remain open as a tracker issue, or should it be closed? @mohammedzee1000

[2018-07-31 05:47] davidmessem commented on #60066
I am having the same issue, Kubernetes 1.9.6, running on AWS

I deleted a helm chart with a daemonset, and it just hung.
The helm chart is no longer listed when I run helm ls though.
I deleted the daemonset, and it tried to delete the pods, but the command just hung as well.
I then force deleted the pods (--force --grace-period=0), but those commands hung too.

Daemonset description:

Pod descript

[2018-07-31 06:15] sudeeshjohn opened #66809 "TestNsenterExistsFile is failing"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:
TestNsenterExistsFile test is failing during make test

**What you expected to happen**:
The test should have passed.

**How to reproduce it (as minimally and precisely as possible)**:
git clone https://github.com/kubernetes/kubernetes.git
run make test

**Anything else we need to know?**:
Fail logs:
[code]

**

[2018-07-31 06:16] jyothish-git opened #66810 "kubectl get componentstatus showing extra etcd instances"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

Hi Team,

I have a single node kubernetes cluster running. Everything working fine, but when I run the "kubectl get cs" (kubectl get componentstatus) it showing two instance of etcd. I have running a single etcd instance.

[root@master01 vagrant]# kubectl get cs
NAME                 STATUS    MESSAGE              ERROR
controller-manager

[2018-07-31 06:17] #61699 closed

[2018-07-31 06:42] loburm commented on #66778
@serathius Could you take a look?

[2018-07-31 06:47] vsxen commented on #66810
You need to changr API-Service `--etcd-servers ` args
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/
--etcd-servers stringSlice

[2018-07-31 06:54] php-coder commented on #61420
@stlaz

[2018-07-31 06:55] yvespp opened #66811 "Eviction should be able to start new pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
`kubectl drain` got stuck because we had PodDisruptionBudget (PDB) with `spec.minAvailable: 1` and the deployment only had one replica -> allowed disruptions was always 0.

**What you expected to happen**:
Instead of `kubectl drain` getting stuck, it should activly start a new pod on a different node if the deployment

[2018-07-31 07:08] mohammedzee1000 commented on #66338
/priority critical-urgent
/remove-priority important-soon

[2018-07-31 07:08] mohammedzee1000 commented on #66338
Note these tests are blocking alpha cut, whats the eta on fix.

[2018-07-31 07:09] jyothish-git commented on #66810
Thanks @vsxen for your reply. I have added in the same way. --etcd-servers=http://10.0.0.10:2379 . Could you let me know what change do I need to make ?

 --etcd-servers stringSlice
--
  | List of etcd servers to connect with (scheme://ip:port), comma separated.

[2018-07-31 07:09] DylanBLE opened #66812 "apiserver pprof redirect bug"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The links on  **http://${APISERVER}:8080/debug/pprof** will not jump to a correct address.
For example, if you click [goroutine](http://127.0.0.1:8080/debug/goroutine?debug=1), it will jump to  **http://${APISERVER}:8080/debug/goroutine?debug=1**.

**What you expected to happen**:
The above example will redirect to **http

[2018-07-31 07:09] DylanBLE commented on #66812
/sig-apiserver

[2018-07-31 07:10] DylanBLE commented on #66812
/sig api-machinery

[2018-07-31 07:31] stlaz commented on #61420
@mayakacz I'll do my best to push this.

[2018-07-31 07:34] pashok2398 commented on #65950
@meeca1218
6443 is the apiserver....
try to add `--tls-cipher-suites=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256`

[2018-07-31 07:35] pashok2398 commented on #65950
I am closing this issue as i have no Vulnerabilities
set `--tls-cipher-suites=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256` on `kube-apiserver` and `kubelet` solved the issue.
Thanks

[2018-07-31 07:35] #65950 closed

[2018-07-31 07:54] yvespp commented on #66811
/sig apps
/sig scheduling

[2018-07-31 07:58] xuji-cny commented on #51764
I got as some problem when delete deployment and I fixed it
just restart controller manager, then it works!

[2018-07-31 07:59] mohammedzee1000 commented on #66771
/priority critical-urgent
/remove-priority important-soon

[2018-07-31 08:00] brancz commented on #66790
I just added this to be discussed in the sig-instrumentation meeting, personally I'm all for it and we've discussed this a number of times. @DirectXMan12 we should figure out the timeline for node-metrics being reworked, if that is going to take a while then I think we should make these changes.

[2018-07-31 08:24] serathius commented on #66778
Yup

[2018-07-31 08:36] discordianfish commented on #57144
I'm too annoyed by this bot and will just unfollow this issue.

[2018-07-31 09:07] m1kola commented on #66753
Ok, feel free to pick this up.

I also just started learning the project's codebase, but, I think, I have an idea where to dig for this. So let me know, if you need any help/pointers.

[2018-07-31 09:24] aleksandra-malinowska commented on #66773
The labels were missing after initial node creation, but it looks like they could have been removed by another component just after node was registered.

[2018-07-31 09:24] #66773 closed

[2018-07-31 09:27] Itfly commented on #66756
@charrywanganthony What are your talking? My issue is that the job's status is still running after its related pod's status have been changed to `ImagePullBackOff`

[2018-07-31 09:33] serathius commented on #66778
Problem was also visible on presubmits: https://k8s-testgrid.appspot.com/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-gke
It was fixed already, can you rerun tests?

[2018-07-31 09:35] spicysomtam commented on #50375
Me too! Would be great to have this, as we have to redeploy or delete pods to clear the counter.

[2018-07-31 09:46] hchenxa opened #66819 "fatal error throws when enable the --clean-up flags for kube proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]
**What you expected to happen**:
The `kubeproxy` should be start up.

**How to reproduce it (as minimally and precisely as possible)**:
use k8s 1.11.1

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.11.1
- Cloud provider or hardware configuration:
- OS (e.g. f

[2018-07-31 09:47] liyongxian opened #66820 "CLOSE_WAIT connections on master node Not released when WebSocket closed"
Hi
--kubectl version
Client Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v0.0.0-master+$Format:%h$", GitCommit:"$Format:%H$", GitTreeState:"", BuildDate:"1970-01-01T00:00:00Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.1", GitCommit:"d4ab47518836c750f9949b9e0d387f20fb92260b", GitTreeState:"clean", B

[2018-07-31 09:49] ms4720 commented on #66753
I will thanks, I think I found it.  I think getting everything set up right is going to take longer than the fix

[2018-07-31 10:04] P1ng-W1n commented on #54967
It seems to me that this issue affects kube-proxy related PODs only (at least on my systems):
According to the error message Kubelet tries to write 'a *:* rwm' into the POD's devices.allow file, however kube-proxy has an additional child group in that structure that forbids such action:

A similar issue is described here: https://github.com/kubernetes/kubernetes/issues/66614

[2018-07-31 10:42] bvwells commented on #66384
Looks like the issue was caused by this:
https://cloud.google.com/kubernetes-engine/release-notes#known-issues_37

[2018-07-31 10:48] du2016 opened #66821 "Mount cannot be satisfied for container"
kubelet_pods.go:180] Mount cannot be satisfied for container "xxx", because the volume is missing or the volume mounter is nil: {Name:default-token-ln85q ReadOnly:true MountPath:/var/run/secrets/kubernetes.io/serviceaccount SubPath: MountPropagation:<nil>}

[2018-07-31 10:51] du2016 commented on #66821
/sig node

[2018-07-31 10:51] du2016 commented on #66821
@kubernetes/sig-node-bugs

[2018-07-31 10:53] du2016 commented on #66821
kubelet: E0731 18:38:02.367543    1766 kuberuntime_manager.go:733] container start failed: CreateContainerConfigError: cannot find volume "default-token-ln85q" to mount into container "xxx"

[2018-07-31 10:55] du2016 commented on #66821
i always have this error ,with lots of retry ,it create success

[2018-07-31 10:56] leeeboo commented on #45419
Just happened again on our production cluster
Kubernetes: 1.11.0
coreos: 1520.9.0
docker: 1.12.6
cni: calico

I restart the kubelet and dockerd on notready node and it seems okay nows.
the only different between notready node and ready node is there are lot's of  cronjob pod start and stop and killed on notready node.

[2018-07-31 10:56] gyliu513 commented on #66819
/sig network

[2018-07-31 11:10] Ramuimmadi commented on #24306
I am getting a similar issue, I am using GKE and trying to use liveness probe but its always showing unhealthy stating connection refused. Its trying to use container IP by default, But can we change the host to make it use Cluster IP?
because http://<container-IP>/health is throwing container Ip whereas  http://<cluster-IP>/health is working fine. (I tested that manually). How can we change that?

[2018-07-31 11:15] WanLinghao commented on #66821
Can you please show your pod config file

[2018-07-31 11:25] neolit123 commented on #66338
@mohammedzee1000
waiting on https://github.com/kubernetes/test-infra/pull/8874
these are hard to debug and fix because they requires multiple steps by multiple folks.

hoping to get them working by the end of the week.

[2018-07-31 11:26] shyamjvs commented on #66609
To update: I spoke with @mborsz offline and suggested that we simply turn off log-size-gathering in our release jobs to fix these flakes because:

- these are not seen on head job, but on the older release ones - so it's quite likely that it's coming from test-infra side
- since the issue is not easily reproducible and we'll eventually update these jobs to new releases, it's probably not worth inv

[2018-07-31 11:30] pohly commented on #66649
"Timothy St. Clair" <notifications@github.com> writes:

A Google doc? I can create one. But as there seems to be no objections
against what I outlined so far, I'll also continue with prototyping in
parallel.

That makes sense, and it is working now in my prototype branch for all
config options without changing the command line interface.

[2018-07-31 11:42] jasonrichardsmith commented on #38612
I am reviewing this issue, to see if I am able to tackle it.  Has anyone else taken this issue?

[2018-07-31 11:52] kargakis commented on #38612
@jasonrichardsmith not that I know of

[2018-07-31 12:00] warmchang commented on #7815
duplicate of https://github.com/kubernetes/kubernetes/issues/58081?

[2018-07-31 12:08] jayunit100 commented on #66649
hi @pohly !  ... just saw this :  to answer your questions...

- bindata was added because we needed to 'remember' the yaml files in things like 'examples/' tests for a particular release, otherwise, when trying to see if your e2e suite passed, you have to get the right corresponding static yaml files (there were many yaml files from the codebase as input to the tests, i.e. examples/ ones).  So, t

[2018-07-31 12:10] Mosho1 commented on #59376
Seeing this on ECS.

[2018-07-31 12:30] #60850 closed

[2018-07-31 12:35] neolit123 commented on #61934
@natipo hi, please re-open if this fails for you in 1.11.1 or 1.10.6.

/close

[2018-07-31 12:35] #61934 closed

[2018-07-31 12:48] jsafrane commented on #64984
I wrote proposal how to pass pod name, namespace, uid and service account to a CSI driver: https://github.com/kubernetes/community/pull/2439, similarly to what Flex does.

I chose a new gRPC API betwen CSI driver registrar and kubelet. Right now it passes just a flag if the driver that's being registered wants pod information or not. In future it might pass something more.

[2018-07-31 12:50] errm commented on #24306
@Ramuimmadi this issue is very old... perhaps you should ask your question on stackoverflow or on the kubernetes slack http://slack.k8s.io/

[2018-07-31 12:53] shyamjvs commented on #66672
So we took a look into pod-startup latency graph for gce-100, and it seems to have increased slightly ~week ago:

![pod-startup](https://user-images.githubusercontent.com/4333971/43460451-f9a61a64-94d0-11e8-9279-fd282262c463.png)

@mborsz suspects that this is due to his change in kubelet log-level from v2 to v4. Once he confirms that's the case, we can:

- switch the job back to v2 (which also ma

[2018-07-31 12:55] chestack commented on #54505
configuring longer "worker-shutdown-timeout" works for me.

But there is a strange behavior is that NGINX will retry non-idempotent POST request in case that backend server(app) response back to nginx after all old workers shutdown(connections lost)
Could anyone help explain it, thanks

[2018-07-31 12:56] sdlarsen commented on #65436
@wongma7 I only tried it using kops to set the feature gate, so I didn't check what might go wrong there. For now I'm happy with it working without BlockVolume.

[2018-07-31 13:05] Alphapage commented on #66794
I had a little time to test minikube on ubuntu 18.04 and virtualbox with the same PC and minikube is using approximatively 15 percents of the cpu.

I don't have a mac, so I don't know if minikube on ubuntu is eating cpu.

/sig ubuntu /sig linux

[2018-07-31 13:07] uablrek commented on #65006
Compiled from "master" and it seems to be there still.
[code]

[2018-07-31 13:22] NeilW opened #66825 "Cloud Provider experiences"
/kind feature
/sig cloud-provider

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:53:20Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVe

[2018-07-31 13:41] uablrek commented on #65006
BTW there are more bugs in the proxy-mode=ipvs+ipv6-only combination. E.g node-ports are setup for ipv4 in ipvs;
[code]

[2018-07-31 13:48] pcm1984 opened #66826 "Unable to install Kubernetes following the official installation guide on CentOS 7 on a VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug
/sig Release
/sig CLI

**What happened**:
When I execute the following commands (taken from the official installation guide for kubernetes),  the output is unexpected (shown below: )
Command (On CentOS 7):
cat <<EOF > /etc/yum.repos.d/kubernetes.repo
[kubernetes]
name=Kubernetes
baseurl=https://packages.cloud.google.com/yum/repos/kubernetes

[2018-07-31 13:51] MaciekPytel commented on #66774
deb and rpm are now pushed, next test run should hopefully pick them up.

[2018-07-31 14:06] saravana1992 commented on #66826
Hi

It sounds like packages not found by yum repo commands.
Do try yum repo clean & yum update & then try installing the packages.

[2018-07-31 14:06] meeca1218 commented on #65950
Thx much.  Pavel.

    On Tuesday, July 31, 2018, 12:35:23 AM PDT, Pavel Druyan <notifications@github.com> wrote:

@meeca1218
6443 is the apiserver....
try to add --tls-cipher-suites=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-07-31 14:08] pcm1984 commented on #66826
I did that several times. but with no success.

[2018-07-31 14:33] adampl commented on #62637
+1, it shouldn't go stale!

[2018-07-31 14:57] warmchang commented on #51798
/remove-lifecycle stale

[2018-07-31 14:59] BenTheElder commented on #63355
Any update here?

[2018-07-31 14:59] leebenson commented on #44815
IMO, this isn't _really_ solved. There should be an option to append each key rather than overwrite.

Something like:

[code]

So that...

[code]

... keeps the existing `default.conf` and any other artefacts of the Docker image, but augments with `example*.conf`

Repeating the same info in subPath is just _icky_.

[2018-07-31 15:05] mkoderer commented on #66826
The `exclude=kube*` will actually exclude all pkgs. Just remove it and it should work.

[2018-07-31 15:06] pcm1984 commented on #66826
This was solved. There is a mistake in the docs.

I can see there is a mistake in the docs.

Line containing exclude=kube* should be removed.

It should be as follows:

cat <<EOF > /etc/yum.repos.d/kubernetes.repo
[kubernetes]
name=Kubernetes
baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://packages.cloud.google.com/yum/d

[2018-07-31 15:25] mkoderer commented on #66826
Bug was introduced with:
https://github.com/kubernetes/website/commit/88569b1ddc9fb13790cfda8b9ba8edfdef491ee0

[2018-07-31 15:38] mkoderer commented on #66826
Addressed with: https://github.com/kubernetes/website/pull/9689

[2018-07-31 15:41] mayakacz commented on #61420
Ack - that's what I was wondering (with the feature freeze).
Thanks @stlaz

[2018-07-31 15:43] pcm1984 commented on #66826
I can close the issue if everything else is okay.

[2018-07-31 16:08] spiffxp commented on #62908
/remove-lifecycle stale
/remove-sig cli
/sig apps
this is part of ensuring we have sufficient coverage of all v1 workload api's in conformance tests, which would fall under aopps

[2018-07-31 16:14] caesarxuchao commented on #66776
Need to cherrypick https://github.com/kubernetes/kubernetes/pull/66616, to 1.10? I'll send a fix.

[2018-07-31 16:25] nmousavi opened #66828 "Misleading "Pending" status is returned when pod fails with "Error: ErrImagePull""
If pod fails in pulling a docker image, we have inconsistency in pod status.

2) kubectl get pods

NAME  READY     STATUS             RESTARTS   AGE
my_pod_1  0/1       ErrImagePull   0          59m
my_pod_2  0/1       ImagePullBackOff   0          39m

2) kubectl get pod my_pod_1 -o jsonpath={.status.phase}
Pending

3) kubectl get pod my_pod_2 -o jsonpath={.status.phase}
Pending

Another issue (b

[2018-07-31 16:30] #66135 closed

[2018-07-31 16:31] nmousavi commented on #66828
/kind bug
/sig cli

[2018-07-31 16:44] saurfangg commented on #45419
@mechpen

I'm not sure if I'm experiencing the same issue or not.

[code]
My Nodes go `NotReady` when (seemingly) the Docker daemon stops responding to health checks. On the machine itself `docker ps` hangs but a `docker version` returns. I have to restart the docker daemon for the node to be `Ready` again. I'm not sure if i can tell if I have pods that are stuck or not, because I seemingly cant l

[2018-07-31 16:50] AlexDiamanti opened #66829 "PersistentVolumeLabel admission plugin is enabled by default but prints deprecation warning message"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Wrong proxy-client-cert-file file causes apiserver to restart due to loading by default deprecated module PersistentVolumeLabel.

--enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota,Priority,

[2018-07-31 17:04] Huang-Wei opened #66831 "[1.12] potential impact on kubeadm after enabled `ScheduleDaemonSetPods`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Once upgraded to 1.12, Daemonset pod scheduling will be taken over by default scheduler instead of Daemonset controller. This changes behavior of daemonset a little bit - from "daemonet controller respects taint" to "default scheduler doesn't respect taint" - check more details on #66348.

In kubeadm's perspective, h

[2018-07-31 17:05] Huang-Wei commented on #66831
/sig kubeadm

[2018-07-31 17:07] Huang-Wei commented on #66831
/sig cluster-lifecycle

[2018-07-31 17:24] dmick commented on #52218
/remove_lifecycle rotten

[2018-07-31 18:00] mbohlool opened #66833 "[failing test] [sig-instrumentation] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster."
This test is failing for 1.9 branch and blocking the 1.9.10 release.

dashboard link: https://k8s-testgrid.appspot.com/sig-release-1.9-blocking#soak-gci-gce-1.9

Example failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-stable2/560

log:
[code]

/sig instrumentation

[2018-07-31 18:01] coffeepac commented on #66833
/assign @coffeepac

[2018-07-31 18:03] dmick commented on #52218
/remove-lifecycle rotten

[2018-07-31 18:17] AlexDiamanti commented on #66829
@kubernetes/sig-release-bugs

[2018-07-31 18:32] neolit123 commented on #66774
@mohammedzee1000 FYI this turned green.

thanks to @MaciekPytel

[2018-07-31 18:44] pohly commented on #66649
@timothysc I have created this Google doc: https://docs.google.com/document/d/1lPG264ZlwPbIuFeP9P0-c0vXdmCC7wzwaapf53BbXBA/edit#

Let's move the discussion there.

[2018-07-31 19:48] spiffxp commented on #62906
/close
I'm closing this under the auspices that under the effort to improve coverage of tests for conformance, we shouldn't be writing tests for alpha endpoints

[2018-07-31 19:48] #62906 closed

[2018-07-31 19:53] spiffxp commented on #63622
I'd like to know where we are on this, because the 1.7 thing has come up in the context of multi-arch image builds

[2018-07-31 19:54] spiffxp commented on #63622
https://github.com/kubernetes/kubernetes/pull/66686
and
https://github.com/kubernetes/kubernetes/pull/66741

[2018-07-31 19:56] pohly commented on #66649
Updated prototype, with cloud provider specific code in separate packages: https://github.com/pohly/kubernetes/commits/e2e-refactor-2018-07-31

It builds and runs tests in a local cluster, but needs further testing and I have some more ideas that I want to try out.

[2018-07-31 20:06] DirectXMan12 commented on #66833
cc @loburm, who seemed to have an interest in the state of this test.

[2018-07-31 20:18] dims commented on #66825
cc @andrewsykim @hogepodge @cheftako @jagosan

[2018-07-31 20:34] vladimirvivien commented on #66323
@guineveresaenger still discussing how best to approach this.  It would be a 1.12.

[2018-07-31 21:03] yadaraviteja opened #66838 "Kubernetes kompose up"
**What happened**: I am using the AWS EKS for the Kubernetes my cluster and worker nodes are running perfect. I want to deploy the one website into EKS. I has "docker-compose-file" and I am trying to convert the compose-file into "Kompose-file" for deployment.
**What you expected to happen**:
By using the command "kompose convert" docker-compose-file is converted into Kompose-file.
for deploying I

[2018-07-31 22:12] ixdy commented on #66300
/assign @tpepper
(to find someone appropriate in sig-release to own this)

[2018-07-31 22:24] kow3ns commented on #66811
/project workloads

[2018-07-31 22:29] MHBauer commented on #57992
On v1.11 I see plenty of `CLOSE_WAIT` and `ESTABLISHED` connections that hang around after many minutes.

[2018-07-31 22:37] andrewsykim commented on #66825
This is really valuable feedback, thank you @NeilW! On the documentation front, we are working to standardize this across the board so we'll definitely take this into consideration!

[2018-07-31 22:40] khenidak commented on #63228
Is this still a valid issue even with this?
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/auth/azure_auth.go#L59

[2018-07-31 22:52] fedebongio commented on #63622
Hi Aaron and Aish, sorry for the delay. The process to compile, create and upload the sample API Server was not properly documented / maintained, and that plus more burning things is what made it take so long. We are trying to finally have it back (and documented by end of this week). Will keep you posted.

[2018-07-31 22:58] andrewsykim commented on #66825
To answer some of the questions here:

I agree versioning semantics is a bit conversion. We should document how to do versioning correctly. For the time being though, the CCM actually follows the same semantics as upstream but you're required to manage release versions, etc yourself. If you tag/version your releases the `--version` flag should work as expected (see [here](https://github.com/kubern

[2018-07-31 22:59] dims commented on #66838
Please file this issue in https://github.com/kubernetes/kompose

/close

[2018-07-31 22:59] #66838 closed

[2018-07-31 23:00] dims commented on #66820
/sig network

[2018-07-31 23:00] dims commented on #66809
/sig storage

[2018-07-31 23:01] dims commented on #66755
/sig network

[2018-07-31 23:01] dims commented on #66752
/sig auth

[2018-07-31 23:02] dims commented on #66751
/sig node

[2018-07-31 23:03] dims commented on #66735
/sig api-machinery

Is that the right sig @liggitt ?

[2018-07-31 23:03] dims commented on #66703
/sig apps
/sig api-machinery

[2018-07-31 23:03] dims commented on #66650
/sig testing

[2018-07-31 23:03] hogepodge commented on #66825
Yes, this is going to be useful.

@dims do you have production experience that has worked around some of the issues mentioned?

[2018-07-31 23:04] dims commented on #66591
/sig storage

[2018-07-31 23:04] dims commented on #66542
/sig aws

[2018-07-31 23:05] dims commented on #66474
/sig api-machinery

[2018-07-31 23:05] dims commented on #66375
/sig storage

[2018-07-31 23:05] dims commented on #66361
/sig gcp

[2018-07-31 23:06] dims commented on #66344
/sig node

[2018-07-31 23:07] dims commented on #66297
/sig apps

[2018-07-31 23:07] dims commented on #66176
/sig networking

[2018-07-31 23:07] dims commented on #66163
/sig networking

[2018-07-31 23:07] dims commented on #66151
/sig storage

[2018-07-31 23:09] dims commented on #66128
/sig network

[2018-07-31 23:09] dims commented on #66119
/sig storage

[2018-07-31 23:10] dims commented on #66050
/close

@dlbarduzzi please reopen if needed

[2018-07-31 23:10] #66050 closed

[2018-07-31 23:10] dims commented on #66021
/sig storage

[2018-07-31 23:10] tylfin commented on #64924
Running into the same issue, been doing the dnsConfig as an override for applications that experience this. Would love a longterm solution.

Running Kubes 1.11 with CoreDNS on bare-metal

[2018-07-31 23:11] dims commented on #65734
/close

looks like a docker problem on centos, please ask your OS vendor

[2018-07-31 23:11] #65734 closed

[2018-07-31 23:11] dims commented on #65795
/sig storage

[2018-07-31 23:12] dims commented on #65847
/sig vmware

[2018-07-31 23:12] dims commented on #65853
/sig network

[2018-07-31 23:13] dims commented on #65855
/close

please reopen with requested info

[2018-07-31 23:13] #65855 closed

[2018-07-31 23:13] dims commented on #65928
/sig testing

[2018-07-31 23:13] dims commented on #65942
/sig storage

[2018-07-31 23:14] dims commented on #66013
/sig cli

[2018-07-31 23:15] dims commented on #65728
/sig api-machinery

[2018-07-31 23:15] dims commented on #65544
/close

[2018-07-31 23:15] #65544 closed

[2018-07-31 23:15] dims commented on #65466
/sig gcp

[2018-07-31 23:16] dims commented on #65430
/sig apps

[2018-07-31 23:16] dims commented on #65311
/sig gcp

[2018-07-31 23:17] dims commented on #65278
Can you please try https://github.com/kubernetes/minikube folks first?

/close

[2018-07-31 23:17] #65278 closed

[2018-07-31 23:17] thockin commented on #64193
same request: Try running kube-proxy with --v=4 and it will dump the full command it is executing

[2018-07-31 23:51] jimangel commented on #61961
@liggitt how are you testing this? I saw the same issues with vSphere VMs (kubeadm). I believe the issue was with names containing underscores. I will test and verify once I hear back how you are testing.

[2018-08-01 00:08] saad-ali commented on #66323
Approved for 1.12

[2018-08-01 00:58] msau42 commented on #65285
Fixed by #66172

[2018-08-01 00:58] #65285 closed

[2018-08-01 01:32] warmchang commented on #56227
/remove-lifecycle stale

[2018-08-01 02:15] carlosonunez opened #66844 "error message on storage transform failure does not indicate actual cause of the problem"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I often get `Invalid padding on input` whenever I try to start Pods or delete secrets. This doesn't happen all of the time, however.

They look something like this:

[code]

**What you expected to happen**:

I expected containers for the Pod to initialize successfully.

**How to reproduce it (as minimally and precisely a

[2018-08-01 02:18] #56163 closed

[2018-08-01 02:25] feiskyer commented on #63228
v1.11.x and master have switched to instance metadata, while older releases won't get patches.

The remaining issue is any containers would be able to get Azure identity via metadata. @khenidak @jackfrancis Any ideas to solve this?

[2018-08-01 02:33] du2016 commented on #66821
@WanLinghao this error is can't find the default token,i don't think it's some thing wrong about pod config file,because default token is auto mounted by kubelet,not config by myself

[2018-08-01 02:45] jicki opened #66845 ""kubectl delete" execution time is very long"
## kubernetes version 1.11.0

[code]

## delete deployment

[code]

[2018-08-01 02:47] machship-mm commented on #44272
+1

[2018-08-01 02:49] khenidak commented on #63228
That has always been the case. Pod identity project or network security policies may help. In all cases. Let us close this issue and discuss the other one separately.

Thanks

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Pengfei Ni <notifications@github.com>
Sent: Tuesday, July 31, 2018 19:26
To: kubernetes/kubernetes
Cc: Khaled Henidak (Kal); Mention
Subject:

[2018-08-01 02:57] chestack commented on #54505
@aledbf ，thanks for your reply.

I did not config "proxy-next-upstream:" in nginx-custom-configuration configmap. So nginx **will not** retry POST  request, right? And there is only one replica of the upstream server.

Following is snippet of nginx.conf in my env:

[code]

[2018-08-01 03:01] feiskyer commented on #63228
OK, let me close the issue then.

/close

[2018-08-01 03:01] #63228 closed

[2018-08-01 03:01] WanLinghao commented on #66845
try --now option

[2018-08-01 03:07] aledbf commented on #54505
No unless you enable [retry-non-idempotent](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#retry-non-idempotent)+

If you have only one server not sure it makes sense to retry.
Please keep in mind the default `proxy-next-upstream` value is the default `error` http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_next_upstream

[2018-08-01 03:15] k82cn commented on #64185
/close

[2018-08-01 03:15] #64185 closed

[2018-08-01 03:40] gyliu513 commented on #66696
/sig scalability
/sig storage

@shigy123456 I think the Kubernetes community also do not have such experience in running 140+ pods on one node and each pod has a volume attached.

Can you please append more detail when the issue happened, such as:
1) Kubernetes controller manager log
2) Kubelet log for the node which has pod issue
3) Some command output like `kubectl describe pods` etc.

This woul

[2018-08-01 03:50] cofyc commented on #64549
/assign

I have same issue with kubernetes `1.9.7`.

I think the root cause is that attachdetach controller attach volume to node is very slow sometimes. Here is my case:

kubelet.log:

[code]

controller.log

[code]

kubelet begins to verify and attach volume at 10:43:12, but controller starts to attach volume at 10:45:45 (02:45:45 + 08 TZ offset).

After controller attached volume successfully,

[2018-08-01 04:03] jicki commented on #66845
update to 1.11.1

[code]

close it

[2018-08-01 04:03] #66845 closed

[2018-08-01 05:55] redbaron commented on #64549
It still happens on 1.10.5 with exactly same random delays

[2018-08-01 06:00] redbaron commented on #55238
/remove-lifecycle stale

[2018-08-01 06:13] dev-marc commented on #66435
I have the same issue. Yesterday I found out a daily cron job stopped since the 26th of july. Trying to access the AKS from the Azure CLI gives me this error.

[2018-08-01 06:38] scriptonist commented on #66435
Yeah right. I just nuke the `~/.kube` directory to make things right for me.

[2018-08-01 06:47] cpwujoewu opened #66848 "HPA not work correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I configure a hpa from 1 pod to 10 pods, using CPU utilization 40%
It works fine when I increase loading by using jmeter,  but when I stop loading test, the pods only scales down from 10 to 3. I have checked the CPU utilization is 0%

**What you expected to happen**:
the pods should scale down from 10 to 1

**How to repro

[2018-08-01 06:54] cpwujoewu commented on #66848
/sig scalability

[2018-08-01 06:56] cofyc commented on #64549
@kubernetes/sig-storage-bugs

[2018-08-01 07:12] stewart-yu opened #66849 "etcd verion comparsion are not correct"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/assign

**What happened**:
Seems unreasonable in two part:
1、 if have one `etcd` in Env, and the `version` higher than the `minimum version` also ok, but code
[code]
in https://github.com/kubernetes/kubernetes/blob/master/hack/lib/etcd.sh#L108 seems confused.

2、Consider that situation:

- First install `etcd` like this in local:
- Secondary

[2018-08-01 07:25] jyothish-git commented on #66810
Hi Team,

I think I found the reason. The comma (,) at the end of --etcd-servers=10.0.0.10:2379, in the api server config file causing this behavior.
 - --etcd-servers=http://10.0.0.10:2379,

As far I understand, the comma was adding a new etcd server record with localhost and default port 2379. And it was trying to check the health on http://:::2379. After removing the comma, "kubectl get cs" sho

[2018-08-01 08:06] linyouchong commented on #66809
If you run the test with root user, It will fail.
I have make a fix: https://github.com/kubernetes/kubernetes/pull/66850

[2018-08-01 08:11] SergiyIvanovAtGTI commented on #52423
I wonder why bug is closed? At which version it was fixed? It reproduces for me today

[2018-08-01 08:25] Vickey-Wu commented on #50619
forgot to close it, cut RELEASENAME no more than 15 characters is work for me

[2018-08-01 08:25] ming19871211 opened #66852 "pod之间访问是正常，所有Pod也是正常，容器与自己主机ping也是正常，但是容器不能访问外网"
![image](https://user-images.githubusercontent.com/18570747/43510129-3a23959a-95a7-11e8-8a03-2dde9828fe23.png)

[2018-08-01 08:27] ming19871211 commented on #66852
创建集群的方式是：kubeadm init --kubernetes-version=v1.10.3 --pod-network-cidr=10.224.0.0/16  --feature-gates CoreDNS=true

[2018-08-01 08:30] k82cn opened #66853 "Also set priority class name when there's Default PriorityClass"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup
/sig scheduling

**Description**:

If Pod did not set `.spec.PriorityClassName`, `Priority` admission controller will set `.spec.Priority` to "default value". If the default value are from default priority class, it's better to also set `.spec.PriorityClassName` of pod.

[2018-08-01 09:13] essamhassan commented on #66853
@k82cn if no one is working on this issue I'll gladly work on it

[2018-08-01 09:33] #60541 closed

[2018-08-01 09:43] sudeeshjohn commented on #66809
thanks for the patch .. its working.

[2018-08-01 09:45] xjantoth commented on #65991
I am trying to do the same:
1) In Kuberentes *v1.11.0* `rotateCertificates: true` comes out of the box:
[code]

2) Set *--feature-gates*
`vim vim /etc/sysconfig/kubelet`
[code]

3) but I how to set this flag `--experimental-cluster-signing-duration` when **kubeadm** starts?
We want to make sure that out K8s cluster will be up after one year.

Could you guys suggest what is the right aproache ?
tha

[2018-08-01 09:47] rkttu-devsisters commented on #65163
@PatrickLang @daschott I tried changing the CNI plugin to Flannel (comes from Microsoft SDN repo) and enabled L2Bridge, but the problem is the same. I guess CNI plugin is not the cause of the problem. It seems to be the question of when to call the CNI plugin, or when HNS will randomly remove the container's vNIC.

[2018-08-01 09:54] cofyc commented on #64549
I found that attachdetach controller calls `util.ProcessPodVolume` to add pod volumes into desiredStateOfWorld in these places:

- podAdd event
- podUpdate event
- podDelete event
- desiredStateOfWorldPopulator.findAndAddActivePod

But a pod is created with PVCs not bound, no volumes will be added into desiredStateOfWorld because PVCs not bound. When pv controller binds PVCs successfully, attachde

[2018-08-01 10:15] jpiper commented on #66568
I am also having this issue since upgrading from 1.10 to 1.11.

When I have `hostNetwork:true` then specifying `containerPort` prevents the pod from being scheduled.

[2018-08-01 10:25] jpiper commented on #66568
I think this commit broke it:

https://github.com/kubernetes/kubernetes/commit/68c2c79362a506939b6513108b9b8d689cf94b0f#diff-5e800826dd0c3c6ec24dc167d287aea2

[2018-08-01 10:28] jpiper commented on #66568
@anfernee are you able to take a look?

[2018-08-01 10:31] jpiper commented on #66568
Yep, I can see via `lsof` that the port isn't in use in my case either

[2018-08-01 10:31] #58212 closed

[2018-08-01 11:29] Grigsuv opened #66858 "Can't make request to service"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug
/kind bug

**What happened**:
Pod can't make request to service dns/ip
**What you expected to happen**:
Make request from pod of default namespace to service of same namespace / created namespace

**Anything else we need to know?**:
Pod cna't make request to service,it can make request to services pod but it's not what I need.
canfigs `
![image](ht

[2018-08-01 11:36] mohammedzee1000 commented on #66544
/priority critical-urgent
/remove-priority important-soon

[2018-08-01 11:48] mgdevstack opened #66859 "Unable to run "PersistentVolumes-local" e2e tests due to SecurityContext and /rootfs permission denial"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
"PersistentVolumes-local" E2E tests are getting failed to execute on the local cluster (local-up-cluster.sh) due to [securityContext.privileged mode](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/persistent_volumes-local.go#L950).

[code]

If we disable to Pod's privileged mode by [setting value fal

[2018-08-01 11:50] mgdevstack commented on #66859
/help-wanted

[2018-08-01 11:58] mgdevstack commented on #66859
Every [PersistentVolumes-local](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/persistent_volumes-local.go#L171) e2e tests are failing due to SecurityContext.

[code]

[2018-08-01 12:04] mohammedzee1000 commented on #66774
Ack  thanks for the great work there
closing, will reopen on regression
/close

[2018-08-01 12:04] #66774 closed

[2018-08-01 12:17] mgdevstack commented on #66859
cc @spiffxp

[2018-08-01 12:27] neolit123 commented on #66544
the tests broke after this change:
https://github.com/kubernetes/kubernetes/pull/65641
the change is  authored by @freehan and approved by @bowei

@kubernetes/ingress-gce-maintainers
/sig gcp

[2018-08-01 12:27] chrissound opened #66861 "Kubernetes audit log not generated"
**/var/log/kubernetes/audit remains empty even with new pods / deployments generated.**

I've setup my own cluster in two vms using kubeadm with the following config:

[code]

`/var/log/kubernetes/audit` exists and has 777 permissions.

[code]

[2018-08-01 12:32] yue9944882 commented on #58512
@kubernetes/sig-node-feature-requests

[2018-08-01 12:33] yue9944882 commented on #58512
/remove-lifecycle rotten

[2018-08-01 12:45] pawelprazak commented on #57049
manually deleting the blocking pods from already cordoned off nodes helps

[2018-08-01 13:11] magnushiie commented on #28924
/remove-lifecycle rotten

[2018-08-01 13:48] chrissound commented on #66861
/sig

[2018-08-01 13:48] #66861 closed

[2018-08-01 14:03] neolit123 commented on #66544
the compared error strings here are identical:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster-parallel/3496

except the expected error strings has escaped double quotes `\"`.
this might be the problem...investigating further.

[2018-08-01 14:27] adys commented on #50400
Correct, the documentation isn't great. I found the [PR](https://github.com/kubernetes/kubernetes/pull/22064) that [introduces](https://github.com/kubernetes/kubernetes/pull/22064/files#diff-07ba008af9c76b0539556ff7fde3105eR62) **kubernetes.io/role/internal-elb tag**.

[2018-08-01 14:31] inderjitm commented on #37922
This is the original config from https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

cat <<EOF > /etc/yum.repos.d/kubernetes.repo
[kubernetes]
name=Kubernetes
baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cl

[2018-08-01 14:52] inter169 commented on #56903
This bug described a few different types of slow DNS query,
in my use case the slow DNS requests occurred in alpine:3.7/3.8, due to the timed out for additional AAAA query along with A query by default.
currently no need to query AAAA records by default, so the solution is removing AAAA resolution from the implements (musl/src/network/lookup_name.c, function 'name_from_dns'), and the code fix work

[2018-08-01 15:06] DirectXMan12 commented on #66790
considering that now basically has a dependent change that has to go through first, I think that's ok

[2018-08-01 15:14] tpepper commented on #66544
/assign @freehan

[2018-08-01 15:28] #66626 closed

[2018-08-01 15:32] arikunbotify opened #66867 "."
.

[2018-08-01 15:40] sjenning commented on #53615
I think this is done right?
https://github.com/kubernetes/kubernetes/issues/56523
https://github.com/kubernetes/kubernetes/pull/59827
https://github.com/kubernetes/kubernetes/pull/63881
https://github.com/kubernetes/kubernetes/pull/65707

[2018-08-01 15:52] chakri-nelluri opened #66868 "Kubelet cannot unmount unreachable network volumes using XFS"
/kind bug

**What happened**:
Kubelet failed to unmount volumes if the backend ISCSI volume is not available. This also applies to other network attached volumes.

**What you expected to happen**:
Kubelet should be able to unmount the volumes. A manual unmount works even when the backend network volume is not available.
**How to reproduce it (as minimally and precisely as possible)**:
Mount an ISC

[2018-08-01 15:53] chakri-nelluri commented on #66868
/sig storage

[2018-08-01 15:54] brancz commented on #53615
Yes it is.

[2018-08-01 16:06] chakri-nelluri commented on #66868
@saad-ali @msau42 IsLikelyNotMountPoint is using stat call to figure the filesystem is mounted or not. Stat calls are failing with EIO when there are I/O errors on the backend and Kubelet never proceeds to unmount the filesystem.

 Also, isLikelyNotMountPoint is not looking for "isCorruptedMnt" errors. All other calls have it.

[2018-08-01 16:10] arikunbotify commented on #66867
@kubernetes/sig-node
/sig node

[2018-08-01 16:36] spiffxp commented on #66859
/sig storage
as owners of the test
/sig architecture
as arbiters of conformance

looking to answer whether these tests can or should be rewritten to avoid security contexts to meet the requirements for being promoted to conformance

[2018-08-01 16:38] tristanburgess commented on #50342
Hello, I'd like to take a look into this as my first contribution.

[2018-08-01 16:47] spiffxp commented on #65427
@mgdevstack based on discussion offline, it sounds like we don't want to bother promoting to conformance because `deleteOptions.OrphanDependents` is deprecated, let's document this next to the test to close this out, so we don't lose track and try promoting this in the future

[2018-08-01 17:04] spiffxp commented on #65428
/close
I'm closing this under the auspices that under the effort to improve coverage of tests for conformance, we shouldn't be writing or promoting tests for beta features (cronjob doesn't appear to be going stable anytime soon, ref: https://github.com/kubernetes/features/issues/19)

[2018-08-01 17:04] #65428 closed

[2018-08-01 17:06] spiffxp commented on #66124
@mgdevstack Go ahead and open a PR to ask this question.  Yes == PR is merged, no == PR is closed (or amended to doc the reason these tests can't be promoted)

[2018-08-01 17:17] spiffxp commented on #65173
/close
I'm closing this under the auspices that under the effort to improve coverage of tests for conformance, we shouldn't be writing or promoting tests for beta features (PodDisruptionBudget doesn't appear to be going stable anytime soon, ref: https://github.com/kubernetes/features/issues/85)

[2018-08-01 17:17] #65173 closed

[2018-08-01 18:16] tallclair commented on #53615
Duplicate of https://github.com/kubernetes/kubernetes/issues/56523

[2018-08-01 18:16] #53615 closed

[2018-08-01 18:58] cliffbdf commented on #66826
There also seems to be an issue with the "Install CNI plugins" section. I get errors when running the curl command: e.g., I get,
tar: ./ptp: Cannot open: File exists

If I run as root, I get,
gzip: stdin: not in gzip format

[2018-08-01 19:24] Grigsuv commented on #66858
Solution was add container port as  in app to deployment

[2018-08-01 19:24] #66858 closed

[2018-08-01 19:24] raghu0220 commented on #61224
Having same issue, Installed kubernetes, kubeadm version 1.9.3.
On master kubeadm init ran successfully and created pods.
[root@kubmst2-2 centos]# kubectl get nodes
NAME                               STATUS    ROLES     AGE       VERSION
kubmst2-2			   Ready     master    4h        v1.9.3

[root@kubmst2-2-centos]# kubectl get pods --all-namespaces
NAMESPACE     NAME

[2018-08-01 20:25] neolit123 commented on #66544
/assign @rramkumar1
(the test author)

i did some more investigation and added some notes in the comment above.
sadly, i cannot help further as this is in GCP land.

[2018-08-01 20:31] neolit123 commented on #66338
`kubeadm-gce` turned green. :+1:
waiting on a few runs for `kubeadm-gce-selfhosting`.
seems to have one good run + flake today.

[2018-08-01 20:45] cheftako commented on #50342
/assign @tristanburgess

[2018-08-01 21:06] vladimirvivien commented on #66323
@msau42 @gnufied
Based on previous post, this is a summary:
- If  `fsType == ""`
  - then `fsGroup` is not applied (because it could be an indication of a nonblock fs, or error)
  - Done
- `fsType` is provided
  - if fstype is invalid
    - Done
  - if fstype is valid and `pv.AccessMode == RWO` then apply fstype logic
  - else
    - ignore fsGroup
    - Done

[2018-08-01 21:26] vladimirvivien commented on #65773
Is this feature targeting Beta anytime soon ? If not, what is missing ?

[2018-08-01 21:41] devinmcginty opened #66874 "no matches for kind "KubeSchedulerConfiguration" in version "componentconfig/v1alpha1""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am trying to disable preemption with pod priority enabled on a 1.11.0 cluster. I was following [these instructions](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#how-to-disable-preemption) from the official documentation, which says that this can be accomplished by turning off preemption via

[2018-08-01 21:58] spiffxp opened #66875 "There are NodeConformance tests that may be eligible for promotion to Conformance"
/kind cleanup
/area conformance
/area test
/sig node
/sig testing
/sig architecture

/assign @mgdevstack
/assign @mkurylec

We have a number of tests that only have the `[NodeConformance]` tag that may make sense as `[Conformance]` tests, we should identify whether these tests cases meet (or could meet) the [requirements to be promoted to conformance](https://github.com/kubernetes/community/blob/m

[2018-08-01 21:59] devinmcginty commented on #66874
@kubernetes/sig-scheduling-bugs
I apologize if this is the wrong group to tag. I wasn't sure if `scheduling` or `api-machinery` was more appropriate.

[2018-08-01 22:00] spiffxp commented on #66875
/assign

[2018-08-01 22:05] MHBauer commented on #57992
I added some logging to (among many other places)
https://github.com/kubernetes/kubernetes/blob/v1.11.1/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go#L297-L329
After closing a port-forward from kubectl, I see *immediately* the reader close on the apiserver, and the writer close on the kubelet.
I do not see the other side of the connections close. Maybe 1 on each side when the pod

[2018-08-01 22:49] MHBauer commented on #57992
kubelet stacktrace, the important parts
[code]

[2018-08-01 22:52] MHBauer commented on #57992
/sig api-machinery

[2018-08-01 23:04] MHBauer commented on #57992
apiserver stacktrace, the important parts
[code]

[2018-08-01 23:09] MHBauer commented on #57992
Lastly, if you restart on one side, the other side does clean up. At least if it's the kubelet.

I restarted the kubelet, and apiserver shows
[code]
Which is the ~600 waiting goroutines.

[2018-08-01 23:56] krmayankk commented on #20177
/remove-lifecycle rotten

[2018-08-01 23:58] krmayankk commented on #20177
/sig-scheduling we should reopen this and find a solution for this . There are cases where a node’s capacity can be dynamically extended and here are when it cannot be . We need solution for
Both ..

[2018-08-01 23:59] krmayankk commented on #20177
/sig-scheduling

[2018-08-02 00:49] msau42 commented on #66868
looks like the nfs plugin is calling `util.UnmountMountPoint()`. Can iscsi use that?

[2018-08-02 00:59] k82cn commented on #66568
@Huang-Wei , please help to check this one; I can help on reviewing :)

[2018-08-02 01:14] msau42 commented on #64549
Great find! cc @jingxu97

[2018-08-02 01:14] Huang-Wei commented on #66568
sure

/assign

[2018-08-02 01:33] saad-ali commented on #64549
Good debuging @cofyc

[2018-08-02 01:40] svitlanacs commented on #60164
+ 1 on experiencing problem so that the thread does not get stale.

Another alternative "solution" is to transfer over to Deployment + PV instead of StatefulSet.

[2018-08-02 01:53] resouer commented on #66874
Is `kube-scheduler --write-config-to=temp.conf` works in your cluster? What's the api version inside the `temp.conf`?

[2018-08-02 02:26] bjhaid commented on #64137
I can reproduce this outside k8s:

[code]

I believe this is because kubelet calls [`systemd-run`](https://github.com/kubernetes/kubernetes/blob/24ab69d358faeb3452bb76813fddd62afeefacb6/pkg/util/mount/nsenter_mount.go#L96-L110) when it mounts volumes, so this is likely a systemd-run bug

[2018-08-02 02:38] mortent commented on #64873
@bartebor This looks like you might be running etcd without quorum read? Before version 1.9 you have to start the api server(s) with the `--etcd-quorum-read` flag set to true if you are running an HA configuration. In the latest version of kubernetes using etcd v3, the default is quorum read.
If you are sure you are running with quorum read, let me know and I'll try to repro.

[2018-08-02 02:50] #27578 closed

[2018-08-02 02:50] #51623 closed

[2018-08-02 02:51] bjhaid commented on #64137
Can confirm does not exist on 232 systemd (stretch), so it probably go fixed somewhere in-between, but I can't find it in the release notes and I can confirm we don't have `systemd.unified_cgroup_hierarchy=1` configured as a boot param for either the older linux with systemd 217 or the newer one with 232 systemd

[2018-08-02 03:11] zidanetang opened #66885 "Some puzzlement about AWS ELB"
If pod number less than node numbers, for example, there are two nodes

in my cluster, but i just only run one pod, two nodes all will register into ELB, so one

instance is inservice, but other one without pods is out of service.

Is that expected? if it was expected, why not just register the instance which with pods.
Can desecribe detail about healthcheck Nodeport, waht it usedful and how it wo

[2018-08-02 03:12] akbaribnu commented on #65221
i have the same issue with ubuntu 16.04

kubectl version --short
Client Version: v1.11.0
Server Version: v1.11.0

[2018-08-02 03:15] neolit123 commented on #66885
/sig aws

[2018-08-02 03:25] osoriano commented on #58662
This issue has been fixed in master. See https://github.com/kubernetes/kubernetes/pull/63742

[2018-08-02 03:34] linyouchong commented on #66868
@chakri-nelluri @msau42
isCorruptedMnt didn't include error "Input/output error" (syscall.EIO)
We should add it.
I make fix, PTAL, Thank you!

[2018-08-02 03:39] feiskyer opened #66887 "Add support of mixed procotols LoadBalacer service for Azure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig azure

**What happened**:

Mixed protocols LoadBalacer services are not supported by apiserver. It will decline those services with error "cannot create an external load balancer with non-TCP/UDP ports":

https://github.com/kubernetes/kubernetes/blob/c16fa77d7935a0515ce32a3f9b3e3ca866d7e5a3/pkg/apis/core/validation/validation.go#L37

[2018-08-02 04:51] yue9944882 commented on #66852
😃Magic portal: [https://translate.google.com/m/translate](https://translate.google.com/m/translate)

[2018-08-02 06:05] Lynzabo opened #66889 "some pods' phase is Evicted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig testing

**What happened**:

I don't know why there are many pod phases in the cluster that are Evicted.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

We have 7 sets of k8s cluster environment on the line, 5 of which use k8s v1.8.8 version, 2 sets use k8s v1.9.2 version,

[2018-08-02 06:13] krmayankk commented on #20177
/sig scheduling

[2018-08-02 06:18] krmayankk commented on #20177
/assign @kubernetes/sig-scheduling-feature-requests what do you think about making ip address a first class resource which can be requested at the pod level and accounted for in scheduling. I know this can be achieved using extended resources, but ip address seems like a more fundamental core resource than an extension. For networks, where the ip address allocation is static, this makes more sense

[2018-08-02 06:44] yastij commented on #46840
@yujuhong - should we close this ?

[2018-08-02 06:55] minhdanh commented on #60987
Having the same issue with Kubernetes 1.10.2, Docker 18.06.0-ce

[2018-08-02 07:08] Lynzabo opened #66892 "The pod is always in Terminating state,part of the child process inside the container becomes zombie processes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We have a pod that is always in the `Terminating` state.

[code]

After the pod runs, the normal pod inside the process tree looks like this:

[code]

But the pods that run with this image often show that the nginx worker process becomes a zombie process, as shown below.

[code]
Other processes have been killed, and only all worker

[2018-08-02 07:46] interma commented on #66848
@cpwujoewu

From the last rescaling, scale-down/up will wait for more minutes, so I think you should wait more time. e.g. 5min
Maybe your issue hits this condition.

Refer:

From autoscaling-algorithm section of HPA doc:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/autoscaling/horizontal-pod-autoscaler.md#autoscaling-algorithm

[2018-08-02 08:03] pohly commented on #66279
I ran into the same issue. A prior `go run hack/e2e.go -- --up` command had succeeded, so I wasn't expecting credential issues when trying to use the cluster.

What fixed the problem for me is `gcloud auth application-default login`
 (from https://stackoverflow.com/questions/41507904/could-not-find-default-credentials). Not sure whether this should be handled by Kubernetes automatically. If not, i

[2018-08-02 08:18] ipuustin commented on #66614
I think the same problem is also reported to runc: https://github.com/opencontainers/runc/issues/1635. According to the comments in the associated PR, it appears that the correct fix would be to indeed apply the cpuset changes in order.

[2018-08-02 08:19] codependent opened #66896 "etcd-server-events pod crashes on K8s 1.7x cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have a cluster (v1.7.16) deployed on AWS. At some point some months ago, don't know why, the etdc server event pod started crashing:
`etcd-server-events-ip-xxx       0/1       CrashLoopBackOff   429        21h`

Although the apps keep working, things like the kubernetes-dashboard don't, and we obviously don't fully trust the clust

[2018-08-02 08:25] bboreham commented on #62628
@xiaoxubeii why is this issue closed?  @brb has fixed one of the kernel races but other causes remain.

[2018-08-02 08:34] liqlin2015 commented on #65005
Got the same issue with kubernetes 1.11.1.

[code]

Also see issue https://github.com/kubernetes/kubernetes/issues/59826. In my case, resource quota controller should ignore error when try to discover quotalable resources.

[2018-08-02 08:51] aisk commented on #62772
@yue9944882 Sorry for the late reply, but in this case, we were not updating the job after any time point. Another information is as the total job count growth, this problem happens more times than before.

[2018-08-02 09:17] spacebel commented on #7890
For feedback, I have tried approach 3 (daemonset). If it helps:

- Project example (with kubernetes daemonset): https://github.com/spacebel/gcsfuse-slim
- Image of a slim gcsfuse: https://hub.docker.com/r/cnlspacebel/gcsfuse-slim/

Unfortunately, it does not work with Google Cloud (at least with the COS machines), even when manually modifying the docker.service to set the MountFlags to shared (and

[2018-08-02 09:34] enzian commented on #65766
hey, I have the same problem but `kubectl patch pod mypod-0 -p '{"metadata":{"finalizers":null}}'` throws me an error:
[code]
My cluster is at `v1.8.10`! Could it be that patching finalizers is only allowed in newer cluster versions?

[2018-08-02 09:37] DylanBLE opened #66900 "no kind "PriorityClass" is registered for version "scheduling.k8s.io/v1beta1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]
**apiserver args**
[code]
**part of apiserver logs**
[code]
[code]
**curl http://172.26.0.5:8080/apis/scheduling.k8s.io/v1alpha1**
[code]
**curl http://172.26.0.5:8080/apis/scheduling.k8s.io/v1alpha1/priorityclasses**
[code]
**Restart etcd or apiserver wouldn't help.**

**What you expected to happen**:

**How to re

[2018-08-02 09:38] DylanBLE commented on #66900
/sig api-machinery

[2018-08-02 09:57] #57955 closed

[2018-08-02 09:57] #39892 closed

[2018-08-02 10:58] #60405 closed

[2018-08-02 11:17] vsxen commented on #66896
use kubeadm? you can try `rm -rf /var/lib/etcd` to retey

[2018-08-02 11:21] VinayVanama opened #66904 "Unable to SSH to worker nodes when created using EKS"
I have followed the AWS EKS documentation and created a cluster and attached worker nodes to that. I have launched a guestbook application and I can scale the pods and everything works fine. But I'm unable to SSH to the worker node using my key file. My Cluster is in Public network as of now.

[2018-08-02 11:25] redbaron commented on #56149
/remove-lifecycle stale

[2018-08-02 11:26] vsxen commented on #66852
run `iptables -t nat -L`  and show output

[2018-08-02 11:29] codependent commented on #66896
We didn't use kubeadm but kops.
Is it safe to delete `/var/lib/etcd`??

[2018-08-02 12:04] arteniioleg commented on #65221
[code]

I downgraded `kubectl` to `v1.10.0` and `dump` works.

[2018-08-02 12:13] volume-ji opened #66909 "the meaning that flags of command 'kubectl run/create/apply' add '--force' and '--grace-period'"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
1. since kubernetes v1.11.1, kubectl command about 'kubectl run/apply/create' added two flags that is '--force' and '--grace-period', which are not exist in kubernetes v1.10.x.
2. I used ‘kubectl run busybox --image=busybox --grace-period=10 ’ to create a deployment busybox, the filed 'terminationGracePeriodSeconds' of cor

[2018-08-02 12:14] philicious commented on #25908
for what its worth, I would also like to express the need for ignoring sidecars still running like CloudSQL Proxy et.al.

[2018-08-02 12:14] bartebor commented on #64873
@mortent I think this is exactly what happened. We did not have `--etcd-quorum-read` set and problem disappeared after upgrading to 1.9. Now we have 1.10 with etcd2 and etcd3 backends and it works flawlessly. I think we can close this, thanks!

[2018-08-02 12:25] pires commented on #56617
I think your problem is CentOS. Versions prior to 7.5 are missing a fix to https://bugs.centos.org/view.php?id=15079.

[2018-08-02 12:25] pires commented on #56617
/remove-lifecycle rotten

[2018-08-02 13:30] mkumatag commented on #48376
/remove-lifecycle stale

[2018-08-02 13:39] novaterata commented on #24925
@vishh said:

@erictune said:

To me these statements are contradictory. Reading this thread has confused me more than before. If 100m increases with the number of cores per node then it is relative not absolute. I don't consider this issue closed until someone addresses the confusion in the documentation in addition to the definition.

[2018-08-02 13:40] novaterata commented on #24925
Can someone give me a straight answer: Is there a way to set a resource limit that scales with node size?

[2018-08-02 13:53] ming19871211 commented on #66852
![image](https://user-images.githubusercontent.com/18570747/43588194-8c57e6fc-969e-11e8-99ae-4203965b4645.png)

[2018-08-02 13:58] ming19871211 commented on #66852
![image](https://user-images.githubusercontent.com/18570747/43588301-c6d78fe4-969e-11e8-930b-1dd107272910.png)

[2018-08-02 14:00] ming19871211 commented on #66852
![image](https://user-images.githubusercontent.com/18570747/43588565-561bcb8e-969f-11e8-9a72-e6c3367991a5.png)
![image](https://user-images.githubusercontent.com/18570747/43588590-6467f55a-969f-11e8-82f6-30854a6cfb84.png)

[2018-08-02 14:01] #60782 closed

[2018-08-02 14:15] ipuustin commented on #66614
Could be that the problem is indeed that `kube-proxy` may run in a "resource container", which creates a subdirectory in cgroup hierarchy. See https://github.com/kubernetes/kubernetes/blob/master/pkg/util/resourcecontainer/resource_container_linux.go#L32-L45

The `AllowAllDevices` option there is probably the related to issue https://github.com/kubernetes/kubernetes/issues/54967.

Grepping also in

[2018-08-02 14:24] abstrctn commented on #57909
As a workaround, the `generic` secret type can be used with process substitution, although (naturally) you won't get the validation built into the `tls` secret type.

[code]

If you want to keep the `type` set to be tls, you can concatenate the templated output from above with a `type: kubernetes.io/tls` line:

[code]

[2018-08-02 14:45] 2stacks commented on #60807
Issue exists in v1.11.1.  I had a stuck rancher/helm deployment of dokuwiki. I first had to force delete the pods as suggested by @siXor and then followed @slassh advice.  All good now.

[2018-08-02 14:58] Gnouf commented on #33664
For Helm users :

helm upgrade      --recreate-pods            performs pods restart for the resource if applicable

[2018-08-02 14:59] mariantalla commented on #65183
We have started a version of this on [pivotal-k8s/testing_frameworks](https://github.com/pivotal-k8s/testing_frameworks).

- When the [`--ensure` flag is passed](https://github.com/pivotal-k8s/testing_frameworks/blob/95296479950d8ad77f009514a0f2aef96065c7cc/bin/boilerplate/boilerplate.py#L313-L316), the script will also prepend appropriate headers
- There is an [`ensure-boilerplate.sh` script](htt

[2018-08-02 15:19] liggitt commented on #66900
This api was in alpha in 1.9.x:
https://github.com/kubernetes/kubernetes/tree/release-1.9/staging/src/k8s.io/api/scheduling

/close

[2018-08-02 15:19] #66900 closed

[2018-08-02 15:26] redbaron commented on #53248
/lifecycle frozen

[2018-08-02 15:27] redbaron commented on #53248
/remove-lifecycle stale

[2018-08-02 15:33] valer-cara commented on #65766
@enzian I've been patching finalizers to an empty array instead of null and it worked for me.

[2018-08-02 15:39] redbaron commented on #30784
Does it need to be a server endpoint ? I'd be fine if `kubectl auth whoami` just extracted user information from credentials it is configured to use to send requests and then present it to stdout lets say in the same form as `RoleBinding.subjects` array elements.

[2018-08-02 15:41] rata commented on #57117
@blaggacao could you confirm?

[2018-08-02 16:02] neolit123 commented on #66338
@mohammedzee1000 @tpepper
we are green for both now and the fix worked. :tada:

please note that, kubeadm-gce-selfhosting is a flaky one in general.

[2018-08-02 16:17] yue9944882 commented on #30784
@redbaron i'm afraid so. because we don't know how the apiserver extracts user info from authn context. even though now all the information could be found from "CN" and "O" of x509 client cert field currently, it doesn't mean we will always follow this track. am i right?

xref #66033

[2018-08-02 16:26] ixdy commented on #66849
I'm not sure we we want to allow you to use a newer etcd than is officially supported by kubernetes. this seems likely to cause hard-to-track test failures.

[2018-08-02 16:27] agolomoodysaada commented on #28969
Redis and Zookeeper are two use-cases for us where this would remove a huge amount of work.
Is anybody working on this?

[2018-08-02 16:30] coffeepac commented on #66833
this should be resolved now.  @mbohlool can you confirm this issue is no longer blocking the release?

[2018-08-02 16:56] ixdy commented on #66849
well, the linked PR #66910 affects more than just `hack/local-cluster-up.sh`.

[2018-08-02 17:01] dashpole commented on #48843
/remove-lifecycle stale

[2018-08-02 17:03] #66809 closed

[2018-08-02 17:03] P1ng-W1n commented on #66614
Filtering kube-proxy out is more like a workaround in my opinion, as there's no guarantee that other deployments wouldn't want to use the "resource containers".

A more bullet-proof solution (in my opinion) would be to check whether the deployment used cgroup hierarchy is supported by Kubernetes' Container Runtime Interface and throw an exception if there's any issue.

Based on my understanding (c

[2018-08-02 17:10] php-coder commented on #61599
/remove-lifecycle stale

[2018-08-02 17:11] dims commented on #66849
guessing since local-cluster-up.sh ends up using `hack/install-etcd.sh`...

[2018-08-02 17:12] ravisantoshgudimetla commented on #66348
/cc @luxas @timothysc

[2018-08-02 17:20] knight42 opened #66922 "Feature request: let `kubectl top node` show label columns as `kubectl get`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Currently `kubectl top node` is unable to present labels as columns as `kubectl get`.

It is kinda inconvenient if the name of the node only contains its ip, which is common when the nodes are created by tools like `kops`, because it is hard to tell a node from each other without labels.

**What you expected to happen

[2018-08-02 17:58] krzysztofp opened #66924 "dns can't resolve kubernetes.default and/or cluster.local"
/kind bug
**What happened**:
I've setup Kubernetes cluster on Ubuntu 18.04, v1.11.1:

__KubeDNS:__
[code]

__Version:__
[code]

__When I run busybox for testing:__
[code]
I am getting this:
[code]

**What you expected to happen**:

I expect the kubernetes.default or cluster.local to be resolved.

**How to reproduce it (as minimally and precisely as possible)**:
Maybe try to install new k8s cluster

[2018-08-02 18:01] yujuhong commented on #58512
@luksa will the WIP "debug container" feature satisfy your use case? https://github.com/kubernetes/features/issues/277

/cc @verb

[2018-08-02 18:06] shparker1977 commented on #59368
Is there any other known workaround for this besides updating conntrack rules on the kube nodes?  I tried deleting and recreating the service, but this didn't update the rules.  When I restart the stream on the client side data flows correctly again (perhaps it's perceived as a new connection), but I have to restart the stream for each sender.

[2018-08-02 18:08] HaymonEdmur commented on #59438
$ kubectl top pod boston-pod
Error from server (NotFound): the server could not find the requested resource (get services http:heapster:)

Is there any other way to get cpu/mem usage for a pod?

[2018-08-02 18:09] Huang-Wei commented on #66568
@username1366 I'm not able to reproduce the issue. Can I clarify your steps a little bit:

To simplify your case, let's say we got a **X**-node cluster (in your case X = 72), all labeled "dedicated:api-test".

Then in the 1st deployment yaml, it tries to deploy a **Y**-replica app (in your case Y = 25) - it has podAntiAffinity and nodeAffinity (with condition key dedicated in api-test).

In the 2n

[2018-08-02 18:30] #66222 closed

[2018-08-02 18:41] ravisantoshgudimetla commented on #66348
Why do we want to break backward compatibility here? Isn't this similar to adding https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/daemon_controller.go#L1470 to https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/daemon_controller.go#L1430, without this any DS we create will need to have additional nodeaffinity in its spec not to match labels on mas

[2018-08-02 18:54] Huang-Wei commented on #66348
As an user's perspective, "Pending" pod usually makes people panic - even scheduler gives a reasonable explanation there.

It also applies to this case.

So I'm more leaning to that for daemonset scheduling, as @ravisantoshgudimetla mentioned, to make the behavior consistent: open the boundary a little bit: from current [PodFitsHost, PodMatchNodeSelector] to [PodFitsHost, PodMatchNodeSelector, Pod

[2018-08-02 19:00] vishh commented on #24925
Here's [the code](https://github.com/kubernetes/kubernetes/blob/a21a7502496418d8ef26a5d1522f8f246110f5fc/pkg/kubelet/kuberuntime/helpers_linux.go#L33) of how k8s calculates "cpu shares" based on "CPUs" requested.
k8s assigns 1024 CPU shares per CPU. So if you machine has 2 CPUs, then that node can have a total of 2*1024 - 2048 CPU shares. A single pod requesting 1 CPU will be assigned 1024 shares.

[2018-08-02 19:06] #60770 closed

[2018-08-02 19:11] novaterata commented on #24925
So does that not invalidate what Eric said?

[2018-08-02 19:38] IvanovOleg commented on #65314
I have the same issue with kubernetes v1.11.1 when I try to increase the system vm.max_map_count value using the init container.

[2018-08-02 19:52] scottlindner commented on #65314
It appears this is a common issue. I'm having the same issue with the securityContext from the initContainer being applied to the container itself. Here are the tests I performed:
- "initContainer:securityContext:privileged: true" and no container:securityContext, the pod deploys but I cannot kubectl exec into the pod due to the pod being privileged.
- "initContainer:securityContext:privileged: fa

[2018-08-02 19:52] bsalamat commented on #66348
+1 to what @ravisantoshgudimetla proposed.

[2018-08-02 20:10] byndcivilization commented on #66874
[code]

[2018-08-02 20:15] emmanuel commented on #50898
I would also like to be able to tag EBS volumes by way of annotations on the PVC, as @lpabon mentioned. There is a closed PR (https://github.com/kubernetes/kubernetes/pull/49390) where the discussion seems to have explored generalizing the feature and then lost momentum.

I would like to see that PR land and establish parity between ELB and EBS w/r/t user-supplied tags.

[2018-08-02 20:25] vishh commented on #24925
@novaterata yeah, k8s overrides docker default behavior.

[2018-08-02 20:41] novaterata commented on #24925
I don't know what that means in this context. I feel like nothing I've
asked has been addressed. Like I'm wasting my breathe. Just nevermind then.

On Thu, Aug 2, 2018, 4:27 PM Vish Kannan <notifications@github.com> wrote:

[2018-08-02 20:49] jpiper commented on #66568
@Huang-Wei I'm using a deployment with a `spec` like this

[code]

and then in one of the containers of the pod,

[code]

I will try and see if I can replicate on a minikube instance tomorrow

[2018-08-02 20:55] vishh commented on #24925
@novaterata
1. You asked `If 100m increases with the number of cores per node then it is relative not absolute.`
2. I responded saying CPU requests are absolute and so it's meaning is the same irrespective of the machine size, and that it's is inherently not a hard limit where a container can use up as much CPU as it wants when available irrespective of it's requests.
3. You asked if Eric's commen

[2018-08-02 20:58] novaterata commented on #24925
I did not get that from what you said. You said something about docker.
That is the primary point of confusion.

On Thu, Aug 2, 2018, 4:56 PM Vish Kannan <notifications@github.com> wrote:

[2018-08-02 20:59] novaterata commented on #24925
Thank you for eventually answering me

On Thu, Aug 2, 2018, 4:58 PM Charles Ritchea <novaterata@gmail.com> wrote:

[2018-08-02 21:12] tallclair commented on #65314
This is closely related to https://github.com/kubernetes/kubernetes/issues/55435

Specifically, what is happening is that the DenyEscalatingExec plugin doesn't look at the specific container being exec'd to, but instead looks at all containers in the pod:
https://github.com/kubernetes/kubernetes/blob/03df9aa4afdf0c6837048d7e673ab60dfbd0cef5/plugin/pkg/admission/exec/admission.go#L132-L151

I could

[2018-08-02 21:16] dims commented on #65314
related ... https://github.com/kubernetes/kubernetes/issues/65408 (`DenyEscalatingExec: this is kinda dumb`)

[2018-08-02 21:45] tallclair commented on #65408
Agreed. I would much prefer to see this done with a combination of RBAC, namespaces, and PodSecurityPolicy. For example:

- Allow privileged pods in the "privileged" namespace (PodSecurityPolicy), do not allow exec in that namespace (RBAC)
- Forbid privileged pods in the "unprivileged" namespace (PSP), allow exec in that namespace

PSP actually covers enough ground to properly prevent escalating e

[2018-08-02 21:45] neolit123 commented on #66544
@mohammedzee1000
cherry pick PR to fix this against the 1.10 branch was sent :tada:
thanks to @rramkumar1

[2018-08-02 22:38] tpepper commented on #66300
In the big picture SIG-Release has an action here to better understand who's using which artifacts and insure that there are clear owning parties building and supporting the right things for the different personas across the userbase.  I write that deliberately ambiguously, as I'm not sure where the right line is.  Should the project build basic binaries and containers, plus installable packages f

[2018-08-02 22:42] #66189 closed

[2018-08-02 22:55] owend commented on #60987
Having the same issue with Kubernetes 1.11, Docker 18.06.0-ce and ceph 13.2.1

[2018-08-02 23:10] #60812 closed

[2018-08-02 23:10] #60544 closed

[2018-08-02 23:27] ConnorDoyle commented on #62149
/remove-lifecycle stale

[2018-08-02 23:28] bamb00 commented on #23562
I have the same issue using k8s v1.9.5 running on AWS platform.

Is there a fix or workaround?

       NAME          TYPE           CLUSTER-IP      EXTERNAL-IP   PORT(S)                         AGE       SELECTOR
       my-service   LoadBalancer   10.108.65.126   <pending>     8190:30628/TCP,9001:31470/TCP   18m
       app=my-service
       kubernetes    ClusterIP      10.96.0.1       <none>

[2018-08-02 23:45] neolit123 commented on #66300
i will take this opportunity to propose moving away for handling distro specifics.

i see a couple of options:

1) by introducing Snap or AppImage or <Similar> packaging.

https://github.com/AppImage/AppImageKit/wiki/Similar-projects#comparison

the recent [microk8s](https://microk8s.io/) (Snap based) introduction in a community meeting was frankly quite impressive, where the user only had to down

[2018-08-03 00:03] RaspiRepo opened #66943 "kubeadm init fails with error "It seems like the kubelet isn't running or healthy.""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Aug 02 23:36:09 ip-172-31-8-98 skc-boot.sh[1254]: + kubeadm init --config=/tmp/kubeadm.conf
Aug 02 23:36:14 ip-172-31-8-98 skc-boot.sh[1254]: [init] using Kubernetes version: v1.11.1
Aug 02 23:36:14 ip-172-31-8-98 skc-boot.sh[1254]: [preflight] running pre-flight checks
Aug 02 23:36:14 ip-172-31-8-98 skc-boot.sh[1254]: I0802 23:36:1

[2018-08-03 00:04] dhawal55 commented on #45746
+1

[2018-08-03 00:08] scottslowe opened #66944 "Broken link in Kubernetes 1.11 blog post"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I visited the Kubernetes 1.11 release blog post and clicked on the link to the article on resizing persistent volumes. The server returned a 404.

**What you expected to happen**:
I expected to navigate to the article on resizing persistent volumes in Kubernetes.

**How to reproduce it (as minimally and precisely as possi

[2018-08-03 00:10] jraby opened #66945 "flexvolume: "no volume plugin matched" on kubelet restart if container exits while kubelet was down"
/kind bug
/sig storage

**What happened**:
If a container using a flexvolume exits/finishes while kubelet is down, kubelet will fail to reconcile when it starts up again.
The flexvolume will stay mounted and kubelet will log 'orphaned pods' messages every 2s for that pod.

This situation happened while upgrading from 1.10.5 to 1.10.6. (stop kubelet, upgrade binary, start kubelet)

Might be related

[2018-08-03 00:11] #56695 closed

[2018-08-03 00:29] RaspiRepo commented on #66943
/sig aws

[2018-08-03 00:52] neolit123 commented on #66924
/sig cli
/sig network

[2018-08-03 00:53] neolit123 commented on #66904
@VinayVanama please provide log outputs that outline the issue your are having better.
/sig aws

[2018-08-03 01:10] rkttu-devsisters opened #66947 "Windows Kubernetes worker node throws BSoD"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
BSoD occurs on Windows worker nodes more than two or three times a week, although this is not constant. The thing I checked with BSoD is UNEXPECTED_KERNEL_MODE_TRAP, and the related module name is NDIS.sys.

**What you expected to happen**:
There is no kernel panic when I configure and run multiple Linux Kubernetes worker