[2019-01-14 08:59] SFHfeihong opened #72876 "Create customresourcedefinition, Error: Operation cannot be fulfilled on customresourcedefinitions.apiextensions.k8s.io "virtualservices.networking.istio.io": the object has been modified; please apply your changes to the latest version and try again"
k8s version: v1.9.3
When I create customresourcedefinition, There is error like Operation cannot be fulfilled on customresourcedefinitions.apiextensions.k8s.io "virtualservices.networking.istio.io": the object has been modified; please apply your changes to the latest version and try again .

apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: virtualservices.

[2019-01-14 09:05] peterkuiper commented on #51376
I had the same problem and contacted the excellent GCP Support. After some investigation they found that the following annotation is causing the issue:

```kubernetes.io/cluster-service: "true"```

Removing this from your config should fix the problem. I don't know exactly what this annotation is doing but it is related to the addon manager as described above. This annotation seems to be [deprecat

[2019-01-14 09:14] yanghaichao12 commented on #72853
/assign @dashpole

[2019-01-14 09:14] danielqsj commented on #72212
@puneetsar  I cannot reproduce it in master branch.
[code]

[2019-01-14 09:19] olereidar commented on #57673
I had somewhat the same problem. This solution worked for me: https://stackoverflow.com/q/54106725/2291510

[2019-01-14 09:31] hello2mao opened #72877 "Error patching node with cloud ip addresses"
**What happened**:
We have our own cloudprovider and NodeAddressesByProviderID impl is below:
[code]
Then CCM init failed with error log:
[code]

**But if we replace two line(see below):  NodeInternalIP and NodeHostName, it success**
[code]

**What you expected to happen**:
CCM init success.

**Environment**:
- Kubernetes version (use `kubectl version`): v1.11.5
- Cloud provider or hardware config

[2019-01-14 09:32] hello2mao commented on #72877
@kubernetes/sig-cloud-provider

[2019-01-14 09:45] paralika commented on #72871
Not strict binding but if we could add some range or `OR` operator would be helpful.
Something like:  `1.11.6  || >= 1.11.6` for `kubeadm 1.11.6`.

[2019-01-14 09:50] rosti commented on #72871
I am in favor of strict binding, since mismatching (even at patch level) components can cause weird errors. And checking each package version is not always on users minds.

[2019-01-14 09:54] #72877 closed

[2019-01-14 09:59] donfranio opened #72878 "setting quotas while creating a pod fails"
**What happened**:
A pod of my deployment suddenly doesn't come up again and hangs in "CrashLoopBackOff"

**What you expected to happen**:
When a pod of a deployment is killed for some reason, I expect it to come up again.

**How to reproduce it (as minimally and precisely as possible)**:
This only happens sometimes and cannot be reproduced dependably, I am still trying ...

**Anything else we nee

[2019-01-14 10:02] wojtek-t commented on #64760
/remove-lifecycle stale
/lifecycle frozen

[2019-01-14 10:02] donfranio commented on #72878
Btw: there is a ResourceQuota in place:
[code]

[2019-01-14 10:13] wojtek-t commented on #62277
/remove-lifecycle stale
/lifecycle frozen

[2019-01-14 10:48] himani1910 commented on #72121
I am facing the same issue. I have k8s cluster deployed on ubuntu 16.04 vm. What did you do to solve the issue?

[2019-01-14 10:53] recollir commented on #72794
What about `kubectl get deployment -o wide`? The last column returns selector-labels.

[2019-01-14 10:59] huangjiasingle commented on #72128
@raoofm  the etcd mustn't use the domain of the --initial-advertise-peer-urls --listen-peer-urls  --listen-client-urls  --advertise-client-urls , so you should replace the value by podIP. you can use my statefulset yaml to create etcd cluster successful: the officle etcd statefulset yaml has some logic is not reasonable.

[code]

may be you can use this yaml to eidit more grateful etcd stateful ya

[2019-01-14 11:12] luisyonaldo opened #72880 "kubeadm: specify a service account for pre-pulling images with right pod security policy"
**What would you like to be added**:
Use a different service account than `default` for the pre-pull images pods.

Right now, `kubeadm` will create a `DamonSet` to pre-pull images which uses the `default` service account in `kube-system` namespace.

We are using pod security policies in our cluster so we need to allow the `default` sa in `kube-system` ns to use the `privileged` psp. This is due to

[2019-01-14 11:16] jakolehm commented on #71712
It seems that problem goes away after removing `unix://` prefix from `--container-runtime-endpoint`. This behaviour is fixed in the master branch but is not included in any release that I know.

Tested with kubernetes 1.13.1 & cri-o 1.13.0 on Ubuntu 18.04 & Centos 7.

[2019-01-14 11:33] jnummelin commented on #71712
(we're working together on this with @jakolehm )

To add some more detail.

This commit would probably fix it: https://github.com/kubernetes/kubernetes/commit/4fe1b6f33f5e85fc2656de0983b512b8b1625bfb

That is only on master and not in any of the release branches AFAIK.

So reverse engineering that commit, we deciphered that the `--container-runtime-endpoint` option for kubelet needs to be without

[2019-01-14 11:36] luisyonaldo commented on #72880
@kubernetes/sig-cluster-lifecycle

[2019-01-14 11:37] luisyonaldo commented on #72880
/sig cluster-lifecycle

[2019-01-14 11:38] kahootali commented on #52444
@desaintmartin I have added the concat plugin
[code]
but still it is not concatenating, Any Idea?

[2019-01-14 11:42] lorenz commented on #72796
Looks sane and would've prevented my issue. Should I PR this?

[2019-01-14 11:48] brancz commented on #58638
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-01-14 12:09] mradzevicius commented on #72460
Any steps to get this working again?

[2019-01-14 12:12] dims commented on #72796
@lorenz sure. thanks

[2019-01-14 12:32] dims commented on #72863
@saad-ali @spiffxp @fejta should the CSI images be in our regular gcr.io repo?

[2019-01-14 12:40] kulong0105 opened #72881 "“--system-reserved” kubelet option cannot work as expected"
**What happened**:

start kubelet with below config:
[code]
check the related cgroup file, get the following output:
[code]

**What you expected to happen**:

`/sys/fs/cgroup/memory/system.slice/memory.limit_in_bytes` is not limited.

due to `memory.limit_in_bytes` is limited, may cause system services are killed by OOM, expect this config only affect the available memory resource for node(check w

[2019-01-14 12:45] kulong0105 commented on #72881
/sig node

[2019-01-14 13:21] saadzaman commented on #65937
wondering if you got the solution for this ?

[2019-01-14 13:48] mittaus commented on #23726
In my case, I had rebooted the master node of kubernetes, and when restarting, the SWAP partition of memory exchange is enabled by default

1. sudo `systemctl status kubelet`

[code]

2. sudo `swapon -s`

[code]

3. sudo `swapoff /dev/sda6`

4. sudo `systemctl status kubelet`

[code]
5. `kubectl get nodes`
[code]

[2019-01-14 14:00] LuckyPigeon commented on #58988
Just like @DamienVStone mentioned. Be sure to check docker and kubelet status and start/restart them.

[2019-01-14 14:16] kahootali commented on #22368
We also faced this issue so we have a written a utility [Reloader](https://github.com/stakater/reloader) which reloads a daemonset, deployment whenever a Configmap is changed, you can use it.

[2019-01-14 14:18] #67537 closed

[2019-01-14 14:22] KlavsKlavsen opened #72888 "defining environment variables with - in name is not complained about and does not work"
**What happened**:
I defined this for a deployment:
        env:
        - name: persona-app-key
          valueFrom:
            secretKeyRef:
              name: persona-app
              key: key

**What you expected to happen**:
persona-app-key should be available in env output. It was not.
if I do:
[code]
I can define such a variable so IT IS possible.

It DOES work - if I simply use persona_

[2019-01-14 14:23] liggitt commented on #72876
a few questions:
* where are you seeing the error, in the apiserver log or in the output of the kubectl command?
* what kubectl command are you using to create the object?
* are you running HA apiservers?

[2019-01-14 14:23] liggitt commented on #72878
/sig node

[2019-01-14 14:45] jangras commented on #71887
seeing the same messages:

Docker version: 18.06.0-ce
Kernel: 4.4.0-62-generic #83-Ubuntu SMP Wed Jan 18 14:10:15 UTC 2017 x86_64 x86_64 x86_64
k8s: v1.13.2

[2019-01-14 14:55] liggitt commented on #44156
/close

[2019-01-14 14:55] #44156 closed

[2019-01-14 14:57] liggitt commented on #20978
broader issue in https://github.com/kubernetes/kubernetes/issues/45539, deduplicating

[2019-01-14 14:57] liggitt commented on #45539
see also discussion in https://github.com/kubernetes/kubernetes/issues/20978

[2019-01-14 14:57] liggitt commented on #20978
/clos

[2019-01-14 14:57] liggitt commented on #20978
/close

[2019-01-14 14:57] #20978 closed

[2019-01-14 15:00] jmcmeek commented on #72130
From the heapster side...  I don't know why it hung.  In one instance we could see that heapster has been restarted near the time of the hang. Perhaps there was a window where heapster socket was open, but not yet able to process requests, but regardless there appear to be ways in which this call can hang.  I thought this might be a matter of making sure the client performing the DoRaw() call near

[2019-01-14 15:03] hoegaarden commented on #72871
- Would it help (and is it even possible?) to set `Recommends` to `1.11.6` in addition to the already existing `>= 1.116`?
  - I can try to experiment with that
- How are the rpms setting up the dependencies? If the above helps, can we replicate that to the rpm world?
  - I currently have no context on rpms at all ...

https://github.com/kubernetes/kubernetes/issues/71677 might also be interesting

[2019-01-14 15:06] paralika commented on #72871
Yes. I think for `kubeadm` it should install dependancy with same version. If it is not found it may search for one level up and so on.

[2019-01-14 15:11] liggitt commented on #72871
is there a way to express the range of kubelet versions that are acceptable, which one to use if none is already present (probably latest matching patch release?), and to no-op if an acceptable version is already present?

[2019-01-14 15:11] liggitt commented on #71783
see also https://github.com/kubernetes/kubernetes/issues/72871

[2019-01-14 15:17] hoegaarden commented on #72871
That's what I try to do with setting `Depends` ("... an absolute dependency") to a range and `Recommends` ("... a strong, but not absolute, dependency") to a specific version, see in [the debian docs](https://www.debian.org/doc/debian-policy/ch-relationships.html#binary-dependencies-depends-recommends-suggests-enhances-pre-depends). However I have no idea how a mix of both `Depends` and `Recommend

[2019-01-14 15:18] constructivetim commented on #38144
I am using jetty 9.4.14.v20181114

and am getting

Readiness probe failed: <url> remote error: tls: handshake failure

if i downgrade to jetty 9.4.8.v20171121

it works.  the ciphers removed from jetty between  9.4.8 and 9.4.14 are:

TLS_RSA_WITH_AES_256_CBC_SHA256
TLS_RSA_WITH_AES_128_CBC_SHA256
TLS_RSA_WITH_AES_256_GCM_SHA384
TLS_RSA_WITH_AES_128_GCM_SHA256

any advice on how to change the ciphe

[2019-01-14 15:59] wozniakjan commented on #70916
glad it helps in any way, I haven't been able to find time to come back and try 'status condition' instead of events, but I will definitely find some time by the end of January.

[2019-01-14 16:06] constructivetim commented on #38144
I ended up doing this

https://github.com/eclipse/jetty.project/issues/2921#issuecomment-422747678

BTW, above issue is with GKE

[2019-01-14 16:17] Angelinsky7 commented on #64924
i've got the same issue with some container today :

Linux test-77fd4f49f7-m5b75 4.9.0-8-amd64 #1 SMP Debian 4.9.130-2 (2018-10-27) x86_64 Linux

this is my resolve.conf file :
[code]

if i remove (this is not very possible because some container are build from gitlab and others) this line : `options ndots:5` my dns is working correctly again. The issue is only on some host (not all) and if i add

[2019-01-14 16:19] #56032 closed

[2019-01-14 16:33] nrobert13 commented on #51135
@bobrik, came across your [gist](https://gist.github.com/bobrik/2030ff040fad360327a5fab7a09c4ff1) regarding this issue in the cfs. Commented on the gist, but not sure if it sends out any notifications, so will post it here as well.

[2019-01-14 16:54] kfox1111 commented on #66388
/reopen
/remove-lifecycle rotten

[2019-01-14 17:10] arianitu commented on #37232
I just ran into this, how can I get this to work properly?

[2019-01-14 17:15] tnozicka commented on #72593
Thinking about this and daemonsets where I've fix it with the rate limit first enabled by the special 1:1 relation; we ended up switching it to the scheduler fixing the other half where the pod will stay in pending if kubelet would fail it if it was send to the node.

Based on that though I think scheduler in general shouldn't place pods on nodes where the kubelet admission will fail. Scheduler sh

[2019-01-14 17:31] GregSilverman commented on #72826
Hi,
One thing I've noticed that is consistent with the logs when I have success/failure is that as in the chunk below

[code]

the first two sets of queries to google.com and kubernetes.default, both are successful. But, for the third query to google.com and then kubernetes.default, only google.com was successful. What makes this regular, is that when things start going south, I get a logged respo

[2019-01-14 17:34] mohamadnikan2013 opened #72891 "Headless Service DNS Problem"

[2019-01-14 17:38] mitar commented on #69721
/remove-lifecycle stale

[2019-01-14 17:57] jorhett opened #72892 "kubeadm upgrade plan advised to upgrade etcd to older version"
**What happened**:

`kubeadm upgrade plan` gave instructions to "upgrade" to a lower version.

[code]

**What you expected to happen**:

AFAICT 3.3.10 is a valid version of etcd to use. If anything, I would expect that it would recommend a new minor version greater than the existing version.

**How to reproduce it (as minimally and precisely as possible)**:

Install etcd 3.3.10, run `kubeadm upgra

[2019-01-14 18:01] brancz commented on #69825
/remove-lifecycle stale

[2019-01-14 18:23] krmayankk commented on #72593
I think moving to scheduler in general is better since then the pod has a chance of getting scheduled on a node which has that capability(in this case a node that allows unsafe sysctls) . But earlier scheduler only had the knowledge of resources available on each node . This requires the scheduler to have knowledge of all the node capabilities (any thing interesting exposed by kubelet flags) which

[2019-01-14 18:31] dashpole commented on #72853
The "name" of the systemd unit is what precedes `.slice`.  See https://www.freedesktop.org/software/systemd/man/systemd.slice.html#.  `.slice` is the type of systemd unit.  I'm not sure why we decided to use the name instead of the literal cgroupfs path, though.  cc @filbranden, if he knows more details on that.

[2019-01-14 18:44] liggitt commented on #72593
cc @kubernetes/sig-node-feature-requests for exposing node config to scheduler

[2019-01-14 18:47] MrHohn commented on #72757
This is also what I found about this label. @kubernetes/sig-cli-maintainers is this label documented somewhere with `kubectl`?

[2019-01-14 18:55] tnozicka commented on #72593
Also this likely goes beyond just `SysctlForbidden`case; we need scheduler decisions to match kubelet admission when binding a node or this can reappear in another form.

[2019-01-14 19:13] PatrickLang commented on #67147
/reopen
/remove-lifecycle rotten

[2019-01-14 19:19] BenTheElder commented on #66388
@kfox1111 this is a quirk in the re-open ACLs that is known ...
/assign

[2019-01-14 19:20] BenTheElder commented on #66388
/reopen

[2019-01-14 19:20] BenTheElder commented on #66388
/unassign

[2019-01-14 20:03] krmayankk commented on #72593
here is another aspect of a node to be considered during scheduling for which i created a feature earlier https://github.com/kubernetes/enhancements/issues/611

[2019-01-14 20:17] liggitt commented on #72888
envvars with dashes did work when I tried them locally... can you provide the full deployment manifest and (scrubbed of confidential values) secret object?

[2019-01-14 21:09] andrewsykim opened #72897 "Validate/test usage of service account credentials in cloud controller manager"
**What would you like to be added**
We have no coverage for whether bootstrap roles sufficiently cover RBAC for controllers in the cloud-controller-manager. As of today, they should use the same roles as kube-controller-manager. We should have tests/validation in place to ensure that this is covered in CI.

A good place to start (though not easy) would be to just cover existing E2E tests on cluste

[2019-01-14 21:12] andrewsykim commented on #72897
/sig cloud-provider

[2019-01-14 21:14] fedebongio commented on #72702
/assign @cheftako

[2019-01-14 21:14] fedebongio commented on #72742
/assign @yliaog

[2019-01-14 21:14] fedebongio commented on #72796
/assign @jpbetz @wenjiaswe @logicalhan

[2019-01-14 21:57] chrisohaver commented on #72826
nslookup also does reverse lookups of the name server ip used in the query, so it can display it in the output (afaik no other reason than for pretty output).

In the log entry you highlighted, for some reason nslookup is doing a reverse lookup on an ipv6 address, as if nslookup was directed to use an upstream ipv6 address as the nameserver.

[2019-01-14 22:02] GregSilverman commented on #72826
Everything is default-out-of-the-box, so I'm not sure why that would be happening.

Things are still flakey. I'm not really sure how to proceed in troubleshooting this.

[2019-01-14 22:20] chrisohaver commented on #72826
I would recommend trying to troubleshoot with dig ... I think nslookup does "extra stuff" in various situations, which could be obfuscating the issue.  It may be more obvious to see whats going on with dig.

[2019-01-14 22:36] phenixblue commented on #72892
Reading through the kubeadm code [here](https://github.com/kubernetes/kubernetes/blob/7d8554643e2e05fda714f30fc71f34ce05514b68/cmd/kubeadm/app/constants/constants.go#L389) it looks like there is a specific version (`<major>:<minor>`) for each Kubernetes version from 1.10 to 1.14.

Etcd version 3.2.24 is listed as the supported version for 1.13, regardless of the kubernetes minor version.

[2019-01-14 22:44] ConnorDoyle commented on #72828
/cc

[2019-01-14 22:44] mtaufen opened #72900 "Does Windows service control integration properly support stopping a service"
**What happened**:
I configured Kubelet to run as a service on Windows, with a setting to restart on failure (`sc.exe failure kubelet reset= 0 actions= restart/10000`). I noticed that it restarts even when I explicitly stop the service with `sc.exe stop kubelet`, even though the `failureflag` documentation states the following (I left it at `0`, the default):
[code]

**What you expected to happen*

[2019-01-14 23:09] andyzhangx commented on #72841
@ryanlovett  it's duplicated to https://github.com/Azure/AKS/issues/550, and it's an AKS specif issue not related to azure cloud provider here. See my comments there:
https://github.com/Azure/AKS/issues/550#issuecomment-407040786

[2019-01-14 23:45] jingxu97 commented on #72604
@ShuYingya, I think that's still not enough. DSW could remove pod before ASW could add a record that volume is bind mounted to the pod directory.
But I am thinking maybe it is ok for DSW to not remove volume until ASW has a record of volume is already bind mounted to the pod.
It is possible that reconciler fails to mount volume device or bind mount, but it is ok because in that case when pod is be

[2019-01-15 00:01] borg286 commented on #16448
I'd also like this feature. It seems that kubecfg has a hardcoded ordering of types of objects
It does ThirdPartyResource and CustomResourceDefinition
then global resources,
then namespace,
then things that don't contain pods
then lastly things that contain pods.

This seems rather simple to fetch the types and give them a priority, toss them into a priority queue, then finally empty the queue int

[2019-01-15 00:11] yujuhong commented on #72900
The same should apply to kube-proxy as well.

[2019-01-15 01:02] keyurgolanins commented on #56148
This worked for me too. Had to run `sudo apt install selinux-utils` first. But did work.
Thanks man!

[2019-01-15 01:02] cehoffman commented on #68717
Ran into this issue when upgrading calico from 2.6.12 into 3.1.4 and then 3.2.4. We have PSP enabled on the cluster and ran into this issue on both. As a workaround to get the cluster functioning we gave the calico service account ability to use any podsecuritypolicy.

After reading this thread, we made the upgrade from the 3.2.4 deployment to 3.3.2 and were able to remove the PSP workaround for t

[2019-01-15 01:08] SFHfeihong commented on #72876
The log is shown by apiserver. I run k8s in HA apiservers. The command I used is "kubectl apply -f "+file.

[2019-01-15 01:22] danielqsj commented on #72715
/assign

[2019-01-15 01:31] GregSilverman commented on #72826
Got it.

Ran this a couple times, and got:

[code]

The interesting thing is that this was logged on the other coredns pod, which until this last test had not been logging anything. Everything till this test was going into the other coredns pod's log.

This seems to be up and down, just tried it, it was timing out and then tried 2-minutes later and got:

[code]

And now again, one minute later:

g

[2019-01-15 01:39] m1093782566 commented on #72236
@emptywee

You should use ping instead of telnet.

[2019-01-15 01:50] emptywee commented on #72236
@m1093782566 maybe I misread the original description of the issue, but I took it as it was possible to ssh to the sshd service running on a host from a pod using the IP address of any service created in Kubernetes when kube-proxy is in the ipvs mode, as opposed to iptables mode. In my case the behavior is the same with either mode.

Why should I use ICMP and ping when @fasaxc was talking about ss

[2019-01-15 01:53] m1093782566 commented on #72236
ping clusterip inside cluster.

ssh/telnet clusterip:port outside cluster.

[2019-01-15 01:56] emptywee commented on #72236
/shrug

I can ping clusterip and I can telnet to host's sshd from a pod using clusterip:22 address. Regardless of kube-proxy mode.

[2019-01-15 02:32] dims opened #72903 "Flake: TestImageLocality in pull/ci kubernetes-integration jobs"
**Which jobs are failing**: pull/ci kubernetes-integration jobs

**Which test(s) are failing**: TestImageLocality

**Since when has it been failing**:
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestImageLocality

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

[2019-01-15 02:32] dims commented on #72903
/sig scheduling

[2019-01-15 02:33] dims commented on #72903
/priority important-soon

[2019-01-15 02:37] keiransteele commented on #72468
I encountered this exact error. What I did was rename .conf to .conflist and the node immediately went to a ready status. Don't know if this might break anything else but will find out soon.

[2019-01-15 02:39] GregSilverman commented on #62777
@mtablado what does this mean? We're running RHEL 7.6, and having an issue similar to the above. It's similar, in that it is intermittent.

What does Red Hat support have to do with this? We're still able to manually update and upgrade k8s. We even had a docker issue specific to this bug that we were able to resolve: [docker exec does not work with registry.access.redhat.com/rhel7:7.3](https://bug

[2019-01-15 02:40] dims commented on #72903
http://storage.googleapis.com/k8s-metrics/flakes-latest.json says

[code]

[2019-01-15 02:46] m1093782566 commented on #20767
@thockin

For my test, IPVS has no such issue.

[code]

[2019-01-15 03:49] #71327 closed

[2019-01-15 04:21] deitch commented on #47733
/remove-lifecycle stale

[2019-01-15 05:06] olivejing opened #72905 "Failed logs during Kubernetes pvc/pv binding"
**What happened**:
I used storageclass to create volume, during pvc and pv binding, failed logs were reported. It happens every time when creating pvc/pv, so there are too many failed logs in my cluster.
failed logs:
[code]
I opened kube-controller log level to 5 and got follow logs:
[code]
**What you expected to happen**:
why it reported "Error adding protection finalizer to PV" at first time?
wh

[2019-01-15 05:59] houjun41544 commented on #68050
/remove-lifecycle stale

[2019-01-15 07:45] yanghaichao12 commented on #72853
/cc @filbranden

[2019-01-15 08:18] rajansandeep opened #72908 "Push the CoreDNS 1.3.1 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.3.1 image is available in docker coredns/coredns:1.3.1

This is the script used for pushing the image:

[code]

/cc @chrisohaver
/cc @timothysc
/assign @thockin

@fturib

/sig network
/sig cluster-lifecycle
/sig release

[2019-01-15 08:38] wgliang commented on #72506
Just like @liggitt said https://github.com/kubernetes/kubernetes/pull/72556#issuecomment-453275999.  Once #72479 has a conclusion, we are going to make this work part of KEP proposal [MaxPodsPerTopology Feature Brainstorm](https://docs.google.com/document/d/1llmjRNp5UEfzXR0Tv7btt5zB04FW8bu960t_o91mueI/edit#heading=h.73kvan3rx3cr).

/cc @Huang-Wei @bsalamat @k82cn @misterikkit

[2019-01-15 08:51] krzysztof-jastrzebski commented on #72499
Now it works.

[2019-01-15 09:47] sbley commented on #10834
/remove-lifecycle stale

[2019-01-15 09:56] xieydd opened #72912 "Pause container error"
when a container`status is created ,and pause container start a lot, make the node notready;

[2019-01-15 10:21] desaintmartin commented on #52444
No idea why it does not work. For up-to-date information, I have inserted:
[code]
Just after the kubernetes_metadate injection.

[2019-01-15 10:37] orzroa commented on #45583
Yes, it's a vagrant specific issue. The correct IP should be assigned to kubelet in that situation.
Following instructions works for me( from https://linuxacademy.com/community/posts/show/topic/29447-pod-is-not-found-eventhough-pod-status-is-up-and-running-why , thanks Will B  ):

open /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
Find a line under [Service] that has "KUBELET_EXTRA_ARGS=".

[2019-01-15 10:44] cofyc commented on #72817
one way is to use `kubectl get -f <resource.yaml> --watch` to watch changes after applying successfully

[2019-01-15 10:46] orzroa commented on #60835
@aario
It works for me. Once you restarted kubelet, type "kubectl get pods -owide --all-namespaces", you will see some pods will change their IPs from 10.0.2.15 to another IP. After that "kubectl logs" works perfect.

[2019-01-15 11:39] yanghaichao12 commented on #72853
@dashpole i think the error information is misleading when we use 'systemd':
`Jan 12 15:03:25 host-10-47-223-19 kubelet: F0112 15:03:25.286483 28583 kubelet.go:1374] Failed to start ContainerManager Failed to enforce Kube Reserved Cgroup Limits on "/kubelet.slice": "/kubelet.slice" cgroup does not exist`
in fact the missing path isn't '/kubelet.slice' but '/kubelet.slice.slice' when '--kube-reserv

[2019-01-15 12:16] gnufied commented on #57185
/remove-lifecycle stale
/lifecycle frozen

[2019-01-15 12:33] mgazza commented on #51650
This is still an issue, I think I have managed to cut down the tests to demonstrate it. https://gist.github.com/mgazza/f01d03464ac480a2de1fa9f6edeee1f6#file-horizontal_test-go

[2019-01-15 13:15] rus4 opened #72915 "build/run.sh hangs on stopping rsync container"
:~/work_directory/kubernetes$ build/run.sh make
+++ [0115 13:03:42] Verifying Prerequisites....
+++ [0115 13:03:44] Building Docker image kube-build:build-ca5af74d58-5-v1.11.4-1
+++ [0115 13:03:58] Keeping container kube-rsync-ca5af74d58-5-v1.11.4-1
+++ [0115 13:03:58] Keeping container kube-build-data-ca5af74d58-5-v1.11.4-1
+++ [0115 13:03:58] Keeping container friendly_franklin
+++ [0115 13:03:5

[2019-01-15 13:16] rus4 commented on #72915
$ docker ps -a
CONTAINER ID        IMAGE                             COMMAND                  CREATED             STATUS                    PORTS                       NAMES
2734ab8deb4a        b27d08bd7ae4                      "/rsyncd.sh"             2 hours ago         Up 2 hours                127.0.0.1:32768->8730/tcp   kube-rsync-ca5af74d58-5-v1.11.4-1

[2019-01-15 13:17] rus4 commented on #72915
/sig testing
/help
/good-first-issue

[2019-01-15 13:40] alex-slynko commented on #70922
Fixed by #68663

[2019-01-15 13:40] #70922 closed

[2019-01-15 13:45] rus4 commented on #72915
Is there something going on with rsyncd ?
[code]

[2019-01-15 13:54] Ramyak commented on #71327
I am working Problem 1. Looks like I have to open a new issue.
https://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github

[2019-01-15 13:56] dims commented on #72726
@danielqsj looks like that test fails in other jobs too, lets watch it for a couple of more days to see what frequency it fails: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=should%20run%20and%20stop%20complex%20daemon

[2019-01-15 13:58] Ramyak opened #72916 "SelectorSpreadPriority does not spread pods across zones for pods dropped by predicates"
**What happened**:
 /kind bug

**What you expected to happen**:
https://github.com/kubernetes/kubernetes/issues/71327

Predicates filter nodes. Existing pods on those nodes will be not be counted when calculating max pods per (zone or node) resulting in imbalanced cluster.
Eg: [GeneralPredicates](https://github.com/kubernetes/kubernetes/blob/e20c15174e96957c4e1faf7822125c7d295316a4/pkg/scheduler/a

[2019-01-15 14:03] danielqsj commented on #72726
@dims sure, thanks.

[2019-01-15 14:11] soltysh commented on #71975
I believe this is duplicate of https://github.com/kubernetes/kubernetes/issues/71772 which was fixed in https://github.com/kubernetes/kubernetes/pull/71801. If that's not the case please feel free to reopen with an update on what's not working.

[2019-01-15 14:11] #71975 closed

[2019-01-15 14:16] rus4 commented on #72915
[code]

[2019-01-15 14:17] chrisohaver commented on #72826
You could drop the replicas to 1 during troubleshooting so you don't have to deal with 2 sets of logs.

One thing about dig, it does not use search domains by default, so a query for "kubernetes.default" will return an `NXDOMAIN`... because its searching literally for "kubernetes.default".  The `+search` option tells dig to use the search domains e.g. `dig kubernetes.default +search`

Do you have

[2019-01-15 14:30] neolit123 commented on #72908
cc @ixdy
@kubernetes/sig-release

[2019-01-15 14:32] neolit123 commented on #72892
please open the same issue in the k/kubeadm repository.
thank you.

/close

[2019-01-15 14:32] #72892 closed

[2019-01-15 14:32] neolit123 commented on #72880
hi, please open the same issue in the k/kubeadm repo.
thank you

/close

[2019-01-15 14:32] #72880 closed

[2019-01-15 14:32] bclau opened #72917 "test fails due to command incompatible with Windows cmd"
**Which jobs are failing**:

N/A

**Which test(s) are failing**:

    should function for node-pod communication: udp

**Since when has it been failing**:

Unknown.

**Testgrid link**:

The test is currently excluded.
https://testgrid.k8s.io/sig-windows#Conformance%20acs-engine%20on%20Azure

**Reason for failure**:

By default, cmd is used to execute commands in Windows containers, but it has some

[2019-01-15 14:33] neolit123 commented on #72891
/sig network

[2019-01-15 14:43] liggitt commented on #72876
API servers attempt to update CRD status to indicate whether the names were available. In an HA apiserver setup, the API servers race to do so, and all but the first lose the race with a resource conflict error. That is not unexpected. Opened #72919 to avoid logging normal API responses in that scenario.

[2019-01-15 15:04] gnufied opened #72920 "Deprecate hardcoded volume limit predicates"
We should  deprecate existing hardcoded cloudprovider specific volume limit predicates in favour of volume limits coming from CSI and node.

We can replace all of the three predicates with CSI predicate. But that needs to take into account migration path for in-tree volumes.

/sig storage
/sig scheduling

[2019-01-15 15:04] dims commented on #72759
@eytan-avisror seen this? https://github.com/kubernetes/kubernetes/pull/63641 we don't really honor the `sizeLimit` and use default linux kernel behaviors

[2019-01-15 15:05] gnufied commented on #72920
/assign

[2019-01-15 15:06] andrewsykim commented on #72499
Thank you for testing @krzysztof-jastrzebski!

/close

[2019-01-15 15:06] #72499 closed

[2019-01-15 15:17] #72144 closed

[2019-01-15 15:35] liggitt opened #72921 "clean up and remove /swaggerapi (swagger 1.2)"
/swaggerapi (swagger 1.2) has been deprecated since 1.7 in favor of /openapi/v2 and should be removed.

- [ ] update docs/api-reference generator to use openapi or remove these docs from kubernetes/kubernetes
- [ ] remove swagger-ui dependency, flags, build scripts
- [ ] remove swagger12 dependency, flags, build scripts
- [ ] remove docs/swagger-spec content and generators

/kind cleanup
/sig api-

[2019-01-15 15:35] liggitt commented on #72921
cc @jimangel @tengqm

[2019-01-15 15:37] GregSilverman commented on #72826
Thanks, I'll try this later today.

By upstream-ip, do you mean that of my CoreDNS server @10.96.0.10 or company DNS service?

[2019-01-15 15:41] dims commented on #72297
@stewart-yu hope it's ok since it's been a while, i pushed a small change. if you still want to work this, let me know and i'll drop the PR

[2019-01-15 15:43] chrisohaver commented on #72826
By upstream, i mean upstream of Coredns - i.e. the server to which coredns fowards requests that are not in "cluster.local".  In kubeadm created clusters, this defaults to be the same nameserver that is in `/etc/resolv.conf` of the nodes.

[2019-01-15 15:47] jrnt30 commented on #57212
/remove-lifecycle stale

[2019-01-15 16:17] liggitt commented on #67245
agreed.

/close

[2019-01-15 16:17] #67245 closed

[2019-01-15 16:34] verwilst commented on #71071
I've been refreshing the releases pages pretty much every hour for the last couple of days in the hope 1.12.5 will appear so i can patch this bug on multiple clusters. :-)

[2019-01-15 16:39] apelisse commented on #68514
/lifecycle frozen

[2019-01-15 16:58] thockin commented on #23864
/lifecycle frozen
/remove-lifecycle stale

Just making sure this doesn't rot.

[2019-01-15 17:11] rtheis opened #72925 "Scheduler leaves pod stuck in pending after worker node reload"
**What happened**:

Kubernetes scheduler may leave a single pod stuck in pending state after a worker node is reloaded/reinstalled. This problem appears to have been introduced in Kubernetes v1.12.4 and v1.13.1.  We have not been able to recreate the problem in our testing on earlier releases.  The key to the failure is that the worker being reloaded/reinstalled must be the only scheduling option

[2019-01-15 17:12] rtheis commented on #72925
/sig scheduling

[2019-01-15 17:17] rtheis commented on #72925
Events from the pending pod:

[code]

Events from the node:

[code]

[2019-01-15 17:20] gnufied opened #72926 "KubeletConfiguration does not support flex volume plugin directory"
It looks like `KubeletConfiguration` type does not have a field for `VolumePluginDir` which is a valid kubelet option. Was there any particular reason to not bring this field over?

/sig node
/sig storage

cc @sjenning

[2019-01-15 17:24] #71865 closed

[2019-01-15 17:40] Random-Liu commented on #72482
Thanks for finding the issue! The issue description makes sense to me.

I think PLEG is a core component, it should only block when the container runtime is stuck. The event channel becoming full seems more like an issue in the event consumer side, which shouldn't block PLEG.

One solution is to queue the events in PLEG and send later, but that doesn't fundamentally solve the problem, if we don't

[2019-01-15 17:53] yujuhong commented on #55725
/assign @loburm

[2019-01-15 17:53] benmoss commented on #67827
I think @feiskyer is right that this was a dupe, so closing

/close

[2019-01-15 17:53] #67827 closed

[2019-01-15 17:58] Random-Liu commented on #72482
If PLEG event channel is already full, this doesn't help right?

[2019-01-15 17:59] sgnn7 commented on #69040
Just as a heads up, the newest Golang (v1.11.4) [generates different checksums](https://github.com/golang/go/issues/29278) from older versions (`<=v1.11.3`) which may make it seem like other packages have this issue but this particular bug is independent of that (afaict).

`go get k8s.io/client-go@kubernetes-1.11.3` on darwin with `v1.11.4`:
[code]

`go get k8s.io/client-go@kubernetes-1.11.3` on l

[2019-01-15 18:05] sgnn7 commented on #69040
Actually, it seems that after cleaning the darwin cache, the checksum is correct!!

🎉

**After running `go clean -modcache`**

`go get k8s.io/client-go@kubernetes-1.11.3` on darwin with `v1.11.4`:
[code]

`go get k8s.io/client-go@kubernetes-1.11.3` on linux with `v1.11.4`:
[code]
[code]

[2019-01-15 18:30] song-jiang commented on #72236
@emptywee The issue is about accessing a service (`10.149.0.1:80`) but with an invalid port (`22`) from a pod. Since the port `22` is invalid for the service, with iptables mode accessing `10.149.0.1:22` should fail. However, ipvs mode attaches `10.149.0.1` to a local eth, accessing `10.149.0.1:22`from a pod will be directed to local host sshd process.

[2019-01-15 18:42] yujuhong commented on #72482
Thanks for reporting the issue!

@denverdino, @resouer what was the load on the node that triggered this condition? If the node wasn't function at all, and the events slowly built up over time, bumping the size of the channel won't help.

This should work, and doesn't complicate the logic in PLEG more, so it's my preferred option too.
We need some unit tests, and ideally, a stress test, as mention

[2019-01-15 18:45] filbranden commented on #72853
To answer the question: We keep an internal name (which I actually recently converted into a slice of strings) for the cgroup path since libcontainer uses two separate interfaces and naming for cgroupfs vs. systemd and we didn't want these implementation details to leak *everywhere* in our source code.

So we actually represent cgroup `/kubepods.slice/burstable.slice/pod-XYZ.slice/container-ABC.sc

[2019-01-15 18:46] yujuhong opened #72929 "Promote node os/arch label to stable"
**What would you like to be added**:
kubelet self labels the node with OS/arch, etc. The labeling was added backed in 1.3. It's time to promote the labels.
[code]

**Why is this needed**:
This feature has already been used in multiple places to help schedule pods onto the right nodes.

For the transition, kubelet will need to label itself with both the beta and the GA label to handle the master-no

[2019-01-15 18:55] mariantalla opened #72931 "[sig-storage] unmount tests are failing in master-blocking and master-upgrade dashboards"
**Which jobs are failing**:
- [sig-release-master-blocking#gce-cos-master-serial](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-serial)
- [sig-release-master-upgrade#gce-new-master-upgrade-cluster-new](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new)

**Which test(s) are failing**:
- [sig-storage] CSI Volumes [Driver: csi-hostpath-v0] [Tes

[2019-01-15 18:56] mariantalla commented on #72931
/sig storage

[2019-01-15 19:04] derekwaynecarr commented on #72593
i prefer the kubelet fails fast and hard as most users of unsafe sysctls are building pet workloads that intentionally break isolation boundaries but are usually business critical and require dedicated node pools to run.  a pod being stuck pending is probably worse for the user than the signal that there is a problem with their pod spec.  in general, i have long been in-favor of backoff controls f

[2019-01-15 19:11] dims commented on #72593
+1 to `kubelet fails fast`

[2019-01-15 19:15] mariantalla opened #72932 "Failing test: [sig-scalability] Density [Feature:Performance] should allow starting 30 pods per node using ReplicationController with 0 secrets, 0 configmaps, 0 token projections, and 0 daemonsChanges"
**Which jobs are failing**:
[sig-release-master-blocking#gce-master-scale-performance](https://testgrid.k8s.io/sig-release-master-blocking#gce-master-scale-performance)

**Which test(s) are failing**:
- `[sig-scalability] Density [Feature:Performance] should allow starting 30 pods per node using ReplicationController with 0 secrets, 0 configmaps, 0 token projections, and 0 daemonsChanges`

**Since

[2019-01-15 19:16] mariantalla commented on #72932
/sig scalability

[2019-01-15 19:17] mbohlool commented on #65973
You can use admission webhooks to validate any change including making sure the field is not changed. We may consider dedicated validation webhook in future but for now Admission webhooks do the job.

[2019-01-15 19:21] liggitt commented on #72926
duplicate of https://github.com/kubernetes/kubernetes/issues/61650?

one decision was whether to expose all the individual directory flags in config, or use fixed relative paths off the kubelet's root dir

@derekwaynecarr

[2019-01-15 19:34] yujuhong commented on #72593
I think kubelet can provide a consistent message for pods like this, whether we decide to use softAdmitHandlers or admitHandlers, so that the controllers may have a chance to act differently. Right now, the soft admission handlers provide a "Blocked" reason. If we continue using the non-soft admission handler, perhaps we can provide a more generic reason? `SysctlForbidden` is too specific, and the

[2019-01-15 19:37] gnufied commented on #61650
Yeah this is definitely not Alpha feature. Moreover on immutable hosts the current defaults are unworkable (`/usr/libexec` is unwritable), so this needs to be fixed.

[2019-01-15 19:39] resouer commented on #72482
Agree, giving a proper size for event channel is tricky as the scale also grows with time. We will ship fix as option 3 in 1.14. Thanks for summarizing all these up as sig meeting!

/assign

[2019-01-15 19:43] ry1015 opened #72934 "Deployment Not Created By The Operator (No operator logs)"
Hi All,

Need help trying to figure out why my deployment isn't created. Below is my deployment code for my operator. There are no error logs printed by the operator.

[code]

Thanks in advance,
Ry

[2019-01-15 19:50] ry1015 commented on #72934
We have a deployment yaml file and a manual creation works.

[2019-01-15 19:59] GregSilverman commented on #72826
Hi, I get this working consistently:

[code]

It is not being logged in the coredns pods, but I assume since I am bypassing "cluster.local", that would be why.

If there was a way to have my queries bypass coredns upstream, that would be ideal. In any case, I'll try moving dnstools to the same nodes that the coredns pods are on next.

[2019-01-15 20:00] rahul-rj commented on #55045
+1, After deleting the statefulset, PVCs auto generated should also be deleted.

[2019-01-15 20:30] khogeland opened #72936 "Webhook ServiceReference is not resolved to cluster IP"
**What happened**: Creating a `MutatingWebhookConfiguration` with `service` set and  `caBundle` unset caused the API server to send a request to `myservice.default.svc`, which fails to resolve, as the API server cannot talk to KubeDNS.

**What you expected to happen**: The API server should have resolved the service reference to the service's cluster IP, and used that in the HTTP request.

**Worka

[2019-01-15 20:32] khogeland commented on #72936
@kubernetes/sig-api-machinery-bugs (I think)

[2019-01-15 20:37] gnufied commented on #72926
closing in favour of #61650

/close

[2019-01-15 20:37] #72926 closed

[2019-01-15 20:43] ry1015 commented on #72934
Closing this issue. The issue was a role issue. Had to add deployments under extensions

[2019-01-15 20:43] #72934 closed

[2019-01-15 20:49] AdeOpe commented on #34583
im also having this issue on AWS EKS

Events:
  Type     Reason            Age                From               Message
  ----     ------            ----               ----               -------
  Warning  FailedScheduling  2m (x841 over 1h)  default-scheduler  0/2 nodes are available: 1 Insufficient pods, 1 node(s) had no available volume zone.

losing hope over here :(

[2019-01-15 20:49] bgrant0607 commented on #61185
/remove-lifecycle stale

[2019-01-15 20:53] bgrant0607 commented on #12208
I'd like to see:

1. Differentiated treatment: prioritization, fairness, quota, QoS
   * Not all clients are equal. Some are critical system components. Even those components act on behalf of multiple users / service accounts / namespaces / workloads. A namespace with quota to run 1 pod shouldn't be able to get as much resources as one with quota to run 100k pods. And admins need to be able to acc

[2019-01-15 20:59] gtie commented on #70810
@msau42 , I understand that I'm missing that patch. The patch code, however, would not make a difference in this case, if I read it correctly. It would not prevent the recursive dive into mounted volumes, as the errors happening at the deeper levels of that dive.

[2019-01-15 21:00] davidwhthomas commented on #27768
One other approach:

1. kubectl describe job $JOB
2. Pod name is shown under "Events"
3. kubectl logs $POD

[2019-01-15 21:11] wojtek-t commented on #12208
We are going to look into that with @lavalamp this quarter.

[2019-01-15 21:23] msau42 commented on #70810
The patch blacklists the plugin watcher from searching the /var/lib/kubelet/plugins/kubernetes.io directory

[2019-01-15 21:24] Random-Liu commented on #72482
@resouer If possible, could you share in how large the stress is? It helps understand the issue and kubelet stress handling more. :)

[2019-01-15 21:55] liggitt commented on #72921
/close in favor of #38637

[2019-01-15 21:55] #72921 closed

[2019-01-15 21:56] liggitt commented on #38637
PR open in https://github.com/kubernetes/kubernetes/pull/72924

[2019-01-15 22:03] emptywee commented on #72236
@song-jiang I understand that, and in my case even with iptables it's still working as though I am in the ipvs mode. As I've shown above: https://github.com/kubernetes/kubernetes/issues/72236#issuecomment-454233194

[2019-01-15 22:06] Sanjary opened #72941 "panic in kubectl get ... -o custom-columns"
**What happened**:
While using output format custom columns, I used array index -1 which caused the following panic:

[code]

**What you expected to happen**:
It should return the last element of the array, just like index -2 returns second to last element from the array.

**How to reproduce it (as minimally and precisely as possible)**:
`$ kubectl get pod <POD_NAME> -o custom-columns=CONTAINER:.s

[2019-01-15 22:09] Sanjary commented on #72941
/area kubectl /sig api-machinery

[2019-01-15 22:10] Sanjary commented on #72941
/sig api-machinery

[2019-01-15 22:11] emptywee commented on #71071
@verwilst haha, same, can't wait for v1.11.7 to get released to upgrade current prod clusters. And v1.12.5 too to start upgrading in lower envs.

[2019-01-15 22:57] Marcofeli commented on #13395
Hi @ncdc I'm working with the following and I'm having exactly this and other related issues.

**kubectl version**
[code]
**kubeadm version**
[code]
**kubelet --version**
[code]
**docker --version**
[code]

Before this problem appeared the cluster was working fine, and I didn't change anything when this happened. I just accessed my pod, as usual, and then I tried to exit from it but it just hangs,

[2019-01-15 23:13] mengqiy opened #72944 "Allow Mutating|ValidatingWebhookConfiguration to use secret for CABundle"
**What would you like to be added**:
Allow Mutating|ValidatingWebhookConfiguration to reference content of a secret as CABundle.

[code]

This can also be applied to CRD conversion webhook

**Why is this needed**:
It will be very useful if the CA is rotated.
Before: An admin or a controller (with permission to update WebhookConfiguration) need to update CABundle field if the CA has changed.
After:

[2019-01-15 23:13] mengqiy commented on #72944
/sig apimachinery

[2019-01-15 23:15] mengqiy commented on #72944
/sig api-machinery

[2019-01-15 23:18] mengqiy commented on #72944
cc: @liggitt @caesarxuchao

[2019-01-15 23:57] rakyll commented on #52162
Is it possible to have a final say on this issue? If there certainly won't be an action on this item, we can go and design alternative solutions (like the PoC mentioned by @jkohen). But if we are going to expose container identity,  our developer workflow will be significantly different and more ideal.

[2019-01-16 00:06] imkin commented on #45506
@wenjiaswe yes w.r.t kubernetes this will help the compatibility information.

[2019-01-16 00:16] jwatte commented on #70202
I have the same problem on Ubuntu 18.04.1 with kubelet 1.13 and docker-ce 18.09.
The same setup worked with kubelet 1.12 and docker-ce 18.06.
(Note that kubelet and docker were updated in place and the machine rebooted; downgrading versions goes back to working.)

[2019-01-16 00:33] PatrickLang commented on #72788
@feiskyer - is this something that's clear enough in the CRI layer that you can implement it, or do we need to fix that first?

[2019-01-16 00:34] PatrickLang commented on #72788
@yujuhong do you have any notes or a doc you can point to that better describes what features depend on which metrics? It would be good for us to share and see if anything other than `kubectl top` is broken

[2019-01-16 00:40] dashpole commented on #72788
The horizontal and vertical pod autoscalers also depend on the [resource metrics api](https://github.com/kubernetes/metrics#resource-metrics-api)

[2019-01-16 00:51] yujuhong commented on #72788
Documentation on metrics API and metrics server (i.e., the aggregator): https://kubernetes.io/docs/tasks/debug-application-cluster/core-metrics-pipeline/

The metrics-server pod keeps spewing errors like this:
[code]
Running `kubectl top pod`:
[code]
I haven't verified whether pod autoscaling works in my cluster, but I assume they won't since metrics server seems to discard the metrics from the wi

[2019-01-16 01:00] manojbadam commented on #60807
In our case, metrics api service is down and i can see this error log from verbose logging
[code]
After fixing the metrics apiservice, terminating ones are completed.
Not really sure why deletion depends on metrics apiservice, also intrested to know how it works if metrics apiservice is not installed on the cluster

[2019-01-16 01:04] clivez commented on #72308
Helloooooooo?

[2019-01-16 01:19] openstacker opened #72949 "OpenStack cloud controller manager pod restart many times"
**What happened**:
The pod of openstack cloud controller manager restarted many times. See below for the frequency.
kube-system             openstack-cloud-controller-manager-bkw5n          1/1       Running   5         19d
kube-system             openstack-cloud-controller-manager-bkw5n          1/1       Running   13         25d
kube-system             openstack-cloud-controller-manager-bkw5n

[2019-01-16 01:19] openstacker commented on #72949
@dims Any comments will be appreciated. Cheers.

[2019-01-16 01:31] Gimi commented on #65973
For sure webhook is an option here. But IMHO webhooks are heavy (compared to specifying a field in the CRD yaml file), and most likely for more complicated cases, like the validation might involves some external API calls to some other services. It makes more sense to me that simple validations like `readOnly` should be handled by CRD.

[2019-01-16 01:49] SFHfeihong commented on #72876
Thanks ! But I want to know whether the CRD has been set successfully in HA apiservers ? I use the command " kubectl get crd virtualservices.networking.istio.io  -o yaml" and get the following results.

![image](https://user-images.githubusercontent.com/27404167/51221112-0e198e00-1973-11e9-88f9-c872739e3ba4.png)

I see its status is true. But when i create a virtualservices, it returns error.

Err

[2019-01-16 02:00] yanghaichao12 commented on #72853
ok，i understand, thank you :)

[2019-01-16 02:02] #72853 closed

[2019-01-16 02:50] haoqing0110 commented on #72296
@wgliang we meet the same issue when upgrading from 1.11.3 to 1.12.3, can you share how you solve it?

[2019-01-16 03:07] cofyc commented on #72296
@haoqing0110 If you want to hack and workaround this issue temporarily , you can check this PR: https://github.com/qbox/kubernetes/pull/53. We've done this in upgrading 1.7 to 1.9 in our cluster before. It's applies to upgrading between other versions. The key point is to keep container hash same after upgrade (described in #63814).
This needs to apply patch to kubernetes, and is unofficially supp

[2019-01-16 04:19] mourya007 commented on #71464
@pbarker @maniSbindra  Are you still working on this ? Can I start working on it if nobody has started till now?

[2019-01-16 04:19] #38637 closed

[2019-01-16 04:45] Huang-Wei commented on #72925
@rtheis does "reload/reinstall" mean `Node` info is still kept in etcd? or `kubectl delete node <node name>` (or equivalent steps) is executed to remove that node entirely?

And I assume the "reloaded" node keeps the same spec and IP/node name with previous one?

[2019-01-16 05:15] ashishranjan738 commented on #72941
I am a new contributor and I would like to work on this issue @Sanjary

[2019-01-16 05:15] ashishranjan738 commented on #72941
/assign

[2019-01-16 05:52] kadinwu commented on #61923
meet the same issue, any solution?

[2019-01-16 06:07] WanLinghao commented on #72941
@ashishranjan738  oops, didn't see your assing..I have solved this one

[2019-01-16 06:44] nikopen commented on #43916
/remove-lifecycle stale

[2019-01-16 07:12] pehlert commented on #71975
This is definitely still happening for me on 1.13.2. While the jobs are cleaned up nicely (only 3 are left as per the `successfulJobsHistoryLimit`, the pods just stick around in the "Completed" state.

[2019-01-16 07:57] JishanXing commented on #72881
I think this is the design behavior to limit the system services when user specify system-reserved.

[2019-01-16 08:00] krmayankk commented on #72944
putting the caBundle inline in the configuration yaml makes it unreadable
`caBundle: <pem encoded ca cert that signs the server cert used by the webhook>` . it would be much better to read it from a configmaps

[2019-01-16 08:12] cofyc opened #72954 "Flaky test in TestBindAPIUpdate"
**Which jobs are failing**:

pull-kubernetes-bazel-test

**Which test(s) are failing**:

https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/72953/pull-kubernetes-bazel-test/72686/

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

[2019-01-16 08:12] michmike commented on #64188
excellent. thank you Dinesh!

[2019-01-16 08:16] squarelover commented on #59888
I'm experiencing these messages. I'm not understanding if the message means that it's trying to scale the service but is unable to because of the rate of scaling or will scale than my max, or if the values want to scale below my minimum value. Has this been fixed in later versions?

[2019-01-16 08:34] tnozicka commented on #72593
I also think that it should fail hard - that state is not intermittent so leaving a pod bound to node where it can't possibly run in Pending state wouldn't feel right, so kubelet is correct in making the pod fail.

I don't think backoff would be a solution to this problem although it would limit the consequences of other components failing. We can talk about backoff sometime but it is not trivial

[2019-01-16 08:56] BenTheElder opened #72956 "Eliminate shellcheck failures"
**What happened**: After #24614 / #68438  we had 283 known failing `*.sh` files being excluded from shellcheck lints.

**What you expected to happen**: We should be linting all files. When files are listed in `hack/.shellcheck_failures` we may miss actual bugs in them. Initially to get the linter in place we had to list many files there to keep the PR reasonably sized, but ideally we can fix these

[2019-01-16 09:02] erks opened #72957 "AWS NLB health check failing in VPC with multiple CIDR blocks"
**What happened**:
When an AWS NLB is created through the Service of `LoadBalancer` type, the health check security group rule is only created with a VPC primary CIDR block, as seen here:

https://github.com/kubernetes/kubernetes/blob/d7e0d9b45c62bdadfc2866290dec3a25ccf3e3cb/pkg/cloudprovider/providers/aws/aws_loadbalancer.go#L658

If the VPC has multiple CIDR blocks associated, and the worker nod

[2019-01-16 09:05] erks commented on #72957
@kubernetes/sig-aws-bugs

[2019-01-16 09:33] stewart-yu commented on #72297
@dims :+1:
you can go head

[2019-01-16 09:35] mourya007 commented on #64751
@Fedosin @dims  I would like to work on it, if this is still persist.

[2019-01-16 09:42] mleneveut commented on #63726
Any update on this ?

I need my pods to trust a self-signed certificate for our dev environments. I tried to add the ca-cert to my pod and run update-ca-certificates but I can't make it work.

Any help would be appreciated :)

[code]

[code]

In the Node's log I got these errors when calling an https request to a service in the same namespace :
[code]

[2019-01-16 10:01] whs-dot-hk opened #72960 "volumeMount to user volume cause error"
Docker image: https://hub.docker.com/r/apache/nifi/

docker compose not work also

[code]

**What happened**:
Error as above

**What you expected to happen**:

Can start nifi

**How to reproduce it (as minimally and precisely as possible)**:
nifi-statefulset.yaml
[code]

docker-compose.yaml
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2019-01-16 10:10] Random-Liu commented on #44976
@StevenACoffman Sorry, just saw your comment. Here is the document https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/kubelet-cri-logging.md.

And feel free to ping me on slack if you need me next time. :) Too many github notifications everyday. :P

[2019-01-16 10:20] fasaxc commented on #72236
@emptywee did you happen to switch from IPVS to iptables mode without rebooting?  I'm wondering if there was an old kube-ipvs device hanging around to give the IPVS behaviour.  I don't have a rig handy to check the iptables behaviour but I thought I'd seen that traffic get dropped before.

[2019-01-16 10:35] loburm commented on #55725
I believe this issue was fixed long time ago.

/assign @bmoyles0117 could you confirm it?

[2019-01-16 10:51] #70143 closed

[2019-01-16 11:00] tnozicka commented on #56071
/cc @kubernetes/sig-autoscaling-pr-reviews ^ we are condemned to pooling with such interface

[2019-01-16 11:40] BSWANG commented on #72482
@resouer  @Random-Liu @yujuhong Thanks for reply.
Following is our testcase to reproduce this issue:
The test cluster has 5 node on aliyun ECS(like EC2). Three 4C8G machine as master node, Two 96C384G as worker node.
Firstly, We create 2 deployment running on the worker node. One deployment is http server pods. Another is siege pods to produce network stress to http server deployment. Those stress

[2019-01-16 11:48] ghouscht commented on #72485
Unfortunately this was not mentioned in the release notes (or I missed it), got hit by this too.
1.13.2 is affected too, would be good for me to see this getting fixed in 1.13.3

[2019-01-16 12:00] rtheis commented on #72925
@Huang-Wei the `Node` info is still kept in etcd.  And the node keeps the same spec, IP and name as it had before.  The reload does the following:

1. Cordon and drain the node
2. Destroy the VM
3. Provision the VM again with the same spec
4. Uncordon the node

[2019-01-16 12:32] gunalanb opened #72961 "Horizontal pod autoscaling"
Hi Team,
I am new to K8s and I tried to test the HPA but getting below error,

root@kube-master:~# kubectl get hpa
NAME         REFERENCE               TARGETS         MINPODS   MAXPODS   REPLICAS   AGE
php-apache   Deployment/php-apache   <unknown>/50%   1         10        0          14s
root@kube-master:~# kubectl get hpa
NAME         REFERENCE               TARGETS         MINPODS   MAXPODS

[2019-01-16 12:59] ismailbaskin commented on #62156
+1

[2019-01-16 13:09] sdake commented on #69264
@keyosk cluster names are not always unique, however, the calling function has an ARN which could replace the namespace used in this 4 line function...

[2019-01-16 13:22] warmchang commented on #67113
Hi, is there any plan to deprecate the Initializers?

[2019-01-16 13:58] wgliang opened #72966 "scheduler_perf testing fail for Recorder is nil"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:
I0116 21:50:32.171316    3959 wrap.go:47] GET /healthz: (1.0472ms) 500
goroutine 2352 [running]:
k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/server/httplog.(*respLogger).recordStatus(0xc001fa7110, 0x1f4)
	/Users/wangguoliang/Documents/mos/src/k8s.io/kubern

[2019-01-16 13:59] wgliang commented on #72966
/sig testing
/sig scheduling

[2019-01-16 13:59] wgliang commented on #72966
/assign

[2019-01-16 13:59] liggitt commented on #72960
a volume mount shadows any existing content at that location

Only the content from the defined volume is available at the mounted location in the container.

/close

[2019-01-16 13:59] #72960 closed

[2019-01-16 14:02] liggitt commented on #72936
is this reproducible with 1.11+?

https://github.com/liggitt/kubernetes/blob/master/staging/src/k8s.io/kube-aggregator/pkg/apiserver/resolvers.go#L49-L63 is the implementation that resolves to cluster IPs

[2019-01-16 14:05] liggitt commented on #72954
the test failure seems related to the PR that is being tested

no other flakes have been observed: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestBindAPIUpdate

[2019-01-16 14:09] guocaifeng opened #72968 "kubeadm init warning Operating System: Kylin 4.0.2(arm64)"
How to solve this problem?

This is error info:

Jan 16 21:52:49 greatwall-os dockerd[1670]: time="2019-01-16T21:52:49.798808940+08:00" level=warning msg="Seccomp is not enabled in your kernel, running container without default profile."
Jan 16 21:52:49 greatwall-os kubelet[22767]: E0116 21:52:49.815876   22767 kubelet.go:2266] node "greatwall-os" not found
Jan 16 21:52:49 greatwall-os kubelet[227

[2019-01-16 14:36] pohly commented on #34059
/reopen

PR #72830 fixed some issues, but not all. PR #72728 is still open.

[2019-01-16 14:37] cofyc commented on #72954
I've run it against latest master locally and it may fail.

[2019-01-16 14:49] LilyaThebti opened #72969 "mariadb pod stuck at Init status caused by unmounted volume mysql-data"
Hello, i'm using kubrnetes 1.9.5 with openstack-helm on top of a kubespray cluster, my mariadb pods cannot run and stay at `Init:0/2` state. my rbd provisioner is ceph.

here are the things i did to debug:
[code]
also, when i describe the pod i get this:
[code]
so  the error is related to this:
[code]
i tried to get the logs related to the pod:
[code]

any idea why is it failing to mount the volum

[2019-01-16 14:50] LilyaThebti commented on #72969
/sig storage

[2019-01-16 14:51] dims commented on #72954
@cofyc @liggitt - i can recreate it with `-race` https://paste.fedoraproject.org/paste/XT1OW8CqbdFJSOLbx-h2eA/raw

[2019-01-16 14:52] GregSilverman commented on #72826
I put the dnstools pod on same as one of the coredns pods last night. It was working fine then and is still now:

[gms@thalia0 ~]$ kubectl exec -ti dnstools -- dig @10.96.0.10 google.com

[code]

Any suggestions for next steps in isolating where the problem may be? Thanks!

[2019-01-16 15:11] chrisohaver commented on #72826
Could be this long standing issue ... https://github.com/kubernetes/kubernetes/issues/56903
There are various workaround in that issue, some work for some people, some do not.

[2019-01-16 15:12] bgrant0607 commented on #30558
@irvifa Does Helm support configmap and secret generation?
https://github.com/helm/helm/blob/master/docs/charts_tips_and_tricks.md

Since in order to trigger a rolling update and to preserve the ability to rollback one needs to generate a new configmap, the recommended approach is to generate configmaps with unique names, such as via the append-hash mechanism. kustomize supports this use case.

ku

[2019-01-16 15:12] #30558 closed

[2019-01-16 15:18] bgrant0607 commented on #14040
A flag on create would be the simplest approach to this.

https://github.com/kubernetes/kubernetes/issues/30558#issuecomment-331342865

[2019-01-16 15:18] bgrant0607 commented on #14040
cc @seans3 @monopole

[2019-01-16 15:41] matthyx commented on #27114
Should I submit a talk for Kubecon Europe about the need of a solution for slow starting containers?

[2019-01-16 15:41] soltysh commented on #71975
@pehlert can you check if they have `ownerReferences` set, or what is their value?

[2019-01-16 15:47] dims commented on #27114
Go for it @matthyx !

[2019-01-16 15:48] pehlert commented on #71975
@soltysh There doesn't appear to be any `ownerReference` set.
This is the full yaml description of one of the pods:

[code]

[2019-01-16 16:14] furagu commented on #22368
Funnily enough, we have recently open-sourced our take on the problem, the [Kubernetes Deployment Restart Controller](https://github.com/xing/kubernetes-deployment-restart-controller).

The difference from Reloader @kahootali mentioned is that our implementation discovers ConfigMaps and Secrets referenced in Deployments on its own. It basically has just one configuration option. You set a specific

[2019-01-16 16:34] war-turtle commented on #72757
@alexbrand @neolit123  @MrHohn
I think this issue should be marked with help-wanted and good-first-issue

[2019-01-16 16:37] liggitt commented on #61656
I can't think of a good reason for this degree of freedom... would defer to sig-node on deprecating and removing it

[2019-01-16 16:38] war-turtle commented on #72757
/good-first-issue /help

[2019-01-16 16:41] astrieanna commented on #69904
/assign @astrieanna
/assign @benmoss

[2019-01-16 16:50] fasaxc commented on #72236
@emptywee that's odd then, does the service's IP show up in `ip addr` on the host?  Is it the the host that you're able to reach (service traffic typically gets forwarded to the default gateway if  kube-proxy's rules get missed)?

[2019-01-16 17:06] #67226 closed

[2019-01-16 17:06] #61142 closed

[2019-01-16 17:18] johngmyers commented on #60535
/remove-lifecycle stale

[2019-01-16 17:24] idealhack commented on #72758
Thanks for reporting this!

You can link to the code block like this: https://github.com/kubernetes/kubernetes/blob/bd5a4ccfc3d3e0cfa1a9099180526c2237aabec8/pkg/controller/namespace/deletion/namespaced_resources_deleter.go#L186-L188

By looking at the `OWNERS` file, we'd better let sig-api-machinery know about this.

/sig api-machinery
@kubernetes/sig-api-machinery-bugs

[2019-01-16 17:31] kfox1111 commented on #22368
Can it do snapshots? I really want all pods in a RS to always have the same config. During upgrades and rollbacks.

[2019-01-16 17:39] mtaufen opened #72975 "Several klog flags are not recognized by kube-proxy"
**What happened**:
When trying to configure `kube-proxy` with the `--log-file` option, I got `error: unknown flag: --log_file`. I then tried every flag registered in `klog.InitFlags`, and noticed that several flags are not recognized:

| Flag Name | Recognized |
| --- | --- |
| "log_dir" | no |
| "log_file" | no |
| "logtostderr" | yes |
| "alsologtostderr" | yes |
| "v" | yes |
| "skip_headers" |

[2019-01-16 17:39] khogeland commented on #72936
That resolver is also present in 1.9, so I assume so, but let me see if I can repro this on 1.11+.

[2019-01-16 17:49] wojtek-t opened #72976 "gce-scale-performance regressed on pod-startup-time"
gce-scale-performance regressed on pod-startup-time (there is very high flakiness now).

@mm4tt will provide more details on that tomorrow,

This happened somewhere between runs 283 and 288 (there is strong hypothesis that between 283 and 284, but I'm not 100% convinced)

[2019-01-16 17:53] hoegaarden commented on #72871
I did some more tests. I think it is not possible to do something like that only with setting `Depends` and other fields on the packages. It might be possible to do something like this via setting up [pinning](https://manpages.debian.org/stretch/apt/apt_preferences.5.en.html#The_Effect_of_APT_Preferences). However packages [*should not override local administrator choices*](https://lintian.debian.

[2019-01-16 17:54] liggitt commented on #67113
yes, opened https://github.com/kubernetes/kubernetes/pull/72972 and added to [sig-apimachinery meeting agenda](https://docs.google.com/document/d/1x9RNaaysyO0gXHIr1y50QFbiL1x8OWnk2v3XnrdkT5Y/edit#heading=h.rcsstt379k5w) today

[2019-01-16 18:02] emptywee commented on #72236
@fasaxc yeah it could be the case, as we have BGP routing set up so services and pods IP space is routable in our network.

[2019-01-16 18:09] wojtek-t commented on #72976
I actually think that there might have been more regressions in the meantime

Looking into perf-dash, the interested graphs to look into are:
- latency of "patch node status"
- density request count of "pod status PUT"
- latency of "pods delete"
- latency of "get pods in namespace"

I think the first step would be to understand the difference in number of "pod status PUT".

But I tend to think now

[2019-01-16 18:09] wojtek-t commented on #72976
@shyamjvs

[2019-01-16 18:18] arianmotamedi commented on #61486
We have the same exact issue. The DHCP domain is set by our organization's admin at the time of VPC creation - we can't change it. We also can't deploy the cluster in a different VPC that's not peered with the rest of the company network.

[2019-01-16 18:29] gnufied opened #72977 "Max Attach volume predicates unit tests are broken"
They always use EBS volumes for testing other volume types.

[2019-01-16 18:30] dims commented on #72975
@mtaufen looks like the `_`(s) get turned into `-`

[code]

[2019-01-16 18:48] wojtek-t commented on #72479
(a)

@bsalamat @k82cn - I would like to try to start converging on that.
While I personally am not fully convinced, I can see you arguments about necessity for generic "PodAffinity" feature. So let's skip this for now.

This is less of an issue, because PodAffinity is computed only if a given pod is using that feature.
So that doesn't impact pods that don't use it, which means I'm less concerned a

[2019-01-16 19:00] Random-Liu commented on #72482
@BSWANG Yeah, I can see how frequent container state change can cause this issue. The number is very useful, thanks a lot!

[2019-01-16 19:07] zacharya commented on #72790
Ok, thanks for the follow up.  This seems to be an issue brought about by our specific setup and not by the bootstrapping process itself.

[2019-01-16 19:07] #72790 closed

[2019-01-16 19:17] GregSilverman commented on #72826
Symptoms are there when I move dnstools to a non-coredns node:

[code]

I'll poke around as per recommendations on linked issue. Let's hope for the best!

[2019-01-16 20:03] waynr opened #72985 "[sig-network] DNS Conformance test case non-determinism"
**What happened**:
I deployed Kubernetes v1.11.5 and v1.13.0 using kubespray.

After doing this, I ran conformance tests using [heptio's kube-conformance image](https://console.cloud.google.com/gcr/images/heptio-images/GLOBAL/kube-conformance) (v1.11 and v1.13, respectively.

When I ran the conformance tests, the following two test cases failed after a 10 minute timeout period:

* https://github.c

[2019-01-16 20:32] waynr commented on #72985
Whoops looks like I forgot to include the e2e test output. Here are some relevant snippets:
Test summary:
[code]

All output from one of the test cases:
[code]

So you can see it's just repeatedly trying to get files from the pod (you have to look at the code to see it's failing to specify which container in the pod).

[2019-01-16 20:38] mtaufen commented on #72975
Shouldn't the normalize func correct for this?

[2019-01-16 20:42] meringu commented on #30518
I don't think the ALB ingress controller addresses all use cases for ALB support in Kubernetes.
- We currently use nginx-ingress (alb-ingress can not be used, as it has a different annotation API).
- Currently use an ELB with ACM SSL termination (NLB cannot be used to terminate SSL)
- We require http2 and WebSocket support (Cannot use ELB with proxy protocol on SSL backends https://docs.aws.amazon

[2019-01-16 20:50] dims commented on #72985
/area conformance

[2019-01-16 21:38] pires commented on #61937
It seems there is now a way to compile the kubelet without kmem accounting https://github.com/kubernetes/kubernetes/pull/72114

[2019-01-16 21:48] gnufied opened #72988 "Allow volume limits to be configured via openstack.conf"
We merged https://github.com/kubernetes/kubernetes/pull/72980 to allow configurable volume limits for Cinder. But @dims proposed adding such a limit to openstack.conf as well, among other things this will enable us to support node specific limits more easily - https://github.com/kubernetes/kubernetes/issues/69280

/sig openstack
/sig storage
/sig scheduling

[2019-01-16 21:50] gnufied commented on #72988
/assign

[2019-01-16 21:52] gnufied commented on #72988
cc @ravisantoshgudimetla

[2019-01-16 21:57] it-praktyk opened #72990 "kubectl v1.13.2 is not available at the Google cloud storage"
**What happened**:
When I try to download the newest kubectl tool using the command described in the documentation https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-kubectl-binary-using-curl error is returned

[code]
It looks like the file is not correctly stored at the Google cloud.

**What you expected to happen**:
The binary kubectl file will be retrieved.

**How to reproduce it (

[2019-01-16 21:58] gnufied commented on #72988
/kind feature

[2019-01-16 21:58] it-praktyk commented on #72990
/sig release
/sig documentation

[2019-01-16 22:04] mikkeloscar opened #72991 "Using subPath with hostPath results in wrong mounting"
**What happened**: We are running [kubelet from a rkt container on Container
Linux](https://github.com/zalando-incubator/kubernetes-on-aws/blob/a1eb8393e378aed8923b08822c32a50fa4d09bce/cluster/node-pools/worker-default/userdata.clc.yaml#L130-L193) (ignore the v1.11.6 kubelet version, this was also tested on `v1.13.2`), and when creating a pod which specifies a `subPath` for mounting a `hostPath` t

[2019-01-16 22:04] mikkeloscar commented on #72991
/sig storage

[2019-01-16 22:19] astrieanna commented on #69904
Hey @PatrickLang, I have a couple questions about the test cases needed here.

By "host mapped volume", do you mean [hostpath](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath)?

After reading through the[ volume docs page](https://kubernetes.io/docs/concepts/storage/volumes), I'm still not sure how to mount a volume with different permissions in different containers. Could you point

[2019-01-16 23:02] dturn opened #72996 "External metric name does not work with uppercase letters"
**What happened**:
HPA external metric names with uppercase letters do not work.

**What you expected to happen**:

I expect that metric names with upper case letters will work.

**How to reproduce it (as minimally and precisely as possible)**:

Make sure that the metric is available:
[code]

Deploy an app with a minimal HPA:

[code]

It fails where the relevant part of the error is `no metrics re

[2019-01-16 23:04] dturn commented on #72996
/sig autoscaling

[2019-01-16 23:41] dims commented on #61937
@pires looks like we don't have a way to specify tags in our build harness, we may need something like this https://github.com/kubernetes/kubernetes/pull/72998

[2019-01-16 23:59] #72654 closed

[2019-01-17 00:15] CharlyF commented on #72996
@MaciekPytel, interesting - I am having the same issue but with `:` in labels.
Do you think the community would be interested in extending the regex to support `/` and `:` ?

With regards to your solution, have you considered using the annotations of the HPA to specify values that would otherwise not be supported ?

[2019-01-17 00:31] andyzhangx commented on #63051
/reopen

[2019-01-17 00:33] andyzhangx commented on #69904
@astrieanna It's `EmptyDir` test case.
Currently when mounting windows a windows dir, `ro` options is not respected. Need to find a way to make a directory as ReadOnly.
So this case may be dependent on https://github.com/kubernetes/kubernetes/issues/63051

[2019-01-17 00:36] MaciekPytel commented on #72996
It's similar issue with labels - since the whole mechanism is based on Kubernetes label selector it must obey rules defined for those: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set.

I don't expect anyone will agree to change how Kubernetes labels work just for HPA, so the only way to get different characters would be to use a different mechanis

[2019-01-17 01:01] orestisf commented on #72468
@keiransteele that's what I ended up doing too, and I haven't noticed anything broken for about at least a week or so.

[2019-01-17 01:01] #72468 closed

[2019-01-17 01:15] #72122 closed

[2019-01-17 01:46] k82cn commented on #72925
What's the taint/toleration accordingly?

[2019-01-17 02:06] Reamer commented on #66437
/remove-lifecycle stale
Not tested, but should be still present.

[2019-01-17 02:13] timchenxiaoyu opened #73000 "container_fs_writes_bytes_total is 0"
kuberntes 1.11.5

https://github.com/google/cadvisor/issues/2148

[2019-01-17 02:15] timchenxiaoyu commented on #73000
/sig  Node

[2019-01-17 02:21] rtheis commented on #72925
@k82cn there were no taints added to the node during this process.  The pods are part of a deployment with only basic tolerations provided by Kubernetes.  Deleting the pod will get it scheduled even though the taints and tolerations are unchanged.  Simply restarting the scheduler leader will get the pod scheduled as well.

[2019-01-17 02:47] celiawa opened #73002 "Not getzone for vsphere cloud provider if users don't want to get zone/region"
#

**What would you like to be added**:
Hope that if user doesn't need to get zone for vSphere Cloud provider,  it won't trigger  the list attached tags action.

That is if users don't provider [Labels] field, the it will not try to query the zones.

[Global]
       ...
[WorkSpace]
       ...
[Network]
       ...
[Labels]
       zone = "k8s-io-zone"
       region = "k8s-io-region"

If users don't

[2019-01-17 02:49] gifthh1986 commented on #73002
/sig vmware

[2019-01-17 02:54] celiawa commented on #73002
@jiatongw  Hi, I saw you submitted this PR https://github.com/kubernetes/kubernetes/pull/66795. Could you please help to look at my issue request. Thanks.

[2019-01-17 03:16] #67534 closed

[2019-01-17 03:44] #72840 closed

[2019-01-17 03:47] Falconx1000 opened #73004 "DNS requires trailing '.' to resolve hosts outside of local network"
I have a Kubernetes cluster setup using rancher 2.0 to provision the cluster on bare-metal nodes. DNS lookups inside the cluster work fine as well as lookups for hosts on the local network. All lookups are done in a test pod running on the cluster.

bash-4.4# nslookup kubernetes #Kubernetes DNS test
Server:         10.43.0.10
Address:        10.43.0.10#53

Non-authoritative answer:
Name:   kuberne

[2019-01-17 03:54] fsunaval commented on #67118
@DylanBLE Did you figure out a solution to your problem? I'm facing a similar challenge and trying to gather all available info.

[2019-01-17 04:10] Rajat-0 commented on #69687
I would like to work on this if Sig leads agree to implement this.

[2019-01-17 04:10] truongnh1992 commented on #72915
Could I handle this issue?

[2019-01-17 05:01] bgrant0607 commented on #57659
cc @bowei @justinsb

[2019-01-17 05:14] ash2k commented on #22368
Our tool [Smith](https://github.com/atlassian/smith) also solves this problem. Not only for `Deployment` but also for `ServiceInstance` from Service Catalog.

[2019-01-17 05:17] hogepodge commented on #72988
What would be the extent of the modification? It must not break current compatibility, and the in-tree provider is scheduled for removal this year. I'm ok with it as long as existing users aren't broken by it.

[2019-01-17 05:52] BDague opened #73006 "Bad default config file for arch linux installations"
**What happened**:
-Kubelet wouldn't start.
-I looked through the logs, found a strange "command not found error", followed by the name of the config file (/etc/kubernetes/kubeconfig)
Here's the offending line:
KUBELET_KUBECONFIG=/etc/kubernetes/kubelet.kubeconfig

**What you expected to happen**:
The line should look like this:
KUBELET_KUBECONFIG="--bootstrap-kubeconfig /etc/kubernetes/kubelet.ku

[2019-01-17 06:39] vllry commented on #72985
You appear to be correct. I'm having trouble understanding the behaviour of `client.CoreV1().RESTClient().Get()`.

[2019-01-17 06:55] jiatongw commented on #73002
@celiawa Hi, thanks for the issue.  Do you have a valid vCenter license?

[2019-01-17 07:01] krmayankk commented on #72593
What if we made the scheduler aware of these node capabilities ? Then the scheduler will only choose one of those 5 nodes only.

Agree, although thats a question for @derekwaynecarr . But it seems you are suggesting that the scheduler become those node capabilities aware so that it never ever does that, right ?

[2019-01-17 07:30] Pingan2017 commented on #71975
same issue in my cluster

[2019-01-17 07:36] BDague commented on #73006
/sig bugs

[2019-01-17 07:48] zhangxiaoyu-zidif commented on #55045
This PVC has no controlledRef. but we can insert statefulset or other
controller in it.

Klaus Ma <notifications@github.com> 于2019年1月17日周四 下午2:57写道：

[2019-01-17 08:07] naeemkhan12 commented on #32266
do we have any example to test rbd-nbd with k8s?

[2019-01-17 08:09] JishanXing commented on #72991
Hi，

I followed your step but cannot reproduce this issue, please confirm whether there is anything I missed.
1) the pod
apiVersion: v1
kind: Pod
metadata:
  name: test-subpath-hostpath
  labels:
    app: test-subpath-hostpath
spec:
  containers:
  - name: nginx
    image: **ubuntu**
    **command:
        - sleep
        - "3600"**
    volumeMounts:
    - name: data
      mountPath: /data
      s

[2019-01-17 08:12] JishanXing commented on #72991
Hi，

I followed your step but cannot reproduce this issue, please confirm whether there is anything I missed.
1) the pod
<pre><code>
apiVersion: v1
kind: Pod
metadata:
  name: test-subpath-hostpath
  labels:
    app: test-subpath-hostpath
spec:
  containers:
  - name: nginx
    image: ubuntu
    command:
        - sleep
        - "3600"
    volumeMounts:
    - name: data
      mountPath: /data

[2019-01-17 08:13] JishanXing commented on #72991
My version

 kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1+icp", GitCommit:"90febef3a98de5efb2e1248525e24a57e01ad386", GitTreeState:"c
lean", BuildDate:"2018-09-04T08:03:44Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bd

[2019-01-17 08:16] mikkeloscar commented on #72991
Your test looks correct, but how is `kubelet` running in your setup? I suspect it's related to us running it in a rkt container which makes `subPath` do the wrong thing.

[2019-01-17 08:22] JishanXing commented on #72991
I am running kubectl locally but not in container, maybe that's the key difference.

[2019-01-17 08:35] sagarkrsd opened #73011 "RollingUpdate for daemonset got stuck due to one of the daemonset pods being in unknown state"
**What happened**:
RollingUpdate for daemonset got stuck due to one of the daemonset pods being in unknown state

**What you expected to happen**:

We expected the rolling update to select a pod which is not in **unknown** state or atleast if it selects a pod with **unknown** state then it should have some default timeout so that it can select one of the other pods for update.
However, when we del

[2019-01-17 08:37] sagarkrsd commented on #73011
/sig apps

[2019-01-17 08:44] furagu commented on #22368
No, it cannot. I imagine the snapshot idea should either be supported natively or be implemented on top of custom resources.

We try to make every config change non-breaking, and thus avoid bringing the apps down in general. You add new config values that current code does not know about, then you update the code to use new config values, and then you remove obsolete config values. In some sense i

[2019-01-17 08:58] k82cn commented on #55045
Just insert it instead of KEP :)

[2019-01-17 08:59] fabriziopandini commented on #68304
/close due to lack of updates
Feel free to reopen if necessary

[2019-01-17 09:08] ethereal-sandeep commented on #72915
@rus4 It would be great if i could get to work on this.

[2019-01-17 09:12] k82cn commented on #55045
Tested with my CRDs (k8s v1.2.3), the PVC will be removed after owner deleted.

@kubernetes/sig-storage-misc , is there any case `controlledRef` can not cover? And what's your suggestion for that?

[2019-01-17 09:13] hawran commented on #72747
Thank you,
haw

[2019-01-17 09:14] ethereal-sandeep commented on #71464
@pbarker I would like to work on it, if no one working on it.

[2019-01-17 09:23] rus4 commented on #72915
yes please i need all the help i can get , i am also looking at the alternative way of building that uses docker containers using make quick-release this seems to get further but also gets to a point where it stalls with the process going to nil memory utilisation so both approaches seem problematic for me.

[2019-01-17 09:24] hex108 opened #73014 "[Proposal] Add webhook validation for CRD validation"
**What would you like to be added**:

When creating CRD, we could add a webhook for CRD validation in addition to OpenAPI v3 schema, e.g.

[code]

When users create CRs, apiserver sends it to the webhook for validating. And webhook returns `true` or `false`. The webhook could be implemented in corresponding CRD controller.

**Why is this needed**:

I'd like to take our use case for example.

We cr

[2019-01-17 09:30] kinglionsoft commented on #52783
same issue on ubuntu 18.04

[2019-01-17 10:05] pontiyaraja commented on #72691
/assign @pontiyaraja

[2019-01-17 10:19] rdxmb commented on #24744
This seems also to be the case when not creating from file but creating from a CI-Pipeline like:

[code]

[2019-01-17 10:23] matthyx commented on #27114
Proposal submitted, wish me luck :-)

[2019-01-17 10:23] #67584 closed

[2019-01-17 10:38] mourya007 commented on #71004
@awly @mikedanese  What  we need to in this library https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/util/pkiutil

[2019-01-17 10:50] wenjun93 commented on #69625
@rootfs @rzarzynski @kubernetes/sig-storage is there a preference of which way to use, krbd or rbd-nbd, which should be the suggested way from the reliability aspect?

[2019-01-17 10:52] mm4tt commented on #72976
I believe that the issue boils down to periods of slowness in the api server. Some examples and logs below:

Run: **294**
Pod: **density-latency-pod-3779-qvspw**
e2e startup latency: **9.885406939s**

Logs:
[code]
Interesting lines are the three last ones.  At 19:04:54.753184 the second container was started and then kublet wants to report pod as started in the api server. In order to do so it iss

[2019-01-17 11:10] vikaschoudhary16 commented on #72828
/cc

[2019-01-17 11:12] forsberg commented on #64783
I'm imagining this is something that could be implemented as an [authentication plugin](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins) (new in K8S 1.11).

To save on work, this plugin could talk to a GnuPG gpg-agent, that talks to a GPG-compatible smartcard, for example a Yubikey.

[2019-01-17 11:27] puetzp opened #73018 "Add proxy flag to kubectl apply/create"
**What would you like to be added**:

I would like to request an additonal flag to `kubectl apply` and (possibly) `create` to allow a user to download manifests from remote sources when they sit behind a proxy and cannot or do not want to manually set an environment variable.

**Why is this needed**:

I have found many suggestions in stackoverflow (etc) on how to handle a cluster setup sitting beh

[2019-01-17 12:07] alban commented on #60914
We were debugging an issue related to timeouts on a test cluster: we have a webhook admission controller with `failurePolicy: Ignore` on resources of kind `namespaces` (among other kinds). Due to a bad installation, the webhook always timeouts. The cluster was slow but otherwise working.

Then, we had the controller manager election that started at some point. It works by patching the annotations

[2019-01-17 12:14] metalmatze opened #73019 "Expose metrics for CSI"
**What would you like to be added**:
In previous versions of Kubernetes there have been the `kubelet_volume_*` metrics.
With the introduction of CSI these metrics are no longer populated and I currently don't see any metrics that can replace these from the CSI side.

**Why is this needed**:
We want to alert on different CSI related metrics similar to `kubelet_volume_stats_capacity_bytes` and `kube

[2019-01-17 12:22] naeemkhan12 opened #73020 "Ceph rbd: failed to mount volume with rbd-nbd"
**What happened**:
I tried to create ceph persistent volume but following error occurred.
[code]

**What you expected to happen**:
I have some feature-set enabled on rbd image (e.g exclusive-lock, journaling) which are currently not supported by KRBD, so the mapping with `rbd` fails with **feature set mismatch** which is expected but the plugin should try `rbd-nbd` tool (which successfully maps, t

[2019-01-17 12:38] therc commented on #72726
It failed five out of five times for me on https://github.com/kubernetes/kubernetes/pull/72993 yesterday

[2019-01-17 13:15] denkensk opened #73021 "data race in TestPriorityQueue_AssignedPodAdded"
**Which jobs are failing**:
pull-kubernetes-bazel-test

**Which test(s) are failing**:
bazel test //pkg/scheduler/internal/queue:go_default_test

**Since when has it been failing**:

**Testgrid link**:
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/72677/pull-kubernetes-bazel-test/72822/

**Reason for failure**:
WARNING: DATA RACE
Read at 0x00c000230db0 by goroutine 47:
  runtime.

[2019-01-17 13:15] denkensk commented on #73021
/sig testing
/sig scheduling

[2019-01-17 13:43] gaeshi commented on #60134
Same here.

[code]

[code]

[2019-01-17 13:47] yue9944882 commented on #73014
doesn't [validatingadmissionwebhook](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#validatingadmissionwebhook) cover that use-case?

[2019-01-17 13:52] ianchakeres commented on #32266
@naeemkhan12 here is a [blog post](https://engineering.salesforce.com/mapping-kubernetes-ceph-volumes-the-rbd-nbd-way-21f7c4161f04) that I wrote last year after the code was merged on [using rbd-nbd with k8s](https://engineering.salesforce.com/mapping-kubernetes-ceph-volumes-the-rbd-nbd-way-21f7c4161f04).

[2019-01-17 13:56] soltysh commented on #71975
Can you check whether there was an ownerReference set that will look like:
[code]

[2019-01-17 13:58] wojtek-t commented on #72976
Re above:

1, The logs from apiserver are interesting. The GET requests there have "resourceVersion=0:, which means they are served from cache - they are not even hitting etcd.
So (even if there are problems in etcd), they are not the only ones.

2. pprof aren't very useful for debuggin - they are giving more "generic picture". So it's not surprising they aren't helpful here.

3. @mm4tt - couple t

[2019-01-17 14:03] gunzl1ng3r commented on #65835
@AntonFriberg would this "solution" work, if the secret had multiple keys?

[2019-01-17 14:13] mm4tt commented on #72976
I'm working on a script to analyze api-server log to answer the questions from 3. Will post the results here once I have them.

[2019-01-17 14:14] mborsz commented on #72976
We tried to debug this with @mm4tt

pod_startup graph shows that the increase of latency happened between 284 and 285.
![wzslj1kwk8l](https://user-images.githubusercontent.com/2559168/51323904-b27dfc00-1a69-11e9-9202-e1a46f403037.png)

This perfectly correlates with
![7oxcjwennt0](https://user-images.githubusercontent.com/2559168/51323982-dc372300-1a69-11e9-8813-cc8431b5cd0e.png)

Between 284 and

[2019-01-17 14:22] dims commented on #72726
@therc if you notice, it's not a mandatory job, which means even if this job fails fails, the PR itself is merge-able. Looks like the daemonset test is very problematic. will have to look

[2019-01-17 14:30] junneyang commented on #30337
why close?

[2019-01-17 14:41] pehlert commented on #71975
@soltysh Could you quickly point out how I would check that? I tried to look it up, but couldn't find anything useful. Thank you!

[2019-01-17 14:42] bjhaid commented on #72593
While allowing kubelet fail fast will solve this particular problem, it does not prevent future or existing edge cases where the scheduler schedules a pod to a node that gets rejected by kubelet.

[2019-01-17 14:57] jkemp101 commented on #65013
This just surprised us also. I understand the technical reasons behind it but the command name `cordon` and associated documentation is misleading. To me it isn't intuitive that the command `cordon` does not remove compute (pods) but does remove some networking. I would expect cordon to keep new pods from getting scheduled to it and keep it from getting added to **new** services/ELBs/etc.  The `dr

[2019-01-17 15:02] soltysh commented on #63371
This is still a problem.
/remove-lifecycle rotten

[2019-01-17 15:25] RobertKrawitz opened #73025 "Daemon set [Serial] should run and stop complex daemon test in pull-kubernetes-local-e2e-containerized is failing"
**Which jobs are failing**: pull-kubernetes-local-e2e-containerized

**Which test(s) are failing**:Daemon set [Serial] should run and stop complex daemon

**Since when has it been failing**: 2018-01-15

**Testgrid link**: https://testgrid.k8s.io/sig-testing-misc#pull-kubernetes-local-e2e-containerized

**Reason for failure**:
[code]

[2019-01-17 15:46] soltysh commented on #71975
`kubectl get pod -oyaml` and check for the above in the pod's metadata.

[2019-01-17 15:53] olvesh commented on #65013
My main issue is with the docs, and also GKE docs. They should explain this pitfall.  After I got aware of the issue I understand why it works as it does.

A simple workaround is to taint the nodes you are going to rotate first.

[2019-01-17 16:01] pehlert commented on #71975
@soltysh But that's what I did to get the output above? It doesn't have the `ownerReferences` I'm afraid

[2019-01-17 16:02] wojtek-t commented on #72976
Yes - that commit bumped scheduler throughput.

However - I'm not convinced why this would cause such behavior.
In the phase of "scheduling latency pods", we are creating them once per 200ms, so scheduler throughput doesn't matter - we were able to immediately schedule them no matter what the scheduler was. And before creating the first latency pod, we wait for all saturation pods to be successful

[2019-01-17 16:07] michalpiasecki1 commented on #8593
we need more people like this guy

[2019-01-17 17:07] michmike commented on #72900
@alinbalutoiu  i believe you implemented  this functionality. can you please take a look?
cc: @aserdean

[2019-01-17 17:36] inzem77 commented on #66757
It heps me
ceph osd crush tunables legacy
I found the decision to https://developer.ibm.com/recipes/tutorials/integrating-ceph-with-ibm-cloud-private-3-1/

[2019-01-17 17:55] dashpole opened #73031 "[Failing Test] Local Storage Eviction tests on Ubuntu"
**Which jobs are failing**:
node-kubelet-serial

**Which test(s) are failing**:
Local Storage Eviction tests on ubuntu

**Since when has it been failing**:
1/11/2019 13:09

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-node-kubelet#node-kubelet-serial&include-filter-by-regex=Eviction&include-filter-by-regex=LocalStorageEviction

**Reason for failure**:
Not clear yet

cc @yguo0905
did we

[2019-01-17 17:57] dashpole commented on #73031
/sig node

[2019-01-17 17:59] Shnatsel commented on #72961
/triage support
/sig autoscaling

[2019-01-17 18:11] ryanlovett commented on #72841
Thanks @andyzhangx.

[2019-01-17 18:11] #72841 closed

[2019-01-17 18:12] verult commented on #65126
Decided not to pursue this issue for in-tree plugins since it's resolved in the GCE PD CSI driver.

/close

[2019-01-17 18:12] #65126 closed

[2019-01-17 18:18] dashpole commented on #73031
It seems likely this was caused by an ubuntu image update: https://github.com/kubernetes/test-infra/pull/10704

[2019-01-17 18:18] dashpole commented on #73031
I don't know much about what changed in the image, so Ill have to dig in a bit deeper

[2019-01-17 18:23] awly commented on #71004
@mourya007 https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/util/pkiutil has some overlap with the other libraries. It is also kubeadm-specific but has several dependencies in client-go that nobody else uses.

I want to pull anything in client-go that only kubeadm uses into pkiutil.
If stuff in client-go isn't obviously useful to a k8s client (managing a PKI is not, for example) it should land

[2019-01-17 18:37] dims commented on #72726
https://github.com/kubernetes/test-infra/pull/10810 will ensure that all the ci/pull local-e2e jobs use the same cpu/mem so they stop timing out, then we can check if daemonset test issue happens in both local-e2e-containerized and local-e2e or just one of them.

[2019-01-17 18:38] cpuguy83 commented on #70029
/remove-lifecycle stale

[2019-01-17 19:01] bmoyles0117 commented on #55725
This issue should be fixed in the latest version of the container images. I believe we're at 3.*.* at this point.

[2019-01-17 19:06] mwilbz commented on #69678
@khacminh my team just ran into the same issue when trying to use EKS. The AWS CSI driver that is being developed currently supports Kubernetes >=1.12, while EKS only supports up to Kubernetes 1.11. It seems [possible to fork the driver](https://github.com/aws/aws-efs-csi-driver/issues/10) to support 1.11, but we found a better workaround for now.

We were able to set up our nodes to [automaticall

[2019-01-17 19:13] gnufied opened #73036 "Handle recovery from resize failure"
Currently when resize fails of a volume it keeps retrying indefinitely. This leads to two problems:

1. Unnecessary API usage for an action that is not going to succeed (for example when you are out of quota on cloud provider or out of bricks on glusterfs).

2. Sometimes user may want to retry volume expansion with lower value. For example - my current PVC is of 12GB and I tried to expand it to 40

[2019-01-17 19:50] GregSilverman commented on #56903
Hi, an observation:

This issue seems to be getting worse with each upgrade to k8s.

Our cluster started at 1.10.1 and this problem was happening occasionally, so I didn't think anything about it. By the time I upgraded to 1.11.x, it was so bad I had to dig deeper into this and found a solution that worked [modification to coredns.yaml](https://github.com/kubernetes/kubernetes/issues/63900#issueco

[2019-01-17 20:08] mtaufen commented on #72975
For instance, I can pass the flag with an underscore or a hyphen on Kubelet.

[2019-01-17 20:11] waynr commented on #72985
/assign @waynr

[2019-01-17 20:17] MrHohn commented on #53754
Closing this as #72682 is merged.
/close

[2019-01-17 20:17] #53754 closed

[2019-01-17 20:46] mikkeloscar opened #73044 "e2e: Websocket tests not working with HTTPS endpoint using public CA"
**What happened**: When running e2e conformance tests against a `v1.13.2` cluster using a public HTTPS endpoint for the apiserver, you get the following errors:

[code]

**What you expected to happen**:

The API server endpoint is `https://my-apiserver.example.com` so the e2e tests should use `wss://` and connect on port `443` instead of `80`.

**How to reproduce it (as minimally and precisely as

[2019-01-17 20:47] mikkeloscar commented on #73044
/sig testing

[2019-01-17 20:50] jeremywadsack commented on #33766
/remove-lifecycle rotten

Despite @piotr-napadlek's workaround, it feels we should keep this open, @lavalamp, @apelisse, unless there's another issue tracking "move all load-balancer allocated nodePorts into their own section."

[2019-01-17 20:58] mrrandrade commented on #71071
Its here :-P

[2019-01-17 20:58] foxish opened #73045 "Very flaky - [sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stabilityChanges failing in gce-cos-1.11-serial"
**Which jobs are failing**: sig-release-1.11-blocking

**Which test(s) are failing**:  [sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stabilityChanges

**Since when has it been failing**: lots of flakes over a long time

**Testgrid link**: https:/

[2019-01-17 21:00] Quentin-M commented on #56903
It all depends on what issue you are actually seeing. [weave-tc](https://github.com/Quentin-M/weave-tc) works around the TCP conntrack race condition for instance. If your DNS server is just being overwhelmed, it won't help though.

[2019-01-17 21:02] bswartz commented on #73036
I honestly don't see (1) as a problem. This is how everything in kubernetes works.

(2) Is the case that interests me. As long as the actual size doesn't change, it should be legal to "cancel" the resize request by changing the spec size back to the old value. Or as you say, retry a resize with a smaller increment.

I think we also want to think about future compatibility with a volume-shrink feat

[2019-01-17 21:13] skbly7 commented on #72511
I am hitting the same bug as well. Linking other relevant issue here https://github.com/projectcalico/calico/issues/2113, https://github.com/kubernetes/kubernetes/pull/52569, https://github.com/kubernetes/kubernetes/issues/39823

I was investigating more on this and found relevant code in kube-proxy codebase.
The default policy as DROP was handled badly/not-completely earlier leaving UDP unidirect

[2019-01-17 21:18] skbly7 commented on #39823
Due to limitation of state RELATED,ESTABLISHED in FORWARD rule i.e. current implementation, the unidirectional UDP traffic apps won't work. Because packets (except first) aren't ESTABILISHED from iptables's perspective (no reply from endpoint, no handshake).

[2019-01-17 21:19] fedebongio commented on #72876
/assign @mbohlool

[2019-01-17 21:19] fedebongio commented on #72941
/assign @apelisse

[2019-01-17 21:20] sebglon commented on #60987
same error with v1.11.6-gke.0

[2019-01-17 21:20] fedebongio commented on #72944
/assign @caesarxuchao

[2019-01-17 21:21] fedebongio commented on #72996
/assign @logicalhan

[2019-01-17 21:21] fedebongio commented on #73014
/assign @mbohlool

[2019-01-17 21:43] MaciekPytel commented on #73045
@jbartosik I think you know the most about those test by now. Any ideas why it's flaky?

[2019-01-17 22:02] GregSilverman commented on #56903
@Quentin-M, my issue is outlined in gory detail in #72826

[2019-01-17 22:15] mtaufen commented on #72929
I support this.

[2019-01-17 22:31] discordianfish commented on #57660
It's beyond me how this bot is acceptable to anyone. I'm going to just unsubscribe here.

[2019-01-17 23:09] asc-adean commented on #29540
This is occurring to me on a single node AKS deployment.  Interestingly, the `metrics-server` is having the same problems.
[code]

I am creating it via the `az` command.

[code]

[2019-01-17 23:13] danielmapar opened #73049 "Pod containerPort does not match Service targetPort, but application still works properly"
**What happened**: I created a `Pod` with `containerPort: 9999` and a `Service` with `targetPort: 3000`. On that note, my application inside my `Pod` should not work, but I can access it normally.

**What you expected to happen**: Not be able to access the application inside my `Pod`

**How to reproduce it (as minimally and precisely as possible)**:
`client-pod.yaml`:
[code]
`client-node-port.yaml

[2019-01-17 23:23] briantkennedy opened #73050 "Aggregated ClusterRole validation is incompatible with kubectl apply"
**What happened**:

I ran "kubectl apply -f clusterrole.yaml" two consecutive times as given in the example for [aggregated cluster roles](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles).  This results in the rules list being truncated on the second invocation of "kubectl apply" instead of a noop.

clusterrole.yaml
[code]

If I try to remove the 'rules' list,

[2019-01-17 23:26] annapendleton opened #73051 "Add possibility for user to specify directory in vsphere volume creation"
**What would you like to be added**:

Currently, location of the creation of vsphere volumes is hardcoded (see  @https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/vsphere/vsphere.go#L1209). It would be nice to add in the option to store these volumes in a user defined specific location upon creation of the volume - eg kubevols/[user-input-name]/[volume-name].

**Why

[2019-01-17 23:48] jfrederickson commented on #64783
While authentication plugins look useful, I'm not sure this is something that could be implemented that way. `kubectl` expects a cert and key when doing client cert auth, but it won't have the key in the case of a hardware token.

GPG is an option here, though it's not quite the same thing... I'm trying to think about what that auth flow would look like. (The auth plugin system seems to expect you

[2019-01-17 23:59] emptywee commented on #71071
Why it's not there for 1.11? :(

[2019-01-18 00:18] BDague commented on #73006
/sig bug

[2019-01-18 01:10] tsuna opened #73056 "kubectl exec can unexpectedly exit 0"
**What happened**:

A little while after running `kubectl exec -it <pod> bash`, in the middle of running a long command I got kicked out of the `kubectl exec` back into the outer shell, with `kubectl` exiting 0.  The pod didn't restart or anything like that.

**What you expected to happen**:

`kubectl exec` should never exit 0 unless the command it was executing exits 0 itself.

**How to reproduce

[2019-01-18 01:13] amazingandyyy commented on #73049
I bumped into the same issue, it's weird. port 9999 still work even I didn't listen to port 9999.

[2019-01-18 01:37] briantkennedy commented on #73050
/sig api-machinery
/sig auth

[2019-01-18 01:48] bsalamat commented on #72129
Today I was informed of another issue with scheduling CNI daemons when TaintNodesByCondition is disabled. This is general problem with scheduling daemon pods on nodes which are not fully operational yet.
DaemonSet pods have blanket toleration for various node condition taints to ensure that daemons are scheduled on nodes even when the nodes are not fully operational. Disabling TaintNodesByConditio

[2019-01-18 01:53] tsuna commented on #73056
@kubernetes/sig-cli-bug

[2019-01-18 01:54] tsuna commented on #73056
let's try again:

/sig cli

[2019-01-18 02:10] k82cn commented on #72925
Can you share `kubectl get node node_name -o yaml` and `kubectl get pod pod_name -o yaml` ?

[2019-01-18 02:37] PatrickLang commented on #72929
+1

[2019-01-18 02:40] caesarxuchao commented on #57964
In today's semantic, such a namespace selector will exclude namespaced objects whose namespace has no label. I find it confusing if we make it to also exclude non-namespaced objects.

[2019-01-18 02:40] tallclair opened #73058 "Add monitoring for RuntimeClass usage"
[RuntimeClass](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/0014-runtime-class.md) went to alpha in 1.12, but lacks good monitoring coverage. Prior to promoting the feature to beta (currently targeting v1.14), we need to have monitoring for the feature.

/sig node
/kind bug
/area monitoring

[2019-01-18 02:40] tallclair commented on #73058
/assign @haiyanmeng
/milestone v1.14

[2019-01-18 02:44] pkqsun commented on #73002
@jiatongw, we use a trial version of vcenter. Does is matter for this feature?

[2019-01-18 02:50] irvifa commented on #30558
@bgrant0607 I see, thank you for your information then.

[2019-01-18 02:55] #73021 closed

[2019-01-18 03:17] INT-ZC commented on #14232
Well, I met the same issue for both Gafana and InfluxDB (haven't test if other service hace the same issue
My k8s was installed from microk8s

[2019-01-18 05:44] bgrant0607 commented on #69113
@glerchundi Data values in ConfigMaps and Secrets aren't expanded. That's not a bug. You're requesting a new feature. One consequence would be that the data in the ConfigMap would be interpreted differently when referenced as environment variables than when mounted as a volume.

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/expansion.md
https://github.com/k

[2019-01-18 06:07] vainu-arto commented on #72826
@GregSilverman Make sure you are running a version of Calico which contains this PR: https://github.com/projectcalico/felix/pull/1901, it has a workaround/mitigation applied for the kernel NAT race conditions (these have been diagnosed as the cause of DNS problems in our clusters).

[2019-01-18 06:09] jiatongw commented on #73002
@pkqsun Just curious, I didn't aware of this kind of problem before. I can submit a PR, but I am not the owners. Let me contact them first.

[2019-01-18 06:32] naeemkhan12 commented on #73020
It seems like error is in [this line](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd_util.go#L239) where it tries to check the version of `rbd-nbd` tool. When i tried to check the version on k8s node with `rbd-nbd --version` it says

[code]
I have installed rbd-nbd tool with simple `apt-get install rbd-nbd` command and system is ubuntu 16.04.3 LTS.
@ianchakeres can you tak

[2019-01-18 06:44] Huang-Wei commented on #72925
The symptom (esp. "a single pod stuck in pending state") is quite similar as issue #72122. I think why this occurs since v1.12.4 is related the PR #71551 - which was delivered to master branch, and backported to v1.12.4, and it appears to reveal higher chance of racing.

cc/ @bsalamat

Basically we have 2 solutions to fix this:

1. find the real root cause of the racing condition and give fix (I h

[2019-01-18 06:52] erkules opened #73062 "kubectl explain shows wrong/old apiVersion"
[code]

**What happened**:

The version shown in `kubectl explain deploy` shows extensions/v1beta1 instead of apps/v1

**What you expected to happen**:

I'm expecting apps/v1

**How to reproduce it (as minimally and precisely as possible)**:

As shown above

**Anything else we need to know?**:

**Environment**:

- Kubernetes version (use `kubectl version`):

[code]

- Cloud provider or hardware co

[2019-01-18 07:01] erkules commented on #73062
/sig cli

[2019-01-18 07:21] bortek commented on #56903
Update: It has been narrowed down to be coming from updating package of openvswitch. It was working with openvswitch-2.9.0-55.el7fdp.1.x86_64 and when I updated to openvswitch-2.9.0-70.el7fdp.1.x86_64 it stopped working. I rolled back the package and retested and confirmed that it is true. There is a seprate g´bgzilla issue on this for those who is interested. Note that there is a type in comment

[2019-01-18 07:46] mourya007 commented on #71464
@maniSbindra  Thanks, I am starting working on this now.

[2019-01-18 07:47] pohly commented on #69819
/reopen

While using the E2E framework and the storage testsuite out-of-tree should be possible already, work on making this easier continues. For example, the storage testsuites API and implementation is going to change (https://github.com/kubernetes/kubernetes/pull/72434).

[2019-01-18 07:47] pohly commented on #69819
/assign

[2019-01-18 07:55] YoubingLi commented on #73062
It depends on api-version

===  kubectl api-versions
admissionregistration.k8s.io/v1beta1
apiextensions.k8s.io/v1beta1
apiregistration.k8s.io/v1
apiregistration.k8s.io/v1beta1
apps/v1
apps/v1beta1
apps/v1beta2
authentication.k8s.io/v1
authentication.k8s.io/v1beta1
authorization.k8s.io/v1
authorization.k8s.io/v1beta1
autoscaling/v1
autoscaling/v2beta1
autoscaling/v2beta2
batch/v1
batch/v1beta1
cert

[2019-01-18 08:04] brancz commented on #57660
/remove-lifecycle stale

[2019-01-18 09:33] hex108 commented on #73014
Thanks @yue9944882 , I'll try it later.

[2019-01-18 09:54] fejta-bot opened #73067 "pr:pull-kubernetes-e2e-gce flaked 17 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce
 Flakes in the past week: **17**
 Consistency: **96.30%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Timeout | 9 |
| TearDown | 7 |

#### Previously closed issues for this job flaking:
#66703 #67295 #62592 #52216 #68987 #52215 #56736 #54102

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2019-01-18 09:58] YoubingLi commented on #73062
There is typo in the preivous comment

     If api-version is not specified in command line, it is treated as "extensions/v1beta1"
To
    If api-version is not specified in the command line, the command just reutrns the first matching one

There are four versions regarding to Deployment in my cluster such as

      extensions/v1beta1, Kind=Deployment
      apps/v1, Kind=Deployment
      apps/v1bet

[2019-01-18 10:08] pires commented on #61937
@dims indeed, thanks for sharing.

[2019-01-18 10:13] skbly7 commented on #72511
/cc @tmjd for opinion and visibility as current fix is written by him in https://github.com/kubernetes/kubernetes/commit/7c108f595d0acb96210bb3098433f9193fb2e1a5.

[2019-01-18 10:18] ctron commented on #60807
As I was constantly running into this, I automated this with a small shell script:

https://github.com/ctron/kill-kube-ns/blob/master/kill-kube-ns

It fetches the project, fixes the JSON, starts and properly stops "kubectl proxy", …

Thanks to everyone pointing me into the right direction!

[2019-01-18 10:30] val1715 commented on #61406
Get the same issue - Windows 10 + Powershell:
[code]
use MINGW64 bash for win as trick to avoid this problem.
Both variants below work fine for me:
`$ kubectl get po -n monitoring -o jsonpath='{range .items[*]}{.metadata.name}{"\n"}{end}'`

`$ kubectl get po -n monitoring -o jsonpath="{range .items[*]}{.metadata.name}{\"\n\"}{end}"`

[2019-01-18 10:42] namreg commented on #62355
/reopen
/remove-lifecycle rotten

[2019-01-18 10:47] #67329 closed

[2019-01-18 10:59] j-mccloskey commented on #61937
I think I could be seeing this issue in my cluster (`v1.11.6`) with AMIs from `k8s-1.11-debian-stretch-amd64-hvm-ebs-2018-08-17`. (Kernel seems to be `4.9.0-7-amd64`).

Most of my pods are fine, but one in particular performs more writes to disk and it has a memory leak but behaves fine when running outside the cluster. Any advice on if its related to this issue or how to investigate further? Any

[2019-01-18 11:08] namreg commented on #62355
Faced with the same issue

[2019-01-18 11:33] hello2mao opened #73069 "SetInformers not called by Cloud-Controller-Manager for out-off-tree cloudprovider"
**What happened**:
When using in-tree cloudprovider, **[SetInformers](https://github.com/kubernetes/kubernetes/blob/26d58d37a71ecc698259729361484007b45a82ba/staging/src/k8s.io/cloud-provider/cloud.go#L66)** will be called by controller manager, but it does not work for out-off-tree cloudprovider.

[2019-01-18 11:33] hello2mao commented on #73069
/sig cloud-provider

[2019-01-18 11:39] llarsson commented on #60596
If this is closed and there even was a [merged pull request](https://github.com/kubernetes/kubernetes/pull/60653) for this type of functionality, what is the current status? And is [the documentation](https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/) in sync with current status?

[2019-01-18 11:48] #62782 closed

[2019-01-18 11:52] gucki commented on #70047
/remove-lifecycle stale

[2019-01-18 12:07] naeemkhan12 commented on #32266
I actually started from that blog, but the issue is related to ceph version mismatch I have ceph cluster setup having mimic(13.2) version and the client(rbd-nbd) version is jewel(10.2).  After upgrading to rbd-nbd to mimic version the issue is fixed. But as a side not plugin should manage cli change e.g with rbd-nbd (ceph-version 10.2) version check command is
`rbd-nbd map --version`
and in rbd-nb

[2019-01-18 12:17] mm4tt commented on #72976
We think we've found a plausible explanation.

Looking at the apiserver latency/num_requests graphs below we realized that the slowness period occurs directly after the log rotate.

### Run 254
![254](https://user-images.githubusercontent.com/2604887/51385965-19122100-1b21-11e9-8d4e-4130e03cd362.png)

### Run 256
![256](https://user-images.githubusercontent.com/2604887/51385971-1d3e3e80-1b21-11e9-

[2019-01-18 12:40] bhack commented on #63214
Any news on this?

[2019-01-18 12:41] hypnoglow commented on #69676
This query combines container restart and termination reason:

[code]

[2019-01-18 12:44] wojtek-t commented on #72479
What we can do is to document that pod anti-affinity with any topology other than node is deprecated and shouldn't be used.

This feature is not in GA and there is formal deprecation policy. We should document, make it part of release-note and we would be able to remove it after 3 releases:
https://kubernetes.io/docs/reference/using-api/deprecation-policy/
The exact way of how to remove it (how to

[2019-01-18 12:49] #66804 closed

[2019-01-18 12:52] naeemkhan12 commented on #73020
the issue is fixed with `rbd-nbd` version upgrade to latest(mimic).

[2019-01-18 12:52] #73020 closed

[2019-01-18 13:19] umair-akram commented on #71502
Kind of different problem we were upgrading from 1.10.12 to 1.11.6. In our case the PVC is success fully formed and bounded but when one of the pods is scheduled and control plane wants to mount this pvc it fails with No VM found.

[2019-01-18 13:39] jbartosik commented on #73045
All recent failures fail with the following error:

[code]

So the failures happen when testing stabilization after the first scale down ([horizontal_pod_autoscaling.go:125](https://github.com/kubernetes/kubernetes/blob/release-1.11/test/e2e/autoscaling/horizontal_pod_autoscaling.go#L125)). I think this is just resource consumer not being perfect at generating load.

I think this is because resour

[2019-01-18 13:39] jbartosik commented on #73045
/assign @jbartosik

[2019-01-18 13:52] Arslanbekov commented on #57955
We have the same error.
Please confirm, does PR https://github.com/kubernetes/kubernetes/pull/63492 resolve this issue?

[2019-01-18 13:54] pramodhkp opened #73072 "Kubernetes Persistent Volume Expansion fails on Azure Cloud Provider"
**What happened**:

On editing the PVC size, the type is stuck at "Resizing" forever. Noticed panic logs in the controller logs:

[code]

[code]

**What you expected to happen**:

Volume to be resized to the new size.

**How to reproduce it (as minimally and precisely as possible)**:

Increase size of a PVC to the new size on the below mentioned version of the cluster

**Anything else we need to k

[2019-01-18 13:54] dims opened #73073 "Failure cluster [899215f5...] [sig-apps] Daemon set [Serial] should run and stop complex daemon [Conformance] (in ci-kubernetes-local-e2e-containerized)"
### Failure cluster [899215f5b849460d1af2](https://go.k8s.io/triage#{id})

##### Error text:
[code]
#### Recent failures:
[1/18/2019, 7:27:14 AM ci-kubernetes-local-e2e-containerized](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-local-e2e-containerized/2336#sig-apps-daemon-set-serial-should-run-and-stop-complex-daemon-conformance)
[1/18/2019, 6:26:16 AM ci-kubernetes-local

[2019-01-18 13:55] pramodhkp commented on #73072
/sig azure

[2019-01-18 13:55] dims commented on #73073
Same test works fine in ci-kubernetes-local-e2e job - https://testgrid.k8s.io/sig-testing-misc#ci-kubernetes-local-e2e

[2019-01-18 13:56] dims commented on #72726
Logged a specific bug in https://github.com/kubernetes/kubernetes/issues/73073

[2019-01-18 14:00] dims commented on #73073
/assign @jsafrane

/cc @derekwaynecarr

Jan, can you please take a look? failure under containerized kubelet

[2019-01-18 14:14] waynr commented on #72985
I spent a little more time investigating this yesterday and with the help of someone else who had a similar problem came to the conclusion that my k8s installation was incorrectly configured causing 3 of the domain names in the DNS conformance test cases to fail to resolve in both the debian jessie and the debian wheezy test containers for a total of 6/20 results that failed to be retrieved by the

[2019-01-18 14:32] danielqsj commented on #49746
/cc

[2019-01-18 14:40] Thoro commented on #68211
Also have this issue with v1.12.2, haven't had it before with < 1.9 I believe

very annoying!

[2019-01-18 14:46] umair-akram commented on #65933
I lost my External etcd during the upgrade from 1.10.12 to 1.11.6  due to this issue and I have tried patching the the providerId but same error persists also tried to restarting the kubelet services on respective nodes doesn't help.

[2019-01-18 14:50] Vislor commented on #65933
I just stood up a cluster in Kubernetes 1.13.2 using kubeadm and this appears to be working in this Kubernetes version.  All of my nodes (3 master, 3 worker) had the proper provider id from vSphere.

[2019-01-18 15:07] divyenpatel commented on #65933
@Vislor

Did you enable vsphere cloud provider after the K8S cluster deployed using kubeadm? Or did you specify some config file while deploying cluster using kubeadm, which enabled VCP before node registration?

Does restarting `kubelet`, sets provider id on the node with 1.13.2?

[2019-01-18 15:20] rtheis commented on #72925
@k82cn I'll recreate and provide you the details.  However, the pod that is stuck pending is different every time.

[2019-01-18 15:23] rtheis commented on #72925
@Huang-Wei Thanks, I'll work on the recreate and test of the cherrypick.  That PR certainly seems promising.

[2019-01-18 15:28] ErwanMAS opened #73077 "kubectl expose --overrides : what field are missing ?"
Hey Guys ,
I try to use the option *--override* with *kubectl expose* .
First i did this and it work :
[code]
Now i want to add another *service* with *kubectl expose*
and this command does not work
[code]
I have this error
[code]
If i remove *--overrides* the command work .

[code]

[2019-01-18 15:38] GregSilverman commented on #72826
@vainu-arto, "There is a race condition in a netfilter code where one of simultaneous connections to the same dest host/port get rejected. This is visible, when DNS requests are made and searchdomains are configured , then multiple simultaneous DNS requests are done, some of which got rejected and have to be retried."

Do the rejected requests get logged? How exactly did you diagnose that this was

[2019-01-18 15:59] Vislor commented on #65933
@divyenpatel ,

I specified the configuration before running `kubeadm`, the config file I passed to `kubeadm` looked something like this:

[code]

[2019-01-18 16:06] neolit123 commented on #73077
/sig cli

[2019-01-18 16:09] mayakacz opened #73079 "Complete evaluation of potential bug bounty vendors"
_This issue is an update on the process for vendor evaluation and selection for a Kubernetes bug bounty program. This program is a work in progress. The bug bounty is not currently active. If you currently have a bug to submit, follow instructions at [https://kubernetes.io/docs/reference/issues-security/security/](https://kubernetes.io/docs/reference/issues-security/security/)._

## Kubernetes Bug

[2019-01-18 16:11] neolit123 commented on #73006
hello, where are you downloading the kubelet package from?
do you have a link for the actual package?

please mind that if it's not from the official kubernetes repository we cannot support this bug report:
https://packages.cloud.google.com

/sig release
/sig cluster-lifecycle
/priority awaiting-more-evidence

[2019-01-18 16:12] neolit123 commented on #73004
/sig network

[2019-01-18 16:12] mayakacz commented on #73079
/sig auth (as there is no Kubernetes PST label)

[2019-01-18 16:14] hyperbolic2346 commented on #70044
/remove-lifecycle stale

[2019-01-18 16:14] neolit123 commented on #73067
/kind failing-test
/sig testing
/sig gcp

[2019-01-18 16:16] onitake commented on #13358
ExternalName sounds like the best solution to this problem to me - if resolving the host name once is ok.
If you need something that resolves hosts dynamically, then you probably need a more complex setup than a simple endpoint could give you anyway.

[2019-01-18 16:32] chrisohaver commented on #72826
IIUC, that fix is related to NAT source port collision, and only occurs when there are multiple simultaneous requests on the service.  The colliding  requests would not get logged in CoreDNS because they never get that far. The chance of this happening would increase with more query volume.  In this issue however the logs are pretty quiet. That suggests the only queries occurring during the failur

[2019-01-18 16:36] chrisohaver commented on #72826
Search domains are queried serially, in order that they appear in /etc/resolv.conf, one at a time. For each domain, the client waits for a response or timeout before trying the next domain. Not in parallel.

[2019-01-18 16:40] gnufied opened #73081 "Fix kms ebs provisioning e2e to not use events"
As identified here by @wongma7  - https://github.com/kubernetes/kubernetes/issues/71570#issuecomment-452308387

We need to fix this e2e so as it does not uses events.

/sig storage

cc @jsafrane @msau42

[2019-01-18 16:51] spiffxp commented on #72956
/milestone v1.14

[2019-01-18 16:52] rlenferink opened #73082 "Improve syntax for bash scripts"
Currently, the syntax for the available bash scripts is not generalized and can (and IMO must) be improved.

E.g.
`${foo}bar => which expands foo`
instead of
`$foobar => which expands foobar`

Another improvement:
`$i` => `"${i}"`

I already started working on PR #72933 but I'll close that one as builds are failing and it's hard to determine which change caused the errors.

/cc @fejta @BenTheElder

[2019-01-18 16:53] #61586 closed

[2019-01-18 16:53] #63838 closed

[2019-01-18 17:00] ramnes commented on #23880
/remove-lifecycle rotten

[2019-01-18 17:02] divyenpatel commented on #65933
@Vislor

In this case kubelet is already running with cloud-provider vsphere enabled.
and node registration is happening after that, which is setting provider id correctly.

But if you already have kubernetes cluster deployed with kubeadm, without VCP enabled, and later when you try to enable VCP, i think node does not get provider id. and we have to patch nodes manually, or remove nodes from API

[2019-01-18 17:07] apelisse opened #73083 "Remove /swagger.json and other deprecated openapi endpoints"
The documentation [1] reads:

We should remove these before 1.14.

/assign @mbohlool @liggitt

[1]: https://kubernetes.io/docs/concepts/overview/kubernetes-api/#openapi-and-swagger-definitions

[2019-01-18 17:07] apelisse commented on #73083
/sig apimachinery

[2019-01-18 17:54] rtheis commented on #72925
Node YAML after recreate:

[code]

[2019-01-18 17:55] rtheis commented on #72925
Pod YAML after recreate:

[code]

[2019-01-18 17:57] M00nF1sh commented on #72957
Hi, i'll provide a fix next week

[2019-01-18 18:22] yujuhong opened #73084 "Remove node OS/arch beta labels in kubernetes 1.18"
KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190130-node-os-arch-labels.md
ref: #72929

The OS/arch labels are going to be promoted to GA in v1.14. Kubelet will continue reporting both the beta and the GA labels until v1.18.
The beta labels below should be removed in v1.18.
[code]
/cc @kubernetes/sig-node-bugs

[2019-01-18 18:31] bgrant0607 commented on #71666
cc @BenTheElder @janetkuo

[2019-01-18 18:32] bgrant0607 commented on #71666
cc @kubernetes/cncf-conformance-wg

[2019-01-18 18:56] rtheis commented on #72925
@Huang-Wei the cherrypick doesn't look trivial for 1.12 or 1.13.  Give me some time to setup an environment to test on 1.14.  Unless you have another way?

[2019-01-18 19:05] resouer commented on #72903
/assign

We need to handle this, cc @silveryfu

[2019-01-18 19:17] bsalamat commented on #72129
We had a meeting at Google to brainstorm possible solutions. @liggitt suggested adding the logic to the API server admission to taint new nodes with "not ready" when TaintNodesByCondition is enabled. This seems to be the best solution that covers both new clusters and existing clusters upgraded to 1.12+. This solution works with version skew and older kubelets.

[2019-01-18 19:41] shyamjvs commented on #72976
Out of curiosity - hasn't audit-logging and log-rotation been there for a while already in our tests? This one seems like recent regression.

[2019-01-18 19:43] awly commented on #62915
/remove-lifecycle stale

@liggitt or @mikedanese could you add some specifics?
What exactly are DaemonSets missing during rotation?

[2019-01-18 19:46] yagonobre opened #73086 "Use a security group for loadBalancerSourceRanges rules and another to ICMP rules on aws services"
**What would you like to be added**:
Use a security group to rules on loadBalancerSourceRanges and another to ICMP rules.

**Why is this needed**:
On [1.12](https://github.com/kubernetes/kubernetes/pull/63572) release we start to create one ICMP rule per loadBalancerSourceRanges, that decrease the rule limit by a half. So it would be nice if we use 2 security group to avoid this.

/sig aws
/kind f

[2019-01-18 19:51] yastij commented on #72129
Just to make sure, we’re building this as a mutating webhook right ?

[2019-01-18 19:53] andyzhangx opened #73087 "azure file remount on Windows in same node would fail"
**What happened**:
azure file remount on Windows in same node would fail

**What you expected to happen**:
If user delete a pod with azure file mount in deployment and it would probably schedule a pod on same node, azure file mount will fail since `New-SmbGlobalMapping` command would fail if file share is already mounted on the node:
[code]
It's related to bug: https://github.com/Azure/aks-engine/

[2019-01-18 20:08] wojtek-t commented on #72976
It should have been, but it wasn't: https://github.com/kubernetes/test-infra/pull/10479

[2019-01-18 20:09] mmiller1 commented on #68447
I'm still seeing this on v1.12.4 as well

[2019-01-18 20:13] mkobetic opened #73089 "Custom controller Run loop hangs on a deferred Wait in client-go"
**What happened**:

We are observing a controller hang in its Run loop with one of our custom controllers for a custom resource. When we dump all goroutines once in that state (kill -SIGABRT) this is the one that seems relevant.

[code]

What seems to be going on is that we have a bug in our handler function (nil pointer dereference) that triggers a panic. That panic gets first recovered in a defe

[2019-01-18 20:18] mkobetic commented on #73089
CC @kubernetes/sig-api-machinery-bugs

[2019-01-18 20:49] andyzhangx commented on #73087
/sig windows

[2019-01-18 20:49] andyzhangx commented on #73087
/sig azure

[2019-01-18 21:06] jian-he commented on #27114
@matthyx Ran into similar issues... Could you shed some light on how the `MaxInitialFailureCount` can solve the problem of "LivenessProbe should start after ReadinessProbe Succeeded ?

[2019-01-18 21:10] silveryfu commented on #72903
Thanks @dims and @resouer, please check https://github.com/kubernetes/kubernetes/pull/73091.

[2019-01-18 21:15] dims commented on #73079
adding the label here https://github.com/kubernetes/test-infra/pull/10831 @mayakacz

[2019-01-18 21:43] matthyx commented on #27114
Sure, so the main problem with slow starting containers is that you have to leave them enough time to start before having `livenessProbe` fail `failureThreshold` times (otherwise `kubelet` kills them before they have a chance to be up).
This is even worse when load on the nodes can increase this long startup time since you have to take into account the worse case scenario (let's call it **T**).

Y

[2019-01-18 21:53] fabianotessarolo commented on #63726
@mleneveut which distro is based your image? Have you checked its location?

https://blog.confirm.ch/adding-a-new-trusted-certificate-authority/

[2019-01-18 21:58] stevekuznetsov commented on #69106
/close

[2019-01-18 21:58] #69106 closed

[2019-01-18 22:18] BenTheElder commented on #71666
- Agree this needs fixing
- Will defer to DaemonSet owners on correct route to fix, but I like @thockin's suggestion. Perhaps we can just use a smaller sleep..
- I see in the linked PR that we're bumping to 1.3 despite the mystery 1.4 image, we should bump to 1.5 per @thockin's other point

[2019-01-18 23:48] misterikkit commented on #68957
Hey, I'm sorry I haven't gotten back to this in such a long time. I think we should switch to injected `FeatureGate` all at once, so we need all priority functions to be updated in the same PR.

So it seems that before we can continue with this, priority functions need to be refactored. That refactor will touch a lot of areas since we need to inject args all the way down. However, we are already p

[2019-01-18 23:54] misterikkit commented on #72547
@ahmad-diaa If you want to rebase on https://github.com/kubernetes/kubernetes/pull/72614 you should be able to proceed with this fix now. I expect that PR to be merged as-is.

[2019-01-19 00:01] samvdb commented on #60807
my hero! <3

[2019-01-19 00:02] tsuna commented on #39758
/reopen
/remove-lifecycle rotten

Still looking for a way to temporarily up the verbose level while troubleshooting something...

[2019-01-19 00:14] #72941 closed

[2019-01-19 00:22] phenixblue commented on #72956
@BenTheElder would it be ok if I helped out with this? I was thinking I could go through and cover the scripts in `./cluster/centos/` to start with

[2019-01-19 00:44] fntlnz commented on #73004
@Falconx1000 can you give us more info about your setup?
Please look at the [bug-report issue template](https://github.com/kubernetes/kubernetes/issues/new?labels=kind%2Fbug&template=bug-report.md) and add here the information required in it to help us understand and reproduce your problem.

[2019-01-19 00:45] fntlnz commented on #73004
/triage needs-information

[2019-01-19 00:47] BenTheElder commented on #72956
That would be great! there's a _lot_ to tackle here :sweat_smile:

If you could reference this issue (just include a link somewhere, please don't mark it as "fixes #" :upside_down_face:) that would be helpful for attempting to avoid overlap :-)
I'll continue to do the same as I get to more of these.

[2019-01-19 01:23] briantkennedy opened #73098 "Deleting a namespace containing a custom resource with finalizer results in repeated updates to deletionTimestamp"
**What happened**:
1. Create a custom resource defintion
2. Create a namespace
3. Create a custom resource in the namespace with a finalizer attached
4. Delete the namespace
5. The custom resource in the namespace will get its deletionTimestamp field updated about every 8 seconds.

**What you expected to happen**:

The resource would have the deletionTimestamp set once then not be updated again.

[2019-01-19 01:54] Falconx1000 commented on #73004
**How to reproduce it (as minimally and precisely as possible)**:
Deploy Kubernetes 1.11.5 with Rancher 2.1.4 on to 4 nodes. deployed nicolaka/netshoot docker container for network testing. DNS lookups inside the cluster work fine as well as lookups for hosts on the local network.
**What happened**:
nslookup outside of LAN attempts to add search domain if tailing period is not added to the lookup

[2019-01-19 02:00] #68305 closed

[2019-01-19 02:03] BenTheElder commented on #68305
This should actually be fixed now 🙃

[2019-01-19 02:10] ejc3 commented on #27114
@matthyx  If you do your slow initialization work in postStart, that will delay both livenessProbe and readinessProbe from running; then those two probes only need to worry about monitoring the health of an already initialized container: https://blog.openshift.com/kubernetes-pods-life/

[2019-01-19 02:15] jian-he commented on #27114
That explains all, thanks!

[2019-01-19 02:27] Random-Liu opened #73099 "The test "Simple pod should support inline execution and attach" is inherently racy."
The test case "executing a command with run and attach without stdin" is inherently racy.

The test runs`kubectl run run-test --image=docker.io/library/busybox:1.29 --restart=OnFailure --attach=true --stdin -- sh -c cat && echo 'stdin closed'`, and expected to see `stdin closed` in the output.

The case when the test passes:
* case 1:
  * Kubernetes creates and starts the container without stdin;

[2019-01-19 03:13] #72387 closed

[2019-01-19 03:14] #72485 closed

[2019-01-19 03:43] erkules commented on #73062
Wouldn't you expect not to get any apiversion but the newest?

[2019-01-19 05:44] krmayankk commented on #67057
/remove-lifecycle rotten

[2019-01-19 05:44] krmayankk commented on #72129
This seems related https://github.com/kubernetes/kubernetes/issues/67057

[2019-01-19 06:16] Huang-Wei commented on #72925
@rtheis Yeap, it's not a trivial task to rebuild the source code. Let me know if you need any help.

I suppose you're going to try on latest 1.14 tag? e.g. v1.14.0-alpha.1?

Right now I'm working on the 1st solution I mentioned in https://github.com/kubernetes/kubernetes/issues/72925#issuecomment-455444197. The challenge is I can't reproduce this in my local dev env (I'm running on source code bra

[2019-01-19 06:18] Huang-Wei commented on #72925
And @rtheis, let me confirm with your statement:

When the issue occurs, **everytime** there is only one single pod stuck in pending state, right?

[2019-01-19 07:48] matthyx commented on #27114
The issue is that I deal with approx 200 legacy applications that are Java based running on Tomcat or Resin. The long initialization is mostly due to some in-jar libs that take forever to start and load their configs from files or DB. I cannot justify rewriting all these apps with modern technologies, or `postStart` hooks...

[2019-01-19 08:30] #72903 closed

[2019-01-19 08:44] Huang-Wei commented on #72925
Still don't have luck in reproducing the issue. But I've prepared a PR #73078 and put detailed analysis there. Any comments are welcome.

[2019-01-19 09:09] #67665 closed

[2019-01-19 09:09] #39696 closed

[2019-01-19 09:09] #66348 closed

[2019-01-19 09:55] fejta-bot opened #73105 "pr:pull-kubernetes-kubemark-e2e-gce-big flaked 20 times in the past week"
### Flaky Job: pr:pull-kubernetes-kubemark-e2e-gce-big
 Flakes in the past week: **20**
 Consistency: **95.80%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 13 |
| Kubemark Overall | 5 |
| Kubemark Test | 5 |

#### Previously closed issues for this job flaking:
#62267 #65466

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2019-01-19 10:37] Joeasaurus commented on #9995
Usecase: IRCd (6667) <somewhere> on <the cluster>.

* Why can't I just create an Ingress resource for that port? Oh they only do HTTP for some reason.
* I refuse to use a LoadBalancer type anything, as it costs extra money (requires cloud provider LB like AWS ELB).
* Maybe a NodePort but I can only bind some whack high ports.
* HostPort? DaemonSet? No scaling or all the scaling.

Just let me bind

[2019-01-19 13:13] boosty commented on #69676
Our team came up with a custom controller to implement the idea of having an OOMKilled event tied to the Pod. Please find it here: https://github.com/xing/kubernetes-oom-event-generator

From the [README](https://github.com/xing/kubernetes-oom-event-generator/blob/master/README.md):
The Controller listens to the Kubernetes API for Pod changes. Everytime a Pod change is received,
it checks the stat

[2019-01-19 14:14] #67644 closed

[2019-01-19 15:03] dims commented on #68091
we have some good data now @mariantalla @spiffxp

https://testgrid.k8s.io/google-gce#gci-gce-single-flake-attempt&width=20

[2019-01-19 16:07] #70791 closed

[2019-01-19 16:16] #67711 closed

[2019-01-19 16:41] GregSilverman commented on #56903
I've been playing around with tweaking `/etc/resolv.conf` on a pod (not on same node as CoreDNS).

Here are my results (128.x.x.x is our campus DNS):

[code]

[code]

I'm not really sure what this means, I just found it interesting that the first attempt made what appears to be an ipv6 query and then it gave up.

[2019-01-19 17:11] dannyk81 commented on #68447
same here on v1.13.2, throws this error when kube-proxy initializes.

Running on CoreOS in ipvs mode:
[code]

[2019-01-19 18:09] Bessonov opened #73108 "Provide a cluster wide security audit"
**What would you like to be added**:

It would be nice to have a cluster wide security audit to improve security of deployed cluster in the world. This feature request is highly inspired by introduced [npm audit](https://docs.npmjs.com/cli/audit) command for npm and [this](https://www.cncf.io/blog/2019/01/14/9-kubernetes-security-best-practices-everyone-must-follow/) blog post, which mention [CVE-

[2019-01-19 18:14] Bessonov commented on #73108
@kubernetes/sig-cluster-ops-feature-requests

/cc Security Audit Working Group
@aasmall
@joelsmith
@cji

[2019-01-19 18:20] Bessonov commented on #73108
ping @lizrice

[2019-01-19 19:19] ejc3 commented on #27114
@matthyx you could solve that by having your preStart not return until your java app has started.

[2019-01-19 19:20] resouer commented on #72355
For all these requirements it's totally fine to fork & hack kube-scheduler in your simulation env, no?

For cluster capacity planning only, it's should be not hard to build from external: https://github.com/kubernetes-incubator/cluster-capacity (seems deprecated but still a concrete example)

[2019-01-19 19:33] GregSilverman commented on #56903
The following was done using the default `/etc/resolv.conf`:

[gms@thalia0 ~]$ kubectl exec -ti dnstools -- time nslookup @10.96.0.10 kubernetes.default
;; connection timed out; no servers could be reached

Command exited with non-zero status 1
real	0m 15.01s
user	0m 0.00s
sys	0m 0.00s
command terminated with exit code 1
[gms@thalia0 ~]$ kubectl exec -ti dnstools -- time dig @10.96.0.10 kubernetes

[2019-01-19 20:17] matthyx commented on #27114
Actually this is wrong according to the `kubelet` [code](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/prober/worker.go)... and even if you look carefully at the OpenShift [link](https://blog.openshift.com/kubernetes-pods-life/) `livenessProbe` and `readinessProbe` start before `postStart` has finished...

Actually we solve this problem with a `postStart` script that runs the sa

[2019-01-19 20:20] #66357 closed

[2019-01-19 20:46] palash25 commented on #67777
Hi :wave: the referenced PR seems to have been abandoned. Would it be okay if I take a crack at this? cc @DirectXMan12

[2019-01-19 20:53] GregSilverman commented on #62777
#72826

[2019-01-19 20:53] GregSilverman commented on #62777
#56903

[2019-01-19 20:55] GregSilverman commented on #62777
If you are not running OpenShift then you what RedHat support told you is misleading. If you are, you might wish to consider this: [RHEL bug](https://bugzilla.redhat.com/show_bug.cgi?id=1661928)

[2019-01-19 23:20] giovannicandido commented on #30606
This can be done, but it would be nice with the dynamically provisioning as requested.
Work around is to create the pv and bound to pvc manually:

[code]

[2019-01-19 23:33] alvaroaleman commented on #71997
/assign

[2019-01-20 01:04] GregSilverman commented on #56903
Also, just to eliminate that the NAT race condition was not an issue (didn't expect it to be, since logs are clean), I ran `kubectl get node |grep -v NAME |  awk '{print $1}' | xargs -i sh -c 'ssh admin@{} -- hostname -f; sudo conntrack -S` and `insert_failed` was 0, across all nodes.

[2019-01-20 01:33] GregSilverman commented on #56903
And, running both busybox and dnstool from a non CoreDNS node, I get:

[code]

with the following tcpdump data:

[code]

the issue in question is intermittent on non CoreDNS nodes, but I find it odd that: a) requests were going through with latency of 25 s; b) the variance in latency between busybox and dnstools (not sure why there would be a difference?); and c) why only dnstools queries were bei

[2019-01-20 02:03] GregSilverman commented on #56903
One thing I just noticed, is that when I describe a coredns pos, I get `Image:         coredns/coredns:1.2.2` while in my list of docker images, I see both these (and 1.1.3):

[code]

why is it not pulling the newer version of the image? And if this is right, where did version 1.2.6 come from?

[2019-01-20 02:10] liggitt commented on #73098
/area custom-resources

deletionTimestamps should not update even if subsequent deletion requests are made

[2019-01-20 03:16] dims opened #73111 "Failure cluster [9a6a5067...] [sig-cli] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance]"
### Failure cluster [9a6a5067d3ced7bf47ba](https://go.k8s.io/triage#{id})

##### Error text:
[code]
#### Recent failures:
[1/19/2019, 8:15:38 PM ci-kubernetes-e2e-kops-gce-canary](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-gce-canary/7436#sig-cli-kubectl-client-k8sio-guestbook-application-should-create-and-stop-a-working-application-conformance)
[1/19/2019, 7:27

[2019-01-20 03:20] dims commented on #73111
possibly related to https://github.com/kubernetes/test-infra/issues/10850

[2019-01-20 03:41] GregSilverman commented on #56903
Just upgraded to the latest version of coredns image (1.3.1) and latest coredns yaml. Same behavior. `dig` usually works, `nslookup` sometimes works through dnstools on non coredns nodes.

[2019-01-20 06:13] justaugustus commented on #71994
@feiskyer -- Can we have this opened as an issue in Azure repo, so we can cross-reference?

[2019-01-20 06:21] justaugustus commented on #69468
As Shubheksha mentioned, this should be a MSFT support issue.
/close

[2019-01-20 06:21] #69468 closed

[2019-01-20 06:22] justaugustus commented on #67892
@andyzhangx -- is this still an issue? If not, let's `/close` it out.

[2019-01-20 06:31] Huang-Wei commented on #68701
/remove-lifecycle rotten

[2019-01-20 06:33] justaugustus commented on #58034
@feiskyer -- pinging again on this one.

[2019-01-20 06:38] Huang-Wei commented on #68701
Re @misterikkit:

If the goal is to gather pods with labels {app="foo", env="canary"}, the workload should have it defined within the same affinityTerm, in different expressions.

And if app="foo" and env="canary" are defined in two different affinityTerms, then yes, after the change, a topology containing {app="foo", env="prod"} & {app="bar", env="canary"} can be a fit.

[2019-01-20 07:16] happilymarrieddad commented on #32905
Oh, I am so mad... thanks so much guys!!!! I've been trying to get this to work and your comments helped. Thanks!

[2019-01-20 10:51] redbaron commented on #40973
/remove-lifecycle stale

[2019-01-20 12:36] #47465 closed

[2019-01-20 12:48] danielqsj commented on #73098
/assign

[2019-01-20 12:50] forsberg commented on #64783
Right, of course, the private part is on the hardware token - and stays there! I had some bad luck thinking there..

I'm imagining this could be implemented as a combination of an auth plugin and a serverside component, where the serverside component is listening for TLS requests from the plugin and returns a bearer token, which the API server can then verify.

So something along the lines of:

1.

[2019-01-20 13:12] andyzhangx commented on #67892
@justaugustus it's still an issue, and currently it should be low priority, let's keep it

[2019-01-20 13:15] andyzhangx commented on #63121
/open

[2019-01-20 15:09] pashtet04 commented on #39084
@munnerz is right: kubectl can raise an error about incorrect parameter such a "--namespace" when `kubectl delete pv --namespace myns`.
What do you think? Cuz few days ago we accidentally delete pvs due miss 'c' in 'pvc' with parameter "--namespace". Would be great as I think.

Thank you.

[2019-01-20 15:33] calder commented on #39823
To add to @skbly7's comment, bidirectional UDP apps are brittle as well. Dropping or failing to reply to the first packet will prevent the app from ever receiving a second.

[2019-01-20 15:34] neolit123 commented on #73108
/remove-sig cluster-ops
/sig cluster-lifecycle

we might have e2e integration for this eventually.

[2019-01-20 15:37] neolit123 commented on #72968
hello, you can try out support channels and/or google for this:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

`Operating System: Kylin 4.0.2(arm64)`
we don't have test coverage for this OS and developers that use it.

/close

[2019-01-20 15:37] #72968 closed

[2019-01-20 15:39] neolit123 commented on #72374
please try our support channels instead:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

/close

[2019-01-20 15:39] #72374 closed

[2019-01-20 16:01] falmar commented on #60164
Experiencing same issue with Kubernetes 1.12.2. Annoying to intervene and worse if it is a Production workload

[2019-01-20 16:40] GregSilverman commented on #72826
@chrisohaver I did upgrade to the latest CoreDNS image with no luck. I'll try the newer Calico node and CNI in the next  day or so, just to rule that out.

[2019-01-20 17:38] PatrickLang commented on #68375
/remove-lifecycle rotten

[2019-01-20 17:38] GregSilverman commented on #72826
@vainu-arto, I'm reading through the [calico upgrade instructions](https://docs.projectcalico.org/v2.0/getting-started/kubernetes/upgrade). The only bit that is unclear is under "Upgrading the calico/node container":

`Update the image in your process management to reference the new version.`

Where is the process manager (we're running kubeadm)?

Thanks in advance!

[2019-01-20 18:14] sdake commented on #69264
@M00nF1sh the cluster name is not always unique either (e.g. a kubeadm deployed cluster on AWS).  I have taken a look at this - and the backward compatibility is an issue.  One option is to try deletions with hashing calculation function - if that fails - try with another and always create using the new mechanism.  This approach is a little rudimentary though and could present problems.

Thoughts?

[2019-01-20 20:44] #64045 closed

[2019-01-20 20:44] #66820 closed

[2019-01-20 20:53] faheem-cliqz commented on #64333
/remove-lifecyclestale

[2019-01-20 21:03] jamesjmurtagh commented on #72788
I think this is generally an issue for non-Docker CRIs. The kubelet source code suggests that these metrics will be gathered from the CRI (if the CRI is not Docker). The struct that kubelet expects returned from the ContainerStats RPC does not include usageNanoCores.

Does this mean that, until this is resolved, custom CRIs are unable to satisfactorily report metrics to the 'metrics-server'?

[2019-01-20 23:06] war-turtle commented on #72956
@BenTheElder
Can I help with ./build/common.sh

[2019-01-20 23:07] jeunii commented on #68407
I ran into this issue on a `1.13.2` cluster.

The kubernetes official documentation makes no mention of adding this as a configMap though. https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/

[2019-01-20 23:37] BenTheElder commented on #72956
Go for it! 🙂
We might even want multiple PRs for that one - If I remember correctly,
there was plenty to fix in that one 😛

On Sun, Jan 20, 2019, 15:07 Kartik Yadav <notifications@github.com wrote:

[2019-01-20 23:47] #67751 closed

[2019-01-21 01:28] pluttrell opened #73118 "Jobs aren't Marked as Complete with Sidecars"
I'm not sure if this is a bug, design issue, or feature request, so starting with a bug report.

**What happened**:
Jobs aren't getting marked as Successful if they have sidecar containers, such as the Envoy Proxy injected by Istio.

**What you expected to happen**:
When the container that is declared as part of the job completes successfully, the job should be marked as successful. This works wit

[2019-01-21 02:11] dchenk commented on #30617
If you have a region-wide cluster, pass in `--region=cluster-region-id` to `gcloud container clusters get-credentials`. So you might say: `gcloud container clusters get-credentials my-cluster --region=us-central1`

[2019-01-21 02:13] feiskyer commented on #71994
@justaugustus The issues are because of VMSS internal. It'll be fixed soon (probably May) and I'll update status then.

[2019-01-21 02:36] yingnanzhang666 opened #73120 "Ignore empty fields in HashContainer"
**What would you like to be added**:
Change the HashContainer, ignore empty fields when compute the hash value of this container.

**Why is this needed**:
When upgrading k8s cluster, if there are new fields in container spec in new k8s version, all the existing container will be restart. For production environment, restarting all the containers will impact data plane, it should be avoid if possibl

[2019-01-21 02:37] yingnanzhang666 commented on #73120
/sig node

[2019-01-21 02:49] SFHfeihong commented on #72876
@mbohlool Excuse me. Do you have some greate ideas to solve this issue??

[2019-01-21 03:11] luckymagic7 commented on #34982
@thockin

How can I get below(key, path)?
[code]
my secret describe:
[code]
Are the keys  `id_rsa` and `id_rsa.pub`?

[2019-01-21 03:20] luckymagic7 commented on #34982
I got it.

https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets

[2019-01-21 03:30] luckymagic7 commented on #34982
@thockin
didn't work for me 😢

I applied your above yaml file.
Belows are output:
[code]
Which `k8s` version should I use?

my version:
[code]

[2019-01-21 03:30] GregSilverman commented on #72826
I did the upgrade, but ran into a problem. I wonder if having the flakey node was why I was having these issues. Please see: [issue-upgrading-calico-node-in-kubeadm-cluster](https://stackoverflow.com/questions/54279280/issue-upgrading-calico-node-in-kubeadm-cluster)

Anyway, hope to get this node back to being functional tomorrow. Then I will test to see if there still is the latency problem.

[2019-01-21 03:34] ckcd opened #73123 "kubectl auth can-i Error when using --as-group"
**What happened**:

I gives user: `testname` a `role` and `rolebinding`, and test it using `kubectl auth can-i`, but it failed when use `--as xx --as-group xx`  :

[code]

and it's fine when only use `--as=xx`
[code]

and it's fine when get pods without `auth can-i`
[code]

and for the problem in the begining, to workaround it, I must create a `clusterrole` and a `clusterrolebinding` of resource `

[2019-01-21 03:35] liquanstan commented on #62068
@byndcivilization
I also encountered the same problem in k8s 1.11.5. Did you solve it?

[2019-01-21 03:51] #67636 closed

[2019-01-21 04:01] wgliang commented on #69769
/lifecycle stale

[2019-01-21 04:01] YoubingLi commented on #73062
@erkules

This is a general interface for all resources.

The format of api-version is "GROUP/VERSION", and there is not a good approach to compare version between different groups.

For example, "extension" and "apps" for deployment.

[2019-01-21 04:03] pluttrell commented on #73118
@kubernetes/sig-apps-bug

[2019-01-21 05:32] natlibfi-arlehiko commented on #63704
/remove-lifecycle stale

[2019-01-21 05:33] natlibfi-arlehiko commented on #30603
/remove-lifecycle stale

[2019-01-21 05:40] infa-ddeore commented on #50400
AWS has the documentation on the same, https://docs.aws.amazon.com/eks/latest/userguide/create-public-private-vpc.html#vpc-tag-private-subnets

But there shouldn't be a need to explicitly tag the private subnets, rather k8 should identify internal subnets and choose randomly from them. If someone wants to restrict internal ELBs in specific subnets then the tags should be used.

[2019-01-21 05:49] oz123 commented on #71692
@fntlnz I am able to see the dockershim like you said. However, I can't get the kubelet to run:

[code]
The last  messages  just keep repeating.

[2019-01-21 07:55] #67796 closed

[2019-01-21 08:09] mleneveut commented on #63726
@fabianotessarolo It' ubuntu 16.

I already tried to put the cert in /usr/local/shared/ca-certificates and run the update-ca-certificates, but my trouble was to do this before the container's main process (nodejs or dotnet run) starts.

I ended up to put the .crt file in /usr/shared/ca-certificates directory of every Kubernetes node, copy it to /usr/local/shared/ca-certificates with a volumeMount

[2019-01-21 08:23] wqcheng opened #73127 "How do I modify the rbd_default_order parameter"
I use ceph RBD as the storage of k8s, but the default size of the created RBD is 4M. In fact, the rbd_default_order=21 specified in the configuration file of my ceph does not work. I do not seem to have seen relevant instructions. @k8s-merge-robot

[2019-01-21 08:31] JishanXing commented on #73123
/assign

[2019-01-21 08:33] wqcheng commented on #73127
k8s/volumes

[2019-01-21 08:34] binzeehale opened #73128 "Statefulset Pod connect service slow"
I run my app in kubernetes with helm, everything fine in my evnrinoment.
But a sstrage event happened  in my customer evnrionment .

1. I have some deployment and one statefulsets
2. I deploy postgresql use https://github.com/helm/charts/tree/master/stable/postgresql, and run only one pod ( postgresql-0)
3. My deployment pod 1 connect postgresql use psql only need a few millisecond.
4. My stateful

[2019-01-21 08:35] binzeehale commented on #73128
/sig network

[2019-01-21 08:43] WanLinghao commented on #68522
@dashpole Hello, as a fresh man here, I wan to clarify if my understanding is correct about this issue.

1. Currently summary api endpoint provides redundancy metrics and we should replace it with some kind of new endpoint which only provides metrics needed by components like metrics-server, scheduler,HPA...
2. After removing the summary endpoint and direct cadvisor endpoint, by default, the only

[2019-01-21 08:45] danielqsj commented on #73098
@liggitt  as this description: https://github.com/kubernetes/kubernetes/blob/dc3edee5f5f732df7c6b50e073c35bd20912ac6a/staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go#L912

if object has pending finalizers, the deletionTimestamps should be updated.
Do we need to change this logic ?

[2019-01-21 08:48] anxinyf commented on #27528
The same issue as me(k8s v1.11.0), and i just configure kubelet conf file: /etc/systemd/system/kubelet.service.d/10-kubeadm.conf, add "--cloud-provider=external --cloud-config=/etc/kubernetes/cloud.conf" to "KUBELET_KUBECONFIG_ARGS", then daemon-reload and restart kubelet. Not specify **--cloud-provider** for kube-controller-manager and kube-apiserver.

[2019-01-21 08:49] Sicaine commented on #67345
Same issue here.

I would like to be able to access a GKE Master and need something in between as the private gcp vpc will not be routed through a gcp router (i need something inbetween).

I put our company ca into a file under .kube/company.crt and reference it inside my .kube/config with certificate-authority: <filepath>. It is working but feels strange.

It would be great to be able to reconfig

[2019-01-21 09:06] aparamon commented on #32987
Reproducible for me on EKS, although wait times are typically < 1 min (seconds), with `kubectl` and programmatically with Kubernetes Client's [delete_namespaced_service](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#delete_namespaced_service) and watching for the `'DELETED'` status.

[2019-01-21 09:09] jcassee commented on #66430
/remove-lifecycle stale

[2019-01-21 09:15] wqcheng commented on #66029
Hello, my friend, do you have the method to modify the order parameter now?

[2019-01-21 09:16] Miyurz commented on #62156
@anderson4u2 Its still an issue!

[2019-01-21 09:34] xichengliudui commented on #73120
@yingnanzhang666  What version and system are you using?

[2019-01-21 09:42] WanLinghao commented on #73108
/cc

[2019-01-21 09:49] tanshanshan commented on #72956
I will fix
 ./hack/dev-build-and-push.sh
  ./hack/dev-build-and-up.sh
  ./hack/dev-push-conformance.sh
  ./hack/dev-push-hyperkube.sh

[2019-01-21 09:59] a615696671 opened #73131 "111111111111111"

[2019-01-21 10:03] Joseph-Irving commented on #73118
Hey, this looks like a dupe of https://github.com/kubernetes/kubernetes/issues/25908.

There is currently a proposal attempting to address this issue see https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/sidecarcontainers.md

[2019-01-21 11:06] Adirio commented on #68951
Is any of the tasks targeting `scheduling_queue.go`. There is an outdated comment in that file (currently at [lines 129-131](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/internal/queue/scheduling_queue.go#L129-L131)) about that function being a copy of another that is said to be unsafe. The function was changed but the comment has not been removed/updated.

[2019-01-21 11:06] gioargyr commented on #70334
I am facing the same issue with mingf.
kubeadm 1.12.5-0 and kubelet 1.12.5-0 using CentOS Linux 7.

[2019-01-21 11:14] aario commented on #60835
Ok. I found what was wrong in my case. The pod was created inside kube-system namespace. So the correct command was:
`kubectl -n kube-system logs <pod name i.e. hog-6848f56478-5gn9s>`
The trick is you cannot use `--all-namespaces` here. You must definitely mention the namespace in from of `-n` argument.

[2019-01-21 11:27] saschagrunert opened #73132 "CRI: Add pause configuration to proto"
**What would you like to be added**:
Add the pause container configuration to the CRI protocol.

**Why is this needed**:
In terms of configuration, It would be nice to have the used pause container and command in a clean state. When using different runtime engines it would be nice to populate this kind of configuration directly from the kubelet to the dedicated runtimes of the nodes.

[2019-01-21 11:33] saschagrunert commented on #73132
/sig node

[2019-01-21 11:39] dims commented on #62161
thanks @mgdevstack

/close

[2019-01-21 11:43] aario commented on #44130
@jzhu077 to add some details to your solution, I have kubernetes on a cluster of virtual mashines, I copied `/etc/kubernetes/admin.conf` from the kubemaster mashine to my host in `$HOME/.kube/config` Then I didn't need to export `KUBECONFIG` and kubectl just started to work on my host machine.

[2019-01-21 11:45] Shnatsel commented on #73118
If this is indeed a duplicate of #25908, please continue discussion there and close this issue.

Thanks for the detailed bug report!

[2019-01-21 11:51] Shnatsel commented on #73127
/triage support

[2019-01-21 11:52] Shnatsel commented on #72954
@kubernetes/sig-testing

[2019-01-21 11:53] xuezm01 commented on #72270
I have the same problem，Is there a solution that can be solved?

[2019-01-21 12:15] mariantalla commented on #72932
ping @wojtek-t @shyamjvs

Could you help triage this please? I don't see anything obvious in the commit above ([40de2eeca](https://github.com/kubernetes/kubernetes/commit/40de2eeca)) that could have caused performance degradation 🤔

[2019-01-21 12:15] dims commented on #72726
@danielqsj thanks! filed https://github.com/kubernetes/test-infra/pull/10859 for that

[2019-01-21 12:16] mariantalla commented on #72931
Summoning @saad-ali and @childsb

This seems to have been failing since it was added in master-blocking.

[2019-01-21 12:41] rtheis commented on #72925
@Huang-Wei No, the problem does not occur every time.  It can take as many as 7 retries before reproducing it.

[2019-01-21 12:46] Huang-Wei commented on #72925
@rtheis Sry, I should have made it more clear - I wanted to confirm that among all the times the issue is reproducible, is that everytime there is only one single pod in pending state?

[2019-01-21 12:49] rtheis commented on #72925
@Huang-Wei correct, every time that I've reproduced the problem there has been only one pod in pending state.

[2019-01-21 12:56] mariantalla opened #73133 "Failing test (timeout): [sig-auth] Metadata Concealment should run a check-metadata-concealment job to completion"
**Which jobs are failing**:
- [sig-release-master-upgrade#gce-new-master-upgrade-master-parallel](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master-parallel)

**Which test(s) are failing**:
- [[sig-auth] Metadata Concealment should run a check-metadata-concealment job to completion 15m9s](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-n

[2019-01-21 12:56] mariantalla commented on #73133
/sig auth

[2019-01-21 12:58] #68316 closed

[2019-01-21 13:02] Huang-Wei commented on #72925
@rtheis Thanks. To some extent, it's consistent with the deduction in my PR.

[2019-01-21 13:08] mariantalla opened #73134 "Failing test in master-upgrade: [sig-network] Networking should provide unchanging, static URL paths for kubernetes api services"
**Which jobs are failing**:
- [sig-release-master-upgrade#gce-new-master-upgrade-master-parallel](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master-parallel)

**Which test(s) are failing**:
- [[sig-network] Networking should provide unchanging, static URL paths for kubernetes api services](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-

[2019-01-21 13:30] mariantalla opened #73136 "Failing test in master-upgrade: Invalid `ds1` selector"
**Which jobs are failing**:
**In [sig-release-master-upgrade](https://testgrid.k8s.io/sig-release-master-upgrade):**
- [gce-new-master-upgrade-master](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master)
- [gce-new-master-upgrade-master-parallel](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master-parallel)
- [gce-new-master-upgrade-cluster

[2019-01-21 13:44] mm4tt commented on #72976
The log-rotate change seems to be fixing the pod run-to-watch latency.
![run_to_watch](https://user-images.githubusercontent.com/2604887/51477978-54fbef00-1d8a-11e9-9ed9-3b11e8a999eb.png)

Unfortunately, the 99th percentile of the e2e pod startup latency is still above the limit. As @wojtek-t said, probably there is another regression involved here.

[2019-01-21 13:52] mcginne commented on #45419
We are seeing something which seems similar to this - constant PLEG flapping between Ready/NotReady - restart kubelet seems to fix the issue. I've noticed in goroutine dumps from kubelet we have a large number (currently over 15000 goroutines stuck in the following stack:
[code]
I notice the number of goroutines stuck in this stack is growing steadily over time (About an extra 1 every 2 minutes)
T

[2019-01-21 14:01] #67515 closed

[2019-01-21 15:00] nirnanaaa commented on #55238
I also do not think, that this is entirely irelevant.

Kubermatic - from my understanding at least - is achieving something similar (https://docs.kubermatic.io/concepts/architecture/), yet I am not entirely sure how they do it.

Is there some sort of recommendation on how to run api servers on a decoupled platform with the aggregator API? We're running a similar platform concept as kubermatic does

[2019-01-21 15:02] #67779 closed

[2019-01-21 15:09] nandeeshb09 commented on #19317
I have also same problem ,even after trying all the above scenarios.

Try to delete finalizer ,but not able too delete.

Please give the soltuion

[2019-01-21 15:27] liggitt commented on #73098
deletionTimestamp is supposed to be immutable:

https://github.com/kubernetes/kubernetes/blob/dc3edee5f5f732df7c6b50e073c35bd20912ac6a/staging/src/k8s.io/apimachinery/pkg/api/validation/objectmeta.go#L274

storage modifying that timestamp is unexpected, at least to me

[2019-01-21 15:30] liggitt commented on #73098
we should at least ensure that this documentation is honored:

[2019-01-21 15:37] aermakov-zalando commented on #42649
/remove-lifcycle stale

[2019-01-21 15:37] Shnatsel commented on #72810
/sig apps

[2019-01-21 15:39] aermakov-zalando commented on #42649
/remove-lifecycle stale

[2019-01-21 15:41] Shnatsel commented on #73082
/sig testing
/kind bug

[2019-01-21 15:47] liggitt commented on #73098
opened https://github.com/kubernetes/kubernetes/pull/73138 to do that

[2019-01-21 15:53] desaintmartin commented on #50632
Hello,
This behavior is quite misleading as it actually delegates the termination of the Pod to... the container itself.

This can lead to misbehaving or non-optimal Pods which still pass the healthchecks but should be destroyed anyway.

I actually had a case where the same process was being killed over and over (~2000 times over 1 hour) but was kept being re-spawned by its init process. Then the

[2019-01-21 15:54] Shnatsel commented on #71985
I've tried applying the formatted YAML by tanshanshan works fine for me in [Kubernetes playground](https://www.katacoda.com/courses/kubernetes/playground).

@jaffrey007 can you confirm that it works for you on Kubernetes playground but not in your cluster?

[2019-01-21 15:55] Shnatsel commented on #71985
/triage not-reproducible

[2019-01-21 16:40] Shnatsel commented on #72533
This sounds like a memory leak to me. This would explain why the hang occurs 10 hours in. And many of your pods don't have the same resource requests and resource limits, with `istio-pilot-d9b5b9b7c-ln75n` seemingly having the biggest discrepancy; it could be leaking memory without getting killed.

I would suggest monitoring memory usage over time and storing it externally to check if that's what'

[2019-01-21 16:46] Shnatsel commented on #72817
You're looking for `kubectl wait`

Here's the documentation: https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#wait

[2019-01-21 16:51] Shnatsel commented on #72724
@arrowfeng advice on specific deployments is not offered through Github, but there are a number of places you can check. [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) is probably the best place to ask this. You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2019-01-21 16:52] Shnatsel commented on #72533
This seems to be a recurring issue with AKS: https://github.com/Azure/AKS/issues/102

[2019-01-21 16:54] Shnatsel commented on #71695
/triage needs-information

[2019-01-21 16:55] arocki7 commented on #44370
I have the same issue.

[2019-01-21 17:03] Shnatsel commented on #71733
@k8s-ci-robot get this "needs-sig" label outta here

/sig auth

[2019-01-21 17:04] #67785 closed

[2019-01-21 17:06] Shnatsel commented on #72091
@jicki if this is indeed a duplicate, please close this issue and continue the discussion in #69562

[2019-01-21 17:11] Bessonov commented on #58908
@timothysc

Experience same problem with [this setup](https://github.com/ecomm-integration-ballerina/kubernetes-cluster/blob/master/Vagrantfile).  Checked [CALICO_IPV4POOL_CIDR: 172.16.0.0/16](https://github.com/ecomm-integration-ballerina/kubernetes-cluster/blob/master/calico/calico.yaml#L230) and [--pod-network-cidr=172.16.0.0/16](https://github.com/ecomm-integration-ballerina/kubernetes-cluster

[2019-01-21 17:14] safrmich opened #73140 "Adding an already deleted node port to service shows already acquired error"
This is a copy of https://github.com/kubernetes/kubernetes/issues/32987 which is closed but not resolved as people (including myself) are still facing the issue. I've got this issue with Kubernetes version 1.11.2.

[2019-01-21 17:15] safrmich commented on #32987
Since, noone is re-opening this issue, I re-raised it here: https://github.com/kubernetes/kubernetes/issues/73140

[2019-01-21 17:20] dims opened #73141 "Failure cluster [a168b5f4...][containerd] [k8s.io] Container Runtime blackbox test when starting a container that exits should report termination message from log output if TerminationMessagePolicy FallbackToLogOnError is set [NodeConformance]"
### Failure cluster [a168b5f4699f45374244](https://go.k8s.io/triage#{id})

##### Error text:
[code]
#### Recent failures:
[1/21/2019, 11:02:47 AM ci-containerd-e2e-ubuntu-gce](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-containerd-e2e-ubuntu-gce/7324#k8sio-container-runtime-blackbox-test-when-starting-a-container-that-exits-should-report-termination-message-from-log-output-if-termin

[2019-01-21 17:20] dims commented on #73141
/assign @Random-Liu @mikebrow

[2019-01-21 17:32] Shnatsel commented on #73111
/kind test-failure
@kubernetes/sig-testing

[2019-01-21 17:41] dims opened #73142 "Failure cluster [49377f97...] failed to locate system spec "/go/src/k8s.io/kubernetes/k8s.io/kubernetes/cmd/kubeadm/app/util/system/specs/gke.yaml""
### Failure cluster [49377f97429b1e08f9fb](https://go.k8s.io/triage#{id})

##### Error text:
[code]
#### Recent failures:
[1/21/2019, 9:46:11 AM ci-kubernetes-e2enode-ubuntu2-k8sstable1-gkespec](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2enode-ubuntu2-k8sstable1-gkespec/3612#node-tests)
[1/21/2019, 9:46:07 AM ci-kubernetes-e2enode-ubuntu2-k8sstable2-gkespec](https://gu

[2019-01-21 17:43] dims commented on #73142
/assign @rojkov

Dmitry, this cluster of failures seem to be very similar (or the same) as you fixed in 43fce8d6e472974466e60685d5ec0200085d2ec4, can you please look?

[code]

[2019-01-21 17:43] dims commented on #73142
snippet from https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2enode-ubuntu1-k8sbeta-gkespec/3614/build-log.txt

/sig node

[2019-01-21 18:05] #67833 closed

[2019-01-21 18:16] M00nF1sh commented on #69264
@sdake
Do you mean the clusterName can change via kubeadm? I haven't try that out yet, will take a look.

For backward copabitility, i think silently deleting old ELB causes service outage(not sure whether it's enough to call it out in release notes).
Another approach might be support both modes. e.g. If we detected a ELB with old name, we'll use it and attach an warning event to that service(that

[2019-01-21 18:18] mgdevstack commented on #70137
/assign @mgdevstack

[2019-01-21 18:21] rojkov commented on #73142
This looks the same indeed. The log says that the branch under test is release-1.13, but the fix hasn't been back-ported to it. Do you want me to submit a PR to the release branch?

[2019-01-21 18:47] resouer commented on #58222
@misterikkit Seems it's now safe to close this one as we have #68720  now

[2019-01-21 19:06] #67834 closed

[2019-01-21 19:25] djcloudy opened #73146 "PV and PVClaim storage restrictions not working as expected"
**What happened**:

Pod is exceeding the limits placed in the PV and PVC parameters:

`apiVersion: v1
kind: Service
metadata:
  name: my-redis
  labels:
    run: my-redis
spec:
  type: NodePort
  ports:
  - port: 6379
    protocol: TCP
    name: redis-port
  selector:
    run: my-redis
---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: task-pv-redis-storage
  labels:
    type: nfs
spec:

[2019-01-21 19:51] deads2k commented on #64333
@mbohlool @liggitt @kubernetes/sig-api-machinery-misc I see this as an area that needs to be resolved before admission webhooks can move to GA.

[2019-01-21 19:58] liggitt commented on #73131
/close

[2019-01-21 19:58] #73131 closed

[2019-01-21 19:59] liggitt commented on #73146
the limits in the PV are not enforced by kubernetes, those are informational and expected to be enforced by the underlying storage implementation

/close

[2019-01-21 19:59] #73146 closed

[2019-01-21 20:01] liggitt commented on #73123
Be sure to include all relevant groups with multiple `--as-group` params. you typically need to include `--as-group=system:authenticated` in order to have permission to run a selfsubjectaccessreview check.

/close

[2019-01-21 20:01] #73123 closed

[2019-01-21 20:44] sdake commented on #69264
@M00nF1sh hadn't considered the condition of a restarting cloud.  Indeed that would create an outage.  Your solutions sound good.  The kubeadm tool always names clusters `kubernetes` although I think in later versions there is a way to customize the name.  Not everyone usees kubeadm either (their is kops and atleast 50 different tools in the CNCF ecosystem that have been published for installing K

[2019-01-21 20:50] mikebrow commented on #73141
https://github.com/kubernetes/kubernetes/pull/72793 Does this fix it?

[2019-01-21 21:07] #65773 closed

[2019-01-21 21:44] dims commented on #71996
@qzmfranklin interesting. i haven't seen any follow up PRs on your proposed idea. Did i miss something?

[2019-01-21 22:07] #73118 closed

[2019-01-21 22:12] dmolik commented on #72803
I believe this is still an issue. Here is the link back kubernetes-incubator/metrics-server#172
@mrunalp
I'll dig into this some more in the next 24 hours or so

[2019-01-21 22:17] dmolik commented on #72803
so the pod reports the nanoCores, but they are still missing at the container level

[2019-01-21 23:01] M00nF1sh commented on #69264
@sdake I think we are using clusterName as a unique identifier everywhere(e.g. k8s.io/cluster/${clusterName}:owned tags). Since cluster admins can have control over clusterName when launching clusters, i think it ok to assume `clusters in same region cannot have same name`.
Also, clusterName is an unique identifier under kubernetes federation 😄

[2019-01-21 23:33] neolit123 commented on #73136
cc @kubernetes/sig-gcp-bugs

[2019-01-21 23:39] neolit123 commented on #73142
+1 for backport.

[2019-01-21 23:42] neolit123 commented on #73141
/sig node

[2019-01-21 23:43] neolit123 commented on #73140
/sig cli
?

[2019-01-22 00:18] andrewsykim commented on #69341
/close

In https://github.com/kubernetes/kubernetes/pull/70109 we agreed that trying to change the service account name was not worth the benefit of renaming the controller. I would like to revalidate doing this in the future though.

[2019-01-22 00:18] #69341 closed

[2019-01-22 00:51] c-knowles commented on #23581
@k perhaps you can use https://aws.amazon.com/partners/servicebroker/?

[2019-01-22 01:58] #73098 closed

[2019-01-22 02:49] annProg opened #73154 "Cluster IP will lost connection when restart kube-proxy in version 1.12.5"
**What happened**:
After upgrading to kube-proxy `1.12.5`, the ClusterIP will be disconnected when restarting kube-proxy. When a service uses ClusterIP to connect to other services, it will be affected. As shown in the figure, during the kube-proxy restart, the response time is obviously slower.
![image](https://user-images.githubusercontent.com/4145852/51508755-a317fd80-1e31-11e9-9995-febec4cfba0

[2019-01-22 02:50] annProg commented on #73154
@kubernetes/sig-network-bugs
/area ipvs

[2019-01-22 03:07] jamesjmurtagh commented on #72803
Yep, that's what I'm seeing (when using a CRI other than Docker).

[2019-01-22 03:43] alebsack commented on #67342
@DaveKriegerEmerald I traced the 1.11 branch PR and I believe the fix is not in v1.11.6, so it should be in v1.11.7.

[2019-01-22 04:06] linxiulei opened #73155 "CRI: Pass namespace into to cri"
**What would you like to be added**:

Pass namespace into to cri to let cri implement has the namespace context and then reinforce the isolation of data between namespaces

**Why is this needed**:

For instance of cri-containerd, which depends on containerd mechanism. We found there are several issues regarding image in containerd (https://github.com/containerd/containerd/pull/2889). Long story sh

[2019-01-22 04:08] linxiulei commented on #73155
/sig kubelet
/sig node

[2019-01-22 04:36] surajssd commented on #72593
IIUC scheduler has no way of dealing with this problem right now because, node objects has no information of what sysctl admin has whitelisted ! Unless we decide to add that information to `NodeStatus`.

[2019-01-22 04:49] cofyc commented on #71716
/close

No failures in volume binding for 15 days. Reopen or create new issue when there are new failures.

Testgrid snapshot on 2018-01-22 for test `TestVolumeBinding|TestPVAffinityConflict|TestVolumeProvision|TestRescheduleProvisioning`:

![snapshot](https://user-images.githubusercontent.com/91730/51513051-c350b800-1e43-11e9-987e-fa7f0b204424.png)

[2019-01-22 04:49] #71716 closed

[2019-01-22 04:56] cofyc commented on #72329
/unkind feature
/kind cleanup

[2019-01-22 04:57] cofyc commented on #72329
/remove-kind feature

[2019-01-22 05:02] cofyc commented on #56098
@msau42
hi, where you want to put scheduling library?

[2019-01-22 05:56] mortent commented on #73136
/assign

[2019-01-22 06:34] jampsen commented on #67180
I have the same issue now, kubelet version is GitVersion:"v1.10.0".
liveness or readiness is failed , but under line examination is health

[2019-01-22 06:46] jacksontj opened #73157 "kube-proxy in ipv6 cluster with ipv4 "external-ip" for a service"
**What happened**:
I have an ipv6-only cluster, and in that cluster one of the cloud provider systems created a LoadBalancer with an `EXTERNAL-IP` set to an ipv4 address. When this happened kube-proxy continually fails with errors such as:

[code]

From the error here it seems that kube-proxy is blindly assuming all IPs that it gets for services etc. are ipv6, in this case it is ipv4 which is caus

[2019-01-22 06:49] jacksontj commented on #73157
@kubernetes/sig-network-bugs

[2019-01-22 06:57] jacksontj opened #73158 "kube-proxy in ipv6-only cluster binding to both ipv4 and ipv6 address"
**What happened**:
 I have an ipv6-only cluster, and in that cluster I have a NodePort service. After the NodePort service is added kube-proxy binds to the NodePort on the system, but in doing so it is binding to both ipv4 and ipv6 addresses, which we can see here:

[code]
I then set the `net.ipv6.bindv6only` sysctl to 1, recreated the cluster and the same thing happened. And to clarify when sendi

[2019-01-22 06:57] jacksontj commented on #73158
@kubernetes/sig-network-bugs

[2019-01-22 07:40] Huang-Wei commented on #72479
One reason is to guarantee symmetry of anti-affinity - i.e. for an incoming pod even if it's not using pod anti-affinity, calculation is still needed to ensure it doesn't break existing pods which have anti-affinity defined.

[2019-01-22 07:44] jacksontj commented on #73157
I've created a [simple workaround](https://github.com/kubernetes/kubernetes/compare/master...jacksontj:issue_73157?expand=1) which simply skips the mismatched IP addresses. This skips the rule and allows kube-proxy to manage the rest of the iptables entries. If this approach is acceptable I'd be more than happy to clean that up and submit a PR.

[2019-01-22 07:47] ichekrygin commented on #59850
@liggitt I am seeing slightly different results in `v1.13.2`. In my case both `root` and `leaf` are deleted and `middle` is marked for deletion with `deletionTimestamp`. Could you please confirm if that is the correct behavior for foreground deletion?

With my interpretation of https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#foreground-cascading-deletion, I would expe

[2019-01-22 08:01] jacksontj commented on #73158
I've created a [simple workaround](https://github.com/kubernetes/kubernetes/compare/master...jacksontj:issue_73158?expand=1) which simply changes the `OpenLocalPort` method to be specific about what ip version it binds to. This seems like a reasonable change fix to the problem short of adding dual-stack support. We could add a separate CLI flag to control this behavior, but IMO its previous behavi

[2019-01-22 08:02] nilebox commented on #59850
@ichekrygin unfortunately, this change was reverted to keep backward compatible default behaviour, see https://github.com/kubernetes/kubernetes/issues/66110#issuecomment-413761559

Currently there is no way to request Foreground deletion mode via kubectl.

[2019-01-22 08:06] nilebox commented on #59850
As far as I remember, API server code doesn't allow user to add this finalizer manually, i.e. it won't appear in the actual object (you can check via `kubectl get ...`). The only way to request Foreground deletion is via DeleteOptions, which are not exposed via kubectl flags. You can still do that via `kubectl --raw` (`curl`-like invocation of a raw REST request), but that's not something any user

[2019-01-22 08:07] matthyx commented on #27114
Alright, so obviously you have to use a wrapper for `livenessProbe`:
[code]
Where `liveness_check` contains the actual command:
[code]
And here is the `postStart` handler also calling `liveness_check` in a finite loop:
[code]
As you can see, it mimics the proposed `maxInitialFailureCount` working, but is a lot more messy, requires a command (curl in the image, docker exec doing a fork, ...) and is

[2019-01-22 08:12] Rogary commented on #70945
@yanghaichao12  I change network plugin from calico  to flannel so  externel service  worked just config  endport and service

i guess  if   calico  want use externel service A  in Host H ,  Host H's netrork  must support BGP

[2019-01-22 08:13] yingnanzhang666 commented on #73120
@xichengliudui we have upgraded our clusters to kubernetes 1.12. os is centos 7.

[2019-01-22 08:19] #67858 closed

[2019-01-22 08:39] annProg commented on #73154
## Test different version

| version | result |
| ---- | ---- |
| 1.11.4 | OK |
| 1.11.5 | Problem |
| 1.12.0 | OK |
| 1.12.1 | OK |
| 1.12.2 | Problem |
| 1.12.5 | Problem |

perhaps it was introduced by graceful termination
@Lion-Wei @m1093782566 @lbernail

[2019-01-22 08:47] lbernail commented on #73154
I'll have a look this week (probably not today)
It could be caused by the VS being cleaned up on startup (not likely) or the clusterIP being unbound and rebound

[2019-01-22 08:48] rojkov commented on #73142
@neolit123 @dims I've created two backporting PRs to release-1.12 and release-1.13. PTAL.

The logs from the 1.11 branch are different. And in that release the spec file's paths were correct still.

[2019-01-22 08:59] safrmich commented on #73140
Hello neolit123,

Please refer to ticket https://github.com/kubernetes/kubernetes/issues/32987 for the description of the problem. The ticket is closed even though the issue hasn't been resolved and still appears. The latest occurrence is with Kubernetes version 1.11.2.

Thank you,
Michal

[2019-01-22 09:35] mourya007 commented on #73050
Hi @briantkennedy  I am not able to reproduce the issue, correct me if I am doing anything wrong.
1.  on the first terminal ran kubectl apply -f clusterRole.yml
clusterrole.rbac.authorization.k8s.io/monitoring created

2. Ran same command again
clusterrole.rbac.authorization.k8s.io/monitoring configured

3. Ran command on another terminal
 kubectl get clusterrole -w monitoring -oyaml
aggregationRu

[2019-01-22 09:46] george-angel commented on #36304
/remove-lifecycle stale

[2019-01-22 09:59] nrobert13 opened #73166 "nodeselector docu - behavior mismatch"
**What happened**:
using nodeselector in a daemonset
[code]
having the label on the master node, runs fine.
Changing label during runtime to
`node-role.kubernetes.io/master: ""`
will cause the pod on the respective master to be terminated, although the docu says:
`The “IgnoredDuringExecution” part of the names means that, similar to how nodeSelector works, if labels on a node change at runtime suc

[2019-01-22 10:30] brouberol commented on #28969
Hi there,

I managed to reliably deploy a Cassandra cluster with kubernetes, in a setup using:
- local volumes
- pod anti affinity to only deploy one pod per node
- host network

The way that works is by defining a StatefulSet for cassandra, and 4 different headless services (one per seed node, used for cluster discovery, and one used by the clients to talk to the cluster).

The StatefulSet is def

[2019-01-22 10:36] cofyc opened #73168 "Do not remount volume again after it is detached"
This issue replaces https://github.com/kubernetes/kubernetes/issues/64474.

**What happened**:

Volume may be remounted after it is detached.

**What you expected to happen**:

Volume will not be remounted after it is detached.

**How to reproduce it (as minimally and precisely as possible)**:

See https://github.com/kubernetes/kubernetes/pull/64610.

[2019-01-22 10:39] hengfengli opened #73169 "Code related to CronJob's `.Spec.StartingDeadlineSeconds` is unreachable"
**What happened**:
The variable `tooLate` can never be `true` in https://github.com/kubernetes/kubernetes/blob/27e5971c11cfcda703a39ed670a565f0f3564713/pkg/controller/cronjob/cronjob_controller.go#L264.

This is because `getRecentUnmetScheduleTimes` never returns a scheduled time that is less than `now-StartingDeadlineSeconds`.

In https://github.com/kubernetes/kubernetes/blob/27e5971c11cfcda703a3

[2019-01-22 10:40] cofyc commented on #73168
/sig storage

[2019-01-22 10:44] nrobert13 commented on #73166
/sig docs

[2019-01-22 11:01] cofyc commented on #73081
/close
Closing via https://github.com/kubernetes/kubernetes/pull/73139.

[2019-01-22 11:01] #73081 closed

[2019-01-22 11:39] hengfengli commented on #73169
@kubernetes/sig-scheduling-bugs

[2019-01-22 12:32] neolit123 commented on #73142
thank you @rojkov
labeled the PRs and pinged approvers and the release team.

sadly /test falls in a space where it needs backports fixes for branches that really do not qualify as "critical-urgent" yet if we don't fix those tests would continue to fail.

[2019-01-22 12:44] redbaron opened #73172 "kubelet's httpProbe follow redirects"
**What happened**:

httpProbe follows redirect

**What you expected to happen**:

301/302 code makes check successfull as per documentation

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

/sig node

[2019-01-22 12:45] ringtail opened #73173 "Add request usage rate to kubectl top"
**What would you like to be added**:

Add a column of cpu and memory resource request usage rate

**Why is this needed**:
[code]
Here is the current kubectl top node. But in kubernetes resource request means a lot in scheduling.  The value above can not tell any useful information for resource inventory and scheduling especially when you need to delete or scale down some nodes.

[2019-01-22 12:46] ringtail commented on #73173
/sig Autoscaling

[2019-01-22 12:47] ringtail commented on #73173
/sig Cluster Ops

[2019-01-22 12:58] agolomoodysaada commented on #28969
@brouberol , thanks for posting your detailed workaround. I still think we need a native solution from Kubernetes.

[2019-01-22 12:59] redbaron commented on #18233
This contradicts docs , opened https://github.com/kubernetes/kubernetes/issues/73172

[2019-01-22 13:10] umair-akram commented on #65933
So In my case after I patched **providerId** plus manually stoped kub-control-manager on the leader node and waited for a new leader to be elected everything started to work fine.

[2019-01-22 13:18] wojtek-t commented on #72479
Even on cluster with small hundreds of nodes the impact is visible. And there are many people creating such clusters.

It won't be removed for at least next 3 releases due to deprecation policy. But it doesn't mean we can't deprecate it imho.

[2019-01-22 13:22] Torrent007 commented on #71502
Any update on it? I have this issue too :(

[2019-01-22 13:49] illyaMs commented on #19817
Thanks for the hint.
For me it was failing with `template: output:1: unexpected "\\" in command` error, but changing all `"\n"` occurrences to `println` go-template function did the job.

[2019-01-22 14:04] sdake commented on #69264
@M00nF1sh,

Ya, that seems fair (re cluster names).  I hadn't realized the cluster name was used throughout the cloud provider as a unique identifier.

The first choice seems to have a limitation that if a cluster is deployed in a region, no new cluster can be deployed in that region using the same name/namesapce of the service.  The second choice doesn't have this limitation, but seems more compl

[2019-01-22 14:14] Shnatsel commented on #71502
Since this seems to be something related to VSphere specifically, you should also try contacting VMware support about it.

[2019-01-22 14:22] loganmzz commented on #48575
I'm on Windows with MinGW. After digging into system directories, it seems `bash_completion` script which contains helper functions such as `_filedir` is missing.

I had to get files from Git repository at https://github.com/scop/bash-completion/blob/master/bash_completion to `/usr/share/bash-completion/bash_completion`

Then add following line at top on my `~/.bashrc`:

[code]

[2019-01-22 15:07] mm4tt opened #73176 "Scheduler doesn't schedule any pods for short periods of time"
We've noticed a strange behavior of the scheduler in GCE 5K node scalability tests.
There were periods of time, lasting about 6s, when scheduler didn't schedule any new pods.
It's ruining our 5s pod-startup-latency SLO.

See the example below, pod **density-latency-pod-2325-dgqrv** created on **09:08:59**, scheduler didn't schedule it until **09:09:06**.

[code]

An interesting pattern can be foun

[2019-01-22 15:09] mm4tt commented on #73176
@kubernetes/sig-scheduling-bugs
/sig scheduling

[2019-01-22 15:11] mm4tt commented on #72976
As per our understanding, the other regression is this one - https://github.com/kubernetes/kubernetes/issues/73176

[2019-01-22 15:35] mm4tt commented on #73176
@wojtek-t

[2019-01-22 15:37] liggitt commented on #73166
That documentation describes the behavior of individual pods, but not necessarily of controllers built on top of those pods. DaemonSets use the node selector in their spec to find the nodes on which their pods should run, and actively ensure they have pods running only on those nodes.

[2019-01-22 15:39] rummens opened #73177 "Docker Garbage Collection not working and desribe node log wrong allocatable ephemeral-storage"
**What happened**:
We have a Kube Cluster in Azure, which runs into Disk Pressure when using one node. The Cluster has about 700GB Storage available but it is not using it. When looking into the node, most of the mount is used by Docker. Also when requesting information about the node using kubectl, it shows plenty of allocatable storage left.

The following questions come to mind:
1. Why is the k

[2019-01-22 15:41] adampl commented on #66560
:(

[2019-01-22 15:41] ichekrygin commented on #59850
@nilebox , thank you for explaining. Just to confirm, currently `kubectl` does not support `foregroundDeletion`, is that correct?

As for finalizer:
[code]

[2019-01-22 15:48] patrickdk77 commented on #66796
This had to have worked, as if it was external, it wouldn't have been a hairpinning issue. Since it would have gone out the nat address on one ip, and back in another ip for the nlb.

To work around the hairpinning issue, I just completely dropped the usage of everything, and just had all the pods use the cluster ip of the service instead.

[2019-01-22 15:56] stojan-jovic commented on #68712
Completely agree with previous comments! Even I found the way how to detect completed/failed jobs, still not sure am I covered all use cases. This part definitely needs clarifications/improvements/better documentation.

[2019-01-22 16:00] nrobert13 commented on #73166
I see, my question was more related to the part why the pod is getting terminated on the node where during runtime the label was changed. Are these special controller behaviors documented somewhere? didn't manage to find this specific one, that daemonsets handle nodeselector differently from pods.

[2019-01-22 16:04] liggitt commented on #73166
it's in the DaemonSet API documentation (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#daemonsetspec-v1-apps):

[2019-01-22 16:04] liggitt commented on #73166
/close

[2019-01-22 16:04] #73166 closed

[2019-01-22 16:05] simonhardingforgerock opened #73178 "OpenDJ instances configured to allow anonymous binds"
Any of our OpenDJ instances can have certain entries browsed with an anonymous bind, like so:

[code]

Note that the default ACIs prevent a lot of sensitive data from appearing, like password hashes.

This should be disabled by default:
https://backstage.forgerock.com/knowledge/kb/article/a97304600

Worth checking that latest ForgeOPS have not already done this. If they have not, raise there too.

[2019-01-22 16:06] #73178 closed

[2019-01-22 16:17] bjhaid commented on #69676
Meta point, there are several times we have had OOM events show up in dmesg that cadvisor missed them and they did not end up as events...

[2019-01-22 16:25] nrobert13 commented on #73166
Thanks, but I still don't see where is it stated that daemonsets respects the nodeselector in a different way than pods do it, that a running pod is getting terminated if the nodeselector doesn't match anymore, unlike in pod description where it states, `The “IgnoredDuringExecution” part of the names means that, similar to how nodeSelector works, if labels on a node change at runtime such that the

[2019-01-22 16:45] keppi2 commented on #70496
:+1:

[2019-01-22 16:49] liggitt commented on #73166
DaemonSets maintain pods as nodes are added/removed, or as node labels are updated to make them match/not-match the DaemonSet nodeSelector

[2019-01-22 17:30] ichekrygin commented on #59850
quick update, i tried deletion with `curl` and got exactly the same result.
[code]
To refresh,
- expected result: `root` and `middle` should be still available via REST API, and `leaf` is deleted
- actual: `root` and `leaf` are deleted, and `middle` left - as if it would behave with `propagationPolicy":"Background"`

[2019-01-22 17:42] msau42 commented on #62156
It would be helpful if you could provide a pod spec and repro steps.

[2019-01-22 17:47] PatrickLang commented on #72788
@feiskyer - are you able to work on this?

[2019-01-22 17:51] dashpole commented on #72788
@jamesjmurtagh that is a good point.  For CRI runtimes, the kubelet should calculate the average over 10s to produce this metric.

[2019-01-22 17:51] mourya007 commented on #71004
@awly  Can you give me one example for what exactly we need to do in this library https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/util/pkiutil ?

[2019-01-22 18:10] mourya007 commented on #64751
@liggitt cc

[2019-01-22 18:17] daschott commented on #69901
Can you validate that this is fixed in KB4476976. ETA for release is tomorrow.

[2019-01-22 18:22] ichekrygin commented on #59850
Update, it appears `kubectl` issue "not"-supporting "propagationPolicy":"Foreground"
Using:
[code]
worked as expected.

[2019-01-22 18:49] huangjiasingle commented on #73089
@mkobetic  may be you can copy you controller code to the comment.

[2019-01-22 18:57] liggitt commented on #64751
This still seems useful and is outstanding. @Fedosin, any objections to @mourya007 taking it over?

[2019-01-22 19:00] levindoneto commented on #44665
This worked, thanks 💯

I executed these commands right after the following one for generating the certificates and token for adding nodes to this master later on:
[code]

[2019-01-22 19:03] misterikkit commented on #68951
@Adirio I think that file is safe to change. Feel free to send a cleanup PR.