[2016-12-09 19:07] k8s-merge-robot opened #38518 "TestDaemonSetController {daemonset}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/962/

Failed: TestDaemonSetController {daemonset}

[code]

[2016-12-09 19:07] Random-Liu commented on #36264
Currently, only cri node e2e test is submit queue blocker, so this issue is not done yet.

CRI cluster e2e test is quite stable now, except the test `[k8s.io] Loadbalancing: L7 [k8s.io] Nginx should conform to Ingress spec`. The test starts failing in CRI suite since introduced.

I'll debug the test and add cluster e2e as submit queue blocker after fixing the test.

Move this to 1.6.

[2016-12-09 19:09] ixdy commented on #38437
oh, false alarm. `cluster/saltbase/salt/kube-addons/kube-addon-manager.yaml` is copied to `${dst_dir}`, i.e. `${release_stage}/gci-trusty`, whereas `cluster/gce/coreos/kube-manifests/kube-addon-manager.yaml` is copied to `${release_stage}`.

`kube::release::package_kube_manifests_tarball` is a rather terrible function. :(

[2016-12-09 19:09] #38437 closed

[2016-12-09 19:10] ixdy commented on #38126
Yep, what @mikedanese said I said. :)

[2016-12-09 19:19] MrHohn commented on #37798
Could your provide more detail about the pod you ran nslookup on? What base image it used?

Were the internal DNS addresses resolvable?

[2016-12-09 19:19] jianhuiz commented on #36988
seems not fixed, still having this issue with master code

[2016-12-09 19:29] #37771 closed

[2016-12-09 19:31] euank commented on #37903
@dims There have been a distinct lack of node logs throughout this issue so it's hard to have confidence in what's actually causing this issue and whether it's closely related to 1.5 or not, so I'm not sure.

My next steps are to figure out what's taking longer (and resulting in a timeout). Properly root-causing why it's taking longer might not be possible without node logs and I'm not sure when t

[2016-12-09 19:31] thockin opened #38521 "GCE EnsureLoadBalancer() for static IPs should error if the IP is not static"
Seen by inspection, potentially a cause for a user-reported symptom.

Setup:
1. Create a Service, type=LoadBalancer
2. A public IP is assigned
3. Copy that public IP to the Service's locadBalancerIP field

The assumption is that this guarantees your Service will use that IP.  That's true, but it was true without step 3.  If you now delete this Service and create a new one with that loadBalancerIP,

[2016-12-09 19:31] thockin commented on #38521
@bprashanth

[2016-12-09 19:32] freehan commented on #37979
Need to surface the problem somewhere. An event seems okay

[2016-12-09 19:44] Random-Liu commented on #38439
@rmmh Yeah, seems quite possible from the failure message. Will take a look after lunch.

[2016-12-09 19:45] jsravn commented on #38456
That's right, although I don't particularly agree that this is just an issue with layer 4 load balancing.

A big problem is the use of a simple probability to distribute connections. This makes the situation much worse. If one pod dies then reconnecting keepalives will get distributed to the remaining pods - a common scenario during rolling deploys - but any replacement pod won't get its fair shar

[2016-12-09 19:45] madhusudancs commented on #37105
@dims yeah, let's move it.

[2016-12-09 19:46] pwittrock commented on #37991
@smarterclayton

[2016-12-09 19:49] jsravn commented on #38456
I updated my description since on second thought it isn't necessarily an iptables problem.

[2016-12-09 19:54] timstclair commented on #37453
@dashpole  if you have spare cycles, can you look into this?

[2016-12-09 19:55] #38501 closed

[2016-12-09 19:55] #38481 closed

[2016-12-09 19:55] #38479 closed

[2016-12-09 19:55] #38478 closed

[2016-12-09 19:55] #38475 closed

[2016-12-09 19:55] #38474 closed

[2016-12-09 19:55] ixdy commented on #38066
Seems like this stopped happening?

[2016-12-09 19:55] timstclair commented on #29406
/cc @dashpole

[2016-12-09 19:57] timstclair commented on #28407
@dashpole this is a good one to tackle if you have some spare cycles

[2016-12-09 20:00] bowei commented on #34571
Let's move this to next milestone

[2016-12-09 20:01] emsearcy commented on #27796
As mentioned above, it's easier if you just use one account.  If you go back to https://identity.linuxfoundation.org/projects/cncf you can choose "Employee" if you chose "Individual" before, and vice-versa.  Your organization manager can remove you from the org at a later date if you shouldn't be authorized under that org any more.

Linux Foundation IDs can be associated with logins to various LF

[2016-12-09 20:01] bprashanth commented on #38456
There are 3 efforts in this space:

1. Service proxy and/or "internal" ingress (https://github.com/kubernetes/kubernetes/issues/28443, https://groups.google.com/forum/#!topic/kubernetes-sig-network/rIRExoC5Dp0 etc). Basically you'll get a proxy (various deployment styles like sidecar, per node, or bank of internal lb) that makes routing descisions and the kube-proxy part will just trap and redirec

[2016-12-09 20:02] pwittrock commented on #35741
FYI, new failures are for 1.3 tests which I did not patch.  I am guessing we just started running these now?

[2016-12-09 20:03] bprashanth commented on #38456
"in this space" meaning better algorithms for intra cluster request routing

[2016-12-09 20:03] timothysc commented on #35166
I'm not really a fan of the taints idea, although possible.

Most often use cases for spot instances that I've come across are typically opportunistic batch jobs. But I'm certain each group of folks, might have their own reasons.

This is where customization might come into play, to extend your scheduler with your own logic.

[2016-12-09 20:04] pwittrock commented on #37134
@smarterclayton We probably want to improve the line for `kubectl --force deletion is breaking upgrade tests #37117`.  I have a PR out I can add it to if you know what the wording should be.

[2016-12-09 20:10] wojtek-t commented on #38066
It seems so. Let's leave it open for the weekend and I will close it on Monday if it won't happen over the weekend.

[2016-12-09 20:13] sjug commented on #34336
Sounds good @timothysc, I don't see anywhere to join the org.

[2016-12-09 20:14] krousey commented on #35741
@pwittrock They have been failing for at least a week. Test suite stability due to other issues might have caused the suite to not report results for a few runs. This should be made to work in 1.3 as well.

[2016-12-09 20:15] yujuhong commented on #36264
We should also add this builds to `submit-queue.nonblocking-jenkins-jobs` so that we get issues filed automatically.

[2016-12-09 20:19] liggitt commented on #37991
I just ran into this... it depends if we're working off a go struct or the unstructured json

when we're dealing with unstructured json, missing fields return an error

when we're dealing with a go struct, missing fields return the default value

[2016-12-09 20:27] smenon78 commented on #37205
I cannot find anywhere what /etc/kubernetes/cloud-config.conf file should look like if it is cloud provider is AWS. Anyone has an example?

[2016-12-09 20:30] dims commented on #37903
@euank let's clear the milestone for now. we can always throw it back on if we see something specific we need to fix in 1.5.

[2016-12-09 20:48] k8s-merge-robot opened #38526 "[k8s.io] Empty [Feature:Empty] does nothing {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/1946/

Failed: [k8s.io] Empty [Feature:Empty] does nothing {Kubernetes e2e suite}

[code]

[2016-12-09 21:02] pwittrock commented on #37991
kubectl jsonpath was switch from gostruct to unstructured in 1.5 right?

[2016-12-09 21:05] euank commented on #38042
@dims This is probably the same as https://github.com/kubernetes/kubernetes/issues/37903#issuecomment-266115294, so we can clear it here for consistency

[2016-12-09 21:05] jkemp101 commented on #33554
This issue snuck up and bit me.  I was surprised two DNS pods couldn’t handle the load of a 7 node/81 pod cluster when the node running the DNS containers did a GC to delete old docker images.  I’m finding it hard to accept a design that causes a single connection to `api.example.com` to result in 8 failed `NXDOMAIN` responses before I get the correct address.  We can scale kube-dns, dnsmasq, etcd

[2016-12-09 21:06] liggitt commented on #37991
It's inconsistent… it depends what is passed in, and whether you are working with a list or not :(

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource_printer.go#L2680

[2016-12-09 21:06] wojtek-t commented on #38446
@kubernetes/goog-gke - any thoughts?

[2016-12-09 21:13] k8s-merge-robot opened #38528 "[k8s.io] Deployment RecreateDeployment should delete old pods and create new ones {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-parallel/1451/

Failed: [k8s.io] Deployment RecreateDeployment should delete old pods and create new ones {Kubernetes e2e suite}

[code]

Previous issues for this test: #29197 #36289 #36598

[2016-12-09 21:17] timothysc commented on #25286
Closing this now that there is only 1 outstanding PR to enable by default.

[2016-12-09 21:17] #25286 closed

[2016-12-09 21:18] roberthbailey commented on #11816
@dims - https://github.com/kubernetes/kubernetes/pull/38212 will take advantage of @liggitt's new flags to enable kubelet auth in gce's kube-up, which will cause us to start exercising this in our e2e tests. I'd like to leave this issue open until that is done, and we plan to try to get it into the 1.5 branch (after 1.5.0 is cut), so leaving the 1.5 milestone seems correct, but this issue certainl

[2016-12-09 21:19] MrHohn commented on #33554
cc @bowei

[2016-12-09 21:21] timothysc commented on #2904
I'm going to close this issue.  Multi-op transactions exist in v3, but we will wait until 1.7 before we start batching some operations.

[2016-12-09 21:21] #2904 closed

[2016-12-09 21:22] #34328 closed

[2016-12-09 21:22] #32512 closed

[2016-12-09 21:23] liggitt commented on #38517
looks like controllers accessing new resources without updating controller bootstrap roles

[2016-12-09 21:25] timothysc commented on #8295
closing this issue b/c in v3 all reads are quorum reads, and original issue sited has been closed for a long time now.

[2016-12-09 21:25] #8295 closed

[2016-12-09 21:26] timothysc commented on #1405
closing, uber old issue.  Please reopen if there is a repro.

[2016-12-09 21:26] #1405 closed

[2016-12-09 21:29] deads2k commented on #38517
401's, not 403's.  Probably missing `cfssl`

[2016-12-09 21:32] dims commented on #38042
ack @euank clearing the milestone for now just like the other one. we can always throw it back on if we see something specific we need to fix in 1.5

[2016-12-09 21:36] timothysc commented on #6770
So we've done a ton of work to limit the relist behavior, and I'm fairly certain there still exist some conditions where the relists can be re-triggered, but not in a thundering herd fashion.   Given the age of the original issues, I think it makes more sense at this point to open specific issues on the sub-elements that may still need to be addressed.

[2016-12-09 21:36] #6770 closed

[2016-12-09 21:41] smarterclayton commented on #37134
https://github.com/kubernetes/kubernetes/pull/37263 has a longer release note - but if you want it to be even longer I can make it so.

[2016-12-09 21:45] erictune opened #38529 "Show Pods as Unknown when Termination blocked due to too many bad nodes"
**Kubernetes version** (use `kubectl version`):

[code]
This is effectively 1.5 code.

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release): unknown, the default with kube-up.sh
- **Kernel** (e.g. `uname -a`): unknown, the default with kube-up.sh
- **Install tools**: n/a
- **Others**: n/a

**What happened**:

All 3 of my nodes are not ready.  Pr

[2016-12-09 21:46] erictune commented on #38529
@foxish found that there is a special case in nodecontroller.go where _all_ nodes are unready.  I handles this differently.  In his cluster with 2/3 nodes not ready, the pod status is reported correctly.

[2016-12-09 21:46] erictune commented on #38529
Now that I understand this, it is fairly low priority.

[2016-12-09 21:47] k8s-merge-robot opened #38530 "ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster/22/

Multiple broken tests:

Failed: [k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available {Kubernetes e2e suite}

[code]
Issues about this test specifically: #31277 #31347 #31710 #32260 #32531

Failed: [k8s.io] Addon update sho

[2016-12-09 21:49] dchen1107 commented on #37853
@thockin thanks for test results, which doubly confirms #32577 is the trigger for this massive soft lockup issues on some kernel versions. By introducing the flag disabling this enhancement feature, this issue should become non-release-blocker. But I will leave release-blocker label for the soaking test over the weekend, and take an action on Monday morning.

Now we shift our focus to create a rel

[2016-12-09 21:53] rkouj commented on #37657
Here is the race:

t0: Reconciler gets the [list of unmounted volumes](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/reconciler/reconciler.go#L161) from actual_state_of_world

t1: A previous [unmount operation is succeeded](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go#L137).

t2: Reconciler

[2016-12-09 22:06] jingxu97 commented on #36970
The last two failure are caused by the error-- connection timed out when nfs clients tried to mount to nfs server.

E1209 21:13:39.049648    1428 mount_linux.go:119] Mount failed: exit status 32
Mounting command: /home/kubernetes/bin/mounter
Mounting arguments: 10.180.2.120:/ /var/lib/kubelet/pods/0725c411-be54-11e6-854e-42010af00002/volumes/kubernetes.io~nfs/nfs-volume nfs [ro]
Output: Running mo

[2016-12-09 22:13] DreadPirateShawn opened #38532 "Events stream should include all pod state events"
**Kubernetes version** (use `kubectl version`):

[code]

Looking at http://kubernetes.io/docs/user-guide/pod-states/ we see descriptions like:

**Pod is Running, 1 container, container exits failure**
* Log failure event
* If RestartPolicy is:
    * Always: restart container, pod stays Running
    * OnFailure: restart container, pod stays Running
* Never: pod becomes Failed

However, no event gets

[2016-12-09 22:23] thockin commented on #37853
@ixdy: what do you think about always collecting serial console from GCE
VMs when running tests on GCE?  That is a useful test artifact.

On Fri, Dec 9, 2016 at 1:49 PM, Dawn Chen <notifications@github.com> wrote:

[2016-12-09 22:24] dims commented on #38236
per @soltysh we should close all those upgrade tests for ScheduledJobs, since these are not problems which we'll fix

[2016-12-09 22:24] dims commented on #38232
per @soltysh we should close all those upgrade tests for ScheduledJobs, since these are not problems which we'll fix

[2016-12-09 22:24] dims commented on #38240
per @soltysh we should close all those upgrade tests for ScheduledJobs, since these are not problems which we'll fix

[2016-12-09 22:24] dims commented on #38234
per @soltysh we should close all those upgrade tests for ScheduledJobs, since these are not problems which we'll fix

[2016-12-09 22:24] dims commented on #38233
per @soltysh we should close all those upgrade tests for ScheduledJobs, since these are not problems which we'll fix

[2016-12-09 22:24] dims commented on #38237
per @soltysh we should close all those upgrade tests for ScheduledJobs, since these are not problems which we'll fix

[2016-12-09 22:24] dims commented on #38245
per @soltysh we should close all those upgrade tests for ScheduledJobs, since these are not problems which we'll fix

[2016-12-09 22:24] dims commented on #38241
per @soltysh we should close all those upgrade tests for ScheduledJobs, since these are not problems which we'll fix

[2016-12-09 22:25] dims commented on #38246
per @soltysh we should close all those upgrade tests for ScheduledJobs, since these are not problems which we'll fix

[2016-12-09 22:25] dims commented on #38243
per @soltysh we should close all those upgrade tests for ScheduledJobs, since these are not problems which we'll fix

[2016-12-09 22:26] ixdy commented on #37853
How is that different from `gcloud compute instances get-serial-port-output`, which we [already collect](https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump.sh#L103-L104)?

[2016-12-09 22:30] foxish commented on #37239
Closing this, since we're continuing to use the alpha annotation in examples for now.

[2016-12-09 22:30] #37239 closed

[2016-12-09 22:33] krousey commented on #38232
@dims Can you not close all of these issues. These need to actually be fixed. I understand that they are not expected to pass, but the tests need to be enhanced to understand that and stop generating noise. Proper version checked guards need to be implemented to skip these tests for version combinations that are expected to fail.

[2016-12-09 22:33] dims commented on #38228
@jessfraz Anyway i can help? look like interesting set of issues

[2016-12-09 22:33] Random-Liu commented on #37853
When we collect serial output after time running, the node may already gone. At least in node e2e sometimes we can't collect serial output after test failure probably caused by soft lockup:
[code]

[2016-12-09 22:34] krousey commented on #38232
And yes they will need the 1.5 milestone as they need to be fixed for 1.5 release process.

[2016-12-09 22:34] foxish commented on #38231
Fixed by 38324, closing.

[2016-12-09 22:34] #38231 closed

[2016-12-09 22:35] dims commented on #38232
ack @krousey will reopen them

[2016-12-09 22:35] dims commented on #38243
https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-266141737

[2016-12-09 22:35] dims commented on #38246
https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-266141737

[2016-12-09 22:35] dims commented on #38241
https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-266141737

[2016-12-09 22:35] dims commented on #38245
https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-266141737

[2016-12-09 22:35] dims commented on #38237
https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-266141737

[2016-12-09 22:35] dims commented on #38233
https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-266141737

[2016-12-09 22:35] dims commented on #38234
https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-266141737

[2016-12-09 22:35] dims commented on #38240
https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-266141737

[2016-12-09 22:35] dims commented on #38236
https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-266141737

[2016-12-09 22:54] rkouj commented on #37657
Discussed with @saad-ali
Looks like it is by design and each unmount operations (or any operation for that matter) should be idempotent.

The fix would involve two things: Making the TearDown() not to fail if the dir is not found. If dir is not found, it should just log and succeed.

Now there is a potential for the unmount operation to be stuck in a loop and here's how:

1. The valid unmount oper

[2016-12-09 22:54] dchen1107 commented on #36708
RE: https://github.com/kubernetes/kubernetes/issues/36708#issuecomment-266091033

Lantao, the soft lockup issue is known issue, and is tracked by b/33240362 internally by GCI team.

[2016-12-09 23:00] Random-Liu commented on #36708
@dchen1107 I see. Thanks!

[2016-12-09 23:03] #38380 closed

[2016-12-09 23:31] colemickens commented on #30258
Yes for moving it to next milestone, not sure about the semantics of the tag so I'd leave it up to you

[2016-12-10 00:02] madhusudancs opened #38537 "Upgrade tests for federation"
We need automated tests to verify federation upgrades. Here are the list of things we need to do:

* Define what it means to upgrade test federation.
* Define the APIs/features we want to include in the tests.
* Define the exact tests and implement them.
* Setup the infrastructure to run these tests: jenkins jobs, test-grid, etc.

cc @kubernetes/sig-federation @matchstick @nikhiljindal

[2016-12-10 00:11] mtaufen commented on #37853
We should find a way to block node deletion until we've had a chance to try to scrape the logs.

[2016-12-10 00:21] Random-Liu commented on #37853
@mtaufen In fact we didn't delete the node ourselves, we did collect serial logs before deleting the node.

Someone else deleted the node, or GCE just didn't recognize the node. :(

[2016-12-10 00:32] mtaufen commented on #37853
:(
Does Jenkins have a reaper that would delete it out-of-band?

On Fri, Dec 9, 2016 at 4:21 PM, Lantao Liu <notifications@github.com> wrote:

--
Michael Taufen
MTV SWE

[2016-12-10 00:33] kerneltime commented on #35340
We are planning to move to kubernetes-anywhere.

[2016-12-10 00:33] #35340 closed

[2016-12-10 00:34] BaluDontu commented on #37022
close #37022

[2016-12-10 00:36] k8s-merge-robot opened #38540 "ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master/26/

Multiple broken tests:

Failed: [k8s.io] V1Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27704 #30127 #30602 #31070

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubern

[2016-12-10 00:36] #37022 closed

[2016-12-10 00:41] ixdy commented on #37853
we have a janitor process, but I think it's only supposed to clean up VMs older than a certain age. @krzyzacy

[2016-12-10 00:43] timothysc commented on #3876
We have not see this and are @2000 now, so closing.

[2016-12-10 00:43] #3876 closed

[2016-12-10 00:43] krzyzacy commented on #37853
@ixdy coverage is on pr projects only

[2016-12-10 00:45] krzyzacy commented on #37853
But if you'd happy feel free add more entries to https://github.com/krzyzacy/test-infra/blob/master/jobs/maintenance-pull-janitor.sh#L21

[2016-12-10 00:46] timothysc commented on #6697
Generally useful idea, but no progress in > year so I'm closing.  Please feel free to reopen if you think it's worth it.

[2016-12-10 00:46] #6697 closed

[2016-12-10 00:48] thockin commented on #37853
@ixdy GCP serial port is a smallish buffer.  If you don't scrape it
on-going, you only get the last part.

On Dec 9, 2016 2:26 PM, "Jeff Grafton" <notifications@github.com> wrote:

[2016-12-10 00:50] bprashanth commented on #37853
@ixdy didn't you cron this at some point? https://github.com/kubernetes/kubernetes/issues/25629#issuecomment-219336056

[2016-12-10 00:54] timstclair opened #38541 "Addons & system pods should run with security best practices"
Our system pods should run using security best practices, both to enhance cluster security and serve as examples of best practices to users. We should audit all our system pod Dockerfiles, and make sure all security features are enabled with custom profiles when possible.

Things to consider include:

- Running a minimal base image
- Custom seccomp profile
- Custom AppArmor profile
- Drop unneeded

[2016-12-10 01:04] enisoc opened #38542 "imagePullPolicy is required on Init Containers within a Pod template"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* initContainers imagePullPolicy
* initContainers required value

---

**Is this a

[2016-12-10 01:12] timothysc opened #38543 "Bots are opening too many issues, too noisy, and often just wrong"
As part of 1.6 planning for both the scalability and scheduling sig I've spent a fair amount of time this week tracing through issues.  I was struct by just the sheer # of issues opened by bots!!! It's such a ridiculously high number that I don't think anyone is paying attention, step 1: "filter-ignore the bot".

IMO I think we need an all out testing blitzkrieg on testing similar to 1.2 but for 1

[2016-12-10 01:15] enisoc commented on #38542
@kubernetes/sig-api-machinery @caesarxuchao

[2016-12-10 01:17] kellabyte commented on #19235
This works for about 30 seconds and then stops working.

[code]

I'm using `hack/install-etcd.sh` and `hack/local-up-cluster.sh`.

[2016-12-10 01:17] ixdy commented on #37853
yes, we run `kubernetes/test-infra/jenkins/clean_project.py --project=k8s-jkns-ci-node-e2e --hours=3 --delete` every 3 hours. it shouldn't be deleting anything newer than 3 hours old, though.

[2016-12-10 01:18] bgrant0607 commented on #38543
cc @fejta

[2016-12-10 01:25] k8s-merge-robot opened #38545 "ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master/27/

Multiple broken tests:

Failed: [k8s.io] ScheduledJob should not schedule jobs when suspended [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #32035 #34472

Failed: [k8s.io] ScheduledJob should not emit unexpected warnings {Kubernetes e2e suite}

[code]
Issu

[2016-12-10 01:29] bprashanth commented on #34348
I think truly pluggable adminssion controllers are more useful than initializers for backend specific validation. For example, a single ingress can be accepted or rejected based on the embedded routing rules (the gce admission controller knows that "algorithm: least-conns" isn't supported)  but without a plugin, we need a `Type=GCE` field, and code in validation.go that says if "Type==GCE && algor

[2016-12-10 01:31] Random-Liu commented on #36708
The failure is relatively frequently today (3 times already).

The failure is caused during `update_engine` download. Today GCI team rolled out a new version, `update_engine` downloads a bulk of things during node startup which triggers the soft lockup (probably also because we have a bad test running at the same time).

[2016-12-10 01:39] m1093782566 commented on #38447
Yes. But I think sleep some time when conflicts happen is more reasonable, it can reduce the possibility of conflict again in very short time.

[2016-12-10 01:51] yujuhong commented on #38373
Let's patch it to 1.4 and 1.5.

[2016-12-10 01:56] #31608 closed

[2016-12-10 01:59] Random-Liu commented on #38373
@yujuhong Will do that after debugging https://github.com/kubernetes/kubernetes/issues/38439

[2016-12-10 02:08] k8s-merge-robot opened #38548 "ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster/21/

Multiple broken tests:

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28773 #29506 #30699 #32734 #34585 #38391

Failed: [k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case th

[2016-12-10 02:18] eparis commented on #38543
I'll be honest I haven't given it much thought, but my knee jerk reaction is "not reporting the issue doesn't make the issue go away".

Less spammy bots would be good.
Bet way to tell how important and issue is would be good.
Automatically closing old low priority issues would be good.
"Filing less issues" doesn't solve anything...

[2016-12-10 02:21] #36295 closed

[2016-12-10 02:31] k8s-merge-robot opened #38549 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 1 pod to 2 pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-release-1.5/1373/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 1 pod to 2 pods {Kubernetes e2e suite}

[code]

Previous issues for this test: #27443 #27835 #28900 #32512

[2016-12-10 02:47] smarterclayton commented on #38447
The conflicts are limited in number - sleep won't actually make them less
common and objects unavoidable latency into the system.

On Dec 9, 2016, at 8:39 PM, DuJun <notifications@github.com> wrote:

In this case the 409 is probably because we're exhausting our retry count

Yes. But I think sleep some time when conflicts happen is more reasonable,
it can reduce the possibility of conflict again in

[2016-12-10 02:48] smarterclayton commented on #38542
Looks like defaulting not being applied on server?  That is probably due to removing defaulting from convert.  Surprised we didn't catch this earlier

[2016-12-10 03:01] k8s-merge-robot opened #38550 "[k8s.io] KubeletManagedEtcHosts should test kubelet managed /etc/hosts file {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-release-1.4/1535/

Failed: [k8s.io] KubeletManagedEtcHosts should test kubelet managed /etc/hosts file {Kubernetes e2e suite}

[code]

Previous issues for this test: #27023 #34604

[2016-12-10 04:00] saad-ali commented on #28283
Yep

[2016-12-10 04:09] rushtehrani commented on #2630
Since `fsGroup` isn't available for Gluster yet, is there a recommended workaround other than running the container as root?

[2016-12-10 04:45] k8s-merge-robot opened #38552 "[k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial-release-1.5/138/

Failed: [k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover {Kubernetes e2e suite}

[code]

Previous issues for this test: #26744 #26929

[2016-12-10 04:52] gyliu513 opened #38553 "PV/PVC can be deleted even if it was used by a POD"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-12-10 05:25] mkumatag commented on #38380
@dims Thanks

[2016-12-10 05:42] mkumatag commented on #38228
@Pensu mention if have faced any other issues on ppc64le with go1.8?

[2016-12-10 05:47] thockin commented on #34348
NB that there are ordering issues wrt admission controllers, so we may need
to parameterize this in a way that it can run at multiple places in the
sequence...

On Fri, Dec 9, 2016 at 5:29 PM, Prashanth B <notifications@github.com>
wrote:

[2016-12-10 06:17] k8s-merge-robot opened #38554 "ci-kubernetes-e2e-gke-large-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/5/

Multiple broken tests:

Failed: [k8s.io] Pods should be submitted and removed [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26224 #34354

Failed: [k8s.io] Pods Delete Grace Period should be submitted and removed [Conformance] {Kubernetes e2e suite}

[code]
I

[2016-12-10 06:37] k8s-merge-robot opened #38555 "ci-kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/974/

Run so broken it didn't make JUnit output!

[2016-12-10 06:46] brendandburns commented on #37965
I have a PR for this here:

https://github.com/kubernetes/kubernetes/pull/38445

It's not quite exactly this proposal, but I can adapt it to match this syntax if you want.

[2016-12-10 06:47] brendandburns commented on #37965
@smarterclayton there is a separate similar feature request filed here https://github.com/kubernetes/kubernetes/issues/36222

[2016-12-10 06:48] brendandburns commented on #37965
and I think the bulk of the use case is for things that wrap things, it is super annoying to update a large config map item via the existing `edit` + YAML formatting

[2016-12-10 07:56] AdoHe commented on #26466
@pwittrock feel free to close this one, please.

[2016-12-10 08:09] k8s-merge-robot opened #38556 "[k8s.io] Loadbalancing: L7 [k8s.io] Nginx should conform to Ingress spec {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/1247/

Failed: [k8s.io] Loadbalancing: L7 [k8s.io] Nginx should conform to Ingress spec {Kubernetes e2e suite}

[code]

[2016-12-10 08:17] #38494 closed

[2016-12-10 10:18] k8s-merge-robot opened #38558 "ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster-new/45/

Multiple broken tests:

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416 #34060

Failed: Deferred TearDown {e2e.go}

[code]
Issues about this test specifically: #35658

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about

[2016-12-10 11:59] AdoHe commented on #32039
No more need on second thought, close it.

[2016-12-10 11:59] #32039 closed

[2016-12-10 12:30] AdoHe commented on #31252
@2opremio `drain --force` means:
[code]
Orphan pods is just other case.

[2016-12-10 12:34] AdoHe commented on #36571
@saad-ali please help remove `area/kubectl` label, kubectl can't do anything with this.

[2016-12-10 12:37] AdoHe commented on #25403
@dims @pwittrock feel free to close this.

[2016-12-10 12:44] AdoHe commented on #18391
@mml @nikhiljindal any updates on this? still exist?

[2016-12-10 12:53] AdoHe commented on #18282
@liggit @derekwaynecarr any updates on this?

[2016-12-10 13:05] shamil commented on #32304
The cluster provisioned using `kops`

K8s version: `1.4.6`
Kops version: `1.4.1`
Systemd version: `215`
Docker version: `1.11.2`
Cgroup Driver: `cgroupfs`

[2016-12-10 13:30] noahzaozao opened #38562 "Issue of the documentation of ubuntu not found"
At github page https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md

Mentioned one page: http://kubernetes.github.io/docs/getting-started-guides/ubuntu/

The above link was not found (see attached screenshot)

![image003](https://cloud.githubusercontent.com/assets/1780032/21073648/773c5d28-bf1f-11e6-9895-f1174bd05864.png)

[2016-12-10 13:38] k8s-merge-robot opened #38564 "ci-kubernetes-e2e-gce-latest-1.4-latest-1.5-gci-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-latest-1.4-latest-1.5-gci-kubectl-skew/527/

Multiple broken tests:

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578 #37974 #38206

Failed: TearDown {e2e.go}

[code]
Issues about this test specifically: #34118 #34795 #37058 #38207

Failed: DiffResources {e2e.go}

[code

[2016-12-10 14:04] timothysc commented on #38543
I think aggregating statistical significance and filing at threshold is a worth the effort at this point.  So I actually want to collect more data, but file less, to perform analytics on it.  Using the ETL'd-stats we could also auto-close issues after threshold has gone down.

Of the newer form of output the bots have filed >1000 issues in recent history, since May, with ~450 still open today.  I'

[2016-12-10 14:26] dvohra commented on #19235
Configure the public IPs instead of localhost.

[2016-12-10 14:45] luxas commented on #38541
This will be great and is indeed an important stabilization task to do in time for v1.6
Will follow with interest

[2016-12-10 14:59] k8s-merge-robot opened #38566 "[k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Slow] [Feature: Ingress] should conform to Ingress spec {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress-release-1.5/1006/

Failed: [k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Slow] [Feature: Ingress] should conform to Ingress spec {Kubernetes e2e suite}

[code]

Previous issues for this test: #35549

[2016-12-10 15:11] xmik commented on #22770
I confirm that `kubectl logs` and `kubectl exec` work when using Kubernetes 1.5.0-beta3 and having set `--kubelet-preferred-address-types=InternalIP,Hostname,ExternalIP` for apiserver.

[2016-12-10 15:25] AdoHe commented on #22517
@dims @soltysh any updates on this? should I pick this up?

[2016-12-10 15:33] dims commented on #22517
@AdoHe go for it!

[2016-12-10 15:34] #25403 closed

[2016-12-10 15:58] noahzaozao commented on #23241
Failed to start etcd.service: Unit etcd.service not found.
I met the same error when I'm using a ubuntu16.04 desktop on laptop without VM.

[2016-12-10 15:59] pwittrock commented on #37134
No, that is good

[2016-12-10 16:39] hjacobs commented on #38543
My 2 cents: all the bot issues are really annoying for "outsiders" like myself --- I now tend to always use "NOT e2e" in the GitHub issue search. There are a lot of human issues not looked at (overlooked?) or at least without any reaction/comment (some can also be closed, like #38355). Would be great to give human-reported issues more visibility and have faster/better feedback for them.

[2016-12-10 16:42] hjacobs commented on #38562
Duplicate of #38506

[2016-12-10 16:43] hjacobs commented on #38562
Will be fixed by #38546

[2016-12-10 17:04] noahzaozao commented on #29908
#https://github.com/kubernetes/kubernetes/issues/23241
ref same issue here

[2016-12-10 20:03] smarterclayton commented on #38144
Probes should be *very* permissive in the algos they tolerate.  The only consequence is MITM or a known exploit on the checker, neither of which seem to apply for this.  This is fairy serious in terms of impact, bumping priority.

[2016-12-10 20:17] spxtr commented on #38543
:+1:

Recently we've added approximately ten thousand [non-queue-blocking builds](http://submit-queue.k8s.io/#/e2e) which has made it that much noisier. Suite failures get assigned to just a few people, which leads to [this mess](https://github.com/kubernetes/kubernetes/issues?utf8=%E2%9C%93&q=is%3Aissue%20assignee%3Aspxtr%20label%3Akind%2Fflake%20). https://github.com/kubernetes/test-infra/issues

[2016-12-10 20:23] k8s-merge-robot opened #38567 "ci-kubernetes-e2e-gci-gce-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-release-1.4/186/

Run so broken it didn't make JUnit output!

[2016-12-10 20:42] montanaflynn opened #38568 "Node stops accepting requests and has event error but is still in pool as "Ready""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

node, timeout, restart

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2016-12-10 21:04] #38355 closed

[2016-12-10 21:42] jeremyong commented on #23864
That was actually me :) I attempted to manually expose a large number of ports on a deployment which immediately caused issue with the k8s cluster due to the issue linked. @thockin As someone less familiar with the inner workers, what are the main blockers or issues to providing this feature? In my naive view of things, the api would just thread down to how the iptable rules are established, and t

[2016-12-10 21:45] kargakis commented on #2904
Shouldn't we keep the issue open until we get there?

[2016-12-10 21:50] noahzaozao commented on #38562
@hjacobs Thanks , both are helpful.

http://kubernetes.io/docs/getting-started-guides/ubuntu/automated/
http://kubernetes.io/docs/getting-started-guides/ubuntu/manual/

[2016-12-10 21:50] #38562 closed

[2016-12-10 22:00] #3933 closed

[2016-12-10 22:13] timothysc commented on #2904
We have a series of other issues on our roadmap.   This specific issue simply referenced an etcd capability, and not the refactoring of the registry and storage layers.

[2016-12-10 22:24] thockin commented on #23864
I think the right thing to do is start with a proposal.  Things to consider:

* do we do pods, services, or both?
* how does this affect iptables rules?
* how does this affect non-iptables implementations (sig-network)
* can we support NodePorts on ranges?  Seems hard.
* can ~all (Services, L4) load-balancers support ranges?
* type=load-balancer is a superset of node port, but nodeport is hard.  H

[2016-12-10 22:46] k8s-merge-robot opened #38569 "[k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Slow] [Feature: Ingress] shoud create ingress with given static-ip {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress-release-1.4/988/

Failed: [k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Slow] [Feature: Ingress] shoud create ingress with given static-ip  {Kubernetes e2e suite}

[code]

Previous issues for this test: #33840 #35548

[2016-12-10 22:52] #26466 closed

[2016-12-10 22:53] smarterclayton commented on #38073
[code]

[2016-12-10 22:53] smarterclayton commented on #38073
Broken by #36050

[2016-12-10 22:54] kargakis commented on #38553
@kubernetes/sig-storage @kubernetes/rh-storage

[2016-12-10 22:59] thockin commented on #38553
We've mentioned finalizers being an option for this, but I am wary of
abusing that to simulate proper referential integrity.

On Sat, Dec 10, 2016 at 2:55 PM, Michail Kargakis <notifications@github.com>
wrote:

[2016-12-10 23:48] #37690 closed

[2016-12-10 23:56] thockin commented on #33554
I apologize for the girth of this, but I have a lot to say :)

This is a tradeoff between automagic and performance.  There are a number of considerations that went into this design.  I can explain them, but of course reasonable people can disagree.

1) Same-namespace lookups are the vast majority of lookups, so we need "my local namespace" in the search path.
2) There are multiple "classes" of th

[2016-12-11 00:02] thockin commented on #38456
NB: the port-ranges proposal pretty much breaks IPVS, with the possible
exception of "whole IP" forwarding.

On Fri, Dec 9, 2016 at 12:03 PM, Prashanth B <notifications@github.com>
wrote:

[2016-12-11 00:15] thockin commented on #34660
Well, we really want to know how the particular issue we are seeing is
happening, and maybe point-fix that if we can, but yes.

On Fri, Dec 9, 2016 at 11:04 AM, Prashanth B <notifications@github.com>
wrote:

[2016-12-11 00:43] liggitt commented on #38144
As far as I can see, golang doesn't include support for the referenced ciphers (not just that they're not enabled by default).

[2016-12-11 01:02] liggitt commented on #5625
JSON tags were removed from all internal types except these in #38406

[2016-12-11 01:08] liggitt commented on #25106
Possibly resolved in #38406

[2016-12-11 01:16] smarterclayton commented on #38144
Yeah, two separate problems then.  We should fix probe TLS to be as wide as possible within the range golang supports, and document that some suites just aren't supported.  At some point there will be vulnerabilities in these suites and it's possible they'd be dropped, but that's a burden the whole ecosystem has to bear I think.

[2016-12-11 01:48] pmorie commented on #2630
FsGroup is not supported by hostpath, yiu do not want kubelet making such permission changes on the host.

[2016-12-11 02:43] Random-Liu commented on #38568
Could you give us the kubelet log on the `NotReady` node once it happened again?

[2016-12-11 02:51] AdoHe commented on #5592
@dims since the behavior is correct, feel free to close this one.

[2016-12-11 04:41] FreakTheMighty commented on #24903
@adezdl this confused me as well. Ultimately things started working when I added a tag (other than latest) to my locally built image. The tip came from this blog https://www.brandpending.com/2016/09/20/using-minikube-as-a-local-kubernetes-test-and-development-environment-on-macos/

 `docker build -t static-web2:v1 .`
Note: it is critical that you provide a tag in the image name. Kubernetes will tr

[2016-12-11 05:21] k8s-merge-robot opened #38573 "[k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should handle healthy stateful pod restarts during scale {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/587/

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should handle healthy stateful pod restarts during scale {Kubernetes e2e suite}

[code]

[2016-12-11 05:58] #25932 closed

[2016-12-11 08:56] gyliu513 commented on #38553
Thanks @thockin , so you mean there are options can enable me to not delete pv/pvc if they are used?

[2016-12-11 08:57] sebgoa commented on #37690
thanks a lot @ixdy for taking care of all these small issues. I think these details make a big difference for new comers...

I sent a _report_ to the contrib-ex mailing list.

[2016-12-11 10:48] AdoHe commented on #32676
Finally I get some time to recheck this, @flah00 could you please provide your bash version? `echo $BASH_VERSION` will give you that info. If you are using  Mac OS 10.10, I am afraid the completion script will not work.

[2016-12-11 12:30] bibryam commented on #23106
It seems to me that the docs has been updated to match the example and this ticket can be closed.

[2016-12-11 13:08] palonsoro commented on #3595
From my opinion, regardless of whether it is useful or not to setup a per-process limit, there is a fact: Many people need to increase the file descriptors or other rlimits in order for their processes to work in some scenarios. Examples would be servers or proxies with many concurrent connections (this is the situation for me and other people that have already commented here).

I am in favor of l

[2016-12-11 13:15] palonsoro commented on #3595
Another thing that may be interesting to consider: I think it would make sense to be able to restrict the rlimits a user can set via Pod Security Policies.

I said previously "a user is likely to expect to be able to tune the rlimits of his process in a container as he does in a VM". But, on the other hand, as a cluster admin, I would like to give the user that freedom but with being able to set r

[2016-12-11 13:38] nikhiljindal commented on #18391
While I havent verified, I assume this still exists. No one has picked it up.
@AdoHe Any help appreciated :)

[2016-12-11 13:41] k8s-merge-robot opened #38577 "Start kubemark {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/2065/

Failed: Start kubemark {e2e.go}

[code]

Previous issues for this test: #35885 #36372

[2016-12-11 13:41] k8s-merge-robot opened #38578 "ci-kubernetes-e2e-gce-examples: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/1023/

Run so broken it didn't make JUnit output!

[2016-12-11 13:51] AdoHe commented on #18391
ok, I will pick it up.

[2016-12-11 14:51] k8s-merge-robot opened #38580 "ci-kubernetes-e2e-gci-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-test/87/

Run so broken it didn't make JUnit output!

[2016-12-11 15:21] k8s-merge-robot opened #38582 "ci-kubernetes-e2e-gci-gke-subnet: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-subnet/89/

Multiple broken tests:

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578 #37974 #38206

Failed: TearDown {e2e.go}

[code]
Issues about this test specifically: #34118 #34795 #37058 #38207

Failed: DiffResources {e2e.go}

[code]
Issues about this test spec

[2016-12-11 15:21] k8s-merge-robot opened #38583 "[k8s.io] Kubectl client [k8s.io] Kubectl run pod should create a pod from an image when restart is Never [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-1.5-1.4-cvm-kubectl-skew/766/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run pod should create a pod from an image when restart is Never [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27507 #28275

[2016-12-11 15:27] luxas commented on #38073
I sent https://github.com/kubernetes/kubernetes/pull/38565 and https://github.com/kubernetes/kubernetes/pull/38584 to fix this.

[2016-12-11 15:47] nikhiljindal commented on #38133
Cleared the milestone, thx

[2016-12-11 15:49] dims commented on #5592
closing per @AdoHe 's last comment

[2016-12-11 15:49] #5592 closed

[2016-12-11 15:59] nikhiljindal opened #38585 "federation e2es failing with v1.GetOptions is not suitable for converting to "federation/v1beta1""
All our federation e2es started failing with `v1.GetOptions is not suitable for converting to "federation/v1beta1"`. Not sure if something changed in API machinery.

cc @kubernetes/sig-api-machinery @caesarxuchao @smarterclayton @kubernetes/sig-cluster-lifecycle

[2016-12-11 16:31] k8s-merge-robot opened #38586 "ci-kubernetes-e2e-gce-latest-1.4-latest-1.5-cvm-kubectl-skew: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-latest-1.4-latest-1.5-cvm-kubectl-skew/583/

Run so broken it didn't make JUnit output!

[2016-12-11 16:37] liggitt commented on #38585
Is GetOptions missing from https://github.com/kubernetes/kubernetes/blob/master/federation/apis/federation/v1beta1/register.go#L42 ?

[2016-12-11 16:41] liggitt commented on #38585
Looks like a similar commit to https://github.com/kubernetes/kubernetes/pull/38371/commits/5ce687729d703ab7e94fe41d736d004f8b0d032c is needed

Cc @wojtek-t

[2016-12-11 16:49] nikhiljindal commented on #38585
Thanks for the prompt reply with all those links @liggitt. You are amazing!
Sent https://github.com/kubernetes/kubernetes/pull/38587

[2016-12-11 18:00] gdvalle opened #38588 "docker ps hangs over 10s cause daemon kill (GKE-gci)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
docker hang
docker ps hangs

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choo

[2016-12-11 19:07] olmoser commented on #36988
I'm also running into this with a clean build from master

**kubeadm version**

[code]

**kubeadm output**

[code]

**kubectl version**

[code]

**Environment**

- kernel version
[code]

- OS version
[code]

[2016-12-11 19:38] jbeda commented on #33554
First, off -- I'm totally in favor of moving to a schema where the "class" is under namespace.  i.e. `$service.s.$ns.$zone`.  (Note that this is the schema we picked for GCE: `$host.c.$project.internal`.

Second -- SRV records are uncommon enough that it is probably okay to make that use case less smooth.  Something similar can be set for petsets.  Anything using petsets like that will require som

[2016-12-11 22:32] yujuhong commented on #38471
Image pulling flakes from gcr is pretty common. We don't hit it that often in regular e2e tests because both gce and node e2e framework pre-pulls the images. In gke tests, there are still image pulling flakes from time to time.

[2016-12-11 22:32] sbezverk commented on #22368
Here is one use case which I think is not covered here: By the nature of application, it must run as a daemonset. This daemonset gets its startup config from the configmap, some configuration items gets copied by init-container. Now when configmap gets changed I need restart POD, not just container running app (libeness does not help here), as restarting just container does not trigger re-run of i

[2016-12-11 22:38] montanaflynn commented on #38568
Sure, what commands would I run to get that?

Also the node never was shown as NotReady when running `kubectl get nodes`, it was listed as `Ready` although there was an event that said `status is now: NodeNotReady`.

[2016-12-11 23:32] smarterclayton commented on #38585
Are the federation e2e's not PR blocking?

On Sun, Dec 11, 2016 at 11:49 AM, Nikhil Jindal <notifications@github.com>
wrote:

[2016-12-12 00:29] thockin commented on #38553
Finalizers are a very new but generic mechanism to inhibit deletion of
objects.

On Sun, Dec 11, 2016 at 12:56 AM, Guangya Liu <notifications@github.com>
wrote:

[2016-12-12 00:45] rata commented on #22368
On Sun, Dec 11, 2016 at 02:32:59PM -0800, Serguei Bezverkhi wrote:

I think this is related to how to update daemon sets. It was considered, at
least, to have a way to update the running daemon sets. And that seems what you
want (nothing is code yet, as far as I know)

Probably without using daemon set for now. It depends on why you need them, how
you may work around that. For example, a deploymen

[2016-12-12 00:49] thockin commented on #33554
I think we *could* get to ndots=3 in this way, yes.  The transition is the
the hard part.

The current thinking (@bowei) is (ideally) a smallish per-node cache, which
only sends $zone suffixed names to kube-dns, and does not trigger conntrack
for DNS traffic, and allows other stub-domains to branch off.  This does
mean that DNS will not get original client IPs, but I think we can live
with that.

[2016-12-12 01:53] nikhiljindal commented on #38585
No. We need to reduce their running time before making them PR blocking.

[2016-12-12 02:05] madhusudancs opened #38593 "Feature Gates for Federation APIs"
Federation control plane components don't support feature gates for non-GA APIs/features and must be implemented. See here for examples - https://github.com/kubernetes/kubernetes/blob/master/pkg/util/config/feature_gate.go.

cc @kubernetes/sig-federation @nikhiljindal

[2016-12-12 02:06] gyliu513 commented on #38553
@thockin  Can you please show me a link for this?

[2016-12-12 02:06] sethpollack commented on #33666
@pwittrock Would something like this be ok?

## Objective

Support alternate ways of passing secrets to `kubectl config set-credentials`.

## Proposal

For username, password and, token. When set to `-`,  prompt user for input without the echo. (Similar to the way `kubectl create -f -` uses `-` to mean stdin.)

[code]

Additionally we can read from a config file, but that would probably make more

[2016-12-12 02:14] spiffxp commented on #38593
known issue for v1.5.0 #37134

[2016-12-12 02:24] hongchaodeng opened #38594 "Unit test flake: "private key does not match public key""
See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/38572/pull-kubernetes-unit/9263/

logs:
[code]

[2016-12-12 02:32] thockin commented on #38553
I am on mobile now - search recent pull requests for "finalizers".  :)

On Dec 11, 2016 6:06 PM, "Guangya Liu" <notifications@github.com> wrote:

@thockin <https://github.com/thockin> Can you please show me a link for
this?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/38553#issuecomment-26632

[2016-12-12 02:45] #38363 closed

[2016-12-12 02:54] gyliu513 commented on #38553
Thanks @thockin , i got some links for finalizer, will go through those for detail. I will close this one now ;-)

[2016-12-12 02:54] #38553 closed

[2016-12-12 03:16] jianzhangbjz commented on #33936
I'm also trouble in the issue when I execute `make test` command on release-1.4 branch of Kubernetes. Have someone fixed it? Fails (not all):
[code]
[code]

[2016-12-12 03:17] k82cn commented on #37979
@freehan , there's `record.EventBroadcaster` and `record.EventRecorder` in `app.ProxyServer`; should we reuse it or create new recorders for `iptables`?

[2016-12-12 03:27] jianzhangbjz opened #38596 "Error of make test on release-1.4 branch"
Hey Guys,

When running `make test` command on release-1.4 branch, I got the below errors, my GO version is `go version go1.7.1 linux/amd64`, how to fix it or something else have I missed?
[code]
[code]

[2016-12-12 03:38] colachg commented on #37798
@MrHohn
base image is node:latest
Yes,internal DNS addresses are resolvable.

[2016-12-12 04:10] resouer commented on #23241
@noahzaozao current ubuntu scripts does not support systemd based Ubuntu version i.e. distro newer than 15.04 , I have no enough bandwidth to update it but if you (or any one else) are interested in to make it work I can definitely get it in.

[2016-12-12 04:13] resouer commented on #23241
Otherwise, I would suggest use `kubeadm` for any deployment requirement on latest distro.

[2016-12-12 04:28] kellabyte commented on #19235
@dvohra could you describe how to do that please?

[2016-12-12 04:29] #30534 closed

[2016-12-12 05:57] k82cn commented on #33936
@nhlfr , we can not just re-open  #33937 : in `pre_go17.go`, it did not include `DynamicRecordSizingDisabled` & `Renegotiation` which means build failed in go1.6 if re-open #33937 .

[2016-12-12 06:11] davidopp commented on #37592
Euan and Clayton expressed exaclty the reasons why I think the current behavior is correct. To address your worry that the stays-cordoned-on-failure behavior is non-obvious, we can put a comment in the script and print a warning to stdout and/or stderr on exit if we leave it cordoned but did not fully drain.

[2016-12-12 06:35] bprashanth commented on #37592
IMO it would be better to just not cordon when we know 100% we're not going to finish the drain (--delete-local-data case can be detected beforehand)

[2016-12-12 06:43] caseydavenport commented on #33554
Yes, reading through this thread I found myself reaching the same place in my head.  ndots=3 seems like the right value assuming we also switch `service.namespace` to `service.s.namespace`, otherwise I think we could get away with ndots=2 using the current schema, yeah?

I think that's probably the right place to focus.

You mean kube-dns won't see the client IPs?  Yeah, that could be interesting

[2016-12-12 06:44] chengzhang1016 commented on #34394
@hodovska Verified. Thanks for your fixing.

[2016-12-12 06:46] k82cn commented on #33936
BTW, do we still support go1.6 in master? If so, we need upmerge #38600 to master.

[2016-12-12 07:01] xiaoping378 commented on #37465
@xingzhou i met the same issue.
have any news ?

[2016-12-12 07:19] cheld commented on #38386
For the interested reader: kubelet intentionally polls the apiserver to support such scenarios. So, I think it is ok

[2016-12-12 07:19] #38386 closed

[2016-12-12 07:43] m1093782566 opened #38602 "[Rate Limiter] Introduce a max wait duration for kubernetes rest client?"
Recently, I find kubelet fail to report its heartbeat due to blocked by rate limiter. It seems strange as rate limiter for kubelet in my environment is {qps=20, burst=30}. After digging deeper, I find node's local time has been changed by some reasons.

Thus every time kubelet attempts to report its heartbeat, it will call juju ratelimit.Wait(1),
https://github.com/kubernetes/kubernetes/blob/maste

[2016-12-12 08:17] wojtek-t commented on #6770
+1

[2016-12-12 08:58] jszczepkowski commented on #30471
Fixed by  #33735 & #33593.

[2016-12-12 09:03] davidopp commented on #17208
I think our time would be better spent documenting how the default scheduler works. People who want to write their own scheduler will probably just copy the default scheduler and replace whatever parts they want to replace. So what they need is to understand how the default scheduler is structured, moreso than a "guide" to writing a new one.

[2016-12-12 09:15] Random-Liu commented on #38439
@rmmh I looked into the test.

I believe the failure is not related to #38375.
#38375 only adds image cache for node status, it will only affect the field `Node.NodeStatus.Images`. However, what the test testing is only related to `Pod.Spec.Containers[x].Image` (the test expects that the container image of StatefulSet should be updatable), which will not be affected by #38375.

[2016-12-12 09:16] Random-Liu commented on #38439
Unassign myself according to https://github.com/kubernetes/kubernetes/issues/38439#issuecomment-266378151.

[2016-12-12 09:46] sttts commented on #38174
The test was introduced in https://github.com/kubernetes/kubernetes/pull/37720.

[2016-12-12 09:47] davidopp commented on #4301
Let's leave this open. It relates a bit to #36716 but in general the idea of having a way to signal which replica of a set is preferred for deletion (or ranking them) seems useful. One use case (probably mentioned in Brian's comment above, which I don't have time to re-read right now) is when you have a bunch of workers and some are close to completing while some have just started, it's better to

[2016-12-12 09:51] fabiand opened #38606 "Idea: Support delegation of volume handling to a container process"
Currently Volumes and Persistent Volumes / Claims are nicely integrated into Kubernetes to provide file-system based storage to pods. It does so by letting the kubelet do the heavy lifting of attaching the underlying raw devices to the host (if necessary), the mount the device, and finally make it available to the pod.

This is a pretty good solution for most scenarios. But in some cases it would

[2016-12-12 09:52] fabiand commented on #38606
/cc @smarterclayton @pmorie @rootfs

[2016-12-12 09:54] sttts commented on #38174
This happens on the 1.4 branch only.

[2016-12-12 10:17] sandys commented on #10439
+1 for us as well. We are building a financial application on top of kubernetes and Vault is an important part of that.

It makes a lot of sense to adopt vault . etcd is also opinionated piece of software invented by coreos (and still maintained by coreos). But in the open source community, I dont see that as a bad thing.

Hashicorp has been pretty responsible in building and maintaining security

[2016-12-12 10:25] sbadia commented on #29025
Any news about this one? It would be nice!
I've this little hack in my nginx configuration (in order to not be spamed by health check in logs) :)

[code]

[2016-12-12 10:27] bogdando commented on #22368
I'm affraid that's a no starter to ask users "just to not use DaemonSets". Design changes shall support it, unless deprecated to be removed later.

[2016-12-12 10:40] daniilyar commented on #15478
I can also add that some people, including me, want to perform docker logs rotation via '--log-opt max-size' option on JSON logging driver (which is native to docker) instead of setting up logrotate on the host. So, even exposing just the '--log-opt' option would be helpful

[2016-12-12 10:51] kargakis commented on #22368
I think @rata simply suggested a workaround to the lack of DaemonSet upgrades until we have them.
https://github.com/kubernetes/kubernetes/pull/31693
https://github.com/kubernetes/kubernetes/issues/37566
If you want to stick with DaemonSets for now, you will have to script DaemonSet upgrades.

Agreed that this issue should solve configmap management for all workload controllers (Deployments, Daemo

[2016-12-12 10:51] bogdando commented on #33554
@thockin it's interesting you've mentioned the per node cache in front of the KubeDNS app. That's how Kargo is currently configures DNS (see the `Dnsmasq svc/dset` in the [drawing](https://github.com/kubernetes-incubator/kargo/blob/master/docs/dns-stack.md)). Although I'm failing to see how that cache would fix or improve the situation for hostnet pods, which rely on the hosts' /etc/resolv.conf fi

[2016-12-12 10:51] sebbonnet commented on #38498
I've attached about a day worth (about 1G) of kubelet logs taken from one of our instances.
These were tar bzip2 and split up in 3 chunks. The zip extension is simply to get passed gihub validation rule on filenames:
[kubelet.log.tbz2.part-aa.zip](https://github.com/kubernetes/kubernetes/files/645706/kubelet.log.tbz2.part-aa.zip)
[kubelet.log.tbz2.part-ab.zip](https://github.com/kubernetes/kuberne

[2016-12-12 10:57] barnettZQG commented on #15478
I have modified the k8s, when creating container configuration LogConfig.

[2016-12-12 11:12] fabiand commented on #3585
On the dependencies/ordering side I wonder if the semantics of systemd's unit files would also make sense in this context. Unit files can express pure dependencies, which don't enforce an ordering, and 'libeal' ordering which only enforces ordering if the dependency is present. Combining both leads to hard dependencies with ordering.
IMHO this is a nice framework which is pretty flexible.

However

[2016-12-12 11:27] soltysh commented on #38232
Per @krousey comment, I'll close all others except this one. They are all similar in what they do and there's no need to have 10 of those.

[2016-12-12 11:27] #38243 closed

[2016-12-12 11:28] #38246 closed

[2016-12-12 11:28] #38241 closed

[2016-12-12 11:28] #38245 closed

[2016-12-12 11:28] #38237 closed

[2016-12-12 11:28] #38233 closed

[2016-12-12 11:28] #38234 closed

[2016-12-12 11:28] #38240 closed

[2016-12-12 11:29] #38236 closed

[2016-12-12 11:40] wojtek-t opened #38610 "Performance regression"
We have performance regression that is mostly visible on LIST pods calls (but not only). However, LIST pods are even up to 3x slower (99th percentile).
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/95
is the first run of kubemark-scale where we observe it

So the regression is due to one of those PRs:
https://github.com/kubernetes/kubernetes/comp

[2016-12-12 12:06] rikatz commented on #13306
Isn't this already covered by enabling the audit log on Kubernetes?

An example is when a user creates an object on a namespace, we get something like this:

2016-12-09T13:51:28.161672089Z AUDIT: id="5722fecc-7493-4688-a888-a5313bf019e6" ip="10.34.144.60" method="PUT" user="user1" as="<self>" namespace="gscvi-t" uri="/apis/extensions/v1beta1/namespaces/gscvi-t/deployments/appfla"

Isn't this enoug

[2016-12-12 12:10] sttts commented on #38517
For some reason I don't see the lease error here.

[2016-12-12 12:11] sttts commented on #38517
Probably what @deads2k is saying, cfssl is missing, maybe just not accessible by root (this was fixed last week, maybe a rebase will fix the issue).

[2016-12-12 12:20] kargakis opened #38612 "Controllers should be aware of namespace termination?"
Looking at this [log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/625/artifacts/ec2-35-165-89-247.us-west-2.compute.amazonaws.com/kube-controller-manager.log), you can find out a bunch of deployments being dropped out of the queue because of namespace termination:
[code]
In order for a deployment to be dropped out of the queue it has to be resynced 5 times, wh

[2016-12-12 12:50] wojtek-t commented on #38610
#37770 is supposed to be no-op, and it looks like no-op.

[2016-12-12 13:46] soltysh commented on #38497
@gmarek @kubernetes/sig-apps owns jobs
This looks similar to #28977, I'm hoping to implement server-side reaping for CronJobs and Jobs. Hopefully that should address the problem.

[2016-12-12 13:51] kargakis commented on #38497
+1 for adding server-side reaping

[2016-12-12 13:54] deads2k commented on #38541
@pmorie @pweil- for PSP interaction.

[2016-12-12 14:08] deads2k commented on #13306
No.  This is about tracking it inside the object, so that future API callers have access to the information via the API.

I still don't think this is a good idea.  It's too open to abuse and unexpected results.

[2016-12-12 14:12] wojtek-t commented on #38610
I hopefully fixed the problem with missing significant part of logs from large kubemarks. Will take a look when I have more data.

[2016-12-12 14:13] soltysh commented on #22517
@AdoHe I'd leave it for now, since I'm closing the PR which removes `extensions/v1beta1.Jobs` entirely and the problem should be gone with it.

[2016-12-12 14:23] rata commented on #22368
On Mon, Dec 12, 2016 at 02:51:30AM -0800, Michail Kargakis wrote:

Yes, this is what I meant. Sorry if I wasn't clear.

[2016-12-12 14:36] gnufied commented on #38498
For non-running pods are the pod directories completely empty? i.e - is `/var/lib/kubelet/pods/ff614192-bcc4-11e6-a20e-0a591a8e83d7` empty or there are files in it?

[2016-12-12 14:37] mikesplain commented on #36269
As an FYI to others who come across this, I rolled out v1.4.7 to 3 of our clusters and we no longer see this issue.

[2016-12-12 14:38] rootfs commented on #37843
@dims good to me, thanks.

[2016-12-12 14:50] rnataraja commented on #22822
Hello Stephen

I think it was due to a typo in the proxy yaml file .

I had a tab in the file, and kubelet / apiserver was throwing that error as the first line but would continue normally. Later resulting into handshake error. So see if you have an issue with yaml content and check the logs for error .

Thanks
Rajesh

Sent from my iPhone

[2016-12-12 14:53] wojtek-t opened #38618 "RouteController is bahaving strange when creating routes for large clusters"
In large clusters, I'm seeing logs like this coming from route controller:
[code]

Logs from route controller for that node:
[code]

[2016-12-12 15:07] wojtek-t commented on #38618
OK - so the "rate limit exceeded" errors were caused by colliding tests in the same project.

So the problems are that:
- timeout seems to be too low
- we are not handling errors exactly as we should

[2016-12-12 15:19] jszczepkowski commented on #33341
WRT https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-release-1.5/1329/

Should be fixed when #38463 get  cherry-picked to 1.5 branch.

[2016-12-12 15:21] exarkun commented on #38301
All three deployment updates since I filed this issue have gotten stuck.

[2016-12-12 15:30] eparis commented on #37374
@jpeeler can you take a look at this flake? See what you can find?

[2016-12-12 15:37] seeekr opened #38623 "Docs: Wrong HTML title tag and first header"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

documentation title
docs title

---

**Is this a BUG REPORT or FEATURE REQUEST?** (

[2016-12-12 15:41] seeekr commented on #38623
aw shucks, just realized I should have posted this to kubernetes.github.io repo. Any automated way to move the issue over or shall I just repost it over there?

[2016-12-12 15:45] seeekr commented on #38623
nvm -- https://github.com/kubernetes/kubernetes.github.io/issues/1923

[2016-12-12 15:45] #38623 closed

[2016-12-12 15:45] derekmahar commented on #3585
I think the systemd dependency model in unit files is both simple and effective, in particular the useful distinction between strict `Requires` and the more liberal `Wants`.

[2016-12-12 15:58] smarterclayton commented on #29735
We could expose a metric that is "how many old replication controllers we still have"

[2016-12-12 15:59] johnbelamaric commented on #33554
For the transition, as long as we don't have a namespace that is "svc" or "pod", the server can differentiate between the new schema and the old one; so both can be active at the same time. We could use a different DnsPolicy on the client side with the new search and ndots, eventually, with good lead time, make it the default.

[2016-12-12 16:09] exarkun commented on #38301
Note that while nothing is mounted at the /var/lib/kubelet/pods/... location, the EBS volume is attached to the instance and mounted elsewhere on the filesystem:

[code]

Also noteworthy: restarting kubelet on the affected node is sufficient to un-stuck the pod.

[2016-12-12 16:10] fabiand commented on #38606
Likely.
Let me note that I'm seeing the main focus of the volume delegation on the consumption side.
But as we'd be granting raw access to the device, this would also permit that this mechanism could be abused to i.e. create volumes, which overlaps with dynamic provisioning. But this is just an edge case.

Just a few more examples of for this feature:

- check disk jobs - which could perform some

[2016-12-12 16:17] jkemp101 commented on #33554
Thanks everyone for continuing this discussion so we can figure out our best options.  Here are two thoughts:

* I would very much like to see a new DNS Policy that has ndots=1.  That would let us configure pods with high external DNS requests to not strain the cluster DNS or suffer other performance issues.  For instance, I will have many pods that will be doing a majority of non-cluster DNS look

[2016-12-12 16:29] lukaszo commented on #22368
In the meantime you can also try my daemonupgrade-controller https://github.com/Mirantis/k8s-daemonupgradecontroller Just start it and set enable upgrades in your daemonset by setting in its annotattions: "daemonset.kubernetes.io/strategyType": RollingUpdate

[2016-12-12 16:30] deads2k opened #38627 "use RBAC for GCE e2e tests"
The RBAC default bootstrapping is in place, the default roles and bindings have been started, and controller-manager has been updated to use service account identities for individual controllers.  We're ready to start the process of enabling RBAC in GCE e2e.  We need to:

 1. Enable RBAC alongside ABAC with instrumenting to trace RBAC rejections to build out more roles.
 2. Update GCE identities t

[2016-12-12 16:31] deads2k commented on #38627
I've taken a stab at item 1 in https://github.com/kubernetes/kubernetes/pull/38626.

[2016-12-12 16:32] derekwaynecarr commented on #38612
@kargakis -- i am in favor.

[2016-12-12 16:36] deads2k opened #38628 "use `kubernetes-discovery` as API proxy in GCE"
`kubernetes-discovery` is the API registration proxy described here: https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/federated-api-servers.md .  It is designed to run inside of a pod with an ingress pointed to it.

I have created `hack/local-up-discovery.sh` which demonstrates how to launch the pod with the required certs and API server wiring to act as a proxy for the the core

[2016-12-12 16:38] johnbelamaric commented on #33554
@thockin @caseydavenport kube-dns not seeing the client IPs can be mitigated by having the local cache append it (and/or other data) as an EDNS0 option.

[2016-12-12 16:40] derekwaynecarr commented on #38458
@resouer -- i am interested in the systemd patch..  i was hoping to find time to add that this week, so its good to know you have something.  the problem if i recall was no clear place to inspect docker's configured cgroup driver.

[2016-12-12 16:42] roberthbailey commented on #38459
Are you seeing this in e2e test output or when you run kube-up.sh?

[2016-12-12 16:45] johnbelamaric commented on #33554
If and when that becomes necessary.

[2016-12-12 16:50] erictune commented on #33179
It seems like many programs put config and secrets and downward info in the _same file_, not just the same directory.   So, this feels to me like "do the fix we know how to do" rather than "do the fix that fixes most of the needs".

[2016-12-12 16:56] stephanlindauer commented on #22822
thanks for the update. turned out my issues were also caused by a typo. :grimacing: :wink:

[2016-12-12 17:12] smarterclayton commented on #38606
This is a specific instance of #831

[2016-12-12 17:12] smarterclayton commented on #38606
@kubernetes/sig-storage

[2016-12-12 17:23] smarterclayton commented on #38612
Agree.

On Mon, Dec 12, 2016 at 11:32 AM, Derek Carr <notifications@github.com>
wrote:

[2016-12-12 17:30] gnufied commented on #38606
Wondering how error handling will work? Currently if a misbehaving pod crashes, the volume is cleaned up by kubelet and depending on recycling policy etc - it can be reused by another pod.

So if a container that is using a raw device crashes - how will kubelet clean up?

[2016-12-12 17:32] scheeles opened #38632 "Document dependencies version in the release notes"
With each release it is hard, to figure out which are the supported docker, rkt and etcd version which are supported.

Can this be added to the release note or to a separate document.

[2016-12-12 17:41] kargakis commented on #38612
@deads2k @caesarxuchao @mfojtik @lavalamp

[2016-12-12 17:43] kargakis commented on #38612
@liggitt fyi, this means all controllers will need to be able to get namespaces

[2016-12-12 17:45] smarterclayton commented on #38612
I was thinking dropping queued events when you get a namespace is
terminating error.

On Mon, Dec 12, 2016 at 12:43 PM, Michail Kargakis <notifications@github.com

[2016-12-12 17:48] #34455 closed

[2016-12-12 17:51] derekwaynecarr commented on #38612
@smarterclayton -- agree with clayton this should be error driven.  i would like controllers to be able to distinguish terminating vs lack of quota too ;-)

[2016-12-12 17:59] nikhiljindal commented on #29335
cc @shashidharatd This is the issue I mentioned in todays SIG meeting

[2016-12-12 18:02] maisem commented on #38336
I started working on a safe way to do upgrades a couple of weeks ago but then got sidetracked.
This should allow for a non-disruptive way of upgrading the nodes in a cluster.
[code]

[2016-12-12 18:13] dhawal55 opened #38633 "Service type loadBalancer (AWS cloudprovider) only supports 0.0.0.0/0 for loadBalancerSourceRanges field"
**Kubernetes version** (use `kubectl version`):
v1.4.6

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS v1235.2.0
- **Kernel** (e.g. `uname -a`):
4.8.6-coreos-r1 #1 SMP Wed Dec 7 00:29:42 UTC 2016 x86_64 Intel(R) Xeon(R) CPU E5-2676 v3 @ 2.40GHz GenuineIntel GNU/Linux

**What happened**:
When creating a service-type loadBalancer, ad

[2016-12-12 18:17] kargakis commented on #38612
Sounds good too

[2016-12-12 18:19] kargakis commented on #14961
Make controllers aware of namespace termination: https://github.com/kubernetes/kubernetes/issues/38612

[2016-12-12 18:22] mfojtik commented on #38612
+1 to make this error driven

[2016-12-12 18:36] antonosmond commented on #29298
I have the same problem - my kubernetes master and nodes are in private subnets. I also have public subnets in the same VPC, tagged with the KubernetesCluster tags but kubernetes fails to create the ELB with the message "could not find any suitable subnets for creating the ELB". Is there a solution to get this working without having to manually create the ELBs? Interestingly, kubernetes will creat

[2016-12-12 18:37] derekwaynecarr commented on #38517
@sttts - it could be that `cfssl` was not accessible on the same path as root, but i don't know how often people update their path for root user to include go/bin.

[2016-12-12 18:42] kerneltime commented on #37402
#38423 should address this

[2016-12-12 18:42] derekwaynecarr commented on #38517
i rebased and tried to repro and this is gone.

[2016-12-12 18:42] #38517 closed

[2016-12-12 18:44] jessfraz commented on #38228
Yeah for sure I'm working off a branch on my fork called go-1.8 I think
I've knocked most out except the net.Conn changes

On Dec 9, 2016 14:34, "Davanum Srinivas" <notifications@github.com> wrote:

[2016-12-12 18:45] freehan commented on #38174
The master is still running 1.4.6. Hence the code was not present on the master.
[code]

[2016-12-12 18:47] freehan commented on #38174
@fejta Is it intentional to run 1.4.6 master in `ci-kubernetes-e2e-gci-gke-prod` suite?

[2016-12-12 18:47] MrHohn commented on #37798
@colachg I tried to reproduce using `node:latest` but failed. Below is what I got:
[code]

Are you using bare metal, or which cloud provider are you on?
And could you show the YAML file created that pod?

[2016-12-12 18:52] jingxu97 commented on #38301
@exarkun I am thinking you might hit issue #36269, the fix  #36840 is in release 1.4.7. Could you please check with the new vision?

[2016-12-12 18:52] jingxu97 commented on #36269
@mikesplain Thank you very much for helping us confirm the fix. Please let us know if you have any other issue with the new release.

[2016-12-12 18:56] krousey commented on #38232
@soltysh I'm going to try to fix this next. Is it accurate to say that these tests were introduced in 1.4 and the 1.4 tests are not expected to work with 1.5 masters because the API resource was renamed?

[2016-12-12 18:58] mml commented on #38044
Ping

[2016-12-12 18:59] mbohlool opened #38637 "Deprecating Swagger 1.2 in favor of OpenAPI (Move all internal tools to use OpenAPI)"
We plan to remove swagger 1.2 support in kubernetes 1.9 in favor of our [OpenAPI spec](https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json). Please check [OpenAPI specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md) for more information. This [migration guide](https://github.com/OAI/OpenAPI-Specification/wiki/swagger-1.2-to-2.0-mig

[2016-12-12 19:00] ncdc commented on #38556
@bprashanth hey, any idea what's going on here?

[code]

[2016-12-12 19:03] dchen1107 commented on #37853
Updated the issue based on https://github.com/kubernetes/kubernetes/issues/37853#issuecomment-266132773

1) 1.5 release branch looks fine over the weekend. I am removing release blocker from the issue for now.
2) @dashpole is trying to reproduce the original issue with --experimental-kernel-memcg-notification=true, but failed. We are continue working on this.

[2016-12-12 19:05] freehan opened #38639 "Deprecate Exec Network Plugin"
Is anyone still using the [exec network plugin](http://kubernetes.io/docs/admin/network-plugins/#exec)? We want to deprecate it in 1.6.

@kubernetes/sig-network @kubernetes/sig-node

[2016-12-12 19:05] bprashanth commented on #38556
hmm, looking. Seems to have found one address and be using another.

[2016-12-12 19:07] wojtek-t commented on #38459
This particular warning was from e2e. But I didn't check if the same is in kube-up or not.

[2016-12-12 19:12] freehan commented on #37979
@k82cn Just reuse it. After all, it is within the same component. Are you going to submit a PR?

[2016-12-12 19:13] freehan commented on #38633
@justinsb

[2016-12-12 19:16] dashpole commented on #33874
@dims Sure, we can move it to the next milestone.  I dont have permissions to chance milestones though.

[2016-12-12 19:19] calebamiles commented on #38632
Hello @scheeles, I've added a brief section to the 1.5 release notes about what versions of external dependencies were used by the [Continuous Integration environment](https://github.com/kubernetes/features/pull/157) moving forward we'll hopefully be able to add links to an easy to understand testing dashboard. If you'd like to help build that out I'm sure the people in SIG Testing would love some

[2016-12-12 19:23] BruceZu commented on #3595
I need this feature to be a workaround of the issue
https://gitlab.com/gitlab-org/omnibus-gitlab/issues/1350

[2016-12-12 19:25] exarkun commented on #38301
Ah, thanks.  I'll try out 1.4.7 - probably tomorrow - and report back.

[2016-12-12 19:27] janetkuo commented on #38556
It's consistently failing in https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-cri

[2016-12-12 19:28] bprashanth commented on #38556
It won't pass cri tests, it needs host port

[2016-12-12 19:28] bprashanth commented on #38556
but cri tests shouldn't block anything yet

[2016-12-12 19:31] bprashanth commented on #38556
Oh wait, the other 2 (non cri) failures are basically around the NodePort Service not responding, not the ingress. That might be: https://github.com/kubernetes/kubernetes/issues/37488, https://github.com/kubernetes/kubernetes/issues/28569#issuecomment-261385150

[2016-12-12 19:32] mbohlool commented on #22405
A python client is created and in pretty good shape here: https://github.com/kubernetes-incubator/client-python

java and javascript is next.

@jimmidyson lets sync up on java client.

[2016-12-12 19:32] krousey commented on #38232
@soltysh I was going to add an appropriate guard, but found that it already had one. https://github.com/kubernetes/kubernetes/blob/366366022e0347/test/e2e/scheduledjob.go#L48

[code]

Any idea why this isn't skipping the tests? Does 1.5 somehow have the resource in discovery info, can list "scheduledjobs", but cannot create one?

Or is it that it did create one, but the API server responded with "

[2016-12-12 19:33] olegch commented on #36269
I just wanted to confirm, 1.4.7 also fixed the issue for us.

[2016-12-12 19:38] calebamiles commented on #38493
Could someone from @kubernetes/sig-federation help triage this issue further?

**cc: @matchstick**

[2016-12-12 19:41] #36620 closed

[2016-12-12 19:43] goltermann commented on #8355
I looked back over examples/storage/cassandra/README.md, which has changed since this issue was filed.  It's much clearer and more fleshed out than it was when I opened the issue, so I think we're good.

[2016-12-12 19:43] #8355 closed

[2016-12-12 19:47] calebamiles commented on #38498
Could someone from @kubernetes/sig-node help to triage this issue further, thanks!

[2016-12-12 19:49] timstclair commented on #36187
FYI - I have a fix for this, waiting on https://github.com/kubernetes/kubernetes/pull/38435 to send it out.

[2016-12-12 19:54] fgrzadkowski commented on #30471
@jszczepkowski do we have any e2e tests to verify this? In https://github.com/kubernetes/kubernetes/issues/30471#issuecomment-261083725 I suggested adding some e2e tests and I think this requests still stands, unless I missed some PRs.

@DirectXMan12 Did you add e2e tests for those scenarios?

[2016-12-12 19:55] saad-ali commented on #36259
Just hit this again doing dry release for official 1.5.0 release:

[code]

[2016-12-12 19:59] dchen1107 commented on #37975
Last many runs are failed due to the same reason:

[code]

[2016-12-12 20:04] fabiand commented on #38606
@gnufied good point.
Maybe a pod specific _finalizer_ could help here - which could run the specific code to do the cleanup.
Ah - Thinking about it it's not realy safe. It covers some bits, but it ain't safe.

Let's try to tear the problem apart.
If the volume was directly used by the process i.e. through a user-space library (like it can be done with rbd), then no cleanup is necessary as long as

[2016-12-12 20:05] gnufied commented on #38498
I can look into this if nobody is on it.

[2016-12-12 20:13] kerneltime commented on #30248
@dagnello can we close this issue?

[2016-12-12 20:14] dchen1107 commented on #37975
From the build.log, I saw the env is configured correctly:

JENKINS_GCE_SSH_PUBLIC_KEY_FILE=/var/lib/jenkins/workspace/ci-kubernetes-e2e-gci-gce-reboot-release-1.5@tmp/secretFiles/f7ee8875-fd7c-4a49-9d0f-1fa73fef8887/google_compute_engine.pub.txt

But that file might be not created?

[2016-12-12 20:16] kerneltime commented on #30254
@sputnik13 Are you still having an issue? The datastore in the conf is used for dynamic provisioning. For PVC datastore must be specified.

[2016-12-12 20:26] xmik commented on #26000
Also seeing this with kubernetes v1.5.0-beta.3, Ubuntu 16.04.1, docker storage driver: overlay, docker version: 1.12.3.

But sometimes image garbage collection succeeds:
[code]

@ronnielai asked for localhost:4194/api/v2.1/storage , so:
[code]

[2016-12-12 20:48] #38458 closed

[2016-12-12 20:48] razic opened #38644 "Scary misleading information during a describe after an apply"
#### kubernetes version info

[code]

#### client environment

* 14.04.5 LTS, Trusty Tahr
* Linux 6b327be4fdfc 4.4.27-moby #1 SMP Wed Oct 26 14:21:29 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

#### what happened

* added an additional port to a kubernetes service resource manifest.
* ran apply on the manifest file to update the service with additional port
* ran describe on the service only to see `

[2016-12-12 20:49] razic commented on #38644
cc @justinsb

[2016-12-12 20:50] deads2k commented on #38627
Turns out the controller manager is using the insecure port. Need to address that first.

[2016-12-12 20:52] timothysc commented on #38585
/cc @rrati

[2016-12-12 20:54] justinsb commented on #38644
I think this is just a matter of misleading event text.

At least the Message can be fixed easily.  I am less sure on the Reason (is this an API change @bgrant0607 ?), but I think we fix it and add a release note.

[2016-12-12 20:55] fejta commented on #37975
Hmm... yes that file is mapped into the container in a different dir:

-v /var/lib/jenkins/workspace/ci-kubernetes-e2e-gci-gce-reboot-release-1.5@tmp/secretFiles/d8663b83-4788-49b5-ae80-2aabae547b45/google_compute_engine.pub.txt:/workspace/.ssh/google_compute_engine.pub:ro

[2016-12-12 20:58] dchen1107 commented on #38498
cc/ @dashpole since he is working on disk management improvements (https://github.com/kubernetes/kubernetes/issues/16563). @gnufied please feel free to send us the pr to fix the issue.

[2016-12-12 20:59] k8s-merge-robot opened #38646 "[k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-master/35/

Failed: [k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}

[code]

Previous issues for this test: #31502 #32947

[2016-12-12 21:00] euank commented on #33649
It seems odd this is marked `priority/critical-urgent` and `priority/P1` at the same time.

The first is probably the erroneous one since we believe this is an upstream docker bug and there's no plan to update in the nearterm, so we're certainly not treating it as "critical-urgent".

[2016-12-12 21:01] euank commented on #36708
For testing we should disable `update_engine` downloads as well because the increased network activity can lead to timeouts in the image-puller due to network traffic being hogged by an update payload as well.

[2016-12-12 21:02] calebamiles commented on #38588
Could someone from @kubernetes/goog-gke help triage this issue further, thanks!

[2016-12-12 21:03] bgrant0607 commented on #38644
@justinsb Events aren't currently covered by API contract, and both Reason and Message can be changed. However, if there are e2e tests that rely on the existing events, the fixes may need to be backported to prior release branches.

[2016-12-12 21:10] jkemp101 commented on #33554
Just as a point of reference.  My relatively small cluster was running 1,246 packets per second for all DNS related traffic in the cluster with the default settings.  After I implemented the config map workaround for most of the pods to set `ndots` to 1 the same cluster is now running at 109 pps for DNS traffic.

[2016-12-12 21:14] fejta commented on #37975
Okay that is definitely a red herring, the JENKINS_GCE_SSH_PUBLIC_KEY_FILE is correct.

So the link you gave for the 1211 08:35 sigsegv is here: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot-release-1.5/1070/

And there are problems from the start of the run:
[code]

There is serial port output from node qoch, but nothing looks obvious to me:
htt

[2016-12-12 21:15] fejta commented on #37975
FYI, nothing here to suggest a problem with test-infra. The nodes seem to be in a bad state, assigning back to @dchen1107 and @saad-ali

[2016-12-12 21:16] dchen1107 commented on #36708
update_engine is disabled for Kubernetes cluster deployment. Only node e2e test framework didn't disable this.

[2016-12-12 21:40] mml commented on #18391
To reproduce, try changing the value of `--runtime-config` to turn an api group on and off.

[2016-12-12 22:15] sporkmonger commented on #30518
And now ALB supports the AWS WAF, while ELB does not. Seems likely that this pattern of new feature releases targeting ALB primarily is likely to continue.

[2016-12-12 22:16] #38073 closed

[2016-12-12 22:31] fejta commented on #33874
Here's an interesting case, it looks like kubelet started on `2hwc` in build `1151` the first time it booted, but then failed to start on reboot:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/1151/

http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/1151/artifacts/bootstrap-e2e-minion-group-2hwc/

Between 9 and 89s

[2016-12-12 22:32] krousey commented on #38232
I can confirm that the above guard is not sufficient. With a 1.5 APIServer, you can create a `ScheduledJob` on the `/apis/batch/v2alpha1/namespaces/{namespace}/scheduledjobs` endpoint, but the API server returns a `CronJob` object.

@kubernetes/sig-api-machinery This seems bad. A client tried to create an object with one type, but received an object of another. If this is special to how the `CronJ

[2016-12-12 22:36] dchen1107 commented on #37975
The test is testing node rebooting, so the node is subject to be restarted here. Like what I said above, there is no node problem except the test related issue. @fejta just conformed that the node can be sshed into. The stacktrace in build.log just indicates a new regression in test code itself which calls IssueSSHCommand

[2016-12-12 22:38] hjacobs commented on #30518
@rajivm yes, we have a similar approach using [Skipper](https://github.com/zalando/skipper) as HTTP router and another component to orchestrate ALBs (for SSL termination): https://github.com/zalando-incubator/kubernetes-on-aws/issues/169

[2016-12-12 22:38] k8s-merge-robot opened #38652 "ci-kubernetes-e2e-gke-1.5-1.4-gci-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-1.5-1.4-gci-kubectl-skew/883/

Multiple broken tests:

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578 #37974 #38206

Failed: TearDown {e2e.go}

[code]
Issues about this test specifically: #34118 #34795 #37058 #38207

Failed: DiffResources {e2e.go}

[code]
Issues about

[2016-12-12 22:41] smenon78 opened #38653 "AWS-Kubeadm install, kube-dns is stuck at containerCreating."
Following the document to Install Kubernetes on AWS
http://kubernetes.io/docs/getting-started-guides/kubeadm/

kube-dns is stuck in ContainerCreating....

**Kubernetes version** (use `kubectl version`):
kubectl version
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4", GitCommit:"3b417cc4ccd1b8f38ff9ec96bb50a81ca0ea9d56", GitTreeState:"clean",

**Environment**:
- **Cloud provi

[2016-12-12 22:43] dchen1107 commented on #37975
More updates on this issue:

1) @mtaufen is creating a cherrypick pr to fix nil-pointer issue in test framework of 1.5 branch
2) Again, I have confidence the issue is test related. Especially @fejta's above update confirmed this. This is not a release blocker.

[2016-12-12 22:43] sebbonnet commented on #38498
@gnufied all non-runnings have only one file of 0 byte:
[code]

[2016-12-12 22:43] razic commented on #38644
@bgrant0607 i may try to take a stab at fixing this. if there are indeed e2e tests relying on existing events, how many prior releases do you address?

[2016-12-12 22:50] deads2k commented on #38232
It shouldn't return a cronjob kind.  If we're going to break backwards compatibility, we may as well remove the old, but I'd prefer to be compatible. Reintroducing the old type and cohabiting would work, but it's heavy.

@smarterclayton do we have a way to force the kind without keeping an old type for the API installer?

[2016-12-12 23:08] krousey opened #38656 "ScheduledJob endpoint returns CronJob types."
**What keywords did you search in Kubernetes issues before filing this one?**: scheduledjob

---

**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`): Linux e2e-test-krousey-master 4.4.21+ #1 S

[2016-12-12 23:12] krousey commented on #38656
In the current state, we're releasing an alpha API endpoint that is broken. CronJob still works fine. This is probably a good candidate for a 1.5.1 point release.

[2016-12-12 23:14] k82cn commented on #37979
sure, my pleasure.

[2016-12-12 23:23] timstclair commented on #34649
I believe this is fixed by https://github.com/kubernetes/kubernetes/pull/28300 (in v1.5), which lets the default seccomp profile be specified as part of the cluster-wide PodSecurityPolicy via an annotation: `seccomp.security.alpha.kubernetes.io/defaultProfileName`.

@pweil-

[2016-12-12 23:24] krousey commented on #38656
Found while looking in to https://github.com/kubernetes/kubernetes/issues/38232#issuecomment-266574690

[2016-12-12 23:29] tonglil commented on #37210
I believe this is now out and can be closed?

[2016-12-12 23:34] dchen1107 commented on #38653
cc/ @freehan on network plugin related issue.

[2016-12-12 23:39] #37210 closed

[2016-12-12 23:44] freehan commented on #38653
[code]

Looks like you are using "--network-plugin=cni". This indicates your cni network config is not loaded. cni network plugin is expecting user to provide the CNI config and binaries at `cni-conf-dir` and `cni-bin-dir`.

More docs can be found here: http://kubernetes.io/docs/admin/network-plugins/#cni

[2016-12-12 23:45] freehan commented on #37979
@k82cn Great! Thanks! Let me know when the PR is ready.

[2016-12-13 00:04] smenon78 commented on #38653
I didn't have to do anything manually before based on the doc
http://kubernetes.io/docs/getting-started-guides/kubeadm/
I did run this command
apt-get install -y kubelet kubeadm kubectl kubernetes-cni

[2016-12-13 00:22] freehan commented on #38653
Looks like somewhere breaks during bootstrap? The CNI conf is not in place. Could you check if there is anything in `/etc/cni/net.d`?

[2016-12-13 00:22] freehan commented on #38653
add @mikedanese

[2016-12-13 00:25] smenon78 commented on #38653
There is no cni directory in the /etc folder. I have tried this several times today, this was working with no problem last Thursday ( 12/08)

[2016-12-13 00:28] k8s-merge-robot opened #38658 "TearDown Previous {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws/2656/

Failed: TearDown Previous {e2e.go}

[code]

[2016-12-13 00:30] calebamiles commented on #38100
According to https://github.com/kubernetes/kubernetes/issues/38392, @karlkfi is no longer working on the project; unassigning him.

**cc: @bgrant0607**

[2016-12-13 00:30] calebamiles commented on #37158
According to https://github.com/kubernetes/kubernetes/issues/38392, @karlkfi is no longer working on the project. Closing this issue for now to be reopened by the bot if it occurs again.

**cc: @bgrant0607**

[2016-12-13 00:30] #37158 closed

[2016-12-13 00:30] calebamiles commented on #36481
According to https://github.com/kubernetes/kubernetes/issues/38392, @karlkfi is no longer working on the project. Closing this issue for now to be reopened by the bot if it occurs again.

**cc: @bgrant0607**

[2016-12-13 00:30] #36481 closed

[2016-12-13 00:31] calebamiles commented on #36242
According to https://github.com/kubernetes/kubernetes/issues/38392, @karlkfi is no longer working on the project. Closing this issue for now to be reopened by the bot if it occurs again.

**cc: @bgrant0607**

[2016-12-13 00:31] #36242 closed

[2016-12-13 00:31] calebamiles commented on #35757
According to https://github.com/kubernetes/kubernetes/issues/38392, @karlkfi is no longer working on the project. Closing this issue for now to be reopened by the bot if it occurs again.

**cc: @bgrant0607**

[2016-12-13 00:31] #35757 closed

[2016-12-13 00:31] calebamiles commented on #35422
According to https://github.com/kubernetes/kubernetes/issues/38392, @karlkfi is no longer working on the project. Closing this issue for now to be reopened by the bot if it occurs again.

**cc: @bgrant0607**

[2016-12-13 00:31] #35422 closed

[2016-12-13 00:31] calebamiles commented on #32949
According to https://github.com/kubernetes/kubernetes/issues/38392, @karlkfi is no longer working on the project. Closing this issue for now to be reopened by the bot if it occurs again.

**cc: @bgrant0607**

[2016-12-13 00:31] #32949 closed

[2016-12-13 00:35] dchen1107 commented on #38303
I did some verification on docker 1.12 rc-x a while back, and ran into some issue.

[2016-12-13 00:36] smenon78 commented on #38653
Also, I was doing kubectl apply -f https://git.io/weave-kube to install the network pod. There is a new version 1.8.2.

[2016-12-13 00:38] oshalygin commented on #30617
Tried just about a million things.  Here is what my travis `before_install` looks like:

[code]

I keep failing with something or other around:
`ERROR: gcloud crashed (IOError): [Errno 13] Permission denied: '/home/travis/.config/gcloud/credentials'`

[2016-12-13 00:42] rkouj commented on #36098
This has been merged to head and been cherry picked to 1.4 as well. Closing.

[2016-12-13 00:42] #36098 closed

[2016-12-13 00:46] smenon78 commented on #38653
Ok, this looks like an Issue with weave version 1.8.2. I used a yaml file and changed the image to 1.8.1 and now its running.

[2016-12-13 00:49] yifan-gu commented on #25581
@tmrts We probably need to update the result with the new rktlet now. cc @euank

[2016-12-13 00:50] #25581 closed

[2016-12-13 00:52] k8s-merge-robot opened #38660 "SkewTest {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-1.5-1.4-gci-kubectl-skew/890/

Failed: SkewTest {e2e.go}

[code]

[2016-12-13 00:56] freehan commented on #38653
Is there an issue upstream?

[2016-12-13 00:58] smenon78 commented on #38653
I haven't created one, Weave latest (1.8.2) was released 4 days ago and looks like this is broken for aws.

[2016-12-13 01:03] k8s-merge-robot opened #38663 "Test {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/1156/

Failed: Test {e2e.go}

[code]

Previous issues for this test: #33361

[2016-12-13 01:28] RichardBronosky commented on #29643
I have the same error as @rcshubhadeep. It seems like a documentation flaw.

[2016-12-13 02:10] resouer commented on #38458
@derekwaynecarr  Yes, so a `cgroupDriver` is added to dockershim during initialization.  May I send a PR and and have you review if it sounds good.

[2016-12-13 02:17] BaluDontu commented on #33576
This issue is fixed in release 1.4.7. Currently we decided to have no support for regions or fault domains as it is not a fully implemented functionality.

So in vsphere CP, you will see no more references to regions and fault domains.

[2016-12-13 02:31] colachg commented on #37798
@MrHohn  Thank you for comment. I am using bare metal.I run all the commands above with minikube, it reproduces again.
`minikube start`
This time, I use **alpine:latest** to reproduce.
[code]
**make sure there are 5 domains in /etc/resolve.conf, that's the key point for me to reproduce.**

[2016-12-13 02:50] pigletfly commented on #7090
@gl328518397  ```gcr.io``` is blocked by GFW

[2016-12-13 02:52] GlenDC commented on #38637
When you say "OpenAPI spec", do you mean the "Swagger 2.0" spec?

[2016-12-13 03:01] MrHohn commented on #37798
A quick question, is google.com resolvable outside of the pod(on the same node)?

And by indicating 5 domains in the search path, do you mean it works if there are less than 5? May be could use [this trick](https://github.com/kubernetes/kubernetes/pull/35525#issuecomment-257919311) to verify.

[2016-12-13 03:05] MrHohn commented on #37798
And could probably check the logs from pod kube-dns by using `kubectl logs` command (mostly from the container `kubedns` and `dnsmasq`).

[2016-12-13 03:07] k8s-merge-robot opened #38667 "list nodes {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/2167/

Failed: list nodes {e2e.go}

[code]

[2016-12-13 03:18] colachg commented on #37798
@MrHohn
[code]
`kubectl logs ` is my first debug method,I can't find anything abnormal.

If there are less than 5 search domains, it works fine.so I use tshark to trace the network traffic and find that it only resolves 5 times.

I use `kubelet --resolve-conf="/my custom resolve.conf"` to reduce search domains to less than 5.
I solve the problem.

[2016-12-13 03:25] xingzhou commented on #38656
Anyone working on this? if no, I'd like to work on this

[2016-12-13 03:27] feiskyer commented on #38639
Also forward one to [mailist](https://groups.google.com/forum/#!topic/kubernetes-sig-network/ptDaRCcDLDA)

[2016-12-13 03:42] #20223 closed

[2016-12-13 03:59] caesarxuchao opened #38670 "cacheWatcher leaks goroutines"
We noticed many goroutines stalled at https://github.com/kubernetes/kubernetes/blob/v1.4.6/pkg/storage/cacher.go#L701 in a large cluster (~200 nodes, ~1100 pods). It's because if the WatchServer timeout [fires](https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/watch.go#L187-L188) when the `result` channel is full, `sendWatchCacheEvent` will be blocked on the write to the `result`

[2016-12-13 04:01] gnufied commented on #38498
@sebbonnet did you upgrade your k8s version from older release? There should be a `volumes` directory inside the container directories - so I am thinking this might have been missed in upgrade path.

But afaict version starting from `1.3` did create the volume directory, so were those not-running pods created by even older version?

[2016-12-13 04:36] smarterclayton commented on #38232
Not per resource type, no.  When we moved from minions -> nodes it was
across an API boundary (v1beta3 to v1) and we didn't have to expose the
minions endpoint.

The logic would have to create a versioning codec for just one endpoint and
pass it to the RequestScope with the prioritized encoding order being

GVK{Kind: "ScheduledJob", G: "batch", V: "v2alpha1"}
GVK{G: "batch", V: "v2alpha1"}

which

[2016-12-13 04:57] MrHohn commented on #37798
Thanks for the details. I literally span up a cluster with ubuntu 16.04.1 LTS using kubeadm. But still failed to reproduce the issue (with 5 domains in search path).

Add @bowei in loop.

[2016-12-13 05:09] thockin commented on #38639
I think this would be great.  We're working on a place to store such
deprecation announcements.

On Mon, Dec 12, 2016 at 11:05 AM, Minhan Xia <notifications@github.com>
wrote:

[2016-12-13 05:23] thockin commented on #33554
This is firmly @bowei's territory - I'm just making trouble now.

I think we're open to a proposal to either add a DNSPolicy for ndots=1 or
to make a more expansive change and make more params configurable.  Need a
volunteer to write the proposal...

On Mon, Dec 12, 2016 at 1:11 PM, Joe Kemp <notifications@github.com> wrote:

[2016-12-13 05:27] thockin commented on #38606
NB that while raw access to block devices is interesting, being able to
MOUNT them requires a very high level of trust.  It is pretty trivial to
crash the kernel.

On Mon, Dec 12, 2016 at 12:05 PM, Fabian Deutsch <notifications@github.com>
wrote:

[2016-12-13 06:15] bowei commented on #33554
@thockin: I'll take a crack at the proposal
@jkemp101: 10x QPS, yikes

[2016-12-13 06:18] NickrenREN opened #38671 "k8s runs in openstack instances. Node status is NotReady, but pods still run in it"
k8s cluster run in two openstack instances. One node status is NotReady because of keystone error ,but pods still run in it.
Should we scheduled the pods to another node?

-bash-4.3# kubectl get pod -o wide
NAME      READY     STATUS    RESTARTS   AGE       NODE
ubuntu1   1/1       Running   0          1h        yuanquan-2
-bash-4.3# kubectl get nodes
NAME         STATUS     AGE
yuanquan-1   Ready

[2016-12-13 06:23] sunsongxp commented on #14361
This also happens to me, I can download the link blow, but the script still raise this error

[code]

[2016-12-13 06:30] sunsongxp commented on #14361
it works after I upgraded to latest vagrant.

[2016-12-13 06:34] slaskawi commented on #28660
@smarterclayton I would be more than happy to experiment with it. Let me contact you offline and ask for some guidance.

[2016-12-13 07:04] xingzhou commented on #37465
@xiaoping378, I'm working on the proposal now.
For now, one can specify `v1.Pod.spec.volumes[].persistentVolumeClaim.readOnly=true` to attach a readonly volume, you can take a try.

[2016-12-13 07:09] xiaoping378 commented on #37465
Hi @xingzhou
It's worked, Thank you very much !

[2016-12-13 07:21] wojtek-t commented on #38670
Great finding - thanks for debugging @caesarxuchao

[2016-12-13 08:05] fabiand commented on #38606
@smarterclayton I do see a difference between this issue and #831.

The difference I'm seeing is that #831 is about using a container (not sure if running or not) as a volume. If the container is running, then the functionality to this issue is similar.

But: One aspect of this issue is, that this mechanism described here would only cover the existing volume types - whereas the container (if it's

[2016-12-13 08:08] fabiand commented on #38606
@thockin that's true.
But mounting is only possible by privileged/sufficient cap containers, thus there would be already a level of trust because the container already has privileges and/or additional capabilities.

If it's not privileged, then a process can still consume the volume directly.

[2016-12-13 08:12] wojtek-t commented on #38618
The first one is fixed by https://github.com/kubernetes/kubernetes/pull/38619

[2016-12-13 08:23] jszczepkowski commented on #38549
There is a problem w/contacting controller service. This is already fixed by #38463 on master. The fix needs to propagated to the 1.5 branch.

[2016-12-13 08:25] scheeles commented on #38632
Thanks

[2016-12-13 08:25] #38632 closed

[2016-12-13 08:41] jszczepkowski commented on #30471
We have thorough unittests, but AFAIK e2e tests are not yet implemented.

[2016-12-13 08:43] #38670 closed

[2016-12-13 09:00] roberthbailey commented on #8645
Please re-open if this is still something that we need to address.

[2016-12-13 09:00] #8645 closed

[2016-12-13 09:14] jsafrane opened #38680 "Orphaned volumes in e2e tests"
From #34060

These PVs could not be deleted because they were not detached from nodes.

[code]

@jingxu97, PTAL, there are full controller-manager logs and I got lost in the detach logic.

[2016-12-13 09:16] jsafrane commented on #34060
created #38680 for the last one (https://github.com/kubernetes/kubernetes/issues/34060#issuecomment-266599511)

[2016-12-13 09:28] jsafrane opened #38681 "Failed to provision a PV on GCE with "The resource already exists""
From #34060:

The reason is that PV controller provisions the aforementioned GCE PDs and from some reason it does **not** create PVs for them in Kubernetes. The controller then re-tries provisioning them again and this second provisioning fails because corresponding GCE PDs already exist:

[code]

Full log: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/

[2016-12-13 09:29] jsafrane commented on #34060
Created #38681 for orphaned `bootstrap-e2e-dynamic-pvc-df3639df-ba93-11e6-bc92-42010af00002`, https://github.com/kubernetes/kubernetes/issues/34060#issuecomment-264758786

[2016-12-13 09:43] jsravn commented on #38498
@gnufied These aren't old pods, afaik this particular cluster was on 1.3 for a long time (since around 1.3 release) and then upgraded to 1.4. The dates of the pods w/ missing volumes are pretty strange, it seems like it happens sporadically:
[code]

And none since then. Other nodes have different dates:
[code]

Since we only saw this in 1.4.6, I thought it may be related to the changes in #33203 -

[2016-12-13 10:04] sandflee opened #38684 "Disallow setting activeDeadlineSeconds for restartAlways pods/controllers"
setting activeDeadlineSeconds in deployment pod template, and seen new pods are continuously created after the older one dies. Is this excepted? if not we should forbidden this.

[2016-12-13 10:04] mbohlool commented on #38637
Swagger 2.0 spec is donated to OpenAPI. Thus they are the same. We try to call it OpenAPI everywhere to be consistent and also to show intention of supporting later versions of OpenAPI spec (that may or may not be called swagger 2+.0+)

[2016-12-13 10:22] kargakis opened #38686 "Need for an e2e test for ReplicaSets that verifies the status of the ReplicaSet"
See https://github.com/kubernetes/kubernetes/pull/36748#discussion_r92046894

@janetkuo fyi

[2016-12-13 10:24] kargakis commented on #38684
Yes, it is expected. Once a pod dies, the replica set controller will spawn a new one. activeDeadlineSeconds doesn't make any sense when used under a controller.

[2016-12-13 10:25] kargakis commented on #38684
@kubernetes/deployment @smarterclayton we may want to make it a validation error, but I don't feel strong.

[2016-12-13 10:38] fgrzadkowski commented on #30471
If you are fine with the current tests, than I'm also ok. But let's make sure this is the case before closing this issue.

[2016-12-13 11:38] soltysh commented on #38232
@krousey this was intentional to maintain backwards compatibility, some complain about when renaming from SJ to CJ.
I must admit that this check was the first thing I've looked for when first seeing the bug. I guess we need to redo this check to check version and not resource when it comes to renamed resources like SJ/CJ. Agreed?

[2016-12-13 11:41] soltysh commented on #38656
That was the simplest approach we could use to maintain backwards compatibility with SJ, but without introducing co-habitating resources. Generally, CJ are still an alpha feature so I'd like to not invest too much time into fixing not-so-supported feature.

[2016-12-13 12:42] jsafrane commented on #38681
Summary of my investigation:

* In the log I can see that `provisionClaimOperation` for a claim started:
[code]

* `provisionClaimOperation` must have called GCE volume provisioner because GCE PD was created
* Right after `provisioner.Provision()` call there must be either `failed to provision volume for claim %q` or `volume %q for claim %q created` in the log, see [1]. Neither of these is actuall

[2016-12-13 12:56] jsafrane commented on #38681
And the reason is that controller-manager was restarted after provisioning and before saving the PV to Kubernetes (at `02:38:16.717561` to be precise). Naturally, newly started controller-manager had empty GoRoutineMap and tries to provision a PV again.

Solution: `alreadyExists` must be interpreted not as failure but as success, Kubernetes should adopt volumes it created and forgot about them. Pa

[2016-12-13 12:57] pawankkamboj commented on #27343
seems still not fixed, I am using "gcr.io/google_containers/kube-apiserver-amd64:v1.4.6" and still getting bad certificate for etcd health.

[root@kube1 ~]# kubectl get cs
NAME                 STATUS      MESSAGE                                                              ERROR
scheduler            Healthy     ok
controller-manager   Healthy     ok
etcd-1               Unhealthy   Get https://172

[2016-12-13 13:06] gmarek opened #38694 "localsubjectaccessreviews used by something in e2e clusters but not supported in the apiserver"
I was looking at API sever logs and noticed a stacktrace for usage of not-registered API resource localsubjectaccessreviews. All tests are still passing (to the same extent as they were) which means that we have two problems:
- we don't fail our tests in case of 405's (which I think is bad if unexpected @kubernetes/test-infra-maintainers @dchen1107)
- we partially enabled localsubjectaccessreviews

[2016-12-13 14:00] kargakis opened #38697 "Replica set sizes are messed in the description of a Deployment"
[code]
@kubernetes/kubectl @kubernetes/sig-cli @kubernetes/deployment

[2016-12-13 14:02] deads2k commented on #38694
`LocalSubjectAccessReview` is a POST-only endpoint, similar to `SubjectAccessReview`.  It provides the same functionality at a namespace scope so that namespace level admins can figure out who can do what in their namespace.  405 is appropriate for a GET, so that's working correctly and we're fully enabled.

The more interesting question is who is trying to do the GET.

[2016-12-13 14:03] kargakis opened #38698 "Deployment description lacks basic info"
Misses the image I run, we can argue about more fields too
[code]
@kubernetes/kubectl @kubernetes/sig-cli @kubernetes/deployment

[2016-12-13 14:27] ruizhipeng commented on #32522
same as you
wait with you

[2016-12-13 14:52] hjacobs commented on #26670
This is a pretty serious limitation we ran into today. Luckily we are fixing it by using `Ingress`: https://github.com/zalando-incubator/kubernetes-on-aws/issues/169

[2016-12-13 14:58] edevil commented on #21022
I'm running kubelet as a docker container, so there's this one container running outside the kubernetes context, and I'm also getting these errors on Kubernetes 1.5:

[code]

[code]

This is related to the kubelet container:
[code]

[code]

Is this a problem? Will this be fixed or should I just stop running kubelet inside a container?

[2016-12-13 15:00] huang195 commented on #34244
@euank thank for that information. I'm wondering now that Docker has this feature, whether or not it's worth the time to keep this info synced between the 2 systems.

@vishh yep, understood it's currently not used, but I'm wondering if there's some merit to keeping information sync'ed between K8s and its container runtimes.

[2016-12-13 15:11] AdoHe commented on #38698
[code]
what does this huge number `842354255776` mean here? also the `RollingUpdateStrategy` should be put just below the `StrategyType`.

[2016-12-13 15:12] xsgordon commented on #25862
Minor update for future time travellers, https://github.com/kubernetes/kubernetes/pull/26037 has been superseded by https://github.com/kubernetes/kubernetes/pull/32111

[2016-12-13 15:19] kargakis commented on #38698
@AdoHe the huge number is supposed to be the desired replicas for that replica set I think. Yes, RollingUpdateStrategy should be below the strategy type.

[2016-12-13 15:23] wojtek-t commented on #37473
@liggitt OK - so I finally got to it, and most of it is working as intended.

Here is the explanation (as I could easily reproduce it).
- there were 4 actions in the cluster touching ServiceAccounts:
1. create SA for default namespace
2. modify SA for default namespace
3. create SA for kube-system namespace
4. modify SA for kube-system namespace
- in your usecase you are only listing SA from defau

[2016-12-13 15:30] AdoHe commented on #38698
@kargakis I am afraid this doesn't make much sense here, at least I get quite confused at first glance.

[2016-12-13 15:36] brunomvsouza opened #38707 "Looks like kubeadm kubelet and kubectl packages (1.5.0 final) for xenial weren't published yet"
Any ETA?

https://packages.cloud.google.com/apt/dists/kubernetes-xenial-unstable/main/binary-amd64/Packages

[code]

[2016-12-13 16:00] jkemp101 opened #38710 "Image garbage collection severely impacts node"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):Bug

**Kubernetes versio

[2016-12-13 16:29] jbeda opened #38712 "All generated files should have predictable names"
As we work toward a dockerized build, we need to easily be able to figure out which files are generated and which files are "source".  As such, generated files should have a predictable name (`zz_generated.*`) or be under an obvious generated directorey (`_output`).

/cc @thockin @ncdc (#36080) @ixdy @deads2k @liggitt @sttts @mikedanese @caesarxuchao

[2016-12-13 16:31] jbeda commented on #38712
@ncdc -- can you fix the listeners up so that they continue to use generated names?

[2016-12-13 16:32] thockin commented on #38712
I have been converting generators to be on-demand and renaming to
zz_generated.* along the way.  I hope to un-commit those files from the
build soon.

On Tue, Dec 13, 2016 at 8:29 AM, Joe Beda <notifications@github.com> wrote:

[2016-12-13 16:33] ncdc commented on #38712
@jbeda it sounds like @thockin is saying don't do that?

[2016-12-13 16:35] ncdc commented on #38712
Whoops, misread

[2016-12-13 16:41] shaklee3 commented on #12866
Any chance sub-second probes will ever be a feature? One second can be a very long time when a failure happens.

[2016-12-13 16:43] LEW21 commented on #32749
This would be useful for accessing docker registries running inside the Kubernetes cluster from the Kubernetes itself. Currently it's commonly done with a localhost proxy, which is slower and not as elegant as simply using "docker-registry.kube-system".

(BTW, in case somebody looking how to make it work today finds this comment: if you're on AWS, use Route53 private hosted zone ".kube-system")

[2016-12-13 17:05] jbeda commented on #38712
Also, predictable naming here will help when we no longer check this stuff in and we need to put all these files in `.gitignore`.

[2016-12-13 17:18] hanikesn commented on #29059
@jingxu97

We're running 1.4.7 now and still seeing a high volume of these messages:
```operation_executor.go:917] MountVolume.SetUp succeeded for volume "kubernetes.io/secret/5e3a7b7e-c054-11e6-b98a-069d86b508b9-default-token-1srvd" (spec.Name: "default-token-1srvd") pod "5e3a7b7e-c054-11e6-b98a-069d86b508b9" (UID: "5e3a7b7e-c054-11e6-b98a-069d86b508b9").```

With about 125 Pods running in our cl

[2016-12-13 17:41] hanikesn commented on #29324
We upgraded to 1.4.7 and are still seeing delays of about 2 min, when pods change the host they're running on:

[code]

[code]

[2016-12-13 17:45] ncdc commented on #38712
@thockin I've got the changes for generated listers and informers ready to go... do you want me to hold off? Or maybe just send you the diffs to the generators and you can take it from there?

[2016-12-13 17:48] freehan commented on #35457
ref: #31307

[2016-12-13 17:55] kecklerr commented on #19235
I had this problem.  to fix.
systemctl start etcd.service

[2016-12-13 18:10] krousey commented on #38232
Please move discussion to #38656

[2016-12-13 18:15] krousey commented on #38656
I understand that this was done to maintain backwards compatibility, but now we have an API endpoint that just doesn't work. It does not conform to other APIs. If I create a type, I expect to get the same type or a `Status` error as a response.

I think at the very least, `ScheduledJob` should be removed completely. It isn't backwards compatible as it is, and it doesn't need to be since this is al

[2016-12-13 18:16] jessfraz commented on #38392
@fejta to you know how we go about removing him?

[2016-12-13 18:22] SleepyBrett opened #38716 "API Server Panic due to .... something something audit logs"
**Kubernetes version** (use `kubectl version`):
Unable to run kubectl version, but it's a 1.5.0 cluster.

**Environment**:
- AWS
- OS
NAME=CoreOS
ID=coreos
VERSION=1235.2.0
VERSION_ID=1235.2.0
BUILD_ID=2016-12-07-0039
PRETTY_NAME="CoreOS 1235.2.0 (MoreOS)"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"
- **Kernel** (e.g. `uname -a`):
core@ip

[2016-12-13 18:23] deads2k commented on #38716
@saad-ali this crash the API server when auditing is turned on an a request without a user comes in.

[2016-12-13 18:30] rudle opened #38718 "Nothing().String() sentinel value is not in the grammar"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Nothing(), selector, Nothing selector

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Kubernetes version** (use `kubectl version`):
HEAD

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from

[2016-12-13 18:33] rkamudhan commented on #27398
We developed a CNI called *[Multus](https://github.com/Intel-Corp/multus-cni)* to support Multi-homed pod in Kubernetes, which support multi interface in a pod and support different network in a single pod. Hope this could be a best use case for the guys in this forum.

[2016-12-13 18:42] sharms commented on #37854
I can confirm this is happening continuously with the same configuration.  We have a root volume and a data volume mounted, and this error happens several hundred times a day.

Resolution is to force detach on AWS console.  Running 1.5

[2016-12-13 18:45] Yugloocamai commented on #13585
+1

[2016-12-13 18:46] pwittrock commented on #33666
@sethpollack That looks good.  Can you add what the prompt would look like?

[2016-12-13 18:47] sharms commented on #37854
**Kubelet Log:**
[code]

[2016-12-13 18:51] smarterclayton commented on #32749
We have that use case as well - resolving service addresses from docker is very valuable.

[2016-12-13 18:56] bprashanth commented on #32749
Fyi I think @bowei is thinking through the details. I have a WIP that deploys dnsmasq as a static pod and introduces a new dnspolicy + bridge in the 169.254 range for it (https://github.com/kubernetes/kubernetes/pull/34523)

[2016-12-13 19:13] thockin commented on #38712
changes to build on-demand or just to rename?

On Tue, Dec 13, 2016 at 9:45 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-12-13 19:29] ncdc commented on #38712
Just to rename

On Tue, Dec 13, 2016 at 2:13 PM Tim Hockin <notifications@github.com> wrote:

[2016-12-13 19:32] dchen1107 commented on #38710
@jkemp101 I think you are hitting a known issue: #38373 on docker: Bulk image deletion/creation will cause Docker's ListImages to hang (docker/docker#21215), thus sometimes cause Node status cannot be updated within certain time (configured for 5 mins), eventually becomes Unknown marked by node_controller.

pr #38375 was introduced to both 1.5 and cherrypicked into 1.4 to fix the issue. I am closi

[2016-12-13 19:33] #38710 closed

[2016-12-13 19:35] thockin commented on #38712
please don't rename to zz_generated unless they auto-rebuild.

On Tue, Dec 13, 2016 at 11:29 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-12-13 19:41] ixdy commented on #38712
Does this mean we're planning to break plain `go build` working? (This might already be true, I haven't checked recently...)

[2016-12-13 19:43] thockin commented on #38712
Yes, I plan to break go build.

On Tue, Dec 13, 2016 at 11:41 AM, Jeff Grafton <notifications@github.com>
wrote:

[2016-12-13 19:58] sharms commented on #37854
This occurs on the detaching side:
[code]

[2016-12-13 20:08] smarterclayton commented on #38656
Part of the reason we pushed to do this was to get most of the machinery in
place to allow it.  We'd need to make the decision to continue investing to
get to that next tier of capability.  Partial scheduled job is better than
no scheduled job, and we identified and fixed a number of issues that would
block a real rename.  Only clients that read Kind are broken, but that's
not all clients by far.

[2016-12-13 20:10] #32401 closed

[2016-12-13 20:16] arun-gupta opened #38722 "Kubernete 1.5.0 DOA"
Downloaded Kubernetes 1.5.0 and tried starting the server:

[code]

The download is 4.57 MB only.

[2016-12-13 20:29] andrewrynhard opened #38723 "StatefulSet Fails to Dynamically Create AWS EBS Volume"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
AWS
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
Terraform/Manual
- **Others**:

**What happened**:
[code]

**What you expected to happen**:
EBS vol

[2016-12-13 20:40] saad-ali commented on #38722
@arun-gupta This is by design. The release was getting ridiculously large with all possible binaries bundled in. So the main download link now only contains cluster scripts, examples, docs, and scripts to download the binary tarballs you need. Links to the binaries are in the changelog: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#v150

[2016-12-13 20:44] arun-gupta commented on #38722
@saad-ali so I need to download two separate bundles in order to get started with Kubernetes? Can I setup an environment variable that will download the right binaries for me?

[2016-12-13 21:03] danwinship commented on #23854
more-or-less-fixed by #35436; now no part of kubernetes itself uses either library, but it still depends on both of them indirectly (blang/semver via cadvisor and coreos/go-semver via etcd) so we still can't get rid of either of them

[2016-12-13 21:10] calebamiles commented on #38722
@arun-gupta, @saad-ali do you think this discussion might be better had over at Stack Overflow (for persistence) or Slack (for expediency) following the [suggestions here](http://kubernetes.io/docs/troubleshooting/). If so perhaps we could close this issue.

[2016-12-13 21:11] jbeda commented on #38712
I differ slightly from Tim -- All generated files, regardless of if they are manually or automatically generated via make, should have a predictable name.  We might want to have a pattern for automatically generated files and another for check-in manually generated files.  But we want to have a way to have the dockerized build know which files to pull back from a build environment to the local tre

[2016-12-13 21:13] MrHohn commented on #36593
FYI there is a related issue: #28525.

[2016-12-13 21:13] calebamiles commented on #38716
@deads2k, given that https://github.com/kubernetes/kubernetes/pull/38717 has been merged. Are we ok to close this issue?

**cc: @saad-ali**

[2016-12-13 21:14] eparis commented on #38392
easiest way to do so is to remove his name from the file, then run `hack/update_owners.py --user RANDOM --addonly`

[2016-12-13 21:16] thockin commented on #38712
I am fine with a pattern, just don't make it zz_generated (unless we change
the existing on-demand generators :)

We also have .generated_files which describes this problem in a way that
the github munger consumes and
https://github.com/kubernetes/kubernetes/pull/38427 which sort of describes
them in a way git understands.

On Tue, Dec 13, 2016 at 1:11 PM, Joe Beda <notifications@github.com> wrote

[2016-12-13 21:17] calebamiles commented on #38707
@saad-ali, do you know how these binaries are produced normally or who should be looking at this?

**cc: @kubernetes/release-maintainers**

[2016-12-13 21:19] bgrant0607 commented on #8867
This should apply to other host link-local addresses, also.

[2016-12-13 21:19] justinsb commented on #37854
@sharms thanks for reporting.  The next time this happens, can you check the status of the volume in AWS while the move is failing?  It'll be really helpful to know if AWS is being slow to detach it, if it is just sitting idle, or if it is being slow to attach.  (cc @jingxu97 )

[2016-12-13 21:19] saad-ali commented on #38722
If you know what binary you want you should be able to downloading just that. It contains source code as well.

CC @kubernetes/release-maintainers @ixdy @jbeda

[2016-12-13 21:23] nikhiljindal commented on #38637
swagger-ui has been deprecated in favor of API ref docs: https://github.com/kubernetes/kubernetes/issues/15915 so you can ignore it

[2016-12-13 21:24] thockin commented on #12866
Can you open a new bug for this?

On Tue, Dec 13, 2016 at 8:41 AM, shaklee3 <notifications@github.com> wrote:

[2016-12-13 21:25] Demotivated commented on #37662
Updated to v1.5.0 (simultaneously upgraded from PetSet to PersistentSet). I have experimented with some automated tests that bring these pods up and down rapidly in a very similar set of circumstances that would quickly break v1.4.6. I have yet to see this issue since the update. It certainly appears to be resolved!

As for the linked issues, I have not seen #37844. I can confirm that I do occasio

[2016-12-13 21:25] #37662 closed

[2016-12-13 21:26] jingxu97 commented on #37056
The log shows the error is
[glusterfs.go:122] glusterfs: failed to get endpoints gluster-server[endpoints "gluster-server" not found]

Related code
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/glusterfs/glusterfs.go#L134

cc @caesarxuchao

[2016-12-13 21:27] arun-gupta commented on #38722
@saad-ali discussing at #kubernetes-users http://kubernetes.slackarchive.io/kubernetes-users/-/1481647268.005605/1481664288.005836/. You may close the bug!

[2016-12-13 21:30] #38722 closed

[2016-12-13 21:38] arun-gupta opened #38725 "Implicitly call cluster/get-kube-binaries.sh"
Kubernetes 1.5.0 require to call `cluster/get-kube-binaries.sh` explicitly. This breaks the existing interface of starting Kubernetes cluster using `cluster/get-kube-binaries.sh`.

Discussed with @ixdy @jbeda on slack and they will fix this.

This should also fix the issue seen in https://github.com/kubernetes/kubernetes/issues/38722.

[2016-12-13 21:38] deads2k commented on #38716
Sure, the 1.6 pull is already open.

[2016-12-13 21:38] #38716 closed

[2016-12-13 21:39] ixdy commented on #38725
Rough idea is that `cluster/kube-up.sh` should probably call `cluster/get-kube-binaries.sh` if the client/server binaries don't exist.

[2016-12-13 22:10] saad-ali commented on #38707
I'm not sure who maintains that image. Look like the last update was on the 9th.

CC @kubernetes/goog-gke who are not responsible for it, but may be able to find a contact.

[2016-12-13 22:20] mtaufen commented on #32433
This should not block the release. We can clear the 1.5 milestone.

[2016-12-13 22:21] mtaufen commented on #31676
his should not block the release. We can clear the 1.5 milestone.

[2016-12-13 22:56] karunchennuri commented on #35254
@nikhiljindal is this part of the v1.5 now? Is there a requirement & design document that I can refer to?

[2016-12-13 22:57] arun-gupta opened #38728 "Cannot start Kubernetes 1.5.0 cluster on AWS"
Downloaded 1.5.0 release, ran `cluster/get-kube-binaries.sh`, started the cluster as `KUBERNETES_PROVIDER=aws ./cluster/kube-up.sh`

Cluster keeps waiting even after 30 mins:

[code]

`dmesg` on one of the nodes gives:

[code]

`journalctl` says `No journal files were found.`

Waiting to start my first 1.5.0 cluster to be successful.

[2016-12-13 23:02] mbohlool commented on #38637
Thanks @nikhiljindal I've updated first comment with a list of components that need updating. There is only one item there now. Please add or suggest more if you know any components that uses our swagger 1.2 spec.

[2016-12-13 23:15] magcius opened #38733 "Dashboard should have a way to see --previous logs of pods"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

Nope.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

dashboard log previous

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choos

[2016-12-13 23:18] timstclair commented on #36187
Just wanted to clarify that I'm going to push forward with option 1 (token) for now, since it can be implemented with 0 API changes, and no changes to the runtime shim. We may need to consider option 2 at some point for security reasons (SSRF if we want the node to be a security boundary), but that would require changes to the CRI API, a new kubelet endpoint, and changes to process the second requ

[2016-12-13 23:18] dashpole commented on #37853
I was able to trigger soft lockup using this: #38731

[2016-12-13 23:18] ixdy commented on #38728
cc @zmerlynn @justinsb

[2016-12-13 23:24] Brian-McM commented on #36269
Not on 1.5.0 either if that was in question. Been running the 1.5.0-beta-2 cluster for about 2 weeks now and the problem hasn't seemed to come up

[2016-12-13 23:28] dchen1107 commented on #33380
I quickly looked at last failure https://github.com/kubernetes/kubernetes/issues/33380#issuecomment-266879105: nethealth-check container is not ready due to network issue at GCE.

[code]

[2016-12-13 23:29] zmerlynn commented on #38728
Some time just before the 1.5.0 cut, something horribly broke the `kube-up.sh` deployment for AWS. Unfortunately, that got lost in a bunch of other noise in the AWS testing at the same time, and other fires to put out. It's still broken in `master`, and probably won't be fixed until 1.5.2 at the earliest.

`kube-up.sh` [is deprecated for AWS](http://kubernetes.io/docs/getting-started-guides/aws/)

[2016-12-13 23:32] sethpollack commented on #33666
@pwittrock

So I'm thinking about adding the prompt option to `username`, `password`, and `token`.

- Username will prompt with echo `Please enter Username: username`.
- Password will prompt with masking `Please enter Password: *****`.
- Token will prompt without echo or mask because its likely copy/paste `Please enter Token:`.

There is already some prompt logic in `pkg/client/unversioned/clientc

[2016-12-13 23:32] dchen1107 commented on #33380
I removed 1.5 milestone from the issue. From my current update and last update at https://github.com/kubernetes/kubernetes/issues/33380#issuecomment-250592154, none of them are release blocker here.

I also removed myself from the issue. From all above my analysis and triages, one can see this issue are normally caused by slow network, network partition, slow registration, etc. nothing the node te

[2016-12-13 23:34] davidopp commented on #36716
The following is some information we were provided by a company about YARN queue structures from roughly a dozen of their customers, split evenly between on-premise and cloud deployments, synthesized into several themes. Spark is the main application running on these queues, but some companies will run non-Spark applications too.

# YARN queue structure for some typical Big Data installations

##

[2016-12-13 23:41] arun-gupta commented on #38728
`kube-up.sh` is deprecated and `kops` is not available for 1.5.0. Will that be fixed for 1.5.1/2?

The release is pretty unusable otherwise.

[2016-12-13 23:50] zmerlynn commented on #38728
The `kops` release schedule lags slightly behind the main Kubernetes release schedule. There should be a `kops` release within the next 24-48hrs that will have 1.5.x as an option. (We're cutting a 1.5.1 soon for a separate issue, and that will be the first version `kops` picks up.)

[2016-12-13 23:52] mrunalp commented on #38303
@dchen1107 We recently got live-restore working even when nested within another container so let us know if you run into any issues. We had an issue where the shim process was in the same cgroup as docker daemon so reload was taking it down. The workaround was to put it in another cgroup. For k8s it would make sense to keep the shim processes in the pod cgroup.

[2016-12-13 23:52] arun-gupta commented on #38728
Does that mean two separate releases need to be downloaded in order to start a cluster on AWS?

I prefer an integrated approach of one build as that's simpler and intuitive.

[2016-12-14 00:00] verb commented on #1615
@vishh pointed out that we'll have to make sure that restarts to the infra container restart all of the other containers in the pod first so that it will regain PID 1. (mentioning here for tracking)

[2016-12-14 00:31] pwittrock commented on #33666
@sethpollack  That sounds good to me.  Code reuse is good :)  We should reach out to the authors of that code before moving it out.

[2016-12-14 00:34] caesarxuchao commented on #38712
In O(month), for listers and clientsets, I would expect users to pull the generated code from [client-go](https://github.com/kubernetes/client-go), they don't need to generate them during build.

[2016-12-14 00:38] tnachen commented on #36716
@davidop Seems the equivalent could potentially be done in k8s with different namespaces? Where each namespace represents a different class of job?

[2016-12-14 00:41] ncdc commented on #38712
@thockin I'm confused. When should a generated file be prefixed with zz_generated vs not?

@caesarxuchao do you plan to move generated informers there too?

[2016-12-14 00:46] thockin commented on #38712
zz_generated is currently "files that are build on-demand by `make` and
will soon be remove from the tree".  If your files are not generated on
demand or are not OK to remove from the tree (same thing), please use a
diff name. :)

On Tue, Dec 13, 2016 at 4:41 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-12-14 00:47] saad-ali commented on #36259
Hit this again for the official 1.5.1 release:

[code]

[2016-12-14 00:50] ncdc commented on #38712
Thanks for the clarification. I'll see if I can update the makefile so the listers and informers are build on-demand.

[2016-12-14 00:57] thockin commented on #38712
There be dragons...fair warning...

On Tue, Dec 13, 2016 at 4:50 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-12-14 00:57] ncdc commented on #38712
Oh I've already been through Makefile.generated_files a lot, so I'm well prepared 😄

[2016-12-14 01:01] #31469 closed

[2016-12-14 01:02] thockin commented on #38712
http://www.tshirtvortex.net/wp-content/uploads/Dangerous-Take-This-Sword-Link-Legend-of-Zelda-T-Shirt-sq.jpg

On Tue, Dec 13, 2016 at 4:58 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-12-14 01:09] caesarxuchao commented on #38712
Yes, I plan to move anything people need to write a controller.

[2016-12-14 01:12] #36708 closed

[2016-12-14 01:22] timstclair commented on #16971
I think in this specific case you can just use `dd of=` instead of `cat >` to avoid needing the shell.

[2016-12-14 01:24] timstclair commented on #29448
Duplicate of https://github.com/kubernetes/kubernetes/issues/14047?

[2016-12-14 01:25] davidopp commented on #36716
@tnachen Can you clarify when you say "the equivalent" -- the equivalent of what?

I think one of the key questions is whether a single level of allocation/arbitration is sufficient (in which case we can just use namespace), or we need true hierarchy. If the latter, we would need a way to define the hierarchy and to map each job to its spot in the hierarchy.

[2016-12-14 01:31] k82cn commented on #36716
@davidopp / @tnachen , regarding "hierarchy", it's really helpful to map customer company organization to hierarchical namespace. We got positive feedback from our LSF/Symphony customer on EGO's consumer tree (hierarchical namespace/role).

[2016-12-14 01:43] hongchaodeng commented on #36716
Doesn't labeling nodes in a hierarchical manner, e.g. "eng", "eng/dev", "eng/support", and using node label selector, achieve the same thing?

[2016-12-14 01:52] k82cn commented on #36716
@hongchaodeng , we also need hierarchical scheduling, e.g.

[code]

`eng` & `IT` share resources in `/root`; `eng/dev` & `eng/support` only share the source assign to `eng`.

[2016-12-14 02:12] timstclair commented on #18803
Closing due to age. Please reopen if it's not resolved.

[2016-12-14 02:12] #18803 closed

[2016-12-14 02:21] ymqytw opened #38740 "Make defaulting consist for LabelSelector"
`StatefulSet, DaemonSet, Deployment, ReplicaSet` use `obj.Spec.Template.Labels` to default `obj.Spec.Selector` and `obj.Labels`; while `Job` only default [`obj.Labels`](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/batch/v1/defaults.go#L44).

Should we make `Job` the same as the others?

@kubernetes/sig-apps

[2016-12-14 02:22] timstclair commented on #7961
xref: https://github.com/kubernetes/kubernetes/issues/38541

[2016-12-14 02:23] timstclair commented on #4672
@jcbsmpsn

[2016-12-14 03:51] leosunmo commented on #31891
I am facing the same issue using Ubuntu 16.04.1 with K8s version 1.4.6.
I logged a support ticket with AWS and was informed that it's because we're not properly un-mounting the volume before issuing the detach call to AWS. Here's some snippets from the correspondence:

I asked if there was ANYTHING I could do in Ubuntu to fix the issue once it's in 'stuck' state, but got this response:

Also:

But

[2016-12-14 03:53] pajel commented on #36450
Unfortunately, I don't think the situation has improved.
Our setup:
Ubuntu 16.04.1, kernel 4.4.0-47-generic
K8s: 1.4.6

After a pod gets rescheduled its volume detaches correctly but then gets stuck in attaching state. I have checked with AWS support and got a response:

The issue seems to be that k8s is not waiting for the unmount to fully finish before issuing a detach command to AWS. So the dev

[2016-12-14 04:12] chrisleck opened #38744 "kubectl inside a pod no longer respects the --context parameter"
BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.5.0

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS Beta channel

**What happened**: We have automation running inside Jenkins in a Kubernetes pod.  With the rollout of 1.5.0, calling `kubectl --context=something get pods` now defaults to the InCluster configuration rath

[2016-12-14 04:14] chrisleck opened #38745 "kubectl apply -f some-deployment.yaml leaks replica sets"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.5.0

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS beta channel

**What happened**: Rolling out updates to our Deployment objects by calling `kubectl apply -f config.yaml` (where config.yaml contains a Deploymen

[2016-12-14 04:14] AdoHe commented on #38740
@soltysh ptal.

[2016-12-14 05:24] hrdcdr commented on #35103
I use kops last month, it works perfectly. Thank you

[2016-12-14 05:26] andrewrynhard commented on #38723
As mentioned in https://github.com/kubernetes/kubernetes/issues/16585#issuecomment-153928223,
the controller-manager required the `--cloud-provider=aws` flag.

[2016-12-14 05:26] #38723 closed

[2016-12-14 05:31] guoshimin commented on #31891
We had at least one case where this happened after someone in our organization force detached a volume from under Kubernetes. I'm beginning to suspect all the cases we had before were due to force detaches.

[2016-12-14 06:20] xingzhou commented on #38417
@timstclair, just wrote a simple proposal doc at, for your review, thanks:
https://docs.google.com/document/d/1ikz1V1yxK0mwG_Bnuhh1jADhtiQRPdx_pdSDB5P_ZGg/edit?usp=sharing

[2016-12-14 06:23] bgrant0607 commented on #38113
I'm also thinking that perhaps we should factor out functionality needed by both built-in and third-party controllers, such as status reporting. That could be added to a decoupled controller API, such as Service. The endpoints controller primarily monitors a set of pods and looks at status such as readiness.

[2016-12-14 06:36] davidopp commented on #36716
I don't think so. It seems like that would require doing the allocation on node granularity, and would probably require a lot of continuous node relabeling to ensure that tasks can use nodes above their minimum guarantee when someone with a guarantee is using less than their guarantee, but then reclaim the resources when the guarantee is needed.

Abstractly, the mechanism could be something like:

[2016-12-14 06:36] #38134 closed

[2016-12-14 07:21] k82cn commented on #36716
@davidopp / @timothysc , what's scheduler of next SIG meeting? I'v a draft version slides for this proposal; I'd like to share with community :).

[2016-12-14 07:23] ahawkins opened #38748 "--dry-run=true & --validate=true not picking up errors in deployment template"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`): Linux minikube 4.4.14-boot2docker #1 SMP Fri Jul 1 21:46:36 UTC 2016 x86_64 GNU/Linux
- **Install tools**: Minikube

**What happened**:

I'm using the new `--dry-run` flag to validate my JSON/YAML as a test step. I created an invalid YAML document

[2016-12-14 08:25] talgendler commented on #22193
Can you please add a reference somewhere [here](http://kubernetes.io/docs/user-guide/liveness/)
I know that I wanted to configure periodic timeout  so I started to look for it and eventually found what I wanted in this thread (by looking through several issues), however if there were a link to API it would be helpful. I also believe that not everyone expects more options are available.

[2016-12-14 08:38] davidopp commented on #36716
Let's discuss on the SIG mailing list.

[2016-12-14 09:02] tobegit3hub opened #38749 "Fail to request secured kube-apiserver with certification files"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **OS** CentOS 7
- **Kernel** 4.1.5-1.el7.centos.x86_64
- **Install tools**: yum

**What happened**:

We have followed the instructions to generate ssl certification files and setup the secured kube-apiserver. But the client kubectl fail to request with

[2016-12-14 09:08] xingzhou commented on #38748
The `value` field for `env` required a string value with leading '"', I reproduce the issue on my local env based on latest code from master. I'd like to take a look at this issue.

[2016-12-14 09:51] shashidharatd commented on #29335
thanks @nikhiljindal i will look into this

[2016-12-14 11:06] wallrj commented on #38707
I'm looking for OS packages too.
See https://github.com/kubernetes/release/pull/229 and https://github.com/kubernetes/release/pull/230

[2016-12-14 11:46] Rongjf opened #38752 "kubeadm kube-dns not works"
![image](https://cloud.githubusercontent.com/assets/6251321/21180869/eb8b15e8-c235-11e6-8121-a4279a1159ca.png)
E1214 11:02:43.489682       1 reflector.go:214] pkg/dns/dns.go:155: Failed to list *api.Endpoints: Get http://localhost:8080/api/v1/endpoints?resourceVersion=0: dial tcp: lookup localhost on 172.18.50.5:53: dial udp 172.18.50.5:53: connect: network is unreachable
E1214 11:02:43.493705

[2016-12-14 11:48] Rongjf commented on #38752
"curl http://localhost:8080/api/v1/endpoints?resourceVersion=0 "
![image](https://cloud.githubusercontent.com/assets/6251321/21180926/3e104824-c236-11e6-834e-28457b2d2a2b.png)

[2016-12-14 11:57] mcapuccini opened #38753 "Is SSH in containers really needed?"
Hi. Why do you run SSH in GlusterFS containers? Maybe I am being naive, but wouldn't it be better to use `kubectl exec` to run commands in the containers? I am saying this because you run the DaemonSet with host network and in privileged mode, and makes me feel questioning the security of this provisioning strategy. In some OpenStack installation the firewall can fail sometimes in applying the sec

[2016-12-14 12:20] jsafrane commented on #33088
If Attach or Detach operation fails (e.g. due to throttling), there already is exponential backoff, starting with 0.5 seconds and doubling with each failed attempt, capped at 2 minutes.

**Summary**:
* there already is exponential backoff for Attach/DetachVolume
* with #38295 we will have the same exponential backoff for Create/DeleteVolume
* the only fixed `sleep(10 seconds)` is DescribeVolumes()

[2016-12-14 12:44] fc-bschumacher opened #38754 "ps"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-12-14 12:48] AdoHe commented on #38744
@kubernetes/kubectl

[2016-12-14 12:51] chees commented on #24803
We're also running into this. Did you ever find a solution for this?

[2016-12-14 12:54] crunchie84 commented on #24803
I have currently tried:
- `preStop` combined with `preStart` as suggested by @dgaviola -> preStop not executed
- used `exec` to execute curl instead of `httpGet` in the preStop event -> preStop not executed

[code]

[2016-12-14 13:04] smarterclayton commented on #38740
I thought jobs were like this for a reason - doesn't the proposal call this out?

[2016-12-14 13:14] soltysh opened #38756 "Implement scale endpoint for jobs"
Currently Deployments, RC and RS have scale endpoint which allows directly scaling those instead of mutating the object's spec when scaling up/down. `kubectl scale job` modifies `.spec.parallelism` directly. I'm proposing jobs should have `/scale` endpoint to leverage scale functionality.

@kubernetes/sig-apps ideas/objections?

[2016-12-14 13:18] kargakis commented on #38756
SGTM

[2016-12-14 13:19] dgaviola commented on #24803
@crunchie84 sorry, at the end that wasn't the issue. I think the problem was that the format of the URL wasn't correct. Not sure if there was a trailing slash or something else that was causing the issue, but when we changed the way we were putting the URL it started to work. However not sure if you are having the same issue.

[2016-12-14 13:29] Starefossen opened #38758 "Node reboot leaves orphaned pod containers"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `pod` `orphaned` `container`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choo

[2016-12-14 13:29] soltysh opened #38759 "Scale client should accept a GroupVersionResource instead of string"
Quoting @deads2k from https://github.com/kubernetes/kubernetes/pull/32523#issuecomment-250156525:

[Current implementation of scale](https://github.com/kubernetes/kubernetes/blob/9705bb728e768be02bf5b32aa14dec059f9269ed/pkg/client/clientset_generated/internalclientset/typed/extensions/internalversion/scale_expansion.go#L27-L28) expects `Kind` which is a `string` and a `Scale` object. To be consist

[2016-12-14 13:49] kargakis opened #38761 "kubectl create should be in its own package"
Similar to the rest of our nested commands (set, rollout). Unfortunately a straight move is not possible atm because of create depending on edit (thus introducing cyclic dependencies in kubectl). We should probably move the edit functionality in a common location (eg. the already existing pkg/kubectl/cmd/util/editor) and have the kubectl commands re-use it. I am not sure if we want to do such a th

[2016-12-14 13:52] soltysh commented on #29448
That's what it looks like, closing in favor of #14047.

[2016-12-14 13:52] #29448 closed

[2016-12-14 13:55] fabiand commented on #27398
I think multus is - at least - a good starting point for adding multiple NICs to a pod in a sane way today.
It could provide a nice environment to get a feeling how well multi homed pods work, and this might help us to understand how valuable they are and if they should be an inherent part of k8s.

Nice work.

[2016-12-14 13:56] smarterclayton commented on #38761
Yes, we want to do this thing.  We should be actively splitting
`pkg/kubectl/cmd` up.

On Wed, Dec 14, 2016 at 8:49 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-12-14 13:58] soltysh commented on #38740
Jobs [generate selector](https://github.com/kubernetes/kubernetes/blob/e338afbca70f6aec658f10b5af1866d9626192ff/pkg/registry/batch/job/strategy.go#L75), that's why we're not defaulting them there.

[2016-12-14 14:00] soltysh commented on #38761
Similar to https://github.com/kubernetes/kubernetes/issues/36805.

[2016-12-14 14:05] fabianofranz commented on #36490
Closing this since Kubernetes issues are intended to be used to report actual bugs and issues. Questions should be directed to one of our communication channels, please take a look at the suggestions below:

http://kubernetes.io/docs/troubleshooting/

[2016-12-14 14:05] #36490 closed

[2016-12-14 14:19] k8s-merge-robot opened #38765 "AfterSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-release-1.5/1626/

Failed: AfterSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #29933 #34111

[2016-12-14 14:22] fabianofranz commented on #34210
Using `kind: Pod` should fix the issue. I'll close it, feel free to reopen if the issue persists.

[2016-12-14 14:22] #34210 closed

[2016-12-14 14:25] jsafrane commented on #33088
https://github.com/kubernetes/kubernetes/pull/38766

[2016-12-14 14:30] AdoHe commented on #38761
[code]
This should be something on kubectl roadmap, I would like to get it move forward in 1.6.

[2016-12-14 14:31] AdoHe commented on #38756
SGTM.

[2016-12-14 14:31] lxpollitt commented on #38639
+1

[2016-12-14 14:31] piosz commented on #15310
@bgrant0607 @erictune can me make sure that before going to GA someone (fluentd or node-problem-dectector) will actually use this for a quarter or two, to make sure that for example upgrades are handled properly?

[2016-12-14 14:36] dims commented on #38754
@fc-bschumacher : did you really mean to open this issue? all i see is a subject "ps" and nothing in the text above

[2016-12-14 14:43] dims commented on #38753
@mcapuccini what container images are you using? (which instructions are you following to start GlusterFS containers)

[2016-12-14 14:43] caio1982 commented on #35773
Does the draft fix really fixes #27343? I have seen this exact behavior today and I have been wondering about it. Is any of you still actively working on this draft, just out of curiosity?

[2016-12-14 14:45] fc-bschumacher commented on #38754
Sorry, I guess something went wrong while I wanted to type into the command line and the focus was on this window or something. I did not mean to open this issue

[2016-12-14 14:45] #38754 closed

[2016-12-14 14:46] fabianofranz opened #38768 "kubectl umbrella issue for printers and describers"
### Printers issues

- [x] #38907 kubectl get broken for list
- [ ] #38779 Update kubectl.GetPrinter to not return both nil for the printer and nil for the error on `wide` format
- [x] #38327 kubectl get -o yaml probably/maybe shouldn't filter pods
- [ ] #36733 kubectl get node(s) should show all node conditions
- [ ] #36304 "kubectl get events" or something else should give a sensible timeline of

[2016-12-14 14:46] fabianofranz commented on #38768
@kubernetes/sig-cli @kubernetes/kubectl

[2016-12-14 14:52] exarkun commented on #38301
I've upgraded to 1.4.7.  The error hasn't recurred since then.  I'll close this for now.  If it happens again I can re-open.  Thanks.

[2016-12-14 14:52] #38301 closed

[2016-12-14 14:57] AdoHe commented on #38768
👍 Thanks for @fabianofranz great work. Guess we can go through this one by one.

[2016-12-14 14:58] derekwaynecarr commented on #38303
@dchen1107 -- would love to know more on what you found if you are able to share/recall.  we plan to enable the function and do some of our own testing soon, will report back what we find.

[2016-12-14 15:35] xsgordon commented on #38671
@idvoretskyi can you add the sig/openstack label please?

/cc @kubernetes/sig-openstack

[2016-12-14 15:37] zmerlynn commented on #38290
For anyone following along, the fix for this bug unfortunately didn't get cherrypicked because of a process issue, and `kube-up.sh` is broken until 1.5.2.

cc @kubernetes/sig-aws

[2016-12-14 15:40] zmerlynn commented on #38728
This is a dupe of #38290, it looks like, and neither @justinsb or I noticed that it wasn't cherry-picked. Closing as a dupe.

@arun-gupta: You don't need to download the k8s release if you just download `kops`. It will handle all the upgrades and release management for you.

[2016-12-14 15:40] #38728 closed

[2016-12-14 15:44] gmarek opened #38769 "Kubemark doesn't start when ETCD_X flags are set"
cc @wojtek-t

[2016-12-14 15:49] fabianofranz commented on #28562
Please refer to http://kubernetes.io/docs/troubleshooting/ about how to ask questions. Github issues should only be used for actual issues and bugs. Thanks!

[2016-12-14 15:49] #28562 closed

[2016-12-14 15:58] #23402 closed

[2016-12-14 15:59] kargakis commented on #38753
@kubernetes/sig-storage

[2016-12-14 16:04] fabianofranz commented on #15894
@pwittrock can this one be closed?

[2016-12-14 16:14] #15894 closed

[2016-12-14 16:15] pwittrock commented on #15894
Closed in favor of #35234 to track the remaining work items.

[2016-12-14 16:24] dims commented on #37807
@mdshuai : where is the information `If docker api version>1.23, we need use label=user:unconfined_u not label:user:unconfined_u` from?

[2016-12-14 16:32] mcapuccini commented on #38753
Sorry guys... I opened this in the wrong place, my bad.

[2016-12-14 16:32] #38753 closed

[2016-12-14 16:39] arun-gupta commented on #38728
@zmerlynn so is `kops` the entry point to k8s or a release from github.com/kubernetes/kubernetes?

[2016-12-14 17:27] zmerlynn commented on #38728
@arun-gupta: `kops` sits at a similar level to the bash scripts (`kube-up.sh`, etc) that are in the tree, or e.g. `gcloud container clusters create` for GKE, but (like GKE) it will handle the release download and deployment for you. You can kind of think of it like a `kubectl` for whole clusters.

[2016-12-14 17:29] arun-gupta commented on #38728
@zmerlynn I blogged about `kops` at http://blog.arungupta.me/multimaster-kubernetes-cluster-amazon-kops/ and so aware of it. But in my workshops and to our customers, should we be recommending `kops` or download the release from github?

[2016-12-14 17:30] bgrant0607 commented on #15310
@piosz I agree. I don't want to rush any of the controller APIs to GA. I wish Job hadn't been rushed to GA.

[2016-12-14 17:35] grahamhayes commented on #38671
Looks like #37846 closes this

[2016-12-14 17:37] zmerlynn commented on #38728
Sorry, the previous question confused me. Great blog post! In general, we're in a transitory period for cluster lifecycle, so I would recommend pointing people to [the AWS getting-started documentation](http://kubernetes.io/docs/getting-started-guides/aws/) and we'll try to keep it up to date. I'm going to add a todo to make the deprecation warning for `kube-up` a bit more obvious, and clearly ind

[2016-12-14 17:37] calebamiles commented on #38392
Thanks for the info @eparis, I'll try and get a PR up for this today.

[2016-12-14 17:40] arun-gupta commented on #38728
SGTM!

[2016-12-14 17:41] mikedanese commented on #38707
We are skipping v1.5.0 because of a security issue. 1.5.1 should be up in the next few hours.

[2016-12-14 17:41] #38707 closed

[2016-12-14 17:45] brunomvsouza commented on #38707
Got it! Thank you guys! :bow:
@mikedanese @wallrj @saad-ali @calebamiles

[2016-12-14 17:56] chrislovecnm commented on #31891
@saad-ali / @justinsb can we get this assigned to someone in CoreOS and someone in @kubernetes/sig-aws ?

[2016-12-14 17:56] chrislovecnm commented on #31891
Guys is this a duplicate https://github.com/kubernetes/kubernetes/issues/31891

[2016-12-14 18:09] jingxu97 commented on #31891
@leosumo, in k8s, when a pod is deleted, kubelet's volume controller will try to unmount first and then detach after unmount successfully. In case that  there are still some mount referencing the same device, unmount may not be able to issued. The volume controller at master will timeout after a period of time (set to 6 mins), and then issue detach.

So it is possible in certain cases that the vol

[2016-12-14 18:32] thockin commented on #27398
Joji is starting a doc on multi-network support, too.  Hopefully that will
be available before too long.

On Wed, Dec 14, 2016 at 5:55 AM, Fabian Deutsch <notifications@github.com>
wrote:

[2016-12-14 18:50] emalloy commented on #33530
I am wondering, what the current behavior is if only `Taints:  dedicated=master:NoSchedule` is set, and  SchedulingDisabled is not set.

Recently I upgraded a cluster instantiated by kops from 1.4.3 -> 1.4.6, ,

then SchedulingDisabled status for the masters disappeared.

I then noticed that all nodes (masters+nodes) were now in the ELB pool.

I have to do some code sifting to see how nodes are se

[2016-12-14 19:15] justinsb opened #38774 "kubectl 1.5.1 logs no longer prints list of containers"
kubectl logs would print a list of containers in 1.4.4 (and earlier), in 1.5.1 it now prints an error (`Error from server (BadRequest): the server rejected our request for an unknown reason (get pods kube-dns-v20-3531996453-0bfz1)`)

Thanks @stonith for finding - copied from https://github.com/kubernetes/kops/issues/1153

[code]

[code]

(`kubectl-1.5.1 logs -n kube-system kube-dns-v20-3531996453-

[2016-12-14 19:15] caseydavenport commented on #33530
As per this issue: https://github.com/kubernetes/kubernetes/issues/36272

We should _not_ be using `key: dedicated` for taints/tolerations.

[2016-12-14 19:16] rootfs commented on #38098
/cc @jingxu97

[2016-12-14 19:25] jingxu97 commented on #38680
Some other failures are listed in #37919 too. This failure begin to occur about 11 days ago.

The cause of it is kubelet is not reporting to master that the volume is already unmounted (from the kubelet log, it shows that it did unmount successfully)

The kubelet code related to updating the volumeInUse status is here https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_st

[2016-12-14 19:27] ymqytw commented on #38740
@soltysh I found the [design doc](https://github.com/kubernetes/kubernetes/blob/master/docs/design/selector-generation.md). Thanks.

[2016-12-14 19:40] jingxu97 commented on #36450
@pajel could you please check whether you have the same issue as #37662. That problem is fix in release 1.4.7. If you think yours is different, please let me know more details about your issue and share the log with us. Thanks!

[2016-12-14 19:45] jingxu97 commented on #37662
@Demotivated, thank you for your update. You mentioned you oaccasionally see VolumeInUse issue, could you please let me know more details about it or share some log when it happened? Thanks a lot!

[2016-12-14 19:55] s0urpuss opened #38775 "Kubectl proxy Strips out Authorization header"
Bug Report
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): OSX
- **Kernel** (e.g. `uname -a`): Darwin15.5.0 Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36
- **Install tools**:
- **Others**:

**What happened**:
1. I call `kubectl proxy`, and connect to my cluster.

2. Then I attempt

[2016-12-14 20:07] k8s-merge-robot opened #38776 "Kubemark {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/2275/

Failed: Kubemark {e2e.go}

[code]

[2016-12-14 20:07] timothysc commented on #36716
I'm trying to ascertain why multi-app doesn't infer multi-scheduler here.   YARN is monolith and will all feed through the core algorithm that typically takes into account some level of "fairness".  The only thing I think we need to ensure is that we have 2 fundamental pieces.

1. Global priority and pre-emption policies, which are almost always hierarchical in nature, and almost always tied to so

[2016-12-14 20:21] shaklee3 commented on #12866
Sure. Thanks

[2016-12-14 20:25] shaklee3 opened #38778 "Allow Sub-second Probes"
New parameters were added to the probe types mentioned in issue #12866. One of those parameters is a period in seconds of how often the probe is run. Since it's already proposed to be an int64, it would be nice if the granularity of the probe was in milliseconds and not seconds. This would allow for quick failure detection among the pods and leave it to the user to determine how much network traff

[2016-12-14 20:27] bowei commented on #34060
Anyone tell me why this is assigned to me? I'm sure what the context for this is (or what needs to be fixed specifically...)

[2016-12-14 20:41] juanvallejo opened #38779 "Update kubectl.GetPrinter to not return both nil for the printer and nil for the error on `wide` format"
**Problem**

Right now, printer helpers such as [cmdutil.PrinterForCommand](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/printing.go#L128) call [kubectl.GetPrinter](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource_printer.go#L74) with the output format specified by a `--output` flag, in order to retrieve the right printer for that format.

When

[2016-12-14 20:48] jhl2016 commented on #37957
@peay we are seeing the same issue. Is the PR in? Thanks!

[2016-12-14 20:54] bowei commented on #37798
Can you post your full `resolve.conf` or an equivalent?

[2016-12-14 21:13] MrHohn commented on #37798
And could you please also try something like `nslookup -debug google.com` or `dig +showsearch google.com` to confirm what the exact requests are sent out?

[2016-12-14 21:13] chrislovecnm commented on #37843
@rootfs we are seeing this in 1.5 ... Are we not seeing this on RHEL?

[2016-12-14 21:37] janetkuo commented on #33770
This should be fixed. If not, please reopen

[2016-12-14 21:37] #33770 closed

[2016-12-14 21:41] macb commented on #33554
The 10x increase is pretty inline with what I've seen. A/AAAA + ~5 search domains. I haven't gone down the ndots configmap work around route and instead just optimized the dnsmasq in front of skydns so that it's better about NXDOMAIN-ing the obviously incorrect domains (ie. `my.company.cluster.local` type requests) and limiting the requests it does send to kubedns to just the cluster domain (ie. `

[2016-12-14 21:57] timstclair commented on #22193
Sure. It looks like all the information is there, but spread across multiple documents:

- http://kubernetes.io/docs/user-guide/pod-states/#container-probes
- http://kubernetes.io/docs/user-guide/production-pods/#liveness-and-readiness-probes-aka-health-checks
- http://kubernetes.io/docs/user-guide/liveness/
- http://kubernetes.io/docs/api-reference/v1/definitions/#_v1_probe

/cc @devin-donnelly

[2016-12-14 22:04] TamalSaha opened #38784 "Anonymous auth default enabled for kubelet"
Hi,
Anonymous auth default enabled for kubelet .
https://github.com/kubernetes/kubernetes/blob/release-1.5/pkg/apis/componentconfig/v1alpha1/defaults.go#L174

Should this be also set to default false?

cc: @erictune

[2016-12-14 22:06] pires opened #38785 "Build and distribute Windows binaries"
As of 1.5, `kubelet` and `kube-proxy` are ready to run on Windows systems. Those are needed by users giving a try at Windows Containers alpha support.

e.g., the following doesn't seem to exist, http://storage.googleapis.com/kubernetes-release/release/v1.5.1/bin/windows/amd64/kube-proxy.exe

/cc @brendandburns @michmike @jbhurat @alexbrand

[2016-12-14 22:14] TamalSaha commented on #38784
cc: @saad-ali

[2016-12-14 22:23] ixdy commented on #38785
At the very least, you'd need to update [this list](https://github.com/kubernetes/kubernetes/blob/master/hack/lib/golang.sh#L59-L65). That will build all of the server binaries, not just `kubelet` and `kube-proxy`, and I don't know how many of them even build for windows.

There are a number of other scripts scattered around which might need to be updated, too. See for example #37092 and #36050, w

[2016-12-14 22:40] mikedanese commented on #38653
Can you file an issue with weave-kube? Also in the future can you file kubeadm issues over here https://github.com/kubernetes/kubeadm ? Thanks for the report!

[2016-12-14 22:40] #38653 closed

[2016-12-14 22:40] mikedanese commented on #38653
cc @errordeveloper @lukemarsden

[2016-12-14 22:56] timstclair commented on #38417
Thank you for the proposal. I left some comments on your doc, but could you please also submit it as a PR to the communit design proposals repo: https://github.com/kubernetes/community/tree/master/contributors/design-proposals. That is our official proposal process, and it will get more exposure that way.

[2016-12-14 23:44] justinsb opened #38791 "kubectl should recognize `.kubecfg.d` and load all kubecfg files therein"
This would allow for easier sharing of kubecfg files across teams.

[2016-12-14 23:48] andrewwatson commented on #38791
this would make sharing a cluster with someone easier.  👍

[2016-12-14 23:50] chrisleck commented on #38744
I believe this is a breaking change regression and should be bumped up in priority.  This prevents me from driving changes to other clusters from my utility cluster.

[2016-12-15 00:07] rkamudhan commented on #27398
@dcbw  @MikeSpreitzer  @caseydavenport @thockin @fabiand  , we developed Multus CNI plugin in order to support Multi network support and network isolation in pods. Multus CNI Plugin only returns one IP address to containers, So  only one address is reported back to the apiserver. We have strong reason to maintain only one IP address for the checking liveness of the pod using the calcio/flannel(eth

[2016-12-15 00:14] k82cn commented on #25318
@timothysc , I have cycles for this issues, but need a shepherd :).

[2016-12-15 00:18] ymqytw commented on #34292
@andronat After examining all the defaulting in `defaults.go`, I have enumerated them in this [doc](https://docs.google.com/a/google.com/document/d/1qSxbtcXwbcOc8RJBgCnhTYNfy5mUMU8MBp4w4ccpqBg/edit?usp=sharing). Feel free to edit it. People in the `kubernetes-dev` google group have permission to edit it, make sure you are in the group.

[2016-12-15 01:15] MrHohn commented on #38322
This issue is now actually causing customer outage. Should bump it up to P0.

@thockin @bowei

[2016-12-15 01:32] euank commented on #38322
Is there any reason any static pods are best effort?

Shouldn't, ideally, all static pods have be guaranteed? Rather than including a "scheduler.alpha.kubernetes.io/critical-pod" annotation, I'd rather modify the pod resource request/limits to make them guaranteed.

[2016-12-15 01:59] gnufied commented on #31891
@leosunmo how are these kubernetes clusters configured btw? Are they running more than one controller-managers or etcd is clustered?

[2016-12-15 02:05] NickrenREN commented on #38671
Not the same .   When the node status was marked NotReady because of keystone error.  The pods in that node were not rescheduled and still run in it .

[2016-12-15 02:13] euank commented on #38322
Two possible solutions (of others, I'm sure) and why I'd prefer guaranteed

### Make static pods 'special'

Having static pods skip all admittance checks is implemented in #38795.

I don't like this because of the special-casing, security implications, and because I think there's probably a more correct solution.

I think this solution will lead to the chance for static pods to thrash if the node'

[2016-12-15 02:37] k82cn commented on #36716
Regarding "multi-app" and "multi-scheduler", I think they're the same thing but different term :). And in the proposal, I'd also try to align with multi-scheduler and enhance it. Destroy & re-build is a bad practice to me :).
Regrading google doc, I had created one and sent invitation to SIG; I think we can discuss it with "comments" and "edit".

[2016-12-15 02:37] k82cn commented on #36716
Append doc links here for all contributor: https://docs.google.com/document/d/1nxP9iHEhW_DHbvZzMCSc3OW2r0opix4FM24upnwfYcw/edit?usp=sharing

[2016-12-15 02:41] bprashanth commented on #38322
I think the issue to discuss big picture solutions is https://github.com/kubernetes/kubernetes/issues/22212

The suggested oneliner to fix this can go right after  https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/eviction_manager.go#L110:
[code]
where criticalPod is set based on
[code]

[2016-12-15 02:53] hongxima commented on #38785
We deployed the Windows binaries built by ourselves before the 1.5 formal release, and was trying to shift to formal 1.5 release until we failed to locate the Windows binaries within the release.
I think it's very helpful to include those binaries for people who wants to try Windows container management but has no experience or no interest to make a private build.

[2016-12-15 03:50] leosunmo commented on #31891
Thanks for the prompt reply @jingxu97 . Unfortunately I don't have any logs around the time that a disk was unmounted, only when it tried unsuccessfully to mount my new disk. Here's logs from the first occurrence of this new ELB volume:

[2016-12-15 04:01] josephjacks commented on #24334
@bprashanth should we close this issue given https://github.com/cockroachdb/cockroach/issues/5967#issuecomment-254838400 ?

[2016-12-15 04:02] leosunmo commented on #31891
Thanks for the prompt reply @jingxu97 . Unfortunately I don't have any logs around the time that a disk was unmounted, only when it tried unsuccessfully to mount my new disk. Here's logs from the first occurrence of this new ELB volume. Decided to upload a textfile as it got quite long.

[k8sdiskissue.txt](https://github.com/kubernetes/kubernetes/files/653743/k8sdiskissue.txt)

I removed a bunch o

[2016-12-15 04:32] ymqytw commented on #34292
I will draft a proposal that we will use a similar approach like [`batch/job`](https://github.com/kubernetes/kubernetes/blob/master/docs/design/selector-generation.md).

I will draft another proposal for using discriminators. I guess it should be use in version like `v2alpha1`, since we can't change API when they are GA.

[2016-12-15 04:37] andronat commented on #34292
Thanks @ymqytw! This is really nice! I'll take a look asap (probably this weekend). Sorry I was very busy those last couple of weeks.

[2016-12-15 05:52] euank commented on #38322
@bprashanth I'm 👎 on such an annotation though. The basically oneline change in #38795 accomplishes what your original comment stated now.

[2016-12-15 06:06] rothgar commented on #38791
Ideally these would all be put in a single .kube/config and switched with context but I don't think that is as favorable for two reasons I can think of.

1. It requires manually editing config file to change settings which can easily be messed up
2. The UX for switching context/settings isn't very good

Having a conf.d directory would allow easier sharing and automated tools that edit the kubeconf

[2016-12-15 06:19] rothgar opened #38799 "kubectl run --interactive"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**What happened**: `kubectl run` supports creating deployments without generating a yaml file. This is a very useful tool but sometimes can be overwhelming to a new user trying make sure they get all the correct command options.

**What you expected to happen**: `kubectl run` (and possibly other sub commands) should offer

[2016-12-15 06:21] brendandburns commented on #38791
I'll take this on unless you're already doing it @justinsb

[2016-12-15 06:25] xingzhou commented on #38417
Thanks Tim for your comments, I created a PR in community repo right now and also write some of my thoughts in that google doc.

[2016-12-15 06:37] Pensu commented on #38228
@jessfraz @bradfitz Hi, I have been building kuberentes on ppc64le with go1.8beta1. I am able to build it properly, was hitting an issue with apiserver #38380, that has been resolved now. When I am running unit tests, I am getting the test timing out error:

[code]
 for most of the etcd related tests, as you mentioned. Let me know if I can help in any way resolving these.

[2016-12-15 07:32] #37108 closed

[2016-12-15 07:51] hikhvar commented on #37854
I have the same problem. The kubernetes cluster is provisioned via `kops`:
[code]
AMI:
[code]
Kernel:
[code]
Kernel Modules:
[code]

I use the following kubernetes ressources to reproduce the error:
pvc.yaml:
[code]
pod.yaml:
[code]
storage.yaml
[code]
If I create all resources everything works fine. If I delete the pod the volume did not get detached from the AWS instance. Thus it can not be reat

[2016-12-15 08:13] rxwen opened #38802 "Unstable service ip access from another pod"
**Is this a request for help?** :
Yes
**What keywords did you search in Kubernetes issues before filing this one?**:
service ip
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Cloud provider, aliyun
- **OS** (e.g. from /etc/os-release):
[code]
- **Ker

[2016-12-15 08:18] rxwen commented on #38802
I also reported a similar issue on [stackoverflow](http://stackoverflow.com/questions/41155737/kubernetes-service-ip-isnt-always-accessible-within-cluster-with-flannel). In which case, I used kubernetes 1.5.1.

[2016-12-15 08:21] Random-Liu commented on #38373
The PR has been cherry picked into 1.4 (#38605) and 1.5 (#38721).

Close this issue, feel free to reopen.

[2016-12-15 08:21] #38373 closed

[2016-12-15 08:23] mdshuai commented on #37807
@dims from  ```fmtDockerOpts``` function in file ```pkg/kubelet/dockertools/docker_manager.go```  https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager.go#L1116

[2016-12-15 08:30] gmarek commented on #38618
Second problem was fixed by #38701. Can we close this?

[2016-12-15 09:24] soltysh commented on #38740
@ymqytw are you ok closing this issue, in that case?

[2016-12-15 09:41] loewenstein commented on #30537
Actually the swagger spec is wrong in this regard and that is IMHO an even worse situation than broken documentation.

See https://github.com/kubernetes/kubernetes/blob/master/api/swagger-spec/v1.json#L7861 for the Pod example of wrong return type.

What should I expect when this is going to be resolved?

The client binding I am using is completely generated from swagger and hence it is wrong.

[2016-12-15 10:01] aoxn opened #38806 "Pod will be created again and again when we have not enough cpu."
## Pod will be created again and again when we have not enough cpu and will not be delete.

#### version
[code]

[code]

[code]

#### see output

[code]

[2016-12-15 10:11] pdecat commented on #33830
Same as #33483?

[2016-12-15 10:27] wojtek-t commented on #38618
Yes.

[2016-12-15 10:27] #38618 closed

[2016-12-15 10:40] du2016 commented on #38802
i have the same problem too,my cni network use calico

[2016-12-15 10:41] hikhvar commented on #37854
Updating to 1.4.7 fixed the issue. I think the fix was: https://github.com/kubernetes/kubernetes/issues/36269

[2016-12-15 10:45] fabiand commented on #27398
+1 on sticking to providing one ip address back. I believe that this is something we should stick to in future as well, as it simplifies a lot of things in the simple container case.
Advanced networking solutions must then respect this fact that one IP represents the pod to the outer world.

It looks good for now to enumerate the networks with the scheme netX.
However, the names will become intere

[2016-12-15 10:54] pires commented on #38785
Thanks @ixdy!

Unfortunately, some of the binaries listed in `kube::golang::server_targets()` can't compile for Windows, e.g. `kube-dns`, so the change doesn't seem to be trivial.

[2016-12-15 10:55] du2016 opened #38807 "connect to pod reply connect: Invalid argument"
when i use calico as the cni network in k8s，k8s version is 1.5.1
if i try to connect to pods，it return connect: Invalid argument(ping or curl command),
but in the same namespace ,other pods works good, anyone can help me?

[2016-12-15 11:03] jsafrane commented on #34060
For the record, these two disks are leaked because of #38681

[code]

[2016-12-15 11:08] jsafrane commented on #34060
@bowei, I am actively watching and fixing leaked GCE PDs in this bug, so I'm assigning myself to it. IMO, we need more people who will cover all the other leaked resources (routes, ...) and I really don't know who's responsible here.

[2016-12-15 11:12] ApsOps commented on #25456
I'm hitting this on k8s `v1.4.7`, docker `v1.12.1`.

Deleting the pod gets stuck in `Terminating` forever with:
[code]

Docker says container is `Running` with these logs, any process starts using 100% CPU.
[code]

[2016-12-15 11:29] pdecat commented on #33483
FWIW, GCE Internal Load Balancers made it to the compute API v1 since november 21st: https://github.com/google/google-api-go-client/blob/master/compute/v1/compute-gen.go#L1803

[2016-12-15 11:35] #38807 closed

[2016-12-15 12:25] talgendler commented on #22193
@timstclair well actually none of the guides mentions a way to configure how often to perform the probe. I think that if every page you mentioned above had a link to the relevant API it would help a lot. This is how I got to this thread:

1. First I found this page: (https://github.com/kubernetes/kubernetes/issues/12866)
2. From there I got to (https://github.com/kubernetes/kubernetes/pull/15967)

[2016-12-15 12:26] jsafrane commented on #31891
Reading https://aws.amazon.com/premiumsupport/knowledge-center/ebs-stuck-attaching/, the solution seems to be not to reuse device names. Currently, Kubernetes tries to find the lowest device name (in lexicographical order), which might have been just released. Instead, Kubernetes should find the next after the last attached device, say 'xvdbz' after 'xvdby'.

[2016-12-15 12:57] bronhaim commented on #33517
Facing the same issue as well running daemonSet definition. The --cascade=false helped as well. Consider to re-open the issue
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4", GitCommit:"3b417cc4ccd1b8f38ff9ec96bb50a81ca0ea9d56", GitTreeState:"clean", BuildDate:"2016-10-21T02:48:38Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Maj

[2016-12-15 13:00] deads2k opened #38810 "HPA is still using replicationcontrollers.extensions/scale"
HPA should be working against the polymorphic endpoint in the legacy API group `replicationcontrollers/scale`, not the copy in extensions, since no other resource will ever be able to inject itself into extensions.

@DirectXMan12 @soltysh @kubernetes/rh-cluster-infra

[2016-12-15 13:00] deads2k commented on #38810
I found this reviewing permissions for enabling RBAC and was sad.

[2016-12-15 13:10] ashb opened #38811 "Unable to get logs/output from init container"
The [init container feature](http://kubernetes.io/docs/user-guide/pods/init-container/) is super handy but I can't find any way of getting the logs or output of this init container. I don't think this is addressed by #38382 "Promote init containers to GA".

For example this is my deployment YAML file:

[code]

(itl is another deployment that is defined elsewhere.)

When I first wrote this annotati

[2016-12-15 13:25] fgrzadkowski opened #38812 "apiserver should reject HPA object if no requests are set on a corresponding object"
We should verify whether a corresponding object in HPA (e.g. Deployment) has set request and reject HPA object if it doesn't as utilization doesn't make any sense in that situation.

[2016-12-15 14:16] rxwen commented on #38802
Another issue I found that may be related is when I used dig tool to resolve a name within replicates of a pod. Two of them were resolved successfully. But on one pod, the dig reported that the response is from a different ip address.
In my setup, the dns service's ip address is 10.0.0.10. And all pods' /etc/resolv.conf are configured to use this ip as dns server. But the pod that reported error c

[2016-12-15 15:05] a-robinson commented on #24334
Yeah, this can be closed. We have

* An example - https://github.com/kubernetes/kubernetes/tree/master/examples/cockroachdb
* Docs - https://www.cockroachlabs.com/docs/orchestrate-cockroachdb-with-kubernetes.html
* A helm chart - https://github.com/kubernetes/charts/tree/master/incubator/cockroachdb

[2016-12-15 15:05] rxwen commented on #38802
I did some network sniffing on the cni0 interface on the actual node that runs the pod failed to connect redis. Found something interesting. The ip of the app pod is 10.1.85.5. And the pod ip of redis is 10.1.81.3, redis service ip is 10.0.0.66.
When I issued nc 10.0.0.66 6379 command, I saw two tcp SYN packets immediately.
[code]

How come will 10.1.85.5 send SYN to 10.1.81.3? The expected result

[2016-12-15 15:07] kim0 commented on #38362
@rootfs .. I was about to open this exact bug. Shouldn't the provisoner create the vhds container ?

[2016-12-15 15:07] rxwen commented on #38802
<img width="1030" alt="image" src="https://cloud.githubusercontent.com/assets/494230/21229007/1a4e9e5a-c31b-11e6-9e71-f1809b0facd7.png">

[2016-12-15 15:33] OlivierBoucher commented on #34919
Getting the same issues with release-1.4.6.

Missing secrets
- federation-apiserver-credentials
- federation-controller-manager-kubeconfig

Anything I can do?

[2016-12-15 15:45] timothysc commented on #25318
I can shepherd it in.  You can follow the pattern alpha annotations -> beta fields as seen in : https://github.com/kubernetes/kubernetes/pull/37299

[2016-12-15 15:55] scottrigby commented on #1572
@bgrant0607 There's a [Helm Charts Drupal example](https://github.com/kubernetes/charts/tree/master/stable/drupal) now.

[2016-12-15 16:11] sharms commented on #38784
This had already been noted in the release notes, and set to false by default in the current release:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#changelog-since-v150

[2016-12-15 16:19] TamalSaha commented on #38784
@sharms It is not the same. 1.5.1 release disabled default anon for Kube api server. But kubelet's default anon is still enabled.

https://github.com/kubernetes/kubernetes/commit/c7c2c7355062cbc416822b8e2c7acffdf95ccbdb

[2016-12-15 16:29] rootfs commented on #38362
yes, there is a todo for this case (also missing storage account)
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_storage.go#L198

[2016-12-15 16:30] DirectXMan12 commented on #34126
cc @kubernetes/sig-autoscaling @kubernetes/sig-instrumentation

[2016-12-15 16:31] thockin commented on #33483
Can you tell me how you're hoping to use ILB?  There are some issues with
it that I have not yet worked through wrt Kubernetes, and we're looking for
more user input on what result you hope to achieve.

On Thu, Dec 15, 2016 at 3:29 AM, Patrick Decat <notifications@github.com>
wrote:

[2016-12-15 16:32] thockin commented on #38806
@boweidu

On Thu, Dec 15, 2016 at 2:01 AM, spacexnice <notifications@github.com>
wrote:

[2016-12-15 16:37] #24334 closed

[2016-12-15 16:41] kim0 commented on #38362
Another minor issue is, new volumes take a lot of time (tens of mins) to be ext4 formatted. This causes the pod to timeout and fail upon first use! Any way to make this better

[2016-12-15 16:42] hammer commented on #33447
@jingxu97 what is the expected release date for 1.4.7?

[2016-12-15 16:53] tafypz commented on #33483
@thockin The usage is fairly simple, we have services that need to be exposed outside a kubernetes cluster (we use container engine). Using the typical load balancer exposes a public IP which in our case is not necessary. We used to use the kubernetes on AWS and used the AWS internal load balancers in our service config. So all in all simple usage, access kubernetes services from outside a contain

[2016-12-15 17:05] bgrant0607 commented on #38555
Just checking to see whether notifications work: @kubernetes/sig-onprem-test-failures

[2016-12-15 17:11] k8s-merge-robot opened #38819 "[k8s.io] ESIPP [Slow] should only target nodes with endpoints [Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-alpha-features/1455/

Failed: [k8s.io] ESIPP [Slow] should only target nodes with endpoints [Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]

[2016-12-15 17:13] thockin commented on #33830
Yes, dup of  #33483

[2016-12-15 17:13] #33830 closed

[2016-12-15 17:14] bgrant0607 commented on #1572
@scottrigby Thanks!

[2016-12-15 17:14] #1572 closed

[2016-12-15 17:14] #38740 closed

[2016-12-15 17:16] thockin commented on #33483
Thanks.  That fits one of the expected usage modes, and actually one of the easier to implement ones.  Truth is that nobody is working on it just now, but we're planning for it.

[2016-12-15 17:16] sethpollack commented on #33666
I think it was @brendandburns

[2016-12-15 17:17] pdecat commented on #33483
Same usecase here.

Le jeu. 15 déc. 2016 18:16, Tim Hockin <notifications@github.com> a écrit :

[2016-12-15 17:38] cunnie commented on #30752
We discovered that by using `gparted` instead of `sfdisk` the problem went away — disks which previously took 8+ minutes to mkfs.ext4 took seconds. Alternatively, `fdisk` will work as a partitioner.

Really. We're not sure why the tool we use to write one sector (i.e. the MBR) on a disk would make such a difference.

HTH,

[2016-12-15 18:05] derekwaynecarr commented on #38819
i am not the right assignee for this flake.

[2016-12-15 18:26] enj opened #38822 "Dead code in `pkg/registry/generic/registry/store.go`"
The inner `err != nil` on [these lines](https://github.com/kubernetes/kubernetes/blob/f369372dad201d97b9a69bf2070e54f716077dc4/pkg/registry/generic/registry/store.go#L881-L884) will never run.

cc @smarterclayton @liggitt @deads2k

[2016-12-15 18:28] deads2k commented on #38822
really?  Open a pull.

[2016-12-15 18:30] rootfs opened #38824 "Force detach AWS volume if kubelet is down"
Volume attached to node A. Shutdown kubelet on node A. Wait for a while, pod is then scheduled to node B. But volume keeps attached to node A, regardless how hard master is trying to detach it. Pod status thus ends up as "ContainerCreating".

Master log is populated with
[code]

On AWS console, I see the volume status is always in-use, even I manually unmount the volume on node A. I have to force

[2016-12-15 18:39] mmontecelo-gradiant commented on #33759
We're still experiencing this problem, or at least one with very similar symptoms -- having launched services of type LoadBalancer and then deleting one of them, it deletes all of the pools of all services.

As the original report, we're also using OpenStack Liberty, Neutron LBaaS V2, and just updated to K8s 1.5.1 (from 1.4.5) hoping that this fixed our issue, but we are still experiencing the sam

[2016-12-15 18:43] gnufied opened #38827 "Fix the minor memory leak in aws because attaching and deviceAllocators not being removed"
This is not top priority but I believe `attaching` and `deviceAllocator` attribtues of aws cloud provider should be cleaned up as nodes are removed from cluster - https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L367

cc @justinsb @jsafrane

[2016-12-15 18:47] bprashanth commented on #38322
Yeah I'm fine doing that too. It's basically the recommeded fix but looking at the source instead of an annotation. I think we'll need the annotation though.

To recap varios other bugs, there are actually multiple issues here:
1. Admit all static pods, unless there's either a node condition or some other "hard" conflict (eg: hostport)
2. Set a lower oom score on (some/all) static pods
3. If a sta

[2016-12-15 18:48] DirectXMan12 commented on #38812
While I agree with the general sentiment (making it more obvious to the user that something is wrong), this has some implications for creation ordering, etc (what if I create my HPA first, and the the deployment, what if I create the HPA and then change the deployment, etc).

I think probably the better solution is to make it clearer in the HPA status (@derekwaynecarr had suggested we have a condi

[2016-12-15 18:51] spiffxp commented on #37134
v1.5.0 has been released, closing this issue

[2016-12-15 18:51] #37134 closed

[2016-12-15 19:09] nalink commented on #34919
@nikhiljindal - sorry i missed the above post. i am using master branch - and i am able to bring the cluster up using federation-up.sh and i had build qick-release. And for AWS - there is small code change in loadbalancer code in common.sh ip,hostname (remove ip). I will try kubefed for sure.
@OlivierBoucher - yes there are problems in 1.4.6 code - because i was unable to launch fed-k8-cluster usi

[2016-12-15 19:16] dchen1107 commented on #38322
@bprashanth I like your idea using using scheduler.alpha.kubernetes.io/critical-pod annotation here, because:

1) This is more align with our long term fix: #22212 to have a generic schema describing how critical and importance a pod is.

2) Once the annotation is specified for a pod, when the local controller modules(admission at Kubelet, eviction manager, etc.) make the decision, they all can fo

[2016-12-15 19:18] dchen1107 commented on #22212
I updated https://github.com/kubernetes/kubernetes/issues/38322 with a short-term workaround which is align with this long-term solution.

[2016-12-15 19:18] spiffxp opened #38831 "e2e conformance tests no longer run as documented in 1.5.0, regression from 1.4.x"
**Is this a request for help?** no

**What keywords did you search in Kubernetes issues before filing this one?** e2e, conformance

**Is this a BUG REPORT or FEATURE REQUEST?** BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.5.0, 1.5.1

**Environment**: 1.5.0 GKE cluster, OSX 10.11.x workstation

**What happened**: the documented approach of running conformance tests doesn't work wit

[2016-12-15 19:18] spiffxp commented on #38831
/cc @kubernetes/sig-testing

[2016-12-15 19:20] madhusudancs commented on #34919
@OlivierBoucher will you be able to use v1.5.1+? You don't have to upgrade your clusters for this, just the federation part. If that's possible, I recommend using `kubefed` - http://kubernetes.io/docs/admin/federation/kubefed/

[2016-12-15 19:21] ixdy commented on #38831
This sounds like it might be related to https://github.com/kubernetes/kubernetes/issues/38725. `kubernetes.tar.gz` no longer includes server or client binaries, which have to be downloaded separately.

[2016-12-15 19:21] krousey commented on #29503
This seems to be the root cause of #38660 as well.

[2016-12-15 19:22] krousey commented on #38660
@spxtr It seems that the actual failure is #29503. Any idea why the bot isn't picking up that failure?

[2016-12-15 19:28] jingxu97 commented on #31891
@leosunmo, from the log I think it might hit aws path issue. the fix #36840 is in release 1.4.7. Could you please give it a try and let us know if you still have issue? Thanks!

[2016-12-15 19:29] jingxu97 commented on #33447
@hammer, 1.4.7 is out last Friday. Please give a try and let us know if you have any issues. Thanks!

[2016-12-15 19:32] hammer commented on #33447
@jingxu97 where can i find it? https://cloud.google.com/container-engine/release-notes says 1.4.6 is the current version?

[2016-12-15 19:33] justinsb commented on #38824
My understanding is that AWS can (somehow) detect if a volume is still mounted, and will refuse to unmount it without force detach.  But force detach is fundamentally unsafe - we know that disk operations are likely in progress.

@rootfs can you confirm that a pod was still running that had the volume mounted?

What I typically do is to terminate the instance instead; it feels much safer in terms

[2016-12-15 19:34] fgrzadkowski commented on #38812
Do we create event if there is no request now? I wonder, because if we already do it, then HPA status will not help as user didn't check there.