[2017-05-23 16:50] Random-Liu commented on #46255
@yujuhong Why don't we care about (4)?

Does `ResolveImage` need to work before image is pulled or not? For OCI, we could actually only pull down the image config and calculate the imageID, so may need to clearly define it.

Another option is to let runtime return pullable reference with `ContainerStatus`.

[2017-05-23 16:53] enisoc commented on #45728
Ok if renaming isn't possible, we can move migration back into kube-apiserver and go direct to storage or passthrough down the chain as you mentioned.

We could also keep CRD before TPR in the chain if CRD knows how to passthrough to TPR when it knows a given CRD is still migrating, but that comes back to muddying the new API. I don't know how involved it will be to swap the precedence but that's

[2017-05-23 16:53] timstclair commented on #46198
Yes, the CPU stats are always collected with the container stats, but it's possible to request the stats in a window where kubelet knows about the container, but cAdvisor hasn't yet gathered any info on it.

[2017-05-23 17:08] mtaufen commented on #27980
Alpha PR: https://github.com/kubernetes/kubernetes/pull/46254

[2017-05-23 17:12] msau42 commented on #27051
Yeah, sorry about the delay in response.  We're trying to do some bug cleanup for the thousands of issues...  Anyway, if you run into this issue again, please open a new issue.
/assign

[2017-05-23 17:12] msau42 commented on #27051
/close

[2017-05-23 17:12] #27051 closed

[2017-05-23 17:27] xiang90 commented on #43292
I dig into it a little bit.

So in my case, once the kubelet cannot contact api server it wont kill the removed static pod. It keeps on trying to contact api server to update the mirror pod information.

once api server is up, kubelet will kill the static pod eventually.

[2017-05-23 17:27] msau42 commented on #29582
Yeah that may be difficult to do because you would need to manage a grouping of pods vertically on each node across higher level controllers.  Managing the refcounts can get tricky.

I think the closest you can get today is to use a daemonset to manage namespace-level directories.  If it's just a directory, it's not taking up much space if don't use it, right?

[2017-05-23 17:38] wojtek-t commented on #46198
@timstclair - thanks!
@gmarek - can you please fix that so that our takes will not panic?

[2017-05-23 17:40] yujuhong commented on #46255
Runtime could use (4) for internal references, but CRI can ask runtime to always report the content-addressable image ID.

We still need to define what this reference should be, so I think it's similar to option (3).

[2017-05-23 17:42] cmluciano commented on #46070
@WIZARD-CXY All devices will be listed if the container is running in privileged mode. I noted 2 arguments that seem relevant in your manifest - python3 and the .py file.

I am pulling your image locally to try it out.

[2017-05-23 17:51] evictor commented on #23896
Thanks for the pointers. Kontemplate looks good. For POC purposes I am using `envsubst` which is just a very simple command line tool.

[2017-05-23 17:53] nicksardo commented on #45842
Same as before, I'll cherrypick #46293 to 1.6 and check that Teardown is called when disruption fails.

According to #32466, it seems that the rolling upgrade sometimes "wedges". I'll run the following after I'm sure we won't leak static IPs.
`gcloud alpha compute rolling-updates cancel 5375816b-5999-4050-b04a-3c3b1b562f64`

[2017-05-23 17:56] msau42 commented on #45935
This looks the same as #43534.  The issue there was that go1.8 was used to build the source, and go1.8 is not validated for building k8s until 1.7.

[2017-05-23 17:57] msau42 commented on #45935
@wulibin163 can you try using go1.7 instead to build K8s < 1.7?

[2017-05-23 17:59] caseydavenport commented on #30681
/assign /close

[2017-05-23 18:07] 23doors commented on #45581
Any news on that? Changes in custom metrics handling in 1.6 was one of the more anticipated ones for me and some poeple in my circle. But docs are still vague on this matter, at one point linking to what seems to be abandoned repo. And in general lacking an example of how metrics can be exposed now. Plus it seems that it is broken according to this issue?

[2017-05-23 18:15] cmluciano commented on #46070
Unfortunately I could not get this working locally since it requires quite a lot of setup. Can you please detail what those two processes are? You mentioned that the python3 process is running in a different container, but the job only lists one container.

[2017-05-23 18:21] kpgriffith commented on #40099
@techtonik I get the same results as @ianchakeres

I can't reproduce the issue now either.  Thanks.

[2017-05-23 18:28] cmluciano commented on #46140
I think this is related to #43340

[2017-05-23 18:36] kfox1111 commented on #29582
couldn't the kubelet manage it? I think its a low level operation, not a high level one.

On pod create, see if it has a namespaced-emptydir reference. if so, see if it exists. if not, mkdir it.

On the pod delete and it has a namespaced-emptydir, see if any other pod has a volume reference to it. if not, rm -rf it.

[2017-05-23 18:50] roffe commented on #19825
I have seen this as well in my setup. and it seems to happend more for containers running php than others.

It seems sometimes also the only thing making some containers work is to use USE_ZEND_ALLOC=0
which seems like a largly undocumented parameter for turning of php memory manager(!?)

[2017-05-23 19:08] techtonik commented on #40099
@kpgriffith nice. You can close the issue then, :wink:

[2017-05-23 19:14] techtonik commented on #35359
@smarterclayton https://github.com/bazelbuild/bazel/issues/552 is fixed. What else is needed?

[2017-05-23 19:14] enisoc commented on #45510
Now that https://github.com/kubernetes/kubernetes/pull/46055 has merged, I've verified that these temporary directions are no longer needed. Steps 6 and 9 work out-of-the-box on HEAD now.

[2017-05-23 19:14] #45510 closed

[2017-05-23 19:18] k8s-merge-robot opened #46298 "Failure cluster [c376a6...] failed 53 builds, 3 jobs, and 1 tests over 1 days"
### Failure cluster [c376a60af0c9f9d150d7](https://go.k8s.io/triage#c376a60af0c9f9d150d7)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    3 jobs failed,    53 builds failed.
Failure stats cover 1 day time range '22 May 2017 18:00 UTC' to '23 May 2017 18:00 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DiffResources | 3 |

##

[2017-05-23 19:34] cmluciano commented on #40998
This should be closed now that alpha support is merged in 1.6

/assign /close

[2017-05-23 19:35] cmluciano commented on #44438
/assign

[2017-05-23 19:35] cmluciano commented on #44438
cc @vishh i thought we had e2e tests that were testing this, but I'm not sure if they are running yet

[2017-05-23 19:37] #40998 closed

[2017-05-23 19:39] techtonik commented on #20410
Is it still actual
;

[2017-05-23 19:41] vromero commented on #30703
yes

[2017-05-23 19:41] #30703 closed

[2017-05-23 19:45] olalonde opened #46300 "[cli] Proposal: make kubectl exec --stdin and --tty default to true"
It seems that, much more often than not, I use the `-it` flag with kubectl exec, e.g. `kubectl exec -it somepodname bash`. A Google for `kubectl exec` also seems to indicate that `kubectl exec` is overwhelmingly used with `-it`.

Therefore, I'd like to propose that we make those flags (`-i/--stdin` and `-t/--tty`) true by default, with the option of disabling them (instead of the other way around)

[2017-05-23 19:54] erinboyd commented on #28367
Please move to 1.8

[2017-05-23 20:12] gmarek commented on #46215
Yes, we probably should do that. Thanks for volunteering:)

[2017-05-23 20:24] yastij commented on #46215
NP, will be submitting PR tomorrow after WR. :)

[2017-05-23 20:31] ZachGoldberg commented on #45459
@dcbw The replication steps I have provided in this ticket no longer reproduce the issue (aka DNS seems to work).  However my application is still barfing that it can't connect to the hostname.  I'm still debugging now to understand if that's just the problem with my application, or if it's a networking issue with k8s.

[2017-05-23 20:34] cmluciano commented on #46282
@kubernetes/sig-testing-misc

[2017-05-23 20:35] cmluciano commented on #46282
@kubernetes/sig-node-misc

[2017-05-23 21:06] #46027 closed

[2017-05-23 21:21] nicksardo commented on #44799
Dupe of https://github.com/kubernetes/ingress/issues/555 and originally https://github.com/kubernetes/contrib/issues/885

/close

[2017-05-23 21:21] nicksardo commented on #44799
/assign
/close

[2017-05-23 21:22] nicksardo commented on #44799
/close

[2017-05-23 21:22] #44799 closed

[2017-05-23 21:27] Random-Liu opened #46310 "Node E2E ssh calls should have timeout."
SSH calls without timeout have caused some trouble. The most recent one is that in node e2e, we ssh into the instance and run `docker version` to check whether the instance is ready or not.

However, once docker hungs, `docker version` will never return, and the framework will also hung forever. After the test timed out, it seems that the framework didn't cleanup the VM because it still hung on th

[2017-05-23 21:37] philips commented on #46257
The PR that fixes the issue is here: https://github.com/kubernetes/kubernetes/pull/45932

cc @lpabon

[2017-05-23 21:41] dashpole commented on #43166
closing via #43590

[2017-05-23 21:41] #43166 closed

[2017-05-23 21:46] dashpole commented on #42923
closing via #46053

[2017-05-23 21:46] #42923 closed

[2017-05-23 21:48] MrHohn opened #46313 "[e2e-networking] Update ESIPP test to catch issue if servicecontroller does not response to ExternalTrafficPolicy update"
Lately we introduced a bug that editing ExternalTrafficPolicy doesn't trigger LoadBalancer update. All our ESIPP e2e tests didn't catch it. Specifically, in test _"should handle updates to ExternalTrafficPolicy field"_ we flip ExternalTrafficPolicy between Local and Global and verify kube-proxy takes action, but the servicecontroller part is omitted.

This bug is being fixed by #46258. I don't hav

[2017-05-23 21:50] dashpole commented on #40474
Closing via #43590.  Even though the race still exists, it is now benign since the eviction manager does not react to errors returned by killPod()

[2017-05-23 21:50] #40474 closed

[2017-05-23 21:52] roberthbailey commented on #41600
@mikedanese

[2017-05-23 21:52] jescarri commented on #46257
@philips is there a way to extend the pr to ebs volumes as well?

[2017-05-23 21:58] #40099 closed

[2017-05-23 21:59] dashpole commented on #31362
Update for 1.7 items:
On Demand Stats: Punted to next release
Reenable memcg on GCI: **On track to finish** by 1.7
Optimize container disk stats collection: More complicated than we initially thought.
Metrics on age of status used for evictions: **Complete**, metrics are exposed, and logged during eviction testing.
Metrics for high-latenct stats collection: **Planned to complete for 1.7**
Fix or M

[2017-05-23 22:15] rmmh commented on #46140
@humblec #45995 broke glusterfs testing on GCE

[example failure](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/8633?log#log)

[testgrid](https://k8s-testgrid.appspot.com/google-gci#gci-gce&width=20&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20GCP%5C%20Volumes%5C%20%5C%5Bk8s%5C.io%5C%5D%5C%20GlusterFS%5C%20should%5C%20be%5C%20mount

[2017-05-23 22:30] crimsonfaith91 commented on #45287
@smarterclayton We had a discussion about this, and think that using patch is a better option than fixing scale endpoint for now. We need to backport the change, and there is currently no scale subresource for statefulsets. The idea is to use the scale subresource if it is available, and fall back to patch if it is not. To resolve this issue, using patch (short-term fix) is more suitable compared

[2017-05-23 22:46] #23683 closed

[2017-05-23 23:03] whitlockjc commented on #34348
This this is being tracked as a part of https://github.com/kubernetes/community/pull/132, I am closing this.  The PoC has been submitted here as part of https://github.com/kubernetes/kubernetes/pull/46316

[2017-05-23 23:03] #34348 closed

[2017-05-23 23:19] mindprince commented on #46204
Not just this one but three tests in `kubernetes/pkg/kubelet/kubelet_volumes_test.go` are flaky.

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=TestListVolumesForPod
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=TestPodVolumesExist
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=TestVolumeAttachAndMountControllerDisabled

There's a

[2017-05-23 23:22] lpabon commented on #46257
@jescarri @philips I can create another PR which adds that to #45932

[2017-05-23 23:28] jayunit100 commented on #31362
Can I squeeze https://github.com/kubernetes/kubernetes/pull/45141 for 1.7?  This will allow users to reason about the NodeNotReady error in a much more transparent manner.  It's non functional as a modification.

[2017-05-23 23:36] smarterclayton commented on #45287
Sure, putting a hack in to a beta feature is ok.  But it's a requirement for GA anyway

[2017-05-24 01:40] supereagle commented on #43967
I think #43995 is needed before `--network-plugin-dir` is removed.

The `--network-plugin-dir` flag is still not deprecated, I will send a PR to deprecate it.

[2017-05-24 01:43] caseydavenport commented on #38024
Looking at this a bit more, it feels like there were a LOT of disjoint failures involved which seem to not be occurring any more.

Let's close it and see if anything else crops up.

/close

[2017-05-24 01:43] #38024 closed

[2017-05-24 01:46] mengqiy commented on #45196
@fejta Why the junit output in https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.6-master-cvm-kubectl-skew/5288/artifacts/junit_03.xml is not picked up by https://k8s-testgrid.appspot.com/sig-cli#gce-1.6-master-cvm-kubectl-skew?
I'm expecting something similar to https://k8s-testgrid.appspot.com/sig-cli#gce-1.6

[2017-05-24 02:07] caseydavenport commented on #37988
A number of different errors here which don't seem to be occurring any more.

Closing, will see if anything pops up.

/close

[2017-05-24 02:07] #37988 closed

[2017-05-24 02:14] ahmetb commented on #46231
Let me know if I should move this to `kubernetes/features` repository.

[2017-05-24 02:29] xiangpengzhao commented on #30498
This is a WIP feature currently. Please follow:

[Storage] Add support for persistent local storage #43640

@thockin

[2017-05-24 02:31] xiangpengzhao commented on #30498
All related proposals, PRs and discussions can be found in #43640

[2017-05-24 02:38] xiangpengzhao commented on #30612
The new WIP feature LocalStorage might help. Please follow:

ref:
[Storage] Add support for persistent local storage #43640

See also:
https://github.com/kubernetes/kubernetes/pull/44897
`Alpha feature: Local volume plugin allows local directories to be created and consumed as a Persistent Volume.  These volumes have node affinity and pods will only be scheduled to the node that the volume is at.`

[2017-05-24 02:42] #41267 closed

[2017-05-24 02:52] caseydavenport commented on #37987
Digging in a bit more, this looks like a collection of test flakes that appear to have been addressed in other issues, plus various timeouts that seem like general cloud flakiness, so closing this one.

/close

[2017-05-24 02:52] #37987 closed

[2017-05-24 02:56] PengTaoWW opened #46321 "Execution retry and timeout of lifecycle hooks"
I have an improvement on Kubernetes, in our production environment, run perstop hook when removing pod, but no matter how quickly the result of this pod is removed, my improvement is that when Perstop fails, it will retry until the execution succeeds, or the timeout is removed. I have implemented a version of this feature myself. if there's a problem with my improvement, please let me know, thank

[2017-05-24 02:59] saad-ali commented on #45143
Hey @ianchakeres! Sorry for the delay. Yes that logic looks sound to me. I might change the name from `isPVCActive` to `isPVCOkToDelete`, but that's a nit. My only major concern would be to make sure that by listing all pods we don't introduce any performance regressions, though since it's a one time operation on delete it should be ok.

As for where this code should live? I believe the right plac

[2017-05-24 03:00] codevulture commented on #43389
Kubernetes had problems with Master version with vagrant in starting services but i checked to deploy with lower version v1.5.7 and works fine with that.

1) First i copied cert from /srv/kubernetes/ca.crt to /var/lib/kubelet/ca.crt

May 23 10:18:17 kubernetes-master kubelet[3824]: I0523 10:18:17.668130    3824 feature_gate.go:144] feature gates: map[]
May 23 10:18:17 kubernetes-master kubelet[382

[2017-05-24 03:05] lpabon commented on #46257
Actually, I may be wrong, but the ebs volumes are created from a PVC/PV. I would have to investigate the scope of that work.

[2017-05-24 03:23] liggitt opened #46322 "preferred versions are listed backwards in discovery"
RBAC registers a VersionPreferenceOrder of v1beta1, v1alpha1:
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/rbac/install/install.go#L41
[code]

This makes it into GroupMetaFactory#Register correctly, and gmf.prioritizedVersionList is in the correct order:
[code]

but in discovery, the order is reversed:
[code]

this works correctly in the release-1.6 branch, so something since then

[2017-05-24 03:26] liggitt commented on #46322
@sigapimac

[2017-05-24 03:27] liggitt commented on #46322
@kubernetes/sig-api-machinery-bugs

[2017-05-24 03:35] liggitt commented on #46322
looks like two APIService objects are auto-created, with identical priority:

[code]

[code]

[2017-05-24 04:14] liggitt commented on #46322
looks like ListedPaths() is used to extract local groups and versions, but sorts (in multiple places) which loses the preferred group order (as passed to InstallAPIs) and the preferred version order

even commenting out the sorting in ListedPaths(), and registering extracted groups/versions with stepped priority does not fully restore the ordering to the preferred group/version order.

[2017-05-24 04:15] smarterclayton commented on #35359
The issue now is that no cross-compile with bazel succeeds because bazel has no support for golang cross-compile and platform specific tags.  I.e. on a mac, `bazel build` is broken in Kubernetes.  The specific issue with regards to 552 is fixed, but not the broader issue.

[2017-05-24 04:36] xiangpengzhao commented on #30604
sig/network

[2017-05-24 04:37] xiangpengzhao commented on #30604
/sig network

[2017-05-24 04:41] xiangpengzhao commented on #30604
Which network plugin are you using? Can you ping from host node to the pod on the other node?

I would like to close this issue since it's not updated a long time. Feel free to re-open it if you still face this issue.

@thockin

[2017-05-24 04:44] xiangpengzhao commented on #30449
/cc @fejta

[2017-05-24 04:48] xiangpengzhao commented on #30484
/sig network

/cc @thockin

[2017-05-24 05:10] nicksardo commented on #45842
Looking at https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.6-1.5-downgrade-cluster/3307/build-log.txt
Teardown is now being called after disruption failure, so there should be no more leaked static addresses. I've now cleared the wedged update, and hopefully we'll see some passing tests.
/close

[2017-05-24 05:10] #45842 closed

[2017-05-24 06:08] thockin commented on #30484
There's nothing in the iptables logic that would do this - it HAS to be in your client (e.g. Go reuses connections).  We literally have tests that demonstrate that a service LB (iptables) hits all endpoints.

[2017-05-24 06:09] thockin commented on #30484
Oh, this is ancient.  Closing now, reopen if needed. :)

[2017-05-24 06:09] #30484 closed

[2017-05-24 06:09] #30604 closed

[2017-05-24 06:27] xiangpengzhao commented on #30403
Thanks @kpgriffith for the information! That's awesome!

/close

/cc @thockin

[2017-05-24 06:51] #43055 closed

[2017-05-24 06:54] thockin commented on #30693
https://github.com/kubernetes/test-infra/issues/2174

[2017-05-24 06:54] #30693 closed

[2017-05-24 06:54] #30751 closed

[2017-05-24 07:00] moon03432 commented on #45688
@lorenz I had the same issue, but it's now resolved. Maybe you could try "grep -l <container-id> /proc/*/mountinfo" to check who's preventing your pod from terminating.

![image](https://cloud.githubusercontent.com/assets/11847340/26390556/ae049778-4091-11e7-8334-b633e1897ecf.png)

[2017-05-24 07:05] weiwei04 opened #46328 "Question on PVC with AccessMode: ReadWriteOnce"
Our scenarios:

 we use ceph rbd to store some machine learning training dataset, the workflow as below:
 1. create a ceph-rbd pvc pvc-tranining-data with AccessMode: ReadWriteOnce.
 2. create a write job with 1 pod to mount pvc-training-data and write training data in to pvc-training-data.
 3. after writing the training data into pvc-training-data, the container will exit and the pvc-trainiing-da

[2017-05-24 07:11] thockin commented on #45934
+1 DNS

contrib is dead.

On Fri, May 19, 2017 at 11:05 AM, cmluciano <notifications@github.com>
wrote:

[2017-05-24 07:12] thockin commented on #17406
I don't think so...

On Fri, May 19, 2017 at 8:30 AM, bamb00 <notifications@github.com> wrote:

[2017-05-24 07:14] #30681 closed

[2017-05-24 07:15] #32071 closed

[2017-05-24 07:15] thockin commented on #44765
@suyogbarve I can't assign it to you since you're not in the org.  Don't let that stop you though!

[2017-05-24 07:16] #28022 closed

[2017-05-24 07:46] xiangpengzhao commented on #30073
/cc @yujuhong

[2017-05-24 07:48] resouer commented on #46222
Did you enable `--race` to run this test?

[2017-05-24 07:54] xiangpengzhao commented on #30071
I'm not sure what kind of documentation/man pages you want and how you generate them. Could you please provide what script did you run? We will close this issue. Feel free to re-open it if you can provide more info about the issue. Thanks!

@thockin

[2017-05-24 07:58] xiangpengzhao commented on #30042
@yujuhong @dchen1107 ?

[2017-05-24 08:16] JeanMertz commented on #15180
This would definitely be a nice feature to have. We currently have to do things like:

[code]

to get a single pod. It would be better (and also more resilient, since the above command always takes the first pod, no matter the state) to go through a service instead.

And as @shahidhk stated, obviously having the benefits of keeping a connection alive, even when a pod restarts would be a great feat

[2017-05-24 08:19] xiangpengzhao commented on #29843
@RedCornerR Did you set your kubelet flag `--pod-infra-container-image` to be the exact infra image name in your private registry ? If not, kubelet will still use the default `gcr.io/google_containers/pause-amd64:3.0` and try to pull it from gcr.io.

/close

@thockin

[2017-05-24 08:21] xiangpengzhao commented on #29833
Justin, any updates on this? @justinsb

cc @thockin

[2017-05-24 08:26] xiangpengzhao commented on #29804
Thanks @dshulyak for the information!

close

@thockin

[2017-05-24 08:27] resouer commented on #45753
Can you make sure kubelet is auto started after your VM is rebooted?

[2017-05-24 08:31] xiangpengzhao commented on #29797
@qiancai since you reported the issue on 1.2.0 and this has no updates. Will close it. Feel free to re-open it if you still encounter this issue on latest release. Thanks!

close

@thockin

[2017-05-24 08:35] xiangpengzhao commented on #29709
/sig network

@thockin

[2017-05-24 08:46] qiujian16 commented on #46172
Check the details of iptables...It seems that user defined chain does not have a counter, so setting counter to a user defined chain does not work at all. Add a user defined chain always refresh counter of all built-in chain, but I still need to find the reason.

I think we should preserve the counter of each rule rather than each chain, but currently we do not add counters for each rule when ipta

[2017-05-24 08:49] yastij opened #46330 "unnecessary copies on PatchNodeTaints helper function"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

PatchNodeTaints
controller_utils

---

**Is this a BUG REPORT or FEATURE REQUEST?**

[2017-05-24 08:49] hiscal2015 opened #46331 "Pod lost connection to glusterfs volumes after kubelet restarts"
Hi, all

I'm running Kubernetes 1.5.4, all components are docker (In Rancher environment). I have a few pods running with glusterfs volumes, if I restart kubelet container, then all of my applications stop working because they lost connection to glusterfs volumes. Can anyone tell me how to fix it? Thanks a lot.

[code]

[2017-05-24 08:49] yastij commented on #46330
/sig node
/area nodecontroller
/assign

[2017-05-24 08:59] resouer commented on #44990
It should be already fixed.

Some special files like prefix `~` is not common (my vim did not show that actually).

[2017-05-24 09:31] Dakuan commented on #43276
![image](https://cloud.githubusercontent.com/assets/633621/26396768/1396f9f8-406c-11e7-9bb4-0798fae3ac2b.png)

:(

[2017-05-24 09:43] koalalorenzo commented on #31307
Any update on this issue?

[2017-05-24 09:48] james-poole opened #46338 "Attach_detach_controller does not taking action."
Hello all,
We are running an openshift cluster with ceph rbd's mounted into running pods. When a node unexpectedly drops out of the cluster and doesn't return, rbd locks are left behind causing these pods to fail to deploy to any other node before manual intervention is taken to remove said locks. We found the attach_detach_controller kubernetes component and have activated it by adding the approp

[2017-05-24 09:53] berlinsaint commented on #46077
nop  i thinks it was the problem of  3.13. ubuntu 14.04 kernel. i sovle it by upgrade kernel

[2017-05-24 10:28] carlosmkb opened #46340 "Possible causes for NodeControllerEviction"
**Kubernetes version** : v1.5.3

**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04 LTS
- **Kernel** (e.g. `uname -a`): 4.4.0-72-generic
- **Install tools**: acs-engine used to deploy the cluster (1 master, 2 nodes)
- **Others**: calico used as network policy, custom Pod CIDR (10.11.0.0/16)

Sometime happens a NodeControllerEvi

[2017-05-24 10:53] lyz-code commented on #45961
From inside the controller pod (which doesn't have curl) I can verify that it's arriving to the api server, but the pod doesn't have the openssl installed therefore I get no result

[code]

From the master instance host of that pod I can do the same query for the 3 master IPs with the  unauthorized result:

[code]

[2017-05-24 11:14] vaibhavsood commented on #44022
Hi @abdasgupta,

I have created the PR for the patch as suggested.. https://github.com/kubernetes/kubernetes/pull/46342

I have also changed the original patch slightly to use getExpectedBlockSize() on f1 file path instead of tmpDir as you suggested as that I think would be the right way to do it..

Thanks!
Vaibhav

[2017-05-24 11:58] ssaavedra commented on #37705
It seems that for current-generation instances, EBS volumes on Amazon can also be resized online in one step (ref: http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-expand-volume.html)

[2017-05-24 11:58] techtonik commented on #35359
@smarterclayton is there a ticket to track?

[2017-05-24 12:36] nikhita commented on #45511
All the tests are not done yet so I think this should be re-opened.

[2017-05-24 13:00] rpothier commented on #46222
No, just - make test
This is the only failure I see.
Integration tests also pass.

[2017-05-24 13:09] deads2k commented on #46322
I might start fully specifying when I build it all up for the autoregistration controller.

[2017-05-24 13:14] suyogbarve commented on #44765
@vglazkov I have verified that this is working perfectly fine with

Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.3", GitCommit:"0480917b552be33e2dba47386e51decb1a211df6", GitTreeState:"clean", BuildDate:"2017-05-10T15:48:59Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc

[2017-05-24 13:18] jeunii opened #46345 "Unable to Annotate in service file"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------------------------------------------

[2017-05-24 13:19] spzala commented on #16844
Hello, is this still an issue or we can close it? Seems like it's taken care under #16843 Thanks!!

[2017-05-24 13:23] spzala commented on #16844
I see  "Closes #16844." comment in the https://github.com/kubernetes/kubernetes/pull/22486  So I guess this issue (#16844) is good to close?

[2017-05-24 13:24] spzala commented on #16844
/cc @thockin

[2017-05-24 13:28] spzala commented on #18193
@kevinliuzhong Hi, can you please verify if this is still an issue? or can it be closed? Thanks!

[2017-05-24 14:07] joseph-lanoux commented on #46206
So what happens is that not only the context needs to be specified at the ginkgo level with the '--context'  argument, but it also needs to be set up as the KUBE_CONTEXT environment variable in order for the detect-master-from-kubeconfig function to grab the correct KUBE_MASTER_URL. It's a bit convoluted as I feel there should only have a single place to set that up but I guess there is no bug.

[2017-05-24 14:07] #46206 closed

[2017-05-24 14:08] pizzarabe opened #46347 "Kube-scheduler dies with "Schedulercache is corrupted""
**BUG REPORT**

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Self-hosted**:
- **OS**
Container Linux by CoreOS 1353.7.0 (Master + most nodes)
and
Container Linux by CoreOS 1298.5.0 (some nodes)
- **Kernel**
1353.7.0: `(4.9.24-coreos #1 SMP Wed Apr 26 21:44:23 UTC 2017 x86_64 Intel(R) Xeon(R) CPU E5-2620 0 @ 2.00GHz GenuineIntel GNU/Linux)`
1298.5.0: `(Linux alien8

[2017-05-24 14:19] cmluciano commented on #46007
I documented this in https://github.com/kubernetes/kubernetes.github.io/pull/3870. I think this can be closed since I placed a note in the GPU epic about a volume concept. WDYT @vishh ?

[2017-05-24 14:22] cmluciano commented on #44107
All 1.7 tasks are complete @vishh . Since SIG-PM will be tracking the milestones closely for open issue in 1.7, do we want to move the remaining tasks to a new issue for 1.8?

[2017-05-24 14:38] justinsb commented on #29833
I'm going to close this.  kube-up is deprecated, and removed entirely for AWS.  IIRC we did end up deleting the old master volume.

kops offers a much better AWS experience than kube-up, and is the one I personally recommend.

If there's something more we should do here, please let me know and we can reopen.

[2017-05-24 14:38] #29833 closed

[2017-05-24 14:40] spzala commented on #18062
@MikeSpreitzer Hi Mike, I guess we can close this issue? I don't see ubuntu-calico.md exist any more or 0.9.0 mentioned anywhere. The ubuntu-calico.md is replaced with this one https://kubernetes.io/docs/getting-started-guides/ubuntu/  Thanks!

[2017-05-24 14:40] spzala commented on #18062
/cc @thockin

[2017-05-24 14:45] cmluciano commented on #31307
@koalalorenzo I think this is waiting on https://github.com/containernetworking/plugins/pull/1.

cc @dnardo

[2017-05-24 14:46] humblec commented on #46140
@rmmh Sorry, btw I am not sure about the GCI setup. Does that mean, `mount.glusterfs -V` gives error in GCI ? I dont know whats going wrong in GCI setup, Is it a path or binary name or something else  ? @rootfs any idea about GCI? or can you invite some one who has idea about GCI setup?

[2017-05-24 14:51] cmluciano commented on #46077
@berlinsaint Can we close this issue?

[2017-05-24 14:52] cmluciano commented on #46287
/sig cluster-lifecycle

[2017-05-24 14:53] nabeelamjad opened #46349 "Unknown, Pending or Node Lost pods"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?**: Unknown, Pending, Node Lost pods

---

**Is this a BUG REPORT or FEATURE REQUEST?**  BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g.

[2017-05-24 14:53] MikeSpreitzer commented on #18062
Yeah, I can not find the relevant document any more.  That is probably bad in itself.

[2017-05-24 14:54] rootfs commented on #46140
@humblec address this comment in a separate PR
https://github.com/kubernetes/kubernetes/pull/45995#discussion_r117758425

[2017-05-24 14:57] cmluciano commented on #45849
dup issue fixed

/close

[2017-05-24 14:57] #45849 closed

[2017-05-24 15:02] rootfs commented on #46140
@rmmh I suspect the gluster problem is a different issue, since #45995 was merged yesterday and the problem in this issue happened 5 days ago.

[2017-05-24 15:04] humblec commented on #46140
@rootfs Oh.. Yeah, thats correct. :). Thanks. I will address the comment in a new PR.

[2017-05-24 15:04] wanghaoran1988 commented on #38756
/cc

[2017-05-24 15:06] wanghaoran1988 commented on #43325
/cc

[2017-05-24 15:15] fabiand opened #46351 "Decide on an approach for shared Aggregated API Server storage"
User API Server (AS) becomes the more sophisticated alternative to TPRs.

While looking at the [example](https://github.com/kubernetes/sample-apiserver/blob/master/pkg/registry/wardle/etcd.go) we noticed that etcd was used as a backing store.

Now, it would be very convenient for plain TPRs could be used for storing the UAS data.
It would effectively allow us to stay within the boundaries of K8s,

[2017-05-24 15:15] fabiand commented on #46351
/cc @sttts @deads2k

[2017-05-24 15:15] fabiand commented on #46351
/cc @rmohr

[2017-05-24 15:19] zouyee opened #46353 "how to enable apiregistration.k8s.io/v1alpha1"
how to enable the api `apiregistration.k8s.io/v1alpha1`?
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------

[2017-05-24 15:20] #46345 closed

[2017-05-24 15:21] jeunii commented on #46345
All I needed to do was setup the annotation in my controller file rather than service file.

[2017-05-24 15:21] k82cn commented on #46347
@kubernetes/sig-scheduling-bugs

[2017-05-24 15:24] neomantra commented on #10570
I just discovered that Docker doesn't honor `isolcpus` -- it will assign an affinity of ALL cores to a container, disregarding `isolcpus`.   See https://github.com/moby/moby/issues/31086

I'm pretty surprised by this.  That makes it "dangerous" to combine pinned workloads (either bare or via `--cpu-set`) and unpinned Docker workloads, in the sense that a random container can interrupt the pinned c

[2017-05-24 15:27] xiangpengzhao commented on #46349
Not sure about the root cause, but it seems like most probably an issue of docker.

[2017-05-24 15:28] deads2k commented on #46351
I don't think that CRDs are a proper fit for UAS storage.   CRDs are very opinionated about the shape of the data in order to conform with kube-like APIs.  Storage for a UAS must not have the very protections that CRD provides.  The first few that come to mind.

 1. CRD can only support JSON encoding since the data must be introspected.  UAS-storage must be unopinionated to support protobuf or oth

[2017-05-24 15:29] deads2k commented on #46351
@ncdc @smarterclayton to expand on the short conversation in slack.  The API semantics are very different.

[2017-05-24 15:34] davidopp commented on #46347
@wojtek-t @bsalamat

[2017-05-24 15:38] mikkeloscar opened #46355 "Not all daemonset Pods getting updated with RollingUpdate"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): daemonset, update, updatedNumberScheduled

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g.

[2017-05-24 15:39] jsravn commented on #33491
I haven't seen this problem again, so happy to close.

[2017-05-24 15:39] #33491 closed

[2017-05-24 15:41] nabeelamjad commented on #46349
Yep, it does seem docker hangs, not sure what is triggering it however.

[2017-05-24 16:01] cmluciano opened #46356 "Add GPU e2e tests"
- [ ] Run a few examples from the cuda_samples repo
- [ ] Run a tensorflow example

[2017-05-24 16:01] cmluciano commented on #46356
cc @vishh

[2017-05-24 16:08] timothysc commented on #46347
There are some PR's around this that came in recently, /cc @smarterclayton

[2017-05-24 16:09] derekwaynecarr commented on #26999
duplicating in favor of https://github.com/kubernetes/kubernetes/issues/20051

[2017-05-24 16:09] #26999 closed

[2017-05-24 16:09] derekwaynecarr commented on #17802
namespace controller does not do a force deletion.

[2017-05-24 16:09] #17802 closed

[2017-05-24 16:11] MiniStone123 commented on #42531
I have the save problem and here is my log.
[code]

[2017-05-24 16:14] xiangpengzhao commented on #29750
Thanks @Xenopathic！

close

@thockin

[2017-05-24 16:15] MiniStone123 commented on #42531
I have the same problem.
[code]

[2017-05-24 16:16] number101010 opened #46357 "Kubelet incorrectly reports selfLinks of pods started from manifests"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

selflink
kubelet selflink
default selflink
manifest selflink

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
admin@node:~$ kubectl version
Client Version: version.Info{Major:"

[2017-05-24 16:18] XC-Test opened #46359 "Contributor Experience Demo Test Issue"
**IGNORE THIS ISSUE.  THIS IS FOR A 05/24 Community DEMO**

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

Bugfix (don't file support issues here!)

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo

[2017-05-24 16:18] XC-Test commented on #46359
/sig node
/kind bug

[2017-05-24 16:19] XC-Test commented on #46359
/help

[2017-05-24 16:19] bgrant0607 commented on #831
This would be useful for building FaaS, also:

https://github.com/kubeless/kubeless/issues/148

[2017-05-24 16:21] XC-Test commented on #46359
/remove-sig node

[2017-05-24 16:21] yujuhong commented on #30073
The documentation around these flags and dns policy is lacking (#31813). @kubernetes/sig-network-misc will have a better idea of what's the expected behavior.
FWIW, I think PR #29666 changed the logic around the passed --cluster-domain and resolve-conf. Not sure if that was intended.

[2017-05-24 16:21] XC-Test commented on #46359
/remove-kind bug

[2017-05-24 16:22] XC-Test commented on #46359
@kubernetes/sig-scheduling-bugs

[2017-05-24 16:23] XC-Test commented on #46359
Just testing this functionality for a ContribX demo tomorrow.  Ignore/unsub from this issue

[2017-05-24 16:30] ncdc commented on #20051
I have been looking into namespace deletion "timeouts" in e2e tests the past week. The typical flow for a namespace deletion, in isolation, looks like this:

1. Send DELETE request to apiserver
1. apiserver sets DeletionTimestamp
1. NamespaceController sees updated namespace with DeletionTimestamp set
1. NamespaceController adds namespace to its work queue with a 5-second delay (see https://github

[2017-05-24 16:36] derekwaynecarr commented on #20051
It would be good to know the depth of the work queue in our e2e runs to understand the 3 minute tail latency.  I assume the second 3 minute latency is caused by being put back into the same underlying work queue.  One thing we did for quota is maintain 2 queues (new quotas get evaluated faster than older quotas).  We could maintain two queues (the full queue, and the we know we tried to delete it

[2017-05-24 16:36] deads2k commented on #20051
We have promethus metrics on the queue depth for rate limited workers.  As I recall, it queues unconditionally, which can obviously be improved.

[2017-05-24 16:38] yujuhong commented on #30042
I don't think we set the timeout for the exec calls either in the old dockertools or the new CRI integration (for v1.6+).
I think it's reasonable to set some timeout to prevent cases like this.

/cc @timstclair, who has several TODOs left to set the timeout in the new integration.

[2017-05-24 16:39] ncdc commented on #20051
I need to get those metrics for the CI jobs. I don't think they're enabled at the moment.

[2017-05-24 16:39] timothysc commented on #20051
I'd like to eliminate the recursive deleting entirely...

What depends on this still?  v3 can delete O(1) now, and all watches should trigger...

[2017-05-24 16:40] ncdc commented on #20051
@timothysc you mean delete the dir in etcd instead of each item?

[2017-05-24 16:40] timothysc commented on #20051
Yes.

[2017-05-24 16:42] ncdc commented on #20051
I can put together a PR to try that.

[2017-05-24 16:43] apelisse commented on #46353
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2017-05-24 16:43] #46353 closed

[2017-05-24 16:44] deads2k commented on #20051
Every resource is separate in  etcd since we do `prefix/resource/namespace/name`.  You could improve the deletecollection, sure, but you'll still need to find all the items.  In addition, direct etcd deletes would eliminate all graceperiods, which probably isn't the intent.

[2017-05-24 16:45] apelisse commented on #46328
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2017-05-24 16:45] #46328 closed

[2017-05-24 16:52] MrHohn commented on #46313
#45524 is updating the firewall e2e test to detect nodes healthcheck firewall as well, and that will be able to catch the issue described above. Will close this issue via that PR.

[2017-05-24 16:56] kachkaev commented on #33729
If anyone has been able to overcome this, could you please share what the problem was? Starting with a  shiny-new single Ubuntu 16.04 and am following [the official kubadm tutorial](https://kubernetes.io/docs/getting-started-guides/kubeadm/), but am facing this just like others:
`[apiclient] Created API client, waiting for the control plane to become ready`

[2017-05-24 16:57] foxish opened #46361 "kubectl drain should print progress when it is attempting evictions"
The current experience around `kubectl drain` when the eviction is forbidden by a PDB is that it simply hangs and reports no status back to the user. We should improve this so that we at least print the operation we're trying to do, to give the user some idea of progress.

/cc @kubernetes/sig-cli-feature-requests

[2017-05-24 17:06] rootfs commented on #46140
@rmmh agree, oci looks not working with #45995

good news is fix is under way https://github.com/kubernetes/kubernetes/pull/46352

[2017-05-24 17:21] spzala commented on #18062
@MikeSpreitzer agree, it seems like the docs changed totally. I also found the link was broken in itself and tried to fix it here https://github.com/kubernetes/kubernetes/pull/46348#issuecomment-303742484  If you think this issue no longer relevant, does it make sense to close it? Thanks!

[2017-05-24 17:22] mikedanese commented on #35359
This is the ticket. The test is to grab a mac and run make bazel-build

[2017-05-24 17:23] mikedanese commented on #35359
Also https://github.com/mikedanese/gazel/issues/6

[2017-05-24 17:25] bobveznat opened #46364 "MountVolume.SetUp succeeded for volume fills log files"
**Kubernetes version**: 1.5.7

**Environment**:
- **Cloud provider or hardware configuration**: bare-metal installation on aws
- **OS** (e.g. from /etc/os-release): ubuntu 16.04.2
- **Kernel** (e.g. `uname -a`): 4.4.0-1016-aws
- **Install tools**: Custom installation
- **Others**:

**What happened**:
kubelet loves to tell me that "MountVolume.SetUp succeeded for volume". I have a reasonably small

[2017-05-24 17:25] derekwaynecarr commented on #20051
we should also check what resource requirements are for controller-manager are in this case?  its running as a pod, and maybe it is getting cfs throttled?

[2017-05-24 17:25] ahmetb opened #46365 "flake: certificates_TestCertificateController: index out of range"
Just hit this flake: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46242/pull-kubernetes-unit/32395/

[code]

[code]

[2017-05-24 17:25] jessfraz commented on #39845
I'll open a proposal this afternoon :)

On May 22, 2017 7:01 PM, "Jess Frazelle" <notifications@github.com> wrote:

[2017-05-24 17:26] ncdc commented on #20051
In a recent e2e flake, it took 2 minutes between the http delete and the queue pop. We don't have prometheus metrics gathering enabled for PR CI jobs (I plan to submit a PR for this to test-infra, along with one here to enable gathering namespace controller metrics), but I am inferring that we had a decently sized work queue, and the majority of the sync loops took 10-15 seconds in this 2 minute w

[2017-05-24 17:29] caseydavenport commented on #18062
That doc was removed due to it being really out of date and not the recommended install pattern any more.

If there are remaining links to that document they should be removed in favor of links to either the kubeadm documentation or docs.projectcalico.org.

[2017-05-24 18:02] saad-ali commented on #46364
Duplicate of https://github.com/kubernetes/kubernetes/issues/29059. Closing in favor of that. But agreed this needs to be fixed (sad that it's slipped through so many releases).

[2017-05-24 18:02] #46364 closed

[2017-05-24 18:06] akram commented on #13382
Hi,
I don't know if this would help, but....
we were having this issue because of a wildfly image running the KUBE_PING component, and the JVM hosting this configuration was not preventing TLSv1.0

to do so, we added: -Dhttps.protocols="TLSv1.1,TLSv1.2"

[2017-05-24 18:11] MikeSpreitzer commented on #18062
Yes, I think the table at https://kubernetes.io/docs/setup/pick-right-solution/#table-of-solutions should have a pointer into the Calico docs with "IaaS Provider" = "any" or "bare metal" or "N/A" or "don't care".

[2017-05-24 18:12] wojtek-t commented on #46347
@pizzarabe - can you please provide the whole scheduler log? This is definitely some kind of race, and without logs it will be hard to debug (I think we fixed some issue with it in 1.5.x, but it seems there is something more here...)

[2017-05-24 18:14] smarterclayton commented on #20051
Unfortunately O(1) delete doesn't work for pods, because graceful deletion
isn't one step.  So pods will always be the long pole.

On Wed, May 24, 2017 at 1:26 PM, Andy Goldstein <notifications@github.com>
wrote:

[2017-05-24 18:14] smarterclayton commented on #46347
we were mutating the shared cache from a threaded environment, so my changes should in theory fix that.

[2017-05-24 18:22] ncdc commented on #20051
FYI, the kube-controller-manager in GCE deployments looks to have requests.cpu=200m (https://github.com/kubernetes/kubernetes/blob/688c19ec710340986ba0a86730dd1add7acc5b3a/cluster/saltbase/salt/kube-controller-manager/kube-controller-manager.manifest#L110).

[2017-05-24 18:30] spzala commented on #18062
@MikeSpreitzer thanks, sounds good, looking at the table I guess the right repo is https://github.com/kubernetes/kubernetes.github.io

[2017-05-24 18:31] wojtek-t commented on #20051
We are still officially supporting etcd v2. So unless the implementation can be just put into etcd v3 code, we can't do it.
BTW - I think that we are doing graceful deletion for some objects, which etcd can't really do...

[2017-05-24 18:32] wojtek-t commented on #20051
@ncdc

These only translates to shares - they sum up to ~1 core. If the machine is bigger than 1 core, then it will be allowed to use more. And note that this is request, so if there are free resources on the machine, we can use them.

[2017-05-24 18:35] yujuhong opened #46370 "pull-kubernetes-e2e-kops-aws is flaky"
The pull-kubernetes-e2e-kops-aws suite has been very flaky recently. Sometimes nodes don't come up during cluster setup, sometimes tests failed even though the change was trivial. It seems to be much more unstable than other suites.

Here are recent failures:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46309/pull-kubernetes-e2e-kops-aws/26529/
https://k8s-gubernator.ap

[2017-05-24 18:39] wojtek-t commented on #20051
I briefly looked into the code, and I'm seeing this:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/namespace/deletion/namespaced_resources_deleter.go#L420
Which means that namespace controller is deleting objects one by one.

Can we instead try using: "DeleteCollection" api call in apserver:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg

[2017-05-24 18:40] ncdc commented on #20051
@wojtek-t I have not seen evidence of throttling taking place _during the delete-to-pop latency interval_. I have looked repeatedly in logs from multiple jobs, and while there is throttling occurring, it never seems to be where I would expect it (i.e., it's not the smoking gun).

[2017-05-24 18:40] derekwaynecarr commented on #20051
@wojtek-t - we do delete collection if its supported.  as for resources, i was more concerned to see if it had a limit.  i am not sure how you got your sum to ~1 core statement, but if there is no contention, it can obviously use more than 204 shares of cpu time.

[2017-05-24 18:41] liggitt commented on #20051
it first tries to delete the collection:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/namespace/deletion/namespaced_resources_deleter.go#L450

[2017-05-24 18:45] yujuhong commented on #46255
@runcom @Random-Liu, if resolving an image reference to an image ID cannot be done without pulling down the images, I think the function is not that useful in CRI in its current form. I also looked at containerd's resolver and I think the usage there assumes more knowledge about the pullable references than CRI needs. For that reason, I'd rather drop the ResolveImage addition from the original pro

[2017-05-24 18:45] wojtek-t commented on #20051
@liggitt - thanks for the link. and sorry for confusion

@derekwaynecarr

summing up requests from both etcd instances, apiserver, scheduler, controller manager, glbc, ... => it sums up to 9xx millicores

[2017-05-24 18:45] timothysc commented on #46347
xref: https://github.com/kubernetes/kubernetes/pull/46223

[2017-05-24 18:48] ericchiang opened #46374 "[flake] certificates controller unit test flake"
Seen in https://github.com/kubernetes/kubernetes/pull/45932

[code]

@mikedanese happy to send a fix but didn't know if this might have been address with your current refactors.

Output:

[code]

[2017-05-24 18:49] deads2k commented on #20051
Opened https://github.com/kubernetes/kubernetes/pull/46373 to avoid extra queuing.  Not sure what, if anything would be updating namespaces, but it would keep the queue smaller if we're fighting for CPU.

[2017-05-24 18:51] runcom commented on #46255
well, for oci/docker images that will be just pulling down the config, hashing it and have the Image ID, but I'm not understanding how that could be _opaque_ as Stephen told us before...

That said, I'd rather drop ResolveImage as well, containerd's Resolvers effectively play with remote stuff to gather info.

[2017-05-24 18:55] spzala commented on #17558
@dalanlan  - hi, just a follow up, wondering if you had a chance to look at #17244?, and see if that provides a good solution for this issue?

[2017-05-24 18:55] wojtek-t commented on #20051
@ncdc - if you can share some runs where we hit this issue (I mean logs from them), I can also try looking into them.

[2017-05-24 18:58] ncdc commented on #20051
@wojtek-t the 2 failures from [here](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/pull/46116/pull-kubernetes-e2e-gce-etcd3/). I've specifically been looking at 31862.

[2017-05-24 19:04] bsalamat commented on #46347
Given this issue, it is important to backport Clayton's fix to 1.6 and 1.5.

[2017-05-24 19:19] spzala commented on #17785
@minxinping0105 Hello, did you find answer? As @pwittrock mentioned this seems more like a support/help question and asking on stackoverflow can provide a quick answer. Can we please close this issue? Thanks!

[2017-05-24 19:19] spzala commented on #17785
/cc @thockin

[2017-05-24 19:31] wojtek-t commented on #20051
@ncdc - I looked into this run and it seems that everything is working as expected. Looking only into logs from this line:
[code]
They are just dense in time. I mean keeping in mind that there are 2 workers, looking into time it took for each of the sync it's pretty clear that as soon as the previous one ends the next one starts.

I'm just surprised that you say that increasing the amount of worke

[2017-05-24 19:34] ncdc commented on #20051
@wojtek-t see my PR https://github.com/kubernetes/kubernetes/pull/46067. I think I remember that it reduced the overall deletion time (as observed by the e2e framework; I have a script to download, parse, and get stats) only by 3 or 4 minutes for the entire test run. We can certainly run it several more times and see.

[2017-05-24 19:38] yujuhong commented on #46255
That was my understanding (i.e., no need to pull down the entire image) as well.

Since CRI doesn't understand any of the pullable references, let's drop this function then.

I think the only thing that remains is whether image ID should be opaque, and what that means in CRI. We can iterate on that.

[2017-05-24 19:38] k8s-merge-robot opened #46378 "Failure cluster [c0e311...] failed 58 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [c0e31161c6efb83e21da](https://go.k8s.io/triage#c0e31161c6efb83e21da)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    58 builds failed.
Failure stats cover 1 day time range '23 May 2017 16:00 UTC' to '24 May 2017 16:00 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 2 |

##### Top f

[2017-05-24 19:39] k8s-merge-robot opened #46379 "Failure cluster [02bd8b...] failed 49 builds, 7 jobs, and 1 tests over 1 days"
### Failure cluster [02bd8ba009292ae49af5](https://go.k8s.io/triage#02bd8ba009292ae49af5)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    7 jobs failed,    49 builds failed.
Failure stats cover 1 day time range '23 May 2017 16:00 UTC' to '24 May 2017 16:00 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 7 |

####

[2017-05-24 19:41] caesarxuchao commented on #45143
I think implementing in an admission controller is not wrong. Thinking out loud, it would be even better if this could be expressed via [DeleteOptions.Precondition](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L405), though i don't have a concrete idea.

[2017-05-24 19:42] cblecker commented on #45216
It looks like this made it into golang 1.8.3 (tagged, but still pending binary release and docker hub image update).

[2017-05-24 19:45] ncdc commented on #20051
@wojtek-t also, re something like `Finished syncing namespace "e2e-tests-horizontal-pod-autoscaling-qfxzb" (7.358179462s)`, I've found that when I run a single focused test, the times to finish syncing that one namespace tend to be quite small (whether it's one sync loop iteration or multiple). It only seems to take 7-15 seconds per iteration when there's multiple tests happening in parallel. I gu

[2017-05-24 19:49] cmluciano commented on #43340
Thanks @pmichali

[2017-05-24 19:50] cmluciano commented on #46378
@kubernetes/sig-storage-bugs

[2017-05-24 19:52] cmluciano commented on #46379
i'm not quite sure whom the owner should be for this issue @fejta

@kubernetes/sig-testing-bugs

[2017-05-24 19:54] jeffvance commented on #25268
@msau42 @jayunit100 @timothysc:
I'm looking at possibly combining tests for this issue and [28367](https://github.com/kubernetes/kubernetes/issues/28367) in a single suite. Also I've been looking at the existing _logging_soak.go_ and _storage/volumes.go_ tests for ideas.
Questions:
1. should this new test be its own file or would it be better to leverage an existing test? Adding a new `It` block t

[2017-05-24 19:54] #17785 closed

[2017-05-24 19:55] wojtek-t commented on #20051
@ncdc - sorry, I think I don't understand this. What exactly are you measuring? Time between DELETE namespace request and when it is deleted? Or something else?

[2017-05-24 19:56] bradfitz commented on #45216
Yes, https://github.com/golang/go/commit/f55bc1c4ebea3feffed484b7fa8cddb4cd07c1c3 is included in Go 1.8.3, to be released in the next hour or so.

[2017-05-24 19:58] mikedanese commented on #46374
This looks new. I'd happily review a fix. Thanks.

[2017-05-24 19:59] wojtek-t commented on #45216
@bradfitz - thanks a lot!
I will update kubernetes to use it tomorrow.

[2017-05-24 20:00] ncdc commented on #20051
@wojtek-t yes, the time between DELETE namespace request and when an external client sees that it's been deleted (https://github.com/kubernetes/kubernetes/blob/7df01780768de82c635f0ae0c58c15f2be152bda/test/e2e/framework/util.go#L1015).

[2017-05-24 20:04] madhusudancs opened #46380 "Federation cluster scripts accidentally delete PV's."
We have a PVC that uses the alpha annotation to dynamically provision a GCE PD/PV. Sometimes in our test environment, the dynamically provisioned PV gets automatically deleted by the PV controller without any of us deleting the PVC. I am attaching the controller manager logs here: [kube-controller-manager.log-20170523-1495580401.gz](https://github.com/kubernetes/kubernetes/files/1026899/kube-contr

[2017-05-24 20:04] wojtek-t commented on #20051
@ncdc and this ```3-4 minutes for the entire test run``` is the sum over all tests? What percentage is it?

[2017-05-24 20:04] justinsb commented on #27548
Regardless of etcd2/etcd3 concerns, note that it's going to be tricky to do transactions across different resources, because of `--etcd-servers-overrides` - I think it requires support for something like two-phase commit.

[2017-05-24 20:05] hongchaodeng commented on #43632
I saw that the HostAlias's comment:
[code]
I'm wondering why it couldn't work to hostNetwork pods? And how does a hostNework pod initialize its /etc/hosts file?

[2017-05-24 20:07] jayunit100 commented on #25268
- own file for sure under storage/
- IMO run on all nodes like we do in logging_soak with a target percentage of 50% of nodes completing or something.  Make that percentage viperizable as well.
- the nice thing is that the echo+sleep means you can pull down a tiny e2e test image from test/images/ as the base image and customize it in the e2e test code, rather then having to maintain separate code

[2017-05-24 20:08] justinsb commented on #20051
And they might not even be on the same etcd server, because of `--etcd-servers-overrides`!

[2017-05-24 20:11] madhusudancs commented on #46380
PVC

[code]

[2017-05-24 20:13] henriquetruta opened #46381 "Add `kubectl config merge` command"
`gcloud`/GKE has an efficient way of getting credentials from somewhere by using the `get-credentials` command that automatically merges the content of a remote cluster in a local kubeconfig file. We want to have something similar in k8s. A first approach would be having two kubeconfig files locally and being able to merge the content of one into the other without needing to do manual copy/paste.

[2017-05-24 20:19] henriquetruta commented on #46381
@nikhiljindal @madhusudancs can you take a look?

[2017-05-24 20:19] justinsb commented on #13382
We did fix a long-standing bug with NodePort services, where they would leak sockets if there were no endpoint behind the service.  Easy to see if you are affected, because you'll have lots of sockets in `sudo netstat -anp | grep CLOSE_WAIT` - hundreds if not thousands.

More details e.g. https://github.com/kubernetes/kubernetes/issues/43212#issuecomment-287511016

The typical way this was manifes

[2017-05-24 20:22] ncdc commented on #20051
@wojtek-t now that I think about it, the 3-4 minutes was the time as reported in the build log as e.g. `Ginkgo ran 1 suite in 18m32.474254911s`.

In the current form for PR 46067, which increases the workers to 5 and hard-codes the requeue time to 2 seconds instead of looking at the estimate, it ended up decreasing the overall sum from an average of around 24000-25000 seconds down to 14000 seconds

[2017-05-24 20:26] ncdc commented on #20051
Here are some stats for a random PR I looked at (https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/46242/pull-kubernetes-e2e-gce-etcd3/31903/build-log.txt):

[code]

Here is my 1 sample:

[code]

[2017-05-24 20:27] thockin commented on #43632
@rickypai Are we still missing a test for this?  I'd hate to have to kick it out of the 1.7 release for lack of tests..

[2017-05-24 20:27] gmarek commented on #26507
That being said I plan to merge OpenTracing instrumentation for our client-go/registry, so that we'll allow users to easily include our client into their traces.

[2017-05-24 20:29] smarterclayton commented on #46347
We can actually do a much smaller fix - just copy before you put things
back in the cache.  If that's the actual problem here (may not be).

On Wed, May 24, 2017 at 3:04 PM, Bobby (Babak) Salamat <
notifications@github.com> wrote:

[2017-05-24 20:30] kargakis commented on #27548
Proportional scaling in Deployments could benefit from this since we need to scale multiple ReplicaSets at the same time.

[2017-05-24 20:32] thockin commented on #17558
This is 16 months since last update.  Closing :)

[2017-05-24 20:32] #17558 closed

[2017-05-24 20:38] spzala commented on #18282
Hi all, this issue is over a year old, wondering if we have any update on it, as trying to help close issues that are open for long time? I could recreate the issue, i.e. "kubectl delete namespace x" deletes x where as, "kubectl delete namespace --all" works fine by deleting namespaces except 'default' and 'kube-system' which supposed not to be removed,
Error from server (Forbidden): namespaces "d

[2017-05-24 20:42] rickypai commented on #43632
yes we are still missing a test. what's the deadline for 1.7 release? sorry i was on PTO and dropped the ball

[2017-05-24 20:42] caseydavenport commented on #42314
/sig network

[2017-05-24 20:43] liggitt commented on #18282
Yes, it is working as designed.

[2017-05-24 20:43] #18282 closed

[2017-05-24 20:44] timothysc commented on #27548
The only reason that feature existed was due to limitations in v2, it should be deprecated.

[2017-05-24 20:44] caseydavenport commented on #44187
I think this can be closed since it's covered in #45790.

/assign

[2017-05-24 20:44] rickypai commented on #43632
@hongchaodeng hostNetwork pods uses the host's `/etc/hosts` file, while only non-hostNetwork pods have `/etc/hosts` managed by kubelet

[2017-05-24 20:45] caseydavenport commented on #44187
/close

[2017-05-24 20:45] #44187 closed

[2017-05-24 20:46] liggitt commented on #44187
Typically newer issues are closed in favor of older ones :)

[2017-05-24 20:56] ncdc commented on #46374
Dupe of #46365

[2017-05-24 21:01] msau42 commented on #46378
The glusterfs test is failing on gci:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/8666#test

[2017-05-24 21:01] spzala commented on #18282
Thanks @liggitt

[2017-05-24 21:04] yujuhong commented on #43632
Just chatted @hongchaodeng on slack, for containers using the host network, docker actually makes a copy of "/etc/hosts" on the host for each of them. I think kubelet can potentially support HostAliases for hostnetwork pods by copying and mounting the file. Not sure if there are be other concerns though.

[2017-05-24 21:09] xiangpengzhao commented on #30042
ref: #46321

@PengTaoWW

[2017-05-24 21:09] xiangpengzhao commented on #46321
/cc @timstclair

[2017-05-24 21:10] caseydavenport commented on #44187
d'oh, sorry.

[2017-05-24 21:13] mikedanese commented on #46374
https://github.com/kubernetes/kubernetes/pull/46383

[2017-05-24 21:13] mikedanese commented on #46365
https://github.com/kubernetes/kubernetes/pull/46383

[2017-05-24 21:13] #46374 closed

[2017-05-24 21:18] paalkr commented on #45887
Hi Guys

I'm facing the exact same issue as @davidmccormick trying to run the k8s cifs plugin located at https://github.com/sigma/cifs_k8s_plugin in my 1.6.2. cluster. Any ideas what needed to be done to get the plugin going?

I have tried to contact the dev without success.

Thanks in advance, and sorry for "hijacking" the  thread ;)

[2017-05-24 21:35] gaballard commented on #30656
What's the status on this? This functionality would be highly useful

[2017-05-24 21:36] vishh commented on #46007
SGTM

On Thu, May 25, 2017 at 12:19 AM, cmluciano <notifications@github.com>
wrote:

[2017-05-24 21:37] vishh commented on #44107
Or change the milestone on this issue?

On Thu, May 25, 2017 at 12:23 AM, cmluciano <notifications@github.com>
wrote:

[2017-05-24 21:39] rickypai commented on #43632
@yujuhong if you make the change to make kublet copy and manage `/etc/hosts` for hostNetwork  pods, I can make the change for HostAliases.

one concern: currently, the `/etc/hosts` logic includes [writing the hostnames of Pod](https://github.com/kubernetes/kubernetes/blob/99a8f7c3031fc288ac2229f9d3e94bceaa0529fb/pkg/kubelet/kubelet_pods.go#L232-L236), including [custom hostnames and subdomains](ht

[2017-05-24 21:48] gnufied commented on #37705
There is a proposal open for growing Persistent Volumes - https://github.com/kubernetes/community/pull/657 .

[2017-05-24 22:02] mikedanese commented on #44650
Just looked at the last few failures and I see that we failed to reboot because:
[code]
but dumping the node object:
[code]
It definitely has a PodCIDR. It seems like there are likely multiple issues at play here.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/9173/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2

[2017-05-24 22:08] wongma7 commented on #46204
@ntfrnzn's proposed fix sgtm

[2017-05-24 22:12] rickypai commented on #43632
added node e2e test: #46385

[2017-05-24 22:14] dhawal55 opened #46386 "Daemonset pods not getting deployed after failing certain number of times"
**Kubernetes version** (use `kubectl version`):
1.6.2

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Container Linux by CoreOS v1381.1.0
- **Kernel** (e.g. `uname -a`): v4.10.12

**What happened**:
I deployed an app as daemon set. It failed to run the pod on one of the nodes due to the following reason:
 ```46m		46m		87	daemonset-control

[2017-05-24 22:14] stevvooe commented on #46255
For the purpose of image ID, I am basically warning against using what OCI calls an image ID. It is _very_ specific to the particular format and isn't really pullable. In general, we should treat the manifest digest as the image ID. (We should probably remove that concept from OCI, as it is really specific to the history of docker).

To make the ID opaque, something like `ResolveImage` is required

[2017-05-24 22:21] wongma7 commented on #46380
The PV got deleted somehow and so PVC entered Lost state. If we rule out that PV was accidentally deleted or it wasn't deleted at all then potentially there's an issue of the pv controller's cache getting out of sync with reality or something of that nature

I0523 22:08:01.361501       5 pv_controller_base.go:215] volume "pvc-4723f163-4004-11e7-a75a-42010a80000a" deleted

[2017-05-24 22:28] wongma7 commented on #46380
I don't see "doDeleteVolume [pvc-4723f163-4004-11e7-a75a-42010a80000a" so I'm inclined to think the PV object was accidentally deleted by a user.

ping @jsafrane since this involves PV controller

[2017-05-24 22:34] enj opened #46387 "panic in ResourceConsumer during e2e test"
Seen in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45913/pull-kubernetes-e2e-gce-etcd3/31840/?log#log

Both seem to have occured:

[code]

[code]

[code]

[2017-05-24 22:40] runcom commented on #46255
@stevvooe could you actually provide an example flow? What does that mean?

1. Kubelet calls ResolveImage -> hit local storage as you described, image does not exist... No image ID for ImageStatus
2. End

[2017-05-24 22:41] jdconley commented on #24745
@zoidbergwill WebSockets don't seem to be enabled on the GCE Ingress Controller for HTTPS, or at least I don't know how to configure it properly. Have you tried to set it up without running your own nginx pods for Ingress?

I'm using an Ingress pointing to my service, just like [the example](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce/examples/https) which in GCE does

[2017-05-24 22:58] animeshsingh commented on #28698
So where does it stand now? Do we have Docker 1.12 working in Minikube?

[2017-05-24 22:59] stevvooe commented on #46255
@runcom This process is a resolution. It can have multiple stages of resolution:

1. Kubelet calls ResolveImage -> hit local storage as you described, image does not exist... No image ID for ImageStatus.
2. Query registry using image reference.
3. Return image digest.

This seems necessary if you want to keep the image ID opaque to the caller.

Allowing `ImageStatus` to take a "pullable reference"

[2017-05-24 23:09] mikedanese commented on #44650
I see:
[code]

in the logs of gs://kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/9173/artifacts/err-e2e-minion-group-s7vb/kubelet.log

So the kubelet gets a cidr then immediatly goes not ready. Then a bit later I see:
[code]
So this is not due to lack of pod cidr from the controller-manager it seems

[2017-05-24 23:23] caseydavenport commented on #45790
So I think this issue can be closed since it sounds like k8s is behaving as designed.

We should update our documentation for plugin writers (does such a thing exist?) about expected behavior and responsibilities, and ensure authors for common plugins are aware of this.

Does that sound right?

[2017-05-24 23:30] cblecker opened #46391 "Upstream go security issue with crypto/elliptic"
Yesterday, the golang team released go 1.7.6 and go 1.8.2 to address a security issue involving the `crypto/elliptic` package. There is currently no known exploit, but as we have dependencies on this package in kubernetes, we should upgrade the versions of go we are using.

Details are here:
https://github.com/golang/go/issues/20040

As we are updating master/1.7 to use go 1.8.3 (https://github.co

[2017-05-24 23:32] cblecker commented on #46391
cc @kubernetes/kubernetes-release-managers as I misspelled it the first time

[2017-05-24 23:35] msau42 commented on #46380
@madhusudancs can you also attach apiserver logs?

[2017-05-24 23:38] MikeSpreitzer commented on #18062
See https://github.com/kubernetes/kubernetes.github.io/issues/3892 for the successor issue.

[2017-05-24 23:38] #18062 closed

[2017-05-24 23:48] spzala commented on #18062
Thanks @MikeSpreitzer

[2017-05-24 23:48] alexandercampbell commented on #15244
Can we close this and reopen in the `community` repository? (or perhaps in kubernetes.io?)

[2017-05-24 23:55] alexandercampbell commented on #15244
I want this ticket, by the way.

[2017-05-25 00:22] dchen1107 opened #46393 "After upgrade to master branch from 1.6, test ([k8s.io] DNS should provide DNS for pods for Hostname and Subdomain Annotation) consistently fail"
https://k8s-testgrid.appspot.com/1.6-master-upgrade#gke-cvm-gci-upgrade-master

[code]
@monopole
@kubernetes/kubernetes-release-managers

[2017-05-25 00:27] thockin commented on #43632
THANKS!

On Wed, May 24, 2017 at 3:12 PM, Ricky Pai <notifications@github.com> wrote:

[2017-05-25 00:35] dchen1107 commented on #46393
cc/ @bowei

[2017-05-25 00:38] madhusudancs commented on #46380
@msau42 we don't have the API server logs for the attached controller manager logs unfortunately. That cluster has been torn down. I can attach the API server logs belonging to a different instance when this happens again.

[2017-05-25 01:00] perotinus commented on #46119
Does this happen consistently? Would you happen to have a log from the Federation controller manager? It may have more details about what's going on.

You can get this log by first finding the controller manager pod (`kubectl get pods --namespace=<your_federation_system_namespace> --context=<host_cluster_context>`) and running `kubectl logs <cm_pod_name> --namespace=<your_federation_system_namespa

[2017-05-25 01:01] xiangpengzhao commented on #46274
I tried `make GOLDFLAGS="-s -w"`, it works expected. I have a quick view of make scripts, it seems like `make quick-release` doesn't respect `GOLDFLAGS`.

@thockin would you please confirm this? Thanks!

[2017-05-25 01:01] mikedanese commented on #44650
Can someone on storage tell me why we got `list of unattached/unmounted volumes=[socket docker]` in the last 2/3 failures? @kubernetes/sig-storage-bugs

Can someone from node tell me why we got `failed to "StartContainer" for "prometheus-to-sd-exporter" with rpc error: code = 2 desc = failed to create symbolic link "/var/log/pods/13fe85fa-4092-11e7-a0d7-42010a800002/prometheus-to-sd-exporter_1.log

[2017-05-25 01:05] janetkuo commented on #33245
@vnandha `kubectl delete` deletes resource cascadingly by default. DaemonSet cannot finish cascading deletion without all of its pods be gone. You can resolve this by either forcefully delete that pod and then delete the DaemonSet, or delete the DaemonSet with `--cascade=false`, and then delete its pods manually.

[2017-05-25 01:42] shiywang commented on #46226
@spiffxp @ixdy thanks, I'll close this issues but still lots of `pull-kubernetes-federation-e2e-gce` tests failed

[2017-05-25 01:42] #46226 closed

[2017-05-25 01:47] xiangpengzhao commented on #46357
/assign

I reproduced it. Will fix. Thanks @number101010 for reporting!

[2017-05-25 02:05] NickrenREN commented on #46365
Hit this flake too

[2017-05-25 02:30] MikeSpreitzer commented on #29002
I am not so concerned about the UX issue if the delay really is isolated to system start-up (as if there is such a thing). What about this scenario: operator registers a TPR, then waits for all the apiservers running at the time to fully react, and thereafter nothing is prepared for the TPR to be absent.  Some time later another apiserver is added, or an existing one crashes and is re-started.  Wi

[2017-05-25 02:35] gnufied commented on #44650
is there any race in test btw, because I see :

[code]

Something is creating those tokens in the namespace while it is being deleted.

[2017-05-25 02:37] thockin commented on #46274
PRs welcome!

On May 24, 2017 6:01 PM, "Peter Zhao" <notifications@github.com> wrote:

[2017-05-25 02:38] gnufied commented on #44650
@mikedanese rather daft question - but do you know from where that `socket docker` volume is coming from? I have grepped k8s source tree and I can't find any mention of it. It is typically volume-name in pod.

[2017-05-25 02:40] liggitt commented on #29002
@deads2k would know better, but I'd expect the readiness check to fail until the initial sync of registered apiservice objects completed, preventing the new API server from making it into the LB pool

[2017-05-25 02:49] #37874 closed

[2017-05-25 02:49] #37875 closed

[2017-05-25 02:52] msau42 commented on #46378
It started failing on 5/22

It passed with commit 455e9fff0
And failed with commit 286bcc6f5

/assign @humblec
Can you take a look, it looks like #45995 may have caused this failure.

[2017-05-25 02:52] mikedanese commented on #44650
They aren't secrets, just host volumes.

@gnufied https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/e2e-image-puller/e2e-image-puller.manifest#L51-L56

[2017-05-25 02:53] msau42 commented on #46378
@humblec @rootfs can you guys take a look

[2017-05-25 02:57] yurishkuro commented on #26507
@gmarek I'd be happy to review the instrumentation. Do you have a PR?

@timothysc to difference in which models are you referring to?

[2017-05-25 02:59] ZongqiangZhang commented on #46340
**Kubernetes version** : v1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: bare metal Intel Xeon
- **OS** (e.g. from /etc/os-release): CentOS 7.0
- **Kernel** (e.g. uname -a): 3.10.0-123.13.2.el7.x86_64
- **Install tools**: docker v1.12.6
- **Others**:

I hit the problem too after I replace /usr/bin/kubelet with a new binary file. The detailed process is:
[code]
Then, I foun

[2017-05-25 03:16] #36081 closed

[2017-05-25 03:18] jianzhangbjz opened #46402 "How to set the Pod field in v1.ObjectReference struct?"
Hey Guys,

As the title, I need to set a Pod field on [scheduler.go](https://github.com/kubernetes/kubernetes/blob/release-1.6/plugin/pkg/scheduler/scheduler.go#L195) when binding pod to node.
I walk through the related code, as the following shows, and find the `FieldPath` of `ObjectReference`.
[code]
So, I add the `FieldPath` as the below, but it didn't take effect. Something else I missed? Or s

[2017-05-25 03:27] MrHohn opened #46404 "Need a way to deprecate kube feature gates"
From #45857.

We were trying to remove _ExternalTrafficLocalOnly_ from kube feature gates as that feature is going to GA in v1.7 and we don't want users to disable it. Though removing that entry breaks the deprecation policy, which says flags have to have a deprecation window.

As what https://github.com/kubernetes/kubernetes/pull/45857#discussion_r117538180 suggests, we should have a proper way t

[2017-05-25 04:13] xiangpengzhao commented on #46402
/sig scheduling

@davidopp @k82cn

[2017-05-25 04:21] xiangpengzhao commented on #46359
How about also showing commands contributors can use in their PRs?

[2017-05-25 04:23] cblecker commented on #46391
I've created:
- #46408 for the release-1.5 branch
- #46405 for the release-1.6 branch

I'm not sure who the best reviewer is, but I know @luxas and ixdy have helped with the cross build images previously. If either of you are able to take a look, I'd appreciate it :)

[2017-05-25 04:39] ZachGoldberg commented on #45459
Is there any world in which the ipmasq fix would work for pods on nodes other than the master (where DNS is) but not on pods residing on the master itself?

I'm seeing some behavior in one of our services which would be explained by that being the case.  I don't yet have hard evidence, still trying to produce that, but whilst I'm banging my head against the wall on the pods that wont come up on th

[2017-05-25 04:49] supereagle opened #46410 "Deprecate --network-plugin-dir for kubelet"
The deprecation warning has been added in PR #46327

This flag can be removed either after next release(1.8) or 6 months(Nov. 2017), whichever is longer. Keeping this issue open until we remove it.

[2017-05-25 04:51] PengTaoWW commented on #46321
https://github.com/kubernetes/kubernetes/pull/46409/files
if any one want this feature, can email me or see this patch, most code are generated. you just need kubernetes/api/ , kuberentes/pkg/api/types.go , kubernetes/pkg/api/v1/types_swagger_doc_generated.go,
kubernetes/pkg/api/v1/types.go
and run kubernetes/hack/update-codecgen.sh,
kubernetes/hack/update-generated-protobuf.sh
then you use it

[2017-05-25 05:00] thockin commented on #44765
preemptive close - please reopen if still exists

[2017-05-25 05:00] #44765 closed

[2017-05-25 05:00] #16844 closed

[2017-05-25 05:05] runcom commented on #45487
I know how to fix this as it's specific to the Docker package we build for RHEL/Fedora/CentOS. It just requires a Docker API call to gather additional registries and resolve the correct credentials for the unqualified image. Please feel free to assign this to me.

[2017-05-25 05:13] thockin commented on #30073
ouch.  We should fix this.

cluster-domain is sort of important.

[2017-05-25 05:18] #29750 closed

[2017-05-25 05:18] #18193 closed

[2017-05-25 05:19] thockin commented on #29709
Not every ingress implementation needs NodePort, so this is tricky.

@nicksardo

[2017-05-25 05:19] #29797 closed

[2017-05-25 05:20] #29804 closed

[2017-05-25 05:20] #29843 closed

[2017-05-25 05:20] #30071 closed

[2017-05-25 05:24] thockin commented on #46172
I have no idea - please find out and tell me! :)

On Wed, May 24, 2017 at 1:46 AM, Qiu Jian <notifications@github.com> wrote:

[2017-05-25 05:27] superbrothers commented on #46381
Can `kubectl config view` meet your requirements?
[code]
https://kubernetes.io/docs/user-guide/kubectl-cheatsheet/

[2017-05-25 05:28] nicksardo commented on #29709
I don't think there's anything we can do in validation because of the different implementations. The GCE ingress controller should surface an event and be visible when describing the ingress object. Do you remember which controller with which you experienced this?

[2017-05-25 05:30] krmayankk commented on #41394
/assign @krmayank

[2017-05-25 05:32] krmayankk commented on #41394
/assign @krmayankk

[2017-05-25 05:36] gyliu513 commented on #44063
Does the [kube-router](https://github.com/cloudnativelabs/kube-router) can help this?

[2017-05-25 05:43] gmarek commented on #26507
I have WIP one - I'll send it out once I have some time to clean it up.

[2017-05-25 05:51] berlinsaint commented on #46077
@cmluciano  yes i can close it ,but i want to know if there did exists the problem with ubuntu 14.04 ,and kerner version :`Linux i-40C8C8F5 3.13.0-24-generic #46-Ubuntu SMP Thu Apr 10 19:11:08 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux`
i don't find the any more  explanations abuut it and some other people encountered this problem too.

[2017-05-25 06:45] madhusudancs commented on #46381
`kubectl config view` might not work as is as it redacts certificate data. `kubectl config view --flatten` might, but I have never tried that with multiple kubeconfigs.

cc @kubernetes/sig-cli-feature-requests

[2017-05-25 06:55] eelyaj commented on #39592
I got this issue too. the workaround works, thanks.

[2017-05-25 07:01] timstclair commented on #46404
I propose:

1. Update the feature gate `prerelease` (?) to `GA`
2. Remove references to the feature gate in the code (i.e. feature gate doesn't do anything)
3. If a launched (GA) feature is explicitly disabled, show a warning that it doesn't do anything, and that the feature will be removed in a future release
4. After N releases in GA, delete the feature gate (N = 2?)

Is this compatible with the

[2017-05-25 07:04] jmhodges commented on #29709
It was the GLB one for GKE

[2017-05-25 07:18] WIZARD-CXY commented on #46070
@cmluciano  the container wasn't running in privileged mode as u said above.
[code]
The other program is a proprietary ml training program using mxnet. I don't know much about mxnet.

[2017-05-25 07:19] shiywang commented on #46381
@madhusudancs @superbrothers
`KUBECONFIG=~/.kube/config:~/config kubectl config view --flatten` works, but I think adding this `kubectl config merge` is also ok, I can implement this since I'm working on another `kubectl config` subcommand
cc @kubernetes/sig-cli-feature-requests

[2017-05-25 07:28] WIZARD-CXY commented on #46070
I will use some simple image and try to reproduce this if possible

[2017-05-25 07:43] DjangoPeng commented on #39845
@jessfraz So can we use the default profile to set seccomp as `docker/default` now?

[2017-05-25 07:46] fejta commented on #46379
/remove-sig testing
/sig network

[2017-05-25 07:53] fejta commented on #45196
Look at the testgrid config for that job. What is the filter regex? Which row do you expect it to match?

[2017-05-25 07:56] fejta commented on #30449
Reopen it you're asking permission to implement this.

Otherwise this isn't something my team will prioritize

[2017-05-25 07:56] #30449 closed

[2017-05-25 08:02] feiskyer commented on #39845
I think we should spec the seccomp format first, refer #39128. or else, other container runtimes couldn't know how to process `docker/default`.

[2017-05-25 08:19] wojtek-t commented on #20051
That sounds like something we would like to push more.

[2017-05-25 08:28] wojtek-t commented on #46347
@smarterclayton @timothysc - can you clarify why do you think this PR can help with this problem? I looked into it again, and I don't see any place where we didn't do copy and we are doing now. I agree it fixes watch semantics, but this is unrelated to this issue.

[2017-05-25 08:33] xiangpengzhao commented on #46284
close as per: https://github.com/kubernetes/kubernetes/pull/45718#issuecomment-303386844 https://github.com/kubernetes/kubernetes/pull/21004#issuecomment-187868939

[2017-05-25 08:33] #46284 closed

[2017-05-25 08:34] madhusudancs commented on #46381
@shiywang it is up to SIG-CLI to decide.

[2017-05-25 08:38] gmarek commented on #43049
I'm not sure if service problems are related, as @yanyanhu didn't mention them at all. This is interesting issue, that we certainly need to investigate at some point.

@kargakis - honestly I don't think the problem is in controller manager, but we should check it either way. My guess would be some leftover cleanup work on kubelet, or something finishing work on the apiserver/etcd side. The problem

[2017-05-25 08:39] shiywang commented on #46381
@madhusudancs sure, we'll wait for @kubernetes/sig-cli-maintainers to decide.

[2017-05-25 08:57] bboreham commented on #45790
My searches say no, not yet.

In my view this change should have gone into the release notes (i.e. "stopped setting hairpin mode for non-kubenet veths")

[2017-05-25 09:18] dshulyak commented on #42995
@shashidharatd Are you going to work on it in nearest time? I can help probably

[2017-05-25 09:18] shyamjvs commented on #15665
Just FYI, there's ongoing design for watching list of resources - https://github.com/kubernetes/community/pull/443

[2017-05-25 09:42] ComeMaes opened #46421 "Azure disk fails to attach and mount, causing rescheduled pod to stall following node disruption"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Azure, disk, detach, attach, ContainerCreating

---

**Is this a BUG REPORT or FEAT

[2017-05-25 09:42] dixudx commented on #46402
@jianzhangbjz You also need to modify [function in pkg/registry/core/pod/storage/storage.go#L128-L140](https://github.com/kubernetes/kubernetes/blob/release-1.6/pkg/registry/core/pod/storage/storage.go#L128-L140) accordingly. Currently only `Name`, `Target.Name` and `Annotations` are used. So you have to modify related functions to utilize your added attribute `Target.FieldPath`.

[2017-05-25 09:43] kargakis commented on #46386
@kubernetes/sig-apps-bugs likely fixed by https://github.com/kubernetes/kubernetes/pull/45649 or https://github.com/kubernetes/kubernetes/pull/46307

[2017-05-25 10:07] wanghaoran1988 commented on #7666
I am working on the workload parts, pr: https://github.com/kubernetes/kubernetes/pull/46425

[2017-05-25 10:15] wanghaoran1988 commented on #43325
I am volunteered to take this job if no one start working on this.

[2017-05-25 10:28] shashidharatd commented on #42995
@dshulyak, I am not working on it right now and haven't started, but was on my list.
So feel free to take it up.

[2017-05-25 10:44] PengTaoWW commented on #46321
@xiangpengzhao https://github.com/kubernetes/kubernetes/pull/46426  cleancode version

[2017-05-25 10:57] jessfraz commented on #39845
For other runtimes that is why we are using the docker default as a base...
not literally docker/default. but yes we can spec it out

On Thu, May 25, 2017 at 04:02 Pengfei Ni <notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2017-05-25 11:20] wojtek-t commented on #46391
Bump to 1.8.3 at head is happening in: https://github.com/kubernetes/kubernetes/pull/46429

[2017-05-25 11:27] wojtek-t commented on #20051
Anyway - given the flakiness ratio of these errors, I vote for at least sending a PR bumping amount of workers to 5 asap.

[2017-05-25 11:30] ncdc commented on #20051
I can do that but I won't be at my computer for another 2 hours.

On Thu, May 25, 2017 at 7:28 AM Wojciech Tyczynski <notifications@github.com>
wrote:

[2017-05-25 11:31] jazzsir commented on #46188
@caseydavenport

I think "work01" doesn't have a problem. but I am not sure "master01"...
[code]

As you might guess, there are problems between node and cluster IP.
[code]
It's able to ping between pod and podIP / pod and NodeIP (sometimes unable to ping from dnsmasq to master01)
But, unable to ping between 172.30.1.100(master01) and 10.3.0.10(cluster-ip).
IPtables said "dns has no endpoints " as

[2017-05-25 11:34] wojtek-t commented on #20051
Sure - 2 hours doesn't really matter. I can also send out this PR if you want.

[2017-05-25 11:57] pmichali commented on #45978
Corrected the other two issues with my latest commit on #46138, but still see this issue.

[2017-05-25 12:22] deads2k commented on #29002
`/healthz` will report unhealthy until the apiservices are synced, but TPR was based on an unusual polling technique that can take about 10 seconds.  I'm not certain when it will be ready.  CRD is based on the state of an informer's list/watch, so its much more current.

[2017-05-25 12:25] jazzsir commented on #46188
@thockin You are really amazing
It is a curious thing, indeed
I don't know why flannel.1 is 10.2.28.0/32.
The CIDR network to use for pod IPs was only assigned at the time of configuring flannel network as blew.
[code]

the result is blew.
[code]

[2017-05-25 12:25] jianzhangbjz commented on #46402
@dixudx Great! :+1: Thanks a lot! I will have a try. :)

[2017-05-25 12:28] deads2k commented on #45511
@xiao-zhou could you take "do colliding named resources work. And when one is deleted does the gap close"?

You'll see this in conflicting short names.  You make two CRDs, both with the same shortname.  One of the two will get the name in status.  The other of the two will get a NameConflict condition.  When the one who has the name is updated to change its shortname, the nameconflict should be re

[2017-05-25 12:29] nikhita commented on #45511
@deads2k I am currently working on it on this PR: https://github.com/kubernetes/kubernetes/pull/46200

[2017-05-25 12:30] pavolloffay commented on #26507
Update on jaeger templates: repository https://github.com/jaegertracing/jaeger-kubernetes contains template for all-in-one distribution.

[2017-05-25 12:35] nikhita commented on #45511
Also as an update, the test for checking if integer data is preserved is done in this PR: https://github.com/kubernetes/kubernetes/pull/46059

[2017-05-25 12:35] andyp1per commented on #13892
The application load balancer seems like the way to go now?
https://aws.amazon.com/blogs/aws/new-aws-application-load-balancer/

[2017-05-25 12:51] yastij opened #46433 "getPodsForPdb on disruption.go makes unnecessary loop to copy"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

DisruptionController
getPodsForPdb

---

**Is this a BUG REPORT or FEATURE REQUEST?

[2017-05-25 12:53] yastij commented on #46433
/assign

[2017-05-25 12:56] cjdmax commented on #35870
had the same problem.

In my case it was down to a newline in the base64 encoded secret I was feeding to the WORDPRESS_DB_PASSWORD environment variable in my wordpress deployments.

If you define your secret from a .txt file, make sure it doesn't have a newline at the end (I thought I made sure of this). To be sure, use `echo -n "password" |base64`, even if only to check that the secret was correc

[2017-05-25 12:58] yastij commented on #46433
/kind enhancement

[2017-05-25 13:04] aliakhtar commented on #40651
Has this been merged yet? I'm getting an error when I try to do the following:

[code]

[2017-05-25 13:09] #29735 closed

[2017-05-25 13:09] #43948 closed

[2017-05-25 13:11] jredl-va commented on #17512
@from-nibly thanks, just what i was looking for

[2017-05-25 13:28] rootfs commented on #46378
@msau42 also see #46140, fixed in #46352

[2017-05-25 13:28] k82cn commented on #46402
@jianzhangbjz , would you share the case that setting a Pod field when binding?

[2017-05-25 13:30] aliakhtar commented on #40651
Given how many popular tools (Kafka, Zookeeper) require a stable node ID, for which this ordinal field would be perfect, its really surprising that this obvious feature has not been implemented / integrated yet.

This should be merged asap.

[2017-05-25 13:45] k82cn commented on #46386
@kargakis , I think neither  #45649 nor #46307 fix this issue; this's a sub issue of #45628 that : when the resource of node was released (e.g. Pod was deleted), the DaemonSet controller did not enqueue related DS to start Pod.

One option is to enqueue all DS to check whether we can and should start a Pod on the node, but it seems a performance issue. I'm working on the solution that:

* Option 1

[2017-05-25 13:51] ncdc commented on #20051
PR to up workers to 5: #46437

[2017-05-25 14:11] k82cn commented on #42002
For now, there're two issues related DaemonSet:

* #46386 Daemonset pods not getting deployed after failing certain number of times
* #45628 DaemonsetController can't feel it when node recovered from outofdisk state

Can we just keep the same behaviour in 1.7 after move to scheduler? e.g. creating Pods with NodeAffinity for all nodes, it'll keep pending if predicates faileds. For rbac & priority s

[2017-05-25 14:14] timothysc commented on #26507
@yurishkuro That would take a while to explain.   You can do operations like re-parent by switching labels, which would require us to inspect a number of operational places in the code.

[2017-05-25 14:16] xiangpengzhao commented on #29665
This had been fixed by @xingzhou in #31333.

Will close.

@thockin

[2017-05-25 14:27] dixudx commented on #46349
@nabeelamjad Seems to be related to volume lock. You can try to restart docker `systemctl restart docker` to see what happens.

[2017-05-25 14:41] smarterclayton commented on #46347
We mutate the status of the pod when we call update without copying in 1.6
and earlier.

On Thu, May 25, 2017 at 4:28 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2017-05-25 14:44] wojtek-t commented on #46347
Aah ok - you mean this one, right:
https://github.com/kubernetes/kubernetes/pull/46223/files#diff-67f2b61521299ca8d8687b0933bbfb19R169

[2017-05-25 14:47] wojtek-t commented on #46347
The problem I can see is that if it's just about status (and we are not mutating spec), we are not using Status in the cache...

[2017-05-25 14:59] ConnorDoyle commented on #10570
xref https://github.com/kubernetes/community/pull/654

[2017-05-25 15:12] wangycc commented on #37546
Oh!!
Kubernetes 1.6.1 version still has this problem

[2017-05-25 15:14] timothysc commented on #42002
It's just computationally expensive on larger clusters due to the current design of the scheduler.

[2017-05-25 15:25] xiangpengzhao commented on #29678
@zedfauji any updates?

There are several issues on this feature request. #43692, #36152, #40053 and this one. I'd prefer that we follow #43692 and close others.

WDYT? @thockin

[2017-05-25 15:34] xiangpengzhao commented on #29701
Is there any detailed info on this issue? We are going to close this. Feel free to reopen it if you still face this issue and have more info for debug. Thanks!

@thockin

[2017-05-25 15:36] timothysc commented on #45717
I'm bumping priority down now that I understand the context of where kubeadm self hosting is at.

[2017-05-25 15:37] vitorarins commented on #45207
This comment: https://github.com/kubernetes/kubernetes/issues/45787#issuecomment-301517010 solved it for me.

[2017-05-25 15:39] rrati opened #46442 "Common handling of stopped instances across cloud providers"
Currently cloud providers in kubernetes handle the stopping of an instance differently.

At a minimum aws, openstack, vsphere, ovirt, and rackspace handle a stopped instance by removing that cloud node from kubernetes.  When the instance starts again it re-registers with kubernetes and is available for scheduling.

Other cloud providers, including GCE, do not delete the cloud node from kubernetes

[2017-05-25 15:40] rrati commented on #46442
This is the underlying issue behind #45118 and #45986

[2017-05-25 15:41] ncdc commented on #46442
@kubernetes/sig-cluster-lifecycle-misc @derekwaynecarr

[2017-05-25 15:41] sanchezpacofw commented on #19636
Trying to run
[code]

But it doesn't print the object, i'm only getting `secret "test" created (dry run)`

[2017-05-25 15:50] #46012 closed

[2017-05-25 15:52] justinsb opened #46443 "Github source code archives are not immutable (?)"
We hit an interesting thing in kops, because of the use of `%h` in kubernetes source code here https://github.com/kubernetes/kubernetes/blob/master/pkg/version/base.go#L54, which we vendor:
https://github.com/kubernetes/kops/issues/2630#issuecomment-304044522

It appears that on a github release, the tarball is expanded dynamically.  At some stage git/github changed behaviour on the length of abbr

[2017-05-25 15:53] msau42 commented on #46378
Thanks, will close.
/assign

[2017-05-25 15:53] msau42 commented on #46378
/close

[2017-05-25 15:53] #46378 closed

[2017-05-25 15:55] fvigotti commented on #45887
I've created a fixed version of the flex cifs plugin, you can find it here : https://github.com/fvigotti/cifs_k8s_plugin , I'm sorry to not have time to make it good looking and more featured .. but it is tested and works for my k8s  1.6.3 :) have a nice day

[2017-05-25 15:58] msau42 commented on #30612
Yes, we're adding a new local persistent volume source that requires a node selector to be specified.  A pod using the local volume will always land on a node that satisfies the node selector.

[2017-05-25 16:16] chakri-nelluri commented on #45887
Thanks guys. Glad it worked.

@paalkr The best way is to reach me is on Slack @nelcyguy.
I try it to keep it almost a live support for flex issues just to make sure the transition is smooth, but sometimes get dragged away from my seat.

[2017-05-25 16:23] enisoc commented on #43325
@wanghaoran1988 I don't think anyone's working on it, so you are welcome to take it. Feel free to tag me as a reviewer. Thanks!

[2017-05-25 16:32] cmluciano opened #46445 "Add support to GPU e2e tests for Ubuntu"
Follow-up from #46311.

We need to install the nvidia-drivers for the test-infra Ubuntu machines. Ideally we would leverage a daemonset for this, but I've had trouble determining the supported methods for this use-case.

[2017-05-25 16:33] cmluciano commented on #46445
cc @vishh Can you link some of the Canonical folks for their feedback?

[2017-05-25 16:36] cmluciano commented on #42314
@kubernetes/sig-network-bugs

[2017-05-25 16:36] #29701 closed

[2017-05-25 16:43] MrHohn commented on #46393
Apparently this test consistently fails because of #44137, which removes support for hostname/subdomain annotation and update e2e test to use the dedicated Hostname/Subdomain fields in PodSpec at the same time.

This testsuite upgrades master to a newer version (1.7) and runs the old e2e test (1.6), which still uses annotation. The updated master simply ignores the annotations so this test consist

[2017-05-25 16:48] cmluciano commented on #46007
/close

[2017-05-25 16:48] #46007 closed

[2017-05-25 16:49] MrHohn commented on #46393
Shouldn't we continue supporting beta annotations for one more release before removing it from codes?

cc @thockin

[2017-05-25 16:52] sjenning opened #46446 "flake: TestCrossNamespaceListWatch: Unable to decode an event from the watch stream"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46371/pull-kubernetes-unit/32665/

Cause of failure is
[code]

Full log:
[code]

[2017-05-25 17:00] MrHohn opened #46447 "After upgrade cluster to master branch from 1.6, test ([k8s.io] Networking should check kube-proxy urls) consistently fail"
https://k8s-testgrid.appspot.com/1.6-master-upgrade#gke-gci-cvm-upgrade-cluster
[code]

cc @dchen1107

[2017-05-25 17:03] MrHohn commented on #46447
This test consistently fails because of #44968, after which kube-proxy holds /healthz on a different port. I think it makes sense to continue holding the local /healthz on the metrics server as well. So that we will have a deprecation window.

Will send a PR for this.

/sig network

[2017-05-25 17:03] MrHohn commented on #46447
/assign

[2017-05-25 17:04] MrHohn commented on #46447
cc @bowei

[2017-05-25 17:09] ajwootto commented on #46119
It happens consistently, every time I do a replacement, and it seems that all of the pods always get sent to the same cluster. There isn't much of interest in the controller log, it basically just says:
[code]
I've managed to get the annotation for minimum replicas partially working (turns out I had it in the wrong part of the yaml), but this also seems to come with its own problem. When I have a

[2017-05-25 17:13] XC-Test commented on #46359
/sig network
/kind bug

[2017-05-25 17:14] XC-Test commented on #46359
@kubernetes/sig-scheduling-bugs

[2017-05-25 17:14] caseydavenport commented on #45717
Yeah, I think we need to fix this behavior before we change the DaemonSet controller to use the default scheduler.  Various CNI network providers (Calico, Flannel, Weave) rely on DaemonSets being able to schedule hostNetwork pods when `NetworkUnavailable` is true.

Another use case for this that we hear a lot is the ability to deploy networking via helm.  Helm requires the tiller pod to run on the

[2017-05-25 17:20] yujuhong commented on #43234
The dockertools package is gone, closing this issue.

Note that there are still docker references in various places in the repository, as well as tangled docker/kubelet initialization code. Those will be handled in other issues/PRs.

[2017-05-25 17:20] #43234 closed

[2017-05-25 17:23] tonglil commented on #17512
Yup, this is mine:
[code]

[2017-05-25 17:26] yujuhong commented on #43224
I don't think we ever get to this. Is this no longer a concern and we can safely update to v1.13?
/cc @dchen1107 @abgworral

[2017-05-25 17:33] thockin commented on #46393
Those annotations pre-dated 1.6, but were not removed from tests.  We need
to do a better job of deprecating things like this.  If we have to revert
the annotations support, we can, but really 1.6 should not have been
testing them.

On Thu, May 25, 2017 at 9:49 AM, Zihong Zheng <notifications@github.com>
wrote:

[2017-05-25 17:39] kokhang opened #46451 "Rook Volume Plugin"
This is a feature request to add a Kubernetes volume plugin for Rook (www.github.com/rook/rook). Rook is an open source, cloud-native storage system that provides block, filesystem and object storage to cloud-native apps. I am proposing to add a Rook volume plugin to allow users to seamlessly consume storages on their Kubernetes App.

The plugin would be very thin as all storage related requests (

[2017-05-25 17:39] MrHohn commented on #46393
to do a better job of deprecating things like this.  If we have to revert
the annotations support, we can, but really 1.6 should not have been
testing them.

Yeah we should have updated the e2e tests long time ago...Probably we could update the e2e tests in 1.6 branch to use PodSpec instead?

[2017-05-25 17:42] jeremyd commented on #41916
Hi all!
The saga continues and I thought I'd ping back here with our current settings because they seem to be working pretty well.  So we had a few types of docker+kubelet flakes it seems.

First issue would be our nodes would eventually be unable to start containers while remaining Ready and when logging into the worker docker ps would hang.  These nodes had to be killed off and we couldn't find

[2017-05-25 17:48] ncdc commented on #46446
FYI @deads2k @kubernetes/sig-api-machinery-misc

[2017-05-25 17:48] thockin commented on #46393
*I* think that is OK.

Dawn?

On Thu, May 25, 2017 at 10:39 AM, Zihong Zheng <notifications@github.com>
wrote:

[2017-05-25 17:49] #29665 closed

[2017-05-25 17:51] MrHohn commented on #46393
Sent #46452, it is a tiny change.

[2017-05-25 17:53] dchen1107 commented on #46393
SGTM,  thanks!

[2017-05-25 18:08] thockin commented on #28658
This is still coming up in some contexts.  Let's leave it open.

On Tue, May 16, 2017 at 1:26 PM, cmluciano <notifications@github.com> wrote:

[2017-05-25 18:09] #31631 closed

[2017-05-25 18:14] naivegeek commented on #44275
I am also facing the same issue I have 1.6.4 version of kubernetes on Ubuntu 16.04

Request
https://ip::6443/ui.html
Response
User "system:anonymous" cannot get  at the cluster scope.

[2017-05-25 18:28] henriquetruta commented on #46381
@shiywang thanks! I've already started to implement it here

[2017-05-25 18:29] mengqiy commented on #45196
NVM. Figured it out with the help of @krzyzacy.

[2017-05-25 18:30] CelsoSantos commented on #44275
I'm not entirely sure of it, but I start to think that this was an intended change?

[2017-05-25 18:31] mengqiy commented on #45196
I need to make the cmd-test, which is completely shell script, generate junit result. Do we have a handy tool to wrap shell script test cases and generate xml?

[2017-05-25 18:32] krzyzacy commented on #45196
@ixdy the bash master might have some fancy tools :-)

[2017-05-25 18:46] #42284 closed

[2017-05-25 18:47] Markbnj commented on #43633
Another +1. I think almost anyone with a non-trivial ingress use-case will benefit from this.

[2017-05-25 18:51] bowei commented on #32750
/close

[2017-05-25 18:51] bowei commented on #32750
/assign

[2017-05-25 18:51] bowei commented on #32750
/close

[2017-05-25 18:51] #32750 closed

[2017-05-25 19:07] xiangpengzhao commented on #29386
Will close it.

@thockin

[2017-05-25 19:15] cblecker commented on #46391
The `build/cni` and `cluster/images/etcd` on master are currently using go1.7.5. According to @luxas these aren't ready to move to go1.8 quite yet, but we should track them to ensure they get upgraded to either go1.8.3 or go1.7.6.

[2017-05-25 19:30] xeor commented on #31307
https://github.com/containernetworking/plugins/pull/1 looks like will be merged any time now.
https://github.com/containernetworking/cni/issues/351 is closed.

Will this issue be solved in `1.7` or earlier, or are we waiting on anything else as well?

[2017-05-25 19:33] cblecker commented on #46443
For kubectl in homebrew, it's built off tag/revision as we then validate the generated binary matches the `gitCommit` (which is `%H`) on stable:
https://github.com/Homebrew/homebrew-core/blob/master/Formula/kubernetes-cli.rb

We don't end up using the auto-generated source archive github creates for anything, I don't believe. All the release artifacts for k/k are in the [CHANGELOG](https://github.

[2017-05-25 19:41] k8s-merge-robot opened #46454 "Failure cluster [a9007e...] failed 66 builds, 4 jobs, and 1 tests over 1 days"
### Failure cluster [a9007eb4001213f2c69d](https://go.k8s.io/triage#a9007eb4001213f2c69d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    4 jobs failed,    66 builds failed.
Failure stats cover 1 day time range '24 May 2017 15:03 UTC' to '25 May 2017 15:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DiffResources | 4 |

##

[2017-05-25 19:41] k8s-merge-robot opened #46455 "Failure cluster [728c3f...] failed 55 builds, 1 jobs, and 1 tests over 1 days"
### Failure cluster [728c3f4daf9816b35002](https://go.k8s.io/triage#728c3f4daf9816b35002)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    1 jobs failed,    55 builds failed.
Failure stats cover 1 day time range '24 May 2017 15:03 UTC' to '25 May 2017 15:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Downgrade [Fea

[2017-05-25 19:44] yujuhong commented on #45487
@runcom this is a general regression that affects all platforms, why do you think it's specific to the docker package you built for RHEL/Fedora/CentOS?

What API call would you use to gather the credentials? AFAIK, the docker configs are read by the docker CLI, and not maintained by the API.

[2017-05-25 19:44] caseydavenport commented on #44963
I've raised this issue against flannel: https://github.com/coreos/flannel/issues/734

We can close this now.

[2017-05-25 20:00] janetkuo commented on #45978
Is it flaky or broken? I haven't seen it pass

[2017-05-25 20:01] bowei commented on #45976
/assign

[2017-05-25 20:03] MrHohn commented on #44963
@caseydavenport Thanks!

/close

[2017-05-25 20:03] #44963 closed

[2017-05-25 20:12] nabeelamjad commented on #46349
@dixudx I had rebooted the instance which fixed the issue, last time this happened I tried restarting docker which fixed it sa well. I was unable to pinpoint the root cause however (other than docker just hanging).

It is worth mentioning that the other replica environment runs in eu-central-1, whereas this environment runs in eu-west-1, other than that there are no differences.

[2017-05-25 20:13] bowei commented on #33554
/assign

[2017-05-25 20:15] ixdy commented on #45196
We used to use [shell2junit](https://github.com/manolo/shell2junit) ([forked in our tree](https://github.com/kubernetes/kubernetes/tree/master/third_party/forked/shell2junit)) with e2e-runner.sh before we converted it into Go.

An old example from when we used it is here: https://github.com/kubernetes/test-infra/blob/b72c1687c3b71a44bf9953447670fb566ed53f5e/jenkins/e2e-image/e2e-runner.sh#L58-L82

[2017-05-25 20:20] aliakhtar commented on #45726
I'm encountering the same issue with Kubernetes on AWS.

1) Created a StatefulSet for a Cassandra install, with a persistent volume:
[code]

Full yaml:  https://gist.github.com/aliakhtar/1ad7db485366c09cd60e0d4af5299393

2) Tried to create the stateful set using `kubectl create -f cassandra.yaml`

3) The pods are created, but it looks like the EBS volumes are not mounted, running `kubectl describe

[2017-05-25 20:22] ixdy commented on #45196
Updating the helpers in `hack/lib/test.sh` to use shell2junit will probably get us a long way there. FYI CI sets the environment variable `KUBE_JUNIT_REPORT_DIR` to a directory where tests can save junit files for the gotest-based unit/integration tests, so we could probably use something similar here.

[2017-05-25 20:28] mtaufen commented on #46410
Thanks!

[2017-05-25 20:35] mtaufen commented on #43224
/cc @abgworrall

[2017-05-25 20:40] mtaufen commented on #43224
I'm not sure how much of an issue this is.

gcr.io doesn't support the v1 protocol anymore [(link)](https://cloud.google.com/container-registry/docs/support/deprecation-notices#docker_registry_v1_api_and_docker_clients_below_version_16).

Does docker hub still support it? Does anyone still pull images with v1 from private registries?

I feel like we should at least provide notice about this in the

[2017-05-25 21:21] weijinxu opened #46464 "[Federation] Requirement & Design of Federated ResourceQuota"
This issue is created to track the development of federated resource quota.
The design document was updated [here](https://docs.google.com/document/d/1F97GRKJyd0yRS4BNTl38304_DmCX1-O2zbWYRm0FUlE).

cc @kubernetes/sig-cluster-federation
@derekwaynecarr

[2017-05-25 21:21] crimsonfaith91 commented on #45287
For future reference, the problem is due to immutability of `InitContainers` and `Affinity` pod spec that fails validation check. It can be fixed by:
(1) using same version of client and server
(2) using newer version of Kubernetes

As there are 2 convenient fixes, I think it is not justified to work on backporting the change to v1.5. The scale endpoint will be fixed and rolled out in future relea

[2017-05-25 21:23] runcom commented on #45487
@yujuhong how has this worked before? let me elaborate.

On upstream docker, if you pull an image with an unqualified image you **always** pull from the Docker Hub, like:

[code]

On RHEL/Fedora/CentOS you have the ability to add additional registries when docker pulls images. Let me shows you an example:

[code]
In the issue in question, if your pod defines an unqualified image (e.g. `ubuntu`) an

[2017-05-25 21:27] yujuhong commented on #26394
I had a PR for parallelizing inspections but I couldn't observe significant differences in performances in my measurements. I think we need to benchmark/profile kubelet to identify the bottleneck first.

I am removing the milestone and mark this as backlog. Will raise the priority if this becomes a serious issue.

[2017-05-25 21:31] abgworrall commented on #43224
Looks like docker hub deprecated it a while ago ([link](https://blog.docker.com/2015/10/docker-hub-deprecation-1-5/)). Not sure about quay.io; I can't find a deprecation notice anywhere.

[2017-05-25 21:33] ixdy commented on #46282
cc @kubernetes/sig-node-bugs

[2017-05-25 21:47] Random-Liu opened #46469 "CRI: We should use grpc codes.NotFound to indicate not found resource."
Now for container/sandbox, we return error when the requested resource is not found; for image, we return empty response without error instead.

We should make use the grpc codes.NotFound. Something similar with https://github.com/containerd/containerd/blob/b53105ed253b99f8b63809e704f23819dce9776e/services/content/helpers.go.

@yujuhong @feiskyer @kubernetes/sig-node-api-reviews

[2017-05-25 21:52] yujuhong commented on #45487
The regression reported by @djmckinley is handled in #45738.

Removing the milestone and leaving this for the original issue (reported by @jeroenjacobs1205). I believe we've never supported that, so marking this a feature request instead.

[2017-05-25 21:59] yujuhong commented on #32803
Not going to have time to tackle this by 1.7.

[2017-05-25 22:00] Zechnophobe commented on #41039
Not seeing this in the list for 1.7, Any update on when to expect it?

[2017-05-25 22:04] yujuhong commented on #46446
Another one: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44061/pull-kubernetes-unit/32758/

[2017-05-25 22:06] mtaufen commented on #43224
Looks like quay was trying to be backwards-compatible at some point: https://blog.quay.io/quay-enterprise-supports-registry-v2/

Not sure about now.

[2017-05-25 22:06] mtaufen commented on #43224
@philips does quay still support v1?

[2017-05-25 22:39] saad-ali commented on #35941
Feature request is being tracked here: https://github.com/kubernetes/features/issues/284

[2017-05-25 22:43] thockin commented on #29678
I don't think #43692 is what you wanted?

[2017-05-25 22:44] thockin commented on #36152
Dup of #29678

[2017-05-25 22:44] #36152 closed

[2017-05-25 23:12] xiangpengzhao commented on #29678
I'm sorry, my bad. It's #43962.

[2017-05-25 23:22] perotinus commented on #45978
It's flaky: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-federation-e2e-gce

There was a fix yesterday for one issue that was causing flakiness, but it appears that it was not comprehensive. We're looking into this.

[2017-05-25 23:23] thockin commented on #29678
MOving to #43962 as canonical bug

[2017-05-25 23:23] #29678 closed

[2017-05-25 23:26] foxish opened #46472 "PDB update breaks compatibility with old clients"
/ref https://github.com/kubernetes/features/issues/285

The `spec.MaxUnavailable` field addition in https://github.com/kubernetes/kubernetes/pull/45587 makes the previously **required** field `spec.MinAvailable` **optional** in the API.
Given that the resource is currently in the v1beta1 group, it would break existing clients and be in violation of our [deprecation policy](https://github.com/kuber

[2017-05-25 23:50] bgrant0607 commented on #46472
+1.

Full policy:
https://kubernetes.io/docs/reference/deprecation-policy/

It would be useful to add an example of the required process to api_changes.md.

The field could be called `deprecatedMinAvailable` in v1 (necessary for round-tripping and because we're moving away from using annotations for fields), and could be removed when the beta API versions were removed. Once we have field gating, w

[2017-05-25 23:53] thockin opened #46474 "ip-masq-agent does not set resources"
We should know how much CPU and memory it needs. I am guessing that 0.01 CPU and 16 MB of RAM is probably enough?  Could leave it burstable...

@dnardo @mtaufen

[2017-05-25 23:54] thockin opened #46475 "ip-masq-agent needs docs"
We need a "how to set up IP masquerade" doc or similar for ip-masq-agent.

@dnardo @mtaufen

[2017-05-26 00:45] msau42 commented on #44650
Looking at the 1st failure, it seems like the mount succeeded but kubelet wasn't able to detect it for some reason.

[code]

[2017-05-26 00:52] abhinavdahiya opened #46476 "Inconsistent find-path behavior for cni binaries"
**Is this a request for help?**: Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): cni binaries, cni vendorDirPrefix

---

**Is this a BUG REPORT or FEATURE REQUEST?** : feature

**What happened**:
Inconsistent find-path priority order for cni binaries in CNI:

[cni plugin loopback binary path fin

[2017-05-26 00:54] saad-ali commented on #45143
@lavalamp do you have any sage advice for where best to implement this check to prevent deletion of PVC objects that are still being referenced by a pod?

[2017-05-26 01:08] ianchakeres commented on #45143
@saad-ali - Thank you for your advice. I've been exploring the location you recommended, and I was able to prevent deletion by replying with an error. I'm actively working to add the related logic to do it more intelligently make a decision based upon the state of the system. If all goes well I'll have a some code for review in the next day or two.

[2017-05-26 01:21] jianzhangbjz commented on #46402
@k82cn Hmm... it's just our special requirements that assigning GPU devices, I think for average users, they needn't.

[2017-05-26 01:21] #46402 closed

[2017-05-26 01:27] saad-ali commented on #45143
Ack, thanks @ianchakeres! The admission controller should work, but I'd like to get confirmation from @lavalamp or someone from @kubernetes/sig-api-machinery-misc that it is the best place to add the check. I don't want to send you down the wrong path, so maybe hold off on further work until we get confirmation?

[2017-05-26 01:31] liggitt commented on #45302
fixed in #45514

[2017-05-26 01:31] #45302 closed

[2017-05-26 01:38] xiangpengzhao opened #46477 "Panic in TestCertificateController test"
Seen in: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46124/pull-kubernetes-unit/32795/?log#k8siokubernetespkgcontrollercertificates-testcertificatecontroller

ref: #46124

`k8s.io/kubernetes/pkg/controller/certificates TestCertificateController 0.01s`

[code]

[2017-05-26 01:49] xiangpengzhao commented on #46477
/assign

[2017-05-26 02:04] k82cn commented on #46402
ok, np; if we want to create a PR, suggest to share the case :).

[2017-05-26 02:07] SomeoneWeird commented on #27796
Hi,

I tried to sign the CLA on behalf of my company. I signed up with Github, and added company details. The CLA that was generated has my person email in it though. I have gone and created another account with my company email and invited it as an organization manager. Is it possible to re-trigger the generation so it has my company email in the document?

[2017-05-26 02:11] xiangpengzhao commented on #46477
Dup of #46365.

/close

[2017-05-26 02:11] #46477 closed

[2017-05-26 02:25] xingzhou commented on #46361
yes, I'd like to take a look at this for now

[2017-05-26 02:32] vnandha commented on #33245
@janetkuo IMO, deleting daemon sets with cascade=true should not wait indefinitely if a pod is already in unknown state.

[2017-05-26 02:34] k82cn commented on #42002
hm .., agree. but if we moved "DaemonSet's scheduling" into scheduler, we will have such issue more or less.

 Another option in my mind is to create Pod for each Nodes by setting `pod.Spec.NodeName`, but kubelet did not fail the job if admin did not pass for DaemonSet Pod; it'll check those Pod periodically or "something" changed. My concern to this option is that: I do not want to ask kubelet to

[2017-05-26 02:37] jianzhangbjz commented on #46402
Yeah... but our case is a special scenario although I also would like to submit a PR.

[2017-05-26 02:41] #46198 closed

[2017-05-26 02:45] gyliu513 commented on #45780
@lukaszo any PR for this?

[2017-05-26 02:46] k82cn commented on #44188
Slack with caesarxuchao@ , we'd like to move this into 1.8 as this dependent on some client-go enhancement in 1.7 (https://github.com/kubernetes/kubernetes/pull/44784).

[2017-05-26 02:49] k82cn commented on #46402
np, please share the case in PR. IMO, the PR reviewer will ask similar question, because this's a common components.

[2017-05-26 03:05] k82cn commented on #46347
According to the log `E0524 13:29:33.440433       1 cache.go:290] Pod default/privateimage-test removed from a different node than previously added to.`, the issues is triggered by "assigned non-terminated" Pods which is readonly in scheduler.

And it's said

So it maybe related with #45453 , but no direct evidence :(.

[2017-05-26 03:29] smarterclayton commented on #43224
We still support Docker 1.10 which can be configured for schema 1.  We also
observe a large number of schema1 registries in the wild in use in private
deployments.

On Thu, May 25, 2017 at 6:07 PM, Michael Taufen <notifications@github.com>
wrote:

[2017-05-26 03:34] chengzhang1016 opened #46482 "Failed Get Resource Metrics"
**What keywords did you search in Kubernetes issues before filing this one?**
resource metrics autoscaling v2alpha1

**Kubernetes version** (use `kubectl version`):
v1.7.0-alpha.4.374+cbd6b25c1c673f

**What happened**:
Failed get resource metrics, and show warning event in hpa describe:
[code]

[code]

**What you expected to happen**:
HPA V2 can get resource metrics successfully.

**How to reprodu

[2017-05-26 03:37] chengzhang1016 commented on #46482
[kube-controller-manager.txt](https://github.com/kubernetes/kubernetes/files/1030752/kube-controller-manager.txt)

[2017-05-26 03:49] tacy commented on #46321
@PengTaoWW  - Could you retry in the prestop hook

[2017-05-26 03:59] immortalHuang commented on #15817
in the flink website,i find https://ci.apache.org/projects/flink/flink-docs-release-1.2/setup/kubernetes.html#launching-the-cluster,and i deploy flink in my k8s cluster,but there is still some problem with akka,anyone known why?

[2017-05-26 04:11] tacy commented on #46218
@apelisse - Could you relable it as sig/node, it releated to kubelet

@davidhyman - Let me take a look, if so, I will fix it

[2017-05-26 04:13] quinton-hoole commented on #35997
Fixed by #45492

[2017-05-26 04:13] #35997 closed

[2017-05-26 04:32] thockin commented on #46404
We also should not show GA flags in the help text.  They need to be
announced in release notes.  6 months later they can be removed.  The rest
SGTM

On Thu, May 25, 2017 at 12:01 AM, Tim St. Clair <notifications@github.com>
wrote:

[2017-05-26 04:36] thockin commented on #46103
Should we leave this open (waiting for ... ?)

[2017-05-26 04:48] suyogbarve commented on #46191
@shiywang are you fine if I take this up, I am half way with my solution for this.

[2017-05-26 05:17] techtonik commented on #35229
Can this be reproduced?

[2017-05-26 05:19] techtonik commented on #16910
Is there a generic way to wrap auth against any such services?

[2017-05-26 05:20] techtonik commented on #11662
What is the progress on there? Is it still actual or maybe should be reticketed?

[2017-05-26 05:23] shiywang commented on #46191
@suyogbarve go ahead, I will help to review : )

[2017-05-26 05:36] ilovezfs commented on #46443
@cblecker it did break `kubernetes-cli@1.3`, though.

[2017-05-26 05:42] #45216 closed

[2017-05-26 05:42] #45803 closed

[2017-05-26 05:46] chengzhang1016 commented on #46482
@DirectXMan12 @luxas @mdshuai I shared my AWS EC2 instance info and steps in Trello card. Thanks.

[2017-05-26 05:52] suyogbarve commented on #46191
@smarterclayton : since api.Service only support map[string]string or equality based labels (something=otherthing), new selector for "kubectl create svc " will be different from what we have present on parent command

Selector already present only for parent command -->
-l, --selector='': Selector (label query) to filter on, supports '=', '==', and '!='.

Proposed Selector for "kubectl create svc"

[2017-05-26 06:17] rot26 commented on #23896
@evictor I did not get `envsubst` working on mac.  I started using good ol' `sed` until I googled my way to [sigil](https://github.com/gliderlabs/sigil) for text replace. (good features, not specific to kubernetes)
After I set everything up with sigil, I discovered [helm](https://github.com/kubernetes/helm).  I will start with helm next time.

[2017-05-26 06:32] wojtek-t commented on #46347
@k82cn in the past we used to have a problem (that would cause exactly this behavior) that:
- the pod failed scheduling for the first time
- then we were trying to schedule it again, we managed to find a node
- we were assuming it and were sending binding to apiserver
- in the meantime because of some race we were trying to schedule it one more time
- we were finding a different node for it, and s

[2017-05-26 06:40] paalkr commented on #45887
@fvigotti , Tanks a lot!

I will try it out a soon as I'm back in office week.

[2017-05-26 06:58] mindprince commented on #46204
This can be closed now.

[2017-05-26 07:17] kleuf opened #46491 "Service Account entry in deployment backward compatible"
Hi there

We have a test cluster on k8s 1.6.3 and i adjusted the ingress controller deamonset file to include the line "serviceAccountName: ingress" in it for 1.6.
Our DEV cluster is still on k8s 1.5, will i have to remove that line or can i leave it in, and simply make sure that that service account "ingress" exists on that cluster also?

Regards

[2017-05-26 07:18] dunjut commented on #44702
Thanks. Problem solved by passing `--node-ip=` to kubelet.

[2017-05-26 07:23] evictor commented on #23896
@rot26 I was able to install it painlessly using `brew install gettext`, then bringing `envsubst` binary into PATH; I found `envsubst` binary in `/usr/local/Cellar/gettext/0.19.8.1/bin`.

[2017-05-26 07:38] balexx commented on #21657
+1
Just came across this when human error messed up docker data dir permissions.

[2017-05-26 07:41] k82cn commented on #46347
@wojtek-t , got the case :) Let me take some time to revisit it to see any clue here.

[2017-05-26 07:50] pizzarabe commented on #46347
@wojtek-t
sure, here is the output from kube-scheduler --v=4 (but I am not sure, if this is more useful then the previous log)
[code]
**[The dead scheduler]:**
[code]
**[The restarted scheduler]:**
[code]

Not sure if this helps anybody but here is the kube-scheduler manifest:

[code]

[2017-05-26 07:54] NickrenREN commented on #46446
This one also hit: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46484/pull-kubernetes-unit/32866/

[2017-05-26 08:10] nckturner commented on #34413
I have this issue with a 1.5.2 cluster with a 1.5.4 client, anyone else seeing it?

[2017-05-26 08:19] jsafrane commented on #46380
@wongma7 is right, it seems that something else than the PV controller deleted PV with name `pvc-4723f163-4004-11e7-a75a-42010a80000a`.
If the controller deleted the volume, we would see at least:
* `deleteVolumeOperation [%s] started` from PV controller
* `Successfully deleted GCE PD volume %s` from volume plugin (at level 2!)
*  `volume %q deleted` from the controller again (at level 2!)

Lookin

[2017-05-26 08:29] xiangpengzhao opened #46493 "Kubelet should only accept text/plain pod config file"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------------------------------------------

[2017-05-26 08:30] xiangpengzhao commented on #46493
/sig node

[2017-05-26 08:50] wojtek-t commented on #43600
@justinsb - did you have chance to try this? Did it help?

[2017-05-26 08:50] wojtek-t commented on #45484
I'm closing this one, since it is already fixed at head and cherrypicked to 1.6 branch.

[2017-05-26 08:50] #45484 closed

[2017-05-26 08:51] reza-ebrahimi commented on #42040
@Random-Liu  This feature still not working, previously I've pulled this image into my local, so kubectl tries to pull it from url and fails,

![a](https://cloud.githubusercontent.com/assets/11276982/26487780/2482e406-4216-11e7-961a-9319c83d515e.png)

![b](https://cloud.githubusercontent.com/assets/11276982/26487785/28cde998-4216-11e7-9b64-4150e7ee6fa8.png)
![c](https://cloud.githubusercontent.com

[2017-05-26 09:25] wojtek-t commented on #46347
@pizzarabe - thanks a lot for those logs

Looking into those from dead scheduler, they look extremely strange to me.
It seems that the pod that cause problems was the first pod we were trying to even schedule (since the scheduler started). Also the fact that we are removing a pod from the cache before it was even scheduled seems extremely strange:
[code]

[2017-05-26 09:28] wojtek-t commented on #46347
or maybe it's because of flushing? the logs from cache.go are Error/Fatal so are flushed immediately, the other are Info, so are not flushed immediately. So maybe the order is a red herring?

[2017-05-26 09:52] xinxiaogang commented on #21657
What release will this feature be implemented ?

[2017-05-26 10:02] PengTaoWW commented on #46321
In the Prestop design, it is executed only once, 2 seconds after the removal of the container, in our production environment, in the killing of containers before the need for a long time to detect traffic disappeared. Then the process of executing the delete container. So, in terms of semantics, we need Prestop hooks to notify upstream load balancing to stop sending traffic to the container. Then

[2017-05-26 10:05] reza-ebrahimi commented on #42040
@reza-ebrahimi test

[2017-05-26 10:05] weiwei04 opened #46497 "Mark ExceedDeadline Job with completions == succeed instead of Failed?"
**this a FEATURE REQUEST**:

Should we mark exceedDeadline Job(completions: 1/parallelism: 1) with 1 Pod succeed as Completed instead of Failed? I think it's a little wired, my expected Pod(completions: 1/parallelism: 1) has succeed, but the Job is failed.

**Kubernetes version** (use `kubectl version`): version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1"

**Environment**:
- **Cloud provider or

[2017-05-26 11:01] schmitzhermes commented on #19764
Just spend several minutes searching for a solution, found it here: https://github.com/kubernetes/kubernetes/issues/23748#issuecomment-230390309

you need to supply the **absolute path including the filename** in the `mountPath` and the filename again in `subPath`. The filename (obviously) needs to match the key in your config map.

[2017-05-26 11:53] pizzarabe commented on #46347
@wojtek-t

Yeah, this is my test cluster, I reproduced the error before that, you can see the scheduler was started ~ 1 min before killing it with the `kubectl create -f my.yaml` again.

I removed the pod with `kubectl delete pod default/privateimage-test` before crating it again with `kubectl create -f `

[2017-05-26 12:01] deads2k commented on #46446
I'm looking at it.  I'm going to try to see what's up with the watch cache first, but failing that I'll make it tolerant of having to relist I suppose.

[2017-05-26 12:24] deads2k commented on #45143
If I'm understanding the flow correctly, the kubelet is using information from the PVC to mount a volume, but is not updating the PVC to reflect a "node X has mounted Y".  If we want a kubelet to indicate that a PVC is "active", why not have a status condition on the PVC that indicates that information?  Doing that would still require some kind of a check server side to prevent removal, but its mo

[2017-05-26 12:30] gmarek opened #46503 "It should be possible to inject Context into client-go API call"
This is necessary for making our client library traceable (Ref #26507, see also #45962), and generally allowing passing context through client library is a good pattern.

@kubernetes/sig-api-machinery-feature-requests

[2017-05-26 12:35] brian-brazil commented on #29323
This seems like something that https://github.com/kubernetes/kube-state-metrics should cover.

[2017-05-26 12:42] gjw0317 opened #46504 "The replica sets won't deleted after a deployment be deleted"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------------------------------------------

[2017-05-26 12:42] hiscal2015 commented on #46331
I tested it again, here're steps we can reproduce the issue:

Deploy one pod with glusterfs volume, check it is running
Restart kubelet container
Kubelet container lost connection to glusterfs immediately
[2017-05-26 12:15:28.167691] I [MSGID: 115036] [server.c:559:server_rpc_notify] 0-devops-grafana-dev-server: disconnecting connection from devserver02-6802-2017/05/26-12:13:06:422784-devops-grafa

[2017-05-26 13:00] databus23 commented on #20096
We are still seeing `unregister_netdevice: waiting for lo to become free. Usage count = 1` kernel messages after switching our kubelets to `--network-plugin=kubenet` and `--hairpin-mode=promiscous-bridge`.

I also confirmed that the `veth` devices have hairpin_mode set to `0` using

`cat /sys/devices/virtual/net/*/brport/hairpin_mode`

We are running on baremetal using CoreOS/Container Linux `1353

[2017-05-26 13:07] bboreham opened #46505 "'kubelet set selector --local -o yaml' prints unhelpful message at the top"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`):
[code]

**What happened**:
If I run the `set selector` example from [the docs](https://kubernetes.io/docs/user-guide/kubectl/v1.6/#-em-selector-em-), I get an error.
[code]

**What you expected to happen**:
A service to be created.

**How to reproduce it** (as minimally and precisely as possible):
See above.

**Anything else we need t

[2017-05-26 13:31] bboreham commented on #46505
I looked into fixing it.  There is a similar line in `set subject`, but no such line in `set image`, `set resources`, etc., so one approach would be simply to delete the offending two lines.

I looked for a method on `ResourcePrinter` which would format the message as a comment; there is `AfterPrint` but it is implemented to do nothing for yaml and json.

A third option would be to send the helpfu

[2017-05-26 13:32] abourget commented on #15180
This is an everyday feature, I use that as often as `get pods` .. any hack would be appreciated !

[2017-05-26 13:45] bboreham commented on #21656
I believe this can be closed because acting on the real number of available IPs is #20177 and kubelet now calls DEL to free addresses in the cases described.

[2017-05-26 13:45] bboreham commented on #20177
/label sig/network

[2017-05-26 14:00] bboreham opened #46508 "Would like `ClusterCIDR` to be fetchable by pods."
**FEATURE REQUEST**

Currently, `kube-proxy` and `kube-controller-manager` each have a command-line parameter `--cluster-cidr`, described as "CIDR range of pods in the cluster".  There is no API to fetch this parameter.

I work on a network add-on, Weave Net, which would benefit from being able to see this value.  Currently we have our own setting for the range of IP addresses to give to pods, and

[2017-05-26 14:08] k82cn commented on #46347
It seems both "assigned non-terminated ListerWatcher" and "un-assigned non-terminated ListerWatcher" got Pod `default/privateimage-test`, @wojtek-t , do you think apiserver's log will help to see what happens to this Pod?

[2017-05-26 14:22] VsMaX commented on #35062
I am having the same error while running mysql container with attache PD on GCE on k8s 1.6.2

[2017-05-26 14:37] lukaszo commented on #45780
@gyliu513 I will have some time to work on it next week. If you have a spare time you can create a PR.

[2017-05-26 14:47] abourget commented on #7433
My concern is Regional Data costs, data flowing through AZ (in AWS for instance).  Right now, with a multi-AZ setup, half of the traffic will switch AZ, incurring Regional Data Transfer costs, whereas if something was local, it wouldn't hit the network.

So there's two levels to this problem: if a pod exists locally it would save NIC traffic, but if a pod exists in the same AZ, it would save money

[2017-05-26 14:51] runcom commented on #40739
closing as https://github.com/kubernetes/kubernetes/issues/40804 has been merged

[2017-05-26 14:51] #40739 closed

[2017-05-26 15:32] bboreham commented on #46508
/sig network

[2017-05-26 15:33] bboreham commented on #43905
/sig network

[2017-05-26 15:34] enxebre commented on #46123
I'm happy to work on this, I'll have a look if no one else is looking at it

[2017-05-26 15:35] debianmaster commented on #19764
@schmitzhermes   @fearphage sorry for not getting back.    you have the right solution @schmitzhermes    it wont work from cli though if you have more than 1 file to mount in the same directory.  i.e.  only works for 1 file

[2017-05-26 15:44] msau42 commented on #46204
/close

[2017-05-26 15:44] #46204 closed

[2017-05-26 15:44] thockin commented on #7433
This is a specific form of the general problem of topology, which I have
been thinking a lot about, but have not fully specified yet.

On Fri, May 26, 2017 at 7:47 AM, Alexandre Bourget <notifications@github.com

[2017-05-26 16:11] #46505 closed

[2017-05-26 16:12] hongchaodeng commented on #43632
That would be a great feature!

Currently we have pods using hostNetwork and using init containers to restore some host mappings -- basically `cat xxx >> /etc/hosts` . With HostAliases feature it would be fantastic fit!

[2017-05-26 16:30] tacy commented on #46218
@davidhyman  -  it has been fixed by #46246.

[2017-05-26 16:40] g1001p opened #46518 "vsphere provider"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------------------------------------------

[2017-05-26 17:14] #11204 closed

[2017-05-26 17:17] danwinship opened #46520 "cross e2e flake: constant 100000000000 overflows int"
seen twice in a row in pull-kubernetes-cross:

I0526 09:09:56.008] test/e2e_node/summary_test.go:138: constant 100000000000 overflows int

This looks like #33761 but that was fixed long ago, and the file doesn't seem to have changed lately, so maybe this is a change to the cross compile environment?

[2017-05-26 17:17] danwinship commented on #46520
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/39164/pull-kubernetes-cross/2710/

[2017-05-26 17:29] hollowimage commented on #45419
We've been plagued by these issues for the last month or so, (I want to say after upgrading the clusters to 1.6.x from 1.5.x) and its just as mysterious.

we're running weave, debian jessie AMIs in aws, and every once in a while a cluster will decide that PLEG is not healthy.

Weave seems okay in this case, because pods are coming up fine up util a point.
One thing we noted is if scale ALL our rep

[2017-05-26 17:29] tinselspoon commented on #46347
I noticed you said your etcd version was v3.0.10 - could you be running into #45506 where the etcd version is too old to work correctly with Kubernetes? I had that issue occur on my cluster which caused all sorts of strange behaviours, as pod deletions were not correctly observed by the Kubernetes master components since they weren't getting the DELETED events.

If it is this issue you should see

[2017-05-26 17:31] bsalamat commented on #46347
@pizzarabe Are you saying that you know the reproduction steps? If so, it would help a lot if you cloud give us the steps so that we can investigate more and see if the issue still exists in presence of recent fixes.

[2017-05-26 17:56] deitch commented on #45419
I second the thoughts on pleg mysteriousness. On my end though, after much work for my client, stabilizing coreos and its misbehaviour with networks helped a lot.

[2017-05-26 17:57] spzala commented on #17558
👍 :) Thanks @thockin

[2017-05-26 18:08] mtaufen commented on #46474
I think that should be plenty. I'd still like to profile it over time, but I haven't had time to do that yet.

[2017-05-26 18:10] MrHohn commented on #46393
/assign

As a reminder, #46452 needs re-LGTM :)

[2017-05-26 18:17] nikhiljindal commented on #42594
Sent https://github.com/kubernetes/kubernetes/pull/46471 which updates kubectl to wait for deletion by default and adds a `--wait` flag that users can set to disable the wait. PTAL

[2017-05-26 18:18] fabianofranz commented on #30656
I didn't check, but does the `--as` and `--as-group` global flags help here? Do they even work with `exec`? cc @liggitt

[2017-05-26 18:24] liggitt commented on #30656
No, those have to do with identifying yourself to the kubernetes API, not passing through to inform the chosen uid for the exec call

[2017-05-26 18:53] pmichali commented on #43340
Further research and discussions seems to show that in jenkins/e2e-image/kops-e2e-runner.sh that nodeport access needs to be opened up, before calling e2e-runner.sh.

@hubt suggested that the following could be tried:

`aws ec2 authorize-security-group-ingress --region <region> --group-id <sgid> --cidr $EXTERNAL_IP/32 --protocol '-1'
`
However, that requires getting the region and group ID, which

[2017-05-26 18:54] ixdy commented on #44533
I'm not sure exactly how docs are generated, but if we generate docs only at branch time, how will we know if a cherry-picked change affects docs, since the docs aren't checked into the master branch?

e.g. Suppose we generate docs for release-1.7 when we cut the branch. Later, we cherry-pick some change to kubectl which would affect the manpages, but we also cherry-pick 5 other changes which don'

[2017-05-26 18:55] thomasmodeneis commented on #41025
I also got the same issue on `4.4.0-77-generic` and `apt-get install linux-image-$(uname -r)` solved it.

[2017-05-26 19:02] dgpc opened #46526 "Federated Ingress sets inconsistent Balancing Modes in GCE"
**Environment**:
GKE

**Kubernetes version**:

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:"clean", BuildDate:"2017-04-19T20:33:11Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe

[2017-05-26 19:03] danwinship commented on #46520
This seems to be failing reliably

[2017-05-26 19:25] hongchaodeng commented on #43632
We are using `PodSpec.Hostname` and `PodSpec.Subdomain` for hostNetwork pods.

[2017-05-26 19:26] csbell commented on #46526
Yes, what you are running into now is what was fixed (and backported into 1.6.4). It is chronicled here: https://github.com/kubernetes/ingress/pull/652

[2017-05-26 19:27] hongchaodeng commented on #43632
@rickypai
This is something I don't understand in the code:
https://github.com/kubernetes/kubernetes/blob/99a8f7c3031fc288ac2229f9d3e94bceaa0529fb/pkg/kubelet/kubelet_pods.go#L117

It seems that it is still mounting "/etc/hosts" for hostnetwork pods if `pod.Spec.SecurityContext == nil`. Does that mean kubelet is still managing it?

[2017-05-26 19:33] hongchaodeng commented on #43632
One of our current assumptions is that kubelet will mount a shared /etc/hosts (which is not node's) for all containers within a pod in hostNetwork mode. Which seems to be the codepath in the code linked above. Is this holding true?

[2017-05-26 19:37] dgpc commented on #46526
@csbell thanks for that!

Any thoughts on my last paragraph re: being able to specify the MaxRatePerInstance as something other than `1`?

[2017-05-26 19:39] adambkaplan commented on #34413
I'm seeing the same/similar issue thing with a 1.5.2 cluster and 1.5.4 client

[2017-05-26 19:41] k8s-merge-robot opened #46529 "Failure cluster [268990...] failed 488 builds, 6 jobs, and 1 tests over 1 days"
### Failure cluster [2689904721ac7d5c675d](https://go.k8s.io/triage#2689904721ac7d5c675d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    6 jobs failed,    488 builds failed.
Failure stats cover 1 day time range '25 May 2017 13:03 UTC' to '26 May 2017 13:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Extract | 6 |

##### T

[2017-05-26 19:41] k8s-merge-robot opened #46530 "Failure cluster [6a7a66...] failed 100 builds, 5 jobs, and 1 tests over 1 days"
### Failure cluster [6a7a6648e4c81dcb4396](https://go.k8s.io/triage#6a7a6648e4c81dcb4396)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    5 jobs failed,    100 builds failed.
Failure stats cover 1 day time range '25 May 2017 13:03 UTC' to '26 May 2017 13:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 5 |

##### Top

[2017-05-26 19:41] k8s-merge-robot opened #46531 "Failure cluster [ac251c...] failed 97 builds, 10 jobs, and 1 tests over 1 days"
### Failure cluster [ac251c8c201b5a9a0dc3](https://go.k8s.io/triage#ac251c8c201b5a9a0dc3)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    10 jobs failed,    97 builds failed.
Failure stats cover 1 day time range '25 May 2017 13:03 UTC' to '26 May 2017 13:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 10 |

##### Top

[2017-05-26 19:41] k8s-merge-robot opened #46532 "ci-kubernetes-e2e-gci-gke-pre-release Failure cluster [363992...] failed 97 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [3639929b1f6d998c80d4](https://go.k8s.io/triage#3639929b1f6d998c80d4)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    97 builds failed.
Failure stats cover 1 day time range '25 May 2017 13:03 UTC' to '26 May 2017 13:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 2 |

####

[2017-05-26 19:41] k8s-merge-robot opened #46533 "Failure cluster [3917e9...] failed 85 builds, 8 jobs, and 1 tests over 1 days"
### Failure cluster [3917e93167e134cb50d1](https://go.k8s.io/triage#3917e93167e134cb50d1)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    8 jobs failed,    85 builds failed.
Failure stats cover 1 day time range '25 May 2017 13:03 UTC' to '26 May 2017 13:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] ESIPP [Slow] s

[2017-05-26 19:53] yujuhong commented on #43632
@hongchaodeng I checked the git history and that was just an artifact caused by switching from internal to v1 API objects.

The original code is:
[code]
In the internal API, `HostNetwork` is a field in `Pod.Spec.SecurityContext`, so you can see why `SecurityContext` had to be non-nil.
In the v1 API, `HostNetwork` is a field in the pod spec: `Pod.Spec.HostNetwork`. When switching all code to use th

[2017-05-26 19:53] xiangpengzhao commented on #46518
@g1001p what's this issue for? please provide more info, thanks!

[2017-05-26 19:54] david-mcmahon commented on #44533
This issue hasn't come up since we implemented the at-branch-time doc generation several months ago, but there is a good point made here.  Now that we're considering this again, would it make more sense for the cherrypick process to generate any doc changes in order to couple them with a specific cherrypick and to have them reviewed as part of that change?  The other alternative as suggested is to

[2017-05-26 19:56] dchen1107 commented on #44445
re: https://github.com/kubernetes/kubernetes/issues/44445#issuecomment-300904681
pr https://github.com/kubernetes/kubernetes/pull/43116 was applying taint tolerations for NoExecute for all static pods, including kube-proxy.

[2017-05-26 19:57] #46365 closed

[2017-05-26 19:58] #42438 closed

[2017-05-26 19:58] #44573 closed

[2017-05-26 20:05] hongchaodeng commented on #43632
@yujuhong
Thanks for looking into that.

Currently even with hostNetwork pods, it will have mounts for `/etc/hosts`. Checking within the pod:
[code]
If the check is removed, what would happen on the shared mount of /etc/hosts ?
My concern and question is about the guarantee here. Is there still a copy of `/etc/hosts` which is shared and mounted for all containers within a pod?

[2017-05-26 20:13] yujuhong commented on #43632
Removing the check itself won't affect anything since securitycontext should always be non-nil.

That mount for hostnetowrk pods was added by docker (not by kubelet) so it should be one per container, and not shared by containers within a pod. I didn't try it myself, but it should be easy to verify.

[2017-05-26 20:15] hongchaodeng commented on #43632
Tried and verified that `/etc/hosts` was shared between containers within a pod for k8s 1.6.4 .

[2017-05-26 20:19] hongchaodeng commented on #43632
Also verified that modifying `/etc/hosts` for a hostNetwork pod did not change the file on the node.

[2017-05-26 20:20] yujuhong commented on #43632
Then docker did the right thing and use the same file for containers sharing the same network namespace :-)

[2017-05-26 20:22] hongchaodeng commented on #43632
That makes sense.

[2017-05-26 20:34] Random-Liu commented on #44976
If we don't escape `\n`, no matter how long a line is, we could not break it.

On the runtime implementation side, it means that:
1) If we have 2 threads, one for stderr, one for stdout. We have to keep the whole log line in memory, and log it once to make sure that the log line will not be broken by stderr. This may cause huge memory usage if the line is too long;
2) If we have 1 thread for both

[2017-05-26 20:35] verult commented on #42438
A fix for 1.5 is on the way (PR #46301 )

[2017-05-26 20:43] crassirostris commented on #40212
Blocked by https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/pull/129

[2017-05-26 20:45] wongma7 opened #46540 "Validate PVC requested AccessModes against StorageClass's underlying plugin's supported AccessModes"
Currently, when a user creates a PVC asking for a certain StorageClass, and dynamic provisioning gets invoked, the AccessModes field is effectively ignored: the provisioned PV is created to have AccessModes matching the PVC's regardless of whether the underlying plugin actually supports it.

e.g. in an AWS cluster a user creates a PVC asking for a "standard" class aws-ebs volume & RWM AccessModes.

[2017-05-26 20:48] wongma7 commented on #46540
Also sorry in advance if this discussion already happened somewhere, couldn't find it. It's somewhat similar to the fstype stuff discussed today. (And IMO orthogonal to the discussion about the "actual meaning of AccessModes wrt scheduling, mount vs. attach; I am talking purely about user expectations, i.e. what is already documented per plugin.)

[2017-05-26 20:48] igorpeshansky commented on #40212
@crassirostris No, partial success didn't make it into the current plugin release.

[2017-05-26 20:50] crassirostris commented on #40212
Oh, OK, then moving this to the next release

[2017-05-26 20:52] crassirostris commented on #40212
@igorpeshansky But this seems like a very important thing that should be cherry-picked to 1.6 and 1.7 once available

[2017-05-26 20:52] rmmh commented on #46446
Here's a cluster to track them https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=expected%20ADDED#e4d5a498d9c644be6c28

[2017-05-26 20:53] wongma7 commented on #46540
also ping @jsafrane

[2017-05-26 21:00] crassirostris commented on #44976
@Random-Liu I think second approach is more expected. I mean consider a regular process writing both to `stdout` and `stderr`. It's going to be blocked on write to `stderr` if message being written to `stdout` is too large.

[2017-05-26 21:04] mengqiy opened #46543 "Cleanup the replaceKeys and setElementOrder code in strategic merge patch"
Comments in replaceKeys:
- https://github.com/kubernetes/kubernetes/pull/44597#discussion_r118761893
- https://github.com/kubernetes/kubernetes/pull/44597#discussion_r118767233
- https://github.com/kubernetes/kubernetes/pull/44597#pullrequestreview-40597721

Comments in setElementOrder:
https://reviewable.kubernetes.io/reviews/kubernetes/kubernetes/45980#-KlQrynxqa6fwPdcLbeh
https://reviewable.kub

[2017-05-26 21:04] mengqiy commented on #46543
/assign

[2017-05-26 21:05] hongchaodeng commented on #43632
@rickypai
Will HostAlias support for HostNetwork pod happen in 1.7 ?

[2017-05-26 21:10] rickypai commented on #43632
I'm trying to get https://github.com/kubernetes/kubernetes/pull/46385 in so it can make the 1.7 release deadline. help reviewing the PR would be great.

[2017-05-26 21:12] rickypai commented on #43632
in a multi-container hostNetwork pod, what happens when you change the file, then restart one of the containers? in non-hostNetwork pod, it would revert the changes to `/etc/hosts`

[2017-05-26 21:20] CindyXing commented on #33622
Based on the original design doc and above comments, the updated design is published at https://docs.google.com/document/d/1H2BkqSKvoCSifi7c8D2gASSJo20ocIEYDMSfNfcylBc/edit

[2017-05-26 21:20] rickypai commented on #43632
anyways, i'm also in favor of kubelet managing the file even for hostNetwork pods. that way, we can use features like hostAliases, and also then we don't depend on the container runtime to dictate the behavior. it's not clear whether running rktnetes with hostNetwork pod would yield the same result

[2017-05-26 21:29] thomasmodeneis commented on #34101
I'm also experiencing the same issue:
[code]

Any ideas on how to deal with the issue ?

[2017-05-26 21:39] grodrigues3 commented on #46543
@mengqiy can you please add sig labels to issues you create?

/sig api-machinery

[2017-05-26 21:40] grodrigues3 commented on #46526
/kind bug
/sig federation

[2017-05-26 21:41] grodrigues3 commented on #46520
/kind bug flake
/sig node

[2017-05-26 21:42] #46518 closed

[2017-05-26 21:42] MrHohn commented on #46533
Some logs from https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/5571/artifacts/bootstrap-e2e-minion-group-0x3p/kube-proxy.log:
[code]
This test expects kube-proxy to update endpoints and local traffic healthcheck within ~5 seconds:
[code]

[2017-05-26 21:42] grodrigues3 commented on #46518
Reopen with more info if you have it

[2017-05-26 21:43] grodrigues3 commented on #46497
/sig onprem
/kind feature

[2017-05-26 21:45] MrHohn commented on #46533
Failure rate raised after #46266 went in.

This is an indicator of kube-proxy acting slower on endpoints updates. Is this expected? Should the e2e test not expecting endpoint update happens that fast?

@thockin @wojtek-t

[2017-05-26 21:46] grodrigues3 commented on #46491
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2017-05-26 21:46] #46491 closed

[2017-05-26 21:47] grodrigues3 commented on #46482
/kind bug
/sig api-server

[2017-05-26 21:47] grodrigues3 commented on #46482
/sig api-machinery

[2017-05-26 21:49] grodrigues3 commented on #46451
/kind feature
/sig storage

[2017-05-26 21:51] igorpeshansky commented on #40212
@crassirostris FYI, https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/pull/129 has been merged, and will be in the next build. We'll notify you when partial success support is completed.

[2017-05-26 21:51] lavalamp commented on #28632
why is this in api machinery??

[2017-05-26 21:52] jagosan commented on #46443
/sig release

[2017-05-26 21:53] jagosan commented on #46443
/sig release

[2017-05-26 21:54] lavalamp commented on #36891
In or out for 1.7?

[2017-05-26 21:54] lavalamp commented on #37473
is this done?

[2017-05-26 21:55] lavalamp commented on #37722
@deads2k we should test this manually or automatically, your choice

[2017-05-26 21:56] lavalamp commented on #38628
I don't think this makes sense now that we are combining?

[2017-05-26 21:56] #38628 closed

[2017-05-26 21:58] lavalamp commented on #43250
Is this still a live issue?

[2017-05-26 21:59] lavalamp commented on #43258
@mbohlool please change the milestone if you're not going to get to this.

[2017-05-26 21:59] jagosan commented on #46391
/assign @enisoc @mwielgus
Looks like action required in both 1.5 and 1.6.

[2017-05-26 21:59] grodrigues3 commented on #46387
/kind bug

[2017-05-26 22:01] #43454 closed

[2017-05-26 22:07] grodrigues3 commented on #46387
/sig scheduling

* I"m not sure who owns this test.  If misfiled, please reassign

[2017-05-26 22:07] lavalamp commented on #45811
please look at and/or paste here the apiserver logs.

[2017-05-26 22:08] cblecker commented on #46391
To update status here:
- Fixes have been merged into master and release-1.6
- 1.5 is still pending approval of @mwielgus
- There are a couple ancillary images (cni and etcd) that still need to be looked at as candidates for upgrade

[2017-05-26 22:09] lavalamp commented on #45506
Is this the same as the error @smarterclayton found where we broke the delete message on filtered watches?

[2017-05-26 22:10] grodrigues3 commented on #46275
/kind enhancement
/sig api-machinery
/assign @xiangpengzhao

[2017-05-26 22:14] jagosan commented on #46271
/sig api-machinery

[2017-05-26 22:14] grodrigues3 commented on #46257
/kind feature
/sig aws

[2017-05-26 22:14] hongchaodeng commented on #45506
To extend the topic, is there any plan to upgrade to etcd 3.1 as minimum version? The PrevValue feature was backported from 3.1 branch anyway.

[2017-05-26 22:15] grodrigues3 commented on #46253
/kind bug
/sig storage

[2017-05-26 22:16] lavalamp commented on #45457
The default etcd container stores a file indicating the etcd version.

User apiservers should NOT be talking directly to the main cluster etcd, and if they are, the admin ought to know exactly what they are doing.

However I think I agree that we should not have changed the default of this flag. I am not sure if changing it back makes this better or twice as bad.

[2017-05-26 22:17] jagosan commented on #45917
/sig node
/assign @mtaufen

[2017-05-26 22:20] grodrigues3 commented on #45420
/sig api-machinery

[2017-05-26 22:20] grodrigues3 commented on #45410
/sig storage
/kind feature

[2017-05-26 22:20] jagosan commented on #45916
/sig api-machinery
/assign @cheftako
Not sure, but 'dial tcp' makes me think perhaps api-machinery, and has been stalled long enough that I'm giving it a shot.

"Error from server: error dialing backend: dial tcp: lookup"

[2017-05-26 22:44] caseydavenport commented on #35986
/close

[2017-05-26 22:44] #35986 closed

[2017-05-26 22:45] caseydavenport commented on #36500
One more try...

/close

[2017-05-26 22:45] #36500 closed

[2017-05-26 22:45] gtirloni commented on #44298
Confirmed on 1.6.4 (CentOS 7.3, Docker 1.12.6).

[2017-05-26 22:46] caseydavenport commented on #41471
/close

[2017-05-26 22:46] #41471 closed

[2017-05-26 22:46] suyogbarve commented on #46191
@smarterclayton @shiywang PR #46546

[2017-05-26 22:49] gnufied commented on #46540
There is some related discussion about AccessModes here- https://github.com/kubernetes-incubator/external-storage/pull/110#discussion_r116681099

[2017-05-26 22:51] caseydavenport commented on #44298
Labeling as SIG-cli as this appears to be a problem with the output generated by kubectl.

/kind bug
/sig cli

[2017-05-26 22:54] gnufied commented on #46540
I think it is doable to perform this validation, if we introduce AccessMode as a field on StorageClass, but general validation of PVCs against what volume plugin actually supports, isn't backward compatible.

For example - user may rely on this behaviour  to use 2 pods with same PVCs (as long as both pods are scheduled on same node).

[2017-05-26 22:59] caseydavenport commented on #40761
/close

[2017-05-26 23:00] #40761 closed

[2017-05-26 23:07] liggitt commented on #45506
No, this is us depending on a feature that only exists in 3.0.12 and up

[2017-05-26 23:09] cyphar commented on #44976
@crassirostris I don't believe that's accurate, as the kernel internally buffers writes (and only writes below a certain size are guaranteed to be atomic). In particular, I would be incredibly surprised if it was that easy to block.

Personally I think the only way of handling this sanely is to have something like a JSON blob for each "line" or entry in the log, which has an escaped string for the

[2017-05-26 23:21] mbohlool commented on #43250
@pwittrock can you clarify?

[2017-05-26 23:27] thockin commented on #46533
This is almost certainly a side-effect of the throttling changes, which
forces 10s between updates.

a) change the default to 5s

b) change the test to wait 15s

c) change the flag during tests (I don't know if we have plumbing to set
kube-proxy flags during tests.

I vote (b)

On Fri, May 26, 2017 at 2:46 PM, Zihong Zheng <notifications@github.com>
wrote:

[2017-05-26 23:34] mbohlool commented on #45170
Is this still failing or it was a one time failure?

[2017-05-26 23:35] MrHohn commented on #46533
b) +1 :)

[2017-05-26 23:42] saad-ali commented on #45143
Thanks for the suggestion @deads2k!

To clarify, the node already keeps track of what volumes are attached or in-use by kubelet via a field in the node status. And attach/detach/mount/unmount logic uses that to prevent premature detaches and unmounts.

The problem is that a pod can reference a PVC/PV pair, which a user may delete before the pod terminates or is deleted. While volume code handles t

[2017-05-26 23:43] thockin commented on #46533
Can you handle that?  I have to leave soon.

On Fri, May 26, 2017 at 4:36 PM, Zihong Zheng <notifications@github.com>
wrote:

[2017-05-26 23:43] MrHohn commented on #46533
Sure, will do

[2017-05-26 23:48] thockin opened #46549 "Implement hostPath volume "type" proposal #34058"
This proposal was submitted but never implemented.  Good opportunity for someone to get to do a feature top-to-bottom.

[2017-05-27 00:03] pwittrock commented on #43250
When generating the ref doc for "NodeCondition" type, how do I figure out what the GVK is?

[2017-05-27 00:07] thockin opened #46553 "ip-masq-agent installs do-nothing iptables rules"
When the ip-masq-agent is activated, kubelet installs a rule that looks like: `-A POSTROUTING ! -d 0.0.0.0/0` which is nonsensical.

@dnardo

[2017-05-27 00:09] anilreddyv commented on #42701
We are having same issue with version v1.6.2, do we know to which version the fix is merged?

May 26 23:54:03 ar-master-k8-02 kubelet: E0526 23:54:03.462871   14883 event.go:259] Could not construct reference to: '&v1.Node{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:v1.ObjectMeta{Name:"ar-master-k8-02", GenerateName:"", Namespace:"", SelfLink:"", UID:"", ResourceVersion:"", Generation

[2017-05-27 00:11] yujuhong commented on #45927
Applied all the necessary labels based on the new policy.

This is needed to not cause a regression for windows support in 1.7. It's a bug, not a feature.
@karataliu is currently working on a subsequent PRs, but the main one (#46089) has been merged.

[2017-05-27 00:17] wongma7 commented on #46540
Yeah I mean preventing administrators from creating EBS RWM PVs might be overreaching. But in our position acting as a PV-creating administrator, we should provide the best UX possible. Even if that means breaking people who are currently aware they can treat the PVC AccessModes as a "don't care" when using dynamic provisioning. Because to be clear, introducing new validation obviously does break

[2017-05-27 00:22] smarterclayton commented on #45143
How can we transactionally enforce that?  An admission check alone isnt going to allow that behavior.  Without a strong transactional record on the pvc, you really can't ensure that scenario today.

[2017-05-27 00:29] thockin commented on #46474
RSS appears to under 5 MB on my test machine.

On Fri, May 26, 2017 at 11:08 AM, Michael Taufen <notifications@github.com>
wrote:

[2017-05-27 00:29] yujuhong commented on #45419
The PLEG health check does very little. In every iteration, it calls `docker ps` to detect container states changes, and call `docker ps` and `inspect` to get the details of those containers.
After finishing each iteration, it updates a timestamp. If the timestamp hasn't been updated for a while (i.e., 3 minutes), the health check fails.

Unless your node is loaded with huge number of pods that PL

[2017-05-27 00:33] #21656 closed

[2017-05-27 00:41] perotinus commented on #45978
This appears to have been fixed by recycling the clusters: the issue that was fixed earlier was merged in on May 25, after the daily cluster recycling. So, some clusters were left in a bad state because of previous failures. Once the clusters were recycled on the morning of the 26th, the tests stopped being flaky.

[2017-05-27 00:42] perotinus commented on #45978
/assign @perotinus

[2017-05-27 00:42] perotinus commented on #45978
/close

[2017-05-27 00:42] smarterclayton commented on #46540
Generally we do not strengthen validation for any reason other than security, even if we think it's a better experience.  The risk of breaking existing clusters is too high

[2017-05-27 00:55] msau42 commented on #44650
Ah sorry, I was looking at the wrong node above.  That node did not cause the test to fail.  The test failed because the image puller pod on "e2e-minion-group-9khr" failed to start after reboot.

Looking at the kubelet logs: (https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/9173/artifacts/err-e2e-minion-group-9khr/kubelet.log)

The volume mounted successfully

[2017-05-27 01:11] mbohlool commented on #43258
@pwittrock This is actually a simple fix and I can send a PR for it, only question is, if an API works on "All namespaces" (vs no namespaced APIs) is it also considered namespaced?

[2017-05-27 01:14] mbohlool commented on #43250
It does not have gvk in the code. what gvk should it get? the parent type? what if it has more than one parent? multiple gvks? This is something that can be found by inspecting the spec without doing any hack anyway.

[2017-05-27 01:17] pwittrock commented on #43250
Aren't the Kinds themselves versioned?  They are declared under a group/version.  Couldn't we in theory have 2 versions of PodTemplate embedded in other resource Specs?

[2017-05-27 01:22] msau42 commented on #44650
Spoke to @Random-Liu, he said this image-puller pod termination is normal, but there might be an issue with static pods and reboots taking > 45 seconds, where kubelet doesn't update the mirror pod in the API server if the pod was terminated.

[2017-05-27 01:32] Random-Liu commented on #44650
@msau42 Sorry after taking a look at [the old l issue](https://github.com/kubernetes/kubernetes/pull/34462), I found this one is a bit different.

In the old issue, the mirror pod was deleted by someone (node controller etc.) unexpectedly, because the pod is terminated, so kubelet didn't recreate the mirror pod. After kubelet got restarted, it sync-ed once, and recreated the mirror pod. So **1 mor

[2017-05-27 01:49] #29059 closed

[2017-05-27 01:49] chakri-nelluri commented on #45887
@davidmccormick is it ok to close this issue?

[2017-05-27 01:52] dixudx commented on #46549
/assign

[2017-05-27 02:00] dixudx commented on #46549
@thockin I would like to work on this feature.

[2017-05-27 02:22] Random-Liu commented on #44650
Based on the log output, this seems to be a race condition:
[code]

The problem is that all static pods should be added all together initially, it seems that the logic is changed.

[2017-05-27 02:32] ZongqiangZhang commented on #23864
+1

[2017-05-27 02:38] weiwei04 commented on #46497
Changed the title from "Mark ExceedDeadline Job(completions: 1/parallelism: 1) with 1 Pod succeed as Completed instead of  Failed?" to "Mark ExceedDeadline Job with completions == succeed instead of  Failed?".

Consider a scenario, the jobSync was kick by the last succeed Pod in a Job, jobSync checked the job has past the actibeDeadlineSeconds and mark the Job condition as Failed, but the job .spe

[2017-05-27 02:47] #46313 closed

[2017-05-27 02:47] #45738 closed

[2017-05-27 02:48] #46447 closed

[2017-05-27 03:13] cblecker commented on #46520
I think https://github.com/kubernetes/kubernetes/pull/46521 is to fix this issue

[2017-05-27 03:39] #44619 closed

[2017-05-27 03:39] #46553 closed

[2017-05-27 03:59] thockin commented on #44613
Batching is in.  We understand that other answers are better.  This answer exists, for now.

[2017-05-27 03:59] #44613 closed

[2017-05-27 03:59] #44564 closed

[2017-05-27 04:00] thockin commented on #45818
Closing in favor of #45971

[2017-05-27 04:00] #45818 closed

[2017-05-27 04:01] thockin commented on #42960
Not happening for 1.7

[2017-05-27 04:02] thockin commented on #23225
Moving out of 1.7

[2017-05-27 04:04] thockin commented on #39642
@madhusudancs is this an actionable thing for 1.7?

[2017-05-27 04:25] wongma7 commented on #46540
What if we made the validation opt-in by making this hypothetical StorageClass AccessModes field optional? kube won't automatically set it, admins can weigh the risk and set it themselves. If empty, do nothing & maintain current behavior; if filled in, validate PVCs against it.

[2017-05-27 05:14] Random-Liu commented on #44976
@cyphar Yeah, linux has a 4096 PIPE_BUF limit. Even option 1 is not actually working.

Yeah, I also think we should escape the new line in the log, so that runtime could cut the log line if needed.

[2017-05-27 05:37] roberthbailey commented on #23225
I moved this from 'next-candidate' (which seems to get ignored) into v1.8. Also note that kubeadm already runs kube-proxy as a daemonset (for better or worse).

[2017-05-27 05:45] thockin commented on #45126
For lager clusters we might be able to heuristically say "too many nodes are dying, I don't buy it".  But in small clusters, pathologically the 1-node cluster you suggest - what should we do?

[2017-05-27 05:56] shiywang commented on #46503
I would like to take a look if it's not in a hurry

[2017-05-27 05:59] thockin commented on #37396
OnlyLocal should not be specific to GCE.  @MrHohn can reply with an issue for non-GCE issues

[2017-05-27 05:59] #37396 closed

[2017-05-27 06:19] thockin commented on #44063
Have we seen code for this yet?  At this point, there's simply no way it is
making v1.7, but I'd love to queue up something here for v1.8

On Wed, May 24, 2017 at 10:37 PM, Guang Ya Liu <notifications@github.com>
wrote:

[2017-05-27 06:49] MrHohn commented on #37396
@caseydavenport  FYI some folks are working on adding OnlyLocal support to AWS - #43585.

[2017-05-27 07:34] roberthbailey commented on #23233
Bumping this from 1.7 to 1.8.

[2017-05-27 07:39] roberthbailey commented on #38067
gcr.io still doesn't support manifest lists so I'm bumping to 1.8.

[2017-05-27 07:42] roberthbailey commented on #39990
@cjcullen - what's left to do here? Is everything necessary for 1.7 in place?

[2017-05-27 07:55] PengTaoWW commented on #30042
@xiangpengzhao @yujuhong in my code will not stuck,timeout after will kill container

[2017-05-27 08:35] jeremywu0127 opened #46564 "cloud-controller-manager can't mount ebs in a pod when using dynamic provisioning"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): NO

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): aws ebs pvc cloud-controller-manager

---

**Is this a BUG REPORT or FEATURE REQUEST?

[2017-05-27 08:48] zizhuo-yan commented on #30584
Hi，I have met the same problem. firstly , I use `make clean` & `rm -fr _output`. Then use cmd `dos2unix` and excute recursively, now it works.

[aaa@server1 kube]$ bash hack/update-codecgen.sh
Building dependencies
Building codecgen
+++ [0527 16:24:19] Building the toolchain targets:
    k8s.io/kubernetes/hack/cmd/teststale
    k8s.io/kubernetes/vendor/github.com/jteeuwen/go-bindata/go-bindata
+++

[2017-05-27 09:05] kachkaev commented on #38369
Hi guys, could you please explain what do you mean to unset http_proxy? Is it an environment variable, a config parameter or something else? Cheers!

[2017-05-27 09:25] mdshuai commented on #46482
@derekwaynecarr @DirectXMan12

[2017-05-27 10:01] heartarea commented on #43805
kubelet's  cgroup driver  is not same with docker's cgroup driver, so I update systemd -> cgroupfs.

`vi /etc/systemd/system/kubelet.service.d/10-kubeadm.conf`
update `KUBELET_CGROUP_ARGS=--cgroup-driver=systemd`    to   `KUBELET_CGROUP_ARGS=--cgroup-driver=cgroupfs`

restart kubelet
run 'service kubelet restart'

everyting is ok

[2017-05-27 10:04] shiywang commented on #38761
@kargakis @adohe any progress on this ? if tony is busy I would like to help here : )

[2017-05-27 10:06] shiywang commented on #43750
@kargakis  I think we can close this ?

[2017-05-27 10:49] davidmccormick commented on #45887
All ok for me now, thanks very much!

[2017-05-27 10:49] #45887 closed

[2017-05-27 11:05] feiskyer commented on #25066
@mkumatag  @kfox1111 Any updates on this?

cc/ @kubernetes/sig-openstack-misc

[2017-05-27 11:12] yastij opened #46567 "CloudProviderOptions's DefaultExternalHost should be extended to other cloud providers"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

cloud provider
CloudProviderOptions
DefaultExternalHost

---

**Is this a BUG REPORT

[2017-05-27 11:12] yastij commented on #46567
/assign

[2017-05-27 11:14] yastij commented on #46567
/area apiserver

[2017-05-27 12:24] php-coder commented on #43750
@shiywang I don't see that it was fixed. Does the output of `kubectl version` was improved?

[2017-05-27 13:00] deads2k commented on #46446
I think I found it and opened https://github.com/kubernetes/kubernetes/issues/46536

[2017-05-27 13:18] jmastr commented on #43988
For me it seems to have something to do with flannel v0.7.0 and Kubernetes v1.6.x. My Kubelet starts to act weird, when the rkt garbage collection starts, either reproducible with `sudo rkt gc` or  automatically like:
[code]

There are indications that v0.7.1 solves some Kubernetes related issues, see: https://github.com/coreos/flannel/pull/690, but since it is currently not shipped with the CoreO

[2017-05-27 13:38] jmzwcn opened #46568 "How to let pods spread by IDC(like label in idc1,idc2,idc3...,but must in idc1/idc2/idc3 at the same time)"
Dear all,

Please help/advice. Anybody know how to let pods within a deployment spread by IDC(e.g label in idc1,idc2,idc3...)?

Expected result is we must have pods in different IDCs.

Regards,

[2017-05-27 13:59] paalkr commented on #45887
@chakri-nelluri , thanks for the dedicated support. I will reach out to you on slack if I'm facing any issues with the cifs plugin put together by  @fvigotti

[2017-05-27 17:40] xiangpengzhao commented on #46568
/sig scheduling
/kind support

[2017-05-27 17:59] nmrony commented on #25408
@dchen1107, @kadyogesh  I am also facing the same for local registry
[code]

[2017-05-27 18:17] #46533 closed

[2017-05-27 18:41] anurag commented on #45419
Running into PLEG unhealthy warnings and flapping node health status : k8s 1.6.4 with weave. Only appears on a subset of (otherwise identical) nodes.

[2017-05-27 18:44] dlsniper opened #46569 "Help with cryptic deployment problem"
**Kubernetes version** (use `kubectl version`):
1.6.2

**Environment**:
- **Cloud provider or hardware configuration**:
GKE
- **OS** (e.g. from /etc/os-release):
ContainerOS
- **Kernel** (e.g. `uname -a`):
🤷‍♂️
- **Install tools**:
🤷‍♂️
- **Others**:
🤷‍♂️

**What happened**:
I'm trying to deploy a project in GKE but I'm getting this error
[code]

Trying to run ` kubectl create sa circleci@gophers-

[2017-05-27 18:45] mikedanese commented on #23225
Is @freehan working on this?

[2017-05-27 18:47] thockin commented on #23225
Not in 1.7

On May 27, 2017 11:46 AM, "Mike Danese" <notifications@github.com> wrote:

[2017-05-27 19:03] pmorie commented on #36997
My $0.02:

Moving the existing logic/information for seccomp into a first-class field for CRI (as in #46332) is productive because of the known problems with the annotation approach.

My initial proposal for seccomp support included a resource similar to what @jessfraz has proposed in kubernetes/community#660 and we were unable to come to an agreement on the issue @timstclair refers to here: https

[2017-05-27 19:05] smarterclayton opened #46570 "flake: TestCrossNamespaceListWatch"
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/36721/pull-kubernetes-unit/33133/

[2017-05-27 19:06] smarterclayton commented on #46570
@kubernetes/sig-api-machinery-pr-reviews

[2017-05-27 19:15] luxas commented on #46564
ping @wlan0

[2017-05-27 19:17] liggitt commented on #46446
I can see how #46536 would avoid the "too old" error, but in cases where the "too old" error is actually supposed to be getting returned, don't we have a separate problem with the watch event error not being able to be decoded?

[2017-05-27 19:17] luxas commented on #46508
Related I guess: https://github.com/kubernetes/community/pull/662

[2017-05-27 19:22] luxas commented on #46520
Yes #46521 will fix this.

Thanks for reporting @danwinship!

[2017-05-27 19:41] k8s-merge-robot opened #46572 "ci-kubernetes-e2e-gke-stackdriver Failure cluster [b5bfce...] failed 95 builds, 1 jobs, and 1 tests over 1 days"
### Failure cluster [b5bfce234bfe6efc2e3d](https://go.k8s.io/triage#b5bfce234bfe6efc2e3d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    1 jobs failed,    95 builds failed.
Failure stats cover 1 day time range '26 May 2017 14:01 UTC' to '27 May 2017 14:01 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Stackdriver Mo

[2017-05-27 20:34] dlsniper opened #46574 "Replace fluentd with something more resource friendly"
Hi,

I'm running a k8s 1.6.2 cluster in GKE.
I'm looking at the following screenshot:
![screencapture-app-google-stackdriver-1495915736209](https://cloud.githubusercontent.com/assets/607868/26524194/32665220-4323-11e7-8558-f1456361aa2c.png)
and it looks like fluentd is using a whole lot of memory compared with anything else running in it.
As far as I can understand fluentd is the current recommend

[2017-05-27 20:36] liggitt commented on #31799
the reported cluster is not a supported version. closing due to age.

[2017-05-27 20:36] #31799 closed

[2017-05-27 20:40] liggitt commented on #4672
We'd want to use the mechanism for refreshing a client transport to allow the clients built for controllers by the controller manager to obtain new credentials if their current ones go bad.

[2017-05-27 20:40] liggitt commented on #44054
Actually, client transport refresh is covered by https://github.com/kubernetes/kubernetes/issues/4672

[2017-05-27 20:40] #44054 closed

[2017-05-27 20:43] liggitt commented on #9084
now that we're at the end of 1.7, it's not a good time now either. If we still think this is valuable, @jayunit100 can you open a PR to implement this and we can merge it at the *beginning* of 1.8?

[2017-05-27 20:44] xiangpengzhao commented on #46569
@  is an invalid character in Name.

/kind support

[2017-05-27 20:50] dlsniper commented on #46569
@xiangpengzhao thanks for the reply. But then how can I make this work with GKE?
I've followed every tutorial that I could find, none of them explains how to create a role that allows a CI system to update a deployment in k8s. Am I missing something?

[2017-05-27 21:00] xiangpengzhao commented on #46569
I'm not sure whether there is a best practice on this or not. @liggit might help?

However, please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

[2017-05-27 21:04] dlsniper commented on #46569
@xiangpengzhao but the error is coming from k8s and I don't understand how to fix it and the documentation is not helpful either. Shouldn't this be kept open so that others that have similar issues see the problem and the team sees the issue and maybe add more documentation around roles and groups and an example of usage for k8s and gke / other deployments that have this solved?

[2017-05-27 21:06] mdshuai commented on #46482
CC @deads2k

[2017-05-27 21:06] dlsniper commented on #46569
Not to mention that this worked perfectly before K8s 1.6 upgrade, which means that the upgrade introduced the problem without a way for users to understand the changes done in 1.6 compared to previous versions in order to fix this.

[2017-05-27 21:08] xiangpengzhao commented on #46569
SGTM:)

[2017-05-27 21:11] quinton-hoole commented on #44063
Code is done and going through final e2e testing. The plan is to get it
into v1.8.

On May 26, 2017 23:20, "Tim Hockin" <notifications@github.com> wrote:

[2017-05-27 21:31] dlsniper commented on #46569
I've posted the question on [stackoverflow](https://stackoverflow.com/questions/44221785/how-to-deploy-an-application-in-gke-from-a-public-ci-server) as advised. Thank you.

[2017-05-27 22:41] thockin commented on #44063
But nobody has seen it yet?  Publish early and often.  You *know* there's
going to be a lot of feedback - get that code out now now now.  Don't sit
on it.  Don't polish it.  PUBLISH.  Or risk that it doesn't get merged
because of the depth of feedback, or that someone else implements it while
you're busy polishing.

We have a fairly robust e2e suite.  You should be able to just boot with
this enab

[2017-05-27 23:53] vieira opened #46575 "Default values for number of replicas and maxUnavailable causes deployments to report as successful rolled out when no pods available"
**CHANGE REQUEST**

**Kubernetes version** (use `kubectl version`):
Client Version: v1.6.4
Server Version: v1.6.2
[code]

**Environment**:
- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.2 LTS
- **Kernel** (e.g. `uname -a`): Linux 4.8.0-52-generic 55~16.04.1-Ubuntu
- **Install tools**: N/A
- **Others**: N/A

**What happened**:
Default values f

[2017-05-28 00:43] xiangpengzhao commented on #46575
/sig apps

[2017-05-28 00:55] xiangpengzhao commented on #46574
/area logging

[2017-05-28 00:55] xiangpengzhao commented on #46574
/area logging

[2017-05-28 08:40] luxas commented on #46482
@chengzhang1016 Can you try to use the built-in aggregator in the API server instead of running it externally?
Also the scaleTargetRef should be a Deployment in the apps/v1beta1 group instead of ReplicationController I think.

It seems like the certificate for heapster is somehow invalid in any case...

[2017-05-28 08:46] luxas commented on #34136
@pipejakob @mikedanese I think this issue can be closed now given that we have the kubeadm e2e Prow job running?

Also @ivan4th has the kubeadm DIND project that can be used for this purpose easily by devs.

[2017-05-28 08:48] luxas commented on #34134
@mikedanese @pipejakob I think we should move this issue to kubernetes/kubeadm.

[2017-05-28 08:49] luxas commented on #31431
@lavalamp @caesarxuchao Have things developed in a way that makes this issue obsolete?
I hope so ;)

[2017-05-28 09:51] tacy commented on #30073
@thockin - What is the expected behavior if both cluster-domain and resolv-conf are passed.

I start kubelet with flags: '--cluster-domain=cluster.local --resolv-conf=/root/resolv.conf',  the result is following:

[code]

[2017-05-28 10:53] nikhita commented on #46570
Dupe of https://github.com/kubernetes/kubernetes/issues/46446
Being addressed in https://github.com/kubernetes/kubernetes/pull/46536

[2017-05-28 11:34] #44146 closed

[2017-05-28 11:54] dujun1990 commented on #44063
@thockin @quinton-hoole

Initial PR #46580 is already sent out.

[2017-05-28 12:41] luxas commented on #46549
@dixudx Perfect! Seems like we can't assign it to you Github-wise, but feel free to start working on it! :smile:

[2017-05-28 12:50] liggitt commented on #36891
I don't really see any new options for 1.7

[2017-05-28 13:07] zoidbergwill commented on #24745
@jdconley we had some success with enabling Client IP session affinity and using `OnlyLocal` services, by adding this annotation on the service:

[code]

We're still busy getting our web sockets stuff production ready though. Will update this post if we needed any other configuration and the issue isn't application level.

[2017-05-28 13:07] smarterclayton commented on #31431
We're in a better place, for sure.  I don't know whether the worst one in time (openapi) got fixed, but many other places have reduced setup work

[2017-05-28 13:17] smarterclayton commented on #46540
Generally yes, that works.  We wouldn't be able to automatically
populate that field except on new installations, but for new
installations that might be ok

[2017-05-28 13:22] smarterclayton commented on #45143
I'm tempted to just say "don't do that".  But I understand the desire.

I agree this feels more like a status field on PVC, but it also seems
like this is a UI problem as well ("don't delete this because it's
used by a node" as a message).

Another option is to implement graceful deletion on PVCs and have the
attach controller manage a finalizer (apologies if that's already been
suggested)

[2017-05-28 13:26] dhilipkumars commented on #44063
@thockin originally we were relying on seesaw library and had a plan of updating it to a pure go implementation as phase 2 (probably in 1.8).  Because of the complexities introduced by libnl.so dependencies last week we decided to move away from `seesaw`.    Docker's libnetwork had a good set of ipvs apis but was missing GETXXX() methods.  We quicky contributed to libnetwork and that got merged 3

[2017-05-28 14:02] SemenMartynov commented on #44029
Hi @vagharsh

Try to re-enable and re-start docker -- in my case it helps!
[code]

[2017-05-28 14:16] mdshuai commented on #46482
@luxas We use the built-in aggregator.
From the error info, It should be some certificate issue. `E0525 23:27:17.324509    5029 horizontal.go:205] failed to compute desired number of replicas based on listed metrics for ReplicationController/default/hello-hpa-memory: failed to get memory utilization: unable to get metrics for resource memory: unable to fetch metrics from API: an error on the serve

[2017-05-28 14:29] mdshuai commented on #46482
I short the issue description as below:
1. Heapster is serving the new-style API server `(--api-server=true)` and metrics API is registered to apiserver (use built-in kube-aggregator)
2. HPA use restapi client
3. When HPA get the metrics it get error info `Error: 'x509: certificate signed by unknown authority`

[2017-05-28 14:45] xiangpengzhao commented on #29120
/sig node

@dchen1107 @matchstick any updates?

[2017-05-28 15:48] luxas commented on #46482
What does the APIService yaml resource look like?

[2017-05-28 15:55] fgimenez commented on #45934
I'd like to work on this, where should I begin? I've been reading through https://github.com/kubernetes/dns, AIUI the Dockerfile of dns-diagnoser should live there and the build process should be changed to build it, is that ok? Also, about the initial suggestion, what should dns.yaml define?

Thanks!

[2017-05-28 15:57] xiangpengzhao commented on #29108
DaemonSets now already respects taints and tolerations. You can register a taint for your master with a kubelet flag `--register-with-taints=node.alpha.kubernetes.io/ismaster=:NoSchedule` and don't add toleration to your daemonsets to make it not scheduled on master.

[2017-05-28 15:59] xiangpengzhao commented on #29108
I think it's okay to close this issue now.

/cc @davidopp @thockin

[2017-05-28 16:05] adamhaney commented on #43784
kops v1.6.0 references this issue

`W0528 11:00:47.597850    9970 apiserver.go:90] Enabling apiserver insecure port, for healthchecks (issue #43784)`

But it's not clear what if any action I should take as a part of my configuration. Is that line kops telling me that they're using a workaround or that I need to change my configuration?

[2017-05-28 16:10] liggitt commented on #43784
There are currently two ways to allow an unauthenticated health check:
1) enable the unsecured port, which lets anyone who can reach it be a superuser
2) enable anonymous requests to the TLS port and depend on authorization to limit which endpoints anonymous requests are allowed to reach

kops disables anonymous requests to the TLS port, so it must enable the unsecured port if it wants to make ano

[2017-05-28 16:25] paalkr commented on #45887
@chakri-nelluri and @fvigotti , sorry to continue on a closed issue ;)
I still does not get the cifs plugin to run. I posted a message on slack https://kubernetes.slack.com/archives/C09NXKJKA/p1495988103021947 but I'm not sure if the will ever reach you guys.

Basically I still get the same errors
[code]

[2017-05-28 16:32] luxas commented on #46391
Only thing left is cni and etcd.
 - cni: Won't be released anymore by our scripts
 - etcd: Will probably be released once more, but will probably use 1.8.x.

@cblecker Feel free to send a PR to etcd bump to 1.7.6 in the meantime so we don't miss it in case we'd make a new release of that image.

[2017-05-28 16:40] xiangpengzhao commented on #28961
@cdrage any updates on this? I see your comment https://github.com/kubernetes/kubernetes/issues/12716#issuecomment-232702711. But I don't see any follow PR to fix this.

[2017-05-28 17:18] #29108 closed

[2017-05-28 17:23] thockin commented on #45934
Seems appropriate as a home.  I would start with a rough spec of the tests
you want to run.  Report number of dns endpoints.  Report number of
restarts.  Measure latency and dropped requests to each endpoint in the
service.  Report. Ache ratios for each replica.  Etc

On May 28, 2017 8:55 AM, "Federico Gimenez" <notifications@github.com>
wrote:

[2017-05-28 17:34] cdrage commented on #28961
@xiangpengzhao https://github.com/kubernetes/kubernetes/pull/28963 was the PR. I'll close this.

[2017-05-28 17:34] #28961 closed

[2017-05-28 17:54] xiangpengzhao commented on #28961
Yeah I saw that PR, but I think it just fixed the init of ServiceController. What if someone tries to create a Service of type LoadBalancer without a cloud-provider specified? Is there any error logs for that? Thanks!

[2017-05-28 18:31] xiangpengzhao commented on #28918
Seems like Buddha's https://github.com/kubernetes/kubernetes/pull/27880#issuecomment-232519302 didn' get response there. AFAIK Pod UID is still not exposed by the downward API currently. Do we still discuss on this?

cc @smarterclayton @thockin @vishh

[2017-05-28 18:46] xiangpengzhao commented on #28899
I think this issue is no longer valid. Please file an issue in https://github.com/kubernetes/kubernetes.github.io/issues if there is still any broken link in http://kubernetes.io/docs/. Thanks!

cc @thockin

[2017-05-28 18:51] xiangpengzhao commented on #28889
@Arachnid, does @theobolo 's workaround fix your problem? Is it okay to close this issue?

cc @thockin

[2017-05-28 18:56] paalkr commented on #45887
I did came a little longer this time, but there are still some errors in the log. Complaining about the returned json object from the cifs mounting code.

[code]

[2017-05-28 19:00] MrHohn commented on #46393
Test is passing after #46452 went in. Closing this issue.

/close

[2017-05-28 19:00] #46393 closed

[2017-05-28 19:15] unixwitch commented on #30726
We're not using registry-proxy anymore, so feel free to close this when it's been fixed (I won't be able to test it).

[2017-05-28 20:03] #28899 closed

[2017-05-28 20:03] #28889 closed

[2017-05-28 20:04] #28739 closed

[2017-05-28 21:25] aabed commented on #7960
but won't that make kubectl block until it makes sure everything went well, otherwise report error?

[2017-05-28 21:32] aabed commented on #25386
are we looking for something like
https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get

if so I'd like to work on it

[2017-05-28 21:50] psyhomb commented on #44484
Where did you find this flag exactly, I'm using `kubeadm` version 1.6.4 and I can't find it?
`kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9ca2f7ae19b252e6fcb66a3ae", GitTreeState:"clean", BuildDate:"2017-05-19T18:33:17Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
`

[code]

[2017-05-28 22:34] xiangpengzhao commented on #46564
/sig storage

[2017-05-28 23:01] jayunit100 commented on #9084
Okidoki . Easy one liner anyone can open it .

[2017-05-28 23:04] jayunit100 commented on #9084
I'm going to close this for now since it isn't being tracked by anyone other than me, and I haven't seen issues with this in a while .   I think it's fairly obvious that unpending e2es is a good thing in a flake free alternate reality once we get there :).

[2017-05-28 23:04] #9084 closed

[2017-05-29 04:12] vagharsh commented on #44029
i added this to the docker start options and everything worked fine after it.
--exec-opt native.cgroupdriver=systemd

[2017-05-29 04:30] yogeshnath commented on #41507
I'm still running into the same issue. mirror pods should be deleted once static pods are removed from the node. This is key if you reconfigure etcd or api-server.

[2017-05-29 06:01] MikeSpreitzer opened #46586 "github.com/opencontainers/runc/libcontainer/selinux moved to github.com/opencontainers/selinux/go-selinux"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): NO

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------

[2017-05-29 06:34] xiangpengzhao commented on #28681
/remove-component kubectl
/sig node
/area logging

[2017-05-29 06:35] xiangpengzhao commented on #28681
/remove-area kubectl

[2017-05-29 07:09] gyliu513 commented on #33188
@jayunit100 Does this still be a problem? We already have all of the documents related to scheduler in https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/concepts/configuration/assign-pod-node.md

[2017-05-29 07:14] deitch commented on #45790
So... this issue now seems to boil down to, "add to release notes and inform CNI developers." Or perhaps "Create standard and known API and release notes for CNI developers."

Should I rename it to that? Or just close it?

[2017-05-29 07:56] pizzarabe commented on #46347
@tinselspoon Yes, my Kube-Api Log says thing like `reflector.go:363] k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/storage/cacher.go:215: expected type *api.Pod, but watch event object had type <nil>`
I run etcd 3.10 bc it is the current Version in CoreOS stable :/

@bsalamat I can reproduce the scheduler to die (creating a pod with the manifest I mentioned before).
I don't know what I did to caus

[2017-05-29 08:02] xiangpengzhao commented on #28776
/sig network

[2017-05-29 08:05] gyliu513 commented on #45780
/assign

[2017-05-29 08:22] xiangpengzhao commented on #28419
already fixed.

@thockin

[2017-05-29 09:02] xiangpengzhao commented on #28273
cc @thockin

[2017-05-29 09:07] yastij commented on #46567
/kind enhancement

[2017-05-29 09:30] wojtek-t commented on #46347
@pizzarabe - if you are using etcd in 3.0.10 version, this is definitely possible. You should upgrade to at least 3.0.12 (prefferably to 3.0.17).
With 3.0.10 a bunch of different things may not work in your cluster (not only scheduler).

We should wait if this is reproducible also with 3.0.17 etcd version. I suspect it's not, and this is etcd issue that we are aware of (and was fixed in higher ver

[2017-05-29 09:49] kylejm commented on #30617
~24hrs later and I got continuous deployment up and running with CircleCI. It was quite hard to sift through all the possible fixes both in this thread and found via Google.

If anyone comes looking for a working setup, [here's](https://github.com/kylejm/cut-api/blob/97d4c197ab13e1134a2ea55acbe8b424f885d43f/deploy.sh) what's working for me 👍.

I'd recommend that anyone coming to this problem now r