[2021-01-15 15:31] #98040 closed

[2021-01-15 15:47] #89330 closed

[2021-01-15 15:53] thejoycekung commented on #91236
Adding this failure from the other day: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1349778390420295680

[2021-01-15 16:00] thejoycekung commented on #95133
This test is still flaking a bit -- recent failures from the past 2 days:

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1349566998060732416
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1349448721439395840
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/134939875189404876

[2021-01-15 16:00] jayunit100 opened #98102 "Windows Containerd: Kubelet processes not cleaned up due to container_log_manager cleanup issues, results in hung exec processes and memory explosion over time"
**What happened**:

We are seeing that, on kubelets that use containerd on WINDOWS, periodically processes dont get cleaned up, and get leaked.  this leads to gradual increase of resource useage over time, and also leads to what appears to be scenarios where `kubectl exec` 'hangs', and never actually completes running a command.

I found this when running e2e tests for windows, wherein several `ag

[2021-01-15 16:05] jayunit100 commented on #98102
/sig windows
/sig node

[2021-01-15 16:05] jayunit100 commented on #98102
@knabben  can you make it so the netpol tests give us fine grained info on startup  ? that will make them a better diagnostrict for this.

[2021-01-15 16:06] lavalamp commented on #97831
Oh, you're right, it's of course only namespace objects. 🤦

I still think this is close to impossible, since the watch cache is not on for all resources.

I guess we can leave this request open for a while in case someone has a brainstorm.

[2021-01-15 16:08] jayunit100 commented on #98102
in this case were running kube-proxy in userspace, and  in this situation is failing to close service port portal, in certain cases.  That may be part of what causes this mess to accumulate

[2021-01-15 16:22] perithompson commented on #98102
I've uploaded the [Kublet Logs](https://gist.github.com/perithompson/ba1065e8c80a4018366a20a21b078a6d) here

[2021-01-15 16:25] jayunit100 commented on #98102
note to self, `.\ctr.exe -n "k8s.io" c ls  | sls "agn" | measure` is how were grepping this out of the windows process log :)

[2021-01-15 16:28] mkumatag commented on #94085
I also have seen this issue with containerd runtime, anyone working on this issue?

[2021-01-15 16:40] perithompson commented on #98102
container cc99130d8956da668e5b70ca5913389cf68ed82b9a539d5b7a88eab1932aba96 is unable to create 0.log but then cannot delete the folder.

[2021-01-15 16:48] thejoycekung opened #98104 "[Flaky Test] [sig-network] Services should be able to change the type from ClusterIP to ExternalName"
**Which jobs are flaking**:
- `ci-kubernetes-e2e-ubuntu-gce-containerd`
- `ci-kubernetes-e2e-gci-gce`

**Which test(s) are flaking**:
`[sig-network] Services should be able to change the type from ClusterIP to ExternalName`

**Testgrid link**:
- https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-ubuntu-master-containerd
- https://k8s-testgrid.appspot.com/sig-release-master-blocking#g

[2021-01-15 16:52] apelisse commented on #98080
Based on Jordan's reading and mine, this is a bug/misreading of the JSON Merge patch. We should probably patch upstream.
Can the spec be updated to improve readability/add a test case?

[2021-01-15 16:56] mattcary commented on #97985
/assign @mattcary

This is in our wheelhouse. Before we do this, though, we should probably have a complete timeline including when PD CSI becomes the default storageclass.

It's also not clear to me who uses kube-up outside of kubetest and when k/k/cluster/gce is going away in favor of cloud-provider-gcp?

[2021-01-15 17:10] ivanangelov commented on #92639
Hello @robscott, I would like to elaborate on the last two comments. Is it possible to include in the K8s Ingres API the option of **targetting specific pod + port** in the rules. Because it is common for applications running in pods to expose multiple ports. I think this would be a popular use case.

[2021-01-15 17:53] Jefftree commented on #89264
Additional lines for reference:

This is roughly how SSA consumes the openapi spec.

openapi spec -> openapi proto model -> typeconverter -> SSA field manager

For built in types, openapi spec -> openapi model

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go#L491

openapi model -> typeconverter

https://github.com/kubernetes/kubernet

[2021-01-15 17:55] jayunit100 commented on #98102
Full reproducer:
[code]

[2021-01-15 18:12] mecampbellsoup commented on #37822
As an update, I think we are actually just going to create/register a new OAuth client for each of our cloud customers so that they have distinct secrets alongside their refresh tokens. This way the client secret is not shared, and we don't have a single public k8s client which feels like really poor security.

[2021-01-15 18:25] #97182 closed

[2021-01-15 18:58] erictune commented on #28486
That proposal sounds good.
Just to clarify: although the finalizer is added to the pod, in normal operation, the controller removes the finalizer to it long before it actually would block pod deletion.  Right?

[2021-01-15 19:07] caesarxuchao commented on #98094
"Executing sh script inside container docker of pod" does sound like the workers are calling `kubectl exec` or its equivalences.

I want to understand if the underlying issue is a one-time flake, or is like "once the error happened, all calls of`kubectl exec` in the next 8 hours will fail".

In https://github.com/kubernetes/kubernetes/issues/87615#issuecomment-760663422 you mentioned that the erro

[2021-01-15 19:11] alculquicondor commented on #28486
Assuming users normally delete Job Pods after they have completed, yes. Same for the TTL controller.

Now, if a user wants to delete a Job (or one of the Pods) before they complete, they get a deletion timestamp. Eventually the kubelet marks them as Failed and then the Job controller can pick it up and remove the finalizer. But... this is a good corner case to add to the tests.

[2021-01-15 19:15] lavalamp commented on #28486
I think that's an improvement over today.

The risk is a bug in the Job controller causes the finalizers to not be removed, which keeps the pods around and eventually overwhelms the system.

[2021-01-15 20:02] fabriciomrtnz commented on #95039
Jan 15 19:38:08 kubem kubelet[1628]: W0115 19:38:08.766362    1628 sysinfo.go:203] Nodes topology is not available, providing CPU topology
Jan 15 19:38:08 kubem kubelet[1628]: W0115 19:38:08.767116    1628 sysfs.go:348] unable to read /sys/devices/system/cpu/cpu0/online: open /sys/devices/system/cpu/cpu0/online: no such file or directory
Jan 15 19:38:08 kubem kubelet[1628]: W0115 19:38:08.767205

[2021-01-15 20:14] caesarxuchao commented on #97545
@jiayouxujin can you elaborate on why the transport is preventing reusing connections?

client-go uses the regular golang [http.Transport](https://github.com/kubernetes/kubernetes/blob/b6958b2b1bb2cdf9a7c1ef78f525a5305e455f54/staging/src/k8s.io/client-go/transport/cache.go#L112) AFAIK.

[2021-01-15 20:23] thockin commented on #95587
Fundamentally this comes down to how we do defaulting and re-use types.  If
Deployment didn't use PodSpec, it would not get the defaults for PodSpec.
But then we'd have to track 2 different  podSpec types that have all the
same fields.

On a lark I did this:

[code]

And then I re-made generated files.  Aside from a bunch of "API rule
violation" errors which seem to be excepted for pod spec (we sh

[2021-01-15 20:24] jayunit100 commented on #98102
https://www.youtube.com/watch?v=OnRBkhutGP8&t=37s <-- recording is here

[2021-01-15 20:34] justaugustus commented on #97846
FYI @kubernetes/release-engineering
ref: https://github.com/kubernetes/release/issues/1834

[2021-01-15 21:03] ymettier commented on #97525
Hello,

Yesterday, I upgraded my test control-plane.

[code]
[code]

[code]

There are 2 things to notice
* the upgrade process removed my two additionnal options (my fix)
* the nodes are running for 23h without interruption

**Was the problem fixed in 1.20.2 ?**

Before closing the ticket, I want to upgrade my "production" cluster. I keep you informed.

[2021-01-15 21:04] ymettier commented on #97525
(and if it was fixed, what was the fix ?)

[2021-01-15 21:18] qiutongs commented on #78693
Job controller currently relies on Pods not being removed to keep track of completions. https://github.com/kubernetes/kubernetes/issues/28486

Therefore it seems we'd better keep the current threshold before fixing that issue.

[2021-01-15 21:34] ehashman commented on #93480
@brancz @erain where did we get with this?

[2021-01-15 21:52] dkatipamula opened #98106 "Unable to set kernel.core_pattern for the pods"
Hi,
I am trying to modify the kernel.core_pattern but I am unable to modify it as it is Read-Only.

I have tried:
_echo 'kernel.core_pattern=/tmp/core-%e.%p.%h.%t' >> /etc/sysctl.conf_
Reload sysctl:
_sysctl --system_

* Applying /etc/sysctl.conf ...
sysctl: setting key "kernel.core_pattern": Read-only file system

cat /proc/sys/kernel/core_pattern
|/usr/share/apport/apport %p %s %c %d %P %E

I am

[2021-01-15 21:57] #97458 closed

[2021-01-15 21:57] #97924 closed

[2021-01-15 22:04] dkatipamula commented on #98106
/sig-node

[2021-01-15 22:05] neolit123 commented on #98006
I saw a recent report that the cgroupfs driver is leaking memory, so use at
your own risk.

Yes. You need to pass the systemd driver to the kubelet. You have a typo in
your example btw.

[2021-01-15 22:08] neolit123 commented on #89900
We have a number of different containerd e2e test so it must be something
on your nodes. Try following the k8s website inatructions exactly. Dont
forget to pass cgroup driver to kubelet to match your containerd cgroup
driver if needed.

[2021-01-15 22:19] msau42 commented on #85476
/reopen
Maybe we could do something for csi since the staging directory is deterministic.

@kubernetes/sig-storage-bugs

[2021-01-15 22:20] msau42 commented on #85476
/remove-lifecycle rotten

[2021-01-15 22:35] erain commented on #93480
Looks like those tests didn't work for at least half a year and nobody cared...

Should we delete this e2e test as well? If so I can help with that.

[2021-01-15 22:45] ehashman commented on #93480
Yes, let's remove them. Would appreciate the help!

/remove-lifecycle rotten

[2021-01-15 22:54] #94079 closed

[2021-01-15 23:49] bobbypage commented on #32457
This change has already been released to GKE on node image versions `v1.18.6-gke.6300` and higher.

We changed the sysctls to the following:

[code]

[2021-01-15 23:55] #92808 closed

[2021-01-16 00:07] howardjohn opened #98108 "imagePullPolicy and :latest defaulting doesn't interact well with declarative API"
**What happened**:

Apply a deployment with `:latest`, then switch the image to not use `:latest`.
Remove the deployment, then apply the image without `:latest` again. This time, imagePullPolicy is different.

[code]

**What you expected to happen**:

API is fully declarative; applying pod v1 then pod v2 should be the same as applying pod v2 directly.

I think I know *why* this happens, the defaul

[2021-01-16 00:22] lavalamp commented on #97525
#97685 was a serious problem on 32 bit systems, but I wouldn't expect it to manifest with the symptoms given here.

[2021-01-16 00:48] apelisse commented on #98079
Yeah, we can probably fix this one fairly easily (we have the same long-term and short-term goals ;-)

[2021-01-16 01:08] #98020 closed

[2021-01-16 01:57] #94064 closed

[2021-01-16 02:20] liggitt commented on #88097
https://github.com/kubernetes/kubernetes/pull/92743 was released in 1.20

[2021-01-16 02:20] #88097 closed

[2021-01-16 04:45] oldthreefeng opened #98112 "init containerd error when user define /var/lib/kubelet/config.yaml cause cover by kubeadm"
**What happened**:

kubeadm init will cover User define ` /var/lib/kubelet/config.yaml`

**What you expected to happen**:

kubeadm init will never cover User define ` /var/lib/kubelet/config.yaml`

**How to reproduce it (as minimally and precisely as possible)**:
esay to reproduce
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud pro

[2021-01-16 04:45] zerkms commented on #98094
Every time it runs docker exec's - a one line is logged.

8 hours here was based here mostly on the fact that on that very node records only appeared within last 8 hours, which not coincidentally matches business hours: when the office developers started committed code - it triggered jenkins jobs, but nothing happens in the night, hence "last 8 hours".

Even though those records appear in the kube

[2021-01-16 05:00] #93801 closed

[2021-01-16 05:05] gavinfish commented on #94696
/assign
/remove-help

[2021-01-16 09:04] oldthreefeng commented on #89900
@sbwfnhn you can just add a flag to tell kubelet Use systemd like
[code]

[2021-01-16 09:05] BenTheElder commented on #98086
note that the fix will apply to *new* images, our images are *not* mutable.

if you need this in 1.18.x, it needs to be cherry-picked back and then it will be in the next release.

[2021-01-16 09:06] BenTheElder commented on #94810
https://github.com/kubernetes/kubernetes/pull/98113#issuecomment-761530770 `TestValidateCachedClient`

[2021-01-16 09:07] BenTheElder commented on #94810
I don't see individual issues yet, but I do see open PRs targeting this issue
/remove-lifecycle rotten

[2021-01-16 09:08] BenTheElder commented on #98108
/sig architecture

[2021-01-16 09:51] 11janci commented on #98100
I would like to look at this

[2021-01-16 11:13] pacoxu commented on #98112
You may try `kubeadm init --skip-phases kubeconfig/kubelet` to skip it.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/#workflow-when-using-kubeadm-init

`kubeadm init` will run kubeconfig/kubelet phrase to generate this configuration and `kubeadm join` will read it from the configmap.

BTW, there are discussions on the default kubelet cgroup driver in h

[2021-01-16 11:15] pacoxu commented on #98112
/sig cluster-lifecycle

[2021-01-16 11:29] pacoxu commented on #98108
This is caused by a special logic for "latest" image.
https://kubernetes.io/docs/concepts/containers/images/#updating-images
- default ImagePullPolicy is `IfNotPresent`
- if the image tag is none or  `latest`, the ImagePullPolicy will be `Always`.

We may add a tip or warning for users when`kubectl set image deployment/shell shell=howardjohn/alpine-shell:v0.0.4` on a deployment that is using `late

[2021-01-16 11:33] oldthreefeng commented on #98112
ok , I will try it again

[2021-01-16 11:52] pacoxu commented on #98106
You may refer to https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/

`kubelet` need to start with `--allowed-unsafe-sysctls xxxx`

/sig node
/kind support

[2021-01-16 12:07] #91676 closed

[2021-01-16 16:24] oldthreefeng commented on #98112
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#configure-cgroup-driver-used-by-kubelet-on-control-plane-node

so its not my expected  to happened . it cover the `/var/lib/kubelet/config.yaml`.

add this to kubeadm-config.yaml (init config) , is ok
[code]

[2021-01-16 17:48] aojea commented on #94862
you can see in this KEP that kube-proxy can work without cluster-cidr https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20191104-iptables-no-cluster-cidr.md ,

These flags are a nightmare and hard to keep in sync between the different components, I think that Tim is right and we must understand the implications first

[2021-01-16 18:03] aojea commented on #98026
/assign
/remove help-wanted
/remove good-first-issue

https://github.com/kubernetes/kubernetes/issues/98026#issuecomment-760213790

I think we have a bug with dual-stack endpoints

[code]

[2021-01-16 18:53] robscott commented on #98026
@aojea That's an interesting use case. Are endpoints used without a corresponding service?

[2021-01-16 19:06] aojea commented on #98026
don't know honestly, just did it this way for testing

[2021-01-16 20:56] jsalatiel commented on #65267
It would be nice to have this. Storage specificities.

[2021-01-16 21:40] aojea opened #98117 "[Failing Test] Networking should provide Internet connection for containers"
**Which jobs are failing**:

sig-network-kind#sig-network-kind

**Which test(s) are failing**:

[code]

**Since when has it been failing**:

**Testgrid link**:

https://testgrid.k8s.io/sig-network-kind#sig-network-kind,%20master

**Reason for failure**:

[code]
**Anything else we need to know**:

agnhost image was recently bumped, probably some change in netcat?

[2021-01-16 22:11] aojea commented on #98117
/sig network
/sig testing

it seems related to the agnhost image bump, last job passing have version 2.21
The connectivity check works, but it fails later :thinking:
[code]

[2021-01-16 23:07] aojea commented on #98066
hmm I've verified that you can mutate a generated endpoint from a service with a selector, this looks like a bug to me, what do you think @thockin ?

[2021-01-16 23:18] #94063 closed

[2021-01-17 00:54] fejta-bot opened #98118 "pr:pull-kubernetes-bazel-test flaked 34 times in the past week"
### Flaky Job: pr:pull-kubernetes-bazel-test
 Flakes in the past week: **34**
 Consistency: **93.10%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| //pkg/kubelet/volumemanager/reconciler/go_default_test:run_2_of_2 | 5 |

#### Previously closed issues for this job flaking:
#65847 #53936

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

/

[2021-01-17 02:09] randomguy70 commented on #30961
I had a mapping value error as well, when I was creating a yaml file for Convimg (an image/tilemap converter for the TI 84 Plus CE) and I can't find what is wrong:
palettes:
  - name: mypalette
    images: automatic

converts:
  - name: myimages
    palette: mypalette
    images:
      - hi.png

outputs:
  - type: ice
    include-file: ice.txt
    palettes:
      - mypalette
    converts:
      -

[2021-01-17 02:21] #94117 closed

[2021-01-17 03:04] pacoxu commented on #98009
The error message is similar to #94335 and #95826.

[2021-01-17 03:14] ahg-g commented on #94696
-1 on exporting the Status fields. nil is a valid Status, I am concerned that exporting the fields will make it easier to fall into nil pointer dereference bugs. Creating a compare function for Status is the safer option.

[2021-01-17 05:19] woodgear commented on #98112
KubeletStartPhase will "Writing kubelet configuration to file "/var/lib/kubelet/config.yaml" you may skip this phase.

[2021-01-17 05:28] Cr7ptor commented on #43916
We have replicated this issue running on AKS where the "buff/cache" keeps increasing indefinitely up to the point the POD is evicted.

kubectl version:

Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"windows/amd64"}

[2021-01-17 08:32] gjkim42 commented on #98009
/assign

[2021-01-17 10:17] ep4eg commented on #71887
/close

[2021-01-17 10:17] #71887 closed

[2021-01-17 10:22] barucoh commented on #95693
/remove-lifecycle stale

[2021-01-17 10:26] gjkim42 commented on #98009
The cadvisor can't get the filesystem info of nfs.

[2021-01-17 12:18] zzzwjZhang opened #98120 "Kubernetes Elasticsearch logging discovery"
when i deploy it in k8s-v1.20.0,it cant work and show nothing just Kubernetes Elasticsearch logging discovery, i have no idea and no wrong could see
![微信截图_20210117201640](https://user-images.githubusercontent.com/46548177/104840500-165d8880-5901-11eb-9ae3-0911b0e14abb.png)

[2021-01-17 12:49] fanchenxu-ship commented on #13382
i have get some error. and i don't know how to resolve it

[2021-01-17 12:52] yanirq opened #98121 "Failed to run Kubelet when using a valid cpuset specified by --reserved-cpus when not all CPUs are turned on"
**What happened**:
On a node that has a topology of more than 1 numa node, If some or all of the CPUs of a numa node are turned off (mostly for testing purposes)  a valid `--reserved-cpus` set can cause the Kubelet  service to fail on:
`failed to run Kubelet: Invalid cpuset "<cpu set>" specified by --reserved-cpus`

This failure has occurred on a node that has 2 numa nodes with hyperthreading enab

[2021-01-17 13:00] yanirq commented on #98121
Here is a real example where the error occurred:
For the following CPU layout (after turning off numa node 1 CPUs)
[code]
[code]

using :
`"reservedSystemCPUs": "0-2,40-42"`
will result in:
[code]

CPUs 0-2 and 40-42 are all under numa node 0 and are active.

The validation fails here:
https://github.com/kubernetes/kubernetes/blob/3b38f6a08e255b3eb2e34ffb3c3cecacc081f334/cmd/kubelet/app/server.go#

[2021-01-17 13:01] yanirq commented on #98121
/cc @jianzzha

[2021-01-17 13:33] RamLavi commented on #97367
@Clivern thanks for your reply,
I also have no idea why the events get stuck.
perhaps `m.incoming` is not emptied after event was used in `(m *Broadcaster) loop()`? I doubt it though... must be something more eluding.. what do you think?

[2021-01-17 14:11] fromanirh commented on #98121
/sig node

[2021-01-17 15:26] raz3k commented on #88097
Will this PR be backported to 1.19 ?

Thanks.

[2021-01-17 15:40] gavinfish commented on #89267
/remove-lifecycle rotten

@serathius It seems all related PRs here are either merged or closed. But there is still some work left, maybe I can take this up.

[2021-01-17 15:46] jayunit100 commented on #98102
After a while, you eventually can get tons of stray agnhost processes ...

[code]

only a few pods, but ... tons of agnhost processes floating around in containerd

[code]

[2021-01-17 16:21] jayunit100 opened #98123 ""nc" regression in the new Agnhost containers are breaking the should provide Internet connection for containers tests?"
tl;dr agnhost images on 2:26, dont work w/ ncat  anymore the same way.....

[code]

**What happened**

- old image:     image: k8s.gcr.io/e2e-test-images/agnhost:2.21 ... passes

Looks like we have a test regression tracking to the introduction of new `agnhost` containers?   Not 100% sure but

`git checkout 97cf67b3290` followed by

[code]
Results in the following failed test...

[code]

Because c

[2021-01-17 16:24] jayunit100 commented on #98123
/sig network

[2021-01-17 16:25] jayunit100 commented on #98123
@aojea  ... looks like We found that doing the one line change of moving agnhost to 2.21, fixed it...  here are the failing logs

[code]

[2021-01-17 16:27] jayunit100 commented on #98123
[code]

[2021-01-17 16:36] jayunit100 commented on #98123
@aojea this is the culprit :)

https://github.com/kubernetes/kubernetes/pull/96918/files#diff-82e9acf13d70163bf94a3e122bd91591681b1ca14d072c4f90649cfb38a8242cR1

It looks like whats going on is
[code]

Is failing, and the reason  , is that  the **NEW** alpine i guess doesnt have the same behaviour for `getaddrinfo`.  We just reprod'd it on zoom, reverted the agnhost change by just modifying the on

[2021-01-17 16:38] jayunit100 commented on #98117
confirmed this in #98123 ....

the easy fix is to get that `nc` command working agian, we can close that issue

[2021-01-17 16:38] jayunit100 commented on #98123
oops this is a total dupe of #98117

[2021-01-17 17:18] #98123 closed

[2021-01-17 17:19] neolit123 commented on #98112
next to skipping the phase you can also pass the KubeletConfiguration during `kubeadm init`

[code]

this is documented here:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

the same configuration will then be used on joining nodes.

/close

[2021-01-17 17:19] neolit123 commented on #98112
/remove-kind bug
/kind support

[2021-01-17 17:19] #98112 closed

[2021-01-17 17:30] neolit123 commented on #98092
you cannot because the cert is signed for the `system:masters` group. it cannot be gated by authz.
as the name implies the admin.conf should not be shared with anyone - it's like giving your `root` password.

you have two options:
- rotate the cluster CA:
https://kubernetes.io/docs/tasks/tls/manual-rotation-of-ca-certificates/
- replace the cluster

you should have used the command `kubeadm {alpha

[2021-01-17 17:30] #98092 closed

[2021-01-17 17:31] spacecat commented on #66450
Using Kubernetes version 1.19.3 here and I'm also experiencing the "configured" issue.

Got some resource requests and limits in my yml mentioned by others by I have them in other Deployments as well but for those yml files get "unchanged".

One obvious difference is the `env:` config for the pod spec in my Deployment for the particular file giving me the "configured" problem. Don't know if it cou

[2021-01-17 17:36] #89985 closed

[2021-01-17 17:45] jayunit100 commented on #98117
I have a minimal reproducer for this now... just run `kubectl create -f failed.yml`

[code]

minimal reproducer....

[2021-01-17 17:58] paolonervi commented on #95039
Same problem here with RaspBerry Pi4 8Gb and 64Bit Raspbian OS, and latest firmware. I have followed the info given by Alex Ellis in this [post ](https://blog.alexellis.io/test-drive-k3s-on-raspberry-pi/) but i get the same "error".
Following are the details:
`pi@pi-master:~ $ sudo systemctl status k3s`
`● k3s.service - Lightweight Kubernetes`
` Loaded: loaded (/etc/systemd/system/k3s.service; ena

[2021-01-17 20:39] #94139 closed

[2021-01-17 20:51] ymettier commented on #97525
Hello,

I upgraded my "production" server to 1.20.2 nearly 2 days ago. kube-apiserver has an uptime of 47h. Without the 2 options `--feature-gates=APIPriorityAndFairness=false` and `--runtime-config=flowcontrol.apiserver.k8s.io/v1beta1=false`

I have no idea why it works with 1.20.2 but I cannot reproduce it any more.

Thanks for #97685 fix (if it was it). I think that we can close this issue.

I'

[2021-01-17 22:47] Riaankl opened #98125 "Write Updated test for StatefulSet Replica scaling to include Patch Scale +1 endpoint"
# Progress <code>[3/6]</code>

-   [X] APISnoop org-flow : [AppStatefulsetsMocktest](https://github.com/apisnoop/ticket-writing/edit/AppsEndpoints/AppStatefulsetsMocktest.md)
-   [X] test approval issue : [kubernetes/kubernetes#](https://github.com/kubernetes/kubernetes/issues/98125)
-   [X] test pr : kuberenetes/kubernetes [#98126](https://github.com/kubernetes/kubernetes/pull/98126)
-   [ ] two

[2021-01-18 02:30] #98012 closed

[2021-01-18 02:35] jichenjc commented on #98052
@ramineni can you help to provide some comments on this?

[2021-01-18 02:45] #90511 closed

[2021-01-18 03:02] lala123912 commented on #98118
/assign

[2021-01-18 04:55] ramineni commented on #98052
@jichenjc I suppose providing default-fstype in provisioner did solve the issue, so we can close this issue?

[2021-01-18 05:48] #91064 closed

[2021-01-18 05:54] jichenjc commented on #98052
yes, that's exactly why I hold and close 98053 , thanks :)

[2021-01-18 05:54] #98052 closed

[2021-01-18 06:16] frasertweedale commented on #97149
@aojea thank you. I will write up and submit the KEP when time allows (hopefully in the next few weeks).

[2021-01-18 06:49] #90376 closed

[2021-01-18 06:56] Samridhigupta786 commented on #52817
kubernetes_version 1.19.3. Same issue.

[2021-01-18 07:14] JornShen commented on #98104
/assign
I'll take time to see it.

[2021-01-18 07:41] sbwfnhn commented on #89900
[code]

Use containerd as CRI, not docker
containerd version 1.4.3
[code]
[code]

[2021-01-18 08:45] cwdsuzhou commented on #95822
/close

Fixed by https://github.com/kubernetes/kubernetes/pull/94087

[2021-01-18 08:45] #95822 closed

[2021-01-18 08:47] PI-Victor commented on #97647
hey @jerryzhyliu, i'm not sure i follow the issue here, can you please explain? Why would i see the changelog for v1.20 in any other branches beside the release branch for that version and master?

[2021-01-18 08:52] wojtek-t commented on #79464
/remove-lifecycle stale

[2021-01-18 09:02] yanirq commented on #98121
This is probably not just strictly related to NUMA. The same behaviour could  happen when offlining CPUs on any multi-core system, for example: disabling HT on a single numa node  may end up with a very similar scenario (depends on the CPU specifics).
The kubelet validation is too naive; it needs to be aware (and act accordingly to) the online CPU set. The emerging hidden assumption in kubelet is

[2021-01-18 09:52] pacoxu commented on #97942
I'm not quite sure whether this is a performance issue as the log `didn't receive server preface in time`.
Also https://github.com/kubernetes/kubernetes/issues/92700#issuecomment-658016341

[2021-01-18 10:34] mikelo commented on #93188
can I help?

[2021-01-18 10:41] vishveshv commented on #74340
Lease timeout is also possible when API Server is heavily loaded, causes high latency & slow response. API Server logs may help.

[2021-01-18 11:27] yqwang-ms commented on #88193
/remove-lifecycle stale

[2021-01-18 11:42] rajibmitra commented on #97472
hi @aojea  yes I'm looking into this

[2021-01-18 11:54] lala123912 commented on #97962
I would like to keep following this issue since I can't figure out the problem.

[2021-01-18 12:05] serathius commented on #89267
Sure, some issues were not finished before they were closed due to time passed. Doesn't look like current owners will continue the work. Feel free to pick up directory for fixings. Let's make sure that we notify previous owner.

Just comment with information which directory you want to pick up and cc current owner.

[2021-01-18 12:14] carlory commented on #98024
/cc @carlory

[2021-01-18 12:29] OneideLuizSchneider commented on #52817
Same here, kubernetes 1.19.4.

[2021-01-18 12:38] yangyuw commented on #75581
@Koooala @calexandre ```docker exec -it {controller-manager-container_name} sh -c "touch /etc/ceph/ceph.conf"```I solved by exceuting this command

[2021-01-18 12:47] harche opened #98142 "error reading container (probably exited) json message: EOF"
**What happened**:
Seeing this in the logs,
[code]

**What you expected to happen**:
Pods startup should not encounter EOF while reading any json (or any other file).

**How to reproduce it (as minimally and precisely as possible)**:
Observed while running this OpenShift test case,
https://github.com/openshift/origin/blob/e49fe16bd3eb5a177d04e59739bc91864d608d1c/vendor/k8s.io/kubernetes/test/e2e/n

[2021-01-18 12:48] harche commented on #98142
/sig node

[2021-01-18 12:48] rajaskakodkar commented on #97318
/close
@chewong I am closing this issue as the agnhost job passed https://testgrid.k8s.io/sig-testing-images#post-kubernetes-push-e2e-agnhost-test-images and the multiarch image is now available, it works fine for s390x as conformance job passed with the same https://testgrid.k8s.io/conformance-s390x#Periodic%20s390x%20conformance%20test%20on%20local%20cluster

[2021-01-18 12:48] #97318 closed

[2021-01-18 12:52] matthyx commented on #52817
/remove-lifecycle rotten

[2021-01-18 14:14] surajssd opened #98143 "`kubectl patch` error message mentions of a non-existent flag"
**What happened**:

Kubectl patch sub-command shows wrong error help message if an input is wrong. The error message says `error: resource(s) were provided, but no name, label selector, or --all flag specified` and when I try to use `--all` flag it says `Error: unknown flag: --all`.

**What you expected to happen**:

I expected either the first error message to not have `--all` or `kubectl patch`

[2021-01-18 14:14] surajssd commented on #98143
/sig cli

[2021-01-18 14:24] vpnachev commented on #97962
Same/similar has been seen also with v1.18.14
[code]

[2021-01-18 14:25] gavinfish commented on #89267
Hi @notpad, I will pick up scheduler part. Ping me if you are still working on this.

[2021-01-18 14:26] pacoxu commented on #98071
I cannot easily reproduce the problem.

Quota Status update logic is in
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/resourcequota/resource_quota_controller.go

Would you check logs in controller-manager?

BTW, there are two param for kube-controller-manager
[code]

[2021-01-18 14:40] mythi commented on #92211
@kad @mikebrow @RenaudWasTaken @mrunalp I've updated the proposals in the Google doc. Both suggested alternatives A and B have a POC patch implemented using containerd. PTAL. I'd like to get this moving again.

[2021-01-18 14:58] alculquicondor commented on #94696
I'm fine with just having a compare function.

[2021-01-18 15:08] neolit123 commented on #98118
/sig testing

[2021-01-18 15:08] neolit123 commented on #98118
/remove-sig testing
/sig storage

[2021-01-18 15:09] neolit123 commented on #98120
please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-01-18 15:09] #98120 closed

[2021-01-18 15:09] neolit123 commented on #98087
/sig node

[2021-01-18 15:15] neolit123 commented on #97759
adding `accepted` since the PR is favorable.
/triage accepted

[2021-01-18 15:18] jianzzha commented on #98121
I wasn't able to recreate with all cpus on numa 1 offline,
On-line CPU(s) list:   0-11,24-35
Off-line CPU(s) list:  12-23,36-47

with HT  enabled, --reserved-cpus=0-3, kubelet restart fine

but as mentioned by @yanirq, this option kubelet validation didn't consider the situation where some cpus are offline.

[2021-01-18 15:52] hferentschik commented on #73760
/remove-lifecycle rotten

[2021-01-18 15:58] #94003 closed

[2021-01-18 15:59] andre-lx commented on #44528
As @msau42 mentioned, I resolved this issue using the https://github.com/kubernetes-csi/csi-driver-nfs

[2021-01-18 16:22] jmcmeek opened #98146 "Clarify external CST signerName in docs and in CSR status fields"
**What happened**:

I spent some time helping a customer figure out they were misusing the recently added `signerName` field in a CSR.  They had been using CSRs for several releases to generate server certs for Kubernetes services that were only used within the cluster.  They found and read the Signers section of the [Certificate Signing article](https://kubernetes.io/docs/reference/access-authn-a

[2021-01-18 16:33] verb commented on #97974
One thing to consider when creating a counter that tracks ephemeral container creation result is that ideally the metric should be able to distinguish between an error caused by user error and one caused by a server failure.

[2021-01-18 16:39] wojtek-t commented on #98099
@kubernetes/sig-network-bugs

@kubernetes/sig-scalability

[2021-01-18 16:49] ledroide commented on #98071
Hello @pacoxu
I have discovered other issues that appeared with no reason on the same cluster. All of them may be linked to the kube-controller-manager, but I don't know how to solve it.
* when deleting deployments, daemonsets, statefulsets ; replicaSets under their control are not deleted as expected.
* when deleting manually replicaSets, many controlled pods are still running (whatever is their

[2021-01-18 17:38] howardjohn commented on #98108
@pacoxu my concern is not the special behavior of `:latest` mentioned in https://kubernetes.io/docs/concepts/containers/images/#updating-images, its that applying `:latest` then `v0.0.4` is not the same as applying `v0.0.4` directly. This makes it non-deterministic in a CI pipeline, for example, and in my opinion violates the declarative-ness of the API

[2021-01-18 17:49] pre commented on #5607
As of 01/2021 it doesn't seem to be possible to mount eg. /dev/fuse without `privileged:true`

The relevant issue seems to be https://github.com/kubernetes/kubernetes/issues/7890

[2021-01-18 17:59] jianzzha commented on #98121
Ok I was able to reproduce when I used --reserved-cpus=28-35.

[2021-01-18 18:05] pre commented on #7890
Has anyone here been able to mount a Fuse volume without `privileged: true` with a non-root container?

Is there any known workaround for the fact that Kubernetes does not provide a access such as  `--device /dev/fuse` in Docker?

I have tried granting generously all possible capabilities, mounting /dev/fuse with `hostPath`, annotating `container.apparmor.security.beta.kubernetes.io/my-container:

[2021-01-18 18:29] pre commented on #92114
Related issue about not being able to mount a FUSE volume without `privileged: true` https://github.com/kubernetes/kubernetes/issues/7890#issuecomment-762400026

[2021-01-18 18:40] pre commented on #7890
This PR of Docker for Linux looks promising seccomp & capability wise: https://github.com/moby/moby/pull/41880

However, the issue remains that there does not seem to an alternative to Docker's `--device /dev/fuse` except `privileged: true`.

[2021-01-18 19:15] rphillips commented on #88766
/reopen
/assign @ehashman

[2021-01-18 19:17] rphillips commented on #88766
/remove-lifecycle rotten
/triage accepted

[2021-01-18 19:40] rphillips commented on #98142
Related to https://github.com/kubernetes/kubernetes/issues/98142

[2021-01-18 19:51] neolit123 commented on #98146
/sig auth

[2021-01-18 20:41] benfiedler opened #98148 "including a ':' in oidc-groups-prefix does not behave as it should for kubelet / kube-apiserver"
Using 'oidc:' in the --oidc-groups-prefix as [suggested by the documentation](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuring-the-api-server) does not behave well

Relevant parts of kube-apiserver.yaml
[code]

The behavior is different depending on how I specify the same string.

### 1. Attempt `    - --oidc-groups-prefix=oidc:`

### Result:
Error in kubelet log

[2021-01-18 21:17] ThePieMonster opened #98149 "Error: client: etcd cluster is unavailable or misconfigured; error #0: dial tcp 127.0.0.1:4001: connect: connection refused"
**What happened**:
Created a K8S cluster with 1 control plane node using `kubeadm init --config /home/kube/kubeadmn-config.yaml --upload-certs`

_kubeadmn-config.yaml_
[code]

_kubectl get pods --all-namespaces_
[code]

Attempted to add a second control plane node using `kubeadm join 10.1.50.250:6443 --token v585r6.6ayp6fvu65hmkx7z --discovery-token-ca-cert-hash sha256:bfeeda1d85202e28d4f944b0d40c

[2021-01-18 21:27] amgads commented on #92594
Is there any update on this issue? -- need some response on target date if in the process!

[2021-01-18 21:28] ThePieMonster commented on #98149
/sig scalability /sig node

[2021-01-18 21:49] ehashman commented on #98142
/triage accepted
/priority important-soon

not sure if this merits critical-urgent

[2021-01-18 22:05] corrieb commented on #95851
I had this problem. Adding my solution here for posterity.

Check that your nodes have a ProviderID. If they don't, you will get the symptom described above.

[code]

The ProviderID is set either by the vSphere CPI Cloud Provider or if you're using the legacy in-tree provider, it has to be set manually. See the node on ProviderID here: https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernete

[2021-01-18 22:30] mattmoyer commented on #92678
/remove-lifecycle stale

[2021-01-18 22:54] thanatos opened #98150 "kubelet: improve error messages about expired certificates"
**What happened**: the `kubelet` fails to start; it logs,

[code]

**What you expected to happen**: either the `kubelet` starts, *or it produces a *useable* diagnostic*

It tells me that a certificate is expired. If you Google the error, you'll hit SO questions like [this one](https://stackoverflow.com/questions/59825118/kubelet-unable-to-load-bootstrap-kubeconfig), which helpfully suggest you run

[2021-01-18 23:53] ehashman commented on #98142
I think we're hitting the race condition as follows:

- Pod gets created
- Pod starts creating a sandbox
- Pod gets deleted, sandbox creation hasn't completed yet
- CreatePodSandbox fails

From what I can see, this is due to a flaw in `SyncPod`'s logic:

https://github.com/kubernetes/kubernetes/blob/d70ee902fddc682863a3cc4f0d8eac0223ebf70b/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L666-L675

[2021-01-19 01:30] ehashman commented on #91536
/remove-lifecycle stale

[2021-01-19 01:43] pandaamanda commented on #98143
I think we need to decide whether to add flag --all and --selector to kubectl patch.

[2021-01-19 02:04] lala123912 commented on #97962
This problem is quite different from the one issued by ialidzhikov. And it seems reasonable to panic  when the response times out according the code.

[2021-01-19 02:38] chymy commented on #98148
`:` is special characters in yaml，you can try `- "--oidc-groups-prefix=oidc:"` or `- '--oidc-groups-prefix=oidc:'`

[2021-01-19 03:42] CKchen0726 commented on #98035
/assign

[2021-01-19 04:09] foriequal0 commented on #89263
Any progress on this issue?

[2021-01-19 04:15] ShuLian1984 opened #98157 "When the pod is OOMKilled, the pod falls into the loop OOMKilled."
If the pod exceeds the memory limit and is oomkilled, executing any command in the pod will cause the pod to oomkilled continuously, even if the memory does not exceed the upper limit.

## system info：
[code]

## kubernetes info：
[code]

## Image Dockerfile
[code]

## Deployment yaml
[code]

## deployment describe:
[code]

## pod describe:

### before exec command
[code]
### after

[code]

## kube

[2021-01-19 04:20] ShuLian1984 commented on #98157
/sig node
/sig network

[2021-01-19 05:36] Jerry-Ge commented on #98086
Thanks @BenTheElder. I will close this issue.

[2021-01-19 06:14] chenyw1990 commented on #98044
How many pods and containers are running on the not ready node?

[2021-01-19 06:35] razum2um commented on #72533
I'm getting same error and my observations are close to @mazzy89 and related to OOM _but on the other host_:

- cluster of 2 nodes
- no istio installed fwiw
- on node1 `dmesg` shows: `Memory cgroup out of memory: Kill process 14650 (ssconvert) score 1787 or sacrifice child`
- around the same time on kubelet@node2 logs:
[code]

[2021-01-19 06:53] pre commented on #7890
It could be possible to mount a FUSE device, if it was included in devices.allow of the cgroup.

It seems that the [key for the fuse device](https://www.kernel.org/doc/Documentation/admin-guide/devices.txt) would be `c 10:229 rwm` which should be written in `/sys/fs/cgroup/devices/devices.allow` so that it'd appear in `/sys/fs/cgroup/devices/devices.list`.

How could one modify the cgroup of a Pod

[2021-01-19 08:12] oldthreefeng commented on #89900
@sbwfnhn  confused~
your contained cgroup driver equal with kubelet ?  this seems to be not equal

[2021-01-19 08:17] wawa0210 opened #98167 "[kubelet metrics] kubelet_containers_per_pod_count_bucket optimization, buckets smaller than 1 are meaningless"
**What happened**:

There is an metric `kubelet_cgroup_manager_duration_seconds` in kubelet, which is used to track the number of containers per pod.

The current metric data format is

[code]

The number of containers in the pod will definitely not be less than 1, so the bucket is set to have optimized space

**What you expected to happen**:

Would it be better if optimized to the following bucke

[2021-01-19 08:17] wawa0210 commented on #98167
/assign

[2021-01-19 08:18] wawa0210 commented on #98167
/triage accepted

[2021-01-19 08:31] pre commented on #5607
Per 01/2021 it does not seem to be possible to mount (at least FUSE) host devices without `privileged: true`: https://github.com/kubernetes/kubernetes/issues/7890#issuecomment-762400026

[2021-01-19 08:37] yyt6200 opened #98170 "create longhorn snapshot error"
My k8s version number is 1.18.8, using Longhorn as storage. When creating the snapshot, report the following error, please help to see, provide some guidance，thank you.

**----------------------------------------------------------log-------------------------------------------------------------------------------**
I0119 08:23:23.076483 1 snapshot_controller_base.go:144] enqueued "snapcontent-e3e91d

[2021-01-19 08:50] mm4tt commented on #90833
The three remaining AIs are:

1.  [ ] Stop setting the [KUBEMARK_NODE_OBJECT_SIZE_BYTES](https://github.com/kubernetes/test-infra/blob/afd239de5b925758f33ca8c4e6b8e50d5dbcb6a0/config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml#L23) env in the kubemark tests
2. [ ] Clean up the not-needed anymore code in start-kubemark.sh - https://github.com/kubernetes/kubernetes/blob/6b1393a3c597

[2021-01-19 09:02] pandaamanda commented on #98170
/sig apps

[2021-01-19 09:15] #82570 closed

[2021-01-19 09:15] sbocinec commented on #95440
/remove-lifecycle stale

[2021-01-19 09:32] lyzs90 commented on #90833
@mm4tt sure, i can take it up

[2021-01-19 09:32] vermaa31 commented on #97230
Yes, tested in k8s - v1.20.2 and still, volume attachments are not getting deleted after pod deletion.

[2021-01-19 09:54] carlory commented on #93699
/cc

[2021-01-19 09:59] palsivertsen commented on #60789
This would be incredibly useful when using a deployment to scale additional worker nodes in a cluster where each node will gossip it's FQDN to other nodes.

My setup is something like this:
I have a statefulset for three seed servers where each pod is reachable through DNS, e.g. `seed-0`, `seed-1` and `seed-2`. Each pod is makes a node forming a three node cluster where each node will gossip the a

[2021-01-19 10:26] YuqiXiao commented on #94761
Same issue. It's weird that extensions/v1beta1 ingress is deprecated but still being the default one.

[2021-01-19 10:43] pacoxu commented on #51430
/assign
If this is still needed, I will work on this.

[2021-01-19 11:11] pacoxu commented on #98150
It seems that the certs are renewed today.

You may need to restart kube-apiserver、kube-controller、kube-scheduler、etcd & kubelet on each node.

[2021-01-19 11:54] segevfiner commented on #84210
/remove-lifecycle stale

[2021-01-19 11:57] 13164815445 commented on #98044
pod: 7  container:21

[2021-01-19 12:01] Clivern commented on #97367
no clue so far :D

[2021-01-19 12:09] 13164815445 commented on #98044
I think the root cause of the problem is not the docker api timeout, I restarted the kubelet and then relist  is normal now

Maybe the defunct process is the root cause of the problem

[2021-01-19 12:43] userkk commented on #95039
the same problem  for me on wsl2(Ubuntu-18.04) and create the cluster with kind

issue issue :

root@DESKTOP-1RP80G5:/root/test/chart # kind version
kind v0.9.0 go1.15.2 linux/amd64
root@my-worker2:/var/log# kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.1", GitCommit:"206bcadf021e76c27513500ca24182692aabd17e", GitTreeState:"clean", BuildDate:"2020-09-14T07:2

[2021-01-19 12:49] knabben opened #98173 "Enhance netpol E2E tests connectivity information on startup"
**What would you like to be added**:

Improve logs and connectivity debugging information on Netpol E2E tests suite bootstrap, so it will give us fine-grained info:
https://github.com/kubernetes/kubernetes/blob/73d4c245ef870390b052a070134f7c4751744037/test/e2e/network/netpol/kubemanager.go#L253

It can be a quick check-in of the health of the components, for example.

**Why is this needed**:

This

[2021-01-19 12:49] knabben commented on #98173
/sig network
/area testing

[2021-01-19 12:52] knabben commented on #98173
/sig network
/area test

[2021-01-19 13:18] sarintom opened #98174 "HPA scales up during ScaleDown event"
**What happened**:

Configured HPA to have `stabilizationWindowSeconds` on `scaleUp` and `scaleDown` events:

[code]

When cpu usage was low a scale down event was triggered but instead it scaled application up since there was recommendations higher than current pod count. And all metrics were below target.

Here are the events:

[code]

**What you expected to happen**:

I expected that scale down

[2021-01-19 13:20] neolit123 commented on #98150
this version is no longer in support.

you seem to have sufficient information on how to recover.

arguably it does need better messaging.
i will keep this open with a "feature" label, but if you want this changed you might have to send the PR yourself.

the guide to create certs is here:
https://kubernetes.io/docs/setup/best-practices/certificates/

kubeadm makes it easier to users, but the kubel

[2021-01-19 13:21] neolit123 commented on #98150
/sig node

[2021-01-19 13:22] neolit123 commented on #98150
/retitle kubelet: improve error messages about expired certificates

[2021-01-19 13:23] neolit123 commented on #98150
also leaving this to SIG Node to decide if the want the feature or not. (via "triage accepted" vs "close")

[2021-01-19 13:26] gitirabassi opened #98175 "Kube-scheduler can't send event because Note field too large"
**What happened**:
When a pod can't be scheduled and the cardinality of taints on nodes is high, the Note field in the event can become bigger than the 1024 allowed and the event isn't sent. The pod stays in a state of `Pending` without en event which makes the User Experience very bad

**What you expected to happen**:
I would expect the Kube-scheduler to be able to send the event no matter how ma

[2021-01-19 13:29] neolit123 commented on #98175
/sig scheduling

[2021-01-19 13:30] neolit123 commented on #98174
/sig autoscaling

[2021-01-19 13:31] neolit123 commented on #98170
please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-01-19 13:31] #98170 closed

[2021-01-19 13:33] q3k commented on #88553
-1 on this from us (Monogon). We use Bazel internally within our codebase to build Kubernetes (as libraries), and being able to just pull in an external repository (with only some minor patches to fix Starlark machinery paths) is crucial for us. I can't imagine working with Kubernetes as a dependency if it required running a bunch of impure scripts before calling `go build`.

If pulling in Kuberne

[2021-01-19 13:34] neolit123 commented on #98148
please close the issue if it works with " ... "

/remove-kind bug
/kind support
/sig auth

[2021-01-19 13:51] bbellrose1 commented on #70411
Was there ever any resolution to this? I see my logs flooded with these errors. I am not running HA Proxy. I have a 6 node cluster 3 control plane and 3 worker nodes. I see the TLS errors on the worker nodes. Health of the cluster seems to be ok. Using certs generated by kubernetes during kubeadm init and all certs are valid...

kubelet[2849943]: I0119 08:48:11.744715 2849943 log.go:181] http: TLS

[2021-01-19 13:55] wojtek-t commented on #98099
The context is - the problems are strictly related to scale - 5k-node jobs are timing out.

I very briefly skimmed through the test and didn't see anything obviously suspicious (apart from the fact there are gazillions long timeouts there, which alltogether sum up long hours).

That said - it seems to me that there are effectively two separate tests inside it:
- one for TCP
- one for UDP
They don'

[2021-01-19 14:22] liggitt commented on #88097
#92743 was a significant modification to the garbage collector, and also changed behavior to consistently clean up children with invalid cross-namespace ownerReferences, so it is unlikely it will be backported.

As part of that work, the https://github.com/kubernetes-sigs/kubectl-check-ownerreferences tool was created to allow identifying invalid ownerReferences, and that tool can be run against o

[2021-01-19 14:28] wojtek-t commented on #98099
[And potentially it could help with debugging the problem if it is strictly related to only one of those cases...]

[2021-01-19 14:32] Cweiping commented on #96891
As you said, this case is in line with expectations. Kubelet can tolerate short-term inability to link to `APIServer`, and a heartbeat check will confirm the connectivity of `APIServer`.

[2021-01-19 14:35] gavinfish commented on #98175
/triage accepted

/cc @ahg-g @alculquicondor

[2021-01-19 14:37] #98167 closed

[2021-01-19 14:43] Cividati opened #98179 "new kubectl exec with two args isn't answearing it right"
**What happened**:
When I type ```kubectl exec $POD_NAME -- echo hi && bash```, i got the message 'hi', and logged in into bash. But the terminal doesn't show that i'm connected to the pod, it shows my current bash session.
When I type ```whoami``` or ```pwd``` it shows my current user and folder.
When I type ```exit``` its shows the message 'exit', meaning that I exitted the pod connection, and c

[2021-01-19 14:48] Frankkkkk commented on #96891
Hi @Cweiping , maybe I've misunderstood your reply, but in my case the healthcheck URL still returns "ok" even after 2 hours of "outage".

Is there a better way to detect non-connectivity (or node NotReadyness ) from within a node ?

[2021-01-19 14:48] aojea commented on #98099
I wanted to focus on this past week but I didn´t have time, this is my list of more expensive times and approx average duration, all of the sig-network ones use LoadBalancers. I wanted to time the test to understand if there are places where can save time ...

[code]

I don´t have much context on those tests, maybe Tim can help us more, but this comment makes me think that the use of both protocol

[2021-01-19 14:57] thejoycekung opened #98180 "[Flaky Test] [sig-apps] Deployment should run the lifecycle of a Deployment"
**Which jobs are flaking**:
- `ci-kubernetes-e2e-gci-gce` (`gce-cos-master-default`)

**Which test(s) are flaking**:
- `[sig-apps] Deployment should run the lifecycle of a Deployment [Conformance]`

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-default&include-filter-by-regex=Deployment%20should%20run

**Reason for failure**:
[code]

**Anything else

[2021-01-19 15:08] gitirabassi commented on #98175
I could provide the fix in case we define which solution is best

[2021-01-19 15:13] tosi3k commented on #93932
This test was reenabled in https://github.com/kubernetes/kubernetes/pull/97345 and it still flakes on a regular basis.

Most recent failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1351499903934664704.

[2021-01-19 15:21] #82396 closed

[2021-01-19 15:26] tosi3k opened #98182 "[Flaky test] [sig-auth] Metadata Concealment should run a check-metadata-concealment job to completion"
**Which jobs are flaking**:
`gce-master-scale-correctness`

**Which test(s) are flaking**:
`[sig-auth] Metadata Concealment should run a check-metadata-concealment job to completion`

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness

Failed job run URL: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1351499903

[2021-01-19 15:29] perezjasonr commented on #53459
I too ran into this problem when trying to use field selectors on CRDs, CRDs are everywhere now and this would be really nice to have.

[2021-01-19 15:30] thejoycekung opened #98184 "[Failing Test] ci-kubernetes-e2e-windows-gce-2019, ci-kubernetes-e2e-windows-gce-1909"
**Which jobs are failing**:
- `ci-kubernetes-e2e-windows-gce-1909`
- `ci-kubernetes-e2e-windows-gce-2019`

**Which test(s) are failing**:
It looks like ~50% of tests on the job are failing.

**Since when has it been failing**:
Jan 15 19:29 PST

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-windows-1909-master
https://k8s-testgrid.appspot.com/sig-release-maste

[2021-01-19 15:33] rikatz commented on #92369
@uablrek sure! I'll try to start writing something on gdocs (before submitting the Kep) this week (sorry @andrewsykim life is really in a rush here) and we can contribute there before submitting a proper Kep.

/assign @uablrek

/lifecycle active

[2021-01-19 15:37] thejoycekung commented on #91236
Spotted another flake today:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1351415838426533888

[2021-01-19 15:42] coderfornow commented on #94091
can I take this, is this still open?
@jherrera123
@BenTheElder

[2021-01-19 15:44] coderfornow commented on #91120
can I take this, is this still open?
@adtac

[2021-01-19 15:50] ryancurrah commented on #95039
following

[2021-01-19 15:58] jianzzha commented on #98121
@yanirq @fromanirh Just a FYI, even with the validation update, if you take certain CPUs offline, you need to delete /var/lib/kubelet/cpu_manager_state before restart kubelet. This state check is done by cpumanager, see https://github.com/kubernetes/kubernetes/blob/cf2fceb11f7df1ab050159a5d70d2b0edfd980fb/pkg/kubelet/cm/cpumanager/policy_static.go#L182

[2021-01-19 16:00] mmphego commented on #63883
I keep getting this issue with my Vagrant and k3s setup.

[2021-01-19 16:03] Aut0R3V commented on #91120
I was waiting for a response on my ideas here :)
I'm still interested in this, meanwhile it'll be great to hear your ideas on the issue!

[2021-01-19 16:09] liggitt commented on #98182
There's a long trail of timeout failures on unrelated tests for this job ... is this an indication of a regression or load issue unrelated to this particular test?

[2021-01-19 16:09] liggitt commented on #98182
cc @kubernetes/sig-scalability

[2021-01-19 16:11] wzshiming commented on #98179
try this `kubectl exec $POD_NAME -- sh -c "echo hi && bash"`

[2021-01-19 16:15] verb commented on #97974
Ok, `kubelet_running_containers` surfaces metrics about the kubelet's internal representation of containers, which doesn't have information about container types, so we might have to introduce a new metric

[2021-01-19 16:15] benfiedler commented on #98148
Thanks @chymy : you're right, that does work fine. But why is that not necessary for etcd-servers? This YAML item in kube-apiserver needs no special quotes to behave correctly:

`- --etcd-servers=https://192.168.100.1:2379,https://192.168.100.2:2379,https://192.168.100.3:2379`

[2021-01-19 16:16] surajssd opened #98185 "Kubelet flag `--cloud-provider` is marked deprecated but missing corresponding KubeletConfiguration field"
**What happened**:

Flag `--cloud-provider` is marked as deprecated but does not have a corresponding [`KubeletConfiguration`](https://github.com/kubernetes/kubernetes/blob/release-1.20/staging/src/k8s.io/kubelet/config/v1beta1/types.go) field.

source: [kubelet CLI reference](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/).

**What you expected to happen**:

I expected

[2021-01-19 16:19] Cividati commented on #98179
Unfortunatelly it didn't work here :(.
Thanks for the help ^^

[2021-01-19 16:21] wzshiming commented on #98179
`kubectl exec -it $POD_NAME -- sh -c "echo hi && bash"`

[2021-01-19 16:23] coderfornow commented on #95707
Hi @mrmassis !
can I take this? anything required?

[2021-01-19 16:27] coderfornow commented on #96512
Hey @perithompson !
is there anything I can help with? and how?

[2021-01-19 16:32] Haar commented on #95140
/remove-lifecycle stale

[2021-01-19 16:32] gnufied opened #98186 "copy allowvolumeexpansion field from SC to PV"
currently `allowVolumeExpansion` field of storageclass is sole field that decides whether a PVC is expandable or not. We are considering copying this field to PV during provisioning, so as even if SC is deleted or changes - expandable property of PV does not changes.

One caveat with this is - all the existing PVs are not going to have this field and hence something must either copy the field from

[2021-01-19 16:33] gnufied commented on #98186
/sig storage
/triage accepted

[2021-01-19 16:33] Haar commented on #95140
/kind support

[2021-01-19 16:33] wzshiming commented on #98179
/kind support
/remove-kind bug

[2021-01-19 16:41] jherrera123 commented on #94091
/close

[2021-01-19 16:41] #94091 closed

[2021-01-19 16:46] adambkaplan commented on #38337
It appears there was a regression from v1.18 to 1.19 for systems with btrfs. It appears a fix to cAdvisor was required and will be in k8s 1.21, backports to 1.19 are in progress.

See also https://github.com/kubernetes/kubernetes/issues/95826 and https://github.com/kubernetes/kubernetes/issues/94335.

[2021-01-19 16:46] lavalamp commented on #13382
"TLS handshake timeout" is an extremely generic error message that indicates something is wrong in the networking path between your client and server.
* wrong proxy settings
* apiserver is not running
* apiserver is not healthy and load balancer is therefore not sending it traffic
* load balancer did something confusing with your traffic

This issue is 5 years old and is probably not a good place

[2021-01-19 16:50] jsturtevant commented on #94490
/remove-lifecycle stale

[2021-01-19 16:52] lavalamp commented on #97525
I guess we can close and reopen if others can reproduce this on 1.20.2 or up.

[2021-01-19 16:52] #97525 closed

[2021-01-19 17:00] thockin commented on #60789
and gossiping IPs instead of hostnames is not viable?

[2021-01-19 17:09] fl-max commented on #85418
For anyone else stumbling upon this issue with the error `error: unable to upgrade connection: error dialing backend: dial tcp 127.0.0.1:<port>`, the problem for me was that the loopback device was never started (`ifconfig lo`). Simply running `ifup lo` fixed this issue for me.

[2021-01-19 17:23] perithompson commented on #96512
I dont think there is anything left to do @jayunit100 anything more that you think we need to do to get this merged?

[2021-01-19 17:39] ddl-retornam commented on #55046
/remove-lifecycle rotten

[2021-01-19 17:54] yuga711 commented on #97230
On the KCM side, looking at waitForVolumeAttachDetachStatus, couldn't find a scenario where it may incorrectly report success during detach. When this issue happens, it would probably be worth to review the external-attacher logs.https://github.com/kubernetes/kubernetes/blob/dbf3c477a90e6b8136a3bbbb580ac6184c22998e/pkg/volume/csi/csi_attacher.go#L433

[2021-01-19 17:58] nodo commented on #89264
/unassign

[2021-01-19 18:00] neolit123 commented on #98185
this is already tracked here:
https://github.com/kubernetes/kubernetes/issues/86843

/close

[2021-01-19 18:00] #98185 closed

[2021-01-19 18:15] alculquicondor commented on #98175
This is a consequence of #87250

I think we can just drop some reasons when we are building the status message if the message is too large.

This comes from here https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/types.go#L107

/help

[2021-01-19 18:16] alculquicondor commented on #98175
/remove-help

/assign @gitirabassi

[2021-01-19 18:23] thejoycekung commented on #98184
Slack discussion thread: https://kubernetes.slack.com/archives/C0SJ4AFB7/p1611070354035300

[2021-01-19 18:25] dims commented on #98142
@harche @ehashman Looks like this message originates from cri-o:
https://github.com/cri-o/cri-o/blob/master/internal/oci/runtime_oci.go#L214-L216

Have we seen this (or similar) in containerd? (what did that error message look like?)

[2021-01-19 18:28] dims commented on #98142
Also, i don't see the `CreatePodSandbox for pod` in the community CI logs:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=CreatePodSandbox%20for%20pod

[2021-01-19 18:40] haircommander commented on #98142
@dims for some background on what I believe is happening when this message comes up:
the `EOF` error comes from runc being killed. What it seems is happening is:
cri-o attempts to create the container, and is waiting on runc to finish.
kubelet gets the delete call, but sees the pod hasn't finished creating. Because it can't ask to RemovePodSandbox (it doesn't have an ID yet), it tears down the cgr

[2021-01-19 18:41] ahg-g commented on #98175
how many different taints did you have?

I think in all cases we should truncate the message as well: https://github.com/kubernetes/kubernetes/blob/09f4baed35865d410febb3220811ca5c2fe1cf42/pkg/scheduler/scheduler.go#L336

[2021-01-19 18:44] Huang-Wei commented on #98175
Another remidiation is to supress outoutping nil fields (such as GenerateName:"", SelfLink:"", UID:"", ResourceVersion:"", etc.) in the EventRecorder side.

[2021-01-19 18:53] neolit123 commented on #98179
this should work as long as the container has `bash` or `sh`:

these discussions are best suited for the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-01-19 18:53] #98179 closed

[2021-01-19 18:55] neolit123 commented on #98148
likely because the `:` is trailing in the oidc case.

/close

[2021-01-19 18:56] #98148 closed

[2021-01-19 18:58] neolit123 commented on #98149
this can happen if the nodes share the same name.

please continue the discussion on the support channels like #kubeadm on k8s slack:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/remove-kind bug
/kind support
/close

[2021-01-19 18:58] #98149 closed

[2021-01-19 18:58] neolit123 commented on #98149
/remove-sig node scalability

[2021-01-19 19:09] Ogguz commented on #97859
/assign

[2021-01-19 19:35] Avatat commented on #92690
@cheftako, @caesarxuchao, ping :)

[2021-01-19 19:44] docwhat commented on #23130
/remove-lifecycle stale

[2021-01-19 20:03] ravisantoshgudimetla commented on #93276
cc @dims

[2021-01-19 20:09] jayunit100 commented on #97751
ok, these are running now on eks, lots of failures. will dig

[code]

[2021-01-19 20:29] dims commented on #98142
cc @mikebrow

[2021-01-19 20:32] apelisse commented on #98024
is this supposed to work? I'm wondering if this is a bug because of loose validation in the other paths.
Are you supposed to be able to use the name multiple times?

FYI, Server-side apply is also real 😂

[2021-01-19 20:33] apelisse commented on #97942
Do you have any clue what this could be @liggitt?

[2021-01-19 20:34] howardjohn commented on #98024
Not sure what I meant here, but I think I meant that `--dry-run=client == --dry-run=server` but `apply != apply --server-side`. Which seems a bit odd to me, but I don't know the details.

I have no clue, I didn't find any explicit docs about this.

[2021-01-19 20:35] dims commented on #93276
/assign

[2021-01-19 20:37] docwhat commented on #72216
/remove-lifecycle stale

poke poke

[2021-01-19 20:39] apelisse commented on #98024
There are two different ways to merge, and two different ways to dry-run. These are two mostly orthogonal concepts (though I agree, they don't seem that orthogonal at first).

So you can do:
[code]
But you can't do:
[code]

[2021-01-19 20:40] mrmassis commented on #95707
Hi,
yes of course. Nothing to relate.

Em ter., 19 de jan. de 2021 às 13:24, coderfornow <notifications@github.com>
escreveu:

--
Marcio Roberto Miranda Assis
Doutor em Ciência da Computação na UNICAMP

[2021-01-19 20:43] mrueg commented on #64616
/remove-lifecycle stale

[2021-01-19 20:43] apelisse commented on #95449
@liggiitt, still no chance of seeing that happening one way or another?

[2021-01-19 20:44] liggitt commented on #97942
set ETCD_LOGFILE to a file to capture the etcd log to see if there's anything useful in there

[2021-01-19 20:45] liggitt commented on #97942
e.g.
[code]

[2021-01-19 20:54] gitirabassi commented on #98175
The size limit we're hitting is specifically on the `Note` field

[2021-01-19 20:54] gitirabassi commented on #98175
Completely agreed

[2021-01-19 21:08] Ogguz commented on #97859
Sorry, I haven't noticed it. /unassign

[2021-01-19 21:16] fedebongio commented on #97991
/triage accepted
/close

[2021-01-19 21:16] #97991 closed

[2021-01-19 21:17] fedebongio commented on #98080
/triage accepted

[2021-01-19 21:21] fedebongio commented on #98094
/triage accepted

[2021-01-19 21:26] fedebongio commented on #97900
/triage accepted

[2021-01-19 21:26] fedebongio commented on #97883
/triage accepted

[2021-01-19 21:26] fedebongio commented on #97797
/triage accepted

[2021-01-19 21:26] fedebongio commented on #97685
/triage accepted

[2021-01-19 21:26] caesarxuchao commented on #98094
The error message could be caused by (1) an error in the websocket code, or (2) the `kubectl exec` command is not cancelled cleanly on the server-side.

Since this issue looks benign, I'll just leave it open and wait for more evidence.

[2021-01-19 21:35] coderfornow commented on #95707
/assign

[2021-01-19 22:12] dkatipamula commented on #98106
Thanks @pacoxu for your reply.
I added the kubelet flag as specified in the link:

root     31396     1  3 21:55 ?        00:00:00 /usr/bin/kubelet --bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kubernetes/kubelet.conf --config=/var/lib/kubelet/config.yaml --network-plugin=cni --allowed-unsafe-sysctls=kernel.core_pattern --pod-infra-container-image=k8s.gcr.io/pause

[2021-01-19 22:13] spiffxp commented on #95528
/sig release
FYI @kubernetes/ci-signal

[2021-01-19 22:25] bobbypage commented on #32457
/close

[2021-01-19 22:26] #32457 closed

[2021-01-19 22:27] marosset commented on #97739
@RenaudWasTaken @kad @mikebrow @mrunalp
Do any of you have any thoughts and/or objections to adding a new Windows specific device struct to CRI API?
Also, as mentioned in the SIG-node community meeting, I'll bring with up with the Container Orchestrated Device WG.

[2021-01-19 22:49] spiffxp commented on #96770
PR to trigger a rebuild for all relevant images: https://github.com/kubernetes/kubernetes/pull/98190

[2021-01-19 22:53] spiffxp commented on #96770
More image references that will need migrating:

https://github.com/kubernetes/kubernetes/blob/8a8282044c7cf8a0f1c73b8c143ab9a8d1bb88d9/test/e2e_node/image_list.go#L53-L67

[2021-01-19 22:57] spiffxp commented on #98180
/area conformance
/priority important-soon

[2021-01-19 23:18] lavalamp commented on #53459
This would be a major undertaking to add so we're going to need a really long list of people wanting it to prioritize this :)

[2021-01-19 23:55] ehashman commented on #98142
/assign
so I can keep track of this

[2021-01-20 00:01] ehashman commented on #93925
@fasaxc can you provide a full kubelet log dump for this, preferably with increased verbosity if it's available? This sounds similar to some other issues around pod/sandbox deletion we are currently investigating. (see e.g. #98142) If this is running on a cluster with docker, I think that the kubelet isn't using the kuberuntime_manager code path, there's a separate one for docker. If it's using co

[2021-01-20 00:04] ehashman commented on #93925
/priority awaiting-more-evidence

[2021-01-20 00:30] #87807 closed

[2021-01-20 00:35] irzhywau commented on #50375
+1

[2021-01-20 00:36] ehashman commented on #95916
@blitzd can you please provide a copy of the full logs from the node/kubelet?

/priority waiting-additional-evidence

[2021-01-20 00:37] ehashman commented on #95916
sorry I can't spell

/priority awaiting-more-evidence

[2021-01-20 00:38] ehashman commented on #53533
/assign

[2021-01-20 00:57] chymy commented on #98148
Yes. If the : is trailing， must be `'k=v:'` or `"k=v:"` @benfiedler

[2021-01-20 01:04] houfangdong commented on #97942
@pacoxu，Thanks, I tried to use the KUBE_TEST_ARGS="-p 1" parameter, but still reported the same error.

[2021-01-20 01:21] pandaamanda commented on #98143
/assign @rikatz

[2021-01-20 01:41] jsturtevant commented on #93276
We discussed this at length today in various forms. Here is an attempt at the summary:

- We should be able to get the signal we are looking for by adding post submits and periodic's for lower costs (monetary and operational)
- Generally, direction is move things out of pre-submit but if we can show it's necessary we can pick up the thread on how to run Windows Pre-submits.
- The ideal testing gra

[2021-01-20 01:59] Bryce-huang commented on #89898
I got the same issues,but I foud the error of kubelet : `CNI failed to retrieve network namespace path: cannot find network namespace for the terminated`.

[2021-01-20 02:13] Cweiping commented on #98024
[This document](https://kubernetes.io/docs/reference/using-api/server-side-apply/#upgrading-from-client-side-apply-to-server-side-apply) can prove @apelisse point. And [the feature](https://kubernetes.io/docs/reference/using-api/server-side-apply)s of this function are also explained. Maybe it can help you. @howardjohn

[2021-01-20 02:26] Cweiping commented on #96891
Maybe you should perceive node status from `APIServer`.What scene needs to be asked directly by `kubelet`?

[2021-01-20 02:43] houfangdong commented on #97942
@liggitt,Thanks, the attachment provides **etcd** related specific logs：
[etcd.log](https://github.com/kubernetes/kubernetes/files/5839784/etcd.log)
At the same time, the specific log of the execution of the test case is also attached.
[make-test-integration.log](https://github.com/kubernetes/kubernetes/files/5839804/make-test-integration.log)

  I increased the tracking log and found that the err

[2021-01-20 02:52] liggitt commented on #97942
this would clean up the panic and help print the error more clearly:
[code]

[2021-01-20 03:09] jglick commented on #64801
Can this be closed given #97171?

[2021-01-20 03:57] pacoxu commented on #98106
I think this is not supported yet. Only namesapced sysctls are supported with prefix like https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/sysctl/namespace.go#L41-L46
[code]

https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/#setting-sysctls-for-a-pod

[2021-01-20 05:27] #97375 closed

[2021-01-20 05:33] allenhaozi commented on #97559
[code]

find a way by  @captainroy-hy  [patch.go](https://github.com/oam-dev/kubevela/blob/c13ed36e32a82972b07dcfa17566e101874c9173/pkg/utils/apply/patch.go)

I can get the patch data that is changed

thank u @apelisse @kwiesmueller

[2021-01-20 05:33] #97559 closed

[2021-01-20 06:17] bobbypage commented on #98012
This is expected, when node is shutdown kubelet will mark the pods as "Shutdown" and in v1.PodFailed phase:

https://github.com/kubernetes/kubernetes/blob/ac0b0378df23b6a68452b8577fd6fed265306615/pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go#L222-L225

This is same behavior as during pod eviction. The pods will stick around in that FailedPhase until either they are deleted manually or the

[2021-01-20 06:17] #96674 closed

[2021-01-20 06:18] #97759 closed

[2021-01-20 06:20] vermaa31 commented on #97230
These are the attacher logs for a volume attachment that is not deleted even after its pod deletion. From these logs, it can be seen that the detach operation is never initiated for this volume attachment.
One more observation is: when a pod is deleted then the corresponding volume attachment is added with a deletion timestamp but here for this volume attachment, deletion timestamp is not added.
*

[2021-01-20 06:40] jichenjc opened #98202 "Is it possible to allow label to contain blank ' ' ?"
**What would you like to be added**:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L166  is regex for `label` and in https://github.com/kubernetes/cloud-provider-openstack/pull/1380  openstack cloud provider use Availability zone (which allow blank ) to fill `topology.kubernetes.io/zone` label, and this lead to potential err

[2021-01-20 07:05] yuzhiquan commented on #97907
/triage accepted
/assign

[2021-01-20 07:07] Jiawei0227 commented on #96730
In summary, here is a matrix that shows what the behavior of the new feature flag `InTreePluginXXUnregister` looks like:

Previously the matrix
  | CSI Migration | In-tree plugin register
-- | -- | --
CSIMigrationXXX=true CSIMigrationXXXComplete=true | Yes | No
CSIMigrationXXX=true CSIMigrationXXXComplete=false | Yes | Yes
CSIMigrationXXX=false CSIMigrationXXXComplete=true | No | Yes
CSIMigrationX

[2021-01-20 07:08] Jiawei0227 commented on #96730
And also, the `InTreePluginXXUnregister` will be a superset of the `CSIMigrationXXXComplete`. That being said, if both CSIMigrationXXX and InTreePluginXXUnregister is enabled. Then the CSI migration for XXX will be treated as complete.

[2021-01-20 07:40] Gui13 commented on #94359
Hello,

We just lost another node on Azure due to ephemeral storage fill up.
Are we the only people encountering this?

We mitigated the issue by compressing files daily and putting them in a subdirectory, but this is not sufficient: it seems that Azure never actually cleans up the ephemeral storage.

We don't have the issue on a GCP node where the ephemeral *does* fill up a bit, but is correctly

[2021-01-20 07:51] foriequal0 commented on #85643
I think I and many people are suffering similar problem (LB keep send traffics to deleted pods) although it is `type: ClusterIP` and ALB `target-type: ip`.

@andrewsykim Would your PR solve following similar issues even it is not `externalTrafficPolicy: Local`?
kubernetes/kubernetes
* Pods receive traffic from load balancer whilst in terminating state for >60s #96858
* Pod lifecycle, termination c

[2021-01-20 07:54] Gui13 commented on #94359
/remove-lifecycle rotten

[2021-01-20 08:03] Cweiping opened #98206 "Default not support PIDPressure of DefaultEvictionHard"
**What happened**:
`Kubelet` starts the evict pod only when PID resources are exhausted. At this point, other pods of nodes may have been affected, especially computing applications.

**What you expected to happen**:

`PIDPressure` ahead of time to avoid other pods of the node being unable to use PID.

**How to reproduce it (as minimally and precisely as possible)**:

According to the default conf

[2021-01-20 08:04] Cweiping commented on #98206
/sig node
/release-note-none
/assign

[2021-01-20 08:08] houfangdong commented on #97942
Annotate test.cleanUp according to the suggestion, and found that the error was reported here:
[code]
Attachment can view detailed log：
[make-test-integration.log](https://github.com/kubernetes/kubernetes/files/5840981/make-test-integration.log)

[2021-01-20 08:15] Jerry-Ge commented on #98086
@BenTheElder

Could you answer this question if necessary?

####  Anything else we need to know?:
"I am pretty new to the k8s community and I am trying to figure out which lines of code trigger this [Makefile](https://github.com/kubernetes/kubernetes/blob/master/cluster/images/conformance/Makefile)"

[2021-01-20 08:18] sbwfnhn commented on #89900
I don't know what happend,delete /etc/containerd/config.toml to return to normal.

[2021-01-20 08:24] mm4tt commented on #98182
I haven't dug into this particular test failure, but in general a lot of timeouts in this job occur because the tests weren't designed to be run at this scale. E.g. there were tests trying to do something for every node which obviously is not going to work at 5k node scale. Other examples are things that just take longer for larger clusters, e.g. LB programming time depends on the number of nodes

[2021-01-20 08:31] oldthreefeng commented on #89900
containerd default cgroup driver is cgroupfs ...
`/etc/containerd/config.toml ` has a confused section of systemCgroup define.  when your remove /etc/containerd/config.toml . it will be run as its default mode which is cgroupfs .   so your kubelet cgroup driver has already change to cgroupfs not systemd?

[2021-01-20 08:38] thst71 commented on #74986
I see the same issue, I do not understand why borked display values are a non-issue. YES, it may be the correct value, but millibytes can hardly be seen as a standard way of expressing memory settings in a Ti world.

[2021-01-20 08:43] ramineni commented on #98202
/sig api-machinery api

[2021-01-20 08:59] ramineni commented on #98202
underlying cloud (in our case Openstack) , do allow spaces while defining nova AZ/flavor name, multiple issues reported , node initializing fails in such cases.

Labels affected: topology.kubernetes.io/zone, node.kubernetes.io/instance-type

Eg: https://github.com/kubernetes/cloud-provider-openstack/pull/1213#issuecomment-757008618
https://github.com/kubernetes/cloud-provider-openstack/issues/1379

[2021-01-20 09:12] pacoxu commented on #98182
Not sure whether it is related to #97789. There are many legacy endpoints that should be removed.

[2021-01-20 09:13] BenTheElder commented on #98086
If you mean to build one yourself, the docs for how to do that are in the adjacent README.
If you're asking for how this happens in the release process, it's overly complicated 🙃

https://github.com/kubernetes/kubernetes/blob/d5a75dc7e8d1ff4cea27502da8ae4dc7f47f69af/build/lib/release.sh#L410 is a hint for the latter. which happens when `make release KUBE_BUILD_CONFORMANCE=y` (or the much cheaper b

[2021-01-20 09:15] Jerry-Ge commented on #98086
Definitely! Thanks, Ben and I will investigate.

Jerry

[2021-01-20 10:04] pacoxu commented on #98071
[code]
According to your logs from slack, the error shows that resource_quota_controller stuck here.

https://github.com/kubernetes/kubernetes/blob/19b15b2fc2a1c3d5d334a64026c9bd2c0335cbac/pkg/controller/garbagecollector/garbagecollector.go#L242

https://github.com/kubernetes/kubernetes/blob/f2ed1b55803177c9b02b0acf134a011a5fb20544/pkg/controller/resourcequota/resource_quota_controller.go#L448

Pe

[2021-01-20 10:09] omertuc opened #98213 "Some "vectorized" tests never run due to bad closure var capture"
**What happened**:
Noticed some tests in this repo never run properly - they only use the last element in the loop repeatedly.

**What you expected to happen**:
The tests should use all elements they iterate on for testing

**How to reproduce it (as minimally and precisely as possible)**:
Run the tests, see that they always only use the last element in the loop instead of all of them

**Anything e

[2021-01-20 10:11] omertuc commented on #98213
/sig Testing

[2021-01-20 10:18] #93281 closed

[2021-01-20 10:22] roizentner opened #98214 "Scheduler should evict pods to honor Pod Disruption Budgets"
**Background**
Our product consists of several deployments (apps), each with its own `app` label.
Each deployment has its own number of pods/replicas.
Our solution requires at least **one** pod of each app running at all times to work properly.
We want to achieve high-availability, even in the case of a node failure.
We've been hoping Pod Disruption Budgets with minAvailable=1 will help us achieve

[2021-01-20 10:30] Jerry-Ge commented on #98086
Sorry Ben I got another question raised in my mind 😅: I did a quick skim in the "release.sh" and am curious about where we created & pushed the manifest file to make this conformance image to be Multi-Arch in the full release process? I guess maybe somewhere in `kubernetes/release/*` ?

Thanks so much in advance,

Jerry

[2021-01-20 10:45] Bryce-huang commented on #89898
I think this problem is usually caused by the node network where the pod is located or the cni error

[2021-01-20 11:46] kad commented on #97739
I don't have yet well defined opinion on that, but from first glance, why not to add "id"/"idtype" as more struct members to CRI and device plugin apis? @RenaudWasTaken, what do you think, "id" field then potentially can be re-used in combination with CDI ?

[2021-01-20 11:56] roizentner opened #98215 "Rolling updates interfere with Pod Topology Spread Constraints"
**Background**:
We define Pod Topology Spread Constraints on our Deployment (labeled `app: app1`), as follows:

The deployment is defined with 5 replicas.

**What happened**:
Triggering a rolling update on the running deployment will sometimes result in a skewed spread, not honoring the maxSkew=1.
Our theory is that the scheduler "sees" the old pods when deciding how to spread the new pods over no

[2021-01-20 12:07] dims commented on #98202
@ramineni probably best to doc that we can't support spaces for these labels. I don't think there is any room to relax the validation.

[2021-01-20 12:46] chenyw1990 opened #98218 "kubelet will panic when pause container lose during kubelet restarting"
**What happened**:
with --cpu-manager-policy=static
kubelet will panic when pause container lose during kubelet restarting

**What you expected to happen**:
kubelet can start normally

**How to reproduce it (as minimally and precisely as possible)**:
1,config kubelet with --cpu-manager-policy=static
2, Run a large number of pods on the test node
[code]

3,stop kubelet use command: `systemctl  stop

[2021-01-20 12:47] chenyw1990 commented on #98218
/sig node
/assign

[2021-01-20 12:54] knabben commented on #95041
/assign @cynepco3hahue

[2021-01-20 12:59] krzysied opened #98219 "Autoscaling e2e test for k8s 1.19 will fail"
**Which jobs are failing**:
N/A. There are only tests for head version running.

**Which test(s) are failing**:
 [HPA] Horizontal pod autoscaling (scale resource: Custom Metrics from Stackdriver) .*

**Since when has it been failing**:
 11/30/20

**Testgrid link**:
N/A. There are only tests for head version running.

**Reason for failure**:
Missing cherr-pick.

There was https://github.com/kuberne

[2021-01-20 13:01] krzysied commented on #98219
/area test
/area e2e-test-framework

/sig autoscaling
/sig testing

[2021-01-20 13:06] knabben opened #98220 "node-kubelet-alpha tab failure"
**Which jobs are failing**:
ci-kubernetes-node-kubelet-alpha - (sig-node-kubelet -> node-kubelet-alpha)
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-node/node-kubelet.yaml#L43

**Which test(s) are failing**:
Suite.BeforeSuite starts to break, so the tests do not start.

**Since when has it been failing**:
71 days

**Testgrid link**:
https://testgrid.k8s.io/sig-no

[2021-01-20 13:08] knabben commented on #98220
/assign @knabben

[2021-01-20 13:19] jichenjc commented on #98202
based on feedback, I will close this one, thanks @dims @ramineni ~

[2021-01-20 13:19] #98202 closed

[2021-01-20 13:20] neolit123 opened #98222 "dockershim: auto-detect and match the Docker cgroup driver"
**What would you like to be added**:

auto-detect and match the docker service cgroup driver in dockershim.

https://github.com/kubernetes/kubernetes/pull/97764#discussion_r556595741
https://github.com/kubernetes-sigs/cluster-api/issues/866#issuecomment-478728323

dockershim is already detecting the cgroup driver using `docker info`:
https://github.com/pacoxu/kubernetes/blob/71d70f7a8320e971892cc9

[2021-01-20 13:20] neolit123 commented on #98222
/area kubelet
/sig node

[2021-01-20 13:21] neolit123 commented on #98222
cc @derekwaynecarr @pacoxu

[2021-01-20 13:24] ayousef1 commented on #92410
/reopen

[2021-01-20 13:25] farah commented on #92410
reopen

[2021-01-20 13:35] knabben commented on #98220
Able to replicate locally with:

[code]

[2021-01-20 13:36] rdxmb commented on #74249
Same problem here with

`kubeadm 1.19.7` on `ubuntu 20.04`

Having `native.cgroupdriver=systemd` in `/etc/docker/daemon.json` results in

[code]

Removing that line and so having

[code]

results in

[code]

Can someone reopen and maybe rename this issue? Or do you want a new issue?

[code]

[2021-01-20 13:48] rdxmb commented on #74249
I wonder if it would help to change the CRI to something else than Docker on the Kubernetes worker nodes. However, my master has to stay with docker for the next time...

[2021-01-20 13:57] kvaps commented on #86281
This one was probably solved, I have no problems running it on `v1.18.2`

[2021-01-20 14:08] neolit123 commented on #98215
/sig apps

[2021-01-20 14:09] neolit123 commented on #98214
/sig apps

[2021-01-20 14:18] gavinfish commented on #98215
/sig scheduling
/cc @Huang-Wei

[2021-01-20 14:18] knabben commented on #98220
This command enables AllAlpha and API Server is failing with:

[code]

Trying to find which one it's raising this problem.

[2021-01-20 14:28] pacoxu commented on #98222
sounds good. will work on it if this is expected behavior

[2021-01-20 14:30] liggitt commented on #98182
I don't see anything in that test that would be impacted by scale/number of instances. It is running a job with a single pod, which checks metadata endpoints which would not be different with a large number of instances.

[2021-01-20 14:31] claudiubelu commented on #96770
The node-perf images have been built, and I'm currently checking if any presubmit job fails with them here: https://github.com/kubernetes/kubernetes/pull/87607

When you say that more image references that will need migrating, do you also mean ``google/cadvisor:latest``, and ``k8s.gcr.io/stress:v1``, and that busybox image too (which actually makes me wonder - why do we use 2 different busybox ima

[2021-01-20 14:45] saschagrunert opened #98229 "Non amd64 kube-proxy container images have the wrong manifest architecture"
The `debian-iptables` based container images for `kube-proxy` are shipped with the wrong architecture within the manifest if not amd64:

[code]

Refers to https://github.com/kubernetes/kubernetes/issues/89554#issuecomment-759311257

We updated the `debian-base` images a few minutes ago to buster-v1.3.0, which are now ready to be used as base for the multi-architecture `debian-iptables` images. If

[2021-01-20 14:46] saschagrunert commented on #98229
/sig release

[2021-01-20 14:47] liggitt commented on #98219
cc @julianvmodesto

[2021-01-20 14:53] liggitt commented on #98146
I would not expect kubernetes signers to add conditions to CSR objects requesting different signers.

This sounds like a good idea to add to the signerName API documentation (in types.go) and to the website documentation at https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/

No, the `kubernetes.io/kubelet-serving` signerName is only intended for serving certifica

[2021-01-20 15:03] perithompson commented on #96512
Tested this with containerd as well, I think its good to test @jayunit100

[2021-01-20 15:09] liggitt commented on #64801
for PodSecurityPolicy specifically, I don't expect to see any windows-related changes, so this issue could probably be closed, but the points raised here (how OS-specific implications shape policy) would be good for the group working on a proposal for a PSP replacement to consider/incorporate if possible

cc @IanColdwater @tabbysable @tallclair

[2021-01-20 15:16] SataQiu commented on #98150
@thanatos If you don't mind, I sent a PR  #98230 to improve the error message.

[2021-01-20 15:32] gavinfish commented on #94695
/remove-lifecycle stale

[2021-01-20 15:50] knabben commented on #98220
Looks like `StorageVersionAPI=false` must be disabled here.

[2021-01-20 15:51] knabben commented on #98220
cc @caesarxuchao @roycaihw

[2021-01-20 15:59] liggitt commented on #96232
I agree. Knowledge of where/how trusted certificates should be mounted is very dependent on the containers you are running.

You can accomplish this yourself with an admission plugin injecting volume mounts (either from the node or from a configmap if the data is small enough) to the locations you want them.

/close

[2021-01-20 15:59] #96232 closed

[2021-01-20 16:00] liggitt commented on #97795
/triage accepted
/cc @tallclair
/priority backlog

[2021-01-20 16:02] liggitt commented on #98035
cc @soltysh @tallclair

Marking the alpha/beta version as deprecated and starting the clock on them seems reasonable. That would also mean warning if a version other than `audit.k8s.io/v1` was passed to those two flags.

[2021-01-20 16:02] liggitt commented on #98035
/triage accepted
/help-wanted

[2021-01-20 16:19] gtorre commented on #53331
This is an issue for us as well:

[code]
Our cronjob spec looks like this:
[code]
Per @soltysh's request in a previous comment, here is the json output of a faileld pod:
[code]

[2021-01-20 16:32] jsturtevant commented on #64801
agree for PSP but would like to get update guidance for general Windows Pod Security Standards doc: https://kubernetes.io/docs/concepts/security/pod-security-standards/

[2021-01-20 16:53] arjunrn commented on #98174
Fixed with #97348

[2021-01-20 16:54] gavinfish commented on #94695
@SataQiu @krishchow I am working on #94696 which has some dependencies on this issue, I will pick this up if you are working on this anymore.

[2021-01-20 17:00] krishchow commented on #94695
Go ahead @gavinfish :)

[2021-01-20 17:00] soltysh commented on #93100
I'll take the run bits, since there's a few tricky bits there and I'm also cleaning deprecated flags there.

[2021-01-20 17:01] arjunrn commented on #97468
Fixed with #95647 and cherrypicked into v1.18.11

[2021-01-20 17:18] wilsonehusin opened #98232 "1.21 Release Notes: Known Issues"
This issue is a bucket placeholder for collaborating on the "Known Issues" ([example from 1.20 release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#known-issues)). If you know of issues or API changes that are going out in 1.21, please comment here so that we can coordinate incorporating information about these changes in the Release Notes.

/assign @wils

[2021-01-20 17:41] admilazz commented on #89899
/remove-lifecycle stale

[2021-01-20 17:55] lauchokyip commented on #93100
`expose.go` is still available if anyone wanna tackle it :)

[2021-01-20 18:11] jsafrane opened #98234 "AzureDisk plugin can't provision "kind: dedicated" volumes"
**What happened**:
Using this StorageClass:
[code]

Volume provisioning fails with:
[code]

The error comes from admission plugin that adds / sets labels to PersistentVolume object. It expects that `https://clusterp1uo5....` has a very specific format, which "dedicated" disks don't have:

https://github.com/kubernetes/kubernetes/blob/106bc7e50d6dfdacbaa4be93f35c1af7a946a10d/staging/src/k8s.io/lega

[2021-01-20 18:11] jsafrane commented on #98234
/sig storage
/priority important-longterm

[2021-01-20 18:22] perithompson opened #98235 "Kubelet cAdvisor API not working on windows nodes"
**What happened**:
When browsing to the cadvisor metrics API on a Windows node running contained, no metrics are returned about the underlying pods and containers.

[code]

However running this on a Linux Node on the same cluster returns correctly

[code]

**What you expected to happen**:
Expect the container metrics to be returned.

**How to reproduce it (as minimally and precisely as possible)**

[2021-01-20 18:23] perithompson commented on #98235
I will add some more detail to this later but wanted to get this filed

/sig windows
@jayunit100

[2021-01-20 18:38] #97750 closed

[2021-01-20 18:38] #97951 closed

[2021-01-20 18:57] roycaihw commented on #98220
It looks like the server doesn't have the required alpha API `internal.apiserver.k8s.io/v1alpha1` enabled. The API endpoint didn't exist. [E.g.](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-alpha/1351860935962136576/artifacts/tmp-node-e2e-b08b69c7-cos-81-12871-1230-3/services.log)

[code]

I think it's plausible for some alpha features to depend on alpha APIs.

[2021-01-20 19:03] knabben commented on #98220
@roycaihw thanks for pointing this, I will replace this in the PR

[2021-01-20 19:14] mgoltzsche opened #98236 "Unable to retrieve init container logs"
**What happened**:
Apparently init container logs cannot be retrieved after the Pod terminated.
While a Pod is running I can fetch an init container's logs successfully.
It seems that init containers are deleted on (successful) termination (and the logs with them).
However I'd like to fetch their logs directly after the Pod terminated.

**What you expected to happen**:
After running a (short-lived

[2021-01-20 19:17] PI-Victor commented on #97647
i'll attempt to explain, the CHANGELOG-1.xx.md should reside in the release branch of that version and the master branch, so i consider this not to be an issue.
/close

[2021-01-20 19:18] #97647 closed

[2021-01-20 19:26] mitar commented on #69816
/remove-lifecycle stale

[2021-01-20 19:38] rikatz commented on #98143
on my queue, will look tomorrow :D

[2021-01-20 19:39] rikatz commented on #98100
/assign @11janci

Go for it, let me know if you need something

[2021-01-20 19:54] mattcary commented on #96730
This makes sense to me.

Do we have any signals from a particular provider that they are ready or nearly ready to unregister the in-tree plugin?

[2021-01-20 19:57] liggitt commented on #98100
is that accurate? the expansion is done by the shell, right? also, if *.yaml expands to more than one file, that command does not work:

[code]

[2021-01-20 19:59] mgoltzsche commented on #98236
/sig node

[2021-01-20 19:59] mgoltzsche commented on #98236
/sig docs

[2021-01-20 20:00] alculquicondor commented on #28486
I got it working kubernetes/kubernetes#98238

I'll send a KEP PR soon, now that I've figured all the details.

[2021-01-20 20:08] alculquicondor opened #98239 "Job controller does wasteful work due to status updates it produces"
/sig apps
/area workload-api/job

The Job controller might do syncs that won't produce any changes. In particular, status updates that it itself produces are not skipped.
Furthermore, a solution for #28486 requires to do extra Pod updates (to remove finalizers) that might trigger unnecessary Job syncs.

Is this expected? Or is skipping updates an anti-pattern?

[2021-01-20 20:08] Jiawei0227 commented on #96730
That's what we need to figure out in the CSI migration meeting coming soon :)

[2021-01-20 20:08] alculquicondor commented on #98239
cc @erictune @soltysh @kow3ns

[2021-01-20 20:44] thockin commented on #98066
Being able to modify endpoints is not a 'bug', in the sense that we can or should fix it.  The user has permission to edit Endpoints, so they can edit it.  That doesn't mean the controller won't blow it away  at any point thereafter.

I'm guessing here, but probably kube-proxy is watching EndpointSlice, rather than Endpoints, so it never sees this change.  The reason it works for selectorless Serv

[2021-01-20 20:45] thockin commented on #98066
If you agree, please close?

[2021-01-20 21:06] VanCoding commented on #66811
It's very strange that kubernetes is basically unable to prevent downtime of a single replica deployment when upgrading a node. I was very surprised when I noticed this.

I don't know very much about how kubernetes works internally. But to my logic, it seems like an easy fix:
Currently, a deployment seems to know how much pods are running and where they are running. Knowing this, it could just ign

[2021-01-20 21:08] ehashman commented on #94976
@puerco is https://github.com/kubernetes/release/issues/1837 superseding this as a tracking issue? it looks like and actionable, I'd be happy to close

[2021-01-20 21:35] andrewsykim commented on #94215
/assign @nckturner

[2021-01-20 21:35] andrewsykim commented on #94359
/remove-sig cloud-provider

[2021-01-20 21:37] andrewsykim commented on #92852
/assign @cheftako

[2021-01-20 21:38] andrewsykim commented on #92783
/assign

[2021-01-20 21:39] andrewsykim commented on #92522
/remove-sig cloud-provider
/assign @yliaog

[2021-01-20 21:40] andrewsykim commented on #92402
/remove-sig cloud-provider

[2021-01-20 21:40] andrewsykim commented on #92100
/assign @andrewsykim @cheftako

[2021-01-20 21:41] andrewsykim commented on #91306
/assign

[2021-01-20 21:41] andrewsykim commented on #90814
/assign

[2021-01-20 21:41] alculquicondor commented on #94009
@Huang-Wei what is the current plan?
Is it to do the entire proposal in "Efficient Requeuing" doc or just the minimal checks proposed in the issue?

[2021-01-20 21:42] andrewsykim commented on #90132
/assign @kishorj

[2021-01-20 21:43] andrewsykim commented on #88902
/cc @jpbetz

[2021-01-20 21:43] andrewsykim commented on #88902
/triage accepted

[2021-01-20 21:45] andrewsykim commented on #88820
/remove-lifecycle stale
/triage accepted

[2021-01-20 21:48] cici37 opened #98242 "Add cross component test for CCM"
**What would you like to be added**:
Currently CCM is build and released by cloud provider. It would be great to have a cross component test for CCM so that we could catch issues early.
The initial thought would be simulate the main.go in test.

**Why is this needed**:

[2021-01-20 21:50] andrewsykim commented on #88820
/assign @cheftako

[2021-01-20 21:50] andrewsykim commented on #87232
/triage accepted

[2021-01-20 21:51] andrewsykim commented on #86245
/assign @jpbetz

[2021-01-20 21:51] gnufied commented on #80488
I do not think https://github.com/kubernetes/kubernetes/pull/96617 addresses all cases. For example - in vsphere intree driver we saw a bug where a VM can become unavailable because of HA issue and when that happens a detach from that VM succeeds with a no-op but even after VM becomes available no detach ever gets performed because ADC assumes volume was detached.

The intree dangling volume handl

[2021-01-20 21:51] cici37 commented on #98242
/sig cloud-provider

[2021-01-20 21:52] andrewsykim commented on #84366
/assign @kishorj

[2021-01-20 21:53] andrewsykim commented on #83977
/assign @cheftako
/remove-lifecycle rotten

[2021-01-20 21:54] andrewsykim commented on #83070
Any updates on this? Should we close it?

[2021-01-20 21:54] andrewsykim commented on #82532
/remove-sig cloud-provider

[2021-01-20 21:55] andrewsykim commented on #80897
/remove-lifecycle stale
/assign @kishorj
/triage accepted

[2021-01-20 21:56] andrewsykim commented on #80712
/remove-sig cloud-provider
/sig storage

[2021-01-20 22:13] rtheis commented on #73698
/reopen

[2021-01-20 22:13] rtheis commented on #73698
I was able to recreate the problem on a Kubernetes version 1.20 cluster.

[2021-01-20 22:14] Jiawei0227 commented on #80488
After syncing with @gnufied offline, here is the info I understand:

Our final goal is that we have a correct CSI dangling volume mechanism that can handles the dangling volumes correctly. This dangling volume mechanism already exists in the in-tree plugin for openstack, aws, azuredisk, vsphere. But not gce-pd. The dangling issue will happen by design, so that means the issue still exists in the i

[2021-01-20 22:17] Jiawei0227 commented on #80488
So I think moving forward, we need to think about these three questions:
1. For in-tree gce-pd, do we still want to implement the dangling attach handling?
2. For each CSI driver, they have to make sure they implement the dangling attach error code in ControllerPublishVolume
3. For csi-attacher, we need to design and implement how we handle the dangling attach error returned from the CSI Controlle

[2021-01-20 22:32] puerco commented on #94976
In a sense yes, this issue is one of the goals of the Bill of Materials effort. Once we are done scanning the licenses to SPDX I was planning to mark this issue as done.

[2021-01-20 22:44] ehashman commented on #94976
Excellent, thanks! I'll leave it open then for tracking.

[2021-01-20 22:48] Huang-Wei commented on #94009
@alculquicondor I plan to fix the problems mentioned in this issue, but not entirely following the logic mentioned here. For example, it's inappropriate to move a Pod with PVC once a CSINode happens - the Pod may fail due to a reason irrelevant to its PVC.

What I'm proposing is more aligned with the Google doc, but there are 2 major distinctions:

- I'm not associating the interface to a particul

[2021-01-20 22:56] ahg-g commented on #94009
That is true, but this is the case right now, not something new this issue is proposing to do. This issue is proposing to address the obvious moves that we can avoid with minimal complexity, which will also likely give us the most bang for the buck.

Do you have a more detailed proposal for what you are planning to do?

[2021-01-20 23:03] varshachandanb commented on #97473
@umialpha during Scale up I was expecting HPA to add 4 pods every minute when C/T ratio is greater than 1, since we have Max policy specified in HPA spec behavior.
Could you please provide details on why this is not happening ?

[2021-01-20 23:06] Huang-Wei commented on #94009
Yes, the code is almost complete - PR1 (#98041) and PR2 (#98241), I will send out another PR later to use ServiceAffinity as an example to show case how it works in details.

Basically, the plugin can implement an optional interface called `EnqueueExtensions` and return a number of ClusterEvents that a Pod failed by that plugin can be made re-schedulable, and also upon a Pod's scheduling failure,

[2021-01-20 23:07] Huang-Wei commented on #94009
@ahg-g You can wait late today or tomorrow when the 3rd PoC PR will be ready, and it'd show you a whole picture.

[2021-01-20 23:33] #94490 closed

[2021-01-20 23:50] bobbypage commented on #98235
/retitle Kubelet cAdvisor API not working with containerd on windows node

[2021-01-21 00:09] varshachandanb commented on #97468
The above fix seems to be working. Thanks

[2021-01-21 00:10] troy0820 commented on #97468
/close

[2021-01-21 00:10] #97468 closed

[2021-01-21 00:11] varshachandanb commented on #97474
@umialpha Could you please update the same information in Kubernetes docs ? Thanks

[2021-01-21 00:15] sftim commented on #97851
Combined with SoftHSM, this also allows a bit more security even without hardware support.

[2021-01-21 00:17] Huang-Wei commented on #95709
/remove-lifecycle stale

[2021-01-21 00:54] jingxu97 commented on #69831
cc @Jiawei0227

[2021-01-21 00:58] fejta-bot opened #98247 "pr:pull-kubernetes-e2e-kind-ipv6 flaked 20 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-kind-ipv6
 Flakes in the past week: **20**
 Consistency: **95.10%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| [sig-network] KubeProxy should set TCP CLOSE_WAIT timeout [Privileged] | 8 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

/kind flake

[2021-01-21 01:12] daixiang0 commented on #92410
/remove-lifecycle rotten

[2021-01-21 01:12] daixiang0 commented on #92410
/reopen

[2021-01-21 01:13] daixiang0 commented on #92410
/lifecycle frozen

[2021-01-21 01:30] Jiawei0227 commented on #69831
Exactly what one of our customer is facing. It can be easily reproduced by the following manifest
[code]
The pod is still pulling image and the job exceeds deadline so it deleted the pod. While the startContainer goroutine has already try to start the container.

It will lead to the following event for the job pod. Because by the time image download finish, the pod has already being deleted and th

[2021-01-21 01:31] SergeyKanzhelev commented on #94256
I understand this flag is set out of the box now. So this is what users experience.

[2021-01-21 01:35] Huang-Wei commented on #87850
Flushing behavior may still be necessary as some resources not managed by k8s (e.g., hostPort) may change over time, and that may make the current unschedulable Pod schedulable.

[2021-01-21 01:43] Huang-Wei commented on #94009
FYI: the 3rd PR to showcase how it works: PoC: ServiceAffinity enqueue #98248.

[2021-01-21 01:48] jingxu97 commented on #90224
now most of tests do not have kubelet logs uploaded due to permission issue.

[2021-01-21 01:48] lygasch commented on #91459
keepalive

[2021-01-21 02:18] kishorj commented on #80897
/assign

[2021-01-21 02:19] kishorj commented on #84366
/assign

[2021-01-21 02:20] kishorj commented on #90132
/assign

[2021-01-21 03:19] natereid72 commented on #40610
is this ever going to be addressed? perhaps a label for nodes prefaced with an indicator for downwardapi. e.g. dapi-region, dapi-az, etc. This way all of the node labels aren't exposed, but ones the admin wants are.

[2021-01-21 03:24] lala123912 opened #98251 "How to used structured Logging for variable length object"
**What happened**:
It is poorly readable  when migrating the following code to structured Logging.
before:
https://github.com/kubernetes/kubernetes/blob/a04b6e4b1671810ede5b8cacf4527741781d6fb9/staging/src/k8s.io/apiserver/pkg/audit/metrics.go#L109
func HandlePluginError(plugin string, err error, impacted ...*auditinternal.Event) {
	// Count the error.
	errorCounter.WithLabelValues(plugin).Add(flo

[2021-01-21 03:24] lala123912 commented on #98251
/sig-instrumentation

[2021-01-21 03:25] lala123912 commented on #98251
/assign @serathius

[2021-01-21 03:49] Novex commented on #89898
We're seeing similar behaviour as described too - all pods on certain nodes failing their http based healthchecks with timeout errors and getting restarted when they don't need to be.

Just a heads up to those looking to move to an exec based healthcheck as a workaround, you may run into https://github.com/kubernetes/kubernetes/issues/82440 which substantially increases system load.

Funnily enoug

[2021-01-21 03:56] BenTheElder commented on #98086
the image build method used in release here
https://github.com/kubernetes/kubernetes/blob/d5a75dc7e8d1ff4cea27502da8ae4dc7f47f69af/build/lib/release.sh#L306-L313

specifically this part builds the images:
https://github.com/kubernetes/kubernetes/blob/d5a75dc7e8d1ff4cea27502da8ae4dc7f47f69af/build/lib/release.sh#L313

it does not appear to me that we do build a multi-arch image, rather multiple ima

[2021-01-21 03:57] BenTheElder commented on #98086
in the PR you can see here that the x86 image gets tagged with the conformance image (no arch) tag https://github.com/kubernetes/kubernetes/pull/97982/files#diff-eccea3a18c013ee3078173f18a067bdbe6cbdd13e45427e5b671184bd81867b4L66

the registry appears to have manifest lists though, which I can't explain

[2021-01-21 03:57] BenTheElder commented on #98086
also: you should not be using gcr.io/google-containers/, the correct host for all official images is `k8s.gcr.io/` so `k8s.gcr.io/conformance:v1.18.0`

[2021-01-21 05:21] Aut0R3V commented on #93100
Sure I'd like to work on it

[2021-01-21 05:22] Jerry-Ge commented on #98086
Thanks for all of those comments! Pretty valuable info and I will continue the investigation to see are there any multi-arch improvements I can contribute 🙂

[2021-01-21 05:22] #98086 closed

[2021-01-21 05:35] ymmt2005 opened #98253 "kubectl alpha debug node does not work on tainted nodes"
**What happened**:

`kubectl alpha debug node` does not work for nodes with NoExecute taints.

[code]

We have several types of Node hardware, and some of them are tainted
to keep away normal pods.

**What you expected to happen**:

A debug pod is created with tolerations for the taints.

**How to reproduce it (as minimally and precisely as possible)**:

1. Add a NoExecute taint to a node
2. Run `

[2021-01-21 05:36] ymmt2005 commented on #98253
/sig cli

[2021-01-21 05:38] wawa0210 commented on #98253
/assign

[2021-01-21 05:49] sarintom commented on #98174
Ok, thank you for the info. Closing the issue.

[2021-01-21 05:49] #98174 closed

[2021-01-21 06:28] uablrek commented on #98069
On a second thought, this can *never* work!

If the source really was preserved the incoming packets would have both src and dest set to the (own) pod-ip. The reply would not leave the pod and the orignal connect dest=vip/src=pod-ip would not be matched => connection RST.

[2021-01-21 06:37] uablrek commented on #98069
/kind documentation

[2021-01-21 06:56] wojtek-t commented on #94256
The netfilter - yes.
But what we did in the past we worked around the issue by increasing some timeouts. This is not what users are doing and this is what I'm saying that we should revert (which BTW has happened in the meantime).

[2021-01-21 07:20] remcohaszing commented on #56402
/remove-lifecycle stale

[2021-01-21 08:08] ggaaooppeenngg opened #98256 "proposal: add a helper function to convert labels.selector to v1.NodeSelector"
**What would you like to be added**:
A converter that converts selector to v1.NodeSelectorRequirement
**Why is this needed**:
In fact `k8s.io/apimachinery/pkg/labels.Selector` has the same syntax as `k8s.io/api/core/v1.NodeSelector`

Example:

[code]

[2021-01-21 08:08] blackjackyau commented on #39824
the documentation today is very confusing still, especially this line (https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#voluntary-and-involuntary-disruptions)

And **NONE** of these will respect the PDB constraint

[2021-01-21 08:13] serathius commented on #98251
Why not pass whole slice with strings?
[code]

Possible improvements:
* Don't know what `EventString` does, but if it creates string based on multiple fields from events, then we should consider passing whole events or if there are to many fields we may create anonymous struct with fields matching what `EventString` provides.

[2021-01-21 08:20] ggaaooppeenngg commented on #98256
/sig api-machinery

[2021-01-21 08:22] lala123912 commented on #98251
I tried to mock two events, and the log is below.
events=[0001-01-01T00:00:00Z AUDIT: id="" stage="" ip="<unknown>" method="" user="<none>" groups="<none>" as="<self>" asgroups="<lookup>" namespace="<none>" uri="" response="<deferred>" _**0001-01-01T00:00:00Z AUDIT: id="" stage="" ip="<unknown>" method="" user="<none>" groups="<none>" as="<self>" asgroups="<lookup>" namespace="<none>" uri="" respo

[2021-01-21 09:31] nevermore-muyi commented on #96240
I met the same problem.
When i mount hostpath of /dev or /lib, the container cannot startup, but when i do not mount hostpath to container, the pod startup successfully.
My kubernetes version is v1.15.6

[2021-01-21 09:50] irizzant commented on #92460
/remove-lifecycle stale

[2021-01-21 10:08] RainbowMango commented on #96363
@WxySupn
Would you like to make a PR for this?

[2021-01-21 10:14] ipatrykx commented on #98066
@thockin OK, I get how it works. Thanks for the detailed explanation, that's really helpful!

Could you please tell me if you are maybe aware if there is any way I could update the endpoint address in the corresponding endpointslice? Simply trying to apply yaml on top of the existing endpointslice seems not to work (or I've done something wrong).

[2021-01-21 10:34] mritd commented on #18174
Is this still the case in january 2021 ? We are working around this by using nginx per node , but it will simplify the infra if we can remove the nginx.

[2021-01-21 10:39] WxySupn commented on #96363
/assign

[2021-01-21 10:42] WxySupn commented on #96363
Yeah, basically completed. I will commit the PR later.

[2021-01-21 10:44] WxySupn commented on #98175
good issue

[2021-01-21 11:07] andyzhangx commented on #98234
is it possible to use managed disk instead?
https://docs.microsoft.com/en-us/azure/virtual-machines/faq-for-disks#migrate-to-managed-disks
We recommend that you use managed disks for new workloads and migrate your current workloads to managed disks.

[2021-01-21 11:37] stevehipwell commented on #98097
Should this issue have been raised in the [kubernetes/cloud-provider-aws](https://github.com/kubernetes/cloud-provider-aws) repo?

[2021-01-21 11:48] wzshiming opened #98260 "kubelet podEphemeralStorageLimitEviction panic"
**What happened**:

![image](https://user-images.githubusercontent.com/6565744/105346916-23d88280-5c21-11eb-812f-48c5541212e3.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.20.1
- Cloud provider or hardware configuration:
- OS (e.g: `cat

[2021-01-21 11:50] wzshiming commented on #98260
/sig node

[2021-01-21 12:27] pre commented on #7890
With for example a combination containerD + runC + systemd cgroup driver - where would the [Allowed Device list of the OCI runtime spec](https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#allowed-device-list) be configurable?

What I've understood, the cgroup v2 driver would allow mounting /dev/fuse without privileged:true if `10:229` would appear in the list of Allowed Dev

[2021-01-21 12:42] aojea commented on #98066
yeah, bad wording, I tried to mean that I expect the endpoint controller to have the  endpoint object in sync with the "service-selector. podIPs"

the endpointslices  controller detects the updates and reconcile the object to have the "right" addresses, the ones that match the PodIPs associated to the service with the selector, @robscott correct me if I´m wrong please

[2021-01-21 13:13] knabben opened #98265 "node-kubelet-orphans tests failing"
**Which jobs are failing**:
node-kubelet-orphans

**Which test(s) are failing**:
[code]

**Since when has it been failing**:
1. Since 2020-11-07 - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-orphans/1325005605177397248
2. Since 2020-11-17 - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-orphans/1328452635979681792

**Testgrid link*

[2021-01-21 13:29] ledroide commented on #98071
SOLVED.
Thanks to @pacoxu who investigated my logs from kube-controller-manager, we have found this :
[code]
The root cause comes from the HNC (Hierarchical Namespace Controller).

After removing HNC and manually its resources remaining in validatingwebhookconfigurations, customresourcedefinitions and subnamespaceanchors ; and restarting kube-controller-manager with option `--concurrent-gc-syncs=6

[2021-01-21 13:30] #98071 closed

[2021-01-21 13:35] guzmonne commented on #97100
This PR #96876 has been merged. Does anyone know in which version is available, and if it has indeed fixed the issue?

[2021-01-21 13:38] gavinfish commented on #94695
/assign

[2021-01-21 13:53] knabben commented on #98265
/sig node
/area test

[2021-01-21 14:13] liggitt commented on #94831
I would recommend:

* fixing the documentation to accurately describe what is returned ("returns the value of the `cpu` resource")
* sweeping in-tree uses to make sure we're only using it correctly

/remove-label api-review

[2021-01-21 14:16] neolit123 commented on #98251
/sig instrumentation

[2021-01-21 14:16] neolit123 commented on #98247
/sig network

[2021-01-21 14:36] alculquicondor commented on #95709
@Huang-Wei do you have any updates from your users?

[2021-01-21 14:38] alculquicondor commented on #87850
I don't follow. Isn't that part of the PodSpec?

[2021-01-21 14:41] palsivertsen commented on #60789
That's what I ended up using. Works so far. :+1:

[2021-01-21 14:41] chenyw1990 commented on #98260
Do you know how to reproduce this problem?

[2021-01-21 14:45] zhanghe9702 commented on #98215
from source code comments, `A constraint is considered "Unsatisfiable" for an incoming pod if and only if every possible node assigment for that pod would violate "MaxSkew" on some topology.` @roizentner , in your case, node-1(3) - node-2(2) = 1 don't violate this rule

[2021-01-21 14:47] roizentner commented on #98215
@zhanghe9702, in my case, node-1(3) - node-3(0) = 3 and node-2(2) - node-3(0) = 2, both considered a violation.

[2021-01-21 14:49] liggitt opened #98267 "Consider marking pre-go-module k8s.io/client-go versions as retracted"
**What would you like to be added**:

**Why is this needed**:

Current k8s.io/client-go releases are tagged as v0.x.y corresponding to kubernetes 1.x.y (e.g. v0.20.2, corresponding to kubernetes v1.20.2).

`go get k8s.io/client-go` fetches the latest semantic version. That is either v1.5.1 (corresponding to kubernetes 1.5) or v11.0.0+incompatible (corresponding to kubernetes 1.14). Releasing new k

[2021-01-21 14:55] liggitt commented on #98267
/sig architecture

[2021-01-21 15:09] pre commented on #7890
It seems that the default / root cgroup is already allowing everything, hence, changing the root cgroup at containerD or kubelet does not seem to have any effect.

So - what I think I understand from all this, is that kubelet would need to set the Allowed Devices when it creates the container of a pod. The relevant [code in containerD](https://github.com/containerd/containerd/blob/c4bff3d17cd0d92e

[2021-01-21 15:20] strus38 opened #98268 "enhancement: provide a list of images and not a single one to pickup private registry before internet one"
**Current behavior**
In the container section, it is only possible to specify an image from a single registry.
Exemple:
[code]

**Proposal**
The idea would be to be able to specify multiple image paths taken in a priority order (first success first pick), so K8S can pull in a private registry before looking on internet for exemple, like this:
[code]

**Use case:**
I deploy a new cluster, all is co

[2021-01-21 15:31] strus38 commented on #98268
/sig cluster-lifecycle

[2021-01-21 15:33] strus38 commented on #98268
/sig node

[2021-01-21 15:34] zhanghe9702 commented on #98215
i think ,   node-1(3)/node-2(2)/node-3(0) just one of satisfiable cases , node-1(3)/node-2(1)/node-3(1) also satisfiable

[2021-01-21 16:02] adtac commented on #91120
I don't think that issue covers all the aspects of creating a new in-tree plugin.

I'm not sure what you mean by rewrite (the documentation for creating a new in-tree plugin doesn't exist right now), but yes, the PRs in that issue will be useful as context.

FWIW I think it might be best to leave this to people who have created in-tree plugins in the past (excludes me).

[2021-01-21 16:42] cmluciano commented on #95309
/remove-lifecycle stale

This can only be finished out in 1.22

[2021-01-21 16:44] alculquicondor commented on #94009
Do we have a benchmark we can use to prove that the changes are having a positive impact?

[2021-01-21 16:45] #95300 closed

[2021-01-21 16:45] alculquicondor commented on #94009
Also, are we planning to keep the existing checks that some events have?

[2021-01-21 17:11] knabben commented on #98265
/assign @knabben

[2021-01-21 17:32] Aut0R3V commented on #91120
Sure okay 👍

[2021-01-21 17:33] neolit123 commented on #98268
/remove-sig cluster-lifecycle

this feature falls under SIG Node.
one alternative currently is to write a custom controller that patches a new image URL if one fails.

[2021-01-21 17:34] logicalhan opened #98270 "Create a stable version of etcd_object_counts"
**What would you like to be added**:

We want to start migrating metrics which people depend on for operations to stable status. etcd_object_counts was mentioned in a recent SIG meeting as a viable candidate. However, the 'etcd_' prefix is not in line with stated metric conventions. SIG consensus determined that creating a new version of the metric with the metric name 'apiserver_storage_object_co

[2021-01-21 17:35] logicalhan commented on #98270
/sig instrumentation api-machinery
/cc @ehashman @dashpole @brancz

[2021-01-21 17:36] adampl commented on #97100
@guzmonne It will appear in 1.21 and there are also backporting PRs for 1.19 (https://github.com/kubernetes/kubernetes/pull/98140) and 1.20 (https://github.com/kubernetes/kubernetes/pull/98168).

[2021-01-21 17:41] Aut0R3V commented on #93100
/assign

[2021-01-21 17:44] erain commented on #98270
Ack. I am going to work on this.

[2021-01-21 17:45] neolit123 commented on #98268
if this ticket doesn't get feedback you can try emailing some mailing lists:
https://github.com/kubernetes/community/tree/master/sig-node#contact
with potential CC:
https://github.com/kubernetes/community/tree/master/sig-architecture#contact
https://github.com/kubernetes/community/tree/master/sig-cluster-lifecycle#contact

[2021-01-21 17:50] robscott commented on #98066
@aojea you're completely right. The EndpointSlice controller does have a mechanism built in to detect external changes to EndpointSlices that are managed by the controller. If that happens, the controller will overwrite them. With EndpointSlices there's a very strong concept of which component an EndpointSlice should be managed by. This is accomplished with the `endpointslice.kubernetes.io/managed

[2021-01-21 17:57] #94715 closed

[2021-01-21 18:16] Huang-Wei commented on #94009
Will do that.

Yes, they will be kept.

[2021-01-21 18:33] spiffxp commented on #97026
/sig node
I think node may be a more appropriate test owner for this functionality if we decide we want the test to stick around

[2021-01-21 18:58] spiffxp commented on #96432
Part of https://github.com/kubernetes/k8s.io/issues/1522, https://github.com/kubernetes/kubernetes/issues/96770

[2021-01-21 19:02] spiffxp commented on #97921
/triage accepted
/assign @BenTheElder

[2021-01-21 19:11] #91672 closed

[2021-01-21 19:11] #94186 closed

[2021-01-21 19:21] liggitt commented on #98267
retractions are only read from the go.mod file of latest semver release

I *think* we would create a v1.5.2 release identical to v1.5.1 with one additional commit of a go.mod file containing retractions of all legacy versions (including v1.5.2):
[code]

We'll validate that this works as expected on a test repo prior to doing it on client-go

[2021-01-21 19:22] liggitt commented on #98267
This should not be done prior to release of go1.16

[2021-01-21 19:50] liggitt commented on #98267
/triage accepted

[2021-01-21 19:52] vincepri commented on #82532
@fabriziopandini ptal at this issue

[2021-01-21 20:00] Huang-Wei commented on #87850
I mean some hostPorts may be occupied by system software that is not managed by k8s. If we don't do regular flushing at all, the unschedulable Pod won't get a chance to be re-schedule even if the system resource gets released.

But this may not be a good example as the Pod would have been evicted by kubelet upon hostPort conflicts instead of being held in scheduler queue. A more practical example

[2021-01-21 20:01] #97133 closed

[2021-01-21 20:34] dcbw commented on #96868
@couloum great; please test as soon as you can and let us know if the situation improves. Thanks!

[2021-01-21 20:36] dcbw commented on #96018
@mskrocki if you're using RHEL 8.3 (or CentOS equivalent) then you'll want at least iptables-1.8.4-15.el8_3.2 or later, unfortunately.

Upstream iptables release 1.8.6 (from late October) has all the fixes as well.

[2021-01-21 20:42] dcbw commented on #95860
@ali-raza-tariq with flannel (which you reference above) remember that those "flannel.1" interfaces are VXLAN tunnels to other nodes, which requires encapsulation on the sender, and decapsulation on the receiver. That's why the MTU is lower, because the extra 50 bytes is required for the VXLAN header.

VXLAN requires some amount of processing for the encap/decap, that is one reason you get lower b

[2021-01-21 20:43] dcbw commented on #95860
In any case, this is not a Kubernetes issue, it's specific to the network plugin in-use. If you'd like to follow up, please do so with the flannel project (or other network plugin). Thanks!

[2021-01-21 20:49] dcbw commented on #95860
/close

[2021-01-21 20:49] #95860 closed

[2021-01-21 20:55] alculquicondor commented on #87850
Sounds good. Maybe we can remove the flush once we provide the proper extension points for plugins to trigger re-queuing.

[2021-01-21 21:03] thockin commented on #98157
What does cgroups say about memory usage of this container and this pod?  Something is using that memory.  The kernel blames yum, but it looks like you also have sshd running.

Are you sure it's not just a case of using a lot of memory?  Try changing the memory limit to 4Gi and see if the problem goes away, then dial back from there?

Regardless - this doesn't indicate a kubernetes bug to me... do

[2021-01-21 21:14] fedebongio commented on #98256
/assign @yliaog
/triage accepted

[2021-01-21 21:14] fedebongio commented on #98270
/assign @erain
/triage accepted

[2021-01-21 21:15] fedebongio commented on #98202
/triage accepted

[2021-01-21 21:32] thockin commented on #98104
Any updates on this?  Should we triage-accept it?

[2021-01-21 21:34] thockin commented on #98069
/triage accepted

[2021-01-21 21:37] thockin commented on #98066
@ipatrykx - why do you want to manually edit endpoints that are explicitly managed by a controller?  At best it will eventually get reverted.  At worst (what you see with slices) it will immediately be reverted.  @aojea is proposing to make Endpoints more like EndpointSlices in this way.

If you want to manually assign endpoints, you can - just remove the selector from your service.

[2021-01-21 21:37] #98066 closed

[2021-01-21 21:38] ehashman commented on #89788
I think this should have been closed with #90220 merging, this is done.

/close

[2021-01-21 21:38] #89788 closed

[2021-01-21 21:43] thockin commented on #97928
Agree with @uablrek  - the behavior you describe is expected.

We will soon support a way to tell the proxy to not intercept an IP (https://github.com/kubernetes/kubernetes/pull/97681) but the above is a complete solution.  What benefit are you getting from Services here?

[2021-01-21 21:43] #97928 closed

[2021-01-21 21:47] thockin commented on #97226
Hi, is there more we can do here, or shall we close this?

[2021-01-21 21:56] thockin commented on #97149
appProtocol is not approporiate for this (@frasertweedale had good rationale, but also that value can be a 'prefix.com/name' style value).

I do not think we can really make name non-unique, it would potentially break too many clients.  Consider someone who has an older kubectl - it would merge the two port stanzas, silently, and potentially disrupt your service.

IF (and that's a big if) we need

[2021-01-21 21:57] thockin commented on #97149
/triage accepted

I am accepting this as I agree it's a bug, I am not yet sure it is worth fixing.

[2021-01-21 21:59] msau42 commented on #95837
/help
/remove-lifecycle stale

[2021-01-21 21:59] yliaog commented on #98256
what is the use case for this converter?

[2021-01-21 22:04] thockin commented on #98173
/triage accepted

[2021-01-21 22:05] thockin commented on #98099
/triage accepted

[2021-01-21 22:08] thockin commented on #98075
/triage accepted

[2021-01-21 22:09] thockin commented on #97920
/triage accepted

[2021-01-21 22:13] thockin commented on #97396
/triage accepted

Discussion in sig-net seems to point to this being useful for Gateway, too.  We want consistency between Ingress and Gateway, so I'll accept this.

This warrants a short KEP, I think.

[2021-01-21 22:20] thockin commented on #98099
/triage accepted

It's been a very long time since I touched this, and I recall holding my nose on it in the first place.  Splitting TCP from UDP seems reasonable if we can run them in parallel.  we'll want to share the flow, and parameterize some shared funcs.

I don't know that this will prevent test timeouts, though.

[2021-01-21 22:20] thockin commented on #98099
We could use a volunteer to go poke at this, and see how hard it will really be.

[2021-01-21 22:55] robisoh88 opened #98278 "Additional security group rules removed with NLB"
**What happened**:

This happens when a new rule to ALL Traffic is manually added (or existing rule is modified to ALL traffic) with a description set to the k8s.io/rule/nlb/...=<nlb name>. Once a new worker node is added, it will delete the rule, but in addition it will delete other rules that have ALL traffic configured even though the description is not set to the nlb generated string. this wil

[2021-01-21 22:55] Jiawei0227 opened #98279 "CSI Migration Metrics"
**What would you like to be added**:

Currently for CSI migration feature, there is no metric for both in-tree/CSI that can indicate the call is a migration enabled feature or not.

**Why is this needed**:
This can be hard for the support of this feature. From both usage and stability perspective. It would be good if we can add something in the current metrics.

/sig storage
/cc @msau42 @xing-yang

[2021-01-21 22:59] Jiawei0227 commented on #98279
I am wondering if there is any discussion already exist for the metrics for CSI migration?

The only thing I can find in the CSI migration KEP is:

I am wondering if adding a field in the current CSI sidecar operation metric to indicate migration is something worth doing..

[2021-01-21 23:02] Jiawei0227 commented on #98279
/cc @mattcary @TeweiLuo

[2021-01-21 23:21] Jiawei0227 opened #98281 "Update in-tree PV kubernetes topology label to GA"
**What happened**:
The current in-tree PV topology is still using beta version label "failure-domain.beta.kubernetes.io". This was intentionally not upgrade because of CSI migration. https://github.com/kubernetes/kubernetes/pull/81431#discussion_r341216734

However, since the CSI migration timeline is likely to slip, and with the fix of https://github.com/kubernetes/kubernetes/pull/97823 , it shou

[2021-01-21 23:27] Jiawei0227 commented on #98281
/assign @kassarl

[2021-01-21 23:43] jsturtevant commented on #98235
This also occurs with docker.  If you turn up the kubelet logs to -v=5 you will get:

[code]

[2021-01-21 23:57] jsturtevant commented on #98235
fyi - some metrics for Windows can be found at: `/stats/summary` and there are also some at `/metrics/resource`

[2021-01-22 00:21] Antiarchitect opened #98283 "kubectl commands lagging"
**What happened**:
I have a production cluster of K8s 1.9.5 and two developer linux machines with the same Go and kubectl version:
[code]

[code]

On one of the machines (`Linux warmachine 5.10.8-200.fc33.x86_64 #1 SMP Sun Jan 17 19:53:01 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`) `kubectl get pods -v=99` shows that all requests behind the kubectl command are performed with normal time and it actua

[2021-01-22 00:22] Antiarchitect commented on #98283
/sig cli

[2021-01-22 00:25] neolit123 commented on #98278
please report to EKS first.
if they confirm that this is an upstream k8s bug, re-open this ticket.

/sig cloud-provider
/area provider/aws
/close

[2021-01-22 00:29] jsturtevant commented on #96171
I believe this is a essentially a duplicate of #96512 which has an active PR that resolves the issue

/close

[2021-01-22 00:29] #96171 closed

[2021-01-22 00:30] jsturtevant commented on #96512
/triage accepted

[2021-01-22 00:39] SergeyKanzhelev commented on #96565
/close

the test is not failing after the reverted PR. Underlying issue is tracked here: #96759

[2021-01-22 00:39] #96565 closed

[2021-01-22 00:49] mattcary commented on #98279
I put this on the agenda for the migration meeting tomorrow. If there's no objections or interesting discussion we should go ahead and start adding things to the sidecars, IMHO.

[2021-01-22 00:53] adammw commented on #76928
I'm not sure `x-forward-for` is a solid alternative considering anything that does L7 proxying breaks mTLS, which can be used for client authentication. Having a L4 solution means that the TLS traffic is not tampered with and can continue to function correctly while still maintaining source IP information in audit logs.

[2021-01-22 01:10] jsturtevant commented on #95226
I am seeing downward api flakes in the Windows tests as well.  If I broaden the search a bit it seems to happen for more than just memory limit but also:

 Test
--
[sig-storage] Downward API volume should provide container's cpu request [NodeConformance] [Conformance]
 [sig-storage] Downward API volume should provide container's memory request [NodeConformance] [Conformance]
 [sig-storage] Downwar

[2021-01-22 01:12] jayunit100 commented on #98102
this might be better off as a containerd issue, not sure yet.

[2021-01-22 01:22] jeremyje opened #98285 "Add Support for Windows Server 2004 and 20H2 for GCE Windows"
**What would you like to be added**:
Add Support for Windows Server version 2004 and 20H2.

**Why is this needed**:
Windows Server version 1909 is going end of life.

[2021-01-22 02:11] wzshiming commented on #98260
Yes, can reproduce the problem stably, but the steps are a little complicated.

[2021-01-22 03:01] ggaaooppeenngg commented on #98256
A string like `k1=v1,k2=v2` or `k1 in (v1,v2)` can be parsed as a labels selector, but there is no way to parse this string as a node selector. In some cases like command line and web ui, it can be nice to have a helper function to utilize the abbreviation instead of giving a full JSON format selector.

[2021-01-22 03:06] jsturtevant commented on #98285
/sig windows
/triage accepted

[2021-01-22 03:26] lala123912 opened #98289 "ExportOptions was planed to removal in 1.18 while still used now"
https://github.com/kubernetes/kubernetes/blob/88c652c154c1e3e68699a3e6d57a752a35e156ea/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L438
[code]

ExportOptions  seems to be still useful in the project. If that is true, the notes here will bring side effects when developers deal with the code.

[2021-01-22 03:30] lala123912 commented on #98289
/sig api-machinery

[2021-01-22 03:34] lala123912 commented on #98289
@deads2k Could you double check whether the comments here can be deleted or not? If the comments is deprecated， I would like to update it. Thank you.

[2021-01-22 03:44] liubog2008 commented on #52032
@Random-Liu any updates ?

[2021-01-22 04:00] yliaog commented on #98256
which repo do you plan to add this helper function?  or it's even better if you could open a pull request

[2021-01-22 04:05] BenTheElder commented on #75114
Is there a reason we build this for one platform at a time and then create a manifest instead of letting buildx handle the manifest?

https://github.com/kubernetes/release/blob/master/images/Makefile.common-image

[2021-01-22 04:29] ggaaooppeenngg commented on #98256
I am not sure where to add this helper function, maybe add it in apis/core/helper/helpers.go, if it's ok I can send a pr.

[2021-01-22 05:27] yangjunmyfm192085 opened #98292 "In the kubelet flags validity check, is it reasonable to use klog.Fatal？"
**What would you like to be added**:
In the flag verification of the kubelet component, if the verification fails, call klog.fatal directly to print the log and exit. At this time, all trace information will be printed out,  I think it  is no need.
For example，Kubelet execution with an unknown flag --hh， then print
...........
F0122 13:11:28.521365   30211 server.go:156] unknown flag: --hh
gorouti

[2021-01-22 05:29] tabbysable commented on #64801
@jsturtevant It sounds like y'all in SIG Windows know what the hardening guidelines you have in mind are (at least somewhat, with the mappings you've done already), but would like some additional eyes on it and assistance with writing a PR to the Pod Security Standards doc? I'd recommend asking about that in the sig-security-docs channel on kubernetes slack to see if anybody has bandwidth to help.

[2021-01-22 05:32] MushuEE opened #98293 "Kube Cover excludes packages in Staging"
**What would you like to be added**:
Currently (below) are the packages that are covered in `make test KUBE_COVER=y KUBE_COVER_REPORT_DIR=tmp/ KUBE_TIMEOUT="--timeout=300s"`

They exclude packages under `k8s.io/kubernetes/staging/` It would be nice to also have coverage metrics for these packages.

[code]
/assign

[2021-01-22 05:32] MushuEE commented on #98293
/sig testing

[2021-01-22 05:38] yangjunmyfm192085 commented on #98292
/sig Usability
/sig CLI

[2021-01-22 05:50] JoshuaAndrew opened #98294 "build kubernetes binaries failed"
**What happened**:
[code]
**What you expected to happen**:

build kubernetes binaries successfully

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):  k8s v1.18.15+ , k8s v1.19.7 , k8s v1.20.2+
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):   m

[2021-01-22 05:51] JoshuaAndrew commented on #98294
/sig release

[2021-01-22 05:52] JoshuaAndrew commented on #98294
@dims

[2021-01-22 05:56] JoshuaAndrew commented on #98294
@dims
this issue caused by [97699](https://github.com/kubernetes/kubernetes/pull/97699)
or my usage is incorrect ？

[code]

[2021-01-22 06:27] BenTheElder commented on #98294
I think -v is a relatively new flag (bash 4.2?), but `build/run.sh` should run this in a container with recent bash ...

`build/run.sh --version` shows `5.0.3(1)-release (x86_64-pc-linux-gnu)` @ 44f8fcfe948 and `v1.20.2`.

On my own machine:
[code]

Works fine 🤔

There's a different way to implement this test for earlier versions, but we shouldn't need to.

On the off chance something is funny wit

[2021-01-22 07:11] JoshuaAndrew commented on #98294
@BenTheElder

[code]

[2021-01-22 07:42] Huang-Wei commented on #98215
@roizentner This case may possibly happen and is actually a general scale-down / rolling update problem - choosing which replicas to delete is controlled by controller-manager instead of scheduler, so controller manager may not have the context to choose the most optimal replicas to remove.

Back to this issue, in particular 5-replicas on 3 nodes, the chances to result in a violated distribution s

[2021-01-22 07:48] Huang-Wei commented on #95709
@alculquicondor I can touch base with them again, but I think their requirement is clear here. Do you plan to get it implemented along with v1beta2?

[2021-01-22 08:14] tonymeng commented on #94912
I'm also hitting this, @yuga711 did you find any work arounds?

[2021-01-22 08:20] JoshuaAndrew commented on #98294
@BenTheElder  you are right, the root cause of the problem has been found.

my macOS High Sierra 10.13.2 (17c88)  bash version is 3.2 , after ```brew install  --build-from-source  bash```,  my bash version is bash version 5.1.4

everything works fine ^_^

We should record it in the development documentation

[2021-01-22 08:22] LuckySB commented on #97100
Simple restart API Server help me with this bug. Taint with NoExecute started adding

[2021-01-22 08:23] JoshuaAndrew commented on #98294
@BenTheElder

[2021-01-22 08:24] JoshuaAndrew commented on #98294
@BenTheElder Thank you very much for your timely advice.

[2021-01-22 08:25] LuckySB commented on #97100
1.18.12 has this issue too, can you cherry-pick to 1.18 ?

[2021-01-22 08:33] JoshuaAndrew commented on #98293
@MushuEE  do you have a plan to do this?

[2021-01-22 08:37] pacoxu commented on #98071
After some investigation,  HNC's webhook will block when HNC controller has some problems.
My namespace cannot be created or deleted after the webhook was created.

The cluster resumed after I delete the HNC controller webhook.

[2021-01-22 08:37] #98087 closed

[2021-01-22 08:44] krmayankk commented on #92223
@kow3ns seems like a reasonable fix to me in the attached PR, can you advice ?

[2021-01-22 09:03] JoshuaAndrew commented on #98294
As @BenTheElder suggested:  ```we should have a method to check and require a minimum bash version, probably that needs to be called somewhere here```

[2021-01-22 09:04] tosi3k commented on #91236
Another flake in the 5k job: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1351862443671818240.

[2021-01-22 09:38] BenTheElder commented on #98294
I just realized that might be a bit ambiguous: we *do* have a method that checks this, we're either not calling it early enough here or we're not setting the right value. we should fix that.

[2021-01-22 09:47] borgerli opened #98302 "kube-proxy flags are not respected when using config file together"
1. With following config file and start kube-proxy with flags `--config=/tmp/kube-proxy.yaml --master=https://localhost:6443 --profiling=true`.
[code]

2. Try to access the debug endpoint, you'll get 404
[code]

Actually, not only the `profiling` flag does not take effect, all other flags which are not set in config file, are all changed to default value and then do not take effect.

[2021-01-22 09:48] dhodyrahmad commented on #55894
Hi, Im work with minikube version: v1.16.0 and I had the same problem but in my case all api-versions i used are listed on kubectl api-versions but still not works. did I missed something?

this is  my kubectl api-versions
[code]

this is the error:
```Error from server (BadRequest): error when creating "test.yaml": deployment in version "v1" cannot be handled as a Deployment: no kind "deployment"

[2021-01-22 09:49] wojtek-t commented on #98099
You mean "forcing them to run in parallel"? Or "allowing them to run in parallel"?

The later doesn't require any additiona work. The former I think mean that it will still have to be a single test (just the code will be organized better) and that won't really help with debugging (nor preventing timeouts).

[2021-01-22 10:01] aojea commented on #98099
this was discussed yesterday in sig-net meeting and my understanding was to split current test in 2 different so the test can run in parallel, if you want to do so and one protocol doesn´t have to wait for the other.
I think that is what you meant here

[2021-01-22 10:01] pacoxu commented on #98289
Option `--export ` for `kubectl get` is removed in 1.19 after #88649 . It is deprecated in #73787.

[2021-01-22 10:04] aojea commented on #98302
/sig network

[2021-01-22 10:07] rubenstolk commented on #89898
Wow. Can't believe this. We've been facing an issue with sudden pod restarts because of the liveness probes failing when we were sure the servers were behaving properly.

We now implemented the `exec` instead of `httpGet` and so far everything looks good.

[2021-01-22 10:11] aojea commented on #98302
This kube-proxy flags is always recurrent :smile: , there is a Warning to deprecate the flags
https://github.com/kubernetes/kubernetes/blob/82ebcd171909c4cd6007007fc07b025d0950153d/cmd/kube-proxy/app/server.go#L221

I think that this KEP was addressing the kube-proxy configuration problems but somehow seems stuck https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/784-kube-prox

[2021-01-22 10:30] couloum commented on #96868
Hi,

After more digging, I think I was on a wrong lead.

First, I updated to latest kernel on Ubuntu 20.04 and I observed the exact same issue.
Then, I looked at kernel source in Ubuntu.

The kernel patch was inserted in Ubuntu 20.04 kernel in May 2020 according to their git repository: https://git.launchpad.net/~ubuntu-kernel/ubuntu/+source/linux/+git/focal/commit/net/netfilter/nf_nat_proto.c?id=

[2021-01-22 10:34] pacoxu commented on #98283
Not an expert on this. Just think that you should check
1. Is a small request like https://xxx:6443/api/v1/namespaces/default/pods?limit=1 slow as well?
2. Have you use tcpdump/wireshark to see whether there are warnings like `TCP Retransmission`?
Don't think this issue is related to the kubelet cache. (IMO)

[2021-01-22 10:48] ArtemAlagizov commented on #61170
that should be reopen, i believe.
or anybody has a solution?

[2021-01-22 10:54] lyzs90 commented on #90833
@mm4tt what kind of images were you planning to load? Arbitrary ones just to pad the size?

[2021-01-22 11:23] mm4tt commented on #90833
Yeah, for the node object the only thing that counts is the number of the images. That being said, the images will be actually downloaded on each node, so we need to make sure that:

1. Images are as small as possible
2. They are hosted in gcr.io to makes sure we don't run into docker-hub (or other registry) rate-limiting issues

[2021-01-22 11:34] lyzs90 commented on #90833
Ah. What are the scalability concerns with regards to large number of images?

I take it that size minimization is for practical / cost reasons?

[2021-01-22 13:15] jobin-AT opened #98308 "How to change the service account token mount file permission inside a pode kubernetes"
hi team,

we are trying to change the default permission of service account token that is mounted inside pods, by default the permission is 644  other users also get read access to the token so we need to reduce the risk from our containers

please let me know if we have any  solution for this issue

[2021-01-22 14:12] JoshuaAndrew commented on #98294
@BenTheElder  Agree with you.

[2021-01-22 14:18] robisoh88 commented on #98278
Reported to EKS and they believe this is an upstream bug.

[2021-01-22 14:26] alculquicondor commented on #95709
I was not planing to, as per https://github.com/kubernetes/kubernetes/issues/95709#issuecomment-714515168

[2021-01-22 14:30] robisoh88 commented on #98278
/reopen

[2021-01-22 14:35] mowings opened #98310 "Kubeadm documentation: note in docs that the cert renew command requires some restarts"
**What happened**:
Used `kubeadm alpha certs renew all` command on the masters in my ha cluster. `show-expiration` showed all certs renewed.

Unfortunately, when the expiration date rolled around, the kube-api servers stopped responding with "certificate expired error". This was easily fixed by restarting the kube-api server on all masters. However, the need to do this was not noted n the document

[2021-01-22 14:39] mowings commented on #98310
/sig cluster-lifecycle

[2021-01-22 16:28] irmiller22 commented on #52172
can also confirm that we're running into this issue with `1.18`.

[2021-01-22 16:34] deads2k commented on #98289
Rather than remove the comments, we will complete the removal of the deprecated API entirely.  I have opened https://github.com/kubernetes/kubernetes/pull/98312 to complete the removal of this long deprecated API.

[2021-01-22 16:40] Frankkkkk commented on #96891
My use case if of a program that runs on the nodes themselves (kinda metallb-like). It talks BGP and announces IPs if the node is ready.
It this case, I assume kubelet ok = node ready.
However, if for some reason the node is not able to reach the apiserver, then the IPs should not be announced.

That's why I thought it was ok to ask the status to the kubelet.

Cheers

[2021-01-22 17:07] jsturtevant commented on #92211
@thomacos @aarnaud @kevpar do you know if this will affect Windows implementation at all? I know there is some discussion on the windows api in https://github.com/kubernetes/kubernetes/issues/97739

[2021-01-22 17:14] luigi-riefolo commented on #60295
the PR has never been reviewed, I don't know why.

here's the link:
https://github.com/kubernetes/kubernetes/pull/82986

[2021-01-22 18:11] StevenACoffman commented on #60295
Try rebasing it instead of merging?

[2021-01-22 18:14] perithompson commented on #98235
Thanks @jsturtevant  I didn't know about /stats/summary, that's interesting though! I think the Prometheus operator checks cadvisor so it would be good to get that endpoint fixed? Unless we need to change the prom operator of course!

[2021-01-22 18:15] perithompson commented on #98235
/retitle Kubelet cAdvisor API not working on windows nodes

[2021-01-22 18:17] perithompson commented on #98235
@jsturtevant updated the title to reflect this is a windows node issue not just containerd

[2021-01-22 18:30] abprohorov opened #98319 "Dependent Environment in Configmap"
**What happened**:
Dependent environment loaded from configmap not changed.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

If I move REDIS_ZDSN variable to manifest its work
[code]

What am I doing wrong?

**Environment**:
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.9", GitCommit:"94f372e501c973a7fa9eb40ec9ebd2fe7ca69848", GitTreeState:"clean",

[2021-01-22 18:30] jsturtevant commented on #98235
I don't have enough context to know how/if we should fix this. Would need to dig into it more. I know that cadvisor doesn't run on windows.  There is another project called https://github.com/prometheus-community/windows_exporter that is the windows replacement.

It also looks like the `metrics/resource` endpoint is preferred long term: https://github.com/prometheus-operator/kube-prometheus/issues

[2021-01-22 18:43] yuga711 commented on #80488
I think the CSI plugin (CSI attacher) can handle the FAILED_PRECONDITION similar to some current intree plugins. That is, on this failure, add the volume to ASW as "uncertain" attachment.

[2021-01-22 18:51] manpreetdeol commented on #37471
For GIT bash terminal, this works:

 winpty kubectl exec -it <podname> bash

[2021-01-22 19:31] btlyken commented on #68737
There is an [open Kubernetes Enhancement](https://github.com/kubernetes/enhancements/pull/1848) to support StatefulSet volume resizing. Hopefully this will get finished soon to make this process more seamless.

[2021-01-22 19:42] pjh commented on #92522
/close

We're likely going to skip directly to 20H2 instead.

[2021-01-22 19:42] #92522 closed

[2021-01-22 19:49] MushuEE commented on #98293
Turns out that is does include staging. Because staging is all symlinks to vendors we do this : `find ./staging -name '*_test.go' -not -path '*/test/integration/*' -prune -print0 | xargs -0n1 dirname | sed 's|^\./staging/src/|./vendor/|' | LC_ALL=C sort -u`

[2021-01-22 19:49] #98293 closed

[2021-01-22 19:49] MushuEE commented on #98293
I might make a PR just adding come clarification of path molding.

[2021-01-22 19:54] adtac opened #98322 "APF: shufflesharding unit tests time out (flake)"
**Which test(s) are flaking**: //staging/src/k8s.io/apiserver/pkg/util/shufflesharding

**Testgrid link**: https://testgrid.k8s.io/sig-release-1.20-blocking#bazel-test-1.20&include-filter-by-regex=shufflesharding

While there aren't any visible failures in the above testgrid link, we've observed flaky timeouts downstream.

**Reason for failure**: Test times out

**Anything else we need to know**:

[2021-01-22 20:00] rikatz commented on #98292
/sig node
/remove-sig cli

[2021-01-22 20:05] liggitt commented on #98322
when run with `-race`, the runtime increases significantly:

[code]

that time is dominated by TestUniformDistribution

[2021-01-22 20:17] adtac commented on #98322
The test does a lot of slice appends. Maybe `-race` is constraining the allocator? There isn't much else in the test that might be slowed down by `-race`: no mutexes, no RNGs, no atomic operations, no channels, etc.

[2021-01-22 20:21] #98285 closed

[2021-01-22 20:23] msau42 commented on #80488
The situation where a plugin returns detach was successful when it was not is problematic and may be difficult to solve. I think it's really a bug that needs to be fixed by the csi driver/cloud provider. When Detach returns success, the VolumeAttachment object gets deleted. So we have no object anymore to tell the driver to detach again.

[2021-01-22 20:24] howardjohn commented on #98108
Also the inverse is true. If I go from a concrete tag to latest, I may get my `:latest` tag not pulled with `imagePullPolicy` not set. This led to me using a stale image with `:latest` even though I followed https://kubernetes.io/docs/concepts/containers/images/#updating-images

[2021-01-22 20:29] lavalamp commented on #98322
It looks like the buffer is pre-allocated to be the correct size though, so none of those appends should be resulting in allocations?

[2021-01-22 20:41] yuga711 commented on #80488
When VA is gone leaving the dangling attach, the fix https://github.com/kubernetes/kubernetes/pull/96617 won't recover. But, if the driver implements FAILED_PRECONDITION error, the subsequent attach will add the dangling attach to ASW which will be detached when this attachment is undesired. So, I think the above issue will be solved.

[2021-01-22 20:44] liggitt commented on #97040
/assign @roycaihw

[2021-01-22 20:45] alculquicondor commented on #68026
Do we have an alternative way of enforcing that new exported code (not necessarily API fields) has at least some minimum documentation?

As a reviewer, I ask contributors to add meaningful comments. But reality is that I sometimes stumble into old code that doesn't have documentation because we didn't have golint at some point.

I agree that fix-golint PRs just add burden to reviewers. But, before

[2021-01-22 21:09] msau42 commented on #80488
Adding it to ASW will invoke Detach which will immediately succeed because there's no VolumeAttachment object. Anyway, I think we need to come up with a more detailed design on the flow between components and objects.

[2021-01-22 21:39] spiffxp opened #98326 "Assign and enforce sig ownership of all e2e tests"
Many e2e tests today have a `[sig-foo]` tag in their name, which lets us know which sig is responsible for fixing failing or flaky e2e tests.

However, not all tests have such a tag.  We should:
- assign `[sig-foo]` tags to all e2e tests that don't yet have them
- enforce that no new e2e tests can be added without a `[sig-foo]` tag in their name

EDIT: proposed path forward (pulled out of https://

[2021-01-22 21:42] ialidzhikov commented on #89492
/remove-lifecycle stale

[2021-01-22 21:42] Huang-Wei commented on #94696
Generic comparer(s) looks good, and here are some examples in k8s code case:

[code]

Add a TODO here, refactor `TestFindFitSomeError` and `TestFindFitAllError` (and maybe more) in pkg/scheduler/core/generic_scheduler_test.go using the generic Status comparer.

[2021-01-22 21:44] spiffxp commented on #98326
/assign @spiffxp @dims @wojtek-t @justaugustus
Assigning an arbitrary lead from each SIG/WG mentioned, please assign to someone more appropriate if you don't have the bandwidth

[2021-01-22 21:48] alculquicondor commented on #94696
It looks like we have consensus in adding a comparer function. @gavinfish could you update your PR?

[2021-01-22 22:10] lauchokyip commented on #68026
+1 for adding burden to reviewers.
However, as a new contributor, I think this a very good opportunity for new contributors to study the code base and submit their first PR. This issue would be able to attract more new contributors, get familiar with the code base, and get familiar with the git workflow.

[2021-01-22 23:38] aojea commented on #98247
@BenTheElder something is going on with this test and kind with IPv6
https://testgrid.k8s.io/sig-network-kind#sig-network-kind,%20IPv6,%20master&width=5

I couldn't find anything that explains this, the poll loop should take 30 seconds but it exists in less than 1 second

[code]

[2021-01-22 23:46] jpbetz commented on #86245
The GCP credential provider is multiple places, and I'm not yet convinced that setting a max retry limit in a safe change for all of them. The one case I'm most concerned with is having kubelets start in GCP and run indefinitely with the GCP credential provider disabled because the metadata endpoint was unavailable at the time the kubelet started up. We need to be sure we don't introduce a problem

[2021-01-22 23:49] aarnaud commented on #92211
I don't think so, on windows daemonset is not privileged. but the device plugin for directx need to list GPU available on the host, but it's not required.

[2021-01-23 00:22] thockin commented on #98099
As long as we CAN parallelize.  Creating LBs can be sloooooow.  :P

On Fri, Jan 22, 2021 at 2:01 AM Antonio Ojea <notifications@github.com>
wrote:

[2021-01-23 00:39] #93337 closed

[2021-01-23 00:53] msau42 commented on #98279
/triage accepted

Conclusion was metrics would be good to have. Adding a new field to the the existing storage_operations metric may be sufficient. Ideally we should make changes to existing metrics this release (1.21) as we're making some other breaking changes to the metric. https://github.com/kubernetes/kubernetes/pull/98089

[2021-01-23 01:00] wawa0210 commented on #98292
/assign
I can research it and give feedback

[2021-01-23 01:09] ThePieMonster opened #98327 "New Cluster Crashes After Adding Calico CNI"
**What happened**:

Created a fresh Kubernetes cluster using `kubeadm init --config /home/kube/kubeadmn-config.yaml --upload-certs` and then joining the 2nd control plane node by running the below.

    kubeadm join VIP:6443 --token <token> \
        --discovery-token-ca-cert-hash sha256:<hash> \
        --control-plane --certificate-key <key> \
    	--v=5

After both control plane nodes where add

[2021-01-23 01:10] ThePieMonster commented on #98327
/sig network

[2021-01-23 01:25] neolit123 commented on #98310
note, this version is out of support.

version 1.16 and newer of the renew command prints you a note that you should restart:
https://github.com/kubernetes/kubernetes/blob/release-1.16/cmd/kubeadm/app/cmd/alpha/certs.go#L53-L54

you can log an issue in kubernetes/website for the docs or even better, send a PR to add this note.

thanks
/close

[2021-01-23 01:25] #98310 closed

[2021-01-23 01:37] neolit123 commented on #98327
please talk to the calico maintainers about this first or other users.
this repository is only for core k8s bugs, so please reopen this only if the bug is confirmed in core.

also make sure the calico config is the only one under /etc/cni/net.d.

/close

[2021-01-23 01:37] #98327 closed

[2021-01-23 01:40] #94222 closed

[2021-01-23 02:21] #96508 closed

[2021-01-23 03:16] ThePieMonster commented on #98327
[code]

@neolit123 does this look correct?

[2021-01-23 04:22] neolit123 commented on #98327
yes, if you have multiple residue CNI configs it can be a problem.

[2021-01-23 04:25] ThePieMonster commented on #98327
Ok thanks. Posted the Q to Calico team below. In the meantime, anything else you might suggest I try? I rebuilt the cluster to the point before adding the CNI again so can try anything.
https://github.com/projectcalico/calico/issues/4336

[2021-01-23 06:26] zzguang520 opened #98331 "Does V1.20.2 not support Redhat8.3?"
**What happened**:
kubelet service can't start on redhat8.3

**What you expected to happen**:
worker on redhat8.3

**How to reproduce it (as minimally and precisely as possible)**:
first step:dnf install -y kubeadm kubelet kubelet containerd.io-1.4.3
next step: containerd config default > /etc/containerd/config.toml
3rd step: systemctl start containerd
4th step: systemctl start kubelet

error info

[2021-01-23 07:46] #78949 closed

[2021-01-23 08:34] thomacos commented on #97739
DirectX access in Windows containers is not implemented by passing a real device, see https://github.com/kubernetes/kubernetes/issues/92211#issuecomment-765766855 and https://techcommunity.microsoft.com/t5/containers/bringing-gpu-acceleration-to-windows-containers/ba-p/393939 In other words, DirectX access in Windows containers doesn't really fit into a concept of physical devices.

[2021-01-23 08:47] #91155 closed

[2021-01-23 09:10] pre commented on #7890
Related issue https://github.com/kubernetes/kubernetes/issues/60748

[2021-01-23 09:59] TBBle commented on #97739
In the sense of "sockets on the PCI bus", none of these APIs, Linux or Windows, are dealing with physical devices.

They are all dealing with APIs exposed by device drivers to userspace.

## Model differences

These are the differences in the model as I understand it:

### Naming and remapping

In the Linux model of char or block device inodes with major/minors, each instance of a device API is ex

[2021-01-23 10:10] pacoxu commented on #98331
Could you check this file first?
by default, the config path should be /var/lib/kubelet/config.yaml

[2021-01-23 10:56] pacoxu commented on #98308
/kind support
Refer to https://stackoverflow.com/questions/43544370/kubernetes-how-to-set-volumemount-user-group-and-file-permissions and https://kubernetes.io/docs/concepts/storage/volumes/. Hope it can help

[2021-01-23 11:46] pacoxu commented on #98319
[code]
indeed, REDIS_PASS is loaded from your bash env.

[2021-01-23 12:41] almas33 commented on #94892
@wzshiming @yehiyam are you working on this? I am new here and would like to try this!

[2021-01-23 14:35] pre commented on #7890
I found a way to mount `/dev/fuse` without the privileged mode! 🎉

Here is how:
* Setup a device-manager which allows containers to have direct access to host devices in a secure way. The device manager explicitly given devices to be available via the Kubelet Device API. I used this hidden gem:  https://gitlab.com/arm-research/smarter/smarter-device-manager.

* Define [list of devices provided by

[2021-01-23 14:37] pre commented on #60748
Thank you A LOT @tanskann !! This was the missing clue I was really looking for.

I wrote down how to mount `/dev/fuse` without `privileged: true` here: https://github.com/kubernetes/kubernetes/issues/7890#issuecomment-766088805

[2021-01-23 14:43] pre commented on #5607
Mouting host devices without `privileged: true` is possible via the Kubelet device api using a Device Manager!

See details in https://github.com/kubernetes/kubernetes/issues/7890#issuecomment-766088805

[2021-01-23 15:24] reesericci commented on #66607
I'm using coredns, what's the solution to this?

[2021-01-23 15:24] reesericci commented on #66607
/remove-lifecycle stale

[2021-01-23 15:54] #94234 closed

[2021-01-23 17:13] spiffxp commented on #94900
/remove-lifecycle rotten
/milestone v1.21

[2021-01-23 17:27] Antiarchitect commented on #98283
The main problem in diagnostics is when I do request by hand via curl - it goes with an expected speed - no lag at all.
I will try to use Wireshark in order to diagnose further.

[2021-01-23 17:34] ahg-g commented on #98215
One hack to avoid this race condition between the old and new ReplicaSet is to update the topology-spread selector with each deployment update:

The pod template could look like the following, with each update to the deployment, change the version:

`
metadata:
    labels:
      app: app1
      version: v1
  spec:
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io

[2021-01-23 17:51] crizcroz commented on #89125
/reopen
I just encountered the same problem, I think. The rollout history keeps repeating the same line over and over again instead of showing the actual action.

Here is what I did:
[code]
If I understand the description in the help section of the _record_ flag correctly it should give me a proper update if the corresponding annotation value already exists (true for my example, was created when u

[2021-01-23 17:56] #67126 closed

[2021-01-23 17:57] spiffxp commented on #94791
/milestone v1.21

[2021-01-23 18:31] liggitt commented on #97763
this sounds like the same root issue as https://github.com/kubernetes/kubernetes/issues/71808#issuecomment-445001720

[2021-01-23 18:56] neolit123 commented on #98331
once you install the kubelet on a node it will crashloop until something (e.g. kubeadm) writes the config file.
this is already explained in kubeadm documentation.
so if you run `kubeadm init/join` it should stop failing.

closing as i don't see a bug here.
/close
/remove-kind bug
/kind support

[2021-01-23 18:56] #98331 closed

[2021-01-23 18:57] spiffxp commented on #94791
/reopen
@pacoxu This needs to stay open until the new image has been verified to work and has been promoted (ref: https://github.com/kubernetes/kubernetes/pull/97789#issuecomment-763977809)

[2021-01-23 18:57] #90885 closed

[2021-01-23 19:12] reesericci commented on #66607
and metallb + traefik

[2021-01-23 19:36] spiffxp commented on #94791
/triage accepted
/assign @pacoxu

[2021-01-23 20:05] SaranBalaji90 commented on #84165
@micahhausler instead of single `profiling` flag to control both `/debug/pprof/*` and `/debug/flags/v` should we have separate flags for eg `enableProfiling` and `enableDebuggingFlags`

[2021-01-23 20:25] unixfox commented on #73269
/remove-lifecycle stale

[2021-01-23 21:16] SaranBalaji90 commented on #84165
/reopen

[2021-01-23 23:08] kppullin commented on #52345
@petrknap another idea, while also a hack, is to use one of the various k8s client API libraries to watch for this condition and delete the pod upon detection.

A few downsides to this, amongst I'm sure many others, is that if the new pod is scheduled on another node the image has to be re-pulled, you lose the 'backoff' logic and associated pausing, and any metrics & alerts related to crash loopin

[2021-01-24 03:47] wawa0210 commented on #98253
This is my test feedback

[code]

@ymmt2005 This scenario cannot be reproduced in version 1.20. Can you describe your test steps in detail?

[2021-01-24 04:01] ymmt2005 commented on #98253
@wawa0210
Our nodes have `NoExecute` taint like this:

[code]

I updated the description.  Sorry for the lack of clarity.

[2021-01-24 04:10] wawa0210 commented on #98253
[code]

It seems that it still cannot be reproduced. Is our testing process consistent?

@ymmt2005

[2021-01-24 04:30] ymmt2005 commented on #98253
@wawa0210 Could you please change `NoSchedule` to `NoExecute`?

I'm considering this might be the right behavior for Nodes with `NoExecute` taint, though...

[2021-01-24 06:02] wawa0210 commented on #98253
I reproduced it, if the node has `NoExecute`, this problem does occur~~ This should be the expected behavior once the node is marked as `NoExecute`. Maybe we need to give clear tips, the current error message is not clear

/assign

[2021-01-24 06:02] #98294 closed

[2021-01-24 06:20] jdwx opened #98335 ""kubeadm init" does not auto-detect CRI-O as documentation states"
**What happened**:

"kubeadm init" fails looking for docker when CRI-O is installed:

[code]

**What you expected to happen**:

kubeadm init completes successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Use CRI-O as the container runtime, and follow the directions on this page: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

Use

[2021-01-24 06:47] pacoxu commented on #98335
I fixed a similar issue in #97847 and kubernetes/kubeadm#2364.
A work-around there is to `remove /var/run/docker-shim.sock and /var/run/docker.sock`.
Would you try?

[2021-01-24 07:09] #93524 closed

[2021-01-24 09:08] warmchang commented on #73269
@kabakaev @unixfox The "Real Load Aware Scheduling" plugin may help you:

- KEP: https://github.com/kubernetes-sigs/scheduler-plugins/tree/6b7e77af527d8db82afb5060e5474ed524bdc0d6/kep/61-Trimaran-real-load-aware-scheduling

- PR: https://github.com/kubernetes-sigs/scheduler-plugins/pull/115

[2021-01-24 09:38] almas33 commented on #91628
Hi @xiaopeng-han ,Are you still working on this or maybe I can try this as my first issue

[2021-01-24 09:49] pacoxu commented on #90119
Since docker-shim is deprecated, should we close this?

[2021-01-24 10:23] chrischdi commented on #87603
/remove-lifecycle stale

[2021-01-24 11:03] roizentner commented on #98215
@Huang-Wei, thank you for the reply.

This time it took quite a few attempts to reproduce. I have noticed that this is more easily reproduced when the cluster nodes are almost out of available resources (e.g. other pods requesting almost all the cpu the nodes have). Attached is the output you asked for (I removed the RESTARTS, IP, NOMINATED NODE and READINESS GATES columns for better readability).

[2021-01-24 11:09] roizentner commented on #98215
@ahg-g I love your idea!
Is there a way to dynamically set a label's value?
I mean, if I run `kubectl scale` or `kubectl set image` for example, that would trigger a rolling update so I would need to set the selector's new value simultaneously somehow. Is there a way to do that?

[2021-01-24 11:34] xiaopeng-han commented on #91628
yes, I think i can review it.

________________________________
发件人: Almas Ahmad <notifications@github.com>
发送时间: 2021年1月24日 17:39
收件人: kubernetes/kubernetes <kubernetes@noreply.github.com>
抄送: xiaopeng.han <xiaopeng.han@daocloud.io>; Mention <mention@noreply.github.com>
主题: Re: [kubernetes/kubernetes] Missing defaults and clarifying info for kube-controller-manager (#91628)

Hi @xiaopeng-han<http

[2021-01-24 12:31] almas33 commented on #91628
/assign

[2021-01-24 13:15] #94276 closed

[2021-01-24 13:19] umialpha commented on #94615
/remove-lifecycle stale

[2021-01-24 13:20] umialpha commented on #94615
/remove-lifecycle rotten

[2021-01-24 13:35] jdwx commented on #98335
Neither socket file exists.  Docker is not installed on this system.

[2021-01-24 13:38] wzshiming commented on #98319
https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap

The values of environment variables defined in ConfigMap can be replaced by environment variables. there is no description of this behavior.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L681-L701

Look at the comment description in the code. It's not supported.

I think we can add

[2021-01-24 13:46] xiaopeng-han commented on #91628
thanks.

________________________________
发件人: Almas Ahmad <notifications@github.com>
发送时间: 2021年1月24日 20:31
收件人: kubernetes/kubernetes <kubernetes@noreply.github.com>
抄送: xiaopeng.han <xiaopeng.han@daocloud.io>; Mention <mention@noreply.github.com>
主题: Re: [kubernetes/kubernetes] Missing defaults and clarifying info for kube-controller-manager (#91628)

/assign

―
You are receiving this because y

[2021-01-24 14:33] gavinfish commented on #94696
@alculquicondor sure, let us wait the pre-PR #98266 to get merged first.

[2021-01-24 14:47] neolit123 commented on #98335
can you help us debug this?

[code]

/area kubeadm
/sig cluster-lifecycle
/priority awaiting-more-evidence

we don't have e2e tests for CRI-O, but we know for sure that containerd detection works.

[2021-01-24 14:51] neolit123 commented on #98319
/sig cli
is this a --from-env-file bug / feature request?

[2021-01-24 14:51] neolit123 commented on #98319
/sig node

[2021-01-24 14:51] wzshiming commented on #98319
It should be a feature request @neolit123

[2021-01-24 14:53] neolit123 commented on #98308
the stackoverflow answer seems valid.

/close

[2021-01-24 14:53] #98308 closed

[2021-01-24 14:53] neolit123 commented on #98308
for more questions please use: https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-01-24 15:28] wzshiming commented on #94892
@almas33 I found that there were a lot of points involved, I don't think I can hold them. you're welcome to try!

[2021-01-24 15:45] ahg-g commented on #98215
You can pause the deployment using `kubectl rollout pause deployment.v1.apps/<deployment-name>`, then
make the changes you want, like setting a new scale, image or updating pod labels and pod-topology selectors, then resume: `kubectl rollout resume deployment.v1.apps/<deployment-name>`

See [pausing and resuming a deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#pa

[2021-01-24 16:10] cynepco3hahue commented on #95041
Under the latest run, I saw that the kubelet failed to restart because of
[code]
The problem that one of the topology manager tests failed in the middle and did not remove the state file, I can not guarantee that it a single problem, but let's start from it.

[2021-01-24 16:18] #93934 closed

[2021-01-24 16:42] snowsky commented on #95854
/remove-lifecycle stale

[2021-01-24 17:19] #93736 closed

[2021-01-24 19:21] #93112 closed

[2021-01-24 19:56] jdwx commented on #98335
OK, that tracked down the issue.

I did as you requested, with these changes and quickly learned that that function was never being called.

Then I figured out what was supposed to call it (SetNodeRegistrationDynamicDefaults in util/config/initconfiguration.go) and determined that it was skipped if cfg.CRISocket is set.  So I tracked that back to this in the kubeadm.yaml file:

[code]

Which was g

[2021-01-24 20:13] jdwx commented on #98335
For this case, the relevant line appears to be:

https://github.com/kubernetes/kubernetes/blob/release-1.20/cmd/kubeadm/app/cmd/config.go#L214

[2021-01-24 20:45] neolit123 commented on #98335
thanks for testing.

there is no discrepancy, there is the concept of dynamic and static defaulting.
`config print` gives you the static defaulting just to showcase what fields there are in the kubeadm config.

on init/join runtime, if the socket field is empty kubeadm will run the dynamic defaulting.

note, nowhere in the docs does it say that you should pass the output of this command directly t

[2021-01-24 20:45] #98335 closed

[2021-01-24 20:57] apoland commented on #94831
I'm willing to fix documentation and audit the use of this function.

[2021-01-24 20:58] apoland commented on #94831
/assign

[2021-01-24 20:59] jdwx commented on #98335
If the values printed by "config print init-defaults" are not the defaults used by init -- which these are not -- then that command is extremely misleading to new users such as myself.  Those sound more like examples than defaults.

But I can see that it is unlikely that I will change your mind about that.

Entirely separate from that, if Docker is deprecated, then using it as a default value (as

[2021-01-24 21:31] neolit123 commented on #98335
i don't disagree - these are the static defaults and should be used as examples that should not be passed directly to kubeadm without user editing them out.

in fact the bootstrap token static defaults make your cluster insecure until that token expires.

clarification PRs for this page are welcome:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-config/#cmd-config-print-init-defa

[2021-01-24 22:05] echenim commented on #48798
I had same problem of node status NotReady with my kubernetes node,  below is what worked for me

OS Version: Ubuntu Server 20.10
I commented out  #KUBELET_KUBEADM_ARGS="--network-plugin=cni --pod-infra-container-image=k8s.gcr.io/pause:3.2"
Removing from /var/lib/kubelet/kubeadm-flags.env works fine

[2021-01-25 01:28] #95537 closed

[2021-01-25 02:01] xiaopeng-han commented on #91628
/assign

[2021-01-25 02:33] tculp commented on #91509
/remove-lifecycle stale

[2021-01-25 03:11] answer1991 commented on #92406
/remove-lifecycle rotten

[2021-01-25 03:30] pacoxu commented on #81412
#85983 is merged on 31 Jul 2020.

Can we close this?

[2021-01-25 03:34] pacoxu commented on #81412
/remove-lifecycle rotten

[2021-01-25 03:34] pacoxu commented on #81412
/close

[2021-01-25 03:34] #81412 closed

[2021-01-25 03:46] pacoxu commented on #98222
/assign

[2021-01-25 03:52] yuga711 commented on #94912
On which volume plugin you are hitting this? For CSI, we have a fix https://github.com/kubernetes/kubernetes/pull/96617.

[2021-01-25 04:30] #87744 closed

[2021-01-25 05:13] eclipseo opened #98354 "Go 1.16: TestHandlePackage fails due to a change in error message"
**Which test(s) are failing**:
[code]

**Since when has it been failing**:
Since Go 1.16 beta 1 has been introduced

**Reason for failure**:
This commit https://github.com/golang/go/commit/05568315f2ae8fb86112e63966b46c2dcc8ab6e2 changes the error message:
[code]

[2021-01-25 05:15] eclipseo commented on #98354
/sig testing

[2021-01-25 06:26] pacoxu commented on #98044
https://github.com/kubernetes/kubernetes/blob/v1.18.10/pkg/kubelet/pleg/generic.go#L281-L292

https://github.com/kubernetes/kubernetes/blob/v1.18.10/pkg/kubelet/remote/remote_runtime.go#L153-L159

Default 2 minutes timeout here.  It can be configured in kubelet.

It is similar with #94829 which is working in process #97362 (PR to fix it).

[2021-01-25 06:48] MikeSpreitzer commented on #98322
/triage accepted

[2021-01-25 06:54] chendave commented on #97303
@yuanchen8911 are you going to work on this?

/cc @Jerry-Ge

[2021-01-25 07:00] MikeSpreitzer commented on #98322
BTW, in another branch I tried taking the `append`s out of the test, instead calling `Deal` with a lambda that writes into `aHand` (very much like the implementation of `DealIntoHand`).  The `test -race` got a little slower!

[2021-01-25 07:41] sxllwx commented on #97367
Perhaps I can answer this question. In fact, after the 25th event is sent to `kube-apiserver`, subsequent events are never sent to `kube-apiserver`, and events cannot be obtained from `kubectl` or `other types of clients`. The reason for this phenomenon is the use of [EventCorrelator](https://github.com/kubernetes/kubernetes/blob/3433f099fb0b5c51d3b549372364f818242f7312/staging/src/k8s.io/client-g

[2021-01-25 07:43] chymy opened #98356 "Provide an API interface for dynamically setting the klog log level."
**What would you like to be added**:
Provide an API interface for dynamically setting the klog log level.
**Why is this needed**:
You can call the interface directly to set the log level without restarting the component.
eg:
[code]

[2021-01-25 07:43] xiaopeng-han commented on #91628
/assign

[2021-01-25 07:44] mm4tt commented on #90833
The more images you have on the node, the bigger the node object is in etcd. As in a large cluster there is thousand of node objects and they are updated pretty frequently, it directly translates to performance of etcd / kube-apiserver.

Yeah, size minimization is for cost reasons.

[2021-01-25 07:57] yuga711 commented on #92145
The issue here seems same as https://github.com/kubernetes/kubernetes/issues/94912
The dangling attachment could occur when KCM crashes while the attach/detach in progress (irrespective of leader election or not). The dangling attach is possible, if the KCM crashes in this window:
- During attach, after the volume is attached but before the node->status is updated (but the pod is also deleted in t

[2021-01-25 08:18] RamLavi commented on #97367
Hey @sxllwx thanks for the insight! That indeed seems to explain my situation.
but I don't get why 1 event per second is considered a burst. sounds pretty slow to me.
I will try to check if this is configurable

[2021-01-25 08:24] almas33 commented on #91628
Hi @xiaopeng-han i looked at code base and this is what i think is supposed to be done
please point me in the right direction if i am wrong

for eg-
this is structure -
`// AttachDetachControllerConfiguration contains elements describing AttachDetachController.
type AttachDetachControllerConfiguration struct {
	// Reconciler runs a periodic loop to reconcile the desired state of the with
	// the a

[2021-01-25 08:36] DanielJonesEB commented on #86245
Is there any precedent for feature flagging in the codebase? Seems like the sort of thing that an env var would be useful for, although I could understand uneasiness about having something deep in the code reach out to the environment rather than being explicit in the API. That said, if the proposed new behaviour was opt-in and controlled via an env var, then no existing users would be impacted an

[2021-01-25 08:37] pacoxu commented on #95214
@ravisantoshgudimetla seems working on this, however the PR #96807 need rebase.

[2021-01-25 09:01] nilo19 opened #98359 "Route controller should update route when node ip changed"
**What happened**:
In some conditions, the node IP would change while pod cird keeps unchanged. In this case the route controller would not reconcile the old route. https://github.com/kubernetes/cloud-provider/blob/master/controllers/route/route_controller.go#L169

**What you expected to happen**:
The route controller deletes the old route and creates a new one.

**How to reproduce it (as minimall

[2021-01-25 09:04] nilo19 commented on #98359
/sig cloud-provider
cc @feiskyer

[2021-01-25 09:05] nilo19 commented on #98359
/triage accepted

[2021-01-25 09:30] breunigs commented on #92145
Indeed, the linked issue describes the same scenario. While #96617 won't work for us right now, since we're not using the vsphere-csi-driver, it seems a given our setup will eventually have a CSI one. Therefore I'm fine closing this ticket, considering a solution is available.

Thanks for letting me know.

[2021-01-25 09:30] #92145 closed

[2021-01-25 09:37] GH-Djeff opened #98360 "Pods and replicat set dispatching"
Hello,
I have 3 nodes and 45 pods and replicaset.
Must of them are on node-2.
I would like to have 15 pods per node.
Can you help me with this please ?

Regards,
Djeff

[2021-01-25 09:58] pacoxu commented on #69461
Valid resource types for `kubectl rollout`:

  *  deployments
  *  daemonsets
  *  statefulsets

--to-revision is restricted to those resources.

However, `kubectl patch` can apply to any resources.

[code]

**For this example, I think `kubectl rollout amend` can solve your problem.**

[code]

[2021-01-25 10:20] mirageglobe commented on #97550
Any updates on this? cheers

[2021-01-25 10:21] BenTheElder commented on #98354
Where are you seeing this? Which file?

 Kubernetes really only supports a specific go version for development, but we should certainly fix this. However from your report I can't tell where this is, and a quick search doesn't turn up this test name in the current sources.

[2021-01-25 10:23] BenTheElder commented on #98354
In fact, I can find this *not* in this repo but only in CSI's outdated vendor of kubernetes https://cs.k8s.io/?q=HandlePackage&i=nope&files=&repos=

I suspect you're referencing that, but this was removed in https://github.com/kubernetes/kubernetes/commit/d187d7effa2794926cc11a5d5dffc9a4d9db5cda#diff-be8a5acec326aa61910578e0afdab2e2412d6a74888cd047d0e72c1d76688fa2

which merged back in 1.19 (1.21

[2021-01-25 10:30] andreas-eberle commented on #67014
@pedrohdz: You are right. They introduced the `fsGroupChangePolicy` in [Kubernetes 1.18 as an alpha feature](https://v1-18.docs.kubernetes.io/docs/tasks/configure-pod-container/security-context/#configure-volume-permission-and-ownership-change-policy-for-pods) and with 1.20. it became beta.

[2021-01-25 10:36] eclipseo commented on #98354
Sorry I am still on 1.18.x, I will try to backport this commit.

[2021-01-25 10:44] pierluigilenoci commented on #69461
/remove-lifecycle stale

[2021-01-25 10:45] ysksuzuki opened #98362 "Cannot enter the process namespace using kubectl alpha debug with target parameter"
**What happened**:

Cannot enter the process namespace using `kubectl alpha debug` with target parameter.  The nginx process does not appear, but a pause process instead.

[code]

**What you expected to happen**:

Enter the process namespace of a target container and see processes running inside it.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a Pod.
[code]
2. Run

[2021-01-25 11:02] BenTheElder commented on #98354
1.18 is built with go 1.13.15 currently.
I don't think SIG release has any intent to support go 1.16 in release Kubernetes 1.18.

[2021-01-25 11:24] PSanetra commented on #75288
Is there way to see why the `FileSystemResizePending` condition is not resolved? We have stopped the pod and started it again after a while, but the condition is not getting resolved. We are still using Kubernetes 1.17.11.

[2021-01-25 11:29] fasaxc commented on #39113
/reopen

this is still an issue

[2021-01-25 11:40] invidian commented on #49387
/remove-lifecycle stale

[2021-01-25 11:51] lllamnyp commented on #74986
@thst71 I think it would be too much to require a general-purpose library that is designed to represent integer and non-integer quantities alike to have context-awareness of the nature of the quantity it is trying to represent. I mean, sure, the developers of k8s could create a new struct such as `MemoryQuantity` that implements the `Quantity` interface, and then update the k8s API, but that seems

[2021-01-25 12:12] wojtek-t commented on #98099
Reopening - I don't think just splitting will address the problem. It may help us with debugging though...

[2021-01-25 12:28] stephen-dexda commented on #80435
/remove-lifecycle stale

[2021-01-25 12:28] stephen-dexda commented on #82525
/remove-lifecycle stale

[2021-01-25 12:30] sxllwx commented on #97367
When constructing `Manager`, you can pass in `EventBroadcaster`. You can try the following snippets to create a `Manager`. This `Manager` will not filter out your events. Of course, Burst and QPSSize can be based on your Need to set.

[code]

[2021-01-25 12:33] sxllwx commented on #97367
You can take a look at the [comments here](https://github.com/kubernetes/kubernetes/blob/16ed85a6d55efc7af34f6d32e00066f7d9dc0b63/staging/src/k8s.io/client-go/tools/record/events_cache.go#L44), the author of kubernetes explained why this default setting was chosen.

[2021-01-25 12:51] villesau commented on #95759
Similarly it would make sense to be able to wait for all the resources achieved any of given conditions. This would make it easier to verify wether deployment & jobs have achieved the desired status or not.

[2021-01-25 12:57] RamLavi commented on #97367
I see. thank you!

[2021-01-25 13:18] jsafrane commented on #98234
This particular customers wants to use a dedicated storage account, so `kind: managed` is not an option.

[2021-01-25 13:23] andyzhangx commented on #98234
@jsafrane are those customers using OpenShift? Does OpenShift still support unmanaged agent nodes?

[2021-01-25 13:27] aojea commented on #97472
Just a heads up, I've moved the load balancer tests I've found on services, to their own file and they should have the same tag now

https://github.com/kubernetes/kubernetes/pull/98333

I couldn't verify the new test output in testgrid

[2021-01-25 13:30] djschny commented on #40846
Why was this closed, as `valueFrom` still needs to be addressed, unless I'm missing something.

[2021-01-25 13:40] #93385 closed

[2021-01-25 13:51] pandaamanda commented on #98360
/sig scheduling

[2021-01-25 14:04] pandaamanda commented on #98360
3 nodes have same cpu memory configuration?
you can use `kubectl describe node ` to see the node info to find some different places.

[2021-01-25 14:04] sxllwx commented on #97962
@ialidzhikov After reading through your error stack, I found the reason why the issue was triggered. When I was about to fix the issue, I found that [commit](https://github.com/kubernetes/kubernetes/commit/e6f98311d00f083c1b980ed7434d2e9769fa921f) has fixed the nil here -pointer panic.

[2021-01-25 14:05] pandaamanda commented on #98362
/sig cli

[2021-01-25 14:23] xmudrii commented on #97294
Sorry for such a long delay. I was on vacation and I'm currently having exams, so I'm a bit slow to respond.
I've tested with the latest 1.20 patch release available (1.20.2) and the problem is still present.

To answer @lavalamp's and @jingyih's etcd questions:

No, it doesn't reboot.

No, it doesn't solve the problem, however, rebooting the first API server solves the problem.

So far, I wasn't

[2021-01-25 14:24] pacoxu commented on #25319
#97410 need we cleanup those alpha annotations?

[2021-01-25 14:29] alculquicondor commented on #88093
/remove-lifecycle rotten

[2021-01-25 14:33] ialidzhikov commented on #97962
Hm, I see, thank you for checking. I am not the expert but looks related. If that is the case, does it makes sense to cherry-pick https://github.com/kubernetes/kubernetes/pull/94589 into `release-1.18` and `release-1.19`?

[2021-01-25 14:47] neolit123 commented on #97962
yes, fixes for panics can be backported.

[2021-01-25 14:49] neolit123 commented on #97550
you can watch the PR:
https://github.com/kubernetes/kubernetes/pull/97743

[2021-01-25 14:52] neolit123 commented on #98356
please create this ticket in the kubernetes/klog repository.

/close

[2021-01-25 14:54] neolit123 commented on #98356
actually, sorry i misread this.
you are asking that we should allow users to tell components to dynamically reconfigure log level without a restart.

/reopen
/sig instrumentation
you might get more responses on slack / mailing lists.
https://github.com/kubernetes/community/tree/master/sig-instrumentation#contact

[2021-01-25 15:01] wawa0210 commented on #98362
Add the `--share-processes` parameter to try

https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/#debugging-using-a-copy-of-the-pod

[2021-01-25 15:07] GH-Djeff commented on #98360
Hello,
All nodes have the same configuration
8 vCPU
8 GB (RAM)
256 GB (vdisk)
One master node and two worker nodes, all untainted.
Here joint the result of the command "kubectl describe node kn1"

[node kn1 description.txt](https://github.com/kubernetes/kubernetes/files/5867444/node.kn1.description.txt)

[2021-01-25 15:27] thallesleonel commented on #95039
here with the same problem

[2021-01-25 15:34] howardjohn commented on #93476
/remove-lifecycle stale

[2021-01-25 15:35] howardjohn opened #98368 "Kubectl - Introduce "custom-columns" variant to add additional columns to output"
I have re-opened https://github.com/kubernetes/kubernetes/issues/71612, as the issue had 40 +1s, I think its really useful, and I wasn't able to get it re-opened.

Currently, kubectl get supports --custom-columns as one of its output format flags. The behavior of this flag allows a user to specify a comma-delimited list of COLUMN_NAME mapped to a jsonpath value: COLUMN:.metadata.name.

The problem

[2021-01-25 15:54] thejoycekung commented on #98182
Another failed job run here: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1353577504081711104

[2021-01-25 16:10] Riaankl commented on #95500
/re-open

[2021-01-25 16:15] #98289 closed

[2021-01-25 16:16] djsly commented on #97294
FYI, we might be getting hit by a similar problem where we are seeing "list cache" operation timing out after 3sec for certain clients (watt client from ambassador - https://github.com/datawire/ambassador/blob/master/cmd/watt/main.go)

we are running 1.18.10 with api-server in HA mode. When a single replica restart, this can cause clients to get into this bad state with list cache are out of sync,

[2021-01-25 16:43] #94308 closed

[2021-01-25 17:01] gnufied commented on #95888
/remove-lifecycle stale

[2021-01-25 17:01] eclipseo commented on #98354
I have successfully backported the patch. I know I have to update to 1.20 but no timeto do it yet.

Thanks all for your help.

[2021-01-25 17:01] #98354 closed

[2021-01-25 17:03] caseydavenport commented on #39113
/reopen

[2021-01-25 17:15] jsturtevant commented on #95226
For Windows, I do not believe this is an issue with the test it's self.  I ran this subset of tests continuously over the weekend and got the following results:

[code]

The `errno=1455` is "paging file is too small": https://docs.microsoft.com/en-us/windows/win32/debug/system-error-codes--1300-1699-

I was able to force similar (but not exactly the same) errors by over consuming memory via a test

[2021-01-25 17:26] metasim commented on #64315
I'm still seeing this in EKS 1.18

[2021-01-25 17:37] jsturtevant commented on #95226
Two tests failed similar to this over the weekend:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-1-18-windows/1353402103036383232
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-1-17-windows/1353255640755081216

[2021-01-25 17:46] verb commented on #98253
This is great, thanks for bringing this to our attention, @ymmt2005.

@wawa0210 I think we should always just generate the node debugging pod with the appropriate `NoExecute` tolerations to execute on the node. The user has asserted to us that they want to execute something on this node, and taints aren't access control. We've already got the `Node` when we're generating the pod, so it should be s

[2021-01-25 17:59] vincepri commented on #94906
/reopen

[2021-01-25 18:20] srm09 opened #98380 "conversion-gen producing incorrect conversion functions"
**What happened**:
`conversion-gen` under `k8s.io/code-generator` has been generating incorrect conversion functions for types containing an array of pointers to custom objects.

[code]

After importing the k8s `1.20` dependencies, the conversion functions between 2 versions generates an error particularly around the `Instances` field.

Here is a snippet from the generated conversion function:
[co

[2021-01-25 18:33] srm09 commented on #98380
/sig api-machinery

[2021-01-25 18:38] wojtek-t commented on #98182
Which shows it's clearly not-scalability related.

[2021-01-25 18:40] apelisse commented on #98079
This is also sig-cli since the validation is performed by kubectl.

/sig cli

[2021-01-25 18:57] ialidzhikov commented on #97962
@p0lyn0mial , @sxllwx, @roycaihw, wdyt?

[2021-01-25 19:15] jsafrane commented on #98234
Summing up conversation on Slack:
* Yes, it's OpenShift
* Yes, root (OS) disk are Managed there.
* [Microsoft docs](https://docs.microsoft.com/en-us/azure/virtual-machines/faq-for-disks) clearly says:

Therefore using disks with `kind: Dedicated` (=unmanaged) can't ever work on a node with Managed OS disk.

There is still a problem that in-tree volume plugin creates PVs that admission plugin on th

[2021-01-25 19:43] #98322 closed

[2021-01-25 20:06] jsturtevant commented on #64801
Before writing the docs I wanted to ensure we had these working in some form (most likely via Gatekeeper) so if we publish guidance it is something that can be followed and implemented. I had to step away from this shortly after doing the initial analysis for other work. Hoping I can get back to it soon.

[2021-01-25 20:18] jayunit100 commented on #98102
i think i see the issue...

https://github.com/kubernetes/kubernetes/blob/f4250198eac34e1adae7c627b9cb0cb4252bdb1e/pkg/kubelet/kuberuntime/kuberuntime_container.go#L861

Theres a TODO saying

`separate log and conatiner lifecycle management` :)

[2021-01-25 20:26] tabbysable commented on #64801
Awesome! I assume you'll be PRing an example policy into https://github.com/open-policy-agent/gatekeeper-library/. Feel free to drop into #sig-security on k8s slack to ask if anyone wants to review it!

[2021-01-25 20:32] kevindelgado commented on #89264
/assign

[2021-01-25 20:39] #98150 closed

[2021-01-25 20:53] logicalhan opened #98381 "Ability to turn off individual metrics"
**What would you like to be added**:

We need to be able to turn off individual metrics for Metrics Stability GA, which is slated for v1.21. This should be togglable via a CLI flag.

/assign @YoyinZyc
/sig instrumentation
/cc @ehashman

[2021-01-25 21:01] logicalhan commented on #98381
/triage accepted

[2021-01-25 21:12] patrickleet commented on #64315
it's also ubuntu image for eks which is an entirely separate AMI, and plenty of other distributions as well. Change your inotify settings.

[2021-01-25 21:14] rdxmb commented on #49387
/remove-lifecycle stale

[2021-01-25 21:22] damemi commented on #98360
Hi,
Have you considered pod topology spread constraints? https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/

[2021-01-25 21:54] karimhm commented on #30656
4 years have passed and this feature still not implemented. WOW!

[2021-01-25 21:55] roycaihw commented on #97962
@sxllwx Nice catch! Thanks for looking into this :) I agree we should cherrypick the fix. You can create automatic cherrypicks using https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md#initiate-a-cherry-pick

[2021-01-25 22:48] #92803 closed

[2021-01-26 00:26] jsturtevant commented on #98102
We are seeing this error in the e2e tests as well:

`E0125 14:52:20.590073    4520 container_log_manager.go:243] Container "908f039e1dd5fa3246551214bdb2192a04e4631ae5bec53ae0faa1d009d6ff27" log "\\var\\log\\pods\\deployment-6697_test-cleanup-deployment-874dc686f-8jx4g_48c69df9-a146-4b0c-a584-0df7044c775e\\agnhost\\0.log" doesn't exist, reopen container log failed: rpc error: code = Unknown desc =

[2021-01-26 00:32] ysksuzuki commented on #98362
I know I can see all processes including nginx and pause with `kubectl alpha debug nginx -it --image=ubuntu --share-processes --copy-to=myapp-debug`, but why `--target` parameter doesn't work as expected on my environment? I thought it targets the process namespace of another container.

[2021-01-26 00:44] anguslees commented on #88046
I think I'm missing something:  With `--cloud-provider=""` why are we even _trying_ the aws provider?

I think this `for` loop (or something like it) should only be executed when there is no `--cloud-provider` flag provided.  With an explicit --cloud-provider flag, we should _know_ which provider (or none) that we're instantiating.

[2021-01-26 00:56] wawa0210 commented on #98253
Got it, I will try to submit a pr to fix this issue

[2021-01-26 01:34] jayunit100 commented on #98102
ahhhhhhh ! thank you for confirming this :)

[2021-01-26 01:59] #96779 closed

[2021-01-26 02:03] sxllwx commented on #97962
Okay, I am very happy to do this~ 😄

[2021-01-26 02:16] katiewasnothere commented on #97739
@TBBle I want to clarify a few things from your comment

I want to add here that HCS has support Device Interface Class and Device Location Path as identifiers for what devices to assign to a container. See in [hcsshim](https://github.com/microsoft/hcsshim/blob/c19ef4bd03a74f4ab40484963ad1d271a1820a0f/internal/schema2/device.go#L20). Notably, Device Location Path is the location path of a single i

[2021-01-26 02:43] sxllwx commented on #97367
If your problem has been fixed, please close the issue. thx

[2021-01-26 02:45] njuptlzf commented on #97889
There are many alternative ways, such as combining `create `audit policies with controller and scheduler component logs, which can also achieve good results.
One thing that feels worthy of optimization at present is that the audit log of the created replica controller does not have a `podname `because the podName is set `after `the capture.
Close now