[2018-03-01 03:36] BenTheElder commented on #60613
/sig testing

[2018-03-01 03:38] liggitt commented on #60613
our other grpc test does this:

https://github.com/kubernetes/kubernetes/blob/07240b7166d83bed49d783e0ecdfa7ee7e62cfca/staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/grpc_service_unix_test.go#L1

[2018-03-01 03:42] k82cn commented on #60469
[code]

seems `leader-elect` is enabled, would you try to disable it by `--leader-elect=false` :)

[2018-03-01 03:42] hzxuzhonghu commented on #60598
@liggitt @cblecker This is indeed cause by `// ServerAuth in a CA permits ClientAuth in the leaf.` https://github.com/golang/go/blob/master/src/crypto/x509/verify.go#L582-L588

[2018-03-01 03:44] liggitt commented on #60394
opened https://github.com/kubernetes/kubernetes/pull/60615 for TestKMSProvider

[2018-03-01 03:50] ravisantoshgudimetla opened #60616 "Schedule even if extender is not available when using extender"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
When using scheduler extender, if the extender is not available scheduling of all pods fail.
**What you expected to happen**:
I believe that we should let the scheduling happen but display error message that extender is failing.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we ne

[2018-03-01 03:50] ravisantoshgudimetla commented on #60616
/sig scheduling

[2018-03-01 03:51] kow3ns commented on #60605
This isn't a feature or a bug request. The community slack channel (sig-apps) or stack overflow are a more appropriate place to have this discussion.

In brief, yes, this is by design.

/close

[2018-03-01 03:51] #60605 closed

[2018-03-01 03:52] smarterclayton commented on #58536
@soltysh can you link the 1.10 test PR in?

[2018-03-01 03:52] BenTheElder commented on #60614
definitely flaky https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/60524/pull-kubernetes-integration/49/

[2018-03-01 03:57] liggitt commented on #60598
that comment doesn't make sense... the cert being checked is not a CA

[2018-03-01 04:00] monique77 opened #60617 "This might take a minute or longer"
Hi, People

Sorry my english is bad.  So, i need help!!!

I am using centos 7, e kuberletes v1.9 when execute command
i was looking ---> https://www.linuxtechi.com/install-kubernetes-1-7-centos7-rhel7/

kubeadm init not continue, stop

[init] Using Kubernetes version: v1.9.3
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks.
	[WARNING Port-6443]: Port 6443 is in u

[2018-03-01 04:01] hzxuzhonghu commented on #60598
Yes, but i think this is the root cause.

[2018-03-01 04:01] kow3ns commented on #50340
/lifecycle frozen

[2018-03-01 04:02] kow3ns commented on #50340
@pwittrock between sig-apps and sig-cli can we get rid of the reapers in 1.11 if we haven't done so in 1.10?

[2018-03-01 04:12] kow3ns commented on #41580
@DreadPirateShawn yes this should be fixed by #51644
/close

[2018-03-01 04:12] #41580 closed

[2018-03-01 04:42] thockin commented on #46442
I think there is probably value to nodes which are halted/suspended - they exist and are registered, but are not schedulable.  Terminated nodes should be deleted.

So no "states" needed, just a bool that indicates haltedness, and this might simply be the `unschedulable` field.

[2018-03-01 04:48] jhorwit2 commented on #60583
/sig auth

[2018-03-01 04:52] kow3ns opened #60619 "StatefulSet PodTemplateSpec Validation."
**FEATURE REQUEST?**:
 /kind feature

We need better validation for the PodTemplateSpec of the StatefulSet kind. Currently its not using the default api validation for PodTemplateSpec because the volume claims will fail. We need to implement a solution that enables validation for the kind. The relevant code is [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/validation/val

[2018-03-01 04:53] #59312 closed

[2018-03-01 04:57] kow3ns commented on #47233
The resolution to the root cause of this is #50340. Delete should just delete. It shouldn't retrieve the object and scale it down. #60619 should fix the validation. We should do both of these to resolve issues like this.
/close

[2018-03-01 04:57] #47233 closed

[2018-03-01 04:57] #20855 closed

[2018-03-01 04:57] #38862 closed

[2018-03-01 04:57] #47154 closed

[2018-03-01 04:59] kow3ns commented on #47930
/lifecycle frozen

[2018-03-01 05:04] kow3ns commented on #43324
/remove-lifecycle rotten

[2018-03-01 05:05] kow3ns commented on #43324
We should fix this by removing the reapers altogether

[2018-03-01 05:06] kow3ns commented on #11212
/close

[2018-03-01 05:06] #11212 closed

[2018-03-01 05:15] liggitt commented on #60598
similar issue reported in https://github.com/golang/go/issues/23884, fixed in https://github.com/golang/go/commit/0681c7c31b5922f08f31404023e6b295f35812fe

[2018-03-01 05:28] arunkumar9050 opened #60620 "kubernetes cassandra operator error - i getting below error while creating cassandra operator for kubernetes. Have anyone encountered this error before?"
#kubectl create -f example-cassandra-cluster.yaml

error: unable to recognize "example-cassandra-cluster.yaml": no matches for cassandra.database.instaclustr.com/, Kind=CassandraCluster
#cat   example-cassandra-cluster.yaml
apiVersion: "cassandra.database.instaclustr.com/v1beta2"
kind: "CassandraCluster"
metadata:
name: "example-cassandra-cluster"
spec:
size: 3
version: "3.11"
pod:
resources:
  li

[2018-03-01 05:38] thockin commented on #60534
@bowei @kubernetes/sig-network-bugs

https://docs.google.com/document/d/1V0Y1yPtjVa_EZ7jGaYLYnpAy5FNjcb0Y4NTQTUb3eSY/edit

[2018-03-01 05:51] feiskyer opened #60622 "Failed to extract vmssVMName for azure nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When using IMDS, kubelet reports `Failed to extract vmssVMName` even when vmtype is not set:

[code]

**What you expected to happen**:

azure cloud provider should assume stardard vmtype if it is not set.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environmen

[2018-03-01 05:51] feiskyer commented on #60622
/sig azure

[2018-03-01 05:54] feiskyer commented on #60622
Added to v1.10 milestone since it is a critical bug fix.

cc @jdumars

[2018-03-01 05:58] #46253 closed

[2018-03-01 05:58] #42400 closed

[2018-03-01 05:58] #48290 closed

[2018-03-01 06:03] #57164 closed

[2018-03-01 06:03] #59221 closed

[2018-03-01 06:12] liggitt commented on #60582
Would that not reasonably be the system roots?

[2018-03-01 06:14] sttts commented on #60423
[code]

So our tags are annotated. For my personal workflow filtering by annotation would be fine. Local tags are usually not annotated.

[2018-03-01 06:15] andyzhangx opened #60624 "azure file plugin on Windows does not work after node restart"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
azure file plugin on Windows does not work after node restart, this is due to `New-SmbGlobalMapping` powershell cmdlet has lost account name/key after reboot, we should remove the invalid link and do the mount again after kubelet restart.

**What you expected to happen**:
azure file plugin on Windows should work after node

[2018-03-01 06:29] hzxuzhonghu commented on #60610
@zjj2wry Do you add  `WithAudit` filter in your apiserver handler chains?

[2018-03-01 06:32] yuvipanda commented on #60469
@k82cn I had tried it earlier and it didn't seem to affect anything. I tried again just now, and can confirm that has no effect.

Scheduler logs: https://gist.github.com/717aab269a722f2bc6c6c48815da1bc6
Describe pod output: https://gist.github.com/44d67e05f4d3282aff025a79ecfb411a

[2018-03-01 06:52] ahmetb commented on #47930
`kubernetes/examples` repo is not the right place to hosts tests, we're not planning to accept test manifests/images there. It's still ok to use images maintained in kubernetes/examples repo (such as "cassandra" or "guestbook") for tests, however test images etc should not be there.

A recent example of moving a test from `examples/` directory to `tests/e2e/` can be found here: https://github.com/

[2018-03-01 06:57] nikhita commented on #51820
/remove-lifecycle rotten
/lifecycle frozen

[2018-03-01 06:59] #34924 closed

[2018-03-01 06:59] #43528 closed

[2018-03-01 07:02] nikhita commented on #59826
/kind bug

[2018-03-01 07:09] xialonglee commented on #56278
Meet the similar situation too.
[code]
The cluster is not in a large scale, which means the resources date stored in etcd should not be very large for client retrieve from and should not result in a very long time to retrieve.
Seems like is the IO problem that would cause this situation, which means that the response data from etcd are transferred very slowly?

[2018-03-01 07:10] sttts commented on #60582
I don't think we want to put a kube cluster only CA into the system root. That's IMO one layer too deep. The system doesn't have to trust the certs, only the apiserver has to.

[2018-03-01 07:20] mengqiy commented on #59581
@mithrav ping

[2018-03-01 07:21] wackxu commented on #53503
@nikhita Great, This should be removed, I can help fix this.

[2018-03-01 07:21] hzxuzhonghu commented on #56278
@xialonglee  can you paste some normal apiserver log? want to see how long it takes for one request in your cluster.

[2018-03-01 07:23] nikhita commented on #53503
@wackxu just created https://github.com/kubernetes/kubernetes/pull/60626 :grimacing:

[2018-03-01 07:48] bgrant0607 commented on #14733
/remove-lifecycle stale

[2018-03-01 08:00] #18266 closed

[2018-03-01 08:00] #44953 closed

[2018-03-01 08:00] #18180 closed

[2018-03-01 08:00] #48124 closed

[2018-03-01 08:04] sttts commented on #57983
Now we have a default list of admission controllers enabled without any arguments, the use of admission-control is deprecated.

[2018-03-01 08:05] sttts commented on #58039
Can this be closed after we have a default order?

[2018-03-01 08:08] hzxuzhonghu commented on #58039
I think we can.

[2018-03-01 08:08] #58039 closed

[2018-03-01 08:08] #55535 closed

[2018-03-01 08:09] sttts commented on #56816
@mml can you comment on @hzxuzhonghu's linked code? What is missing?

[2018-03-01 08:14] immutableT commented on #60614
@liggitt Thank you for #60615

I just ran the test (without your fix) 100 times locally without any issues.
Interactions between the Test and Mock KMS Plugin are synchronized via a read to etcd, so the increased time-out should not be necessary. I believe that something else is at fault here.
Once 60615 merges I will improve logging of KMS Plugin Mock so that we could pin-point the issue if it re-

[2018-03-01 08:17] sttts commented on #54398
Can this be closed?

[2018-03-01 08:20] nikhita commented on #54398
client-go still has authoritative README and LICENSE files.

[2018-03-01 08:20] kargakis commented on #5164
/remove-lifecycle rotten
/lifecycle frozen

[2018-03-01 08:21] sttts commented on #49553
@nikhita didn't you fix this?

[2018-03-01 08:28] nikhita commented on #49553
Yes, https://github.com/kubernetes/kubernetes/pull/49747. :tada:

Closing.

/close

[2018-03-01 08:28] #49553 closed

[2018-03-01 08:35] onlonely commented on #56165
So am I

get hpa
[code]
dzqd_pdssyy01:/app/ecs/k8s#kubectl describe hpa deploy-27
[code]

[2018-03-01 08:37] sttts commented on #60610
@hzxuzhonghu I believe this is due to multiple request context mappers, but only one WithRequestContext filter in the outer chain.

[2018-03-01 08:40] sttts commented on #54398
Right. This won't change until the client-go release is integrated officially into the kube release process (with the official authority for the client-go responsibles in the process).

[2018-03-01 08:46] soltysh commented on #60488
Done.

[2018-03-01 08:53] wjiangjay commented on #60438
I saw current podnodeselector admission only support string format label, so this issue want podnodselector support set-based selector?

[2018-03-01 08:58] hzxuzhonghu commented on #60610
Right, it panicd in apiextensions-apiserver.

[2018-03-01 09:01] #41817 closed

[2018-03-01 09:02] hiyijian commented on #5607
I need for /dev/infiniband

[2018-03-01 09:04] Nefelim4ag opened #60631 "k8s ignore graceperiod while send stop to docker container"
/kind bug

k8s ignore grace period and always set it to 2 second while stop docker container:
level=debug msg="Calling POST /v1.31/containers/9dabaac5698f3b6f628a6b812cc962c4913a2598656ba42e88b02877e545abfa/stop?t=2"
 - - -
GracePeriod must be provided as arg to docker stop

Tested with docker versions 17.03 - 17.12 ce

- Kubernetes version: v1.8.7.1-a
- Cloud provider or hardware configuration: L

[2018-03-01 09:08] yastij commented on #60616
cc @bsalamat

[2018-03-01 09:10] wojtek-t commented on #60507
@aleksandra-malinowska @mwielgus - from what we talked yesterday it seems that it may not be a real issue but some problem with debugging?
If we believe this isn't an issue, can we close that?

[2018-03-01 09:15] onlonely commented on #57673
@MaciekPytel
I think Heapster is already equivalent to MetricsServer, why do you need an independent MetricsServer?

[2018-03-01 09:19] yastij commented on #60163
@liggitt @bsalamat - there's some work currently to move from `node.Spec.Unschedulable` to a taint based behaviour, tracked by #58406

[2018-03-01 09:20] #59729 closed

[2018-03-01 09:30] wojtek-t commented on #59848
Why do we need (3) and (4)?
If we verify that rv=N works fine (and it should), why can't we just start setting rv=<last observerved RV> instead.
If we just do that there are two options:

1. that RV is already in watch cache, and then we can safely serve from watch cache
2. that RV is not yet in watch cache (watch cache is delayed) and then we will wait for some time and if it won't become fresh e

[2018-03-01 09:30] wojtek-t commented on #59848
@kubernetes/sig-scalability-misc

[2018-03-01 09:41] it-ony commented on #18755
I have a similar issue, that for cache invalidation, I need to reach all the pods behind a service.

That's a valid question and there might be different strategies. To solve my problem, with invaliding cache for all the pods, it would be enough to do just return a `204 No Content` after all requests has been forwarded.

So same as @soupdiver wrote

[2018-03-01 09:48] spacebel commented on #7890
+1 .

[2018-03-01 09:55] nikhita commented on #44539
/kind bug

[2018-03-01 09:57] hzxuzhonghu commented on #60610
I look into the code, and find Config.RequestContextMapper is passed through to apiextentions-apiserver. It use the `DefaultBuildHandlerChain` to build a handler chain. So upstream k8s would not occur this panic.

@zjj2wry How you start your apiserver? Do you have any related changes?

[2018-03-01 09:57] nikhita commented on #53109
/remove-lifecycle rotten
/lifecycle frozen

[2018-03-01 09:59] deitch commented on #45717
What was the final result of this? I could not find documentation that said, "here is how you schedule a `Pod` on a node that has network not yet ready.

I _think_ the net result is that you:

1. enable tainting the node by condition
2. Add a toleration for the specific taint (in this case, network not being ready if you are using `hostnetwork`

But I am unsure. Is that correct? How do I enable th

[2018-03-01 10:00] Nefelim4ag commented on #60631
/sig scheduling

[2018-03-01 10:01] nikhita commented on #51476
/remove-lifecycle rotten

[2018-03-01 10:02] #48563 closed

[2018-03-01 10:02] #48283 closed

[2018-03-01 10:04] wrfly commented on #35335
Any good news?

[2018-03-01 10:17] zjj2wry commented on #60610
@hzxuzhonghu @sttts
Thanks for checking it, I'm sure I have not modified the upstream apiserver code, but there are some CRDs in the cluster

[2018-03-01 10:20] zjj2wry commented on #60610
This is my apiserver startup parameter, which is a single-node cluster
[code]

[2018-03-01 10:30] nikhita commented on #49199
IIUC, it's called "Extended Resources" now? https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#extended-resources

However, I still don't see how that can be used for quota support for custom resources.

Like @lavalamp mentioned, I think we need to allow these values for supporting custom resources.

[2018-03-01 10:50] shyamjvs commented on #60500
Update: It seems like we saw a couple of spikes around that range, following that things seem to have gone back to normal (for about 40 runs). That said, I'd like to wait a bit more to gather more confidence. Here are apiserver mem usage graphs for density and load test resp. :

![density_apiserver_mem](https://user-images.githubusercontent.com/4333971/36840843-bc8931cc-1d46-11e8-9d73-db18d6d00f25

[2018-03-01 10:54] xmudrii commented on #57042
Working on reproducing the issue and implementing tests for this case.

[2018-03-01 10:56] shyamjvs commented on #60500
Note that we're [seeing flaky failures](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability?before=11240) for that job from time to time, with the following reason:

[code]

That 'might' be unrelated to this particular issue, but it seems like a regression. Still, it needs fixing.

[2018-03-01 10:56] hzxuzhonghu commented on #60610
// AuditEventFrom returns the audit event struct on the ctx
func AuditEventFrom(ctx Context) *audit.Event {
	ev, _ := ctx.Value(auditKey).(*audit.Event)
	return ev
}

It is not nil ctx, but ` ctx.Value(auditKey)` = nil

[2018-03-01 10:57] hzxuzhonghu commented on #60610
can you reproduce it ?

[2018-03-01 11:03] #7585 closed

[2018-03-01 11:05] shyamjvs commented on #48610
/reopen
/remove-lifecycle rotten

I'm not sure if this has been worked upon.

[2018-03-01 11:06] sttts commented on #60610
That's what I meant. The mapper is different, so the there is no entry for the request. The handler will use an empty context in that case: https://github.com/kubernetes/kubernetes/blob/110b064d630ca39220696225dd597e7d33b95f4f/staging/src/k8s.io/apiserver/pkg/endpoints/installer.go#L350

[2018-03-01 11:07] sttts commented on #60610
Not sure that code link above is relevant, probably not. Haven't checked yet whether we have similar code elsewhere, leading to an empty context.

[2018-03-01 11:09] allxone commented on #52757
+1

[2018-03-01 11:15] zjj2wry commented on #60610
https://play.golang.org/p/nk7umWTyldN

if **ctx.Value(auditKey)** is nil, we will get panic log ` panic: interface conversion: interface {} is nil, not *audit.Event`

[2018-03-01 11:20] hzxuzhonghu commented on #60610
But as below the context can not be nil
[code]

[2018-03-01 11:32] hzxuzhonghu commented on #60610
maybe this is related
https://github.com/kubernetes/kubernetes/blob/110b064d630ca39220696225dd597e7d33b95f4f/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go#L488-L491

[2018-03-01 11:37] dims commented on #59978
@bgrant0607  @sjenning @stevekuznetsov @timothysc - So the consensus seems to be a no-op for now. Looks like i have to enable `privileged` mode in my CI job

https://k8s-testgrid.appspot.com/sig-testing-misc#ci-kubernetes-local-e2e

[2018-03-01 12:04] #25754 closed

[2018-03-01 12:04] #48676 closed

[2018-03-01 12:04] #36622 closed

[2018-03-01 12:06] liubog2008 commented on #60610
But it has been checked

https://github.com/kubernetes/kubernetes/blob/6260bb08c46c31eea6cb538b34a9ceb3e406689c/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go#L128-L132

[2018-03-01 12:18] hzxuzhonghu commented on #60610
That's the strange, if you can reproduce, I think should add some debug info.

[2018-03-01 12:19] MoriTanosuke commented on #58987
I stumbled upon this issue while making my first steps into k8s, volume claims and a custom controller. I tried to create a `StatefulSet` and wanted to use `volumeClaimTemplates` to create persistent volumes for my instances.

My controller would watch all volume claims for a specific label and then create cronjobs with custom commands on the volumes.

Here's my YAML for the `StatefulSet`

[code]

[2018-03-01 12:25] XinchenWan commented on #54512
I faced the same problem that there is no resources found. And if I didn't run minikube and kubectl with "sudo", it would call  "The connection to the server localhost:8080 was refused - did you specify the right host or port?"

Can you tell me how to deal with this issue? @r2d4 @spzala @paddypopeye

[2018-03-01 12:36] Nefelim4ag commented on #60631
Looks like:
https://github.com/kubernetes/kubernetes/blob/2d1626028ed0d091008e65d7e379470a098942ff/pkg/util/version/version.go#L42
https://github.com/kubernetes/kubernetes/blob/release-1.8/pkg/controller/node/util/controller_utils.go#L133

Causes to force deletion on pod with zero grace period.
But why bumped to 2 seconds, strange.

[2018-03-01 12:39] #60613 closed

[2018-03-01 12:41] aleksandra-malinowska commented on #60507
@wojtek-t the same image we're currently using with 1.9 fails with 1.10 (it seems to receive different data from API server for the list request.) Closing this for now as this isn't as obvious as originally described.

[2018-03-01 12:51] dixudx commented on #60619
/assign

I would work on this.

[2018-03-01 13:05] #48506 closed

[2018-03-01 13:05] #48717 closed

[2018-03-01 13:23] #60488 closed

[2018-03-01 13:26] devopsop commented on #60544
I have the exact same problem

[2018-03-01 13:44] dixudx commented on #60631
This method has already been removed in #53447, since v1.9.

[2018-03-01 13:44] rbankole commented on #60528
same here..can confirm on similar environment via acs-engine
Kubernetes version (use kubectl version): 1.9.3
Cloud provider or hardware configuration: Azure
OS (e.g. from /etc/os-release): Ubuntu 16.04.3 LTS

[2018-03-01 13:45] MaciekPytel commented on #56165
@max-rocket-internet Note that the scale down to 1 replica happened 4 minutes after failing to get utilization (based on event timings), so they're not necessarily related. HPA will not perform any action if it can't get utilization.
Transient problems with getting metrics are common immediately after pod is created and during/after heapster restart. I guess would also happen in case of any other

[2018-03-01 13:45] liggitt commented on #60614
Agreed. Will leave this reopen to track.

[2018-03-01 13:48] dixudx commented on #60617
/area kubeadm
/sig cluster-lifecycle

[2018-03-01 13:51] gofrane opened #60643 "opencl with the gpu on kubernetes"
hello,
Please is there any possibility to run a opencl GPU applications on kubernetes ?

[2018-03-01 13:53] dixudx commented on #60617
[WARNING Port-10250]: Port 10250 is in use
[WARNING Port-10251]: Port 10251 is in use
[WARNING Port-10252]: Port 10252 is in use

@monique77 These ports are using by other processes.

Please run `kubeadm reset` to revert any changes made to this host by `kubeadm init`. Or try to manually stop related processes.

Also please run `docker ps -a | grep kube` to find related container logs, such as api

[2018-03-01 14:06] #48416 closed

[2018-03-01 14:13] chrisseto opened #60644 "AWS ASG nodes may be kicked from the cluster by kube-controller-manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
* Nodes spun up by ASG have a variable delay at with tags are applied to them. The metadata API is not subject to this delay.
* Nodes poll the metadata API for information where the master(s) poll the actual EC2 API.
* This may cause a node to join a cluster and immediately be removed by the master (`kube-controller-manage

[2018-03-01 14:17] chrisseto commented on #60644
/sig @kubernetes/sig-aws-bugs

[2018-03-01 14:18] Nefelim4ag commented on #60631
Thanks!
 - - -
I fix that by change tag version to v1.8.7-a1

[2018-03-01 14:18] #60631 closed

[2018-03-01 14:28] jsafrane opened #60645 "Kubelet leaves orphaned directories and mounts after downtime"
/kind bug

**What happened**:
kubelet logs lot of `Orphaned pod "2663ce08-d054-11e7-b7ee-00505684022a" found, but volume paths are still present on disk.` when it starts and a pod was deleted while it was offline.

**How to reproduce it (as minimally and precisely as possible)**:

1. run a pod with AWS EBS volume (should work also with GCE or any other volume)
2. stop kubelet
3. delete the pod
4.

[2018-03-01 15:01] jsafrane commented on #60645
Ok, check at reconciler.go#L361 won't add the volume to ASW. But the volume is in DSW and subsequent reconcile() should check that the volume is attached and mounted and add it to ASW. This does not happen, because:

[code]

Volume is not in `node.Status.VolumesInUse`  because it was overwritten by new kubelet (?)

[2018-03-01 15:07] #26120 closed

[2018-03-01 15:07] #48754 closed

[2018-03-01 15:20] jdumars commented on #60608
Thank you for creating this issue!

[2018-03-01 15:22] liggitt commented on #60438
no, pods only support set-based selectors for the nodeSelector field, so that is all podnodeselector supports.

[2018-03-01 15:23] liggitt commented on #60438
/close

[2018-03-01 15:23] #60438 closed

[2018-03-01 15:24] khenidak opened #60646 "Overaggressive Routes Controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`Route controller` is unnecessary too aggressive. The [current control loop](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/route/route_controller.go#L115) loops through the node list every `10s`. Each node will generate a `GET` call to cloud resource manager (ARM in case of `azure`) to assert the rout

[2018-03-01 15:24] andyxning opened #60647 "Order of readiness probe and liveness probe"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently, readiness probe and liveness probe are executed concurrently. But, IMO, liveness probe may only start after readiness probe succeeds, i.e., pod has been started successfully
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**

[2018-03-01 15:25] andyxning commented on #60647
/kind sig-node

[2018-03-01 15:26] khenidak commented on #60646
@kubernetes/sig-network-bugs
@kubernetes/sig-azure-misc
@deads2k  @jdumars

[2018-03-01 15:26] khenidak commented on #60646
@deads2k can we have an agreement on the above. I will PR the needed change.

[2018-03-01 15:28] chrisseto commented on #60644
https://github.com/kubernetes/kubernetes/issues/57382

[2018-03-01 15:31] mikedanese commented on #60614
/assign

[2018-03-01 15:33] soltysh commented on #58536
This is https://github.com/kubernetes/kubernetes/pull/60580

[2018-03-01 15:34] DirectXMan12 commented on #56865
Having gone through, I'm unclear on what the issue is here.  This is an example that converts the current code to use the built-in scale client: https://github.com/p0lyn0mial/kubernetes/pull/2

[2018-03-01 15:48] liggitt commented on #60583
[PodSecurityPolicy](https://kubernetes.io/docs/concepts/policy/pod-security-policy/) will default and enforce aspects of the pod security context

/close

[2018-03-01 15:48] #60583 closed

[2018-03-01 15:52] liggitt commented on #60351
there are many varieties of mapping schemes from x509-encoded identity to username and group membership. some embed data in the certificate (in various ways), some rely on external system lookups.

to support alternate mappings of x509 data to username/groups, you can use an authenticating proxy that verifies the client certificate, transforms into user/groups as you wish, and passes that info to

[2018-03-01 16:07] maxboisvert commented on #58662
@nicklan Can you share a simple example file to reproduce it? I may be having a similar issue but cannot reproduce.

Cannot reproduce with:
[code]

[2018-03-01 16:08] #48802 closed

[2018-03-01 16:08] #44858 closed

[2018-03-01 16:08] #9012 closed

[2018-03-01 16:18] jdumars commented on #59848
Please stay in close contact with the release team on this.

[2018-03-01 16:21] bgrant0607 commented on #52787
kubectl will never support variable substitution.

Background document: https://goo.gl/T66ZcD

I suggest building an extension for Helm and participating in the Helm v3 discussions. My aim is to make Helm more flexible, to address such cases: https://docs.google.com/presentation/d/10dp4hKciccincnH6pAFf7t31s82iNvtt_mwhlUbeCDw/edit#slide=id.p

Please participate in SIG Apps and the Application Defin

[2018-03-01 16:23] Vskilet opened #60652 "Unexplicit alert when scale up pods with persistant volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
When you scale a deployment that contains a persistent volume which is configure in accessMode : ReadWriterOnce, there is no disclaimer when you want to scale the pod in the web interface. In fact we have errors from vSphere because kubernetes can't attach this type of volume at to pods.

**What you expected to happen*

[2018-03-01 16:41] dcbw commented on #59079
@smarterclayton for starters just do it like openshift does; when kubelet has started like in cmd/kubelet/app/server.go::run() right before the `<-done`.  Then later we figure out a more intelligent way.

Perfect world would be once static pods have started and API has registered, but that could take a long time and you don't necessarily want to block dependent systemd units on that.

Anyway, firs

[2018-03-01 16:45] aleksandra-malinowska commented on #60507
Confirmed that this is different in 1.9 vs 1.10 and can be reproduced. The problem doesn't appear to be with selector, but with `resourceVersion=0`. This parameter is always added by [ListWatch](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/cache/reflector.go#L246). And as indicated by the comment there, the result isn't always empty - it returns only pods

[2018-03-01 16:51] wojtek-t commented on #60507
That isn't true. For List, it should return all the pods (potentially not from now, but from some time ago, but still a consistent state of all pods from that point in time).
And then watch should be served from that point and everything should work wrt to that.

If something changed in 1.10 wrt that, then it's a bug.

@liggitt - FYI

[2018-03-01 16:55] aleksandra-malinowska commented on #60507
This is the behavior I observed on cluster built from HEAD this week. While debugging it, it went for ~day without API server restart, and List never returned the pods that weren't modified since that restart. Restarting the component doing ListWatch doesn't affect this.

[2018-03-01 16:58] dcbw opened #60656 "kubenet and CNI driver --cni-bin-dir search behavior is different"
Both kubenet and the CNI driver use --cni-bin-dirs for the search path of CNI plugins. While the CNI driver just looked in --cni-bin-dir for plugins, kubenet always looked in DefaultCNIDir (eg /opt/cni/bin) first and then looked in --cni-bin-dir.

We could:

1. make these consistent
2. ignore the problem until kubenet is killed

I'd suggest #2...

@yujuhong

[2018-03-01 17:02] Mykolaichenko commented on #44330
Take a look to the following parameter in kubelet exporter:
https://github.com/coreos/prometheus-operator/blob/master/helm/exporter-kubelets/values.yaml#L2
Hope it helps

[2018-03-01 17:03] #60622 closed

[2018-03-01 17:03] #60624 closed

[2018-03-01 17:03] #55860 closed

[2018-03-01 17:06] wojtek-t commented on #60507
This is super strange.

Looking into the code, when the request has set the limit (which in your case it seems it have: "&limit=500&"), it shouldn't even be serve from cache, but directly from etcd:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher.go#L479

Can you please add logging on the apiserver side (around the place that I just pasted abov

[2018-03-01 17:09] #48851 closed

[2018-03-01 17:11] wojtek-t commented on #60507
@smarterclayton - FYI

[2018-03-01 17:22] aleksandra-malinowska commented on #60507
Looks like the limit only matters if resourceVersion!=0:

`hasLimit := pagingEnabled && pred.Limit > 0 && resourceVersion != "0"`

I'll try it with added logging.

[2018-03-01 17:25] kachkaev commented on #40908
Related to https://github.com/kubernetes/kubernetes/issues/24725

/remove-lifecycle rotten

[2018-03-01 17:27] wojtek-t commented on #60507
OK - that's a good point.

What comes to my mind, is this https://github.com/kubernetes/kubernetes/pull/59871 - I don't know why it would break that, but this is touching this code, so maybe this is related? @shyamjvs

[2018-03-01 17:30] jdumars commented on #60507
If we suspect this might be a 1.10 blocker, could you add the status/approved-for-milestone label at your convenience?

[2018-03-01 17:33] liggitt commented on #60507
yes, driving this to resolution is a blocker
/status approved-for-milestone

[2018-03-01 17:45] saad-ali opened #60657 "Mount propagation moved to beta, comment not updated."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Mount propagation feature was moved to beta in PR https://github.com/kubernetes/kubernetes/pull/59252

However the [API comment](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L1705) was not updated to reflect that it is now beta:

[code]

**What you expected to happen**:

Comment reflects fea

[2018-03-01 18:02] ericuldall commented on #49931
For anyone still looking for this functionality I have a working version built using CRD. It allows you to modify the min/max pods of your HPA at different times. Currently it's only tested in GKE, but I'm happy to take any PR's if the community is interested in expanding its capabilities.

Check it out here: https://github.com/k8s-restdev/scheduled-scaler

[2018-03-01 18:10] #48472 closed

[2018-03-01 18:14] zetaab opened #60658 "isNotFound function is not working correctly in openstack cloudprovider"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug

**What happened**: when using cloud controller manager, `InstanceExistsByProviderID` function is not working correctly. Common function `isNotFound` is not return correct value if instance is deleted from cloudprovider.

**What you expected to happen**: I except that code should end to row https://github.com/kubernetes/kubernetes/blob/m

[2018-03-01 18:14] jessicaochen commented on #59766
@stealthybox - After the change to kubeadm etcd behavior ( https://github.com/kubernetes/kubernetes/pull/57415 ) , this test developed the failure [2] where the etcd pod on the master fails. Do you have any idea what might be going on?

[2018-03-01 18:15] prashima commented on #60652
@kubernetes/vmware

[2018-03-01 18:17] zetaab commented on #60658
/sig openstack

[2018-03-01 18:26] mikedanese opened #60659 "A TokenRequestAuthorizer should allow serviceaccounts to request tokens for themselves"
/sig auth
/kind feature

@liggitt wdyt?
@kubernetes/sig-auth-feature-requests

ref https://github.com/kubernetes/kubernetes/issues/58790

[2018-03-01 18:30] bgrant0607 commented on #41442
cc @saad-ali

[2018-03-01 18:31] mikedanese opened #60660 "API server should expose a JWKS URL of it's current valid svcacct token keys"
/sig auth
/kind feature

@kubernetes/sig-auth-feature-requests

ref #58790

[2018-03-01 18:31] prashima commented on #60652
@Vskilet couple of questions regarding the proposed disclaimer:

- Do you want a better failure message in Kubernetes dashboard?
- Is the request for better event messaging?

To understand failure better:
- Was this a one time failure or is your deployment still not up and running?
- Is the deployment is still in error state, can you please share the event message for ```kubectl describe deploymen

[2018-03-01 18:37] mikedanese opened #60661 "Kubelet API to lookup pod name from socket"
The kubelet should expose an API that allows a node agent to lookup a pod from an inet socket. This information could be exposed through the kubelet rest handler or through a hook in the network setup/teardown. This API will be used for secure caller ID by node agents so the information exported must be up to date and correct.

/sig auth
/sig node
/kind feature

@tallclair

[2018-03-01 18:42] hq-mot opened #60662 "Kubelet does not garbage collect docker images based on devicemapper disk usage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

kubelet is monitoring nodefs and imagefs, but looks like it's not aware of device mapper pool.
As a result, there are two problems:
  1. When device mapper actually starts running out of space ~90% kubelet is not aware of it so no diskPressure is reported and container will start dying.
  2.  Unexpected evictions and ga

[2018-03-01 18:52] msau42 commented on #41442
FYI volume topology design for 1.10 is [here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/volume-topology-scheduling.md)
And dynamic provisioning design proposal is here: kubernetes/community#1857

[2018-03-01 18:55] jennybuckley commented on #59124
@ivange94 Is this still something you are working on?

[2018-03-01 18:58] pires commented on #56617
/assign pires
/remove-lifecycle stale

[2018-03-01 18:58] pires commented on #56617
I'll pick this one up next week.

[2018-03-01 19:11] #44317 closed

[2018-03-01 19:11] #48793 closed

[2018-03-01 19:11] #34866 closed

[2018-03-01 19:11] #28789 closed

[2018-03-01 19:11] #48951 closed

[2018-03-01 19:11] #29913 closed

[2018-03-01 19:13] krzyzacy commented on #60003
@kow3ns any update?

[2018-03-01 19:22] hq-mot commented on #60662
@kubernetes/apps.bugs

[2018-03-01 19:28] tallclair commented on #60661
There are a number of plugin vendors (mostly monitoring) that reverse-engineer our cgroup or namespace setup to derive the source pod/container from something like the PID. A more general version of this API might allow looking up the Pod & container by various resources (including IP address)

[2018-03-01 19:38] thomaslee commented on #58662
@maxboisvert's config (using the alpha annotation) worked for me, but `publishNotReadyAddresses` did not. Verified that it was correctly set etc., it just didn't seem to do anything. Think it's a 1.8.6 server.

[2018-03-01 19:38] mikedanese commented on #60661
We need to identify what constructs we want to attach identity to. Attaching identity to cgroups precludes us from implementing resource models where a node agent takes resources from pods in exchange for providing a service (i.e. VAT). For example, I could imagine a log shipping node agent that creates a thread per pod and drops those threads into the pod's cgroup. Do we want to keep our options

[2018-03-01 19:38] cholick opened #60665 "Specifying Subnet for Internal LoadBalancer in GCE"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

Created a service of type "LoadBalancer" using the `cloud.google.com/load-balancer-type` internal annotation, I would like to also explicitly specify the subnet.

This is an option in some other cloud providers, see:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_loadbalan

[2018-03-01 19:38] fabiand commented on #56634
@vishh I do not disagree.
But let me ask from a different angle: Shall device plugins live up to become the _generic_ way of providing "devices" or "host resources" to pods and containers - to workloads?

If yes, then we need to take more devices (including networking) into account, and potentially enhance the DP API.

If no, then it would be helpful to narrow the scope of DPs.

[2018-03-01 19:42] thomaslee commented on #58662
@maxboisvert sorry, if you're looking for a repro case: remove the annotation from the service metadata, and add `publishNotReadyAddresses: true` to the service spec.

[2018-03-01 19:42] #60538 closed

[2018-03-01 19:42] #53020 closed

[2018-03-01 20:00] dimm0 commented on #60438
I didn't get it, will podnodeselector admission controller support set-based selector?

[2018-03-01 20:01] monique77 commented on #60617
Hi, dixudx  tks so much, worked!!!! But now i have others problems.

My objective is access dasboard kubernetes but ,  i see in log erros

When i execute
kubectl apply -f https://git.io/weave-kube
The connection to the server x.x.x.x:8080 was refused - did you specify the right host or port?

Log kubernetes
E0301 19:49:43.573432       1 reflector.go:205] k8s.io/kubernetes/vendor/k8s.io/client-go/i

[2018-03-01 20:04] liggitt commented on #60438
sorry, mistyped. The pod nodeSelector field is simple selector (`map[string]string`), so that is all that the PodNodeSelector admission plugin needs to support

[2018-03-01 20:24] deads2k commented on #60646
In general, a controller should do cheap checks to determine whether expensive checks are warranted.  I'm not familiar enough with the specifics of the route controller to know if this is the *only* condition it is kicking on.  If so, making a check of "did an IP change" is reasonable.  However, if other cloud providers have more nuanced checks, then making that change isn't a good idea.

I think

[2018-03-01 20:41] resouer commented on #60469
@yuvipanda Even the default scheduler is not doing anything, there still chance that the second scheduler's cache is not rightly updated somehow.

If possible, would you mind to log out values [in this line](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/predicates/predicates.go#L741) of second scheduler?

One of the cached data in `allocatable` or `nodeInfo` should b

[2018-03-01 20:42] jhorwit2 commented on #60646
/area cloudprovider

[2018-03-01 20:44] jberkus commented on #60517
OK, this issue needs status/approved-for-milestone then to indicate SIG approval.

I'm adding priority/critical-urgent because we're in Code Freeze and this is in the 1.10 milestone.

/priority critical-urgent

[2018-03-01 20:46] bendrucker commented on #58212
Here's how I'm working around this in scripts to get an idempotent patch in case it's helpful for anyone:

[code]

Happy to help if needed on #52647, seems like that's pretty much good to go though.

[2018-03-01 20:46] cholick commented on #60665
/sig gcp

[2018-03-01 20:53] jberkus commented on #60500
Adding a real priority:

/priority critical-urgent

If this is going to be in the milestone until we have more evidence, it should have status/approved-for-milestone.  So please decide one way or the other on the next test run.  Thanks!

[2018-03-01 20:55] blakebarnett commented on #57049
This is making cluster automation extremely painful, is there any good work-around other than manually terminating/rescheduling the pods to new nodes when this happens?

[2018-03-01 21:00] chrishiestand commented on #34146
/reopen

[2018-03-01 21:13] #48371 closed

[2018-03-01 21:19] mbohlool commented on #60276
are the proto files generated?

[2018-03-01 21:20] lavalamp commented on #60276
I believe our proto files are generated. @mikedanese do you have a motivating example?

[2018-03-01 21:22] mbohlool commented on #60347
/cc @yliaog

[2018-03-01 21:23] devopsop commented on #60544
Fixed the problem by commenting all the proxy env variables in the kube-api manifest

[2018-03-01 21:23] khenidak commented on #60646
Thanks
AFIAK, the route controller is not exactly part of the cloud provider. The controller calls out the cloud provider. The interfaces will remain the same, the call out behavior will remain the same. The only difference is *less* aggressive route controller.

[2018-03-01 21:25] martynd commented on #57558
@thockin
I believe the error `E1222 14:45:31.135567 1 proxier.go:792] Failed to execute iptables-restore for nat: exit status 1 (iptables-restore: line 7 failed)` to be related to the nat iptables-restore.

It looks to have been identified in the following comment https://github.com/kubernetes/kubernetes/issues/55043#issuecomment-343798288

The content passed to iptables-restore is as follows:

*n

[2018-03-01 21:26] mbohlool commented on #60463
/cc @jennybuckley

[2018-03-01 21:26] mbohlool commented on #60463
/cc @liggitt

[2018-03-01 21:28] mbohlool commented on #60484
/cc @lavalamp

[2018-03-01 21:29] mbohlool commented on #60507
/cc @jpbetz @wenjiaswe

[2018-03-01 21:49] rrati commented on #46442
I think there's another issue aside from how kubernetes handles the nodes.  When I looked at the cloud providers, some of them were filtering the instances and returning only running instances.  In that case kubernetes would not be given information on a node that is halted/suspended and would think the node has been deleted.

We may want to look at a way to remove that decision making from the cl

[2018-03-01 22:14] #48504 closed

[2018-03-01 22:21] grodrigues3 opened #60668 "Testing the milestone plugin. Please ignore"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-03-01 22:21] grodrigues3 commented on #60668
/milestone v1.10

[2018-03-01 22:22] grodrigues3 commented on #60668
/milestone clear

[2018-03-01 22:22] bgrant0607 commented on #17333
Presentation: https://docs.google.com/presentation/d/1fty6X_k0ABEn2Cq9kWO6JyIYhx6-8xtEbj3AP3qcQRQ/edit#slide=id.p

[2018-03-01 22:34] dawidmalina opened #60670 "RemoveImage service failed - image is being used by running container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
RemoveImage service is trying to remove pause image. My kubelet is configured with:
[code]

I see in the logs that controller is trying to free up some space:
[code]

But in the kubelet logs i see error that service failed:
[code]

Service is trying to remove image `1e62b686f055` but this is pause image:
[code]

**What yo

[2018-03-01 22:35] nilebox commented on #17333
For those who want to watch @lavalamp talking through the presentation posted above, there is a recording of SIG Architecture meeting https://www.youtube.com/watch?v=6HfntQM757M

[2018-03-01 22:37] colemickens commented on #57424
/sig scheduling

[2018-03-01 22:41] dawidmalina commented on #60670
/sig node

[2018-03-01 23:07] grodrigues3 commented on #60668
Testing the functionality for this: https://github.com/kubernetes/test-infra/pull/6982

[2018-03-01 23:22] dimm0 commented on #60438
Why not set-based selector? I'm trying to run some daemonsets across all nodes in privileged namespaces, and it's impossible with the current simple selector.

[2018-03-01 23:23] #60381 closed

[2018-03-01 23:32] erictune commented on #54579
We should not support this.

There should not be references to schemas that cross two separately released components (the core and the software that has the CRD).  This will result in unexpected addition or deletion (think rollback of server version) of fields in the CRD schema.  It also makes it hard for the controller to determine if objects it previously created are what it intended to create,

[2018-03-01 23:45] markmandel commented on #54579
Apologies, but I'm working on a project right now that embeds a PodSpecTemplate. From my experience this is not that uncommon an occurrence. Sounds like something we might need more data on.

Not saying that refs are the absolute best answer, but from my perspective there are definitely projects that will need this type of functionality.

[2018-03-01 23:51] shun-miyoshi-com commented on #60544
@devopsop thank you your comment.
But, your idea is just a temporary measure. It won't solve the actual cause of the problem.
I posted a one of solution of this issue. (https://github.com/kubernetes/kubernetes/pull/60545)

[2018-03-01 23:58] devopsprosiva commented on #43916
I ran into the same issue today. On node with 32GB memory, 16+GB is cached. When the memory used + cache exceeded 29GB (~90% of 32GB), the kubelet tried to evict all the pods which shouldn't have happened since the node still had close to 50% of memory available, although in cache. Is there a fix to this issue?

[2018-03-02 00:12] resouer commented on #58406
If we are discussing about deprecate/re-implement `kubectl cordon` by Unschedulable taint, +1 as it make sense.

Current cordon is keeping causing confusion in community since you can always taint it, and it's what Kubernetes setup is doing for master today.

[2018-03-02 00:16] #48811 closed

[2018-03-02 00:31] tianshapjq commented on #56617
@pires hi~is there any plans? I would like to help for this~

[2018-03-02 00:38] vincentmli commented on #60161
I removed the workaround of using xt_ipvs to add a specific SNAT for cluster services/ipvs rule  10.0.0.1:443 and try to understand why the iptables rule below setup by ipvs unable to do the SNAT
<pre>Chain KUBE-MARK-MASQ (0 references)
target     prot opt source               destination
MARK       all  --  0.0.0.0/0            0.0.0.0/0            MARK or 0x4000

Chain KUBE-POSTROUTING (1 refere

[2018-03-02 00:39] cblecker commented on #55750
#59289 was merged

[2018-03-02 00:39] #55750 closed

[2018-03-02 00:41] BenTheElder commented on #55750
though not blocking *yet*, I want to very soon, so far it looks great

[2018-03-02 00:46] jar349 opened #60673 "certificate controller looking for component configuration in wrong field of ControllerContext"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Symptom is this log entry: `controllermanager.go:490] Skipping "csrsigning"`

Seeing the word `Skipping` means that the controller did not start, but neither was an error returned. see the code (https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L435-L443):
[code]

Lo

[2018-03-02 00:52] jar349 commented on #60673
@kubernetes/sig-api-machinery-bugs

[2018-03-02 01:01] liggitt commented on #60673
How is minikube starting the controller manager?

[2018-03-02 01:03] robertglen commented on #57280
this is new behavior as far as I can tell under K8S 1.9.x.  The only cluster I have running 1.9.x is the only one suddenly showing this issue.    I have 79256 files in /var/lib/cni/flannel/   and /var/lib/cni/network/cni0 has one file per IP in the /24 assigned to the node.   pods stuck in container creating, and kubelet on the node complains of the error in the original post saying no more IPs in

[2018-03-02 01:03] liggitt commented on #60673
I'd suggest moving this issue to the minikube repo, the flags passed to the kube controller manager to enable the csr signer are working properly

[2018-03-02 01:14] #60604 closed

[2018-03-02 01:21] lcfang commented on #60399
/close

[2018-03-02 01:21] #60399 closed

[2018-03-02 01:25] wlan0 commented on #46442
Thanks for this comment @rrati.

@thockin, the above comment reinforces what I was saying. Since the test of node existing is open to interpretation (in retrospect), cloud providers have varying implementations of this test.

GKE considers stopped nodes to be existing, whereas AWS and OpenStack don't. This disparity leads to stopped nodes being deleted in AWS/OpenStack clusters when the user turns

[2018-03-02 01:26] bsalamat commented on #58406
I agree with @gmarek that we should use NoSchedule taint. I also agree that generally no pod should tolerate NoSchedule taints, but they may want to do so if the desire, knowing that anything could happen to the node they will scheduled on. For example, today DS pods tolerate "Unschedulable" bit. They may as well want to tolerate "NoSchedule" taints.

[2018-03-02 01:31] #58850 closed

[2018-03-02 01:35] bsalamat commented on #59555
@k82cn Yes, that's the idea, but as you can imagine, having multi-scheduler in a cluster is intended for those who really really need it. It is not supported in hosted solutions and probably most users won't try it.

[2018-03-02 01:43] wgliang commented on #59555
Yes, it is desirable for most users (especially non-developers) to use configuration files or environment variables instead of multi-scheduler.

[2018-03-02 02:18] #60517 closed

[2018-03-02 02:54] Pingan2017 commented on #60670
resolved #57020 #58229

[2018-03-02 02:54] szhmery commented on #39626
hi everybody,
I met this problem too, but my kubectl version is 1.7.4. I have two servers to run "kubectl get pods". They have some kubectl version, one  return 18ms, but another is more than 1000ms.
Does somebody know what's the problem? Thanks!

I0302 02:51:50.711482     544 round_trippers.go:386] curl -k -v -XGET  -H "Accept: application/json" -H "User-Agent: kubectl/v1.7.4 (linux/amd64) kubern

[2018-03-02 02:55] pires commented on #56617
Me and @sreis are building the case and will ping your for feedback before taking this to sig-node.

[2018-03-02 03:15] hanxiaoshuai commented on #60657
I push a PR [#60682](https://github.com/kubernetes/kubernetes/pull/60682) for it.

[2018-03-02 03:18] xialonglee commented on #56278
@hzxuzhonghu
the whole log are too long to paste here..
and from the log of `apiserver` side, i can't see the point when the request start

and when the panic occur the `kubelet` was requesting something from `apiserver`
we can see when the panic occur from `apiserver` side, the `kubelet` side receive error and mount volume failed:

[code]
but I didn't keep the whole complete log of `kubelet`, so

[2018-03-02 03:19] #32676 closed

[2018-03-02 03:19] #48814 closed

[2018-03-02 03:29] xialonglee commented on #56278
I check the relate codes too.
If i am not missing something, this panic only occurs when `apiserver` establish connection with etcd.
`apiserver` send a request to etcd and etcd response to apiserver, the header of response was filled up, but because of the data are too large to filled complete in time or the network transferred are too slowly or the data transfer improper ending will cause this pa

[2018-03-02 03:45] smarterclayton commented on #59079
The only reason we put it there in openshift is we didn't change the kubelet (which was arguably a mistake).  The start of the sync loop means we've correctly initialized everything except seeing a pod.  What is the start of the API gated on?

[2018-03-02 03:52] hzxuzhonghu commented on #56278
I mean something like this `I0301 11:45:53.307853   56515 wrap.go:42] GET /api/v1/namespaces/default/services/kubernetes: (3.034548ms) 404 [[hyperkube/v1.10.0 (linux/amd64) kubernetes/3ca89a3] 127.0.0.1:42557]`

[2018-03-02 04:14] MrHohn commented on #56727
I believe this is fixed.
/close

[2018-03-02 04:14] #56727 closed

[2018-03-02 04:30] electricsam commented on #59501
The DELETE Job endpoint has the same problem (DELETE /apis/batch/v1/namespaces/{namespace}/jobs/{name}).  The documentation states a Status response, but it is actually the deleted Pod.  FWIW, these documentation issues/bugs cause exceptions in the Kubernetes Java client (https://github.com/kubernetes-client/java/issues/205).

[2018-03-02 05:21] #42957 closed

[2018-03-02 05:21] #49063 closed

[2018-03-02 05:21] #31708 closed

[2018-03-02 05:21] #47671 closed

[2018-03-02 05:21] #21002 closed

[2018-03-02 06:01] ScorpioCPH commented on #56695
I think this problem is still exists.
/remove-lifecycle stale

[2018-03-02 06:13] CallMeFoxie opened #60688 "IPVS does not RR with hostPort on service's POD and running on the same node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
(I think? Or at least possibly undocumented -- I couldn't find any docs about it -- feature?)

** Kube-Proxy IPVS mode only **

**What happened**:
If you have let's say a Service which is targetting port `4041` on a set of pods that export this port not just as containerPort but also as hostPort,
[code]
and now one of these pods **runs on a

[2018-03-02 06:14] CallMeFoxie commented on #60688
@kubernetes/sig-network-bugs

[2018-03-02 06:22] #48071 closed

[2018-03-02 06:26] xialonglee commented on #56278
@hzxuzhonghu
you mean log like this?
[code]

[code]

[code]

[2018-03-02 06:31] islinwb commented on #60688
/area ipvs

[2018-03-02 06:38] anguslees opened #60690 "APIService: caBundle should (optionally?) be a pointer to an out-of-band ConfigMap/Secret"
As it stands (apiregistration.k8s.io/v1beta1), it's very hard to declaratively install an apiserver since you need to create the CA keypair/certificate *before* specifying the APIService.

It would be nice if the APIService instead pointed to an external ConfigMap (or maybe Secret, although I acknowledge that the caBundle contents are not secret), so that an in-cluster controller of some sort coul

[2018-03-02 06:45] hzxuzhonghu commented on #56278
check with this https://github.com/kubernetes/kubernetes/issues/56278#issuecomment-360991788

[2018-03-02 06:52] kopiczko opened #60691 "kubelet v1.10 can't init azure provider with useManagedIdentityExtension"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kubelet fails to start on a standard VM with MSI enabled with `failed to run Kubelet: could not init cloud provider "azure": No credentials provided for AAD application`.

Provider config:

[code]

Logs:

[code]

**What you expected to happen**:

kubelet starts finds a token via MSI and starts.

**How to reproduce it (as

[2018-03-02 06:52] kopiczko commented on #60691
/sig azure

[2018-03-02 07:03] krzyzacy commented on #60589
@shyamjvs is there any update for this issue?

[2018-03-02 07:22] CallMeFoxie commented on #60688
Actually I can use **any** svcIP from kube-ipvs0 iface and the port 4041 and it will always end up on the local hostPort :)

[2018-03-02 07:23] #48790 closed

[2018-03-02 07:23] #48596 closed

[2018-03-02 07:29] CallMeFoxie commented on #60305
Hi,
I think it will be related to what I run into yesterday and found out this morning: #60688
the traffic is not going through IPVS machinery but since there's the svcIP you're targetting bound on kube-ipvs0 iface AND there's a hostPort on port 443 it connects effectively to localhost:443 which is the traefik

[2018-03-02 07:30] aiwantaozi opened #60694 "One of the flexvolume driver added error will block the in coming flexvolume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I add multi flexvolume for testing, but some of them return error, I continue add new available flexvolume after the bad flexvolume, but the kubelet will continually through error:

[code]
Here is the error when add the bad flexvolume driver.
[code]
Here may be the related cause, even if the probe() will continue get all latest fle

[2018-03-02 07:33] takahser commented on #25406
/remove-lifecycle rotten

[2018-03-02 07:34] takahser commented on #25406
/reopen

[2018-03-02 07:36] takahser commented on #25406
I don't understand why it takes so long to remove an obsolete image from the docs. It's very confusing especially to people who are new to K8. Again, the affected part of the docs is located here: https://kubernetes.io/docs/admin/high-availability/

[2018-03-02 07:38] aiwantaozi commented on #60694
@verult
/sig flexvolume

[2018-03-02 07:42] xiangpengzhao commented on #25406
/reopen
cc @kubernetes/sig-docs-maintainers

[2018-03-02 07:55] resouer opened #60697 "Consider using grpc to refactor scheduler extender interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
As Device Plugin evolving, more use cases for scheduler extender begin to showing up, for example,  customized scheduling logic for extended resources.

The recent example I'm working on is: topology awareness of GPU devices for deep learning workloads training, see: https://github.com/kubernetes/kubernetes/issues/49

[2018-03-02 07:58] CaoShuFeng commented on #35335
/ok-to-test

[2018-03-02 08:24] #49324 closed

[2018-03-02 08:24] #48195 closed

[2018-03-02 08:24] #48198 closed

[2018-03-02 08:32] tossmilestone commented on #60697
Seems relative to #59980

[2018-03-02 08:48] jsafrane commented on #60657
Oops, sorry. @hanxiaoshuai, thanks for the PR.

[2018-03-02 08:49] Lion-Wei commented on #60688
Thanks for the thorough research.
@m1093782566  Seems like a complicated issue.

[2018-03-02 08:53] erictune opened #60700 "Help debug when webhooks are disabled."
Two users (@tamalsaha in https://github.com/kubernetes/features/issues/492#issuecomment-369385531 and @vaikas-google via email) reported being confused that webhooks weren't working, and the problem was that the --admission-control flag was wrong.

Possible solutions:
1. Add status to MutatingWebhookConfiguration and ValidatingWebhookConfiguration which indicate if the admission controller is enab

[2018-03-02 08:54] erictune commented on #60700
@caesarxuchao

[2018-03-02 08:55] benbc commented on #49063
I can confirm that this is fixed in recent versions of Kubernetes.

[2018-03-02 08:57] m1093782566 commented on #60305
/area ipvs

[2018-03-02 09:12] prydie commented on #56665
/remove-lifecycle stale

[2018-03-02 10:03] spradeepv commented on #47723
/lifecycle rotten
/remove-lifecycle stale

[2018-03-02 10:11] dhabierre commented on #60374
@ReSearchITEng : I have the same issue. Any idea about it? Thanks.

[2018-03-02 10:26] #49397 closed

[2018-03-02 10:52] spradeepv commented on #47723
/remove-lifecycle rotten

[2018-03-02 11:17] squeed commented on #57280
Hmm. Has anything changed w.r.t. the pod lifecycle for newly restarted kubelets? Perhaps it is no longer doing network teardowns when the pod doesn't exist, e.g. on reboot.

[2018-03-02 11:41] #60163 closed

[2018-03-02 11:53] matteosilv opened #60703 "Annotations defined on services yaml don't get propagated to corresponding endpoints"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig api-machinery
/sig network

**What happened**:

Annotations defined on services yaml don't get propagated to corresponding endpoints

**What you expected to happen**:

Annotations defined on services yaml get propagated to corresponding endpoints (as it happens for labels)

**Environment**:
- Kubernetes version (use `kubectl version`):

[2018-03-02 12:02] awh commented on #27308
The PR for this is tiny, and has passed all its tests; it'd be great to get it into 1.10 if possible, does anyone know whom to petition for that?

[2018-03-02 12:08] Vlaaaaaaad commented on #27308
I think the time for new features that go into 1.10 is gone as per [release schedule](https://github.com/kubernetes/sig-release/blob/master/releases/release-1.10/release-1.10.md). You can try asking on Slack in #sig-release.

[2018-03-02 12:25] nikhita commented on #60564
/sig cli
/kind bug

[2018-03-02 12:36] akshaymankar commented on #58084
**Update**: As a first step, we (me and @mordebites) are working on separating `instance-name` from being same as `node-name`. We considered using `--cloud-id-override`, but it seems like every cloud provider has a different way of figuring this out. And having a flag doesn't necessarily make sense.

So, we think it would be best to take `instance-name` from cloud-config.ini passed as `--cloud-con

[2018-03-02 12:39] hustcat commented on #5607
+1 for this.

I'v write a [RDMA device plugin](https://github.com/hustcat/k8s-rdma-device-plugin) for kubernetes.

We need pass device `/dev/infiniband/rdma_cm` for all container which use RDMA device for run RDMA application in container.

[2018-03-02 12:46] yastij commented on #58406
/sig scheduling

[2018-03-02 12:48] tombee commented on #59467
I believe this is the expected behaviour, as per:
https://github.com/kubernetes/kubernetes/issues/43279
https://github.com/kubernetes/kubernetes/issues/51333

My understanding of this is that pods that are in this state need to be forcefully removed by an admin using:

[code]

[2018-03-02 13:00] andyzhangx commented on #60691
@kopiczko there should be one log
 `azure: using managed identity extension to retrieve access token`
in kubelet if `"useManagedIdentityExtension": true` according to following code, while your logs don't have such log, could you confirm you are using the provided azure.json in your kubelet?
https://github.com/kubernetes/kubernetes/blob/release-1.10/pkg/cloudprovider/providers/azure/auth/azure_aut

[2018-03-02 13:00] liggitt commented on #27308
I don't think it's a good idea to add another layer to the stack of data feeding this value. Currently, the only envvar that affects the constructed client is the KUBECONFIG envvar. Adding these makes it extremely difficult to maintain consistency between different tools consuming kubeconfig files and speaking to the API.

[2018-03-02 13:03] dmitris commented on #22469
for reference, Network Policy proposal is at https://github.com/kubernetes/community/blob/master/contributors/design-proposals/network/network-policy.md (points to this ticket in References)

[2018-03-02 13:26] wojtek-t commented on #60589
I took a brief look into that. And either some test(s) are extreeeeemely slow or something is hanging somehwere. Par of logs from last run:
[code]

No test finished within 8h30m

[2018-03-02 13:34] wojtek-t commented on #60589
Indeed seems like a regression. I think the regression happened somewhere between runs:
105 (which was still ok)
108 (which had visibly higher startup time)

We can try looking into kubemark-5000 to see if it is visible there too.

[2018-03-02 13:39] wojtek-t commented on #60589
Kubemark-5000 is pretty stable. 99th percentile on this graph (maybe the regression happened even before, but I think it is somewhere between 105 and 108):

![screenshot from 2018-03-02 14-36-54](https://user-images.githubusercontent.com/10743879/36901433-77a2fa8e-1e27-11e8-8f31-881a6a1c2c48.png)

[2018-03-02 13:47] wojtek-t commented on #60589
Regarding the corretness tests - gce-large-correctness is also failing.
Maybe some test that is extremely long was added at that time?

[2018-03-02 13:47] galan commented on #37705
/remove-lifecycle rotten

[2018-03-02 13:54] shyamjvs commented on #60589
Thanks a lot for looking @wojtek-t. Wrt performance job - I too feel strongly there's a regression (though I couldn't get to look properly into them).

I was looking into this a while ago. And there were 2 suspicious changes I found:

- #59391 - This added a bunch of tests around local storage (the runs after this change started to timeout)
- StatefulSet with pod anti-affinity should use volumes s

[2018-03-02 13:54] shyamjvs commented on #60589
cc @kubernetes/sig-storage-bugs

[2018-03-02 13:55] ironhouzi commented on #25908
I am also looking for a solution to upload files produced by a container iff the processor container exited successfully.

I am not sure I understand the argument by @mingfang made against having the sidecar container watch the container status through the k8s API to know if and when to start uploading or exiting. When the sidecar container exits the pod and job should be exited successfully.

Ano

[2018-03-02 14:08] CallMeFoxie commented on #60688
It is probably related to this iptables rule being created:
[code]
(ignore different IP)

[2018-03-02 14:10] clenk commented on #50295
I had this problem because I was running kubectl as the wrong user. I had copied `/etc/kubernetes/admin.conf` to `.kube/config` in one user's home directory and needed to run kubectl as that user.

[2018-03-02 14:25] wanghaoran1988 commented on #60438
@dimm0 Does taints/toleration works for you?

[2018-03-02 14:29] tomoe commented on #54132
/remove-lifecycle rotten

[2018-03-02 14:30] cmluciano commented on #5607
@hustcat this is awesome! Have you presented this on a Resource-Management WG call yet?

[2018-03-02 14:30] #23708 closed

[2018-03-02 14:30] tomoe commented on #54132
I will create a PR to the sysctl proposal as suggested in https://github.com/kubernetes/kubernetes/pull/54896#issuecomment-348235363

[2018-03-02 14:32] msau42 commented on #60589
/assign

Some of the local storage tests will try to use every node in the cluster, thinking that cluster sizes are not that big.  I'll add a fix to cap the max number of nodes.

[2018-03-02 14:35] wojtek-t commented on #60589
Thanks @msau42 - that would be great.

[2018-03-02 14:37] shinzui commented on #25908
Wouldn't promoting the sidecar to a first-class k8s concept solve this problem? Kubelet will be able to terminate the pod if all the running containers in it are marked as sidecar ones.

[2018-03-02 15:06] timothysc commented on #58587
For future reference please open issues in the kubeadm repository https://github.com/kubernetes/kubeadm/issues

[2018-03-02 15:08] alexvicegrab commented on #51835
Same issue here on Azure, Kube 1.8.7

[2018-03-02 15:10] wanghaoran1988 commented on #59555
A rainstorming idea on this:
1. We can extend the apiserver(standalone apiserver/ CRD) + contoller that responsible for launch an scheduler for the user. Assume we have a first class resource called "KubeScheduler", if a user need a specific scheduler based on a subset of the priority/predicates funtions(defined by scheduler policy config), the user can create a "KubeScheduler" resource, and the c

[2018-03-02 15:24] wojtek-t commented on #60589
Going back to https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-performance suite

I took a closer look into runs up to 105 and runs 108 and after that.
The biggest difference wrt to pod startup time seem to appear at the step:
[code]
[the name of it is misleading - will explain below]

Up to 105 run, it generally looked like this:
[code]

Starting with 108 run, it looks more

[2018-03-02 15:29] jhorwit2 commented on #56796
@wlan0 @yastij I think instead of moving to taints first we should follow this progression:

1. Remove the route specific logic from the node controller and only have it in the route controller. This first iteration will continue to use conditions as it does today.
2. Move to taints.

Thoughts?

[2018-03-02 15:30] jhorwit2 commented on #56796
/area cloudprovider

[2018-03-02 15:31] #48716 closed

[2018-03-02 15:33] wojtek-t commented on #60589
I think the next step is to:
- look into the slowest pods (there seem to be O(1s) difference between slowest too) and see whether the difference is "before"of "after" the update status request was sent

[2018-03-02 15:33] hustcat commented on #5607
@cmluciano I didn't do that. I'd like to present this on next Resource-Management WG call.

[2018-03-02 15:43] wojtek-t commented on #60589
So I looked into example pods. And I'm already seeing this:
[code]

[code]

[code]

So it seems pretty clear that the problem is related to "429"s.

[2018-03-02 15:49] jdumars commented on #60589
Are those throttled API calls due to a quota on the owner account?

[2018-03-02 15:55] juanvallejo opened #60712 "Server-side printing continued"
This is continuation of the work started in https://github.com/kubernetes/kubernetes/issues/58536. The below list outlines work items related to server-side printing in 1.11:

**Server**:
- [x] ~~determine whether to have a shorthand mime-type for table (application/json+meta+v1+Table) or similar~~
- [x] Move the OpenAPI column rendering for CRD to the server in the CRD implementation (continuatio

[2018-03-02 15:56] Capitrium opened #60713 "Aggregation Layer proxy authentication doesn't work if aggregation CA is not a root CA"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After configuring the aggregation layer with proxy certificates signed with a newly generated CA and deploying [metrics-server](https://github.com/kubernetes-incubator/metrics-server) to the cluster, requests to the  metrics API were not properly authenticated. The proxy certificates used here were signed by an intermedi

[2018-03-02 15:56] prat0318 opened #60714 "DNS lookup fails on statefulset pod when spawned after init-container"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: When kafka statefulset cluster (in conjunction with initContainers) is rolled, it is not able to do DNS lookups. Repeated restarts on the same node fail repeatedly. Only when I `cordon` that node, and delete the kafka pod, and kafka gets reassigned to another node, it is able to make DNS lookup successfully (ev

[2018-03-02 15:57] juanvallejo commented on #60712
@soltysh not sure if I can set the 1.11 milestone on this one.
@smarterclayton This tracks the items left over from https://github.com/kubernetes/kubernetes/issues/58536 that will be worked on for 1.11. We can close that issue in favor of this one.

[2018-03-02 15:57] juanvallejo commented on #60712
/sig cli

[2018-03-02 16:00] Capitrium commented on #60713
/sig api-machinery

[2018-03-02 16:02] prat0318 commented on #60714
@kubernetes/sig-network-bug

[2018-03-02 16:02] liggitt commented on #60713
just to make sure we understand the scenario:
* `--requestheader-client-ca-file` referenced a file containing the intermediate CA, not the root CA?
* `--proxy-client-cert-file` referenced a file containing a client certificate signed by the intermediate CA?

[2018-03-02 16:03] prat0318 commented on #60714
@kubernetes/sig-network-bugs

[2018-03-02 16:05] yastij commented on #56796
I'm fine with this progression

[2018-03-02 16:15] Capitrium commented on #60713
`--proxy-client-cert-file` referenced a file containing a client certificate signed by the intermediate CA; I tried referencing both the intermediate CA and root CA in `--requestheader-client-ca-file`, but neither seemed to work.

[2018-03-02 16:17] liggitt commented on #60713
What does `openssl x509 -in /path/to/intermediateca.crt -text -noout` show?

Does it indicate the intermediate is a CA?
[code]

If not, go will not validate certificates signed by it.

[2018-03-02 16:19] nikhita commented on #27543
@onlyjob Is this still needed?

[2018-03-02 16:24] nikhita commented on #31792
/remove area/kubectl
/sig docs

[2018-03-02 16:25] nikhita commented on #31792
/remove-area kubectl
/remove-sig apimachinery
/kind bug

[2018-03-02 16:28] nikhita commented on #31792
/remove-sig api-machinery

@k8s-ci-robot please work this time.

[2018-03-02 16:29] Capitrium commented on #60713
That seems to be the root cause - thanks @liggitt!

Now I just need to figure out why my intermediate CAs in one directory show up as CAs, but not in another...

[2018-03-02 16:30] apuchitnis commented on #47992
@bowei and @thockin, any thoughts on @tomplus ' suggestion?

[2018-03-02 16:40] aleksandra-malinowska commented on #60507
@wojtek-t Thanks for tips on how to debug this! After I added logging, it turned out that all objects are in cache, but for those older than the API server, `elem.Fields` and `elem.Labels` are `nil`, so they can't match any non-empty selector and are [filtered out](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher.go#L529). Since those fields are

[2018-03-02 17:02] kfox1111 commented on #27618
/remove-lifecycle rotten
/reopen

[2018-03-02 17:02] kfox1111 commented on #27618
still relevant.

[2018-03-02 17:02] cmlicata commented on #12925
I have the same problem as well

[2018-03-02 17:25] DirectXMan12 commented on #55630
/status approved-for-milestone

[2018-03-02 17:28] rramkumar1 commented on #58235
ping @DirectXMan12 Does the approach I stated above sound good? I would like to get started ASAP

[2018-03-02 17:33] #34066 closed

[2018-03-02 17:33] #49523 closed

[2018-03-02 17:37] liggitt opened #60719 "Advanced Audit tests flaking"
Started flaking yesterday: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Advanced%20Audit

Seems to coincide with https://github.com/kubernetes/kubernetes/pull/60237

/assign @tallclair @crassirostris

need to triage this ASAP to know if we need to roll back that PR

[2018-03-02 17:38] Nowaker commented on #44812
Could someone from @kubernetes/sig-cli-feature-requests take a look at this and comment, please? Thanks!

[2018-03-02 17:46] stealthybox commented on #59766
@jessicaochen I was able to reproduce the etcd pod failure locally.
The pod is failing due to the liveliness probe still using HTTP.

We missed that selfhosting can depend on the etcd static pod.
I'm now patching it to support mTLS.

[2018-03-02 18:04] krzyzacy commented on #60588
thanks @MrHohn , the slow suites are back to green now!

[2018-03-02 18:04] #60588 closed

[2018-03-02 18:19] MrHohn opened #60721 "e2e-gce-alpha-api: network tier test is failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind e2e-test-failure
/sig network
/area platform/gce

**What happened**:
From https://k8s-testgrid.appspot.com/sig-network-gce#gce-alpha-api&width=5, network tier test is failing since 2/24. From the [diff](https://github.com/kubernetes/kubernetes/compare/15e34b13c...f49f799db), https://github.com/kubernetes/kubernetes/pull/59941 seems a bit suspicio

[2018-03-02 18:27] liggitt commented on #60719
/milestone clear

[2018-03-02 18:27] liggitt commented on #60719
/milestone v1.10

[2018-03-02 18:29] BenTheElder commented on #60719
/milestone v1.10
(should not work, lack of perms)

[2018-03-02 18:34] #48796 closed

[2018-03-02 18:34] roycaihw commented on #59501
/sub

[2018-03-02 18:37] dimm0 commented on #60438
@wanghaoran1988 Yes, but that's much more than I need actually. I just need kube-system and a couple more namespaces to run on all nodes, regardless of labels.. But taints and tolerations would be awesome.

[2018-03-02 18:39] liggitt commented on #59501
this is true for all types that set `ReturnDeletedObject: true` in their storage configuration

[code]

[2018-03-02 18:39] walteraa commented on #59943
I am having the same issue when trying to mount a OpenStack Cinder volume,

Log Error:
`1 reflector.go:205] git.openstack.org/openstack/openstack-cloud-controller-manager/vendor/k8s.io/kubernetes/pkg/controller/cloud/pvlcontroller.go:109: Failed to list *v1.PersistentVolume: persistentvolumes is forbidden: User "system:serviceaccount:kube-system:pvl-controller" cannot list persistentvolumes at the

[2018-03-02 18:51] sasso commented on #28586
You need to tag your subnets with the name of your cluster `kubernetes.io/cluster/your.cluster.zepl.io` and value `shared`. This will allow Kubernetes to select the zones you want to use.

[2018-03-02 18:58] krzyzacy commented on #59762
priority/critical-urgent
/assign @BenTheElder

[2018-03-02 19:02] krzyzacy commented on #60437
assume https://github.com/kubernetes/kubernetes/pull/60672 will also fix this? @kow3ns

[2018-03-02 19:07] Capitrium commented on #60713
@liggitt I may have spoken too soon - I've fixed the issue with the intermediate CA, but I'm still getting the same authentication issues.

Verified that the intermediate CA is actually a CA:
[code]

Verified that the proxy certificate is signed by the intermediate CA:
[code]

[code]

[2018-03-02 19:11] adamdecaf opened #60724 "EndpointAddress hostname is unclear"
/kind bug

**What happened**: I was attempting to create an [Endpoint](https://v1-8.docs.kubernetes.io/docs/api-reference/v1.8/#endpointaddress-v1-core) with a hostname, however I ran into the following error on `kubectl apply`.

[code]

**What you expected to happen**: I expected to be able to create an `Endpoint` with a hostname to then use that in alerting.

**How to reproduce it (as minimally

[2018-03-02 19:12] adamdecaf commented on #60724
/sig api-machinery

[2018-03-02 19:13] janetkuo commented on #60437
The fix #60386 was merged 7 hours ago. I confirmed that the test `[sig-apps] daemonset-upgrade` is green again.

[2018-03-02 19:15] liggitt commented on #60713
can you post the full `X509v3 extensions` sections for the proxy client cert, the intermediate, and the root CA?

[2018-03-02 19:17] adamdecaf commented on #60724
To fix my issue I can use `nodeName`, but I wanted to also offer to improve the docs on `hostname` as to me it implied a full FQDN would work.

[2018-03-02 19:17] tallclair commented on #60719
From [apiserver log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/22334/artifacts/bootstrap-e2e-master/kube-apiserver.log) for run [ci-kubernetes-e2e-gci-gce/22334](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/22334):
[code]

I'm pretty sure this is what's happening: the default audit mode changed to batch for the lo

[2018-03-02 19:18] krzyzacy commented on #60437
@janetkuo it's still failing in http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.9-master-upgrade-master and other master upgrade suites

[2018-03-02 19:19] agau4779 commented on #60721
/assign agau4779

[2018-03-02 19:21] Capitrium commented on #60713
root CA:
[code]

intermediate CA:
[code]

proxy client cert:
[code]

[2018-03-02 19:24] krzyzacy commented on #60719
http://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce
starts to look pretty bad
priority/critical-urgent
cc @jberkus

[2018-03-02 19:28] yujuhong commented on #60661
Could you provide a use case for this or add a link to a relevant feature? I'm not sure what "secure caller ID by node agents" mean in this context.

I don't quite get how the network setup/tear hook is going to work -- do you mean supporting hooks through plugins or kubernetes API?

[2018-03-02 19:31] tallclair commented on #60719
Actually, the forward fix would break scalability anyway. I'll send a rollback.

[2018-03-02 19:31] stealthybox commented on #59766
/status in-progress

[2018-03-02 19:33] verult opened #60725 "Flexvolume e2e tests failing"
/kind bug

https://k8s-testgrid.appspot.com/sig-storage#gce-serial

This is likely caused by a missing REMOUNT_VOLUME_PLUGIN_DIR flag in kube-env construction.

/assign
/sig storage

[2018-03-02 19:36] krzyzacy opened #60726 "Pod fail to fit host ports should stay pending rather than mark as failed?"
cc @yujuhong @dashpole @Random-Liu @yguo0905
smells like node issue? or point me to the right sig :-)

cc @BenTheElder @ixdy

[code]

[2018-03-02 19:46] glb commented on #45293
It's also come to my attention that `base64 -D` works great on MacOS but on Linux it's `base64 -d`, so if someone, say, has a Helm chart where the notes tell the user to retrieve the secret data using one or the other of these, it won't work on the other one.

```kubectl get secret SECRET INNER_SECRET``` would clearly be a simpler experience for the user than ```kubectl get secret SECRET -o go-tem

[2018-03-02 19:47] glb commented on #45293
/remove-lifecycle rotten

[2018-03-02 19:50] jberkus commented on #59888
oops, missing priority was my fault, moving back into milestone:

/priority critical-urgent
/remove-priority important-soon

[2018-03-02 19:51] yokhahn opened #60729 "There should be a way to offer mount options for NFS v1Volumes (not PV)"
While https://github.com/kubernetes/kubernetes/issues/17226 addressed this question, and https://github.com/kubernetes/website/pull/2743 fixes this for Persistent Volumes.  It does not for straight v1Volumes (or does not document how to do it... Where do I put the annotation?).

 /kind bug

**What happened**:
I was unable to tell kubernetes to mount an nfsv3 volume as a v1Volume

**What you expect

[2018-03-02 19:51] jberkus commented on #58083
oops, missing priority was my fault, moving back into milestone:

/priority critical-urgent
/remove-priority important-soon

[2018-03-02 19:53] ixdy opened #60730 "verify-bazel failing with 'cannot find package "github.com/bazelbuild/buildtools/build"' etc"
/kind bug

verify-bazel is currently failing with the following stacktrace:
[code]

Ironically, this is caused by a fix upstream which would probably prevent #60442 from occurring again - gazelle vendored `github.com/bazelbuild/buildtools` in https://github.com/bazelbuild/bazel-gazelle/pull/145, which means that when we hackily download gazelle's dependencies with `go get -d`, we no longer also do

[2018-03-02 19:53] ixdy commented on #60730
/sig testing
/sig release

[2018-03-02 19:54] jberkus commented on #57382
oops, missing priority was my fault, moving back into milestone:

/priority critical-urgent
/remove-priority important-soon

[2018-03-02 19:55] huguesalary commented on #59888
Glad to see it made it to the milestone!

Does that mean you guys managed to reproduces this?

[2018-03-02 19:57] jberkus commented on #55630
oops, missing priority was my fault, moving back into milestone:

/priority critical-urgent
/remove-priority important-soon

[2018-03-02 19:57] jberkus commented on #60657
oops, missing priority was my fault, moving back into milestone:

/priority critical-urgent
/remove-priority important-soon

[2018-03-02 20:00] wojtek-t commented on #60589
This isn't throttling as I thought initially. These are 429s on apiserver (the reason may be either slower apiserver because of some reason, or more requests coming to apiserver).

[2018-03-02 20:02] BenTheElder commented on #60487
/cc
Once this is solved please ping me / @kubernetes/test-infra-maintainers so we can discuss using this work in CI

[2018-03-02 20:02] jberkus commented on #59764
Adjusting labels to keep this tracker in the milestone.

/kind cleanup
/remove-kind design
/priority critical-urgent
/remove-priority important-soon

[2018-03-02 20:02] yliaog commented on #59501
https://github.com/kubernetes/apiserver/blob/dd002fed291506760ba79a43ca21c9a5086a6a5d/pkg/endpoints/handlers/rest.go#L1020

it does not always return the object though. sometimes status is returned instead.

[2018-03-02 20:03] ixdy commented on #60730
/priority critical-urgent

[2018-03-02 20:06] liggitt commented on #59501
Status is always a valid option to be returned (401, 403, 404, 500 errors always return Status objects)

[2018-03-02 20:07] cblecker commented on #60730
@ixdy Feel free to ping if you need assistance/reviews

[2018-03-02 20:07] jdumars commented on #60589
Oh, ok. That's not great news.

[2018-03-02 20:14] ixdy commented on #60730
miraculously, @spiffxp's bash hacks save us on release-1.8 and release-1.9, as we check out the old version of gazelle and then run `go get -d`.
https://github.com/kubernetes/kubernetes/blob/136abdbde4d85d5beb595acc9c4c13f149b5589a/hack/lib/util.sh#L487-L488

[2018-03-02 20:14] cblecker commented on #60730
:bash_fire:
:golang_fire:

[2018-03-02 20:18] BenTheElder commented on #60726
I think that would be sig-scheduling, not sure this is a bug though

[2018-03-02 20:33] lavalamp commented on #59124
If you can make a webhook which prevents the apiserver from starting at all, this is a problem, no matter what the webhook is verifying/doing, because you can't recover from that state.

I'm not suggesting that the system should automatically remove a broken webhook, which would be a security problem, rather that it needs to be possible for an appropriately authenticated sysadmin to do so.

Especi

[2018-03-02 20:36] #32227 closed

[2018-03-02 20:39] DirectXMan12 commented on #59888
I have not had time to personally reproduce (I'm going to attempt to do so Monday and find a fix), but from your description, it definitely *seems* like a serious issue, and I'd prefer not to release with it in place.  I want it on my radar unless we find we can't repro.

[2018-03-02 20:42] DirectXMan12 commented on #49931
Neat!  Thanks.  I may offer some suggestions in comments, but I love that CRDs have enabled projects like that.

[2018-03-02 20:54] rsaraiva opened #60733 "Custom immortals namespaces to NamespaceLifecycle admission controller"
/kind feature

**What happened**:
`NamespaceLifecycle` do not permit to add custom namespaces to prevent deletion. We have differents environments (e.g. `dev` and `prod`) and we occasionally switch between `kubernetes` and `minikube`. Custom immortals namespaces could help us to avoid human mistakes.

**What you expected to happen**:
`NamespaceLifecycle` could accept a configuration file like `Pod

[2018-03-02 20:54] rsaraiva commented on #60733
/kind feature

[2018-03-02 20:55] rsaraiva commented on #60733
@kubernetes/sig-apps-feature-requests

[2018-03-02 21:06] liggitt commented on #60733
this is not intended to be a general purpose deletion prevention mechanism. the only reason `kube-system` is protected at that level is because the controllers responsible for namespace cleanup are associated with that namespace, and deleting it could put a cluster in a state that could not self-recover.

if you want to prevent deletion of other namespaces, I'd suggest a custom webhook admission p

[2018-03-02 21:06] #60733 closed

[2018-03-02 21:24] yujuhong commented on #60726
What is the bug/question? The pod should not be rejected or scheduler and kubelet should not have different information on host ports?

[2018-03-02 21:27] krzyzacy commented on #60726
If the pod fails to be scheduled, the pod status should stay pending, instead of failed, right?

[2018-03-02 21:27] krzyzacy commented on #60726
/sig scheduling

[2018-03-02 21:29] yujuhong commented on #60726
My guess would be that it got scheduled, but kubelet rejected it due to port conflict on the node.

[2018-03-02 21:30] krzyzacy commented on #60726
sounds like it should not get scheduled in the first place if kubelet does not have a fitting port?

cc @timothysc @bsalamat

[2018-03-02 21:32] yujuhong commented on #60726
There are known race conditions where kubelet hasn't reported the static pods (using the ports) running on the node at the time of pod scheduling. You can check your node to see if that's the case.

[2018-03-02 21:33] bsalamat commented on #60730
Not surprisingly I am seeing this issue when I run hack/update-bazel.sh:

./../internal/config/directives.go:24:2: cannot find package "github.com/bazelbuild/buildtools/build" in any of:
...

Is there any workaround?

[2018-03-02 21:35] BenTheElder commented on #60730
There's a PR in the main repo pending merge right now. https://github.com/kubernetes/kubernetes/pull/60732

[2018-03-02 21:36] roycaihw commented on #59501
It's a known issue https://github.com/kubernetes-client/java/issues/86#issuecomment-334981383, as @kondapally1989 pointed out in https://github.com/kubernetes-client/java/issues/205
`oneof` is not supported in OpenAPI v2

ref https://github.com/kubernetes/kubernetes/issues/25716

[2018-03-02 21:37] #12746 closed

[2018-03-02 21:38] bsalamat commented on #60730
Yeah, I did the same thing that @ixdy had done in [his PR ](https://github.com/kubernetes/test-infra/pull/7105/files) and it fixed my master branch.

[2018-03-02 21:39] krzyzacy commented on #60589
/milestone clear

[2018-03-02 21:39] krzyzacy commented on #60589
/milestone v1.10

[2018-03-02 21:41] cjwagner commented on #60589
/milestone clear

[2018-03-02 21:41] cjwagner commented on #60589
/milestone v1.9

[2018-03-02 21:51] AgentME commented on #45293
Small tip: you can use `base64 --decode` which works on both Linux and Mac.

[2018-03-02 21:54] rpothier opened #60734 "Update Kubelet command option description for IPv6"
/kind bug

**What happened**:
The kubelet command option description for pod-cidr shows the following
"For IPv6, the minimum length of the cluster or pod CIDR is /66"
however, this /66 restriction was removed with PR #60089

**What you expected to happen**:
The command option should not display this restriction.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we

[2018-03-02 21:54] rpothier commented on #60734
/assign rpothier

[2018-03-02 21:54] tpepper commented on #58536
@smarterclayton with #60580 merged for the tests and #60712 opened for the carry overs to 1.11, is this 1.10 umbrella read to close now?

[2018-03-02 21:55] bodom0015 opened #60735 "Jobs: specifying both parallelism and backoffLimit can lead to unexpected results"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have noticed recently that the `parallelism` field seems to mess with the perceived `backoffLimit`.

Running a job with `backoffLimit: 3` and `parallelism: 2`, I get 2 pod replicas at a time, which both fail and spawn 2 more. A total of 7 pod replicas are created in this case before the job fails due to the`backoffLimit

[2018-03-02 21:56] ixdy commented on #60730
the submit queue is soooo sloooow

[2018-03-02 21:57] k1-hedayati commented on #58834
It seems like if there is multiple objects in `yaml` output kubectl already wraps them in `kind: List` type and generated `yaml` is valid.

[2018-03-02 22:08] glb commented on #45293
Thank you @AgentME!

[2018-03-02 22:11] tpepper commented on #60735
/sig apps

[2018-03-02 22:23] rajamony commented on #20786
This cost WAY more time that it should have taken. Here is what I did:

1) Create the secret. The secret needs to live in the same namespace as where it will get used. Here we use the secret name "regcred". Note the "/v2/" at the end of the registry URL

kubectl --namespace NAMESPACE create secret docker-registry regcred --docker-server="https://myregistry.com/v2/" --docker-username=USERNAME --doc

[2018-03-02 22:25] #60730 closed

[2018-03-02 22:25] #55630 closed

[2018-03-02 22:27] AaronFriel commented on #54765
The performance cost of `zfs get all` seems to have gone back down to near zero on my system, and to be honest, I'm not sure why. I did do a storage migration to a new disk, it likely fixed some latent issue.

Is there a reason hyperkube is doing these stat operations with zfs? What is the downside of allowing these operations to fail as they do now?

[2018-03-02 22:29] stealthybox commented on #59766
xref #60608

[2018-03-02 22:32] ixdy commented on #60487
cc @mkumatag @luxas

[2018-03-02 22:42] yokhahn commented on #60729
If it is indeed decided to not allow for support of NFSv3 in the direct volume, it should probably be stated explicitly in the documentation.

[2018-03-02 22:59] saad-ali opened #60738 "Point CSI to official 0.2.0 tag"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kubernetes vendor directory for CSI should be point at CSI v0.2 for k8s v1.10.
There should be no functional changes.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- C

[2018-03-02 23:05] saad-ali commented on #60738
PR: https://github.com/kubernetes/kubernetes/pull/60736

[2018-03-02 23:09] yujuhong commented on #30039
https://docs.docker.com/engine/reference/builder

| Instruction  | Description | Supported | Comment |
| ------------- | ------------- | ------------ | ------------- |
| ENTRYPOINT  | Executable to run  | Y | Supported by the runtime(s) |
| CMD  | Arguments to supply to the ENTRYPOINT  | Y | Supported by the runtime(s) |
| EXPOSE | Ports that container intends to listen for informative purpose onl

[2018-03-02 23:12] ericuldall commented on #49931
@DirectXMan12 Are you referring to:
[code]
?

[2018-03-02 23:27] vincentmli commented on #60161
I have been playing with kube-proxy flag --masquerade-all and --cluster-cidr to see if  the KUBE-MARK-MASQ can be added in some of the chains, it has no effect at all
<pre>
        fs.BoolVar(&o.config.IPTables.MasqueradeAll, "masquerade-all", o.config.IPTables.MasqueradeAll, "If using the pure iptables proxy, SNAT all traffic sent via Service cluster IPs (this not commonly needed)")
        fs.St

[2018-03-02 23:32] wgliang commented on #59555
I understand what you mean. Your suggestion is very interesting, which greatly improves the flexibility of scheduling. In fact, equivalent to the priority/predicates functions of the deterministic list on the scheduling before, which is equivalent to the incoming parameters. But I have two questions of concern:
1. How to control the apiserver to determine a subset of the priority / predicates func

[2018-03-02 23:36] scribnar commented on #35758
nginx gets load balancer IP, not client IP.

We use kubernets with kops/kubectl on aws with version 1.8.6

kubectl is 1.9.x

Followed this link. https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip

We have this issue of not getting the client IP even after using below settings in nginx
	set_real_ip_from 0.0.0.0/0;
        real_

[2018-03-02 23:39] #7630 closed

[2018-03-02 23:39] #9925 closed

[2018-03-03 00:02] krmayankk commented on #4301
this is related to https://github.com/kubernetes/kubernetes/issues/41394, i would like to start working on it

[2018-03-03 00:02] krmayankk commented on #4301
/assign @krmayankk

[2018-03-03 00:36] enisoc commented on #54579
Just to add another aspect to consider:

So far the only proposal for supporting server-side apply (and/or strategic merge patch) on resources served through CRD is to put the necessary schema info in OpenAPI. Without the ability to directly pull in the schema for a PodTemplateSpec, you would have to recursively copy in all those schemas into your own, if you want server-side apply to work correct

[2018-03-03 00:37] vikaschoudhary16 commented on #60670
Should this be closed?

[2018-03-03 00:41] vikaschoudhary16 commented on #60388
Closing it because it seems query raised has got resolved.

[2018-03-03 00:41] vikaschoudhary16 commented on #60388
/close

[2018-03-03 00:41] #60388 closed

[2018-03-03 00:51] jberkus commented on #44975
Never mind the bot, since this issue is Stale, and we no longer need it to test the munger, we're removing it from the milestone.

[2018-03-03 01:00] jberkus commented on #58638
Apologies for munger bug, it's actually 3 days.

[2018-03-03 01:15] jberkus commented on #60500
@shyamjvs given the results in #60589, can we consider this a confirmed problem for 1.10?

[2018-03-03 01:25] hochuenw opened #60742 "Can not get gpu usage from metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am currently using `metrics/v1beta1`, I have one container in each pod. Gpu usage got from metrics is always 0. Also, it seems podMetrics.Metadata.Labels lost all labels of one pod..

**What you expected to happen**:
gpu usage is updated correctly and i can get pod labels from `podMetrics`

**How to reproduce it (as min

[2018-03-03 01:39] hochuenw commented on #60742
/sig node

[2018-03-03 02:07] shyamjvs commented on #60500
Yes, I would say so. There seems to be a regression - let's approve this issue for the milestone, while I continue to investigate further into it.

[2018-03-03 02:35] #60721 closed

[2018-03-03 02:35] #60738 closed

[2018-03-03 04:23] Phanindra48 commented on #35758
Try adding this  `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: '*'` to annotations in nginx service config like shown [here](https://github.com/kubernetes/ingress-nginx/blob/master/deploy/provider/aws/service-l4.yaml#L10)

[2018-03-03 04:56] fejta-bot opened #60743 "pr:pull-kubernetes-verify flaked 72 times in the past week"
### Flaky Job: pr:pull-kubernetes-verify
 Flakes in the past week: **72**
 Consistency: **93.10%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| verify bazel | 29 |
| verify godeps | 5 |
| verify staging-godeps | 4 |

#### Previously closed issues for this job flaking:
#60028

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2018-03-03 05:30] dawidmalina commented on #60670
@Pingan2017 what k8s version have this fix. I will try to test and validate?

[2018-03-03 05:45] #31813 closed

[2018-03-03 05:46] vikaschoudhary16 commented on #60670
@dawidmalina Yo can confirm on v1.10.0-beta.1

[2018-03-03 05:49] smarterclayton commented on #59848
The hard part is finding N.  If we can find N, then yes, the solution is easy (that's the second part of the attempted PR before I realized that finding N is not possible today without executing a write).

In order to safely serve a list from the watch cache, you must ensure the watch cache is at an RV that is at the same level or higher than if you executed a linearizable read against etcd over t

[2018-03-03 06:11] dawidmalina commented on #60670
Ok. Thanks

[2018-03-03 06:11] #60670 closed

[2018-03-03 07:24] resouer commented on #60469
@yuvipanda Sorry, I can't reproduce this on my GKE cluster, pods are pending as expected.

[code]

[2018-03-03 07:49] yuvipanda commented on #60469
hmm, is it the same version of k8s? Can you also give me the exact
manifests you used?

Thank you so much for your help! Hope I can also get this to work...

On Fri, Mar 2, 2018 at 11:25 PM, Harry Zhang <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-03-03 07:52] resouer commented on #60469
I just copied exactly you post in this issue. The GKE cluster is 1.9.2.

[2018-03-03 08:13] scribnar commented on #35758
Thanks @Phanindra48. nginx is now getting the client IP as I can see it in access log of nginx. However, SSL stopped working. The browser throws error that it can't establish ssl connection to server.

Here is service definition. We use nginx and rails inside a pod. NO ingress configurations. nginx has upstream configuration. SSL was working before well. If I remove the those two lines added to en

[2018-03-03 08:46] dims opened #60745 "Failure in Conformance test - Daemon set [Serial] should update pod when spec was updated and update strategy is RollingUpdate [Conformance]"
Please see :
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-local-e2e/322

fails just after this line:
[code]

Failure was introduced in:
https://github.com/kubernetes/kubernetes/pull/59883

But this was not noticed until it started running in [Conformance] tests.

You can see the same problem in other dashboards too:
https://k8s-testgrid.appspot.com/sig-release-mas

[2018-03-03 08:46] dims commented on #60745
cc @janetkuo @kow3ns

/sig apps

[2018-03-03 08:48] dims commented on #60745
/priority critical-urgent

[2018-03-03 08:48] dims commented on #60745
/kind bug
/priority failing-test

[2018-03-03 08:49] dims commented on #60745
/milestone v1.10

[2018-03-03 08:53] dims commented on #60745
Is this just an oversight of not removing the template generation when the API update was done?

[code]

[2018-03-03 09:18] kopiczko commented on #60691
@andyzhangx you can look at the log output. There are lines:

[code]

[2018-03-03 09:21] nikhita commented on #60712
Repeating the sig label for the bot to pick it up and remove `needs-sig`.
/sig cli

[2018-03-03 09:22] nikhita commented on #60092
/kind feature

[2018-03-03 09:26] nikhita commented on #53959
/remove-lifecycle rotten
/kind feature

[2018-03-03 09:27] nikhita commented on #51623
/remove-lifecycle rotten
/cc @ixdy @BenTheElder

[2018-03-03 09:27] davidhao3300 commented on #58834
I will verify if this is true on the master branch, it's possible that the change is not on 1.8.6, which is the version we use

[2018-03-03 09:28] nikhita commented on #50736
/remove-lifecycle rotten

@ixdy Feel free to close if this is something that does not need fixing.

[2018-03-03 09:29] nikhita commented on #49789
/cc @cblecker

[2018-03-03 09:33] nikhita commented on #23347
bump

[2018-03-03 09:33] nikhita commented on #24753
bump

[2018-03-03 09:37] nikhita commented on #13876
https://github.com/kubernetes/community/blob/master/contributors/guide/github-workflow.md doesn't have this anymore.

Closing.
/close

[2018-03-03 09:37] #13876 closed

[2018-03-03 09:45] Phanindra48 commented on #35758
We are on version 1.7.11 and here is how my config looks like.

[code]

I'm really not sure if it has to do anything with newer version.

[2018-03-03 10:25] #59079 closed

[2018-03-03 10:31] nikhita commented on #60724
/sig docs

[2018-03-03 10:40] nikhita commented on #59478
Need to dig into this but it reminds me of https://github.com/kubernetes/kubernetes/issues/56316 (https://github.com/kubernetes/kubernetes/pull/55650#discussion_r151848708).

[2018-03-03 12:23] scribnar commented on #35758
Thanks for the response. We were using the same version as you and upgraded due to the issues with forward for header being ignored

1. We are in AWS
2. We use custom nginx container with service type LoadBalancer.

This is the decision I have made. Stop using "Kind=Service" and start using "Kind: Ingress". This reduces additional work of having and maintaining custom nginx container and config.

[2018-03-03 12:26] wanghaoran1988 commented on #59555
@wgliang
This is still an multiple scheduler solution, instead of create the scheuler by your self, A "KubeScheduler" resource will responsible for launching a scheduler that have an schedule policy configured. the policy contains the subset priority/predicates functions you needed, a admissoin controller is responsible for setting the pod.spec.schedulerName.

[2018-03-03 13:07] Phanindra48 commented on #35758
Here is the minimalistic version of our cluster configuration. We use nginx as kubernetes ingress controller
https://github.com/Phanindra48/k8s-source-ip-aws

[2018-03-03 13:14] scribnar commented on #35758
Thanks for sharing, I will check this out.

[2018-03-03 13:51] k1-hedayati commented on #58834
I've checked this with `v1.9.3`

[2018-03-03 13:57] scribnar commented on #35758
Thanks @Phanindra48 . Here is how I fixed it.
I did not have to use ingress. Just the annotations and our existing nginx pod worked.

These are the annotations used.
`  annotations:
    # Enable PROXY protocol
    service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: '*'
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: 'https'
    service.beta.kubernetes.io/aws-load-balanc

[2018-03-03 15:16] onlyjob commented on #27543
Of course it is needed... This bug is still opened, isn't it?

[2018-03-03 15:40] wgliang commented on #59555
@wanghaoran1988
 OK, I understand what you mean. In other words, in fact, this subset is also determined. However, sometimes this subset is indeterminate to us and may be an arbitrary combination.
How can we solve it?

[2018-03-03 15:45] dims commented on #60745
/cc @janetkuo @kow3ns

[2018-03-03 16:39] ashishkel commented on #59959
Thanks to you rdrgporto

[2018-03-03 16:56] #11158 closed

[2018-03-03 18:04] kow3ns commented on #60437
The tests are green again.
/close

[2018-03-03 18:04] #60437 closed

[2018-03-03 18:06] kow3ns commented on #60003
The DaemonSet tests are green. We need to find owners from sig-network for the remaining serial tests.
Also, we need to update the test grid. The tests are now considered to be conformance.

[2018-03-03 18:37] azban commented on #19113
@satyrius, @Blue4x4Rebel, and other people trying to do this from outside of ec2: i got this working with the help of https://medium.com/@xynova/keeping-aws-registry-pull-credentials-fresh-in-kubernetes-2d123f581ca6 (thanks @xynova). you can then use this through standard [imagePullSecrets](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-pod-that-uses

[2018-03-03 20:29] rasheedamir commented on #22368
This works pretty nice as well: https://github.com/fabric8io/configmapcontroller

[2018-03-03 20:32] kow3ns commented on #60745
@dims triaged in progress

[2018-03-03 20:36] dims commented on #60745
@kow3ns i have never touched this test before ... so i just threw in a WIP, feel free to use/discard it. there seems to be lot of methods in there that is no longer used, may be we can rip those out too. (see 60747)

[2018-03-03 20:42] stealthybox commented on #59766
@jessicaochen the above PR works to address this :+1:

[2018-03-03 20:42] kow3ns commented on #47727
/close

[2018-03-03 20:42] #47727 closed

[2018-03-03 20:46] kow3ns commented on #45759
@soltysh argee
/close

[2018-03-03 20:46] #45759 closed

[2018-03-03 20:50] kow3ns commented on #51049
/close

[2018-03-03 20:50] #51049 closed

[2018-03-03 21:26] idvoretskyi commented on #60608
/cc

[2018-03-03 21:43] resouer commented on #5607
@msau42 @jiayingz This issue is out-of-date actually. CRI already support `devices` for long time and that's how device plugins works. But the user requirements here seems to be: specifying devices I want in the container. This is kinda conflict with DP right now which relies on Kubelet to maintain devices info and call `Allocate(devIDs)` to do that.

@hustcat How did you workaround `/dev/infiniba

[2018-03-03 21:43] #5607 closed

[2018-03-03 21:57] resouer opened #60748 "[feature requirements] specify hw devices in container"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
The previous discussion happened in #5607, which is pretty old and with no background of CRI, no to mention Device Plugin. Also, I believe the original requirement in #5607 should have already been fixed by Device Plugin.

While new requirements showing up is: **how to specify devices in container by user, or per DP r

[2018-03-03 22:04] cblecker commented on #49789
@divyenpatel what's your current output for `git remote -v`?

/assign

[2018-03-03 22:04] krzyzacy commented on #60003
gce-serial is not very stable, I'll update the issue after a few runs

[2018-03-03 22:23] janetkuo commented on #46981
/remove-lifecycle stale

[2018-03-03 22:26] bsalamat commented on #54190
We (SIG scheduling) have decided to remove the scheduling logic of DS controller and let default scheduler schedule DS pods as well.
ref/ https://docs.google.com/document/d/1v7hsusMaeImQrOagktQb40ePbK6Jxp1hzgFB9OZa_ew/edit

[2018-03-03 22:26] #54190 closed

[2018-03-03 23:52] bsalamat commented on #48657
/reopen
/lifecycle frozen

This issue still exists and is actually an important one.

[2018-03-04 04:14] ahmetb commented on #60092
This is now resolved since we added the blockade.
/close

[2018-03-04 04:14] #60092 closed

[2018-03-04 05:21] #59513 closed

[2018-03-04 05:41] nikhita commented on #50619
/remove-lifecycle stale

[2018-03-04 05:41] nikhita commented on #48466
/remove-lifecycle stale

[2018-03-04 05:42] nikhita commented on #44997
/remove-lifecycle stale

[2018-03-04 05:42] nikhita commented on #33057
/remove-lifecycle stale

[2018-03-04 05:42] Phanindra48 commented on #35758
Glad that you were able to resolve the issue 👍

[2018-03-04 05:42] nikhita commented on #32553
/remove-lifecycle stale

[2018-03-04 05:43] nikhita commented on #30085
/remove-lifecycle stale

[2018-03-04 05:43] nikhita commented on #53475
/remove-lifecycle stale

[2018-03-04 05:44] nikhita commented on #50634
/remove-lifecycle stale

[2018-03-04 05:44] nikhita commented on #26130
/remove-lifecycle stale

[2018-03-04 05:45] nikhita commented on #24157
/remove-lifecycle stale

[2018-03-04 05:45] nikhita commented on #50495
/remove-lifecycle stale

[2018-03-04 05:46] nikhita commented on #49549
/remove-lifecycle stale

[2018-03-04 05:47] nikhita commented on #48912
/remove-lifecycle stale

[2018-03-04 05:47] nikhita commented on #47318
/remove-lifecycle stale

[2018-03-04 05:47] nikhita commented on #45363
/remove-lifecycle stale

[2018-03-04 05:48] nikhita commented on #16040
/remove-lifecycle stale

[2018-03-04 05:48] nikhita commented on #7923
/remove-lifecycle stale

[2018-03-04 05:49] nikhita commented on #12450
/remove-lifecycle stale

[2018-03-04 05:50] nikhita commented on #14111
/remove-lifecycle stale

[2018-03-04 05:51] nikhita commented on #45043
/remove-lifecycle stale

[2018-03-04 05:51] nikhita commented on #43214
/remove-lifecycle stale

[2018-03-04 05:52] nikhita commented on #40555
/remove-lifecycle stale

[2018-03-04 05:52] nikhita commented on #39767
/remove-lifecycle stale

[2018-03-04 05:52] nikhita commented on #37473
/remove-lifecycle stale

[2018-03-04 05:53] nikhita commented on #14460
/remove-lifecycle stale

[2018-03-04 05:53] nikhita commented on #1685
/remove-lifecycle stale

[2018-03-04 05:54] nikhita commented on #35213
/remove-lifecycle stale

[2018-03-04 05:54] nikhita commented on #34363
/remove-lifecycle stale

[2018-03-04 05:55] nikhita commented on #31364
/remove-lifecycle stale

[2018-03-04 05:55] nikhita commented on #30822
/remove-lifecycle stale

[2018-03-04 05:55] nikhita commented on #30698
/remove-lifecycle stale

[2018-03-04 05:55] nikhita commented on #30338
/remove-lifecycle stale

[2018-03-04 05:56] nikhita commented on #30232
/remove-lifecycle stale

[2018-03-04 05:56] nikhita commented on #29896
/remove-lifecycle stale

[2018-03-04 05:56] nikhita commented on #28483
/remove-lifecycle stale

[2018-03-04 05:56] nikhita commented on #28101
/remove-lifecycle stale

[2018-03-04 05:57] nikhita commented on #25368
/remove-lifecycle stale

[2018-03-04 05:57] nikhita commented on #20165
/remove-lifecycle stale

[2018-03-04 05:57] nikhita commented on #19831
/remove-lifecycle stale

[2018-03-04 05:57] nikhita commented on #19432
/remove-lifecycle stale

[2018-03-04 05:58] nikhita commented on #16627
/remove-lifecycle stale

[2018-03-04 05:58] nikhita commented on #6716
/remove-lifecycle stale

[2018-03-04 05:58] nikhita commented on #3030
/remove-lifecycle stale

[2018-03-04 06:18] igoratencompass opened #60749 "Failed to allocate requested HealthCheck NodePort, provided port is already allocated"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Service of type LoadBalancer in AWS fails to get created when using `healthCheckNodePort` with value of one of the node ports in a multi-port Service. **Im trying to set a specific heath check port in the ELB created by the Service otherwise it picks up the first one in the list by default**. The service can see it is it'

[2018-03-04 06:29] igoratencompass commented on #60749
/sig aws

[2018-03-04 07:23] dlipovetsky commented on #60541
@dims I've made progress and will keep working on the PR., but I just became aware of [support for exec-based, out-of-tree auth providers](https://github.com/kubernetes/kubernetes/pull/59495) may land in v1.10. I have not seen any indication that in-tree auth providers will be deprecated.

The exec-based auth provider means the `openstack` command-line client can be used to get a token. On the oth

[2018-03-04 08:28] marcellodesales commented on #42926
@bamb00 looking for the same...

[2018-03-04 08:42] nikhita commented on #48657
/remove-lifecycle rotten

[2018-03-04 08:43] nikhita commented on #45594
/remove-lifecycle rotten
/kind documentation

[2018-03-04 08:44] nikhita commented on #44263
/remove-lifecycle rotten

[2018-03-04 08:45] nikhita commented on #44263
I guess this is

/kind tech-debt

[2018-03-04 08:45] nikhita commented on #44263
/kind technical-debt

[2018-03-04 08:46] nikhita commented on #43174
/remove-lifecycle rotten

[2018-03-04 08:46] nikhita commented on #41369
/remove-lifecycle rotten

[2018-03-04 08:47] nikhita commented on #38521
/remove-lifecycle rotten

[2018-03-04 08:47] nikhita commented on #36716
/remove-lifecycle rotten

[2018-03-04 08:48] nikhita commented on #30861
/remove-lifecycle rotten

[2018-03-04 08:49] nikhita commented on #30781
/remove-lifecycle rotten

[2018-03-04 08:49] nikhita commented on #29391
/remove-lifecycle rotten

[2018-03-04 08:50] nikhita commented on #23816
/remove-lifecycle rotten

[2018-03-04 08:50] nikhita commented on #20767
/remove-lifecycle rotten

[2018-03-04 08:51] nikhita commented on #19310
/remove-lifecycle rotten

[2018-03-04 08:51] nikhita commented on #19309
/remove-lifecycle rotten

[2018-03-04 08:52] nikhita commented on #15858
/remove-lifecycle rotten

[2018-03-04 08:52] nikhita commented on #15636
/remove-lifecycle rotten

[2018-03-04 08:53] nikhita commented on #12089
/remove-lifecycle rotten

[2018-03-04 08:54] nikhita commented on #9083
/remove-lifecycle rotten

[2018-03-04 08:57] k82cn commented on #59555
Multi-scheduler is the draft idea in my mind: k8s can launch scheduler based on configuration, similar to timothysc@ 's bootstrap proposal; but I'm also open other options, e.g. use different configuration for different 'Queue' (with a global policy to avoid conflict), or others. let me take sometime to dump it into a doc :)

@wgliang , any specific user case here :)

[2018-03-04 08:57] nikhita commented on #37254
/remove-lifecycle rotten
/lifecycle frozen

[2018-03-04 08:59] joaocc opened #60751 "Deploy haveged as part of base image to prevent low-entropy situations"
Nodes can run into low entropy situations.
Currently, one approach to deal with with is to deploy a privileged pod to every node via DaemonSet. Having this installed on the base image would address this.

More info here:
* http://www.irisa.fr/caps/projects/hipsor/
* http://issihosts.com/haveged/

Packages exist for debian:
* https://packages.debian.org/wheezy/haveged
* https://packages.debian.org/

[2018-03-04 08:59] nikhita commented on #59856
/cc @sttts

[2018-03-04 09:03] k82cn commented on #58406
Agree; it's up to 'user' to decide whether tolerates the taint, we just need to taint it and doc what's happened in node for taints :)

[2018-03-04 09:06] nikhita commented on #54709
/remove-lifecycle rotten

[2018-03-04 09:09] joaocc commented on #60751
/sig node

[2018-03-04 09:30] redbaron commented on #59848
Is anything else affected by it? Can same ReadWriteOnce PV attempted to be mounted on multiple nodes simultaneously due to this problem?

[2018-03-04 10:00] joaocc commented on #60751
Some tests to show how this is an issue. These were made on AKS, but it's very likely that the results will be similar in AWS, GoogleCloud and others...

Exec the following in any idle pod on an idle node (a ssh image like ```rastasheep/ubuntu-sshd:16.04 ``` will do)
[code]
In a cluster where nodes did have haveged via chart installed, this is a typical result:
[code]
Ina

[2018-03-04 11:00] dawidmalina commented on #42926
Check https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md section: External Dependencies.

But to be honest we are using docker ce 17.06.x and it's working ok for us.

[2018-03-04 12:08] funky81 commented on #39235
i'm having this problem also. any suggestions on how to get it work?

[2018-03-04 12:13] funky81 commented on #39701
any solutions for this?

[2018-03-04 12:21] manideepanchoori opened #60752 "What Is Kubernetes ?"
Can anyone help me to understand Kubernetes and Docker in a simple way please.

Thanks,
Manideep

[2018-03-04 12:52] pineking commented on #59717
@YanjieGao do you see some gpu metrics from http://hostip:4194/metrics  , like `container_accelerator_duty_cycle` `container_accelerator_memory_total_bytes` `container_accelerator_memory_used_bytes`

[2018-03-04 13:22] liggitt commented on #59354
Fixed in https://github.com/kubernetes/kubernetes/issues/57326
/close

[2018-03-04 13:22] #59354 closed

[2018-03-04 13:24] liggitt commented on #59864
`kubectl proxy` is not really intended to be run in the background, but if you wanted to, you could run it in the background like any other backgrounded process (e.g. `kubectl proxy &`)

/close

[2018-03-04 13:24] #59864 closed

[2018-03-04 16:17] llofberg commented on #42599
4GB was not enough to run "make". 8GB did the trick.

[2018-03-04 17:15] wied03 commented on #27282
@zhouhaibing089 - Did anything ever happen with this?

[2018-03-04 17:51] khenidak commented on #60646
@jhorwit2 Who from the cloud provider area do we need to engage on this? I am trying to move it further.

[2018-03-04 18:27] phsiao commented on #59676
I am not sure if this is just a stale cache problem.  It looks to me that the controller manager has a stale cache that it thinks the jobs are still there, but on restart they were corrected.  Is there a way for me to verify that if this happens next time?

[2018-03-04 18:30] phsiao commented on #59676
Worth noting is that we have also upgraded the control plane to 1.9.3 and 1.8.8 since the issue last appeared.  I am not sure if #58547 is a factor or not.

[2018-03-04 18:34] kow3ns commented on #41193
/remove-lifecycle rotten

[2018-03-04 18:35] kow3ns commented on #32528
/close

[2018-03-04 18:35] #32528 closed

[2018-03-04 18:40] nabadger commented on #7339
This is still an issue right? Are there any plans to resolve this, or any suggested workarounds (that still make use of $HOME or ~ ?

At the moment the documentation for kubectl is wrong:

`kubectl config set-cluster --help`

suggests:

`kubectl config set-cluster e2e --certificate-authority=~/.kube/e2e/kubernetes.ca.crt`

which (if for example I'm in /tmp), results in:

`certificate-authority: /t

[2018-03-04 18:41] kow3ns commented on #30991
This appears to work using delete or replace in the strategic merge patch and via kubectl apply.
see https://github.com/kubernetes/community/blob/master/contributors/devel/strategic-merge-patch.md.
/close

[2018-03-04 18:41] #30991 closed

[2018-03-04 19:00] krzyzacy commented on #59764
(seems this issue is not as useful and not documented as part of release process, I'll just close it, but feel free to reopen if necessary)

[2018-03-04 20:10] anguslees commented on #46442
don't. This disparity leads to stopped nodes being deleted in AWS/OpenStack
clusters when the user turns it off in the cloud for scheduled maintenance,
but not in GKE.

I agree that this is the core issue here, and I propose we just change this
part of the providers rather than add another layer that works around this
difference.

 - Gus

[2018-03-04 20:40] smarterclayton commented on #59848
Any controller or client using an informer that is sending rv=0 and has the stock kubernetes config AND is running against either etcd HA or apiserver HA is vulnerable to stale reads until we put a mitigation in place.  Any client that doesn't execute a write or perform a live read prior to operating on some external state (like a remote api or state of a host) would potentially be able to go back

[2018-03-04 21:53] vincentmli commented on #60161
add masquerade-all and cluster-cidr in config yaml file for kube-proxy like below  in hack/cluster-worker.sh resolved the problem, it appears specify the flag argument --masquerade-all and --cluster-cidr for kube-proxy does not pass the argument value to ipvs proxier, that is different problem though. anyway, I think masquerade-all and cluster-cidr  is what I needed, not sure if this is the best a

[2018-03-04 21:57] vincentmli commented on #60161
for reference, the nat table rule in worker node ended up with below, KUBE-MARK-MASQ is referenced by KUBE-SERVICES

iptables -t nat -n -L<pre>

Chain PREROUTING (policy ACCEPT)
target     prot opt source               destination
KUBE-SERVICES  all  --  0.0.0.0/0            0.0.0.0/0            /* kubernetes service portals */

Chain INPUT (policy ACCEPT)
target     prot opt source

[2018-03-04 22:12] shtouff commented on #17512
My way to obtain the allocation, cluster-wide:

[code]
It produces something like:

[code]

[2018-03-04 22:34] igoratencompass commented on #60749
Closing after re-reading https://kubernetes.io/docs/tutorials/services/source-ip/

[2018-03-04 22:34] #60749 closed

[2018-03-04 23:50] glb commented on #45293
Update: I've looked at the huge amount of additional code that would be imported as a result of importing sprig and decided to go with a much smaller change instead, which is simply to implement a `b64dec` template function using `base64.StdEncoding.DecodeString`. See PR with code and test.

[2018-03-04 23:56] jhorwit2 commented on #60646
@khenidak The route controller [is part of the cloud controller manager / aka cloud provider logic](https://github.com/kubernetes/kubernetes/blob/master/cmd/cloud-controller-manager/app/controllermanager.go#L240). I added the label since we have other efforts going on w/ the route controller as well to clean it up and remove the route logic from the cloud node controller.

I'd recommend #wg-cloud-

[2018-03-05 00:32] ilyalukyanov commented on #60060
@feiskyer thanks for your response.

Yes, backend pods for the service are created and ready. The output of `kubectl -n development describe service test-service` is:
[code]

I can reproduce it in 100% cases. No nodes in the backend pool and no association with an availability set:
![screen shot 2018-03-05 at 1 29 39 pm](https://user-images.githubusercontent.com/3818101/36952814-6a603414-2079-11e8

[2018-03-05 00:41] #58546 closed

[2018-03-05 00:47] BenTheElder commented on #27578
I would *love* < 30 but it's definitely ~ <60. Alerting humans is problematic because it's difficult to get people to own / work on the tests even when they're broken (which [we have alerting for right now](https://github.com/kubernetes/test-infra/tree/master/testgrid/cmd/config#email-alerts), though many tests have nobody signed up for the alerts) but I'd like this as well..

[2018-03-05 00:51] BenTheElder commented on #24753
We're doing more but not all of this yet. Not sure if we still need this @fejta @spiffxp

[2018-03-05 01:05] BenTheElder commented on #59762
We publish `ci/latest-bazel(-1.X)?` tags now, and I've switched `ci-kubernetes-e2e-kubeadm-gce` to pull from these which should avoid serialization issues, but this job still fails to get a kubeconfig. I'm not sure what's wrong currently.

[2018-03-05 01:12] BenTheElder commented on #51623
Hmm, if you want to run in docker with all the tools supplied you can use [planter](https://github.com/kubernetes/test-infra/tree/master/planter), the only reasons building without bazel doesn't get similar errors with the cgo bits in particular are:
- we build inside docker images with the tools for make (quick-)?release
- we don't build things like Debians / RPMs (to my knowledge) except with ba

[2018-03-05 02:07] #24753 closed

[2018-03-05 02:51] karataliu commented on #56523
The following E2E case depends it listening on 4194, could consider updating:
 'should proxy to cadvisor using proxy subresource'

https://github.com/kubernetes/kubernetes/blob/b114a117f8688310b9162961d8e9b15192eacd50/test/e2e/network/proxy.go#L77

[2018-03-05 03:10] caoshuilanting commented on #60719
sdfs

[2018-03-05 03:13] zq-david-wang commented on #57955
I got similar issue in my k8s1.6 cluster, node was stuck in NotReady state..

[2018-03-05 03:26] evandigby commented on #58834
This is also true for `kubectl create -f`...

[2018-03-05 03:32] feiskyer commented on #60060
@ilyalukyanov Thanks of details. The issue should be fixed with https://github.com/kubernetes/kubernetes/pull/59747, which will be included in kubernetes v1.9.4. Could you verify whether the cherry-pick (https://github.com/kubernetes/kubernetes/pull/59754) solved the problem?

[2018-03-05 04:05] ilyalukyanov commented on #60060
@feiskyer Awesome, thanks for the fix! It's currently problematic for me to try, but we'll plan this work and I'll confirm here once I get a chance to test.

[2018-03-05 04:17] krzyzacy commented on #60003
Seems there are multiple failing/flaky tests, I'll open a few more issues and leave this one open as an umbrella issue until two suites becomes fully green.

[2018-03-05 04:19] krzyzacy opened #60761 "[test failed] Services should work after restarting apiserver"
This test is failing in both gce serial suite:
http://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-serial

/sig network
/priority failing-test
/priority critical-urgent
/kind bug
/status approved-for-milestone

cc @jdumars @jberkus @MrHohn
/assign @thockin @dcbw @caseydavenport
PTAL

[2018-03-05 04:19] krzyzacy commented on #60761
xref https://github.com/kubernetes/kubernetes/issues/60003

[2018-03-05 04:21] krzyzacy opened #60762 "[test failed] regular resource usage tracking resource tracking for 0 pods per node"
This test is failing in gke serial suite:
http://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial

/sig node
/priority failing-test
/priority critical-urgent
/kind bug
/status approved-for-milestone

cc @jdumars @jberkus
/assign @dchen1107 @derekwaynecarr

also cc @dashpole @yujuhong @Random-Liu in case you already have some idea
xref #60003

[2018-03-05 04:23] krzyzacy commented on #60745
xref #60003

[2018-03-05 04:24] krzyzacy commented on #60725
xref #60003
/priority failing-test
/priority critical-urgent

[2018-03-05 04:28] resouer commented on #60748
Here's one solution (workaround), which has been used by us to handle https://github.com/kubernetes/kubernetes/issues/49964

Return whatever the container need in `AllocateResponse`, so those devices will be attached in container, while kubelet does not (and no need to) aware that.

[code]

[2018-03-05 04:29] krzyzacy opened #60763 "[failing test] should restart all nodes and ensure all nodes and pods recover"
This test is failing in gce serial suite:
http://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-serial

/sig cluster-lifecycle
/priority failing-test
/priority critical-urgent
/kind bug
/status approved-for-milestone

cc @jdumars @jberkus
/assign @roberthbailey @luxas @lukemarsden @jbeda

xref #60003

[2018-03-05 04:32] vikaschoudhary16 commented on #60748
seems related https://github.com/kubernetes/kubernetes/issues/59380#issuecomment-366171312

As we discussed offline, it seems another example of `unlimited` resources like `/dev/kvm`

[2018-03-05 04:34] krzyzacy opened #60764 "[job failed] 1.9-master upgrade|downgrade jobs"
this is an unbrella issue for k8s-testgrid.appspot.com/sig-release-master-upgrade

there are multiple test failures, and I will open individual issues for each failing test

/priority failing-test
/priority critical-urgent
/kind bug
/status approved-for-milestone
/sig cluster-lifecycle
/sig gcp

cc @jdumars @jberkus
and also cc @krousey who's our upgrade expert

[2018-03-05 04:34] krzyzacy commented on #60764
/milestone v1.10

[2018-03-05 04:34] krzyzacy commented on #60763
/milestone v1.10

[2018-03-05 04:35] krzyzacy commented on #60762
/milestone v1.10

[2018-03-05 04:35] krzyzacy commented on #60761
/milestone v1.10

[2018-03-05 04:36] feiskyer commented on #60060
v1.9.4 is not released yet, it would need sometime to support this.

[2018-03-05 04:36] vikaschoudhary16 commented on #60748
In normal case also, kubelet is not aware what is being passed to CRI. :)

[2018-03-05 04:39] krzyzacy opened #60765 "[test failed] [1.10 upgrade] Servers with support for Table transformation"
the tests are failing in http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.9-master-upgrade-master

/sig sig-api-machinery
/priority failing-test
/priority critical-urgent
/kind bug
/status approved-for-milestone
/milestone v1.10

cc @jdumars @jberkus
/assign @lavalamp @deads2k

[2018-03-05 04:40] krzyzacy commented on #60765
xref https://github.com/kubernetes/kubernetes/issues/60764

[2018-03-05 04:44] krzyzacy commented on #60761
this also fails in http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.9-master-upgrade-master

[2018-03-05 04:47] krzyzacy opened #60766 "[test failed] [1.10 upgrade] Dynamic Provisioning DynamicProvisioner"
the tests are failing in http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.9-master-upgrade-master

/sig sig-storage
/priority failing-test
/priority critical-urgent
/kind bug
/status approved-for-milestone
/milestone v1.10

cc @jdumars @jberkus
/assign @saad-ali @childsb

[2018-03-05 04:47] krzyzacy commented on #60766
/milestone v1.10

[2018-03-05 04:48] krzyzacy commented on #60766
xref #60764

[2018-03-05 04:49] krzyzacy opened #60767 "[test failed] [1.10 upgrade][gci-gke] Kubernetes Dashboard should check that the kubernetes-dashboard instance is alive"
the tests are failing in http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.9-master-upgrade-master
also in https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke

/sig sig-ui
/priority failing-test
/priority critical-urgent
/kind bug
/status approved-for-milestone

cc @jdumars @jberkus
/assign @danielromlein @floreks

[2018-03-05 04:52] krzyzacy opened #60768 "[test failed] [1.10 upgrade] Cadvisor should be healthy on every node"
the tests are failing in http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.9-master-upgrade-master

/sig sig-instrumentation
/priority failing-test
/priority critical-urgent
/kind bug
/status approved-for-milestone

cc @jdumars @jberkus
/assign @piosz @fabxc
also cc @dashpole for cadvisor I guess

[2018-03-05 04:52] krzyzacy commented on #60767
/sig ui

[2018-03-05 04:52] krzyzacy commented on #60768
/sig instrumentation

[2018-03-05 04:53] krzyzacy commented on #60766
/sig storage

[2018-03-05 04:53] krzyzacy commented on #60768
xref https://github.com/kubernetes/kubernetes/issues/60764

[2018-03-05 04:53] krzyzacy commented on #60765
/sig api-machinery

[2018-03-05 04:56] krzyzacy opened #60769 "[test failed] [1.10 upgrade] Proxy version v1"
the tests are failing in http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.9-master-upgrade-master

/sig network
/priority failing-test
/priority critical-urgent
/kind bug
/status approved-for-milestone

cc @jdumars @jberkus
/assign @thockin @dcbw @caseydavenport

[2018-03-05 05:00] krzyzacy commented on #60764
cc @kubernetes/sig-cluster-lifecycle-bugs
I think sig-cluster-lifecycle want to triage the downgrade suite which is timing-out on downgrading
/assign @roberthbailey @luxas @lukemarsden @jbeda
assign you folks for now, please reassign as appropriate

[2018-03-05 05:03] krzyzacy commented on #60763
this also fails in upgrade suite
xref https://github.com/kubernetes/kubernetes/issues/60764

[2018-03-05 05:04] krzyzacy commented on #60762
this also failed in upgrade jobs: http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.9-master-upgrade-cluster

xref https://github.com/kubernetes/kubernetes/issues/60764

[2018-03-05 05:17] amshuman-kr commented on #52345
How about introducing a new RestartPolicy value such as **AlwaysPod** which means always restart the pod whenever any containers dies?

I.e. the whenever any (non-init) container of the pod dies then the remaining healthy containers should be terminated and the pod restarted (in the same node), starting with the init-containers.

This approach can cover one of the common/simple use-case for init-c

[2018-03-05 05:29] resouer commented on #60748
Yes, I believe `/dev/infiniband/rdma_cm` case can drop in #59380. We will move discussion there.

I will still keep this issue open to track other use cases as well.

[2018-03-05 05:44] ryanmcnamara opened #60770 "Kube scheduler not finding PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:
bug report

/kind bug

**What happened**:

Kube scheduler could not attach a PVC to a pod, it thought that the PVC did not exist when it did. The event on the pod was
pod name: svc-221087-0
[code]
And there were numerous logs in the kube scheduler:
[code]
And yet
[code]

I restarted the kube-scheduler and the new instance was immediately able to find t

[2018-03-05 05:50] jennybuckley commented on #59124
/assign

[2018-03-05 05:53] jennybuckley commented on #56761
This should be closed I think, because https://github.com/kubernetes/kubernetes/pull/59073 merged.

[2018-03-05 06:01] floreks commented on #60767
We will investigate it.

[2018-03-05 06:17] liggitt commented on #60769
getting a 404 on the request. is there any chance these are 1.9 e2e tests running on a 1.10 master?

[2018-03-05 06:19] liggitt commented on #60769
appears to be... `404; 17.489542ms): path /api/v1/proxy/namespaces/e2e-tests-proxy-6gpj9`

the deprecated `/api/v1/proxy/...` paths were removed in https://github.com/kubernetes/kubernetes/pull/59884

do we need to go back and conditionally disable these tests in the 1.9 branch?

/assign @mikedanese

[2018-03-05 06:20] ryanmcnamara commented on #60770
/sig storage

[2018-03-05 06:26] liggitt commented on #60719
/status in-progress

[2018-03-05 06:31] m1093782566 commented on #54497
I am going to close this issue in favor of discreating issues.

We are working on https://github.com/kubernetes/kubernetes/issues/59402 now.

[2018-03-05 06:31] m1093782566 commented on #54497
/close

[2018-03-05 06:31] #54497 closed

[2018-03-05 06:35] grubbywww commented on #18632
I have the same question? any update till now?

[2018-03-05 06:35] grubbywww commented on #18632
web kubnetes terminal

[2018-03-05 06:37] gogeof commented on #60752
Interesting. And does kubernetes has limit itself on what it never do?

[2018-03-05 06:43] feiskyer commented on #60691
Seems it's a bug within azure cloud provider. Let me check what's wrong.

[2018-03-05 06:51] MikeSpreitzer commented on #60484
I updated the experiment write-up with some new trials.  The latest includes log and data files.

[2018-03-05 07:05] feiskyer commented on #60691
Added to v1.10 milestone since it is a critical bug fix.

cc @jdumars

[2018-03-05 07:05] feiskyer commented on #60691
/status approved-for-milestone

[2018-03-05 07:07] whisper-bye commented on #42885
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", GitTreeState:"clean", BuildDate:"2018-02-09T21:51:54Z", GoVersion:"go1.9.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"", Minor:"", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"c

[2018-03-05 08:04] vikaschoudhary16 commented on #59380
I think current API is sufficient to handle all the discussed use-cases of re-allocatable/unlimited/infinite resources.
For "Capabilities"(resources which are not consumed directly by containers but still to be considered by steering pods to the nodes), i think NFD is a good candidate to consider.

[2018-03-05 08:04] fabiand commented on #39892
/remove-lifecycle rotten
/reopen

[2018-03-05 08:28] kargakis opened #60777 "[sig-auth] Advanced Audit should audit API calls flake"
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/60728/pull-kubernetes-e2e-gce/24504/

@kubernetes/sig-auth-test-failures

[2018-03-05 08:30] vainu-arto commented on #57382
@jberkus The fix to this was merged into master, and also exists in the release-1.10 branch. Is there an action that needs to be taken or should this issue be closed as done instead?

[2018-03-05 08:34] jsafrane opened #60778 "Deletion of AWS EBS is not idempotent"
AWS EBS volume may not be deleted when controller-manager is restarted at wrong time.

1. Have dynamically provisioned PVC.
2. Delete the PVC.
3. Controller deletes underlying EBS.
4. Restart controller before it deletes associated PV.
5. Controller finds PV that needs to be deleted and calls cloud provider to do so.

-> AWS cloud provider returns error that the volume has been already deleted
->

[2018-03-05 08:43] kargakis commented on #60777
/kind flake

[2018-03-05 08:56] k82cn commented on #60770
/sig scheduling

[2018-03-05 08:59] yue9944882 commented on #60752
Kubernetes is the truth :-)

[https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/](https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/)

[2018-03-05 09:01] qiujian16 opened #60781 "the port field returned from kubectl get ingress cannot be customized"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The value of port field shown when running kubectl get ingress is either 80 or 443, if the ingress controller expose another specified port. There is no way for ingress controller to update the status of ingress, and show it to the user.

**What you expected to happen**:
User should be able to view the right port of ingre

[2018-03-05 09:04] k82cn commented on #60726
do we know which pods get port conflict? exist service? static pods? or others?

[2018-03-05 09:10] k82cn commented on #60616
it dependents, some extender are used to sync up external resources.

[2018-03-05 09:10] max-rocket-internet commented on #56165
OK thanks for the info @MaciekPytel !

[2018-03-05 09:11] kopiczko commented on #60691
@feiskyer I saw your PR. Thanks! However I'm uncertain how this was working in 1.9?

[2018-03-05 09:13] yue9944882 commented on #60781
WDYM? Ingress controller is not supposed to edit ingress proactively.

[2018-03-05 09:18] k82cn commented on #60405
nop, but you can use device plugin to build one.

/sig node

maybe an example device plugin is better.

[2018-03-05 09:19] qiujian16 commented on #60781
@yue9944882 commonly, ingress controller updates status of ingress resource

[2018-03-05 09:26] iwankgb opened #60782 "HugePages should be restricted via LimitRange"
/kind feature
See: #53672

It should be possible to set default hugepages limit and request per namespace as it is possible for [memory](https://kubernetes.io/docs/tasks/administer-cluster/memory-default-namespace/).

[2018-03-05 09:26] iwankgb commented on #60782
/sig node

[2018-03-05 09:41] m1093782566 commented on #38890
There is a proposal on [Support traffic shaping for CNI network plugin](https://github.com/kubernetes/community/pull/1893), which is intended to fix "traffic shaper", please check it out.

[2018-03-05 09:41] m1093782566 commented on #44409
There is a proposal on [Support traffic shaping for CNI network plugin](https://github.com/kubernetes/community/pull/1893), which is intended to fix "traffic shaper", please check it out.

Thanks!

[2018-03-05 09:42] hzxuzhonghu opened #60784 "generic apiserver should support logsHandler"
now only kube-apiserver support logs handler `/logs`

We should support it for all generic apiservers.

/sig api-machinery

[2018-03-05 09:42] crassirostris commented on #60719
@tallclair

No, because audit logging _tests_ are not enabled in scalability tests, there's [`DisabledForLargeClusters` in the test name](https://github.com/kubernetes/kubernetes/blob/baf93c060e04ca9caf8a4a648d39b58eb7181449/test/e2e/auth/audit.go#L60)

[2018-03-05 09:42] crassirostris commented on #60719
I think the e2e test fix is better in this case

[2018-03-05 09:44] hzxuzhonghu commented on #60784
/assign

[2018-03-05 09:57] Nefelim4ag opened #60787 "PODs Request/Limits in Hz for workaround case with non heterogeneous processors in cluster"
/kind feature

The problem:
We have not heterogeneous cluster with several types of Xeon CPUs and different speed.
That leads to some scheduling problems where cpu 200m on one server != 200m other.
Currently we maintain some duck tapes to beat that.

May be that make a sense to add a general feature that can scale cpu capacity based on cpu speed?

i.e. example:
set per cluster 2 GHz as 100%, and t

[2018-03-05 09:57] MaciekPytel commented on #56335
/remove-lifecycle stale

I'm not convinced we want to expose the fields as requested in this issue, but the problem of arbitrary forbidden periods and 2x limit on scale-up is still there and needs to be addressed.

[2018-03-05 10:00] Nefelim4ag commented on #60787
/sig scheduling

[2018-03-05 10:17] ant31 commented on #54579
In case it helps

I'm a maintainer of [prometheus-operator](https://github.com/coreos/prometheus-operator), its CRD uses many of the Kubernetes API specifications.
To add CRD validation, we developed a small OpenAPI generator to inline all references.
output example: https://github.com/coreos/prometheus-operator/blob/master/example/prometheus-operator-crd/prometheus.crd.yaml

To use it:
- statical

[2018-03-05 10:24] #60691 closed

[2018-03-05 10:27] jobrs commented on #28610
👍

[2018-03-05 10:30] openstacker commented on #55867
Confirmed on Fedora atomic 27 with v1.9.3

[2018-03-05 10:51] yue9944882 commented on #60770
Information about PVC is retrieved via informer. The cache inside reflector might be outdated if it's too busy to apply watch events into indexer. But the `resyncPeriod` of informer is set to `0` currently so the reflector could not able to recover from overwhelming by watch events.

[https://github.com/kubernetes/kubernetes/blob/58731ae627ec195496222aa44b78d9dffef5ec21/cmd/kube-scheduler/app/serv

[2018-03-05 11:09] shyamjvs commented on #60589
Seems like PR https://github.com/kubernetes/kubernetes/pull/60740 fixed the timeout issues - thanks @msau42 for quick response.
Our correctness jobs (both 2k and 5k) are back to green now:
- https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-large-correctness
- https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness

So [my suspicion](https://github.com/kubernetes/kubernet

[2018-03-05 11:17] fabiand commented on #28610
/remove-lifecycle stale

[2018-03-05 11:21] shyamjvs commented on #60589
ACK.  In progress
ETA: 9/3/2018
Risks: Potential impact on k8s performance

[2018-03-05 11:28] chestack commented on #58217
+1

kubernets:  v1.9.2
docker:  17.03.2-ce

du command hang there with this log in kubelet

[2018-03-05 11:36] james-masson opened #60789 "Make pod hostname/subdomain feature compatible with Deployments"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

Following this guide - https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods-hostname-and-subdomain-fields

Specifically.

I expect to be able to use this feature in a Deployment, as deploying individual pods is not a scalable pattern.

Specifying a subdomain in the deployment works correctly.

[2018-03-05 11:37] iwankgb commented on #60782
CC: @kubernetes/sig-node-feature-requests @ConnorDoyle @derekwaynecarr

[2018-03-05 11:51] floreks commented on #60767
@krzyzacy

[Failed test](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1385#sig-ui-kubernetes-dashboard-should-check-that-the-kubernetes-dashboard-instance-is-alive) points to a [code](https://github.com/kubernetes/kubernetes/blob/d361f68b505f55/test/e2e/ui/dashboard.go#L90) that was removed in [#53766](https://github.com/kubernete

[2018-03-05 11:58] maxnitze commented on #56698
Think there was a type in the last comment. This seems to be a duplicate of #56693 . The other mentioned one is this here. A little confusing :)

[2018-03-05 12:19] liggitt commented on #60777
Duplicate of https://github.com/kubernetes/kubernetes/issues/60719
/close

[2018-03-05 12:19] #60777 closed

[2018-03-05 12:24] hustcat commented on #60748
@resouer Great!! It's wonderful, I like this simple way to support passing host devices to container ;)

[2018-03-05 12:53] ITler commented on #55867
Seeing `Failed to update Node Allocatable [...]` also with K8s 1.8.6 on AzureGermanCloud with Ubuntu 16.04.1 LTS and Kernel 4.4.0-116-generic

[2018-03-05 13:29] ankon commented on #25379
/remove-lifecycle rotten

[2018-03-05 13:41] james-masson commented on #60789
/sig Apps

[2018-03-05 13:48] deads2k commented on #60765
/assign @soltysh
/assign @juanvallejo

[2018-03-05 14:06] mattjmcnaughton commented on #59975
@DirectXMan12 @MaciekPytel is anyone actively working on implementing this? If not, I'm happy to. I think I have a fairly clear picture of the change we need to make and will likely have time early this week to get it done.

[2018-03-05 14:06] mattjmcnaughton commented on #59975
(Also, from the conversation above, to we want to tag this as a release blocker for 1.10)?

[2018-03-05 14:08] mattjmcnaughton commented on #60511
@DirectXMan12 @liggitt happy to take a shot at implementing this if no one else is working on it - would be a fun chance to work on part of the code I haven't really dealt with before :)

[2018-03-05 14:10] zhouhaibing089 commented on #27282
@wied03: not I am aware of.. I will check later..

[2018-03-05 14:22] MaciekPytel commented on #59975
@mattjmcnaughton I probably won't be able to work on this before the end of this week. Happy to do a review if you jump in and implement it.

[2018-03-05 14:23] mausch commented on #45626
FWIW I just had an instance of "Error syncing pod" (not sure how to get more details about it) on most pods in one node only. I "fixed" it by restarting the docker daemon.

[2018-03-05 14:38] wied03 commented on #27282
I haven't tested this but I think this issue still remains because the docs @pizzarabe mentions talk about specifying the label. The "desired" behavior that Docker does is the container runs as a random, unused MCS label and then the Z flag has Docker relabel the volume with the MCS label it chose for the container.

There are mount options in K8s now (could Z be passed in there) but it looks like

[2018-03-05 14:39] divyenpatel commented on #49789
@cblecker here is the output of `git remove -v`

[code]

[2018-03-05 14:41] Vskilet commented on #60652
@prashima
- It's request for better messaging which include to be better in the dashboard.
- Deployment still not up.
- The deployment is with helm

[code]

[2018-03-05 14:49] max-rocket-internet commented on #56165
I've seen this again today:
1. Scaling up
2. `unable to get metrics for resource`
3. Sharp scale down
4. Scale back up again.

[code]

Maybe the sharp scale down from 28 > 15 is not related but this was during a load test so load should be constant and not fluctuating at all.

[2018-03-05 14:54] rrati commented on #46442
I like the idea of an interface that removes the decision making from the cloud providers themselves.  A core issue, imo, is that the cloud provider modules are making decisions for kubernetes.

[2018-03-05 14:57] crassirostris commented on #60719
Filed https://github.com/kubernetes/kubernetes/pull/60794 to fix the problem

I still believe that using buffered audit logging is a better default, since slowing down all api requests is a pretty serious drawback and should be enabled consciously

[2018-03-05 15:02] wied03 commented on #31613
@sayash - I don't think the PR above addresses the tmpfs issue fully. The `sizeLimit` field in https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#emptydirvolumesource-v1-core might do what you were talking about. There are no general mount options for volumes though from what I can tell and the `mountOptions` support is only for persistent volumes (and emptyDir isn't on the list).

[2018-03-05 15:11] jsafrane commented on #60766
This looks similar to https://github.com/kubernetes/kubernetes/pull/56600. Were all tests there updated? @msau42, @jingxu97, WDYT?

[2018-03-05 15:39] gavk34 opened #60795 "Wildcard DNS entry for supported for hostAliases"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:
Attempted to apply wildcard DNS entry for hostAliases

[code]

**What you expected to happen**:
Wildcard should be accepted

**How to reproduce it (as minimally and precisely as possible)**:
apply the following
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl vers

[2018-03-05 15:46] gavk34 commented on #60795
@kubernetes/sig-network-bugs

[2018-03-05 15:53] gavk34 commented on #60795
Actually will close this, host files do not support wildcards anyhow. However I can resolve this using a stubDomain. Sorry
http://blog.kubernetes.io/2017/04/configuring-private-dns-zones-upstream-nameservers-kubernetes.html

[2018-03-05 15:53] #60795 closed

[2018-03-05 16:03] soltysh commented on #60765
The three tests in `test/e2e/apimachinery/table_conversion.go` should be run only on 1.10+ servers. I'm just putting a PR together, should be up within next hour or so.

[2018-03-05 16:11] DirectXMan12 commented on #59975
I don't think this qualifies as a release blocking bug (but I'm willing to have someone try and convince me otherwise ;-)).  There doesn't seem to be any behavior here that's explicitly *broken* -- it's just sub-optimal in some use cases.  I'd definitely like to address this in 1.11, though.

[2018-03-05 16:16] DirectXMan12 commented on #59888
/status in-progress

In progress, attempting to reproduce.  Hope to reproduce today or tomorrow, expect fix to not be terribly complicated

[2018-03-05 16:25] ivantichy commented on #60315
[code]

[2018-03-05 16:26] 7mllm7 commented on #60333
We're also seeing this, every 30 seconds even!

[2018-03-05 16:32] JorritSalverda commented on #39423
This issue is still causing us trouble in Kubernetes Engine version `1.9.2-gke.1`.

Last week we shifted hosts from one node pool to another (not really shifting, but growing one node pool while shrinking the other) and due to the load balancers for service of type `LoadBalancer` with `externalTrafficPolicy: Local` not being updated quick enough they were left with non-existing hosts rendering our

[2018-03-05 16:53] ryanmcnamara commented on #60770
Is it plausible that it wouldn't recover even after a long period of time (5 hours)?
The above message in the logs came something like 1000 times, as did the event
Agree changing the resync period could fix this and cause resync, but worried it's masking another bug.

[2018-03-05 16:57] soltysh commented on #60765
Master fix is in https://github.com/kubernetes/kubernetes/pull/60797.
1.10 fix in in https://github.com/kubernetes/kubernetes/pull/60798.

[2018-03-05 16:57] msau42 commented on #60766
@krzyzacy IIUC, this suite is running 1.9 versions of e2e tests against 1.9 + master?

If that's the case, then I think we need to change the 1.9 version of the e2e test to:
- Use G instead of Gi
- Check actual capacity >= expected

[2018-03-05 16:58] #60507 closed

[2018-03-05 16:58] msau42 commented on #60766
In #56600, the minor breaking change is already called out in the release note.

[2018-03-05 17:01] AkshayDubey29 opened #60799 "Question: Manifest file created on 1.9.0 will it work for 1.7.5????"
We have created the manifest file for our application in 1.9.0 kubectl version, will it possible if I will deploy the same application using the same manifest yamls work with 1.7.5 version as well. If not then what changes needs to be done can we have the document for the same?

[2018-03-05 17:07] eghobo commented on #59975
it's not release blocker, but to share our experience ;). without this feature we cannot use HPA as is and we need to figure out how to build/run fork (which can be challenging because everything inside controller-manager). also we are planning to upgrade to 1.10 quickly, but not sure for 1.11 (e.g. we are two versions behind now).

[2018-03-05 17:13] thockin commented on #39423
@freehan do you think the LB sync stuff you're looking at could be bent to apply here?

Alternatively, we could maybe look at parallelizing TP updates more?

@bowei

[2018-03-05 17:13] BenTheElder commented on #60726
These are one-off pods created by [Prow](https://github.com/kubernetes/test-infra/tree/master/prow), they're conflicting with other jobs (pods) created with the same port.

[2018-03-05 17:14] yokhahn commented on #60729
/sig kubernetes/sig-storage-bugs

[2018-03-05 17:17] yokhahn commented on #60729
/sig storage

[2018-03-05 17:25] jberkus commented on #60608
@timothysc

Adding required tags.

Please use this issue to supply a frequent summary update of the issues you are tracking in the kubeadm repo and their status.  Especially, please call out and link to any bugs that are blockers for 1.10.

/kind feature
/priority critical-urgent

[2018-03-05 17:26] gnufied commented on #60766
+1 to changing 1.9 (and master)'s test to check for capacity >= expected. But 1.9 branch is frozen as well IIRC.

[2018-03-05 17:36] trunet commented on #25379
/reopen

[2018-03-05 17:39] fredsted commented on #38923
Hi everybody,

After following this guide: http://docs.ceph.com/docs/master/start/kube-helm/

And then trying so many different things in this thread, I'm now stuck here:

[code]

I've manually installed the correct versions of ceph on each node of my k8s cluster – a little cumbersome, and weirdly, not documented anywhere (does anyone know why this isn't written down on docs.ceph.com?).

Then I ha

[2018-03-05 17:44] nicksardo commented on #39423
#55336 would have put us closer to parallelizing node pool updates if it weren't rolled back. However, parallelizing may not scale much better due to upstream limitations, according to a recent offline discussion. There's a solution that makes scaling a non-issue, but it requires more planning on our part.

[2018-03-05 17:50] jberkus commented on #60500
@shyamjvs see update on scalability test flake, which seems to be fixed.  Are we still seeing increased memory usage?

[2018-03-05 17:56] krzyzacy commented on #60725
/status approved-for-milestone

[2018-03-05 17:57] shyamjvs commented on #60500
Yes, we're still seeing flakes here (though strangely they're around increased mem for controller-manager now):

[code]

(ref: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/11357)

The other kinds of flakes seen are those I mentioned in https://github.com/kubernetes/kubernetes/issues/60500#issuecomment-369555508.
It strongly feels like a reg

[2018-03-05 18:01] krzyzacy commented on #60767
/assign @liggitt
as you are the PR author :-)

[2018-03-05 18:01] jberkus commented on #59988
Given the lack of responsiveness, this feature issue will be removed from 1.10 in 24 hours unless updated.

@verult

[2018-03-05 18:04] krzyzacy commented on #60766
if this is impacting 1.10 upgrade suite then please cherrypick & backport fixes to 1.9 :-)

[2018-03-05 18:05] liggitt commented on #60767
just so I understand, these are tests in the release-1.9 branch running against a 1.10 master? requiring changes to previous release's tests seems like a mistake in how we're doing upgrade testing

[2018-03-05 18:06] jberkus commented on #57382
@vainu-arto that's really up to you.  if the issue is now fixed, then close it.

[2018-03-05 18:11] krzyzacy commented on #60767
@liggitt after upgrade, we have two suite, run both 1.9 and master version of tests.

[2018-03-05 18:15] MorrisLaw commented on #56431
@davidxia @juanvallejo is this still being worked on?

[2018-03-05 18:17] jessicaochen commented on #59766
Not sure why this closed given that we have not verified the change actually makes the test green. Could someone re-open this? Perhaps @krzyzacy ?

[2018-03-05 18:36] jingxu97 commented on #58635
reopen the issue since the PR is revered and opened again.

[2018-03-05 18:36] resouer commented on #59380
I would +1 for this feature request which already has valid use case. While the design/implementation still need discussion. One of my inputs is: users will want to specific the device path on the host.

[2018-03-05 18:37] jberkus commented on #58638
This feature issue will be removed from 1.10 in 24 hours if not update.

@portante @yujuhong @Random-Liu

[2018-03-05 18:40] sbezverk opened #60803 "CSI E2E test failure"
After switching to CSI spec 0.2.0 extra permissions are required.
/kind bug
/assign @sbezverk
/sig storager

[2018-03-05 18:48] thockin commented on #56230
/lifecycle frozen
/remove-lifecycle stale

[2018-03-05 18:49] jingxu97 commented on #46442
As the proposal https://github.com/kubernetes/kubernetes/issues/58635 for PR #60009 mentioned, a single node state "NotReady" controlled by node controller is not enough in some cases (e.g., determine whether volume could be safely detached or not). I agree to have at least states (Running, shutdown/suspended, terminated). Running and terminated states are more clear, but shutdown or suspended mig

[2018-03-05 19:04] crassirostris commented on #60719
@liggitt @tallclair If you're fine with forward-fixing the problem in e2es, I'd prefer this way, it's the easiest. Fix is in https://github.com/kubernetes/kubernetes/pull/60794

[2018-03-05 19:09] davidxia commented on #56431
@MorrisLaw Sorry, I haven't gotten around to it. Feel free to pick it up if not done already.

[2018-03-05 19:24] jessicaochen commented on #59762
@BenTheElder - I was just looking at the latest failures and it is trying to pull kubelet binaries from the following location: gs://kubernetes-release-dev/bazel/v1.11.0-alpha.0.1028+e2dee6073933c9-bazel/

Are the binaries for things like kubelets for this new bazel build located in gs://kubernetes-release-dev/bazel/... or gs://kubernetes-release-dev/ci ? If the prior, we will need to update eithe

[2018-03-05 19:26] shean-guangchang commented on #37554
I am using v1.8.4 and I am having the same problem that deleted namespace stays at "Terminating" forever.  I did "kubectl delete namespace XXXX" already.

[2018-03-05 19:27] DirectXMan12 commented on #56165
this sounds like not an HPA issue, at this point, but probably a metrics server issue.  We'd need to see logs from metrics-server, and/or controller-manager logs

[2018-03-05 19:28] DirectXMan12 commented on #60511
@mattjmcnaughton go ahead!

/assing @mattjmcnaughton

[2018-03-05 19:29] DirectXMan12 commented on #45043
@brancz FYI

[2018-03-05 19:32] shean-guangchang opened #60807 "deleting namespace stuck at "Terminating" state"
I am using v1.8.4 and I am having the problem that deleted namespace stays at "Terminating" state forever. I did "kubectl delete namespace XXXX" already.

[2018-03-05 19:32] DirectXMan12 commented on #49931
yeah, so you'd end up with something like

[code]

or

[code]

It's mostly cosmetic ;-)

[2018-03-05 19:34] juanvallejo commented on #56431
@MorrisLaw Due to a recent series of patches refactoring the cmdutil factory, printing methods are now no longer part of it. This issue can be closed.

Thanks

[2018-03-05 19:34] #56431 closed

[2018-03-05 19:35] DirectXMan12 commented on #58235
apologies, missed your update earlier.

I'd have it spit out prometheus metrics so someone could easily collect them with prometheus if they wanted, but otherwise, that approach sounds good.

No.  I'd prefer not to add completely new metrics sources to Heapster.

[2018-03-05 19:42] jshah-pivotal commented on #52398
We are hitting API rate limit on on GCP account due to this. Is there any plan to fix this?

[2018-03-05 19:47] krousey commented on #60764
Downgrades are failing to delete the stateful set test's namespace because PVCs remain. All the other tests are actually passing.

[2018-03-05 19:47] richm commented on #58638
How do we request a feature like "please, this feature is really important to us, and probably the wider community, but our team currently doesn't have the resources to work on this in the time it will take this request to expire, but we would like to make sure the community knows about this feature in case someone can work on it, and please leave this request in a conspicuous place for at least a

[2018-03-05 19:50] thockin commented on #60761
Failing to connect to Services at all.

I can't even ping pod IPs:

[code]

On Mon, Mar 5, 2018 at 11:07 AM, Kubernetes Submit Queue <
notifications@github.com> wrote:

[2018-03-05 19:52] thockin commented on #60761
[code]

On Mon, Mar 5, 2018 at 11:50 AM, Tim Hockin <thockin@google.com> wrote:

[2018-03-05 19:52] Mistobaan opened #60809 "Kubernetes should warn that a Pod has no command defined."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I specified a Pod without any command and the system kept allocating it over and over with no logs or any information.
**What you expected to happen**:
A message should be printed saying pod/container has no command associated to it.

**How to reproduce it (as minimally and precisely as possible)**:
Just create a Pod

[2018-03-05 19:53] BenTheElder commented on #59762
I found this bug last night, that location is wrong, there's now a kubeadm bug in kubernetes_e2e.py, I have a patch in progress, for some reason that script computes the shared path locations even in CI.

[2018-03-05 19:56] krzyzacy commented on #60764
@krousey do you know who I need to bug next?

[2018-03-05 19:57] msau42 commented on #60766
/assign @verult

[2018-03-05 19:58] krousey commented on #60764
In particular: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster-parallel/1910

[code]

[2018-03-05 19:59] msau42 commented on #60766
Problem is 1.9 branch is frozen now, so we need to wait until it unfreezes to fix this test...

[2018-03-05 19:59] krousey commented on #60764
@krzyzacy We should pull in someone from storage and maybe someone from apps.

[2018-03-05 19:59] deads2k opened #60810 "OpenAPI aggregator makes aggregation really slow"
OpenAPI aggregation appears to block aggregation of the APIs and it is very slow.  Registering a dozen or so versions at the same time for openshift takes several seconds for each version, during which time the apiservice is unavailable.

Since we added etags to the openapi endpoints, clients who want the openapi will be alerted when they eventually aggregate.  Clients that don't need it will be a

[2018-03-05 20:00] tallclair commented on #60719
If we make batch mode the default, I think we should adjust the default parameters to include:

1. Very low timeout (1s?) - I don't think there's any reason to collect large batches.
2. Only a single go-routine (do we have the right params for this?) - This is important to reduce write contention, and to keep log lines in order.

I'm OK moving forward with the test fix, but I'd like to fix those d

[2018-03-05 20:02] krzyzacy commented on #60764
/sig storage
/sig apps

cc @kow3ns @saad-ali ^^

[2018-03-05 20:02] thockin commented on #60761
Wither cbr0 ?

[2018-03-05 20:02] wlan0 commented on #60646
@jhorwit2 Thanks for pinging me on this.

@khenidak Yes, this is definitely an issue. We need to fix it asap.

The approach of using shared informers is a little confusing to me. The current informer framework only syncs with the kube-api. How do you see it applying to an external API?

@jhorwit2 What do you mean by moving from sync interval to queue-method? We've always been using the informer fr

[2018-03-05 20:27] anguslees commented on #46442
State transitions are fragile imo - what if the node rebooted so quickly
that a controller missed the critical "shutdown" transition?

Better would be to poll some sort of level-triggered "is the volume still
attached?" function when needed.

 - Gus

On Tue, 6 Mar 2018, 05:51 Jing Xu <notifications@github.com> wrote:

[2018-03-05 20:42] #60778 closed

[2018-03-05 20:45] Mikulas commented on #54608
Fixed in https://github.com/kubernetes/kubernetes/pull/60149
/close

[2018-03-05 20:45] #54608 closed

[2018-03-05 20:45] jpbetz opened #60812 "Simplify/automate etcd version bumps"
Bumping etcd versions is [needlessly tedious](https://github.com/kubernetes/kubernetes/pull/59836) and needs to be simplified/automated.

Where practical, let's wire in a single version value set from some high level configuration file. If that still leaves us with numerous hard coded version strings that must be kept in sync, let's provide a utility to help update them from the configuration file

[2018-03-05 20:45] wlan0 commented on #46442
@jingxu97 I've already addressed your concerns in my comment earlier - https://github.com/kubernetes/kubernetes/issues/46442#issuecomment-369342455

Please read it. The three states will serve the functionality that you mention. The `Terminated` state and `Suspended` state are there to exactly make the distinction between 'CanDetachVolume` or not.

[2018-03-05 20:46] wlan0 commented on #46442
just FYI to all, that I'm not proposing we change `NodeConditions`. All of these will and should be implemented as `taints`

[2018-03-05 20:47] thockin commented on #60761
So I can ping pods same-node and cross-node right up until it kills the apiserver.

[2018-03-05 20:50] thockin commented on #60761
@MrHohn @caseydavenport @danwinship - I could use help - have to shift attention soon.

[2018-03-05 20:53] liggitt opened #60813 "<placeholder>"
<content tbd>

[2018-03-05 20:55] liggitt opened #60814 "CVE-2017-1002102 - atomic writer volume handling allows arbitrary file deletion in host filesystem"
[CVSS:3.0/AV:L/AC:L/PR:L/UI:N/S:U/C:N/I:L/A:H](https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:L/AC:L/PR:L/UI:N/S:U/C:N/I:L/A:H)

This vulnerability allows containers using a secret, configMap, projected or downwardAPI volume to trigger deletion of arbitrary files and directories on the nodes where they are running.

Thanks to Joel Smith of Red Hat for reporting this problem.

**Vulnerable v

[2018-03-05 20:57] stealthybox commented on #59766
I linked the PR as a fix -- thanks for reopening

[2018-03-05 20:59] wlan0 commented on #46442
Looping in @kubernetes/sig-storage-feature-requests since we're talking about volume lifecycle while making changes to node lifecycle.

[2018-03-05 21:00] #23347 closed

[2018-03-05 21:12] wlan0 commented on #46442
A WIP implementation by @zetaab
https://github.com/zetaab/kubernetes/commit/0313435c0fe9e6ecf881b1baef973eada9e06baa

[2018-03-05 21:14] jryberg commented on #35062
Any updates? This is very annoying. How can we help to resolve this?

[2018-03-05 21:15] jennybuckley commented on #60512
/cc @caesarxuchao

[2018-03-05 21:16] jennybuckley commented on #60544
/remove-sig api-machinery

[2018-03-05 21:17] shyamjvs commented on #60589
So I digged up a bit into this and from the graph of pod-startup latency for our 5k-node test, I have the feeling that the regression could also be in b/w runs 108 and 109 (see 99%ile):

![pod_startup_5k](https://user-images.githubusercontent.com/4333971/37000192-e6993a14-20c2-11e8-8847-be43f409588e.png)

[2018-03-05 21:19] jessicaochen commented on #59762
xref: https://github.com/kubernetes/test-infra/pull/7139

[2018-03-05 21:19] jennybuckley commented on #60610
/cc @tallclair

[2018-03-05 21:21] jennybuckley commented on #60690
/cc @lavalamp

[2018-03-05 21:23] jingxu97 commented on #46442
@wlan0 I am not proposing to add new NodeConditions either. The proposal is just to add "shutdown" taint, not condition.

I am trying to see whether we have a clear definition of "suspended". For example, in openstack (https://docs.openstack.org/nova/latest/reference/vm-states.html), the VM has paused, suspended, and stopped etc, how we map these states into our definition of"suspended"

[2018-03-05 21:25] jennybuckley commented on #60700
/cc @mbohlool

[2018-03-05 21:26] jennybuckley commented on #60703
cc @cheftako

[2018-03-05 21:27] enisoc commented on #54579
@ant31 That's awesome!

+cc @pwittrock Have you considered this approach for kube-builder?

[2018-03-05 21:28] jennybuckley commented on #60724
/sig network
/remove-sig api-machinery

[2018-03-05 21:29] mbohlool commented on #60810
As far as I remember, OpenAPI aggregation is happening in another controller. Do you have some performance/trace data to see where/how the slowness is happening?

[2018-03-05 21:30] khenidak commented on #60646
@wlan0 I will join the call on Wed.
The approach i am proposing is to replace this loop https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/route/route_controller.go#L115 with List+Watch based on a informer + a simple cache as described above. Let us discuss more on Wed.

[2018-03-05 21:30] thockin commented on #60761
FWIW, I am testing on a Calico-enabled node

[2018-03-05 21:33] shyamjvs commented on #60589
I swept quickly through the [diff](https://github.com/kubernetes/kubernetes/compare/11104d75f...05944b1d2) and the following change seems suspicious to me:

"Allow passing request-timeout from NewRequest all the way down" #51042

That PR is enabling propogation of the client's timeout as a query parameter to the API call. And I do see the following difference in `PATCH node/status` calls across th

[2018-03-05 21:43] shyamjvs commented on #60589
So I checked how `PATCH node-status` latencies vary over the test runs, and it indeed seems like there's a rise in the 99th percentile (see the top line) around that time. However it isn't super clear that it happened b/w runs 108 and 109 (though my belief is that's the case):

![patch_node_status_latency](https://user-images.githubusercontent.com/4333971/37001365-9209d7ca-20c6-11e8-9907-b060d61e2

[2018-03-05 21:47] verult commented on #59988
Apologies for the delayed response. The last outstanding PR is https://github.com/kubernetes/kubernetes/pull/60450, which depends on a Go client that is currently in the process of being rolled out. Expect integration to be complete by this Friday, 3/9.

Also requested the status/approved-for-milestone label.

[2018-03-05 21:49] davidhao3300 commented on #58834
@k1-hedayati how did you get kind: List to be returned? I just verified that 1.9.3 has the same bug

[2018-03-05 21:49] verult commented on #60725
I'm aware of the solution, but I'm trying to understand how to limit the scope of the change to just COS images, instead of all VM distros.

[2018-03-05 21:49] saad-ali commented on #59988
This is feature exception was requested and granted in https://groups.google.com/d/msg/kubernetes-milestone-burndown/pwI3QwuCYL4/ugg9UdhWAQAJ

[2018-03-05 21:52] wlan0 commented on #60646
Ok - looking forward to talking more there. A few preliminary questions

1. Do cloud providers have a watch api, if not, what's the strategy to deal with this inconsistency among cloud providers?
2. Can this shared informers approach extrapolate to other cloud specific controllers, where they will read from this local cache, rather than call out to the cloud from each method?

If this actually wor

[2018-03-05 21:54] shyamjvs commented on #60589
I have more supporting evidence now:

in [run-108](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/108/artifacts/MetricsForE2E_density_2018-02-07T11:43:55Z.json), we had ~51k `PATCH node/status` calls that got a 429:

[code]

and in [run-109](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/109/artifacts/M

[2018-03-05 21:55] wlan0 commented on #46442
Thanks for clarifying

The reason for adding this state is to provide a uniform API, which clearly allows kubernetes and its plugins (CCMs in this case) to go through its lifecycle without implicit assumptions.

Today, plugins are evolving independently, and it is becoming difficult to reason about behavior of workloads in a consistent manner.

One such inconsistency is the decision to detach a vo

[2018-03-05 21:57] nicksardo commented on #60646
In other words, tackling the comment above that line you reference
[code]
+1 for watching nodes; however, is adding a cache really necessary? Just have the updateFunc compare the old vs new `node.Spec.PodCIDR`. In practice, this should only change from empty to having a value. I don't think it's possible to change the pod cidr of a node, right?  The route controller doesn't care about the node's I

[2018-03-05 22:00] wlan0 commented on #60646
Thanks for clarifying. From what I understand, route changes can't be detected just by watching the nodes, or can we?

If this is the case, then yeah, we don't need to watch the cloud.

[2018-03-05 22:01] shyamjvs commented on #60589
And... Look at this:

in run-108:

[code]

and in run-109:

[code]

[2018-03-05 22:03] khenidak commented on #60646
yes watch in cloud provider is a bad idea, each cloud provider will have to maintain that. This proposal does not reach change any of the interfaces or the logic. It only changes the way we watch for new nodes.

@nicksardo When we watch nodes we will get alot of update call backs because node object change with heart beat. So we just want to watch for nodes changing their IPs. my 2 cents

[2018-03-05 22:07] wlan0 commented on #60646
So, where is the cloud provider involved in all this? Right when the cluster starts up with a bunch of nodes and whenever a new node is added. Is that the issue here?

If so, metering the update calls to the cloud is all it would take.

[2018-03-05 22:10] rramkumar1 commented on #60761
I'll take a look at this as well.

[2018-03-05 22:10] thockin commented on #60761
Weird, now even after a reboot, this condition is sticky.  I have a cluster in this state, if you want to poke.

[2018-03-05 22:10] RenaudWasTaken commented on #56695
/area hw-accelerators

[2018-03-05 22:11] thockin commented on #60761
ugh, now it is resolved.

[2018-03-05 22:13] thockin commented on #60761
I just repro'ed without the e2e - have a cluster, proved ping works, killed apiserver ping fails.

[2018-03-05 22:19] shyamjvs commented on #60589
I checked the number for few other adjacent runs:

- for [run-104](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/104/artifacts/MetricsForE2E_density_2018-01-29T22:47:20Z.json) it's 21187
- for [run-105](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/105/artifacts/MetricsForE2E_density_2018-01-31T23:06:

[2018-03-05 22:20] #59554 closed

[2018-03-05 22:22] MorrisLaw commented on #56816
@mml @hzxuzhonghu @sttts is this issue still being determined whether or not it is already addressed in [the above linked file](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go#L38)?

[2018-03-05 22:25] shyamjvs commented on #60589
And for `PATCH node-status` coming from kubelets that recieved 429s, here's how the numbers look like:

- run-104 = 313348
- run-105 = 309136
- run-108 = 479181

-- that PR merged --

- run-109 = 757318
- run-110 = 752062
- run-111 = 296368

This is also varying, but it generally seems to increase.

[2018-03-05 22:28] MorrisLaw commented on #50564
Should this issue be closed because of merged PR [#50571](https://github.com/kubernetes/kubernetes/pull/50571)? Or is there more work to be done for this issue?

[2018-03-05 22:30] thockin commented on #60761
Interesting - docker shows the pods not running, but apiserver says they are alive.

[2018-03-05 22:37] gnufied commented on #60645
This problem goes beyond a simple logging error. The problem also is - such volumes never get unmounted correctly and hence volume can not be used anywhere. IMO this is kind of serious.

Steps to reproduce:
1. Create a pod on node X
2. Stop kubelet
3. Delete the pod. The pod will be stuck in "Terminating" state
4. Bring back the kubelet

There is a race which is rather easy to reproduce and what h

[2018-03-05 22:42] shyamjvs commented on #60589
The 99th %ile of `PATCH node-status` call latencies also seem to have generally increased (as I was predicting in https://github.com/kubernetes/kubernetes/issues/60589#issuecomment-370573938):

[code]

[code]

Btw - Wrt all the above metrics, 108 seems to be a worse-than-normal run and 111 seems to be a better-than-normal run.

[2018-03-05 22:43] shyamjvs commented on #60589
I'll try to verify this tomorrow by manually running a large 5k cluster.

[2018-03-05 22:45] krzyzacy commented on #60589
thanks for triage @shyamjvs

[2018-03-05 22:46] caesarxuchao commented on #60512
@mikedanese please ping me on hangout when you need a review.

[2018-03-05 23:31] janetkuo commented on #60003
Fixes for two DaemonSet test failures: #60747, #60820

[2018-03-05 23:31] thockin commented on #60761
Update: docker sees no running pods.  API server thinks kubelet is running them.  kubelet is getting "" from apiserver, even after kubelet restart.

[2018-03-05 23:32] janetkuo commented on #60003
/assign

[2018-03-05 23:32] janetkuo commented on #60003
/lgtm

[2018-03-05 23:35] x13n commented on #36304
/remove-lifecycle rotten

[2018-03-05 23:38] #60803 closed

[2018-03-05 23:54] thockin commented on #60761
Update and recap:

Bring up a cluster
Run some pods
Prove that pods are running and services work
pkill -9 apiserver
Wait.
Watch kubelets "lose" pods that were assigned to them
Observe that pods are not running and services do not work
Observe that apiserver says the pods are running
pkill -9 kubelet
Observe that it is still broken
kubectl delete one pod
Observe that kubelet is fixed for that one

[2018-03-06 00:05] hochuenw commented on #60742
@pineking connection refused.
[code]

[2018-03-06 00:24] thockin commented on #60761
@wenjiaswe

[2018-03-06 00:44] lavalamp commented on #60761
What exactly does it mean for it to be fixed for a deleted pod?

[2018-03-06 00:54] mengqiy commented on #58834
The reason is that there is an API call for each object, and it simply prints whatever the API call returns.
@juanvallejo We may want to aggregate them before printing, or you may have some a better solution.

[2018-03-06 01:04] glb commented on #45293
@daniel-ac-martin @ericchiang please see the linked PR which addresses the original issue in a minimal fashion -- it simply provides a `b64dec` template function. It has passed all the tests and needs review; if it's good enough to solve the original problem I'm happy to squash the commits and can hope to get it merged.

As far as solving @daniel-ac-martin's evolved description of the problem, I'm

[2018-03-06 01:16] MattMS commented on #17144
This functionality sounds great, especially getting logs using only the pod prefix.

I see it's also using the deprecated `team/ux` label.

[2018-03-06 01:17] hzxuzhonghu commented on #56816
Yes, and I think this issue can be closed.

[2018-03-06 01:22] hzxuzhonghu commented on #60610
@liubog2008 @zjj2wry Have you find out the root cause?

[2018-03-06 01:33] michmike commented on #53201
Given that we will not implement this issue, @bsteciuk  please update the getting started guide for windows to include this workaround for environment variables. thanks!

[2018-03-06 01:33] michmike commented on #53201
/close

[2018-03-06 01:55] liubog2008 commented on #60610
Trying to reproduce ... = =

[2018-03-06 02:02] feiskyer commented on #60691
@kopiczko The description is not clear. It is broken in 1.10 because of a refactor:  Config.UseManagedIdentityExtension overrides auth.AzureAuthConfig.UseManagedIdentityExtension. There is no such problem on old releases.

[2018-03-06 02:03] monique77 commented on #60617
Hi, People

Now is worked!!!

[2018-03-06 02:03] #60617 closed

[2018-03-06 02:08] zjj2wry commented on #60781
// port, 443. If multiple members of this list specify different hosts, they
	// will be multiplexed on the same port according to the hostname specified
	// through the SNI TLS extension, if the ingress controller fulfilling the
	// ingress supports SNI.
	// +optional
	TLS []IngressTLS

80 and 443 ports for the ingress controller configuration items, according to the field above port 443 can not

[2018-03-06 02:09] zjj2wry commented on #60781
/sig cli

[2018-03-06 02:59] evandigby commented on #58834
@davidhao3300 Were you hoping to work on this? If not, I would like to take this on.

cc @seans3 @mengqiy I would like to take this

[2018-03-06 03:24] mattjmcnaughton commented on #59975
Sounds like a plan :) Will try and get this done tomorrow morning!

[2018-03-06 03:25] mattjmcnaughton commented on #60511
Sweet, I'll get started :)

[2018-03-06 03:26] tianshapjq opened #60821 "the "Reconfigure a Node's Kubelet in a Live Cluster" tutorial doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
i got some troubles in following this tutorial [reconfigure-kubelet](https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/). It is recommended to reconfigure the kubelet with configmap, but when i use "kubectl edit node " to modify the kubelet configuration with setting eventRecordQPS=10, not

[2018-03-06 03:28] tianshapjq commented on #60821
I'm not sure is anyone can answer this, is anyone I can refer to?

[2018-03-06 03:34] davidhao3300 commented on #58834
I don't think the PR quite addresses the issue - I'm waiting for @k1-hedayati to get back on how they got the `kubectl apply` command to return a List object instead of the malformed yaml objects

[2018-03-06 03:35] davidhao3300 commented on #58834
in response to @mengqiy's comment, given the behavior of calling `kubectl convert` or just `kubectl get`'ing a list of objects from the server, it seems the best way is to wrap the return response in a List object if there's multiple items

[2018-03-06 03:35] xuejipeng opened #60823 "dnsmasq --addrss args can't reslove"
i have a problem for dns https://github.com/kubernetes/dns/issues/208

version:k8s-1.6
OS:CentOS Linux release 7.4.1708

[2018-03-06 03:36] tianshapjq commented on #60821
or do I have to configure the node into the system:node group? or any prerequisites did I miss?

[2018-03-06 03:38] tianshapjq commented on #60821
/sig-node
/sig-doc

[2018-03-06 03:41] xuejipeng commented on #60823
@kubernetes/sig-aws-test-failures

[2018-03-06 03:44] workhardcc commented on #41185
@jdumars reproduced in kubernetes 1.8.1

[2018-03-06 03:51] MagicJohnJang commented on #30518
Ingress controller with NodePort mapping to ALB Https (443 port), solved the WebSocket issue for me.

[2018-03-06 04:10] shrinandj opened #60825 "Failure to update security groups for NLBs after rolling update"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After a rolling update of the cluster, NLB kept failing health checks because security group did not have rules for new EC2 instance.

**What you expected to happen**:

Security group should have been updated with both TCP rules for NLBs to work correctly.

**How to reproduce it (as minimally and precisely as possible)**

[2018-03-06 04:35] mengqiy commented on #58834
You can't POST or PATCH the a list of resources.
The aggregation should happen client-side.

[2018-03-06 05:04] brendandburns commented on #58002
It seems to me that this is caused by:
   * Kubelet stops posting status for some reason
   * NodeController updates node state
   * Kubelet starts posting status, but detects a conflict and can't resolve it.

I think we shouldn't treat the conflict as a conflict in this case...

Details from when I observed it:

[code]

[2018-03-06 05:24] brendandburns commented on #58002
Here is the work-around to restore the node:

1) SSH onto the affected node (somehow)
2) Stop the kubelet (systemctl stop kubelet)
3) Delete the node from Kubernetes `kubectl delete nodes <node-name>`
4) Restart the kubelet, it will re-register itself and clear the conflict.

I still think this is a bug in the kubelet though, I'm going to investigate that code.

[2018-03-06 05:48] hemantaltair commented on #37471
Any solution yet ?

[2018-03-06 05:55] #40074 closed

[2018-03-06 05:55] #44540 closed

[2018-03-06 06:11] k1-hedayati commented on #58834
Ok sorry I thought issue is about `kubectl get` and totally missed `apply` on issue title :/
So that PR is not relevant to this issue. I'm not sure if I can work on this for a few days, @evandigby if you're still interested  feel free to take this issue on

[2018-03-06 06:20] vainu-arto commented on #57382
This was fixed for 1.10 by PR #60125. Cherrypicks to 1.8 and 1.9 are still pending (#60480 and #60481).

[2018-03-06 06:20] #57382 closed

[2018-03-06 06:40] k82cn commented on #59194
/priority critical-urgent

[2018-03-06 06:46] MikeSpreitzer commented on #60484
I added Prometheus monitoring, and two new trials of proxied watches.  One, with 4 loggers on each worker node, had big problems; the other trial had just 3 loggers on each worker node, and it got fairly decent results.

[2018-03-06 07:00] MikeSpreitzer commented on #50564
I am sorry, but the comment was and remains wrong.  I updated that PR with some support.

[2018-03-06 07:03] faraazkhan opened #60828 "Updating custom tags annotation for services does not delete old tags"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When a tag is applied and then removed using the `service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags` annotation, the tag  continues to exist on the AWS ELB.

**What you expected to happen**:
Additional tags applied to the ELB should always match the annotation.

**How to reproduce it (as minimally and

[2018-03-06 07:33] hzxuzhonghu commented on #60347
I can come up with an option:
1. record `timestamp` in request context in `WithTimeoutForNonLongRunningRequests`
2. e.g. in createHandler, when we calculate timeout we should compare `requestTimeout - (now - timestamp)` with client specified `timeout` in url query. and select the smaller as the timeout value.

[2018-03-06 08:14] andyxning commented on #41185
Seems like a client-go problem. @caesarxuchao

Client-go should mark a timeout connection as bad, close it and make a new connection.

[2018-03-06 08:16] andyxning commented on #41185
/cc @kubernetes/client-go-maintainers

[2018-03-06 08:25] WanLinghao commented on #60828
can you please add more information about how you remove env tag?

[2018-03-06 08:31] brancz commented on #45043
Already noted for the next sig-instrumentation agenda :slightly_smiling_face:

My general take is yes we should have stability guarantees, but I'm not exactly sure how to get there yet, and as the metrics are today, they don't even follow the official Kubernetes instrumentation guide.

[2018-03-06 08:31] shenlanse opened #60832 "[feature request] add --node-annotations command flag for kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

add --node-annotations command flag for kubelet

**What you expected to happen**:

we want to store non-label-style information in node annotations when node registers, like nodeId,availableZone and so on.

However currently, kubelet doesn't support this feature, it only support --node-labels.

I think it's a general

[2018-03-06 08:33] shenlanse commented on #60832
/sig node

[2018-03-06 08:33] k1-hedayati commented on #51764
I have same issue here, beside deleting deployment scaling doesn't work either

[2018-03-06 08:39] shenlanse commented on #60832
@vikaschoudhary16  @jhorwit2 @liggitt

[2018-03-06 09:12] sttts commented on #44263
We should remove the deprecated funcs in 1.11.

[2018-03-06 09:14] sttts commented on #59856
I tried k8s.io/sample-apiserver's hack/update-codegen.sh and it works fine. @wackxu please provide a minimal example reproducing the issue.

[2018-03-06 09:17] wackxu commented on #59856
@sttts Thanks for your help. It has been fixed by https://github.com/kubernetes/kubernetes/pull/59886. So we can close it.

[2018-03-06 09:17] #59856 closed

[2018-03-06 09:19] shenlanse opened #60834 "[feature] pod level resource request and limit"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

See the discussion:

https://groups.google.com/forum/#!topic/kubernetes-users/VMCftsSYgBI

**What you expected to happen**:

Maybe we can add new field , pod.Spec.ResourceRequirements to express the pod-level-resource meaning

[2018-03-06 09:19] sttts commented on #59124
@jennybuckley as you assigned this to you, can you sketch what the plan is for this?

[2018-03-06 09:20] shenlanse commented on #60834
#3608

[2018-03-06 09:21] shenlanse commented on #60834
related issues:
[#3608](https://github.com/kubernetes/website/issues/3608)

[2018-03-06 09:23] xtuc opened #60835 "pods/log: NotFound resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm not able to request the logs of my pods from non master nodes.

Example:

[code]

I don't see anything in the logs about that.

**What you expected to happen**:

The logs.

**How to reproduce it (as minimally and precisely as possible)**:

I bootstraped the cluster using kubeadm. I'm not sure how you could reproduce

[2018-03-06 09:24] shenlanse commented on #60834
sig/scheduling
sig/api-machinery

[2018-03-06 09:29] xtuc commented on #60835
I have no idea if this is the correct group; @kubernetes/sig-api-machinery-bugs. Thanks

[2018-03-06 09:44] kvaps commented on #52657
Hi, same problem occurs last week, each 1-2 days.

![image](https://user-images.githubusercontent.com/7556217/37024944-9f9d6668-212a-11e8-8b60-aa24878f1e8f.png)

**Environment:**

*    Kubernetes version:  1.9.3
*    Cloud provider: our environment (Kubernetes runs inside LXC-Conteiner)
*    OS: Ubuntu 16.04
*    Kernel: 4.13.13-5

[2018-03-06 10:31] shyamjvs commented on #60589
So I ran density test twice against 5k cluster against ~HEAD, and the test surprisingly passed both times with 99%ile pod startup latency as `4.510015461s` and `4.623276837s`. However, the 'watch latencies', did show the increase that @wojtek-t pointed in https://github.com/kubernetes/kubernetes/issues/60589#issuecomment-369951288

In the first run it was:

[code]

and the second run it was:

[cod

[2018-03-06 10:50] pohly commented on #60803
This isn't fixed (see PR #60840) and even with that PR and https://github.com/kubernetes-csi/external-provisioner/pull/52 the e2e test is still failing for me.

[2018-03-06 11:01] lijunyong commented on #59177
@phsiao thanks a lot，How to config the haproxy then solve this problem

[2018-03-06 11:04] jianglingxia commented on #38923
I have the problem that pvc log:

 Warning  ProvisioningFailed  55m (x6 over 1h)  ceph.com/rbd rbd-provisioner-5b89b9bb7c-56jgz c4f87b20-2112-11e8-82cb-0242ac110005  (combined from similar events): Failed to provision volume with StorageClass "fast": failed to create rbd image: exit status 110, command output: 2018-03-06 09:40:33.361766 7fedad8c7d80 -1 did not load config file, using default setti

[2018-03-06 11:05] ant1441 opened #60841 "fluentd-elasticsearch doesn't handle graceful termination"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When the [fluentd-es](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-ds.yaml) DaemonSet Pods using the fluentd-elasticsearch [Docker image](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-image/Dockerfile) are killed

[2018-03-06 11:06] ant1441 commented on #60841
/sig sig-instrumentation

[2018-03-06 11:07] ant1441 commented on #60841
/sig instrumentation

[2018-03-06 11:47] NickrenREN commented on #44263
@sttts cool.

[2018-03-06 11:53] jsafrane commented on #60645
IMO, this happens:

1. `reconciler.syncStates()` is called only once at kubelet startup and at that point the pod still exists (it's in Terminating state). The volume is in DSW and it's not added to ASW.

2. `reconciler.reconcile()` is called periodically. It could add the volume to ASW, but it does not, because the volume is not in node.status.volumesInUse yet.

3. kubelet kills pod containers an

[2018-03-06 12:13] gwkunze opened #60843 "Kubernetes silently discards annotations if one is invalid"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
(Although also maybe bit of a usability feature)

**What happened**:
I created an ingress rule in a yaml file with a couple of annotations, one of the annotations had the value `yes`. Kubernetes accepted the resource but a check with `kubectl get ingress my-ingress-rule -o yaml` showed none of the annotations.

It turns out that yaml sees th

[2018-03-06 12:22] gwkunze commented on #60843
Checked with `kubectl` with very verbose output, it's not sending the annotations to the API so I'm guessing this is then a problem in kubectl itself.

/sig cli

[2018-03-06 12:48] msnelling opened #60844 "kubeadm doesn't support ABAC correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I attempted to create a cluster using the `kubeadm` tool with ABAC authorisation enabled using the below configuration files.

~/config.yaml
[code]

~/basic_auth.csv
[code]

~/abac_policy.json
[code]

The `kubeadm` command hangs with the following output...
[code]
It looks like the `kube-apiserver` container is constantly

[2018-03-06 12:51] msnelling commented on #60844
/sig cli

[2018-03-06 12:52] msnelling commented on #60844
/sig cluster-lifecycle

[2018-03-06 12:55] msnelling commented on #60844
/area kubeadm

[2018-03-06 12:57] jsafrane commented on #60645
solution d.: in reconciler.syncStates() try to reconstruct volume from DSW, fall back to `plugin.ConstructVolumeSpec` only if the volume is not there. DSW already has spec and other useful info.

[2018-03-06 13:15] aanm opened #60845 "UpdateStatus doesn't work for CRDs (v1.10.0-beta.1)"
/kind bug

**What happened**:
UpdateStatus doesn't work for CRD (receives a 404)

**How to reproduce it (as minimally and precisely as possible)**:

1. Start kube-apiserver with `--feature-gates=CustomResourceSubresources=true`
2. Get the sample-controller for CRDs
[code]

[0]
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

cc @sttts @nikhita

[2018-03-06 13:17] aanm commented on #60845
/sig api-machinery

[2018-03-06 13:41] #60745 closed

[2018-03-06 14:04] crassirostris commented on #60719
I agree that defaults should change. What about changing the batch size to 1, so that each log entry is written asynchronously in its own goroutine? Anyways, this or very low timeout SGTM, since I don't think that the second option is feasible right now.

[2018-03-06 14:31] wojtek-t commented on #60589
https://github.com/kubernetes/kubernetes/issues/60589#issuecomment-370573938

I'm not sure I'm following this Yes - we added timeout, but default timeout is bigger than 10s IIRC - so it should only help not make things worse.

I think we still don't understand why we observe more 429s (the fact that this is somehow related to 429s I already mentioned in https://github.com/kubernetes/kubernetes/iss

[2018-03-06 14:35] faraazkhan commented on #60828
I used `kubectl apply -f` on the manifests provided above. Notice the list of tags on the second manifest doesn’t have the env tag. @wangLinghao

[2018-03-06 14:46] wojtek-t commented on #60589
And regarding your numbers - I'm not convinced that that the regression was in run 109 - there might have been two regressions - one in somewhere between 105 and 108 and the other in 109.

[2018-03-06 14:47] dhabierre commented on #60617
Can you provide the 2034 link please?

[2018-03-06 14:55] dwradcliffe commented on #60601
This is happening in production for us too.

[2018-03-06 14:55] dwradcliffe commented on #60037
This is happening in production for us too.

[2018-03-06 14:58] jsafrane commented on #60645
Experimental fix (solution d.): #60846

[2018-03-06 15:04] php-coder opened #60847 "PSP: improve error message for invalid supplementalGroups/fsGroup"
**Is this a BUG REPORT or FEATURE REQUEST?**:
This is request for improvements.

**What happened**:
When PodSecurityPolicy provider validates `SecurityContext.SupplementalGroups` or `fsGroup` fields of a pod, it shows an error like "999 is not an allowed group" if the group doesn't belong to the range(s).

**What you expected to happen**:
It should include to the error message also the allowed val

[2018-03-06 15:07] msnelling commented on #60844
It seems that maybe the `/etc/kubernetes/basic_auth.csv` and `/etc/kubernetes/abac_policy.json` files are not mounted inside the `kube-apiserver` container.
I tried using the following extra volumes stanza but I couldn't get it to work with files, it only seems to work with directories.
[code]
If I try mounting a directory containing the two files and specify the new locations in the config it sti

[2018-03-06 15:11] nikhita commented on #60845
$ kubectl create -f artifacts/examples/crd.yaml

This CRD does not contain fields required for enabling subresources.

https://github.com/kubernetes/sample-controller/blob/aecec8f389159b335d6bcf0a4e96ea722058ec38/artifacts/examples/crd.yaml.

Using the CRD in https://github.com/kubernetes/kubernetes/pull/60021 will work fine with `UpdateStatus`.

[2018-03-06 15:11] shyamjvs commented on #60589
Hmm... I don't deny the possibilities you mentioned (the above was just my hypothesis).
I'm currently doing bisection (right now against 108's commit) to verify.

[2018-03-06 15:17] wojtek-t commented on #60589
My feeling that the regression is before run 108 is stronger and stronger.
As an example, latencies of api calls are already increased in 108 run.

patch node status:
90%: 198ms (105) 447ms (108) 444ms (109)

put pod status:
99%: 83ms (105) 657ms (108) 728ms (109)

[2018-03-06 15:19] xtuc commented on #60835
Interestingly the same configuration seems to work on AWS.

**Environment**:
- Kubernetes version (use `kubectl version`): `v1.9.3`
- Cloud provider or hardware configuration: AWS
- OS (e.g. from /etc/os-release): `Ubuntu 16.04.3 LTS`
- Kernel (e.g. `uname -a`): `Linux master-172-31-92-194 4.4.0-1049-aws #58-Ubuntu SMP Fri Jan 12 23:17:09 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
- Install tools: `