[2017-08-02 12:43] deads2k commented on #49948
opened https://github.com/kubernetes/kubernetes/pull/50012

[2017-08-02 13:15] BradErz commented on #45626
4.4.65-k8s

[2017-08-02 13:15] ironcladlou commented on #49966
Thanks for the great research. I think this is more important to solve in the short term than https://github.com/kubernetes/kubernetes/issues/49718 in the short term and will see if I reduce the sync time.

[2017-08-02 13:49] RRAlex commented on #49957
I've had kube-api die in the same way, but then controller-manager and scheduler also died:

[code]

[code]

[2017-08-02 13:53] ironcladlou commented on #49966
@caesarxuchao

Looking over the new sync code again, one thing that stood out immediately is that we're unconditionallly [pausing workers](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/garbagecollector.go#L174) during the discovery resync. Seems like it'd be an improvement if we re-discovered asynchronously and then paused workers only if new discovery result

[2017-08-02 14:01] ironcladlou commented on #49966
@caesarxuchao One option would be to periodically build a new RESTMapper (rather than calling Reset on the existing one), diffing the resource list against current, and if there's an update, atomically swapping in the new mapper to the graph builder. This would ensure:

1. We only stop processing if there's a reason to do so
2. Pause time is minimized because the mapper is already initialized via

[2017-08-02 14:06] marct83 commented on #23924
Also dealing with "Could not map image: Timeout after 10s". Is there a solution?

[2017-08-02 14:18] resouer commented on #48588
@DirectXMan12 @deads2k Thanks for explanation, its much clearer.

One question is: how can HAP distinguish this exception status (caused by wrong scale target) from other failing status?

[2017-08-02 14:19] bgrant0607 commented on #29698
I would like local mutations work for setting the replicas fields, as discussed in #21648. If we want kubectl scale to use the scale subresource, which seems reasonable, we could also make a `kubectl set replicas` command.

cc @kubernetes/sig-cli-proposals @pwittrock @alexandercampbell

[2017-08-02 14:20] cmluciano commented on #49978
Oops, left this in from the egress patch

I like the allow, deny flexibility with CIDR rules. I will add this to the patchset.

Solid point, I'm not sure if this ever came up in the mailing list/original proposal

[2017-08-02 14:21] bgrant0607 commented on #21648
cc @alexandercampbell

[2017-08-02 14:22] dixudx commented on #50010
@qrevel I think this is not a bug. The node role label is not used by kubeadm anymore. Related codes have been changed in [Remove old node role label that is not used by kubeadm](https://github.com/kubernetes/kubernetes/commit/e25a5b1546392221c79e4d48dff4643c2341a002) by @luxas.

[2017-08-02 14:27] ddysher commented on #49818
This is a problem we can't solve unless we have different types of resource quota, or unless we do differently for different partition setup.  Admin can always change resource quota if needed, so option1 sounds like the way to go.

[2017-08-02 14:27] feiskyer commented on #49957
cc/ @kubernetes/sig-api-machinery-bugs

[2017-08-02 14:44] timothysc commented on #49900
@mattmoyer

[2017-08-02 14:53] #49941 closed

[2017-08-02 14:55] soltysh commented on #38756
There's also https://github.com/kubernetes/kubernetes/issues/29698 touching this topic.

[2017-08-02 14:56] sttts commented on #48548
🚀

[2017-08-02 15:00] rochdev opened #50021 "`kubectl rollout undo` not working on failed deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Trying to undo a deployment that failed using `kubectl rollout undo` created a new deployment but the replica sets are still stuck on the failed deployment.

For example:

[code]

**What you expected to happen**:

I would expect rollback to actually rollback and not get stuck in a failed state requiring manual interventi

[2017-08-02 15:10] huangjiasingle commented on #49933
@dixudx  my kubernetes's version is 1.6.x or 1.7.x, The default value of --insecure-port is 0, it's mean's that doesn't support insecure api handler. the old version. l didn't use. you can see the /etc/kubernetes/manifest/kube-apiserver.yaml to cosume it

[2017-08-02 15:13] php-coder commented on #49565
CC @smarterclayton @liggitt

[2017-08-02 15:13] timothysc commented on #49947
/cc @kubernetes/sig-api-machinery-bugs

[2017-08-02 15:14] huangjiasingle commented on #49933
@mohitpatiyala  you can show your kubelet's config file ?  maybe the  config file's manifest dir is not you modified yaml's dir.  so please show your kubelet's config file and  the absolute path of you modified kube-apiserver.yaml.  maybe l can find the reason of your bug

[2017-08-02 15:14] alexanderkjeldaas commented on #16812
Feel free to close.  This was just a microscopic nit.

[2017-08-02 15:14] #16812 closed

[2017-08-02 15:17] liggitt commented on #49565
[code]

that command would only modify secrets in a single namespace... did you check in that namespace, or did you mean to perform the decryption across all namespaces (adding `--all-namespaces`)?

[2017-08-02 15:21] huangjiasingle commented on #49931
@zjzhangkui  yes , when the multiple rule , my project not support.  it's a good idea.

[2017-08-02 15:28] dims commented on #50004
/sig openstack

[2017-08-02 15:29] dims commented on #49977
@mbohlool Since #48861 has merged, this issue can be closed right?

[2017-08-02 15:29] dliappis commented on #2707
@martinmosegaard Is correct in that currently a workaround to configuring the Elasticsearch Docker image on Kubernetes (on top of bind mounting a config file or using a customized image) is by overriding CMD, i.e. [option D in the Elasticsearch Docker documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#_d_override_the_image_8217_s_default_ulink_url_https_docs

[2017-08-02 15:30] yongtang commented on #44107
@flx42 @shaklee3 I am wondering if you have more information about Nvidia's plan about nvidia-docker not replying on docker for the new version?

That could be interesting. I am wondering if more I could know more details about it?

[2017-08-02 15:32] thegranddesign commented on #45626
How do I find the kernel version?

[2017-08-02 15:36] kfox1111 commented on #49236
I think its ok to put an asterisk in the promise and state that it doesn't apply when checkpoints are used. It will not be used on very many pods and it will be invaluable to those that need it. If it isn't supported, people will just cram secrets into configmaps, which i think is much worse. :/

[2017-08-02 15:37] crassirostris commented on #48561
@timstclair Is it a blocker for beta? Can it be later added to the GA version if needed? IIUC, it can be implemented right now by adding a parameter to the webhook address and process this parameter later in the pipeline

[2017-08-02 15:39] yujuhong commented on #49974
Closing based on the comment above

[2017-08-02 15:39] #49974 closed

[2017-08-02 15:39] huangjiasingle commented on #49926
@amolsh did  you created  a storage-class was named default?  cany you show the storage-class?  l think the reason is miss storage-class of named default. do you have any other yaml?

[2017-08-02 15:42] #49460 closed

[2017-08-02 15:53] liggitt opened #50022 "GC TestCustomResourceCascadingDeletion and TestMixedRelationships flakes"
Seeing flakes on master:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/8177/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/8179/

and on unrelated PRs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44278/pull-kubernetes-unit/44314/

[2017-08-02 15:57] amolsh commented on #49926
@huangjiasingle  This is my storage class
[code]

![image](https://user-images.githubusercontent.com/10971917/28882620-5d3dd18c-77c9-11e7-82ea-cefd3ca0e9a9.png)

[2017-08-02 16:06] #49722 closed

[2017-08-02 16:07] aaronlevy commented on #49236
Checkpointing secrets essentially becomes optional. If you add the checkpoint annotation to a pod that contains a secret - it is checkpointed. If you don't want secrets to be checkpointed - don't use a secret on a pod you are checkpointing.

I don't get the difference between checkpointing the secret to disk -- or just storing that secret on disk anyway. It's going to hit disk in both cases. If we

[2017-08-02 16:21] sbezverk opened #50024 "local volume Gid does not get reset after pod termination"
k8s version v1.8.0-alpha.2.1149+8dc7cf1ebd4515-dirty

When POD which was using a local volume terminates and this POD was using a non-default Gid, after POD termination Gid of volume does not reset to default. It causes a problem when another POD tries to mount this local volume as volume still has stale Gid.
I would like to propose to reset Gid to 0 on unmount operation of a local volume.

/sig s

[2017-08-02 16:22] sbezverk commented on #50024
/bug

[2017-08-02 16:31] mbohlool commented on #49977
Yes. Thanks for the solution @dims and @caesarxuchao

[2017-08-02 16:31] #49977 closed

[2017-08-02 16:36] pavelhritonenko commented on #45626
*1. Do you sometimes find that your node has been terminated and replaced in the ASG?*

In my case, I see such container killed by `cluster-autoscaler v0.5.4`:

    Error syncing pod, skipping: rpc error: code = 2 desc = Error: No such container: 972128be7e8fe4673f8e3e96ba767b2edeccedfa45ae4d290e85ed968d4a061e
    deleting pod for node scale down
    Killing container with id docker://6a011a739b9a

[2017-08-02 16:49] jmillikin-stripe commented on #25908
I think Kubernetes may need to be flexible about the principal of not treating containers differently. We (Stripe) don't want to retrofit third-party code such as Envoy to have Lamprey-style lifecycle hooks, and trying to adopt an Envelope-style exec inversion would be much more complex than letting Kubelet terminate specific sidecars.

I'm very strongly opposed to Kubernetes or Kubelet interpreti

[2017-08-02 17:02] shiywang commented on #49965
I will also take a look

[2017-08-02 17:03] crassirostris opened #50026 "Graceful shutdown of batching audit webhook"
Currently, in the batching audit webhook batches are sent [concurrently without any control over the lifecycle of the sending routine](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/plugin/pkg/audit/webhook/webhook.go#L237). When apiserver is being terminated, webhook doesn't wait for all request to be terminated and it may result in some audit events being dropp

[2017-08-02 17:11] tianquan23 opened #50027 "Deploying kubelet in container mode with the hyperkube image leads to AppArmor to be considered disabled mistakenly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Deploying kubelet in container mode with the hyperkube image leads to AppArmor to be considered disabled mistakenly.
That's due to the way which kubelet uses to check whether AppArmor is enabled checks the /sys filesystem and /sbin/apparmor_parser. The /sys filesystem is mounted from host to container but apparmor_parser

[2017-08-02 17:12] caesarxuchao commented on #49987
I'll look into the issue this week.

[2017-08-02 17:12] spzala commented on #13876
@aronchick hi, seems like your suggestion for moving godeps is addressed under https://github.com/kubernetes/kubernetes/pull/29945 and so I am closing it. Hope makes sense. Thanks!

[2017-08-02 17:12] spzala commented on #13876
/assign

[2017-08-02 17:13] MrHohn commented on #49999
Could you clarity "roll-back"? It seems that we [release nodePort and healthCheckNodePort](https://github.com/kubernetes/kubernetes/blob/v1.7.2/pkg/registry/core/service/rest.go#L218-L236) basically in the same way.

[2017-08-02 17:14] spzala commented on #13876
hmm.. seems like can't assign myself so may not able to close by going to try regardless :)

[2017-08-02 17:15] spzala commented on #13876
/close

[2017-08-02 17:17] ericchiang commented on #50026
How do other API server components respond to the API server shutting down. I don't see anything in the current config that allows us to respond to os signal or something similar.

https://github.com/kubernetes/kubernetes/blob/508ccc403209e942cf1495b70f97e8eaae1fd35f/staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go#L257

[2017-08-02 17:18] mandarjog commented on #49987
There is a workaround.
1. Deploy webhook as a `LoadBalancer` type service and get an external IP.
2. Deploy webhookExternal like so
[code]

Create and endpoint object named `webhookExternal`
[code]

Then use `webhookExternal` in the validator definition.

[2017-08-02 17:23] shiywang commented on #21648
/cc

[2017-08-02 17:25] andreychernih commented on #45626
Having the same problem - a lot of containers in Dead state.

[code]

[2017-08-02 17:33] DirectXMan12 commented on #48588
We have a status condition on the HPA object (in autoscaling/v2alpha1) for issues fetching the scale, and other conditions for other issues.  A user could use that to see what the problem with their HPA was.

[2017-08-02 17:36] crassirostris commented on #50026
True, in all places I could find it's just `wait.NeverStop` passed during startup. @kubernetes/sig-api-machinery-misc Is there a plan to change that?

[2017-08-02 17:52] vishh commented on #44107
We will need more details on the sharing semantics.

Kubernetes doesn't really need nvidia docker since it has enough extensions to help surface nvidia GPUs to containers. We may have more than one way of handling Nvidia GPUs with Kubernetes though for a while, where libnvidia-container will be one of the solutions for a subset of users. The user facing APIs will remain the same though.

[2017-08-02 17:55] jingxu97 commented on #49818
cc @kubernetes/sig-storage-misc

[2017-08-02 17:58] caseydavenport commented on #49978
I don't think we should be looking to add DENY action to NetworkPolicy. It's adds a lot of complexity.  We're simply not going to get this in if we try to tackle that now.

This is a big part of what killed the previous attempt at adding CIDR support.  If we want to add DENY functionality, that's something we need to tackle as its own feature - let's not bog down CIDRs with this.

I think this is

[2017-08-02 17:59] caseydavenport commented on #49978
IIUC this is what podSelector is for.

[2017-08-02 18:22] jingxu97 commented on #48968
@wawastein I checked the master log and found the following related information

[code]
From the log we can see, around 13:52:53 the pvc is first attached to node gke-staging-cluster-2-pool-1-bb497dff-9mms. Later around 14:00:38, reconciler tries to attached this pvc to a different node and failed since it is still attached to the old node. The problem is here that the old pod is not deleted so th

[2017-08-02 18:22] rolftimmermans opened #50032 "Allow spec.terminationGracePeriodSeconds to be used in downward API"
**Is this a BUG REPORT or FEATURE REQUEST?:**

/kind feature

**What happened**:
I was attempting to use `spec.terminationGracePeriodSeconds` with the downward API, but received an error message:

```Invalid value: "spec.terminationGracePeriodSeconds": error converting fieldPath: field label not supported: spec.terminationGracePeriodSeconds```

**What you expected to happen**:
I expect most/all of

[2017-08-02 18:27] rolftimmermans commented on #50032
/sig api-machinery

[2017-08-02 18:42] wawastein commented on #48968
@jingxu97 the last log messages confused me too, I though it might be because most of the time those pods are idle and don't use resources. HPA ones are related to deleted deployments.

On the bound PVC however, it's at least counter intuitive. If new pod is scheduled to new node, maybe there ought to be be a check for any detachable volumes of the old pod first.

[2017-08-02 18:43] Markbnj opened #50034 "K8s Service fails to create GCE internal load balancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

@kubernetes/sig-network-bugs

**What happened**:

Created a service of type "LoadBalancer" with the following manifest:

[code]

**What you expected to happen**:

Expected the internal load balancer to be provisioned with an internal IP.

**How to reproduce it (as minimally and precisely as possible)**:

Create the service above then:
[code

[2017-08-02 18:43] Markbnj commented on #50034
#https://github.com/kubernetes/kubernetes/issues/49577

[2017-08-02 18:44] jingxu97 commented on #50004
@ralberto  Thanks for reporting the issue. Could you share us your full controller-manager log so that we could check the issue?
Also did it happen during upgrading to 1.7?

[2017-08-02 18:49] jingxu97 commented on #48968
@wawastein the scheduler and volume manager are completely separated. When scheduler schedule the pod it will not know whether the volume used by the pod is still attached to some node or not. But normally, old pod should be deleted at some point, so that volume will be detached from the old node, even though it might happen a little bit after the new pod is created

[2017-08-02 18:51] jingxu97 commented on #48703
1.7.3 should be out very soon (this week) from what I heard

[2017-08-02 18:52] rochdev commented on #50021
It seems this happens when there were multiple failed deployments, and undoing to the last one (which was also failing) will make it fail forever unless a working revision is passed with `--to-revision`. Proper error handling by always rolling back a failed deployment to a previous working revision does mitigate this.

[2017-08-02 18:52] #50021 closed

[2017-08-02 18:58] jingxu97 commented on #49926
@amolsh do you have the master log we can take a look? You can email us if your prefer. The kubelet log shows that the volume is not attached to the node yet.

[2017-08-02 19:00] jingxu97 commented on #49911
@msau42 do you know about this?

[2017-08-02 19:01] danwinship commented on #49978
It's not adding a deny action, it's adding "allow X-but-not-Y". The end result is always still an allow action, it's just that that set of IPs allowed may not be easily expressible as a single CIDR range.

Because pod and service IPs are essentially random and transient, and so you wouldn't ever want to intentionally use CIDR rules to control pod-to-pod traffic. And if there's no good use case for

[2017-08-02 19:02] danwinship commented on #49978
well, my example syntax didn't actually enforce this, but that was the intent

[2017-08-02 19:07] spzala commented on #13876
Well I need to work on org membership privilege :)  @aronchick if you can please verify the provided solution and close this issue that would be great. Thanks!!

[2017-08-02 19:07] msau42 commented on #49911
Hm, at first glance, I suspect the code in the pv controller that is doing the matching based on size.  I'll investigate.

/assign

[2017-08-02 19:13] jingxu97 commented on #48968
@wawastein  Could you check the comment here to see whether following the steps could solve your problem? https://github.com/kubernetes/kubernetes/issues/48968#issuecomment-315490408

[2017-08-02 19:15] ncdc opened #50037 "Strategic merge patch fails for custom resources with cryptic error"
If you try to do a strategic merge patch on a custom resource, it fails with an error like:

[code]

Because custom resources are decoded as `*unstructured.Unstructured`, and because we're missing the metadata about how to handle each field in a strategic merge patch, we can't easily do a strategic merge here. We should fail fast and return an error saying that we can't yet do strategic merge patc

[2017-08-02 19:21] dims commented on #49966
is this set of failures related to the original problem in the issue too? `Garbage collector should not be blocked by dependency circle` [Failure rate](https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=Garbage%20collector%20should%20not%20be%20blocked%20by%20dependency%20circle)

[2017-08-02 19:31] caseydavenport commented on #49978
In most scenarios they are random and transient within a specific well-known range.  However, there's no mandate that a particular IPAM scheme be used with Kubernetes for either Pods or Services.  I know of customers who use strict IPAM schemes where the ability to this _might_ be useful for them.  I think we could just as easily document this as "in most cases you really shouldn't write CIDR rule

[2017-08-02 19:36] cmluciano commented on #49978
Was just noting this too. xref: #46508

[2017-08-02 19:37] cmluciano commented on #43905
/assign

[2017-08-02 19:37] cmluciano commented on #43905
/close

closing due to inactivity

[2017-08-02 19:37] #43905 closed

[2017-08-02 19:40] ironcladlou commented on #49966
@dims

I believe so (and @caesarxuchao can probably confirm). I'm also triaging https://github.com/kubernetes/kubernetes/issues/50022#event-1189821662 which are likely the same root cause.

[2017-08-02 19:43] dims commented on #48703
@edevil @jingxu97 : so we can close this issue once we test the fix in 1.7.3?

[2017-08-02 19:44] greenkiwi commented on #45626
We're using: `kope.io/k8s-1.6-debian-jessie-amd64-hvm-ebs-2017-05-02`

[2017-08-02 19:46] #48509 closed

[2017-08-02 19:46] #49755 closed

[2017-08-02 19:47] cmluciano commented on #49978
It seems that a config-map for kube-proxy was the goal for exposing cluster-cidr. This would force consumers to utilize RBAC.

Similar to #46254

[2017-08-02 19:49] caseydavenport commented on #49978
That syntax looks very much like a deny.  I feel very strongly we should not add deny capability right now, and if we ever do it shouldn't be a sub-struct of CIDR.

This feels too much like trying to squeeze deny rules in through a loophole.  If someone wants to express this they'll need to do so with multiple CIDRs, and yeah sometimes that will be a lot.

We should be trying to address most peopl

[2017-08-02 20:03] kfox1111 commented on #49236
@aaron12134 I think the concern is secrets only ever hit /dev/shm now, not disk ever.

I do think its a reasonable to allow it on disk when the pod is explicitly marked by the user as checkpointed though. Its critical to the functioning of the checkpoint that the pod can come up without the control plane being ready.

[2017-08-02 20:08] jingxu97 commented on #48703
@dims yes, I think so

[2017-08-02 20:09] danwinship commented on #49978
It addresses the needs of people who want "allow from X", but is really unhelpful for people who want "allow from anywhere except X". I'm not sure what "most people's needs" are though.

Note that you can currently specify policies like "allow traffic from anywhere except pods that have label X", or even "allow traffic from pods that have label X and don't have label Y or Z".

[2017-08-02 20:22] d-shi commented on #22984
+1 to this as well. We use custom hostnames inside our VPCs, and I would like the node names inside k8s to match our hostnames rather than get them from AWS metadata.

[2017-08-02 20:29] Markbnj commented on #50034
/sig network

[2017-08-02 20:31] jingxu97 opened #50038 "Cinder cloud provider's AttachDisk should not issue detach inside of it."
In Cinder cloud provider openstack https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack_volumes.go#L234
Inside of AttachDisk function, it issues DetachDisk if it find out the the volume is currently attached to a different instance. This is very dangerous because it is very likely the volume is still mounted to that instance. The correct behavior sho

[2017-08-02 20:31] nicksardo commented on #50034
Yes, known issue that ILB does not work in manual networks. This will be fixed in a patch release.

/assign

[2017-08-02 20:32] msau42 opened #50039 "Need to test storage plugins on ubuntu"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We will be supporting ubuntu as a node image soon, so the major storage plugins should be validated against it.

[2017-08-02 20:33] nicksardo commented on #50034
/area platform/gce

[2017-08-02 20:33] msau42 commented on #50039
/sig storage

[2017-08-02 20:33] jingxu97 commented on #50038
cc @k8s-mirror-storage-bugs

[2017-08-02 20:33] shaklee3 commented on #44107
@yongtang The presentation can be viewed here:

http://on-demand.gputechconf.com/gtc/2017/video/s7177-jonathan-calmels-felix-abecassis-using-containers-for-gpu-accelerated-applications.mp4

Here is the link to the page of the new project:

https://github.com/NVIDIA/libnvidia-container

[2017-08-02 20:36] skorski commented on #48937
I'm actually getting this same error with 1.7.1 and docker 1.13.1.  Anyone have other thoughts on what the issue might be here?  I found this so question (https://stackoverflow.com/questions/36545105/docker-couldnt-find-an-alternative-telinit-implementation-to-spawn) but it looks like everything is configured correctly.

[code]

[code]
[code]

[code]

[2017-08-02 20:51] guoshimin opened #50040 "kubectl apply error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubectl apply fails with "unable to find api field in struct Container for the json field "$setElementOrder/env""

**What you expected to happen**:
Should not fail

**How to reproduce it (as minimally and precisely as possible)**:
Using kubectl v1.7, if the modified version
- deletes an element from an array (say `env`)
-

[2017-08-02 20:59] cblecker commented on #44420
What's left:
[code]

translations: the kubectl specific translations is being handled by sig-cli, but the rest of the files like README and test have been handled and approved mostly by @brendandburns.
third_party: this is a tricky mix of stuff like forked code.. mostly handled by the likes of @thockin, @lavalamp, or @smarterclayton for approvals.
Godep/vendor: These could probably be solved by ha

[2017-08-02 21:05] hanikesn opened #50041 "No documentation about kube-proxy ConfigFile"
/kind bug

kube-proxy in Kubernetes 1.7 outputs the following warning:
[code]

But there is zero documentation about this config file to be found. Digging into the code I found KubeProxyConfiguration:
https://github.com/kubernetes/kubernetes/pull/34727/files#diff-ed3df710e9af7cd30a185896a60897d9R694
and subsequently:
https://stackoverflow.com/questions/45438254/need-a-example-about-kube-proxy-conf

[2017-08-02 21:09] hanikesn commented on #50041
/area kube-proxy
/kind documentation

[2017-08-02 21:09] hanikesn commented on #50041
/remove-area bug

[2017-08-02 21:10] hanikesn commented on #50041
/remove-kind bug

[2017-08-02 21:17] guoshimin commented on #50040
/sig cli

[2017-08-02 21:29] ironcladlou commented on #50022
I was able to reproduce this locally (although it's very hard to trigger). Initial thoughts are that it's different from https://github.com/kubernetes/kubernetes/issues/49966; in this case, the actual sync is instant (millseconds) but the CRD created in the test fails to appear in discovery calls over the course of repeated attempts every 5 seconds for the remainder of the test. Normally, the type

[2017-08-02 21:31] #50039 closed

[2017-08-02 21:41] timothysc commented on #49896
@gposcidonio Could you show the full ```kubectl describe pod``` output and what you would like to see?

[2017-08-02 21:41] tallclair commented on #48561
Definitely not a blocker. It's (relatively) easy to add information to the API. We just want to make sure that the information we currently have is in the right state before going to beta / GA.

[2017-08-02 21:43] msau42 opened #50043 "Local pv tests panicking"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
[testgrid](https://k8s-testgrid.appspot.com/google-gce#gce-alpha-features)
[logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-alpha-features/13933)

[code]

**What you expected to happen**:
Test should pass

[2017-08-02 21:43] msau42 commented on #50043
/sig storage

[2017-08-02 21:44] msau42 commented on #50043
@ddysher can you take a look?

[2017-08-02 21:45] msau42 commented on #50043
cc @sbezverk

[2017-08-02 21:47] timothysc commented on #48945
In general, I'm going to defer these questions to sig-auth folks.

[2017-08-02 21:55] #42089 closed

[2017-08-02 21:59] gposcidonio commented on #49896
@timothysc Sure thing. I can't seem to replicate the `OutOfCpu` status that i mentioned above, which is disconcerting to say the least. In any case, here is the output of `kubectl describe` for one of the `Pending` Pods:

[code]

Under `Conditions` I would love to have a reason there when the system is out of resources that tells me so. For example:

[code]

Also the `Reason` field already exists,

[2017-08-02 22:08] tallclair commented on #48561
RE: Metadata.CreationTimestamp
Perhaps we should just reevaluate whether the metadata is necessary in the first place, since we're not using any of the fields?
xref: https://github.com/kubernetes/kubernetes/pull/49656

[2017-08-02 22:12] mml commented on #49543
Previously we removed vowels in #37225.  We can 3xt3nd the idea with 0, 1 (can stand for `I`) and 3.  @jamesawebb1 would you like to send a PR?  If not, I can work on this.

[2017-08-02 22:13] felipejfc commented on #49792
+1

At gaming industry that would be very valuable as well, our use case is:

We want to deploy "game room units" into kubernetes and they can listen in any protocol, tcp or udp, for us the best way to expose the game servers to the clients is by using hostNetwork as we need performance(exchanging a lot of ticks between server and client).
And today we hit this problem while developing an architec

[2017-08-02 22:15] mml commented on #49543
/assign jamesawebb1

[2017-08-02 22:16] mml commented on #49543
@jamesawebb1 Reassign to me if you do not want to contribute a PR.

[2017-08-02 22:20] msau42 commented on #49905
/close

[2017-08-02 22:20] #49905 closed

[2017-08-02 22:20] msau42 commented on #49907
/close

[2017-08-02 22:20] #49907 closed

[2017-08-02 22:20] msau42 commented on #49907
It's been fixed by #49016

[2017-08-02 22:27] caesarxuchao opened #50046 "Optimize the periodic API discovery of the garbage collector"
Currently every 30s, the garbage collector pauses all its workers, invalidates its discovery cache,  re-discover the API, waits for all the informers to be synced (i.e., waits for informers finish initial LIST), then resumes working. The process is expensive, costs 10~30 seconds according to the logs of presubmit tests (https://github.com/kubernetes/kubernetes/issues/49966#issuecomment-319505816).

[2017-08-02 22:28] caesarxuchao commented on #50046
/assign @ironcladlou

[2017-08-02 22:28] caesarxuchao commented on #50046
/sig api-machinery

[2017-08-02 22:29] caesarxuchao commented on #49966
Opened https://github.com/kubernetes/kubernetes/issues/50046 to track the optimization of API discovery behavior of GC.

[2017-08-02 22:31] jeffvance commented on #49529
Below are some records from a [kubelet.log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/7754/artifacts/bootstrap-e2e-minion-group-vt6k/kubelet.log) related to the glusterfs-client pod, _gluster-io-client_e2e-tests-volume-io-6h140(d738c84c-778e-11e7-afad-42010a840002)_ and the "e2e-tests-volume-io-6h140" ns:
[code]

[2017-08-02 22:32] caesarxuchao opened #50047 "[e2e flake] Garbage collector should not be blocked by dependency circle"
[High failure rate](https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=Garbage%20collector%20should%20not%20be%20blocked%20by%20dependency%20circle)

Perhaps it has the same root cause as https://github.com/kubernetes/kubernetes/issues/49966

[2017-08-02 22:33] caesarxuchao commented on #49966
@dims tracked "Garbage collector should not be blocked by dependency circle" in https://github.com/kubernetes/kubernetes/issues/50047.

[2017-08-02 22:53] msau42 commented on #49964
This will have impact on local persistent storage too. I am currently working on changes to make the scheduler aware of storage topology, but the smallest granularity is at the node level, and not within a node.

[2017-08-02 22:56] msau42 commented on #49906
PVC binding is currently done independently of pod scheduler, and is therefore not integrated with pod anti-affinity policies.  I am working on making the PVC binding more integrated with pod scheduling, but it's a big design change and will take a few releases to be fully functional.

/sig storage

[2017-08-02 22:58] msau42 commented on #49906
/assign

[2017-08-02 23:12] msau42 commented on #48554
The docs have been updated with steps on how to manually reclaim a volume:
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reclaiming

[2017-08-02 23:19] mtanino commented on #48554
@guillelb @msau42
Do you still have a problem that the volume doesn't become "Released" status?
[code]
If the volume became "Released", you can reclaim it with above steps.

[2017-08-02 23:22] msau42 commented on #48463
We don't plan on fixing this for the following reasons:
1. It is not possible to gain access to nodes in the API object validation path
2. Mounting will catch this error
3. Using the local storage provisioner solves these issues
4. Other volume plugins do not do extensive validation of their parameters either

Please feel free to update the PV/volume documentation to say that the validation of vol

[2017-08-02 23:22] msau42 commented on #48463
/assign

[2017-08-02 23:22] msau42 commented on #48463
/close

[2017-08-02 23:22] #48463 closed

[2017-08-02 23:25] #49966 closed

[2017-08-02 23:28] msau42 commented on #47125
@markpeterfejes  @YouriT there are no plans in the near future to support xfs on COS.  However, you can now specify ubuntu as a node image type in GKE (beta).

[2017-08-02 23:48] cjwagner opened #50048 "Every user in an OWNERS file should be a kubernetes member or outside collaborator."
/kind bug

**What happened**:
OWNERS files contain users who are not collaborators. These users cannot be assigned to PRs or Issues which is what the bots use OWNERS files for.

**What you expected to happen**:
If you are in this list please become a kubernetes member or an outside collaborator.

The following github users are listed in at least one OWNERS file in the kubernetes repo, but are not

[2017-08-02 23:52] erictune commented on #48893
If a controller binary watches uninitialized objects, does it see more Watch traffic?
If a cluster has N initializers, does each initializer's update show up in the watch stream?
Or is there some batching?

[2017-08-03 00:00] MrHohn commented on #50048
Humm...I should never put capitals in my github handle :(

[2017-08-03 00:04] nicksardo opened #50049 "GCE: Health check firewall is updated on every sync"
/kind bug

The node-http-hc firewall is updated on sync of every load balancer service.

[2017-08-03 00:04] nicksardo commented on #50049
/sig networking
/area platform/gce
/assign

[2017-08-03 00:06] #48215 closed

[2017-08-03 00:08] dims commented on #50048
I believe some of them are typos

[code]

[2017-08-03 00:11] dims commented on #50048
@sebgoa @liggitt @madhusudancs @saad-ali are Org members. @lixiaobing1 is not

[2017-08-03 00:41] caseydavenport commented on #49978
@danwinship @cmluciano @thockin Ok, what about something like this?

[code]

Or

[code]

^ Default would be "operation: In"

[2017-08-03 00:49] rata commented on #50048
I'd be glad to join, let me know and I'll enable U2F on my github account if needed! :-)

[2017-08-03 00:52] sbezverk commented on #50043
This part looks a bit suspicious,  config var at this moment initialized properly, it is just a pointer to nil.
        var (
                config *localTestConfig
                node0  *v1.Node
                scName string
        )
Panic here is because I think points nowhere
                node0 = &config.nodes.Items[0]

Here is only where config gets instantiated.
                config =

[2017-08-03 01:06] msau42 commented on #50043
Yeah, looks like `node0` should not use `config`

[2017-08-03 01:12] nicksardo commented on #50049
/sig network

[2017-08-03 01:13] ddysher commented on #50043
+1 we should just use nodes.Items[0]

wondering how this passed ci ...

[2017-08-03 01:17] msau42 commented on #50043
It didn't :-)  See [testgrid](https://k8s-testgrid.appspot.com/google-gce#gce-alpha-features)

[2017-08-03 01:19] m1093782566 commented on #50048
I would like to join as well.

[2017-08-03 01:26] ddysher commented on #50043
hmm, ok

@sbezverk since u spotted the bug, do you want to put a PR for it?

[2017-08-03 01:31] sbezverk commented on #50043
if you can do it now, then please go ahead. otherwise I will do it tomorrow morning since it is already late on East Coast.

[2017-08-03 01:35] dchen1107 commented on #49314
@alena1108 Are you able to validate the fix provided by @julia-stripe through #50028? Just saw this issue, and I think it is a serious regression in 1.7 release and we should patch it.

[2017-08-03 01:37] resouer commented on #48648
/assign

[2017-08-03 01:41] bsalamat commented on #48648
A high level idea of how priority should be added to ResourceQuota is to add a field to resource quota that specifies a priority class name. When the field is set, it indicates that the quota applies to that priority class. If the field is not present, quota applies to all priority classes.
It is worth noting that quota is assigned per namespace, not per user, in Kubernetes. Adding priority to Res

[2017-08-03 01:47] lixiaobing1 commented on #50048
me too, can i join?

[2017-08-03 01:56] WIZARD-CXY commented on #49998
/sig api-machinery

[2017-08-03 01:58] xiangpengzhao commented on #50048
yuyuhong@ is a typo of yujuhong@ in this [OWNERS file](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/gpu/OWNERS)

ping @yujuhong

[2017-08-03 02:12] karataliu commented on #43608
Related PR #45523 was merged to v1.7, and has been cherry-picked to v1.6

Verified with v1.6.6, this issue is fixed.

[2017-08-03 02:16] tcharding commented on #50022
Looks like PR #50023 might be hitting a related flaky test. I get 6 failures in 60 runs from the command

`stress ./garbagecollector.test -test.run=TestCustomResourceCascadingDeletion`

I'm super new around here so thought it prudent to add the information I have found before attempting to dig deeper.

 I followed instructions in `flaky-tests.md` to build `garbagecollector.test` from within direct

[2017-08-03 02:26] davidopp commented on #22212
This feature isn't really intended to satisfy the use case you're talking about (or perhaps more precisely, it is just one piece of satisfying the use case you're talking about). But, you will be interested in #36716 and the associated [design doc](https://docs.google.com/document/d/1-H2hnZap7gQivcSU-9j4ZrJ8wE_WwcfOkTeAGjzUyLA/edit). (Note: you have to join the kubernetes-dev mailing list to view

[2017-08-03 02:31] xiangpengzhao commented on #50048
/sig contributor-experience

[2017-08-03 02:32] xiangpengzhao commented on #50041
/sig network

[2017-08-03 02:33] liqlin2015 opened #50055 "PSP: provide a simple way to allow all Linux capabilities"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Currently when user tries to create a super privileged PSP, it will require cluster admin to list all Linux capabilities in PSP `defaultAddCapabilities` field. It would be boring to get all the Linux capabilities and put them in PSP spec.

**What you expected to happen**:
Just like `volumes` field in PSP. Can we specify `*` to allo

[2017-08-03 02:33] xiangpengzhao commented on #50027
/sig node

[2017-08-03 02:33] feiskyer opened #50056 "fluentd-elasticsearch deploy error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When deploying [https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch) addon, the fluentd pods start error because of image `gcr.io/google_containers/fluentd-elasticsearch:1.24` is missing.

**Wh

[2017-08-03 02:34] feiskyer commented on #50056
cc/ @coffeepac @crassirostris

[2017-08-03 02:34] alena1108 commented on #49314
@dchen1107 our QA have been busy with the current release, and didn't have a chance to validate the fix yet. Hopefully this week.

Patching sounds like a great idea. It is a regression indeed as we haven't hit this issue in the previous versions of k8s with the same set of validation tests.

[2017-08-03 02:36] xiangpengzhao commented on #49934
/sig storage

[2017-08-03 02:44] hiscal2015 commented on #23291
+1 It is wonderful if ingress supports TCP and SNI

[2017-08-03 02:49] liqlin2015 opened #50057 "PSP: User group with rolebinding to clusterrole cluster-admin can use any PSP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
User group/service account with rolebinding to clusterrole `cluster-admin` in a namespace can use any PSP.

**What you expected to happen**:

User group/service account with rolebinding to clusterrole `cluster-admin` in a namespace shall not use any PSP if there is no explicit clusterrolebinding/rolebinding that refer to clusterrole

[2017-08-03 02:59] akaipham commented on #49934
/sig bug

[2017-08-03 03:00] qrevel commented on #50010
Hi @dixudx,
Thanks for the quick reply
I'm actually using the `kubernetes.io/role` as you can see in the workaround above. I'm not using kubeadm role label.

[2017-08-03 03:05] MrHohn opened #50058 "kubelet stops posting NodeOutOfDisk condition while scheduler is still checking"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Scheduler is still [checking `NodeOutOfDisk` condition](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L796-L822), which was already deprecated and removed from kubelet in #48846.

**What you expected to happen**: Scheduler should check `NodeDiskPressure` condition instead, o

[2017-08-03 03:07] #47832 closed

[2017-08-03 03:07] #49623 closed

[2017-08-03 03:12] ddysher commented on #50043
I've created #50059, PTAL @sbezverk @msau42

[2017-08-03 03:27] dashpole commented on #50058
fixed via #49841

[2017-08-03 03:36] m1093782566 opened #50060 "[kubectl] labels/protocols map key should not be empty string"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

* construct a string for labels, and let [ParseLabels()](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/generate.go#L176) consume it.  For example, suppose label string is `=abc`, then this function will return a map `labels[""]="abc"` which indicates a label `""=abc`.

* construct a string for portProt

[2017-08-03 03:37] m1093782566 commented on #50060
If it's a bug, I can help fix it.

[2017-08-03 03:40] wzhliang commented on #49722
Forgot who opened it.

[2017-08-03 03:43] liqlin2015 commented on #50055
Just like docker https://docs.docker.com/engine/reference/run/#runtime-privilege-and-linux-capabilities. Can we specify `--cap-add=ALL --cap-drop=MKNOD` to allow all capabilities?

[2017-08-03 04:04] m1093782566 commented on #50060
/sig cli

[2017-08-03 04:23] dimm0 commented on #48776
Found the source of problem: https://github.com/golang/oauth2/issues/244

[2017-08-03 04:23] #48776 closed

[2017-08-03 04:26] TimothyYe commented on #49065
Same issue when using kubeadm 1.7.2 , On CentOS 7.3

[2017-08-03 04:44] MrHohn commented on #50058
@dashpole Awesome, thanks!

[2017-08-03 05:01] davidopp commented on #48648
Yes, that sounds reasonable. Here are a few other observations (in the below points, "exists" means "exists in the same namespace")
* resourcequota admission controller should reject creation or update of ResourceQuota object if new ResourceQuota names a PriorityClass that does not exist, i.e. is not a pre-defined or user-specified PriorityClass (but empty is allowed)
* resourcequota admission con

[2017-08-03 05:07] weinong opened #50062 "Azure: configure the properties of load balancer endpoint through annotations"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:
Right now, it's a manual process to update the exposed load balancer endpoint with DNS, NSG, and etc. It could be automated by cloud provider through annotations on service resource, for instance:
`azure.io.domainHost: foo` which will assign dns `foo.westus.cloudapp.azure.com`
likewis

[2017-08-03 05:08] weinong commented on #50062
/sig azure

[2017-08-03 05:12] weinong commented on #50062
@jdumars @anhowe @brendandburns

[2017-08-03 05:13] liqlin2015 commented on #50055
`One of the (many!) features of Docker 0.6 is the new “privileged” mode for containers. It allows you to run some containers with (almost) all the capabilities of their host machine, regarding kernel features and device access.` Cited from docker doc. I think "privileged" container has all the Linux capabilities of the host. However it's true in Kubernetes.

[2017-08-03 05:32] #35058 closed

[2017-08-03 05:32] #47385 closed

[2017-08-03 05:39] xiangpengzhao commented on #50057
/sig auth

[2017-08-03 05:42] WanLinghao commented on #49701
PR #49355 has fixed this bug

[2017-08-03 05:56] ddysher commented on #49978
While I think the flexibility is great, there is no such flexibility for pod selector and namespace selector.  Is there a way to say "allow connections from everywhere except ns-1"?  I don't have a specific use case, but just wondering if this is intentionally different.

[2017-08-03 05:59] k8s-merge-robot opened #50064 "Failure cluster [48a392...] failed 130 builds, 16 jobs, and 3 tests over 1 days"
### Failure cluster [48a392f8047f92e5f63b](https://go.k8s.io/triage#48a392f8047f92e5f63b)
##### Error text:
[code]
##### Failure cluster statistics:
3 tests failed,    16 jobs failed,    130 builds failed.
Failure stats cover 1 day time range '2 Aug 2017 04:55 UTC' to '3 Aug 2017 04:55 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-storage] Volumes P

[2017-08-03 05:59] k8s-merge-robot opened #50065 "Failure cluster [b75045...] failed 95 builds, 32 jobs, and 7 tests over 1 days"
### Failure cluster [b75045e2cb613e12dca1](https://go.k8s.io/triage#b75045e2cb613e12dca1)
##### Error text:
[code]
##### Failure cluster statistics:
7 tests failed,    32 jobs failed,    95 builds failed.
Failure stats cover 1 day time range '2 Aug 2017 04:55 UTC' to '3 Aug 2017 04:55 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] [HPA] Horizonta

[2017-08-03 06:03] sttts commented on #50026
We have a stop channel passed into the `Run` func. It's not used everywhere (storage is not shutdown, biting us in tests right now). This could be used in combination with signals.

[2017-08-03 06:03] sttts commented on #50026
/cc @frobware

[2017-08-03 06:05] jinuxstyle commented on #29972
Any update on this issue?

Is it possible to add some kind of filters for kubelet garbage collector to prevent containers matching the filter from being deleted by the collector?

[2017-08-03 06:15] luxas commented on #50010
@justinsb Your favorite topic came up again.
Hi @qrevel, I do think this is a bug. As @dixudx said, kubectl shouldn't show anything based on the old kubeadm master label, but it should probably on the `kubernetes.io/role` label, but absolutely on the `node-role.kubernetes.io/master` label.

cc @jbeda @philips as you have opinions on this as well

cc @kubernetes/sig-cluster-lifecycle-bugs

[2017-08-03 06:17] dixudx commented on #49933
@huangjiasingle Just an excerpt from [kube-apiserver official doc](https://kubernetes.io/docs/admin/kube-apiserver/).

`--insecure-port=0` means to disable insecure access, which is not the default value.

[2017-08-03 06:18] xiangpengzhao commented on #50064
/sig storage

[2017-08-03 06:22] svanharmelen commented on #50048
I opted to join earlier, but that never happened. Of course still up for it if you can help me through the process.

[2017-08-03 06:24] spnzig commented on #44298
@pgnaleen I am facing a similar issue. Have you figured any workaround for this?

[2017-08-03 06:29] #50049 closed

[2017-08-03 06:39] davidopp commented on #49964
@msau42 My understanding is that the kind of detailed scheduling @ConnorDoyle is talking about is done locally on the kubelet and not in the cluster scheduler (except very coarse-grained things like number of NUMA nodes you are requesting).

[2017-08-03 06:48] inetkiller commented on #49701
@WanLinghao nice

[2017-08-03 06:53] #49701 closed

[2017-08-03 07:13] wanghaoran1988 commented on #38756
Seems @DirectXMan12 is working on this from the comments here:https://github.com/kubernetes/kubernetes/pull/49971#issuecomment-319496553

[2017-08-03 07:33] davidopp commented on #49314
Thanks everyone who helped investigate this!

[2017-08-03 07:34] xiangpengzhao commented on #49999
@MrHohn I didn't mean the HealthCheck NodePort release process in `Delete()`. I meant the allocation process in `Create()` and `Update()`.

Take `Create()` for example, please see:
https://github.com/kubernetes/kubernetes/blob/v1.7.2/pkg/registry/core/service/rest.go#L119-L191

There is a defer for common NodePorts in [L120](https://github.com/kubernetes/kubernetes/blob/v1.7.2/pkg/registry/core/se

[2017-08-03 07:35] lichuqiang opened #50067 "Pod failed to evict while Controller-manager happened to crash or change leader during the pod eviction process"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
In our reliability test environment, we tried to let nodes down, and perhaps restart some management components at the same time. As a result, we met the case that some pods on unavailable nodes were not evicted and still in ready condition

**What you expected to happen**:
Following the code, we find that in the func of monitorNode

[2017-08-03 07:35] ixdy commented on #35359
/assign

Once #47558 is fixed (in the next week or so) bazel build on mac should work, though cross-compilation to linux won't be supported until the next bazel release (probably later this month).

[2017-08-03 07:36] ixdy commented on #40161
blocked by #47558

[2017-08-03 07:45] xiangpengzhao commented on #49999
Testing service manifest, `lb.yaml`.
[code]

1. Add some simple testing code. See: [compare](https://github.com/kubernetes/kubernetes/compare/master...xiangpengzhao:fix-hcnp). Note that I add this error intentionally:
[code]

2. Run kube-apiserver with flag `--feature-gates=AllowExtTrafficLocalEndpoints=true`.

3. `kubectl create -f lb.yaml`. We will get below output. This is expected.
[code]

4.

[2017-08-03 07:47] sebglon commented on #50056
cc/ @aknuds1

[2017-08-03 07:48] crassirostris commented on #50056
Pushed it, my mistake, sorry!

[2017-08-03 07:48] #50056 closed

[2017-08-03 07:49] kevin-wangzefeng commented on #50067
/sig node

[2017-08-03 07:50] kevin-wangzefeng commented on #50067
/cc @kubernetes/sig-node-bugs

[2017-08-03 07:51] xiangpengzhao commented on #49999
Fortunately, several minute later, the leak was repaired and cleaned up.

[code]

But anyway, we should release the HealthCheck NodePort when `CreateService` fails. We shouldn't depend on the later repair.

[2017-08-03 08:06] supereagle commented on #50056
@feiskyer  I can pull the image `gcr.io/google_containers/fluentd-elasticsearch:1.24`. Is your network limited to access GCR? What about pulling this image through `docker pull`?

[2017-08-03 08:08] supereagle commented on #50056
@crassirostris  Have just pulled, it works. Thanks.

[2017-08-03 08:08] yastij commented on #49625
also ping @justinsb and @bowei

[2017-08-03 08:19] davidopp commented on #49818
@kubernetes/sig-scheduling-feature-requests
@derekwaynecarr

[2017-08-03 09:03] LiliC opened #50075 "Unable to get pod by filtering by its IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I was attempting to filter pods with a `fieldSelector` using client-go selecting by its `podIP`. I tried multiple variations until I ended up with `"status.podIP=<pod-ip>"`.
When filtering by `status.podIP=172.17.0.4`, list of pod(s) came back empty even if pod with the IP we are filtering by was running. Then I tried reproducing it

[2017-08-03 09:04] xiangpengzhao commented on #50048
@cjwagner should there be a verification script running in CI to check if the modification on OWNERS files are valid, i.e. the added approvers/reviewers are members or collaborators?

[2017-08-03 09:05] crassirostris commented on #48561
+1 to https://github.com/kubernetes/kubernetes/pull/49656#issuecomment-319888254, I'll be happy to see it go and have two separate timestamps

FYI @CaoShuFeng

[2017-08-03 09:07] pavelhritonenko commented on #45626
Haven't seen the problem since migrated all nodes to latest ubuntu ami (16.04.2 LTS).

[2017-08-03 09:09] LiliC commented on #50075
@kubernetes/sig-api-machinery

[2017-08-03 09:11] xiangpengzhao commented on #50048
I saw some contributors who are not members/collaborators, but they still can be assigned.

See: https://github.com/kubernetes/kubernetes/pull/49945#issuecomment-319429145

Seems like dashpole@ isn't a member/collaborator, but he/she still is assigned to the PR.

[2017-08-03 09:13] LiliC commented on #50075
@kubernetes/sig-api-machinery-bugs

/sig api-machinery

[2017-08-03 09:14] crassirostris opened #50076 "Identify the server in audit webhook"
Spinning up a discussion from https://github.com/kubernetes/kubernetes/issues/48561

It can be implemented right now by adding a parameter to the webhook address on the deployment stage and process this parameter later in the pipeline. However, it's (relatively) easy to add information to the API and we want to make sure that the information we currently have is in the right state before going to

[2017-08-03 09:15] crassirostris commented on #48561
Sounds good. I spun up a separate issue for the discussion: https://github.com/kubernetes/kubernetes/issues/50076

[2017-08-03 09:25] insoz opened #50077 "Can't delete pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I delete the pod with yaml file

[code]

Aug  3 05:20:38 localhost journal: W0803 09:20:38.272696       1 cache.go:367] Couldn't expire cache for pod kube-system/monitoring-grafana-2495521324-r0gq3. Binding is still in progress.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[2017-08-03 09:30] wzhliang opened #50079 "Should allow external service with no port definition"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

**What happened**:
When deploying a service with either `exteralIPs` or `externalName`, API server rejects the request if there is no port definition. This is not ideal. As these affects DNS records only, kubernetes should allow such service without port definition.

**What you expected to happen**:
Creating service where either `externalIPs` or `

[2017-08-03 09:34] insoz commented on #50077
/sig Delete-pod

[2017-08-03 09:34] wzhliang commented on #50079
/sig area/apiserver

[2017-08-03 09:36] insoz commented on #50077
/sig status/in-progress

[2017-08-03 09:37] insoz commented on #50077
/status [in-progress]

[2017-08-03 09:39] insoz commented on #50077
/sig [status/in-progress]

[2017-08-03 09:42] yastij commented on #50077
/sig scheduling

[2017-08-03 09:45] sttts opened #50081 "Split the fuzzers by apigroup and move into their pkg/apis/<apigroup>/fuzzer package"
In `pkg/api/testing/fuzzer.go` there is a `overrideGenericFuncs` function. We switched some of the apigroups (most are in `pkg/apis`) to have their own fuzzer/ package (e.g. `vendor/k8s.io/apiserver/pkg/apis/example/fuzzer/fuzzer.go`). The task would be to split the `pkg/api/testing/fuzzer.go` file up and create those fuzzer dirs in the `pkg/apis/<apigroup>/fuzzer`.

[2017-08-03 09:45] mohitpatiyala commented on #49933
@huangjiasingle
Below is the apiserver YAML and kubelet conf file (renamed to text)
[kube-apiserver.txt](https://github.com/kubernetes/kubernetes/files/1196707/kube-apiserver.txt)
[kubelet.txt](https://github.com/kubernetes/kubernetes/files/1196711/kubelet.txt)

Also the absolute path of the API server YAML file is (/etc/kubernetes/manifests)

We notice that as soon as we change the YAML file(addi

[2017-08-03 09:46] sttts commented on #50081
/assign @zhouhaibing089

[2017-08-03 09:46] mohitpatiyala commented on #49933
@dixudx  when installing through Kubeadm the default value of the default  --insecure-port=0 and not 8080

[2017-08-03 09:47] insoz commented on #50077
@yastij What shoud i do now ? I can't create or delete the pod. and execute `kubectl create/delete` is so slow...

[2017-08-03 09:48] dixudx commented on #49933
@mohitpatiyala That means kubeadm disable insecure requests by setting `--insecure-port=0`.

[2017-08-03 09:57] #50079 closed

[2017-08-03 09:57] jianzhangbjz commented on #50077
These pods running normal before deleting?

[2017-08-03 10:00] insoz commented on #50077
When I create the pods,  The result was syntax error. but look like the pods is still created.
Then I repeat the create/delete about 4 times.

[2017-08-03 10:01] insoz commented on #50077
Before I modify the yaml file.  These pods running normal.

[2017-08-03 10:14] 4406arthur commented on #47142
I setting StubDomain by configmap also have Intermittent issue,
dnsmasq just work well in short time,
I need restart kube-dns pods make it work expectedly.

[2017-08-03 10:22] ralberto commented on #50004
Hi @jingxu97,
I've removed version 1.5.2 and installed 1.7.2 from scratch. (no migrations whatsoever)

Here's the controller-manager logs after shutting down the node with the attached volume.

<pre>
I0803 09:42:18.099080       1 event.go:218] Event(v1.ObjectReference{Kind:"Node", Namespace:"", Name:"smartiot-worker3", UID:"7514afae-782b-11e7-a33d-fa163e9971f4", APIVersion:"", ResourceVersion:"",

[2017-08-03 10:28] m-no-2017 opened #50083 "Kube-DNS not resolving anything but PODs work fine"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug (maybe?)
/sig network (maybe more than that)

**What happened**:
Kube-DNS (v1.14.4) is not resolving any cluster services, but PODs work fine (even with nginx-ingress).

**What you expected to happen**:
Standard resolving of Kube-DNS.

**How to reproduce it (as minimally and precisely as possible)**:
Fresh K8s cluster setup and only launch we

[2017-08-03 10:49] ralberto commented on #50004
Here's the logs of the other two controller-managers.
<pre>
I0803 08:50:31.368864       1 controllermanager.go:107] Version: v1.7.2
I0803 08:50:31.375120       1 leaderelection.go:179] attempting to acquire leader lease...
</pre>

They remain blocked infinitely. I don't see the symptoms described in this issue #49000, i.e. kubectl responses are fast and resource creation is also usually fast.

[2017-08-03 10:55] dims commented on #50055
@liqlin2015 : is this request different from the add/drop already in pods?

- https://www.weave.works/blog/container-capabilities-kubernetes/
- https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-capabilities-for-a-container

[2017-08-03 11:14] gyliu513 commented on #50055
area/security
sig/apps

[2017-08-03 11:29] jianzhangbjz commented on #50077
Can you post the error info and the yaml? Maybe this problem is here: "still created".

[2017-08-03 11:29] yastij commented on #46888
ping @wojtek-t @jagosan, Just had the time to start this one. I can't profile de whole structs on k8s, which areas do you think we should start with ? To me apiserver and kubelet are perfect candidates ? In particular I'm thinking about structs that have mutex and are surrounded with other heavy structs.

also ping @thockin do you think that this audit is relevent ?

[2017-08-03 11:57] xiangpengzhao commented on #50083
/sig network
/area dns

[2017-08-03 12:01] php-coder commented on #50055
Docker expects that the list of capabilities will be supplied during container creation. Currently, Kubernetes don't do much here and just passes the list that has been specified by a cluster admin in the `defaultAddCapabilities` field. If we change that then Kubernetes will be responsible for expanding `*` to the list of real capabilities. This list is changing over time and depends on the kernel

[2017-08-03 12:04] Mahesh-MSFT commented on #45076
me too.

[2017-08-03 12:11] jianzhangbjz commented on #49917
No, the rc(`ControllerManager`) doesn't execute delete pod action, it just make sure the number of replies with my understanding. What's the output of `kubectl describe rc`? Or can you reproduce this issue?

[2017-08-03 12:29] ash2k commented on #30698
Would be very useful. Right now there is a race between delete and any other operation that updates the object.
E.g. a controller that owns an object (has a controller owner reference pointing to it) cannot safely delete it because something else may change ownership concurrently. I don't know if it is an issue that happens in practice in kubernetes codebase but it is an issue for Custom Resource

[2017-08-03 12:30] binaryreverse opened #50086 "Updates of running deployments fail with rpc error code = 2 (repository not found: does not exist or no pull access)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Hi. I am running a small Kubernetes cluster with a master and three nodes. We are developing a software which consists of many different services that communicate with each other. Those are built on a Jenkins CI server and deployed into a Docker image.

I have set up a Kubernetes cluster to proceed further deployment, away

[2017-08-03 12:31] ravisantoshgudimetla commented on #46231
/assign

[2017-08-03 12:32] amolsh commented on #49926
master kube-controll-manager is not generating  any logs related to above statefulset. Also I couldn't find anything in api-server logs also. One more thing I forgot to mention my cluster is on CoreOs machines

[2017-08-03 12:32] pweil- commented on #50055
Capabilities in the PSP are dependent on the runtime being used as it's passed as a runtime value and that runtime can allow whatever special values it wants.  In the case of Docker, `ALL` is allowed.  The `ALL` value can be listed in the allowed capabilities or default capabilities and it will be added.

As @php-coder mentioned, it would also be possible to have a `*` wildcard in the allowed capa

[2017-08-03 12:39] binaryreverse commented on #50086
/sig network

[2017-08-03 12:40] antonkyrylenko commented on #48937
In kubernetes 1.7, under pid # 1, there is a "/ pause" process, and since init takes pid 1, it is no longer available. In earlier versions of kubernetes, pid # 1 was free .

PID   USER     TIME   COMMAND
    1 root       0:00 /pause
    7 root       3:41 /tiller

Kubernetes now shares a single PID namespace among all containers in a pod when running with docker >= 1.13.1. This means processes can

[2017-08-03 12:42] binaryreverse commented on #50086
/area images-registry

[2017-08-03 12:49] php-coder commented on #50055
@gyliu513 The commands weren't applied because they should start with a slash.

[2017-08-03 12:52] dims commented on #50055
/area security
/sig apps

[2017-08-03 13:00] discordianfish commented on #21283
I came here wondering if there is a less-insecure flag like --insecure-skip-san-verify which would still validate that the server cert is signed by the trusted CA but ignore SAN IPs. Is that something worth a feature request?

[2017-08-03 13:29] dixudx commented on #50075
@LiliC Currently the `fieldSelector` for `Pod` only support `metadata.name`, `metadata.namespace`, `spec.nodeName`, `spec.restartPolicy` and `status.phase`. I've already submitted a PR in #50091. PTAL.

[2017-08-03 13:30] kyrie9927 commented on #26245
@zhuqinghua I'm facing the same issue,can you resolve this?tell me how to fix tis,thanks!

[2017-08-03 13:31] php-coder commented on #50057
Unfortunately, I don't fully understand your case but if you're creating a pod under user with `cluster-admin` role I'd expect that this user will be super privileged because this role "gives full control over every resource" (quote from doc: https://kubernetes.io/docs/admin/authorization/rbac/)

CC @pweil- @liggitt

[2017-08-03 13:32] kincl commented on #28660
The issue here for us was getting around the Service load balancer and being able to address a pod directly from external to the cluster. We were able to achieve this by using the preserve source IP feature [0] that has been in 1.5+ combined with NodePort which only routes traffic to a pod located on the same node. This along with the downward API to give the pod the hostname of the node allows us

[2017-08-03 13:41] liggitt commented on #50057
this is working as designed. the `cluster-admin` clusterrole is a superuser role that grants any verb (including `use`) on any resource (including `podsecuritypolicies`) at the scope where it is bound. The ability to use a PSP is checked within the namespace where the pod is being created (the query to the authorization layer is of the form "can user X `use` the resource `podsecuritypolicies` with

[2017-08-03 13:41] #50057 closed

[2017-08-03 13:46] shivangipatwardhan2018 commented on #33554
I am having this exact problem and wish to change ndots to 1. @jkemp101 mentioned a configmap work around. What is that? Where can I find it? or is there a workaround to set the ndots = 1?
Thank you!

[2017-08-03 13:47] php-coder commented on #50057
@liggitt Do we need to mention this in PSP documentation or we don't?

[2017-08-03 13:50] liggitt commented on #50057
sure, I will open a doc update PR to clarify

[2017-08-03 13:57] ironcladlou commented on #50022
@tcharding Thanks. I've also been able to reproduce locally and am debugging it today. I did have to hack up the integration test setup to get apiserver logs in this context. I've also opened https://github.com/kubernetes/kubernetes/pull/50035 to explore making the integration test script more configurable with regards to logging.

[2017-08-03 14:08] feiskyer commented on #50056
@crassirostris @supereagle It works now. Thanks.

[2017-08-03 14:17] klausenbusk commented on #44737
The current behavior (1.7.0) seems a bit broken/weird.
With a volumes spec like so:
[code]
K8s would call:
[code]
But when detaching it call:
[code]
but the [doc](https://github.com/kubernetes/community/blob/master/contributors/devel/flexvolume.md) says:
[code]

So I would expect it to call:
[code]

So either the doc is wrong or something is broken.

The current behavior means that I can't use a m

[2017-08-03 14:18] dfcowell commented on #48968
I've had this same problem pop up when attempting to schedule single-replica deployments after VM migrations of my nodes on GCP.

Eventually the scheduler gives up trying to reschedule the pod and I have to delete it manually to resolve the issue.

I'm going to try recreating the deployments with strategy: Replace and see if that helps, but I'll report back in this issue if it happens again and I

[2017-08-03 14:21] klausenbusk commented on #44737
This broken behavior is caused by: https://github.com/kubernetes/kubernetes/pull/47400 :/

[2017-08-03 14:35] k82cn commented on #42001
/reopen

[2017-08-03 14:36] yastij commented on #42001
Currently we already have toleration on dsc for taint related to node problems (e.g NodeNotReady and NodeUnreachable).
But to me ds should respect the new taints (outOfDisk, NodeMemoryPressure etc..), any insights @k82cn @davidopp ?

[2017-08-03 14:38] k82cn commented on #42001
/reopen

[2017-08-03 14:41] k82cn commented on #42001
Yes, it's one of sub-task of this project.
This issue is closed by 'partially fixes' :(, I had updated PRs to 'part of #'.

[2017-08-03 14:43] yastij commented on #42001
@k82cn - I can handle the dsc tolerations

[2017-08-03 14:53] kargakis commented on #49637
I was testing this today w/o being able to reproduce :( `kubectl rollout status` uses the status of the Deployment to determine if a Deployment has succeeded rolling out so this must be an issue in the Deployment controller where the ProgressDeadlineExceeded Condition is set prematurely. Do you have access in controller manager logs?

[2017-08-03 14:54] kargakis commented on #49637
Can you post the output of the Deployment next time you hit this?
[code]

[2017-08-03 14:57] kargakis commented on #49637
Ideally with --v=4 (loglevel).

[2017-08-03 15:04] mlushpenko commented on #37471
Same here, running minikube on windows 10

[code]

[2017-08-03 15:04] cblecker commented on #50048
dashpole is an org member, but has not chosen to display that status publically

[2017-08-03 15:11] yujuhong commented on #50048
ping @dashpole. Change your setting?

:-\

[2017-08-03 15:12] ironcladlou commented on #50022
I was wrong about the discovery aspect; the CRD is coming back from discovery, but the restMapper fails to map it. I also notice we're using DiscoveryInterface.ServerPreferredResources which is not actually implemented with a cache in memCacheClient.

[2017-08-03 15:15] cblecker commented on #50048
Changing the visibility setting isn't required. The issue here I think is more bad info in OWNERS files. The point of an OWNERS file is to assign someone issues/PRs.. but if the person isn't able to assign stuff, then one setting or the other is wrong.

@cjwagner: is there a way to tell which OWNERS files you're sourcing these from? There's a number of typos, and I also think there's an issue with

[2017-08-03 15:18] yujuhong commented on #50048
I wonder if most of the mrubin@ entries are supposed to be @matchstick........

[2017-08-03 15:25] ironcladlou commented on #50022
@caesarxuchao okay, now I'm getting somewhere. I made a [test in a new branch](https://github.com/kubernetes/kubernetes/compare/master...ironcladlou:rest-mapping-flake?expand=1) which exercises discovery and REST mapping without the GC in the picture at all, and have been able to reproduce the flake 1 time out of 40 runs so far with `stress`.

[2017-08-03 15:32] jtslear commented on #49637
@kargakis Thanks for taking a gander.  As stated I do run into this tremendously randomly.

I'll see if I can get the logs.  I'm running this in GKE, so I'll need to figure out where those may live.

In the meantime, I've modified my deploy script to see if it can help with troubleshooting.  The relevant bits:
[code]

And another example failure.  In this case, we see it take 9 seconds before the

[2017-08-03 15:42] jkemp101 commented on #33554
@shivangipatwardhan2018 Just create a `resolve.conf` file without the `options ndots:5` line (look at the file in an existing pod).  Create a config map with that new `resolve.conf`.   Then add something like this to your deployments to override the k8s provided `resolv.conf` with the file in your config map.

[code]

[2017-08-03 15:45] jtslear commented on #49637
Unfortunately it looks I won't have access to the controller manager logs.  GKE only exposes the api server logs.

[2017-08-03 15:51] nicksardo opened #50095 "GCE: Need to update GLBC version in manifest file"
GLBC v0.9.5 was built with an old version of the GCE cloudprovider which did not allow unknown key-value pairs in gce.conf.  Manifest file must be updated to 0.9.6.

/kind bug
/sig network
/area platform/gce
/assign

[2017-08-03 16:00] ravisantoshgudimetla commented on #49338
/cc

[2017-08-03 16:01] ravisantoshgudimetla commented on #33431
@jayunit100 - Can we close this issue now?

[2017-08-03 16:09] rogeruiz commented on #4914
@manaspatkar21 We ran into this too on our deployment of redis HA. Setting the `slave-announce-ip` to the value of `$(hostname -i)` worked for us. We originally were going to disable ipmasq on `docker` and then enable it on `flannel` but ultimately the easier thing was to properly configure redis servers with that property.

[2017-08-03 16:12] rogeruiz commented on #38176
In case anyone finds this Issue, the fix is to apply the `echo "slave-announce-ip $( hostname -i )" >> redis.conf` to all the redis.conf files you deploy to avoid getting [the Flannel IP address](https://stackoverflow.com/a/37411969) and not use the auto-discovery features of Redis.

[2017-08-03 16:16] msau42 commented on #49964
Yeah, so it can have impact on the volume binding flow since the decision to bind to a particular pci-e ssd could impact the numa-aware scheduling of the pod.

[2017-08-03 16:24] dims commented on #50058
@dashpole @MrHohn - i still see this problem, for example from a run this morning in:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/39587/pull-kubernetes-e2e-gce-etcd3/44825/artifacts/e2e-44825-master/kube-scheduler.log

Found that when looking at failed "Granular Check" problem in:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49501/pull-kubernetes-e2e-

[2017-08-03 16:28] kargakis commented on #49637
It may or may not help but please post the output of `kubectl get deploy/testapp -o yaml` next time you reproduce this. `Reason: ProgressDeadlineExceeded` should be in the status.

[2017-08-03 16:31] cmluciano commented on #49978
@caseydavenport The "In", "NotIn" syntax and what it does is not immediately obvious to me.

 In place of Deny, do we expect that one would create a "deny to everywhere, except these ranges" ?

[2017-08-03 16:45] tanner-bruce commented on #45626
@pavelhritonenko is that on a kops provisioned cluster? `uname -r`?

[2017-08-03 16:59] mindprince commented on #49839
@dashpole The tests are still failing.
/reopen

[2017-08-03 17:04] caesarxuchao commented on #48893
Yes. No batching.

Yes, it sees the initialization traffic. If the initializers are wriitten in an efficient way, then N initializers add N events. For a pod, N more events is negligible in its lifetime.

[2017-08-03 17:05] mindprince commented on #49839
/assign @dashpole

[2017-08-03 17:06] sttts commented on #49879
We have analysed the different specs:
- JSON-Schema draft 4,
- OpenAPI v2,
- OpenAPI v3,
- go-openapi's support as of today.

Here is a spread-sheet with the results: https://docs.google.com/spreadsheets/d/1Mkm9L7CXGvRorV0Cr4Vwfu0DH7XRi24YHPiDK1NZWo4/edit?usp=sharing

## These are the main takeaways:

- go-openapi supports most of JSON Schema draft 4, only lacks some (optional) formats
- go-openap

[2017-08-03 17:10] pavelhritonenko commented on #45626
@tanner-bruce correct, an output from the one of  nodes. Stressed my dev cluster today with autoscaler, haven't seen this issue. All nodes on most-recent canonical 16.04, masters are still on debian.

[2017-08-03 17:11] sttts commented on #49879
Now the technical part of a change from JSON-Schema to OpenAPI v3:

Let's assume we want to be OpenAPI v3 compatible in the validation. We also want to be able to upgrade some day, e.g. to v4 as supported by go-openapi.

Then we have these choices:

1. leave it as it is and do everything implicitly, i.e. silently allow more features of JSON Schema / OpenAPI
2. use the `$schema` field and some URL

[2017-08-03 17:13] ironcladlou commented on #50022
First problem is pretty clear in hindsight; we reset the restmapper, then get deletable resources using the discovery client directly, then sync based on the resources from discovery. The direct discovery call doesn't use the client's internal cache, and so the restmapper might be out of sync with the subsequent discovery call, causing us to sync with resources not yet represented in the restmappe

[2017-08-03 17:15] nikhita commented on #49879
Re: technical part of change from JSON-Schema to OpenAPI v3:

1) things could change anyhow in the future. What if some field gets deleted? Removing a field would be a breaking change.
2) we could do this but would need to change the structure as the standard changes. For one structure, there is really only one `$schema` value possible.
3) and 4. seems good. But will this create a "bloat"? As stan

[2017-08-03 17:17] cjwagner commented on #50048
@cblecker here is the output I pulled the usernames from. It specifies which files had the problematic usernames:

[code]

[2017-08-03 17:18] sttts commented on #49879
@deads2k @enisoc @bgrant0607 @brendandburns @mbohlool please comment on the upper two design decisions for CRD validation:

A) which JSON Schema subset https://github.com/kubernetes/kubernetes/issues/49879#issuecomment-320031200
B) how to express different JSON Schema subset versions https://github.com/kubernetes/kubernetes/issues/49879#issuecomment-320032372

cc @kubernetes/sig-api-machinery-api-

[2017-08-03 17:20] bamb00 opened #50100 "Unable to apply ScheduledJob in v.1.6.6 & v1.5.4"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig APIVersion

**What happened**:

Deploying ScheduledJob result in error,

          error validating "scheduled-job.yml": error validating data: couldn't find type: v2alpha1.ScheduledJob; if you choose to ignore these errors, turn validation off with --validate=false

          Would you like to deploy anyway?

**What you expected to hap

[2017-08-03 17:20] vishh commented on #49964
@msau42 We have discussed this in detail already. To give some context, high performance hardware like GPUs may want direct access to SSDs to lower latency. See [GPU Direct](https://developer.nvidia.com/gpudirect) for example. To me, moving volume binding out of the current controller is the first main leap. Moving it to the kubelet can happen in the future. We can also explore the possibility of

[2017-08-03 17:25] msau42 commented on #49964
That's fine.  I just wanted to make sure that the dependency is known, and that I am kept in the loop.

[2017-08-03 17:30] bsalamat commented on #48648
@davidopp I think we should use a ResourceQuota with no PriorityClass to mean default quota for all pods and then we should allow another ResourceQuota to co-exist in that namespace that specifies quota for a particular priority.
Here is an example:
ResourceQuota1:
    Namespace: xyz
    Memory: 10GB
ResourceQuota2:
    Namespace: xyz
    Memory: 1GB
    PriorityClass: critical

In the above examp

[2017-08-03 17:34] dashpole commented on #50058
From the kube-controller-manager logs:
`node e2e-44858-minion-group-chqj hasn't been updated for 40.355367156s. Last OutOfDisk is: &NodeCondition{Type:OutOfDisk,Status:False,LastHeartbeatTime:2017-08-03 13:13:30 +0000 UTC,LastTransitionTime:2017-08-03 13:07:03 +0000 UTC,Reason:KubeletHasSufficientDisk,Message:kubelet has sufficient disk space available,}`

It looks like my fix #49841 does not corr

[2017-08-03 17:34] dashpole commented on #49839
I will be updating #50058 to track progress.

[2017-08-03 17:37] dashpole commented on #50058
But it also stopped posting MemoryPressure condition?
`node e2e-44858-minion-group-chqj hasn't been updated for 47.760436543s. Last MemoryPressure is: &NodeCondition{Type:MemoryPressure,Status:Unknown,LastHeartbeatTime:2017-08-03 13:13:30 +0000 UTC,LastTransitionTime:2017-08-03 13:14:15 +0000 UTC,Reason:NodeStatusUnknown,Message:Kubelet stopped posting node status.,}`
`node e2e-44858-minion-group-

[2017-08-03 17:47] caesarxuchao commented on #50046
The garbage collector don't care about the content of the openAPI spec, which is very large, it just needs to know if the openAPI spec has changed. Ideally, GC should send a HEAD request to the openAPI endpoint, and the server should just send back a header including the ETag.

As @apelisse pointed out, the openAPI [endpoint](https://github.com/kubernetes/kube-openapi/blob/master/pkg/handler/handl

[2017-08-03 17:50] ahmetb commented on #48161
cc: @saad-ali

[2017-08-03 17:52] mcronce commented on #39197
Just here to chime in with a use case.

First things first:
[code]

I'm running a third-party application (Partkeepr) in my home Kubernetes cluster - they have a cronjob that needs to run, but the container doesn't have cron running in it, so I'm trying to make a CronJob in Kubernetes to do it.  I have to expose HTTP into the pod from the outside, and the cronjob needs to be able to reach the Mari

[2017-08-03 17:58] #49913 closed

[2017-08-03 18:24] sjenning commented on #50058
This is the more general "node fails to report status" issue yes?  The node doesn't report status within `node-monitor-grace-period` and the node controller changes all the node conditions to Unknown.

@dashpole are you working to remove the `OutOfDisk` condition from the scheduler?

[2017-08-03 18:26] dashpole commented on #50058
Yes.   I will remove the OutOfDisk condition from the scheduler.  The node should still report the OutOfDisk condition for two releases (to accommodate version skew), so this problem is with reporting.

[2017-08-03 18:34] githubvick commented on #49389
Somehow after manually installing version 1.6 and bringing up the cluster on Centos, gives this error now.

`balancer for service default/example-service: [ensure(default/example-service): lb(kubernetes) - failed to ensure host in pool: "compute.VirtualMachinesClient#Get: Failure responding to request: StatusCode=404 -- Original Error: autorest/azure: Service returned an error. Status=404 Code=\"R

[2017-08-03 18:35] james-atwill-hs commented on #29972
Just did a cluster upgrade to v1.7.2 and this is still happening. I can confirm we have a number of pods with initcontainers created by a daemonset that ran their initcontainer command successfully and are running their container command but kubectl reports them in Init:0/1.

[2017-08-03 18:45] huggsboson commented on #29972
@smarterclayton does the priority on this go up given that a number of us are running into issues with this in production?

[2017-08-03 18:51] jingxu97 commented on #43504
The feature issue related to this is #43640

[2017-08-03 19:00] jingxu97 commented on #50004
@ralberto thanks for the information. Is that ok you could share with us the full controller log? You could email me jinxu at google.com if you prefer. Are you using deployment or something else for creating the pod?

[2017-08-03 19:05] alena1108 commented on #49314
@julia-stripe @dchen1107 just ran validation test against the patched branch  - no pods stuck in Pending any more, so the fix did the job! thank you @julia-stripe

[2017-08-03 19:11] rmt opened #50105 "When using elbSecurityGroup cloudConfig with AWS, the sg's rules flap"
/kind bug

**What happened**:

When setting an elbSecurityGroup in cloud.config for AWS, and deploying multiple services with differing ports, then the security group rules flap in AWS, causing services to become inaccessible (only one will be correctly configured at a time).

**What you expected to happen**:

I expect that the configured elbSecurityGroup's rules will not be touched at all.  It mu

[2017-08-03 19:12] deads2k commented on #49879
I would go ahead and create flavors of validation schema (option 4), so that we can easily have a backwards compatible update later on.

I'm less opinionated on which standard to use.  I would have defaulted to jsonschema, but if that makes for bad conversion problems I'm ok with OpenAPISpecV3.  It does seem a bit like the tail wagging the dog though.

[2017-08-03 19:13] rmt commented on #50105
/sig aws
@kubernetes/sig-aws

[2017-08-03 19:18] hagbard5235 commented on #1443
valentin2105: I'm curious why you want node port with v6?

Ed

[2017-08-03 19:40] davidopp commented on #49964
Thanks for the clarification @msau42. I hadn't thought about that.

[2017-08-03 19:47] aaronlevy commented on #49236
@kfox1111 I mean that in this proposal, for example, the apiserver would need TLS assets. Those assets could be in a secret object that is checkpointed to disk. Or, if that's not supported -- those assets still have to exist on disk anyway, and be mounted into the apiserver pod. In no case are those assets not on disk. I might be missing something - but I don't see the fundamental difference.

[2017-08-03 19:51] caesarxuchao commented on #50046
Alternatively, we can use the watchable discovery API (https://github.com/kubernetes/kubernetes/pull/45659) if that gets in.

[2017-08-03 19:54] bgrant0607 commented on #49239
@kow3ns We shouldn't promote the annotation to a field and then change the semantics afterward.

Why not a PublishNotReadyAddresses field (to match the name of the Endpoints field), which DNS could use to make the decision? We could leave the existing alpha annotation as is until the consumers we care about transition to the new approach.

The NotReadyAddresses field was added 2 years ago, in #137

[2017-08-03 19:55] #48600 closed

[2017-08-03 20:09] dashpole commented on #50058
Found the bug.  In my original fix: #49841, I [created a new NodeCondition object](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L869), and then assigned the LastHeartbeatTime of that new object.  However, changes to this new object were never reflected in the underlying list of nodes, so no update was made.  #50103 fixes this.

[2017-08-03 20:11] liggitt commented on #50057
opened https://github.com/kubernetes/examples/pull/49/files

[2017-08-03 20:20] alena1108 opened #50107 "TaintExternalCloudProvider is removed before external cloud provider acts on it"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We run KCM (Kubernetes Controller Manager) and kubelet with cloud-provider=external flag; CCM (Cloud Controller Manager) runs as a separate service. First it was noticed that this [code](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cloud/node_controller.go#L275)  sometimes doesn't exercise. Happens

[2017-08-03 20:25] ncdc commented on #50041
This is a bit tricky... the docs for components like kube-proxy are autogenerated. I have a local branch that modifies the generated doc to include documentation for the config file, as well as a sample config file with all the defaults filled in. I will try to submit a PR for this tomorrow.

[2017-08-03 20:30] liggitt commented on #21283
I would say no. It's not an option supported by the go http transport, and trusting the signature but not verifying the subject/sans means you are extending your trust beyond the CA to everyone holding a certificate ever issued by the CA.

[2017-08-03 20:35] caesarxuchao commented on #50046
@ironcladlou it looks like we have to go with https://github.com/kubernetes/kubernetes/issues/49966#issuecomment-319681399. I updated the first comment to summarize why other methods don't work currently.

[2017-08-03 20:39] ncdc commented on #50041
I can do something that looks like this: https://gist.github.com/ncdc/b53d5540fba4fb309b8c4c9b26fad487. WDYT?

https://github.com/kubernetes/kubernetes/compare/master...ncdc:kube-proxy-config-docs

cc @timothysc @bradamant3 @abiogenesis-now @liggitt @deads2k @sttts

[2017-08-03 20:43] kow3ns commented on #49239
@bgrant0607 That approach SGTM, we would have to
1. Ship the annotation in 1.8
1. Move all the consumers (DNS addons, helm charts, examples etc) to use the field 1.9 and deprecate the annotation.
1. Remove the annotation in 1.10.

The only downside is that we will continue to carry the annotation for another 2 releases, and the cargo cult is likely to grow.

[2017-08-03 20:49] mml commented on #49947
If anyone re-adds sig/api-machinery, please explain why or what we need to do.  Thanks?

[2017-08-03 20:52] wlan0 commented on #50107
/sig cluster-lifecycle

Thanks @alena1108

cc @thockin @luxas

[2017-08-03 20:54] mml commented on #49957
/assign

[2017-08-03 20:54] mml commented on #49987
/assign @caesarxuchao

[2017-08-03 20:55] mml commented on #49998
/assign @WIZARD-CXY

Thanks... looking forward to your PR!

[2017-08-03 20:58] davidopp commented on #48648
I think if we're going to allow the kind of thing you described, it is simpler to say the non-priority quota applies to everything. In other words, in your example the sum of resources across *all* pods in the namespace cannot exceed 10GB, and the sum of resources across critical pods in the namespace cannot exceed 1GB.

But I actually don't think we should allow a namespace to have both kinds of

[2017-08-03 20:58] mml commented on #50026
cc @caesarxuchao

[2017-08-03 20:59] mml commented on #50032
/sig node

[2017-08-03 21:01] mml commented on #50037
/sig cli

[2017-08-03 21:03] ericchiang commented on #10365
Fixed by https://github.com/kubernetes/kubernetes/pull/29696 a while ago.

[2017-08-03 21:03] #10365 closed

[2017-08-03 21:03] mml commented on #50075
cc @caesarxuchao

[2017-08-03 21:03] ncdc commented on #50037
@mml I think this is api machinery and not cli. The apiserver needs to see that it's getting unstructured data and return an error to the client. Right?

[2017-08-03 21:04] ncdc commented on #50037
Where the client is any http client, not just kubectl

[2017-08-03 21:05] mml commented on #50081
cc @caesarxuchao

[2017-08-03 21:05] ironcladlou commented on #50022
I'm out tomorrow, so a quick update here in case somebody else looks into it...

[My branch](https://github.com/kubernetes/kubernetes/compare/master...ironcladlou:rest-mapping-flake?expand=1) can reproduce the issue where DeferredDiscoveryRESTMapper sometimes becomes unable to map the CRD resource, even after the type is available from discovery. I've also ruled out the memCacheClient by replacing

[2017-08-03 21:33] crimsonfaith91 opened #50109 "Add e2e and integration tests for apps/v1beta2 statefulset scale subresource"
**What happened**:
There are no e2e and integration tests for `apps/v1beta2` statefulset scale subresource.

**What you expected to happen**:
(1) `apps/v1beta2` e2e test should exist BEFORE code freeze
(2) `apps/v1beta2` integration test should exist AFTER 1.8 release branches cut

**Anything else we need to know?**:
Refer PR #49168 for more info.
We should **NOT** remove existing `apps/v1beta1` e

[2017-08-03 21:33] crimsonfaith91 commented on #50109
/sig apps

[2017-08-03 21:33] crimsonfaith91 commented on #50109
/assign

[2017-08-03 21:51] timothysc commented on #49236
@aaronlevy I'm totally ok with baby stepping this across releases and locking it behind a feature gate.  It's a stretch goal to hit configmaps and a non-goal to hit secrets (at this time).  We can always chat about this more on Friday as well.  There was a consensus against storing certs as secrets vs. host volume mounts on the masters.

[2017-08-03 21:52] bgrant0607 commented on #49239
We should also announce that the annotation is deprecated in 1.8.

[2017-08-03 21:52] jlzhao27 opened #50110 "expose "KernelTunableWarn" in kublet config"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
We wanted to run kublets as part of our Circle CI integration tests, however, since circle VMs are lxc containers, `KernelTunableModify` or `KernelTunableError` will cause the kubelet to never be ready because the system settings do not match.

**What you expected to happen**:
If you manually compile the kubelet with

[2017-08-03 21:54] jlz27 commented on #50110
@kubernetes/sig-node

[2017-08-03 21:59] abiogenesis-now commented on #50041
@ncdc Some nits/questions:

1. The transition from "Usage" to a previously unmentioned "default config file" is sort of abrupt. I know it can be inferred, but it might be smoother from the reader's perspective to see something like:

2. It's a bit unclear to me: is the config file provided just a hardcoded sample? Or is it somehow populating the help response with the actual config file that `--co

[2017-08-03 22:13] dims commented on #50110
Here's the background https://github.com/kubernetes/kubernetes/pull/27874#r71256066

@vishh Here's the use case for kernel-tunable-behaviour to honor a "warn" option

[2017-08-03 22:20] ericchiang commented on #49236
cc @rphillips

[2017-08-03 22:25] vishh commented on #50110
`warn` sounds like `disable` to me. If kubelet cannot get the desired environment, it's functionalities/behavior is not guaranteed.

[2017-08-03 22:30] Rev1408 opened #50111 "Kubernetes stops working after upgrade, Unable to ping or ssh from pod containers"
I am on ubuntu, today I upgraded kubernetes services
with apt-get upgrade; apt-get update. SInce then kubernetes stops working, none of the services are running. I get below error when i run any command
api-server is not starting

[code]
when running kubelet, I get the below errors, it reports no api server running and different other errors

[code]
This issue got fixed after upgrading to Kubernet

[2017-08-03 23:02] Rev1408 commented on #50111
/sig kind/bug

[2017-08-03 23:03] Rev1408 commented on #50111
/sig area/upgrade

[2017-08-03 23:06] Rev1408 commented on #50111
/sig area/rkt

[2017-08-03 23:16] nfirvine opened #50115 "PVCs using `standard` StorageClass create PDs in disks in wrong zone in multi-zone GKE clusters"
/kind bug

**What happened**:

- Created single-zone cluster in `us-central1-c`
- Expanded to multiple zones after creation using `gcloud container clusters update ... --additional-zones` to `b` and `a`
- Deployed PVC with `storageClassName: standard`, which is a StorageClass included with GKE.
- PV is created in `us-central1-f`, a zone with no nodes from this cluster in it

**What you expected to

[2017-08-03 23:19] smarterclayton commented on #33664
OpenShift 3.6 implements an admission controller that automatically replaces image tags with digests if the image matches a known construct.  I believe weaveworks Flux also has mechanisms for this at config time.  With initializers, it should now be possible to resolve images in replicasets to digests automatically, and that may be a good candidate for a simple example of how initializers can be u

[2017-08-03 23:31] aaronlevy commented on #49236
Sure - happy to discuss further on Friday. My understanding was that kubeadm folks had decided not to use secrets, and I have no objections to that (it should be optional).

I also don't disagree that development could come in phases, but my position would be that support for checkpointing configMaps and secrets should be part of the proposal (and designed into the architecture of the feature).

I

[2017-08-03 23:32] Komorebi-E commented on #23726
kubectl is expecting ~/.kube/config as the filename for its configuration.

The quick fix that worked for me was to create a symbolic link:

`ln -s ~/.kube/config.conjure-canonical-kubern-e82 ~/.kube/config`

N.B. This was for a "conjure-up kubernetes" deployment.

[2017-08-03 23:32] caseydavenport commented on #49978
Yep, that's right.

Yeah, to be clear my strong preference is still not to add support for either of those methods I suggested above in v1.8, I was just trying to find a syntax I thought was palatable and didn't have the word "deny" in it.

[2017-08-03 23:33] k82cn commented on #50077
Should be handled by https://github.com/kubernetes/kubernetes/pull/50106 .

[2017-08-03 23:38] bsalamat commented on #48648
Yes, I agree.

In the second case, how should one give a large quota to all priorities, but give a small quota to high priority pods? If we don't support co-existence of quota with no priority and quota with priority, then cluster admin has to create one ResourceQuota for each PriorityClass in each namespace. They must also add new ResourceQuota everytime a new PriorityClass is added.

[2017-08-03 23:41] msau42 commented on #50115
From the code, it looks like the GCE cloud provider will use all zones in the region for a multi-cluster configuration.  Instead, it should probably derive the zones from the nodes in the cluster.

/kind bug
/sig storage
/sig gce

[2017-08-03 23:41] rphillips commented on #22609
There is a proposal from openshift [[1]](https://github.com/openshift/origin/blob/b02e73f77d74f7b842a85bb819cb31391eb139d9/pkg/cmd/server/election/lease_endpoint_reconciler.go) implementing a new registry for endpoints, but directly accesses etcd which we want to avoid. This proposal keeps the logic local to the module.

There was some concern about clock skew, but lots of things (like leader elec

[2017-08-03 23:43] #50058 closed

[2017-08-03 23:43] Rev1408 commented on #50111
Just now i did apt-get upgrade and i saw new upgrades for kubeadm kubectl kubelet after that all the processes are back up again, but i deleted my deployments and all those pods are in Terminating state, this means there is still a problem

[code]

[2017-08-03 23:43] #43588 closed

[2017-08-03 23:49] MrHohn commented on #49999
@xiangpengzhao Thanks for tracing down, sent #50116 for fixing.

[2017-08-03 23:50] msau42 commented on #39178
FYI, the issue of integrating pod scheduling with PV binding and dynamic provisioning is being tracked here #43504.  This will hopefully solve the multi-PVC In a pod issue.

However, here, there still is an issue that the AWS cloud provider library is not returning the correct zones for the cluster.

[2017-08-03 23:56] msau42 commented on #39178
The current workaround for the multiple PVC zone spreading issue is to use a Statefulset, which has special zone spreading logic.

[2017-08-04 00:03] phagunbaya commented on #26000
Experiencing same on kubernetes v1.6.2 on azure.

`curl http://127.0.0.1:4194/validate/` never returns response.

[2017-08-04 00:12] #45433 closed

[2017-08-04 00:12] bamb00 commented on #50100
In v1.5 ScheduledJob rename to CronJob.  Closing this issue.

https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

[2017-08-04 00:12] #50100 closed

[2017-08-04 00:23] bgrant0607 commented on #23211
At this point, I think automatic rollback needs to be a feature of higher-level deployment pipelines.

Example: I want to deploy to staging. If it succeeds, I want to deploy to prod. If it fails, I want to rollback. Implementing auto rollback in K8s wouldn't fit with that.

Making lack-of-progress reporting more usable in such higher-level pipelines seems more valuable than auto-rollback in Deploy

[2017-08-04 00:45] caesarxuchao commented on #50047
Delete request sent at:
[code]

Cycle removed at:
[code]

Deletion of pods:
[code]

The cycle was removed. And the pods were deleted properly. But it took 43s in total.

API rediscovery in that period:
[code]
Which took 16s.

[2017-08-04 00:56] caesarxuchao commented on #50047
Case 2:
Delete request:
[code]
Cycle removed at:
[code]

Pods deleted at:
[code]

Took 41 seconds.

API re-discovery:
[code]
Took 13s.

Another thing I noticed is that the re-discovery always traverses the discovery endpoints back-to-back twice.

[2017-08-04 01:09] k82cn commented on #42001
@yastij , sure, thanks very much :).

[2017-08-04 01:09] davidopp commented on #48648
Yes, this is what I had in mind.

But I don't think this is so bad, as cluster admins are unlikely to add new PriorityClasses often.

I imagine the workflow they want is create the new PriorityClass, then give people access to it. In the approach you described, everyone with a non-priority quota would immediately get access to a new PriorityClass, unless the admin added a quota for the new Priorit

[2017-08-04 01:13] caesarxuchao commented on #50047
case 3:
Deletion started at:
[code]

Cycle removed at
[code]

GC deletes the Pods at:
[code]
Took 30s.

API re-discovery:
[code]
Took 10s.

[2017-08-04 01:23] caesarxuchao commented on #50047
The cause is the same as #49966. The periodic API rediscovery adds latency. Also, the watch latency is also quite high. I'll send a PR to increase the timeout

[2017-08-04 01:27] justinsb commented on #50115
Were there _some_ instances running in the project in us-central1-f ?  This comment explains the current heuristic and the limitations of it: https://github.com/kubernetes/kubernetes/blob/3c080e83c7974fa21c5a47264f992a3d0189e143/pkg/cloudprovider/providers/gce/gce_instances.go#L264-L273

Aside: I would _love_ to fix this by having the cloudprovider get access to the kubernetes client, watch the No

[2017-08-04 01:30] bsalamat commented on #48648
That's a fair point. It is worth noting that this will work when absence of quota means "no quota". I think we already have ways to set this quota policy. So, your design looks fine to me.

[2017-08-04 01:56] smarterclayton commented on #22609
Updating endpoints is bad, in that it fans out to the entire cluster every write.  At 5k nodes that is a lot of traffic.  Updating another resource like configmap is less bad.  Least bad would be updating a resource that no one watches globally that is designed for this purpose.

[2017-08-04 01:59] liggitt commented on #22609
5 minutes seems really long... I'd expect an unresponsive master to get its IP pulled out of the kubernetes service endpoints way sooner (more like a 15-30 second response time). The masters contending on a single resource to heartbeat also seems like it could be problematic.

[2017-08-04 02:07] kyessenov opened #50121 "SizeLimit violates k8s API convention"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
https://github.com/kubernetes/community/pull/306 added field `SizeLimit` in PR https://github.com/kubernetes/kubernetes/commit/85f030c2aad00c54d498646e4151e7fad930c7c3. The field is marked as _optional_ yet has the non-pointer type `resource.Quantity`. This is against the API convention that requires optional fields to be

[2017-08-04 02:08] claytononeill commented on #42125
This is worse now that NodeLegacyHostIP has been removed.  There doesn't seem to be any way to set ExternalIP now for a node, and some code like keepalive-vip assumes it is set.

[2017-08-04 02:09] kyessenov commented on #50121
/assign @jingxu97

[2017-08-04 02:09] kyessenov commented on #50121
cc @andraxylia @jasonyoung

[2017-08-04 02:10] lichuqiang commented on #49947
@mml The key point to the issuse is the mechanism of rate limit, and now the problem is exposed to the client side. As a quick fix, we tried to add individual kubeclient for leader-election in scheduler.
Extremely, if where is a large number of concurrent requests in server side, the controlling request may still be blocked.
Separating controlling requests and data requests in rate limit behavior

[2017-08-04 02:12] kyessenov commented on #50121
Please cherry-pick this into 1.7 since this might affect everyone who uses client-go 1.7 for this API.

[2017-08-04 02:13] nutchalum opened #50122 "Pods stuck with "Terminating" in an absent node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Pods stuck with "Terminating" in an absent node.

**Systoms:**
Pods stuck with "Terminating" in an absent node after update cluster.

**Causes:**
I have a deployment with 3 pods (scaling).
Then I try to update an entire cluster from 1.6.3 to 1.6.7.

**Effects:**
One of them is fine, the rest is "Terminating" (from kubect

[2017-08-04 02:17] liqlin2015 commented on #50055
yea. The openshift implementation is exactly what I want.

As for `ALL` capabilities, here is my result.
[code]
[code]

[code]

Since privileged container already has **ALL** the capabilities, can we just skip validating capabilities in PSP admission controller plugin if `privileged` is `true`?

[2017-08-04 02:17] k82cn commented on #48648
I also agree with davidopp@'s design; it cover all user cases in my mind. And --

This's a kind of hierarchical quota to me; prefer to handle it in https://github.com/kubernetes/features/issues/269 or incubator proj for it. In priority/preemption project, flat Quota is better.

[2017-08-04 02:21] nutchalum commented on #50122
/sig apps

[2017-08-04 03:10] Rev1408 commented on #50111
looks like issue is fixed in 1.7.3-01

[2017-08-04 03:21] jicki commented on #49894
Node  Service   reboot

[code]

Node Can not be recovered

[2017-08-04 03:38] rainmor opened #50125 "all functions in cluster/common.sh could not work"
### the pattern of all function names in the shell file cluster/common.sh is wrong

- when run any function , something wrong while be thrown like this
[code]
- these shell files has this problem:
[code]

###  no one come to fix this?  so obvious problems?
@kubernetes/sig-cluster-ops-test-failures

[2017-08-04 03:39] resouer commented on #47604
[Update] Just picked up `adding priority to ResourceQuota`

[2017-08-04 03:42] thockin commented on #34508
The eternal damnation of any and all badly chosen names makes me sad.

[2017-08-04 03:45] dashpole commented on #49839
tests are green again!
/close

[2017-08-04 03:45] #49839 closed

[2017-08-04 03:46] WIZARD-CXY commented on #49998
@mml fixed with #50123

[2017-08-04 03:47] rainmor commented on #50125
/sig cluster-ops
@kubernetes/sig-cluster-ops-test-failures

[2017-08-04 03:50] resouer commented on #48648
Thanks for enlighten, also, personally vote for keep design simple in early phase.

[2017-08-04 03:51] qianyong2005 opened #50126 "cronjob couldn't find type: v2alpha1.CronJob;"
** this is a BUG REPORT **:

**What happened**:
core@az01 ~ $ kubectl create -f cronjob.yaml
error: error validating "cronjob.yaml": error validating data: couldn't find type: v2alpha1.CronJob; if you choose to ignore these errors, turn validation off with --validate=false

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2017-08-04 03:51] jicki opened #50127 "Node STATUS "NotReady" , POD STATUS "NodeLost""
[code]
[code]
Node node can not be recovered

[code]
How to restore the node

[2017-08-04 03:52] davidopp commented on #34508
This is the first proposed policy that I've actually understood, so it has that going for it!

[2017-08-04 03:52] CaoShuFeng commented on #48787
Thanks for your suggestion. Do you mean this:
The proposal will be put [here](https://github.com/kubernetes/community)?
And the code will be put in my own repository?

[2017-08-04 04:02] jicki commented on #50127
/sig node

[2017-08-04 04:43] liggitt commented on #50126
do you have v2alpha1 enabled on your server?
[code]

[2017-08-04 05:40] xiangpengzhao commented on #50127
What's the output of `kubectl describe node 10.6.0.188` ?

[2017-08-04 05:42] #50086 closed

[2017-08-04 05:44] binaryreverse commented on #50086
This is resolved. Sorry for the unnecessary issue report. It was a classic typo, I missed the "v" for version in the version tag at the end of the image path, seems I accidentally deleted it when changing version numbers.

Updates now work as expected.

[2017-08-04 05:49] pgnaleen commented on #44298
yes problem was i haven't created funnel network using correct .yml files.

[2017-08-04 05:57] jicki commented on #50127
@xiangpengzhao

[code]

[2017-08-04 05:59] pgnaleen commented on #44298
https://github.com/coreos/flannel/blob/master/Documentation/Kubernetes.md

use following command if you creat first time the flannel cn if you already setup it use last command.
kubectl apply -f kube-flannel-rbac.yml -f kube-flannel.yml

kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml

[2017-08-04 05:59] k8s-merge-robot opened #50128 "Failure cluster [e37e44...] failed 88 builds, 2 jobs, and 8 tests over 1 days"
### Failure cluster [e37e4489a00086b50245](https://go.k8s.io/triage#e37e4489a00086b50245)
##### Error text:
[code]
##### Failure cluster statistics:
8 tests failed,    2 jobs failed,    88 builds failed.
Failure stats cover 1 day time range '3 Aug 2017 03:31 UTC' to '4 Aug 2017 03:31 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-storage] PersistentV

[2017-08-04 06:08] xiangpengzhao commented on #50127
Note that `Kubelet stopped posting node status.` If kubelet on the node is running, you might want to check the network connection between master and node.

[2017-08-04 06:09] yerly opened #50129 "kube dns nslookup default namespace service not working"
k8s version:
[code]
busybox container resolv.conf
[code]

nslookup kubernetes
[code]
nslookup kubernetes.default.svc.cluster.local

[code]

[2017-08-04 06:10] #50043 closed

[2017-08-04 06:12] tnozicka commented on #23211
@bgrant0607 what if it succeeds in staging and fails in prod? There will be a Deployment broken until manual action is taken which can take long time. Or you can check it and rollback it manually in **every** deployment script/pipeline. And that assumes you have one. There are other complementary concepts like triggers. Also it will result in duplicating this logic in every pipeline you have. It's

[2017-08-04 06:15] jicki commented on #50127
@xiangpengzhao

Restart the Kubelet.service, you can restore the service, but every time you restart the node server will appear this problem

[2017-08-04 06:15] yerly commented on #50129
/sig area/dns
/sig area/etcd

[2017-08-04 06:19] yerly commented on #50129
/sig network
/area dns

[2017-08-04 06:31] crimsonfaith91 commented on #26202
/cc

[2017-08-04 06:31] caesarxuchao commented on #47837
I went through the admission plugins except for the resourcequota. Two things caught my eyes:
* The PodPreset plugin modifies the pod only if the verb is CREATE. Initializers might change the pod afterwards. I heard the beta version PodPreset would be implemented as an initializer, so it should be fine. The cluster admin is responsible to arrange the order of initializers and ban conflicting initi

[2017-08-04 06:40] yerly commented on #50129
sorry, need full svc name like kubernetes.default.svc.cluster.local, Closing this issue.

[2017-08-04 06:51] innovia commented on #49637
this happens to me too
[code]

[2017-08-04 06:59] #49541 closed

[2017-08-04 07:01] lichuqiang commented on #50127
It sounds strange. Can I have a look at the log info of kubelet when the node just restarted and in unknown status?

[2017-08-04 07:14] jicki commented on #50127
@lichuqiang
node just restarted , kubelet status is normal .  kubectl get node  status  NotReady
but  restart again  kubelet ,  kubectl get node ststus Back to normal .

[2017-08-04 07:20] lichuqiang commented on #50127
@jicki I know kubelet works after node restart, but it seems it doesn't post status normally. So I wonder if we could find something interesting in log

[2017-08-04 07:20] #49543 closed

[2017-08-04 07:21] #50095 closed

[2017-08-04 07:59] BradErz commented on #45626
@justinsb @chrislovecnm Any ideas about this? Maybe an update to a different image?

[2017-08-04 08:01] jicki commented on #50127
@lichuqiang  I checked the log and did not find more mistakes

[code]

[2017-08-04 08:02] bcorijn commented on #45626
I have updated both kops and kubernetes to 1.7 and switched to the `kope.io/k8s-1.7-debian-jessie-amd64-hvm-ebs-2017-07-28` AMI which has a newer kernel. So far so good, but it has only been one day so far...

[2017-08-04 08:21] xmik commented on #26000
@ichekrygin , @phagunbaya  if you look into kubernetes source code across tags, you'll see that https://github.com/kubernetes/kubernetes/pull/42916 was merged in v1.7.0-alpha.1.

[2017-08-04 08:22] qianyong2005 commented on #50126
v2alpha1 is disable. thank you!

[qianyong@jump ~]$ kubectl api-versions
apps/v1beta1
authentication.k8s.io/v1
authentication.k8s.io/v1beta1
authorization.k8s.io/v1
authorization.k8s.io/v1beta1
autoscaling/v1
batch/v1
certificates.k8s.io/v1beta1
extensions/v1beta1
oidc.coreos.com/v1
policy/v1beta1
rbac.authorization.k8s.io/v1alpha1
rbac.authorization.k8s.io/v1beta1
settings.k8s.io/v1alpha1
storage

[2017-08-04 08:24] #50126 closed

[2017-08-04 08:35] discordianfish commented on #21283
@liggitt That's true, I'm was just hoping that most people using 'insecure-skip-tls-verify' would be fine with insecure-skip-san-verify too and much more secure. But yes, possibly not worth it.

[2017-08-04 08:39] yastij commented on #42001
@k82cn - just saw that you moved node conditions into predicate func, once adding node taiting and the according tolerations to dsc, do we'll still need to have node conditions checking ?

[2017-08-04 09:23] pavelhritonenko commented on #45626
I'm seeing this issue on my ubuntu-node right now :-( Can't SSH to the node atm.

[2017-08-04 09:38] hzxuzhonghu commented on #49970
u should search log to check if kubelet run into pkg/kubelet/kubelet.go function <syncLoop>

[2017-08-04 09:38] piosz commented on #45998
@fejta I fixed tests for gce. The only missing piece for gke is whitelisting the project on SD side.

[2017-08-04 10:03] andrewhowdencom commented on #48968
I'm noticing this during lots of deploys. Maybe there's a timeout between switching disks between machines, or some other sort of sync loop?

[2017-08-04 11:20] php-coder commented on #50055
@pweil- Should I prepare PR for supporting `*` in the `AllowedCapabilities`?

[2017-08-04 11:21] fabiand commented on #46351
Is there any progress on or solution for this?

We are currently implementing a custom API server for KubeVirt kubevirt/kubevirt#355 and this issue becomes more pressing, as I don't want us to start relying on etcd for storing data.

[2017-08-04 11:41] ralberto commented on #50004
Hi @jingxu97,
I've recorded a session in a text file reproducing the problem. In [this file](https://github.com/kubernetes/kubernetes/files/1200204/session.log.gz) you can find the requested logs, how the pod was created, etc...
If you need more details, please let me know.
Thanks.

[2017-08-04 12:01] trunet commented on #48703
1.7.3 is out, but no mention to this fix on CHANGELOG. can somebody confirm that 1.7.3 fix this or not?

[2017-08-04 12:16] gmarek commented on #42001
We won't, but it'll take time for us to get there. We'll roll out Tainting as alpha (obviously), later move it to beta and GA in 1.10 at the earliest. We can't remove Condition checking logic before that.

dsc is a daemon set right? New taints are NoSchedule only, so running Pods won't be affected (at least on the control plane level). Kubelet can still decide to evict them based on problem it obs

[2017-08-04 12:30] wojtek-t commented on #49375
Fixed now: https://k8s-testgrid.appspot.com/google-gce#gce-ha-master

[2017-08-04 12:30] #49375 closed

[2017-08-04 12:44] wojtek-t commented on #50115
The problem is how we initialize GCE cloud provider:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce.go#L236

This is simply broken.

We should be able to set the list of zones cloud provider is managing (i.e. pass them by flag or sth like that).

[2017-08-04 12:44] wojtek-t commented on #50115
@msau42 ^^

[2017-08-04 13:08] yastij commented on #42001
@gmarek - seems logic for the timeline.

But from @k82cn's sub-tasks

Since new Taints are NoSchedule Only that's fine, ds shouldn't have toleration for these. Daemon set should respect the new taints when applied and not schedule on these nodes. Or I'm I missing something ?

[2017-08-04 13:14] ncdc commented on #50041
@abiogenesis-now yeah, this so far has just been a prototype to see if I could get this information automatically generated from the code. We will certainly clean up the prose and transitions.

The config file is the current set of default values for each field.

The list of configuration fields is pulled from the `.go` file where they are defined. I'm tempted to try to display the sample config f

[2017-08-04 13:14] gyliu513 commented on #50055
I think we should definitely need such feature: using `*` in the `AllowedCapabilities`. @php-coder @pweil-

[2017-08-04 13:19] k82cn commented on #42001
The task for DS in my mind:
  1. For all DS pods, it should tolerant MemoryPressure & DiskPressure
  1. For critical DS pods, it should tolerant OutOfDisk

And if the taint by condition feature is enabled, we should check OutOfDisk by taints instead of predicates; the refactor is trying to make this simpler :).

[2017-08-04 13:31] yastij commented on #42001
@k82cn - You're right, I'll send a PR after yours get merged :)

[2017-08-04 13:32] errordeveloper opened #50147 "kubectl edit panics when you have an empty list"
Try running `kubectl edit ingress` and adding an ingress object, or an empty list, then exit the editor – it will panic like this:

[code]

I've also tried `kubectl edit ds`, and for the sake of experiment tried adding a Pod, then it failed rather gracefully with this message:
[code]
But when I tried to add a DaemonSet, it paniced.

I am not sure how we should fix, perhaps editing of lists isn't s

[2017-08-04 13:37] errordeveloper commented on #50147
/sig cli

[2017-08-04 13:40] piosz opened #50148 "Requirements for master metrics API for going to beta"
In 1.8 we want to graduate Master Metrics API to beta. This issue is about collecting feedback on the API and what needs to be changed before beta.

The API was defined in [the proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resource-metrics-api.md) and implemented in [metrics repo](https://github.com/kubernetes/metrics/tree/master/pkg/apis/metrics).

Re

[2017-08-04 13:42] liggitt opened #50149 "includeObject parameter fails table output"
Making an API request for table output and specifying the `includeObject` parameter causes a server error in parameter conversion, and an inaccurate error message in response:

[code]

server log:
`
E0804 09:41:14.654457   19822 status.go:62] apiserver received an error that is not an metav1.Status: converting (url.Values).[]string to (v1alpha1.TableOptions).v1alpha1.IncludeObjectPolicy: couldn't

[2017-08-04 13:43] errordeveloper commented on #50147
So I wanted to test how it would behave if I take an item out of my list, so I've create and ingress object and tried `kubectl edit ingress`. To my surprise I've found only one ingress object without a list. When I added a second object, `kubectl edit ingress` gave me a list to edit. So I must say that flattening of the list in case there is only one object was a bit surprising.
Now that I have a

[2017-08-04 13:45] colemickens opened #50150 "azure_dd: managed disks don't pass "FormatAndMount""
**Is this a BUG REPORT or FEATURE REQUEST?**:

Bug Report
/kind bug

**What happened**: I created a PVC for a Managed Disk. The Pod which used the PVC fails to start:

[code]

**What you expected to happen**: The PV to mount, format and the Pod to start

**How to reproduce it (as minimally and precisely as possible)**: Boot a 1.7.2 or higher, apply this Gist: https://gist.github.com/colemickens/0c

[2017-08-04 13:45] piosz commented on #44609
Closing as obsolete. Please reopen in case of any problems.

[2017-08-04 13:45] #44609 closed

[2017-08-04 13:46] sylr opened #50151 "cAdvisor returns exclusive parts of metrics randomly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Prometheus graphs with metrics coming from cAdvisor are full of holes. Graphs with metrics coming from Prometheus node exporter are fine.

![graph](https://a.safe.moe/XOSWv.PNG)

**What you expected to happen**:

cAdvisor should return all metrics, all the time.

**How to reproduce it (as minimally and precisely as possi

[2017-08-04 13:47] colemickens commented on #50150
/sig azure
cc: @brendanburns @anhowe @jdumars @khenidak

Observation: I didn't expect to see this: `Mounting arguments: /dev/sda [...]`.

I have not attempted this with Ubuntu workers.

[2017-08-04 13:47] colemickens opened #50152 "azure disk client does not override polling duration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Bug Report
/kind bug

**What happened**: I created a PVC for a Managed Disk. It created very quickly. It took longer for the PV to show up. I suspect this is because we didn't override the poll duration like we do for some of the other clients: https://github.com/kubernetes/kubernetes/blob/8b30aaec39800616e8a8578d54222853689211c5/pkg/cloudprovider/pro

[2017-08-04 13:47] errordeveloper commented on #50147
It feels like the problem is complicated, and I'd rather see `kubectl edit <kind>` disallowed unless users passed a name of a specific resource.
If we belive some folks rely on `kubectl edit <kind>` to work when there is only one resource to edit, maybe we can keep that...
If we cannot disallow this, I'd rather see it fixed in a way where removing items results in deletion and editing a single ite

[2017-08-04 13:48] colemickens commented on #50152
/sig azure

cc: @brendanburns @anhowe @jdumars @khenidak @jackfrancis

[2017-08-04 13:48] colemickens commented on #50150
cc: @jackfrancis

[2017-08-04 13:49] sylr commented on #50151
@kubernetes/sig-instrumentation
@kubernetes/sig-node

[2017-08-04 13:51] sylr commented on #50151
@kubernetes/sig-instrumentation-bugs
@kubernetes/sig-node-bugs

[2017-08-04 13:52] errordeveloper commented on #25485
It feels like there multiple ways to go about the implementation, and Istio supports this use-case, so I think we should start a more specific proposal of how Ingress API needs to be extended.

As the API stands right now, we don't de-duplicate paths, so the following object is legit:
[code]

[2017-08-04 13:57] colemickens commented on #50150
This is the output of `fdisk -l`. I would've expected `kubelet` to be trying to mount `/dev/sdc`.

https://gist.github.com/colemickens/a6680eae90d9e1fbcbc78373b8875fbb

[2017-08-04 14:03] colemickens commented on #50150
Another observation: The disk is visible inside the VM (see the previous post with `fdisk -l` output), and the disk shows up in [the VM resource](https://gist.github.com/colemickens/8c6baea93863a486e32ac9e71299fb8b), but it does not show up in [the instanceView](https://gist.github.com/colemickens/6466f86bac0fc8f6ce6366b74229bd7a). Not sure if this matters, or is an unimportant MD quirk.

[2017-08-04 14:04] justinsb commented on #50115
managedZones has a set of candidate zones, and then we filter that down to zones in which instances are actually running when choosing where to place the disk.   Can you clarify what you mean by "simply broken"?

I agree it would be better if we could configure the set of candidate zones in the multizone case, but that likely relies on componentconfig or a better installation tool, which is why it

[2017-08-04 14:07] soltysh commented on #36601
This sounds more like a job daemonset, rather than cronjob one.

[2017-08-04 14:10] colemickens commented on #50150
The output of `journalctl -u kubelet`: https://gist.github.com/colemickens/ecc7d8e7df2de4e33aed690594ff6e54

[2017-08-04 14:13] joshuawilson commented on #43755
@smarterclayton should this be closed?

[2017-08-04 14:15] aslakknutsen commented on #43755
@joshuawilson @smarterclayton Note; this was tested with 3.6.0 RC.0, retesting with 3.6.0

[2017-08-04 14:20] wojtek-t commented on #50115
What I mean is that currently it can contain zones in which there just can't be any nodes.
I would be fine with the definition of "list of zones where there is non-zero probability we have nodes there". But it's not necessarily the case now.

Currently, in GCE you can specify that the cluster can be e.g. in zones: us-central1-a, us-central1-b and us-central1-c. But even if you explicitly do that,

[2017-08-04 14:26] wojtek-t commented on #50115
In fact we already have a function that returns list of zones where we have some nodes it's here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce_instances.go#L248
and is called `GetAllZones()`.

[2017-08-04 14:38] jingxu97 commented on #48703
Yes, I think the fix is in 1.7.3

On Fri, Aug 4, 2017 at 5:02 AM, Wagner Sartori Junior <
notifications@github.com> wrote:

--
- Jing

[2017-08-04 14:55] kow3ns opened #50154 "SQ blocked on verify-codgen"
**BUG REPORT**: The submit queue is [broken on head](https://prow.k8s.io/?type=batch) do to [errors with hack/verfiy-codegen](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-verify/43356/). It fails after detecting the dif in versioned/clientset with the error message `vendor/k8s.io/kube-gen/hack/../test is out of date. Please run hack/update-codegen.

[2017-08-04 14:56] kow3ns commented on #50154
@sttts PTAL
/cc

[2017-08-04 15:01] chenww commented on #45911
I see this with k8s 1.7.2 and docker 1.13.1 too. It's random to my kube-dns, kibana, and other services. Not necessary heavy service. Docker is the bottleneck as described above for sure. But my system has been in good state for a couple days, and suddenly many services in "ContainerCannotRun" state and pod logs will say "no such file". Wonder if there is something else going on.

[2017-08-04 15:07] aslakknutsen commented on #43755
@joshuawilson @smarterclayton Confirmed same behavior in 3.6.0

[2017-08-04 15:12] spzala commented on #24713
@Jackong hello, since it's long time this issue was discussed last time, a gentle touch base - seems like it's resolved and if that's case, it would be great if you close the issue? I don't know the exact steps to recreate/verify it but I could see stat fine with latest minikube.  Thanks! /cc @timstclair

[2017-08-04 15:14] yongtang commented on #44107
@shaklee3  Thanks!

[2017-08-04 15:33] jamiehannaford commented on #42001
@k82cn Do we have a to do list so folks can help out with https://github.com/kubernetes/community/pull/819? I'd like to help when I get some time.

@gmarek I have a question about timeline. If alpha makes it into v1.8, will I be able to schedule to NotReady nodes (no CNI) if I reference the alpha tolerations? Or do you mean it won't be functional at all until v1.10?

[2017-08-04 15:35] xiangpengzhao commented on #50110
/sig node

[2017-08-04 15:35] timothysc commented on #49896
So if you do a ```kubectl get pod PodName -n YourNamespace -o yaml``` there should be a PodStatus.Message filed that should contain the reason.

There is also a PodCondition.Message that may contain more detail.

I think the CLI on describe could use some love here to output those messages.

If you're looking for an enumerated list of errors, there currently isn't any, but we've talked about stand

[2017-08-04 15:36] xiangpengzhao commented on #50128
/sig storage

[2017-08-04 15:40] kow3ns commented on #36601
@rootfs Why can't you prepare and activate the osd storage using init containers on the DaemonSet?

[2017-08-04 15:42] xiangpengzhao commented on #50128
This should have been fixed by https://github.com/kubernetes/kubernetes/pull/50059

/cc @msau42 @ddysher

[2017-08-04 15:46] abiogenesis-now commented on #50041
@ncdc Oh interesting! That is a lot more concise---I like how the actual values are juxtaposed against the context/description. I'd go for it :+1:

[2017-08-04 15:48] gmarek commented on #42001
It means you'll need to flip feature gate flag for it to work.

[2017-08-04 15:52] #49958 closed

[2017-08-04 15:57] gposcidonio commented on #49896
So I did what you suggested (and included the full output of `kubectl get pod PodName -o yaml` at the end of this comment) and received the following relevant output:

[code]

So this actually looks pretty close to what I want. The only thing that worries me is if the reason `Unschedulable` could be used for something which, for example, adding a new node to my cluster could not solve. In a perfec

[2017-08-04 16:04] timothysc commented on #49896
I'm reopening to address the CLI - look & feel.

[2017-08-04 16:06] mandarjog commented on #38113
just to be sure, the sub resource discussion should now apply to CRDs? We have a potential need for status sub resource for CRDs in Istio.

[2017-08-04 16:08] yastij commented on #46840
@Random-Liu just had the time to look back to this one, are you okay with this ?

[2017-08-04 16:10] nikhita commented on #38113
@mandarjog Yes, it's now applicable to CRDs (not TPRs). The deprecated TPR will be completely removed in 1.8.

[2017-08-04 16:10] bgrant0607 commented on #32749
Ref #7470, #26707, #45363

[2017-08-04 16:11] bgrant0607 commented on #45363
Ref #7470, #26707, #32749

[2017-08-04 16:14] six8 commented on #38113
I've been using another CRD for the status of other CRDs. It works for now until there's a better alternative.

[2017-08-04 16:22] k82cn commented on #49896
@jinzhejz , please try this one :). ping me offline if any question.

[2017-08-04 16:44] #43600 closed

[2017-08-04 16:57] smarterclayton commented on #7452
General proposal:

Mark SPDY deprecated in 1.8.  Clients (https://github.com/kubernetes/kubernetes/issues/48633) switch to using websockets in 1.8/1.9/1.10.  We stop adding new streaming support for SPDY.

[2017-08-04 17:06] chenww opened #50156 "calico CNI plugin can not add IP address for pod"
@kubernetes/sig-Network-bugs

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have a k8s cluster that hosts 20 around services. After a couple days I observed a few services are not running, and in the following state. Delete pod and recreate pod does not help either.

## kubelet logs:
[code]
## my pod yml
[code]
**What you expected to happen**:
pod can be created
**

[2017-08-04 17:07] msau42 commented on #50115
Yeah, I think the challenge at setting `managedZones` at init time is that nodes/zones can by dynamically added to the cluster.  So `GetAllZones` may be the way to go, but we need to balance calling it everytime vs caching, as it is an expensive call...

[2017-08-04 17:15] chenww commented on #50156
/sig area/kubectl
/sig area/kubelet

[2017-08-04 17:19] liyinan926 opened #50158 "DaemonSet and StatefulSet controllers should be consistent in annotation propagation to ControllerRevisions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Currently both the `DaemonSet` and `StatefulSet` controllers create `ControllerRevision` objects. The `DaemonSet` controller propagates annotations in a `DeamonSet`’s metadata to the `ControllerRevision` objects it owns. The `StatefulSet` controller, however, does not do so to the `ControllerRevision` objects it owns.

**

[2017-08-04 17:20] liyinan926 commented on #50158
/sig apps

[2017-08-04 17:20] chenww commented on #50156
@kubernetes/sig-Network-bugs

[2017-08-04 17:28] msau42 commented on #50128
The test panic is fixed, but now it's failing because it can't SSH into the node.

[2017-08-04 17:28] msau42 commented on #50128
/assign

[2017-08-04 17:33] #49314 closed

[2017-08-04 17:33] nicksardo commented on #20473
Would it make sense to cease readiness/liveness probing during the graceful termination state? Do the probes have any importance after SIGTERM?  cc @bowei

[2017-08-04 17:38] paroque28 commented on #11626
Thank you @dims since you are sending the groups with the HTTP request, kubernetes can do the RBAC

[2017-08-04 17:39] rootfs commented on #36601
@kow3ns good point, let me try that, thanks for the pointer.

[2017-08-04 17:46] bowei commented on #49625
@saad-ali -- this is storage related

[2017-08-04 17:51] saad-ali commented on #48212
This may not be fixed yet. @jingxu97 is investigating.

[2017-08-04 17:58] aaronlevy commented on #49236
tl;dr: Would it be possible to have some representatives from sig-node and sig-auth join the working-group meeting next week to discuss inclusion of configmaps / secrets as part of the checkpointing proposal? Hoping to get some consensus on what could be in scope, and discuss associated risks/concerns.

I didn't want to ping entire sig lists, so @yujuhong and @ericchiang -- any particular people t

[2017-08-04 18:01] liyinan926 commented on #50158
We need a decision to either start copying annotations from a `StatefulSet`'s metadata to the `ControllerRevision`s it owns, or stop copying annotations from a `DaemonSet`'s metadata to the `ControllerRevision` it owns.

[2017-08-04 18:05] quinton-hoole commented on #37570
According to #39987, @perotinus will work on this. Assigning accordingly.

[2017-08-04 18:06] quinton-hoole commented on #37570
/assign perotinus

[2017-08-04 18:06] quinton-hoole commented on #37570
/unassign mwielgus

[2017-08-04 18:13] luxas commented on #48787
@CaoShuFeng Yes, at least initially

[2017-08-04 18:20] cmluciano commented on #25485
@freehan @nicksardo Any thoughts on this proposal?

[2017-08-04 18:29] spzala commented on #23092
@juretta @pwittrock hi, since the issues was last discussed over a year ago, a gentle touch base if it's still valid or we can please close it? I noticed that  docs/getting-started-guides/docker.md now simply points to minikube, and installation minikube/kubectl as such using doc seems working fine on Mac. Thanks!

[2017-08-04 18:29] msau42 commented on #45935
/assign
/close

[2017-08-04 18:29] msau42 commented on #43504
/assign

[2017-08-04 18:29] msau42 commented on #45935
/close

[2017-08-04 18:29] #45935 closed

[2017-08-04 18:41] perotinus commented on #39987
I'm not working on this ATM, so someone else should feel free to take it on.

[2017-08-04 18:41] perotinus commented on #37570
/unassign perotinus

I'm not working on this at the moment.

[2017-08-04 18:44] perotinus commented on #45978
I believe this has been addressed.

[2017-08-04 18:44] perotinus commented on #45978
/close

[2017-08-04 18:44] #45978 closed

[2017-08-04 18:44] perotinus commented on #45673
/unassign perotinus

I'm not working on deployments/replica sets at the moment.

[2017-08-04 18:45] perotinus commented on #39986
/unassign perotinus

I'm not working on deployments/replica sets at the moment.

[2017-08-04 18:48] alc6379 commented on #47264
I don't know if this is relevant or not, but it appears that if you never used annotations at all and have only ever used initContainers in your yaml, apply doesn't seem to touch that, either.

[2017-08-04 18:50] colemickens commented on #50150
cc: @seanknox

[2017-08-04 19:00] DirectXMan12 opened #50165 "Aggregation fails to proxy API group if aggregated server is missing an OpenAPI spec"
PR #48861 added in aggregation of the OpenAPI specifications for aggregated API servers.
Unfortunately, it assumes two things:

1. All aggregated API servers will have OpenAPI specifications
2. All OpenAPI specifications are static.

Neither of these assumptions hold for the custom metrics API.

Currently, the aggregator code will actually fail to register the proxy provider for the entire API gro

[2017-08-04 19:02] DirectXMan12 commented on #50165
I've got a PR up, but it most likely breaks retries on fetching the OpenAPI spec, since it simply logs an error and continues on.  I'm not sure how we want to handle this.

[2017-08-04 19:04] breinken commented on #45438
I ran across this same issue recently and the cause was the backend service responding to base url requests with a 404. The default health check endpoint for GCP load balancers is / which caused all the nodes in the cluster to report an unhealthy status resulting in no traffic making it to the GKE cluster. Solution is to have your backend service return a 200 to / or change the health check url in

[2017-08-04 19:31] nicksardo commented on #45438
@breinken The GCE ingress controller code specifically uses `/healthz` for the health check endpoint on default-http-backend.  I just tested a GKE cluster and the backends are heatlhy for the default-http-backend.

[2017-08-04 19:51] DirectXMan12 commented on #50148
Yeah, so I think my main requirement for the master metrics API going to beta is moving away from the weirdness involving ObjectMeta.  Currently, the API uses ObjectMeta to convey the target object for the metrics.  This seems strange to me (at least in the current model of how Kubernetes APIs work).  It should instead use an ObjectReference (or something of the sort) to indicate the target object

[2017-08-04 20:21] liyinan926 commented on #50158
@erictune @enisoc

[2017-08-04 20:29] DirectXMan12 commented on #34508
On the plus side, it does mean we can use some great GIFs...

More seriously, to clarify (also left a comment as such on the above community PR):

If we're working with a new alpha field `Quuxer`, and, while still in alpha, we want to change the value type from int to resource.Quantity, we have to abandon the name `Quuxer` forever, and use `QuxxerQuantity` instead?

That seems like it's going to c

[2017-08-04 20:32] DirectXMan12 commented on #50048
Yeah, I'm definitely an org member as well...

[2017-08-04 20:33] DreadPirateShawn opened #50167 "Log spam: Lower "allocatable:" log from error-level"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kubelet emitting error-level logs in production environment, like so:
[code]

**What you expected to happen**:

Looking at the relevant source code -- https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_resources.go -- this looks like a debug log output of normal, expected behavior, which is accidenta

[2017-08-04 20:35] cblecker commented on #50048
@cjwagner: for users such as @MrHohn and @DirectXMan12, should the OWNERS files match the capitalization of their usernames? Will prow take this into account when assigning?

[2017-08-04 20:37] gyliu513 commented on #48703
@jingxu97 can we have the CHANGELOG updated for 1.7.3 to include this fix?

[2017-08-04 20:48] spzala commented on #22415
@ntquyen Hi, since it's over a year this issues was last discussed and we are at much higher version of kubernetes now, would you verify the problem with latest version of kuberentes and see if it still exist? If not, we can close it. I couldn't quite recreate the problem with minikube. Thanks!

[2017-08-04 20:52] yujuhong commented on #49236
+1 for retiring the pod-cehckpointer eventually. I looked at how it worked briefly last week, and I saw several issues with it (e.g., relying on a debug /runningpods endpoint).
That said, I don't think we need to rush to support configmap and secret checkpointing in 1.8. The code freeze is about a month away, and we've yet to agree on a detailed proposal. I think we should be realistic and limit t

[2017-08-04 20:53] yujuhong commented on #50167
Agreed.

/cc @vishh @dashpole
/sig node

[2017-08-04 21:05] k8s-merge-robot opened #50170 "Failure cluster [446c73...] failed 109 builds, 8 jobs, and 1 tests over 1 days"
### Failure cluster [446c73da4e7c9c23cf42](https://go.k8s.io/triage#446c73da4e7c9c23cf42)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    8 jobs failed,    109 builds failed.
Failure stats cover 1 day time range '3 Aug 2017 18:11 UTC' to '4 Aug 2017 18:11 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 8 |

##### Top fail

[2017-08-04 21:05] k8s-merge-robot opened #50171 "Failure cluster [401aef...] failed 87 builds, 5 jobs, and 2 tests over 1 days"
### Failure cluster [401aef29d43e16d527de](https://go.k8s.io/triage#401aef29d43e16d527de)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    5 jobs failed,    87 builds failed.
Failure stats cover 1 day time range '3 Aug 2017 18:11 UTC' to '4 Aug 2017 18:11 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| kubectl version | 4 |
| C

[2017-08-04 21:07] BenTheElder commented on #50154
`pull-kubernetes-verify` seems to have been passing for a while now for batch jobs at least:
https://prow.k8s.io/?type=batch&job=pull-kubernetes-verify

[2017-08-04 21:29] #50047 closed

[2017-08-04 21:29] #47010 closed

[2017-08-04 21:29] #34726 closed

[2017-08-04 21:29] #40807 closed

[2017-08-04 21:31] kow3ns commented on #50154
@BenTheElder yeah because other PRs passed through the build queue and #49370 has merge conflict keeping it at bay.

[2017-08-04 21:40] smarterclayton commented on #50148
Hrm, this is something that should be discussed with sig-api-machinery
since we're not totally clear on it.  We have examples of resources of
different kinds sharing the same object meta in other places (virtual
resources, sub resources, binding).

On Fri, Aug 4, 2017 at 3:51 PM, Solly Ross <notifications@github.com> wrote:

[2017-08-04 21:40] smarterclayton commented on #50148
Also Scale

On Fri, Aug 4, 2017 at 5:40 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2017-08-04 21:42] cjwagner commented on #50048
@cblecker Mungegithub actually makes the assignments with the blunderbuss munger, Prow isn't involved. Github treats usernames as case insensitive and mungegithub should treat them the same way so it shouldn't matter how usernames are cased in OWNERS files. Currently Mungegithub **does** consider case when comparing usernames from OWNERS files with valid collaborators, but a PR was merged today to

[2017-08-04 21:48] smarterclayton commented on #43755
`kubectl apply` should only fail under version skew when the client can't find a resource from the file in the discovery doc, and even if it does fail, it should return a better message.  This will only grow more common as we introduce and deprecate new APIs.

[2017-08-04 21:49] smarterclayton commented on #43755
At minimum the CLI needs to indicate to the user that a particular resource in their client file is not recognized by the server, potentially print recognized versions, and instruct the user on what to do.

[2017-08-04 21:53] smarterclayton commented on #50149
Ugh, typed strings.

[2017-08-04 22:01] xiang90 commented on #49236
@yujuhong

What are the potential challenges of configmap checkpointing? Is it possible for us to include the design of configmap in the initial proposal?

[2017-08-04 22:30] davidopp commented on #49896
@bsalamat who is also interested in scheduler user experience

[2017-08-04 22:32] freehan commented on #25485
Let us discuss this in sig-network meeting to see if anyone wants to take this up in 1.9.

[2017-08-04 23:16] k82cn commented on #42001
@jamiehannaford , here is the task list: https://github.com/kubernetes/kubernetes/issues/42001#issuecomment-315987635

I'm working on related PRs for them; please ping me when you got time :).

[2017-08-04 23:30] bgrant0607 commented on #23233
Recap:

An "add on" is any Kubernetes API resource that is managed as part of the cluster lifecycle. In this issue, it specifically refers to the ones in the cluster/addons directory managed by the kube-up add-on manager script:
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/addon-manager

An add-on could be a

[2017-08-04 23:31] msau42 opened #50178 "Some storage tests are duplicated tags"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig storage

**What happened**:
Some storage test names in e2e testgride have redundant tags:
[code]

**What you expected to happen**:
Redundant tags should be removed

[2017-08-04 23:46] msau42 commented on #48701
Can this issue be closed?  If you want hard capacity boundaries with hostpath, then you should create a partition with the size you need, or use filesystem quota.

If this is just ephemeral data, then you can consider using emptyDir volumes.  Starting in 1.7, you can specify a limit on the capacity, and kubelet will evict your pod if you exceed the limit.

[2017-08-04 23:47] msau42 commented on #48554
/assign

[2017-08-04 23:47] msau42 commented on #48554
Please follow the steps to reclaim a volume in the documentation, and reopen if you see an issue.

/close

[2017-08-04 23:47] #48554 closed

[2017-08-04 23:49] msau42 commented on #48350
@dims can this be closed?

[2017-08-04 23:51] msau42 commented on #48285
Is this an issue with kubectl apply?

/sig api-machinery

[2017-08-04 23:54] msau42 commented on #48161
Can this be closed? It looks like the nfs example has been fixed in kubernetes/examples#30

[2017-08-04 23:56] msau42 commented on #48081
Do you still see this issue?  Can you also post logs with the corresponding PVCs?

[2017-08-04 23:58] msau42 commented on #47547
This looks the same as #49418

[2017-08-05 00:07] msau42 commented on #43991
Can this issue be closed?

PVC and PV is a 1-1 mapping.  The PVC request is just a minimum size, not a max.  If you want an exact size, then you should use dynamic provisioning.

[2017-08-05 00:08] msau42 commented on #43672
@jingxu97 and @tsmetana are working on a snapshot feature.  Maybe this use case can fit in.

[2017-08-05 00:10] msau42 commented on #43629
/assign

[2017-08-05 00:10] msau42 commented on #43629
Default storage class has been enabled in GKE 1.6.3+.  Please reopen if you still see an issue.

/close

[2017-08-05 00:10] #43629 closed

[2017-08-05 00:11] msau42 commented on #43291
/assign

[2017-08-05 00:11] msau42 commented on #43291
This should be fixed.  Please reopen if you still see an issue

/close

[2017-08-05 00:11] #43291 closed

[2017-08-05 00:18] dims commented on #48350
yep, @msau42

/close

wont-fix. please see discussion in the PR

[2017-08-05 00:19] dims commented on #48350
/assign

[2017-08-05 00:19] dims commented on #48350
/close

[2017-08-05 00:19] #48350 closed

[2017-08-05 00:22] msau42 commented on #41598
@kow3ns I am working on integrating PV binding into pod scheduling, so that the PV binding decision can be influenced by pod anti-affinity, resource requirements, node resource availability, etc.  So once I can get that working with dynamic provisioning and zonal volumes (GCE PD, AWS EBS, etc), then the StatefulSet spreading can be driven from the pod constraints, rather than from the volume provi

[2017-08-05 00:23] msau42 commented on #41598
/assign

[2017-08-05 00:24] msau42 commented on #41381
Can this be closed? StorageClass is now GA and we deprecated/removed the alpha annotation.

[2017-08-05 00:24] msau42 commented on #41198
Do you still see this issue?

[2017-08-05 00:26] msau42 commented on #40972
Is this still an issue?

[2017-08-05 00:28] msau42 commented on #39459
This has been fixed in kubernetes/examples#30

[2017-08-05 00:28] msau42 commented on #39459
/assign

[2017-08-05 00:28] msau42 commented on #39459
/close

[2017-08-05 00:28] #39459 closed

[2017-08-05 00:32] msau42 commented on #36710
@gyliu513 You need to partition the disk or use filesystem quota to have capacity isolation.  If this is just temporary data, then starting in 1.7, you can specify a size limit on EmptyDir volumes.

[2017-08-05 00:34] msau42 commented on #33447
@jingxu97  Can this be closed?

[2017-08-05 00:35] msau42 commented on #31176
Can this be closed?

[2017-08-05 00:37] msau42 commented on #25120
@jeffvance can this be closed?

[2017-08-05 00:37] msau42 commented on #24985
@rootfs can this be closed?

[2017-08-05 00:38] davidopp commented on #41598
+1 for trying to solve this together with the local PV scheduling.

[2017-08-05 00:41] msau42 commented on #24687
The NFS example should be updated now to work on the latest version of K8s.  Can this be closed?

[2017-08-05 01:16] caesarxuchao commented on #47837
The resourcequota admission plugin does [handle](https://github.com/kubernetes/kubernetes/blob/v1.7.3/plugin/pkg/admission/resourcequota/controller.go#L465-L481) UPDATE and charges the delta. @liggitt do you have other concerns regarding the resourcequota plugin?

I think we disallow mutating resource requirements of pods because the schedule isn't capable of rescheduling if the pod doesn't fit th

[2017-08-05 01:29] supereagle commented on #49918
@valentin2105   I can not reproduce the bug. Does this bug still exist?

**Environment:**
[code]
`flannel` is used for the network.

**Experiment:**
* cronjob.yaml
[code]

* Create the cronjob
[code]

* Created pods
[code]
There are about 80 pods created by cronjob.

* Delete cronjob
[code]
It will take about 30 seconds to delete all pods.

[2017-08-05 02:22] chakri-nelluri commented on #50048
What is the process to be added to member/collaborator/contributor?

Thanks
~Chakri

On Fri, Aug 4, 2017 at 5:42 PM, Cole Wagner <notifications@github.com>
wrote:

[2017-08-05 02:32] luckyfengyong commented on #14188
@erictune Thanks for the initial work, just wondering do you still work on it?
@kargakis Any comment on the requirement?

[2017-08-05 02:41] FengyunPan commented on #50167
@DreadPirateShawn I also met for this problem, and I find that it is caused by this PR:
https://github.com/kubernetes/kubernetes/pull/41234
It is really a debug log:
https://github.com/kubernetes/kubernetes/pull/41234/files#diff-5f3d63d8d65184fcc8fbae4de504db66L43
We should change its level, "Infof" will be better, and I files a pr soon, please take a look.

[2017-08-05 02:56] vishh opened #50182 "GPU resource validation incorrectly allows zero limits"
The [validation logic](https://github.com/kubernetes/kubernetes/blob/886e04f1fffbb04faf8a9f9ee141143b2684ae68/pkg/api/v1/validation/validation.go#L49) for GPUs is not run if limits is not set for GPUs.
We need to check limits equals requests even if just request is set for GPUs.

@jiayingz can you fix this bug? This may be a good starter bug in k8s.

[2017-08-05 02:57] vishh commented on #50182
@jiayingz it may be helpful to request a cherry pick for the bug fix into v1.7

[2017-08-05 03:29] jingxu97 commented on #33447
The issue is fixed with containerized mounter. Close this.

[2017-08-05 03:29] #33447 closed

[2017-08-05 03:30] jianzhangbjz commented on #50182
/cc

[2017-08-05 03:40] jingxu97 commented on #43672
@jiefugong We are working on a snapshot proposal https://github.com/kubernetes-incubator/external-storage/pull/197
It allows user to create snapshot and manage snapshot API object through kubernetes. Then user can restore/create volume with PVC/PC from snapshot too.
Please let us know any feedback for the proposal.

[2017-08-05 03:43] jingxu97 commented on #24687
Yes, it is fixed with kubernetes/examples#30. Close this issue

[2017-08-05 03:43] #24687 closed

[2017-08-05 03:48] yekaifeng commented on #49947
If my understanding is correct, the problems is like this.

The scheduler leader-election rely on kubeclient sending renew() request to etcd via api-server every 2 seconds, in order to refresh the leader lock. If the scheduler leader can not refresh the lock in 10 seconds, it will lost the lock, and a new leader election process will start.

If there are a lot of failed-scheduling pods because wha

[2017-08-05 04:08] Rev1408 commented on #50111
Reopend the issue because ping and ssh does not work inside kubernetes pod/containers but works on host machine. It was working before the upgrade and it worked with earlier upgrades

[2017-08-05 04:09] Rev1408 commented on #50111
/sig network

[2017-08-05 06:22] lichuqiang commented on #49947
@yekaifeng In fact, we met the issue in reliability test, not a regular scene. That is, testers created thousands of pods that could never be normally scheduled, so the amount of request would never scale down.  They hold the opinion that process of scheduler should not be impacted this way. So the matter could not be resolved by simply expand the rate of limit.

[2017-08-05 06:32] msperl commented on #25908
Maybe additional lifecycle hooks would be sufficient to solve this?

Could be:
* PostStop: with a means to trigger lifecycle events on other containers in the pod (I.e trigger stop)
* PeerStopped: signal that a "peer" container in the pod has died - possibly with exit code as an argument

This could also define a means to define custom policies to restart a container - or even start containers tha

[2017-08-05 07:11] xiangpengzhao opened #50187 "TODO: remove deprecated ESIPP beta annotations in 1.8"
[TODO: The beta annotations have been deprecated, remove them when we release k8s 1.8.](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/annotation_key_constants.go#L98)

As we are on the 1.8 train now, is it time to remove these deprecated annotations? I have already made the cleanup on my local branch. I can send a PR once I get the ticket :)

/kind cleanup
/sig network
/assign
/cc @

[2017-08-05 09:05] shiywang opened #50189 "fix go code style: error->err in kubelet"

[2017-08-05 10:22] #50189 closed

[2017-08-05 10:22] #49147 closed

[2017-08-05 10:23] mhausenblas commented on #10782
FYI: I've put together a [blog post](https://medium.com/@mhausenblas/container-resource-consumption-too-important-to-ignore-7484609a3bb7) aiming at raising awareness and introducing our demonstrators `resorcerer`.

[2017-08-05 12:14] #50178 closed

[2017-08-05 12:14] #41462 closed

[2017-08-05 12:14] #48973 closed

[2017-08-05 12:14] #49816 closed

[2017-08-05 12:14] #49450 closed

[2017-08-05 12:23] embano1 commented on #20473
@nicksardo can you elaborate more on "cease readiness/liveness probing"? Because the current implementation works, one just has to delay (prestop) the SIGTERM so the pod has enough time to shutdown gracefully but the controller manager would take it already out of the endpoint list. It´s an eventual consistent system, which takes time to propagate (think of kube-proxy).

[2017-08-05 14:09] luxas commented on #49065
Can anybody reproduce this with v1.7.3? Seems like something in the cherrypick process for v1.7.2 went a little bit wrong, but I'm sure I've cherrypicked the necessary change(s) into v1.7.3.

Sorry for the inconvenience, but now it really is fixed.

[2017-08-05 15:28] nbutton23 commented on #50105
This is fixed by
https://github.com/kubernetes/kubernetes/pull/49805

[2017-08-05 16:09] zouyee opened #50195 "update dashboard image version"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-08-05 16:10] zouyee commented on #50195
https://github.com/kubernetes/kubernetes/pull/49855

[2017-08-05 17:39] xiangpengzhao commented on #50195
/sig ui

[2017-08-05 19:32] #50105 closed

[2017-08-05 19:36] breinken commented on #45438
@nicksardo Understood. In my case I have several non-default backends which have a default health check of / unless a readiness probe is defined per: https://github.com/kubernetes/ingress/blob/master/controllers/gce/README.md#health-checks

[2017-08-05 20:29] dmasters19 opened #50199 "set-image does not work when using a private repository with a newly pushed image"
@kubernetes/sig-AWS-bugs

**What happened**:

When creating a deployment with a docker image that is hosted on a private repository, with an `imagePullSecret` that allows access to the private server, you are unable to update the image using the `set-image` command with a newly push docker image.

**What you expected to happen**:

You should be able to execute the command and have it update with a

[2017-08-05 22:29] bsalamat commented on #49896
Thanks, @gposcidonio for reporting detailed information about this issue. What you described makes a lot of sense and it will be very useful to expose a reliable error code which is not going to change arbitrarily in future versions. We should address this.

[2017-08-05 22:45] yongtang commented on #18174
@deitch In our setup we actually have a local nginx in front of every kubelet. The nginx will talk to a pool of api servers and it works OK. Our cluster use no ELB or Route53 for api servers, and no external configuration to AWS other than individual instances.

With respect to your concern:

It is actually less of an issue as the *healthcheck* of nginx is already able to handle much of the "dynam

[2017-08-05 23:05] xiangpengzhao commented on #50199
/sig cli aws

[2017-08-05 23:44] kars7e opened #50200 "Pods with volumes stuck in ContainerCreating after cluster node is deleted from OpenStack"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
One of the cluster worker nodes was deleted from OpenStack.
Pods running on this node have been rescheduled on different nodes but got stuck in ContainerCreating. It's stuck for 20+ minutes until action like restarting controller manager is taken (it can't reconcile without manual intervention). See at the end for actions

[2017-08-05 23:49] kars7e commented on #50200
/sig storage
/sig openstack
cc @kubernetes/sig-storage-bugs

[2017-08-06 00:14] k8s-merge-robot opened #50201 "Failure cluster [5c0563...] failed 165 builds, 57 jobs, and 1 tests over 1 days"
### Failure cluster [5c05631d89c9ef28404b](https://go.k8s.io/triage#5c05631d89c9ef28404b)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    57 jobs failed,    165 builds failed.
Failure stats cover 1 day time range '4 Aug 2017 17:38 UTC' to '5 Aug 2017 17:38 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 57 |

###

[2017-08-06 00:14] k8s-merge-robot opened #50202 "Failure cluster [02bd8b...] failed 86 builds, 33 jobs, and 1 tests over 1 days"
### Failure cluster [02bd8ba009292ae49af5](https://go.k8s.io/triage#02bd8ba009292ae49af5)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    33 jobs failed,    86 builds failed.
Failure stats cover 1 day time range '4 Aug 2017 17:38 UTC' to '5 Aug 2017 17:38 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 33 |

####

[2017-08-06 00:14] k8s-merge-robot opened #50203 "Failure cluster [c70178...] failed 86 builds, 2 jobs, and 8 tests over 1 days"
### Failure cluster [c70178621052911c7195](https://go.k8s.io/triage#c70178621052911c7195)
##### Error text:
[code]
##### Failure cluster statistics:
8 tests failed,    2 jobs failed,    86 builds failed.
Failure stats cover 1 day time range '4 Aug 2017 17:38 UTC' to '5 Aug 2017 17:38 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-storage] PersistentV

[2017-08-06 01:34] Rev1408 commented on #50111
/reopen

[2017-08-06 02:01] xiangpengzhao commented on #50203
/sig storage

[2017-08-06 02:07] #50195 closed

[2017-08-06 03:23] shiywang commented on #48321
/assign

[2017-08-06 03:40] adohe commented on #38113
@nikhita I am just out of CRD context for a period of time, could you please forward the SubResource proposal to me?

[2017-08-06 03:55] FengyunPan commented on #50200
It seems attachDetachController does not update actualStateOfWorld when node is deleted. I will check it.
/cc

[2017-08-06 04:03] adohe commented on #49504
and `scale` for jobs [here](https://github.com/kubernetes/kubernetes/issues/38756).

[2017-08-06 04:18] adohe commented on #43755
[code]
SGTM.

[2017-08-06 06:55] jingxu97 commented on #50200
From the log @kars7e provided, I think the following happened.

1.  Node is deleted and pod is killed
2. Attach_detach controller got the podDelete event, and try to detach volume
3. Detach failed because the status is available (this is a bug at openstack cloud provider code. DetachDisk should return true if the volume status is already available, I think https://github.com/kubernetes/kubernetes/

[2017-08-06 06:58] jingxu97 opened #50207 "DetachDisk should not fail if status is available in OpenStach volume"
When detaching disk, if the volume status is already available, detach should return true instead of error.

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack_volumes.go#L261

[2017-08-06 07:01] FengyunPan commented on #50200
@jingxu97 Oops, it is need to check "available" in DetachDisk.

[2017-08-06 07:06] kars7e commented on #50200
Thanks @jingxu97 for looking into it. I actually had the same theory, so I added following change to DetachDisk:

[code]

And tried with that. I don't see errors about detaching the volume, but somehow the asw does not update the mounts, and I'm seeing thousands of `Multi-Attach error for volume....`, until I restart the controller-manager

I haven't set flag `disable-attach-detach-reconcile-sync`

[2017-08-06 07:45] mbohlool commented on #50165
not having an OpenAPI spec should not fail the aggregation, have you tried it?

[2017-08-06 07:49] kars7e commented on #50200
If it's of any help, here is the log (with v=4) for controller manager:
https://gist.github.com/kars7e/b1fe9a8a330f2c3fbb3418b6e7613e11

Note: I removed all lines with `Multi-Attach error for volume....` as there were thousands of them. The log is still long, but there are few crucial lines:
1. https://gist.github.com/kars7e/b1fe9a8a330f2c3fbb3418b6e7613e11#file-controller_manager-log-L1 - the log

[2017-08-06 08:20] deitch commented on #18174
@yongtang using a per-worker-node nginx that is aware of multiple back-ends is an interesting idea. It would have to know of them - which an ELB gives you out of the box on a per-AutoScaling Group basis - but as you pointed out, not all that hard.

Still, it is wasteful (yak-shaving) that I need yet another component to get kube working, a component that, well, everyone else needs. Easily solved i

[2017-08-06 08:57] FengyunPan commented on #50207
/sig openstack

[2017-08-06 09:00] FengyunPan commented on #50207
Related to #50200

[2017-08-06 09:04] FengyunPan commented on #50207
Oops, sorry it is my mistake, I will file a PR to fix it soon.

[2017-08-06 11:56] xiangpengzhao commented on #49161
We still have some work to do. I try to triage the left e2e tests as below task list. Some of the sigs may be incorrect. Feel free to correct me if I'm wrong.

I can add this to my TODO list to help finish the work once all these are confirmed.

- [ ] cluster tests
  - [X] [sig-auth] apparmor, security_context (these two were already in sig-node), certificates, security_context, service_accounts:

[2017-08-06 12:11] FengyunPan commented on #50200
It is really need to update actualStateOfWorld when nodeDelete event is received.
#49567
In this PR, add new node to nodesToUpdateStatusFor when nodeAdd event is received.
and delete node from nodesToUpdateStatusFor when nodeDelete event is received.

@kars7e can you add the code of (https://github.com/kubernetes/kubernetes/pull/49567/commits/4e8fc7ef963ab82aeeb6412f6672d2f227317538) into your clu

[2017-08-06 12:33] nopa12 commented on #49565
I didn't mean to perform encryption on all namespaces. Only on my keys.

I will provide more info. I have a secret, `personal-secret`, which is encrypted with `key1`. Now I changed my encryption configuration file, added `key2` as the first key:
[code]

I restarted the apiserver and then executed:
[code]
The expected result, according to the doc, is that the secret will be now encrypted with `key2

[2017-08-06 13:31] x1957 commented on #50129
What's your kubelet config & kube dns config?

[2017-08-06 13:37] #49571 closed

[2017-08-06 13:41] dixudx opened #50209 "k8s-ci-robot not allowing retest/test the failed CI jobs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind flake
/priority failing-test

**What happened**:

The k8s-ci-robot does not allow me to `/retest` or `/test pull-kubernetes-xxx`.

**What you expected to happen**:

Should works well as before

**How to reproduce it (as minimally and precisely as possible)**:
Affected PR:  #49454

[2017-08-06 13:43] dixudx commented on #50209
/sig testing

[2017-08-06 13:51] FengyunPan commented on #50200
@jingxu97
The UpdateNodeStatuses() will update the actual state when node is been deleted,
but attachDetachController calls attach/detach volume  before calling UpdateNodeStatuses().
Can we update node status before ensure volumes that should be attached are attached and ensure volumes that should be detached are detached.
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/

[2017-08-06 13:54] xiangpengzhao commented on #50209
Seems like your PR needs a `/ok-to-test` from a member. See: https://github.com/kubernetes/test-infra/issues/3862

/cc @crimsonfaith91

[2017-08-06 14:13] FengyunPan commented on #50200
@kars7e Can you test it by the following codes if it is convenience for you, if not, I will test it(I am sorry for that my cluster is down and I rebuild it day after tomorrow.):
\------
--- a/pkg/controller/volume/attachdetach/reconciler/reconciler.go
+++ b/pkg/controller/volume/attachdetach/reconciler/reconciler.go
@@ -170,6 +170,12 @@ func (rc *reconciler) reconcile() {
        // Detaches are t

[2017-08-06 14:24] resouer opened #50210 "[Flexvolume] Need to clarify thread safe of flexvolume functions"
It seems we don't have a clear answer to this question:

I did not find any clarification in documentation or example, but it seems to be a question deserves a explanation somewhere. (correct me if I missed sth)

cc @jingxu97 @saad-ali

[2017-08-06 14:42] byronyi commented on #19972
@mitake I do not understand why you would like to manage switch buffer in k8s. There are a number of works on data center congestion control and flow scheduling (DCTCP, D2TCP, PDQ, PIAS, MQ-ECN, just to name a few), and all of them require collaboration between end host and switch (some even new NIC/switch hardware) to accomplish switch buffer management. Typically the algorithm is implemented in

[2017-08-06 16:49] jpiper commented on #49792
+1

I have a similar use case where I want to start a cassandra ring where the nodes are accessible outside of the kubernetes cluster - I can do this by using a `hostPort` and then using the downward API to use the `hostIP` as the listen address.

However, it would be nice if I didn't have to pick ports like this manually, and I could just ask for a random available one and have the port number ac

[2017-08-06 17:30] baldwinSPC commented on #41444
@klausenbusk We just sent a PR upstream to support DO's block storage in K8S. That was more involved than I anticipated so we're now moving onto the final bits for the LB piece of the puzzle. We chose to support storage first vs load balancing. PR for storage is #50044

[2017-08-06 17:31] baldwinSPC commented on #41444
cc @odacremolbap so he can track this with the LB work.

[2017-08-06 17:50] MrHohn commented on #50187
@xiangpengzhao Thanks, I'd happy to review it :)

[2017-08-06 18:10] kargakis commented on #50209
/close

[2017-08-06 18:10] #50209 closed

[2017-08-06 18:14] kargakis commented on #48634
cc: @dhilipkumars

[2017-08-06 18:54] gyliu513 commented on #36710
@msau42 yes, the 1.7 has fixed this issue, thanks!

[2017-08-06 18:54] #36710 closed

[2017-08-06 19:04] dhilipkumars commented on #48634
@spiffxp I'm currently working on this for apps here is the rough [plan](https://github.com/kubernetes/kubernetes/pull/50144).  Could you please take a look and comment please?

[2017-08-06 19:41] gyliu513 commented on #25485
Istio can help for such case https://istio.io/docs/concepts/traffic-management/request-routing.html

[2017-08-06 19:45] Raffo commented on #25485
We implemented something similar in skipper https://github.com/zalando/skipper/pull/330
It would be interesting to see if we can somehow standardise this. The next meeting is on the 10/8, right?

[2017-08-06 21:25] kars7e commented on #50200
@FengyunPan Thanks! I will try that tomorrow

[2017-08-06 22:03] munnerz commented on #42125
FWIW @claytononeill, I've submitted a PR to kube-keepalived-vip to also check for the InternalIP field too https://github.com/kubernetes/contrib/pull/2708

[2017-08-06 22:27] cblecker commented on #49921
@CaoShuFeng If you set the proxy variables here, does it fix the issue for you?
https://git.k8s.io/kubernetes/build#proxy-settings

[2017-08-07 00:43] mtaufen commented on #34508
- github noreply

On Tue, Aug 1, 2017 at 10:20 AM, Michael Taufen <mtaufen@google.com> wrote:

--
Michael Taufen
Google SWE

[2017-08-07 00:50] mtaufen opened #50215 "Improve and test validation of KubeletConfiguration"
Some validation was added in https://github.com/kubernetes/kubernetes/pull/46254, but more validation and tests are needed: https://github.com/kubernetes/kubernetes/pull/46254#discussion_r131026625

@huangjiuyuan has kindly added validation in https://github.com/kubernetes/kubernetes/pull/49927, I will review soon.

/cc @dchen1107

[2017-08-07 00:54] mtaufen opened #50216 "Improve bad-config crash-loop detection logic"
From @dchen1107 in https://github.com/kubernetes/kubernetes/pull/46254#discussion_r131022849

Filing this issue to track work on improving this while dynamic config is still in alpha.

/cc @dchen1107

[2017-08-07 00:58] mtaufen opened #50217 "Improve dynamic kubelet config testing"
From @dchen1107 in https://github.com/kubernetes/kubernetes/pull/46254#discussion_r131035372:

Note:
(2) is covered by existing e2e_node tests

(1, 4, 5) were covered by the [manual test cases](https://docs.google.com/document/d/1L_bw_Dy4QgEOCSAIO_oxM8GxJVkWz84omZFLV-SWuk8/edit#), all of which I plan to turn into automated tests after this PR merges - but I'm trying not to increase the size of thi

[2017-08-07 01:37] yerly commented on #50129
@x1957
[code]

[code]

[2017-08-07 01:39] wanghaoran1988 commented on #38756
@DirectXMan12 Are you working on this?

[2017-08-07 02:03] claytononeill commented on #42125
I submitted a PR to fix this also. :)  kubernetes/contrib#2705

[2017-08-07 02:05] DylanGraham commented on #5607
Looking for /dev/net/tun support :)

[2017-08-07 02:19] vishh commented on #5607
Mounting devices requires cgroup updates. That's why hostpath isn't working as-is. I still think my proposal in https://github.com/kubernetes/kubernetes/issues/5607#issuecomment-275267734 is worth exploring further.

If there is any scheduling necessary for device files, then I'd recommend following the device plugin route - https://github.com/kubernetes/kubernetes/issues/5607#issuecomment-2752677

[2017-08-07 02:20] vishh commented on #5607
@DjangoPeng The issues you mention with Nvidia GPUs should have been addressed in the recent releases (>= 1.6). If not please open a separate bug.

[2017-08-07 02:38] dixudx commented on #50147
@errordeveloper  I'm working on this. Already submitted a PR in #50205. PTAL.

[2017-08-07 02:39] dixudx commented on #49731
@derekwaynecarr @jboyd01 I've already submitted a PR in #49849. PTAL. Thanks.

[2017-08-07 02:40] dixudx commented on #50182
I'm working on this. See PR #50218.

[2017-08-07 03:21] Bobi-zhou opened #50221 "the fluentd-elasticsearch:v2.0.0 and elasticsearch:v5.5.1-1 can't pull"
the image can't pull

gcr.io/google-containers/elasticsearch:v5.5.1-1
gcr.io/google-containers/fluentd-elasticsearch:v2.0.0

[2017-08-07 03:32] Bobi-zhou commented on #50221
/sig images

[2017-08-07 03:42] dixudx commented on #50221
/assign @crassirostris Another missing images.

[2017-08-07 03:48] Bobi-zhou commented on #50221
/sig images

[2017-08-07 04:10] xiangpengzhao commented on #50187
@MrHohn PR #50224 sent :)

[2017-08-07 05:35] dmnord opened #50226 "Token authentication inside a pod failed (unauthorized)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT (may be)

/kind bug
/sig auth

**What happened**:
I try to get access to kubernetes api to take a configuration inside a pod.
When I curl this query:
[code]
I receive an **Unauthorized** message:

This time I trying to rise an autocluster rabbitmq plugin in kubernetes environment.
This [post](https://github.com/rabbitmq/rabbitmq-autocluster/

[2017-08-07 05:49] #50149 closed

[2017-08-07 05:51] weiwei04 opened #50227 "Statefulset DNS not function well after upgrade to 1.7.3"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

after I upgrade from 1.6.6 yo 1.7.3
statefulset drone-server with headless service drone-server
nslookup drone-server-0.drone-server return `nslookup: can't resolve 'drone-server-0.drone-server': Name does not resolve`

**What you expected to happen**:

return a valid dns record

**How to reproduce it (as minimally and p

[2017-08-07 05:55] weiwei04 commented on #50227
/sig area/dns

[2017-08-07 06:03] spnzig commented on #40109
I am facing a similar error. After configuring the parameters, i use `kubectl --user=name@gmail.com get nodes` but i get `error: You must be logged into the server (the server has asked for the client to provide credentials)` Could you please suggest how i can proceed with this? @ericchiang @calebamiles

[2017-08-07 06:10] crassirostris commented on #50221
/sig instrumentation

@Bobi-zhou Thanks for reporting that! We don't have a mechanism currently to build those images automatically and I'm hesitant to build them not from master. Therefore, some delay will be present for now, especially when the merge happens on a weekend, sorry about that

Meanwhile, built and pushed

[2017-08-07 06:10] #50221 closed

[2017-08-07 06:12] amolsh commented on #49926
@huangjiasingle
I logs it gives following error, Is is related to IAM policy:

Failed to attach volume "pvc-fff84c66-7b35-11e7-b125-02f3f42ec6aa" on node "ip-100-x-x-x.us-west-2.compute.internal" with: Error attaching EBS volume "vol-00cbb836374d1b37b" to instance "i-03d4ba6b17ab9cf5f": **UnauthorizedOperation: You are not authorized to perform this operation.** Encoded authorization failure messa

[2017-08-07 06:13] jeffvance commented on #25120
@msau42 In looking at this issue I think we have cases 2 & 3 covered. Cases 1 & 4 may be tested but this is not done explicitly/deliberately from what I am aware of. I have not seen new PV test cases in _integration/_. So it looks like this issue cannot be closed yet since it has not been fully satisfied. Or maybe it can be edited and a new issue can be created to contain only the cases we don't c

[2017-08-07 06:13] xiangpengzhao commented on #50227
/sig network
/area dns

[2017-08-07 06:19] wojtek-t commented on #50115
Yes, I just wanted to write this but forgot. We should probably add some caching to avoid calling this more often than say once a minute. That should solve our problems.

[2017-08-07 06:23] sttts commented on #50041
I am a fan of this kind of inline documentation. The layout could be better though. Something like the following without empty lines would be easier to read:
[code]

[2017-08-07 06:34] knightXun commented on #10421
It is appear in my k8 cluster.
kubelet version is 1.6.7.
log is:
I0807 14:29:05.336076     411 container.go:407] Start housekeeping for container "/system.slice/ondemand.service"
I0807 14:29:05.336133     411 manager.go:898] Added container: "/system.slice/rtkit-daemon.service" (aliases: [], namespace: "")
I0807 14:29:05.336229     411 manager.go:293] Recovery completed
F0807 14:29:05.336240     4

[2017-08-07 06:37] dmnord commented on #50226
How to generate a service account key file, which used to authenticate tokens? What parameters have to be in it for successfull work with tokens?

As I guess, It have to be a single unique file different from node key files.
Is it right?

I spoted, everytime when the query requests from api server using certificate from primary api server, i'm getting successfull result without Unauthorized!

[2017-08-07 06:51] wanghaoran1988 commented on #48820
/assign
/close
This is already done by:
https://github.com/kubernetes/kubernetes/pull/49359
https://github.com/kubernetes/kubernetes/pull/49700

[2017-08-07 06:52] wanghaoran1988 commented on #48820
/close

[2017-08-07 06:52] #48820 closed

[2017-08-07 06:52] ravilr commented on #49716
@vaibhavswarnkar you may want to look at https://github.com/fabric8io/kubernetes-client#following-events
https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/WatchConnectionManager.java

[2017-08-07 06:56] floriankammermann commented on #43634
Couldn't find the issue with my logoutput. Got to the issue, after figuring out myself, over the API doc what the problem is.

Just for completion my failure log for this issue:

[code]
[code]

[2017-08-07 06:59] caseydavenport commented on #50156
/assign

[2017-08-07 07:06] jingxu97 commented on #50200
I don't think that will work. UpdateNodeStatuses() is not updating the actual state of the reconciler. It is updating the node status for communicating with kubelet so that kubelet volume manager whether the volume is already attached or not.

Strange thing is that if disable-attach-detach-reconcile-sync is not set, the reconciler syncState should check whether volume is still attached to node or

[2017-08-07 07:25] FengyunPan commented on #50200
Thank for your comment, that's right.

I think that's impossible, if volume'status is available, volume's attachments will be [].
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack_volumes.go#L164
On the other hand, I have tested it on v1.6.4 yesterday and it work fine.

[2017-08-07 07:37] kars7e commented on #50200
I've tried the `UpdateNodeStatuses()` change proposed by @FengyunPan. I deployed three pods (each with single volume). Surprisingly, this time after deleting the node one of the volumes got reattached correctly to the new node. The rest, however, did not and the `Multi attach....` error started showing up again until I restarted controller manager. I'm not sure if this was affected by this patch -

[2017-08-07 07:43] liqlin2015 commented on #40536
Is there any way we can use a local service load balancer for federation service?

And is there any plan to support services only with external IP? Currently in the `dns.go:wantsDNSRecords()` function, we hard coded to only support `v1.ServiceTypeLoadBalancer` type of services. Can we use external IP as another option for on-prem clusters?

[2017-08-07 07:48] resouer opened #50232 "[Flexvolume] consider add json option as parameter for init()"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
According to [flexvolume doc](https://github.com/kubernetes/community/blob/master/contributors/devel/flexvolume.md#init), the `init` phase dose not accept any parameter.

**What you expected to happen**:

In many cases, we want to do initialization work (for example, create a NFS mounter with given server URL) in this ste

[2017-08-07 07:48] resouer commented on #50232
Also, cc @saad-ali @jingxu97

[2017-08-07 07:57] sttts commented on #49504
Doesn't sound right. Autoscaling is only one way of scaling an object.

[2017-08-07 08:01] kars7e commented on #50200
So this time I see following lines in log:
[code]

Then it fails to attach, because it tries to attach to the instance which is being deleted.
[code]

But eventually the target node is updated, and it successfully gets attached:
[code]

Now, what about other volumes that are failing? I looked for VolumesAreAttached, and I see plenty of:
`E0807 07:15:21.557652       9 operation_generator.go:161] Vo

[2017-08-07 08:03] kars7e commented on #50200
Also this shows why this time one of the volumes was reattached correctly. The `VolumesAreAttached` for that volume was executed at the precise moment when volumes have been detached from the instance being deleted, but before the instance disappeared from Nova. Thus it was able to return info about volume being available, and this caused reconciler to work properly (volume is marked as not attach

[2017-08-07 08:22] dixudx opened #50234 "fieldSelector does not return error for unsupported selector"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I want to query all the pods with `status.qosClass=BestEffort` using `fieldSelector`.

[code]
It returned,
[code]

It seems no pods matching `status.qosClass=BestEffort`. However, lots of pods are scheduled with `QoSClass=BestEffort`. The result is quite confusing and misleading.

**What you expected to happen**:
For suc

[2017-08-07 08:23] sttts commented on #46351
No progress unfortunately. As the time is limited until freeze (Sept 1), I don't see anything in 1.8. If we want that we have to start with a proposal now, to be implemented in 1.9.

[2017-08-07 08:23] dixudx commented on #50234
/sig api-machinery

[2017-08-07 08:33] sttts commented on #50154
Is this still the case? I just rebased one of my PRs to master and at least unit and verify are green.

[2017-08-07 08:34] dixudx commented on #50232
@resouer If no one is working on this, I would like to take it.

[2017-08-07 08:36] crassirostris opened #50237 "Stackdriver Logging soak tests are flaky"
Example: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-sd-logging/1463

[2017-08-07 08:44] kargakis commented on #49637
Yeah, flipping from False to True is ok since the actual state of the Deployment is True. Are you also running on GKE?

[2017-08-07 08:52] resouer commented on #50232
/sig storage

[2017-08-07 08:56] resouer commented on #50232
@dixudx The suggestions from sig-storage maintainers is expected here, before that, I'm afraid nothing we can do to help. It can even be by design.

[2017-08-07 09:09] FengyunPan commented on #50200
@kars7e Hi, I new a PR for this bug, can you help me to test it.

[2017-08-07 09:21] #50226 closed

[2017-08-07 09:33] yastij commented on #49784
@k82cn @gmarek - Since we still support both approaches (tainting by nodeConditions and nodeConditions check) do you think that we have to work on this one ? Or just close it right after #50186 is merged ?

[2017-08-07 09:43] xiangpengzhao commented on #49161
@thockin does sig-network own `example_cluster_dns`?

[2017-08-07 09:51] Bobi-zhou opened #50242 "the fluentd-es cannot start"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

[root@node-21 EFK]# kubectl logs -f fluentd-es-jrsf7 -n kube-system
/var/lib/gems/2.1.0/gems/ffi-1.9.18/lib/ffi/library.rb:147:in `block in ffi_lib': Could not open library 'libsystemd.so.0': libgcrypt.so.11: cannot open shared object file: No such file or directory. (LoadError)
Could not open library 'libsystemd.so': libsystemd.so

[2017-08-07 09:56] crassirostris commented on #50242
@Bobi-zhou Yup, the situation with fluentd on the system with systemd is very sloppy. There's a hack to make it works sometimes, but it seems that it doesn't work. I'll look into it

[2017-08-07 09:56] crassirostris commented on #50242
/sig instrumentation
/assign

[2017-08-07 10:12] Jokebenjamin opened #50244 "xvfeo"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-08-07 10:13] mashayev opened #50245 "K8S node fail to register"
Hi,

K8S version: `v1.6.1`
Autoscaler version: `v0.5.4`

When autoscaler scale extra node sometime this node is failing to register with api server and I get the below errors:
[code]
In order to fix it I need to restart kubelet daemon manually.
At the beginning I thought that the issue is with [Autosclaer](https://github.com/kubernetes/autoscaler/issues/197) after some investigation I found out it

[2017-08-07 10:26] WIZARD-CXY commented on #46984
@yujuhong what about your need "Make cadvisor (pkg/kubelet/cadvisor) implement the container stats part of the summary api (pkg/kubelet/server/stats)." ?
I think the cadvisor has already implemented the summary api. see this func:
[code]

So I don't quite understand what you want to accomplish?

[2017-08-07 10:43] jamiehannaford opened #50246 "Add Cinder e2e tests"
Right now we do not have any e2e tests for OpenStack, meaning that we can't be 100% sure that a PR doesn't introduce a regression (e.g. https://github.com/kubernetes/kubernetes/issues/47651). Ideally we would have access to a test OpenStack cluster, allowing us to test various external components such as Cinder.

This PR is just to collect feedback and possibly figure out what would be needed for

[2017-08-07 10:43] jamiehannaford commented on #50246
/sig openstack
/sig testing

[2017-08-07 10:44] ncdc commented on #50041
It's not a simple fix because the yaml libraries don't support comments. I
think we will have to write a custom marshaler. I have one that somewhat
works, except it doesn't yet support maps or slices.

On Mon, Aug 7, 2017 at 2:23 AM Dr. Stefan Schimanski <
notifications@github.com> wrote:

[2017-08-07 10:44] innovia commented on #49637
Im on AWS

[2017-08-07 10:49] kargakis commented on #49637
Can you post controller manager logs on log level 4 when you reproduce this?
I am interested in logs that conform to the following format:

Deployment %q timed out (%t) [last progress check: %v - now: %v]

On Mon, Aug 7, 2017 at 12:45 PM, Ami Mahloof <notifications@github.com>
wrote:

[2017-08-07 10:52] innovia commented on #49637
@kargakis

When you say controller manager logs what exactly do you mean? kubelet logs?

can you direct me exactly how to fecth this info?

[2017-08-07 10:56] shashidharatd commented on #40536
what is the meaning of `local service load balancer`.

Currently only loadbalancer type services are supported for federated services. Currently there is no other option available as we know, which works.

[2017-08-07 10:59] kargakis commented on #49637
How did you deploy the cluster?

On Mon, Aug 7, 2017 at 12:52 PM, Ami Mahloof <notifications@github.com>
wrote:

[2017-08-07 11:04] #48959 closed

[2017-08-07 11:05] tcharding opened #50248 "`kubectl explain <resource>` returns error for valid resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Running `kubectl explain` (missing resource) outputs a list of valid resources for the command. However a number of these resources cause `kubectl explain` to throw an error.

**What you expected to happen**:

It would be nicer if the suggested list of valid resources all had documentation i.e no error returned when pass

[2017-08-07 11:11] m-no-2017 commented on #50083
Is there someone who knows what I'm talking about? Maybe I made some stupid mistakes and I just need to be point in the right direction...

[2017-08-07 11:11] tcharding commented on #50248
/sig cli

[2017-08-07 11:22] nikhita commented on #38113
@adohe It's still a bit sketchy, will take another few days. Will let you know. :+1:

[2017-08-07 11:32] innovia commented on #49637
KOPS

[2017-08-07 11:37] hzxuzhonghu commented on #50245
If node register info deleted by other component? This seem to be the most possible reason

[2017-08-07 11:39] mashayev commented on #50245
@hzxuzhonghu I didn't get you..

[2017-08-07 11:42] hzxuzhonghu commented on #50245
I mean at the same time , you may not use kubectl get node to get this node "ip-192-168-3-40.us-west-1.compute.internal". So I doubt if the data in etcd is lost.

[2017-08-07 11:47] amolsh commented on #49926
I updated IAM policy and added  `ec2:AttachVolume` and `ec2:DetachVolume`. It resolved authorization issue. But now it is giving another issue. Even though volume is available attached to instance :

`Failed to attach volume "pvc-79e4c457-7b57-11e7-a96e-0698361089de" on node "ip-100-x-x-x.us-west-2.compute.internal" with: Error attaching EBS volume "vol-00da392489f12395f" to instance "i-02bbbc571c

[2017-08-07 12:04] rbjorklin commented on #46188
How did you solve this? I'm seeing this issue now and I've added `https://` in the kube-proxy manifest but the issue remains.

[code]

[2017-08-07 12:28] jeffhoffman13 commented on #44665
admin.conf must come out of thin air.

DC/OS works much better out of the box this is as painful as any cloud console. YUCK!

[2017-08-07 12:32] kargakis commented on #49637
@justinsb how can you get the logs from the controller manager in a cluster installed by kops?

[2017-08-07 12:38] dims commented on #50244
/assign

[2017-08-07 12:38] dims commented on #50244
/close

[2017-08-07 12:38] #50244 closed

[2017-08-07 12:53] JorritSalverda opened #50252 "GKE node pool upgrades very slow since 1.7"
/kind bug

**What happened**:

When upgrading a node pool from either 1.6.7 or 1.7.1 to 1.7.2 the upgrade of some node pools (of preemptibles) takes extremely long. About 1 hour per node.

**What you expected to happen**:

I expected upgrades to take longer since version 1.7 - now that PodDisruptionBudget is taken into account - but not this much longer. It might even be hanging and only updating

[2017-08-07 12:58] JorritSalverda commented on #50252
/area upgrade

[2017-08-07 13:06] JorritSalverda commented on #50252
/area platform/gke

[2017-08-07 13:12] pweil- commented on #50055
@php-coder yes, please.

[2017-08-07 13:13] fasaxc commented on #50048
Looks like it's this process: https://github.com/kubernetes/community/blob/master/community-membership.md#requirements-for-outside-collaborators

[2017-08-07 13:25] wawastein commented on #48968
@jingxu97 I'll try it on the new deployment. But I can't really force reschedule for test, I'll just sit there and hope it doesn't happen.

[2017-08-07 13:26] cooper667 commented on #45626
Same, I am yet to see it on this

[2017-08-07 13:32] danwinship commented on #34641
Just noticed this was still open. We eventually decided to just change the documentation to match the implemented semantics. (#44170)

[2017-08-07 13:32] #34641 closed

[2017-08-07 13:35] NickrenREN commented on #50246
/sig storage

[2017-08-07 13:38] NickrenREN commented on #50246
Yeah, we really need this to test openstack related functions.
/cc @anguslees  @dims

[2017-08-07 13:39] JorritSalverda commented on #50252
It seems that after a node gets set to unschedulable it does some actions and than hangs:

[code]

[2017-08-07 13:44] mashayev commented on #50245
@hzxuzhonghu How can I fix it?

[2017-08-07 14:03] soltysh commented on #48561
/sig-auth

[2017-08-07 14:08] crassirostris commented on #48561
/sig instrumentation
/sig auth

[2017-08-07 14:14] #50075 closed

[2017-08-07 14:14] #50237 closed

[2017-08-07 14:34] rjbwtr commented on #43389
We're also attempting to do the same following the same documentation and have encountered this issue. Using 1.5.7 isn't an option for us because we only support v3 of the keystone API.

It's a bit of a shame to have fallen at the first hurdle!

[2017-08-07 14:56] DirectXMan12 commented on #50165
yes, hence the PR ;-).  It returns an error fetching the OpenAPI spec, which causes the whole method which sets up the proxying for that group to fail, giving 404s when you actually try to hit, for example, `/apis/custom-metrics.metrics.k8s.io/v1alpha1/` and `/apis/custom-metrics.metrics.k8s.io/v1alpha1/namespaces/...`

[2017-08-07 15:00] DirectXMan12 commented on #50148
If metrics were positioned the same was as scale (as a "virtual" resource/interface/subresource), I'd agree with you (hence my somewhat cryptic comment about "in the current model...").  I actually thought of that.  But that's not really how they work currently, so it doesn't quite seem like it fits.  I'll jump on the next SIG-API-Machinery meeting if we haven't resolved it by then.

[2017-08-07 15:08] jsafrane commented on #41381
closing, alpha annotation is now deprecated.

[2017-08-07 15:08] #41381 closed

[2017-08-07 15:12] jsafrane commented on #40972
PV <-> PVC should not take more than 15 seconds unless something modifies the PV in between. I consider it "fast enough". You can use `kube-controller-manager --pvclaimbinder-sync-period=5s` to shorten it to 5s (or even less).

[2017-08-07 15:13] snoby commented on #45726
So this use to work in 1.5.4 of kubernetes, when i did the upgrade to 1.6.1 and > is when I started to see the issue.  I use kops to do the deployment.

[2017-08-07 15:13] jsafrane commented on #40972
And please reopen if you think that the binding performance is not enough.

[2017-08-07 15:13] #40972 closed

[2017-08-07 15:17] #50154 closed

[2017-08-07 16:17] dashpole commented on #50058
/close via #50103

[2017-08-07 16:26] yguo0905 commented on #46984
Yeah, the idea is correct. :) I talked to @yujuhong the other day. The `StatsProvider` interface used by the summary API uses cadvisor types, so we need to modify this interface to accommodate both the cadvisor and the CRI metrics for container stats. I will come up with a plan some time this week.

[2017-08-07 16:38] Stono opened #50256 "PodAffinity and StatefulSet, incorrect region for PV"
Hi,
I seem to have an issue where pod affinity is not working with StatefulSets persistent volumes as expected (on GKE, Kubernetes 1.7.2)

As you can see, I have the affinity set to `europe-west1-c`, but when the persistent volume is created, it goes to `europe-west1-d`, and subsequently the pod cannot start with the error `No nodes are available that match all of the following predicates:: MatchN

[2017-08-07 16:41] Stono commented on #50256
@kubernetes/sig-scheduling-bugs

[2017-08-07 16:45] kow3ns commented on #50256
@Stono this is an known limitation with an open [issue](https://github.com/kubernetes/kubernetes/issues/41598)

[2017-08-07 16:45] juliohm1978 commented on #48924
Just for clarity, can anyone assess the severity of these messages? Should I be worried about any incompatibility issues? Or can I safely ignore them for the moment?

[2017-08-07 16:52] Stono commented on #50256
Meh, so it is. Ta!

[2017-08-07 16:59] DirectXMan12 commented on #49504
sure, but the scale subresource is mainly used for autoscaling -- that's mainly why it exists so "automated" processes can scale different resources without having specific knowledge of them.

[2017-08-07 17:01] msau42 commented on #25120
Yeah maybe it's worth opening up separate issues for the remaining test cases.  Can you evaluate which cases still need coverage?

[2017-08-07 17:03] DirectXMan12 commented on #38756
Once #49971 lands, I'll revive my polymorphic scale client PR in some form.

[2017-08-07 17:12] magescher commented on #47520
How were you able to resolve this issue?

[2017-08-07 17:12] magescher commented on #47520
@sutasu How were you able to resolve this issue?

[2017-08-07 17:31] jwickens opened #50261 "Unable to access NodePort externally using host's IP in AWS kubernetes cluster deployed with kops"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

I have a NodePort service and a pod setup in this AWS cluster:
[code]

On curl to the available AWS instance IP on the given node port the connection hangs

**What you expected to happen**:

I expect to be able to curl from the externally available AWS instance IP on the given node port and get the correct response.

**

[2017-08-07 17:31] bsherrod commented on #48924
They appear to be harmless, just annoying.

[2017-08-07 17:31] nicksardo commented on #50034
The fix for this depends on the GCE ingress controller being updated. https://github.com/kubernetes/kubernetes/pull/50161 just merged so ILB should be functional in Kubernetes 1.7.4 for GKE.

[2017-08-07 17:37] jwickens commented on #50261
@kubernetes/sig-aws-bugs

[2017-08-07 17:52] luckyfengyong commented on #40536
@shashidharatd In the doc of federation service discovery, it is mentioned as follows

<img width="878" alt="image" src="https://user-images.githubusercontent.com/8002217/29038662-81ad5fc8-7b76-11e7-965a-9d1073d86477.png">

After checking the codes we found only when a service is created with the type of Loadbalancer, the DNS record of the service is created in federation dns service. Just wonderi

[2017-08-07 17:54] sutasu commented on #47520
@magescher supposedly it is fixed in 3.0 . As a workaround I used following:

            os.environ['KUBERNETES_SERVICE_HOST'] = 'kubernetes'
            config.load_incluster_config()

[2017-08-07 17:56] jwickens commented on #50261
I've also tried specifying
[code]

To the service as well as specifying the node host's public ip as an externalIp in the service but no luck with either of these.

[2017-08-07 17:59] #50038 closed

[2017-08-07 18:36] msau42 commented on #50256
@stono, as a workaround, you can define a storage class and restrict the zones.  It will still be a few releases before dynamic provisioning can be integrated with pod scheduling constraints.

[2017-08-07 18:45] gatneil commented on #49389
Not sure what the underlying reason is, but the error you're getting is happening on a GET request on the virtual machine. The "Microsoft.Compute/virtualMachines/52.170.33.243" part looks suspicious: the last part of this should be the virtual machine name (the one you see when you look at the VM in the Azure Portal), not its IP address (unless you or the code named the VM with an IP address?). I'

[2017-08-07 18:48] liggitt opened #50262 "TestUpdateClusterRace flake"
seen in https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/50258/pull-kubernetes-unit/45229/artifacts/junit_42602c56127c09f7378bbc50f2d72cb7f5b883c6_20170807-183126.stdout

[code]

[2017-08-07 18:52] ironcladlou commented on #50022
Finally tracked this down. Custom resource kinds [generated in the tests](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/test/integration/testserver/resources.go#L37) are always given a plural suffix of "s". If the singular name ends in "s", the [rest mapper](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/ap

[2017-08-07 18:54] dims commented on #48163
Hate to bug on this one.. another example of "stuck" PR - https://github.com/kubernetes/kubernetes/pull/47436

[2017-08-07 19:10] ironcladlou commented on #50022
https://github.com/kubernetes/kubernetes/issues/49948 is the root cause

[2017-08-07 19:10] ironcladlou commented on #49948
I somehow missed this issue and independently re-discovered it while root causing https://github.com/kubernetes/kubernetes/issues/50022. Oops! Thanks!

[2017-08-07 19:56] #49738 closed

[2017-08-07 19:57] kow3ns commented on #50256
@Stono do you mind closing this issue as we have an open issue and work in progress to address this. SIGs storage, apps, and scheduling are aware of the limitation and @msau42 is working it actively.

[2017-08-07 20:34] jingxu97 commented on #50200
@FengyunPan I checked the node_controller, the node is deleted only after the controller check with the cloud provider to see if the node still exists. So node no longer exists means that the instance is deleted from the cloud provider which also means that volume should no longer attached to the node. It should be safe to return false in VerifyVolumesAreAttachedPerNode

[2017-08-07 20:41] mml commented on #50234
cc @mml

We need to make sure we announce this in the release notes, because some people may have been depending on the old behavior, perhaps without knowing it.

[2017-08-07 20:44] mml commented on #48136
@selvakumarnms please re-open as a feature request if you have a specific use case to discuss.  Thanks!

/sig architecture
cc @cheftako

[2017-08-07 20:44] #48136 closed

[2017-08-07 20:46] mml commented on #48128
Leaving it to sig-auth to decide this feature is desirable and come up with a design first.

[2017-08-07 20:47] #48035 closed

[2017-08-07 20:48] jingxu97 opened #50266 "Mark volume as detached if instance is deleted from cloud provider."
Cloud provider volume has a function DiskIsAttached to check whether the volume is still attached to the instance. If the instance is no longer exist (deleted by cloud provider), we can safely assume that the volume is no longer attached to the instance and return false without error for DiskIsAttached(). Currently GCE PD and AWS has the correct behavior, but all other volume plugins do not.

[2017-08-07 20:49] mml commented on #47933
@hongchaodeng looks like this is fixed.  Please reopen if not.

[2017-08-07 20:49] #47933 closed

[2017-08-07 20:50] mml commented on #47889
/assign @mbohlool

[2017-08-07 20:51] #49522 closed

[2017-08-07 20:52] #50165 closed

[2017-08-07 20:52] mml commented on #47884
/assign @caesarxuchao

[2017-08-07 20:53] dashpole opened #50268 "Block pod deletion on container deletion"
One aspect of #43166 that was overlooked is the deletion of the container itself.  Currently, pod deletion waits for containers to be stopped, volumes to be deleted, and cgroups to be removed.
However, pod deletion does not currently wait for container deletion.

/sig node

[2017-08-07 20:57] mml commented on #47868
cc @cheftako

[2017-08-07 21:00] mml commented on #47837
cc @cheftako to weigh in on cloud provider stuff

[2017-08-07 21:02] mml commented on #47780
/sig node

We think they own the PodSpec API.

[2017-08-07 21:06] mml commented on #47777
/assign mml
cc @jpbetz

[2017-08-07 21:07] fabianofranz commented on #48820
All printers converted in master.