[2017-09-18 23:55] csbell commented on #52681
Leaks are gone, green is back.

[2017-09-18 23:55] #52681 closed

[2017-09-19 00:06] jingxu97 opened #52683 "Volume reconstruction after kubelet restarts might not work for some plugins."
/kind bug

When kubelet restarts, there is a reconstruction process in volume manager's reconciler. (Issue #33203 explains the reason why reconstruction of volume spec is needed after kubelet restarts.)
The volume spec uses the directory name for reconstruction. However, the directory name left on disk is not sufficient to reconstruct volume spec for some plugins such as glusterfs, flexvolume, fc,

[2017-09-19 00:10] MrHohn commented on #51961
Per https://github.com/kubernetes/kubernetes/pull/52120#issuecomment-328577392, CVM is deprecated for 1.8. I'm closing this issue.

[2017-09-19 00:11] bgrant0607 commented on #23211
I agree with @kargakis on reporting lack of progress consistently. This is needed in order to facilitate building higher-level deployment pipelines. This issue, among others, is discussed more in #34363.

See also my comments on auto-pause:
https://github.com/kubernetes/kubernetes/issues/11505#issuecomment-329031881

They doubly apply to auto-rollback.

[2017-09-19 00:15] bgrant0607 commented on #20473
cc @kow3ns

[2017-09-19 00:18] spiffxp commented on #23354
@DanyC97 I believe I was referring to https://github.com/kubernetes/charts/pull/58 (mentioned in https://github.com/kubernetes/kubernetes/issues/23354#issuecomment-244606469)

[2017-09-19 00:21] krzyzacy commented on #50797
fixed by https://github.com/kubernetes/test-infra/pull/4617
/close

[2017-09-19 00:21] #50797 closed

[2017-09-19 00:23] ixdy commented on #48259
I think this is obsolete after the switch to `gazelle`.

[2017-09-19 00:23] #48259 closed

[2017-09-19 00:29] crimsonfaith91 commented on #50797
Thanks, @krzyzacy!

[2017-09-19 00:47] yujuhong commented on #52670
I agree that some generic fields will be useful (in addition to the opaque field), and I think it can be more than a boolean field. There is a long discussion thread on state/phase/condition/outlook in #7856. I am not sure whether any conclusion has been drawn yet.

[2017-09-19 00:49] yujuhong commented on #51980
+1 for defining the default set of capabilities in the kubernetes codebase. kubelet should translate the kubernetes api to a set of capabilities and pass them to the runtime using CRI.

[2017-09-19 00:58] rmmh commented on #52620
/sig network
/unassign

[2017-09-19 01:04] crimsonfaith91 commented on #52620
/assign @xiangpengzhao
The cause of this issue is this commit:
https://github.com/kubernetes/kubernetes/commit/4e9abca6d0a6ab955f7ff01757ad266dff609fba

The new ClusterIP uses `127.x.x.x`, which is not a valid one so it is getting rejected.

[2017-09-19 01:04] timothysc commented on #23354
There are a number of examples that exist, outside the core... Closing.

[2017-09-19 01:04] #23354 closed

[2017-09-19 01:21] dixudx commented on #52242
@dchen1107 The root cause is apiserver version < kubelet version, as I stated in [discussion](https://github.com/kubernetes/kubernetes/pull/52246#issuecomment-329361077).

[2017-09-19 01:28] liggitt commented on #52242
Even with an old api server, it concerns me that there is apparently a code path that causes the kubelet to run validation on internal objects that did not go through a defaulting pass as part of being converted from v1 objects to internal objects.

[2017-09-19 01:29] smarterclayton commented on #52670
Another option (for consistency) - have the controller write to a new typed
object that is mostly status (AWSLoadBalancerService) and have the service
point to it via Ref.  Do it as a CRD to start.

On Sep 18, 2017, at 8:47 PM, Yu-Ju Hong <notifications@github.com> wrote:

Should there be something like a HasError: bool field at the top level?
Seems useful to make that piece generic

I agree that

[2017-09-19 01:30] lichuqiang commented on #52655
Pod started with `hostNetwork` would use the `resolv.conf` of hosts, you can check the `hostNetwork` item of the abnormal pods first

[2017-09-19 01:33] smarterclayton commented on #51899
Note that there should be no JSON in use in these suites, and if it is
that itself is a bug.

We should be using protobuf for all intracluster calls except garbage
collection on CRD and extension resources.

[2017-09-19 01:42] liggitt commented on #50121
Fixed by https://github.com/kubernetes/kubernetes/pull/51763

[2017-09-19 01:42] #50121 closed

[2017-09-19 01:47] mYmNeo commented on #52641
/sig area/kubelet

[2017-09-19 02:15] mtanino opened #52690 "FC plugin: Failed to attach 2+ luns"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

FC plugin returns TargetWWNs at GetVolumeName(), but TargetWWNs are not unique identifier if user has multiple volumes from same target wwn.
As a result, after introducing attach/detach functions, FC plugin always fails to attach volumes if a pod requests 2+ luns.

[code]
The GetVolumeName() is called from GetUniqueVolum

[2017-09-19 02:15] mtanino commented on #52690
/sig storage

[2017-09-19 02:18] FengyunPan commented on #50266
Anyone can merge this PR:#50280?

[2017-09-19 02:19] bgrant0607 commented on #52593
Related: #52185, #4855, #3562, #46073, #23233

[2017-09-19 02:25] bgrant0607 commented on #52593
One known issue: Any resources created using an API that first appears (enabled) in a release will be orphaned in etcd when rolling back, which then become time bombs for when the cluster is rolled forward again, kind of similar to the annotations problem described in #30819.

[2017-09-19 02:31] bgrant0607 commented on #52185
Related:  #4855, #3562, #46073, #23233

[2017-09-19 02:42] mYmNeo commented on #52641
/kind bug

[2017-09-19 02:43] mengqiy commented on #52577
@shiywang Sorry, I was wrong. It is actually `kubectl edit` that can distinguish if there is a change and print `no changes made`.

[2017-09-19 02:45] bgrant0607 commented on #52185
@liggitt Inert resources have some of the timebomb characteristics of annotations discussed in #30819, upon re-upgrade.

[2017-09-19 02:48] bgrant0607 commented on #23233
The existing kube-up add-on manager has the additional problem that it doesn't use leader election. #46073

[2017-09-19 03:24] anguslees commented on #49867
Thanks @MatMaul.  I agree that separating the heartbeat code from "what are your IPs" makes sense.  I can't come up with a good effective alternative for the latter however - if you extend the polling period, then you just extend the limbo period following a change to the node's IP address (and eg this is/was a problem in neutron with the dhcp lease renewal time, for the same reasons).

Afaics we

[2017-09-19 03:52] bay1ts opened #52694 "How can I get kubectl describe node output by using API?"
/kind feature

Is there any way can I get kubectl describe node 's output by using API or go client?
which api did describe node use?I just can't found them...

kubernetes 1.63

[2017-09-19 04:38] vkamra commented on #52459
@dims - I'm looking into adding this but yes we should move this out of 1.8. I don't have permissions to do that though.

[2017-09-19 05:10] malc0lm opened #52695 "kube-apiserver "no --service-cluster-ip-range specified" and "Defaulting to 10.0.0.0/24"."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Running kube-apiserver without specifing "--service-cluster-ip-range" will print “no --service-cluster-ip-range specified” and exit. But it provide a default value "10.0.0.0/24". Do we need remove validation of --service-cluster-ip-range specified?
[code]

**What you expected to happen**:
Since we have provided the defaul

[2017-09-19 05:13] malc0lm commented on #52695
/sig api-machinery

[2017-09-19 05:51] alirezaDavid commented on #45419
Same issue here.
It appears when pod killing but stuck in killing state `Normal          Killing Killing container with docker id 472802bf1dba: Need to kill pod.`
and kubelet logs like this:
`skipping pod synchronization - [PLEG is not healthy: pleg was last seen active`
k8s cluste version: 1.6.4

[2017-09-19 06:07] cypherfox opened #52696 "[Feature Request] Delete successfully completed Pods from Job after some time while Job is still running"
/kind feature

**What happened**:

Currently Pods started by Jobs are only deleted when the Job is removed as well, regardless of the result of the Pod. According to the documentation, this is intended to aid in debuging and monitoring, as it will allow access to the logs and other status information.

When using larger Jobs (>1k pods in my case) this will lead to a a bad signal to noise ratio whe

[2017-09-19 06:10] cypherfox commented on #52696
/area workload-api/job
/sig apps

[2017-09-19 06:41] mkumatag opened #52698 "Multi-arch allowPrivilegeEscalation tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
This issue for making allowPrivilegeEscalation tests multi-arch using the image which is pushed part of https://github.com/kubernetes/kubernetes/pull/49951
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes

[2017-09-19 06:42] mkumatag commented on #52698
/sig testing

[2017-09-19 06:44] mkumatag commented on #52698
/assign

[2017-09-19 06:46] davidopp commented on #45974
https://groups.google.com/d/msg/kubernetes-dev/xl1iqh9vHbY/DByARJDIAQAJ

[2017-09-19 06:58] davidopp commented on #22212
Is there a separate issue for the Kubelet changes to use priority for eviction? I assume that will be in 1.9?

I think this issue covers both uses of priority, though it probably would have been better to have two separate issues.

[2017-09-19 07:04] thockin commented on #52670
That level of reconciliation feels heavy for something we don't really know
we'll use beyond map[string]string...

On Mon, Sep 18, 2017 at 6:29 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-09-19 07:34] goindwalia commented on #48968
I am facing the same on AWS using Kops, issue is not related to GCP but in general. I'll try with rolling update strategies mentioned above by @saad-ali .

[2017-09-19 07:40] wackxu commented on #52695
I think the problem is that we do not set the default value for the ServiceClusterIPRange,
we can see the code:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L619
and
https://github.com/kubernetes/kubernetes/blob/master/pkg/master/services.go
so the validation will fail.

[2017-09-19 07:41] yuexiao-wang opened #52700 "Use many if cases"
**What happened**:
There are many if cases in kind visitor.

**What you expected to happen**:
Use switch instand of more three if cases.

[2017-09-19 07:46] yuexiao-wang commented on #52700
/sig-cli

[2017-09-19 07:52] huangjiasingle opened #52701 "kubectl support cp cmd?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
feature

**What happened**:
l want cp some file to pod
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `un

[2017-09-19 08:02] #42342 closed

[2017-09-19 08:02] zjj2wry commented on #52701
yes, you can use```kubectl cp -h``` get help info.

[2017-09-19 08:06] davidegrohmann commented on #51701
@MrHohn Thanks for your reply. I have not managed to ssh into the master node in gcloud. According to the gcloud documentation and my failed attempts, it looks like it is not possible to ssh into the master node since it is managed by gcloud. Do you have a recommended way on how to retrieve those logs?

On a different note, I have also been experimenting with different ways to delete resources in

[2017-09-19 08:15] malc0lm commented on #52695
@wackxu  No, it had set the default value in https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L294.

[2017-09-19 08:18] torshie opened #52705 "KubeDNS doesn't respond to queries from Pods of the same node."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
KubeDNS doesn't respond to queries come from Pods of the same node. In my setup KubeDNS service IP is 192.168.0.3, kube-dns deployment has only one pod running. The following are some test results:

- `nslookup <domain-name> 192.168.0.3` inside kube-dns pod: all records under domain "cluster.local" don't resolve, other dom

[2017-09-19 08:35] wackxu commented on #52695
@malc0lm We can see the execution sequence：
https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L256-L263
In the function  `defaultOptions` we do not set the value and then we go to the function `Validate`,so there is something wrong. And the Line you point out is for construct `master.Config`. Maybe there is a little confusion.

[2017-09-19 08:36] anguslees commented on #28138
Fwiw I think the "API" part of this discussion is over-complicating the issue.  Afaics there are two desires here:
1. Allow certain pods (managed through regular k8s API) to be persisted to disk, and restored on reboots (before/until the controller tells us otherwise).
2. Have a way to manually inject entries into the database used for (1) for initial bootstrapping.

(.. and the plan then is to re

[2017-09-19 08:41] davidegrohmann commented on #51701
One more thing, I have also upgraded from 1.6.7 to 1.6.9. The leaking is still present.

[2017-09-19 08:43] malc0lm commented on #52695
@wackxu  So, I think why we must validate service-cluster-ip-range specificaiton which have already been provided a default value after validation: )

[2017-09-19 08:55] wackxu commented on #52695
@malc0lm I first think there may other use for Validate and ServiceClusterIPRange, So we can directly set the value for ServiceClusterIPRange and should not use DefaultServiceIPRange everywhere. I think you PR may be better

[2017-09-19 09:02] #52705 closed

[2017-09-19 09:05] jcharlytown commented on #34978
I am unable to reproduce this issue when terminating a pod using `kubectl delete pod cassandra-1` (out of 0,1,2). We run on Azure ACS and make use of PVCs, which get reattached after the pod has been recreated by the statefulset. The container image is `gcr.io/google-samples/cassandra:v12` and I have made sure that the IP address in fact changes when the pod is recreated.

Logs of recreated pod:
[

[2017-09-19 09:08] jicki opened #52711 "kubernetes 1.8-beta.1 kubelet nodes is forbidden: User"
[code]

[code]

[code]

[code]

pls help me `!

[2017-09-19 09:09] yu-yang2 commented on #45419
@alirezaDavid I encountered the same issue just like yours, pod start and terminate very slow, and node became notReady every now and then, restart kubelet on node or restart docker looks solve the problem, but this is not the right way.

[2017-09-19 09:09] jicki commented on #52711
/kubelet

[2017-09-19 09:45] ArunSambandam opened #52715 "kubeadm (v1.9.0-alpha.0.723..) hangs while trying to communicate to kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

This is to report a hang observed during 'kubeadm init'

**What happened**:

Suspecting kubeadm is not able to communicate with kubelet during 'kubeadm init'

bash-4.2# kubeadm init
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.7.6
[init] Using Authorization modes: [Node RBAC]

[2017-09-19 09:46] ArunSambandam commented on #52715
/sig cluster-lifecycle
/area kubeadm

[2017-09-19 09:47] jicki commented on #52711
/sig node

[2017-09-19 09:53] gmarek commented on #51899
@smarterclayton - I believe we do patches though JSON, aren't we?

[2017-09-19 10:36] dims commented on #52459
ack @vkamra

@jdumars @kubernetes/kubernetes-release-managers Can we please move this out of 1.8?

[2017-09-19 10:47] shyamjvs commented on #51718
Yes, most of the fixes have been done here - thanks to the concerned SIGs for acting promptly. There are a few ones which are failing even on smaller clusters (like #52496) and are not scalability related. The only one which is failing currently and is actually scalability-related is:

ESIPP [Slow] e2e tests failing on large cluster release-blocking job #52495

There's some discussion going on the

[2017-09-19 10:47] shyamjvs commented on #51718
Closing the issue. We can reopen it later if needed.

[2017-09-19 10:47] #51718 closed

[2017-09-19 10:52] shyamjvs commented on #52496
Removing this as release-blocker and downing the priority as it's a setup issue specific to use of heapster node.
@loburm Would continue to work on it (thanks!).

[2017-09-19 11:05] munnerz commented on #52701
Help output as of Kubernetes 1.7 (and [docs link](https://kubernetes.io/docs/user-guide/kubectl/v1.7/#cp)):

[code]

I think this issue can be closed as the feature already exists.

[2017-09-19 11:08] shyamjvs commented on #52495
Makes sense - though like you later said, at least some of those should have passed (even if they all ran serially). Btw - you can try manually creating a large cluster and see what's happening live (we have quota in one of our projects (k8s-scale-testing) specially meant for such manual scalability experiments).

Sg - though I'm not very sure if we want to do it as it might diverge our test setup

[2017-09-19 11:12] shyamjvs commented on #52495
Removing this from release-blocker as it seems to be mostly related to operations on cloud-provider side. Though it is still important to be fixed.

[2017-09-19 11:16] shyamjvs commented on #51718
fyi - I've unmarked some of those issues from release-blocker based on the causes identified.

[2017-09-19 11:42] alirezaDavid commented on #45419
@yu-yang2 Yap exactly, I restart kubelet
But before restart kubelet i checked out  `docker ps` and `systemctl -u docker` and everything seems working.

[2017-09-19 11:44] harshal-shah commented on #50745
I have ensured executable permissions are present and still getting above error.

[2017-09-19 12:17] MatMaul commented on #49867
@anguslees actually I don't really understand the use case where the internal IP would change. The external one I get it it is floating IP that can change anytime, however I guess the most important one is the internal one right ? You are talking Neutron DHCP lease, I don't think Neutron would change a private IP on the fly ?
I think we are fine keeping it like that for now in k8s, but I am trying

[2017-09-19 12:17] liggitt commented on #51899
Patches were never decoded using ugorji, so the json-iterator switch wouldn’t have affected it, and application of strategic merge patches is done on intermediate map[string]interface{} objects, and doesn’t round trip out to JSON

[2017-09-19 12:20] neolit123 commented on #48798
i'm getting `Unable to update cni config: No networks found in /etc/cni/net.d` with a recent github tip of the master branch - `"v1.9.0-alpha.0.690+9aef242a4c1e42-dirty"`

on ubuntu 17.04

if i remove this line from `10-kubelet.conf`:
`Environment="KUBELET_NETWORK_ARGS=--network-plugin=cni --cni-conf-dir=/etc/cni/ --cni-bin-dir=/opt/cni/bin""`

the kubelet starts, then i install weave-net as the p

[2017-09-19 12:24] dyatom opened #52720 "build proxy.go fails to build with "go build" command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:

Getting this error when building proxy.go

C:\Projects\Go\src\k8s.io\kubernetes>go build cmd/kube-proxy/proxy.go
# k8s.io/kubernetes/pkg/kubectl/cmd/util/openapi
pkg\kubectl\cmd\util\openapi\openapi_getter.go:57:42: cannot use s (type *"github.com/googleapis/gnostic/OpenAPIv2".Document) as type *"k8s.io/kubernetes/vendor/

[2017-09-19 12:36] surajnarwade commented on #52255
@davecheney Make sure
* `CDPATH` envvar is unset

[2017-09-19 12:44] gmarek opened #52722 "Panic in ControllerManager when GCE external loadbalancer healthcheck"
Because I can't get the fix submitted without an issue.

[2017-09-19 12:57] davecheney commented on #52255
Thank you, I do have CDPATH set. Do you think it would be possible for the Makefile to unset this?

[2017-09-19 13:23] surajnarwade commented on #52255
@davecheney , maybe we can add simple line `unset CDPATH`

[2017-09-19 13:55] prashantabkari commented on #52636
Hi guys - Just noticed this again. Was able to reproduce it. On performing multiple kubeadm reset and kubeadm init cycles. admin.conf unde $HOME has to be copied from /etc/kubernetes/admin.conf .
Not sure if this is documented anywhere.

[2017-09-19 14:08] rphillips commented on #45010
Including the ceph mirror will break the k8s arm32, s390x, and ppc64 architectures since the mirror does not include these architecture binaries.

[2017-09-19 14:14] neith00 commented on #45010
@rphillips Well I can try to rework that to support wider arch.

[2017-09-19 14:25] walteraa opened #52726 "Federation: Google Cloud DNS provider error 404 caused by the ProjectID"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**: I've tried to use Google DNS as DNS provider in a federation with FCP in an on-premises cluster. I've configured a secret with the Google credential file with correct permissions, I mounted the secret as a volume and assigned the "volume path" to the environment variable `GOOGLE_APPLICATION_CREDENTIALS`(before that I was

[2017-09-19 14:26] walteraa commented on #52726
/sig federation

[2017-09-19 14:38] gyliu513 opened #52727 "update-generated-protobuf failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I run `hack/update-all.sh`, the `update-generated-protobuf` failed.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
[code]

/cc @sttts

[2017-09-19 14:41] surajnarwade commented on #52255
@davecheney, For ref: https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#build

[2017-09-19 14:52] gyliu513 commented on #52727
`update-staging-godeps` fails as well.

[code]

[2017-09-19 14:54] xiangpengzhao commented on #48259
thanks @ixdy

[2017-09-19 15:03] mattfarina opened #52728 "Migrate from godep to dep"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

When it comes to dependency handling, migrate from godep to [dep](https://github.com/golang/dep). There are two reasons for this:

1. godep development is essentially done. See https://github.com/tools/godep/graphs/contributors. Edward Muller, the primary author of godep, worked in the group that came to the conclusion to start dep and

[2017-09-19 15:08] vnalla commented on #48924
I am getting the same on CentOS 7 withe coreos/hyperkube:v1.7.4_coreos.0

Linux centos-master 3.10.0-514.6.2.el7.x86_64 #1 SMP Thu Feb 23 03:04:39 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
[code]

[2017-09-19 15:09] discostur opened #52729 "Kubectl Proxy to Dashboard broken in 1.7.6"
/kind bug

**What happened**:
Deployed a new cluster v1.7.6 with kubeadm and tried to access dashboard via kubectl proxy. I tested two links, but only one works:

[code]

**What you expected to happen**:

Should work, because with kubernetes 1.7.5 it works without any problem.

**How to reproduce it (as minimally and precisely as possible)**:

deploy new cluster 1.7.6 with kubeadm (centos 7.4) and

[2017-09-19 15:16] matt-duch commented on #52655
Agreed. I checked 3 or 4 manually, and confirmed that there were pods with abnormal resolv.confs that did not use hostNetwork. As an additional sanity check, this cluster only has 6 pods with hostNetwork, which is less than the 18 abnormal pods I saw after the daemon restart.

[2017-09-19 15:24] gekart opened #52730 "Kernel Panic after cgroup OOM on Debian (Kernel 4.4)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We get regular kernel panics (multiple times a day) on nodes and masters seemingly correlated with cgroup OOM process kills. fluentd is just an example here, but other container OOM will also lead to instance termination.

Excerpt from system console (a few OOMs cut out):
[code]
**What you expected to happen**:

Instance

[2017-09-19 15:27] gekart commented on #52730
/sig node

[2017-09-19 15:44] #52701 closed

[2017-09-19 16:24] apelisse commented on #47820
Who is responsible for getting this issue resolved? Reading the comments, it looks like it's either @foxish or @krzyzacy

I'll assign you and remove Janet

[2017-09-19 16:48] JustinasKO commented on #52084
This is needed for RabbitMQ too, without this clustering is pain.

[2017-09-19 16:53] roberthbailey commented on #49673
@ixdy - I'm going to bump this out of the 1.8 milestone as it isn't a release blocking issue, but we shouldn't lose track of fixing it.

[2017-09-19 17:01] jingxu97 commented on #48968
@goindwalia To help us identify the root cause of your issue, could you please provide more details about your setup? If kube controller log is available, that would be also very helpful! Thanks!

[2017-09-19 17:08] 2rs2ts commented on #14512
We have a very similar use case as @montanaflynn and deferContainers would not solve it.

[2017-09-19 17:11] ethernetdan opened #52734 "gci-gce-serial-1.8 timing out"
The job [gci-gce-serial-1.8](https://k8s-testgrid.appspot.com/release-1.8-blocking#gci-gce-serial-1.8) is timing out.

Since [gci-gke-serial-1.8](https://k8s-testgrid.appspot.com/release-1.8-blocking#gci-gke-serial-1.8) looks okay this could be a infra config issue.

[2017-09-19 17:11] mbohlool commented on #51825
@smarterclayton this is a daily ping from release team. Does this issue need to be in v1.8 milestone?

[2017-09-19 17:11] caseydavenport commented on #48510
Fixed by https://github.com/kubernetes/kubernetes/pull/48970 - thanks all.

/close

[2017-09-19 17:11] #48510 closed

[2017-09-19 17:15] ethernetdan commented on #52734
cc/ @ericchiang

[2017-09-19 17:15] gkop commented on #14512
Our workaround is to spawn `kubectl rollout status deploy/$DEPLOYMENT_NAME --watch=true | tail -n 1` and wait for the process to exit. We use the process exit status to determine whether or not the deploy was successful, and include the last line of output in our deploy notifications (usually "deployment $DEPLOYMENT_NAME successfully rolled out") #hacktastic

[2017-09-19 17:16] saad-ali commented on #48968
Moving out of 1.8 milestone to unblock release.

[2017-09-19 17:17] mbohlool commented on #51643
@sttts, @caesarxuchao Is this still planned for v1.8? If not, please remove the milestone.

[2017-09-19 17:18] saad-ali commented on #50115
Removing from 1.8 milestone. This issue was not introduced in 1.8 and should not be a blocker for 1.8. If the fix goes in after 1.8, it can be cherry picked back to 1.8, 1.7, 1.6, etc.

[2017-09-19 17:19] mbohlool commented on #51355
@jpbetz @mml daily greeting and ping from release team. Can we close this issue? If no, is it still planned for 1.8?

[2017-09-19 17:23] saad-ali commented on #52138
This issue is a 1.8 blocker. The PRs for to fix it, #52350 and #52500, are approved/LGTM'd and awaiting merge. This issue can be closed as soon as those merge.

[2017-09-19 17:24] ericchiang commented on #52734
cc @kubernetes/test-infra-maintainers
cc @abgworrall
cc @kubernetes/kubernetes-release-managers

[2017-09-19 17:26] zmerlynn commented on #50274
/unassign

That's the normal error message from a Ginkgo test failure and has nothing to do with #51695, which has the failure signature of `detect-node-instance-groups: command not found`.

[2017-09-19 17:27] zmerlynn commented on #50274
/assign xiangpengzhao

[2017-09-19 17:28] krzyzacy commented on #52734
/assign

I think I bumped gke-serial timeout last time, I'll do the same thing for gce-serial.

[2017-09-19 17:30] abgworrall commented on #52734
Is there any way to have a single timeout setting for all the serial testjobs ? This isn't the first time we've needed to tweak a job to match some other job ...

[2017-09-19 17:31] jingxu97 opened #52735 "Node reboot cause unable to mark volume as detached normally in GKE"
In our current GKE environment, when an instance is stopped, crashes, or deleted, a new instances will be automatically recreated so it can resume its processing tasks. Because node is deleted from cloud provider, all the volumes attached to the instance will be released (detached) automatically by cloud provider.  Node object will be deleted from API server by node controller after it detects tha

[2017-09-19 17:32] saad-ali commented on #52242
This issue is being discussed on https://github.com/kubernetes/kubernetes/pull/52246, see the latest on that PR. At the moment, it appears to be caused by kubeadm using a newer version of the k8s client then then the server. Awaiting word from @jessicaochen and @luxas. If that is the case, we should be able to close this bug. If not, we can merge https://github.com/kubernetes/kubernetes/pull/52246

[2017-09-19 17:33] saad-ali commented on #52258
Not a 1.8 blocker. Moving out of milestone.

[2017-09-19 17:38] mbohlool commented on #34508
@lavalamp @ncdc @thockin @timothysc @liggitt this is a daily and friendly ping from release teem. Is this still relevant to 1.8? If yes, who is actively working on it?

[2017-09-19 17:39] mbohlool commented on #30819
@erictune, @smarterclayton, @gmarek  this is a daily and friendly ping from release team. Is this still relevant to 1.8? If yes, who is actively working on it?

[2017-09-19 17:40] krzyzacy commented on #52734
@abgworrall makes sense - but this test in previous releases does not really take this long to finish

[2017-09-19 17:40] mbohlool commented on #49987
@cheftako (as @caesarxuchao is OOO): this is a daily and friendly ping from release team. Is this still relevant to 1.8? If yes, who is actively working on it?

[2017-09-19 17:41] dims commented on #49673
Thanks @roberthbailey

[2017-09-19 17:41] mbohlool commented on #47131
@xiang90 @hongchaodeng @javipolo this is a daily and friendly ping from release team. Is this still relevant to 1.8? If yes, who is actively working on it?

[2017-09-19 17:42] lavalamp commented on #34508
Removing from milestone.

[2017-09-19 17:44] roberthbailey commented on #52242
Also, your comment doesn't address @liggitt's concern above.

[2017-09-19 17:44] lavalamp commented on #30819
This doesn't seem actionable, and it seems to have significant overlap with https://github.com/kubernetes/kubernetes/issues/34508.

[2017-09-19 17:47] xiang90 commented on #47131
we should move this out of 1.8. there is no existing pr for it.

[2017-09-19 17:48] mbohlool commented on #47131
@xiang90 thanks. Removing the milestone.

[2017-09-19 17:48] lavalamp commented on #47131
It's not clear that there's any actual problem here.

[2017-09-19 17:48] saad-ali commented on #52658
Fix for this, PR #52659, is approved/LGTM'd and awaiting merge.

[2017-09-19 17:51] lavalamp commented on #47131
I take that back. OP seems to have a problem. Note that we haven't attempted running Kubernetes against etcd 3.1.x or up. Some of the other commenters on this issue may have hit the fact that the etcd backend version changed to 3 from 2.

cc @jpbetz

[2017-09-19 17:51] liggitt commented on #30819
I think the updated guidance to stop using annotations for alpha features stops the bleeding, and the field gate proposal captures concrete improvements that need to happen to make working with alpha fields sustainable

[2017-09-19 17:51] #30819 closed

[2017-09-19 17:52] lavalamp commented on #49987
I am pretty sure @caesarxuchao fixed this in #50476.

[2017-09-19 17:52] #49987 closed

[2017-09-19 17:52] saad-ali commented on #52661
Looks like the PR for this is just awaiting merge https://github.com/kubernetes/kubernetes/pull/47080

[2017-09-19 17:52] BenTheElder commented on #52734
@krzyzacy I think we may also need to bump the cross build timeout a bit: https://github.com/kubernetes/kubernetes/pull/49112#issuecomment-330492503

[2017-09-19 17:54] caseydavenport commented on #52331
This appears to be fixed in the latest flannel v0.6.0 plugin code -

https://github.com/containernetworking/plugins/blob/v0.6.0/plugins/meta/flannel/flannel.go#L253

However, the fix does not exist in v0.3.0 (the previous release) -

https://github.com/containernetworking/plugins/blob/v0.3.0/plugins/meta/flannel/flannel.go#L239

I don't think this issue should be fixed in Kubernetes, and it looks

[2017-09-19 17:54] lavalamp commented on #51355
This appears to have been fixed by @jpbetz.

[2017-09-19 17:54] #51355 closed

[2017-09-19 17:54] cheftako commented on #49987
As Chao mentions https://github.com/kubernetes/kubernetes/pull/50476 should fix the issue. He manually tested that this works. The only thing that I know of that we are missing for this is an automated e2e test for GKE to make sure we don't get a regression.

[2017-09-19 17:55] saad-ali commented on #52458
@gnufied is out sick today. He says he will have a PR adding the test(s) out by tomorrow.

[2017-09-19 17:55] bowei commented on #52331
We should move this off of the 1.8 milestone and close.

[2017-09-19 17:57] smarterclayton opened #52738 "Should completed pods have conditions?"
Completed pods currently retain their conditions, but change the values.  So a completed pod is marked as "Ready" = "false", which isn't really true, since it will be impossible for that pod to become ready again.

[2017-09-19 17:57] lavalamp commented on #51643
I don't think this has much to do with kubernetes releases. Also SIG testing is in the process of taking over this bot. So let's move it over to them and let them decide.

[2017-09-19 17:58] rphillips commented on #45010
@neith00 debian:stretch contains `10.2.5` of the ceph tools. What is your thought on upgrading the debian-base image from jessie to stretch?

https://github.com/kubernetes/kubernetes/blob/8ca1d9f19ba2c75dfbca058ecfeb11d4b39d9e9f/build/debian-base/Makefile#L28-L46

[2017-09-19 17:59] Gregy commented on #52730
I just want to note that this happens to me too. I use an GKE cluster with ubuntu node images (node kubernetes version 1.7.3).
I filed a bug report with ubuntu here: https://bugs.launchpad.net/ubuntu/+source/linux-meta-gke/+bug/1717908

[2017-09-19 18:00] lavalamp commented on #51825
I am kicking this out of the milestone as it doesn't sound like a trivial fix and it also doesn't sound like a cluster-breaking problem.

[2017-09-19 18:02] MrHohn opened #52740 "kube-proxy migration tests are failing: "metrics/v1alpha1: the server could not find the requested resource""
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
https://k8s-testgrid.appspot.com/sig-network#gci-gce-latest-upgrade-kube-proxy-ds
&
https://k8s-testgrid.appspot.com/sig-network#gci-gce-latest-downgrade-kube-proxy-ds
are failing consistently since 9/15 with below error message:
[code]

Example failed build: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs

[2017-09-19 18:02] MrHohn commented on #52740
/kind bug

[2017-09-19 18:04] mbohlool opened #52741 "Extension API Server and Aggregator Server's OpenAPI spec missing x-kubernetes- extensions"
Kube-apiserver has a customization method (TODO: link) to add `x-kubernetes-` extensions to openapi spec (such as `x-kubernetes-group-version-kind`). These extensions are missing from types like `apiregistration` that is aggregated from the Aggregator server itself. I assume they will be missing from API Extension Server too that is responsible for CRDs.

@apelisse

@kubernetes/sig-api-machinery-b

[2017-09-19 18:05] MrHohn commented on #52740
/sig api-machinery

[2017-09-19 18:06] shyamjvs commented on #51899
I don't think it's the ugorji change causing the regression (though I was originally suspecting it) - for e.g consider `patch node-status` calls (which is the main one showing regression) and those calls are made by kubelet and npd, both of which are using protobufs to talk to the apiserver. Further as @smarterclayton and @liggitt confirmed, these are normal intracluster calls (no CRD/extension in

[2017-09-19 18:10] apelisse commented on #50274
@thockin @xiangpengzhao I'll track you guys as owners for this failure. Let's try to get it merged quickly. And let me know if you don't have time/power to fix that. Thanks

[2017-09-19 18:11] saad-ali commented on #52242
Yes, referencing this discussion (https://github.com/kubernetes/kubernetes/pull/52246#issuecomment-329903096):

---------

I don't think that is the case. See @msau42's comment here: https://github.com/kubernetes/kubernetes/pull/52246#issuecomment-328729460. Based on that discussion, it looks like volume reconstruction was a red herring. In general volume reconstruction creates internal objects th

[2017-09-19 18:26] MrHohn commented on #50274
Upgrade framework is likely broke by https://github.com/kubernetes/kubernetes/pull/52582. Ref: https://github.com/kubernetes/kubernetes/pull/52582#issuecomment-330614277.

It is being fixed by https://github.com/kubernetes/kubernetes/pull/52743.

[2017-09-19 18:28] bowei commented on #24145
I'm going to close this bug in favor the individual pieces that are planned and in progress.

/close

[2017-09-19 18:28] #24145 closed

[2017-09-19 18:32] #52658 closed

[2017-09-19 18:44] shyamjvs commented on #51899
I looked into it further today and here's what I found:

- We've started noticing increased latencies since run-27 of our 5k performance job (https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-performance). The last healthy run was run-23 (which had normal latencies). Here's the diff of the commits across the runs (a bit huge) - https://github.com/kubernetes/kubernetes/compare/11299e363c5

[2017-09-19 18:45] neith00 commented on #45010
I'm pretty confident about it but I can only test with amd64 arch.

[2017-09-19 18:47] shyamjvs commented on #51899
cc @kubernetes/kubernetes-release-managers @jdumars @dims - This is a clear regression we're seeing here and should definitely be blocking the release on this.

[2017-09-19 18:52] yujuhong commented on #52641
Dropping this event should be harmless. The PLEG events are just used to trigger the sync. The pod workers always get the actual container state from the cache (that's populated by the PLEG) a the time of sync.
On top of that, kubelet also has the fallback periodic syncs. They should kick off the workers every minute. The root cause of your problem may lie elsewhere. Maybe posting relevant kubelet

[2017-09-19 19:01] neith00 commented on #45010
on the other side I discovered https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/rbd as a workaround

[2017-09-19 19:02] foxish commented on #47820
Most of the incidences of this failure have already been fixed. https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-cluster is the only place I can find this test failure. We should remove this from the 1.8 milestone.

[2017-09-19 19:04] MrHohn commented on #52620
Duplicate of https://github.com/kubernetes/kubernetes/issues/50274.

[2017-09-19 19:15] krzyzacy commented on #52734
/close

[2017-09-19 19:15] #52734 closed

[2017-09-19 19:29] aaronlevy commented on #28138
@anguslees https://github.com/kubernetes/kubernetes/pull/50984 is close to what you're describing.

[2017-09-19 19:56] xiang90 commented on #47131
@lavalamp @jpbetz

the original questions is about the logging line

[code]

I explained that this is probably just normal. And the compacted problem is recoverable automatically, thus it requires no human interaction. It does not worth an error level.

There are other etcd potential hanging problems raised in this thread. I did not response them here (or take a close look) since it is too noise.

[2017-09-19 20:20] ixdy commented on #52727
Can you `make quick-release`? Something looks weird in your docker setup.

[2017-09-19 20:22] ericchiang opened #52745 "SelfSubjectRulesReview improvements"
Planned improvements for SelfSubjectRulesReview (https://github.com/kubernetes/features/issues/380) over 1.9 release.

- [ ] Support for the webhook authorizer (ref https://github.com/kubernetes/kubernetes/issues/52511)
- [ ] Kubectl convenience. (https://github.com/kubernetes/kubernetes/pull/53324)
- [x] Default role binding for authenticated users? (https://github.com/kubernetes/kubernetes/pull/

[2017-09-19 20:22] joseppla commented on #39657
@Jan-M as far as I know EBS can be resized with the instance running since few months ago, the problem is when your disc is the main instance disk (then you should stop the instance before resizing)  but if it's not you can do it and the only problem is the degraded performance meanwhile the resize process is ongoing. Not sure if it's faster than a snapshot and a new volume created from this snaps

[2017-09-19 20:23] ixdy commented on #52271
My opinion is that `make clean` deletes only things that were generated by something `make` did. If I want to delete other files I created, I call `git clean` instead.

[2017-09-19 20:25] ixdy commented on #52271
oh, but we're using `git clean -X`, which only deletes ignored files. that seems fine to me.

[2017-09-19 20:28] ixdy commented on #52126
Seems like a bazel bug? Might be worth following up on the bazel-discuss@ Google group.

[2017-09-19 20:29] #51681 closed

[2017-09-19 20:34] #52496 closed

[2017-09-19 20:35] jenciso commented on #52729
I have the same problem

[2017-09-19 20:41] sttts commented on #51643
@lavalamp technically it is not related to the actual release in the sense of tagging, but as more and more people consume the Kubernetes release via our exported repos a timely sync of them in parallel to the k8s.io/kubernetes release is important. At least that's what I hear every day from a number of sides. We cannot talk about extension points and a non-monolithic development processes, but at

[2017-09-19 20:42] sttts commented on #51643
**We are once again in the same situation as a week ago:**

- `github.com/sttts/*` are ready for testing with the found issues fixed.
- @caesarxuchao is out-of-office and cannot support with testing and finally pushing them to `k8s.io/*`. Who can help in-place of him? /cc @kubernetes/sig-testing-misc
- two PRs (which need top-level approval) need reviews: https://github.com/kubernetes/kubernetes/p

[2017-09-19 20:47] liggitt commented on #51899
*all* updates (patch, update, graceful delete, etc) use GuaranteedUpdate under the covers. That has not changed. Are we not able to narrow the commit range down further? Did we change etcd versions in that range?

[2017-09-19 20:48] dims commented on #51643
i expect the problems to become worse as we spin out cloud providers for example. Let's please get this going!

[2017-09-19 20:53] MrHohn commented on #52495
Also some explanations for the error messages posted on https://github.com/kubernetes/kubernetes/issues/52495#issuecomment-329746924:
[code]

This basically happens when a service is created and later be deleted, and when the service controller isn't responsive enough --- it doesn't response to a service creation until after the service is deleted. Because we put a workqueue in between service wat

[2017-09-19 20:57] foxish commented on #47820
Issues were fixed by @krzyzacy in https://github.com/kubernetes/test-infra/pull/4617. Will verify when the upgrade tests are back up and close issue.

[2017-09-19 21:09] eparis commented on #51643
I can run the script again when you are all set.

Long term, like you've been saying, (and it sounds like it is coming along) it's got to be automated eventually.

[2017-09-19 21:23] fejta commented on #51643
/remove-sig testing
/sig api-machinery

This does not within the purview of sig-testing.

Pushing api-machinery repos is api-machinery's responsibility. The owners of those repos need to determine how they want to do this.

There is some experimental, unsupported automation that you are welcome to use, but it is not something that sig-testing supports right now.

[2017-09-19 21:25] leblancd opened #52746 "e2e tests need to use brackets around IPv6 addresses for IP:port"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Run e2e conformance tests remotely on an already-running IPv6-only cluster.
Some tests fail where there is an attempt to connect using an <IPv6-address>:<port>
endpoint, where there are no brackets around the IPv6 address. The IPv6 address
needs to be bracketized in order to distinguish the colons in the address from

[2017-09-19 21:25] leblancd commented on #52746
/area ipv6
/sig network

[2017-09-19 21:33] jpbetz commented on #47131
If I'm reading this right, `watch chan error: etcdserver: mvcc: required` might be a red herring and there might be a variety of unrelated issues being attributed to it here.

And, as @zxpower observed, when upgrading to etcd 3 with TLS, if `-v=4` verbose logging is not enabled in `kube-apiserver.yaml`, it can be difficult to diagnose the problem correctly.

How about we update this issues title/d

[2017-09-19 21:33] databus23 commented on #49402
@luxas Do you mean removing the ssh tunnelling feature completly or just removing `AddSSHKeyToAllInstances` from the cloud interface?

[2017-09-19 21:44] liggitt commented on #49402
I'd like to see the tunneling feature removed. If a particular deployment topology requires it, I would expect that deployment to set up VPN–style tunneling for specific IP ranges, rather than adding complexity throughout the API server

[2017-09-19 21:46] JayBusch opened #52749 "AWS ECR Authentication Broken in v1.7"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have a brand new Kubernetes v1.7.6 master controller.

Nodes are able to join, and nodes that are labeled to receive pods from deployments that use public container repositories work fine (i.e. Prometheus etc.).

Nodes that are labeled to receive pods from deployments that use our containers in the AWS ECR generate the

[2017-09-19 21:48] MrHohn commented on #52495
More explanation for this. It seems we are using the working queue in a FIFO fashion for service update:

https://github.com/kubernetes/kubernetes/blob/dc460c3e15651d7e3527337c7997ab7f956ad6b1/staging/src/k8s.io/client-go/util/workqueue/queue.go#L86-L106

https://github.com/kubernetes/kubernetes/blob/dc460c3e15651d7e3527337c7997ab7f956ad6b1/staging/src/k8s.io/client-go/util/workqueue/queue.go#L117

[2017-09-19 21:48] JayBusch commented on #52749
@kubernetes/sig-aws

[2017-09-19 21:48] mikesparr commented on #34395
Any solution to this issue yet?  Attempting from Travis CI. Everything works fine from local CLI on Mac, but when trying from Travis CI, it errs on permissions. Tried deleting and recreating cluster, deleting and recreating service keys, various service key permissions (now just Project Editor, but before Container Developer + Storage Admin). Nothing seems to work

## deploy script ran after insta

[2017-09-19 21:53] JayBusch commented on #52749
/sig aws

[2017-09-19 21:56] databus23 commented on #49402
@liggitt Sorry to hear that. I was hoping to build on that feature in out deployment. Setting um vpn tunnels requires more outside machinery and complicates the setup considerably in my case.

[2017-09-19 22:01] davidz627 commented on #29633
I recommend closing this issue as I do not believe that this race condition is causing problems anymore. The timeouts for the tests in question have been updated to have longer timeouts. And the event loop periods have been decreased to such a point that the Downward API Volume is updated in an acceptable amount of time (within 10 seconds).

We can follow the logic ivan4th has laid out and see tha

[2017-09-19 22:03] jascott1 commented on #22368
@bgrant0607 I am available to work on this. Is there a succinct design proposal to follow?

[2017-09-19 22:10] apelisse commented on #52571
That should be fixed now.

[2017-09-19 22:10] #52571 closed

[2017-09-19 22:12] kargakis opened #52750 "should creating a working CockroachDB cluster"
Seems to be broken for [at least](
https://k8s-testgrid.appspot.com/google-gce#gce-statefulset&include-filter-by-regex=%5EOverall%24%7C%5C%5Bsig%5C-apps%5C%5D%5C%20StatefulSet%5C%20%5C%5Bk8s%5C.io%5C%5D%5C%20Deploy%5C%20clustered%5C%20applications%5C%20%5C%5BFeature%5C%3AStatefulSet%5C%5D%5C%20%5C%5BSlow%5C%5D%5C%20should%5C%20creating%5C%20a%5C%20working%5C%20CockroachDB%5C%20cluster&width=5) the

[2017-09-19 22:22] kargakis commented on #52750
@janetkuo @kow3ns @resouer

[2017-09-19 22:23] kargakis commented on #52750
@kubernetes/sig-apps-test-failures

[2017-09-19 22:24] liggitt commented on #49402
The complication is there regardless of whether it is built into the api server or not, and the tunneling built into the api server is opaque, not as robust as dedicated vpn solutions, and has been repeatedly problematic.

[2017-09-19 22:27] kargakis commented on #35507
/reopen

@soltysh this job seems to be one of the flakiest sig-apps jobs, both on [gce](https://k8s-testgrid.appspot.com/google-gce#gce&include-filter-by-regex=%5EOverall%24%7C%5C%5Bsig%5C-apps%5C%5D%5C%20Job%5C%20should%5C%20run%5C%20a%5C%20job%5C%20to%5C%20completion%5C%20when%5C%20tasks%5C%20sometimes%5C%20fail%5C%20and%5C%20are%5C%20not%5C%20locally%5C%20restarted&width=5) and [gke](https://k8

[2017-09-19 22:42] mbohlool commented on #51643
Do you mean this issue should keep the 1.8 tag but it is not a release blocker?

[2017-09-19 22:44] davidz627 commented on #29633
I recommend closing this issue as I do not believe that this race condition is causing problems anymore. The timeouts for the tests in question have been updated to have longer timeouts. And the event loop periods have been decreased to such a point that the Downward API Volume is updated in an acceptable amount of time (within 1 minute).

We can follow the logic ivan4th has laid out and see that

[2017-09-19 22:46] saad-ali commented on #29633
Closing this issue based on @davidz627's analysis.

[2017-09-19 22:46] #29633 closed

[2017-09-19 22:46] mml commented on #52126
@ixdy I'm willing to consider that possibility, and I did find a similar
bazel bug that may be related to this target's use of both `_` and `.` (
https://github.com/bazelbuild/bazel/issues/2732).

I'd like to produce a simple reproduction.  But, I can't find where
`.kazelcfg.json` is coming from in our build rules.

On Tue, Sep 19, 2017 at 1:31 PM, Jeff Grafton <notifications@github.com>
wrote:

[2017-09-19 22:48] MrHohn commented on #52347
Turned out we already have such cleanup logic, it is just we use an incorrect firewall name and forget to cleanup node health check resources as well. Sent https://github.com/kubernetes/kubernetes/pull/52751 to fix.

[2017-09-19 23:15] mml commented on #52126
Actually, nm.  I misread the docs on `--output_base` and am using it wrong.

[2017-09-19 23:15] #52126 closed

[2017-09-19 23:25] ixdy commented on #52126
ah, ok. `.kazelcfg.json` is just a file in the tree; not sure what makes it any more special than anything else.

[2017-09-19 23:29] ixdy commented on #52126
FYI on prow we set `TEST_TMPDIR` to change what bazel uses for its cache dir. (It's only slightly hacky.)

[2017-09-19 23:33] munnerz opened #52752 "sample-controller example repository"
As discussed in https://github.com/kubernetes/apiextensions-apiserver/issues/4 and on Slack with @sttts, @nikhita and @colemickens, it'd be good to have a sample-controller example repository to go along with the current `k8s.io/sample-apiserver` repo.

It could show how to properly use the `k8s.io/code-generator` repository to generate code for CRD types, and how to set up a basic workqueue and s

[2017-09-19 23:35] munnerz commented on #52752
/sig api-machinery

[2017-09-19 23:53] petervo opened #52754 "Error responses seem to always be in text/plain"
/kind bug

**What happened**: Error data seems to always be text/plain

**What you expected to happen**: I expect to get json data. I would expect it to be by default, but especially should happen when the Accept header is set to application/json.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Environment**:
- Kubernetes version (use `kubectl version`):

Tested with:

[2017-09-19 23:55] petervo commented on #52754
/sig api-machinery

[2017-09-20 00:24] ericchiang commented on #52587
PR merged into the 1.7 release branch. Closing.

[2017-09-20 00:24] #52587 closed

[2017-09-20 00:25] ericchiang commented on #52585
Fix merged into 1.7 branch. Closing.

[2017-09-20 00:25] #52585 closed

[2017-09-20 00:31] #50055 closed

[2017-09-20 00:31] #52661 closed

[2017-09-20 00:31] #52722 closed

[2017-09-20 00:34] vishh commented on #5607
@tvalentyn you don't have to `mount` devices. Kubernetes provides extensions and Nvidia provides plugins which will automate management of GPUs at scale. So you only `request a GPU` and mounting happens automatically via plugins.

This issue is beyond just GPUs. As I mentioned earlier what's missing is https://github.com/kubernetes/kubernetes/issues/5607#issuecomment-275267734
I'm not sure if #465

[2017-09-20 00:34] jagosan commented on #49402
@liggitt that seems like a reasonable direction to explore, but needs more discussion, as this is currently supported functionality. Also concerned that this comment will get buried and missed in what was reported as a bug.

[2017-09-20 00:45] jianglingxia commented on #51306
cc @hzxuzhonghu @kow3ns  can help me reply the question？thanks very much。

[2017-09-20 00:51] xiangpengzhao commented on #52620
/close

Will track this in #50274.

[2017-09-20 00:51] #52620 closed

[2017-09-20 01:06] whereisaaron commented on #31891
@geekofalltrades I dealt with this back in 1.3.x. Once you force-detach _any_ volume in AWS, that instance is in an inconsistent state. Any mounting after that will almost always not work. Xen/AWS will just keep having problems getting stuck with mounts/unmounts.

You can force detach a  volume to get access to mount it on another instance. But the instance you force-detached it from _must_ be reb

[2017-09-20 01:08] yuexiao-wang commented on #52700
I send a PR to solve the issue and the PR is wait for merging.

[2017-09-20 01:09] gyliu513 commented on #52727
Thanks @ixdy, after upgrade docker to 17.06, it works well.

[2017-09-20 01:09] #52727 closed

[2017-09-20 01:11] cheftako commented on #52657
@julia-stripe Quick sanity check, you didn't turn on ENABLE_CACHE_MUTATION_DETECTOR did you? (The only way I have been able to reproduce what you describe so far was by turning on the mutation detector)

[2017-09-20 01:12] jeremyd commented on #51013
I hit this same issue in v1.7.6  Trace below.  Is there any way to recover from this?  Currently the cluster is unable to startup a controller-manager although the api is still responding.

[code]

[2017-09-20 01:16] tianshapjq opened #52757 "Is sharing GPU to multiple containers feasible?"
**Is this a BUG REPORT or FEATURE REQUEST?**: feature request
 /kind feature

**What happened**:
As far, we do not support sharing GPU to multiple containers, one GPU can only be assigned to one container at a time. But we do have some requirements on achieving this, is it feasible that we manage GPU just like CPU or memory?

**What you expected to happen**:
sharing GPU to multiple containers just

[2017-09-20 01:17] tianshapjq commented on #52757
@vishh @cmluciano is it workable?

[2017-09-20 01:27] #52284 closed

[2017-09-20 01:37] wolfadactyl commented on #37218
+1. Would be nice to be able to configure checks as a set of steps, such that failing any step in the chain counts as an overall failure towards the failure threshold.

[2017-09-20 01:40] tbchj commented on #52757
+1

[2017-09-20 01:58] #52331 closed

[2017-09-20 02:16] jianzhangbjz commented on #52757
/cc

[2017-09-20 02:27] recyard commented on #52729
Same issue here, the fact is if I add a trailing "/" to the following url, the dashboard will show.

http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy

[2017-09-20 02:27] lichuqiang commented on #52678
I think we should not have too many restrictions on the behaviors of plugins. So to let kubelet checkpoint artifacts provided by device plugins might be a better way to solve this.

[2017-09-20 03:11] xiangpengzhao commented on #50274
ref: #52759

[2017-09-20 03:12] huzhengchuan commented on #52757
/cc

[2017-09-20 03:14] TomskDiver commented on #52729
@kubernetes/sig-network-bugs

[2017-09-20 03:35] jicki commented on #52711
who can help me ~pls~

[2017-09-20 03:38] #52138 closed

[2017-09-20 03:45] julia-stripe commented on #52657
Nope! Happy to do anything that would help to try to figure this out though

[2017-09-20 04:02] anguslees commented on #28138
@aaronlevy, I knew it was in discussion but hadn't chased down the specific bug - thanks.

So that covers (1) - and assuming that we know the on-disk format and can do (2) - then I think we can bootstrap, and also recover from a cluster-wide reboot.  Is there a remaining use-case that requires a new kubelet pod api, or can we close this issue in favour of #50984?

[2017-09-20 06:36] #47303 closed

[2017-09-20 06:50] zjj2wry commented on #43769
i can reproduce this, this is a bug

[2017-09-20 06:50] zjj2wry commented on #43769
/kind bug

[2017-09-20 07:17] RenaudWasTaken commented on #52757
/sig node

until we have a wg-resource-management label

From @flx42:

You also have [MPS](https://docs.nvidia.com/deploy/pdf/CUDA_Multi_Process_Service_Overview.pdf) which is another problem :D

But I suppose you only mean sharing NVIDIA devices between multiple containers ?

Currently we are focusing on making sure GPU enablement through Device Plugin is done right in 1.8 but it could be a goal

[2017-09-20 07:36] felixPG commented on #52084
@JustinasKO I resolve the problem using the pod ip instead of hostname, when you use the pod ip in case of activemq then activemq expose the whole FQDN, but the feature of take a full fqdn throught env should be available.

[2017-09-20 07:37] renerchen commented on #51259
Does it fix, I have the same problem! And there is another unexpected response. When I rollback a deployment with an non-existent revision, it  responses following:
{
"kind":"Status",
"apiVersion":"v1",
"metadata":{},
"status":"Failure",
"message":"rollback request for deployment "dzion-decompose-new" succeeded\",
"code":200
}

[2017-09-20 07:43] sttts commented on #51643
@mbohlool https://github.com/kubernetes/kubernetes/pull/52710 must go into 1.8. The bot run after that is technically independent from the release, and we can apply the kubernetes-1.8.0 tag to it manually.

[2017-09-20 07:48] tianshapjq commented on #52757
@RenaudWasTaken thanks! But another question, where to place the GPU enablement code if we separate the GPU from kubelet? Seems it's not appropriate to place the GPU code in the vendor pkg anymore, do we have to create a new repo related to kubernetes?

[2017-09-20 07:50] RenaudWasTaken commented on #52757
@tianshapjq see the device plugin design document for 1.8 which is how we plan to support GPUs in the future: https://github.com/kubernetes/community/pull/695/

[2017-09-20 08:02] aerokite opened #52772 "strategic merge patch does not work with CRD types"
**strategic merge patch** on CRD object doesn't work.

`$ kubectl patch postgres p1 -p '{"spec":{"doNotPause":false}}'`

Getting following error:
[code]

But **merge patch** works on CRD types.
`$ kubectl patch postgres p1 -p '{"spec":{"doNotPause":false}}' --type="merge"`

I have used minikube
- Client Version: v1.7.4
- Server Version: v1.7.5

Registered CRD `postgreses.kubedb.com`
[code]

Postgr

[2017-09-20 08:07] linyouchong commented on #52757
@RenaudWasTaken  Do you  mean that sharing NVIDIA devices between multiple containers could be a goal for 1.9 ?

[2017-09-20 08:07] nikhita commented on #52772
/sig api-machinery
/kind bug
/area third-party-resource

/cc @sttts @deads2k @enisoc

[2017-09-20 08:10] zq-david-wang commented on #1768
@smarterclayton  I notice a huge delay when spawning bash via "docker exec" if there are thousands of services (I tested with 3000) in the namespace. It would be great to have options to disable service env when creating docker process.

The test I run is as following: (kubelet 1.6)
I have build a docker image with bash installed on alpine base image.
When run "docker exec -it [docker-id] bash",
i

[2017-09-20 08:38] lcnsir opened #52773 "Upgrade kubelet from 1.6.1 to 1.7.3 the all pods on the node restart"
**What happened**:

I have a k8s 1.6.1 cluster, kubelet is running as the self-hosted mode. (kubelet running in a container), then I want upgrade k8s to 1.7.3 , in a worker node,
1. docker rm -f kubelet
2. Get the hyperkube bin in the host and config it as a system service
3. systemctl daemon-reload and service kubelet start

The kubelet start successfully and joined into the cluster
kubectl -s 12

[2017-09-20 08:40] lichuqiang commented on #51259
Not sure, as @janetkuo said, `deployment/rollback` would be removed, I think the change should have been merged in since it's for v1.8, maybe you can compile it from master branch and have a try

[2017-09-20 08:53] #52389 closed

[2017-09-20 08:55] nikhita commented on #52752
/area third-party-resource

[2017-09-20 09:08] dehypnosis commented on #33777
Kube-dashboard says that only 0.05 cpu unit is being occupied.
Why pod cannot be scheduled?

[2017-09-20 09:08] piosz commented on #51643
+1 to what @sttts wrote in https://github.com/kubernetes/kubernetes/issues/51643#issuecomment-330667069
Many Kubernetes components like Cluster Autoscaler or Heapster are developed in the other repos and heavily rely on client-go.
@lavalamp do you believe that what we have now in https://github.com/kubernetes/client-go is stable enough to claim that this is what the other components should use?

[2017-09-20 09:47] ameukam commented on #48924
I'm getting the same error.

[code]
VMware virtual Machine version 11

[code]
[code]
Deployment tool : kubespray

[2017-09-20 09:52] gmarek commented on #51899
I think @wojtek-t was doing some optimization in Patch path.

[2017-09-20 09:57] hzxuzhonghu opened #52781 "node controller should use taintNodeByCondition passed to it"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
`taintNodeByCondition ` param is not used

**What you expected to happen**:
when this param set true, it does not take effect. I think it should taint node when this flag set and reach some conditionm like memory pressure...

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**En

[2017-09-20 10:15] daggerok commented on #36152
Hi,

how long I was looking it... thanks for 1st post! I was need to access to conrete pods inside my kubernetes-dind installation... now I know how to do that :)

terminal 1: forward rest-api service 8080 port (from rest-api-1859009132-bjn7p pod) to my localhost 8001 port using this command:

[code]

terminal 2: how I able access exact pod I need

[code]

Hope, this will helps to beginners like m

[2017-09-20 10:21] foxish commented on #47820
Verified with one green run (https://k8s-testgrid.appspot.com/release-1.8-upgrade-skew#gke-gci-1.7-gci-1.8-upgrade-cluster-new&include-filter-by-regex=Network%20Partition). Closing.

[2017-09-20 10:31] hongshibao opened #52782 "How to fix GitVersion:"v1.7.5+$Format:%h$""
I did some code change based on v1.7.5. After building, I run _**kubectl version**_ command, and found the git version of server version did not update correctly:

_Server Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5+$Format:%h$", GitCommit:"2e237a828d519eafadeacd3fc4b87557c45186a2", GitTreeState:"clean", BuildDate:"2017-09-18T09:05:32Z", GoVersion:"go1.8.3", Compiler:"gc", Platf

[2017-09-20 11:09] imilo opened #52783 "Kubernetes, can't reach other node services"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

I'm playing with Kubernetes/kubeadm inside 3 VirtualBox VMs with CentOS 7, 1 master and 2 minions. Unfortunately installation manuals say something like `every service will be accessible from every node, every pod will see all other pods`, but I don't see this happening. I can access the service only from that node where

[2017-09-20 11:19] JuneZhao opened #52784 "kubernetes dashboard fail to add two same ports"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When i try to deploy the container from below link:
https://hub.docker.com/r/tommylau/ocserv/

 I failed to add two same ports on dashboard:
443:443
443:443/udp with this invalid protocol showed on dashboard

**What you expected to happen**:
When can I add two ports at the same time?

**How to reproduce it (as minimally and precisel

[2017-09-20 11:26] seelam commented on #52412
we (IBM) has a prototype implementation of GPU quota support, @cmluciano will help to bring it out and share it.

[2017-09-20 11:27] JuneZhao commented on #52784
@kubernetes/sig-Azure-bugs
/sig azure

[2017-09-20 11:27] jamiehannaford commented on #50802
I'm also running into this issue but with Cinder mounts, which relies on `mkfs.ext4`. That binary no longer seems installed in v1.8 containers:

gcr.io/google-containers/hyperkube-amd64:v1.8.0-beta.0
gcr.io/google-containers/hyperkube-amd64:v1.8.1-beta.0

but it's available in v1.7.5.

@saad-ali @jsafrane Is this intended, or is this a bug? Do you require people mounting `/usr/sbin` into the kubel

[2017-09-20 11:40] pineking commented on #52412
@seelam @cmluciano Thank you! please let me know when you share it, I can test it.

[2017-09-20 11:55] munnerz commented on #51029
It appears it is possible to generate *just* versioned Informers -

Whilst the clientset package argument is required/defaults to a value, it will only actually be used if an API package that's determined to be internal (i.e. has no `json` struct tags) is passed as part of `--input-dirs`. Therefore, if you don't want to use an internal version you can simply leave the `--internal-clientset-package

[2017-09-20 11:55] #51029 closed

[2017-09-20 11:57] mahdix opened #52787 "Feature: Support using environment variables inside deployment yaml file"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

/kind feature

**What happened**: When you write a deployment yaml file, everything must be specified statically. In cases where something is not specified at time of writing, the only choice is using a 3rd-party tool and use yaml file as a template which will later be processed by the tool to replace some markers with actual values. T

[2017-09-20 11:58] imilo commented on #52783
@kubernetes/sig-Network-bugs
/sig network

[2017-09-20 12:00] mahdix commented on #52787
@kubernetes/sig-cli-feature-request

[2017-09-20 12:19] jamiehannaford opened #52789 "v1.8 hyperkube images don't allow the kubelet to mount"
/kind bug

**What happened**:

When a cluster is provisioned using a containerised kubelet using the following images:

gcr.io/google-containers/hyperkube-amd64:v1.8.0-beta.0
gcr.io/google-containers/hyperkube-amd64:v1.8.1-beta.0

Pods with PVCs are not created because kubelet cannot mount the disks. If you look at events, you can see that it's missing some binaries:

[code]

This executable is `m

[2017-09-20 12:20] jamiehannaford commented on #52789
/sig storage
/sig node

[2017-09-20 12:28] deads2k commented on #52772
Without the merge definitions, you can't apply a strategic merge patch.  Looks like a dupe of https://github.com/kubernetes/kubernetes/issues/50037

[2017-09-20 12:32] dims commented on #15077
Folks from @kubernetes/sig-aws-misc , please confirm that this is not a release blocker for 1.8

[2017-09-20 12:38] resouer commented on #52787
I am not sure about this. Sounds more like a PaaS layer feature to me ...

[2017-09-20 12:41] jamiehannaford commented on #52789
Seems the base hyperkube image was changed:

https://github.com/kubernetes/kubernetes/blob/v1.8.0-beta.1/cluster/images/hyperkube/Makefile#L24
https://github.com/kubernetes/kubernetes/blob/v1.7.5/cluster/images/hyperkube/Makefile#L36

done in https://github.com/kubernetes/kubernetes/commit/66b9ae7cd86e1f594f57a6e5d3b11ef9f09460b3.

/cc @ixdy

[2017-09-20 12:47] resouer commented on #52738
cc @yujuhong @kubernetes/sig-node-proposals

[2017-09-20 13:37] 3792274 opened #52791 "Kube-Proxy Server Problem"
![image](https://user-images.githubusercontent.com/19231863/30646581-17df3078-9e4c-11e7-93ce-c7fe23a58001.png)

![image](https://user-images.githubusercontent.com/19231863/30646478-b5e1dce0-9e4b-11e7-8462-027685afada9.png)

![image](https://user-images.githubusercontent.com/19231863/30646487-ba87f770-9e4b-11e7-9a8f-b66b4a58bc71.png)

![image](https://user-images.githubusercontent.com/19231863/3064

[2017-09-20 13:40] ncdc commented on #52772
Yes, this is a dupe.

[2017-09-20 13:40] #52772 closed

[2017-09-20 14:12] 3792274 commented on #52791
when i stop all iptables it worked. by the way docker 17
![image](https://user-images.githubusercontent.com/19231863/30648333-7135428a-9e50-11e7-98df-7448d8423306.png)
![image](https://user-images.githubusercontent.com/19231863/30648344-763929a4-9e50-11e7-89e7-d809bbdd39be.png)
![image](https://user-images.githubusercontent.com/19231863/30648350-7942c8d0-9e50-11e7-9927-abc13ba063f1.png)

[2017-09-20 14:14] squeed commented on #31307
@bboreham  / anybody else: Where can we effectively document this? Configuring the portmap plugin is not obvious. However, this is really a cluster-configuration issue. Maybe it should be a small blog post?

[2017-09-20 14:17] jdumars commented on #50495
I am moving this to the 1.9 milestone with the expectation that when ready you will cherry pick it to 1.8.x

[2017-09-20 14:19] jdumars commented on #52458
@saad-ali can you keep me posted on this?  If it's not going to make 1.8 for some reason, we need to move it to 1.9 and cherry pick the work back.

[2017-09-20 14:23] luxas commented on #31307
@squeed small blog post and on kubernetes.io/docs would be good
has also come up here: https://github.com/kubernetes/kubeadm/issues/294 cc @cmluciano

[2017-09-20 14:36] hogepodge commented on #52249
Following up from the Denver PTG, delivery date of original two private clouds is being moved to late October. Working with a third public cloud provider for earlier access to a CI account.

[2017-09-20 14:40] dims commented on #47943
@timothysc @derekwaynecarr @dashpole - Is there a PR in progress? Do we kick this to next-milestone/1.9?

[2017-09-20 14:43] dims commented on #50274
@xiangpengzhao @ericchiang - #52759 does not seem to have v1.8 and this Issue seems to have v1.8, is there a disconnect?

( cc @jdumars @kubernetes/sig-release-members )

[2017-09-20 14:45] dims commented on #51899
@shyamjvs did you mention there was some data you wanted to share in the meeting yesterday? Are we any closer to figuring out what we need to do for this?

[2017-09-20 14:47] dims commented on #52454
@tallclair @jessfraz - quick question from the release team, do we have any PR's for this issue? (getting a bit late for 1.8)

[2017-09-20 14:49] dims commented on #52578
@krzyzacy @ericchiang Quick question from release team, Are we done with what's needed for 1.8 for this issue?

[2017-09-20 14:51] dims commented on #52593
@gmarek @bgrant0607 @thockin - Other than https://github.com/kubernetes/test-infra/pull/4608 do we need to do anything else in 1.8? it's a bit late already

[2017-09-20 14:51] jessfraz commented on #52454
Sorry I'm working on it I'll open something today

On Sep 20, 2017 10:49, "Davanum Srinivas" <notifications@github.com> wrote:

[2017-09-20 15:00] xiangpengzhao commented on #50274
@dims I want #52759 to be in 1.8 milestone and be cherry-picked to 1.6/1.7.

[2017-09-20 15:04] jeroenjacobs1205 opened #52797 "aws provider doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Configured the AWS provider, but getting an error message on kubelet:

`Sep 20 14:50:09 ip-10-8-30-171 kubelet: error: failed to run Kubelet: could not init cloud provider "aws": error finding instance i-098842ef4105e851f: error listing AWS instances: NoCredentialProviders: no valid providers in chain. Deprecated.
`

**

[2017-09-20 15:08] dims commented on #51452
/sig cli

[2017-09-20 15:11] kow3ns commented on #52750
@a-robinson can you take a look please?

[2017-09-20 15:15] jeroenjacobs1205 commented on #52797
/sig aws

[2017-09-20 15:18] hogepodge commented on #51346
Is there a maintainer for the heat installer? Should we remove it from documentation?

[2017-09-20 15:21] kow3ns commented on #51306
You may manually create the PVC and the StatefulSet controller will adopt it. However, you should let the controller create the PVC for you.

Once you create a StatefulSet you may not mutate the volumeClaimTemplates.

Once the PVC is bound to a PV, if you unbind or delete the PVC, you can not manually recover the storage association. If you use a dynamic provisioner it will create a PV to match yo

[2017-09-20 15:28] kow3ns commented on #49135
/close

[2017-09-20 15:28] #49135 closed

[2017-09-20 15:28] kow3ns commented on #49135
shipped 1.8.0

[2017-09-20 15:32] a-robinson commented on #52750
Absolutely, I'll take a look today. Sorry guys!

[2017-09-20 15:37] kow3ns commented on #52750
@a-robinson thanks!

[2017-09-20 15:46] Asher256 commented on #40968
+1

[2017-09-20 16:02] rphillips commented on #52789
The pkg/util/mount/mount_linux source defaults to ext4 if a fstype is not selected. It makes sense to restore the e2fsprogs package within the base image.

[2017-09-20 16:11] ericchiang commented on #50945
This has started failing again on our GKE test suite https://k8s-testgrid.appspot.com/release-master-blocking#gke

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke/15715#sig-api-machinery-aggregator-should-be-able-to-support-the-17-sample-api-server-using-the-current-aggregator

[code]

cc @kubernetes/sig-api-machinery-test-failures

[2017-09-20 16:12] apelisse commented on #52578
I think this is fixed, can you confirm @krzyzacy

[2017-09-20 16:14] liggitt commented on #52782
The official build scripts inject ldflags based on detected git version. Make sure you have fetched all git tags before building.

[2017-09-20 16:22] ericchiang commented on #52789
cc @kubernetes/sig-node-bugs
cc @kubernetes/sig-storage-bugs
cc @kubernetes/kubernetes-release-managers

This seems like something that should be in the 1.8 milestone. Can someone who owns the hyperkube image comment on that?

[2017-09-20 16:23] abgworrall opened #52800 "'Check APIReachability' derailing many 1.5 testjobs"
I'm seeing this in all the GKE tests I use to check new OS images against, e.g. https://k8s-testgrid.appspot.com/google-gke#gci-gke-1.5

Not sure where to point this bug; so starting off with the patch manager, who must be sad that they've lost all the GKE test signal ...

/kind bug
/assign @mwielgus
/cc @saad-ali @krzyzacy

[2017-09-20 16:51] krzyzacy commented on #52578
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-parallel/2064/artifacts/ has logs, for above test you need to wait for a fresher run :-)

[2017-09-20 16:55] munnerz opened #52801 "Panic in garbage collector related to CRD types"
/kind bug

**What happened**:

kube-controller-manager has started crashing due to a panic due to garbage collection code.

**What you expected to happen**:

kube-controller-manager should not panic

**How to reproduce it (as minimally and precisely as possible)**:

TBC - I'm not sure what has caused this state yet

**Anything else we need to know?**:

Log messages from kube-controller-manager:

[

[2017-09-20 16:56] krzyzacy commented on #52578
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-master/468/ from 23p last night also have logs now, while build 467 does not have - @ericchiang I think we can close this.

/close

[2017-09-20 16:56] #52578 closed

[2017-09-20 16:57] munnerz commented on #52801
This message seems to shed a bit more light as to the issue:

```E0920 16:48:48.792422       1 runtime.go:66] Observed a panic: &errors.errorString{s:"descriptor Desc{fqName: \"garbage_collector_operation_example:controller:code-generator:k8s:io_v1alpha1_rate_limiter_use\", help: \"A metric measuring the saturation of the rate limiter for garbage_collector_operation_example:controller:code-generat

[2017-09-20 16:59] davecheney commented on #52255
@surajnarwade Thank you for pointing that out. As I mentioned in the issue description I followed the quickstart instructions on the main README of the repo. If these instructions are incomplete because of the `CDPATH` requirement, could they be updated? Although I agree with you that it would be better to incorporate that into the makefile itself, then `CDPATH` doesn't need to be documented at al

[2017-09-20 16:59] munnerz commented on #52801
/area third-party-resource

[2017-09-20 17:00] jdumars commented on #50274
I added it to the 1.8 milestone, but it still needs approvals.  Contact @abgworrall about the 1.7.x cherry pick and @enisoc about 1.6.x

[2017-09-20 17:01] #52674 closed

[2017-09-20 17:01] #52690 closed

[2017-09-20 17:10] xiangpengzhao commented on #50274
Thanks @jdumars !

[2017-09-20 17:13] krzyzacy commented on #52593
/assign

[2017-09-20 17:16] ericchiang commented on #52801
cc @kubernetes/sig-api-machinery-bugs

[2017-09-20 17:18] bboreham commented on #31307
@danehans sorry I missed your question a month back.  The PR which added support for hostPort via CNI was #42202.  The issue to further refactor kubelet to remove its in-tree support for hostPort is this one.

[2017-09-20 17:19] krzyzacy commented on #52593
[master-1.7 downgrade](https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-master-gci-1.7-downgrade-cluster) is green (Thanks @krousey! ), will set up 1.8-1.7 downgrade job later.
Also need to put up a suite test slow/serial jobs.

[2017-09-20 17:45] GabrielSVinha commented on #49041
I believe this is solved in 1.7+ where RBAC is default for all providers.

[2017-09-20 18:06] bgrant0607 commented on #51862
allowed is a bool in the v1 API:
https://github.com/kubernetes/api/blob/master/authorization/v1/types.go#L173

[code]

https://kubernetes.io/docs/admin/authorization/

"When multiple authorization modules are configured, each is checked in sequence, and if any module authorizes the request, then the request can proceed. If all modules deny the request, then the request is denied."

Are there use c

[2017-09-20 18:06] bgrant0607 commented on #51862
Admission control also uses AND behavior for this reason.

[2017-09-20 18:11] nikhiljindal commented on #52459
Sorry am not sure why was this removed from 1.8 milestone. Are we not aiming to add the tests in 1.8?
Or Are we disabling the feature or are we fine shipping it without any e2e tests in 1.8?

[2017-09-20 18:15] bgrant0607 commented on #51862
Here is the union authorizer:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/authorization/union/union.go#L36

[code]

It seems not hard to also create an Intersection authorizer.

[2017-09-20 18:22] bgrant0607 commented on #51862
Tri-state can be conveyed via `reason` as `DontCare`

[2017-09-20 18:36] rajatvikramsingh commented on #43800
Solved it by adding the machine IP to the no_proxy environment variable. Was getting the warning:

Might help those who are seeing this warning.

[2017-09-20 18:59] imacube commented on #50227
Encountered this problem in kube 1.7.6. Found that DNS resolution fails for the stateful set if the service name has a hyphen (-) in it even though the service will list the pods as endpoints.

To reproduce use the web.yaml example from: https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/

[2017-09-20 19:25] deads2k commented on #51862
In the +webhook case, I can imagine cases where RBAC says deny because someone doesn't match a rule, but a webhook has other knowledge about that user being awesome and says "allow".

Moving to a tri-state of `Allowed`, `NotAllowed`, and `Denied` would allow backward compatible composition.  You could also build it as a series of unions with `DenyEarly` behavior, but I don't know that I'd find tha

[2017-09-20 19:27] gnufied commented on #52458
The tests are here - https://github.com/kubernetes/kubernetes/pull/52807

[2017-09-20 19:28] joysarkarhub commented on #45226
@Rav1408 Could you please tell me what exactly you did inside minikube vm?

[2017-09-20 19:32] bgrant0607 commented on #51862
@deads2k Why wouldn't someone use a superuser credential in that scenario instead?

[2017-09-20 19:37] crimsonfaith91 opened #52808 "Failing statefulset 1.6-to-1.8 upgrade tests"
**What happened**:
Two failing tests:
`[StatefulSetBasic] should not deadlock when a pod's predecessor fails`
`[StatefulSetBasic] should provide basic identity`

Affected test suites:
`gke-gci-1.6-gci-1.8-upgrade-master`
`gke-gci-1.6-gci-1.8-upgrade-cluster`
`gke-cvm-1-6-gci-1-8-upgrade-master`
`gke-cvm-1-6-gci-1-8-upgrade-cluster`

Link for `gke-gci-1.6-gci-1.8-upgrade-master`: https://k8s-testgr

[2017-09-20 19:39] crimsonfaith91 commented on #52808
/sig apps

[2017-09-20 19:40] foxish commented on #52808
@jdumars PTAL.

[2017-09-20 19:46] crimsonfaith91 commented on #47378
/close
It has been resolved during last quarter.

[2017-09-20 19:46] #47378 closed

[2017-09-20 19:50] Rev1408 commented on #45226
I ssh into minikube vm from the host and followed this
http://stackoverflow.com/questions/23111631/cannot-download-docker-images-behind-a-proxy

which is also her ein docker docs https://docs.docker.com/engine/admin/systemd/#httphttps-proxy

[2017-09-20 19:54] saad-ali commented on #52789
Containerization of mount is not going to happen until 1.9 at the earliest. So if hyperkube is broken, it should be fixed before ship.

[2017-09-20 19:59] deads2k commented on #51862
The general case of a subset of users managed by a different authorization system.  You have a set of people (say tenant admins), which aren't super-users, but your webhook authorizer makes sure that these people always have the power to view pods across all the tenant's namespaces.  Not the ops-owned namespaces (so you can't have a cluster role), but all the user owned ones.

Slightly less likely

[2017-09-20 20:08] andersla opened #52810 "Large cluster - kube-dns never gets ready: Error syncing pod, skipping: failed to "CreatePodSandbox""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If I deploy a large cluster 100-150 nodes, then kube-dns doesn't get into ready state. It failes with message `Error syncing pod, skipping: failed to "CreatePodSandbox" for "kube-dns-3913472980-c2506_kube-system(ab0a9011-9de0-11e7-93ea-fa163e11ce46)" with CreatePodSandboxError: "CreatePodSandbox for pod \"kube-dns-3913472

[2017-09-20 20:19] wkruse commented on #50311
Caught it today again. Two PVs should be recycled. The difference is only in the names and the amount of data stored. Controller-manager didn't log anything regarding recycler (I didn't change the verbosity though...).

Recycler **didn't** run, nothing in the events.

[code]

Recycler **did** run.

[code]

[2017-09-20 20:20] andersla commented on #52810
/sig node
/sig network

[2017-09-20 20:27] nikhiljindal opened #52811 "Add e2e tests for Metrics Server and Master Metrics API"
Need e2e tests for https://github.com/kubernetes/features/issues/271 which is being released as part of release 1.8.

cc @piosz who is working on the tests.

[2017-09-20 20:35] wkruse commented on #50311
I do see a bunch of those in the apiserver logs.

[code]

Wondering if it is a compatibility issue between Kubernetes 1.6.4 and etcd v3.2.0.

[2017-09-20 20:36] tmegow commented on #18982
+1

[2017-09-20 20:40] grodrigues3 commented on #52811
/cc @DirectXMan12

[2017-09-20 20:53] cheftako commented on #50945
/assign @cheftako

[2017-09-20 20:56] BaluDontu commented on #50802
@jamiehannaford: We have solved this problem by mounting /usr/sbin into kubelet container when deploying kubernetes clusters with release 1.8.
With 1.7 and below we don't require the /usr/sbin/ mounting in kubelet and still the mount succeeds. So I am still unsure what specific changes in 1.8 release caused this behaviour.

[2017-09-20 21:20] Xorecs opened #52812 "AzureDisk provisioning doesn't use correct endpoint for Azure Germany"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When creating a Persistent Volume Claim on a cluster hosted in Azure Germany (using ACS-Engine), with the azuredisk provisioner, the wrong endpoint for blob storage is used:
Warning         ProvisioningFailed      Failed to provision volume with StorageClass "default": Put https://redacted.blob.core.windows.net/redacted?r

[2017-09-20 21:24] jamiehannaford commented on #50802
@BaluDontu see https://github.com/kubernetes/kubernetes/pull/52798 for the fix. The base hyperkube image changed in v1.8, removing the necessary mount utils. Mounting this from the host is not recommended.

[2017-09-20 21:31] mindprince opened #52813 "kubectl proxy doesn't redirect to kubernetes dashboard correctly"
/kind bug

I created a cluster (tried both on GKE and GCE) running Kubernetes 1.7.6

I ran `kubectl proxy`

Then I tried to access http://127.0.0.1/ui
It redirected to http://127.0.0.1:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy which showed a blank page.

It should have either redirected to:
http://127.0.0.1:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboa

[2017-09-20 21:36] saad-ali opened #52815 "DynamicProvisioner E2E slow tests failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

A couple of `DynamicProvisioner` tests the the `slow` GKE and GCE suites have been consistently failing since yesterday. See [testgrid](https://k8s-testgrid.appspot.com/google-gke#gci-gke-slow&include-filter-by-regex=DynamicProvisioner)

**What you expected to happen**:
Tests should pass.

**How to reproduce it (as minim

[2017-09-20 21:39] saad-ali commented on #52815
From [one of the sample failures](
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/10825) it looks like a nil reference:

[code]

Introduced [here](https://github.com/kubernetes/kubernetes/pull/52350/files#diff-921d685551b184e272cde1307bb72338R112).

[2017-09-20 21:41] ericchiang commented on #50945
Seems to be flaking now with the error:
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke/15719#sig-api-machinery-aggregator-should-be-able-to-support-the-17-sample-api-server-using-the-current-aggregator

[2017-09-20 21:54] saad-ali commented on #52815
Unable to get in touch with @wongma7 so @verult from my team will take a look. If we can fix the tests in the next couple of hours we'll send out a PR to do so, otherwise we will roll back the offending PR.

[2017-09-20 22:06] mindprince commented on #52813
/sig cli

[2017-09-20 22:18] geekofalltrades commented on #31891
I may not be communicating this clearly.

* We have several AWS instances in a Kubernetes cluster.
* They have high volume churn. They've been up for 5 months and have each had 700+ volume-attach/-detach operations.
* Now, any time Kubernetes tries to attach an EBS volume to one of the instances, it gets stuck in attaching state.

**At no point during the normal lifecycle of these EC2 instances di

[2017-09-20 22:23] sunao-uehara opened #52817 "liveness/readiness probe is executed and failed while pod is terminated"
**What happened**:
liveness/readiness probe fails while pod is terminated. Also it happened only once during the pod termination. The issue started happening after upgrading version  to v1.7 from v1.6.X

**How to reproduce it (as minimally and precisely as possible)**:
execute `kubectl delete pod nginx-A1` to delete pod, so status of the nginx-podA1 is changed to `Terminating`, right after that it

[2017-09-20 22:26] verult commented on #52815
Looks like it might be caused by deferencing `class` when it could be nil:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/volume_provisioning.go#L112
and
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/volume_provisioning.go#L117

Verifying the fix.

[2017-09-20 22:35] fejta-bot opened #52818 "pr:pull-kubernetes-unit flaked 38 times in the past week"
### Flaky Job: pr:pull-kubernetes-unit
 Flakes in the past week: **38**
 Consistency: **91.90%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| k8s.io/kubernetes/pkg/kubelet/deviceplugin TestDevicePluginReRegistration | 12 |
| k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/registry/generic/registry TestStoreWatch | 10 |
| k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/st

[2017-09-20 22:44] #52789 closed

[2017-09-20 22:44] bgrant0607 commented on #1768
cc @kubernetes/sig-network-feature-requests @kubernetes/sig-node-feature-requests

[2017-09-20 22:45] cheftako commented on #52657
What do you get when you run "kubectl describe jobs/<job name>"

[2017-09-20 22:46] #50802 closed

[2017-09-20 22:57] bgrant0607 commented on #22368
@jascott1: @kow3ns is working on a proposal

[2017-09-20 23:45] saad-ali commented on #52815
Fix from @verult is https://github.com/kubernetes/kubernetes/pull/52819 awaiting merge

[2017-09-20 23:47] saad-ali commented on #52458
Sorry for the delay in getting back to you. PR https://github.com/kubernetes/kubernetes/pull/52807 is LGTM'd/approved and awating merge.

[2017-09-20 23:49] saad-ali commented on #52242
Still awaiting response on https://github.com/kubernetes/kubernetes/pull/52246 CC @luxas @jessicaochen

[2017-09-21 00:01] pwittrock commented on #43258
@mbohlool I am not sure I understand the difference.  Can you give examples?

[2017-09-21 00:08] mbohlool commented on #43258
for example is `listCoreV1ConfigMapForAllNamespaces` namespaced?

[2017-09-21 00:23] saad-ali opened #52820 "Volume reconstruction logic does not do defaulting"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In volume manger, volume reconstruction code (which recovers orphaned volumes from mounts), constructs internal objects to represent the volumes, but does not run through validation or defaulting. This can cause issues like https://github.com/kubernetes/kubernetes/issues/52242 where a new field is introduced but not set i

[2017-09-21 00:25] saad-ali commented on #52242
Volume reconstruction is not entirely guilt free here: it constructs an internal object, does not run the object through validation or defaulting logic, so if a new field is introduced (like hostpath type in this case), the default value is not set resulting in issues like this one. To handle this case gracefully I'm approving PR https://github.com/kubernetes/kubernetes/pull/52246. For Q4 (1.9) we

[2017-09-21 00:36] 3792274 commented on #52791
I have fix it

[2017-09-21 01:07] gnufied commented on #31891
@geekofalltrades I feel your pain. I just wanted to make sure that problem wasn't caused by force detaching volumes.

I know and agree that, in certain cases - a volume can be stuck in attaching state even though no volume was force detached from instance. I have seen it myself. But more often than not, when I have raised support request with Amazon, it turned out to be a "impaired volume" or some

[2017-09-21 01:51] xiangpengzhao commented on #50274
https://github.com/kubernetes/kubernetes/pull/52804 merged, let's wait and see :)

[2017-09-21 02:04] #52458 closed

[2017-09-21 02:07] PaulFurtado commented on #51798
In response to the request for cadvisor consumption in kubelet, I think I have worst-case example for you. At my work we're running kubernetes on m4.16xlarge nodes in EC2 with over 450 containers per-node (around 80-ish pods). On some nodes, kubelet manages to work its way up to over 3,000% CPU. When kubelet is at this CPU, the node flaps between Ready and NotReady making it nearly unusable.

I ga

[2017-09-21 03:06] jianglingxia commented on #51306
Q:if I delete the volumeclaimtemplate's spec only left the metadata.name,the above case is ok?and the behavior is correct?
A:“Once you create a StatefulSet you may not mutate the volumeClaimTemplates.”
I mean that the yaml is like this:
`apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: sc
spec:
  serviceName: "cinder"
  replicas: 2
  template:
    metadata:
      labels:
        app: c

[2017-09-21 03:08] saad-ali commented on #52820
For HostPath we should disable volume construction altogether.

[2017-09-21 03:09] hzxuzhonghu commented on #52160
In order to improve precision, I think no use of CreationTimestamp is a better choise. We can define `two new fields RequestStartTimestamp and StageTimestamp` with a more precise time metric type.

[2017-09-21 03:20] smarterclayton opened #52822 "ThirdParty resource e2e test should not be marked as conformance"
TPR was alpha and alpha features are not required for conformance:

[code]

This is a bug against the 1.7 test suite.

@WilliamDenniss

[2017-09-21 03:28] smarterclayton commented on #52822
@kubernetes/sig-testing-pr-reviews

[2017-09-21 03:28] smarterclayton commented on #52822
Fixed in 1.8 because we deleted this test

[2017-09-21 03:36] yuexiao-wang opened #52824 "Redundant examples for kubectl rollout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
There are redundant examples for kubectl rollout because subcomands supply their own example.

**What you expected to happen**:
I think we don't need give examples for  kubectl rollout and remove these examples.

[2017-09-21 03:37] yuexiao-wang commented on #52824
/sig cli

[2017-09-21 04:00] chuanjianyu commented on #49693
Have you resolved  those e2e failed?@gyliu513. I account on those same.

[2017-09-21 04:24] smarterclayton commented on #51899
483ee1853b is a minor one that would be called during a number of flows.

On Wed, Sep 20, 2017 at 10:45 AM, Davanum Srinivas <notifications@github.com

[2017-09-21 04:25] #52773 closed

[2017-09-21 04:25] smarterclayton commented on #51899
We didn't enable a4542ae528 by default, right?

On Thu, Sep 21, 2017 at 12:24 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-09-21 04:26] TomskDiver commented on #52813
duplicate: https://github.com/kubernetes/kubernetes/issues/52729

[2017-09-21 04:27] smarterclayton commented on #51899
9002dfcd0a I have trouble believing would lead to tail latency (more like
base latency)

On Thu, Sep 21, 2017 at 12:25 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-09-21 04:28] smarterclayton commented on #51899
Easy way to verify the json-iter stuff is turn it off completely (go back
to json.Unmarshal) and see if latency numbers get worse.

On Thu, Sep 21, 2017 at 12:27 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-09-21 04:29] smarterclayton commented on #51899
Are we getting mutex contention on d3546434b7?

On Thu, Sep 21, 2017 at 12:28 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-09-21 04:30] #52815 closed

[2017-09-21 04:31] smarterclayton commented on #51899
There's also the client-go changes a804d440c3 - I don't remember how well
those are scoped but possible it's impacting other calls.

On Thu, Sep 21, 2017 at 12:29 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-09-21 04:32] smarterclayton commented on #51899
02281898f8 is unlikely to add a lot of work to the api server, but would be
a few of the resources mentioned and only create spot.

On Thu, Sep 21, 2017 at 12:31 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-09-21 04:36] nutchalum opened #52826 "Master instance sometimes modify (delete and create) ELB security group."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Master instance sometimes try rollback my ELB security group to default.
e.g.
I set a rule http 443 to only 172.20.0.0/16
sometimes it changes back to 0.0.0.0/0 (default)

https://imgur.com/a/AJnBn

**What you expected to happen**:
Not so sure

**How to reproduce it (as minimally and precisely as possible)**:
When I try t

[2017-09-21 04:38] nutchalum commented on #52826
cc @kubernetes/sig-aws

[2017-09-21 05:02] Random-Liu opened #52827 "CRI: seccomp format is changed from docker 1.12 to 1.13."
Ref https://github.com/moby/moby/issues/27978.

1) We are currently relying on docker seccomp profile format;
2) We are supporing docker 1.11-1.13.

As CRI runtime, which format should we follow? Or should we support both?

@yujuhong @feiskyer @mrunalp @mikebrow @timstclair
/cc @kubernetes/sig-node-bugs @kubernetes/sig-node-api-reviews

[2017-09-21 05:07] xiangpengzhao commented on #50274
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-parallel/630 is green!

[2017-09-21 05:11] Random-Liu commented on #52827
The original profile format https://raw.githubusercontent.com/docker/docker/v1.12.3/profiles/seccomp/default.json is old libcontainerd format https://github.com/opencontainers/runc/blob/5274430fee9bc930598cfd9c9dbd33213f79f96e/libcontainer/configs/config.go#L32.

The new profile format https://github.com/moby/moby/blob/master/profiles/seccomp/default.json is OCI runtime-spec format https://github.

[2017-09-21 05:13] smarterclayton commented on #52822
Also @kubernetes/sig-architecture-api-reviews want to confirm we don't consider alpha features a requirement for a conformant Kubernetes implementation.  I know this is still in the backlog but I would expect we could get lazy consensus that alpha is not conformant.

[2017-09-21 05:14] mikebrow commented on #52827
This is a tricky question.  CRI only has a path to the profile. The path is a string.  The json file itself needs to be in the format supported by the runtime that is parsing the profile.  If CRI wants to pick a winner here, I would suggest picking the OCI runtime spec v1.0 that is used by runc.

[2017-09-21 05:19] Random-Liu commented on #52827
@mikebrow Makes sense. Yeah, maybe as long as the profile is supported by the container runtime, it will be fine, and we don't need to enforce any format here.

[2017-09-21 05:22] #52242 closed

[2017-09-21 05:22] bgrant0607 commented on #52822
Alpha APIs aren't enabled by default, so that they can't be in the default conformance profile for a given release.

[2017-09-21 05:24] bgrant0607 commented on #52822
TPR is also either officially deprecated or will be soon, so it doesn't make sense to add it to conformance.

[2017-09-21 05:25] bgrant0607 commented on #52822
BTW, was there a follow up to the original profile doc?

https://docs.google.com/document/d/1JsE9itAzL-ZSqKbd5rYnHKKSFW6xK4m50wBj1lTz6Do/edit#heading=h.omclf9vogl3x

[2017-09-21 05:27] mikebrow commented on #52827
For reference: the bug pointed to above on moby:
[code]
Will have occurred because one of the differences between the two formats is the option for having a single name: string for a syscall was removed leaving only names: []string for a list of sys calls. Thus resulting in an error, after unmarshalling, that there is no valid name for the sys call to go with the sys call action. Old format:
{

[2017-09-21 05:34] resouer commented on #45188
@jkinkead Yes, the current design is you need to specify all predicates/priorities you need.

Personally I think it's reasonable, though not urgent.

@wojtek-t WDYT? (Note it's also a compatibility breaking feature request).

[2017-09-21 05:41] mikebrow commented on #52827
Hmm.. well the default seccomp list should only be determined after caps are set, and also after you know what golang runtime.GOARCH you are running the container on. Otherwise you run the risk of having your seccomp list filtering out commands that should otherwise be enabled.  Additionally, certain commands need arguments to be set based on platform.

I put that new default generator over in con

[2017-09-21 06:15] xiangpengzhao commented on #50274
Unfortunately, gke-gci-1.7-gci-master-upgrade-cluster-parallel still fails after #52804 merged.

This test has a different clusterIP range `10.55.240.0/20`. cc @thockin @MrHohn

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-parallel/2071

[code]

PS: #52693 helps provide the range info, it's really useful :)

[2017-09-21 06:17] resouer commented on #52827
This leaves too much burden to runtimes I think ... especially when the spec needs some change.

Use oci spec SGTM, and I also +1 mike's idea if we can move `seccomp_default.go` to oci spec.

At least, we can ask runtime respect the oci spec and https://github.com/containerd/containerd/blob/master/contrib/seccomp/seccomp_default.go. Seems we can work out a library to handle this.

[2017-09-21 06:21] FengyunPan opened #52830 "Not working if gophercloud Identity Versionless Endpoint"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig openstack

**What happened**:
Currently the auth-url of openstack cloud provider must contains keystone version(v2 or v3), or it can't init openstack client.
However, I started digging into this and I found that Keystone is now replying with version v3.8 instead of v3.0, so we need support 3.0 and 3.8.
It is really easy to test since now

[2017-09-21 06:32] resouer commented on #52391
@guangxuli Could you please update your progress here? We need to make sure all bugs fixes are alive instead of hanging on unknown status.

[2017-09-21 06:36] feiskyer commented on #52827
+1 for defining kubernetes own profile format, e.g. same with oci spec. This should be defined in both kubernetes API and CRI.

@Random-Liu  For the current problem, we should at least address it in v1.8 release notes.

[2017-09-21 06:40] xiangpengzhao commented on #52391
@wackxu sent a PR #52467 but didn't associate it to the issue.

[2017-09-21 06:41] sunao-uehara commented on #52817
/kind bug

[2017-09-21 06:42] sunao-uehara commented on #52817
/sig node

[2017-09-21 06:47] sunao-uehara commented on #52817
v1.7

[2017-09-21 07:24] m1093782566 opened #52834 "Creating e2e test suite for IPVS in upstream CI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Currently, IPVS proxier does not run any e2e test cases.

**What you expected to happen**:

I think it's important to create test suite for IPVS in upstream CI which will help a lot in moving IPVS existing alpha.

**Anything else we need to know?**:

@Lion-Wei Let's work together.

/sig network

[2017-09-21 07:25] m1093782566 commented on #52834
/assign @m1093782566

[2017-09-21 08:00] luxas commented on #49402
@jagosan Anyway, it's only GCE that's using this. Removing GCE-only code in the core k8s codebase is a general theme anyway in my understanding. As @liggitt said, we don't strictly need this _in the core api server_.
On this note, kube-up.sh has been deprecated for a long time, and the plan is to move over to using kubeadm eventually. We will have to hack on the way GCE/GKE deploys clusters anyway

[2017-09-21 08:19] luxas commented on #52811
@nikhiljindal Is this blocking the v1.8 release?

[2017-09-21 08:58] Xorecs commented on #52812
Small Update:
I checked the relevant provisioning files (from ACS-Engine). These all appear to be correct and set the GermanCloud for k8s. All other Azure related features (load balancing etc) works as expected, only the storage gives errors at this moment.

[2017-09-21 09:07] talk2vino commented on #52652
The issue was with the hardware spec. The previous  low number request/sec k8s test i did with 3 node cluster with each node spec has 1cpu and 4Gig RAM.

Today i map the spec of the native tomcat test machine with the K8s node.

I created the new 3-node K8s cluster with version 1.6.9 with node configuration 8CPU and 30Gig RAM each.

In this setup i see a consistent 8k Request/handling both in POD-

[2017-09-21 09:07] #52652 closed

[2017-09-21 09:10] xiangpengzhao commented on #50274
@thockin @MrHohn I send PR #52840 trying to fix this. PTAL. Thanks!

[2017-09-21 09:27] mYmNeo commented on #52641
@yujuhong Here is the log you want. Ignore `Can not free gpu for removed pod: e75c7fd2-9e35-11e7-bccf-00266cfbfaa8`, it is harmless.
[code]
From the log, you'll found `I0921 03:03:02.442220   12281 server.go:1051] GET /stats/demo/k8swindyliuapitettapp1121731-0/e75c7fd2-9e35-11e7-bccf-00266cfbfaa8/k8swindyliuapitettapp1121731: (194.577µs) 404 [[Go-http-client/1.1] 127.0.0.1:57305]`. It means someon

[2017-09-21 10:10] zjj2wry commented on #49854
why use `string` for `label` flag instead of `slice`?

[2017-09-21 10:20] zjj2wry commented on #49854
/cc

[2017-09-21 10:31] zjj2wry commented on #48602
@mclarke47 this have fixed by #48659, mind closes this? thanks

[2017-09-21 11:22] Xorecs commented on #52812
@kubernetes/sig-azure-bugs
@kubernetes/sig-storage-bugs

[2017-09-21 11:34] gmarek commented on #52593
Huge thanks @krzyzacy!

[2017-09-21 12:15] DanyC97 commented on #28272
@CsatariGergely but if you don't set a sizeLimit will you not get in trouble ?

[2017-09-21 12:41] lcnsir opened #52846 "The process Upgrade k8s 1.6.1 to 1.7.3"
I have a k8s 1.6 cluster with calico network deployed, can anyone give me the correct process to upgrade k8s cluster to v1.7.3

My process is

1. upgrade kubelet on each nodes

2. upgrade apiservre (kube-apiserver
kube-controller-manager
kube-scheduler
policy-controller) on master node

3. upgrade other management service.

Is this the correct process ?

[2017-09-21 13:19] benjaminbarbe commented on #32522
@ozbillwang Have you found any solutions to force automatically the node's deletion?

[2017-09-21 13:22] rocketraman opened #52847 "Projected volumes should handle `path` for all items projected"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

Projected volumes are very useful for combining config and secrets. However, a basic use case is missing. I have a secret that contains many items in it e.g. database name -> password mappings, which change frequently.

I have a config which contains only one item (a file).

I want to project these into a directory structure like this:

[2017-09-21 13:25] rocketraman commented on #52847
/sig storage

[2017-09-21 13:26] rocketraman commented on #52847
@kubernetes/sig-storage-feature-requests

[2017-09-21 13:33] rootfs commented on #52812
cc @andyzhangx

[2017-09-21 13:33] rootfs commented on #52812
/sig azure

[2017-09-21 13:40] jeroenjacobs1205 commented on #52797
iam was maybe a bit acting weird, as it suddenly started working.

[2017-09-21 13:40] #52797 closed

[2017-09-21 13:44] mattjmcnaughton commented on #52271
I created a [pr](https://github.com/kubernetes/kubernetes/pull/52848) with an optional different implementation so we could have something to compare the current behavior too. Let me know your thoughts :)

[2017-09-21 14:10] cmluciano commented on #52039
Not yet, this is fine to be in the 1.9 milestone. I am still waiting on a CNI plugin that supports these features since the tests rely on one to be deployed.

[2017-09-21 14:21] julia-stripe commented on #52657
Here are the overall counts of the number of pods/jobs/cronjobs in the cluster. These numbers are pretty typical.

[code]

[2017-09-21 14:39] #43751 closed

[2017-09-21 14:48] azman0101 commented on #24472
What's new about this support ?

By the way
[New – Stop & Resume Workloads on EC2 Spot Instances
](https://aws.amazon.com/blogs/aws/new-stop-resume-workloads-on-ec2-spot-instances/)

[2017-09-21 14:51] cmluciano commented on #31307
Could use some input here https://github.com/kubernetes/kubeadm/issues/294#issuecomment-327897502 on where these docs should live

[2017-09-21 14:52] liggitt commented on #44982
You can completely prevent PVC usage using PSPs by ommitting persistent volume claims from the set of allowed volume types.

[2017-09-21 14:52] #44982 closed

[2017-09-21 14:55] mattmoyer commented on #51862
+1 for this, I also have a similar use case where I would like a specific authorizer to return a hard deny in some scenarios.

One tricky case is how to configure a webhook authorizer such that you can choose to interpret timeouts/errors as soft denies (`NotAllowed`/`DontCare`) or hard denies (`Denied`).

[2017-09-21 14:59] jdumars commented on #51643
@piosz @sttts @mbohlool et al. - we need to determine (today if possible) if this is truly release blocking.  If so, please add the release-blocker label.  And, if not, how do we best continue work on this for 1.8.x/1.9.0?

[2017-09-21 15:00] jdumars commented on #50945
@cheftako @ericchiang - we need to determine (today if possible) if this is truly release blocking.  If so, please add the release-blocker label.  And, if not, how do we best continue work on this for 1.8.x/1.9.0?

[2017-09-21 15:00] cmluciano commented on #52412
@vishh Sounds good, will try something out

[2017-09-21 15:01] jdumars commented on #52454
@jessfraz @tallclair - we need to determine (today if possible) if this is truly release blocking.  If so, please add the release-blocker label.  And, if not, how do we best continue work on this for 1.8.x/1.9.0?

[2017-09-21 15:02] jdumars commented on #51841
@luxas - we need to determine (today if possible) if any of the kubeadm work is truly release blocking.  If so, please add the release-blocker label and update this issue with relevant issues/PRs. Thanks!

[2017-09-21 15:04] jdumars commented on #47943
@timothysc @derekwaynecarr @dashpole - we need to determine (today if possible) if this is truly release blocking.  If so, please add the release-blocker label.  And, if not, how do we best continue work on this for 1.8.x/1.9.0?

[2017-09-21 15:06] jdumars commented on #51899
@shyamjvs @gmarek @smarterclayton FYI, this looks like the most probable reason for delaying 1.8.0.  How can I or the release team help you out?

[2017-09-21 15:10] jdumars commented on #52808
@foxish @crimsonfaith91 Just to confirm, this is NOT release blocking, correct?

[2017-09-21 15:14] yuzhenmi commented on #45438
I'm having the same issue on GKE running on version 1.6.2, for 2 separate clusters. Another cluster running on 1.5.8 is unaffected, and upgrading one of the affected clusters form 1.6.2 to 1.6.9 fixed it. Does anyone know what exactly is causing the issue?

[2017-09-21 15:15] kuops opened #52850 "use ingress proxy the kibana"
env
[code]
ingress
[code]
grafana change the env `GF_SERVER_ROOT_URL`  can access

the kibana change SERVER_BASEPATH pod logs have error
[code]
log error
[code]
if dont  modify the SERVER_BASEPATH ，the ingress rewrite to the
[code]

[2017-09-21 15:23] thockin commented on #51899
Agree this should probably block the release.  What can I do to help?

[2017-09-21 15:24] sttts commented on #51643
@jdumars #52712 is merged, #52710 is approved and hopefully merges soon. Are you going you merge with master a last time after #52710 is in? If yes, then I think we can remove this from the milestone.

[2017-09-21 15:24] piosz commented on #51643
@jdumars we have the core Kubernetes repo where a number of libraries is developed in [staging](https://github.com/kubernetes/kubernetes/tree/master/staging) directory. There is a number of Kubernetes components, relying on those libraries, which are developed outside of the main repo. They can't use the recent version of libraries because the synchronization script is broken and the latest availa

[2017-09-21 15:32] cmluciano commented on #52729
/remove-sig network

/sig cli

[2017-09-21 15:51] caesarxuchao commented on #51643
Let's make sure #52710 gets merged quickly, that will unblock @sttts to update his repos to a correct state. I can help verify if the master and release-1.8 branches in sttts's repo are compilable tomorrow morning (~9hrs from the time of writing). @eparis we'll still need your help to push the repos since I'm OOO and don't want to risk doing pushes on my laptop.

[2017-09-21 15:58] smarterclayton commented on #51899
Even someone who can help do some mechanical bisecting would probably
help.  I don't think we have a minimal reproducer though which is
complicating this.

On Thu, Sep 21, 2017 at 11:24 AM, Tim Hockin <notifications@github.com>
wrote:

[2017-09-21 15:59] jdumars commented on #51643
We'll keep a close eye on this.  It appears #52710 should merge soon.  Please @me if there's more I need to do.  I am going to leave it in the 1.8 milestone until we sort all of this out.

[2017-09-21 16:03] shyamjvs commented on #51899
@smarterclayton Thanks a lot for spotting those PRs - I'll try running the tests with those PRs reverted as a last resort.

I'm suspecting that it's because we're testing with increased qps for apiserver (--max-requests-inflight=3000 --max-mutating-requests-inflight=1000) which is double of what we're using for kubemark (where the latency seems [fine](https://storage.googleapis.com/kubernetes-jenk

[2017-09-21 16:11] knagware9 opened #52852 "Hyperledger fabric on bluemix Kuburentes 1.7.4 failed due to Chaincode instatatiate failed ..Setup working fine on kuburnets 1.5"
This issue due to docker version on Kuburenets..

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
-

[2017-09-21 16:13] caesarxuchao commented on #51643
I'm take off now, 12am here. In case someone wants to help testing sttts's repos, here's how I tested them last time: create a clean gopath, for each branch of each staging repo, checkout its tip commit, run godep restore, delete the vendor folder of other staging repos, then run `go build ./...` in that staging repo. Please don't wait for me if someone could tests the repos this way.

[2017-09-21 16:14] smarterclayton commented on #52822
I think that counts as agreement.

[2017-09-21 16:16] mikedanese commented on #51862
Any webhook authorizer that can return a hard deny should fail closed.

[2017-09-21 16:18] mikedanese commented on #51862
I don't understand how an intersection authorizer would be used to integrate with a system like GCP IAM which is default deny with the current bool return. Does the intersection authorizer assume the tristate?

[2017-09-21 16:24] cmluciano commented on #52791
/assign

[2017-09-21 16:24] cmluciano commented on #52791
/close

issue fixed

[2017-09-21 16:24] #52791 closed

[2017-09-21 16:24] shyamjvs commented on #51899
@smarterclayton / @lavalamp Could one of you lgtm https://github.com/kubernetes/kubernetes/pull/52732 to at least remove the 'fake' violations?

[2017-09-21 16:25] ericchiang commented on #51961
While there isn't release blocker, the e2e job is still failing on our blocking set of tests.

https://k8s-testgrid.appspot.com/release-master-blocking#gce-alpha-features

Re-opening this issue. Can someone remove this e2e test if it's no longer appropriate?

[2017-09-21 16:30] cmluciano commented on #52852
My guess is that there are permissions missing from RBAC. Please take a look here https://kubernetes.io/docs/admin/authorization/ and see if that helps.

Without more information, I cannot tell what k8s specifically is doing to block this creation.

[2017-09-21 16:31] cmluciano commented on #52852
/assign

[2017-09-21 16:32] liggitt commented on #51862
if the authorizer interface was modified to include tri-state, then yes, the union authorizer would assume the tristate.

the webhook impl would need to:
* treat current responses in a backwards compatible way (meaning "no opinion")
* treat current request failures in a backwards compatible way (meaning "no opinion")
* expand the response status to allow returning an explicit denial
* allow config

[2017-09-21 16:32] jingxu97 commented on #52242
I have filed an issue related to internal volume reconstruction process during kublet restarts. The new proposed approach is very different from the current design. Will work on it in detail for 1.9
https://github.com/kubernetes/kubernetes/issues/52683

[2017-09-21 16:32] jingxu97 commented on #52820
I have filed an issue related to internal volume reconstruction process during kublet restarts. The new proposed approach is very different from the current design. Will work on it in detail for 1.9
#52683

[2017-09-21 16:36] cblecker commented on #52271
IMO, The point of moving to using `git clean -X` was that anything in your dir that isn't a part of the checked in repo has the potential to impact the build. Temp files, generated files, _output directories, etc. The previous functionality maintained a smaller, manual list that *did* become out of date (not just in theory), and caused problems.

I'm open to solutions, but I don't feel great about

[2017-09-21 16:47] jdumars commented on #51961
@msau42 @MrHohn @abgworrall  Can someone remove this e2e test if it's no longer appropriate? (ASAP)

[2017-09-21 17:08] NickrenREN opened #52854 "Remove cloud provider rackspace in favor of openstack"
**What happened**:

For now, we have to implement functions in both `rackspace` and `openstack` packages if we want to add function for cinder, for example [resize for cinder](https://github.com/kubernetes/kubernetes/pull/51498).  Since openstack has implemented all the functions rackspace has,  and rackspace is considered deprecated for a long time, [rackspace deprecated](https://github.com/racks

[2017-09-21 17:08] crimsonfaith91 commented on #52808
@jdumars Yes, it is not release blocking.

[2017-09-21 17:09] ericchiang commented on #52511
I need to work on this authorizer during 1.9 to add support for the new rules review API added in 1.8, so webhook authorizers can be queried for what actions a user can perform. Maybe that'd be a good opportunity to start adding exploring this support?

https://github.com/kubernetes/features/issues/380

There's also a proposal to let authorizers return an "unequivocal deny" https://github.com/kube

[2017-09-21 17:12] NickrenREN commented on #52854
/cc @mikedanese  @jamiehannaford

[2017-09-21 17:15] liggitt commented on #50945
this test has two passes and four failures on the same commit

I'm seeing gke-specific authz grants in that test that are incorrect:

https://github.com/kubernetes/kubernetes/commit/3b9485bba3ad48b9a8c9124d13e6d66eee2f11bf#diff-c944d1288edcaf37beebab811603bfd8L164

That commit removed the wait for the authz grant to become effective (which can lead to flakes), and granted superuser permissions to

[2017-09-21 17:18] jingxu97 commented on #52459
The test is added in #52836. I think we can keep this feature in 1.8

[2017-09-21 17:22] dcbw commented on #52671
@ kubeadm people, what's the multi-node network setup that kubeadm creates, if any?  Does it use flannel to route pod traffic between nodes, or something else?  kubenet is local-node-only and does not set up routes to send pod traffic from the cni0 bridge on one node to another node.

[2017-09-21 17:22] liggitt commented on #50945
cc @kubernetes/sig-auth-test-failures

[2017-09-21 17:31] abgworrall commented on #51961
/assign @krzyzacy
Sen, can you please retire the redundant CVM-variant testjobs inside release-master-blocking ?

[2017-09-21 17:32] nikhiljindal commented on #52811
Yes. I am hoping that we wont ship 1.8 without any e2e tests for this feature?

I will let @piosz and the release team take a call, if it comes to that. Hopefully we will have e2e tests soon without causing delays to the release.

[2017-09-21 17:35] dashpole commented on #51798
@PaulFurtado thanks for the flame graph.  It is super helpful.
What version of kubernetes are you running on this node?

[2017-09-21 17:48] Random-Liu commented on #52032
The problem is that there are images relying on the image volume, e.g.:
1) Some assumes that image volume should be writable even if rootfs is read-only;
2) Some assumes that their data baked in the image should be copied to the volume mounted.

Given so, we may still need to support this unless we could tell user not to use this.
Since image volume is part of OCI image spec now, we may want to pr

[2017-09-21 17:50] luxas commented on #52617
cc @kubernetes/sig-cluster-lifecycle-bugs  @kubernetes/sig-api-machinery-bugs @jagosan @thockin

[2017-09-21 18:00] cmluciano commented on #17635
@thockin I'm walking through the iptables proxy code to determine where a binary-search would be useful. I want to confirm that you think this is still a good idea or if certain enhancements have rendered this issue invalid.

[2017-09-21 18:13] munnerz commented on #30784
Given the above discussions about roles being a RBAC specified thing and groups being down to the authz provider, I'd be happy just to see a `whoami` command that just returns the current User if that's all that is possible right now.

[2017-09-21 18:15] krzyzacy commented on #51961
(obviously munger does not want to close a k/k issue from test-infra)
/close

[2017-09-21 18:15] #51961 closed

[2017-09-21 18:17] bgrant0607 commented on #52822
Correct. :-)

[2017-09-21 18:35] ericuldall opened #52858 "Useful labels missing from Prometheus node_exporter in 1.7.x"
/kind bug

**What happened**: I upgraded my GKE cluster to 1.7.x and lost a bunch of helpful labels from the prometheus node_exporter

**What you expected to happen**: I expected my metrics to continue working as before

**How to reproduce it (as minimally and precisely as possible)**:
Install prometheus node_exporter on GKE 1.7.x cluster and query for node_cpu

**Here's how the data looked before

[2017-09-21 18:36] ixdy commented on #50975
/assign

[2017-09-21 18:38] ericuldall commented on #52858
/sig node

[2017-09-21 18:46] jiayingz opened #52859 "Surface additional signals via e2e_node test for device plugin infrastructure"
Separating this out from the umbrella issue https://github.com/kubernetes/kubernetes/issues/52189 to just focus on the e2e_node test coverage for verifying device plugin functionality with kubelet restarts. This is important to verify that device plugin checkpointing works as intended.

We would like to get this test into 1.8 to verify the device plugin feature we introduced in 1.8 works as intend

[2017-09-21 18:46] jiayingz commented on #52859
/sig node

[2017-09-21 18:47] jiayingz commented on #52859
/cc @vishh

[2017-09-21 18:56] liggitt commented on #51899
I don't think so, but if read contention ends up being the issue, I made a lock-free version at https://github.com/kubernetes/kubernetes/pull/52860

[2017-09-21 19:03] andersla commented on #52810
It turned out to be some kind of problem with weave - the error disappeared when I changed to flannel overlay network instead.

[2017-09-21 19:03] #52810 closed

[2017-09-21 19:03] ixdy commented on #50975
we need to break the dependency from `//vendor/k8s.io/apimachinery/pkg/util/sets:set-gen` to `//hack/boilerplate` - vendored code shouldn't be depending on the kubernetes repo.

[2017-09-21 19:07] jiayingz opened #52861 "Develop an e2e test to verify kubelet device plugin functionality with a fake device plugin implementation"
In 1.8 release, we introduced device plugin feature. The e2e tests we added to verify this feature is based on a POC device plugin implementation for cos-based nvidia gpu devices. In 1.9, we want to add a device-plugin e2e test that is os and device independent. I.e., using a fake device plugin to verify kubelet device plugin feature.

[2017-09-21 19:07] jiayingz commented on #52861
/sig node

[2017-09-21 19:52] tonglil commented on #30171
This is also happening on GKE (1.6).

[2017-09-21 20:20] Rev1408 commented on #52671
I found this open bug in my search. Looks like this is related to docker >=1.13 and flannel

refer: https://github.com/coreos/flannel/issues/799

command to fix it
iptables -P FORWARD ACCEPT

[2017-09-21 20:29] mml commented on #1899
I know this is an old one, but here's another upvote.  I've found another case where this would be quite useful:  running conformance tests inside a cluster, it would be nice to know when the job has completed.

[2017-09-21 20:42] mbohlool commented on #52695
cc @jennybuckley

[2017-09-21 20:43] spzala commented on #48252
@jiaqianjing hello, this looks like a question that should be asked on the https://stackoverflow.com/questions/tagged/kubernetes or other places recommended in the https://github.com/kubernetes/community/blob/master/contributors/devel/on-call-user-support.md Asking question there will hopefully provide a quicker answer. If that looks good to you, can we please close this issue as it can not really

[2017-09-21 20:44] mbohlool commented on #52740
cc @derekwaynecarr

[2017-09-21 20:44] wardviaene commented on #42654
I'm hitting a bug present in the go-oidc version kubernetes is using.
https://github.com/coreos/go-oidc/issues/66 fixes a trailing slash issue if you're using Auth0

[2017-09-21 20:46] ericchiang commented on #50945
I can add the wait back.

[2017-09-21 20:48] mbohlool commented on #52752
cc @cheftako

[2017-09-21 20:50] liggitt commented on #42654
kubernetes already has picked up that fix and has it available in 1.7.x:

https://github.com/kubernetes/kubernetes/blob/701a4e3a7c115e5b32515bffcef16b94177793c1/vendor/github.com/coreos/go-oidc/oidc/provider.go#L621-L624

[2017-09-21 20:50] dcbw commented on #52062
This does not look like a sig/network flake; the GCE cluster simply doesn't create any nodes, or at least any nodes that it can pull artifacts from.  So we don't even get to the point of doing any kind of kube networking; we don't even have kubelet running anywhere yet that I can see...

[2017-09-21 20:54] mbohlool commented on #52754
cc @jpbetz

[2017-09-21 20:57] mbohlool commented on #52801
This seems to be a serious bug that needs to be fixed in 1.8. cc @cheftako

[2017-09-21 20:58] jagosan commented on #49402
@luxas I am not against the idea, just making the point that this discussion has veered off topic and don't want important discussions to get lost when this issue (reported as a bug with a title that isn't obviously related to the dialer's continued existence) is somehow resolved.

[2017-09-21 21:00] dims commented on #52801
/priority critical-urgent

[2017-09-21 21:09] sttts commented on #51643
@jdumars I need that on release-1.8. Can you create a merge commit with master?

[2017-09-21 21:14] ericchiang commented on #50945
Actually after staring at this test for about half an our I can't figure out what different users exist or what permissions they're being granted. ClientSet, InternalClientset, and AggregatorClient are all initialized from the same config so I don't see how one would be able to create an RBAC binding but another would fail later.

https://github.com/kubernetes/kubernetes/blob/6808e800c9e556185d6c2

[2017-09-21 21:14] liggitt commented on #52801
cc @ironcladlou @caesarxuchao

[2017-09-21 21:15] 2rs2ts opened #52865 "Make kube-apiserver play nice with logrotate"
/kind feature

We use logrotate at my workplace to handle log rotation and to update rsyslog when file handles change after rotation. The problem is that the apiserver rotates its own audit logs, so when this happens rsyslog loses the file handle. If we could use logrotate instead to rotate the audit logs, then we'd be able to notify rsyslog to update its file handle. But the apiserver does not ha

[2017-09-21 21:16] ziXet commented on #46421
I have the same issue.
`Failed to attach volume "pvc-db1e0379-9f0e-11e7-8a58-000d3af464b9" on node "k8s-agentpool-30516177-1" with: Attach volume "xxx-cluster-prodmgmt-dynamic-pvc-db1e0379-9f0e-11e7-8a58-000d3af464b9.vhd" to instance "k8s-agentpool-30516177-1" failed with compute.VirtualMachinesClient#CreateOrUpdate: Failure sending request: StatusCode=200 -- Original Error: Long running operation

[2017-09-21 21:17] 2rs2ts commented on #52865
@kubernetes/sig-api-machinery-feature-requests

[2017-09-21 21:19] #51982 closed

[2017-09-21 21:20] smarterclayton commented on #52801
If this is a metric created based on user provided input (CRD name) we probably need to disable that  "garbage_collector_operation_example:controller:code-generator:k8s:io_v1alpha1_rate_limiter_use"

Unbounded metric series coming from some level of user input is bad.

[2017-09-21 21:21] smarterclayton commented on #52801
There should probably be a single prometheus metric for all unrecognized types, or no metric, but not metrics generated by user action.

[2017-09-21 21:24] liggitt commented on #52801
I think it is a metric per garbage collector thread, which is per group/version

[2017-09-21 21:24] liggitt commented on #52801
I cannot figure out why that name is not acceptable to prometheus

[2017-09-21 21:27] liggitt commented on #52801
oh, the hyphen: `code-generator`

[2017-09-21 21:27] munnerz commented on #52801
Is there a max length to prometheus metric names?
 https://github.com/kubernetes/kubernetes/pull/52753/files#diff-64cc01ee4fc1d576280a2b5664b4331cR4

[2017-09-21 21:28] liggitt commented on #52801
no, the type being registered is causing the issue:
[code]

[2017-09-21 21:28] liggitt commented on #52801
hyphens are not allowed

[2017-09-21 21:35] ericchiang commented on #52811
This is extremely late to be adding an e2e tests considering we just spent the last three weeks stabilizing the existing tests :(

If e2e tests are absolutely required lets get them in ASAP.

Removing the failing tests labels because this isn't a failing test.

cc @kubernetes/kubernetes-release-managers

[2017-09-21 21:44] liggitt commented on #52801
@munnerz presumably you saw this while working on https://github.com/kubernetes/kubernetes/pull/52753... the name of the group was what was triggering the error

[2017-09-21 21:47] smarterclayton commented on #52801
I'm saying I don't think we should be creating metrics like this.  One series per group version is wrong.

[2017-09-21 21:47] smarterclayton commented on #52801
We have labels for a reason, we should be using it.

[2017-09-21 21:48] liggitt commented on #52801
that's the granularity our rate limiters are at... not sure what's involved in reworking the way those report metrics

[2017-09-21 21:56] sttts commented on #52752
Also note that this staging repo serves not only as an example (then we could move it out of k8s.io/kubernetes), but is our CI e2e test-case that code-generation for CRDs works (like sample-apiserver is for an UAS).

[2017-09-21 21:57] liggitt commented on #52801
ok

based on the [discussion](https://go-review.googlesource.com/c/time/+/29958#message-4caffc11669cadd90e2da4c05122cfec50ea6a22) around the `Saturation()` metric our rate limiters are reporting, it actually sounds like the metrics we're reporting aren't very useful anyway. I'm fine with removing these and rethinking them

[2017-09-21 22:04] liggitt commented on #52801
updated the linked PR

[2017-09-21 22:11] jdumars commented on #51643
@abgworrall is your guy for that @sttts

[2017-09-21 22:19] PaulFurtado commented on #51798
@dashpole This is on 1.7.4.

We actually just rolled out a change to up the housekeeping interval to 2 minutes and it appears we no longer hit the sustained 3000% CPU usage case, but we're giving it a few days to verify. So I wonder if cadvisor was exceeding the default 10 second interval and constantly collecting metrics resulting in the sustained high CPU.

[2017-09-21 22:23] ericchiang opened #52871 "[e2e test failure] [sig-storage] [Serial] Volume metrics should create prometheus metrics for volume provisioning and attach/detach"
The test added in https://github.com/kubernetes/kubernetes/pull/52807 has been extremely flaky since it's introduction, and is messing with our e2e test signal.

https://k8s-testgrid.appspot.com/release-master-blocking#gke-serial
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gce-serial
https://k8s-testgrid.appspot.com/release-master-blocking#gce-serial
https://k8s-testgrid.appspot.c

[2017-09-21 22:26] yujuhong commented on #52641
Pods will only be deleted from PodManager if the pod has been deleted from apiserver. This seems to contradict from the original issue you posted, i.e., pod not being deleted.
Could you post relevant log for a pod that experienced the issue you mentioned in the original post? The log should include messages before and after kubelet receives the `DELETE` update form the apiserver.

[2017-09-21 22:36] cheftako commented on #50945
I honestly think the gke specific BindClusterRole is a red-hearing. It is needed so the client has permission to perform one of the setup steps. (I think it was either to create the wardler cluster role or to bind that role to the anonymous user) Once that setup step is complete we no longer need the that cluster role bound and so I don't think its related.

[2017-09-21 22:36] #34345 closed

[2017-09-21 22:38] liggitt commented on #50945
The gke authorizer allows the “bind” verb, so the client can create a binding to the cluster-admin. It cannot create a role directly unless it has permissions via RBAC. Since we don’t have a way to determine the username associated with `iclient`, binding to all authenticated users is what was done as a workaround.

[2017-09-21 22:39] liggitt commented on #50945
I agree that the point at which the tests are failing indicate that the previous authorization issues are not the cause.

[2017-09-21 22:48] dreyk commented on #47695
1. You should add "Node" authorization mode to apiserver
2. Also there is the bug in kubeadm. It generate wrong certificate for kubelet.

[2017-09-21 22:53] cheftako opened #52872 "Audit usages of prometheus.MustRegister"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: #52801 Shows that prometheus.MustRegister will panic on things like dashes in the metric name. There are currently 138 calls to prometheus.MustRegister in the Kubernetes code base almost exclusively from controllers. We should audit the code to ensure that panic is the desirable response to a bad metric name for these call

[2017-09-21 22:55] jeffvance commented on #52871
**gke-serial** err= "Master's Kubelet is not registered. Skipping ControllerManager's metrics gathering" from [`metricsGrabber.GrabFromControllerManager()`](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/f)

[2017-09-21 22:59] jeffvance commented on #52871
**gke-serial** err="Master's Kubelet is not registered. Skipping ControllerManager's metrics gathering" from call to `metricsGrabber.GrabFromControllerManager()`, [L154](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/metrics/metrics_grabber.go#L154)

[2017-09-21 23:01] gnufied commented on #52871
ack looking into it. thanks @jeffvance for initial debugging.

[2017-09-21 23:01] gnufied commented on #52871
/assign

[2017-09-21 23:20] #52671 closed

[2017-09-21 23:49] crimsonfaith91 commented on #52808
@jdumars As the failures are not release blocking, i think we can do nothing regarding the tests and communicate to the community. Does it sound good to you?

[2017-09-21 23:53] gnufied commented on #52871
I am opening a PR shortly. Basically two problems:

1. In some environments we don't have access to controller manager's metrics, so we are going to skip that.
2. In some cases no metric may be emitted yet and hence nothing might be there in old map.

I am going to add some retry in fetching updated metrics just in case for more robust behaviour.

[2017-09-22 00:02] gnufied commented on #52871
Opened PR - https://github.com/kubernetes/kubernetes/pull/52874

Sorry about it. :(

[2017-09-22 00:02] foxish commented on #52808
Have been triaged by @crimsonfaith91 and @enisoc. I wouldn't worry about these.

[2017-09-22 00:08] bgrant0607 commented on #30558
@mengqiy `update` is not a command. Multiple flavors of update are supported. A more concrete proposal is required before this can be implemented, even if just sketched here.

[2017-09-22 00:10] mindprince commented on #52560
/reopen

Lots of flakes in `TestDevicePluginReRegistration` still: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=TestDevicePluginReRegistration

According to http://velodrome.k8s.io/dashboard/db/bigquery-metrics?panelId=7&fullscreen&orgId=1 it's the flakiest unit test in the last week.

[2017-09-22 00:20] pmorie commented on #52827
Gotta love when APIs change out from under you :)

[2017-09-22 00:21] font commented on #50888
@quinton-hoole ^^

[2017-09-22 00:41] jiayingz commented on #52560
I am looking into it now.

[2017-09-22 01:10] cheftako commented on #50945
/open

[2017-09-22 01:11] cheftako commented on #50945
/reopen

[2017-09-22 01:11] cheftako commented on #50945
So a lot more information to work with now but the error is still occurring. I am still looking into this.

[2017-09-22 01:42] mengqiy commented on #30558
@bgrant0607 Back in 2016 Q3, `kubectl update` is the alias of `kubectl replace`.
At that time, this feature request looks like it would improve the UX.

But after reading your comment https://github.com/kubernetes/kubernetes/issues/30558#issuecomment-326643503, I found this approach may turn out to encourge the users to do something dangerous. So should we leave a comment and close this issue?

We

[2017-09-22 01:47] #52801 closed

[2017-09-22 01:56] opspy commented on #52850
/kibana/ingress

[2017-09-22 02:09] ozbillwang commented on #32522
@benjaminbarbe

No. Did you try with latest k8s version, will this problem be fixed?

[2017-09-22 02:17] guangxuli commented on #52391
@resouer Sorry, I'm OOO these days, yeah, @wackxu had send a PR for this.

[2017-09-22 02:34] gnufied commented on #52735
Thanks for writing this up @jingxu97 . I also wanted to add that, the cloudprovider VerifiedVolumeAttached check is not needed in AWS/EBS and I think we should either disable it or make it no-op.

The reason why the original check was added is because in some cloudprovider's shutting down or rebooting a node can cause attached volumes to be detached. That doesn't happen on AWS. On AWS only termina

[2017-09-22 02:38] smarterclayton opened #52876 "Gather better pull latency metrics"
This may not be a kubernetes responsibility (and instead be CRI or the container runtime), but in general pull latency is the number one contributor to MTTR in a cluster.  Providing an accurate measurement of a number of image pull metrics would help identify avenues for improvement on most clusters.

Some off the cuff values that would help pin down acceptable performance:

1. throughput of downl

[2017-09-22 02:41] FengyunPan opened #52877 "Support VolumesV3 for OpenStack cloud Provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig openstack
/assign

**What happened**:
Currently OpenStack support cinder v3 API,but OpenStack cloud Provider just support cinder v1 API and cinder v2 API. We konw that cinder v1 API and cinder v2 API have been deprecated. So it is necessary to support VolumesV3 for OpenStack cloud Provider.

cinder v1 API(deprecated):
https://specs.o

[2017-09-22 03:12] mYmNeo commented on #52641
Could you post relevant log for a pod that experienced the issue you mentioned in the original post? The log should include messages before and after kubelet receives the DELETE update form the apiserver.

This is about the origin issue. The pod is still found in apiserver with state `Terminating`, but it is not existed in PodManager.
Here is another log because last log is deleted.

[code]

[2017-09-22 03:38] xiangpengzhao commented on #47224
/assign

[2017-09-22 03:47] bgrant0607 commented on #30558
@mengqiy `update` was an alias, but has been deprecated since 1.0.
https://github.com/kubernetes/kubernetes/commit/9b3d42c090aeab663bf42e38658a5f88fb4b5272#diff-1569293db00490c928c40f53fc14800c

Yes, it is potentially dangerous, but convenient in some cases.

In any case, more thought needs to be put into the UX, because lots of `kubectl replace configmap ...`, `kubectl apply configmap ...`, etc.

[2017-09-22 04:53] mengqiy opened #52881 "Create types for base/overlay workflow model"
Creating the types `Package` and `Manifest`.

`Package` should have all the metadata the metadata of the package and drives package searching and browsing, and support the fork/rebase upgrade workflow. It can be used by something like an app registry.

`Manifest` should have all the information to expand of generate the k8s api resources. It can be used by kubectl or some other tooling. A manifest

[2017-09-22 04:53] mengqiy commented on #52881
/sig cli

[2017-09-22 04:54] mengqiy commented on #52881
PR at https://github.com/kubernetes/kubernetes/pull/52570

[2017-09-22 04:57] bgrant0607 commented on #1899
A related issue is that we don't make it easy to determine success or failure of a change, much less wait for it: #34363

[2017-09-22 04:58] bgrant0607 commented on #34363
I wrote something on determining success/failure (which is a subset of this issue) here:
https://docs.google.com/document/d/1cLPGweVEYrVqQvBLJg6sxV-TrE5Rm2MNOBA_cxZP2WU/edit#heading=h.edrnxxvhcni2

[2017-09-22 05:00] 3792274 opened #52882 "iptables start kubelet cluster not working"
I have a problem ,when the iptables start ,then the node can't connect to servers.
[code]
**The Docker Version**
![image](https://user-images.githubusercontent.com/19231863/30729713-3b5db7e2-9f94-11e7-8f2f-e1767e8bbbd5.png)

**I have deployment a nginx Server**
![image](https://user-images.githubusercontent.com/19231863/30729699-1c4fc3ae-9f94-11e7-9c2c-f4c2756d6c30.png)

--------------------------

[2017-09-22 05:12] divyenpatel opened #52884 "Unable to build hyperkube image - No binfmt support in the kernel"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Support

**What happened**:
Unable to Build Hyperkube image.

[code]

**What you expected to happen**:
Build should pass

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. f

[2017-09-22 05:16] jianzhangbjz commented on #52882
Could you post your network info of the cluster here? May be your iptables rules are conflict with the network.

[2017-09-22 05:17] jianzhangbjz commented on #52882
/sig network

[2017-09-22 05:26] irfanurrehman commented on #50888
@font @quinton-hoole I have updated https://github.com/kubernetes/kubernetes/issues/41725 to include a pointer (and a reference to this issue) to fix what is listed here.
@font please let me know if that is not ok, and you would still want this issue tracked here itself.

[2017-09-22 05:48] 3792274 commented on #52882
**it happend a big problem,when delete all,create new deployments and server ,in all client it can't access .**
![image](https://user-images.githubusercontent.com/19231863/30730884-aff10cfa-9f9c-11e7-93a3-b5425c7ec24b.png)

[2017-09-22 05:55] 3792274 commented on #52882
@jianzhangbjz   ipconfig info
![image](https://user-images.githubusercontent.com/19231863/30731044-a353e250-9f9d-11e7-91a3-5dc1b34879da.png)

![image](https://user-images.githubusercontent.com/19231863/30731049-afe102c8-9f9d-11e7-99f0-092b3249b48c.png)

![image](https://user-images.githubusercontent.com/19231863/30731059-bab5aea6-9f9d-11e7-91ca-6d2d9a87e7fd.png)

[2017-09-22 06:03] divyenpatel opened #52887 "'make quick-release' is failing with git version information missing; cannot create Docker tag"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Support

**What happened**:
make-quick release is failing  git version information missing; cannot create Docker tag

[code]

**What you expected to happen**:
Build should be successful.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ve

[2017-09-22 06:16] hzxuzhonghu commented on #52754
I think its fixed in 1.9
[code]

[2017-09-22 06:20] xiangpengzhao commented on #52887
I doubt it has something to do with `git clone --depth 1`

[2017-09-22 06:20] xiangpengzhao commented on #52887
/sig release

[2017-09-22 07:18] suneeta-mall opened #52890 "kube-apiserver.log has invisible control character"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kube-apiserver.log uses invisible control character in logging. None of the other k8s logs use this character.
[code]
here ```841.773µs``` is Invisible control character ```841.773Âµs```
**What you expected to happen**:
Expects log formats and encoding to be consistent across all k8s log files.
**How to reproduce it (as minimally an

[2017-09-22 07:21] 3792274 commented on #52882
@jianzhangbjz 我想你是懂中文的吧。
我发现 k8s根本没有创建任何iptables的规则或过滤等，好像是没有权限操作一样。
后来我偶然间增加了一条规则
[code]
发现，iptables的规则突然增加了很多，这在以前是没有的，见我上面的iptables图。
下面的是增加后的样子。
![image](https://user-images.githubusercontent.com/19231863/30733488-b6903fb0-9fa9-11e7-84d8-bb4e197a903c.png)

[2017-09-22 07:25] vladimir-vg commented on #23404
Experienced same issue. Used `kubectl create secret generic mysecret --from-file=password`, file contained no '\n', but resulting env variable had it.

[code]

[2017-09-22 07:44] gekart commented on #52730
The issue could be related to https://github.com/kubernetes/kops/issues/2901

[2017-09-22 07:49] jianzhangbjz commented on #52882
@3792274 I suggest you'd better post this in English here so that more people could help you.  The kube-proxy component is working normal?

[2017-09-22 08:05] #47927 closed

[2017-09-22 08:06] 3792274 commented on #52882
kube-proxy worked.OK,I fix it.  thank you.

[2017-09-22 08:12] jianzhangbjz commented on #52882
You're welcome. So, could we close this issue?

[2017-09-22 09:06] zjj2wry commented on #24731
/assign

[2017-09-22 09:43] ailusazh opened #52902 "Podstatus becomes MatchNodeSelector after restart kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug
/sig node

**What happened**:
After restart kubelet, kubelet receives infomation about pods and the node from etcd, in the situation that first receives pods infomaion and start admit pods and then receives node infomation, then in the process of admit pods some will use the initial node info, and if the labels in initial node info differen

[2017-09-22 10:07] shyamjvs commented on #51899
Ok.. I checked with reduced qps and I'm still seeing high latency calls in the density test:

[code]

I'll switch back to the original qps and will start to manually bisect and test. Would run only the density test to save time.

[2017-09-22 10:18] davidegrohmann commented on #51701
Now on 1.7.5, the issue is still present.

[2017-09-22 10:24] danielmorlock commented on #40067
I'm having the same issue. Any progress here?

[2017-09-22 11:28] yurig93 opened #52906 "EBS volume remains attached"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A dynamic gp2 EBS volume fails detaching when it's PVC is deleted.

**What you expected to happen**:
The volume should detach from the node and be deleted.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a gp2 PVC in a custom namespace.
2. Attach the volume to a Pod that is serving NFS using i

[2017-09-22 11:29] crassirostris opened #52907 "[audit] Rate-limit batching webhook backend"
Currently batching webhook can spawn new requests to the backend as fast as it is possible to create sending goroutines. This might be not a great situation in case backend serves several masters simultaneously: one extra-noisy cluster can influence other clusters. Per-cluster rate-limiting on backend side is not always an option, so it would be nice to have a mechanism to control either the rate

[2017-09-22 11:32] yurig93 commented on #52906
@kubernetes/sig-aws
@kubernetes/sig-storage

[2017-09-22 11:37] yurig93 commented on #52906
@kubernetes/sig-aws
@kubernetes/sig-storage

[2017-09-22 11:38] yurig93 commented on #52906
@kubernetes/sig-aws-bugs
@kubernetes/sig-storage-bugs

[2017-09-22 11:51] crassirostris opened #52909 "[audit] Always retry sending to webhook"
Currently webhook doesn't retry if server returns a server error: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go#L104

However, for audit logs dropping the whole batch in case of an occasional 5XX might not be a great idea. Maybe it's worth to retry webhook not until the first error? Or at least make it configurable

/cc @sttts @soltys

[2017-09-22 12:34] zjj2wry commented on #21227
/assign i'd like implement this~

[2017-09-22 12:35] zjj2wry commented on #21227
/assign

[2017-09-22 13:22] divyenpatel commented on #52884
/sig release

[2017-09-22 14:07] divyenpatel commented on #52887
Thanks @xiangpengzhao
Yes this helped. `make quick-release` did not fail when `--depth 1` is removed from the git clone.
Next I am stuck with this PR:  https://github.com/kubernetes/kubernetes/issues/52884

[2017-09-22 14:07] #52887 closed

[2017-09-22 14:17] dims commented on #52884
@divyenpatel - seems to work for me, can you cross check the image id(s)?

http://paste.openstack.org/show/621720/

[2017-09-22 14:21] hejix commented on #39420
We have encountered this very same issue of leftover ILB components yesterday using the new GKE internal load balancers in 1.7.5. Since we have "Gold" GCP support, I made an issue and was advised to manually cleanup.  Since we are using fixed internal I.P. addresses for access on these ILBs,  I guess we have to automate the cleanup for the e2e regression testing.

[2017-09-22 14:22] xiangpengzhao commented on #52887
:smile:

I have no idea on `binfmt`. I see @dims commented there. You can check that :)

[2017-09-22 14:24] gnufied commented on #52906
Can you post kubelet logs from node where volume was attached?  There may be something there and we want to verify if volume was unmounted correctly after Deployment was deleted.

[2017-09-22 14:29] sttts commented on #51643
I have prepared another push candidate:
- push script: https://gist.github.com/anonymous/a4b182414e07004456e3f953d98b3fd9 (only master and release-1.8)
- last heads: https://gist.github.com/anonymous/fa7f191e3742e1fe813dcb2d08fc6359
- smoke test script run successfully: https://gist.github.com/anonymous/c3511618c7e1cae6b1ca6c4eebc63cd1

@caesarxuchao ^^^^

[2017-09-22 14:34] divyenpatel commented on #52884
I have compared the image Digest for `multiarch/qemu-user-static:register`.
It is matching - `sha256:3b9c6d8ab37f7d7432b3e0dc543256cfb3b93e19ef7027cd4250cf28e3b58207`.
So image is the same.

as @luxas suggested I tried to run `modprobe binfmt_misc` on the docker host, and it failed.

[code]

Let me introduce my build environment.

I am building hyperkube image from container. container has `/var/r

[2017-09-22 14:37] guillelb commented on #49314
@julia-stripe, I have this problem with k8s v1.7.0 .
How can I fix it, upgrading to v1.7.X?

Thank you!

[2017-09-22 14:45] dims commented on #52884
@divyenpatel looks like you need to do a few more things on the docker host, found a few hits searching for the problem

https://docs.gitlab.com/runner/development/README.html#2-install-docker-engine
https://groups.google.com/d/msg/coreos-dev/YC-G_rVFnI4/ncS5bjxYWdcJ
https://sedden.github.io/blog/2016/04/11/automated-builds-for-arm-docker-containers-on-intel-hosts/

Thanks,
Dims

[2017-09-22 15:12] ralberto commented on #50004
Hi.
Any progress on this issue? Release 1.7.5 resolved issues #50266 and  #50200, however I've validated that this problem remains in version 1.7.5.

Thanks.

[2017-09-22 15:32] VinayKumarbrsoft commented on #43495
We are facing same issue during rolling upgrade deployments.   Did you guys find out what was the problem?

[2017-09-22 15:40] hzxuzhonghu commented on #52909
configurable +1. Always retry may waste apiserver a lot of resource.

[2017-09-22 15:48] caesarxuchao commented on #51643
Start validation now.

[2017-09-22 15:52] yurig93 commented on #52906
This is the log right after deleting the NFS deployment:

`Sep 22 15:50:31 ip-172-20-74-3 kubelet[1684]: I0922 15:50:31.398960    1684 kubelet.go:1824] SyncLoop (DELETE, "api"): "dpl-nfs-ssh-3-lala-my-second-env-1630197342-0rv4c_ns-lala(19993cdd-9f9e-11e7-9180-0a169b5127b8)"
Sep 22 15:50:31 ip-172-20-74-3 kubelet[1684]: I0922 15:50:31.399393    1684 kuberuntime_container.go:545] Killing container

[2017-09-22 15:54] shyamjvs commented on #51899
@kubernetes/test-infra-maintainers I'm getting the following error while running `go run hack/e2e.go -v -test`:

[code]

Any idea why I'm seeing this? My k8s has been built against commit 11299e363.

[2017-09-22 15:55] shyamjvs commented on #51899
`go run hack/e2e.go -v -up` works just fine.

[2017-09-22 16:04] deads2k commented on #52511
I think we should agree on what we want to build here.  I'm not convinced that we should change the webhook config file format away from a generic kubeconfig file format that works using normal cluster dns and normal service network routing and instead using something that won't work for "normal" generic apiservers.

Even having the power to lookup individual services, resolve them to endpoints, c

[2017-09-22 16:18] jdumars commented on #52808
Thank you all for looking into this.  I sincerely appreciate it!

[2017-09-22 16:21] yguo0905 opened #52914 "Scheduler should handle pod updates during scheduling more gracefully"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm implementing a scheduler extender, which handles the delegated "bind" call from kube-scheduler. In the bind call, the extender first modified the annotation of the pod and then bound the pod to the node.

The following error was printed in kube-scheduler's log:

[code]

https://github.com/kubernetes/kubernetes/blob/7

[2017-09-22 16:41] ericchiang commented on #52909
Is that not what `apierrors.IsInternalError` does? https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go#L101

We should probably just switch those cases to respond to status codes instead of expecting API server errors then, right?

[2017-09-22 16:48] justinsb opened #52916 "AWS KMS for apiserver encryption"
The APIServer now supports encryption of objects in etcd, and there is also support for storing the keys in GCE KMS (e.g. https://github.com/kubernetes/kubernetes/pull/48574)  We should also add support storing the keys in AWS KMS.

This likely means:

* Adding the appropriate integration with the AWS KMS APIs, probably the equivalent of the GCE KMS PRs
* Documenting the additional IAM policies ne

[2017-09-22 16:49] justinsb commented on #52916
cc @arun-gupta

[2017-09-22 17:00] jdumars commented on #52811
@nikhiljindal @piosz this is a serious impact on the 1.8 release.  We need to understand **exactly** what the risk is of shipping without this test in place, as well as some evidence that the test is stable.

[2017-09-22 17:07] rakshazi commented on #32334
any update on this?

[2017-09-22 17:09] nikhiljindal commented on #52811
Sorry am not as familiar with this feature. I will let @piosz comment on that.

[2017-09-22 17:11] lavalamp commented on #51899
Has anyone looked at the PUT calls? The most obvious thing that could be wrong (I think) is something new/changed on the nodes that is modifying the node status via PUT and consistently winning the race with kubelet's PATCHes.

[2017-09-22 17:15] lavalamp commented on #51899
The hypothetical extra PUT calls would not have high latency (as they'd just get conflicts if they lose the race). They also wouldn't happen in kubemark, assuming it's a non-kubelet entity that is the offender. That seems consistent with everything stated in this bug, although it's a bit hard to follow.

[2017-09-22 17:19] lavalamp commented on #51899
Can someone link to a test run containing the problem, so I can read the apiserver log?

[2017-09-22 17:26] caesarxuchao commented on #51643
The script I used to verify the branches: https://gist.github.com/caesarxuchao/4bc9100e2e2f04ab460fc1f24f46386d

The branches look good to me. Thanks @sttts.

[2017-09-22 17:32] krzyzacy commented on #47820
on https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/916 it failed in a different way (but the actual upgrade test failed as well (statefulset-upgrade and hpa-upgrade)which is more worrying)

[2017-09-22 17:35] piosz commented on #52811
@jdumars apologies for the delay but I'm fighting with a cold. I'm working on them, hopefully will finish it today. The original plan was to test it through HPA e2e tests, but we decided to not use metrics-server by default in HPA (see #52553).

[2017-09-22 17:37] liggitt commented on #52811
if it is not enabled by default for HPA in 1.8, then I don't think the e2e tests are release-blocking

[2017-09-22 18:00] ericchiang commented on #52811
Commented on the feature repo but the release team has concerns about adding e2e tests this close to the release https://github.com/kubernetes/features/issues/271#issuecomment-331511152

I agree with @liggitt. If this isn't on by default we should remove this from the milestone.

[2017-09-22 18:01] ixdy commented on #51899
@shyamjvs I think you might need to run `gcloud auth application-default login`.

[2017-09-22 18:02] ixdy commented on #51899
(you have to run both `gcloud auth login` and `gcloud auth application-default login`, because reasons.)

[2017-09-22 18:09] piosz commented on #52811
The feature is enabled by default but no other component uses it. The rollout plan is as follow:
- in 1.8 metrics-server was introduced
- in 1.9 we switch HPA to use it by default

I agree that having e2e tests is not a release blocker as HPA doesn't use it.

[2017-09-22 18:10] luxas commented on #52811
To clarify, in GKE only AFAIK, right?

[2017-09-22 18:11] piosz commented on #52811
GCE/GKE

[2017-09-22 18:24] jingxu97 commented on #52906
seem like volume manager able to unmount the bind mount path, but failed to unmount the global device mount path because the device is in use. @yurig93 Could you please check whether the device is still in used by some mount paths?

[2017-09-22 18:30] WilliamDenniss commented on #52822
No followup to the original doc yet. The conformance work group agreed to reduce scope and focus on the core profile to begin with, but profiles are covered in the terms of the program and will be worked on shortly.

[2017-09-22 18:37] davidz627 commented on #50115
So we've worked on this issue a bit and kind of hit a snag (see: https://github.com/kubernetes/kubernetes/pull/52322#issuecomment-331519307)

The solution that was proposed and implemented from the discussions in this issue has led us to some permissions errors that actually brought up some larger questions about the authoritative source of zone info. We note that it is possible that nodes may mis

[2017-09-22 19:01] cmluciano commented on #51129
/assign

[2017-09-22 19:02] cmluciano commented on #51129
/close

history is green on previously failing jobs

[2017-09-22 19:02] #51129 closed

[2017-09-22 19:16] sttts commented on #51643
We have pushed the master and release-1.8 branch. Closing this now.

[2017-09-22 19:16] #51643 closed

[2017-09-22 19:18] benburry opened #52919 "Trailing whitespace in tokenFile causes `net/http: invalid header field value` error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

@kubernetes/sig-cli-bugs

**What happened**:
We have webhook auth(n) enabled in our kube-apiserver. I generated myself a token, and used vim to write the token to a file in my `~/.kube/config` directory. I added a `tokenFile` field to my `~/.kube/config` user, referencing this token file,  and issued a `kubectl get po` command.

I received

[2017-09-22 19:24] nikhiljindal commented on #39987
Added moving to apps group version https://github.com/kubernetes/kubernetes/issues/52123 to the list.

[2017-09-22 19:37] moander opened #52921 "Consider ignoring .kube folder on recursive kubectl operations"
Recursive create/apply generates warnings because of some files in the auto-generated .kube folder.

[2017-09-22 19:37] EvanMulawski commented on #42544
Ran into this issue trying to set up a RabbitMQ cluster on OpenShift. Can't seem to find any workaround. What is the status on this?

[2017-09-22 19:39] thockin commented on #23404
Are you SURE?  Many editors include a final newline.  `cat file | hexdump
-C`

On Fri, Sep 22, 2017 at 12:26 AM, Vladimir Gordeev <notifications@github.com

[2017-09-22 19:44] cmluciano commented on #52882
/assign

@3792274 Please close this issue if it is fixed

[2017-09-22 20:07] lavalamp commented on #51899
Another similar hypothesis is that now node problem detector and kubelet are trying to modify the same field, so there's new contention even though it's the same number of patch calls.

[2017-09-22 20:17] lavalamp commented on #51899
Grepping through logs, indeed, I see the node controller is getting a bunch of conflicts on puts:
[code]

[2017-09-22 20:24] #52459 closed

[2017-09-22 20:26] gnufied commented on #52906
If the device is still mounted (as reported in log above), can you check which process is using it? In general I have seen similar problem like this when a mount point *leaks* in another namespace because of another container using that volume (may be not directly but because this other container mounted /var/lib/docker/ or some other common location).

You can do `cat /proc/*/mounts` to find out

[2017-09-22 20:34] ericchiang commented on #52916
cc @kubernetes/sig-auth-feature-requests

[2017-09-22 20:34] somejfn commented on #45010
Using the ceph RBD provisionner helped get to the point the RBD image is created but the kubelet will fail to mount the image for the same protocol mismatch issue:

```2017-09-22 20:29:31.088337 7f04e90f7700  0 -- 10.74.80.69:0/1028261 >> 10.74.80.133:6789/0 pipe(0x7f04d0002550 sd=3 :37102 s=1 pgs=0 cs=0 l=1 c=0x7f04d00027e0).connect protocol feature mismatch, my fffffffffff < peer 4010ff8eea4fffb

[2017-09-22 20:35] cmcconnell1 commented on #45287
This may be an older issue, but still affected us because we have some older kube clusters running 1.5.1.
I was trying to use statefulsets and ran into the same issues/blockers noted above, where for me, the issue/problem was that **I couldn't delete the statefulsets which was a blocker**.
So, effectively I had defunct statefulsets lingering which prevented me from redeploying and thus made me ver

[2017-09-22 20:38] mattfarina commented on #51643
My 2 cents... take them for what their worth...

1. It would be awesome to have these libraries developed in their own repos and pulled into k8s just like they are pulled in elsewhere. Then they could have their own releases.
2. Daily syncing is useful. **Waiting for a sync to come when k8s is released delays the release of supporting tools**. The tools need some lead time because of the rather la

[2017-09-22 20:41] julianvmodesto commented on #34267
We've observed this issue within our kops on AWS cluster as well where when a Node is added, very occasionally, *all* instances will be deregistered and then re-registered to the ELB.

@justinsb since a lot has probably changed in the controller manager since this issue was first reported, would you be able to shed light on what parts of the controller manager might cause this? e.g. is your recomm

[2017-09-22 20:45] davidopp commented on #51899
Here are some PRs that touched NodeController and/or controller_utils.go, from most recent to least

https://github.com/kubernetes/kubernetes/pull/51603 (merged Sep 6)
https://github.com/kubernetes/kubernetes/pull/49257 (merged Aug 31)
https://github.com/kubernetes/kubernetes/pull/49524 (merged Aug 7)
https://github.com/kubernetes/kubernetes/pull/49870 (merged Aug 1)
https://github.com/kubernetes/

[2017-09-22 21:07] jim-minter commented on #51788
@resouer I'm able to recreate this on 1.7.6, it also affects OpenShift.  Are you able to reopen the issue?

I installed on Centos 7 using kubeadm.

[code]

[code]

[code]

(note 1: no node is labeled realm=test)
(note 2: I think that maybe omitting the --admission-control-config-file and associated whitelist is the reason why this issue was previously thought fixed)

[code]

(removing the annotati

[2017-09-22 21:10] jim-minter commented on #51788
I believe that the end effect, that daemonset pods are only sent to the selected nodes, is correct.
The issue here, as I believe the OP states, is the looping recreating pods that are bound to fail.
The condition I've described here is probably a misconfiguration, but it would be good if it didn't cause the looping.

[2017-09-22 21:10] shyamjvs commented on #51899
@ixdy Thanks a lot for the suggestion, that worked. Running the test against the last commit which seemed healthy for confirmation.

@lavalamp I'm supposing you mean PUT calls for etcd (because from the apiserver logs I'm seeing only patches). Could you tell me how can I check for PUT calls?

I'm not seeing any PUTs for node status from the apiserver logs. It's npd and kubelet which are updating t

[2017-09-22 21:13] jim-minter commented on #51788
If I add `nodeSelector: { realm: test }` to the pod template in the DaemonSet manifest, then I get no pods being created, which is expected because there are no nodes labelled realm=test.

[2017-09-22 21:16] jingxu97 commented on #50004
@ralberto do you have the master log during the issue happened so I can take a look? Thank you!

Normally when nodes powered off, node will be marked as NotReady. Pods are deleted from the node. Detach should happen after 6 minutes timeout so that volume could be attached to new node after that.
I also wondered you mentioned that older version of kubernetes works fine. But do you notice whether th

[2017-09-22 21:30] apelisse commented on #38637
Swagger is still used in `kubectl explain` (i.e. [explain.go](https://github.com/kubernetes/kubernetes/blob/v1.8.0-beta.1/pkg/kubectl/explain.go)), it's reasonable to get it removed entirely before 1.9.

[2017-09-22 21:32] shyamjvs commented on #51899
@jpbetz suggested (on another thread) to turn on pprof for etcd to know more about the operations from etcd side. Does someone know if there's an easy way to add test arguments to etcd (I'm finding KUBE_APISERVER_TEST_ARGS, KUBE_SCHEDULER_TEST_ARGS, etc.. but nothing like ETCD_TEST_ARGS in [config-test.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh)).

[2017-09-22 22:16] font commented on #50888
It's good to include a pointer to this issue, but I don't think the items in #41725 are going to be solved in one PR as it's really a collection of feature enhancements and bug fixes. So I think it's good to have separate issues to track individual items just as is done in #41725 item 2 linking to an open sub-issue that's tracking it.

[2017-09-22 22:30] piosz commented on #51643
@mattfarina I agree with you. The problem is even worse for Kubernetes components being developed outside of the main repo like Heapster or Cluster.

[2017-09-22 22:37] fejta-bot opened #52925 "Failure cluster [8342f5...] failed 64 builds, 2 jobs, and 2 tests over 1 days"
### Failure cluster [8342f57f69e79ef9fef9](https://go.k8s.io/triage#8342f57f69e79ef9fef9)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    2 jobs failed,    64 builds failed.
Failure stats cover 1 day time range '21 Sep 2017 19:56 UTC' to '22 Sep 2017 19:56 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-storage] Dynamic P

[2017-09-22 22:37] fejta-bot opened #52926 "Failure cluster [f34e64...] failed 56 builds, 4 jobs, and 1 tests over 1 days"
### Failure cluster [f34e645e31096ece8b66](https://go.k8s.io/triage#f34e645e31096ece8b66)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    4 jobs failed,    56 builds failed.
Failure stats cover 1 day time range '21 Sep 2017 19:56 UTC' to '22 Sep 2017 19:56 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 4 |

##### Top f

[2017-09-22 22:37] fejta-bot opened #52927 "Failure cluster [f37f41...] failed 55 builds, 5 jobs, and 7 tests over 1 days"
### Failure cluster [f37f4141e4673a71e190](https://go.k8s.io/triage#f37f4141e4673a71e190)
##### Error text:
[code]
##### Failure cluster statistics:
7 tests failed,    5 jobs failed,    55 builds failed.
Failure stats cover 1 day time range '21 Sep 2017 19:56 UTC' to '22 Sep 2017 19:56 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Kubectl client

[2017-09-22 22:38] Random-Liu commented on #51899
@shyamjvs Just to help you eliminate some possibilities. :)

We didn't update NPD version this release, it means that NPD itself doesn't change since 1.7 to 1.8. As for the start-up script, the only notable change I see is to use preloaded NPD tarball instead of downloading in-flight, which I don't think could cause this problem.

[2017-09-22 23:16] quinton-hoole commented on #50888
@font I have no problem keeping this open if you think it's useful.  I was just trying to remove duplicates, but it sounds like this is not a legitimate dupe after all :-)

[2017-09-22 23:26] mtaufen opened #52930 "Upgrade script doesn't shim COS -> GCI"
This caused some issues, see fix in: https://github.com/kubernetes/kubernetes/pull/52929.

[2017-09-22 23:34] yujuhong commented on #50115
+1. Seems a bit strange to get the list of nodes from within the cloud provider package.

+1. I think in general we need some metadata to determine whether GCP resources are managed/owned by a kubernetes cluster. Labeling might be a good solution.
I am not aware of that any existing metadata that you could rely on though.

[2017-09-22 23:35] lavalamp commented on #51899
@shyamjvs I quoted a PUT entry in my last update. I haven't had time to verify it is the cause though.

If NPD didn't change anything, perhaps the kubelet status update now includes a conflicting field? We could consider including a debug line to print out the contents of a slow request.

[2017-09-23 00:08] spiffxp commented on #49484
/priority important-soon

[2017-09-23 00:08] mbohlool commented on #38637
Thanks @apelisse. To be clear, that will push our timeline for deprecating swagger 1.2 one release (the plan is now to remove it in 1.10 now)

[2017-09-23 00:11] ixdy commented on #49484
Updating the `rules_go` dependency is blocked pending bazel 0.6.0 - #52677.

[2017-09-23 00:15] spiffxp commented on #20367
/close
I think the linked PR takes care of this, please /reopen if I'm mistaken

[2017-09-23 00:15] #20367 closed

[2017-09-23 00:17] bgrant0607 commented on #52670
As for general properties, such as cases where the LB is not functioning, I agree those should just be fields, as proposed in #7856. Further motivation is discussed in #34363 and #1899.

As for cloud-specific properties or other types of extensions (e.g., with kube-proxy replaced by another solution), I think we have a number of cases where we need that across the system. Some are discussed in #31

[2017-09-23 00:24] mansurali901 commented on #35378
I was able to handle this situation by performing these action.

Step 1
I have updated my VM Configuration and added more cpu (atleast 2 CPU)

Step : 2
I did remove all previous configuration of wavenet

Step 3
Re apply with below yaml file.
kubectl apply -f https://github.com/weaveworks/weave-kube/releases/download/latest_release/weave-daemonset.yaml

[2017-09-23 00:30] tallclair commented on #52827
To echo what everyone else has already said:

Until we define any Kubernetes profiles, I think it's OK to leave the profile format up to the runtime (especially since seccomp is still in alpha).

Once we add a Kubernetes default profile(s), or when we push seccomp to beta, we should settle on the OCI spec, which seems like the clear path forward.

[2017-09-23 00:30] tallclair commented on #52827
Closely related: https://github.com/kubernetes/kubernetes/issues/39128

[2017-09-23 00:35] tallclair commented on #20870
Closing in favor of https://github.com/kubernetes/features/issues/135

[2017-09-23 00:35] #20870 closed

[2017-09-23 00:42] oomichi commented on #43658
How about adding checks for API conventions at https://github.com/kubernetes/kubernetes/blob/33584929ff2a5b7a86ec6bea00063932e4505c8b/staging/src/k8s.io/client-go/transport/round_trippers.go#L410 ?
At the place, we can access both API request and response and the violation check implementation is possible, I feel.

[2017-09-23 01:05] liggitt commented on #50945
@cheftako any update on the investigation?

[2017-09-23 01:12] gtpgi commented on #23404
@thockin-cc Thanks for the hexdump hint. I had the same problem with k8s secrets adding an extra character and saw the Vim was adding a newline on my secret files. Using the fixes described in https://stackoverflow.com/questions/1050640/vim-disable-automatic-newline-at-end-of-file I edited the files to remove the ending newline and re-created the secrets. They worked perfectly after that.

[2017-09-23 01:27] gnufied commented on #52925
/sig storage

[2017-09-23 01:33] shyamjvs commented on #51899
Yup.. Saw that. But those calls from controller-manager are super rare compared to the PATCHs from kubelet and npd. I checked for one of the runs it was something like 4000 PUTs compared to 6 million PATCHs and that too happening just for a couple of minutes twice during the test which should hardly effect the 99th %ile.

[2017-09-23 01:38] shyamjvs commented on #51899
Update: I confirmed that commit 11299e3 was healthy with the following top latencies (which all seem normal):

[code]

[Run-27](https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-performance) (commit 034c40be6f46) was unhealthy. So we now are sure about the range.

[2017-09-23 02:22] #50850 closed

[2017-09-23 03:52] hzxuzhonghu commented on #52909
Current logic is to retry with backoff when kinds of timeout, server suggest, internal server error.  But some times when server use reverse proxy, Gateway Timeout may caused by server down. In this case, client should not try, unless audit event is very important.  However, Backoff retry is not very terrible when we limit the send routine #52907

[code]

[2017-09-23 03:56] lichuqiang commented on #52902
We met the same issue before, but it seems not suggested to label nodes via API(Remembered seeing this conclusion in a issue, but could not find it right now), To label nodes through local configuration with kubelet flag "--node-labels" could avoid the sync matter.
Anyway, we added the check for sync in kubelet in our internal version.

[2017-09-23 04:01] #47265 closed

[2017-09-23 04:12] hzxuzhonghu commented on #52909
But I think to make it work more reliably, client should set timeout. This is controllable, otherwise client may be suspended until a very long time.   So explicitly set http timeout is necessary.

[2017-09-23 04:20] #42995 closed

[2017-09-23 06:35] #51280 closed

[2017-09-23 07:17] knagware9 commented on #52852
any resolution of the issue

[2017-09-23 07:52] gmarek commented on #51899
#51603 (merged Sep 6) - no op (fixes initialization order)
#49257 (merged Aug 31) - no op on normal clusters (flag gated)
#50738 (merged Aug 29) - no op (I guess - replaces old deepCopy with new deepCopy)
#49524 (merged Aug 7) - no op (adds ability to add/remove multiple taints in helper functions)
#49870 (merged Aug 1) - no op (variable rename)
#47952 (merged Jul 12) - no op (doesn't change any A

[2017-09-23 07:57] gmarek commented on #51899
OTOH we were seeing NC-originated update conflicts when Nodes were dying because of OOMs (the collisions are with NPD/Kubelet).

[2017-09-23 08:46] #51964 closed

[2017-09-23 08:47] #51704 closed

[2017-09-23 08:47] #51887 closed

[2017-09-23 08:55] crassirostris commented on #52909
Makes sense

Another possibility -- 502, caused by crashed backend replica behind a proxy

Agree

[2017-09-23 10:29] surajssd opened #52939 "With static pods kubelet won't update the changed config"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I change the config in `/etc/kubernetes/manifests` Kubelet picks up the new updated config, so it just starts the pod again and does not delete the pod with old config.

**What you expected to happen**:

I expected it to update the config in place of the running static pod

**Environment**:

- Kubernetes version (us

[2017-09-23 10:30] vladimir-vg commented on #23404
Tried with hexdump, and turns out that I was wrong. There is a '\n' in the file, sorry for misleading.
Vim was hiding it from me.

[2017-09-23 10:32] surajnarwade commented on #52939
+1, same thing happening with me as well

[2017-09-23 12:40] #50024 closed

[2017-09-23 12:59] zhangxiaoyu-zidif commented on #46636
I like to continue this job and prepare to send a PR to make kubernetes support cephfs fuse mounting.

[2017-09-23 13:00] zhangxiaoyu-zidif commented on #46636
/assign @rootfs
I think this task would be valuable. =)

[2017-09-23 13:16] #52070 closed

[2017-09-23 13:16] #29911 closed

[2017-09-23 14:14] mattjmcnaughton commented on #52271
You make a great point about the manual white list becoming out of date - and I think its particularly convincing that that's happened in practice.

I have two ideas:

1. Do you think that having two options - `make clean` and `make clean_all` - like in the diff - helps address this? The typical developer can use `make clean` on their local system, while automated processes creating builds can use

[2017-09-23 14:29] yurig93 commented on #52906
The device is no longer mounted :(

[2017-09-23 14:55] #51396 closed

[2017-09-23 15:09] #46778 closed

[2017-09-23 15:29] justinsb commented on #52331
So I think this might actually be a bigger issue, potentially worthy of consideration as a release-blocker cc @jdumars .  I think the fix is simple though - just bump the CNI version in our scripts & e2e and restart testing.  Hopefully we're already doing that somewhere and I am wrong.

So I believe kubernetes is using SHA 0799f5732f2a11b329d9e3d51b9c8f2e3759f2ff

https://github.com/kubernetes/kub

[2017-09-23 16:14] #22609 closed

[2017-09-23 16:16] divyenpatel commented on #52884
Thanks @dims installed `binfmt-support` and `qemu-user-static` packages on the docker host, and that has resolved this issue.

[2017-09-23 16:16] #52884 closed

[2017-09-23 16:35] dims commented on #52884
perfect! @divyenpatel

[2017-09-23 17:26] #49796 closed

[2017-09-23 18:13] mikebrow commented on #39128
I prefer to stay with the OCI spec, so we don't have to define a new one and can use one that is a standard.

[2017-09-23 19:34] #52729 closed

[2017-09-23 19:34] #52813 closed

[2017-09-23 20:23] #49256 closed

[2017-09-23 20:40] #51655 closed

[2017-09-23 20:40] #49398 closed

[2017-09-23 21:06] msau42 commented on #49793
cc @kubernetes/sig-storage-feature-requests

[2017-09-23 21:09] liggitt commented on #10387
dupe of https://github.com/kubernetes/kubernetes/issues/13110

[2017-09-23 21:09] #10387 closed

[2017-09-23 21:13] liggitt commented on #12742
closing in favor of kubernetes/features#92

[2017-09-23 21:13] #12742 closed

[2017-09-23 21:15] liggitt commented on #13868
closing in favor of https://github.com/kubernetes/kubernetes/issues/22179 which appears to be a dupe and has a lot more discussion

[2017-09-23 21:15] #13868 closed

[2017-09-23 21:16] liggitt commented on #13868
also see kubernetes/community#756

[2017-09-23 21:19] liggitt commented on #22179
closing in favor of kubernetes/community#756 and #52077

[2017-09-23 21:19] #22179 closed

[2017-09-23 21:21] liggitt commented on #2204
closing for lack of movement. could be implemented on top of RBAC with a binding-removing controller, or via a webhook authorizer.

[2017-09-23 21:21] #2204 closed

[2017-09-23 21:25] liggitt commented on #23585
webhook is preferred method for injecting additional authorization methods

[2017-09-23 21:25] #23585 closed

[2017-09-23 21:26] liggitt commented on #26477
closing for lack of information

[2017-09-23 21:26] #26477 closed

[2017-09-23 21:29] liggitt commented on #29769
short-lived tokens can be obtained/renewed using the OIDC kubectl auth provider - https://kubernetes.io/docs/admin/authentication/#openid-connect-tokens

other custom MFA solutions can be injected using an authenticating proxy (https://kubernetes.io/docs/admin/authentication/#authenticating-proxy), though depending on the method used, kubectl would not have native support for it

[2017-09-23 21:29] #29769 closed

[2017-09-23 21:30] liggitt commented on #32723
request authorization only includes user info and resource info available from the HTTP verb and URL.

webhook admission or initialization can be used to introspect request contents to enforce policy decisions - https://kubernetes.io/docs/admin/extensible-admission-controllers/#overview

[2017-09-23 21:30] #32723 closed

[2017-09-23 21:32] liggitt commented on #28618
duplicate of https://github.com/kubernetes/kubernetes/issues/2136

[2017-09-23 21:32] #28618 closed

[2017-09-23 21:33] #52700 closed

[2017-09-23 21:33] liggitt commented on #2136
if we assume service accounts are not privileged by default, and that the cluster under test is using RBAC, we can easily add this test. I know those assumptions have not always been valid in the past

[2017-09-23 22:16] shyamjvs commented on #51899
Commit 99a9ee5a3c is unhealthy:

[code]

New range - https://github.com/kubernetes/kubernetes/compare/11299e363c538c...99a9ee5a3c52

[2017-09-23 22:25] #49521 closed

[2017-09-23 22:26] #50613 closed

[2017-09-23 22:38] fejta-bot opened #52952 "pr:pull-kubernetes-e2e-kubeadm-gce flaked 64 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-kubeadm-gce
 Flakes in the past week: **64**
 Consistency: **90.60%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 114 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2017-09-23 22:38] fejta-bot opened #52953 "Failure cluster [123522...] failed 73 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [123522f3738a58f23dfc](https://go.k8s.io/triage#123522f3738a58f23dfc)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    73 builds failed.
Failure stats cover 1 day time range '22 Sep 2017 20:21 UTC' to '23 Sep 2017 20:21 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 2 |

####

[2017-09-23 22:38] fejta-bot opened #52954 "Failure cluster [968c18...] failed 66 builds, 3 jobs, and 1 tests over 1 days"
### Failure cluster [968c18a790481df2fe53](https://go.k8s.io/triage#968c18a790481df2fe53)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    3 jobs failed,    66 builds failed.
Failure stats cover 1 day time range '22 Sep 2017 20:21 UTC' to '23 Sep 2017 20:21 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Federation Up | 3 |

##

[2017-09-23 22:38] fejta-bot opened #52955 "Failure cluster [c49044...] failed 58 builds, 10 jobs, and 13 tests over 1 days"
### Failure cluster [c49044b7fa3094fa3e5a](https://go.k8s.io/triage#c49044b7fa3094fa3e5a)
##### Error text:
[code]
##### Failure cluster statistics:
13 tests failed,    10 jobs failed,    58 builds failed.
Failure stats cover 1 day time range '22 Sep 2017 20:21 UTC' to '23 Sep 2017 20:21 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-apps] StatefulSe

[2017-09-23 23:26] #50644 closed

[2017-09-24 00:20] #11233 closed

[2017-09-24 01:48] #45947 closed

[2017-09-24 01:56] liggitt commented on #35909
closing for lack of information?

[2017-09-24 01:56] #35909 closed

[2017-09-24 02:00] liggitt commented on #33714
to use service accounts, the apiserver must be started with the ServiceAccount admission plugin and the service account token public key, and the controller manager must be started with the service account token signing key - see https://kubernetes.io/docs/admin/service-accounts-admin/

[2017-09-24 02:00] #33714 closed

[2017-09-24 02:06] liggitt commented on #38749
closing due to age and lack of information, but this part stands out as a possible issue:
[code]
the client certificate presented must have a valid key usage of client authentication, not just be a server certificate

[2017-09-24 02:06] #38749 closed

[2017-09-24 02:07] wzhliang commented on #52141
Any update?

[2017-09-24 02:08] liggitt commented on #36729
is this still an issue?
cc @kubernetes/sig-node-bugs

[2017-09-24 02:18] liggitt commented on #52754
fixed in 1.8

[2017-09-24 02:18] #52754 closed

[2017-09-24 02:19] liggitt commented on #48629
closing due to lack of information

[2017-09-24 02:19] #48629 closed

[2017-09-24 02:19] liggitt commented on #48628
closing due to lack of information

[2017-09-24 02:19] #48628 closed

[2017-09-24 02:23] liggitt commented on #48537
an ACL-filtered list API is a very different type of API from traditional Kubernetes APIs. It has implications on resource version and watch (neither can be supported in a way that works well with existing list/watch informers)

an example of what this could look like is available as an extension API server at https://github.com/openshift/kube-projects that surfaces a new resource (`projects.proje

[2017-09-24 02:24] liggitt commented on #48419
@kubernetes/sig-api-machinery-bugs

[2017-09-24 02:25] liggitt commented on #48282
@mikedanese is this still an issue?

[2017-09-24 02:28] liggitt commented on #42198
reverted in b95f5286c15968ccd47f574dbebfe6831d77c404, file is still generated when abac is requested, abac is disabled by default in 1.8

[2017-09-24 02:28] #42198 closed

[2017-09-24 02:31] liggitt commented on #40754
is this still an issue? are you running your apiserver with `--etcd-quorum-read` on?

[2017-09-24 02:33] liggitt commented on #40724
closing due to lack of information

[2017-09-24 02:33] #40724 closed

[2017-09-24 02:36] liggitt commented on #39990
I think the node bootstrap and ABAC deprecation in 1.8 completes the remaining items. @cjcullen, can you verify and close if so?

[2017-09-24 02:47] liggitt commented on #40512
@sanderploegsma are you still seeing this? are there any corporate proxies in play? I'm wondering if this is related to https://github.com/golang/go/issues/16589

[2017-09-24 02:49] #51732 closed

[2017-09-24 02:49] #52698 closed

[2017-09-24 02:55] liggitt commented on #49804
you do need to add `--service-account-key-file=/etc/kubernetes/service_account.key` to the API server startup args, but you do not need to set `--secure-port=0`

the rest of the setup for running the token controller looks right to me

[2017-09-24 02:56] m1093782566 opened #52957 "Add ipvs sync period parameters - align to iptables proxier"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-09-24 02:56] liggitt commented on #50847
issues with seeing contents of a secret or configmap mounted inside a container are more @kubernetes/sig-storage-bugs or @kubernetes/sig-node-bugs

[2017-09-24 02:57] m1093782566 commented on #52957
/sig network

[2017-09-24 02:58] liggitt commented on #50432
closing due to lack of information

[2017-09-24 02:58] #50432 closed

[2017-09-24 03:00] liggitt commented on #51509
I see you have `--apiserver-count=3`

Do all three apiservers have identical `/etc/kubernetes/token.csv` files?

[2017-09-24 03:05] liggitt commented on #43924
cc @kubernetes/sig-node-bugs for image pulling issue

if you go to the node in question and try `curl -v https://gcr.io/v1/_ping`, do you see a successful response?

[2017-09-24 03:07] #3889 closed

[2017-09-24 03:15] liggitt commented on #48885
can short-circuit in the PSP admission plugin for updates that change only finalizer-related fields

[2017-09-24 03:19] liggitt commented on #25435
this is an kubelet/image pull issue
@kubernetes/sig-node-bugs

[2017-09-24 03:27] liggitt commented on #47398
your log indicates you are running your calico pods with the `default` service account in the `kube-system` namespace. the RBAC example from calico grants permissions to the `calico-node` and `calico-policy-controller` service accounts, and is intended to be used with manifests that set up pods to run as those service accounts. I would recommend getting both the RBAC and calico manifests from the

[2017-09-24 03:27] #47398 closed

[2017-09-24 03:33] liggitt commented on #40067
prior to k8s 1.8, to make use of the info in the `--kubeconfig` passed to the kubelet, you may need to also specify `--require-kubeconfig`

[2017-09-24 03:36] #50810 closed

[2017-09-24 03:38] liggitt commented on #50526
I'm not sure exactly what the question is...

the referenced package is at https://github.com/kubernetes/kubernetes/tree/master/pkg/kubectl/cmd/util

the different providers that kubectl uses to fetch dynamic credentials are at https://github.com/kubernetes/client-go/tree/master/plugin/pkg/client/auth

the transport that is built from a kubeconfig file (including a static bearer token or dynamic a

[2017-09-24 03:38] #50526 closed

[2017-09-24 03:39] liggitt commented on #51501
actually, is this a dupe of https://github.com/kubernetes/kubernetes/issues/36847?

[2017-09-24 03:55] #52405 closed

[2017-09-24 03:55] #52626 closed

[2017-09-24 03:55] #48550 closed

[2017-09-24 04:03] smarterclayton commented on #25435
I recently did some more security work on this - we can only safely normalize 443 - we should not normalize 80 because you should explicitly indicate you want your secret going over the wire unprotected (same behavior as the daemon)

[2017-09-24 04:26] suneeta-mall commented on #52890
/sig area/apiserver

[2017-09-24 04:29] suneeta-mall commented on #52890
@kubernetes/sig-api-machinery-bug

[2017-09-24 04:49] liggitt commented on #52890
this is simply using glog and a stringified time.Duration:

https://github.com/kubernetes/kubernetes/blob/63cc42a861be4351cfe5274d203c4e3386dacf59/staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go#L151

the `µ` character (U+00B5) is two bytes (0xC2 0xB5):
[code]

that is not the same as two unicode code points U+00C2 (Â) and U+00B5 (µ)

[2017-09-24 04:49] #52890 closed

[2017-09-24 04:52] liggitt commented on #52720
build should be done using the makefile, which ensures correct vendor environment and prerequisites are built:

[code]

[2017-09-24 04:52] #52720 closed

[2017-09-24 04:52] #52393 closed

[2017-09-24 04:53] #52782 closed

[2017-09-24 04:54] liggitt commented on #45498
is this resolved?

[2017-09-24 05:06] liggitt commented on #36177
Thanks for the pointer to the project. It's great to see examples of projects that plug into the kubernetes extension points without needing to be in-tree

[2017-09-24 05:06] #36177 closed

[2017-09-24 05:10] liggitt commented on #11763
authorization union is supported. pluggable service account auth is likely to go more in the direction of container identity - see https://github.com/kubernetes/community/tree/master/wg-container-identity

[2017-09-24 05:10] #11763 closed

[2017-09-24 05:12] liggitt commented on #20343
audit feature supports including contents of requests - https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#audit-policy

[2017-09-24 05:12] #20343 closed

[2017-09-24 05:13] #39712 closed

[2017-09-24 05:57] #52202 closed

[2017-09-24 06:46] dyatom commented on #52720
Sorry, but i didn't understand the solution here, i am following https://kubernetes.io/docs/getting-started-guides/windows/ to install K8S on windows and the instruction are to build the proxy using go build.
i downloaded make for windows and i am not able to compile proxy.go via make.
can you please elaborate a bit more?

[2017-09-24 08:49] andyzhangx commented on #52812
https://github.com/kubernetes/kubernetes/pull/50673 already fixed this issue, need to cherry-pick to v1.7, I will follow it.

[2017-09-24 08:55] andyzhangx commented on #42628
@xiangpengzhao
Azure file mount on windows depends on windows 2016 RS3 image, which is about to release around Oct, there is already a PR(https://github.com/kubernetes/kubernetes/pull/52469) for this, I will notify you when it's ready on azure. Thanks.

[2017-09-24 09:22] andyzhangx commented on #50883
for the "limit for storage account numbers per subscription" issue, I have another issue to track this: https://github.com/kubernetes/kubernetes/issues/52396, will fix it in v1.9 and cherry pick to v1.8, v1.7

[2017-09-24 09:47] xiangpengzhao commented on #42628
@andyzhangx thanks! ping @arnouthoebreckx

[2017-09-24 09:57] andyzhangx commented on #52605
#52469 is merged

[2017-09-24 10:35] #47224 closed

[2017-09-24 11:11] shyamjvs commented on #51899
Commit cbe5f38ed2 is unhealthy:

[code]

New range - https://github.com/kubernetes/kubernetes/compare/11299e363c538c...cbe5f38ed21

[2017-09-24 11:30] #52854 closed

[2017-09-24 11:30] #52930 closed

[2017-09-24 11:45] sanderploegsma commented on #40512
I haven’t seen this issue for the last couple of months, now that you mention it. As far as I’m concerned this is fixed!

[2017-09-24 12:13] liggitt commented on #40512
Thanks for the update

[2017-09-24 12:13] #40512 closed

[2017-09-24 12:27] #52566 closed

[2017-09-24 12:35] kargakis commented on #35507
@kubernetes/sig-apps-test-failures

[2017-09-24 12:41] kargakis commented on #35507
/remove-priority backlog
/priority important-soon

[2017-09-24 13:10] shyamjvs commented on #52347
@MrHohn Thanks for fixing!

[2017-09-24 13:28] liggitt commented on #51899
Notable things in that range:

* GCI version changed - https://github.com/kubernetes/kubernetes/commit/9fb015987b70ca84eff5694660f1dba701d10e92
* audit format changed to JSON - https://github.com/kubernetes/kubernetes/commit/130f5d10adf13492f3435ab85a50d357a6831f6e
* flex volume plugin probing became dynamic - https://github.com/kubernetes/kubernetes/commit/396c3c7c6fd008663d2d30369c8e33a58cde5ee2

[2017-09-24 13:35] yiakwy commented on #50526
Hi @liggitt , I have finished a article introducing authentication in k8s. I wish that you could kindly figure out what's the problem with it.

[2017-09-24 14:11] alok87 commented on #20876
@yujuhong Were you able to solve this? This kernel bug was solved in which version? I am facing the exact same issue and my kernel version is `4.4.78-k8s`

[2017-09-24 16:12] piosz commented on #45498
Yes. The API is defined in staging directory.

[2017-09-24 16:12] #45498 closed

[2017-09-24 16:48] gtaylor commented on #51501
Seems like it. Though, the issue description is much more detailed than #36847.

[2017-09-24 19:23] shyamjvs commented on #51899
Commit a235ba4e49 is unhealthy:

[code]

New range - https://github.com/kubernetes/kubernetes/compare/11299e363c538c...a235ba4e49451c779b8328378addf0d7bd7b84fd

[2017-09-24 20:17] msau42 commented on #47762
The test doesn't seem to be flaking in this way anymore.

/close

[2017-09-24 20:17] #47762 closed

[2017-09-24 20:57] dims commented on #51899
/me places a bet on 130f5d1

[2017-09-24 21:23] liggitt commented on #51899
The audit policy *should* be skipping logging the response contents for those:

https://github.com/kubernetes/kubernetes/blob/5f8726e427eb0b54d29485d8ea6d9c8d47851436/cluster/gce/gci/configure-helper.sh#L590-L595

[2017-09-24 22:13] suneeta-mall commented on #52890
Thanks for looking into this @liggitt. I am not quite sure if I am following where the error is coming from then.
I have a fluentd daemon set https://github.com/fluent/fluentd-kubernetes-daemonset that collects logs from all instances (nodes/masters) but master logs specifically speaking kube-apiserver.log fail to convert to UTF-8.

[2017-09-24 23:23] #52830 closed

[2017-09-25 01:15] CaoShuFeng commented on #52160
/assign

[2017-09-25 01:27] ianchakeres commented on #51431
@msau42 - Here is the relate PR for documenting the best practices discussed above.. https://github.com/kubernetes-incubator/external-storage/pull/387

[2017-09-25 01:45] ssakhuja57 commented on #52672
Thanks @yujuhong! Would you happen to know (or know who would know) when this version will be available with minikube? The latest version `v0.22.2` only has up to `1.7.5`.

[2017-09-25 02:07] x1957 commented on #46636
@zhangxiaoyu-zidif waiting for the PR, do you have a plane to support s3 fuse https://github.com/s3fs-fuse/s3fs-fuse ?

[2017-09-25 02:08] liggitt commented on #51899
looked through the audit log captured by kubemark on https://github.com/kubernetes/kubernetes/pull/52960

looks like the only unexpectedly large audit lines getting logged are `deletecollection` calls for objects, which are logging the entire returned set of deleted objects

[2017-09-25 02:31] u2takey opened #52963 "kubectl top node/pod should have option like "--watch""
/kind feature

kubectl top node/pod should have option like "--watch" for watching node/pod resource usage.

[2017-09-25 02:32] u2takey commented on #52963
/sig  area/kubectl

[2017-09-25 02:34] u2takey commented on #52963
/sig kubectl

[2017-09-25 02:35] dixudx commented on #52820
/cc

[2017-09-25 02:38] u2takey commented on #52963
/sig cli

[2017-09-25 02:41] itowlson commented on #52694
I think the code for this is in `pkg/printers/internalversion/describe.go`, currently beginning at line 2451:

https://github.com/kubernetes/kubernetes/blob/4f2d7b93da2464a3147e0a7e71d896dd2bade9ad/pkg/printers/internalversion/describe.go#L2451

That code does the following:

* Get the node from the REST API by name
* Get the pods associated with the node from the REST API by doing a List operatio

[2017-09-25 02:45] JuneZhao commented on #19937
@hyperbolic2346  I have the same requirement as you so how would you solve the issue in the end in k8s?

How was the yaml file looks like?

[2017-09-25 02:51] lavalamp commented on #52511
Are we talking about authn, authz, or both? It is not obvious to me that authn should be configurable dynamically. authz makes more sense.

I think traffic not going to stuff running on cluster nodes in all environments is a bug that should probably be fixed, although it would be super helpful to see the motivating use case because it's not obvious to me that it's good to let the auth stack be mod

[2017-09-25 02:54] julia-stripe commented on #50916
This scheduler panic has been happening in our production cluster (still running [1.7.4](https://github.com/kubernetes/kubernetes/commit/793658f2d7ca7f064d2bdf606519f9fe1229c381)) several times a day every day for the last 30 days. It doesn't appear to cause any actual scheduling issues right now (the scheduler panics, restarts, and everything seems to be fine) but it worries me that I can't figur

[2017-09-25 04:03] liggitt commented on #36847
copied additional details from duplicate issue https://github.com/kubernetes/kubernetes/issues/51501:

[2017-09-25 04:03] liggitt commented on #51501
added extra details to #36847, will track there