[2015-05-23 11:51] andronat commented on #7843
@thockin Yes of course. I thinking something like this: 8d2de53f1cb6a12a77850204d6d678958a57f3b3

A struct that is going to take care of all the formatting we need for the output. It can also be extended with other fields to satisfy other formatting requirements (e.g. long attribute per line output). It also supports a distinction between all possible printable columns and some default columns tha

[2015-05-23 14:45] sroze opened #8734 "Unable to use secret when Kubernetes is running inside Docker"
When running Kubernetes in Docker (let's say the same way explained in the Docker single node getting started guide), we can't use an secret because the filesystem refuse to be mounted.

Here's the logs I have in the kuberlet container:
[code]

[2015-05-23 14:58] pmorie commented on #8731
@pweil-
On Sat, May 23, 2015 at 2:14 AM Eric Tune <notifications@github.com> wrote:

[2015-05-23 15:06] idosh opened #8735 "Use kube DNS server from Kubelet / Node"
I tried to run the nfs example but the kubelet service couldn't resolve the host ip of nfs-server.default.kube.local.
Running ping from a pod resolves the same address successfully.

[2015-05-23 15:32] thockin commented on #8735
By default the node can not access the DNS server unless you tell her to
the exact DNS server. This is not working deal, but it's tricky to get our
name server line into  resolv.conf on so many platforms. I spent a bit of
time looking at dnsmasq today, but that still requires configuring your
resolv.conf.

Ideas wanted...
On May 23, 2015 8:07 AM, "Ido Shamun" <notifications@github.com> wrote:

[2015-05-23 15:48] mcortinas commented on #8660
Maybe, these issues is the same like https://github.com/GoogleCloudPlatform/kubernetes/issues/5739

[2015-05-23 16:15] pmorie commented on #8734
What docker version are you on? You need docker 1.6 for this to work.
On Sat, May 23, 2015 at 10:45 AM Samuel ROZE <notifications@github.com>
wrote:

[2015-05-23 16:24] sroze commented on #8734
[code]
:)

[2015-05-23 17:46] pmorie commented on #8734
Could you provide more info about your cluster? What options are you using to run the kubelet?  It looks to me from the log like the wrong mounter is being used:

[code]

In a container, the kubelet should be using the mounter from `nsenter_mount.go` instead.  Are you passing `--containerized` to the kubelet?  See the example in [local-up-cluster.sh](https://github.com/GoogleCloudPlatform/kubernet

[2015-05-23 19:01] abonas commented on #7122
Thanks for letting me know
On May 23, 2015 2:01 AM, "Jack Greenfield" <notifications@github.com> wrote:

[2015-05-23 19:59] pmorie commented on #8734
Also, is selinux enforcing?
On Sat, May 23, 2015 at 12:24 PM Samuel ROZE <notifications@github.com>
wrote:

[2015-05-23 20:03] idosh opened #8738 "How can I update secrets dynamically without recreating the pod?"

[2015-05-23 20:59] lavalamp commented on #8738
@erictune or @deads2k, do we have a plan for triggering a secret change on a pod? How would we notify the pod that the secret has changed?

[2015-05-23 21:15] pmorie commented on #8738
We still need to define the secrets update story.  Right now, the plugin is idempotent but you'll get the latest state if your node has been rebooted.

There are two parts to solving this:

1.  Changing the plugin to store the last resourceVersion of the secret written and project a newer version when it's available -- there's some overlap with the #5093 volume plugin story here since we would wan

[2015-05-23 21:17] pmorie commented on #8738
Secrets update also touched by #7648

[2015-05-23 22:22] jainvipin commented on #8714
@roberthbailey - makes sense

[2015-05-23 23:17] liggitt commented on #8738
I thought the latest data in the secret got pulled on every pod create. Didn't realize the node only grabbed the secret the first time it was mounted.

[2015-05-23 23:42] pmorie commented on #8738
Our original design had them being immutable
On Sat, May 23, 2015 at 7:17 PM Jordan Liggitt <notifications@github.com>
wrote:

[2015-05-24 01:47] aronchick commented on #8350
One additional layer to this is when kube-up fails halfway through. It's not obvious that I need to run kube-down.sh if it bails, because permanent disks/fw rules/etc have been created, and trying to kube-up.sh again fails if those are present.

[2015-05-24 03:00] lavalamp commented on #8738
I would kinda expect some sort of rotation story rather than direct mutation. But I guess it's nice to support both?

[2015-05-24 03:03] lavalamp commented on #8726
@jackgr @prielly

[2015-05-24 03:19] caesarxuchao commented on #8619
Hi @alexei-led, how do you compile kubectl on Mac?

[2015-05-24 03:36] justinsb opened #8742 "monit tries to run second instance of kubelet every 2 minutes after reboot (?)"
During an e2e test run, on GCE, I ssh-ed into the box.  After the reboot test runs, it appears that something is trying to start kubelet every 2 minutes after the reboot:

[code]

It does appear that it is monit restarting the process:

[code]

I do only have one copy of kubelet running, because the second kubelet fails to start:

[code]

[2015-05-24 03:45] justinsb commented on #8742
The direct cause of monit thinking the kubelet is down is that /var/run/kubelet.pid does not match.

[code]

[code]

Also, /var/log/kubelet.pid keeps changing (every two minutes?)

My hypothesis is that the second kubelet writes the pid, because it gets pretty far in its boot-up.  And thereafter, monit sees it as down so keeps trying to start more.

And so the root cause is that _first_ second kub

[2015-05-24 03:51] justinsb commented on #8742
Oh! ... or it's a simple race with init.d starting the services; monit vs kube-proxy. If monit starts kube-proxy before init.d starts kube-proxy => double start.

[2015-05-24 04:37] alexei-led commented on #8619
I'm using already compiled version.

[2015-05-24 04:44] pmorie commented on #8738
By direct mutation, do you mean having the volume plugin implement some
kind of eventual consistency without restarting the pod?
On Sat, May 23, 2015 at 11:00 PM Daniel Smith <notifications@github.com>
wrote:

[2015-05-24 04:46] thockin opened #8744 "some binaries are linking test libs"
kube-apiserver help:

      --test.bench=: regular expression to select benchmarks to run
      --test.benchmem=false: print memory allocations for benchmarks
      --test.benchtime=1s: approximate run time for each benchmark
      --test.blockprofile=: write a goroutine blocking profile to the named file after execution
      --test.blockprofilerate=1: if >= 0, calls runtime.SetBlockProfileRate()

[2015-05-24 04:50] justinsb opened #8745 "e2e test for tmpfs must specify RestartPolicy: RestartPolicyNever"
In test/e2e/empty_dir.go, we run a pod that basically runs once and logs status about the mounts, which we then validate.

In the test, we start the pod, wait for it to exit, and then get the logs.

But, we don't specify a restart policy.  The default is restart always.  So it will keep restarting.  So testContainerOutputInNamespace, which calls waitForPodSuccessInNamespace, will never exit: `ci.S

[2015-05-24 05:29] pmorie commented on #8745
Very good question.
On Sun, May 24, 2015 at 12:50 AM Justin Santa Barbara <
notifications@github.com> wrote:

[2015-05-24 05:32] brendandburns opened #8748 "e2e test needed for session affinity"

[2015-05-24 05:34] roberthbailey commented on #8742
/cc @dchen1107

[2015-05-24 07:12] pmorie opened #8749 "Resource quota example missing README.md"
Resource quota example is missing readme.  Was it once there and was accidentally deleted?

[2015-05-24 08:00] caesarxuchao commented on #8619
@alexei-led, I never used OSX before. I'm trying to build the working environment on OSX. Where do you run the cluster?

@bgrant0607, is kubectl supposed to work on OSX?

[2015-05-24 08:14] WIZARD-CXY commented on #8373
@linfan I update the scripts in pr #8752, you can try it now.
I copied the kubectl binary from the kubernetes release and put it in `cluster/ubuntu/binaries/`, so there is no extra step for user to manually download `kubectl` .
Actually, in the first version of ubuntu k8s deployment, I copied the `kubectl` to every node, but I think it is an overhead, so I removed it.I think this is just enough.

[2015-05-24 08:29] WIZARD-CXY commented on #8373
Doc update : Move the kubectl into the PATH

[2015-05-24 08:57] farcaller opened #8753 "/minions not available for api v1beta3"
Just got a clean deployment of 0.17.1, and there seem to be an issue with kubectl:

[code]

Indeed, requesting `https://10.241.1.1:6443/api/v1beta3/minions` returns:

[code]

Specifying older api version works though:

[code]

[2015-05-24 09:33] alexei-led commented on #8619
I'm running cluster in Virtualbox, using Vagrant

[2015-05-24 12:36] justinsb commented on #8745
Also, I want to apologize - my comments could be read as much harsher than I intended.  Rather it is very confusing to me, because usually this test does pass, and I can't understand how.  I am really hoping that if we can figure out why/when it passes, then maybe we can see if the same thing is the cause of some of the other flakes.

Ideas as to when it might work:

1) Maybe the retry loop eventu

[2015-05-24 13:52] justinsb opened #8754 "e2e flake (?) in "[Performance suite] should allow starting 30 pods per node.""
I saw the below failure in [Performance suite] should allow starting 30 pods per node.  Some requests with verb:PROXY took more than 10 seconds, and are causing the test to fail.

I think that proxy issues are a different test, right?  (maybe testMonitoringUsingHeapsterInfluxdb?) And that this taking > 10 seconds could be very reasonable, depending on what we're proxying.

There is this note in de

[2015-05-24 14:03] justinsb commented on #8229
It's a stock setup.  It doesn't seem to be leaking on GCE with the e2e tests.

We do have some processes running on this cluster that use the k8s API, including watching for changes.  These are our own code; my guess is that I messed up in some way here.

This would make sense because it would explain why nobody else has hit this.  I'll try to see if I can figure out what we're doing that is wrong

[2015-05-24 14:05] justinsb commented on #8384
I think the issue is that the build fails on my fork, but then passes on the PR build.  It must be a setting in Travis on my fork, or something I messed up in my fork.

[2015-05-24 14:12] justinsb commented on #8723
Another reason for an ACL mechanism for LoadBalancer: it typically costs money (~ $20 for 5 rules on GCE, $15 each LB on AWS), and you typically can't create very many per cloud account (on AWS, the default limit is 20 per region).

[2015-05-24 14:25] justinsb opened #8755 "Pod spec.volumes.rbd included when empty"
"rbd:null" is included in a `kubectl get pods -ojson` (during the e2e tests on tmpfs).  I don't know whether the root cause is that the pointer is being populated or whether we just need omitEmpty...

[code]

[2015-05-24 14:40] justinsb opened #8756 "Should we use Docker events?"
Docker events give us a streaming HTTP feed of events that happen on the Docker daemon:
http://gliderlabs.com/blog/2015/04/14/docker-events-explained/

I think we're currently just polling the Docker API.

If we used events instead, I think we could

1) Reduce the delay after a container stop event to where it is reported to k8s.  (This is how I noticed this)
2) Reduce the interval with which we p

[2015-05-24 14:52] justinsb commented on #8756
(What I observed was that e.g. the e2e test for tmpfs creates a one-off, short-lived Docker container.  That runs to completion within a second or two.  But we have to wait ~15 seconds for kubelet to notice that it has finished, and post the completion status into k8s)

[2015-05-24 16:20] justinsb opened #8758 "e2e flake following resize test: Cannot start container <id>: no available ip addresses on network"
Running  e2e tests on GCE, I saw a failure on "should provide DNS for the cluster".  The test reported this error:

[code]

This happened when dns was run immediately after "ResizeNodes / should be able to delete nodes."

I SSHed in to the minion, and saw that kubelet had restarted, but had this error around this time in /var/log/kubelet.log:
[code]

Things I think are suspicious:

* `404 while fe

[2015-05-24 16:28] justinsb opened #8759 "e2e tests are order-dependent"
Maybe we should have two e2e test runs in Jenkins, one that always runs in the same order, and one that runs in a random order.  That way we can differentiate always-regressions (on the same-order test) from probably-regressions (random-order test).

[2015-05-24 16:39] aveshagarwal commented on #8725
@eparis sure.

[2015-05-24 16:46] justinsb commented on #8758
So looking at the code, I think kubelet on first update writes a NodeStatus that wipes node.Spec.PodCIDR.  And then it waits NodeStatusUpdateFrequency (10 seconds) before trying again.  I think the node controller should update every 5 seconds, so it should have a node.Spec.PodCIDR by the next go-around.

So the issue is that after a host reboot docker presumably comes up without a cbr0, and then

[2015-05-24 17:02] justinsb opened #8760 "Should we expose a reason for LoadBalancer creation failure?"
If a LoadBalancer cannot be created (e.g. quota limit hit), there is currently no way to know why other than reviewing the logs (?).  We could put an status message / object into LoadBalancerStatus.

[2015-05-24 17:14] pmorie commented on #8760
We could make an event for this too
On Sun, May 24, 2015 at 1:02 PM Justin Santa Barbara <
notifications@github.com> wrote:

[2015-05-24 18:36] a-robinson commented on #8394
+1, these belong elsewhere, there just hasn't been an urgent need to do so

[2015-05-24 18:38] a-robinson commented on #7753
The target pool leak in the code might be fixed, but the forwarding rule + target pool leak from deleting GKE clusters too quickly is certainly still happening. Reopening for the sake of that half of the issue.

[2015-05-24 18:39] a-robinson commented on #7753
Can we just add a short sleep to jenkins after the last test has run before it deletes anything?

[2015-05-24 18:50] kelseyhightower commented on #8571
I have confirmed this is also an issue on VMware, which leads me to believe this might be affecting most platforms.

[2015-05-24 20:09] delianides commented on #8753
I believe this is expected. In v1beta3 /minions was renamed to /node.

https://github.com/GoogleCloudPlatform/kubernetes/blob/4ba22e713ad95dfb308d0b9aca7ac9d980414bf6/docs/api.md#v1beta3-conversion-tips

[2015-05-24 20:33] #8753 closed

[2015-05-24 20:43] quinton-hoole commented on #8759
+1

[2015-05-24 20:44] quinton-hoole commented on #8759
This is pretty trivial to do, and will provide a better signal of regressions.

[2015-05-24 20:58] lavalamp commented on #8760
+1 for event

[2015-05-24 20:59] justinsb commented on #8756
The reason I think this is important is that it makes k8s look bad; I thought that k8s was slow to start up a container, but in fact k8s was just slow to tell me the container had started.  But I guess this also slows down things dependent on the API, for example setting up a load-balancer to target those containers.

One maybe-for-V1 option would be to do a targeted poll on certain "important" ev

[2015-05-24 21:01] pmorie commented on #8745
@justinsb I think I've got a break in the case:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/util.go#L259-L279

We're only looking at the termination status, not the pod status.

Looks like we should be able to refactor this to use PodStatus; #2632 is closed out.

[2015-05-24 21:03] lavalamp commented on #8758
Yes, there's already an issue filed about cbr0 timing, which I can't find. @roberthbailey @a-robinson One of you might know the status of that?

And now that you've posted the logs, which include the event printout I just added specifically to try and find this, I see that the flake in the DNS test is probably just this. Been trying to find that for a while now. Thanks! \o/

[2015-05-24 21:06] lavalamp commented on #8756
v1.0 candidate because our goal is < 5 seconds between creation & notify running (assuming images already pulled

[2015-05-24 21:07] lavalamp commented on #8756
@fgrzadkowski @wojtek-t @davidopp

[2015-05-24 21:08] lavalamp commented on #8755
omitempty would probably make it go away.

[2015-05-24 21:09] lavalamp commented on #8754
Yeah we should clearly exclude proxy from those metrics. @bprashanth @fgrzadkowski @wojtek-t

This test is still being actively worked on :)

[2015-05-24 21:11] farcaller opened #8761 "kubelet 0.17.1 silently ignores malformed auth-path JSON"
Based on the `/var/lib/kubelet/kubernetes_auth`:
[code]

kubelet starts successfully and then fails to authenticate to apiserver as there's no cert and key configured (notice the missing comma in the `KeyFile` line). Failing to parse JSON here should be a hard fail.

[2015-05-24 21:45] lavalamp commented on #8758
Hrm... the issue I was thinking about was #8581... assuming you're sync'd to head you should NOT be seeing this.

[2015-05-24 21:52] lavalamp commented on #8758
Hm... rereading #8581... it seems we were thinking that it wasn't that bad because it didn't permanently break the node. Maybe that is a questionable decision.

[2015-05-24 21:53] lavalamp commented on #8581
The puzzle is resolved, but kubelet still reboots docker potentially after having started pods, which is a bad user experience. See #8758. Reopening for discussion.

[2015-05-24 22:02] thockin commented on #7843
How does it get exposed to users?  That matters most.

On Sat, May 23, 2015 at 4:51 AM, Anastasis Andronidis <
notifications@github.com> wrote:

[2015-05-24 22:06] andronat commented on #7843
@thockin I didn't finish this part yet , but I am going to use some flags like this comment: https://github.com/GoogleCloudPlatform/kubernetes/issues/7843#issuecomment-104821801

Any suggestions are welcomed

[2015-05-24 22:07] jimmidyson commented on #8756
Also see #8620: docker daemon gets hammered with request even on small installations. Assume moving to docker events will reduce resource consumption too.

[2015-05-24 22:13] eparis opened #8762 "Build fails with unknown package test/e2e/e2e.test"
commit cf7b0bdc2a41d38613ac7f8eeea91cae23553fa2
golang-1.4.2

only thing interesting is that I do not have write permission on /usr/lib/golang/pkg so it is using the go build fallbacks instead of go install, but i'm not sure how that relates to this...

[code]

[2015-05-24 22:14] thockin commented on #8738
I think we can and probably should implement updates for secrets, atomic in
the same way as downward API should be.  We can add a file that is a
notifier of some sort (design TBD but not very complicated).

Something like a special file we update when a new resourceVersion of the
sercret is written.

Whether this lands before 1.0 is dubious.

On Sat, May 23, 2015 at 9:45 PM, Paul Morie <notificati

[2015-05-24 22:38] thockin commented on #8760
I think that is reasonable, but we need to be careful how we define it.
Event also sounds good.

On Sun, May 24, 2015 at 10:03 AM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-05-24 22:43] thockin commented on #7843
I think we're pretty open to design, but I want to see it written in
English before being written in Go :)

On Sun, May 24, 2015 at 3:06 PM, Anastasis Andronidis <
notifications@github.com> wrote:

[2015-05-24 22:45] eparis commented on #8762
hack/build-go.sh --use_go_build test/e2e/e2e.test

appears to be the fastest reproducer.

[2015-05-24 22:45] andronat commented on #7843
I'll compile a list asap then

[2015-05-25 00:58] andronat commented on #7843
**Problem**: Output from `HumanReadablePrinter` is some times too long and inflexible

**Target**:
* Create flexible way on managing the number and format of columns
 * The user can define which columns to be printed and in which order exclusively
   * `-o IP,POD,IMAGE` will print only those 3 columns in this order
 * Support default columns on printing
   * ATM `get pods` is printing 9 columns, w

[2015-05-25 01:29] njuicsgz commented on #7091
Tried by E2E, it works! And it can be closed.
Well done.

[2015-05-25 02:01] justinsb commented on #8758
I agree it doesn't permanently break the node, but it does break e2e tests :-)   I propose that we extend the reboot & cluster resize tests to test whatever behaviour we want (i.e. that the kubelet comes back online), which would then mean these tests wouldn't spill over into other tests.

(And just to confirm: I'm synced to head + a few of my active PRs which I don't believe to be related to this

[2015-05-25 02:06] roberthbailey commented on #8761
The auth-path flag to the kubelet is [deprecated](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kubelet/app/server.go#L208-L209) and will likely be removed before we hit the 1.0 release.

[2015-05-25 02:11] bengong2015 commented on #8652
I can ping a backend pod on its host machine. For example, their is a container running on minion 202.120.11.54, the backend ip (--bip=172.17.0.129/25) is 172.17.0.129. I can ping this ip on minion 54, but the accessing from other way failed. It seem that the flannel doesn't work. However, the endpoints of kubenetes has been automatically created with arg '172.17.0.129:8087'.

[2015-05-25 02:14] justinsb commented on #8229
Ah, I've realized that we are almost definitely opening another etcd connection for each API watch, because etcd uses long-polling.

This means that if "someone" writes a client that leaks watches - which I would _never_ do ;-) - then I think we run out of sockets after ~50000 connections.  And we don't recover particularly well from this - the API essentially hangs.

I don't know if we need to fi

[2015-05-25 02:36] justinsb commented on #8758
Yet another follow-up / clarification... I believe the test only fails because the kubelet is too slow to recover, and the e2e test hits its time limit.  So I believe this is only user-visible in the abnormally long delay to start, possibly the status of the pod during that time (?), and the events.

[2015-05-25 03:42] brendandburns commented on #8315
Is this still relevant/open?  It was marked P0 and there have been no updates in 5 days.

[2015-05-25 03:43] brendandburns commented on #8179
This is closed by #8238 as far as I can tell.

[2015-05-25 03:43] #8179 closed

[2015-05-25 03:54] justinsb opened #8766 "kubectl port-forward does not close the local connection when the server closes the connection"
I am trying out `kubectl port-forward` and I think it does not close the client-side connection properly when the server closes the connection.

I realize this example is probably deeply unhelpful unless you have a zookeeper image lying around, but here's what I observed...

When I ssh in to the minion and target the pod IP, I send the "status" message (ruok) and the server sends the reply (imok)

[2015-05-25 04:09] smarterclayton opened #8768 "Container pre-stop hooks should be time limited in the kubelet"
As discussed in #8641, the execution of a pre-stop hook should be limited in time to no more than TerminationGracePeriodSeconds on the Kubelet, and the actual stop should be able to use the remaining time (down to a minimum period to allow a process a small chance to terminate with SIGTERM).

[2015-05-25 06:19] wojtek-t commented on #8756
Thanks for reporting it. I think that generally what you suggested is a good approach. However, my feeling is that it's (hopefully) not needed to meet our v1.0 goals (i.e. 5 seconds is long enough).

[2015-05-25 06:20] #8401 closed

[2015-05-25 06:24] wojtek-t commented on #7561
I think that currently we have 2 biggest problems:

- [ ] tests are flaky in the phase of cleaning up the ReplicationController - DeleteRC is returning an error "timed out waiting for the condition"
- [ ] cluster is not starting due to not created firewall rules:

    ERROR: (gcloud.compute.firewall-rules.create) Some requests did not succeed:
    Did not insert the following resources within 660s

[2015-05-25 06:35] wojtek-t commented on #8754
+1 for excluding proxy metrics

This should be very simple fix, because we're already exluding all "watches" from the metrics.
Reassigning it to me - will fix it today.

[2015-05-25 07:04] njuicsgz opened #8769 "create Pod failed with resource limits [0.18.0]"
kubelet error shown as below

[code]

[2015-05-25 07:35] proppy commented on #8327
@caesarxuchao sure, but it would still be nice to able to have a way to have background containers restarting periodically in a pod w/o failing the service.

[2015-05-25 07:39] njuicsgz commented on #8768
yes, this is really needed.
I have run a real case on 0.17.0 with pre-stop hooks. Pod is pended for more than 40+ hours due to the   Minion has unkilled container which is running a preStop script always.
I know that dm.killContainer() runs in a go routine of KillPod(), but it seems does not work, and blocking all PodSync logic. It is really critical bug.

[2015-05-25 07:47] roberthbailey commented on #8315
This should have been fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/8164

[2015-05-25 07:57] caesarxuchao commented on #8327
@yujuhong , will it be useful if we let the user to config which containers will be considered by kubelet when it reports the readiness of the pod?

[2015-05-25 08:01] wojtek-t commented on #8754
#8770 is sent out for review.

[2015-05-25 08:02] JeanMertz opened #8772 "Hyperkube: cAdvisor is unsupported in this build"
Whenever I launch `kubelet` using Hyperkube (using the `gcr.io/google_containers/hyperkube:v0.17.0` container), I get the following repeated log statement:

[code]

Seems cAdvisor is not (yet) bundled in this Docker image?

[2015-05-25 08:12] noonien opened #8773 "Shell auto completion support"
Since sometimes kubernetes commands can get quite big, having zsh/bash auto completion would be quite a time saver.

I understand might be the lowest priority for the project right now, but it would be a great feature to have.

[2015-05-25 08:20] marekbiskup opened #8774 "Cpu utilization on an unused cluster varies over time"
Here's a plot of CPU utilization on a cluster where no actions are performed:

![image](https://cloud.githubusercontent.com/assets/11961560/7794036/804cbce4-02c6-11e5-9c80-11aa6871511f.png)

The cluster was 4 nodes + master, n1-standard-1 each.

After I restarted the cluster, I played with it a bit. But certainly, there were no operations between May 23 and May 25.
The CPU spikes are visible on 2

[2015-05-25 08:32] bengong2015 commented on #8652
I manually set the setting of docker0 on minions and the connection from client pass. Now there is a new problem:
I tried to connect to database in starting the container, the starting process expose 'no route to host' exception (failed to connect to database). However, when I start the container by docker directly and set host port for it, the problem gone. If I start it by using kubernetes repli

[2015-05-25 09:09] kargakis commented on #8676
Sure thing, I will get back in testing for this later today or tomorrow.

[2015-05-25 09:56] njuicsgz opened #8780 "resource limits lose efficacy for containers in v0.17.0"
RC configuration with limits:
[code]

But show unlimited in cAdvisor:
[code]

And cAdvisor show this POD used 2.37GiB memory which exceeds "2Gi" in resource limits we config. It should be killed.

[2015-05-25 10:08] #8715 closed

[2015-05-25 11:47] #8754 closed

[2015-05-25 12:21] justinsb commented on #8754
@wojtek-t thanks for fixing!

[2015-05-25 13:25] wojtek-t commented on #7561
BTW - the second issue seems to be a GCE issue not the k8s issue.

[2015-05-25 13:44] smarterclayton commented on #8768
Once #8641 lands we will have the budget properly plumbed through and should be able to time control the execution.

[2015-05-25 13:44] marekbiskup opened #8783 "/etc/monit/conf.d/kube-proxy on master seems to be outdated"
[code]

The file is created from ```./cluster/saltbase/salt/monit/kube-proxy```

[2015-05-25 14:33] sroze commented on #8734
@pmorie I'm not starting docker with the `containerized` option, that may be the point (following [the docker multi-node documentation](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/docker-multinode/master.md#starting-the-kubernetes-master). Since I'll setup my cluster without Docker, I'll try in few days with this option!

[2015-05-25 14:42] pmorie commented on #8749
@derekwaynecarr

[2015-05-25 15:27] aveshagarwal commented on #8710
@eparis https://github.com/GoogleCloudPlatform/kubernetes/pull/8785

[2015-05-25 15:28] derekwaynecarr commented on #8749
I wrote something up in Origin repo I need to repurpose for Kubernetes.

Sent from my iPhone

[2015-05-25 15:28] aveshagarwal commented on #8725
@eparis https://github.com/GoogleCloudPlatform/kubernetes/pull/8785

[2015-05-25 16:06] markturansky commented on #8755
See #8788.

[2015-05-25 16:31] eparis commented on #8725
closing, we'll just deal with the PR

[2015-05-25 16:31] #8725 closed

[2015-05-25 16:32] eparis commented on #8710
Closing the issue, just working the PR

[2015-05-25 16:32] #8710 closed

[2015-05-25 18:10] joltup commented on #4822
+1...this is so necessary!

[2015-05-25 19:46] swagiaal commented on #7972
@quinton-hoole if the disk is failing to attach it is possible that the issue is outside of Kubernetes and in GCE. Look in the logs for something like "Error syncing pod [...] skipping: googleapi: [...]"
if there is nothing like that and the disk is attached then perhaps kube is failing to see the device. Try listing the device directory on the test machine 'ls /dev/disk/by-id/". Given error you p

[2015-05-25 20:59] mikedanese commented on #8773
Bash completion is generated for kubectl command. You can drop https://github.com/GoogleCloudPlatform/kubernetes/blob/master/contrib/completions/bash/kubectl into your /etc/bash_completion.d. Not sure if this is documented anywhere though.

[2015-05-25 22:59] eparis opened #8790 "kube-apiserver hang on startup if etcd down"
If you start the kube-apiserver while etcd is down or unavailable the apiserver will hang.  There is nothing in the logs to tell you the problem. So if you typo the --etcd_servers= argument you just get a hang and no feedback.  The hang is actually in `pkg/registry/service/ipallocator/controller/repair.go` `func (c *Repair) RunOnce() error` somewhere in `c.alloc.Get()`.  Once I debugged the hang t

[2015-05-25 23:01] davidopp commented on #8756
+1 to what @wojtek-t said. We should only do this now if it's necessary to meet our 1.0 performance goals.

[2015-05-25 23:13] thockin commented on #8652
It sounds like flannel is not running correctly.  Before you can really do
ANYTHING else you need to ensure that pods on node A can ping pods on node
B, and vice-versa.  if that doesn't work then all sorts of stuff will not
work.

On Sun, May 24, 2015 at 7:12 PM, bengong2015 <notifications@github.com>
wrote:

[2015-05-25 23:24] thockin commented on #7843
I'm not officially a reviewer of this area, so consider my input as
just another user of the system

On Sun, May 24, 2015 at 5:58 PM, Anastasis Andronidis
<notifications@github.com> wrote:

I would say `-o columns -c IP,POD,IMAGE` - the first part being fixed
is more consistent with -o yaml, -o template, etc.  I could see
changing -o template -t tmpl-string to -o template:tmpl-string, and
this to

[2015-05-25 23:46] justinsb opened #8791 "Minimal gcloud firewall access for GCE load-balancers?"
Is there any way to open a firewall rule for a GCE LB without also opening traffic direct to the pods?

I'm doing this:

[code]

I believe this allows traffic to hit the minions directly also.

For least-privilege reasons, I would prefer to just open traffic via the load balancer.  But I can't figure out either how to apply a tag to the load balancer, or to have a firewall rule apply a target IP f

[2015-05-26 00:46] a-robinson commented on #8791
There's sadly no way to specify the target IP that a firewall applies to in GCE, only the target VM tags. That shouldn't open direct traffic to the pods, though, unless your pods have externally routable IPs or are using host ports.

[2015-05-26 00:46] a-robinson commented on #8791
Feel free to reopen if you have followup questions, but closing for now as there's no action to take.

[2015-05-26 00:46] #8791 closed

[2015-05-26 00:53] childsb opened #8792 "make clean ; make WHAT=test/e2e/e2e.test" fails"
when building e2e_test.go using 'make WHAT=test/e2e/e2e' fails with:

(20:51:55)[bc-macpro]:[~/dev/git/t/kubernetes/]# make clean ; make WHAT=test/e2e/e2e.test
build/make-clean.sh
+++ [0525 20:52:03] Verifying Prerequisites....
+++ [0525 20:52:03] Cleaning out local _output directory
rm -rf _output
rm -rf Godeps/_workspace/pkg
hack/build-go.sh test/e2e/e2e.test
+++ [0525 20:52:04] Building go targ

[2015-05-26 02:55] vishh commented on #8772
The log messages have been suppressed on HEAD. v0.18.x will contain the fix.

On Mon, May 25, 2015 at 1:03 AM, Jean Mertz <notifications@github.com>
wrote:

[2015-05-26 03:10] jayunit100 commented on #8666
actually almost closed :) ... technically, still open ...  see pr above

[2015-05-26 04:13] a-robinson commented on #8758
@cjcullen

[2015-05-26 04:19] pramttl opened #8796 "./cluster/kube-up.sh not working as expected (Mac, boot2docker): kubectl not installed on master kubernetes node"
I followed the following steps in Mac OS X Yosemite (which has boot2docker installed).

Step 1:
go was installed and GOPATH and GOROOT environment variables were set correctly.
export GOROOT='/usr/local/go'
export GOPATH ='/Users/pranjal/go'

Step 2: boot2docker start

Step 3:

     cd $GOPATH/src/github.com/GoogleCloudPlatform/

Step 4: Cloned my fork of kubernetes (Forked May 25, 2015)

     git

[2015-05-26 04:56] thockin opened #8797 "e2e flake (another) due to stale static route in my e2e network"
We really need to presume that an e2e run overrides all others and just nuke static routes (or something like this)

[2015-05-26 05:32] tobegit3hub opened #8798 "Error to setup kubernetes cluster in Ubuntu 15.04 because of systemd"
Now Ubuntu 15.04 is using systemd to mange the services. The scripts to setup kubernetes cluster in Ubuntu should support both the init systems.

There's a known issue in https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/ubuntu/util.sh#L366 which fails to start etcd by `service etcd start` in Ubuntu 15.04.

[2015-05-26 06:28] satnam6502 opened #8799 "Can't create external load balancer"
[code]

[2015-05-26 06:41] thomschke commented on #8660
problem exists under 0.17+ (vagrant install under 0.16.2 works)

When I inspect the salt logs `/var/log/salt/minion` from a minion, then I can see:

[code]

[2015-05-26 06:49] davidopp commented on #367
Swarm has regular and "soft" constraints. We don't have the latter yet, but I filed #8008 for us to implement it.

[2015-05-26 07:11] davidopp commented on #8406
Sorry for the delay in responding. IIUC, part of what you are talking about is #6087, but you always want to tell the cloud provider to create/destroy the new nodes (e.g. create/destroy VM instances if running on VMs)? This latter thing is indeed not implement yet, but will be implemented as part of horizontal auto-scaling. We've had some initial work on this and we expect the work to continue aft

[2015-05-26 07:11] #8406 closed

[2015-05-26 07:29] wojtek-t commented on #7561
There is one more issue (it happened twice during last day):
- [ ] cluster is not starting due to not all nodes being registered in the cluster:

    [0;31mDetected 99 ready nodes, found 99 nodes out of expected 100. Your cluster may not be working.

[2015-05-26 07:29] tanmaybinaykiya opened #8800 "ENV files for pods"
Docker supports a way to push environment variables to the containers using env files. I see that there is a way to push env-variables via the pod creation JSON but I don't see anyway to push env-files for the same. Is there any other way to do this?

[2015-05-26 07:42] davidopp opened #8801 "Measure our 1.0 scaling goals under different cluster configurations"
Our 1.0 scaling goals as described in #3952, #4521, and #3954 are for 100 nodes with 30 pods/node.

It would be interesting to see what happens when we use more nodes and fewer pods/node, since I suspect few people will need 30 pods/node while some may want more than 100 nodes. For example, I would suggest trying
* 200 nodes and 10 pods/node
* 200 nodes and 15 pods/node
* 250 nodes and 10 pods/nod

[2015-05-26 07:44] JeanMertz commented on #8772
:+1: thank you for the response.

I assume the fix is not yet available in a PR somewhere (so I can optionally backport it to our current build)?

[2015-05-26 09:11] gmarek commented on #8669
@davidopp

[2015-05-26 09:23] andronat commented on #7843
`-o columns -c IP,POD,IMAGE` makes sense to me, I will start with that and later on I can change it to `-o column:IP,POD`. My only concern on the second is how do we print the help notes, they might become a lot and hard to read.

As for the what are the valid values for this new output format, I am going to describe on the help string how can be used and also I will add a parameter `-c ALL` that

[2015-05-26 09:54] wojtek-t commented on #7561
Regarding cleaning up ReplicationController - #8779 is a workaround (this test should no longer fail on Jenkins).

However, there seem to be some real issue in ReplicationController. Basically looking on the logs we have:

    I0526 08:35:15.796503       5 replication_controller.go:320] Too many "e2e-tests-density-6b911472-c3e2-45b6-9eaf-23d5bbb67c58"/"my-hostname-density3000-fff37f7c-0380-11e5-95

[2015-05-26 10:08] marekbiskup opened #8803 "status doesn't work for kube-addons and for kube-master-addons daemon"
```kube-addons``` and ```kube-master-addons``` are created as (bash) daemons.

The status command for neither of them works. For ```kube-addons```, this is how we check if the process is running:
[code]

while the process that is started is ```$KUBE_ADDONS_SH```, not ```$SCRIPTNAME```:
[code]
Similarly for kube-master-addons.

```kube-addons``` does this when it starts:
[code]
while ```kube-master

[2015-05-26 10:35] tobegit3hub commented on #5128
We have the same problem and please list your solution :smiley:

[2015-05-26 10:46] abonas commented on #6979
I wanted to, but now it seems I can't make it given the timeframes.

[2015-05-26 11:38] tobegit3hub commented on #8373
Have the same issue, please update the doc ASAP.

[2015-05-26 12:37] manolitto commented on #8571
Can confirm this issue for current master on AWS eu-west-1:

DHCP options set:
domain-name = eu-west-1.compute.internal
domain-name-servers = AmazonProvidedDNS

/etc/resolv.conf:
nameserver 172.20.0.2
search eu-west-1.compute.internal

ping:
PING ip-172-20-1-9.eu-west-1.compute.internal (172.20.1.9) 56(84) bytes of data.
64 bytes from ip-172-20-1-9.eu-west-1.compute.internal (172.20.1.9): icmp_seq

[2015-05-26 12:47] wojtek-t commented on #7561
I think I understand the issue. What's happening is:
  1. replication_controller.go is trying to remove 500 pods;
  2. it waits until all of them are removed;
  3. in the meantime full resync is happening in the underlying reflector;
  4. this triggers Replace() method in delta_fifo.go; however, that list doesn't contain the pods that are already removed, but those weren't yet delivered (via) watc

[2015-05-26 12:55] akamalov commented on #8411
@dchen1107  Thanks so much for your reply Dawn.Any documentation been published around this implementation, if you know ?

Thanks again!!

Alex

[2015-05-26 13:29] kargakis commented on #8676
http://pastebin.com/jmb5JTYm

@bprashanth see for yourself. While resizng up to 20 pods is fast (>2s), updating the rc.status takes more than 4s.

[2015-05-26 14:06] roberthbailey commented on #8799
Are you running from head or from a stable release? A bunch of changes to the load balancers were merged on Friday....

[2015-05-26 14:08] satnam6502 commented on #8799
From HEAD.
[code]

[2015-05-26 14:12] satnam6502 commented on #8799
I ended up accessing the Elasticsearch and Kibana services via the proxy at the master instead rather than through an ELB as I wanted for my demo at IFIP WG2.8 :-(

[2015-05-26 14:14] fgrzadkowski opened #8807 "Multiple warnings in kube-push.sh"
WARNING: Lists should be separated by commas, try "--metadata-from-file=kube-env=/tmp/kubernetes.sCQI6j/master-kube-env.yaml,startup-script=/usr/local/google/home/filipg/go/src/github.com/GoogleCloudPlatform/kubernetes/hack/e2e-internal/../../cluster/../cluster/gce/../../cluster/../cluster/gce/configure-vm.sh". If you intend to use startup-script=/usr/local/google/home/filipg/go/src/github.com/Goo

[2015-05-26 14:50] timothysc commented on #7561
/cc @rrati

[2015-05-26 14:57] bprashanth commented on #7561
@wojtek-t we're hitting the case described in https://github.com/GoogleCloudPlatform/kubernetes/issues/8676 from time to time. I already have a pr locally that does 2, just need some unittests. Your conclusion is correct, it will eventually size down but we can be faster if the delta fifo gives us the deleted pod. BTW I'm glad you were able to debug that far in :)

[2015-05-26 15:00] wojtek-t commented on #7561
@bprashanth - great! What is the expected ETA for you PR?

[2015-05-26 15:03] marekbiskup commented on #8107
@pmorie, have you resolved the issue with secrets disappearing after rolling upgrade yet? If not, please create a github separate issue, so that we can track the problem. Thanks!

[2015-05-26 15:04] wojtek-t commented on #8676
The corner case described in: https://github.com/GoogleCloudPlatform/kubernetes/issues/8676#issue-79510496 is something that we're hitting while running out scalability tests on Jenkins. And there are quite a lot of those causing test failures.

I also debugged it as part of #7561 - see: https://github.com/GoogleCloudPlatform/kubernetes/issues/7561#issuecomment-105512435

I think that fixing this

[2015-05-26 15:07] quinton-hoole commented on #7753
Yes, you could add a sleep to Ginkgo's AfterEachSuite():

http://onsi.github.io/ginkgo/#global-setup-and-teardown-beforesuite-and-aftersuite

But I'd be concerned about what the upper bound on the sleep period is.  Can we get the tests and code in sync with a 1 minute latency here? (e.g. if the controller garbage collects every 60 seconds, then the test only needs to sleep for 60 sec?)  And add a

[2015-05-26 15:10] vishh commented on #8772
#8430.

On Tue, May 26, 2015 at 12:44 AM, Jean Mertz <notifications@github.com>
wrote:

[2015-05-26 15:12] quinton-hoole commented on #7753
Actually, thinking about this a little more, it would be better to put the "sleep" logic in the k8s master teardown procedure (i.e. not in the e2e tests or in Jenkins), because otherwise users are going to run into the same resource leakage problems as we are.  So master deletion blocks on cleanup of backend cloud resources.

[2015-05-26 15:20] roberthbailey commented on #7753
There's no way to block master deletion from the master itself. The test framework (or user) just pulls the rug out from underneath the master. See https://github.com/GoogleCloudPlatform/kubernetes/issues/4630.

[2015-05-26 15:22] marekbiskup opened #8811 "add-on secrets are echoed (logged?)"
By code review, I stumbled upon this code in /etc/kubernetes/kube-addons.sh:

[code]

It seems that it should be
[code]
Otherwise, the secrets are echoed. (I don't know if this is a problem)

[2015-05-26 15:29] #8807 closed

[2015-05-26 15:30] timothysc commented on #8008
subscribe

[2015-05-26 16:27] smarterclayton commented on #8676
Agree, we're hitting it in scale reliability testing as well.

[2015-05-26 16:37] micafer opened #8814 "Problems specifying memory limits in Pods"
I'm trying to create a Pod using a very simple example. In fact is the pod.yaml example only adding a memory limit:

[code]
The Pod is created also the corresponding docker container.

But the Pod remains in state "Pending" and it shows this message:
[code]

It seems that it has some problems getting the amount of memory of the container provided by docker.
If I inspect the created container, the

[2015-05-26 16:42] uruddarraju commented on #8796
Can you please try `/usr/local/bin/kubectl ? `

[2015-05-26 16:50] bprashanth commented on #8676
I'll get a fix today for the issue mentioned in my first comment.
Apart from that, there's also a heck of a lot of cpu contention because we fire off n goroutines to create/delete n replicas. There are levels of rate limiting that help, but in general turning down an rc is slower than starting one, because the latter is usually not competing for cpu/etcd time with anything else.  The solution to t

[2015-05-26 16:51] bprashanth commented on #7561
@wojtek-t Today

[2015-05-26 16:55] #8535 closed

[2015-05-26 16:57] cjcullen commented on #8758
in Kubelet.setNodeStatus(), I treated Node.PodCIDR == "" as "network is okay for now". That is wrong.

I'm currently testing changes to make Node.PodCIDR == "" report "network not configured" and post NodeReady = false.

[2015-05-26 16:57] #8519 closed

[2015-05-26 17:06] andronat commented on #7843
A Demo [here](https://www.dropbox.com/sh/x9b1iz62c28l7p2/AACchHQW8qV37FNWevU8mMtka?dl=0)

[2015-05-26 17:15] vishh commented on #8413
It should be possible to get kube2sky to work as part of hyperkube.
To run the existing docker image without auth (token) you can specify the
master URL `--kube_master_url=http://10.0.0.1:80` and not provide the
secret at all.

On Mon, May 18, 2015 at 5:47 PM, Victor Marmol <notifications@github.com>
wrote:

[2015-05-26 17:15] wojtek-t commented on #7561
@bprashanth - great! - thanks!

[2015-05-26 17:21] kargakis commented on #8676
[Here](https://github.com/kargakis/origin/blob/4f0dd02d4b63d33998441bc4d8c18b0076cff1ee/Godeps/_workspace/src/github.com/GoogleCloudPlatform/kubernetes/pkg/controller/controller_utils.go#L306) it starts by making the UPDATE call though it gets updated much [later](https://github.com/kargakis/origin/blob/4f0dd02d4b63d33998441bc4d8c18b0076cff1ee/Godeps/_workspace/src/github.com/GoogleCloudPlatform/k

[2015-05-26 17:21] thockin commented on #8800
What is an env file in the context of an API call?  Can you describe the
behavior you expect to see?

On Tue, May 26, 2015 at 12:30 AM, Tanmay Binaykiya <notifications@github.com

[2015-05-26 17:21] vmarmol commented on #8780
What version of Docker are you running? There was an issue with the API in Docker 1.6+ which we fixed in #8491 but that was not in 0.17.0. It should be in the build this week.

[2015-05-26 17:25] marekbiskup commented on #8107
@pmorie I tried to reproduce the problem with rolling update of skydns, in exactly the way @satnam6502 mentioned and I didn't find any problems. I suspect either @satnam6502 had a nasty typo in his yaml, or that version of kube2sky was broken. I believe there is no problem. But if you reproduce the bug, just file another issue.

[2015-05-26 17:25] ncdc commented on #6342
I have code that supports using `docker exec` (via go-dockerclient) and I've also got code that works with our openshift/dockerexec implementation. I'd like to make the backend configurable and would like to know the best way to code this. Should we treat the implementations as plugins and allow the administrator to specify which plugin to use when running the kubelet? If not, what approach should

[2015-05-26 17:28] pmorie commented on #8107
@marekbiskup @satnam6502 secrets integrity across node reboot should be fixed now

[2015-05-26 17:28] mrunalp commented on #6342
Awesome :) I am +1 on making this configurable.

Sent from my iPhone

[2015-05-26 17:32] bgrant0607 commented on #8814
What Docker version are you using?

cc @vishh

[2015-05-26 17:32] bprashanth commented on #8676
That depends on if the watch has transmitted the pod or not. Status.Replicas will not be be on the dot, there's bound to be some latency depending on the time it takes for an update to reflect in the watch. More specifically this is the rpc firing:
[code]
It will incur a network roundtrip for the watch to fire, after which the rc will wake up and update status.replicas. So taking multiple syncHand

[2015-05-26 17:35] yujuhong commented on #8327
I am not sure kubelet restart is the right mechanism to run periodic tasks, and in this case, recreating the container isn't particularly efficient.  FYI, there is a discussion for adding a controller for cron jobs in #2156.

[2015-05-26 17:40] bgrant0607 commented on #8800
This is docker run --env-file:
https://docs.docker.com/reference/commandline/cli/#run

For now you could write a simple script to pre-process your json.

[2015-05-26 17:49] a-robinson commented on #7753
Robby's right -- #4630 is the real solution to this, but until we have that the best we can do is to have the wait happen elsewhere. The options seem to be:

1. in GKE itself
1. in Ginkgo's post-testing logic
1. in Jenkins' teardown logic

I don't like putting it in GKE, because arbitrarily slowing down our API makes for a poor experience for the majority of people that don't still have resources

[2015-05-26 17:49] a-robinson commented on #7753
We may also want to change the kube-down logic to bring down the master and then nodes in parallel to both speed it up and more closely resemble GKE's teardown logic.

[2015-05-26 17:50] bgrant0607 commented on #8760
I'm in favor of status as well as an event. The pattern I recommend is an array of conditions, similar to NodeCondition, where each contains at least a Status, Reason, and Message.

[2015-05-26 18:00] dchen1107 commented on #8814
Which docker version and kubernetes version are you using? There is a compatibility issue between docker (remote_api_v1.18) and docker_client library kubernetes are using before 0.18. The detail is discussed in #8358

[2015-05-26 18:01] bgrant0607 opened #8817 "Change kubectl.sh from a wrapper to an initialization script"
It shouldn't be necessary to wrap the kubectl command with a wrapper script. It should be possible to just source kubectl.sh to set up the path, context, whatever, and then invoke the kubectl binary directly.

[2015-05-26 18:01] dchen1107 commented on #8783
I will take a look at this quickly.

[2015-05-26 18:03] dchen1107 commented on #8780
I am closing this one as dup of #8814

[2015-05-26 18:03] #8780 closed

[2015-05-26 18:03] yujuhong opened #8818 "kubelet should rectify corrupt pod status"
Forked from #8335

Currently, kubelet sends pod status update whenever it discovers that the newly-generated status differs from the copy in its internal cache. However, it does not check the pod status received from the apiserver at all. What this implies is that if a user or another component changes the pod status via apiserver, kubelet will not correct the status until there is an actual updat

[2015-05-26 18:07] smarterclayton commented on #6342
I would say make it a kubelet config setting in cmd/kubelet/app.go

----- Original Message -----

[2015-05-26 18:29] vishh commented on #6342
+1 to making the backend kubelet config. Thanks for working on this Andy!

On Tue, May 26, 2015 at 11:07 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-05-26 18:44] juliaferraioli opened #8820 "201 Walkthrough references concept (API) not yet introduced"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/walkthrough/k8s201.md

This walkthrough uses concepts like the API object at multiple points, but the API hasn't been introduced yet in this or the prior walkthrough. Suggest either spending a section on the API, or removing the reference and working around it.

[2015-05-26 19:03] juliaferraioli opened #8824 "Examples using Compute Engine should specify that setup includes project and billing"
Several examples use Compute Engine for the cluster. They should specify that to complete the example, the user needs to:

1. Create a project
2. Configure gcloud
3. Set up billing

Two examples of where this is needed are:

https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/mysql-wordpress-pd
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/meteor

[2015-05-26 19:05] bprashanth commented on #8700
ref https://github.com/coreos/etcd/issues/2854#issuecomment-105329971

[2015-05-26 19:16] saad-ali commented on #8676
@davidopp @lavalamp Can you please triage this for pre/post 1.0. I will mark #8822 accordingly.

[2015-05-26 19:17] bprashanth commented on #8676
The impact is a longer timeout for `rc stop` (on avg it takes about 2.30 to tear down 3000 pods, can take upto 5m if it hits the mentioned case).

[2015-05-26 19:51] juliaferraioli opened #8825 "Clarify origin of $ZONE in MySQL Wordpress PD example"
Example talks about the definition of $ZONE, but doesn't clarify where the default comes from or how to find it via querying your project. This can significantly slow down the execution of the example.

Suggestion: link to the [default file for GCE](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/config-default.sh)

[2015-05-26 19:58] JeanMertz opened #8827 "Declarative rolling-update"
I was trying to apply a rolling update and was surprised by this message:

[code]

I am using a `version` label to differentiate between versions, but we're using images pointing to `latest`, so I can't use `--image`. Why am I still forced to rename the RC every time I want to do an upgrade?

It would be nice if Kubernetes internally handled name conflicts during upgrades (and possibly use a hash

[2015-05-26 20:05] glerchundi commented on #561
@bgrant0607 ok, thanks for pointing that out. After watching some videos about kubernetes, it seems that the best way/pattern to handle this is to watch services and not replication controllers / pods and modify the http load-balancer accordingly.

Something like:

Service 1: App Production (label: app, production)
Service 2: App Canary (label: app, canary)
Service 3: Load Balancer (selector: app)

[2015-05-26 20:13] #7753 closed

[2015-05-26 20:19] juliaferraioli opened #8828 "Provide PD size suggestion for MySQL-Wordpress-PD example"
In the [second section](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/mysql-wordpress-pd/README.md#create-two-persistent-disks), the readme tells you to set the disk size to something that will meet your needs. This doesn't give the user any guidance for the purposes of the example.

Suggestion: rephrase to "First create the mysql disk, setting the disk size to meet your n

[2015-05-26 20:23] bprashanth commented on #8676
@kargakis re slow status.Replicas. Since I can't get it to repro on my setup with a single rc and 40 replicas I can try to debug your logs (as a data point sizing up/down one rc with 3000 replicas across 100 nodes, the status updates *sometimes* takes 2s on gce with an n1-standard-4 master).

You've refactored the loop a bit in your local branch in a way that doesn't enforce the retry limit, I'm a

[2015-05-26 20:27] a-robinson commented on #7753
I've deleted the old forwarding rules and target pools from the project. I'll periodically check to see whether anything is leaked after this point. I apologize if the deletions affected any running tests - everything looked to only be from GKE and parallel e2e runs.

[2015-05-26 20:28] smarterclayton commented on #8676
I think in a few cases we've seen this while trying to scale down multiple rcs in succession, where it appears the RC manager gets hung up.  I believe in that env we had the rate limiter disabled - it looked like a starvation / exhaustion thing, but I don't have data to back that up.

[2015-05-26 20:46] a-robinson commented on #8760
+1 for an event. I'd argue this is important enough for usability that we should get it into v1.

[2015-05-26 20:53] bgrant0607 opened #8830 "Don't check in generated code"
Checking in generated code causes a number of problems. In particular, it causes frequent merge conflicts and rebases, which are an obstacle to creation of a submit queue.

Unfortunately, not checking them in also has challenges:
- would require a Real Build System
- potentially increases the number of tool dependencies, such as for the UI (https://github.com/GoogleCloudPlatform/kubernetes/pull/87

[2015-05-26 20:57] bgrant0607 commented on #8760
How often does this failure mode occur?

[2015-05-26 21:08] bprashanth commented on #8676
#8822 should clear the water, after that I can add some clarity around when/if we hit rest client rate limits and we can take it from there

[2015-05-26 21:11] davidopp commented on #8801
Also, we could provide additional datapoints on what happens if you use a larger master (e.g. n1-standard-8 instead of n1-standard-4).

[2015-05-26 21:15] timothysc commented on #8119
Sorry for my lag on this ticket...

@lavalamp every plateau will correspond 1:1 with large lags in the endpoint controller:

 Finished syncing service "default/redis-master" endpoints. (1m30.116068618s)...

I've not dug into the details why yet.

[2015-05-26 21:18] lavalamp commented on #8674
Please no solution that requires endpoints controller to watch nodes...

[2015-05-26 21:20] JeanMertz commented on #8772
@vishh my understanding of your earlier reply was that there was a PR to silence the logging (which I've seen before), but that a fix will be built for a future `v0.18.x` release.

It was the fix (ie. getting cAdvisor to work inside the Docker container) I was referring to, when asking if such a fix was already built somewhere.

[2015-05-26 21:20] markllama opened #8834 "Vagrant/Virtualbox - Minion Kublet fails to connect to master"
The minion-1 kublet is once again failing to connect to the master server.  Previously the problem was the default port change. This time it's less clear to me.

[code]

_minon-1 kubelet config_
[code]

_minion-1 kube-proxy config_
[code]

_kubelet status_
[code]

[2015-05-26 21:23] rjnagal commented on #8658
Looks like etcd for the cluster is not up.

[2015-05-26 21:26] JeanMertz commented on #8043
To be honest, when working on CoreOS (but any environment for that matter), it makes a lot of sense to have the UI running inside the container.

I've got all components of Kubernetes running inside containers right now, but the UI part is still missing. I see there are some pre-built non-google images in the Docker Hub, but it'd be great if there was some official documentation on how to run the

[2015-05-26 21:32] jackgr commented on #8830
#8776 is changing to be agnostic to whether or not the generated UI files are checked in. It will just contain the changes to the UI build required to make it robust, regardless of when it is run, and whether or not it is checked in. See the list of things it does in the revised comment at the top of the PR.

[2015-05-26 21:33] lavalamp commented on #8119
@timothysc when you say etcd has 40 cores, that means you set its GOMAXPROCS env var to 40, right?

Also, I suspect the causality is slow apiserver -> slow endpoint sync, not the other way around.

[2015-05-26 21:33] #8758 closed

[2015-05-26 21:34] a-robinson commented on #8760
I unfortunately don't have stats, but it can happen for a handful of reasons. I think these are the most likely:

* Cloud provider unavailability/errors
* Ran out of quota from the cloud provider
* The cluster is using a cloud provider that doesn't support external load balancers

I expect the third one is most common by far. We could perhaps move that into the API object validation rather than wr

[2015-05-26 21:37] rimusz commented on #8043
@JeanMertz as @preillyme mentioned above Kubernetes UI is part of API service and can very easily accesses via `http://api_server_ip:8080/static/app/#/dashboard/`.
Running Kubernetes for production you should not put it's components/binaries to Docker containers as binaries are standalone compiled go programs. Plus such setup brings more constrains to your setup as if your Docker daemon dies then

[2015-05-26 21:47] thockin commented on #8674
My thought was simply to look at Pod conditions in EP controller.

On Tue, May 26, 2015 at 2:18 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-05-26 21:50] bgrant0607 commented on #8619
@caesarxuchao Yes, kubectl should work on OSX, though I don't think we have automated testing on OSX yet.

[2015-05-26 21:54] rjnagal commented on #8658
curl http://172.18.17.3:4001 would not have a page to serve.
To verify etcd, you need to hit curl http://172.18.17.3:4001/version

Can you also add a list of your docker containers on master?

[2015-05-26 22:04] vishh commented on #8772
@JeanMertz: It looks like hyperkube is being statically compiled, which is the reason for this issue. I will dig a bit deeper and get back to you.

[2015-05-26 22:33] jeffmendoza opened #8838 "Errors encountered when decoding json/yaml files should be descriptive"
For example, I tried `kubectl create -f password.yaml` and got `Error: unable to load "./password.yaml": illegal base64 data at input byte 8` I didn't know that it was the secret `data.password:` field that was triggering the illegal base64 error.

When doing decoding like this, it would be good to print at least the label name from the file where the error happened.

[2015-05-26 22:34] dchen1107 commented on #8834
cc/ @derekwaynecarr on vagrant support

[2015-05-26 22:42] tristanz commented on #3201
I just want to strongly +1 this issue.  OpenShift is already significantly expanding the number of Kubernetes objects, including with names that are pretty generic:

http://docs.openshift.org/latest/architecture/core_objects/openshift_model.html

This is great, but to have the ecosystem play well together, it seems necessary to have 1) proper namespacing of object kinds (or strong prefix conventio

[2015-05-26 22:51] a-robinson commented on #8799
The API for this has changed quite a bit over the last few days, I'm not actually sure at this point whether setting that field will work without setting the `Type` field to "LoadBalancer".
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L1063

I'll check into it a little more closely.

[2015-05-26 22:54] a-robinson commented on #8799
Looks like the conversion functions were set up to ensure both fields are in sync, so that shouldn't be the issue.

I'd be interested to see the output of `kubectl get service mytunes -o yaml` (to ensure the system understood your desire for an external load balancer) as well as your kube-controller-manager logs (to see whether/why it failed to create the load balancer).

[2015-05-26 22:56] jeffmendoza opened #8841 "Image pull policy default is inconsistant"
See: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/defaults.go#L57

The default pull policy is only 'always' if your container image ends with ':latest'. If you leave latest off, which implies latest, the pull policy is 'if not present'. Some people might expect the default to be 'always' even if they use a versioned tag, or any tag like ':mylatest'.

Also see: http

[2015-05-26 23:14] dchen1107 commented on #8702
cc/ myself

[2015-05-26 23:50] bgrant0607 commented on #8190
Generalized image representation: #8702

[2015-05-27 00:00] bgrant0607 commented on #8702
Sorry, but we don't currently have consensus on this change, and we've run out of time to debate/bikeshed the API change. We'll need to revisit in the v2 API.

One suggestion was to serialize new representations into the image string field in older APIs. Problems with that include:
1. Clients expecting to see a Docker image in that field would be confused/broken by a format not conforming to Docke

[2015-05-27 00:18] thockin opened #8845 "kube-proxy sticky sessions is broken"
https://groups.google.com/forum/#!topic/google-containers/pjx13NWEFcg

The bug seems to be in kube-proxy.

@brendandburns

[2015-05-27 00:25] caesarxuchao commented on #8327
Thanks @yujuhong. Let's forget about letting kubelet restart periodic tasks. In general, if some containers are not critical to a service, ignoring the status of these containers and keeping the service alive will increase the availability of the service.

[2015-05-27 00:33] timothysc commented on #8119
@lavalamp correct.

[2015-05-27 00:36] dchen1107 commented on #8361
I don't get the scenario described above. Since cadisor is part of kubelet now, when cadvisor is dead, kubelet is dead too. In this case, node is unschedulable anyway.

[2015-05-27 00:40] vmarmol commented on #8361
I'm guessing the issues are on builds when cAdvisor is not available (when not compiled in Linux).

[2015-05-27 00:45] derekwaynecarr commented on #8834
I am sending a PR that upgrades the Virtual Box setup to Fedora 21 and Docker 1.6.

As part of that change, I am updating the kubelet to have a kubeconfig file to connect to master.

[2015-05-27 00:58] markllama commented on #8834
Thank you!

On Tue, May 26, 2015 at 8:45 PM, Derek Carr <notifications@github.com>
wrote:

--
----
Mark Lamourine <markllama@gmail.com>
Dad, Hubbie, Software Developer, System Administrator, Road Cyclist

[2015-05-27 01:02] njuicsgz commented on #8814
My config for issue #8780
[code]

[2015-05-27 01:05] bgrant0607 commented on #8702
For completeness, we'll be serializing the state using the v1 API and Kubelet will pull pods from apiserver via the v1 API for the foreseeable future, so it will need an encoding in v1 that doesn't lose information.

I don't see a future where we don't need to introduce a new field or fields for new formats, references, etc. We should document that the current image field is optional (i.e., add `o

[2015-05-27 01:05] thockin commented on #8702
Why can't we add a `NewImage ImageStruct` field alongside `Image`?  Make it
so that one or the other is required in v1b3 and that v1 has only `Image
ImageStruct`.  Make the default stringification be docker-compatible
whenever possible (e.g. drop docker://). Don't stringify auto-populated
fields  (may require carrying ugly info as to what use specified).  I still
have hope that we can get it compa

[2015-05-27 01:09] justinsb commented on #8799
Yes, this is obviously supposed to work :-)

I think if you are using API v1 (and not v1beta3), then createExternalLoadBalancer is no longer supported - you have to specify spec.Type == "LoadBalancer".  And I think that kubectl ignores unknown parameters (?), so you wouldn't be warned in this case.

[2015-05-27 01:11] a-robinson commented on #8799
Yes, it ignores unknown parameters, which is why getting the service back from the API would be enlightening :)

[2015-05-27 01:14] justinsb commented on #8799
Yes, although I have had problems as well where if I use a kubectl that hasn't been compiled with the latest code/schema it seems to drop the new fields, so this may be tricky.  (Is that right & if so is there any way round it?)

[2015-05-27 01:20] a-robinson commented on #8799
That's possible, I unfortunately don't know.

[2015-05-27 01:22] thockin commented on #8702
I am not saying it's going to be pleasant, but if we can't figure out how
to make changes like this, what good is all our API versioinig?

On Tue, May 26, 2015 at 6:05 PM, Brian Grant <notifications@github.com>
wrote:

[2015-05-27 01:22] yifan-gu commented on #8702
FWIW, In #8839 I am replacing the string with struct in v1 and the internal representation, I keep the string as they are for all other versions. I am not expecting beta1, beta2, beta3 to run things other than docker image.
Also since there is no consensus on the docker image struct, so I just implement with a string as @bgrant0607 suggested https://github.com/GoogleCloudPlatform/kubernetes/issues

[2015-05-27 01:25] thockin commented on #8702
The concern is whether we have the bandwidth to take this change before 1.0
(it touches a lot of stuff) or whether it has to wait until after 1.0, in
which case it has to be strictly compatible.

On Tue, May 26, 2015 at 6:23 PM, Yifan Gu <notifications@github.com> wrote:

[2015-05-27 01:27] smarterclayton commented on #8361
The simplest scenario I'm considering right now is Windows support and the number of baked in assumptions we'll have to fix at that point.  I'd like to keep the coupling points sane so that something (maybe cadvisor) can report information, but that the node registration path isn't blocked on that.

[2015-05-27 01:29] #8373 closed

[2015-05-27 01:29] bgrant0607 commented on #8702
@thockin Our API versioning has handled the vast majority of API changes so far, but there are scenarios where it doesn't -- where newer extensions subsuming existing functionality are not representable in older API versions, especially where the fields were required. See also the selector API changes as an example.

[2015-05-27 01:30] MikaelCluseau commented on #3760
I would also like to share that we've hit the nf_conntrack_max quickly. It should be

[code]

[2015-05-27 01:38] bgrant0607 commented on #8702
@thockin Your proposal is essentially what's proposed above, which was punted out of 1.0, and in #8839, which was submitted today.

[2015-05-27 01:52] tobegit3hub commented on #8373
Great job  :+1:  @WIZARD-CXY @saad-ali

[2015-05-27 01:55] #7286 closed

[2015-05-27 01:59] quinton-hoole opened #8849 "service.sh e2e flaky - pull from gcr.io, not docker."
e2e output:

service-13483 portal failed from container, expected:

        service-13483-bzy5s
service-13483-qlk9b
service-13483-vq7md

        got:

        service-13483-bzy5s
service-13483-bzy5s
service-13483-qlk9b

It looks like the test might be wrong:

https://github.com/GoogleCloudPlatform/kubernetes/blob/4a6ab7fd3698c5cc7172c5bd63efab320d1f2d17/hack/e2e-suite/services.sh#L268

It seems to

[2015-05-27 02:23] bgrant0607 commented on #3201
Re. namespacing of object kinds, see discussion near the end of #7111.

[2015-05-27 02:25] smarterclayton opened #8850 "Logs for capability merge are excessive"
@pweil- need to tone this down - not really relevant for most people.

[code]

[2015-05-27 02:39] roberthbailey commented on #8849
@thockin - did you write that test (long, long ago)?

[2015-05-27 02:41] bgrant0607 commented on #6797
Also output conventions: https://github.com/GoogleCloudPlatform/kubernetes/issues/7843#issuecomment-101365459

[2015-05-27 03:19] vmarmol commented on #8223
Was this fixed by #8436?

[2015-05-27 04:03] thockin commented on #8849
While I admit the logic is suspect (why not just loop 30 times?) it is
known to have succeeded many times, no?  I do recall it being very fragile
wrt output format, and making me basically swear off shell forever...

On Tue, May 26, 2015 at 7:39 PM, Robert Bailey <notifications@github.com>
wrote:

[2015-05-27 05:07] davidopp commented on #6770
As discussed in #4521 we should just increase the relist interval by a lot.

[2015-05-27 05:45] bgrant0607 commented on #7843
Default get pod output is implemented here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/resource_printer.go#L397

Current formats are default (implicit), json, yaml, template, and templatefile:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/resource_printer.go#L48

FWIW, we've discussed introducing a new template language (#4348).

I suggest

[2015-05-27 06:05] WIZARD-CXY commented on #8798
It's a problem when using systemd to manage job.You can change systemd to upstart or use docker approach to deploy k8s.

[2015-05-27 06:14] bgrant0607 commented on #561
@glerchundi Do you mean "service 1" and "service 2" or "replication controller 1" and "replication controller 2"? Otherwise, yes, that's the recommended approach.

[2015-05-27 06:29] glerchundi commented on #561
I mean:
[code]

So that nginx, could watch to more than once service (based on a selector) and converge them into just one host. For example in this case the way down will be as follows:
* customer hits nginx from the outside asking for lisa.contoso.com
* kubernetes will balance request (ServiceC) to one of the pods belonging to RepCtrlC.
* nginx will check its reverse proxy configuration for `Hos

[2015-05-27 07:15] satnam6502 commented on #8799
[code]

[2015-05-27 07:18] satnam6502 commented on #8799
[code]

[2015-05-27 07:20] bgrant0607 commented on #8190
In addition to eliminating volume sources obsoleted by persistent volume claims (gcePersistentDisk, awsElasticBlockStore, nfs, iscsi, glusterfs, rbd), I'd also like to eliminate gitRepo in favor of a generic container volume mechanism (#831).

[2015-05-27 07:28] micafer commented on #8814
I'm using the docker version that comes with the Ubuntu 14.04 distribution.
I see that is an old version ...

[code]

This is the kubernetes version:
[code]

I have updated docker to version:
[code]

And now I'm getting another error:
[code]

[2015-05-27 07:28] bgrant0607 commented on #8683
@davidopp It's untenable for Kubelet to assume to know/circumvent all fields that will be set by other entities: admission control, defaulting, late initialization, auto-something, whatever. It needs to obey the same rules as other clients.

[2015-05-27 07:53] davidopp commented on #8683
I don't understand why you would ever want to apply any of the things you mentioned to static pods. Static pods should be copied verbatim into the mirror pods, right? That's what I'm proposing.

[2015-05-27 08:44] wojtek-t commented on #7561
#8822 is addressing the first issue

[2015-05-27 08:49] wojtek-t commented on #7561
Also, I already started looking into the third one.

[2015-05-27 08:51] micafer commented on #8814
I have changed the docker version to:

[code]

And, with this version, it works correctly.

If I inspect the created container, the amount of memory provider by docker is
[code]
So it does not have problems "unmarshaling" the amount of memory.

[2015-05-27 08:57] gmarek commented on #8319
Renames tends to confuse people. Yesterday I had to answer a question on IRC on minion/node rename, as it turned out that people are still using 'minion'.

For me ```resize``` is much more natural than ```scale```, but I agree that ```run``` is strictly better than ```run-container```

[2015-05-27 09:35] wojtek-t commented on #8119
Also, I suspect the causality is slow apiserver -> slow endpoint sync, not the other way around.

I agree this is probably true.

@timothysc - did you run those experiments recently synced to head? I think a bunch of thing were improved recently so the question is whether it's still a problem.

[2015-05-27 09:44] pramttl commented on #8796
@uruddarraju: That appears to work.
I was expecting `/usr/local/bin` to be on the $PATH by default.

[2015-05-27 10:51] pmorie commented on #8190
+100 to container volume
On Wed, May 27, 2015 at 3:20 AM Brian Grant <notifications@github.com>
wrote:

[2015-05-27 11:08] justinsb commented on #8799
OK, so v1beta3, so looks like a real failure.  The reason should be in kube-controller-manager logs.  You may be interested in #8760 for an easier way to get this info.

Every time I've seen this on GCE, it has been due to load-balancer quota being hit.  (Potential root cause: I _think_ that cluster/kube-down on GCE doesn't remove load-balancers (?) but only noticed this yesterday and haven't conf

[2015-05-27 11:31] jdk-google opened #8859 "Guestbook OSS documentation should refer to GKE documentation for users using GKE"
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook should specify that for GKE installations we should use https://cloud.google.com/container-engine/docs/tutorials/guestbook

[2015-05-27 12:16] jayunit100 opened #8861 "[DOCS] update pod-states.md with information about probing and probe types."
There don't appear to be any explanations of how to use readiness or liveness probes, with exception of one or two sentences in `pod-states.md` and `replication-controller.md`.

Can we get a rough page up with the basics of what these probes are and how they are meant to be used ?

- What is a probe?
- What is a livenessProbe vs a readinessProbe ?
- How are either of these normally used.

There is

[2015-05-27 12:38] sroze commented on #8489
@nikhiljindal well, I've the same issue which is not fixed by setting the `Content-Type` value, at least with the "strategic merge patch".

Here's the request:
[code]

Here's the response body:
[code]

And here's the log trace of the request in the apiserver pod:
[code]

[2015-05-27 12:50] markturansky commented on #8361
When cadvisor is unavailable (say, on OS X), a node has no pod capacity and cannot schedule any pods.  This was only recently introduced.

This one liner fixes it:   https://github.com/GoogleCloudPlatform/kubernetes/pull/8826

[2015-05-27 13:08] Telmo commented on #7332
Why is kubernetes trying to download an image from a registry out in the internet. When trying to test in network that have no access to the internet the testing completely breaks down and it makes it so kubernetes can't be deployed to not internet facing hosts.

[2015-05-27 13:35] pweil- commented on #8850
Got it, will do.

[2015-05-27 13:38] timothysc commented on #8119
@wojtek-t yes, we(myself, @rrati, & @jayunit100) resynch to the tip of master nightly.

[2015-05-27 14:02] timothysc commented on #7572
@filbranden @roberthbailey @dchen1107 Fix From #8695 ^

[2015-05-27 14:52] marekbiskup commented on #8107
The plan is to createc a new binary kube-apiserver.go, deployed on kubernetes-master. The binary will:
  1. Read the directory $1 (/etc/kubernetes/addons) and load api objects to memory
  1. Query the API server to check which objects are available with label "kubernetes.io/cluster-service=true" (services, replication-controllers)
  1. Match the existing api objects and objects from the directory

[2015-05-27 15:05] mikedanese commented on #8861
Ack. I have some downtime today so I can write up a sketch.

[2015-05-27 15:21] kargakis commented on #8676
@bprashanth the refactoring I've made in the loop doesn't change its behavior, it just makes more explicit what's happening. I'm running on an Intel Core i7-4600U CPU @ 2.10GHz, and run Kubernetes via OpenShift in a Vagrant environment. I'll run more tests and get back with verbose logging from the server.

[2015-05-27 15:44] erictune commented on #561
That seems like a fine approach if your goal is to send a percentage of
traffic to services that that are slightly different (A/B testing, etc).
In that case, the set of backend services is limited to 2 or a small number.

I assumed that the initial issue was for doing L7 load balancing across
identical replicas of a possibly large and varying number.  In which case,
the pattern you mention doesn'

[2015-05-27 15:51] a-robinson commented on #8799
@justinsb - I can confirm, kube-down doesn't touch load-balancers. We'd really like #4630 so we have a way to clean everything owned by the cluster up, but it could be put in kube-down with a bit of work.

[2015-05-27 15:55] kargakis commented on #8676
Hmm, the update time seems pretty random. Now after deleting 50 pods it just took 1s.
[code]

@bprashanth generally I was wondering if we could update status.replica as the deletion of the pods happens?

[2015-05-27 16:08] roberthbailey commented on #8107
@marekbiskup - Just a nit, but I assume you didn't mean to say that the binary would be called kube-apiserver.go (since that name is already taken).

It sounds like this is another controller loop. Did you talk to @lavalamp about whether there is an existing place on the master that it could be added (e.g. the controller-manager)?

[2015-05-27 16:12] roberthbailey commented on #7964
@thockin - can you remind me why we pass `--insecure-registry 10.0.0.0/8` to docker? Is that something you think we could remove?

[2015-05-27 16:15] smarterclayton commented on #8676
This sounds like an update is lost to a race somewhere, and as a result we have to wait for the sync interval / timeout in some cases.

----- Original Message -----

[2015-05-27 16:19] uruddarraju commented on #8796
cool. Thanks for letting me know.

[2015-05-27 16:28] bprashanth commented on #8676
If the update is lost because of, say a CAS race, we requeue the rc so it should retry without waiting for resync (it's added at the tail of the queue for fairness): https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/controller/replication_controller.go#L389
When this happens you should also see the error in the logs.

We could consider doing that. I guess you mean as each goroutine

[2015-05-27 16:28] stephenR opened #8867 "Filter/restrict access to http://metadata from containers"
On GCE, the metadata server gives access to tokens/certs for the master apiserver as well as auth tokens belonging to the project's service account.
We could use an iptable rule to block all connections coming in from a container that doesn't share the host's network interface.
While this is not a perfect solution from a security point of view, it could at least keep users from relying on auth sco

[2015-05-27 16:32] bgrant0607 commented on #8319
@gmarek The biggest problem with the minion/node rename IMO is that we haven't finished it.

As mentioned above, scale is, by far, more common terminology than resize.

Anyway, this is done and awaiting merge.

[2015-05-27 16:40] #5057 closed

[2015-05-27 16:44] derekwaynecarr opened #8868 "Admission control doesn't handle subresources correctly"
A POST to /pods/foo/status should result in admission control being told the following:

[code]

Right now, it results in:

[code]

The resource values should align with what is registered with the storage object.

Need to update admission controllers in code today to handle sub-resource properly.

/cc @smarterclayton @csrwng

[2015-05-27 16:46] smarterclayton commented on #8868
Likewise, pod exec should be:

[code]

[2015-05-27 16:46] csrwng commented on #8868
operation := "connect"

[2015-05-27 16:46] smarterclayton commented on #8868
Without this change admission control is inconsistent with authorization about how it handles sub resources.

[2015-05-27 16:50] roberthbailey commented on #8867
@satnam6502 will this break fluentd logging?
@vishh @vmarmol will this break heapster monitoring?

[2015-05-27 16:53] csrwng opened #8869 "Pod subresource storage (Exec, PortForward, Proxy, Log) should return appropriate object on New"
The following resources need to be returned:

Exec -> PodExec
PortForward -> PodPortForward
Proxy -> PodProxy
Log -> PodLog

[2015-05-27 16:53] csrwng commented on #8869
/cc @smarterclayton @derekwaynecarr

[2015-05-27 16:53] vmarmol commented on #8867
This would break GCM and GCL support in Heapster.

Putting my security hat on, it is probably the right thing to do :) We need to find a more secure mechanism to get this type of auth data to jobs.

[2015-05-27 16:53] csrwng commented on #8869
Related to https://github.com/GoogleCloudPlatform/kubernetes/issues/8868

[2015-05-27 16:56] alex-mohr commented on #8867
Restricting the metadata server could also break apps other than heapster/fluentd that run in containers that rely on getting those scopes?  I think it's fine to err on the side of exposing functionality now -- we're not at the point where we're trying to harden the VM against malicious containers that run on it.

[2015-05-27 16:59] bgrant0607 commented on #473
@smarterclayton @timothysc Is there any more progress on this?

[2015-05-27 17:22] stephenR opened #8871 "Harden kubectl proxy"
The current default behavior of kubectl proxy is to listen on all addresses on port 8001. Thus anyone on the same network gets full access to the apiserver of my cluster.
It would be good to default to listen on localhost and maybe add a flag to override this behavior.

The second issue is that the proxy is vulnerable to dns rebinding. I.e. if I'm running a kubectl proxy and browse the web at the

[2015-05-27 17:32] preillyme commented on #8830
While I completely agree with @bgrant0607's comments regarding checking in generated code I feel that ```pkg/ui/datafile.go``` is a bit of a special case. I'd like to come up with a way that the WebUI can be included by default without any extra build steps all while insuring that it isn't stale in comparison to the files that are currently in the repository. Any suggestions on how to handle this

[2015-05-27 17:35] roberthbailey commented on #8871
/cc @jlowdermilk

[2015-05-27 17:38] bprashanth commented on #6770
We've already randomized the watch timeouts, I'm also doing as @davidopp suggested but making sure we drop it low enough in our e2e tests

[2015-05-27 17:40] jlowdermilk commented on #8871
Can you expand on this? What expected values would we be checking for?

[2015-05-27 17:51] roberthbailey commented on #7332
The default behavior is to download the pause container from gcr.io. This can be overridden by passing a command line flag to the kubelet on startup.

[2015-05-27 18:04] #8796 closed

[2015-05-27 18:20] ArtfulCoder commented on #8512
closing this issue.
It is resolved now  with https://github.com/GoogleCloudPlatform/kubernetes/pull/8568 and we have e2e test as well to cover this.

[2015-05-27 18:20] #8512 closed

[2015-05-27 18:30] vishh commented on #7471
Reassigning to @ArtfulCoder!

[2015-05-27 18:30] lavalamp commented on #8190
+1

[2015-05-27 18:31] vishh commented on #7471
xref #6666

[2015-05-27 18:34] lavalamp commented on #8190
@bgrant0607 I have been thinking for a while now that it's bad that we have gcePersistentDisk and awsElasticBlockStore as volume types that *pods* need to specify. It seems to me that if we want true workload mobility, we need to abstract this into a separate type, so that you can use the same pod descriptions on any cloud provider. IOW pods shouldn't depend on on the implementation of persistence

[2015-05-27 18:37] JeanMertz opened #8874 "kubectl rolling-update does not accept stdin"
[code]

[code]

[code]

[2015-05-27 18:50] JeanMertz commented on #7047
:+1: for this.

I'm using something like this:

[code]

[2015-05-27 18:53] rhcarvalho opened #8876 "kubectl exec by pod label"
I often find myself wanting to exec commands on single-container pods, and since pod names are not "stable", I use some wrapper script to avoid constantly updating pod names:

[code]

My `get_current_pod_name` returns the name of the first pod matching a label, and that covers the case when I want to execute the script on any one and only one container.

For fetching server logs of different pods/

[2015-05-27 19:28] timothysc commented on #473
@bgrant0607 I'm still waiting on priority resolution for execution on the proposal.  Are there other pressures not on my radar?

[2015-05-27 19:38] davidopp opened #8878 "Kubelet should not restart RestartPolicyNever pods when machine reboots"
(Discussed in person today.)

@dchen1107

[2015-05-27 19:43] quinton-hoole opened #8879 "Make test/e2e/core.go download compressed log files, not cat plain text over the wire"
ref: #8852

[2015-05-27 19:45] bgrant0607 commented on #7047
In addition to declarative config (#1702), we also plan to make PUT create or update in the API -- #2114.

[2015-05-27 19:47] bgrant0607 commented on #8190
@lavalamp That's what persistentVolumeClaim is for. We just haven't removed the old fields yet.

[2015-05-27 20:03] lavalamp commented on #8676
It should be updated when the deletion is observed, not when it's initiated. We want this field to follow reality, not precede it.

(imagine a client waiting for a RC stop to do an RC delete, and the RC manager sets replicas to 0 when it sends the deletions, and then the client sees this and deletes the RC, and then something goes wrong and the deletions fail-- this leaves stranded pods)

[2015-05-27 20:21] bprashanth commented on #8676
If necessary one could assume that a 200 response from the Delete rpc is enough instead of waiting for the watch. I'll need a little convincing that this is necessary, though.

This is exactly what would happen if we updated the status.Replicas when we spawn the delete goroutines (i.e at the point you see the line "Too few replicas...")

[2015-05-27 20:24] krousey commented on #8087
Having to update heapster. See https://github.com/GoogleCloudPlatform/heapster/pull/298

[2015-05-27 20:25] thockin commented on #8874
Are you sure that myapp.rc.json is valid?  Can you add --validate to this?

[2015-05-27 20:26] thockin commented on #8876
Interesting idea.  I think it will have to wait for our 1.0 launch, but it sounds reasonable.

[2015-05-27 20:27] lavalamp commented on #8676
I'd still prefer to decrement replicas after the deletion has actually propagated through the system. What I'd really like is to not decrement it until kubelet has actually deleted the pod, but that's not possible until we have some way of expressing the being-deleted stage in the API.

[2015-05-27 20:29] erictune opened #8884 "kubectl log does not support pods/foo format"
kubectl create prints out the names of the created resources with the resource type as a prefix, like:
[code]

You can pass this prefixed name as an argument to `kubectl describe` but not to `kubectl log` (and presumably not to `kubectl exec`, though the latter not tested).

This would be nice for copy/paste with a default selection regex that includes slash as part of a word, and for scripts that

[2015-05-27 20:29] bprashanth commented on #8676
Agreed. That would make stop even slower :)

[2015-05-27 20:30] erictune commented on #8884
Specifically, `kubectl log pods/mypod` does not work and I think it should.

[2015-05-27 20:37] lavalamp commented on #473
If you access the kubernetes service instead of hard-coding an IP address, it will just work, no need for a load balancer. (some bootstrapping required for kubelet/kube-proxy)

[2015-05-27 20:51] brendandburns commented on #7444
@pires we'd love to take over the Dockerfile for the example, it will def. make it easier to make changes in the future.

[2015-05-27 20:55] brendandburns commented on #8876
yeah, sadly I think we should punt this past 1.0.  For now, you can hack around this with:

[code]

but that's pretty ugly.

[2015-05-27 21:05] #7091 closed

[2015-05-27 21:08] vishh commented on #7972
@quinton-hoole: Are you still looking into this issue? (Node team triage).
cc @saad-ali

[2015-05-27 21:11] alex-mohr commented on #1957
From reading the Jan 13 comment by @bgrant0607 it seems like what we're looking for smells more like a database than a plain k-v store.  If we're going to look at alternate storage implementations, can we please do a due diligence on "real databases"?

[2015-05-27 21:12] #7476 closed

[2015-05-27 21:13] pires commented on #7444
@brendanburns I'm just worried about the current example not working with any of the Kubernetes releases. 0.18.0 was tagged but removed so I can't test it today as well and update it.

Anyway, do you need anything from me to take over the Dockerfile?

[2015-05-27 21:14] #7236 closed

[2015-05-27 21:22] vishh commented on #5880
I made some changes to heapster to make it scale to 100 nodes without any load.
Next steps:
1. Measure resource usage of heapster in a 100 node cluster with and without load.
2. Soak test for heapster to quantify its reliability.

cc @saad-ali @dchen1107

[2015-05-27 21:44] bgrant0607 commented on #8119
Do we have any idea how much read vs. write etcd traffic we generate? An option for scaling the read load would be etcd proxies: https://coreos.com/etcd/docs/2.0.8/proxy.html

[2015-05-27 21:53] bprashanth commented on #8119
I looked at this at some point. IIRC both reads and writes are still proxied to the core cluster but the proxy will shuffle around the member it hits. With the default consistency settings this could lead to weirdness.

[2015-05-27 21:53] davidopp commented on #4521
Can you give an update on these? It looks like first one is dependent on #8860/#8872, and last one is dependent on #6770? Is there a PR or issue for the second one?

[2015-05-27 21:59] mkulke opened #8891 "kube-proxy process is using alot of ram"
Hi there,

we are experiencing a possible memory-leak in kube-proxy. After a few days of operation there is a steady rise of memory amassed by the kube-proxy process (up to 800mb, cpu usage is also growing accordingly). When restarting the process, it goes down to ~17mb again. Is this considered normal or maybe misconfiguration? The kube-proxy unit logs are not revolting. I attached a screenshot f

[2015-05-27 22:07] quinton-hoole commented on #7972
I did a little bit of code archeology yesterday, but got interrupted before I got to the bottom of the problem.  I'll unassign myself for now, and update this bug if I find anything.  I definitely won't look at it again before tomorrow.

[2015-05-27 22:09] jeffmendoza commented on #8825
Please assign to me

[2015-05-27 22:18] erictune commented on #8867
Eventually, I think we would want the set of GCE scopes that a pod can access to be controlled at a per-pod granularity, not a per-node granularity.    This allows principle of least privilege for pods and users.

This is too complex to do for v1.

Notes on what we would need to do to get per-node credentials:

We might want an option to remove the `.internal` from the Pod's dns search path.  This

[2015-05-27 22:19] erictune commented on #8867
I'm going to remove v1-candidate and lower priority.

[2015-05-27 22:20] quinton-hoole opened #8892 "Flaky e2e test: Services should be able to change the type and nodeport settings of a service"
This test is failing intermittently on our GCE-based continuous integration system:

(Failed 13 times in the last 30 runs. Stability: 56 %)

Test log below.

@justinsb could you perhaps repro and fix?

Services should be able to change the type and nodeport settings of a service

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/t

[2015-05-27 22:26] quinton-hoole commented on #8892
Some more detailed logs:

Services
  should be able to change the type and nodeport settings of a service
  /go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/service.go:521
[BeforeEach] Services
  /go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e

[2015-05-27 22:34] erictune commented on #8867
If secrets were the only problem, then it might make sense to have a per-node filtering proxy which serves all of the metadata except secrets.

But, exposing metadata also makes pods less portable.
  - a migrated pod or a restarted pod with persistent storage will notice that the node metadata is different.
  - pods which rely on metadata won't work on non-GCE IaaS which makes it harder to write c

[2015-05-27 22:36] #8755 closed

[2015-05-27 22:39] satnam6502 commented on #8867
@roberthbailey I don't know -- I need a few minutes to think about this -- which probably can't happen until Saturday.

[2015-05-27 22:40] #8845 closed

[2015-05-27 22:42] erictune commented on #8867
fluentd does not run in a container, so it would not presumably not be affected by a change that only restricts access to metadata within containers?

[2015-05-27 22:43] jeffmendoza commented on #8824
@juliaferraioli How about linking to https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/gce.md instead?

[2015-05-27 22:45] satnam6502 commented on #8867
@erictune fluentd does not run in a container? What little I know turns out to be false and now I realize I know less than nothing.

[2015-05-27 22:45] jeffmendoza commented on #8820
I'll take this one

[2015-05-27 22:50] erictune commented on #8867
Doh!  There are several fluentds, but the one that matters is indeed in a
container.

On Wed, May 27, 2015 at 3:45 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-05-27 22:56] jeffmendoza commented on #8694
I'll take this one

[2015-05-27 22:58] bgrant0607 commented on #8830
@preillyme Our generated conversion code has the same problem. We don't have a general fix yet, hence this issue.

[2015-05-27 23:04] vmarmol commented on #8891
Could you take a heap profile of the Kube-proxy in this state? Should just be:

[code]

[2015-05-27 23:05] smarterclayton commented on #7562
Related to #598

[2015-05-27 23:08] dchen1107 commented on #8742
Ok, there is a race when monit is used to monitor services that are also started at boot time via init.d, in our ecosystem, such as kubelet, kube-proxy, and docker. Especially when a service is slow to start, monit can assume that the service is not running and possibly try to start it and raise an issue while the service is already about to start or already in its startup sequence. In this case,

[2015-05-27 23:17] ddysher commented on #1319
@ncdc Thanks for jumping in.  To answer your question, I'm looking to setup a cluster private registry in k8s :)

Basically, I was thinking that for uploading image from client to the registry, we use the same mechanism you did for kubectl exec, i.e. master as a reverse proxy to the actual location of the pod (here registry service).  I'm a little concerned about the performance though - not sure

[2015-05-27 23:17] smarterclayton commented on #8676
We have that with #8641.  But I don't think waiting for the pod to be fully deleted is the right behavior - I think you want to be creating new pods immediately after the deletion notice has been accepted by the API server, because in most cases you want additional capacity online immediately (many web frameworks will stop accepting new requests immediately after getting SIGTERM).

[2015-05-27 23:23] #8448 closed

[2015-05-27 23:24] #8861 closed

[2015-05-27 23:26] #8218 closed

[2015-05-27 23:57] bprashanth commented on #4521
I can elaborate a little on the relist situation, since I'm currently working on it:
- Half of the relist problem (#6770) is addressed by https://github.com/GoogleCloudPlatform/kubernetes/pull/8574
- The second half is split between:
 * piping the timeout in the above pr as a command line arg to the apiserver, setting it really high in prod, and lower during tests. This will not completely solve t

[2015-05-28 00:04] lavalamp commented on #1319
I don't think we need to add a kubectl command; just expose the registry (e.g. via external load balancer) and use docker regularly. We already have pull secrets actually, so that should Just Work.

[2015-05-28 00:14] ddysher commented on #1319
Ah, pull secrets from this one #7894?  I'll take a look.

[2015-05-28 00:19] bgrant0607 commented on #1319
The registry should be run as an "addon", similar to DNS.

[2015-05-28 00:41] justinsb opened #8900 "Should we auto-open ports for load-balanced service?"
Currently (on GCE) we don't automatically open ports for a load-balancer service.  Users must manually open them  (`gcloud compute firewall-rules create ingress --allow tcp:80 --target-tags=kubernetes-minion`).  Mentioned this to @thockin and he suggested that maybe we _should_ be opening them.  Should we be, or do we expect users to open firewall-rules for any services they create?

In general, I

[2015-05-28 00:43] justinsb opened #8901 "nodePort == 0 should be omitted"
omitEmpty does not omit integer fields, but we really want omitEmpty on nodePort.

@thockin suggested using replica count as an example for how to do this.

(Or is it possible to have omitEmpty recognize int == 0 as empty?)

[2015-05-28 00:47] justinsb commented on #8892
Looks like I shouldn't create such evil e2e tests.  I will try to reproduce & fix.

[2015-05-28 01:01] bgrant0607 commented on #4348
@daizuozhuo Sorry for not getting back to you sooner. We're in a crunch for our 1.0 milestone. @brendandburns volunteered to mentor.

Could you copy the language-design part of the proposal into this issue?

Also, I'm inclined to introduce this as a new output format, not necessarily removing the existing template functionality, at least for now.

[2015-05-28 01:08] bgrant0607 commented on #8683
What if the master is updated before the kubelet, and the master adds a new API field with a default value?

[2015-05-28 01:09] bgrant0607 commented on #8683
That case should be discussed in #4855

[2015-05-28 02:14] bgrant0607 commented on #7018
@sym3tri Events support more sophisticated filtering than other objects already.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/event/rest.go#L126
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/events_test.go#L36

[2015-05-28 02:15] bgrant0607 commented on #7018
#6895 is in progress.

[2015-05-28 02:17] bgrant0607 commented on #8235
Not changing this in v1.

[2015-05-28 02:18] bgrant0607 commented on #4811
Replaced by Type in the v1 API.

[2015-05-28 02:18] #4811 closed

[2015-05-28 02:20] bgrant0607 commented on #7018
PortalIP rename is in the merge queue: #8740

[2015-05-28 02:35] bgrant0607 commented on #7299
cc @RichieEscarez

[2015-05-28 03:00] bgrant0607 commented on #5799
@RichieEscarez We need this done now. Reassigning.

[2015-05-28 03:03] bgrant0607 commented on #5799
cc @krousey Feel free to help.

A quick search for v1beta1 shows that the following providers need to be updated:
* azure
* mesos
* juju
* fedora
* coreos/bare_metal_offline

[2015-05-28 03:05] bgrant0607 commented on #6584
kubectl proxy and kubectl update also still use v1beta1 examples

cc @jlowdermilk @krousey

[2015-05-28 03:07] bgrant0607 commented on #6584
libvirt-coreos still uses v1beta1 @lhuard1A

[2015-05-28 03:09] bgrant0607 commented on #6584
@wojtek-t pkg/api/node_example.json needs to be updated to v1beta3

[2015-05-28 03:12] bgrant0607 commented on #6584
@wojtek-t Nevermind. The problem is that the selfLink is wrong. https://github.com/GoogleCloudPlatform/kubernetes/issues/6596#issuecomment-95718519

[2015-05-28 03:14] bgrant0607 commented on #6584
#7629 should have fixed that problem, but we need to update the selfLinks of `pkg/api/*_example.json` files.

[2015-05-28 03:17] bgrant0607 commented on #6584
libvirt-coreos is in progress -- #8273

[2015-05-28 03:20] justinsb opened #8903 "cluster/kube-up for GCE does not recover from partial uploads"
I accidentally interrupted cluster/kube-up during an upload of kubernetes-server-linux-amd64.tar.gz

I ran cluster/kube-up again, and it got most of the way through, but then my cluster failed to come up.  The master syslogs showed that the kubernetes-server-linux-amd64.tar.gz file was corrupt.

It looks like kube-up deliberately chose not to upload a correct version of the tar file the second tim

[2015-05-28 03:21] #7179 closed

[2015-05-28 03:23] bgrant0607 commented on #2839
cc @RichieEscarez

[2015-05-28 03:24] bgrant0607 commented on #7299
See also #2839

[2015-05-28 03:41] smarterclayton commented on #1319
The nodes have to have DNS as a resolver, or the registry has to have serving certs matching the service ip.  Or the registry can be run insecure, but that makes it a bit harder.

[2015-05-28 04:01] aronchick commented on #8827
There's an additional bug here around name conflicts on rolling updates, that I'm not sure if you'd like to split out.

[code]

Expected: Notification that there was a name conflict.

[2015-05-28 04:14] justinsb commented on #8892
I have been unable (so far) to reproduce a single failure.  It might be that the timeout (4 minutes) is just too low, particularly if we hit a busy time for GCE.

#8887 adds events for load balancer errors (thanks brendan!)

#8892 logs events when the test fails, by bringin in framework

Hopefully we can both of these merged and this will shed some light on the issue.

[2015-05-28 04:16] quinton-hoole commented on #8892
Thanks Justin.  I'll pull some system logs tomorrow from our clusters, which exhibit the symptom quite readily.

[2015-05-28 04:18] bgrant0607 commented on #7835
@markturansky The necessary plugins don't exist yet. They are mentioned in #8190. We could extend the volume plugin API to add defaulting, conversion, and validation, but we eventually need a mechanism that's more general than just volumes.

[2015-05-28 05:15] WIZARD-CXY commented on #8772
/sub

[2015-05-28 05:30] davidopp commented on #8676
I tend to agree with @lavalamp. Waiting is the conservative thing and arguably users are less likely to be negatively impacted if they are surprised that a new pod took a long time to spin up vs. surprised that they had more replicas running at the same time than they wanted (for example, they may not have enough quota to run more than the indicated number of pods or something like that). Maybe we

[2015-05-28 05:48] JasonGiedymin commented on #3798
Master has been updated. Shouldn't this be closed?

[2015-05-28 05:53] mkulke commented on #8891
ok, I ran this against the healthz port of a kube-proxy which is using ~400MB currently:

heap profile: 578: 17700192 [74102: 132794104] @ heap/1048576
540: 17694720 [3128: 102498304] @ 0x41a56c 0x48c09e 0x4f16a5 0x4f7e30 0x48c04d 0x572eff 0x43f481
12: 3456 [12: 3456] @ 0x416baa 0x4333bf 0x435ebf 0x43624d 0x436059 0x43d058 0x433020
11: 704 [30: 1920] @ 0x430dab 0x43d058 0x433020
3: 336 [5: 560] @

[2015-05-28 05:58] JasonGiedymin opened #8907 "Vagrant provision script - avoiding environment settings"
In the provision script it tries to do `grep -v` which is an inverted match for `/^#...` regex expression. On some systems users _may_ have colors set via the user's profile. The result is a concat with color codes injected into the resulting provision scripts, ultimately failing the provision and failing `vagrant up` command.

It may be better to avoid this and other edge cases by using awk.

I h

[2015-05-28 06:28] bgrant0607 commented on #8087
@krousey Do you have any WIP PRs for any of the other necessary changes? What could be picked up by other people?

[2015-05-28 06:54] bengong2015 commented on #8652
Thanks, I already solved the problem by manually setting the ip&route of docker bridge(docker0) and assigned key value of etcd. (e.x. docker0 on 202.120.11.51: 172.17.41.1 and key of etcd: 172.17.41.0-24 '{"publicIP":"202.120.11.51"}') It seems the flannel sometimes cannot automatically syno. the setting of docker0 and etcd keys if I manually change one of them.
There are other problems:
1. The ku

[2015-05-28 07:37] wojtek-t commented on #6584
@bgrant0607 - thanks for heads up - #8909 is sent out for review

[2015-05-28 07:40] cosminilie opened #8910 "Add support for live volume mount/unmount in kubernetes"
Based on the discussion on the mailing list [https://groups.google.com/forum/#!topic/google-containers/j0QR971KtJc] i'm opening a feature request.

We have the following scenario in our application. On each container we run a multi-tennat java app. For each tenant we're using using 2 NFS volumes . One is used to store the tenant's files (inputs for processing,reports and other data we can't loose)

[2015-05-28 07:54] wojtek-t commented on #7561
I talked with @roberthbailey about the third issue and he said it's reasonable to increase it even to 10 minutes for big (100-node) clusters. Since we're still facing this issue with 5-minute timeout, I'm going to try increasing it to 10 minutes.

[2015-05-28 08:21] wojtek-t commented on #7561
Regarding firewall, the hypothesis is that it might be related to QPS quota. This might be fixed with #8899

[2015-05-28 09:54] simon3z opened #8911 "Use local gce metadata server in kubelet"
Kubelet / gce provider should access the local metadata server to get the Instance ID of a node.

Reference: https://github.com/GoogleCloudPlatform/kubernetes/pull/7775#discussion_r31180032

 		// TODO(roberthbailey): Can we do this without having credentials to talk
 		// to the cloud provider?
		externalID, err := instances.ExternalID(kl.hostname)
		if err != nil {
			return nil, fmt.Errorf("fai

[2015-05-28 10:23] rhcarvalho commented on #8876
I'm currently using:

[code]

[2015-05-28 11:00] sroze commented on #8489
Come from a typo, purposed PR here:
https://github.com/GoogleCloudPlatform/kubernetes/pull/8913

[2015-05-28 12:12] derekwaynecarr commented on #8907
The change is fine.  Feel free to open a PR

[2015-05-28 12:14] derekwaynecarr commented on #3798
Agree

[2015-05-28 12:14] #3798 closed

[2015-05-28 12:19] stephenR commented on #8871
If it's a legitimate request from the browser, the host header should either include localhost:8001 or an ip address, i.e. 127.0.0.1:8001 or [::1]:8001 but other addresses might be possible. An empty host header is probably fine too.

Another issue with this proxy is that other web based attacks will apply, for example XSRF and XSS.
To protect against XSRF attacks I think it would be sufficient to

[2015-05-28 12:29] daizuozhuo commented on #4348
@brendandburns how do I contact you?
Yes, I just provide one more option for output format. The proposal design part is like this:

1. The expression surrounded by single quote ' will be evaluated.
template: hello 'jq'
input: {jq: "world"}
output: hello world

2. nested key selection
expression: '.a.b'
input: {a: {b: 42}}
output: 42

3. array index and range selection
expression: '.[2:4]'
input: [

[2015-05-28 12:37] satnam6502 commented on #8799
Adding `type: LoadBalancer` causes a load balancer to be ceated:
[code]
and we can see the IP if we get the service:
[code]
and we also see it from the regular get:
[code]

[2015-05-28 12:44] andronat commented on #8319
This is done, I think it can be closed

[2015-05-28 13:02] sroze commented on #8489
Btw, I'm still having strange issues with sub-objects. Note that it appears only is the sub-object is already set.

Here's the request:
[code]

Here's the API log:
[code]

[2015-05-28 13:05] fgrzadkowski commented on #4521
@davidopp There is not PR or issue for the high CPU usage of etcd client library. Recently we've observed that despite CPU not being saturated we still have high latency (99tile up to 3-4s). It seems it's not CPU bound, so for now I've focused on understanding the reasons behind it.

[2015-05-28 13:38] stephenR commented on #8871
Found one:
http://localhost:8001/api/v1beta3/proxy/nodes/kubernetes-minion-brc6/run/default/elasticsearch-logging-dr7bq/elasticsearch-logging?cmd=ls%20-l&stdout=1

With that, if you have kubectl proxy running and visit http://evil.com, evil.com will be able to run arbitrary commands in the cluster.

[2015-05-28 13:52] bgrant0607 commented on #8319
Fixed by #8596

[2015-05-28 13:52] #8319 closed

[2015-05-28 14:01] quinton-hoole commented on #8799
FYI @a-robinson , we're still leaking a lot of load balancer resources in GCE.  I have to clean them up every few hours for our continuous integration tests.  Are you looking into improving this?

[2015-05-28 14:01] smarterclayton commented on #8700
Why don't we just unify the etcd watch locally?  That means there is only one CPU talking to etcd.

[2015-05-28 14:02] smarterclayton commented on #8700
The hard part there is dealing with slow readers on the API server but it's going to massively reduce TCP and memory overhead

[2015-05-28 14:22] justinsb commented on #8799
@satnam6502 That would be a bug - createExternalLoadBalancer=true should effectively set type=LoadBalancer .  It could be that you "got lucky" when you tried again, but I'll look into it & add a test.

@quinton-hoole Do you suspect the leak is due to a bug in destroying a service with an LB, or due to calling cluster/kube-down while an LB exists, or due to the GKE e2e issue which someone identifie

[2015-05-28 14:25] roberthbailey commented on #8911
@quinton-hoole When https://github.com/GoogleCloudPlatform/kubernetes/pull/7775 goes in we'll be hitting the GCE API quite a bit more... so this should get fixed asap.

[2015-05-28 14:45] smarterclayton commented on #8676
If you break because of pre-spin, you're already going to be broken because of the node controller behavior as soon as the node loses a connection to the master.  Are we doing users a favor by pretending that replication controller guarantees "no more than N instances will be running"?  And in the meantime, you reduce the availability of every service using a replication controller in the presence

[2015-05-28 14:50] wojtek-t commented on #7561
It's also possible that nodes node registering themself in the apiserver could be the same issue (lack of QPS quota) - based on what @roberthbailey said.
That's why I'm going to wait for #8899 to be merged before spending more time on it now.

[2015-05-28 14:51] quinton-hoole commented on #8799
@justinsb the leak is probably due to the GKE issue, but I'm not sure.  Thanks for reminding me.  I'll double-check today that we don't have leaks other than that one.

[2015-05-28 15:00] justinsb commented on #8799
@quinton-hoole Great.  We probably should add the load-balancer leak test to the e2e tests anyway, I just have a lot on my plate already and I don't think it is completely trivial because it involves peeking behind the scenes of the k8s API.  But if it helps us find the leak it'll be worth it!  Let me know if it doesn't seem to be the GKE issue.

[2015-05-28 15:18] pmorie commented on #8465
Closed by #8736

[2015-05-28 15:18] #8465 closed

[2015-05-28 15:21] vmarmol opened #8918 "Verify Kubernetes with Docker 1.7 RC"
Looks like the 1.7 RC is out:

https://gist.github.com/vieux/42189ac13129efbadd15

[2015-05-28 15:21] krousey commented on #8087
Created a WIP PR. I'm currently blocked on getting heapster updated and will be working on that. Someone could probably take #8240 from me.

[2015-05-28 15:27] quinton-hoole opened #8919 "Fix #8899"
See comments in #8899.  We had to merge it to prevent GCE quota exhaustion, but it's pretty broken.

[2015-05-28 15:34] RichieEscarez commented on #7299
Im currently working on a site reorg and am defining a navigation structure for the docs around the two main (high-level) roles "app developer" and "cluster admin" (and then will migrate all doc around those roles over to the kubernetes.io site). I see that there are several open bugs related to this effort so Ill make sure to address them all in this effort.

[2015-05-28 16:09] rjnagal commented on #8658
@vnugent were you able to verify etcd setup?

[2015-05-28 16:12] rjnagal commented on #8258
Closing this one in favor of other generic issues under label - area/upgrade

[2015-05-28 16:12] #8258 closed

[2015-05-28 16:24] bgrant0607 commented on #8087
We should also rip out externalID -- see #7775.

[2015-05-28 16:31] bgrant0607 commented on #8087
@smarterclayton Do you still need RESTScopeNamespaceLegacy?

[2015-05-28 16:41] vmarmol commented on #8891
Argh, looks like that doesn't have the symbolized lookup. Sorry for the trouble, but can you grab another trace:

[code]

and upload the SVG.

[2015-05-28 16:54] timothysc commented on #4521
at @fgrzadkowski we see the same thing.

[2015-05-28 16:54] pmorie commented on #7739
Resolved by #7936 and #8149

[2015-05-28 16:54] #7739 closed

[2015-05-28 17:21] lavalamp commented on #8700
Unifying the watch basically means implementing caching/indexing (because you have to keep a change history). We're gonna have to do it for our next increment of scalability. But it's a lot of work and a big change, so we'd like to do it post 1.0 if we possibly can.

[2015-05-28 17:23] bprashanth commented on #8700
fyi I decided to give streaming support a shot myself https://github.com/coreos/etcd/pull/2879

[2015-05-28 17:24] bgrant0607 commented on #8468
Could be a consequence of auto-registration -- #6949

[2015-05-28 17:25] xiang90 commented on #8700
@lavalamp @smarterclayton

etcd has decided to improve the watching stuff fundamentally in v3. Providing O(1M) user driven compacted event history. I hope we do not do some crazy optimization in k8s. Or there might be duplicated work.

[2015-05-28 17:26] bprashanth commented on #4521
@fgrzadkowski we don't need to saturate cpu to starve the watch goroutines. If you have a process with n goutines all taking locks and one goroutine that *somtimes* gets an event on a channel, the go scheduler seems to de-prioritize the latter (no hard evidence, a conclusion drawn just from experimentation, see the test in the first comment on https://github.com/GoogleCloudPlatform/kubernetes/issu

[2015-05-28 17:28] a-robinson commented on #8799
@quinton-hoole - yeah, adding the sleep before cluster deletion clearly didn't do the trick, unless the jenkins config syncing wasn't working yesterday. There appear to be leaks from the e2e-flaky and e2e-soak clusters as well, so I'm not sure if it's just GKE? I've still never seen one from the GCE e2es, though. I look forward to the results from splitting out GKE into its own project.

[2015-05-28 17:30] dchen1107 opened #8928 "Regression: TestNoManualChangesToGenerateDeepCopies failed at HEAD"
My branch is synced to commit b8a808b1ae2321a6b9081e2ce3a2d8cf18b4f561 this morning.

--- FAIL: TestNoManualChangesToGenerateDeepCopies (0.03s)
	conversion_generation_test.go:126: please update conversion functions; generated: api.deep_copy.txt; first diff:
		expected: 	if in.ISCSI != nil {

		     got: 	return nil
	conversion_generation_test.go:126: please update conversion functions; generated:

[2015-05-28 17:37] bgrant0607 commented on #1111
Still a confusing mix of node and minion. Uses of minion include (not exhaustive):
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/minion/registry.go
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/minion/etcd/etcd.go
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/registrytest/minion.go
https://github.com/GoogleCloud

[2015-05-28 17:38] bgrant0607 commented on #7018
There's no way we can finish it, but we need to wean ourselves off "minion": #1111

[2015-05-28 17:38] bgrant0607 commented on #8087
There's no way we can finish it, but we need to wean ourselves off "minion": #1111

[2015-05-28 17:40] bgrant0607 commented on #8240
Ref #1111

[2015-05-28 17:41] quinton-hoole commented on #8799
@a-robinson No, e2e-flaky and e2e-soak are GCE, not GKE clusters.  You can see the exact definition in Jenkins.

[2015-05-28 17:45] thockin opened #8929 "kubectl get should show creation time for other resources"
e.g. being able to know when a namespace was created (at a  glance) would be nice.

[2015-05-28 17:52] smarterclayton commented on #8700
No disagreement - it seems like the real solution to the problem so I would to want to over solve it in another direction.

[2015-05-28 17:53] smarterclayton commented on #8700
Yeah the use case of our apiservers is a lot like the etcd proxy - rather than stream the same changes across 100 watches, coalesce them across a single watch which requires a change window, flow control for slow consumers, bounded memory use, etc.

[2015-05-28 17:57] bgrant0607 commented on #8240
@jlowdermilk Could you please take a look at this?

[2015-05-28 17:57] bgrant0607 commented on #8449
@jlowdermilk Could you please take a look at this?

[2015-05-28 17:58] jlowdermilk commented on #8449
Sure, I can take a look.

[2015-05-28 18:02] smarterclayton commented on #8087
Yes for at least a month or so more.  We have a slightly longer window on our v1beta1 window than you guys.

[2015-05-28 18:02] smarterclayton commented on #8087
If apiserver is left as is we're ok

[2015-05-28 18:10] lavalamp commented on #8799
@justinsb consider making validation fail if the createExternalLoadBalancer field is on and the type != loadbalancer, that will save people like Satnam a bunch of digging.

[2015-05-28 18:11] dchen1107 commented on #8918
cc/ @bgrant0607 @vishh

[2015-05-28 18:18] bprashanth commented on #8700
@smarterclayton i think we should go from reopening the watch from a 100 watchers every event to streaming the events to a 100 watchers, to aggregating the watchers into a single stream. The last optimization is only going to happen post 1.0. @xiang90 if you have a watch api proposal along these lines please share.

[2015-05-28 18:20] smarterclayton commented on #8700
The etcd 3 store changes will let us service the bulk of watches direct from the apiserver in our unified stream, but then fall back to etcd for anything outside our window.  Potentially the etcd stored window can be very large.

[2015-05-28 18:21] thockin commented on #1111
Honestly, just replacing it in the turnups would be a big deal - when I run
get nodes and see "minion" I cringe.

On Thu, May 28, 2015 at 10:38 AM, Brian Grant <notifications@github.com>
wrote:

[2015-05-28 18:35] lavalamp commented on #1319
I think the order has to be:

1. Make the registry service object.
2. Make a cert matching DNS name and/or external IP of registry service.
3. Stuff cert into a secret.
4. Launch RC that starts a docker registry configured to pull its cert from the secret.

It would be super nice if 2&3 were something that was done for you automatically-- using apiserver's cert to sign...

[2015-05-28 18:37] smarterclayton commented on #1319
Yeah, we sketched that out but would be post 1.0 at this point.

[2015-05-28 18:39] hurtz opened #8932 "kube-down.sh does not cleanup aws keypair for kubernetes"
When creating a Kubernetes cluster in any AWS region a new keypair is created named kubernetes. When calling kube-down.sh, this keypair is not removed, making the next kube-up.sh in the same region fail when looking for the salt-master. Once the key is manually removed the cluster can be created successfully.

[2015-05-28 18:46] jlowdermilk opened #8933 "e2e GCE test failure/flake: DNS should provide DNS for headless services"
Test went from 100% passing to failing roughly every other run since last night.
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/6459/testReport/(root)/Kubernetes%20e2e%20suite/DNS_should_provide_DNS_for_headless_services/history/

[2015-05-28 18:48] mbforbes commented on #8378
It looks like the underlying issues with pods not being running & ready is gone because this test is passing.

I'll close this for now.

Fortunately, unless all the pods are being moved out of the default namespace and this isn't looking at them, the reboot test should catch a regression in this problem.

[2015-05-28 18:48] #8378 closed

[2015-05-28 18:49] bprashanth commented on #8676
In the absense of unexpected update failures, an update to status.Replicas won't get lost. It might get delayed because of cpu or qps.

The tradeoff with status.Replicas is that we want it to reflect the current state of the system, not some catch-up state. Eg:
[code]
In this scenario status.Replicas skips 0 and jumps to 10.

Unfortunately kubectl stop relies on status.Replicas, so if you resize a

[2015-05-28 18:49] jlowdermilk opened #8934 "e2e GCE test failure/flake: Networking should function for intra-pod communication"
Timed out 8 of the last 11 runs
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/6459/testReport/(root)/Kubernetes%20e2e%20suite/Networking_should_function_for_intra_pod_communication/history/

[2015-05-28 18:50] bprashanth commented on #8572
We should consider having kubectl stop watch pods instead of the rc's status.replicas because of https://github.com/GoogleCloudPlatform/kubernetes/issues/8676#issuecomment-106564328

[2015-05-28 18:51] roberthbailey commented on #8468
Auto-registration wasn't part of 0.17.0, so that shouldn't affect it.

[2015-05-28 18:51] lavalamp commented on #8676
It's a client error to resize to 10 again if you're changing the pod in some way and you haven't observed the change to 0 succeed.

[2015-05-28 18:51] jlowdermilk opened #8935 "e2e GCE test failure/flake: Monitoring verify monitoring pods and all cluster nodes are available on influxdb using heapster"
test panicked:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/6459/testReport/(root)/Kubernetes%20e2e%20suite/Monitoring_verify_monitoring_pods_and_all_cluster_nodes_are_available_on_influxdb_using_heapster_/

cc @satnam6502

[2015-05-28 18:52] bprashanth commented on #8676
They could observe the success via listing pods though

[2015-05-28 18:55] jlowdermilk commented on #8935
Vish please take a look if you have cycles or reassign if there's someone with better context.

[2015-05-28 18:57] jlowdermilk commented on #8933
cc @vishh

[2015-05-28 18:57] rjnagal commented on #8935
I looked at the panic and it was due to the last test (networking) timing out but still running. I think the fix is more in better cleanup between tests.

[2015-05-28 19:00] lavalamp commented on #8935
I just saw this... it's totally due to ginkgo's cleanup when a test times out. I can fix.

[2015-05-28 19:00] lavalamp commented on #8934
The timeout is surprising... inclined to think that there's actually a system problem but we'll see.

[2015-05-28 19:06] bcbroussard opened #8937 "Incorrect NodePort in kubectl describe service"
When running `kubectl describe services redis-master`, the `NodePort` is incorrectly displaying the port instead of the nodePort.

`cluster/kubectl.sh get services -o json`
[code]

[code]

[2015-05-28 19:08] lavalamp commented on #8935
I will get this one.

[2015-05-28 19:15] lavalamp commented on #8935
Ugh, the thing ginkgo does when a test times out is totally lame...

[2015-05-28 19:15] dchen1107 commented on #8937
cc/ @justinsb @thockin

[2015-05-28 19:17] multilinear opened #8938 "example file in documentation has bad format"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/services.md
The "service" file in this document contains a trailing comma on the line ' "name": "my-service", ` and thus kubectl fails to parse it properly.

[2015-05-28 19:28] dchen1107 commented on #8928
Closed it since it is not reproducible after sync again.

[2015-05-28 19:28] #8928 closed

[2015-05-28 19:33] bprashanth commented on #8928
Fyi update-generated-deep-copies.sh was only recently included in the presubmit hooks and would've fixed it

[2015-05-28 19:33] dchen1107 opened #8940 "e2e GCE test failure/flake: Kubernetes e2e suite.ResizeNodes should be able to delete nodes."
Looks like the test failed in recent run and it is a regression:

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/6460/testReport/junit/(root)/Kubernetes%20e2e%20suite/ResizeNodes_should_be_able_to_delete_nodes_/

Stacktrace

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/resize_nodes.go:292
Expected error:

[2015-05-28 19:34] bgrant0607 commented on #8468
@kelseyhightower Are you using v1beta1 or v1beta3, and kind Minion or Node?

[2015-05-28 19:35] dchen1107 commented on #8928
Thanks. Yes, the issue is gone now.

[2015-05-28 19:37] dchen1107 opened #8941 "e2e GCE test failure/flake: Kubernetes e2e suite.Docker Containers should be able to override the image's default arguments (docker cmd) (from (junit_01.xml))"
This particular test passed for last many days.

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/6460/testReport/junit/(root)/Kubernetes%20e2e%20suite/Docker_Containers_should_be_able_to_override_the_image_s_default_arguments__docker_cmd_/

Stacktrace

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/docker_co

[2015-05-28 19:44] bprashanth commented on #8940
Fyi there seems to be a period of instability after the resize test that might leak into the next test. This happened in a local run and I found the kubelet logs full of:

[code]

[2015-05-28 19:54] caesarxuchao opened #8943 "'--api-prefix' option in 'kubectl proxy' documentation is wrong"
Without `--api-prefix`, `kubectl proxy` works just fine,
[code]

With '--api-prefix=xxx-api', it stops work:
[code]

My `kubectl` version:
[code]

@jlowdermilk, could you take a look? Thanks.

[2015-05-28 19:56] caesarxuchao commented on #6584
postpone update of `kubectl proxy` due to #8943

[2015-05-28 19:59] bgrant0607 commented on #7018
A number of tests that currently test v1beta1 need to be updated to test v1. For example:
pkg/api/serialization_test.go

[2015-05-28 20:02] davidopp commented on #5472
/subscribe

[2015-05-28 20:03] #8820 closed

[2015-05-28 20:09] bgrant0607 commented on #8087
ContainerManifest is defined here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/types.go#L1793

PodContainerInfo:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/types.go#L806

[2015-05-28 20:11] a-robinson opened #8945 "Garbage collect container log file symlinks"
A user who was hit by a crash-looping DNS pod (see #8144) says that he's "seeing 7,891 log files in /var/log/containers for kube-dns-*". We should be cleaning these up at some point.

@satnam6502

[2015-05-28 20:11] mkulke commented on #8891
I wasn't able to do it on the node directly (because CoreOS), so i ssh-tunneled the port and ran it on my osx machine:

    go tool pprof http://localhost:10249/debug/pprof/heap
    Fetching profile from http://localhost:10249/debug/pprof/heap
    Saved profile in /Users/mkulke/pprof/pprof.localhost:10249.inuse_objects.inuse_space.001.pb.gz
    Entering interactive mode (type "help" for commands)

[2015-05-28 20:12] timothysc commented on #7790
At this stage in the cycle, I'm more inclined to have a script that runs independent of the e2es and the end rip through and check for regression then I am in adding new ways for the tests to fail.

[2015-05-28 20:17] davidopp commented on #8107
Plan SGTM, just a few questions
1) how do the JSON files in /etc/kubernetes/addons get created?
2) what is your plan for updating addons that run as static pods (currently just fluentd)
3) what happens if the binary you're creating (I agree with @roberthbailey, you should not call it kube-apiserver.go :-) crashes before the updating is finished?

Have you considered the alternative of just driving

[2015-05-28 20:18] bgrant0607 commented on #8943
--api-prefix was added in #4279.

@jimmidyson could you take a look? This appears to be completely broken, so we should fix it or rip it out.

[2015-05-28 20:18] ghodss commented on #7843
@bgrant0607 I *really* like this format. I will try to write it as a spec below, along with my minimal modifications/suggestions.

@andronat let's keep iterating on the below as the spec for implementing this issue. Let's also restrict the scope of this issue exclusively to implementing the below as the default output of kubectl get pods. I would argue that this format is good enough that we don't

[2015-05-28 20:20] bgrant0607 commented on #6584
@caesarxuchao Postpone what, exactly?

[2015-05-28 20:21] ghodss commented on #7843
One implication of this change is it takes us really far away from an original design goal of kubectl get, which was to map closely to API fields. But I think that's a necessary evil to come up with anything reasonable to display concisely, and additionally we can solve that with good documentation in kubectl help get.

[2015-05-28 20:25] caesarxuchao commented on #8943
Reading the code and I find the way to fix it. You need to use `--api-prefix=\xxx-api\`, note the backslash.

I will fix the man page.

[2015-05-28 20:30] bgrant0607 commented on #8943
@caesarxuchao What's an example command line that works?

[2015-05-28 20:32] caesarxuchao commented on #8943
[code]
then
[code]

[2015-05-28 20:44] bgrant0607 commented on #7843
SGTM, with 1 nit:
"If M = N, Reason should be blank" -- we shouldn't leave the field blank, because it would change the number of columns. I still think templates should be used as the input to scripts, but...  I'd make the reason Running in this case.

I really think we need something like the DEPLOYMENT column, since we're going to omit container-specific info, such as image names, but I'm fine

[2015-05-28 20:46] bgrant0607 commented on #7843
As for not truncating names: How would the width of the name column be determined? Would names exceeding the width just overflow? I personally think truncation is acceptable, in order to achieve a pretty table. Use templates for scripting.

[2015-05-28 20:55] bgrant0607 commented on #8943
Ah, the default flag value has leading and trailing slashes:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/proxy.go#L52

The example in the documentation is wrong:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/proxy.go#L36

Re-opening for doc fix.

[2015-05-28 20:55] zmerlynn commented on #8107
Presumably Salt, as today. We don't need to change that yet - one of the issues this system avoids (and @marekbiskup is relaying a design I worked on that actually solves this issue more or less correctly) is that it doesn't actually need to solve the global configuration issue, it just need reconcile add-on manifest created by Salt, which Salt already knows how to do.

This is already handled for

[2015-05-28 21:00] caesarxuchao commented on #8943
The trailing slash is not necessary.

#8948 and #8949 duplicate each other.

[2015-05-28 21:01] roberthbailey commented on #8107
Me too. A controller loop in a new pod managed by the kubelet or as part of the existing controller-manager pod means that we could count on the kubelet making sure it was always reconciling the state of the cluster addons.

[2015-05-28 21:02] bgrant0607 commented on #8918
There are big changes in 1.7: networking, volumes, ...  Are there draft release notes somewhere? I didn't see any.

[2015-05-28 21:02] timothysc commented on #4521
+1

I'm also a +1 to the interval shift.

[2015-05-28 21:07] #8690 closed

[2015-05-28 21:07] #8689 closed

[2015-05-28 21:07] #8350 closed

[2015-05-28 21:07] #8346 closed

[2015-05-28 21:16] saad-ali commented on #7972
I'm looking in to this. I am able to repro on my own cluster by deploying a cluster, verifying that the PD test passes, leaving the cluster unused overnight, and then running PD test the following morning.

[2015-05-28 21:28] mkulke commented on #8891
I investigated a bit further and the problems seems to correlate with the amount of filehandles:

On the node w/ the ~300MB process:

    ls /proc/1224/fd | wc -l
    14813

On the node, where i restarted kube-proxy (~30MB right now):

    ls /proc/18567/fd | wc -l
    565

[2015-05-28 21:31] thockin commented on #8900
I assumed that we were doing this already.  The question is whether we can do this with enough granularity to not hurt anyone.

[2015-05-28 21:32] thockin commented on #8901
I think we should fix it, but it's not CRITICAL for 1.0

[2015-05-28 21:32] lavalamp commented on #8935
Instead of working around this, I've filed https://github.com/onsi/ginkgo/issues/165

I'm going to go back to a manual timeout on this test.

[2015-05-28 21:33] erictune opened #8954 "Events not being logged"
pkg/client/record has a StartLogging method.  The intention was that when you call Record, you get and event *and* a local log message, so that events are intermixed with more detailed local log lines, to give context and to aid debugging when event recording is unavailable.

Searching for calls to StartLogging, it seems like only the kubelet binary does this.  Need to add StartRecording to Schedu

[2015-05-28 21:33] erictune commented on #8954
@lavalamp

[2015-05-28 21:40] smarterclayton commented on #473
I've tested Kube multi master and done a quick pass to verify all known issues have been addressed. The endpoints algo can be improved, but we have TODOs in the code to cover it.  At this point, we need soak testing of multiple fighting masters to look for race conditions - that's something queued but not yet started that Tim's team was looking at.

[2015-05-28 21:47] thockin commented on #8937
Not good

[2015-05-28 21:49] bgrant0607 commented on #473
You're just letting multiple controllers and schedulers try to function concurrently?

[2015-05-28 21:51] caesarxuchao opened #8957 "Help needed to update the examples in getting-started-guides/mesos.md"
Hi @ConnorDoyle @jdef  @guenter @nak3,

We are updating docs to v1beta3. v1beta1 and v1beta2 will be abandoned soon. For the examples in getting-started-guides, we tend to use hyperlinks to point to examples instead of letting them have their own individual examples (see #5799).

However, in the mesos guide, the examples contain mesos specific setup and knowledge, so I can't simply remove the text

[2015-05-28 21:51] caesarxuchao commented on #8957
cc @nikhiljindal @krousey @bgrant0607

[2015-05-28 21:52] zmerlynn commented on #8081
cc @alex-mohr

[2015-05-28 21:52] zmerlynn commented on #8081
@saad-ali: What's the status here?

[2015-05-28 21:58] #8117 closed

[2015-05-28 22:00] bgrant0607 commented on #8702
We're going to make the image field officially optional in v1, by tagging the field with "omitempty". In practice, it will be required until another image field is added.

[2015-05-28 22:00] bgrant0607 commented on #8702
cc @caesarxuchao

[2015-05-28 22:00] #8850 closed

[2015-05-28 22:01] lavalamp commented on #8934
I accidentally repro'd this locally, and the problem was conflicting routes in the system.

[2015-05-28 22:02] saad-ali commented on #8081
The `kubernetes-upgrade-gce` test is set up in Jenkins. It currently picks up `gs://kubernetes-release/release/stable.txt`, deploys it to a cluster, runs E2E to verify stability, then runs the upgrade GCE script to upgrade to latest_ci, and another E2E to verify cluster afterwards. The test is not passing yet, but it works, so we can close this bug.

[2015-05-28 22:09] bgrant0607 commented on #8190
Generalized label selector: #341

[2015-05-28 22:10] bgrant0607 commented on #7018
Generalized label selector (#341) is punted to v2.

[2015-05-28 22:15] satnam6502 commented on #8945
We have log rotation set up for Docker container logs (set up by @brendandburns I think). If we have a crash loop then the log rotation frequency we have right now is not going to save anyone. I am not sure that changing the log rotation frequency to catch crash loops is the right thing to do. If this pod is ill then surely nothing else (much) is working in the cluster and this is the least of you

[2015-05-28 22:28] zmerlynn commented on #8081
Where is it failing? If you "upgrade" instead to just `stable.txt` again, does it pass?

[2015-05-28 22:29] #8943 closed

[2015-05-28 22:29] lavalamp commented on #8934
Unfortunately I deleted the routes without actually looking at them, and now I haven't been able to trigger the leak again.

[2015-05-28 22:31] #8825 closed

[2015-05-28 22:35] saad-ali commented on #8081
For v17.1 to v17.1 it fails at: "line 71: set-master-htpasswd: command not
found"
This should be fixed in v18.0

On Thu, May 28, 2015 at 3:28 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-05-28 22:37] satnam6502 commented on #8945
Also, are the symlinks the issue, or the actual log files?

[2015-05-28 22:40] lavalamp opened #8962 "e2e Reboot test failure"
Built mostly from head. One node did not come up healthy, kubelet is not sending heartbeats.

I see this in the offending kubelet's logs every 7 seconds or so:
[code]

[2015-05-28 22:41] lavalamp commented on #8934
I tried kube-down.sh, kube-push.sh, and the reboot test, none of those caused routes to leak.

[2015-05-28 22:49] #8935 closed

[2015-05-28 22:50] #6895 closed

[2015-05-28 23:12] kprobst opened #8969 "Provide versioned documentation"
We should provide versioned documentation, so that customers who use a specific version (like 1.0) will have access to 1.0-specific documentation, rather than only to documentation at head.

One suggestion is to provide shortlinks to versioned docs such as:
docs.k8s.io/v0.17/README.md

[2015-05-28 23:37] goltermann commented on #8348
This happens when a cluster wasn't brought all the way up.  Working on better tracing that this might be ok, and removing a few errors.

[2015-05-28 23:58] bgrant0607 commented on #6487
For "edit" and for documentation generation, another thing that would be useful is identification of the most commonly used fields, together with example values, as proposed in https://github.com/GoogleCloudPlatform/kubernetes/issues/6487#issuecomment-90353795, so that users aren't overwhelmed.

[2015-05-28 23:59] bgrant0607 commented on #1743
cc @ghodss

[2015-05-29 00:00] jlowdermilk commented on #8449
@caesarxuchao thanks for that link, very helpful. Turns out that `kubectl update --patch` is using the default json mergepatch, instead of [strategic-merge-patch](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md#strategic-merge-patch), which has the behavior we want. Assuming the implementation in [pkg/util/strategicpatch](https://github.com/GoogleCloudPlatform

[2015-05-29 00:04] bgrant0607 commented on #8449
We have PATCH in the API. We should use that eventually. I was thinking we'd rip out this flag for now, instead of fixing it.

[2015-05-29 00:11] thockin opened #8976 "Capture spew.Sprintf() with all our favorite config into a util func"
util.PrettyPrintObject() or something.  Then find all the places that printf %#v on an object and use this instead.

[2015-05-29 00:20] #8938 closed

[2015-05-29 00:25] bgrant0607 commented on #8969
That's what github tags are for. :-)

[2015-05-29 00:28] bgrant0607 opened #8977 "Swagger description tags for restartPolicy is out of date in v1beta3 and v1 APIs"
restart policy for all containers within the pod; one of RestartPolicyAlways, RestartPolicyOnFailure, RestartPolicyNever; defaults to RestartPolicyAlways

Should be just Always, OnFailure, Never.

imagePullPolicy had a similar problem, but looks like it was fixed.

cc @MikeJeffrey @smarterclayton @dchen1107 @caesarxuchao @krousey

[2015-05-29 00:50] justinsb commented on #8900
1) We have no mechanism for specifying any allowed src-ip other than 0.0.0.0/0 (e.g. something on Service.Spec).
2) We could fairly easily add a flag to kube-cloud-controller, which would control the allowed src-ip range for an LB.  So no per-service control, but I would imagine the typical use-case for not allowing everyone is to restrict access to the entire cluster to a particular subnet.  We c

[2015-05-29 01:17] jlowdermilk commented on #8449
I have the fix with strategicmerge mostly working, but I can also just disable it. Depends on whether we want to have `kubect update --patch` for v1. #8983 just turns it off if we want quick fix.

[2015-05-29 01:40] bgrant0607 commented on #8957
We're going to delete v1beta1 and v1beta2 in O(days). See PR #8917.

[2015-05-29 01:42] bgrant0607 commented on #8957
cc @davidopp

[2015-05-29 02:27] ddysher commented on #1319
I'm slowly learning docker registry and k8s secrets, external service; for now, I think we still have some problems to solve for bootstrapping and usage (not to mention storage, etc).

1. From the official [registry guide](https://github.com/docker/distribution/blob/master/docs/deploying.md#configure-tls-on-a-registry-server), it seems credentials are supposed to be stuffed into the image at build

[2015-05-29 02:43] suxianqun opened #8985 "no definition of 'trap-add' in util.sh"
when run the commands in ubuntu:
$ KUBERNETES_PROVIDER=ubuntu ./kube-up.sh

it will report error. there is no definition of 'trap-add' in ubuntu/util.sh

[2015-05-29 02:58] saad-ali commented on #7972
The test creates a PersistentDisk (PD) when it starts. It then creates a pod with the PD as a volume which causes Kubernetes to attach the PD. The Kubernetes code attaches the PD to the node that the pod is running apparently without issue. However, although the PD appears to attach properly (confirmed in dev console UI) it never shows up under `/dev/disk/by-id/`, so the test times out waiting for

[2015-05-29 04:28] bgrant0607 commented on #8929
FWIW, AGE is in the proposed output for kubectl get pods -- #7843.

[2015-05-29 04:30] bgrant0607 commented on #7739
cc @ghodss @jackgr

[2015-05-29 04:30] #8937 closed

[2015-05-29 04:31] bgrant0607 commented on #8258
cc @fgrzadkowski

[2015-05-29 04:33] smarterclayton commented on #473
Testing with that to ensure the cluster at least makes forward progress.  I haven't tested the most recent builds but was able to see realistic cluster actions work a few weeks back.

[2015-05-29 04:34] ddysher commented on #1319
EDIT: scratch the docker client library pointer, it's client of docker daemon.   It does seem to be quite a bit of work to incorporate push/pull.

[2015-05-29 04:47] bgrant0607 commented on #8489
Looks like a bug in strategic merge -- it doesn't deal with pointers correctly:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/third_party/forked/json/fields.go#L28

[2015-05-29 04:51] bgrant0607 commented on #8876
This is what we've been calling the "-q" pattern -- we should have an output format that just dumps names in a form that can be used on the kubectl command line. See item 16 here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/cli-roadmap.md

[2015-05-29 05:02] pmorie commented on #7627
Resolved by #8582 #7974, among others.

[2015-05-29 05:02] #7627 closed

[2015-05-29 05:03] bgrant0607 commented on #8827
@JeanMertz So what are you updating if not the image name? We could add another option similar to --image.

Is the problem that the new RC has a different name, or just that you need to specify the new name?

You could also potentially use GenerateName to auto-generate a new RC name, though we might need to fix checks in kubectl to allow it.

It's explicitly called out in the documentation, which

[2015-05-29 05:12] sushantk opened #8988 "Assigned container port for multi worker storm workers"
Hello,

I am looking to solve the final piece of puzzle for running a complete Storm cluster on k8s. I have gone through this example: https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/storm  and it doesn't solve the multi worker problem.

In Storm, an application can have multiple workers (JVM) ranging anywhere from 10 to 100 or more. Each worker runs on a bare metal supervis

[2015-05-29 05:18] bgrant0607 commented on #8988
Why can't each worker register its pod IP and container port?

[2015-05-29 05:49] bgrant0607 commented on #8512
@evandbrown Which Google API client?

We don't want containers talking to the host, in general.

[2015-05-29 05:50] thockin commented on #7299
For the 1.0 lauch I want to have something of a pow-wow and work out a
table of contents for the various audiences so we can start organizing docs
to that rather that the current random structure.

Specifcally a TOC for cluster admins and another kubernetes users.
 kubernetes developers are a third constituency, but less critical here.
We need to do this O(soon) and then get several people engaged

[2015-05-29 05:57] bgrant0607 opened #8989 "Block link-local and localhost service/endpoint addresses in apiserver proxy"
Reported by @stephenR

It's possible to turn the master into a proxy to localhost or the GCE metadata server by adding a new endpoint that points to the service.

To reproduce, add a new endpoint by posting to http://apiserver/api/v1beta3/endpoints with a description like:
[code]

If you then go to http://apiserver/api/v1beta3/proxy/namespaces/default/services/myendpoint/ you can interact with the

[2015-05-29 05:59] evandbrown commented on #8512
@bgrant0607 The Java API client in my case, but it generally affected any client that tried to resolve the metadata name. All fixed and working great in 0.17.1.

What about container->host communication, though?

[2015-05-29 06:02] biswars commented on #6910
I have just gone through this chain and trying to find out a way to force kube-proxy to use the ip address of eth1 in the iptables rules setting (I understand using "publicIPs" in service is meant for external access) instead of eth0. The kubernetes set up I have done is completely inside the private network and eth0 is meant for NAT which should not be used for internal communication within the c

[2015-05-29 06:02] bgrant0607 opened #8990 "Block access to link-local addresses from containers by default"
GCE and AWS expose local metadata servers on a link-local address (169.254.169.254). This compromises isolation of containers from hosts and from the cluster. As with host ports, host networking, host paths, etc., we shouldn't expose these addresses by default. Authorization should be required.

Sadly, Google API clients apparently require metadata access currently, as reported in #8512.

cc @thoc

[2015-05-29 06:04] bgrant0607 commented on #8512
Filed #8990. Container->host communication should require special permission.

Is this the client?
https://developers.google.com/api-client-library/java/

[2015-05-29 06:08] bgrant0607 commented on #8512
It has to be possible to call Google APIs from outside of GCE. Presumably, you just need to provide the credentials.

https://github.com/google/google-api-java-client/blob/86fd2a574487aaff9b4dbdd0396a98bb2741828f/google-api-client/src/main/java/com/google/api/client/googleapis/auth/oauth2/OAuth2Utils.java#L56
[code]
https://github.com/google/google-api-java-client/blob/86fd2a574487aaff9b4dbdd0396a

[2015-05-29 06:09] bgrant0607 commented on #8990
Actually, the GCE API doesn't _require_ the metadata server. The client just needs to explicitly provide the credentials in that case.

[2015-05-29 06:14] bgrant0607 commented on #7476
What PR closed this?

[2015-05-29 06:15] thockin commented on #8830
In short, we're already not really compatible with the 'go get' MO, how
much would people hate us if we just said "don't bother trying" and
declared 'make' and other scripts to be the one true interface to building
kubernetes?  It might be that subsets of our world would be 'go get'able,
but certainly things like api and ui are not.

We don't need super-complex Makefiles, though it might be a bit

[2015-05-29 06:16] bgrant0607 commented on #8876
Ah, here: #5906

[2015-05-29 06:17] bgrant0607 commented on #5906
Maybe this could just be another output format, like -o name.

[2015-05-29 06:17] evandbrown commented on #8512
It's definitely possible, but creating a service account (or AWS IAM access/secret key) and distributing/revoking/rotating that credential is a huge pain. The metadata service is the de facto standard for distributing short-lived creds to apps running on EC2 (IAM roles) or GCE (scoped compute service accounts), and SDKs from both support this very well.

The GCE and EC2 metadata services would nee

[2015-05-29 06:21] thockin opened #8991 "Code cleanup: better document pointers"
I feel like there is a lot of code that is written in ugly ways because we are not clear about pointer ownership and mutability.  Deep down in the guts of the code you get a *api.Pod - can you assume it is not nil?  Can you change fields in it?

This is a tedious things to retrofit, but I think it would make a lot of code more obvious (e.g. I suspect a lot of our "need" for deep copy comes from th

[2015-05-29 06:23] evandbrown commented on #8990
They don't require it, but manually managing (distributing, revoking, and rotating) service accounts and their credentials is a big step back IMO. If the secrets API can be jiggered to help here, great, just anything to keep folks from including keys in their images.

[2015-05-29 06:24] bgrant0607 commented on #7562
Yes, this is a dupe of #598.

The main use case for this is local flash, IMO.

[2015-05-29 06:27] thockin opened #8992 "Expose load balancer status in service.status.loadBalancer"
We will soon emit events in case of error.  Would be nice to add status info too.  @justinsb

[2015-05-29 06:27] bgrant0607 commented on #8990
Dupe of #8867.

[2015-05-29 06:27] #8990 closed

[2015-05-29 06:29] bgrant0607 commented on #8867
Access to the metadata server compromises isolation of containers from hosts and from the cluster. As with host ports, host networking, host paths, etc., we shouldn't expose these addresses by default. Authorization should be required.

This should apply to all link-local addresses. AWS also exposes its metadata server on 169.254.169.254, IIRC.

[2015-05-29 06:31] davidopp commented on #8801
This is definitely post-1.0; nobody should spend time on it before that.

When we do look into it, we need to look into the scaling characteristics of the various cloud providers (and flannel) as well. It's not just API server and etcd scalability that are likely to be issues.

[2015-05-29 06:34] bgrant0607 commented on #8867
Whatever credentials Heapster needs should be deployed using a Secret. See also https://github.com/GoogleCloudPlatform/kubernetes/issues/8512#issuecomment-106700908

[2015-05-29 06:36] bgrant0607 commented on #8884
Related: #8448

[2015-05-29 06:44] bgrant0607 commented on #8874
It does take stdin:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/rollingupdate.go#L157

as does update:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/update.go#L99
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/resource/builder.go#L95

I think the problem is this check:
https://github.com/GoogleCloudPlatfor

[2015-05-29 06:44] bgrant0607 commented on #8874
cc @jlowdermilk

[2015-05-29 06:51] thockin commented on #7562
I feel like there's a bit of disconnect here.  Phrases like "when the
pod/container dies, the scheduler would know to attempt to place the
pod/container back on the original node" suggest that a pod might suddenly
die on one node and turn up somewhere else - this just isn't the way it
works.  There's already a very strong preference to restart on the same
node (not reschedule, mind you - restart).

[2015-05-29 06:53] satnam6502 commented on #8867
@jimmidyson do your changes need access to http://metadata?

[2015-05-29 06:57] thockin commented on #8512
It's a real balancing act.  On the one hand we don't want people to couple
to the cloud environment.  On the other hand it's actually useful (as
here).  On the third hand, the VM almost certainly has privs we don't want
containers to have by default.

And yet, we can't really shut down access to things outside your k8s
cluster - project-scoped resources are a big part of the cloud experience
and w

[2015-05-29 06:58] thockin commented on #7476
#8643

On Thu, May 28, 2015 at 11:15 PM, Brian Grant <notifications@github.com>
wrote:

[2015-05-29 06:59] thockin commented on #7471
I think we have to do this at least minimally - not having SRV is going to inhibit a lot of new-generation cloud development that understands SRV.  Openshift has similar constructs, and I think we need to document our DNS schema and it needs to include basic SRV.

[2015-05-29 07:00] thockin commented on #7471
Also it is almost done.

[2015-05-29 07:02] thockin commented on #6910
I think it is reasonable (needs testing) to use the --bind-address as the
iptables target if --bind-address is specified.  Needs REALLY serious
testing because it is subtle..

On Thu, May 28, 2015 at 11:02 PM, biswars <notifications@github.com> wrote:

[2015-05-29 07:03] thockin commented on #8929
That's what I meant, I was just in a rush :)  I want to see that my
namespace was created "5 minutes ago" vs "about a week ago"

On Thu, May 28, 2015 at 9:29 PM, Brian Grant <notifications@github.com>
wrote:

[2015-05-29 07:04] thockin commented on #7972
Thanks Saad.

On Thu, May 28, 2015 at 7:59 PM, Saad Ali <notifications@github.com> wrote:

[2015-05-29 07:07] jimmidyson commented on #6264
@nikhiljindal If you build a new cluster is this still happening? Wondering if this was happening on a cluster using the old nginx proxy which was adding this header to every request, but is now no longer used.

[2015-05-29 07:41] fgrzadkowski commented on #7236
@brendanburns How do we access those logs? I tried to find them for gce-scalability jenkins suite, but didn't find it.

[2015-05-29 07:54] fgrzadkowski commented on #8107
@marekbiskup is OOO today, but my understanding is that his plan was to indeed run it as a pod. I think that the step he described (update current script) is just an intermediate step towards full solution.

[2015-05-29 07:56] wojtek-t commented on #7561
To summarize the current state:
- the firewall-related issues were indeed caused by lack of QPS quota - I didn't see any such failure after merging #8899
- the long running DeleteRC was successfully worked around by #8779 - we still observe it sometimes to take more than 5 minutes, but it doesn't cause test failures now; the proper fix to it #8822 was unfortunately reverted, but there is a separat

[2015-05-29 07:59] tobegit3hub commented on #7332
The `gcr` and `pause` image are blocked by Chinese gov, you know. How can I skip this when I try to deploy the pod or rc?

[2015-05-29 07:59] fgrzadkowski commented on #4521
@bprashanth I don't follow. I'm not talking about watch go routines, but regular http handlers for requests like list or get.

[2015-05-29 08:12] tobegit3hub commented on #6888
Moving to docker hub is much helpful. Please do it :sob:

[2015-05-29 08:24] roberthbailey commented on #7561
What is your timeout before failing because the nodes aren't all registered? Are the remaining nodes (1 in your example) NotReady or not registered with the master at all? I don't know that we have done any measurements around how long it takes to assign a CIDR to a kubelet once it has self registered or how long it takes the kubelet to reconfigure cbr0 and mark itself as ready.

[2015-05-29 08:27] roberthbailey commented on #7332
You can build your own pause image and put it into a registry that you can access. Then when you start the kubelet, pass `pod-infra-container-image` and point it at your own pause image (the flag is defined [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kubelet/app/server.go#L196)).

[2015-05-29 08:32] tobegit3hub commented on #7332
Hi @roberthbailey . Please put it in docker hub and we all appreciate about it.

[2015-05-29 08:37] wojtek-t commented on #7561
In all the cases I've seen O(10) - those nodes weren't even registered.

[2015-05-29 08:37] wojtek-t commented on #7561
Currently, the limit is 5 minutes, but I'm increasing it to 10 minutes now.

[2015-05-29 08:38] roberthbailey commented on #8969
I thought we were planning to snapshot v1.0 documentation onto kubernetes.io and leave github documentation floating at HEAD. Folks who are using a stable version of kubernetes shouldn't need to browse Github to learn how to use it. Github should be primarily targeted at developers.

[2015-05-29 08:41] roberthbailey commented on #8900
This was previously discussed in https://github.com/GoogleCloudPlatform/kubernetes/issues/3636 where we decided that it would be better _not_ to automatically poke holes in the firewall for external services.

[2015-05-29 08:51] roberthbailey commented on #8989
@thockin

[2015-05-29 08:56] roberthbailey commented on #7332
There's already a pause container there: https://registry.hub.docker.com/u/kubernetes/pause/ (but I thought docker hub was also inaccessible, hence my suggestion to build your own version).

[2015-05-29 09:04] chenjie901 opened #8995 "pod hang on pending state"
Hi:
I am using kerbernetes v1betav3 to create a replicationController，and a strange thing confused me.
after 14 mins, some pods running correctly some still in pending status on the same host

[code]
and kubelet log report these message endless:
[code]

my k8s version:
[code]
node info:
[code]
docker info:
[code]

[2015-05-29 09:15] tobegit3hub commented on #7332
Great! Docker hub is accessible and it would be better to get the image from docker hub by default. Anyway, thanks for your work.

[2015-05-29 10:25] wojtek-t commented on #7561
I was able to catch the above situation on Jenkins and did some more debugging on it. What happened:
- Detected 99 ready nodes, found 99 nodes out of expected 100. Your cluster may not be working.
- I found the node that wasn't registered and after logging to the corresponding VM there is:

        Broken (or in progress) GCE Kubernetes node setup! Suggested first step:
           tail /var/log/st

[2015-05-29 11:59] jackgr opened #9001 "Malformed go code in schema.go in commit 35c7912 breaks the go build."
A clean checkout and build of the current master fails in hack/lib/golang.sh. The problem is commit 35c7912. The previous commit, which was 4668661, succeeds.

[code]

[2015-05-29 12:01] jackgr commented on #9001
cc @thockin

[2015-05-29 12:05] kargakis opened #9002 "Stress testing the rc manager"
More of a question here, is there any stress testing of the rc manager (I am mostly interested in replication controller bulk deleting) currently happening in the Kubernetes test suites?

cc: @smarterclayton @mfojtik

[2015-05-29 12:15] kargakis commented on #9002
The issue we have observed is that `delete` *randomly* times out when trying to remove 6 replication controllers (probably related to the [number](https://github.com/GoogleCloudPlatform/kubernetes/blob/17f6f86be688a415b50b0ae627f1695032a06969/cmd/kubernetes/kubernetes.go#L138) of workers?).

[2015-05-29 13:59] smarterclayton commented on #9002
@tstclair

[2015-05-29 14:03] smarterclayton commented on #5906
Sounds like it.

[2015-05-29 14:24] bgrant0607 commented on #8969
Ok, fair enough, but we're terrible about keeping the docs in sync with the code, so docs snapshotted when we do a release are unlikely to actually match the release functionality, unless we change our policy for accepting PRs.

[2015-05-29 14:24] bgrant0607 commented on #8969
We also need to make the docs worth looking at.

[2015-05-29 14:26] bgrant0607 commented on #8929
FWIW, that form could be used for describe but isn't suitable for get, since it's wide and variable in the number of words.

[2015-05-29 14:49] simon3z commented on #8911
@roberthbailey @bgrant0607 how come kubelet should access the cloud provider? Can't we just have `nodecontroller` to fill in the missing information? (And keep only `nodecontroller` the one accessing the cloud provider which seem safer).

[2015-05-29 14:50] fabianofranz commented on #7843
In my understanding, a big part of the issue is the fact that the content inside a cell doesn't break lines gracefully. If there's too much content for the column width but it wraps correctly, that's *a lot* of improvement. Example:

[code]

A couple libraries that apparently solve that and other issues with tabular data:

https://github.com/bndr/gotabulate
https://github.com/olekukonko/tablewrite

[2015-05-29 14:52] mattmoor commented on #7332
@tobegit3hub
I am curious how DockerHub is visible and GCR is not...?

[2015-05-29 15:11] fgrzadkowski commented on #4521
For the last few days @wojtek-t and me were trying to understand why observe non-saturated CPU but still have high request latency (around 3s for 99tile of list pods). We found few interesting facts.

The whole list requests consists of two parts:
* generate in-memory list object
* write response

Surprisingly the second part is longer than the first one and can take seconds! There three slow part

[2015-05-29 15:21] andronat commented on #7843
The problem is that we don't want to split the lines to multiple rows as this will make parsing from other scripts (e.g. through pipes) more difficult.

[2015-05-29 15:36] smarterclayton commented on #4521
Do we need to tune the output buffer of the http response writer?  Do we have any wrappers around the response writer besides the HttpLog?

[2015-05-29 15:41] cnaize opened #9005 "Image garbage collection failed: non-existent label "docker-images""
Hello!
I know that in `kubernetes` where is garbage collection mechanism for `docker`.
I thought that it works from box, but I have `Image garbage collection failed: non-existent label "docker-images"` error.
How to fix it? How to cleanup `docker`'s `containers` and `images`?

[2015-05-29 15:42] fabianofranz commented on #7843
@andronat It does makes sense to me, and it's one of the possible paths to choose. But I agree with @bgrant0607 when he says that "piping into command-line tools is a different use case than read by human". For scripting, with or without piping, the solution offered is `--output` and `--template`. The default output format being discussed here should be targeted at screen reading by humans, where

[2015-05-29 15:44] goltermann commented on #8285
Couldn't we do this by just calling validate-cluster.sh and parsing the result somehow?  Then if it doesn't validate (for whatever reason) call kube-down before kube-up?

[2015-05-29 15:48] timothysc commented on #4521
@filbranden We don't see pod listing as the long pole in our tests, do you have the metrics values that you are looking at?

[2015-05-29 15:54] andronat commented on #7843
I like the idea of tables and completely separating users and scripts. What the others say though?

[2015-05-29 16:02] roberthbailey commented on #7561
I guess the good news is that this shouldn't happen on release tars....

This sounds like it can sometimes take a little while for GCS ACLs to propagate (after [this call](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/build/common.sh#L912) is made). I wonder if there is a way to tell GCS that _anything you put into bucket X in the future_ should be automatically marked as world rea

[2015-05-29 16:15] roberthbailey commented on #8911
The kubelet should be able to gather information from the local metadata server about itself (provider ID, internal and external IP, etc) which doesn't require any special permissions or making calls to the cloud provider's API.

Since this process is different for each cloud provider, it uses the cloud provider abstraction in our code. Unfortunately there isn't an obvious distinction in that abst

[2015-05-29 16:19] roberthbailey commented on #8285
I think that might be reasonable if kube-down.sh was a bit quieter about failing to delete non-existent resources. Right now, if you create a cluster but none exists, validate-cluster.sh will fail (as expected), then kube-down.sh will give you a whole bunch of red error text about not being able to delete existing resources, then kube-up.sh will create a cluster. The errors during the kube-down.sh

[2015-05-29 16:24] mkulke commented on #8891
Some further investigation:

We can now reproducably trigger the (permanent) fd increase of kube-proxy when issueing a request (2 fds/request). On the affected nodes there is an Apache reverse proxy which serves as entry-point to a bunch of tomcats. The reverse proxy's service has publicIPs set (connected to a Rackspace load-balancer, but that does not seem to matter: when hitting the nodes direct

[2015-05-29 16:33] thockin commented on #9001
make clean

Go does not always handle dependencies properly.  The Go team is aware of
the issue.

On Fri, May 29, 2015 at 5:01 AM, Jack Greenfield <notifications@github.com>
wrote:

[2015-05-29 16:34] andronat commented on #7842
Can this be closed?

[2015-05-29 16:41] rwehner opened #9008 "labels not updating when pods updated on node-based pods"
This is occurring on a v0.17.1 Kubernetes cluster running on top of CentOS7/VMWare-based hosts.

I run a log-collection pod on every node (minion) by placing the pod manifest in `/etc/kubernetes/manifests/` and running the `kubelet` process with the `--config=/etc/kubernetes/manifests` option. The log-collection manifest looks like:

    apiVersion: v1beta3
    kind: Pod
    metadata:
      labels

[2015-05-29 16:45] rjnagal commented on #8933
@ArtfulCoder do you want to take this up? @vishh is out today.
The test has passed in all of yesterday's runs. Not sure if there has been an actual fix here.

[2015-05-29 16:48] filbranden commented on #4521
@timothysc I'm not really looking at metrics values right now... Are you sure you mean me here?

[2015-05-29 16:50] rjnagal commented on #8941
@lavalamp I think this is same gingko clean up issue as #8935 - closing.

•... Timeout [120.338 seconds]
Networking
/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/networking.go:246
  should function for intra-pod communication [It]
  /go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com

[2015-05-29 16:50] #8941 closed

[2015-05-29 16:50] timothysc commented on #4521
sorry for some reason my autofill is hitting you.. @fgrzadkowski ^

[2015-05-29 16:52] filbranden commented on #4521
No worries, I'm glad it's not me losing my mind :-)

[2015-05-29 16:53] rjnagal commented on #8945
@satnam6502 parking in your bucket while we decide what needs to be done here for v1.

[2015-05-29 16:54] rjnagal commented on #8954
@lavalamp @erictune Is this a v1-candidate?

[2015-05-29 16:56] goltermann commented on #8285
Working on that in #8348

[2015-05-29 16:57] bprashanth commented on #4521
@fgrzadkowski I was talking about the reason we have concurrent lists when we don't saturate cpu, not the reason concurrent lists are slow.

[2015-05-29 17:01] rjnagal commented on #8962
@lavalamp Looks like the node didn't come up healthy enough to contact metadata server. Kubelet keeps retrying to get to metadata server. Do we need a different behavior here, or more node validation?

[2015-05-29 17:06] goltermann commented on #8353
Saw this again.  Removing _output/release-tar/*uploaded*sha1 "fixed" it.

already-staged() also won't work if you've manually removed the bucket or files within, since it's looking locally for the sha1.

[2015-05-29 17:09] zmerlynn commented on #8353
Yeah, that last one is intentional. That bucket isn't really meant to be user addressed - I guess you just blew it away in your cloud console?

[2015-05-29 17:09] zmerlynn commented on #8353
(I mean, it's not intentional, but I knew it existed.)

[2015-05-29 17:10] rjnagal commented on #8985
@WIZARD-CXY @resouer can you take a look?

[2015-05-29 17:17] rjnagal commented on #8995
@dchen1107

[2015-05-29 17:17] lavalamp commented on #8962
I'm not sure what happened, and unfortunately I already tore down the cluster. Rebooting it a second time did not fix the problem, though.

[2015-05-29 17:22] rjnagal commented on #8995
The stats messages are harmless. Looks like you didn't create a service either.
@chenjie901 can you provide more kubelet logs?

[2015-05-29 17:28] jdef commented on #8957
we've initiated an effort to upstream some components into k8s. as part of
that effort, we're upgrading the guestbook examples for k8s-mesos:

https://github.com/mesosphere/kubernetes-mesos/tree/upstream_k8sm

the getting started guide for mesos will likely have to change in order to
align with the move upstream.

tracking this issue here:
https://github.com/mesosphere/kubernetes-mesos/issues/295

[2015-05-29 17:28] jdef commented on #8957
xref https://github.com/GoogleCloudPlatform/kubernetes/pull/8882

On Fri, May 29, 2015 at 1:28 PM, James DeFelice <james@mesosphere.io> wrote:

[2015-05-29 17:28] rjnagal commented on #9005
@cnaize Can you add the output for 'docker info' and 'cat /proc/mounts'?

[2015-05-29 17:31] jlowdermilk commented on #8874
What version of kubectl are you running? I just tried to repro this from head and could not. I'm was pretty sure this was fixed by #8679.

[2015-05-29 17:35] a-robinson commented on #8945
The issue is to ensure we have *something* making sure we don't allow a resource to grow unbounded over time, so that nodes can run indefinitely without running out of disk. The logs themselves being garbage collected is great. Is there anything that ever garbage collects the symlinks?

It's possible that there is something already and it just hadn't cleaned up this user's symlinks yet, which woul

[2015-05-29 17:37] Symmetric commented on #2880
Had a wee think about this recently, here are a few thoughts/questions that come to mind on the subject of namespace firewalling:

1. If we're firewalling namespaces, we will obviously need to be able to allow traffic from outside the cluster.  Service.Type=LoadBalancer still gets us that.
2. To allow "global services", i.e. accessible from any namespace in the cluster but not externally, Service.

[2015-05-29 17:42] brendandburns commented on #4348
@daizuozhuo you can send me mail @ bburns [at] google.com

Sorry for the delay!

[2015-05-29 17:46] brendandburns commented on #4348
Personally, I'd prefer the JSONPath syntax rather than the jq syntax.  I find JSONPath to be more concise and more readable.  You can see a comparison here:

https://github.com/stedolan/jq/wiki/For-JSONPath-users

[2015-05-29 17:47] brendandburns commented on #4348
Check out https://github.com/yasuyuky/jsonpath for the start of a golang impl.

[2015-05-29 18:00] bgrant0607 commented on #8190
@erictune Re. object references, see:
* https://github.com/GoogleCloudPlatform/kubernetes/issues/7018#issuecomment-102208733
* https://github.com/GoogleCloudPlatform/kubernetes/issues/7018#issuecomment-102536924
* #3676
* #4549
* https://github.com/GoogleCloudPlatform/kubernetes/issues/170#issuecomment-69819671

[2015-05-29 18:05] bgrant0607 commented on #4348
One of the primary considerations is how easy it is to select a field of a struct in a keyed list (search for patchMergeKey in pkg/api/v1beta3/types.go).
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md#lists-of-named-subobjects-preferred-over-maps

[2015-05-29 18:08] thockin opened #9010 "kubectl: bad error message for Kind-less yaml"
Given a YAML file without a 'Kind':

[code]

Not a very helpful message

[2015-05-29 18:10] thockin opened #9011 "kubectl: bad error message for version-less yaml"
Given yaml without an apiversion:

[code]

not very helpful

[2015-05-29 18:14] thockin opened #9012 "bad error message for deeply malformed input"
If, for example, I leave 'Spec' out entirely, I get an error about a field of spec, but not about spec itself.  I think that would be a better error.

[code]

[2015-05-29 18:16] quinton-hoole commented on #8830
+1 for make   -1 for "other scripts".

[2015-05-29 18:22] brenton opened #9013 "active log streaming times out after 5 minutes"
I noticed that if I'm following a pod log that is being actively written to it will timeout after 5 minutes.  However if the pod is not writing logs the request will not timeout.  In that case the request will remain open seemingly indefinitely.

I can change the behavior by modifying this line of code:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/server.go#L68

To mak

[2015-05-29 18:23] #8742 closed

[2015-05-29 18:23] goltermann commented on #8348
The routes issue is also a real script bug, where we're using an old naming pattern for deleting routes.

[2015-05-29 18:24] rjnagal commented on #9001
@jackgr Did 'make clean' work for you? ok to close?

[2015-05-29 18:36] rjnagal commented on #9013
@lavalamp is this same as #6513 ?

[2015-05-29 18:55] jlowdermilk commented on #7842
I'll close this one with #8240; we want to get rid of the minions (mi) resource name, since it doesn't work for v1beta3.

[2015-05-29 18:55] smarterclayton commented on #4348
I tend to lean towards an existing syntax rather than inventing a new one, especially when it comes to implementing it in other languages for clients that must be aware of it.

[2015-05-29 19:00] tristanz commented on #2880
1) and 2) would be a good fit for our use cases:  completely firewalled namespaces, cluster services, and external services.

I can see the value of 4) and 5) but I'm not sure I should even be aware of other namespaces and definitely not pod labels in other namespaces so writing rules based on these seems off.

[2015-05-29 19:07] yujuhong commented on #9008
Thanks for reporting the issue!

Here is how the file-based pods work:
Kubelet submits a request to the apiserver to create a mirror pod based on the manifest file. If it detects that the mirror pod's spec differs from the manifest file, it'd re-create that mirror pod. In your case, the label change was not a spec change, hence kubelet did nothing.

This issue should be resolved once we stop compa

[2015-05-29 19:12] dchen1107 commented on #8995
What is output of kubectl describe pods nginx-nh1bf (Pending ones)?

[2015-05-29 19:24] dchen1107 commented on #8940
I couldn't reproduce the particular issue reported here and I believe this is same gingko clean up issue as #8935. But we do run into timeout issue sometimes. Closing this one.

[2015-05-29 19:24] #8940 closed

[2015-05-29 19:27] thockin commented on #8989
I think it would be simpler to disallow 169.254.0.0/16 as endpoints,
document why and move on.  The alternatives are more complicated and
difficult to internalize and debug.

On Fri, May 29, 2015 at 1:51 AM, Robert Bailey <notifications@github.com>
wrote:

[2015-05-29 19:29] sanjana-bhat commented on #8988
@bgrant0607, we want to use replication controller to launch supervisors with replicas=100. How is an IP assigned to each of these replicas?

I tried launching zookeeper of kind replication controller and this is what I notice in the pod description
k8sm/bin/kubectl get pods
POD                    IP            CONTAINER(S)   IMAGE(S)                              HOST   LABELS               STATUS

[2015-05-29 19:30] rwehner commented on #9008
Thanks for the explanation, @yujuhong. It is good to understand the issue and know where to track the likely resolution. I'll subscribe to https://github.com/GoogleCloudPlatform/kubernetes/issues/8683.

I have an acceptable workaround for my exploratory work and a post-v1.0 timeline seems fine to me. Thanks again!

[2015-05-29 19:30] #9008 closed

[2015-05-29 19:40] bgrant0607 commented on #8989
The user would either get an error when trying to post the Endpoints, or when trying to access the proxy. The latter is unlikely, IMO, except in malicious circumstances.

The former would prevent using services to do something like publish a local metadata service (say, similar to the [ACI metadata service](https://github.com/appc/spec/blob/master/SPEC.md#app-container-metadata-service)) on a link

[2015-05-29 19:44] brendandburns commented on #7444
Yeah, we should wait until post 0.18.0 before rebuilding that image.

[2015-05-29 19:45] timothysc commented on #8119
After running multiple experiments today, the plateaus still exist, but it looks much more like a storm as outlined in #4521 from the nodes stampeding, but many lists are affected by a storm of writes from the nodes.

![image](https://cloud.githubusercontent.com/assets/169553/7891315/55d73720-0611-11e5-82d8-45fa870f9499.png)

[2015-05-29 19:50] bgrant0607 commented on #473
One issue that occurred to me while biking in this morning, and which I don't see discussed in docs/proposals/high-availability.md, is what to do about quota enforcement during admission control. @derekwaynecarr

[2015-05-29 19:50] yujuhong commented on #8756
In general, I agree that using docker events would reduce kubelet's pod managing overhead quite a bit, as it currently relies heavily on listing/inspecting container periodically, or triggered by updates.

I think there are two different things here. Reporting that a container has terminated can be subject to how often kubelet polls, so using docker events would help. Starting the containers is a

[2015-05-29 19:54] bgrant0607 commented on #8988
What cloud provider, OS distro, and networking solution are you using? How are you allocating network ranges for the nodes?

The networking model and implementation are described here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/networking.md

The pod IPs should be routable, at least from within the cluster.

[2015-05-29 19:55] lavalamp commented on #8119
@timothysc can you label the axes, please? What unit does "M" represent?

[2015-05-29 19:56] lavalamp commented on #8119
Also what are the different colored lines?

[2015-05-29 20:07] thockin commented on #8989
Yeah, we can open it up as real requirements emerge, was my feeling.

On Fri, May 29, 2015 at 12:40 PM, Brian Grant <notifications@github.com>
wrote:

[2015-05-29 20:12] bprashanth commented on #8119
Can you turn off events and try? I think there's a flag to do it but I just comment out the recorder line.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/record/event.go#L258

[2015-05-29 20:16] thockin commented on #8900
Note that one of my own replies said "I don't think we should automatically
open firewalls unless the user has explicitly asked for external access."
 The bug shifted from "should we open firewalls for external load
balancers" to "should we auto-start services with external load balancers
and firewalls opened".  I am against the latter (e.g. my brand new cluster
should not come up with a for-pay c

[2015-05-29 20:30] sanjana-bhat commented on #8988
We are using kubernetes-mesos and looking into flannel. Do you have any pointers on the solutions available on these?

[2015-05-29 20:32] #8760 closed

[2015-05-29 20:37] lavalamp commented on #8989
I agree w/ @thockin's fix. Also we should block any similar range that AWS uses, etc.

[2015-05-29 20:38] lavalamp commented on #8989
Or resolve "metadata" and block just that.

[2015-05-29 21:05] multilinear commented on #5640
Meteor is currently planning to use prometheus for this, since a lot of k8s is already being built using prometheus APIs, and it's unquestionably the richest most flexible of the available tools, particularly where aggregations are concerned. I want it for application layer monitoring as well as pulling in k8s/docker information, and I'd rather use one tool.

I'm trying to figure out how to get da

[2015-05-29 21:09] sushantk commented on #8988
Also, is having a dynamically allocated container port still a possibility as a solution that wouldn't require a layered networking solution?

[2015-05-29 21:15] timothysc commented on #8119
@lavalamp the graph on the left is a prom-dash of: apiserver_request_latencies_summary{verb="LIST"}
The graph on the right is a prom-dash of:
apiserver_request_latencies_summary{verb=~"PUT|POST"}
I also plot:
etcd_request_latencies_summary

same scale for the vars from /metrics.

@bprashanth The graph on the right is *put|posts the spike is only from .99 quantile resource:node verb:put.

The node

[2015-05-29 21:18] jayunit100 opened #9023 "Cross services in networking e2e tests"
To conserve lines of code, I  have a prototypical soak test for services which builds off the existing `networking.go` stuff, i have to clean it up, and make sure its rigorous... but here is the output.

cc possibly interested parties @timothysc @quinton-hoole @satnam6502 @rrati @mattf  ....  I'll create a PR for this guy in a little bit

[code]

[2015-05-29 21:23] bgrant0607 commented on #8119
Any idea what caused the spike in node writes? I think the apiserver log should show what requests it received.

[2015-05-29 21:23] timothysc commented on #8119
@bprashanth well I seem to have spoke a little to soon, it cuts the spike in the lists in about 1/2.

[2015-05-29 21:32] timothysc commented on #9023
@jayunit100 at what density.. it's density that I'm curious about.  At some point what is the limits and edges of iptables..?

[2015-05-29 21:34] satnam6502 commented on #8945
I view the symlinks as a temporary terrible hack until we can get the required metadata in a more disciplined manner.

[2015-05-29 21:45] jayunit100 commented on #9023
Ive only done a density of 5 ; I'll start boosting in about an hour after i clean up a couple rough edges.

[2015-05-29 21:54] #8506 closed

[2015-05-29 21:54] goltermann commented on #8353
I blew it away, but when I first got to it, it was in a bad state:
- kubernetes-salt.tar.gz/sha1 were there
- kubernetes-server-linux-amd64.tar.gz/sha1 were not there

However, the server.sha1 was included on my local filesystem, so the script thought it was uploaded.

We don't need to fix this for "someone went through and started killing GCS objects", but it looks like I'm hitting an upload fail

[2015-05-29 21:57] jlowdermilk commented on #8934
Closing as obsolete.

[2015-05-29 21:57] #8934 closed

[2015-05-29 21:58] jlowdermilk commented on #8933
I think we can close as obsolete.

[2015-05-29 21:58] #8933 closed

[2015-05-29 21:58] bprashanth commented on #8119
@timothysc did it affect the running pods response curve? Maybe it's time to profile a cluster where we send events to a different etcd (this was considered previously, but at the time we had bigger bottlenecks). The default out of box cluster would still use a single store.

There are improvements to the etcd api underway which will make batched pod creates easier to achieve post 1.0.

[2015-05-29 22:06] timothysc commented on #8119
@bprashanth The slopes appear better but it still has long plateaus.

![image](https://cloud.githubusercontent.com/assets/169553/7893601/06b8ce60-0625-11e5-9050-fc41e0900224.png)

[2015-05-29 22:37] Symmetric commented on #2880
cc @spikecurtis

[2015-05-29 22:40] lavalamp opened #9026 "Audit usage of controller framework"
Now that it's been out for a few months, some things worth checking:
- Make sure people are handling deletions-on-restart.
- Figure out a pattern that is universal and forces that to be done correctly, if possible.

[2015-05-29 22:58] dchen1107 opened #9028 "Enable InfluxDB and Grafana dashboard on GCE by default"
Some time back, we made decision to switch to GCM for monitoring, and GCL for logging for kubernetes clusters on GCE. But for logging, we still deploy Elasticsearch and Kibana services, but stop deploying InfluxDB and Grafana dashboard for monitoring. Given GCM is not completely ready yet, should we re-consider the decision for 1.0 release here?

[code]

cc/ @brendanburns @thockin @vishh @saad-ali

[2015-05-29 23:08] bgrant0607 commented on #8830
make works for me.

[2015-05-29 23:09] lavalamp commented on #8119
@timothysc I'm sorry but I still can't make heads or tails of your chart. On the right, something spiked to 60M, what unit is that in? And on the left, is each colored line a different request? or if not, what do they represent? And it goes up to 50M, what does that mean? Presumably the X axis is time?

[2015-05-29 23:13] dchen1107 opened #9029 "kubectl proxy to node is broken"
I tried to run go tool pprof through kubectl proxy, and found it is broken on HEAD

[code]
In web browser go to http://localhost:8001/api/v1beta3/proxy/nodes/kubernetes-minion-kfrp:10248/debug/pprof/heap, I got error message:
[code]

I tried to hit /logs on the same node, it failed with the same error. The regression is caused by recent security changes

cc/ @roberthbailey @lavalamp @vmarmol

[2015-05-29 23:19] srakesh28 commented on #7826
+1 I have same issue

[2015-05-29 23:22] lxpollitt commented on #2880
I agree with @tistanz that a pod in one namespace probably shouldn't have any visibility to the labels of pods in another name space.  I do think there is value in pods within a namespace being able to define policy for how they want to interact with other pods in the namespace and the outside world though.

[2015-05-29 23:27] lavalamp commented on #9029
This must have been broken recently, but I haven't been able to find the change that did it. It seems like something that would have been done for #3168...

[2015-05-29 23:28] lavalamp commented on #9029
This should also break kubectl log and all the fancy port forwarding stuff. We really need e2e tests for this stuff. I think this is probably P0, it's a big regression.

[2015-05-29 23:33] dchen1107 commented on #9029
kubectl logs works fine actually:

[code]

But I still think we should fix this.

[2015-05-29 23:45] jayunit100 commented on #8119
the 60M is the latency (60 milliseconds) of requests during that time slice.   So what its saying is "at this time period, the latency was 60 seconds".

[2015-05-30 00:01] bgrant0607 commented on #7562
Forgiveness is #1574. It's not too bad if modeled in the right way (hence that proposal).

There are cases, however, where someone may need to replace a pod. Right now, we permit very few in-place updates, and rolling update is also not in place. That simplifies many parts of the system.

I really like the model where the only pets in the system are storage, whether network-attached or local.

[2015-05-30 00:02] lavalamp commented on #8119
In that case, those numbers really don't make much sense to me, are you sure? 60ms average sounds better than I'd expect even with no load-- I thought our average api call took about 100ms. Maybe it's because you're running this on way beefier systems than I usually do. How are exactly are you measuring these?

What about requests that took longer than a second?

And finally what are the different

[2015-05-30 00:03] justinsb commented on #8932
This should only fail if you use another machine or otherwise switch the contents of ~/.ssh/kube_aws_rsa.

But you're right, this is an issue, and we have other issues related to this also.

I'll figure out a better way (I also want to support multiple clusters in a single AZ/region, and those could overlap and even have different keys - maybe).

[2015-05-30 00:05] jayunit100 commented on #8119
Oh ! And the colored lines, of course :) ![screenshot from 2015-05-29 20 03 25](https://cloud.githubusercontent.com/assets/826111/7894737/de59e044-063d-11e5-8ecd-e8adee2d9c46.png) heres how they work.  Tim's filtering on **LIST** operations.  SO for example, each colored line represents a particular type of list call.  in this case i highlighted one such call (list replicationControllers)

[2015-05-30 00:05] lavalamp commented on #8119
@timothysc I made #9031 as a wild guess about your problem; could you give it a try when you feel like giving this another timeslice?

[2015-05-30 00:09] justinsb commented on #8900
Could we default-drop inbound traffic in iptables on GCE, and then just open the ports we need?  (It probably isn't a terrible idea in general anyway - defense in depth)

[2015-05-30 00:15] thockin commented on #8900
It's pretty hostile to any other use of the machines, which may be OK.
Which set of ports?  Every service?  all ports?  I'm not sure how to
describe this - security is not my thing :)

On Fri, May 29, 2015 at 5:10 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-05-30 00:17] erictune commented on #7299
What Tim wants already exists.
From:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/README.md
you see links to the cluster admin guide, the user guide, and the developer
guide.
Each of those is a table of contents pointing to individual topical docs.

On Thu, May 28, 2015 at 10:50 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-05-30 00:47] bgrant0607 commented on #8900
The heapster case was different -- it exposes cluster data and therefore requires auth.

To me, a request for an external load balancer means that you want it to be visible, and we should make that happen.

[2015-05-30 01:16] chenjie901 commented on #8995
@rjnagal @dchen1107  yes, I`m not use a service, just A RC, and sorry the RC is recreated, i am reappear the problem.
[code]
[code]

  I have exampe the log carefully, all log is those repeatlly:
[code]

[2015-05-30 02:16] WIZARD-CXY commented on #8985
This pr https://github.com/GoogleCloudPlatform/kubernetes/pull/8621/ adds this function.It seems @MCyprien forget to define it.......

[2015-05-30 02:22] WIZARD-CXY commented on #8985
And I'm sure this pr https://github.com/GoogleCloudPlatform/kubernetes/pull/8986 is fixing this.

[2015-05-30 03:24] bgrant0607 commented on #4521
Re. indentation in the client: Please see the discussion in the original issue -- #2243. Having the ability to pretty-print the json in a browser is useful. It doesn't need to be the default, but let's not lose that. Either a URL parameter or, preferably, using User-Agent to disable indentation.

[2015-05-30 03:27] bgrant0607 commented on #4521
Even for curl, indentation is useful, so if we want to disable it, we should do that in our client library.

[2015-05-30 03:34] srakesh28 opened #9034 "Error post deployment in azure kubectl get minions Error: Get http://localhost:8080/api/v1beta3/minions: dial tcp 127.0.0.1:8080: connection refused"
Hi,

I have tried this steps but it fails to get minions.

core@kube-00 ~ $ kubectl get minions
Error: Get http://localhost:8080/api/v1beta3/minions: dial tcp 127.0.0.1:8080: connection refused

Deployment was successful without any errors and I can see the all nodes up and running in azure.

Please assist ..
Thank you

[2015-05-30 03:48] srakesh28 commented on #9034
Error message posted :
Waiting for cluster initialization.

  This will continually check to see if the API for kubernetes is reachable.
  This might loop forever if there was some uncaught error during start
  up.

........................................................................................................................................................................................

[2015-05-30 04:52] srakesh28 opened #9036 "kubernetes on azure not working :"
I was trying to follow these instruction @ https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/azure.md  to build some containers and manage it but I can’t get pass the step of deploying apps

Steps I am able to run until is cluster/kube-up.sh (

This step never finishes , loops on Validation step and never ends, but I can see master and Menons spin up in Azur

[2015-05-30 05:35] tobegit3hub commented on #7332
It's the gov issue and we're gonna judge it. Most google services are blocked in China. Currently Docker services just work but I will NOT make sure it works later, you know :cold_sweat:

[2015-05-30 06:10] roberthbailey commented on #9029
The malformed http response is what you get when you try to make a plain http connection to an https endpoint (and presumably what you get when you try to make an https connection to an http server). In this case, I believe that the proxy is trying to make an https connection to the http server running on port 10248 on the kubelet. I didn't realize that you could specify a port number in the proxy

[2015-05-30 06:11] roberthbailey commented on #9029
If you can specify arbitrary ports on a node, how can we tell the proxy which ports should expect an SSL connection and which shouldn't? If we can't, then I think we should default to having them all be secure.

[2015-05-30 06:22] roberthbailey commented on #9028
/cc @satnam6502 @a-robinson

[2015-05-30 06:36] roberthbailey commented on #8286
The relevant PRs have been merged and bugs have been filed for other uses of the dead flags. Marking this as complete; @erictune please verify and reopen if you think there's anything else to do here.

[2015-05-30 06:36] #8286 closed

[2015-05-30 06:39] satnam6502 commented on #9028
Note that when logging to GCP is selected, we do not deploy the Elasticseach and Kibana pods.
The output shown above is for -- I guess -- a GCE cluster which has the default logging selection i.e. Elasticsearch -> Kibana.

[2015-05-30 07:50] glensc opened #9039 "timeout starting docker service in vagrant box"
i've setup kubernetes via [vagrant provider](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md) and seems the process does not get past starting up docker service on master.

when i started it again, i saw `mkfs.ext4` to run, mostly in D state, and then again docker service startup timed out.
[code]

i could not find any timeout param in systemd c

[2015-05-30 07:53] glensc commented on #9039
when i started docker from console, i see ps listing as:

[code]

[2015-05-30 08:01] glensc commented on #9039
output when docker started manually from console:
[code]

and even then, from ps listing, i think i saw it doing `docker load -i /srv/salt/kube-bins/kube-apiserver.tar` several times before it finally succeeded.

[2015-05-30 08:13] bprashanth commented on #9002
We have https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/load.go (which I just ran). We also run e2e tests on a cluster that has 5 rcs and tear it down ~hourly, and a scale test that stops very large rcs. It would be nice to have a shorter test that targest just stopping multiple rcs.

Can you give me the exact rc manifests you're using, and more detailed repro steps if possi

[2015-05-30 12:34] MCyprien commented on #8985
hum, yes, I certainly forgot sorry for that

[2015-05-30 14:08] codemeow5 opened #9040 "PORTAL_NET and service-cluster-ip-range"
kubernetes of the v0.15.0 version is still using the parameters of portal_net, but the script has been changed to "service-cluster-ip-range".

[2015-05-30 15:07] thockin commented on #9040
That parameter is renamed in 0.18, but the old flag to apiserver is still
accepted.

It's possible I missed some case where I need to accept both names - can
you explain the problem you are seeing?

Tim
On May 30, 2015 7:09 AM, "codemeow5" <notifications@github.com> wrote:

[2015-05-30 15:11] mkulke commented on #5461
I am experiencing leaked filehandles with 0.17.1's kube-proxy:

i tuned up logging on kube-proxy to --v=4 and found a reproducable pattern. We are hitting an endpoint through an apache reverse proxy, which is exposed via publicIP. With every http request we see *2* filehandles created, which are never returned. Correlating to the request & fd openings are entries in the log (*1* per request): `Map

[2015-05-30 15:37] derekwaynecarr commented on #9039
Were you able to get past this issue?  Did you see this multiple times when bringing up the cluster?  I know as of Thursday I was able to bring up a cluster from Head without issue.

[2015-05-30 18:30] derekwaynecarr commented on #473
What is the specific concern?  Admission control uses resource version of quota document to enforce integrity.  In a multi-master setup, we still have a shared etcd, so I don't see an issue that is unique to quota.  Two masters handling concurrent requests is not much different than a single master handling concurrent requests.  We already have some fuZzing and retry logic in the admission control

[2015-05-30 19:09] davidopp commented on #473
/subscribe

[2015-05-30 19:21] cnaize commented on #9005
@rjnagal
docker info:
[code]
cat /proc/mounts:
[code]

[2015-05-30 20:21] jimmycuadra commented on #473
@davidopp You can just click the subscribe button on the right sidebar. No need to comment, as that sends a notification to everyone already subscribed.

[2015-05-30 20:42] mkulke commented on #8891
Could it be the keep-alive setting in the reverse proxy?

consider the following code from proxier/proxysocket.go:

    // proxyTCP proxies data bi-directionally between in and out.
    func proxyTCP(in, out *net.TCPConn) {
      var wg sync.WaitGroup
      wg.Add(2)
      glog.V(4).Infof("Creating proxy between %v <-> %v <-> %v <-> %v",
        in.RemoteAddr(), in.LocalAddr(), out.LocalAddr(), ou

[2015-05-30 20:45] davidopp commented on #473
@jimmycuadra The /subscribe is so I get added to the Cc line of the email, so I'll notice the thread when it gets updated in the future. I wish there were some way to do this without having to spam everyone, but I'm not aware of one.

[2015-05-30 20:57] smarterclayton commented on #473
If you toggle the subscribe button through unsubscribe and back it'll go from generic follow (no email) to specific follow (email), same as responding.

[2015-05-30 21:12] davidopp commented on #473
Thanks @smarterclayton ! I had no idea about that feature.

[2015-05-30 22:37] yaroska commented on #9036
Can you please try if these steps will work for you:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/azure/README.md

[2015-05-30 23:13] srakesh28 commented on #9036
Thank you  for your response, I have tried this steps also and it still does not work.
With this steps  https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/azure/README.md    I can successfully, spin up to ./create-kubernetes-cluster.js and able to ssh intto kube-00 , but after that it fails at step core@kube-00 ~ $ kubectl get minions
I get error as be