[2015-02-17 16:41] bprashanth opened #4489 "Better error handling around kubelet stats api endpoints"
The current classification of exceptions in the kubelet /stats pipeline is a little vague, leading confusing http error codes in innocuous situations (eg: the pod is up and the container hasn't started yet results in a 500). It would be nice to plumb errors up from the various dockert/cadvisor clients as they occur, and return the right error codes.

This is a spinoff from #4127

[2015-02-17 16:44] satnam6502 commented on #4119
Very exciting. Let us know how we can help!

[2015-02-17 16:49] thockin commented on #4119
Isn't this sort of a hack?  Like, shouldn't kubelet itself cache this,
rather than depending on cadvisor (which is strictly optional, is it not?)

On Tue, Feb 17, 2015 at 7:49 AM, Victor Marmol <notifications@github.com>
wrote:

[2015-02-17 16:54] vmarmol commented on #4119
We certainly can cache this information in the Kubelet and this will only be slightly more stale than cAdvisor's.

Whether cAdvisor is optional is a discussion on its own, but I don't think it actually is. We're baking in a lot of resource awareness at many levels and we won't be able to do any of that without cAdvisor. I just don't think we've officially accepted that yet :) You can argue that it

[2015-02-17 16:58] mrunalp commented on #3350
Edited to move this earlier to 10:00 a.m. to accommodate more folks. @jainvipin, does that work for you?

[2015-02-17 17:10] thockin commented on #560
Why would it need auth?  It all seems strictly read-only...

As for feature set, less is more unless there's no other choice.  I'd love
to say that the downward API is *just* about customizing env vars, and the
sidecar container can be more flexible.  Can we get away with that?

And yes, I think that a generic "sync kubernetes info to files" container
would be a great piece of the overall system.

[2015-02-17 17:32] jainvipin commented on #3350
@mrunalp - works for me...

[2015-02-17 17:44] #4008 closed

[2015-02-17 17:50] thockin commented on #4476
Label values are not currently validated in any way, though that might
change.  They are not really intended to carry structured data and the
expressions one can perform on labels are intentionally very simple.

You can store arbitrary stuff in the annotations field, but that is not
really queryable by our selector infrastructure (e.g. won't be indexed).

I'm not sure what you mean by package X, v

[2015-02-17 17:59] #4309 closed

[2015-02-17 18:07] brendandburns commented on #4414
I think the key is:

```Your kernel does not support OOM notifications: open /sys/fs/cgroup/memory/dockerbfd28d56f538d8bd2bbdbffa7422a79d790b63334d1adff4acf9d250ce1b9903/memory.oom_control```

@dchen1107 should we gracefully degrade here?

[2015-02-17 18:13] zmerlynn commented on #3123
It's actually really messy to use any of the coarse grained test timing for perf for some tests unless you also record the order of the tests in the process and only graph based on the same relative docker pull order. The specs are currently randomized, so the first test that hits a particular image pays a pretty heavy cost. It would be much better if we recorded the time between various actions w

[2015-02-17 18:20] vishh commented on #4119
@wojtek-t: Is it the docker daemon that is causing such high latency?

[2015-02-17 18:30] smarterclayton commented on #4476
Although someone could implement an annotation indexer on the side if necessary.

[2015-02-17 18:36] vishh commented on #4489
I did some cleanup for the /containerLogs endpoint while working on #3391. It is possible to generalize #4373 for all REST endpoints.

[2015-02-17 18:37] vmarmol commented on #4119
From looking at the [GetKubeletDockerContainers](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/dockertools/docker.go#L313) it looks like the only real work we do is query Docker. It does seem unusual that the latency is so high, but I've observed it before.

[2015-02-17 18:49] smarterclayton commented on #560
----- Original Message -----

I think so for the near term.  We can take real use cases to handle the container case, and adapt them in later if necessary.

[2015-02-17 18:52] dchen1107 commented on #4414
@brendandburns I assume this is reported from docker, not kubelet and cadvisor.

memory.oom_control file is for OOM notification and other controls. docker/libcontainer has register to listen on OOM events from kernel, and process them. Without such information, when a docker container is oom killed by kernel, the container state will be at termination state without proper OOM killed information.

[2015-02-17 18:57] smarterclayton commented on #4471
Yes - purely to see what you're going to be creating seeing the pod template visualized is really important.  We can always make people read JSON, but i think that's not all.

----- Original Message -----

[2015-02-17 18:58] dchen1107 commented on #4414
btw, the issue of "not support OOM notifications" from docker should be fixed in 1.5 release. Even it is not the root cause, but it causes the confusion on the failure, and hurts the debuggability of the ecosystem.

[2015-02-17 19:08] dchen1107 commented on #4415
I think my PR #4376 should fix most of Unknown state here unless the node status is unreachable.

[2015-02-17 19:29] vishh commented on #4304
Any updates @lavalamp ?

[2015-02-17 20:23] dchen1107 commented on #4472
@xiang90 is actively looking at the issue too.

[2015-02-17 20:26] roberthbailey commented on #3710
@satnam6502 has this been done? Are the rate limits applied via the Go clients or on the server side?

[2015-02-17 20:53] satnam6502 commented on #3710
The rate limits are applied by the server. So, actually, using separate clients does not make a difference (w.r.t. limits).

[2015-02-17 20:53] #3710 closed

[2015-02-17 20:54] satnam6502 commented on #3710
But yes, I changed the tests in #3720 to use a fresh client. We can keep doing this -- or revert to a shared client. I don't think it makes much of a difference.

[2015-02-17 21:07] zmerlynn commented on #3710
I don't think the tests should recycle the client - the existing way is fine.

[2015-02-17 21:22] zmerlynn commented on #4186
@filbranden: Any progress to report here? I was looking at items to include in tomorrow's Fix-It and this came up.

[2015-02-17 21:26] satnam6502 commented on #4186
Well I have a PR that is trying to make ENABLE_CLUSTER_MONITORING=true the
default.

On Thu, Feb 5, 2015 at 1:21 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-02-17 21:27] jlowdermilk opened #4500 "hack/test-integration.sh is flaky"
A significant number of builds fail with the error

[code]
If you look at [shippable history](https://app.shippable.com/projects/54c71b655ab6cc135289dd2d), this is the leading cause of flakes (build passes on 1.4, fails on 1.3 or vice versa).

[2015-02-17 21:29] zmerlynn commented on #4430
Yeah, can we please start standardizing on something akin to "cluster name"
rather than "instance prefix"?

On Fri, Feb 13, 2015 at 2:18 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-02-17 21:31] thockin commented on #4430
Also #2292

On Tue, Feb 17, 2015 at 1:30 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-02-17 21:32] jlowdermilk opened #4501 "liveness e2e test is flaky"
63/78% passing for last 100 runs on [jenkins](http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/lastCompletedBuild/testReport/(root)/Kubernetes%20e2e%20Suite/). Test itself is likely racy.

[2015-02-17 21:53] #4041 closed

[2015-02-17 21:59] satnam6502 commented on #4430
One of the PRs I am working on for end to end testing for cluster logging adds a `--cluster_name` flag to the apiserver.

[2015-02-17 22:22] zmerlynn commented on #4501
I wasn't sure if this was the test or not: #4406.

[2015-02-17 22:56] zmerlynn commented on #3693
@jlowdermilk and I talked about this and #3694 for a while and think that they should remain as `kubectl` tests. This test needs to be improved: it needs to be turned into an actual test (we don't do *anything* with the service).

[2015-02-17 23:05] dchen1107 commented on #4472
Just comfirmed that the issue is limited to integration tests only. Lower the priority to P1 too.

[2015-02-17 23:05] zmerlynn commented on #4389
@jlowdermilk and I talked about this for a little while, and would like the kubectl e2e to be:
* We test `kubectl` with two existing shell tests, and keep those in the tree. If we have to, we can just collapse them into one shell test.
* #3693 becomes: `guestbook.sh` becomes a real test
* #3694 becomes: Clean up `update.sh`
* We ensure that the shell tests have everything covered once. (@jlowdermi

[2015-02-17 23:06] zmerlynn commented on #4389
cc @filbranden @roberthbailey, because I'm sure there will be opinions here.

[2015-02-17 23:10] zmerlynn commented on #3388
Congrats, this also qualifies for the next Fix-It. :)

[2015-02-17 23:12] satnam6502 commented on #3388
Excellent. I am already on it :-)

[2015-02-17 23:18] roberthbailey commented on #4389
Can we at least consider replace the shell parts of these tests with a Go driver that exec's kubectl instead?

I think keeping them as separate tests makes sense, as update.sh can be specifically targeted to test the kubectl rollingupdate command and we want finer grained tests.

[2015-02-17 23:27] zmerlynn commented on #3131
We have a test framework now for the e2e tests (Ginkgo). With a little work, we could actually have Ginkgo running the `testing` tests as well. The remaining goal, that you can't exactly flip a test between these frameworks easily, is lesser priority right now, though... obnoxious.

We should get to a place where Ginkgo is running everything, then possibly Ginkgo-ize everything, then that last sta

[2015-02-17 23:30] thockin opened #4505 "api.ResourceList.Get() is a smell"
No other types have helper methods, and this does weird things with pointers.

[2015-02-17 23:32] zmerlynn commented on #4389
We talked about using Go for exec, and it wasn't clear there was a huge
benefit. I think the biggest benefit is that in Go, you also have access to
a real client, so you could perform more rigorous checks easily than you
could in bash (or rather, more easily do these checks).

I'm not against that path, thought, certainly.

On Tue, Feb 17, 2015 at 3:19 PM, roberthbailey <notifications@github.com>

[2015-02-17 23:42] yujuhong commented on #4090
I have some questions and hope someone can shed some light.

 * What's the goal of this issue? Do we simply want the master to be aware of the existence of such pods (read-only pods as mentioned in #1523) or do we want the scheduler/controller to manage the static pods (should they be killable by user requests)?

 * Why are we migrating the master components (#490) into pods? Is it just because we

[2015-02-17 23:50] roberthbailey commented on #3168
@liggitt @a-robinson

Here is my plan to get us to "Static Clustering" as defined in [clustering.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/clustering.md):

1. Configure the kubelet to use HTTPS
  * Generate a self signed certificate on the kubelet, bind to the port using TLS.
  * The master will connect over HTTPS without verifying the certificate.
2. Modify the

[2015-02-17 23:55] roberthbailey commented on #4389
@satnam6502 found when he converted some of the shell tests to Go that the shell tests were not doing a good job of rigorously checking return values and cleaning up properly. I think it will be much easier for us to verify these properties if the driver is written in Go and it will also be nice to have a single language for all of the tests (and will likely be better encouragement for people to k

[2015-02-17 23:56] davidopp commented on #2726
Can I assign this to @smarterclayton? IIUC this is considered a blocker for 1.0, and we should have every 1.0 issue assigned to someone.

[2015-02-17 23:57] smarterclayton commented on #2726
Yes

[2015-02-17 23:58] satnam6502 commented on #4389
Let me add my two pence to Robby's two cents.

[2015-02-17 23:59] yujuhong commented on #4135
After discussing with @dchen1107 and @ddysher, we came to the conclusion that since @ddysher has already started working on the master-side of the code and it's hard to divide work, I will not be working on this issue for now. I'd be happy to jump back in whenever @ddysher needs an extra hand.

[2015-02-18 00:00] vishh commented on #4186
@filbranden: I can work on this one if you are busy.

[2015-02-18 00:01] davidopp commented on #4119
I wonder if this is related to #3954
Although that issue talks about scheduler throughput, it seems that what Alex observed is end-to-end scheduling time, so the delay may be related to this issue and not actually in the scheduler. @wojtek-t what do you think?

[2015-02-18 00:01] dchen1107 commented on #4489
@vissh I assigned this to you since you are doing some work related to /stats already based on our offline discussion earlier.

[2015-02-18 00:03] filbranden commented on #4186
@vishh @zmerlynn Feel free to take over or use it in tomorrow's Fix-It, thanks for the offer and sorry for hogging it for a while!

[2015-02-18 00:15] goltermann commented on #4457
We think this is fixed via #4381, can you confirm, then close?

[2015-02-18 00:15] vishh commented on #4186
Assigned the issue to me. I might not get to this by tomorrow. So I will remove the "Fix-It" milestone for now.

[2015-02-18 00:18] zmerlynn commented on #4292
I did some testing last week with the last form of timeout (the ginkgo native timeout). As is probably obvious, the biggest issue we're going to have is that any test that is using the `defer SomeCleanupFunc(someResource)` pattern to do a leaf cleanup at the end of the test is going to have issues, because Ginkgo, as it should, shoots the whole goroutine in the head and the defers never run.

Give

[2015-02-18 00:21] davidopp commented on #4090
Those are good questions.

1) From Brian's comment, it sounds like the long-term goal is to make these pods indistinguishable from pods created through API server. However, you might want to implement this feature in two steps, first as read-only pods (which would be sufficient for having the scheduler take them into account when scheduling), and then as the second step convert them to full regula

[2015-02-18 00:21] zmerlynn commented on #3978
I think this bug is now covered by #4292, unless there's something missing there.

[2015-02-18 00:21] #3978 closed

[2015-02-18 00:32] roberthbailey commented on #1399
Still an issue?

[2015-02-18 00:33] smarterclayton commented on #1399
I have not seen this in forever.

[2015-02-18 00:33] #1399 closed

[2015-02-18 00:33] #4258 closed

[2015-02-18 00:33] smarterclayton commented on #4457
This is fixed.

[2015-02-18 00:33] #4457 closed

[2015-02-18 00:38] satnam6502 commented on #4292
Personally, I think you should never create a resource called "foo" in e2e tests -- you should make a unique name for it by suffixing it with a string from the UUID library. That makes the test even more resilient to failed cleanup and allows multiple instances of the test to run in parallel.

[2015-02-18 00:43] #4472 closed

[2015-02-18 00:44] roberthbailey commented on #3101
Looks like this has been fixed.

[2015-02-18 00:44] #3101 closed

[2015-02-18 00:46] zmerlynn opened #4510 "Unit test coverage report dashboard"
Right now, we execute unit tests in Travis with `-cover`, and you can see the results on each line:

[code]

but we don't have an easy place to go browse our code and figure out what's covered and what isn't. Is there some awesome way to do this? At the very least, can we get the actual line-by-line coverage results integrated into our CI build process so we can poke at these somehow?

[2015-02-18 00:46] zmerlynn commented on #4510
cc @roberthbailey

[2015-02-18 00:49] nikhiljindal commented on #2970
go-restful (the framework that we are using to generate swagger-spec) does not support 2.0 yet: https://github.com/emicklei/go-restful/issues/157

[2015-02-18 00:52] zmerlynn commented on #4292
Agreed. Changing my comment to match.

On Tue, Feb 17, 2015 at 4:39 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-02-18 01:00] thockin commented on #4090
Also see #2491 wherein I started to make a per-node pod controller and
realized how awful it was to implement.  surrounding code has evolved a lot
since then

On Tue, Feb 17, 2015 at 4:21 PM, David Oppenheimer <notifications@github.com

[2015-02-18 01:05] quinton-hoole-google commented on #4288
Cool, thanks pwell.  That definitely helps.

[2015-02-18 01:07] yujuhong commented on #4090
@davidopp, thanks for pointing out #1518!

1. These file-based pods are inherently different from the regular pods. I doubt that it is possible to make them truly indistinguishable. For example, user cannot delete the pod, as kubelet will immediately create a replacement. Users also cannot change the pod configuration in ways other than changing the manifest file on the node. If the end goal is to

[2015-02-18 01:11] thockin commented on #4090
I think that if we get to read-only pods from files, we'll be doing well.
I am less convinced that we need fully-managed pods from files, especially
in the short term.

On Tue, Feb 17, 2015 at 5:08 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-02-18 01:20] dchen1107 commented on #4090
Agreed with @thockin. For 1.0 release, we just need:

1) master knows read-only pods on node
2) scheduler takes those pods' resource usage, cpu and memory only so far into account
2) user can query read-only pods' status, events and logs.

[2015-02-18 01:30] satnam6502 opened #4513 "Can't create a cluster because kube-up fails with unhelpful error message"
I did a fresh build against HEAD and then ran `kube-up.sh` on GCE and got this unhelpful error message.

[code]

[2015-02-18 01:32] satnam6502 commented on #4513
This is blocking me from working on e2e testing on GCE so I would appreciate whoever made recent changes to the cluster creation code dealing with this ASAP, thanks. I've just deleted all my GCE clusters  and I can't seem to make any more :-(

[2015-02-18 01:46] davidopp commented on #4090
Scheduler using pod usage for scheduling was bumped from 1.0, so #2 from @dchen1107 list is not a blocker for 1.0.

[2015-02-18 02:08] satnam6502 commented on #4513
One theory: the new cluster creation code is not robust w.r.t. existing forwarding rules etc.

[2015-02-18 02:24] jlowdermilk commented on #4513
Just tried at head, and didn't see it. Are you still getting the error? It's possible it was a transient gcs problem.

[2015-02-18 02:31] jlowdermilk commented on #4513
Only other thing I can think of is if you had multiple kube-up scripts running at the same time (on the same project), they could race to create the bucket. If one creates the bucket just as another is checking for existence of said bucket, the second create attempt would fail. From the above paste the error looks to be coming from [`gsutil mb <bucket>`](https://github.com/GoogleCloudPlatform/kube

[2015-02-18 02:38] satnam6502 commented on #4513
Existing forwarding rule.
On Feb 17, 2015 6:31 PM, "Jeff Lowdermilk" <notifications@github.com> wrote:

[2015-02-18 03:13] dchen1107 commented on #4068
With my recent PR, not included in 0.10 release, all Unknown cases caused by docker's resource temporarily unavailable issue should be fixed. I am going to close this issue. @soatman, please open a new issue when you observed the same issue on 0.11. Thanks!

[2015-02-18 03:13] #4068 closed

[2015-02-18 05:36] thockin opened #4519 "No defaulting in pkg/api/types.go means comments are lying"
Many comments in there say "if not specified, default is ..." - but we previously asserted that there are no defaults for the internal API.  We should strip those comments out, and leave them in versioned structs only.

[2015-02-18 06:17] ghodss commented on #4428
Yeesh. My apologies for causing so much consternation.

However... I do not think we should eliminate merging altogether. Merging kubeconfigs is important and powerful for the same reason that bash runs /etc/bashrc before ~/.bashrc, why git merges $(prefix)/etc/gitconfig with ~/.gitconfig and then $(repo)/.git/config, and why yum reads /etc/yum.conf and then merges in any additional configs in /et

[2015-02-18 06:28] bgrant0607 commented on #4519
cc @yujuhong

[2015-02-18 06:35] jszczepkowski commented on #4411
Problem (1) is solved by #4484. We still need to solve (2): removing of external load balancers during shut down.

[2015-02-18 06:55] wojtek-t commented on #4119
@vishh: I think that vmarmol@ post already answered your question.

@davidopp: yes, I think that's definitely related. In fact when I was doing my experiments, usually all the pods (i.e. 50 of them) were pending within few seconds (say 5-10), and the remaining minute or more was spend on starting them on the Kubelet. So yes - I didn't experiment with scheduling latency so far, but my experiments s

[2015-02-18 07:08] davidopp opened #4521 "Make 99% of API calls return in less than 1s; constant time to number of nodes and pods"
@lavalamp would you be interested in taking this (it's from the v1.0 roadmap)?

Also cc'ing @roberthbailey and @satnam6502 for good measure.

[2015-02-18 07:30] uruddarraju opened #4522 "Vagrant provider latest kube-up not working"
Here are the logs:

Each machine instance has been created/updated.
  Now waiting for the Salt provisioning process to complete on each machine.
  This can take some time based on your network, disk, and cpu speed.
  It is possible for an error to occur during Salt provision of cluster and this could loop forever.
Validating master
Validating minion-1
Validating minion-2
Validating minion-3
Valida

[2015-02-18 08:11] bgrant0607 commented on #4432
@smarterclayton It's not just the write load of events that is causing the trouble, but the unbounded growth in number of objects -- hence all the work on redundancy elimination, eviction, etc. Status writes don't have those problems.

[2015-02-18 08:19] uruddarraju opened #4523 "Pods' get killed and created after initial creation with memory limits"
I was following this example here: https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook

I was able to successfully create all sets of services and pods. I am running with 6 minions registered to master.

When I do get pods for frontend-controllers, the first output I get is:

[code]

And then immediately, when I do it again:
[code]

The running state PODs are going int

[2015-02-18 08:20] bgrant0607 commented on #4432
@xiang90 Thanks for the offer to help. @dchen1107 and @saad-ali are leading the short-term work on etcd scaling issues on our side. If it would help, we could also provide an overview explanation of our usage and/or an overview of the longer-term direction.

[2015-02-18 08:23] bgrant0607 commented on #4523
Sorry, what is the question?

[2015-02-18 08:56] gmarek-google commented on #4521
I'm looking at slow 'get pods' call #4196 and have a few observations about API server performance. I added a doc about turning on profiling to docs/devel, which should be helpful for trying to find bottlenecks. Sadly AFAICT most of the time is spent in YAML handling, which I guess means that we need to reduce number of etcd entries parsed in normal workflow, try to parallelize some of them, write

[2015-02-18 09:37] uruddarraju commented on #4523
I make a small change to the https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook/frontend-controller.json file and have removed the memory specification and this does not happen anymore right now. Can someone suggest me why ?

Thanks.

[2015-02-18 09:48] stefwalter opened #4525 "replicationcontroller watch does not update when status.replicas changes"
If i watch replicationcontroller objects (with ```/api/v1beta3/watch/replicationcontrollers```), and change it's ```spec.replicas```, even after the new pods are created the watch never reports a "MODIFIED" event when the value of ```status.replicas``` changes.

Do watches fail to report a "MODIFIED" event when a calculate field of an object changes?

[2015-02-18 09:52] stefwalter commented on #4525
Here is the watch event when ```spec.replicas``` changes:

[code]

Here is the watch event for the new pod being created:

[code]

And there are no further watch "MODIFIED" events from the replication controller. Retrieving the replication controller, clearly shows the ```status.replicas``` field is now ```4```.

[code]

[2015-02-18 10:52] rsokolowski commented on #4523
I believe it is an instance of #4414

[2015-02-18 11:26] gmarek-google commented on #4521
There's an issue with this goal, namely there's no machine on which API server should have this <1sec. performance. It is important, as on GCE by default we're running on single threaded CPU, hence there's not a lot of space for parallelization of anything.

[2015-02-18 12:16] fgrzadkowski opened #4526 "kubectl log <pod> should use last running container"
If container is crash looping kubectl log <pod> will return the following error:

$ kubectl log <pod>
[...]
Internal Error: container "<container>" is not ready.

This makes it very difficult to debug problematic containers/pods. Instead it should use the last running container.

[2015-02-18 12:18] kbeecher commented on #4414
@brendanburns You asked for a log output. I chose one of the frontend-controllers.

[code]
That's all there was. Other pods returned the same kind of log output.

[2015-02-18 12:25] gmarek-google commented on #4196
Someone brought into my attention the fact, that by default on GCE we run on single thread. This means that even if there are multiple HTTP servers running in separate go routines, physically they run interleaved on a single thread. This means that doing few things in the same time has to make everything noticeably slower, but maybe not to this magnitude. But if we add the fact that on the same ma

[2015-02-18 12:56] stefwalter opened #4527 "Etcd error messages such as "unexpected end of JSON input" are not helpful"
When performing a long poll watch request for changes, and no changes are listed before the request times out ... I get the following error:

[code]

[2015-02-18 12:56] stefwalter commented on #4527
This is with v0.10.0

[2015-02-18 12:56] stefwalter commented on #4525
This is with v0.10.0

[2015-02-18 13:08] stefwalter commented on #4527
Note this takes 5 minutes (the long poll timeout) before the error appears (and curl exits). The long timeout is not unexpected.

[2015-02-18 13:24] derekwaynecarr commented on #4522
The file is auto generated.

You should see it created during kube-up.

https://github.com/GoogleCloudPlatform/kubernetes/pull/4468

Sent from my iPhone

[2015-02-18 14:39] ghost opened #4528 "Kubectl stop rc <name> is flaky"
When playing with get pods performance under pressure I found that stopping replication controller don't work reliably. Workflow:
create 50 pods, each with different rc:
[code]
works reliably, but reverse
[code]
doesn't. I get errors of type
[code]
which leaves cluster in a state when number of replicas under this rc is set to 0 or not and rc itself is not deleted:
[code]

It seems that there are

[2015-02-18 14:40] zmerlynn opened #4529 "API coverage statistics"
We need a way to figure out how much of our API is covered by our e2e tests. @brendanburns suggested this was possible with log scraping today. We also need a way to get it back to the test harness itself so that we can report on it. (Per-test? Per-run?)

[2015-02-18 14:44] doublerr commented on #4527
Is this the standard etcd watch timeout?

[2015-02-18 14:47] stefwalter commented on #4527
Yes, both etcd and kube-apiserver have a watch timeout. However I don't think it's correct to return an "ERROR" with "unexpected end of JSON input" when that happens.

[2015-02-18 15:09] bgrant0607 commented on #4525
Yes, sorry. Known issue. Dupe of #2726 and #4429.

[2015-02-18 15:09] #4525 closed

[2015-02-18 15:12] wojtek-t commented on #4119
@thockin @vmarmol : I'm happy to work on adding any kind of cache, but I probably need a hint whether I should proceed with cAdvisor or create some custom cache in Kubelet. What do you think?

[2015-02-18 15:15] bgrant0607 commented on #4527
The message is from etcd. It's only legal to pass a previously returned resourceVersion. Do a GET on /services, and use the resourceVersion returned in a subsequent watch.

[2015-02-18 15:19] bgrant0607 commented on #4196
Yes, we should run with multiple threads.

Also, rather than just profiling cpu time, it may be more useful to profiling blocking time.
[code]

[2015-02-18 15:31] TomasTomecek commented on #4476
To generalize the use case: I have a pod which performs some job. Once it's finished, I need to store results (json) somewhere. Therefore my question really is: are kubernetes suitable for storing structured data (which needs to be query-able: e.g. give me all the pods which satisfy condition `label["key"]["key2"]  > 256`) or is this a job for separate service (postgresql/etcd/mongo/...)?

[2015-02-18 15:54] brendandburns commented on #4529
I started writing an api proxy that can also collect this info, its just a
question of plugging it in...

Brendan
On Feb 18, 2015 6:41 AM, "Zach Loafman" <notifications@github.com> wrote:

[2015-02-18 15:55] zmerlynn commented on #4529
Where is it?

[2015-02-18 15:59] fgrzadkowski commented on #4236
I must have been synced to an old version.

[2015-02-18 16:01] #4236 closed

[2015-02-18 16:05] zmerlynn opened #4533 ""Events should be sent by kubelets" flaky"
We need to figure out if this is the test or the product: `Events should be sent by kubelets and the scheduler about pods scheduling and running (Failed 9 times in the last 100 runs. Stability: 91 %)`

[2015-02-18 16:05] bgrant0607 commented on #4090
See also #19, #246 (esp. https://github.com/GoogleCloudPlatform/kubernetes/issues/246#issuecomment-64533959), #473, #1573, #1627, #2303, and #2884.

Running in our components in pods would solve many problems, which we'll otherwise need to implement other, less portable, more brittle solutions to, and doesn't require much that we don't need to do for other reasons. Full self-hosting is the eventua

[2015-02-18 16:05] smarterclayton commented on #4432
Aren't we using ttls?  Doesn't this just mean the TTL is too long if it's unbounded?

----- Original Message -----

[2015-02-18 16:07] zmerlynn opened #4534 "Networking test flaky"
`Networking should function for pods (Failed 6 times in the last 100 runs. Stability: 94 %)`: Test or product?

[2015-02-18 16:10] zmerlynn opened #4535 "`Pods should be updated` flaky"
`Pods should be updated (Failed 8 times in the last 100 runs. Stability: 92 %)`: Test or product?

Actually, this one's disturbing, since it looks new?

[2015-02-18 16:14] zmerlynn commented on #4406
Actually, there's something fishy here .. it's possibly the Go test (but it has nothing to do with @rrati's port). I just noticed we still have `liveness.sh` in the tree, and it's doing fine: `Shell tests that liveness.sh passes (Failed 1 times in the last 100 runs. Stability: 99 %)`

[2015-02-18 16:15] ghost opened #4536 "Kubectl get rc for ~50 replication controllers takes >15 sec."

[2015-02-18 16:18] pmorie commented on #560
@sdminonne @thockin @smarterclayton @bgrant0607

Continuing to flesh out the sidecar container outlined above:

[code]

[2015-02-18 16:18] zmerlynn opened #4537 "update.sh is busted"
`Shell tests that update.sh passes (Failed 33 times in the last 100 runs. Stability: 67 %)`

See also #3694, #2580, though. I don't want to invest a ton of time here, but this is busted

[2015-02-18 16:19] brendandburns commented on #4537
Already fixed last night (unless we already broke it again...)
On Feb 18, 2015 8:19 AM, "Zach Loafman" <notifications@github.com> wrote:

[2015-02-18 16:29] zmerlynn commented on #4537
It failed again in #2415 waiting for a replica to come up.

On Wed, Feb 18, 2015 at 8:20 AM, Brendan Burns <notifications@github.com>
wrote:

[2015-02-18 16:51] lavalamp commented on #4521
1) Have we measured this and is it actually not meeting this target?
1.a) As Marek said, what is the golden system configuration upon which we will take this measurement? What is its load? 1s is meaningless by itself. I'd rather say "contstant time, with a low constant factor".

Even though it's single-core, parellelizing should still help if there's network access. I think I already did that befo

[2015-02-18 16:57] thockin commented on #4476
You have two different issues here:

On Wed, Feb 18, 2015 at 7:31 AM, Tomas <notifications@github.com> wrote:

Results are not really appropriate to store in the API object
representing a job.  Results can be unbounded in size, for example.
That said, something like a return code or simple termination message
is probably legitimate.  We have not spent a lot of time on features
around "jobs that co

[2015-02-18 17:01] satnam6502 commented on #4513
I tried to create a cluster in a different empty GCE project except for the forwarding rules that did not get deleted by kube-down.sh and got the same error. I then manually deleted the forwarding rules and then the cluster was created fine. The kube-up process is then -- perhaps -- thrown off by an existing forwarding rule(s) which then perhaps causes this error message? The rules I deleted manua

[2015-02-18 17:16] lavalamp commented on #4527
Is "4444444" just something random you typed in? If so, do what Brian says.

... But it's still weird that it failed only after five minutes.

[2015-02-18 17:20] lavalamp commented on #4196
Yeah, I suspect the problem is mostly contention for a lock or etcd or RPCs.

Adding a pod causes multiple etcd read/writes, as scheduler will be watching and (hopefully) quickly bind the pod.

[2015-02-18 17:22] dchen1107 commented on #2088
This is obsolete, close it.

[2015-02-18 17:22] #2088 closed

[2015-02-18 17:28] vmarmol commented on #4119
Let's start with the cache I think. Information will be more stale, but we need a few changes to make cAdvisor non optional before we use it here. If anything, the cache will let us know how well we deal with the staleness.

[2015-02-18 17:30] quinton-hoole-google commented on #4432
Do we have a good handle yet on what the empirical scaling bounds of etcd are, and what the implied scaling bounds of kubernetes are?  If these are dumb questions, my only defence is that "I'm new around here" :-)

I'm thinking along the lines of a basic load/scaling test on etcd, plotting memory consumption, read and write latency etc against number of etcd nodes, watchers etc.  And then tying th

[2015-02-18 17:31] uruddarraju commented on #4522
I get that. And I have that too. But I still get this.

[2015-02-18 17:37] quinton-hoole-google commented on #4432
In case it's useful, here's an example of a similar study done on zookeeper many years ago:
http://wiki.apache.org/hadoop/ZooKeeper/ServiceLatencyOverview
I quick search around the interwebs did not reveal anything similar for etcd, but maybe someone else has  some pointers.

[2015-02-18 17:39] uruddarraju commented on #4523
Agree. Closing this one as duplicate and will follow the other. Thanks for pointing it out.

[2015-02-18 17:40] smarterclayton commented on #4432
Yes, Derek did this against 0.4.6 and we have a team at red hat that is doing some work.  The roadmap identifies the expected scale, but I don't know if we've done a recent work up that translates normal Kube operation down to a read write ratio and the expected characteristics.  Off the cuff the current event work is generating tens of events (writes) per minute, while node status and pod status

[2015-02-18 17:40] uruddarraju commented on #4523
Agreed. Will the follow the other one then. Thanks for letting me know.

[2015-02-18 17:40] #4523 closed

[2015-02-18 17:59] dchen1107 commented on #4500
I am going to look into this one.

[2015-02-18 18:09] a-robinson commented on #4501
Should this be part of a rewrite in go?

[2015-02-18 18:10] a-robinson commented on #4501
Seems like work on this should definitely wait for the in-flight PR on #4253

[2015-02-18 18:12] a-robinson commented on #4537
Closely tied to #3694

[2015-02-18 18:25] a-robinson commented on #4253
@rrati what's the status of this? There's an issue open to de-flake this test (#4501), but it's tough to do that if the code is in the middle of being moved to ginkgo.

[2015-02-18 18:30] rrati commented on #4253
This has been merged.

[2015-02-18 18:30] #4253 closed

[2015-02-18 18:37] dchen1107 opened #4540 "Fire event for pod when volume setup failed"
When volume setup failed, pod stays at pending state; then kubelet will retry volume setup in next sync loop. We should fire event for such failure.

cc/ @erictune

[2015-02-18 18:43] zmerlynn commented on #4534
I can't repro this one quickly, moving it out of the milestone for now.

[2015-02-18 18:50] ixdy commented on #4510
I'm willing to take a look into this to at least see if something is possible.

[2015-02-18 18:56] davidopp commented on #4521
@lavalamp No, we haven't measured. It's possible that we already meet the goal. Also, as you noted, the goal here is under-defined, as it doesn't specify a workload. (I beileve @satnam6502 is working on workload generators.) So, part of this issue is to define a workload.

[2015-02-18 19:21] yujuhong opened #4542 "API (types.go) does not pass API documentation pre-commit hook"
The pre-commit hook runs `hooks/description.sh` to test `pkg/api/v*/types.go`

If the following line exits with status zero for the files, the documentation is considered incomplete.
  `grep json: "${FILE}" | grep -v ,inline | grep -v -q description:`

The problem is that there are many lines in each types.go that violate this requirement (i.e., description is missing). We should either update the

[2015-02-18 19:23] gmarek-google commented on #4521
I added parallel decoding of data extracted from etcd for get pods, as it takes 1.5 to 6 sec when 50 pods are present (it's more like 1.2-4 with an empty cluster). It did not help.

Additionally ```get replicationcontroller``` is EXTREMELY slow, as per #4536. What is worse than this 15 sec "normal" runtime is that when I was trying to do ```get``` during the time when ```stop``` is running easily

[2015-02-18 19:23] bgrant0607 commented on #4542
We should ensure the hook runs on travis, so that PRs that break it don't get merged.

[2015-02-18 19:24] bgrant0607 commented on #4542
Note that v1beta3 doesn't yet have descriptions. There's an issue filed for that already.

[2015-02-18 19:30] yujuhong commented on #4542
@bgrant0607, yes, I noticed that v1beta3 wasn't checked by the hook.

Here is a list of *matches* in v1beta1 and v1beta2:
[code]
+ @derekwaynecarr since he added most of them :)

[2015-02-18 20:03] erictune commented on #3481
Reverse lookup in APIserver makes sense.  It is just a query against the data in the apiserver.

Proxying, while possible to do in apiserver, I think belongs in a separate process.
  - having a separate bastion process allows removing a cyclic dependency between kubelet and master, which may improve system layering.  See https://github.com/GoogleCloudPlatform/kubernetes/issues/156#issuecomment-743

[2015-02-18 20:04] screeley44 opened #4544 "KUBE_API_ARGS should be trimmed"
Was trying to enable v1beta3 on the apiserver and had an extra space that I didn't notice.  This space caused the enablement of v1beta3 to fail and would not show in http://<master>:8080/api - if it's easy enough to do, that arguement maybe should be trimmed

[2015-02-18 20:05] screeley44 commented on #4544
forgot to add this in previous comment:

KUBE_API_ARGS="--runtime_config=api/v1beta3 "   <-- notice the space after v1beta3

[2015-02-18 20:18] davidopp commented on #4535
This appears to be referring to test/e2e/pods.go

[2015-02-18 20:19] davidopp commented on #4533
I believe this is referring to test/e2e/events.go

[2015-02-18 20:22] derekwaynecarr commented on #4522
So the cluster comes up, just kube-up is blocked when it verifies the cluster returns back all the minions?  I am trying to see what is unique in your case, and why line: https://github.com/GoogleCloudPlatform/kubernetes/commit/a0cb252d400ecca8168055754225256085fe2a1a#diff-b19d3d93456020e2168c7f304f722969R166 is causing a problem...

I cant tell if the error in your case is that kubectl is not fou

[2015-02-18 20:35] smarterclayton commented on #3481
+1

----- Original Message -----

[2015-02-18 20:38] bgrant0607 commented on #4542
PodConditionKind and ConditionStatus are my fault, for not catching them in review. @mikedanese, could you please submit a PR to add descriptions to those fields?

[2015-02-18 20:40] bgrant0607 commented on #4542
Hmm. Travis should be running the check:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/.travis.yml#L12

So, why isn't it causing build failures?

[2015-02-18 20:43] yujuhong commented on #4542
There seems to be a bug in `verify-description.sh`. It always returns 0.

[2015-02-18 21:12] yujuhong commented on #4544
@screeley44, it'd be nice if you can submit a PR for this :)

[2015-02-18 21:25] timothysc opened #4548 "Add a chaos monkey test."
From what I grok in the kube-controller-manager there are a series of time based loops to check different aspects of the system (Node Health, Replication Controllers, and Quota).

Ideally a chaos monkey test would kill nodes and evaluate time to recover, and death spiral avoidance.

[2015-02-18 21:26] Symmetric commented on #3779
@pires , just to confirm that manually fixing the `--hostname_override` flag in the coud_config resolved the problem (I didn't try removing it, don't know if that's an equivalent change).

[2015-02-18 21:28] lavalamp opened #4549 "Centralize api resource path construction logic"
I notice that people are building URL paths in multiple places, and that our URLs have gotten more complex (namespace is optional except when it's not) and will get even more complex soon (maybe you can add /status at the end).

Therefore, instead of passing name and namespace around and causing a bunch of logic about namespaces to be repeated in many places, I'd like one piece of code that knows

[2015-02-18 21:31] bgrant0607 commented on #4549
ObjectPath looks a lot like ObjectReference.

[2015-02-18 21:35] smarterclayton commented on #4549
----- Original Message -----

Status is just one example, "SubResource" or "SubPath" is the generic.  How do we build a URL to a proxy or watch?  We'd need "Prefix" or "VerbPath" as well.

Hrm - the assumption is the client already knows Resource and SubResource (depending on the method you're going to invoke).  So namespace is required, UID is optional, and name is required.  Doesn't seem like th

[2015-02-18 21:43] screeley44 commented on #4544
@yujuhong - I'm pretty new to this is there a link to submit PR's (I thought that the way I reported this was a PR).

[2015-02-18 21:47] smarterclayton commented on #4549
Maybe we just need to have ObjectReference -> link and Object -> ObjectReference?  RESTMapper can do bits of this (its what does kind to resource).

I think sub resource is a special case, where generally self links will never have sub resources, instead its' a verb variant on an object (you want to GET the Status sub resource of Pod Foo in namespace Bar)

----- Original Message -----

[2015-02-18 21:52] yujuhong commented on #4544
PR means a pull request, asking to merge commits into the repository.

If you would like to contribute to kubernetes, you can fork the repository and upload your changes to your own repository. Then, you can create a pull request asking for code review. The process is similar to contributing to open source projects on github.
https://guides.github.com/activities/contributing-to-open-source

[2015-02-18 21:53] sdminonne commented on #560
@pmorie thanks for this.
@smarterclayton @thockin let's take the testcase which I already mentioned. Propagating labels to prefix log for aggregation (something similar to https://github.com/GoogleCloudPlatform/kubernetes/issues/4255). In this case at the `run` of the container we should write the file in /etc/kubernetes-info updating it at each `label`, `update`.
The updates should be triggered b

[2015-02-18 21:55] smarterclayton commented on #4476
I think the case of storage for data:

1. You can store metadata in annotations.  It should be small
2. Medium to larger sized data (10-100k) could potentially be passed through the API and stored as part of resources that were designed for it (i.e. Secrets)
3. Larger data should be stored in object storage or something that is like object storage (GET / PUT chunks of data).  You could use/abuse e

[2015-02-18 21:56] ixdy commented on #4510
Looking into using Coveralls; there are a few other teams at Google already using this.
https://coveralls.io/r/Google
https://coveralls.io/r/GoogleCloudPlatform

Integration with Travis and Go are supported with the goveralls package: https://github.com/mattn/goveralls

[2015-02-18 21:58] ghodss commented on #1702
@bgrant0607 Any thoughts on this approach? Am I missing anything in terms of use cases?

[2015-02-18 22:09] timothysc commented on #3118
@jeremyeder is there any format that would be easier to consume data?

[2015-02-18 22:10] pires commented on #3779
@Symmetric can you ```cat /etc/environment``` on your CoreOS node(s) and check if ```COREOS_PUBLIC_IPV4``` and ```COREOS_PRIVATE_IPV4``` are correctly set?

[2015-02-18 22:12] screeley44 commented on #4544
@yujuhong - ah, thanks for the clarification, I might give that a try, would be a good learning experience

[2015-02-18 22:13] #4073 closed

[2015-02-18 22:21] satnam6502 commented on #4513
Now I am not so sure this is due to forwarding rules. In the second project I did a `kube-down.sh` which deleted everything excerpt the forwarding rules. Then I did a `kube-up.sh` and that worked -- so the existing forwarding rules were not causing a problem. So perhaps this is due to something else e.g. gsutil command mentioned by @jlowdermilk

Switching back to my original project I still get th

[2015-02-18 22:25] benmccann opened #4554 "Missing AWS getting started link?"
Feel free to close if there's a reason this was done intentionally.

On the getting started page (http://kubernetes.io/gettingstarted/) there's links to all the guides, but [the AWS guide](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/aws.md) isn't listed.

[2015-02-18 22:27] fabioy opened #4555 "e2e.go doesn't honor the "--times" flag for tests"
The "--times" flag doesn't seem to work when running tests. Flag seems to be ignored and runs the test only once:

go run hack/e2e.go -v -test --test_args="--times=5 --ginkgo.focus=Events.*"

[2015-02-18 22:27] satnam6502 commented on #4513
So it was the wrong project name. I do this all the time: I use the wrong project name and then get a strange error. We should check to make sure the project exists before attempting any operations.

[2015-02-18 22:27] #4513 closed

[2015-02-18 22:34] satnam6502 opened #4556 "Cluster level logging not working because forwarding rules not created"
[code]

[2015-02-18 22:35] satnam6502 commented on #4556
Argh! My fault.

[2015-02-18 22:35] #4556 closed

[2015-02-18 22:36] thockin opened #4557 "ValidateRequestCount() doesn't"
This function is used in tests to verify the right number of calls, but it only logs, it does not trigger a test failure.  Triggering a failure makes a bunch of tests not pass anymore.

This is a poor way to test things like the endpoint controller anyway.

[2015-02-18 22:39] derekwaynecarr commented on #4549
I think if we are building links on server whatever we do must be RESTMapper aware.

I guess I look at this the other way and wonder what area is manually building links that should be using a client.Interface instead?  I would prefer we push client.interface usage in those areas first.

Sent from my iPhone

[2015-02-18 22:40] derekwaynecarr commented on #4549
@lavalamp can we just move offenders to take client.Interface?  What areas are you seeing bad behavior that most bug you?

[2015-02-18 22:41] sym3tri opened #4558 "unable to create resources in v0.10.1 with v1beta3 api"
I've been using the v1beta3 API. I just upgraded from Kubernetes v0.9.2 to v0.10.1 and can no longer create resources in the default namespace. Is this a bug or intentional design choice to now require a namespace?

This is what I'm seeing with v0.10.1:

[code]

v0.10.1 v1beta3 swagger json (note lack of POST operation)
[code]

v0.9.2 v1beta3 swagger json
[code]

[2015-02-18 22:41] davidopp commented on #4528
"All the given peers are not reachable" seems to happen a lot. I'm seeing it when I run e2e test (one of the tests in pods.go fails with this error), also we have seen it in #4188, #3950, and elsewhere. In #4188 Tim said this indicates an etcd error.

[2015-02-18 22:43] derekwaynecarr commented on #4558
V1Beta3 has different URL path structure.

Post /namespaces/default/pods

This is by design.

[2015-02-18 22:44] dchen1107 commented on #4528
@davidopp, that is an issue in etcd client library.

[2015-02-18 22:44] derekwaynecarr commented on #4558
If you look at the swagger output you can see the new path semantics and verb support

[2015-02-18 22:47] davidopp commented on #4528
Yeah, Tim had made a similar comment. What is the best way to get more details about the error?

[2015-02-18 22:48] sym3tri commented on #4558
@derekwaynecarr Thanks for the feedback, that makes sense. I just wasn't sure if it was a bug or intentional.

Follow up question:
So is the idea that the operation `GET /api/v1beta3/pods` will return all pods regardless of namespace?

[2015-02-18 22:53] derekwaynecarr commented on #4558
Correct.

Resources that are in a namespace to do creation, update, delete require namespace in path.

Getting all of a resource independent of namespace is just GET /resource, like GET /pods.

Note Namespace is an actual object, but mandating its creation before sticking content in it is not enforced in providers other than Vagrant.  I would like to fix that soon.  In that mode GET /namespaces li

[2015-02-18 22:55] erictune opened #4561 "Kubelet to POST pod status to apiserver"
Split off #156 as a smaller more specific work item.

In the kubelet, once every N sync loops, it should POST `/api/$VERSION/namespaces/$NS/pods/$NAME/status` for each pod.

The kubelet would do this if enabled by a flag, and emit a warning if it failed to POST the update.

The kubelet would ideally handle a 429 by retrying after the `Retry-after` header.

[2015-02-18 22:55] sym3tri commented on #4558
@derekwaynecarr Thanks, that clears things up. Closing this issue since it's not a bug.

[2015-02-18 22:55] #4558 closed

[2015-02-18 22:57] davidopp commented on #4528
etcd has these flags:
-v - Enable verbose logging. Defaults to false.
-vv - Enable very verbose logging. Defaults to false

Dawn said to enable etcd logging change the salt config that starts it up.

[2015-02-18 23:04] erictune opened #4562 "Kubelet to POST node status to apiserver"
Split off #156 as a smaller more specific work item.

In the kubelet, once every N sync loops, it should POST `/api/$VERSION/nodes/$NAME/status`.  It would in particular set
[code]

The kubelet would do this if enabled by a flag, and emit a warning if it failed to POST the update.

The kubelet would ideally handle a 429 by retrying after the Retry-after header

[2015-02-18 23:07] dchen1107 commented on #4528
To debug such issue last time, I had to modify etcd client library in Godeps/_workspace/src/github.com/coreos/go-etcd/etcd/ with more logging too.

[2015-02-18 23:07] erictune opened #4564 "Apiserver to support disabling pod status probes"
Split off #156 as a smaller more specific work item.

Apiserver should have a flag that makes it not attempt to GET `/podInfo` from kubelets.
This would be used in conjunction with #4561.

After we have converted the top N Getting-started-guides to the new style, we can rip out the kubelet client from the apiserver altogether.

[2015-02-18 23:11] erictune opened #4565 "Node controller to support disabling node probes."
Split off #156 as a smaller more specific work item.

Node controller should have a flag that makes it not attempt to GET /healthz from kubelets.

This would be used in conjunction with #4562.  So, it would rely on kubelets to post the node status.  However, it would still need to check periodically check each node to see if it `nodeStatus.condition[].lastProbeTime` had been updated recently.  If

[2015-02-18 23:12] dchen1107 commented on #4561
In a long run, we want to do a bulk POST to apiserver, but that is not v1 blocker.

[2015-02-18 23:13] davidopp commented on #4528
Thanks. And on the server side it looks like we want to add -vv to the command line in one or both of these files: cluster/saltbase/salt/etcd/{default,initd}
(though if the problem is in the client as you said, then this is less useful)

[2015-02-18 23:14] dchen1107 commented on #4562
cc/ @ddysher

[2015-02-18 23:15] erictune commented on #156
Work items to close this issue:
  - [ ] https://github.com/GoogleCloudPlatform/kubernetes/issues/4561
  - [ ] https://github.com/GoogleCloudPlatform/kubernetes/issues/4562
  - [ ] https://github.com/GoogleCloudPlatform/kubernetes/issues/4564
  - [ ] https://github.com/GoogleCloudPlatform/kubernetes/issues/4565

[2015-02-18 23:17] bgrant0607 commented on #4527
We shouldn't pass such unhelpful etcd error messages directly back to the user. We should provide our own error messages that make sense in the context of the attempted operation.

[2015-02-18 23:21] bgrant0607 commented on #3692
We may want hooks in addition to events.

[2015-02-18 23:23] alex-mohr opened #4566 "Many flaky tests caused by blocking on large image pulls"
Docker v1 daemon serializes pull requests per https://github.com/docker/docker/issues/150
"v1 (which is what is used when you pull coderpad/coderpad) doesn't [support parallel pulls], and is unlikely to feature parallelism (the way it is designed prevents it)"

That causes many of our tests that include timeouts to fail when a test with a small timeout and a small image is blocked on a pull by a l

[2015-02-18 23:27] erictune opened #4567 "Deprecate kubernetes-ro service"
Now that the "secrets" type has been merged, and we have namespaces, I don't think it often makes sense to give blanket readonly access to objects.  So, lets deprecated it.

I don't know that we want to rip it out all in one go.
Nothing is using the `kubernetes-ro` service as far as I can see from searching the codebase, however some customers might depend on it, and maybe openshift does.  For GKE

[2015-02-18 23:27] dchen1107 commented on #4565
Removed team/node from this issue since a separate one #4562 was filed which is marked for node team.

[2015-02-18 23:27] zmerlynn opened #4568 "Implement script to run e2es on multiple GCE clusters in parallel"
Because of `.kubeconfig`, this is straightforward now.

[2015-02-18 23:28] yujuhong commented on #4554
I am not sure who maintains the page. Assigning to @brendandburns to triage.

[2015-02-18 23:51] thockin opened #4571 "No validation for Endpoints"
As far as I can tell, we do not do any input validation for Endpoints objects.

[2015-02-19 00:18] mbforbes commented on #4501
I was looking at this today.

Here's a doc of my quest:
https://docs.google.com/a/google.com/document/d/1UBNp-0_3LV9-3LmsWbRGU7FTyuKCwS9IqiCS4Xqk5LQ/pub

For Googlers, you should be able to directly comment on the doc:
https://docs.google.com/document/d/1UBNp-0_3LV9-3LmsWbRGU7FTyuKCwS9IqiCS4Xqk5LQ/edit#

tl;dr: I _think_ this is because our heavy stock pods (e.g. elasticsearch) are taking so long

[2015-02-19 00:20] derekwaynecarr commented on #4567
OpenShift is most interested in the kubernetes service.  Is that going away on GKE?  I actually plan to use that to support running OpenShift as a pod on Kubernetes.

Sent from my iPhone

[2015-02-19 00:23] lavalamp commented on #4567
I think it is used by third parties-- isn't that the way our SkyDNS pod knows where to get the list of things to populate DNS with?

[2015-02-19 00:51] roberthbailey commented on #4501
That sounds similar to what @alex-mohr raised in #4566.

[2015-02-19 00:54] bgrant0607 commented on #4432
@smarterclayton Yes, the TTLs are/were too long.

[2015-02-19 00:55] bgrant0607 commented on #4432
But making them a lot shorter without doing anything else dramatically reduced the utility of events.

[2015-02-19 00:59] zmerlynn commented on #4566
One of the ways we talked about doing this was adding a script/utility/something that still goes through the product that get all the pulls done, then getting that done before ginkgo-e2e.sh runs, but after cluster turn-up. It becomes then more a matter of up-or-down infrastructure rather than a test.

It's important that it still goes through the product, though - something that results in pulls a

[2015-02-19 01:05] #4519 closed

[2015-02-19 01:14] smarterclayton commented on #4432
Right.

----- Original Message -----

[2015-02-19 01:16] pmorie commented on #4432
Event compression will also help to mitigate uncontrolled growth.
On Wed, Feb 18, 2015 at 8:14 PM Clayton Coleman <notifications@github.com>
wrote:

[2015-02-19 01:18] alex-mohr commented on #4566
FWIW, I think it's important that *a* test go through the usual docker pull -- a test specifically for that -- but all the others can use injected images if that's more reliable.

[2015-02-19 01:46] yujuhong commented on #4500
I kept getting emails about shippable failures...

Below is the snippet of the log that includes @dchen1107's new log messages:
[code]
The host field of the pod was not assigned and the check failed after 30 seconds of polling. This means either the scheduler *didn't* schedule the pod or it *couldn't* schedule the pods due to, say, conflicts.

The pod in question was from `api/examples/controller.

[2015-02-19 01:59] vmarmol commented on #4567
Heapster uses the RO service to get information about running things
On Feb 18, 2015 4:23 PM, "Daniel Smith" <notifications@github.com> wrote:

[2015-02-19 02:13] jasonkuhrt commented on #1702
This sounds amazing. This layer of interaction would provide a huge boost in confidence when trying to "update" resources in Kubernetes.

@ghodss @bgrant0607 How do we know that during the time the user is viewing this diff that the resource has not changed behind his back? Is a locking mechanism required wherein Kubernetes locks the resource while waiting for the diff to be confirmed by the user

[2015-02-19 02:19] saad-ali commented on #2884
Most of the Kubernetes components are, or will be, run in containers managed by Kubernetes. However, for the time being, kubelet, docker, and a few other processes are run on the host machine.
We want these processes to automatically restart if they crash for any reason.

**Option 1:**
Schedule a periodic cron job that kicks off a script that checks to see if the processes we care about are runnin

[2015-02-19 02:20] derekwaynecarr commented on #4432
I collected information on etcd 0.4.6 and etcd 0.5.0 late last year largely focused on memory consumption as it relates to the number of nodes since etcd held everything in memory.

Given an etcd snapshot on disk of the entire data set, it appeared to consume 13x more memory at best when loaded in memory.  There was some variation depending on number of nodes in a directory and number of directori

[2015-02-19 02:35] ghodss commented on #1702
@jasonkuhrt Kube already has `resourceVersion` to handle concurrency - see https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md#concurrency-control-and-consistency. kubectl could record all relevant `resourceVersion` fields and apply the diffs only if the resource hasn't changed. There's a limit to how atomic the diff application can be given lack of multi-row tran

[2015-02-19 02:36] derekwaynecarr commented on #2884
I think for vagrant cloud provider, which is just fedora boxes with systemd, I have a restart policy on etcd now.  I would prefer we do not mandate monit - I disabled it on vagrant based setup since it's redundant to systemd doing it for me.  I will take a pass tomorrow to ensure I have restart policy set on the other unit files.

Sent from my iPhone

[2015-02-19 02:40] jasonkuhrt commented on #1702
@ghodss Cool, so what is your vision for updating or re-presenting diffs when there is some sort of underlying conflict/change?

[2015-02-19 02:42] derekwaynecarr commented on #4542
I will add descriptions tomorrow morning.  I agree it would be good to have a tool remind me to do this in the future :-)

[2015-02-19 02:49] derekwaynecarr commented on #4561
api/$VERSION/namespaces/$NS/pods/$NAME/status for each pod.

Sent from my iPhone

[2015-02-19 02:53] derekwaynecarr commented on #4548
kill api-server, etcd or actual nodes?

Sent from my iPhone

[2015-02-19 02:53] derekwaynecarr commented on #4548
This is why we need to make sure kube-apiserver has a restart policy in systemd unit files if it doesn't already.

Same with etcd.

Sent from my iPhone

[2015-02-19 03:04] mikedanese opened #4578 "Add PATCH verb to apiserver resources"
Currently kubectl has logic to apply partial updates to resources. This responsibility logically seems like it should belong to the CRUD rest server. More concretely, if this responsibility is moved into the apiserver, it would allow clients that use the api directly to benefit from this feature. An obvious interface would be to follow [RFC7368](https://tools.ietf.org/html/rfc7386) and implement r

[2015-02-19 03:28] bgrant0607 commented on #4578
Totally agree in principle. Need to look at the RFC.

See also #2726, #3112, #1459.

cc @smarterclayton

[2015-02-19 03:32] bgrant0607 commented on #4542
There is a presubmit hook and travis check, but at least the latter was broken.

[2015-02-19 03:33] roberthbailey commented on #4328
@abonas did that answer your question? I'm going to assume yes and close this issue but if not please feel free to reopen.

[2015-02-19 03:33] #4328 closed

[2015-02-19 03:45] roberthbailey commented on #4537
update.sh currently uses host ports. If a previous test in the test suite uses the same host ports and doesn't clean up properly, then the pods started in update.sh will never get scheduled. There are a couple of PRs in flight to remove host ports in other tests (which may help the reliability of this test) and I'm going to see if we can also remove them here.

[2015-02-19 03:48] brendandburns commented on #4537
We should almost certainly be able to remove them, by using the proxy on
the apiserver instead.

Thanks!
--brendan

On Wed, Feb 18, 2015 at 7:45 PM, roberthbailey <notifications@github.com>
wrote:

[2015-02-19 03:53] brendandburns commented on #2884
we should validate that we're happy w/ the version of systemd that ships
with debian/wheezy-backports

On Wed, Feb 18, 2015 at 6:37 PM, Derek Carr <notifications@github.com>
wrote:

[2015-02-19 04:11] thockin commented on #4567
DNS uses it.  I sort of like that it is automatically rate limited, but I
also have not looked at the secrets stuff yet.

I will go with the flow, but please don't break DNS.
On Feb 18, 2015 6:00 PM, "Victor Marmol" <notifications@github.com> wrote:

[2015-02-19 04:21] ghodss commented on #1702
I think something very similar to what you outlined: representing the (new) diff and asking the user to reconfirm.

[2015-02-19 04:23] roberthbailey commented on #4537
Roger that. Will investigate in that direction first.

[2015-02-19 04:29] ddysher commented on #4562
Apart from NodeCondition, node status also includes node IPs (currently HostIP, but we need to support more) and node phase.  Who will be responsible to update these status?  I'd like to have a single component does all the status update.

Another issue is what happens during startup or adding new node.  Node controller will register all nodes on startup and create new node.  It's possible that ku

[2015-02-19 04:46] ghodss commented on #1702
Some further thoughts on using null values as "ignore this field when diffing":

It would not work if the API had explicit null values as a possible valid field value. But I think we've already committed to `null` not being a valid value in our API due to JSON patch semantics defined in https://tools.ietf.org/html/rfc7386 (and implemented in #4448) depending on it. So we should probably make that

[2015-02-19 04:53] yujuhong commented on #4542
The pre-commit hook works. That's how I discovered the issue :)

[2015-02-19 05:05] davidopp commented on #4432
If we had some kind of archival tool that sucked the events into longer-term storage then we could set the TTLs lower. We have something like this internally that's pretty simple but effective (it operates on the whole transaction log, but same idea). Of course there is a lower bound on a reasonable TTL; if even a TTL like 1 hour overloads etcd, then futzing with TTL is not the right approach.

As

[2015-02-19 05:51] rajitha-wijayaratne opened #4582 "Pods constantly pending"
Hello,

I have installed the latest kubernetes binaries on CoreOS running on GCE.  The cloud-config is as per instructions on "getting started guides".

After I installed 3 Pods, the state on all were constantly "pending".  I looked around but none of the previous solutions worked.

After messing around a lot for 3 days it turned out to be the following line. I had 3 in pending status now one Pod

[2015-02-19 05:59] davidopp commented on #4528
This is totally the wrong bug to be discussing this, but I'm not sure we should create another bug.

Anyway, one thing that seems to be going on is that (at least in my cluster) etcd seems to keep crashing and getting restarted by monit. /var/log/monit.log looks like this:

[UTC Feb 19 05:17:31] info     : monit: generated unique Monit id 0c489c0ae08f15498e0e67573ba7e33a and stored to '/var/lib/mo

[2015-02-19 06:07] bgrant0607 commented on #4476
#1503 is relevant.

[2015-02-19 06:13] davidopp commented on #4535
Some possibly-related discussion on #4528

[2015-02-19 06:13] brendandburns commented on #4582
Usually this means that you have a scheduling conflict.  What does

```kubectl get events```

print?

My guess is that you have ```hostPort``` set on your pods, and you have more replicas than you have machines, and so some pods can not schedule due to hostPort conflicts.

[2015-02-19 06:14] brendandburns opened #4583 "Scheduler should report why scheduling failed. (aka "why pending?")"
Currently we report that we couldn't find a fit for the pod, but we don't determine which predicate failed.  This makes end-user debugging harder than it needs to be.  We should figure out why things don't fit.

[2015-02-19 06:16] bgrant0607 commented on #4303
Configuration is definitely where we want to go.

We should remove the flag, but announce it on kubernetes-dev. A search doesn't show anyone using it, fwiw.

[2015-02-19 06:24] bgrant0607 commented on #1353
See also rollingupdate-related issues in the [cli roadmap](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/cli-roadmap.md).

[2015-02-19 06:29] bgrant0607 commented on #500
Rolling update is implemented. Rollback is covered by #1353. #503 and #1743 cover related issues. Closing this one as redundant.

[2015-02-19 06:29] #500 closed

[2015-02-19 06:35] bgrant0607 commented on #1820
I doubt this exact symptom still occurs, since we introduced unknown. #1366 is implemented. #2726 is the real solution. Closing as dupe.

[2015-02-19 06:35] #1820 closed

[2015-02-19 06:48] bgrant0607 commented on #2098
Kubelet should also use the apiserver infrastructure.

[2015-02-19 06:59] saad-ali commented on #4089
If for #2884 we end up using systemd to launch kubelet as a systemd service--we will get cgroups for free: see [http://0pointer.de/blog/projects/resources.html](http://0pointer.de/blog/projects/resources.html)

[2015-02-19 07:27] mbforbes commented on #4566
Just my two cents: I think that this point you mentioned,

with `s/util/while/`, is the correct way to fix the tests; pre-pulls and faster pulls will then be optimizations that will speed up the tests. The correctness of a test shouldn't depend on the quickness of a pull, I think.

I'll be doing this in #4501, so if that sounds good then we can assign this to me, then create separate issues for th

[2015-02-19 07:32] jlowdermilk commented on #4428
@ghodss, I can appreciate the arguments for keeping merged kubeconfig, but I disagree that merging is essential functionality. I've been thinking about this, and IMHO, kubeconfig shouldn't try to emulate gitconfig or bashrc, because the latter are both more about saving and merging local preferences, whereas kubeconfig is really just a way to package client credentials for talking to remote servic

[2015-02-19 07:41] bgrant0607 commented on #4259
@brendandburns @thockin

I submitted the application. I created a github label for the project idea list:
https://github.com/GoogleCloudPlatform/kubernetes/labels/kind%2Fgsoc

If you have ideas for projects, file an issue and add the label or, if you can't, mention the issue here and I'll add the label.

[2015-02-19 07:44] rajitha-wijayaratne commented on #4582
The event dump as follows.

FIRSTSEEN                         LASTSEEN                          COUNT               NAME                KIND                SUBOBJECT           REASON              SOURCE              MESSAGE
Wed, 18 Feb 2015 13:29:28 +0000   Wed, 18 Feb 2015 13:29:28 +0000   1                   log-collector       Pod                                     scheduled           {schedul

[2015-02-19 07:45] satnam6502 commented on #4428
My brain is far too small for this. I am going to alias every kube* command to `rm -rf .kubeconfig; command; rm -rf .kubeconfig` which is probably the only way I can remain sane. I don't want the identity of a cluster to be defined by overrides over dot files which to me seems like madness (but note my small brain comment, perhaps you guys have brains the size of Jupiter so it is fine for you). I

[2015-02-19 08:04] davidopp commented on #3852
When I bring up an e2e cluster (i.e.  go run hack/e2e.go --up), without even running any of the e2e tests against it, it appears that monit is repeatedly killing and restarting etcd:

davidopp@e2e-test-davidopp-master:~$ more /var/log/monit.log
[UTC Feb 19 07:39:16] info     : monit: generated unique Monit id 1540c2008045e91d127485b47f17f66e and stored to '/var/lib/monit/id'
[UTC Feb 19 07:39:16]

[2015-02-19 08:36] satnam6502 commented on #4582
So it looks like you are trying to get node level logging up using Flunetd -> Elasticsearch? Let me know if there is something I can do to help. satnam@google.com

[2015-02-19 08:42] rajitha-wijayaratne commented on #4582
satnam,

I will contact you if I have any questions with Flunetd -> Elasticsearch.

Much appreciated.

[2015-02-19 08:57] gmarek-google commented on #4528
It may be possible that it's not causing more visible problems because once every 2 minutes is not very often. My interpretation of the fact that I see this kind of errors only when running things in parallel is that in normal circumstances there's pretty low probability of having a API call in flight when etcd restarts, but when there's 50 of them it gets probable enough (especially because on si

[2015-02-19 09:25] stefwalter commented on #4527
Makes sense.

@lavalamp For what it's worth, even when using a valid resourceVersion, I still get this message:

[code]

[2015-02-19 09:38] TomasTomecek commented on #4476
@smarterclayton Not sure what you mean with point 2) where do resources have stored data?

@thockin I agree with your first point (and am a bit sad after reading second point). In my case, the results are in tenths of kilobytes at most.

I guess then my use case doesn't fit into kubernetes philosophy. Now. It would be nice if you could leave this open in case something's gonna change in future.

[2015-02-19 09:59] wojtek-t commented on #4119
OK - I will create and experiment with some cache.

[2015-02-19 11:05] fgrzadkowski commented on #4562
This seems like a nice, self-contained task. If nobody is working on changing kubelet I'm happy to work on this.

[2015-02-19 11:10] gmarek-google commented on #3852
I think this particular problem is caused by firewall settings.
[code]

[2015-02-19 12:32] rsokolowski commented on #4414
I've synced my workspace to HEAD and applied @brendandburns patch  #4494 and it still doesn't seem to fix the problem. I've added quite a lot of debug printing around the HashContainer function and exactly when the issue happens (death of a container due to hash mismatch) I see two calls to that function with the same container and different output hash:
I0218 13:55:55.782519   19728 docker.go:573

[2015-02-19 12:36] gmarek-google commented on #4528
Davids point was a good one. AFAICT PR #4587 fixes this problem, and thus it's possible that it'll help with other flakiness as well.

[2015-02-19 12:54] gmarek-google commented on #4521
Rephrasing my previous comment: ```get rc``` running time is far from constant. From <1sec in empty cluster to >15 sec when there's 50 RCs running, and minutes when multiple '''stop rc''' are under way (easily reproducible).

We should agree on some golden master/node configuration. I think it's kind of important, as if we assume that master will be running on single thread, the architecture may b

[2015-02-19 13:04] kbeecher commented on #3050
Would this be a suitable task for someone new to k8s development? If so, I'd be willing to take a look at this, if someone could provide a couple of hints where to start.

[2015-02-19 14:55] rsokolowski commented on #4414
Ok, I think I can finally confirm that the issue is due to non deterministic printing behavior of following construct:
spew.Fprintf(hash, "%#v", *container)
that is used in https://github.com/GoogleCloudPlatform/kubernetes/blob/af2ded7b0286dfa7ab5a243aa2b200582f24581c/pkg/util/hash.go#L28:
func DeepHashObject(hasher hash.Hash, objectToWrite interface{}) {
	spew.Fprintf(hasher, "%#v", objectToWrite

[2015-02-19 14:58] wojtek-t commented on #4119
I implemented something very simple and experimented a little bit with that.

Before the change, it took ~45-60 seconds for a Kubelet to be aware of all the Pods that it needs to start (node that all of them are pending (i.e. bound) after ~5 seconds). The main blocker for it was exactly the call to GetKubeletDockerContainers.
With my very simple cache, this time is reduced to ~10-15 seconds (i.e.

[2015-02-19 15:20] #4555 closed

[2015-02-19 15:34] justinsb commented on #4384
@ddysher did you start a PR?  This is blocking me now, so I'd love to figure out what's happening and help if I can.

[2015-02-19 15:35] kbeecher commented on #3050
Further to my last message, I have a functional work in progress I would like to share, if anyone is interested?

[2015-02-19 15:40] sunyal opened #4593 "Repo renamed to kubernetes_copy"
Is there a reason that the project was renamed to kubernetes_copy?

[2015-02-19 15:41] sunyal opened #4594 "http://kubernetes.io/ responds with 404"
The website no longer works and responds with 404.  Could this be related to the kubernetes_copy repo name change?

[2015-02-19 15:43] vmarmol commented on #4594
This is most likely due to the rename. Our domain forwarding records are
broken.
On Feb 19, 2015 7:41 AM, "sunyal" <notifications@github.com> wrote:

[2015-02-19 15:44] errordeveloper commented on #4414
Great findings!

On Thu, 19 Feb 2015 14:55 rsokolowski <notifications@github.com> wrote:

[2015-02-19 15:51] smarterclayton commented on #4414
Are we using the fuzzer to test the hasher?  Would be a good way to verify the hasher.

[2015-02-19 15:53] gmarek commented on #4594
Sorry for that. I did that by mistake when trying to merge my accounts.

[2015-02-19 15:53] #4594 closed

[2015-02-19 15:59] zmerlynn opened #4596 "Parallel racing `kube-up` very confused, can't maintain context"
This is an offshoot of #4568. cc @jlowdermilk

Here's a log from a single `kube-up` showing that it's getting it's context screwed over by the other clusters coming up at the same time, even those its local environment never changed:
[code]

Here's the relevant part of the new script:
[code]

(`KUBE_GCE_CLUSTER_CLASS_B` is in a separate commit and allows the override of `10.24{4,5}` on the GCE `co

[2015-02-19 16:18] gmarek commented on #4196
I looked at contention profiles but found nothing interesting.

[2015-02-19 16:18] gmarek commented on #4593
Nope, my mistake

[2015-02-19 16:18] #4593 closed

[2015-02-19 16:21] erictune commented on #3050
PRs are welcome.  See https://github.com/GoogleCloudPlatform/kubernetes/blob/master/CONTRIBUTING.md

[2015-02-19 16:33] smarterclayton commented on #4476
It is not unreasonable that certain types of Kube resources persist medium to large size data for end users.  Secrets are an example of this, as well as potentially a Kube resource that exposes a simple key value passthrough to Etcd for the purpose of storing config or other small reusable bits in a cluster.  However, those are very targeted use cases, and it's up to each resource type to decide w

[2015-02-19 16:37] smarterclayton commented on #4432
----- Original Message -----

I think our intention over time is to suck both events and the full transaction log into two distinct stores - the former into one designed for high volume search, and the latter into a structured one that allows historical retrieval of older versions.  When etcd acquires the ability to control which versions remain in the cluster (for retrieval) we would probably lea

[2015-02-19 16:40] erictune commented on #4476
FWIW, "secrets" was just merged and it could be abused to do this.
We can provide per-namespace quotas on the number and total size of such
objects, and let cluster admins set things how they want.

On Thu, Feb 19, 2015 at 8:33 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-02-19 16:43] erictune commented on #4562
fine with me.

On Thu, Feb 19, 2015 at 3:06 AM, fgrzadkowski <notifications@github.com>
wrote:

[2015-02-19 16:49] sunyal commented on #4594
I am still receiving the 404 response code for http://kubernetes.io  Is this going to take time to propagate out?

[2015-02-19 16:51] vmarmol commented on #4521
As per @gmarek's comment it seems reasonable to provide a minimum spec of X cores for our SLO of Y. It does seem unreasonable to expect a single core machine to run 50 pods (of any size) in a timely manner.

[2015-02-19 16:53] brendandburns commented on #3050
Yes, this is a reasonable place to start.  Since its in the client, you
won't get much orientation to the core server code, but it will be a good
place to orient to the client side API.

There us also prior art that you can model off of.  The kubectl create ...
command already supports multiple resources.

A good command to adapter would be the 'label' command.  You can find it in
pkg/kubectl/cmd/

[2015-02-19 16:53] vmarmol commented on #4594
Looks like http://googlecloudplatform.github.io/kubernetes is also down.
Let me try to do a push.

On Thu, Feb 19, 2015 at 8:49 AM, sunyal <notifications@github.com> wrote:

[2015-02-19 16:54] pmorie commented on #560
Had a good chat w/ @sdminonne and @EricMountain-1A this morning.  Dario is going to prototype a new docker image for the sidecar container that will accept parameters for:

1.  The pod name and namespace
2.  A target directory to project information into
3.  Flags for which info to project (initially it will just support labels)

Example:

    project-pod-info --name=<pod name> --namespace=<pod na

[2015-02-19 16:55] vmarmol commented on #4594
Looks like the gh_pages branch was deleted by whatever change was done :-\

On Thu, Feb 19, 2015 at 8:52 AM, Victor Marmol <vmarmol@google.com> wrote:

[2015-02-19 16:56] brendandburns commented on #4414
Thanks for digging so deep on this!

Yeah we should add hash validation to the fuzzer tests...

I'll file an issue.
Brendan
On Feb 19, 2015 7:51 AM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-02-19 16:58] brendandburns opened #4599 "use fuzzer to test our hash function."
Recently in #4414 someone saw pods cycling.  The underlying issue appears to be nondeterminism in our hash function.

We should use the fuzzer to generate random input and validate consistent hash hits and misses.

[2015-02-19 17:00] brendandburns commented on #4414
The right answer here might be a more targeted hash function that wipes out
fields that we dont care about for the purpose of hashing...
On Feb 19, 2015 8:56 AM, "Brendan Burns" <bburns@google.com> wrote:

[2015-02-19 17:00] vmarmol commented on #4594
Forced a push, site is back. Thanks for reporting!

On Thu, Feb 19, 2015 at 8:55 AM, Victor Marmol <vmarmol@google.com> wrote:

[2015-02-19 17:03] erictune commented on #4428
I tend to agree with @ghodss.

Like a .git directory, a .kubeconfig is about both preferences and credentials.  (it has a preferences section)

I think there were a few rough edges here that contributed to the frustration, and those edges are pretty easily fixed without throwing away the power of merging.
  - IIUC, the intent was for the current-context of the local .kubeconfig to trump higher one

[2015-02-19 17:09] satnam6502 commented on #4521
When I was last doing experiments I used n n1-highmem-16 master and I also tried a n1-highcpu-16 master but still ran into lots of issues -- perhaps because our API server needs to be (more?) multi-threaded?

[2015-02-19 17:18] erictune commented on #4567
@derekwaynecarr @lavalamp @thockin @vmarmol
We aren't going to break the existing use cases.  They will be grandfathered in until we have the ability to automatically distribute credentials to pods.  Then each existing use case will be lovingly and tenderly migrated to the `kubernetes` service.

@thockin
yes rate limiting is nice.  we should have it for the `kubernetes` service.

[2015-02-19 17:19] erictune commented on #4567
@derekwaynecarr
no, GKE does not want to get rid of `kubernetes` service.  It wants to get rid of the insecure endpoint on the apiserver.

[2015-02-19 17:24] pmorie opened #4602 "Kubelet secret volume plugin should store data in tmpfs"
Per #4126 the kubelet secret volume plugin should store data in a tmpfs.  In feedback on #4126, @erictune raised the question of whether the secret volume plugin or the kubelet should handle creating the tmpfs.

Personally I had been in favor of having the kubelet create this and share it via a new method on the `kubelet/volume.Host` interface, like so:

[code]

My reasoning was that the kubelet w

[2015-02-19 17:25] pmorie commented on #4602
@erictune @smarterclayton @EricMountain-1A @csrwng any thoughts?

[2015-02-19 17:27] timothysc commented on #3671
I think we may have unwittingly bumped into an ENV injection issue when submitting the old examples that are using v1beta1.  We see the e2e tests passing but they explicitly set the namespace.

Have folks checked if previous examples submitted via the old api indeed are put into the "default" namespace,  and are resolved by the kubelet?  Currently it looks like there are no vars injected and my su

[2015-02-19 17:32] erictune commented on #4602
I now agree with you @pmorie

The kubelet might also want to use a /tmpfs for other volume types, such as an all-memory /emptydir.
I think we may end up with three or more directories in the mid-to-long term: local disk, flash with filesystem, and tmpfs.  One of each.

Since the volume plugin uses a prefix to its path, then sharing should work fine.

I think for now, the cluster operators don't ne

[2015-02-19 17:39] vishh commented on #4089
Thats true. I will be interested in how we end up partitioning the system
resources after switching to systemd.

On Wed, Feb 18, 2015 at 10:59 PM, Saad Ali <notifications@github.com> wrote:

[2015-02-19 17:50] jlowdermilk commented on #4596
I think this can be resolved by having kube-up.sh set the context by exporting KUBECONFIG, so a subsequent run doesn't overwrite it.

[2015-02-19 18:04] vmarmol opened #4604 "Instrument Kubelet for monitoring"
There are a few areas of the Kubelet that we should instrument to allow us to monitor them for v1. This will also be very useful to measure and meet our scalability goals.

* Pod startup latency histogram (from sync to running)
* Run container histogram
* Image pull histogram
* Current tasks counter
* Restarts per task counter

We should use Prometheus metrics as the master has started to use them

[2015-02-19 18:09] ddysher commented on #4384
@justinsb I've started a PR #4434.  I'll speed up the process.

[2015-02-19 18:11] pmorie commented on #4602
@erictune ack, I will name this tmpfsRootDir in the kubelet for now.  Thinking through changes to the Host interface, do we need a new set of methods scoped to the tmpfs, like so?

[code]

[2015-02-19 18:26] vmarmol commented on #4119
Thanks for the running those experiments @wojtek-t. This is looking like a promising first step :)

I agree we need to examine our startup goals. If we need to download a Docker image, that itself will take a while and will dominate all other aspects. The Docker container startup itself is also time consuming. I measured ~250ms startup time from a scratch image (which should be a best-case). With

[2015-02-19 18:26] #4540 closed

[2015-02-19 18:29] lavalamp commented on #4521
OK, I see we don't actually use GOMAXPROCS outside of our tests. I'm making a PR to add that in, so at least we'll use more cores if we have them.

[2015-02-19 18:39] uruddarraju opened #4607 "Vagrant provider kubectl proxy service returning 404"
I have been following the instructions here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/ui.md to try to explore the kube UI.

by executing:
```cluster/kubectl.sh proxy -www=$PWD/www```

I get the following which shows it successfully started:
[code]

When I try to access the page ```http://localhost:8001/```

I get a 404: ```404 page not found```

[2015-02-19 18:40] dchen1107 commented on #4604
Also see #1625 for more discussion

[2015-02-19 18:42] vmarmol commented on #4604
We'll use this issue for the node components of that umbrella issue.

[2015-02-19 18:44] sunyal commented on #4594
Great!  Thanks.

[2015-02-19 19:07] ddysher opened #4610 "Re-created nodes are not provisioned"
I have four nodes in my GCE cluster
[code]
Delete the first two from GCE console, after a while, they are re-created by MIG.  nodecontroller picks it up and re-created them in k8s, but they remain NotReady, which means kubelet is not responding.
[code]

NotReady node is not useful.  Reference PR #4164

@fbalejko @cjcullen

[2015-02-19 19:20] tkulczynski commented on #4610
Yes, I agree all the features of MIG are not yet usable for K8s clusters.
I'll work towards fully supporting resizes (and node recreations). For now note there are two things still done instance by instance in the kube-up command: setting ip-range metadata and creating routes (routes persist recreations, if the new node has the same name the previous one had, but metadata is always lost). I'm plan

[2015-02-19 19:24] pmorie commented on #4602
@erictune A couple more questions I thought of:

1.  What happens in a tmpfs is already mounted at the tmpfsRootDir?  Should we unmount it?  Go down in flames?
2.  Should all of the get*Dir methods in the kubelet have tmpfs variants?

[2015-02-19 19:32] yujuhong commented on #4607
@uruddarraju, could you try running `cluster/kubectl.sh proxy --www=$PWD/www`?

I believe `-www` is a typo of `--www`

[2015-02-19 19:35] yujuhong commented on #4607
Also, try accessing `http://localhost:8001/static` instead.

[2015-02-19 19:45] #4607 closed

[2015-02-19 19:57] thockin commented on #4119
What does cadvisor do that this cache can't?  I.e. why is it going to be
"more stale" ?

As for knowing whether we already know a pod or not, could we (eventually)
do something like the below?  It's probably too large to do as a first
step...

// Track all running per-pod goroutines
var knownPods map[UID]chan api.Pod

func SyncPods(...) {
    for each pod in configs {
        if mgr, exists := kno

[2015-02-19 19:58] ghodss commented on #4428
current-context is in fact a preference and therefore is exactly the kind of thing that should follow inheritance rules. And in yum, the extra files inject new repos into the config, which is what I would like to accomplish by crawling for files.

However, your point is well taken that we may have conflated two purposes in trying to use kubeconfig as both a preferences store and a credentials stor

[2015-02-19 20:00] smarterclayton commented on #4428
I'm on the Eric / Sam side of the fence here, in that done right (and clearly) will allow me to have common prefs across all clusters, but separate config for the right use cases.

I think an important use case is going to be tying a git repo to a particular KUBECONFIG - that might not require multiple files, but it will require the user to think about Git (and the Git repo they are in) as a "laye

[2015-02-19 20:02] smarterclayton commented on #4428
I don't know... This didn't sound less complex :)

[2015-02-19 20:12] uruddarraju commented on #4522
I don't see this happening now. Will close this for now and will re-open if I see this again. Thanks for the support

[2015-02-19 20:12] #4522 closed

[2015-02-19 20:14] pires opened #4614 "Pod containers with no environment variables set"
Possibly related to #4415

Since 0.10.1 - and just confirmed with 0.11.0 - containers from pods do not have any Kubernetes related env vars set.
[code]

@sub-mod is facing the same issue and we both can confirm that 0.9.x works well.

[2015-02-19 20:16] uruddarraju commented on #4607
thanks

[2015-02-19 20:26] brendandburns commented on #4614
Ok, we've had multiple reports of this.  I don't really understand what is going on, but clearly there is an issue.  I'm pretty positive that the problem is stemming from:

https://github.com/GoogleCloudPlatform/kubernetes/pull/4359

But I don't fully understand why.

I will dig in and see if we can figure it out, and possibly revert that PR if necessary.

Does this happen for all pods?  Or just s

[2015-02-19 20:27] brendandburns commented on #4614
Also, can you check the kubelet log for errors?

Thanks
--brendan

[2015-02-19 20:30] brendandburns commented on #4614
Also, can you try hitting the DNS address for the service and see if it is there?

Thanks
--brendan

[2015-02-19 20:35] brendandburns commented on #4614
Ok, I think I see the problem.  I'm betting you don't have ```--api_servers``` set on your kubelet.

This used to be semi-optional and we deferred back to etcd, but now it is pretty much required in the kubernetes environment.

Can you try setting ```--api_servers=<ip>:<port>``` where <ip>:<port> is your master?

I bet that fixes it.

I'll do a PR to make that more obvious and scream more.

[2015-02-19 20:36] sub-mod commented on #4614
@brendanburns  It happens to all pods as of now.I have only tried guestbook + a simplecontroller+service example
no errors in kubelet log , bit it complains abt not finding apiserver
so may be u are correct , let me check

[2015-02-19 20:36] thockin commented on #4614
I turned up a cluster from head just now, and I can 'docker inspect' the
kube2sky container and see service env vars

On Thu, Feb 19, 2015 at 12:31 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-02-19 20:42] sub-mod commented on #4614
--api_servers=<ip>:<port>
solved the issue
Thanks @brendanburns  :)

[2015-02-19 21:02] dchen1107 commented on #4614
@thockin what is your cloud provider? I think it hurts the clusters on non-gce provider.

cc/ @ArtfulCoder This might be the problem you hit to test etcd docker image on vagrant?

[2015-02-19 21:06] erictune opened #4615 "Rename `.kube/.kubeconfig` to `.kube/kubeconfig` or `.kube/config`"
By analogy to `.git/config`.

I expect a config directory to be hidden, but not the files inside it.

@dead2k what do you think?

[2015-02-19 21:16] lavalamp commented on #4615
+1

[2015-02-19 21:38] dchen1107 commented on #2884
cc/ @filbranden Filipe, you helped one of our summer interns last year to play with systemd for our internally system, do you have result published somewhere? Also we might have to change startup scripts for our containerVM image for GKE.

[2015-02-19 21:45] pires commented on #4614
Ah, so ```--etcd_servers=``` is gone from 0.10.x onwards, is it?

[2015-02-19 21:46] pires commented on #4614
/cc @jasonkuhrt @AntonioMeireles

[2015-02-19 21:52] thockin commented on #4476
Trying to be more helpful :)

Storing results is really an app problem, better suited to storage than the
core API objects.  That said, we offer something you might find useful:
 termination messages.  Look at this JSON

[code]

When I run that pod it arrives in the "succeeded" status.  Now if I
`kubectl get -o json pod thockin-term-msg` I see:

[code]

more precisely:

[code]

Now you can run you

[2015-02-19 21:53] thockin commented on #4593
to reduce this sort of error I have a git alias for push which is "po" -
push origin.  That way I never accidentally type "push upstream"

On Thu, Feb 19, 2015 at 8:19 AM, gmarek <notifications@github.com> wrote:

[2015-02-19 21:57] bgrant0607 commented on #4593
I have never typed "push upstream". The set of people who need to do that is small.

[2015-02-19 21:58] thockin opened #4620 "Cluster services need a common label"
As per https://github.com/GoogleCloudPlatform/kubernetes/pull/4417#discussion_r24957829 we should add a common label to all of our add-on pods: DNS, logging, monitoring, etc.

The proposal is to add "kubernetes.io/cluster-service": "true" for now.

@vishh @satnam6502

[2015-02-19 22:01] jlowdermilk commented on #4596
After some digging with @zmerlynn, it's a bit trickier than I thought. If we want to be able to run kube-up in parallel from the same branch/working directory, `kube-up.sh` needs to create a separate kubeconfig for each run. But we also want kube-up to set config such that you can immediately run `cluster/kubectl.sh` against the created cluster. Probably best to defer until #4428 is resolved.

[2015-02-19 22:13] thockin commented on #4620
FWIW "true" has to be quoted in YAML

[2015-02-19 22:14] erictune opened #4623 "Kubelet to fail pods that have hostPort conflicts, etc"
Although the scheduler tries not to coschedule pods with hostPort conflicts, there could still be a conflict:
  1. once #4619 goes in, the kubelet could still maybe get pods with conflict.
  1. file based pods could conflict with apiserver-based pods.

Right now, kubelet can detect a conflict, via the code in syncLoop, in pkg/kubelet/kubelet.go, where it calls filterHostPortConflicts().    However

[2015-02-19 22:14] erictune commented on #4623
This would be a good project for someone who wants to get started in kubelet.

[2015-02-19 22:17] erictune commented on #4623
You could e2e test this as follows.  Create a pod in the API that requests the same hostPort as is already used by the file-based cadvisor container.  The pod should fail and there should be an appropriate reason.

[2015-02-19 22:17] erictune commented on #4623
@dchen1107 we just talked about this.

[2015-02-19 22:21] brendandburns commented on #4614
deprecated, but not removed, afaik.

(and yes, we should have probably just straight-up removed it)

--brendan

On Thu, Feb 19, 2015 at 1:46 PM, Paulo Pires <notifications@github.com>
wrote:

[2015-02-19 22:34] pires commented on #4614
OK, it works. Going to try it in my test-cluster as well and in case it works will update CoreOS related doc.

[2015-02-19 22:36] vmarmol commented on #4119
@thockin the cache is getting the information straight from Docker (which has higher latency) and holding the data for some time window. The result you get will be as old as that time window. cAdvisor observes the state straight from the kernel and is informed of changes within milliseconds of their occurrence. Thus that time window is much smaller. Given a small enough time window the advantage d

[2015-02-19 22:38] erictune commented on #4623
in future we might use this to fail due to out of resources, or other setup errors.

[2015-02-19 22:38] thockin opened #4628 "Loosen label and annotation validation and related tests"
From #4486

Proposed:
* label values: restrict to [A-Za-z0-9_-.]*

* annotation values: no restriction

* qualified names (label and annotation keys, resource names, volume plugins): loosen restrictions to ([A-Za-z0-9_-.]+/)?[A-Za-z0-9_-.]+ - this should be a strict superset of
what we allow today.  We can say that convention is to use dns-compatible
domain + label, but still allow things like FOO

[2015-02-19 22:42] thockin commented on #4623
Might need some way to poison the node from future scheduling decisions - tricky.

[2015-02-19 22:44] smarterclayton commented on #4628
Yes on the freedom question.  I assume we will spec case-sensitivity?

----- Original Message -----

[2015-02-19 22:46] thockin commented on #4119
Can't you bundles the cadvisor "watch the kernel" logic into a reusable pkg?

On Thu, Feb 19, 2015 at 2:37 PM, Victor Marmol <notifications@github.com>
wrote:

[2015-02-19 22:46] thockin commented on #4628
You mean "yes, it is case sensitive"?  Yes, sure.

On Thu, Feb 19, 2015 at 2:45 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-02-19 22:59] bgrant0607 commented on #4628
Thanks. Yes, I'm happy with this.

Do we auto-lowercase label keys today?

[2015-02-19 23:00] smarterclayton commented on #4628
We do not, we fail validation (in master at right now)

----- Original Message -----

[2015-02-19 23:05] yujuhong commented on #4615
cc @deads2k

[2015-02-19 23:08] davidopp commented on #4535
This seems to have been fixed by #4587, as there are no recent failures. There are still a bunch of flaky e2e tests though, so that was not the only cause of flakiness. Re-open this issue if the problem recurs.

[2015-02-19 23:10] thockin commented on #4615
+1

On Thu, Feb 19, 2015 at 1:16 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-02-19 23:11] zmerlynn opened #4630 "Need an API call for "teardown all external resources""
See #4627 / #4530: These are both the wrong approach, as also noted in https://github.com/GoogleCloudPlatform/kubernetes/issues/4411#issuecomment-74209939. We need to delete these things on the master, prior to deleting the VM itself. For system add-ons, this is basically the API hook necessary for #3579 cleanup, but it's also required for any user services that were created as well.

[2015-02-19 23:13] thockin commented on #2884
Is it really possible to adopt systemd "just a little" without retooling
the whole distro?

On Thu, Feb 19, 2015 at 1:38 PM, Dawn Chen <notifications@github.com> wrote:

[2015-02-19 23:15] zmerlynn commented on #4630
cc @roberthbailey @jlowdermilk

[2015-02-19 23:22] thockin commented on #4259
Top of my head:

JobController and tooling

Kubelet work (goroutine per pod or other large reworks)

kube-proxy as pure iptables

more complex demo apps

I have an intern this summer too, so the same list applies there :)

Performance and de-pessimization

Make DNS work from the node

service pre-declaration (if we can come to agreement on it :)

using docker stuff - ulimits, extra GIDs

new docke

[2015-02-19 23:22] vmarmol commented on #4119
I mean we can package all of cAdvisor and run it inside Kubelet :) I'm exaggerating a bit, but I just mean that at some point we have a clear separation of responsibilities. We'll need to decide where that is. That's probably out of scope for this issue though.

[2015-02-19 23:26] vmarmol commented on #2884
We should also ensure that we can do the sub-cgroup management we were thinking of doing with systemd (I *think* we can, but we need to make sure). The whole "cgroups under" discussion has been around systemd not managing the cgroups.

[2015-02-19 23:27] quinton-hoole-google commented on #4628
Yes, I'm reasonably happy with that, from my as yet limited perspective. My personal preference would be to ultimately support both hierarchical names and hierarchical namespaces, somehow  (e.g. something like "subdept.dept.acme.com/workgroup/product/user/resource" means (subdept.dept.acme.com, workgroup/product/user/resource), as this makes for convenient ACL's and the like.  So I support your "W

[2015-02-19 23:32] thockin commented on #4628
I'm not sure we want to zoom in to do ACLs or things on segments of the
name, but it's plausible anyway.

On Thu, Feb 19, 2015 at 3:27 PM, Quinton Hoole <notifications@github.com>
wrote:

[2015-02-19 23:32] vishh commented on #2884
@vmarmol: By manipulating systemd 'services' and 'slices' won't we be able
to achieve our "cgroups under" goals?

On Thu, Feb 19, 2015 at 3:26 PM, Victor Marmol <notifications@github.com>
wrote:

[2015-02-19 23:33] davidopp commented on #3852
#4587 actually didn't fix the problem. Here's the monit.log:

[UTC Feb 19 23:22:25] info     : monit: generated unique Monit id fbbda12a42c24d5f59eaef6e63002ed2 and stored to '/var/lib/monit/id'
[UTC Feb 19 23:22:25] info     : Starting monit daemon
[UTC Feb 19 23:22:25] error    : State file '/var/lib/monit/state': Unable to read magic
[UTC Feb 19 23:22:25] info     : 'system_e2e-test-davidopp-ma

[2015-02-19 23:33] thockin commented on #4119
It just seems potentially useful to have a package that says "I know how to
tell you about containers without traversing Docker's crazy-slow API".

On Thu, Feb 19, 2015 at 3:23 PM, Victor Marmol <notifications@github.com>
wrote:

[2015-02-19 23:34] davidopp commented on #3852
The reason the fix didn't work is that it hard-codes the hostname as kubernetes-master but the hostname may actually be anything. For example, in e2e test the master hostname is e2e-test-${USER}-master

[2015-02-19 23:43] vmarmol commented on #2884
In theory yes, in practice we've run into trouble since they didn't allow slices under slices or something along those lines. I don't know details :) but when we tried some months ago we ran into trouble. Just want to make sure those don't affect us if we go that route.

[2015-02-19 23:46] pmorie commented on #4623
+1 to this, do want
On Thu, Feb 19, 2015 at 5:42 PM Tim Hockin <notifications@github.com> wrote:

[2015-02-19 23:53] bgrant0607 commented on #4259
JobController and replacing proxy with iptables are good ideas. I think the project needs to be better defined than most of the other things -- it's not quite the same as an intern, IIUC. Maybe "parallelize kubelet and/or apiserver" could work.

[2015-02-19 23:57] dchen1107 commented on #2884
@thockin Yes, that is what I want to figure out with Filipe. @vmarmol and @vishh, I don't think we want systemd to manage the cgroups at least for now. Let's continue moving the discussion of "cgroups under" with docker / libcontainer.

On this very topic, I personally prefer have a simple loop.sh(s) which start docker daemons and kubelet. We are managing our internal system like this for years wi

[2015-02-20 00:03] mbforbes commented on #4501
Just as an update, doing this in `hack/e2e.go` but requiring utils from `e2e` package which breaks because of flags, refactoring is a mess because of other helpers using cross-file globals for test settings. So, this is "done" but requires more pluming to be PR-able. WIP...

[2015-02-20 00:04] vmarmol commented on #2884
+1 to @dchen1107's suggestion, having to do the install/setup for systemd/S6 may be more trouble than we want today.

[2015-02-20 00:12] jameskyle opened #4633 "vagrant ssh {master,minion-1} does not work"
The Vagrantfile requires that ENV['KUBE_TEMP'] is set. If it is not, any vagrant command will fail as the file cannot be parsed. The error received is:

    There are errors in the configuration of this machine. Please fix
    the following errors and try again:

    shell provisioner:
    * `path` for shell provisioner does not exist on the host system: /master-start.sh

This is contrary to the s

[2015-02-20 00:14] zmerlynn commented on #4501
Can't you do this entirely in shell, in hack/e2e-internal/e2e-status.sh?

On Thu, Feb 19, 2015 at 4:04 PM, Maxwell Forbes <notifications@github.com>
wrote:

[2015-02-20 00:22] bgrant0607 commented on #1702
Sorry, in catch-up mode. Will quickly point out #4578.

Will read and comment on the rest soon.

[2015-02-20 00:26] jameskyle commented on #4633
Looking at the scripts, this temp directory is set on script run and cleaned up on EXIT by a trap.

I've wrapped a conditional around the provision statement which allows the other commands to work, but outputs a warning that the vm will not have a provisioner set.

Pull req incoming.

[2015-02-20 00:27] thockin opened #4634 "UX: need a start-time for things like 'get pods'"
Docker's "started: about an hour ago" UX is pretty nice.  We are sorely lacking any indicator of age when we do things like "get pods"

[2015-02-20 00:30] erictune commented on #4623
@thockin
there are two cases:
  1. two schedulers racing to start a pod on the same node
    - one pod will get the the node first,
    - the second will be kicked off by the kubelet
    - the rc for the second pod makes a new pod
    - there should not be a race the second time because all the schedulers know about the first pod now.
  1. file pod versus apiserver pod on the same node.
    - once

[2015-02-20 00:33] thockin commented on #4623
Oh, I thought this was getting rid of HostPort conflict checking entirely?
Is that ALSO happening somewhere else?

On Thu, Feb 19, 2015 at 4:30 PM, Eric Tune <notifications@github.com> wrote:

[2015-02-20 01:03] bgrant0607 commented on #1702
@ghodss

It makes more sense to me, is more consistent with patch (whether client-side or server-side), and is more compatible with current Go and apiserver default behavior, to require the user to explicitly specify the fields they want to diff/patch, rather than ones they want to ignore (assuming we want to avoid tracking that explicitly, at least for now). One major problem with the latter is t

[2015-02-20 01:09] bgrant0607 commented on #1702
Note that diff would still be useful, regardless (which I think of as update --dry-run).

Something else we could do here is provide a way to declare instructions to kubectl re. the desired update behavior, so that the user doesn't have to specify on the command line whether to clobber, patch, or rollingupdate. Of course, it should be possible to override those defaults on the command line.

[2015-02-20 01:10] vmarmol commented on #3067
Small update as I start on this, we will update the OOM score of the POD container after it starts but before the other containers are started. We ensure the other containers aren't doing any heave work before we're ready and if the POD container dies before we start the other containers, we can catch it. This will be robust enough where we don't need pre-hooks.

[2015-02-20 01:27] ghodss commented on #4578
One note is that the only way this works in apiserver is first converting the server-side object to JSON, applying the JSON patch, and then converting the object back to the native API type. In other words, you can't convert the patch to a versioned API Go object first and then try to do the merge that way. If you try, you lose two important pieces of information: you lose fields that are omitted

[2015-02-20 01:32] satnam6502 opened #4639 "kube-down failed to delete cluster"
[code]

[2015-02-20 01:38] satnam6502 commented on #4639
This is probably because I am using a branch where I have forgotten to sync to HEAD recently so the MIG change has not been picked up.

[2015-02-20 01:39] #4639 closed

[2015-02-20 01:47] derekwaynecarr opened #4640 "Feature request: add ability to view logs of pod in failed state"
While working to build applications on Kubernetes, I found it difficult to view the logs of a container that went into a failed state.  I had to SSH into the node, docker ps -a, and docker logs to see the root cause.  We should provide a mechanism via kubelet to view logs of containers not yet garbage collected for access via kubectl to improve developer productivity.

/cc @smarterclayton

[2015-02-20 01:47] ghodss commented on #3112
As mentioned, PUT should not accept partial updates - PATCH should, and the issue for that is #4578.

This is documented in [api-conventions.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md): "Otherwise, PUT expects the whole object to be specified." Where else does it need to be documented?

[2015-02-20 01:49] ghodss commented on #1459
What is the rationale for using dot approach and not just the Google+ API method exactly?

[2015-02-20 01:57] derekwaynecarr commented on #4633
Cc me on your PR and I will review.  I have been swamped on other topics so it's possible something regressed.

[2015-02-20 02:04] #4510 closed

[2015-02-20 02:08] satnam6502 opened #4642 "Error loading auth files for e2e test"
For a while my e2e test was working fine (i.e. it did not get any auth file errors and managed to connect to the apiserver and get information) but after bringing the cluster down and back up again I get this auth error. @jlowdermilk

[code]

[2015-02-20 02:11] satnam6502 commented on #4642
I suspect it is somehow my fault (perhaps the cluster creation process failed in some way?) but I thought it was worth mentioning -- just in case.

[2015-02-20 02:16] smarterclayton commented on #1459
JavaScript.  Anyone who has to do field validation or jquery or jq will be able to leverage that format.  The others are somewhat ivory tower

[2015-02-20 02:19] ixdy commented on #4510
Unit test coverage can now be viewed at https://coveralls.io/r/GoogleCloudPlatform/kubernetes - both master push builds and PRs will be shown there; additionally, Coveralls will update the status and post comments on PRs with coverage stats. (If we find these too spammy, we can disable either or both.)

The top-level README.md also has a badge/link to the coverage dashbaord.

[2015-02-20 02:22] timothysc commented on #4614
https://github.com/GoogleCloudPlatform/kubernetes/pull/4643

[2015-02-20 02:44] satnam6502 commented on #4642
Well, I am still confused... the test no longer seems to get auth information (like it used to earlier on this afternoon) and my command line operations seem to work fine.

[code]

[2015-02-20 02:54] satnam6502 commented on #4642
I'm in good shape after the revert of #4644.

[2015-02-20 02:54] #4642 closed

[2015-02-20 02:56] mikedanese commented on #4578
@ghodss I agree with the path of the api conversion, we would need to follow the same path as we currently do in kubectl. Do you see any benefit of moving to evanphx/json-path? Is RFC6092 something we want to support or will RFC7368 be enough? I have not stumbled upon evanphz/json-path before and I'm willing to consider pulling it in but I do like how MergePatch currently fits in less than 20 line

[2015-02-20 03:10] thockin commented on #1459
Is that still true with the simplifying assumptions up-thread?  E.g. no
indexes

On Thu, Feb 19, 2015 at 6:17 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-02-20 03:38] smarterclayton commented on #1459
Sorry, I was responding to Sam, in that the format described by Eric works for me (no indexes) because it looks like what we would use for validation (which needs indexes), which we would probably end up using a lot in JavaScript (which benefits from the dot format).

----- Original Message -----

[2015-02-20 03:43] filbranden commented on #2884
@thockin I don't think adopting a distro that uses systemd would have any bad side effects, at least last time I checked the default setup for Vagrant uses Fedora with systemd and I don't think kubelet + docker has any trouble running there. Do you have an example of where systemd might create problems for kubelet or cAdvisor right now?

I discussed this today with @dchen1107, @saad-ali and @rlaro

[2015-02-20 03:46] vmarmol commented on #2884
@filbranden I think what @thockin meant is that if the distro doesn't use systemd, how hard is it to install and use it alongside whatever they use today. The concern is that it is a hard and error prone process to do that. I don't think there are any issues with using a distro that uses systemd.

[2015-02-20 03:59] thockin commented on #2884
Right - I don't have a real problem with systemd (or no more so than I ever
had). I just don't want some weird frankenlinux.

On Thu, Feb 19, 2015 at 7:46 PM, Victor Marmol <notifications@github.com>
wrote:

[2015-02-20 04:01] derekwaynecarr commented on #2884
@thockin - I debated what my own Linux distro would be called at lunch the other day.  I like frankenlinux :-)

Sent from my iPhone

[2015-02-20 04:18] smarterclayton commented on #2884
Just as a note, when we run Kube with systemd on RHEL systems we're going to have to deal with systemd managing cgroups.  Ideally, we'd take feedback and requirements from Kube to drive the focus on what gets implemented in systemd (or at least, where we spend effort).  Knowing the limitations there sooner rather than later is going to be important for us as well.

[2015-02-20 04:46] filbranden commented on #2884
@thockin @vmarmol Yes I understand. So my opinion is that right now debian-backports is already pretty close to frankenlinux (we like Debian but we want a kernel from a non-default repo and in some cases we are tweaking it to enable some basic cgroup stuff that's disabled by default.) Pulling systemd into our debian-backports will probably bring it all the way into frankenlinux :-)

There are plen

[2015-02-20 05:38] thockin opened #4651 "Need validation for ObjectReferences"
We could at least validate the name and namespace are structurally valid.

[2015-02-20 06:24] yugui commented on #2585
What is the current status of this issue?

[2015-02-20 07:12] wojtek-t commented on #4119
I totally agree with Tim, that having a package answering the above question would help the problem we're facing here.

Regarding "thread-per-pod" idea, I also thought about something very similar it at some point. But my fear regarding it was that if there are few multiple updates to the same pod within very short time (milliseconds), we would be processing all of the one by one. However, it we a

[2015-02-20 07:18] vmarmol commented on #4119
Any one individual pod will most likely not see multiple update within
milliseconds. We've found that in practice this is not the case even with
very heavy users. The thread per pod model should work well and scale well
for us as well.
On Feb 19, 2015 11:13 PM, "wojtek-t" <notifications@github.com> wrote:

[2015-02-20 07:20] wojtek-t commented on #4119
Thanks Victor. SGTM.

[2015-02-20 07:20] davidopp commented on #3852
This is fixed by changing etcd to startup with  -bind-addr 0.0.0.0:4001

I'm sending a PR now.

[2015-02-20 07:21] davidopp commented on #3852
(And thanks to @a-robinson for figuring out the problem was that etcd wasn't listening on the localhost address.)

[2015-02-20 07:26] thockin commented on #4602
I have now thoroughly reviewed the secrets work (nice work guys, really).

Since I nominally own volumes, let's talk about tmpfs.

I do want to offer a tmpfs EmptyDir.  The obvious thing to do is to add a
tmpfs plugin.  But WAIT.  It's identical to EmptyDir in pretty much every
way except a call to mount() instead of mkdir().  I expect that eventually
I will want a local SSD EmptyDir too - do I ag

[2015-02-20 07:32] thockin commented on #4119
This is the same fundamental model that Omlet uses and was pretty carefully
considered for Borglet too.

@dchen1107 as final arbiter

On Thu, Feb 19, 2015 at 11:20 PM, wojtek-t <notifications@github.com> wrote:

[2015-02-20 07:33] saad-ali commented on #2884
My two cents: I don't think that process supervision has to accelerate the switch to systemd/CoreOS.

For the time being, we are using monit to monitor etcd. It's not perfect, but it gets the job done. I will go ahead and extend that to monitor kubelet and docker.

As various cloud providers start updating their images to something that has systemd as the primary init system (whenever that happens

[2015-02-20 07:49] thockin commented on #2585
In progress.

On Thu, Feb 19, 2015 at 10:25 PM, Yuki Yugui Sonoda <
notifications@github.com> wrote:

[2015-02-20 07:52] rsokolowski commented on #4414
After making hash function deterministic containers are no longer cycling in my cluster: the frontend container has been running without a restart for 15 hours. Closing.

[2015-02-20 07:52] #4414 closed

[2015-02-20 08:04] bgrant0607 commented on #4542
@derekwaynecarr Everyone who touches the types.go files currently fails the presubmit hooks. Will you be able to add the descriptions on Friday?

[2015-02-20 08:10] dchen1107 commented on #4119
I couldn't understand why I missed this discussion at the first place. Thank @wojtek-t for running those experiments and get those detail data.

The idea of "thread-per-pod" should work and it is what our internal system aims for to solve performance and scalability issues. Next step, PodManagerLoop could generate PodStatus, and cache somewhere; Kubelet periodically POST NodeStatus and PodStatus t

[2015-02-20 08:23] dchen1107 commented on #4414
Thanks for fixing the issue here.

[2015-02-20 08:25] #3067 closed

[2015-02-20 09:02] jszczepkowski commented on #4565
I would gladly work on it. This issue is coupled with #4562 on which @fgrzadkowski is working, so we will help each other.

[2015-02-20 09:07] wojtek-t commented on #4119
Thanks @dchen1107

Regarding simulaneous pullings of the same image - I think it shouldn't make things worse (at least in the currently existing code). Basically, the "pullImage" Kubelet method is protected by "pullLock", so it ensures that we won't be pulling any two images simultaneously. We can leave this for now - what do you think?

[2015-02-20 09:11] wojtek-t commented on #4119
So I will try to experiment with "thread-per-pod" approach anyway. Will post into this thread when I will have some findings.

[2015-02-20 09:15] thockin commented on #4119
To be clear, thread-per-pod should not be a critical goal by itself.  If it
is a better way to achieve the 1.0 goals, OK, but don't burn time on it for
its own sake.  At least not yet.

On Fri, Feb 20, 2015 at 1:12 AM, wojtek-t <notifications@github.com> wrote:

[2015-02-20 09:30] wojtek-t commented on #4119
Sure - but I think that thanks to it we can avoid starting unnecessary pods, which can significantly improve performance. I will write some prototype and try to measure gains - if that won't be satisfying I will just drop it (for now).

[2015-02-20 10:16] pires commented on #4604
+1

[2015-02-20 10:16] pires commented on #4583
+1

[2015-02-20 10:17] pires commented on #4582
The CoreOS instructions are borked for 0.10.x or 0.11.x. Will PR changes today.

[2015-02-20 12:41] deads2k commented on #4615
.kube/config sounds fine to me.  How would you like to handle the transition?  If we keep merging, should we attempt to merge files using the old names as well as the new?

[2015-02-20 13:11] deads2k opened #4658 "kube config view --local fails"
I tried viewing a .kubeconfig file and view is now broken:

[code]

I'm planning to take a look, but in case I get sidetracked, I wanted to be sure that it was noted.

@liggitt in case this bites you too.

[2015-02-20 14:12] jayunit100 commented on #3573
Hi kubernetes!  I've just seen https://github.com/GoogleCloudPlatform/kubernetes/pull/4643, and brendan brought up the "standalone mode" use case.  Any color on what are the driving use cases for a standalone kubelet (mesos? unit tests? general design principals?) just curious .

[2015-02-20 14:22] rsokolowski opened #4661 "hack/test-cmd.sh doesn't work on clean client while working on Travis due to different environment"
The test is currently broken (some of kubectl invocations are lacking "${kube_flags[@]}"). It should run as a part of PR presubmit.
The test itself is being fixed as a part of #4267 .

[2015-02-20 15:39] vmarmol commented on #4119
Docker does its own locking for parallel pulls so it shouldn't be a problem for now.

[2015-02-20 15:46] claire-w opened #4666 "Can we create a kubernetes cluster with different OS?"
I would like to create a kubernetes cluster, with different OS on the manager and the minions. Is that possible?

[2015-02-20 15:57] pmorie commented on #4602
@thockin Good questions, I'm thinking about it.  Agree, what I have now is awfully messy and noisy.

[2015-02-20 16:02] vmarmol commented on #4666
Yes, this is very much possible. There is no strong dependency on the host image and we've seen setups with many different distros. (Assuming you mean OS == Linux distros :) )

If you run into any problems, feel free to file issues or ping us on IRC.

[2015-02-20 16:02] ddysher commented on #4651
Some related discussion here https://github.com/GoogleCloudPlatform/kubernetes/pull/4396#discussion_r24871235, originates from event namespace.  reference object is essentially not versioned and not converted to internal, so the validation is likely to suffer from version skew.

[2015-02-20 16:07] #3852 closed

[2015-02-20 16:23] piosz commented on #3622
@dchen1107 are you working on it?

[2015-02-20 16:31] markturansky commented on #4505
It's a clean build/test without that helper method.  See #4668.

[2015-02-20 16:41] derekwaynecarr opened #4669 "Vagrant provider kube-up has a race condition, provisioning sometimes fails/blocks"
It appears that the provision-network script that is run on the kubernetes-master can cause salt provisioning on the minions to fail or block in a forever retry timeout error loop.  I think it's because of the service network.restart that happens after openvswitch is installed in provision-network.  I only say this because when I disable installing docker on kubernetes-master in vagrant, I do not

[2015-02-20 17:16] dchen1107 commented on #3622
not at this moment, feel free grabbing it.

[2015-02-20 17:24] pmorie commented on #4602
#### Orthogonality of content and underlying storage attributes

REALLY because the full matrix doesn't make sense - we don't want to offer
secrets on disk, and what does it even mean to map PD or NFS or iscsi onto
tmpfs?  That's a nonsensical question.

@thockin I had a similar thought re: storage type, and agree, the full matrix is not valid.

One question is how the API should be factored - doe

[2015-02-20 17:26] zmerlynn opened #4671 "Coveralls comments a little spammy"
@ixdy, any idea why the triple spam in e.g. #4647?

[2015-02-20 17:28] vmarmol commented on #4671
I believe those were turned off because they were spammy. No idea why 3 though...

[2015-02-20 17:31] erictune opened #4672 "Key/Cert rotation for Kubernetes clients."
We may want to rotate keys/certs periodically for things that use pkg/client.
- we might rotate the master's certs when they expire.  don't want clients to fail during that transitition
- Pod using automatically generated credentials in a secrets volume.
- kubelet/kube-proxy using a per-node token or x509 keypair

Suggest we assume that whatever key rotation plan is used (out of scope of this bug)

[2015-02-20 17:41] vishh commented on #4119
Its surprising that parallel pulls result in higher latency. As @vmarmol
mentioned docker pulls are synchronized by the docker daemon.

On Fri, Feb 20, 2015 at 7:39 AM, Victor Marmol <notifications@github.com>
wrote:

[2015-02-20 17:42] erictune opened #4673 "Secrets rotation and Secrets semantics"
It would be nice to be able to rotate secrets while the pod is still running.  This issue is to discuss how that might work.

Some things to think about:
  - Can we attach a new volume to a running container?  I don't think so.
  - Is the content of a secret mutable after creation?
  - What happens if you delete a secret that is in use by running pods?  I guess they keep running, but then new inst

[2015-02-20 17:42] erictune commented on #4673
Relevant to #4672

[2015-02-20 17:42] erictune commented on #4673
@pmorie

[2015-02-20 17:43] erictune commented on #4673
@bgrant0607

[2015-02-20 17:54] #4505 closed

[2015-02-20 18:05] gmarek commented on #4521
When testing some change I run some experiments to see how far from this goal we are in two configurations:
- stupid one (master 16 cores, 4 kubelets 2 cores each), 50 replication controllers, each with 1 pod
- more-reasonable-but-still-very-small-one (master 4 cores, 10 kubelets 1 core each), 200 replication controllers, each with 1 pod
I tested get API calls (pods and rc), and it turned out that

[2015-02-20 18:05] bgrant0607 commented on #4428
Sorry, I've largely been ignoring this. Catching up.

What are the main problems we're trying to solve?

* Make it easy to create multiple clusters
* Make it easy to interact with multiple clusters
* Make it easy for admins to provide access to shared clusters
* Make it easy for users to assume multiple roles
* Make it easy to set UX preferences for the CLI (colors, whatever)
* Make tests not caus

[2015-02-20 18:08] liggitt commented on #4672
the .kubeconfig loader -> client.Config -> client.Client transformation steps are currently lossy

[2015-02-20 18:08] joeswaminathan commented on #3350
Was the event moved to 9 AM ?

[2015-02-20 18:19] #4658 closed

[2015-02-20 18:31] erictune commented on #3573
Moving and existing system to the complete kubernetes stack all at once can be overwhelming.  People need an incremental path.  One such incremental path might be:
  1. put apps into docker containers.
  1. add cadvisor.  get per-container resource monitoring.
  1. add kubelet.  use file or http based pod config source.   get health checking, liveness checking, restarting, grouping into pods, volu

[2015-02-20 18:39] ghodss commented on #4578
My only thought would be if there's better test coverage in evanphx/json-path or if we get benefits from having less code in util, but if we think neither of those are true in any significant way, we can totally skip it.

[2015-02-20 18:47] erictune commented on #4672
Ugh.

[2015-02-20 18:55] abhgupta commented on #4303
@bgrant0607 I had initially favored removing the algorithm provider flag from the CLI as well. However, my current implementation (PR linked) still retains that as I found that it leaves the configuration file to just deal with predicates and priorities, and it does not have to worry about algorithm providers.

[2015-02-20 19:04] rajatchopra commented on #3350
I have to apologise. Yes. Was re-arranged to 9am, but I did not put up the final time in this thread. There was a parallel email chain (on google-containers at googlegroups) about scheduling this and I missed that everybody may not be on that group.

Summary/action-items of the hangout:
1. General agreement that network solutions need hooks. Most important of them is at the point where pod is crea

[2015-02-20 19:06] bgrant0607 commented on #3112
http://kubernetes.io/third_party/swagger-ui/

[2015-02-20 19:21] erictune commented on #4602
I agree with what @thockin about where we want to be.
But, I don't think the details of the Host interface have much bearing on how users express their storage requirements to volumes.  So, I don't think we need to tie those two things together.

@pmorie suggestion above about passing StorageType to GetPluginDir seems fine.

[2015-02-20 19:33] erictune commented on #4615
if both .kube/.kubeconfig and .kube/config are present, it is a fatal error.
if .kube/.kubeconfig is present, then move it to .kube/config and notify
the user if practical

On Fri, Feb 20, 2015 at 4:41 AM, David Eads <notifications@github.com>
wrote:

[2015-02-20 19:33] lavalamp commented on #4521
Prashanth is working on moving replication controller status computation into replication controller, which is going to have the side effect of making list rc not be O(#pods * #rc) anymore.

[2015-02-20 19:33] pmorie commented on #4602
@erictune Yeah, they are orthogonal.  For now I'll go with those and we can change other aspects later (either in this iteration or in the future).

[2015-02-20 19:34] lavalamp commented on #4521
#4675 will add GOMAXPROCS to the scheduler, which I missed yesterday.

[2015-02-20 19:36] vmarmol commented on #4554
I think it is an oversight since the webpage is on the harder side to fix. Assigning to myself and will send a PR to fix it. Thanks for reporting @benmccann!

[2015-02-20 19:46] smarterclayton commented on #4602
With secrets, you definitely want to guarantee the secrets are on disk and present before the pod starts.  So that gets into container start ordering - it's definitely a container more like pod-infra than a normal side car.  I also suspect that virtually every pod will have secrets (and many).  So having secrets be a side car entails we would have one side car per pod across the whole cluster.

[2015-02-20 19:57] erictune commented on #4602
Responding to thockin's comment that maybe we should do per-pod tmpfs.

I think either per-pod or per-node tmpfs can work. Let's build a list of pros and cons together. I'll start.
 - rotating disks can't easily be filesystem-per-pod. Perhaps some advantage to consistency across media types. Result: advantage per-node
 - whatever mechanism we use for resource isolation on rotating disks with files

[2015-02-20 20:04] dchen1107 commented on #4562
@fgrzadkowski Do you mind to take a look at #4561, and let @dysher take this one since he is working on node controller / nodeStatus / nodeCondition?

[2015-02-20 20:11] fabianofranz commented on #4615
Just to clarify, is that a proposal for renaming the config files support in *both* home and current directories, or just the one in home?

[code]
+1 for both

[2015-02-20 20:33] derekwaynecarr commented on #4542
@bgrant0607 - doing this now

[2015-02-20 20:42] smarterclayton commented on #4615
Why not `.config/kubernetes`?  Of course, only half the programs in Linux follow that convention...

[2015-02-20 20:49] vmarmol commented on #4554
I meant to send a PR, but I didn't do it correctly and just pushed directly :package:

This is now fixed on the site.

[2015-02-20 20:49] #4554 closed

[2015-02-20 20:49] smarterclayton opened #4676 "TestPortForward is flaky"
[code]

[2015-02-20 20:49] ixdy commented on #4671
There were two Travis builds for #4647, which resulted in two coverage reports:
https://coveralls.io/builds/1961512
https://coveralls.io/builds/1961527

I don't know why Coveralls commented twice for the second build; I'd expect either one comment per job, or one comment per build, but it seemed to do both.

In any case, these comments seemed a bit noisy, so I'm having it update the status checks

[2015-02-20 20:49] smarterclayton commented on #4676
@ncdc this is you

[2015-02-20 20:49] #4671 closed

[2015-02-20 20:51] ncdc commented on #4676
Hmm, I had upped waiting from 100ms to 500ms and that seemed to fix it. Do you have any better ideas?

[2015-02-20 20:59] smarterclayton commented on #4676
Don't wait? :)

[2015-02-20 21:00] smarterclayton commented on #4676
If the only reason you would timeout would be the code is broken, that's why the test runs have -timeout set.

[2015-02-20 21:00] ncdc commented on #4676
Then the test fails immediately. It's waiting for the net.Listen calls to finish so it can connect to the specified local ports.

[2015-02-20 21:00] ncdc commented on #4676
*finish enough so that socket connections work

[2015-02-20 21:01] ncdc commented on #4676
So I can remove the timeout gating in my tests?

[2015-02-20 21:02] lavalamp commented on #4549
Hm, maybe the path generation already exists, too: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/resthandler.go#L52

[2015-02-20 21:11] smarterclayton commented on #4676
Yes

----- Original Message -----

[2015-02-20 21:25] erictune commented on #4615
I don't care what it is called.  I just want:
  - a directory to hold various kubernetes files.
  - nothing hidden when I `ls` in that dir
  - bonus points to migrate the old way to the new way
  - bonus points to follow the example of a familar tool such as git, vim, etc.

[2015-02-20 21:41] pmorie commented on #4602
I agree with @smarterclayton here. You shouldn't *have* to make a side car container to get secrets in a volume.  There's nothing that says you can't make a sidecar container that gets your secrets from the API server and puts them into your own tmpfs-backed volume.

[2015-02-20 21:46] #4633 closed

[2015-02-20 21:47] davidopp commented on #4535
This is actually still flaking.

[2015-02-20 22:02] jlowdermilk commented on #4426
I think we can close this. Discussion on how to make .kubeconfig better is ongoing in #4428.

[2015-02-20 22:02] #4426 closed

[2015-02-20 22:26] sidharta-s opened #4683 "Minor improvements to builds on Mac OS X"
There are couple of minor things when building on Mac OS X that could be fixed :

1. make release : Run $(boot2docker shellinit) automatically when applicable ? i.e when the boot2docker VM has already been started. The build exits at this point if boot2docker env has not be setup even if the VM is running/available.
2. make clean : Attempts to connect to a docker daemon when docker is installed bu

[2015-02-20 22:58] #3694 closed

[2015-02-20 23:02] ixdy commented on #4661
This should be as easy as adding a line to .travis.yml.

[2015-02-20 23:07] bgrant0607 commented on #4542
Fixed.

[2015-02-20 23:07] #4542 closed

[2015-02-20 23:34] jlowdermilk commented on #4298
I'm going to close this as the initial problem has a workaround for now, and action items are better represented in other issues:
- #3525 for better cluster deployment solution
- #4428 for fixing .kubeconfig behavior.

[2015-02-20 23:34] #4298 closed

[2015-02-21 00:19] alex-mohr commented on #4089
@dchen1107 Dawn, from a keeping-clusters-upgraded perspective, it would seem convenient if we could get a kubelet running by "docker run kubelet:version" with appropriate flags.  Can you elaborate on why that's not feasible?  FWIW, I think @smarterclayton mentioned openshift is running kubelet via docker?

[2015-02-21 00:22] zmerlynn commented on #4089
In particular, I'm curious if there's already an issue on the root-only requirement. Have we investigated all the various capabilities/etc. that we could try to grant? This seems like a really messy half-way solution where we're not exactly running kubelet in docker and not exactly running it not-in-docker, either, so we might as well just re-write docker?

[2015-02-21 00:28] smarterclayton commented on #4089
We are, and we're using versioned tags to control rollout of our infra components (but not the kubelet yet).  I can sketch out the basics but --net=host and --priviliged are enough for the kubelet and proxy, but volumes and mounts might cause a problem (even super priv containers have a few gotchas wrt how the mount namespace plays in).

[2015-02-21 00:35] vmarmol commented on #4089
In cAdvisor we've already run into issues about not being in the host
namespace. We've had to resort to hacks and less accurate data to deal with
it. It's just echoing the concern with mount namespaces @smarterclayton
mentioned. The Kubelet will run into more of these issues as it tracks and
affects the containers more. I'm not sure running the Kubelet inside
namespaces will be feasible long term.

[2015-02-21 00:51] zmerlynn commented on #4089
@vmarmol: It buys us a consistent deployment story across node OS images, yes? I think the route for this bug would have to be more manual (Saltstack?) setup to get everything up, which I know may sound like a minor thorn but is a constant, on-going burden we'll have to pay for each of <N> distros. I admit that I might be missing something, but I think it will be fairly uniform (perhaps) to setup

[2015-02-21 00:55] davidopp commented on #3883
This test seems to be failing deterministically.

[2015-02-21 00:56] davidopp commented on #3883
Cadvisor
  cadvisor should be healthy on every node.
  /go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/cadvisor.go:39
[BeforeEach] Cadvisor
  /go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/cadvisor.go:35
[It] cadvisor should be healthy on ev

[2015-02-21 01:00] zmerlynn commented on #3883
This was after @jlowdermilk's fix to retry, but we're not exactly sure why.

[2015-02-21 01:03] satnam6502 commented on #3883
Once I have emerged from the e2e test for cluster level logging with Elasticsearch quagmire (soon I hope -- perhaps by Wednesday) then I might also be willing to lend a hand with this since some of the experience might be relevant.

[2015-02-21 01:06] jlowdermilk commented on #3883
Actually latest error looks like
[code]

So it's still not coming up after 5 minutes. The question is how long should it be taking to come up, given that the cadvisor containers get scheduled basically on node creation. The test finished in < 1s on my e2e cluster that has been up for awhile.

[2015-02-21 01:14] zmerlynn commented on #3883
Or there's an actual bug here. @vishh, can you look into it?

[2015-02-21 01:16] zmerlynn commented on #3883
(I looked at the Jenkins log, and this test ran a good 10 minutes after startup, so it probably had 15 minutes to finish coming up. That seems wrong, given that cAdvisor is actually the first container we *ever* schedule, and it gets scheduled raw.)

[2015-02-21 01:22] satnam6502 opened #4689 "Service deletion on GCE removes forwarding rules but not target pools"
When a service is deleted on the GCE provider any load balancers associated with it are also deleted i.e. the forwarding rules are removed. However, the target pools still linger. To cleanly delete a cluster on GCE the target pools should also be removed.

[2015-02-21 01:34] satnam6502 opened #4690 "Still missing --quiet (or better error message) in kube up/down scripts."
[code]

[2015-02-21 01:38] davidopp commented on #3883
Sorry, I hadn't seen #4681 -- not sure if that fixes this?

[2015-02-21 01:47] zmerlynn commented on #3883
No, there are failures after as well.
On Feb 20, 2015 5:39 PM, "David Oppenheimer" <notifications@github.com>
wrote:

[2015-02-21 01:57] bprashanth opened #4691 "Kubectl fails cryptically when it can't update a key"
If you hit a single etcd key repeatedly from multiple locations, some updates are bound to fail. When this happens, kubectl dies with something like:

[code]
..which is kind of cryptic. I believe the `Compare` it's complaining about is etcd's CAS which happens via `client/replication_controller`. You can trigger this condition pretty easily be creating an rc, and running a while true loop from 2 s

[2015-02-21 03:17] bgrant0607 commented on #4428
One more thought: It would be reasonable to create a context bundle, that tied a cluster, uesr, namespace, whatever together. However, the selection of the context bundle should be done via env vars and/or flags.

My typical multi-cluster use case involves opening 2 terminals on the same host logged in as the same user sharing the same repo clone, each dealing with a separate cluster. If a command

[2015-02-21 04:52] smarterclayton commented on #4428
Fair - I wouldn't want to take away that flexibility at all.

[2015-02-21 05:54] bgrant0607 commented on #4384
Kubelet will contact the master rather than vice versa.

[2015-02-21 06:09] thockin commented on #4673
I'm really hoping to avoid having the kubelet be dynamically updating magic
volumes (run your own side-car), but I am not sure we can escape it with
secrets since there is info there that is meaningful to the kubelet itself..

On Fri, Feb 20, 2015 at 9:43 AM, Eric Tune <notifications@github.com> wrote:

[2015-02-21 06:46] bgrant0607 commented on #4673
I think we should support dynamic updates. That makes the feature vastly more useful and reduces the complexity for clients tremendously. Immutable secret objects would induce cascading complexity: automatic name generation, automatic garbage collection of secrets not in use, etc. Plus, I doubt we could prevent users from updating the volume source to point to a new secret, which seems to have abo

[2015-02-21 06:48] bgrant0607 commented on #4673
Also, I vote for atomic update. A lifecycle event can notify the containers that they should reopen the file(s).

[2015-02-21 06:52] bgrant0607 commented on #3481
+1 to separate process.

Discussion #4440 re. proxy and redirect is relevant.

[2015-02-21 07:06] thockin commented on #4673
Dynamic updates can be achieved by running a secret-syncer sidecar.  I'm
just trying to convince myself that this is not a viable answer.

As for atomic updates, easier said than done.  The only atomic op is
rename() and that is singular AND only works for directories iff the
destination does not already exist.

We could do something like put secrets into a subdir of the volume and then
flip a sym

[2015-02-21 10:06] kazegusuri commented on #4239
I found this was same issue to #4614.  I also use `--etcd_servers` option in kubelet, and this issue is resolved by using `--api_servers` option instead of it.

[2015-02-21 11:28] mikesimons opened #4695 "Services with the same name in different namespaces cause kube-proxy to bug out"
Should it be possible to have services with the same name in different namespaces? Nothing prevents it and I suspect that it should be possible but there are assumptions in code that cause this not to function correctly.

Here are some failing tests: https://github.com/mikesimons/kubernetes/compare/proxy_namespace_clash

And here is what lead me to investigate:
[code]

The `Accept failed: use of c

[2015-02-21 12:26] pires commented on #4614
Works in my test-cluster. Will update CoreOS doc next and then close this.

[2015-02-21 14:17] zmerlynn commented on #4695
This is a dupe of #4288.

[2015-02-21 14:17] #4695 closed

[2015-02-21 14:53] zmerlynn commented on #4239
Closing as dupe of #4614.

[2015-02-21 14:53] #4239 closed

[2015-02-21 16:25] zutherb commented on #4302
+1

[2015-02-21 17:32] smarterclayton commented on #1535
I like the idea of the abrt call right before the sigkill.  I wonder how many programs that makes worse (if you're about to get killed, what is the odds your abrt handler makes it worse?

[2015-02-21 17:38] mikesimons commented on #4695
Ah, apologies @zmerlynn. I searched for the errors but did not spy that one (nor the several others referenced) :(

[2015-02-21 18:45] thockin opened #4700 "Swagger represents all maps as type "any""
"labels": "v1beta3.ObjectMeta.labels",

Not sure what that means...

[2015-02-21 19:52] mikesimons commented on #4288
@quinton-hoole-google There are failing tests for this linked on #4695 if they are of any use :)

[2015-02-21 19:52] ddysher commented on #4075
PR #4396 and #4697

@dchen1107 I can't see the event even if the cluster is just created.  It maybe that BirthCry doesn't construct the correct reference.

[2015-02-22 02:04] ghodss commented on #1702
Okay, that makes sense - omission from the object indicating ignore sounds good. In fact this helps us solve the "what fields should be diffed" problem, since the input objects would not contain fields like Status, etc.

New summary of how reconcile could work:

1. Start with a set of objects that you want to reconcile with the server. These can be simple JSON/YAML files on disk, or produced by to

[2015-02-22 05:02] davidopp commented on #1702
I'm sure this has been answered elsewhere (perhaps even in this thread) but I'll be lazy and just ask. There are two issues that we've had to deal with for our internal system related to this kind of thing, which I'm wondering how we're handling here:

(1) How are we handling defaults? My understanding is that there are no defaults, so an unset field propagates all the way to the logic that might

[2015-02-22 08:23] ghodss commented on #1702
@davidopp I'll write out my understanding, and hopefully @bgrant0607 can confirm...

1. As per https://github.com/GoogleCloudPlatform/kubernetes/issues/1502#issuecomment-74614973, default fields seem to get set when a versioned object is converted to an internal API object in apiserver, which means that the fully rendered object with defaults set as values lives in etcd and is returned on GET. Thi

[2015-02-22 08:48] ghodss commented on #4428
From what I can tell, my proposal above supports @bgrant0607's assertions. To rephrase:

* \*.kubeconfig files can specify clusters, users, and contexts (a context is a tuple of cluster, user, and (optionally) a default namespace). They can be aggregated together from many locations and don't overwrite each other (unless there is a name conflict, which can be warned about).
* /etc/kubectl and ~/.k

[2015-02-22 16:23] pires commented on #4582
Actually, @rajitha-wijayaratne changed the layer driver from ```overlay``` to ```btrfs``` which means he's using an older version of CoreOS. I can't reproduce this behavior with CoreOS 593/598 and Kubernetes 0.9.3, 0.10.1 or 0.11.0.

[2015-02-22 16:58] pmorie opened #4710 "Expose secrets to containers in environment variables"
Now that #4126 and #4514 have landed, it should be possible to expose secrets to containers as environment variables.  While this is arguably not the optimal way to consume secrets, it will be important to users taking their first steps into a cloud environment, and we should offer this feature to enable a good experience for users who need it.  For what it's worth, we consider this to be an impor

[2015-02-22 16:59] pmorie commented on #4673
@erictune @thockin @bgrant0607 I am torn on this one personally.  One thing I want to point out while I gather my thoughts is that I think we have a similar problem in this use-case to other ones that have been mentioned:

- Expose labels to containers (#560)
- Dynamic configuration (#1553)
- Exposing secrets as env vars (#4710)

[2015-02-22 17:01] imesh opened #4711 "Providing Events/Callbacks from Replication Controllers"
IMO it would be better to introduce a set of events or callbacks from Replication Controllers to notify Pod re-creation process to Kubernetes clients. Currently AFAIK when a Replication Controller recovers an inactive Pod the Pod ID changes. As a result the clients would not be able to manage those Pods afterwards. In addition when new Pods are created to match the number of replicas, it is not po

[2015-02-22 17:14] sdminonne commented on #341
@bgrant0607 @smarterclayton @thockin even if #4486 is not finalized I started to have a look at step 3 (replacing `labes.ParseSelector` with `labels.Parse`).
I'm having a trouble that I don't think it's only a `code issue`.
`labels.ParseSelector

[2015-02-22 17:15] thockin commented on #2585
To revisit the previously posted slides about how the final endpoints struct is factored...

As I code it up, I find this factoring somewhat awkward.  It's not a HUGE deal (it's just code) but what I realized is that the primary key I care about is the (service, port) tuple, not the (service, ip), which is what we have produced.

In effect I have to pivot all the data into a different struct to us

[2015-02-22 17:17] pmorie commented on #4710
@erictune @bgrant0607 @thockin @smarterclayton @csrwng

[2015-02-22 17:42] thockin opened #4713 "'make test' is really slow"
Our test-go.sh script invokes 'go test' serially for each pkg - currently taking 2 minutes on my laptop.  Running a single 'go test' for all pkgs cuts the time down to 45 seconds.  Even running with -race is only 1:15.

As far as I can tell, the only time we HAVE to run serially is when coverage is on.

Does anyone have time to fix this?

[2015-02-22 18:00] smarterclayton commented on #4710
One option is an environment file option to the container that reads/sources a file from the volumes prior to container start.  Or, alternatively, enable this from a pre start hook.  I think we want to avoid ways of scraping data from disk that aren't file based (no "extract this var from this file").  It's also worth asking how prestart hooks could use secret volume data to generate config files.

[2015-02-22 18:42] pmorie commented on #560
@sdminonne @EricMountain-1A see @thockin's comments re: atomic update here: https://github.com/GoogleCloudPlatform/kubernetes/issues/4673#issuecomment-75359764

[2015-02-22 20:22] mikedanese commented on #4578
I think that [RFC6092](https://tools.ietf.org/html/rfc6902) might actually be useful to solve #4561 and #4562 without creating separate endpoints in apiserver. Not sure if RFC7368 would sufficiently cover those use cases.

[2015-02-22 20:36] ixdy commented on #4713
I'd created #4686 on Friday to fix this, though it's not yet been reviewed.

[2015-02-22 21:40] smarterclayton commented on #4578
The primary reason for a separate status endpoint is access control.  I'm still a little uncomfortable with per field access, but at least with patch the intent is explicit.

[2015-02-22 22:05] bgrant0607 commented on #1702
@ghodss The approach you describe SGTM. We'll want to auto-retry updates where the fields of interest were not the ones that changed. In particular, we'll need to be able to handle resourceVersion changes due to status updates once we start posting status of all objects.

We should require names for all objects. This operation doesn't make sense for auto-generated names.

We'll want a way to figur

[2015-02-22 22:09] thockin commented on #4713
I cobbled together #4717 but I'll review yours since it is probably better
:)

On Sun, Feb 22, 2015 at 12:36 PM, Jeff Grafton <notifications@github.com>
wrote:

[2015-02-22 22:09] bgrant0607 commented on #1702
List and map order may be a problem. Since we're going to implement server-side PATCH, we could also provide server-side diff so that ordering semantics can be kept out of the client.

[2015-02-22 22:15] bgrant0607 commented on #4711
First of all, agree we should provide hooks/events. See #2804 and #3692.

By "client", do you mean a client of the Kubernetes API, or a client of the service provided by the pods created by the replication controller -- that is, something connecting directly to the pods?

In most cases, we recommend that application clients connect through services rather than directly to the underlying pod IPs.

[2015-02-23 00:15] vishh commented on #3883
I don't see any issue with the test itself. The test attempts to access a REST endpoint ('/stats') via the proxy on the api-server. Is it possible that the api-server doesn't get to a stable state for a while?

[2015-02-23 00:21] davidopp commented on #3139
Let's keep this issue limited to workload generators, and split off chaos monkey into a different issues.

Workload generator is particularly important for these two v1.0 goals:
* Scheduling throughput: 99% of scheduling decisions made in less than 1s on 100 node, 3000 pod cluster; linear time to number of nodes and pods (#3954)"
* "API performance: 99% of API calls return in less than 1s; constan

[2015-02-23 00:22] thockin commented on #4288
Quinton: status on this fix?

On Sat, Feb 21, 2015 at 11:52 AM, Mike Simons <notifications@github.com>
wrote:

[2015-02-23 00:31] rajitha-wijayaratne commented on #4582
I am using coreos-beta-584-0-0-v20150218 .

Perhaps a warning should go on getting-started-guides to say it only applies to CoreOS after 593.0.0/598.0.0.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/cloud-configs/standalone.yaml

[2015-02-23 01:21] zmerlynn commented on #3883
This test executes after several others that hit the apiserver?
On Feb 22, 2015 4:15 PM, "Vish Kannan" <notifications@github.com> wrote:

[2015-02-23 01:57] quinton-hoole-google commented on #4288
It's done.  Just need to self review before submitting a PR tomorrow.

On Sun, Feb 22, 2015 at 4:22 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-02-23 03:22] #4669 closed

[2015-02-23 03:51] bgrant0607 commented on #4700
cc @nikhiljindal

[2015-02-23 05:21] a-robinson opened #4717 "Periodic stack traces in kubelet logs"
I haven't looked into the cause yet, but I've been seeing the following stack trace every 10 seconds in all of my kubelets' logs in both clusters that I've deployed from head today. I'll check it out tomorrow if no one else gets to it before me.

[code]

[2015-02-23 05:40] bgrant0607 commented on #341
And #2518 / #4575.

Good catch. Sorry, I forgot about that.

The current implementation of field selectors is a hack.

Because field names/paths do have different rules than label keys, we likely will need different parsers. I also don't feel that fields require the more general selector capability. Eventually we'll want unified indexing, but I'd be fine with 2 filtering passes for now. Since fiel

[2015-02-23 05:49] jainvipin commented on #3350
@rajatchopra - I do want to bring up an important point that I brought up in the meeting as well:

- Should we say that we target few use cases instead of flannel/weave/ovs?

The difference is big. If we target the use cases, we will cut the hooks/APIs that will cater to the use cases; Flannel/Weave/Openshift-sdn are ways to achieve those use cases. I'd also put OVS to be consumed by tools/solutio

[2015-02-23 05:50] davidopp commented on #1702
Thanks for your responses. It seems that the semantics you described make it impossible to say "force this field to take the default value" (since the way you'd do that is to leave the field blank, but then it would be ignored). Not sure whether that's a problem.

As for maps/lists, I didn't have anything specific in mind but the ordering issue seems like something we have to deal with. One approa

[2015-02-23 06:07] bgrant0607 commented on #4428
That sounds reasonable to me.

[2015-02-23 06:10] bgrant0607 commented on #1702
Fields could be "cleared" and set to the default value by setting the field to null, as with patch. However, if the user knew the default value, they could also just set the field to that value, since there is no difference between a field initialized by default and a field set to the default value.

[2015-02-23 06:22] bgrant0607 commented on #2585
I think there's no escaping that some use cases will want all ports for each IP, other use cases will want all endpoints for a given port name, and other use cases will expect the same port for all IPs.

Given that we expect the same ports for all IPs, would representing the ports and IPs separately be easier?

[2015-02-23 06:37] bgrant0607 commented on #1535
We have 2 notifications before kill now:
1. pre-stop hook
2. SIGTERM

The first notification is generally very graceful. For instance, a web frontend should start to fail readiness probes, but, in addition to completing in-flight requests, it should still serve any user requests received, so that load balancers redirect traffic, but users don't receive 500s. It shouldn't really shut down yet.

Whe

[2015-02-23 06:46] davidopp commented on #1702
Yeah, I was thinking of the case where the user did not know the default value. Distinguishing between null and un-set solves the problem.

[2015-02-23 07:15] cjcullen commented on #3437
s/in a timely fashion/ever

We are miscalculating the path of the global mount point in DetachDisk. Parsing PD name from the symlinked device location is pretty gross and implementation dependent, and I'm guessing that switching to safe_format_and_mount broke it.

We define the global mount point path using the PD name in AttachDisk, so it is much safer to recover the PD name from there.

[2015-02-23 07:19] cjcullen commented on #4183
pd.sh only really tested that a pod w/ a PD could be attached (because detach was flaky/broken and slowing everyone else down).

Rewritten version has two parts:
1. Schedule Pod w/ PD on minion 0. Delete it. Schedule the same thing on minion 1. Make sure they both come up.
2. Schedule Pod w/ readonly PD on minion 0. Schedule same thing readonly on minion 1. Make sure they both come up.

[2015-02-23 08:06] ghodss commented on #4578
Another reason for evanphx/json-path is that I will probably need the [CreateMergePatch](https://github.com/evanphx/json-patch/blob/master/merge.go#L150) function in config reconciliation to update server resources (#1702).

[2015-02-23 08:07] fgrzadkowski commented on #4630
cc @jszczepkowski

Can you please explain what this API would look like? I'm not sure that widening API for a central component is the right approach.
If external resource is tightly related to a resource (e.g. service) it'd be strange to have a separate API call just to remove it's external parts (e.g. load balancer). Also it may leave a resource (service) in an inconsistent state.
Additionally y

[2015-02-23 09:25] yawnt opened #4720 "cannot link persistent disks"
Hi,

i'm trying to deploy a Docker container on GKE which uses persistent disks, but I can't seem to get them to work. I tried with a minimal example and it failed, so I followed [this](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/mysql-wordpress-pd/README.md), with the exact same .yaml and I get the same error

[code]
Last friday it kept giving an error about failing to

[2015-02-23 10:08] sdminonne commented on #341
Thanks. I would say that having `labels.Parse` to parse labels selector and having `labels.ParseSelector` to parse fields could be misleading.
Are you OK to add a `fields.ParseSelector` (simply moving exact match code in the new package)? Otherwise I'll simply add a TODO.

[2015-02-23 10:10] wojtek-t commented on #4661
I think that what @rsokolowski wanted is to run those tests when the PR is being merged, not when it is being submitted for the review since this doesn't guarantee that we won't break the tests while merging the PR.

[2015-02-23 12:05] wojtek-t commented on #4119
@vmarmol: Thanks! So do you suggest that "pullLock" in Kubelet is completely useless now? If so I'm happy to remove it.

Regarding "thread-per-pod" discussion. I've implemented very simple prototype of it (i.e. some unit tests are failing etc.), but it works in simple cases (that I'm experimenting with here).

And (at least with this simple prototype) it seems to give us quite a big gains. In part

[2015-02-23 12:40] gmarek commented on #3523
The problem here is that filepath.Clean(filepath.Join(path.Base(os.Args[0]), "..")) is not a thing we need. It returns more or less current directory, not the thing we need which is an analogue of ${BASH_SOURCE}. AFAICT current implementation is equivalent of getting current work directory. I don't know how this code behaves on Windows though.

[2015-02-23 13:23] claire-w commented on #4666
thanks a lot, your quick answer has helped :-)

[2015-02-23 13:50] jszczepkowski opened #4721 "Incorrect grafana address printed by kube-up.sh"
After starting kubernetes cluster on GCE with ./kube-up.sh, I cannot connect to grafana dashboard.

[2015-02-23 14:21] fgrzadkowski commented on #4630
Just to be clear - I think that removing of internal services should be handled by master itself, but I see no reason why we need an API call to delete external resources for user defined services.

[2015-02-23 14:26] piosz commented on #4721
It might be related to #4648

[2015-02-23 14:31] a-robinson commented on #4689
Do you have any logs from this happening? It looks like the code for bringing down a load balancer should be deleting the target pool as well:
https://github.com/GoogleCloudPlatform/kubernetes/blob/dff727c50b96034ce7acb3b40b53d8885836a456/pkg/cloudprovider/gce/gce.go#L263

[2015-02-23 14:43] zmerlynn commented on #4630
First, the meta-point: kube-down.sh isn't the only setup and teardown
"client". (GKE is, others might come along.) That was the meta-point for
#3579 as well. To the extent that we can push this logic onto the server,
we should.

The second meta-point: today ELBs are the biggest issue. There are
discussions around, say, firewall rules - those would also need teardown.
Or xyz cloud provider network

[2015-02-23 14:57] zmerlynn commented on #4630
I just saw your next comment. Why a distinction between user services and
add-ons here? They both represent external resources owned by cluster
services. Some might be owned by the user, so you could argue that we need
policy bits like "don't delete on teardown", but that doesn't mean the
client should delete them.
On Feb 23, 2015 6:42 AM, "Zachary Loafman" <zml@google.com> wrote:

[2015-02-23 15:01] smarterclayton commented on #1535
I'm thinking of abrt behavior in Go, which is going to dump a stack trace of all the go routines, so you'll at least know where you were stuck when you would have gotten SIGKILL'ed.  I don't think it's necessarily worth the complexity now of course.

1. pre-stop hook
2. SIGTERM
3. wait for grace period to expire
4. SIGABRT ?
5. wait 1s
6. SIGKILL

The only question would be if sigabrt was worse th

[2015-02-23 15:10] zmerlynn commented on #4630
Also, to be clear, the API can just outright delete the services, too. I don't see a reason it has to delete the underlying resources versus the services themselves, since it's running in the shutdown path. If we really want to be delicate, we can terminate all objects (#1535) first.

[2015-02-23 15:27] gmarek commented on #4689
The problem here is that we do not wait for ForwardingRule to be deleted. GCE api calls return when Operation is "scheduled", e.g. pending. This causes delete of TargetPool to eventually fail with error RESOURCE_IN_USE_BY_ANOTHER_RESOURCE. I'll fix this first thing tomorrow.

[2015-02-23 15:34] rsokolowski commented on #4661
@wojtek-t, actually I just wanted to run the test as a part of PR submit as @ixdy mentioned.
@ixdy is the Travis environment different than just clean Kubernetes repository ? While running from command line the commands in the test needs to have "${kube_flags[@]}" arg (current code in head doesn't pass):
$ git clone https://github.com/GoogleCloudPlatform/kubernetes.git
$ cd kubernetes
$ make
$ hac

[2015-02-23 15:37] pmorie opened #4723 "Add section on Constants to api-conventions.md"
The api conventions document should provide guidance on values for constants and naming of `Kind`-like fields like [`PodPreconditionKind`](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L506).

[2015-02-23 16:03] vmarmol commented on #4666
Great to hear! I'll close for now, feel free to open a new issue if you run into any problems.

[2015-02-23 16:03] #4666 closed

[2015-02-23 16:08] satnam6502 commented on #4689
@a-robinson : I've noticed because I am creating and destroying clusters back to back for e2e testing (for the cluster level logging test). These tests become sensitive to poor cleanup between phases. To make the cluster level logging test e2e robust as possible I am keen for us to properly clean up resources. I notice this informally when during the e2e cluster level logging test fails while runn

[2015-02-23 16:15] fgrzadkowski commented on #4561
As suggested by @dchen1107 I'll work on this.

<For some reason I can't assign myself to this issue>

[2015-02-23 16:17] fgrzadkowski commented on #4562
I've already spent quite some time on reading/understanding the code, but it's probably not a wasted time anyway :) I'll look at #4561

[2015-02-23 17:24] vishh commented on #3883
@zmerlynn Noob question: How can we tell if it runs this test after the other tests?

[2015-02-23 17:25] vmarmol commented on #4119
Great news @wojtek-t! I'd be happy to see the PR whenever you have it ready.

After reading the description for pullLock it looks like we do need it, but it seems we've been using it wrong :-\ I'll go ahead and fix that today. The lock doesn't protect from multiple pulls at the same time, rather from pulls and deletes racing.

[2015-02-23 17:25] thockin commented on #2585
I don't think this is horrible, it's just a bit tedious.  It's only a few
LoC, but "annoying".  What is the case where someone cares about all the
different ports for a given Pod IP?

On Sun, Feb 22, 2015 at 10:23 PM, Brian Grant <notifications@github.com>
wrote:

[2015-02-23 17:37] roberthbailey commented on #4689
A quick scan through the code also doesn't reveal any retries around the attempts to delete the load balancers or target pools. Each of these requests should be retried to survive a transient error in GCE during tear down.

[2015-02-23 17:37] zmerlynn commented on #3883
You can't. I was merely commenting that in several runs where this fails, it has run after many other tests.

We've been randomizing the spec order for a while. You can look at the Jenkins console logs to get the random seed for a given run:

[code]

And the console logs have the order just by manually scanning the horizontal bars, but it's kind of pain. (That seed was off of go/k8s-test/job/kuber

[2015-02-23 17:44] roberthbailey commented on #4720
What is your cluster version (run ```gcloud preview container clusters list``` and look at the ```clusterApiVersion``` for the cluster you are having trouble with)?

[2015-02-23 17:57] jlowdermilk commented on #4428
+1 to make .kubeconfig a context bundle and decouple current settings.

[2015-02-23 18:29] #3050 closed

[2015-02-23 18:36] dchen1107 opened #4729 "Investigate on how to decouple containers' lifecycle from daemon"
Today kubelet relies on docker daemon to control the lifecycle of a container; when docker daemon is restarted, all running containers have to be restarted. This is not acceptable behavior for many services, especially high-availability ones since docker daemon could  be crash, or upgraded. We need to figure out how to fix such issue if docker couldn't.

We talked about this offline many times, an

[2015-02-23 18:52] smarterclayton opened #4731 "RestartPolicyNever leaves infra pods running forever"
Pods with RestartPolicyNever are leaving behind infra pods.  Those infra pods should be nuked as soon as the last successful run is completed.

For people with lots of successful / failed never pods this consumes IP addresses which is bad when IP addresses are in use.

I suspect this is because we don't have another marker that the pod has completed, but we probably need to get that fixed before 1

[2015-02-23 19:00] bgrant0607 commented on #4723
Yes, apparently we didn't document the CamelCase rule.

[2015-02-23 19:03] bgrant0607 commented on #4691
The error message is cryptic, which we should fix, but the real fix to this is to retry.

[2015-02-23 19:39] mikedanese commented on #4578
I particularly like RFC6902 for expressing intent. A patch to update NodeStatus would look like:
[code]
Where the intent is explicit in the op and path.

It would also be reasonable to move status into a separate endpoint as they have a separate "lifecycle" from the resource they are associated with. I would also think that status would move to a separate key/value in etcd if we were to move statu

[2015-02-23 19:48] sidharta-s commented on #4302
I figured I'd add to this issue rather than create a new one. I attempted to create a vagrant cluster today (dev tree is up to date) with 1 Master and 1 Minion and the cluster creation is stuck in the 'Validating master' loop ( for over 10 minutes in the validating loop ). salt-master and salt-minion logs seem to be empty ( they don't appear to be running, in fact ).

[code]

[2015-02-23 19:53] bprashanth commented on #4691
If I was writing an app external to kube that was polling rc count in this way (eg loadbalancer) I would find last write wins a little unexpected, but maybe I'm overthinking this.

[2015-02-23 19:53] sidharta-s commented on #4302
I still have the cluster running in case anybody wants additional information.

[2015-02-23 19:56] bprashanth commented on #4691
Hrm, I guess no load balancer would shell out to kubectl

[2015-02-23 19:57] smarterclayton commented on #4578
----- Original Message -----

It doesn't have to - in fact we know want to mutate status and annotations at the same time.  Also, we want people to be able to watch pods.  We can talk about this more when we talk about status but there are advantages to having one stored object and two virtual objects pointing to it.

[2015-02-23 20:03] bgrant0607 commented on #4691
Re. "last write wins": That's what the preconditions are for (look at resize flags).

[2015-02-23 20:06] abhgupta commented on #367
@pires @jbeda @brendanburns @bgrant0607 Am a bit late to this discussion, but in case this issue is still relevant, here is my take. The "avoid co-schedule" functionality is now easier to implement in a more generic manner, while also being closer to what the user actually intended.

The user could either want to avoid co-scheduling on a per-minion basis, or for a rack/zone/etc. https://github.com

[2015-02-23 20:07] abhgupta commented on #3945
Just added a comment here https://github.com/GoogleCloudPlatform/kubernetes/issues/367#issuecomment-75620779

[2015-02-23 20:20] smarterclayton commented on #4640
Ah, this was a regression due to #4373.  It's very harmful for RestartPolicyNever pods, slightly less important for RestartAlways.

[2015-02-23 20:20] smarterclayton commented on #4640
@bgrant0607 I'd like to bump this back to P1, it makes run once pods impossible to view the logs on.

[2015-02-23 20:21] deads2k commented on #4428
I have a few questions about this file:
 1. Are various .kubectl files merged together or loaded in a highest level wins order?
 1. Should .kubectl files be built in a generic way that maps them exactly to command line parameters or is it a defined subset?
 1. Should environment variables be one off overrides or should there be some pattern for describing them?

[2015-02-23 20:23] satnam6502 commented on #4640
Are you using Elasticsearch cluster level logging?
I have peen pondering the idea of producing a pob that makes it easy to browse the logs of current and recent pods through a web interface by fetching the information from Elasticsearch and then cross-referencing with the master to map pods to Docker container IDs etc.
Would that be useful for you? If yes, I can make that a priority after I nail t

[2015-02-23 20:27] satnam6502 opened #4736 "Make cluster level logs easier to access using a cluster log browser pod"
It might be very useful to have a pod that presents a web-based interface for browsing the logs of current and recent pods. This would work by fetching the logs from Elasticsearch (or Cloud Logging) and cross referencing them with information in the masdter, etcd, events etc. This could be very valuable for debugging run once pods, end to end tests as well as for general log access.

If we decide

[2015-02-23 20:31] bgrant0607 commented on #3760
From discussion with @thockin: This is a requirement in order to support service port ranges, which aren't required for 1.0, but we would like to support eventually.

[2015-02-23 20:32] bgrant0607 commented on #4259
GSoC application is now complete. Let me know if you have more project ideas.

[2015-02-23 20:51] smarterclayton commented on #4640
We are not, quite yet - we're trying to have both the simpler level and the higher level work at the same time (so you can do streaming without ElasticSearch, and if you have ES you get the better experience).

----- Original Message -----

[2015-02-23 20:51] smarterclayton commented on #4640
But we do want to consume it.

----- Original Message -----

[2015-02-23 20:57] bgrant0607 commented on #1451
For the record: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/M66vUmBvBu4/V5mwq3v69P0J

[2015-02-23 21:07] thockin opened #4737 "Reconsider the value of named container ports"
Allowing a service to target a port by name-or-number brings some complexity to a number of places in our codebase.  Is it worthwhile?  I am no longer convinced.  Discuss..

[2015-02-23 21:08] dchen1107 commented on #4640
yes, #4373 adds the restriction to only running container, and we should provide ability to view logs of pod in failed state. But the previous way is too ad hoc. When you view the log, you could view the running one, or previous failing one right before Kubelet restart one when policy is RestartNever.

[2015-02-23 21:08] bgrant0607 commented on #4640
@saad-ali

[2015-02-23 21:11] bgrant0607 commented on #4640
@vishh

[2015-02-23 21:17] bgrant0607 commented on #4640
@smarterclayton Priority bumped up. Agree that #4373 was a regression.

[2015-02-23 21:23] vishh commented on #4304
This is breaking monitoring since it requires the proxy. Bumping up the priority to P0.

[2015-02-23 21:23] bgrant0607 commented on #4737
More detail: IntOrString is used in Service.ContainerPort and in HTTPGetAction and TCPSocketAction.

I'm in favor of getting rid of IntOrString for Service.ContainerPort.

It seems less of a problem for the hooks/probes, and would be more tedious to keep those port values in sync.

[2015-02-23 21:24] ghodss commented on #4428
Merged. It should work similarly to gitconfig or bashrc - you start with /etc/kubectl and merge ~/.kubectl on top. We could also add the ability to provide a custom kubectl through command line param or env var but it should not be a common use case, and certainly tooling should not use that strategy (tooling should just use command line parameters).

We should start with a generic way for both an

[2015-02-23 21:27] bgrant0607 commented on #4428
I agree that we should try a generic approach. In my experience, ad hoc mappings create usability and maintainability problems.

[2015-02-23 21:32] smarterclayton commented on #4640
New algorithm, always find the most recent container attempt and show that?

[2015-02-23 21:40] dchen1107 commented on #4640
@smarterclayton Yes, we are going to support like this.

[2015-02-23 21:40] satnam6502 commented on #4640
I've created an issue #4736 ... if it gets traction I am happy to work on it. I also plan to tweak our Elasticsearch cluster level bring up code to remote the last shread of a GCE specific call (to get the public IP of a service) with the equivalent `kubectl` call (although this feature would not be needed for a cluster level log viewer).

[2015-02-23 21:54] bgrant0607 commented on #2726
The spec and status will be updated by different entities, at different times.

Users, rollout tools, and automated services (auto-scalers, etc.) will update metadata and spec relatively frequently, but probably not continuously. Still, once auto-scaling and auto-sizing are common, safe updates (i.e., using resourceVersion preconditions) initiated by users will often need to be retried before they

[2015-02-23 22:00] vishh commented on #4721
How are you trying to access the dashboard @jszczepkowski - via the proxy or using the nodeIP ?

[2015-02-23 22:04] bgrant0607 commented on #4578
I agree we should think about splitting spec and status in etcd. I commented on #2726. I agree that simultaneous annotation updates are an issue. If we had true multi-object transactions, we could implement each object as 3 records: metadata (would need to factor out resourceVersion), spec, status.

[2015-02-23 22:08] smarterclayton commented on #4578
I'm pretty sure most people who want to watch etcd objects want to see updates on status and spec.  I think there is definitely the potential for user intent changes to get lost in the much larger history of status changes... but I don't see how separating them makes the outcome better for most naive cases.

[2015-02-23 22:21] smarterclayton commented on #2726
A good point, and has the potential to drive the design more than others.  However, what are the changes that matter, and will they result in deltas?  Restart time, attempts, should converge to one write per change - the simpler an object's status the less likely is a write.

However, user intent changes and object status changes do have different retention rates (although in a perfect world you'd

[2015-02-23 22:37] sidharta-s commented on #4302
/cc @derekwaynecarr

please let me know if there is any other information about my vagrant setup that I need to post here.

[2015-02-23 22:37] alex-mohr opened #4743 "skydns depends on quay.io/coreos/etcd:latest"
The DNS addon has a dependency on a container image "quay.io/coreos/etcd:latest".  That's currently v0.4.6, but will presumably shift to v2.x at some point.

To prevent an incident when that happens, we should launch etcd from a known-good version that's known-compatible with skydns -- not :latest.

[2015-02-23 22:40] alex-mohr opened #4746 "elasticsearch-logging-controller depends on dockerfile/elasticsearch[:latest]"
The elasticsearch addon depends on dockerfile/elasticsearch.  That's :latest, and not a specific version, so an upstream push can break k8s logging.  It should instead depend on a known-good version that we know will work.
@satnam6502 perhaps?

[2015-02-23 22:41] rjnagal commented on #4736
@satnam6502 Marked it as P2 till we decide about making it a P1.

[2015-02-23 22:43] satnam6502 commented on #4746
Yes, I know, and it is on my plate to make a kubernetes/elasticsearch which has a well chosen base image, explicit image task etc. I hope to do this soon as part of the P1 fixit for Elasticsearch end to end testing. #3388
I was thinking of filing this issue myself this morning :-)

[2015-02-23 22:44] sidharta-s commented on #3760
@thockin "This has the downside of not being compatible with older iptables and kernels."  How 'new' would the kernel have to be?

[2015-02-23 22:47] rjnagal commented on #4729
@dchen1107 Is this meant to track a solution in docker, or a workaround in kubelet? A possible kubelet workaround would be to add a task manager that does image pulls and interfaces directly with libcontainer. Are there other lighter weight alternatives?  Not sure if maintaining a task management layer is feasible for P1 timeframe.

[2015-02-23 22:58] dchen1107 commented on #4640
cc/ @ArtfulCoder

[2015-02-23 23:03] rjnagal opened #4747 "Document process for upgrading a running cluster"
I couldn't find one - feel free to close with a pointer.
Just saying we can't + a roadmap would be enough.

[2015-02-23 23:11] pires commented on #4747
+1

/cc @jasonkuhrt

[2015-02-24 00:19] onsi commented on #3837
I'm super excited to hear y'all are giving Ginkgo/Gomega a try :)

Ginkgo was written with exactly these kinds of integration tests in mind.  You might want to look into using `Eventually` and, maybe, writing custom matchers.  You'd get a lot of what you're trying to do in

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/util.go

for free.

Over at cloud foundry we're using

[2015-02-24 00:23] pravisankar opened #4752 "Update node with --patch fails for api version v1beta1/v1beta2"
Node manifest:
{
"kind":"Minion",
"id":"10.245.1.3",
"apiVersion":"v1beta1",
"hostIP":"10.245.1.3",
"resources":{"capacity":{"cpu":1,"memory":3221225472}},
}

Tested on k8s vagrant environment (repo HEAD 74c0dd179e7c789bcf5cb2):
[kubernetes]$ cluster/kubectl.sh update nodes 10.245.1.3 --patch='{"apiVersion": "v1beta1"}'
F0223 16:12:38.180732   20375 update.go:123] error unmarshaling JSON: json: ca

[2015-02-24 00:29] rjnagal commented on #4752
@vishh can you take a look?

[2015-02-24 00:30] vishh commented on #4752
Ack.

[2015-02-24 00:37] vishh commented on #3391
Closing this since separate issues exist for fixing other end points.

[2015-02-24 00:37] #3391 closed

[2015-02-24 00:39] bgrant0607 commented on #4752
The value specified for memory is not a legal 32-bit integer.

[2015-02-24 00:43] vishh commented on #4752
@bgrant0607: This could be related to #4041. I think the 'int' there could be 32 or 64 bit based on architecture as mentioned in that issue.

[2015-02-24 00:56] erictune commented on #4710
I'm not yet seeing the use case for environment variables.   They have some terrible properties, which @pmorie does list above.

First, not all users have stringent security requirements.  For some users, having access to the namespace in which the pod is created means that it is probably okay for you to see the secret.  So, for those users, they don't need to use the /secrets type.  They can just

[2015-02-24 00:57] jdef opened #4757 "assignPod does not validate that the pod actually exists"
There is a small window of time in scheduling, during which a pod may be deleted before it's actually bound. This causes zombie pods to be created in the registry. I've actually managed to accumulate a few of them since my scheduler implementation actually makes this window bigger than the default k8s implementation. The result looks something like this (the Unknown's at the top):

[code]

They ca

[2015-02-24 01:11] lavalamp commented on #4304
Sorry for dropping this. Working on a fix.

[2015-02-24 01:33] lavalamp commented on #4610
Furthermore, once MIG recreates one of your nodes, kube-push.sh will never work on your cluster again: it always thinks your cluster is broken because of the one node having not been provisioned.

[2015-02-24 01:34] thockin commented on #3760
Not TOO new, but we have some users who REALLY want iptables from 2012 to
work.

On Mon, Feb 23, 2015 at 2:44 PM, Sidharta Seethana <notifications@github.com

[2015-02-24 01:37] thockin commented on #4737
If we keep named ports at all it feels bad to not support them
consistently..

On Mon, Feb 23, 2015 at 1:23 PM, Brian Grant <notifications@github.com>
wrote:

[2015-02-24 01:50] thockin opened #4758 "kubectl expose demands a selector and hates my --port"
thockin@freakshow kubernetes plural_30_endpoints /$ ./cluster/kubectl.sh expose hostnames --port=80 --container-port=9376
F0223 17:48:27.036475    1770 expose.go:84] Parameter: selector is required

thockin@freakshow kubernetes plural_30_endpoints /$ ./cluster/kubectl.sh expose hostnames --port=80 --container-port=9376 --selector run-container=hostname

unknown flag: --port

Kubectl: why do you ha

[2015-02-24 01:54] bgrant0607 commented on #4737
Fair enough. At least all ports in a pod could be updated atomically.

We may want to keep port names for informational purposes if nothing else.

[2015-02-24 02:01] bgrant0607 commented on #4758
I think it's complaining about the wrong flag. Your selector flag is bad (no `=`).

[2015-02-24 02:02] vishh opened #4759 "Kubelet kills POD container after other containers when the containers have changed"
cAdvisor API is not accessible from the node. It is accessible from inside the cadvisor container though. This is the reason for the cadvisor e2e test to fail and the recent heapster errors reported by users.
The cadvisor version itself hasn't changed recently though.

[2015-02-24 02:03] bgrant0607 commented on #1502
I think this is done.

[2015-02-24 02:03] #1502 closed

[2015-02-24 02:03] vishh commented on #4759
cc @vmarmol

[2015-02-24 02:04] vishh commented on #3883
The reason for this failure is #4759. I am closing this issue since the test itself is fine.

[2015-02-24 02:04] #3883 closed

[2015-02-24 02:04] vmarmol commented on #4759
There were some changes recently around port forwarding (@thockin?) that may be the cause.

[2015-02-24 02:05] thockin commented on #4758
Damn, I *have* to use an = in long flags?  What is happening to this world?

And you're right - what an utterly useless error message

On Mon, Feb 23, 2015 at 6:02 PM, Brian Grant <notifications@github.com>
wrote:

[2015-02-24 02:06] vishh commented on #4759
From the node:
[code]
From the cadvisor container:
[code]

[2015-02-24 02:07] vishh commented on #4752
This seems like a bug in our update logic. The yaml round tripping seems to be working fine. Un assigning myself to see if someone else wants to pick up this issue and triage it. If not, I will get to it soon.

[2015-02-24 02:11] rjnagal commented on #4759
@fbalejko reported the same issue today. Restarting the container seems to fix it. So, its something to do with the initial setup.

[2015-02-24 02:15] vmarmol commented on #4759
Could this be due to Docker 1.5?
On Feb 23, 2015 6:12 PM, "Rohit Jnagal" <notifications@github.com> wrote:

[2015-02-24 02:22] yujuhong commented on #4090
Here is an preliminary proposal after poking around the relevant modules.

**Goal**: Expose static pods and their associated events through `kubectl`
**Non-goal**: Make scheduler aware of the resource consumed by static pods so that it can make more intelligent scheduling decisions. This is scoped for future work.

Kubelet watches 4 sources for pods: http, apiserver, file, and etcd. It receives th

[2015-02-24 02:37] thockin opened #4761 "Rectify "Kind" and "Type" in the API"
Specifically because "kind" is used by typemeta.

Several objects have SomethingType.  Others have SomethingKind.  Would be nice to choose one style and do it all over.

[2015-02-24 03:05] bgrant0607 commented on #4761
I now think it was a mistake to proliferate use of "kind" for node and pod conditions, since "type" is much more common in the API. @ddysher @mikedanese

[2015-02-24 04:07] nikhiljindal opened #4763 "Figure out a way to automatically update swagger-spec for swagger ui on kubernetes.io"
We use https://github.com/GoogleCloudPlatform/kubernetes/tree/gh-pages/swagger-spec to produce the static documentation at http://kubernetes.io/third_party/swagger-ui/.
The spec there is a copy of https://github.com/GoogleCloudPlatform/kubernetes/tree/master/api/swagger-spec which is generated from code using https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/update-swagger-spec.sh

[2015-02-24 04:15] nikhiljindal commented on #4083
1. Regarding duplicate body params: That has been fixed but the swagger-spec used to generate the documentation on kubernetes.io was not updated. Will send a PR for that. (We need to automate that: https://github.com/GoogleCloudPlatform/kubernetes/issues/4763)

2. This sounds like a bug that needs fixing.

We use https://github.com/emicklei/go-restful to generate our swagger-spec. We should check

[2015-02-24 04:39] sidharta-s commented on #3760
@thockin thanks. We are using/testing with RHEL/CentOS 6, for example - so it would nice if we don't have a hard dependency on recent 3.x kernels.

[2015-02-24 04:44] pmorie commented on #3760
@pweil- we were discussing this the other day
On Mon, Feb 23, 2015 at 11:40 PM Sidharta Seethana <notifications@github.com>
wrote:

[2015-02-24 05:26] bgrant0607 commented on #2585
Was discussed in person. Use cases:

* Peers of distributed applications, which keep track of peer IPs and use static ports
* Caching systems watching all endpoints, which otherwise need to synchronize updates to N lists
* Monitoring systems, which otherwise need to figure out which endpoints lists to monitor and which ones not to monitor
* Clients that need to get meta-info (API reflection, authe

[2015-02-24 05:33] thockin commented on #3760
Well, you do need Docker to run, and at some point we have to cut it off.
The back-rev iptables support will not stop me from (eventually) making
this change, and it's going to sting for some people.

On Mon, Feb 23, 2015 at 8:40 PM, Sidharta Seethana <notifications@github.com

[2015-02-24 06:04] thockin commented on #4090
Plan sounds good overall.  I'm not sure I understand the shadowing - but I
guess I don't really know how the API server "asks kubelet" for info..

I agree 1a.

Regarding point 3: The problem with using hostname as namespace is that
it's entirely possibly for users to collide with that.  We do not have any
"reserved" namespace that we can use.  What we do now is a hack to make it
less likely to col

[2015-02-24 06:17] mikedanese commented on #4761
The {Node,Pod}ConditionKinds seem like the only types where Kind was used unnecessarily. Is this just a rename?

[2015-02-24 06:50] rjnagal commented on #4759
@fbalejko test machine is running Docker 1.4.1

It looks like cadvisor container is sharing its networking with the pause container as usual, but the pause container got restarted, so the networking setup isn't working anymore. Restarting cadvisor connects it to the newer instance of the pause container and it starts working again.

[code]

However docker inspect shows that cadvisor is connected t

[2015-02-24 07:06] vmarmol commented on #4759
Thanks for the detailed debugging @rjnagal :) with your report I think I found the issue.

In [syncPod()](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1013) we check if the container has changed and print the [hash changed](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1120) message above. *After* that we [restart](ht

[2015-02-24 07:10] rjnagal commented on #4759
cool, I was just staring at that code. All yours :+1:

[2015-02-24 07:17] jszczepkowski commented on #4721
I'm trying to access grafana via host ip of the node. This is the address written by kube-up.sh:
``Grafana dashboard will be available at http://XXX.''
Is there a proxy for grafana? AFAIK, we have services with forwarding rules only for elasticsearch and kibana.

[2015-02-24 07:33] bgrant0607 commented on #4761
@mikedanese This was forked from #4653. In particular, see:
https://github.com/GoogleCloudPlatform/kubernetes/pull/4653#issuecomment-75613081

[2015-02-24 07:37] bgrant0607 commented on #4758
See:
#2862
https://github.com/ogier/pflag/issues/14

[2015-02-24 07:44] bgrant0607 commented on #341
Yes, `fields.ParseSelector` sounds ok to me.

[2015-02-24 08:05] bgrant0607 commented on #2726
I totally agree that we need to ensure that watch works for status.

[2015-02-24 12:05] derekwaynecarr commented on #4302
I have been working to get more stability in this environment over last few days.

Can you try again from HEAD after this merges: https://github.com/GoogleCloudPlatform/kubernetes/pull/4754

[2015-02-24 12:07] derekwaynecarr commented on #4302
Can you also verify that you built a release prior to running cluster/Kube-up?

[2015-02-24 13:18] piosz commented on #4721
We also tried to connect api proxy (http://localhost:8001/api/v1beta1/proxy/services/monitoring-grafana) and we also sth weird like "{{allert.title}}".

[2015-02-24 13:48] brendandburns commented on #4721
That looks like angular crashed part way through.  What does the javascript
console in your browser show?

Brendan
On Feb 24, 2015 5:18 AM, "Piotr Szczesniak" <notifications@github.com>
wrote:

[2015-02-24 13:58] lhuard1A opened #4771 "“kubectl update service --patch” is broken in hack/test-cmd.sh"
`hack/test-cmd.sh` contains a list of `kubectl` commands to test.
Those commands are run in a loop of API version.

Among those commands, there is the following one:
[code]
This command is supposed to update the version selector of the service.

The `kubectl get services` command that is just after shows:
[code]

The `version=old` on the first and last lines indicate that the update failed.

[2015-02-24 14:38] gmarek commented on #4731
I can work on it, if no one is already.

[2015-02-24 14:43] zmerlynn opened #4774 "Drop cadvisor test timeouts back"
Once #4759 is fixed, the cadvisor timeouts should be dropped back down and the test cleaned up. Just noting a work-item that I meant to open when we merged #4739.

[2015-02-24 14:51] zmerlynn commented on #4250
This is already tested in the guestbook e2e, which is getting rewritten in Go as part of #4389. We need to figure out how `test-cmd.sh` fits into the world at some point.

[2015-02-24 14:57] zmerlynn commented on #4661
Isn't this because it's just broken right now? I swear I just saw a PR on the naked `delete` command here:

[code]

[2015-02-24 15:03] dchen1107 commented on #4759
Thanks for debugging the issue. This is a regression we introduced lately.

[2015-02-24 15:14] zmerlynn commented on #4759
And when @vishh added the test, we all assumed it was the test failing. Sorry, @vishh. :)

[2015-02-24 15:19] rsokolowski commented on #4661
It isn't just this. For me it always breaks if kubectl is not invoked with "${kube_flags[@]}".

[2015-02-24 15:47] pmorie commented on #4710
@erictune @smarterclayton I've been thinking about the read-from-file wrapper.  I'm not quite sure what the API should be, but it might be something we could do in conjunction with volumes.  As a random thought, maybe if you want to consume secrets as env vars, you could have an 'env' attribute on a `SecretVolumeSource` that made the volume plugin generate a single env file.

[2015-02-24 15:49] rkettelerij commented on #1957
+1 for consul

[2015-02-24 15:54] alml opened #4777 "PodInterface should support Watch"
PodInterface should have Watch method behaving in the same way as ServiceInterface.Watch does.

Use case: a monitoring system (namely Prometheus) expects to get the list of monitored servers performing a  DNS-SD query. Special service (similar to kube2sky shipped with Kubernetes) mirrors status of running Pods into etcd, which is in turn monitored by SkyDNS server and exported as DNS-SD. Schematic

[2015-02-24 16:01] rsokolowski commented on #4743
The easiest thing is to replace latest with v0.4.6, however this version has issues like https://github.com/coreos/etcdctl/issues/109
I've checked with v2.0.0 and DNS works however I've encountered https://github.com/coreos/etcd/issues/2253.
Since API-server's etcd is being converted to v2.0.3 ( #4442) I'm going to use the same version and just fix the command line to make etcd accessible from out

[2015-02-24 16:24] piosz commented on #4721
monitoring-grafana:8 GET http://localhost:8001/api/v1beta1/proxy/ns/default/services/monitoring-grafana/css/grafana.dark.min.21253ffa.css
monitoring-grafana:11 GET http://localhost:8001/api/v1beta1/proxy/ns/default/services/monitoring-grafana/app/app.496fdc2e.js
monitoring-grafana:13 Uncaught ReferenceError: require is not definedmonitoring-grafana:13 (anonymous function)
monitoring-grafana:19 GET

[2015-02-24 16:25] piosz commented on #4721
@vishh is it still possible to connect to grafa using nodeIP?

[2015-02-24 16:57] smarterclayton commented on #2726
Minimal change for status is up - there's some factoring that I want to do, but it's working

[2015-02-24 17:49] pmorie commented on #4250
@zmerlynn clarify what you mean by 'the world' ?

Also, I think @sdminonne recently did this in #4649.

[2015-02-24 18:11] vishh commented on #4759
@zmerlynn: I fell for that until I realized that the basic networking can also fail :)

[2015-02-24 18:14] vishh commented on #4721
Yes. It should still be possible. The firewall rules are setup on GCE by
default to access Grafana. I assume you are running on GCE.

On Tue, Feb 24, 2015 at 8:26 AM, Piotr Szczesniak <notifications@github.com>
wrote:

[2015-02-24 18:16] vishh commented on #4721
Can you check if firewall rules are setup to access Grafana?

On Tue, Feb 24, 2015 at 10:14 AM, Vishnu Kannan <vishnuk@google.com> wrote:

[2015-02-24 18:20] piosz commented on #4721
I set up cluster using hack/dev-build-and-up.sh. In Google Developer Console under Compute->Network Load Balancing->Forwarding Rules I can see only the following entries:

elasticsearch-logging     us-central1     104.154.82.11     TCP/9200     elasticsearch-logging
kibana-logging      us-central1     104.154.82.224     TCP/5601     kibana-logging

[2015-02-24 18:21] vishh commented on #4721
Can you look at "Firewall rules"?

On Tue, Feb 24, 2015 at 10:20 AM, Piotr Szczesniak <notifications@github.com

[2015-02-24 19:04] DreadPirateShawn commented on #2575
As a note, the "Debugging FAQ" page still refers to kubecfg list events rather than kubectl get events.
https://github.com/GoogleCloudPlatform/kubernetes/wiki/Debugging-FAQ

(I didn't see a separate ticket for that, so apologies if I'm just blind...)

[2015-02-24 19:05] DreadPirateShawn opened #4782 "Update Debugging FAQ to refer to kubectl"
The "Debugging FAQ" page still refers to `kubecfg list events` rather than `kubectl get events`.
https://github.com/GoogleCloudPlatform/kubernetes/wiki/Debugging-FAQ

Related to #2144.

[2015-02-24 19:15] dchen1107 opened #4783 "Add e2e test for etcd failures handling"
We ran into a lot of issues when etcd crashes. We need tests to ensure all components / daemons are doing the right things etcd is down, and recover later.

[2015-02-24 19:16] vishh commented on #4757
cc @davidopp @dchen1107. Is this a known issue?

[2015-02-24 19:20] vishh commented on #4777
cc @lavalamp: Do you know why we do not support watch?

[2015-02-24 19:21] sdminonne commented on #4250
@pmorie @zmerlynn yeah... and Lenaic today did this https://github.com/GoogleCloudPlatform/kubernetes/pull/4773 as part of our `kubectl

[2015-02-24 19:22] mikedanese commented on #4771
I can look at this.

[2015-02-24 19:23] jdef commented on #4757
@vishh see #4780 -- I reproduced this problem on an older branch. The unit test confirms the problem for those older releases, but not in the v0.11 tag or master branch.

[2015-02-24 19:27] vishh commented on #4782
I think this has been fixed.

[2015-02-24 19:55] zmerlynn commented on #4250
I was more commenting that it seems duplicative to test much in both places, but the e2e test has its place, too.

[2015-02-24 19:55] zmerlynn commented on #4250
It sounds like this issue should be closed. :)

[2015-02-24 19:55] #4250 closed

[2015-02-24 20:00] pmorie commented on #4250
@zmerlynn I wondered about the wording 'the world', because there's a use-case for us downstream wherein we want to run a sanity check of OpenShift against upstream's test-cmd or something like it:

https://github.com/openshift/origin/issues/739

[2015-02-24 20:03] jonlangemak opened #4785 "Host IP missing from pod"
While debugging Heapster we noticed that the host IP field in a pod status isnt being set....

host:192.168.10.65 HostIP: PodIP:10.10.40.6

My setup is bare metal so Im sure it's a little different than on GCE but I would think it should still be reported.  Below are some outputs for debugging...

Logs from the Heapster container (newest v.8) running debug
https://gist.github.com/jonlangemak/17bd4

[2015-02-24 20:05] vishh commented on #4785
cc @ddysher

[2015-02-24 20:07] yujuhong commented on #4757
This seems like the same issue as #3950, which is already fixed in ToT.

[2015-02-24 20:09] vishh commented on #4757
Closing this issue. @jdef lets use #3950 for further discussions.

[2015-02-24 20:09] #4757 closed

[2015-02-24 20:28] DreadPirateShawn commented on #4782
Only partially fixed -- `kubecfg` was changed to `kubectl`, however now it's an invalid command -- `cluster/kubectl.sh list events` doesn't work, the "list" also needs to be changed to "get".

[2015-02-24 20:31] DreadPirateShawn commented on #4782
[code]

[2015-02-24 20:31] DreadPirateShawn commented on #4782
[code]

[2015-02-24 21:23] sidharta-s commented on #4302
@derekwaynecarr  yes, I started from scratch and built a release before running cluster/kube-up.sh - cluster/kube-up.sh seems to fail fairly early in case there is no release build available.

[2015-02-24 21:24] sidharta-s commented on #4302
@derekwaynecarr It looks like https://github.com/GoogleCloudPlatform/kubernetes/pull/4754 got merged. I'll try again and get back to you.

[2015-02-24 21:37] #4759 closed

[2015-02-24 21:52] vmarmol opened #4787 "Handle POD infra container updates better"
We fixed #4759 but there are still some edge cases if we need to restart more than 1 container in the same pod. We need to improve our handling of these cases. Any time we have to restart the POD infra container, we must restart *all* containers in the pod. This may run against restart settings.

[2015-02-24 21:58] vishh opened #4788 "Improve content of scheduler events"
The existing event when ever scheduling fails for a pod is not informative.
`failed to find a fit for pod: <pod spec>`
The system should provide specific reasons for failing scheduling.