[2018-02-16 17:58] jiayingz commented on #59380
To me, I usually use "shareable" to mean that a container can require partial device resource through container resource request API. E.g., if a nic has 10G bandwidth and we allow a container to request 5G of that bandwidth, the device is "shareable". On the other hand, "re-allocateable" to me means that a container still requests device access as a whole object. The container isolation and perfor

[2018-02-16 18:00] steffengy commented on #59979
@kubernetes/sig-aws-bugs @kubernetes/sig-cluster-lifecycle-bugs
To make the bot happy.

[2018-02-16 18:04] #21976 closed

[2018-02-16 18:04] #24854 closed

[2018-02-16 18:04] #21875 closed

[2018-02-16 18:04] #22060 closed

[2018-02-16 18:04] #21890 closed

[2018-02-16 18:04] #19704 closed

[2018-02-16 18:04] #21216 closed

[2018-02-16 18:06] dims commented on #59978
cc @stevekuznetsov does this conformance test really need privileged containers?

[2018-02-16 18:15] ravisantoshgudimetla opened #59980 "Use protobuf for scheduler extender communication"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Scheduler as of now, uses json while communicating with  extender. It would be better if we can use protobuf. This is needed if we want to use extender for usage based scheduling.

cc @aveshagarwal

 /kind feature
/sig scheduling

[2018-02-16 18:16] ravisantoshgudimetla commented on #59980
/assign

[2018-02-16 18:19] stevekuznetsov commented on #59978
Yep, it fails under SELinux AFAIR when they're not privileged

[2018-02-16 18:27] dims commented on #59978
@stevekuznetsov BUT we can't be mandating that a kubernetes distro is conformant ONLY if they support privileged containers!

[2018-02-16 18:40] wojtek-t commented on #54974
/remove-lifecycle stale
/lifecycle frozen

[2018-02-16 18:46] steffengy commented on #59979
Seems to be fixed by https://github.com/kubernetes/kubeadm/issues/476#issuecomment-340223926

Atleast now the error message can be associated with that, my search didnt reaval anything.

[2018-02-16 18:46] #59979 closed

[2018-02-16 18:58] stevekuznetsov commented on #59978
I'm not super well versed in the specifics of this case -- maybe @rhatdan or @pmorie can weigh in if we need full privilege or of asking for a privileged container was simply the only option with the `docker` container runtime. Perhaps k8s conformance should not require `HostPath` volume support?

[2018-02-16 19:05] #17285 closed

[2018-02-16 19:05] #22596 closed

[2018-02-16 19:05] #22455 closed

[2018-02-16 19:05] #22325 closed

[2018-02-16 19:05] #23117 closed

[2018-02-16 19:05] #23212 closed

[2018-02-16 19:05] #23257 closed

[2018-02-16 19:05] #23292 closed

[2018-02-16 19:05] timothysc commented on #59978
I would tend to agree, but @kubernetes/sig-architecture-bugs holds the keys on what is in vs. out for conformance.  We need their signoff 1st.

[2018-02-16 19:13] dims commented on #59978
We did not catch this because all our conformance suites are running in cloud providers with privileged mode. i am working on getting this one up and running - https://github.com/kubernetes/test-infra/issues/3328

[2018-02-16 19:13] sjenning commented on #59978
I changed a few test away from using hostPaths in the past because they didn't work with SELinux.

https://github.com/kubernetes/kubernetes/pull/43407
https://github.com/kubernetes/kubernetes/pull/43395

I for one do not think that hostPaths should be used in e2e tests.  I know that makes e2e testing whether they work or not problematic.

[2018-02-16 19:29] enisoc commented on #25908
One concern I have with the approach of solving this purely within the Job controller is that the Pod will continue to run after the Job finishes. Currently, the Pod enters Terminated phase and the Node can free up those resources.

You could have the Job controller delete the Pod when the controller decides it's done, but that would also be different from the current behavior, where the Terminate

[2018-02-16 19:48] wenjiaswe commented on #58552
@bjhaid

Sorry I was working on something else and just got a chance to revisit this issue this week. I have my kubernetes on gce, set up the cert not exactly but very similar to your repo, with just some justification based on my setting (the two openssl command has different DNS like what you had):

I added --etcd-cafile in kube-apiserver.manifest:

I added the following in etcd.manifext:

I am

[2018-02-16 20:06] #33015 closed

[2018-02-16 20:06] #31713 closed

[2018-02-16 20:06] #34056 closed

[2018-02-16 20:06] #30689 closed

[2018-02-16 20:06] #23477 closed

[2018-02-16 20:06] #35168 closed

[2018-02-16 20:31] rphillips commented on #19570
Would there be any objections to start the deprecation process for componentstatus? or write up an issue stating the reasons why we should deprecate CS?

[2018-02-16 21:07] #35162 closed

[2018-02-16 21:07] #27388 closed

[2018-02-16 21:13] dashpole opened #59983 "Eviction tests are failing in node e2e serial suite"
https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-serial-gce-e2e&include-filter-by-regex=Eviction

It correlates with tests setting the EvictionMinimumReclaim setting when using dynamic kubelet config.

This was caused by #53833, but my guess is that we can't use an empty EvictionMinimumReclaim setting like we do here: https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/evic

[2018-02-16 21:39] dashpole commented on #59983
It looks like the default is actually empty, so we can just remove those settings from the eviction test.

[2018-02-16 21:41] enj opened #59984 "Validation on update and delete"
As it stands today, changes to validation logic can break the API if they tighten the requirements for an object.  The general case for this is:

1. Create object `X`
2. Upgrade to new server version
3. Try to update object `X` (add a label for example)
4. The update fails because of validation errors

Specifically, an object already stored within the API is considered invalid.

Another similar is

[2018-02-16 21:41] andrewsykim commented on #5607
@dixudx I've tried running this host path config on my deployment:
[code]

But from the kubelet I see
[code]

On the host /dev/fuse is definitely a character device
[code]

[2018-02-16 22:08] #31415 closed

[2018-02-16 22:08] #36633 closed

[2018-02-16 22:08] #34968 closed

[2018-02-16 22:08] #30827 closed

[2018-02-16 22:08] #35792 closed

[2018-02-16 22:08] #36082 closed

[2018-02-16 22:08] #36191 closed

[2018-02-16 22:08] bsalamat opened #59987 "Priority admission controller should choose one default priority class deterministically"
Priority admission controller has the logic to check that only one PriorityClass is marked as global default. However, due to inherent race condition associated with creating multiple API objects at the same time, especially in HA cases, more than one PriorityClass marked as global default may get into the system. In that case, the admission controller must pick deterministically. For example, it

[2018-02-16 22:10] verult opened #59988 "Improve k8s support for multizone PDs."
/kind feature

* Add more e2e tests for multizone PDs.
* Align with ongoing volume topology work.

/sig storage
/assign

[2018-02-16 23:07] krousey commented on #59826
/sig api-machinery

[2018-02-16 23:09] #36544 closed

[2018-02-16 23:09] #34453 closed

[2018-02-16 23:09] #37010 closed

[2018-02-16 23:21] bhack commented on #54011
New Nvidia ami has nvidia-docker2 support https://aws.amazon.com/marketplace/pp/B076K31M1S

[2018-02-16 23:27] derekwaynecarr opened #59993 "Using systemd cgroup driver, failed to get stats for kubepods.slice/"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Follow-on issue from: https://github.com/kubernetes/kubernetes/pull/57802

See the following when using cgroup-driver=systemd every 10s

[code]

Issue is cAdvisor expects a leading / and never a trailing slash, but the expansion method used to do the conversion is omitting leading slash, and always having a trailing slash.

https://github.com/openconta

[2018-02-16 23:27] derekwaynecarr commented on #59993
fyi @dashpole @sjenning

[2018-02-16 23:37] mtaufen commented on #59983
This is fixed by https://github.com/kubernetes/kubernetes/pull/59989.
The actual issue was that the test helper was using `reflect.DeepEqual` instead of `apiequality.Semantic.DeepEqual` to ensure config updated as expected.

[2018-02-16 23:55] mithrav commented on #59585
Pinging for status

[2018-02-16 23:55] mithrav commented on #59581
Pinging for status

[2018-02-16 23:56] mithrav commented on #59528
Pinging for status

[2018-02-16 23:57] Random-Liu opened #59994 "E2E Serial test is constantly failing."
https://k8s-testgrid.appspot.com/google-gce#gci-gce-serial

It seems that some temporary node is left over in the apiserver:
[code]

Suspicious changes:
https://github.com/kubernetes/kubernetes/compare/d3dc4584f...f88ff2ab4
* https://github.com/kubernetes/kubernetes/pull/59323
* https://github.com/kubernetes/kubernetes/pull/53833
* https://github.com/kubernetes/kubernetes/pull/59887
* ...

@kubern

[2018-02-17 00:07] VeryVeryGoodNews opened #59995 "CRASHLOOPBACKOFF: Exit Code: 127"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

When I run `kubectl create -f tensorflow_serving/example/inception_k8s.yaml` from the tensorflow tutorial, the command `kubectl get pods` yields

CrashLoopBackOff error with exit code 134

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Ku

[2018-02-17 00:09] monique77 commented on #59959
Hi, rdrgporto

Tks you response

Your steps above, i execute, but continue with erros; i add key, repository
root@niki-Inspiron-5458:/opt/openconnect# cat /etc/apt/sources.list.d/kubernetes.list
deb http://apt.kubernetes.io/ kubernetes-xenial main

apt-get install -y kubelet kubeadm kubectl
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate

[2018-02-17 00:10] #20379 closed

[2018-02-17 00:10] #35135 closed

[2018-02-17 00:10] #37247 closed

[2018-02-17 00:10] #28538 closed

[2018-02-17 00:10] #37251 closed

[2018-02-17 00:14] mithrav opened #59996 "[k8s.io] Services should serve multiport endpoints from pods [Conformance] {Kubernetes e2e suite} is flaky"
This flaked 11/29 times in the last week.

/priority failing-test
/priority important-soon
/sig network
/kind flake

[2018-02-17 00:18] mithrav opened #59997 "[upgrade test failure] Garbage collector should support cascading deletion of custom resources"
This flaked 3/4 times in the last week.

/priority failing-test
/priority important-soon
/sig api-machinery
/kind flake

[2018-02-17 00:18] Random-Liu opened #59998 "Kubelet container log manager should use pod cache."
In https://github.com/kubernetes/kubernetes/pull/59898, kubelet container log manager gets container status from container runtime directly every 10 seconds.

It shouldn't introduce too much overhead. However, since kubelet has already cached all the needed information in pod cache, it would be good to make use of that to avoid the extra overhead.

/assign Random-Liu

[2018-02-17 00:19] mithrav commented on #52214
Ping for status. This is still happening

[2018-02-17 00:19] mithrav commented on #52214
/sig apps

[2018-02-17 00:21] monique77 commented on #59959
I forgot to speak, but my ubuntu is 32 bit, does it have to be 64bit?

[2018-02-17 00:31] #46789 closed

[2018-02-17 00:31] #56573 closed

[2018-02-17 00:51] krzyzacy commented on #51540
this probably should be sig-azure implementing some provider interface within kubetest, similar with sig-aws did?

https://github.com/kubernetes/test-infra/blob/master/kubetest/kops.go
and
https://github.com/kubernetes/test-infra/blob/master/kubetest/gke.go
are good references.

[2018-02-17 00:51] pwittrock commented on #58536
From @jberkus

[2018-02-17 00:58] leblancd commented on #59762
@cmluciano , @danehans , @jessicaochen , @mikedanese , @luxas
I'm convinced that all of these kubeadm related CI tests are failing because of the way that the kubernetes-cni.deb package is being created by Bazel, that is, because this package is being created without the /opt and /opt/cni parent directory entries as I described earlier. To summarize, the failure sequence for these CI tests is:
- S

[2018-02-17 01:03] tallclair opened #60001 "Common approach for delegated pod admission"
There are a number of features that apply policies to pods. However, this is challenging since pods are not typically created by users - they are typically created by a controller instantiating some pod template. Each policy addresses this in their own way:

- **PodSecurityPolicy** - policy is checked against the pods service account, in addition to the creating user. It is not intuitive to give t

[2018-02-17 01:09] tallclair commented on #60001
After writing this up, I have a preference for the namespace level approach. When relevant, the policy can be applied more granularly with labels, as with NetworkPolicy - but from an authorization perspective it's still namespaced. We could also add optional global versions that operate in the same way across namespaces (or just rely on namespace templates).

For PodSecurityPolicy, this would mani

[2018-02-17 01:11] #9403 closed

[2018-02-17 01:18] msau42 commented on #56163
Considering StorageClass add:

If:
* PVC is unbound
* Storage class name is specified
* No StorageClass object is created

Then, the volume scheduler predicates will return an error because PVC is unbound and we're not doing delayed binding.

The creation of a StorageClass afterwards, could cause the predicate to succeed, if that StorageClass has late binding enabled.  So we should add unschedulab

[2018-02-17 01:20] msau42 commented on #56163
StorageClass update:
VolumeBinding mode is immutable, so update will not cause previously failed predicate to succeed.  So for now, nothing needs to be done on update.  However, we need to revisit this when we add support for dynamic provisioning and capacity reporting in the StorageClass.

[2018-02-17 01:22] jberkus commented on #58536
Given that this is a tracker issue, can you break out the items which are actually going to get into 1.10, put those in their own issues with the milestone, and take this tracker out of the milestone?  Thanks!

[2018-02-17 01:22] msau42 commented on #56163
StorageClass delete:
The only thing deletion could do is cause predicates to fail, but not to succeed.   So nothing needs to be done here.

[2018-02-17 01:22] vishwaspai commented on #59867
I'm  using gcloud provided kubectl version with GKE and sill facing the issue.

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.6", GitCommit:"6260bb08c46c31eea6cb538b34a9ceb3e406689c", GitTreeState:"clean", BuildDate:"2017-12-21T06:34:11Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"9+", GitVersi

[2018-02-17 01:25] msau42 opened #60002 "Update volume scheduling design with event handling details"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/sig storage
/kind bug
/assign

**What happened**:
There are some tricky conditions for determining if volume predicate equivalence cache needs to be invalidated (#58797), and also if unschedulable pods should move back to the active queue (#56163).  These conditions should be documented in the code and/or design doc.

[2018-02-17 01:26] krzyzacy opened #60003 "[job failure]ci-kubernetes-e2e-gci-gke|gce-serial"
/priority failing-test
/kind bug
/status approved-for-milestone
/sig gcp

https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-serial
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial

the jobs are on the [master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking) and seems borked from yesterday.

cc @jdumars @abgworrall @jber

[2018-02-17 01:27] msau42 commented on #56104
The tests should include all the conditions described in #58797

[2018-02-17 01:27] danderson commented on #59976
@kubernetes/sig-network-bugs

I've just tested on a kubeadm 1.9.3 cluster, with IPVS mode enabled on kube-proxy. Both `externalIPs` and `status.loadBalancer.ingress[].ip` seem to be ignored by kube-proxy in IPVS mode, so external traffic is completely unrouteable.

In contrast, kube-proxy in iptables mode creates DNAT/SNAT rules for external and loadbalancer IPs.

This should be a blocker for IPVS

[2018-02-17 01:28] danderson commented on #59976
More labels and signal boosting...

/area ipvs
@rramkumar1 should this be listed as a blocker in #59662 ?

[2018-02-17 01:31] #50215 closed

[2018-02-17 01:35] monique77 commented on #59959
Hi, rdrgporto how are you?

I installed ubuntu 64Bits and it worked,

Tks so much

[2018-02-17 01:36] monique77 commented on #59959
Now, i going to test with Oracle Linux.

[2018-02-17 02:12] #36069 closed

[2018-02-17 02:12] #26787 closed

[2018-02-17 02:12] #37503 closed

[2018-02-17 02:12] #37702 closed

[2018-02-17 02:12] #35917 closed

[2018-02-17 02:50] msau42 commented on #56163
Deletion of a StorageClass with late binding enabled could cause the volume zone and volume binding predicate that previously succeeded, to start failing.  So we should invalidate the predicate ecache in this case.

I think update is still fine for now.

[2018-02-17 03:13] #26967 closed

[2018-02-17 03:13] #22147 closed

[2018-02-17 03:13] #37777 closed

[2018-02-17 04:14] #6758 closed

[2018-02-17 04:14] #38028 closed

[2018-02-17 04:14] #28443 closed

[2018-02-17 04:45] roberthbailey commented on #16337
/cc @k4leung4

[2018-02-17 05:15] #35010 closed

[2018-02-17 05:15] #25773 closed

[2018-02-17 06:16] #9464 closed

[2018-02-17 06:16] #13435 closed

[2018-02-17 06:16] #21275 closed

[2018-02-17 06:16] #18106 closed

[2018-02-17 06:16] #21225 closed

[2018-02-17 06:16] #25697 closed

[2018-02-17 06:16] #31291 closed

[2018-02-17 07:17] #24215 closed

[2018-02-17 07:17] #37984 closed

[2018-02-17 07:17] #38341 closed

[2018-02-17 07:17] #32414 closed

[2018-02-17 07:17] #35166 closed

[2018-02-17 07:54] rdrgporto commented on #59959
Hi @monique77,

**Docker** works only on **64bit** platform, so that, it is necessary to install **Kubernetes** on 64 bits.

Regards :vulcan_salute:

[2018-02-17 08:18] #18745 closed

[2018-02-17 08:18] #22262 closed

[2018-02-17 08:18] #31915 closed

[2018-02-17 08:18] #34660 closed

[2018-02-17 08:18] #32917 closed

[2018-02-17 09:19] #30258 closed

[2018-02-17 09:19] #34244 closed

[2018-02-17 09:19] #23854 closed

[2018-02-17 11:05] discordianfish commented on #35054
/remove-lifecycle rotten

[2018-02-17 13:23] #4869 closed

[2018-02-17 13:23] #38922 closed

[2018-02-17 13:43] nikhita commented on #55538
We already have integration tests for this.

Is an e2e test really needed?

[2018-02-17 14:24] #20228 closed

[2018-02-17 14:24] #37465 closed

[2018-02-17 14:36] shyamjvs commented on #53888
/remove-lifecycle rotten

On Sat, Feb 17, 2018, 8:17 AM fejta-bot <notifications@github.com> wrote:

[2018-02-17 14:58] RafalKrych commented on #44485
I'm working as software architect working for telco company, Our business is about delivering RAN software for 3G/4G/5G networks. All these networks are SCTP based. We are starting a new project which is about full codification of our software, likely by using containers & k8s. I'm taking about products which are used by like 1.5 billion people everyday. Is there any chance that SCTP protocol will

[2018-02-17 15:47] msau42 opened #60015 "Add local volume provisioner as gce addon"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig storage
/sig gcp
/assign

**What happened**:
* Need to evaluate resource usage.
* figure out how to support both local SSD deployment options. In the same cluster?
* should it be opt-in instead of default?
* Do we want to support mix of local SSD as hostpath and local PV in the same cluster/across node pools?

[2018-02-17 15:51] tsandall commented on #59759
Forwarding the entire ConnectRequest is preferable from my point of view. In the mean time, I'll update the Open Policy Agent docs to avoid this issue (i.e., by specifying the operations w/o the wildcard.)

[2018-02-17 17:10] cmosh commented on #39031
Still having same issue on k8s v 1.9

[2018-02-17 17:27] #36450 closed

[2018-02-17 17:51] sbezverk opened #60016 "CSI E2E test issues"
Current CSI E2E test has some issues which prevent it to run successfully the a local cluster.
/sig storage
/kind bug
/assign @sbezverk

[2018-02-17 17:55] jhorwit2 opened #60018 "Priority admission controller should support enforcing and applying priority classes to pods by namespace"
/kind feature
/sig scheduling
/sig api-machinery

As a cluster admin I'd like the ability to enforce that specific priority classes are only used in specific namespaces. I'd also like the ability to apply specific priority classes to namespaces by default. This helps ensure that lower priority namespaces, like dev and test, cannot use priority classes that make it equal to or more important than p

[2018-02-17 18:01] jhorwit2 commented on #60018
/area admission-control

[2018-02-17 18:05] szuecs commented on #25485
You can also use plain ingress without istio https://zalando.github.io/skipper/kubernetes/ingress-usage/#blue-green-deployments, which easily put into `kubectl plugin`.

[2018-02-17 18:57] smarterclayton commented on #59848
Disabling resourceVersion=0 for lists when more than one master is present is an option as well.

As Jordan noted the optimization here is impactful because we avoid having to fetch many full pod lists from etcd when we only return a subset to each node.  It’s possible we could require all resourceVersion=0 calls to acquire a read lease on etcd which bounds the delay, but doesn’t guarantee happens

[2018-02-17 19:29] #29715 closed

[2018-02-17 19:42] smarterclayton commented on #59848
We can do a synthetic write to the range and wait until it is observed by the cache, then service the rv=0.  The logical equivalent is a serializable read on etcd for the range, but we need to know the highest observed RV on the range.

We can accomplish that by executing a range request with min create and mod revisions equal to the latest observed revision, and then performing the watch cache li

[2018-02-17 19:45] dashpole commented on #56523
The 1.10 portion of this issue has been merged. #59827

[2018-02-17 19:45] dashpole commented on #56523
/kind important-longterm

[2018-02-17 19:45] dashpole commented on #56523
/priority important-longterm

[2018-02-17 19:46] dashpole commented on #59993
/priority important-soon

[2018-02-17 19:47] smarterclayton commented on #59848
Serializable read over the range, that is.

[2018-02-17 19:49] smarterclayton commented on #59848
Also:

6. The next time someone adds a cache at any layer, we need to have a good review process that catches this.  Probably a checklist we add into api review and an audit of any existing caches.

[2018-02-17 20:20] smarterclayton commented on #59984
I think that makes sense.  However, is the no-op case really special for update?  Any other update (including controllers) would be broken.

`IsOnlyMutatingGCFields` is a bit of a hack - is it the exception rather than the rule?

[2018-02-17 20:30] #26791 closed

[2018-02-17 20:30] #33576 closed

[2018-02-17 20:30] #24576 closed

[2018-02-17 20:30] #35423 closed

[2018-02-17 20:30] #38217 closed

[2018-02-17 20:30] #39343 closed

[2018-02-17 20:30] #35438 closed

[2018-02-17 21:31] #24860 closed

[2018-02-17 21:44] wojtek-t commented on #34896
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-17 21:45] wojtek-t commented on #32726
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-17 22:32] #39611 closed

[2018-02-17 22:32] tcheronneau commented on #56006
@mslebodnik I've the exact same issue.
It's trying to connect to port 443 except my API server is 6443 but I can't find where is my error.
Did you managed to solve it ?

Thanks.

[2018-02-17 23:33] #24450 closed

[2018-02-17 23:33] #39682 closed

[2018-02-18 01:29] #59959 closed

[2018-02-18 01:31] monique77 commented on #59959
Hi, rdrgporto

Obrigado/ tks so much

[2018-02-18 01:51] k82cn commented on #54297
/lifecycle frozen

[2018-02-18 01:52] k82cn commented on #54297
/remove-lifecycle stale

[2018-02-18 07:00] brthor commented on #8731
Other links 404

https://github.com/kubernetes/ingress-nginx/blob/master/docs/examples/affinity/cookie/README.md

[2018-02-18 08:43] meysam001 commented on #59854
I solved Problem:
[code]

[2018-02-18 09:43] #39524 closed

[2018-02-18 10:03] redbaron commented on #46705
/remove-lifecycle rotten

[2018-02-18 10:44] #29725 closed

[2018-02-18 10:44] #29728 closed

[2018-02-18 11:45] #39979 closed

[2018-02-18 12:11] #35370 closed

[2018-02-18 12:46] #40043 closed

[2018-02-18 12:46] #40125 closed

[2018-02-18 13:47] #40166 closed

[2018-02-18 13:47] #29548 closed

[2018-02-18 13:47] #34940 closed

[2018-02-18 14:04] bowei commented on #59900
What would the backport targets (1.8, 1.9?)

[2018-02-18 14:48] #35778 closed

[2018-02-18 14:48] #28369 closed

[2018-02-18 16:50] #40517 closed

[2018-02-18 16:57] nikhita commented on #56071
/remove-lifecycle stale

[2018-02-18 17:51] #32542 closed

[2018-02-18 17:51] #18924 closed

[2018-02-18 18:38] nikhita opened #60023 "sample-controller should have an example of the polymorphic scale client"
When subresources for custom resources (https://github.com/kubernetes/kubernetes/pull/55168) will be merged, we should include an example with the [polymorphic scale client](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go/scale).

Not everyone knows about it and many will probably wonder how to use the scale subresource with `client-go`.

Ideas on how to incorpora

[2018-02-18 20:18] DreadPirateShawn commented on #41580
/remove-lifecycle stale

This causes confusion when our support team looks at prod kubernetes status -- is this fixed via PR #51644 ? Is there a target Kubernetes version to aim for, when we upgrade next?

[2018-02-18 20:41] leblancd commented on #59762
@cmluciano , @jessicaochen , @mikedanese , @luxas
Unless anyone has any better ideas... I opened an bazelbuild/bazel issue to enhance bazel to add the descending parent directories ("/opt" and "/opt/cni" in this case): [bazelbuild/bazel issue #4651](https://github.com/bazelbuild/bazel/issues/4651)
In the meantime, would it make sense to get the kubernetes-anywhere workaround [kubernetes-anywhere i

[2018-02-18 20:54] #40258 closed

[2018-02-18 20:56] qwertme commented on #59376
I am seeing this with images hosted on ECS

[2018-02-18 21:28] dtubia opened #60024 "up"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-02-18 21:33] chrislovecnm commented on #45976
/area aws

[2018-02-18 21:35] chrislovecnm commented on #45976
/sig aws

[2018-02-18 21:55] #30312 closed

[2018-02-18 23:07] nicksardo commented on #59900
Yes

[2018-02-18 23:25] jhorwit2 commented on #60024
/close

@dtubia i'm closing this since it's empty. If you need to open an issue please recreate it with the necessary fields filled in. Thanks!

[2018-02-18 23:25] #60024 closed

[2018-02-18 23:57] #40717 closed

[2018-02-18 23:57] #40961 closed

[2018-02-18 23:57] #36798 closed

[2018-02-19 00:10] dhirajh opened #60025 "Device unmap for local volume in block mode fails due to empty device path"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
A Pod is run with local volume mounted in block mode. When that pod is deleted, the tear down process fails because device unmap fails.  The device path appears to be empty, causing the unmap to fail.

**What you expected to happen**:
The teardown should have succeeded

**How to reproduce it (as minimally and precisely as

[2018-02-19 00:12] dhirajh commented on #60025
@mtanino @msau42

[2018-02-19 00:26] dhirajh commented on #60025
/sig storage

[2018-02-19 00:52] ntfrnzn opened #60026 "type ClusterRoleBinding Subjects serializer should `omitEmpty` or be empty array"
/kind bug

Using kubectl + jsonpath to report the names of the groups, users or serviceaccounts that are in play in a cluster:
[code]

Get error message when jsonpath sees a nil instead of an array
[code]

I expect to see the list of groups
[code]

Accessing a v1.9.2 rbac-enabled cluster
[code]
The `system:node` ClusterRoleBinding doesn't have any subjects, and it serializes the field as`"subjects

[2018-02-19 01:59] #40939 closed

[2018-02-19 01:59] #41066 closed

[2018-02-19 03:00] #35979 closed

[2018-02-19 03:00] AceHack opened #60027 "Consider adding Java/.NET/etc Garbage collection aware scheduling"
I realize this is a BIG ask but garbage collected languages like .NET and Java do not clean up their memory until there is actually memory pressure.  Because of this, we are reduced to setting resource constraints to try and limit the amount of garbage any application produces, these settings are not easily determined ahead of time.  It would be great if there was some way to expose metrics from a

[2018-02-19 04:01] #28330 closed

[2018-02-19 04:16] balp0001 commented on #37063
Thanks Arunm8489 ,, its works for me as well..
Small correction  is :  kubeadm init (spelling is wrong)

[2018-02-19 04:45] fejta-bot opened #60028 "pr:pull-kubernetes-verify flaked 26 times in the past week"
### Flaky Job: pr:pull-kubernetes-verify
 Flakes in the past week: **26**
 Consistency: **97.00%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| verify openapi-spec | 17 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2018-02-19 05:22] dhilipkumars commented on #55714
ref #https://github.com/kubernetes/kubernetes/pull/59883

[2018-02-19 05:43] dhilipkumars commented on #56682
/sig apps

[2018-02-19 05:52] PeterKneale commented on #1806
Those looking to use new docker features such as multistage builds in CI/CD are looking for a faster upgrade cycle of docker than those administering a k8s cluster. If I understand the situation correctly then I feel that binding to the host docker socket causes these two differing priorities (features/stability) to come more into conflict.

[2018-02-19 06:03] #13418 closed

[2018-02-19 06:03] #41228 closed

[2018-02-19 06:16] vherron12 opened #60029 "[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10255/healthz' failed with error: Get http://localhost:10255/healthz: dial tcp [::1]:10255: getsockopt: connection refused."
[root@k8s-master ~]# kubeadm init \

[init] Using Kubernetes version: v1.9.0
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks.
	[WARNING FileExisting-crictl]: crictl not found in system path
[certificates] Generated ca certificate and key.
[certificates] Generated apiserver certificate and key.
[certificates] apiserver serving cert is signed for DNS names [k8s-ma

[2018-02-19 06:18] vherron12 commented on #60029
Hi kubernetes people how could I get past this issue? For your kind assistance. Did not get an answer to this ticket #53333

[2018-02-19 06:19] vherron12 commented on #60029
@k8s-ci-robot how to do that sir?

[2018-02-19 06:27] terinjokes commented on #54021
I ended up resolving this with an annotation specific to my controller.

/close

On Sun, Feb 18, 2018, 4:58 PM fejta-bot <notifications@github.com> wrote:

[2018-02-19 06:27] #54021 closed

[2018-02-19 06:37] nikhita commented on #59485
There is a workaround to this:

JSONSchema has something called as `patternProperties`, which we allow now. `patternProperties` is just like `properties` but it allows you to specify a regex for the keys. Essentially, it means "if there is a key satisfying this regex, it's value should follow this schema".

I understand that having a map means that you don't know about the keys in advance but you

[2018-02-19 06:40] nikhita commented on #59485
Also, in https://github.com/kubernetes/kubernetes/pull/59972, we can make sure that we strip only those fields which are not present in `properties` and which do not satisfy the regex in `patternProperties` - since the author had specified the regex for the keys and we should end up respecting it (and not stripping the fields/keys).

[2018-02-19 06:47] MrHohn commented on #54323
/remove-lifecycle rotten

[2018-02-19 06:48] MrHohn commented on #53754
/remove-lifecycle rotten

[2018-02-19 07:03] #27282 closed

[2018-02-19 08:04] #41522 closed

[2018-02-19 08:18] henres commented on #30991
Hello, this issue still happen in kubernetes v1.5.7.
Is someone have a way to solve this ? Has it been fix in a later patch?

Thanks

[2018-02-19 08:24] sttts commented on #59759
We call Admit and Validate at that point. The comment meant that mutation does not make much sense there. Though with your suggestion to pass `ConnectRequest.Options` it might actually make sense to mutate.

But turning `rest.ConnectRequest` into a runtime.Object looks wrong. As a webhook author I would merely expect to get sent the real object behind the CONNECT request plus the options in a sepa

[2018-02-19 08:36] sttts commented on #59984
Tightened validation and existing invalid objects is a serious problem in every cluster. The only question is whether we keep going during migration and graceful/with-initializer deletion, or we fail early and hard.

I tend to prefer "fail early" and answer that it is not special. Instead, we should delete the object from the system ASAP, possibly with a good migration UI that warns or asks for co

[2018-02-19 09:05] #30048 closed

[2018-02-19 09:16] apekshasao opened #60030 "Proxy protocol is not working in openshift origin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.4
- Cloud provider or hardware configuration: AWS
- OS (e.g. from /etc/os-release): centos 7.4
- Kernel (e.g. `uname -a`):Linux os

[2018-02-19 09:36] pohly commented on #59425
I just want to add that the `HOME=/tmp/foo make test` workaround indeed fails for me when `make test` involves rebuilding more than just the tests. I've not investigated further why, but for example building `deepcopy-gen` fails.

So right now I either rebuild manually or use `make && HOME=/tmp/foo make test` when bisecting. I suspect the latter rebuilds more than what is strictly needed for testi

[2018-02-19 10:07] #13847 closed

[2018-02-19 10:12] kron4eg commented on #18982
/remove-lifecycle rotten

[2018-02-19 10:15] stackexpress-kushal opened #60031 "Image mismatch when an image have multiple tags"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.7.5
- Cloud provider or hardware configuration: AWS
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools

[2018-02-19 10:25] stackexpress-shivam commented on #60031
/sig bugs

[2018-02-19 10:25] mlmhl commented on #60025
This error is returned in this [line](https://github.com/kubernetes/kubernetes/blob/e267f46c8e19a68d8e5c4f056e4e2e46f260d6a4/pkg/volume/util/operationexecutor/operation_generator.go#L968). It same that we set the global mount path to `ASW` only if the volume plugin is attachable(see [here](https://github.com/kubernetes/kubernetes/blob/e267f46c8e19a68d8e5c4f056e4e2e46f260d6a4/pkg/volume/util/operat

[2018-02-19 10:25] fredsted commented on #57291
We have this issue with workers that are restarted automatically every 5 minutes to clear any bad database connections, etc. The process quits it itself automatically and then should just restart with no delay. Would be nice to be able to just disable this backoff.

[2018-02-19 11:07] #41568 closed

[2018-02-19 11:08] #41900 closed

[2018-02-19 11:08] #34336 closed

[2018-02-19 11:08] CallMeFoxie opened #60033 "HPA not working properly on 1.9.x keeps same amount of instances"
/kind bug

**What happened**:
Hi, we've upgraded one of our clusters to 1.9 however since then autoscaling has been not working -- the amount of instances was kept constantly at the level we scaled it to before applying HPA. Does not matter whether we use the Rest metrics or the oldschool Heapster API.

**How to reproduce it (as minimally and precisely as possible)**:
Unsure honestly, it seems to

[2018-02-19 11:10] CallMeFoxie commented on #60033
/sig autoscaling

[2018-02-19 11:30] sttts commented on #60023
Good task for new contributors.

[2018-02-19 11:50] tcdev00 commented on #59867
I can confirm that moving to 1.9.3 also works.
In our case we had to update the SDK docker container `google/cloud-sdk:latest` as we was using an older version. Latest version contains 1.9.3 client version and deletes the statefulsets correctly.

[2018-02-19 12:09] #17801 closed

[2018-02-19 12:09] mtanino commented on #60025
@mlmhl
Thank you for the investigation.
We've discussed this problem by offline yesterday. I proposed same fix which you mentioned above, then @dhirajh tested the fix works correctly with local volume plugin.
I'll push a PR soon.

[2018-02-19 12:16] shyamjvs opened #60035 "Kubemark-scale failing due to couple of hollow-nodes dead"
We're observing almost continuous failures of our [kubemark-5000 job](https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-5000):
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/864
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/865
- https://k8s-gubernator.appspot.com/build/kuber

[2018-02-19 12:17] humblec commented on #35778
@danielschonfeld @ekozan I am late here, however would like to mention that this has been already added and available from Kube v1.5

[2018-02-19 12:17] mtanino commented on #60025
Please note, `global unmap path` which was stored in `volumeToUnmount.DeviceMountPath` is empty. device path isn't related to this problem.

[2018-02-19 12:19] shyamjvs commented on #60035
I looked into the currently running kubemark cluster and it seems that those hollow-nodes are being preempted to admit some critical pod:

[code]

[2018-02-19 12:20] #60016 closed

[2018-02-19 12:22] shyamjvs commented on #60035
This seems to be the case from the controller-manger logs:

[code]

[2018-02-19 12:25] shyamjvs commented on #60035
I'm looking at the kubelet logs on that node `kubemark-5000-minion-group-rkj7` and that gives me the final confirmation that fluentd is indeed the one behind it:

[code]

[2018-02-19 12:39] abdennour commented on #36117
I assume you are using `namespace` in some commands and you forgot to use it in other commands.
Make sure to use the same namespace `--namespace YOUR_SPACE`

[2018-02-19 12:46] nikhita commented on #60023
:+1:

For anyone who works on this, there are a bunch of integration tests in the PR mentioned above (https://github.com/kubernetes/kubernetes/pull/55168) which uses the polymporphic scale client with custom resources. Might prove helpful.

[2018-02-19 12:51] shyamjvs commented on #60035
So it seems that the daemonset-controller has not yet created the pod for a node, while the hollow-nodes already got scheduled and started running there. Later when the pod comes, some hollow-node is being evicted to make space. I checked that the cpu/mem requests/limits for fluentd have stayed the same. There was a recent change https://github.com/kubernetes/kubernetes/pull/59657 around enabling

[2018-02-19 12:56] shyamjvs commented on #60035
Why did we see 1 green run after my endpoints fix (run 862) then?

It's a hypothesis, but I believe that we just got lucky with that run there due to hollow-nodes being distributed quite "equitably" across real nodes that we managed to avoid any pre-emption. IMO we should bump our real nodes by 1 and check if that works. Btw - note that we're seeing just 0-2 hollownode preemptions right now (i.e b

[2018-02-19 12:57] mlmhl commented on #60025
@mtanino
Sorry about that, this is a typo, what I mean is global mount path.

[2018-02-19 13:02] mtanino commented on #60025
@mlmhl
No, no. My above comment is just note for the `What happened:` section. Your investigation is correct.

[2018-02-19 13:03] #59331 closed

[2018-02-19 13:07] jw3126 commented on #51764
Same problem here, is there a workaround?

[2018-02-19 13:10] #22701 closed

[2018-02-19 13:33] x13n commented on #60035
There may be a small change in behavior after https://github.com/kubernetes/kubernetes/pull/59657: fluentd-gcp will be created without any resource request and then the request will be set after a short while. This probably didn't cause the problem you've seen, but I thought may be worth noting anyway.

[2018-02-19 13:42] DavidWylie commented on #41881
This is a feature which allows ingress to be useful.  Without it the yaml definition file for an app (ingress + deployment + service)  cannot be environment independant.  Without it you end up with a proxy application / loadbalancer infront of the ingress just to change the url to a common non routable value.

just supporting the * in the domain as a single part would be sufficient.  ie
svc.*.doma

[2018-02-19 14:08] danwinship commented on #55435
Our kernel networking guys agree that CAP_NET_ADMIN-in-a-namespace is definitely *supposed to be* safe.

But there was [a CVE in December](https://nvd.nist.gov/vuln/detail/CVE-2017-17449) where it was possible to use CAP_NET_ADMIN in any network namespace to observe (but not send) netlink events in any other network namespace. This isn't terrible, for kubernetes at least; it would mostly only allo

[2018-02-19 14:09] mcginne opened #60037 "Garbage collector in controller manager stops working"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I am running etcd-operator in kubernetes, and noticed that when I deleted the etcdcluster (Custom resource definition) the pods & services did not get cleaned up. I looked on another kube environment I had running, and on that env everything worked as expected. I checked logs, and could see on the env that was working I sa

[2018-02-19 14:10] #28349 closed

[2018-02-19 14:11] #37146 closed

[2018-02-19 14:11] mcginne commented on #60037
/sig api-machinery

[2018-02-19 14:12] mcginne commented on #60037
[cm_trimmed.log.zip](https://github.com/kubernetes/kubernetes/files/1736987/cm_trimmed.log.zip)

[2018-02-19 14:18] danwinship commented on #55435
There's also the problem that even without escalation, having CAP_NET_ADMIN might allow a pod to subvert the intentions of its CNI plugin. Eg, if a pod can change its IP and/or MAC address, it might be able to intercept or spoof traffic to/from other pods.

And if the plugin gives the pod an interface directly attached to the node's ethernet (eg, a macvlan or ipvlan interface), then having CAP_NET

[2018-02-19 14:20] rlees85 commented on #26707
Just another case for this that haven't been mentioned. It would be nice to scale down idle clusters to 1 or even 0 nodes (keeping the masters up).

Currently kube-dns prevents this. Once scaled down to 2, the single point of failure flag prevents scaling down further (which I would like to keep enabled as if the cluster is running 2 or more nodes I would like HA kube-dns)

Even with the single po

[2018-02-19 14:22] shyamjvs commented on #53255
/remove-lifecycle stale

On Mon, Feb 19, 2018 at 3:11 PM fejta-bot <notifications@github.com> wrote:

[2018-02-19 14:27] mrostecki commented on #59741
/sig network

[2018-02-19 14:30] mrostecki commented on #59741
/assign

[2018-02-19 14:52] nicolaferraro commented on #59343
I've implemented a POC using custom resource definitions: https://github.com/nicolaferraro/datastore-crd

It is a basic implementation but shows the point:
- Before sending the TERM signal in case of decommission, it writes a file `/tmp/decommission-requested` to inform the pod
- The pod should write the "DECOMMISSIONED" string in `/dev/termination-log` if the decommission procedure has completed

[2018-02-19 14:52] rdsubhas commented on #41881
I think, from a Spec perspective, having it as a FQDN helps a lot of "standard/kubernetes compliant" resources to happen. Although the API is called `Ingress`, this has a wider impact than just routing. Because if the domain is unspecified, then things like issuing letsencrypt certificates, or creating DNS names for services, etc. are going to become really hard. Different Kubernetes cloud provide

[2018-02-19 14:54] kron4eg commented on #55386
I think I observer that issue too:

I see that over time (days) kubelet gradually increasing CPU consumption, here is pprof I've pulled off kubelet:

[code]

whole pprof
[pprof.kubelet.samples.cpu.002.pb.gz](https://github.com/kubernetes/kubernetes/files/1737190/pprof.kubelet.samples.cpu.002.pb.gz)

[2018-02-19 15:11] #42121 closed

[2018-02-19 15:11] #42163 closed

[2018-02-19 15:12] #13195 closed

[2018-02-19 15:12] #27306 closed

[2018-02-19 15:12] #16165 closed

[2018-02-19 15:12] #42255 closed

[2018-02-19 15:12] #17858 closed

[2018-02-19 15:13] pohly commented on #59922
strace shows that the test looks for `.config/gcloud/application_default_credentials.json` in the user's home directory.

That comes from FindDefaultCredentials in https://github.com/kubernetes/kubernetes/blob/master/vendor/golang.org/x/oauth2/google/default.go#L64. It gets called by:
[code]

Looks like an empty file at that place is not enough, I still get the same error after the test opens the

[2018-02-19 15:17] danwinship commented on #46625
we should definitely be testing all documented features

/remove-lifecycle rotten
/lifecycle frozen

[2018-02-19 15:26] wojtek-t commented on #13969
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-19 15:28] shyamjvs commented on #56032
@bsalamat Seems like your change did help a bit (~70 pods scheduled every 10s, compared to ~5 before):

[code]

(source: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/58/build-log.txt)

But it's still quite slow from what it was without preemption. I'll re-revert the change back to make the tests green.

[2018-02-19 15:29] rakshazi commented on #21582
Any update on this?
Issue still present and we can't do clean export of entire cluster (without timestamps, etc. - check comments above)

[2018-02-19 15:31] fabiand commented on #59551
Cool - How can I help to drive this forward?

[2018-02-19 15:57] MikeSpreitzer opened #60042 "k8s.io/apiserver imposes fixed low limit on the number of concurrent watches proxied to an aggregated api-server"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I tried running 300 controllers that watch a Kind of object served from an aggregated api-server, and the main api-server started timing out on operations it proxies to the aggregated api-server.  I had only one main api-server and one aggregated api-server.  CPU, memory, and network load were not an issue.

**What you ex

[2018-02-19 16:00] spbreed opened #60043 "ar"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-02-19 16:00] DavidWylie commented on #41881
@rdsubhas   Looking into this in the issues form some of the implementors of the ingress controller spec.  There almost standard response is its not in the spec so we dont want to differ from it.
Even just a standard field or annotation would be enough to get some of them moving in a shared direction.    you seem to have hit the nail on the head with the foo.<real-domain>  with that the real domai

[2018-02-19 16:03] AlexB138 commented on #59376
I am seeing this with images hosted in a private registry.

[2018-02-19 16:12] #18007 closed

[2018-02-19 16:12] #18418 closed

[2018-02-19 16:13] #19005 closed

[2018-02-19 16:13] #27484 closed

[2018-02-19 16:13] #33198 closed

[2018-02-19 16:13] #35317 closed

[2018-02-19 16:13] #25663 closed

[2018-02-19 16:15] deitch commented on #41881
Looks like I stirred up a bit of a hornet's nest with this one... which means it matters to people.

Perhaps the strongest sign is that every time I interact with someone who deploys to kubernetes clusters with an automated CD pipeline across multiple environments, we *always* end up discussing, "so how did you hack around the Ingress `Host:` limitation?" If so many people are doing it, then it al

[2018-02-19 16:27] Preskton commented on #41881
I like all this discussion: this is fun. :)

As a newbie here, it feels like "changing the spec" is a really big deal, as I'm sure there are all kinds of downstream implications, like @rdsubhas implies. Outside the current discussion, I have a couple of more meta-questions:

- Where is "the spec"? I assume there's something deeper than https://kubernetes.io/docs/concepts/services-networking/ingres

[2018-02-19 16:40] shyamjvs commented on #60035
Yeah.. that doesn't seem to be the case here (from the logs). Thanks for the heads up @x13n.

[2018-02-19 16:41] drpaneas commented on #58217
I have similar error from kubelet logs:

[code]

Applying the configuration posted by @ingvagabund

[code]

it seems that my node (*d111* in this example) is now registered.

[code]

However, this error is still there.

Distribution: openSUSE Tumbleweed

[2018-02-19 17:05] juanvallejo opened #60045 "Enable metav1beta1.Table responses on `kubectl get`"
/kind feature

PR: https://github.com/kubernetes/kubernetes/pull/55637
Checks "Client" items from https://github.com/kubernetes/kubernetes/issues/58536

Updates `kubectl get` to request and handle metav1beta1.Table responses from the server.

Milestone v1.10

[2018-02-19 17:06] juanvallejo commented on #60045
cc @jberkus

[2018-02-19 17:07] shyamjvs commented on #56032
You can also find pod-startup latency %iles [here](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/58/artifacts/PodStartupLatency_density_2018-02-17T16:25:13Z.json) and see that the 99th %ile is 5 mins (which is way above our 5s SLO).

[2018-02-19 17:14] #36855 closed

[2018-02-19 17:14] #40586 closed

[2018-02-19 17:14] #39865 closed

[2018-02-19 17:14] #40262 closed

[2018-02-19 17:26] #59983 closed

[2018-02-19 17:28] MikeSpreitzer commented on #60042
@kubernetes/sig-api-machinery-bugs

[2018-02-19 17:32] kestrels opened #60046 "FlexVolume getvolumename callout not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The getvolumename callout doesn't seem to be working / honored for flex volume drivers.  I can see my flex volume driver being called repeatedly with the getvolumename callout.  From my logs, here is the input string (the k8s object name of the claim is mock-flex-data):

[code]

My flex volume driver responds with a json e

[2018-02-19 17:34] MikeSpreitzer opened #60047 "types should be separated out of sample-apiserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I made some golang clients of the sample api-server, using the API types defined in the sample-apiserver repo.  See https://github.com/MikeSpreitzer/k8api-scaletest .  I use glide to manage dependencies.  When I `glide update` or `glide install`, I get not only the main `vendor` but also `vendor/k8s.io/sample-apiserve

[2018-02-19 17:34] MikeSpreitzer commented on #60047
@kubernetes/sig-api-machinery-feature-requests

[2018-02-19 17:37] kestrels commented on #60046
/sig storage

[2018-02-19 17:39] kestrels commented on #60046
@saad-ali @chakri-nelluri

[2018-02-19 17:39] MikeSpreitzer opened #60049 "Insecure aggregation should be possible"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I spent a _long_ time doing problem determination for #60042 .   It would have been _much_ easier if I could have looked at the packets on the wire.  As it is, they were all encrypted by TLS, so I got no useful information out of them (they came too frequently for timing to be enough).

**What you expected to happen**

[2018-02-19 17:39] MikeSpreitzer commented on #60049
@kubernetes/sig-api-machinery-feature-requests

[2018-02-19 17:40] liggitt commented on #60047
you need to flatten vendor (`glide install -v`)

[2018-02-19 17:48] liggitt commented on #60049
I'm pretty opposed to surfacing and supporting this... it adds maintenance overhead and encourages use of a mode we don't ever want used in production.

For debugging/developing the apiserver itself, we could run a self-compiled one with the aggregator scheme hardcoded to http.

[2018-02-19 17:48] liggitt commented on #60043
/close

[2018-02-19 17:48] #60043 closed

[2018-02-19 17:51] liggitt commented on #60030
thanks for the report, can you reopen this against https://github.com/openshift/origin/issues/new

[2018-02-19 17:51] #60030 closed

[2018-02-19 17:53] MikeSpreitzer commented on #60047
d'oh!

[2018-02-19 17:53] #60047 closed

[2018-02-19 17:54] MikeSpreitzer commented on #60049
Would that be enough?  I do not see a code path in k8s.io/apiserver for serving insecurely.

[2018-02-19 17:58] liggitt commented on #60049
Ah, right. Again, that is intentionally omitted for all actual deployment scenarios.

[2018-02-19 18:00] MikeSpreitzer commented on #60049
And I agree that serving securely should be the norm.  My question is can we make it reasonably easy to run insecurely for development/debugging purposes.

[2018-02-19 18:10] liggitt commented on #60049
That requires adding options we don't want to at least two components, and possibly to supporting APIs

if we don't develop securely, we won't deploy securely. "run insecurely" options "for development/debugging purposes" have an insidious way of making it into production.

if non-TLS is desired to debug the aggregator itself, a custom dev build to aggregate over http seems reasonable

[2018-02-19 18:15] #6862 closed

[2018-02-19 18:15] lumeche commented on #59975
/sig autoscaling

[2018-02-19 18:16] nikhita commented on #59812
Can confirm that this does not occur on HEAD.

[code]

Could reproduce this on an earlier client version (1.8.5) though. So this is fixed now. :+1:

Closing.

/close

[2018-02-19 18:16] #59812 closed

[2018-02-19 18:20] deads2k commented on #60049
I don't think we should do this.  I sympathize with packet sniffing difficulties (it wasn't easy to get working initially), but the cost to the rest of the stack as they try to reason about what should and should not happen with "sometimes" available authentication information is too great.  The bugs caused by insecure servers were more insidious, more frequent, affected more people (both authors

[2018-02-19 18:21] dashpole opened #60052 "Cut and Vendor cAdvisor v0.29.0"
/kind feature

This is the once-per-release cut of a new cAdvisor release, which corresponds to the next kubernetes release.  cAdvisor v0.29 corresponds to kubernetes v1.10.

/sig node
/priority important-soon

[2018-02-19 18:23] MikeSpreitzer commented on #60049
OK, withdrawn.

[2018-02-19 18:23] #60049 closed

[2018-02-19 18:26] dashpole commented on #60052
self-reminder to add pid and scheduler stats to ignore metrics when vendoring.
reminder to add a release notice that one of the container labels fields is being removed. https://github.com/google/cadvisor/pull/1859#issuecomment-363599259

[2018-02-19 18:41] pradeeppandeyy commented on #30048
This issue is now not persistence for me. Thanks

[2018-02-19 18:44] lvicentesanchez commented on #49926
Same error here... I'm create an storage class, pv, pvc and a statefulset in one go and I get the same error. The ebs volume it's actually attached to the node so I'm not sure what's going on.

[2018-02-19 18:45] aveshagarwal opened #60053 "Post-start hooks are not executed sometimes."
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
If we hit a context deadline exceeded on StartContainer or restart the kubelet in the middle of the StartContainer() that the container can still come up, as the runtime will continue to try to start the container. If that happens, the post-start hooks will not be executed.

**What you expected to happen**:
Post-start hoo

[2018-02-19 18:46] aveshagarwal commented on #60053
/sig node

[2018-02-19 18:47] aveshagarwal commented on #60053
/kind bug

[2018-02-19 18:47] lvicentesanchez commented on #49926
I have tried to remove the pod and it still fails, once recreated.

[2018-02-19 18:49] lvicentesanchez commented on #49926
I'm using Kubernetes 1.8.8, deployed using kops 1.8.1, with RBAC enabled.

[2018-02-19 18:54] lvicentesanchez commented on #49926
Some additional information. If I remove everything using `kubectl delete -f mantifest/influxdb.yaml`, the EBS volume is in available status. If then I create it again, I get a timeout while trying to mount the volume but the EBS volume is 'in use'. So... first time, I get an error because of the 'available' status, after that... the volume can't be attached even  if it's 'in use' by the target no

[2018-02-19 18:57] ravisantoshgudimetla commented on #45969
/remove-lifecycle stale

[2018-02-19 19:16] #13606 closed

[2018-02-19 19:16] #39084 closed

[2018-02-19 19:16] #34235 closed

[2018-02-19 19:19] MrHohn commented on #56138
/remove-lifecycle stale

[2018-02-19 19:30] enj commented on #59984
Considering this stuff fails upgrades for our clusters regularly as it is, failing hard is unacceptable IMO.

That is not how I see the problem at all - deleting data is not a solution.

I consider an object stored in the API to be, by definition, valid.  Thus validation does not check "is the object valid?", it checks if "the change to the object is valid."

`any object already stored in the API`

[2018-02-19 20:13] daniel-kun commented on #51764
I'm on 1.9.3 now and haven't had this problem on the Raspberry Pi 3 cluster any more. I'm deleting and re-creating deployments on this cluster regularly, since I'm using it for experiments. I didn't experience the apiserver dying anymore, either.

[2018-02-19 20:17] #18853 closed

[2018-02-19 20:17] #30459 closed

[2018-02-19 20:17] #38824 closed

[2018-02-19 20:17] #42597 closed

[2018-02-19 20:17] #39753 closed

[2018-02-19 20:17] #42590 closed

[2018-02-19 20:23] sttts commented on #59984
Thinking more about a big, bold warning about invalid objects at the very least, so the cluster admin can act accordingly, potentially deleting the objects or fixing them. If those warnings are ignored, later object updates will fail, without a clear connection to the recent cluster upgrade. Not sure that's a situation we want our users in.

Differential checks are much harder to do and prone to (

[2018-02-19 21:00] jberkus commented on #57354
If you plan to do this for the 1.10 release, please add a kind/ and priority/ labels to this issue.  Otherwise, it will be automatically removed from 1.10 milestone as of Code Slush Tuesday.

[2018-02-19 21:01] jberkus commented on #60045
Can you add this to the 1.10 milestone?   A member of the SIG needs to do that.

[2018-02-19 21:03] jberkus commented on #52617
adding kind/cleanup to this issue so that it can stay in 1.10.  Please update the kind if that is incorrect.

\kind cleanup

[2018-02-19 21:05] jberkus commented on #47511
Is this issue still tracking work to be done in 1.10?  If so, please add Kind and Priority labels to it before Code Slush begins Tuesday.  Thanks.

[2018-02-19 21:06] jberkus commented on #57382
This issue will be automatically removed from 1.10 tommorrow unless you add a priority/ label to it, thanks!

[2018-02-19 21:07] jberkus commented on #56463
Adding priority important-soon to this issue so that it can stay in 1.10.  If that is incorrect, please update.

\priority important-soon

[2018-02-19 21:08] jberkus commented on #59855
adding priority important-soon so that this issue can stay in 1.10.

Please update if incorrect.

\priority important-soon

[2018-02-19 21:09] jberkus commented on #59855
adding priority important-soon so that this issue can stay in 1.10. Please update if incorrect.

/priority important-soon

[2018-02-19 21:10] jberkus commented on #51540
adding priority so that we can keep tracking this for 1.10, please update.

/priority important-soon

[2018-02-19 21:10] justaugustus commented on #56463
/priority important-soon

[2018-02-19 21:11] jberkus commented on #57471
adding /priority important-soon to keep tracking this for 1.10

/priority important-soon

Please break out the items from this tracker that will actually be added to 1.10, and add each of those issues/PRs to the 1.10 milestone with other appropriate labels.  Thanks!

[2018-02-19 21:12] jberkus commented on #54011
OK, I'm assuming that this is getting kicked out of 1.10 tommorrow at Code Slush, since the issue hasn't been updated.

[2018-02-19 21:12] jberkus commented on #53616
adding priority to this so it can stay in 1.10.  Please update.

/priority important-soon

[2018-02-19 21:13] jberkus commented on #59742
adding priority so this can stay in 1.10

/priority important-soon

[2018-02-19 21:14] jberkus commented on #59895
adding priority, move to critical if it is

/priority important-soon

[2018-02-19 21:14] jberkus commented on #59764
adding kind

/kind design

[2018-02-19 21:18] #22619 closed

[2018-02-19 21:18] #28748 closed

[2018-02-19 21:18] #42673 closed

[2018-02-19 21:32] kestrels commented on #60046
In slack @chakri-nelluri wrote:

Regarding this part:

Wouldn't that approach have problems in HA environments where there is more than one master node?  In other words, one master saves state in a local file at attach time but then there is a failover or load balance to another master node who then can't depend on that local file being present during the detach call.

Regarding this part:

I can

[2018-02-19 22:19] #284 closed

[2018-02-19 22:19] #907 closed

[2018-02-19 22:19] #1651 closed

[2018-02-19 22:41] ilyalukyanov opened #60060 "Internal load balancer always created with empty backend pool"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT

/kind bug

**What happened**:

Azure internal load balancer created for a `Service` of type `LoadBalancer` has empty backend pool.

**What you expected to happen**:

VMs from the primary availability set should be added to the backend pool.

**How to reproduce it (as minimally and precisely as possible)**:

I reliably reproduce it using th

[2018-02-19 22:46] ilyalukyanov commented on #60060
/sig azure

[2018-02-19 23:13] #53902 closed

[2018-02-19 23:13] #55638 closed

[2018-02-19 23:19] #2298 closed

[2018-02-19 23:20] #2069 closed

[2018-02-19 23:20] #2466 closed

[2018-02-19 23:21] srflaxu40 opened #60061 "port scheduling causes conflict and outage"
/kind bug

**What happened**:
- It would seem occasionally backend containers are scheduled on same port across hosts causing issues with services / load balancers routing to the wrong container.
- I deployed a kube service that used annotations for AWS LB, and noticed that a node that does not run my app was being routed to, and showed up as "InService", which is wrong.  It turns out both nodes w

[2018-02-19 23:30] sjenning commented on #59993
I applied @ravisantoshgudimetla fix for runc but I still get this error:
[code]
The path looks to be corrected in the way suggested but we are still getting the error.

[2018-02-19 23:39] sjenning commented on #59993
Nope nevermind.  The issue was that it kept printing the error right.  I only see it only at the very beginning before cadvisor has populated everything.

[2018-02-19 23:47] MikeSpreitzer commented on #56736
I got a flake from this test too.  https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/60054/pull-kubernetes-e2e-gce-device-plugin-gpu/19378/

[2018-02-20 00:40] msau42 commented on #56162
/remove-lifecycle stale

[2018-02-20 00:41] msau42 commented on #56101
/remove-lifecycle stale

[2018-02-20 00:41] msau42 commented on #56098
/remove-lifecycle stale

[2018-02-20 00:42] msau42 commented on #56100
/remove-lifecycle stale

[2018-02-20 01:12] bsalamat commented on #56032
@shyamjvs Sorry for the trouble. I was trying our [scheduler performance benchmarks](https://github.com/kubernetes/kubernetes/tree/master/test/integration/scheduler_perf) and they seemed to have similar results with and without enabling preemption. It looks like the tests that are slow are a different set of tests. Do you know how I can run them locally/in my dev cluster?

[2018-02-20 01:22] #56806 closed

[2018-02-20 01:31] ryanmcnamara commented on #50110
/remove-lifecycle stale

[2018-02-20 01:31] ryanmcnamara commented on #50110
@vishh do you know if there is any workaround available for this?

[2018-02-20 02:22] #19022 closed

[2018-02-20 02:23] #25412 closed

[2018-02-20 02:23] #34256 closed

[2018-02-20 02:23] #25401 closed

[2018-02-20 02:23] #39294 closed

[2018-02-20 03:10] rramkumar1 commented on #59976
@danderson Updated #59662 to reflect this bug.

This is interesting because we recently added a new e2e test job which runs the ingress tests in a cluster with ipvs (https://k8s-testgrid.appspot.com/sig-network-gce#ingress-ipvs-gce-e2e). The tests have been steadily green...

Note: those tests are not run using kubeadm.

[2018-02-20 03:23] #40649 closed

[2018-02-20 03:24] #40611 closed

[2018-02-20 03:24] #41584 closed

[2018-02-20 04:24] #32392 closed

[2018-02-20 04:24] #40180 closed

[2018-02-20 04:56] danderson commented on #59976
Okay, did some more testing to verify my claims... And I think it's my fault, not IPVS. I'll keep this whole description to explain my reasoning and conclusions, but I think you can wontfix this. I'll confirm in a few minutes...

---

Here's the situation in my cluster. There's a single node, which is both master and worker (removed the master taint). On it, I've installed Calico as the network ad

[2018-02-20 06:19] radeksimko commented on #44539
To my knowledge this is still a bug that is worth fixing.

I do understand the motivation behind closing stale feature requests, but bugs should not be forgotten about, IMO?

/remove-lifecycle rotten

[2018-02-20 07:03] hach-que commented on #20151
/remove-lifecycle rotten

[2018-02-20 07:04] hach-que commented on #20151
This is an important feature request for improved security in Kubernetes containers.

[2018-02-20 07:19] danderson commented on #59976
Scratch that, it still doesn't work.

To be certain, I switched from Calico to Flannel, to simplify the networking setup. I see the same behavior as above, IPVS is configured, but the packets don't match any rules in the iptables FORWARD table, and get dropped.

If I switch back to iptables mode in kube-proxy, the forwarding works as expected.

[2018-02-20 07:24] danderson commented on #59976
Contents of my FORWARD table, with flannel installed. The DROPed packets from policy are the SYN packets for my service.

[code]

Another datapoint: this is a Debian Testing machine. I can't think of anything debian-specific that would cause this, but it might be the reason why your e2e tests aren't failing?

[2018-02-20 07:28] #2799 closed

[2018-02-20 07:28] #39893 closed

[2018-02-20 07:28] #42180 closed

[2018-02-20 07:28] #28842 closed

[2018-02-20 07:28] lioncruise commented on #35062
I got the same problem on CentOS 7.3, Docker 1.17.3, Kubernetes 1.9.0, do you find the reason causing this problem now?

[2018-02-20 07:30] danderson commented on #59976
Okay, bisecting stuff... Looks like it's Docker CE 17.12 that sets the default policy to DROP on the FORWARD table. Now I'm wondering if this is all just a compatibility problem with Docker 17.12 (k8s only officially supports 17.03 currently). I'm trying to find an old .deb of docker 17.03 to test this theory.

[2018-02-20 07:37] danderson commented on #59976
Nope, no luck, I downgraded to Docker 17.03, and things fail exactly the same way - no matching rules in FORWARD, so the service packets just get dropped. Again, this only happens in IPVS mode, in iptables mode the service functions correctly.

Based on this, I still have no idea why e2e tests aren't failing, assuming you're testing against the latest 1.9.3...

FYI, to enable IPVS mode, I edited t

[2018-02-20 07:44] danderson commented on #59976
Also, looking at the test grid, I see https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ipvs . That suite is failing "[sig-network] Services should be able to up and down services". I wonder if that's related?...

[2018-02-20 07:49] danderson commented on #59976
Even more testing: I also tried with `externalIPs`, to check if the problem is specific to `status.loadBalancer`. `externalIPs` also doesn't work, same failure mode: packets arrive at machine, and iptables FORWARD drops them.

[2018-02-20 07:55] danderson commented on #59976
Another datapoint (sorry for the spam, I'm recording this as I discover new things). I tried setting `iptables -P FORWARD ACCEPT`, just to test the theory, and now I get an ~immediate "No route to host" when trying to talk to my service. So, the FORWARD thing might just be a red herring, afaict IPVS is just not processing the packets at all!

To confirm: `tcpdump -i any tcp port 80 or icmp or arp`

[2018-02-20 08:02] danderson commented on #59976
Aha! I got it working!

So, there are two separate problems with the 1.9.3 IPVS implementation:

1. kube-proxy is not adding IPs from `externalIPs` and `status.loadBalancer` to the `kube-ipvs0` interface.
2. There is a missing iptables rule in the FORWARD table, to allow the external traffic to transit the node.

If I manually fix both of these things (add the service IP to kube-ipvs0, and switch

[2018-02-20 08:02] ddehghan opened #60066 "How to delete orphaned pods for non existing nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
One of my nodes went down and the remaining nodes could not support all the remaining pods. I rebooted the nodes to get the pods to restart but still some where not restarting so eventually I terminated the EC2 nodes.

Now I still have some pods stuck

**What you expected to happen**:

Now that I have these stuck pods how

[2018-02-20 08:06] danderson commented on #59976
One more note before I head to bed: it looks like the e2e tests you pointed at are using L7 Ingress on GCP. AFAIK, the implementation of GCP Ingress does not use LoadBalancer or externalIPs at all, instead it forwards traffic to the NodePort on the machine.

I need to check this tomorrow, but if I'm right, that means those e2e tests are not at all exercising the behavior of LoadBalancer services a

[2018-02-20 08:07] ddehghan commented on #60066
/sig bugs

[2018-02-20 08:10] ddehghan commented on #60066
@kubernetes/sig-bugs /sig bugs

[2018-02-20 08:17] danderson commented on #59976
I promise this is my last update for tonight :)

I added a rule in iptables to log the packets that are getting dropped, with `iptables -A FORWARD -j LOG`.

It turns out, it's the packets **from** the pod back to the external client that are getting dropped!

[code]

The SYN packet is correctly getting routed to my serving pod, but the SYN/ACK response doesn't match any forwarding rules, and gets

[2018-02-20 08:29] #16949 closed

[2018-02-20 08:29] #25887 closed

[2018-02-20 08:29] cblecker commented on #60028
/assign

[2018-02-20 09:10] mrostecki commented on #57971
/assign

[2018-02-20 09:23] tiukhtinvladimir commented on #59976
@danderson you can not just add loadbalancer IP to kube-ipvs0. In that case each node in the cluster will respond to ARP requests. But only and only metallb should do this. If we add IP to kube-ipvs0 we must somehow prevent linux from responding to ARP requests on that IP....

[2018-02-20 09:30] #28316 closed

[2018-02-20 09:30] #3987 closed

[2018-02-20 09:30] #4471 closed

[2018-02-20 09:35] towolf commented on #53248
/remove-lifecycle rotten

[2018-02-20 10:07] berlincount commented on #43916
This test load of mine seems to be killed reliably:

[code]

other region:

[code]

these events occur around the same time, I guess some other task is contending for resources, maybe causing buffer growth pushing it over the limit due to I/O slowdown of the PV? hard to guess.

[2018-02-20 10:20] jfpucheu commented on #52655
Hello,

We have the same issue on 1.6.13 and 1.7.9 sometime the pods get resolv.conf from the node instead of local K8S cluster DNS.

Same issue here : https://github.com/kubernetes-incubator/kubespray/issues/1951

Jeff

[2018-02-20 10:24] marcwuk commented on #54037
/close

[2018-02-20 10:24] #54037 closed

[2018-02-20 10:30] #6085 closed

[2018-02-20 10:31] #9053 closed

[2018-02-20 10:31] #8445 closed

[2018-02-20 10:31] nikhita commented on #49718
/remove-lifecycle rotten

[2018-02-20 11:13] lvicentesanchez commented on #45726
Having this problem too... check my comments on #49926

[2018-02-20 11:18] discordianfish commented on #59376
I have the same issue on a vanilla cluster running on AWS, using docker hub registry:

When scheduling a pod which uses a large image (5GB), I see ErrImagePull and `rpc error: code = Canceled desc = context canceled` in the pod events. I can still pull the image with `docker pull` after which the scheduling succeedes. It doesn't seem to recover on it's own though. What also worked is recreating th

[2018-02-20 11:19] wojtek-t commented on #59338
Fix for that is in #60069

[2018-02-20 11:19] wojtek-t commented on #59338
Once submitted, this should be cherrypicked to previous branches.

[2018-02-20 11:21] lvicentesanchez commented on #49926
For what is worth... here is the manifest I'm using:

[code]

[2018-02-20 11:26] nikhita commented on #54515
/remove-lifecycle stale

[2018-02-20 11:31] #9299 closed

[2018-02-20 11:31] #10071 closed

[2018-02-20 11:32] #9218 closed

[2018-02-20 11:32] #10100 closed

[2018-02-20 11:32] #9937 closed

[2018-02-20 11:32] #10058 closed

[2018-02-20 11:38] lvicentesanchez commented on #49926
This is the log I get when I first create the stateful set:

[code]

[2018-02-20 11:40] lvicentesanchez commented on #49926
And these are the events I get from the pod:

[code]

[2018-02-20 11:41] dadux commented on #42433
We started seeing the `OutOfCpu` error after upgrading from 1.8.6 to 1.9.2.

We create pods - not managed by a rs/deployment (this is a batch workload), and all use appropriate requests/limits. We've been running this config without any issue for months, ~200 node clusters running 3000 pods at peak.

In a matter of hours, we started to see 100s of `OutOfCpu` errors. Incidentally all those pods see

[2018-02-20 11:48] lvicentesanchez commented on #49926
And these are the events when I delete the pod and let the statefulset to recreate it:

[code]

[2018-02-20 11:51] snoby commented on #49926
My understanding is that that there are some real issues with mounting volumes on aws based k8s clusters that v1.9.0 and 1.10 are suppose to address.  Mainly because Amazon is making K8s a first class citizen with EKS.

I had the same issues and moved my storage to EFS until the EBS issues are resolved.  I have not had issues with EFS.  My $0.02

[2018-02-20 11:56] lvicentesanchez commented on #49926
@snoby using this https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs?

[2018-02-20 11:58] snoby commented on #49926
Yes.

[2018-02-20 12:32] #10311 closed

[2018-02-20 12:33] #10112 closed

[2018-02-20 12:33] #10238 closed

[2018-02-20 12:33] #10674 closed

[2018-02-20 12:33] #9877 closed

[2018-02-20 12:33] mattjmcnaughton commented on #60033
Hi, thanks for reporting this @CallMeFoxie - happy to try and help you debug :)

Do you mind posting the `hpa` logs?

Thank you for the `newUsageRatio` and `usageRatio` values - could you post a sequence of those over a longer time frame?

[2018-02-20 12:39] CallMeFoxie commented on #60033
`hpa` logs? There were no logs until I threw in some of my code, basically it was keeping the same count (and thus not rescaling), do not have the exact logs atm and cannot break it atm, maybe on Friday :)

the newUsageRatio and usageRatio were always around (+- 10%) the values I posted, never going through the 1.0 point.

[2018-02-20 12:48] mattjmcnaughton commented on #59975
Hi @lumeche - thanks for reaching out about this!

It looks like this section of the `replica_calculator` [code](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/replica_calculator.go#L128), handles when pods aren't ready. @DirectXMan12 I think you added this behavior in [this commit](https://github.com/kubernetes/kubernetes/commit/2c66d47786465b132f9b5d1d731c4eb9f

[2018-02-20 12:50] lenalebt commented on #2630
I have a very similar use case where I would need to change the owner of a file that is mounted (from a secret in my case).

I have a mongodb-cluster in k8s which uses a special `cluster.key` file for cluster authorization. That file is stored in a secret; we have a client where running images as root is forbidden. Our pod has a securityContext set with a `runAsUser: 1000` directive. Mongodb itsel

[2018-02-20 12:53] mattjmcnaughton commented on #60033
Sorry, I wasn't clear about `hpa` logs. Can you post the output of running `kubectl get hpa HPA_NAME`?

Also, I wonder - do you have any pods that are not ready? I'm surprised to hear that there's a persistent difference between `newUsageRatio` and `usageRatio`.

[2018-02-20 12:53] mattjmcnaughton commented on #60033
Also friday sounds great - no rush :)

[2018-02-20 12:55] mrostecki opened #60070 "local-up-cluster: cfssl is downloaded everytime, it should be downloaded just once"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If you don't have cfssl in your `PATH`, then `local-up-cluster` script is downloading it on every execution, instead of downloading it once. It increases the execution time.

**What you expected to happen**:

If you don't have cfssl in `PATH`, `local-up-cluster.sh` script should download/install it only once and the next

[2018-02-20 12:56] mrostecki commented on #60070
/sig contributor-experience

[2018-02-20 13:01] Blasterdick commented on #47368
As I understand [this](https://github.com/google/cadvisor/blob/master/docs/application_metrics.md#passing-the-configuration-to-cadvisor), cAdvisor requires a docker label on the container to provide json with custom metrics endpoint url to scrape metrics from. So if you have a multi-container pod with Nginx & Redis, you have to add a label to both. And seems like docker labels are ignored, so we n

[2018-02-20 13:01] marranz opened #60071 "ETA for stable?"
Hi,

I see in the documentation that is planned to release the first stable version during 2018. Any ETA for that?

@kubernetes-sig-releases

[2018-02-20 13:05] CallMeFoxie commented on #60033
ah. There were no events at the time, only controller was saying about the rebalance that there's no need to rebalance (as 2 == 2 replicas, the max was 90).

[2018-02-20 13:05] mattjmcnaughton commented on #59888
Hi @huguesalary - thanks for reaching out about this :)

I'm surprised to see the reason `TooFewReplicas` matched with the message `the desired replica count is increasing faster than than the maximum scale rate`. It should say "the desired replica count is less than the minimum replica count" - and I think that its a bug that it does not. Does what your saying make more sense if we replace the `"

[2018-02-20 13:10] mattjmcnaughton commented on #57798
Ah very interesting! I'll be honest, I'm not sure I have enough context on `moby` to weigh on if that could be the cause. It definitely seems like a possibility.

I suppose one debugging test could be trying auto-scaling with a cluster using the `rkt` container runtime, and seeing if you still experience the same issue. (https://coreos.com/rkt/docs/latest/using-rkt-with-kubernetes.html). But that

[2018-02-20 13:12] mattjmcnaughton commented on #58801
Hi @huangjiasingle - thanks for your question! I'm not sure the sig/autoscaling group is the best place for this - perhaps @sig/scheduling?

[2018-02-20 13:34] #31569 closed

[2018-02-20 13:34] #24608 closed

[2018-02-20 13:52] liggitt commented on #60071
This would be a good topic for the sig release mailing list, rather than an issue

/close

[2018-02-20 13:52] #60071 closed

[2018-02-20 13:57] IlyaSemenov commented on #44370
I confirm that it works if the storage class exists prior to creating a PVC. After all, I mentioned the same in my first comment: "What I've discovered is that the problem only happens if you **first** create a PVC and **then** run the provisioner."

This is however I believe a typical scenario for newcomers on newly created clusters. You deploy an app (with a Helm chart or manually) which creates

[2018-02-20 14:12] jsravn commented on #45976
https://github.com/kubernetes/kubernetes/pull/60074 is my attempt to address one part of the issue (errors on kube-dns restart).

[2018-02-20 14:14] radu-matei commented on #22839
Shouldn't this be a part of the pod status?

[2018-02-20 14:35] #30692 closed

[2018-02-20 14:35] AlginMaduro commented on #57718
For all reading this issue. the following comment helped me alot!

https://github.com/kubernetes/kubernetes/issues/53538#issuecomment-345942305

[2018-02-20 14:42] eduardobaitello commented on #30518
The issue is currently stalled :(
Any news about this?

[2018-02-20 14:59] wojtek-t commented on #59338
Cherrypicks are here:
https://github.com/kubernetes/kubernetes/pull/60077
https://github.com/kubernetes/kubernetes/pull/60078

[2018-02-20 15:05] dims commented on #60070
@mrostecki i've been meaning to chase this. Thanks for doing that.

One observation, we have a precedent on what we do if etcd is not present. we can follow the same here

https://github.com/kubernetes/kubernetes/blob/master/hack/lib/etcd.sh#L120-L121

essentially if etcd binaries are not present we download them into third_party and prompt the user to add that to the PATH.

[2018-02-20 15:06] RRAlex commented on #5607
/remove-lifecycle rotten

For people wanting to run packer (with /dev/kvm) inside k8s, this is an essential issue.
`--privileged` is way overkill and a --device equivalent would be very useful, maybe via a `hostDevice:` option?

[2018-02-20 15:23] bskiba commented on #55630
@DirectXMan12 I am thinking of fixing this by excluding pods with Phase=Failed from the unreadyPods that are taken into account. It seems the right thing to do as they will not become running again. Do you see any issues?

[2018-02-20 15:33] shyamjvs commented on #56032
No problem :)

I'm a bit skeptic whether those benchmarks give a very reliable signal, as the difference in results might not actually be perceived due to their variance? Also FWIW, those benchmarks are integration tests running just the scheduler and etcd iiuc (not sure if that should affect anything though).

Yes, the one I'm referring to is our 'real cluster' density test (where we're creating

[2018-02-20 15:36] #7300 closed

[2018-02-20 15:36] #41640 closed

[2018-02-20 15:36] #7496 closed

[2018-02-20 15:36] #17429 closed

[2018-02-20 15:50] bskiba commented on #59975
@lumeche can you also share a bit more about your HPA? What kind of metric type is it? Based on the description I'm suspecting that it is an Object metric, am I right?

[2018-02-20 15:56] GoelDeepak commented on #59507
@m1093782566 What is our final take on this? Are we going with `--exclude-cidrs` approach?

[2018-02-20 16:22] rramkumar1 commented on #59976
/cc @m1093782566

[2018-02-20 16:37] #39356 closed

[2018-02-20 16:37] #30272 closed

[2018-02-20 16:37] #41575 closed

[2018-02-20 16:39] nikhita commented on #53459
/remove-lifecycle stale

[2018-02-20 16:42] rpothier opened #60081 "pod-network-cidr restricted to /66 for IPv6"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When creating an IPv6 cluster, the --pod-network-cidr needs to be
a /66, it cannot be for a larger network (smaller value)

**What you expected to happen**:
Should be able to use values smaller then /66, /64 or a /48

**How to reproduce it (as minimally and precisely as possible)**:
Create a cluster with Kubeadm, and set

[2018-02-20 16:43] rpothier commented on #60081
/assign rpothier

[2018-02-20 16:47] lvicentesanchez commented on #49926
For the record... I just created a 1.7.12 cluster using kops 1.8.1 and same manifests just work so... something is seriously broken in the 1.8.x release.

[2018-02-20 16:51] daveoconnor commented on #48948
/remove-lifecycle stale

[2018-02-20 16:58] MikeSpreitzer opened #60082 "k8s.io/sample-apiserver is not exemplary wrt certificates"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I just noticed that the sample apiserver is cheating wrt authentication and authorization.  Its `APIService` object's spec includes `insecureSkipTLSVerify: true`, which is not recommended.

**What you expected to happen**:
I expected the sample to be more exemplary.

**How to reproduce it (as minimally and precisely a

[2018-02-20 16:59] MikeSpreitzer commented on #60082
@kubernetes/sig-api-machinery-feature-requests

[2018-02-20 17:15] lumeche commented on #59975
So answer @mattjmcnaughton about why our process takes that much time to start. Basically this is a server that in order to do what he needs to do, he needs to load a lot of data in memory (several GBs) and then perform some warm up that are pretty intensive. The idea is that he doesn't need to grab (almost) anything from outside to attend a request so it's latency is extremely low (in the order o

[2018-02-20 17:19] danderson commented on #59976
@tiukhtinvladimir Good point, thanks for catching that!

The easiest "fix" for that is to define a second kube-ipvs1 interface, set the NOARP flag on that interface, and add LoadBalancer and externalIPs to that interface. That way, the machine still "owns" the IPs, but doesn't try to respond to ARP queries. I don't know if adding another interface has other side-effects on IPVS.

I'm going to spen

[2018-02-20 17:38] #22193 closed

[2018-02-20 17:47] andrewhowdencom commented on #58956
From `journalctl`:

[code]

From `strace -p ${PID} -f -s 8096 -e process`:

[code]

To me, this seems pretty definitive -- that block is wrong.

[code]

[code]

[2018-02-20 17:49] liggitt commented on #8337
/reopen
/remove-lifecycle rotten
/cc @mikedanese

[2018-02-20 17:50] msau42 commented on #49926
@lvicentesanchez did you bring up your cluster with alpha feature gates?  There was a known issue with alpha clusters using StatefulSets and zonal PVCs in 1.8, and has been fixed in a later patch release.  #56265

[2018-02-20 17:56] msau42 commented on #44370
@jsafrane what do you think of modifying existing PVCs to add the default storage class if the default was created/set after the PVC?  Will this break backwards compatibility?

[2018-02-20 17:59] msau42 commented on #5607
@jiayingz does the device plugin interface cover this use case?

[2018-02-20 17:59] msau42 commented on #56180
/remove-lifecycle stale

[2018-02-20 18:00] msau42 commented on #59376
@kubernetes/sig-node-bugs

[2018-02-20 18:01] huguesalary commented on #59888
Hi @mattjmcnaughton

I'm not convinced the issue is _only_ with the messaging, and supporting this intuition is my previous comment (https://github.com/kubernetes/kubernetes/issues/59888#issuecomment-365783845): until I set my `MaxReplicas` to a higher number than 200, my pods would not scale up even though they needed to. I'll see if I can confirm that.

[2018-02-20 18:35] andrewhowdencom commented on #58956
cc @danwinship as the original author

[2018-02-20 18:39] qmalexander opened #60087 "Expose on linux don't work "ERR_CONNECTION_TIMED_OUT""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Using https://github.com/Azure/acs-engine/blob/master/examples/windows/kubernetes.json to generate and deploy. When adding a helloworld (https://kubernetes.io/docs/tutorials/stateless-application/expose-external-ip-address/) application and exposing it on the linux master node. I get the public IP but I keep getting "ERR_

[2018-02-20 18:43] enisoc commented on #55538
I think we do need an e2e test for CRD watch (among other things) as a requirement for CRD going GA. The most pressing need is to define conformance (which only e2e tests can do). Currently we only test that you can create and delete a CRD, but we don't test that you can actually do anything with it:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apimachinery/custom_resource_defini

[2018-02-20 18:49] caseydavenport commented on #52039
/remove-lifecycle stale
/lifecycle frozen

[2018-02-20 18:55] msau42 commented on #52617
/remove-lifecycle stale
/lifecycle frozen

@cheftako is working on running the cloud controller in gce, but it's not there yet, so we shouldn't remove the PV label admission controller yet.

[2018-02-20 19:00] rydahl commented on #57897
I'm also getting this. Endpoint is gone for the service, and then comes back after a while (seconds to minutes). The pod(s) look ok, so I cant think of any reason why this would happen.

I can see this issue happening across multiple clusters running in Google Kubernetes engine. Currently on version 1.8.4

If I recreate the services, they go back to normal but the issue will come back after a few

[2018-02-20 19:03] qmalexander commented on #60087
/sig azure

[2018-02-20 19:08] playqdrew commented on #28901
We just experienced this in a production cluster on AWS K8 version 1.2.3.

`W0220 18:15:28.054325       6 request.go:344] Field selector: v1 - serviceaccounts - metadata.name - default: need to check if this is versioned correctly.
W0220 18:15:42.993959       6 request.go:627] Throttling request took 108.919038ms, request: GET:http://127.0.0.1:8080/api/v1/nodes
W0220 18:15:44.367654       6 reques

[2018-02-20 19:17] tpepper commented on #52617
@msau42 and @cheftako should we drop the v1.10 milestone then for this issue?

[2018-02-20 19:25] bgrant0607 commented on #17333
Proposal: https://docs.google.com/document/d/1q1UGAIfmOkLSxKhVg7mKknplq3OTDWAIQGWMJandHzg/edit

[2018-02-20 19:32] juanvallejo commented on #60045
ping @adohe or @soltysh

[2018-02-20 19:32] ahmetb opened #60092 "Stop accepting PRs to examples/ directory"
https://github.com/kubernetes/kubernetes/tree/master/examples/
is now at
https://github.com/kubernetes/examples/ and has been there for many months.

However we're still seeing maintainers accept PRs to the `examples/` directory.  These PRs should be sent to the new repo instead.

Can someone help us set up some sort of CI test that prevent PRs that change `examples/` from getting merged?

We inte

[2018-02-20 19:40] #40949 closed

[2018-02-20 19:44] ixdy commented on #49673
I don't see any gcloud warnings (of this form) in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/21952?log#log, so I think we're good for now.

/close

[2018-02-20 19:45] #49673 closed

[2018-02-20 19:58] woopstar commented on #59376
Did you set the `--image-pull-progress-deadline` on the kubelet?

[2018-02-20 20:05] jeffvance commented on #44370
I've been out of the loop for a bit, but I see that the pvc's storage class is set to "" (above), I assume due to no storage class being provided. If this is true how will the controller know the difference between an explicit setting of "" for storage class in the pvc (which means not to use any storage class) vs. the storage class being omitted in the claim but "" filled in when the pvc object w

[2018-02-20 20:10] msau42 commented on #56236
/remove-lifecycle stale

[2018-02-20 20:26] janetkuo commented on #41677
/lifecycle frozen

[2018-02-20 20:26] janetkuo commented on #41677
/remove-lifecycle rotten

[2018-02-20 21:09] msau42 commented on #44370
PVC with storageclass == nil is used to indicate the default, whereas storageclass == "" means no storageclass.   But the filling in of the default storageclass is done in the admission controller on PVC create, so if you create/set your default storageclass after creating the PVC, the storageclass field won't be updated afterwards.  I think we could possibly have a long running controller do the

[2018-02-20 21:24] tallclair commented on #55435
From [Understanding and Hardening Linux Containers](https://www.nccgroup.trust/us/our-research/understanding-and-hardening-linux-containers/):

I think this has veered a bit off topic though.

[2018-02-20 21:26] #59390 closed

[2018-02-20 21:30] patricklawsongoogle commented on #47746
/remove-lifecycle rotten

[2018-02-20 21:39] shyamjvs opened #60097 "Performance tests occasionally flaking while RC creation"
I'm seeing such flakes occasionally during our load/density tests:

[code]

[code]

Ref:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/29/
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/35/
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-

[2018-02-20 21:40] shyamjvs commented on #60097
Seems like these isn't really a condition which should cause the tests to fail. As the #pods of an RC can decrease in certain cases, as mentioned in a comment at the relevant code path:

https://github.com/kubernetes/kubernetes/blob/dd9de90b0ad1aa78c2a8dd7d5238d8f769ffe771/test/utils/runners.go#L771-L777

/assign
I'll take a deeper look into this later.

[2018-02-20 21:42] #16173 closed

[2018-02-20 21:42] #41483 closed

[2018-02-20 21:42] #19530 closed

[2018-02-20 21:42] #25142 closed

[2018-02-20 21:42] #27212 closed

[2018-02-20 22:05] xeor opened #60099 "Service-environment variables should be optional"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Every container gets ~8 environmentvariables per service exposing a lot of information, and there is no way to turn it off.

**What you expected to happen**:
This `docker` deprecated `--link` feature compatibility option to be an opt-in (or at least opt-out) option.

**How to reproduce it (as minimally and precisely a

[2018-02-20 22:10] #46639 closed

[2018-02-20 22:13] timothysc commented on #59978
hostPath is a highly used feature, for better or worse... and enabling some level of validation is in the best interest of the consumer.

[2018-02-20 22:43] #43657 closed

[2018-02-20 22:45] sjenning commented on #59978
Then perhaps we can agree on some well known path that systems running the e2es can be configured to allow access.  Right now, it is the wild west where hostPath use in e2e tests can attempt to write anywhere.

[2018-02-20 22:50] djsly opened #60101 "Azure Disk Detach are not working with multiple disk detach on the same Node."
/kind bug

**What happened**:
I'm running a POD with three VolumeMount (AzureDisk PVC). If I delete the pod, it gets rescheduled on a different node. The 3 disks are unmounted from the original node (thanks to kubelet) and the disks are starting to get unattached from the VM.

Out of the three disks, only one was able to get unattached, it was properly reattached to the new node waiting to run the

[2018-02-20 22:51] djsly commented on #60101
/sig-azure
/sig-storage

[2018-02-20 22:51] djsly commented on #60101
/assign @feiskyer

@feiskyer let me know if you need more logs.

[2018-02-20 22:56] #54816 closed

[2018-02-20 23:08] yaumeg commented on #44528
Did you have a chance to experiment a bit ? For solution 2), Nodeport define ports in the 30000-32767 range, so it seems also necessary to modify nfs PV default ports ? (2049 & 111)

I have a baremetal setup with flannel, and editing resolv.conf doesn't work, because like you pointed out, my nodes don't have access to container's network.

[2018-02-20 23:12] djhaskin987 commented on #39792
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-20 23:13] djhaskin987 commented on #39792
@costinm if you read the thread you would see that this thread is not about externalNames at all.

[2018-02-20 23:23] oomichi commented on #59833
As the following, containerStatuses image is different from spec image on kubectl by hands.
Is that expected?

[code]

[2018-02-20 23:32] djhaskin987 commented on #39792
@costinm haha, perhaps I am the wrong one here.

@JorritSalverda @krish7919 While externalNames were built for external applications, [they were explicitly also built for migrating external applications inside kubernetes](https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors):

It looks like external name should be fine forwarding stuff on to internal DNS name

[2018-02-20 23:32] djhaskin987 commented on #39792
/remove-lifecycle frozen

[2018-02-20 23:36] ahmetb opened #60105 "api: PersistentVolumeClaim requests should not use Pod requests type"
It appears like `PersistentVolumeClaim.spec.resources.{limits,requests}` fields are using the same `limits`/`requests` in the Pod spec.

This is resulting in API/`kubectl explain` documentation that doesn't make sense for PVCs:

[code]

It is talking about compute resources, whereas the PVC requests are not about `cpu`/`memory` at all.

A person cannot construct the following request by looking at

[2018-02-20 23:43] dashpole commented on #60052
/kind bug
turns out most of the changes are bug-fixes

[2018-02-20 23:44] #43971 closed

[2018-02-20 23:44] #5762 closed

[2018-02-21 00:11] tallclair opened #60108 "Don't duplicate status in audit events"
We [copy](https://github.com/kubernetes/kubernetes/blob/f8298702ffe644a4f021e23a616ad6a8790a5537/staging/src/k8s.io/apiserver/pkg/audit/request.go#L175) the `ResponseObject` into the `ResponseStatus` field of audit events. This was done to capture the response status even when the response is omitted, but results in (potentially large) duplicate data being sent. In some examples, the status messag

[2018-02-21 00:11] tallclair commented on #60108
/cc @crassirostris

[2018-02-21 00:17] oomichi commented on #59833
At upstream CI, k8s.gcr.io 's image is used as the same as my local env.

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/59961/pull-kubernetes-e2e-gce/21446/build-log.txt
[code]

So the containerStatuses' image seems wrong on my env. In addition, imageID also seems wrong like
[code]

[2018-02-21 00:25] tallclair opened #60110 "audit.Event.RequestObject underspecified for patch requests"
The documentation on the [`RequestObject` field](https://github.com/kubernetes/kubernetes/blob/f8298702ffe644a4f021e23a616ad6a8790a5537/staging/src/k8s.io/apiserver/pkg/apis/audit/types.go#L117) of the `audit.Event` reads:

This doesn't really fit the patch request model, which specifies an array of field operations rather than an actual object. E.g.
[code]

We should determine what the expected b

[2018-02-21 00:25] tallclair commented on #60110
/cc @crassirostris

[2018-02-21 00:30] #60025 closed

[2018-02-21 00:45] #18762 closed

[2018-02-21 00:45] #44094 closed

[2018-02-21 01:06] tallclair commented on #58083
Is the intent still for this to reach stable in 1.10? Code freeze is coming up ([02-26](https://github.com/kubernetes/sig-release/blob/master/releases/release-1.10/release-1.10.md)). There are a lot of issues still open (including 2 I just filed: #60108 and #60110).

At this point I'm inclined to suggest we bump GA out to 1.11 unless there are strong objections.

[2018-02-21 01:17] mtanino opened #60111 "Block volume isn't cleaned up after Block volume reconstruction failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Currently, if Block volume plugin fails to reconstruct volume, cleanupMounts() is called to unmap volume.
However, there are following two issues to clean-up volume via cleanupMounts() path.

- During cleanupMounts(), MountedVolume doesn't have volumeMode.
  Therefore, following unmount operation always calls filesystem's

[2018-02-21 01:19] josephspurrier opened #60112 "'Endpoint' configuration is required for this service - ECR AWS Library Out of Date"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Received an error when trying to pull an image from a private ECR repository in AWS GovCloud. All the nodes have an IAM role attached to them.

Pod log:
[code]

Kubelet Node log:
[code]

**What you expected to happen**:
The image should pull successfully.

**How to reproduce it (as minimally and precisely as possible)**:

[2018-02-21 01:20] #53142 closed

[2018-02-21 01:28] djsly commented on #60101
[91d3b0a6-11b9-11e8-82b7-000d3a018ac3.log](https://github.com/kubernetes/kubernetes/files/1742540/91d3b0a6-11b9-11e8-82b7-000d3a018ac3.log)
[92317976-11b9-11e8-9620-000d3a017a13.log](https://github.com/kubernetes/kubernetes/files/1742541/92317976-11b9-11e8-9620-000d3a017a13.log)
[92972088-11b9-11e8-888f-000d3a018174.log](https://github.com/kubernetes/kubernetes/files/1742542/92972088-11b9-11e8-888

[2018-02-21 01:37] spiffxp commented on #27578
/remove-lifecycle stale

[2018-02-21 01:39] jiayingz commented on #5607
The device plugin API does allow a device plugin to pass Kubelet the host devices to be created in container runtime, but I am not sure what is the extra requirement of this feature.

[2018-02-21 01:43] krzyzacy commented on #60003
now looks like it's failing on `Services should work after restarting apiserver`?
/sig network
cc @MrHohn @bowei

[2018-02-21 01:46] #34743 closed

[2018-02-21 01:46] #17097 closed

[2018-02-21 01:46] #44158 closed

[2018-02-21 01:46] #13829 closed

[2018-02-21 02:09] davidz627 opened #60114 "Implement MountDevice/UnmountDevice for CSI Plugin"
/kind feature
/sig storage
/assign

Tracking issue for implementation of MountDevice/UnmountDevice for CSI plugin that will call through to NodeStageVolume/NodeUnstageVolume

[2018-02-21 02:10] djsly commented on #60101
This is one problem.
[code]

the disk is still attached to the VM.

[2018-02-21 02:23] m1093782566 commented on #59507
probably Yes，if No better resolution. Sorry for delay because I am on vocation.

[2018-02-21 02:30] djsly commented on #60101
The problem is here. for managed disk, the diskName is empty, we should rely on diskURI to detect if a disk is attached.

https://github.com/kubernetes/kubernetes/blob/release-1.7/pkg/cloudprovider/providers/azure/azure_controllerCommon.go#L263-L266

[2018-02-21 02:47] #43667 closed

[2018-02-21 02:48] m1093782566 commented on #59976
a dup of #59656？

[2018-02-21 02:51] m1093782566 commented on #59976
I am on vocation now and will be back soon

[2018-02-21 03:09] tiny1990 commented on #49440
work for me

[2018-02-21 03:18] jberkus commented on #60052
please mark this issue as approved-for-milestone, since it certainly seems to be, and it's now code slush.  Thanks!

[2018-02-21 03:20] jhorwit2 commented on #60061
/sig scheduling

[2018-02-21 03:38] jberkus commented on #17130
@soltysh @wanghaoran1988 there hasn't been any activity in this issue.  Do you expect to get it done in the next 5 days?  If not, please bump it to 1.11.  Thanks!

[2018-02-21 03:43] jberkus commented on #30039
Has there been any work on this issue?  Do you expect to get it done in the next 5 days for 1.10?

[2018-02-21 03:48] #23993 closed

[2018-02-21 03:48] #36905 closed

[2018-02-21 03:48] #38199 closed

[2018-02-21 03:48] #44052 closed

[2018-02-21 03:53] srishti0190 commented on #50453
@cmluciano Does it finally contain DNSSelector or not. Because this is something which I also need because the IP's are dynamically assigned.

[2018-02-21 03:53] jberkus commented on #49817
@kksriram will this make 1.10?  if so, please approve-for-milestone, otherwise please bump it to 1.11.  Thanks!

[2018-02-21 03:56] jberkus commented on #50345
@maeb do you see this getting done in the next 5 days for 1.10?

[2018-02-21 04:21] msau42 opened #60119 "PV NodeAffnity should be added to 'kubectl describe'"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign

**What happened**:
Now that it's a field, it needs a separate entry in 'kubectl describe'

[2018-02-21 04:49] #37633 closed

[2018-02-21 04:50] negz commented on #17512
Getting in on this shell scripting party. I have an older cluster running the CA with scale down disabled. I wrote this script to determine roughly how much I can scale down the cluster when it starts to bump up on its AWS route limits:

[code]

Produces output like:
[code]

[2018-02-21 04:52] K7king opened #60120 "High availability of Pods missing when nodes go down"
@kubernetes/sig-scalability
/sig scalability
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**: We created 20 node cluster on AWS EC2 where we created auto-scaling groups for the nodes and deployed 50 pods(with bare minimum resources). We manually terminated  18 of the VMs from AWS to check the high availability. But most of the pods were unavailable.

**What you expected to happen*

[2018-02-21 04:53] danderson commented on #59976
That looks very much like the FORWARD drops, yes! Thanks for the pointer, I will test-drive your proposed fix and my proposed fix for the IPVS interface thing, as manual edits to my network stack.

If those two edits work, I think the rest is just a matter of PRs to upstream the changes into kube-proxy. I'm happy to help with those changes, if someone who knows the codebase can point me in the rig

[2018-02-21 05:50] #43954 closed

[2018-02-21 05:50] #30305 closed

[2018-02-21 06:17] roberthbailey opened #60123 "The kubelet should create the `--cert-dir` directory if it doesn't exist"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

/kind feature

Rather than having to do

[code]
you should be able to pass a non-existent directory for `--cert-dir` to the kubelet and have the code work via the kubelet creating the directory if it doesn't exist.

The `kube-up.sh` code on GCP still contains such a `mkdir` command, but if the kubelet already does this correctly, then

[2018-02-21 06:33] pawankkamboj commented on #59438
We are facing the same issue with 1.9.3 version, here is output from top nodes
[code]

Hete metrics server info
[code]

[2018-02-21 06:34] danderson commented on #59976
Confirmed, the forwarding rules suggested as the fix for #59656 also fixes external IPs and LoadBalancer IPs. Specifically, the rule that fixes them is `-A KUBE-FORWARD -s <pod-network-cidr> -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT`, which permits the SYN/ACK and subsequent packets to transit from the pod to the physical network.

Note that _both_ fixes are needed:

- the externalIP/Lo

[2018-02-21 06:48] djsly commented on #60101
Azure Portal shows that a bunch of errors occurred, followed by three success. Each of those should have been the removal of a single disk. In the end, only 1 disk disappeared.

<img width="508" alt="screen shot 2018-02-21 at 01 21 23" src="https://user-images.githubusercontent.com/4981802/36465938-a399e2a8-16a5-11e8-882c-d3bfffec156b.png">
<img width="591" alt="screen shot 2018-02-21 at 01 21 32"

[2018-02-21 06:51] #43246 closed

[2018-02-21 06:51] #28393 closed

[2018-02-21 07:14] tirumaraiselvan opened #60124 "Service hangs when endpoints are not available"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network

**What happened**:

If we access a service which has no endpoints ( say underlying pods are not ready or replicas are 0) from within a pod, it times out. If the same service is accessed directly from a node, it terminates immediately with a connection refused message as expected.

@thockin (in mailing list) said: For traffic fr

[2018-02-21 07:16] tirumaraiselvan commented on #60124
Potentially resolved by https://github.com/kubernetes/kubernetes/pull/57461

[2018-02-21 07:19] eghobo commented on #59975
@mattjmcnaughton, @DirectXMan12 do you think we can add this change to 1.10? it's critical bug/feature for us and we are happy to help with code/testing.

[2018-02-21 07:52] #44418 closed

[2018-02-21 07:52] #44563 closed

[2018-02-21 07:58] #59993 closed

[2018-02-21 08:18] brunsgaard commented on #54011
@bhack, @flx42

I looked into this yesterday and have it working. For now,  the main points are.

1. Update cluster to use docker 17.13.2 (needed for nvidia-conatiner-runtime)
2. I create a new ec2 instance with kops ami (stretch).
3. Install the most resent version Nvidia and Cuda, I read  the [nvidia-bootstrap hook](https://github.com/kubernetes/kops/blob/master/hooks/nvidia-bootstrap/image/run.

[2018-02-21 08:46] Tapuzi commented on #35189
/close

[2018-02-21 08:46] #35189 closed

[2018-02-21 08:56] gonzochic commented on #55867
We have the same issue here, but on AKS. We are running 5 node cluster on we get the following error for all 5 nodes. Here the system infos:
[code]

and the error we get after updating von ```1.8.1``` to ```1.8.7```

[code]

[2018-02-21 08:56] gonzochic commented on #55867
/remove-lifecycle stale

[2018-02-21 09:42] mrostecki commented on #60070
@dims Good point. Maybe following the approach we already take with etcd would be better, because we will not do anything automatically (especially with `GOPATH`) and developer would take care of managing his `PATH` variable.

So. in case when `cfssl` is not installed, we may just point the user to a separate script for installing cfssl in `third_party` directory.

@cblecker WDYT? ^

[2018-02-21 09:46] mrostecki commented on #60070
And we may do that for every external dependency we need in `local-up-cluster.sh`, just for being consistent.

[2018-02-21 09:53] #41977 closed

[2018-02-21 09:55] mrostecki commented on #60099
I like the idea of making those environment variables optional. I think it could be managed by a flag provided (`--enable-service-env`?).

I like the idea about exposing information about services in downward API as well, but that sounds like a very complicated feature, which would need to involve teaching downward API to select external resources by label selectors. IMO it definitely needs a sepa

[2018-02-21 10:19] sttts commented on #60070
/cc @cblecker

[2018-02-21 10:38] bhack commented on #54011
@brunsgaard I think that there was a problem with kook https://github.com/kubernetes/kops/issues/2493.
What do you think?

[2018-02-21 10:47] DominicGunn commented on #55046
+1 on being able to see resource usage by namespace.

[2018-02-21 11:09] soltysh commented on #17130
@jberkus @wanghaoran1988 it's targeted for 1.11.

[2018-02-21 11:56] #41203 closed

[2018-02-21 12:09] lvicentesanchez commented on #49926
Ok... I found out why I was having problems... the instance type of the node where the PV has to be attached was m5.4xlarge and, according to kops release notes, attaching PV to NVME instances is only supported by kubernetes 1.9.x so... anyone having this problem, make sure you are not facing having the same problem.

[2018-02-21 12:57] #44776 closed

[2018-02-21 12:57] #13987 closed

[2018-02-21 13:02] m1093782566 commented on #59976
I am working on fixing #59656

[2018-02-21 13:27] AlexStasko opened #60134 "Got "repomd.xml signature could not be verified for kubernetes" error when installing Kubernetes from yum repo on Amazon Linux 2"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

I'm trying  to install Kubernetes on Amazon Linux 2 as described [here](https://kubernetes.io/docs/setup/independent/install-kubeadm/), but I get error:

[code]

**What you expected to happen**:
Successful installation kubelet kubeadm kubectl

**How to reproduce it (as minimally and precisely as possible)**:

**Anything e

[2018-02-21 13:32] rydahl commented on #57897
After upgrading the master to 1.8.7 things appear to be back to normal and the "Updating existing service port" messages have stopped showing up (before on earlier versions I would see them every minute). Now I only see "Adding"/"Removing" when services are actually added or removed.

[2018-02-21 13:44] artemyarulin commented on #49387
Hm, can I use it for getting nested array items? Like I want to do
[code]
But it returns error, tried `status.containerStatuses..restartCount`, but it also doesn't work and returns same error `Error from server (BadRequest): Unable to find "pods" that match label selector "", field selector "status.containerStatuses..restartCount==0": field label not supported: status.containerStatuses..restartCou

[2018-02-21 13:58] #44762 closed

[2018-02-21 14:12] darrenhaken commented on #29789
Still no fix for this? The names are a mess right now

[2018-02-21 14:20] Maellooou commented on #58822
Any update on this topic ?

I have the same kind of issue but on my not working worker the /etc/resolv.conf on pods are not well set. I takes the nodes DNS configuration and not the kube-dns one...

Any idea ?

[2018-02-21 14:23] Maellooou commented on #57558
I have the same issue.

I add a new node on my cluster and the pods inside use the node DNS configuration and not the kube-dns...

[2018-02-21 14:40] bowei commented on #58822
@Maellooou if you take node DNS configuration, it will not include kube-dns in the resolution chain.

@maxbbender -- can you do some debugging regarding reachability of 192.168.0.10? The easiest way to do this is to do tcpdump while initiating a connection to tcp:53 on that VIP.

[2018-02-21 14:45] Maellooou commented on #58822
@bowei on my old nodes, the pods takes well the kube-dns configuration but on my new node I added on cluster the pods are not working because they tried to resolv the hostname via the nodes dns configuration and not using /etc/hosts

[2018-02-21 14:59] #34920 closed

[2018-02-21 14:59] sebarys opened #60138 "Allow to use envs in manifest"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
As a developer I want to have possibility to use envs provided from Secrets and CofigMaps in other places in manifest.

**What you expected to happen**:
Could use envs e.g. in liveness/rediness probes section, or use one env as a interpolation of other envs.

**How to reproduce it (as minimally and precisely as possib

[2018-02-21 15:02] #59639 closed

[2018-02-21 15:31] fabiand commented on #28610
Please keep this in mind.
For daemonsets this is somethign we want.

[2018-02-21 15:34] tnine opened #60140 "kubectl cp fails on large files"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Copying either a large file, or a large directory from a container via `kubectl cp` results in the error of `error: unexpected EOF` and a failure to transfer.  In my case, the file is 1.7G.

I executed the following command

[code]

The command executes, however the terminal will print the error below after 10-14 seconds

[2018-02-21 15:44] ianchakeres opened #60141 "[local-volume] e2e tests needed for local block"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig storage

**What happened**:

Block volumes for the local-volume plugin was recently added, https://github.com/kubernetes/kubernetes/pull/59303.

We identified an issue during unmap #60025, due to a recent change.

**What you expected to happen**:

We'd expect e2e tests to validate local-volume plugins are operational and catch regression

[2018-02-21 15:46] ianchakeres commented on #60141
/assign @ianchakeres

[2018-02-21 16:00] #27312 closed

[2018-02-21 16:00] jdumars commented on #51540
I am bumping this from 1.10. Let's get this sorted in 1.11 and get SIG Azure on the case.  cc: @khenidak

[2018-02-21 16:09] stevekuznetsov commented on #59978
I would be interested to see if there was a more granular way to get these to pass instead of making the `privileged=true` switch.

[2018-02-21 16:14] jdumars commented on #59811
/sig network

[2018-02-21 16:37] djsly commented on #57304
@andyzhangx  could be the same as this issue: https://github.com/kubernetes/kubernetes/issues/60101

[2018-02-21 16:38] ixdy commented on #26093
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-21 17:01] #16132 closed

[2018-02-21 17:01] #20130 closed

[2018-02-21 17:01] #36805 closed

[2018-02-21 17:01] #42787 closed

[2018-02-21 17:01] #41307 closed

[2018-02-21 17:07] #57806 closed

[2018-02-21 17:14] humblec opened #60143 "The process to update portal IPs in ISCSI PVs."
**What happened**:

Suppose we filled the ISCSI PV spec and we have `TP` and `portal` as `IP1" and "IP2,"IP3` and the controller/node on ISCSI target of "IP3" failed or taken out for maintenance.  Currently this path is `always` failure from here on. Even if admin replaced this node or brought up a new node with new portal IP,  how can app pod make use of new path/IP ? or how can admin update ISCS

[2018-02-21 17:15] humblec commented on #60143
/sig-storage @rootfs @mtanino

[2018-02-21 17:21] humblec commented on #60143
/sig @kubernetes/sig-storage-bugs

[2018-02-21 17:25] jberkus commented on #23225
removing status approved-for-milestone, because this issue was approved for 1.9.  If it's actually approved for 1.10, please put the label back.  Thanks!

/remove-status approved-for-milestone

[2018-02-21 17:32] jberkus commented on #50752
Has any other work been done on the items listed for 1.10?  I only see those tree PRs

[2018-02-21 17:33] jordanwilson230 commented on #2630
The fact that so many of the Docs advise and caution the user against running containers as root, and that this issue is now 3 years old astounds me. This should at least be explained in much greater detail in the Docs.

[2018-02-21 17:34] fkorotkov opened #60146 "Volume from a remote archive"
/kind feature

**What happened**:

Right now it's possible to have `gitRepo` volume which is nice. It mounts an empty directory and clones a git repository into it for a pod to use

**What you expected to happen**:

It will be wonderful to be able to have a volume from a remote archive. Kubernetes can mount an empty directory, download an archive by URL and unarchive it for a pod to use. Config ca

[2018-02-21 17:37] fkorotkov commented on #60146
/sig storage

[2018-02-21 17:43] sch00lb0y commented on #57074
@hzxuzhonghu
I think we should have something like ErrFunc in ResourceEventHandlerFuncs to expose  such error .
It'll will great if you can share opinion on this and even I'm willing to pick this issue.

[2018-02-21 17:50] jberkus commented on #53084
is this on track for 1.10?  I don't show any activity in this issue since December.

[2018-02-21 17:52] jberkus commented on #53221
@yujuhong is this on track for 1.10?  I see no activity on it in a month.

[2018-02-21 17:56] jberkus commented on #53616
is this issue on-track for 1.10 in 5 days?  If so, please add status/approved-for-milestone.  thanks!

[2018-02-21 17:58] jberkus commented on #54011
@bhack @brunsgaard if this issue is staying in 1.10, it needs kind/ priority/ and approved-for-milestone labels ASAP.  Also, a PR.

[2018-02-21 18:01] bhack commented on #54011
@jberkus It is really not clear the action plan to converge on.

[2018-02-21 18:01] jberkus commented on #54012
since #54011 appears to be delayed, please make a decision on this issue ASAP.  are we announcing deprecation if the new GPU support isn't ready?

[2018-02-21 18:02] #34715 closed

[2018-02-21 18:02] #17064 closed

[2018-02-21 18:02] jdumars commented on #50752
@jberkus this is effectively blocked pending the creation of org-based repos, and some continued discussion in architecture.

[2018-02-21 18:03] jberkus commented on #54090
has there been any work on this since December?  If not, please remove from the 1.10 milestone.

@dims @resouer

[2018-02-21 18:12] jberkus commented on #55905
Reminder: code freeze is in 5 days.  Please add approved-for-milestone if this feature is staying in the milestone.  Thanks!

[2018-02-21 18:14] jiayingz commented on #54012
We mark the feature as deprecated in 1.10. Will remove the in-tree code in 1.11. Please feel free to move the milestone to 1.11.

[2018-02-21 18:17] jberkus commented on #55968
has there been any work on this since December?  If not, please remove it from the 1.10 milestone,  Thanks!

@liggitt @ericchiang

[2018-02-21 18:20] jberkus commented on #56463
@justaugustus @andyzhangx  does this look on track for 1.10?  if so, please add status/approved-for-milestone before Monday 26th.  Thanks!

[2018-02-21 18:21] mikedanese commented on #55968
@jberkus https://github.com/kubernetes/kubernetes/pull/59495

[2018-02-21 18:22] jberkus commented on #56463
@andyzhangx @justaugustus PR has been merged, can this issue be closed?

[2018-02-21 18:22] mtaufen commented on #53084
This can be closed, it's done.

[2018-02-21 18:22] #53084 closed

[2018-02-21 18:24] jberkus commented on #56734
Please add status/approved-for-milestone if this feature is staying in 1.10  Thanks!

[2018-02-21 18:26] jberkus commented on #56853
@soltysh @clamoriniere1A is the rest of the work on this issue getting done for 1.10?  Please update, and add approved-for-milestone if this is on track for 1.10.

[2018-02-21 18:26] tpepper commented on #60110
@tallclair even though you're suggesting not to, if you decide to push for this in 1.10 as per #58083 please remember to mark this one for the milestone.  I see you tentatively did on #60108 but not here.

[2018-02-21 18:28] bsalamat commented on #53616
@jiayingz is 1.10 still a valid target for this issue?

[2018-02-21 18:28] jberkus commented on #57354
Are we announcing deprecation in 1.10?  Please create a PR for the docs/release notes.  Otherwise we'll postpone this to 1.11.

[2018-02-21 18:28] tpepper commented on #58083
@crassirostris and @tallclair pending your decision on 1.10 or not please make sure to scrub the set of issues referenced off this one and either add the approved and approved-for-milestone labels or remove the v1.10 milestone target.

[2018-02-21 18:28] jberkus commented on #57354
@jpbetz @liggitt

[2018-02-21 18:29] JiangtianLi commented on #56734
/status approved-for-milestone

[2018-02-21 18:34] verb commented on #59554
We plan on adding this for 1.10

[2018-02-21 18:41] jberkus commented on #57618
Does #58565 complete this issue?  If so, can you add approved-for-milestone?  If not, is it expected to finish for 1.10?

@guangxuli @madhuri-rai07

[2018-02-21 18:52] tatobi opened #60152 "could not find any suitable subnets for creating the ELB / if change to "owned": find only 1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I have a private topology deployed full-scale Kubernetes cluster on AWS. 3 AZ, 3 masters, 3 nodes.

**TWO CONNECTING ISSUES:**

**ISSUE 1.**

Kubernetes cluster created with KOPS 1.8.0. Subnets are tagged (see below):
[code]
kubectl does not create ELB for a service at all if the AWS VPC public subnets are NOT tagged as

[2018-02-21 18:53] jiayingz commented on #53616
@vishh and @yguo0905 do you plan to target https://github.com/kubernetes/kubernetes/pull/59835 for 1.10? Do we also need to make a change on the scheduler side to use the extender config info?

[2018-02-21 19:00] ylogx commented on #17512
There is also pod option in top command:
[code]

[2018-02-21 19:01] janetkuo commented on #20130
@bgrant0607 yes. Paused deployments can still be scaled, and their replicasets get scaled proportionally.

[2018-02-21 19:03] #30537 closed

[2018-02-21 19:03] #28373 closed

[2018-02-21 19:03] #40466 closed

[2018-02-21 19:03] MrHohn opened #60153 "[e2e] Dump logs from dns-horizontal-autoscaler when test fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
Currently, when "DNS horizontal autoscaling" test fails, we have no visibility of the cause (e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/5323). It would be super helpful if we dump logs from the dns-horizontal-autoscaler pod.

/assign

[2018-02-21 19:03] MrHohn commented on #60153
/sig network
/area test

[2018-02-21 19:17] justaugustus commented on #56463
@jberkus yup, looks like it's in. Thanks for flagging!
/close

[2018-02-21 19:20] justaugustus commented on #56463
Awww shucks, looks like I don't have magic powers.
@andyzhangx please close this when you have a chance?

[2018-02-21 19:21] jberkus commented on #58638
@yujuhong does this issue/feature depend on getting that PR committed to rsyslog?  If so, do you think that will happen in time for 1.10?

[2018-02-21 19:26] wojtek-t opened #60155 "kops is broken in 1.8 and 1.9 branches"
See e.g. these:
https://k8s-testgrid.appspot.com/sig-release-1.9-all#kops-aws-1.9

as well as those two cherrypicks:
https://github.com/kubernetes/kubernetes/pull/60078
https://github.com/kubernetes/kubernetes/pull/60077

@kubernetes/sig-aws-misc @justinsb

[2018-02-21 19:27] jberkus commented on #59001
I see a PR documenting the desired tests; what's the status of actual e2e tests for CRI?  Are we going to have some for 1.10?

[2018-02-21 19:30] jberkus commented on #59221
@jpbetz is there a documentation PR for this issue?  Please link, thanks.

[2018-02-21 19:31] xeor commented on #60099
I would imaging this being nicer to have at the pod-definition, or maybe as an attribute? I can see this being useful some times, but I rather want it default off.

I don't know the inner details so say either way, nor have I ever used those variables to say if really when they are useful. Do people even use kubernetes without a dns controller of some sort (in other words, is this needed at all)?

[2018-02-21 19:34] justinsb commented on #60155
This is the problem:

[code]

I'm guessing that's because we aren't double tagging the images on the older branches.

[2018-02-21 19:34] justinsb commented on #60155
cc @thockin

[2018-02-21 19:37] jberkus commented on #59848
if this MUST be resolved for 1.10, please add status/approved-for-milestone to it before Code Freeze.  Thanks!

[2018-02-21 19:40] jberkus commented on #59889
Is the test passing now?  Can this issue be closed?

[2018-02-21 19:42] jberkus commented on #59895
adding kind as well, sorry I missed that.

/kind bug

[2018-02-21 19:42] #57321 closed

[2018-02-21 19:45] richm commented on #58638
this issue/feature does not depend on https://github.com/rsyslog/rsyslog/pull/2466

[2018-02-21 20:01] krzyzacy commented on #59889
looks green now

[2018-02-21 20:01] #59889 closed

[2018-02-21 20:04] #21488 closed

[2018-02-21 20:16] nfirvine commented on #17512
@ylogx https://github.com/kubernetes/kubernetes/issues/17512#issuecomment-326089708

[2018-02-21 20:50] tonglil commented on #40157
Was this meant to be closed?

It seems like @yujuhong meant to say /remove-lifecycle rotten?

[2018-02-21 20:53] dashpole commented on #40157
/remove-lifecycle rotten

[2018-02-21 21:04] #44948 closed

[2018-02-21 21:04] #3074 closed

[2018-02-21 21:04] #45016 closed

[2018-02-21 21:07] #56943 closed

[2018-02-21 21:27] gslightmage commented on #57709
nslookup ignores /etc/hosts on ubunbtu 16.

This is the only workaround that works - and I bashed myhead after two days.

[2018-02-21 21:30] nuxman commented on #34396
I would like to know .. same issue

[2018-02-21 21:45] jingxu97 opened #60160 "Move Local Ephemeral Storage feature to beta"
Is this a BUG REPORT or FEATURE REQUEST?:
@kubernetes/sig-storage-feature-requests
/assign

What happened:
Move Local Ephemeral Storage feature to beta. No new functionality added for this change.

[2018-02-21 21:52] #59987 closed

[2018-02-21 21:54] danderson commented on #59976
Ack, I'll leave that to you then, I believe it will also fix the LoadBalancer use case.

About kube-ipvs1... Does that seem like a good solution to the problem (machine must have service IP defined, but kernel must not respond to ARP) ?

If so, should I send a PR for it, or does someone else want to work on it?

[2018-02-21 21:59] vincentmli opened #60161 "Kube-flannel pod Failed to create SubnetManager: error retrieving pod spec dial tcp 10.0.0.1:443: i/o timeout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kube-flannel pod on worker node unable to reach to k8s api server through internal k8s cluster service 10.0.0.1:443. kube-flannel pod in master mode is able to reach to 10.0.0.1:443

<pre>

# cluster/kubectl.sh logs kube-flannel-ds-ws9jf --namespace=kube-system
I0221 21:53:02.318108       1 main.go:488] Using interface w

[2018-02-21 22:02] vincentmli commented on #60161
/network

[2018-02-21 22:02] ggprod commented on #23291
So in the time-being (intil the L4 Ingress feature makes it into a release).  What is the best way to provide an SSL Proxy Load Balancer functionality for pods deployed on GKE?

[2018-02-21 22:02] forwidur commented on #35213
This would be a really neat feature. Right now frozen `kubectl exec`s are just that, frozen.

[2018-02-21 22:02] vincentmli commented on #60161
/sig network

[2018-02-21 22:03] DirectXMan12 commented on #59975
It's *really* late for 1.10, especially since we don't have any code here, and I'd like to know more about what's going on here, and especially see if it reproduces on Kubernetes 1.9 (we've had HPA controller bugs in the past).

FWIW, currently unready pods are treated as consuming 0% of their utilization on scale up, and it was intended that this should prevent such issues.  That is, the formula

[2018-02-21 22:05] #25257 closed

[2018-02-21 22:05] #42720 closed

[2018-02-21 22:05] #44347 closed

[2018-02-21 22:20] vincentmli commented on #60161
here is the kube-flannel.yaml, I added --iface=eth1 that is for the node network 192.168.1.x

<pre>
# cat kube-flannel.yaml
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: flannel
rules:
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - list
      - watch
  - a

[2018-02-21 22:32] jpbetz commented on #57354
@jberkus The official announcement for etcd2 deprecation was part of 1.9.  This issue is just about turning up the volume in how we communicate that etcd2 support will be removed, I'll move this to 1.11 since I don't think we're going to get it all done for 1.10.

[2018-02-21 22:51] KnVerey opened #60162 "Deployment controller fails to create new RS when old RS has an evicted pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The deployment controller for a `strategy: Recreate` deployment with a single replica failed to create a new ReplicaSet when the old ReplicaSet included an Evicted pod. Typically, the eviction was caused by "node low on resource: nodefs". When we manually deleted the evicted pod, the new RS and accompanying pod were crea

[2018-02-21 22:59] KnVerey commented on #60162
@kubernetes/sig-apps-bugs

[2018-02-21 23:05] jpbetz commented on #57447
@garyyang85  For etcd scalability/performance where etcd reports "avoid queries with large range/delete range" please try to narrow down the issue further to the specific operations made to etcd by kubernetes that are expensive. A couple way to do this:

- Use the [debug endpoint](https://coreos.com/etcd/docs/latest/op-guide/monitoring.html#debug-endpoint) to review requests and their latencies
-

[2018-02-21 23:07] leblancd commented on #59762
@cmluciano , @jessicaochen , @luxas, @krzyzacy , @errordeveloper
Looks like the [kubernetes-anywhere PR # 514 workaround](https://github.com/kubernetes/kubernetes-anywhere/pull/514) eliminated one problem: [pull-kubernetes-e2e-kubeadm-gce jobs are unblocked](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kubeadm-gce/).

However, for ci-kubernetes

[2018-02-21 23:29] janetkuo opened #60163 "DaemonSet should ignore the `unschedulable` field of a node"
https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#how-daemon-pods-are-scheduled
DaemonSet should not respect node's `unschedulable` field. It's because cluster operators often want system components to be running and ready before workloads run on a given node. OTOH, DaemonSet does respect NoSchedule taints.

This behavior is broken by #58689, because DaemonSet share some predica

[2018-02-21 23:31] FUDCo opened #60164 "Pod startup errors bork StatefulSet rolling update"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

I'd like to think this is a bug, but I fear it may actually be a feature request.

**What happened**:

Pod startup failed during creation of or rolling update to a StatefulSet (for any of a number of reasons, e.g., a typo in an image name, or just a crash bug in the code being run).  Rollout remains stalled even if the update is rolled back

[2018-02-21 23:32] k82cn commented on #60163
/assign

[2018-02-21 23:36] FUDCo commented on #60164
/sig architecture
/sig api-machinery

[2018-02-21 23:41] jiayingz commented on #56649
As a heads up, I am going to send a PR soon to change DevicePlugins feature to beta.

After introducing the feature in 1.8, we have seen good development work on improving the feature and received many valuable feedbacks from early adopters on how we may extend the framework to support various kinds of resources on Kubernetes. To us, entering beta means:
a) We think we have done enough early exper

[2018-02-21 23:42] jhorwit2 opened #60167 "NodeLifeCycle controller isn't using InstanceExistsByProviderID"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The node lifecycle controller is using a different way to check if an instance exists in the cloud than the cloud node controller. It should be using [`InstanceExistsByProviderID`](https://github.com/kubernetes/kubernetes/blob/6d0b71740f6b7cc3c61794b01d2a8f6361e3deff/pkg/cloudprovider/cloud.go#L148), which matches the [c

[2018-02-21 23:44] timothysc commented on #53084
@kubernetes/sig-cluster-lifecycle-misc (we should move to enable asap).

[2018-02-21 23:44] rjtsdl opened #60168 "[Proposal] enable azure cloudprovider to use EMSI certificate for authentication"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

/kind feature

**What happened**:
When install k8s on azure, we current depends on service principal (SPN) provided by user to get authentication to Azure cloud. The problem is,
1. We left secrets on the node
2. Hard to manage SPN (note, SPN also has expiration time)

**What you expected to happen**:
Azure Identity team is working on *

[2018-02-21 23:46] dgabrysch opened #60169 "kubeadm ha cluster: kube-proxy not able to authenticate / controller-manager not able to connect"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When creating a HA cluster with kubeadm, sometimes kube-controller-manager is not able to talk to the apiserver, kube-proxy throws authentication errors all the time (please see the logs below, I put in the logs when it works and when it is not working too.

I am using the latest Centos etcd version, the etcd cluster is running just

[2018-02-21 23:47] jackzampolin commented on #49387
@artemyarulin try `status.containerStatuses[*].restartCount==0`

[2018-02-21 23:49] rjtsdl commented on #60168
/sig-azure

[2018-02-21 23:51] rjtsdl commented on #60168
@jdumars @khenidak TAL

[2018-02-22 00:02] djsly commented on #60168
cc: @eghobo, security team will be happy ;)

[2018-02-22 00:07] #28590 closed

[2018-02-22 00:28] jpbetz commented on #59221
xref https://github.com/kubernetes/kubernetes/pull/60173.  Since we were able to incorporate the rollback support directly into `migrate-if-needed.sh`, it turns out that we don't need a whole lot of documentation here.

[2018-02-22 00:55] #58718 closed

[2018-02-22 01:09] #25418 closed

[2018-02-22 01:09] #45067 closed

[2018-02-22 01:09] vishh opened #60176 "Device Plugin failure handling in kubelet is racy"
As of now Kubelet removes a resource owned by device plugins as soon as it notices that a plugin has failed (plugin socket is removed, or ListWatch fails). This behavior is undesirable because trivial plugin restarts would result in Node Capacity changes which is most likely going to be monitored in production clusters resulting in alerts.

As discussed in https://github.com/kubernetes/kubernetes/

[2018-02-22 01:13] dixudx commented on #59762
Feb 15 23:24:22 ubuntu startupscript: Unpacking kubernetes-cni (0.5.1) ...
Feb 15 23:24:22 ubuntu startupscript: dpkg: error processing archive /tmp/k8s-debs/kubernetes-cni.deb (--install):
Feb 15 23:24:22 ubuntu startupscript:  error creating directory '/opt/cni/bin': No such file or directory
Feb 15 23:24:22 ubuntu startupscript: dpkg-deb (subprocess): decompressing archive member: pass-through

[2018-02-22 01:24] dixudx commented on #51049
/remove-lifecycle stale

[2018-02-22 01:31] msau42 opened #60177 "Add local PV e2e block test for GCE local SSD"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig storage
/assign

**What happened**:
Once #60137 merges, add local SSD block as another type

[2018-02-22 01:45] janetkuo commented on #51049
At this moment we should be moving to apps/v1 instead.

[2018-02-22 01:47] vishh commented on #60176
This logic is a potential blocker for https://github.com/kubernetes/kubernetes/pull/59835 because spurious device plugin restarts will result in compute resource being removed from the node object. https://github.com/kubernetes/kubernetes/pull/59835 will result in kubelet admitting pods even though it requires a resource belonging to a device plugin that is temporarily offline.

Another question t

[2018-02-22 01:49] vikaschoudhary16 commented on #60176
/assign

[2018-02-22 02:05] ravisantoshgudimetla opened #60178 "System-cluster-critical and system-node-critical priorityClasses should be in API storage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
As of now, system-cluster-critical and system-node-critical priorityClasses resolution to priority is happening in memory at admission controller level. This causes problems while listing priorityClasses as they don't show up.

**What you expected to happen**:
They should be in API storage so that they are available

[2018-02-22 02:05] ravisantoshgudimetla commented on #60178
/assign @bsalamat

[2018-02-22 02:10] #34043 closed

[2018-02-22 02:18] derekwaynecarr commented on #60018
I am in favor of this.   We have the same concerns.

[2018-02-22 02:24] derekwaynecarr commented on #60018
In OpenShift, we have a project request template that lets us manage creation of namespaces and default them with these type of controls.  Having a whitelist like this would be a big help for our flows.

[2018-02-22 02:32] ScorpioCPH commented on #56649
@jiayingz Hi, for stress test, here is a PR https://github.com/kubernetes/kubernetes/pull/59024 :)

[2018-02-22 02:36] andyzhangx commented on #56463
@jberkus  @justaugustus  [PV resize for azure disk code](https://github.com/kubernetes/kubernetes/pull/57017) has been merged, while for azure disk work is just in investigation state mainly  because there is blocking issue: it does not support disk resize on a Running VM.

[2018-02-22 02:38] andyzhangx commented on #56463
could someone move this issue out of milestone v1.10, thanks.

[2018-02-22 02:45] #52463 closed

[2018-02-22 02:52] andyzhangx commented on #60101
@djsly you are right, there is no locking for detach disk, I will try to repro it and then use the locking fix to verify it, thanks for reporting.

[2018-02-22 02:53] andyzhangx commented on #57304
@djsly it's not same issue, in my env, it has only one disk.

[2018-02-22 03:01] feiskyer opened #60180 "Adding per container log stats for windows containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

PR #59906 adds per container log stats for CRI runtimes.

While the change is not tied to any platform, volume.MetricsProvider doesn't support windows yet. We need to fix this for windows containers.

**What you expected to happen**:

Also refer #55905.

[2018-02-22 03:04] feiskyer commented on #60101
/assign @andyzhangx

[2018-02-22 03:10] #44335 closed

[2018-02-22 03:10] #45367 closed

[2018-02-22 03:18] ChrisOnToure opened #60182 "Understanding Node port"
Hello,

Im having difficulties understanding the NodePort in combination with the service. On a bare metal setup This is how I understood it.

**Service**: The service in Kubernetes its actually a bunch of iptable rules distributed on all of the worker nodes. If inbound traffic hits the service the iptable rules will RoundRobin to one of the containers. This is done by SNAT & DNAT. The service als

[2018-02-22 03:24] djsly commented on #60101
@Andyzhangx let me know if you can’t reproduce. It’s easy for me. I could cook you up a  quick manifest.

Thanks for looking into it.

[2018-02-22 03:40] #55905 closed

[2018-02-22 03:41] andyzhangx commented on #60101
@djsly Your repro shows obvious evidence of race condition when detaching azure disk, I have commited a PR, pls take a look. Thanks for your reporting, it's really helpful.

[2018-02-22 04:09] m1093782566 commented on #59976
You may need to be a bit careful so that not breaking nodeport in IPVS, xref: #56685.

[2018-02-22 04:12] #45373 closed

[2018-02-22 04:12] #7296 closed

[2018-02-22 04:12] #23485 closed

[2018-02-22 04:12] Lion-Wei commented on #58633
@vladimirvivien  Thanks.

[2018-02-22 04:33] justinsb commented on #60155
I believe this is going to be the fix: https://github.com/kubernetes/kops/pull/4494

[2018-02-22 04:40] justinsb commented on #60155
Actually, question for you @thockin ... it looks like we need to use the legacy names for when we're running a CI build of an older branch, because I don't think the double-tagging exists on those older branches.

But what are the medium term plans for the gcr.io/google_containers/kube-apiserver:v1.8.8 for non CI builds ?  Should we force users to the new name there (which risks confusing them)?

[2018-02-22 05:12] #45476 closed

[2018-02-22 05:12] #4290 closed

[2018-02-22 05:32] feiskyer opened #60185 "Instance not found error for VMAS nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

VMAS nodes are reporting `instance not found` error in vmss cluster (vmType set to vmss).

[code]

**What you expected to happen**:

Node should register correctly in the kubernetes cluster.

**How to reproduce it (as minimally and precisely as possible)**:

Create a VMAS nodes inside vmss cluster.

**Anything else we ne

[2018-02-22 05:33] feiskyer commented on #60185
/sig azure

[2018-02-22 06:10] #57102 closed

[2018-02-22 06:13] #20229 closed

[2018-02-22 06:13] #20793 closed

[2018-02-22 06:13] #42568 closed

[2018-02-22 06:18] magnushiie commented on #28924
/remove-lifecycle rotten

[2018-02-22 06:23] jiayingz commented on #56649
/cc @vishh @dchen1107 @RenaudWasTaken @vikaschoudhary16 @mindprince @derekwaynecarr @ConnorDoyle @jeremyeder  @cmluciano @sameo @scorpiocph @lichuqiang @kad @fabiand

[2018-02-22 06:43] wojtek-t commented on #60155
@mbohlool @jpbetz - FYI

[2018-02-22 06:58] jiayingz commented on #60176
Regarding to how long a device plugin failure should trigger an alert, I think that logic should probably be set in the monitoring/alerting system instead of having to be built into Kubelet. I think the discussion is more related to the change proposed in #59835, with which Kubelet will run a Pod even though its requested resource may not exist on the node, so the failure signal becomes less obvio

[2018-02-22 07:02] richmondwang commented on #34982
I am having this issue now.

[code]

[2018-02-22 07:05] ConnorDoyle commented on #60176
+1 for a modest timeout before unadvertising the plugin's resources.

If this happens after the timeout described above then sure. Otherwise this could make upgrading a device plugin more disruptive than necessary.

[2018-02-22 07:06] linyouchong commented on #58633
@vladimirvivien @Lion-Wei
 That’s all right.

[2018-02-22 07:14] #45598 closed

[2018-02-22 07:14] #45674 closed

[2018-02-22 07:34] vjdhama commented on #54370
I am seeing the same issue with kops v1.8.

Scheduler params:

[code]

[2018-02-22 07:40] AlexStasko commented on #60134
/sig aws

[2018-02-22 07:44] t3hmrman commented on #45922
Hey I just ran into this, I'm running `cri-containerd`(+`containerd`), and the direct `docker exec` hack of course doesn't work for me. I'm on k8s `v1.9.2` actually but instead of enabling the experimental debug option, I just went with adding my own little alpine container:

[code]

And then `kubectl apply -f pod.yaml` and watch get spun up then go in. **This helped in my case since I was trying

[2018-02-22 07:46] lcfang opened #60192 "The blended alias in import are so confused, can we modify this to be unified?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

- I found that the the blended alias in import are so confused, can we modify this to be unified?

**What you expected to happen**:

- The alias of the same import package in different packages are unified.

[2018-02-22 07:51] kaarolch commented on #39792
@djhaskin987 I guess that @JorritSalverda  want to have some kind of split horizon on DNS (different IP for internal and external queries).
We hit the same issue, in different case:
- We have a frontend company loadbalancer that expose domain keycloak.example.com and ui.example.com.
- Keycloak server and some backend services are inside k8s cluster and by default frontend proxy forward all traffic

[2018-02-22 08:14] mrostecki commented on #60099
An attribute seems to be better, at least for the first implementation - it will not require any API changes.

[2018-02-22 08:16] #22224 closed

[2018-02-22 08:16] #45670 closed

[2018-02-22 08:16] #45570 closed

[2018-02-22 08:33] artemyarulin commented on #49387
Thanks, just tried with kubectl v1.9.3/cluster v1.9.2 and it returns same error - `Error from server (BadRequest): Unable to find "pods" that match label selector "", field selector "status.containerStatuses[*].restartCount!=0": field label not supported: status.containerStatuses[*].restartCount`. Am I doing something wrong? Does it work for you?

[2018-02-22 08:38] tianshapjq commented on #60176
/cc

[2018-02-22 08:53] sathieu commented on #42255
/reopen
/remove-lifecycle rotten

[2018-02-22 08:56] wangzi19870227 commented on #10421
increase max_user_watches works for me.

`
# cat /proc/sys/fs/inotify/max_user_watches
8192
# sysctl fs.inotify.max_user_watches=1048576
`

thanks @erictune

[2018-02-22 09:08] humblec commented on #60143
/assign @mtanino :)

[2018-02-22 09:29] wangzi19870227 commented on #7815
increase max_user_watches works for me, but must lagger than 32768. in my env, I increase it to 1048576.

`
$ cat /proc/sys/fs/inotify/max_user_watches # default is 8192 $ sudo sysctl fs.inotify.max_user_watches=1048576 # increase to 1048576
`

more detail, look at [this issue](https://github.com/kubernetes/kubernetes/issues/10421#issuecomment-115866727)

[2018-02-22 09:30] zjj2wry commented on #29307
@ankitgoelcmu this issues have fixed, you can fetch master branch verify it. thanks

[2018-02-22 09:30] zjj2wry commented on #29307
/close

[2018-02-22 09:30] #29307 closed

[2018-02-22 09:45] simplytunde commented on #60182
It creates one nodePort per service port that you specify for each container. Take for example;
[code]
If you deploy this using minikube and describe service, it will create nodePort per service port(per container).
[code]

[2018-02-22 09:53] krmayankk commented on #60099
@xeor what is the use case for disabling these environment variables, security  ?

[2018-02-22 10:07] redbaron commented on #56032
Is it possible to benchmark scheduler performance locally? I'd like to evaluate some ideas, before submitting full PR

[2018-02-22 10:18] #45499 closed

[2018-02-22 10:18] #45762 closed

[2018-02-22 10:20] narkarum opened #60203 "PV describe formatting issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

[code]

**What you expected to happen**:

Source part should be well formatted.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**: Ubuntu 16.04
- Kubernetes version (use `kubectl version`): 1.9.*/1.8.*
- Cloud provider or hardware configuration:
- OS

[2018-02-22 10:26] clamoriniere1A commented on #56853
@jberkus @soltysh, I updated my change with missing unit-tests and created the PR:  https://github.com/kubernetes/kubernetes/pull/60202

[2018-02-22 10:30] nikhita commented on #44660
/remove-lifecycle stale

[2018-02-22 10:35] derek0377 opened #60205 "hi, what is the better way to know a pod‘s ip if pod’s ip change？"
hi,  what is the better way to know a pod‘s ip  if pod’s ip change？
watch etcd or some way else?

thanks very much!

[2018-02-22 11:08] mrostecki commented on #60099
@krmayankk I wouldn't say that there is any specific usecase. They're just not needed. I'd say that currently Kubernetes users should access services by using DNS and there is no need for keeping IP addresses and ports in environment variables.

The pattern of having those variables is an old behavior of Docker (`--link` option, which is deprecated FWIK) and docker-compose.

[2018-02-22 11:10] tobinstephen commented on #57865
Hi,
I am also encountering this issue using StatefulSet on 1.8.
Is there any any known workaround we can use in the short term.

[2018-02-22 11:16] pineking commented on #54011
@brunsgaard try to use `nvidia/k8s-device-plugin:1.9`, which fixes the failed on non GPU nodes https://github.com/NVIDIA/k8s-device-plugin/issues/9

[2018-02-22 11:19] #33173 closed

[2018-02-22 11:19] #35641 closed

[2018-02-22 11:19] #38456 closed

[2018-02-22 11:26] Lion-Wei commented on #59551
@fabiand Sorry for the delay.
AFAIK, the `--selector` is the flag for the service this command created, but not the selector for pod to create service.
And I didn't find any example or usage for `kubectl expose` command to create a service of a selector selected pod, besides, `--all` flag is also not acceptable for this command.
Cause people usually don't expose different pods to a single service.

[2018-02-22 11:46] vikaschoudhary16 commented on #60176
Just for a sec lets leave alerting and marking node unhealthy. Updating `allocatable` to zero in node status for a plugin which has got disappeared and holding the corresponding endpoint in the device manager cache for couple of secs, will ensure that in-flight pods which are requesting this particular resource will fail to admit because of Allocate RPC failure.

If there are no major concerns wit

[2018-02-22 12:10] wojtek-t commented on #60097
We chatted briefly with Shyam about it and I think that it actually should be a failure in our tests.

In huge majority of cases, this condition is triggered because some (more) nodes become unresponsive. And this is happening for some reason. And in many cases in the past, that reason was actually performance. So allowing for failing nodes, will mask the real problems that we actually have.

So I

[2018-02-22 12:20] #16376 closed

[2018-02-22 12:20] #40122 closed

[2018-02-22 12:20] #45689 closed

[2018-02-22 12:31] gogene commented on #42125
@danehans I would like to have the possibility to add the ExternalIP via labels and without configured cloud-providers. Are you still working on that?

[2018-02-22 12:39] #59855 closed

[2018-02-22 12:52] Venkat-Sudharsanam opened #60207 "HA Kubernetes on Ubuntu"
/kind bug

**First created a cluster with 1 master node.

And i tried to add other 2 master nodes. As documented in https://docs.google.com/document/d/1rEMFuHo3rBJfFapKBInjCqm2d7xGkXzh0FpFO0cRuqg

In master 1, i can see the other server as master.

But in the other servers im unable to perform commands like kubectl get nodes. Getting the below error:

kubectl get pods
The connection to the server

[2018-02-22 13:05] wojtek-t commented on #55860
As discussed with @shyamjvs offline, he will add retrying in our tests. That should hopefully fix most of the problems.

[2018-02-22 13:16] zero-master commented on #45438
I know this issue is closed.

I just ran into this same issue. I made "/" of my app return 200 HTTP response code and it started working.

[2018-02-22 13:21] #45461 closed

[2018-02-22 13:21] #45041 closed

[2018-02-22 13:53] rootfs commented on #60143
PV spec is expected to be immutable.

[2018-02-22 14:13] andrewhowdencom commented on #53889
For mine, I got into an ordering condition in which `kubeadm` checks for the `/var/run/dockershim.sock`, which kubelet provides. However, kubelet relies on the certificates that `kubeadm` generates.

[2018-02-22 14:23] vikaschoudhary16 commented on #60178
/cc @vikaschoudhary16

[2018-02-22 14:42] mbert commented on #60207
See recent addition to [Adding HA to kubeadm-deployed clusters](https://docs.google.com/document/d/1rEMFuHo3rBJfFapKBInjCqm2d7xGkXzh0FpFO0cRuqg):

Set up kubectl:

		$ export KUBECONFIG=/etc/kubernetes/admin.conf

You may want to add the above line to ~/.profile or similar.

[2018-02-22 14:46] php-coder commented on #57891
/sig storage

[2018-02-22 14:51] fabiand commented on #56634
This is an additional request.

After all network devices are just another host resource.

[2018-02-22 14:51] fabiand commented on #56634
/sig resource-mgmt

[2018-02-22 14:57] fabiand commented on #56634
/sig node
/area hw-accelerators

[2018-02-22 15:23] #28454 closed

[2018-02-22 15:41] msau42 commented on #54370
Hi @vjdhama I think your issue is different.  Currently, dynamic provisioning doesn't understand that multiple volumes are related to one pod very well.  To get around this issue, you can either:
- set your StorageClass to restrict the zones
- use a statefulset for your pods.  The volume provisioner does have special logic to handle pvcs created by statefulsets

The fix for the underlying issue is

[2018-02-22 15:41] msau42 commented on #54370
/assign

[2018-02-22 15:52] josdotso commented on #17620
Looking at the most recent updates to #38386, the following may be a better pattern to use the annotation. However, I've not tested it to confirm yet, so use at your own risk.

[code]

[2018-02-22 16:06] rosti commented on #58587
I'll give this a try.

[2018-02-22 16:23] wgordon17 opened #60217 "[Feature Request] - Add a "cronProbe""
/kind feature

I would like to have considered a "cronProbe" that supports cron-like scheduling, but be able to be run within the context of a container. The use case for this is to be able to run maintenance commands against a running container, without having to rely on an external pod/system to `oc exec` into the container. A livenessProbe can essentially already to this today, as long as the m

[2018-02-22 16:24] #32291 closed

[2018-02-22 16:24] #43752 closed

[2018-02-22 16:26] sferich888 commented on #60217
I think @kubernetes/sig-scheduling-feature-requests is the right SIG for this?

[2018-02-22 16:30] #60185 closed

[2018-02-22 16:37] lgekman commented on #59976
This rule is missing (11.0.0.0/16 is my own addr of course);

    iptables -t nat -A KUBE-SERVICES ! -s 11.0.0.0/16 -m set \
     --match-set KUBE-EXTERNAL-IP dst,dst -j KUBE-MARK-MASQ

The corresponding for KUBE-CLUSTER-IP is there already;

    iptables -t nat -A KUBE-SERVICES ! -s 11.0.0.0/16 -m set \
     --match-set KUBE-CLUSTER-IP dst,dst -j KUBE-MARK-MASQ

I am not using loadBalancer but th

[2018-02-22 16:52] yastij commented on #56276
/remove-lifecycle stale

[2018-02-22 16:53] guoshimin commented on #44273
Also seeing this on GKE. Started happening to nodes that had been working fine up to that point.

[2018-02-22 16:54] eduardobaitello commented on #43984
/close

[2018-02-22 16:54] #43984 closed

[2018-02-22 17:12] StephenSorriaux opened #60224 "Applying new configuration for daemonSet ends up doing only a patch"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:

Having a daemonSet with the folowing configuration :

`apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluentd-elasticsearch
  namespace: kube-system
  labels:
    k8s-app: fluentd-logging
spec:
  selector:
    matchLabels:
      name: fluentd-elasticsearch
  template:
    metadata:
      labels:

[2018-02-22 17:21] danderson commented on #59976
That's strange, just KUBE-MARK-MASQ should not be enough to fix the forwarding issue, from my testing... There seems to be explicitly rules missing.

As for adding an IP to kube-ipvs0 - as stated above, that works but has the unintended side-effect that the machine might respond to ARP queries for the IP, if the external IP belongs to a local network. Using a separate kube-ipvs* interface fixes th

[2018-02-22 17:25] #33586 closed

[2018-02-22 17:25] #43953 closed

[2018-02-22 17:25] #29407 closed

[2018-02-22 17:25] #42481 closed

[2018-02-22 17:25] #44203 closed

[2018-02-22 17:25] #30700 closed

[2018-02-22 17:25] #21397 closed

[2018-02-22 17:25] #21775 closed

[2018-02-22 17:33] lgekman commented on #59976
The forwarding may be a loadBalancer thing. I just set an externalIP on a (ClusterIP) service.
The kube-ipvs0 is DOWN and NOARP on my system;
[code]
It seems like it's only purpose is to direct packets to ipvs by hosting a set of addresses. It doesn't even have to be up it seems(?).

[2018-02-22 17:42] njam commented on #34401
Is it possible to *change* this GKE default persistently?

I can do `kubectl delete LimitRange limits`, but when I create new GKE nodes or upgrade existing ones the limit comes back.

[2018-02-22 17:43] MrHohn commented on #45851
/reopen
/remove-lifecycle rotten

[2018-02-22 17:46] dshimko commented on #55867
Is there a fix?

[2018-02-22 17:47] bassrock commented on #24288
@errm Does the host header work in probes now? I have been browsing the issues but can not tell, as I am having trouble with it in my setup.

[2018-02-22 18:07] DirectXMan12 commented on #58235
commented on the PR, copying here for visibility

[2018-02-22 18:18] danehans commented on #42125
@gogene I am not working on this. I never received feedback on the 2 options that I proposed. It sounds like you're interested in option 2. Maybe someone in sig-network can take it on or feel free to take a crack at it.

cc: @leblancd @pmichali @rpothier

[2018-02-22 18:21] hammady commented on #13488
Been using Swarm mode for some time which is considered less flexible than Kubernetes, I am able to restart service tasks (read: deployment pods), by simply doing a force update (with no change to the specs) as in `docker service update --force <service-name>`. I would expect Kubernetes to do this as well.
As for configmaps and secrets, swarm does not allow you to edit those, you need to rotate th

[2018-02-22 18:26] #40577 closed

[2018-02-22 18:26] #39289 closed

[2018-02-22 18:32] jonahbron commented on #52787
Another good solution would be to allow value overwriting, in the same way that Helm does.  Something like:

    kubectl create -f deployment.yaml --set spec.template.spec.containers[0].image=image_url

[2018-02-22 18:59] cblecker commented on #52255
/remove-lifecycle stale

[2018-02-22 19:00] cblecker commented on #52255
I would also note:
Having a `CDPATH` set isn't an issue, it's only when a CDPATH doesn't search the cwd first. Having a `CDPATH` with a leading `:` solves for this use case.

[2018-02-22 19:05] janetkuo commented on #54525
If the controller that creates the evicted pod is scaled down, it should kill those evicted pods first before killing any others, right? Most workload controllers don't do that today.

DaemonSet controller actively deletes failed pods (#40330), to ensure that DaemonSet can recover from the transient error (#36482).  Evicted DaemonSet pods get killed because they're also failed pods.

/remove-lifec

[2018-02-22 19:17] Random-Liu commented on #15478
Container log for CRI is file based, and the log path is explicitly defined:
[code]

In most of the logging drivers https://docs.docker.com/config/containers/logging/configure/#supported-logging-drivers, I think for cluster environment, the most important ones are the drivers ingesting container log into cluster logging management system, such as `splunk`, `awslogs`, `gcplogs`.

In the case of CRI

[2018-02-22 19:19] trigun117 opened #60240 "Kubeadm --apiserver-advertise-address stuck to Kubeadm --apiserver-advertise-address timed out waiting for the condition"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

## **What happened**:
timed out waiting for the condition

## **What you expected to happen**:
Creatin cluster

## **How to reproduce it (as minimally and precisely as possible)**:
Use external GCE ip whirh kubeadm init

## **Anything else we need to know?**:

## **Environment**:
**- Kubernetes version:**
Client Version: version.Info{Major:"

[2018-02-22 19:29] deads2k commented on #49817
Since we merged the grpc kms provider, I think this can be closed.

[2018-02-22 19:29] #49817 closed

[2018-02-22 19:34] #32630 closed

[2018-02-22 19:34] #44030 closed

[2018-02-22 19:34] #24669 closed

[2018-02-22 19:34] #40870 closed

[2018-02-22 19:34] #42190 closed

[2018-02-22 19:34] #45178 closed

[2018-02-22 19:39] mikedanese commented on #58790
Some TODOs that I have prepared:
[ ] update rbac `system:nodes` role to grant `create` on `serviceaccounts/token` for people using just RBAC
[ ] the NodeRestriction admission plugin to require token requests from nodes to be bound to a pod (and ensure that pod's nodeName matches the pod and serviceAccountName matches the service account)
[ ] integration test exercising authorizer+admission

[2018-02-22 19:44] DirectXMan12 commented on #52564
/close

as a duplicate

[2018-02-22 19:44] #52564 closed

[2018-02-22 19:45] DirectXMan12 commented on #59438
1.9.3 will have the issue, since the fix merged for 1.10

[2018-02-22 19:48] jiayingz commented on #60176
@vishh and I just discussed this offline. For simplicity, I think devicemanager can just cache the device information in its local cache (either by adding a new field or reusing some existing field like unhealthyDevices) even after endpoint fails/disappears, without any timeout bound. We will still remove the resource from capacity/allocatable as we currently do to signal scheduler from landing mo

[2018-02-22 19:48] yuvipanda commented on #18212
@roberthbailey did you ever figure out a way to get these metrics on GKE?

[2018-02-22 19:53] deads2k commented on #59984
Finalizer and controller (status) updates should be fixed using subresources that only validate the part they are mutating.  Many status validations already do this properly

[2018-02-22 19:59] xeor commented on #60099
@krmayankk there is not really a specific usecase as @mrostecki said.. It is more or less the reason that they are not needed. Even tho not really security related, it also exposed a lot of info about whats in it's namespace.
Felt like it was bloating up my pods `env` as well. everything from 0 to 6-8 entries per other pod in the namespace.

[2018-02-22 20:08] vishh commented on #60176
If we are choosing to not checkpoint, then we should document this as a known issue, as cluster admins may want to build monitoring systems that can deal with this scenario. I'd also suggest thinking hard about checkpointing since it will make the UX simpler for admins.

As an aside, I think we should consider making plugins a first class construct in the Node Object and most of kubelet level chec

[2018-02-22 20:27] #37335 closed

[2018-02-22 20:27] #33938 closed

[2018-02-22 20:27] #45662 closed

[2018-02-22 20:27] ahmetb commented on #34401
@njam I doubt that. I'll ask around internally.

[2018-02-22 20:39] rsamo commented on #59687
This happened to me recently and I spent nearly a day looking at it. It turns out that my docker0 interface wanted to use the same subnet as the cni0 interface from flannel. check that first with "ifconfig". If this is the case, the following will help you...

`vi /etc/sysconfig/docker

# Append to OPTIONS=
--bip=172.17.42.1/16

systemctl daemon-reload
systemctl restart docker`

Hope this helps!

[2018-02-22 20:41] vinayk06 commented on #53538
I was facing same issue.
I added tags to the ec2 instances, either through ASG or to the instance directly. I am using terraform.
this resolved me the issue.

[2018-02-22 20:59] roberthbailey commented on #18212
I don't think anyone has looked into it after @gmarek's last update.

[2018-02-22 20:59] krmayankk commented on #60099
IMO if there is no real use case we shouldnt yet remove these environment variables. The primary reason being they are an excellent way for primitive service discovery for pods untill we have some other better way which is available in the default configuration . DNS is not available to kubernetes users by default and i would think by default we want to make it easy for our customers to use kubern

[2018-02-22 21:09] lavalamp commented on #59984
cc @jpbetz @lavalamp

[2018-02-22 21:09] lavalamp commented on #59997
/assign @jennybuckley

[2018-02-22 21:14] lavalamp commented on #60037
/assign @jennybuckley
/assign @caesarxuchao

[2018-02-22 21:14] lavalamp commented on #60037
cc @jpbetz

[2018-02-22 21:16] lavalamp commented on #60042
Thanks for finding this, looks like your PR is already approved. :)

[2018-02-22 21:16] lavalamp commented on #60045
Can you edit the OP to explain the apparent contradiction? :)

[2018-02-22 21:17] lavalamp commented on #60045
cc @yliaog

[2018-02-22 21:19] lavalamp commented on #60138
This is not api machinery. Perhaps one of:

/sig node
/sig workloads
/sig apps

[2018-02-22 21:20] lavalamp commented on #60164
This is not api machinery or architecture.

/sig workloads

[2018-02-22 21:21] lavalamp commented on #60164
(I guess it's sig apps now)

[2018-02-22 21:22] lavalamp commented on #60018
Why did this get labeled sig api-machinery? Are existing extension points not sufficient?

(This should not imply I endorse using an annotation like this :) )

cc @cheftako

[2018-02-22 21:24] lavalamp commented on #60082
Agree we should do better. We unfortunately have thus far been unable to come to agreement on how to pass identity information into aggregated apiserver (and webhook hosts).

cc @cheftako @deads2k

[2018-02-22 21:28] #35934 closed

[2018-02-22 21:28] #45029 closed

[2018-02-22 21:28] #45596 closed

[2018-02-22 21:37] #38113 closed

[2018-02-22 21:37] #58778 closed

[2018-02-22 21:48] krmayankk commented on #60205
@derek0377 here are some ways you can get help https://kubernetes.io/community/ .

[2018-02-22 21:49] krmayankk commented on #60205
closing this, since github issues are meant to report issues or create discussion on a feature.
/close

[2018-02-22 21:49] #60205 closed

[2018-02-22 22:05] jhorwit2 commented on #60018
@lavalamp according to the community page api-machinery owns admission controllers which is why i added the label.

Are you referring to webhook admission controllers?

[2018-02-22 22:23] zacharysarah commented on #58211
Hey, I'm following up from docs. 👋 The next step for docs is to submit a PR to [kubernetes/website](https://github.com/kubernetes/website/) with proposed documentation.

[2018-02-22 22:29] #44656 closed

[2018-02-22 22:29] #44992 closed

[2018-02-22 22:29] #30628 closed

[2018-02-22 22:31] enisoc commented on #54525
For something like StatefulSet, it's actually necessary to immediately delete any Pods evicted by kubelet, so the Pod name can be reused. As @janetkuo also mentioned, DaemonSet does this as well. For such controllers, you're thus not gaining anything from kubelet leaving the Pod record.

Even for something like ReplicaSet, it probably makes the most sense for the controller to delete Pods evicted

[2018-02-22 23:03] prameshj opened #60257 "Accessing clusterIP services from a pod on the same node fails in ipvs proxy mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When a service of type externalName is setup, a test pod doing a DNS lookup of that externalName gets No Response in some cases. Upon investigation, I found that failure happens if the test pod request is sent to kube-dns pod running on the same node. If the request is load-balanced and sent to a different kube-dns pod o

[2018-02-22 23:07] prameshj commented on #60257
The bug was found when running the sig-networking dns test, but it is not specific to DNS. Anytime a pod reaches out to a clusterIP service which is DNAT'ed to a pod on the same node, we will see the problem.

[2018-02-22 23:10] prameshj commented on #60257
/sig network
/area ipvs

[2018-02-22 23:14] prameshj commented on #60257
One possible fix is to use the hairpin-veth mode as default, we don't need the ebtables rules in that case.
https://github.com/kubernetes/kubernetes/pull/60166 makes the change to the default mode.

/cc @rramkumar1 @freehan @m1093782566

[2018-02-22 23:30] #35339 closed

[2018-02-22 23:30] #36641 closed

[2018-02-22 23:30] #36725 closed

[2018-02-22 23:30] #35809 closed

[2018-02-22 23:30] #24249 closed

[2018-02-22 23:45] #59951 closed

[2018-02-22 23:47] resouer commented on #59951
@yastij This is not a break issue and only focus on `factory.go` :)

Please feel free to open new one if needed.

[2018-02-23 00:26] SneakyMax commented on #19475
This is a problem we ran into, and we have not found a good workaround besides giving the service account access to the pods API and making a request to that.

[2018-02-23 00:31] #34810 closed

[2018-02-23 00:31] #30471 closed

[2018-02-23 00:31] #30378 closed

[2018-02-23 00:31] #31298 closed

[2018-02-23 00:31] #34283 closed

[2018-02-23 00:31] #28822 closed

[2018-02-23 00:31] #30282 closed

[2018-02-23 00:44] mtaufen commented on #10091
I talked to Tim about this; the root issues is that "manifests" used to mean something else, and it's the wrong word for what this is now. I am going to try to at least expunge the word from the Kubelet's config API before 1.10, and also as many internal var names as possible.

[2018-02-23 01:09] eghobo commented on #59975
@DirectXMan12 I believe there is different code branch here.

metric definition
`{
	"type": "Object",
	"object": {
		"target": {
			"kind": "Service",
			"name": "prometheus-exporter"
		},
		"metricName": "PercentUtilization",
		"targetValue": "20"
	}
}`

which should handle as [ObjectMetricSourceType](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal.go#

[2018-02-23 01:19] bhack commented on #54011
I think that with every hook we will still have problem with kubelet restart. See https://github.com/kubernetes/kops/blob/master/hooks/nvidia-bootstrap/image/run.sh#L50.

[2018-02-23 01:33] #23192 closed

[2018-02-23 01:33] #24803 closed

[2018-02-23 01:33] #32838 closed

[2018-02-23 01:33] #34358 closed

[2018-02-23 01:33] #15867 closed

[2018-02-23 02:12] idvoretskyi commented on #60092
/cc

[2018-02-23 02:14] BenTheElder commented on #60092
We can configure a `blockade`:
https://github.com/kubernetes/test-infra/blob/59a11a83031401e9d2c5ca96a96d743f572fd5a0/prow/plugins.yaml#L63-L90

[2018-02-23 02:17] BenTheElder commented on #60092
PRing this in test-infra

[2018-02-23 02:17] BenTheElder commented on #60092
/assign

[2018-02-23 02:33] #44852 closed

[2018-02-23 02:33] #46291 closed

[2018-02-23 02:47] zhouhaibing089 commented on #60224
@StephenSorriaux The situation is that you get a merge patch: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L2146, and it is keyed by `containerPort` which is the same in your case, that's why you see a merged patch.

[2018-02-23 03:01] Lion-Wei commented on #59551
@fabiand Sorry for the delay.
AFAIK, the `--selector` is the flag for the service this command created, but not the selector for pod to create service.
And I didn't find any example or usage for `kubectl expose` command to create a service of a selector selected pod, besides, `--all` flag is also not acceptable for this command.
Cause people usually don't expose different pods to a single service.

[2018-02-23 03:12] m1093782566 commented on #60257
/cc @Lion-Wei

@prameshj Are you using kubenet?

hairpin issue is resolved by #54219 - I tested it with calico.

[2018-02-23 03:16] fannieyanggit commented on #60146
enmmm

[2018-02-23 03:18] warent commented on #45438
@zero-master

I doubt that's related. It sounds like a misconfiguration related to the readinessProbe.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/

[2018-02-23 03:22] m1093782566 commented on #60257
/kind bug

[2018-02-23 03:34] #15203 closed

[2018-02-23 03:34] #39744 closed

[2018-02-23 03:34] #45753 closed

[2018-02-23 03:37] feiskyer opened #60266 "Cross build failed because of ne.Exec"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Cross build failed:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g.

[2018-02-23 03:41] Lion-Wei commented on #60257
I think the test"ci-kubernetes-e2e-gci-gce-ipvs" is definitely using kubenet, and some other failed cases in this test is also the same reason. This only happened in clusters which use kubenet as networkPlugin, but I haven't find the root cause... : (

[2018-02-23 04:10] ChrisOnToure commented on #60182
@simplytunde Thanks for your answer. Still in your example nginx this would create 3x Containers (3x replicas) sitting on a single worker node. So 3x containers would listen on 8080 which is not possible and create a port conflict.

Whats Im missing here?

[2018-02-23 04:36] #5095 closed

[2018-02-23 04:36] #35870 closed

[2018-02-23 04:36] #43049 closed

[2018-02-23 04:41] portante commented on #58638
So where are we at with this feature?

Can we agree to leave the path as is, drop a JSON file with metadata next to the log file as an option, where that metadata at the least contains: pod name, namespace name, namespace UUID, container ID, container name?

One could consider fetching labels and annotations at the time the metadata file is created and adding those as well.

The key goal would be

[2018-02-23 05:15] feiskyer commented on #60266
/sig windows

[2018-02-23 05:16] feiskyer opened #60274 "Windows containers creation failed because of rslave mounts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Windows containers creation failed because of rslave mounts.

[code]

**What you expected to happen**:

Windows containers don't support mount propagation, we should disable it for windows.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernet

[2018-02-23 05:16] feiskyer commented on #60274
/sig windows

[2018-02-23 05:16] feiskyer commented on #60266
/assign

[2018-02-23 05:25] cblecker commented on #60266
Fixed in https://github.com/kubernetes/kubernetes/pull/60214

[2018-02-23 05:25] #60266 closed

[2018-02-23 05:32] mikedanese opened #60276 "Verify formatting of proto files in a presubmit"
clang-format is sufficient.

/kind cleanup
/sig api-machinery

[2018-02-23 05:36] #46386 closed

[2018-02-23 05:37] ApsOps commented on #25456
I'm still hitting this on `k8s v1.8.6` and `Docker version 1.13.1, build 092cba3`

[code]
Docker runtime is up. I'm able to run `docker images` and `docker ps` commands fine.

Restarting the docker service fixes it.

/remove-lifecycle rotten
/lifecycle frozen

[2018-02-23 05:40] pineking commented on #52412
close this issue, since #57302 is merged now.

[2018-02-23 05:40] #52412 closed

[2018-02-23 05:41] mikedanese commented on #15310
/remove-lifecycle stale

[2018-02-23 06:02] #58823 closed

[2018-02-23 06:25] hzxuzhonghu opened #60278 "kube-controller-manager scheduler and proxy should use common generic apiserver's profiling"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently kube-controller-manager scheduler and proxy have their own private pprofiling code. They should reuse the existing generic apiserver's profiling.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/

[2018-02-23 06:36] Sartner opened #60279 "Cadvisor metric "container_network_tcp_usage_total" always "0""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The cadvisor metrics "container_network_tcp_usage_total" from "http://my-host:4194/metrics" always "0"
Both of my 2 k8s cluster with different version has the same problem

**What you expected to happen**:
I want to get the count of container tcp connections

**Environment1**:
- Kubernetes version (use `kubectl version`):

[2018-02-23 07:17] #60101 closed

[2018-02-23 07:24] bsalamat commented on #58981
Taints and tolerations is already a beta feature and supports wildcard tolerations. Please see https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/#concepts.

[2018-02-23 07:26] Venkat-Sudharsanam commented on #60207
@mbert  man you are awesome.

Thanks that worked

[2018-02-23 07:27] bsalamat opened #60281 "Move Taints and Tolerations to GA"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

Taints and tolerations is a beta feature in Kubernetes 1.9. We would like to move it to GA status in 1.10.
My initial investigations show that we only need to update the docs to mention that it is GA.

Task tracker:
* [x] Update kubernetes.io and remove notions of the feature being Beta.

/sig scheduling
/assign

[2018-02-23 07:38] #11662 closed

[2018-02-23 07:38] #46321 closed

[2018-02-23 07:38] #46476 closed

[2018-02-23 07:38] #35929 closed

[2018-02-23 07:38] #46451 closed

[2018-02-23 07:46] MagicJohnJang commented on #44370
Why not just use your local storage?  like this:
[code]

ref: https://raw.githubusercontent.com/kubernetes/website/master/docs/tasks/configure-pod-container/task-pv-volume.yaml

[2018-02-23 07:57] fabiand commented on #59551
How I imagine this flag to work - and I actually thought it worked this way:

[code]

Here I'd expect that a service `mysvc` is created, exposing port `42` of all pods matching the labelSelector `mylabel=myvalue`.

[2018-02-23 08:08] wgliang commented on #59460
I can not do in-depth testing in our production environment, and the data that comes from me alone is not representative, if I can. Perhaps we need to conduct a specific test on this parameter in different sizes of clusters to verify the effectiveness. Or people who have an environment can verify this feature.

[2018-02-23 08:10] StephenSorriaux commented on #60224
@zhouhaibing089 thank you for the explanation, I am closing this issue since it is not a bug

[2018-02-23 08:10] #60224 closed

[2018-02-23 08:33] IlyaSemenov commented on #44370
@MagicJohnJang
1. It's not always possible to customize third party Helm charts (for example, see [the official Postgres chart](https://github.com/kubernetes/charts/blob/master/stable/postgresql/templates/deployment.yaml) which can only use a PVC and not a pre-made PV)
2. Using custom default storage provider does not necessary imply single-server environment. For example, I am using a NFS provide

[2018-02-23 08:34] #60278 closed

[2018-02-23 08:39] #45410 closed

[2018-02-23 08:39] #46443 closed

[2018-02-23 08:39] #43250 closed

[2018-02-23 08:39] #46191 closed

[2018-02-23 08:39] #34738 closed

[2018-02-23 08:46] yastij commented on #58981
Indeed, I wasn't aware of this, closing this one

[2018-02-23 08:51] Lion-Wei commented on #59551
Did some test, sames like `selector` usage is:
[code]
And the service created is :
[code]
The field `selector` is what we specified.

But I'm not sure how this command supposed to work...

[2018-02-23 09:01] yastij commented on #60279
This is caAdvisor related.

[2018-02-23 09:29] hzxuzhonghu opened #60288 "cloud-controller-manager should get /healthz to wait for apiserver to be healthy"
**What happened**:

currently cloud-controller-manager use [`restclient.ServerAPIVersions()` ](https://github.com/kubernetes/kubernetes/blob/master/cmd/cloud-controller-manager/app/controllermanager.go#L263-L269) to wait for apiserver to be healthy.
We should deprecate or remove `ServerAPIVersions` and make use of `/healthz` as all other components do.

**Environment**:
- Kubernetes version (use `

[2018-02-23 09:34] hzxuzhonghu commented on #60288
/area controller-manager
/sig api-machinery

[2018-02-23 09:40] #25218 closed

[2018-02-23 09:44] #52255 closed

[2018-02-23 10:07] WindGreen commented on #48798
dont't forget to restart the kubelet...
removing the $KUBELET_NETWORK_ARGS in /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
**systemctl enable kubelet && systemctl start kubelet**
then re-join the node
this way works fine for me~

[2018-02-23 10:33] kargakis commented on #24725
@kachkaev https://github.com/kubernetes/kubernetes/issues/13488 is related to what you are asking.

[2018-02-23 10:45] ghost opened #60295 "Allow setting labels when running kubectl create configmap/secret --from-file"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What you expected to happen**:
When issuing `kubectl create configmap --from-file=...`, I'd like to be able to set labels on the created map instead of having to run a separate.
Having the same ability when creating generic secrets would also be useful.

/sig cli

[2018-02-23 10:47] kachkaev commented on #24725
Probably not quite. Rolling restart seems to be something triggered by a user, while what i’m asking is pod recreation on failure (rather than a restart).

[2018-02-23 10:59] #60052 closed

[2018-02-23 10:59] #59748 closed

[2018-02-23 11:04] humblec commented on #60143
@rootfs true, but node replacement is a  requirement in an infra setup. Keeping that in mind, any workaround exist?. One thing which I can think of here is, admin can manually login to new target IP but this is not a solution as admin intervention is required at login time and also at logout time or pod schedule time again. Any other work arounds ?

[2018-02-23 11:36] gyliu513 opened #60297 "Conformance test will be failed if there are `Completed` pods in `kube-system`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Conformance test will be failed if there are `Completed` pods in `kube-system`, we should filter pods in `Completed` state as well.

[code]
[code]

/sig conformance

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2018-02-23 11:39] gyliu513 commented on #60297
/sig testing
/area conformance

[2018-02-23 11:42] #41339 closed

[2018-02-23 11:42] #29120 closed

[2018-02-23 11:42] #31431 closed

[2018-02-23 11:42] #7960 closed

[2018-02-23 11:42] #28681 closed

[2018-02-23 11:42] #28776 closed

[2018-02-23 12:01] #60081 closed

[2018-02-23 12:12] mthoretton opened #60298 "PVC status: "Lost" (AWS volumes)"
/kind bug

**Problem**:

`kubectl get pvc`
![screen shot 2018-02-23 at 11 50 07](https://user-images.githubusercontent.com/6221533/36590685-be39844c-188f-11e8-9854-ba16ee9e0a0b.png)

We are running a kafka cluster in k8s. kafka-servers run as "StatefulSet". They're using PVC to store data:
[code]
This was working pretty well.
At some point, all PVCs for the kafka StatefulSet got a "Lost" status. R

[2018-02-23 12:17] tnozicka commented on #60162
@janetkuo I am actually debugging the likely the same production issue with Recreate strategy in two clusters right now. (We run on patched 1.9.1.) I have traced it down to broken RS as well.

in 1 cluster RS leaves around pod failed matching the selector
[code]
in the other one those are evicted pods. all replicas are scaled down to 0 and report 0 in status but pods with valid controllerRefs to t

[2018-02-23 12:19] mthoretton commented on #60298
@kubernetes/sig-storage-bugs

[2018-02-23 12:24] gottwald commented on #56371
@nicksardo we ran into this problem a while ago and today I finally had a chance to reproduce it in our sandbox.

But our use-case is rather special. We have a dedicated GKE node pool for a certain software that runs as a DaemonSet and uses host ports that are the same as the service uses for the internal GCE LB.
In that scenario the firewall rule exposes the host ports from the DaemonSet on the p

[2018-02-23 12:35] jsafrane commented on #60298
"Lost" means that something deleted PVs that were bound to the PVCs. Check your audit logs what and when did that.

[2018-02-23 12:36] andyzhangx commented on #60168
@karataliu

[2018-02-23 12:39] andyzhangx commented on #60274
@feiskyer What's your pod config for `rslave` mount?

[2018-02-23 12:43] #46361 closed

[2018-02-23 13:03] alvarosIGZ opened #60300 "Resizing GlusterFS PVC not working"
/kind bug

**What happened**:
Hello.
So I have Kubernetes v1.9.2 installed via kubeadm with GlusterFS as persistent storage.
I can do create and delete pvc, and everything seems to work fine.
I've read that you can resize pvc but adding some properties to kube-apiserver. So I've edited and redeployed with feature-gates and the admission controller.
Then I create a storage class with the property a

[2018-02-23 13:04] marto commented on #58357
Hi @itowlson. Where is the repo for the ingress controller for the Azure Application Gateway? I wouldn't mind having a quick look where you got to. Cheers

[2018-02-23 13:32] crassirostris commented on #58638
Entity reading logs would need to maintain a mapping AFAIU

I would totally switch to something like `<namespace_name>/<pod_name>/<pod_UUID>/<container_name>_<attempt>.log` to make it easier to query metadata directly from the kubelet/apiserver later

[2018-02-23 13:40] mthoretton commented on #60298
Do you mean AWS audit logs? (cloudtrail) if yes we don't have this service enabled :/ On k8s side I've checked different logs, I've found that line from kube-apiserver logs which doesn't say anything but could give the time when it happened:

[2018-02-23 13:44] #3127 closed

[2018-02-23 13:48] ryarnyah opened #60305 "IPVS not working with hostPort ingress controller"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: use kube-proxy with ipvs enable, deploy traefik ingress controller daemonset with hostPort(same as apiserver service port). Traefik can't contact kube-apiserver on 100.64.0.1:443.
[code]

When i tried to curl 100.64.0.1:443 from host, it connect to traefik 443.
[code]

**What you expected to happen**: Traefik a

[2018-02-23 13:50] ryarnyah commented on #60305
@kubernetes/sig-network-bugs

[2018-02-23 13:57] shyamjvs commented on #56032
@redbaron: Yes, you should be able to run the benchmarks locally (they're nothing but integration tests) by running:

[code]

[2018-02-23 14:17] MaciekPytel commented on #59975
I think proper handling of unready pods is a difficult problem that will require significant work. I suspect we may find out we need to start distinguishing pods that are booting up from pods that are 'broken' and it took us quite a while to solve analogous problem with nodes in Cluster Autoscaler (to be clear: I don't know if we will have to do that, that's just my intuition for now).

That being

[2018-02-23 14:24] edward-of-clt commented on #58214
Is a duplicate of https://github.com/kubernetes/kubeadm/issues/684

[2018-02-23 14:29] mattjmcnaughton commented on #54633
/close

[2018-02-23 14:29] #54633 closed

[2018-02-23 14:30] kargakis commented on #58814
This is not an issue during an upgrade since the controller waits for the old version to terminate before spinning up the new. Unfortunately, it is an issue with every other delete (user deletes, node drains). @kubernetes/sig-apps-feature-requests need to make a call on what should be the desired behavior in Recreate Deployments.

[2018-02-23 14:34] Passpes commented on #57910
It's not fixed still have same error:

`yum install -y kubelet kubeadm kubectl
Loaded plugins: fastestmirror
base                                                                                                                                                                                     | 3.6 kB  00:00:00
epel/x86_64/metalink

[2018-02-23 14:59] mrostecki commented on #60203
/sig cli

[2018-02-23 15:11] tnozicka commented on #58814
I understand Recreate strategy as the way/policy to create pods while changing from one RS to another on upgrade and it already waits there for no old pods to be running. If you want that guarantee between pods with the same revision, StatefulSet does that.

[2018-02-23 15:14] MengZn opened #60309 "Do we need addon about Linkerd?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

I noticed there is istio example in cluster / addons.

Do we need addon's example of Linkerd?

**Anything else we need to know?**:

If we have such needs, I volunteered to accomplish this task.

[2018-02-23 15:23] jdumars commented on #60281
Thank you for getting the docs in place for this. Could you go ahead and add "approved-for-milestone" label to it, as well priority and status?  That will help it stay in the milestone.

[2018-02-23 15:24] jdumars commented on #60274
@michmike if you agree with this as a blocker for 1.10, could you go ahead and add "approved-for-milestone" label to this, as well as status? That will help it stay in the milestone.

[2018-02-23 15:24] DirectXMan12 commented on #59975
Ah, yeah, I missed that it was object metrics before.  I'm not entirely convinced we need a flag here -- it might just make sense to bring Object metrics in line with all the other metrics types.

On the other hand, there's a subtlety here -- the other metric types don't quite *ignore* unready pods -- they just ignore the metrics from unready pods, which causes a heavy bias in the direction of not

[2018-02-23 15:25] jdumars commented on #60176
Could you go ahead and add "approved-for-milestone" label to this, as well priority and status? That will help it stay in the milestone if this is a 1.10 blocker. Thanks!

[2018-02-23 15:26] jdumars commented on #60108
Could you go ahead and add "approved-for-milestone" label to this, as well as status? That will help it stay in the milestone if this is a 1.10 blocker. Thanks!

[2018-02-23 15:33] MaciekPytel commented on #59975
I think this is what we should do long term. I was worried about breaking someone who relies on targetValue + averaged metric to get effect similar to targetAverageValue and though about providing something for transitional period, but if you're ok with it I'd rather just change it as you say.

[2018-02-23 15:35] alex-sainer commented on #43633
same here - have to add multiple domains i.e.
[code]
what is not really comfortable in the current implementation...

so, vote up...

[2018-02-23 15:43] mthoretton commented on #60298
For now our best guess about what happened is: AWS API was not working properly this night and it returned no/incomplete data. Then k8s decided to remove some PV and never tried anymore later in time to check on AWS if the volumes does exist or not.
Another interesting fact, it only affected volumes created 3d ago, and not the ones created 2d ago.

[2018-02-23 15:46] #5637 closed

[2018-02-23 15:46] #22422 closed

[2018-02-23 15:46] #43088 closed

[2018-02-23 15:46] #40493 closed

[2018-02-23 15:54] johnbelamaric commented on #39792
You can do this in CoreDNS, which will eventually replace kube-dns (hopefully in 1.11, though it is available as [alpha in 1.9](https://coredns.io/2018/01/29/deploying-kubernetes-with-coredns-using-kubeadm/) and will be beta in 1.10). It's not totally natural, though. That is, you can't just create an annotation or something in the K8s api server to make it happen. You have to configure it in anot

[2018-02-23 15:57] kargakis commented on #58814
Yeah, I agree with @tnozicka. We should at least document this behavior.

[2018-02-23 15:57] DirectXMan12 commented on #59975
I think it's safe to change as-is -- that feature's still in beta, and it's not an API change, so it shouldn't just hard-break anyone.  Plus, we've change stuff like this before (when we did the initial resource metrics change).

[2018-02-23 16:01] jdumars commented on #59848
Hi Clayton, could you go ahead and add "approved-for-milestone" label to this, as well as status (in progress)? That will help it stay in the milestone if this is a 1.10 blocker. Thanks!

[2018-02-23 16:02] jdumars commented on #59766
@krzyzacy is this one getting traction in the SIG? cc: @luxas @jessicaochen

[2018-02-23 16:07] ryan-dyer-sp commented on #19704
I believe this is still an issue and the ability to add an IP whitelist is not entirely feasible.  For example we have a couple dozen IPs that make up our corporate IP whitelist.  Adding these dozens to every kubernetes definition file for all of our various services and then needing to update all of these files and re-apply them when we receive an IP addition/change/etc is not very manageable.  I

[2018-02-23 16:15] sttts opened #60312 "apimachinery passes through Unstructured in inconsistent ways"
In https://github.com/kubernetes/kubernetes/pull/55650 support for `runtime.Unstructured` was added to `runtime.Scheme`. With https://github.com/kubernetes/kubernetes/pull/60113 we have to support `Unstructured` with custom typers and converters using `GroupVersions` that are not known to our legacy schemes. This is broken right now:

The versioning codec https://github.com/kubernetes/kubernetes/b

[2018-02-23 16:15] sttts commented on #60312
/cc @mbohlool @nikhita

[2018-02-23 16:18] sttts commented on #60312
This is a blocker for conversion support in CRDs.

[2018-02-23 16:32] msau42 commented on #60298
Can you search master apiserver and controller manager logs for the PV name (pvc-750...)?

[2018-02-23 16:44] jolcese commented on #58357
I might also be able to help here.

[2018-02-23 16:47] #16108 closed

[2018-02-23 16:47] #15935 closed

[2018-02-23 16:47] #33188 closed

[2018-02-23 16:47] #44172 closed

[2018-02-23 16:47] #46349 closed

[2018-02-23 16:47] #46595 closed

[2018-02-23 16:47] #26040 closed

[2018-02-23 16:48] joelittlejohn commented on #39170
Yep, still seems to be present in 1.8.

[2018-02-23 16:51] ikhlaque2014 commented on #60203
/sig kubectl
/sig storage

[2018-02-23 16:55] MikeSpreitzer opened #60313 "pull-kubernetes-e2e-kops-aws fails to pull apiserver image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind flake

**What happened**:
I got inconsistent results from pull-kubernetes-e2e-kops-aws regarding #60065 (see https://k8s-gubernator.appspot.com/pr/60065).  That test succeeded once and failed several times on the exact same commit.  I looked at a few of the failures.  They are not all the same, but a common problem is failing to pull the apiserv

[2018-02-23 16:55] MikeSpreitzer commented on #60313
@kubernetes/sig-testing-bugs

[2018-02-23 17:01] ivantichy opened #60315 "#2 Cannot reach Kube DNS from pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Creating new issue as the original one was closed without solution, more people announced the problem and there was no response on Closed issue thread.
Cannot reach kube dns (e.g. nslookup kubernetes.default) from busybox test pod.

Details here:
https://github.com/kubernetes/kubernetes/issues/57558

I would prefer reopen

[2018-02-23 17:02] ivantichy commented on #57558
New issue fired here: https://github.com/kubernetes/kubernetes/issues/60315

[2018-02-23 17:05] mtaufen commented on #10091
#60314

[2018-02-23 17:06] ivantichy commented on #60315
/sig network

[2018-02-23 17:20] kow3ns commented on #44145
In general I think we need to add a "health check" for under replication and quorum disruption that is separate from availability.  See [50363](https://github.com/kubernetes/kubernetes/issues/50363). The intention is to make the sts controller sensitive to under replication and quorum stability during a rolling update. We could also make PDB sensitive to this signal.

[2018-02-23 17:48] #25150 closed

[2018-02-23 17:48] #5964 closed

[2018-02-23 17:48] #5965 closed

[2018-02-23 17:48] #17098 closed

[2018-02-23 17:48] #29317 closed

[2018-02-23 17:48] #37216 closed

[2018-02-23 18:04] jessicaochen commented on #59766
Seems like there is an issue with scheduling a DNS pod.

`Feb 23 15:20:31.315: Error waiting for all pods to be running and ready: 1 / 15 pods in namespace "kube-system" are NOT in RUNNING and READY state in 10m0s
POD                       NODE PHASE   GRACE CONDITIONS
kube-dns-865b8d59f4-zcndv      Pending       [{Type:PodScheduled Status:False LastProbeTime:0001-01-01 00:00:00 +0000 UTC LastTran

[2018-02-23 18:08] humblec commented on #60300
/assign @humblec

[2018-02-23 18:08] vishh commented on #56634
Network setup for pod IIUC is handled by runtimes. I don't see how device plugins can help since it is at the kubelet level.
What if the underlying runtime does not employ network namespaces?

[2018-02-23 18:11] tnozicka commented on #60162
xref - this should fix it https://github.com/kubernetes/kubernetes/pull/60301

[2018-02-23 18:18] liggitt commented on #60312
cc @kubernetes/sig-api-machinery-bugs

[2018-02-23 18:19] vishh commented on #59380
If the end goal is to expose a file declaratively into containers with policy,I'd prefer using CSI plugins.
I'm yet to be convinced infinite resources need to be supported in the API as a formal construct.

[2018-02-23 18:21] BenTheElder commented on #60313
I see everything being pushed to the standard publicly readable bucket here:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/60065/pull-kubernetes-e2e-kops-aws/76217/

@krzyzacy @justinsb should it even be pulling from k8s.gcr.io since we're using images from a PR?
This smells like a kops issue, kubetest appears to be building and pushing the images properly.

[2018-02-23 18:24] krzyzacy commented on #60313
/sig aws
@justinsb something need to be cherrypick back to 1.8?

[2018-02-23 18:27] liggitt commented on #58362
It seems odd to forbid setting/updating this field in the node spec via the normal Node API endpoint. That breaks `apply`, setting during creation, etc. I also can't think of any other fields that work this way except pod.spec.nodeName, which was built that way for the following reasons:
* pod.spec was intended to be largely immutable
* assignment of pod.spec.nodeName was seen as the domain of the

[2018-02-23 18:29] ixdy commented on #60313
Oh, maybe.

I think kops side-loads the docker images, and so while k8s.gcr.io is an alias that resolves to gcr.io/google-containers on the GCR side, it isn't considered an alias in the local docker daemon.

I'm guessing kops is configured to look for the local docker images under the k8s.gcr.io registry, but 1.8 is probably still building the side-loaded images as gcr.io/google-containers.

OTOH