[2020-07-21 01:21] andrewsykim commented on #89358
I think that only applies when you re-use the same source port though? I think the e2e test here is creating a new connection for each session affinity check so we're likely not hitting the conn_reuse_mode code path.

[2020-07-21 01:23] mmiara commented on #93161
It is between 30-40 seconds after running the command that I see the error. It looks like that could be noteworthy, but when checking the etcd cluster health, it appears to be healthy and I am able to make changes to the cluster, so I am assuming there is not anything wrong with the etcd cluster. Looking at the attached links previously, could there be something TLS related that needs renewed with

[2020-07-21 01:29] Lion-Wei commented on #89358
🤔 You're right. Then we are falling back to the documentation work. 😂

[2020-07-21 01:37] ahg-g commented on #93270
Moving `PercentageOfNodesToScore` to inside the profile config make sense.

[2020-07-21 01:53] ahg-g commented on #93079
The plugin API isn't going to have any impact on enabling/disabling priorities/predicates because we didn't port any of those until 1.17

[2020-07-21 01:54] ahg-g commented on #93186
can we close this as duplicate of kubernetes/autoscaler#3224?

[2020-07-21 02:01] ahg-g commented on #92960
/remove-sig scheduling

[2020-07-21 02:03] liggitt commented on #92781
are all the changes merged to master for 1.19?

[2020-07-21 02:06] andrewsykim commented on #72236
Agreed that @uablrek's suggestion is definitely worth exploring.

I think we can use --cluster-cidr for pods. For services, I think a reasonable compromise is an entry in the local route table per Service. This seems reasonable since we know each Service's cluster IP but we don't know the full range. Performance-wise this wouldn't be any worse than what we have today.

[2020-07-21 02:09] Huang-Wei commented on #92781
@liggitt Yes, #92840 and #92876 both got merged.

/close

[2020-07-21 02:09] #92781 closed

[2020-07-21 02:15] yuanchen8911 commented on #93270
Thanks, @Huang-Wei  @ahg-g. How should we proceed with it?

[2020-07-21 02:15] ahg-g commented on #92781
we are still trying to get his in 1.18 #93026

[2020-07-21 02:26] ahg-g commented on #93062
are you saying that the pod wasn't recreated immediately or it was recreated but wasn't scheduled?

[2020-07-21 02:37] ahg-g commented on #93145
pls use node affinity instead of node name. The scheduler doesn't execute the scheduling cycle on pods with `pod.Spec.NodeName` set, those pods are considered "scheduled" already.

[2020-07-21 02:51] #92855 closed

[2020-07-21 02:51] #93257 closed

[2020-07-21 02:51] #93262 closed

[2020-07-21 03:02] jsturtevant opened #93276 "Presubmit tests for Windows in 1.20 and release blocking tests"
**What would you like to be added**:
Presubmit tests for windows  in 1.20 and to see windows tests in release blocking [dashboard like 1.19](https://k8s-testgrid.appspot.com/sig-release-1.19-blocking) for 1.20

**Why is this needed**:
The current process for testing changes against Windows and identifying issues is reactive which causes lots of work after the fact.  For 1.19 we had at least 2 PR's

[2020-07-21 03:05] yuanchen8911 commented on #93270
should probably include the related parameters such as "minFeasibleNodesToFind".  The current global setting is 100.

[2020-07-21 03:08] ZhiFeng1993 commented on #92911
/assign

[2020-07-21 03:11] Lion-Wei commented on #72236
/assign
I'll dig into it.

[2020-07-21 03:11] liggitt commented on #93276
cc @BenTheElder @kubernetes/sig-testing

Presubmits should be **way** less than 2 hours... ideally in the 10-30 minute range. The presubmits we have that are in the 1+ hour range are considered problems... let's not add more like that.

[2020-07-21 03:14] feiskyer opened #93277 "[Azure] Node Event doesn't contain the detailed errors when controller manager failed to create routes"
**What happened**:

Node Events doesn't contain the detailed errors when controller manager failed to create routes, only time out errors are shown in node events.

**What you expected to happen**:

The detailed errors should be shown in the node events for easier troubleshooting.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment

[2020-07-21 03:41] jsturtevant opened #93278 "sig-release 1.19 informing tests for windows are testing against 1.18"
**What happened**:
I was looking into what tests were enabled for #93276 and found that the following tests:

https://testgrid.k8s.io/sig-release-1.19-informing#gce-windows-1909-1.19
https://testgrid.k8s.io/sig-release-1.19-informing#gce-windows-2019-1.19

are running 1.18. From the output of the tests (https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-2019-1-19/

[2020-07-21 03:51] Lion-Wei commented on #92019
/area ipvs

[2020-07-21 03:53] BenTheElder commented on #93276
Responding to some of this in depth, happy to discuss more later.

----

Release candidates not working and this being caught is actually working as intended IMHO, thanks for reporting these issues.

The goal of the release candidates is for people to try them and report issues like this before the actual release.

There aren't any written currently because it's not something we do frequently and

[2020-07-21 03:55] BenTheElder commented on #93276
I also want to note that we've had existing open issues about Windows CI for a very long time and not seem much work done on them.

I'd kinda like to see reliable CI in release informing before further discussion about release blocking or presubmit blocking.

Issues like https://github.com/kubernetes/kubernetes/issues/93278 have been very common so far, and often subtly hidden unless you inspect t

[2020-07-21 04:34] gophobic commented on #88183
go mod is such a fest of retardation. But it's thought out according to the core team and you can do nothing about that.

[2020-07-21 05:26] biblesyme commented on #58792
Why is that nodes on gke don't resolve to kube dns? that's so unreasonable. I face the same problem.

[2020-07-21 05:26] xibuka commented on #18610
@freehan Hi, do you have a plan with this issue?

[2020-07-21 05:44] bowei commented on #58792
(Note that this is cloud provider specific, so likely doesn't make to open the issue again the Kubernetes repo).
cc: @mark-church: what is a good place for people to track GKE/GCP-related K8S issues?

[2020-07-21 06:15] rdxilano commented on #93062
It was create created not scheduled. As seen in the log:
[code]
it seems like it was created on 10:58:13 and later on 11:06:03, however, it started to run only after 11:06:03 and I didn't see in any log a deletion between these two creations.

[2020-07-21 06:19] fmehrdad commented on #92618
I found a e3e.txt in ./podlogs/sonobuoy/sonobuoy-e2e-job-62642875190641d5/logs/e2e.txt
[code]
[e2e.txt](https://github.com/kubernetes/kubernetes/files/4951658/e2e.txt)

[2020-07-21 06:45] llylhz opened #93279 "heapster安装成功，kubectl top node 一个节点正常一个节点 unknown"
k8s 版本1.14
kubelet 状态正常无报错
检查heapsterlogs发现如下报错：
E0721 06:15:20.050642       1 manager.go:101] Error in scraping containers from kubelet:x.x.x.x:10250: failed to get all container stats from Kubelet URL "https://10.100.3.66:10250/stats/container/": Post https://x.x.x.x:10250/stats/container/: dial tcp x.x.x.x:10250: getsockopt: connection refused
W0721 06:15:25.000336       1 manager.go:152] Faile

[2020-07-21 06:46] ztj commented on #60789
For my case, I don't need hostname -f on the pod to work so long as I can get the pod name with the Downward API and inject it via an env var or similar. But that's the main issue isn't it? Basically I'm looking for what is suggested here: https://github.com/kubernetes/kubernetes/issues/60789#issuecomment-615443190 and of course that it works with the Downward API in a Deployment.

As for why not

[2020-07-21 06:57] shyamjvs opened #93280 "Defrag on etcd node causing API 500s"
On one of our large clusters (k8s 1.16) under a steady load of write calls, there was a brief period of ~1 min when all write requests were being heavily stalled. Meaning, the write call latencies spiked to upwards of 5s and many of those API calls got back HTTP 500 failures due to kube-apiserver seeing “timed out” or “too many requests” errors from etcd. See:

![Screen Shot 2020-07-15 at 11 50 23

[2020-07-21 07:09] llylhz commented on #93279
第一次用，不太会，请问怎么删除此问题

[2020-07-21 07:10] #93279 closed

[2020-07-21 07:20] ratulbasak commented on #87917
I am having same issue in k8s 1.15 eks cluster. any update on that?

[2020-07-21 07:27] xiang90 commented on #93280
Which etcd server version are you using? We hit this in our internal clusters. But I think we have upstreamed the fixes around relaxing the lock durning compaction.

[2020-07-21 07:33] shyamjvs commented on #93280
Etcd version is v3.4.7

To clarify, the above issue wasn't due to compaction. It was during defrag.

[2020-07-21 07:55] xiang90 commented on #93280
@shyamjvs

Oh... I misread it. For defrag, probably it is easier to just trigger a leader transfer before trigger it. From k8s side, probably doing some rate limiting and back off is also beneficial.

We could fix the root cause here https://github.com/etcd-io/etcd/blob/master/mvcc/backend/backend.go#L352. But it might take some effort.

[2020-07-21 07:57] sumantfordev commented on #69901
All of a suddent, i also started facing this issue in GKE, what are the possible cases for this issue to occur?

[2020-07-21 08:08] johscheuer commented on #93205
I think it's not really documented (at least I'm not aware of) but you can get the binaries here (just change the release version and the binary name e.g. `kube-controller-manager`, `kubelet`, etc.):

[code]

[2020-07-21 08:39] maelk commented on #91601
I'll work on getting those. In the meantime, a small update. We can see in the logs :
[code]
And that is the exact point when the missing node disappears. The last occurence in the logs is at 13:37:24. In the next scheduling, the missing node is gone. so it looks like the bug is in the update of the node_tree. All nodes go through that update, it's just that this worker 608 is the last one to go t

[2020-07-21 08:40] aojea opened #93281 "The test "should resolve connection reset issue #74839 [Slow]" does not support IPv6"
**Which jobs are failing**:

n/a

**Which test(s) are failing**:

"should resolve connection reset issue #74839 [Slow]"

**Since when has it been failing**:

it never worked

**Testgrid link**:

n/a

**Reason for failure**:

The image used for the test is using only IPv4

https://github.com/kubernetes/kubernetes/tree/master/test/images/regression-issue-74839

**Anything else we need to know**:

We

[2020-07-21 08:42] aojea commented on #93281
/assign @Billy99
/sig-network

[2020-07-21 08:42] cswindle opened #93282 "Init containers require CPU limit in order for container to be in guaranteed QoS"
**What happened**:
When using the static CPU allocator in Kubernetes I find that I need to follow the rules about providing CPU and memory limits for init containers as well as containers, if I do not provide these then the QoS Class gets set to burstable.

**What you expected to happen**:
The init containers should not be taken into account when determining the QoS class for the pod.

**How to re

[2020-07-21 08:42] aojea commented on #93281
/sig network

[2020-07-21 08:45] maelk commented on #91601
I'll work on getting those. In the meantime, a small update. We can see in the logs :
[code]
And that is the exact point when the missing node disappears. The last occurence in the logs is at 13:37:24. In the next scheduling, the missing node is gone. so it looks like the bug is in /follows the update of the node_tree. All nodes go through that update, it's just that this worker 608 is the last on

[2020-07-21 08:55] #86181 closed

[2020-07-21 09:09] zhouya0 commented on #93282
Ref: https://github.com/kubernetes/kubernetes/issues/75212

[2020-07-21 09:13] bertinatto commented on #92799
Sorry, I missed your question.

IMO, yes - this value (25) is quite generic and applied to [a few instance types based on the Nitro Sistem](https://github.com/kubernetes/kubernetes/blob/1fdd8fb213e0361e8f18b1dd152dddb4c88ad183/pkg/volume/util/attach_limit.go#L31).

However,  AWS docs [aren't very specific about the limits for each instance type](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/

[2020-07-21 09:15] aojea commented on #93281
/remove-triage unresolved

[2020-07-21 09:31] thomacos commented on #93262
Thanks for the analysis!
See my comment https://github.com/kubernetes/kubernetes/pull/80917#issuecomment-661745052.

[2020-07-21 09:33] Priyash08 commented on #63128
Hey, I appreciate your quality stuff and I would love to read more blogs like this.
[Powertrac Tractor Price](https://www.tractorjunction.com/search-tractor/76/powertrac/
)

[2020-07-21 11:12] Deeps-1989 commented on #62940
Hey gys, i have similar issue setting up cluster from source code on mac. Any there any other options which help us to set up cluster from source code on MAC?

[2020-07-21 11:19] adriananeci commented on #90801
Just talked with one of the sig/apps lead and unfortunately there are not so good news for the near future:
[code]

[2020-07-21 11:21] maelk commented on #91601
We'll give it a new try with added debug around the snapshot functionality : https://github.com/Nordix/kubernetes/commit/53279fb06536558f9a91836c771b182791153791

[2020-07-21 11:26] feiskyer opened #93287 ""instance not found" error is reported for recreated Azure nodes"
**What happened**:

When a node is deleted and then recreated in short time, the "instance not found" error  would be reported from Azure cloud provider and hence the node object is deleted by kube-controller-manager.

It is because the deleted VMSS VM would be cached for 15 minutes (this is used to avoid throttling issues when a large number of nodes are deleted):

https://github.com/kubernetes/k

[2020-07-21 11:37] knabben commented on #92673
@alejandrox1 just bought some initial code walk and diagrams for the suite run:

https://docs.google.com/document/d/10EKyu4kTo3x7mei2TuGuW8AYeld1EuuSj91AvYNVGX4/

After some parsing, there's a list of highlevel Ginkgo context tests from the node_e2e folder here:
https://docs.google.com/spreadsheets/d/1KcQPwfg5K2X1ilbAmu1_iPcmXneDte0NX6-O5dF_1yE/

A curious thing is that for a local run all e2e spe

[2020-07-21 11:47] k82cn commented on #93282
/sig node

[2020-07-21 11:53] galindro commented on #57144
Can someone reopen this case? I just confirmed that this problem still occurs in 1.14.10 and I think that it still occurs on newer version as well.

@dixudx , @nikhita , @PengTaoWW

[2020-07-21 12:07] lilic commented on #74415
We are moving away from the above example multi namespace listwatch in prometheus operator right now :) , due to similar problems to what @liggitt mentioned, this was done in the very early days of kuberenetes and we are planning on refactoring it.

I am curious if there were any updates on the following @lavalamp so we can just make use of that instead of making something custom again in promethe

[2020-07-21 12:17] #88423 closed

[2020-07-21 12:30] dennis-benzinger-hybris commented on #93186
I would prefer if we could keep it open for a few more days. The symptom aligns very nicely with kubernetes/autoscaler#3224 but as that issue explains "pods whose initContainer requests are bigger than their main container requests" are affected. And I haven't found such pods in our setup.

[2020-07-21 12:32] harper1011 commented on #91668
@Yukariko  thanks for sharing this PR.
BTW: is there any workaround available for this issue other than cherrypick or upgrade to the release which contains the correction?

[2020-07-21 12:40] dixudx commented on #57144
/reopen

[2020-07-21 12:42] dixudx commented on #57144
@galindro Any logs from kube-proxy? What's the version of kube-proxy?

[2020-07-21 13:03] ahg-g commented on #91601
Interesting, I think the remove/add are triggered by an updateNode call. The zone key is missing on the remove, but exist on the add, so the update was basically adding the zone and region labels?

Do you have other scheduler logs related to this node?

[2020-07-21 13:11] ahg-g commented on #93062
so there are two pod create events after it was deleted the first time, right?

[2020-07-21 13:13] harper1011 commented on #90303
@cbf123
Sorry that bother you via this close issue, but I was tracing back to this issue via the PR.
As per your statement above, if I understand correctly, this problem only happened when the container inside Pod got killed.
but an simple Pod restarted (e.g. delete/re-create via kubectl delete pod command) should not trigger the problem, right?
Or any container(inside Pod) or Pod restart with gua

[2020-07-21 13:16] galindro commented on #57144
kube-proxy version -> `k8s.gcr.io/kube-proxy:v1.14.10`

Logs doesn't provides so much info:

[code]

[2020-07-21 13:20] rdxilano commented on #93062
That's correct. Eventually I saw the scheduled pod only after the second creation, on the node that was originally rebooted and ran this pod pre force deleting it. I was expecting to see the pod scheduled on another node, while the original node was during (a long) reboot process.

[2020-07-21 13:25] sunchill06 opened #93292 "how to disable exec into a pod"
@liggitt

how to do this?
An admin that wants to remove access to exec or attach should remove all access to pods/exec and pods/attach.

I tried this:
- apiGroups: [""]
  resources: ["pods/exec", "pods/attach"]
  verbs: [""]

But seems like this is not the right way to do it. Could you please suggest how can I make sure that pods/exec and pods/attach are not available to the users.

[2020-07-21 13:26] maelk commented on #91601
We're trying to reproduce the bug with the added logging. I'll come back when I have more info

[2020-07-21 13:30] marqc commented on #84081
Any plans for further work on this issue? Currently best option is to use unofficial clients like fabric8 for java, that has model for AdmissionReview class https://github.com/fabric8io/kubernetes-client/

[2020-07-21 13:30] howardjohn commented on #74415
@lilic do you have any info on what prom operator is doing instead if you are moving away from that approach?

[2020-07-21 13:37] alculquicondor commented on #93270
The problem with "moving" is that it increases maintenance, as we have to support 2 API versions for some time. Should we keep the global as well?

[2020-07-21 13:39] alculquicondor commented on #93270
Are you sure 100 is too big for your use case? I prefer we don't add parameters if we don't need them.

[2020-07-21 13:39] johscheuer commented on #93209
I think it would be more precise to

[2020-07-21 13:49] ahg-g commented on #93270
the moving in this case shouldn't be difficult (we keep both and the per-profile value takes precedence), and we need to support it for two releases only, right?

[2020-07-21 13:49] SaiHarshaK commented on #93188
In [set_selector.go](https://github.com/kubernetes/kubernetes/blob/323f34858de18b862d43c40b2cced65ad8e24052/staging/src/k8s.io/kubectl/pkg/cmd/set/set_selector.go#L86) , i think we hard coded local as false.

[2020-07-21 13:50] ahg-g commented on #93062
It is likely that the pod got deleted in between those two create events and the scheduler noticed the pod on the second create only, I think you need to check with sig-apps why was the pod created twice.

/sig-apps

[2020-07-21 13:51] ahg-g commented on #93062
/sig apps

[2020-07-21 13:53] ahg-g commented on #93270
for Beta it will be 9 months or 3 releases, whichever is longer.

[2020-07-21 13:57] rdxilano commented on #93062
Thanks. Is there any log that I can see this pod deletion?

[2020-07-21 14:00] ahg-g commented on #93062
api server logs perhaps.

[2020-07-21 14:03] onpaws commented on #17088
@Erokos

I'm using a single node k8s cluster on Azure, just testing things out.
I stood up an Ingress on `ingress-basic` namespace, and have two apps on the `default` namespace.
Interestingly,
[code]

[2020-07-21 14:03] alculquicondor commented on #91601
I'll point out that such node is the node that gets repeated. @maelk, did you see similar messages for other nodes or not at all? As @ahg-g, this should be expected when a node receive it's topology labels for the first time.

[2020-07-21 14:07] alculquicondor commented on #93270
If we keep both, we don't need a new API version.

[2020-07-21 14:09] ahg-g commented on #93270
yeah, we could keep both in Beta, and remove the global one in GA.

[2020-07-21 14:23] liggitt commented on #93292
RBAC permissions are additive, so if a user is granted a role that already contains exec permissions (like the admin or edit roles do), adding another rule related to exec will not do anything.

Your options are:
1. remove the exec permissions from the existing roles (the built-in exec permission added to the `admin` and `edit` clusterroles originates in the `system:aggregate-to-edit` clusterrole)

[2020-07-21 14:23] #93292 closed

[2020-07-21 14:26] alculquicondor commented on #93270
It is my understanding that the strong preference is that there are no changes between Beta and GA, apart from new fields.

[2020-07-21 14:27] dominicgunn commented on #92272
This is still broken for us in v1.16.13. Infact it's broken for us in any version _after_ v1.16.10. We're currently pinned, because otherwise all manner of different behaviour occurs whenever try and turn on the calico CNI. For completeness sake, we're also using hyperkube, and roll exactly the same configuration to our clusters, the **only** different is the kubelet version (*.10, vs *.13).

[2020-07-21 14:35] ahg-g commented on #93270
True, but I think in this case it is fine because we are not removing functionality and not changing the config significantly.

[2020-07-21 14:35] maelk commented on #91601
yes, it happened for all nodes, and it is expected. the coincidence being that this node specifically is the last updated one, and it is at that exact time that the other node goes missing

[2020-07-21 14:41] liggitt commented on #93282
really? I'd expect all containers to be inspected

[2020-07-21 14:41] liggitt commented on #93282
cc @dashpole

[2020-07-21 14:41] alculquicondor commented on #91601
Did you get update logs for the missing node?

[2020-07-21 14:42] ahg-g commented on #91601
lol, was just typing this question.

[2020-07-21 14:43] liggitt opened #93295 "Dynamic Provisioning [single-az] should create a deployment object, write and read to it, delete the pod and write and read to it again [kubernetes.io/azure-disk] [disk.csi.azure.com] [Windows]"
**Which jobs are flaking**:

pull-kubernetes-e2e-azure-disk-windows

**Which test(s) are flaking**:

* Dynamic Provisioning [single-az] should create a deployment object, write and read to it, delete the pod and write and read to it again [kubernetes.io/azure-disk] [disk.csi.azure.com] [Windows]

**Testgrid link**:

https://testgrid.k8s.io/provider-azure-presubmit#pr-k8s-azure-disk-e2e-master-wind

[2020-07-21 14:43] ahg-g commented on #91601
perhaps the bug is that whole zone is deleted from the tree before all nodes are removed.

[2020-07-21 14:45] alculquicondor commented on #91601
Just to clarify, I'm not personally looking at the code, I'm just trying to make sure we have all the information. And I think with what we have we should be able to spot the bug. Feel free to submit PRs and much better if you can provide a unit test that fails.

[2020-07-21 14:53] maelk commented on #91601
yes, it shows that the zone is updated for that missing node. There is a log entry for all nodes

[2020-07-21 14:55] cswindle commented on #93282
Why would the init containers require the same properties as the main containers, in general I would say that init container are unlikely to require dedicated CPU cores, whereas for applications which use technologies such as DPDK they would. Maybe I should have worded it saying that they should be independent decisions.

[2020-07-21 14:56] neolit123 commented on #93161
are you sure you are running these scripts on the correct etcd cluster?
what is the output of `kubectl get po -n kube-system`?

AFAIK certificate issues should return a different errors and not "context deadline".

[2020-07-21 14:58] ahg-g commented on #91601
If so, then I think assuming that this "is the exact point when the missing node disappears." may not be correlated. Lets wait for the new logs. It would be great if you can share all scheduler logs you get in a file.

[2020-07-21 15:02] maelk commented on #91601
I'll do when we reproduce with the new logging. From the existing ones, we can actually see that the pod scheduling immediately after that update is the first one to fail. But it does not give enough information to know what happened in between, so stay tuned...

[2020-07-21 15:05] andrewsykim opened #93297 "[ipvs] set conn_reuse_mode=1 on linux kernel version >= v5.9"
There were two patches merged recently in the kernel that will significantly improve the IPVS proxier:
1. http://patchwork.ozlabs.org/project/netfilter-devel/patch/20200701151719.4751-1-ja@ssi.bg/
2. http://patchwork.ozlabs.org/project/netfilter-devel/patch/20200708161638.13584-1-kim.andrewsy@gmail.com/

The first patch fixes an issue where a packet is dropped whenever a stale conntrack entry is r

[2020-07-21 15:06] andrewsykim commented on #93297
/sig network
/area ipvs

[2020-07-21 15:06] andrewsykim commented on #93297
Should probably hold on the PR until v5.9 is released later this year. cc @lbernail

[2020-07-21 15:15] andrewsykim commented on #93297
/remove-triage unresolved

[2020-07-21 15:22] lilic commented on #74415
@howardjohn Our current plan is to replace it with an informer per namespace, was searching around right now for the right approach for this and came across this issue.

But we would be interested in contributing to client-go if they are still interested in having the multi namespace abstraction there. Would prefer to maintain the least custom stuff in Prometheus-operator as we can, as we found a

[2020-07-21 15:25] howardjohn commented on #74415
@lilic we are doing pretty much the same thing in https://github.com/istio/istio/pull/25692 - would also love to see something official in client-go so we don't need to maintain a bunch of stuff. We are even considering doing codegen to get typed multinamespace clients which will be even worse to maintain.

[2020-07-21 15:28] waynr commented on #92272
@dominicgunn for what it's worth there was a significant amount of workaround we had to do to accommodate the new Debian 10 base image in Hyperkube even after the upstream fixes -- for example, we had to write our own iptables wrapper script that exec's the correct ipables binary directly rather than going through the alternatives system since we mount top-level directories like `/etc` into the ku

[2020-07-21 15:39] michmike commented on #93295
@claudiubelu  and @adelina-t  can you please take a look?

[2020-07-21 15:39] michmike commented on #93295
/milestone v1.19

[2020-07-21 15:39] michmike commented on #93295
cc: @immuzz

[2020-07-21 15:43] pancernik commented on #91601
@maelk Have you seen a message starting with `snapshot state is not consistent` in the scheduler logs?

Would it be possible for you to provide full scheduler logs?

[2020-07-21 15:49] lilic commented on #74415
ha :) yes the codegen part would be much harder to maintain yes.

I will open a new issue for feature request for this in client-go and cc you and link to this issue.

[2020-07-21 15:55] fmehrdad commented on #92618
here is another one from sonobuoy run --e2e-focus "intra-pod"
[code]

[2020-07-21 15:55] fmehrdad commented on #92618
[e2e.txt](https://github.com/kubernetes/kubernetes/files/4954670/e2e.txt)

[2020-07-21 15:59] thockin commented on #60789
I agree it feels like a missing feature, I'm just seeking to understand the
boundary cases, so if/when we "solve" it, we don't have another variant of
this discussion because we missed something.

On Mon, Jul 20, 2020 at 11:46 PM Zachery Jensen <notifications@github.com>
wrote:

[2020-07-21 16:05] dashpole commented on #93282
Init containers must be _at least_ as restricted as the sum of "regular" containers, otherwise users could run their primary workloads as init containers to confer the additional benefits from QoS (e.g. better OOM score).

[2020-07-21 16:13] liggitt opened #93300 "ResourceConfigForPod doesn't consider initContainers when computing cpuLimitsDeclared / memoryLimitsDeclared"
I noticed ResourceConfigForPod isn't checking `initContainers` here:

https://github.com/kubernetes/kubernetes/blob/b6174e605fd6e23b48131dec9e45043b38372c3c/pkg/kubelet/cm/helpers_linux.go#L144-L150

The methods called by `ResourceConfigForPod` (`PodRequestsAndLimits` and `GetPodQOS`) **do** check `initContainers`, but it looks like `cpuLimitsDeclared` and `memoryLimitsDeclared` can be true for bu

[2020-07-21 16:15] lubronzhan commented on #92512
Hi @michmike this issue was found when testing windows cluster deployed using PKS. We do have a workaround by manually deleting `notReady` node using kubectl. Still we wish the fix could go in ASAP. Could you ask someone from upstream to to review the PR that fix this issue? https://github.com/kubernetes/kubernetes/pull/92608
Thank you

[2020-07-21 16:19] BenTheElder opened #93301 "ResourceQuota tests flaky on 1.16 in kubeadm clusters"
**What happened**:

The ResourceQuota tests have become very flaky on 1.16.
I noticed because in the kind repo we run a replica of the blocking kubernetes presubmits for all branches to block kind merges.
We get failures like https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_kind/1739/pull-kind-conformance-parallel-1-16/1285492719149387776

**What you expected to happen**

[2020-07-21 16:27] adelina-t commented on #93295
Yep, we're covering this.

[2020-07-21 16:31] neolit123 commented on #93301
https://github.com/kubernetes/kubernetes/pull/93208 should fix this.

[2020-07-21 16:33] liggitt commented on #93301
the e2e tests expect a time-bounded behavior that requires the controller manager to be working... if it is getting restarted frequently, that disrupts the behavior that test verifies

[2020-07-21 16:33] BenTheElder commented on #93301
/sig cluster-lifecycle

[2020-07-21 16:37] jmcmeek commented on #76338
We're seeing this on Kubernetes 1.16.  Pods were getting a timeout connecting to a service, but could connect to the endpoints.  We recently found that kube-proxy has stopped working on some nodes and was logging lots of errors like
[code]
Restarting kube-proxy fixed that.

That seems to fit in with recent discussion and related PRs.  I realize 1.16 is not exactly current, but its newer than 1.14.

[2020-07-21 16:38] bart0sh opened #93302 "node-kubelet-conformance fails with "pod ... was not deleted""
**Which jobs are failing**:

ci-kubernetes-node-kubelet-conformance

**Which test(s) are failing**:

- Variable Expansion should succeed in writing subpaths in container
- Variable Expansion should verify that a failing subpath expansion can be modified during the lifecycle of a container

**Since when has it been failing**:

Since Fri Jul 10 15:41:46 2020 -0700, when [this PR](https://github.com/

[2020-07-21 16:40] bart0sh commented on #93302
/cc @pohly @vpickard @MHBauer @dims @derekwaynecarr @liggitt

[2020-07-21 16:41] bart0sh commented on #93302
/sig node

[2020-07-21 16:41] liggitt commented on #93302
/sig storage

cc @msau42

[2020-07-21 16:42] liggitt commented on #93302
/assign @pohly

[2020-07-21 16:45] dchen1107 commented on #90913
@hh Can you point us to the link of the flaky tests? Thanks!

[2020-07-21 16:46] bart0sh commented on #93302
@liggitt I think @pohly's change just triggered the underlying issue. DeletePropagationForeground option doesn't work as expected it seems.

[2020-07-21 16:47] msau42 commented on #89173
/lifecycle frozen

[2020-07-21 16:48] logicalhan commented on #74415
/reopen

[2020-07-21 16:48] logicalhan commented on #74415
/open

[2020-07-21 16:49] michmike commented on #92963
/milestone v1.20
sig-windows is wondering: is this simply a consistency issue with linux, or are there any failing or other use cases at play here.

[2020-07-21 16:49] logicalhan commented on #74415
/remove-lifecycle rotten

[2020-07-21 16:49] yuanchen8911 commented on #93270
There are use cases where the number of feasible nodes to find is known as priori. For example, scheduling a Pod on a certain node (like NodeName plugin) or any feasible node. The number of nodes to find is 1. A scalable scheduling algorithm finds two feasible nodes and then chooses the better one (Sparrow https://cs.stanford.edu/~matei/papers/2013/sosp_sparrow.pdf). In this case, the number is 2.

[2020-07-21 16:51] julianvmodesto commented on #88091
/assign @jpbetz
/unassign @julianvmodesto

[2020-07-21 16:52] yuanchen8911 commented on #93270
Keeping the global one makes sense. Local ones override the global one.

[2020-07-21 16:53] Riaankl commented on #90913
@dchen
The Promotion [PR ](https://github.com/kubernetes/kubernetes/pull/93086)
The testgrid[ link](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=5&include-filter-by-regex=should%20delete%20a%20collection%20of%20pods)

[2020-07-21 16:54] liggitt commented on #93302
does node-kubelet-conformance run the controller-manager? the kube-controller-manager is responsible for deleting objects with a foreground finalizer on them, but I don't see any kube-controller-manager logs gathered in the artifacts for one of those test failures - https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-conformance/1284533676490625024/

[2020-07-21 16:55] mmiara commented on #93161
[code]

[2020-07-21 16:56] dashpole commented on #93210
That all looks correct.  I'm taking a look at the proposed solutions

[2020-07-21 16:58] bart0sh commented on #93302
I could reproduce the issue for commit 6c6cd2deeb03040d458b00824fd6c1a900a81b51 (before 'generic ephemeral inline volumes' PR was merged) + 'use foreground deletion' af91e76df80c8c78e2d42ada466a4689398bf887 commit.

[2020-07-21 16:58] yuanchen8911 commented on #93270
I feel keeping the global one would work better. The global one is the default for all profiles and a local one overrides the global one. It makes a lot of sense and the compatibility is maintained.

[2020-07-21 16:58] neolit123 commented on #93161
so it seems you are running external etcd with kubeadm?

[2020-07-21 16:59] jpbetz commented on #91074
/cc

[2020-07-21 17:00] msau42 commented on #93302
@kubernetes/sig-storage-test-failures

[2020-07-21 17:00] maelk commented on #91601
no, that message is not present. I could give a striped down log file (to avoid repetition), but let's first wait until we have the output with more logs around the snapshot

[2020-07-21 17:06] caseydavenport commented on #78994
Fix merged to Calico. This probably should have been an issue in Calico anyway!

/close

[2020-07-21 17:07] #78994 closed

[2020-07-21 17:08] mmiara commented on #93161
that is correct

[2020-07-21 17:11] wu105 commented on #92925
Can we get some updates on the diagnose?
Can we explain the reason for relieving the ephemeral storage pressure by removing images?

According to https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#local-ephemeral-storage, the local ephemeral storage presented in this issue is not the supported 1- or 2-filesystem configuration, thus kubelet is not supposed to apply resou

[2020-07-21 17:11] jboero commented on #92114
I've always wanted this feature too but have just been doing the FUSE binary as a sidecar. Some K8s users are getting sick of sidecar bloat.  A native FUSE option would be ideal.  :+1:

[2020-07-21 17:13] 2rs2ts commented on #74986
So is the problem that if you reserve too many resources Kubernetes uses a bad unit? Or is it caused by using % based eviction thresholds?

We are seeing not millibytes but just bytes, but it's messing up [`kubectl-view-utilization`]'s parsing https://github.com/etopeter/kubectl-view-utilization

[2020-07-21 17:15] julianvmodesto commented on #80916
This is done with https://github.com/kubernetes/kubernetes/pull/90187. Docs in https://github.com/kubernetes/website/pull/22547.

[2020-07-21 17:21] neolit123 commented on #93161
i think something is not right here. unless i'm mistaken, kubeadm should not be probing the etcd cluster for status or getting the version of the etcd nodes in the case of external etcd.

cc @rosti is that correct?
i remember we did some related changes in newer versions of kubeadm.

[2020-07-21 17:30] tehmoon commented on #88272
Hi!
Any update/advise on this? I'm trying to find a way to bulk select everything that would deploy a pod (job/st/deployment/daemon...) to set a node affinity on them.
So far I only had luck with patching all the kind of resources with kustomize. It's a lot of code duplication.

Thank you for your time.

[2020-07-21 17:33] daschott opened #93304 "Windows HNS version check for DSR feature is failing on RS5, even though it is supported"
**What happened**:
I tried to enabled DSR loadbalancers on kube-proxy Windows but there was an error shown
"Platform does not support feature Direct Server Return (DSR)"

**What you expected to happen**:
I expected kube-proxy to run in DSR mode on a supported Windows build.

**How to reproduce it (as minimally and precisely as possible)**:
Enable DSR mode using --enable-dsr=true --feature-gates="W

[2020-07-21 17:34] michmike commented on #92512
@lubronzhan , we will try to push this through for v1.20. 1.19 is approaching code thaw, so we can't push this through

[2020-07-21 17:37] daschott commented on #93304
/sig sig-windows

[2020-07-21 17:41] daschott commented on #93304
/sig windows

[2020-07-21 17:55] Huang-Wei commented on #93270
We can continue the discussion in #86630.

[2020-07-21 18:17] msau42 commented on #92799
If we can get a more accurate dynamic limit, that would be ideal. The problem with setting KUBE_MAX_PD_VOLS is it applies to all nodes in the cluster, so if your cluster has machines of different sizes with different limits, you'll have to use the min value that works across all.

[2020-07-21 18:20] alculquicondor commented on #93270
I know this is true, but the question is whether it's worth adding such optimization. The current scheduler already can handle 100 pod/s in clusters with 5k nodes. What is your target and how far are we from it?

[2020-07-21 18:31] ixdy commented on #62940
@Deeps-1989 if your goal is to run a local Kubernetes cluster on macOS, you may want to look at [kind](https://kind.sigs.k8s.io/).

[2020-07-21 19:23] ahg-g commented on #93112
Those are non-critical scheduler perf debugging tests, the running time will increase with each test we add, it will also depend on the machine where this is running.

I think we should just run them on the vanilla workloads, so it is fine to keep it disabled for now and handle this issue in 1.20

[2020-07-21 19:26] liggitt commented on #93112
sounds good

[2020-07-21 19:27] liggitt commented on #93302
yeah, I tend to think switching that e2e helper method for all callers was not a good idea

[2020-07-21 19:29] bart0sh commented on #93302
@liggitt it looks like node e2e runs only etcd, api server and namespace controller: https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/services/internal_services.go#L57:L73

I don't think it makes sense to run controller-manager just to fix this failure.
Would modifying test framework to set DeletePropagationBackground  option for e2e node tests be correct solution?

[2020-07-21 19:29] Huang-Wei commented on #93112
+1 to what @ahg-g said above. Additionally, this test was firstly built 5 years ago, the internal mechanics (like using a `for..sleep` loop to calculate the metrics) are not that concise, other aspects also need to be ported to latest scheduler architecture.

So this is not a must for 1.19, let's see how to reintroduce it in 1.20.

[2020-07-21 19:29] apelisse commented on #91074
I think there are multiple issues here:
1. Changes across resources lifespan,
2. Changes within a resource (conflicts prediction and forcing specific conflicts).

I'll talk with @seans3 about the first, since I think it's relevant to what he's doing.

For the second one, we there are multiple interesting dimensions:
- Do we care about the lists of conflicting fields, or do we care about the fields

[2020-07-21 19:30] msau42 commented on #93302
For a quick fix, I would suggest just reverting the change for now. Long term, yes, it should be configurable per test.

[2020-07-21 19:32] msau42 commented on #93302
Also do we have plans to make this job a blocking presubmit test so we can find these problems earlier?

[2020-07-21 19:36] liggitt commented on #93302
I agree, we should revert https://github.com/kubernetes/kubernetes/commit/af91e76df80c8c78e2d42ada466a4689398bf887

[2020-07-21 19:37] bart0sh commented on #93302
if we need a PR for that I can prepare it.

[2020-07-21 19:37] liggitt commented on #93302
that would be great, thanks

[2020-07-21 19:38] liggitt commented on #93302
putting my @BenTheElder hat on, probably not? more hour+ tests that run on every PR are a non-goal

[2020-07-21 19:53] BenTheElder commented on #93302
The SIG / OWNERs should enable testgrid alerts on failures, if periodic testing is not sufficient you can use a postsubmit to run whenever we merge code.

We're not looking to rely further on presubmit, as is we're running too much there leading to excessive resource usage and inability to merge fixes like this in a timely manner between one thing or the other flaking heavily.

[2020-07-21 19:56] mmiara commented on #93161
I do not believe it is probing the etcd cluster for version - those scripts were run separately from one of the external etcd nodes. It is an odd error because the cluster is functioning as expected and there is no unexpected behavior other than this error (not allowing me to move forward with the upgrade)

[2020-07-21 20:01] yuha0 commented on #81227
/remove-lifecycle stale

[2020-07-21 20:03] ahg-g commented on #93217
looking at few "failed" runs, the binding latency is the main culprit.

Example failed runs:
- https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1284880208997912581/artifacts/SchedulingMetrics_density_2020-07-19T16:18:04Z.json
- https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1285450313486045184/artifacts/Sched

[2020-07-21 20:15] Bessonov commented on #66430
/remove-lifecycle stale

[2020-07-21 20:23] fedebongio commented on #93265
/assign @apelisse @jennybuckley @kwiesmueller

[2020-07-21 20:25] fedebongio commented on #93268
/sig node
/remove-sig api-machinery
/cc @caesarxuchao @lavalamp

[2020-07-21 20:27] fedebongio commented on #93280
/assign @lavalamp
the relevant discussion for api-machinery is around if 500 is the right response code when this is happening
/assign @jingyih
for the discussion around defrag

[2020-07-21 20:29] harper1011 commented on #92377
Hi, @nicolacdnll  if I understand correctly, this should be a bug which fixed by https://github.com/kubernetes/kubernetes/pull/90377

BTW: I'm not quite understand about your workaround, could you give me some hint about it?
As I am searching for a WA which can let me avoid to upgrade cluster.

[2020-07-21 20:29] fedebongio commented on #93280
(options discussed: 503, 529, 507... :) )

[2020-07-21 20:33] lavalamp commented on #93280
This implies that apiserver is configured to have more pending requests than etcd is? I think that's wrong, you should consider reducing max-in-flight (or increasing the etcd equivalent, if there is one). You want apiserver to be more restrictive than etcd.

---

503 seems like the ideal response code in this condition, but if etcd is returning generic errors, it will be very hard to know that we'

[2020-07-21 20:39] yuanchen8911 commented on #86630
With the scheduling framework and plugin, we can introduce another scheduling parameter  _numFeasibleNodesToFind_ for each scheduler profile, which specifies how many feasible nodes Filter plugins should return (stop after it find so many nodes). We can set the number as 2 and implement the better of 2 random choices scheduling algorithm.
#93270

[2020-07-21 20:42] M00nF1sh commented on #81584
/reopen

[2020-07-21 20:45] alculquicondor commented on #86630
If we go with that and set numFeasibleNodesToFind=2, there is no need for any extra logic. Best of 2 is what the scoring plugins would do.

[2020-07-21 20:46] alculquicondor commented on #86630
Oh, I forgot about the "random" part. That wouldn't be possible with the current framework.

[2020-07-21 20:50] neolit123 commented on #93223
potential fix PR is here, but i would like to wait on fabriziopandini for review (he's on PTO, possibly until next week):
https://github.com/kubernetes/kubeadm/pull/2228

[2020-07-21 20:58] jsturtevant commented on #92771
Quick update we made a few changes to the [pre-provisioning script](https://github.com/kubernetes-sigs/windows-testing/pull/180) and the way [aks-engine loads the binaries](https://github.com/Azure/aks-engine/pull/3574) that made this should make this more stable.

Still waiting for a good signal due to issues with  #80917 and #90948 which causes all tests to fail and was resolved in #93263

[2020-07-21 20:58] liggitt commented on #93217
Not that I'm aware of. If I'm reading http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-master&metriccategoryname=APIServer&metricname=DensityResponsiveness_PrometheusSimple&Resource=pods&Scope=namespace&Subresource=binding&Verb=POST, the performance of posts to pods/binding looks pretty stable over time

[2020-07-21 21:15] liggitt commented on #93217
/assign @wojtek-t @ahg-g
for scalability / scheduling

@wojtek-t, can you verify my interpretation of https://github.com/kubernetes/kubernetes/issues/93217#issuecomment-662102921 ?

[2020-07-21 21:18] M00nF1sh commented on #81584
This is already supported by https://github.com/kubernetes/kubernetes/pull/78497.
however, there is still a known issue.
You need to create the service first and then adding these lb attributes annotations later to make it work, we'll fix it.

[2020-07-21 21:18] yuanchen8911 commented on #93270
As far as scheduling a huge number of small batch jobs/tasks in ultra large clusters, 100 pods/second may not be good enough. Hadoop YARN's throughput is in the high end of hundreds of tasks/sec. We are aware of batch systems that can schedule more than 1000 tasks/per second. The scheduling scalability can become (if not yet) a roadblock to run batch jobs in k8s at scale. If we talk about (sub-sec

[2020-07-21 21:29] yuanchen8911 commented on #93270
If there's still a concern,  we can just add `percentageOfNodesToFind` as a profile parameter first.

[2020-07-21 21:36] alculquicondor commented on #93270
I'm not against the change. I'm just trying to make sure all possibilities have been considered. In general, adding more configuration parameters adds to maintenance costs, both for us developers and people trying to configure their schedulers, as now they have to read more documentation.

That's why I would like to know about the specific use case and performance requirements.

[2020-07-21 21:44] hasheddan commented on #92868
This does not appear to be failing anymore

/close

[2020-07-21 21:44] #92868 closed

[2020-07-21 21:45] hasheddan commented on #93287
@feiskyer is anyone already working on this?

[2020-07-21 21:53] ZhiFeng1993 commented on #92911
@alejandrox1 After some investigation, I believe this file is still useful. Most functions in it are being used in the framework core code. Some of them are used in other packages in `test/e2e`. What's your opinion on opening this issue? Do we want to refactor the e2e fw code? In which way?

[2020-07-21 21:57] aojea commented on #57144
I think the reason is explained here, but the PR got closed because it is more complex that it seems to fix it right

https://github.com/kubernetes/kubernetes/pull/86869

[2020-07-21 22:00] #93106 closed

[2020-07-21 22:05] Huang-Wei commented on #86630
Currently, it's a bit "random" already - node is popped from a "topology tree list" maintained in the internal cache. But we can argue that it's not "random" enough.

Apart from the "random" part, the idea of "MaxNodesToScore" (or "numFeasibleNodesToFind") should be easy to accommodate, isn't it? (let me know if i miss anything) - just tweak the `numNodesToFind` abtain logic to:

`numNodesToFind :

[2020-07-21 22:13] sayanchowdhury opened #93309 "capg-conformance-v1alpha3-k8s-master (ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts)"
**Which jobs are failing**:
`capg-conformance-v1alpha3-k8s-master (ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts)`

**Which test(s) are failing**:
`[sig-instrumentation] Events API should delete a collection of events [Conformance] `
`[sig-instrumentation] Events API should ensure that an event can be fetched, patched, deleted, and listed [Conformance] `

**Since when has

[2020-07-21 22:18] #93278 closed

[2020-07-21 22:18] MarkDeckert commented on #92586
Any update on this? Even with the workaround of pre-installing the correct version of kubelet, you still potentially create an unsupported k8s configuration by having an older-apiserver/newer-kubelet version on one of the masters immediately prior to the upgrade.  There should be an upper bound on the version of the kubelet dependency that is no higher than the version of kubeadm.

[2020-07-21 22:57] BenTheElder commented on #92937
quick changes made today:
- all containers in test-pods in prow request at least 250m cpu unless otherwise specified
- pod-utils (including the clone step) request 100m cpu by default

no limits have been set as of yet.

[2020-07-21 23:15] yuanchen8911 commented on #93270
Understood, I agree we should add parameters with caution. I suggest we keep the global parameters (e.g., percentageOfNodeToScore) as is for simplicity and compatibility, and add and use profile level parameters carefully. The latter will likely be used by advanced users or custom plugins/profiles only. Thanks for the feedback!

[2020-07-21 23:35] feiskyer commented on #93287
@hasheddan #93288 is working on a fix for this. Would you like to have a look?

[2020-07-21 23:52] jsturtevant commented on #93276
@liggitt and @BenTheElder thanks for the quick and detailed responses! This helps with context and understanding.  I have a few additional comments/questions:

When it comes to issues like (https://github.com/kubernetes/kubernetes/pull/90948) which don't touch windows but still break it,  would like to think about an solution that would help catch breaking changes.  This is were I think a presubmi

[2020-07-21 23:53] jsturtevant commented on #93276
My understanding is these prs should resolve that issue?  When the PR's get merged the support for building windows images should be in the CNCF?  cc: @claudiubelu

[2020-07-21 23:54] hasheddan commented on #93287
@feiskyer will do 👍

[2020-07-22 00:08] BenTheElder commented on #93276
We can catch windows breakage and fix it without a presubmit. E.G. many alpha and beta-grade features do this.
We have configurable support for sending prompt alert emails when a test transitions to failing.

The fact that it was broken for a week tells me that we currently have one or all of:
- Windows CI is too slow
- Windows CI is poorly monitored
- Windows fixes take too long to develop
- It t

[2020-07-22 00:40] BenTheElder commented on #92937
Discussed with @liggitt a bit, we also just have excessive default presubmits, see for example everything in
https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=93308 (except cross, which is a sometimes-runs)

I'm going to do some cleanup on this. Some of them should not be controversial.

[2020-07-22 00:46] liggitt commented on #92937
I'd divide those into categories for improvement like this:

immediate: should probably be post-submits or periodics set to notify relevant owners:
* pull-kubernetes-dependencies-canary
* pull-kubernetes-e2e-gce-device-plugin-gpu
* pull-kubernetes-files-remake

significantly overlapping tests ... can we move one to post-submit + notification:
* pull-kubernetes-e2e-gce (cos+docker)
* pull-kubernete

[2020-07-22 00:49] liggitt commented on #93309
it seems like the cluster being brought up does not have the events.k8s.io/v1 API enabled

[2020-07-22 00:50] BenTheElder commented on #92937
this appears to exist purely due to testing GOPROXY, which has been enabled by default on all prowjobs for nearly a year, so I'm moving to disable that one.

[2020-07-22 00:51] Huang-Wei opened #93312 "Comments on ResourceQuota are incomplete"
The following comments are incomplete.

https://github.com/kubernetes/kubernetes/blob/98814409bab818d942e3c341d76eb594f12675a5/staging/src/k8s.io/api/core/v1/types.go#L5493-L5504

For example, comments for "ResourceQuotaScopeTerminating" should be:

[code]

Ref: https://kubernetes.io/docs/concepts/policy/resource-quotas/#quota-scopes

/good-first-issue

[2020-07-22 00:54] BenTheElder commented on #92937
filed https://github.com/kubernetes/test-infra/pull/18421 for the most straight-forward one.

possibly, bit of context.

cross only runs on some changes, but we could probably adjust which changes and/or move it out of presubmit / make it manual.

typecheck is cross-lite, it ensure the code typechecks for all platforms we target w/o actually compiling.
it may have overlap with the verify job now.

[2020-07-22 01:29] Huang-Wei commented on #93312
/sig scheduling

[2020-07-22 01:35] andyzhangx commented on #93295
the flacky e2e test code is here: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/3b2c6764dd70445d2c6e070abb7d560518b2ed5b/test/e2e/dynamic_provisioning_test.go#L264-L294

I suspect it's related to windows coding:
[code]
While I have no luck to fix it, it sometimes works, sometimes not.

cc @adelina-t @marosset

[2020-07-22 01:54] rakeshreddybandi commented on #93312
/assign

[2020-07-22 02:19] jayunit100 commented on #91236
quick note, https://antrea.io/docs/master/antctl/ <- @abhiraut @antoninbas @dims potential motivation to possibly have `antctl` runnable on some subset of tests in upstream eventually, i.e. so we can do things like `antctl trace-packet` to reproduce this sort of thing.  matt did you get around to the 'try-till-it-fails' scenario?

[2020-07-22 02:20] jayunit100 commented on #93143
since unrelated (but good guess :)) unassigning matt.
/unassign @mattfenwick

[2020-07-22 02:30] mikechengwei commented on #93145
ok.

[2020-07-22 02:30] #93145 closed

[2020-07-22 02:32] sakaia opened #93315 "How to search specific pod?"
I am trouble shooting with port-proxy error. following error says pod bbb007990753841253c0e13c66675ec527a45565d6b610ea6e01d0c6b3669660

But I cannot found it with `kubectl get pods -A -o wide`
How should I use the command?

[code]

p.s. following command does not helpful for tracking this issue. There is no output.

[code]
I try to execute following command.

[code]
output is follows

[code]

In s

[2020-07-22 02:50] sakaia commented on #93315
/sig cli

[2020-07-22 02:52] #93302 closed

[2020-07-22 03:58] daniel-garcia commented on #82942
Another potential use case for this is validating controllers. For example, If I had a CRD field that references another CRD... that could be modeled using such an extension. Consider

[code]

I can use the information above to know that the CageName field references an object of Kind Cage. I can further write a validating controller that would register a validating webhook for Kind Cage that does

[2020-07-22 04:01] daniel-garcia commented on #82942
Another possible use case for this is to preserve attributes/lineage in code generation. For example, kubebuilder generates CRDs by inspecting go types that users modify. The same approach could be used by first editing a protobuf instead. Metadata about what field in the protobuf maps to the field in the CRD would be useful for debugging and documentation.

[2020-07-22 04:15] rhuss commented on #82942
/remove-lifecycle stale

[2020-07-22 04:26] igoratencompass commented on #69485
/reopen

[2020-07-22 04:47] alex88 commented on #48307
So is it expected that deleting a pod or draining a node causes downtime even if you have rolling update  in place?

[2020-07-22 05:27] alex88 commented on #90977
I just saw this one after finding also https://github.com/kubernetes/kubernetes/issues/48307, it seems that's the same behavior you get when you delete a pod, it's removed from service/endpoints as soon as the delete command is executed, even if at the same time another pod is started to meet with the replica count.

Having the ability to do a graceful drain (similar to a rolling deploy) for deplo

[2020-07-22 05:32] #93304 closed

[2020-07-22 05:32] #93210 closed

[2020-07-22 05:46] andyzhangx commented on #93295
cc @chewong

[2020-07-22 05:48] wojtek-t commented on #93217
Agree - the post bindings didn't seem to change.

As scalability oncall:
/assign @tosi3k

[2020-07-22 05:49] Abhay11 commented on #41996
Does the journald pod logging (`kubectl logs` command) work with v1.18.x? Is there a way to make this work with v1.18.x? I've set up a multinode cluster with docker logging driver as journald and using systemd-journal-gatewayd with pull approach to aggregate historical logs. However, I'm very much interested in being able to tail logs using 'kubectl logs' or, 'kubectl logs -l <applabel> --prefix -

[2020-07-22 06:04] ica10888 commented on #91441
close this issue because it is inactive
/close

[2020-07-22 06:05] #91441 closed

[2020-07-22 06:16] andyzhangx commented on #93002
there is blocking issue here(also need azure stack supports latest data model struct):
 - just making the change in interfaces and not go-sdk but facing this error,
[code]

since we don't have a switch inside go-sdk, we only do switch in azure cloud provider lib,

[2020-07-22 06:17] jsafrane commented on #89173
/help

[2020-07-22 06:17] Sandeep0045 commented on #70241
@AndriiOmelianenko How did you use secrets can you share manifest here. It would help me i'm stuck with  this

[2020-07-22 06:25] thomacos commented on #88554
@michmike Do you know good e2e sample code to be used as blueprint for writing a test for https://github.com/kubernetes/kubernetes/pull/93285 as part of https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-master-staging?

As suggested in https://github.com/kubernetes/kubernetes/pull/80917#issuecomment-587590447 asked for in https://github.com/kubernetes/kubernetes/pull/80917#issuecomment-

[2020-07-22 06:37] Yukariko commented on #91668
@harper1011 , I don't know another solution.
But I saw other issues, It is fixed in kubelet 1.18.4
see  https://github.com/kubernetes/kubernetes/issues/92436#issuecomment-653079508

[2020-07-22 06:49] entropitor opened #93320 "google.golang.org/grpc cannot be upgraded >= v1.30.0"
**What happened**: Kubernetes is using GRPC for a lot of stuff (CSI, ...) to allow for extensibility, however, the grpc-go driver contained a bug which basically means that writing GRPC servers for kubernetes was not allowed due to a broken implementation in the go client (https://github.com/grpc/grpc-go/issues/2628). So ideally, this grpc-go dependency should be upgraded across the board and mayb

[2020-07-22 06:52] wojtek-t commented on #93217
Didn't yet look deeper into it, but binding latency shouldn't matter that much for throughput.
POST binding calls done by scheduler are asynchronous (i.e. they don't block scheduling the next pod), so that shouldn't influence this...

At this point, I also wouldn't exclude the fact that the SchedulingThroughput measurement is actually faulty (and it's a test issue not system issue)? We know that t

[2020-07-22 06:54] nikhita commented on #93320
/sig architecture
/area code-organization
/area dependency

related - https://github.com/kubernetes/kubernetes/issues/91881

cc @dims

[2020-07-22 06:55] nikhita commented on #91881
Related - https://github.com/kubernetes/kubernetes/issues/93320

/sig architecture
/area code-organization

[2020-07-22 07:00] liggitt commented on #93217
Speaking of that, I just noticed today that the job doesn't request CPU for the test pod, so it can easily be starved. We noticed it was getting assigned the default request of 250m in https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/93307/pull-kubernetes-e2e-gce-100-performance/1285712793332355072/ (see podinfo.json in the artifacts).

Shouldn't the perf test be requesting a specific

[2020-07-22 07:11] wojtek-t commented on #93217
Great catch - it absolutely should.
@tosi3k - can you please fix that for all 100-node jobs (5k jobs are setting requests at least though I agree that we should also be setting limits).

[2020-07-22 07:35] #85105 closed

[2020-07-22 07:37] lbernail commented on #93297
Yes it makes sense to wait until a kernel with the patch exists ;)
I think we can also avoid touching it and follow the approach "only touch the sysctl we absolutely need, otherwise trust the admin to know what they need"

[2020-07-22 07:43] hkamel opened #93321 "[Failing Test] gce-cos-master-alpha-features (ci-kubernetes-e2e-gci-gce-alpha-features )"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

I0722 06:26:18.056] /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/storage/utils/framework.go:23
I0722 06:26:18.057]   [Driver: csi-hostpath]
I0722 06:26:18.057]   /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/ku

[2020-07-22 07:46] wojtek-t commented on #93280
In theory that sounds desired. But I think there is also a problem that on timeouts of k8s API calls, we're not cancelling requests to etcd, which can in theory contribute to this problem? Also thing like DeleteCollection can produce more than 1 call at a time.

But the biggest problem imho is multi-apiserver setup. In kube-apiserver, we have in-flight limits per instance. But there is single etcd

[2020-07-22 08:12] qiyongxiao commented on #82407
is still unresolution

[2020-07-22 08:53] nicolacdnll commented on #92377
I will look into the buy you linked, thanks.

What the workaround tries to do is to kill the hogging processes - via the lifecycle `preStop` hook - before the Guaranteed QoS class is removed from the pod. In such a way, the pod will still lose the Guaranteed QoS class before termination, however it will not be running the hogging processes at this point.

[2020-07-22 09:04] lmserrano commented on #42164
I'm still experiencing this with Kubernetes 1.17 and container runtime version: docker://19.3.6
Also, when this happens, the description of the affected node shows, under Conditions:
[code]

[2020-07-22 09:10] tdwyer commented on #92914
PoC

https://github.com/tdwyer/CVE-2020-8559

[2020-07-22 09:14] bart0sh opened #93323 "ci-kubernetes-node-kubelet-serial-hugepages panics when restarting kubelet"
**Which jobs are flaking**:

ci-kubernetes-node-kubelet-serial-hugepages

**Which test(s) are flaking**:

all

**Testgrid link**:

https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-serial-gce-e2e-hugepages

**Reason for failure**:

[code]

[2020-07-22 09:14] bart0sh commented on #93323
/sig node

[2020-07-22 09:16] bart0sh commented on #93323
/assign @cynepco3hahue
/cc @derekwaynecarr

[2020-07-22 09:19] dominicgunn commented on #92272
Thanks for sharing @waynr, we could probably also get it working if we stuck a bunch of workarounds in place too, but really I (or others) should be able to safely update the patch version, this is still completely breaking change.

[2020-07-22 09:21] bart0sh commented on #93323
testgrid alert:
[code]

[2020-07-22 09:23] tosi3k commented on #93217
I'm currently running some test jobs to investigate a sufficient CPU amount for our 100 nodes tests and will come back here with results when they finish.

[2020-07-22 09:26] dennis-benzinger-hybris commented on #93186
Finally I could reproduce the issue and have a running cluster in that state. Here are some files which show the situation:

This shows all nodes with their allocatable resources and the allocated resources:
[allocated-resources.txt](https://github.com/kubernetes/kubernetes/files/4959075/allocated-resources.txt)

Log of the cluster autoscaler:
[logs.cluster-autoscaler.redacted.log](https://github.

[2020-07-22 09:26] paurosello commented on #92799
The fact that attachments are shared with network interfaces is the reason we have to use this feature, with AWS CNI pods will be using additional interfaces and the limit will be off

[2020-07-22 09:30] bart0sh commented on #93323
/cc @cynepco3hahue @vpickard @MHBauer

[2020-07-22 09:46] RafalSkolasinski opened #93324 "CVE in golang.org/x/text dependency"
Versions of golang.org/x/text before 0.3.3 hurts from https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-14040
This seems to be fixed on master and 1.19 branch.

Would it be possible to upgrade 1.17 and 1.18 branches too?

The 0.17.x releases seems to still be getting upgrades (0.17.9 had one 7 days ago).

Edit: originally opened in https://github.com/kubernetes/apimachinery and seems it is s

[2020-07-22 09:53] nikhita commented on #93324
/sig architecture
/sig release
/area code-organization
/area dependency

cc @dims @justaugustus

[2020-07-22 10:00] toha-tk opened #93325 "Deploy failed due default-token can't be reached"
**What happened**:
We use Helm to deploy our application.
Before the main app deploy, we have a preparation job with initContainers, which waits for the environment correct setup.
That's is the app-prepare config

[code]

What happened exactly:
1. Deployed app-prepare job
2. initContainer started
3. Main container (php) tried to start after initContainer finish and failed.

The only message in the

[2020-07-22 10:01] cynepco3hahue commented on #93323
I started to look into logs and the issue that one of the kubelet restarts fails on:
[code]

I will try to reproduce the issue locally.

[2020-07-22 10:02] dims commented on #93324
@RafalSkolasinski do you see an opportunity to trigger this in our use of it in kubernetes? or just proactive update (using some code scanners?).

[2020-07-22 10:03] hgliu1985 opened #93326 "Fail to get self-defined configmap configuration after system reboots"
**Firstly, this is an issue found on k3s, not k8s.

I have a config yaml file like this:**
[code]

**I run the command "kubectl apply -f ./coredns_cm.yaml" and then check the configmap, the context is like this:**

[code]

**That is right. However after I reboot the whole system, the context of the configmap changes as below :**

[code]

**The value of the forward changes from 123.123.123.123 to /

[2020-07-22 10:04] dims commented on #93324
here's where we fixed master - https://github.com/kubernetes/kubernetes/pull/92219

[2020-07-22 10:07] RafalSkolasinski commented on #93324
It is mainly because currently in [Seldon Core](https://github.com/SeldonIO/seldon-core) we are using `k8s.io` packages in `v0.17.9` versions and this came in flagged as CVE.

Because `v0.17.x` got recent updates we hopped it is okay to stay on these before upgrading

[2020-07-22 10:10] hgliu1985 commented on #93326
/sig kubernates

[2020-07-22 10:13] hgliu1985 commented on #93326
/sig api-machinery

[2020-07-22 10:14] hgliu1985 commented on #93326
/wg wg-k8s-infra

[2020-07-22 10:15] hgliu1985 commented on #93326
/wg k8s-infra

[2020-07-22 10:29] dims commented on #93324
@RafalSkolasinski guessed as much.

Can you please file cherry-picks? https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md#initiate-a-cherry-pick

I am guessing you will run into trouble with all the go.mod/sum files, so will have to cleanup quite a bit. Make sure you run `hack/update-vendor.sh` after your complete the cherry-pick process.

[2020-07-22 10:38] dims commented on #93320
@entropitor same comment when we wanted to do this last https://github.com/kubernetes/kubernetes/pull/91898#issuecomment-640544757

Can you please update etcd to newer grpc and then we can pull that in here? grpc ends up bringing in a bunch of things that has broken us in the past and our major usage is etcd oriented, so it would make sense to update etcd master first to give us some confidence.

[2020-07-22 10:43] nikhita commented on #93320
etcd poc - https://github.com/etcd-io/etcd/pull/12155

[2020-07-22 10:43] ahg-g commented on #93217
May be not the POST call itself that is taking longer, but that latency could be an indicator of some sort of throttling happening client-side.

[2020-07-22 10:46] thomacos commented on #88554
@aarnaud Does the following make sense?

A test like https://github.com/kubernetes/kubernetes/blob/master/test/e2e/windows/service.go, but with the following differences:

1. No nodeport needed.
2. But create and get a device plugin pod similar to the function `getSampleDevicePluginPod` in https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/device_plugin_test.go#L82-L99.

The device

[2020-07-22 10:49] wojtek-t commented on #93217
I took a look into one random failure:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1282296675364245504

And while the test is lagging compare to kube-apiserver a bit (this may also be just watch latency too), this doesn't really change much.
We're computing scheduling throughput based on saturation pods.
First saturation pod was binded at:
[code]
Last

[2020-07-22 10:51] wojtek-t commented on #93217
IIUC scheduler has qps limit set to 100. Are there any other calls that scheduler was doing at that time that could affect it?
Actually let me take a look at my run.

[2020-07-22 10:55] wojtek-t commented on #93217
Just checked that run and I only see "leader election heartbeats" and post events. So nothing suspicious (BTW only 709 pod events at that time, which is a bit strange).

So I don't yet see anything that could be leading to throttling client-side.

BTW @ahg-g - can you confirm that binding is still happening asynchronously as it was happening in the past?

[2020-07-22 10:59] ahg-g commented on #93217
Yes, it is still happening asynchronously.

[2020-07-22 11:04] wojtek-t commented on #93217
Hmm - actually looking into numbers from that run:
[code]

It shows that 50th percentile of scheduling latency take 9.6ms. So with that number, we're actually really close to teoretical boundary of 100pods/s. Maybe I'm wrong, but I think low percentiles aren't much lower than 50th one, so I actually think that binding latency is actually a red herring (given it's also asynchronous).

[2020-07-22 11:14] Cweiping commented on #93325
It seems that retrying the operation is not a good fix for `makeBlockVolumes()`. Can this scenario be reproduced stably to locate the root cause?

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L115

[2020-07-22 11:18] Cweiping commented on #93325
/sig kubelet

[2020-07-22 11:19] ahg-g commented on #93217
oh, we recently fixed a bug (https://github.com/kubernetes/kubernetes/pull/92840) in 1.19 that should increase Score latency (the bug exist in 1.18 as well but the patch isn't merged yet https://github.com/kubernetes/kubernetes/pull/93026).

Did this SchedulingThroughput test run before 1.18? the reason I am asking is because the overhead added by the fix is not new, it was there in versions 1.17

[2020-07-22 11:19] Cweiping commented on #93325
/sig node

[2020-07-22 11:28] wojtek-t commented on #93217
But that has merged 10 days ago, and it's still the same.

[2020-07-22 11:36] bjorn-ali-goransson commented on #48307
unfortunately with 1 replica - yes

[2020-07-22 11:40] #84287 closed

[2020-07-22 11:42] wojtek-t commented on #93217
Ironically - we observe 100pods/s throughput even on low percentiles in 5k-node tests. So it's really smaller-scale related thing.

To check: isn't the master itself cpu-throttled at 100-node scale?

[2020-07-22 11:46] ahg-g commented on #93217
Yes, it is certainly only at small scale, we (sig-scheduling) closely monitor the 5k benchmarks, for those the scheduling latency (without binding) at 50th percentile is just ~3ms, while for 100 nodes it is roughly 9ms as you noted (which is due to master size being smaller)

[2020-07-22 11:46] wojtek-t commented on #93217
@ahg-g - looking into cpu usage graph:
http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-master&metriccategoryname=E2E&metricname=DensityResources&PodName=kube-scheduler-e2e-big-master%2Fkube-scheduler&Resource=CPU

there seem to be clear increase in scheduler CPU usage around July 12th. Is it because of the fix you mentioned above?

[2020-07-22 11:52] wojtek-t commented on #93217
FTR: this isn't a problem for 500-node kubemark too:
http://perf-dash.k8s.io/#/?jobname=kubemark-500Nodes&metriccategoryname=Scheduler&metricname=SchedulingThroughput

We need to look into grafana dashboards for those run, but my suspicion is that we're cpu-starved occassionally (99th percentiles of CPU usage of components sum up to more than machine size, and I actually would expect them to be co

[2020-07-22 11:53] chrisohaver commented on #93326
Guessing it's this: https://rancher.com/docs/k3s/latest/en/advanced/#auto-deploying-manifests, and that k3s may be putting a coredns manifest /var/lib/rancher/k3s/server/manifests by default.

[2020-07-22 12:19] wojtek-t commented on #93217
To given an update with my offline discussion with @ahg-g

@ahg-g pointed me at this graph:
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=E2E&metricname=DensityResources&PodName=kube-scheduler-gce-scale-cluster-master%2Fkube-scheduler&Resource=CPU

it is for 5k-node tests, but clearly around May 15th something happened that increased scheduler CPU usage.
There is no reason to

[2020-07-22 12:21] wojtek-t commented on #93217
and there is a second bump in that graph on July 12th which correlates with #92840 and @ahg-g mentioned above too

[2020-07-22 12:25] hasheddan commented on #93321
I have tracked this down and it looks like that changes were made in https://github.com/kubernetes/kubernetes/pull/92784 that affected how Pods were being deleted in the e2e framework (specifically commit https://github.com/kubernetes/kubernetes/pull/92784/commits/af91e76df80c8c78e2d42ada466a4689398bf887). This caused failures in other tests, so the commit was reverted in https://github.com/kubern

[2020-07-22 12:51] ahg-g commented on #93217
The first bump is not expected, the second one is expected.

The issues #91084 and  #91062 are not expected to increase cpu overhead, so I will look at cpu profiles.

[2020-07-22 13:16] ahg-g commented on #93217
Looking at the scheduler logs, I can confirm that there are only 186 pods that failed to schedule (out of ~14839 pods). Those 186 pods were statefulset pods waiting for volume binding, so #90978 is unlikely to impact this test.

[2020-07-22 13:17] vasuadari commented on #23130
Bump

[2020-07-22 13:18] soltysh commented on #92468
I haven't noticed this being an issue for over a week now, I'm dropping the 1.19 milestone for it to unblock the release.
/milestone clear

[2020-07-22 13:20] alvaroaleman commented on #74415
FTR, controller-runtime has something for this exact usecase: https://godoc.org/sigs.k8s.io/controller-runtime/pkg/cache#MultiNamespacedCacheBuilder

[2020-07-22 13:25] liggitt commented on #93326
[code]

it appears k3s is modifying this object... I'd suggest asking in https://github.com/rancher/k3s/issues

/remove-sig api-machinery
/remove-wg k8s-infra
/remove-kind bug
/kind support

[2020-07-22 13:25] #93326 closed

[2020-07-22 13:32] liggitt commented on #93301
cherry-pick merged and 1.16 runs since have been green

/close

[2020-07-22 13:32] #93301 closed

[2020-07-22 13:37] liggitt commented on #92937
the 1.19 merge pool has drained, and we're actually seeing batches pass now, so I don't think this is release blocking any more. Lowered priority to important-soon, and moving to v1.20. This remains important for CI health, so it would be good to have a concrete criteria for closing this and to make progress on it (or open individual issues for the items/categories mentioned in https://github.com/

[2020-07-22 13:44] liggitt commented on #93315
to search for a pod name across all namespaces, you can do:

[code]

if you are looking for a particular pod uid, you can do:
[code]

[2020-07-22 13:44] liggitt commented on #93194
fixed in #93208, will be resolved in v1.16.14

[2020-07-22 13:44] vasuadari commented on #23130
Temporary workaround i found was to set dns on every command in OSX. You could create your own alias for it.

[code]

Would have been even better if there is a unwind for a command.

[2020-07-22 13:44] #93194 closed

[2020-07-22 14:09] liggitt commented on #93324
You can use golang.org/x/text 0.3.3 with current 1.17.x versions of apimachinery by doing `go get golang.org/x/text@0.3.3` in your local go.mod file, you do not need to wait for apimachinery to bump.

I don't see any way for the CVE to be exercised by Kubernetes code. It affects use of the UTF16 decoder, which is not accessed by apimachinery

[2020-07-22 14:10] liggitt commented on #93324
I would avoid updating dependencies on release branches unless there is there is an actual bug/exposure that needs fixing.

[2020-07-22 14:12] detiber commented on #93309
Digging into this further now

[2020-07-22 14:13] danieltroger commented on #83471
Was this solved? Also experiencing the issue

[2020-07-22 14:33] hasheddan opened #93334 "[Flaky Test] some tests affected by pod scheduling timeouts"
**Which jobs are failing**:

`conformance-ga-only (ci-kubernetes-conformance-kind-ga-only)`

**Which test(s) are failing**:

`Overall`

**Since when has it been failing**:

`2020-07-21 20:08 CDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#conformance-ga-only

**Reason for failure**:

Pod scheduling timeout (see https://prow.k8s.io/prowjob?prowjob=cb203da3-cbb7-11ea-8f

[2020-07-22 14:56] WoodProgrammer opened #93335 "Kubernetes Hostpath allows to HomeDirectory of Worker Node"
Hello everyone,

I'm working on k8s cluster version of 1.16 and found some interesting things about HostPath.
Pods can able to access the home directory of the nodes which one pods located on.

This capability allows to change configs like ssh (`allowed_keys`) and etc.
That is the pod.yaml example

[code]

I think this looks a bug and podsecurity policy is handling this issue but some of component

[2020-07-22 15:06] liggitt commented on #93334
scheduling timeout is not job-specific, can we collapse to a single issue for that?

relevant:
* https://github.com/kubernetes/test-infra/pull/18416
* https://github.com/kubernetes/test-infra/pull/18420

@BenTheElder

[2020-07-22 15:08] lubronzhan commented on #92496
Ok found a workaround.
1. ssh into to the worker that the pod is scheduled to
2. find the disk which is the pv by `get-disk`, get the disk number `$disk-num`
3. then change the disk status to online ` Set-Disk -Number $disk-num -IsOffline $False`. After this, the disk driver letter is back
4. recreate the pod, in case the pod creation failed for too long and retry might take a while to be retrigge

[2020-07-22 15:09] hasheddan commented on #93309
/assign @detiber

[2020-07-22 15:11] hasheddan commented on #93223
/assign @neolit123

[2020-07-22 15:11] BenTheElder commented on #93334
test-infra-maintainers is probably not a very useful alias here, maybe sig testing something

I think we may have extra confusion here because some of these run in a CNCF build cluster which we don't have auto-deploy manifests to @spiffxp

[2020-07-22 15:12] hasheddan commented on #93334
@liggitt would you prefer that be tracked here or in k/test-infra?

[2020-07-22 15:13] ahg-g commented on #93217
Did the number of volumes or pods requesting volumes used in the test increase?

[2020-07-22 15:14] neolit123 commented on #93161
it definitely is in the older versions of kubeadm:
https://github.com/kubernetes/kubernetes/blob/release-1.17/cmd/kubeadm/app/phases/upgrade/compute.go#L109-L113

vs master / 1.19:
https://github.com/kubernetes/kubernetes/blob/0b678bbb51a83e47df912f1205907418e354b281/cmd/kubeadm/app/phases/upgrade/compute.go#L114-L120

did you try running `kubeadm upgrade apply ...`?

[2020-07-22 15:14] neolit123 commented on #93161
/area kubeadm

[2020-07-22 15:18] liggitt commented on #93334
I'm not aware of anything actionable in this repo that would help fix pod pending timeouts ... seems like test-infra to me, but I'll let ben comment on where he'd like it tracked

[2020-07-22 15:29] #91292 closed

[2020-07-22 15:35] liggitt commented on #56138
these tests are flaking in https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness&width=20

xref https://github.com/kubernetes/kubernetes/issues/90955

[2020-07-22 15:36] liggitt commented on #56138
cc @wojtek-t, since these were enabled by #90305

[2020-07-22 15:39] #93324 closed

[2020-07-22 15:45] lubronzhan commented on #92512
Thanks Michael. I'll let my team know.

[2020-07-22 15:49] sagor999 opened #93337 "Packets from service sometimes arrive with the IP of pod, not service"
**What happened**:
When a pod communicates with the service, traffic comes and goes to the IP of the service, but sometimes traffic arrives with the IP of underlying pod, which causes connection to be reset.

**What you expected to happen**:
All traffic with the service should be coming from the service's IP.

**How to reproduce it (as minimally and precisely as possible)**:
Take a look at this wi

[2020-07-22 15:49] sagor999 commented on #93337
/sig network

[2020-07-22 15:50] liggitt commented on #87807
is there a plan for resolving this? the verify job munges together lots of unrelated verify tasks, some of which seem to take much more time than I would expect

https://testgrid.k8s.io/sig-release-master-blocking#verify-master&width=5&graph-metrics=test-duration-minutes

I think individual issues with owners assigned will be more effective here. I'd suggest:
* sig-node: generated-kubelet-plugin-r

[2020-07-22 15:52] liggitt commented on #92756
verify-1.18 probably doesn't belong in 1.19?

/milestone v1.18

[2020-07-22 15:52] Joseph-Goergen opened #93338 "Kubelet rejects pod scheduled based on newly added node labels which have not been observed by the kubelet yet"
**What happened**:

Whenever a node is added or updated, there is a small window where pods are scheduled to that node, before any beta labels are applied to it. This can cause issues with pods that are queued up to be scheduled and that have a NodeAffinity (in our case) to the now deprecated `beta.kubernetes.io/os` label.

**What you expected to happen**:

The proper labels to be applied to worke

[2020-07-22 15:53] liggitt commented on #92756
looks like verify-files-remake is taking up to 40 minutes of the 2 hour timeout: https://testgrid.k8s.io/sig-release-1.18-blocking#verify-1.18&graph-metrics=test-duration-minutes&width=20

[2020-07-22 15:53] honghzzhang opened #93339 "Incorrect metrics on unschedulable pod"
**What happened**:
When pods failed to schedule due to insufficient CPU, Kubernetes metrics don't show them as unschedulable. They are under pending section, but not in the unschedulable queue:

[code]
The follow is the pod states (four pending pods all failed to schedule due to insufficient CPU)

[code]

Dig into one pending pod to show the unschedulable (insufficient CPU):

[code]

**What you ex

[2020-07-22 15:59] lavalamp commented on #93280
Yes, we should absolutely fix that, now that the client uses context we have absolutely no excuse!

Yeah, although that's bounded by the parallelism amount and there shouldn't be too many of those in flight at once.

Well, I think that is a system constraint! If (max number of concurrent requests) * (number of apiservers) is greater than the number of concurrent requests the etcd leader permits, t

[2020-07-22 15:59] tabbysable commented on #92914
A different approach to exploiting CVE-2020-8559: https://github.com/tabbysable/POC-2020-8559/

[2020-07-22 16:05] mmiara commented on #93161
I tried this previously but apparently I did not wait long enough for the cluster to recognize the "preupgrade" pods. I just ran the upgrade on the first master node and it appears to have worked. I will update this comment if everything is upgraded successfully by skipping the "plan".

[2020-07-22 16:06] xq2005 commented on #86630
How about moving `MaxNodesToScore` into internal using and adding another profile-level parameter `RandomShuffling` that can enable/disable the random shuffle before filtering. When `RandomShuffling` is enable, `MaxNodesToScore` is set to 2. If not `MaxNodesToScore` will equal to `PercentageOfNodesToScore` * `Number of Nodes.`

[2020-07-22 16:07] tosi3k opened #93341 "[Flaky test] [sig-network] ESIPP [Slow] should work for type=LoadBalancer"
**Which jobs are flaking**:
gce-master-scale-correctness
**Which test(s) are flaking**:
[sig-network] ESIPP [Slow] should work for type=LoadBalancer
**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1285907830108327937
**Reason for failure**:
[code]
**Anything else

[2020-07-22 16:07] honghzzhang commented on #93339
/sig cluster-lifecycle

[2020-07-22 16:15] mitchellmaler opened #93342 "componentstatuses doesn't work when Scheduler and Controller Manager are running on secure port"
**What happened**:

We recently upgraded to 1.17.9 using kubeadm and now the controller manager and scheduler are serving on their default secure port and the old insecure port is 0 which disabled it. Now when you run `kubectl get componentstatuses` it shows that these two components are unhealthy even though they are not. Looking at the output the health check is hitting the old port and using ht

[2020-07-22 16:17] mitchellmaler commented on #93342
/sig api-machinery
/sig cluster-lifecycle

[2020-07-22 16:24] efussi commented on #64623
/remove-lifecycle stale

[2020-07-22 16:25] tosi3k commented on #93341
/cc @kubernetes/sig-network-bugs

[2020-07-22 16:26] neolit123 commented on #93161
i'm going to close this and log the same ticket in k/kubeadm.
we discussed today in the kubeadm office hours that this should be fixed in older versions.

[2020-07-22 16:29] adelina-t commented on #93295
I'm pretty sure it's the Get-Content Command. Just tried, same for me, sometimes works, sometimes not. I'll try to replace it with something else, see if it repros.

[2020-07-22 16:30] jsturtevant commented on #93295
looks like it might be encoding issue.  Could try being explicit with -encoding for `Get-Content` and the out-put functions that create the content:

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/3f4eae6d74d187363ea80873540462cc45987f68/test/e2e/suite_test.go#L192

[2020-07-22 16:35] eyenx commented on #52172
/remove lifecycle-stale

[2020-07-22 16:35] eyenx commented on #52172
/remove-lifecycle stale

[2020-07-22 16:44] julianvmodesto commented on #80916
/milestone v1.19
/close

[2020-07-22 16:45] #80916 closed

[2020-07-22 16:45] julianvmodesto commented on #80916
/close

[2020-07-22 16:46] wojtek-t commented on #56138
Yeah - though these failures doesn't seem to be scale related, they seem to be test related to me.
This basically means nodes without public ips:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L2928

It's pretty much the same thing as https://github.com/kubernetes/kubernetes/issues/90047 (just for a different test).
https://github.com/kubernetes/kubernetes/pull/92

[2020-07-22 16:46] BenTheElder commented on #93334
this is a test-infra bug, but I'd rather focus on getting it closed.

[2020-07-22 16:48] BenTheElder commented on #93334
I'm not sure what the default CPU request is in that other cluster

[2020-07-22 16:50] johnjjung opened #93346 "Support KUBECONFIG_BASE64 env"
**What would you like to be added**:

Continuing conversation from Issue: https://github.com/kubernetes/kubectl/issues/825

`KUBECONFIG=~/.kube/config`

This is a great feature. However, it's really annoying for CI/CD pipelines where you have to get the file. Can you guys please support multiline environment variables with a base64'd version of the kubeconfig variable that you want?

For example:

[2020-07-22 16:55] johnjjung commented on #93346
/sig api-machinery
/sig cli

[2020-07-22 16:55] ahg-g commented on #93217
†he profiles shows there is an increase in the overhead of `VolumeRestrictions` Filter (increased from 5% to 10%), but I am not really sure it explains the increase in cpu utilization. The code of that filter didn't change, hence my suspicion that this was a result of an increase in number pods with volumes in the test.

[2020-07-22 16:55] johnjjung commented on #93346
/kind feature
/area kubectl

[2020-07-22 16:59] tallclair commented on #64801
A good starting point might be to document that pod features that should be restricted on windows, as part of the ["Pod Security Standards"](https://kubernetes.io/docs/concepts/security/pod-security-standards/)

[2020-07-22 16:59] fernandocarletti commented on #92180
For those looking for a workaround while this is not fixed, I'm getting the running pods count using kube-state-metrics:

[code]

[2020-07-22 16:59] neolit123 commented on #89181
is this a docker(shim) only problem?

[2020-07-22 17:03] svallala commented on #90851
We are seeing this issue in 1.18.6 version, can you please push the fix to this branch as well.

[2020-07-22 17:04] liggitt commented on #93342
The componentstatus implementation does not work in many topologies... it is a hard-coded implementation in the API server that assumes a particular topology for the scheduler/controller manager.

See discussions in https://github.com/kubernetes/kubernetes/issues/19570 and https://github.com/kubernetes/enhancements/issues/553 about why this approach should be deprecated and removed.

Changing the

[2020-07-22 17:06] michmike commented on #92496
this is good progress @lubronzhan . @divyenpatel can you also try the workaround and make sure it works for you?
@benmoss is also going to take a look

[2020-07-22 17:11] michmike commented on #88554
please connect with @claudiubelu and @adelina-t for some blueprints on tests for windows

[2020-07-22 17:17] kvaps commented on #89181
Answered in https://github.com/kubernetes/kubernetes/pull/93329#issuecomment-662575091

[2020-07-22 17:18] michmike commented on #92496
@jingxu97  you may be interested in this as part of your work for https://github.com/kubernetes/utils/issues/172

[2020-07-22 17:18] alculquicondor commented on #86630
I don't think you would want to forcibly link RandomShuffling to MaxNodesToScore=2. As I said before, the mentioned paper only refers to load balancing. But several other scores in kube-scheduler.

[2020-07-22 17:20] neolit123 commented on #93161
...for "upgrade plan" at least. "apply" should work.

yes, please confirm that.

[2020-07-22 17:29] mattcary commented on #92708
/assign

[2020-07-22 17:30] hasheddan opened #93347 "Clean up sig-storage e2e test utils"
**What would you like to be added**:

There are a number of places where sig-storage e2e tests make use of shared utilities to perform common operations such as creating or deleting Pods. These helpers are spread throughout files in `test/e2e/storage`. Many of these helpers could be consolidated into `test/e2e/storage/utils` or incorporated into `test/e2e/framework` for use across tests for other

[2020-07-22 17:32] azye opened #93348 "etcd index out of range during startup"
**What happened**:

Seemingly in the middle of the night when our test cluster was not under much load but had been running for a while, client connections to the API began failing when using the `client-go` package. When we looked at the cluster, `kubectl` commands yielded:

[code]

When digging further into this, we noticed that `etcd` was crashing and failing on startups:

[code]

**What you ex

[2020-07-22 17:34] BenTheElder commented on #93334
had to help with some internal issues, see this now:
[code]
the nodes in that cluster have less CPU available to request due to having network policy enabled (for no apparent reason?)
so jobs in that cluster need to request something like 100m less maximum. sending a PR. not sure how this was missed before.

[2020-07-22 17:34] BenTheElder commented on #93334
it would be great if we could also disable the unused network policy addon in that wg-k8s-infra cluster at some point.

[2020-07-22 17:37] jingxu97 commented on #92496
@michmike thanks!
Yes, this is another case showing us that we should avoid using driverletter. Make sure disk status online is also something we might consider. And during pod deletion, before volume detach, it should make it offline.
Unfortunately, didn't get enough time to merge In PR #166 after it is reverted. I will try that again.

[2020-07-22 17:40] BenTheElder commented on #93334
https://github.com/kubernetes/test-infra/pull/18431

[2020-07-22 17:40] Huang-Wei commented on #89312
/remove-lifecycle rotten

[2020-07-22 17:49] deads2k commented on #93342
I agree that this should be deprecated and removed and recently commented to similar effect in a PR.  The endpoint has always been unreliable across deployments and to make it differently unreliable doesn't seem like a significant improvement.  It functions for the narrow case it has always handled, but that case has not aged well and neither has the design (as noted in the linked enhancments).

I

[2020-07-22 17:50] neolit123 commented on #93335
/sig storage auth

[2020-07-22 17:52] neolit123 commented on #93339
/remove-sig cluster-lifecycle
/sig instrumentation scheduling

[2020-07-22 17:53] detiber commented on #93309
So...  The issue boils down to the way we are pulling in the k8s artifacts and the conformance test binary for this test:
- The installed kubernetes version is pulled in through the ci/master.txt version marker, which is currently referencing an older build (from July 1st before the eventsv1 commit was merged).
- The test binary is built from the current state of master

While we could target a di

[2020-07-22 17:54] neolit123 commented on #92697
/remove-sig cluster-lifecycle
/sig network

[2020-07-22 17:55] neolit123 commented on #92366
/remove-sig cluster-lifecycle
/sig api-machinery

[2020-07-22 17:55] jsturtevant opened #93349 "[Flaky test] [sig-windows] ci-kubernetes-e2e-aks-engine-azure-master-staging-windows"
**Which jobs are flaking**:
ci-kubernetes-e2e-aks-engine-azure-master-staging-windows

**Which test(s) are flaking**:
There is a race condition in the one of the tests and they are run in parallel  so if varies, some of the recent ones are:

[code]

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-windows-azure#aks-engine-azure-windows-master-staging

**Reason for failure**:
gmsa webhooks i

[2020-07-22 17:57] jsturtevant commented on #93349
@adelina-t thanks for helping me track this down

[2020-07-22 17:59] liggitt commented on #93342
behavior of the componentstatus API cannot be changed to suit a particular deployment in a way that will break other consumers of the API for whom it is currently functioning

/close

[2020-07-22 17:59] #93342 closed

[2020-07-22 18:00] enj commented on #92678
I think at a bare minimum that the API server could enforce through validation that the issued certificate has a lifetime no greater than the requested duration.

[2020-07-22 18:01] neolit123 commented on #92213
the addon manager under /cluster is deprecated and unsupported. AFAIK its remaining usage is in some k8s e2e tests.
it should not be used in production clusters on the user side!

i've been closing similar tickets, but please reopen if you have an argument for this change.
/close

[2020-07-22 18:01] #92213 closed

[2020-07-22 18:03] liggitt commented on #92678
That wouldn't be backwards compatible.

A way to request a TTL in spec and a way to set a recommended TTL in status when approving both seem useful to me

[2020-07-22 18:06] neolit123 commented on #92090
/help-wanted
/good-first-issue

mini guide:
- send a PR for https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cluster-bootstrap/SECURITY_CONTACTS
- change the list in the file with the following people (SIG cluster lifecycle leads):
[code]
https://github.com/kubernetes/community/tree/master/sig-cluster-lifecycle#chairs

[2020-07-22 18:09] divyenpatel commented on #92496
@lubronzhan thank you for investigation.

@michmike confirming changing disk status to online is fixing the issue.

I created a pod with two volumes. One of them remained offline after disks were attached. Because of this mount operation was failing for that offline disk.

[code]

[code]

Pod remained in the ContainerCreating state, as mount was failing

[code]

Marked disk as `online`.

[code]

P

[2020-07-22 18:09] hasheddan commented on #87807
@liggitt I will get those issues opened. I feel like they can likely all be bumped to the v1.20 milestone, would you agree?

[2020-07-22 18:11] hasheddan commented on #91774
/close

[2020-07-22 18:12] neolit123 commented on #92092
/good-first-issue
/help-wanted

mini guide:
- send a PR for:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/SECURITY_CONTACTS
- replace the list with these contributors:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/OWNERS#L4-L8
(approvers, take from the owners file)

[2020-07-22 18:13] hasheddan commented on #92469
I have not seen a flake here in the last week

/close

[2020-07-22 18:13] #92469 closed

[2020-07-22 18:14] neolit123 commented on #93016
/remove-sig cluster-lifecycle

[2020-07-22 18:14] hasheddan commented on #93223
@neolit123 since this may take some time to be reviewed do you think bumping to milestone v1.20 would be appropriate?

/cc @onlydole

[2020-07-22 18:15] jkaniuk commented on #93217
I do not see anything interesting happening to our test configs around 15th of May. Or 12th of June for that matter.

[2020-07-22 18:15] hasheddan commented on #92780
This is now being tracked by https://github.com/kubernetes/kubernetes/issues/93217

/close

[2020-07-22 18:15] #92780 closed

[2020-07-22 18:17] hasheddan commented on #90736
I have not seen this flake in more than a week

/close

[2020-07-22 18:17] #90736 closed

[2020-07-22 18:18] jkaniuk commented on #92780
Not related to #93217 but there are only 2 slow API calls almost within the limit in metric having 40 data points.
I would ignore that as a singular flake.

[2020-07-22 18:20] ZhiFeng1993 commented on #86763
Which sub package should this be moved to?
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/pod/resource.go#L46

[2020-07-22 18:20] hasheddan commented on #90830
I have not seen a flake on the test mentioned in this issue recently

/close

[2020-07-22 18:20] #90830 closed

[2020-07-22 18:23] hasheddan commented on #92306
I am seeing a flake today on `[sig-storage] In-tree Volumes [Driver: local][LocalVolumeType: block] [Testpattern: Pre-provisioned PV (filesystem volmode)] volumeMode should not mount / map unused volumes in a pod` timing out

/sig storage
@msau42 any insight here?

[2020-07-22 18:27] hasheddan commented on #92360
@RobertKielty do you have a status update here?

[2020-07-22 18:28] KaelBaldwin commented on #83332
I was having this on a rancher deployed kubernetes cluster with kubernetes version 1.15 and then again after upgrading to 1.16. After inspecting the metrics-server deployment, I noticed the resource limits on the pod were very low. Increasing those seems to have resolved it for me.

[2020-07-22 18:35] wojtek-t commented on #56138
BTW - https://github.com/kubernetes/kubernetes/issues/93341 has been opened directly for this one.

[2020-07-22 18:37] BenTheElder commented on #93334
/reopen
we need to ensure this change takes effect successfully, sorry about that

[2020-07-22 18:37] liggitt commented on #87807
yes, though it should be made clear that the issues are very impactful to all contributors on a regular bases

[2020-07-22 18:38] jsturtevant commented on #93349
The current plan is to move the deployment of the webhook out of the individual test and make sure it is installed at cluster provisioning time.

@ddebroy do you see any issues?

It doesn't look like the gce tests run the `GMSA Full` tests so this should not affect the tests runs there but in the future if added would need to be set up in https://github.com/kubernetes-sigs/windows-testing/tree/mas

[2020-07-22 18:38] wojtek-t commented on #90955
I'm really against having issues like this. This is mixing N totally unrelated failures in a single issue that is more-or-less impossible to follow.

Can we please close it and instead open more targeted issues for individual tests (like https://github.com/kubernetes/kubernetes/issues/93341) instead one for the whole suite?

@hasheddan @hkamel ^^

[2020-07-22 18:39] hasheddan commented on #87807
@liggitt understood 👍 I will prioritize investigating this

/milestone v1.20

[2020-07-22 18:41] hasheddan commented on #90955
@wojtek-t I very much agree. This is the way ci-signal has been doing things for a while and, while it is helpful for us to track jobs, it is not helpful at all for SIG leads. I will propose changing this pattern and welcome all feedback 👍

/close

[2020-07-22 18:41] #90955 closed

[2020-07-22 18:43] hasheddan commented on #91739
/assign @lingxiankong

[2020-07-22 18:43] wojtek-t commented on #90955
@hasheddan - thanks, really appreciate.

[2020-07-22 18:44] neolit123 commented on #93223
given the fix is for a tool in k/kubeadm, the milestone for k/kubernetes milestone is not relevant, but in reality we should be able to get this fixed around next week.

[2020-07-22 18:44] hasheddan commented on #91739
This is really hard for us to track as the CI system it runs in is entirely opaque to us. Any thoughts on what to do about this? @liggitt @onlydole

[2020-07-22 18:46] #22650 closed

[2020-07-22 18:46] #88190 closed

[2020-07-22 18:46] wojtek-t commented on #93217
Can we temporarily bump master size to 8-core one maybe? And see how it will affect the results?

That would allow us to confirm/reject the hypothesis about lack of master resources being the root cause of the problem.  Once we're sure about the root cause, we can decide if/what should be optimized.

[2020-07-22 18:52] mattfenwick commented on #93143
@jayunit100 thanks for taking this over; let me know if I can do anything to help!  I got stuck trying to reproduce this -- I'm on a mac and haven't figured out how to run conntrack.  Any pointers on how I can repro?

[2020-07-22 18:53] jsturtevant commented on #87389
@hasheddan fyi - these tests were running on 1.18 until yesterday: https://github.com/kubernetes/test-infra/pull/18401

It looks like they are also not using the latest builds of the testing tool.  The commit you reference above should have cleared those issues up and the test `[k8s.io] Variable Expansion should not change the subpath mount on a container restart if the environment variable change

[2020-07-22 18:56] jsturtevant commented on #87389
sig-windows aks-engine tests had that test removed awhile ago: https://k8s-testgrid.appspot.com/sig-windows-releases#aks-engine-azure-windows-master-staging

We do have a flake on those but it is related to race condition on the tests: https://github.com/kubernetes/kubernetes/issues/93349

[2020-07-22 18:59] hasheddan commented on #88974
@jsturtevant Looks like you have some context on these jobs, any idea what the fix might be here?

[2020-07-22 19:00] jsturtevant commented on #88974
Yes this looks to be the same as in #87389.  I am looking into it now

[2020-07-22 19:03] neolit123 commented on #89628
conntrack is required by the kubelet for clearing connections (same for kube-proxy).
https://github.com/kubernetes/kubernetes/pull/85857

we don't have an explanation in the k8s.io documentation, but since some of these binary dependencies are hardcoded in the kubelet then it seems appropriate for this to be documented in kubelet documentation (not kubeadm) and then the kubeadm documentation can l

[2020-07-22 19:03] #89628 closed

[2020-07-22 19:06] neolit123 commented on #91352
/remove-sig cluster-lifecycle
/sig node

[2020-07-22 19:07] neolit123 commented on #92137
delayed response, but you could send this as a topic to the SIG Architecture mailing list:
https://github.com/kubernetes/community/tree/master/sig-architecture#contact

/sig architecture

[2020-07-22 19:08] ddebroy commented on #92496
If the Disk is appearing on Windows node as `Offline` , then I don't think the PRs around removing the dependency on drive letters will help here much as the NTFS volumes on the offline disk will not be surfaced/mounted by Windows (regardless of drive letter assignment).

Can you check what is the `SAN Policy` setting in the Windows hosts? Please make sure it is `Online All` during host setup. It

[2020-07-22 19:12] msau42 commented on #92306
The test appeared to fail in the framework BeforeEach() that tries creating the test namespace. The actual storage test case part didn't even run yet. I've been trying to find logs that can show why namespace creation timed out but haven't found anything useful yet

[2020-07-22 19:15] mmiara commented on #93161
I was able to upgrade the first two control plane nodes "successfully". Once I began the third control plane node, it failed about halfway through the process, and I am now unable to access any info from kubectl from any of the control plane nodes. I am receiving "Unable to connect to the server: EOF" when using kubectl and "node not found" messages from the kubelet process logs. Not sure if there

[2020-07-22 19:23] mmiara opened #93351 "Kubernetes, Docker, Calico Compatibility Matrix?"
I have never seen any sort of compatibility matrix for components of open source kubernetes clusters. Does anything like this exist? Components like etcd, networking, storage, coreDNS, and docker/kubernetes themselves would be extremely handy when troubleshooting errors.

[2020-07-22 19:27] mmiara opened #93352 "Kubelet logs "node '<master-node>' not found""
During an upgrade process, the upgrade failed about halfway through and my cluster is in a broken state. I am not able to use any kubectl commands, as I receive "Unable to connect to the server: EOF" and the logs for kubelet are shown as in the question. I am not sure how to go about fixing this. For reference, this happened during an ugrade from v1.16.6 to v1.17.9. etcd cluster is external. netwo

[2020-07-22 19:34] logicalhan commented on #88914
/triage needs-information

[2020-07-22 19:34] logicalhan commented on #88914
/remove-triage needs-information

[2020-07-22 19:37] amgads commented on #92594
Any update of the feature or fix?

[2020-07-22 19:42] mmiara commented on #93161
The above was due to an etcd upgrade/migration to a new cluster. For some reason during the upgrade, the etcd configuration within the /etc/kubernetes/manifests/kube-apiserver.yml were changed back to the original cluster which are now powered off. Once this was changed, I was able to continue with the upgrade and all three control planes seem to be functional.

[2020-07-22 19:42] mmiara commented on #93352
The above was due to an etcd upgrade/migration to a new cluster. For some reason during the upgrade, the etcd configuration within the /etc/kubernetes/manifests/kube-apiserver.yml were changed back to the original cluster which are now powered off. Once this was changed, I was able to continue with the upgrade and all three control planes seem to be functional.

[2020-07-22 19:42] #93352 closed

[2020-07-22 19:52] mattfenwick commented on #91236
@jayunit100 I haven't been able to get it to fail on kind yet, [here's what I have so far](https://github.com/mattfenwick/kubernetes/pull/1)!

I'm letting the loop run for a few hours, will check back in when I have that data.

Is it worth running this test on a non-kind environment?

[2020-07-22 19:52] jsturtevant commented on #87389
@hasheddan The jobs were not using the main branch which had the tests removed.  If you can help with #18435 that would be great.

[2020-07-22 19:53] liggitt commented on #93348
/assign @jingyih

looks like this is already fixed upstream (xref https://github.com/etcd-io/bbolt/issues/152, https://github.com/etcd-io/bbolt/issues/153, https://github.com/etcd-io/etcd/issues/10399), do you know in what version?

[2020-07-22 19:53] jsturtevant commented on #88974
The jobs were not using the main branch which had the tests removed. I created the above pr to fix it

[2020-07-22 19:54] hasheddan commented on #87389
@jsturtevant I am happy to help out here 👍 Is that the issue you meant to link?

[2020-07-22 19:54] maelk commented on #91601
I have found the bug. The issue is with the nodeTree next() function, that does not return a list of all nodes in some cases. https://github.com/kubernetes/kubernetes/blob/release-1.18/pkg/scheduler/internal/cache/node_tree.go#L147

It is visible if you add the following here : https://github.com/kubernetes/kubernetes/blob/release-1.18/pkg/scheduler/internal/cache/node_tree_test.go#L443
[code]

Th

[2020-07-22 19:55] hasheddan commented on #87389
Oh I see was meant to be https://github.com/kubernetes/test-infra/pull/18435

[2020-07-22 20:07] pancernik commented on #91601
I noticed the same problem with iteration. But I failed to link that to a duplicate in the snapshot. Have you managed to create a scenario where that would happen?

[2020-07-22 20:09] onlydole commented on #91739
It would be fantastic if we had a bit more visibility over the long-term so we could have signal without needing to reach out to any teams. Do you know if we have any ability to offer log aggregation for tests like this, @liggitt or @spiffxp?

Note that is VERY likely a "to be solved later" solution :smile:

[2020-07-22 20:09] maelk commented on #91601
yes, you can run it in the unit tests by adding the small code I put

[2020-07-22 20:10] maelk commented on #91601
I am now working on adding a test case for the snapshot, to make sure this is properly tested.

[2020-07-22 20:10] liggitt commented on #91739
s/liggitt/bentheelder/ for test aggregation discussions

[2020-07-22 20:11] liggitt commented on #91739
cc @BenTheElder

[2020-07-22 20:12] ddebroy commented on #93349
hey @jsturtevant yes, deploying the webhook at cluster deployment definitely works. It was scoped to the test to reduce blast radius when things weren't super stable.

[2020-07-22 20:13] BenTheElder commented on #91739
can you elaborate on what you mean by log aggregation?

third party CI can upload any files they want, but the intention is
primarily that testgrid can display structured JUnit xml results.
testgrid / prow also have some JSON files with timestamps and pass/fail
essentially.

On Wed, Jul 22, 2020 at 1:11 PM Jordan Liggitt <notifications@github.com>
wrote:

[2020-07-22 20:15] liggitt commented on #93335
unrestricted pod volume sources are extremely powerful... this is working as originally designed

Admission (including PodSecurityPolicy) can be used to prevent use of hostpath volumes entirely, or limit allowed paths to specific locations (thought unless the volumes are also required to be readonly, symlink following can be used to mount arbitrary locations)

see also https://kubernetes.io/docs/c

[2020-07-22 20:16] #93335 closed

[2020-07-22 20:17] apelisse commented on #93265
Yeah, I suspect this falls under the category of "validation ratcheting" and "use the schema to validate types".
It's a long overdue item that we're getting closer to be able to solve.
/wg api-expression

[2020-07-22 20:17] maelk commented on #91601
big thumbs up to @igraecao for the help in reproducing the issue and running the tests in his setup

[2020-07-22 20:23] neolit123 commented on #93161
unless this was configured (for all api-servers) via the ClusterConfiguration (kubeadm-config ConfigMap under kube-system) then `kubeadm upgrade` will not persist this configuration and override any changes in the api-server manifest.

/close

i will log a new ticket in k/kubeadm to track the "plan" bug where we must not check etcd cluster health for external etcd.

[2020-07-22 20:23] #93161 closed

[2020-07-22 20:27] jayunit100 commented on #93094
@AkashSarda  any updates on this one?

[2020-07-22 20:30] onlydole commented on #91739
Ah! Got it, @BenTheElder - my thought was if we might be able to view build logs/errors...that might help in solving any issues on that front.

I agree with you that JUnit XML would be the most ideal (really anything with to provide more data/signal would be excellent).

[2020-07-22 20:33] neolit123 commented on #93161
actually, given this is not a critical bug (`apply` works) the ticket will be only about documenting this in the kubeadm troubleshooting guide:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/

https://github.com/kubernetes/kubeadm/issues/2229

@mmiara you can send that PR for k/website if you want.

[2020-07-22 20:36] BenTheElder commented on #91739
they're available in prow.k8s.io's viewer if the bucket is public, and
testgrid config controls what log viewer is used on click through (it's
templated IIRC)

On Wed, Jul 22, 2020 at 1:31 PM Taylor Dolezal <notifications@github.com>
wrote:

[2020-07-22 20:39] SamuelBagattin commented on #92090
/assign

[2020-07-22 20:47] #87389 closed

[2020-07-22 20:49] hasheddan commented on #88974
Monitoring and will close if we see successful runs after merge of https://github.com/kubernetes/test-infra/pull/18435

[2020-07-22 20:50] neolit123 commented on #93351
hello,
there is no compatibility matrix between all the components k8s requires.

but you could still check what are the latest versions k8s supports:
https://github.com/kubernetes/kubernetes/blob/master/build/dependencies.yaml

this also means that a particular k8s release is e2e tested against those versions.
hope that answers you question.

closing given this is not a bug/feature request.
/clos

[2020-07-22 20:51] #93351 closed

[2020-07-22 20:55] liggitt opened #93358 "[Flaky test] "PersistentVolumeClaims not all in phase Bound within 5m0s" failing in ~2% of kind presubmits"
**Which jobs are flaking**:

* pull-kubernetes-e2e-kind-ipv6
* pull-kubernetes-e2e-kind

**Which test(s) are flaking**:

* CSI mock volume ... tests

**Testgrid link**:

* https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind&include-filter-by-regex=CSI%20mock%20volume&width=5&sort-by-failures=
* https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-k

[2020-07-22 20:57] liggitt commented on #93358
might be worth looking at the average bind time in successful run cases over time and seeing how close to the 5 minute timeout we are... what is the expected time to bind in these tests?

[2020-07-22 21:04] shubb30 commented on #87615
Are there any other workarounds besides the kubelet restart cron job?  We have had a cron job in place for a week and it has not stopped the problem from happening.

[2020-07-22 21:05] grosser opened #93359 "kube-apiserver livenessProbe needs to be excempt from flowcontrol"
on kubernetes 1.18 with flowcontrol enabled

when our api-server is under heavy load for a long time it dies because the livenessProbe fails
this is dangerous since it can lead to etcd compaction never running and then etcd falling over

I did not find a way to configure a serviceaccount for livenessProbe except for exposing the token in the pod config that could then be stolen by any user with po

[2020-07-22 21:05] onlydole commented on #93334
Is it okay if I assign this to you until it's closed, @BenTheElder?

[2020-07-22 21:05] ahg-g commented on #91601
Thanks all for debugging this notorious issue. Resetting the index before creating the list is safe, so I think we should go with that for 1.18 and 1.19 patches, and have a proper fix for next in the master branch.

The purpose of the `next` function changed with the introduction of the NodeInfoList, and so we can certainly simplify it and perhaps change it to `toList`, a function that returns the

[2020-07-22 21:06] grosser commented on #93359
/sig api-machinery

[2020-07-22 21:08] onlydole commented on #93287
Thank you for working on this, @feiskyer and @hasheddan!

/assign @feiskyer

[2020-07-22 21:10] onlydole commented on #92937
@BenTheElder / @spiffxp / @liggitt - do you know who might be the best assignee or assignees for this ticket going forward?

[2020-07-22 21:12] liggitt commented on #92937
I think a mega ticket like this is probably not very actionable. Individual issues for the categories mentioned in https://github.com/kubernetes/kubernetes/issues/92937#issuecomment-662178519 would be easier to target

[2020-07-22 21:12] heyste opened #93360 "Outdated code comment for ListWatchUntil"
[wait.Until](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/watch/until.go#L96-L98) has an outdated code comment that refers to the func `ListWatchUntil`. That function was removed in #90855

[code]
Can this comment be updated what should be used instead. TIA

/kind documentation

[2020-07-22 21:15] heyste commented on #93360
/sig api-machinery

[2020-07-22 21:21] roycaihw commented on #93018
The [storage migrator](https://github.com/kubernetes-sigs/kube-storage-version-migrator) aims to solve this problem. Currently it works for non-HA clusters with [storage version hash](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/35-storage-version-hash.md). Support for HA clusters is [WIP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machiner

[2020-07-22 21:27] MikeSpreitzer opened #93361 "unexpected results from GET /debug"
**What happened**:
I tried fetching prefixes of the new debug endpoints, and got a listing of / instead.

[code]

[code]

**What you expected to happen**:
I expected to get a listing of the available ways to extend the URL path I fetched.

**How to reproduce it (as minimally and precisely as possible)**:
As shown above, with API Priority and Fairness enabled.  I test it like this:
[code]

**Anythi

[2020-07-22 21:28] MikeSpreitzer commented on #93361
@kubernetes/sig-api-machinery-bugs

[2020-07-22 21:28] MikeSpreitzer commented on #93361
/cc @yue9944882

[2020-07-22 21:31] ddebroy commented on #88554
@thomacos @aarnaud you can take a look at the e2e tests in  https://github.com/kubernetes/kubernetes/tree/master/test/e2e/windows for reference/examples/blueprint to follow.

[2020-07-22 21:34] lavalamp commented on #93361
Yeah our index page is not very smart.

[2020-07-22 21:47] WoodProgrammer commented on #93335
I already know it but I'm not sure that affects the static pods of kubernetes components.

[2020-07-22 21:53] liggitt commented on #93335
Static pods are not protected by admission. Typically, write access to the pod manifest directory of the node is protected by normal filesystem permissions, and write access to that directory is considered a highly privileged operation

[2020-07-22 21:56] jsturtevant commented on #88974
This appears to be a common issue and is still being worked out: https://github.com/kubernetes/test-infra/pull/18290. There may need to be changes according to how that lands

[2020-07-22 22:04] thomacos commented on #88554
@michmike @ddebroy Thanks!
@claudiubelu @adelina-t  if you could help this would be great!

[2020-07-22 22:14] MikeSpreitzer opened #93362 "Terminal commas in APF debug listings"
**What happened**:
I fetched some CSV data from the new /debug endpoints of API Priority and Fairness, and found that the lines all end with a comma.  Since this is intended to be CSV data, that means there is a blank column at the end of every line.  I think we do not want that.

Here is an example:
[code]

**What you expected to happen**:
No column full of blanks.

**How to reproduce it (as mini

[2020-07-22 22:15] MikeSpreitzer commented on #93362
/cc @yue9944882
/cc @lavalamp
/cc @deads2k
@rngy

[2020-07-22 22:15] MikeSpreitzer commented on #93362
@kubernetes/sig-api-machinery-bugs

[2020-07-22 22:35] jsturtevant commented on #87389
This appears to be a common issue and is still being worked out: kubernetes/test-infra#18290.

Currently the tests are failing due to having an older build and there is not much we can do right now.

[2020-07-22 22:49] jsturtevant commented on #88974
Currently the tests are failing due to having an older build and there is not much we can do right now since cross builds have an older version.

[2020-07-22 22:55] apelisse opened #93363 "Detect "kubectl apply" to resources currently being deleted"
Users should be able to know and prevent resources that are being deleted from being applied, since it can be misleading, and racy when they delete and re-apply quickly.

We could offer this through two different user-experience:
1. Create a warning when we detect that the changes are done to a resource that has the `deletionTimestamp` set. The warning could happen on many occasions: when applying

[2020-07-22 22:59] stevengubler commented on #83094
/remove-lifecycle rotten

[2020-07-22 23:00] apelisse opened #93364 "Allow foreground cascading deletion in kubectl"
Currently, `kubectl delete` only allows orphaning (`--cascade=false`) or background cascading (`--cascade=true`, the default). There is no option I know to allow foreground cascading deletion. I propose that we maybe do the same thing we did for `--dry-run`, that is, move from a boolean to an enum by accepting `foreground|background|orphan` while keeping compatibility with existing boolean forms.

[2020-07-22 23:03] apelisse opened #93365 "`kubectl wait --for=delete` fails on 404"
One use-case of `kubectl wait --for=delete` is to wait for a lot of resources that you have just deleted. Unfortunately, this workflow is racy because `kubectl wait --for=delete` will fail when encountering a resource that doesn't exist (yes, it's probably already gone). I suspect we should just consider 404 resources to be already gone and integrate that condition as part of the normal flow.

/si

[2020-07-22 23:05] stevengubler commented on #83094
@nicorikken Another option for the syntax could be just simply specifying multiple `--for` arguments:
[code]
We'd get the upside of not needing to implement any logical operators. The only problem with this is that we lock ourselves into assuming either an implied OR or AND.

[2020-07-22 23:07] renukamanavalan opened #93366 "Can daemonsets declare dependencies"
**What would you like to be added**:
When I have N daemonsets to be deployed on a Node, can I say

DS-N requires "DS-A, DS-B"

Similar to systemd requires/requisite/after ... So DS-N is started only after DS-A & DS-B starts.

**Why is this needed**:
Often these daemonsets are inter-dependent,that when any of the daemons, say daemon-Y depends on goes down, it would be good, if daemon-Y goes down to

[2020-07-22 23:20] k8-scalar commented on #90133
A possible cause might be a bug in the CFS scheduler. Updating the Linux distro to included the following patch might resolve the issue.

[2020-07-22 23:25] azye commented on #93348
i saw that fix and noticed it went into bbolt 1.3.3 which is also the version my log above shows I'm running. So theoretically that issue should fixed in the version I'm running. it does look like its in a similar area.

[2020-07-22 23:25] alculquicondor commented on #91601
I understand the issue now: The calculation of whether or not a zone is exhausted is wrong because it doesn't consider where in each zone we started this "UpdateSnapshot" process. And yeah, it would only be visible with uneven zones.

Great job spotting this @maelk!

I would think we have the same issue in older versions. However, it is hidden by the fact that we do a tree pass every time. Whereas

[2020-07-22 23:52] neolit123 commented on #24229
as mentioned already, Velero (Heptio ARK) is a good open source option for this and it has it's own documentation:
https://github.com/vmware-tanzu/velero
https://velero.io/

please note that k8s.io no longer accepts non-CNCF projects and these are considered as "vendor pitches", yet Velero is already part of the landscape:
https://landscape.cncf.io/category=cloud-native-storage&format=card-mode&gr

[2020-07-22 23:52] #24229 closed

[2020-07-22 23:53] #93287 closed

[2020-07-23 00:14] neolit123 commented on #23233
"/cluster/addons" been deprecated for a while.
the more recent pattern of applying addons is via operators or applying an operator that manages multiple addons:
related KEP:
https://github.com/kubernetes/enhancements/pull/746

the topic of generic "addon manager" that manages installation and lifecycle of addons is complicated and this is yet to be designed in a good state. in any case, it feels r

[2020-07-23 00:14] #23233 closed

[2020-07-23 00:20] fmehrdad commented on #92618
/remove-triage unresolved.

[2020-07-23 00:30] neolit123 commented on #45594
untagging sig-cluster-lifecycle, until further notice.
this feels like a documentation issue around:
https://github.com/kubernetes/legacy-cloud-providers/tree/master/gce

/area provider/gcp
/sig cluster-lifecycle

[2020-07-23 00:30] neolit123 commented on #45594
/remove-sig cluster-lifecycle

[2020-07-23 00:31] zhouya0 commented on #93365
/assign

[2020-07-23 00:40] neolit123 commented on #46822
there have been recent discussions around doing that, as components might be breaking out of tree - e.g. kube-scheduler.
[1] but the overall idea of having separate set of feature gates for separate components is still seeing discussion:
https://github.com/kubernetes/kubernetes/pull/90111#discussion_r407776222

kubeadm already implements it's own set of feature gates that are only relevant to it.

[2020-07-23 00:41] neolit123 commented on #46822
...but best to have some sort of a way to automate / generate the documentation for the feature gates on each release or it's going to drift.

[2020-07-23 00:42] Huang-Wei commented on #91601
Thanks @maelk for spotting the root cause!

Given that `cache.nodeTree.next()` is only called in building the snapshot nodeInfoList, I think it's also safe to remove the indexes (both zoneIndex and nodeIndex) from nodeTree struct. Instead, come up with a simple `nodeIterator()` function to iterate through its zone/node in a round-robin manner.

[2020-07-23 00:43] liggitt commented on #93365
Duplicate of https://github.com/kubernetes/kubernetes/issues/87747 ?

[2020-07-23 00:44] Huang-Wei commented on #91601
BTW: there is a typo in https://github.com/kubernetes/kubernetes/issues/91601#issuecomment-662663090, the case should be:

[code]

[2020-07-23 00:44] neolit123 commented on #90136
related to:
https://github.com/kubernetes/kubernetes/issues/46822

[2020-07-23 00:44] liggitt commented on #93366
No, cross pod (or even cross container) start order is not expressible via the API

[2020-07-23 00:44] #93366 closed

[2020-07-23 00:45] neolit123 commented on #85883
/close
due to no response.

[2020-07-23 00:46] zhouya0 commented on #93365
@liggitt yes, I tried to add `ignore-not-found` in `kubectl wait` in https://github.com/kubernetes/kubernetes/pull/90969. But that PR seems not complete.

[2020-07-23 00:46] #85883 closed

[2020-07-23 00:57] ahg-g commented on #91601
I am assuming you are talking about the logic in generic_scheduler.go, if so yes, it is doesn't matter much if nodes were added or removed, the main thing we need to avoid is iterating over the nodes in the same order every time we schedule a pod, we just need a good approximation of iterating over the nodes across pods.

[2020-07-23 00:59] ahg-g commented on #91601
yes, we just need to iterate over all zones/nodes in the same order every time.

[2020-07-23 01:27] liggitt commented on #93338
Can you describe the issue?

[2020-07-23 01:30] liggitt commented on #93338
The controller currently ensures the beta OS and OS labels match. What issue are you seeing occur with affinity?

[2020-07-23 01:38] hgliu1985 commented on #93326
/remove-sig api-machinery
/remove-wg k8s-infra
/remove-kind bug
/kind support

[2020-07-23 01:41] hex108 commented on #86630
+1 for the idea! And yes, it is easy to accommodate :)

Yes, it's a bit "random" now. If we could implement the random part, it would be better.

We could calculate scores for the two nodes chosen by random algorithm. The Sparrow paper does not metion it, howerver Nomad(https://www.nomadproject.io/docs/schedulers.html#batch) implements it in this way.

[2020-07-23 01:41] sbangari commented on #93229
I meant service referencing the same pod.

[2020-07-23 01:53] #88061 closed

[2020-07-23 02:15] thehackercat commented on #86647
cf https://github.com/kubernetes/kubernetes/pull/93370

[2020-07-23 02:30] morhook commented on #74551
For avoiding this problem I’m creating a NodePort service and then using the command `minikube service service-name -n airflow`. Of course this can be done as my minikube is my private cluster.

[2020-07-23 02:35] rudy2steiner commented on #92092
only need update SECURITY_CONTACTS with approvers from the owner file, is right?

[2020-07-23 02:35] rudy2steiner commented on #92092
/assign

[2020-07-23 02:38] hgliu1985 commented on #93326
Yes，indeed it is. Thanks a lot for your reply!
After I delete the file  /var/lib/rancher/k3s/server/manifests/coredns.yaml or modify the value of "forward", and reboot my system, the change disappears and the default /etc/resolv.conf comes back again. How to replace the default yaml file?

[2020-07-23 02:39] zhouya0 commented on #93364
/assign

[2020-07-23 02:48] neolit123 commented on #92092
it's slightly more complicated as the contacts that are added should agree individually, see:
https://github.com/kubernetes/kubernetes/pull/93357#issuecomment-662703612

but you could send the PR and later update it with only the people that agreed.

[2020-07-23 02:52] rudy2steiner commented on #92092
Ok

[2020-07-23 02:58] Hokwang commented on #88958
@neolit123 I have same error, and I am using cillium for CNI, is this could be problem??

[2020-07-23 03:05] Cweiping commented on #93056
I don't seem to have a problem. When HPA calculates the number of **reduced copies**, the not ready pod does not participate in the calculation, and no requests are sent to the not ready pod.

[2020-07-23 03:35] neolit123 commented on #88958
the kops project is running a more complicated test matrix. you could check if your distro / cni / k8s version setup is listed as green here:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kops

in any case, bugs reported to CNI plugins should be reported to the CNI maintainers and they should make sure their plugin passes the k8s test suite.

[2020-07-23 03:54] liggitt opened #93372 "[Flaky test] Pods should delete a collection of pods"
**Which jobs are flaking**:

* pull-kubernetes-e2e-gce (5% of runs)
* pull-kubernetes-e2e-kind-ipv6
* pull-kubernetes-e2e-gce-ubuntu-containerd

**Which test(s) are flaking**:

* `[k8s.io] Pods should delete a collection of pods`

This is the flakiest test in the e2e job according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json

**Testgrid link**:

https://testgrid.k8s.io/presubmit

[2020-07-23 03:55] liggitt commented on #93372
merged 2 weeks ago in https://github.com/kubernetes/kubernetes/pull/92479

[2020-07-23 03:55] liggitt commented on #93372
/assign @Riaankl

[2020-07-23 04:05] liggitt commented on #93372
potential mitigation in https://github.com/kubernetes/kubernetes/pull/93373

[2020-07-23 04:08] liggitt opened #93374 "[Flaky test] EndpointSlice should create Endpoints and EndpointSlices for Pods matching a Service"
**Which jobs are flaking**:

* ci-kubernetes-kind-e2e-parallel
* pr:pull-kubernetes-e2e-gce
* pr:pull-kubernetes-e2e-gce-ubuntu-containerd
* pr:pull-kubernetes-e2e-gce-ubuntu-containerd
* ci-kubernetes-kind-ipv6-e2e-parallel

**Which test(s) are flaking**:

Second flakiest test in the e2e job according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json

**Testgrid link**:

https://tes

[2020-07-23 04:10] liggitt commented on #93374
needs investigation since we're switching kube-proxy to endpointslice in this release

[2020-07-23 04:18] BenTheElder commented on #93334
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-conformance-kind-ga-only/1286106121483849728
/assign
/close

[2020-07-23 04:18] #93334 closed

[2020-07-23 04:18] liggitt opened #93375 "Disable failing sd-logging test jobs until fixed"
it looks like the following test jobs have been solidly failing for a couple weeks:
* https://testgrid.k8s.io/google-gce#gci-gce-sd-logging&width=5
* https://testgrid.k8s.io/sig-node-containerd#e2e-gci-sd-logging-k8s-resources&width=5
* https://testgrid.k8s.io/sig-node-containerd#e2e-gci-sd-logging&width=5
if those are not providing useful signal, we should stop running them. CI capacity is overco

[2020-07-23 04:19] liggitt commented on #93375
cc @sig-testing for visibility

[2020-07-23 04:19] BenTheElder commented on #93334
some pods are still going to hit the issue in the title, but what was mostly discussed here was a specific issue that _reliably_ caused this for one test.

that issue is resolved.

flaky failure to run the tests in prow is not, but it's also probably not going to be easily, and not new.

[2020-07-23 04:30] MikeSpreitzer opened #93376 "dump_requests lists phantom request for each exempt priority level"
**What happened**:
Testing API Priority and Fairness, I issued this command in a rather idle cluster:
[code]
and I got this result:
[code]

That is, a list of one request with no information of any sort.  That comes from https://github.com/kubernetes/apiserver/blob/24947093e02e913416119fa204aa61fb7da6533b/pkg/util/flowcontrol/apf_controller_debug.go#L165-L188 , which invents one phantom request fo

[2020-07-23 04:31] MikeSpreitzer commented on #93376
@kubernetes/sig-api-machinery-bugs

[2020-07-23 04:31] MikeSpreitzer commented on #93376
/cc @yue9944882
/cc @lavalamp
/cc @deads2k
@rngy

[2020-07-23 04:38] BenTheElder commented on #93358
I'd love to know what is happening during bind, exactly. Can anyone give a quick overview? I can dig in later but it would help me determine if there's something we can do to mitigate in kind quicker.

[2020-07-23 04:50] BenTheElder commented on #89064
happens sometimes on GCE / containerd too https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=failed%20to%20create%20containerd%20task#a845b734d2e03c6333ce

[2020-07-23 04:55] #88446 closed

[2020-07-23 05:01] mkt-mohit commented on #69973
unable to read client-cert /var/lib/kubelet/pki/kubelet-client-current.pem

after above solution. Kubelet is not starting only

[2020-07-23 05:02] jingyih commented on #93280
@xiang90 When defrag happens on etcd leader, it stalls the leader's apply stage, but leader's log replication should still be functional? So under such circumstance, if etcd client (apiserver) sends a write request to leader, leader will reject this request because its apply is too far behind. But, if etcd client sends a write request to follower (who is not performing defrag), follower's raft ins

[2020-07-23 05:17] BenTheElder commented on #93374
made me think of https://github.com/kubernetes/kubernetes/pull/91399, but that's in already.

[2020-07-23 05:33] liggitt commented on #93374
It's possible it's a test timeout that's just too close, but we need verification of that checking the controller and apiserver logs to make sure there isn't a latent bug

[2020-07-23 05:46] wojtek-t commented on #93375
@piosz @serathius @44past4

[2020-07-23 06:05] sunchill06 commented on #93292
@liggitt, thanks for your valuable input.

Though I have one more query here.

kind: ValidatingWebhookConfiguration
apiVersion: admissionregistration.k8s.io/v1beta1
metadata:
  name: webhook
webhooks:
  - name: webhook.example.com
    rules:
      - operations: ["CONNECT"]
        apiGroups: ["*"]
        apiVersions: ["*"]
        resources: ["pods/exec"]

Will it block exec into the pod or even

[2020-07-23 06:26] aojea opened #93377 "Jobs https://k8s-testgrid.appspot.com/sig-network-netd"
**Which jobs are failing**:

All jobs in this tab https://k8s-testgrid.appspot.com/sig-network-netd

**Which test(s) are failing**:

**Since when has it been failing**:

07/22 12.00 PDT

**Testgrid link**:

https://k8s-testgrid.appspot.com/sig-network-netd

**Reason for failure**:

U=https://storage.googleapis.com/koonwah-repo-pub/devel R=v1.11.2-beta.0.20+21777efd99bd59 get-kube.sh failed: error

[2020-07-23 06:28] aojea commented on #93377
/sig network
@bowei @MrHohn this may be something Google specific?

[2020-07-23 06:36] zhaocheng173 opened #93379 "plugin/loop: Loop (192.168.0.49:54616 -> 192.168.0.49:53) detected for zone "in-addr.arpa.", see https://coredns.io/plugins/loop#troubleshooting. Query: "HINFO 8152613472028609709.5116360551987037255.in-addr.arpa.""
[code]

**Which jobs are failing**:
[code]

**Which test(s) are failing**:
`[FATAL] plugin/loop: Loop (192.168.0.49:54616 -> 192.168.0.49:53) detected for zone "in-addr.arpa.", see https://coredns.io/plugins/loop#troubleshooting. Query: "HINFO 8152613472028609709.5116360551987037255.in-addr.arpa."`

**Since when has it been failing**:
Failure to deploy
**Testgrid link**:
no link
**Reason for failu

[2020-07-23 06:42] robscott commented on #93374
Thanks for catching this! It looks like the timeouts are actually associated with waiting for 2 pods to be ready, not actually anything related to EndpointSlice functionality - timeout is here: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/endpointslice.go#L261-L285. Given that, it seems like the obvious solution would be to update the Services to set `publishNotReadyAddres

[2020-07-23 06:42] robscott commented on #93374
/remove-triage unresolved

[2020-07-23 06:43] wojtek-t commented on #93341
The reason for this failure is exactly https://github.com/kubernetes/kubernetes/issues/90047

What is happening in this test is:
- GetEndpointNodes is faulty: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L2928
- it first get up to 3 schedulable nodes: https://github.com/kubernetes/kubernetes/blob/126bb79201227164caf799798c89da44301d0e27/test/e2e/framework/servic

[2020-07-23 07:29] wojtek-t commented on #93280
@lavalamp - that makes sense at the high level, but number of requests doesn't have to be equally spread across masters. So if we would set in-flights for an individual master to be e.g. equal to (90% of etcd capacity / number of masters), and most requests will be coming to a single master (e.g. because of http2 and reusing existing connections) we may potentially loose a lot of capacity.
So I gu

[2020-07-23 08:12] Shahard2 commented on #73480
I'm also facing it,
Any workaround so far?

[2020-07-23 08:28] serathius commented on #93375
/assign

[2020-07-23 08:36] krzysied commented on #93056
Then it means that the test name is very misleading. If the whole idea was to **ignore** pods maybe we should rename test to TestScaleDownIgnoresUnreadyPods?
Based on https://github.com/kubernetes/kubernetes/blob/b618411f1edb98afe807866fb3a607356d72ba24/pkg/controller/podautoscaler/replica_calculator.go#L400 there is a possible execution when unready pods are taken into account.

[2020-07-23 08:49] adelina-t commented on #93349
@jsturtevant One alternative to creating the webhook at provisioning time ( I still thing this is the cleaner version of the fix ), we can just mark GMSA tests [SERIAL], thus we won't have a problem with this race.

[2020-07-23 09:00] #88304 closed

[2020-07-23 09:14] AcidAngel21 commented on #68270
We have exactly the same problem in v1.18.3 and v1.18.6.

**Environment:**
Rancher v2.4.5
Rancher OS 1.5.1
RKE provisioned HA with stacked etcd
vSphere cloud provider

[2020-07-23 09:23] mars1024 commented on #89440
/reopen ping @BSWANG , any details?

[2020-07-23 10:14] Arun-KumarH commented on #90441
/remove-lifecycle stale

[2020-07-23 10:18] heyste commented on #93372
To track down the test flaking there was some great feedback in #93086 by @MHBauer and @alejandrox1

#93369 was created as a potential fix based on that feedback
/cc @Riaankl

[2020-07-23 10:29] rtheis commented on #93338
@liggitt We believe the flow is as follows:
1. Deploy control plane components, API server etc.
1. Deploy addon components (https://github.com/operator-framework/operator-lifecycle-manager in our case).  These components will stay in Pending status until worker nodes are ready.
1. Deploy worker nodes.
1. Worker node X is registered with the API server (no `beta.kubernetes.io/os` label yet).
1. Sch

[2020-07-23 10:33] uablrek commented on #93337
Which proxy-mode? Ipvs or iptables? Or Calico in eBPF mode?

If you use Calico in eBPF mode I would say this is a Calico problem.

[2020-07-23 11:08] BSWANG commented on #89440
@mars1024
* using embedded dockershim cri-runtime
* kubectl delete --force --grace-period=0   OR   pod ignore SIGTERM singal and ungraceful exit.

[2020-07-23 11:12] zhxqgithub opened #93385 "the pod mount pvc failed due to rbd image xxx is still being used"
**What happened**:
I lanch a pod with pvc,however the pod can not start success. the error below:
[code]
I can not see any mount info about this pvc when I check all the node in the k8s cluster . however ,when go through the code ,found that this pvc still has watcher info(use rbd status)
[code]

**What you expected to happen**:

the pod can start sucessful.

**How to reproduce it (as minimally an

[2020-07-23 11:14] zhxqgithub commented on #93385
/sig storage

[2020-07-23 11:18] easvera commented on #25456
You are a life saver.

[2020-07-23 11:48] maelk commented on #91601
I have updated the PR with a unit test for the function updating the snapshotlist, for that bug specifically. I can also take care of refactoring the next() function to iterate over the zones and nodes without round-robin, hence removing the issue.

[2020-07-23 12:06] karolinepauls commented on #93018
That's for self-hosted clusters by the looks of it.

[2020-07-23 12:07] poros commented on #81723
It would be nice to have this kind of information for my company, too :)

[2020-07-23 12:18] ahg-g commented on #91601
Thanks, sounds good, but we should still iterate between zones the same way we do now, that is by design.

[2020-07-23 12:30] maelk commented on #91601
I don't really get what you mean here. Is it so that the order of the nodes matter and we must still go round-robin between zones or can we list all nodes of a zone, one zone after the other ? Let's say that you have two zones of two nodes each, in which order do you expect them, or does it even matter at all ?

[2020-07-23 12:40] ahg-g commented on #91601
The order matters, we need to alternate between zones while creating the list. If you have two zones of two nodes each `z1: {n11, n12}` and `z2: {n21, n22}`, then the list should be `{n11, n21, n12, n22}`

[2020-07-23 12:52] sagor999 commented on #93337
@uablrek yes. proxy mode = iptables. Calico is NOT in eBPF mode.

[2020-07-23 12:57] tanjunchen commented on #86763
@ZhiFeng1993
see https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/expect.go   There is the log function in /e2e/framework/expect.go .

[2020-07-23 13:03] #88454 closed

[2020-07-23 13:12] maelk commented on #91601
ok, thanks, I'll give it a thought. Can we meanwhile proceed with the quick fix ? btw, some tests are failing on it, but I am not sure how that relates to my PR

[2020-07-23 13:25] ahg-g commented on #91601
Those are flakes. Please send a patch to 1.18 as well.

[2020-07-23 13:32] hasheddan commented on #88974
@jsturtevant I am going to bump this to v1.20 given that the tests that are failing have been removed and we just haven't seen that reflected yet because of the old build

/milestone v1.20

[2020-07-23 13:35] hasheddan commented on #91739
Given that this is not release blocking and we have limited insight into the testing environment, I am going to bump this to v1.20

/milestone v1.20

[2020-07-23 13:35] maelk commented on #91601
Ok, will do. Thanks

[2020-07-23 13:44] nikhita commented on #82396
/remove-lifecycle rotten

[2020-07-23 13:48] chenshuyuhhh opened #93386 "Error pinging docker registry k8s.gcr.io, but the registry I configured is registry.aliyuncs.com not k8s.gcr.io"
**What happened**:
when I create nginx pod:

[code]
 The registry I configured is registry.aliyuncs.com not k8s.gcr.io. However, the cluster still uses k8s.gcr.io.

**What you expected to happen**:
create nginx pod by registry.aliyuncs.com

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[code]

**Anything else we need to know?**:

The content of the file `/etc/yum.repos.

[2020-07-23 14:15] alculquicondor commented on #86630
That's probably not too bad if you are not using node affinity or pod spreading. On the other hand, some users rather want tight bin packing, which is rather the opposite from load balancing.

What I'm saying is that you might be ok with having it set to 2 for your use case, but it's probably not enough for all users.

[2020-07-23 14:15] chrisohaver commented on #93379
IIUC, the failing-test label is used for tracking failures in k8s CI tests (i.e. unit tests or e2e tests).

IIUC, you are seeking assistance for resolving an error in a log, not reporting a failing.

Have you read https://coredns.io/plugins/loop#troubleshooting ?

What does your CoreDNS configmap contain?

[2020-07-23 14:36] wojtek-t commented on #93217
To give a short update:
- we're run experiments to run tests with 8-core masters (instead of 4-core) and they were waaay better; so I think we already know it's related to cpu-starvation on the master (short spikes)
- @tosi3k and @jkaniuk were trying to dig deeper into what is happening but apperently (except from #92840 which we know that increase resource usage and is expected and can be revert

[2020-07-23 14:41] liggitt commented on #93217
if we have visibility to the metric in regular post-submits that we pay attention to, that seems reasonable

I wouldn't recommend this for a presubmit that runs on every PR just to deflake this one metric

[2020-07-23 14:44] liggitt commented on #93338
Do you have the manifests that are deployed?

Do you have the manifest for that pod?

Are you using `requiredDuringSchedulingIgnoredDuringExecution` or `preferredDuringSchedulingIgnoredDuringExecution` affinity?

[2020-07-23 14:47] liggitt commented on #93374
If that is still exercises the same conditions (I vaguely remember publishNotReadyAddresses changing code paths in the endpoints controller... does it do the same in the endpointslice controller?), that seems reasonable to me.

[2020-07-23 14:48] toha-tk commented on #93325
That's funny, but retry really helped in my case.

The only thing I've forgot to mention, that we have an independent deploy of all services in kube.
I've reviewed logs of the applications deploy and we caught a moment of parallel deploy on couple applications, and second one returned that error `Error: cannot find volume "default-token-h8rkg" to mount into container "php"`

Not sure, if can help

[2020-07-23 14:53] liggitt commented on #93292
One nit, should be `apiGroups: [""]`

That will intercept requests to exec into the pod. I'm not sure what you mean by "commands that I run from outside the pod"

[2020-07-23 15:14] MrD2 commented on #75227
This should be reviewed

[2020-07-23 15:31] lubronzhan commented on #92496
yeah @ddebroy, `san policy` is `Offline Shared`
[code]
I'll try set it to online all and retry.
Thanks!

I wish we could have some documentation about some parameters requirement on windows configuration. This kind of issue is so hard to debug.

[2020-07-23 15:34] Novex commented on #81001
/remove-lifecycle rotten

[2020-07-23 15:41] uablrek commented on #93337
If the entry for the connection in the connection tracker (conntrack) on the node where the client POD executes is lost this will happen. Why the connection would be lost I can't say. The packet is a keep-alive which may indicate that the connection has been idle for a long time and the conntrack entry has timed out. However this should not normally happen unless the conntrack timers or the keep-a

[2020-07-23 15:45] uablrek commented on #93337
Find conntrack settings for kube-proxy here; https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/

[2020-07-23 15:49] liggitt commented on #93386
are you setting the `--pod-infra-container-image` option in the kubelet?

[2020-07-23 15:59] #93321 closed

[2020-07-23 16:18] AkashSarda commented on #93094
yeah, this does not seem to be a networking issue. What I understand from the issue description is that there is a service name clash, as services with the same name are existing on two different nodes and that too with the same port, so there should be some differentiation between the two services based on the host they are running on.

@SetarehStar : what I understand by multi site is that since

[2020-07-23 16:18] rikatz commented on #91331
@wk60807430 any evolution on this? Need the iptables dump from kube-proxy to take a look.

/triage needs-information

[2020-07-23 16:22] rikatz commented on #91809
/assign

[2020-07-23 16:23] rikatz commented on #91809
@Khamphai was the previous related issue your case. If so can this issue be closed?

Thank you

/sig network
/remove-kind feature
/triage support

[2020-07-23 16:25] rikatz commented on #91631
@AnwarArifa is this still a thing?

[2020-07-23 16:25] rikatz commented on #91631
/assign

[2020-07-23 16:28] jingyih commented on #93348
The panic stack trace is different than what has been fixed in https://github.com/etcd-io/bbolt/pull/153

It looks like the panic happens when bbolt is reconstructing freelist from disk.

@azye Is there a way to reproduce this panic?

cc @ptabor @gyuho @jpbetz

[2020-07-23 16:29] rikatz commented on #78949
@maxstr not sure how is this going, do you want to propose a PR for this? Maybe bring to sig network meeting?

Thank you :)

[2020-07-23 16:38] rikatz commented on #83723
@thockin So as this is a part of a pod lifecycle, maybe we should make this a field in Pod specification and remove the traffic shaping when this field is also changed, and triggers a reconciliation which will recreate the Pod and all the networking stuff.

If this is a thing I can work on it, proposing the field creation (instead of using the annotation) and changing the bandwidth part in a later

[2020-07-23 16:44] robscott commented on #92776
@RobertKielty do you think we can close this bug now? I haven't seen this fail recently.

[2020-07-23 16:46] tallclair commented on #92102
@nikhita do you know what the process for deleting a repo is? We deleted the staging source for node-api in https://github.com/kubernetes/kubernetes/pull/87503.

/cc @liggitt

[2020-07-23 16:47] liggitt commented on #92102
we should definitely not delete the repo, it is still referenced from historical versions. we can make a PR directly against master of that repo

[2020-07-23 17:08] tehleet opened #93390 "Destroying AWS EKS using Terraform does not delete NLB"
**What happened**:
Create EKS using Terraform modules and provision NLB using k8s service with annotations. Doing Terraform destroy removes cluster, but NLB is not deleted.
**What you expected to happen**:
Did not tried with manual creation of EKS and deleting EKS from the console, but doing terraform destroy on EKS should delete created resources by EKS
**How to reproduce it (as minimally and pre

[2020-07-23 17:13] azye commented on #93348
@jingyih No specific reproduction steps I can think of. The error happened on a running cluster while it was sitting idle overnight (no crashes occurred to the host machine itself). When we checked the cluster in the morning and were unable to reach the cluster and discovered this error while going through logs. The error provided had to be pulled from docker instead of kubectl.

[2020-07-23 17:24] jingyih commented on #93280
Yes. Quorum read is also affected (blocked) by defrag.

[2020-07-23 17:27] MrHohn commented on #93377
@aojea Yep, looks like the netd suite is google specific. Adding @cadmuxe - hey Koonwah, quick question, do we still need this job or can we turn it down?

[2020-07-23 17:32] cadmuxe commented on #93377
Thank you for the triage. I think we can turn it down, this was needed before we actually running it broadly on gke.
And it already got good coverage by our gke testbed, so we can remove it from oss.

[2020-07-23 17:33] mattfenwick commented on #91236
I ran [this](https://github.com/mattfenwick/kubernetes/pull/1) for several hours on my mac, through 1144 iterations no error yet.

My conclusion: this test isn't flaky on KinD.

Possible next step: run a large number of iterations of the same test on a GKE cluster.

[2020-07-23 17:35] Riaankl commented on #90923
/reopen
Wait for Promotion PR to Merge.  #90939

[2020-07-23 17:43] hakuna-matatah commented on #86715
If healthz is succeeding from the box (Master node) -
[code]

but you encounter `/healthz ` failures in apiserver logs like this

[code]
one possibility is that your cluster might have modified CRB `ClusterRoleBinding/system:public-info-viewer` to not allow `system:unauthenticated` calls to Apiserver.

Please check that if thats the cause and if so, modify the CRB to add this

[code]

[2020-07-23 17:50] Huang-Wei commented on #86630
It's bit of ok even if they use node affinity or pod spreading. But users should be aware of that the "heavy" work is done in the PreFitler phase, so they **may** not see their expected performance boost.

Agree, so if we go with this, this should be a profile-level argument, not global.

[2020-07-23 17:55] rokej opened #93391 "Inline patch kustomization does not work"
**What happened**:

Using `k8s.io/cli-runtime/pkg/kustomize` to build with kustomization.yaml that contains inline patch (https://github.com/kubernetes-sigs/kustomize/blob/master/examples/inlinePatch.md) fails with `SliceFromPatches: evalsymlink failure` error.

Here is my simple test code. In the first block, I use the  `k8s.io/cli-runtime/pkg/kustomize` module and it fails. The second block does

[2020-07-23 17:57] rokej commented on #93391
/sig cli

[2020-07-23 18:05] apelisse commented on #93363
Actually I suspect that's a bug. No one has ever wanted to apply to an object that is being deleted.

So I'm suggesting something different:
1. Fail apply on objects that are currently being deleted by using the mechanism describe in the original post
2. Create an option to allow apply on these objects
3. Backport that fix to former versions of kubernetes

[2020-07-23 18:45] sagor999 commented on #93337
Connection has only been idle for about 20 seconds. So I don't think it would timeout that fast.
I did check our conntrack settings for kube-proxy, and they are all default.
Just to confirm, this is what I see in logs for kube-proxy:
[code]
We are also not even close to conntrack max entries. Highest number for conntrack entries is about 150k, while max is 2.3M.

[2020-07-23 19:08] shyamjvs commented on #93280
Sorry.. just caught up with the discussion.

Fully agree with Wojtek's point here. In fact, this is something we did run into in practice while horizontally scaling out apiservers. And IMO it's far from obvious how to set the inflight limits based on different factors like etcd disk IOPS, network latency across etcd peers, etc. Further, dynamically readjusting those inflight limits as we're scalin

[2020-07-23 19:24] masaeedu commented on #51322
@khenidak I'm running the kubelet (and also the container runtime) inside a container, since I'm using the kind.sigs.k8s.io/ project. Could you elaborate on the issues you were referring to? Is a kubelet or container runtime running inside a container not supported?

[2020-07-23 19:56] agniveshadhikari opened #93392 "kubectl CRD delete hangs"
**What happened**:
I ran
`kubectl delete CustomResourceDefinition challenges.acme.cert-manager.io`
Outputs
`customresourcedefinition.apiextensions.k8s.io "challenges.acme.cert-manager.io" deleted`
and then stuck forever.

Exiting using Ctrl+C, and querying again shows that the CRD was not deleted.

**What you expected to happen**:
Delete the CRD and return to prompt.

**How to reproduce it (as min

[2020-07-23 20:08] jsturtevant commented on #93295
/assign @adelina-t

[2020-07-23 20:11] #86531 closed

[2020-07-23 20:14] fedebongio commented on #93346
/remove-sig api-machinery
this seems to be mostly sig-cli

[2020-07-23 20:15] fedebongio commented on #93359
/assign @logicalhan

[2020-07-23 20:16] fedebongio commented on #93360
Hi! @heyste thank you for your finding! Would you send us a PR and we will review it? it's the most effective way of fixing it! Thank you in advance!

[2020-07-23 20:18] fedebongio commented on #93361
/assign @caesarxuchao

[2020-07-23 20:19] fedebongio commented on #93362
looks like the right people is in cc :)

[2020-07-23 20:39] imabelli opened #93393 "Pod IP is not in IPv4 format (2 pods on worker node have same IP of fc00:2 ::32)"
**What happened**:
Multiple pod IPs are labeled as fc00:2 ::32

**What you expected to happen**:
I expected pod IP to be in 10.244.0.0/16 subnet, as specified during kubeadm init because I am using flannel

**How to reproduce it (as minimally and precisely as possible)**:
`kubeadm init --pod-network-cidr=10.244.0.0/16 --skip-phases=addon/kube-proxy`
`kubeadm join` on worker node yields first pod w

[2020-07-23 20:54] #90957 closed

[2020-07-23 20:59] tallclair commented on #92102
Got it. Do you think we'd want to delete it at some point, or should we plan to keep it indefinitely? Would it make sense to archive the repo? Either way, we should probably add a deprecation / EOL notice (I can take that).

[2020-07-23 21:01] tallclair commented on #92914
@tabbysable Any interest in turning your POC into a Kubernetes E2E test? I was intending to use the overridden redirect feature added in https://github.com/kubernetes/kubernetes/pull/92850 as the basis for the E2E.

[2020-07-23 21:06] bridgetkromhout commented on #93377
/assign @MrHohn

[2020-07-23 21:06] RobertKielty commented on #92776
Hi @robscott thanks for pinging me on this issue.

I'm still seeing EndpointSlice resource not deleted errors (admittedly on other tests)

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=EndpointSlice%20resource%20not%20deleted%20after%20Service

cc @hasheddan What do you think we should do here?

[2020-07-23 21:07] liggitt commented on #92102
deleting code referenced by shipped releases is extremely poor practice. archiving and updating the readme to indicate EOL seems good.

[2020-07-23 21:07] bridgetkromhout commented on #93341
/assign @thockin

[2020-07-23 21:09] bridgetkromhout commented on #93337
/assign @uablrek

[2020-07-23 21:10] bridgetkromhout commented on #93267
/assign @thockin

[2020-07-23 21:12] bridgetkromhout commented on #93229
/assign @robscott

[2020-07-23 21:13] bridgetkromhout commented on #93143
/assign @aojea

[2020-07-23 21:15] bridgetkromhout commented on #93131
/remove-triage unresolved

[2020-07-23 21:18] Riaankl commented on #90936
/reopen
Test PR Merge
Promotion PR to be created next

[2020-07-23 21:19] thockin commented on #93267
I don't know whether we want this, really, or not.  Ingress is a pretty rich resource, and most of the "create" commands are rather sparse in their coverage of the resource.

I'm fine to resurrect this idea, it seems consistent and well-aligned, even if I am not sure of the overall value.

Does anyone from sig-cli have an opinion?

[2020-07-23 21:19] bridgetkromhout commented on #93094
/assign @aramase

[2020-07-23 21:20] logicalhan commented on #93359
/cc @MikeSpreitzer

[2020-07-23 21:24] bridgetkromhout commented on #93091
/assign @dcbw

[2020-07-23 21:25] 0blu commented on #49792
With the help of @coderanger I've developed a system that might be able to solve a niche problem.
You have to install a service that is watching all over all pods, if a new pod (with specific labels) is created, a service and endpoint with a `nodePort` is automatically assigned to it.
To get the dynamic port number you have to use some kind of query API on the pod to fetch an annotation that is st

[2020-07-23 21:27] liggitt commented on #93392
removal of a CRD blocks on deletion of the individual CR instances

removal of the individual instances can block on finalizers

if you get the CRD in yaml form, what conditions are listed in the status?

[2020-07-23 21:29] liggitt commented on #93393
are those pods hostNetwork pods?

[2020-07-23 21:43] jayunit100 commented on #93143
/unassign

[2020-07-23 21:46] jayunit100 commented on #92559
@dvaldivia ... still interested in this or should we close  ?

[2020-07-23 21:49] jayunit100 commented on #93341
We need an e2e for this one.... ill follow on in a separate issue.

[2020-07-23 21:52] jayunit100 opened #93397 "E2e Test for multiple services with endpoints"
**What happened**:
https://github.com/kubernetes/kubernetes/issues/93229 indicates that we're missing an e2e test for.

This specific issue is just a tracker to create a new E2E test that demonstrated 93229 .

[2020-07-23 21:53] jayunit100 commented on #93397
/sig network

[2020-07-23 21:56] jayunit100 commented on #93397
/assign

[2020-07-23 21:56] jayunit100 commented on #93397
btw, should this be a part of conformance?

[2020-07-23 21:58] wiardvanrij opened #93399 ""Self" DOS with large deployment and scaling"
**What happened**:
When creating a deployment (so we can scale up/down), having a container, containing a massive amount of ENV data, results in very destructive behaviour on the entire k8s setup. Including master nodes.

- worker workload increases massively
- etcd database gains a lot of data
- Memory usage of the API server increases massively
- API becomes unresponsive

**What you expected to

[2020-07-23 22:00] MikeSpreitzer commented on #93359
So the problem here is that control plane kubelets typically test liveness by hitting the secured port with no credentials, equivalent to this:
[code]

With logging turned way up in the apiserver, we see stuff like the following
[code]

So to fix the current emergency we need APF configuration to exempt such requests from limitation.  The down side is that this rips a big hole in the purpose of AP

[2020-07-23 22:01] bridgetkromhout commented on #92889
/assign @thockin

[2020-07-23 22:01] wiardvanrij commented on #93399
/sig product-security

[2020-07-23 22:02] abhiraut commented on #93111
Thanks @danwinship. @vrathore18 I have added this use case to our NetworkPolicy++ user stories [1]. Since you have opened an issue in Calico for the bug.. I think we can close this issue here.

[1]: https://docs.google.com/document/d/1AtWQy2fNa4qXRag9cCp5_HsefD7bxKe3ea2RPn8jnSs/edit#heading=h.r4q3kstxko8w

[2020-07-23 22:04] wiardvanrij commented on #93399
/sig api-machinery

[2020-07-23 22:08] MikeSpreitzer commented on #93359
BTW, exactly which paths are the problem here?

[2020-07-23 22:10] cbf123 commented on #93268
@fedebongio Are you sure about removing api-machinery?  Kubelet calls code in kubernetes/vendor/k8s.io/client-go which in turn calls the upstream code referenced in golang/go#40213

[2020-07-23 22:10] logicalhan commented on #93359
`/healthz`, `/readyz`, `/livez`

[2020-07-23 22:12] #83622 closed

[2020-07-23 22:17] lavalamp commented on #93359
I think the best fix here is for monitoring stuff to get its own account.

[2020-07-23 22:17] MikeSpreitzer commented on #93359
This will exempt all traffic to those paths:
[code]

[2020-07-23 22:18] MikeSpreitzer commented on #93359
Do we want a fix for this in the 1.19 release?

[2020-07-23 22:19] lavalamp commented on #93268
I think we missed that this was just waiting for the mentioned fix to become available.

/sig api-machinery
/remove-sig node

[2020-07-23 22:21] lavalamp commented on #93359
Personally, I'd prefer not to rush. People with this problem can manually
add in the configuration you suggested.

I think we don't want to exempt healthz generally, we want people to run
their monitoring infrastructure with some account, and we can exempt
healthz only for that account.

On Thu, Jul 23, 2020 at 3:19 PM Mike Spreitzer <notifications@github.com>
wrote:

[2020-07-23 22:22] aojea commented on #93393
it's interesting that the IPv6 pods are the only ones in the node `vlab-01`

can you paste the output of `kubectl get nodes -o wide` ?

[2020-07-23 22:28] imabelli commented on #93393
hostNetwork is specified for the daemonset manifest that generated `route-check-ds-lktnq` pod. I'm not sure about this pod- `kube-flannel-ds-amd64-vv2sd` that was generated right after I joined vlab-01 to the cluster. Is it safe to use flannel without kube-proxy?

[code]

I see the IP matches the IP for my vlab-01 machine. Why would that be? Shouldn't flannel assign a pod IP in the 10.244.0.0/16 s

[2020-07-23 22:33] imabelli commented on #93393
Would skipping kube-proxy be an issue? I aim to save disk space on worker nodes. I am only using k8s master to manage daemonsets running in worker nodes to ensure that each worker node is running one container of the image specified in the daemonset manifest (no self-defined services, no load balancing, no HTTP request processing). But I'm unsure if lack of kube-proxy would affect other system ser

[2020-07-23 22:47] MikeSpreitzer commented on #93359
Another approach is to handle unauthenticated requests for health by putting them in their own limited priority level; I suspect that would solve the original problem here, which is other work crowding out the health checks.

[2020-07-23 22:52] hasheddan commented on #93390
@tehleet I have observed similar behavior to this across a few cloud providers, but it is typically not inherent to how Kubernetes works. What is likely happening is that the provider is killing the cluster before the load balancer controller has cleaned up the load balancer, so the controller is stopped while the load balancer still exists. There are a few workarounds for this, but your best bet

[2020-07-23 22:59] grosser commented on #93359
the `health-for-all` sounds like a really good workaround for now 👍

[2020-07-23 23:00] lavalamp commented on #93359
Well... then someone sending unauthenticated healthz requests (which is
easy) could starve out the monitoring system!

On Thu, Jul 23, 2020 at 3:48 PM Mike Spreitzer <notifications@github.com>
wrote:

[2020-07-23 23:01] grosser commented on #93359
yes, not a good solutions for clusters that don't trust their users

[2020-07-23 23:11] blaggacao commented on #40244
https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20191227-app-protocol.md

[2020-07-23 23:11] joelsmith opened #93400 "Exponential entity expansion allowed by jsonpath function"
**What happened**:

This issue was originally reported via the Kubernetes HackerOne bug bounty by HackerOne user [lazydog](https://hackerone.com/lazydog) but we have decided that due to the high privileges required, it can be addressed publicly.

A user able to create CRDs could create a malicious CRD such that listing CRs will cause enormous amounts of CPU usage on the API server.

**What you exp

[2020-07-23 23:12] blaggacao commented on #40244
Looks like the foundations are implemented: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20191227-app-protocol.md

[2020-07-23 23:19] MikeSpreitzer commented on #93359
How about
[code]
... which opens the door enough for those unauthenticated kubelets, excluding authenticated users on the grounds that they should get some more discriminating treatment anyway.

[2020-07-23 23:20] grosser commented on #93359
definitely safer/simpler .... still there is room for abuse as @lavalamp pointed out, not sure how big of a priority that is and if it's safe to ship something like this as a default

[2020-07-23 23:39] caesarxuchao commented on #93361
FWIW, the current behavior is defined here: https://github.com/kubernetes/kubernetes/blob/e884b40e73c52227342e591ddf996cef262b3bd4/staging/src/k8s.io/apiserver/pkg/server/config.go#L660-L665

If the path is not handled, the apiserver always returns the index page.

Also note that some debug endpoints explicitly choose to not be included in the index page: https://github.com/kubernetes/kubernetes/b

[2020-07-23 23:47] MikeSpreitzer commented on #93359
Here is a PR that adds health-for-strangers to the suggested config: #93401 ; it could be merged into #93311 .

[2020-07-23 23:48] MikeSpreitzer commented on #93359
But I am not sure we want it generally, or just to make it available to those who need it.  If the latter, should it go in https://kubernetes.io/docs/concepts/cluster-administration/flow-control/ ?

[2020-07-23 23:50] robscott commented on #93374
I think the code path is very similar here, the only real difference should be how the EndpointSlice controller calculates readiness. I've gone ahead and filed a PR that uses this approach, hopefully it helps: https://github.com/kubernetes/kubernetes/pull/93402

[2020-07-23 23:51] grosser commented on #93359
yeah in the docs would be good enough ... "to prevent api server from failing it's liveness probe when under heavy load consider adding <paste>"

[2020-07-23 23:53] robscott commented on #92776
Hey @RobertKielty, thanks for letting me know about the other failures! This is a tricky one since it's a timeout on garbage collection which could take a variable amount of time. I've opened a new PR that increases the timeout by 50%, hopefully that will be sufficient: https://github.com/kubernetes/kubernetes/pull/93402

[2020-07-24 00:22] dvaldivia commented on #92559
@jayunit100 yes! I'm still interested, sure let's pass it on the sig-cluster-lifecycle to continue the conversation

[2020-07-24 00:35] xagent003 commented on #85397
I am seeing this with NodePort service as well @2rs2ts , fyi @thockin @uablrek:

[code]

nginx5 I did not set/change any externalTrafficPolicy, so it is using default. for nginx2, I explicitly set externalTrafficPolicy to Local.

You can see here, that it is redirecting the packet to a different host:

[code]

Here is an alternate iptables view:

[code]

In this case here, POD IP 10.20.9.131 is lo

[2020-07-24 00:41] saad-ali commented on #89173
/assign

[2020-07-24 00:59] BenTheElder commented on #92937
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93264/pull-kubernetes-e2e-kind/1286461110551056384

we still have what appear to be timeout from clonerefs
I still think we probably want to pre-clone k/k in the clonerefs image, but that will require a decent bit of work in test-infra

[2020-07-24 01:28] zhangguanzhang commented on #86715
I check the crb is ok, it's not been modified

[code]

[2020-07-24 01:28] MikeSpreitzer commented on #93359
OK, I will create a doc PR.

[2020-07-24 01:33] michmike commented on #92496
this is a good catch Deep. i hope this is the issue!

[2020-07-24 02:51] yue9944882 commented on #93399
i remember there were similar security reports months ago.. we're building up a flowcontrol system in the kube-apiserver so that overwhelming requests from other components like KCM won't halt down the server..

https://kubernetes.io/docs/concepts/cluster-administration/flow-control/

[2020-07-24 03:00] JokerDevops opened #93404 "About creating PVS in Kubernetes using different CEphFS"
**What would you like to be added**:
look，I have three different CEPHFS file systems in the same Ceph:
[code]
But when I created the PV I needed in the Kubernetes cluster, I was unable to specify the CEphFS filesystem.
So if I want to use my Node-cephfs, what do I do with cephfs?
I use ` kubectl explain ` consult about ` PersistentVolume.spec.cephfs` keywords, the output information is as follows:

[2020-07-24 03:01] JokerDevops commented on #93404
/sig storage

[2020-07-24 03:36] sunchill06 commented on #93292
so what I mean is following:

kubectl exec -it <podname> -n <namespace> -- bash [ I want to block this ]
kubectl exec -it <podname> -n <namespace> -- cat /etc/hosts [ But this should continue working ]

[2020-07-24 03:50] xagent003 commented on #85397
The problem above, at least for us, is specific to our deployment apparently. We are overrriding the hostname to kubelet by using the IP of the node directly, like so: --hostname-override=172.20.4.214

This differed from the hostname that kube-proxy ended up using.

@aiv @2rs2ts perhaps check what your hostnames used are? Are you setting --hostname-overrride to kubelet or kube-proxy?

[2020-07-24 04:10] Akhilesh2412 commented on #93360
/assign

[2020-07-24 04:19] mitar commented on #69816
/remove-lifecycle stale

[2020-07-24 04:40] knight42 commented on #93400
@joelsmith How about we take it a step further by rejecting the jsonpath which contains `...` when parsing it?

[2020-07-24 05:00] coolshilpi6 opened #93407 "The build failed for some tests while running make test fo GO version go1.15beta1"
Test Failures are
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"20+", GitVersion:"v1.20.0-alpha.0.300+ff33efc164e78d-dirty", GitCommit:"ff33efc164e78d12c2a250f901b6ec725184fd06", GitTreeState:"dirty", BuildDate:"2020-07-22T10:11:16Z", GoVersion:"go1.15beta1", Compiler:"gc", Platform:"linux/ppc64le"}
- Cloud provider or hardwar

[2020-07-24 05:40] AcidAngel21 commented on #68270
For me it only happens when the following is true. Tested with K8s v1.14.6, 1.17.9 and 1.18.6

- vSphere CSI driver is installed. I used this manifests to deploy the driver https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/v1.0.2/deploy
- Kubelet flag --cloud-provider=external is set

It does **not happen** when the flag is set to --cloud-provider=vsphere

[2020-07-24 06:02] chenshuyuhhh commented on #93386
I didn't set `--pod-infra-container-image` when kubeadm init,
but I set the `--pod-infra-container-image` after the k8s cluster was initialized successfully.

![image](https://user-images.githubusercontent.com/38785959/88364572-e8661400-cdb5-11ea-94e8-ffd0c4ea3cfa.png)

[2020-07-24 06:13] liggitt commented on #93407
Thanks for the report. go1.15 is not yet supported. https://github.com/kubernetes/kubernetes/pull/93264 is the PR working on introducing that version

[2020-07-24 06:30] wojtek-t commented on #91236
Flakes on kind are also happening:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=conntrack

[2020-07-24 06:30] joelsmith commented on #93400
@knight42 good idea. I have posted #93408 to do what you suggest.

[2020-07-24 06:31] joelsmith commented on #93400
/sig api-machinery

[2020-07-24 06:37] felixPG commented on #89429
Any advice on this please?

[2020-07-24 06:41] raonitimo opened #93409 "Webhook REST clients cache invalid and possibly not expiring"
**What happened**:
Deployed a webhook as a service to a Kubernetes cluster with 2 masters, listening initially on port 8000.
[code]

Created a Validating Webhook pointing to port 8000:
[code]

Changed the service to use port 443. As expected, pod creation started to fail with the message (not always though):
[code]

The 'ὀ' character was a bug on printing the port number - 8000 in this case - that

[2020-07-24 06:44] BenTheElder commented on #91236
not many since the portmap fix on the 14th though (https://github.com/kubernetes-sigs/kind/pull/1729 / https://github.com/containernetworking/plugins/pull/509)

https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=kind&test=conntrack

[2020-07-24 07:00] wojtek-t commented on #91236
Agree - it's much better than it was before.

[2020-07-24 07:32] Forget-C commented on #92575
Thank you for reply。 First I found the cause of the problem， Because my program did not release the connection, the port ran out。But the question does not seem to be absolutely relevant

[2020-07-24 07:39] gianarb commented on #91047
/sig testing

sig-release is in the effort of assigning issues to sigs when missed if you feel this issue does not belong to you because of assign to somebody else.

[2020-07-24 07:46] yurrriq commented on #35505
/reopen

[2020-07-24 07:47] yurrriq commented on #35505
I also got burned by this with PodNodeSelector, and the documentation is misleading. I'd love to see proper validation as well as improved documentation. Maybe I can help.

[2020-07-24 07:47] jayunit100 commented on #92559
/sig cluster-lifecycle

No longer a sig net issue because this involves changing dns defaults and thus intersects into the kubeadm setup side of the house per my comment above

[2020-07-24 08:00] aojea commented on #93393
your kubelet is reporting the node address as fc00:2::32, you should check how are you configuring that node, specially the kubelet configuration

that's a pod with `hostNetwork: true` , it takes the address of the node, not the one assigned by flannel

that seems unrelated to this issue and more a kind if help/support request, there are better channels for that kind of requests: stackoverflow, sl

[2020-07-24 08:04] aojea commented on #93393
/remove-kind bug
/triage support

[2020-07-24 08:09] wiardvanrij commented on #93399
That seems a really good feature. Though my experience was that I could fill an ETCD database of 10GB on a completely new k8s cluster in 3 minutes. Regulating the flow would (assumption) only postpone such behaviour right?
The thing is that I really lack the skills to debug what is actually happening, but I don't think (rate) limits is the only solution required.

[2020-07-24 08:11] bingerambo commented on #92287
Any update on this issue?

[2020-07-24 08:22] #88456 closed

[2020-07-24 08:29] TBBle commented on #80996
/reopen

Still waiting on #92556 which adds the health-check protocol and interval to the target group name in `buildTargetGroup`.

[2020-07-24 08:30] TBBle commented on #80996
/remove-lifecycle rotten

[2020-07-24 08:38] nikhita commented on #80996
/reopen

[2020-07-24 08:40] nikhita commented on #80996
/remove-lifecycle rotten

[2020-07-24 08:51] daicang commented on #72226
We have encountered this in 1.17.0. After node lost, pods on that node stuck in "Terminating". Here statefulset and deployment have different behaviour:

statefulset: stuck pod would not be removed, and new pod would not be created to replace

deployment: stuck pod would not be removed, but a new pod is created by deployment controller on another node

As said in https://github.com/kubernetes/kube

[2020-07-24 08:57] xieyanker opened #93415 "RBD volume mount timeout when previous mountpoint remove failed"
**What happened**:

Sometimes the pod uses rbd volume will mount timeout, because of the "removing mountpoint" for previous pod failed.
If there are some files in the mountpoint directory, the `os.Remove(volPath)` will get wrong, it can only handle the empty directory.

There are some kubelet logs I got when the isssue happens:

[code]

**What you expected to happen**:

The volome can be mounted s

[2020-07-24 09:00] breizh5729 opened #93416 "default PriorityClass by namespace"
**What would you like to be added**:

currently we can create a priorityclass with globalvalue: true for the whole cluster, but an evolution would be interesting to have the possibility of also splitting by namespace.

**Why is this needed**:
actually i can't impose a quotas or limit on my dev team and  i would like to ensure all component in my namespaces system run with a specific priorityclass

[2020-07-24 09:01] xieyanker commented on #93415
/sig storage

[2020-07-24 09:02] breizh5729 commented on #93416
/sig cluster-lifecycle scheduling
/committee cluster-lifecycle scheduling
/wg  cluster-lifecycle scheduling

[2020-07-24 09:08] #93372 closed

[2020-07-24 09:09] yanchenko-igor commented on #72226
My fix was rejected as it changes the default kubernetes behavior, but I created a KEP, if anyone interested to fix this issue please review and discuss it https://github.com/kubernetes/enhancements/pull/1863

[2020-07-24 09:15] RobertKielty commented on #92776
Thanks Rob !

[2020-07-24 09:23] #69276 closed

[2020-07-24 09:40] aojea commented on #92886
This is getting much better after the portmap fix and is on the same ballpark that the other jobs in that tab
Let's close it and reopen if necessary
/close

[2020-07-24 09:40] #92886 closed

[2020-07-24 10:07] dennis-benzinger-hybris commented on #93186
Do you have any hints on how to debug this further? Are there other logs I should upload?

[2020-07-24 10:09] hgliu1985 opened #93419 "How to add a standard centos system into kubernates cluster"
Hello, thanks a lot for advance!

Now I have a kubernaters cluster which runs some pods and services. Then I want to add a standard centos system into my k8s cluster. Is there any normalized method to realize this? Maybe I should copy some binary to the standard centos system, such as kubelet, kube-proxy and kubectl. What else should I do to access the centos system in my kubernets cluster?

My ol

[2020-07-24 10:18] Zheaoli commented on #93399
Agree with @wiardvanrij I think we should limit the ENV key-value numbers and value's length too.

Otherwise, It's cause some unusually problems.

[2020-07-24 10:27] nikhita commented on #92102
The repo was removed after v1.17. We have publishing bot rules that will still sync the `release-1.16` and `release-1.17` branches for `node-api` so we can't archive the repo until v1.17 is out of support.

https://github.com/kubernetes/kubernetes/blob/55476fb8723be7eef19e0db3a5a084aded3178eb/staging/publishing/rules.yaml#L1473-L1503

I have created https://github.com/kubernetes/node-api/pull/4 to

[2020-07-24 10:44] akunaatrium commented on #36222
Anyone knows why the issue is closed? It's not fixed as far as I can tell.

[2020-07-24 10:44] gouki777 opened #93420 "Old API convert problem[v1beta1.NetworkPolicy to networking.k8s.io/v1beta1]"
hi
my k8s version is 1.17.7   (I upgraded directly from 1.14 to 1.17)
but my calico-kube-controllers has a error log.
[code]
Read the documentation.
my k8s api
I think the problem has to do with the disappearance of the old API and RBAC.
https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/
[code]
How about convert (extensions/v1beta1/networkpolicies) to (networking.k8s.io/v1beta1)?
Does

[2020-07-24 10:53] gouki777 commented on #93420
/sig api-machinery
/sig network

[2020-07-24 11:18] terzonstefano commented on #72102
BackUp for etcd

ETCDCTL_API=3 etcdctl --endpoints=https://[127.0.0.1]:2379 --cacert=/etc/kubernetes/pki/etcd/ca.crt --cert=/etc/kubernetes/pki/etcd/server.crt --key=/etc/kubernetes/pki/etcd/server.key snapshot save /tmp/snapshot-pre-boot.db

Restore for etcd

ETCDCTL_API=3 etcdctl --endpoints=https://[127.0.0.1]:2379 --cacert=/etc/kubernetes/pki/etcd/ca.crt --name=master --cert=/etc/kubernetes/pk

[2020-07-24 11:49] aojea commented on #91236
I was analyzing this failure, the problem is that kind jobs does not have verbosity enough in kube-proxy
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1286011121643294723

[code]

 We can see that the packet was never replied, this is the NAT entry from client -> nodePort in the node with the client
[code]
This is the same flow, but in the node with the serve

[2020-07-24 11:59] wawa0210 commented on #92963
Thanks for your comments,Based on the following thinking

- Consistent with linux features
- For security, if we run as a non-root user at the pod level, the pause container in the windows pod will ignore this feature and still run as the `ContainerAdministrator`. Because pause and work containers share network and other features, there will be security risks

[2020-07-24 12:26] rtheis commented on #93338
[code]

[2020-07-24 12:28] wojtek-t commented on #92937
I think there is a gain from having both (100-node is a real clusters that is catching real problems), kubemark is 500-node one (so not real cluster, but visibly larger).
What we're going to do though is to speed up the tests significantly [2-3x, excluding cluster creation/deletion] (there is some work towards that already happening as we speak, though it will probably take couple more months...)

[2020-07-24 12:29] rtheis commented on #93338
@liggitt Please see previous comment for example pod yaml and here is the OLM PR to fix the addon-catalog-source pod: https://github.com/operator-framework/operator-lifecycle-manager/pull/1562.  The PR details the files containing the manifests.

[2020-07-24 12:30] liggitt commented on #93338
[code]

That should make the scheduler wait until a node with the appropriate labels appears to schedule the pod

Can you provide the full pod (including the status) and scheduler events which you were seeing issues with?

[2020-07-24 12:46] liggitt commented on #93420
You will need to update your calico controller to a version that uses the v1 API

NetworkPolicy must be accessed via `networking.k8s.io/v1` in 1.16+. It is no longer served via extensions/v1beta1 or networking.k8s.io/v1beta1

It needs to be granted access to the network policies resource in the networking.k8s.io API group, yes.

[2020-07-24 12:47] tabbysable commented on #92914
@tallclair that is indeed interesting! I'll put this on my list and try to look at it in the next couple weeks.

[2020-07-24 12:49] liggitt commented on #92937
Both types of tests have value, but I question whether they are both appropriate for presubmit (both because of duration and cost of running them on every push of every PR when CI infrastructure is already overcommitted)

That sounds great, but the current state is not really sustainable for O(months)

[2020-07-24 13:02] liggitt commented on #93420
See https://github.com/projectcalico/kube-controllers/pull/105 and https://github.com/projectcalico/kube-controllers/issues/103 for calico updates to the v1 API (looks like calico 2.4.0 does this)

Existing data is converted automatically by the API server, and is available via the v1 API

[2020-07-24 13:02] #93420 closed

[2020-07-24 13:23] mjudeikis opened #93421 "Instance metadata region mismatch"
**What happened**:

In certain azure regions instance metadata is returning location in camel case. This metadata is being propagated to nodes label
https://github.com/kubernetes/kubernetes/blob/539b0a5a0f8c1d96ee6752f2aa5d6d949eb0f513/staging/src/k8s.io/cloud-provider/controllers/node/node_controller.go#L501-L510. This results in label on the node:
`failure-domain.beta.kubernetes.io/region=Canada

[2020-07-24 13:24] mjudeikis commented on #93421
/kind bug
/priority important-soon
/sig cloud-provider
/area provider/azure

[2020-07-24 13:25] mjudeikis commented on #93421
/assing @feiskyer
please re-assing as you see fit

[2020-07-24 13:25] mjudeikis commented on #93421
/assign @feiskyer
please re-assing as you see fit
/cc @jim-minter

[2020-07-24 13:28] ensonic commented on #89173
If there are ordering constraints in pvc, pv and pod -w hat are they? This should definitely be fixed, but at least I could work around it in the tooling. I don't manage to get anything reliable to schedule using pvc + pv on a kubeadm cluster.

[2020-07-24 13:42] saarram commented on #90116
Hi - I am facing the same issue using flannel - overlay. container port to host port doesn't work.
This PR https://github.com/containernetworking/plugins/pull/475 seems to add support in win-bridge but not for win-overlay.
Can this be supported for win-overlay as well ?

[2020-07-24 13:46] sagor999 commented on #93337
@uablrek what would be the best way to diagnose why an entry would be missing from conntrack? Especially that it happens when the pod is already running, and seems to happen for only a small amount of time, as 99% of traffic is being properly conntracked.

[2020-07-24 13:50] prameshj opened #93422 "GCE ILB does not support modifying svc protocol"
**What happened**:

Created ILB service with a TCP port. Changed it to UDP and saw the service in error state.

**What you expected to happen**:
update should work.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.16 and later
- Cloud provider or hardware configuration:
- OS (e.g

[2020-07-24 13:50] prameshj commented on #93422
/assign

[2020-07-24 13:54] hasheddan commented on #91739
Looks like this is running again! (albeit with a failure on `DumpClusterLogs`).. will investigate

[2020-07-24 14:07] jsafrane commented on #93415
The reproducer is not very useful. It's easy to break kubelet if there is any other process creating stuff in /var/lib/kubelet.

Question is, *what* files are left behind after RBD volume unmounts? Who created them? It must have been kubelet and we should fix *that* part.

[2020-07-24 14:12] wojtek-t commented on #92937
We briefly chatted with Jordan offline.

I would be fine with getting rid of one of the presubmits, if we have ability to block merges on postsubmits.
Otherwise, we're risking piling up regressions which are super hard to debug (we were at this stage 2-3 years ago and that was a nightmare).

[2020-07-24 14:22] wojtek-t commented on #93217
OK - so we spend some more time looking into this issue and:
- the biggest victim is #92840 (and conitrbuted most to the flakiness) - this is bug fix we can't really do much about
- there aren't any other obvious victims at any time - rather organic increase

Given:
- I'm 100% it's cpu-starvation of the master
- the fact that we explicitly bump qps limits comparing to defaults (so it's not officia

[2020-07-24 14:33] liggitt commented on #93409
the cache key is the full configuration (including the port): https://github.com/kubernetes/kubernetes/blob/release-1.15/staging/src/k8s.io/apiserver/pkg/util/webhook/client.go#L122, and the [cache is already a LRU cache](https://github.com/kubernetes/kubernetes/blob/release-1.15/staging/src/k8s.io/apiserver/pkg/util/webhook/client.go#L61)

what specific version of 1.15 do you have?

does the cach

[2020-07-24 14:33] andrewsykim commented on #68270
@AcidAngel21 your issue is likely related to https://github.com/kubernetes/cloud-provider-vsphere/issues/338

[2020-07-24 14:56] liggitt commented on #93416
an admission webhook could be used to set a per-namespace priorityClassName rather than a cluster-wide one

[2020-07-24 14:58] tosi3k opened #93424 "[Flaky test] [sig-network] Ingress API should support creating Ingress API operations [Conformance]"
**Which jobs are flaking**:
gce-master-scale-correctness
**Which test(s) are flaking**:
[sig-network] Ingress API should support creating Ingress API operations [Conformance]
**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1286632613770956800
**

[2020-07-24 14:59] breizh5729 commented on #93416
do you have a example more precise for a namespace  ?

[2020-07-24 15:05] MaciekPytel commented on #93186
There is no pod with 'backoffice' in the name in CA logs. That's very unexpected if a pod is pending. In fact there is almost nothing in this log - is this a result of redacting? What --v value are you using (CA logs are generally only useful with --v=4)?

[2020-07-24 15:08] rtheis commented on #93338
@liggitt Unfortunately, I only have the following data from the previous failure.  I can try to recreate the problem again if you need more information.

[code]

[code]

[code]

[2020-07-24 15:17] liggitt commented on #93338
@kubernetes/sig-scheduling-misc NodeAffinity failure because no nodes currently match the pod's selector is not a terminal state, right (e.g. if a node becomes available that matches the selector, the pod will be scheduled)?

[2020-07-24 15:23] dennis-benzinger-hybris commented on #93186
The recent logs are with `--v=3`. The logs in the original description are from a different, by now decommissioned cluster.

I'll try to reproduce with `--v=4`.

[2020-07-24 15:26] MaciekPytel commented on #93186
May be worth waiting for new cluster autoscaler release before trying that. I've run into a bunch of problems building it, but I'm mostly done with them and I should be able to cut the patch release on Monday.

[2020-07-24 15:28] liggitt commented on #93407
/assign

fix in https://github.com/kubernetes/kubernetes/pull/93425

[2020-07-24 15:45] liggitt commented on #93424
this is caused by the issue described in https://github.com/kubernetes/kubernetes/issues/92147

a different test is creating a default ingressclass, which breaks creation of ingress objects if there was already a default ingressclass set up in the cluster

/assign @robscott @cmluciano

[2020-07-24 15:46] liggitt commented on #93424
this should resolve the issue:

[2020-07-24 16:02] BenTheElder commented on #91236
We have an open ticket to bump those in CI, it's just been lost in the
noise. We should still do that.

On Fri, Jul 24, 2020 at 4:50 AM Antonio Ojea <notifications@github.com>
wrote:

[2020-07-24 16:05] michmike commented on #92963
makes sense. thanks for the note. i agree!

[2020-07-24 16:05] aojea commented on #91236
If you are busy just assign it to me, I'll need this verbosity soon :)

[2020-07-24 16:06] liggitt commented on #93292
your webhook would be sent the pod exec options and it could decide whether to allow or reject the request

[2020-07-24 16:14] liggitt commented on #93424
I take it back, looks like the conformance test is also creating default ingressclass objects... it should not

fix in https://github.com/kubernetes/kubernetes/pull/93427

[2020-07-24 16:16] michaelgugino opened #93428 "Node: Add field to describe most recent request Serving CSR"
**What would you like to be added**:

I would like a field that the kubelet can set on it's own node object that indicates the last-requested serving CSR it created.  Since the kubelet creates the CSR object, it already has knowledge of which one it needs approved for continued functionality.

**Why is this needed**:
Recording this detail on the node object would allow trivial approval of serving

[2020-07-24 16:16] michaelgugino commented on #93428
/sig node

[2020-07-24 16:17] michaelgugino commented on #93428
/sig auth

[2020-07-24 16:18] michaelgugino commented on #93428
cc @smarterclayton @liggitt WDYT?  Seems like this is a no-brainer to me.  This would make implementing an approver trivial either in or out of k8s proper.

[2020-07-24 16:21] cwdsuzhou commented on #90116
I have implemented for overlay. I would send a PR later

[2020-07-24 16:21] liggitt commented on #93428
If you trust the kubelet completely, you can already approve all CSRs with `spec.signerName=kubernetes.io/kubelet-serving` and `spec.username=system:node:$name`

I don't really understand what the additional field on the Node API objects gets you.

[2020-07-24 16:28] ahg-g commented on #93339
we can't patch back to 1.15, but is this reproducible on newer clusters 1.17 or above?

[2020-07-24 16:30] ahg-g commented on #93339
The scheduler will keep retrying the pods, so they could show up in the active queue.

[2020-07-24 16:33] BenTheElder commented on #91236
It's in the kind repo, shouldn't be too hard to find, we have ~60 open atm.

On Fri, Jul 24, 2020 at 9:05 AM Antonio Ojea <notifications@github.com>
wrote:

[2020-07-24 16:35] johnr84 commented on #68270
@andrewsykim Thanks, That really helped. we had 3 workers and all 3 were not showing the IP. I added exclude-nics=cali*,docker*,tun* to /etc/vmware-tools/tools.conf and restarted open-vm-tools.service. Also restarted CPI pods and the IPs are showing now.

[2020-07-24 16:37] ahg-g commented on #93338
yes, the pod should be unschedulable until a node that matches the selector shows up.

[2020-07-24 16:38] LappleApple opened #93430 "1.19 Action Items Umbrella Issue"
This is a rolling list of issues, topics and action items that come up through the end of the 1.19 cycle.

**WEEK OF July 20**

**In Progress**
- [ ] Vanity Domain Flip | rep: @justaugustus
Will not merge until we have thumbs up from Linus Arver that all is healthy and this latest flip wont need rolled back.

**To do**
- [ ] get a test in place that would have caught [#93194](https://github.com/ku

[2020-07-24 16:39] LappleApple commented on #93430
/sig release

[2020-07-24 16:40] ahg-g commented on #93338
Relevant code: https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/helper/node_affinity.go#L30-L35

[2020-07-24 16:42] ahg-g commented on #93338
To clarify, is the issue that a pod with nodeSelector set is getting scheduled on a node that doesn't yet have the corresponding labels?

[2020-07-24 16:45] ahg-g commented on #93217
Sounds good to me.

[2020-07-24 16:46] ahg-g commented on #93339
/remove-kind bug

[2020-07-24 16:48] ahg-g commented on #93339
I will close the this, but please let me know if you have other questions.

/close

[2020-07-24 16:48] #93339 closed

[2020-07-24 16:55] ehashman commented on #93421
/cc @ehashman

[2020-07-24 16:57] michaelgugino commented on #93428
Is there an admission controller or other mechanism that enforces the request was indeed made by the kubelet?  If there is, it's not documented.

Is there a mode of operation that allows for a trusted kubelet to not have a trusted serving cert?  In what scenario would that ever be the case?  Having a client certificate grants far more access than the serving cert.

Having the CSR name on the node

[2020-07-24 17:01] liggitt commented on #93428
The username/groups/extra fields in the spec are populated by the API server based on the authenticated requester and are immutable

See https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/certificates/v1/types.go#L104-L107

A kubelet could request a serving certificate for google.com, but it should probably not be issued. The difficult part of approving kubelet serving cer

[2020-07-24 17:02] SaiHarshaK commented on #92901
/assign

[2020-07-24 17:07] liggitt commented on #92741
this looks much better now... https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-node-e2e&sort-by-failures=

the remaining failures look like particular tests that should have issues opened for them or infra failures (failures in the 1-10 minute range with no output look like clone/setup issues)

[2020-07-24 17:07] #93428 closed

[2020-07-24 17:14] msau42 commented on #89173
The main constraint right now is that the CSIDriver object needs to be created before the workload tries to use it. We're looking to fix that.

[2020-07-24 17:15] rtheis commented on #93338
@ahg-g No, a pod with nodeSelector set is never getting scheduled on a node when initial scheduling attempt does not find a corresponding node label.  Even when the node label is added later, the pod is stuck in NodeAffinity.

[2020-07-24 17:16] rtheis commented on #93338
This issue is very similar to https://github.com/kubernetes/kubernetes/issues/92067.

[2020-07-24 17:19] ahg-g commented on #93338
From https://github.com/kubernetes/kubernetes/issues/93338#issuecomment-663513753, it seems the pod got scheduled, the nodeName is set: ` nodeName: 10.177.223.161`