[2022-10-16 03:59] aimuz commented on #100236
/remove-lifecycle stale

[2022-10-16 08:27] xiaoping378 commented on #43916
For evicted case, heavy IO pod set to the same request and limit, But for pod memory alert ingore it or change the alert-metric ?

[2022-10-16 09:08] Bessonov commented on #79606
/remove-lifecycle stale

[2022-10-16 09:15] luisdavim commented on #110835
I still think that adding an extra character to the code would be better for everyone I don't think it would add much maintenance overhead and this is the behavior in most linux distributions....

/remove-lifecycle stale

[2022-10-16 13:41] kerthcet commented on #111094
/remove-lifecycle stale

[2022-10-16 16:19] eddie-knight commented on #113075
It seems the standard way of retrieving the k8s SBOM is via the download URL that is created on each release. Can anyone correct my understanding there?

I found the way the bom is _created_ easily enough, but learning where to retrieve it took a bit of digging.

Seems the most practical step would be to add something to the usage docs with a tiny explainer on how to retrieve the sbom. Doing it in

[2022-10-16 17:03] vaibhav2107 commented on #110893
/remove-lifecycle stale

[2022-10-16 17:23] Riaankl commented on #112890
/reopen

[2022-10-16 18:32] #78761 closed

[2022-10-16 19:06] h0jeZvgoxFepBQ2C commented on #78761
/remove-lifecycle rotten

this is still a valid issue

[2022-10-16 19:06] h0jeZvgoxFepBQ2C commented on #78761
/reopen

[2022-10-16 19:07] h0jeZvgoxFepBQ2C commented on #78761
Could someone reopen this issue?

[2022-10-16 19:32] #109900 closed

[2022-10-16 20:34] sftim commented on #103151
AIUI, the bot was originally brought in for PRs and issues were adding later. For that reason I have +1'd https://github.com/kubernetes/kubernetes/issues/103151#issuecomment-1279262642.

[2022-10-16 20:34] gottwald commented on #109289
/remove-lifecycle stale

[2022-10-16 20:58] sftim commented on #110835
- The current approach (you have to use an init container): already delivered!
- The new approach (which looks like it'd need an API change): extra effort. There is an [opportunity cost](https://en.wikipedia.org/wiki/Opportunity_cost) for that work: less API review effort for other features, less time on SIG Node initiatives, etc.

To me, this is a viable issue but it's a niche one. I'd rather see

[2022-10-16 21:08] luisdavim commented on #110835
There would be no API change if we simply set the sticky bit. What I said was that we could alternatively allow the users to control the actual permissions, in that case, yes, an API change would be required but I think it's safe enough to just set the sicky bit, and in that case the code change would be a single character.

[2022-10-16 21:12] sftim commented on #110835
We'd definitely need a [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/README.md) to make a breaking change to the implementation of `emptyDir`. The API change, which could be backwards compatible, is the lower-friction option (and would _still_ need a KEP).

[2022-10-16 22:42] neoakris commented on #43916
I forget where I read it but I heard that cgroups v2 was supposed to fix this.
I think all you need to do is use a linux distro with cgroup v2 + update to kube 1.25 which makes kube cgroup v2 aware.

https://kubernetes.io/blog/2022/08/31/cgroupv2-ga-1-25/#:~:text=cgroup%20v2%20provides%20a%20unified,has%20graduated%20to%20general%20availability.

It might be worth testing if this is still an issue

[2022-10-16 23:30] dims opened #113088 "Pick up fixes from eks-distro maintained by AWS folks"
- [x] [0001-EKS-PATCH-Pass-region-to-sts-client.patch](https://github.com/aws/eks-distro/blob/main/projects/kubernetes/kubernetes/1-24/patches/0001-EKS-PATCH-Pass-region-to-sts-client.patch) - Fixing in https://github.com/kubernetes/kubernetes/pull/113084
- [ ] ~[0002-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch](https://github.com/aws/eks-distro/blob/main/projects/kubernetes/kuberne

[2022-10-16 23:59] dims commented on #113088
/sig cloud-provider

[2022-10-17 00:04] dims commented on #92157
`eks-distro` is carrying a patch for this:
- https://github.com/aws/eks-distro/blob/main/projects/kubernetes/kubernetes/1-24/patches/0002-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch

Also see additional context - https://github.com/kubernetes/kubernetes/issues/113088

[2022-10-17 00:07] dims commented on #113088
for [0005-EKS-PATCH-AWS-Include-IPv6-addresses-in-NodeAddresse.patch](https://github.com/aws/eks-distro/blob/main/projects/kubernetes/kubernetes/1-24/patches/0005-EKS-PATCH-AWS-Include-IPv6-addresses-in-NodeAddresse.patch) i reopened https://github.com/kubernetes/kubernetes/pull/86918 as the bot closed it.

[2022-10-17 01:04] dims commented on #113088
cc @kschumy

[2022-10-17 02:30] HaoLiuHust commented on #43916
https://github.com/linchpiner/cgroup-memory-manager I am using this for workaround, for now, it works ok

[2022-10-17 02:44] kidddddddddddddddddddddd commented on #113007
@tangwz Hi, do you still want to work on this one?

[2022-10-17 03:12] pacoxu commented on #112574
Link some related issue:
- https://github.com/kubernetes/kubernetes/issues/103500 which is https://github.com/fsnotify/fsnotify/issues/421： ChMod event when renaming.
- https://github.com/kubernetes/kubernetes/issues/67517 prevent DDOS in pluginwatcher
- https://github.com/kubernetes/kubernetes/issues/73626 (closed as cadvisor switched back for flakes?)

[2022-10-17 03:43] mengjiao-liu commented on #113023
/assign

[2022-10-17 06:28] kerthcet commented on #111217
/remove-lifecycle stale

[2022-10-17 06:33] dsxing opened #113091 "after the pod workers delete pod syncTerminated failed ,kubelet cann't start a new pod with the same namespacedname"
### What happened?

Started a cluster with kubelet v1.22.5
Added a static pod yaml to /etc/kubernetes/manifest/
Observed the pod run successfully
Then remove the static pod yaml
Observed the pod is removed
And then add the same static pod yaml only change the pod id
Observed the static pod new start

kubelet log display：
"Error syncing pod, skipping" err="mounted volumes=[cert-dir data-dir log-dir

[2022-10-17 07:00] tangwz commented on #113007
Yes，It's still under discussion.

[2022-10-17 07:01] tangwz commented on #113007
@alculquicondor So we can use the parallelizing mini-library to do this?

[2022-10-17 07:02] realshuting opened #113109 "Message ends abruptly for seLinuxOptions check"

[2022-10-17 07:06] coding-bunny commented on #78761
Yeah, this issue needs to be reopened as this is a blocker for using memory HPA in Kubernetes.

[2022-10-17 07:33] luisdavim commented on #110835
Do you have any particular scenarios in mind that would be broken by the addition of the sticky bit?

[2022-10-17 07:52] mcginne commented on #100711
/remove-lifecycle stale

[2022-10-17 08:16] pohly commented on #112996
Correct. This happens because of the ordering in https://github.com/kubernetes/kubernetes/blob/162aaf77f281658aa3823e69e2636936bcbe179a/test/e2e/storage/framework/testsuite.go#L51-L61

Tests gets skipped before `framework.BeforeEach` is called. This avoids the expensive namespace creation/deletion for tests that don't need to run. The `ginkgo.AfterEach` for `AllNodesReady` then gets executed altho

[2022-10-17 08:26] Anumita opened #113096 "When does the SubjectAccessReviewRequest contain * in resource and verb?"
### What happened?

, I was going through the rbac authorization document of k8s - [authorization package - k8s.io/kubernetes/pkg/apis/authorization - Go Packages](https://pkg.go.dev/k8s.io/kubernetes/pkg/apis/authorization#ResourceAttributes)
and noticed that Resource and Verb can have * value as well. I tried finding in which scenario do we get * in resource/verb but i couldn’t find anything.
 I

[2022-10-17 08:32] pacoxu commented on #113091
/sig node

[2022-10-17 08:32] lixiaobing1 commented on #113091
which type of volume, not unmount?

[2022-10-17 08:32] pohly commented on #112996
See https://github.com/kubernetes/kubernetes/pull/113097.

Only `AllNodesReady` was affected. The other framework extensions use DeferCleanup, which only runs when needed.

[2022-10-17 08:53] FillZpp commented on #106055
/remove-lifecycle stale

[2022-10-17 09:02] giuseppe commented on #112151
it could be related to crun since it creates a sub-cgroup for the container (differently than what runc does) but I've performed the same test as @bobbypage using CRI-O+crun and I cannot reproduce the issue.

It can be related to the systemd version as well since the cgroup is deleted through systemd.

group [kubepods burstable podde737447-24b2-4f9e-a805-ad1161a169fb] : remove /sys/fs/cgroup/kubep

[2022-10-17 09:19] lixiaobing1 commented on #112936
Are master and minion in the same node?
Normally api-server desn't influnce kubelet.
![image](https://user-images.githubusercontent.com/16774510/196138452-c9220f50-f0d4-46ae-b038-2c4ab4da2f48.png)
![image](https://user-images.githubusercontent.com/16774510/196138998-961238c7-0762-407f-8231-7764a5fe0dd1.png)

[2022-10-17 09:32] kerthcet commented on #113007
You can use this parallelizer we defined in framework directly. https://github.com/kubernetes/kubernetes/blob/cb16d50068db5e4e0b70e3354d5c714a91743ecf/pkg/scheduler/framework/runtime/framework.go#L1344-L1346

[2022-10-17 11:39] #112996 closed

[2022-10-17 11:44] Kartik494 commented on #108622
/remove-lifecycle stale

[2022-10-17 11:51] jclab-joseph opened #113105 "Cannot access external ip from same node"
### What happened?

ExternalIP is not accessible from the node where the pod is running.

ClusterIP/PodIP works.

### What did you expect to happen?

All nodes must be accessible by external ip.

### How can we reproduce it (as minimally and precisely as possible)?

[code]

Node-A:
[code]

Node-B:
[code]

### Anything else we need to know?

#### service

[code]

#### Node-A (10.253.10.11)

[code]

[2022-10-17 11:55] aojea commented on #113105
You server version is EOL, you should use a supported version

What proxy implementation are you using? kube-proxy iptables, ipvs? other?

[2022-10-17 12:08] jclab-joseph commented on #113105
It seems to be a problem with that version.
It works fine in v1.21.14.

[2022-10-17 12:08] #113105 closed

[2022-10-17 12:31] alculquicondor commented on #113007
@tangwz feel free to take it by writing `/assign` on a comment.

[2022-10-17 12:50] chrisohaver commented on #113080
Perhaps the issue is with networking to a particular node, and increasing the number of instances > 3 results in a coredns pod running on a problematic node?

[2022-10-17 13:36] #113096 closed

[2022-10-17 13:42] sanposhiho commented on #110175
Sorry, leave here for a while. I wanted to wait for [KEP-3521: Pod Scheduling Readiness](https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/3521-pod-scheduling-readiness) (and then forgot to come back here. 😓 )
That proposal is quite similar to what I want to see in the conclusion of this issue; every plugin can judge if each Pod in unschedQ can be moved to schedQ/backoffQ.

[2022-10-17 14:06] mrbobbytables commented on #113019
We'd accept a gitpod config, but would need someone to take ownership of maintaining it.

[2022-10-17 14:06] mrbobbytables commented on #113019
/triage accepted

[2022-10-17 15:16] liggitt commented on #113109
/sig auth
/cc @liggitt @tallclair

[2022-10-17 15:24] YCShen1010 opened #113110 "default value of nested object"
### What we found?

We found that the parent object will be pruned if we do not define this parent object when applying CR, even though the child object of it has a default value in CRD.
Here is an example of a csvInjector in NamespaceScope CR：

1. We set a default value for `.spec.CSVInjector.enable` to `true` in NSS CRD

[code]
[code]

2. Create a NSS CR without `CSVInjector` field on new NSS CR

[2022-10-17 15:25] yogeek commented on #94722
is it possible to re-open this issue please ?

[2022-10-17 15:28] #113110 closed

[2022-10-17 15:28] liggitt commented on #113110
/remove-kind feature
/kind support

[2022-10-17 15:31] realshuting commented on #113109
Thanks for the quick fix @liggitt !

[2022-10-17 15:36] liggitt commented on #111774
/remove-kind bug
/kind support

The "Unable to connect to the server" message looks like the client is failing to verify the *server's* certificate, not the other way around. Before you modified these CA files and the kube-apiserver invocation, were you able to connect successfully to the server?

[2022-10-17 15:38] liggitt commented on #111102
/remove-kind bug
/kind support

[2022-10-17 15:41] liggitt commented on #110989
This is working as intended, so that resources can be created in any order.

Binding to an unresolveable role/clusterrole requires superuser access, so there's no escalation risk here.

[2022-10-17 15:41] #110989 closed

[2022-10-17 15:42] liggitt commented on #110426
this is working as intended and docs clarified in https://github.com/kubernetes/kubernetes/issues/99405#issuecomment-785996154

/close

[2022-10-17 15:43] liggitt commented on #113110
It is not desired for defaults in child properties to automatically imply parent structs should be auto-created. If the parent struct should be auto-defaulted to `{}` if absent or null in the request, a default of `{}` must be explicitly set on the parent

[2022-10-17 15:57] khenidak commented on #112491
As discussed in sig-network meeting. We will take on this work.

This doc https://docs.google.com/document/d/1k0V5FhMqZhHgUZ9PnixKX0VDNOEyuZLWLRniPIzHWEY/  is to gain consensus on approach and act as a bases for a future KEP.

[2022-10-17 16:05] YCShen1010 commented on #113110
Very clear explanation, thank you so much @liggitt

[2022-10-17 16:16] ritazh commented on #110345
/assign @enj
/remove-lifecycle rotten

[2022-10-17 16:27] liggitt commented on #106587
since secret creation by the token controller is no longer enabled by default in 1.24+, and is expected to no longer be an option in 1.27+ when the LegacyServiceAccountTokenNoAutoGeneration feature gate locks to `true`, I don't think exposing configuration knobs for this controller is necessary any more

/close

[2022-10-17 16:27] #106587 closed

[2022-10-17 16:29] mmiranda96 commented on #111876
Hi @SubhasmitaSw, PR is under review but I expect it to be merged by end of this week.

[2022-10-17 16:30] ritazh commented on #112170
/assign @enj
/triage accepted

[2022-10-17 16:33] ritazh commented on #110347
Thanks for reporting this. It seems to only contain trivial edits. Please read the [trivial edits policy](https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md#trivial-edits). We encourage you to take a look at confirmed issues and bugs or issues marked help-wanted.

/close

[2022-10-17 16:33] #110347 closed

[2022-10-17 17:01] #112986 closed

[2022-10-17 17:11] attila123 commented on #70202
Thanks, I just needed a quick solution for a test system running some old k8s. I scripted the workaround which recreates the missing /run/flannel/subnet.env:

[code]

[2022-10-17 19:10] BenTheElder commented on #113088
Actually, this one was already proposed, I think I was on reviewing this and it slipped through the cracks, I can only just barely remember it.
We should double check if we should do that, at the very least we should ensure the correct binary is available and give the user a hint, if not just handling the differences.

[2022-10-17 19:11] BenTheElder commented on #113088
https://github.com/kubernetes/kubernetes/pull/100044 for reference

[2022-10-17 19:52] moustafab commented on #112947
I think the vast majority of pod anti affinity users use it to spread their workloads for availability reasons (across nodes or AZs) so `MatchLabelKeys` is a much easier way to specify that, and much more resilient to changes in naming for example for a workload. A single generic antiAffinity term can be applied for a given labeling convention and that's much more powerful and less repetitive.

[2022-10-17 20:09] #107277 closed

[2022-10-17 21:13] #96242 closed

[2022-10-17 21:13] #107727 closed

[2022-10-18 03:08] lengrongfu commented on #112893
Logical analysis, when the `priorityClassName` is set for the pod, it will eventually be converted to Priority,
[code]
When the pod is eviction, it will judge whether `Priority >= 2000000000` is established. If it is established, it is considered to be `SystemCriticalPriority`, and it will not be eviction.

I have three solutions:
1. Modify the condition that is judged as `SystemCriticalPriority`

[2022-10-18 03:17] lengrongfu commented on #113058
After reading your code, I understand.

[2022-10-18 03:46] BenTheElder commented on #113073
Is this dockershim?

It's worth noting that dockershim was removed from kubelet in 1.24, and 1.22 is end of life in just 11 days (october 28th) with 1.25 being current and 1.26 on the way:

https://kubernetes.io/releases/

[2022-10-18 03:57] haoruan commented on #8976
Based on https://github.com/kubernetes/utils/pull/226#issuecomment-1279600221, we decided to work on k/k first, then move to kubernetes/utils @thockin

[2022-10-18 05:20] pacoxu commented on #113078
/sig apps

[2022-10-18 07:27] gaohuatao-1 opened #113130 "kubelet: memorymanager static policy startup error"
### What happened?

In our scenario, memoryManager are enabled. There are two numa nodes: node0 and node1 on the host.
The relevant parameter values are as follows：
memoryManagerPolicy: Static

Initially, no pods are running on this node  with two numa node,  220G memory per numa node. Follow the steps bellow to create and delete pods:
1. create guaranteed Pod1 with one container,  memory req and

[2022-10-18 07:28] gaohuatao-1 commented on #113130
/sig node

[2022-10-18 07:56] nicoclau commented on #112918
Because I was stuck I decided to use Minikube to compare.

But I also had one problem with MiniKube to get the metrics I had to add the option:

 minikube start **--extra-config=kubelet.housekeeping-interval=10s**

But minikube v1.27.0 uses  Kubernetes v1.23.3

[code]

We get:

[code]
I enabled

[code]
We get:

![image](https://user-images.githubusercontent.com/16133485/196370589-0c6bddaa-1107-443

[2022-10-18 08:01] twz123 commented on #108877
/remove-lifecycle stale

[2022-10-18 08:08] HeshamAboElMagd commented on #110600
Hello @marosset . Bug Triage team here. I wanted to touch base to see if this ticket would be targeted for the 1.26 release.

[2022-10-18 08:09] saumas opened #113131 "Scheduler framework metrics recorder go routine leak"
### What happened?

When a scheduler framework constructor is called, it also always creates a metrics recorder. That metrics recorder immediately starts a go routine which never exits. Creating many scheduler framework instances creates many of such go routines which are never closed, eventually accumulating so much that they crash the process.

### What did you expect to happen?

The scheduler f

[2022-10-18 08:12] saumas commented on #113131
/sig sig-scheduling

[2022-10-18 08:14] saumas commented on #113131
/sig scheduling

[2022-10-18 08:16] chymy commented on #112930
The real `NoExecute` tanits are deleted in the `nc.monitorNodeHealth()-->nc.processTaintBaseEviction()--nc.markNodeAsReachable()`, while the `nc.monitorNodeHealth()` runs every `nodeMonitorPeriod`. Therefore, compared with the deletion of `NoSchedule` taints, there will be a difference of several seconds, which mainly depends on `nodeMonitorPeriod` parameter.
Maybe `nc.markNodeAsReachable` should

[2022-10-18 08:16] saumas commented on #113131
I have a fork with a fix. Waiting for triage.

[2022-10-18 08:23] 249043822 commented on #112930
Agree, we should remove `NoExecute ` taint at the same time with removing `NoSchedule`, can you give a PR for this issue? @chymy

[2022-10-18 08:30] pmalek commented on #108003
/remove-lifecycle stale

[2022-10-18 09:33] pacoxu commented on #113075
/committee code-of-conduct

[2022-10-18 09:47] sxllwx commented on #111985
Update: the problem has been identified, and the specific reasons are as follows:

[2022-10-18 11:14] Kartik494 commented on #112281
Hi @aslafy-z can you try with limit range instead of resource quota that one of the way to restrict limit usage.
Thanks!

[2022-10-18 11:19] Kartik494 commented on #111180
/remove-lifecycle stale

[2022-10-18 11:20] Kartik494 commented on #108589
/remove-lifecycle stale

[2022-10-18 11:22] aslafy-z commented on #112281
limitrange can control minimum size for a PVC but cannot be scoped by storage class and does not control the step
https://kubernetes.io/docs/tasks/administer-cluster/limit-storage-consumption/#limitrange-to-limit-requests-for-storage

[2022-10-18 11:24] iancoolidge commented on #112899
@BenTheElder When does that happen? Do I need to do anything to trigger that discussion?

[2022-10-18 11:44] freebased commented on #74551
same here with kube-state-metrics:
[code]

[2022-10-18 12:15] lengrongfu commented on #113028
@Jefftree Hi，What are the flags as=Table;g=meta.k8s.io;v=v1 in the Accept header used to negotiate with the server?  What do as, g, v mean respectively.

My understanding of Content Negotiation is that the client can tell the server the expected data format by setting accept, such as `accept: application/json` or `accept=application/yaml`.

[2022-10-18 12:34] enj commented on #113058
/assign

[2022-10-18 14:04] rrangith opened #113139 "PVC recreation needed when Stateful set Pod stuck in pending"
### What happened?

- User cordons a node with a pvc bound to a local persistent volume
- User deletes a stateful set pod from that node
- The pod is in pending because the pvc is still bound to a local pv on the cordoned node (expected)
- The node dies and the pvc is deleted
- The pod is still stuck in pending because the pvc is missing (bug)

The pod now needs to be manually deleted so that the

[2022-10-18 15:24] BenTheElder commented on #112899
Typically SIG node sweeps the issues periodically but to propose feature work rather than reporting a bug I would bring it to their slack, mailinglist, or biweekly meeting for that particular sig.

As a general rule features for Kubernetes are tracked via KEPs at this point and the issue tracker is a bit overwhelming. Additionally bringing a particular issue to attention by other means cuts throug

[2022-10-18 15:29] alculquicondor opened #113142 "Terminate a Job from an external controller"
### What would you like to be added?

/sig apps
/wg batch
/area batch

A mechanism to terminate a Job from an external controller, ensuring all the running pods are deleted.

Potentially, we could simply use a terminal Job condition as a signal.
This could be implemented by enhancing the orphan pod worker to issue pod Deletions when the owner Job is marked as finished. This behavior would be in ad

[2022-10-18 15:30] MadhavJivrajani commented on #108003
/lifecycle frozen

[2022-10-18 15:30] alculquicondor commented on #113142
cc @soltysh

@liggitt do you think this is a breaking change from an API perspective?

[2022-10-18 15:33] mimowo opened #113143 "Add node e2e test to verify the reason field is set to OOMKilled for the container terminated by OOM killer"
We would like to know early if the behavior is broken on any container runtime implementation.

This is motivated by the discussion under the PR: [Documentation for the CRI API reason field to standardize the field for containers terminated by OOM killer](https://github.com/kubernetes/kubernetes/pull/112977#issuecomment-1281651838)

[2022-10-18 15:34] mimowo commented on #113143
/sig node

[2022-10-18 15:34] BenTheElder commented on #108877
Loading these on the host seems like the appropriate workaround for nonstandard kernel module formats.

I don't think we want to radically alter the kube-proxy image build with a custom built kmod binary, so unless Debian is going to change their kmod this I don't see this changing.

The project consistently uses distroless/Debian flavored images and we have a fair bit built up around managing and

[2022-10-18 15:35] liggitt commented on #113142
triggering deletion behavior off of the presence of an existing condition on the Job API seems pretty surprising at first glance

[2022-10-18 15:40] liggitt commented on #112800
it looks like you are trying to get cert-manager to work... I'd suggest using the resources listed at https://github.com/cert-manager/cert-manager#troubleshooting to figure out what is going on or to request assistance

/close

[2022-10-18 15:40] #112800 closed

[2022-10-18 15:44] liggitt commented on #111728
admission controllers only run on write requests, but have access to the body content of the incoming requests (and existing objects, for update requests)

depending on where in the authorization chain you place an authorization webhook (using the ordered `--authorization-mode=...,Webhook,...` option), it can run on every request (other than requests made by the `system:masters` superuser group),

[2022-10-18 15:44] #111728 closed

[2022-10-18 15:48] Jefftree commented on #113028
@lengrongfu Yes you are correct, but additional parameters can also be passed in to request for a specific group,version,kind (g=group, v=version, as=kind). See https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/response.go#L73-L94 where we convert the output depending on whether a supplement GVK was provided.

[2022-10-18 15:50] liggitt commented on #112706
Those options are not related to the errors reaching the metrics-server.

The "error trying to reach service: x509: certificate signed by unknown authority" error means the serving certificate used by the metrics-server was not signed by an authority listed in the APIService spec.caBundle

The APIService you have in the description has the caBundle commented out, which means it will try to use sys

[2022-10-18 15:50] #112706 closed

[2022-10-18 15:51] liggitt commented on #112147
since the configmap is not actually immutable, it doesn't seem correct to mark it that way and put pods/kubelets in a state that would not respect a rollout of an update to it

[2022-10-18 15:51] jdn5126 commented on #113073
Yes, this is dockershim, and I believe this exists in 1.23, though I have not been able to reproduce. I was hoping the logs could point to whether the issue has anything to do with dockershim or not.

[2022-10-18 15:52] liggitt commented on #112001
closing due to lack of information, if you can recreate and capture the needed information, feel free to reopen

/close

[2022-10-18 15:52] #112001 closed

[2022-10-18 15:56] joycebrum opened #113144 "Enable OpenSSF Scorecard Github Action and Badge"
### What would you like to be added?

Hi I am Joyce from Google and I'm working on behalf of the [Open Source Security Foundation][ossf] (OpenSSF) to help essential open-source projects improve their supply-chain security.

I would like to suggest the adoption of an OpenSSF, [in partnership with GitHub][sc-blog], tool called [Scorecard][sc]. It runs dozens of automated security checks to help main

[2022-10-18 15:57] juliantaylor commented on #112147
Which configmap is truely immutable?
I think it is pretty likely in a significant fraction of clusters the root ca is one of the most immutable configmaps in the whole cluster.

I'm not asking to always mark it immutable, only optionally allow marking it as immutable if you know what you are doing and want to avoid the overhead of thousands of watches on a resource that will change very very rarel

[2022-10-18 16:02] alculquicondor commented on #113142
Once the job controller observes a terminal condition in the Job, it stops syncing it. So I was kind of thinking of this solution as a bug fix, although I'm not aware of any situation where the job controller would place a terminal condition before all the pods are finished (or without finalizers and deleted).

And then I wanted to tap into this behavior from kueue :sweat_smile: https://github.com

[2022-10-18 16:10] juliantaylor commented on #112147
Note that the kubelet starts a watch per namespace on the rootca configmap. Maybe that is a better angle is to have the kubelet only have one global watch so you have one per node instead of one per node per namespace.

[2022-10-18 16:17] apelisse commented on #107727
Has this been done Jeff?

[2022-10-18 16:18] apelisse commented on #107727
@Jefftree

[2022-10-18 16:20] BenTheElder commented on #113073
IIRC: In CRI kubelet asks for the pod sandbox to be removed (which includes the pause container) and the pause container is no longer a detail of kubelet but a detail of the CRI.

[2022-10-18 16:24] jdn5126 commented on #113073
Yeah, so what I was unable to tell from the logs is if kubelet was requesting the correct pod sandbox to be removed, or if it was requesting the wrong one, leading to the container persisting.

[2022-10-18 16:27] evanfoster commented on #102259
/remove-lifecycle stale

[2022-10-18 17:00] lavalamp commented on #112899
I don't think you need SIG Node's permission to *copy* the package to utils, you need SIG Node to be on board to remove the existing one and change references.

[2022-10-18 17:08] jeffmccune commented on #83242
A common use case I've run into is to unseal the vault stateful set, which isn't covered by kubectl rollout:

[code]

[2022-10-18 17:18] alculquicondor commented on #113142
@mimowo pointed out that job termination could actually be triggered by setting a `FailureTarget` condition, introduced by kubernetes/enhancements#3329 as a temporary stage to avoid losing track of Pod failures.

[2022-10-18 17:49] #107645 closed

[2022-10-18 18:19] BenTheElder commented on #112899
Well ... From an unrelated discussion today: utils has or should have a higher bar for maintaining compatibility of packages, vs unexported packages here.

I'd personally suggest input from Node regarding if this is a maintainable thing to export for external usage.

[2022-10-18 18:20] lavalamp commented on #112899
Sure, I agree with that.

[2022-10-18 18:29] #113058 closed

[2022-10-18 19:47] marosset commented on #110985
/close
(we are tracking the dupe linked above)

[2022-10-18 19:47] #110985 closed

[2022-10-18 20:01] SergeyKanzhelev commented on #112899
`MustParse` is never used in code. Perhaps it can be deleted instead of making it `panic`.

Also functionality looks linux specific, perhaps when making a library it also needs to be explicit. Maybe not build it for Windows.

@iancoolidge I wonder what functionality you need the most out of it? Parsing? Asking to make sure there is no dependency on things like checkpointing format. I don't think i

[2022-10-18 20:16] fedebongio commented on #113072
/triage accepted

[2022-10-18 20:17] fedebongio commented on #112706
/triage accepted

[2022-10-18 21:53] Dragoncell opened #113152 "Job image-validation-cos-e2e fails to create the cluster"
### Which jobs are failing?

sig-node-containerd#image-validation-cos-e2e

### Which tests are failing?

[sig-network] DNS should work with the pod containing more than 6 DNS search paths and longer than 256 search list characters

### Since when has it been failing?

Not sure, dashboard showed it failed since 10/15

### Testgrid link

https://testgrid.k8s.io/sig-node-containerd#image-validation-c

[2022-10-18 22:07] #112976 closed

[2022-10-18 22:28] Riaankl commented on #111956
/reopen

[2022-10-18 23:32] BenTheElder commented on #113144
/sig architecture
(code organization subproject <=> supply chain security)
/sig security
(security)
/sig testing
(CI infra)

With my SIG Testing hat on: We do not currently use github actions in this repo.

We have our own CI system that amongst other things integrates with the merge robot and ensures the latest of (target branch, PR branch) are tested merged together, I'm not sure we're prepared

[2022-10-18 23:56] mrbobbytables commented on #113144
/sig contributor-experience

I do appreciate the intent, but as a GitHub admin, I am a -1 on it if implemented as an action. While we're a bit more okay with enabling actions in other repos, k/k is the one where we definitely want to keep things limited to prow (our CI system).

I haven't looked at the other aspects of the scorecard, but would need to explore them more thoroughly to make the call

[2022-10-19 02:08] michaelschem commented on #112411
having this issue too on `1.24.6`

[2022-10-19 02:12] BenTheElder commented on #113075
IIRC we looked at snyk and fossa and they fell over trying to process this repo.

We have https://github.com/kubernetes/kubernetes/tree/master/LICENSES which automatically contains all dependency licenses via https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/hack/verify-vendor-licenses.sh + https://github.com/kubernetes/kubernetes/blob/cb7beb591216de93bef22525a

[2022-10-19 02:38] cwdsuzhou commented on #112347
Thanks, PVC is is bound. I would like this annotations can be updated or removed if possible when pod is preempted.

[2022-10-19 02:52] mrbobbytables commented on #113075
@hernanpl @BenTheElder is 100% right, and as far as I know - the kubernetes project (AFAIK) wasn't signed up for the security slam. If it was, can you tell us who? It wasn't brought up to steering or relayed to the community at all.

[2022-10-19 04:11] pacoxu commented on #113139
/sig apps storage

[2022-10-19 04:56] bulletinmybeard commented on #24330
This did the trick for me, thanks!!!

[code]

[2022-10-19 06:55] brucelee138 commented on #112893
@lengrongfu I might have some gaps in understanding the 3 solutions you have suggested, you could clarify if so.
As per my understanding, pod eviction could happen when a node is running low on resources and a pod running on the node is evicted to reclaim the resources. We mark certain pods as "critical" as we dont want these pods to get evicted during this reclamation as they do some "critical wo

[2022-10-19 07:33] mimowo opened #113157 "Discussion on refactoring kubelet to allow writing of integration tests"
The pros of integration tests, compared with e2e node tests:
- shorter development cycle
- easier to run the tests from IDE with debugger
- possibility of using a fake clock to make some of the tests faster

However, currently, there is only a single integration test for kubelet, but is very specific: https://github.com/kubernetes/kubernetes/blob/master/test/integration/kubelet/watch_manager_test.

[2022-10-19 07:33] mimowo commented on #113157
/sig node

[2022-10-19 07:41] AlawnWong commented on #111077
how to fix this issue ?

[2022-10-19 07:56] segevfiner commented on #95712
/remove-lifecycle stale

[2022-10-19 07:56] Goend commented on #112706
Even though it uses the system root certificate, the surprising thing is that in another cluster I don't have the spec.caBundle configured but the metrics server is working .so my doubt is that we shouldn't specify the path of the system root certificate path。 And how to configure it in k8s apiserver pod or maybe node?it will be use the system trust roots on the apiserver node,such as /etc/pki/ca-

[2022-10-19 08:18] kerthcet commented on #113131
Since you have a fix, can you point out explicitly where the problem is?

[2022-10-19 08:25] kerthcet commented on #113055
Scheduling result is impacted by several plugins, can you set the scheduler log level to --v=10, and post the scoring logs here. It's useful for analysis.

[2022-10-19 08:35] saumas commented on #113131
The problem is this go routine: https://github.com/kubernetes/kubernetes/blob/v1.22.0/pkg/scheduler/framework/runtime/metrics_recorder.go#L60

Because it never exits, creating many scheduler framework instances results in as many metrics recorder goroutines. There is an exit channel in that goroutine loop but it's not exported and only used in unit tests.

[2022-10-19 09:27] kerthcet commented on #113131
It's fixed in v1.25. see here https://github.com/kubernetes/kubernetes/pull/110148

[2022-10-19 09:34] vpnachev commented on #95911
Just stumbled on this/similar issue where kube-scheduler assigned 39 pods with disks on a node limited to only 26 disks on infrastructure side (m5 AWS machine).

The cluster was a bit under pressure as quite some new pods with higher priority were created which caused the pods with lower priority to be preempted. Then cluster autoscaler kicked in and added new nodes to the cluster and kube-schedul

[2022-10-19 09:46] saumas commented on #113131
Thanks, this looks exactly the correct fix. Will experiment.

[2022-10-19 09:50] the-cybersapien commented on #83471
Seeing this issue on older versions of GKE (v1.22| v1.21) & containerd v1.4.13 as well.
If more than 1 containers are scheduled on a node, the deployment controller would time out as image pull won't even begin for all containers at once.
Removing lifecycle rotten as this is affecting multiple versions according to the cycle here.

/remove-lifecycle rotten

[2022-10-19 10:37] Namanl2001 opened #113162 "[Failing Test]: capz-windows-containerd-master"
### Which jobs are failing?

sig-release-master-informing#capz-windows-containerd-master

### Which tests are failing?

- capz-e2e.Conformance Tests conformance-tests
- ci-kubernetes-e2e-capz-master-containerd-windows.Overall

### Since when has it been failing?

10/18

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#capz-windows-containerd-master

### Reason for failure (i

[2022-10-19 10:40] Namanl2001 commented on #109444
@marosset @jsturtevant - we're getting the same failure again.

testgrid link: https://testgrid.k8s.io/sig-release-master-informing#capz-windows-containerd-master

[2022-10-19 10:44] lengrongfu commented on #112893
Exceeding the limit is a condition for triggering eviction. After the eviction starts, it will be judged whether it is a critical pod.
https://github.com/kubernetes/kubernetes/blob/594d34872c73f6abe5eba740f9e4557c6f970887/pkg/kubelet/eviction/eviction_manager.go#L505

https://github.com/kubernetes/kubernetes/blob/594d34872c73f6abe5eba740f9e4557c6f970887/pkg/kubelet/eviction/eviction_manager.go#L52

[2022-10-19 11:01] CarlosGuemS opened #113163 "kubectl port-forward isseus with go traffic generator"
### What happened?

I'm running the [Online Boutique demo](https://github.com/GoogleCloudPlatform/microservices-demo) by Google in a minikube service mesh using Istio 1.15. In order to expose the ingress gateway I use a `minikube tunnel` to give it an external IP, and then I use `kubectl port-forward --address 0.0.0.0 svc/istio-ingressgateway 8080:80 -n istio-system`. Then I wrote a traffic genera

[2022-10-19 11:01] chenk008 opened #113164 "Add context in fake ReactionFunc"
### What would you like to be added?

Until now, the fake ReactionFunc is
[code]

How about add context in this function
[code]

### Why is this needed?

When we want to test with client ratelimiter, will add customize Reaction to mock, but  can not get the passed context.
[code]

[2022-10-19 11:24] CarlosGuemS commented on #113163
/sig cli

[2022-10-19 12:47] swatisehgal commented on #112612
I ran this test locally 15 times back to back and did not run into this failure. The test passed locally. I suspect this to be a case where pod cleanup is not happening properly. In this test, we are relying on the number of PodResources and based on the error it looks like we have an addtional pod running other than the two expected pods (device plugin pod and test pod requesting device) but can'

[2022-10-19 12:56] iancoolidge commented on #112899
@SergeyKanzhelev I do not need 'MustParse', I am mostly just using it to parse cpuset ranges (read out of sysfs), manipulate them, and then emit stringified cpuset ranges for feeding to kernel command line arguments for nohz_full / isolcpus etc.

I don't think anything is OS specific in there, it doesn't actually do anything with sysfs. I don't know if cpusets are a useful construct on windows, bu

[2022-10-19 13:11] liggitt commented on #112899
yeah, if it's just string manipulation / construction, that seems useful to be able to do regardless of the OS the binary is running on (imagine a CLI tool running on an arbitrary OS that is used to construct configurations to ship off to a linux machine)

[2022-10-19 13:18] alculquicondor commented on #113142
This use case is not about the job itself deciding that it needs to finish. It's about an external controller (like kueue) deciding that a Job should not continue running (because the quota was revoked or a higher priority job needs to start).

Freeing the resources can be achieved by setting suspend=True, but this leaves the Job in a limbo, where it's not running but it's also not finished, meani

[2022-10-19 13:45] akshat5302 commented on #112733
@answer1991 @xenv I want to work on this issue is still open for new contributors?

[2022-10-19 14:23] #113007 closed

[2022-10-19 14:45] dims commented on #112164
seems to be working

[code]

[2022-10-19 14:45] #112164 closed

[2022-10-19 15:58] #106422 closed

[2022-10-19 15:58] #104007 closed

[2022-10-19 16:06] dashpole opened #113170 "OpenTelemetry tracing parity with util "tracing""
### What would you like to be added?

As described here: https://github.com/kubernetes/enhancements/issues/647#issuecomment-1078834288, we want current calls to k8s.io/utils/trace to create OpenTelemetry spans and span events if tracing is enabled in that component.

Requirements:

* Keep existing log-based tracing intact.
* Allow using log-based tracing and OpenTelemetry tracing simultaneously.
*

[2022-10-19 16:07] dashpole commented on #113170
/assign
/triage accepted

[2022-10-19 16:46] msau42 commented on #95911
/triage accepted

[2022-10-19 16:47] msau42 commented on #95911
I think we should consider Hemant's proposal to create a placeholder CSINode object with 0 value.

[2022-10-19 16:48] msau42 commented on #95911
/help

[2022-10-19 16:56] bhcleek opened #113174 "Add metrics and an event when lifecycle handlers fallback to http"
### What would you like to be added?

Emit an event and increment a metric when the lifecycle handler for an https action falls back to http as @liggitt requested in #86139.

### Why is this needed?

To allow cluster users to identify lifecycle handlers that are configured to speak https to an http server.

[2022-10-19 17:05] msau42 commented on #101334
/reopen
/triage accepted
/remove-lifecycle rotten

[2022-10-19 17:06] liggitt commented on #113174
/milestone v1.26

once the metrics / event are added, update the release notes for https://github.com/kubernetes/kubernetes/pull/86139 to include that info

[2022-10-19 17:38] SergeyKanzhelev commented on #113130
/triage needs-information

thank you for beautifully crafted error report!!!

The k8s version you are running is old and out of support (kubelet v1.21.0). Would it be possible to check the behavior on latest version of k8s?

I know that there is an existing limitation around cpu manager (not sure about memory manager) that requires to handle checkpoint file before the restart. Not sure if this app

[2022-10-19 17:40] SergeyKanzhelev commented on #113073
/triage accepted

Even though triage is accepted we may have hard time having somebody to look into dockershim issues. Is it possible to switch to Containerd as a runtime?

[2022-10-19 17:41] liggitt commented on #113174
Opened https://github.com/kubernetes/kubernetes/pull/113175 to add the event recording

[2022-10-19 17:42] SergeyKanzhelev commented on #113081
how much in the past? We need to understand how common this problem is.

/triage needs-information

[2022-10-19 17:45] SergeyKanzhelev commented on #113091
/triage needs-information

Can this be reproed on newer k8s version? 1.22 is almost out of support. And there were fixes in pod lifecycle recently.

[2022-10-19 17:46] SergeyKanzhelev commented on #113035
/assign @swatisehgal

/triage accepted

[2022-10-19 17:48] SergeyKanzhelev commented on #113066
/triage accepted

@pacoxu is the issues that containerd gives wrong values or how kubelet reacts on it?

[2022-10-19 17:48] SergeyKanzhelev commented on #113066
/cc @bobbypage

[2022-10-19 17:48] SergeyKanzhelev commented on #113066
/cc @haircommander @xmcqueen

[2022-10-19 17:58] #96981 closed

[2022-10-19 17:58] #98607 closed

[2022-10-19 18:15] yuanchen8911 opened #113177 "Replace deprecated IntPtr/FloatPtr/BoolPtr conversion functions"
`IntPtr/FloatPtr/BoolPtr` are deprecated in `utils.pointer` and replaced with `Int/Float/Bool`. How about replacing all deprecated pointer conversion functions with the new functions in the kubernetes repo, including the deference functions? I can submit a PR if it's something right to do.

https://github.com/kubernetes/utils/blob/cfd413dd9e8559bc69d4abd23c12d666a59971c4/pointer/pointer.go#L56)
[c

[2022-10-19 18:16] howardjohn commented on #93476
/reopen

[2022-10-19 18:27] jdn5126 commented on #113073
As I understand it, that is the long-term plan for EKS, but only for 1.24+

[2022-10-19 18:35] #109295 closed

[2022-10-19 18:38] joycebrum commented on #113144
Sure take your time to think and look it more carefully and any doubts feel free to ask me. I understand if you really don't want any github actions maybe the scorecard action will not suit you right now.

[2022-10-19 18:58] #110074 closed

[2022-10-19 19:01] yuanchen8911 commented on #113177
/sig architecture

[2022-10-19 20:02] xmcqueen commented on #109295
https://prow.k8s.io/?job=ci-kubernetes-node-kubelet-containerd-performance-test

[2022-10-19 20:47] xmcqueen commented on #109295
There's an image version in [here](https://github.com/kubernetes/kubernetes/blob/master/test/utils/image/manifest.go#L258).

Its still pulling the old version. Bump it here from 1.2 to 1.3.

So one more commit is needed.

[2022-10-19 20:57] #112896 closed

[2022-10-19 22:31] sli720 commented on #113080
I've tried it out on specific nodes and I don't see a relation to the hardware. Everytime I increase the number of pods I get this issue.I also don't see any issues in the calico or system/kernel logs. Can I somehow debug if that issue is related to a specific node?

[2022-10-19 22:32] xmcqueen commented on #109295
The new image is present and runs perfectly.  Tested it on local linux and in google cloud:

[bmcqueen@bmcqueen-ld2 test]$ docker run -it gcr.io/k8s-staging-e2e-test-images/node-perf/tf-wide-deep:1.3 -- sh
Unable to find image 'gcr.io/k8s-staging-e2e-test-images/node-perf/tf-wide-deep:1.3' locally
1.3: Pulling from k8s-staging-e2e-test-images/node-perf/tf-wide-deep
778066204fb7: Already exists
003

[2022-10-20 00:16] sanposhiho commented on #112947
Looks worth making a concrete proposal for it, as there are more positive thoughts than negative ones so far.
Opened https://github.com/kubernetes/enhancements/issues/3633, we can continue to discuss it in KEP.

[2022-10-20 02:06] ttakahashi21 opened #113184 "Add provisioning volumes from cross-namespace data sources"
### What would you like to be added?

A feature for provisioning volumes from cross-namespace snapshots.

### Why is this needed?

Please see [KEP-3294](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/3294-provision-volumes-from-cross-namespace-snapshots)

[2022-10-20 02:07] ttakahashi21 commented on #113184
/sig storage

[2022-10-20 02:49] saltbo commented on #106161
Judging from some related discussions, we should step by step to implement it.

Can you guide me on how to do step 1?

I have identified all the places we validate IP addresses for the APIs, But I think we can't replace the Parse only that excludes validation, because it will cause an error for the Leading Zero IPs that replaced Parse. unless we fixed it after ParseIPSloppy success.

[2022-10-20 03:30] pacoxu commented on #113066
[code]

[2022-10-20 03:44] gaohuatao-1 commented on #113130
Thanks for you reply.

Thanks for your reply.   I have confirmed that the latest version kubelet has this problem, too.
When kubelet start ,  static policy of memorymanager will validate the checkpoint file, the verification logic is as follows:
![image](https://user-images.githubusercontent.com/22569211/196850382-3f1fe0ee-fd60-4ebc-8975-60b016cf5feb.png)

b.NUMAAffinity on line 563 is in ascendin

[2022-10-20 03:58] #101849 closed

[2022-10-20 04:21] Vyom-Yadav opened #113187 "ValidatingWebhook not intercepting requests sent to /scale subresource"
### What happened?

While configuring ValidatingWebhook to match incoming requests to the `/scale` subresource, the following configuration was used:

[code]

Corresponding `APIResource`:
[code]

Requests sent to the `/scale` subresource were not intercepted by the webhook, however when changing webhook to:
[code]
resulted in it working correctly.

### What did you expect to happen?

I expected it

[2022-10-20 04:28] Vyom-Yadav commented on #113187
/sig api-machinery

[2022-10-20 06:32] pacoxu commented on #113066
Containerd returned the mountpoint in `/runtime.v1.ImageService/ImageFsInfo` and cadvisor cannot found the device.

I tried to fix it in #113192 to fall back to using the filesystem to get the stats(not sure if there would be some performance issues).

[2022-10-20 06:44] kerthcet commented on #113131
I'd like to close this for it's fixed. Feel free to reopen it if you come across this problem again in v1.25.
/close

[2022-10-20 06:44] #113131 closed

[2022-10-20 06:48] aojea commented on #106161
Just start adding a metric on those places that increments each time that it has an IP with leading zeros

https://github.com/kubernetes/kubernetes/issues/108074#issuecomment-1036442455

[2022-10-20 06:57] vaibhav2107 commented on #85966
/remove-lifecycle stale

[2022-10-20 06:58] vaibhav2107 commented on #108537
/remove-lifecycle rotten

[2022-10-20 07:02] vaibhav2107 commented on #103658
/remove-lifecycle rotten

[2022-10-20 07:04] vaibhav2107 commented on #110036
/remove-lifecycle rotten

[2022-10-20 07:25] pacoxu commented on #111144
/remove-lifecycle stale

There is a limitation that the host network pod cannot use it. This is already implemented. It would be safe to use it.
- `Pod forbidden sysctl: "net.ipv4.ip_local_reserved_ports" not allowed with host net enabled`, Users will get this error if the pod is hostNetwork.

Meanwhile there is a common issue with this sysctl with old kernel < 3.12. See https://github.com/moby/mo

[2022-10-20 07:50] pacoxu commented on #113164
/sig api-machinery

[2022-10-20 07:51] pacoxu commented on #113174
/sig node instrumentation

[2022-10-20 09:31] #113174 closed

[2022-10-20 09:55] vinay50muddu opened #113203 "Connections to new service pod stuck in conntrack for TCP traffic when externalTrafficPolicy is "local""
### What happened?

**Environment:**
kubernetes version: 1.23.6
ExternalTrafficPolicy:  "local"
service type: "Loadbalancer"
kube-proxy mode: iptables
net.netfilter.nf_conntrack_tcp_be_liberal: 1
Metallb controller with BIRD speaker that establishes BGP peering with Datacenter GW(DCGW) and advertises the LoadBalancer Ip's to it.

For a service of type Loadbalancer, the BIRD speaker on a node adver

[2022-10-20 10:01] dispensable commented on #112151
Hi, We found our problem was caused by a high disk io. On the busy work node, the containerd mounted disk io was so high that short-life pods' rootfs couldn't be umounted immediately. Those umount reqs was put to the cri clean queen of the kubelet. The airflow/jenkins got a timeout and recreated more tasks to retry made the situation even worse.

After changed disk type to faster ssd, all problems

[2022-10-20 10:28] aojea commented on #113203
Some questions because is no clear the scenario to me:

how can there be existing TCP connections in ESTABLISHED state if the pod was deleted?
Once the pod is deleted it should close the TCP connection, no? that will delete the conntrack entry

[2022-10-20 10:34] Aishwarya-Hebbar opened #113204 "Statefulset/Deployment pod going to unknown state"
### What happened?

Statefulset/Deployment pod going to unknown state  after reboot of K8s worker nodes.

[code]

### What did you expect to happen?

Expected statefulset/deployment pod to be in running and healthy state after reboot of K8s worker nodes.

### How can we reproduce it (as minimally and precisely as possible)?

1.Create a statefulset , deployment
2.Expect all statefulset and deployme

[2022-10-20 10:39] Aishwarya-Hebbar commented on #113204
CC: @xing-yang @divyenpatel

[2022-10-20 10:44] Aishwarya-Hebbar commented on #113204
/sig node

[2022-10-20 11:00] mimowo commented on #113143
/assign

[2022-10-20 13:12] alculquicondor opened #113207 "scheduler integration tests timing out on server setup"
### Which jobs are flaking?

pull-kubernetes-integration

### Which tests are flaking?

It looks like random tests are failing, for example:

- TestUnReserveReservePlugins/The_Reserve_plugins_succeed
- TestImageLocalityScoring
- TestPVCBoundWithADC

### Since when has it been flaking?

Oct 19th

### Testgrid link

https://storage.googleapis.com/k8s-triage/index.html?pr=1&job=pull-kubernetes-integr

[2022-10-20 13:24] pohly commented on #113207
Perhaps related to https://github.com/kubernetes/kubernetes/pull/111339?

Does that apiserver do anything with stdout?

[2022-10-20 13:26] pohly commented on #113207
Never mind. The integration tests aren't using Ginkgo.

[2022-10-20 13:42] justaugustus commented on #113075
Agreed.
/close

[2022-10-20 13:42] #113075 closed

[2022-10-20 14:04] Jefftree commented on #109986
Not sure if there are any failures anymore: https://storage.googleapis.com/k8s-triage/index.html?pr=1&text=TestTimeoutWithLogging&job=pull-kubernetes-unit

/close

[2022-10-20 14:04] #109986 closed

[2022-10-20 14:18] dims commented on #113088
@BenTheElder thanks for the nudge, here's the new PR that is a replacement for [0003-EKS-PATCH-Use-GNU-date.patch](https://github.com/aws/eks-distro/blob/main/projects/kubernetes/kubernetes/1-24/patches/0003-EKS-PATCH-Use-GNU-date.patch):
https://github.com/kubernetes/kubernetes/pull/113210

[2022-10-20 14:21] kannon92 opened #113211 "Enhancement: Marking a pending pod as failed after a certain timeout"
### What would you like to be added?

We would like to add configurable timeouts to allow pending pods to transition to failed.

It would be ideal if it could be configurable based on container events or messages rather than a catch all timeout.

A possible API could be as follows:

[code]

This can allow certain events/statuses to transition to failed.

### Why is this needed?

In the Armada proj

[2022-10-20 14:22] kannon92 commented on #113211
/sig node
/wg batch

[2022-10-20 15:03] liggitt commented on #92157
breadcrumbs to other places admission / control-plane health cycles got discussed:
* https://github.com/kubernetes/kubernetes/issues/54522
* https://github.com/kubernetes/kubernetes/pull/65477
* https://github.com/kubernetes/kubernetes/issues/56761
* https://github.com/kubernetes/kubernetes/pull/59073
* https://discuss.kubernetes.io/t/to-to-manage-broken-webhooks-during-cluster-upgrade/19273
* [20

[2022-10-20 15:18] droctothorpe commented on #111822
+1. I'd be interested in taking a stab at this potentially. Should be pretty easy to implement. Just don't want to do the work if the issue isn't signed off on.

[2022-10-20 15:24] protosam commented on #111699
@yuzhouliu9 just wanting to confirm; is your graph specifically `kube-apiserver` or is this just overall usage for a master node running both `kube-apiserver` and `etcd`?

[2022-10-20 15:30] alculquicondor commented on #113211
/sig apps

regex is certainly not an API we would like to encourage, as the messages can change from one release to the next.

Is it fair to say that you would like to target these specific Pending scenarios?
- Unschedulable pod (there is already a condition `PodScheduled=false` that can be targeted)
- Pull image failures. We can probably add one. I only found one preceding issue about this, but t

[2022-10-20 15:31] alculquicondor commented on #113211
maybe @smarterclayton has given this a thought already :)

[2022-10-20 15:43] astraw99 opened #113215 "Container name not showed in the `BackOff` event message"
### What would you like to be added?

Add back-off restarting failed container name in the `BackOff` event message, like:
[code]

### Why is this needed?

When there are multiple containers in a pod, we use `kubectl describe po xxx` to show the `BackOff` event,
it is not showing the failed container name, but it is useful and needed.
[code]

[2022-10-20 15:49] xmcqueen commented on #109295
It looks like the new registry is not in the manifest's list of registries, so I'll have to add it in a way that is still compatible with the old registry, which probably needs to stay around.  I'll put up an RB and discuss it there.

- old: registry.k8s.io/e2e-test-images
- new: gcr.io/k8s-staging-e2e-test-images

staging or what? I've heard of some promotion thing. Maybe that's needed:
[code]

p

[2022-10-20 15:51] astraw99 commented on #113215
/sig node

[2022-10-20 16:14] xmcqueen commented on #109295
FTR: My "testing" above did not catch the current problem because I did not run the full e2e_test binary.  I only tested the image via a `docker run ...`.

[2022-10-20 16:40] dgrisonnet commented on #112982
/triage accepted

[2022-10-20 16:42] leilajal commented on #113187
/help

[2022-10-20 16:42] leilajal commented on #113187
/cc @tallclair @jpbetz

[2022-10-20 16:46] leilajal commented on #113207
@alculquicondor thanks for sending the PR! Is it fixed?
/triage accepted

[2022-10-20 16:46] leilajal commented on #113187
/triage accepted

[2022-10-20 16:51] leilajal commented on #113164
/remove-sig api-machinery

[2022-10-20 16:55] jpbetz commented on #113187
/close

[2022-10-20 16:56] #113187 closed

[2022-10-20 16:57] ciacono commented on #105536
Seeing this as well but like @iameli  trying to rmdir() on an empty file in a subpath.

`E1018 06:14:10.320273   10187 kubelet_volumes.go:179] orphaned pod "5fc49c56-122d-4274-8390-f606296f632d" found, but failed to rmdir() subpath at path /var/lib/kubelet/pods/5fc49c56-122d-4274-8390-f606296f632d/volume-subpaths/<path>/10: not a directory : There were a total of 2 errors similar to this. Turn up

[2022-10-20 17:41] lavalamp opened #113220 "CEL Validation: permit hashing object fields to form object name"
Scenario: My CRD has fields x, y, and z. I want to ensure that within a given namespace, no two instances of this CRD have the same set of values for those fields.

Solution 1: Require that .metadata.name be x+y+z. (Add a x-kubernetes-validations to the root of the object, and do something like `"[self.metadata.name] == self.spec.x + self.spec.y + self.spec.z"`)
Problem 1: The fields might be too

[2022-10-20 17:46] alculquicondor opened #113221 "Mutable Job scheduling directives after suspension"
### What would you like to be added?

Allow modifying the scheduling directives of a Job template when the job is fully suspended.

Currently, as part of kubernetes/enhancements#2926, we allow the Job pod template to be modified only if the Job didn't start (`.status.startTime == nil`).

We could implement mutable scheduling directives after suspension if we set .status.startTime to nil when when

[2022-10-20 17:47] lavalamp commented on #113220
cc @jpbetz @apelisse

[2022-10-20 17:48] alculquicondor commented on #113221
/sig apps
/sig scheduling
/wg batch

cc @soltysh @Huang-Wei @liggitt who were involved in alpha/beta stages of the feature.

[2022-10-20 18:04] alculquicondor commented on #113207
This is not a PR, just a report.

[2022-10-20 18:07] Vyom-Yadav commented on #113187
@jpbetz Good point, thanks for clarifying

[2022-10-20 18:08] alculquicondor commented on #113221
and @ahg-g, the original author.

[2022-10-20 18:23] jpbetz commented on #113220
This is a good motivating example for adding a `hash` function to the CEL library. We can add that.

The sanitation can probably be expressed as a RE2 regex replace, maybe combined with `substring` to cap the length?

[2022-10-20 18:24] jpbetz commented on #113220
/assign

[2022-10-20 19:42] gaelgatelement opened #113223 "Cannot run patchesStrategicMerge on CRDs schema under Versions array"
### What happened?

When trying to use `patchesStrategicMerge` on CRD schema under `spec/versions` array, it fails and replace the whole array because it is missing a `mergeKey` and `patchStrategy` on `Versions`.

`patchesStrategicMerge` used to work with `spec.version` and `spec.validation` fields but those are now deprecated.

### What did you expect to happen?

`patchesStrategicMerge` should be

[2022-10-20 19:44] xing-yang commented on #113204
I see the following error in the kubelet logs from all 3 worker nodes. Kubelet exited and was never started successfully.  Can you check if this config file /var/lib/kubelet/config.yaml is available?

[code]

[2022-10-20 19:50] gaelgatelement commented on #113223
/sig api-machinery

/wg api-machinery
/committee api-machinery

[2022-10-20 20:09] msau42 opened #113226 "Don't list unattachable volumes as "unattached" in mount timed out event log"
### What happened?

If mounting of a volume takes too long, an event gets logged to the Pod object with the list of unmounted and unattached volumes. Volume types like secrets, emptydir that don't support attach are included in the list, which can mislead users to think that there was a problem with that volume.

Example:
[code]

### What did you expect to happen?

Don't include unattachable volum

[2022-10-20 20:09] msau42 commented on #113226
/kind cleanup
/sig storage
/triage accepted

[2022-10-20 20:09] msau42 commented on #113226
/remove-kind bug

[2022-10-20 20:52] hugoShaka opened #113227 "Kubectl restmapping cache causes inconsistent behaviour in case of resource name conflict"
### What happened?

I deployed a CRD (`teleportroles`) with the shortnames `role` and `roles`, conflicting with `roles.rbac.authorization.k8s.io/v1`.

Initially `kubectl get role` and `kubectl get roles` were both returnning `roles.rbac.authorization.k8s.io/v1` resources.

I ran `kubectl get teleportrole`.

Now, `kubectl get role` return my CRs instead of `roles.rbac.authorization.k8s.io/v1` resou

[2022-10-20 20:53] hugoShaka commented on #113227
/sig cli

[2022-10-21 03:02] kunallanjewar commented on #113226
/assign

[2022-10-21 04:33] vinay50muddu commented on #113203
Let's say there are 2 nodes NODE-A and NODE-B. The service pod was running on NODE-A earlier. Assuming after we deleted the pod on NODE-A and the pod comes on NODE-B, the speaker on NODE-A sends an update to DCGW to clear the route to NODE-A (as the traffic policy is local, if there are no service pods running on the node, the traffic can't be routed to this node which is NODE-A.). Here i think th

[2022-10-21 04:55] vaibhav2107 commented on #111323
/remove-lifecycle stale

[2022-10-21 04:56] vaibhav2107 commented on #111292
/remove-lifecycle stale

[2022-10-21 04:57] vaibhav2107 commented on #111248
/remove-lifecycle stale

[2022-10-21 04:58] vaibhav2107 commented on #111234
/remove-lifecycle stale

[2022-10-21 05:38] kolesaev commented on #77004
it might help to delete "kubectl.kubernetes.io/last-applied-configuration" annotation

[2022-10-21 06:13] Aishwarya-Hebbar commented on #113204
Yes I am able to access the contents of file: /var/lib/kubelet/config.yaml from all 3 worker nodes

`root@k8s-node-667-1666125222:~# cat /var/lib/kubelet/config.yaml
apiVersion: kubelet.config.k8s.io/v1beta1
authentication:
  anonymous:
    enabled: false
  webhook:
    cacheTTL: 0s
    enabled: true
  x509:
    clientCAFile: /etc/kubernetes/pki/ca.crt
authorization:
  mode: Webhook
  webhook:

[2022-10-21 06:47] pacoxu commented on #94626
https://github.com/kubernetes/kubernetes/blob/f3ae27f5ef0c7b4feda98efc568440f28e369d6f/pkg/api/pod/warnings.go#L179-L184

- [x] imagePullSecrets with empty secret or configmap name   https://github.com/kubernetes/kubernetes/pull/101688

[code]

As the Pod spec.volumes[0].secret.secretName is required value. This is also not a problem
-  [x] volume source entries with empty secret or configmap name

[2022-10-21 06:47] secsys-go opened #113239 "Crash in AddOrUpdateTaintOnNode"
### Which jobs are failing?

pkg/controller

### Which tests are failing?

`TestAddOrUpdateTaintOnNode` in `pkg/controller`
I transformed that testcase into a fuzz driver and tested it with [[go-fuzz](https://github.com/dvyukov/go-fuzz)](https://github.com/dvyukov/go-fuzz)
It crash with "invalid memory address or nil pointer dereference" when some argument related data are fuzzed.

### Since when

[2022-10-21 06:49] pacoxu commented on #94626
I opened https://github.com/kubernetes/kubernetes/pull/113238 for pvc's request storage value warning.
The left one is `duplicate {port,protocol} items`  in service and container's ports.

[2022-10-21 06:52] gaelgatelement commented on #113223
Let me know, if this issue is sensible enough, if I should go down writing a KEP about this API change.

[2022-10-21 06:59] zishen commented on #112281
My k8s is 1.19.16 and meet the same issue, have any update?

[2022-10-21 07:07] QianChenglong opened #113240 "move crdRegistrationController to k8s.io/apiextensions-apiserver/pkg/controller like autoRegisterController"
### What would you like to be added?

<img width="1996" alt="image" src="https://user-images.githubusercontent.com/1881126/197134114-85378b06-3c54-43dc-8e6d-20b6de19e8a8.png">

### Why is this needed?

In this way, the apiserver developed by the user can integrate the crd without relying on the kubernetes project

[2022-10-21 07:11] QianChenglong commented on #113240
/sig architecture
/wg api-expression

[2022-10-21 07:27] mengjiao-liu commented on #113078
PR https://github.com/kubernetes/kubernetes/pull/104699 has fixed the issue in version 1.23, and you can upgrade the Kubernetes cluster to version 1.23.

[code]
https://kubernetes.io/releases/

[2022-10-21 08:10] aslafy-z commented on #112281
This is more a feature request than an bug, this is present with all PVC. There is now native way to solve this ATM.
On my side, I added 2 annotations to each of my storage classes: min-size, step and they help me to validate admissions of new PVCs to avoid these issues.
min-size contains the minimum allocatable storage for this SC. Eg: GCP PD is 1Gi, GCP Filestore is 1Ti (without miltishare)
step

[2022-10-21 08:27] xuzhenglun opened #113242 "configMap volume becomes empty if setupSuccess is negative"
### What happened?

ref: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/configmap/configmap.go#L230

I was running a Pod with a configmap which can be modified regularly. Last day root disk of one node is full, and today SRE reported volume dir in this Pod became empty.

After some digging, It seems like configmap volume dir in the host will be teardown if `writer.Write` is failed

[2022-10-21 08:29] pbetkier commented on #79272
/sig autoscaling

[2022-10-21 08:30] xuzhenglun commented on #113242
/sig  node

[2022-10-21 08:38] secsys-go opened #113243 "Crash in TestGetContainerOOMScoreAdjust"
### Which jobs are failing?

pkg/kubelet/qos

### Which tests are failing?

`TestGetContainerOOMScoreAdjust` in `pkg/kubelet/qos`
I transformed that testcase into a fuzz driver and tested it with [[go-fuzz](https://github.com/dvyukov/go-fuzz)](https://github.com/dvyukov/go-fuzz)
It crash with "integer divide by zero" when some argument related data are fuzzed.

### Since when has it been failing?

[2022-10-21 08:38] lixiaobing1 commented on #113215
Maybe we can get the container information from upper, including State, Last State...
kubectl describe pod/xxx -n admin
Containers:
  compute:
    State:          Running
      Started:      Fri, 21 Oct 2022 16:34:27 +0800
    Last State:     Terminated
      Reason:       Error

[2022-10-21 08:40] hzliangbin commented on #89181
@kvaps already fixed it?

[2022-10-21 08:42] aojea commented on #111234
this only applies to dockershim, that was deprecated and removed in 1.22, it is not going to be fixed

[2022-10-21 09:14] #109934 closed

[2022-10-21 09:19] pbetkier commented on #110317
I'm not sure lower sync period will get you a significant recommendation latency decrease. Note that kubelets take CPU/memory measurements every ~10s and metrics-server fetches updates from kubelets every ~30s. So the delay between change in the metric and recommendation getting actuated (scale changed on deployment) seems to me would be:

* with 15s reconciliation
  - worst case: 10s (kubelet mea

[2022-10-21 09:21] pbetkier commented on #110034
/triage accepted

[2022-10-21 09:24] lianghao208 opened #113246 "Deployment containerPort Duplicate value issue"
### What happened?

When I apply a deployment yaml to modify `spec.template.spec.containers[0].ports[1].containerPort` from `8080` to `8081`
[code]
The errors occur:
`The Deployment "kube-state-metrics" is invalid: spec.template.spec.containers[0].ports[1].name: Duplicate value: "http-metrics"`

### What did you expect to happen?

The apply patch should be successfully finished.

Referring to the

[2022-10-21 09:25] lianghao208 commented on #113246
/wg api-machinery

[2022-10-21 09:25] pbetkier commented on #109496
Note that adding concurrent workers for HPA processing (#108501) just got merged. Not the same as asynchronously getting custom metrics, but may help enough.

[2022-10-21 09:28] pbetkier commented on #87733
Would be great to know if the problem also affects v2 API.

[2022-10-21 09:39] mengjiao-liu commented on #113243
On a real machine, `MemoryCapacity` cannot be `0` unless it does not get the value correctly.

[2022-10-21 10:07] cFire commented on #110835
My two cents: I think it would be nice to be able to set an option for this. Something like
[code]
I guess this is a more intensive change and requires an API change to support, but you can leave the default as it is now so no existing deployments can break and people who need it can enable the sticky bit.

[2022-10-21 10:49] vinay50muddu opened #113250 "UDP traffic loss observed during restart of service pod when externalTrafficPolicy is "local" for loadbalancer type service."
### What happened?

Consider a UDP service of type "loadbalancer" with "externalTrafficPolicy: local" is created. When a backend pod corresponding to that service is deleted, the pod comes up in a different node. It is observed that sometimes the speaker on this new node advertises the LB IP before kube-proxy sets up the rules. The UDP traffic is redirected to the new node as the speaker on the pr

[2022-10-21 11:11] timoreimann commented on #101878
/remove-lifecycle stale

[2022-10-21 11:20] yuzhouliu9 commented on #111699
@protosam the graph is a prometheus query of just the `kube-apiserver`:  `container_memory_working_set_bytes{container="kube-apiserver"}`.
The master nodes are running both `kube-apiserver` and `etcd` though.

[2022-10-21 11:47] astraw99 commented on #113215
Yes, we can see more info on the upper part, but it is more straight-forward to see the container name in the event msg, especially when there are multiple containers in a pod.

[2022-10-21 11:49] timoreimann commented on #88902
/reopen

I really still want this...

[2022-10-21 12:15] astraw99 opened #113251 "Proposal: Add workload `ClusterSecret` to be used by pods across namespaces"
### What would you like to be added?

Add a new workload `ClusterSecret` to be used by pods across namespaces (`cluster-scope`), just like the `ClusterRole` and `Role`.

For example, we can just create one `ClusterSecret` image pull secret, to be used by pods across multipe namespaces in the cluster, instead of creating every `namespace-scope` secret (currently) in every namespace which need the s

[2022-10-21 12:22] astraw99 commented on #113251
/sig apps

[2022-10-21 12:23] lixd commented on #103305
hi,is there any progress about this issue？i see there is a new access mode [RWOP](https://github.com/kubernetes/enhancements/pull/3537),so for non-attachable volume is better to use ROWP to replace RWO? if that how to deal with this scene: share volume in a single node?

[2022-10-21 13:57] kannon92 commented on #113211
So I asked around.  Other areas that we found useful are also in InvalidConfigMaps, InvalidSecrets, bad pvc.  You covered a lot of them in the NonGoals of the KEP.  We also have issues with GPU Plugin not be able to be initialized.

[2022-10-21 14:15] alculquicondor commented on #113211
I guess we can cover most of them in a single PodCondition `FailedToStartup`. We need sig-node input. We can try to get some feedback at kubecon or the next sig-node meeting.

[2022-10-21 14:20] kannon92 commented on #113211
@alculquicondor Could you explain a bit more about why this couldn't be the responsibility of the Job Controller?  The one thing that comes to mind is that this is a bigger problem since just for users scheduling jobs.  But I don't quite understand the distinction between responsibility of sig-node and sig-apps?  Is it primarly because kubelet is responsible for determining if a Pod has failed?

[2022-10-21 14:33] pohly opened #113259 "e2e apps: deployment test not working as intended"
### What happened?

I started added missing error checks. When adding error checking to this call here, the test started to fail:
https://github.com/kubernetes/kubernetes/blob/e876d63ec2c9ae6b6af9318e909c21d16e90d94e/test/e2e/apps/deployment.go#L402

[code]

### What did you expect to happen?

The test should have continued to work when checking the error.

### How can we reproduce it (as minimall

[2022-10-21 14:34] pohly commented on #113259
/sig apps

[2022-10-21 14:34] alculquicondor commented on #113211
Yes.
Also, the Job failure policy is based on PodConditions, and there is no pod condition for all the scenarios you have described.

[2022-10-21 14:39] pohly opened #113261 "e2e storage: provisioning with data source test lacks error checking"
### What happened?

This line here lacks error checking:
https://github.com/kubernetes/kubernetes/blob/e876d63ec2c9ae6b6af9318e909c21d16e90d94e/test/e2e/storage/testsuites/provisioning.go#L446

### What did you expect to happen?

It shouldn't continue when that function times out.

### How can we reproduce it (as minimally and precisely as possible)?

Add `framework.ExpecctNoError`.

### Anything

[2022-10-21 14:39] pohly commented on #113261
/sig storage

[2022-10-21 15:22] tangwz commented on #113221
/assign

[2022-10-21 15:55] aojea commented on #113250
what version are you using, there were several fixes for these scenarios

https://github.com/kubernetes/kubernetes/pull/104009

[2022-10-21 16:04] pohly commented on #113261
`e2epv.WaitForPersistentVolumeDeleted` in StorageClassTest.TestDynamicProvisioning also fails in that test.

[2022-10-21 16:34] cici37 commented on #92157
/cc

[2022-10-21 16:48] chrishenzie commented on #103305
@jsafrane Apologies, I'm getting this issue confused with #103132 (`ReadWriteOncePod` vs. `ReadWriteOnce`). This issue is not tracked yet as part of the KEP and no progress to report.

@lixd You can use `ReadWriteOncePod` if you only want a single pod on the node to access the volume. If you want to share the volume with multiple pods on the same node then you can use `ReadWriteOnce`, but you will

[2022-10-21 16:51] chrishenzie commented on #103132
Status update -- this is deferred until 1.27, see this comment for details:
https://github.com/kubernetes/enhancements/pull/3537#discussion_r978120310

An E2E test was added here:
https://github.com/kubernetes/kubernetes/pull/112987

And I'm currently looking into scheduler integration testing.

[2022-10-21 16:56] khenidak commented on #113080
How healthy are your kube-proxies (specifically on the nodes that hosts the pod that can't read dns)?

[2022-10-21 17:05] khenidak commented on #113079
/triage needs-information

The log line is produced here https://github.com/kubernetes/kubernetes/blob/release-1.22/pkg/proxy/endpointslicecache.go#L357 _for every endpoint_.

+1 on @aojea question. And also can you use kubectl to get the endpointslices generated for that service?

Also please note `502` means you client is in fact connected to endpoint but you server responded with http error.

[2022-10-21 17:35] #112962 closed

[2022-10-21 17:57] tallclair opened #113266 "Log a warning when dropping unknown fields from loading an audit policy"
Currently the [audit policy decoder][1] silently drops unknown fields.

For backwards compatibility, we probably cannot fail on unknown fields, but it would be good to at least log a warning when they're encountered.

[1]: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/audit/policy/reader.go#L66

/sig api-machinery

[2022-10-21 17:57] tallclair commented on #110116
`verbs` is a field on the policy rule, not the resources. Unfortunately our yaml parser just silently drops unknown fields, so your rule

[code]

is just seen as
[code]

Which will match all verbs.

---

In the case of
[code]

This is getting interpreted as
[code]

Or equivalently:
[code]

Which is the core API group. So, this should be dropping all events for the core types, but not events in oth

[2022-10-21 17:57] #110116 closed

[2022-10-21 18:25] alculquicondor commented on #113221
/unassign @tangwz
please wait for feedback from people. We might need to do it in the next release as part of the graduation criteria.

[2022-10-21 18:37] aojea commented on #113203
hmm, this reminds me about https://github.com/kubernetes/kubernetes/issues/101607#issuecomment-867774857

can you check your host kernels have this patch https://github.com/torvalds/linux/commit/e15d4cdf27cb0c1e977270270b2cea12e0955edd ?

[2022-10-21 19:36] pohly opened #113268 "e2e storage: "should provision storage with pvc data source in parallel" blocks, then ignores timeout error"
### What happened?

This line here blocks until the timeout occurs, then the test continues and succeeds:
https://github.com/kubernetes/kubernetes/blob/a497c56c33aca254e69513fcd46c0c76c8fadcab/test/e2e/storage/testsuites/provisioning.go#L500

### What did you expect to happen?

Either the thing that this line waits for must happen or that line should get removed.

### How can we reproduce it (as m

[2022-10-21 19:41] Huang-Wei opened #113269 "Umbrella issue tracking Alpha impl. of KEP 3521 (Pod Scheduling Readiness)"
This issue tracks all coding work to accomplish [KEP 3521](https://github.com/kubernetes/enhancements/issues/3521).

- [x] Introduce a new Pod API field `schedulingGates` #113274
    - [x] Pod API definition, feature gate, codegen, validation, and drop disabled fields
    - [x] disallow binding a Pod carrying non-nil schedulingGates
    - [x] disallow creating a Pod with non-nil nodeName and non-n

[2022-10-21 19:42] Huang-Wei commented on #113269
/triage accepted
/milestone v1.26

[2022-10-21 20:07] pohly commented on #113268
/sig storage

[2022-10-21 22:45] luisdavim commented on #110835
If we're to make an API change, I'd rather just allow full control over the permissions instead of only allowing to control the presence of the sticky bit.

I might be wrong but, I don't think that adding the sticky bit by default would be a breaking change, in what scenarios would that be a problem?

[2022-10-21 23:49] ritazh opened #113272 "Update godoc on how to specify group/resources to be encrypted"
### What happened?

Update the godoc on the encryption config API on how to specify group/resources to be encrypted
ref: https://github.com/kubernetes/kubernetes/pull/113015#discussion_r1002055172

### What did you expect to happen?

godoc has the details

### How can we reproduce it (as minimally and precisely as possible)?

 na

### Anything else we need to know?

_No response_

### Kubernetes v

[2022-10-21 23:49] ritazh commented on #113272
/sig auth
/triage accepted

[2022-10-22 00:46] bstrdsmkr commented on #71233
not stale

[2022-10-22 00:55] lixd commented on #103305
@chrishenzie thanks for your replay

[2022-10-22 00:56] xmcqueen commented on #109295
Local run of `e2e_node.test`:

[This](https://github.com/kubernetes/kubernetes/blob/16c86404dc152863080ee90c4909912bc0966c56/test/e2e_node/perf/workloads/tf_wide_deep.go#L59) has to change too.

[2022-10-22 01:19] #107372 closed

[2022-10-22 02:58] xmcqueen commented on #109295
Local test using the published 1.3 image run the standard way was successful with the above:

`make test-e2e-node FOCUS='Node Performance Testing \[Serial\] \[Slow\] Run node performance testing with pre-defined workloads TensorFlow workload' SKIP="QQQQQ" `

ran the test successfully.

So

- promote the image per [this](https://github.com/kubernetes/kubernetes/tree/master/test/images#promoting-ima

[2022-10-22 06:58] ycjiang50 commented on #63267
I scanned through all the tests in pkg/scheduler and test/integration/scheduler and seems like they've all been updated to use subtest and sub-benchmark. This issue can probably be closed.

[2022-10-22 08:22] #110163 closed

[2022-10-22 09:22] #108065 closed

[2022-10-22 13:09] ahipe101 commented on #61586
I got this error!

root@ubuntu-xenial:~# kubectl get all -n --all-namespaces
error: {batch  cronjobs} matches multiple kinds [batch/v1beta1, Kind=CronJob batch/v2alpha1, Kind=CronJob]

[2022-10-22 13:17] liggitt commented on #113251
Thanks for the request, this looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/70147

/close

[2022-10-22 13:17] #113251 closed

[2022-10-22 13:22] #40846 closed

[2022-10-22 13:25] liggitt commented on #113246
Thanks for the report, this is captured in https://github.com/kubernetes/kubernetes/issues/58477, and is a known issue with client-side apply that cannot be fixed in a backwards compatible way. Using server side apply (`kubectl apply --server-side`) would handle this correctly

[2022-10-22 13:29] sli720 commented on #113080
I did a fast nslookup loop against all coredns pods from different hosts and it always resolved successfully. Only when using nodelocaldns between it sometimes fails on always different hosts.

[2022-10-22 13:29] liggitt commented on #113246
Sorry, I misread the duplicate error. It looks like apply is not removing the old port, which surprises me. It is probably because you did not create the object using apply. Apply expects to manage the entire lifecycle of the object, so when you created independently, it had no record of the original applied content, so it didn't know your updated manifest should remove the old port.

If you creat

[2022-10-22 13:33] sli720 commented on #113080
They never crashed so far if you mean that and in the logs there are no errors.

[2022-10-22 13:36] lianghao208 commented on #113246
@liggitt
Yes, I probably did not use apply the entire lifecycle of the object. When apiserver validate the patch object, should it merge the containerPort list maps when they have duplicate `name` value?

[2022-10-22 13:55] liggitt commented on #113246
No, the merge key is the port number, not the name

[2022-10-22 13:57] lianghao208 commented on #113246
@liggitt Is that possible to apply an object(only update containerPort's port but not name) while the object was modifed by multiple controllers?

[2022-10-22 14:33] liggitt commented on #113246
client-side apply only supports a single client, but controllers don't typically use it, so if you are the only client, you can apply updates like that (as long as you use it consistently to create and update)

server-side apply supports multiple clients (distinguished by their self-provided "field manager" name), so multiple clients can use server-side apply to make updates correctly to fields th

[2022-10-22 15:45] lianghao208 commented on #113246
@liggitt thank you so much for the reply, I'll close this issue.

[2022-10-22 15:46] #113246 closed

[2022-10-22 17:22] #110189 closed

[2022-10-22 17:55] pohly commented on #113261
/assign

Looks like it only times out on my local branch. I'll investigate that. However, the error check is missing on master.

[2022-10-22 18:23] #109965 closed

[2022-10-22 18:29] pohly commented on #113261
Fixed, and I'll add the error check in https://github.com/kubernetes/kubernetes/pull/112923

[2022-10-22 19:45] kotyara85 commented on #73570
Same here on 1.21. Even on minikube it takes about 2s to update discovery cache. kubectl also does this pretty often which is annoying

[2022-10-22 22:44] Cool-Coder174 commented on #113272
/assign Cool-Coder174

[2022-10-22 22:51] manav014 commented on #108806
/assign

[2022-10-23 00:13] xmcqueen commented on #109295
After the image promotion is merged, there's STILL one more commit coming:

- bump the image version in the e2e test manifest [here](https://github.com/kubernetes/kubernetes/blob/master/test/utils/image/manifest.go#L258)
- change the [overriding pod spec command](https://github.com/kubernetes/kubernetes/blob/16c86404dc152863080ee90c4909912bc0966c56/test/e2e_node/perf/workloads/tf_wide_deep.go#L59)

[2022-10-23 01:36] Bryce-Soghigian commented on #113269
Do you need help with any of this work?

[2022-10-23 01:52] yxxhero commented on #113215
@lixiaobing1 I think it is a valuable feature.

[2022-10-23 02:11] kerthcet commented on #63267
Thanks @ycjiang50 for the feedback, I'd like to close this issue since most tests are migrated.
/close

[2022-10-23 02:11] #63267 closed

[2022-10-23 02:30] dghubble opened #113278 "kubelet: Configurable failed/term mode with GracefulNodeShutdown"
### What happened?

When the Kubelet GracefulNodeShutdown feature (beta as of v1.25.3) evicts pods before shutdown, it marks them as "Failed" as part of its [documented](https://github.com/kubernetes/website/pull/28235/files) behavior. These failed Pods persist until they're eventually removed by pod garbage collection (default 12500).

[code]

Enabling the GracefulNodeShutdown feature means `Fail

[2022-10-23 02:31] #109949 closed

[2022-10-23 04:28] dghubble commented on #110755
Filed separately as https://github.com/kubernetes/kubernetes/issues/113278

[2022-10-23 05:04] protosam commented on #111699
Both kube-apiserver and etcd can be masters on the same node or be on separate nodes. I'm not sure what these metrics are actually tied to, but you can figure it out by comparing them with `top`.

The relevant columns are going to be:
- `RES` - physical memory footprint without pages and cache
- `USED` - physical memory footprint and swap use without the pages and cache
- `VIRT` - physical memory

[2022-10-23 09:39] asitha23 commented on #72680
Apparently With the latest Kubernetes version (v1.24) to work, you need to run the following command

[code]

[2022-10-23 12:29] pacoxu commented on #113278
/cc @wzshiming

[2022-10-23 12:32] #110226 closed

[2022-10-23 15:34] xmcqueen commented on #109295
Its promoted and is found at the expected url:

[code]

[2022-10-23 15:54] rbjorklin commented on #70585
/remove-lifecycle stale

[2022-10-24 02:55] sxllwx commented on #111985
@Arnavion @clux @Jefftree  This issue has been fixed in [PR-113133](https://github.com/kubernetes/kubernetes/pull/113133). Currently I have submitted [PR-113286](https://github.com/kubernetes/kubernetes/pull/113286) to cherry-pick the fix to release-1.25.

[2022-10-24 02:58] lianghao208 opened #113287 "Daemonset controller should allow setting max pods creation rate"
### What would you like to be added?

an arg for controller manager to specify the max pods creation rate for daemonset controller:
[code]

### Why is this needed?

Creating a daemonset in a huge cluster with over 4000 nodes will lead to over 4000 pods creation as the same time, which increases the risk for apiserver. A better approach is to limit the daemonset pods creation rate with custom strat

[2022-10-24 02:59] lianghao208 commented on #113287
/sig apps

[2022-10-24 03:00] lianghao208 commented on #113287
/area controller-manager

[2022-10-24 03:36] AbelHugh opened #113288 "Is there a way to route to a specified statefulset pod through ingress"
### What would you like to be added?

Let me first talk about why this question is asked. We have a mysql cluster with one master and multiple slaves. Only the master node can read and write, and the slave nodes can only read,

### Why is this needed?

because we have the need to access and modify data from the outside, so We want to route to the pod mysql-0 through ingress, instead of load balanc

[2022-10-24 04:00] jdhanota commented on #40413
+1 Is there any answer? I also got the same question in my CKAD exam.

[2022-10-24 04:02] jdhanota commented on #40413
@ivneetsinghwahi03 - There was only one label available in each network policy.

[2022-10-24 06:21] Noksa commented on #112131
Why the issue is closed if it is not fixed yet?

[2022-10-24 06:47] tossmilestone opened #113289 "Pod is stuck in terminating with "MountVolume.SetUp failed for volume ... not registered" error"
### What happened?

Pod is stuck in terminating state when rapidly create and delete the pod, the kubelet log reported the volume setup error:
[code]

It has the same error with #105204, but the k8s 1.23.13 we used have fixed the issue with the PR #108756.

So the PR haven't totally fixed the issue. The cause may be if the pod is deleted when the volume manager is setting up the volume of the pod,

[2022-10-24 06:48] tossmilestone commented on #113289
/sig node

[2022-10-24 07:35] hypdeb commented on #24725
Is the documentation supposed to be up to date? I feel like I'm missing something here: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy

[2022-10-24 08:04] huzhengchuan opened #113292 "Pod quota is not released in time when node lost"
**What happened?**

when a node lost,  let pod stuck terminating.  pod.DeletionTimestamp = deleting time + pod.DeletionGracePeriodSeconds.  it not need to add pod.DeletionGracePeriodSeconds again.
https://github.com/kubernetes/kubernetes/blob/36dd5f2846a6003d1b346969183270440f37b190/pkg/quota/v1/evaluator/core/pods.go#L467

i test in k8s 1.22.9
<pre>
08:21:33.173082       1 taint_manager.go:106] "

[2022-10-24 08:28] huzhengchuan commented on #113292
sig api-machinery

[2022-10-24 08:33] #113292 closed

[2022-10-24 08:41] huzhengchuan opened #113293 "Pod quota is not released in time when node lost"
### What happened?

when a node lost, let pod stuck terminating. pod.DeletionTimestamp = deleting time + pod.DeletionGracePeriodSeconds. it not need to add pod.DeletionGracePeriodSeconds again.

https://github.com/kubernetes/kubernetes/blob/36dd5f2846a6003d1b346969183270440f37b190/pkg/quota/v1/evaluator/core/pods.go#L467

i test in k8s 1.22.9
<pre>
08:21:33.173082       1 taint_manager.go:106] "No

[2022-10-24 09:00] sagarputta opened #113294 "Unable to join the control plain node to the existing kubernetes cluster"
### What happened?

we have kubernetes multi-cluster environment  (3 master cluster ) we renewed kubernetes certificates after expired once renewed certs its working fine, after 15 days we done patching for servers so we restarted servers and cluster went down completely, and we renewed certs again and restored the cluster with etcd backup, at that time cluster is working with only one master anot

[2022-10-24 09:16] djmcgreal-cc commented on #15834
Now, with field selectors we can do `kubectl get pods --all-namespaces --field-selector='metadata.name=counter'`

To further my understanding, I'd ask:- doesn't `--all-namespaces` itself break independence? One can search by label across all namespaces, it feels funny for by name to be special.

[2022-10-24 10:11] pbetkier commented on #87733
/triage accepted

[2022-10-24 10:21] abhisek00 commented on #87733
Issue is replicated in both autoscaling/v2 and autoscaling/v2 versions. But working fine in autoscaling/v1

Server Version: v1.25.2

Error
kubectl label hpa php-apache testlabel=test
**The HorizontalPodAutoscaler "php-apache" is invalid: spec.metrics[0].object.target.value: Invalid value: resource.Quantity{i:resource.int64Amount{value:0, scale:0}, d:resource.infDecAmount{Dec:(*inf.Dec)(nil)}, s:"0

[2022-10-24 11:39] jun0tpyrc commented on #26944
hitting this also sometimes, might be control plane &/ persistent problem

Once this occurs , it persists for me even i delete deployment & service to recreate both in following orders

1) Create a deployment & service exposing it
(set some vars not yet existed on the deployment)
2) kubectl set env deploy/xxxxxx --containers=XXXX AAA=BBB
3a)(check pods started &/ delete them to let replicaset recr

[2022-10-24 12:37] liggitt commented on #113223
I don't think it's a breaking change, since it did not change behavior for the v1beta1 endpoint. I would expect a single actor to define the versions for the CRD, since they also have to define the conversion between them. Independent ownership of different versions or of parts of the schema don't seem like a good thing to encourage.

[2022-10-24 12:44] liggitt commented on #109744
is this complete now?

[2022-10-24 13:01] liggitt commented on #102976
no md2man / HTMLSpan warning messages in latest logs for that job or in a manual run, marking is resolved

/close

[2022-10-24 13:01] #102976 closed

[2022-10-24 13:09] yuzhouliu9 commented on #111699
Thanks, here are the top 5 processes sorted by `USED`, on a master node.
[code]

With the prometheus query `container_memory_working_set_bytes{container="kube-apiserver"}` the value is 1.43GiB. So not an exact match to `RES`. I understand memory accounting in Linux is a very complicated subject, so I don't want to really dive into where the difference comes from.

Back to the original topic though

[2022-10-24 13:20] neolit123 commented on #113294
hi,

for support questions please use the support channels
https://metrics.lecoq.io/insights

/close
/kind support

[2022-10-24 13:20] #113294 closed

[2022-10-24 13:22] gaelgatelement commented on #113223
I understand your reluctance to this change. It's indeed a good point that partial ownership would become possible.

We are actually using this schema change locally in our repository to be able to build complex schemas in multiple kustomize steps before pushing it to the kubernetes API. I think this is a valid usecase, but I see that there would have unwanted side-effects if we pushed it to the m

[2022-10-24 13:32] liggitt commented on #113223
If you're applying patches locally to construct a schema that is written to the server by a single actor, I'd suggest using a different patch type than strategic merge patch. You can get very fine-grained control of where and how the patch is applied with the json-patch type (https://kubectl.docs.kubernetes.io/references/kustomize/builtins/#_patchesjson6902_)

[2022-10-24 13:41] andrewsykim commented on #106579
/reopen

[2022-10-24 13:54] gaelgatelement commented on #113223
Yes, we have been using this as well, but here we are trying to include metadata in every field of our CRD.

To be more precise, we are trying to add [openapi specifications extensions which are not supported by k8s yet](https://github.com/kubernetes/kubernetes/issues/82942). So we build 2 distincts schema file : first the CRD which will be injected into k8s, and then we attach some `x-ui-type` fi

[2022-10-24 14:10] claudiubelu opened #113302 "Test images: sample-apiserver E2E image fails to build"
### What happened?

``go get`` for installing golang binaries has been deprecated in Go 1.17 in favor of ``go install``. Starting with Go 1.19, we can no longer install binaries through ``go get``. [1]

We've recently switched to Go 1.19, and because of this, the ``sample-apiserver`` E2E image has started failing to build recently [2] with the error:

[code]

Using ``go install`` for ``k8s.io/samp

[2022-10-24 15:01] mborsz opened #113305 "Reflector retains initial list result for a long time"
### What happened?

The result of initial list in Reflector is kept in the memory until the last element in the items list hasn't been changed.

In practice this can be a long time, e.g. there can be some stable pod that are running for days, in configmaps there is a kube-root-ca.crt which stays there forever.

This problem is described here: https://go.dev/blog/slices-intro#a-possible-gotcha

IIU

[2022-10-24 15:01] mborsz commented on #113305
/sig api-machinery

[2022-10-24 15:02] mborsz commented on #113305
/cc @liggitt @wojtek-t @lavalamp

[2022-10-24 15:11] iancoolidge commented on #112899
So, any oppoition to this? I'm happy to start work on this, or if someone else is interested in doing it now-ish, happy for help.

[2022-10-24 15:16] liggitt commented on #113305
xref discussion in https://github.com/kubernetes/kubernetes/pull/102565/files

[2022-10-24 15:23] Jorres commented on #89939
We need this.

[2022-10-24 15:23] sftim commented on #11764
/transfer website

[2022-10-24 15:51] lavalamp commented on #107097
/lifecycle frozen

[2022-10-24 16:44] lavalamp commented on #109329
I don't understand what keeps people from doing this today, or why it would be a good idea for us to do it for them. Can you please explain more.

[2022-10-24 16:54] lavalamp commented on #113305
Note that `[]runtime.Object` is essentially already a list of pointers, this can be addressed earlier just by making sure that the pointers don't all point into the same chunk of memory. No?

[2022-10-24 17:01] carsonoid commented on #102056
/remove-lifecycle stale

[2022-10-24 17:19] mborsz commented on #113305
@lavalamp, yes.

The problem is that it's allocated as a single chunk in ConfigMapList implementation and to split them to separate memory obejcts we need to either deepcopy them (proposed in https://github.com/kubernetes/kubernetes/pull/102565/files) or change the ConfigMapList to use pointer type for Items elements (I would assume it's infeasible, right?).

[2022-10-24 17:26] lavalamp commented on #113305
I wouldn't say it's 100% infeasible. The problem with any fix to this issue is that this is a rare-ish condition and fixing it will make the ordinary condition worse, either at runtime or in the codebase.

[2022-10-24 18:19] mborsz commented on #113305
IIUC this shouldn't be that rare: correct me if I'm wrong, but  for me it looks like any client (including kube-apiserver itself) using reflector, watching resource type of high cardinality will keep the initial state forever (assuming that there is some object that isn't changing [*])

[*] It's not clear how often is the not changing object condition, but it shouldn't be very hard for resources l

[2022-10-24 20:10] mknyszek commented on #110146
I think that `json.compact` goes beyond a validity check. If I understand the code correctly, it's main purpose is to append JSON produced by a `MarshalJSON` method to a buffer, while simultaneously checking its validity (so you get an error if the `MarshalJSON` method produced something invalid) and compacting it (producing compact JSON is I believe the common case?). I think it may also escape c

[2022-10-24 20:45] #109908 closed

[2022-10-24 21:07] smarterclayton commented on #106054
We need to make some progress on giving users deployment level summarization of useful level driven transitions (that match the user driven intent of making changes).

A deployment or replicaset in steady state that is failing to get back to an available state for longer than a certain reasonable period should definitely be summarized as a condition, but i agree that changing Progressing is probab

[2022-10-24 21:34] nasir9622 commented on #90345
@rahulwagh I was working with centos and got the same issue on joining the worker with the master. my firewall was Active on the master node so that wasn't allowing the kubelet to talk with master api server. check the firewall on all of your nodes if you are working with centos or RHEL

[2022-10-24 22:08] ReggieCarey commented on #90066
I recognize this is closed but here are my two cents anyway:

managedFields is an implementation detail.  It has nothing to do with my assertion of some resource.  I feel like this functionality could have been implemented at least partially if git had been incorporated into the backend of k8s.

As it stands, the resource that gets applied/created is manipulated in inconsistent ways.  Some status

[2022-10-24 22:12] apelisse commented on #90066
Thanks for the feedback. What do you think specifically is broken?

It sounds like it's been annoying to you, when has this been the case specifically?

Feel free to open a bug with the steps to reproduce, I'd love to take a look.

[2022-10-24 22:34] lavalamp commented on #90066
You might like to read about how it's intended to be used: https://kubernetes.io/blog/2022/10/20/advanced-server-side-apply/

[2022-10-24 22:40] micahhausler commented on #112408
There have been a few hallway conversations at the KubeCon Contributor's Summit today about this topic. The direction for backward compatibility discussed in golang/go#55090 is very encouraging, but at best there might be changes in the next Go release (1.20 in ~Feb 2023), which might get picked up by Kubernetes 1.27 (~April 2023) or 1.28 (~Aug 2023).

With no changes that would leave the oldest m

[2022-10-25 02:08] chendave commented on #109744
@liggitt , Only two of them left,

I need to follow this one, here is the issue for this one opened in the Ginkgo: https://github.com/onsi/ginkgo/issues/994.

I think this should be fixed in the third party tools instead of in the Kubernetes, if we agree with that, we can mark it as completed as well.

[2022-10-25 02:19] #109744 closed

[2022-10-25 02:40] feiskyer commented on #94590
I believe this has been fixed already in out-of-tree cloud provider.

/close

[2022-10-25 02:40] ReggieCarey commented on #90066
Thanks for this. It clarifies server side apply and its benefits. Can this be achieved without dumping managed fields into the meta data. Could each resource have a sibling managedField resource that is only retrieved upon request? In the same way that finalizers or timestamps are added, a ref to managedFields could be added. Sent from my iPhoneOn Oct 24, 2022, at 18:35, Daniel Smith ***@***.***>

[2022-10-25 02:40] #94590 closed

[2022-10-25 03:08] apelisse commented on #26944
OK Let's try to reproduce this:
[code]

I still don't see what I should be looking at?

[2022-10-25 03:25] dsnet commented on #110146
Without looking into it further, this seems like a similar problem as kubernetes/kube-openapi#315, but in the marshal direction, rather than unmarshal.

If you have benchmark to run, I can look into deeper later.

[2022-10-25 06:41] kerthcet commented on #108444
/remove-lifecycle stale

[2022-10-25 09:08] bamboo12366 commented on #110317
We are using [keda](https://keda.sh/) for this, so the process may not restricted by k8s reconcile process; So if I change
`horizontal-pod-autoscaler-sync-period` is quite good enough for our situation;

But I really want is a application level configuration cuz some workload are more sensitive than other

[2022-10-25 09:08] schedin commented on #81089
Another example of why a new way of configuring owner/permissions for mounted secretes would make things easier: Java JMX Remote monitoring (passing a jmxremote.password file to the JVM). You will get this error when starting the JVM:
[code]

The suggested [`securityContext.fsGroup`](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/)  solution does not work for this exampl

[2022-10-25 09:24] shuoshadow opened #113319 "kube-controller-manager panic happend when add StatefulSetAutoDeletePVC feature gate and create statefuleset with volumeClaimTemplates"
### What happened?

The replicas is 3 but just create 1 pod 'web-0' and one pvc, then kube-controller-manager panic happend.
[code]

### What did you expect to happen?

Should create 3 pod and 3 pvc

### How can we reproduce it (as minimally and precisely as possible)?

add '--feature-gates=StatefulSetAutoDeletePVC=true' arg for kube-controller-manager, then create statefulset with 2 replicas and

[2022-10-25 10:14] pohly commented on #109744
We agreed to fix the tool, but had no issue open for it. I just created one: https://github.com/GoogleCloudPlatform/testgrid/issues/1069

[2022-10-25 10:31] Lisss29 commented on #107186
I have the same problem with exec -it pod --bash

Any suggest to fix it?

Kube version: v1.22.1

[2022-10-25 11:00] marcin-ops commented on #107186
I solved this problem, and I will share this solution here
Kubectl exec -it [pod] bash
Receives: Error from server: error dialing backend: dial timeout, backstop

requires traffic on TCP port 8132 to endpoint API cluster of kubernetes

[2022-10-25 11:31] moonek commented on #105204
Is this issue clearly resolved in the latest version?
There are many comments that the problem still occurs. is closed correct?
And is this only happening in cronjobs?

[2022-10-25 11:33] shuoshadow commented on #113319
/sig apps

[2022-10-25 11:33] shuoshadow commented on #113319
[@mattcary](https://github.com/mattcary)

[2022-10-25 11:44] exander77 opened #113322 "Incorrect and misleading error reporting: failed to initialize top level QOS containers: root container [kubepods] doesn't exist"
### What happened?

When doing validation, kubernetes doesn't actually report the issue with the cgroup kupepods, instead they issue an error that cgroup kubepods doesn't exist at all. This is related to opencontainers not checking if controllers got properly set:
https://github.com/opencontainers/runc/issues/3647

So it goes like this:
Kubernetes use opencontainers to set up cgroup kubepods.
Open

[2022-10-25 12:00] akloss-cibo commented on #81089
Just to pile on, ArgoCD is also affected.

[2022-10-25 12:36] xenuser commented on #85280
Issue still happens for us on RKE 1, Kubernetes v1.19.10 and Longhorn 1.3.1
Is there nobody looking at this issue?

[2022-10-25 12:41] robert-gdv commented on #109597
/remove-lifecycle stale

[2022-10-25 12:42] weilaaa commented on #109329
I think we need this feature for the following reasons:
1. Although users can use `IndexKeys` + `List` in combination, this method is not thread-safe, and the content of store may change during multiple indexing.
2. For convenience, when there is a scenario where multiple indexers are combined for joint indexing, we need to provide users with a more convenient interface. Different users should not

[2022-10-25 12:45] ardaguclu commented on #113227
This looks like a duplicate of these https://github.com/kubernetes/kubernetes/issues/102378, https://github.com/kubernetes/kubernetes/issues/108573

[2022-10-25 13:08] mborsz commented on #110146
https://github.com/kubernetes/kubernetes/pull/113326 adds benchmark for this issue.

[2022-10-25 13:12] xgp01 commented on #109329
I have similar scenarios where some of the same logic needs to be implemented over and over again in different projects.  If this capability can be provided it should reduce a lot of duplication of effort.

[2022-10-25 13:23] weilaaa commented on #109329
The main reason for this is that the content of the store will change during the user calls the index multiple times and then combines the index results. Users cannot avoid this because they cannot directly manipulate ThreadSafeStore.

[2022-10-25 13:25] Namanl2001 opened #113327 "[failing-test] ci-kubernetes-e2e-gce-scale-correctness"
### Which jobs are failing?

sig-release-master-informing#ci-kubernetes-e2e-gce-scale-correctness

### Which tests are failing?

Kubernetes e2e suite: [SynchronizedBeforeSuite]

### Since when has it been failing?

10/22

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

### Reason for failure (if possible)

_No response_

### Anything else we ne

[2022-10-25 13:42] hugoShaka commented on #113227
If I understand correctly those two issues are feature requests to warn users in case of conflict, I would not consider them duplicates of this one.

Here, the issue is not that there's a conflict the user don't know. The issue is that kubectl's behaviour is not consistent on how to choose a resource. The returned  resources depend on the last cached RESTmapping, which depends on the order the com

[2022-10-25 13:50] dcardellino commented on #66607
Is there any solution for this?

[2022-10-25 14:07] neolit123 commented on #113243
/sig node

[2022-10-25 14:08] sftim commented on #113142
Thinking about this more, maybe it's simpler than I think. Kueue can use its own finalizer, that Job isn't aware of. The Job controller then watches for a `deletionTimestamp`. Once the deletion timestamp exists, the Job controller terminates any current Pods for the Job. Kueue can watch the status of the Job and remove the finalizer once the Job has either a `"Failed"` condition that is `true`, **

[2022-10-25 14:08] neolit123 commented on #113288
/sig network

[2022-10-25 14:09] neolit123 commented on #113322
/sig node

[2022-10-25 14:11] liggitt commented on #113142
That makes sense to me (and I prefer a kueue use a kueue-specific finalizer over a shared "well-known" finalizer). Is this what the job controller does today (deletes child pods when the job has a non-nil deletionTimestamp)?

[2022-10-25 14:17] sftim commented on #113142
Deleting a Job with a finalizer set does _not_ seem to trigger Pod termination, so we'd need to bring in that behavior (feature gate? new API field?)

[2022-10-25 14:19] sftim commented on #113142
I noticed that the Job does make Pods with `ownerReferences`, and that those `ownerReferences` are set to [block deletion](https://kubernetes.io/docs/concepts/overview/working-with-objects/owners-dependents/#owner-references-in-object-specifications) of the owning Job.

[2022-10-25 14:40] thockin commented on #66607
Unfortunately the work to fix this sort of stalled for lack of someone to
drive it to completion.  Help wanted?

On Tue, Oct 25, 2022 at 8:51 AM Dominic Cardellino ***@***.***>
wrote:

[2022-10-25 14:40] tallclair commented on #113266
/triage accepted

[2022-10-25 14:41] tallclair commented on #113266
/help

[2022-10-25 14:47] tallclair commented on #109087
I'm still hoping to get it in this release, but blocked on approval on https://github.com/kubernetes/kubernetes/pull/111095.

Note that this is just a cleanup, so no real impacts of this slipping if it doesn't make the cutoff.

[2022-10-25 14:51] alculquicondor commented on #113142
AFAIK, this is intentional, to support adoption: 1. delete the job with orphaning, 2. create a second job that selects the running pods.

Also, the problem with just "deleting" a job from kueue (even just setting the deletion timestamp) is that it bypasses the field `ttlSecondsAfterFinish` which is supposed to delete a Job after it is declared Finished.

[2022-10-25 14:51] seandilda opened #113334 "Option collision for --user in kubectl create rolebinding"
### What happened?

I ran `kubectl create rolebinding --clusterrole=admin --serviceaccount=namespace:sa --user=my-creds-user`

The rolebinding was creating tying both the service account and the user I was logging in as.

### What did you expect to happen?

I expected the service account to be bound to the role, but not my user.

### How can we reproduce it (as minimally and precisely as possible)

[2022-10-25 14:58] seandilda commented on #113334
/sig cli

[2022-10-25 15:36] sftim commented on #113142
1. Is the delayed cleanup from `ttlSecondsAfterFinish` needed for preemption by Kueue?
2. Kueue could choose to leave the finalizer in place for the duration of `ttlSecondsAfterFinish`, if that's important.

[2022-10-25 15:37] BenTheElder commented on #113088
@dims is this all done now? 😄

[2022-10-25 15:37] sftim commented on #113142
I believe that we can teach the Job controller to distinguish deletion with orphaning from deletion with a finalizer present. Just not sure if that needs its own KEP, feature gate, etc.

[2022-10-25 15:52] invidian commented on #49387
/remove-lifecycle stale

[2022-10-25 16:03] alculquicondor commented on #113142
It's not about kueue, but the user desire.

Yeah... but that's duplicated code.

[2022-10-25 16:11] lavalamp commented on #90066
There is no other place that is universal to all kubernetes objects. We also can't move this since SSA has been GA for quite some time.

client-side apply maintained a "lastAppliedAnnotation" which is also in metadata and wasn't very pretty either, btw.

[2022-10-25 16:30] sftim commented on #113142
What's the user story for Kueue prempting a Job but with a grace period? Maybe we should capture that.
If we are happy with immediate preemption, we might be able to do that - including Pod cleanup - without any API change.

In general, it feels like we're looking for a mechanism to promptly delete in-progress Jobs, where that mechanism doesn't prevent us from immediately deleting a Job and then h

[2022-10-25 17:20] alculquicondor commented on #113142
If we are happy with immediate preemption, we might be able to do that - including Pod cleanup - without any API change.

We want to be able to preempt the job without removing it from apiserver. This is the same as how Jobs are not immediately removed when they finish, so users might be relying on this behavior.

That is correct.

[2022-10-25 18:20] dhduvall opened #113339 "document interaction between PodDisruptionBudget and rollout strategy"
### What would you like to be added?

The documentation on PodDisruptionBudgets (https://kubernetes.io/docs/concepts/workloads/pods/disruptions/) doesn't mention strategy at all. Likewise, the documentation on strategy (https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy) doesn't mention PodDisruptionBudgets. https://kubernetes.io/docs/tasks/administer-cluster/safely-dra

[2022-10-25 18:38] munnerz opened #113341 "Supporting feature gates on CRDs for configuring usage & validation of fields"
When introducing a new alpha or beta-level field to a CRD, validation needs to be used to ensure that the field cannot be set unless the administrator has explicitly 'enabled' a new feature, in a similar manner to upstream Kubernetes resources.

To do this today, we must either:

* create a validating webhook and add some form of feature gating configuration there
* not include the field altogethe

[2022-10-25 18:38] munnerz commented on #113341
/sig api-machinery
/kind feature

[2022-10-25 18:50] tangducthinh456 commented on #48798
I'm using VMWare to create cluster Kubernetes and get same error, after shutdown and restart VM it works!

[2022-10-25 18:54] aditighag opened #113342 "Expose Pod cgroup path as part of `status` field"
### What would you like to be added?

We would like pod's cgroup path to be exposed in the Pod `status` (or other metadata field in the Pod object).

### Why is this needed?

This would allow accessing pod's cgroup paths in a way that is independent of the container runtime, or cgroup driver, etc, and that doesn't require installing additional tooling.

Here are some use cases utilizing pod cgroup

[2022-10-25 19:51] msau42 commented on #101622
/remove-lifecycle rotten
/remove-label good-first-issue

This isn't a great first issue to work on. It requires having a NFS server and instrumenting it to be down to test the fix.

[2022-10-25 19:53] msau42 commented on #101622
/remove-good-first-issue

[2022-10-25 20:08] msau42 commented on #88848
/triage accepted

[2022-10-25 20:20] lavalamp commented on #109329
I would first investigate the options which just let people perform multiple lists without releasing the lock.

Actually first I would try to be sure that this is actually a problem; if you do multiple lists from apiserver they don't happen at the same time either, does that really mean you can't do something useful?

[2022-10-25 20:49] rtheis commented on #108266
/remove-lifecycle stale

[2022-10-25 20:50] rtheis commented on #109714
/remove-lifecycle stale

[2022-10-25 20:57] dims commented on #113088
yep. thanks @BenTheElder

[2022-10-25 20:57] #113088 closed

[2022-10-25 21:15] liggitt commented on #112408
Kubernetes 1.28 is the more likely release to be able to start using the `go.mod`-enabled compatibility behavior discussed in https://github.com/golang/go/discussions/55090

If `//go:debug`-enabled compatibility behavior described in https://github.com/golang/go/discussions/55090 works like I expect, older Kubernetes versions should be able to use that to update to the latest go version at that po

[2022-10-25 21:15] sftim commented on #113006
Should we transfer this issue to k/kubectl?

[2022-10-25 21:17] sftim commented on #113028
I wonder if we want to list every combination of parameters for these media types - that could be a lot of cardinality.

[2022-10-25 21:23] AbeOwlu commented on #96200
Hi @GaneshVKadam, your reported issue didn't get any info, it seems.
Do you have an update on work around, please? Facing the same whatbout error. Thanks

[2022-10-25 21:50] danbudris commented on #112408
One thing to call out, is that the problem we're working to address through our [builds of EKS Go](https://github.com/aws/eks-distro-build-tooling/tree/main/projects/golang/go) is not just pertaining to maintained release branches, but the extended longer-term support of Kubernetes beyond the currently supported release branches -- EKS Distro currently supports Kubernetes 1.20, 1.21, 1.22 and 1.23

[2022-10-25 21:53] apelisse commented on #113028
We should definitely list the types associated with each content-type though, since our current change for API Discovery has entirely different types based on the negotiated content-type.

[2022-10-25 22:11] nurhun commented on #60535
Any updates if this will be considered

[2022-10-25 23:26] #74178 closed

[2022-10-26 01:27] NinoSkopac commented on #40908
reopen pleeasee

[2022-10-26 01:50] jlsong01 commented on #110793
/remove-lifecycle stale

[2022-10-26 01:54] jlsong01 commented on #110793
@leilajal hey, the pr review has been pending for several months. could you help to take a look please? Thanks

[2022-10-26 04:47] timoreimann commented on #66607
Hey @thockin 👋

I'd be happy to help pushing this over the finishing line. Is there a place to refresh my memory on where we stand right now and what remains to be done?

I vaguely remember that time was spent on a KEP but don't recall the details.

Appreciate any starting pointers.

[2022-10-26 06:10] mengjiao-liu commented on #113334
/triage accepted

[2022-10-26 06:32] moonek commented on #112513
We are going to do our own patch for the old version below k8s 1.22.
Only need rebuild for `kube-apiserver`?

[2022-10-26 06:59] #108181 closed

[2022-10-26 07:05] Ithrael commented on #113334
kubectl create rolebinding name --clusterrole=admin --serviceaccount=namespace:sa --user=my-creds-user

exactly one NAME is required

[2022-10-26 07:07] vaibhav2107 commented on #113342
/sig node

[2022-10-26 07:14] vaibhav2107 commented on #111445
/remove-lifecycle stale

[2022-10-26 07:17] vaibhav2107 commented on #111388
/remove-lifecycle stale

[2022-10-26 07:18] vaibhav2107 commented on #111174
/remove-lifecycle stale

[2022-10-26 07:19] vaibhav2107 commented on #110996
/remove-lifecycle stale

[2022-10-26 07:29] ardaguclu commented on #113227
I'm going to investigate this issue.

[2022-10-26 07:36] myrondev commented on #93390
Yes, the same issue.

[2022-10-26 07:46] Ithrael commented on #113334
/assign

[2022-10-26 07:47] Ithrael commented on #113334
I think I'm able to reproduce it. Here is what I did, and I think it is the same thing @seandilda is talking about:

`kubectl create rolebinding test --clusterrole=admin --user=yu
`
`apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  creationTimestamp: "2022-10-26T07:38:27Z"
  name: test
  namespace: default
  resourceVersion: "47128901"
  uid: e0997ab4-0869-42b1-8de6-c68bc4f10

[2022-10-26 07:55] protosam commented on #111699
Are you able to share svg's from pprof showing the heaps and allocs? Profiling for kube-apiserver should be enabled by default.

They can be collected as follows.

Before starting, you need Go and `graphviz` installed to use `go tool pprof`.

Create a loopback context. This hack ensures we will be able to get to the kube-apiserver we desire.
[code]

Start off in your main context. Identify the kub

[2022-10-26 08:38] vinay50muddu commented on #113203
@aojea , Thanks for the replies. Yes, I am aware of this. The changes you referred to fixes issue with entries in "SYN_SENT" state. The current issue is reported for conntrack entries with ESTABLISHED state which are marked as UNREPLIED.

[2022-10-26 08:41] mengjiao-liu commented on #113319
I can reproduce the issue and want to fix it.

It seems like `policy` variables cause `nil pointer`.
https://github.com/kubernetes/kubernetes/blob/5539a5b80fe45cc04df4f53bd1047cd6d998bcf1/pkg/controller/statefulset/stateful_set_utils.go#L152-L159

/assign

[2022-10-26 08:42] mengjiao-liu commented on #113319
/triage accepted

[2022-10-26 08:49] kidddddddddddddddddddddd commented on #113266
I'm not familiar with apiserver, but this seems like a simple one.
/assign

[2022-10-26 09:43] sxllwx commented on #102718
I don't think this issue is related to issue #102565 issue #102718.

issue #102565 #102718 reflects the use of a lot of memory when doing `ListObject`.

And from the kube-controller-manager you provided, the memory-related pprof consumes a lot of memory in the Unmarshal of a separate Object (*corev1.Node).

FYI: My guess here is because a large number of Nodes in the kube cluster briefly jittered.

[2022-10-26 09:44] sxllwx commented on #112319
I don't think this issue is related to issue https://github.com/kubernetes/kubernetes/pull/102565 issue https://github.com/kubernetes/kubernetes/issues/102718.

issue https://github.com/kubernetes/kubernetes/pull/102565 https://github.com/kubernetes/kubernetes/issues/102718 reflects the use of a lot of memory when doing ListObject.

And from the kube-controller-manager you provided, the memory-rel

[2022-10-26 09:46] sxllwx commented on #112319
emm,,, did this use of a lot of memory go on for a long time?

[2022-10-26 10:00] zhangguanzhang commented on #58512
[code]

[2022-10-26 10:07] kidddddddddddddddddddddd commented on #113266
How can we find unknown fields in the yaml file?
Currently I'm think of converting both the yaml file and the decoded Policy struct to two map[string]interface{}, and compare both map to find out which keys are in the yaml file but not in the decoded struct, is there any better solution?

[2022-10-26 10:45] valkyr13 commented on #104432
is this issue still available to pick up?

[2022-10-26 11:01] wojtek-t commented on #108483
/remove-lifecycle stale

[2022-10-26 11:10] ZakMiller commented on #101334
I see a couple of paths forward:
1. Update the code added as part of this commit: https://github.com/kubernetes/kubernetes/pull/100637/commits/c794b5c442b18b078b287bcbb25bb18b9eb439cd to add the role and role binding for that particular namespace, rather than granting access to secrets in the cluster role

Pros:
- only impacts test, if that's what we want

Cons:
- The resources aren't centralized

[2022-10-26 11:14] wojtek-t commented on #113305
@deads2k - FYI

[2022-10-26 11:43] xigang commented on #112319
This problem lasted for a few days and currently the average cluster `kube-controller-manager` memory usage is 32Gi

[2022-10-26 14:06] wojtek-t commented on #108483
@dashpole - can you please help with the apiserver/tracing test mentioned in https://github.com/kubernetes/kubernetes/issues/108483#issuecomment-1195714805

[2022-10-26 14:28] Ottovsky commented on #89007
/remove-lifecycle stale

[2022-10-26 15:16] WillerWasTaken commented on #21714
Also saw that issue on our end, having
[code]
toleration was not enough though. We still had a couple of MisScheduled events. Looking at the [daemon_controller code](https://github.com/kubernetes/kubernetes/blob/429f71d9583af6f2add7496fd8e41ae0f180a832/pkg/controller/daemon/daemon_controller.go#L1266), it would seem like to determine whether a pod is misscheduled or not, it filters out the taints

[2022-10-26 15:56] SStorm commented on #69041
Up. Could someone at least explain why this restriction is in place? If your StatefulSet is configured to auto-scale based on some criteria and you need to change the size of the PVCs, it is very annoying.

[2022-10-26 16:00] soltysh commented on #106055
/triage accepted

[2022-10-26 16:29] lavalamp commented on #113305
But making a deep copy of everything doubles up initial memory usage all the time for everyone.

[2022-10-26 16:31] wking opened #113365 "RFE: 'kubectl evict ...' or similar for conveniently evicting pods"
### What would you like to be added?

A `kubectl evict ...` subcommand as syntactic sugar around [the eviction API][1].

[1]: https://kubernetes.io/docs/concepts/scheduling-eviction/api-eviction/#calling-the-eviction-api

### Why is this needed?

Using the delete API is convenient, but dangerous.  For example:

[code]

Leaves an OpenShift cluster temporarily without monitoring.  It's safer to use

[2022-10-26 16:32] wking commented on #113365
/sig cli

[2022-10-26 16:48] sxllwx commented on #113305
emmm... Is such that. This modification will cause a memory spike (as you said, double the amount of memory required for initialization), but I think the cost is worth it. As the running time increases, only real-time objects remain in memory, which has obvious advantages when the number of objects is large.

[2022-10-26 17:32] msau42 commented on #101334
I actually prefer the 1st option because not all csi drivers require secrets, and I think it's better to keep the rbac example as minimal as possible.

[2022-10-26 17:40] liggitt opened #113366 "🐘 Untangle genproto / cloud.google.com/go dependencies"
https://github.com/kubernetes/kubernetes/pull/113225 uncovered a coming snarl of dependencies between cloud.google.com/go and google.golang.org/genproto

Because several generic libraries use the cloud.google.com/go/compute/metadata package, the following chain makes it almost impossible to avoid adding all cloud.google.com/go submodules into the dependency graph for all downstream consumers:
 * {

[2022-10-26 17:47] codyoss commented on #113366
I am in the process of doing item one rn: https://github.com/googleapis/google-cloud-go/issues/6311

[2022-10-26 17:53] codyoss commented on #113366
For item three I might say this can be simplified to the following:

- google.golang.org/genproto/googleapis/api/*
- google.golang.org/genproto/googleapis/rpc/*
- google.golang.org/genproto/googleapis/type/* (new entry)
- google.golang.org/genproto/googleapis/bytestream

google.golang.org/genproto/protobuf/field_mask is already an alias to another project that should be used directly.
It may be ea

[2022-10-26 17:54] codyoss commented on #113366
cc @noahdietz @quartzmo

[2022-10-26 18:06] lavalamp commented on #113305
I'm reasonably sure many large clusters wouldn't be able to survive double the memory spike on startup.

[2022-10-26 18:18] liggitt commented on #113366
opened https://github.com/googleapis/gax-go/pull/237 for item 2

[2022-10-26 18:27] arianf commented on #25908
Would like to mention another workaround that I don't see called out here yet. Instead of using a shared volume to communicate between sidecar/keystone containers, you could use `shareProcessNamespace: true`, and kill the sidecar containers process from the keystone container (as part of the last thing your keystone container does before finishing)

[2022-10-26 19:12] iocanel commented on #106802
As a tooling developer, I would like to be able to provide a generic solution for my users. Tekton or Argo are great but are too specific and not everybody uses them.

[2022-10-26 19:41] seandilda commented on #113334
@Ithrael that looks right, although I'm not certain the last couple kubectl commands are needed to show the issue.

Another way to reproduce this would be to set your context to a non-admin user.  Have an admin user defined in your .kube/config.  Use `--user` to use the credentials of the admin user while creating a rolebinding.

[2022-10-26 19:52] mattcary commented on #113319
Great find!

Does this only happen on an upgraded cluster?

I'll spin up a cluster and see if the e2e test catches this problem.

[2022-10-26 19:52] wojtek-t opened #113368 "Object returned from etcd3 Delete call is inconsistent with what watch returns"
While working on generalizing tests to somehow better define spec for storage interface (and share them across all implementation of storage.interface - in particular etcd3 and watchcache), I found an unexpected inconsistency in Delete operation in etcd3.

What is happening is that it effectively returns the state of the object from just before the deletion:
https://github.com/kubernetes/kubernete

[2022-10-26 19:54] wojtek-t commented on #113368
I opened https://github.com/kubernetes/kubernetes/pull/113369 as a fix for it.

[2022-10-26 20:30] mattcary commented on #113319
The e2e tests are still passing on a 1.24 cluster, so I suspect this is an upgrade problem. I wonder if there are other holes here.

[2022-10-26 21:46] #104165 closed

[2022-10-26 23:36] msau42 commented on #95888
/remove-lifecycle rotten

[2022-10-27 00:08] #84878 closed

[2022-10-27 01:42] pacoxu opened #113377 "TestLimitRanger_GetLimitRangesFixed22422 flakes"
### Which jobs are flaking?

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111095/pull-kubernetes-unit/1585051220769247232
[code]

### Which tests are flaking?

pull-kubernetes-unit

### Since when has it been flaking?

https://github.com/kubernetes/kubernetes/pull/112696

### Testgrid link

https://storage.googleapis.com/k8s-triage/index.html?test=TestLimitRanger_GetLimitRangesFixed

[2022-10-27 01:58] pacoxu commented on #113339
/sig apps

[2022-10-27 02:05] aimuz commented on #113377
In local tests, he always passes, so I'll see if the problem is caused by the environment

[code]

[2022-10-27 02:13] mengjiao-liu commented on #113319
I installed the 1.25.3 cluster directly using kind and still reproduced this issue, so it was probably not caused by upgrading the cluster.

[2022-10-27 02:21] FillZpp commented on #106055
/assign

[2022-10-27 02:29] kerthcet commented on #108931
/remove-lifecycle stale

[2022-10-27 02:45] aimuz commented on #113377
If the lru cache exceeds 30 seconds, the cache will be invalidated, which will lead to unit test errors, and the problem will run normally again after retesting.

[2022-10-27 02:48] aimuz commented on #113377
After I manually reduce an unhold <- struct{}{}, the same problem occurs, so it seems that the problem is caused by the cache being invalidated for more than 30 seconds. If the test doesn't complete in 30 seconds, then this is probably a machine performance issue

[2022-10-27 03:06] aojea commented on #113203
The connection ESTABLISHED and UNREPLIED seems a problem on the routing change,  breaking the connection shutdown https://netfilter.vger.kernel.narkive.com/911wYpBK/conntrack-and-established-unreplied-connections

@fedepaol I'm no longer familiar with metallb, why metallb should be faster than kube-proxy?

[2022-10-27 03:26] pacoxu commented on #113377
[code]
stress will hang after about a minute in my local test.

[2022-10-27 04:31] ghost opened #113380 "I ssh into the pod unable to get the variable of the pod custom property"
When I pass kubectl exec -it ${pod} -- bash
Then when env is executed, the custom attribute variables of k8s can be obtained, such as
![image](https://user-images.githubusercontent.com/20945014/198191760-7969c46b-4824-43b0-bb31-2053c23bf9cb.png)

But when I connect to the pod through ssh, I can't get these variable values
![image](https://user-images.githubusercontent.com/20945014/198191884-a4819b

[2022-10-27 04:47] long318737396 commented on #113380
please help me

[2022-10-27 06:00] Vyom-Yadav opened #113381 "`PodExecOptions`, `PodPortForwardOptions` and other *Options resources should contain `ObjectMeta`"
### What would you like to be added?

**Referencing** https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#metadata

Currently some kinds like `PodExecOptions`, `PodPortForwardOptions`, `NodeProxyOptions` do not contain `ObjectMeta`.
[code]

Other subresources like `Eviction` contain `ObjectMeta`:
[code]

`ObjectMeta` should be added to the kin

[2022-10-27 06:00] Vyom-Yadav commented on #113381
/sig api-machinery

[2022-10-27 06:11] ialidzhikov commented on #110795
/remove-lifecycle rotten

[2022-10-27 06:14] ialidzhikov commented on #110795
Can you elaborate more on this question? In https://github.com/kubernetes/kubernetes/issues/110795#issue-1284991472 I already described what is the use case:

I see that the corresponding handling is in the Pod defaults:
https://github.com/kubernetes/kubernetes/blob/f4abde9e57cc30efcc8f79c9ebd791d15f4164c4/pkg/apis/core/v1/defaults.go#L205-L207

So the question is whether this defaulting is used/i

[2022-10-27 07:05] donghui12 commented on #113380
how to ssh pod, pod port 22 opened?

[2022-10-27 07:34] pacoxu opened #113382 "Failure cluster: cleanupLocalPVCsPVs and e2e failed in beforeEach"
### Failure cluster [2aa8d0cf04dedeb96d2b](https://go.k8s.io/triage#2aa8d0cf04dedeb96d2b)

https://storage.googleapis.com/k8s-triage/index.html?text=cleanupLocalPVCsPVs#658be1b0e17b463179af

##### Error text:
[code]
#### Recent failures:
[2022/10/27 07:28:15 ci-cri-containerd-e2e-cos-gce-ip-alias](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cri-containerd-e2e-cos-gce-ip-alias/1585412999

[2022-10-27 09:12] Abhishekagrawal1404 commented on #113382
I have seen this issue and it should be accepted.

[2022-10-27 09:24] lixiaobing1 commented on #113380
variable in pod is not same as the host...

[2022-10-27 09:42] hmeerlo commented on #24803
I want to bump this issue once again. I can not get the httpGet preStop hook to be executed whatever I do. I removed the slash from the URL but that didn't change anything. This is my config:
[code]

[2022-10-27 09:44] long318737396 commented on #113380
my pod wraps ssh
I can log into the pod's ssh

[2022-10-27 09:46] ToReCi commented on #79224
+1 reopen

[2022-10-27 09:54] ardaguclu commented on #113227
I've sorted out the problem and this is a nice finding.

when user runs;
[code]
The expectation is that shortcut expands singular form `role` to `roles` after matching `singularName` in [this line](https://github.com/kubernetes/kubernetes/blob/f7d1eb7726fa511b6439b7f8162138742ac639ab/staging/src/k8s.io/client-go/restmapper/shortcut.go#L142). However, this does not happen because for core types dis

[2022-10-27 11:16] collimarco opened #113396 "A better way to manage secrets: reference an external secret defined in the cloud provider environment"
### What would you like to be added?

Although there are various solutions to manage secrets in K8s, I think that they are all unnecessary complex and they are not following the right approach.

I propose this simple, better alternative:

[code]

The important part here is the `secretid`:

- this is simply **an ID / external reference to a secret defined using the dashboard** (e.g. DigitalOcean co

[2022-10-27 12:39] fedepaol commented on #113203
I am not sure. What MetalLB does is, it listens to endpoints and from each node it checks if there's at least an active end point ready (in case of ETP=local), and updates the BGP advertisements accordingly. I am not sure metallb can be faster than kube-proxy in this scenario, but I am not familiar at all with kube-proxy.

Also, question for @vinay50muddu : are you using a metallb fork? Because th

[2022-10-27 13:08] #107487 closed

[2022-10-27 13:18] alculquicondor commented on #106802
Folks, please come and discuss in the SIG meetings or write a KEP. This is not a trivial feature that we can just say yes or no in a github thread.

[2022-10-27 13:35] weilaaa commented on #109329
Lock inside `threadSafeMap` seems to be private, I think users can not take the lock when they perform multiple lists.
https://github.com/kubernetes/kubernetes/blob/6e31c6531fbb83088d472e7a5680add214060967/staging/src/k8s.io/client-go/tools/cache/thread_safe_store.go#L62-L71

Multiple lists from apiserver causes nothing bad. But `joint index form store` and `multi list form apiserver` are not same

[2022-10-27 13:42] devopslyf opened #113400 "How to change the clusterName of a running cluster"
How to change the clusterName of a running cluster

[2022-10-27 14:16] pacoxu commented on #89477
Link some related PR.
https://github.com/argoproj/argo-cd/pull/11016
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/15662
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/15390
https://github.com/cilium/cilium/pull/21799

[2022-10-27 14:37] jayunit100 opened #113401 "Should the KCP have a heartbeat?"
### What would you like to be added?

Yesterday, I saw an environment wherein gatekeeper was not up, and thus, the kubernetes controller manager was failing at doing basic tasks, like, it couldnt even manage to get a lease from etcd.  When this happens,

- basic things like deployments dont work, or worse, provide users with incorrect info about the state of the cluster
- theres no way for the API

[2022-10-27 15:02] gnufied commented on #110547
This should be fixed via - https://github.com/kubernetes/kubernetes/pull/110670

[2022-10-27 15:02] #110547 closed

[2022-10-27 15:14] mattcary commented on #113319
Interesting. I thought that [defaulting](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/v1/defaults.go#L132) would set the policy to be non-nil.

Let's keep this bug open after you submit your PR as I think something else is going on here---I don't think we should be seeing the null policy in the first place.

[2022-10-27 15:18] mengjiao-liu commented on #113319
I suspect that somewhere accidentally set it to nil, and I'll keep looking at this code.

[2022-10-27 15:22] pohly opened #113404 "test"
-

[2022-10-27 15:22] #113404 closed

[2022-10-27 16:11] #108221 closed

[2022-10-27 16:37] mattcary commented on #110645
I think this was fixed in https://github.com/kubernetes/kubernetes/issues/112694

[2022-10-27 16:37] mattcary commented on #110645
/close

[2022-10-27 16:37] #110645 closed

[2022-10-27 16:51] leilajal commented on #113240
/triage accepted

[2022-10-27 17:40] shivanshu1333 opened #113410 "pkg/controller/bootstrap"

[2022-10-27 17:40] #113410 closed

[2022-10-27 18:11] davidhadas opened #113412 "client library - fake client support for TokenReview Create"
Fix bug in the current fake client  - currently, the code returns the created object rather than an object controlled by testing. This fix enables proper testing to manipulate the returned tokenReview of the fake Client for testing purposes.

Testing TokenReviews requires manipulating the created tokenReview object as part of the test  - currently, the code simply returns the "created" tokenReview

[2022-10-27 18:24] davidhadas commented on #113412
/sig auth

[2022-10-27 19:04] diepes commented on #33777
Still running into scheduling issues reporting not enough CPU, while describe nodes show CPU available under CPU request's.

v1.24

Could pod affinity cause this, wondering if the error is maybe just misleading.

[2022-10-27 20:04] spiffxp commented on #111884
/triage accepted
/priority important-longterm

[2022-10-27 20:09] dashpole opened #113414 "Connected traces in the kubelet"
### What would you like to be added?

Right now, kubelet tracing produces disconnected spans for each CRI call:

<img width="1728" alt="Screen Shot 2022-10-25 at 4 13 34 PM" src="https://user-images.githubusercontent.com/3262098/198387624-c1fe130a-c034-42c8-a16e-367b674db37b.png">

It would be helpful to add a parent span, in order to connect the CRI calls together (PoC):
<img width="1728" alt="Sc

[2022-10-27 20:09] dashpole commented on #113414
/sig node instrumentation

[2022-10-27 22:51] mattcary commented on #113319
I just tried this on a kind cluster running on k8s head, and the problem didn't seem to reproduce.

But this was setting the feature flag default in pkg/feature/kube_feature.go.

I wonder----does the api server need to have the feature gate as well? That would explain why defaulting wasn't happening.

[2022-10-27 23:13] #110282 closed

[2022-10-27 23:20] PhanLe1010 commented on #109132
/remove-lifecycle rotten

[2022-10-27 23:21] PhanLe1010 commented on #109132
/remove-lifecycle stale

[2022-10-28 01:02] chrishenzie opened #113418 "Scheduler integration test for ReadWriteOncePod alpha"
### What would you like to be added?

We need an integration test for the scheduler enforcement of the `ReadWriteOncePod` alpha feature.

### Why is this needed?

This is required for beta graduation; we need to collect signal on the current behavior before we can proceed.

See this comment for context:
https://github.com/kubernetes/enhancements/pull/3537#discussion_r978120310

[2022-10-28 01:03] chrishenzie commented on #113418
/sig storage
/sig scheduler

[2022-10-28 01:03] chrishenzie commented on #113418
/sig scheduling

[2022-10-28 01:30] sayaoailun commented on #109498
/remove-lifecycle stale

[2022-10-28 02:18] gaohuatao-1 commented on #113035
Can anyone give some advice on this issue?

[2022-10-28 02:31] mengjiao-liu commented on #113319
As far as I'm concerned,I just set the `--feature-gates=StatefulSetAutoDeletePVC=true` in kube-controller-manager manifests  `/etc/kubernetes/manifests/kube-controller-manager.yaml` to reproduce this issue.

I repeat the yaml used as follows:
[code]

I tested that in statefulset yaml, setting `persistentVolumeClaimRetentionPolicy` or not would cause the  `kube-controller-manager` component to pani

[2022-10-28 03:03] dashpole commented on #113414
cc @logicalhan @sallyom

[2022-10-28 06:10] Anil-Raja commented on #110158
i also encounter with same error " [Unable to attach or mount volumes: timed out waiting for the condition] " while mounting NFS FS on pod. Kindly help me on this.

Unable to attach or mount volumes: unmounted volumes=[nfs-subdir-external-provisioner-root], unattached volumes=[nfs-subdir-external-provisioner-root kube-api-access-pqtxz]: timed out waiting for the condition

[2022-10-28 06:35] vinay50muddu commented on #113250
Thanks @aojea for the reply. We are using 1.23.6 as mentioned earlier. I have gone through the link you referred to. The fix works when externalTrafficPolicy=cluster. Because the logic checks if number of endpoints in the cluster is changed from 0 to non-zero and if so marks the entries as stale. But when the externalTrafficPolicy=local this may not work. Because, in this case we only care about e

[2022-10-28 07:36] AcidAngel21 commented on #111077
@AlawnWong I have posted a workaround here that works for me. Maybe it will help you too.
https://github.com/rancher/rancher/issues/38934#issuecomment-1294585708

[2022-10-28 07:38] ziadmoubayed commented on #79224
+1 reopen

[2022-10-28 07:40] VijayRod opened #113426 "Pods stuck in Terminating status due to UnmountVolume.TearDown failed for volume with target is busy"
### What happened?

Pods stuck in Terminating status due to _UnmountVolume.TearDown failed for volume_ with _target is busy_. Like the closed https://github.com/kubernetes/kubernetes/issues/65110, this is also for secret and configMap mounts.

pod describe:
[code]

syslog in this Ready node:
[code]

Environment:

- Kubernetes version

[code]

- Cloud provider

[code]

- OS version

[code]

- Conta

[2022-10-28 07:42] #112758 closed

[2022-10-28 07:48] vinay50muddu commented on #113203
I have gone through the link. As i pointed out in the environment section earlier the kernel flag net.netfilter.nf_conntrack_tcp_be_liberal is set to "1" while the default value for this kernel flag is 0.  Do you see any problem with this?

[2022-10-28 07:54] vinay50muddu commented on #113203
@fedepaol , we are using metallb old versions where they have the speaker that uses BIRD. Recently they started to use FRR. As far as the race condition between BGP speaker and kube-proxy is concerned, i think it is quite possible. Because since both watch on the service & endpoint events, it is reasonable to think that the advertisements from speaker may precede the iptables update by kube-proxy,

[2022-10-28 08:00] wojtek-t commented on #109831
As part of PRs linked to this issue we made a decision that basically:
- we allow for passing implementation-specific callbacks to tests (doing additional implementation-specific validation)

[2022-10-28 08:01] wojtek-t commented on #109831
As part of PRs linked to this issue we made a decision that basically:

- we allow for passing implementation-specific callbacks to tests (doing additional implementation-specific validation)
- if the tests are not contract-specific, but rather implementation-specific, those will not be generalized

[2022-10-28 08:21] weilaaa commented on #109329
@FillZpp Here, I think our views are the same.
https://github.com/kubernetes-sigs/controller-runtime/pull/1838#pullrequestreview-908261250

[2022-10-28 08:59] Kvasscn opened #113429 "no relationship found between node and this object"
### What happened?

while i  create pod , i got this error in kubelet log:
[code]
Does anybody know why this error happened?

### What did you expect to happen?

 pv and pvc can mount to pod sucessfully.

### How can we reproduce it (as minimally and precisely as possible)?

 it's not certain to reproduce it.

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[c

[2022-10-28 09:24] pbetkier commented on #87733
/assign [abhisek00](https://github.com/abhisek00)

[2022-10-28 09:27] advaaitt commented on #111410
@pacoxu,
I am more concerned about the effect of Readiness and Liveness probes. I have not configured startup probes. I think #110996 is more similar to the behavior I am noticing.

[2022-10-28 09:32] pbetkier commented on #87733
/assign @abhisek00

[2022-10-28 09:38] pbetkier commented on #110317
/remove-lifecycle rotten

[2022-10-28 09:41] pbetkier commented on #109496
Also note discussions under https://github.com/kubernetes/kubernetes/issues/96242#issuecomment-1228627821 on ways to speed up custom metrics fetching.

[2022-10-28 10:05] scila1996 commented on #60140
I have the same issue, I'm running Kubernetes on vSphere with Tanzu, kubectl cp sometime will copy whole file success 100%, but in 10 time, it only success 3 or 4 turn. Otherwise, then stuck in 1 minute and finish with file only 32k

[2022-10-28 11:14] #79365 closed

[2022-10-28 11:38] kundan2707 commented on #113429
@Kvasscn  can you provide other info like plugins , cloud provider etc?

[2022-10-28 11:52] pohly commented on #105678
@Dashhh, @vitorfhc: sorry for the late reply. I had (and still have) some big changes for the E2E tests going and had put this on the backseat for a while.

If you are interested, how about @Dashhh doing test/e2e/apimachinery and @vitorfhc test/e2e/autoscaling? Some work was done on the latter, but there are still several calls (again?).

[2022-10-28 14:21] #108446 closed

[2022-10-28 15:21] #94237 closed

[2022-10-28 15:29] davidhadas commented on #113412
On second thought, I consider this as a bug fix rather than a new feature -  the code is intended to enable the testing of TokenReview but is not functioning as expected.

kind/bug

[2022-10-28 15:43] mattcary commented on #113319
I believe you---this doesn't seem to be well-documented, but it's my understanding that you need to set the feature gate on all of the system components. Obviously failing to do so shouldn't cause a panic, so thank you again for finding & fixing this bug!

Let me ask around to see what the expected behavior is. I know there may be skew between kubelets and master versions, but I didn't expect to h

[2022-10-28 16:22] aojea commented on #113377
/cc

[2022-10-28 16:49] VijayRod commented on #113426
/sig storage

[2022-10-28 17:15] cici37 opened #113438 "API doc should use the field name in description"
### What happened?

Currently we have inconsistency in most of the API where the field name should be used in description so the generated docs match the API fields people actually set.
e.g.
https://github.com/kubernetes/kubernetes/blob/367f01f62d1a6ca149c317f97a958dd5c6e74af1/staging/src/k8s.io/api/admission/v1/types.go#L41
`uid` should be used instead of `UID` so it's shown properly in generated

[2022-10-28 17:21] cici37 commented on #113438
/triage accepted

[2022-10-28 17:25] chuyang-deng commented on #113438
Thank you Cici, I'll get started with 2  API groups:
authentication.k8s.io | v1
authorization.k8s.io   | v1

[2022-10-28 18:12] cici37 opened #113440 "CEL in Admission Control Tracking"
### What would you like to be added?

This is the tracking issue for the work goes in CEL in Admission Control([KEP]: https://github.com/kubernetes/enhancements/issues/3488)

- Kubernets 1.26 tracking
  - [x] Add feature gate: https://github.com/kubernetes/kubernetes/pull/112792
  - [x] Add API for ValidatingAdmissionPolicy and ValidatingAdmissionBinding(https://github.com/kubernetes/kubernetes/pu

[2022-10-28 19:46] spiffxp commented on #109744
Another issue for go.k8s.io/triage: https://github.com/kubernetes/test-infra/issues/27829

[2022-10-28 21:39] davidhadas commented on #113412
Solved by using reactor  - as an example:

[code]

[2022-10-28 21:39] #113412 closed

[2022-10-28 23:36] lavalamp commented on #109329
It is also possible to just list via one of the indexes, and then scan the result for the other conditions. I suspect for many indexes & queries, this would not be much slower.

[2022-10-29 00:06] MorrisLaw commented on #96717
/remove-lifecycle rotten

[2022-10-29 04:16] Ithrael commented on #113429
Does your account have pvc/pv access ?

[2022-10-29 06:33] cmagk commented on #113380
How did you set those env variables in the first place?
Are you looking to pass variables from the host?

[2022-10-29 07:05] n4j commented on #113429
/triage needs-information

[2022-10-29 07:07] n4j commented on #113429
@Kvasscn Please provide below information
- PodSpec with PV and PVC spec
- Cloud Provider
- A list of plugins which you are using

[2022-10-29 07:27] n4j commented on #113380
/triage needs-information

[2022-10-29 08:12] n4j commented on #113342
@aditighag This looks like a new feature request which would require consensus from the SIG Node steering committee.

You would need to present your case to one of the SIG Node [meetings](https://github.com/kubernetes/community/tree/master/sig-node) based on the outcome this could be a new [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/README.md)

[2022-10-29 08:34] n4j commented on #113380
`kubectl exec` sets up env variables for you while SSH relies on system login shell and hence the difference.
This is an expected behaviour between `kubectl exec` and `ssh`
More information
1. https://stackoverflow.com/questions/67277994/different-environment-variables-with-ssh-or-kubectl-exec
2. https://goteleport.com/blog/ssh-vs-kubectl/

[2022-10-29 08:34] n4j commented on #113380
/close

[2022-10-29 08:34] #113380 closed

[2022-10-29 11:28] #51475 closed

[2022-10-29 14:31] #108158 closed

[2022-10-29 16:17] aojea commented on #113203
This seems that the change of routing is breaking the connection shutdown and leaving this conntrack state, the similar issues we had caused by asymmetric routing were solved by setting tcp_be_liberal to 1 https://www.google.com/search?q=nf_conntrack_tcp_be_liberal+kubernetes

[2022-10-29 16:20] aojea commented on #113250
/assign

[2022-10-29 16:33] #109910 closed

[2022-10-29 18:29] yibozhuang commented on #109876
/reopen
/remove-lifecycle rotten

[2022-10-29 18:47] Bjohnson131 commented on #113036
I'm currently getting this error on a production machine. Ubuntu 22.04, fresh install from `kubeadm init`. using the most recent containerd as runtime.

 Here's my log:

[code]

and my pod yaml:

[code]

[2022-10-29 19:50] aojea commented on #113401
another alternative ...  just fix the webhook  that is breaking the whole cluster 😄

[2022-10-29 19:53] aojea commented on #113400
which `clusterName` ?

the one in metadata has been removed https://github.com/kubernetes/kubernetes/pull/109602

[2022-10-29 20:36] mateuszdrab commented on #39188
God! I scratched my head so many times and never thought this could actually be a real bug... one assumes basics like this would never be broken for so long 😅

[2022-10-29 21:33] #107412 closed

[2022-10-30 02:06] kunallanjewar commented on #111386
@fab1an So after looking into this further, I think a simplest change could be to include HTTP Probe's Response body in Kubernetes Events. Body over 10KB in size is truncated.

Here is what it looks like in my dev environment as an example:

[code]

 Thoughts?

[2022-10-30 02:44] kunallanjewar commented on #111386
/sig node

[2022-10-30 03:26] Nivedita-coder opened #113449 "[Failing test] periodic-conformance-main-k8s-main"
### Which jobs are failing?

master-informing

- periodic-conformance-main-k8s-main

### Which tests are failing?

- capa-e2e-conformance.AfterSuite
- capa-e2e-conformance.BeforeSuite

### Since when has it been failing?

10-25 22:18 IST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#periodic-conformance-main-k8s-main

### Reason for failure (if possible)

[code]

### Any

[2022-10-30 03:38] Nivedita-coder commented on #113327
Job is passing :)
/close

[2022-10-30 03:38] #113327 closed

[2022-10-30 08:40] fab1an commented on #111386
@kunallanjewar Looks good to me!

[2022-10-30 12:08] aojea commented on #113250
there should be an iptables rule to drop , at least since 1.25.
However, can you share more details about the software that you are using for BGP and loadbalancer?
It should not direct traffic to a Node without endpoints :/

[2022-10-30 14:53] justinmchase commented on #25908
@arianf Can you share an example, even if pusedocode, of how to do this? Would it just be killing all processes other than your own?

[2022-10-30 15:08] #101695 closed

[2022-10-30 20:06] sandijs-private opened #113453 "API Server Auditing Policy Rules do not allow creating just ErrorLog"
Adding Rule "JustErrors bool" would allow getting small actionable error logs just like Apache web server has.

Rules specification: https://kubernetes.io/docs/reference/config-api/apiserver-audit.v1/#audit-k8s-io-v1-PolicyRule

No easy error situations identification leads to not handling error situations and edge cases in the code.

Possible compromise would be a switch in Kubernetes: DevMode: O

[2022-10-30 20:11] sandijs-private commented on #113453
/sig api-machinery
/sig testing

[2022-10-30 20:29] brianpursley commented on #110407
/remove-lifecycle stale

[2022-10-31 01:34] #112890 closed

[2022-10-31 01:43] #110143 closed

[2022-10-31 02:35] lizheray commented on #97117
Same problem but different reason.

[2022-10-31 02:47] ADITYADAS1999 commented on #113400
if use kubeadm that allow you to change a cluster name before an "init" stage basically.

[2022-10-31 02:47] aimuz commented on #113377
The issue is being fixed
https://github.com/kubernetes/kubernetes/pull/113378

[2022-10-31 03:18] mengjiao-liu commented on #113319
I read the code, and now I understand what you mean. This feature gate must be enabled in both the `kube-apiserver` and `kube-controller-manager` components. We need to describe it in the [documentation](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#persistentvolumeclaim-retention) to prevent someone from ignoring the `kube-apiserver` component, which also needs to enable

[2022-10-31 03:25] mengjiao-liu commented on #113319
I don't think we need all the system components, like the `kube-scheduler` component, right?

I  read the original KEP documentation. This feature gate only involves components  `kube-controller-manager`and `kube-apiserver`:
[code]
https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/1847-autoremove-statefulset-pvcs

[2022-10-31 03:43] #110254 closed

[2022-10-31 04:43] #109916 closed

[2022-10-31 04:54] Ankitasw commented on #113449
This is already fixed via https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3800

[2022-10-31 05:43] #86245 closed

[2022-10-31 06:29] ndunks commented on #72811
FYI, you can set the `averageUtilization` above 100%, describe on HPA and you will find the current/target value:
![image](https://user-images.githubusercontent.com/5500313/198945329-d89034e8-f813-4d79-9e7d-e488b0e0001e.png)

[2022-10-31 06:44] ialidzhikov commented on #110714
@thockin, @robscott, @aojea WDYT about adding support for "static"/"deterministic" hints?

"Static" hints:
- won't rely on the CPU-balance heuristic that simply does not work when the CPU-balance does not model the set of clients - see https://github.com/kubernetes/kubernetes/issues/110714#issuecomment-1178163573
- will add the Endpoint's zone field value as hint. We also need part of the safeguar

[2022-10-31 06:50] sxllwx commented on #112319
@xigang

According to the information provided so far (heap-pprof inuse_space):

We can draw the following conclusions:

1. The memory usage of 2.77GB comes from `List`: #102718 #113305 Reports the memory usage problem of reflector (client-go) when performing List operations
2. The memory usage of 135.14GB comes from `Watch`, of which 129.88GB is used for Node.Unmarshal.

I noticed that the versio

[2022-10-31 06:56] MikeSpreitzer commented on #111482
/remove-lifecycle stale

[2022-10-31 06:56] MikeSpreitzer commented on #111482
This has been resolved by https://github.com/kubernetes/enhancements/pull/3479 .
/close

[2022-10-31 06:56] #111482 closed

[2022-10-31 06:57] centromere commented on #101324
/remove-lifecycle stale

[2022-10-31 07:04] pohly commented on #109600
/remove-lifecycle stale

[2022-10-31 07:04] pohly commented on #105392
/remove-lifecycle stale

[2022-10-31 07:05] pohly commented on #106575
/remove-lifecycle stale

[2022-10-31 09:22] tossmilestone commented on #104459
Any progress on this issue? We also encoutered the same problem.

[2022-10-31 10:07] sxllwx commented on #113305
Hi everyone, I submitted a PR #113362  to try and fix the issue. The core is to make a shallow copy through (reflect.New and reflect.Value.Set) instead of DeepCopy (to avoid the double memory usage problem mentioned by @lavalamp)

Several modifications are included:

- Faster `ExtractList`, implemented by comparing reflect.Type directly, not through `switch item := raw.Interface().(type)` (avoid a

[2022-10-31 10:10] sandijs-private commented on #113453
It is possible to add 3rd logging option - gRPC connection to custom logging filter Pod / Service which would log to the file, or send out KNative events.

Probably Kubernetes 2.0 could be based a lot on KNative as such?
That would allow greater customization then just with the Operators.

[2022-10-31 10:12] #109081 closed

[2022-10-31 10:12] #112854 closed

[2022-10-31 10:52] Nivedita-coder commented on #113162
Job is passing.
/close

[2022-10-31 10:52] #113162 closed

[2022-10-31 11:03] r-erema commented on #110782
@enj @aramase Hi

Can we involve [Keycloak](https://www.keycloak.org/getting-started/getting-started-docker), which has all aforementioned endpoints, as a test server represented by a docker container? My idea is to run such a container and K8S API server and check the required test cases on that infrastructure.

As a newbie in the community, I doubt is allowed to use third-party facilities such a

[2022-10-31 11:06] ShivamTyagi12345 commented on #113438
I would like to work on this.
 /assign

[2022-10-31 11:47] linux-bear opened #113468 "Installed k3s on worker and node, node NotReady"
### What happened?

I'm trying to install k3s on a master and a worker node, both running Ubuntu 22.04. The master installs no problem but the worker hangs on `[INFO]  systemd: Starting k3s-agent`. The log files on the worker say:

[code]

The master can see the worker node but it says "NotReady":

[code]
This is the output from ```kubectl describes nodes myWorker```:
[code]

### What did you expe

[2022-10-31 11:53] linux-bear commented on #113468
/sig sig-contributor-experience

[2022-10-31 11:54] linux-bear commented on #113468
/sig contributor-experience

[2022-10-31 11:58] aojea commented on #113468
you should report this in the k3s project, if there is a bug in kubernetes we can always reopen with more accurate information

/close

[2022-10-31 11:58] #113468 closed

[2022-10-31 12:14] enj commented on #110782
@r-erema these tests need to be unit and integration tests so we have enough control over the client, API server, and the OIDC server.  I want to be able to make assertions about the internal state of all actors, which isn't something that you can normally do in an e2e.  I would expect the mock OIDC server to be written by hand via the `httptest` package, though the specifics here are pretty open

[2022-10-31 12:21] liggitt commented on #113438
@ShivamTyagi12345 thanks for the interest... to help keep changes relatively contained/local, can you indicate 1-2 API groups listed in the description you'll start with?

[2022-10-31 12:23] enj commented on #110782
Also, these unit, integration and e2e tests should not add any new go dependencies to the project.  e2e tests may run new container images as needed.

[2022-10-31 12:24] Rishit-dagli commented on #113438
I would love to take up:

- flowcontrol.apiserver.k8s.io
- internal.apiserver.k8s.io

[2022-10-31 12:55] ardaguclu commented on #112730
/close

[2022-10-31 12:55] #112730 closed

[2022-10-31 12:58] weilaaa commented on #109329
In fact, as @likakuli said, "the list request cost O(n). When there are many object, it will cost too much time."

Sadly, it seems we have to admit that it gets slower and some of the same work will be repeated.

So, do we need to make a code change for all this? Please think about it. @lavalamp

[2022-10-31 14:39] ShivamTyagi12345 commented on #113438
I would work on
- apiextensions.k8s.io | v1
- apiregistration.k8s.io | v1

[2022-10-31 14:45] felinae98 commented on #79224
+1 reopen

[2022-10-31 15:54] enj commented on #113396
[secrets-store-csi-driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver) is the recommended approach from SIG Auth for consuming secrets from external providers.  In particular, using the CSI interface enables one to avoid using Kubernetes secrets altogether.  Other projects exist to sync external secrets into Kube secrets.  We are moving away from any cloud provider specific code i

[2022-10-31 15:54] #113396 closed

[2022-10-31 15:57] n4j commented on #113342
@aditighag Yes, add it to the agenda

[2022-10-31 15:57] n4j commented on #113342
@aditighag Yes, add it to the agenda

[2022-10-31 15:58] khenidak commented on #113288
/kind support

You have two possible solutions around this:
1. A specialized reverse proxy that knows is who the r/w lead instance (aka `master`, _they really should change that term_).
2. Build the following: (this is a better solution because it eliminates the added network hop the reverse proxy will add)

- A Cluster IP service with custom EndpointSlice (no selector).
- A custom watch dog that

[2022-10-31 17:03] anson627 opened #113473 "Add APF related response header to kube audit log"
### What would you like to be added?

Today kube audit log does not include the APF related response header, so when debugging request throttling issue, users have to make actual request with the same username and/or namespace to be able to get `X-Kubernetes-Pf-Prioritylevel-Uid` and `X-Kubernetes-Pf-Flowschema-Uid`, then cross refernece what `flowschemas` and `prioritylevelconfiguration` the requ

[2022-10-31 17:03] anson627 commented on #113473
/sig area/audit

[2022-10-31 17:06] anson627 commented on #113473
/sig api-machinery

[2022-10-31 17:14] wojtek-t commented on #96497
/remove-lifecycle stale

[2022-10-31 17:29] Riaankl commented on #112657
closed via #112844

[2022-10-31 17:29] #112657 closed

[2022-10-31 17:53] ahg-g opened #113474 "Deprecate PodNodeSelector admission plugin"
### What would you like to be added?

Deprecate PodNodeSelector admission plugin and the associated annotation `scheduler.alpha.kubernetes.io/node-selector`

https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/podnodeselector/admission.go

### Why is this needed?

This plugin has been in alpha for a long time and never graduated. There are other ways now to support a similar

[2022-10-31 18:51] #108488 closed

[2022-10-31 19:25] #65928 closed

[2022-10-31 19:25] ashu210890 commented on #111608
@gjkim42 Sorry I missed the comment. This issue, however, is fixed in version 1.22  https://github.com/kubernetes/kubernetes/pull/98238

We deployed the new version and the it seems to be working fine. Going to close the issue.

[2022-10-31 19:25] #111608 closed

[2022-10-31 19:36] anson627 commented on #106361
do you have plan to cherry pick for previous versions, e.g 2.13, 2.14?

[2022-10-31 19:50] alculquicondor commented on #106361
did you mean 1.13 and 1.14?

[2022-10-31 20:12] anson627 commented on #106361
oh, sorry my bad, I meant for 1.23 and 1.24

[2022-10-31 20:20] alculquicondor commented on #106361
It is fixed in 1.23 https://github.com/kubernetes/kubernetes/pull/106412, so it would be fixed in 1.24 too.

[2022-10-31 20:33] rphillips commented on #77603
/reopen

[2022-10-31 20:37] rphillips commented on #77603
I received a bug report about this issue. The root cause is that the buffer reads up to a new line and the buffer may become full (4096 bytes) thus printing the timestamp and the partial line. We will need to refactor the ReadLogs function to allow for a partial line read.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/logs/logs.go#L325

[2022-10-31 20:41] sftim commented on #113474
If / when we deprecate this, it'd be nice to document what people who rely on it can do to migrate. Yes, it's alpha but _somewhere_ is somebody who depends on the feature.

[2022-10-31 20:48] bobbypage commented on #107063
/cc

[2022-10-31 20:57] arianf commented on #25908
Here is an example, I'm using nginx as the sidecar because it's easy to run without any configuration:

Note the caveat with this approach is that you need to make sure the keystone container doesn't finish before the sidecar container has started up, or else it won't be able to kill the other process.

[code]

You can see the pod was listed as "Completed":

[code]

And nginx exit code was 0:

[co

[2022-10-31 21:07] anson627 commented on #106361
my understanding is the previous fix to increase the duration only reduce the chance of issue, but not completely avoid it, right?

that's why the other 2 fixes https://github.com/kubernetes/kubernetes/pull/110925 and https://github.com/kubernetes/kubernetes/pull/110954 are needed, right?

[2022-10-31 21:09] bharitwal opened #113479 "[Failing test] capz-windows-containerd-master"
### Which jobs are failing?

release-master-informing:

- capz-windows-containerd-master

### Which tests are failing?

- Kubernetes e2e suite: [It] [sig-node] Container Lifecycle Hook when create a pod with lifecycle hook should execute prestop https hook properly [MinimumKubeletVersion:1.23] [NodeConformance]
- Kubernetes e2e suite: [It] [sig-node] Container Lifecycle Hook when create a pod with

[2022-10-31 21:33] CoderSherlock opened #113480 "Test of sig-node-containerd#e2e-cos-device-plugin-gpu are flaky"
### Which jobs are flaking?

sig-node-containerd#e2e-cos-device-plugin-gpu

### Which tests are flaking?

In the most recent test, the whole test process was failing in running`[It] [sig-scheduling] [Feature:GPUDevicePlugin] run Nvidia GPU Device Plugin tests`.

### Since when has it been flaking?

Not sure, the oldest failing we can see started on Oct 16th.

### Testgrid link

https://testgrid.k8

[2022-10-31 21:43] CoderSherlock commented on #107063
/cc

[2022-10-31 21:44] BenTheElder commented on #65928
lol! closed by https://github.com/kubernetes/kubernetes/pull/112819

[2022-10-31 22:08] thockin opened #113482 "Server-side apply fails with duplicate container ports and env-vars allowed in created/updated pods by validation"
https://github.com/kubernetes/kubernetes/pull/113245#discussion_r1009911070

Validation allows:

[code]

but server-side apply does not:

[code]

[2022-10-31 23:15] lavalamp commented on #109329
I think I don't have time at the moment to give this as much thought as it needs. @deads2k or @liggitt are the other people who could approve an interface which supports this.

[2022-10-31 23:25] vinaykul commented on #110490
/remove-lifecycle stale

[2022-10-31 23:25] vinaykul commented on #111592
/remove-lifecycle stale

[2022-10-31 23:27] vinaykul commented on #109469
/remove-lifecycle stale

[2022-10-31 23:28] vinaykul commented on #109553
/remove-lifecycle stale

[2022-10-31 23:44] sdmodi opened #113492 "kubelet crashes when attempting to bring up a static pod that refers to a configmap"
### What happened?

We were attempting to bring up a static pod on the node. This pod was attempting to mount a configmap using a volume:

[code]
The configmap was as follows:
[code]
We later realized that static pods don't support configMaps. However, when we attempted to run this cluster, kubelet kept crashing with this stack trace. We should probably fix this as the problem here is not obvious.

[2022-10-31 23:48] ayanamist commented on #111370
/remove-lifecycle stale

[2022-10-31 23:50] liggitt commented on #113492
This is specifically when running a kubelet in standalone mode without an API connection

[2022-11-01 00:03] andrew1044 commented on #81089
+1

[2022-11-01 00:03] kfox1111 commented on #112879
Ouch... yeah, this is unexpected behavior.

[2022-11-01 00:22] kerthcet commented on #113474
/assign

[2022-11-01 00:37] ssainz commented on #79224
+1 reopen

[2022-11-01 00:49] nilekhc opened #113497 "[KMSv2] Maintain DEK cache after hot reload of encryption config"
Ref:- https://github.com/kubernetes/kubernetes/pull/112050#discussion_r998220521

/sig auth

[2022-11-01 00:51] nilekhc commented on #113497
cc @enj @aramase @ritazh

[2022-11-01 02:21] sxllwx commented on #111985
@Arnavion @clux @Jefftree

PR #113133 PR #113286 have all been merged. Thanks for your feedback.😄

[2022-11-01 02:44] mengjiao-liu commented on #113319
This is certainly a method, but it is a bit more cumbersome for the administrator. It is best to have a place for the document to be queried by the administrator and avoid confusion.  I don't think everyone is very familiar with the k8s mechanism.

I suggest adding a partial description to this section of the [website](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#persiste

[2022-11-01 03:19] aramase commented on #113497
/triage accepted

[2022-11-01 03:47] devopslyf commented on #113400
Can it be modified after the "init" stage?

[2022-11-01 05:05] jlsong01 commented on #111514
/remove-lifecycle stale

[2022-11-01 06:14] pacoxu commented on #113480
/sig node
/cc @klueska

[2022-11-01 06:31] pacoxu commented on #113492
/sig node
/assign

[2022-11-01 07:15] pacoxu commented on #113492
/triage accepted

[2022-11-01 07:21] vaibhav2107 commented on #111327
/remove-lifecycle stale

[2022-11-01 07:22] vaibhav2107 commented on #111251
/remove-lifecycle stale

[2022-11-01 07:24] vaibhav2107 commented on #109595
/remove-lifecycle stale

[2022-11-01 07:24] kerthcet commented on #113474
We'll have a release note about this change. Where to place the document? The well-known labels page but with a deprecation warning?

[2022-11-01 07:25] vaibhav2107 commented on #108118
/remove-lifecycle stale

[2022-11-01 08:04] roma-glushko commented on #81089
+1 - sshd keys needs a different user than root and specific permissions.

[2022-11-01 09:04] saschagrunert commented on #113414
Yes I agree, we should find architectural coupled functionality and create spans for them. I assume this could be outlined as part of the existing KEP graduation (https://github.com/kubernetes/enhancements/issues/2831), so that we have a chance to predefine the granularity.

I also think that logging should be glued into the telemetry data, but I'm not sure about the current state of this effort.

[2022-11-01 09:15] fab1an commented on #99425
This is issue is always cited when closing PRs which try to aid debugging by including the failed response of an HTTP-probe into the output.

Why is this a security issue?
* If a malicious actor has access to see events / output of HTTP-probes, can he not already see a lot of information he is not supposed to see?
* If that is not the case, could the access to the response-body be limited to a new

[2022-11-01 09:18] Lan-ce-lot commented on #71869
Rebooting may solve the problem.
[code]

[2022-11-01 09:40] pacoxu commented on #113250
/sig network

[2022-11-01 09:46] clux commented on #111985
Thank you! Does that mean we can expect it in 1.25.4?

[2022-11-01 10:23] pacoxu commented on #113239
/kind cleanup
/sig node
/priority backlog
This nil pointer is never reported by end users which means that before we call AddOrUpdateTaintOnNode, the node existence is checked.

To make the code more stable, fixing it is valid. This would avoid future bugs if somewhere calls AddOrUpdateTaintOnNode without checking whether the node exists. I opened https://github.com/kubernetes/kubernetes/pull/1135

[2022-11-01 10:29] stephen-dexda commented on #82525
/remove-lifecycle stale

[2022-11-01 10:34] klueska commented on #113480
These cos-based GPU tests are maintained by Google GKE, not NVIDIA

/cc elfinhe
to assign the right person

[2022-11-01 10:38] klueska commented on #113480
These cos-based GPU tests are maintained by Google GKE, not NVIDIA

/cc @grac3gao
to assign the right person

[2022-11-01 12:10] sxllwx commented on #111985
Yes, subsequent releases will carry this bugfix. And, I have cherry-pick to 1.25.0.

ps: I don't find release-1.25.x released in k/k codebase so there is no way to cherry-pick to released release-1.25.x @xmudrii  Can you give me some guidance?

[2022-11-01 12:35] dsxing commented on #113091
i don't test on  newer k8s version.  but  I think  it is still a problem from source code

[2022-11-01 12:37] dsxing commented on #113091
I don't test on newer k8s version. but I think it is still a problem from master branch code, if unmount failed or delete cgroups failed

[2022-11-01 14:11] oleeander commented on #112780
@geotransformer What version of Calico are you running? One way to recover from this should be to upgrade to >= v3.23.3 or >= v3.24.0. As the calico-node pods use the host's networking namespace upgrading should be possible from this state.

[2022-11-01 14:14] stevekuznetsov commented on #112684
@divanodestiny Option 1 would only require this invariant for each kind - as comparison across resource boundaries would still not be possible, so sharding *should* be possible per resource type. How does this inform your sharding story?

[2022-11-01 14:15] jsafrane commented on #105626
/help wanted
/remove-lifecycle stale

[2022-11-01 14:16] jsafrane commented on #105626
/help

[2022-11-01 14:18] jmcgrath207 commented on #69507
well this is awkward, I end up making something similar to @karlhungus as a good learning project but forgot to check back on this thread :sweat_smile:

FWIW, here is mine https://github.com/jmcgrath207/k8s-ephemeral-storage-metrics

[2022-11-01 16:20] tallclair commented on #99425
@fab1an this is the case we're concerned about:

This bug means that HTTP probes with a hostname set can bypass the network policy, so the users could issue requests to other namespaces. It's already a bad situation, but slightly constrained by the fact that you can only send a GET request, and can't see the response.

Now, that said, this is not the common case, and I'm sympathetic to the annoyan

[2022-11-01 16:27] yydzhou commented on #109955
/reopen

[2022-11-01 16:30] tallclair commented on #99425
We already capture the response in the kubelet logs, which is an elevated cluster-wide permission.

[2022-11-01 16:30] tallclair commented on #109600
/lifecycle frozen

[2022-11-01 16:31] tallclair commented on #101324
/lifecycle frozen

[2022-11-01 16:40] jsturtevant commented on #113479
/triage accepted
/cc @marosset @claudiubelu

[2022-11-01 16:51] jsturtevant commented on #112918
This doesn't appear to be related to windows. There are no windows pods or nodes in the cluster.

@nicoclau could you give details on the CRI configuration?  What happens if you don't supply the addtional housekeeping-internal?

/remove sig-windows
/sig node

[2022-11-01 16:52] jsturtevant commented on #112836
backports are merged and patches were released
/close

[2022-11-01 16:53] #112836 closed

[2022-11-01 16:55] dashpole commented on #108483
@wojtek-t looking

[2022-11-01 16:58] jsturtevant commented on #112743
This needs some design work.  We attempted to solve this in https://github.com/kubernetes/kubernetes/pull/109702 but in the end decided to close the PR.  Please see PR for details.

The guidance right now is to use emptydir volumes (https://github.com/kubernetes/kubernetes/pull/109702#issuecomment-1255319067)

/cc @marosset

Going to mark as accepted but will be on backlog until someone picks up a

[2022-11-01 17:22] mattcary commented on #113319
This is going to be true of any api change. When you tried to use it with
only adding the controller manager feature gate, I think you would be able
to set the retain policy, but there wouldn't be any defaulting or
validation (?).

[2022-11-01 17:46] #112936 closed

[2022-11-01 18:13] mwoodson-coinbasecloud commented on #113278
I don't have more to add than originally posted, but we have recently upgraded to 1.24.7.  We have many pods across the fleet that will go into a "Failed" Status, as other replacement pods are created.

From "kubectl describe pod":

[code]

Version:

`Server Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.7", GitCommit:"e6f35974b08862a23e7f4aad8e5d7f7f2de26c15", GitTreeState:"clean"

[2022-11-01 18:43] Dashhh commented on #105678
Sure, I can take that!

[2022-11-01 18:49] ritazh commented on #113272
Thanks for volunteering for this @Cool-Coder174! LMK if you need any help with it.

[2022-11-01 19:04] dims commented on #113449
thanks @Ankitasw !

[2022-11-01 19:45] dims commented on #113302
@claudiubelu please see the PR and lgtm if it works right for you!

[2022-11-01 19:57] GantzGit commented on #112111
/cc

[2022-11-01 20:04] dims commented on #109229
looks like this is still an issue

[code]

[2022-11-01 21:00] xmudrii commented on #111985
@sxllwx With #113286 being merged, the fix will be (automatically) included in the upcoming 1.25.4 release (scheduled for November 9). There's nothing else that you need to do about this.

Just as a note to make it clear, it's not possible to cherry pick this fix to existing patch releases, such as 1.25.0 — only 1.25.4 and newer releases will have the fix.

[2022-11-01 22:09] tallclair commented on #113266
Courtesy @liggitt on slack: https://kubernetes.slack.com/archives/C0EG7JC6T/p1667321292172779

[2022-11-01 22:09] dghubble commented on #113278
@mwoodson-coinbasecloud I wrote about these rough edges and solutions in https://www.psdn.io/posts/kubelet-graceful-shutdown/ if its of interest to you

[2022-11-01 22:47] JohnRusk commented on #110606
See also https://github.com/kubernetes/kubernetes/issues/111880

[2022-11-01 23:55] aojea commented on #113400
Can you define first what do you refer by clusterName?

[2022-11-02 00:13] daschott opened #113524 "resolve winkernel proxier treating stale VIPs as valid"
### What happened?

There is an issue on Windows Server 2019 that can cause the kube-proxy call into HNS to delete the load balancer proxy rules to fail.

E.g.
1. backends of a particular services are all deleted
2. the call to HNS to cleanup the load balancer proxy rules did not succeed
3. the same service get's re-created again in the future and the number of new endpoints matches the number of

[2022-11-02 00:13] daschott commented on #113524
/sig windows

[2022-11-02 01:11] colearendt commented on #96284
Happy November! Tis a great month for NFS volume mount parameters!

[2022-11-02 02:00] ruquanzhao commented on #113438
I would love to take up:
- networking.k8s.io | v1, v1alpha1
- node.k8s.io | v1

[2022-11-02 02:59] #111956 closed

[2022-11-02 02:59] #77603 closed

[2022-11-02 03:27] mengjiao-liu commented on #113319
I've seen other feature gates that say what components are needed to enable it to use the new feature.
For example: https://kubernetes.io/docs/concepts/workloads/controllers/job/#job-tracking-with-finalizers

If it's not necessary, then I close [the website PR](https://github.com/kubernetes/website/pull/37632).

[2022-11-02 03:36] mengjiao-liu commented on #113319
only adding the controller manager feature gate, I think you would be able
to set the retain policy, but there wouldn't be any defaulting or
validation (?).

I remember just enabling it in kube-controller-manager. it using the retain policy, but the statefulset does not have the policy from  output of `kubectl get statefulset sts-example -o yaml`

I didn't notice the validation error.

[2022-11-02 03:50] divanodestiny commented on #112684
We have implement a new backend instead of etcd with better performance and larger capacity. Our K8s clusters on the new background work well with more than 10K nodes and more than 300K nodes for years.  It help up reduce management cost and resource fragmentation.

If Option 1 is adopt,  the revision of changes within a resource type should be a total ordered set but not a partially ordered set.

[2022-11-02 04:22] Akshit42-hue commented on #109229
/assign

[2022-11-02 06:31] Harsh-2002 opened #113530 "Kubernetes"

[2022-11-02 06:44] pacoxu opened #113531 "[flake][sig-node] Pods Extended Pod Container Status should never report container start when an init container fails"
### Failure cluster [f071dba296860cf59e9c](https://go.k8s.io/triage#f071dba296860cf59e9c)

##### Error text:
[code]
#### Recent failures:
[2022/10/30 17:41:02 ci-cri-containerd-e2e-cos-gce-ip-alias](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cri-containerd-e2e-cos-gce-ip-alias/1586654382051561472)
[2022/10/30 15:41:02 ci-cri-containerd-e2e-cos-gce-ip-alias](https://prow.k8s.io/view/gs/

[2022-11-02 06:49] sxllwx commented on #111985
Thanks for your explanation~

[2022-11-02 06:51] leviisfool opened #113532 "Repeatedly updating serviceaccount results in redundant token secrets"
### What happened?

When I create a serviceaccount and keep updating it repeatedly, the tokencontroller keeps creating new token secrets.

**Sample Code**
[code]
**Result**
![image](https://user-images.githubusercontent.com/18102074/199417438-768c1c5d-a7cc-4444-80f7-1c977b1a2e65.png)

### What did you expect to happen?

Wouldn't it be better if updating serviceaccount could automatically clear old

[2022-11-02 07:03] pacoxu commented on #113532
/sig auth

[2022-11-02 08:36] aimuz opened #113536 "kubernetes is vulnerable using the go version CVE-2022-41716"
### What happened?

https://pkg.go.dev/vuln/GO-2022-1095

[code]

[code]

### What did you expect to happen?

None

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

### Cloud provider

<details>

</details>

### OS version

<details>

[code]

</details>

### Insta

[2022-11-02 08:38] chenk008 opened #113537 "The static cpumanager flag `full-pcpus-only` not ensure to allocate full physical cores"
### What happened?

I run a unit test in `pkg/kubelet/cm/cpumanager`,  it has 12 vcpu and reserves cpus `1,6`. When the container request 10 vcpu and the FullPCPUsOnlyOption is true, the allocation result is `0,2-5,7-11`. in my opinion, the `0` and `7` vcpu should be ignore because they are single thread.
[code]

output
[code]

### What did you expect to happen?

When we set `full-pcpus-only` with

[2022-11-02 08:38] chenk008 commented on #113537
/sig node

[2022-11-02 08:47] aimuz commented on #113536
/assign

[2022-11-02 09:28] nightmeng commented on #105204
I think it's a problem about concurrency:
- The volume manager finds new pod from pod manager
- kubelet registers new pod into configMap/secret manager in syncPod function

When kubelet see a new pod, it will add the new pod into pod manager firstly and then run syncPod function (HandlePodAddtions). These two actions are concurrency, so the volume manager might see the new pod before kubelet regis

[2022-11-02 09:54] ShivamTyagi12345 commented on #113438
Do you happen to have a simpler explanation of what this task is exactly asking for?
Where can i find the API doc ?
From my understanding , we are supposed to change  [this file](https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json ) , but i cant seem to understand what sort of changes needs to be done .

[2022-11-02 10:42] Sh4d1 commented on #66607
@timoreimann :wave: you can read https://github.com/kubernetes/enhancements/issues/1860#issuecomment-914666927
and Tim opened https://github.com/kubernetes/kubernetes/pull/106242 instead of https://github.com/kubernetes/kubernetes/pull/101027 .

So if nothing really changed, my last message still stands I guess!

[2022-11-02 12:13] wojtek-t commented on #107097
Just to summarize - this is the missing bit:

- the delete should be conditional on the ResourceVersion being the same as the one in which the auto-update annotation was observed to be true.

[2022-11-02 12:15] killianmuldoon opened #113543 "coreDNS image reports the wrong architecture"
### What happened?

The docker images for linux/arm64 wrongly report their architecture as amd64. This issue affects at least the `v1.8.6` and `v1.9.3` of the coredns images.

### What did you expect to happen?

Expected the arm64 version of the image to correctly report its architecture as arm64.

### How can we reproduce it (as minimally and precisely as possible)?

## 1) Pull the image, specify

[2022-11-02 12:47] chrisohaver commented on #113543
Yes, should be resolved after next version of CoreDNS is released, and Kubernetes adopts that release.

There are no plans in CoreDNS project to re-package existing release images/manifests or release patched versions of prior releases.

[2022-11-02 13:27] dashpole commented on #108483
Opened #113545 to try fixing the goroutine leak.

[2022-11-02 13:41] aojea opened #113547 "[Failing test] [sig-node] Pods Extended Pod Container Status should never report success for a pending container"
### Which jobs are failing?

Jobs affecting master presubmits a
https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind

### Which tests are failing?

[sig-node] Pods Extended Pod Container Status should never report success for a pending container

### Since when has it been failing?

Since 11

[2022-11-02 13:42] aojea commented on #113547
credit to @liggitt for helping pinpointing the offending PR

[2022-11-02 13:46] SubhasmitaSw commented on #111876
Hello @mmiranda96 any updates so far?

[2022-11-02 13:47] #113302 closed

[2022-11-02 13:48] liggitt commented on #113547
the two failing tests are failing with context canceled errors, so the context plumbing PR is almost certainly the cause:

those two tests also failed in 75% of the presubmit gce and kind e2e presubmit runs on that PR: https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=113408

+1 to revert while we figure out how to plumb the context without causing API-visible context canceled erro

[2022-11-02 14:04] #97153 closed

[2022-11-02 14:23] Raboo commented on #105846
/remove-lifecycle stale

[2022-11-02 14:57] xigang commented on #112319
@sxllwx Thank you very much，the memory usage of `kube-controller-manager` is normal now. and the k8s cluster version may not be upgraded in a short time. If the memory usage of `kube-controller-manager` is abnormal, we will try to use the second suggest.

[2022-11-02 15:19] aslom commented on #20227
/remove-lifecycle stale

[2022-11-02 15:28] DiV666 commented on #105204
It has worked for me by giving it a different name from the volume that I have in the deployment.

In the deployment:
[code]

In the cronjob I had to put:
[code]
Is it possible that a resource cannot be reused between the deployment and the cronjob?

I am on version 1.22.13

[2022-11-02 15:35] #113368 closed

[2022-11-02 15:35] #113418 closed

[2022-11-02 15:50] liggitt commented on #105204
While there was a distinct reproducible issue found and fixed already in v1.22.9+, v1.23.6+, and 1.24+, it seems like there is still another issue remaining that produces a similar symptom.

The comment at https://github.com/kubernetes/kubernetes/issues/105204#issuecomment-1264385137 hints that this message _might_ be a symptom of a pod that is failing to start for some other reason.

It would be

[2022-11-02 16:03] liggitt commented on #105204
I've retitled this issue to bound to the versions containing the bug fixed in https://github.com/kubernetes/kubernetes/pull/107831

If we can get an issue report with reproducible details on versions newer than that, that would help steer investigation / fixes

[2022-11-02 16:06] enj commented on #111922
@cailynse I am going to push this out to next release because the associated refactors took a long time to merge and some are still in-flight for v1.26.

/milestone v1.27

[2022-11-02 16:06] enj commented on #111922
/milestone next-candidate

[2022-11-02 16:10] enj commented on #111922
/milestone v1.27

[2022-11-02 16:28] bharitwal opened #113551 "[Failing Test] kind-master-parallel"
### Which jobs are failing?

release-master-blocking:

- kind-master-parallel

### Which tests are failing?

ci-kubernetes-kind-e2e-parallel.Overall

### Since when has it been failing?

2nd November 2022

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel

### Reason for failure (if possible)

Kubernetes e2e suite: [It] [sig-node] Pods Extended Pod Contain

[2022-11-02 16:34] bharitwal commented on #113551
/sig testing

[2022-11-02 16:45] taylorchu commented on #25908
We use in-pod supervisor (https://github.com/taylorchu/wait-for) to solve the sidecar container issue. It is simple and can be used even if you don't use k8s.

[2022-11-02 16:47] bharitwal opened #113552 "[Failing test] gce-ubuntu-master-containerd"
### Which jobs are failing?

release-master-blocking:

- gce-ubuntu-master-containerd

### Which tests are failing?

- ci-kubernetes-e2e-ubuntu-gce-containerd.Overall
- kubetest.Test

### Since when has it been failing?

31st October 2022

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd

### Reason for failure (if possible)

Kubernetes e2e suite:

[2022-11-02 16:47] bharitwal commented on #113552
/sig cloud-provider

[2022-11-02 17:05] lualvare commented on #110261
Hello @dcantah, hope you are doing well.

I am following up into this issue to understand if you were able to get this to work. If yes, could you please share the details here?

Thank you so much.

[2022-11-02 17:06] Chaunceyctx opened #113553 "Doubts about csiPlugin canDeviceMount method"
### What happened?

Hi, I have a test scenario where 50 pods will mount the same volume. However, it takes 5 to 10 minutes for the pod to
change from the _ContainerCreating_ state to the _Running_ state. Then, I recorded logs for the volume operation of the kubelet. It was found that the podName field in operationKey is empty. As a result, the operationKey only contains the mounted volume name. Th

[2022-11-02 17:06] Chaunceyctx commented on #113553
/sig storage

[2022-11-02 17:07] Chaunceyctx commented on #113553
/assign

[2022-11-02 17:13] #113547 closed

[2022-11-02 17:18] enj commented on #112859
/milestone v1.26

[2022-11-02 17:19] xmcqueen commented on #109295
its fixed. the test is green again.

https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-containerd-performance-test

[2022-11-02 17:38] stevekuznetsov commented on #112684
If you have time to join the SIG meeting today, it would be great to hear your opinion. As we found out in #109730  it's actually today required that there is a total order for events within a kind, to ensure that you can resume from any point. I'm wondering - if your backend does not provide a total order within a resource type, how do clients handle this edge case?

[2022-11-02 18:08] aojea commented on #113552
it should be fixed by now https://github.com/kubernetes/kubernetes/issues/113547

[2022-11-02 18:09] aojea commented on #113552
yeah

/close

as duplicate of https://github.com/kubernetes/kubernetes/issues/113547

[2022-11-02 18:09] #113552 closed

[2022-11-02 18:17] wojtek-t commented on #110210
/remove-lifecycle stale
/lifecycle frozen

[2022-11-02 18:24] mattcary commented on #113319
Thanks for tracking that down. I agree with your website change & posted a comment there.

[2022-11-02 18:25] mattcary commented on #113319
Yeah I think that makes sense.

Thanks for finding this issue! After your PR with the panic fix is submitted, I think we can close this?

[2022-11-02 19:07] #108384 closed

[2022-11-02 19:21] paul-b-kr commented on #75436
Try fixing the indention of the name parameter of the imagePullSecrets:

[code]

See [this](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-pod-that-uses-your-secret) for more info

[2022-11-02 19:47] wojtek-t commented on #108483
It seems the fix worked fine - I'm marking the tracing as fixed - thanks @dashpole

I'm also trying to fix couple other smaller things.

[2022-11-02 20:13] wojtek-t commented on #87006
This is now fixed.

[2022-11-02 20:13] #87006 closed

[2022-11-02 20:20] HarshalNeelkamal commented on #113438
I can take up:
- policy | v1
- rbac.authorization.k8s.io | v1

[2022-11-02 20:23] ztzxt commented on #113438
I'd love to take up batch | v1

[2022-11-02 20:33] aojea opened #113561 "[Failing job] ci-ingress-gce-e2e-scale"
### Which jobs are failing?

https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e-scale

### Which tests are failing?

[code]

### Since when has it been failing?

for a long time :) https://github.com/kubernetes/kubernetes/issues/109521#issue-1206379571

### Testgrid link

https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e-scale

### Reason for failure (if possible

[2022-11-02 20:36] aojea commented on #113561
@bowei @czahedi @panslava @swetharepakula @code-elinka we should decide if we want to keep testing this or just remove the job

[2022-11-02 21:04] cici37 commented on #113438
/assign

[2022-11-02 21:05] cici37 commented on #113438
/unassign
Sorry I thought help is needed for tracking. Since the description is updated properly, I will unassign myself. Thank you!

[2022-11-02 21:08] ShivamTyagi12345 commented on #113438
Hey @liggitt thanks for adding the steps ! I now understand that we have to modify types.go file(s) for the API groups.
However can you please help me out , how can I find this file for apiextensions.k8s.io | v1 as I dont see any folder with a name of apiextensions under kubernetes/staging/src/k8s.io/api

[2022-11-02 21:43] bobbypage opened #113563 "kubelet: volumeManager.WaitForUnmount does not wait for emptydir to be unmounted sucessfuly"
### What happened?

Kubelet has an internal `syncTerminatedPod` which is called after pods are terminated. The function is responsible for some final pod cleanup and is responsible to ensure that volumes mounted to the pod are unmounted.  The function calls `volumeManager.WaitForUnmount`:

https://github.com/kubernetes/kubernetes/blob/7d9c0e0a78e519cac0f892a8be2f063bedc94bad/pkg/kubelet/kubelet.go

[2022-11-02 21:49] bobbypage commented on #113563
/sig storage
/sig node

/cc @msau42

[2022-11-02 21:49] bobbypage commented on #113563
/kind bug

[2022-11-02 21:55] nickma82 commented on #60987
Just leaving this here for further use.. maybe ;)
[code]

[2022-11-02 22:35] manav014 commented on #111092
/assign

[2022-11-02 22:36] aojea commented on #113551
/close

Fixes by https://github.com/kubernetes/kubernetes/pull/113548

Thanks for reporting it

[2022-11-02 22:36] #113551 closed

[2022-11-02 23:23] liggitt commented on #113438
updated the description with the locations of those APIs

[2022-11-02 23:29] #113524 closed

[2022-11-02 23:45] liggitt commented on #113438
For the folks that have jumped in to help, thanks! Given where we are relative to code freeze next week, I would recommend waiting until code freeze to start this work, plan on having the reviews done during code freeze, and merge early in the 1.27 time frame.

[2022-11-02 23:55] dbason commented on #106055
/assign

[2022-11-03 00:13] howardjohn commented on #106846
Add (very very basic) example of informers/Listeners as well: https://github.com/howardjohn/istio/blob/3a0c72bfe6c1db0212b0e35b0b50d9e5bad72a3e/generics/main.go#L64-L68

I spent a bit of time trying to actually use generics e2e for this rather than just a surface level interface over the current informer logic, but it goes pretty deep. In order to get the full benefits of things link https://githu

[2022-11-03 00:21] brianpursley opened #113568 "Feature request: parse-able error stream content when port forwarding"
### What would you like to be added?

Parse-able error stream content when port forwarding

### Why is this needed?

Client-go's PortForwarder [reads from the error stream](https://github.com/kubernetes/kubernetes/blob/1df24569a0bf62a528c49f73fdb236fd56eb05ee/staging/src/k8s.io/client-go/tools/portforward/portforward.go#L352-L362), and if anything is received, it [terminates the listener and exits

[2022-11-03 00:21] brianpursley commented on #113568
/sig node

[2022-11-03 01:15] vinaykul commented on #112264
hi @Jeffwan , just curious, how is it looking with this issue?

[2022-11-03 01:20] robscott commented on #110714
Hey @ialidzhikov, I think you're describing something similar to https://github.com/kubernetes/enhancements/pull/3642. If that's the case, I'm convinced we need to offer some way to configure this, I'm less sure of the right way to expose that. I've got more detailed comments on that PR.

[2022-11-03 01:21] #108806 closed

[2022-11-03 01:39] tonglil commented on #17144
If only selecting by labels `-l` was available to `kubectl edit`

[2022-11-03 01:47] aimuz commented on #113536
Fixed #113550

[2022-11-03 01:47] #113536 closed

[2022-11-03 02:20] mengjiao-liu commented on #113319
Yes. I agree.

/close

[2022-11-03 02:20] #113319 closed

[2022-11-03 02:38] pacoxu commented on #113531
This may be fixed by #113548

[2022-11-03 03:11] pacoxu commented on #113543
The current version matrix is like
- v1.22: coredns v1.8.4
- v1.23: coredns v1.8.6 (v1.23~v1.24 would be affected by this problem)
- v1.25: coredns v1.9.3

Solutions:
- Can we upgrade v1.23/v1.24  coredns to v1.8.7? @chrisohaver or cherry-pick the v1.9.3 upgrade pr from v1.25?
- Or do we need to re-package existing release images?

/cc @neolit123

[2022-11-03 03:20] BenTheElder commented on #113543
That is actually fixed in the latest release (v0.17, released last week at KubeCon)

[2022-11-03 03:21] #113530 closed

[2022-11-03 03:44] gaohuatao-1 commented on #113130
Follow the above process, this problem is easy to reproduce. I reproduced the problem on version 1.25.3.
There is logic flaws in memorymanager of kubelet, which causes the kubelet to fail to restart.
The result is as follows:
![image](https://user-images.githubusercontent.com/22569211/199643450-70f39047-0f08-4579-ac4c-7bd7381304b9.png)