[2016-09-12 18:47] luxas commented on #29904
Yes, we should open an hyperkube OWNERS issue after v1.4 is shipped.

@pwittrock I marked this as a release-blocker.
Together with the Golang team, I've been given a patch that fixes this issue, and I have a PR for Kubernetes in today or tomorrow that fixes this issue.

[2016-09-12 18:48] foxish commented on #27796
https://github.com/cncf/foundation/issues/1

[2016-09-12 18:48] bprashanth commented on #32324
This is probably because we delete vms on nodeupgrade, and the vms were created with "delete boot disk", so we need to start over with /var/lib/docker

[2016-09-12 18:48] jlowdermilk opened #32511 "batch/v2alpha1 API does not respect --runtime-config=api/all=true"
batch/v2alpha1 api does not get registered when passing `--runtime-config=api/all=true` to the apiserver. Instead it has to be manually enabled using `--runtime-config=batch/v2alpha1=true`. If you don't do this, there is still a batch/v2alpha1 api listed, but it has no resources. wat.

[code]

This is both surprising and worrying. As far as I can tell the only place that has all apis enabled is th

[2016-09-12 18:50] mtaufen commented on #31676
I don't know how to retroactively check that, but I just did a `cat /proc/swaps` on the current node running the `ubuntu-trusty-docker9-v1-image`, and it doesn't currently have any swaps. It's probably reasonable to assume that this held for build 606 as well. @dchen1107 do you know for sure?

[2016-09-12 18:50] smarterclayton commented on #32432
If JSON is forcing UTF-8 escaping on either end we'll lose binary contents
(not positive that's the case, but it's likely the encodings aren't 100%
full fidelity).  In which case ConfigMaps are broken for binary files in
practice if not by design.  Protobuf doesn't have this issue, but I don't
think we'll require proto to store / retrieve them.

On Mon, Sep 12, 2016 at 12:06 PM, Derek Mahar <notif

[2016-09-12 18:50] bprashanth commented on #32323
Unsurprisingly we create the nodes with "delete boot disk", so on upgrade local data on boot disk is lost (logs/images). Good think we didn't push my local storage proposal for 1.4.

[2016-09-12 18:53] k8s-merge-robot opened #32512 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 1 pod to 2 pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28599/kubernetes-pull-build-test-e2e-gce/58426/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 1 pod to 2 pods {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #28599.

Previous issues for this test: #27443 #27835 #28900

[2016-09-12 18:53] Random-Liu opened #32513 "Node E2E: The test using dynamic configuration should restore original configuration after test."
We introduced dynamic kubelet configuration in Kubernetes v1.4, which is quite useful in node e2e test!

Currently, the dynamic kubelet configuration test and node benchmark test already start to use the cool feature.

However, there are 2 little problems:
- Because of lack of default kubelet ConfigMap, currently each test has to create the configmap themselves. But if those tests run in the same

[2016-09-12 18:54] knobunc commented on #29151
This looks to have been resolved by https://github.com/kubernetes/kubernetes/pull/29204

[2016-09-12 18:57] liggitt commented on #11816
c.f. https://github.com/kubernetes/features/issues/89

[2016-09-12 18:58] wojtek-t commented on #32478
If that's only a case of adding this ```onfail``` then it shouldn't be hard to do, and it may help with a bunch of our startup cluster issues... @mikedanese WDYT?

[2016-09-12 18:59] thockin commented on #30716
I was all into inline volumes, but ConfigMap is more powerful and already
exists.

On Mon, Sep 12, 2016 at 11:46 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-12 19:02] timothysc commented on #31300
I'm inclined to close all the TestWatch issues and see which ones crop back up.  There have been so many changes in the last week, I'm not sure if this is still an issue, or bot-annoyance.

@wojtek-t

[2016-09-12 19:07] mtaufen opened #32516 "Fix memory eviction test parameters!"
Current consumption rate is set to an order of magnitude higher than it should be. See https://github.com/kubernetes/kubernetes/pull/32514

[2016-09-12 19:07] pwittrock commented on #29904
Alright sounds good.  Please update this issue tomorrow with the progress.  Please make sure the PR gets cherrypicked.

[2016-09-12 19:12] erictune commented on #1899
@kubernetes/sig-apps
When we want to wait for readiness for objects that belong to charts, or for completion of test Jobs for charts, let's collect those wants here.

[2016-09-12 19:13] ixdy commented on #32433
@mtaufen this appears to be failing quite a lot recently - PTAL?

[2016-09-12 19:13] timothysc commented on #31300
I'm closing this one as it related to a long since reverted+fixed PR.

[2016-09-12 19:13] #31300 closed

[2016-09-12 19:14] timothysc commented on #31962
I'm closing this given the plethera of churn in this area, and diagnose when a new issue opens.

[2016-09-12 19:14] #31962 closed

[2016-09-12 19:16] erictune commented on #19873
this would be useful for getting status of test jobs for Helm testing.

[2016-09-12 19:17] timothysc commented on #25319
/cc @jayunit100

[2016-09-12 19:18] mtaufen commented on #32433
Likely cause: https://github.com/kubernetes/kubernetes/pull/32514/files

[2016-09-12 19:18] timothysc commented on #25320
/cc @ConnorDoyle @jayunit100

[2016-09-12 19:21] mtaufen commented on #32433
Totally my fault, I accidentally squashed in some aggressive parameters I was using for debugging while rushing to get better logging in the test last week.

[2016-09-12 19:23] DongyiYang commented on #9125
This is the standalone poller I am working on that produces the stats. https://github.com/DongyiYang/k8sconnection.
Maybe you can take a look if you have time. Any suggestion is welcomed!

[2016-09-12 19:29] #29151 closed

[2016-09-12 19:33] timothysc commented on #168
If it's a hard constraint to not tolerate the blips, then you're likely looking for cpu affinity or cpu-sets.  xref: https://github.com/kubernetes/kubernetes/issues/10570

[2016-09-12 19:37] andrewstuart commented on #30716
Wow, @smarterclayton, thanks for the vitess example. I think [this section](https://github.com/youtube/vitess/blob/master/examples/kubernetes/vtctld-up.sh#L17-L22) is an excellent example of one of the emerging patterns that makes practical use of kubernetes harder (and less portable) than it needs to be.

To boil down my opinions concisely, I think there are two patterns emerging that are used so

[2016-09-12 19:39] smarterclayton commented on #30716
ConfigMap is not update safe (without extra care today) and can't be
delivered easily as an atomic unit.  I agree there are downsides to inline
volumes, but I do think small ones would be a net usability win.

[2016-09-12 19:40] kargakis commented on #1899
For Deployments, we should switch `kubectl rollout status` to use Conditions (https://github.com/kubernetes/kubernetes/pull/19343)

[2016-09-12 19:40] smarterclayton commented on #30716
The section you pasted is really just a PetSet - when this example was
written it wasn't possible, but it's really the same concept (and was taken
into account during the petset core design).

[2016-09-12 19:49] gmarek commented on #32478
IIUC we're moving to GCI Nodes soon, so I'm not sure it's worth fixing containervm now, but if it's super easy I'm all for it.

[2016-09-12 19:49] #31710 closed

[2016-09-12 19:50] hongchaodeng commented on #31962
Actually, it doesn't happen again after #32012.

[2016-09-12 19:57] nikhiljindal commented on #13414
With https://github.com/kubernetes/kubernetes/pull/30233, v1.4 apiserver will now publish swagger spec 2.0 at /swagger.json.
Thanks to @mbohlool

[2016-09-12 20:26] derekwaynecarr opened #32519 "If GarbageCollection is on, NamespaceController gets confused"
The logic flow of namespace controller is as follows:

1) estimate graceful termination for groupVersionResource
2) delete collection for groupVersionResource
3) list collection for groupVersionResource and expect 0 items unless graceful estimate != 0

This works great unless garbage collection is on.  When GC is on, the list call is not returning 0 items as expected and the namespace controller s

[2016-09-12 20:27] derekwaynecarr commented on #32519
Once the GC process resolves, the namespace controller gets out of its rate limiting, and the namespace is purged.

/cc @wojtek-t

[2016-09-12 20:27] derekwaynecarr commented on #32519
/cc @pwittrock

[2016-09-12 20:27] jlowdermilk commented on #32511
So it appears to be special cased in both [apiserver startup](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L151) and the e2e runner: https://github.com/kubernetes/kubernetes/pull/30575. We need to fix this and establish a pattern for how alpha APIs should be turned on before this gets even more convoluted.

[2016-09-12 20:39] mtaufen commented on #32513
We should also wait for the config to be completely restored before finishing the AfterEach (poll /configz and do a deep comparison between the map you posted and the map you get from /configz until they match).

[2016-09-12 20:40] derekwaynecarr commented on #32519
A simple fix for now would be for namespace controller to assume a 2s estimate for termination in presence of finalizers...

[2016-09-12 20:43] caesarxuchao commented on #32519
The analysis makes sense. The Oprhan finalizer is only put on RCs and RSs. Are they the resources reported in the flaky tests?

If we modify the namespace controller to send deletion request with deleteOptions.OrphanDependents=false, then the object will be deleted directly. But then GC will try to collect the dependents (pods of a RC), I assume this won't cause a race between namespace controller

[2016-09-12 20:43] gmcquillan commented on #21653
I just had to look it up...

[2016-09-12 20:49] dchen1107 commented on #32430
Above failures are on GCI nodes only. This shouldn't be the blocker for 1.4

[2016-09-12 20:49] dchen1107 commented on #32430
cc/ @vishh

[2016-09-12 20:50] derekwaynecarr commented on #32519
@caesarxuchao -- the RC was the resource I debugged with @smarterclayton  just now.

[2016-09-12 20:51] vishh commented on #32430
@dchen1107 we need to triage the failures? Can you find someone who can triage?

[2016-09-12 20:51] mikedanese commented on #32478
Does that require modifying every single salt statment? Can we just run https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/configure-vm.sh#L1028 in a retry loop if it's failing? I assume it's returning a non-zero exit code.

[2016-09-12 20:52] mikedanese commented on #32478
Agree, a quick and dirty fix is probably best here.

[2016-09-12 20:53] caesarxuchao commented on #32519
Thanks for the confirmation. Could you try to use deleteOptions.OrphanDependents=false? If GC and namespace controller both try to delete a pod, will that cause a problem? I guess it would be fine.

[2016-09-12 20:56] derekwaynecarr commented on #32519
@caesarxuchao - I am putting together a patch right now.

[2016-09-12 21:08] derekwaynecarr commented on #32519
I am going to do the following:

* set orphan dependents to true on delete collection calls
* have namespace controller check for pending finalizers when it verifies the LIST collection call and default to a 2s estimation if they are present

[2016-09-12 21:12] caesarxuchao commented on #32519
To false, then no orphan finalizer will be added. (true is the default value)

What if there are other finalizers in the future? 2s might not be enough for other finalizers. Maybe namespace controller should wait for finalizers in general.

[2016-09-12 21:20] montanaflynn commented on #168
I'm on google cloud's container engine and found the warning I referenced above is still shown while running master and nodes kubernetes version 1.3.5:

The warning is displayed with `kubectl describe nodes` is`WARNING: CPU hardcapping unsupported`.

[code]

[2016-09-12 21:22] derekwaynecarr commented on #32519
@caesarxuchao -- yes, i typed that wrong, false it is.

it needs to wait, but its more like how long it should want until we try again.  @lavalamp and i settled on 15s for now since that aligns with the standard behavior if namespace had pods with default grace periods.

[2016-09-12 21:26] montanaflynn opened #32522 "Nodes status is NotReady"
I have a cluster and over the weekend some of the pods went to pending status, this caused me to find that the nodes are `NotReady` state. They were all `Ready` last week. I'm not sure how to debug what happened or remove the broken nodes / fix the issue.

[code]

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

Google cloud platform container engine

**What happened**:

[2016-09-12 21:29] nikhiljindal commented on #32519
fwiw, 15s seems too large to me.
We should ideally be watching these resources to check if all finalizers are gone.

[2016-09-12 21:31] derekwaynecarr commented on #32519
right now, we dont want namespace controller to watch all cluster state, we can tweak the 15s later if need be.  my PR will make the orphan finalizer not get added anymore, so normal ns deletion is not impacted at all.  its only if users add their own finalizer is 15s going to have a penalty.

[2016-09-12 21:33] dchen1107 commented on #32522
@montanaflynn Can you provide the following information for further supporting:

1) Kubelet version? Did you recently upgrade your master from 1.2.X to 1.3.X?
2) kubectl describe node <node-id>  node-id should be one of NotReady node, for example: gke-cluster-1-default-pool-777adf16-w20k
3) one bad node's kubelet log somewhere.

[2016-09-12 21:37] MrHohn commented on #31929
I met some difficulty when try to use client-go library with current codes.

The main issue is that kube-dns is using `informer` from ["k8s.io/kubernetes/pkg/controller/framework"](https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/framework), which is not part of the client-go library. And this pakage continue introduces the dependencies of ["k8s.io/kubernetes/pkg/api"](https://g

[2016-09-12 21:41] jingxu97 commented on #31884
This test keeps failing for my PR https://github.com/kubernetes/kubernetes/pull/32242
Anyone could help to take a look?

[2016-09-12 21:42] lavalamp commented on #32511
@erictune is this something you can fix? Maybe @krousey or @caesarxuchao can consult if needed.

[2016-09-12 21:43] thockin commented on #31929
ACK.  If we're going to do major surgery to kube-dns we should consider
whether that is the right time to switch to coredns or (other).  OK to
defer this for now.

On Mon, Sep 12, 2016 at 2:38 PM, Zihong Zheng <notifications@github.com>
wrote:

[2016-09-12 21:45] k8s-merge-robot opened #32525 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/13059/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26185 #27142 #30275 #31101 #31105 #32059 #32074 #32078 #32098 #32437

[2016-09-12 21:45] sttts commented on #32241
@pwittrock manual upgrade/downgrade tests have been documented in https://docs.google.com/document/d/1yv9tm5qeCqbyw5SWysHaXxSLDRZ-RmK8QRBrkbnh6Tg/edit and executed successfully. From my side, we can close this issue.

[2016-09-12 21:49] yujuhong commented on #32370
@errordeveloper I'm not sure why kubelet decided to kill the containers. Do you have a more complete log?

[2016-09-12 21:53] davidopp commented on #32478
@dchen1107 @yujuhong

[2016-09-12 21:56] montanaflynn commented on #32522
1. Nodes are all `1.3.5`, I did upgrade but afterwords all the nodes were in `Ready` state.
2. Here's the output:

[code]

3. Got a command to run?

[2016-09-12 21:59] felipejfc opened #32526 "Nodes constantly running out of inodes"
**Kubernetes version** (use `kubectl version`):
1.3.5

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian
- **Kernel** (e.g. `uname -a`): 4.4.19
- **Install tools**: Kops

**What happened**:
I'm constantly running out of inodes on my k8s nodes, I've used [kops](https://github.com/kubernetes/kops) to deploy my cluster. Maybe if instead

[2016-09-12 22:00] krousey commented on #32511
This seems really suspicious to me: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L151

I have no idea why it's there and what breaks if we remove it. @erictune @soltysh

[2016-09-12 22:03] pwittrock commented on #32241
Great.  Thanks

[2016-09-12 22:03] #32241 closed

[2016-09-12 22:05] vishh commented on #168
@montanaflynn On Google Container Engine can you switch to `GCI` as the image type. You can upgrade your node-pool to GCI by setting `--image-type=gci` or pass that flag while creating a new cluster.
`GCI` is the new version of the existing debian 7 based base image on GKE. CPU limits are supported there.

[2016-09-12 22:08] thockin commented on #30716
On Mon, Sep 12, 2016 at 12:40 PM, Clayton Coleman
<notifications@github.com> wrote:

I don't understand this.  It's not atomic wrt all pods getting updates
at the same time, but it's not as if they see a half-cooked state of
the CM.  The only upside I see to an inline volume is the inline-ness
of it.

[2016-09-12 22:17] diclophis commented on #26202
@janetkuo it would be preferable for the metadata.labels to be updatable for our use case, because we planned on having the ability to modify a tag named 'TTL' that we would use to limit the lifetime of a resource on a particular kubernetes cluster to achieve high-density per pull-request deployments of our application... see: https://github.com/mavenlink/karousel for details

[2016-09-12 22:19] dchen1107 commented on #32526
@felipejfc Thanks for reporting the issue. In 1.4 release, we detects the out-of-inode issue, and start the eviction to mitigate the issue. In 1.5 release, we are going to add per container inode accounting, so that out-of-inode eviction will handle the situation more gracefully and accurately.

Meanwhile, can you share us the output of docker info? I am wondering which graphdriver you are using h

[2016-09-12 22:20] dchen1107 commented on #32526
cc/ @justinsb

[2016-09-12 22:23] dchen1107 commented on #32526
cc/ @dashpole We are talking about your start project. Here is a real production case.

[2016-09-12 22:26] mtaufen commented on #31884
Mine as well #32514

Based on the logs it seems like an issue connecting over ssh?
`Sep 12 14:52:48.695: INFO: Failed to get response from guestbook. err: an error on the server ("Error: 'No SSH tunnels currently open. Were the targets able to accept an ssh-key for user \"gke-3a0a9df3a07b02241c8c\"?'\nTrying to reach: 'http://10.0.1.10:80/guestbook.php?cmd=get&key=messages&value='") has prevented

[2016-09-12 22:28] jfrazelle commented on #31884
ya I'll look into that error

On Mon, Sep 12, 2016 at 3:26 PM, Michael Taufen <notifications@github.com>
wrote:

[2016-09-12 22:35] goltermann commented on #31676
Moving to 1.5, since this has the not-release-blocker tag.  Still P0 and important to get fixed soon.

[2016-09-12 22:36] felipejfc commented on #32526
here it is @dchen1107

Containers: 45
 Running: 45
 Paused: 0
 Stopped: 0
Images: 26
Server Version: 1.11.2
Storage Driver: overlay
 Backing Filesystem: extfs
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: null host bridge
Kernel Version: 4.4.19
Operating System: Debian GNU/Linux 8 (jessie)
OSType: linux
Architecture: x86_64
CPUs: 4
Total Memory: 15.67 GiB
Name

[2016-09-12 22:37] davidopp commented on #31784
Does the autoscaling SIG still exist?

Anyway I would say sig-instrumentation.

[2016-09-12 22:37] jingxu97 commented on #30689
For gke test 8040, the error message is
STEP: Destroying namespace "e2e-tests-pod-disks-6501m" for this suite.
Aug 27 01:48:34.341: INFO: Couldn't delete ns "e2e-tests-pod-disks-6501m": an error on the server has prevented the request from succeeding (delete namespaces e2e-tests-pod-disks-6501m)

In master controller log, the only two logs related to this namespace is
2016-08-27 08:51:10 UTC,ERROR

[2016-09-12 22:38] saad-ali commented on #29324
The fix for this (https://github.com/kubernetes/kubernetes/pull/32242) has been LGTM'd and merged to HEAD.

@svanderbijl or @justinsb: could you please test against HEAD to sanity check and re-verify that the issue is fixed. Once we get your thumbs up, @jingxu97 will cherry-pick the PR to `release-1.3` as well.

[2016-09-12 22:39] jingxu97 commented on #30689
So in summary, the above failures are caused by different reasons. And they all only occurred once per type. Remove flake for now, and will keep an eye for this test.

[2016-09-12 22:43] smarterclayton commented on #31784
When we were doing sig-instrumentation we said it did not cover metrics
explicitly.  I would expect metrics / autoscaling to be disjoint from
instrumentation.

On Mon, Sep 12, 2016 at 6:37 PM, David Oppenheimer <notifications@github.com

[2016-09-12 22:46] davidopp commented on #31784
Do you have a link to this discussion? The idea that instrumentation does not include metrics sounds odd to me. At the least, it sounds closer than autoscaling...

[2016-09-12 22:48] bprashanth opened #32528 "PetSet should be more accomodating to custom babysitters"
Pod lifecycles currently take the following path:
1. Init container: environment setup
2. Entrypoint: application
3. Post start: might execute before entrypoint
4. liveness/readiness probe: these are for health, but sometimes misused to deliver events
5. Pre stop
6. terminationGrace: environment teardown

All these hooks revolve around a single container. Often clustered applications need to react

[2016-09-12 22:57] vishh commented on #29725
SGTM

On Thu, Sep 8, 2016 at 3:34 AM, Buddha Prakash <notifications@github.com>
wrote:

[2016-09-12 23:01] janetkuo commented on #26202
@diclophis thanks for the feedback. Updating template labels of deployment is still supported by `kubectl apply` as long as the selector is specified in the config file (not derived from template labels). However, doing this is dangerous since labels are how controllers group and find their sub-resources (as explained above in https://github.com/kubernetes/kubernetes/issues/26202#issuecomment-2457

[2016-09-12 23:06] montanaflynn commented on #168
@vishh where / how could I set `--image-type=gci` for an existing cluster?

[2016-09-12 23:08] smarterclayton commented on #31784
https://groups.google.com/d/msgid/kubernetes-dev/7721ee1f-08cb-4b57-966c-c6dd9ad6456d%40googlegroups.com
<https://groups.google.com/d/msgid/kubernetes-dev/7721ee1f-08cb-4b57-966c-c6dd9ad6456d%40googlegroups.com?utm_medium=email&utm_source=footer>

On Mon, Sep 12, 2016 at 6:47 PM, David Oppenheimer <notifications@github.com

[2016-09-12 23:12] k8s-merge-robot opened #32531 "[k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2248/

Failed: [k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available {Kubernetes e2e suite}

[code]

Previous issues for this test: #31277 #31347 #31710 #32260

[2016-09-12 23:12] smarterclayton commented on #30716
You create config.  App gets deployed.  You're happy.  Someone updates the
config.  A node is evacuated elsewhere in the cluster and one of your pods
picks up the new config.  Everything fails.  You try to figure out what the
old values of config are.  You cry.

The sharp edges of that "surprise, your app doesn't work" are what I'm most
concerned with.  We tell everyone to use configmaps, and a no

[2016-09-12 23:14] mml commented on #21653
@gmcquillan Fair enough.  If you send a patch I'm happy to review.

[2016-09-12 23:19] mml commented on #31635
This no longer appears to fail except in concert with infra-caused broken runs on GKE.

[2016-09-12 23:19] #31635 closed

[2016-09-12 23:23] derekmahar commented on #3312
I stumbled across a [sidecar container example](https://github.com/kubernetes/kubernetes/tree/master/examples/javaweb-tomcat-sidecar#java-web-application-with-tomcat-and-sidercar-container) that simply invokes `tail -f /dev/null` to stay alive after it's done its job.  See third item in the [explanation](https://github.com/kubernetes/kubernetes/tree/master/examples/javaweb-tomcat-sidecar#explanati

[2016-09-12 23:23] ixdy commented on #31570
^ timeout

[2016-09-12 23:24] vishh commented on #168
@montanaflynn Assuming you have only the default node-pool, run `gcloud container clusters upgrade <your_cluster_name> --image-type gci --node-pool default-pool`.
This change is disruptive since it restarts existing nodes.
Another option is to create a new node pool for your cluster that is using GCI and then slowly turn down the default node pool. - `gcloud container node-pools create --cluster <

[2016-09-12 23:25] jberkus commented on #30716
Can we split off the discussion of live updating configmaps after deployment into a separate proposal?  It's really a completely different feature.

[2016-09-12 23:26] smarterclayton commented on #13414
Yeah, much thanks.

On Mon, Sep 12, 2016 at 3:57 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2016-09-12 23:35] montanaflynn commented on #168
Thanks! Will container engine be using that image by default in the future?

[2016-09-12 23:36] smarterclayton commented on #30716
It's relevant with respect to inline configmaps templating and making it
easier to do config templating inline with the minimal syntax.  An inline
config map avoids bash squirreliness and makes a wider range of init
container templating engine options feasible.  So I don't think it's
separate.

On Mon, Sep 12, 2016 at 7:25 PM, Josh Berkus <notifications@github.com>
wrote:

[2016-09-12 23:37] smarterclayton commented on #30716
Don't think it's *totally* separate.  We already have an issue for the live
updating.

On Mon, Sep 12, 2016 at 7:36 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-09-12 23:46] arun-gupta opened #32534 "Incorrect error message when labels & expressions are not matching for replica set"
Using the following configuration for replica set:

[code]

Creating the resource as:

[code]

This gives the error:

[code]

The resource does created successfully if `matchExpressions` fragment is removed.

The error message seems to indicate that `labels` are incorrect where as the `expressions` were not matching.

[2016-09-12 23:50] vishh commented on #168
Yes. That *might* happen as early as v1.4 on GKE.

[2016-09-12 23:51] AdoHe commented on #32534
@arun-gupta I believe there is a long way for us to improve many error message.

[2016-09-12 23:53] #16529 closed

[2016-09-12 23:53] #19312 closed

[2016-09-12 23:55] arun-gupta commented on #32534
@AdoHe +1

Are there any working examples of `matchExpressions` with replica set? Where does API server expect these values to be set?

[2016-09-12 23:56] david-mcmahon commented on #16815
This doesn't look like it's going to happen.  Closing.

[2016-09-12 23:56] #16815 closed

[2016-09-13 00:00] foxish commented on #31198
Closing because we now have netlify staging docs PRs automatically. https://github.com/kubernetes/kubernetes.github.io/pull/1180

[2016-09-13 00:00] #31198 closed

[2016-09-13 00:01] k8s-merge-robot opened #32535 "[k8s.io] Kubectl client [k8s.io] Kubectl taint should remove all the taints with the same key off a node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31093/kubernetes-pull-build-test-e2e-gce/58488/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl taint should remove all the taints with the same key off a node {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31093.

Previous issues for this test: #31066 #31967 #32219

[2016-09-13 00:02] dchen1107 opened #32536 "Validate docker's new graphdriver: overlay2 against docker 1.12"
Forked from https://github.com/kubernetes/kubernetes/pull/32427/files#r78462965

According to https://docs.docker.com/engine/userguide/storagedriver/overlayfs-driver/, Docker 1.12 introduced a new graphdriver: overlay2. When we automate the validation for docker 1.12, we didn't validate the driver.

[2016-09-13 00:12] lavalamp commented on #32028
We are waiting for another occurrence with more debug info.

[2016-09-13 00:18] dchen1107 commented on #32536
@kubernetes/sig-node

[2016-09-13 00:22] vishh opened #32537 "Setup minimum reclaim for disk and inodes availability in GCE"
Clusters on GCE set eviction thresholds for disk and inodes. Given that reclaiming disk and inodes is slow, we should set minimum reclaim thresholds too.
Essentially, set `--eviction-minimum-reclaim=nodefs.available=5%,nodefs.inodesFree=5%`.

@derekwaynecarr I assume percentages are supported for min reclaims too.

Do we have system tests for min reclaim?

cc @dchen1107

[2016-09-13 00:22] andrewstuart commented on #30716
It does seem to be at least tangentially related, though I think the topic of "what happens if the config map changes" is still orthogonal to "can templated config maps change if upstream data sources change?" The latter seems very relevant.

IMO the inline config map vs external config map would also be irrelevant given a good templating solution. If the templating solution is complete, then eith

[2016-09-13 00:24] rmmh commented on #31884
@jfrazelle it looks like this is happening because we're not cleaning up after the project SSH keys.

@spxtr manually deleted a bunch of old ones to make new ssh connections work, and he's working on automating the cleanup.

[2016-09-13 00:42] bprashanth opened #32538 "upgrading master doesn't upgrade kubectl"
Running `cluster/gce/upgrade.sh -M v1.4.0-beta.3` upgrades the master as expected, but ssh-ing into the master @jingxu97 discovered that kubectl was still at 1.3.6. Feel free to close if this was a conscious decision, I'd  expect to find features present in 1.4 kubectl on a 1.4 master, though.

@kubernetes/sig-cluster-lifecycle

[2016-09-13 00:53] k8s-merge-robot opened #32540 "kubernetes-e2e-gke-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/8708/

Run so broken it didn't make JUnit output!

[2016-09-13 00:57] gmcquillan commented on #21653
Deal.

On Sep 12, 2016 4:15 PM, "Matt Liggett" <notifications@github.com> wrote:

[2016-09-13 00:57] pwittrock opened #32541 "Automated GKE Upgrade Tests need to be passing"

[2016-09-13 01:01] olalonde opened #32542 "Running out of disk space but no warnings from `kubectl describe nodes`"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: aws (kube-up.sh)
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 8 (jessie)
- **Kernel** (e.g. `uname -a`): Linux ip-172-20-0-9 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2+deb8u3 (2016-07-02) x86_64

[2016-09-13 01:11] mikedanese commented on #32538
This is more of a GCI issue. New binaries are placed in `/home/kubernetes/bin/` which systemd units use explicitly. However `/home/kubernetes/bin/` is not on the PATH. If you run `kubelet` or `kubectl` you are using the binaries that were baked into GCI when it was built.

[2016-09-13 01:14] saad-ali commented on #32492
@jsafrane I searched through the master logs for you:

`structPayload.message CONTAINS "pvc-814e168a-78ed-11e6-bb0c-42010af00004"` returned:

[code]

The interesting bit is line 28.

[2016-09-13 01:26] asalkeld commented on #32305
I'll sort this out.

[2016-09-13 01:31] bprashanth commented on #32538
shouldn't the kubectl in the gci image we're using for 1.4 be 1.4, though? I don't know how common users ssh-ing into the master is, so it might not matter, but if we added a new feature it won't work through 1.3.6 obviously. I use the heck out of kubectl on master to debug other people's clusters, but I guess we can just doc the alias.

[2016-09-13 01:34] chakri-nelluri opened #32543 "New Flex volume API proposal"
#33538 has the pull request for the proposal.
# Flex Volume API Proposal
## Abstract

The goal of this proposal is to extend and enhance the existing flex volume storage plugin model (#13840). It bridges the gap with existing in-tree plugins and defines a stable api.
## Background:

Existing flex volume plugin enables administrators/vendors to create out-of-tree volume plugins, i.e., plugins which

[2016-09-13 01:37] m1093782566 commented on #30629
@deads2k @derekwaynecarr

I am interested in this job and I find there are still some controllers which are still using `workqueue.Type` instead of workqueue.RateLimitingInterface. Here comes with the list,

- [ ] certificates
- [ ] disruption
- [ ] endpoints
- [ ] job
- [ ] replica set (@deadsk will fix it?)

If there is no volunteer, I will help to fix them.

[2016-09-13 01:38] Amey-D commented on #32538
+1 to documenting the alias.  In PR #31367 we decoupled the running versions of kubelet and kubectl from the versions in /usr/bin/kubelet and /usr/bin/kubectl on GCI, so this is WAI.

[2016-09-13 01:40] bprashanth commented on #32538
alright we'll just include something in https://github.com/kubernetes/kubernetes/issues/32332 and probably some other sources

[2016-09-13 01:42] chakri-nelluri commented on #32543
@thockin @saad-ali @rootfs @MikaelCluseau @barakmich @wattsteve @childsb  @gr4701
Please review.

[2016-09-13 01:44] mikedanese opened #32544 "kubectl path based resource selection should support filtering with label selector"
Right now it is not supported:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource/builder.go#L546-L552

[2016-09-13 02:00] smarterclayton commented on #30716
I think it's important to note that we already have solutions in the
ecosystem for complex multi resource templating that we have previously
said belong above the core platform - specifically Deployment Manager (now
the server component of Helm), local templating + apply, Ansible, and
others.  To Kelsey's point, we are trying not to build one of those
solutions in the core, because they belong as

[2016-09-13 02:00] m1093782566 commented on #31571
I think Annotation is useful for users defining their own need flexibly, like strategy, attribute and so on. It can reduce the work load to maintain them as API Resource type in `types.go`. However, the current `map[string]string` Annotation key-value pair also has its limitations, it's unable to describe more complicated scenarios.

[2016-09-13 02:02] aliakhtar opened #32546 "BUG- Unable to deploy AWS cluster with elasticsearch logging enabled"
I'm trying to deploy a cluster on AWS using `kube-up.sh` but with elasticsearch / kibana logging enabled.

Following the instructions at http://kubernetes.io/docs/getting-started-guides/logging-elasticsearch/ I put the following lines:

[code]

in `kubernetes/cluster/aws/config-default.sh`. However when I made the cluster using `kube-up.sh`, I didn't see any notifications like

And when I visit `h

[2016-09-13 02:07] #32519 closed

[2016-09-13 02:26] smarterclayton commented on #17456
Regarding secret generation, generating server certs is a lot like this pattern (in OpenShift 1.3 it is an annotation on the service that creates a named secret with a serving cert signed for that service DNS name.  So I think annotations of various forms is the appropriate approach to get started.

Broader question?

Do you think that the majority of cases would include a secret an admin provisio

[2016-09-13 02:40] liangxia commented on #31866
As https://github.com/kubernetes/kubernetes/pull/32084 forbid creation of GCE PDs in unmanaged zones is merged, so this is no long a issue.

[2016-09-13 02:40] #31866 closed

[2016-09-13 02:46] smarterclayton commented on #17456
Service secret generation documented here: https://docs.openshift.org/latest/dev_guide/secrets.html#service-serving-certificate-secrets

[2016-09-13 02:53] HardySimpson commented on #32361
@wojtek-t another question, is the 2000 kubemark is serve by one apiserver?

[2016-09-13 03:08] k8s-merge-robot opened #32548 "[k8s.io] Kubectl client [k8s.io] Kubectl run --quiet job should not output anything except the command when --quiet is set {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30701/kubernetes-pull-build-test-e2e-gce/58511/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run --quiet job should not output anything except the command when --quiet is set {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #30701.

Previous issues for this test: #30708

[2016-09-13 03:14] MikaelCluseau commented on #32543
On 09/13/2016 12:35 PM, Chakravarthy Nelluri wrote:

I would have called the property "AccessMode" instead.

[2016-09-13 04:16] brendandburns commented on #31729
Re-opening since I saw it here too:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31594/kubernetes-pull-test-unit-integration/43773/

[2016-09-13 04:16] tobad357 commented on #21306
@rootfs Sorry haven't had a chance due to work commitments.
I'm still interested in fixing it but if someone wants to go ahead the please proceed.
I haven't started

[2016-09-13 04:25] chakri-nelluri opened #32550 "Improved lifecycle proposal for Flex volume plugin driver"
#32539 has the pull request for the proposal.
### Objective

The goal of this proposal is to define a simplified flex volume plugin driver installation model.
Existing plugin driver installation model has the following drawbacks.
- It requires manual installation on every node and restart of kubelet on every node & controller-manager on the master node.
- It is not supported in GCE & CoreOS enviro

[2016-09-13 04:25] quinton-hoole commented on #31729
@brendandburns There is a pretty major rework of the unit test that failed (ederation/pkg/federation-controller/ingress) in https://github.com/kubernetes/kubernetes/pull/31600 which should merge tomorrow. Hopefully that will sort out whatever is causing the flake.  If not, I'll dive deeper.

[2016-09-13 04:26] chakri-nelluri commented on #32550
@thockin @saad-ali @MikaelCluseau @rootfs @wattsteve @pmorie @childsb @gr4701
Please review.

[2016-09-13 04:30] chakri-nelluri commented on #32550
@barakmich Please review.

[2016-09-13 04:41] davidopp commented on #31571
@smarterclayton It sounds like what you're talking about might be closer to the "opaque integer resource" idea (#28312) whereas I think @bgrant0607 was talking more about some kind of delegation or partitioning mechanism to direct requests to the proper instance of something that has multiple instances (most likely one "out-of-the-box" instance and one or more custom instances). Or do you see thes

[2016-09-13 04:44] philips commented on #16779
Is anyone working on this for v1.5? I like the proposal of having the SA simply not mount by configuration. Would we just add v1.ServiceAccount.Spec.mountPolicy?

[2016-09-13 04:50] davidopp commented on #32538
Is there some way to make the proper kubectl show up in the path? This seems like a pretty decent usability issue. People generally don't read documentation, much less release notes...

[2016-09-13 04:54] thockin commented on #30716
On Mon, Sep 12, 2016 at 4:13 PM, Clayton Coleman
<notifications@github.com> wrote:

I assume you mean "without bouncing the pod, and the app does not pick
it up dynamically"

Someone laid a land mine and was sad when they stepped on it.  I 100%
agree land mines are bad, but this is not the first such case.
ReplicationController and ReplicaSet have the same problems.  Docker
image tags being mutabl

[2016-09-13 05:06] talk2vino commented on #29728
The mount path of the fluentd-es controller need to be corrected. Change the mount path from "/var/lib/docker" to "/mnt/ephemeral/docker"

''' The misconfiguration (on AWS) of fluentd to mount /var/lib/docker instead of /mnt/ephemeral/docker. '''

[2016-09-13 05:11] zreigz commented on #31983
Yes you are right. Kubernetes as a Docker manager should take care of this. Deleting the conntrack entries is done in very simple way: https://github.com/kubernetes/kubernetes/blob/65f3fa9caf79a5cae49ff893695c58ca63863ad1/pkg/proxy/iptables/proxier.go#L719
Just call the application `conntrack -D ...`

I will try to make Pull Request to solve the issue and then we will see if community like it.

[2016-09-13 05:28] gmarek commented on #32361
@HardySimpson  - yes it is.

[2016-09-13 05:32] porridge opened #32551 "Low nf_conntrack_tcp_timeout_close_wait default causes intermittent ECONNREFUSED on GKE"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.5", GitCommit:"b0deb2eb8f4037421077f77cb163dbb4c0a2a9f5", GitTreeState:"clean", BuildDate:"2016-08-11T20:29:08Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.5", GitCommit:"b0deb2eb8f4037421077f77cb16

[2016-09-13 05:39] thockin commented on #32551
@kubernetes/sig-network

[2016-09-13 05:40] thockin commented on #32551
Consider for a 1.4.x patch

[2016-09-13 05:47] davidopp opened #32552 "Add --image-type flag to upgrade.sh"
To select GCI vs. ContainerVM

Also, if it will change the image type, we should warn the user that the upgrade will change the image, and prompt them whether to continue [yes/no] (suggestion by @dchen1107)

@roberthbailey @fabioy @dchen1107 @vishh

[2016-09-13 05:55] mikedanese commented on #16779
We could also implement better behavior in a new admission controller and deprecate the current.

[2016-09-13 06:16] davidopp commented on #31784
I read that as saying not to combine instrumentation with consumers of the instrumentation (like autoscaling) -- not that instrumentation doesn't include metrics. I can see that there might be multiple interpretations, but I don't know what the instrumentation SIG would talk about if they exclude metrics?

[2016-09-13 06:23] zreigz commented on #31983
But there is another problem because I removed conntrack entries `sudo conntrack -D ` and then I created service and still have problem. I have to restart my UDP sender. I use hyperkube for my k8s cluster.

[2016-09-13 06:28] soltysh commented on #32149
When fixing this issue make sure to **remove the hack introduced when fixing e2e in #31973**.

[2016-09-13 06:34] soltysh commented on #32511
This line is there to be able to force using `batch/v2alpha1` storage for ScheduledJobs, without that SJ will try to be stored in `batch/v1`. @deads2k have any idea how we can improve this piece?

[2016-09-13 06:35] soltysh commented on #32511
I'll try to look into the runtime-config setting along with solving #29998.

[2016-09-13 06:35] xiang90 opened #32553 "more metrics for API Storage"
@wojtek-t and I have a discussion around etcd backend performance. We have some guess about why etcd drops watchers. But I think it would be great if we can expose more metrics to do white box monitoring. Also for etcd3 backend, there is no metrics.

Then we have more data and more confidence.

Some example metrics I can think of beside the existing ones in etcd2:

1. latest_revision
2. latest_wat

[2016-09-13 06:35] xiang90 commented on #32553
/cc @hongchaodeng

[2016-09-13 06:58] ravilr commented on #32551
@porridge nice sleuthing. is it normal for clients to have so much delay in calling close?

[2016-09-13 07:05] jsafrane commented on #32492
@saad-ali

Deletion of the disk must have failed for 20 minutes, that's really odd. Reverting #32279 should have not helped here. That's why I need complete logs for whole 20 minutes. I suspect #32497 is the culprit.

[2016-09-13 07:11] wojtek-t commented on #32553
Sure - definitely we are lacking some metrics. The question is what metrics exactly do we need.

As you know, currently we have this "cacher" layer in apiserver, which is aggregating all watchers in apiserver. So definitely adding a metric for 3 is trivial.
This cacher has exactly one watch opened to etcd per resource. Thus also "latest_watched_revision" should be pretty simple to add. However, I'

[2016-09-13 07:34] porridge commented on #32551
My completely unconfirmed gut feeling is that this happens when:
- our code makes some long-running GCE operations,
- for the whole duration of such operation, it keep a GCP client connection
object around (as it's needed to poll operation status)
- this GCP client connection object probably keeps a reference to the
oauth2client helper plugin object (which retrieves auth token from metadata
server

[2016-09-13 08:15] #32285 closed

[2016-09-13 08:28] kargakis commented on #29828
Latest failure seems to be related to the namespace flakes that have bubbled up recently
[code]

[2016-09-13 08:30] bryk commented on #26191
I'll take care of this after 1.4 release. This is P3 and very little flake, anyway.

[2016-09-13 08:36] zreigz commented on #31983
In code it looks much better. I assume you used `nodePort` for your service to use some particular port.
The fix is in place when node port is binded. When I create PR I will let you know

[2016-09-13 08:53] wojtek-t commented on #32525
Fixed by https://github.com/kubernetes/kubernetes/pull/32556

[2016-09-13 09:07] zreigz commented on #31983
The PR created: https://github.com/kubernetes/kubernetes/pull/32561

@dachulin If you want verify it you can easily do it using local cluster

[code]
Then clone kube-deploy project to create local k8s cluster with image you already created with fixes

[code]

[2016-09-13 09:22] #32525 closed

[2016-09-13 09:26] gmarek commented on #27321
It happened again in kubernetes-e2e-gce-serial/2135

[2016-09-13 09:38] qwang1 opened #32562 "Scope restricts a quota doesn't track PVC requests.storage"
**What keywords did you search in Kubernetes issues before filing this one?** :
scope, requests.storage

---

**FEATURE REQUEST**:
Could persistent volume claim storage become an element of Qos and is it necessary to support scope constraint in the future?

**Kubernetes version** (use `kubectl version`):
kubenetes v1.5.0-alpha.0.368+5512104d363813

**Environment**:
- **OS** (RHEL 7.2)
- **Kernel**

[2016-09-13 10:05] johscheuer opened #32564 "Godeps check Bash version"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**
Godeps, declare, bash

---

**Is this a BUG REPORT or FEATURE REQUEST?**
BUG REPORT:
In https://github.com/kubernetes/kubernetes/blob/master/hack/update-godep-licenses.sh#L122 the command `declare -Ag ..` is used `declare -A` is only available in Bash 4+ maybe we should add an check fo

[2016-09-13 10:08] fabxc commented on #31784
Yes, that was my understanding too. This was actually more about naming it from "monitoring", which could arguably include logging etc., to "instrumentation", which actually puts an emphasis on metrics. There are consumers of metrics that are not monitoring, but auto-scaling for example. SIG instrumentation should also care about enabling these use cases. The statement was more to referring initia

[2016-09-13 10:12] johscheuer commented on #32564
To get the script running you need to do the following steps on OSX:

[code]

I couldn't find any documentation for this, so maybe we should add this to place `xx`? I think here: would a good place https://github.com/kubernetes/kubernetes/blob/master/docs/devel/godep.md

[2016-09-13 10:24] fgrzadkowski commented on #31784
I think this should be owned by sig-instrumentation.

@smarterclayton Why do you ask which SIG owns this?

[2016-09-13 10:35] k8s-merge-robot opened #32566 "kubelet-serial-gce-e2e-ci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/673/

Run so broken it didn't make JUnit output!

[2016-09-13 11:02] #32352 closed

[2016-09-13 11:05] kargakis opened #32567 "TerminatingReplicas status field for replica sets"
Recreate Deployments require that we always run at most one instance of user pods at a time. Currently, we can get into a situation, due to volume attach/detach, where old pods are stuck in Terminating phase (pod.DeletionTimestamp != nil) while the deployment controller is trying to scale up new pods because it thinks old pods are gone. The replica set controller currently filters out Terminating

[2016-09-13 11:31] pires commented on #15056
#21535 has been merged and seems to close this issue. See https://github.com/AdoHe/kubernetes/blob/7228b9b9878feffb001614d91a974463a6dbb362/docs/admin/kube-apiserver.md

[2016-09-13 11:33] resouer commented on #32024
So, let's follow option 2, just give me a few days to send the commits out :/

[2016-09-13 11:59] edevil opened #32569 "--configure-cbr0 race condition with docker daemon startup"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**
configure-cbr0 race condition

---

**BUG REPORT**

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.6+ae4550c", GitCommit:"ae4550cc9c89a593bcda6678df201db1b208133b", GitTreeState:"not a git tree", BuildDate:"2016-08-30

[2016-09-13 12:04] argusua commented on #29324
Hi. We got the same issue. Volumes not usable. Data on volumes mixed after restart pods. 2 or 3 pods may use same storage at one time.
[code]

Any chance that the fix will be released in a few days?

[2016-09-13 12:05] k8s-merge-robot opened #32570 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/3955/

Run so broken it didn't make JUnit output!

[2016-09-13 12:06] discostur commented on #12767
Does anybody have a spec-file to self-compile a newer version than 1.2? Or is there any other repository?

[2016-09-13 12:07] AdoHe commented on #32567
[code]
so the situation break this rule?

[2016-09-13 12:09] wojtek-t opened #32571 "GarbageCollector sends a lot of repeated GETs with 404 responses"
I was looking into log from apiserver in our large runs and it seems to me that garbage collector is doing some unnecessary work.
 In particular I'm seeing a bunch of series of GET requests about the same RC, all of them with 404 error.
 As an example see this:
[code]
 Is this expected? Shouldn't GC stop asking about that RC after the first 404 error?

[2016-09-13 12:14] m1093782566 commented on #28706
Currently a pet can block forever. If we support rollback strategy for upgrade, should we give up a upgrade if timeout?

[2016-09-13 12:20] m1093782566 commented on #28706
Annotations is useful to contain something like upgrade strategies in transitional period, but the map[string]string type annotations also has its limitations - it's unable to describe complicated things.

[2016-09-13 12:37] sverrirab commented on #30495
Hit the same problem using 1.3.7 release downloaded from here: https://github.com/kubernetes/kubernetes/releases/download/v1.3.7/kubernetes.tar.gz
1) configured my env:
[code]
2) Ran ./kube-up.env and hit the same error above.
3) Injected the changes suggested by @aliakhtar above and ran again.
[code]
4) Manually cleaned up created resources and ran again (RANDOMSTUFF replaced).
[code]
5) Realise

[2016-09-13 12:39] zreigz commented on #32432
This feature request looks tempting. If you don't mind I would like start working on this and create PR

[2016-09-13 12:45] jsafrane commented on #32497
@wongma7, yes, please revert the PR for now, we can add shared informers when they're fixed.

[2016-09-13 12:45] deads2k commented on #30629
Help would be very welcome.  I'd recommend trying to tackle a single controller first.  You can take a look at the daemonset controller to see some of the tweaks

 1.  Waiting for caches to be ready: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/daemoncontroller.go#L245
 1.  Processing and error handling methods: https://github.com/kubernetes/kubernetes/blob/master/pkg

[2016-09-13 12:52] kargakis commented on #30770
@deads2k this is fixed in https://github.com/kubernetes/kubernetes/pull/32210, right?

[2016-09-13 12:56] deads2k commented on #30770
I've written the API to do it.  I'll see about sweeping the rest.

[2016-09-13 13:08] josselin-c opened #32573 "Custom google service-account for GKE"
**What keywords did you search in Kubernetes issues before filing this one?**:
Sevice account
GKE

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature request

On GKE, the default _google service account_ (xxxxxx-compute@developer.gserviceaccount.com) is used by the servers to access other google cloud services
This google cloud service account can be accessed from within any p

[2016-09-13 13:11] gmarek commented on #32505
meta issue: #31977

[2016-09-13 13:11] daikaixian commented on #12984
@ArtfulCoder

follow your comment,there is the output:

1.
# Generated by NetworkManager
search localdomain
nameserver 180.168.255.118
nameserver 202.96.199.133

2.
search localdomain
nameserver 180.168.255.118
nameserver 202.96.199.133
options ndots:5

3.  ?

4./skydns -machines=http://127.0.0.1:4001 -addr=0.0.0.0:53 -domain=mycluster.com

5.
NAMESPACE   NAME           ENDPOINTS            AGE
de

[2016-09-13 13:12] gmarek commented on #31977
It happened again in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6431/

As an error proof I have the list of pods that kubelet thinks are running on the machine:
[code]

If you grep 'started at' on it you'll get 108 results: 2 pods from the max.

[2016-09-13 13:12] josselin-c commented on #32573
I tried mounting an empty volume over /var/run/secrets but it isn't sufficient as a token can be retrieved with:
`curl "http://metadata.google.internal/computeMetadata/v1/instance/service-accounts/default/token" \
-H "Metadata-Flavor: Google"`

[2016-09-13 13:21] resouer opened #32574 "[Flake][e2e smoke gke] ERROR: Error fetching remote repo 'remote'"
It seems gke e2e smoke test is somehow down:

[code]

[2016-09-13 13:24] onorua commented on #32478
@mikedanese theoretically you should be able to add one `onfail` state for every states you expect failure. Something like:
[code]
In this case you can add one state for states file, with `onfail` with the list of all needed states with:
[code]
fast and dirty :)

[2016-09-13 13:33] dims commented on #32570
Hmm those urls are returning 404's

Starting to download all kubernetes godeps. This takes a while
godep: error downloading dep (google.golang.org/cloud/compute/metadata): unrecognized import path "google.golang.org/cloud/compute/metadata"
godep: error downloading dep (google.golang.org/cloud/internal): unrecognized import path "google.golang.org/cloud/internal"
godep: Error downloading some deps.

[2016-09-13 13:49] dims commented on #32570
Definitely broken by a change in google.golang.org

[code]

[2016-09-13 14:00] derekmahar commented on #32432
One benefit of this feature is that it would obviate the "storage sidecar" container that [Java Web Application with Tomcat and Sidercar Container](https://github.com/kubernetes/kubernetes/tree/release-1.4/examples/javaweb-tomcat-sidecar) describes.  It would represent a kind of prepopulated volume that the sidecar container achieves.  I think this is closer to my use case than that of a ConfigMap

[2016-09-13 14:05] m1093782566 commented on #30629
@deads2k very appreciated!

[2016-09-13 14:10] liggitt commented on #32432
It might be good to first discuss how you would add support for binary content in a backwards-compatible way, given the current shape of the object. @pmorie might have thoughts

[2016-09-13 14:29] ptinsley commented on #31222
failureThreshold: 3
          httpGet:
            path: /robots.txt
            port: 80
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1

We are seeing an app with the above liveness probe definition changing to / randomly on deployments.

[2016-09-13 14:40] derekwaynecarr commented on #32562
It's possible in the future that we define new scopes that align to a storage class so we can support concepts like "You have 10Gi of Gold storage, and 4 Gi of Bronze storage" where Gold and Bronze are cluster defined Storage Classes.

The existing scopes defined are all scoped to a Pod level resource.  Since requests.storage is a PersistentVolumeClaim concept, the existing scopes do not extend to

[2016-09-13 14:40] #32562 closed

[2016-09-13 14:43] derekwaynecarr commented on #30629
@m1093782566 -- please cc me and @deads2k on any PRs you open so we can track the work.  A PR per controller you tackle is ideal.  Thanks!

[2016-09-13 14:54] m1093782566 commented on #30629
sure

[2016-09-13 14:59] soltysh commented on #32567
What for? We're only showing active, because those are the ones user cares about and that's how the controller treats them.

[2016-09-13 15:26] kargakis commented on #32567
Is there any previous discussion on this matter that you can link here? I have been wondering why we try so hard to hide terminating pods from users. I am not against the goal but in reality there are times they (users) are blocked by them (terminating pods not terminating).

[2016-09-13 15:33] quinton-hoole opened #32580 "Address remaining review comments in #31600"
See #31600 for details.

[2016-09-13 15:35] pskrzyns commented on #32128
Ok, so as @euank suggested we should rename existing tests and add additional tests cases

TODO:
- [ ] add to portforwardertester.go ```os.Getenv("BIND_ADDRESS")``` if not set, it should be localhost for backward compability with existing tests
- [ ] Rename existing tests to "With a server listening on localhost that expects a client request It ..."
- [ ] For existing tests pass explicity BIND_ADD

[2016-09-13 15:35] DirectXMan12 commented on #31784
On historical precendent: SIG-autoscaling has largely dealt with Heapster-related changes in the past (it's been closer to SIG-autoscaling-and-Heapster).

On the current state of affairs/my view of the distinction: SIG-autoscaling largely deals with making metrics available for consumption by cluster components (such as the HPA controller, and perhaps things like InitialResources in the future), a

[2016-09-13 15:36] ncdc commented on #32128
No objections here

[2016-09-13 15:44] thockin commented on #32497
What is riskier for 1.4 reverting this or not reverting it?

On Tue, Sep 13, 2016 at 5:46 AM, Jan Šafránek <notifications@github.com>
wrote:

[2016-09-13 16:00] wongma7 commented on #32497
@thockin the code isn't (& shouldn't be) in 1.4. so can revert in master safely.

[2016-09-13 16:07] thockin commented on #32497
in that case, why not leave it and find the real fix?

On Tue, Sep 13, 2016 at 9:01 AM, Matthew Wong <notifications@github.com>
wrote:

[2016-09-13 16:13] quinton-hoole commented on #31180
Closing this tracking bug as the fix #31600 is in the merge queue.

[2016-09-13 16:19] quinton-hoole commented on #29243
I'm not aware of any problems building on golang v1.6.  Closing.  Please re-open if anyone is still having this problem.

[2016-09-13 16:19] #29243 closed

[2016-09-13 16:22] edevil commented on #32569
Disregard, this only happens when kubelet is run with kubelet-wrapper from CoreOS. Running kubelet directly correctly restarts the Docker daemon after the bridge changes.

[2016-09-13 16:22] #32569 closed

[2016-09-13 16:24] girishkalele commented on #30175
Applied the non-release-blocker label because this issue tracks the overall GKE continuous soak suite failures; all failures have issues tracking them individually.
As per @lavalamp, this issue gets a new attachment when there are more than the threshold of 3 failures in the suite, indicating a test-infra issue. However, there are no generic test-infra issues but rather the number of flakes found

[2016-09-13 16:26] girishkalele commented on #31085
This does't look like a failure in @MrHohn's new test, rather its a generic failure with serviceaccounts.

[code]

[2016-09-13 16:27] thockin commented on #30069
One month is a really short warning.  We missed this in the release shuffle, and now we're dead in the water.

@pwittrock v1.4
@fabioy @timstclair  v1.3

I need a volunteer to fall on this today.

[2016-09-13 16:34] MrHohn commented on #31085
@girishkalele Thanks for the investigation. Yeah I think it is the serviceaccounts issue. I wonder when could we close this flaky issue. Seems like it is stable if serviceaccounts issue is fixed.

[2016-09-13 16:35] derekmahar commented on #32432
https://github.com/kubernetes/kubernetes/issues/831 introduces the idea of a "container volume" which seems similar to the concept of a prepopulated volume.

[2016-09-13 16:39] wongma7 commented on #32497
It's slowing the tests & Jan thinks it is breaking this test https://github.com/kubernetes/kubernetes/issues/32492#issuecomment-246593831 . I'm inclined to agree looking at previous consequences of high resync period mentioned here https://github.com/kubernetes/kubernetes/pull/26414

anyway, Jan will have a better answer when he gets back

[2016-09-13 16:44] caesarxuchao commented on #32571
#31167 added a cache to prevent GC from sending GET requests about the same RC. But GC has 20 workers, they may simultaneously send the GET requests before the cache is populated. How many repeated requests are sent? If it's way more than 20, then something is wrong.

[2016-09-13 16:53] dims commented on #30069
@thockin I'll take this one

[2016-09-13 16:54] dims commented on #30069
oops looks like @piosz has the con

[2016-09-13 16:55] piosz commented on #30069
@dims go ahead, it's evening in my timezone. Please confirm that you are working on this.

[2016-09-13 16:55] piosz commented on #30069
cc @mikedanese @k8s-oncall

[2016-09-13 16:56] girishkalele commented on #32218
We are not going to track every independent external cloud provider resource in our quota management.

[2016-09-13 16:56] #32218 closed

[2016-09-13 16:58] zreigz commented on #32432
Yes sure I can prepare some proposition first. Any ideas or tips would be helpful.

[2016-09-13 16:59] zreigz commented on #32432
cc @cheld

[2016-09-13 17:00] girishkalele commented on #32178
@ravilr #29055 tracks this issue - we need to figure out what is a reasonably correct value for the dnsmasq cache size (the --cache-limit arg, which is currently hardcoded to 1000) and then find a safe and close memory and cpu resource limit for the dnsmasq container.

[2016-09-13 17:02] dachulin commented on #31983
@zreigz
Thanks for the fix. This is what we did manually to workaround so it should be good enough for us. It would be even better if you can clear the conntrack entry only for the affected entry, such as destination port, to minimizes the impact. Wondering if that possible?

[2016-09-13 17:03] girishkalele commented on #22823
@aliteff @javiercr Are you still seeing the same DNS issues with 1.3/1.4 as originally reported with 1.2 code ?

[2016-09-13 17:08] deads2k commented on #16779
This didn't make a priority cut as something we'll be actively working on in 1.5 (https://docs.google.com/document/d/1woLGRoONE3EBVx-wTb4pvp4CI7tmLZ6lS26VTbosLKM/edit#heading=h.ux2u8v8kqtz9 Sept 7, `Call for 1.5 Goals`).

I think this is more per-pod, than per-SA.

[2016-09-13 17:10] joan38 commented on #30495
As brand new guy on Kubernet I wanted to try out this and found this page:
http://kubernetes.io/docs/getting-started-guides/aws/
My first impression was whaaa, one command line and I should be up and running!
My seconde impression was this Kubernet thing is a big #$@&%*!
4 hours later I found this page and I'm now a bit more chilled.

Given this is a starter script and therefore mainly used by beg

[2016-09-13 17:14] girishkalele commented on #31085
You can close it with a reference to the serviceaccounts issue - do you know the # for that one ?

[2016-09-13 17:16] piosz commented on #30069
The package `google.golang.org/cloud` is available again.

[2016-09-13 17:17] dims commented on #30069
cool, gives us some time :) yes @piosz i'll take this

[2016-09-13 17:18] piosz commented on #30069
Thanks @dims!

[2016-09-13 17:23] k8s-merge-robot opened #32584 "[k8s.io] DNS should provide DNS for ExternalName services {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/15451/

Failed: [k8s.io] DNS should provide DNS for ExternalName services {Kubernetes e2e suite}

[code]

[2016-09-13 17:31] mtaufen commented on #32537
I just took a glance at the parser for eviction minimum reclaim, it doesn't look like it tries to parse percentages. @derekwaynecarr can you confirm?

[2016-09-13 17:36] huggsboson commented on #11816
I haven't tried it myself, but it was my (potentially mistaken) understanding it would be a small change to add a --client-ca-file parameter to kubelet and have it authorize access to only requests signed by the authorities there.  It sounded like all of the major plumping was done, it just needed to be activated.

In a follow up comment I'll cover what Box is doing to work around it.

[2016-09-13 17:39] mikedanese commented on #11816
That's what #31563 does

[2016-09-13 17:43] philips commented on #16779
@mikedanese What would better admission controller behavior be to you?

[2016-09-13 17:43] thockin commented on #32497
ACK, OK

On Tue, Sep 13, 2016 at 9:40 AM, Matthew Wong <notifications@github.com>
wrote:

[2016-09-13 17:45] kfox1111 commented on #16779
I can see it going either way. for some pods, I could see you not wanting a token on a non privileged container, and having a side car that has a token to do stuff on its behalf. But most of the time, you probably don't want any container in the pod to have one.

Maybe then a way to set the default mode on the pod, and then be able to override it per container?

[2016-09-13 17:45] huggsboson commented on #11816
Here is how box works around this issue.  Note that the downside of this approach is trying to exec/logs for a pod on the same machine won't work.

We first run a deamon set with stunnel in it to receive traffic on port 11250 which gets eventually forwarded to kubelet on 10250.

[code]

[code]

Then we apply the following iptables rule:
`-A PREROUTING -t nat -m tcp -p tcp --dport 10250 -j REDIRECT

[2016-09-13 17:49] mikedanese commented on #16779
@philips I had not sketched it out :) I just wanted to put it forward as a way of making a change while maintaining backwards compatibility. The current ServiceAccount admission controller adds a service account to all pods. Would a SystemNamespaceServiceAccount that only adds service accounts to pods in NamespaceSystem be useful?

[2016-09-13 17:50] justinsb commented on #29324
Testing against head now

[2016-09-13 18:02] piosz commented on #30069
It seems to be more complicated than I thought:
1. we need to fix https://github.com/google/cadvisor/issues/1410
2. we need to bump version of cadvisor in Kubernetes, because we include files which uses the old version of library `vendor/github.com/google/cadvisor/utils/cloudinfo/gce.go:24:    "google.golang.org/cloud/compute/metadata"`
3. we need to bump version of `golang.org/x/oauth2` because w

[2016-09-13 18:07] deads2k commented on #16779
It makes sense to allow service account tokens to mounted at the discretion of the project-editor (person creating pods and things that stamp out pods).  That person has the rights to see the SA token already, so he already has the power to use it.

Allowing it to be mounted into any pod means that he has the power to create pods that run controller-y things.

[2016-09-13 18:12] dims commented on #30069
@piosz yep. that's exactly what i saw as well.

[2016-09-13 18:14] dims commented on #30069
for point 1, ref https://github.com/google/cadvisor/blob/cf548f1b70cd95321d5cde118e2c5b9f729423a7/utils/cloudinfo/gce.go#L24

[2016-09-13 18:15] caesarxuchao commented on #32571
[code]

The results are between 1 to 20, so it's what we expected.

[2016-09-13 18:26] rmmh commented on #32574
Worker was rebooted and got a corrupted git tree. I'll add some automation to clean this up without manual intervention.

[2016-09-13 18:33] ncdc commented on #32215
cc @deads2k @kubernetes/sig-cluster-lifecycle @kubernetes/sig-api-machinery

[2016-09-13 18:36] yujuhong commented on #29579
I think we are going to attempt option (3) for v1.5  (@timstclair and someone from redhat? will work on this), but worst case we'll fall back to option (1). @smarterclayton, I don't think is option (1) is unacceptable, and we also have in-process docker integration to tie us over until we can implement other options.

@thockin, @dchen1107, correct me if I am wrong. We should finalize this for 1.5

[2016-09-13 18:43] chrisabrams commented on #29297
I am getting this error with `1.3.6` repeatedly. I was trying to use this setup: https://github.com/rosskukulinski/kubernetes-rethinkdb-cluster

I get the error when using any of the replica configs.

[2016-09-13 18:48] #31180 closed

[2016-09-13 18:50] mikedanese commented on #16779
Sure but that's possible today. Just don't enable the ServiceAccount admission controller and call it a day, right? I'm mostly concerned with making sure that the addon configs in cluster/addons still work with a new behavior that doesn't mount the service account into pods by default.

[2016-09-13 18:53] jlowdermilk commented on #32511
Also need to get rid of https://github.com/kubernetes/kubernetes/pull/30575/files#diff-1d71a2214070b0cf0548517780d0a98cR269. That line makes in impossible to specify arbitrary RUNTIME_CONFIG for test jobs, as it will be overwritten.

[2016-09-13 18:55] ivan4th commented on #29297
@chrisabrams would you please provide kubelet logs? Do you get FailedMount / FailedSync errors for pods?

[2016-09-13 18:57] chrisabrams commented on #29297
I sure do :/

[code]

[2016-09-13 19:01] wojtek-t commented on #32571
@caesarxuchao - why every worker can process the same thing? This seem strange to me...
@lavalamp - FYI

Anyway - the background of this issue is that deleting all pods in scalability tests in "enormous-cluster" suite, is significantly longer and tests are timing out there, because we are waaaay more than 2 requests per pod deletion on average.

[2016-09-13 19:03] ivan4th commented on #29297
Well, need to see your kubelet log to try and find out the cause.

[2016-09-13 19:08] jingxu97 commented on #29297
@chrisabrams, looks like your gce pd with name rethinkdb-storage-1 is not attached to the node. Could you please check whether in your cluster this pd is attached to the node  gke-rethinkdb-default-pool-daf0e492-yhc8

[2016-09-13 19:11] errordeveloper commented on #32370
No, I haven't got more then this right now.

On Mon, 12 Sep 2016, 22:49 Yu-Ju Hong, <notifications@github.com> wrote:

[2016-09-13 19:13] errordeveloper commented on #32370
What loglevel would give the info that would be more helpful to you?

On Tue, 13 Sep 2016, 20:11 Ilya Dmitrichenko, <errordeveloper@gmail.com>
wrote:

[2016-09-13 19:13] chrisabrams commented on #29297
@ivan4th @jingxu97 I tore down the cluster and made a new one. Here is what shows up in the logs for the pod:

Error from server: container "rethinkdb" in pod "rethinkdb-replica-1-128764155-0drio" is waiting to start: ContainerCreating
[code]
Name:		rethinkdb-replica-1-128764155-0drio
Namespace:	default
Node:		gke-rethinkdb-default-pool-46780ccc-9idb/10.240.0.5
Start Time:	Tue, 13 Sep 2016 15:08:5

[2016-09-13 19:17] jingxu97 commented on #29297
@chrisabrams Just want to double check, did you do this step?

This assumes you have created three persistent volumes in GKE: rethinkdb-storage-1 rethinkdb-storage-2 rethinkdb-storage-3

[2016-09-13 19:19] chrisabrams commented on #29297
Do you mean, did I create the persistent volumes? I thought that the config file did that? Does it not? How/where do I create the volumes then?

[2016-09-13 19:24] chrisabrams commented on #29297
@jingxu97 I read the docs again, and I see that it _does_ assume I made the storage :/ alright, I will look into that.

[2016-09-13 19:30] chrisabrams commented on #29297
@jingxu97 I created the disk, but I got a disk conflict error:

[code]

[2016-09-13 19:38] jingweno commented on #30495
1.3.7 still has this problem. Please fix it!

[2016-09-13 19:44] vishh opened #32595 "Network plugins do not work with upgraded version of container-vm"
Extracted from https://github.com/kubernetes/kubernetes/pull/32151

When using kube-up on GCE, following #31023 which moved the workers from debian to gci, CNI just isn't working. The root cause is basically as discussed in #28563: one flag (--network-plugin-dir) means two different things, and the configure-helper script uses it for the wrong purpose.

This needs to be fixed in v1.4.
#32151 is al

[2016-09-13 19:45] vishh commented on #32595
cc @pwittrock for tracking a release blocker.

[2016-09-13 19:49] vishh opened #32596 "Network throughput issues with latest version of container-vm"
The upgraded version of container-vm (gci) has significant performance regressions with localhost networking when compared to its previous versions.

@Amey-D is working on making gci kernel fixes to resolve this issue.

This issue is meant to track the GCI fix from release 1.4 perspective.

The fix for this issue will result in upgrading the gci version pinned to release 1.4 branch.

ETA: <TBD>
St

[2016-09-13 19:49] vishh commented on #32596
@Amey-D can you update the ETA for fixing this issue?

[2016-09-13 19:49] piosz commented on #31784
This is sponsored by sig-instrumentation, but should be done in coordination with sig-api-machinery because  it's mostly about touching the code owned by the latter one.

Regarding @DirectXMan12's comment HPA should care about API rather than implementation. Since the API is defined (in alpha version, though there is no plans to change it) and this is mostly implementation detail sig-autoscaling i

[2016-09-13 19:50] vishh commented on #32596
cc @pwittrock for release tracking purposes.

[2016-09-13 19:53] bprashanth commented on #32596
is this a release blocker (why?) or are we aiming for a minor release?

[2016-09-13 19:59] vishh commented on #32596
@bprashanth It is a blocker because it causes about 70% drop in throughput which is a significant regression from a k8s on GCP user perspective.

[2016-09-13 20:04] spxtr commented on #32570
They fixed their end for now, but it seems like we're not super happy with it.

[2016-09-13 20:04] #32570 closed

[2016-09-13 20:11] aveshagarwal commented on #28462
Please close this issue as similar issues (https://github.com/kubernetes/kubernetes/issues/30124, https://github.com/kubernetes/kubernetes/issues/30132)  have been closed  due to a known race, the details are here: https://github.com/kubernetes/kubernetes/issues/29633

[2016-09-13 20:12] aveshagarwal commented on #28065
Please close this issue as similar issues (#30124, #30132) have been closed due to a known race, the details are here: #29633

[2016-09-13 20:21] lavalamp commented on #32571
That sounds like something we should fix. The cache should wait for an
existing request to complete instead of sending multiple requests.

On Tue, Sep 13, 2016 at 9:44 AM, Chao Xu <notifications@github.com> wrote:

[2016-09-13 20:25] jingxu97 commented on #29297
@chrisabrams Could you delete the previous pods, and try to start over again? Make sure you first create the persistent disks, and create the rethinkdb-replica. Check each yaml file and make sure each replica uses a different disk name (pdName: rethinkdb-storage-1 or 2 or 3...)

[2016-09-13 20:28] chrisabrams commented on #29297
@jingxu97 I've spent the last hour trying to figure out how to create a persistent disk :/ I deleted everything and started again. The persistent disk shows up in the console under additional disks, but when I go to format the disk, it doesn't show up in the list of disks :(

[2016-09-13 20:29] chrisabrams commented on #29297
Here the disk exists: https://cloudup.com/cFU1KjfayWH

However, when I list the disks, it isn't there:

[code]

[2016-09-13 20:37] freehan opened #32600 "have a package to hold constants to avoid cross referencing"
There are some constants in kubelet and kube-proxy that refers to the same thing. For example:
https://github.com/kubernetes/kubernetes/blob/a57561b84dd436d92ae43805b63ac7bb23ae188c/pkg/kubelet/kubelet_network.go#L38
https://github.com/kubernetes/kubernetes/blob/65f3fa9caf79a5cae49ff893695c58ca63863ad1/pkg/proxy/iptables/proxier.go#L71
https://github.com/kubernetes/kubernetes/blob/57604d13cd7e9985

[2016-09-13 20:37] jingxu97 commented on #29297
@chrisabrams , normally I created disks with https://cloud.google.com/sdk/gcloud/reference/compute/disks/create

You don't need to format the disk, kubernetes will do that step for you.

[2016-09-13 20:39] pwittrock commented on #29904
@luxas By release-blocker, you mean we would push the release date out a week if necessary in order to get this in?

[2016-09-13 20:41] jingxu97 commented on #29297
Or go to Compute Engine web UI, you will see disks, click it, the web page will show a create disk button

[2016-09-13 20:43] mikedanese commented on #30075
Duplicate of #31561

[2016-09-13 20:43] #30075 closed

[2016-09-13 20:43] chrisabrams commented on #29297
@jingxu97 I used that step:

`gcloud compute disks create rethinkdb-storage-1 --size 200GB`

followed by:

`gcloud compute instances attach-disk [INSTANCE_NAME] --disk rethinkdb-storage-1`

Which leads to this again:

[code]

The pod definitely ran when I made the disk previously, but that NoDiskConflict error came up :/

Now if I make the disk, the pod can't start.

[2016-09-13 20:44] jeffvance commented on #23982
@saad-ali Can you close this issue? According to @screeley44 it has been addressed in refactoring work.

[2016-09-13 20:46] chrisabrams commented on #29297
@jingxu97 if I just run:

`gcloud compute disks create rethinkdb-storage-1 --size 200GB`

and then try to create the pod I get:

[code]

The pod runs, but it looks like it couldn't find the disk?

[2016-09-13 20:49] caesarxuchao commented on #32571
They are processing different pods who are created by the same RC.

Which test? I checked the density test several times and it's 2 requests per pod. In general, for large RC, the extra 1-20 GET is relatively trivial.

[2016-09-13 20:50] shamil commented on #32414
@timoreimann here is what I get from stats endpoint for one of the PODs  which has CPU usage stuck

[code]

[2016-09-13 20:54] dims commented on #30069
@timstclair indicated that he will up 1 and 2 from above https://github.com/google/cadvisor/pull/1454

[2016-09-13 21:00] shamil commented on #32414
Actually, I just did some load on that container. Saved the whole stats snapshot (`json`) before load and another one after load. Then used side by side diff, and the only thing  that changed were the `timestamp`s.

So it turns out, that all stats are stuck not just CPU...

[2016-09-13 21:00] csaintc opened #32603 "GKE cluster skyDNS stops functioning."
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): dns, skydns, dns not resolving

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- Hosted GKE cluster

**What happened**:
I created a new cluster with the `crea

[2016-09-13 21:00] luxas commented on #29904
No, would it do that if we're getting my PR in today or tomorrow?

[2016-09-13 21:01] jingxu97 commented on #29297
You only need to create disk with gcloud compute disk create, you don't need to attach disk, kubernetes will do that step for you. Here are some steps I suggest
1. Clean up all disks and pods (make sure you delete everything)
https://cloud.google.com/sdk/gcloud/reference/compute/disks/delete (you can check with gcloud compute disks list to see whether they are deleted or not).
Make sure no pods ar

[2016-09-13 21:04] chrisabrams commented on #29297
@jingxu97 I am using [this yaml file](https://github.com/rosskukulinski/kubernetes-rethinkdb-cluster/blob/master/rethinkdb-replica.1.yml).

Here are the results; did the disk mount?

[code]

[2016-09-13 21:18] #23982 closed

[2016-09-13 21:20] k8s-merge-robot opened #32605 "merge robot should not file bugs on tests that only exist within a PR"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32160/kubernetes-pull-build-test-e2e-gce/58668/

Failed: [k8s.io] DisruptionController evictions: enough pods, absolute => should allow an eviction {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #32160.

[2016-09-13 21:20] jingxu97 commented on #29297
If you use kubectl describe the pod, what is the status? If the status is running, then the volume is mounted fine.

[2016-09-13 21:27] smarterclayton opened #32606 "kubeconfig lock files change behavior of KUBECONFIG"
Previously, if KUBECONFIG pointed to an empty directory that you don't have permission to write to, config would safely ignore that directory in its load path.  Now, the lock file raises a permission denied error which prevents normal operations from passing.

To recreate:

[code]

This is a regression and causes old clients to break when they upgrade to 1.4 - if you had a KUBECONFIG before that p

[2016-09-13 21:28] smarterclayton commented on #32606
I put this at p1 because it's right on the bar of a very serious regression (it could break existing automation people have around kubectl in unpredictable ways).  Needs a decision about being in 1.4 or 1.4.x (i'd suggest 1.4.1)

@kubernetes/kubectl @mikedanese

[2016-09-13 21:29] freehan opened #32607 "Expand the e2e framework to allow running "side car" tests"
The current e2e framework allows one to add test cases to run at some point during the e2e run.

I want to run something like a "side car" test, which runs periodically along with other e2e tests. If it failed at some point, then log it fail during "what e2e tests are running" and "what e2e tests have finished" at that point.

Side car tests are useful for ensuring firewall configuration, network

[2016-09-13 21:32] fabioy commented on #32036
The test breakages seem to be around the time when GKE test had issues with Spanner. They seem to be ok for the past few days. I'm going to close this issue for now -- I'm assuming it'll get reactivated or a new one created if it starts happening again.

[2016-09-13 21:32] #32036 closed

[2016-09-13 21:33] smarterclayton commented on #32606
I would have caught this sooner but we didn't include this in OpenShift 1.3.

[2016-09-13 21:34] fejta commented on #32436
exit code 28 is no space left on device

[2016-09-13 21:34] smarterclayton commented on #32606
Since this was in 1.3 we've probably broken anyone on 1.3 or later (and they've adapted) - I'd still like to fix it in 1.4.x so that we can avoid anyone coming from 1.2 (we have a number of folks on 1.2 with growing automation).

[2016-09-13 21:35] freehan commented on #32607
cc: @matchstick @thockin

[2016-09-13 21:39] Amey-D commented on #32596
The kernel fix should get merged in GCI kernel today, and hopefully we will be able to release a GCI version tomorrow that includes the fix.

[2016-09-13 21:40] fabioy commented on #32345
Big set of failures on 9/10 seem to be around the time when GKE test had issues with Spanner. The breakages today were due to #32547, which got reverted in #32591. A GKE fix is being readied that should fix that, so the original PR can be re-merged.

This bug is getting to be too long/unwieldy to scroll. Unless other actionable items come up, I'm going to close it soon and let a new one pop up if

[2016-09-13 21:43] pwittrock commented on #32516
@mtaufen Can we close this?

[2016-09-13 21:48] pwittrock commented on #29629
@janetkuo FYI

[2016-09-13 21:51] madhusudancs commented on #28615
Federation tests are failing because of a clientcmd bug. PR is in works - https://github.com/kubernetes/kubernetes/pull/32438#issuecomment-246170373. This is a release blocker. We will track it using this umbrella issue to ensure all federation tests pass before release. I will provide daily updates.

cc @quinton-hoole @nikhiljindal @pwittrock

[2016-09-13 21:52] bprashanth commented on #32596
Hmm, I somehow fail to see why a kubernetes release needs to be blocked on a bug fix going into one os the kubernetes release is being deployed on top of, but that's just my opinion

[2016-09-13 21:53] chrislovecnm commented on #30706
@dchen1107 so here are some thoughts

1. don't want to run GCI quite yet, till it is burned in more on EC2
2. don't want to really maintain custom patches, unless someone can say, you have to have this.  No choice.
3. kinda leaning toward using vanilla LTS kernel

Opinion?

[2016-09-13 21:53] mml commented on #32605
Haha... the robot is filing flake bugs on tests that aren't even checked in yet.

[2016-09-13 22:00] coufon commented on #31143
We already support different QPS limits in node-e2e-density test, see this PR: https://github.com/kubernetes/kubernetes/pull/32250

[2016-09-13 22:01] #31143 closed

[2016-09-13 22:07] timoreimann commented on #32414
@shamil I suppose you meant to mention @timstclair instead of me. :-)

[2016-09-13 22:11] coffeepac commented on #30709
@dcowden I'm getting started on solving this problem now as well.  are you planning on open sourcing your work in any way?  I'm happy to contribute to what you're up to so we can start building a practical consensus on this.

[2016-09-13 22:17] dcowden commented on #30709
Hi @coffeepac
Embarassingly I have nothing useful to share code-wise at this point, though I"m happy to share anything I make.

Right now, my efforts have been isolated to designing our way of working to be consistent with what k8s will do. So for example, I have created a bunch of base docker images that intentionally send logs to a "/logs" volume in the container, which i presume will later be a

[2016-09-13 22:18] ixdy commented on #32343
9258 - failed teardown, leaked resources
9411 - one of the nodes failed to start

[2016-09-13 22:18] grobie opened #32610 "Export kubelet metrics about node and scheduling status"
**Kubernetes version** (use `kubectl version`):
v1.3.5

**Use cases**
As an operator,
In order to filter metrics by node status and scheduling status,
I need metrics exporting the state of these attributes.

As an operator,
in order to write scripts depending on the state of ready and scheduling,
I need a way to query these information from the same host (ideally without going to the API server fi

[2016-09-13 22:19] chrisabrams commented on #29297
@jingxu97 I believe that everything is working. What through me off was:

When you create a persistent disk via the CLI, it tells you that you need to format the disk, and provides a link for you.

Thanks a bunch for the help; I learned a lot!

[2016-09-13 22:23] watkinsv-hp commented on #30854
I had the same issue and going from client version 1.2.5 to 1.3.4 did the trick.

[2016-09-13 22:37] saad-ali commented on #29297
@jingxu97 thanks for helping @chrisabrams with this.

@chrisabrams In the future please post support questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to freque

[2016-09-13 22:40] coffeepac commented on #30709
@dcowden nothing to be embarrassed about!  glad you're open to sharing.

I spent a bunch of time walking through the discussions and am also trying to design something that will fit cleanly into what future k8s logging looks like.  All I have is a janky diagram with a couple of data streams ending in question marks.  And some streams that are probably wrong.

I'm picking up a bunch of legacy apps

[2016-09-13 22:42] thockin commented on #29579
That sounds good.  We can simply timebox a proof-of-concept, and if that doesn't seem on-track, fall back on (1) which seems easiest.

[2016-09-13 22:44] quinton-hoole commented on #32366
This broke the multizone (federation-lite) tests too:

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-multizone/3158

I deleted the dangling disk, and that unbroke the test, at least temporarily.

[2016-09-13 22:45] dcowden opened #32616 "Support interpolating secrets into configMaps?"
I understand the intent difference between secrets and configMaps.

We are porting older applications to k8s, and in many cases, the concerns of configMaps and secrets are intertwined into a single file or even a single line in a file.

For example, consider this jdbc configuration url::

    jdbc.url=our.database;1433;database=dbname;username={{ dbuser}};password={{ db_pass}}

Today, this file is

[2016-09-13 22:46] davidopp commented on #32610
Why? There is a lot of information a monitoring system might want that we don't want to have to push down to the Kubelet. I think a proper monitoring system is going to pull from the API server.

[2016-09-13 22:46] quinton-hoole commented on #32366
I've added a v1.4 release blocker label to this, as I don't think that we can release without fixing it and demonstrating that e2e tests are passing consistently.

cc: @pwittrock FYI.

[2016-09-13 22:49] dcowden commented on #30709
@coffeepac We plan to install splunk UF on each k8s node, and write/configure splunk inputs to read the metadata and the log files from the local node.  We _think_ it is possible to configure splunk to do this, but I have not researched the details: i'm kind of hoping its possible without writing and/or running another daemon on the k8s nodes.

The main consideration so far that's turned out to be

[2016-09-13 22:55] vishh commented on #32596
I get your point of view. But, k8s on GCE cannot have serious user-facing
issues. The distro is just an implementation detail, but an important one.
If we include first-class support for additional distros like ubuntu,
debian, etc. in the future, we will have to make the very same priority
calls.
At the end of the day, the release needs to work for most users in most
environments.

On Tue, Sep 13,

[2016-09-13 22:59] vishh commented on #30709
A kubelet change is needed to expose additional metadata for logs. As
mentioned earlier, kubelet should be dumping Pod object into appropriate
pod logs directory - `/var/log/pods/<pod_uid>/.metadata`

On Tue, Sep 13, 2016 at 3:50 PM, Dave Cowden <notifications@github.com>
wrote:

[2016-09-13 23:00] coffeepac commented on #30709
@dcowden I've got a multi-container aggregator pod approach going as well.  Kafka is the first port of call for these logs so I have more flexibility to use something other then splunk UF.  I think I'm going to have a pod with three containers that runs as a daemon set:
 - log enricher (applies the metadata to each log event (what is an event, ie: stacktraces))
 - log shipper (splunk UF analog.  w

[2016-09-13 23:12] emaildanwilson opened #32618 "new feature: create a watch event when kubectl exec is started & completed"
I'd like to be able to initialize a watch api call that will collect pods that have been modified using kubectl exec. The existing watch endpoint for pods works just fine except that MODIFIED events are not published when the container/pod is modified by a kubectl exec.

I propose that we publish two events so that plugins can be written to capture/handle when this happens.

When a call to the exe

[2016-09-13 23:15] grobie commented on #32610
Sure, I didn't want to say that metrics not available to the kubelet should be pushed down, but these two states are already available to the kubelet, aren't they? Making the API server the only source for metrics creates a bottleneck and risks losing visibility during outages.

We had a similar discussion recently about where to export deployment information and my takeaway was that the best plac

[2016-09-13 23:17] bprashanth commented on #28706
what if we decoupled identity sync from upgrade?
* the petset will sync identity, always, that's its job. Eg: if you modify the pod annotations so it gets a different hostname, of disconnect the PVC from pet-0, the petset controller fixes this.
* Image is not part of identity, nor are secrets, extra hostpath volumes etc.
* If you don't care about how image upgrade works, use `kubectl rolling-updat

[2016-09-13 23:23] ixdy commented on #32366
It looks like a bug in the teardown step. It should be deleting the preexisting disk.

[2016-09-13 23:38] ixdy commented on #32366
I think I found the bug.

We look for disks machine the replica name during teardown (https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L1185-L1192), but we get the replica name by looking at running instances (https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L1321-L1327). So if the pd has been stranded, we won't delete it.

[2016-09-13 23:39] ixdy commented on #32366
Bug introduced in #29995. cc @jszczepkowski @zmerlynn @wojtek-t

[2016-09-13 23:39] grobie commented on #32610
Actually looking at all the node conditions, I think we should export the state of all of them. Maybe like this:

[code]

[2016-09-13 23:42] #28563 closed

[2016-09-13 23:42] saad-ali commented on #32492
You can find a link to the test run log [here](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/8691)--click on `build_log.txt`. The `artifacts` link there will have all the node logs.

The kube-controller-manager logs during the test run are here: https://gist.github.com/saad-ali/8a72a9d2d25a7a7cd2d55f55553afed3
Filtered to the following timestamps:
[code]

[2016-09-13 23:45] thockin commented on #9125
That looks really cool.  How do we use it?  Do we want to deploy it as a
standalone thing, or are there parts of it that make sense to be part of
kube-proxy?

On Mon, Sep 12, 2016 at 12:24 PM, Dongyi Yang <notifications@github.com>
wrote:

[2016-09-13 23:46] coffeepac commented on #30709
@vishh I think we are both planning on using the downward API to land the .metadata file manually.  I know I am. I look forward to the kubelet providing this for free but I can't wait.

[2016-09-13 23:53] dcowden commented on #30709
+1

[2016-09-13 23:55] quinton-hoole commented on #32366
Thanks @ixdy!  Awesome debugging!

[2016-09-13 23:59] dchen1107 commented on #30597
Close this one since it hasn't happened for a while. And there are two more related issues opened and actively looked by node team. Thanks!

[2016-09-13 23:59] #30597 closed

[2016-09-14 00:10] dchen1107 commented on #32433
After partial revert of https://github.com/kubernetes/kubernetes/pull/32514/files, the flakiness is only occurred on gci node (last two failures). This should be non-blocker for 1.4 release. But still treat it as P0 for enabling GCI.

[2016-09-14 00:11] k8s-merge-robot opened #32621 "[k8s.io] EmptyDir volumes when FSGroup is specified [Feature:FSGroup] files with FSGroup ownership should support (root,0644,tmpfs) {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32160/node-pull-build-e2e-test/24078/

Failed: [k8s.io] EmptyDir volumes when FSGroup is specified [Feature:FSGroup] files with FSGroup ownership should support (root,0644,tmpfs) {E2eNode Suite}

[code]

Happened on a presubmit run in #32160.

[2016-09-14 00:17] dchen1107 commented on #32516
Yes, cherrypick pr: https://github.com/kubernetes/kubernetes/pull/32583 Thanks @eparis Close this.

[2016-09-14 00:17] #32516 closed

[2016-09-14 00:27] caseydavenport opened #32625 "Calico / NetworkPolicy broken in GCE provider"
https://github.com/kubernetes/kubernetes/pull/31023#issuecomment-246860748 broke the salt-based Calico install in the GCE kube-up deployments, since the GCI image doesn't use salt and instead relies on cloud-config.

e.g

[code]

which used to work, doesn't any more.

This should be fixed when the Calico self-hosted installation PR https://github.com/kubernetes/kubernetes/pull/30598/files hits, wh

[2016-09-14 00:32] thockin commented on #32625
For GCI: Was a full audit of the salt logic done?  How did this get missed?

For Calico: Users should be able to not use GCI (@vishh can you post details here?)

[2016-09-14 00:55] asalkeld commented on #32216
Not sure what is remaining after c39f5681b75d5a0e19d0958ebc7c84b946cadd27

[2016-09-14 01:02] derekwaynecarr commented on #32537
@ronnielai did percentage support, and we did not extend it to min
reclaim.  It's a good idea to do though.

On Tuesday, September 13, 2016, Michael Taufen <notifications@github.com>
wrote:

[2016-09-14 01:05] derekwaynecarr commented on #32468
The GPU thing seems like a bug IMHO pod qos should only look at CPU and
Memory today.

On Monday, September 12, 2016, Connor Doyle <notifications@github.com>
wrote:

[2016-09-14 01:07] nikhiljindal opened #32629 "federation: kubectl describe ns fails"
`kubectl get ns myns --context=federation-cluster` returns:
[code]

The issues is that it calls `/api/v1/namespaces/spark-cluster/resourcequotas` which doesnt exist on federation-apiserver.

cc @kubernetes/sig-cluster-federation

[2016-09-14 01:08] preflightsiren commented on #20786
throwing in my 2c for my future self if I hit this issue again.
with Kube 1.3.4 and Docker version
[code]

the value of the base64 block needs to be of the form:
[code]

[2016-09-14 01:10] derekwaynecarr commented on #32468
I think GPU support is also alpha now so it's not surprising that it may
have been overlooked.

I sometimes wonder if we are overloading QoS in our discussions.   The
decision to unify QOS on a unified model was to align with the direction of
cgroups.  We used to have per resource QOS and moved away from that so we
could have a unified model.

For the topics you are discussing, are these resources

[2016-09-14 01:11] asalkeld commented on #32192
If #30847 fixes the problem can we close this issue?

[2016-09-14 01:11] justinsb opened #32630 "AWS: Problem recovering from bad mount"
We had an error with a failed attach (in AWS), and I manually detached it.

But the AWS cloudprovider did not recover; it failed to recognize that the volume was already detached.

From KCM:

[code]

[2016-09-14 01:12] smarterclayton commented on #29579
Has anyone actually looked at 1?  The overhead of that seems high for small messages, plus the addition of a hop.  I'd be a little cautious about saying it's easiest unless we've actually looked at the code on both ends.   Last I saw gRPC wasn't much more efficient than HTTP - has that improved?

[2016-09-14 01:12] nikhiljindal commented on #32629
Possible fixes:

1. Add resource quotas to federation-apiserver
2. Update kubectl to return the information it did get. So it returns information about myns, just that resource quota information is missing.
3. As part of API machinery, we have discussed moving describe and other "printers" to the server. If we do that, then federation apiserver can have its own implementation without resource quot

[2016-09-14 01:21] xiaoping378 commented on #32192
fixed by #30847

[2016-09-14 01:21] #32192 closed

[2016-09-14 01:57] yujuhong opened #32634 "Adding tests to verify image pulling by digest in the node e2e suite"
Forked from discussions in #32624. We don't have tests to verifying image pulling by digests, and we should.

@smarterclayton: "Yeah, we would need to push an image in v1 schema format (from docker 1.9
or a docker 1.10 system with Red Hat's --use-schema2-push patch) to the
registry.  I don't know whether GCR supports the legacy support behavior or
not (I'm assuming it does)."

[2016-09-14 02:17] smarterclayton commented on #28706
Tried to brainstorm some of this today, some notes:

* If we can guarantee storage locking is correct (if all storage formats either use an innate lock, or use the PV labels as locks and aren't broken by other controllers) then neither pet sets nor RCs need to do anything special to get pods to be "safe" in the presence of splits.
  * I.e., either proposed local PV or an NFS PV, if "attached" to a

[2016-09-14 02:25] smarterclayton commented on #9125
The one thing the kube-proxy has that is valuable to this is the endpoint
metadata - being able to reuse that when tagging the information allows us
to track which UID of a petset is taking traffic (not just that it's part
of a petset) and potentially also leverage annotation data in the future.

On Tue, Sep 13, 2016 at 7:45 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-09-14 02:36] smarterclayton commented on #28706
I was looking for a good ansible / pacemaker example for DBs but haven't found one that I consider "something I would really trust".  Will keep digging (although I really recommend people read the [pacemaker docs](http://clusterlabs.org/doc/en-US/Pacemaker/1.1-pcs/html/Pacemaker_Explained/_types_of_pacemaker_clusters.html#idm140521693868624) - they're excellent at explaining the expected mechanics

[2016-09-14 02:39] grobie commented on #32326
At SoundCloud we work around the problem by using an extra exporter which exports all pod labels in a separate metric and we then join these together in our queries. This is similar to the approach described in @brian-brazil's blog post about [machine role labels](http://www.robustperception.io/how-to-have-labels-for-machine-roles/). Exporting a lot labels per metric makes it more difficult to wor

[2016-09-14 02:39] smarterclayton commented on #28706
Ah, found it for postgres: http://clusterlabs.org/wiki/PgSQL_Replicated_Cluster

[2016-09-14 02:41] dims commented on #30069
@mikedanese @timstclair @dchen1107 @saad-ali https://github.com/kubernetes/kubernetes/pull/32592 should be ready shortly as well (just rebased on Tim's PR)

[2016-09-14 02:45] liggitt commented on #16779
Normal namespace editors don't have control over the cluster wide admission chain. Adjusting the existing admission controller's behavior based on a field on the incoming pod spec would make sense to me.

[2016-09-14 03:02] caseydavenport commented on #32625
@vishh If there's a way to run using debian that would be great.  I know @matthewdupre spent a bit of time a a couple of months ago trying to get that to work, but wasn't able to find the right incantation to actually make it work.

[2016-09-14 03:06] DongyiYang commented on #9125
Right now it is deployed as daemonset in a Kubernetes cluster. You can find deploy instruction for different scenarios [here](https://github.com/DongyiYang/k8sconnection/tree/master/deploy). I think there are a lot can be integrated with kube-proxy, such as the collecting and exposing network metrics .

[2016-09-14 03:12] grobie opened #32638 "Clarify desired cAdvisor integration in kubelet"
**Kubernetes version** (use `kubectl version`):
v1.3.5

**Current state**:
The kubelet exports cadvisor metrics and kubelet metrics under `/metrics` on both the API port as well as on the cAdvisor port. This the result of both kubelet and cadvisor using the global Prometheus metrics registry.

**Effect**:
It's not possible to disable cAdvsior metrics being exported by the kubelet. The use case is

[2016-09-14 03:15] k8s-merge-robot opened #32639 "[k8s.io] DisruptionController evictions: too few pods, absolute => should not allow an eviction {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/23365/

Failed: [k8s.io] DisruptionController evictions: too few pods, absolute => should not allow an eviction {Kubernetes e2e suite}

[code]

[2016-09-14 04:03] thockin commented on #9125
I want to have something by default in kube-proxy, even if it is basic.

On Tue, Sep 13, 2016 at 8:07 PM, Dongyi Yang <notifications@github.com>
wrote:

[2016-09-14 04:13] thockin commented on #29579
It's not about efficiency to get to alpha - it's about proving that the
overall model works.  We should not block 97 APIs because 3 of them are
imperfect.

On Tue, Sep 13, 2016 at 6:12 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-14 04:36] k8s-merge-robot opened #32641 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16981/

Run so broken it didn't make JUnit output!

[2016-09-14 04:36] k8s-merge-robot opened #32642 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6437/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}

[code]

Previous issues for this test: #27406 #27669 #29770

[2016-09-14 04:39] davidopp commented on #32326
IIUC this is the approach @vishh has advocated as well, particularly as part of the work for #18770.

[2016-09-14 04:45] smarterclayton commented on #29579
Attach is irrelevant - exec and port forward are important tools.  There's
a really big difference between using them in production (which we have
people doing) and ​adding a) a brand new buggy implementation and b) making
it inefficient and c) adding an extra hop to it.  To an alpha release that
is just a test - sure.  But that alpha release isn't something I'd use in a
real environment, so it se

[2016-09-14 04:54] feiskyer commented on #29579
Agree with @thockin. Need a POC of option(3) first before making a final decision (even for the alpha API).

[2016-09-14 05:00] feiskyer commented on #30709
@tmrts Is there any progress on this? Looking forward to the proposal.

[2016-09-14 05:19] zreigz commented on #31983
I wanted do it like you mentioned but unfortunately conntract command doesn't give that possibilities. In parameters you can only pass the source and destination IP addresses.

[2016-09-14 05:27] k8s-merge-robot opened #32644 "[k8s.io] DisruptionController evictions: enough pods, replicaSet, percentage => should allow an eviction {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32643/kubernetes-pull-build-test-e2e-gce/58756/

Failed: [k8s.io] DisruptionController evictions: enough pods, replicaSet, percentage => should allow an eviction {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #32643.

[2016-09-14 05:31] liggitt commented on #32220
the alreadyexists error occurs after the name field is populated with a generated name, so returning in that case makes this entire function a no-op in every case I can find. I just think inferring a ServerTimeout error from an AlreadyExists error and the presence of GenerateName is really odd

[2016-09-14 06:05] brian-brazil commented on #32326
http://www.robustperception.io/exposing-the-software-version-to-prometheus/ is a slightly more relevant version of that blog post.

[2016-09-14 06:38] wojtek-t commented on #32571
@caesarxuchao - as I wrote above, this problem comes from "enormous-cluster" suite (which seems to behave slightly different than large kubemark suites, which I don't yet fully understand).

Also, we timedout also on density test, which basically has only one large RC. I will try to look into logs to see if it was because of the same reason.

[2016-09-14 06:42] k8s-merge-robot opened #32646 "[k8s.io] DisruptionController evictions: no PDB => should allow an eviction {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30701/kubernetes-pull-build-test-e2e-gce/58760/

Failed: [k8s.io] DisruptionController evictions: no PDB => should allow an eviction {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #30701.

[2016-09-14 06:44] nhlfr opened #32647 "Allow running other etcd instances in containers (with their netns)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): bo

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): etcd

**What happened**:
1. I ran etcd in container, without binding its ports to the

[2016-09-14 07:13] noname85 commented on #31222
@ptinsley
- Its changing after deployments? or behaves randomly when deployed ? eg: Once deploys to the proper path other don't

[2016-09-14 07:29] wojtek-t commented on #32571
Hmm - unfortunately due to log rotation, we don't have logs from that run. The end of logs seem to suggest that GC was doing exactly the right thing. @gmarek - FYI

[2016-09-14 08:03] jsafrane commented on #32497
I'd love to have it fixed properly in shared informers, but these parts are fragile and I failed miserably when I tried to fix a bug there.

[2016-09-14 08:13] xinxiaogang opened #32653 "Can not pull gcr.io/google_containers/kube-registry-proxy:0.3"
**What happened**:
We use `--disable-legacy-registry=true` as an option of docker deamon in our kubernetes cluster:

[code]

During kubernetes build, we got this error message:

[code]

It seems that image `gcr.io/google_containers/kube-registry-proxy:0.3` is missing from v2.

Can anyone push this image to v2?

[2016-09-14 08:15] gregory90 commented on #28370
@maverick-racheal did you manage to resolve this issue?

[2016-09-14 09:00] AdoHe commented on #32629
@kubernetes/kubectl

[2016-09-14 09:07] soltysh commented on #32567
I can't recall any discussion. But if you have a look at our controllers, as you've mentioned, they just count the active pods, ignoring everything else. That seems perfectly valid argument for me. I wonder if the GC will pick such "terminating pods not terminating" (@caesarxuchao might know that) or eventually should we provide users with a tool to force kill those. Although the latter should be

[2016-09-14 09:12] davidopp commented on #25320
Figure out what to do with NodeStatus.NodeSpec "unschedulable" field

[2016-09-14 09:20] brancz commented on #32610
@grobie We are actually working on getting a release out for [kubernetes/kube-state-metrics](https://github.com/kubernetes/kube-state-metrics). It exports most of the states you are looking for, and we have planned to add all of them.

Arguably, some metrics exposed about nodes overlap with those for example exported by the node exporter. Your argument about the API server becoming a bottleneck is

[2016-09-14 09:23] davidopp commented on #32610
`kubelet_node_status_schedulable` is really the only one I was reacting to; sorry for making it sound overly broad. And I had forgotten that we have `NodeSpec.Unschedulable`, which I assume is what you're referring to here? I now remember that we decided to push unschedulable down to kubelet even though it doesn't need it; I think it was just for UX purposes, so someone could see it along with the

[2016-09-14 09:50] mdshuai opened #32657 "[ContainerGC]maximum-dead-containers-per-container can't remove the containers in one pod with different name"
**Kubernetes version** (use `kubectl version`):
v1.5.0-alpha.0.756+61ba82c6379eca-dirty

**What happened**:
When set maximum-dead-containers-per-container for kubelet, ContainerGC can't remove containers in one pod because all container in one pod with different name can't be a evictUnit.

**How to reproduce it** (as minimally and precisely as possible):
1. Configure containerGC parameters for kub

[2016-09-14 09:52] mdshuai commented on #32657
@derekwaynecarr help check if my understand is wrong, thanks

[2016-09-14 11:05] tongpu commented on #28718
@smarterclayton I think your described approach towards what Pet Sets should provide is a wise choice. In my opinion Kubernetes Pet Sets should just provide a framework for init/bootstrap containers to collect information about expected other members in the cluster, and all the heavy lifting should still be kept for the cluster frameworks to work out.

[2016-09-14 11:25] javiercr commented on #22823
@girishkalele not anymore :)

[2016-09-14 11:28] soltysh commented on #32511
@jlowdermilk I'm all for it, but atm this is the only valid option to enable batch/v2alpha1 to be available for e2e.

[2016-09-14 11:38] soltysh opened #32661 "Remove batch/v2alpha1 enablement from the codebase"
Currently to enable `batch/v2alpha1` support I've hard-coded this in several places:
- https://github.com/kubernetes/kubernetes/blob/75e09a892f075a35a627d3eca2a8c4a87c34f77c/hack/e2e.go#L265
- https://github.com/kubernetes/kubernetes/blob/75e09a892f075a35a627d3eca2a8c4a87c34f77c/cmd/kube-apiserver/app/server.go#L151
- https://github.com/kubernetes/kubernetes/blob/75e09a892f075a35a627d3eca2a8c4a87c

[2016-09-14 11:41] jimmidyson commented on #32638
There is an outstanding discussion to run cadvisor standalone rather than embedded - see #18770 for discussion. I personally support that idea.

I think if we decide & work on that direction then your questions become less relevant but for now:

We could, as long as that only means removing metrics from /metrics & not affecting metrics API for autoscaling.

No I don't think we do. This is a legacy

[2016-09-14 11:43] jimmidyson commented on #32326
@grobie @brian-brazil Although we're using Prometheus' exposition format, we do have to make sure that any decisions we make around labelling don't restrict/negatively affect other consumers. If this was a Prometheus only decision then I would 100% agree with you though.

[2016-09-14 11:47] soltysh commented on #32511
Spawned #32661 for removing explicit `batch/v2alpha1` calls from k8s codebase. The main part of this issue was fixed in #32582. Closing.

[2016-09-14 11:47] #32511 closed

[2016-09-14 11:49] deads2k commented on #32467
@pmorie volume mounting and I immediately think of you.

[2016-09-14 12:19] wojtek-t commented on #29897
Kubemark is now enabled by default in-presubmit.

Once we are sure that this isn't flaky in presubmit, we will start blocking on it.

[2016-09-14 12:22] gmarek commented on #32571
I guess the fix here would be to add an information about object that's getting deleted and triggered cascade to the event, and then don't for this object at all, as we know it's getting deleted. It's a small optimization, but it should help with the most common case.

[2016-09-14 12:34] m1093782566 commented on #30629
@deads2k @derekwaynecarr

The first PR for fixing certificate controller is #32664, PTAL.

I will open other PRs later.

[2016-09-14 13:01] runcom commented on #7203
any movement on this one? is there a consensus to have a `kind` field to express which kind of image are we dealing with?

I'm asking because the Container Runtime Interface (https://github.com/kubernetes/kubernetes/issues/17048) just receives an anonymous `ImageSpec` which defaults to be a docker image - with docker image I'm saying _docker image reference `host[:port]/namespace/name[:tag|@digest

[2016-09-14 13:02] zreigz commented on #32432
I have prepared very simple solution. I've tested it and works well. This is my proposal:

Creating ConfigMap
  - binary file is recognized and encoded to base64

Consuming ConfigMap via volume plugin
  - checks if data payload is in base64

       yes: checks if it is binary format and return decoded binary data
       no: return original content (string)

I've created my branch for it: https://g

[2016-09-14 13:05] liggitt commented on #32432
how do you tell the difference between binary data and a string that happens to fit the base64 alphabet?

[2016-09-14 13:22] rootfs commented on #32543
For volumes that are able to manage credentials and endpoints without looking up them up, the proposed APIs should work.

For volumes that want to access or create secret, endpoint, or service, it is unclear how the proposed API can support them.

[2016-09-14 13:29] enlinxu commented on #9125
@thockin That makes a lot of sense. Our end goal is to expose metrics by default in kube-proxy for pure iptable mode. Dongyi is presenting this standalone poller per your request above:
"It might be interesting to write up the stats poller as a standalone
program just so we can measure it and see the stats it can produce, before
integrating it with kube-proxy.  Or maybe that's just too much work a

[2016-09-14 13:31] k8s-merge-robot opened #32668 "[k8s.io] DisruptionController evictions: too few pods, replicaSet, percentage => should not allow an eviction {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32203/kubernetes-pull-build-test-e2e-gce/58808/

Failed: [k8s.io] DisruptionController evictions: too few pods, replicaSet, percentage => should not allow an eviction {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #32203.

[2016-09-14 13:34] dshulyak commented on #30082
Thanks, you are right. So this issue is about writing additional e2e test cases. I will work on it

[2016-09-14 14:05] k8s-merge-robot opened #32669 "install_gcloud {PRE-SETUP}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/8604/

Failed: install_gcloud {PRE-SETUP}

[code]

[2016-09-14 14:07] timothysc commented on #30025
I've been waiting on etcd3 and clientv3 before un-fudging the namespace delete code.

/cc @derekwaynecarr

[2016-09-14 14:09] timothysc commented on #30629
/cc @rrati

[2016-09-14 14:18] timothysc commented on #30688
We should use this as catch all to clean some of the perf issues we saw in review.

[2016-09-14 14:20] deads2k commented on #16779
The SA admission plugin also adds image pull secrets and limits secret mounting. You can't disable it without losing those abilities.

[2016-09-14 14:30] pmorie commented on #32616
This is similar to functionality that has been asked for recently a number of times; please see #30716

[2016-09-14 14:31] derekmahar commented on #32432
@liggitt Seems @zreigz introduced a package `binarycontent` that contains a function `IsBinaryData(data []byte)` and a table `binaryFlags` that implements the magic algorithm in http://tools.ietf.org/html/draft-abarth-mime-sniff-06#page-8.  However, I'll admit that I neither understand the algorithm nor how the table implements the algorithm.  Seems very clever if it works.

[2016-09-14 14:33] zreigz commented on #32432
In binary data you always have at least one zero (null) byte. I use more efficient way to recognize binary data which is also used in webkit engine: https://github.com/zreigz/kubernetes/commit/d9675c70ed6af53ae7eba771eae37eaa8a745674#diff-eac69e1e373abb6a3689e446c249beb8R40

I do this checks twice. First when I save data to configmap and second when mount file from configmat. When it is not binary

[2016-09-14 14:35] liggitt commented on #32432
You can recognize it on the way in, but binary content encoded as a base64 string is indistinguishable from a literal string that happens to be a base64 encoding of a binary value.

[2016-09-14 14:35] pmorie commented on #26299
I'd like to get this into 1.5.

[2016-09-14 14:40] theothermike opened #32672 "Quoted YAML required when none needed"
**Is this a request for help?**

no

**What keywords did you search in Kubernetes issues before filing this one?**
## yaml quote quotes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version** (use `kubectl version`): 1.3.6

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release): Alpine Linux 3.4.0
- **Kernel** (e.g. `un

[2016-09-14 14:42] derekmahar commented on #32432
@liggitt Is `base64.StdEncoding.DecodeString(data)` on line https://github.com/zreigz/kubernetes/commit/d9675c70ed6af53ae7eba771eae37eaa8a745674#diff-ec8effa8c2c7af6d8358e85aa155ab17R287 clever enough to make that distinction?  It seems that any base64 encoded content would suffer from this problem unless the decoder knows in advance that the content is encoded.

[2016-09-14 14:43] smarterclayton commented on #32432
To put it another way, if you add this behavior anyone who is relying on
base64 encoding of a config map not being altered would be broken when you
introduced automatic decoding of their base64 script.  I.e. someone who
does:

kubectl create configmap --from-literal=a=$(base64enc some file)

and

kubectl get configmap foo --template='{{ .data.a }}' | base64dec

is now broken.

On Wed, Sep 14, 2016

[2016-09-14 14:46] ptinsley commented on #31222
@noname85
The deployments file (quoted below) last changed 24 days ago when I first deployed this branch of the app. The areas with {{ are there for Jenkins to sub out to put in the right values based on the branch being built and the id it gave the container it built for each commit.

I've been digging in logs for an hour or so and it's almost impossible to find anything concrete, the audit log f

[2016-09-14 14:48] liggitt commented on #32432
It's an information problem. The same string could be interpreted as a literal string or as a base64 encoded binary value. Without separately recording the intent in the object, there is no process clever enough to decide what the user wanted purely from the string value.

[2016-09-14 14:50] jayunit100 opened #32675 "[flake] CGroup subsystem not mounted. integration tests."
Problem

Looks like CGroups / Kubelet not ready errors cause flakes in the integraiton  tests.

Example:
[code]

[2016-09-14 14:53] derekmahar commented on #32432
@liggitt  Yes, I see your point.

[2016-09-14 14:56] flah00 opened #32676 "kubectl kubeconfig flag blows up completions"
**Kubernetes version** (use `kubectl version`): `Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.6+ae4550c", GitCommit:"ae4550cc9c89a593bcda6678df201db1b208133b", GitTreeState:"not a git tree", BuildDate:"2016-08-30T15:45:50Z", GoVersion:"go1.7", Compiler:"gc", Platform:"darwin/amd64"}`

**Environment**:
- **Cloud provider or hardware configuration**: Mac OS 10.10
- **OS** (e.g

[2016-09-14 14:57] flah00 commented on #32676
Maybe debug output from completion will help?

[debug.txt](https://github.com/kubernetes/kubernetes/files/472352/debug.txt)

[2016-09-14 15:00] dcowden commented on #32616
yep-- precisely. I'll +1 that one. thanks for directing me there.

[2016-09-14 15:00] #32616 closed

[2016-09-14 15:00] aveshagarwal commented on #25320
@kevin-wangzefeng @davidopp Could you please share what specific items kevin is working on for 1.5, any links or anything for reference? Also I am happy to help on other items not being worked on by kevin, perhaps to help it move closer to beta.

@derekwaynecarr

[2016-09-14 15:16] derekmahar commented on #32432
@zreigz By the way, what is kube-deploy and how does it differ from the multi-node Vagrant CoreOS cluster that https://github.com/coreos/coreos-kubernetes.git generates?

[2016-09-14 15:37] kfox1111 commented on #16779
Just disabling  the controller seems like too big a hammer.

While default off on pods seems like a good idea, lets leave it default on for now so we dont break things, and switch the default when we have a breaking change. Spec 2.x.

[2016-09-14 15:39] #30069 closed

[2016-09-14 15:46] piosz commented on #28768
This is fixed now.

[2016-09-14 15:48] thockin commented on #9125
Yeah, it looks really cool (though there is a lot of code there). I am
turning my eye towards "ok, how (and how much) do we integrate vs leave as
standalone"

On Wed, Sep 14, 2016 at 6:30 AM, Enlin Xu <notifications@github.com> wrote:

[2016-09-14 15:53] timothysc commented on #20064
/cc @jayunit100 @ConnorDoyle - tech debt.

[2016-09-14 15:54] timothysc commented on #31906
/cc @jayunit100 @ConnorDoyle - tech debt

[2016-09-14 16:00] piosz commented on #20064
@mksalawa did some progress on this (#29272) but she doesn't work on this anymore. Leaving unassigned.

[2016-09-14 16:03] dchen1107 commented on #32675
@jayunit100 That is expected problem by design. If any required cgroups are not mounted, and memory cgroup is one of them. On another side, if memory cgroup is not mounted, docker won't work properly anyway.

I am going close the issue. If you disagree, please reopen it.

[2016-09-14 16:03] #32675 closed

[2016-09-14 16:03] apelisse commented on #32566
It looks fine to me (not even sure if it's a failure or not), here is the output. Is that a failure?

[2016-09-14 16:07] timothysc commented on #25320
@aveshagarwal please coordinate via the @kubernetes/sig-scheduling to ensure folks aren't overlapping.   xref: http://goo.gl/CsXJLu

[2016-09-14 16:08] apelisse commented on #32566
This is the err:

[2016-09-14 16:11] smarterclayton commented on #2768
Do we need this open still?  I think we've defined most of the pieces of this although we haven't captured the actual philosophy - use requests when writing your software, allow admins to enforce limits (hard or soft) via out of band processes, use auto-sizing to estimate in the absence of info, use rescheduling and cluster info to revise initial estimations, try to avoid over specifying as end us

[2016-09-14 16:17] yujuhong commented on #32657
This is working as intended. `--maximum-dead-containers-per-container=2` means for every (pod, container name) tuple, there will be maximum two dead containers.
We keep the dead containers for logs and as checkpoint of the container state, so it is necessary to keep dead containers for every container in the pod.

[2016-09-14 16:33] sttts opened #32678 "Reconsider and document minimal set of apiserver routes"
As a follow-up of https://github.com/kubernetes/kubernetes/pull/32387, this issue is a place to discuss which routes a generic client can expect from a genericapiserver. Moreover,

As an example the kubectl implementation depends on the `/version` route to return something sensible for a number of commands (replace, edit, apply, convert, create, ...) because caching paths depend on it (cf. https:/

[2016-09-14 16:35] sttts opened #32679 "kubectl shouldn't fail hard when /version returns 404"
kubectl works mostly fine without /version. But a number of commands (apply, create, convert, ....) are wired to this:

https://github.com/kubernetes/kubernetes/blob/519c13745f8c5cc3fa50897575fe7aaca04cfbf1/pkg/kubectl/cmd/util/factory.go#L749-L749

A 404 on /version let's the kubectl to fail hard.

For environments where `/version` might be a security problem (cf. https://github.com/kubernetes/ku

[2016-09-14 16:36] sttts commented on #32679
/cc @smarterclayton

[2016-09-14 16:38] smarterclayton commented on #32679
/version is desirable (we think all servers should have it) but it should not be required for the proper functioning of a client to be able to retrieve it.

[2016-09-14 16:48] sttts commented on #32678
/cc @deads2k @smarterclayton

[2016-09-14 17:02] alena1108 opened #32682 "Pod is stuck in terminating state for 5 days"
Seen on k8s 1.2.4. Not sure if the issue still persist on k8s 1.3/1.4

1) Pod initially failed to start due to "Failed to find IP" // error on the cloud provider side
2) When remove command was executed for the pod, it got stuck in Terminating state forever:

[code]

pod details:

[code]

[2016-09-14 17:17] errordeveloper commented on #9242
The code no longer lives here.

[2016-09-14 17:17] #9242 closed

[2016-09-14 17:18] errordeveloper commented on #19308
Closing this, as we are planing to deprecate this with the work done in @kubernetes/sig-cluster-lifecycle.

[2016-09-14 17:18] #19308 closed

[2016-09-14 17:20] errordeveloper commented on #16706
Closing, as a high-level problem like this should probably be solved in `kubeadm`.

[2016-09-14 17:20] #16706 closed

[2016-09-14 17:23] errordeveloper commented on #22452
@mikedanese were you saying this is no longer the case, or is it something that we are getting close to solving?

[2016-09-14 17:27] errordeveloper commented on #31204
Great idea. I've raised this before in https://github.com/kubernetes/kubernetes/issues/12907, but closed because docs are in separate repo now. If the guides you are talking about are using `kube-up.sh` and/or some kind ad-hoc tools, we are naturally planing to deprecate them as part of @kubernetes/sig-cluster-lifecycle efforts.

[2016-09-14 17:28] freehan commented on #31402
Closing this one. Reopen if it occurs.

[2016-09-14 17:35] spxtr commented on #32644
Assigning to @mml because this started immediately after #32160

[2016-09-14 17:38] spxtr commented on #32641
[code]
[code]
[code]
[code]

[2016-09-14 17:39] k8s-merge-robot opened #32683 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/3998/

Run so broken it didn't make JUnit output!

[2016-09-14 17:40] spxtr commented on #32641
[code]

[2016-09-14 17:42] spxtr commented on #32641
@quinton-hoole

[2016-09-14 17:43] vishh commented on #32625
Setting `KUBE_NODE_OS_DISTRIBUTION=debian` will continue to work for at-least until v1.5 for now.

Given that we are moving towards DaemonSets sometime soon, I assume this issue can be worked around for now.

@caseydavenport Can you update the documentation to mention the workaround for release v1.4?

[2016-09-14 17:43] dchen1107 commented on #32596
I think gci related issues shouldn't blocker OSS k8s 1.4 release. I also agreed that k8s on GCE cannot have serious user-facing issues, but that can be resolved by reverting the changes of making GCE node on GCI default. I am not suggesting that we do that now, but I do suggest we have the summary of the entire issue (not only this particular one) on GCI on node, and deeply understand the risk, th

[2016-09-14 17:43] vishh commented on #32625
@caseydavenport Apologies for breaking Calico integration. We currently have no means to track all the salt parameters. To avoid this in the future, I'd recommend adding a separate test suite that tests calico integration.

[2016-09-14 17:44] wojtek-t commented on #32441
The first issue is cluster startup issue.

However, the second one is actually a thing, where some of holllow nodes didn't start. @gmarek - can you please take a look into the second failure? We should probably extend logging in those cases (the reasons why pods are not running? or sth like that?)

[2016-09-14 17:46] #31488 closed

[2016-09-14 17:48] aaskey commented on #31488
Worked around the issue by running kubectl and app in the same pod.

[2016-09-14 17:49] fd commented on #9712
What is the status of this feature?

/cc @markturansky @thockin

[2016-09-14 17:49] k8s-merge-robot opened #32684 "[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for node-Service: http {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/8770/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for node-Service: http {Kubernetes e2e suite}

[code]

[2016-09-14 17:50] dchen1107 commented on #32552
I prefer not adding --image-type flag to upgrade-related scripts to do this. My concern is that the choice is not persistent through this way.

But I think warning the user that the upgrade will change the image, and prompt them whether to continue is good. If they want to opt-out gci image, the script prints out how to change the default choice at: https://github.com/kubernetes/kubernetes/blob/ma

[2016-09-14 17:50] ncdc commented on #32657
@mdshuai I originally had the same thought as you, but if you read the description for `--maximum-dead-containers-per-container`, it says: "Maximum number of old instances to retain per container". This means that for any give container in a pod, we should only keep around *n* previous instances for that particular container. For example, if I have a pod with only one container, let's say `apache`

[2016-09-14 17:51] spxtr opened #32685 "Race condition in federation-controller unit tests"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16981/

[code]

[2016-09-14 17:51] spxtr commented on #32641
Closing in favor of #32685

[2016-09-14 17:51] #32641 closed

[2016-09-14 17:52] mikedanese commented on #22452
https://github.com/kubernetes/kubernetes/commit/2d6c2eb8976db71f5fe8a2afc1dc365efd8fdd39 should replace majority use cases for ssh. Not sure how plumbed it is though.

[2016-09-14 17:58] vishh commented on #32552
Would setting env `KUBE_NODE_OS_DISTRIBUTION` to either `gci` or `debian`
suffice this use case? This is a transitional phase and this option will
not be relevant in the future.

On Wed, Sep 14, 2016 at 10:50 AM, Dawn Chen <notifications@github.com>
wrote:

[2016-09-14 18:07] goltermann commented on #32551
Moving out of v1.4 as this is a P2.

[2016-09-14 18:09] cescoferraro commented on #22130
I am having similar problems here, but with 1.3.6

this works

[code]

while this enter a crashbackloop:

[code]

Kubelet journalctl -u kubelet when trying to boot with the manifest file

[code]

[2016-09-14 18:09] goltermann commented on #32377
This hasn't been touched in 5d, but is listed as blocking v1.4.  Where are we on this?

[2016-09-14 18:10] goltermann commented on #32368
Moving to 1.5, this is a non-release-blocker.

[2016-09-14 18:10] goltermann commented on #31863
Moving out of v1.4 as this is a P2.

[2016-09-14 18:12] goltermann commented on #31624
@quinton-hoole @nikhiljindal This hasn't been touched in a while, but is listed in v1.4, can we move to v1.5?

[2016-09-14 18:12] goltermann commented on #31521
Moving out of v1.4 as this is a P2.

[2016-09-14 18:13] goltermann commented on #31184
Moving to v1.5, this is a non-blocker.

[2016-09-14 18:13] goltermann commented on #31155
Moving out of v1.4 as this is a P2.

[2016-09-14 18:13] goltermann commented on #31127
Moving out of v1.4 as this is a P2.

[2016-09-14 18:14] timstclair commented on #32638
I agree with everything @jimmidyson said, but have a few more details:

If (when) we switch to standalone cAdvisor, we should get rid of the cAdvisor port in the kubelet (or maybe redirect to the standalone cAdvisor for backwards compatability)

I agree that the metrics served on the cAdvisor port should be pure cAdvisor metrics, which will make the above point easier. I think which metrics are se

[2016-09-14 18:21] goltermann commented on #28335
Moving to v1.5, this is a non-release-blocker.

[2016-09-14 18:21] goltermann commented on #28082
Moving out of v1.4 as this is a P2.

[2016-09-14 18:21] goltermann commented on #27372
Moving out of v1.4 as this is a P2.

[2016-09-14 18:22] goltermann commented on #22077
Moving out of v1.4 as this is a P2.

[2016-09-14 18:22] goltermann commented on #15050
Moving out of v1.4 as this is a P2.

[2016-09-14 18:29] grobie commented on #32638
All my requests were solely around Prometheus metrics under /metrics. What do you think about the following steps?

1) Use separate prometheus registries and stop exporting kubelet metrics under cAdvisor port. Keep cAdvisor metrics under the API port for backwards compatibility for now.
2) Add option to disable cAdvisor Prometheus metrics in /metrics completely.
3) Deprecate cAdvisor port

The mai

[2016-09-14 18:36] quinton-hoole commented on #31624
This is actually under active resolution by @madhusudancs, it's just not reflected in this issue.  Yes, it is no longer a v1.4 release blocker.  I will move it to v1.5.

[2016-09-14 18:37] bprashanth opened #32690 "auto-delete leaked cloud resources in e2e"
Issues like https://github.com/kubernetes/kubernetes/issues/27883 are a menace, they're hard to track down and take time to fix. In the meanwhile, the SQ keeps getting blocked because quota on the test project is usually pretty low and there are too many projects to keep bumping quota up on each one.

We can already detect leaks, obviously: https://pantheon.corp.google.com/m/cloudstorage/b/kuberne

[2016-09-14 18:43] pwittrock opened #32691 "GKE: Deployment RecreateDeployment should delete old pods and create new ones"
https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 18:45] k8s-merge-robot opened #32692 "[k8s.io] Deployment paused deployment should be ignored by the controller {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/15525/

Failed: [k8s.io] Deployment paused deployment should be ignored by the controller {Kubernetes e2e suite}

[code]

Previous issues for this test: #28067 #28378

[2016-09-14 18:46] madhusudancs commented on #28615
Today's update:

Still waiting for #32613 to be LGTM'ed and merged.

cc @pwittrock

[2016-09-14 18:54] pwittrock opened #32693 "GKE: Deployment RollingUpdateDeployment should delete old pods and create new ones"
https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 18:55] pwittrock opened #32694 "GKE: Deployment RollingUpdateDeployment should scale up and down in the right order"
https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 18:56] pwittrock opened #32695 "GKE: Deployment deployment should create new pods"
https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 18:57] pwittrock opened #32696 "GKE: Deployment deployment should label adopted RSs and pods"
https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 18:58] pwittrock opened #32697 "GKE: Deployment deployment should support rollback when there's replica set with no revision"
https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 18:59] pwittrock opened #32698 "Deployment paused deployment should be ignored by the controller"
https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 19:00] pwittrock opened #32699 "GKE: Kubectl client Kubectl describe should check if kubectl describe prints relevant information for rc and pods [Conformance]"
https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 19:03] fabxc commented on #32638
Could you elaborate @timstclair?
Is the idea here to keep the cAdvisor /metrics endpoint in the kubelet around with a standalone cAdvisor? I couldn't fully infer from the previous discussions whether the general idea would be to keep a minimal embedded cAdvisor around for system consumption (autoscaling etc.) or to make the external one mandatory for those to work.

[2016-09-14 19:10] fabxc commented on #32326
I think its a reasonable step of normalization to constrain labels to the minimum identity-giving set in the exposition. The consumer is free to denormalize again for its own purposes – in Prometheus this happens to be at query time. But other systems can easily do so on write.
Going the other direction is generally harder for the consumer while bloating the exposed metrics.

Of course it's saner

[2016-09-14 19:16] errordeveloper commented on #31863
Good question, Paul, but I don't know. I will need reproduce.

On Wed, 14 Sep 2016, 19:11 goltermann, <notifications@github.com> wrote:

[2016-09-14 19:16] chakri-nelluri commented on #32543
@rootfs. Thanks for the feedback. The secrets are part of FlexVolumeSource. If we have a good use case for endpoint or service information, we can standardize it or the user can pass it as an option.

[2016-09-14 19:18] deads2k commented on #32377
@jlowdermilk am I good to re-enable the dynamic provisioning test?

[2016-09-14 19:21] pwittrock opened #32700 "GKE: Kubectl client Kubectl run job should create a job from an image when restart is Never [Conformance]"
https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 19:22] pwittrock opened #32701 "Kubectl client Simple pod should support exec through an HTTP proxy"
https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 19:23] pwittrock opened #32702 "GKE: Kubectl client Simple pod should support inline execution and attach"
Kubectl client Simple pod should support inline execution and attach

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 19:24] pwittrock opened #32703 "Kubelet [Serial] [Slow] regular resource usage tracking for 35 pods per node over 20m0s"
Kubelet [Serial] [Slow] regular resource usage tracking for 35 pods per node over 20m0s

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 19:24] pwittrock opened #32704 "MetricsGrabber should grab all metrics from API server."
MetricsGrabber should grab all metrics from API server.

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 19:25] pwittrock opened #32705 "Secrets should be consumable from pods in volume [Conformance]"
Secrets should be consumable from pods in volume [Conformance]

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/6162

[2016-09-14 19:28] pwittrock commented on #32691
Also: https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.2-1.4-upgrade-master

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-master/6171

[2016-09-14 19:31] pwittrock opened #32706 "[k8s.io] Kubectl client [k8s.io] Kubectl rolling-update should support rolling-update to same image [Conformance]"
https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.4-1.3-kubectl-skew

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.4-1.3-kubectl-skew/6187

[2016-09-14 19:32] pwittrock opened #32707 "[k8s.io] Services should be able to change the type and ports of a service [Slow]"
[k8s.io] Services should be able to change the type and ports of a service [Slow]

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-cluster-new

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.3-1.4-upgrade-cluster-new/609

[2016-09-14 19:33] pwittrock opened #32708 "GKE: [k8s.io] Upgrade [Feature:Upgrade] [k8s.io] cluster upgrade should maintain a functioning cluster [Feature:ClusterUpgrade]"
[k8s.io] Upgrade [Feature:Upgrade] [k8s.io] cluster upgrade should maintain a functioning cluster [Feature:ClusterUpgrade]

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-cluster-new

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.3-1.4-upgrade-cluster-new/610

[2016-09-14 19:33] liggitt opened #32709 "SubjectAccessReview typos groups field name"
The `Groups` field of a SubjectAccessReviewSpec is being serialized as `group`:
https://github.com/kubernetes/kubernetes/blob/b841a8bad3855c5c4b95c7dd2596e22018f9af68/pkg/apis/authorization/v1beta1/types.go#L119:

[code]

This is already documented as `group` for v1beta1, so we can't easily change it now, but should be fixed in the v1 version

[2016-09-14 19:34] pwittrock opened #32710 "[k8s.io] Deployment paused deployment should be ignored by the controller"
[k8s.io] Deployment paused deployment should be ignored by the controller

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.3-1.4-upgrade-cluster/559

[2016-09-14 19:35] pwittrock opened #32711 "GKE: [k8s.io] Pods should invoke init containers on a RestartAlways pod"
[k8s.io] Pods should invoke init containers on a RestartAlways pod

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.3-1.4-upgrade-cluster/559

[2016-09-14 19:36] pwittrock opened #32712 "[k8s.io] Pods should invoke init containers on a RestartNever pod"
[k8s.io] Pods should invoke init containers on a RestartNever pod

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.3-1.4-upgrade-cluster/559

[2016-09-14 19:37] pwittrock opened #32713 "[k8s.io] Pods should not start app containers and fail the pod if init containers fail on a RestartNever pod"
[k8s.io] Pods should not start app containers and fail the pod if init containers fail on a RestartNever pod

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.3-1.4-upgrade-cluster/559

[2016-09-14 19:37] liggitt commented on #32709
cc @cjcullen

[2016-09-14 19:38] pwittrock opened #32714 "[k8s.io] Pods should not start app containers if init containers fail on a RestartAlways pod"
[k8s.io] Pods should not start app containers if init containers fail on a RestartAlways pod

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-cluster

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.3-1.4-upgrade-cluster/559

[2016-09-14 19:38] ixdy commented on #31207
https://help.github.com/articles/tracking-the-progress-of-your-work-with-projects/

[2016-09-14 19:38] pwittrock commented on #32707
Also here:

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-cluster

[2016-09-14 19:39] pwittrock commented on #32708
Also here: https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-cluster

[2016-09-14 19:40] pwittrock commented on #32710
Also: here
https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-master

[2016-09-14 19:40] pwittrock commented on #32707
And here:

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-master

[2016-09-14 19:40] deads2k commented on #32709
Right, this was used as the basis for the authz webhook quite some time ago.  I agree it should be changed, but that API won't be ready for graduation for a while.

[2016-09-14 19:41] pwittrock opened #32715 "[k8s.io] Upgrade [Feature:Upgrade] [k8s.io] master upgrade should maintain responsive services [Feature:MasterUpgrade]"
[k8s.io] Upgrade [Feature:Upgrade] [k8s.io] master upgrade should maintain responsive services [Feature:MasterUpgrade]

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-master

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.3-1.4-upgrade-master/595

[2016-09-14 19:43] dchen1107 commented on #32714
Close this one as dup of #32711. Will provide the detail information shortly there.

[2016-09-14 19:43] dchen1107 commented on #32713
Close this one as dup of #32711. Will provide the detail information shortly there.

[2016-09-14 19:43] #32713 closed

[2016-09-14 19:44] dchen1107 commented on #32712
Close this one as dup of #32711. Will provide the detail information shortly there.

[2016-09-14 19:44] #32712 closed

[2016-09-14 19:48] timstclair commented on #32638
Yes, that's the idea. I guess by this logic the general metrics exported by cAdvisor would be moved out of the Kubelet, and only the kubelet-specific metrics would remain (e.g. reporting Kubelet usage). I think it's an open question where cluster-level "core" metrics (i.e. for autoscaling) would be sourced from.

[2016-09-14 19:52] a-robinson commented on #32707
You may want to unassign me, I no longer have the ability to do so.

[2016-09-14 19:57] prg3 opened #32716 "Openstack Cinder volumes do not work with >v1.3.0"
Working version:
Server Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.6+coreos.0", GitCommit:"323d2670999a67cc39009f19a3e09a024381cce2", GitTreeState:"clean", BuildDate:"", GoVersion:"", Compiler:"", Platform:""}

Not working version:
Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.6+coreos.0", GitCommit:"f6f0055b8e503cbe5fb7b6f1a2ee37d0f160c1cd", GitTreeState:"c

[2016-09-14 20:00] maisem commented on #32701
#32688 should fix this.

[2016-09-14 20:02] maisem commented on #32701
Well - it will skip the test as the test is overly complicated and the test fix is large enough that it's infeasible to cherry-pick back to 1.2.

[2016-09-14 20:03] bprashanth commented on #32715
This is also the same quota issue, deleted, put in increase limit, lets see if it hits again

[2016-09-14 20:04] bprashanth commented on #32707
quota issue unless it happens again

[2016-09-14 20:04] #32707 closed

[2016-09-14 20:06] dchen1107 commented on #32711
I believe all init containers related failures have the same root cause. The below are the facts I know and the conclusion / hypothesis I drawn so far (haven't double check master component's logs to confirm this yet):

* https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-cluster running 1.3 tests against the upgraded cluster, and all init container related tests failed
* ht

[2016-09-14 20:06] dchen1107 commented on #32711
I can send a fix shortly if no one is doing it.

[2016-09-14 20:11] saad-ali commented on #32705
This is expected behavior. The behavior of secrets was changed as of 1.3, and the 1.2 test is asserting something that is no longer true for 1.3/1.4.

Dupe of https://github.com/kubernetes/kubernetes/issues/26662 (which we ran in to in 1.3 upgrade testing).

[2016-09-14 20:12] luxas commented on #29904
@pwittrock Ok, seems like I misunderstood the full purpose of the release-blocker label, removing it.
But still, I'd like to get the PR merged

[2016-09-14 20:13] saad-ali commented on #32705
Closing issue as expected behavior.

[2016-09-14 20:18] vishh commented on #32552
The upgrade scripts are preserving the existing base image. I wonder if they ever upgraded container-vm based on the version pinned to a release.
This is an issue because users will be stuck with old versions of the base image as long as they continue to use this script.

[2016-09-14 20:19] spxtr commented on #31884
The latest error has been going on for a while.

@pwittrock you are the official owner of this test, but I'm guessing you're not going to want to look at this right away.

I'm going to "randomly" point it at @jlowdermilk. Feel free to reassign.

[2016-09-14 20:21] bprashanth commented on #32711
do the feature gates kick out annotation features as well? how do we even know what annotations are being used for alpha features? or is init containers just a victim because we convert an annotation to a field on the pod, and other alpha annotations (eg dynamic volume provisioning) will continue to work?

[2016-09-14 20:26] hanikesn commented on #32326
@grobie Any chance of open sourcing that?

[2016-09-14 20:33] trapexit opened #32723 "Include request body in authorization callback"
The full payload of a request is needed in the authorization callback structure in order to be able to provide narrowly defined entitlements.

[2016-09-14 20:38] gmarek commented on #32704
It's a known issue, fix for which needs to be cherry-picked into 1.2 branch. I'll do this tomorrow.

[2016-09-14 20:39] pwittrock commented on #31884
@spxtr Many thanks Joe

[2016-09-14 20:41] pwittrock commented on #32712
@a-robinson Sorry, GH has a bug where it is randomly assigning to the first person alphabetically.

[2016-09-14 20:46] colemickens commented on #31204
I'm confused, probably missing something. Does this mean to move the Getting Started guides out of the `kubernetes/kubernetes` repo or moving them out of the `kubernetes/kubernetes.github.io` repo? They've already been moved from the former to the latter.

[2016-09-14 20:47] bprashanth commented on #32708
same project, same quota issue, until it fails again

[2016-09-14 20:52] spxtr commented on #23061
Closing in favor of https://github.com/kubernetes/test-infra/issues/119.

[2016-09-14 20:52] #23061 closed

[2016-09-14 21:26] sabarishs commented on #32480
So I am not the only one! I am seeing the same issue and have been banging my head against the wall the whole day today.

Thanks @freznicek for the workaround, howsoever ugly it is. This is much much better than other ugly things I was thinking of doing.

My current dns add on is same as https://raw.githubusercontent.com/kelseyhightower/kubernetes-the-hard-way/master/deployments/kubedns.yaml. And

[2016-09-14 21:27] csaintc commented on #32603
An extremely simple example that is currently failing to resolve:
[code]
[code]

[2016-09-14 21:31] lavalamp opened #32725 "kubectl: append current operation to user-agent"
Sometimes we determine that old kubectl versions are incompatible for some operation. It would be super convenient if apiserver could just look at user-agent to see what kubectl is trying to do.

Example: rolling update issues RC create and deletes. It'd be great if we could block those without blocking ordinary create/delete.

[2016-09-14 21:46] vishh commented on #32326
My idea was that kubelet should expose an extension API that let's
monitoring agents figure out the list of pods on the node along with
detailed runtime information like container & image identifiers, etc.
cAdvisor, being a monitoring agent, can then use this API to come up with
pod level metrics and metadata for k8s pods.

On Wed, Sep 14, 2016 at 1:27 PM, Steffen Hanikel <notifications@github.com

[2016-09-14 21:55] vishh commented on #32537
Hmm.. In that case for v1.4, can we set the min reclaim to `--eviction-minimum-reclaim=nodefs.available=5%,nodefs.inodesFree=2000`? What values are you planning on using in Open Shift @derekwaynecarr ?

[2016-09-14 21:55] smarterclayton opened #32726 "openapi static init is 50% of startup time for binary that links to it"
`github.com/go-openapi/spec` calls MustLoadSwagger20Schema which loads an asset via JSON unmarshal on every init.  Anything that pulls in that dependency (genericapiserver, which is a lot) will get slower (hyperkube, and maybe kubectl if it accidentally pulls it in).

Looks like we'll need to support a patch upstream to make it lazy.

[2016-09-14 21:56] smarterclayton commented on #32726
@kubernetes/sig-api-machinery @kubernetes/sig-cluster-lifecycle because we use hyperkube

[2016-09-14 21:58] jingxu97 opened #32727 "Failed volume attach/detach operations leave volume state uncertain"
In some storage cloud providers such as GCE and AWS, attach/detach operations are very asynchronous. When triggering such operations, , it will first send attach/detach request, and then polls DescribeVolumes until the returned state is the expected one. It might fail when polling DescribeVolumes or when reaching a timeout. In another word, when attach/detach operations returns with an error, the

[2016-09-14 21:59] smarterclayton opened #32728 "cAdvisor in Kube 1.4 is broken on RHEL systems when Kubelet running in a container - cgroup is out of order"
https://github.com/google/cadvisor/issues/1461 results in Kubelet being unable to start inside a container because the cgroup order is reversed.  Blocks containerized kubelet from starting.

[2016-09-14 21:59] smarterclayton commented on #32728
@ncdc @mrunalp @derekwaynecarr

[2016-09-14 22:00] #32701 closed

[2016-09-14 22:00] lavalamp commented on #32726
@mbohlool

[2016-09-14 22:01] smarterclayton commented on #32725
Interesting.  Dangerous.  But interesting.

[2016-09-14 22:01] caseydavenport commented on #32625
I will try the `KUBE_NODE_OS_DISTRIBUTION=debian` option, and update the documentation with what I find.

[2016-09-14 22:02] maisem commented on #32701
Please reopen if you still see a failure in test runs that started after 14:02 PST.

[2016-09-14 22:04] janetkuo commented on #32710
Current observation: using 1.3 kubectl vs. 1.4 cluster, when you pause a deployment, and then delete its new RS, the pod is gone with the new RS, but a new pod will be created by that new RS.

[2016-09-14 22:07] smarterclayton commented on #32725
David went all out on his "we hate your user-agent" filter here https://github.com/openshift/origin/blob/9c76951e7de092a95029df46715671c4d4d355ea/pkg/cmd/server/api/v1/types.go#L344 - I'm sure he'd love to have more details to block people on.

[2016-09-14 22:07] dchen1107 commented on #32537
This should fix this issue to avoid node condition being flip-flop, but I think it shouldn't block 1.4 release.

[2016-09-14 22:08] smarterclayton commented on #32726
Trying to find out how much it affects total startup - it was showing up in a very aggressive `perf` profile between 25-50% consistently, but may have other things behind it.

[2016-09-14 22:10] smarterclayton commented on #32726
After commenting out those two parses - ~25% that is not GC is now text/template html/temlpate parsing

[2016-09-14 22:11] caseydavenport commented on #32625
The latest here:

Sadly, the GCI image being used today doesn't include a few kernel features that Calico wants for policy enforcement.
- ip6tables: this is fine, GCE doesn't support IPv6 yet anyway as far as I know, and this can just be turned off in Calico. Not a problem.
- ip sets: This is actually a problem - Calico can't do policy without this.  It looks like the xt_set module is loaded, but

[2016-09-14 22:13] mikedanese opened #32731 "verification suite might not be verifying anything right now"
I'm investigating...

[2016-09-14 22:13] calvinmorrow commented on #32453
I'm seeing the same behavior with the controller-manager on 1.3.6.  All calls result in `x509: certificate signed by unknown authority`.

Strangely enough I tried changing the cli to use an invalid certificate and didn't see any change in the logs.  It does feel like the option isn't being passed through.

[2016-09-14 22:14] #15542 closed

[2016-09-14 22:16] vishh commented on #32625
@Amey-D might be able to provide more inputs from GCI side. From a release perspective, we might be able to get a build with `ip sets` in one of the upcoming patch releases for v1.4.0 depending on the GCI changes required. Thanks for the detailed feedback!

[2016-09-14 22:22] danieljy commented on #30617
I had tried this fix a few weeks ago, and all was well, but as of Google Cloud SDK 126.0.0, I'm not seeing `activate-service-account` as an option underneath `gcloud beta auth application-default`

Anyone else seeing this behavior?

I've had to resort to the other fix:

[code]

[2016-09-14 22:25] Amey-D commented on #32625
I can enable hash:ip for xt_set module in GCI.  Is this a blocker for 1.4.0?

[2016-09-14 22:26] spxtr commented on #32690
Another strategy would be to delete any unexpected resources at the start or end of the test run regardless of what the leak detector finds.

[2016-09-14 22:27] k8s-merge-robot opened #32732 "[k8s.io] Federated ingresses [Feature:Federation] Federated Ingresses Ingress connectivity and DNS should be able to connect to a federated ingress via its load balancer {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/4126/

Failed: [k8s.io] Federated ingresses [Feature:Federation] Federated Ingresses Ingress connectivity and DNS should be able to connect to a federated ingress via its load balancer {Kubernetes e2e suite}

[code]

[2016-09-14 22:28] bprashanth commented on #32690
that is risky because of parallel runs right? i thought it was only safe to delete cloud resources that you *know* are from your own kubernetes namespace (or at least i remember doing exactly what you said and it broken things, around 1.1 time, because of parallel tests)

[2016-09-14 22:29] bprashanth commented on #32690
Also i have this is the ingress e2es, where the test cleans up after it's own ns tagged cloud resources, but sometimes that after each doesn't run eg: if the build is cancelled or times out. The next test won't touch the leaked resources because it doesn't match its own kubernetes ns tag.

[2016-09-14 22:33] janetkuo commented on #32710
It's likely due to proportional scale https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/sync.go#L321

After the rs reaper scales the rs down to 0, the deployment will scale it up back to 1 before the rs is deleted.

[2016-09-14 22:34] madhusudancs opened #32733 "Federated ReplicaSet e2e is timing out"
@mwielgus could you please take a look at this today?

Some hints. We are seeing this in the logs of  https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/4126

[code]

The last 0/0 doesn't look right.

cc @kubernetes/sig-cluster-federation @jianhuiz @kshafiee

[2016-09-14 22:34] vishh commented on #32625
This is not a blocker for v1.4.0.

On Wed, Sep 14, 2016 at 3:26 PM, Amey Deshpande <notifications@github.com>
wrote:

[2016-09-14 22:37] k8s-merge-robot opened #32734 "[k8s.io] Job should fail a job {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6440/

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]

Previous issues for this test: #28773 #29506 #30699

[2016-09-14 22:40] vishh opened #32735 "Networking dependencies"
Networking in k8s seems to have quite a few base image dependencies be it kernel configuration or user space tools. To ensure cross distro/base image compatibility for k8s,
1. These dependencies needs to be documented
2. A node conformance tests needs to be added that ensures that these dependencies are satisfied
3. Functional tests _must_ exist that exercise these dependencies

We should complete

[2016-09-14 22:41] janetkuo commented on #32710
But this doesn't happen on 1.4 kubectl vs. 1.4 cluster

[2016-09-14 22:41] vishh commented on #32537
More than flip-flop, it will help the node recover from disk pressure
condition sooner.

On Wed, Sep 14, 2016 at 3:08 PM, Dawn Chen <notifications@github.com> wrote:

[2016-09-14 22:42] calvinmorrow commented on #32453
Creating a kubeconfig with the same ca-certificate and specifying `--kubeconfig` in the controller-manager args allows https connections to work as intended.

[2016-09-14 22:46] janetkuo commented on #32710
Adding these three lines in rs reaper will fix the error https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/stop.go#L289-L291

[2016-09-14 22:50] vishh commented on #32552
I talked to @dchen1107 offline. Here is the summary for v1.4.0 release.

1. upgrade.sh script does not handle base image upgrades. This is an issue by itself. But it is not a blocker for v1.4.0 because the base image has not been upgraded since v1.3.0.
2. upgrade.sh does not support upgrading to gci by default. This is a feature by itself at-least for v1.4.0

After v1.4.0 frenzy is over, we need t

[2016-09-14 22:50] vishh commented on #32552
@davidopp I'd recommend not including this issue as a v1.4.0 release blocker.

[2016-09-14 22:50] ixdy commented on #32701
ISTR this test was always a little problematic.

https://github.com/kubernetes/kubernetes/blob/release-1.2/test/e2e/kubectl.go#L251-L255

We should be finding a built version of `kubectl`, but either the `linux/386` requirement or the skew environment is messing things up. (I'm not sure if we want to investigate further, or just skip the test as we've done.) We removed this mess entirely in #25776

[2016-09-14 22:55] spxtr commented on #32690
I mean we should clean up old things like firewall rules or networks or whatever before we even start running tests.

[2016-09-14 23:03] bprashanth commented on #32690
oh you mean in the jenkins script, thought you meant test owners should do it in Before/AfterEach

[2016-09-14 23:04] haySwim opened #32739 "DRBD: Add support for DRBD replicated block storage as a volume type."
This volume driver would talk to the DRBD Manage utility to provision and deploy DRBD devices.

Use Cases:
1. Redundant storage with minimal overhead.
2. Directly attaching block devices across the network.
3. Balancing reads to get better than disk performance.
4. Highly Available storage.

[2016-09-14 23:11] janetkuo commented on #32710
Per discussion with @pwittrock, closing the issue since the fix won't be targeting 1.4

[2016-09-14 23:11] #32710 closed

[2016-09-14 23:12] yujuhong opened #32741 "CRI: kuberuntime can't handle docker api version"
umbrella issue: #31459

kuberuntime uses `semver` to ]parse the version string of the api version](https://github.com/kubernetes/kubernetes/blob/6538912013c16bf1e9c9b0ad1e418e9696849906/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L213) from the runtime.
When using with docker, it complains that `1.23 is not in dotted-tri format`

Maybe we should just enforce that the api version returned by the

[2016-09-14 23:13] dims commented on #32731
@mikedanese which jobs? kubernetes-verify-master? something else?

[2016-09-14 23:19] janetkuo commented on #32698
The same cause as https://github.com/kubernetes/kubernetes/issues/32710#issuecomment-247177634, closing with the same reason

[2016-09-14 23:19] #32698 closed

[2016-09-14 23:20] saad-ali commented on #32731
`kubernetes-verify-master` is green.

Locally run on a clean/sync'd branch the `./hack/verify-boilerplate.sh`, `./hack/verify-golint.sh`, `./hack/verify-munge-docs.sh`, and `./hack/verify-flags-underscore.py` checks are failing.

[2016-09-14 23:30] Random-Liu commented on #32741
This is mentioned in https://github.com/kubernetes/kubernetes/issues/29252 `docker apiserver is not semver`. :)

[2016-09-14 23:34] yujuhong opened #32742 "CRI: kuberuntime'd panic if pod is nil in killPodWithSyncResult"
The comment states that the [`pod` argument may be nil for this function](https://github.com/kubernetes/kubernetes/blob/6538912013c16bf1e9c9b0ad1e418e9696849906/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L319), but the function [went on to use the `pod.UID` without checking](https://github.com/kubernetes/kubernetes/blob/6538912013c16bf1e9c9b0ad1e418e9696849906/pkg/kubelet/kuberuntime/kuberunti

[2016-09-14 23:35] mikedanese commented on #32731
Fixed by https://github.com/kubernetes/kubernetes/pull/32720

[2016-09-14 23:35] mikedanese commented on #32731
It looks like only a portion of client-gen was not verified, I am looking into @saad-ali 's failures now.

[2016-09-14 23:35] yujuhong commented on #32741
Thanks for the reminder!

This blocks kubelet from starting up, so we should fix it first.

[2016-09-14 23:38] ltagliamonte opened #32743 "PersistentVolumeClaim are not working as expected"
I'm using a brand new cluster on google gke, that has kubernetes 1.3.6
I'm trying to build a cassandra cluster that uses google persistent disk.

I'm running each node of the cluster in a kubernetes deployment, once i start the second node of the cluster the scheduler start a creation/destroy loop that doesn't stabilise.

With 1 cassandra deployment+pv+pvc it works

To replicate the issue create a

[2016-09-14 23:42] Random-Liu commented on #32741
@yujuhong I've checked the code, currently `APIVersion()` is only used in docker_manager.go when checking the docker version compatibility. It is not exposed to the user by any means, so it should be fine to make some change ourselves, such as adding a `.0`.

However, if we want to expose this to the user via `NodeInfo` in the future, it may make user confusing.

[2016-09-14 23:51] Random-Liu commented on #32742
In fact, we can just use runningPod.ID instead https://github.com/kubernetes/kubernetes/blob/6538912013c16bf1e9c9b0ad1e418e9696849906/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L338.

[2016-09-14 23:59] bprashanth opened #32746 "kubectl apply preserving autoscaled fields"
Currently this happens
[code]

Modify the deployment to change some fields like image.

[code]

this makes it hard to apply a deployment that is currently targetted by an autoscaler.

I can write a controller that reads, updates file, writes, but I also need to ensure that something like salt doesn't clobber my changes.

If I haven't missed an obvious option, maybe we can get a version of `apply`

[2016-09-15 00:04] lavalamp opened #32747 "kube-apiserver: httplog: don't print stack traces when proxies return 304s"
I noticed that the code that prints stack traces when we return an unexpected status code runs even if we're just proxying that code from a service or pod. We should probably not do that.

[2016-09-15 00:07] Random-Liu commented on #32742
At least currently, `pod` is only used for printing, we can change the code to use `runningPod`. :)

[2016-09-15 00:07] vishh commented on #32731
cc @pwittrock

[2016-09-15 00:11] feiskyer commented on #32742
+1

[2016-09-15 00:17] dchen1107 commented on #32703
It is known docker 1.11 (in Kubernetes 1.4) using more memory than docker 1.9 (in Kubernetes 1.2), and the resource tracking tests running here with 1.2 limit here. It is expected to be failed.

[2016-09-15 00:18] #32703 closed

[2016-09-15 00:23] bboreham commented on #32625
If I may butt in, the GCI image also lacks the kernel module for VXLAN, which various overlay networks use.

I can open a separate issue for that if you like (if you see this as an issue).

[2016-09-15 00:26] saad-ali commented on #32727
The GCE implementation is more robust than the AWS one, which makes it less likely to happen with GCE PDs. Justin's PR https://github.com/kubernetes/kubernetes/pull/32636 should help on the AWS side with that.

Regardless of how robust the detach routines are, the inherent problem is that the controllers in-memory cache could become out-of-sync (drift) from the ground truth. This can be caused by

[2016-09-15 00:28] vishh commented on #32625
@bboreham A separate issue might be helpful just for tracking purposes. #32735 is tracking the lack of visibility into networking dependencies in general. If we were aware of these dependencies, they would have been addressed long back.
For now, is it safe to assume that the workaround mentioned above (https://github.com/kubernetes/kubernetes/issues/32625#issuecomment-247096008) will still work fo

[2016-09-15 00:32] bprashanth opened #32749 "consider running dnsmasq on nodes instead of kube-dns"
Bind dnsmasq on every node to cbr0 ip and point the containers resolve.conf to cbr0 instead of kube-dns. Setup a dnsmasq.conf like:

[code]

At least 2 reasons to consider this:
- External lookups won't fail if kube-dns/endpoint controller/kube-proxy are down
- Internal lookups will fail fast. From: http://www.thekelleys.org.uk/dnsmasq/docs/dnsmasq-man.html, by default, dnsmasq will send queries t

[2016-09-15 00:32] bprashanth opened #32750 "consider a dnspolicy optimized for fqdn lookups"
Currently we have a resolvconf like:

[code]

so basically any lookup with less than 5 dots is translate to `lookup.default.svc.cluster.local`, you can also do `lookup.default` (ndots 2) and `lookup.default.svc` (ndots 3).

However if you lookup google.com you run through

[code]

If a client knows they're only always using fqdn for in cluster services, we can probably rid of the search path and n

[2016-09-15 00:50] janetkuo commented on #32693
Error happened at `defer stopDeployment` (test clean up step)

[2016-09-15 00:55] saad-ali commented on #32731
With PR #32720 merged, I'm seeing the following:
[code]

`verify-boilerplate` failure:
<details>
[code]
</details>

`verify-golint` failure:
<details>
[code]
</details>

`verify-munge-docs` failure:
<details>
[code]
</details>

`verify-flags-underscore` failure:
<details>
[code]
</details>

[2016-09-15 01:12] saad-ali commented on #32731
Ignore my last comment. All green after PR #32720 merged

[2016-09-15 01:18] #32731 closed

[2016-09-15 01:28] k8s-merge-robot opened #32753 "[k8s.io] DisruptionController evictions: enough pods, absolute => should allow an eviction {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32348/kubernetes-pull-build-test-e2e-gce/58933/

Failed: [k8s.io] DisruptionController evictions: enough pods, absolute => should allow an eviction {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #32348.

[2016-09-15 01:33] jingxu97 commented on #32727
On Wed, Sep 14, 2016 at 5:27 PM, Saad Ali <notifications@github.com> wrote:

not only attached or detached, but also attaching and detaching (ASW
already provides such state query functions, which are currently used by
asw.go code). Also it is possible that volume stuck in such state for a
while. In such situation, should volume be marked as attached or detached
by the controller? That is the reas

[2016-09-15 01:47] nikhiljindal commented on #32733
Making this P0.
Atleast need to to figure out if this is a code issue or just a test issue.

[2016-09-15 01:52] mdshuai commented on #32657
@ncdc Thanks for your example, it make sense.
@yujuhong  Thanks for your explain. But (pod, container name) just a subset of (pod, podName). Don't you think make all containers in one pod as a evictUnit is more useful ? it can clean both the containers in the example @ncdc said and the containers in my case.

[2016-09-15 01:58] k8s-merge-robot opened #32755 "[k8s.io] [Feature:Example] [k8s.io] RethinkDB should create and stop rethinkdb servers {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/15170/

Failed: [k8s.io] [Feature:Example] [k8s.io] RethinkDB should create and stop rethinkdb servers {Kubernetes e2e suite}

[code]

Previous issues for this test: #30581

[2016-09-15 02:08] k8s-merge-robot opened #32756 "[k8s.io] Services should prevent NodePort collisions {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/23417/

Failed: [k8s.io] Services should prevent NodePort collisions {Kubernetes e2e suite}

[code]

Previous issues for this test: #31575

[2016-09-15 02:11] pmorie commented on #32467
will TAL tonight

[2016-09-15 02:35] abrarshivani commented on #30108
@jingxu97 Thanks for asking question. The idea was to build the devicePath in WaitforAttach with different prefixes to support different controllers. After looking at it for second time, it seems that we can build the device path in Attach call itself.

[2016-09-15 03:19] k8s-merge-robot opened #32757 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17015/

Run so broken it didn't make JUnit output!

[2016-09-15 03:39] k8s-merge-robot opened #32758 "[k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a secret. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31704/kubernetes-pull-build-test-e2e-gce/58947/

Failed: [k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a secret. {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31704.

Previous issues for this test: #32053

[2016-09-15 04:22] saad-ali commented on #32727
That makes sense. Having a "might be attached, might not be" bit will allow the reconciler to better handle limbo states. Let's do it!

[2016-09-15 04:27] asalkeld commented on #28707
Please close the issue, PR has been merged.

[2016-09-15 04:37] krmayankk opened #32759 "kube-proxy has --master option while kubelet --api-server option for api servers"
**Is this a request for help?** No
**What keywords did you search in Kubernetes issues before filing this one?**  "kube-proxy --master options"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

Basically there is inconsistency in naming the options in kubernetes binaries to specify the api-server. kubelet accepts --api-servers while kube-proxy and controller-manager accept --ma

[2016-09-15 04:48] thockin commented on #32749
Dude, you stole my idea. :)  I sent myself a TODO just a few hours ago to
investigate this, but I want to go a step further and avoid hitting
conntrack for DNS at all.  We could either expand DNS service IP to
endpoints and HUP dnsmasq or do socket-reuse (with a pool so we get to all
DNS backends - maybe 3x the number of DNS replicas to limit conntrack).

We don't want kubelet to interact with net

[2016-09-15 04:50] davidopp commented on #32552
@vishh Can you take ownership of both of the items?

[2016-09-15 04:54] thockin commented on #32625
Thanks all.   It's not surprising that a new distro and kernel is lacking
tools.

Propose:
- add the requisite kernel modules and flags to turn on everything listed
here and any other optionals
- bundle ipset, ip6tables, ebtables, and conntrack packages with the OS or
make sure they work in the toolbox for debugging

Any other things to try to break?

On Wed, Sep 14, 2016 at 5:29 PM, Vish Kannan <

[2016-09-15 05:09] thockin commented on #32735
@luxas has started this list but that doesn't include some of the kernel
deps and tools that other vendor plugins want.  @freehan, can you throw
this on your TODO pile for medium-term?

On Wed, Sep 14, 2016 at 3:41 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-09-15 05:34] edsiper opened #32762 "Limit memory consumption of Fluentd"
Reviewing the configuration of [Fluentd](http://fluentd.org) for different use cases in Kubernetes we see that it's always using in-memory buffering. Since we constantly see some concern about memory usage in Fluentd I would like to ask **why** by default in-memory buffering is used instead of file-system buffering:
- [Fluentd Elasticsearch Add-On Setup](https://github.com/kubernetes/kubernetes/bl

[2016-09-15 05:45] thockin commented on #31521
Do we want to repurpose this as "discuss apigroup versioning" ?

[2016-09-15 05:58] thockin commented on #9712
Nobody has worked on speccing this any further yet.  The most immediate problem I see is that we don't currently track which claims are used by pods, so we need a way to back-link and not select PVCs that are "in use".

[2016-09-15 06:15] zreigz commented on #32432
The kube-deploy deploys k8s cluster using just Docker images. It creates fully operational single or multi node cluster. It is very fast and comprehensive way of k8s provisioning.

[2016-09-15 06:20] zreigz commented on #32432
You can use the latest released version or your custom like I described before. I believe it will be official way of k8s deployment in the future.

[2016-09-15 06:27] zreigz commented on #32432
Regarding to the issue. I also was thinking about some indicator which can clearly show intent in the object. I will try figure out something simple. Any suggestions are appreciated.

[2016-09-15 06:30] spxtr commented on #32757
#32685

[2016-09-15 06:30] #32757 closed

[2016-09-15 06:47] #31905 closed

[2016-09-15 07:42] fd commented on #9712
How hard would the back-link be to implement. I might want to give that a shot.

[2016-09-15 07:45] soltysh opened #32763 "Remove extensions/v1beta1 Jobs"
Jobs were introduced in `extensions/v1beta1` in k8s version 1.1. Over the past year we've spent quite amount of time into stabilizing them to finally introduce stable ones in `batch/v1` in version 1.2.
With that in mind I'm proposing to remove Jobs from `extensions/v1beta1` entirely. We've kept full compatibility between the two aforementioned groups so that users of either endpoint can work trans

[2016-09-15 08:46] #31010 closed

[2016-09-15 09:18] runseb opened #32766 "Headless services with selectors need ports defined."
Tested on GKE (v1.3.6).

I have some Pods running for which I don't know before end what ports will be used.

To expose them via a service, I tried to use Headless services with selectors [1].

It seems that simply using clusterIP=None and ports=null does not trigger generation of endpoints.

We have to define ports in the headless service for the pod IPs to get in the endpoints.

typically:

[cod

[2016-09-15 09:25] sttts commented on #32766
/cc @thockin

[2016-09-15 09:32] sttts commented on #22103
Now this issue confuses me: shouldn't this read "genericapisrever must not import master"?

The name genericapiserver is kind of confusing because genericapiserver is a generalization of the master, not of apiserver. But it uses the apiserver package as a core library.

[2016-09-15 09:40] zreigz commented on #32432
I've introduced very simple solution. Small and self descriptive metadata:
[code]

This solution is still very simple, doesn't consume many resources, backward compatible and works :)

[2016-09-15 09:40] zreigz commented on #32432
You can find commit witch changes here: https://github.com/zreigz/kubernetes/commit/7fe63586230e3831f2b763ea730fa6a25bd61088

[2016-09-15 10:02] derekmahar commented on #32432
@zreigz That's a clever solution! Does Kubernetes store a ConfigMap as XML?

I think this issue may motivate me to learn Go!

[2016-09-15 10:10] adam-sandor opened #32768 "Apply changes to HorizontalPodAutoscaler configuration fails"
Updating my application with new HorizontalPodAutoscaler settings from a yaml file fails in the following ways. In both cases the application has been started using a yaml file and I'm trying to apply changes to it by changing the yaml file and calling `kubectl apply -f wholeWeaveDemo.yaml`. I'm using the [microservice-demo app](https://github.com/microservices-demo/microservices-demo/pull/305) ap

[2016-09-15 10:13] k8s-merge-robot opened #32770 "TestWatch {etcd}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17026/

Failed: TestWatch {etcd}

[code]

Previous issues for this test: #31262

[2016-09-15 10:14] soltysh commented on #32734
This looks like an GKE problem, closing in favor of #31855.

[2016-09-15 10:14] #32734 closed

[2016-09-15 10:20] jsafrane opened #32772 "unittest flake: resttest.go: unexpected timeout from result channel"
From https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31978/kubernetes-pull-test-unit-integration/44935/

[code]

The test usually takes 2-3 seconds, here it took 32 s. It happened when testing pr #31978, IMO it's unrelated to the bug.

[2016-09-15 10:20] pskrzyns commented on #22452
@mikedanese ssh will be still needed with hypervisor based containers - price for isolation ;/

[2016-09-15 10:48] zreigz commented on #32432
The ConfigMap uses string map for key and value so stored data are pure strings. I was thinking how to add some metadata information to string with minimal effort and I came up with this idea. I hope other folks will like it too :)

[2016-09-15 11:28] sirhopcount opened #32775 "Zone label should not contain region (AWS cloud provider)"
Hi,

I just noticed that the nodes on our (AWS) cluster also have the region in the zone label:

[code]

This doesn't make sense to me as it prevents you from using the zone label as a selector without knowing the region upfront (which is not always the case).

If for example you want to duplicate a k8s cluster on a different region it would require me to edit the manifest and change the zone labe

[2016-09-15 11:34] medhedifour opened #32777 "How can I build a plugin or module to extend kubernetes ?"
I need to extend kubernetes using a module or a plugin which takes as input some data and parameters from master using kubernetes api, execute algorithms and process, and performs as output actions in master node using the kuberenetes api.

[2016-09-15 11:37] #32497 closed

[2016-09-15 11:40] wattsteve commented on #30869
I see the same thing. I'm running hack/local-up.sh and I'm following the instructions to use the official release images as I don't have a GCE account and so I don't want to build and push the images from head. I see the following error when running federation-up.sh

[root@ip-172-31-59-82 kubernetes]#  KUBERNETES_PROVIDER=aws FEDERATION_DNS_PROVIDER=aws-route53 FEDERATION_NAME=myfederation DNS_ZON

[2016-09-15 11:41] wattsteve commented on #30869
cc @kubernetes/sig-cluster-federation

[2016-09-15 11:42] m1093782566 commented on #30629
@deads2k @derekwaynecarr

The 2nd PR for fixing endpoint controller hot loop is #32776 , PTAL.

[2016-09-15 11:47] dims commented on #32777
@medhedifour Please see the following:

https://github.com/kubernetes/kubernetes/blob/master/docs/design/extending-api.md
http://www.devoperandi.com/kubernetes-automation-with-stackstorm-and-thirdpartyresources/
https://github.com/wercker/cronetes
https://github.com/kelseyhightower/kube-cert-manager

[2016-09-15 12:01] jayunit100 commented on #32675
ok, maybe it wasnt the cause of my test failures.

[2016-09-15 12:52] bryk commented on #17183
Is there a roadmap item to make `kubectl logs` return O(days) instead of O(minutes) of logs?

[2016-09-15 12:56] #29998 closed

[2016-09-15 13:12] eparis commented on #32749
@smarterclayton @sdodson I know we already do this in OpenShift. Are there things/traps we should be careful of?

[2016-09-15 13:17] m1093782566 commented on #30629
@deads2k @derekwaynecarr

The 3nd PR for fixing job controller hot loop is #32785, PTAL.

[2016-09-15 13:28] ncdc commented on #32657
@mdshuai I think it makes sense to retain the current behavior. In your example, your pod has a restart policy of "on failure". Your pod ran all its containers, they succeeded, and so now the pod is no longer running and has completed successfully. If you GC any of these containers, you won't be able to see their logs.

[2016-09-15 13:57] sdodson commented on #32749
We use dnsmasq on each node to send `cluster.local` to the kube service ip where skydns is running. Prior to the kube service endpoint lease management we'd see the default query limit of 150 hit and queries back up when an api endpoint was down. We're setting `strict-order` which may be short circuiting the fail-fast behavior @bprashanth is describing, though I doubt it given that we only have on

[2016-09-15 13:58] smarterclayton commented on #31521
Yes

On Sep 15, 2016, at 1:45 AM, Tim Hockin <notifications@github.com> wrote:

Do we want to repurpose this as "discuss apigroup versioning" ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/31521#issuecomment-247240561>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/ABG_

[2016-09-15 14:01] smarterclayton commented on #32749
I want special DNS lookups on every node that allows dnsmasq to be bound (as proposed).  We also run DNS as part of Kube-proxy so i want enough flexibility that I can point that cbr0 to the proxy if dnsmasq isn't installed.

[2016-09-15 14:13] liggitt commented on #32432
we should not use magic headers in the string value... it breaks the current contract that the value is a bucket you can put any string value in and it will be faithfully reproduced on the other side.

Some possible options:
* have an indicator (like `encoding: "<base64 | utf8>"` (or a per-key indicator like `encodings: map[<key name>]<base64 | utf8>`) that a particular value is base64-encoded. Th

[2016-09-15 14:17] wojtek-t opened #32789 "Kubemark presubmit is sometimes failing without running a test and clear evidence of problems"
I'm seeing the following failures of Kubemark in presubmit:
[code]

It calls stop-kubemark without clear reason.

Such failure are e.g. here:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-kubemark-e2e-gce/153/console
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-kubemark-e2e-gce/159/console

[2016-09-15 14:17] wojtek-t commented on #32789
Ref https://github.com/kubernetes/kubernetes/issues/29897

[2016-09-15 14:22] #32714 closed

[2016-09-15 14:22] floreks commented on #31665
I'm guessing that your clusters are using certificates for secure communication over HTTPS. There are 2 issues here.

1. Browser doesn't recognize root CA so it can't trust that connection is safe. We can bypass that and still use it.
![zrzut ekranu z 2016-09-15 15-50-35](https://cloud.githubusercontent.com/assets/2285385/18552318/2ca919ba-7b5c-11e6-9f2f-5892502433d8.png)
2. API Server needs clien

[2016-09-15 14:23] Rotwang commented on #32716
Hi, I'm experiencing the same issue with 1.3.5:

`I0915 15:03:58.174167   31092 reconciler.go:220] VerifyControllerAttachedVolume operation started for volume "kubernetes.io/cinder/1ba10467-c263-4ebf-802c-9d0ea55f5a21" (spec.Name: "pvc-ed751e0c-7a80-11e6-870d-fa163e1a978d") pod "eeab905d-7a8a-11e6-870d-fa163e1a978d" (UID
: "eeab905d-7a8a-11e6-870d-fa163e1a978d")`

`E0915 15:03:58.176826   31092 ne

[2016-09-15 14:29] trapexit opened #32791 "create external process based plugin interface"
Rather than plugging into the Go APIs a somewhat straight forward and very flexible model for a plugin interface is to fork & exec processes and communicate with it (JSON Lines?) via stdin and stdout. The Erlang VM uses this as one of it's methods for bridging in external code.

Could make plugins easier and quicker to create and deploy.

[2016-09-15 14:41] pwittrock commented on #32708
Still failling

[2016-09-15 14:42] sttts opened #32792 "Epic: make genericapiserver generic"
Here is the board: https://github.com/kubernetes/kubernetes/projects/2
## Todo:
- [ ] reconsider where /healthz lives (now instantiated in the master)
- [ ] make /version customizable without the need to use ldflags
- [ ] unify how optional non-rest routes can be enabled/disabled: probably get rid of `Config.Enable*` variables
- [ ] make api prefix configurable : https://github.com/kubernetes/kube

[2016-09-15 14:43] pwittrock commented on #32708
@bprashanth Any ideas?  Looks like it is the only failing test here, but has been consistently failing.  Did we just not clear the quota for this cluster?

https://k8s-testgrid.appspot.com/release-1.4-blocking#gke-1.3-1.4-upgrade-cluster-new

[2016-09-15 14:50] luxas commented on #32735
Feel free to comment on my issue with more details about the kernel modules and so forth...
Who's gonna document this and where?

[2016-09-15 14:51] suonto opened #32794 "OpenStack LBaaSV2: controller-manager failover causes service downtime."
### Bug Report

OpenStack LBaaSV2 integration

**Kubernetes version:** 1.3.7

**Environment**:
- **Cloud provider or hardware configuration**: OpenStack
- **OS** (e.g. from /etc/os-release): Centos7

**Behaviour**: Master failover causes loadbalancers to go into infinite create/delete loop and change ip addresses every time.

**Expected behaviour**: Service loadbalancers should update hosts (pool

[2016-09-15 14:54] piosz commented on #32792
cc @mksalawa

[2016-09-15 14:59] rootfs commented on #32543
One thing we are working on now is to refactor glusterfs's endpoint (and its service) handling
@humblec

[2016-09-15 15:01] thockin opened #32795 "kubectl expose --cluster-ip=None demands a port, not needed"
API validation explicitly allows headless services to not have ports, but we seem to have not updated kubectl to know this:

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L2390

[2016-09-15 15:05] thockin opened #32796 "Endpoints controller demands ports for headless services"
API validation explicitly allows headless services to not have ports, but we seem to have not updated endpoints controller to know this:

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L2390

vs

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpoint/endpoints_controller.go#L389

Superficially this seems like an easy fix.  May be a candi

[2016-09-15 15:12] derekmahar commented on #32432
You mean, for example, that given a text file that contains `<?config-map-data encoding='base64'?>`, the ConfigMap reader will misinterpret the text file to be a binary file?

Do you mean the keys in the ConfigMap (as opposed to the keys in a configuration text file)?  In the case of a binary file would the key would be the file name?

Would this be in addition to the existing map that stores stri

[2016-09-15 15:17] sttts commented on #23266
As far as I see `apiserver.Mux` is only used to abstract away the `MuxHelper` such that one can pass either `MuxHelper` or `http.ServeMux` e.g. to `InstallVersionHandler`.

[2016-09-15 15:17] yujuhong commented on #32657
Not really. As I said, you'd want to keep at least one instance of every container in your pod for logs. kubelet also still relies on seeing the "dead container" to decide whether a container has been run before. Hence it's important to track every container in a pod separately.

[2016-09-15 15:22] sttts commented on #22093
Moved to https://github.com/kubernetes/kubernetes/issues/32792. @lavalamp I propose to close this.

[2016-09-15 15:25] sttts commented on #32792
/cc @kubernetes/sig-api-machinery

[2016-09-15 15:38] thockin commented on #32766
Replaced with https://github.com/kubernetes/kubernetes/issues/32796 and https://github.com/kubernetes/kubernetes/issues/32795

[2016-09-15 15:38] #32766 closed

[2016-09-15 15:43] prg3 commented on #32716
Mine does this regardless of if the volume is mounted..

[2016-09-15 15:48] smarterclayton commented on #32728
Short synopsis from the linked issue - the cgroup is mounted under `cpuacct,cpu` inside a container, but the host mounts it as `cpu,cpuacct`.  libcontainer returns the first viable candidate it finds - mrunal and vish were discussing changing libcontainer to return all of them and letting cadvisor have more info to check them.

[2016-09-15 15:51] #32741 closed

[2016-09-15 16:08] zreigz commented on #32432
@liggitt I like the second approach. For current clients unmarshaling to new field `binaryData map[string][]byte` should generate empty map and validation should pass. For tomorrow I should be able create some proof of concept.

[2016-09-15 16:12] smarterclayton commented on #31762
Prashanth and I chatted about fencing in the context of pet sets.  Allow me to relate an integrated theory of kubernetes storage fencing that we straw manned.  @kubernetes/sig-storage because you care about fencing almost as much as we do.

A persistent volume is a strongly consistent entity in Kubernetes (being backed by etcd) and represents a "lock" as far as a hypothetical consensus decider is

[2016-09-15 16:13] AdoHe commented on #32702
when I tried to debug this on my local, just got this error:
[code]

I set up a one node cluster with kubernetes 1.4 on my local virtual machine, and then I tried to run the e2e tests with kubernetes 1.3.5, and just got this error. Quite unlucky. :(

[2016-09-15 16:17] zreigz commented on #32432
@derekmahar Currently ConfigMap structure has field data which is `map<string, string>` where literals and file content are stored . The goal is to add a new field for binary data:
`map<staring, []byte>`  Depends on data type only one map will be fed. This also should work with old clients and of course I will check it.

[2016-09-15 16:21] smarterclayton commented on #31762
Also, PetSet controller can use a finalizer on the Pet pods to guarantee it receives the chance to make a decision about the pod deletion prior to actual removal safely.  A pod can be deleted by an admin with the appropriate warnings about inducing split brain by overriding that finalizer.

[2016-09-15 16:22] derekmahar commented on #32432
Please provide me a link to this structure.  I've tried to find it, but I'm not familiar with how Go structures packages.  I've found many references to `api.ConfigMap`, but not the actual definition.

I also prefer this option.

[2016-09-15 16:23] liggitt commented on #32432
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L3332-L3342

[2016-09-15 16:30] timothysc opened #32799 "Directory structure, or suite, for performance tests."
Right now the e2e suite houses several `[Performance]` tests but most of those are behavior level tests and run on a per-PR basis.  We would like to add more performance tests but are uncertain if is makes sense to lump it all into the existing test suite vs. either
- breaking it into it's own suite
- creating a separate directory to house that set of e2es

thoughts?

/cc @gmarek @wojtek-t @kubern

[2016-09-15 16:31] derekmahar commented on #32432
Thank you.  Was this generated from the Protobuf compiler?

[2016-09-15 16:32] pmorie commented on #32432
@derekmahar The protobuf bits are generated by a script, `hack/generate-protobuf.sh`

[2016-09-15 16:39] zreigz commented on #32432
So when we agree I think I can start working on this and create pull request instead proof of concept. What do you think ?

[2016-09-15 16:39] bboreham commented on #32625
@vishh yes, thanks, I have been using `KUBE_OS_DISTRIBUTION=debian` when I want to avoid the gci quirks, but I should stress the overlay I work on (Weave Net) is built to "run anywhere" and hence it's good for us to throw in a kernel that's a bit different.  Other products, such as Docker's own overlay network, will simply not work without the VXLAN module.

[2016-09-15 16:46] h0tbird commented on #29013
This breaks building kubernetes inside Alpine Linux:

[code]

[2016-09-15 16:58] pmorie commented on #32432
@zreigz I would like to see a proposal PR first where we agree on the API changes.  That will conserve time and effort and make the coding phase easy.

[2016-09-15 17:05] caseydavenport commented on #32625
@fasaxc @matthewdupre  - Anything else you think we should be enabling?

[2016-09-15 17:09] bprashanth commented on #32749
Yeah that's why Tim suggested "avoiding conntrack". dnsmasq doesn't support hot reload on dnsconf right? any ideas on how we can get it to go straight to endpoints?

[2016-09-15 17:09] thockin commented on #29013
I'm pressing more and more on the idea that the only _supported_ build is
the dockerized build.  Trying to accomodate every random environment is
just too taxing.

@jbeda
@spxtr

On Thu, Sep 15, 2016 at 9:47 AM, Marc Villacorta <notifications@github.com>
wrote: