[2022-09-15 07:31] andriyvasylyna commented on #53023
hey, got the same error
`NAME                                           DESIRED   CURRENT   READY   UP-TO-DATE   AVAILABLE   NODE SELECTOR   AGE
prometheus-operator-prometheus-node-exporter   59        59        56      59           56          <none>          530d`
With k8s version v1.21.14, on AWS.
`kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.5", GitComm

[2022-09-15 07:47] kerthcet commented on #112465
When we loop the golang Map, it's unordered.
https://github.com/kubernetes/kubectl/blob/36d5aa982dee2384b4e9d1528200dd61226b7495/pkg/cmd/auth/whoami.go#L194-L199

[2022-09-15 07:49] nabokihms commented on #112465
I can work on this one.

[2022-09-15 08:03] kerthcet commented on #112465
Thanks.

[2022-09-15 08:15] yaqisun7 opened #112469 "Windows runAsNonRoot does not block default ContainerAdministrator"
### What happened?

I tried to use runAsNonRoot in the container security context for windows containers. The user for the image is not set, and it runs as ContainerAdministrator by default. According to https://kubernetes.io/docs/concepts/windows/intro/#compatibility-v1-pod-spec-containers, it should "prevent containers from running as ContainerAdministrator". But the container can be created and

[2022-09-15 08:15] zw0610 commented on #52757
In my understanding, `timeSlicing` does not limit the time used by different cuda contexts. It just allow multiple cuda context from different Pods can use the same GPU. So there is no weight like cpu.shares to configure.

[2022-09-15 08:19] yaqisun7 commented on #112469
/sig windows

[2022-09-15 08:20] aojea commented on #112465
/priority critical-urgent

this is impacting CI,

[2022-09-15 08:30] neolit123 commented on #112464
please see

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-09-15 08:30] #112464 closed

[2022-09-15 08:30] neolit123 commented on #112464
/kind support

[2022-09-15 08:43] aojea commented on #112467
/kind support
/sig network

[2022-09-15 08:44] kerthcet commented on #108982
/remove-lifecycle stale

[2022-09-15 08:59] pacoxu commented on #112323
I did some initial test.
[code]
for `ndot:3`, it works with multi-options.
[code]
ndots:1, ping will fail for `bad address`.
[code]

[2022-09-15 09:16] rkojedzinszky commented on #112443
I am using backported systemd, which might not be the latest, but I think the mentioned bug is fixed in that.

That bug was about that systemd did not even notify kubelet about shutdown. My case is different, kubelet is getting notified, it logs that pods are being terminated. I've attached a kubelet.log.

So, sometimes a few pods are being evacuated, but not all.

[code]

[2022-09-15 09:19] chenlein commented on #112441
@aojea Yes, I'm sure, the patch only does SSA and the crd doesn't change,the code of reconcile like this
[code]
 I have checked the yaml of service more than once. There are still many cases where only resourceVersion changes like this, maybe because there is no `WithEventFilter` in my Operator

[2022-09-15 09:45] #112460 closed

[2022-09-15 10:01] pacoxu commented on #112081
/triage accepted
/assign

[2022-09-15 12:21] matthyx commented on #96614
Testing a thundering herd problem looks like a performance test to me... not easy.

[2022-09-15 12:29] #112465 closed

[2022-09-15 12:45] ardaguclu commented on #112425
/sig cli
/transfer kubectl

[2022-09-15 12:54] margach commented on #112009
This is the update and information from DO and the proposed work around.[
](https://github.com/grafana/helm-charts/issues/146)

[2022-09-15 13:47] #112032 closed

[2022-09-15 13:49] andyzhangx commented on #111006
hi @kon-angelo what does `non-CSI node` mean?

[2022-09-15 13:49] mariusz-okulanis-dd commented on #112452
Update: I've successfully replicated issue using using minikube. Boostrapped cluster with: `minikube start --nodes 3 --driver=kvm2`. Rest of steps remain the same as in the original post.

Minikube version:
[code]

Minikube Kubernetes version:
[code]

[2022-09-15 13:56] gillesdouaire commented on #112333
@pacoxu In my case, I was able to reproduce the situation on our 1.22 GKE cluster by issueing a few "kube nodes delete... --force" commands on our existing KM nodes hosted on spot VMS / each time, waiting for a new node to respawn, stabilize, then del;ete again, It took 6 delete commands before pods stuck in NodeAffinity state appeared.

Right now, I am leaving a few pods in that state, so if you

[2022-09-15 14:34] sanposhiho commented on #107556
/remove-lifecycle stale

[2022-09-15 14:42] ialidzhikov commented on #88613
/remove-lifecycle stale

[2022-09-15 14:51] ncopa opened #112477 "kubelet/kube-proxy does not work with iptables 1.8.8 (nf_tables)"
### What happened?

Running kubelet on a host with iptables-1.8.8 (nf_tables mode) does not work due to kube-proxy image uses iptables-1.8.7. kube-proxy ends up replace the rule
[code]
with
[code]
This leads to network stop working.

### What did you expect to happen?

Network continue to work regardless of version of iptables installed on the host.

### How can we reproduce it (as minimally and p

[2022-09-15 14:53] ncopa commented on #112477
/sig network

[2022-09-15 15:19] ncopa commented on #112477
The rule that gets mangled by older iptables is created here:
https://github.com/kubernetes/kubernetes/blob/bddb4ec08ee76c98a04cc857d346fd80d44abd8f/pkg/kubelet/kubelet_network_linux.go#L152

[2022-09-15 15:29] #89492 closed

[2022-09-15 15:40] jprukner commented on #110158
Experiencing this, too. Running on EKS, Kubernetes 1.21. It affects only some of the nodes, when I delete the node, pods get rescheduled and this mitigates this issue.

[2022-09-15 16:09] bridgetkromhout commented on #112477
/assign @danwinship

[2022-09-15 16:10] bridgetkromhout commented on #112467
/assign @rikatz

[2022-09-15 16:15] bridgetkromhout commented on #112221
/assign @caseydavenport

[2022-09-15 16:16] bridgetkromhout commented on #112143
/triage accepted

[2022-09-15 16:17] bridgetkromhout commented on #111929
@aslanpour can you please provide the requested details? thanks!

[2022-09-15 16:19] caseydavenport commented on #112221
Looks like both the Kubernetes and Calico version in-use here are quite old, so I agree an upgrade is probably in order.

Connection refused suggests that this is perhaps an application error - are you certain that your application code is serving a health check at `:8081/ping`?

[2022-09-15 16:22] utix commented on #62334
@linjmeyer

Have you found a way to identify the guilty pod ?

[2022-09-15 16:24] uablrek commented on #112477
Iptables rules _must not_ be added one-by one. Reason is that the update is; read-everything-to-user-space, update-one-rule, write-everything-back-to-kernel. This was one reason to invent nft, so _perhaps_ this is not true for nf_tables mode, but please check it.

[2022-09-15 16:26] danwinship commented on #112233
So I think you're suggesting that we should REJECT rather than DROP in both cases, in which case I have bad news for you; as of 1.24, we DROP in both cases.

For the externalTrafficPolicy case, DROP rather than REJECT is necessary to prevent connections being accidentally rejected due to race conditions when endpoints move between nodes.

For the internalTrafficPolicy case, the semantics are less

[2022-09-15 16:26] danwinship commented on #112233
/close

[2022-09-15 16:27] #112233 closed

[2022-09-15 16:31] danwinship commented on #112477
kube-proxy re-creates this rule on purpose so it doesn't matter whether it's doing it one-by-one or via iptables-restore.

[2022-09-15 16:34] danwinship commented on #112477
This seems to be a bug in iptables and I don't think we can plausibly work around it. (Changing the version of iptables in the kube-proxy image would just introduce the bug in the opposite scenario, where kube-proxy has the newer version and kubelet has the older version.) The answer for now seems to be "don't use iptables 1.8.8, it's broken".

[2022-09-15 16:37] leilajal commented on #112428
/triage accepted

[2022-09-15 16:39] pohly commented on #109732
@tallclair Was there any reason why you added [a TODO](https://github.com/kubernetes/kubernetes/blob/661899f1a14680840e06c84bc3ff46f73d203012/test/e2e/framework/pod/wait.go#L271) instead of doing this right away?

I fully agree with this issue, we should abort early. I just found the TODO because I have a failing test that ran longer than expected after a final pod failure and that made me check o

[2022-09-15 16:51] danwinship commented on #112477
Filed https://bugzilla.netfilter.org/show_bug.cgi?id=1632

[2022-09-15 17:09] Rajpratik71 opened #112481 "Unable to access application using "service" name of kubernetes when using "hostNetwork""
### What happened?

Unable to access application using "service" name of kubernetes when using "hostNetwork" in Pod Spec.

### What did you expect to happen?

I should able to access the application using "service" name of kubernetes

### How can we reproduce it (as minimally and precisely as possible)?

Deploy the application using below spec

<details>
`
apiVersion: v1
kind: Pod
metadata:
  name

[2022-09-15 18:05] liggitt commented on #112408
For reference, https://github.com/golang/go/discussions/55090 got opened to discuss possible improvements on the golang side

[2022-09-15 18:05] weberc2-tempus commented on #88077
@Huang-Wei I'm running v1.23.8, and I've tried `--v=10` and I'm still not seeing any of the scoring output you added in https://github.com/kubernetes/kubernetes/pull/89384. Am I doing something wrong? Shouldn't this be available in v1.23?

[2022-09-15 18:16] dims commented on #76506
everything above 1 MB as of Sep 15, 2022

[code]

[2022-09-15 19:31] navratiljan commented on #96560
Is there a plan to implement this ? We would also like to use this feature

[2022-09-15 20:03] chrisjohnson commented on #67676
We just ran into the exact same scenario as above, and had the developer uncheck `Enable VirtioFS accelerated directory sharing` and it worked immediately. We could not explain the issue otherwise

[2022-09-15 20:36] ridavid2002 commented on #109754
/close

[2022-09-15 20:36] #109754 closed

[2022-09-15 20:49] PushkarJ commented on #112192
/area security
/kind bug
/committee security-response
/label official-cve-feed
/sig windows node
/area kubelet

[2022-09-15 20:54] PushkarJ commented on #112192
/close

(As latest kubernetes patch releases have the fixes)

[2022-09-15 20:54] #112192 closed

[2022-09-15 20:55] Huang-Wei commented on #88077
@weberc2-tempus is it possible there is only 1 node candidate after filtering? In that case, the scoring logic will be bypassed as it's meaningless to score for 1 node.

If it's not the case, could you check the beginning of the scheduler log, to ensure `--v=10` is configured properly?

[2022-09-15 20:56] Huang-Wei commented on #93270
/triage accepted

[2022-09-15 21:39] aojea commented on #112477
Pasting the reply here for visibility

another `if` here https://github.com/kubernetes-sigs/iptables-wrappers/blob/master/iptables-wrapper-installer.sh Dan :smile:

[2022-09-15 21:46] jamiezieziula commented on #83471
same issue running on GKE v1.24.2 & containerd v1.6.6.  Typically 1 node in our cluster will get stuck pulling an image from internal GCR.

[2022-09-15 22:04] aojea opened #112488 "Add more e2e test cases for other DNSPolicies"
https://github.com/kubernetes/kubernetes/blob/661899f1a14680840e06c84bc3ff46f73d203012/test/e2e/network/dns.go#L569

There are not e2e tests for some DNSPolicies

see: https://github.com/kubernetes/kubernetes/issues/112481

/help
/sig network

[2022-09-15 22:05] aojea commented on #112481
/sig network

we don't have good coverage, so someone should be able to repro to confirm it

[2022-09-15 22:33] #106401 closed

[2022-09-15 22:33] #112342 closed

[2022-09-15 23:49] SergeyKanzhelev commented on #111737
/remove-kind bug
/kind feature

There is no universal way for kubernetes to resolve this. If there is specific policy (like pick the first) that may work in certain scenarios, it may be implemented outside k8s.

/close

[2022-09-15 23:49] #111737 closed

[2022-09-16 00:20] akhilles opened #112491 "Allow for reuse of EndpointSlice controller code by making `controllerName` not const"
### What would you like to be added?

I'd like to be able to reuse the `k8s.io/kubernetes/pkg/controller/endpointslice` go module to build EndpointSlice controllers that can run outside of KCM.

Changing the [`controllerName`](https://github.com/kubernetes/kubernetes/blob/6824cd3addbb214e88e00f451babb8a44eb738d1/pkg/controller/endpointslice/endpointslice_controller.go#L76) variable from a `const`

[2022-09-16 00:21] akhilles commented on #112491
/sig network

[2022-09-16 00:39] bobbypage commented on #112459
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cadvisor-e2e/1570563079794593792

from https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cadvisor-e2e/1570563079794593792/build-log.txt
[code]

[2022-09-16 00:45] bobbypage commented on #112459
https://github.com/google/cadvisor/pull/3169 should fix this issue, let's watch the testgrid

[2022-09-16 00:53] #111854 closed

[2022-09-16 00:55] AbelHu commented on #112469
duplicated of https://github.com/kubernetes/kubernetes/issues/112192

[2022-09-16 03:32] MartinForReal commented on #109575
/remove-lifecycle stale

[2022-09-16 05:18] Rajpratik71 commented on #112481
@aojea  Same issue is obeserved in cluster created using "kubeadm".

[2022-09-16 05:29] chenk008 commented on #110114
I have the same doubts

[2022-09-16 07:06] mcorralb commented on #71869
/remove-lifecycle stale

[2022-09-16 07:33] #109450 closed

[2022-09-16 07:40] pacoxu commented on #112081
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-crio-cgroupv1-node-e2e-conformance/1563396196611919872

https://github.com/kubernetes/kubernetes/blob/6dd961bddc8ad749be390d9e84814104a31a6990/test/e2e/common/storage/configmap_volume.go#L118-L167

The test is simple
- create a configmap
- mount it in a pod
- edit the configmap
- check if the configmap mounted file is changed later

[2022-09-16 07:50] aojea commented on #112481
yeah, I tried to mean to reproduce the problem and explain the exact problem:
-  what is the `resolv.conf` inside the hostNetwork pod? it should the the cluster Service for dns
-  you can access the podIP, can you access the ClusterIP of the Service?
- ...

[2022-09-16 07:54] aojea commented on #112491
vendoring kubernetes/kubernetes is discouraged, I personally prefer to not allow people to import these core components and create this dependency ... you can always fork the code

/cc @robscott @thockin

for more opinions

[2022-09-16 08:48] aojea commented on #112441
what a mystery :thinking:

[2022-09-16 09:01] kon-angelo commented on #111006
Hello @andyzhangx. When we enable the CSI for a running cluster, we gradually introduce nodes with CSI enabled while we phase the old ones using the in-tree code.

During the transition period, the API Server is running with `CSIMigrationAzureDisk=true` featuregate. However only after every node is replaced we enable the  `InTreePluginAzureDiskUnregister=true` featuregate.

For your question, the

[2022-09-16 09:06] aojea commented on #112412
I thought about this twice, and I don't think we should tune the tests for running on constrained environments, this is a slippery slope, this environment is clearly constrained , there are also other issues reporting timeouts in this environment ...
we should not tune test just to pass

The skip based on etcd not supported may be reasonable though

[2022-09-16 09:39] andyzhangx commented on #111006
have you set `CSIMigration=true,CSIMigrationAzureDisk=true` for kube-controller-manager? if it's set, all requests would be handled by csi driver, kcm won't do disk attach/detach.

[2022-09-16 09:43] kon-angelo commented on #111006
@andyzhangx yes they were set. The logs of the KCM that I saw though had attach/detach messages printed.

[2022-09-16 09:49] #112412 closed

[2022-09-16 09:49] andyzhangx commented on #111006
but if old pod is in terminating state, it should tries to detach the disk, why would it attach the disk again? still confused for me.

[2022-09-16 10:01] kon-angelo commented on #111006
True, this is a weird behavior. The pod is terminating but the container is still running (ignoring SIGTERM). The volume is still in the node's attach and in-use list and I assume that KCM reconciles based on that information. If it did not try to reattach the volume, then this issue wouldn't happen.

[2022-09-16 10:41] aojea commented on #112323
I'm trying to understand this, how the options are merged if they are duplicated?

the man page for `search` is clear https://man7.org/linux/man-pages/man5/resolv.conf.5.html#:~:text=The%20different%20configuration%20options%20are,notation%20as%20per%20RFC%202373.

for `options` only says

it seems that apply the same logic to handle conflict if I try with this only the last option is used (same f

[2022-09-16 11:08] aojea commented on #112488
/assign

[2022-09-16 11:19] EricoCartmanez commented on #110177
You have to tweak containerd as shown [here](https://stackoverflow.com/a/73743910/8679627)

[code]

Then reboot the server

[2022-09-16 11:25] aojea commented on #112481
@Rajpratik71 I can't reproduce it, Services seems to resolve well to me on hotsNetwork pods with `ClusterFirstWithHostNet`, what happens if you do

[code]

inside the pod?

[2022-09-16 12:06] ncopa commented on #112477
I think the behavior is expected.

It is only a problem if kubelet reads/parses the iptables rules, which I don't think it does. I could not find any `iptables-save`in kubelet. There is an `iptables -C` though, but I think in worst case it will only end up adding a duplicate rule. I can try experiment with it a bit.

It means, "don't use any iptables newer than whatever is shipped with kube-proxy"

[2022-09-16 12:35] tkashem opened #112512 "Set v1beta3 as the storage version for flowconrol in 1.27"
### What happened?

- https://github.com/kubernetes/kubernetes/pull/112306 adds new version `v1beta3` for `flowcontrol.apiserver.k8s.io` in 1.26.
- For 1.26, we are setting the storage version to `v1beta2` because vN-1 understands that level.
- In 1.27, we should change the storage version from `v1beta2` to `v1beta3`.

[2022-09-16 12:42] pacoxu commented on #112323
Add a small warning in log maybe another option. We may document it with some details.

This is a little aggressive way.

[2022-09-16 12:42] tkashem commented on #112512
/sig api-machinery

[2022-09-16 12:43] tkashem commented on #112512
/cc @MikeSpreitzer

[2022-09-16 12:59] Rajpratik71 commented on #112481
Hi @aojea , I am talking about accessing deployed service using service name as shown below

![image](https://user-images.githubusercontent.com/12658912/190644376-2fb61a1a-b7fa-42df-8c9a-0cb54405db35.png)

[2022-09-16 13:05] tkashem commented on #112512
/cc @cici37

[2022-09-16 13:07] Rajpratik71 commented on #112481
Also, checked these, scenarios below

![image](https://user-images.githubusercontent.com/12658912/190645783-0fb89e7b-da79-4da2-a976-569eeb43cdb6.png)

[2022-09-16 13:14] enj opened #112513 "CVE-2022-3172: Aggregated API server can cause clients to be redirected (SSRF)"
CVSS Rating: [CVSS:3.1/AV:N/AC:H/PR:H/UI:R/S:C/C:L/I:L/A:L](https://www.first.org/cvss/calculator/3.1#CVSS:3.1/AV:N/AC:H/PR:H/UI:R/S:C/C:L/I:L/A:L) (5.1, medium)

A security issue was discovered in kube-apiserver that allows an aggregated API server to redirect client traffic to any URL.  This could lead to the client performing unexpected actions as well as forwarding the client's API server cred

[2022-09-16 13:22] tkashem commented on #111215
/cc

[2022-09-16 13:25] tkashem commented on #104842
/reopen

https://github.com/kubernetes/kubernetes/pull/107456 was reverted due to https://github.com/kubernetes/kubernetes/issues/107727.

[2022-09-16 13:43] liggitt commented on #107574
v1beta3 PR is open at https://github.com/kubernetes/kubernetes/issues/104842 ... should this be done there? are there other changes queued up that should be done in the v1beta3 bump?

[2022-09-16 13:50] aojea commented on #112481
:smile:  commented on the linked gist

this manifest is wrong , the selector of the service doesn't match the pod, thus there is no endpoints to forward the traffic.

[code]

You have to add a label to the Pod to match the service selector

https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service

[code]

/close

Thanks

[2022-09-16 13:50] #112481 closed

[2022-09-16 14:06] marseel commented on #110341
I think we can close this issue for now. It definitely improves this case.
/close

[2022-09-16 14:06] #110341 closed

[2022-09-16 14:23] aojea commented on #112477
yeah, based on your comments it seems is the `iptables-save | restore`  combo is the problematic one, kubelet doesn´t use that, but doesn't mean users are not doing that for another reasons and we'll break those users :/

I think that is more "if you use a containerized kube-proxy, don't use iptables newer if is not compatible with the kube-proxy iptables version" and "kubernetes 1.25 releases a k

[2022-09-16 14:35] rkojedzinszky commented on #112443
@wzshiming ping

[2022-09-16 14:36] #109397 closed

[2022-09-16 14:49] Rajpratik71 commented on #112481
thanks @aojea  for finding the issue and adding e2e test

[2022-09-16 14:54] tkashem commented on #107574
/assign

[2022-09-16 15:30] mimowo opened #112517 "When PodDIsruptionConditions enabled pods are not terminated based on the NoExecute taint"
### What happened?

For 1.25 clusters with PodDIsruptionConditions enabled pods continue to run if the node is tainted with untolerated NoExecute taint.

Also, the error is not logged.

### What did you expect to happen?

The pod running on the tainted node should be terminated

### How can we reproduce it (as minimally and precisely as possible)?

1. (prep) Create a 1.25 cluster with the `PodDisr

[2022-09-16 15:31] pkit commented on #75402
@tuapuikia I'm not sure I understand the answer: "use slow 3rd party network attached storage because EBS driver sucks?"

[2022-09-16 15:31] alculquicondor commented on #112517
/sig apps
/triage accepted
/priority important-soon

[2022-09-16 15:31] mimowo commented on #112517
/assign

[2022-09-16 16:32] wojtek-t commented on #107574
Yes - this should be done there.

Renaming of some fields is what we were discussing. From the KEP:

Those are the only two things that I'm aware of.

@tkashem - please take care of it
@liggitt - thanks for pointing on it

[2022-09-16 17:04] wzshiming commented on #112443
Sorry, I relooked closer, this is a known issue with unclear behavior, this behavior has changed once since 1.22, here is a PR #108941 to add a configuration to configure whether the Pod restarts or reschedules after a graceful shutdown.

[2022-09-16 17:57] MarkAndersonTrocme commented on #78761
Having the same issues with some HPA in 1.21 using API `autoscaling/v1`. Can anyone confirm if this is working better with `autoscaling/v2`?

[2022-09-16 18:20] SergeyKanzhelev commented on #111356
/remove-kind bug
/kind feature

I think oomkilling "small" bursteable pods is a good logic in general. Those are easier to reschedule and likely will cause less interruption. They are almost best effort in oom adjustment calculations.

As for the sidecars - it is a valid point that killing small sidecars of a large pod may be more disruptive and less efficient than smaller pod or smaller pod's sid

[2022-09-16 19:27] enj commented on #112513
/area security
/kind bug
/committee security-response
/label official-cve-feed
/sig api-machinery
/area apiserver
/triage accepted

[2022-09-16 19:38] ahg-g commented on #107598
This certainly is useful and offers a better API than the existing annotation-based feature, I think it should replace the existing one though and not get into the weeds of how they could co-exist.

My only concern is how job-like APIs which may not have a scale subresource will benefit from this.

I agree. I asked about it mainly because it was one of the reasons for the push back on the existing

[2022-09-16 19:50] #112488 closed

[2022-09-16 20:13] enj commented on #112513
Closing as all fixes have been released.

[2022-09-16 20:13] #112513 closed

[2022-09-16 20:59] SergeyKanzhelev commented on #112124
Apart the underlying problem, I want to understand if kubelet can be improved to handle this error. @danielcb you said kubelet consumes all memory and crashes. Do you mean kubelet as a process, or just the log file?

[2022-09-16 21:00] SergeyKanzhelev commented on #112124
/triage needs-information

Moving to needs information for now to get the full scope of the issue, but it feels like there is an error in kubelet with the log verbosity at least.

[2022-09-16 21:42] bobbypage commented on #112459
The testgrid are now green.

/close

[2022-09-16 21:42] #112459 closed

[2022-09-16 23:21] martin2176 opened #112523 "Kubernetes swap support alpha feature -errors out"
/sig node
### What happened?

Followed instructions to enable the alpha feature for kubernetes swap.
Azure AKS 1.24.3
Below is kubelet configuration

kubectl get nodes
NAME STATUS ROLES AGE VERSION
aks-npoolb2ms-73462207-vmss000000 Ready agent 22m v1.24.3

kubelet config

"failSwapOn": false,
"memorySwap": {
   "swapBehavior": "UnlimitedSwap"
    },
"featureGates": {
    "CSIMigration": true,

[2022-09-16 23:49] DavidHaltinner commented on #112124
I am not the reporter of the issue, but someone having the same. In my case it is kubelet itself consuming the memory. I have four nodes, out of three clusters, going into the downward spiral as we speak. in each case it is the kubelet process that takes the memory until the OOM reaper kicks in. I have added a script to drain and reboot the node when it reaches 3 GB free just to make things gentle

[2022-09-17 00:48] brandond opened #112524 "apiserver aggregation redirect rejection incorrectly fails on `304 Not Modified` responses"
### What happened?

Upgraded from Kubernetes v1.25.0 to v1.25.1. Standard metrics-server deployment now causes the following message to appear in the kube-apiserver logs on a recurring basis:

[code]

Adding a quick hack debug Infof print shows:

`I0917 00:46:32.431308      53 upgradeaware.go:267] Request for https://10.42.0.6:10250/openapi/v2 (&http.Request{Method:"GET", URL:(*url.URL)(0xc00577be

[2022-09-17 00:50] brandond commented on #112524
Taking a stab at some tags here...

/cc @jindijamie
/cc @deads2k
/cc liggitt
/area apiserver
/sig api-machinery

[2022-09-17 01:00] brandond commented on #112524
and also
/kind bug

[2022-09-17 01:15] liggitt commented on #112524
thanks for the report, looks like this should be

[code]

/priority critical-urgent
/kind regression
cc @kubernetes/release-managers since this requires a respin of a final 1.22 patch release :-/

[2022-09-17 01:27] liggitt commented on #112524
Fix open in https://github.com/kubernetes/kubernetes/pull/112526, will get cherry-picks open to start greening up CI

[2022-09-17 01:53] dims commented on #112459
thanks @bobbypage !

[2022-09-17 02:34] #112524 closed

[2022-09-17 03:21] SataQiu commented on #112273
This is not what we want to see. The dangerous of preemption an orphan Pod is that the deleted Pod cannot be traced back.
Rather than `Delete` the orphan Pod directly, maybe the scheduler should tell kubelet to kill the preempted orphan Pod, and mark it as `Evicted`.

[2022-09-17 05:07] aslanpour commented on #111929
Sorry for the late action. I added the endpointslice descriptions in the above issue details.

[2022-09-17 05:42] fab1an commented on #111386
@kunallanjewar Is there any news on this?

[2022-09-17 06:11] clux commented on #111985
This is pretty bad because it's not even a backwards-compatible change to serializers, it's a breaking change to at exactly 1.25:

### Serializing kind/apiVersion breaks on Kubernetes < 1.25
delete_collections returns:
[code]
### Not serializing kind/apiVersion breaks on Kubernetes >= 1.25
delete_collection returns:
[code]

So now we have to detect versions in non-IO/protocol level modules to do t

[2022-09-17 06:41] mkumatag opened #112539 "build constraints exclude all Go files error while running unit tests on linux/ppc64le platform"
### What happened?

[code]

Recent failed job : https://prow.ppc64le-cloud.org/view/gs/ppc64le-kubernetes/logs/periodic-kubernetes-unit-test-ppc64le/1570988961776537600

### What did you expect to happen?

Expected tests to be run fine without any issues

### How can we reproduce it (as minimally and precisely as possible)?

Run following command on any non-amd64/linux platform

[code]

### Anythi

[2022-09-17 06:42] mkumatag commented on #112539
/sig testing

[2022-09-17 06:48] mindw commented on #62078
/remove-lifecycle stale

[2022-09-17 10:00] #112539 closed

[2022-09-17 13:59] astraw99 opened #112541 "Got confusing errors when installing `kubelet` component"
### What happened?

When installing the latest `kubelet` component, got the error:
[code]

Then added the flag `--container-runtime-endpoint=unix:///var/run/docker.sock`, got error:
[code]

It is confusing to see these error msgs at the first glance, need to make it more clearly.

### What did you expect to happen?

Add the required field validation, and add more supportive error message.

### How

[2022-09-17 14:00] astraw99 commented on #112541
/sig node

[2022-09-17 14:44] Mayzee commented on #107418
@xiaodongcool  how did you fix this problem ? I met similar issue

[2022-09-17 15:33] liboz opened #112543 "matchLabelKeys in topologySpreadConstraints doesn't not print anything in kubectl describe"
### What happened?

I used `kubectl describe` on a pod with `topologySpreadConstraints`'s matchLabelKeys applied. I have the featuregate `MatchLabelKeysInPodTopologySpread` applied

### What did you expect to happen?

I expect some printed output that indicates that the config has been applied. I expect the code needs to be updated here https://github.com/kubernetes/kubernetes/blob/23a4920d83559ba

[2022-09-17 15:33] liboz opened #112730 "matchLabelKeys in topologySpreadConstraints doesn't not print anything in kubectl describe"
### What happened?

I used `kubectl describe` on a pod with `topologySpreadConstraints`'s matchLabelKeys applied. I have the featuregate `MatchLabelKeysInPodTopologySpread` applied

### What did you expect to happen?

I expect some printed output that indicates that the config has been applied. I expect the code needs to be updated here https://github.com/kubernetes/kubernetes/blob/23a4920d83559ba

[2022-09-17 16:09] wmastalerz commented on #50375
@ricardbejarano unfortunately the field  is in status.x.y section ...and is not writable.

[2022-09-18 04:13] flynnhandley commented on #111701
/assign

[2022-09-18 05:05] panpan0000 commented on #17512
# Assume unit CPU: m, Memory: Ki

  allocatable_cpu=$(kubectl describe node |grep Allocatable -A 5|grep cpu   | awk '{sum+=$NF;} END{print sum;}')
  allocatable_mem=$(kubectl describe node |grep Allocatable -A 5|grep memory| awk '{sum+=$NF;} END{print sum;}')
  ## the allocated resource in request field
  allocated_req_cpu=$(kubectl describe node |grep Allocated -A 5|grep cpu   | awk '{sum+=$2; }

[2022-09-18 08:44] pacoxu commented on #112523
/sig node

[2022-09-18 08:45] pacoxu commented on #112543
/sig cli

[2022-09-18 08:45] astraw99 opened #112548 "`Kubelet` run failed when fall back to CRI v1alpha2"
### What happened?

When installing the latest kubelet component, with the flag `--container-runtime-endpoint=unix:///run/containerd/containerd.sock`, got the error:
[code]

We can see "Falling back to CRI v1alpha2 runtime API (deprecated)" msg, but also got "failed to run Kubelet" in the `RunKubelet.createAndInitKubelet` step.

### What did you expect to happen?

We should check the CRI v1alpha2

[2022-09-18 08:49] astraw99 commented on #112548
/sig node

[2022-09-18 09:24] ialidzhikov commented on #110637
/remove-lifecycle stale

[2022-09-18 10:40] rohityadav78 opened #112550 "error in installing"
### What happened?

it is showing

On macOS with homebrew 'brew install bash' is sufficient.
make[1]: *** [.make/go-pkgdeps.mk] Error 1
make: *** [generated_files] Error 2

### What did you expect to happen?

it should run.

### How can we reproduce it (as minimally and precisely as possible)?

It looks like brew is trying to build the requested package (libwebp?) from source and the build is fail

[2022-09-18 10:49] rohityadav78 commented on #112548
i have found this issue solution on https://stackoverflow.com/questions/72741565/kubernetes-install-in-offline-mode-error-timeout-at-wait-control-plane

[2022-09-18 12:00] #90593 closed

[2022-09-18 16:36] danielcb commented on #112124
Can confirm everything @DavidHaltinner said. We have currently 3 clusters with this problem. All started with the upgrade to 1.24.* and all of them are running runc (1.1.4). Another cluster with the same setup and k8s version does not show this problem and uses crun.

[2022-09-18 18:03] #109445 closed

[2022-09-18 18:33] kaiyou commented on #106536
It seems etcd just backported and merged otel 1.x support in 3.5 : https://github.com/etcd-io/etcd/pull/14312

I believe we can try and make this work without waiting for etcd 3.6!

[2022-09-18 19:20] dims commented on #106536
See here @kaiyou @dashpole - https://github.com/kubernetes/kubernetes/pull/112545

[2022-09-18 20:05] #108760 closed

[2022-09-18 20:30] kaiyou commented on #106536
Oh thank you, I was already head down on the same track. I'll try and help with the PR if I can.

[2022-09-18 22:33] Davei7 commented on #14097
Good night,
I got the same issue while doing a native installation of Kubernetes. As this is an old thread, please give feedback which I will explain later. I was using token bootstrapping at the same time (challenging myself).

[2022-09-19 00:09] #100698 closed

[2022-09-19 02:53] kerthcet commented on #110065
/remove-lifecycle rotten

[2022-09-19 04:34] MikeSpreitzer commented on #107574
That field renaming should be part of the PR that introduces borrowing.

[2022-09-19 06:16] ardaguclu commented on #112543
/transfer kubectl
/triage accepted

[2022-09-19 06:18] ardaguclu commented on #110870
@allensiho  `kubectl cp` is the way to copy files between pods. as @249043822 stated `kubectl debug` copies from pod-template.

/close

[2022-09-19 06:18] #110870 closed

[2022-09-19 06:52] euroelessar commented on #112307
It feels that `isRunningAndAvailable` should be used in the if condition instead of `isHealthy` here:
https://github.com/kubernetes/kubernetes/blob/127f33f63d118d8d61bebaba2a240c60f71c824a/pkg/controller/statefulset/stateful_set_control.go#L614-L623

@krmayankk Any thoughts? Does it match your expectation?
If yes, I can prepare a pull request to address it.

[2022-09-19 07:52] lexisworkingout commented on #99205
Hi, for now, is it still not able to use `patch_priority_class()` to update the value of priority class and apply it automatically to running pods?

[2022-09-19 08:20] mengjiao-liu commented on #109355
/close

[2022-09-19 08:20] #109355 closed

[2022-09-19 08:45] hobbytp commented on #68397
From https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/#rollingupdatestatefulsetstrategy-v1-apps, I found maxUnavailable is already there, so I think "maxUnavailable" is already supported in StatefulSet RollingUpdate.
There is also a blog https://kubernetes.io/blog/2022/05/27/maxunavailable-for-statefulset/, so seems k8s v1.24 supports it.

[2022-09-19 09:12] #109537 closed

[2022-09-19 09:14] #112411 closed

[2022-09-19 09:24] Slyke commented on #112411
@neolit123 there is no load balancer. This is reproducible every time I have tried it. Wasn't able to figure out why and everything is working fine on v1.23.4, so sticking to that version.

[2022-09-19 09:30] #111183 closed

[2022-09-19 09:57] zlcnju opened #112560 "Add the enabled field to NetworkPolicy"
Sometimes, I want to disable the networkpolicy temporarily. Now, I must delete it or edit it to match none. I wonder why not we add a field to control it

[2022-09-19 10:01] arrowfeng opened #112561 "How does a Pod whose QOS level is Burstable realize the exclusive use of one of the container's CPUs?"
### What happened?

There are multiple containers in a Pod with a QOS level of Burstable. How does one container implement CPU exclusiveness, and the other containers use the shared pool through CPUManager？

https://github.com/kubernetes/kubernetes/blob/a4ad8f4154bb07be9cbb98d12d82c51afaffeac6/pkg/kubelet/cm/cpumanager/policy_static.go#L361-L373

### What did you expect to happen?

For a pod with

[2022-09-19 10:02] arrowfeng commented on #112561
/sig node
/area kubelet

[2022-09-19 10:20] Abhishek-akg commented on #112326
/assign

[2022-09-19 10:34] pkit opened #112562 "Reopen of #60298 : PVC is in Lost status suddenly"
### What happened?

PVC is in Lost status suddenly. Was working fine before in 1.21

### What did you expect to happen?

See #60298

### How can we reproduce it (as minimally and precisely as possible)?

See #60298

### Anything else we need to know?

The core claim of #60298 was:

Let's check the conditions:
- PVC.Spec.VolumeName gets set to ""
[code]
it is false

- The PV got deleted
[code]
is f

[2022-09-19 10:48] rtheis commented on #102569
/remove-lifecycle stale

[2022-09-19 11:23] Rajalakshmi-Girish commented on #112442
We are running the conformance suite on a multi-node cluster(one master and two workers) created with 32Gb Memory and 0.5 cores processor for each node.
I am not sure if this would be underresourced for the conformance suite. @aojea can you please help in understanding  the resource requirements for running the conformance suite against ci/latest in ` k8s-release-dev`

@aojea do you mean the bug h

[2022-09-19 12:13] aojea commented on #112442
My bad, sorry, I should not have assumed that

[2022-09-19 12:20] cynepco3hahue commented on #112395
Agree with @fromanirh at least we should give time and proper notification to device plugin owners, so:
1. revert it for now
2. add a deprecation message under device manager, that will inform plugins owners to update their device plugins(and probably we also should have updated documentation that will explain the correct way to initialize now the device plugin)
3. revert the revert after one or t

[2022-09-19 12:25] aojea commented on #112442
Those tests are completely green on the other jobs, and they use to be affected by environmental constraints problems, that is why I assumed wrongly it was the same environment.

This job install external components like Calico,  and these tests only seem to fail in this job , and ppc64 is not officially supported... I can't help much here, happy to answer questions though (if I can help )

[2022-09-19 12:39] mkumatag commented on #112442
Here is exact error for this failure:

[code]

Seems like it is timing out while reaching to the node port service running on `32615` on node `192.168.160.102`.

[2022-09-19 12:53] danwinship commented on #112477
I'm arguing that the behavior in 1.8.8 is a bug, and that it should presumably be fixed in 1.8.9, after which you will again be able to use any combination of iptables versions 1.8.3-1.8.7 and 1.8.9+. (The iptables maintainers are currently arguing against this, but I'm going to continue arguing against them.)

If the behavior in 1.8.8 is not declared a bug, then we probably need to accelerate (an

[2022-09-19 13:07] danwinship commented on #112477
@ncopa can you get a copy of "`iptables-save-1.8.7 | grep KUBE-FIREWALL`", "`iptables-save-1.8.8 | grep KUBE-FIREWALL`" and "`nft list ruleset | awk '/KUBE-FIREWALL/,/}/'`" from when the bug is occurring? (I think that nft command line should pull out just the KUBE-FIREWALL-relevant parts of the "nft list ruleset" output, but if that fails then just do a full "`nft list ruleset`" and copy out the

[2022-09-19 13:21] alculquicondor commented on #99205
Correct. There are not enough contributors to work on this.

[2022-09-19 13:55] gillesdouaire commented on #112333
@pacoxu Using the "kube nodes delete... --force" approach, I was able to reproduce on a Kubernetes cluster running 1.23.10.

Same behaviour: all the pods stuck in NodeAffinity are assigned to the same node and remain unready.

[2022-09-19 13:55] kerthcet commented on #112412
Met this again when running `TestCleanup`, see https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/112563/pull-kubernetes-unit/1571820258535149568

[2022-09-19 14:08] aojea commented on #112412
this is for the ppc64le specific problem, we should open a new one for this test

https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1&test=TestCleanup

it seems there were 2 occurrences more

[2022-09-19 14:13] aojea commented on #112442
yeah, the underlay network or a constrained environment use to be the usual suspects , but those things use to hit randomly, if is consistent,  there was a bug in IBM platforms and openshift CI,  related to security groups dropping packets ... just throwing ideas

[2022-09-19 14:25] kerthcet opened #112569 "`pull-kubernetes-unit` failed by `TestCleanup`"
### Which jobs are flaking?

Log detail: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/112563/pull-kubernetes-unit/1571820258535149568

Aggregated failures see: https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1&test=TestCleanup

### Which tests are flaking?

TestCleanup

### Since when has it been flaking?

From the aggregated failures, it fails since 9/10, occasionally.

[2022-09-19 14:25] kerthcet commented on #112412
For tracking, opened a new issue here https://github.com/kubernetes/kubernetes/issues/112569.

[2022-09-19 14:39] mkumatag commented on #112442
It's not consistent, that's what driving me crazy.. security group is not involved here, it's all in the same private network.

I guess something wrong with interpod connection, will debug this further..

[2022-09-19 14:43] claudiubelu opened #112570 "getNestedMountpoints may not group mountpoints correctly"
### What happened?

``getNestedMountpoints`` [1] relies on ``sort.Strings`` to have all the mount points sorted and grouped. For example, the following strings are sorted in this exact order:

[code]

With the current implementation, ``getNestedMountpoints``, an incorrect set of nested directories would be returned. For example, if we add the ``nested-vol`` and ``nested.vol`` volume mounts into th

[2022-09-19 14:47] aojea commented on #112442
those are the most difficult ones ... I can't see components logs on the job, if you have kube-proxy logs that may give us a hint

[2022-09-19 14:49] aojea commented on #112569
Thanks for opening it, let's track it for a week to see the trend

[2022-09-19 14:50] mkumatag commented on #112442
unfortunately have haven't implemented `DumpClusterLogs` for the kubetest2 plugin we wrote :( will try to repro manually and get the logs..

[2022-09-19 14:52] aojea commented on #112442
I suggest to discard the obvious first, last time you had a problem that was solved updating calico https://github.com/kubernetes/kubernetes/issues/106264#issuecomment-973116671

[2022-09-19 14:54] mkumatag commented on #112442
good point, @Rajalakshmi-Girish ^^

[2022-09-19 15:23] dims commented on #106422
[code]

[2022-09-19 15:39] cove opened #112572 "Question: Where are the scaling limits coming from?"
Given the following limits:

- No more than 110 pods per node
- No more than 5000 nodes
- No more than 150000 total pods
- No more than 300000 total containers

Is there an explanation as to what the hard scaling bottlenecks are? I'm assuming it's not clearly understood since it's a complex system, but the numbers are also specific, especially 110 pods. So they're coming from somewhere.

Generally

[2022-09-19 15:54] astraw99 commented on #110158
I also encountered this issue:
[code]

Solved by check the `/data` dir, it is just not exist, so I created it manually, then the pod running ok.

[2022-09-19 15:55] weberc2-tempus opened #112573 "scheduler: `ImageLocality` seems to ignore image pull progress"
### What happened?

It seems like the scheduler considers two nodes to have the same score even when one node has the image fully pulled and the other has only just begun to pull the image, resulting in long pod startup times, especially for slow-pulling images. I can't 100% tell if the issue is with the ImageLocality plugin, because I'm not sure how to get scoring information (I tried `--v=10`, b

[2022-09-19 15:56] weberc2-tempus commented on #112573
/sig scheduling

[2022-09-19 16:02] pohly commented on #112569
The most recent failure in https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1&test=TestCleanup is from 9/12, which might have been before https://github.com/kubernetes/kubernetes/pull/112389 was merged.

[code]

That's what the PR should have fixed.

[2022-09-19 16:10] Jefftree commented on #111985
https://github.com/kubernetes/kubernetes/pull/110110: This seems to be the culprit, though I need to do some more investigation to understand the problem.

cc @sxllwx

[2022-09-19 16:44] dims opened #112574 "fsnotify/fsnotify needs help"
Please see https://github.com/fsnotify/fsnotify/issues/413 Looks like there is a new maintainer https://github.com/fsnotify/fsnotify/commits/main but we need to keep an eye on the project.

Also we are using version `v1.4.9` and latest is `v1.5.4`, so we need to update to newer version at least.

Differences are https://github.com/fsnotify/fsnotify/compare/v1.4.9...v1.5.4

/area code-organization

[2022-09-19 16:44] dims commented on #112574
cc @pacoxu perhaps?

[2022-09-19 17:11] mythi commented on #112395
1.-3. sounds overkill if it's just one plugin that was not following the doc and needs fixing.

[2022-09-19 17:37] Socolin commented on #57291
I have same problem, we process user input that may put the app in an invalid state, and we need to restart it immediately. We designed the system with this behavior (each pod process one thing at a time reading work from a queue), but the fact that it take more and more time to restart each time is very annoying.

[2022-09-19 19:05] AndrewUnderwoodAtFanatics commented on #110999
I haven't been able to identify what the existing mechanism might be for allowing port-forwarding but not pod creation.  If someone had details to share around how this can be achieved, that would be helpful.

[2022-09-19 19:13] Rajalakshmi-Girish commented on #112442
[kube-proxy-logs.txt](https://github.com/kubernetes/kubernetes/files/9601717/kube-proxy-logs.txt)
[kubelet.txt](https://github.com/kubernetes/kubernetes/files/9601743/kubelet.txt)

@aojea any clue from these logs, please?
We could retain an environment where this flakiness can be reproduced!

[2022-09-19 20:01] SergeyKanzhelev commented on #108144
/remove-lifecycle rotten

either one of these two issues should be tracking this.

[2022-09-19 20:11] SergeyKanzhelev commented on #108144
Yes

No, in the `Configure_Containerd_CniNetworking` the setting `sandbox_image` needs to be specified in containerd config

[2022-09-19 20:26] SergeyKanzhelev commented on #108804
/remove-lifecycle stale

Not sure which test I was referring to before. Now this can be see here: https://k8s-testgrid.appspot.com/sig-node-containerd#containerd-node-e2e-features-1.6

[2022-09-19 21:15] Huang-Wei commented on #112273
Scheduler can directly mark it as Evicted, with its own message to distinguish from kubelet's eviction. But in this case, it's a design change for preemption: deleting pods physically vs. evicting pods and leaving their pods in "Evicted" state. May need to send out a survey to gather feedback before we make the change. And need to evaluate the benefits vs. code changes.

[2022-09-19 21:16] #98876 closed

[2022-09-19 21:18] marosset commented on #104562
/remove-lifecycle stale

This will be addressed w/ containerd v1.7+

[2022-09-19 21:18] marosset commented on #104562
/triage accepted

[2022-09-19 21:21] SergeyKanzhelev commented on #50375
/reopen

since it has so much interest and was closed because of stale robot, I am reopening to continue discussion.

I still have a scenario question (apart from technical limitations). Is the counter cleaning needed when some external dependency was fixed or when the pod got somehow updated to resolve the issue?

[2022-09-19 22:08] rphillips commented on #102537
/close

Pods need a readiness probe to fail during the termination process to go unready. I believe we can close this in favor of the website issue https://github.com/kubernetes/website/issues/30765

[2022-09-19 22:08] #102537 closed

[2022-09-19 22:11] rphillips commented on #106735
The kubelet creates a log file with the ${restartCount}.log; not a random number. When the kubelet rotates the log, then old log files are cleaned up. After the pod is removed from the disk (via a GC or API delete), then all the pod logs are removed.

We should be able to close this issue.

/close

[2022-09-19 23:11] vitorfhc commented on #105678
Hey @pohly
I am not sure how updated the list is, but I am available to help.
Is there any part I could start or continue?

[2022-09-20 00:18] yxxhero commented on #106047
/remove-lifecycle stale

[2022-09-20 01:08] Riaankl opened #112585 "Write e2e test for Read, Replace ReplicationController scale endpoints +2 Endpoints"
# Progress <code>[4/6]</code>

-   [X] APISnoop org-flow: [ReplicationControllerScaleTest.org](https://github.com/apisnoop/ticket-writing/blob/master/CoreV1ReplicationControllerScaleTest.org)
-   [X] Test approval issue: #112585
-   [X] Test PR: #112586
-   [x] Two weeks soak start date: [testgrid-link](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=5&graph-metric

[2022-09-20 01:15] Riaankl commented on #112585
/triage accepted

[2022-09-20 01:44] kerthcet commented on #103132
/remove-lifecycle stale

[2022-09-20 02:10] pacoxu commented on #112333
Does this mean that you delete a node and restart the kubelet several times?
1. kubectl delete node <Node1> --force
2. restart kubelet on Node1

Can you share a sample pod yaml on that node with NodeAffinity state?

[2022-09-20 02:15] #106536 closed

[2022-09-20 02:17] #109422 closed

[2022-09-20 03:34] instantlinux commented on #112131
And for those of us still using `docker-ce`, the workaround syntax is:
[code]

[2022-09-20 04:08] pacoxu opened #112594 "Failure cluster [f6cf3d64...]: TestStalePodDisruption"
### Failure cluster [f6cf3d64597d15b0b262](https://go.k8s.io/triage#f6cf3d64597d15b0b262)

##### Error text:
[code]
#### Recent failures:
[2022/9/8 04:20:19 ci-kubernetes-unit](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-unit/1567608212939608064)
[2022/9/3 13:25:13 ci-kubernetes-generate-make-test-count10](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-gene

[2022-09-20 04:18] aojea commented on #112442
nothing suspicious on the logs

if is an intermittent network problem you have to repro and trace all the path from the origin to the destination to check where it is failing, it seems all tests involve `session affinity for NodePort ` , and those are tricky: CNI, underlay network or iptables can be possible candidates

[2022-09-20 04:22] aojea commented on #112594
@alculquicondor can you PTAL, it seems this test was added in https://github.com/kubernetes/kubernetes/pull/111475

It doesn't seem to have a high rate of failure , but seems flakes are legit

[2022-09-20 04:28] msau42 commented on #111755
This is an intentional design limitation of the storage capacity feature cc @pohly

[2022-09-20 04:34] msau42 commented on #111755
I wonder if we can make a tradeoff in the scheduler and compare the sum of the capacities against the reported value when a maxVolumeSize is not reported by the driver.

[2022-09-20 04:43] aojea commented on #112569
Sept 12, 2.27 pm GMT+2

[code]

/close

Thanks both for reporting these things and for the quick answer

[2022-09-20 04:43] #112569 closed

[2022-09-20 04:47] AndrewUnderwoodAtFanatics commented on #110999
I think this article was the source of my confusion.

From the article:

[code]

Having read it before I saw that the `role` was providing `create` for both `pods` and `pods/portforward` and with the explanation in the article, I took that at face value to mean that create was required for both resources.

I just cobbled together a quick test without pod create and it appears to be working:

[code

[2022-09-20 05:00] kerthcet commented on #112569
One more question, I met this error yesterday, but the pr was merged several days ago. How to explain this?

[2022-09-20 05:08] aojea commented on #112569
right, this one https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/112563/pull-kubernetes-unit/1571820258535149568

the logs show that 2 test fail, we know this specific test is very demanding in terms of resources and the logs shows the boostrap is timing out

the second test fails because of a timeout

if is an occurrence only, and 2 different tests present timeout issues, it is most pr

[2022-09-20 05:21] jeffmccune commented on #61572
Here's a funny one-liner that doesn't require anything except ruby.  It pulls the pem encoded CA cert out of  `/api/v1/namespaces/kube-public/configmaps/cluster-info`.

[code]

[2022-09-20 05:47] kerthcet commented on #112569
Thanks for explaining.

[2022-09-20 06:24] Spenhouet commented on #24725
This is the whole point why we need this. We want the pod to lose the reservation. The pod blocks our limited GPU resources and we want them to be free for other pods. Having the deployments not exit out blocks our resources.

[2022-09-20 06:32] kerthcet commented on #93500
/remove-lifecycle stale

[2022-09-20 06:45] sanposhiho commented on #111309
Discussion in https://github.com/kubernetes/kubernetes/pull/111212#discussion_r923318022 makes sense to me, let me close it.

/close

[2022-09-20 06:45] #111309 closed

[2022-09-20 07:05] #109732 closed

[2022-09-20 07:30] george-angel commented on #106946
/remove-lifecycle stale

[2022-09-20 07:32] pohly commented on #111755
The kube-scheduler does not know how a CSI driver manages storage and in the general case cannot do such a computation.

It is possible to make assumptions like "storage is linear", but then we still need a full description of what that means and how to configure it so that this assumption is only made for CSI drivers where it actually holds => this is outside of the original KEP, a new one will b

[2022-09-20 08:10] pacoxu commented on #112562
/sig storage

[2022-09-20 08:10] Bamul19 commented on #112477
/assign @danwinship

[2022-09-20 08:13] Bamul19 commented on #112573
@assign/weberc2-tempus

[2022-09-20 08:13] pacoxu commented on #112550
/kind support

hi, this seems like a support request.

please see:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-09-20 08:39] andybe commented on #112131
To speak about pricipals:

Standard Images shoud be tagged on the root level:

This reference is the default:

[code]
by my kubeadm.yml

[2022-09-20 08:52] Nintorac commented on #81020
For me in EKS I had a taint on the node, this stopped the `ebs-csi-controller` from scheduling on that node

[2022-09-20 09:35] JiayangZhou commented on #105204
Getting similar warning across our cluster, the errors are generally formatted as  `MountVolume.SetUp failed for volume "<secret_name>" : object "<namespace>"/"<secret_name>" not registered` This impacts the jobs of which need the to access the content in mounted volumes.

Cluster:1.22.4

[2022-09-20 10:03] pacoxu commented on #112574
https://github.com/fsnotify/fsnotify/blob/main/CHANGELOG.md#154---2022-04-25
Only several bug were fixed from 1.5.0 to 1.5.4.

https://github.com/fsnotify/fsnotify/blob/main/CHANGELOG.md#unreleased
More PRs were merged after 1.5.4 which is unreleased yet.

[2022-09-20 10:40] kerthcet commented on #88634
Can anyone tell me what unaddressed issues we left here?

[2022-09-20 11:31] Shubham82 commented on #112010
@kubernetes/sig-apps-pr-reviews: could you please take a look at this issue?

[2022-09-20 12:34] gavriellan-ma commented on #79224
+1 reopen

[2022-09-20 12:42] jnummelin commented on #112477
@danwinship I've been working with @ncopa debugging this

Here's what I can see with 1.8.8:
[code]
Dropping 1.8.7 into the host gets me this:
[code]

Looking directly with `nft`:
[code]

[2022-09-20 13:01] businessbean opened #112601 "MountVolume.SetUp failed during restart after forced pod deletion"
### What happened?

After a `scale replicas=0` followed by forced pod deletion (to skip the `terminationGracePeriodSeconds`) and than a `scale replicas=3` to "restart" the pods in a statefulset the used worker nodes run into volume mount problems.

[code]

The cinder block devices before mounted as `/dev/sdb` and `/dev/sdc` have been mounted as `/dev/sdd` and `/dev/sde` or vice versa. The OS alrea

[2022-09-20 13:03] businessbean commented on #112601
/sig node
/sig storage

[2022-09-20 13:07] Bamul19 commented on #112573
/assign

[2022-09-20 13:09] Ed87 opened #112602 "Alpine container error /bin/sh upload.sh not found even after installing bash"
I am facing an error when attempting to run a bash script inside an alpine container :

`/bin/sh: upload.sh: not found`

This is happening despite that I have already installed bash as in the Dockerfile below :

[code]

The script upload.sh :
[code]

And the deployment :

`apiVersion: v1
kind: Pod
metadata:
  name: alpine
  namespace: labs
spec:
  serviceAccountName: alpine
  containers:
  - image

[2022-09-20 13:16] NoicFank commented on #109958
/close

see https://github.com/kubernetes/kubernetes/issues/14393

[2022-09-20 13:16] #109958 closed

[2022-09-20 13:33] Nuckal777 commented on #112601
I have debugged this with @businessbean a bit. I suspect that the following happens:
1. After scaling down the pods start terminating, but keep running due to long preStop hooks and a high `terminationGracePeriodSeconds`
2. Force deleting the pods with `--grace-period=0` removes the pods from the API, but it does not change anything else. [Due to force deletion using the `terminationGracePeriodSec

[2022-09-20 13:39] alculquicondor commented on #112594
/assign

[2022-09-20 13:48] alculquicondor commented on #109894
Does this lead to unschedulable pods or is this just for debugging purposes?

[2022-09-20 14:11] danwinship opened #112604 "kube-proxy loses track of some changes if iptables-restore fails"
In each iteration of `syncProxyRules`, kube-proxy (iptables backend) does:

[code]

Specifically:
1. It has to call `proxier.serviceMap.Update(proxier.serviceChanges)` first, to update `proxier.serviceMap` with the pending changes, so that it will build the correct set of iptables rules.
2. Calling `proxier.serviceMap.Update(proxier.serviceChanges)` also returns information about stale services, a

[2022-09-20 14:30] sanposhiho commented on #109894
We uses `PodScheduled` condition in a custom plugin.

_Mostly_ No in the real cluster. Only for a very short time (from the scheduler schedules a Pod to kubelet next updates a pod) our plugin does not behave as expected and may make some pods unschedulable.

But, when it comes to e2e testing, this bug can be troublesome.
In our e2e testing, we don't run kubelet, and no one updates Pods after the s

[2022-09-20 15:01] Bamul19 commented on #112325
/assign

[2022-09-20 15:09] #109894 closed

[2022-09-20 15:27] alculquicondor commented on #88634
The extenders API is not something we want to maintain. Unless there is an important use-case that can't be covered with the scheduling framework, I suggest that we close this issue.

[2022-09-20 15:46] mimowo opened #112605 "Awkward pod status message for admission errors due to node-pressure condition"
### What happened?

When a Pod admission fails due to node-pressure condition then the Pod's `status.message` looks like this:
"Pod The node had condition: [DiskPressure]."
The "Pod The node..." reads awkward.

### What did you expect to happen?

A message like: "The node had condition: [DiskPressure].".

### How can we reproduce it (as minimally and precisely as possible)?

1. Run a job with a po

[2022-09-20 15:55] lavalamp commented on #61572
File a bug report against k3s? I'm surprised this doesn't cause conformance test failures?

[2022-09-20 16:02] liggitt commented on #61572
fwiw, it's been checked in conformance tests since 1.21:

[code]

[2022-09-20 16:03] SergeyKanzhelev commented on #112605
/sig node
/triage accepted
/priority backlog

[2022-09-20 16:03] jeffmccune commented on #61572
@liggitt FYI, I first tried to pull kube-root-ca.crt, but that config map isn't available anonymously.  `cluster-info` is the only one I could find that's anonymously available.

[2022-09-20 16:03] liggitt commented on #61572
oh, I missed what that comment was referring to... the kube-public configmap is only set up by some tools, not universally ... I think kubeadm uses it but other tools may not

[2022-09-20 16:05] liggitt commented on #61572
I will note that fetching a CA from a server without verifying SSL so you can use the result to verify a connection back to the same server is sort of nonsensical

[2022-09-20 16:08] jeffmccune commented on #61572
Let's focus on the issue of getting the cert in the first place.  Verifying it is a separate concern.  Today, it's not possible to get the ca cert in a sensible way.  I had to stand up an ingress and nginx just to copy the ca.crt file out of the config map and into /usr/share/nginx/html/ca.crt so I could serve it up, which is for sure nonsensical.

[2022-09-20 16:12] vinaykul commented on #109905
/remove-lifecycle rotten

[2022-09-20 16:14] kerthcet commented on #88634
As advised, let us close this issue and reopen if needed. cc @damemi
/close

[2022-09-20 16:14] #88634 closed

[2022-09-20 16:57] swatisehgal commented on #112395
I tend to agree that the new semantics (starting gRPC server before registration) are more intuitive and correct.

Based the following points, I am inclining towards the latter (sticking to the new semantics and updating device plugins impacted by this change):

- the documentation already captures the correct ordering
- the plugin that brought this issue to light has already been updated
- a plug

[2022-09-20 17:10] bronger commented on #24725
As pointed out earlier, then even a more permissive restartPolicy would not help you. You have to open a new issue.

[2022-09-20 17:30] mattcary opened #112606 "Kubelet mount path cleanup can get confused depending on kubelet root mount point"
See https://issuetracker.google.com/193168335.

This happens on ubuntu images on GKE when the node ephemeral storage is on local SSD.

/sig storage
/assign @mattcary

[2022-09-20 17:31] mattcary commented on #112606
/triage accepted

[2022-09-20 18:12] Jeffwan commented on #112264
@vinaykul I figure out the problem in our internal version the major reason is the cgroup update and reconcile are separate loops. The first reconcile loop after the update can not retrieve the up-to-date status. This leads a problem that it has to rely on kubelet `—sync-frequency` (default 60s) to sync the pod and then update the status. I can help commit the improvement

[2022-09-20 18:16] chrishenzie commented on #103132
Status update -- I'm tackling this in 1.26

[2022-09-20 18:33] vitorfhc commented on #112605
The first part (`Pod The node had condition: [DiskPressure]`) is returned here: [eviction_manager.go](https://github.com/kubernetes/kubernetes/blob/9c9b29032f76e39b0e36200c88fe2f127389a9fe/pkg/kubelet/eviction/eviction_manager.go#L170-L174).

I wonder where the `Pod` is being appended to the beginning. It's my first try to contribute, so I am a little bit lost.

[2022-09-20 19:07] yydzhou commented on #109955
Any update on this?
We are using k8s v1.22.13 and hit same problem as well
Logs from kubelet
`
"2673b9c2-b342-4c5d-ac6a-535c1d56c565")
Sep 19 14:01:06 n62-108-72 kubelet[3178]: I0919 14:01:06.533476    3178 reconciler.go:269] "operationExecutor.MountVolume started for volume \"pvc-785e53f4-e72e-4326-9e70-e8e881fad471\" (UniqueName: \"kubernetes.io/csi/gitops-platform-storage.rbd.csi.ceph.com^0001-

[2022-09-20 19:08] hoyhbx opened #112609 "Empty `nodeSelectorTerms` should be valid values according to the document, but considered as invalid value when creating pod and at Python Client Library"
### What happened?

Kubernetes servers and its Python client use different validation rules as described in the documentation against the `nodeSelectorTerms` field. Specifying empty values for the field `nodeSelectorTerms` results in invalid rejected pod spec and causes exception on the Python Client Library

### What did you expect to happen?

Specifying `nodeSelectorTerms` is one of many ways to

[2022-09-20 19:10] hoyhbx commented on #112609
/sig api-machinery

[2022-09-20 19:26] jnummelin commented on #112477
I'm not versed enough on nft rules to even start guessing... :)

This is with fresh install of 1.25 when the host has 1.8.8 in nftables mode. It works perfectly with legacy mode, we've used that for a good while. Things started to break once we changed our embedded (k0s distro) iptables to nftables mode. We caught this in our smoke test on Alpine and have been testing on various OSes since.

[2022-09-20 19:34] alculquicondor commented on #112594
fix: #112610

side note: it's really hard to make it fail in a fast machine :) I had to temporarily add a sleep in the reconciler.

[2022-09-20 20:10] leilajal commented on #112609
/sig apps

[2022-09-20 20:10] leilajal commented on #112512
/triage accepted

[2022-09-20 20:12] leilajal commented on #112524
/triage accepted

[2022-09-20 20:19] marosset commented on #111416
/close

I've got a cluster running with containerd `v1.6.8` and I am seeing stats for host-process containers.

ex:

[code]

kubectl get pod -n kube-system containerd-logger-8dlgx -o yaml

[code]

[2022-09-20 20:19] #111416 closed

[2022-09-20 20:21] marosset commented on #112111
/cc @dcantah @brasmith-ms

[2022-09-20 20:21] AndrewUnderwoodAtFanatics commented on #110999
Confirmed!  It appears the minimum viable permission set to allow port-forwarding to a pod and services is

[code]

Thanks all!

[2022-09-20 20:21] aojea commented on #112594
have you tried Jordan's instructions compiling and running with `stress`  https://gist.github.com/liggitt/6a3a2217fa5f846b52519acfc0ffece0#running-unit-tests-to-reproduce-flakes ?

for integration you should have an external etcd instance

[2022-09-20 20:31] aojea commented on #110999
Thanks for testing and documenting it

/close

[2022-09-20 20:31] #110999 closed

[2022-09-20 21:12] bobbypage commented on #109998
/cc

[2022-09-20 21:18] alculquicondor commented on #112594
I hadn't. Good to know for next time :)

[2022-09-20 21:38] khenidak commented on #112171
I think at minimum we should be able to run it with CAP_NET_ADMIN not CAP_SYS_ADMIN. That at least limits the blast radius while we consider all options provided here: https://github.com/kubernetes/kubernetes/issues/112171#issuecomment-1234778318

/assign

[2022-09-20 21:45] khenidak commented on #111820
I would also look at keep alive configuration between the plain VM and Kubernetes nodes.

is this Oracle server too busy? I am trying to understand why do you have so many DUP ACK between two machines seemingly on the same LAN.

[2022-09-20 21:45] khenidak commented on #111820
/assign

[2022-09-20 22:29] #104549 closed

[2022-09-20 23:02] thockin commented on #111824
I revised a previous drawing.  I am still not 100% on the taint part (see https://github.com/kubernetes/autoscaler/issues/5201)

![Node_LB_states_v2](https://user-images.githubusercontent.com/5595220/191379738-eda75c58-0d44-4083-a556-e9d823ebd3cb.png)

[2022-09-21 00:20] bobbypage opened #112612 "ci-kubernetes-node-kubelet-serial-containerd failing device plugin test - Device Plugin [Feature:DevicePluginProbe][NodeFeature:DevicePluginProbe][Serial] DevicePlugin [Serial] [Disruptive] Can schedule a pod that requires a device"
### Which jobs are failing?

https://testgrid.k8s.io/sig-node-release-blocking#node-kubelet-serial-containerd

### Which tests are failing?

Device Plugin [Feature:DevicePluginProbe][NodeFeature:DevicePluginProbe][Serial] DevicePlugin [Serial] [Disruptive] Can schedule a pod that requires a device

### Since when has it been failing?

It appears a bit flaky on testgrid, but more recently been fail

[2022-09-21 00:21] thockin commented on #112323
I still can't find any spec that says how this is SUPPOSED to work, and I share @aojea's concerns that this is likely to break someone somewhere.

Did someone encounter this in the wild?  Does it REALLY make sense to copy ALL of the options from the host config?  Does it make sense to copy ANY of them?  Looking at the man page, they seem very specific and maybe we should just leave them alone.

Wh

[2022-09-21 00:32] bobbypage commented on #112612
/cc @swatisehgal @fromanirh

[2022-09-21 00:37] BenTheElder commented on #112453
This isn't sensitive.
It's not a secret image, we just need to test pulling from an authenticated registry
/close

[2022-09-21 00:37] #112453 closed

[2022-09-21 00:40] BenTheElder commented on #112453
Thanks for the report, but we're just testing the mechanics of pulling with a secret, it's intended that this is shared for this purpose. It only permits pulling the test image.

[2022-09-21 02:21] jclab-joseph opened #112614 "Cannot access UDP service via ClusterIP from the host"
### What happened?

Cannot access UDP service via ClsuterIP from the host.

Failing to query kube-dns from Pods with `hostNetwork: true` .

### What did you expect to happen?

Pods with host or `hostNetwork: true` should be able to reach kube-dns .

### How can we reproduce it (as minimally and precisely as possible)?

**pod.yaml**

[code]

In pod:
[code]

If not `hostNetwork: true` it works fine.

[2022-09-21 02:27] pacoxu commented on #112323
I found that there is a logic to merging DNS options in the pod DNS spec generating process. So I followed the logic.

If the pod is using `dnsPolicy:Default` with `dnsConfig.options`, the current kubelet will merge the node's last option line in `/etc/resolv.conf` with `dnsConfig.options`.

https://github.com/kubernetes/kubernetes/blob/127f33f63d118d8d61bebaba2a240c60f71c824a/pkg/kubelet/network/

[2022-09-21 02:31] SataQiu commented on #112273
+1 for mark the preempted orphan Pod as `Evicted`.
As for the regular Pod, I think it's ok to just delete it when it is preempted, as the parent controller will manage it automatically.

[2022-09-21 03:10] aravindb26 commented on #112453
Yeah here an attacker might pull any malicious file then?

[2022-09-21 03:20] pacoxu commented on #112602
/kind support

In Pod spec, the mount path will be overwrite by the volume. Removing the mount path or change the mount path dir would fix it.
[code]

please see https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
/close

[2022-09-21 03:20] #112602 closed

[2022-09-21 03:34] pacoxu commented on #112572
Add the data reference: https://kubernetes.io/docs/setup/best-practices/cluster-large/

[2022-09-21 04:10] cvvz commented on #112016
`azuredisk-csi-driver v2` may provide a solution to work around this situation:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/design-v2.md

[2022-09-21 04:52] vinaykul commented on #112264
/assign @Jeffwan

[2022-09-21 05:26] BLasan commented on #98368
@howardjohn Any updates on this?

[2022-09-21 05:42] aojea commented on #112614
so, the original packet is 10.0.0.100/10.96.0.100 and it gets translated to 172.21.202.0/172.30.194.167.

The dns service IP is 10.96.0.100 and the podIP for the dns is 172.30.194.162.

The host have one IP is that is 10.0.0.100 and it have this 172.21.202.0 that should be another IP in the host (maybe masquerading external traffic)

In UDP, if there are multiple IPs, unless you bind to the addres

[2022-09-21 05:46] BenTheElder commented on #112453
There's not any malicious files to pull, there's one test image that requires this credential to pull. We use this to test that Kubernetes can pass credentials to the container runtimes in end to end tests.

[2022-09-21 05:46] BenTheElder commented on #112453
The registry this credential allows access to is for tests only and only contains the single test image used for this purpose.

[2022-09-21 06:52] mimowo commented on #112605
I think this a candidate place which might be responsible for the prefix (but haven't checked): https://github.com/kubernetes/kubernetes/blob/17c5066625f278f33e475cdf5ebcbaf4818f5649/pkg/kubelet/kubelet.go#L1963
I would suggest you to try to reproduce the issue locally first then experiment with modifying the code.

[2022-09-21 06:58] YuxiJin-tobeyjin commented on #52757
Well, I'm just trying to figure out what this `timeSlicing` method accomplishes, from my standpoint it has neither isolation nor weight, is there any improvement over [#52757 (comment)](https://github.com/kubernetes/kubernetes/issues/52757#issuecomment-402772200), Thanks.

[2022-09-21 06:59] barrettj12 opened #112621 "Output of `kubectl describe pod` formats incorrectly"
**What happened**:
Output of `kubectl describe pod` formats incorrectly.
[code]
Probably a bug in the formatting code.

**What you expected to happen**:
Display the output more nicely, e.g.
[code]

**How to reproduce it (as minimally and precisely as possible)**:

TBD

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`):
[code]
- Cl

[2022-09-21 07:23] aravindb26 commented on #112453
Ok

[2022-09-21 07:36] jclab-joseph commented on #112614
[code]

No related packets are captured with tcpdump.

[code]

[2022-09-21 07:42] pacoxu opened #112619 "ci-kubernetes-unit-windows-master failed for control plane related pathes"
### Failure cluster [25c8b663a00fcb07d441](https://go.k8s.io/triage#25c8b663a00fcb07d441)
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-unit-windows-master/1569279943479660544

##### Error text:
[code]
#### Recent failures:
[2022/9/12 19:01:12 ci-kubernetes-unit-windows-master](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-unit-windows-master/156927994347966

[2022-09-21 08:03] neolit123 commented on #112619
thanks for having a look @pacoxu

[2022-09-21 08:21] aojea commented on #112614
you have a conntrack entry with port 53, there has to be packets on that port

[2022-09-21 08:32] pacoxu commented on #101695
@dgl is working on this. #112553 is open.

[2022-09-21 08:43] ialidzhikov commented on #112171
Okay, maybe I referenced the wrong chart. Where is the referenced/exposed kube-proxy chart? Is there something like this? I assume that kube-proxy runs in privileged mode there as well.

---

Okay but the whole approach by disabling is a hack/workaround. In https://github.com/kubernetes/kubernetes/issues/112171#issue-1358314085 I wrote:

The long-lived container should not deal with sysctls. For e

[2022-09-21 08:47] ardaguclu commented on #112621
/sig scheduler

[2022-09-21 08:48] ardaguclu commented on #112621
/sig scheduling

[2022-09-21 08:49] jclab-joseph commented on #112614
Yes, it is my mistake.
Packets sent, but do not return.

One more thing I checked, it works if I have Pods on the same node, but not between different nodes.

[code]

[2022-09-21 08:55] martinstraesser opened #112622 "kube-system pods keep crashing after few minutes on Debian 11"
### What happened?

I am trying create a kubernetes cluster with kubeadm with the latest releases on Debian 11 machines. `kubeadm init` succeeds and master node becomes ready as expected. However, after few minutes all `kube-system` pods begin crashing. Some of them succeed to restart, but a certain time no pod is running anymore (incl. `kube-apiserver`).

After analysis, it seems like a cascading

[2022-09-21 08:57] martinstraesser commented on #112622
/sig node
/sig cluster-lifecycle

[2022-09-21 09:08] neolit123 commented on #112622
/kind support
/remove-kind bug

removing until a bug is confirmed.
please try collecting etcd logs. it could be some resource starvation on the host. also try searching the etcd repository for similar etcd log entries.

[2022-09-21 09:37] martinstraesser commented on #112622
Here are the logs from the crashed etcd and kube-apiserver containers

kube-apiserver

<details>

[code]
</details>

etcd
<details>

[code]
</details>

[2022-09-21 10:25] pacoxu commented on #92287
See the new proposal in https://github.com/kubernetes/enhancements/pull/3004.

[2022-09-21 10:56] git831458 opened #112628 "user-agent is being overridden as kube-probe/1.22"
### What happened?

We are passing custom value under "user-agent" header while calling a kubernetes service hosted on azure. But when requests reaches to target application pods , value of the header is coming as "kube-probe/1.22 or kube-probe/1.23" instead of the actual value passed from the calling application.

### What did you expect to happen?

"user-agent" should not be overriden and origin

[2022-09-21 11:15] jeromeza commented on #65233
$ kubectl describe pvc -A | grep -E "Name|StorageClass|Used"

Name:          ocs-deviceset-lso-volumeset-0-data-1b45dn
Namespace:     openshift-storage
StorageClass:  lso-volumeset
Used By:       rook-ceph-osd-1-6c8c74dcd5-8fwpd

Also useful ^

[2022-09-21 11:26] kerthcet commented on #109739
Submitted a KEP here, if you have interest with this, feel free to provide any advices. kindly ping @yiwenshao

[2022-09-21 11:30] neolit123 commented on #112622
these warnings seem relevant. make sure etcd can serve on these ports / ips.

[2022-09-21 12:22] fromanirh commented on #112395
So the[ device plugin flow](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/#device-plugin-implementation) was documented in its current form (which is not broken by the change we're discussing) [since 2018](https://github.com/kubernetes/website/commit/169aadbbe185b6c42c8f2a4e8066548903b72d12)

Then yes, my initial reaction is overtuned. It would probably h

[2022-09-21 12:23] danwinship commented on #112477
Can anyone confirm that
- kube 1.25
- ipvs proxy
- iptables 1.8.7 in nft mode

works correctly?

[2022-09-21 12:34] abby-gourlay opened #112630 "EmptyDir not being cleaned up after pod terminated with open file handles"
### What happened?

When pods are being terminated on our nodes they're getting stuck in the terminating state and review of the kubelet logs shows that it's unable to delete the emptyDir we have defined for this pod, as there is another process using the folder

[code]
Reviewing the open file handles on the system it appears to only be kubelet that has one as all the containers within this pod ha

[2022-09-21 13:04] abby-gourlay commented on #112630
/sig node
/sig storage
/sig windows

[2022-09-21 13:06] vitorfhc commented on #112605
/assign

[2022-09-21 13:12] uablrek commented on #112477
I don't run the kube-proxy container, but start kube-proxy directly on the node with a script. I guess that's not what you want since the problem seems to be host-container version mismatch, but I can test any combination if my setup is ok.

[2022-09-21 13:56] howardjohn commented on #98368
I am not going to be able to work on this unfortunately. I thought it just needed kubectl client changes, but it appears it will need api-server changes which is a much broader scope than I have time to commit to

[2022-09-21 14:12] uablrek commented on #112477
It works in my env. But I also have kernel linux-5.19.9, and build iptables myself, so sorry I don't think I can make relevant tests.

[2022-09-21 14:18] martinstraesser commented on #112622
the interesting line seems to this in my opinion:

{"level":"info","ts":"2022-09-21T09:24:28.345Z","caller":"osutil/interrupt_unix.go:64","msg":"received signal; shutting down","signal":"terminated"}

the question why is why this is executed. The warnings later appear after the terminate message.

[2022-09-21 14:37] HirazawaUi commented on #112621
I think I fixed the bug, waiting for the reviewer to review the PR, hope it helps you

[2022-09-21 14:38] aojea commented on #112171
there is no such thing, each installer/project:kubeadm, kops, openshift, ... pick their choices and way of deploying it.

I see your point now. kube-proxy is released as a single binary, you can't assume kube-proxy is containerized, despite most people use it that way. I don't know if you can remove these sysctls without making breaking changes.

Also, kube-proxy is one particular implementation o

[2022-09-21 14:49] gillesdouaire commented on #112333
Only the first step; once the node is deleted, the provider will have a new node respawn, and then pods will be reassigned OR will fall in the NodeAffinity state.

The pods I had left in NodeAffinity state have been flushed (spot VMs were restarted), so I will need to re-generate a case, will post it here as soon as I have the data from a pod yaml.

[2022-09-21 15:09] sanposhiho commented on #112621
I believe this bug has been already fixed in https://github.com/kubernetes/kubernetes/pull/112029.

[2022-09-21 15:11] sbextenwcu opened #112642 "Unable to Get or Delete Job"
### What happened?

Was working with the Python Kubernetes client trying to figure out how to delete and create jobs automatically. Ran the following code:
`from kubernetes import client, config

config.load_incluster_config()
batch_v1 = client.BatchV1Api()
api_response = batch_v1.delete_namespaced_job(
    name="dbt-run",
    namespace="default",
    body=client.V1DeleteOptions(
        propagati

[2022-09-21 15:27] alculquicondor commented on #106802
maybe kind of related kubernetes/enhancements#2869

[2022-09-21 15:34] jsafrane commented on #98815
Yes, we do not plan to remove flex volumes. But we plan to fix only very important bugs there and we will not add new features (like snapshots, volume health, ...)

Is there a better word for it than "deprecated"?

[2022-09-21 15:57] HirazawaUi commented on #112621
Thanks for the reminder, I have closed my PR

[2022-09-21 16:04] apelisse commented on #111924
I don't think we can, one is only supposed to server-side apply the fields they care about. We could build a patch with the difference that you're trying to apply, I don't know if it's practical. What problem are you trying to solve?

[2022-09-21 16:04] apelisse commented on #111924
/triage accepted

[2022-09-21 16:06] BLasan commented on #98368
Oh, but I think this feature might be useful. I can take a look into this but need a guidance. Or else better to take up this feature by someone who knows the scope exactly

[2022-09-21 16:08] sbueringer commented on #108768
Ah perfect, that's just as good for me, probably even better :)

[2022-09-21 16:12] apelisse commented on #108768
Awesome, I'm going to close that for now then if you don't mind ...
And I'll leave this KEP here for prosperity: https://github.com/kubernetes/enhancements/issues/2885

[2022-09-21 16:12] #108768 closed

[2022-09-21 16:17] thockin commented on #112323
Absent a real user who is really impacted by this, my inclination is to (again) do nothing.  The risk of breakage is non-zero.  The reward is zero (nobody is complaining, IIUC).

[2022-09-21 16:23] dims commented on #98815
"frozen" perhaps? :)

[2022-09-21 16:29] cailynse commented on #109077
Hello @pacoxu! Bug Triage shadow here - I wanted to check in and see if this issue is still on track for 1.26?

[2022-09-21 16:30] cailynse commented on #108649
Hello @marosset and @iXinqi! Bug Triage shadow here - I wanted to check in and see if this issue is still on track for 1.26?

[2022-09-21 17:15] SergeyKanzhelev commented on #112612
/triage accepted
/assign  @swatisehgal
/priority important-soon

[2022-09-21 17:17] SergeyKanzhelev commented on #111876
/assign @mmiranda96
/triage accepted
/priority important-soon

[2022-09-21 17:19] SergeyKanzhelev commented on #109317
/close

not failing any longer

[2022-09-21 17:19] #109317 closed

[2022-09-21 17:20] SergeyKanzhelev commented on #109703
@akankshakumari393 are you still interested? Sorry for delay replying

[2022-09-21 17:26] SergeyKanzhelev commented on #112630
/remove-sig storage
/remove-sig node

I'd let sig windows to look at it first and triage

[2022-09-21 17:27] akankshakumari393 commented on #109703
@SergeyKanzhelev yes I would work on it. Thanks

[2022-09-21 17:31] SergeyKanzhelev commented on #112601
/triage accepted

seems to have enough details. But I think SIG Storage needs to look at it first.

[2022-09-21 17:38] SergeyKanzhelev commented on #112523
/triage accepted

@martin2176 what is cgroup version is being used?

[2022-09-21 17:39] SergeyKanzhelev commented on #112523
/priority important-longterm

[2022-09-21 17:41] SergeyKanzhelev commented on #112541
kubelet 1.24+ is not working with the docker, unless using https://github.com/Mirantis/cri-dockerd Are you using it? If not, try switching to other available container runtimes. Please re-open if you have further questions

/close

[2022-09-21 17:41] #112541 closed

[2022-09-21 17:42] SergeyKanzhelev commented on #112548
How have you installed containerd? Have you enabled CRI on it?

/remove-kind bug
/kind support

/close

[2022-09-21 17:42] #112548 closed

[2022-09-21 17:44] SergeyKanzhelev commented on #112561
/assign @swatisehgal
/remove-kind bug
/kind support

[2022-09-21 17:48] SergeyKanzhelev commented on #112119
/assign @fromanirh

interesting what kind of consistency we can provide for freshly removed or newly scheduled pods as well.

/triage accepted

to take a look at what can be improved

[2022-09-21 17:49] SergeyKanzhelev commented on #109998
/triage accepted

[2022-09-21 17:50] SergeyKanzhelev commented on #109998
when the issue was reported, 1.22 was still supported. Now with 1.25 release it is out of support. Can anybody who had repro try 1.23+?

[2022-09-21 17:51] marosset commented on #79950
Let me check if this is still an issue with containerd.

[2022-09-21 17:51] SergeyKanzhelev commented on #111553
/triage accepted

[2022-09-21 17:52] SergeyKanzhelev commented on #111385
/triage accepted

[2022-09-21 17:57] SergeyKanzhelev commented on #112124
/cc @rphillips

Can you please take a look?

[2022-09-21 17:59] SergeyKanzhelev commented on #112221
@tarun-asthana can you please try the never versions as suggested and report back. Otherwise we will close the issue as lacking information. Thank you

[2022-09-21 18:12] swatisehgal commented on #112561
If there is a strict requirement that the pod must belong to Burstable QoS class, the answer would be that it is not possible. For a pod to be allocated CPUs exclusively CPU Manager should be configured with [static policy](https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/#static-policy) and the pod MUST belong to guaranteed QoS class (which means total request == total

[2022-09-21 18:14] swatisehgal commented on #112561
In the above example, the pod belongs to guaranteed QoS as total resource request  == total resource limits.

[2022-09-21 18:16] martin2176 commented on #112523
cgroup version1
See below:
going by https://rootlesscontaine.rs/getting-started/common/cgroup2/  to identify is using cgroup2
ls -al /sys/fs/cgroup/cgroup.controllers
ls: cannot access '/sys/fs/cgroup/cgroup.controllers': No such file or directory

[2022-09-21 18:30] vitorfhc commented on #112605
@mimowo thanks, I've managed to reproduce and used Delve to make sure who's responsible.

I opened the [PR](https://github.com/kubernetes/kubernetes/pull/112644) changing the message. If it's accepted it will change to `Pod rejected: The node had condition: [DiskPressure]`.

[2022-09-21 18:32] RGB314 opened #112645 "Java VM Arguments (File Names) - Cannot Resolve Current Timestamp"
### What happened?

## ISSUE
For my k8s app, I specify the JVM options as an environment variable in the k8s YAML (below). This has been giving issues where the pod crashes on container start-up (running Linux) as the command substitution isn't working as expected.

**ENV VAR**
[code]

**ERROR LOGS on container startup**
[code]

<hr>

### SUB-ISSUE
The earlier config was `-XX:HeapDumpPath=/logs/he

[2022-09-21 18:33] howardjohn opened #112646 "Performance enhacement: avoid duplicate list allocation during List calls"
Today, when calling .List on a Lister, we have a decent chunk of wasteful allocations/copies.

At the base, we have https://github.com/kubernetes/client-go/blob/2fd4aac19007b97ef5b22d045b5615e2094200a1/tools/cache/thread_safe_store.go#L101 building a `[]interface{}`.

This is called by https://github.com/kubernetes/client-go/blob/2fd4aac19007b97ef5b22d045b5615e2094200a1/tools/cache/store.go#L182

[2022-09-21 18:37] howardjohn opened #112647 "Performance enhancement: optimize simple Labels to Selectors"
A common pattern in Kubernetes (both internally and in third party usage) is something like:

[code]
(this is from the `endpointslice_controller`).

This is commonly called at a fairly high rate; in our case we would actually end up seeing this account for significant portions of CPU/memory to compute the `Selector` and run `Matches` on it.

In our controller, as an optimization, we replaced usage

[2022-09-21 18:43] RGB314 commented on #112645
Apologies. I'm not aware of which group to choose or how to add one as label as it's my first issue.

[2022-09-21 18:57] rphillips commented on #112443
This could be a bug in kubeadm. The kubelet service file [[source](https://github.com/kubernetes/kubeadm/blob/5f13a39e3759c898ae94b56e828487740570dfac/kinder/pkg/build/bits/initBits.go#L284-L295)] may need stanza's in the [Unit] section:

[code]

This will allow kubelet to get the shutdown notification first, destroy the pods and post their statuses, prior to the node's network being shutdown. The

[2022-09-21 19:15] rphillips commented on #112124
I opened a PR to fix the reported issue of log spam. https://github.com/kubernetes/kubernetes/pull/112650

[2022-09-21 19:21] rphillips commented on #112124
/triage accepted

[2022-09-21 19:31] haosdent commented on #112323
Hi, @thockin  actually I am impacted by this (in production services) 😂. And looks like I am not the first user who raise this, as other issues link to this thread.

[2022-09-21 19:54] alexander-ding opened #112651 "Setting Windows HostProcess causes agnhost to crash"
### What happened?

I was able to create a deployment running `k8s.gcr.io/e2e-test-images/agnhost:2.33` on a Windows node successfully, but for some reason, setting the security context of the pod to be a Windows host process causes the image to crash, complaining that it fails to find the executable.
![image](https://user-images.githubusercontent.com/22578848/191597658-cef99d24-183a-4e55-81ac-e0d

[2022-09-21 19:54] haosdent commented on #112323
@aojea Thanks for your input, I checked muslc and verified via code, muslc would parse all options if we write multiple line `options`.
https://github.com/kraj/musl/blob/master/src/network/resolvconf.c#L41-L61

[code]

[2022-09-21 19:56] alexander-ding commented on #112651
/sig windows

[2022-09-21 20:34] jnatale11 commented on #7890
/remove-lifecycle stale

[2022-09-21 20:41] marosset commented on #112651
I think the issue is probalby related to the **command** being set to `/anghost` in the image.
For regular Windows containers the contents of the container image show up at `c:\` but for HostProcessContainers (at least with current versions of containerd) they show up in a unique directory. `%CONTAINER_SANDBOX_MOUNT_POINT%` points to this unique directory for host process containers.

Can you try

[2022-09-21 21:04] alexander-ding commented on #112651
Yeah! That worked for me :D thank you

/close

[2022-09-21 21:04] #112651 closed

[2022-09-21 21:21] SergeyKanzhelev commented on #112443
@rphillips very interesting guess.

/cc @neolit123

[2022-09-21 21:22] SergeyKanzhelev commented on #112443
@rkojedzinszky can you try it?

[2022-09-21 21:23] #112594 closed

[2022-09-21 21:43] SergeyKanzhelev commented on #110955
I wasn't around for a while and we closed this during triage. If you have any more context, please add it here and reopen or file a separate bug please. With the details it currently have it is not very actionable. Thank you!

[2022-09-21 23:41] Riaankl opened #112657 "Eligibility for Conformance testing of Authorization endpoints"
#### Reason for the Issue:
We are in a process of cleaning up technical debt for API Endpoints that are not conformance tested.
There are 3 Authorization endpoints on the [list of untested endpoints](https://apisnoop.cncf.io/conformance-progress/endpoints/1.26.0/?filter=untested):
- createAuthorizationV1SubjectAccessReview
- createAuthorizationV1NamespacedLocalSubjectAccessReview
- createAuthoriza

[2022-09-21 23:51] dims commented on #112431
@lachie83 @CecileRobertMichon @jsturtevant - Any idea what's going on there?

- github.com/Azure/go-autorest
- github.com/Azure/azure-sdk-for-go
- github.com/Azure/go-ansiterm

the k/k repository has references to these in its `go mod graph`:
[code]

[2022-09-22 00:12] Riaankl commented on #112657
/triage accepted

[2022-09-22 00:16] Riaankl commented on #112657
/sig auth
/assign @enj @deads2k

[2022-09-22 00:18] BenTheElder commented on #108028
https://github.com/systemd/systemd/pull/24086 / https://lists.freedesktop.org/archives/systemd-devel/2022-July/048115.html via https://github.com/containerd/containerd/issues/7319 (all worth noting for folks in this thread)

[2022-09-22 01:03] feiskyer commented on #112431
thanks for raising the issue, we are actively working on it

/sig cloud-provider
/area provider/azure

[2022-09-22 01:08] dims commented on #104821
still stuff to do here!

[code]

[2022-09-22 02:08] xing-yang commented on #98815
Submitted a PR to clarify the CSI adapter project for Flexvolume is archived: https://github.com/kubernetes/community/pull/6890

[2022-09-22 02:24] pacoxu commented on #109077
Yes. I will follow up https://github.com/kubernetes/kubernetes/pull/111660 later, and there are still CI failures to be fixed.

[2022-09-22 02:38] YuikoTakada commented on #110956
@pacoxu Thank you for sharing information.
Originally we wanted to do is limiting resource usage in namespace. And this problem has been solved by using `LimitRange` (which @pacoxu has shared) instead of `ResourceQuota`.
So, we currently don't use `ResourceQuota` anymore.
That means, is there no use case for `ResourceQuota` ? Or some people still need `ResourceQuota` ? If so, for what reason they

[2022-09-22 02:43] domeales-paloit commented on #75817
I suppose you could also have a small/simple initContainer that waits until the time you want the job to run? It would use some resources, but I suppose you could minimise them.

[2022-09-22 03:02] sanposhiho commented on #68701
/reopen
/remove-lifecycle rotten

Seems still valid. Even if we don't implement it, the current behavior should be documented at least.

[2022-09-22 03:15] pacoxu commented on #112124
/kind bug

[2022-09-22 03:29] astraw99 commented on #112548
@SergeyKanzhelev Did not enable CRI (containerd), so need to add CRI check by the fix PR: https://github.com/kubernetes/kubernetes/pull/112549
PTAL thanks.

[2022-09-22 03:32] astraw99 commented on #112541
@SergeyKanzhelev Yes, I got to know the `cri-dockerd`, so need to add runtime validation by the fix PR: https://github.com/kubernetes/kubernetes/pull/112542
PTAL thanks.

[2022-09-22 04:44] rkojedzinszky commented on #112443
Actually, I already have those in my Service definition. This is in line with kubelet logs. I was reading kubelet logs from remote, until kubelet did exit, and only after it got the network disconnected.

[code]
[code]
[code]

[2022-09-22 04:54] Rajalakshmi-Girish commented on #112442
@aojea I tried running this suite on the latest version of calico (v.3.24.0). But it is flaking there too!
https://prow.ppc64le-cloud.org/view/gs/ppc64le-kubernetes/logs/test-periodic-kubernetes-containerd-conformance-test-ppc64le/1572596481464995840

[2022-09-22 05:10] vsxen commented on #112622
https://github.com/kubernetes/kubernetes/issues/110177

[2022-09-22 05:33] BenTheElder commented on #112645
[code]

`$(date)` is shell code to evaluate and interpolate the output of the date command, but it conflicts with data dependent environment variables in Kubernetes https://kubernetes.io/docs/tasks/inject-data-application/define-interdependent-environment-variables/

You can either escape it with `$$(date` or instead you can do something like:

[code]

/remove-kind bug
/kind support

Please prefer

[2022-09-22 05:37] aojea commented on #112442
@Rajalakshmi-Girish can you try to run with this patch?

https://github.com/kubernetes/kubernetes/pull/112663

[2022-09-22 05:37] BenTheElder commented on #112572
Partially: Defaults (pod node limit) + testing (5k node scale tests, we're just not advertising larger than the project tests).

GKE for example has customers with 15k nodes, but Kubernetes the project tests up to 5k nodes and thus only advertises this scale that we know it can reach on an ongoing basis, which already gets rather expensive to test.

https://kubernetes.io/docs/reference/command-lin

[2022-09-22 05:39] BenTheElder commented on #112572
AFAIK none of these are hard limits, they're the advertised limits that we test and expect it to reach.

Reaching more may take some effort though, large or small.

Such as tuning the `--max-pods` flag (and ensuring other tuning on the node such that the node can actually handle more pods, including kernel limits like pids, inotify watches, and related Kubernetes configuration such as the size of

[2022-09-22 05:42] BenTheElder commented on #112628
kube-probe is the user agent of the probes used for liveness probes etc, nothing in upstream open source kubernetes is rewriting requests coming from applications.

[2022-09-22 05:42] horihel commented on #78446
/remove-lifecycle rotten

i'm not too sure about this though as I was the only one that came up with a use case

[2022-09-22 05:50] kerthcet commented on #112621
Since it's not a critical bug just some outputs, no need to cherry pick, close then.
/close

[2022-09-22 05:50] #112621 closed

[2022-09-22 06:02] akhilerm commented on #108028
systemd support on wsl was [announced](https://devblogs.microsoft.com/commandline/systemd-support-is-now-available-in-wsl/) recently, so the docker desktop with wsl may also have started migration

[2022-09-22 06:03] kerthcet opened #112664 "pull-kubernetes-unit failed by `TestRateLimitHealthcheck`"
### Which jobs are flaking?

log details: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/112025/pull-kubernetes-unit/1572802923430154240

[code]

### Which tests are flaking?

TestRateLimitHealthcheck

### Since when has it been flaking?

Haven't found any history since August in https://storage.googleapis.com/k8s-triage/index.html?date=2022-08-01&test=TestRateLimitHealthcheck

### Te

[2022-09-22 06:16] bobbypage commented on #111621
Docs were updated in https://kubernetes.io/docs/concepts/architecture/cgroups/#requirements

[2022-09-22 06:16] bobbypage commented on #111621
/close

[2022-09-22 06:16] #111621 closed

[2022-09-22 06:29] xuchen-xiaoying commented on #112119
I think if the request is served from kubelet itself instead of proxying to apiserver, It has unavoidable latency  compared with pods in etcd.

However, at least could we guarantee the consistence with existing containers from runtime?

@fromanirh look forward to your advice.

[2022-09-22 06:39] neolit123 commented on #112443
there have been back and forth discussions of what is right and wrong in the kubelet unit files. if you'd like to make a change you can pr k/release.

something to note is that it will affect all k8s patch releases.

[2022-09-22 06:39] aojea commented on #112664
I've added the test recently, let me check

[2022-09-22 06:44] fredkan commented on #92460
It seems the errors happens as the same time as the etcd snapshot action. So this maybe the issue of etcd performance.

you can add the renewDeadline of your leaderselections configs to tolerate the long time duration.

[2022-09-22 06:46] aojea commented on #112664
there is not record of failure https://storage.googleapis.com/k8s-triage/index.html?pr=1&test=TestRateLimitHealthcheck

we don't use to consider flake until it has more than one occurrence, bear in mind that there are external factors that can make test fail and we shoul account for that

[2022-09-22 06:49] aojea commented on #112664
I will check this one though, there can be a race waiting for etcd to run or something
/assign

[2022-09-22 06:51] SergeyKanzhelev commented on #112443
@rkojedzinszky can you please try to emulate the shutdown by sending command like `dbus-send --system /org/freedesktop/login1 org.freedesktop.login1.Manager.PrepareForShutdown boolean:true`. I wonder if this is a slow down in marking pods failed or they will never be marked as such.

@neolit123 thank you!

[2022-09-22 07:03] kerthcet commented on #112664
Absolutely, as I said in description, ` if it's caused by infra error, we can close this.`, but it's rare to see flaky ones in unit tests.

[2022-09-22 07:03] kerthcet commented on #112664
Keep in mind that!

[2022-09-22 07:20] sanposhiho commented on #68701
@Huang-Wei I can take over it if you like.

[2022-09-22 07:43] spacepluk commented on #78446
I think the grafana issue is very common, or at least there's a lot of people talking about it if you google it.
FWIW I run into it daily and would like to see it fixed hehe

[2022-09-22 08:28] uablrek commented on #108065
@VivekThrivikraman-est Still an issue? If so, remove the rotten label

[2022-09-22 09:06] rkojedzinszky commented on #112443
Here I issue `systemctl reboot`, and kubelet seems to exit really early:

https://asciinema.org/a/523111

[2022-09-22 09:21] jlsong01 commented on #112119
Did the returned pod list contain kubelet static pods only? or any other pod additionally?

[2022-09-22 09:55] RGB314 commented on #112645
Thanks @BenTheElder!

1. Using `$$(date)` still gives the same error on start-up - I did a `kubectl edit deployment` if it matters.
2. How would the alternative work for `exec startup.sh` - in some cases the script comes with the vendor product's image which sets VM arguments internally?
3. What do you think about the sub-issue - `%t` and `%p`?

[2022-09-22 10:53] Rajalakshmi-Girish commented on #112442
@aojea It is failing even with this patch.
I re-created `e2e.test` binary with this change. Steps I followed:
[code]
ginkgo --nodes=4 --until-it-fails e2e.test -- --kubeconfig=<PATH of kubeconfig> --ginkgo.focus="Services\ should\ have\ session\ affinity" --report-dir=/root/artifacts

[2022-09-22 12:02] pietro-marrone-dka commented on #40846
Would be nice to reopen

[2022-09-22 13:14] mckirk commented on #61406
In case anybody else runs into this problem, the solution for me was to use double quotes around the jsonpath expression and single quotes around the `'\n',` which is also mentioned on the [JSONPath Support](https://kubernetes.io/docs/reference/kubectl/jsonpath/) page:

[2022-09-22 13:34] alculquicondor commented on #109739
High level question: did you consider using the scheduling framework instead?

[2022-09-22 13:41] aojea commented on #112442
How is the output error with that patch?

[2022-09-22 14:20] arrowfeng commented on #112561
Thanks for your answer, I got it, only guaranteed QoS can be allocated CPUs exclusively.

[2022-09-22 14:20] #112561 closed

[2022-09-22 15:01] 111andre111 commented on #94825
Hi folks,
I still have this issue in most recent Kubernetes 1.24.6.
cAdvisor 0.44.0 that fix [google/cadvisor/pull/3018](https://github.com/google/cadvisor/pull/3018) went into that version, is now a long time ago already in 1.24.0.
            https://github.com/kubernetes/kubernetes/pull/109029  Dep bump to runc 1.1.0, cadvisor 0.44.0
            https://github.com/kubernetes/kubernetes/pull/109

[2022-09-22 15:21] ahmetb opened #112677 "docs: inotify behavior on atomic configMap/secret volumes is not documented"
**Background:**
Kubernetes [automatically updates](https://kubernetes.io/docs/concepts/configuration/secret/#mounted-secrets-are-updated-automatically) files on mounted `secret` and `configMap` volume types, as respective Secret/ConfigMap resources change.

**Problem:**
When someone runs a program on Kubernetes watching filesystem updates on `secret` and `configMap` volume types volumes (which is

[2022-09-22 15:22] ahmetb commented on #112677
/remove-label bug
/sig docs
/kind documentation

[2022-09-22 16:12] sanposhiho commented on #68701
I'm not sure if changing the current inter-Pod affinity behavior is allowed or not. But if we should avoid changing the current multiple inter-Pod affinity behavior so that we won't break existing clusters, I guess we can add a new field like `multiplePodAffinity`?

[2022-09-22 16:30] Huang-Wei commented on #68701
The diff would be, upon multiple podAffinity constraints, a Pod failed scheduling before could be scheduled. So I read this diff as a net benefit - nobody would spend time crafting podAffinity and wish it cannot be scheduled, right? With that regard, I think it should be allowed.

[2022-09-22 16:32] Huang-Wei commented on #68701
It's just this requirement isn't requested by any end-user over the years. So even if we decide to implement it, given there may involve non-trivial changes, it would be pretty low-priority.

[2022-09-22 16:41] leilajal commented on #112609
/assign @roycaihw
/triage accepted

[2022-09-22 16:41] leilajal commented on #50375
/remove-sig api-machinery

[2022-09-22 16:53] logicalhan commented on #103186
/remove-lifecycle stale

[2022-09-22 16:55] SergeyKanzhelev commented on #50375
/sig node
/remove-lifecycle rotten
/triage needs-information

[2022-09-22 17:00] Rajalakshmi-Girish commented on #112442
[code]
@aojea Please find the attached complete output
[flake_test_output.txt](https://github.com/kubernetes/kubernetes/files/9627916/flake_test_output.txt)

[2022-09-22 17:56] danwinship commented on #112477
I'm not at all convinced that that's what the problem is.

My worry was that this had nothing at all to do with iptables and the bug was just "ipvs mode in 1.25 is totally broken (for at least some users)".

If it's not that, then my next two theories are "there's a second change in iptables 1.8.8 that is actually causing the problem, and the thing the OP noticed is completely irrelevant" and "ipt

[2022-09-22 17:56] SergeyKanzhelev commented on #112443
looking at this and https://github.com/kubernetes/enhancements/pull/3463/files#r974691305 it seems like pod status update is not consistent on graceful termination. It may be marked as Failed, Succeeded, or Status may not be updated at all. @bobbypage was this ever discussed in the KEP to make status update more consistent?

It looks like in `dbus-send` signal case it takes around a minute to upda

[2022-09-22 18:37] BenTheElder commented on #112664
/remove-sig testing
/sig api-machinery

individual unit tests are owned by the sigs that are testing things, SIG testing provides the CI infra, test-frameworks, test tools, etc.

[2022-09-22 18:43] BenTheElder commented on #112442
/remove-sig testing

SIG Testing owns the Test Framework,  CI infrastructure, test tools, etc. We are not responsible for individual test cases.
All of these test cases are [sig-network]

/sig network

[2022-09-22 19:03] garomonegro opened #112681 "kubectl convert validate seems to not work properly"
### What happened?

When running `kubectl convert` with the flag `--validate strict` on an ingress manifest with `networking.k8s.io/v1` `apiVersion` but fields from the `networking.k8s.io/v1beta1` `apiVersion` the commands succeeds. I was expecting it to failed. Instead it just drops the `serviceName` and `servicePort` fields and returns an ingress manifest with empty `backend`

### kubectl conver

[2022-09-22 19:19] garomonegro opened #112682 "kubectl convert doesnt pick right API version for conversion"
### What happened?

When running `kubectl convert` without the flag `--output-version` on an ingress manifest with `apiVersion` `networking.k8s.io/v1` it picks `extensions/v1beta1` instead of staying on `networking.k8s.io/v1` since that is the latest API version

#### kubectl convert output

[code]

#### Content of ingress manifest used

[code]

### What did you expect to happen?

kubectl convert

[2022-09-22 19:20] rtheis opened #112683 "Redirects are allowed during aggregated API server discovery"
### What happened?

Kubernetes API server allows aggregated API server redirects during discovery. Post-discovery, the redirects are allowed/rejected per the `--aggregator-reject-forwarding-redirect` option.

### What did you expect to happen?

Kubernetes API server should handle discovery redirects per the `--aggregator-reject-forwarding-redirect` option like is done post-discovery.

### How can

[2022-09-22 19:21] rtheis commented on #112683
/sig api-machinery

[2022-09-22 19:26] SergeyKanzhelev commented on #108891
/remove-lifecycle stale

seems like it's is still failing

[2022-09-22 19:26] lavalamp opened #112684 "RV vs object-wide logical clock"
(followup from SIG API Machinery meeting of 2022-09-21)

(note, I'm keeping this text up to date so you don't have to read all the discussion below if you don't want to)

We are trying to unblock a class of caching behaviors, example PR: https://github.com/kubernetes/kubernetes/pull/112202

The problem is that today there is no way for a client to know which of two object states is "more recent".

[2022-09-22 19:36] justinsb commented on #112684
Did we decide this was the right thing to do?  The alternative pattern that I've seen us adopt (I believe) is not to write to the cache, and simply to operate on changes as the cache observes them, waiting for changes to come in over the watch even if we made those changes ourselves.

[2022-09-22 19:46] justinsb commented on #112684
Also: We should check with all the aggregated apiserver implementations, as I think they are free to use strings if it makes them happy.  (Disclaimer: I'm working on an aggregated apiserver implementation in kpt/porch, and we're not doing resource-version right today, though I think/hope 63 bit ints should be enough for us)

[2022-09-22 19:51] lavalamp commented on #112684
You need one of these changes to make that safe, since you're not guaranteed to see every watch event.

[2022-09-22 19:52] enj commented on #112684
If we implement option 2 today, I feel like in a couple of years we could drop the "RV must be an int64" requirement (I have no evidence for this belief but parsing RV seems like uncommon behavior to me).

However, it is unclear to me how deletes would work with option 2 (since resetting the object version would be confusing to clients).

[2022-09-22 19:56] lavalamp commented on #112684
Clients already have to watch for UID changes. Yes, it would reset to zero.

[2022-09-22 20:06] lavalamp commented on #112684
I would not say they are free to do that. I would say it's inadvisable, and clients that parse are rare enough that they might not discover the problem for a long time.

🙉

[2022-09-22 20:19] stevekuznetsov commented on #112684
@lavalamp are we more focused on solving the **intra**object ordering problem (for two snapshots in time of an object, which of $$a_0$$ and $$a$$ occurred first) or the **inter**object ordering problem (for two snapshots in time of two objects [of the same resource], which of $$a$$ and $$b$$ occurred first)? Your post seems to mention both, unless I'm reading it wrong.

Option 1 invites users to w

[2022-09-22 20:21] mathuvenkat opened #112686 "RBAC policy denies list namespaces for user that has admin role on a namespace"
### What happened?

How do we control only some resources from only some being visible on a list call?
We are trying to isolate platform entities to tenants/clients.

1. Created this sa, assigned admin role to this sa on namespace "default"
2. Invoke apiserver call as this sa to list namespaces

**Result**
User is doing get namespaces on cluster , has admin access to only one namespace, but RBAC d

[2022-09-22 20:21] mathuvenkat commented on #112686
sig/auth

[2022-09-22 20:22] mathuvenkat commented on #112686
/sig auth

[2022-09-22 20:29] rkojedzinszky commented on #112443
I have not tried longer timeouts, and I dont think that would solve the issue. Originally we had a few pods only running on our nodes during shutdown, and we have experienced this wrong behavior too. Now in my lab I have 20 pods, but those are simple pause images, which exit immediately after receiving term signal. Also, during `systemctl shutdown` kubelet exits in a few seconds, far from the 45 s

[2022-09-22 20:30] lavalamp commented on #112684
Both, but not everyone has the interobject ("cross-object" in the OP) ordering problem.

Hopefully people will realize that just because SOMETHING wrote the object, does not mean the controller of interest has updated it yet. Also we still forbid comparing across resource boundaries (e.g. secrets and service accounts).

[2022-09-22 20:33] justinsb commented on #112684
I think the assumption in all of our controllers is that a watch sees _a_ state of all changed objects eventually, and in practice within a few seconds as long as the watch channel isn't overwhelmed.  I think a controller that performed the fast-forward optimization would actually behave _worse_ if we don't assume that, as the world would be even less self-consistent.

But anyway, I think I agree

[2022-09-22 20:34] jpbetz commented on #112684
I feel like option 1 is reasonable. I think offering a guarantee serves the community better at this point than holding on to option to change the behavior.

[2022-09-22 20:39] lavalamp commented on #112684
@justinsb the problem is with controllers that list all objects of some type and then do something like that. If one object has gone forward in time, some other number of objects have effectively gone back in time in comparison.

Like, imagine computing the free space on a Node by adding up all the pods on it; if one of your pods is from time T+3 and you haven't yet observed a pod deletion from T+

[2022-09-22 20:39] liggitt commented on #112657
Agreed. It should be conformance tested (and actually is already exercised indirectly via other conformance tests)

createAuthorizationV1NamespacedLocalSubjectAccessReview is also suitable for conformance, all authorizers support this interface.

I'm on the fence about createAuthorizationV1SelfSubjectRulesReview... it is not supported by all authorizers (and is explicitly *not* currently supported

[2022-09-22 20:50] stevekuznetsov commented on #112684
@lavalamp unless I'm missing something, option 2 does not address **inter**object comparisons, does it?

[2022-09-22 20:52] lavalamp commented on #112684
@stevekuznetsov It does (ish), see this bullet point:

[2022-09-22 20:54] stevekuznetsov commented on #112684
@lavalamp I'm sorry, I think I'm missing something here - if you have an independent logical clock per object, what mechanism is there to sync the timelines in order to allow causality comparisons across them?

[2022-09-22 20:57] lavalamp commented on #112684
@stevekuznetsov You have to assume that the watch events haven't been reordered.

[2022-09-22 20:59] stevekuznetsov commented on #112684
Today, if I have two `Secret`s I have no mechanism to tell which of them is "newer" than the other. The proposal in Option 2 is:

So, now I have two `Secret`s and I can tell *for each of them* how many times its' spec and status have been changed. I can tell for any two snapshots of any individual `Secret` which is newer. How do I tell - given the per-object logical clocks - which of the two `Secr

[2022-09-22 21:00] lavalamp commented on #112684
You cannot in the abstract. I'm only seeking to solve this problem for people running a watch & a cache. (In fact it's almost a pro for option 2!)

[2022-09-22 21:03] stevekuznetsov commented on #112684
Gotcha. In my understanding at least, since you could not use the new field from Option 2 to take a list of `Secret`s and order them by recency, the option solves only the **intra**object problem, which is why my original question was asking which of the two problems was more pressing. The linked issue also only attempts to answer the **intra**object problem.

[2022-09-22 21:06] lavalamp commented on #112684
Right, and this is a defect that needs to be fixed before we could merge it, see why in the example I gave in [this comment](https://github.com/kubernetes/kubernetes/issues/112684#issuecomment-1255525855).

[2022-09-22 21:19] stevekuznetsov commented on #112684
I see. To my eyes, Option 2 gives a cache author a simple way to provide either behavior (consistent or inconsistent collections), generalizes the `generation` concept clearly, and does not invite users to make broader, more potentially foot-gun-ey assumptions like **inter**object recency comparison outside of the tight constraints of LIST+WATCH. Tighter control over the API surface might be a val

[2022-09-22 22:34] yuanchen8911 commented on #107556
We can customize the behavior by a adding a flag `skip` to a plugin's cycle state today. Filter plugin will be invoked but return `Success` immediately if `skip` is true. I guess the performance overhead is not significant in most cases. If we consider `skip` a common use case (which I agree with) and want o add a new status `Skip`, should we consider adding it to other extension points too? Do we

[2022-09-23 00:24] #112606 closed

[2022-09-23 01:59] pacoxu commented on #112647
/sig api-machinery

[2022-09-23 02:36] enj commented on #112657
`createAuthorizationV1SelfSubjectRulesReview` will assert partial results in the case of a webhook which seems okay to me.  I don't know how deep conformance tests need to go but it seems okay for them to test that the API exists and returns a valid response.

[2022-09-23 03:49] kerthcet commented on #84869
/remove-lifecycle rotten

[2022-09-23 04:07] humblec opened #112694 "pull-kubernetes-e2e-gce-storage-snapshot test fail while updating snapshot controller to v6.0.1"
### What happened?

While I was updating csi-provisioner , csi-snapshotter and snapshot-controller in all of the test/CI yamls to latest versions 3.2.1 (prov) and 6.0.1 ( snapshot*) pull-kubernetes-e2e-gce-storage-snapshot test is failing.

However If I revert the version to 5.0.1 ( keep this intact) for snapshot controller in test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml (https

[2022-09-23 04:08] humblec commented on #112694
/triage accepted
/sig storage

[2022-09-23 07:24] aimuz commented on #22422
/reopen

[2022-09-23 07:29] wojtek-t commented on #109831
/remove-lifecycle rotten

[2022-09-23 08:05] Shubham82 commented on #112686
Hi @mathuvenkat

IMO, As Namespace resources are cluster scoped, so I think it will not be included in the `ClusterRole/Rolebinding` and `Role/Rolebinding` combinations. When we combine ClusterRole with a Rolebinding, it will only grants rights to a single namespace, that is why it wouldn't work.

Please try it with `ClusterRole/ClusterRolebinding`.  instead of `ClusterRole/Rolebinding`.

[2022-09-23 08:05] hemkvo commented on #75925
failed to run Kubelet: cannot create certificate signing

[2022-09-23 08:06] hemkvo commented on #75925
failed to run Kubelet: cannot create certificate signing request: certificatesigningrequests.certificates.k8s.io is forbidden: User "10001" cannot create resource "certificatesigningrequests" in API group "certificates.k8s.io" at the cluster scope

[2022-09-23 08:14] Shubham82 commented on #112686
I checked this on k8s version v1.25 and it's working for me,
I used `--clusterrole=admin`  so that is why below it shows all namespaces:

[code]

[2022-09-23 08:23] KunWuLuan opened #112697 "self reference in go.mod is broken by update-vendor.sh"
### What happened?

self reference in go.mod is broken by update-vendor.sh when I import a module which has the following requirement
`require k8s.io/client-go v0.25.2`
`replace k8s.io/client-go => k8s.io/client-go v0.24.3`
when I run update-vendor.sh
error happend
`
go: finding module for package k8s.io/client-go/kubernetes/typed/authentication/v1alpha1
k8s.io/kubernetes/cmd/clicheck imports
	k8s

[2022-09-23 08:34] dai-mk commented on #56038
Just to add, for AWS is also a mirror at https://gallery.ecr.aws/

[2022-09-23 08:45] gdemonet commented on #108737
/remove-lifecycle stale

[2022-09-23 08:58] SataQiu commented on #112682
/assign

[2022-09-23 09:13] wangyang0616 opened #112699 "scheduler: The scoring logic of ImageLocality does not seem to take effect"
### What happened?

The ImageLocality policy is used to schedule pods. The actual scheduling result shows that the policy does not take effect. Open the scheduler log to view details (--v=11). The scheduler (ImageLocality policy) scores all nodes that have images required for creating pods with zero scores.

1. Configure the kube-scheduler scheduling policy.
[code]
2. The K8S cluster has three wor

[2022-09-23 09:17] wangyang0616 commented on #112699
/sig scheduling

[2022-09-23 10:09] xuchen-xiaoying commented on #112119
![image](https://user-images.githubusercontent.com/94154028/191938248-38c0a446-df20-419a-b355-56c6b927cf3a.png)

s.host.GetPods() get pod from podManager.

If kubelet restarts, it would admit existed pods one after one again. Only ff a pod is admitted successfully, it will be inserted into podmanager. So the pods existed but haven't been admitted yet will not show in the returned pod list.

[2022-09-23 10:38] kyrylogy commented on #24725
I can't use Job because of some other limitations, and Deployment does not allow for `restartPolicy: Never`. Absolutely stuck at this point

[2022-09-23 11:42] vasrem opened #112701 "Kubectl to use server-side apply and same manager by default for any operation"
### What happened?

I did my best to search for a similar issue but couldn't find one that describes this problem. If there is, please close this one.

---

`kubectl` with client-side-apply leads to a non declarative workflow when a resource is later managed by controller with server side apply and a user uses `kubectl edit` and `kubectl apply` to iterate on the resource.

### What did you expect

[2022-09-23 11:43] vasrem commented on #112701
/sig cli

[2022-09-23 12:27] mm4tt commented on #112684
Just FYI, implementing option 2 might be easier than you think. Etcd's KV has a concept of "version", which is exactly what you want to have IIUC - https://github.com/etcd-io/etcd/blob/main/api/mvccpb/kv.proto#L22

[2022-09-23 13:02] stevekuznetsov commented on #112684
@mm4tt the object's `resourceVersion` already exposes that field, just the API for Kubernetes doesn't allow users to parse it :)

[2022-09-23 13:17] alculquicondor commented on #107556
Skip can be returned at least by PreFilter, Filter, PreScore, Score, Permit. The idea is that the plugins return Skip if they didn't do any meaningful work on the pod. For example, if the pod doesn't have any node affinity, the node affinity plugin PreFilter and Filter can return Skip.

[2022-09-23 13:17] dims commented on #112697
Sorry we don't want loops (we depend on something and them depending back on us)

[2022-09-23 13:25] evinoca commented on #7890
/remove-lifecycle stale

[2022-09-23 14:44] fromanirh commented on #94220
Hi, the workaround was presented here: https://github.com/kubernetes/kubernetes/issues/94220#issuecomment-1050004800

[2022-09-23 15:12] fromanirh commented on #112228
this is https://github.com/kubernetes/kubernetes/issues/94220 from another angle, but the root cause is pretty much the same. I think we should *not* close this issue because of the linked PR. The workaround for this issue is in https://github.com/kubernetes/kubernetes/issues/94220#issuecomment-1050004800

[2022-09-23 15:16] fromanirh commented on #112119
I need to form my thoughs properly here and review the API documentation, but if memory serves the `/pods` endpoint should report all the pods reported by ready sources _at any given time_. IOW, repeated queries to the endpoint should eventually return the full pod set.
The consistency aspect here is indeed interesting. I'll update ASAP.

[2022-09-23 15:55] thediveo commented on #77142
@aojea It is still present in k8s v1.25.0 (deployed through minikube). The query options still get stripped.

Do you have concrete reason to believe that this was somehow fixed after v1.25.0, and without referencing this open issue?

[2022-09-23 16:00] #112517 closed

[2022-09-23 16:02] msau42 commented on #112347
@cwdsuzhou can you clarify if the PVC was already bound when it was pre-empted?

The `selected-node` annotation is only used as a hint when provisioning. Once it is provisioned, the annotation is not used anymore.

[2022-09-23 16:04] lavalamp commented on #112684
Thanks @mm4tt, yeah that would make it super easy, I think.

[2022-09-23 16:12] alhajee commented on #107418
I get same error when I try `kubectl get pods <pod name>`
`net/http: TLS handshake timeout`

[2022-09-23 16:23] #109671 closed

[2022-09-23 16:47] mathuvenkat commented on #112686
thanks @Shubham82 . The use-case is when users have permissions only for some namespaces and do not have on the cluster.
eg: user X has some role on namespace ABC -> this rbac is assigned and there is nothing else for this user.
when user X does list namespaces , how can we get only ABC namespace to be listed.
Basically is there any way to control or filter list based on access of what is being re

[2022-09-23 17:08] SergeyKanzhelev commented on #106893
/remove-lifecycle rotten

[2022-09-23 17:13] khenidak commented on #48528
@FillZpp  (apologies, was away on a long sabbatical) - Yes lets start the process a kep will help align people around the best approach.

[2022-09-23 17:21] Komaljiwatode03 commented on #112642
https://meta.stackoverflow.com/questions/335777/not-able-to-apply-for-a-job I have seen the issue and I think it's the correct answer.

[2022-09-23 18:04] SergeyKanzhelev commented on #105780
/reopen
/remove-lifecycle rotten

Keeping in mind this KEP https://github.com/kubernetes/enhancements/issues/1672 this needs to be fixed

[2022-09-23 18:13] anorm commented on #60140
I'm having the same issue. Both `kubectl exec -- cat` and `kubectl cp` fails to copy the entire file.

While debugging, I found this:
[code]

It seems the connection is dropped because a SPDY ping failed. Hope this helps someone to identify the problem.

[2022-09-23 19:18] BenTheElder commented on #112677
Nits:

It's a "normal file system", the behavior is entirely in file manipulation in ways that can happen on any filesystem. (I get this is mostly semantics, but that matters for the docs!)

Code that only triggers on IN_CLOSE_WRITE can be broken by this technique outside of Kubernetes. using `rename(2)` for atomic file changes is a documented use case:

https://www.gnu.org/software/libc/manual/ht

[2022-09-23 19:18] BenTheElder commented on #112677
/sig node storage

[2022-09-23 19:19] kunallanjewar commented on #111386
I'm trying to get into SIG meeting to figure out best route to move forward on this.

[2022-09-23 19:22] morozov commented on #60140
I saw the same behavior in our environment a year ago:
[code]

The output looks identical to the above with the addition of "SPDY Ping failed: EOF", which may have been just omitted by the author or masked by the output into the terminal.

The Kubernetes cluster in question is hosted in AWS, so it is quite possible that this issue is related to the network infrastructure between the nodes and the

[2022-09-23 19:44] ahmetb commented on #112677
The main problem is the class of programs reloading configuration based on the filesystem writes that are probably handling a "delete" event by printing an error saying "configuration file no longer exists, exiting" and subsequently issuing an exit() redundantly (whereas they could just attempt to retry the watch).
Maybe I am exaggerating the problem irl, but a program that's purely looking at wri

[2022-09-23 19:49] msau42 commented on #100840
/reopen

[2022-09-23 19:49] BenTheElder commented on #112677
Agree that this is true, however pointing out that behavior is already a broken approach outside of Kubernetes, as the atomic file swap technique is general to Linux and can be done by hand even with just `mv ./newconfig.yaml ./config.yaml`* outside of Kubernetes.

A lot of programs probably don't handle this properly and may encounter it first on Kubernetes. I agree we should warn people, but I d

[2022-09-23 19:49] msau42 commented on #100840
/remove-lifecycle rotten

[2022-09-23 19:50] Goend opened #112706 "k8s aggregation error which cause by tls error"
### What happened?

I start a metrics svc,but i cant get node
i must specify the apiservice.spec.caBundle to set /etc/kubernetes/ssl/ca.pem base64.
but in my old cluster,I I don't have to set it.
old cluster version:
Client Version: version.Info{Major:"1", Minor:"20+", GitVersion:"v1.20.14", GitCommit:"d687c6bdbefb31e33b117e94da0da1238b0191e0", GitTreeState:"clean", BuildDate:"2022-05-12T11:38:55Z

[2022-09-23 20:25] #109404 closed

[2022-09-23 21:29] swagatbora90 opened #112708 "Support Tracing in CRI Remote Image Service"
### What would you like to be added?

PR [105126](https://github.com/kubernetes/kubernetes/pull/105126.) added support for tracing gRPC calls for [Remote runtime service](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cri/remote/remote_runtime.go#L89-L98). However, it appears that tracing is not currently supported in the [Remote Image service](https://github.com/kubernetes/kuber

[2022-09-23 21:34] dims commented on #112708
@swagatbora90 do you have a PR as well?

[2022-09-23 21:35] swagatbora90 commented on #112708
/sig instrumentation

[2022-09-23 21:35] swagatbora90 commented on #112708
https://github.com/kubernetes/kubernetes/pull/112709

[2022-09-23 23:23] SergeyKanzhelev commented on #112443
so somehow inhibitor not working. Do you see it being configured? Perhaps it is a repetition of https://github.com/kubernetes/kubernetes/issues/107043 https://github.com/kubernetes/kubernetes/issues/111779 then

[2022-09-23 23:32] khenidak commented on #112491
this code has not been written to be exported outside `kubernetes/kubernetes` source tree. I would strongly advise against importing it. You can always copy the pieces you want.

[2022-09-23 23:39] khenidak commented on #111823
shouldn't that be part of something like node-problem-detector?

[2022-09-24 01:15] thockin commented on #112477
:popcorn:

[2022-09-24 03:52] 631068264 opened #112711 "Failed to initialize CSINode: error updating CSINode annotation: timed out waiting for the condition"
### What happened?

use rke v1.23.6-rancher1 create cluster , kubelet crash

[code]

I must set config like [this](https://stackoverflow.com/a/63216140/5360312)，
[code]

### What did you expect to happen?

I found some description this , but they all talking about k8s version (api-server and kubelet version)，but in my case ,api-server and kubelet version are the same
[code]

But I can use same too

[2022-09-24 04:50] fab1an commented on #111386
Thank you. Like I said before, I'm pretty sure this would save a lot of time and mental-load for thousands debugging their kubernetes deployments.

[2022-09-24 07:00] Goend commented on #112706
/sig API Machinery

[2022-09-24 07:02] Goend commented on #112706
/sig API Machinery

[2022-09-24 07:40] ayunwSky opened #112713 "Kube-apiserver service keeps restarting"
The binary package installs three highly available Kube-Apiserver nodes. One Kube-Apiserver node restarts continuously. The log is as follows：

[code]

I tried changing the log level in the Kube-apiserver profile from `--v=4` to `--v=9` and restarting the Kube-Apiserver service, but it didn't seem to take effect after changing the profile and restarting the service. Because I do not see any more l

[2022-09-24 09:12] ayunwSky commented on #112713
The following error is found in the journalctl -fu kube-apiserver.service log:

[code]

I did some Googling, but I didn't find anything useful, so I hope I can fix that here.

[2022-09-24 10:34] #83977 closed

[2022-09-24 11:45] JJotah commented on #112713
/assign

[2022-09-24 11:46] JJotah commented on #112713
Please provide the config of runtime and kubelet.
We want to check the cgroups check if both are on the same systemd or cgroups

[2022-09-24 12:00] ayunwSky commented on #112713
I forgot to mention it，my Kubernetes cluster runs on CentOS 8 with cluster version 1.19.0.
The container runtime is Docker.

docker and containerd info:
[code]

kubelet config:
[code]

Thanks for you reply!

[2022-09-24 12:09] yuzhaopeng commented on #112686
The API server performs authentication and authentication before obtaining resources. During the authentication process, the user does not have all namespace permissions, so 403 is returned when obtaining the namespace list.

[2022-09-24 13:01] JJotah commented on #112713
Check runc too please

[2022-09-24 13:16] ayunwSky commented on #112713
The version of RUNC is as follows, and it is currently working correctly.
[code]
The pod scheduled to this node can run properly, and manually executing Docker Run to start a container can also run the container properly.

Or are there any other aspects of checking RUNc that you mentioned?

[2022-09-24 13:34] #109661 closed

[2022-09-24 13:40] JJotah commented on #112713
Please provide your kubeadm init yaml config file

[2022-09-24 13:43] ayunwSky commented on #112713
Instead of using kubeadmin to deploy the Kubernetes high availability cluster, I deploy each Kubernetes component as a binary package. Might you need a configuration file for my kube-apiserver?

[2022-09-24 13:51] neolit123 commented on #112713
/kind support
hi. please use the support forums for this
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-09-24 13:51] neolit123 commented on #112713
/close

[2022-09-24 13:51] #112713 closed

[2022-09-24 14:59] rikatz commented on #112560
Hi, thanks for the suggestion.

This one is tricky :) What is a disabled Network Policy? The whole Network Policy? Just some rules?

Also adding a `enabled` field takes some semantics problems: what if a CNI doesn't know the `enabled`, and even you setting it as `enabled: false` it keeps the NetPol enabled always.

I have some concerns on this approach (I guess we discussed this on past? @astoycos

[2022-09-24 17:44] dims commented on #112431
/assign @feiskyer

[2022-09-24 17:51] dims commented on #110344
We are now on a newer cobra:
[code]

We do not currently have a dependency on `github.com/dgrijalva/jwt-go`
[code]

/close

[2022-09-24 17:51] #110344 closed

[2022-09-24 18:36] rmannibucau commented on #20475
Hi, any reason it is closed even if it still does not work in last release? It is quite bothering when installing products which exposes some service but also call it from themselves - it often happens when doing an "all in one" bundle of a product.

[2022-09-24 19:34] #109585 closed

[2022-09-24 20:46] aojea commented on #20475
if it doesn't work it should be in some external component of kubernetes that is not fully conformant, because this behavior has an e2e test that verifies it

[2022-09-24 20:49] aojea commented on #112664
you were right @kerthcet
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/112665/pull-kubernetes-unit/1573727981480710144

/triage accepted

[2022-09-24 23:46] command-tab commented on #47202
/remove-lifecycle stale

[2022-09-25 00:13] dims opened #112717 "Switch kubectl to use `github.com/russross/blackfriday/v2`"
Folks,

Looks like we have ended up with 2 different versions of `russross/blackfriday` over time.

Would it be possible to switch our usages of `russross/blackfriday` to `v2` version?

/sig cli
/area code-organization

[code]

[2022-09-25 03:31] cvvz opened #112720 "kubelet event about unattached volumes is incorrect"
### What happened?

1. Create Pod with unattachable volume A and B and make A unable to mount
2. The Pod will be in `ContainerCreating` state
3. Wait for several minutes, then show the pod events by `kubectl describe pod`
4. The events information includes error msg like
[code]
5. The error msg is confusing since it indicates that A and B are unattached

### What did you expect to happen?

The eve

[2022-09-25 03:31] cvvz commented on #112720
/sig storage

[2022-09-25 07:00] rmannibucau commented on #20475
@aojea minikube with docker driver. This feature depends the network setup which is by itself an issue and minikube references kubernetes as the source of the issue so would be great to find a global solution otherwise k8s does not reach the portability goal it promises. Note it is fine to open it back on minikube referencing this issue but having to enable promisc mode explicitly is not fine from

[2022-09-25 07:28] espenairmine commented on #79224
+1 reopen

[2022-09-25 11:28] akankshakumari393 commented on #112681
@garomonegro the `ingress.yaml` in your case contains API version v1 and not v1beta1. Is that expected?

[2022-09-25 18:44] rkojedzinszky commented on #112443
I think yes, it is configured. Earlier attached log indeed shows that kubelet receives the signal, starts killing pods, and it exists soon. Howewer, pods are not moved from away from the affected node.

[code]

[2022-09-25 19:37] dims commented on #111962
looks like https://github.com/cilium/cilium/issues/20981 has a workaround in cilium itself. So closing this for now.

[2022-09-25 19:37] #111962 closed

[2022-09-25 19:40] dims commented on #111972
Looks like Nov 10 ( https://www.kubernetes.dev/resources/release/ )

<img width="946" alt="image" src="https://user-images.githubusercontent.com/23304/192162087-c56e8bbf-b2a6-4774-8c8a-3dc2340adeb4.png">

[2022-09-25 19:42] dims commented on #111710
closing per last comment from @apelisse

[2022-09-25 19:42] #111710 closed

[2022-09-25 19:45] dims commented on #111452
back on its feet now.

[2022-09-25 19:45] #111452 closed

[2022-09-25 20:01] dims commented on #111899
cc @dims

[2022-09-25 20:02] dims commented on #111876
/priority critical-urgent
/milestone v1.26

[2022-09-25 20:15] dims commented on #111121
possibly related to https://github.com/kubernetes/kubernetes/issues/99376

[code]

[2022-09-25 20:19] dims commented on #111029
@jprzychodzen anything else to do here? please close out otherwise.

thanks!

[2022-09-25 20:27] dims commented on #110928
@saschagrunert any news on this? Haven't heard from @bmwiedemann (context: we worked to fix this a couple of times in https://github.com/kubernetes/kubernetes/issues/70131)

[2022-09-25 20:28] dims commented on #110665
cc @kubernetes/release-team

[2022-09-25 20:30] #110471 closed

[2022-09-25 21:26] dims commented on #110146
@mborsz @wojtek-t @shyamjvs poke ... anything we can do here for 1.26?

@akankshakumari393 looks like no one is working on this yet. so go for it.

[2022-09-25 21:43] dims commented on #112711
/sig storage

[2022-09-25 21:43] dims commented on #112706
/sig api-machinery

[2022-09-25 21:45] #112697 closed

[2022-09-25 21:46] dims commented on #112682
/sig cli

[2022-09-25 21:46] dims commented on #112681
/sig cli

[2022-09-25 21:47] dims commented on #112646
/sig apimachinery

[2022-09-25 21:55] dims commented on #112642
@sbextenwcu please read up on finalizers ... https://www.google.com/search?q=finalizers+stuck+kubectl some of the links have tips on how to use kubectl to remove the finalizer.

[2022-09-25 21:55] #112642 closed

[2022-09-25 21:56] #112628 closed

[2022-09-25 21:56] dims commented on #112614
/sig network

[2022-09-25 21:56] dims commented on #112574
/sig architecture

[2022-09-25 21:57] #112550 closed

[2022-09-25 21:57] #112462 closed

[2022-09-25 21:58] #112456 closed

[2022-09-25 21:58] dims commented on #112201
/sig auth

[2022-09-25 22:01] dims commented on #111938
please re-open with additional information

[2022-09-25 22:01] #111938 closed

[2022-09-25 22:04] dims commented on #112645
/sig apps

perhaps?

[2022-09-25 23:14] prasannjeet commented on #90594
Hello @chief93
Could you please describe a bit about how do do this. Seems like I am facing a similar issue with my lxc container.

As I understand, I must add it to the file: `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`
But what should I do after that?

Thank you!

[2022-09-26 00:41] jeromeinsf commented on #96218
/remove-lifecycle stale

[2022-09-26 02:34] sanposhiho commented on #68701
We've got one request for this [here](https://kubernetes.slack.com/archives/C09TP78DV/p1652496371446289)

[2022-09-26 02:52] xinheng-ai commented on #11355
我

[2022-09-26 03:12] TorRient commented on #93175
@JadeQin Hi, I have the same problem, I can ping another node, How are you fix it?

[2022-09-26 03:41] kerthcet commented on #93591
If we're going to add a new extension point enqueue here in https://github.com/kubernetes/enhancements/pull/3522, we can close this issue now.

[2022-09-26 04:17] TorRient commented on #94032
@nocanstillbb Hi, I have the same problem, I can't ping from master to worker, but the worker can ping to master. How are you fixing ít?

[2022-09-26 05:43] Abirdcfly commented on #110658
/close
because https://github.com/kubernetes/kubernetes/pull/110826 has merged

[2022-09-26 05:43] #110658 closed

[2022-09-26 05:44] pacoxu commented on #112717
/assign

[2022-09-26 05:55] abdennour commented on #44703
@k8s-ci-robot  Please reopen it & let me work on it. I will send PR soon . just open it please
/reopen
/re-open

[2022-09-26 06:33] wojtek-t commented on #109603
/reopen
/remove-lifecycle rotten

This is still a valid issue

[2022-09-26 06:34] bydga commented on #104155
Hi, I'm sad that despite the fact you guys confirmed and reproduced the bug, it got rotten and closed :/ I now encountered it it even on Job entity - we ran a job and were unable to process/read the exitcode how the job finished. This is a bit pain for our developers as they submit a job to the cluster, wait several hours for the job to finish, and then they receive an error (even though the task

[2022-09-26 06:38] bydga commented on #104155
/open

[2022-09-26 06:38] bydga commented on #104155
/reopen

[2022-09-26 06:55] ctron commented on #60140
I do get the same result (without the EOF message though):

[code]

This Kubernetes cluster (OpenShift 4.10) is running on KVM virtual machines, not on AWS.

[2022-09-26 07:16] mborsz commented on #109777
/remove-lifecycle stale

[2022-09-26 08:34] ardaguclu commented on #112730
/sig scheduling
/triage accepted cancel

[2022-09-26 08:52] pierluigilenoci commented on #44703
@xilabao @liggitt could you please help @abdennour to work on this?

[2022-09-26 10:18] alculquicondor commented on #68701
This change is not trivial from an API perspective, so it needs a KEP. And we are too close to the enhancements freeze. I suggest to leave it for 1.27.

[2022-09-26 10:55] ardaguclu commented on #112681
AFAICS, `convert` command runs validation only when `local` flag is set to false. But it is set true by default. It is very likely that when you pass `local=false`, it will return what you expect.

Maybe we should warn user, when user tries to validate but local is enabled for convert command.

/transfer kubectl

[2022-09-26 11:24] rdxmb commented on #51475
/reopen

[2022-09-26 11:44] aparnabushan commented on #79224
+1 reopen

[2022-09-26 11:57] dgrisonnet commented on #110642
I have been investigating the issue that @aojea mentioned above for the endpointslice controller https://github.com/kubernetes/kubernetes/issues/110642#issuecomment-1158909977.

What we are seeing is that because duplicates are not suppressed between the FIFO and the waiting queue, the controller doesn't respect the normal backoff period that it should because we are running out of retry budget be

[2022-09-26 12:05] xenv opened #112733 "Node lifecycle controller does not `markPodsNotReady` when the node `Ready` state changes from `false` to `unknown`"
### What happened?

When kubelet loses connect, the node goes into the unknown state. The node lifecycle controller marks the pod as not ready by the `markPodsNotReady` function because the health check status of the pod can not be obtained through kubelet. This feature is available only when node's `Ready` state transitions from `true` to `unknown`.

However, if the node is already in the fail st

[2022-09-26 12:13] jsafrane commented on #103754
This should be fixed by https://github.com/kubernetes/kubernetes/pull/109217

[2022-09-26 12:13] #103754 closed

[2022-09-26 12:18] answer1991 commented on #112733
/sig node

[2022-09-26 13:11] dgrisonnet opened #112734 "Graduate metrics.k8s.io API to GA"
The metrics.k8s.io has been BETA for a while now and is used very widely by the community so we should graduate it to stable. This is long overdue since an effort to avoid keeping APIs BETA was initiated a while ago by SIG architecture and was giving a 9 months deadline to APIs in general to take a decision. https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/1635-prevent-

[2022-09-26 13:11] dgrisonnet commented on #112734
/assign

[2022-09-26 13:13] dgrisonnet opened #112736 "Graduate external.metrics.k8s.io API to GA"
The external.metrics.k8s.io has been BETA for a while now and is used very widely by the community so we should graduate it to stable. This is long overdue since an effort to avoid keeping APIs BETA was initiated a while ago by SIG architecture and was giving a 9 months deadline to APIs in general to take a decision. https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/1635

[2022-09-26 13:13] dgrisonnet commented on #112736
/assign

[2022-09-26 13:15] dims commented on #111029
@jprzychodzen ack, poked the release managers on #release-management channel.

[2022-09-26 13:16] xing-yang commented on #112694
/assign @mattcary

Hi @mattcary, can you take a look?  Thanks.

[2022-09-26 14:01] Darshnadas commented on #111701
/assign

[2022-09-26 14:16] danwinship commented on #112560
This would need to be discussed as a KEP.
That said, the functionality you want sort of already exists; you should be able to set `policyTypes` to `[]` without changing anything else. Then the policy will not affect either ingress or egress, which is to say, it will not affect anything. (Of course, to re-enable it, you need to know the correct value to set `policyTypes` back to.)

[2022-09-26 14:36] jprzychodzen commented on #111029
Thanks for help @dims

/close

[2022-09-26 14:36] #111029 closed

[2022-09-26 14:40] liggitt commented on #112201
closed due to insufficient info, the comment at https://github.com/kubernetes/kubernetes/issues/112201#issuecomment-1238202091 is the likely cause and likely resolution

[2022-09-26 14:40] #112201 closed

[2022-09-26 14:54] lavalamp commented on #110642
@dgrisonnet Please take a look at #112328 and see if that approach will solve this for you?

[2022-09-26 15:01] dgrisonnet commented on #110642
I completely missed that PR, thank you for sharing, I'll check it out.

[2022-09-26 15:23] apelisse commented on #51475
Sure, thanks.

[2022-09-26 15:23] apelisse commented on #51475
/triage accepted

[2022-09-26 15:24] apelisse commented on #51475
I think the bug here is specifically that this fails when `--validate=false` is set. I don't know if that's still the case.

[2022-09-26 15:41] apelisse commented on #51475
I actually can't reproduce this bug at all? even with `--validate=false`. is that still a thing?

[2022-09-26 15:51] marosset commented on #110665
/remove-lifecycle stale

[2022-09-26 16:08] logicalhan commented on #112684
I vote for 1.

[2022-09-26 16:58] aojea opened #112739 "remove the duplication across kube-proxies"
_Originally posted by @khenidak in https://github.com/kubernetes/kubernetes/issues/111344#issuecomment-1258334085_

The comment is related to the kube-proxy duplication of code on the event handlers

[2022-09-26 16:58] aojea commented on #112739
/sig network
/assign @khenidak

[2022-09-26 16:59] khenidak commented on #110596
to add, pod status update is a privileged api. Having said that. it is unlikely that pod status will change every second unless somebody is presenting itself of a kubelet like privilege api-server and is patching pod object on a tight loop. Both kubelet (the upstream patching side), api-server, and kube-proxy run with rate limits that should prevent that.

[2022-09-26 17:04] khenidak commented on #109814
We need to separate the two problems `pod ip range exhaustion` and `per pod ip family control` the second one is the result of the first one. We should support adding cidr ranges to node cidrs (for CNIs that use them) similar to the work we are doing for services. But beyond that i really don't think we should create a cluster shape where pod can run with single, dual, family specific IPs in dual

[2022-09-26 17:54] aojea commented on #112614
I've added an e2e test that verifies that this work and we don't regress
https://github.com/kubernetes/kubernetes/pull/112511

[2022-09-26 18:02] aojea commented on #20475
@thockin @smarterclayton I think this should be a kubernetes conformant requirement "pods should be able to reach themselves through a service" , it sounds wrong not being able to do it

https://github.com/kubernetes/kubernetes/blob/dfa4143086bf504c6c72d5eee8a2210b8ed41b9a/test/e2e/network/service.go#L1104-L1131

[2022-09-26 18:20] aojea commented on #112442
/assign @aojea

now that I found a problem,  I'm curious if we have something wrong on the tests

[2022-09-26 18:21] ldemailly commented on #93476
can we please reopen this. it's a very valid use case and seems like a bug in k8s

I should be able to set that I want 1 pod most time yet bring up the replacement pod in case of `kubectl drain` instead of getting stuck in a loop with

[code]

I can't think of a workaround, sadly, to achieve this rather simple mode (I would have expected indeed that either maxsurge or hpa or pdb would ensure this)

[2022-09-26 19:53] #98574 closed

[2022-09-26 20:16] bobbypage commented on #112733
Duplicate of #109998

[2022-09-26 20:19] bobbypage commented on #109998
This seems like a general issue with node lifecycle controller is not specific to graceful shutdown. See #112733 for a similar case. If nodes Readiness goes to unknown state, it seems logical that we should also be marking pods as not ready on the controller.

[2022-09-26 21:11] aojea commented on #110596
/close

there is no evidence of DoS attack , just a way to generate more change of status and consume more resources

[2022-09-26 21:11] #110596 closed

[2022-09-26 21:29] KnVerey commented on #111924
I'm a bit confused here, as I didn't think `kubectl edit` ever uses CSA, and the following simple experiment with kubectl v1.24 shows it already sends a patch with a field manager: `kubectl edit -v=6 deployment foo` on a CSA-created resource issues `PATCH https://127.0.0.1:52144/apis/apps/v1/namespaces/kverey-test/deployments/foo?fieldManager=kubectl-edit&fieldValidation=Strict`. The patch in my e

[2022-09-26 21:50] #111921 closed

[2022-09-26 22:04] SergeyKanzhelev commented on #107063
/remove-lifecycle rotten

[2022-09-26 22:05] lavalamp commented on #112684
Unfortunately this would probably also break most or all clients parsing it, should we actually use more than 63 bits.

[2022-09-26 22:06] SergeyKanzhelev commented on #97007
I suggest we track this as a KEP: https://github.com/kubernetes/kubernetes/issues/97007 not as an issue on k/k

/close

[2022-09-26 22:06] #97007 closed

[2022-09-26 22:10] KnVerey commented on #112701
It seems to me that client-side `kubectl apply` (CSA) and `kubectl edit` did not behave as a single field manager by default either. By default, `edit` doesn't touch the CSA annotation, so CSA will treat its edits the same way it would those of a controller. With `edit --save-config`, the CSA annotation will be modified, but it will receive the entire object, which probably doesn't give the intuit

[2022-09-26 22:14] invsblduck commented on #74986
IMO, this breaks [POLA](https://en.wikipedia.org/wiki/Principle_of_least_astonishment) pretty bad. I've worked on computers 30 years and had to scratch my head when I saw this (like, "wtf?!"). I don't care enough to fix it myself, so I'm certainly not whining that anyone else should fix it&#8212;just thought I'd +1 the sentiment while I was already grumbling about doing it wrong and scraping `kube

[2022-09-26 22:15] SergeyKanzhelev commented on #112443
I understand that. I am just saying that it seems like kubelet being terminated without the proper delay. What is the `InhibitDelayMaxSec` (`cat /etc/systemd/logind.conf.d/99-kubelet.conf`)? If it is set to proper value, the issue may be that this delay is not respected. You mentioned the version of systemd you use is an older patched version. Can it be at fault?

[2022-09-26 22:27] SergeyKanzhelev commented on #109521
/remove-lifecycle stale

[2022-09-26 22:40] smarterclayton commented on #112684
Ideally, if we wanted to "reclaim resourceVersion" we'd probably need to be smarter, as Daniel notes.  Provide a way for clients to get pre-broken as a feature gate, or per client, or opt-in.  All of those are expensive... and perhaps better addressed after we provide people a correct, relatively unobjectionable near term fix for intraobject.

You could argue that option 2 is the correct way to in

[2022-09-26 22:47] lavalamp commented on #112684
Today you can accomplish this by incrementing the etcd global index prior to reconnecting the cluster. But yes, that could be cleaner.

(shall I put you down as voting for option 2 then?)

[2022-09-26 22:48] bobbypage commented on #112443
Regarding https://github.com/kubernetes/kubernetes/issues/112443#issuecomment-1255364980

Graceful Node Shutdown should set the pod status to Failed, it is done [here](https://github.com/kubernetes/kubernetes/issues/112443#issuecomment-1255364980). However, one of the issues we've seen in some cases is that the node is shutdown prior to the kubelet sending the final status update. This is because

[2022-09-26 22:48] enj commented on #112684
In an abstract sense I was thinking:

1. Expand the schema of resource version (i.e. it can the current format plus some new format)
1. Document the full schema
1. Expand our libraries to support the new schema
1. Continue using the existing schema for N releases (minimum for N is probably 3)
1. At N+1, or some later release where we need the functionality, use the new schema

If the new schema is

[2022-09-26 22:52] bobbypage commented on #112443
@rkojedzinszky

What do you mean by this? Do you not see the pod status updated in the API server? You can check if graceful shutdown is terminating the pod via examining kubelet logs for these log lines -- https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go#L374-L387

It will help to understand if the issue is if graceful shutdown is killing

[2022-09-26 22:55] lavalamp commented on #112684
The problem with a discontinuous switch over is that you don't really have a good way of knowing if clients have been updated or not. I prefer a 2nd field for any sort of change (RV can get set to eg the large number mod 2^63).

[2022-09-26 23:08] #111578 closed

[2022-09-26 23:22] smarterclayton commented on #112684
Right, if you know the increment of your lost control plane, which in a few cases has safety implications (if you lose two, you might not actually know how far ahead they were).

I would say I prefer option 2 because it fixes a concrete problem (intraobject) cleanly, is tractable for almost every storage system, and having solved it gives us more flexibility to tackle resourceVersion for cases we

[2022-09-26 23:33] lavalamp commented on #112684
(Getting off topic, but you can just add like 10 billion, 63 bits means you can waste some and be fine. Or you can look at client logs etc)

[2022-09-27 00:56] yylt commented on #109998
yes, i will try kubernetes 1.24 to find it exist or not.

[2022-09-27 01:21] will-molloy commented on #72811
I don't think you're understanding limit/request correctly.

Limits are there for bursty loads (expensive startup, lag in scaling, etc.). The pods aren't even guaranteed to get the limit cpu/mem, only the requested. Limit is only given if the underlying node has enough resources, so you can't rely on it.

That's why it scales based on request and why its commonly recommended to set limit = request

[2022-09-27 02:14] dims commented on #56876
deleted and recreated the volume. 🤞🏾

[2022-09-27 02:33] kerthcet commented on #105977
/remove-lifecycle stale

[2022-09-27 03:23] Kartik494 commented on #110956
Hi @pacoxu Could you please take a look at @YuikoTakada query , if the only purpose of resourceQuota is to guarantee resource reservation for the pods having the resource settings, can we use `limit range` instead?

Thanks!

[2022-09-27 03:31] pacoxu commented on #110956
For current behavior, I'm afraid that ResourceQuota works only if there is no best-effort pod in the namespace.

ResourceQuota and LimitRange can work together. Limit Range can set default/Max/Min resource request/limit, and ResourceQuota can limit the overall resource limits.

[2022-09-27 04:26] tdihp opened #112743 "Windows node to provide metrics for rootfs space usage"
### What would you like to be added?

Monitoring disk space usage for ephemeral storage (rootfs) usage for Windiows pods.

### Why is this needed?

Unlike Linux, Windows container sandbox requires a fixed maximum size of rootfs. This can be a limiting factor that users may want to monitor.

[2022-09-27 04:27] tdihp commented on #112743
/sig windows

[2022-09-27 04:29] zlcnju commented on #112560
PolicyTypes is a choice, but I still need to remember a little config about it. I think the addiontial field is better.

[2022-09-27 04:34] zlcnju commented on #112560
What i need is disable the whole networkpolicy.

[2022-09-27 06:01] chauhanshubham commented on #112560
FWIW, I was also looking for a way to have the policies stored in the cluster, but with an enabled/disabled flag.
Storing disabled policies (as is, without changes required in `policyTypes`) in the cluster also gives a `--dry-run` like functionality where users would just want to have knowledge of the network policies waiting to be applied and can enable those explicitly. There could be controller

[2022-09-27 06:16] yangl900 commented on #112313
@feiskyer I don't think there is is any technical blocker for a "unmanaged" **cloud** node to join load balancer. There are legitimate reasons that some node cannot be managed by AKS. For example, if someone wants to manage their own OS images, using unmanaged nodes is the only option.

[2022-09-27 06:39] NoicFank opened #112745 "Deduplicate Sync type delta in DeltaFIFO"
### What would you like to be added?

# purpose
Currently, there is only deletions will be deduplicated in DeltaFIFO.

Here, we propose that `sync deltas` should also be deduplicated in DeltaFIFO.

Following is the example of current & desired impl:

# current impl
In DeltaFIFO Items, for ObjA, there are two scenarios (suppose that there is no Delata with ObjA in Items before)：
1. if `Update delta

[2022-09-27 06:41] NoicFank commented on #112745
/sig/api-machinery

[2022-09-27 08:01] aojea commented on #112745
/sig api-machinery

[2022-09-27 08:04] YuikoTakada commented on #110956
Exactly. I think so, too.
I don't know whether everyone know this truth, and also whether this behavior should be improved or not. Is it enough to add note about this behavior to any document is enough?
WDYT?

[2022-09-27 08:39] serathius commented on #102430
/close

[2022-09-27 09:55] pacoxu commented on #110956
Agree. This is old debt(maybe a bug but the fix seems to be a behavior change) which is explained in the comments(see https://github.com/kubernetes/kubernetes/issues/112310#issuecomment-1245072299). For things that are not in the list(CPU/Memory), the resource quota will not take best-effort pods into account, for instance, a pod with ephemeral-storage limit/request.

/kind documentation
We may op

[2022-09-27 10:24] vardhanharshaIBM opened #112750 "`realPath` and R method 'normalizePath()' is not working on a share process namespace directory"
Kubernetes doc: https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/#understanding-process-namespace-sharing

Container filesystems are visible to other containers in the pod through the /proc/$pid/root link.

Above Kubernetes docs says we can share the file system and they are visible to other containers as well via /proc/$pid/root

Seeing issue with `realPath` and `n

[2022-09-27 10:26] vardhanharshaIBM commented on #112750
[strace_normalizePath().txt](https://github.com/kubernetes/kubernetes/files/9654532/strace_normalizePath.txt)
Attached strace output

[2022-09-27 10:32] hasan4791 opened #112752 "sigs.k8s.io/json module required go 1.17"
Hello team,
With release versions 0.24.x, 0.23.x sigs.k8s.io/json module is having issues as the entry in the go.sum is pointing to the commit that needs go 1.17.

[code]

Here is the PR where the version bump is mentioned
https://github.com/kubernetes-sigs/json/pull/9

Is there any way to get rid of this error with 1.16?

[2022-09-27 10:41] vasrem commented on #112701
@KnVerey thank you for the comprehensive reply.

All this makes sense. I just felt that with server-side-apply, the warning in the page you mentioned became more visible:

In fact, that's the case with CSA as well, I just tested on an object that is never server side applied (by either controller or kubectl).

[2022-09-27 12:04] nabheet commented on #28369
Me too!!! I will chip in for the bribe. 🤣

[2022-09-27 12:33] bre4the commented on #108049
Same issue with:

- k8s: 1.23.3
- containerd: 1.5.7
- crictl: 1.21.0

[2022-09-27 13:24] martinstraesser commented on #112622
Thanks @vsxen setting `SystemdCgroup = true` solved the problem for me.

[2022-09-27 13:28] NoicFank commented on #112745
/assign @wojtek-t
Please have a look at this when you are free

[2022-09-27 15:23] Kartik494 commented on #105956
/remove-lifecycle rotten

[2022-09-27 15:23] Kartik494 commented on #106996
/remove-lifecycle rotten

[2022-09-27 15:24] Kartik494 commented on #106409
/remove-lifecycle rotten

[2022-09-27 15:32] kannon92 commented on #111948
This does seem like a useful feature.  I just wanted to say this effects more than the pending state.  If a container is being pulled down, this activeDeadlineSeconds will terminate the pod.

I don't know if this is a bug though but maybe an enhancement request.  Sorta of a conditionally apply activeDeadlineSeconds if your job/pod is in the Running State.

[2022-09-27 16:47] RichardoC commented on #108588
/remove-lifecycle stale

[2022-09-27 17:58] ragnarkurmwunder commented on #92615
We had a lot of services in the same namespace.
MariaDB startup script was printing 1 line of text per 3sec or so.
`apt-get install -y php` crashed the container - extreme slowness.
The simplest way to produce the problem in the container was: `time bash -c 'echo | cat'`.
This command took somewhere between 4-14 sec.
We found that the test command had to be `bash` and contain pipe `|` (forking sub

[2022-09-27 18:17] SergeyKanzhelev commented on #111356
This was brought up at SIG Node meeting Sep 27, 2022. You can find notes here: https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#heading=h.2lyv2y38jwkc

The suggestion was to postpone solving this problem to cgroupv2 and OOMd design.

I will close this feature request for now. Also the proposal of per container restart policy may help to mitigete the future if it

[2022-09-27 18:32] #112605 closed

[2022-09-27 19:13] ahg-g commented on #93591
Yes, we can close this one.

/close

[2022-09-27 19:13] #93591 closed

[2022-09-27 19:46] ruiwen-zhao commented on #109296
/remove-lifecycle rotten

[2022-09-27 20:15] fedebongio commented on #112646
@howardjohn thanks for the detailed analysis! Are you considering sending a PR with your enhancements for us to review? Let us know! thanks again!

[2022-09-27 20:18] fedebongio commented on #112683
/sig auth
/cc @deads2k @liggitt @eng

[2022-09-27 20:19] fedebongio commented on #112684
/triage accepted

[2022-09-27 20:20] fedebongio commented on #112706
/help

[2022-09-27 20:22] howardjohn commented on #112646
I am likely not going to be able to do this in the short term at least - maybe in a few weeks things will free up. However, this change would require quite a bit of surgery on some core APIs, and likely introduce generics, so it may be something that warrants some more thorough design/discussion. Possibly could be done as part of https://github.com/kubernetes/kubernetes/issues/106846 (although it

[2022-09-27 20:23] fedebongio commented on #112745
/cc @yliaog since I've assigned the PR to you. Thank you!

[2022-09-27 20:25] cdenneen opened #112755 "Exec into deployment - wrong deployment"
### What happened?

<details>

[code]

### What did you expect to happen?

<details>

[code]

### How can we reproduce it (as minimally and precisely as possible)?

<details>

3 deployments:

[code]

### Anything else we need to know?

Could it be the exec to a deployment is a "fuzzy" match and therefore selects wrong one?

### Kubernetes version

<details>

[code]

### Cloud provider

AWS EKS

##

[2022-09-27 20:34] deads2k commented on #112684
I don't think we can ever practically change resourceVersion away from an integer.  Option 1 acknowledges that and provides the information we need.  I don't object to option 2 in concept, but if we acknowledge that we won't ever change resourceVersion away from an integer, it's unnecessary.  I don't think any deprecation period would be enough to make us confident in a switch.

[2022-09-27 20:37] lavalamp commented on #112684
I thought of another difficulty with option 2 last night... Do we treat it as a precondition instead of RV? In addition to RV? Or not at all? It seems any answer to this is pretty awkward.

[2022-09-27 20:37] deads2k commented on #112683
@rtheis

Based on the slack thread, this was an issue in the test scenario, not the kube project, correct?

[2022-09-27 20:45] rtheis commented on #112683
@deads2k there were no issues with the test scenario.  The test confirmed that redirects are followed during discovery.

[2022-09-27 20:51] liggitt commented on #112683
The aggregator availability check client follows redirects, not the upgrade proxy

[2022-09-27 20:56] segevfiner commented on #27264
/remove-lifecycle rotten

[2022-09-27 20:56] ConnorJC3 opened #112756 "Regression: Move canSafelySkipMountPointCheck out of mount-utils Interface"
### What happened?

`CanSafelySkipMountPointCheck` was made "package private" (i.e. renamed to `canSafelySkipMountPointCheck `) in https://github.com/kubernetes/mount-utils/commit/a20fcfb15a701977d086330b47b7efad51eb608 (which pulls from https://github.com/kubernetes/kubernetes/commit/983a570b9e3e48259c91d7264bbfbcfd91eb6d66).

We mock `mount-utils.Interface` in the AWS EBS CSI Driver for testing

[2022-09-27 20:57] ConnorJC3 commented on #112756
/sig storage

[2022-09-27 20:59] logicalhan commented on #112684
My sentiments exactly.

[2022-09-27 21:09] deads2k commented on #112647
is the change here a new kind of selector matching or a tweak to something existing?  It's hard to tell if this is proposing a new design to partition types of selectors that needs a kep versus a perf tweak to existing code that is straight-forward.

[2022-09-27 21:11] howardjohn commented on #112647
The proposal is an internal performance improvement to make a specialized implementation of the selector matching _internally_. So two concrete implementations for 1 shared interface. https://github.com/kubernetes/kubernetes/pull/112648/files#diff-3356b741048f05e0eef7d4c65f2db7bd83c47770e2f049dd4098cbb19898c66fR973 is a PoC of this. I think it can be extended (by me, or others if someone wants to)

[2022-09-27 21:26] #112426 closed

[2022-09-27 21:46] auwsom opened #112757 "Please update repo for latest Ubuntu LTS 22.04"
### What happened?

trying to install k8s, but repo isnt valid.
Official docs are for Ubuntu 16.04 Xenial:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
Blog recommends changing "xenial" to "jammy":
https://www.linuxtechi.com/install-kubernetes-on-ubuntu-22-04/
no worky..
`E: The repository 'https://apt.kubernetes.io kubernetes-jammy Release' does not have

[2022-09-27 22:04] auwsom commented on #112757
Workaround is installing using Kubeadm repo:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
`sudo curl -fsSLo /usr/share/keyrings/kubernetes-archive-keyring.gpg https://packages.cloud.google.com/apt/doc/apt-key.gpg
echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee /etc/apt/s

[2022-09-27 23:04] cdenneen commented on #112755
/sig cli

[2022-09-27 23:35] dims commented on #112757
/sig release

[2022-09-27 23:35] #112752 closed

[2022-09-27 23:47] #112755 closed

[2022-09-28 02:23] yong-jie-gong opened #112758 "net package used by kubernetes vulnerable to CVE-2022-27664"
### What happened?

golang.org/x/net is too old and vulnerable to https://pkg.go.dev/vuln/GO-2022-0969
![image](https://user-images.githubusercontent.com/13399313/192673011-318eae45-95d8-4f45-a01a-a27beba8b0b9.png)

### What did you expect to happen?

kubernetes dont' ship vulnerable x/net package

### How can we reproduce it (as minimally and precisely as possible)?

no function issue. check go.m

[2022-09-28 02:35] MikeSpreitzer commented on #110642
@lavalamp : the scenario you outlined at https://github.com/kubernetes/kubernetes/issues/110642#issuecomment-1230897214 involves only the FIFO and is not what this issue is about.

[2022-09-28 02:37] ksankeerth opened #112759 "NodeSelector doesn't work with all the labels of nodes"
### What happened?

I'm trying to deploy a `DaemonSet` only on Master Node. The master node has a few labels already and I added a few new labels as well. When I use those labels in `DaemonSet` Spec, the k8s not scheduling DS deployment in any nodes.

I have installed K8s using `Kubeadm` on Ubuntu 20 LTS.

**Labels available on each nodes**

[code]

The master node contains the below labels.

- be

[2022-09-28 03:10] benpbrown commented on #108249
/remove-lifecycle rotten

[2022-09-28 03:49] Chaunceyctx opened #112760 "remove duplicate slash in test/e2e/network/proxy.go"
### Which jobs are failing?

e2e conformance

### Which tests are failing?

Hi！I use local-up-cluster.sh to deploy the kubernetes cluster v1.25.0 . When I was performing a `A set of valid responses are returned for both pod and service Proxy` conformance test, I noticed that the request sent to kube-apiserver was

As you can see, the duplication slashes appear in request. And the error

keeps outp

[2022-09-28 03:50] Chaunceyctx commented on #112760
/sig network

[2022-09-28 04:40] Rajalakshmi-Girish commented on #112442
Here is the output that I ran with Regex: "\[sig\-network\]\ Networking\ Granular\ Checks\:"
[network_granular_chcks.txt](https://github.com/kubernetes/kubernetes/files/9661488/network_granular_chcks.txt)

[2022-09-28 06:04] hasan4791 commented on #112752
@dims Are we going to bump the version to 1.18 or is it done?

[2022-09-28 06:23] yangl900 commented on #112313
btw @feiskyer I understand LB is managed by cloud provide, and I don't expect LB to reconcile the backend pool for these "unmanaged" nodes. But if these "unmanaged" or "externally managed" nodes were configured to be the backend pool externally, why cloud provider force removing them?

For self-hosted k8s, there is actually a workaround. If we configure the cloud provider to say "LB is pre-configu

[2022-09-28 06:39] akankshakumari393 commented on #112760
/assign

[2022-09-28 06:45] aojea commented on #112442
It seems most tests are skipped because there are no nodes available, conformance requires 3 nodes minimum

[2022-09-28 06:48] pacoxu commented on #112759
/kind support

Please check the default taint of control-plane nodes.  https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
You can follow an example in https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#writing-a-daemonset-spec.

[2022-09-28 06:48] Rajalakshmi-Girish commented on #112442
My bad! I assumed they ran well as the cluster had 2 workers and one master.
I shall look into it and re-run it.

[2022-09-28 06:59] pacoxu commented on #112758
/assign

[2022-09-28 07:10] akankshakumari393 commented on #112733
/assign

[2022-09-28 07:12] jseparovic opened #112765 "Can no longer create pods: FailedCreate : context deadline exceeded"
### What happened?

I was testing out some Network Policies to understand how they work and after creating (and then removing) a Network Policy to limit ports on 80/443 (which I'm pretty sure I messed up, hence the delete), I realized the cluster will no longer create new pods.

I see the following over and over again in kube-apiserver logs (note I have multiple statefulsets trying to scale up pod

[2022-09-28 07:18] jseparovic commented on #112765
/sig api-machinery

[2022-09-28 07:18] akankshakumari393 commented on #112733
Is this a `good-first-issue`?

[2022-09-28 07:54] aojea commented on #112442
no worries, you can filter the SCTP tests, those are not going to work based on the logs

[2022-09-28 07:56] aojea commented on #112758
/sig api-machinery

[2022-09-28 08:04] Shubham82 commented on #112759
Hi [ksankeerth](https://github.com/ksankeerth)
I tried this one, with toleration and without toleration. when I didn't mention toleration under pod spec in daemonset.yaml then it gave me the same error as you mentioned above, but after using toleration it is working for me. It is due to the Taint and Toleration. you should mention the toleration for the pod(related to your taint on the master node

[2022-09-28 08:07] uablrek commented on #110814
Closing with https://github.com/kubernetes/kubernetes/issues/110814#issuecomment-1170240428

/close

[2022-09-28 08:07] #110814 closed

[2022-09-28 08:08] Shubham82 commented on #112759
It is right, please follow this one.

[2022-09-28 08:17] aojea commented on #112760
/triage accepted

[2022-09-28 08:33] simonis commented on #112296
What I've suggested is investigate if using a native zlib implemenation (like [Mark Adlers ubiquitous zlib](https://github.com/madler/zlib)) can give you further improvements. I'm not a Go expert, but I've learned that Go has its own zlib implementation in pure Go. However, there's a cgo based Go wrapper for the native zlib library ([go-zlib](https://github.com/4kills/go-zlib)) which pretends to o

[2022-09-28 08:37] garenchan commented on #66567
Restarting container is a feasible approach. Is there a way to do this without restarting container?

[2022-09-28 09:19] kerthcet commented on #112699
/cc
I'll take a look later today.

[2022-09-28 09:38] vvotekeb commented on #91132
it still doesn't work in version 1.21

[2022-09-28 09:40] eyarz commented on #51475
The bug is that running `--dry-run=client` requires a connection to the K8s server.
If I (can) have a connection to the cluster, I should prefer to use  `--dry-run=server`, which provides more accurate results because it's also running the [server-side validation](https://github.com/kubernetes/kubernetes/issues/51475#issuecomment-1197320626).

Here you can see that when starting minikube (Client V

[2022-09-28 09:44] dgrisonnet commented on #110642
@lavalamp it seems that it isn't covering the behavior that I would want for the endpointslice controller.

In my case, I would want to keep the existing behavior with the duplicates where failures are being added to the waiting queue for retry, and events updating the state of the world are still being processed as soon as they arrive since they might resolve the issue at hand. But what I would n

[2022-09-28 09:46] painhardcore commented on #91552
/remove-lifecycle stale

[2022-09-28 09:46] pacoxu commented on #112044
The current QPS/Burst works as literal meaning for starting image pulling per second.
Probably, we can add a new parameter to define the paralleral image pulling numbers for each node. (https://github.com/kubernetes/kubernetes/pull/112242 is just fixing it as a bug. Not adding a new param.)

[2022-09-28 09:48] pacoxu commented on #108906
I still hit this https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/112764/pull-kubernetes-unit/1575050567246417920 in master branch.

[2022-09-28 09:58] kerthcet opened #112767 "statefulSet controller will not sync all pods' template"
### What happened?

When I updated statefulSet image, not all pods' images will be synced with.

### What did you expect to happen?

All pods will be synced with the statefulSet pod template.

### How can we reproduce it (as minimally and precisely as possible)?

1. create a statefulSet like below
[code]
2.  Edit the yaml file and apply again, changed the `replicas` and `image`:
[code]
3. run `kub

[2022-09-28 09:58] kerthcet commented on #112767
/kind apps
/assign
I'll take a look.

[2022-09-28 09:59] kerthcet commented on #112767
/sig apps

[2022-09-28 10:05] kerthcet commented on #112767
/close
as designed for rollout case, see https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#partitions.

[2022-09-28 10:05] #112767 closed

[2022-09-28 10:30] xuchen-xiaoying opened #112768 "APIserver's request is not balanced across multi instances"
### What would you like to be added?

We want to introduce a specific Layer 7 load-balance for apiserver to manage and governance  the apiserver's requests, including load balance, route requests by resource/verb/ username field, circuit-breaker and so on

### Why is this needed?

API Server and client use HTTP2 to connect each other, which means client always hit the same API Server across differ

[2022-09-28 10:30] xuchen-xiaoying commented on #112768
/sig api-machinery

[2022-09-28 10:36] xuchen-xiaoying commented on #112119
@fromanirh hi, do you any update on this topic?

[2022-09-28 10:43] dims commented on #112752
https://github.com/kubernetes-sigs/json/blob/main/go.mod

[2022-09-28 10:53] invidian commented on #68737
/remove-lifecycle stale

[2022-09-28 11:06] mehabhalodiya opened #112770 "[Flaky test] capz-windows-containerd-master"
### Which jobs are flaking?

release-master-informing
- capz-windows-containerd-master

### Which tests are flaking?

- Kubernetes e2e suite.[It] [sig-network] DNS should provide DNS for pods for Subdomain [Conformance]
- Kubernetes e2e suite.[It] [sig-network] DNS should provide DNS for services [Conformance]
- Kubernetes e2e suite.[It] [sig-windows] [Feature:Windows] DNS should support configura

[2022-09-28 11:09] pacoxu commented on #112750
/sig node

[2022-09-28 11:13] Rajalakshmi-Girish commented on #112442
Ok I shall run SCTP tests and update here.
But I am not sure why it said ` INFO: Requires at least 2 nodes (not -1)` inspite of having two worker nodes in `Ready` state.

[2022-09-28 11:26] Rajalakshmi-Girish commented on #112442
@aojea yes 10 out of 16 tests filtered with SCTP regex failed. Please find the attached log.
[SCTP_test_run.txt](https://github.com/kubernetes/kubernetes/files/9664412/SCTP_test_run.txt)

[2022-09-28 11:41] mehabhalodiya opened #112771 "[Flaky test] gce-cos-master-scalability-100"
### Which jobs are flaking?

release-master-blocking
- gce-cos-master-scalability-100

### Which tests are flaking?

- ClusterLoaderV2: huge-service overall (testing/huge-service/config.yaml)
- ClusterLoaderV2: huge-service: [step: 11] gathering measurements [01] - APIResponsivenessPrometheusSimple
- e2e.go: ClusterLoaderV2

### Since when has it been flaking?

Sep 26 00:21:02 UTC+0530

### Testgr

[2022-09-28 11:51] gillesdouaire commented on #112333
Good and/or bad news: I've seen the NodeAffinity status occur once under K8s 1.23, but now I have trouble reproducing.

[2022-09-28 12:55] aojea commented on #110642
I 'm not sure that is the right approach,
we have event X that fails to be reconciled, we retryAfter t secs
event X arrives directly , we know it failed that is why we retried, why do we want to process it immediately?

[2022-09-28 13:05] liggitt commented on #81132
with removal of support for `--log-file` in https://github.com/kubernetes/kubernetes/pull/112120 and removal of dockershim in 1.24, is there any remaining log rotation code in kube components or can this be closed?

[2022-09-28 13:54] liggitt commented on #112686
/remove-kind bug
/kind support

list is a distinct permission from get, and requires view access to all resources of the requested type. ACL-filtered list ("list only instances I have GET permission on") is not supported by the Kubernetes API

see prior discussions at https://github.com/kubernetes/kubernetes/issues/48537#issuecomment-331682261, https://github.com/kubernetes/kubernetes/issues/40403

[2022-09-28 13:59] enj commented on #111977
I believe #104165 has to be fixed first for this to be possible.

[2022-09-28 14:14] aojea commented on #112442
heh, sorry, I meant just the opposite, do not run SCTP tests 🙃

focus="[sig-network]\ Networking\ Granular\ Checks:"
skip=SCTP

[2022-09-28 14:21] aojea commented on #51475
you always need at least one connection for the discovery and download the OpenAPI spec

https://github.com/kubernetes/kubernetes/blob/827c77afcb242295d438e847622699393034ed7c/staging/src/k8s.io/kubectl/pkg/cmd/util/factory_client_access.go#L186-L195

then you may use the local cache ,but something has to initialize the cache.

I don't remember how long cache entry expires

[2022-09-28 14:56] #112094 closed

[2022-09-28 15:19] dgrisonnet commented on #110642
If the event updates the state of the world, you don't know whether it will also fail or fix the issue causing the failures, so I am thinking that it might be better to treat it right away rather than wait for a delay that could reach a couple of minutes.
The benefit would be to be more reactive to changes fixing the state of the controller but at the cost of potentially continuing to process fail

[2022-09-28 15:23] aojea commented on #110642
then, how do you break the loop? assume worst case, that event reconciliation is always going to fail and the system will keep generating this event

[2022-09-28 15:24] rdxmb commented on #51475
`kustomize build` does not need a server connection. So `kubectl --dry-run=client` neither should

[2022-09-28 15:25] enj opened #112776 "Enhance TestAggregatedAPIServerRejectRedirectResponse to cover availability controller redirect"
Integration tests could be enhanced to cover this.

_Originally posted by @enj in https://github.com/kubernetes/kubernetes/issues/112772#issuecomment-1261078154_

[2022-09-28 15:28] duggi-9977 commented on #111939
Hi! I have seen this issue and I get this is the solution :
https://stackoverflow.com/questions/72895951/switch-container-runtime-in-k8s-cluster-from-cri-o-to-docker

[2022-09-28 15:33] apelisse commented on #51475
OK, `kubectl create` (as is in the title) doesn't require a connection.

`kubectl apply` is a different beast, it needs to read the existing object, since it's not doing a strict creation, it's also possibly patching the existing object. How do we know the state of the current object without a connection?

[2022-09-28 15:38] eyarz commented on #51475
I believe `kubectl create` also requires a connection:

![image](https://user-images.githubusercontent.com/19731161/192823175-3dddd4f3-c960-43ba-acc7-594bfcbbd981.png)

[2022-09-28 15:47] apelisse commented on #51475
Ok, I'll take another look.

[2022-09-28 15:54] aojea commented on #110642
will not reset the retry budget every new event?

[2022-09-28 15:58] aimuz commented on #112758
#112693 This is being solved

[2022-09-28 16:05] fromanirh commented on #112119
I'm investigating the API support level and thus guarantees of this endpoint.
There's no obvious documentation for the endpoint (please correct me if I missed something huge). The google search points to unofficial docs, which themselves warn the reader that the informations are gathered reviewing the code (https://www.deepnetwork.com/blog/2020/01/13/kubelet-api.html)

[code]

Digging into git his

[2022-09-28 16:08] the-voidl commented on #62872
Is there still any chance you let the users use `$ref` in CRDs?
I'd estimate a recursive CRD as relatively common - even the definition of `io.k8s.api` resources highly rely on `$ref`.

I see you points @liggitt, still would love any feedbeek if you will be implementing this.

[2022-09-28 16:18] lavalamp commented on #110642
@dgrisonnet This is not a rate-limiting queue. I actually think what controllers need is a limited version of the priority and fairness algorithm. The point should be to fairly spend your limited amount of CPU/network on changes for well-behaved and poorly-behaved objects. Possibly with multiple priority levels... Hm, this sounds like fun to write

@MikeSpreitzer ah, I see what you are saying now,

[2022-09-28 16:18] liggitt commented on #62872
This doesn't seem likely to make progress in an issue (no one is working on a design that addresses the significant additional complexity and failure modes introduced). I'd suggest closing this issue, and bringing up the topic in a sig-api-machinery meeting to gauge whether addition of this feature is likely to be accepted and whether there is priority / bandwidth to shepherd a design and implemen

[2022-09-28 16:23] lavalamp commented on #62872
I think this issue has value as the place everyone is apparently watching.

I agree it's not making progress right now and to make progress needs an owner to drive it.

The first hurdle here is to gather requirements and demonstrate that some (possibly limited) version of this would be very helpful to a sufficient number of users. This could either start with a SIG meeting agenda item, or end with

[2022-09-28 16:26] #112683 closed

[2022-09-28 16:49] Nwexpert opened #112777 "IP forwarding CVE-1999-0511"
### What would you like to be added?

Considering CVE-1999-0511
https://nvd.nist.gov/vuln/detail/CVE-1999-0511

### Why is this needed?

Mitigating IP forwarding risk

[2022-09-28 17:12] #109641 closed

[2022-09-28 17:14] robey commented on #78446
My company uses it to access internal services that require auth to visit, like build servers. These sessions can last a long time, but are usually interrupted by the port forward crashing. The only way to notice is to see that the site has become unresponsive and go check the terminal for port forwarding timeouts and restart it.

If there was an alternate, more reliable way to handle authenticate

[2022-09-28 17:29] harshanarayana commented on #110737
/remove-lifecycle stale

[2022-09-28 18:02] tallclair commented on #84248
This needs a KEP to progress. But even before writing a KEP for this feature, we need to decide what the future intention for the Kubelet API is.

[2022-09-28 18:02] #84248 closed

[2022-09-28 18:02] panicbit commented on #81723
Let's keep the lights on
/remove-lifecycle stale

[2022-09-28 18:21] aojea commented on #112777
/close

kubernetes nodes are actually routers for pods

[2022-09-28 18:21] #112777 closed

[2022-09-28 18:22] apelisse commented on #108249
I'm not really convinced we should keep this open. retainKeys is a very old thing that I don't think has been used consistently, has never been documented.

The way forward is to use union/oneofs.

[2022-09-28 18:24] aojea commented on #112758
yeah, let's try to not duplicate efforts

@pacoxu do you mind if I assign @aimuz , his PR was submitted first

/assign @aimuz

@aimuz can you please update the description in your PR with `Fixes #112758` so the bot closes this issue once it merges?

[2022-09-28 19:14] hoyhbx commented on #110653
/remove-lifecycle stale

[2022-09-28 19:55] yliaog commented on #110653
clearly it is a bug, do you mind to send a fix?

[2022-09-28 20:30] SergeyKanzhelev commented on #112733
/triage accepted

[2022-09-28 20:32] SergeyKanzhelev commented on #112733
Yes, I believe the change required is very localized.

[2022-09-28 20:36] SergeyKanzhelev commented on #112677
/remove-kind bug

[2022-09-28 20:46] SergeyKanzhelev commented on #104155
/remove-lifecycle rotten
/triage accepted
/priority important-longterm

this may create a challenge for this KEP: https://github.com/kubernetes/enhancements/issues/3329

@bydga is it 1.21 or some later version? Any chance you can try it on one of the supported versions?

[2022-09-28 21:11] ErikEngerd commented on #45300
I would like to complicate the discussion a bit by another scenario :-)

In this scenario, the standby is not running but is started only when the (single) active becomes unhealthy. Then the active, being unhealthy but still capable of serving traffic, continuous to run. Then when the standby becomes healthy, it becomes active and the main is terminated.

Rafionale: legacy application and saving c

[2022-09-28 21:23] jseparovic commented on #112765
Turns out that this issue was caused by changing the hostname of the master node and reboot it.
Since changing the name back the pods are now being created ok.

[2022-09-28 21:23] #112765 closed

[2022-09-28 21:59] Riaankl opened #112778 "Promote port forwarding e2e tests to conformance"
### Promotion request for port forwarding e2e tests

As part of addressing the [remaining untested endpoints](https://apisnoop.cncf.io/conformance-progress/endpoints/1.26.0/?filter=untested) for Conformance the api endpoint [connectCoreV1GetNamespacedPodPortforward](https://apisnoop.cncf.io/1.24.0/stable/core/connectCoreV1GetNamespacedPodPortforward?conformance-only=true) is tested by the followin

[2022-09-28 22:17] Riaankl commented on #112778
/triage accepted
/assign @eddiezane @soltysh

[2022-09-28 23:04] yong-jie-gong commented on #112758
Fixes #112758

[2022-09-28 23:32] colin-arnott-xero commented on #110821
/remove-lifecycle stale

[2022-09-28 23:50] lavalamp commented on #112684
Does anyone strongly object to option 1 here? It seems to be winning.

[2022-09-28 23:54] geotransformer opened #112780 "Certificates all renewed, but apiserver floods Unable to authenticate the request" err="[invalid bearer token, Token has expired""
### What happened?

1> Server reboot 21 days ago.
2> Pods not recreated
calico-kube-controllers-7b67ffd4bf-r8v75          0/1     Error                   0          405d
    calico-node-22jm4                                 0/1     Init:CrashLoopBackOff   5672       405d
    coredns-558bd4d5db-czhw9                          0/1     Error                   0          405d
    coredns-558bd4d5db-mtm

[2022-09-29 00:02] geotransformer commented on #112780
Is some service account expired?
[](url)
![08_00_30](https://user-images.githubusercontent.com/11046513/192909245-130026b1-273d-402e-98f8-1a76ca92ac5e.jpg)

[2022-09-29 01:33] aimuz commented on #112758
@aojea Okay, I added it

[2022-09-29 01:56] fedebongio commented on #112647
We discussed this one during our bug triage. There seemed to be the feeling that this is large enough to need a KEP? Would you be up for that? Additionally you could bring it up in our SIG meeting to socialize / discuss it more if you wanted.

[2022-09-29 02:05] kerthcet commented on #106886
/remove-lifecycle rotten

[2022-09-29 02:11] kerthcet commented on #67250
FYI: KEP initialized here https://github.com/kubernetes/enhancements/pull/3562, glad to hear any advices.

[2022-09-29 02:23] ksankeerth commented on #112759
Thank you @pacoxu and @Shubham82. I'll try out toleration and taints

[2022-09-29 02:26] lwangrabbit commented on #87733
Also hit this problem on v1.22.10.

[2022-09-29 02:57] pacoxu commented on #111259
/triage accepted

[2022-09-29 03:19] kkkkun commented on #112296
releated issue： https://github.com/kubernetes/kubernetes/issues/106679

[2022-09-29 05:31] #110881 closed

[2022-09-29 06:08] wzshiming commented on #101565
/remove-lifecycle stale

[2022-09-29 06:31] HL-EverGreen commented on #111698
Hello @thockin , I'm interested in this ticket and I am currently working on a PR to do the cleanups.

I just started with `field.Required` and `field.Invalid`. Could you take a look at my PR https://github.com/kubernetes/kubernetes/pull/112782 to see if they are the desired cleanups? Thanks.

Also a question: I saw several similar pattern in [this block](https://github.com/kubernetes/kubernetes/b

[2022-09-29 07:04] HeshamAboElMagd commented on #109211
Hello @mzkhan , just wanted to touch-base for any update regarding this issue.
Thanks!

[2022-09-29 07:06] HeshamAboElMagd commented on #111276
Hello @haircommander , just wanted to touch base for any updates regarding this feature.
Thank you!

[2022-09-29 07:07] HeshamAboElMagd commented on #104165
Hello @ritazh , just wanted to touch base for any updates regarding this issue.
Thank you!

[2022-09-29 07:17] Rajalakshmi-Girish commented on #112442
[Granular_network_serial.txt](https://github.com/kubernetes/kubernetes/files/9672038/Granular_network_serial.txt)
Those skips that said `INFO: Requires at least 2 nodes (not -1)` ran fine when the suite was run serially.

[2022-09-29 07:56] alirezaDavid commented on #36891
Hey,
We're experiencing the exact issue mentioned here:
Cluster version: 1.21
We deleted a namespace, and it seems the namespace itself has successfully deleted,
(we had to turn off the "finalizer" in order to delete the namespace)

[code]

But the pods/pvcs inside this namespace are stuck at the terminating phase,

[code]

[2022-09-29 08:50] DongsGit commented on #112279
Since it is not supported why do I get an unsupported field averageUtilization when I execute "kubectl explain"

[2022-09-29 09:07] bydga commented on #104155
Hi, thanks for the quick reply 🙂 This is currently 1.21 (aws eks), but we will be upgrading in a week. Once we have the newer version, i will retest and share the results 👍

[2022-09-29 09:07] alculquicondor commented on #112699
I don't think we can assume that the image runtime is docker and that the default registry is docker.io

If anything, I believe this should be fixed in kubelet or CRI when filling up `node.Status.Images`

[2022-09-29 09:29] kerthcet commented on #112699
But we can avoid this somehow by getting the familiarizeName. For example, "docker.io/library/redis" will have the familiar name "redis" and "docker.io/dmcgowan/myapp" will be "dmcgowan/myapp".  Then both in reading and writing from the cache, we'll tune the image name to the familiar name in calculating.

[2022-09-29 10:16] alculquicondor commented on #112699
But what if they are not using docker to pull the images? @SergeyKanzhelev any insight on what can be done to match image names?

[2022-09-29 10:50] aojea commented on #112778
naive question @smarterclayton , this feature has SPDY and Websockets implementation IIRC, do we want to make conformance only websockets?

[2022-09-29 10:51] wojtek-t commented on #86484
/remove-lifecycle rotten

[2022-09-29 11:06] #110098 closed

[2022-09-29 11:07] #112760 closed

[2022-09-29 11:08] aojea commented on #51475
well, I don't know if is expected, if you add `-v 9` it dumps the http traces
[code]

[2022-09-29 11:42] aojea commented on #112768
Where do you want to introduce this L7 load balancer?

[2022-09-29 12:39] akankshakumari393 commented on #112733
/good-first-issue

[2022-09-29 12:47] huzhengchuan commented on #87733
I meet the same question in k8s 1.22 , and debug it

when create v2beta2 hpa
`apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: sample-app
  namespace: default
spec:
  maxReplicas: 10
  metrics:
  - object:
      describedObject:
        kind: Service
        name: sample-app
      metric:
        name: http_requests_count
      target:
        averageValue: "1"

[2022-09-29 12:57] sandori01 commented on #105204
Hi,
I still experience this issue with RKE2 at 1.23.10 (upgraded from 1.23.7, where I already had this).
So it seems that 1.23.8 didn't resolve.

[2022-09-29 13:18] zswanson commented on #108208
For anyone stumbling into this issue, its effectively a dupe of #72519 which was closed with a comment indicating this is somewhat intentional.

[2022-09-29 13:54] iamrahul127 commented on #43867
Please provide renaming of namespace feature

[2022-09-29 14:14] haircommander commented on #111276
we're aiming to update the alpha target of this KEP in 1.26 and add the metrics from CRI https://github.com/kubernetes/enhancements/pull/3559 which would fix metric collection when enabled on kubelet and runtimes

[2022-09-29 14:15] vinaykul commented on #110890
/remove-lifecycle stale

[2022-09-29 14:25] liggitt commented on #112780
if this is specific to calico CNI operations, https://github.com/projectcalico/calico/pull/5910 and https://github.com/projectcalico/calico/issues/4857 might be relevant

/remove-kind bug
/kind support

[2022-09-29 14:39] msvticket commented on #99003
Shouldn't [csaupgrade.UpgradeManagedFields](https://github.com/kubernetes/client-go/blob/master/util/csaupgrade/upgrade.go) be backported to earlier versions of client-go? This is bug that affects people *now* so a fix should be made readily available to be able to let tools make a fix now, without having to wait for v1.26 and then only support this fix for v1.26 and later.

[2022-09-29 14:48] liggitt commented on #112759
/remove-kind bug
/kind support

if adjusting tolerations on the daemonset to match the taints on the node doesn't work, please reopen with information about the node (`kubectl get node $name -o yaml`) and the status of the daemonset (`kubectl get daemonset $name -o yaml`)

/close

[2022-09-29 14:48] #112759 closed

[2022-09-29 15:28] clamoriniere commented on #84248
Hi @tallclair

Do you know where the discussion about "future intention for the Kubelet API" has already started somewhere?
If not, how can we start it?

[2022-09-29 15:44] #112717 closed

[2022-09-29 16:00] lavalamp commented on #112296
I'm very open to drop-in replacements for gzip that don't require clients to ask for a different compression format.

The specific library needs to be pretty bullet-proof though. Many users, few bugs, active maintainers, etc, are all good. Cgo use is a red flag, I'm not sure we'd rule it out completely but bugs in cgo code could be especially severe in processes like apiserver.

We'd probably need

[2022-09-29 16:01] thockin commented on #112560
This is a possible feature, but it does need a KEP.

[2022-09-29 16:06] jsturtevant commented on #51540
I think we can close this. We have the ability to run the tests and have a job now. We are tracking the improvements to make all the unit tests pass in separate PRs.  You can find them searching for `unittest` on our sig-windows dashboard https://github.com/orgs/kubernetes/projects/99/views/1

/close

[2022-09-29 16:06] #51540 closed

[2022-09-29 16:26] robscott commented on #111929
Hey @aslanpour, thanks for adding all the details here! I agree this is confusing, and unfortunately this appears to be a duplicate of https://github.com/kubernetes/kubernetes/issues/103576 as @aojea suggested. Based on your output above, I believe whatever you're using in place of kube-proxy is also using EndpointSlices. It looks like you're updating Endpoints, but not EndpointSlices after you re