[2021-11-02 15:09] MadhavJivrajani commented on #103151
/remove-lifecycle stale
/lifecycle frozen
😬

[2021-11-02 15:13] jsafrane commented on #105899
We require users to drain nodes before enabling migration or when updating to a Kubernetes version that have migration enabled by default. All volumes should be therefore unmounted.

[2021-11-02 15:32] tkashem opened #106094 "measure the relative cost (cpu/memory) for deep copies"
### What happened?

the apiserver makes a deep copy of an object in several code sites while serving a request by using `DeepCopyObject()` function. We want to measure the relative cost (cpu/memory) for deep copies by using benchmark testing to better understand the impact.

Recently we have added a deep copy for this PR - https://github.com/kubernetes/kubernetes/pull/94986, knowing the relative c

[2021-11-02 15:33] tkashem commented on #106094
/sig api-machinery

cc @liggitt

[2021-11-02 15:36] juanyque commented on #104095
/remove-lifecycle stale

[2021-11-02 15:37] tkashem commented on #106094
/assign

[2021-11-02 15:59] serathius commented on #106060
Aside of emitting log, is there any impact on MS?

[2021-11-02 16:07] shuaich commented on #106060
Metrics-server fails to start, the Pod status is `CrashLoopBackOff`.

[2021-11-02 16:17] sxt26 commented on #43924
for x509: certificate signed by unknown authority

https://gitlab.com/stirumala/kubernetes/-/blob/main/findings.txt

[2021-11-02 16:18] uablrek commented on #106011
/area network-policy

[2021-11-02 16:25] serathius commented on #106060
Are you sure that MS fails to authorize to configmap?
Looking into MS error it gets `dial tcp 10.0.0.1:443: i/o timeout`, `403 Forbidden` looks unrelated as I don't think MS uses `Go-http-client/2.0` user agent. Would need to be confirmed?

If if so, the problem is with MS connectivity to apiserver.

[2021-11-02 16:29] serathius commented on #106086
/sig release

Tried to read through image build code, I don't think I will be able to implement it without help.
Adding go-runner to kube-proxy is not as simple as it uses different base image than all other images.

[2021-11-02 16:31] serathius commented on #106060
Would recommend to add presubmit tests as MS doesn't have any.

[2021-11-02 16:42] shuaich commented on #106060
/cc kwiesmueller

[2021-11-02 16:50] aojea commented on #106086
what is "go-runner" ?

[2021-11-02 16:51] shuaich commented on #106060
Thanks for clarification. Will update the issue description.

[2021-11-02 16:55] kwiesmueller commented on #106060
/cc @kwiesmueller

[2021-11-02 17:00] serathius commented on #106086
Small binary included in K8s container images used to write logs to file, it was developed by @dims as workaround for klog scalability problems. Instead of calling apiserver binary, we call it through go-runner.

[2021-11-02 17:03] aojea commented on #106086
do you have a link to a PR of another image migration?

[2021-11-02 17:05] serathius commented on #106086
/cc @BenTheElder

[2021-11-02 17:06] serathius commented on #106086
I don't have. This change is tricky as kube-proxy image is different than other. Maybe @BenTheElder can help and give a hint how to implement this.

[2021-11-02 17:15] BenTheElder commented on #106086
So these images now live in https://github.com/kubernetes/release/tree/master/images/build, currently the go-runner binary sources live as part of a go-runner image which is ~ distroless + go-runner.

With kube-proxy we need actually several binaries from a distro (`iptables-save` etc.) so we'd need to add the go-runner binary to that image. (["debian-iptables"](https://github.com/kubernetes/relea

[2021-11-02 17:53] neolit123 commented on #106084
please discuss this in the kubernetes/minikube repository.

/close

[2021-11-02 17:53] #106084 closed

[2021-11-02 17:53] neolit123 commented on #106057
/sig api-machinery

[2021-11-02 17:55] neolit123 commented on #106037
related https://github.com/kubernetes/kubernetes/pull/103299
issue for pinned images:
https://github.com/kubernetes/kubernetes/pull/101808

[2021-11-02 18:01] BenTheElder commented on #106012
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/105833/pull-kubernetes-integration/1453952457943027712/build-log.txt

nope, the tests paniced and made a massive log file, which is why you can't see the log file directly in the prow.k8s.io frontend.

[2021-11-02 18:09] BenTheElder commented on #106012
132M of logs (which exceeds our configured 100M limit for processing results in prow.k8s.io), downloaded it locally for easier viewing ...

looks like these are api priority and fairness tests
/sig api-machinery
/remove-sig testing

[2021-11-02 18:10] BenTheElder commented on #105925
This is intended to be removed once there are no active branches with bazel. 1.19 was still supported last I checked.

https://github.com/kubernetes/enhancements/issues/2420

We have some other cleanup pending the final turndown of bazel branches.

[2021-11-02 18:11] BenTheElder commented on #105681
Appears to be a valid upstream issue in go 👀  (and probably fixed with go1.18?) unfortunately I don't think existing Kubernetes branches will upgrade a minor go version, only patches, but future work can switch ...

[2021-11-02 18:14] BenTheElder commented on #104685
The Junit is expandable / rendered by prow.k8s.io, any other junit tool can also decode the strings?

We can't assume that the sources came from GitHub (many vendors are building forks, people develop firewalled, etc.)

We should probably be building kubernetes binaries with -trimpath at some point ... cc @dims.

I don't think the stack trace paths are in-scope for SIG-testing, they're just go sta

[2021-11-02 18:15] BenTheElder commented on #103871
With our own CI doing fine, and the risk from breaking backported changes, I don't think this is going to change.

In 1.21+ this is resolved, and it won't be all that long before those are the supported versions of Kubernetes anyhow.

[2021-11-02 18:16] BenTheElder commented on #103430
This would have better visibility in kubernetes/test-infra, where the source code for prow.k8s.io exists.

[2021-11-02 18:21] jkaniuk commented on #105927
@tosi3k, @marseel for visibility

[2021-11-02 18:54] ahg-g commented on #105914
/close

[2021-11-02 18:54] #105914 closed

[2021-11-02 18:57] pohly commented on #103430
I wasn't sure whether it's e2e.test or the web UI which needs to be enhanced. Let's move it... -> https://github.com/kubernetes/test-infra/issues/24209

[2021-11-02 18:57] #103430 closed

[2021-11-02 19:19] Huang-Wei commented on #105291
`minDomains` sounds like a reasonable requirement. But the motivation and semantics of `maxDomains` looks confusing, is there a concrete example?

In terms of DoNotSchedule mode, it's proposed to abstract `maxDomains` as an extra (dynamic) filter on top of nodeSelector/nodeAffinity for the "search space". This concerns me because once the pods are spread onto the number of so-called `maxDomains`,

[2021-11-02 19:29] lordnynex commented on #24725
Just my 2 cents, I need restart never to run load testing tools. I can not launch as a pod (which supports restart never) and have > 1 replicas. Naturally I shifted to looking at a deployment but the same incompatibility exists. If my pods restart it will result in a never ending load test. In the case of my database load testing tools, they end up sampling rows out of a database to generate read

[2021-11-02 19:41] serathius opened #106101 "Remove deprecate klog flag usage from windows cluster setup"
/kind feature

Hey, in K8s 1.23 we are planning to deprecate multiple klog flags. [KEP-2845](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/2845-deprecate-klog-specific-flags-in-k8s-components/README.md)

Deprecated flags: `--log-dir`, `--log-file`, `--log-flush-frequency`, `--logtostderr`, `--alsologtostderr`, `--one-output`, `--stderrthreshold`, `--log-file-max-s

[2021-11-02 19:49] serathius opened #106103 "Remove deprecate klog flag usage from kubemark"
/kind feature

Hey, in K8s 1.23 we are planning to deprecate multiple klog flags. [KEP-2845](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/2845-deprecate-klog-specific-flags-in-k8s-components/README.md)

Deprecated flags: `--log-dir`, `--log-file`, `--log-flush-frequency`, `--logtostderr`, `--alsologtostderr`, `--one-output`, `--stderrthreshold`, `--log-file-max-s

[2021-11-02 20:19] fedebongio commented on #106003
/cc @deads2k
/triage accepted

[2021-11-02 20:19] fedebongio commented on #106003
Thank you @neolit123 for the tag

[2021-11-02 20:20] fedebongio commented on #106012
/cc @tkashem @MikeSpreitzer
/triage accepted

[2021-11-02 20:22] fedebongio commented on #106056
/assign @jpbetz @cici37
/triage accepted

[2021-11-02 20:23] fedebongio commented on #106057
/assign @roycaihw
/triage accepted

[2021-11-02 20:24] fedebongio commented on #106094
/cc @apelisse
not an urgent priority
/triage accepted

[2021-11-02 20:25] fedebongio commented on #106070
/triage accepted

[2021-11-02 20:25] fedebongio commented on #106088
/triage accepted

[2021-11-02 20:46] tap52384 commented on #56582
Is it possible to create a role that would apply to pods with the same label? If so, that's one way to fix things.

[2021-11-02 20:48] tap52384 commented on #44703
Please open this back up! This seems to be an easy way to allow users to select resources with dynamic names without adding too much overhead.

[2021-11-02 21:10] roycaihw commented on #106057
I think the behavior matches my expectation. I expect we validate CRs against an apiVersion+kind+metadata schema.

The apiVersion and kind in my CR would be rejected because it is not registered in the API.

We validate against the ["schema" (they are optional string fields)](https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/apiextensions-api

[2021-11-02 21:27] #105261 closed

[2021-11-02 21:28] #105704 closed

[2021-11-02 21:28] #103304 closed

[2021-11-02 21:45] hh commented on #106032
/triage accepted

[2021-11-02 23:10] BenTheElder commented on #94029
same question before letting this close https://github.com/kubernetes/kubernetes/issues/94029#issuecomment-892220009
/remove-lifecycle stale

[2021-11-02 23:10] AbdElRhman2111 commented on #106040
Thanks Kartik494 it's working

[2021-11-02 23:10] #106040 closed

[2021-11-02 23:15] BenTheElder commented on #105953
/triage accepted
Within the project we primarily run e2e.test binary directly, this image is primarily for use-cases like sonobuoy and has been developed by that team. I'm personally way over capacity to work on this but maybe one of the sonobuoy folks can.
cc @wilsonehusin @dims https://github.com/kubernetes/kubernetes/pull/99178

[2021-11-02 23:51] wilsonehusin commented on #105953
hmm yeah I don't think running container locally was in the use case that we considered when we did #99178, because we were banking on `RESULTS_DIR` to be consistent with the mounted volume (therefore the folder must exist) like the following:

https://github.com/kubernetes/kubernetes/blob/392de8012eb4116a0467f8fbe771ba5a17e34a86/test/conformance/image/conformance-e2e.yaml#L71-L73

I think the def

[2021-11-03 00:36] jingyih commented on #94029
cc @serathius

[2021-11-03 00:51] jsturtevant commented on #104111
Fixed in https://github.com/containerd/ttrpc/pull/94

Waiting for fix to get into containerd

[2021-11-03 01:00] #105925 closed

[2021-11-03 01:13] Dingshujie commented on #100241
/reopen

[2021-11-03 01:15] Dingshujie commented on #100241
@wzshiming #100326 not fixs this issue.

[2021-11-03 02:03] ryanlyy opened #106107 "can't use NET_ADMIN capability beside Privileged PSS"
### What happened?

Dear,

Now I am experimenting PodSecurity Standard and PodSecurity Admission in Kubernetes 1.22.

And I found I can't add NET_ADMIN capability when using baseline or restricted PSS level. The only way I can add NET_ADMIN is using Privileged PSS Level. It is really not convenient because believe no customer allow workload using privileged but wordload may need using NET_ADMIN fo

[2021-11-03 02:07] ryanlyy commented on #106107
/sig k8s-infra /sig security /wg policy

[2021-11-03 02:07] ryanlyy commented on #106107
/wg Policy

[2021-11-03 02:15] enj commented on #103499
/remove-lifecycle rotten
/lifecycle frozen

[2021-11-03 02:44] sanposhiho commented on #105291
In terms of `maxDomains` and `ScheduleAnyway`, we can address use cases like `Use case 2` on the issue description.

Users need to be careful when they use `maxDomains` with `DoNotSchedule`. (and especially with topology of node, as @ahg-g said.) It will be kind to add a note for it on documentations.

[2021-11-03 04:53] nmathew commented on #105783
Are we planning to add support for multiple numa nodes in single "--reserved-memory" flag, or just displaying a better error msg?

[2021-11-03 05:01] nmathew commented on #105783
@cynepco3hahue @SergeyKanzhelev by looking at the struct

`type ReservedMemoryVar struct {
	Value       *[]kubeletconfig.MemoryReservation
	initialized bool // set to true after the first Set call
}`

it seems we need to support multiple numa nodes in single "--reserved-memory" .

[2021-11-03 05:26] ddurham2 commented on #73760
@thockin, the problem I'm seeing with sidecar (actually trying just an initContainer myself) is that your whole pod then has to run with a service account with kube API access, even though only the sidecar/initContainer should be able to query the node information.  Am I missing something?

[2021-11-03 05:53] shaofeng66 commented on #79402
Looks like it's been disabled: https://github.com/kubernetes/kubernetes/issues/14393

[2021-11-03 07:06] BenTheElder commented on #105925
1.19 just had it's last patch release a week ago 🙃, these are removed now.

[2021-11-03 07:14] kerthcet commented on #105287
Hi all, I'm interested with this feature, I can work on this if necessary.

[2021-11-03 07:48] Pingan2017 commented on #106079
/kind api-change

[2021-11-03 08:02] pacoxu commented on #106107
/sig auth

[2021-11-03 08:18] mborsz commented on #105927
@NikhilSharmaWe I think this is reasonable. I added one comment to that PR. We can move the review there.

[2021-11-03 08:32] pacoxu commented on #106080
/cc @serathius

[2021-11-03 08:47] pacoxu commented on #106035
It involves new alias but is compatible with the old one. It sounds acceptable.

[2021-11-03 09:00] 249043822 commented on #106037
I could not reproduce this in v1.22.1, I think maybe the line 213 encountered error while disk full time, then sandboxImage escaped from in-use list

[2021-11-03 09:00] 249043822 commented on #106037
triage/accepted

[2021-11-03 09:04] zerkms commented on #106037
@249043822 apparently you could not reproduce it in 1.22 because in kubelet 1.22

    --pod-infra-container-image string     Default: k8s.gcr.io/pause:3.5

but in 1.20 it's `pause:3.2`.

So instead of using CRI kubelet simply relies on the cli arguments only.

[2021-11-03 09:05] wojtek-t commented on #105759
@marseel - friendly ping on opening cherrypicks

[2021-11-03 09:05] fromanirh commented on #104147
/remove-lifecycle stale

[2021-11-03 09:08] 249043822 commented on #106037
pause version should not the essential reason, no difference

[2021-11-03 09:10] dnwe opened #106110 "client-go: client/auth/oidc sometimes fails to persist refresh token due to empty filename"
### What happened?

Periodically we seem to see a long-lived client fail to refresh its oidc access token as it fails to persist it to the KUBECONFIG file with an error of `could not persist new tokens: open : no such file or directory`, this can only be recovered by restarting the application. The application itself is simply pointing to a single explicit config file:
[code]

Looking at the error

[2021-11-03 09:12] zerkms commented on #106037
`im.sandboxImage` is set to the `--pod-infra-container-image` isn't it?

[2021-11-03 09:14] dnwe commented on #106110
/sig api-machinery

[2021-11-03 09:14] 249043822 commented on #106037
Yea

[2021-11-03 09:15] zerkms commented on #106037
so, it causes a problem then: containerd uses pause:3.5, and kubelet thinks it's 3.2 (in kubelet v1.20 and 1.21).

So, I think kubelet should use CRI to obtain the currently used sandbox image in runtime, instead of relying on a statically set cli argument.

[2021-11-03 09:41] pacoxu commented on #105937
/remove-kind bug

[2021-11-03 09:42] Raghavendrasp123 opened #106111 "Liveness/Readiness probe timed out but no reason found in pod describe events"
### What happened?

I was trying a scenario where liveness/readiness probe command run inside the container for long time('sleep 10 && exit 10') with shorter timeoutSecod value say 2 Sec. As expected container restarted because of timeout but when i check the events in pod describe it stated only unhealthy and in events actual reason for probe failure is not printed **"liveness probe failed:<'no r

[2021-11-03 09:46] pacoxu commented on #106111
I tried to fix one similar issue in https://github.com/kubernetes/kubernetes/pull/103967.

[2021-11-03 09:46] pacoxu commented on #106111
/sig node

[2021-11-03 09:48] cynepco3hahue commented on #105783
@nmathew We should support multiple NUMA nodes under the same --reserved-memory flag.

[2021-11-03 09:53] pacoxu commented on #105846
/cc @verb

[2021-11-03 10:05] nitinpatil1992 commented on #106023
@MrSsunlight you might be missing the symlink for `vendor/k8s.io/apiextensions-apiserver`. Hope it helps.

[2021-11-03 10:10] pacoxu commented on #105806
The kubelet may be 1.10.
https://github.com/kubernetes/kubernetes/blob/v1.10.0/pkg/kubelet/cm/qos_container_manager_linux.go#L292

[2021-11-03 10:29] 249043822 commented on #106037
Okay, I see

[2021-11-03 10:34] 0dragosh commented on #79224
please re-open this

[2021-11-03 12:40] soltysh commented on #20508
/close

[2021-11-03 12:40] #20508 closed

[2021-11-03 12:49] Nuxij commented on #91652
/remove-lifecycle stale

Worth a shot 😁

[2021-11-03 12:52] venugopalthati opened #106117 "Kubernetes client cert based authentication results in request using system:anonymous user"
### What happened?

I have followed these instructions to create normal user in Kubernetes and generated client certificate https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#normal-user

When I try to send a request to the API server using curl by providing the certificate and key, response comes back as "message": "forbidden: User "system:anonymous" cannot get

[2021-11-03 12:54] soltysh commented on #101985
This should be fixed in https://github.com/kubernetes/kubernetes/pull/94165
/close

[2021-11-03 12:58] venugopalthati commented on #106117
/sig Auth

[2021-11-03 13:12] pohly commented on #106101
/assign

I've started looking into this. Part of the problem is that go-runner is not part of kubernetes-node-windows-amd64.tar.gz. I suspect that is where the scripts get kubelet.exe and kube-proxy.exe from.

[2021-11-03 13:14] rsalmond commented on #106057
Thanks @roycaihw that explanation jives with my intuition that my confusion is primarily a misunderstanding of the details underlying the word "validation" in the documentation: "the apiVersion, kind and metadata are implicitly specified and validated."

Given this is the case, can we move to expand the documentation to include the details you have outlined above?

I do not have a strong sense of

[2021-11-03 13:26] endocrimes opened #106119 "node_e2e: Cleanup configuration and rename jenkins/ directory"
/kind cleanup
/sig node
/area test
/priority important-longterm
/assign

Currently, node_e2e configuration exists in the `jenkins/` directory underneath node_e2e. This directory is a hangover from the time before Kubernetes migrated to Prow. This directory is regularly a point of contention when adding new features to tests, and causes confusion to people trying to make changes to them.

We should

[2021-11-03 14:07] alculquicondor commented on #105291
I think the API is clear in what it's behavior would be with `DoNotSchedule`. But maybe the use case is not strong enough. People can use node affinity to limit the spread instead.

Should we focus on `minDomains` for 1.24?

[2021-11-03 14:08] liggitt commented on #104292
this is flaking frequently... seeing it multiple times on PRs

[2021-11-03 14:09] liggitt commented on #104292
oh.. well... I'm seeing this test flake, but on the presubmit containerd job

[2021-11-03 14:09] liggitt commented on #104292
https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1&test=when%20querying%20%2Fstats%2Fsummary

[2021-11-03 14:13] alculquicondor commented on #105287
Hi Kante, thank you for the interest, but this is already assigned.

[2021-11-03 14:34] ahg-g commented on #105291
Node affinity will be tricky to setup because for the most part it is a static configuration, but I think starting with `minDomains` is probably good enough.

[2021-11-03 14:59] ahg-g commented on #89036
/help

I think it is worth doing https://github.com/kubernetes/kubernetes/issues/89036#issuecomment-692817149

[2021-11-03 15:10] marseel commented on #105759
One more for 1.20: https://github.com/kubernetes/kubernetes/pull/106124

[2021-11-03 15:14] stevemcquaid commented on #93188
/remove-lifecycle rotten

[2021-11-03 15:22] stevemcquaid commented on #91628
/remove-lifecycle stale

[2021-11-03 15:25] prbakhsh commented on #48798
its works for me on oracle linux 7.7
 thanks indeed

[2021-11-03 15:47] Eriner commented on #20227
/remove-lifecycle stale

[2021-11-03 15:48] afirth commented on #100314
looks like @atiratree crushed this, testgrid looks fine and both #102736 and #102730 are merged
/close
please reopen if I'm wrong

[2021-11-03 15:48] #100314 closed

[2021-11-03 16:11] liggitt commented on #104292
failing batch merges as well - https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-node-e2e-containerd/1455925147750895616/

[2021-11-03 16:16] liggitt opened #106125 "[Flake] PreStop graceful pod terminated should wait until preStop hook completes the process"
### Which jobs are flaking?

ci-kubernetes-e2e-gci-gce
pull-kubernetes-e2e-gce-ubuntu-containerd

### Which tests are flaking?

`[sig-node] PreStop graceful pod terminated should wait until preStop hook completes the process`

This is the flakiest test both in the CI (ci-kubernetes-e2e-gci-gce) and PR (pr:pull-kubernetes-e2e-gce-ubuntu-containerd) e2e according to http://storage.googleapis.com/k8s

[2021-11-03 16:28] DangerOnTheRanger commented on #100230
/remove-lifecycle rotten

[2021-11-03 16:29] Huang-Wei commented on #105291
+1 to start with `minDomains` and consider `maxDomains` when there is a practical requirement (in particular combined with DoNotSchedule).

[2021-11-03 16:46] shuaich commented on #106060
/cc dcbw
Could you please take a look?

[2021-11-03 17:08] SergeyKanzhelev commented on #106119
There is an old issue for this and the PR: https://github.com/kubernetes/kubernetes/pull/99606

We can keep either. I like the checkboxes in this issue

[2021-11-03 17:08] johnSchnake commented on #105953
Yea you normally wouldn't run the conformance image via just `docker run...`; that RESULTS_DIR it uses is referencing a mounted volume which I guess is the issue.

I don't mind at all if the code is updated to do a mkdirall call in case the folder doesnt exist.

[2021-11-03 17:15] SergeyKanzhelev commented on #106125
/triage accepted

[2021-11-03 17:15] aojea commented on #18174
@lavalamp if you want to read it :)
https://github.com/kubernetes/enhancements/pull/3034

[2021-11-03 17:15] SergeyKanzhelev commented on #106125
/assign @SaiHarshaK

[2021-11-03 17:16] SaiHarshaK commented on #106125
/assign

[2021-11-03 17:18] endocrimes commented on #106119
Oh I missed the issue reference and github-search-foo failed me - fine with either 😅

[2021-11-03 17:21] SergeyKanzhelev commented on #102394
/triage accepted

[2021-11-03 17:21] SergeyKanzhelev commented on #102394
/priority backlog

[2021-11-03 17:26] rezakrimi commented on #105862
The PR is ready to be reviewed: #106122

[2021-11-03 17:28] ehashman commented on #105783
/triage accepted

[2021-11-03 17:29] ehashman commented on #100241
/triage accepted

[2021-11-03 17:29] ehashman commented on #100241
/cc @rphillips

[2021-11-03 17:32] SergeyKanzhelev commented on #105962
Please take a look at [ExecProbeTimeout feature flag](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#:~:text=Topology%20Spread%20Constraints.-,execprobetimeout,-%3A%20Ensure%20kubelet%20respects) This is likely not turned on

[2021-11-03 17:32] SergeyKanzhelev commented on #105962
/close

[2021-11-03 17:35] ehashman commented on #106037
This is more of a feature request than a bug. You can set the command line flag to match the version of the sandbox image you want to pin as a workaround.

/remove-kind bug
/kind feature
/retitle Dynamically detect sandbox image from container runtime

[2021-11-03 17:37] ehashman commented on #106111
/triage accepted

[2021-11-03 17:38] ehashman commented on #105806
Kubernetes 1.17 is not supported. Please reproduce this on a currently supported version of Kubernetes for us to be able to triage this bug.

[2021-11-03 17:39] olljanat commented on #102612
@mrunalp where CRI-O allows this one? I see that crio.conf supports `default_sysctls` but it have only `ping_group_range` at least on documentation. Instead of there looks to be `NET_BIND_SERVICE` capability by default but it is little bit different thing.

[2021-11-03 17:40] ehashman commented on #92851
Please don't remove the stale label unless we've provided additional information here. This bug is not in a state that a contributor can fix it.

[2021-11-03 17:42] ehashman commented on #105294
Backport has landed and memory consumption has returned to baseline :tada:

/close

[2021-11-03 17:42] #105294 closed

[2021-11-03 17:43] ehashman commented on #102149
@smarterclayton can this be closed? Was this fixed as part of the 1.22 refactor?

[2021-11-03 17:48] pixelicous commented on #69697
Encountered this as well on 1.18 with ebs..

[2021-11-03 18:03] Jefftree commented on #105932
Just to recap, I think we've all pinpointed serialization to be the main culprit of the high resource usage. This issue is magnified when applying 100s of CRDs in a short time period since we'll be repeating the serialization process [per CRD create](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/controller.go#L194). https://g

[2021-11-03 18:17] nyarly opened #106127 "Take taints/tolerations into consideration when calculating PodTopologySpread skew"
### What would you like to be added?

When a pod has a topologySpreadConstraints set, nodes marks with an un-tolerated taint should be excluded from consideration when computing skew.

If considering all taints is infeasible (as implied by #80921), at least consider the Unschedulable taint.

### Why is this needed?

The existing behavior, which ignores taints because they _might_ be tolerated, lea

[2021-11-03 18:17] nyarly commented on #106127
/sig scheduling

[2021-11-03 18:49] Raptus1 opened #106128 "kubeadm init fails to download coredns when using --image-repository."
### What happened?

When I test to pull the image without custom image-directory it respects the coredns url structure:

pulling: k8s.gcr.io/coredns/coredns:v1.8.4

But it leaves the subfolder out completely skipping using *coredns/* when using --image-repository :
pulling: myregistry.local/coredns:v1.8.4

### What did you expect to happen?

I expected kubernetes to keep the full path to coredns w

[2021-11-03 19:20] liggitt opened #106129 "[PodSecurity] Dedupe overlapping forbidden messages"
Examples:
* restricted volumes complains about hostPath volumes already caught by baseline hostPath check
* restricted capabilities complains about added non-default capabilities already caught by baseline capabilities check
* restricted seccomp complains about unconfined seccomp profile already caught by baseline seccomp check

[2021-11-03 19:22] #103561 closed

[2021-11-03 19:48] #105987 closed

[2021-11-03 19:50] BenTheElder commented on #102607
This is done, `eval $(gimme go1.17.2) && make clean && make test` passes flawlessly at f5dd4d237f7, it also matches 100% what we run in CI.

The biggest obstacle at this point is just having the correct go version, which is a separate broader issue not specific to unit tests.

[2021-11-03 19:50] #102607 closed

[2021-11-03 19:50] nadenf commented on #58065
/remove-lifecycle rotten

[2021-11-03 20:21] deads2k commented on #106003
@zen-xu I'm not finding matching line numbers for your stack.

ring_growing.go doesn't seem to have 73 lines: https://github.com/kubernetes/utils/blob/master/buffer/ring_growing.go and line 728 from shared_informer appears to be a block end: https://github.com/kubernetes/kubernetes/blob/v1.18.2/staging/src/k8s.io/client-go/tools/cache/shared_informer.go#L728

I bring it up because the access to `p

[2021-11-03 20:42] neolit123 commented on #106128
please see:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#custom-images

/kind support
/close

[2021-11-03 20:42] #106128 closed

[2021-11-03 21:12] khenidak commented on #105986
We shouldn't. External name is just a DNS entry. Thanks for this.

[2021-11-03 21:13] khenidak commented on #105986
@robscott (yo @thockin )

i don't think this should be a code change in endpoint slice/nor endpoint controller. We should delete them endpoints /slices in service stack its efficient, simpler and probably way less code this way.

[2021-11-03 21:18] khenidak commented on #101682
/help

if you - the reader - want to help please reach out. I will provide the needed support to drive that one forward.

[2021-11-03 21:20] #104371 closed

[2021-11-03 22:10] olljanat commented on #102612
Feedback looks to be that those Docker changes caused some unexpected issues which why there most likely will be two new options `enable_unprivileged_icmp` and `enable_unprivileged_ports` on containerd which defaults to `false`.

[2021-11-03 22:11] roycaihw commented on #105932
Also @Jefftree pointed out that we [build proto from json](https://github.com/kubernetes/kube-openapi/blob/ec1f4c89925aaed16de489e6daa816bed3bd2811/pkg/handler/handler.go#L105-L112) today. We probably should look into building proto from Go structure directly. With lazy marshaling, that would help us eliminate the json serialization completely (assuming everyone uses proto)

[2021-11-03 22:29] liggitt commented on #105932
be careful about type mismatches that got covered up by serialization round tripping (int vs int64, empty list vs nil, etc) that would make deepequal checks fail

[2021-11-03 23:02] leonz opened #106131 "ServiceAccount update is creating a new token secret"
### What happened?

If you run `kubectl replace` on a ServiceAccount, the following happens:

- The serviceAccount receives an `update`
- A new token is generated, mapped to the serviceAccount's name and uid
- The previous token is not removed, as it is also mapped to the serviceAccount name and uid

Thus, we end up in a situation where every `replace` call results in a leaked secret resource.

To

[2021-11-03 23:07] verult commented on #98667
/reopen

[2021-11-03 23:12] jberkus commented on #59848
Welcome to the CAP theorem, I guess?

[2021-11-03 23:37] neolit123 commented on #106131
/sig auth

[2021-11-03 23:50] enj commented on #103525
/remove-lifecycle rotten
/lifecycle frozen

[2021-11-03 23:50] khenidak commented on #48528
I have put together a high level proposal here: https://docs.google.com/document/d/1cXvMOvZOA4aN0bXmr8-8uW54l6z4tCpj7WqgX6-RY6A/edit?usp=sharing

The doc is WIP and will eventually make it to KEP and follow the process. The doc is meant to set the tone gain early high level consensus and to understand the complexity of that particular change

[2021-11-04 00:03] ahg-g commented on #106127
hmm, I think this is a good case for excluding tainted nodes. @Huang-Wei  what was the reason we excluded node affinity but not taints?

[2021-11-04 00:05] ahg-g commented on #106127
@nyarly I think using `DoNotSchedule` has more problems than just this (see https://github.com/kubernetes/kubernetes/issues/105977 and https://github.com/kubernetes/kubernetes/issues/105291), so in the meantime I would suggest to use `ScheduleAnyway`.

[2021-11-04 00:25] zen-xu commented on #106003
I am sorry，I write some log in `func (r *RingGrowing) WriteOne`

[2021-11-04 00:29] shuheiktgw commented on #105616
@msau42 Thank you for your advice! I added unit tests so would you review the PR when you have time? 🙏

https://github.com/kubernetes/kubernetes/pull/106138

[2021-11-04 00:29] zen-xu commented on #106003
I am sorry，I write some logs in `func (r *RingGrowing) WriteOne` before 70 line（where I found readable will be negative）. The stack should be at 70 line

[2021-11-04 00:30] zen-xu commented on #106003
I am sorry，I write some logs in `func (r *RingGrowing) WriteOne` before 70 line（where I found readable will be negative）. The stack should be at 70 line

[2021-11-04 00:42] Huang-Wei commented on #106127
@ahg-g This was brought up (#80921) to the table when PodTopologySpread was initially implemented. Back then, there were not enough data points showing which direction we wanted to head to. Another reason is TaintNodesByCondition and TaintBasedEvictions were not GA and thus extra logic was needed - both taints and conditions.

Node affinity is a hard requirement and explicitly related to topology

[2021-11-04 00:46] pawelpabich commented on #105962
I'm using AKS and I don't see any API that would return a list of enabled/disabled feature gates. Any idea how to get that?

[2021-11-04 00:48] bigmua commented on #4247
I do not know why , but it really helps , you are my FUCKING BOSS

[2021-11-04 00:58] EricWvi commented on #101682
Should we add another DNS Service and enter both IPFamilies addresses in Pod's `resolv.conf` file?

[2021-11-04 01:29] SergeyKanzhelev commented on #105962
if you have access to kubelet logs, you will see a message about that. Search for " ExecProbeTimeout".

[2021-11-04 01:30] SergeyKanzhelev commented on #105962
Unfortunately turning this flag on to have the bug fixed, may introduce unexpected failures as the default timeout is 1 second if not specified. And it can make many probes fail unexpectedly.

[2021-11-04 02:09] gosoon commented on #105806
We have made some enhancements in v1.17, but the qosContainerManagerImpl mentioned above has not changed.

[2021-11-04 02:40] pacoxu opened #106139 "Failure test: Volume metrics Ephemeral should create prometheus metrics for volume provisioning and attach/detach"
### Failure cluster [546630dd7294a664d2d5](https://go.k8s.io/triage#546630dd7294a664d2d5)

##### Error text:
[code]
#### Recent failures:
[2021/11/4 上午2:35:05 ci-kubernetes-node-kubelet-serial-graceful-node-shutdown](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-graceful-node-shutdown/1455966757855432704)
[2021/11/4 上午2:13:04 ci-kubernetes-node-kubelet-seria

[2021-11-04 03:14] pacoxu commented on #104292
/cc @rphillips

Just find something that may be related:

https://bugzilla.redhat.com/show_bug.cgi?id=1733571

/area cadvisor

[2021-11-04 03:15] hxsf commented on #105204
same error.

Cronjob cannot get the kube-api-access volume.

[2021-11-04 04:32] cjcullen opened #106142 "kube-apiserver incorrectly parses tokens starting with ' '"
### What happened?

kube-apiserver authenticated the token " TOKEN" as `system:anonymous` (note the leading space).

### What did you expect to happen?

kube-apiserver should reject the invalid authorization header.

The bearer token [RFC](https://datatracker.ietf.org/doc/html/rfc6750#section-2.1) specifies a single space between "Bearer" and the token value.

### How can we reproduce it (as minim

[2021-11-04 04:32] cjcullen commented on #106142
/sig auth

[2021-11-04 05:02] ialidzhikov commented on #98218
/remove-lifecycle stale

[2021-11-04 05:37] yxxhero commented on #106111
can I work on this issue? @ehashman @pacoxu  Thanks very much.
/assign

[2021-11-04 06:07] SergeyKanzhelev commented on #105806
since lines do not match, it is hard to reason on what went wrong. It is hard to imagine what will panic in the `setCPUCgroupConfig`. Even though a little changed in that method, would be nice to have a repro with the proper lines.

Also, is it clear which pod causes this, does it has requests and limits set?

[2021-11-04 07:05] zerkms commented on #92851
Is it missing anything?

what else does it need?

[2021-11-04 07:41] uablrek commented on #101682
That is a different thing. The A,AAAA it the dual-stack query. It is already supported and works. This issue is about the protocol used for the query.

[2021-11-04 07:54] uablrek commented on #101682
I have still not seen a use-case. Why?

I am not against dual-stack, it was my main task when I started working with K8s, but this will add complexity for no good reason.

At the very least, *require a full set of e2e tests* that must work on different environments in a PR implementing this. To add this function might seem easy and fun, but to create e2e tests, and maintain them, will put things i

[2021-11-04 08:16] cpanato commented on #104083
I see the Debian update is already in the main branch but looks like it is pending cherry-picks to the other active branches, was searching the closed CP but did not find an explanation why those are closed.

will work to open the CPs for those branches and fix anything that is needed

[2021-11-04 08:28] EricWvi commented on #101682
I know it works now. I just wonder whether it affects the server's performance? It seems unnecessary to me, as far as normal cases are concerned.

Am I drifting off the point?

[2021-11-04 08:48] aojea commented on #105986
should not be caught in validation?

[2021-11-04 08:49] fanliquan opened #106144 "Kube-proxy shouldn't delete the iptables immediately while terminating the pods."
### What would you like to be added?

Kube-proxy should keep the iptables before the preStop job done.

### Why is this needed?

Since some of the preStop job need to notify the API server to do something, such as modifying the configMap, deleting the endpoint subnet from service.
But now kubernetes did the preStop job and deleting the iptables at same time, if the iptables was removed faster. The

[2021-11-04 08:54] aojea commented on #106144
You have to be more descriptive and explain in more detail what iptables are you referring, which pods has the prestop job (I assume it belongs to a service, right?) ... a "how to reproduce" will be great.
The iptables for a pod that belongs to a service is removed as soon as the pod is not ready, that is when it is removed from the ready endpoints ...

[2021-11-04 08:58] uablrek commented on #101682
Yes, a bit. Let's keep to discussions about the issue. The A,AAAA queries are probably due to https://en.wikipedia.org/wiki/Happy_Eyeballs. And it's the "resolver" in the application that controls this, and nothing K8s can do anything about. And BTW `go` uses it's own resolver (normally) that handles go threads better, other likely uses the resolver in libc. Ns-query tools often uses their own way

[2021-11-04 09:15] fanliquan commented on #106144
Hi,
For example, we have a pod named pd-0, the ip address is 192.168.182.193.
# kubectl get pod -o wide
pd-0         1/1     Running   0          26h   192.168.182.193   node-10-63-142-89   <none>           <none>

The preStop of its container is as below:
    lifecycle:
      preStop:
        exec:
          command:
          - sh
          - -c
          - /var/lib/postgresql/scripts/preStop.sh

[2021-11-04 09:29] aojea commented on #106144
those iptables are not created by  kube-proxy, I assume those are created by Calico so you should open the issue on that project

[2021-11-04 09:37] uablrek commented on #101682
An external client will have it's own "resolv.conf" (or something similar) and since CoreDNS listens to "::" (https://github.com/kubernetes/kubernetes/issues/101682#issuecomment-943703963), this will already work.

[2021-11-04 09:45] fanliquan commented on #106144
OK, Thanks!

[2021-11-04 09:52] aojea commented on #106144
I'm going to close it since is not related to k/k
thanks
/close

[2021-11-04 09:52] alikhil commented on #83111
/remove-lifecycle stale

[2021-11-04 09:53] #106144 closed

[2021-11-04 09:53] cpanato commented on #104083
PRs for 1.22 / 1.21  and 1.20 in place for review

- #106143
- #106147
- #106148

[2021-11-04 10:10] Raptus1 commented on #106128
It seems like both areas did a change one coredns location to accommodate the other and then you ended up with the same problem again.

k8s.gcr.io put coredns in a coredns subpath after people had been complaining about customrepos had coredns/coredns.
At the same time the code here got changed to remove the subpath when using custom imageregistry, also to accomodate the people having problem with

[2021-11-04 10:11] amalic commented on #24957
That's how it is being already done. But it's alwazs a custom implementation. It would save time, resources, and potential bughunting sessions when this could be delivered as an out of the box functionality.

[2021-11-04 10:31] smileusd opened #106149 "static cpu pin should not related with Guaranteed pod, should support individual container enable cpu pin"
### What would you like to be added?

When pod have two container and one's request equals limits but another is not, kubelet also can enable static cpu for that container limit=request. But now only pod is Guaranteed can be enable static pod.

### Why is this needed?

Users have  more choices when some containers in pod want high performance but others not. Some containers need use cpu pin but ot

[2021-11-04 10:32] smileusd commented on #106149
/sig node
/wg node

[2021-11-04 10:36] pohly commented on #106103
/assign

[2021-11-04 12:12] astraw99 commented on #104403
Test passed.

[2021-11-04 12:12] #104403 closed

[2021-11-04 12:28] soltysh commented on #106009
/priority awaiting-more-evidence
/triage needs-evidence

[2021-11-04 12:29] soltysh commented on #106009
/triage needs-information

[2021-11-04 12:30] dgrisonnet commented on #103609
/remove-lifecycle stale

[2021-11-04 12:40] dsy3502 opened #106151 "Whether the node status should be checked when creating volumeattachent resources"
### What happened?

 After deleting volumeattachment, sometimes the new volumeattachment is still on the old node  and  the pod is still be containerCreating.  sometimes  the pod statue changes running.

### What did you expect to happen?

 after the node down or Stop kubelet inside the node , the pod  will be evicted and recreated on another available node
but the pod with a volume can't be runni

[2021-11-04 12:48] liggitt commented on #106131
This is working as expected. The secrets list in the serviceaccount tracks the secret that should be auto-mounted into pods. The update is removing that record. That prompts the controller to generate a new auto-mounted secret.

The old secret still contains a valid token, which can still be used to authenticate. When the service account object is deleted, that secret will be deleted as well.

htt

[2021-11-04 12:48] #106131 closed

[2021-11-04 12:52] liggitt commented on #106117
Are you sure the certificate is being correctly provided to curl and sent to the server? Some clients will not even send a client certificate to the server if the issuer does not match the advertised CAs for client cert auth during the client/server handshake.

[2021-11-04 13:09] kim0 commented on #79272
Hello @josephburnett .. Was this clarified somewhere by now ?
I'm still finding it a bit confusing. I was trying to scale GKE pods based on the number of waiting tasks in a queue. It seems what I need is `AverageValue`, which fits my mental model of how this should work. I can't however understand what `Value` is supposed to be doing. That's why I'm looking for some clarifying docs if this has bee

[2021-11-04 13:26] liggitt commented on #106117
Also, did you follow the instructions at https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#normal-user to embed the csr you created with openssl, or did you copy/paste the exact `cat <<EOF | kubectl apply -f -` command (which embeds sample CSR data that will not match your private key)

[2021-11-04 13:50] Spareo commented on #60140
@matthyx Is there a MacOS build of this still around somewhere? I am still having this issue..

[2021-11-04 14:20] fromanirh commented on #102880
https://github.com/kubernetes/kubernetes/pull/102882 merged so k8s 1.23 and onwards should be safe now. question is if we need to do backports on 1.20, 1.21, 1.22 (or a subset thereof). @klueska @endocrimes @ehashman any thoughts?

[2021-11-04 14:22] venugopalthati commented on #106117
Explicitly embedded the csr I created with openssl. Because the below command is also returning as yes, I will double check if certs are passed correctly from the client to server.

[code]

[2021-11-04 14:32] deads2k commented on #106003
Can you push those branches?  Also, any luck determining where we are launching two threads calling `.pop` on the same `processorListener`?

[2021-11-04 14:39] julienlau commented on #59848
Maybe defining specific test cases to work it out would help ?
It seems to me that several other issues linked to this one use some sort of workaround to get things working but could use a proper way to handle things out at controller level.
Sieve seem to be designed to debug controllers, but the same failure scenarii could be tested at Apiserver level to test apiserver watch cache and loadbalanci

[2021-11-04 14:39] liggitt commented on #106117
fwiw, when I followed the instructions at https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#normal-user, the request worked as expected (I was authenticated as `myuser` and authorization worked correctly)

[2021-11-04 14:57] raphminkyu commented on #102545
/assign

[2021-11-04 15:06] jemc commented on #83242
/remove-lifecycle stale

[2021-11-04 15:08] liggitt commented on #106107
This is working as designed. cap_net_admin is not expected to be granted to non-privileged workloads, and mixing privileged and non-privileged workloads in a given namespace should only be done if the pod authors in that namespace are trusted to write privileged workloads.

You can grant privileged access to a namespace, and still create lower-privilege workloads in that namespace.

/close

[2021-11-04 15:08] #106107 closed

[2021-11-04 15:12] liggitt commented on #106049
/close

since this is working as designed

[2021-11-04 15:14] howardjohn commented on #106049
Works for me. Thanks for the info :+1:

On Thu, Nov 4, 2021 at 8:13 AM Kubernetes Prow Robot <
***@***.***> wrote:

[2021-11-04 15:15] liggitt commented on #57601
Implementing this would be a significant compatibility break. I don't see a reasonable way to roll out this requested change as default Kubernetes behavior.

/close

[2021-11-04 15:15] #57601 closed

[2021-11-04 15:16] liggitt commented on #77599
Stopping auto-generating new secret-based tokens and removing existing unused secret-based tokens is being addressed in KEP 2799 (https://github.com/kubernetes/enhancements/pull/2800)

/close

[2021-11-04 15:16] liggitt commented on #77600
Stopping auto-generating new secret-based tokens and removing existing unused secret-based tokens is being addressed in KEP 2799 (https://github.com/kubernetes/enhancements/pull/2800)

/close

[2021-11-04 15:17] #77599 closed

[2021-11-04 15:17] #77600 closed

[2021-11-04 15:20] liggitt commented on #81128
/close

One part of this issue is already addressed, and one part will not be addressed.

For the file permission issue, as of 1.22, injected tokens use projected service account tokens. https://github.com/kubernetes/kubernetes/pull/89193 made those tokens set file permissions as tightly as possible, rather than be world-readable.

For the default injection issue, API authors can choose not to inj

[2021-11-04 15:21] #81128 closed

[2021-11-04 15:30] ejose19 commented on #93708
/reopen

[2021-11-04 15:35] mattcary commented on #100840
/cc @leiyiz I think this relates to your ROX fix (is this test checking the mistaken behavior that our customer was trying to do)?

[2021-11-04 15:36] wojtek-t commented on #105759
All merged - thanks!

[2021-11-04 15:36] #105759 closed

[2021-11-04 15:44] sfxworks opened #106157 "Feature Request: CPU Core Grouping & Assignment (Performance vs Efficiency cores)"
### What would you like to be added?

I would like the ability to group cores so that I may schedule deployments against faster or slower performing CPU cores within a motherboard.

### Why is this needed?

With the current state of ARM processors like the RockPro64 and the upcoming release of Intel 11th gen, a Kubernetes cluster should be able to schedule certain workloads on performance vs effic

[2021-11-04 15:51] neolit123 commented on #106157
/sig node

[2021-11-04 15:51] neolit123 commented on #106151
/sig storage node

[2021-11-04 16:29] Speedkore commented on #78446
this is not fixed yet, come on, random problems are the worst

[2021-11-04 16:39] dashpole commented on #106060
/assign @serathius
/triage accepted

[2021-11-04 16:42] SergeyKanzhelev commented on #104344
this is fixed thru https://github.com/kubernetes/kubernetes/pull/106108

[2021-11-04 16:42] #104344 closed

[2021-11-04 16:46] SergeyKanzhelev commented on #106149
Can you please describe better what is the current vs. expected behavior. Ideally with the yaml files. I'm not quite clear on what is the feature request from the description.

[2021-11-04 16:46] SergeyKanzhelev commented on #106149
/triage needs-information

[2021-11-04 16:51] dashpole commented on #105864
/assign @dgrisonnet

[2021-11-04 16:51] #102664 closed

[2021-11-04 16:51] dashpole commented on #105864
/triage accepted

[2021-11-04 16:54] dashpole commented on #105782
/triage accepted

[2021-11-04 16:55] dashpole commented on #105710
/assign @serathius
/triage accepted

[2021-11-04 17:06] #105861 closed

[2021-11-04 17:30] wojtek-t commented on #105884
It depends - if we run it a bit more (say hundreds milliseconds) - that is fine.
If it keeps running for another 3 minutes - then it's not fine...

[2021-11-04 17:51] #61795 closed

[2021-11-04 17:53] roycaihw commented on #106057
I agree the documentation is confusing and can use some improvements (e.g. linking to the [API doc](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#objectmeta-v1-meta) for those fields, adding some examples)

/kind documentation
/unassign
/help

[2021-11-04 18:01] SergeyKanzhelev commented on #92674
/close

in favor of https://github.com/kubernetes/kubernetes/issues/106119 which @endocrimes self-assigned.

[2021-11-04 18:02] #92674 closed

[2021-11-04 18:05] SergeyKanzhelev commented on #106119
cleaned up duplicates

[2021-11-04 18:12] thockin commented on #105986
We identified (some of) these mutual-use problems a while ago.  The problem is that changing the API to reject such inputs would be a breaking change.  Now, we can argue "it doesn't work anyway" but I'll bet 100 bucks that somewhere out there is a cluster that has Services in this state.  We could, maybe, go through a process of warning and then disallowing it on NEW Services, but we have to allow

[2021-11-04 19:34] #99265 closed

[2021-11-04 19:53] matthyx commented on #60140
Unfortunately I'm on PTO until the 17th... But you can rebuild it yourself if you want 🙂

[2021-11-04 20:13] howardjohn opened #106160 "Controllers report unique events for generated pod names when rejected by validating admission"
### What happened?

I used the PodSecurity webhook on 1.23.0-alpha.4 and got a pod rejected. The events were pretty spammy:

[code]

I think this is because the pod name is included in the event so it cannot deduplicate them. In other webhook failures, I have seen these collapsed - possibly due to not including the name in the error?

This is pretty minor cosmetic issue and may not be applicable i

[2021-11-04 20:26] oomichi commented on #105678
@pohly
Why don't we just add extra explanation into `framework.ExpectEqual()` calls like
[code]
for easy investigation?
I might miss some point.

[2021-11-04 21:37] serathius commented on #105710
cc @pohly

[2021-11-04 21:38] shuaich commented on #106060
Somehow there are two pods deployed for metrics-server, one pod works correctly, the other one crashloops due to timeout when querying `https://10.0.0.1:443/api/v1/namespaces/kube-system/configmaps/extension-apiserver-authentication`

[2021-11-04 21:43] pohly commented on #105678
You have to consider the complete output when that case fails. Gomega will write print the actual value and the expected value, then in addition you get the same information in the custom message.

Printing just the custom failure message is shorter and more readable, in particular for a comparison of booleans.

For a comparison of integers I see two solutions:
- ExpectEqual with a fixed message t

[2021-11-04 22:46] cvpatel commented on #89903
I see different groups of metrics mentioned in this issue:
container_cpu - fixed with [ami here](https://github.com/kubernetes/kubernetes/issues/89903#issuecomment-938538850)
container_memory - fixed with [ami here](https://github.com/kubernetes/kubernetes/issues/89903#issuecomment-938538850)
container_fs - still broken?
container_network - still borken?

Does the workaround and fixes apply contai

[2021-11-04 22:52] neolit123 commented on #106160
/sig auth

[2021-11-04 22:53] aojea opened #106161 "golang net/netip package coming in Go 1.18!"
### What would you like to be added?

migrate from net.IP to netip.Addr

https://pkg.go.dev/net/netip@master

### Why is this needed?

[2021-11-04 22:53] aojea commented on #106161
/sig network

[2021-11-04 22:56] neolit123 commented on #106160
related dedupe issue:
https://github.com/kubernetes/kubernetes/issues/106160

[2021-11-04 23:10] dbgoytia commented on #105242
Hi @encodeflush thanks for noticing that. This one is a different ginkgo focus test that's failing 🤔 still going to take a look and see what's going on. Previously, the mistake is an issue related to Kubelet reconstruction, while this one seems to be something a bit different.

[2021-11-04 23:12] dbgoytia commented on #105242
Tracked here: https://github.com/kubernetes/kubernetes/issues/105965

[2021-11-05 01:15] jiggyjigsj commented on #80581
@liggitt Is this something you got around to rebasing the pr or opened a new PR?

[2021-11-05 02:52] zen-xu commented on #106003
I didn't change original logic for these codes, only added some logs to print some information which might help me to  locate the bug.

[2021-11-05 03:10] smileusd commented on #106149
@SergeyKanzhelev  When use this pod yaml:
[code]
Actually users want to enable static cpu on app container but not enable on log-aggregator container. But from now code kubelet will skip all the containers in this pod because it is not a Guareanteed pod:
[code]
[code]

[2021-11-05 03:31] zouyee commented on #105790
/cc

[2021-11-05 03:48] ryanlyy commented on #106107
Thank a lot @liggitt

I understood in privileged labeled namespace, I can create lower-privileged workload in that namespace. but can I create privileged workloads in non-privilged labeled namespace (i.e: baseline and restricted)?

Thanks a lot for your support

[2021-11-05 03:51] liggitt commented on #106107
No, the level on the namespace represents the upper-bound of permitted workloads in the namespace.

[2021-11-05 04:50] branchvincent opened #106165 "`make WHAT=cmd/kubectl` not parallelizable?"
### What happened?

First, thanks for all your hardwork on this amazing project!

Homebrew's build of `kubectl` has been unreliable (e.g. see the [most recent failure](https://github.com/Homebrew/homebrew-core/runs/4033957174?check_suite_focus=true#step:7:122) from https://github.com/Homebrew/homebrew-core/pull/88177 and previously https://github.com/Homebrew/homebrew-core/pull/82694#issuecomment-

[2021-11-05 05:02] branchvincent commented on #106165
/sig cli

[2021-11-05 05:03] SergeyKanzhelev opened #106166 "Failing tests node-kubelet-features-master: [Feature:DynamicKubeletConfig] are failing now"
### Which jobs are failing?

everything with `[Feature:DynamicKubeletConfig]` is now failing, likely after https://github.com/kubernetes/kubernetes/pull/104481

### Which tests are failing?

https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-features-master

### Since when has it been failing?

2021-11-04 17:44 PDT

### Testgrid link

https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-featur

[2021-11-05 05:05] SergeyKanzhelev commented on #106166
The best course of actions is likely just remove those tests from the job, similar to https://github.com/kubernetes/test-infra/pull/24234

[2021-11-05 06:09] MikeSpreitzer commented on #106012
I downloaded https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/105833/pull-kubernetes-integration/1453952457943027712/build-log.txt and looked into it.  I found `panic: test timed out after 10m0s` after a batch of messages (not in timestamp order!) with timestamps in the range 2021-10-29T05:42:19.405Z to 05:43:30.  But looking back in the log to find the start of the test, it appears

[2021-11-05 06:13] cyclinder commented on #106161
@aojea   I would love to do this,  can I work on this task?

[2021-11-05 06:15] #106166 closed

[2021-11-05 06:47] Zheaoli commented on #106003
In my opinion, is there any possibility to run `AddEventHandlerWithResyncPeriod` before `Run`?

[2021-11-05 07:02] MikeSpreitzer commented on #106012
The following excerpt from the panic report tells me that there was a watch cache not initialized:

[code]

In fact, there are several goroutines with such a stack.

In the merge of commits c7c78e2b86a1326d1d31b9f7a35b723f9f940f79 (I do not know how to fetch a4bf2d74eba84940686e29675602aeaf443175d1) and bb24c265ce725c90f0e82b01e7c1ccbffb695d14 (of the `master` branch), cacher.go:464 says

[code]

[2021-11-05 07:11] MikeSpreitzer commented on #106012
There are several "panic: test timed out after 10m0s", at about the same time.  I do not understand why or what this means.

[2021-11-05 07:21] MikeSpreitzer commented on #106012
@wojtek-t
I wonder if APF should put a cap on how long to wait for a given watch cache to become initialized.

[2021-11-05 07:21] aojea commented on #106161
This has to wait until kubernetes move to golang 1.18, if you have patience for that 😅
@saschagrunert @cpanato do you know for what kubernetes release do we plan to use golang 1.18?

[2021-11-05 07:25] pawelpabich commented on #105962
Found this line in the logs:
`I1105 07:17:47.953041    5222 flags.go:59] FLAG: --feature-gates="DynamicKubeletConfig=false,RotateKubeletServerCertificate=true"`

Looking at the gates doco again, it says that the flag is on by default.

<body>

ExecProbeTimeout | true | GA | 1.20 | -
-- | -- | -- | -- | --

</body>
</html>

This means that the timeout should be respected unless the flag is turned o

[2021-11-05 07:34] wojtek-t commented on #105804
With the recent changes, we seem to be fine on 500-node tests.
But 5k-node tests are still blowing up.

I was playing a bit with it in https://github.com/kubernetes/kubernetes/pull/106085
And it seems it's failing even if I set additional latency to 1us (so nothing compared to request latency).
It basically seems that the width of the requests is pretty much preventing the test from making reasona

[2021-11-05 07:45] wojtek-t commented on #106012
I don't think it's APF per-se, but I agree that we shouldn't hang there indefinitely.
As an example, for lists we're waiting for cache to by synchronized for 3s:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go#L432
We probably need something similar here.

Though - we also need to be very careful here - because failing the watch c

[2021-11-05 08:08] pohly commented on #105710
There isn't anything to fix here, right?

`kubectl options` shows the logging options as part of the global flags. `--no-headers` is shown as additional flag for the `get` command:

[code]

[2021-11-05 08:13] saschagrunert commented on #106161
I expect that go 1.18 will be released in early 2022, right? Then I would say we can target for v1.24 if that fits into our schedule. I'll put that on the SIG release leads sync agenda for the next week.

[2021-11-05 08:20] cyclinder commented on #106161
of course！I am willing to wait, during this time, I can also learn about net/netip 😄

[2021-11-05 08:41] b10s commented on #105844
@gjkim42 thank you for comment.

Seems additional check can be done somewhere in kube-apiserver around [here](https://github.com/kubernetes/apiserver/blob/92392ef22153d75b3645b0ae339f89c12767fb52/pkg/admission/reinvocation.go#L35).

E.g. if Pod has annotation `kubernetes.io/config.source: file`, then do not go over `admissionChain`. Or we can identify mirror Pod somehow else if annotation is not r

[2021-11-05 08:46] ashokmariyala opened #106173 "Kubernetes HPA not auto scaling when target utilization reached"
### What happened?

Kubernetes HPA not auto scaling when target utilization reached. There is not events found in hpa

**Here's the HPA in YAML:**
[code]

Describe HPA
[code]
The above events
` horizontal-pod-autoscaler  failed to get memory utilization: unable to get metrics for resource memory: no metrics returned from resource metrics API`
`invalid metrics (1 invalid out of 1), first error is:

[2021-11-05 08:58] ashokmariyala commented on #106173
/sig autoscaling

[2021-11-05 09:07] ashokmariyala commented on #106173
/assign

[2021-11-05 10:03] pardeepbeniwal opened #106175 "kubernetes pods stuck at containercreating"
### What happened?

I am creating pod but its not creating. Its stuck at containercreating.
Below is yaml file:
[code]

</details>

### Cloud provider

<details>
AWS ec2
</details>

### OS version

<details>

[code]

</details>

### Install tools

<details>

</details>

### Container runtime (CRI) and and version (if applicable)

<details>

</details>

### Related plugins (CNI, CSI, ...) and versi

[2021-11-05 10:14] pacoxu commented on #106175
The key point here is the CNI not ready on the node `ip-172-31-36-146/172.31.36.146`.
[code]
/kind support

If you are using flannel, please check if flannel is up and ready.

[2021-11-05 10:14] pacoxu commented on #106175
/remove-kind bug
before you can confirm this is a bug of kubernetes, I think this is a support case.

[2021-11-05 10:52] fOO223Fr opened #106176 "Network policy not listed"
### What happened?

`kubectl get all` outputs all resources except network policy resource

### What did you expect to happen?

i expect it to return all resources including network policy resource

### How can we reproduce it (as minimally and precisely as possible)?

Note: below yaml is taken from: https://kubernetes.io/docs/concepts/services-networking/network-policies/#default-allow-all-ingres

[2021-11-05 10:52] timthelion commented on #60140
This is NOT caused by network errors. This must be some sort of race condition, perhaps in the client. Catting large files using the interactive shell `kubectl exec -it dpnk-675b9ff794-h9s94 -- bash` always works.

[2021-11-05 11:17] timthelion commented on #60140
OK, I think I've figured out why this is different based on the client and why @dlipofsky 's gziping method helped him (it didn't help me...). What is going on, is that if the download speed is too fast some kind of error occurs. I don't know why or what kind of error it is, but it is closely related to download speed.

Catting large files works in the terminal because that is slow. @dlipofsky 's

[2021-11-05 11:46] encodeflush commented on #105242
@dbgoytia I appreciate for the update.

[2021-11-05 12:24] gjkim42 commented on #105844
I think it makes sense.

@liggitt
I think this may be the sig-apimachinery issue _**if we decide to fix the apiserver.**_ right?

[2021-11-05 12:27] liggitt commented on #105844
Since we don't know what admission plug-ins are being used for, skipping them is not compatible change.

[2021-11-05 12:42] gjkim42 commented on #105844
Validating or mutating mirror pods has no effect on static pods' behavior to my knowledge.
IMO, there seem to be few compatibility issues and the fix seems desirable.

[2021-11-05 13:15] olljanat commented on #23349
Have anyone actually done testing with some big numbers of pods? I mean like >= 10 000 pods per node? Where is the bottlenecks? Afaiu kube-proxy might be problematic because of iptables but when using CNI with eBPF like Cilium even that shouldn't be issue.

I'm coming for Docker Swarm world and is very surprised to see these very small numbers here. There we run ~100 containers per node with VMs w

[2021-11-05 13:40] b10s commented on #105844
@liggitt,

In your previous comment:

and few day later

May I ask, compatible with what?

[2021-11-05 13:52] liggitt commented on #105844
It doesn't drive behavior *on the node*.

Admission plugins can do other things, like observe and report incoming pods, or track overall used resources, etc.

[2021-11-05 13:54] b10s commented on #105844
@liggitt okay, got the point.

Then we can pass a mirror Pod to admissionChain but make sure it is not mutated when it outs it.

Does it sound good?

[2021-11-05 13:57] MikeSpreitzer commented on #106012
What I meant to suggest is that APF limit how long it will hold off giving the initialization signal, that's all.  Not introduce any failure.

And, yes, I agree that APF is just a downstream casualty here.  As I said, I do not understand how to interpret what I see in that log file.  Some of it says the test ran for only three or four minutes, but other parts say it timed out after 10 minutes.

[2021-11-05 14:07] aojea commented on #106012
integration job seems to be on the edge, once we add more load the jobs start to time out
https://github.com/kubernetes/kubernetes/issues/103512

my impression is that the tests are overwhelming etcd, and sometimes connections are closed and tests time out, but  I don't have any strong evidence, just that the etcd instance is shared between all tests and when we remove some load/tests from the job

[2021-11-05 14:10] MikeSpreitzer commented on #106012
@aojea : The log discussed above starts by showing etcd slowness and connection loss, so that's consistent with what you say.  What is the right remedy?

[2021-11-05 14:12] MikeSpreitzer commented on #103512
Regarding https://github.com/kubernetes/kubernetes/issues/103512#issuecomment-953314508: that is not a failure, it is normal, and it is much older than 9 days.

[2021-11-05 14:44] aojea commented on #106012
Last time was fixed by setting one variable, but we only have hypothesis :shrug:

https://github.com/kubernetes/kubernetes/pull/105506#issuecomment-937896765

I think that we are blind here, each test is compiled in a different binary and run in parallel with more tests, that makes difficult to get the test instrumented, however, the etcd instance is always the same, if we can have, in addition to

[2021-11-05 14:59] h0jeZvgoxFepBQ2C commented on #72048
So the only solution is to reboot the node or kubelet? We are getting hit by this very often and it really makes problems for our system...

[2021-11-05 15:17] neolit123 commented on #106175
^ that is true.
please reopen if a bug is confirmed.

some links for support help:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-11-05 15:18] #106175 closed

[2021-11-05 15:18] neolit123 commented on #106176
/sig network

[2021-11-05 15:18] neolit123 commented on #106176
/sig network

[2021-11-05 15:19] neolit123 commented on #106165
/sig release

[2021-11-05 15:21] neolit123 commented on #106165
AFAIK, the symbolic links are a GOPATH hack that should go away once k8s switches entirely to gomod:
https://github.com/kubernetes/kubernetes/issues/82531

SIG Release can provide additional feedback here.

[2021-11-05 15:25] pardeepbeniwal commented on #106175
thank you @pacoxu flannel was not up. Now its working fine

[2021-11-05 15:48] jayunit100 opened #106182 "retroactive issue for IPTables proxy fixes for affinity rules / chains"
### What happened?

Copied over from https://github.com/kubernetes/kubernetes/pull/106030

- The `sync_proxy_rules_iptables_total` is off-by-one
- `affinity rules` for all endpoints rather than only Ready endpoints, meaning clients with affinity might have new connections get routed to a no-longer-serving endpoint.
- It was generating endpoint chains for all endpoints (whether or not they actually

[2021-11-05 15:53] jayunit100 commented on #106182
/sig network

[2021-11-05 16:00] ronaldpetty commented on #105710
@pohly I agree, it didn't click with me earlier.

I suppose I was hoping (incorrectly) there was a way to remove headers in general. The --skip-headers mentions logs (unlike --no-headers) so maybe its for log "files" only (haven't figured out how to confirm that). I was assuming stdout was a 'log'. I guess this gets closed and I can go read the source on what --skip-headers does and if it doesn't

[2021-11-05 16:02] avinashupadhya99 commented on #28746
I've had a look around and am working on a solution for this.

/assign

There are changes necessary in the kubelet API as well so

/sig node

[2021-11-05 16:14] MikeSpreitzer commented on #100611
/remove-lifecycle rotten

[2021-11-05 16:21] matthyx commented on #105820
I don't think this method needs to change... I have make a draft PR for the default value to use the flag if present, but I would like more time to add some testing.
Maybe you can have a look: https://github.com/kubernetes/kubernetes/pull/106082 ?

[2021-11-05 16:49] kerthcet commented on #104890
Since all the subtasks are finished now, I'll close this issue, what's more, I'll create another pr to update the `updating-pause-images.md`.

[2021-11-05 16:49] #104890 closed

[2021-11-05 17:14] ashwiniramesha commented on #67250
+1  this is causing unintended bookkeeping of the statefulset names. and maintaining this information across product releases is becoming an overhead.

[2021-11-05 17:32] Huang-Wei commented on #102761
#105913 has been merged, which will block the binding if the bound pod holds a different UID from the live (recreated) pod.

/close

[2021-11-05 17:32] #102761 closed

[2021-11-05 17:38] pohly commented on #105710
Correct. You get log messages when running kubectl with something like `-v=5` and those can be written into files in addition or instead of stderr.

/close

[2021-11-05 17:38] #105710 closed

[2021-11-05 17:38] msmith93 commented on #98612
Hi, can anyone summarize what the fix is for this? I'm seeing these errors on my cluster. Does the audit policy configuration need to be updated in some way? Does the issue go away if I upgrade k8s?

I'm running k3s with k8s version 1.21.2

[2021-11-05 17:55] nicolehanjing opened #106187 "master node becomes worker nodes after network partition"
### What happened?

When the master node is deleted from k8s cluster due to some network failures, Cloud Provider Controller Manager notices that this node VM is no longer present on the cloud provider due to network partition, so Cloud Provider Controller Manager will remove this node from the cluster.
Later when this node is added back to k8s cluster, it is added back without the required master

[2021-11-05 18:00] aldorperez1 commented on #92615
I had this issue recently on a customer cluster. There where too many services in a single namespace, which caused a bunch of env vars appearing on every pod. The problem might not be immediately apparent, but try running a timed workload (e.g. a bash script that performs sqrt() ) in that namespace and the same workload in a different workload. For me, the difference was astronomical. Reason might

[2021-11-05 18:02] nicolehanjing commented on #106187
/sig storage

[2021-11-05 18:15] xing-yang commented on #106187
/sig node

[2021-11-05 18:39] #86499 closed

[2021-11-05 18:39] #106182 closed

[2021-11-05 18:40] xing-yang commented on #106187
/sig cloud-provider

[2021-11-05 18:45] mattmoor commented on #92615
Yeah, we opted to change the default in Knative over this.  I doubt Kubernetes will make such a breaking change.

[2021-11-05 19:03] rotring05 commented on #70334
If you try to run Kubernetes with Docker, please follow [this](https://stackoverflow.com/a/65870152/5401674) configuration.

[2021-11-05 19:44] #105146 closed

[2021-11-05 19:44] #105933 closed

[2021-11-05 20:18] deads2k commented on #106003
`AddEventHandlerWithResyncPeriod` creates a new Listeners, so the particular instance of RingGrowing would not be re-used, right?

[2021-11-05 21:00] akutz commented on #76789
cc @aruneshpa

[2021-11-05 21:41] TechnoChimp opened #106194 "Volume mount not respecting fsGroup value on non-existant parent directory"
### What happened?

When deploying a container with a volume mount and fsGroup defined, the mount operation will disregard the fsGroup value for any newly created directory in the mount path.

fsGroup: 1234

Container has:
/my/path

Mount path:
/my/path/here/mount

the 'mount' folder correctly has group set to 1234, but the 'here' folder has group set to root.

### What did you expect to happen?

[2021-11-05 21:43] TechnoChimp commented on #106194
/sig storage

[2021-11-05 21:48] #105189 closed

[2021-11-05 22:09] #81976 closed

[2021-11-05 22:36] dprotaso commented on #92615
They won't introduce the breaking change - that's why this issue is open.

@SergeyKanzhelev this issue is tagged needs-information but you should have everything you need. Do you have any more questions?

[2021-11-05 22:53] aojea commented on #106176
@soltysh can you guide us here?

where is the `all` command checking the subresources?  `/k8s.io/kubectl/pkg/cmd/get/get.go`
is ok to list network policies too?

[2021-11-05 23:09] #97511 closed

[2021-11-06 04:21] NikhilSharmaWe commented on #105678
@pohly I am getting difficulty in figuring out what should be output here, what should the appropriate output here.
Also what steps you took in knowing so, it would help to improve my understanding.
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/lifecycle/bootstrap/bootstrap_signer.go#L86

[2021-11-06 05:20] thanhlong9x opened #106198 "Endpoint of service lost after about 1 day"
Hi, I have problem with endpoint object of k8s. I use api of K8s to customize the IP list of Endpoint. However, after a day, the Endpoint list disappears without the cause. Pod is not error or recreate so do not activate the update of Endpoint's IP POD list. So I want to know if a component periodically checks the Endpoint's IP error and deleting it?

[2021-11-06 05:20] yxxhero opened #106199 "Errors generated by probemanager.probe.probe are not recorded in kubelet."
### What happened?

Errors generated by probemanager.probe.probe are not recorded in kubelet.
https://github.com/kubernetes/kubernetes/blob/bdb9c0824c5c08d6dc7128a27e384011cfd19e64/pkg/kubelet/prober/worker.go#L267-L271

### What did you expect to happen?

Record errors generated by probemanager.probe.probe. Facilitate debugging when errors occur.

### How can we reproduce it (as minimally and pre

[2021-11-06 05:21] yxxhero commented on #106199
/sig node

[2021-11-06 05:25] #106199 closed

[2021-11-06 06:32] aojea commented on #106198
you have to provide more data, generally a how to reproduce is the best idea
are these endpoints that you modify custom endpoints or autogenerated for a service with a selector?

[2021-11-06 06:47] dzzmaster commented on #63615
I also have this issue .
but  my issue is :
HPA's   deployment  's selector app=nginx **selector math another deployment 's  pod set**
 also that  pod **do not have resources 's requests set**
after set it , all work fine (actually maybe delete that deployment /change selector much better)

[2021-11-06 07:13] thanhlong9x commented on #106198
@aojea , you can find replace_namespaced_endpoints funtion at https://github.com/kubernetes-client/python/blob/master/kubernetes/README.md
I will describe the job I did. I will create a service with the selector label that doesn't match any label pod existing. Endpoint will be created automatically with the same name as a service. At Pod I will assign a Label to allow my application to read and re

[2021-11-06 07:32] timoreimann commented on #80354
/reopen

[2021-11-06 08:22] yuvaldolev commented on #105798
Hi @mauriciopoppe
When I try to run the snapshottable tests using `kubetest2` and `kide` I get the following failures:
[code]

I have setup `kubetest2` and `kide` as their documentation suggested, but seem to not be-able to run the tests.
Do you have an idea why this happens?

Thanks!

[2021-11-06 08:32] Zheaoli commented on #106003
@deads2k

If people run `Run` method before `AddEventHandlerWithResyncPeriod`, the particular instance of RingGrowing would not be re-used.

But once the people run `AddEventHandlerWithResyncPeriod` before `Run` or and run almost the same time in different  goroutines, I think it is possible to reuse the RingGrowing Buffer

[2021-11-06 10:32] SataQiu commented on #106142
/assign

[2021-11-06 11:41] aojea commented on #106198
There is one endpoint controller that manages the endpoints associated to service with selector, is a known issue that updates on those endpoints are not reconciled, so when you update that endpoints nothing happens.
However, that endpoint "belong" to the endpoints controller, and if it resync or restart it will reconcile the endpoint
TL;DR you can't modify endpoints managed by the endpoint contro

[2021-11-06 12:05] enj commented on #103498
/remove-lifecycle rotten
/lifecycle frozen

[2021-11-06 12:47] redbaron commented on #74415
/remove-lifecycle rotten

[2021-11-06 13:48] test-test-max commented on #106187
### Install tools
kubeadm
### OS version
$ cat /etc/os-release
NAME="Ubuntu"
VERSION="18.04.6 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.6 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy

[2021-11-06 19:20] #98970 closed

[2021-11-06 23:22] #98548 closed

[2021-11-07 00:18] leonardpahlke opened #106204 "[Flaky Test][sig-node] gce-cos-master-default"
### Which jobs are flaking?

sig-release-master-blocking#gce-cos-master-default

### Which tests are flaking?

* Kubernetes e2e suite.[sig-api-machinery] AdmissionWebhook [Privileged:ClusterAdmin] should mutate pod and apply defaults after mutation [Conformance]
* Kubernetes e2e suite.[sig-node] PreStop graceful pod terminated should wait until preStop hook completes the process

### Since when ha

[2021-11-07 00:20] leonardpahlke commented on #106204
/sig node

[2021-11-07 04:59] utk231 opened #106205 "Inconsistent behaviour across k8 versions while mounting character devices as file"
### What happened?

Issue - For v<1.19 k8 doesn't throw error if `type:File` being used for mounting character devices but as per its working it should.

How native k8 checks it is given in link [1](https://github.com/kubernetes/kubernetes/blob/dba9975e3e3ba25e0712a209e67862603c172777/pkg/volume/util/hostutil/hostutil.go#L27) & [2](https://github.com/kubernetes/kubernetes/blob/dba9975e3e3ba25e0712

[2021-11-07 05:05] utk231 commented on #106205
/sig storage

[2021-11-07 05:18] RPing commented on #98607
/remove-lifecycle stale

[2021-11-07 05:22] #99675 closed

[2021-11-07 09:35] schweikert commented on #92615
See also my [comment](https://github.com/kubernetes/kubernetes/issues/92615#issuecomment-652880449): this issue particularly affects bash, which has a routine with O(n^2) complexity on the number of environment variables. It's easy to reproduce: create 1000+ services and do a 'kubectl exec' in a container that uses bash as entrypoint.

I wish spec.template.spec.enableServiceLinks could be false by

[2021-11-07 12:19] gnufied commented on #102738
/reopen

[2021-11-07 14:42] SaiHarshaK commented on #106125
The `gracefulTerminationPeriodSeconds` is set to 30 seconds [here](https://github.com/kubernetes/kubernetes/blob/ea78226bf395cbf8c43a27a714b487d302bdf392/test/e2e/node/pre_stop.go#L171), while we wait for 15 seconds [here](https://github.com/kubernetes/kubernetes/blob/ea78226bf395cbf8c43a27a714b487d302bdf392/test/e2e/node/pre_stop.go#L192) after executing graceful termination.
Then, why are we try

[2021-11-07 16:25] #102362 closed

[2021-11-07 16:55] vaibhav2107 commented on #104041
/remove-lifecycle stale

[2021-11-07 19:02] heyste commented on #106032
Waiting on 2 week soak before promoting the test to conformance
/reopen

[2021-11-07 19:27] palnabarun commented on #101762
/remove-lifecycle stale

[2021-11-07 19:43] dprotaso commented on #92615
Eventually all workloads fall over - my example doesn't use bash

[2021-11-07 20:29] #102733 closed

[2021-11-07 21:28] zerkms commented on #106037
Okay, it's not a feature: at this very moment I'm witnessing how a container image that is still in run was GCed:

[code]

`python:3.6-slim` is running in at least one pod that have been non-stop running for the last 12 days.

[2021-11-07 22:26] shawncao commented on #17512
Lots of gems in this thread, :) thanks all! (wish some good writer could summarize and publish a quick sheet for it)

[2021-11-08 00:08] gjkim42 commented on #81001
Not clearing `/dev/shm` seems intentional in order to share with other containers.
(which means this is not a bug.)

If there is someone who wants to hack this behavior, there is a workaround for this.

/close

[2021-11-08 00:09] #81001 closed

[2021-11-08 00:31] #99349 closed

[2021-11-08 01:31] #96639 closed

[2021-11-08 01:44] yjjy0921 commented on #105953
Okay, let me create a PR to do the mkdir if the foler is not exists

[2021-11-08 02:14] #106103 closed

[2021-11-08 04:13] NikhilSharmaWe commented on #105927
@mborz @wojtek-t  could you please confirm the changes made and get [this PR](https://github.com/kubernetes/test-infra/pull/24201) merged.

[2021-11-08 04:16] nmathew commented on #105783
@cynepco3hahue Can you provide a sample configuration for 2 numa nodes?
"." comma seperator is already there for single numa configuration.

[2021-11-08 04:44] PicoCreator commented on #101933
Our team has opensourced, a pod operator for any user looking to "implement this desired behavior", which we been putting through the paces in our production environment.

https://github.com/uilicious/k8s-pod-completion-reaper
https://hub.docker.com/repository/docker/uilicious/k8s-pod-completion-reaper/general

Ideally we would still aim for a native implementation, as the operator has been observ

[2021-11-08 05:10] ryanpeach commented on #83826
I'd like to know if the kubernetes schedule queue is guaranteed FIFO for pods of the same priority. Can anyone advise?

[2021-11-08 05:22] dannysauer commented on #103877
In 1.18 (because of EKS long term support I don't really want to get into), I get this:
[code]
This is mildly aggravating, as it means I get fourteen lines of warning logs indicating that a service which exists solely to provide redirects is working as expected.  Does this bug mean that I'll instead get an even more aggravating warning when I eventually upgrade? :)

I found this bug while looking

[2021-11-08 05:31] #100761 closed

[2021-11-08 05:58] dlipovetsky opened #106218 "kubectl describe namespace should show Conditions"
### What would you like to be added?

`kubectl describe namespace` should output Conditions.

For example:

[code]

### Why is this needed?

Including Conditions in the output is useful.

In this example, a Condition can explain why a namespace deletion has not completed. While the `kubectl get` output below includes Conditions, I believe the output of `kubectl describe` would be easier to read.

[2021-11-08 05:59] dlipovetsky commented on #106218
/sig cli

[2021-11-08 06:10] dlipovetsky commented on #106218
/assign

[2021-11-08 06:23] chulkilee opened #106221 "kubectl auth reconcile does not handle the default api group properly"
### What happened?

When using the default `apiGroup` value (which is `rbac.authorization.k8s.io` for `kind: User`, kubectl auth reconcile` prints out it's removing and adding the subject although they're effectively same.

### What did you expect to happen?

The diff should not be generated when no change is needed.

### How can we reproduce it (as minimally and precisely as possible)?

[code]

`

[2021-11-08 06:25] chulkilee commented on #106221
/sig api-machinery
/sig cli

[2021-11-08 06:32] ryanlyy commented on #106107
thanks a lot @liggitt so if using NET_ADMIN permission, the only way is labeling namespace with "privileged" pss level? or is there anyway we can use NET_ADMIN w/o "privileged" pss level labeled?

Thanks a lot for your support

[2021-11-08 06:42] NilimaC04 commented on #100273
Hi 👋 I'm the bug triage shadow for release 1.23.
There hasn't been any activity on this issue for a couple of months now. Just want to make sure this issue is still on track for the 1.23?

[2021-11-08 07:33] zhanghe9702 opened #106222 "is it possible to let kubelet build symlinks for Pods which use log file from persistent volume?"
### What happened?

in our k8s clusters,  some pods direct logs to files in mounted pv, not stdout/stderr, we have deploy an DaemonSet(fluentbit) as log collector, but can't collect log info from these pods( others works normal), because fluentbit collect log files from stand container runtime log path like "/var/log/containers/...", now kubelet has build the symlink for stdout/stderr, so i want t

[2021-11-08 07:33] zhanghe9702 commented on #106222
/sig-node

[2021-11-08 07:36] zhanghe9702 commented on #106222
/help

[2021-11-08 07:36] phuongleeo commented on #79365
it worked for me. The cause is I used Helm to deploy the app along with post-install-job without resource limit.
I confirm the Pod's containers must be set relevant resource request

[2021-11-08 08:06] cpanato commented on #104083
all PRs are merged, there is anything else or can we close this issue?

[2021-11-08 08:08] zerkms commented on #89938
/remove-lifecycle stale

[2021-11-08 08:19] pohly commented on #105678
The "ok" value is the result of checking for a specific key in a map. What a developer therefore wants to know when that  check fails is:
- what was the key
- what's in the map

Both can be included in:
[code]

[2021-11-08 09:07] cynepco3hahue commented on #105783
@nmathew Yes, it is the problem, initially we needed to split it by comma, but probably it will not work as expected, so maybe we can split it by `;` and update documentation. Something like:
`<numa_id1>:<resource_name1>=<resource_size1>,...,<resource_nameN>=<resource_sizeN>;...;<numa_idN>:<resource_name1>=<resource_size1>,...,<resource_nameN>=<resource_sizeN>`

[2021-11-08 09:57] fhke opened #106227 "Graceful node shutdown not detaching persistent volumes when pods are evicted"
### What happened?

When a node with graceful node shutdown is shut down, persistent volumes attached to the node are not detached when the pod using the corresponding persistent volume claim is evicted from the node. After the node shutdown completes the associated VolumeAttachment objects are eventually removed but this tends to take 6+ minutes, which presents issues for replacement pods using R

[2021-11-08 10:50] kerthcet commented on #106127
/cc

[2021-11-08 10:55] sanchayanghosh commented on #104868
Hi @damemi

Sorry for the super late reply! Was working on other stuff. I can open a PR to fix the issue. i have fixed the actual issue and now the logs format correctly.

I am just super confused with how to write a test case to verify this. I went through the unit test framework, and couldn't figure out to write a unit test cases using the go libraries that kube provides.

I will write now set u

[2021-11-08 11:03] endocrimes commented on #103587
/remove-lifecycle stale

[2021-11-08 11:09] MadhavJivrajani commented on #106222
/remove-help
/sig node
/sig storage
/kind support

[2021-11-08 11:10] MadhavJivrajani commented on #106227
/sig node storage

[2021-11-08 11:11] MadhavJivrajani commented on #106221
/sig auth

[2021-11-08 11:13] MadhavJivrajani commented on #106198
/sig network

[2021-11-08 11:30] thanhlong9x commented on #106198
The fact that I didn't use the selector by letting a label not refer to any pod at all. I can update the endpoint and it exists, can be used with DNS name service. But the problem is that it does not exist long for some reason, it is possible that the Endpoint Controller reconcile as you say. I want to know what do Endpoint Controller performs pod reconciliation, does it happen periodically? My po

[2021-11-08 11:31] #69799 closed

[2021-11-08 11:37] aojea commented on #106198
[code]

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

[2021-11-08 12:10] soltysh commented on #106176
`all` is an alias defined on the server and not in the client. Any resource can be added themselves to these aliases, or rather categories, see here for CRDs:
https://github.com/kubernetes/kubernetes/blob/582c4ebe267020ed59c1553b95c8ecc3e8b88c1a/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/types.go#L247-L249

Although, before you open a PR to add anything to all, I can already

[2021-11-08 12:10] soltysh commented on #48388
/remove-lifecycle rotten
/lifecycle frozen

[2021-11-08 12:14] soltysh commented on #76789
This is being tracked in https://github.com/kubernetes/enhancements/issues/515
/close

[2021-11-08 12:14] #76789 closed

[2021-11-08 12:22] pohly commented on #106103
Resolved in both k/k and kubernetes-sigs/cloud-provider-azure.

/close

[2021-11-08 12:39] endocrimes commented on #105047
Dynamic Kubelet Config is no longer used in Node tests 🎉  (thanks @cynepco3hahue https://github.com/kubernetes/kubernetes/pull/104153).

We probably need some contrib guidance on when to use the DKC replacement vs a new job with a new KubeletConfiguration, but I think that should be a new issue in k8s/community.

[2021-11-08 13:14] damemi commented on #104868
@sanchayanghosh thanks! a test case might not be totally necessary, since this is just a change to logging, but if you open up your PR we can see how you fixed it and that might help show how we can add a test around your fix

[2021-11-08 13:17] sanchayanghosh commented on #104868
This is the logging output after the fix:

be-system, so request-header client certificate authentication won't work.
W1108 05:15:16.164340    8731 authorization.go:193] No authorization-kubeconfig provided, so SubjectAccessReview of authorization tokens won't work.
I1108 05:15:16.174432    8731 configfile.go:96] Using component configconfigapiVersion: kubescheduler.config.k8s.io/v1beta2
clientCon

[2021-11-08 13:20] damemi commented on #104868
@sanchayanghosh cool, if you have time please feel free to open a PR with your changes

[2021-11-08 13:33] liggitt commented on #106107
the default level for unlabeled namespaces is privileged, but specific cluster admins can change that default, so if you intend to make use of privileged permissions like net_admin, explicitly labeling the namespace as privileged is recommended.

GA / 1.24 isn't yet in progress, but there are no plans to move net_admin out of the privileged level at this point

[2021-11-08 13:40] liggitt commented on #101762
Thanks for the feature request, but this is unlikely to make progress as an issue. A proposal that works through the design along with the implications of such a change can be opened as a [KEP](https://github.com/kubernetes/enhancements/tree/master/keps#kubernetes-enhancement-proposals-keps).

/close

[2021-11-08 13:40] #101762 closed

[2021-11-08 13:49] xing-yang commented on #105602
@Kartik494 I think the reason to keep the RWO naming is to support backward compatibility.

CC @chrishenzie @msau42

[2021-11-08 13:49] xing-yang commented on #105602
/assign @chrishenzie @msau42

[2021-11-08 13:50] xing-yang commented on #105602
/assign

[2021-11-08 13:53] piyushgupta1551 opened #106229 "Incorrect etcd version bundled with etcd docker image - k8s.gcr.io/etcd:3.5.0-0"
### What happened?

I am running a Kubernetes `v1.22.2` cluster on **ppc64le** which uses `k8s.gcr.io/etcd:3.5.0-0` for etcd.
The actual etcd version bundled with this docker image is v3.4.13 which seems incorrect.
Because of this version mismatch, etcd cannot recognize the flags (--experimental-enable-distributed-tracing) required to enable OpenTelemetry as tracing was enabled in v3.5 onwards
[co

[2021-11-08 13:55] piyushgupta1551 commented on #106229
cc @hexfusion  @serathius

[2021-11-08 14:44] neolit123 commented on #106229
/sig release api-machinery

[2021-11-08 14:50] neolit123 commented on #106229
we are in the process of updating the default etcd to 3.5.1, so we need to understand why this problem is happening:
https://github.com/kubernetes/kubernetes/pull/105706

[2021-11-08 15:32] borodiliz commented on #87546
Some improvements:

[code]

[2021-11-08 15:35] bgrant0607 commented on #170
This was the original design (sunit prototype = pod template, replicate = replica set):
https://twitter.com/bgrant0607/status/1121058263959654400

But it can be addressed through a combination of type imports and duck typing.

I don't think this will happen, so closing.
/close

[2021-11-08 15:36] #170 closed

[2021-11-08 15:39] piyushsingariya commented on #75817
This issue should be considered. There are many use-cases for such feature.

[2021-11-08 15:39] piyushsingariya commented on #75817
/open

[2021-11-08 15:40] piyushsingariya commented on #75817
/reopen

[2021-11-08 15:40] piyushsingariya commented on #75817
/remove-lifecycle rotten

[2021-11-08 15:43] dims commented on #104685
@BenTheElder we do use `trimpath` see https://cs.k8s.io/?q=trimpath&i=nope&files=&excludeFiles=&repos=kubernetes/kubernetes (specifically hack/lib/golang.sh)

[2021-11-08 15:52] dims commented on #105953
@yjjy0921 did you create a PR yet?

[2021-11-08 15:55] BenTheElder commented on #103144
/lifecycle frozen

[2021-11-08 15:59] BenTheElder commented on #106012
I think in CI these are now running on machines with local NVMe SSD, n1-highmem-8 as the only major workload (requesting ~all cores in the job), so worth noting if we're overloading here these tests are probably less reliable on plenty of reasonable local machines ...

[2021-11-08 16:03] atiratree commented on #106054
One thing to note is that since this is fixing a rare behaviour (deployment pods are disrupted after successful rollout), the things this would break would also be rare.

For example. it could lead to race conditions in consumers which are polling the deployment status.

1. poller checks if rollout done
2. rollout completes
3. pod is disrupted -> rollout waiting for deployment
4. poller checks if

[2021-11-08 16:35] khenidak commented on #105986
I have been looking at the throwing warning using api-machinery. I think it is a good idea.

There are two cases here:
1. Service that had selector and thus endpoints that service then changes type to `ExternalName` (we need to delete those endpoints). I don't think controller can handle that logic consistently. Not sure at least.
2. Service that is already an `ExternalName`. If users set endpoint

[2021-11-08 16:35] mkumatag commented on #106229
ppc64le platform
[code]

amd64 platform

[code]

something is fishy!

[2021-11-08 16:39] khenidak commented on #105742
/triage accepted

[2021-11-08 16:40] mkumatag commented on #106229
but latest version seems to be fine:

[code]

[2021-11-08 16:41] khenidak commented on #95515
@aojea do we still need this open?

[2021-11-08 16:45] sanchayanghosh commented on #105022
/assign

[2021-11-08 16:51] aojea commented on #105986
only in endpointslice controller, endpoints controller doesn't handle updates
it should be something similar to https://github.com/kubernetes/kubernetes/pull/105997

this is the simplest one

https://github.com/kubernetes/kubernetes/blob/c9baa14d708415225ed030e520970b3e1b6e4349/pkg/controller/endpoint/endpoints_controller.go#L407-L411

[2021-11-08 16:53] aojea commented on #95515
/close

I can't remember exactly, but last comment I did mentions a PR that already merged, so let's close it

[2021-11-08 16:53] #95515 closed

[2021-11-08 17:15] #105816 closed

[2021-11-08 17:22] oded-dd commented on #97230
Sorry I didn't elaborate, we are experiencing the same issue with ebs controller. which does not have the same CRD

[2021-11-08 17:34] enj commented on #106110
@dnwe did you validate that the kubeconfig file still exists when you get the error?  Perhaps an `strace` dump of the app would tell us what is causing the `ENOENT` error?

[2021-11-08 17:37] enj commented on #106160
/assign @tallclair @liggitt

[2021-11-08 17:37] enj commented on #106160
/triage accepted

[2021-11-08 17:55] dnwe commented on #106110
@enj it’s an interesting one because it seemed like client-go had lost track of the source kubeconfig pathname — I would have expected `open /some/kubeconfig: no such file or directory` if the file had been deleted. In this case it seemed it had tried to `os.Open("")`

[2021-11-08 18:11] MikeSpreitzer commented on #105804
I think #105873 would help

[2021-11-08 18:12] jyotimahapatra commented on #104083
I think we can close this out now. Please let me know if this is a mistake

[2021-11-08 18:15] jyotimahapatra commented on #104083
/close

[2021-11-08 18:15] #104083 closed

[2021-11-08 18:45] mauriciopoppe commented on #105798
what was the command that you used? The csi-hostpath driver is embedded into the kubernetes codebase so you don't need to add anything else to your kind? cluster.

[2021-11-08 18:55] #105862 closed

[2021-11-08 19:21] BenTheElder commented on #100273
I don't think this is happening in 1.23 at least. I'm not aware of anyone taking this up.
/milestone clear

[2021-11-08 19:42] liggitt commented on #106160
hmm... I get the same pod-name-prefixed error when using the built-in admission plugin:

That said, I think all forbidden errors from admission prefix with the resource type and name by default, so I don't think this is unique to PodSecurity...

[2021-11-08 19:44] liggitt commented on #106160
it looks like it also logs events in the success case that include the pod name, which seem like they would be spammy:

[2021-11-08 19:48] liggitt commented on #106160
also, curious if the replicaset controller backed off when it got repeatedly rejected

[2021-11-08 19:56] howardjohn commented on #106160
I also have a mutating webhook on pods (Istio) which maybe contributes?

Also your pod being named `pause` may suggest its not created by a Deployment/Replicaset as I was doing - sorry if I wasn't more clear in the description.

From failures I have seen in the past they look like:
[code]

^ from a non 200 failure

`Warning  FailedCreate      2s (x11 over 7s)  replicaset-controller  Error creating

[2021-11-08 20:01] liggitt commented on #106160
ah, that's the key... replicasets create using generateName, which assigns a particular name post-mutating-webhooks, pre-validation-webhooks

[2021-11-08 20:07] liggitt commented on #106160
also, based on https://github.com/istio/istio/blob/71289b584b85c149ca0709d12f46317f1bbb7de0/pkg/kube/inject/webhook.go#L272, it looks like the istio sidecar mutating webhook is not returning a [standard forbidden error](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go#L207-L216), like the [PodSecurity webhook is](https://github.com/kuber

[2021-11-08 20:25] BenTheElder commented on #106165
Where the build scripts are parallelizable they do so internally (e.g. cross compiling, building all the code generators, building multiple WHAT binaries like `make WHAT=cmd/kubectl cmd/kubelet`), the make targets are mostly a convenience / portable alias, the substantial build logic including dependency ordering etc. is primarily in a big pile of bash that does some things in parallel 🙃

[2021-11-08 20:36] BenTheElder commented on #106165
If we trace `make WHAT=cmd/kubectl` we can see that it's `all: generated_files` with `all` being `hack/make-rules/build.sh $(WHAT)` and `generated_files` being recursive make (`$(MAKE) -f Makefile.generated_files $@ CALLED_FROM_MAIN_MAKEFILE=1`).

The only substantial make logic is contained in the rather hairy https://github.com/kubernetes/kubernetes/blob/master/build/root/Makefile.generated_file

[2021-11-08 20:37] BenTheElder commented on #106165
Thank you for maintaining this on the homebrew side :-)

[2021-11-08 20:38] #97208 closed

[2021-11-08 20:49] drduker opened #106238 "Practice Questions: You may close this ticket."
### What would you like to be added?

Documentation:

"Question 1 | Contexts
Task weight: 1%

You have access to multiple clusters from your main terminal through kubectl contexts. Write all context names into /opt/course/1/contexts, one per line.

From the kubeconfig extract the certificate of user restricted@infra-prod and write it decoded to /opt/course/1/cert.

Answer:
Maybe the fastest way is

[2021-11-08 20:49] #106238 closed

[2021-11-08 21:06] deads2k commented on #105981
The fix causes changes to the String serialization of metav1.Time.  We discussed it in this particular thread here https://github.com/kubernetes/kubernetes/pull/105982#discussion_r742312742, but without a way to keep the String output the same for callers we cannot merge the change.

/close

[2021-11-08 21:08] #105981 closed

[2021-11-08 21:11] #104418 closed

[2021-11-08 21:11] #105657 closed

[2021-11-08 21:37] aojea commented on #105657
and cherry=pick to 1.22 branch https://github.com/kubernetes/kubernetes/pull/106239

[2021-11-09 00:53] pawelpabich commented on #105962
Confirmed with Azure Support. These are the only gates that are explicitly set.

[2021-11-09 00:56] pawelpabich commented on #105962
@SergeyKanzhelev should we reopen this issue?

[2021-11-09 00:59] jsturtevant commented on #104285
fix under review with #105744

[2021-11-09 01:14] SergeyKanzhelev commented on #105962
/reopen

[2021-11-09 01:16] SergeyKanzhelev commented on #105962
CC: @jackfrancis  can you take a look?

[2021-11-09 01:24] yuzhiquan commented on #100052
/remove-lifecycle stale

[2021-11-09 01:40] pacoxu commented on #106229
The SHA of etcd image is changed after my last promotion.
I opened https://github.com/kubernetes/k8s.io/pull/3054.

[2021-11-09 02:01] techdragon commented on #65797
@hex108 are you around to reopen this?

Can we get some sort of admin/collaborator override and reopen this?

This has an implementation and everything. Yet no one wrote up a KEP and were stuck writing stupid supervisor scripts for what should be built in functionality (and _already is_ in the case of K8S Jobs)

/reopen

[2021-11-09 02:03] hex108 commented on #65797
/reopen

[2021-11-09 02:08] oomichi commented on #105837
According to https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/tutorials/enabling-vsphere-csi-on-an-existing-cluster.md#vsphere-requirements the `external vsphere cloud provider` also seems to require vSphere v6.7 U3 for CSI and CPI. Then `in-tree vSphere cloud provider` is just an option to operate vSphere v6.5.

Is it possible to extend keeping `in-tree vSphere cloud pro

[2021-11-09 02:27] brianpursley commented on #98213
I think a lot of these are false positives.

For example, the first one scopelint identified:
https://github.com/kubernetes/kubernetes/blob/d4883f532e8a3e138c5ef2e65382eba41ad35136/test/conformance/walk_test.go#L163-L170

Without any knowledge of how `t.Run()` works, it would seem to be a potential problem because that func could be executed asynchronolusly or at some time in the future after the

[2021-11-09 03:05] mkumatag commented on #106229
Issue is not with 3.5.1, it's with 3.5.0, can you promote latest revision like 3.5.0-4 and use that for the older releases.?

[2021-11-09 03:56] howardjohn commented on #95407
https://github.com/istio/istio/pull/35966 is the fix. Use unstructured, not a go struct. I don't know _exactly_ how this works, but I am guessing when we do this we have a better preservation of null vs unset. I suspect that using a pointer for the go types also would have resolved it?

[2021-11-09 04:35] apelisse commented on #89938
I strongly believe that this feature is broken by design. We can keep the issue open, but I don't think we'll ever fix this to be honest (I wish someone can prove me wrong :-).

[2021-11-09 04:51] sanchayanghosh commented on #102954
/assign

[2021-11-09 04:51] sanchayanghosh commented on #102954
/remove-lifecycle stale

[2021-11-09 04:51] sanchayanghosh commented on #102954
I will be taking a look at this issue. WIll try to reproduce first, and update on the status.

[2021-11-09 04:52] zerkms commented on #89938
@apelisse indeed, I'm just keeping a number of reports that affect me (or affected me long ago :-D ) so that it was closed with some official "works as designed" or a real fix, both are fine.

[2021-11-09 04:59] esemeniuc commented on #59078
@marckhouzam currently getting ~200ms startup delay as per this thread:

https://github.com/ohmyzsh/ohmyzsh/issues/6843#issuecomment-963817495

[2021-11-09 05:05] sanchayanghosh commented on #81133
/assign

[2021-11-09 05:13] sanchayanghosh commented on #74551
/assign

[2021-11-09 05:20] yxxhero opened #106246 "Panic occurs when using the custom scheduling scoring plugins"
### What happened?

Panic occurs when using the custom scheduling scoring plugins. The customized scheduling scoring plug-in is developed based on the schedule framework. Panic is accidental.

error messsage:
fatal error: concurrent map writes.

### What did you expect to happen?

no panic

### How can we reproduce it (as minimally and precisely as possible)?

None.I think it is caused by the foll

[2021-11-09 05:21] yxxhero commented on #106246
/sig scheduiling

[2021-11-09 05:21] yxxhero commented on #106246
/sig scheduling

[2021-11-09 05:34] ashokmariyala opened #106247 "Kubernetes HPA not scale up when exact target utilization reached"
### What happened?

Kubernetes HPA not scale up when exact target utilization reached
[code]
Describe HPA

[code]
The above events
`horizontal-pod-autoscaler failed to get memory utilization: unable to get metrics for resource memory: no metrics returned from resource metrics API`
`invalid metrics (1 invalid out of 1), first error is: failed to get memory utilization: unable to get metrics for res

[2021-11-09 05:34] ashokmariyala commented on #106247
/sig autoscaling

[2021-11-09 05:44] #106173 closed

[2021-11-09 05:46] ashokmariyala commented on #106173
Opened another ticket. [Kubernetes HPA not scale up when exact target utilization reached](https://github.com/kubernetes/kubernetes/issues/106247)

[2021-11-09 06:17] brandond commented on #102549
Still needs someone to own it.

[2021-11-09 06:49] adisky opened #106248 "[KEP:2133] E2E tests for external Kubelet Credential Provider"
### What would you like to be added?

Kubelet credential provider is in alpha since 1.20 release, we need to add e2e tests to move it to beta.

**Current e2e tests for intree credential providers:**
[1]  https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/runtime_conformance_test.go#L61 (uses intree docker config credential provider)
[2] https://github.com/kubernetes/kubernetes/blob

[2021-11-09 07:28] arkhipovds commented on #65973
We need this feature

[2021-11-09 07:33] kerthcet commented on #106127
/assign

[2021-11-09 08:03] georgettica opened #106249 "[kubectl-convert] running `kubectl-convert` on MutatingWebhookConfiguration causes apply fail"
the error stems from:

[code]

after some digging I saw this is the default value it it's supposed to fail, not sure if this is waned behaviour, but it's for sure not expected
https://github.com/kubernetes/kubernetes/blob/48da959dbff18bfef6e801bd8c8ab3c88b7a7650/pkg/apis/admissionregistration/types.go#L105

[code]

[2021-11-09 08:29] georgettica commented on #106249
/sig cli
I guess?

[2021-11-09 08:36] aexvir commented on #95258
@DanTulovsky @bowei got confirmed by gcp support that the fix is included with `1.21.4-gke.2300`
and they can't confirm that the fix will get backported to any other version

message from gcp support:

[2021-11-09 08:43] MadhavJivrajani commented on #94738
Friendly ping @liggitt ^ :)

[2021-11-09 08:51] kkkkun commented on #105790
/cc

[2021-11-09 08:57] Nimmsy commented on #106080
Guyz , Any update will be helpful

[2021-11-09 09:32] adisky commented on #106035
@wzshiming is it really needed? IMO `.dockerconfigjson` is not related with dockershim, dockerconfig.json is just docker standard to provide authentication credentials for registry, It is used by kubelet to fetch image credentials for container.
We already have a replacement in the form of external credential provider. May be we can remove/disable this docker credential provider as out of tree cre

[2021-11-09 11:15] sttts commented on #65973
With [CEL](https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2876-crd-validation-expression-language) you will be able to express immutability.

[2021-11-09 11:48] leonardpahlke commented on #105242
@encodeflush @dbgoytia as the currently test failure is getting tracked in another issue #105965 i think we can close this issue at this point

[2021-11-09 11:48] #105242 closed

[2021-11-09 11:48] pohly opened #106258 "structured logging: helper struct for formatting an object"
### What would you like to be added?

Something like this could be made available in klog, logr or a Kubernetes helper package (TBD):
[code]

### Why is this needed?

We had some cases now where we needed a custom formatter. Always writing the same boilerplate code is annoying and distracts from the actual change.

[2021-11-09 11:48] pohly commented on #106258
/sig instrumentation
/wg structured-logging
/assign

[2021-11-09 11:55] leonardpahlke commented on #105677
/priority important-soon

[2021-11-09 11:58] #105675 closed

[2021-11-09 12:07] soltysh commented on #78564
/help

[2021-11-09 12:07] soltysh commented on #41568
This was moved over to https://github.com/kubernetes/kubernetes/issues/78564 please comment there.

[2021-11-09 12:08] pohly opened #106262 "structured logging: better support for multi-line strings"
### What would you like to be added?

When using `InfoS` or `ErrorS` with a key/value that has a multi-line string as value, that value will appear as quoted string in the log message, i.e. the log message will still be a single line.

It would be nicer to print the value in text mode so that it goes across multiple lines, with clear indicators for start and end of the value. Indention could be us

[2021-11-09 12:09] pohly commented on #106262
When adding something like this, https://github.com/kubernetes/kubernetes/issues/106262 can be reverted and implemented differently.

[2021-11-09 12:20] humblec commented on #91246
Update: Based on the community feedback this feature has been tracked for 1.23 Kube release as Alpha.

[2021-11-09 13:04] pohly commented on #106262
My original thinking was that only objects that explicitly ask for multi-line output get formatted that way. But that means that we need to review log calls very carefully.

An alternative is to automatically switch from quoting strings to multi-line output based on some heuristic, for example when there's more than one line break.

[2021-11-09 13:05] varshaprasad96 commented on #105047
Hello (@ehashman @endocrimes @neolit123) :)
k8s 1.23 bug triage here 👋,
Just wanted to follow up and check if this issue is on track for 1.23. Would [kubernetes/test-infra#24284](https://github.com/kubernetes/test-infra/pull/24284) close this issue, or is there any other action needed since there is no particular PR linked for this issue?

[2021-11-09 13:38] neolit123 commented on #105837
I think all internal providers are scheduled for removal earlier but perhaps @divyenpatel and @kubernetes/sig-cloud-provider can establish if an exception is possible.

/unassign

[2021-11-09 13:47] pohly commented on #106262
Here's a potential implementation: https://github.com/kubernetes/klog/pull/268

[2021-11-09 13:49] endocrimes commented on #105047
@varshaprasad96 I think kubernetes/test-infra#24284 plus #106263 resolve this.

There's some follow up work around feature enablement and testing standards, but I think they're separate from the core of what we needed here.

[2021-11-09 13:50] endocrimes commented on #106248
/triage accepted
/priority important-soon

[2021-11-09 14:01] Rajalakshmi-Girish opened #106264 "Test Failure: Conformance test to validate there is no conflict between pods with same hostPort but different hostIP and protocol"
### What happened?

The below test is failing in our daily conformance runs that test the suite against the latest k8s cluster:
`Test that validates that there is no conflict between pods with same hostPort but different hostIP and protocol`
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/hostport.go#L61

Please look at https://k8s-testgrid.appspot.com/sig-node-ppc64le#confor

[2021-11-09 14:05] marckhouzam commented on #59078
I tried this on my Mac (using `gdate` instead of `date`) and I also got over 200 ms:
[code]
After investigating I noticed that the zsh plugin for kubectl uses a cache:
[code]
which was two years old and using the old kubectl completion logic.
After removing that file, I re-ran the timing script twice (the first time caused the plugin to regenerate the file so it was slower), and on the second and

[2021-11-09 14:07] Rajalakshmi-Girish commented on #106264
@mkumatag ^^

[2021-11-09 14:11] AlyssaBetty opened #106265 "Kubelet logging PLEG: Write status error when no errors have occured"
### Which jobs are failing?

I install kubernetes 1.22.2
calico 3.20.2
centos 8.4
kernel 4.18

when I create some pod,and sawed that kubelet status had some error
[code]

my node and pod are all running
[code]

Is this a bug of 1.22.2 ？Can any one help me to resolv this problem,thanks!

### Which tests are failing?

kubelet had PLEG Write status error

### Since when has it been failing?

I instal

[2021-11-09 14:13] mkumatag commented on #106264
/triage accepted
/sig network

[2021-11-09 14:34] aojea commented on #106264
/remove triage-accepted

The failure seems related to the environment, the same test is working perfectly in other jobs
https://k8s-testgrid.appspot.com/sig-release-master-blocking#conformance-ga-only&include-filter-by-regex=HostPort

The failure is because one of the pods on the test fail to run

[code]

I couldn't find the config of the job, but I suggest to check the difference in the configura

[2021-11-09 14:34] neolit123 commented on #106265
/remove-kind failing-test
/sig node
/kind support

[2021-11-09 14:38] liggitt commented on #94738
I don't have strong opinions about the transition in k8s.io/apimachinery... using a matching library version there is expected

I'll defer to @wojtek-t on the plan for the utils interface... defining a new interface is the only real way I see to stay backward compatible with the existing exposed go API there. To avoid repeating issues of the past, settle on the final/full interface you need to col

[2021-11-09 14:51] sanchayanghosh commented on #94217
/assign

[2021-11-09 15:07] danwinship opened #106267 "kube-proxy only looks at Addresses[0] in EndpointSlice"
### What happened?

An `EndpointSlice` can contain up to 1000 `Endpoints`, which can each contain up to 100 `Addresses`. Or at least, that's what the docs say, but actually, kube-proxy (or more specifically, `pkg/proxy/endpointslicecache.go`) only looks at the first Address in each Endpoint:

[code]

(This is compatible with how `EndpointSliceController` works, since it would only generate multi-A

[2021-11-09 15:08] danwinship commented on #106267
/sig network
/priority important-longterm

/cc @robscott

[2021-11-09 15:08] enj commented on #106110
@dnwe that is indeed strange, but is possibly something that could be verified via `strace`?

You could try building the app with a forked client-go that adds extra logging to all error paths so we can try an nail down where this is happening.

[2021-11-09 15:23] sebsoto commented on #104269
/remove-lifecycle stale

[2021-11-09 16:12] JanScheurich opened #106270 "Best-effort topology mgr policy doesn't give best-effort CPU NUMA alignment"
### What happened?

### Use case:
A DPDK application uses VLAN trunking on SR-IOV NICs and requires dedicated SR-IOV NICs. For cost-reasons there is only one SRIOV-NIC per server but, to exploit the CPU resources optimally, the applications need to run one single-NUMA pod per CPU socket. For these pods, CPUs and huge-pages must be allocated from the same NUMA node, while the SR-IOV device may be a

[2021-11-09 16:46] aojea commented on #106267
All addresses in the slice must be of the same type, do you mean creating an Slice with different address types in the Addresses field?

https://github.com/kubernetes/kubernetes/blob/376b2150d5a678bac3ac59b8d61dfb200b4b46bd/staging/src/k8s.io/api/discovery/v1/types.go#L35-L42

https://github.com/kubernetes/kubernetes/blob/376b2150d5a678bac3ac59b8d61dfb200b4b46bd/staging/src/k8s.io/api/discovery/v1

[2021-11-09 16:55] liggitt commented on #106035
I wouldn't drop support for this format... the motivation behind out-of-tree credential providers was to avoid carrying large/complex cloud-provider-specific libraries in-tree. The secret-based credential provider is very lightweight and non-cloud-provider specific.

[2021-11-09 16:55] liggitt commented on #106035
I don't particularly think it's worth the effort to define new API constants and propagate out API changes just to support a new name

[2021-11-09 17:23] marosset commented on #105336
Here are some logs from the failure
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1442856310264565760

We likely need to update the test to print out the results of the exec command used in this test.
There is enough enough information in the existing logs to debug.

[2021-11-09 17:49] dkulchinsky opened #106274 "UDP traffic to a single Pod behind a ClusterIP is blackholed when the destination Pod is recreated (wrong conntrack)"
### What happened?

Our setup has Pods [source] that send (continuous) UDP traffic to a ClusterIP service that is backed by a single endpoint Pod [destination]

When the destination Pod is recreated, the nodes that host the source Pods end up with an incorrect conntrack entry which results in the traffic getting blackholed from the source Pod and is not delivered to the new (destination) Pod.

Thi

[2021-11-09 17:58] franznemeth commented on #102954
Thanks for having a look. We were able to reproduce it somewhat reliably by having about 100Gi of small files (for example source code) in an emptyDir.

[2021-11-09 17:59] jackfrancis commented on #105962
ACK

[2021-11-09 18:21] dkulchinsky commented on #106274
/sig network

[2021-11-09 18:29] #105927 closed

[2021-11-09 18:33] jackfrancis commented on #105962
Hi @pawelpabich, I'm a bit confused by the "Timeout not enforced" screenshot. In fact that screenshot shows that the liveness probe is restarting the container in the pod events logs.

We are definitely testing timeout failures in Azure scenarios:

https://github.com/Azure/aks-engine/blob/master/test/e2e/kubernetes/workloads/exec-liveness-assume-1-second-default-timeout.yaml

In addition, we have

[2021-11-09 18:35] raunakkumar commented on #105536
We are facing the same issue on a 1.22 k8s cluster

[2021-11-09 18:35] esemeniuc commented on #59078
Thank you very much @marckhouzam!! It works :partying_face:

[code]
[code]

[2021-11-09 19:05] shivanshu1333 opened #106276 "Add custom formatter for podData and nodeInfo for `pkg/scheduler/internal/cache/debugger/dumper.go`"
### What would you like to be added?

We need to add a custom formatter like [this](https://gist.github.com/shivanshu1333/10a801d10c8f790b2e12e50cfb451dc7), test case to see [result](https://gist.github.com/shivanshu1333/3e7b7cda9fad55c2065900cd30f75781) as part of structured logging

### Why is this needed?

Part of structured logging https://github.com/kubernetes/enhancements/issues/1602

[2021-11-09 19:06] shivanshu1333 commented on #106276
/wg structured-logging
/sig scheduling
/area logging
/priority important-soon
/kind cleanup
/cc @kubernetes/wg-structured-logging-reviews
/cc @pohly

[2021-11-09 19:12] philipatl opened #106277 "kubectl edit of a type from an API extension server does not check preconditions"
### What happened?

As a user if I `kubectl edit` a custom API resource (for example, a Fischer from the sample-apiserver), I can change the name in the metadata and I do not get a `error: At least one of apiVersion, kind and name was changed`.
Instead, a Patch to the new user-edited name is created, which can result in NotFound or even making changes to the wrong object.

### What did you expect

[2021-11-09 19:13] philipatl commented on #106277
https://github.com/kubernetes/kubernetes/pull/106268

[2021-11-09 19:24] philipatl commented on #106277
/sig CLI

[2021-11-09 19:28] #104868 closed

[2021-11-09 19:37] BenTheElder commented on #98213
Sorry I've been a bit notification overwhelmed :(
@brianpursley's comment is very helpful, and https://github.com/kubernetes/kubernetes/pull/104835 looks good. Thank you.

[2021-11-09 19:37] jsturtevant commented on #105336
This issue hasn't reproduced in the Azure test suite.

I used https://storage.googleapis.com/k8s-triage/index.html?sig=windows&test=Hybrid%20cluster%20network%20for%20all%20supported and see a few flakes due to some stability in gce tests but not related to the test it's self.

[2021-11-09 19:40] bm1216 commented on #100683
Similar issue here - basically k8s is telling me that
[code]
even though I have one pod scheduled and other failing due to the pods exceeded the resource quota. I would like to know when this happens in the cluster and would like to glean metrics from it, but with the metrics basically telling me none of my daemonset pods are scheduled, this is impossible.

[2021-11-09 19:41] jsturtevant opened #106278 "New Windows kubelet stats collection test flaking"
### Which jobs are flaking?

ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd

### Which tests are flaking?

Kubernetes e2e suite: [sig-windows] [Feature:Windows] Kubelet-Stats Kubelet stats collection for Windows nodes when running 3 pods should return within 10 seconds

### Since when has it been flaking?

it flaked once this week

### Testgrid link

https://prow.k8s.io/view/gs/kuber

[2021-11-09 20:18] nckturner commented on #99328
/remove-lifecycle rotten

[2021-11-09 20:21] shivanshu1333 commented on #106276
/assign

[2021-11-09 20:21] nckturner commented on #99328
Migrated to https://github.com/kubernetes/cloud-provider-aws/issues/284

/close

[2021-11-09 20:22] #99328 closed

[2021-11-09 20:24] nckturner commented on #102707
For new features, CSI should be used, as referenced above by @ialidzhikov.

/close

[2021-11-09 20:24] #102707 closed

[2021-11-09 20:28] nckturner commented on #101526
/remove-lifecycle rotten

[2021-11-09 20:35] nckturner commented on #101526
Sounds like its because you've shut everything down, and after some time ec2 will stop returning any information about that instance.  The cloud provider only terminated instances that [it can verify have been terminated](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L1673-L1676), so if you restart masters after the EC2 API stops returnin

[2021-11-09 21:19] fedebongio commented on #106221
This seems to be more sig cli
/cc @seans3
/remove-sig api-machinery

[2021-11-09 21:20] fedebongio commented on #106229
/remove-sig api-machinery

[2021-11-09 21:46] deads2k commented on #106003
Ah ha!  Perhaps it is that the `.run` method uses a read lock, but writes to `listenersStarted`.  the `AddEventHandlerWithResyncPeriod` acquires a full lock and reads the `listenersStarted`, but it may not observe the written value of `listenersStarted`.

Do you have  reliable reproducer you can try making the `.run` method `p.listenersLock.Lock()` and `defer p.listenersLock.Unlock()`?

[2021-11-09 21:56] tkashem commented on #106003
cc @tkashem

[2021-11-09 22:27] pawelpabich commented on #105962
Hi @jackfrancis,

In the first case, **without** curl timeout,  it took K8s 18 minutes to fail the liveness probe. In the second case, **with** curl timeout, it took K8s just under 5 minutes to do the same.

The health endpoint is configured to sleep for 120 seconds before it responds. (note 120 and the end of the url).

The timeout is set to 5 seconds and the period is set to 30 seconds.  K8s sho

[2021-11-09 23:05] jackfrancis commented on #105962
Note that the startup probe is also failing. @SergeyKanzhelev can you confirm that the liveness probe isn't engaged until startup probe is all clear?

The 10 failures over 18 mins roughly matches the 5 second timeout + 30 second periodicity + 10 failures probe criteria. By definition, such a liveness probe will take a long time to fail, certainly not 5 seconds. What are you expecting from your liv

[2021-11-09 23:09] aojea commented on #106274
We have an e2e test with the same scenario that you are describing, however, we recently had a regression with unready pods
https://github.com/kubernetes/kubernetes/pull/106163

However, I assume the conntrack entry is obtained from the node

is the source the pod a host network pod? i.e. 172.18.3.25 is also the IP of the node?
otherwise I can't understand that conntrack entry ... :thinking:

[2021-11-09 23:10] arnottcr commented on #82531
/remove-lifecycle stale

[2021-11-09 23:20] dkulchinsky commented on #106274
Hi @aojea! thanks for taking a look.

both Pods (source & destination) are not on `hostNetwork`, our Pods CIDR for this cluster is: `172.18.0.0/16`

These are the pods in question (names obfuscated):
[code]

[2021-11-09 23:23] BenTheElder commented on #82531
xref: https://github.com/kubernetes/kubernetes/pull/105891

[2021-11-09 23:33] aojea commented on #106274
let me know if you can dump the iptables rules at the moment of that entry get created ... and the yaml for the pods and the service (is ok to obfuscate the name or fields you consider )

[2021-11-10 00:12] jonbuckley33 opened #106284 "kubectl apply --prune does not delete resources matching label selector in "unvisited" namespaces"
### What happened?

While experimenting with `kubectl apply --prune --selector`, I noticed that it skipped deleting resources in some circumstances. After further experimentation, I learned that `kubectl apply --prune --selector foo=bar -f resources.yaml` won't delete resources in a namespace if that namespace doesn't appear in resources.yaml, even if the resources have the specified label.

### W

[2021-11-10 00:24] enj commented on #99603
/remove-lifecycle rotten
/lifecycle frozen

[2021-11-10 00:31] #101755 closed

[2021-11-10 00:31] #105932 closed

[2021-11-10 00:51] Rajalakshmi-Girish commented on #106264
Here is the config of the job that failed. https://prow.ppc64le-cloud.org/prowjob?prowjob=fd3eba42-41b6-11ec-bceb-ce3d5cc4486c
There was no change made to the job's configuration before it started to fail.
`kubetest2-tester-ginkgo` is used to run these tests. I am yet to reproduce this manually apart from the consistent failure in the prow jobs!

[2021-11-10 00:56] dkulchinsky commented on #106274
@aojea I happened to save these 😄

`iptables.txt` includes the iptables when traffic from Pod with IP 172.18.3.25 was being blackholed.

[iptables.txt](https://github.com/kubernetes/kubernetes/files/7508983/iptables.txt)

here are the manifests for the Pods and Service (sorry, I had to obfuscate a bunch of details).

Source Pod:

<details>

[code]

</details>

Destination Pod:

<details>

[code]

[2021-11-10 01:18] theunrepentantgeek opened #106286 "Throttled response from API server should not include misleading cause information"
### What happened?

When the Kubernetes API server returns a 429 (throttled), the response may include misleading cause information.

We observed that a pod eviction API call received a response that included _**both**_ of the following fragments:

[code]

and

[code]
Note that the `message` given above is confusing, as there are more currently healthy pods than the required number.

### What did

[2021-11-10 01:21] theunrepentantgeek commented on #106286
/sig api-machinery

[2021-11-10 01:21] SergeyKanzhelev commented on #106248
/label area/test

[2021-11-10 01:21] SergeyKanzhelev commented on #106248
/area test

[2021-11-10 01:25] SergeyKanzhelev commented on #105962
this is true, as [documented](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#:~:text=the%20kubelet%20uses%20startup%20probes%20to%20know%20when%20a%20container%20application%20has%20started.%20if%20such%20a%20probe%20is%20configured%2C%20it%20disables%20liveness%20and%20readiness%20checks%20until%20it%20succeeds).

[2021-11-10 01:26] SergeyKanzhelev commented on #105962
/label needs-information

(likely not a bug, but needs a bit more information I think)

[2021-11-10 01:27] SergeyKanzhelev commented on #105962
/triage needs-information

[2021-11-10 01:40] 249043822 commented on #106265
In this pr https://github.com/kubernetes/kubernetes/pull/98990, the log level was changed from Info to Error, may cause some confusion. /cc @gjkim42
https://github.com/kubernetes/kubernetes/blob/c04157895ca78bc1ee366bcc9c8e3f4675024793/pkg/kubelet/pleg/generic.go#L409

[2021-11-10 01:40] 249043822 commented on #106265
triage/accepted

[2021-11-10 01:41] 249043822 commented on #106265
/triage accepted

[2021-11-10 02:23] 249043822 commented on #106222
kubelet maybe not know which log files your app would write in pod volume path, actually all the app log files exists on /var/lib/kubelet/pods/{podUID}/volumes, you can access these paths to get app logs written in mounted volumes, or create a symlink to the paths in "/var/log/containers/..."

[2021-11-10 03:01] AlyssaBetty commented on #106265
@249043822  Is there a problem with this log message? Or is there no problem with that?

[2021-11-10 03:03] 249043822 commented on #106265
Yeah, there's no problem

[2021-11-10 03:06] AlyssaBetty commented on #106265
But when I delete all the pods, I got some error  kubelet log:
[code]
did you know Do you know what the problem is : Error getting node" err="node \"master1.xxx.com\" not found"

[2021-11-10 03:08] AlyssaBetty commented on #106265
ignore Flag --network-plugin has been deprecated，because i use kubernetes 1.22.2 and docker 20.10.10。Docker is no longer officially recommended

[2021-11-10 03:12] 249043822 commented on #106265
You should see the actual realtime logs by  "journalctl -f -u kubelet.service"

[2021-11-10 03:15] AlyssaBetty commented on #106265
I restart kubelet,and use command "journalctl -f -u kubelet.service" .
the log  "Error getting node" err="node \"master1.xxx.com\" not found" is gone

![图片](https://user-images.githubusercontent.com/84139094/141042956-361286a8-c89e-4787-96c6-91f5374db92c.png)

when i check my docker.service ,I get this :
![图片](https://user-images.githubusercontent.com/84139094/141043192-336e98bf-e6e3-4479-9808-d23

[2021-11-10 03:16] AlyssaBetty commented on #106265
Is that still a problem ?

[2021-11-10 03:21] zhanghe9702 commented on #106222
so is it possible to let kubelet know which file in a volume should build symlink?

[2021-11-10 03:41] mengjiao-liu commented on #102373
/reopen
Relaxing validation of API fields has to be done over two releases.We have only completed the first part now.
see https://github.com/kubernetes/kubernetes/pull/102393#discussion_r645018213 for more details.

[2021-11-10 04:08] Kartik494 commented on #105602
@xing-yang @chrishenzie Thanks for your input on this.

[2021-11-10 04:32] NikhilSharmaWe commented on #106176
@soltysh So, the process of defining something like networks to group all network related resources will be similar to how you introduced api-extensions category in k8s apiserver. In that case you added k8s.io/apiserver/pkg/registry/rest but what will be in case for adding network policies.
Am I thinking reasonable or not.

[2021-11-10 04:33] NikhilSharmaWe commented on #106176
/assign

[2021-11-10 04:37] gtskaushik commented on #79224
Please re-open

[2021-11-10 04:41] adisky commented on #106248
@SergeyKanzhelev @DangerOnTheRanger @cheftako Is there any image available with gcp cloud provider+ credential provider that i can use directly to run e2e tests?

cc @spiffxp Also for any inputs on how this tests should move forward

[2021-11-10 04:43] adisky commented on #106035
Agreed on both the points, Thanks for the inputs

[2021-11-10 05:39] NikhilSharmaWe commented on #106258
Looking forward to how you will proceed in this issue, please inform if I can collaborate in any way.

[2021-11-10 06:01] SergeyKanzhelev commented on #101035
/remove-lifecycle stale

as @jackfrancis is working on it

[2021-11-10 06:24] champtar opened #106292 "Kubelet leaks /run/systemd/inhibit/X.ref when exec iptables triggering selinux"
### What happened?

[code]
ppid 7642 == kubelet

[code]
https://unix.stackexchange.com/questions/639998/how-to-interpret-octal-flags-in-proc-pid-fdinfo-n

### What did you expect to happen?

iptables should not have the /run/systemd/inhibit/X.ref fd passed to him
we can:
- set close on exec flag
- close all fds when we exec programs
- both

### How can we reproduce it (as minimally and precisely a

[2021-11-10 06:32] NikhilSharmaWe commented on #106278
@jsturtevant How can I help in this issue.

[2021-11-10 06:37] champtar commented on #106292
/sig node

[2021-11-10 06:55] SergeyKanzhelev commented on #106248
@cheftako do you know if there is already an image available?

[2021-11-10 07:09] ffilippopoulos commented on #72881
/remove-lifecycle stale

[2021-11-10 07:10] serathius commented on #106080
Please read this issue https://github.com/kubernetes/kubernetes/issues/68522#issuecomment-724928827

Kubelet Summary API, is currently only planned for deprecation, this hasn't yet happened as noone proposed a working alternative. When it will happen it will be clearly announced and it will take at least 3 releases before it is removed. Meaning you will have around a year to adapt.

As for alterna

[2021-11-10 07:38] tyg03485 commented on #75290
Same here.
When make service as `loadbalancer` type with ipvs mode (kube-proxy), The node be `notReady` with disconnecting.

(FYI. I also tried with calico and cilium)

[2021-11-10 07:50] Bjohnson131 commented on #26202
So far the answer seems to be a tentative yes?

[2021-11-10 07:52] MadhavJivrajani commented on #106094
@tkashem are you working on this? If not, would you mind if I tried taking it up?

[2021-11-10 07:53] alonSadan opened #108802 "making it possible to grant specific PodSecurity permissions for specific services"
(moved from https://github.com/kubernetes/pod-security-admission/issues/1)

As a user of this feature I would like to be able to allow specific capabilities for specific services in my project.

The current implementations offers only three general definitions of security levels which can be hard to suit services that require one or two special capabilities.

Also since the admission is applied in

[2021-11-10 08:29] aojea commented on #106274
hmm
the iptables rules pasted show that the service has active endpoints

if you say that the pod was restarting this may be caused by the regression fixed in

I still don't get why the pod traffic is being hairpined to the original pod, it seems that the source pod belong to another service too ...

It will be nice to discard that your are not impacted by these 2 known issues with unready endpoin

[2021-11-10 08:51] NikhilSharmaWe commented on #106262
@pohly If structured logging is needed in any other case I can contribute, please inform if needed.

[2021-11-10 08:57] aojea commented on #106264
the test fails because the pod readiness fail, it will be nice to have logs from the kubernetes daemons to understand the root cause
[code]

however, this setup seems to have only one node, AFAIK conformance clusters require at least 1 control-plane and 2 workers

/cc @amwat @BenTheElder

[2021-11-10 09:04] wojtek-t opened #106302 "Reconsider how we implement watermarks in P&F"
Spin off from https://github.com/kubernetes/kubernetes/pull/105873/files#r735360613

In my opinion, having additional concepts of TimedObservers rather than relying directly on metrics is unnecessarily complicating the (already pretty complicated) codebase.
My main questions are:
- do we really need them?
- do we really want to get into the business of watermarks, etc.? Can't we rely on monitoring

[2021-11-10 09:17] aojea opened #106303 "Are single-node clusters conformant?"
### What happened?

I can create a cluster with one node and pass conformance,

~there are some tests that require at least 2 nodes to run~
~`https://github.com/kubernetes/kubernetes/blob/0c6110e4120165b4485e658de6eca5d6d2d72b1a/test/e2e/common/network/networking.go#L80-L82`~

~This is because the tests Skip if they are not able to run~

~`https://github.com/kubernetes/kubernetes/blob/0c6110e41201

[2021-11-10 09:20] pardeepbeniwal opened #106304 "Curl: (7) Failed connect to Connection refused"
### What happened?

I have created Deployment, service and ingress with below yaml file:
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: default
  name: nginx
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      name: nginx
  template:
    metadata:
      labels:
        name: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.9

[2021-11-10 09:20] aojea commented on #106303
/assign @smarterclayton @thockin @johnbelamaric  @BenTheElder  @spiffxp

Maybe this has changed, but last time I've checked the minimum for conformance was 1 control-plane and 2 workers, if that didn't change I will submit a PR to enforce it in the suite

Regarding sig-network, with one node you can not verify the networking model, where pod to pod in different nodes should be able to communicate

[2021-11-10 09:21] aojea commented on #106303
/area conformance
/sig network

[2021-11-10 09:47] MadhavJivrajani commented on #84353
/remove-lifecycle stale
/lifecycle frozen

[2021-11-10 09:55] wzshiming commented on #106227
/assign

[2021-11-10 10:11] bronger commented on #95140
Just to be sure:

If a pod has no readinessProbe defined, and a startupProbe that is failing, it is `ready` nevertheless? It is in `running` state after all.

[2021-11-10 10:35] matthyx commented on #95140
Failing startup probe should never set ready state. The issue here was about waiting for another probe cycle to set ready, but implying that the probe is successful.

[2021-11-10 11:00] bronger commented on #95140
This is difficult to understand IMO.

With “successful” you mean that the startupProbe succeeded? But the pod is in `Running` state already before that. This means that the sentence from the issue report that I quoted above is wrong.

Moreover, https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/ does not say that startup probes have anything to do

[2021-11-10 11:01] bronger commented on #95140
(I cannot test it here because I have only K8s available which is affected by this bug.)

[2021-11-10 11:08] matthyx commented on #95140
Running only means containers are in running state, it doesn't know about the application.
Ready means the readiness probe has succeeded, but if none is defined we assume always ready.
So it means as soon as startup probe succeeds ready state should be set without delay, which wasn't the case before the fix, because state propagation was left to the syncing goroutine.

[2021-11-10 12:19] smira commented on #105820
Thanks, this PR looks good to me, as it's going to set the OOM score to the configured value.

And in our case kubelet runs in a container (not on the host, with proper OOM score via OCI spec), so this code should be even skipped, not sure how this can be addressed.

[2021-11-10 12:27] soltysh commented on #106176
correct

[2021-11-10 13:05] NikhilSharmaWe commented on #106176
@soltysh In that case you added k8s.io/apiserver/pkg/registry/rest but what will be in case for adding network policies.

[2021-11-10 13:33] Kartik494 commented on #105956
As far as i think  the claim is for the entire volume. The part that confused me at first as well, was the resources.requests.storage value is only a minimum value that claim requires. i will try in my end also and will let you know on this.
For more details you can refer
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#binding

[2021-11-10 13:42] Crazybus opened #106309 "Full Pod Disruption Budget support for Daemonsets"
### What would you like to be added?

Pod Disruption Budgets to have full support for Daemonsets. Currently only [minAvailable with integer values](https://kubernetes.io/docs/tasks/run-application/configure-pdb/#arbitrary-controllers-and-selectors) is supported.

### Why is this needed?

Daemonsets are used for cluster level networking functions like Ingress and Kubernetes system components like k

[2021-11-10 13:55] bart0sh opened #106310 "Hugepages test fails"
### Which jobs are failing?

kubelet-serial-gce-e2e-hugepages

### Which tests are failing?

all

### Since when has it been failing?

November 09th 2021

### Testgrid link

https://testgrid.k8s.io/sig-node-kubelet#kubelet-serial-gce-e2e-hugepages

### Reason for failure (if possible)

Tests fail with the same error: 'Found more than one kubelet service running'

### Anything else we need to know?

[2021-11-10 14:17] leonardpahlke commented on #105580
Test is currently green (since: 2021-11-04) :)

[2021-11-10 14:18] leonardpahlke commented on #105580
/close

[2021-11-10 14:19] #105580 closed

[2021-11-10 14:24] leonardpahlke commented on #106204
/priority important-soon

[2021-11-10 14:28] aojea commented on #106264
@Rajalakshmi-Girish is this possible to get more logs from the job? kubelet, apiserver and containerd/or the CRI used

[2021-11-10 14:31] dkulchinsky commented on #106274
The Destination pod (sfacctd) was recreated as part of a deployment update (new image tag)

I assume you refer to #106163 here?

mmm, not the original Pod but the Service Cluster IP, right?

this:
[code]

should be this:
[code]

where `172.18.7.183` is the sfacctd Pod IP (the destination).

Correct, the flow-proxy Pods are behind a LoadBalancer Service and receives traffic from external sources, t

[2021-11-10 15:24] leonardpahlke opened #106311 "[Failing test][sig-cluster-lifecycle] kubeadm-kinder-latest-on-1-22"
### Which jobs are failing?

kubeadm-kinder-latest-on-1-22

### Which tests are failing?

* E2EKubeadm suite.[sig-cluster-lifecycle] [area-kubeadm] proxy addon kube-proxy ServiceAccount should be bound to the system:node-proxier cluster role
* ci-kubernetes-e2e-kubeadm-kinder-latest-on-1-22.Overall
* task-06-e2e-kubeadm

### Since when has it been failing?

2021-11-09 23:31 CET

### Testgrid link

[2021-11-10 15:36] nictownsend opened #106312 "[kubectl] copy non existent source in container returns zero return code"
### What happened?

`kubectl cp <container>:file.tgz file.tgz` results in:

[code]
`rc=0`

### What did you expect to happen?

`rc>0`

### How can we reproduce it (as minimally and precisely as possible)?

`kubectl` copy non existent file from container to local

### Anything else we need to know?

_No response_

### Kubernetes version

Client Version: version.Info{Major:"1", Minor:"22", GitVersio

[2021-11-10 15:38] matthyx commented on #105820
neither do I...

[2021-11-10 15:40] valxv commented on #17512
@jackdpeterson answer adapted for Powershell :)

`kubectl describe nodes | Select-String -Pattern 'Allocated resources:' -Context 0,5`

[2021-11-10 15:41] liggitt commented on #106303
that seems pretty intentional... changing the definition of conformance to require multiple nodes probably deserves more feedback than an issue/PR

[2021-11-10 15:41] aojea commented on #106303
I'm not changing the definition, just asserting it https://github.com/kubernetes/kubernetes/pull/106313

[2021-11-10 15:46] aojea commented on #106303
if we are testing features like replicaset, daemonset, services, ..., in one node only we are missing a lot of testing on those features ... a podman/docker single node can be a kubernetes cluster ...  do I need a scheduler or network for anything, I'm just deploying always in the same node?

[2021-11-10 15:50] tkashem commented on #106094
sure, give it a try.

/assign @MadhavJivrajani

[2021-11-10 15:57] neolit123 commented on #106311
/assign

[2021-11-10 15:58] neolit123 commented on #106311
/triage accepted
will have a look and send a fix if it's kubeadm related.

[2021-11-10 16:05] jpbetz commented on #65973
We have some statements in the KEP about this:

But this won't be in the alpha for 1.23, and we need to revisit the design and look through the edge cases a lot more carefully before we commit to implementing.

cc @liggitt

[2021-11-10 16:23] nictownsend commented on #106312
/sig cli

[2021-11-10 16:45] collimarco commented on #28746
None of the above solutions work...

1. `kubectl logs` doesn't wait and returns an error (really frustrating!)
2. waiting on job pod with `Initialized` returns too early and you may get an error from subsequent `kubectl logs`: `Error from server (BadRequest): container "job-proc" in pod is waiting to start: ContainerCreating`
3. waiting on job pod with `ContainersReady` gets stuck forever if the j

[2021-11-10 17:19] #101249 closed

[2021-11-10 17:24] jsturtevant commented on #106278
See if you can reproduce it and identify why it is flaking. It has flaked a couple more times since the initial report.  Tagged you since you were the author, I'll be able to take a look next week if not.  If you need help reach out in slack.

[2021-11-10 17:33] joell commented on #104171
/remove-lifecycle stale

[2021-11-10 18:11] BenTheElder commented on #106303
No I don't think so. Where are your results and configuration?

You need two schedulable nodes to pass the conformance suite.

That's not correct, we test rolling pod behavior with replicasets. This test requires multiple nodes. There is at least one.

That job is not passing conformance, from the configuration:

(see: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-local-e2e/

[2021-11-10 18:12] #106303 closed

[2021-11-10 18:23] leonardpahlke opened #106318 "[Failing test][sig-cluster-lifecycle] kubeadm-kinder-latest"
### Which jobs are failing?

kubeadm-kinder-latest

### Which tests are failing?

* ci-kubernetes-e2e-kubeadm-kinder-latest.Overall
* E2EKubeadm suite.[sig-cluster-lifecycle] [area-kubeadm] proxy addon kube-proxy ServiceAccount should be bound to the system:node-proxier cluster role

### Since when has it been failing?

2021-11-09 23:32 CET

### Testgrid link

https://testgrid.k8s.io/sig-release-m

[2021-11-10 18:34] Rybue commented on #7890
@rapgru sorry for late reply, I was adding it to the pod that consumes `/dev/fuse`

[2021-11-10 18:34] BenTheElder commented on #106264
This test cluster appears to have a single node. It is not a valid candidate for conformance testing.

https://github.com/kubernetes/kubernetes/issues/106303#issuecomment-965608855

https://groups.google.com/g/kubernetes-sig-architecture/c/s-SCpQQDOEo/m/FUGmTFKKAQAJ

This is not conformance, conformance must have no skips. Please rename the job or remove the skip.

---

FYI you are uploading the k

[2021-11-10 19:04] Rajalakshmi-Girish commented on #106264
Those clusters usually tear down after the tests run. I am afraid I don't have those logs at the moment.
I would like to reiterate that this test has been passing all this while in spite of the cluster being a single node! Not sure what change is causing a failure now.

[2021-11-10 19:06] Rajalakshmi-Girish commented on #106264
@mkumatag^^ 🙂

[2021-11-10 19:13] BenTheElder commented on #106264
The metadata reported by the job is a bit wrong (it has version tags instead of commits) but thankfully the runs tend to have a commit within that data so I can tell you it is in https://github.com/kubernetes/kubernetes/compare/582c4ebe267020...731dc8cf741e2f according to the results (you can drag between results in testgrid and get this link normally, but the link generated by this job requires m

[2021-11-10 19:35] frvge commented on #104521
I'm on the same team as OP. The cherry-pick fixed it. Thank you all for the quick resolution on a very tight deadline.

[2021-11-10 20:15] osaffer commented on #104738
Finally did you solve it ?

I have exactly the same behaviour after adding two master nodes.

[2021-11-10 20:19] osaffer commented on #104738
cni plugin is flannel

 kubectl version --short                                                                                                                                               ✔  ⚡  1086  21:03:30
Client Version: v1.21.2
Server Version: v1.21.2

E1109 14:42:58.381838       1 leaderelection.go:325] error retrieving resource lock kube-system/kube-controller-manager: etcdserver: lea

[2021-11-10 20:31] drduker opened #106324 "Troubleshooting Kubernetes"
### What would you like to be added?

Question 1 | Contexts
Task weight: 1%

You have access to multiple clusters from your main terminal through kubectl contexts. Write all context names into /opt/course/1/contexts, one per line.

From the kubeconfig extract the certificate of user restricted@infra-prod and write it decoded to /opt/course/1/cert.

Answer:
Maybe the fastest way is just to run:

k

[2021-11-10 20:31] #106324 closed

[2021-11-10 20:32] neolit123 commented on #106318
fix PR is here, needs LGTM:
https://github.com/kubernetes/kubernetes/pull/106321

[2021-11-10 20:32] neolit123 commented on #106311
fix PR is here, needs LGTM:
https://github.com/kubernetes/kubernetes/pull/106321

[2021-11-10 20:41] jsturtevant opened #106326 "TestSyncLabels/no_labels"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

=== RUN   TestSyncLabels/no_labels
W1110 19:40:23.216695   56350 mutation_detector.go:53] Mutation detector is enabled, this will result in memory leakage.
E1110 19:40:23.217299   56350 runtime.go:78] Observed a panic: runtime.boundsError{x:1, y:1, signed:true, code:0x0} (runtime error: index out of range [1] with len

[2021-11-10 21:03] eddiezane commented on #105554
This should be fixed now that 1.22.3 shipped.

/close

[2021-11-10 21:03] #105554 closed

[2021-11-10 21:04] soltysh commented on #106176
@NikhilSharmaWe you'd need to implement `rest.CategoriesProvider` for https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/networking/networkpolicy/storage/storage.go and other places which you want to include in that category similarly to that PR of mine.

[2021-11-10 21:06] BenTheElder commented on #102549
I don't think there's agreement yet that this is a thing that should be in conformance, someone needs to go discuss this with the conformance working group.

[2021-11-10 21:08] Jefftree commented on #104324
afaik there is some work being done around this area to improve the behavior when the apiserver is initializing https://github.com/kubernetes/enhancements/pull/3029

[2021-11-10 21:16] nick-oconnor commented on #13136
/remove-lifecycle rotten

[2021-11-10 21:19] Flou21 commented on #104738
hey @osaffer

Don't remember if this is everything, but I think I only switched CNI.

Here is the CNI I use now: https://cilium.io/

[2021-11-10 21:45] benluddy opened #106328 "Flake in TestFlowControlSignal: flow control signal expected but not fired"
### Failure cluster [5a9fe2a5ee4846a0e5d7](https://go.k8s.io/triage#5a9fe2a5ee4846a0e5d7)

##### Error text:
[code]
#### Recent failures:
[11/9/2021, 8:12:42 PM ci-kubernetes-unit](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-unit/1458240709571121152)
[11/7/2021, 8:17:22 PM ci-kubernetes-unit-1-22](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-unit-1-22/145

[2021-11-10 21:45] benluddy commented on #106328
/assign

[2021-11-10 21:53] aojea commented on #102549
is this not implicitly tested by pods using incluster configuration?

[2021-11-10 22:01] neolit123 commented on #106326
/sig node

[2021-11-10 22:03] neolit123 commented on #106309
you can edit the original post. the SIG Apps group owns PDB.
feature template is here:
https://raw.githubusercontent.com/kubernetes/kubernetes/master/.github/ISSUE_TEMPLATE/enhancement.yaml

/sig apps
/remove-kind bug
/kind feature

[2021-11-10 22:05] neolit123 commented on #106304
unclear if a bug or support issue.

/kind support
/sig network

for triage.

[2021-11-10 22:06] neolit123 commented on #106284
/sig cli

[2021-11-10 22:07] collimarco commented on #63214
We need to run a complex pod definition (with configmaps, secrets, regcred, labels, etc.) and `overrides` seems really strange and error-prone (e.g. different base templates produced by different kubectl versions may produce errors and unexpected behaviors with the override).

Please add an `-f` option to pass the full pod spec (YAML) like `apply -f`... It would be much cleaner.

Basically run sho

[2021-11-10 22:56] #104246 closed

[2021-11-10 23:00] timthelion commented on #60140
Please re-open. As per my last comment, this PR does NOT fix the underlying problem. This is NOT caused by network errors, but rather some sort of underlying bug in k8s.

[2021-11-10 23:02] verult commented on #98667
Discussed offline. Today FSGroup latency and errors are already measured by existing storage operation metrics under the `volume_apply_access_control` operation name. The benefit of adding a label in metrics to identify the path would probably be marginal since

1. the latency between Always and OnRootMismatch is the same if OnRootMismatch takes action
2. We can't measure the CSI fsgroup latency o

[2021-11-10 23:02] verult commented on #98667
/close

[2021-11-10 23:02] #98667 closed

[2021-11-10 23:05] aojea commented on #106304
/close
you need to install an ingress controller in order to use ingresses
https://kubernetes.github.io/ingress-nginx/deploy/#bare-metal-clusters

The web has docs and troubleshooting guides, also I think that there are examples there

[2021-11-10 23:05] #106304 closed

[2021-11-10 23:19] aojea commented on #106326
it panics here
https://github.com/kubernetes/kubernetes/blob/3f0a634ef78b6df33075e54b0f89e465e88049c4/pkg/kubelet/kubelet_test.go#L2411

[2021-11-10 23:29] aojea commented on #106326
this was added here https://github.com/kubernetes/kubernetes/pull/104613/

/assign @ravisantoshgudimetla https://github.com/kubernetes/kubernetes/pull/104613/files#r747065458

[2021-11-10 23:37] bobbypage opened #106331 "kubelet kernelMemcgNotification are not supported on cgroupv2"
### What happened?

Start kubelet on a cgroupv2 image with `kernelMemcgNotification` kubelet config option or the flag `--kernel-memcg-notification=true` enabled. Kubelet will periodically log something like:

[code]

This is because the kernel memcg notifications relies on kubelet's `threshold_notifier` which uses evenfd on `cgroup.event_control` file which is cgroupv1 specific and not supported

[2021-11-10 23:38] liggitt commented on #106326
Fix in https://github.com/kubernetes/kubernetes/pull/106327

[2021-11-10 23:39] bobbypage commented on #106331
/sig node
/cc @Dragoncell @mrunalp @giuseppe

[2021-11-10 23:39] aojea commented on #106326
ravi is fast :)

[2021-11-10 23:51] collimarco commented on #63214
I also confirm that using `--overrides` causes the program to completely ignore the command after `--` ...

[2021-11-11 00:02] ehashman commented on #106318
Also failing on https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-kubelet-1-21-on-latest

Thanks @neolit123 !

[2021-11-11 00:44] mkumatag commented on #106264
Thanks for the feedback, will fix these comments...

[2021-11-11 00:56] tallaxes commented on #102549
@aojea Not by pods using client-go: incluster it [uses](https://github.com/kubernetes/client-go/blob/843baa6c33dd83e3b616d84973a00fe309999e77/rest/config.go#L517) `KUBERNETES_SERVICE_HOST `, which will have IP, not FQDN.

[2021-11-11 01:50] prasus commented on #105395
Is there an update on this? 🙁

[2021-11-11 01:54] msau42 commented on #103822
It's still failing. Although now I wonder if it's because of https://github.com/kubernetes/kubernetes/pull/102801. We'll need to backport the fix for https://github.com/kubernetes/kubernetes/issues/105965

[2021-11-11 01:54] msau42 commented on #103822
/remove-lifecycle stale

[2021-11-11 02:26] RyanAoh commented on #105395
@prasus  Uh, I've found the codes which lead to this issue.
But I'm a little busy recently, I 'll submit a PR asap.

[2021-11-11 02:44] sfeng1996 opened #106335 "repository does not exist or may require 'docker login'"
### What happened?

when i deploy a application, the kubelet report an error about "repository does not exist or may require 'docker login'"，but docker pull image  succeeded on host，"imageSecret" is not configured in deployment.yaml.

kubelet can pull image when i configure "imageSecret" in deployment.yaml.

### What did you expect to happen?

I think kubelet can pull the image as long as the dock

[2021-11-11 03:20] sfeng1996 commented on #106335
/sig/node

[2021-11-11 04:50] gjkim42 commented on #103110
After https://github.com/kubernetes/kubernetes/pull/104624,
we can configure kubelet to not refer to any resolver configuration
- by running kubelet with `--resolv-conf= --OTHER_OPTS` or
- by setting `resolvConf` of kubelet config file to ""

Maybe we need some doc updates for this.

[2021-11-11 05:10] SergeyKanzhelev commented on #104432
/cc @ruiwen-zhao

[2021-11-11 05:28] NilimaC04 commented on #100273
Thanks for the update @BenTheElder! Can we plan to do this in v1.24?

[2021-11-11 05:34] Nimmsy commented on #106080
Hi @serathius ,

Thanks for your suggestion... really helpful.

Could you also point me to the API for getting metrics of Pod such as data transmitted / received, errors transmitted/received?

[2021-11-11 05:55] ashokmariyala commented on #106247
cc @liggitt @josephburnett @krmayankk

[2021-11-11 06:03] kerthcet commented on #106335
/sig node

[2021-11-11 06:34] SergeyKanzhelev opened #106341 "[NodeFeature:EphemeralContainers] Ephemeral Containers e2e tests are Flaking"
### Which jobs are failing?

E2eNode Suite.[sig-node] Ephemeral Containers will start an ephemeral container in an existing pod

### Which tests are failing?

node-kubelet-orphans

### Since when has it been failing?

Unknown, possibly was never green

### Testgrid link

https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-orphans&include-filter-by-regex=%20Ephemeral%20Containers%20will%20start%2

[2021-11-11 06:35] SergeyKanzhelev commented on #106341
Also need to fish this test out of the orphans by adding the label `[NodeFeature:EphemeralContainer]`

[2021-11-11 06:35] SergeyKanzhelev commented on #106341
@verb can you please take a look?

[2021-11-11 06:39] matthyx commented on #60140
/reopen
@timthelion can you reproduce locally with `kind`?

[2021-11-11 06:53] ashokmariyala commented on #106247
cc @pacoxu

[2021-11-11 06:54] goto100 commented on #64529
It's useful when indicate the local-pv which node bound to

[2021-11-11 07:00] SergeyKanzhelev commented on #106335
can it be this: https://github.com/kubernetes/kubernetes/issues/69637?

does kubelet log give any clues?

[2021-11-11 07:01] SergeyKanzhelev commented on #106335
/triage needs-information

[2021-11-11 07:06] adisky commented on #104432
@SergeyKanzhelev there is PR already here https://github.com/kubernetes/kubernetes/pull/104535, just needs approval

[2021-11-11 07:20] pohly commented on #106086
This is done, thanks everyone.

 From current master:
[code]

[2021-11-11 07:20] pohly commented on #106086
/close

[2021-11-11 07:21] #106086 closed

[2021-11-11 07:28] SergeyKanzhelev commented on #104432
@adisky it was just FYI =) Reviewed the PR, thank you

[2021-11-11 08:11] SergeyKanzhelev commented on #102782
looks like test are failing here now: https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-eviction (outside serial)

[2021-11-11 08:22] fromanirh commented on #106270
/cc @klueska

[2021-11-11 08:28] timthelion commented on #60140
@matthyx first of all, thanks for the PR. Do you want me to try with the new code? What would be the point, the new code with the retry's probably works, but my point is, the retrys shouldn't be necesary.

[2021-11-11 08:28] saschagrunert commented on #104325
/remove-lifecycle stale

[2021-11-11 08:28] 9lion opened #106343 "Goldengate running on kubernetes fails due to swap space issue"
### What happened?

we are running oracle goldengate microservices in kubernetes 1.20 and it is failing with below error. Is there a WA. OKE latest version available is 1.20.11 only

                                        anon alloc: mmap(MAP_ANON)  anon free: munmap
                                        file alloc: mmap(MAP_SHARED)  file free: munmap
                                        tar

[2021-11-11 08:36] adisky commented on #104432
@SergeyKanzhelev Thanks for the review :)

[2021-11-11 08:54] BenTheElder commented on #100273
I don't know of anyone planning to work on this currently, so I don't think we can plan on any particular milestone.

[2021-11-11 08:59] sfeng1996 commented on #106335
this is kubelet log about " Pulling image "xxxxxxx" without credentials"

Does it mean that kubelet did not get  ~ /. Docker / config.json of the host, but the file exists in the host

[2021-11-11 09:03] SergeyKanzhelev commented on #106335
#69637 says that kubelet needs to be restarted after the `docker login` to take effect. Can you try it?

[2021-11-11 09:03] Crazybus commented on #106309
Thanks @neolit123! I have edited the title and original post to match the feature request template. The description of the template:

Made it sound like this was not the correct way to request a feature. But instead for tracking one that was already in development.

[2021-11-11 09:20] sfeng1996 commented on #106335
I tried. It doesn't seem to work

root@master-172-31-97-215:~# docker logout hub.xxxxx.com
Removing login credentials for hub.iflytek.com
root@master-172-31-97-215:~# docker login hub.iflytek.com
Username: fengsun5
Password:
WARNING! Your password will be stored unencrypted in /root/.docker/config.json.
Configure a credential helper to remove this warning. See
https://docs.docker.com/engine/refere

[2021-11-11 09:37] aojea commented on #102549
oh right, why don't you submit a PR with an e2e test?
It seems a good opportunity to contribute to the project and the test seems very simple, run from a pod
[code]
/help wanted
once it meets the stability criteria it can be promoted to conformance

[2021-11-11 09:44] zhlsunshine opened #106345 "kubelet por-forward bugs for IPv6 support when using Istio's command line tool in Kubernetes cluster"
### What happened?

This issue relates to the [issue](https://github.com/istio/istio/issues/35177) , I check the log of kubelet and get the error output as below:
[code]
Then I go on my investigation, and I find that [here](https://github.com/kubernetes/kubernetes/blob/d9f06f9e1807c804678fe201640ccc2a820d1efb/pkg/kubelet/dockershim/docker_streaming_others.go#L48) may be the right place which raise

[2021-11-11 09:59] aojea commented on #106345
This is not a kubelet issue, is a CRI issue, is the problem that you are using dockershim?

Both containerd and crio doesn't use socat, only dockershim, and dockershim was deprecated in Kubernetes, the code is still there but I think that will be removed soon IIRC

[2021-11-11 10:00] verb commented on #106341
yup, happy to
/assign

[2021-11-11 10:01] zhlsunshine commented on #106345
okay, thanks @aojea , I will try it and hope it can be removed quickly

[2021-11-11 10:02] aojea commented on #106345
just to clarify, is not a kubernetes problem, is an user choice to use dockershim, if you want to solve this problem just modify your cluster (kubelet) to use containterd or crio as CRI

[2021-11-11 10:04] zhlsunshine commented on #106345
okay, got it, I will change another container runtime. Thanks.

[2021-11-11 10:16] collimarco commented on #27264
This issue is a real pain...

I expected a command similar to `heroku run` for Kubernetes, while actually the `kubectl run` has a really bad design (e.g. it has `--overrides` instead of `-f`) and it is full of bugs (it is not a secondary issue the fact that you don't see the full output).

[2021-11-11 10:16] verb commented on #106341
@SergeyKanzhelev could you explain this more? This label should exist even though the feature is no longer alpha?

[2021-11-11 10:19] siegenthalerroger commented on #85966
Has anyone tested this under 1.22 yet? I currently am waiting on AKS (non preview) access and will try once I can.

[2021-11-11 10:30] aojea commented on #106345
/close

let me close it, you can always reopen if necessary

[2021-11-11 10:30] #106345 closed

[2021-11-11 10:31] endocrimes commented on #106204
/triage accepted

[2021-11-11 10:32] endocrimes commented on #106204
/label area/test

[2021-11-11 10:33] endocrimes commented on #106204
/area test

[2021-11-11 10:50] verb commented on #106341
Looks like the tests are still passing in the presubmits
* https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce-ubuntu-containerd&include-filter-by-regex=%20Ephemeral%20Containers%20will%20start%20an%20ephemeral%20container%20in%20an%20existing%20pod
* https://testgrid.k8s.io/google-gce#pull-kubernetes-e2e-gce-ubuntu-containerd&include-filter-by-regex=%20Ephemeral%20Conta

[2021-11-11 10:59] leonardpahlke opened #106347 "[Failing test][sig-network] capg-conformance-v1alpha4-k8s-master"
### Which jobs are failing?

capg-conformance-v1alpha4-k8s-master

### Which tests are failing?

* Kubernetes e2e suite.[sig-network] HostPort validates that there is no conflict between pods with same hostPort but different hostIP and protocol [LinuxOnly] [Conformance]periodic-cluster-* api-provider-gcp-make-conformance-v1alpha4-k8s-ci-artifacts.Overall

### Since when has it been failing?

2021-

[2021-11-11 11:09] leonardpahlke commented on #104657
this flaky test seems to be resolved /close

[2021-11-11 11:09] leonardpahlke commented on #104657
/close

[2021-11-11 11:10] #104657 closed

[2021-11-11 11:13] aojea commented on #106347
hmhm
this is the same failure as in https://github.com/kubernetes/kubernetes/issues/106264

[code]
have probes changed

[2021-11-11 11:19] leonardpahlke commented on #106264
/kind failing-test

[2021-11-11 11:22] aojea commented on #106347
this is not a kubernets problems, is a setup problem, maybe related to the CNI?

[code]

ping @caseydavenport since it seems it is using calico

[2021-11-11 11:38] gnufied commented on #103836
This should be fixed by https://github.com/kubernetes/kubernetes/pull/105512 . @silenceper can you check after fix merges?

[2021-11-11 11:44] MadhavJivrajani commented on #106343
/sig node
/triage needs-information
/cc @ehashman
Since you might have more context wrt swap space usage pre-1.22

[2021-11-11 11:45] MadhavJivrajani commented on #106343
/remove-kind bug
/kind support
/remove-triage needs-information

[2021-11-11 11:50] MadhavJivrajani commented on #106157
@sfxworks this seems worth brining up in a sig meeting.
More info here: https://github.com/kubernetes/community/tree/master/sig-node#meetings
/cc @fromanirh

[2021-11-11 12:10] verb commented on #106341
Moved to node features and now the error message is:

[code]

kubectl isn't available to the node tests? Hmm..

[2021-11-11 12:43] #105472 closed

[2021-11-11 13:24] mkumatag commented on #106347
cc @Rajalakshmi-Girish ^^^

[2021-11-11 13:43] gjkim42 commented on #106265
[code]

I think there are no errors in there.
I think we should only log them if there is an error.

/assign

[2021-11-11 14:13] #99042 closed

[2021-11-11 14:49] jlsong01 commented on #106312
/assign

[2021-11-11 15:12] matthyx commented on #60140
No, please try with the old code and make a reproducer using https://github.com/kubernetes-sigs/kind to allow better debugging.

[2021-11-11 15:36] jlsong01 commented on #106312
I signed it

[2021-11-11 16:07] SergeyKanzhelev commented on #106204
/cc @adisky @mmiranda96

[2021-11-11 16:13] #102807 closed

[2021-11-11 16:37] SergeyKanzhelev commented on #106139
Can you please point to the latest occurences. It looks like all green now.

@endocrimes commented that it may have been affected by DynamicKubeletConfig before

/close

[2021-11-11 16:38] #106139 closed

[2021-11-11 16:39] SergeyKanzhelev commented on #106248
/assign @adisky

[2021-11-11 16:40] SergeyKanzhelev commented on #106310
it's green now. If it will re-occur we will investigate

/close

[2021-11-11 16:41] #106310 closed

[2021-11-11 16:42] SergeyKanzhelev commented on #106204
/assign @adisky @mmiranda96

[2021-11-11 16:43] SergeyKanzhelev commented on #106326
/close

seems it was fixed

[2021-11-11 16:45] paprickar commented on #72155
/remove-lifecycle stale

[2021-11-11 16:47] SergeyKanzhelev commented on #105881
/triage accepted

[2021-11-11 16:50] SergeyKanzhelev commented on #106187
/remove-sig node

this looks like an orchestration issue. Kubelet just register the node as it was told

[2021-11-11 16:53] SergeyKanzhelev commented on #106151
/kind support
/remove-kind bug

[2021-11-11 16:55] SergeyKanzhelev commented on #106151
why kubelet is stopped? Is it stopped without the node controller removing the node?

[2021-11-11 16:58] ehashman commented on #106151
If the kubelet is stopped, it isn't possible for the volume to be unmounted, because the kubelet is responsible for unmounting the volume.

Deleting the volumeattachment or other objects in etcd only changes what the API server will report; if the kubelet on the node is down, it won't affect the state of the node.

Kubernetes does not use issues on this repo for support requests. If you have a que

[2021-11-11 16:58] SergeyKanzhelev commented on #106292
/triage accepted

[2021-11-11 16:59] #106151 closed

[2021-11-11 17:01] ehashman commented on #106343
Kubernetes does not use issues on this repo for support requests. Please reach out to Oracle support directly for assistance with Oracle Kubernetes products.

/close

[2021-11-11 17:03] #106343 closed

[2021-11-11 17:23] myshkin5 commented on #79149
@mattysweeps

Isn't this a bug then? It still appears to be broken today.

[2021-11-11 18:09] ahg-g opened #106361 "Scheduler will run into race conditions on large scale clusters"
### What happened?

The scheduler has a [30s timeout](https://github.com/kubernetes/kubernetes/blob/0fefe4e605ba05793e919598c09390769c127b3c/pkg/scheduler/scheduler.go#L231) for the bind operation to succeed; if we don't get a response within 30s, the in-memory assignment of pod to node in the [scheduler cache expires](https://github.com/kubernetes/kubernetes/blob/0fefe4e605ba05793e919598c09390769

[2021-11-11 18:09] ehashman commented on #104017
/assign @aojea
/cc @mmiranda96
/kind flake

see also https://github.com/kubernetes/kubernetes/pull/106359

[2021-11-11 18:13] #102567 closed

[2021-11-11 18:48] alculquicondor commented on #106361
IIRC, the 30s timeout only starts running after we receive a 200 response for the binding. But yes, if it takes longer than 30s to receive the update, we would invalidate the cache.

I don't know if there is particular reason to invalidate the cache at all. I suppose it was meant to guard against missing Pod deletion events. We need to improve that regardless.

I would be in favor of dropping the

[2021-11-11 18:52] enj commented on #81127
We (SIG Auth) have not communicated this out yet, but here is the [KEP tracking doc](https://docs.google.com/document/d/1sY8fRyRtk4eG9R439z5ao5i9bFuuxilS03XaNlqoni0).  It links to another doc which explicitly is looking into the KMS improvements.

[2021-11-11 19:20] ahg-g commented on #106361
ok, so the deadline is effectively for receiving the update.

Perhaps making it longer, like 15min, is good first step before completely removing it just so we can easily revert in case something else goes wrong.

[2021-11-11 20:00] #106318 closed

[2021-11-11 20:00] #106311 closed

[2021-11-11 20:14] Omniscience619 commented on #51835
I've been seeing such a behaviour on drains started by AWS Node Termination Handler on a 100% on-spot cluster. I'm not sure if the nodes get interrupted quicker than it can drain itself, or if it's something else. Luckily, the replacement pods do get started on healthier nodes, even though the dead ones are stuck in **Terminating**.

Manually deleting the dead nodes works.

[2021-11-11 21:08] fedebongio commented on #106302
/cc @MikeSpreitzer @tkashem
/triage accepted

[2021-11-11 21:10] fedebongio commented on #106328
/triage accepted

[2021-11-11 21:34] ehashman commented on #106341
/triage accepted

[2021-11-11 21:53] atiratree commented on #98180
I have looked at the failures again. Apart from the omitted 1.20 jobs, failed tests are still being observed in other jobs , but they seem to be affected by some by some other common issue that is disrupting multiple other tests as well (as mentioned in [insufficient timeout 2](https://github.com/kubernetes/kubernetes/issues/98180#issuecomment-856206667)). For example [here](https://prow.k8s.io/vi

[2021-11-11 22:37] collimarco opened #106364 "Improve kubectl wait output message"
### What would you like to be added?

Currently the output of `wait` is simply `condition met`...

It would be much more useful to have something meaningful like `job completed`, `pod ready`, etc. You can simply use the name of the condition (`for` argument).

### Why is this needed?

Currently when you have a long CI/CD pipeline it's difficult to understand what is going on when there are multipl

[2021-11-11 23:01] ehashman commented on #106265
/remove-kind support
/kind bug

[2021-11-11 23:01] ehashman commented on #106265
/retitle Kubelet logging PLEG: Write status error when no errors have occured

[2021-11-11 23:09] liggitt commented on #106160
/remove-sig auth
/sig apps

This is a general issue for controllers using generateName and writing events in response to a pod rejection or pod creation.

It looks like there is some deduplication of events by reason (see NewEventCorrelator -> EventAggregatorByReasonFunc), so eventually the events would start getting collapsed (after ~10 instances), but that is sort of spammy.

When a controller i

[2021-11-11 23:18] howardjohn opened #106365 "Ephemeral containers volume mount permissions differ from normal containers"
### What happened?

Working: a pod with multiple containers, mounting a projected volume mount. Note the different UID/GID

[code]

This works since 1.19+. On 1.18 and old we need `fsGroup: 1337` as well.

Not working: doing the same with ephemeral containers
[code]

Then attach ephemeral container:
[code]

When doing this, accessing the token from the ephemeral containers gives a permission denie

[2021-11-11 23:19] howardjohn commented on #106365
/sig storage

cc @verb

[2021-11-11 23:50] neolit123 commented on #106364
/sig cli

[2021-11-12 01:07] Rajalakshmi-Girish commented on #106264
This might be a regression:
Reference: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md#failing-test-3
https://github.com/kubernetes/kubernetes/issues/98648

[2021-11-12 02:17] #93580 closed

[2021-11-12 02:24] divyenpatel commented on #106187
Refer to the following steps performed on the multi-master setup.

We have 3 master nodes.

[code]

Deleted one of the master node.

[code]

Restarted kubelet on the master to initiate self-registration.

[code]

node added without following labels and taints, so it appears as a worker node.

Labels:

- node-role.kubernetes.io/control-plane=
- node-role.kubernetes.io/master=

Taints:

- node-role.

[2021-11-12 03:28] allenjol commented on #94825
I have got the same error log of kubelet
kubernetes version 1.22.2
containerd: 1.4.11
[code]
Is this problem have been resolve?

[2021-11-12 04:17] RyanAoh commented on #104195
Since both DNS subdomain and DNS  Label are not allowed to use  `_`,  I'm afraid this is not a good approach either.
@aojea @liggitt Do you have any ideas to solve this?  I'd be willing to make a new PR.

[2021-11-12 05:46] SergeyKanzhelev commented on #106341
/reopen

The test is flaking now, @verb can you please take a look?

[2021-11-12 06:50] harche commented on #104567
Looking at https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv2-node-e2e-conformance, it doesn't seem to consistently fail as it used to be.

/close

[2021-11-12 06:50] #104567 closed

[2021-11-12 06:53] harche opened #106367 "[sig-node] Summary API [NodeConformance] test flakes for systemd + crio node e2e jobs"
### Which jobs are flaking?

ci-crio-cgroupv2-node-e2e-conformance
ci-crio-cgroupv1-node-e2e-conformance

### Which tests are flaking?

[sig-node] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api

### Since when has it been flaking?

From about a month (or more)

### Testgrid link

https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv2-

[2021-11-12 07:06] faizanrafiq-fr commented on #70082
Any solutions for this etcd issue?

[2021-11-12 07:33] bluemiaomiao opened #106369 "release1.22 build failed!"
### What happened?

[code]

### What did you expect to happen?

Build success(from Apple M1 MacBook)

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

Golang version:

[code]

macOS Version:

[code]

XCode Version:

[code]

### Kubernetes version

release-1.22

### Cloud provider

<details>

</details>

### OS version

<details>

[c

[2021-11-12 07:36] bluemiaomiao commented on #106369
My Go Env Ouput:

[code]

[2021-11-12 07:41] shivanshu1333 commented on #106258
/triage-accepted
/assign

[2021-11-12 07:43] shivanshu1333 commented on #106258
/triage accepted

[2021-11-12 07:48] shivanshu1333 commented on #106262
/triage accepted
/assign @pohly
/priority important-soon
/area logging
/cc @kubernetes/wg-structured-logging-reviews

/cc @serathius

[2021-11-12 07:50] shivanshu1333 commented on #106276
/triage accepted

[2021-11-12 07:51] berlinsaint commented on #65797
very need for this feature for k8s job. backofflimit is not useful for our case

[2021-11-12 07:52] shivanshu1333 commented on #106258
Linking similar issue solving formatting specific to `pod/s` and `node/s` https://github.com/kubernetes/kubernetes/issues/106276
Solving this one will provide a solution for the mentioned issue also, in that case we may need to close it

[2021-11-12 08:06] spoonysnail commented on #97908
Is this a new feature? It's not worked on kubernetes 1.20.4

[2021-11-12 08:17] KyrieY commented on #76433
so,is there any solutions of problem？ @SunilManika @neolit123

[2021-11-12 08:50] kerthcet commented on #65797
could you please give a description about what's your scenario looks like?

[2021-11-12 09:16] mengmann opened #106374 "Add support for proxy-url for kubectl config"
### What happened?

Since [this PR](https://github.com/kubernetes/kubernetes/pull/81443) we can now set and use a `proxy-url` within the cluster settings from $KUBECONFIG.
Currently there is [no support to add this option](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-set-cluster-em-) with command `kubectl config set-cluster`. So currently the only way is to add this

[2021-11-12 09:23] aojea commented on #106264
it is not a regression https://github.com/kubernetes/kubernetes/issues/106264#issuecomment-964207939

[2021-11-12 09:43] aojea commented on #104017
I'm afraid that the tests will need some work :/
https://github.com/kubernetes/kubernetes/pull/106371

[2021-11-12 09:52] osaffer commented on #104738
I will try to deploy weaveNet, maybe it will solve this issue.

[2021-11-12 10:02] aojea opened #106377 "Node e2e tests panics trying to set KubeletConfig"
### Which jobs are flaking?

https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial&width=5

### Which tests are flaking?

Seen in this job failing on multiple tests, this is just one of the stack traces

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/106371/pull-kubernetes-node-kubelet-serial/1459076579521990656/

[code]

### Since when has it been flaking?

it seems that for a

[2021-11-12 10:02] Rajalakshmi-Girish commented on #106347
**Trace with calico v3.21**
[code]
**Trace with calico v3.20**
[code]

[2021-11-12 10:03] aojea commented on #106377
ping @pacoxu @ehashman

I don't have time for working on this unfortunately but happy to help on reviews, this can also be a good task for new contributors, also I don't consider a bad idea to rework the tests a bit to make them easier to read and simpler, I did that for sig-network and we have a pretty low flake rate since then

[2021-11-12 10:07] george-angel commented on #40610
/remove-lifecycle stale

[2021-11-12 10:08] aojea commented on #106347
great catch @Rajalakshmi-Girish , can you confirm this is the same as in https://github.com/kubernetes/kubernetes/issues/106264 ?

we should not track calico issues here, if that is the issue please close the issues on k/k and report them on calico project.

[2021-11-12 10:09] 1998729 opened #106378 "kubernetes v1.23.0-alpha.4 deployment fail"
### What happened?

Hi brothers, I currently use the latest beat version to deploy a kubernetes cluster, but there are some unexpected situations。

 - /usr/local/bin/kube-apiserver
        - --enable-admission-plugins=Priority,NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota,NodeRestriction,MutatingAdmissionWebhook,ValidatingAdmissionWebhook
        - --bind-address=

[2021-11-12 10:10] berlinsaint commented on #65797
OK.
I am using the argoworkflow to manage our tf-operator tensorflow jobs.

In all reduce sync training  , if there are 2 workers training, no ps server.  the worker may failed beacuse of some reason:
such as these two types:
1、 K8s network problems sometime, or the little chance  DNS problem , with this type, we want worker pod can be restarted by Controller, now I should set pod policy to Always

[2021-11-12 10:35] 2014BDuck commented on #106246
Hi. May I suggest that `pluginToNodeScores` could be accessed by different goroutine, however, `pluginToNodeScores[i]` could be accessed by `i-th` goroutine only.

Would you mind providing more details like the error/fatal output log or the custom plugins codes? So that someone familiar with the scheduler could help to check.

[2021-11-12 11:27] shivanshu1333 commented on #105841
Complete migration of scheduler depends on resolution of (([106258 ](https://github.com/kubernetes/kubernetes/issues/106258) or [106276](https://github.com/kubernetes/kubernetes/issues/106276)) and ([106262](https://github.com/kubernetes/kubernetes/issues/106262)))
We still need to migrate `pkg/scheduler/internal/cache/debugger/dumper.go` (2 lines (49 and 60)) and `cmd/kube-scheduler/app/options/c

[2021-11-12 12:00] 1998729 commented on #86715
I seem to have solved this problem, the memory and cpu limited by kubelet are too small

[2021-11-12 12:40] rafagsiqueira commented on #97908
@spoonysnail , I have tried that approach as well. It didn't work for me.

[2021-11-12 13:17] krishnakc1 commented on #78645
Hello, has anyone found what is causing it. I am seeing this error irregularly at our end.
Baremetal K8s - Version 1.14.3 - Installed using kubeadm Kubespray

1 upgradeaware.go:370] Error proxying data from client to backend: tls: use of closed connection
1 upgradeaware.go:370] Error proxying data from client to backend: write tcp 10...:por1:10..:por2 : write: connection reset by peer
upgradeaware

[2021-11-12 13:20] dnwe commented on #106110
@enj aha I tracked it down. I thought this was coming from the  client-go instance using an `ExplicitPath` loader that I mentioned in the original post, but it turned out this was from a different instance that was fetching and loading config over the wire via a `KubeconfigGetter` func:
[code]

It's this that is problematic because there's no original nor "default" filename for the client to use i

[2021-11-12 13:21] #100927 closed

[2021-11-12 13:52] simrangupta234 opened #106380 "[Failing Test] build-master"
### Which jobs are failing?

build-master

### Which tests are failing?

Job execution failed: Pod got deleted unexpectedly

### Since when has it been failing?

12/11/21 (16:27 IST)

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#build-master

### Reason for failure (if possible)

Job execution failed: Pod got deleted unexpectedly

### Anything else we need to know?

_No r

[2021-11-12 14:01] liudongbo123 commented on #66607
how is the progress ？

[2021-11-12 14:23] jiawei666 commented on #91402
![image](https://user-images.githubusercontent.com/24775116/141481900-6247346a-c95a-401b-b5d8-f80f381e1ad3.png)
is there my kubeadm version wrong?

[2021-11-12 15:21] #90485 closed

[2021-11-12 15:33] pohly commented on #106258
First draft implementation is available: https://github.com/kubernetes/klog/pull/269

[2021-11-12 15:50] RorisangSitoboli commented on #71647
Hi, all. Restart Docker to solve the error. On Windows use the GUI-it's easier. Right-click on the Docker 'badge' at the bottom right of screen. The one showing the whale-with-the-containers. Select 'Restart Docker'. Docker will restart and you can run 'kubectl cluster-info' to verify. All the kubectl ... command will now work on the command line/cmd/terminal.

If you want to activate/initialize K

[2021-11-12 16:22] Jefftree opened #106387 "Published swagger should not include sibling elements alongside a $ref"
### What happened?

Per [JSON Reference documentation](https://tools.ietf.org/id/draft-pbryan-zyp-json-ref-03.html#rfc.section.3),

In the first couple of lines in our [swagger.json](https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json), we publish a spec that contains a schema with $ref and also an additional description field which is disallowed.

Eg:

[code]

The $

[2021-11-12 16:31] ArshiAAkhavan commented on #98236
any update on this issue?

i do have the same problem. i cant retrieve logs from my completed/error pods

[2021-11-12 16:54] leonardpahlke commented on #106380
last two runs are green. Could be already resolved.

[2021-11-12 17:01] apelisse commented on #106387
/assign @Jefftree
/triage accepted

[2021-11-12 17:45] verb commented on #106341
Ah, I think I know what the problem is. Didn't get a chance to look at it today but will get to it soon.

[2021-11-12 18:50] simrangupta234 commented on #106380
thanks for informing, I'll wait for some more run then close it.

[2021-11-12 18:54] simrangupta234 commented on #106380
my bad, that is already resolved.

[2021-11-12 18:54] #106380 closed

[2021-11-12 19:27] apeschel commented on #14791
Please do it. Better to deal with regressions than random undefined behavior land mines.

[2021-11-12 19:42] mgoltzsche commented on #98236
FWIW I don't have this problem anymore on Kubernetes 1.20 and/or with kind. Though not sure what caused it in the first place.

[2021-11-12 19:46] RaananHadar commented on #74551
I did not have success with @anthcor 's workaround. Hope this gets fixed.

[2021-11-12 20:12] ehashman opened #106390 "Add an e2e test validating pod statuses on container state wipe"
I changed some behaviour to be more resilient to this failure mode in https://github.com/kubernetes/kubernetes/pull/102821 but we don't have an e2e to validate it.

We should write an e2e to verify that, when the container runtime statuses are wiped (e.g. with crio-wipe on a node running CRI-O), we preserve the following behaviours:

1. Any deleted pod will never go Running -> Pending.
2. A non-da

[2021-11-12 20:14] ehashman commented on #106377
/assign @cynepco3hahue
/cc @endocrimes

This probably came out of https://github.com/kubernetes/kubernetes/pull/106210

/triage accepted

[2021-11-12 20:16] ehashman commented on #106377
/priority important-soon
/milestone v1.23

[2021-11-12 20:18] ehashman commented on #106367
potentially related: https://github.com/kubernetes/kubernetes/issues/104292

[2021-11-12 20:18] ehashman commented on #106367
/triage accepted
flake confirmed, although I feel like this is a dupe... trying to find the previous bugs

[2021-11-12 20:20] ehashman commented on #106367
Previous flake issue: https://github.com/kubernetes/kubernetes/issues/100788

[2021-11-12 20:30] endocrimes commented on #106377
Ooops - I'm assuming it's going through one of the paths where Features or whatever isn't initialized.

[2021-11-12 20:36] #97722 closed

[2021-11-12 20:36] #104286 closed

[2021-11-12 21:14] bran-san commented on #68737
Note: I was using operator v1.5.0 while running below steps.

1. I increased the claims in the PVC (if you are not able to do so, you can add `allowVolumeExpansion: true` to your storage class)
2. Deleted the scyllacluster from the namespace hosting scylla nodes (all your pods will be gone) (kubectl -n <scylla> delete scyllacluster)
3. Used helm chart to install scylla cluster

Voila, the cluster

[2021-11-12 21:42] aojea commented on #104195
does this means that a statefulset with dots never worked?

because if that is correct, one possibility can be to not allow dots on statefulset name

I'm honestly can't see how this can be fixed in another way :shrug:

[2021-11-12 21:42] yuvaldolev commented on #105798
@mauriciopoppe The command I used to run the snapshottable tests is: `kubetest2 kind --test ginkgo -- --focus-regex "snapshottable"`

[2021-11-12 21:52] liggitt commented on #106286
/remove-sig api-machinery
/sig apps
for PDB

[2021-11-12 21:55] liggitt commented on #106249
The default value for the field in v1beta1 ("Unknown") is not permitted in new objects created via the v1 API

See https://kubernetes.io/docs/reference/using-api/deprecation-guide/#webhook-resources-v122 for details:

[2021-11-12 21:55] #106249 closed

[2021-11-12 21:55] liggitt commented on #106249
`kubectl-convert` does a mechanical transformation from the v1beta1 to the v1 versions, applying all v1beta1 defaults to preserve a semantically identical definition. In some cases, like this one, the GA API tightens the permitted values.

[2021-11-12 21:57] Jefftree commented on #106387
Summarizing the discussion with @apelisse and @sttts:

This "bug" is a feature we rely on in `kubectl explain` to get information about fields that are references. Removing it will greatly reduce the amount of data we can provide in a kubectl explain and is undesirable even if it is a violation of the schema. It is important because we have a lot of properties that require an additional descriptio

[2021-11-12 22:05] venugopalthati commented on #106117
I confirm this works in Kubernetes version 1.19.

What is the approach for the client certificate based authentication in 1.17 version ?

[2021-11-12 22:18] aojea commented on #106031
the test flaking is

[2021-11-12 22:23] xigifty commented on #85624
Still facing this issue, any help is much appreciated.

**securityContext:
privileged: true**
I had that above attribute, if its set to true, the blockMount is not visible..

sh-4.2# cd /mnt/
sh-4.2# ls
fileMount  nbcfg  nbdata  nblogs. **MISSING blockMount when its privileged on**
**securityContext:
privileged: false**
kubectl exec -it pod-gke-initial -n abcd1 /bin/sh
sh-4.2# cd /mnt/
sh-4.2# ls

[2021-11-12 22:49] theunrepentantgeek commented on #106286
@liggitt , are you sure?

As far as I've been able to work out, the 429 HTTP response is correct and the PDB error is a red herring.

The PDB error we observed doesn't even make sense, given the number of healthy pods (12) was _more_ than the needed (11):

(My experience is that I spent a bunch of time digging into possible causes of the PDB error before realizing that I'd been ignoring the HTTP r

[2021-11-12 22:54] liggitt commented on #106286
any message coming back with PDB language in it belongs to sig-apps

[2021-11-12 23:07] judexzhu opened #106393 "Missing metrics after switching to Cgroups v2 (need bump Cadvisor version)"
### What happened?

After upgrade Flatcar-Linux and switch to the cgroups v2, `kubectl top node ` shows <<unknow>>

<img width="1008" alt="image" src="https://user-images.githubusercontent.com/17834225/141581604-49120d09-06f1-4871-9ffc-552e7db05bff.png">

### What did you expect to happen?

`kubectl top node ` shows metrics correctly

### How can we reproduce it (as minimally and precisely as poss

[2021-11-12 23:08] judexzhu commented on #106393
https://github.com/kubernetes/kubernetes/pull/106282

[2021-11-12 23:12] judexzhu commented on #106393
#106282

[2021-11-13 00:08] #101951 closed

[2021-11-13 00:09] lorenz commented on #98473
/remove-lifecycle rotten

[2021-11-13 00:28] jsturtevant commented on #104285
fixed in #105744

[2021-11-13 00:28] #104285 closed

[2021-11-13 01:15] pachecopaulo commented on #19825
I'm seeing the same issue on k8s v1.21
[code]

I see that the probes failed and apparently that's why it got restarted, but only one replica out of 2 got restarted.

[2021-11-13 01:36] #105425 closed

[2021-11-13 01:36] #105426 closed

[2021-11-13 02:36] #106331 closed

[2021-11-13 07:05] judexzhu commented on #106393
/sig-node

[2021-11-13 08:43] andyxning opened #106396 "Pod Topology Spread Constraints does not exclude SchedulingDisabled nodes"
### What happened?

A k8s cluster has 5 nodes. One of the nodes is cordoned as SchedulingDisabled status.

When i want to create a statefulset with 5 replicas and pod topology spread constraints with
[code]

The fifth pod can not be scheduled with the scheduler error message:
[code]

### What did you expect to happen?

The SchedulingDisabled nodes should be excluded from counting the `minMatchNum`

[2021-11-13 08:52] andyxning commented on #106396
/sig scheduling

[2021-11-13 10:24] NikhilSharmaWe commented on #106364
@neolit123 I would like to add this enhancement. Could you please give me some direction about how can I proceed to solve this issue, like in which files the changes are needed and more.

[2021-11-13 12:55] Zheaoli commented on #106003
@deads2k Yes, makes sense. I'll update my PR

[2021-11-13 13:37] jschwinger233 commented on #106003
Shall we have a look at the whole panic logs? If it's caused by race condition, the whole goroutine stack record is helpful to determine where the concurrent access of critical section happened.

[2021-11-13 13:53] georgettica commented on #106249
Then how can we make the user experience better without compromising by adding an edge case for these stuff?

[2021-11-13 15:05] liggitt commented on #106249
Some of the changes to v1 have to be explicitly  decided/acknowledged by the user since they change the semantics of the object. I don't think we should work to silently/automatically change the meaning of beta objects so they can be created via v1.

[2021-11-13 15:07] georgettica commented on #106249
I guess I'll leave it at that though my opinion differs.

Thanks for taking the time and answering this!

[2021-11-13 17:31] #98992 closed

[2021-11-13 18:53] liggitt opened #106401 "Custom resource status validation doesn't do embedded resource and x-kubernetes-list-type validation"
`statusStrategy#ValidateUpdate` doesn't do the same embedded resource and x-kubernetes-list-type "map" and "set" invariant validation that happens in custom resource create/update validation.

Does that mean embedded objects and list-type fields under custom resource status can contain invalid data?

if so, that needs to be fixed in a way that tolerates existing invalid data (ratcheting validation

[2021-11-13 19:02] aojea opened #106402 "GCE Ingress tests failures"
### Which jobs are failing?

https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e
https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e-scale

### Which tests are failing?

Kubernetes e2e suite: [sig-network] Loadbalancing: L7 GCE [Slow] [Feature:NEG] [Flaky] should sync endpoints to NEG expand_more	3s
Kubernetes e2e suite: [sig-network] Loadbalancing: L7 GCE [Slow] [F

[2021-11-13 19:03] aojea commented on #106402
/cc @bowei @freehan @swetharepakula

[2021-11-13 19:32] #102835 closed

[2021-11-13 21:02] rcmorano commented on #56582
JFTR, the use case that brought me to this issue is I have a `Job` that I would like it would be able to delete/restart some pods, but obviously, I cannot know before hand the name the pod for the job will take so I cannot define the appropriate RBAC.

[2021-11-13 21:32] #102794 closed

[2021-11-13 22:32] #102893 closed

[2021-11-14 04:18] AlyssaBetty opened #106403 "start kubelet tell me Failed to restart kubelet.service: Unit docker.service not found."
### What happened?

kubernetes 1.21.6
containerd v1.5.7
CentOS 8.2
kernal：5.4.158-1.el8.elrepo.x86_64

I have only install containerd CRI,I dont't install docker，when I start kubelet after start containerd，It tells me I didn't start Docker。

[code]

my kubelet conf is
[code]

container status
[code]

### What did you expect to happen?

I wonder if this is a bug or my own fault

### How can we repr

[2021-11-14 05:02] MikeSpreitzer commented on #105804
I am struggling with the lack of information we are getting from the pull-kubernetes-kubemark-e2e-gce-scale job in both #106085 and #105768 .  The artifacts directory is missing all sorts of stuff, like apiserver logs and Prometheus metrics.

I am not familiar with the testing infrastructure here.  What is imposing the timeout that happens, and why are the logs not collected?

So I started digging

[2021-11-14 05:26] MikeSpreitzer commented on #105804
I am assuming that container image was built from https://github.com/kubernetes/test-infra/blob/master/images/kubekins-e2e/Dockerfile .  I am not familiar with bazel, so the details of what's going on in there are not immediately clear.  But I can pull that image and look around.  `/usr/bin/env python` gets me python 2.7.16!

I assume that the `runner.sh` here is https://github.com/kubernetes/test

[2021-11-14 05:37] SergeyKanzhelev opened #106405 "Use "Deprecated:" instead of "Deprecated." in types.go (once generated files are excluded from static check)"
See https://github.com/kubernetes/kubernetes/pull/106285#discussion_r746885942

Deprecated with semicolon marks the field as deprecated. Other forms are just comments. If replaced today - static check will complain like this below. So once generated files are excluded from the static check, need to replace dot (`Deprecated.`) after "Deprecated" to colon (`Deprecated:`).

/kind cleanup
/sig api-mac

[2021-11-14 05:41] MikeSpreitzer commented on #105804
I am assuming the next layer down is https://github.com/kubernetes/test-infra/tree/master/kubetest .  There is a panic near the end of build-log.txt with a stack trace that looks consistent-ish with the latest version, https://github.com/kubernetes/test-infra/blob/c643adb8fd830bf65bc5f06ec0c140823df15799/kubetest/e2e.go .  The statements in that version at lines 249 and 767 look consistent with bu