[2019-08-29 05:05] mJace commented on #82112
/sig api-machinery

[2019-08-29 05:10] sfxworks commented on #70044
![image](https://user-images.githubusercontent.com/5921035/63911848-c4f5e600-c9f9-11e9-8042-56ece2f2ebb4.png)
I am receiving these errors on v1.15.3 with a fresh kubeadm install /w --cloud-provider=openstack.

[2019-08-29 05:19] nskoufis commented on #49343
Still an issue on kubectl 1.13.8

[2019-08-29 05:22] thockin commented on #81810
[code]

[2019-08-29 05:22] #81810 closed

[2019-08-29 05:31] #70165 closed

[2019-08-29 05:34] abhiTamrakar commented on #82015
@RainbowMango apparently, it looks like the whole configuration parameters in KubeletConfiguration is ignored, while using with latest apiVersion: kubeadm.k8s.io/v1beta2.

I might be doing something wrong here or missing something, but the documentation is for sure a lot out of date.
Also If I use block similar to below, I see a lot of deprecation warnings which are not anywhere mentioned in the d

[2019-08-29 05:55] mkumatag commented on #70165
This is been pushed via - https://github.com/kubernetes/kubernetes/pull/81662

[2019-08-29 06:05] wyardley commented on #34146
/remove-lifecycle rotten

[2019-08-29 06:26] omerlin commented on #13382
set no_proxy cause this issue for me

[2019-08-29 06:29] feiskyer commented on #80365
Cherry picks have already merged at https://github.com/kubernetes/kubernetes/pull/81765 and https://github.com/kubernetes/kubernetes/pull/81763.

[2019-08-29 06:54] lbiemans commented on #75414
My 2ct, in my case iptables was in the way.. Flushed it and coredns started.

[2019-08-29 06:55] litao941 commented on #45509
did you have any solution for this?

[2019-08-29 07:13] ocean commented on #43916
It seems that the kernel bug which causes this error is *finally* fixed now, and will be released in `kernel-3.10.0-957.27.4.el7`, which is due in RHEL 7.8, but goodness knows when that will be, as RHEL 7.7 only came out on August 6th, ~3 weeks ago.

https://bugzilla.redhat.com/show_bug.cgi?id=1507149#c101

[2019-08-29 07:14] ocean commented on #61937
It seems that the kernel bug which causes this error is *finally* fixed now, and will be released in `kernel-3.10.0-957.27.4.el7`, which is due in RHEL 7.8, but goodness knows when that will be, as RHEL 7.7 only came out on August 6th, ~3 weeks ago.

https://bugzilla.redhat.com/show_bug.cgi?id=1507149#c101

[2019-08-29 07:32] nevola commented on #62720
For example, how do you ensure that the kernel you're talking to is using a certain NFTA attribute? How do you ensure that your raw netlink chunk will be valid for all cases?

You can always use the official git to not rely on packaging. Note that you'll be always relying on the nft design before your integration, so nft will be always ahead of your library.

In regards to the nft design, we've be

[2019-08-29 08:25] balaji-panneerselvam commented on #79046
Hi, We are facing this issue, with kubernetes v1.15.0, is this fixed?

[2019-08-29 08:30] rlees85 commented on #73086
This is actually a really good idea (or at least something along these lines) and should not have been closed in my opinion. Putting a line in the security group for do not fragment for each IP address allowed seemed excessive (0.0.0.0/0 was fine it seemed it got merged just because some people did not like the LOOK of 0.0.0.0/0 being in a SG).

Now the limit has been halved....

[2019-08-29 08:34] #75448 closed

[2019-08-29 08:38] SataQiu opened #82117 "Enable scopelint in k/k"
**What happened**:
We have a lot of code like this:
[code]
`scopelint` will report the following error:
[code]
This is because we used the variable loop of range in the anonymous function.
The right way to do it is to redeclare the range variable, like:
[code]

In some cases, this may cause potential concurrency problems.
We should introduce `scopelint` to avoid potential problems.
If it makes sen

[2019-08-29 08:45] skitt commented on #71305
Your main point stands, but the Debian (and Ubuntu, and ...) packages aren’t fine-grained: `iptables` contains all the `(arp|ep|ip|ip6|x)table` tools, and the kernel package contains all the modules. There are package splits in the `iptables` source, but they split out library packages, not tool packages, and the `iptables` package depends on them all anyway.

[2019-08-29 08:47] SongYintao commented on #53089
[CNI-Genie](https://github.com/cni-genie/CNI-Genie) will address your problem

[2019-08-29 08:58] humblec commented on #69699
@msau42 @jingxu97 this is indeed an issue hitting at our end too while using Ceph as the volume in a pod. There is a significant delay (from the app perspective) in between an attach and mount request completion by the ceph-csi nodeplugin driver and the kubelet realizing that the operation is complete.

The delay between the events seems to be about 2 minutes, causing the workload to report pod st

[2019-08-29 09:21] jqueguiner commented on #52757
https://github.com/Deepomatic/shared-gpu-nvidia-k8s-device-plugin

[2019-08-29 09:24] kewenwang-ai opened #82118 "Add custom resource scheduling"
**What would you like to be added**:
Add custom resource scheduling, details as follows:
1. Besides the current scheduling of pod, Kube-Scheduler should support for scheduling CRD resources, which also as a scheduling unit.
2. Kube-Scheduler call the user-defined CRD 'split' policy via hooks. The 'split' policy is used to split the CRD into pods.
3. The pods split from one CRD object should be sch

[2019-08-29 09:51] KevinTHU commented on #53089
@SongYintao thank you for your reply, I have find a way to do it with multus-cni, and write a instruction on [ZhiHu](https://zhuanlan.zhihu.com/p/73863683). CNI-Genie is also good, but not that user friendly, so I don't choose it finally.

[2019-08-29 09:55] #81103 closed

[2019-08-29 10:09] weibeld commented on #75749
@adammw Do you know where in the code the pods/binding API is implemented?

[2019-08-29 10:57] ashu210890 opened #82122 "Pod stuck in ContainerCreating on a newlyt created node"
**What happened**:
We run cronjobs in our kuberntes cluster on GKE. We often see pods getting stuck in ContainerCreating state for serveral hours (even days on some occasions). The only way to recover from this state is to delete the pod so that the Kubernetes master starts another copy.

**What you expected to happen**:
The pod should have entered running state within a few seconds (minutes at mo

[2019-08-29 11:20] dims commented on #79046
@balaji-panneerselvam - see the version information of when the commit landed in the commit itself:
https://github.com/kubernetes/kubernetes/pull/79073/commits/08c258add9b9b0be4597415f0add3d8fb627ec4b

[2019-08-29 11:31] prbarik opened #82124 "Kubernetes is failing to start after bridging multiple network interfaces to host machine"
I have create a bridge using below method in Ubuntu18.04.

$ sudo vim /etc/network/interfaces
# The primary network interface
#auto eno1
#iface eno1 inet dhcp

auto br0
iface br0 inet dhcp
bridge_ports eno1 <-- Replace eno1 with the name of your Ethernet adapter(lighting network)
bridge_stp off
bridge_fd 0
bridge_maxwait 0
-------------------------------
$ sudo vim /etc/sysctl.conf
net.bridge.brid

[2019-08-29 11:36] tedyu commented on #82118
For example 3, would priority-based scheduling help solve the problem ?
The job for one Pod (Worker) with 8 GPUs would need to have higher priority.

[2019-08-29 11:53] zhangchengming commented on #82118
Priority-based schduling just sovle part of problems. If some small-grained pods of same or higher priority insert in scheduling, this pod will not get the chance to be scheduled.

[2019-08-29 12:11] liggitt commented on #75749
https://github.com/kubernetes/kubernetes/blob/acf5411774ebd1b1376d389763781afc5c4cda8b/pkg/registry/core/rest/storage_core.go#L279

https://github.com/kubernetes/kubernetes/blob/acf5411774ebd1b1376d389763781afc5c4cda8b/pkg/registry/core/pod/storage/storage.go#L140-L182

[2019-08-29 12:12] #82124 closed

[2019-08-29 12:54] danwinship opened #82125 "fix KUBE-MARK-MASQ ownership (kubelet vs kube-proxy)"
The `KUBE-MARK-MASQ` and `KUBE-POSTROUTING` chains are currently created by both kubelet and kube-proxy. There have long been comments in the code suggesting that they should be managed only by kubelet, and we should do that.

History:
  - Marking packets to be masqueraded later first appeared in kube-proxy in #12764.
  - #20496 introduced the modern `KUBE-MARK-MASQ` / `KUBE-POSTROUTING` (set up f

[2019-08-29 13:09] neolit123 commented on #81810
thanks @thockin !

[2019-08-29 13:25] tanya-borisova commented on #62334
We have run into this issue as well, we had a was leaking open connections which lead to a whole node being unusable and introduced a noisy neighbor problem.

[2019-08-29 13:26] aescanero commented on #80462
Same problem with Oracle Linux 8
Installed with kubeadm and --proxy-mode="" (iptables) I found KUBE-MARK-DROP isn't created in kube-proxy container (tested with weave and flannel).
When execute:
kubectl -n kube-system exec -i kube-proxy-XXXX -- /bin/sh -c "iptables -t nat -N KUBE-MARK-DROP;iptables -t nat -A KUBE-MARK-DROP -j MARK --set-xmark 0x8000/0x8000"
Kube-proxy back to normal state.

[2019-08-29 13:36] distortedsignal commented on #81188
What evidence would you like to see, @liggitt ? I gave both a successful request and a failing request, and showed that logs are not enough to distinguish this problem.

[2019-08-29 13:41] liggitt commented on #81188
logging the *absence* of a header that an authenticating proxy should set would pollute the logs for all requests not made via the proxy (the check for the header gates all subsequent auth proxy logic)

[2019-08-29 13:41] tweks commented on #81491
Hey. We took a look with @jbartosik today. The job is not selecting any tests, because it is extracting tests from 1.15 [1] and 1.15 still uses [HPA] tag: [2].

The solution will be to change HPA test config to `--extract=ci/latest` instead `ci/k8s-stable1`: [3], exactly the same as other tests are configured. I'll do that in a moment.

No changes are planned in release-1.16 branch (it's only a ch

[2019-08-29 13:41] aojea commented on #82125
@danwinship this seems related #82116

[2019-08-29 13:52] danwinship commented on #82125
Hah. Jinx!

[2019-08-29 14:21] mengqiuyuwl opened #82126 "k8s Pod running but describe pod can see :Liveness probe errored: rpc error: code=Unknow desc = Error: no such container xxxxxxx , docker ps -a has no such container"
**What happened**:
After reboot my linux vm,rabbit cluster not healty

kubectl get pod|grep rabbit,see:
rabbitmq-2-0 1/1 Running 0 9d 172.34.230.185 192.168.56.88

but kubectl describe pod rabbitmq-2-0,see:
Normal Pulled kubelet, 192.168.56.88 Container image "h3crd-wlan1.chinacloudapp.cn:5000/rabbitmq:v5" already present on machine
Normal Created kubelet, 192.168.56.88 Created container
Normal St

[2019-08-29 14:40] #75924 closed

[2019-08-29 15:02] liggitt opened #82130 ""Precondition failed: UID in precondition" flakes"
**Which jobs are failing**:

pull-kubernetes-integration

**Which test(s) are failing**:

https://k8s-testgrid.appspot.com/google-unit#integration-master&include-filter-by-regex=apiextensions-apiserver%2Ftest%2Fintegration&width=5&sort-by-flakiness=

`./vendor/k8s.io/apiextensions-apiserver/test/integration/subresources_test.go -run TestValidateOnlyStatus`

`./vendor/k8s.io/apiextensions-apiserver

[2019-08-29 15:02] liggitt commented on #82130
adding to the milestone until root-caused

[2019-08-29 15:11] dharam1 opened #82131 "Error while submitting spark jobs on k8s V1.14.6"
In previous version of K8s i.e. 1.12.x spark jobs were running properly, but when i update the version to 1.14.6 and running spark jobs on updated version faced the following error:

Error : 566984292910-driver-svc.default.svc:7078/jars/spark-examples_2.11-2.4.0.jar with timestamp 1566984300797
2019-08-28 09:25:02 INFO  ExecutorPodsAllocator:54 - Going to request 2 executors from Kubernetes.
2019-

[2019-08-29 15:20] bclau opened #82132 "windows: RunAsUsername character limit too low"
**What happened**:

Currently, the character limit for the usernames set in the ``RunAsUserName`` field is 20, which is too low, considering that "ContainerAdministrator" is a valid username and it is longer than 20 characters. A user should be able to run containers as Administrator, if needed.

**What you expected to happen**:

Users should be able to spawn pods which run as ``ContainerAdministr

[2019-08-29 15:27] yastij commented on #72413
/remove-lifecycle stale

@tallclair - once the e2e PR lands we can close this

[2019-08-29 15:34] cmluciano commented on #81642
/remove-sig network
/sig aws

[2019-08-29 15:35] cmluciano commented on #81421
/sig cloud-provider

[2019-08-29 15:36] cmluciano commented on #81642
sorry wrong issue

/sig network

[2019-08-29 15:37] cmluciano commented on #81421
/remove-sig network

[2019-08-29 15:44] mmeliani opened #82134 "All nodes are on NOTReady State with "node xxx not found" error in kubelet logs"
/kind bug
the cluster worked fine and suddenly Node status changed to NotReady status,

kubelet logs

[code]
node list :
 kubectl get nodes
NAME              STATUS     ROLES    AGE   VERSION
contol1 NotReady   <none>   9d    v1.12.3
cotrl2 NotReady   <none>   9d    v1.12.3
Edge1 NotReady   <none>   9d    v1.12.3
Edge2NotReady   <none>   9d    v1.12.3
worker1 NotReady   <none>   9d    v1.12.3
work

[2019-08-29 16:09] liggitt commented on #82132
/milestone v1.16

[2019-08-29 16:31] igcherkaev commented on #72102
The issue is still there with Kubernetes 1.14.6 and etcd 3.3.15. Any changes to kubernetes libs or code needed to tackle this issue?

[2019-08-29 16:42] #75966 closed

[2019-08-29 17:18] Cherishty commented on #78338
meet the same issue, any hints?

[2019-08-29 17:24] msau42 commented on #72139
Also one more question to figure out: What happens when a new in-tree PV is dynamically provisioned? Does use in-tree topology labels/NodeAffinity, or the csi ones?

[2019-08-29 17:29] deads2k opened #82137 "chain contexts together instead of replacing them"
found in https://github.com/kubernetes/kubernetes/pull/82092#discussion_r319049257

/assign

[2019-08-29 17:42] neolit123 commented on #82015
the name of the service that coredns uses is called `kube-dns` for legacy reasons.

[2019-08-29 17:54] alculquicondor opened #82138 "Types in versioned scheduler api are not sized"
/sig scheduling
/sig api-machinery

#53850 changed a some types to sized integers in https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/api/types.go but not in https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/api/v1/types.go

This leaves to problems when encoding and decoding between types. For example, this is blocking #81911

We should migrate all types to sized

[2019-08-29 17:54] alculquicondor commented on #82138
cc @ahg-g @bsalamat @ahmad-diaa

[2019-08-29 17:57] oomichi commented on #81427
Solving `test/e2e/framework/node/*.go (@oomichi Need to solve circular dependencies)`

- networking_utils.go: e2enode.FirstAddress, e2enode.GetExternalIP, e2enode.WaitConditionToBe
- nodes_util.go: e2enode.TotalRegistered, e2enode.CheckReady
- util.go: e2enode.IsConditionSetAsExpected, e2enode.IsConditionUnset, e2enode.IsConditionSetAsExpectedSilent, e2enode.Filter,

[2019-08-29 18:18] cadedaniel commented on #81628
@liggitt this is something I was not aware of, and would solve the problem equally well as my option 2. Thank, sorry for making a feature request for something that could have been answered by a stack overflow question :)

[2019-08-29 18:18] #81628 closed

[2019-08-29 18:23] ahmad-diaa commented on #82138
I can work on this as I have been involved with the blocked PR
/assign

[2019-08-29 18:34] jhoblitt commented on #49926
I believe I'm seeing the same issue on aws w/ eks 1.3.8 (1.3 "eks.2")

[code]

[2019-08-29 18:50] abhiTamrakar commented on #82015
@neolit123  thanks I saw that in the code, my concern is something which is said to be available in documentation and not working properly. I am continuing anyways to debug on my side but I also want to have this in light to this community.

[2019-08-29 18:58] deads2k opened #82141 "delegated authn does not automatically reload when ca bundles change"
The delegated authn in the generic apiserver doesn't automatically reload when the default ca bundle changes.  We should update to make this happen transparently.  There is a prototype of how to do this in openshift that we can upstream.

@kubernetes/sig-api-machinery-bugs
@kubernetes/sig-auth-bugs
/priority important-soon
/assign

For aggregated apiservers, we created delegated authentication opt

[2019-08-29 18:59] neolit123 commented on #82015
note that prior to 1.16 kubeadm will overwrite KubeletConfigurfation.ClusterDNS without notifying.
see the logic here:
https://github.com/kubernetes/kubernetes/blob/release-1.15/cmd/kubeadm/app/componentconfigs/defaults.go#L77-L84

in 1.16 we are going to allow these custom values but warn the users.
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/componentconfigs/defaults.go#

[2019-08-29 19:01] neolit123 commented on #82015
/area kubeadm
/sig cluster-lifecycle

[2019-08-29 19:01] tallclair commented on #82089
I'm curious why you're using a regex to parse the URL rather than using the objectRef? Is there information in the URL that is missing from the objectRef, or is it actually faster to avoid parsing the json?

[2019-08-29 19:22] jordansissel commented on #43916
Indeed! Based on the behavior I am seeing:

* These allocations (dentry, etc) are freeded as needed
* Unfortunately, the kubelet considers these allocations as "memory" when considering what pods need Eviction.

The accounting may be correct, I don't know. It's the kubelet's interpretation of these numbers that I believe is causing me problems (pod evictions due to perceived memory pressure)

[2019-08-29 19:38] shivi28 commented on #81657
Hi all, I am picking up
`pkg/controller/nodeipam/ipam/cidrset`

[2019-08-29 19:53] scottilee commented on #80715
@dims will you be working on removing the dependency on Docker per the comments in https://github.com/kubernetes/release/pull/861?

[2019-08-29 19:56] dims commented on #72102
@igcherkaev - see https://github.com/kubernetes/kubernetes/issues/72102#issuecomment-515979520

[2019-08-29 20:01] dims commented on #80715
@scottilee not me, please ping @justaugustus about it.

[2019-08-29 20:02] justaugustus commented on #80715
Recently merged:
- https://github.com/kubernetes/test-infra/pull/14068
- https://github.com/kubernetes/release/pull/863
- https://github.com/kubernetes/release/pull/864
- https://github.com/kubernetes/test-infra/pull/14103

[2019-08-29 20:04] davidz627 commented on #72139
I believe it will use the CSI ones, @ddebroy to confirm.
Is that ok?

[2019-08-29 20:05] neolit123 commented on #81598
/sig cluster-lifecycle cloud-provider

[2019-08-29 20:06] neolit123 commented on #81760
/sig architecture

[2019-08-29 20:06] neolit123 commented on #81890
/sig cluster-lifecycler
/kind failing-test

[2019-08-29 20:07] neolit123 commented on #81890
/sig cluster-lifecycle

[2019-08-29 20:07] neolit123 commented on #81890
/sig scalability testing
/remove-sig cluster-lifecycle

[2019-08-29 20:08] neolit123 commented on #81905
/sig instrumentation

[2019-08-29 20:09] msau42 commented on #72139
Yes, if it uses CSI labels in PV.NodeAffinity, then there will be nothing that needs translation (although we should also test and make sure translation works if the labels/keys are already translated)

[2019-08-29 20:09] neolit123 commented on #81920
/sig testing release

[2019-08-29 20:09] neolit123 commented on #81920
/sig testing release

[2019-08-29 20:12] yujuhong commented on #82122
This has been fixed by https://github.com/kubernetes/kubernetes/pull/79451
Please upgrade to GKE 1.13.7-gke.15+. Thanks.

[2019-08-29 20:13] neolit123 commented on #82068
/remove-kind bug
/triage support

8G should be enough for a quick release build...unless it now needs more.
i have seen these numbers grow constantly over time.

[2019-08-29 20:13] neolit123 commented on #82068
/remove-kind kind/failing-test

[2019-08-29 20:14] yujuhong commented on #82122
@ashu210890 I am going to close the issue for now. Feel free to reopen the issue if the problem remains after the upgrade.

[2019-08-29 20:14] #82122 closed

[2019-08-29 20:14] neolit123 commented on #82068
/sig testing release

[2019-08-29 20:14] neolit123 commented on #82065
/sig network

[2019-08-29 20:15] neolit123 commented on #82137
/sig api-machinery

[2019-08-29 20:16] neolit123 commented on #82131
have you tried contacting the spark developers about this?

[2019-08-29 20:17] neolit123 commented on #82126
/sig node

hi, 1.11 is outside of the supported versions for k8s.
please try with at least k8s 1.13+ and re-open if the problem persists.

/close

[2019-08-29 20:17] #82126 closed

[2019-08-29 20:23] yliaog commented on #75791
/cc

[2019-08-29 20:24] roycaihw commented on #81906
/sig auth

/sig cli
for cli error message

/sig cloud-provider
for AWS WG

the client-server version skew is huge and not supported, could you try using a 1.11 client to see if it helps?

[2019-08-29 20:25] roycaihw commented on #82042
/assign @lavalamp

[2019-08-29 20:26] roycaihw commented on #82052
/cc

[2019-08-29 20:27] camilosantana commented on #45131
this has been added!
ref: [kubectl-commands#-em-rename-context](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-rename-context-em-
)

`kubectl config rename-context old-name new-name`

[2019-08-29 20:27] roycaihw commented on #82052
/cc @lavalamp @cheftako

[2019-08-29 20:28] roycaihw commented on #82084
/cc @yliaog

[2019-08-29 20:28] lavalamp commented on #82042
oh wait. I thought (during the bug scrub) this was a PR to fix the problem and got excited

[2019-08-29 20:29] roycaihw commented on #82112
/remove-sig api-machinery
/sig node
/sig instrumentation

[2019-08-29 20:30] roycaihw commented on #82130
/cc

[2019-08-29 20:51] bbourbie opened #82147 "docker-credential-desktop doesn't pad the auth field"
**What happened**:

docker now provides a new favorite way to store the credentials with the variable credsStore in the file ~/.docker/config

it it is set to desktop, which will be using the executable docker-credential-desktop whose source code is https://github.com/docker/docker-credential-helpers

docker-credential-desktop doesn't pad the auth field.

So, if we use the command

[code]
k8s cred

[2019-08-29 21:02] Nowaker commented on #65142
@sppavilion What was the underlying physical CPU?

[2019-08-29 21:11] bbourbie commented on #82147
This belongs to /sig Apps I think

[2019-08-29 21:27] xmudrii commented on #65442
/remove-lifecycle rotten

[2019-08-29 21:39] bbourbie commented on #82147
/sig Apps

[2019-08-29 21:52] coffeepac commented on #15478
I'm fairly certain that supporting docker specific configuration options from inside k8s is not a good idea.  As previously mentioned a fluentd daemonset or fluenbit side car are current options.  I prefer the sidecar as it's far more secure.

[2019-08-29 22:18] misterikkit opened #82149 "PodDisruptionBudget can be violated by disruption controller"
**What happened**:
Evictions occasionally succeed despite exceeding their PodDisruptionBudget.

**What you expected to happen**:
Evictions should fail once the PodDisruptionBudget is exhausted.

**How to reproduce it (as minimally and precisely as possible)**:

1. On a single-node cluster, create a delpoyment with 3 replicas.
2. Create a PodDisruptionBudget for the deployment with `minAvailable=1`

[2019-08-29 22:19] misterikkit commented on #82149
/sig apimachinery

[2019-08-29 22:21] lavalamp commented on #82052
I think the primary argument for something like this is the desire to have webhooks that the end user cannot mutate. I am not sure that static config file is the best way to offer that-- maybe we can come up with some auth/policy mechanism instead.

You should be able to make a URL that goes to localhost? https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#url

[2019-08-29 22:29] jmillikin-stripe commented on #82052
From a strictly authz perspective, the existing `SubjectAccessReview` webhook is enough to prevent modification of the `ValidatingWebhookConfiguration ` resources. It still depends on etcd state, though, which is undesirable for core components of the control plane. Our general goal is that it should be possible to bootstrap a cluster up to the "schedule hello-world pod" stage without having to ma

[2019-08-29 22:38] mml commented on #82149
I think this one is pretty important because the PDB mechanism is most likely to fail in a specific situation it was designed to protect against: automation gone wild.  If something tries to super-rapidly evict every pod in the cluster or has a super-tight retry loop, we are *more* likely to let these evictions go through due to this bug.

[2019-08-29 22:40] mml commented on #82149
/sig apps

[2019-08-29 22:45] lavalamp commented on #82052
Yes, but you have to write something custom for that. It's hard to do this with e.g. RBAC while still permitting users to run their own webhooks.

Why is that undesirable?

apiserver does internal self-requests on startup, so what you say is not possible if interpreted sufficiently literally. Why is this a goal?

That's an interesting point, if you're using premade certs. I think you would have th

[2019-08-29 22:48] #75945 closed

[2019-08-29 22:55] lavalamp commented on #82149
It appears that a version of this race existed from the very beginning, but would have been slightly harder to trigger. I think this is high priority as it essentially means the feature doesn't work as advertised. I think it is worth backporting the fix.

/priority critical-urgent

[2019-08-29 23:04] lavalamp commented on #60807
It's merged. I think there may be more we can do, but please take future comments to #70916.

[2019-08-29 23:04] #60807 closed

[2019-08-29 23:05] lavalamp commented on #70916
I'm going to leave this open until we have feedback confirming that it is now clear enough.

[2019-08-29 23:06] liggitt opened #82150 "TestCNIPlugin flakes"
**Which jobs are failing**:

pull-kubernetes-bazel-test

**Which test(s) are failing**:

//pkg/kubelet/dockershim/network/cni:go_default_test

[code]

**Since when has it been failing**:

Unsure, it doesn't appear in triage, but I see it regularly in PRs.

**Testgrid link**:

This package is the top flake currently
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test&s

[2019-08-29 23:06] justaugustus commented on #80715
Still tweaking the images that these jobs run on. This PR moves to specific images for deb/rpm building instead of kubekins: https://github.com/kubernetes/test-infra/pull/14142

With the periodics running more frequently, it'll be faster to debug an image dependency failures now.

[2019-08-29 23:12] PatrickLang commented on #62046
/milestone v1.17
We won't be testing Windows versions >18945 in 1.16. Maybe 1.17

[2019-08-29 23:13] PatrickLang commented on #70189
/milestone v1.17
We won't be able to do this until containerd is ready. It might work in 1.17

[2019-08-29 23:19] jmillikin-stripe commented on #82052
I think it's fair to say that if you're using Kubernetes in an advanced enough way to need admission controllers, it's fine to say you need to write some custom code. The whole point of an admission controller webhook is to inject custom behavior into the Kubernetes API, after all.

We don't want product teams to be able to inject webhooks into the cluster. That permission is reserved for the clus

[2019-08-29 23:32] lavalamp commented on #82052
Webhooks are getting added into conformance tests as we speak, BTW.

I don't understand why not?

You don't need to start doing that to use the addon manager (or similar mechanism) to deliver the webhook configuration manifest to apiserver?

I think over time there will be more, not less, thingies (webhooks, CRDs, ...) where you'll want to apply them as part of cluster start up. The project doesn'

[2019-08-30 00:11] andyzhangx commented on #81097
this issue is fixed by https://github.com/kubernetes/kubernetes/pull/81266 on Azure, @khenidak

[2019-08-30 00:36] bdowling commented on #81055
These issue went away after the GKE nodes were upgraded.  I suspect we had a single node that was causing problems  (3 node cluster, thus the ~30% metrics above).  But definitely still consider this an issue more on the troubleshooting side of this, identifying the core problem seems like a challenge no matter how you look at it.

Prior to the upgrade, these commands were also failing:
`kubectl to

[2019-08-30 01:07] #78706 closed

[2019-08-30 01:08] #79286 closed

[2019-08-30 01:46] bysnupy opened #82154 "Warning: kubectl apply should be used on resource created by either kubectl create --save-config or kubectl apply"
If `kubectl apply` is recommended option to create object, the following warning message would be changed as **INFO** level, it's confusing whether the updated is failed as view of end user.

[code]

[0] [How to create objects - kubectl apply](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#how-to-create-objects)
[code]

**What would you like to be added**:

Change t

[2019-08-30 02:55] #80767 closed

[2019-08-30 02:56] #81733 closed

[2019-08-30 03:03] k82cn commented on #82118
hm... I'm a little confuse on what we're going to do for this? The overall workflow in default scheduler is pod based, how that will support others? Do you mean we schedule CRD instead of Pods?

[2019-08-30 03:48] liggitt commented on #81192
reopening until the discovery API e2e is merged and promoted

[2019-08-30 03:58] chamhaw commented on #82131
same issue +1

[2019-08-30 04:21] #27114 closed

[2019-08-30 04:23] liggitt commented on #70502
fixed by https://github.com/kubernetes/kubernetes/pull/81732

/close

[2019-08-30 04:23] #70502 closed

[2019-08-30 04:33] liggitt commented on #80313
Not closing dead connections is the same underlying issue as https://github.com/kubernetes/kubernetes/issues/65012 / https://github.com/kubernetes/client-go/issues/374 / https://github.com/kubernetes/client-go/issues/611

[2019-08-30 05:05] liggitt opened #82158 "VisitContainers called from *InUse methods is not safe"
**What happened**:

In 1.16, #59416 modified the `VisitContainers()` helper method to conditionally iterate over the EphemeralContainers field, based on whether the EphemeralContainers feature gate was enabled.

This method is called in pkg/api/pod/util.go to:
1. determine if any containers are using a particular alpha field
2. clear a particular alpha field in all containers

On update, if the ex

[2019-08-30 05:34] jeremyje opened #82159 "Add fscrypt support for emptyDir"
**What would you like to be added**:
It would be nice if there was a way to have an ephemeral encrypted volume via emptyDir. It looks like fscrypt is supported in ext4 and a few other file systems and is written in Go.

**Why is this needed**:
I'd like to write sensitive data to a scratch disk and then crypto-shred it as soon as the data processing is complete.

I'd be willing to implement this if

[2019-08-30 05:35] jeremyje commented on #82159
/sig storage

[2019-08-30 05:36] bg-chun opened #82160 "cgroup(cpuset) allow a container to pin pthread to any logical CPUs on the machine"
**What happened**:

inside the container which has exclusive CPUs, a process is able to pin its pthread to any logical CPU on the machine, even not assigned by CPU Manager and not allowed CPU in cpuset.
This behavior conflicts with what kernel document(cpuset) says.
http://man7.org/linux/man-pages/man7/cpuset.7.html
https://www.kernel.org/doc/Documentation/cgroup-v1/cpusets.txt

**What you expecte

[2019-08-30 05:36] bg-chun commented on #82160
/sig sig-node

[2019-08-30 05:37] bg-chun commented on #82160
/assign derekwaynecarr

[2019-08-30 05:38] bg-chun commented on #82160
/assign ConnorDoyle

[2019-08-30 05:57] verb commented on #82158
/assign @verb
/sig node

[2019-08-30 06:27] verb commented on #82158
Glancing through the fields dropped in pod/util.go I'd say about half of them are eligible for use in ephemeral containers.

It should be a pretty easy fix. We should introduce the mask [described here](https://github.com/kubernetes/kubernetes/pull/79176#issuecomment-523848648). @tedyu already has opened #81941 for that, which could be easily adapted.

@liggitt Do you want to try to get this fix i

[2019-08-30 06:45] dharam1 commented on #82131
I dont think it's the issue on spark end as everything works perfectly in kubernetes v1.14.5. I think there is some security patch issue in k8s. I found something relevant if it might help everyone.
https://issues.jenkins-ci.org/browse/JENKINS-59000?page=com.atlassian.jira.plugin.system.issuetabpanels%3Aall-tabpanel

[2019-08-30 06:50] w180112 commented on #76531
Hi @youurayy,
I get same issue and have tried your solution [.](https://github.com/opencontainers/runc/issues/2108)
However, I can't find /var/cache/runc/systemd-detect.json in my system
Is there any other possible to cause this issue?
The only different is my kubelet version is 1.15.3 and docker 18.06.2
thanks

[2019-08-30 06:53] chamhaw commented on #82131
Also, there is a question on StackOverFlow for the issue.
https://stackoverflow.com/questions/57643079/kubernetes-watchconnectionmanager-exec-failure-http-403

[2019-08-30 07:01] hongBry commented on #75299
@benmoss Hi, I have the same issue, is there a solution to solve the issue?
my kubelet log as follow:
goroutine 7463662 [syscall, 58 minutes, locked to thread]:
syscall.Syscall6(0x7ff80833ef40, 0x4, 0x5e346fdd0, 0xc0f5ce4eb0, 0xc0fddcea50, 0xc0fddcea40, 0x0, 0x0, 0x0, 0x0, ...)
	/usr/local/go/src/runtime/syscall_windows.go:199 +0xed
k8s.io/kubernetes/vendor/github.com/Microsoft/hcsshim/internal/hc

[2019-08-30 07:05] mkumatag commented on #81920
This is the side effect of `docker build` command, you can fix it by specifying `--platform` tag while building the image.

[2019-08-30 07:12] mkumatag commented on #81920
The `--platform` tag is still experimentall and introduced in `API 1.32+` so I really doubt about using this anywhere, I feel it is just a cosmetic issue and only applies for the images with `-ARCH` tag. As we are pushing fat manifest images with proper archs so we don't have to worry much about it.

[2019-08-30 07:18] juliantaylor opened #82163 "kube-proxy nodePortAddresses does not work for healthCheckNodePort"
**What happened**:
The kube-proxy in ipvs mode exposes all host ports on all service ips, including public facing ips, see https://github.com/kubernetes/kubernetes/issues/72236

This also affects node ports for which kube-proxy has the `nodePortAddresses` setting which allows you to bind the node ports to the node ip to avoid this problem.
But this setting does not work for the `healthCheckNodePor

[2019-08-30 07:26] m3ngyang commented on #74643
/reopen

[2019-08-30 07:26] #82134 closed

[2019-08-30 07:26] m3ngyang commented on #74643
/remove-lifecycle rotten

[2019-08-30 07:32] ricky1993 commented on #79697
Does pagination mean range key prefix with limit?

[2019-08-30 07:37] kewenwang-ai commented on #82118
Hi，thanks for your attention. We don't want to use CRD instead of pod scheduling. After our team's previous analysis, our ideas are as follows:

1. Let kube-scheduler support CRD scheduling, but does not change the original process and strategy of the pod scheduling.
2. However, scheduler doesn't need to understand CRD itself.
3. Use a scheduler extender(web hook) to complete the function that spl

[2019-08-30 07:39] wenjun93 commented on #65392
@NickrenREN Hi, any info about the proposal for node fencing on cloud and BM?

[2019-08-30 07:43] #81253 closed

[2019-08-30 07:56] dharam1 commented on #82131
Yeah kubernetes client jar in spark image solved the issue. Apparently jar in spark was of old version (4.1.2).  Update it to 4.4.2 works perfectly.

[2019-08-30 07:57] dharam1 commented on #82131
Updating kubernetes client jar to latest version in spark image solved the issue. Apparently jar in spark was of old version (4.1.2). Updated it to 4.4.2 works perfectly.

[2019-08-30 07:57] #82131 closed

[2019-08-30 08:16] Laisky commented on #76146
@iamdenchik can you explain how to `set current apiserver` please? It will help me a lot.

[2019-08-30 08:17] adelina-t commented on #81760
Yeah, Hyperkube is of interest to our Windows testing effort, as we depend on it to deploy our test clusters with aks-engine. I can help with moving it and making the transition smooth.

[2019-08-30 08:57] electron0zero commented on #82122
Update: We found this error in our cluster events.

[code]

[2019-08-30 08:58] darshanime commented on #82163
/sig network

[2019-08-30 09:14] matthyx commented on #27114
startupProbe is alpha in 1.16!

[2019-08-30 09:18] mJace commented on #80452
Hitting same

K8s installed with my ubuntu 18 enabled 2Mi hugepage by default.
As I change my master node's hugepage to 1Gi, this happened.

I have only one master, so I have to rebuild the k8s cluster.

[2019-08-30 09:34] iamdenchik commented on #76146
on worker server run command ```  kubeadm init phase kubeconfig all --apiserver-advertise-address <master_server_ip> ```

[2019-08-30 09:37] abhiTamrakar commented on #82015
@neolit123 does that means whatever value I give in KubeletConfigurfation.ClusterDNS, it will be overridden without notifying by internalcfg.Networking.ServiceSubnet?
If yes, it should have been some value coming from provided internalcfg.Networking.ServiceSubnet, that is also not happening.
[code]
According to above snippet, it should calculate dnsIP from the value coming via internalcfg.Networki

[2019-08-30 09:59] #78707 closed

[2019-08-30 10:03] vivekj11 opened #82167 "Showing crashed/terminated pod logs on Kibana"
I am currently working on the ELK setup for my Kubernetes clusters. I set up logging for all the pods and fortunately, it's working fine.
Now I want to push all terminated/crashed pod logs (which we get by describing but not as docker logs) as well to my Kibana instance.

I checked on my server for those logs, but they don't seem to be stored anywhere on my machine. (inside /var/log/)
maybe it's n

[2019-08-30 10:03] vikas027 opened #82168 "Ceph - MountVolume.WaitForAttach failed for volume"
**What happened**:
I am trying to use a persistent volume claim dynamically after defining a storage class to use Ceph Storage on a Proxmox VE 6.0-4 (Debian 10) one node cluster.

The persistent volume gets created successfully on ceph storage, but pods are unable to mount it.

**What you expected to happen**:
Pods should be able to use the persistent volume claim mount.

**Key Error**:
[code]

**

[2019-08-30 10:07] #82112 closed

[2019-08-30 10:15] willzhang opened #82169 "tar: Removing leading `/' from member names"
kubernetes version
[code]

what' wrong with it?
[code]

[code]

[2019-08-30 10:27] lostpebble commented on #27114
@matthyx thanks!

From a brief look at the pull request, it looks a bit different to what was talked about here.

Is there any documentation we can look over about how this startupProbe works ?

[2019-08-30 10:59] hanoisteve commented on #81999
I think this feature should be implemented because:
1) The devops engineer does not necessarily have access to the versioned yaml files.
2) Its not clear how to track a given version of a file to a deployment in kubernetes.
3) There is no reason not to keep this original state. Its part of the history of the state of the deployment of the resource. Its stage: 0.  The fact that it is versioned in a

[2019-08-30 10:59] anirudhmurali commented on #82169
To copy from a remote pod to a local destination:
`kubectl cp <some-namespace>/<some-pod>:/tmp/foo /tmp/bar`

And also to be noted that you need to remove the first `/` after the pod name, the copy will work fine.

This should work:
`kubectl cp default:nginx:etc/hosts /root/hosts`.

[2019-08-30 11:24] darshanime commented on #82168
/sig storage

[2019-08-30 11:47] irajdeep commented on #79440
@dashpole I can work on this if no one else if currently working on it

[2019-08-30 12:02] kacole2 commented on #81016
@tallclair @draveness I see https://github.com/kubernetes/kubernetes/pull/82094 currently in the tide merge pool. However, I do not see https://github.com/kubernetes/kubernetes/pull/81915 in the merge pool. Is https://github.com/kubernetes/kubernetes/pull/81915 critical to this being implemented in v1.16? Or since this missed code freeze should this be bumped to v1.17?

[2019-08-30 12:29] deads2k opened #82172 "kubectl hangs for a minute when aggregated discovery is down"
When an aggregated apiserver is inaccessible from some kube-apiservers, the discovery step of kubectl will hang for over a minute before giving up and ultimately letting the command work.

/assign
@kubernetes/sig-api-machinery-bugs

[2019-08-30 12:38] jkaniuk commented on #81665
Master node was restarted due to kernel panic:
"2019-08-19 22:01:05.765 PDT - GuestPanicEvent"
No logs of that were saved so there is no way to debug it further.

Filed https://github.com/kubernetes/test-infra/issues/14149 to be prepared for future occurences.

[2019-08-30 12:38] #81665 closed

[2019-08-30 12:47] seb-steuer commented on #50898
2 years have passed and we still don't have custom EBS tags via PVC annotation 😞

[2019-08-30 13:19] jkaniuk commented on #81654
1. apiserver stopped responding after a node (or few nodes) become temporarily unhealthy (test runs 08-01, 08-08, 08-18, 08-21, 08-28)
2. the cause of nodes unhealthiness were host errors or maintenance (test runs 08-01, 08-18, 08-21, 08-28)
3. when nodes were marked as unhealthy or healthy, they caused spikes on network transmission from master, saturating apiserver, kernel or network
4. network

[2019-08-30 13:20] liguuu opened #82173 "Why there is downtime while rolling update a deployment or scaling down a replicaset"
Due to official document of kubernetes
    `Rolling updates allow Deployments' update to take place with zero downtime by incrementally updating Pods instances with new ones
I was trying to perform zero downtime update using Rolling Update strategy which was recommanded way to update an application in kube cluster.`

Official reference:

But i was a a little bit confused about the definition while

[2019-08-30 13:25] #81519 closed

[2019-08-30 13:26] #75791 closed

[2019-08-30 13:28] tweks commented on #81491
Verified that now job selects all CPU tests: https://k8s-testgrid.appspot.com/sig-autoscaling-hpa#gce-cos-autoscaling-hpa-cpu.

[2019-08-30 13:39] alejandrox1 opened #82174 "[Failing Test] pods in kube-system are not ready in ci-kubernetes-e2e-gci-gce-alpha-features"
**Which jobs are failing**:
* ci-kubernetes-e2e-gci-gce-alpha-features

**Which test(s) are failing**:
* BeforeSuite while checking that all Pods in the kube-system namesapce are ready.

**Since when has it been failing**:
Started failing on 8/29 at around 17.15 PDT

k/k diff from the last succcesful run to the first failed run: https://github.com/kubernetes/kubernetes/compare/47214d672...4495d092

[2019-08-30 13:55] zouyee commented on #82169
/sig cli

[2019-08-30 14:03] #71612 closed

[2019-08-30 14:27] rajansandeep commented on #82174
It looks like CoreDNS is unready because the connection to the k8s API server is timing out.
It seems to be a problem with the API being down.
[code]

[2019-08-30 14:40] justaugustus commented on #80715
Fixed with:
- https://github.com/kubernetes/release/pull/866
- https://github.com/kubernetes/test-infra/pull/14147
- https://github.com/kubernetes/test-infra/pull/14148

ref:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-release-build-packages-debs/1167356860500545542
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-release-build-packages-rpms/1167214678489698305

There are st

[2019-08-30 14:40] #80715 closed

[2019-08-30 14:43] bclau commented on #76827
/remove-lifecycle rotten

[2019-08-30 14:59] alejandrox1 commented on #82174
metrics-server shows the same timeouts.
On top of that, https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1167404172459380739#0:build-log.txt%3A3560 :
[code]

[2019-08-30 15:08] klueska commented on #82160
/cc @klueska

[2019-08-30 15:09] WeAreHadock opened #82178 "Problem configure External CA mode in Kubernetes Cluster on premise"
Hi everyone,

We have install cluster Kubernetes 1.14.

We want to certify the api server access with an external ca authorities.
We use ExternalCA mode but have problem during the kubeadm init.

In the externalCA mode, we have only the ca.crt and not the ca.key.
In this mode, we have to provide all the certificate : apiserver and  apiserver-kubelet-client crt and key.

We also have to provide all

[2019-08-30 15:10] julianvmodesto commented on #51475
kustomize as an alternative:

https://github.com/kubernetes-sigs/kustomize/blob/master/examples/configGeneration.md

https://kubectl.docs.kubernetes.io/pages/reference/kustomize.html#configmapgenerator

[2019-08-30 15:13] WeAreHadock commented on #82178
/sig scalability

[2019-08-30 15:14] WeAreHadock commented on #82178
/sig auth docs

[2019-08-30 15:14] WeAreHadock commented on #82178
/sig support

[2019-08-30 15:16] WeAreHadock commented on #82178
/unsig scalability

[2019-08-30 15:22] olofwalker opened #82179 "`uname` like cluster type identification feature"
**What would you like to be added**:

I would like to see a `uname` like feature in Kubernetes that can be used to identify the "type" of a particular Kubernetes cluster, type in this context would be the brand name of the Kubernets cluster, for example "Openshift" or "GKE".

**Why is this needed**:

- Customizing the deployment of an application to Kubernetes without having to query the user for

[2019-08-30 15:24] ahg-g opened #82180 "Deprecate alwaysCheckAllPredicates configuration parameter in the scheduler"
**What would you like to be added**:
Deprecate [alwaysCheckAllPredicates](https://github.com/kubernetes/kubernetes/blob/03097277a456cfe4fc87188961f091870e1f67e4/pkg/scheduler/api/types.go#L68)

**Why is this needed**:
Now that we are transitioning to the scheduling framework, predicates will be converted into filter plugins. By design, we stop evaluating the rest of filter plugins on a node once a

[2019-08-30 15:28] igcherkaev commented on #72102
@dims hmm, if there are changes required in k8s source code, why has this issue got closed? I'll try to build a custom image and test, though. Thanks.

[2019-08-30 15:31] liggitt commented on #72102
this will be resolved in 1.16 in https://github.com/kubernetes/kubernetes/pull/81434

the changes required (upgrading etcd client libraries) were too invasive to backport to patch releases

[2019-08-30 15:33] alejandrox1 commented on #82174
/sig testing

[2019-08-30 15:36] jimangel opened #82182 "[Failing Test] deletion error in ci-kubernetes-e2e-gce-scale-performance"
**Which jobs are failing**:
- ci-kubernetes-e2e-gce-scale-performance

**Which test(s) are failing**:
- ClusterLoaderV2
- testing/load/config.yaml

**Since when has it been failing**:
Started failing on 8/28 at around 10.02 PDT

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-performance

**Reason for failure**:
[code]

**Anything else we need to know**:

k

[2019-08-30 15:46] igcherkaev commented on #72102
@liggitt that leaves people on 1.13-1.15 without proper H/A? I think this issue deserves to be fixed in the three supported releases of Kubernetes. The hotfix mentioned here looks simple enough to be added, but you are saying the proper fix will require much more. So this is all sorta obscure and confusing to the community, IMO.

Not that I am complaining, don't get me wrong, it's just I think eve

[2019-08-30 15:46] pohly commented on #79624
Done: https://github.com/kubernetes/enhancements/pull/1226

[2019-08-30 15:51] PatrickLang commented on #81088
resolved in https://github.com/kubernetes/kubernetes/pull/81437
/close

[2019-08-30 15:51] #81088 closed

[2019-08-30 15:54] liggitt commented on #72102
agree on documenting the issue at the very least, and recommending any possible workarounds

@jpbetz @gyuho, any feedback on ^?

[2019-08-30 15:58] gyuho commented on #72102
@liggitt @igcherkaev  I will work on the documentation.

[2019-08-30 16:05] #76011 closed

[2019-08-30 16:13] odinuge commented on #49343
Still an issue in v1.15.3

[code]
/reopen

[2019-08-30 16:40] #80541 closed

[2019-08-30 16:40] liggitt commented on #82130
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/82036/pull-kubernetes-integration/1167467586997194752/

[2019-08-30 16:40] #82132 closed

[2019-08-30 16:47] stevebail opened #82184 "nodeSelector: when will it be deprecated?"
Current documentation about nodeSelector states the following:
nodeSelector continues to work as usual (e.g. in 1.15), but will eventually be deprecated, as node affinity can express everything that nodeSelector can express.

Do you know when nodeSelector will be deprecated?

[2019-08-30 16:49] stevebail commented on #82184
@kubernetes/sig-scheduling
/sig scheduling

[2019-08-30 17:11] tuminoid commented on #47775
/remove-lifecycle stale

[2019-08-30 17:21] BenTheElder commented on #82097
https://github.com/kubernetes/kubernetes/pull/82103 landed

[2019-08-30 17:21] alejandrox1 opened #82186 "[Failing Test] [sig-network] Services should only allow access from service loadbalancer source ranges [Slow] is failing in ci-kubernetes-e2e-gce-scale-correctness"
**Which jobs are failing**:
* ci-kubernetes-e2e-gce-scale-correctness

**Which test(s) are failing**:
[sig-network] Services should only allow access from service loadbalancer source ranges [Slow]

**Since when has it been failing**:
It has been failing since 8/28.
Here is the k/k diff for additional context: https://github.com/kubernetes/kubernetes/compare/169876553...f0be44792

**Testgrid link**

[2019-08-30 17:34] dashpole commented on #79440
@irajdeep I don't believe anyone is working on this.  Feel free to work on it.

[2019-08-30 17:54] benmoss commented on #75299
It was fixed for me by installing the latest Windows security updates

[2019-08-30 17:54] igcherkaev commented on #72102
@dims just built custom 1.14 image from the release-1.14 branch and patched that credentials.go file and it's so much better now when I bring down the first etcd node down. Now I am confused, if the fix is so simple, why does it have to wait until 1.16?

[2019-08-30 18:01] gyuho commented on #72102
@igcherkaev The fix requires upgrading google.golang.org/grpc from v1.7.5 to v1.23.0, which is quite a big change :0

[2019-08-30 18:16] draveness commented on #81016
#81815 is nice to have for 1.16 and it is so close to merge with one pending issue.

[2019-08-30 18:20] #80775 closed

[2019-08-30 18:23] #82172 closed

[2019-08-30 18:23] #82137 closed

[2019-08-30 19:23] gyuho commented on #72102
I am adding "Known issue" section to etcd docs here https://github.com/kubernetes/website/pull/16156.

[2019-08-30 19:35] Swetad90 commented on #77192
I am facing the same issue

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-04-08T17:11:31Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.5", GitCommit:"2166946f41b36dea2c4626f90a77706f426cdea2",

[2019-08-30 19:35] Swetad90 commented on #77192
/remove-lifecycle stale

[2019-08-30 19:55] gnufied opened #82190 "Improve handling of nodestage/nodepublish in kubelet"
Currently we appear to have a bug in how kubelet processes nodestage/nodepublish for CSI.

1. Kubelet receives pod A with volume A and before mounting/staging the volume it adds the volume to ASOW (but volume is not globally mounted yet)
2. Kubelet tries NodeStage.. nodestage fails with timeout error and naturally kubelet retries it
3. user deletes the pod from the node and that causes pod+volume

[2019-08-30 19:55] gnufied commented on #82190
/sig storage
@kubernetes/sig-storage-bugs

/assign

[2019-08-30 20:09] dims commented on #72102
@igcherkaev see what @gyuho said :)

[2019-08-30 20:24] tallclair commented on #81016
https://github.com/kubernetes/kubernetes/pull/81915 is adding tests for functionality that is being added in v1.16. I'm sorry this didn't make code-freeze, but I'd like to see it merged in 1.16.

As a test-only PR, what's the exception request process for this?

[2019-08-30 20:33] deads2k opened #82194 "namespace conditions are not consistently set during termination"
In https://github.com/kubernetes/kubernetes/pull/73405, terminating namespaces got new conditions, but they are not cleared on fully successful runs and when they are `False` (the good state), they are not written if they aren't present.

I think it's ok that these are not present when namespaces active (not in terminating), but once we observe terminating namespaces, the conditions need to be con

[2019-08-30 20:41] vllry opened #82195 "CRI pod CPU metrics incorrect for pods with 20+ CPUs"
**What happened**:
CRI CPU metrics are incorrect when using a large number of cores, due to a `uint64` overflow.

**What you expected to happen**:
CPU metrics should be correct for arbitrarily high numbers of cores.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a pod with 20 CPU units allocated, and fetch the CRI metrics. The metrics will be incorrect.

**Environment**:

[2019-08-30 20:57] lavalamp commented on #82194
I was OK-ish with them remaining absent as long as there's no problems, but if there is a problem and it is fixed, they need to get the False state.

[2019-08-30 21:05] andrewsykim commented on #81775
/remove-triage unresolved

[2019-08-30 21:07] kacole2 commented on #81016
@tallclair [file an exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and tag @lachie83 and myself in the email.

[2019-08-30 21:32] enj commented on #82141
#79083
#79285

@jackkleeman

[2019-08-30 21:55] tallclair commented on #81016
Exception request filed: https://groups.google.com/d/topic/kubernetes-sig-node/a4WdtrFU8U8/discussion

[2019-08-30 22:00] liggitt commented on #79735
this is a duplicate of https://github.com/kubernetes/kubernetes/issues/54712

/close

[2019-08-30 22:01] liggitt commented on #79735
actually this is asking for the full admission chain, not specific webhook admission plugins

/reopen

[2019-08-30 22:03] roycaihw commented on #82130
I suspect there is some cache/race that keeps the old CR information around during the update

from https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/82036/pull-kubernetes-integration/1167467586997194752/

the CR that fails UID check during an update
[code]

etcd log:
1. write
2. a few read
3. delete
4. write (other other version defined by CRD. the port difference indicates a different

[2019-08-30 22:18] amagnus commented on #64137
@derekrprice Thanks for the daemonset suggestion. We're running our clusters with the flag `--allow-privileged=false`, which prevents us from using `securityContext.privileged: true` in the spec. Do you see any alternative to access a host PID from the container?

[2019-08-30 23:12] #76053 closed

[2019-08-30 23:15] #81228 closed

[2019-08-30 23:50] tallclair commented on #58012
/remove-lifecycle rotten

[2019-08-31 00:06] liggitt commented on #81192
discovery PR is merged

can observe run history at https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-default&width=20&sort-by-flakiness=&include-filter-by-regex=&include-filter-by-regex=CustomResource.*discovery

PR to promote is at https://github.com/kubernetes/kubernetes/pull/82198

[2019-08-31 00:18] odinuge opened #82201 "[Failing Test] [sig-cli] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance]"
**Which jobs are failing**:
- `ci-kubernetes-e2e-gce-new-master-gci-kubectl-skew`

**Which test(s) are failing**:
`[sig-cli] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] `

**Since when has it been failing**:
Failing since: 8/29

**Testgrid link**:
https://testgrid.k8s.io/sig-cli-master#skew-cluster-stable1-kubectl-latest-gce

**Reason for failure**

[2019-08-31 00:21] odinuge commented on #82201
/sig cli
/cc @alejandrox1

[2019-08-31 00:27] odinuge commented on #81845
I just thought i would let you know that the PR was merged into the `release-1.15` branch today, and the first two tests just passed! :smile:

https://testgrid.k8s.io/sig-cli-master#skew-cluster-stable1-kubectl-latest-gce

@alenkacz

[2019-08-31 00:47] zouyee commented on #82150
/assign

[2019-08-31 01:04] hongBry commented on #75299
so，this issue has nothing to do with kubernetes，just install the lastest Windows security updates， what is the detail version of kubernetes in your cluster?

---Original---
From: "Ben Moss"<notifications@github.com&gt;
Date: 2019/8/31 01:56:29
To: "kubernetes/kubernetes"<kubernetes@noreply.github.com&gt;;
Cc: "Comment"<comment@noreply.github.com&gt;;"hong"<1182936254@qq.com&gt;;
Subject: Re: [kube

[2019-08-31 01:13] eroji commented on #46381
This does not seem to work if you have the same user but different token for the user for different clusters. The `kubectl config view --flatten` will only keep the user and token for the first one it encounters, which defeats the purpose of trying to merge it in the first place.

[2019-08-31 01:15] cmanzi commented on #78761
@max-rocket-internet Try increasing your metrics resolution from the default. I was experienceing similar behavior, I added the flag `--metric-resolution=5s` (the default is 60s), and it seems to be behaving in a much more expected manner now.

As @SocietyCao said, in my case it appears that the HPA was rapidly scaling up my service, creating a bunch of pods that didn't have any metrics yet, which

[2019-08-31 02:08] liggitt commented on #74976
tasks are tracked in individual items, closing this

/close

[2019-08-31 02:08] #74976 closed

[2019-08-31 03:11] njuicsgz commented on #79783
I wanted this PRI am looking forward this PR to avoid my problem.
I used kube node ip as service's external ip with kube-proxy ipvs mode, so I got those node ips in kube-ipvs0. It makes problems as issue:
- 1. container1 can not access container2 with directly container ip, because the package from container1 -> flannel.1 -> eth0(container2's node) could not reach container2's node eth0 since cont

[2019-08-31 03:31] sosogh commented on #34238
you can add there two parameters in file :/etc/kubernetes/manifests/kube-controller-manager.yaml
after saving it ,   k8s will recreate the kube-controller-manager pod automaticlly .
But in my case ,there is no effect ,  It still take quite some minutes to take failover .
(node is marked as notready as expected , but the pod will not be recreated as "--pod-eviction-timeout"  )

refer: https://stack

[2019-08-31 03:37] kinowarrior commented on #23726
Ok, on docker for Mac (v 2.0.5.0) there are TWO settings that both need to be toggled.

![docker](https://user-images.githubusercontent.com/49199497/64058831-21205c00-cbec-11e9-8501-636ec9c5582a.gif)

[2019-08-31 04:36] humblec commented on #82190
@gnufied thanks for filing this, yeah this is an important issue which has to be fixed in priority  due to the fact that, in some scenarios this can cause the volume to staged on more than one node at same time even if it is `RWO` and thus cause the FS data corruption or integrity issues.

[2019-08-31 07:10] irajdeep commented on #79440
/assign @irajdeep

[2019-08-31 07:46] darshanime commented on #82015
I am not able to reproduce this, it could be a quirk of how you are bootstrapping your cluster ([kubeadm](https://github.com/kubernetes/kubeadm)?) and not a bug in kubernetes itself

[2019-08-31 08:39] ejez commented on #69422
I need this also
/reopen
/remove-lifecycle rotten

[2019-08-31 08:47] goddenrich commented on #58512
/remove-lifecycle-stale

[2019-08-31 08:47] abhiTamrakar commented on #82015
Yes kubeadm, that's when I am declaring the cluster configuration as
v1beta2 conf. I am all good to know that how to do it correctly if I am
doing it wrong.

On Sat, Aug 31, 2019, 13:18 Darshan Chaudhary <notifications@github.com>
wrote:

[2019-08-31 08:49] goddenrich commented on #58512
/remove-lifecycle stale

[2019-08-31 08:51] ejez opened #82203 "Add ability to create empty ingress"
**What would you like to be added**:
Ability to create empty ingresses

**Why is this needed**:
Empty ingresses will be patched later by scripts/apps to add/update/delete rules dynamically as needed.

Note: I am using the described strategy with configmaps/secrets as k8s allows creating empty configmaps/secrets.

This might be achieved by removing the check for empty rules in [file](https://github

[2019-08-31 09:21] #81772 closed

[2019-08-31 09:22] #17144 closed

[2019-08-31 15:37] liggitt commented on #43214
/milestone v1.17

[2019-08-31 15:37] liggitt commented on #48610
/milestone v1.17

[2019-08-31 15:49] liggitt commented on #65180
/remove-kind bug

[2019-08-31 15:49] liggitt commented on #68244
/milestone v1.17

[2019-08-31 15:50] liggitt commented on #72956
/milestone v1.17

[2019-08-31 17:33] vikas027 commented on #82168
I was missing these two commands, the complete process has been described very well [here](https://github.com/billimek/k8s-gitops/tree/master/storage/external-ceph).

[code]

[2019-08-31 17:33] #82168 closed

[2019-08-31 18:31] #76092 closed

[2019-08-31 18:42] mucahitkurt commented on #78454
/remove-lifecycle stale

[2019-08-31 19:32] #58785 closed

[2019-08-31 19:56] inoam commented on #53059
Hi,
I'm writing a CSI plugin.
I've found the 6 minutes timeout here: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/attach_detach_controller.go#L89
I still have a problem: in case node is down, application will be down for 6 minutes.
I do not think this is a valid timeout for applications.
I want kubernetes to detach the volume faster.
I do not want to chan

[2019-08-31 22:24] BenTheElder commented on #82147
/remove-sig apps
/sig auth
/sig node
cc @liggitt to triage

[2019-08-31 22:27] BenTheElder commented on #82097
/close

[2019-08-31 22:27] #82097 closed

[2019-08-31 22:28] BenTheElder commented on #82117
+1, we're using scopelint in kind via golangci-linter. there is another issue open about considering migrating to that and enabling more lints, it would be great if someone wanted to figure that out

[2019-08-31 22:41] BenTheElder commented on #81675
cc @khenidak

[2019-08-31 22:41] BenTheElder commented on #81598
we have code in the bash utils to verify a minimum bash version and print out an error otherwise

[2019-09-01 01:38] alejandrox1 commented on #81845
Thank you for the update @odinuge
/close

[2019-09-01 01:38] #81845 closed

[2019-09-01 01:42] alejandrox1 commented on #82201
Thank you for the heads up @odinuge !
Wish we could also catch these failures in the sig-release dashboard.

We should fix this one
/priority critical-urgent

[2019-09-01 01:43] alejandrox1 commented on #82201
Thank you for the heads up @odinuge !
Wish we could also catch these failures in the sig-release dashboard.

We should fix this one
/priority critical-urgent
/milestone v1.16

[2019-09-01 07:04] draveness commented on #82180
/assign

According to the [deprecation policy](https://kubernetes.io/docs/reference/using-api/deprecation-policy/), we need 12 months to deprecate the parameter.

[2019-09-01 07:05] #81438 closed

[2019-09-01 07:06] draveness commented on #79891
No longer required

/close

[2019-09-01 07:06] #79891 closed

[2019-09-01 07:06] draveness commented on #71859
/unassign
/assign @ahmad-diaa

[2019-09-01 07:07] draveness commented on #79547
/unassign

Please feel free to take this issue

[2019-09-01 07:20] draveness opened #82213 "Test cluster must configure test-handler"
/sig testing
/sig node

Make runtime handler a variable that gets filled in by the test setup.

This is a follow-up issue  https://github.com/kubernetes/kubernetes/pull/81915#discussion_r319733052

[2019-09-01 08:15] zhan849 opened #82215 "Flex volume: inconsistency between directory name and plugin name cause orphaned pod to fail to clean up"
**What happened**:
Volume manager reconciler is getting volume / directory information from pod volume path, where volume plugin name is retrieved directly from volume directory name: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/reconciler/reconciler.go#L684

[code]

However, when flex volume driver returns it's driver name, it adds a prefix:
https://github.com/ku

[2019-09-01 08:29] zhan849 commented on #82215
I think the root cause is that flex volume does not honor the assumption that 1 level below kubelet's volume dir is the plugin name: it is not consistent when constructing its volume path and constructing it's plugin name.

Though fixing the volume path name is likely to be a must have, but it will break existing flex volumes. We need to think about a smooth way to get this inconsistency fixed.

[2019-09-01 09:41] #79515 closed

[2019-09-01 10:06] jpetazzo commented on #42125
@cskarby (and others who might stumble upon this): the PATCH request must be issued on `/api/v1/nodes/${Node}/status`. It took me a while to understand the difference between the example given by @ernoaapa above, and what I was doing :sweat_smile:

When we use `kubectl patch`, the request is issued on `/api/v1/nodes/${Node}` (without the final `/status`) and the API server drops it silently.

When

[2019-09-01 10:15] Morriz opened #82217 "hpa.v2beta2.autoscaling starts scaling up when only half of target is reached"
**What happened**:
given hpa values:
[code]
We notice scaling up happens when either target passes 40%

**What you expected to happen**:
scaling up to happen when 80% is passed

**How to reproduce it (as minimally and precisely as possible)**:
increase load on deployment deployed onto k8s 1.12.8 with above settings

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `k

[2019-09-01 10:16] Morriz commented on #82217
/sig scalability

[2019-09-01 10:32] toadjaune commented on #76957
/remove-lifecycle rotten

[2019-09-01 10:41] aojea commented on #82125
@danwinship you know if `KUBE-MARK-DROP` has to be managed only by `kubelet` or `kube-proxy`? Ref. https://github.com/kubernetes/kubernetes/pull/82214

[2019-09-01 11:04] toadjaune commented on #76957
Hi everybody !

I finally found some time to work on this, this time, I used Docker to be certain that I was bisecting properly, and that each compilation was independent from the previous ones.

Here's the resulting Dockerfile :
[code]

With this minimal setup, I tried compiling the following versions :
* `master` (current)
* `5.3.1`
* `5.0.2`
* `5.0.0`

They are all affected by this bug, so this

[2019-09-01 12:09] youurayy commented on #76531
@w180112 try to build/install as suggested in https://github.com/youurayy/runc/releases/tag/v1.0.0-rc8-slice-fix-2

if the issue is continuing, it means you aren't using the new code / your 'runc' wasn't replaced / or you perhaps are using some other container runtime

[2019-09-01 12:16] odinuge commented on #82201
/assign

[2019-09-01 12:28] emadolsky opened #82218 "Container statuses get wiped out after pod deletion"
**What would you like to be added**:
Kubelet rewrites container statuses of a pod to null terminated status when it is deleted. Apparently it is done in order to trigger a pod deletion request to the apiserver. It would be useful if we could keep container statuses and find or add something else as a trigger.

**Why is this needed**:
In our case, we added a finalizer to the pods because in our con

[2019-09-01 12:35] emadolsky commented on #82218
/sig apps

[2019-09-01 12:38] Morriz commented on #82217
I can't consistently reproduce, closing until I can produce a significant report

[2019-09-01 12:38] #82217 closed

[2019-09-01 13:01] zouyee commented on #71665
/reopen

[2019-09-01 14:02] darshanime commented on #82067
I think the reason this is failing is the connection to etcd cannot be made after restart - `Failed to dial 172.16.3.2:2379: grpc: the connection is closing; please retry.`
Due to this, the controller which "repairs cluster IPs" is not able to retrieve `/ranges/serviceips` and fails after some attempts.

Connection issues might be similar to [here](https://blog.bejarano.io/kubernetes-etcd-and-disk

[2019-09-01 14:56] mrbobbytables commented on #76269
/remove-lifecycle stale

soon 👍

[2019-09-01 15:06] xiaoanyunfei commented on #82195
`CRI CPU metrics are incorrect when using a large number of cores, due to a uint64 overflow.`
How did you get the cri cpu metrics?

[2019-09-01 15:51] joaquinito01 opened #82221 "Hi!! kubectl --namespace kube-system patch deploy tiller-deploy -p '{"spec":{"template":{"spec":{"serviceAccount":"tiller"}}}}' Error from server (BadRequest): json: cannot unmarshal string into Go value of type map[string]interface {}"
kubectl --namespace kube-system patch deploy tiller-deploy -p '{"spec":{"template":{"spec":{"serviceAccount":"tiller"}}}}'
Error from server (BadRequest): json: cannot unmarshal string into Go value of type map[string]interface {}

[2019-09-01 15:52] #76138 closed

[2019-09-01 17:47] keerthigd commented on #82221
/sig cli

[2019-09-01 17:57] rikatz commented on #81729
OK, I've reached out the package owner in Debian, but the solution is to update the container images to Debian 10.

I'll take this to the next sig-network meeting to see how can we deal with this

[2019-09-01 18:01] rikatz commented on #81675
/cc @caseydavenport

I think this also might be related to Calico and multiple IPs, but this might have bigger impacts. Needs discussion

[2019-09-01 18:05] rikatz commented on #82008
@dhanvi Hi, thanks for the issue!

Can you please provide further description on how this may be useful? Is this a change into the Service Object / API change?

How this will reflect into the DNS (CoreDNS as an example) or even how this will work.

Tks!

[2019-09-01 18:53] rikatz commented on #77493
I've checked the code, this is only a warning.

Maybe while loading the modules, this function could be reduced to something like "check if this exists exists in the kernel builtin modules and append it into the mod list, otherwise try to modprobe it".

I've made a PR to it, let's see if this solves the "problem"

[2019-09-01 19:03] rikatz commented on #74677
Suggestion: Can't we make this a metric of kube-proxy inside prometheus?

Something like

``ipvs-entry{serviceip="W.X.Y.Z", endpoints="ip1,ip2,ip3"} COUNT-OF-ENTRIES``

for each entry?

On the other hand, this might be a problem in Services containing a lot of endpoints, generating a really big set of metrics, and don't know if this is the best way to do this

[2019-09-01 19:37] benmoss commented on #75299
As far as I ever could understand this bug it was just a bug in Windows, not in Kubernetes. I am running 1.15.

[2019-09-01 20:19] pjbgf commented on #38541
@tallclair If help is still needed, I am quite keen to pick up this one.

[2019-09-01 22:35] cblecker commented on #76699
/remove-lifecycle stale

[2019-09-02 01:05] w180112 commented on #76531
@youurayy Thanks,
I have resolve this issue by changing node IP addr.
The reason is that my node IP addr overlaps the pod networking.

[2019-09-02 01:09] xiaoanyunfei commented on #82215
The Pr https://github.com/kubernetes/kubernetes/pull/80973 will fix it, but it has been pending for a long time

[2019-09-02 01:12] danielqsj commented on #75731
/cc

[2019-09-02 01:12] danielqsj commented on #74317
/cc

[2019-09-02 01:19] liggitt commented on #81192
All endpoints and operations are now covered by conformance tests

/close

[2019-09-02 01:19] #81192 closed

[2019-09-02 01:31] RainbowMango commented on #81598
@BenTheElder sounds great.
Where is the bash utils ? When run `make test` , no error message about bash version.

[2019-09-02 01:36] MikeCamel commented on #20151
I would vote against the AppArmor approach, though I'm also a big fan of _not_ using Env variables.  First, not all distributions will be running AppArmor, and second (most important), this pushes the problem out to another component, rather than fixing it within K8s itself.

[2019-09-02 01:40] zhangguanzhang commented on #76138
/remove-lifecycle rotten

[2019-09-02 02:02] #76035 closed

[2019-09-02 03:20] Spaceman1861 commented on #17512
If anyone can find use of it here is a script that will dump current limits of pods.

`kubectl get pods --all-namespaces -o=jsonpath="{range .items[*]}{.metadata.namespace}:{.metadata.name}{'\n'}\
    {'.spec.nodeName -'} {.spec.nodeName}{'\n'}\
{range .spec.containers[*]}\
    {'requests.cpu -'} {.resources.requests.cpu}{'\n'}\
    {'limits.cpu -'} {.resources.limits.cpu}{'\n'}\
    {'requests.me

[2019-09-02 03:36] eduncan911 commented on #17512
@Spaceman1861 could you show an example outout?

[2019-09-02 03:37] lachie83 commented on #82182
This appears to be a flake 8/30 8/31 runs are GREEN

[2019-09-02 04:01] Spaceman1861 commented on #17512
@eduncan911 done

[2019-09-02 04:10] xieyanker commented on #82067
@darshanime Thanks for your reply, I run `etcdctl check perf` for three etcd nodes.

[code]

It looks that master3's etcd is not normal.

I print some logs of these etcd:

[code]

[2019-09-02 04:29] lachie83 commented on #82174
I'm seeing the following in the apiserver.log on the failed runs.

[code]

[2019-09-02 04:32] lachie83 commented on #82174
@robscott @freehan Given that I see pkg/endpoints and this is the alpha feature gates test suite I wonder if it is possible that this is due to the work in https://github.com/kubernetes/enhancements/issues/752

[2019-09-02 04:40] YueHonghui commented on #29927
@michelgokan @Davidrjx The version of kubernetes we used is based on v1.13.2, and still have the problem described here [cadvisor/issues/1774](https://github.com/google/cadvisor/issues/1774). I inspected code base of v1.13.2 and latest version on master, but didn't see any cleanups related to `memory.force_empty` or progressively lower `memory.limit_in_bytes`.

@dubstack I don't see progress of cl

[2019-09-02 04:49] darshanime commented on #82067
This looks like an etcd issue, `read-only range request "key:\"/registry/podsecuritypolicy\" range_end:\"/registry/podsecuritypolicz\" count_only:true " with result "range_response_count:0 size:9" took too long (130.23244ms) to execute` suggests it might be related to https://github.com/kubernetes/kubernetes/issues/70082.

[2019-09-02 06:45] SataQiu commented on #81596
I verified this problem, everything looks fine:
[code]
@mingzhuyang Can you check it again?

[2019-09-02 06:46] SataQiu commented on #81596
/assign

[2019-09-02 07:13] bashofmann commented on #35056
We just ran into this where Kubernetes recreated an LB with a new Floating IP because the OpenStack API was not available for a few seconds while the LB was updated.

@dims Could this issue be re-opened? Since this is a major bug for us, we will start working on a fix for this today.

[2019-09-02 07:16] mikkeloscar commented on #64923
/remove-lifecycle stale

[2019-09-02 07:58] birdli66 commented on #77869
/remove-lifecycle stale

[2019-09-02 08:08] #74135 closed

[2019-09-02 08:28] dhanvi commented on #82008
@rikatz I am looking for something similar to https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods

[2019-09-02 08:29] Silvakilla commented on #70674
I get an HTTP 422 when I try it with
`client.customResource(crdContext).edit(namespace,name,stream)`
Not sure what is exactly wrong, but I would also say, something is missing or wrong, because editing it manually works fine, createOrReplace also works fine.

[2019-09-02 08:59] wu0407 opened #82230 "why the contianer memory limit in cgroup not accurate"
The container set resource limit：
[code]
the cgroup memory limit:
[code]
1GB= 1*1024*1024*1024=1,073,741,824B
k8s version:1.14.4
docker version:  docker-ce-18.09.6
/sig node

[2019-09-02 09:00] zouyee commented on #82150
The test results have the following three phenomena.
[code]
b
[code]
c
[code]

[2019-09-02 09:08] SataQiu commented on #80812
I am confused, too. What's the use case? @ahg-g

[2019-09-02 09:39] krzysied commented on #82069
![image](https://user-images.githubusercontent.com/25119199/64104897-776cd680-cd75-11e9-9508-1cf6ff67d38a.png)

- Client all - e2e metric. It contains stream creation, sending msg, receiveing msg.
- Stream creation - creating new stream between apiserver and etcd.
- Client out - sending msg from apiserver to etcd
- Client in - receiveing response from etcd

[2019-09-02 09:55] gdankov opened #82234 "Kubelet API `stats/summary` does not report ephemeral storage information for Pods with no volumes"
**What happened**:

We deployed a StatefulSet that defines some resource requests and limits, in particular:
[code]

After the StatefulSet pods were up and running, we called the `/api/v1/nodes/<node-name>/proxy/stats/summary` endpoint and the response does **NOT** contain any usage information about volumes and ephemeral-storage.

The response looks like:
[code]

**What you expected to happen**:

[2019-09-02 09:57] jkaniuk commented on #81654
Tests over the weekend seems clean, requests latency and network usage when nodes are being removed or added to services dropped significantly.

Example load test run 08-22 with node going unhealthy:

![image](https://user-images.githubusercontent.com/5487158/64106102-ce73ab00-cd77-11e9-8b97-8292c827aac8.png)

![image](https://user-images.githubusercontent.com/5487158/64106178-f2cf8780-cd77-11e9-9

[2019-09-02 10:25] lentzi90 commented on #17512
I find it easier to read the output in table format, like this (this shows requests instead of limits):
[code]

Sample output:
[code]

[2019-09-02 10:34] anderseknert opened #82236 "OIDC: Allow any claim from an ID token to be mapped to userinfo extra attributes"
**What would you like to be added**:
The ability to provide a list attributes that (if present) should be mapped from the ID token used for authentication into userinfo.extra fields. These attributes could then be used for authorization decisions.

**Why is this needed**:
Current implementation maps group membership only, essentially limiting authorizers following OIDC authentication to RBAC, or v

[2019-09-02 10:38] anderseknert commented on #82236
/sig auth

[2019-09-02 10:44] hjacobs commented on #17512
@lentzi90 just FYI: you can show similar custom columns in [Kubernetes Web View](https://codeberg.org/hjacobs/kube-web-view) ("kubectl for the web"), demo: https://kube-web-view.demo.j-serv.de/clusters/local/namespaces/default/pods?join=metrics;customcols=CPU+Requests=join(%27,%20%27,%20spec.containers[*].resources.requests.cpu)%3BMemory+Requests=join(%27,%20%27,%20spec.containers[*].resources.req

[2019-09-02 10:49] Spaceman1861 commented on #17512
Oooo shiny @hjacobs I like that.

[2019-09-02 10:51] jkaniuk commented on #81654
It is even more visible in density tests:

density test run from 08-07:

![image](https://user-images.githubusercontent.com/5487158/64109625-45ad3d00-cd80-11e9-945a-d9f36997551a.png)

![image](https://user-images.githubusercontent.com/5487158/64109639-52319580-cd80-11e9-9141-bf4c92ba7eae.png)

![image](https://user-images.githubusercontent.com/5487158/64109644-578ee000-cd80-11e9-8208-29614e29db08.

[2019-09-02 10:51] #81654 closed

[2019-09-02 11:03] ishantanu commented on #49926
@jhoblitt Did you tried with EKS 1.2.x? I faced some issues with statefulsets with PVC on EKS 1.3.x but everything ran just fine on EKS 1.2.x.

[2019-09-02 11:04] daixiang0 commented on #62099
@liggitt now 1.15 support config configmap as `rw`?

[2019-09-02 11:12] gdankov commented on #82234
/sig storage
/sig instrumentation
/sig node

[2019-09-02 11:52] tedyu commented on #82221
What version of k8s are you using ?

Can you give a bit more information about your cluster ?

[2019-09-02 12:44] Adirio commented on #82118
I think this could be solved if the scheduler was modified to be able to schedule a list of schedulers per cycle instead of only 1 and the list was passed as a pointer to the PreFilter plugins. A PreFilter plugin could append to this slice all the pods that are to be atomically scheduled. For example, a stateful PreFilter plugin could start caching which pods need to be scheduled, returning an err

[2019-09-02 13:08] Adirio commented on #82180
Will this be deprecated for 1.16? Not being able to do so will inevitably delay the transition to the scheduling framework to 1.19, wouldn't it?

[2019-09-02 13:15] amelbakry commented on #17512
This is a script (deployment-health.sh)  to get the utilization of the pods in deployment based on the usage and configured limits
https://github.com/amelbakry/kubernetes-scripts

![Screenshot from 2019-09-02 15-11-42](https://user-images.githubusercontent.com/23502210/64116927-025cc980-cd94-11e9-8fd9-9bdf7e06af2d.png)

[2019-09-02 13:15] furkanmustafa commented on #67546
Oh god. Everytime I hit into a (real) issue, it is closed by a bored robot.
How is that okay with anybody?

Dear robots @k8s-ci-robot @fejta-bot please /repoen /remove-lifecycle-rotten /stop-closing-issues.

---

Late to the party but I have realized that when removing taints from nodes, kubectl does it **on client side**, like most of the other things one should be surprised to hear (like node dr

[2019-09-02 13:24] noyessie commented on #76820
Please how to update `systemd` on redhat 7

[2019-09-02 13:30] Letme commented on #76531
@youurayy thanks for the fix. In that tag the workaround for building from source you should replace

[code]

with
[code]

or maybe
[code]
I assume, based on the download instructions.

Kubernetes 1.15.0 and docker  19.03.1 still has this problem.

[2019-09-02 13:42] oxddr commented on #82186
/sig network

[2019-09-02 13:46] draveness commented on #82180
We need more discussion on how to deprecate it and may start in 1.17

Regards,
Draven
On Sep 2, 2019, 9:10 PM +0800, Adrián <notifications@github.com>, wrote:

[2019-09-02 13:49] kdada opened #82242 "resource.Quantity.String() destroys reflect.DeepEqual()"
**What happened**:

[code]

The result is caused by resource.Quantity.String():
[code]

**What you expected to happen**:

Quantity should not change in a `Get` method.

I think we could simply remove the field `s`, since It just takes a little overhead.

[2019-09-02 13:55] kdada commented on #82242
/sig api-machinery

[2019-09-02 14:19] maikebertpsc commented on #82230
I was also confused lately about this, but it's afaik totally correct.

You specify the memory in Gigabyte, so in thousands of bytes.
If you want to have your expected result you need to configure the memory in GiB (Gigibytes).

Have a look here: https://en.wikipedia.org/wiki/Gibibyte

[2019-09-02 14:31] oxddr commented on #82186
@kubernetes/sig-network-bugs - are you aware of any recent changes that might affect this tests (e.g. https://github.com/kubernetes/kubernetes/pull/81691 judging just by title)? It fails deterministically.

[2019-09-02 14:31] oxddr commented on #82186
/remove-kind bug
Actually @kubernetes/sig-network-test-failures.

[2019-09-02 15:11] Adirio commented on #82180
The implications of that are delaying transforming predicates into Filter
plugins until 1.19, or modifying `framework.RunFilterPlugin` to handle this
configuration parameter.

The signature could be changed to `RunFilterPlugins(pc *PluginContext, pod
*v1.Pod, nodeName string, allwaysCheckAllPredicates bool) []*Status`

[2019-09-02 15:15] #76186 closed

[2019-09-02 15:27] tedyu commented on #82242
How about introducing a DeepEqual func to Quantity which ignores the s field ?

[2019-09-02 16:17] Zetanova commented on #40651
The ordinal index could be used in Set selector
Somehow there is no option to spread the replicas over a set.

It could be implented over an new "Ordinal" operator
The operator could then pick one item of the item based on the oridinal index.
[code]

example to alternate a volumeClaimTemplates
[code]

[2019-09-02 16:22] noyessie commented on #71692
I face the same errors and it seens that It seens that `systemd` have a problems. I'm not remember my last `systemd` version. But update it solve the problems for me.

[2019-09-02 16:22] noyessie commented on #72680
I face the same errors and it seens that It seens that `systemd` have a problems. I'm not remember my last `systemd` version. But update it solve the problems for me.

[2019-09-02 16:35] adisky commented on #81746
dependencies are updated but still facing build isssues in kubetest
https://github.com/kubernetes/test-infra/issues/14164

[2019-09-02 16:37] youurayy commented on #76531
@Letme thanks, apparently the branch `detection1` at `filbranden/runc` has been deleted (as the relevant PR https://github.com/opencontainers/runc/pull/2117 got accepted).
The difference between mine and `filbranden/runc` is that they took it a little further and have removed the systemd checks completely.
So now the the original `opencontainers/runc` repo can be used directly.
I've updated the bu

[2019-09-02 16:39] verb commented on #82158
Thinking about it some more, it's better that we not block on #81941. I'm going to prepare a PR with a `VisitContainersUnconditional`. We can remove it later if necessary, and it'll be a self-contained bug fix that's not blocked on another conversation.

[2019-09-02 17:12] Duerno commented on #72782
I am experiencing the same issue here 😕
Kubernetes version:
[code]

[2019-09-02 17:15] tedyu commented on #82158
minor correction: please use #82192 for future discussion on the mask API.

[2019-09-02 17:41] alejandrox1 commented on #82174
Could be... this PR landed when thing broke https://github.com/kubernetes/kubernetes/pull/81430
See full kubernetes/kuberentes diff here: https://github.com/kubernetes/kubernetes/compare/47214d672...4495d0928

[2019-09-02 17:46] Gangareddy commented on #65500
This is the case with some of my stateful sets (replica=5),  three of them are up and running and the fourth pod is stuck on mount &attach errors.  Restarting does not help. Each claim is backed by a disk volume. I don't see multiple pods contending for the same claim.

[2019-09-02 19:15] thockin commented on #20151
If we wanted to implement this, an option might be for kubelet to open a
named pipe and write the secret value to it once.  The.pod could read it
once.

The problem is that a pod process might crash and restart - are we supposed
to re-offer the secret?

That's why this problem needs design :)

On Sun, Sep 1, 2019, 6:37 PM Mike Bursell <notifications@github.com> wrote:

[2019-09-02 19:35] lachie83 commented on #82174
I've also confirmed that the Endpoint slice feature is indeed enabled on the API server on the test cluster.

[2019-09-02 19:35] neolit123 commented on #82178
In this mode, we have to provide all the certificate : apiserver and apiserver-kubelet-client crt and key.

hi, if you feed a custom ca.crt before `kubeadm init`, kubeadm should be able to generate everything else for you.

i don't think you have to (as per my message above).
but if you wish to generate a kubeconfig for a new user you can have a look at `kubeadm alpha kubeconfig user`.

[2019-09-02 19:44] neolit123 commented on #82178
also don't forget to call `kubeadm reset` before adding the `ca.crt` and `kubeadm init`.

[2019-09-02 19:50] mstrcnvs commented on #58820
Same issue here.

`kubectl describe nodes`

[code]

`df -i && df -h`

[code]

Somehow after some waiting the disk pressure came back to normal (DiskHasNoPressure) as you can see on the "Events" section above. Meanwhile we could not schedule any new pods and some of our pods became unreachable.

Thank you.

[2019-09-02 20:17] alejandrox1 commented on #81846
This has been resolved.
Thank you @aojea !
/close

[2019-09-02 20:32] tedyu commented on #82118
How would the potential conflict between PreFilter plugins be tracked ?

e.g. PreFilter plugins X and Y may have contradictory decision about pods A and B - whether they should be scheduled and the order.

[2019-09-02 20:57] alejandrox1 commented on #81193
This one is kind of stuck until we fix https://github.com/kubernetes/kubernetes/issues/82174
We don't know if the tests in this issue are still failing

[2019-09-02 21:22] mstrcnvs commented on #58820
/reopen /remove-lifecycle rotten

[2019-09-02 21:22] mstrcnvs commented on #58820
/reopen
/remove-lifecycle rotten

[2019-09-02 21:55] Adirio commented on #82118
I think that is part of the work that a PreFilter should do. A PreFilter could order the pods, if they should be scheduled, etc. If there are multiple PreFilters that take this decissions, their order and configuration would determine the result, I guess.

[2019-09-02 22:59] dims commented on #35056
/reopen

[2019-09-03 00:19] hh commented on #82089
objectRef will get us to the specific schema object:
https://swagger.io/specification/v2/#schemaObject

There is a one to many relationship between the objectRef and the operation id:
https://swagger.io/specification/v2/#operationObject

The operation id is unique and gives context for the specific usage of a particular objectRef / kind.

Is there a way for us to calculate the object id from the j

[2019-09-03 00:39] cmluciano commented on #82203
@kubernetes/sig-network-misc Is this something that should be supported? I assume since we validate this as such, then it is intentional.

cc @aledbf @bowei

[2019-09-03 00:39] cmluciano commented on #82203
/assign

[2019-09-03 01:33] RainbowMango commented on #82242
/assign @kdada
I see you are trying to fix the issue you reported.

[2019-09-03 01:39] RainbowMango commented on #82213
/assign @draveness

[2019-09-03 01:44] RainbowMango commented on #81986
/assign @justinsb

[2019-09-03 02:19] zachmandeville commented on #82089
That's a good question, @tallclair .  We want to confidently map an audit event to its corresponding operationId within a swagger.json.  The objectRef feels nearly correct, but the relation between its values and the swagger.json didn't feel clear enough for confidence.

For example, The contents of the objectRef change event to event.  Some have `name` and `namespace` and some don't, and some hav

[2019-09-03 02:28] draveness commented on #78689
/remove-lifecycle stale

[2019-09-03 02:46] WIZARD-CXY opened #82251 "When will we upgrade the etcd client to the new Client Balancer"
**What would you like to be added**:
Since we have already made some upgrade on etcd client with new client balancer
from https://kubernetes.io/blog/2019/08/30/announcing-etcd-3-4/.
**Why is this needed**:
I think k8s needs it because it is more robust and make the etcd traffic more balance.

@jingyih @jpbetz @xiang90

[2019-09-03 02:47] robscott commented on #82174
I think I've got a potential fix. I'll work on getting it cleaned up and better tested and should have a PR ready tomorrow.

[2019-09-03 02:50] liggitt commented on #71087
The issue is the appended port. When using URL-configured webhooks, if the port is specified in
the URL, it is required to also be in the kubeconfig file user names. For example, to provide client credentials to a webhook configured with `https://admission.mytest13579.com:443`, specify `name: admission.mytest13579.com:443`

https://github.com/kubernetes/kubernetes/pull/82252 will add logic to sear

[2019-09-03 02:57] furkanmustafa commented on #47202
Timezone databases, DSTs, are very well maintained by OS distributions, which kubernetes distributions should rely on. The "it's hard work for the distributions" excuse is not valid IMO.

I'd not argue if the concept was called `PeriodicJob` or `RepeatingJob`. But instead, it is called `CronJob`. It is tied with calendar and the clock. There is no denying that timezone awareness is a critical requ

[2019-09-03 03:04] liggitt commented on #62099
no, configmap/secret/downwardAPI/projected volumes are read only

[2019-09-03 04:08] kdada commented on #82242
@RainbowMango I've filed a PR to fix this issue. #82253. In my PR, I removed the field `s`.

There is a PR #82246 has a totally different implementation. It fills the field `s` everywhere.

@tedyu Did you test the following case?
[code]

[2019-09-03 04:50] michelgokan commented on #9043
@vinaykul  Is there any quick "hack" available to resize a particular container without any restart? Something like disabling scheduler for a short while and perform "docker update". Or anything that I can use for a short while. I need something like this for a specific resource tuning project.

[2019-09-03 05:12] jingyih commented on #82251
/sig api-machinery

The new client balancer was backported to v3.3.14+. It will be included in 1.16 release.

/cc @gyuho

[2019-09-03 05:23] Senlian commented on #76956
I have the same problem with version  v1.15.2, the log as follows:
[code]

[2019-09-03 06:57] fankangbest opened #82258 "Always update pod status when pleg.ContainerDied occurs"
**What happened**:
When we delete a pod, the containers in the pod will be stopped by Kubelet, and ContainerDied PLEG Event occurs.
In Kubelet，the container will be removed immediately by  kl.cleanUpContainersInPod(e.ID, containerID) when ContainerDied PLEG Event occurs.
[code]
So there is a chance that the condition of exited container is not updated to pod status.
In this scenario, something une

[2019-09-03 06:58] fankangbest commented on #82258
/sig kubelet

[2019-09-03 07:02] WeAreHadock commented on #82178
Hi,

We reset kubeadm withou any errors.
We put the external ca.crt in default directory (/etc/kubernetes/ssl) and tried `kubeadm init` but we have to provide `--config` parameters (to set images repos, ...) and we have the following error :

`invalid or incomplete external CA: failure loading certificate for API server: failed to load certificate: couldn't load the certificate file /etc/kubernete

[2019-09-03 07:08] WIZARD-CXY commented on #82251
good to know @jingyih thx

[2019-09-03 07:10] fankangbest commented on #82258
/assign

[2019-09-03 07:22] gyuho commented on #82251
https://github.com/kubernetes/kubernetes/pull/81434 is the PR that upgrades etcd client in Kubernetes.

[2019-09-03 07:31] #76147 closed

[2019-09-03 08:44] Adirio commented on #82050
If I understand correctly you want to provide a explicit way of ordering plugins instead of the implicit same-order-as-they-are-configured current way. Integer priorities are ok if you provide a deterministic way of solving draws. Basically the current way is a single priority level and the draw-solving mechanism is definition order, starting by the default plugins. This draw solving mechanism can

[2019-09-03 08:57] webPageDev commented on #47711
Same the problem.My service and pod is running. But the service do not has endpoint,and this situation lasts for 10 hours. It is OK after I restart controller manager. My last operation was to delete the service and create the service again. I have not done any other operations since then.
 Kubernetes V1.11.5

[2019-09-03 09:02] tedyu commented on #82242
The field s is for speeding up String operation. I don't think it should be removed.

For the test case above, I think it is up to the creator of Quantity to fill the field s - we can provide helper func which creates Quantity and fills the field s.

[2019-09-03 09:13] tmonguillon opened #82263 "Choose permissions on secret mounted volume"
**What would you like to be added**:

Just like the `defaultMode` parameter that allows setting permissions on files contained into a mounted secret volume, we should be able to have a parameter that allows setting permissions on the mounted point.

**Why is this needed**:

A pod is created with a given security context [1] and the application which is executed into uses tokens which are generated

[2019-09-03 09:21] kewenwang-ai commented on #82118
Hi, I guess you mean scheduler can schedule a list of pods per cycle?  and the PreFilter will wait all the pods belonging to one CRD and then return the pod list to next step Filter for atomically scheduling. am I understand right? @Adirio
This idea is a little bit like [co-scheduling in the Permit plugin](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduli

[2019-09-03 09:33] tedyu commented on #82242
Another approach is to create a helper func wrapping reflect.DeepEqual where we first call String() on Quantity's involved in the comparison.

[2019-09-03 09:47] yue9944882 commented on #82242
/remove-kind bug

consider use `k8s.io/apimachinery/pkg/api/equality.Semantic#DeepEqual`

[2019-09-03 10:06] yue9944882 commented on #82251
@adohe

[2019-09-03 10:09] Adirio commented on #82118
You udenrstood correctly.

The difference between the co-scheduling in the Permit plugin section that you mentioned is that pods that are waiting in the permit hook have already a node assigned while if they wait in the PreFilter phase and then can be handled as a slice of pods instead of a single pod the decission of where to place each of them can depend on the rest, as you still haven't filtere

[2019-09-03 10:15] wu0407 commented on #82230
1 Giga is 1000000000，but 999997440. why?

[2019-09-03 10:38] neolit123 commented on #82178
please try the default path, it should be /etc/kubernetes/pki.
which means you need to not set `certificatesDir: "/etc/kubernetes/ssl"` in the ClusterConfiguration.

[2019-09-03 10:52] Belogix commented on #78338
@Cherishty - I think I have found the issue and have it working now. I am trying to create a temporary fix that I will share in a couple of hours.

[2019-09-03 10:52] WeAreHadock commented on #82178
Hi,
/etc/kubernetes/pki is a symbolic link to /etc/kubernetes/ssl.

In adition, when we have a look on doc :
(https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#external-ca-mode)

We understand that we have to provide all other certificates and kubeconfig files, so kubeadm init can't generate files in external CA mode, isn't it ?

[2019-09-03 11:00] suryababy commented on #62334
Recently we experienced an interesting production problem. This application was running on multiple AWS EC2 instances behind Elastic Load Balancer. The application was running on GNU/Linux OS, Java 8, Tomcat 8 application server. All of sudden one of the application instances became unresponsive. All other application instances were handling the traffic properly. Whenever the HTTP request was sent

[2019-09-03 11:09] neolit123 commented on #82178
please try without a symbolic link to check if this is a bug.

that part of the doc is out of date.

to explain again how i got it working:
- call kubeadm reset
- i placed `ca.crt` in `/etc/kubernetes/pki`
- call kubeadm init

[2019-09-03 11:11] AndiDog commented on #77826
It's very surprising to silently continue even if KUBECONFIG was not found (especially when `--kubeconfig` works the other way around). Even with a warning, this might in the worst case deploy something to a cluster other than the desired one. So I don't think this issue is fixed.

[2019-09-03 11:53] WeAreHadock commented on #82178
It's still not working we have the same error ...

- We call kubeadm init
- We place the ca.crt in /etc/kubernetes/pki and empty the folder ssl
- We call kubeadm init -v=9 --config kubeadm-config.yaml ( with certificatesDir: /etc/kubernetes/pki in the kubeadm-config.yaml
We have the same error : I0903 13:46:07.556130   14254 initconfiguration.go:186] loading configuration from "kubeadm-config.yaml

[2019-09-03 11:58] neolit123 commented on #82178
try removing the ssl folder / symbolic link completely.
just use the /etc/kubernetes/pki folder.

did you mean "reset" on the first line?

[2019-09-03 11:59] hainesc commented on #81450
/assign

[2019-09-03 12:10] WeAreHadock commented on #82178
Yes the first command is kubeadm reset

I delete the ssl folder and replace the pki which was a link to ssl folder in a folder pki and place the ca.crt.

Still the same error ...

[2019-09-03 12:16] subeeshvasu commented on #50295
For me kubectl didn't work with the above commands, but, it worked after running the following export command on top the above ones.
export KUBECONFIG=$HOME/.kube/config

[2019-09-03 12:17] egasimus commented on #28746
100% agree with @smarterclayton - this is _immenselly irritating_, and I would add completely ridiculous that it has seen hardly any attention since 2016. Workarounds are possible, but should each team dedicate time to deploying a workaround to make essential functionality work? Or is there something wrong with a workflow where one expects to be able to view the status and output of a pod as soon

[2019-09-03 12:30] dims commented on #28746
long-term-issue (note to self)

[2019-09-03 12:38] liggitt commented on #54709
https://github.com/kubernetes/kubernetes/pull/82252 adds testing in integration, which is more reasonable since we control the server invocation

[2019-09-03 12:41] Adirio opened #82265 "[Scheduler] Golang channels to parallelize Node filtering"
**What would you like to be added**:
Stop using the generic parallelizer code from `client-go` in the generic scheduler.

**Why is this needed**:
Currently the generic scheduler is using the `client-go` parallelizer:
https://github.com/kubernetes/kubernetes/blob/c7c89f8c6140e0639dc8ba2d8dcdd6fdbd5409ae/pkg/scheduler/core/generic_scheduler.go#L535

This paralelizer is very generic, the function sig

[2019-09-03 12:41] Adirio commented on #82265
/sig scheduling

[2019-09-03 12:55] ahmad-diaa commented on #71859
/assign

[2019-09-03 13:04] darshanime commented on #82263
/sig storage

[2019-09-03 13:07] gaorong opened #82268 "podIP get lost when pod at terminating state"
**What happened**:
There are some kubelet's bugs that can cause podIP to be lost when  pod at terminating state,
which has led to a serious production accident in our cluster, as some workload controllers (e.g. endpoints controller, custom controller) rely heavily on podIP.

Nowadays, when pod dead and its network tear down, PLEG will get pod status from underlying runtime(e.g. docker) with an emp

[2019-09-03 13:11] neolit123 commented on #82178
looking at your log `cepiserver.crt` is not a file managed by kubeadm, where does it come from?

[2019-09-03 13:20] draveness commented on #82265
I don't think this could improve the performance of the scheduler obviously, but you could send a PR and give the benchmark numbers for the change.

[2019-09-03 13:22] chrisohaver commented on #82008
@dhanvi, CoreDNS already does what is described in https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods.  This is part of the kubernetes DNS spec https://github.com/kubernetes/dns/blob/master/docs/specification.md, which CoreDNS fully implements.

Can you clarify more precisely what you are looking for?

[2019-09-03 13:22] MikeCamel commented on #81127
Stating that the default encryption option should be SecretBox seems too strong, for a number of reasons.  First is that it is still fairly young in terms of maturity (from an implementation crypto peer review point of view), and second is that there is no immediate likelihood of any FIPS certification for it, as I believe that NIST are not yet confident in the algorithms it's implementing.  This

[2019-09-03 13:27] neolit123 commented on #82178
i was able to reproduce the problem on 1.14. do you have the option to move to 1.15, where my above steps should just work?

[2019-09-03 13:28] Adirio commented on #82265
I was not thinking about performance boost, but it looked to me more like C or Python than Golang. Would this change only be useful if it improves the performance?

[2019-09-03 13:49] neolit123 commented on #82178
actually never mind, looks like i made a misted when i tested this.

the logic for external CA even in 1.16 is the following:
- the user provides a `ca.crt`
- they also provides a `apiserver.crt/key` that is the api-server serving certificate signed by the external CA.
- same for `apiserver-kubelet-client.crt/key` which is the kubelet client certificate for the api server

we probably need to add

[2019-09-03 13:50] neolit123 commented on #82178
@WeAreHadock
i will close this ticket and create a new one in the kubeadm repository.
will ping you on that.

/close

[2019-09-03 13:51] #82178 closed

[2019-09-03 13:55] neolit123 commented on #82178
https://github.com/kubernetes/kubeadm/issues/1770

[2019-09-03 13:59] keerthigd opened #82271 "ERROR: KUBE API rule check failed. Reported violations differ from known violations."
**Which jobs are failing**:
A few minutes back, Just after `go get -d k8s.io/kubernetes`, I tried to build the project by running `make`
when I run I get the folllowing error:

[code]
**Anything else we need to know**:
[code]

[2019-09-03 14:00] keerthigd commented on #82271
/sig testing

[2019-09-03 14:01] keerthigd commented on #82271
[code]

[2019-09-03 14:04] keerthigd commented on #82271
I am trying to build the project manually because I have Go setup in my local. After trying to run `make` again, I am getting following errors.
[code]

[code]

[code]

and so on..

[2019-09-03 14:17] keerthigd commented on #82271
after the above 4 errors, the the project has built successfully. But why did I saw the above errors?

[2019-09-03 14:22] oxddr commented on #82186
/remove-kind node
/assign @MrHohn  -  any chance this is related to [your PR](https://github.com/kubernetes/kubernetes/pull/81691)? This is a little wild guess, but from logs it seems that the namespace wasn't deleted, because objects other that pods were not deleted (blob:https://prow.k8s.io/9ca72875-c8a3-4759-9745-c0049f6ed6e6)

[2019-09-03 14:23] oxddr commented on #82186
/remove-sig node

[2019-09-03 14:23] oxddr commented on #82186
/assign @MrHohn
Any chance this is related to [your PR](https://github.com/kubernetes/kubernetes/pull/81691)? This is a little wild guess, but from logs it seems that the namespace wasn't deleted, because objects other that pods were not deleted (blob:https://prow.k8s.io/9ca72875-c8a3-4759-9745-c0049f6ed6e6)

[2019-09-03 14:24] neolit123 commented on #78907
possible fix merged in https://github.com/kubernetes/kubeadm/pulls?q=is%3Apr+is%3Aclosed

[2019-09-03 14:26] draveness commented on #81223
/help-wanted

[2019-09-03 14:31] jsafrane opened #82272 "Azure storage tests are not working"
I am trying to run Azure e2e tests:

[code]

The test creates a volume in the cloud + runs a pod with the volume as in-line. The pod never starts:

[code]

The test creates a "blob" disk, while the Azure machine expects "managed" disk.

Does anyone run storage e2e tests on Azure regularly? Was it ever working? Managed disks are provisioned [by default](https://github.com/kubernetes/kubernetes/blob

[2019-09-03 14:37] jsafrane commented on #82272
/sig azure

[2019-09-03 14:38] jsafrane commented on #82272
/sig cloud-provider

[2019-09-03 14:39] andyzhangx commented on #82272
managed disk should be the default,  the azure disk storage class in the test case may have `kind=Shared`

[2019-09-03 14:41] aroundthecode commented on #79478
any update?

[2019-09-03 15:00] zhan849 commented on #82215
thanks @xiaoanyunfei for proposing the fix, will continue the discussion in your thread

[2019-09-03 15:09] gaorong opened #82276 "kubelet: getnericPLEG still return an empty podIP when get podIP from older cached status"
**What happened**:
Nowadays, when pod dead and its network tear down, PLEG will get pod status from underlying runtime(e.g. docker) with an empty pod IP address. then kubelet tries to get podIP from *PLEG's runtime states cache* and use this pod's old status' IP address, so that the pod IP address will be consistent at its whole lifecycle.

https://github.com/kubernetes/kubernetes/blob/c7c89f8c614

[2019-09-03 15:17] deads2k opened #82278 "Cannot tell which cert controller is started"
There are multiple cert controllers that use the same base struct, so when they log, you cannot differentiate which is which.

[code]

[2019-09-03 15:20] tnozicka commented on #78904
I think such test would be valuable, I can take a look for next release
/assign

[2019-09-03 15:25] zhan849 commented on #82215
lets follow discussion in #80972 and #80973

/close

[2019-09-03 15:26] #82215 closed

[2019-09-03 15:28] alejandrox1 commented on #82182
Failed again. Moving it back to "new"

[2019-09-03 15:32] namratachaudhary commented on #78582
/remove-lifecycle stale

[2019-09-03 15:35] liggitt commented on #82251
/close

[2019-09-03 15:35] #82251 closed

[2019-09-03 15:43] liggitt commented on #82201
last 20 runs are green

[2019-09-03 15:44] tedyu commented on #82242
[code]
Here is test code:
[code]

[2019-09-03 15:45] weibeld commented on #75749
@liggitt Thanks!

[2019-09-03 15:46] ahg-g commented on #81719
Another line of work related to this issue is improving benchmark coverage. We could create another umbrella issue to track the list of features that are currently not benchmarked and make sure we cover them, such as pod affinity (the part implemented as a priority), even pod spreading etc. This will greatly help us as we migrate to the framework.

[2019-09-03 15:47] sttts opened #82280 "pkg/kubelet/dockershim/network/cni/cni_test.go heavily flakes"
The upper test heavily flakes in master:

[code]

[2019-09-03 15:50] sttts commented on #82280
/cc @mars1024

[2019-09-03 15:51] squeed commented on #82280
Hey @mars1024 I think this might have something to do with your changes. Something is definitely a bit off. It probably is a faulty test...

[code]

[2019-09-03 15:51] fOO223Fr commented on #74340
I think this issue is solved by the latest release of etcd 3.4 https://github.com/etcd-io/etcd/blob/master/CHANGELOG-3.4.md

[2019-09-03 15:54] PatrickLang commented on #81760
cc @ritazh @jackfrancis

[2019-09-03 16:00] draveness commented on #81719
SG, I'll update the description.

[2019-09-03 16:02] kayrus opened #82281 "resizefs package has to trigger a block device rescan before resizing the FS"
**What happened**:

In some hypervisors, e.g. VMware, the new volume size is not pushed to the VM after the in-use block device extend, and you have to run the `echo 1 > /sys/block/sdb/device/rescan` manually and resize the FS manually.

**What you expected to happen**:

The `echo 1 > /sys/block/sdb/device/rescan` has to be executed before executing the resize2fs.

The `echo '- - -' > /sys/class/s

[2019-09-03 16:19] liggitt commented on #82280
duplicate of https://github.com/kubernetes/kubernetes/issues/82150?

[2019-09-03 16:22] PatrickLang commented on #74541
Tests added in #74925 and are passing :)

/close

[2019-09-03 16:22] #74541 closed

[2019-09-03 16:26] liggitt commented on #65180
this is not release blocking

[2019-09-03 16:26] lavalamp commented on #68578
/reopen
/lifecycle frozen

On Tue, Sep 3, 2019 at 1:35 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2019-09-03 16:26] liggitt commented on #73286
this is not specific to 1.16 or release-blocking

[2019-09-03 16:27] liggitt commented on #77873
I'm not aware of any activity on this issue targeting 1.16

[2019-09-03 16:29] kayrus commented on #82281
@kubernetes/sig-storage-bugs

[2019-09-03 16:32] liggitt commented on #71087
/priority important-soon

to fix resolution to be consistent for webhook GA

[2019-09-03 16:33] liggitt commented on #81052
are there further changes for this targeted at 1.16?

[2019-09-03 16:40] liggitt commented on #82130
leaving in the milestone for visibility as we root cause whether this is a test-only issue or not

[2019-09-03 16:45] logicalhan commented on #76956
These should be fixed in 1.16.

[2019-09-03 16:46] ahg-g commented on #82184
We will add this as one of the work items sig scheduling will be working on in 1.17 (no completely deprecate in 1.17, but start the conversation, KEP and sync with sig arch)

[2019-09-03 16:52] Belogix commented on #78338
I am having issues pushing to my repo right now but basically I am using the Windows Services approach and in `register-svc.ps1` I changed lines 57 - 65 to this:

[code]

If you are using the `start.ps1` script to run the components manually you need to check that lines 52 - 57 are being run correctly ( https://github.com/microsoft/SDN/blob/master/Kubernetes/flannel/start.ps1#L52-L55 ).

The main

[2019-09-03 16:55] sl4dy opened #82285 "Horizontal Pod Autoscaler does not scale down if upscaled PODs are not ready"
**What happened**:
HPA scaled replica up, however, some PODs stayed Pending as there was not enough CPU:

[code]

Meanwhile to CPU utilization decreased but the replica stayed upscaled:

[code]

I had to add an additional worker node to add more CPU, the PODs went to Ready state and then replica was downscaled:

[code]

**What you expected to happen**:
The replica is downscaled even if PODs are no

[2019-09-03 16:58] MrHohn commented on #78549
/remove-lifecycle stale

[2019-09-03 17:00] vinaykul commented on #9043
We have an [implementation](https://github.com/huawei-cloudnative/kubernetes/tree/vertical-scaling) for v1.11 based on our [original design](https://docs.google.com/document/d/18K-bl1EVsmJ04xeRq9o_vfY2GDgek6B6wmLjXw-kos4/). You may have to port it to the version you're interested in, and may need bug fixes - we are not maintaining it anymore as the current design being considered for upstream is s

[2019-09-03 17:14] tnozicka commented on #58711
/remove-lifecycle stale
(there is work being done in https://github.com/kubernetes/kubernetes/pull/77870 )

[2019-09-03 17:15] soggiest opened #82287 "[FLAKE] [sig-autoscaling] [Feature:HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability"
**Which jobs are failing**:
ci-kubernetes-e2e-aks-engine-azure-1-16-windows

**Which test(s) are failing**:
[sig-autoscaling] [Feature:HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability

**Since when has it been failing**:
8/31/2019

**Testgrid link**:
https://

[2019-09-03 17:17] derekrprice commented on #64137
Sorry, no.  The kernel/systemd bug that this works around requires cleanup
to run on the host node.  You could convert this to a cron job and install
it explicitly on each K8s host node but I was explicitly trying to avoid
that since we are in AKS and would have had to reinstall the job with every
node rebuild due to a K8s update and with every scale-up operation.

On Fri, Aug 30, 2019 at 6:20 PM

[2019-09-03 17:20] ahg-g commented on #82180
This is not a user-facing feature, it is an admin facing one, so I think the following applies: "GA: 6 months or 1 release (whichever is longer)"

As to how this is going to be deprecated, I think it depends on what impact does setting this value to true have (i.e., why would anyone change the default value). This flag does not change how the system behaves from the user's perspective, it controls

[2019-09-03 17:25] #82184 closed

[2019-09-03 17:34] msau42 commented on #82281
/assign @gnufied

[2019-09-03 17:35] zigmund commented on #67577
We've migrated our production clusters to patched kernel and now I can share you some interesting moments.
Statistics from one of our cluster - 4 nodes of 72 core E5-2695 v4 @ 2.10GHz, 128Gb RAM, Debian 9, 5.2.7 kernel with patch.
We have mixel load consist mostly of golang services, but also have php and python.

Golang. Latency is lower, setting correct GOMAXPROCS is absolutely must-have. Here i

[2019-09-03 17:46] hh commented on #80770
We've attempted to identify schema fields that are feature gated by inspecting the description field.

We have opened a issue to incorporate into the openapi schema via `x-schema-field-featuregate` or similar:   https://github.com/kubernetes/kubernetes/issues/81759

This allowed us to find these 4 GA schema fields that required feature gates.

The feature gating of a schema field seems unrelated t

[2019-09-03 17:51] prune998 commented on #67577
Thanks @zigmund.
I'm not sure I get it when you say ` I setted correct GOMAXPROCS`...
I assume you're not running only one pod on the 72 cores node, so you set `GOMAXPROCS` to something lower, maybe equal to the Pod's CPU Limits right ?

[2019-09-03 18:26] mstrcnvs commented on #66961
Hi there @joelsmith
I am having a similar problem and this part caught my attention:

Reading the `df -Hi` output I can see "IUse%" as 9%, from my understanding this means that 9% is being used, not 9% is free (91% is free indeed).

We may be facing something similar on our project, random DiskPressure alerts without a clear cause. I am trying to monitor `df -i` while executing common processes we

[2019-09-03 18:26] stutteringp0et commented on #76531
I can confirm the @youurayy fix works on Kub 1.14 and 1.15

Thanks!!!

[2019-09-03 18:29] MikeSpreitzer commented on #76699
/priority important-soon

[2019-09-03 18:31] lachie83 commented on #76699
/milestone v1.16

[2019-09-03 18:35] joelsmith commented on #66961
@mstrcnvs in the original report, it was the bytes used, not inodes used, which triggered the evictions. I was referring to this part of the original report:

[code]
As you can see, the `/` volume only had 9% free.

[2019-09-03 18:45] smarterclayton commented on #82242
There are plenty of objects with hidden state in Kube which are not DeepEqual due to side effects.

I don't consider this a bug.

[2019-09-03 19:06] Swetad90 opened #82290 "Statefulset Pod are evicted , but containers are not killed"
**What happened**:
On Deploying a statefulset, when the node is low on resource, the pod gets evicted and is scheduled on another node. But the container on the failed node keeps on running. Kubelet keeps on giving the below error:

    Aug 30 20:29:36 staging-node-4 kubelet[2173]: I0830 20:29:36.358238    2173 kubelet_pods.go:1073] Killing unwanted pod "thanos-compactor-0"
    Aug 30 20:29:36 sta

[2019-09-03 19:07] Swetad90 commented on #82290
/sig node

[2019-09-03 19:08] chiluk commented on #67577
Thanks @zigmund.  The go changes are pretty much in line with what was expected.

I'm really surprised by the python improvements though as I expected the GIL to largely negate the benefits of this.  If anything this patch should almost purely decrease response time, decrease percentage of periods throttled, and increase cpu utilization.  Are you sure your python application was still healthy?

[2019-09-03 19:09] maplain commented on #80040
looks a lot like an issue filed before: https://github.com/kubernetes/kubernetes/issues/71829

[2019-09-03 19:11] happilymarrieddad commented on #40244
I want to run all my services with the `http` protocol behind the load balancer but I have 1 service that requires `https`. Is there a way to allow both? Thanks!

I was wondering if there was a way to do this with the `nginx.ingress.kubernetes.io/configuration-snippet`?

Is there a way I can write a rule if a certain subdomain matches then it pushes to a servicePort of 443 otherwise it uses the sp

[2019-09-03 19:12] mstrcnvs commented on #66961
Ah ok, understood.

In our case neither one is at high usage.

[code]

Yesterday we received "DiskPressure" health check alert in our only node and it lasted for approximately 20 mins. The node started to evict pods and such.

I am suspecting the inode usage got a peak but I can't find why.

Thank you for the attention.

[2019-09-03 19:18] andrewsykim commented on #80040
This is a known issue across all cloud providers at the moment, @yastij is working on a KEP right now that addresses this https://github.com/kubernetes/enhancements/pull/1116, however, the problem is a bit thorny as it requires coordination from a number of different components (controller manager, scheduler and the kubelet) and errors can lead to data corruption in certain situations. Will let @y

[2019-09-03 19:18] liggitt commented on #71925
included in https://github.com/kubernetes/website/pull/15982

[2019-09-03 19:21] ahg-g commented on #82180
@Huang-Wei @bsalamat do we have examples from the past on deprecating parameters from the scheduler's Policy? I asked a question on the #wg-component-standard slack channel to understand which rule applies to this case.

[2019-09-03 19:22] DirectXMan12 opened #82292 "Large CRDs go over size limits (e.g. those with embedded podspecs)"
Over in KubeBuilder land, we've started to see issues around very large validation blocks going over size limits.  Thus far, it's mainly just been the client-size-apply-induced annotation limit, but I worry that when we've start getting multiple versions -- we might go over the 1M limit.  For instance, see https://github.com/kubernetes-sigs/kubebuilder/issues/962, which has  single-version 700k CR

[2019-09-03 19:23] DirectXMan12 commented on #82292
/sig api-machinery

[2019-09-03 19:33] mishaque opened #82293 "Kubelet service fails to start"
**What happened**:
Kubelet service fails to start

**What you expected to happen**:
Kubelet service should start without error after installation

**How to reproduce it (as minimally and precisely as possible)**:
yum install kubeadm
systemctl restart kubelet && systemctl enable kebelet

**Anything else we need to know?**:
Here is the error from service:
`Sep 03 15:22:25 lxappstrlprd002 audispd[148

[2019-09-03 19:36] jsafrane commented on #82272
The volume is created outside of kubernetes dynamic provisioning to test pre-provisioned and inline volumes:

https://github.com/kubernetes/kubernetes/blob/975d0736b35d966c50383f794c0114a34fbcd9e4/test/e2e/framework/providers/azure/azure.go#L63

I wonder if anyone actually runs the tests.

[2019-09-03 19:42] dcvtruong commented on #74741
Now running K8s 1.13.10 and it seems the completed (cronjob) pods are not automatically remove.  I thought this was resolved in 1.13.3

[2019-09-03 19:47] raesene opened #82295 "Authentication audit logging - denote the authentication mechanism used."
**What would you like to be added**:

Logging for the authentication mechanism used by a user for requests to the API server.

**Why is this needed**:

At the moment Kubernetes does not put the mechanism used to authenticate a user into it's audit logs.  As Kubernetes supports multiple authentication mechanisms, this could lead to a circumstance where an identical username is defined under differe

[2019-09-03 19:47] raesene commented on #82295
/sig auth

[2019-09-03 20:21] liggitt commented on #56787
no activity in current milestone, removing milestone

[2019-09-03 20:35] hh commented on #80770
/cc @lavalamp

[2019-09-03 20:36] hh commented on #81759
/cc @lavalamp

[2019-09-03 20:37] hh commented on #82089
/cc @lavalamp

[2019-09-03 20:41] wyardley opened #82296 "Kubernetes unnecessarily requiring quoting on numeric env vars"
**What happened**:
[code]

**What you expected to happen**:
For the deployment to get applied

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
libraries like jsyaml and PyYAML etc. write out YAML 1.1 by only quoting numeric strings when necessary. So, a number with a leading 0 _and_ which contains non-octal characters (e.g., 8 or 9) wil

[2019-09-03 20:48] liggitt commented on #82130
I spent a while trying to recreate this and could not (again). I made one of the tests hotloop with QPS 100 doing get/update of the status subresource, then ran that in parallel with the other integration tests in the package. No failures found after running for ~10 minutes.

Updated description with testgrid link to locate recent flakes (https://k8s-testgrid.appspot.com/google-unit#integration-ma

[2019-09-03 21:10] tallclair commented on #70890
Sorry, I was commenting on the general class of issues like this, not for probes specifically. I just checked and don't see any `io.Copy` calls in the probe path, so I think we can close this.

[2019-09-03 21:25] alejandrox1 commented on #82201
Fantastic! Thank you @odinuge for working on this!
/close

[2019-09-03 21:25] #82201 closed

[2019-09-03 21:27] lachie83 commented on #82186
@MrHohn can you please let the 1.16 release team if you are going to be able to investigate and provide if you can help an approximate time for a fix?

[2019-09-03 21:27] ConnorDoyle commented on #81009
/assign

[2019-09-03 21:32] MrHohn commented on #82186
@oxddr @lachie83 Acked, I'm looking into the failure and will provide an update soon.

[2019-09-03 21:33] lachie83 commented on #82186
Fantastic! Thanks for the update @MrHohn

[2019-09-03 21:34] #76699 closed

[2019-09-03 21:46] NicolasT commented on #57534
Just ran into this as well, an environment where nodes are only connected to specific networks without any kind of `default` route. Took me quite a while to debug what was going on, despite the fact I ran into this exact same issue a couple of months ago.

Anyway, the work-around is quite simple: create *a* (*any*) valid route for the *Service* network on the host(s) such that requests to them get

[2019-09-03 21:57] yastij commented on #80040
This is intended to be fixed  by kubernetes/enhancements#1116, the current KEP reflects a part of the solution, but we still need to update it to make workload opt-in into this behavior.

/priority important-soon

[2019-09-03 22:20] lavalamp commented on #82089
The openapi spec doc should have enough information to build a deterministic mapping from url -> operation ID if you want to do that. Regexps don't seem like the right tool for that job, unless you're writing a script that processes the "paths" section of the openapi spec document and combines all the paths into an enormous, monster regexp. Probably better to just write something or use e.g. https

[2019-09-03 22:25] lavalamp commented on #82089
...and it's probably good to make sure you use the live spec document from the cluster in question to be certain you don't have any skew issues.

[2019-09-03 22:27] lavalamp commented on #82089
(P.S. if you are using regexp due to something like working with a DB, I suggest just pre-processing the data to add whatever identifier you want.)

[2019-09-03 22:31] roycaihw commented on #82130
iiuc, the error comes from apiserver [comparing](https://github.com/kubernetes/kubernetes/blob/18559013ec0e8d3f4290b4c83386a404e148ec3b/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L276-L278) the [requested obj](https://github.com/kubernetes/kubernetes/blob/18559013ec0e8d3f4290b4c83386a404e148ec3b/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/update.go#L174) UID against the [watch

[2019-09-03 22:34] soggiest opened #82298 "[Failing Test] [sig-network] DNS configMap nameserver [IPv4]"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-serial

**Which test(s) are failing**:
[sig-network] DNS configMap nameserver [IPv4] Change stubDomain should be able to change stubDomain configuration [Slow][Serial]
[sig-network] DNS configMap nameserver [IPv4] Forward external name lookup should forward externalname lookup to upstream nameserver [Slow][Serial]
[sig-network] DNS configMap na

[2019-09-03 22:35] tao12345666333 commented on #73286
GO 1.13 is out now. :upside_down_face:

[2019-09-03 22:45] #74884 closed

[2019-09-03 22:46] lavalamp commented on #80770
There is currently no programmatic way to determine the relationship between feature gates and api object fields or validation rules.

A thing in this category that we'd consider is showing or hiding fields based on whether a feature is enabled, but this has never won a prioritization session.

Feature gates that completely prevent an api from being installed are reflected by that api being absent

[2019-09-03 22:53] BenTheElder commented on #73286
per discussion in #sig-release, I don't think we'll be jumping to go 1.13 just yet, possibly early 1.17?
the build scripts will need a fair bit of work, amongst other things.

[2019-09-03 22:53] lavalamp commented on #81759
This design was approved by SIG API Machinery but never implemented: https://docs.google.com/document/d/1wuoSqHkeT51mQQ7dIFhUKrdi3-1wbKrNWeIL4cKb9zU/edit (join kubernetes-dev, kubernetes-announce, or kubernetes-sig-api-machinery groups for access).

[2019-09-03 22:59] dsmontoya commented on #44559
I can confirm this weird issue. Is this only happening on node? I have both golang and node services and only the node service was affected.

[2019-09-03 23:01] hh commented on #82089
That's excellent information @lavalamp

We've tried preprocessing before but still had to spend a lot of Memory and CPU to match the path and verb to locate the correct operation id.

We could try and retrieve the live spec during our prow jobs and save it, however I'm unsure if this makes sense for Conformance as it's my understanding we are wanting to compare against a static definition.

I thin

[2019-09-03 23:01] #80462 closed

[2019-09-03 23:01] #54709 closed

[2019-09-03 23:01] #71087 closed

[2019-09-03 23:06] roycaihw commented on #82130
the triage page seems to be stale, filed https://github.com/kubernetes/test-infra/issues/14186

[2019-09-03 23:07] MrHohn commented on #82186
Yep, this is related to https://github.com/kubernetes/kubernetes/pull/81691. With service finalizer enabled by default, deleting the namespace (including services) now takes longer --- it now blocks on all the underlying load balancer resources to be cleaned up. It is expected that the latency for resource clean up might be longer on large cluster (such as in this test).

I will soon send a PR to

[2019-09-03 23:27] tao12345666333 commented on #73286
I agree with you. There are a lot of changes in GO 1.13.

[2019-09-03 23:51] roycaihw commented on #82130
talked with @liggitt offline, we get it reproduced by adding some delay to the watch cache:
[code]
[code]

as @liggitt suggested preconditions should retry on stale watch data instead of surfacing such error, this is not a test issue. I will send a fix

[2019-09-04 00:03] paulnivin commented on #82195
kubelet /stats/summary API. For "large" pods, we confirmed that cri-o/cgroupfs calculations were being generated correctly and CPU data overflows at the kubelet CRI stats provider layer. Overflows of CPU data in /stats/summary results in metrics-server having bad data which further propagates to the HPA scaling Pods incorrectly.

[2019-09-04 00:13] tedyu commented on #82242
I think we can give the fields which mutate after certain operations known prefix so that a helper can be written to perform DeepEqual immune to side effects.

@smarterclayton
What do you think ?

[2019-09-04 00:27] MrHohn commented on #82186
Sent https://github.com/kubernetes/kubernetes/pull/82301 to fix this.

[2019-09-04 00:30] sethp-nr opened #82302 "Extended resources via kubelet configuration"
**What would you like to be added**:

A kubeadm-compatible mechanism for managing extended resources. A possible approach can be found in #81858.

This would (in my mind) establish parity around the "node feature advertisement" that node labels offer for extended resources.

**Why is this needed**:

In short, the existing mechanisms for managing extended resources don't well cover our use-case. Th

[2019-09-04 00:33] sethp-nr commented on #82302
cc @dashpole @dchen1107

I didn't catch the name of the other person asking for more details on the SIG node meeting, would one of you loop them in?

[2019-09-04 00:47] hangxie opened #82304 "kubeadm join phase preflight: [ERROR HTTPProxy]: parse https://xxxx::1:2a: invalid port ":2a" after host"
**What happened**:
With kubadm 1.15.3, running `kubeadm join phase preflight` returned
[code]
We run same configuration without  problem under 1.15.0, 1.15.1, and 1.15.2.

**What you expected to happen**:
All patches within 1.15 maintain backward compatibility (preferred) or document all incompatibility issues (less preferred).

**How to reproduce it (as minimally and precisely as possible)**:
We

[2019-09-04 01:09] zouyee commented on #82293
` open /var/lib/kubelet/config.yaml: no such file or directory`

[2019-09-04 01:14] xiaoanyunfei commented on #82296
/sig cli
/sig api-machinery

[2019-09-04 01:22] ahmad-diaa opened #82306 "Unnecessarily Exported MaxInt in scheduler api types"
MaxInt const is exported in scheduler api https://github.com/kubernetes/kubernetes/blob/6cb788c80e93bf0292f0a846ff1b55f690fcc970/pkg/scheduler/api/types.go#L31 although it is not needed to be exported. It is only used by `plugins_test.go`.

https://github.com/kubernetes/kubernetes/pull/81263#discussion_r317606153 discussed that the common practice is to have API constants in `defaults.go`

/sig sc

[2019-09-04 01:24] xiaoanyunfei commented on #82285
/sig autoscaling

[2019-09-04 01:25] ahmad-diaa commented on #82306
cc @alculquicondor @ahg-g

[2019-09-04 01:34] draveness commented on #82265
I understand golang has a preference on using channel instead of sharing memory when communicating between goroutines, but I don't see the value of doing this without performance improvement.

1. If you pass an unbuffered channel to the parallelizer, there is a chance it could increase the cost of context switching.
2. If you pass a buffered channel to the parallelizer, it could take a lot of memo

[2019-09-04 02:13] smarterclayton commented on #82242
Why do we need to do that?

On Tue, Sep 3, 2019 at 8:14 PM Ted Yu <notifications@github.com> wrote:

[2019-09-04 02:16] hangxie commented on #82304
@kubernetes/sig-cluster-lifecycle-bugs

[2019-09-04 02:21] tedyu commented on #82242
The helper would make deep equal check idempotent (reducing surprises as shown in the description).

[2019-09-04 02:23] smarterclayton commented on #28746
The biggest issue is that there are resource consumption problems involved
with log retrieval, such as whether we block and how long we can safely
block for, whether we can cause resource exhaustion on the Kubelet, whether
this is purely client side or something console UIs can also use.

Ultimately to fix this we need to improve the error path on the kubelet,
the apiserver passing it along, and t

[2019-09-04 02:25] smarterclayton commented on #82242
There is no real requirement that deep equal apply in this case.  We have
semantic deep equal to cover these cases when talking about objects in
Kube.  If there's bugs in semantic deep equal, we should fix those.

On Tue, Sep 3, 2019 at 10:21 PM Ted Yu <notifications@github.com> wrote:

[2019-09-04 02:26] tedyu commented on #82242
What do you think of the error shown in https://github.com/kubernetes/kubernetes/issues/82242#issuecomment-527517315 ?

[2019-09-04 02:47] hainesc commented on #81450
@monester Thanks for the report.

It was caused by the code that starts container serially. See https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L814-L816. The `start` function calls `startContainer` which do
* pull the image
* create the container
* start the container
* run the post start lifecycle hooks (if applicable)

So, as in your case, the

[2019-09-04 02:55] kdada commented on #82242
@smarterclayton I don't think it's a bug. I consider that it's a convention problem.

`resource.Quantity` changes itself by the `String()` which is a `GET` method. `resource.Quantity.String()` only affects when the receiver is a pointer. That means it may have two behaviors in an object.

ex. corev1.Pod:
[code]

1. Marshaling `corev1.Pod` won't change anything.
2. `fmt.Print()` changes `EmptyDirVo

[2019-09-04 03:15] hainesc commented on #81450
/sigs kubelet

[2019-09-04 03:20] #82130 closed

[2019-09-04 03:27] danielqsj commented on #82295
/cc

[2019-09-04 03:50] #22680 closed

[2019-09-04 03:59] yue9944882 commented on #82292
/cc

[2019-09-04 04:07] mars1024 commented on #82280
@squeed Looks like an occasional failure, and I don't think this is caused by my code change because I run tests for a few times, and sometime it is passed....
Still I can help to locate the root cause.

[2019-09-04 04:12] BobyMCbobs opened #82312 "[Umbrella Issue] PodSpec endpoints"
Here are some untested PodSpec endpoints that new tests will be written for, which will be prioritised in this order:
- [readinessGates](https://github.com/kubernetes/kubernetes/issues/82313)
- [prorityClassName](https://github.com/kubernetes/kubernetes/issues/82545)
- hostIPC
- [hostPID](https://github.com/kubernetes/kubernetes/issues/82547)

[2019-09-04 04:15] BobyMCbobs commented on #82312
/sig testing

[2019-09-04 04:40] hh commented on #82312
/area conformance

[2019-09-04 04:40] hainesc commented on #81227
Hi @kharunsamuel1 how is the process going?

[2019-09-04 04:42] BobyMCbobs opened #82313 "PodSpec - new readinessGates test"
Umbrella issue: #82312

/area conformance
/sig testing

[2019-09-04 04:42] justinsb commented on #73099
Thanks @ttousai .  PR is available and awaiting review!

[2019-09-04 05:08] zigmund commented on #67577
@prune998 sorry, maybe misspelling. I set GOMAXPROCS = limits.cpu. At the moment we have about ~110 pods per node in this cluster.

@chiluk I'm not strong in python and don't know how patch affected at lower layer. But application is healthy with no issues, I've checked it after kernel change.

[2019-09-04 06:14] Adirio commented on #82265
Locks have also the potential to have a high context switch cost, but I agree unbuffered channels could have that issue.

A buffered channel's memory consumption could be limited to the number of nodes to consider (between 5% and 50% of the total number of nodes with a minimum of 100 nodes). Right now an array of that size is being used, so the only relevant memory increase would be when extractin

[2019-09-04 06:14] srobinson commented on #65797
What is the status of this feature/PR? This is something we are really interested in.

[2019-09-04 06:17] wojtek-t commented on #73286
Go 1.13 has a performance regression (again) - we're actively working with golang folks to debug it:
https://github.com/golang/go/issues/32828
Until this one is done, we're not ready for any upgrade.

[2019-09-04 06:32] justaugustus commented on #73286
@wojtek-t -- Can you open an accompanying tracking issue for this performance regression in k/k, link https://github.com/golang/go/issues/32828, and then link that back here?

In future, can we (SIG Release + Release Team + the wider project) **_please_** get some advance heads-up on this?
The golang issue was opened two months ago, and having that context ahead of time would've preempted much of

[2019-09-04 06:33] mars1024 commented on #82280
I revert my code change, test still fails from time to time...

[2019-09-04 06:53] #74469 closed

[2019-09-04 07:55] bogere commented on #50295
sometimes especially if you on Mac OS, just enable kubernetes on your Docker desktop for Mac.
Ensure that it is running , that is what i did to resolve the above error.
![Screenshot 2019-09-04 at 9 55 13 AM](https://user-images.githubusercontent.com/7900382/64236120-6bfae600-cf02-11e9-9213-75f9c1215711.png)

[2019-09-04 08:05] yue9944882 commented on #82292
@sttts we can probably lessen the CRD size by supporting `$ref` declarative from the OpenAPI schema..

[2019-09-04 08:20] michelgokan commented on #9043
@vinaykul Very nice. Just 2 more questions: Is this In-Place resizing works together with different [QoS types](https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/) (guaranteed, burstable,best-effort)? Also, does it support [static CPU manager policy](https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/)?

[2019-09-04 08:38] khteh commented on #79365
I get the same issue:
[code]
[code]
Here is my HPA spec:
[code]
Wonder why this only happens to ONE StatefulSet but not the others?

[2019-09-04 09:19] wgliang commented on #82180
_the semantics of this configuration parameter can't be supported, and so it is better to remove this parameter._

I agree with that deprecate it. And I originally wanted to set it as the default behavior(FYI:#56926). But this does not seem to be the real reason. More precisely, it seems that the user does not have the will to update `alwaysCheckAllPredicates`.

[2019-09-04 09:54] TheAifam5 commented on #73056
Thats really annoying bug. It costs me so much time . First, I was thinking that the Pod got restarted because of memory limit or something, then after disabling the limits, has same issue so I tried to port-forward but my internet went down 🤯

[2019-09-04 10:00] zakthan commented on #79512
@rikatz yes kube-iptables-tailer looks like a fine logging mechanism as it creates events for every packet pod.
I will definitely give that a look.
Thank you very much

[2019-09-04 10:00] #79512 closed

[2019-09-04 10:18] verb commented on #82158
Although it's incorrect behavior, I don't think this is a bug in practice. The goal is to drop alpha fields from EphemeralContainers in 2 cases: create & update.

This isn't an issue for create, because all of the ephemeral containers will be dropped if `features.EphemeralContainers` is disabled (and ephemeral containers aren't allowed on create, anyway).

For pod updates, we want to drop updates

[2019-09-04 10:34] farmer-hutao opened #82323 "kubectl describe secret got "namespace: 12bytes""
**What happened**:
When I use `kubectl describe secret xxx`, I got something like:
ca.crt: 1025 bytes
namespace: 12bytes

I wander if it should be some info more useful?
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
1.13.1
- Cloud provider or ha

[2019-09-04 10:35] farmer-hutao commented on #82323
/sig cli

[2019-09-04 10:57] LSmyrnaios opened #82326 "Support newer versions of docker: 19.x"
**What would you like to be added**:
Support for newer docker versions: 19.x

**Why is this needed**:
New users trying to use kubernetes install the latest docker version. It's inconvenient see the following warning and have to uninstall docker and then install an older version.

`[WARNING SystemVerification]: this Docker version is not on the list of validated versions: 19.03.2. Latest validated

[2019-09-04 10:57] liggitt commented on #82323
describe intentionally does not print text content of secrets, just the keys and enough info to see how much data is contained in each

/close

[2019-09-04 10:57] #82323 closed

[2019-09-04 11:01] beautytiger commented on #72956
@BenTheElder:
I want help.
let me work on thses files:
- ./test/cmd/diff.sh
- ./test/cmd/discovery.sh
- ./test/cmd/legacy-script.sh

[2019-09-04 11:05] LSmyrnaios commented on #82326
/sig usability

[2019-09-04 11:05] aymankh86 commented on #82131
I replaced kubernetes-client default version with 4.4.2 still didn't work. I tried 4.3.1 then worked for me? is this issue will be fixed in future version of spark?

[2019-09-04 11:12] dims commented on #82326
@LSmyrnaios you could work with sig-testing and sig-node to set up CI jobs when new versions of Docker shows up. Believe me, it's more inconvenient to debug failures in a new docker version as a end use than the downgrade. We have to have some CI coverage of a version before we ok its use by the community.

[2019-09-04 11:16] yue9944882 commented on #82242
?

[2019-09-04 11:17] AdamWyzgol opened #82327 "Environment variable from secret pass in different way than from plain text"
**What happened**:
When using secret to pass DB_PASSWORD to jboss/keycloak container, application fail to start with wrong password error, when password is passed using value as plain text everything is working fine

**What you expected to happen**:
It should working the same, both using value and valueFrom secret.

**How to reproduce it (as minimally and precisely as possible)**:
Error occured wh

[2019-09-04 11:24] AdamWyzgol commented on #82327
@kubernetes/sig-apps-bug

[2019-09-04 11:27] AdamWyzgol commented on #82327
@kubernetes/sig-apps-bugs

[2019-09-04 11:31] LSmyrnaios commented on #82326
Hi @dims,
I'm new to this, so I'm not sure how to apply your suggestions about "sig-testing", "sig-node" and "CI jobs".

Is there any documentation that I could use?

[2019-09-04 11:54] venkatsc commented on #70503
/reopen

[2019-09-04 11:57] venkatsc commented on #70503
@saad-ali ReadOnly can also be specified as mount flag through PV.spec.mountOptions or StorageClass.mountOptions

[2019-09-04 12:16] dims commented on #82326
SIGs are teams working on specific areas of kubernetes
- https://github.com/kubernetes/community/tree/master/sig-testing
- https://github.com/kubernetes/community/tree/master/sig-node

All our test infrastructure for CI jobs ("Continuous Integration") is in:
- https://github.com/kubernetes/test-infra

Out test-grid is here (please type docker in the search box on top to see the current CI jobs):
-

[2019-09-04 12:22] jansony1 commented on #68734
its very useful

[2019-09-04 12:54] RainbowMango commented on #81028
@mikedanese @enj

For `overall latency`, how about this:
[code]

[2019-09-04 12:57] RainbowMango commented on #81028
per authenticator latency

Does the authenticator here mean the user?
If possible, please help some more detail instructions for the metrics we wanted.

[2019-09-04 13:05] bg-chun commented on #82160
This week, I'm working on updating `LinuxContainerResources` to set a hugepage limit over CRI message for a test.
https://github.com/kubernetes/enhancements/pull/1199

This issue also requires to update `LinuxContainerResources`.
If the above test goes well, I will check to update `LinuxContainerResources` to support to update `cgroup.clone_children` is requiring extensive changes or not.

[2019-09-04 13:14] mogaal commented on #49926
@jhoblitt I was facing the same issue until 10 min ago, I realised there is a problem/bug with the kubernetes-plugin I was using. I solved upgrading to 1.18.3 the kubernetes-plugin for Jenkins.

[2019-09-04 13:34] kverstr commented on #73480
As an addition to @lolzyloz comment. We were under the impression we could add existing SG's to the ELB by adding the "service.beta.kubernetes.io/aws-load-balancer-extra-security-groups" annotation.
This works, **however the "service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags" annotation is adding tags to this existing SG as well. Which is not what you want for an existing SG.**

[2019-09-04 13:34] ahg-g opened #82331 "Deprecate nodeSelector"
**What would you like to be added**:
nodeSelector functionality is covered by node affinity, and so we should consider deprecating the old nodeSelector API.

**Why is this needed**:
Remove redundant functionality and code.

/sig scheduling
/cc @draveness

[2019-09-04 13:36] draveness commented on #82331
/assign

[2019-09-04 13:43] mars1024 commented on #82280
I think i've found out the root cause, I'll pull a request soon, @sttts @squeed . cc @liggitt

[2019-09-04 13:49] neolit123 commented on #82293
hi, this is not a bug.
the kubelet that the kubeadm packages deploy is crashlooping until you run `kubeadm init`, so you are going to see this error.

once you run `init` it the `config.yaml` file will be created.

i'm going to clsoe this but please ask if you ahve further questions.

/close

[2019-09-04 13:49] #82293 closed

[2019-09-04 13:50] neolit123 commented on #82304
a PR for that merged and will be available in 1.16:
https://github.com/kubernetes/kubernetes/pull/82267

your workaround for 1.15 is to add `--ignore-preflight-errors=HTTPProxy`

[2019-09-04 13:50] neolit123 commented on #82304
/close

[2019-09-04 13:50] #82304 closed

[2019-09-04 13:53] k82cn commented on #82331
AFAIK, we can not remove fields of kind without change the version of API; is it possible to reject pod creation if deprecation cycle expired?

/cc @liggitt

[2019-09-04 13:54] neolit123 commented on #82278
/sig auth

[2019-09-04 13:55] ahg-g commented on #80639
We should think about leveraging even pod spreading for this and completely deprecate the [selector_spreading.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/priorities/selector_spreading.go) priority function.

For example, allow admins to configure the scheduler with a default spreading policy using even pod spreading API embedded in the scheduler's component con

[2019-09-04 13:56] neolit123 commented on #81508
/sig api-machinery

[2019-09-04 13:57] liggitt commented on #82331
no, the field will not be removed from the v1 Pod API

[2019-09-04 13:57] liggitt commented on #82331
/close

[2019-09-04 13:57] #82331 closed

[2019-09-04 13:58] liggitt commented on #82331
See https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-parts-of-the-api

https://kubernetes.io/docs/reference/using-api/deprecation-policy/#fields-of-rest-resources

[2019-09-04 14:02] ahg-g commented on #82184
nodeSelector can't be deprecated because it is a GA feature, see: https://github.com/kubernetes/kubernetes/issues/82331

[2019-09-04 14:06] Adirio commented on #82180
If this falls into the 6 months or 1 version category and it gets deprecated for 1.16, it can be removed for 1.17 that is when the framework will enter the beta stage.

[2019-09-04 14:07] draveness commented on #82331
In the current documentation https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity, it says

Do we need to remove the statement from the website to avoid further confusion (this is the second time I saw these kind of questions) or this will probably be removed from in API v2

[2019-09-04 14:07] draveness commented on #78891
FYI: https://github.com/kubernetes/kubernetes/issues/82331

[2019-09-04 14:11] liggitt commented on #82331
the statement should be removed from public facing documentation for now

[2019-09-04 14:16] saifrahmed commented on #76995
For those noting this isn't possible, i'm a big confused:

When deploying pods requesting more GPUs than are available, the deployment will remain in pending state until the other deployment is gone. Specifically, a kubectl describe pod will note " Insufficient nvidia.com/gpu" suggesting that kubectl knows about GPU resources and availability.

[code]

[2019-09-04 14:24] mikedanese commented on #81028
Authenticator here means which authenticator performed the authentication (Client TLS, service account token, etc...). I think overall latency would also be useful but I might try to do that with tracing logs. Let me take a look.

[2019-09-04 14:35] #58790 closed

[2019-09-04 14:35] rajansandeep commented on #82298
/assign
The fix for this has already been merged: https://github.com/kubernetes/kubernetes/pull/82274

[2019-09-04 14:49] prksu commented on #79830
Hi @bergmeister in the future `kubectl run` will only generate the simple `pod` see https://github.com/kubernetes/kubernetes/pull/68132

i consider adding the `kubectl create pod` is not necessary here

[2019-09-04 14:55] BenTheElder commented on #73286
FWIW I just forgot to mention it there ... The Kubernetes performance issue
was in the golang 1.13 release tracking milestone which made it pretty
visible to anyone looking into this. It's also been discussed in other
threads

On Tue, Sep 3, 2019, 23:34 Stephen Augustus <notifications@github.com>
wrote:

[2019-09-04 16:14] thomas-riccardi commented on #34146
/reopen

We got bit by this issue with kubectl 1.15.3 and a YAML dumper that defaults to YAML 1.2 ([ruamel](https://yaml.readthedocs.io/en/latest/)): forcing it on YAML 1.1 has a side effect of also emitting the `%YAML 1.1` version directive, which breaks `kubectl`:
[code]

(and with `%YAML 1.2`:
[code]
)

The only way is to generate a YAML 1.1 file with *no* version directive, which should not be

[2019-09-04 16:23] Huang-Wei commented on #80639
I agree even pod spreading can be more flexible than the "implicit" `selector_spreading` priority. However, we should only deprecate that once even pods spread gets to Beta.

@alculquicondor Yes, we need a KEP and involve end-users to pick their brain if appropriate.

[2019-09-04 16:33] Huang-Wei commented on #82180
@ahg-g I'm not aware of any previous example which can be referenced here.

Given that **(1)** the scheduler component config is in version v1alpha1 (under the hood we care about the policyConfig), and **(2)** removing this doesn't impact end-users - it only brings in _indifferent_ debugging inconveniences.

Is it OK to mark it as a Deprecated flag for now (in 1.17)? Or you want to totally remove

[2019-09-04 16:44] hoyho opened #82339 "kubectl logs should show default container's log if no container specified"
**What would you like to be added**:
kubectl logs command should show default container's log if no container is specified

**Why is this needed**:
If there's more than one container in a pod, command like `kubectl logs your-pod` will fail. However, we can make it to output default container's log if no specified container name is following. Command like `kubectl exec your-pod sh ` can choose defa

[2019-09-04 16:46] hoyho commented on #82339
/sig cli

[2019-09-04 16:50] chrishiestand commented on #34146
/reopen

[2019-09-04 17:00] vinaykul commented on #9043
Resizing applies to Guaranteed and burstable QoS classes, and changing QoS class of a running Pod is not allowed. That code does not check for CPU manager policy - so it would incorrectly update non-integral requests for static policy nodes.

[2019-09-04 17:06] gnufied commented on #69843
/remote-lifecycle stale
/lifecycle frozen

[2019-09-04 17:15] alejandrox1 commented on #82186
Reopening this one to track the job's health https://prow.k8s.io/job-history/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness
/reopen

[2019-09-04 17:19] jwatte commented on #75565
People with MacBooks in the office complain about this too. People with windows/linux/vmware laptops seem to be doing better. Maybe they're just less concerned about battery life?
Some setting that makes things poll, say, once every 2 seconds instead of 10 times a second would be useful.

[2019-09-04 17:20] alejandrox1 commented on #82298
Thank you @soggiest for creating this one!
We can track the job's health in here https://prow.k8s.io/job-history/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial while testgrid is being worked on

[2019-09-04 17:32] gnufied commented on #82190
Another related problem is - for raw block devices because `SetUpDevice` does both NodeStage and NodePublish and lets say if `NodeStage` succeeded but `NodePublish` failed - we never record successful `NodeStage` in the code because `MarkDeviceAsMounted` and `MarkVolumeAsMounted` is called one after the other and this creates problems when trying to recover from error.

[2019-09-04 17:36] ahg-g commented on #80639
Yes, we need to wait until even pod spreading is in Beta. We can start with the KEP to make progress on how the component config API will look like.

[2019-09-04 17:37] gnufied opened #82340 "CSI Raw block error recovery is problematic"
It looks like recovery from errors on nodestage and nodepublish is problematic for raw block devices because currently both are clubbed into one operation - `SetUpDevice`.

So what happens if staging succeeds but publishing fails? In that case - volume state is *not* recorded in volume_manager and as a result when pod will be deleted, no `NodeUnstage` will be performed.

/sig storage
cc @msau42 @v

[2019-09-04 17:37] gnufied commented on #82340
cc @kubernetes/sig-storage-bugs

[2019-09-04 17:37] gnufied commented on #82190
For now I am tracking issue with raw block devices as a separate item - https://github.com/kubernetes/kubernetes/issues/82340

[2019-09-04 17:38] gnufied commented on #82340
/label csi

[2019-09-04 17:41] haircommander opened #82341 "service hairpin test fails when run with CRI-O"
**Which jobs are failing**:
CRI-O CI
**Which test(s) are failing**:
Services should allow pods to hairpin back to themselves through services
**Since when has it been failing**:
Since https://github.com/kubernetes/kubernetes/pull/81955 merged
**Testgrid link**:
https://openshift-gce-devel.appspot.com/build/origin-federated-results/pr-logs/pull/cri-o_cri-o/2759/test_pull_request_crio_e2e_fedora/681

[2019-09-04 17:42] haircommander commented on #82341
/sig network
/cc @danwinship
/cc @mrunalp

[2019-09-04 17:42] ahg-g commented on #82180
Is it considered v1alpha1 though? it is under pkg/scheduler/api/v1, that is why is confusing me.

It *could* impact preemption performance: if we run through all predicates, there is a higher chance of finding an unresolvable filtering decision. But I don't expect that to be a reason why someone would flip this flag.

As a first step, we will be fine with just deprecating it, the part that I am co

[2019-09-04 17:42] msau42 commented on #82340
Related: https://github.com/kubernetes/kubernetes/issues/73773

[2019-09-04 18:01] danwinship commented on #82341
what network plugin does this run with?

[2019-09-04 18:05] haircommander commented on #82341
we configure bridge and loopback

[2019-09-04 18:21] danwinship commented on #82341
adding `"hairpinMode": true` to the bridge CNI config should fix it, I think.

[2019-09-04 18:28] ahg-g commented on #82180
I suggest we take a semi-conservative approach here: mark it as deprecated and keep supporting it for a year for predicates only. It has no user facing impact other than a log message, which is not really part of the API's definition I presume.

[2019-09-04 18:31] haircommander commented on #82341
I'll try that, thanks!

[2019-09-04 18:59] andrewsykim commented on #77493
/assign

[2019-09-04 19:12] hh commented on #82312
hostIPC and hostPID will be a bit different on Windows.

[2019-09-04 19:12] hh commented on #82312
/cc @bclau @PatrickLang

[2019-09-04 19:35] hh commented on #82089
/assign @timothysc

[2019-09-04 19:46] SleepyBrett opened #82346 "Kubelet marking pods as not ready when all containers are ready (and seem to be running fine)"
**What happened**:

We occasionally get alerts from our monitoring system that indicate that certain pods that we run as daemonsets are not ready. Upon inspection the pods seem perfectly healthy (logs are flowing work is being done). A `kubectl describe` of the pod shows:

[code]

(in our specific case these pods are kube-proxy, flannel, veneur, & kube2iam)

None of these pods have defined readine

[2019-09-04 19:49] SleepyBrett commented on #82346
/sig node

[2019-09-04 19:54] jhoblitt commented on #49926
@ishantanu I don't believe I was seeing this problem with 1.2 but it's been awhile since I've tested with that version.

@mogaal This problem is present outside of pods managed by jenkins.

[2019-09-04 19:56] haircommander commented on #82341
@danwinship that worked, thanks!

[2019-09-04 19:56] #82341 closed

[2019-09-04 20:10] ryanmcnamara commented on #82346
I saw this issue: https://github.com/kubernetes/kubernetes/issues/80968 which could explain it
But only if your node the pod was running on went into an unknown state

[2019-09-04 20:15] johnbelamaric commented on #82089
Not in the long run. However, if it's just for the purpose of calculating coverage it's still at least roughly meaningful. I don't see a need to shift right now. Instead, let's get the behavior lists done and then use those. I think I am the blocker right now on that, I need to get back and add more implementation details to the KEP.

Interesting question. Coverage is trying to measure our tests,

[2019-09-04 20:20] SleepyBrett commented on #82346
I did some prometheus searching... it seem to effect all pods on the node regardless of defined readiness probe.

![image](https://user-images.githubusercontent.com/279521/64288340-b4bc9a00-cf16-11e9-8b67-db866093d9c7.png)

[2019-09-04 20:25] lavalamp commented on #82089
It's the opposite, you need to pre-process the audit data.

You should use a pre-built (i.e., minimal) spec for judging conformance
coverage.

You can use the cluster's live spec for determining if the cluster has
absent functionality or has disabled it, instead of running the tests
anyway and claiming it's broken. (Either way it'd be a failure, of
course, unless there's some sort of profile thing

[2019-09-04 20:26] SleepyBrett commented on #82346
This looks like it might be the same issue, i do see several kubelet statuses go unknown during the event (pidpressure, memorypressue, diskpressure, ready)

[2019-09-04 20:30] johnbelamaric commented on #80770
+1. Once it is GA, shouldn't we clean up the feature gate?

[2019-09-04 20:32] hh commented on #81759
/assign @timothysc

[2019-09-04 20:44] liggitt commented on #80770
Yes, we do. Once GA, we lock the gate on (so it cannot be turned off), announce deprecation, then remove in 2 releases.

[2019-09-04 20:54] liyanhui1228 commented on #75049
Tried reproducing this by deploying that pod using the yaml file, and this seems like already been fixed in someway. We could mark this as fixed if it cannot be reproduced any more. cc @yujuhong

[code]

[code]

[2019-09-04 21:00] yujuhong commented on #75049
@benmoss could you still reproduce the issue?

[2019-09-04 22:56] misterikkit commented on #25625
Assuming that this issue tracks server-side drain, and not a "which node to drain" suggestion feature, I think we should implement it.

FYI, https://github.com/kubernetes/kubernetes/pull/82152 was discovered while testing a custom drain implementation (using client-go rather than kubectl). Without server-side drain (or at least a common library) k8s will behave differently depending on who is drai

[2019-09-04 23:02] mohamed3laa33 commented on #72775
Hi All I am facing the same issue on EKS did anyone found a solution ?

[2019-09-04 23:35] Dieken commented on #81451
@dashpole  They occupy disk space, interfere with log collection and debugging, may slow down  docker to scan container list.

Let's think on the other side, what's the point to keep dead containers for several weeks, months or even years? This can indeed happen with current container gc settings as discussed above.

[2019-09-04 23:45] dashpole commented on #81451
As stated above, this allows them to be inspected even after they are in a terminated state.  If users want the dead containers to be deleted, they are free to delete the pod that is in the failed state.

Occupying disk space isn't a downside unless the kubelet doesn't reclaim it when it is by pods.
It doesn't appear to interfere with log collection based on our discussion above.
Do you have any b

[2019-09-04 23:49] johnbelamaric commented on #82089
@hh is talking about how we measure the progress of our conformance test development/program, not how we measure the conformance of a specific cluster. That is, we are measuring coverage right now by looking at the APIs hit by the e2e conformance tests vs the ones defined in the spec for things that are "potential conformance" APIs - meaning non-optional GA things.

one-- they don't have to be exa

[2019-09-04 23:56] devaips opened #82351 "PodSpec - new prorityClassName test"
Under Umbrella issue: #82312

/area conformance
/sig testing

[2019-09-05 00:00] devaips commented on #82312
PodSpec - new prorityClassName test #82351

[2019-09-05 00:03] devaips commented on #82351
Potential test to look into for getting started: [sig-scheduling] PreemptionExecutionPath runs ReplicaSets to verify preemption running path

[2019-09-05 00:22] #82169 closed

[2019-09-05 01:11] liggitt commented on #82327
How was the `keycloak-postgres` secret created?

[2019-09-05 01:32] lavalamp commented on #82089
Ah, OK.

I think both are needed-- not having the right spec will also break clients. How well do we cover the spec in the test suite?

I think API Machinery should own this, it's been thought of numerous times before and just never prioritized. There's probably issues out there for it already. We'd need some example "inert" objects to run it, but that seems like a reasonable thing to require.

[2019-09-05 01:37] ganchandrasekaran commented on #60807
In many of the cases you might have Metric-Server installed. When the pods you deploy in a specific namespaces looks for metric gathering. It hangs on with the Metric-server. So even after you delete all the resources in that namespace, metric-server is somehow linked to that namespace. Which will prevent you from deleting the namespace.
This post helps you identify the reason why you cannot delet

[2019-09-05 01:51] zq-david-wang commented on #82230
Are you using qos reserved feature, or something else alike? Could you list your kubelet configuration?

[2019-09-05 01:52] gnufied commented on #73773
I tend to agree but this also means that `SetupDevice` call will do `NodeStage` and also create pod volume symlink (which is currently done in `MapDevice`). This would also mean that `MapDevice` will do `NodePublish` and create volume level symlink. If we take this route - CSI will be an exception and all the other plugins will create both pod and volume links in `MapDevice` call. I am not sure I

[2019-09-05 02:11] VigneshSP94 commented on #82339
I am a beginner dev, would love to contribute to the project Kubernetes. I can take this up if some contributors can mentor me with implementing this 👍

[2019-09-05 02:13] zouyee opened #82352 "[Failing Test] [sig-node] RuntimeClass"
**Which jobs are failing**:
ci-kubernetes-node-kubelet-orphans

**Which test(s) are failing**:
[sig-node] RuntimeClass should reject a Pod requesting a deleted RuntimeClass [cos-stable1]

**Since when has it been failing**:
https://github.com/kubernetes/kubernetes/compare/28e800245...bfd8610dd?

**Testgrid link**:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-orphans

**Reason for failure*

[2019-09-05 02:19] humblec commented on #73773
@mkimuram it looks like https://github.com/kubernetes/kubernetes/pull/74026 was an attempt to seperate stage and publish calls for block volume which is very much required. Any particular reason to not getting this PR into completion ?

[2019-09-05 02:29] zouyee commented on #82352
/close

[2019-09-05 02:39] msau42 commented on #77570
/remove-lifecycle rotten
Is this still an issue? cc @humblec

[2019-09-05 03:00] tedyu commented on #69843
https://github.com/container-storage-interface/spec/blob/master/lib/go/csi/v0/csi.pb.go gives 404

[2019-09-05 03:16] yue9944882 commented on #82339
sgtm

[2019-09-05 03:18] liggitt commented on #82158
I think I agree with that logic

[2019-09-05 03:18] hoyho commented on #82339
There's already a branch to fix it. https://github.com/hoyho/kubernetes/tree/feat/default_log

[2019-09-05 03:21] VigneshSP94 opened #82354 "Project structure"
So I was reading this nice IBM [article ](https://developer.ibm.com/opentech/2017/06/21/tour-kubernetes-source-code-part-one-kubectl-api-server/) on Kubernetes code base walkthrough, but I could not find the files that the author has mentioned.

For example, he is taking a peek at create.go under the location https://github.com/kubernetes/kubernetes/tree/master/pkg/kubectl/cmd , but I do not see t

[2019-09-05 03:26] adamlamar commented on #46861
This error message can also be caused by accidentally specifying both `valueFrom` (from the secret) and `value` (from a literal value) as keys. Once `value` is removed, the error goes away and `kubectl apply` works correctly.

[2019-09-05 03:31] apjneeraj commented on #74986
Same here too in k8s 1.12(kops cluster). But interestingly it happened after I enforced reservations for memory/cpu. Earlier it was showing correct units

I used following snipped from here to apply the limits:
https://github.com/kubernetes/kops/issues/3762#issuecomment-356478668

[code]

[2019-09-05 03:41] dwbrown2 commented on #77570
I unfortunately don't have access to a cluster w/ glusterfs right now so can't confirm at the moment.

[2019-09-05 03:47] #77508 closed

[2019-09-05 03:58] apjneeraj commented on #74986
So, the issue does not appear if I reduce the set limit from
[code]
to
[code]
Also, reduced the limit for
[code]
I think it then does not convert it millibytes.

[2019-09-05 04:22] wu0407 commented on #82230
kubelet running command
[code]
/etc/kubernetes/kubelet.kubeconfig
[code]

[2019-09-05 04:29] morvencao commented on #80313
I can reproduce this issue, but the webhook server outage time is about 5 mins instead of 15mins.

I have also tried to modify the `tolerationSeconds` from default `300s` to `60s`, to make the webhook server pod can be rescheduled to new node in about 1 mins, and the webhook server outage time to reduced.

My k8s version is 1.15:
[code]

is the dead tcp connection is the root cause of this issue?

[2019-09-05 04:30] humblec commented on #77570
@dwbrown2 the metrics for glusterfs was tested in a great extent and never heard such reports. So, wondering is this still an issue ? if not, we may close this and reopen or open an issue accordingly.

[2019-09-05 04:42] dwbrown2 commented on #77570
Happy to close and reopen if I can repro again.

[2019-09-05 04:42] #77570 closed

[2019-09-05 05:37] pohly commented on #78739
/remove-lifecycle stale
/assign

[2019-09-05 05:44] Dieken commented on #81451
I'm not sure whether you have read the issue description,  will you inspect a dead container that exited several months ago?

Of course I can do GC it myself, I can do log collection myself too,  what's the benefit to kubernetes project and community?

It's lucky I keep using as few features of kubernetes as possible.

@SataQiu Thank you very much for your time to contribute the patch, let's not w

[2019-09-05 05:44] #81451 closed

[2019-09-05 05:51] beautytiger commented on #82013
how about let me working on this?
/assign

[2019-09-05 06:05] AdamWyzgol commented on #82327
using kubectl create, password was from file, user from literal if I remember. Anyway in postgres pod it's working as expected

[2019-09-05 06:15] #75686 closed

[2019-09-05 06:15] #75594 closed

[2019-09-05 06:15] #76079 closed

[2019-09-05 06:20] andyzhangx commented on #65890
/reopen

[2019-09-05 06:26] tedyu opened #82358 "kubernetes-node-e2e fails"
Here was a recent run:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/82318/pull-kubernetes-node-e2e/1169446696074088448/build-log.txt

where we can see:
[code]
[code]

[2019-09-05 06:42] k82cn commented on #82180
+1, it's better to follow deprecated process to do that :)

I'm not sure whether it's the case in k8s, but there are some cases in other product that the customized features dependent on log message, e.g. monitoring.

`Policy` by scheduler is `v1`, and `ComponentConfig` is `v1alpha1`. Two different features, so different version; although they try to resolve the same problem. Regarding `v1.Policy`

[2019-09-05 06:59] george-angel commented on #58065
/remove-lifecycle stale

[2019-09-05 07:23] #77108 closed

[2019-09-05 07:26] RainbowMango commented on #81028
Following is overall latency dump from my local up cluster. Is it ok?
[code]

Definition of the metric:
[code]

[2019-09-05 07:36] hongli-my opened #82359 "kube-scheduler bind is async, scheduler-extender how to maintain node/pod cache"
**What would you like to be added**:

**Why is this needed**:
according to  [scheduler-extender](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/scheduler_extender.md)

we can configure scheduler.conf  extenders section:  filterVerb, prioritizeVerb, bindVerb.
but, kube-scheduler  filter and prioritize is sync, bind is async,  before bind will call  assu

[2019-09-05 07:37] verult commented on #78737
/remove-lifecycle stale

[2019-09-05 07:37] hongli-my commented on #82359
/sig scheduling

[2019-09-05 08:08] wjentner opened #82361 "iptables are spammed with entries in the KUBE-FIREWALL chain"
# TL;DR:

iptables versions `1.8.1` and `1.8.2` have a bug causing rules of type
[code]
to be infinitely added to the `KUBE-FIREWALL` chain.
These iptable versions are currently in use in **Debian buster**.

## Workaround:

Change alternatives to use `iptables-legacy` instead of `iptables-nft`:
[code]

Also, be aware of:  #71305

## Solution:

Update the iptables package to `>=1.8.3`. [At the time

[2019-09-05 08:09] zouyee commented on #82358
@kubernetes/sig-node-test-failures

[2019-09-05 08:17] #69620 closed

[2019-09-05 08:17] huisebug commented on #79373
I also have the same question. Do I need to change the configuration of the kubelet service?

[2019-09-05 08:24] wjentner commented on #82361
/sig network

[2019-09-05 08:38] Strange-Account opened #82362 "api server discards oidc settings"
**What happened**:
apiserver discards oidc settings

**What you expected to happen**:
apiserver accepts and uses oidc settings

**How to reproduce it (as minimally and precisely as possible)**:
Insert into /etc/kubernetes/manifests/kube-apiserver.yaml

    - --oidc-ca-file=/etc/ssl/certs/oc_ca.crt
    - --oidc-client-id=kubelogin
    - --oidc-groups-claim=groups
    - --oidc-issuer-url=https://KEY

[2019-09-05 08:43] max-rocket-internet commented on #72775
@mohamed3laa33

see https://github.com/kubernetes/kubernetes/issues/78761 and https://github.com/kubernetes/kubernetes/issues/78712

[2019-09-05 08:43] pohly commented on #82013
I forgot that I had opened a bug for this. https://github.com/kubernetes/kubernetes/pull/82176 fixes all of the aspects of this problem.

[2019-09-05 08:45] pohly commented on #82013
@beautytiger: But thanks for your offer to help nonetheless!

[2019-09-05 08:51] luisdavim commented on #53459
any plans of making this possible? I have a infra inventory controller and CRDs and I have to duplicate some data into labels to be able to find resources based on specific criteria.

[2019-09-05 08:51] oxddr commented on #81890
I will try to have a look into this one.
/assign @oxddr

[2019-09-05 08:53] oxddr commented on #80963
/sig autoscaling
/remove-sig scalability

scalability != autoscaling :)

[2019-09-05 08:56] mohamed3laa33 commented on #72775
Hi @max-rocket-internet I couldn't find the solution in these documents can you please guide me to it

[2019-09-05 09:00] max-rocket-internet commented on #72775
There is no solution. A fix has been merged that might fix it. You need to wait until EKS has been updated with a k8s version that includes this fix.

[2019-09-05 09:01] axot commented on #52817
I think it still happening in 1.13, why this issue was closed?

[2019-09-05 09:02] oxddr commented on #82186
Yesterday's run has failed due to problems with creating a test cluster. Hopefully we get an answer whether the fix has helped today.

[2019-09-05 09:05] Strange-Account commented on #82362
/sig auth

[2019-09-05 09:06] axot commented on #52817
![image](https://user-images.githubusercontent.com/611054/64328137-e2cdd700-d007-11e9-8d43-0853abf81a58.png)

[2019-09-05 09:14] mohamed3laa33 commented on #72775
@max-rocket-internet  Thanks alot

[2019-09-05 09:18] oxddr commented on #82182
I will try to have a look at this.
/assign @oxddr

[2019-09-05 09:45] krzysied commented on #82069
Comparing plots for first 30 minutes of density test:
- Watch strategy
![image](https://user-images.githubusercontent.com/25119199/64330035-88fdea80-cfd0-11e9-86d8-99a669a244f2.png)
- Cache strategy
![image](https://user-images.githubusercontent.com/25119199/64330584-82bc3e00-cfd1-11e9-97ea-a96087509794.png)
- Cache strategy that starts 3 goroutines with each get (each goroutine allocates 200B and

[2019-09-05 09:51] zq-david-wang commented on #82230
it turns out to be a behavior of linux kernel which would round the memory to multiple of mem page size which is normally 4096

https://github.com/torvalds/linux/blob/6f0d349d922ba44e4348a17a78ea51b7135965b1/mm/page_counter.c#L263

Never notice this subtlety before....
Keen observations~

[2019-09-05 09:59] huisebug commented on #79373
Mounting command: systemd-run
Mounting arguments: --description=Kubernetes transient mount for /var/lib/kubelet/pods/ce377816-cfc2-11e9-b56c-00163e02d405/volumes/kubernetes.io~nfs/pvc-c9eb5a05-cf7e-11e9-b56c-00163e02d405 --scope -- mount -t nfs ng-prometheus-k8s-db-prometheus-k8s-0-pvc-c9eb5a05-cf7e-11e9-b56c-00163e02d405 /var/lib/kubelet/pods/ce377816-cfc2-11e9-b56c-00163e02d405/volumes/kubernete

[2019-09-05 10:04] markusschaber commented on #28369
I came here looking for a fix for this problem, just to be disappointed as there's no fix, and the issue was autoclosed by the bot. :-(
/reopen

[2019-09-05 10:41] wojtek-t opened #82364 "NetworkProgrammingLatency regressed in 5k-node clusters"
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=Network&metricname=Load_NetworkProgrammingLatency&Metric=NetworkProgrammingLatency

We regressed between 8/28 and 8/31, basically from: ~30s to 300s+.

Knowing the internals, it's probably that we have more node restarts (or kube-proxy restarts) or sth like that.

This may (or may not) be related to these flakes:
https://github.co

[2019-09-05 10:43] wojtek-t commented on #82364
@kubernetes/sig-scalability-bugs

Please take a look when you have a chance
/assign @oxddr

[2019-09-05 11:17] liggitt commented on #82362
Can you clarify what you mean by "restarts without the settings"?

[2019-09-05 11:18] dims commented on #82358
fix is here https://github.com/kubernetes/test-infra/pull/14203

[2019-09-05 11:25] wojtek-t commented on #82069
xref https://github.com/kubernetes/kubernetes/issues/80209

[2019-09-05 11:25] wojtek-t commented on #80209
xref https://github.com/kubernetes/kubernetes/issues/82069

[2019-09-05 11:31] roytman commented on #65200
I work with K8s 1.13 and observed that GC works when

If required, I can provide a simple test example.

[2019-09-05 11:34] kverstr opened #82369 "ELB tags will overwrite tags on existing Security group"
**What happened**:
Creating this Service created a LB in AWS, which is what we want.
But we added the service.beta.kubernetes.io/aws-load-balancer-extra-security-groups annotation to add an existing SG to this LB. This also works, but because we specified tags for our LB, it overwrites the existing tags on the SG with these tags. And that's not something that should happen.

[code]

**What you exp

[2019-09-05 11:40] kverstr commented on #82369
/sig aws

[2019-09-05 11:51] dims commented on #82354
@VigneshSP94 this is an active project, so lots of movement in the code base. That article is from 2017 as well, so lot of things under the bridge.

@bradtopol can you please help? :)

/close

[2019-09-05 11:51] #82354 closed

[2019-09-05 11:56] caretak3r commented on #79723
Any subsequent updates to the cluster, reverts all configurations back to 0.0.0.0/0. EKS was updated from eks.2 to eks.3. Which somehow triggered the changes with istio.

[2019-09-05 12:21] liggitt commented on #65200
It does not work reliably. If you set up a relationship like that, then restart the controller manager, the dependent will usually be deleted (because the uid-indexed owner cache is not populated yet)

[2019-09-05 12:28] roytman commented on #65200
I mean that in my case the dependent is deleted without restart the controller manager. It is quite reproducible.

[2019-09-05 12:29] xmudrii commented on #79523
@justinsb @mcrute As we are in the code freeze and this issue is still not fixed, I'll move it to the 1.17 milestone. I'm also going to add the PR that fixes this issue to the milestone. If there are any concerns, please ping me or ping SIG-Release on Slack.

/milestone v1.17

[2019-09-05 12:30] xmudrii commented on #81490
@spiffxp Is this something we are still targeting for 1.16 or can we move it to 1.17?

[2019-09-05 12:31] xmudrii commented on #74375
@spiffxp Any update on this? Is this still targeted for 1.16?

[2019-09-05 12:32] liggitt commented on #65200
That is the expected/desired behavior, but is racy, so *sometimes* the cross-namespace relationship does not result in deletion until restart. Because it is racy, environmental factors like load and performance (both of the API server and controller manager) can affect results.

[2019-09-05 12:34] xmudrii commented on #69376
@lavalamp @liggitt @janetkuo This issue and the relevant PR are open for a long time now. Should we move this to the next milestone or should we remove this from the milestone entirely?

[2019-09-05 12:37] roytman commented on #65200
I see, thanks

[2019-09-05 12:39] xmudrii commented on #70707
As this issue has no activity for a longer time and has a good record of being moved from milestone to milestone, I'm going to remove milestone from it. If you would like to add it back, please ping me or ping SIG-Release on Slack.

/milestone clear

[2019-09-05 12:40] xmudrii commented on #71677
@timothysc What is the status of this issue? Should we move it to the next milestone?

[2019-09-05 12:43] xmudrii commented on #76342
As this seems to have no activity and the code freeze started, I'm moving it to the next milestone.

/milestone v1.17

[2019-09-05 12:44] xmudrii commented on #80546
@justaugustus Do we have any update on this?

[2019-09-05 12:45] xmudrii commented on #77019
As this issue has no activity, I'll move it to the next milestone.

/milestone v1.17

[2019-09-05 12:46] xmudrii commented on #74282
@johnSchnake Any update on this?

[2019-09-05 12:49] xmudrii commented on #72252
This issue has no activity for a long time, so I'll remove it from the milestone. If there are any concerns, please ping me or SIG-Release on Slack.

/milestone clear

[2019-09-05 12:49] xmudrii commented on #70249
@tallclair @yuwenma Any update on this? Should we move it to the next milestone?

[2019-09-05 12:50] xmudrii commented on #78164
The code freeze has started a few days ago. I'll move it to the next milestone, but if there are any concerns please let me know.

/milestone v1.17

[2019-09-05 12:51] xmudrii commented on #81491
@spiffxp What is the status of this issue? Should we move it to the next milestone?

[2019-09-05 12:53] xmudrii commented on #72828
@lmdaly Any update on this? It seems like all release-critical PRs are merged. Do we want to move it to the 1.17 milestone?

[2019-09-05 12:55] xmudrii commented on #81052
@spiffxp Any update on this?

[2019-09-05 12:58] krzysied commented on #82069
Comparing plots for first 30 minutes of density test, based on number of goroutines:
- Cache strategy - 0 goroutines
![image](https://user-images.githubusercontent.com/25119199/64343113-35999580-cfec-11e9-8b71-84a65f98ec38.png)
- Cache strategy - 3 goroutines
![image](https://user-images.githubusercontent.com/25119199/64343387-c3758080-cfec-11e9-8bf3-acacaaba2ef1.png)
- Cache strategy - 30 gorouti

[2019-09-05 12:59] neolit123 commented on #74282
/milestone v1.17

[2019-09-05 13:01] xmudrii commented on #78562
@chrisohaver Any update on this? Should we move it from the milestone?

[2019-09-05 13:08] wojtek-t commented on #82069
Good findings. So the next step is to probably check whether with smaller number of goroutines (like 3), but allocating visibly more memory (a bunch of smaller and larger chunks) how it looks.

[2019-09-05 13:09] liggitt commented on #69376
A change this low-level needs more soak time. Moving to 1.17

/milestone v1.17

[2019-09-05 13:09] amelbakry commented on #50569
I developed a controller to provide this time based scaling feature, we are using it since 6 months on tier 1 production applications  > https://github.com/amelbakry/kube-schedule-scaler

[2019-09-05 13:10] xmudrii commented on #73099
@justinsb What is the PR in question? Is it targeting 1.16 or 1.17?

[2019-09-05 13:12] liggitt commented on #82327
can you inspect the secret and verify the base64-decoded `password` key contains the correct data (with no trailing newline, etc). It is possible a special character is accepted by the postgres pod, but not the jboss/keycloak pod

[2019-09-05 13:16] chrisohaver commented on #78562
@wojtek-t, I presume this issue is not occurring with the current version of COS (whatever that is) and CoreDNS (1.6.2)?

[2019-09-05 13:22] lmdaly commented on #72828
@xmudrii All the PRs have been merged so the milestone is 1.16. I was planning to close the issue when the 1.16 release was out, or what is the standard practice?

[2019-09-05 13:22] #76263 closed

[2019-09-05 13:22] #75647 closed

[2019-09-05 13:22] #75592 closed

[2019-09-05 13:22] #73810 closed

[2019-09-05 13:24] wojtek-t commented on #78562
Resource usage of CoreDNS 1.6.2 is amazing - it's way better than it was and this one could be closed as obsolete.

[2019-09-05 13:24] #78562 closed

[2019-09-05 13:30] liggitt commented on #24855
correct, closing
/close

If we do, it will start with a KEP

[2019-09-05 13:30] #24855 closed

[2019-09-05 13:33] manishbansal8843 commented on #27768
`kubectl logs job/job_name` does not work for me. Although, my jobs are listed by `kubectl get jobs`. However, the pods created by those jobs are gone. Further, there is no pod name inside events section of job description. Is there any way to keep pod alive until job is not deleted? As mentioned [here](https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/), we can keep the j

[2019-09-05 13:33] AdamWyzgol commented on #82327
You're right, I'm trying everything except such trivial thing, in file with password I had new line character, I'm closing this issue

[2019-09-05 13:33] #82327 closed

[2019-09-05 13:41] xmudrii commented on #72828
@lmdaly I think that sounds okay. :+1:

[2019-09-05 13:58] ahg-g commented on #82180
I think we should move everything currently under api/ to apis/, the part that is related to configuring the scheduler (e.g., Policy) should move under apis/config (i.e., component config), the other parts that we expose for extenders should move to apis/extenders for example, and each should have its own versions. kubelet does this: https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet

[2019-09-05 14:01] vivekj11 commented on #82167
Found the solution for this requirement-

- First installed kube-state-metrics on my cluster to get all cluster resource details.
- Deploy metricbeat on the cluster to fetch generated metrics (generated by kube-state-metrics)
- used "event" metricset that comes along with metricbeat-kubernetes modules.

[2019-09-05 14:01] #82167 closed

[2019-09-05 14:09] liggitt commented on #49489
still an issue. updated reproducer:

[code]

[code]

[2019-09-05 14:14] denysvitali commented on #58512
Since Traefik's container doesn't include the `/bin/tar`command, I solved my problem by using a Pod that runs `alpine:latest` and shares a volume with Traefik's pods.

[code]

Then I use `kubectl --namespace=kube-system cp data.toml traefik-cp-pod:/mnt/data/` to copy file to / from Traefik's volume.

Obviously by fixing this issue I'll be able to remove Alpine's overhead.

[2019-09-05 14:22] humblec opened #82372 "Allow user/storage plugin to pass filesystem formatting options to mount_linux."
**What would you like to be added**:

Option to specify "FS formatting" args for `mkfs`  in `mount_linux.go.`

**Why is this needed**:

At present, there is no way to pass `ext4/xfs` formatting options for `mkfs` command in mount_linux.go . It is very useful or necessary to pass various options at time of `mkfs` to speed up the operation..etc . This option can be specified by the user or storage p

[2019-09-05 14:23] humblec commented on #82372
@kubernetes/sig-storage-bugs

[2019-09-05 14:24] humblec commented on #82372
@msau42 @jsafrane any thoughts on this ?

[2019-09-05 14:24] HighwayofLife commented on #43633
No? Seems a frequently requested feature to avoid a lot of duplication. -- What's our alternatives?

[2019-09-05 14:25] Adirio commented on #82359
The scheduling framework is adding multiple other points where you will be able to add extensions. You can find all the extension points that are being added [here](https://kubernetes.io/docs/concepts/configuration/scheduling-framework/#extension-points). Scheduling framework is expected to be in beta for version 1.17.

[2019-09-05 14:26] draveness commented on #82359
Emmm, what do you mean by this, could you elaborate a little bit more?

[2019-09-05 14:34] xcelsion opened #82373 "Duplicate containerPorts not allowed across different address families"
**What happened**:
I tried to create a deployment with duplicate containerPorts with hostIPs of two different address families. Only the first mapping was provided as input into my CNI plugin chain. Also, a log message from kubelet warning about a duplicate containerPort was created.

**What you expected to happen**:
Both mappings to be provided as input into my CNI plugins. No log messages should

[2019-09-05 14:36] amelbakry commented on #49931
I developed a controller to provide this time based scaling feature, we are using it since 6 months on tier 1 production applications > https://github.com/amelbakry/kube-schedule-scaler

[2019-09-05 14:40] josephlewis42 commented on #77508
@qiwqwq do you mind re-opening this issue unless it's resolved? That way we can keep the conversation going here and don't have to open a new one.

Thanks!

[2019-09-05 14:59] draveness commented on #81016
/close

All the PR in this issue have been merged.

[2019-09-05 14:59] #81016 closed

[2019-09-05 15:17] rikatz commented on #77493
Those are not options, as compilling the kernel doesn' t imply that one will copy the config file into /boot after recompiling it.

As an example, the step ``cp .config /boot/config-4.18.9-kube_proxy_mods_static`` is optional.

So the only way right now I've found to be plausible is to verify the existence of the related `/proc` but what happens if this path changes in the future?

[2019-09-05 15:20] liggitt commented on #73099
https://github.com/kubernetes/kubernetes/pull/79235

[2019-09-05 15:30] draveness opened #82375 "[scheduler] Remove deprecated EBS/GCE/Azure/Cinder predicates"
/sig scheduling
/priority important-longterm
/assign

We should remove the EBS/GCE/Azure/Cinder predicates from scheduler after CSIMigration goes GA (probably in 1.18).

https://github.com/kubernetes/kubernetes/blob/8c537b46939beed3713356f71449a8ad6829b725/pkg/scheduler/algorithm/predicates/predicates.go#L80-L95

#### Reference

+ https://github.com/kubernetes/kubernetes/pull/74544#issuecomment-46

[2019-09-05 15:34] jackkleeman commented on #82141
I suspect part 3 will be a lot easier once #79285 or similar is merged. I would be interested in picking this up

[2019-09-05 15:47] zakkg3 commented on #65233
python script to list pods with pvc in namespace(s):
https://gist.github.com/zakkg3/8c4f6b5e015d1229bf0643156b30ecdc
Is a part of a cli to set pods with velero/restic annotations.
Hope it helps someone :)

[2019-09-05 15:49] benmoss commented on #75049
No, I'm not sure this is still an issue
/close

[2019-09-05 15:49] #75049 closed

[2019-09-05 15:49] matti commented on #68605
/reopen

[2019-09-05 15:53] joejulian commented on #44370
I wholly disagree. Kubernetes is a state resolution engine. Define your desired state and eventually you have that state. I should not be required to create a StorageClass primitive with a specific annotation _before_ any other primitive in order to achieve consistent behavior. I should be able to spin up a vanilla cluster, `kubectl apply -f .` and have a working application. This behavior is inco

[2019-09-05 15:54] liggitt commented on #61681
based on feedback in https://github.com/kubernetes/kubernetes/pull/72202 (see https://github.com/kubernetes/kubernetes/pull/72202#issuecomment-528366080 this will be removed in 1.17

/close

[2019-09-05 15:54] #61681 closed

[2019-09-05 15:54] liggitt commented on #65153
based on feedback in https://github.com/kubernetes/kubernetes/pull/72202 (see https://github.com/kubernetes/kubernetes/pull/72202#issuecomment-528366080 this will be removed in 1.17

/close

[2019-09-05 15:54] #65153 closed

[2019-09-05 15:54] liggitt commented on #81273
based on feedback in https://github.com/kubernetes/kubernetes/pull/72202 (see https://github.com/kubernetes/kubernetes/pull/72202#issuecomment-528366080 this will be removed in 1.17

/close

[2019-09-05 15:54] #81273 closed

[2019-09-05 16:03] oxddr opened #82377 "[Failing Test] gce-master-scale-performance - slow POST nodes after kubelet restarted in the middle of the test"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
density

**Since when has it been failing**:
09/04 (previous fail is for load test, not density)

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:
APIResponsiveness error: top latency metric: there should be no high-latency requests,

[2019-09-05 16:03] #82150 closed

[2019-09-05 16:03] #82280 closed

[2019-09-05 16:08] oxddr commented on #82377
Slow POST on nodes indicates node/kubelet restart:
[code]

I had a look at offending kubelet, but based on log I wasn't able to determine yet what was the reason for restart. The kubelet hasn't responded to a health-check from health-monitor.sh for 10s and was restarted.
[code]

[2019-09-05 16:11] liggitt commented on #82339
I'm not sure this is a good idea. If there is more than one container, it is ambiguous which is intended. Especially in the context of admission-injected sidecar containers, it is not clear that picking a random container produces better outcomes for the log consumer. What is the downside to requiring the invocation to be unambiguous?

[2019-09-05 16:14] oxddr opened #82378 "Investigate issues with Network Programming Latency SLO"
**What happened**:
Currently kube-proxy when restarted exposes NetworkProgrammingLatency metric for all endpoints. When it gets restarted it records very long NetworkProgrammingLatency for services, which hasn't changed in a while, causing skew in NetworkProgrammingLatency.

**What you expected to happen**:
kube-proxy should only record NetworkProgrammingLatency for endpoints, which has been chang

[2019-09-05 16:15] oxddr commented on #82364
I am having a look at 5k run from today. The fail was caused by long POST on nodes during the test, which indicates node/kubelet (the latter in this case) was restarted. I am trying to find a root cause of restarts. High NetworkProgrammingLatency would be cause by those restarts + https://github.com/kubernetes/kubernetes/issues/82378.

[2019-09-05 16:16] liggitt commented on #82373
@khenidak @thockin is this dual-stack only? if so, does the fix for this need to target 1.16?

[2019-09-05 16:17] liggitt commented on #82298
tests passed in last 6 runs

[2019-09-05 16:24] josiahbjorgaard commented on #73723
@apelisse Can this issue be moved out of the current milestone?

[2019-09-05 16:27] liggitt commented on #72828
closing it or moving it out of the milestone once 1.16-targeted work is completed is helpful for reporting

[2019-09-05 16:31] alejandrox1 commented on #82298
Thank you @rajansandeep for working on this!
/close

[2019-09-05 16:31] #82298 closed

[2019-09-05 16:41] apelisse commented on #73723
The feature is going beta in 1.16, but I agree that we're not going to close it anytime soon.

[2019-09-05 16:42] msau42 commented on #82372
Can the CSI driver make this a StorageClass param if they want to support that?

[2019-09-05 16:44] mikedanese commented on #81028
Yes that looks good with the result.

[2019-09-05 16:51] MrHohn commented on #82186
Thanks for tracking this, seems like the latest run is green: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1169581330095149061

[2019-09-05 17:00] oxddr commented on #82186
It looks good indeed, thanks @MrHohn

/close

[2019-09-05 17:00] #82186 closed

[2019-09-05 17:08] alejandrox1 commented on #75601
Let's move it to the next milestone now. We are well into code freeze so most of this work will be blocked for the next week or so
/milestone v1.17

[2019-09-05 17:08] micahhausler opened #82379 "Add Authenticator name to authentication.v1.UserInfo"
**What would you like to be added**:

Today it is impossible to differentiate users of the same username based on how they authenticated. For example, I could use OIDC to authenticate to a cluster and have the same username as an X509 certificate, but backend authorizers or aggregate API servers wouldn't know the difference between the two users. This would also be helpful in the audit log.

**Why

[2019-09-05 17:08] micahhausler commented on #82379
/sig auth

[2019-09-05 17:09] BenTheElder commented on #74375
This isn't targeted at anything but continues to be a problem we need to be
aware of and avoid. Long flaky presubmits harm our contributor experience
and seriously restrict our merge rate.

On Thu, Sep 5, 2019, 05:34 Marko Mudrinić <notifications@github.com> wrote:

[2019-09-05 17:10] micahhausler commented on #82379
/area audit

[2019-09-05 17:21] mkimuram commented on #73773
@humblec

I re-opened it and rebased the commit. Let's continue discussion there.

@gnufied

#74026 is only for CSI. Let's work on this for each driver in another PR.
(I hope that that PR covers common part of the codes for other drivers.)

[2019-09-05 17:26] #71870 closed

[2019-09-05 17:26] #75606 closed

[2019-09-05 17:29] llamahunter commented on #67662
I think I am hitting this bug, too.  My situation is that I have an validating webhook admission controller attached to the namespace.  If the admission controller goes offline, the replica set for regular Deployments on that namespace will not be able to create pods as they can't get past the admission controller.  They list 'Timeout: request did not complete within allowed duration' errors, and

[2019-09-05 17:38] pjh commented on #74992
/remove-lifecycle stale

I believe this is still happening, unfortunately we haven't had time to investigate further.

cc @YangLu1031

[2019-09-05 17:39] ahg-g commented on #82180
I asked on k8s-code-organization: https://kubernetes.slack.com/archives/CHGFYJVAN/p1567697828012800

The summary is this: we can restructure the code without a KEP (will allow us to remote scheduler/api), but we will have to register Policy under both ```apiVersion: kubescheduler.config.k8s.io/v1``` and ```apiVersion: v1```.

[2019-09-05 17:47] mikedanese commented on #82379
I have wanted this. What do people think about surfacing this in extra info?

@kubernetes/sig-auth-feature-requests

[2019-09-05 17:50] snail59 opened #82381 ".local and dns"
Hello,
First, thank you for your work.
**What would you like to be added**:
In fact I would like something to be modified.
You documentation and "kubeadm init --help" read that you are using .local as the default DNS suffix for multiple services.
**Why is this needed**:
This suffix is used by multicast DNS, so this can lead to troubles. I personnaly experienced problems at work; some services were

[2019-09-05 17:52] cleanshavenalex commented on #54482
kubelets that specify --cloud-provider now only report addresses in Node status as determined by the cloud provider (**unless --hostname-override is used to force reporting of the specified hostname**) (#65594, @liggitt) - https://github.com/kubernetes/kubernetes/blob/33541bdd34c32ad1dbef20a1282d7917b300d952/CHANGELOG-1.12.md

[2019-09-05 17:53] xmudrii commented on #79737
As this issue needs KEP, I'm going to remove it from the milestone until we don't have one.

/milestone clear

[2019-09-05 17:55] liggitt commented on #82379
Including the info in audit probably makes sense, but that doesn't require exposing the info beyond the authentication layer.

Can you give an example of that?

Do you care about the specific named authenticator (e.g. legacy-service-account-token, service-account-token, tokenfile, webhook), or the authentication mechanism (e.g. token, x509, authproxy)?

how would you envision that interacting with