[2019-09-05 18:01] mikedanese commented on #82379
In the certificate API, it would be useful to be able to tell if the x509 authenticator was used to authenticate a CSR creation. Right now there's no good way to create an approver that allows a service account to requests client certs for itself. A one time exfiltrated client cert/key can be used to arbitrarily extend the lifetime of the cert which grants an attacker persistence. I really want an

[2019-09-05 18:03] anderseknert opened #82382 "kubectl hangs on config set"
**What happened**:
`kubectl config set` hangs on certain input.

**What you expected to happen**:
That the command returns either successfully or with an error (and a message).

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl config set users.my-user.user.exec.command test`

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`

[2019-09-05 18:03] anderseknert commented on #82382
/sig cli

[2019-09-05 18:04] mikedanese commented on #82379
For the CSR issue, I care about x509.
For auditing, I could go either way.
For authenticator metrics (see #81028), authenticator names would be nice.

[2019-09-05 18:06] deads2k commented on #82379
If an authenticator/authorizer pair really wanted to do this today, couldn't they use the user.Extra field to provide that information?

I don't think that we want to introduce the concept of "how did Bob enter" into the primitives we have in kubernetes today, but if a particular set of webhooks wanted to, I think they could do that today.

[2019-09-05 18:06] liggitt commented on #82379
When authentication methods are stacked, what would the interaction be?

Example:
1. user makes API request to aggregator with a bearer token
2. the aggregator sees the user authenticated via bearer token
3. the aggregator acts as an auth proxy, proxying the request to the aggregated server, encoding user info in headers and vouching for the headers with a client cert
4. the aggregated server sees

[2019-09-05 18:07] micahhausler commented on #82379
If I wanted to write an aggregate API server that did cloudy things but required the authn method to be something specific.

Ideally, the specific named authenticator would get included, with webhoook metadata.

[2019-09-05 18:09] micahhausler commented on #82379
The original method should be included, and additional fields about about the stack could be added. AWS does this today with the encrypted `AWS_SESSION_TOKEN`, each chained assumed role is added there, as well as how the user authenticated

[2019-09-05 18:17] alejandrox1 commented on #74375
/milestone v1.17
Let's make a case of working on this next cycle. Will bring it up during today's meeting (scalability + release team have a call scheduled today).

[2019-09-05 18:19] micahhausler commented on #82379
Ideally, I'd like to know from K8s how this user initially authenticated, not from a 3rd party webhook

[2019-09-05 18:27] cmluciano commented on #82361
@caseydavenport Any ideas on this one?

[2019-09-05 18:40] enj commented on #82379
In a similar vain, since this seems to be related to controlling authorization based on authentication source, this forces us to turn that source metadata into an API.  To me that is just an implementation detail of the system today.

[2019-09-05 18:41] haircommander commented on #82174
We are seeing this in local up cluster as well

[2019-09-05 18:51] mikedanese commented on #82379
@enj what do you think about https://github.com/kubernetes/kubernetes/issues/82379#issuecomment-528504051

[2019-09-05 18:54] deads2k commented on #82379
@mikedanese

I think that comment is interested in those particular fields because it considers the case where a CSR is used to produce a client certificate which is later used against the API as a "first among equals" case for the CSR API.

I'd rather see something like the kubelet CSR flow be the first to demonstrate the generic ability to provide signed assertions (or some other mechanism) for

[2019-09-05 18:54] dgerd commented on #76951
/remove-lifecycle rotten

[2019-09-05 18:57] ahg-g opened #82385 "Rethink the Scheduler's Framework Permit API"
The Permit extension point allows running multiple registered permit plugins, if more than one permit plugin returns Wait with a timeout, then we wait for the shortest of the two timeouts.

The expectation is that the plugins that issue Wait will have logic, likely baked into the plugin itself, that accepts the pod at a later time.

However, different plugins will have different criteria to accept

[2019-09-05 18:57] tallclair commented on #70249
/milestone v1.17

This is an ongoing issue with incremental improvements in each release.

[2019-09-05 19:01] RobertKrawitz opened #82386 "ValidateKubeletConfiguration does not check the values of KubeletReserved and SystemReserved"
**What happened**: Attempt to set negative value of `systemReserved.cpu` (or other reservable resource) was allowed, but the kubelet went into an infinite restart loop.

The result may be OpenShift-specific, but the validation should still take place.

**What you expected to happen**: Attempt to do so should have failed validation.

**How to reproduce it (as minimally and precisely as possible)**:

[2019-09-05 19:02] rtheis opened #82387 "Should recreate evicted statefulset conformance test may encounter host port conflict"
**What happened**:

The `Should recreate evicted statefulset` conformance test in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apps/statefulset.go fails because `Pod ss-0 expected to be re-created at least once`.  This was caused by the `Predicate PodFitsHostPorts failed` scheduling error.  The root cause was a host port conflict for port `21017`.  This port was in-use as an ephem

[2019-09-05 19:02] rtheis commented on #82387
/sig testing

[2019-09-05 19:07] RobertKrawitz commented on #82386
/sig node

[2019-09-05 19:08] cmluciano commented on #82163
/area ipvs

[2019-09-05 19:16] matthias50 commented on #81286
We were experiencing the same issue.  Passing --feature-gates=NodeLease=false to kubelet caused the flapping to stop when kubelet is 1.14 and masters are not yet updated to 1.14. So our solution is to turn NodeLease off for kubelet (and only for kubelet) till the masters are updated to 1.14 and then remove the feature gate override in a second update to the cluster.

[2019-09-05 19:19] lachie83 commented on #82364
Spoke with @wojtek-t and currently this issue is NOT 1.16 RELEASE BLOCKING

[2019-09-05 19:25] xcelsion commented on #82373
This applies to dual-stack only yes. I don't know if it should target 1.16, personally I'd like to get this out so I don't have to run a forked version of kubelet.

[2019-09-05 19:28] #52184 closed

[2019-09-05 19:28] #76158 closed

[2019-09-05 19:36] cmluciano commented on #82067
@spzala Any ideas on this one?

[2019-09-05 20:00] liggitt commented on #82382
fixed in https://github.com/kubernetes/kubernetes/pull/79000?

[2019-09-05 20:00] #81299 closed

[2019-09-05 20:01] #82194 closed

[2019-09-05 20:15] ahg-g opened #82390 "Move all scheduler API-related code to a single place"
Currently there are two api packages in the scheduler: [scheduler/api](https://github.com/kubernetes/kubernetes/tree/master/pkg/scheduler/api/) and [scheduler/apis](https://github.com/kubernetes/kubernetes/tree/master/pkg/scheduler/apis/), we should move everything under scheduler/api to scheduler/apis:

1) configuration-related APIs, specifically Policy, should be moved to apis/config, it should

[2019-09-05 20:24] fedebongio commented on #82138
/remove-sig api-machinery

[2019-09-05 20:25] fedebongio commented on #82149
/assign @misterikkit

[2019-09-05 20:25] fedebongio commented on #82173
/remove-sig api-machinery

[2019-09-05 20:26] alejandrox1 commented on #81490
/milestone v1.17

[2019-09-05 20:26] fedebongio commented on #82179
/remove-sig api-machinery
/sig cloud-provider

[2019-09-05 20:26] fedebongio commented on #82179
/sig node

[2019-09-05 20:26] alejandrox1 commented on #81491
/milestone v1.17

[2019-09-05 20:27] liggitt commented on #82242
/assign @smarterclayton

[2019-09-05 20:27] alejandrox1 commented on #81052
/milestone v1.17

[2019-09-05 20:28] fedebongio commented on #82292
/assign @liggitt

[2019-09-05 20:28] yliaog commented on #82292
/cc

[2019-09-05 20:35] robscott commented on #82174
Hey @haircommander, how are you provisioning the cluster? Are all alpha feature flags enabled? If they are, that will include EndpointSlice, and require the PR currently in the merge queue (https://github.com/kubernetes/kubernetes/pull/82380) or changes to your cluster up config to ensure that the EndpointSlice controller is also running.

I'm not sure the error you mentioned is necessarily relate

[2019-09-05 20:38] marosset commented on #82287
We are aware of the issue and investigating

/cc @bclau @adelina-t

[2019-09-05 20:53] marosset commented on #82287
@bclau was doing some investigation here and found the following:
The tests start containers which are configured to consume a specified CPU percentage for a specified amount of time and the these percentages are used to determine if horizontal pod scaling is behaving correctly.
After some investigation we found that svchost.exe was also consuming a non-trivial amount of CPU (which is not accounte

[2019-09-05 20:58] rikatz commented on #81729
/priority important-longterm

[2019-09-05 20:59] rikatz commented on #81729
/remove-triage unresolved

[2019-09-05 21:00] dcbw commented on #81675
@vllry too

[2019-09-05 21:01] stedwick commented on #81999
+1

[2019-09-05 21:04] Huang-Wei commented on #82390
`scheduler/apis` makes sense.

`api` folder exists in API machinery due to historic reason, that folder doesn't represent another api instead of the core API.

[2019-09-05 21:06] vllry commented on #82381
/assign @johnbelamaric

[2019-09-05 21:06] mrunalp commented on #82174
@robscott @haircommander  and I ran into this in our CI where we are using local-up-cluster to bring up a cluster to run some tests. It looks #82380 only addresses GCE. Do we need any changes for local-up-cluster as well?

[2019-09-05 21:07] vllry commented on #82373
/assign @khenidak

[2019-09-05 21:08] vllry commented on #82361
/assign @danwinship

[2019-09-05 21:09] lachie83 commented on #82287
Thanks for the udpate @marosset

[2019-09-05 21:09] vllry commented on #82203
/assign @bowei
/remove-triage unresolved

[2019-09-05 21:10] vllry commented on #82174
/remove-triage unresolved

[2019-09-05 21:12] prameshj commented on #78169
/kind feature

[2019-09-05 21:12] vllry commented on #82163
/assign @bowei

[2019-09-05 21:14] vllry commented on #82067
/assign @bowei

[2019-09-05 21:15] vllry commented on #82065
/assign @andrewsykim

[2019-09-05 21:15] bowei commented on #82203
It seems like you can workaround this by inserting a dummy domain/service?

[2019-09-05 21:16] vllry commented on #82015
/assign @rajansandeep

[2019-09-05 21:17] vllry commented on #81677
/remove-triage unresolved

[2019-09-05 21:18] bowei commented on #82163
/assign @andrewsykim

[2019-09-05 21:18] bowei commented on #82163
/unassign @bowei

[2019-09-05 21:19] vllry commented on #81642
/assign @vllry

[2019-09-05 21:19] vllry commented on #81405
/assign @andrewsykim

[2019-09-05 21:20] vllry commented on #81198
/remove-triage unresolved

[2019-09-05 21:23] joshk0 commented on #72878
/remove-lifecycle rotten

[2019-09-05 21:23] vllry commented on #81193
/assign @bowei
cc @robscott

[2019-09-05 21:23] joshk0 commented on #72878
We're still experiencing this in GKE 1.12 at our company. refreshing the issue

[2019-09-05 21:23] vllry commented on #80977
/remove-triage unresolved

[2019-09-05 21:24] vllry commented on #80407
/remove-triage unresolved

[2019-09-05 21:24] joshk0 commented on #72878
[code]

or

[code]

[2019-09-05 21:25] prameshj commented on #78169
/remove-kind bug

[2019-09-05 21:25] vllry commented on #80288
cc @daschott

[2019-09-05 21:26] vllry commented on #78169
/remove-triage unresolved

[2019-09-05 21:34] alculquicondor commented on #82138
@fedebongio this issue comes as a consequence of #53850 having left overs. It looks like this PR didn't have any sig labels. In any case, please confirm if api-machinery doesn't need to be involved in this discussion.

[2019-09-05 21:38] andrewsykim commented on #80977
/close

Fixed by https://github.com/kubernetes/kubernetes/pull/80514

[2019-09-05 21:38] #80977 closed

[2019-09-05 21:41] dcbw commented on #81729
/assign @bowei

[2019-09-05 21:41] andrewsykim commented on #82163
This looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/79783

[2019-09-05 21:42] mikedanese commented on #82379
I believe this is the opposite of what I'd like to have. I want to disallow arbitrary credential lifetime extension by writing an approved the with a policy that says it will *not* approve a csr if the creation request was authenticated using the x509 authenticator. This forces the client to e.g. use a service account token, so the time of access after credential exfil is limited to token ttl + ce

[2019-09-05 21:43] rikatz commented on #81729
@bowei if I can help with anything else, let me know :)

[2019-09-05 21:47] saiyan86 commented on #80288
@dineshgovindasamy @madhanrm

[2019-09-05 21:57] daschott commented on #80288
Can you show the kube-proxy flags? Do you have `hostname-override` set? https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/common-problems#after-some-time-vnics-and-hns-endpoints-of-containers-are-being-deleted

[2019-09-05 21:59] mrak commented on #53331
/reopen

We are still seeing this on `1.13` and `1.14`

[2019-09-05 22:15] caesarxuchao commented on #82242
Using the Semantic.DeepEqual is the right solution here. In fact, resource.Quantity is explicitly handled there, see [code](https://github.com/kubernetes/kubernetes/blob/836b901658557ee18936d3690dc9c48fc588eba8/staging/src/k8s.io/apimachinery/pkg/api/equality/semantic.go#L30).

The failure in https://github.com/kubernetes/kubernetes/issues/82242#issuecomment-527517315 was caused by the "staging/sr

[2019-09-05 22:18] 2rs2ts commented on #53331
/reopen

Seeing this on 1.14.6 ATM

[2019-09-05 22:19] 2rs2ts commented on #53331
@civik can you reopen this?

[2019-09-05 22:20] danwinship commented on #82125
/remove-triage unresolved

[2019-09-05 22:26] schellj commented on #71765
This feature would be useful for me as well as I make use of `kubectl exec` and `kubectl attach` and it's quite annoying that `Ctrl-p` doesn't behave as it does in other terminals and the Docker detach-keys workaround isn't available.

[2019-09-05 22:31] bclau commented on #82287
Indeed, this shouldn't block the release, this can be fixed by updating the images used by the test. We're currently discussing the issue, but we can update the images in the meanwhile. Will update later with more information.

[2019-09-05 22:40] cheftako commented on #81027
I agree that there is little/no value in shipping a CCM binary from K/K. I think there is value in keeping some sort of CCM framework in K/K which can be easily extended to cloud providers to generate their flavor of CCM.

[2019-09-05 23:15] zackb commented on #50977
I am facing this same issue. Has anyone had any luck?

I've tried failing health checks and preStop lifecycle hooks, but traffic is still routed to the terminated pods briefly (by cloud LB) during scale-in or rolling updates.

[2019-09-05 23:20] liggitt commented on #82358
Fix merged

/close

[2019-09-05 23:20] #82358 closed

[2019-09-05 23:22] Huang-Wei commented on #82180
That "dual-registration" sounds new and fun. I'd like to volunteer to own the "API cleanup" item in 1.17 including:

- this item
- dual-register policy to `apiVersion: kubescheduler.config.k8s.io/v1` and `apiVersion: v1` for backwards compatibility
- code refactoring

[2019-09-05 23:27] rajha-korithrien commented on #81089
I have read through #2630 where the focus was on a related issue of volumes from some kind of provisioner (hostPath, emptyDir, etc.). This thread seems to be focused on secrets and by extension configmaps.

I can say that some software is strongly opinionated (open ssh comes to mind, but I have seen java application servers also do this) about the combination of the uid of the process accessing a

[2019-09-05 23:32] robscott commented on #82174
@mrunalp Just to clarify, are you enabling all feature gates as part of that? That would be the only time/place that running the EndpointSlice controller would help. Alternatively, this issue could be related to what you're running into: https://github.com/kubernetes/kubernetes/issues/81879. If not, specific error messages and/or commands run would be helpful to help diagnose this.

[2019-09-05 23:51] skwokie commented on #81852
Hi, may I ask for the status? Thanks.

[2019-09-06 00:20] tedyu commented on #82358
@dims
Thanks for the quick action.

[2019-09-06 00:29] rikatz commented on #81630
/sig network
/remove-sig node

[2019-09-06 00:29] rikatz commented on #81630
/assign @rikatz

[2019-09-06 00:35] rikatz commented on #81630
@KevinTHU Are you willing something like kube-proxy having a healthz endpoint?

If this is the case, according to https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/ you do have, so the only thing you have to change is the DaemonSet object to run kube-proxy with the Health Check port exposed to kubelet, and liveness and readiness into this object.

About the item 1 livene

[2019-09-06 00:52] rikatz commented on #82159
Hi @jeremyje and thanks for raising this.

The code from emptydir is here: https://github.com/kubernetes/kubernetes/tree/master/pkg/volume/emptydir

It supports actually 3 kinds of mounts, described here: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/emptydir/empty_dir.go#L223

Maybe one idea is to create some "new" kind of storage (as tmpfs and hugepages), but with the option to

[2019-09-06 00:54] dims opened #82394 "Deprecate external-cloud-volume-plugin command line flag in controller-manager"
Is kubernetes 1.17 a good time to deprecate `external-cloud-volume-plugin`:
https://cs.k8s.io/?q=external-cloud-volume-plugin&i=nope&files=&repos=kubernetes/kubernetes

/sig cloud-provider

[2019-09-06 00:55] dims commented on #82394
cc @cheftako @andrewsykim

[2019-09-06 01:02] tedyu opened #82395 "Introduce band in watcherBookmarkTimeBuckets to speed up lookup"
**What would you like to be added**:
We can introduce band into watcherBookmarkTimeBuckets where band is defined as
[code]
watchersBuckets becomes array of band's.

A new band is formed when the difference between clock.Now().Unix() and current startBucketID is beyond some threshold.

**Why is this needed**:
Currently popExpiredWatchers iterates through every possible time via t.startBucketID++ wh

[2019-09-06 01:02] tedyu commented on #82395
/sig api-machinery

[2019-09-06 01:03] tedyu commented on #82395
ref #80692

[2019-09-06 01:05] danielqsj commented on #82390
@ahg-g @Huang-Wei I'd like to take this task.
/assign

[2019-09-06 01:21] danielqsj commented on #82385
/cc

[2019-09-06 01:25] liggitt commented on #82394
/remove-kind bug
/kind cleanup

[2019-09-06 01:33] saad-ali commented on #78737
@verult brought this up at the June 6 SIG meeting. Decision was to send out messaging to figure out who was effected. Cheng sent message to kubernetes-sig-storage on June 6 with a followup on July 2 (see [message](https://groups.google.com/d/msg/kubernetes-sig-storage/618lBlJo8rU/wYkqMI-zAgAJ)). But didn't hear anything back.

Current plan of record is to continue to communicate this change (distr

[2019-09-06 01:45] tedyu commented on #82395
staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cache_test.go has benchmarkCache

I wonder if something similar in the context of storage cacher can be used for benchmarking.

[2019-09-06 01:51] hex108 commented on #82385
Thanks! It is reasonable. I could work on it.

Would it be a public or private API? Is there any other uses cases that might use it? If not, private functions seems enough.

[2019-09-06 02:20] jonjohnsonjr opened #82396 "Please move pkg/credentialprovider out of tree"
**What would you like to be added**:

I would like to be able to import pkg/credentialprovider.

**Why is this needed**:

https://github.com/google/go-containerregistry/issues/496

[2019-09-06 02:23] jonjohnsonjr commented on #82396
/sig auth
/sig release
/sig cloud-provider

cc @fejta @ImJasonH @bobcatfish

[2019-09-06 02:29] RickyRajinder commented on #82386
Can I try my hand at this? Looking for a good first issue.

[2019-09-06 02:36] SataQiu commented on #82390
Hi @danielqsj It seems like a big Job !
Can you break down some sub-tasks? Then more people can help with this.

[2019-09-06 02:43] SataQiu commented on #82394
/assign

[2019-09-06 02:49] xiaoanyunfei commented on #82386
kubelet has validated the `Reserved resource` and exited if failing
You should see some fatal log like `resource quantity for "cpu" cannot be negative`
Maybe you use some management software that keeps starting kubelet

[2019-09-06 03:32] SataQiu commented on #82385
/cc

[2019-09-06 03:51] Rettpa opened #82399 ""Must be a valid IP address or a valid RFC-1123 DNS subdomain" error occurred when installing kubernetes 1.15 cluster using kubeadm"
kubeadm-config.yaml:
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: v1.15.3
controlPlaneEndpoint: "internal-ELB-K8sApiHTTP-APP-1600381234.cn-northwest-1.elb.amazonaws.com.cn:9443"
networking:
 podSubnet: "10.244.0.0/16"
apiServer:
 certSANs:
 - "internal-ELB-K8sApiHTTP-APP-1600381234.cn-northwest-1.elb.amazonaws.com.cn"

Use commands：kubeadm init --config=kubeadm-

[2019-09-06 03:55] liggitt commented on #82396
See also https://github.com/kubernetes/kubernetes/issues/74379

/area code-organization

[2019-09-06 04:35] SataQiu commented on #82381
Emm. Have you tried `--service-dns-domain`?
[code]

[2019-09-06 05:03] anderseknert commented on #82382
Excellent! Thanks @liggitt.

[2019-09-06 05:03] #82382 closed

[2019-09-06 05:05] niklun opened #82402 "kubectl proxy fails to proxy http call to service"
**What happened**:
Used `kubectl proxy` to proxy http calls to a service. Included a dryRun query parameter. The request failed and the api responded HTTP 400:
[code]

**What you expected to happen**:
I expected a call like `DELETE http://127.0.0.1:8080/api/v1/namespaces/default/services/myservice/proxy/api/delete?dryRun=true` to end up in my service. The dryRun parameter has nothing to do with th

[2019-09-06 05:06] niklun commented on #82402
/sig cli

[2019-09-06 05:16] MartinForReal commented on #82399
according to [code](https://github.com/kubernetes/apimachinery/blob/461753078381c979582f217a28eb759ebee5295d/pkg/util/validation/validation.go#L132)
domain name should be in lower case.  you could add a record in route53. FYI

[2019-09-06 05:36] zouyee commented on #82373
https://github.com/kubernetes/kubernetes/pull/80470

[2019-09-06 05:53] MartinForReal opened #82404 "kubeadm should support domain name in --apiserver-advertise-address in phase "kubeadm alpha kubeconfig""
**What would you like to be added**:
kubeadm should support domain name in AdvertiseAddress in phase "kubeadm alpha kubeconfig"
only ip address is supported now.

**Why is this needed**:
I need to generate discovery file for worker node on cloud and I don't know the ip address of control plane before master node is provisioned.
Here I can use dns record to resolve this issue.

[2019-09-06 05:55] MartinForReal commented on #82404
/sig cluster-lifecycle

[2019-09-06 06:10] mrwonkerz commented on #80288
@daschott Yes the `hostname-override` Flag is set. I've used the [official microsoft script](https://github.com/microsoft/SDN/blob/master/Kubernetes/windows/start-kubeproxy.ps1) where this flag is set by default

[2019-09-06 06:12] Jeffwan commented on #82131
The change has been merged back to Spark-2.4 branch.

[2019-09-06 06:22] irajdeep commented on #81984
@logicalhan I can work on this if no one else is currently.

[2019-09-06 06:27] Huang-Wei commented on #82390
This belongs to a line item called "API Cleanup" in the next release cycle. We will first define the overall scope and then divide it into several pieces for contributors who are interested to pick up.

[2019-09-06 06:30] wongma7 commented on #44370
I would put storage class in the same class of objects as psp or quota, something an admin/bootstrapper creates to allow/deny access to resources. Don't want to argue what constitutes "kubernetes philosophies" but order matters in lots of places, e.g. you cannot create a custom resource before its crd, pod before its service account. A common pattern is to prepend your yamls with #'s.

Anyway, I d

[2019-09-06 06:31] tedyu commented on #82395
On my Mac, it took 3531000 nanoseconds to iterate (probe) through 100000 map indices.

[2019-09-06 06:31] humblec commented on #73773
Thats awesome !! thanks @mkimuram ..

Yeah, sounds good to me.

[2019-09-06 06:45] humblec commented on #82372
Considering `fstype` is a SC option, we can think about `fsOptions` or similar param in SC too. However with current code in mount_linux, we can not make use of this newly added SC param, as `formatAndMount` ONLY have, `options` ( ie mountoptions) as a possible arg in func signature. This `options` arg is filled from all the SPs with `mountoptions` .

[code]

@msau42  So, my question would be, eve

[2019-09-06 07:08] kayrus opened #82405 "Status inconsistencies between deployment and its pods"
**What happened**:

I face issues with the deployment status. Its pods are ready and have **Running** status, however the deployment status doesn't show readiness.

[code]

**What you expected to happen**:

I expect the see the **Ready 3/3**  deployment status.

**How to reproduce it (as minimally and precisely as possible)**:

This happens, when a kubelet reestablishes a connection to a kube-apis

[2019-09-06 07:10] kayrus commented on #82405
@kubernetes/sig-scheduling
/sig scheduling

[2019-09-06 07:26] anderseknert commented on #82379
We use the `--oidc-username-prefix` flag to differentiate OIDC authenticated users from others. Couldn't similar (optional) prefixes be used for other authentication methods as well? It would require any registered prefix to be reserved to it's respective authenticator though, but perhaps that's enforced already. Not sure about the stacked authentication method scenario mentioned by @liggitt thoug

[2019-09-06 07:35] zouyee commented on #82352
/reopen

[2019-09-06 07:40] #75810 closed

[2019-09-06 07:45] maciaszczykm commented on #32220
/lifecycle frozen

[2019-09-06 07:54] infa-ddeore commented on #68737
tedious but worked on my eks `1.12.10` cluster !

[2019-09-06 08:00] #82399 closed

[2019-09-06 08:31] Aisuko commented on #45419
I agree with this, I use the `1.14.5` version Kubernetes, has the same issue.

[2019-09-06 08:32] draveness commented on #82385
We could pass a channel to the API and returns a deadline time channel:

[code]

+ the events channel could broadcast the events to all the permit plugins.
+ the time channel could updates the deadline of the plugins' permit process.

[2019-09-06 08:36] draveness commented on #82385
/assign @hex108

[2019-09-06 08:52] cann0nf0dder commented on #81286
Thanks for the info @matthias50 . I've also just came across release notes for 1.14.5 and it looks to have been addressed and fixed by #80173 . I wish i was upgrading to 1.14.5 and not 1.14.4 - it took a while to try to figure this one out! This can be closed now, thanks all for chipping in!

[2019-09-06 08:52] #81286 closed

[2019-09-06 08:58] Adirio commented on #82385
Doesn't it make more sense to have separate timeouts for each permit and cancel them in case one reduses to accept the plugin at any time?

[2019-09-06 09:04] cann0nf0dder commented on #80982
Is someway this is related and it was fixed by #80173

[2019-09-06 09:04] #80982 closed

[2019-09-06 09:17] itdove opened #82406 "names.GenerateName() trunc even if name lenght is between 63 and 57."
**What would you like to be added**:
I don't know if a method should be added or the existing `GenerateName` needs to be modified. I guess added for backward compatibility.

A method in the https://github.com/kubernetes/kubernetes/blob/84fe3db5cf58bf0fc8ff792b885465ceaf70a435/staging/src/k8s.io/apiserver/pkg/storage/names/generate.go package which return the base name if the base name length is be

[2019-09-06 09:33] odinuge commented on #82017
These tests are now constantly failing due to missing images. This makes it hard to see if some of the stuff we do now, or have done in the last few weeks, breaks some of the tests. PR #82018 should hopefully fix this, but it is not in the 1.16 milestone, but has `/lgtm` and `/approve`.

Should we get this merged into master so that we can see if if fixes the problem, or should we wait until code

[2019-09-06 09:34] odinuge commented on #82017
/priority important-longterm

[2019-09-06 09:41] qiyongxiao opened #82407 "how to use 'kubectl explain' to crd's substance."
Hi, dear authors:
     I have an enhancement request of kubernetes's cli-->kubectl explain. Recently, I deploy to k8s clusters called master1 and master2. And has deployed the federation v2.
    Now I want to see the federation's kinds like FederatedDeployment's substance. Just like this
[code]
While I excute this kinds of command to show the resource federatedDeployment, it show:
[code]
Please te

[2019-09-06 09:42] #75811 closed

[2019-09-06 09:50] oxddr opened #82408 "health-monitor should save kubelet coredump before restarting it"
**What would you like to be added**:
[health-monitor.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/health-monitor.sh#L79) should save kubelet coredump before restarting it.

**Why is this needed**:
We were unable to understand kubelet restart, which caused https://github.com/kubernetes/kubernetes/issues/82377. Logs didn't have enough information to determine the cause.

[2019-09-06 09:52] oxddr commented on #82377
I've checked all possible means, but was unable to determine why kubelet wasn't able to respond to healthz. I've opened an issue to maybe add core dump when health-monitor kills it (https://github.com/kubernetes/kubernetes/issues/82408).

I'm going to check now why apiserver was slow to respond to this request.

[2019-09-06 09:54] oxddr commented on #82377
Test on 09/05 has passed, but I keep this open so we have an understanding why it failed.

/priority important-soon

[2019-09-06 09:54] oxddr commented on #82377
/remove-priority critical-urgent

[2019-09-06 10:16] krzysied commented on #82069
- Watch cache
![image](https://user-images.githubusercontent.com/25119199/64420588-ea40bf00-d09f-11e9-90c9-ee4d2f223f07.png)
- Watch cache with reduced number of goroutines - 400k instead of 600k
![image](https://user-images.githubusercontent.com/25119199/64420663-0e9c9b80-d0a0-11e9-9396-2eb07e4e7faf.png)

[2019-09-06 10:24] draveness commented on #82385
After we make `pluginContext` conform to `context.Context` in https://github.com/kubernetes/kubernetes/pull/82072, we could use the context to sync the cancel signal across plugins.

[2019-09-06 10:32] zhlhahaha opened #82412 "kube-proxy error when use hack/local-up-cluster.sh"
**What happened**:
When I use local-up-cluste.sh to build a local k8s environment, it end up with following information "kube-proxy terminated unexpectedly, see /tmp/kube-proxy.log"

In /tmp/kube-proxy.log
[code]
And kube-proxy failed to start.

**What you expected to happen**:
All service start successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Get recent kubernetes

[2019-09-06 10:41] wu0407 commented on #82230
number page is 1000000000   ÷   4096 = 244,140.625
so 244,140 * 4096 = 999,997,440

[2019-09-06 10:42] #82230 closed

[2019-09-06 10:45] #82412 closed

[2019-09-06 11:17] zhlhahaha opened #82417 "[Failing Test] [sig-storage] EmptyDir volumes"
Which jobs are failing:
ci-kubernetes-node-kubelet-orphans

Which test(s) are failing:
[sig-storage] EmptyDir volumes pod should support shared volumes between containers

Since when has it been failing:
https://github.com/kubernetes/kubernetes/compare/a1f1f0b59...baaec43cd

Testgrid link:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-orphans

Reason for failure:
[code]

[2019-09-06 11:19] zhlhahaha commented on #82417
kind/failing-test

[2019-09-06 11:19] #82417 closed

[2019-09-06 11:20] zhlhahaha opened #82418 "[Failing Test] [sig-storage] EmptyDir volumes"
**Which jobs are failing**:
ci-kubernetes-node-kubelet-orphans

**Which test(s) are failing**:
[sig-storage] EmptyDir volumes pod should support shared volumes between containers

**Since when has it been failing**:
https://github.com/kubernetes/kubernetes/compare/a1f1f0b59...baaec43cd

**Testgrid link**:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-orphans

**Reason for failure**:
[code]

[2019-09-06 11:22] zhlhahaha commented on #82418
/sig testing

[2019-09-06 11:38] Adirio commented on #82385
Also the `WithDeadline` or `WithTimeout` may be useful to implement the waiting time of each Permit plugin, the returned `CancelFunc` would be called if the framework wants to wake the plugins.

[2019-09-06 11:38] zhlhahaha opened #82419 "[Failing Test] [k8s.io] Security Context"
**Which jobs are failing**:
ci-kubernetes-node-kubelet-orphans

**Which test(s) are failing**:
[k8s.io] Security Context When creating a container with runAsNonRoot should run with an image specified user ID

**Since when has it been failing**:
https://github.com/kubernetes/kubernetes/compare/a1f1f0b59...baaec43cd

**Testgrid link**:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-orphans

*

[2019-09-06 11:39] zhlhahaha commented on #82419
/sig testing

[2019-09-06 12:18] RainbowMango commented on #82419
/assign @zhlhahaha

[2019-09-06 12:20] alejandrox1 commented on #82017
Thanks for all the work you've put into this @odinuge ! I think we should add #82018 to the milestone

[2019-09-06 12:22] RainbowMango commented on #82418
/assign @zhlhahaha

[2019-09-06 12:30] ahg-g commented on #82385
Thanks all for the suggestions. @hex108 please start a design doc with the various options with examples how each option would be used, we can continue the discussion there.

[2019-09-06 12:35] ahg-g commented on #82390
Thanks Daniel, during the sig meeting yesterday @Huang-Wei expressed interest in owning this umbrella item.

/assign @Huang-Wei

[2019-09-06 12:46] RobertKrawitz commented on #82386
That's exactly what's happening; OpenShift doesn't make it easy to recover from this situation.  I'd like to have the validation all done in one spot so I can invoke it from something else (MachineConfigController in the case of OpenShift) so that it doesn't allow an invalid configuration to be applied.

[2019-09-06 12:47] oxddr commented on #82377
I've checked apiserver and there was nothing suspicions at that time going on there. There two more slowish request, except them the cluster and apiserver looks ok (e.g. no sudden changes to cpu usage, network usage).

I've opened https://github.com/kubernetes/perf-tests/issues/779 so we measure API latency across whole test suite with intention to reduce flakiness due to such requests.

/close

[2019-09-06 12:47] #82377 closed

[2019-09-06 12:47] RobertKrawitz commented on #82386
@RickyRajinder this would be an excellent first issue; it's very localized.  Please let me know when you have a PR available for review.

[2019-09-06 13:06] hex108 commented on #82385
Thanks all! As @ahg-g suggested, I'll write a design doc for it.

[2019-09-06 13:19] zouyee commented on #82419
duplicate https://github.com/kubernetes/kubernetes/issues/82352

[2019-09-06 13:23] deads2k commented on #82379
That being the case, I think you already have what you need since the kubelet's client certificate should never have the same username as the service account token.

[2019-09-06 13:32] zouyee commented on #82290
/assign

[2019-09-06 13:40] bclau commented on #82287
I've updated the "e2eteam/resource-consumer:1.5", which is being used in testing Windows. I've tried running it a couple of times in my env, and the test is now passing properly.

The base image used was ``mcr.microsoft.com/windows/servercore:ltsc2019``, which has some random CPU spikes caused by the container's ``svchost.exe``, which then results in more CPU being consumed than intended, leading

[2019-09-06 13:46] #73514 closed

[2019-09-06 14:08] oxddr commented on #81890
I had a look at ClusterLoaderV2 runs from that week and I hardly see any specific problem related to ClusterLoaderV2 itself (there problem with nodes/kubelets) and actually failed test (mostly density).

[2019-09-06 14:08] oxddr commented on #81890
/close

[2019-09-06 14:08] #81890 closed

[2019-09-06 14:16] ahg-g commented on #82306
The problem is that it is part of a v1 API :(

[2019-09-06 14:23] ahg-g commented on #71859
@ahmad-diaa can you please post an update on what PRs are pending, and what other instances of ```factory.NewConfigFactory``` that still needs to be removed before we declare this issue closed?

[2019-09-06 14:31] #81866 closed

[2019-09-06 14:35] andreib1 commented on #81723
It looks like no-one has the answer to this one.  Is there a chance you can have a look please @mattjmcnaughton ?  As you say it is surprising that I can't get this from the logs.

[2019-09-06 14:35] jessie-JNing opened #82421 "kubectl --dry-run does not report error when secret is not encrypted with base64"
**What happened**:
When deployed an experimental `secret` resource using `kubectl create -f secret.yaml`, an error was thrown as below, since one of the secret is not encrypted with base64.
[code]
However, it worked fine during dry-run `kubectl create -f secret.yaml --dry-run`.

**What you expected to happen**:
- The error should be caught during dry-run.
- The error message exposes secret key-val

[2019-09-06 14:45] zouyee commented on #82421
/sig cli

[2019-09-06 14:54] zouyee commented on #82421
using `--server-dry-ru` instead.

[2019-09-06 14:56] oxddr opened #82422 "[Failing Test] gce-master-scale-performance - load 09/02"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
load

**Since when has it been failing**:
run from 09/02

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:
:0
[measurement call APIResponsiveness - APIResponsiveness error: top latency metric: there should be no high-latency requests,

[2019-09-06 15:18] jeremyje commented on #82159
I was thinking that the key itself is ephemeral so that it's autogenerated on the fly without configuration. If the PVC is lost (host crash) the data associated with it is lost. I wanted it to be zero config other than give me encryption.

Would it be better to offer an encryptedEmptyDir plugin that does this instead? That way it doesn't have to be a part of Kubernetes itself. Is that possible?

[2019-09-06 15:19] gnufied opened #82426 "Staging/mount directory should not be removed if nodestage/publish times out"
It looks like currently we are trying to remove staging directory when `NodeStage` call errors out/times out - https://github.com/kubernetes/kubernetes/blob/c58767b1e2981bd7826b4336de0c2756fa975339/pkg/volume/csi/csi_attacher.go#L331

This is problematic because in case of timeout, the staging path might still be in-use by the driver for staging the volumes and k8s may unilaterally remove it.  I t

[2019-09-06 15:25] gnufied commented on #82426
cc @humblec

[2019-09-06 15:30] krzysied commented on #82069
Watch strategy with fakeWatch (for test pod's secrets) - 450 goroutines
![image](https://user-images.githubusercontent.com/25119199/64440270-f80c3980-d0cb-11e9-8c93-2b3ac04b9976.png)

[2019-09-06 15:33] ahg-g opened #82427 "Add metrics to track filter and scoring behavior of the scheduler"
**What would you like to be added**:

The scheduler currently provides a number of useful metrics to track its health. We would like to add more metrics to track the impact of various filter/predicate and score/priority functions on scheduling decisions.

A couple of suggestions:
1) Add a vector counter to track the number of nodes filtered by different filters/predicates.
2) Add a vector histogra

[2019-09-06 15:36] liggitt commented on #82421
The format validation happens server-side, not client-side, so `--dry-run` would not be able to perform that validation. Use `--server-dry-run` to perform server-side validation.

[2019-09-06 15:37] MoonShining opened #82428 "can't recover when tcp-reset happens"
client-go verison is 9.0.0

1. get endpoints use CoreV1 from api server is ok, set timeout 5s
2. apply iptables rule `sudo iptables -A INPUT -s k8scluter -p tcp -j REJECT --reject-with tcp-reset`
3. wait about 15s
4. remove iptables rule

after that, client-go can't communicate with api-server,  always get `Get https://xxx/api/v1/namespaces/prod/endpoints/aaa?timeout=5s: context deadline exceeded`

[2019-09-06 15:37] ahg-g commented on #80812
/close in faviour of #82427

[2019-09-06 15:38] ahg-g commented on #80812
/close

[2019-09-06 15:38] #80812 closed

[2019-09-06 15:39] deads2k opened #82429 "`cm/extension-apiserver-authentication` is "last one wins""
When running aggregated apiservers that want to automatically get their authentication configuration from `kubectl get -n kube-system configmap/extension-apiserver-authentication`, the "last one wins" behavior means that you can end up in cases where the aggregated apiserver trusts server-two, but not server-one.  We can address this by having kube-apiservers add their unique information to the co

[2019-09-06 15:40] deads2k commented on #82429
@kubernetes/sig-api-machinery-bugs
/priority important-soon

[2019-09-06 15:40] ahmad-diaa commented on #71859
Currently pending PRS: #80697, #81911, #82040
#81911 is blocked by #81911

remaining calls:
- https://github.com/kubernetes/kubernetes/blob/c58767b1e2981bd7826b4336de0c2756fa975339/pkg/scheduler/api/compatibility/compatibility_test.go#L1232
- `scheduler.New` won't be able to remove this now (dependent on https://github.com/kubernetes/kubernetes/issues/72547)
- calls in `factory_test.go` (won't be

[2019-09-06 15:46] johnbelamaric commented on #82381
@SataQiu thanks.

It is true that the default settings, using `.local`, are squatting on the mDNS domain. This is unfortunate but can be overridden in most cases as described.

[2019-09-06 15:47] snail59 commented on #82381
Hello,
Thank you @SataQiu for your answer, even if I have been wondering all day long if you had assumed that I am a little bit stupid :-).
I was not trying to find a way to set this option, I was just pointing out that the DNS name should not default to .local because this domain is reserved for other usages.

Let me quote:

In summary, .local is primary used for multicast DNS and anyway is not r

[2019-09-06 15:47] johnbelamaric commented on #82381
/remove-triage unresolved

[2019-09-06 15:50] eloyekunle commented on #66572
This is still a thing.
/assign @sallyom
/reopen

[2019-09-06 15:56] rikatz commented on #82159
Yes it is :) You can create your very own CSI (Container Storage Interface) and use it. It works the same way as CNI, CRI and so on. Kubernetes calls your "external" program to create, attach, detach and remove the volume when needed (instead of having this internally in the code)

Take a look into CSI documentation here: https://kubernetes-csi.github.io/docs/ it should be helpful. There are some

[2019-09-06 15:57] deads2k commented on #82429
Three noteworthy edges were brought up so far:

1. PEM or x509 parse error in existing content (discard blocks with errors?)
 resolution: discard unparseable content
2. expired things in existing content (discard? with a certain amount of leeway after expire time?)
 resolution: read existing content, add new content, iterate to remove everything more than 5 minutes after expiry time, write new con

[2019-09-06 15:57] deads2k commented on #82429
/assign

[2019-09-06 15:57] johnbelamaric commented on #82381
/priority backlog

[2019-09-06 16:08] humblec commented on #82426
Thanks @gnufied ! Indeed this is an issue at CO code path. Most of the cleanup operation or subsequent operations in the CSI plugin code make use of the `mountPath` which is the `global mount path` known to CO for all of the subsequent operations.

As clarified in https://github.com/container-storage-interface/spec/issues/385#issuecomment-526629097, SP is free to select its own staging path, if th

[2019-09-06 16:08] alexodle commented on #80968
I've been playing around with this a bit in the last week or so, and I have a better sense of what's happening here, but I'm not sure yet what the right fix is. Recording my findings/thoughts here for the group.

**Setup**

1. Remove the if statement here, forcing a reconcile for a pods even with readiness gates: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/status/status_manage

[2019-09-06 16:18] IRDonch commented on #34043
/reopen

[2019-09-06 16:18] liggitt commented on #82407
starting in v1.15.0, custom resource definitions that [specify structural schemas](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#specifying-a-structural-schema) will [publish OpenAPI schema documentation](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#publish-validation-schema-in-openapi-v2

[2019-09-06 16:18] #82407 closed

[2019-09-06 16:35] mikedanese commented on #82379
I don't know how kubelet got mixed in here. The issue I linked above, #63732, concerns certificate issuance for service accounts. It is not currently possible to write an approver (in or out of tree) to write an approver that allows service accounts to request certificates for themselves without introducing a vector for arbitrary credential lifetime extension.

[2019-09-06 16:54] soggiest commented on #77538
@bowei Any updates on this issue?

[2019-09-06 16:55] soggiest commented on #74917
Any updates on this issue?

/cc @kubernetes/sig-node-test-failures
/cc @dchen1107 @derekwaynecarr @Random-Liu

[2019-09-06 16:56] soggiest commented on #78901
@justinsb Have you had a chance to look at this?

[2019-09-06 17:02] andrewsykim commented on #82394
On the vSphere side I'm not aware of anyone using this though there are valid reasons to keep this flag. I think it's safe to deprecate along with CSIMigration going to beta and remove the flag entirely along with cloud provider removal.

[2019-09-06 17:08] hh opened #82435 "Deprecate the PodTemplate API"
The PodTemplate API is unused and increases the API surface needlessly.
It should be removed so it's not a default DoS vector.

From https://github.com/kubernetes/kubernetes/pull/81689#issuecomment-523285651

@bgrant0607

@liggitt

@johnbelamaric

/area conformance

[2019-09-06 17:09] hh commented on #82435
/sig architecture-proposals

[2019-09-06 17:09] hh commented on #82435
/sig architecture

[2019-09-06 17:10] hh commented on #82435
/assign @johnbelamaric

[2019-09-06 17:11] hh commented on #82435
/assign @liggitt

[2019-09-06 17:15] bgrant0607 commented on #82435
I am supportive of deprecation. It will still be a year before we could remove it. In the meantime, we could document that we recommend disabling the API endpoint.

[2019-09-06 17:21] liggitt commented on #82435
Agreed.

We don't have the ability to switch on/off individual resources today, just API group/versions.

I'm not concerned about it as a DOS vector in the meantime since only cluster administrators have permission to read/write the API by default. I'm in favor of removal to avoid confusion.

[2019-09-06 17:27] jessie-JNing commented on #82421
Thanks @zouyee and @liggitt !
It's good to know `--server-dry-run`, and it works for us~

[2019-09-06 18:11] aanm opened #82436 "Regression in v1.16.0-beta.2 - the server could not properly serve the CR schema"
**What happened**:
While upgrading from v1.15 to try out kubernetes v1.16.0-beta.2, kube-apiserver is printing error messages:
[code]

This also **brakes** the API server since the user is unable to even delete the "faulty" CR

**What you expected to happen**:
- Not to print any error message and accept a CR that was already valid in 1.15

**How to reproduce it (as minimally and precisely as possi

[2019-09-06 18:12] aanm commented on #82436
/sig api-machinery

[2019-09-06 18:16] liggitt commented on #82436
/assign
/priority critical-urgent
/milestone v1.16

[2019-09-06 18:20] ahg-g commented on #82306
Ok, it turns out they are not actually considered part of the API: https://github.com/kubernetes/kubernetes/pull/82283#issuecomment-528952678

[2019-09-06 18:35] liggitt commented on #82436
This is caused by compiling the openapi spec for use by server-side apply here:

https://github.com/kubernetes/kubernetes/blob/38752f7f99869ed65fb44378360a517649dc2f83/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go#L648-L668

SSA is using the `ToProtoModels` method, which has significant gaps in handling valid openapi specs (see all the TODO comments in https://

[2019-09-06 18:51] liggitt commented on #82436
running with `--feature-gates=ServerSideApply=false`, this works as expected and is compatible with 1.15

[2019-09-06 18:53] liggitt commented on #82436
/assign @apelisse

[2019-09-06 18:59] mattjmcnaughton commented on #82017
+1 to @alejandrox1  - thanks for your hard work @odinuge :)

[2019-09-06 19:05] cbf123 opened #82437 "Unable to use go modules in device plugins"
**What happened**:

As described at https://github.com/intel/sriov-network-device-plugin/pull/160#issuecomment-528482988 when I ran "go get k8s.io/kubernetes" it gave me the following error:

...initial bit snipped...
go: k8s.io/cluster-bootstrap@v0.0.0: unknown revision v0.0.0
go: k8s.io/kube-proxy@v0.0.0: unknown revision v0.0.0
go: k8s.io/code-generator@v0.0.0: unknown revision v0.0.0
go: k8s.i

[2019-09-06 19:07] cbf123 commented on #82437
@kubernetes/sig-node-bugs

[2019-09-06 19:10] dims commented on #82437
/area code-organization

[2019-09-06 19:48] liggitt commented on #82436
fix and covering test is in https://github.com/kubernetes/kubernetes/pull/82438

[2019-09-06 19:58] #71925 closed

[2019-09-06 20:11] bowei commented on #81675
This looks relevant for some of the work you guys are doing: @satyasm @varunmar

[2019-09-06 20:24] danbeaulieu opened #82440 "High system load/CPU utilization with trivial liveness and readiness probes"
**What happened**:
Using trivial probes significantly contributes to CPU/system load.

**What you expected to happen**:
Trivial probes should be performant

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a cluster (minimal reproduction done on an m5.large ec2 instance, creating a single node cluster via kubeadm with a deployment specifying a 2 pod replica scheduled on

[2019-09-06 20:25] raravena80 commented on #69428
/remove-lifecycle rotten

[2019-09-06 20:25] danbeaulieu commented on #82440
@kubernetes/sig-node-bugs

[2019-09-06 20:39] brysonshepherd commented on #82408
I agree that this is needed

[2019-09-06 20:42] #82395 closed

[2019-09-06 20:51] mucahitkurt opened #82441 "Remove manual node scheduling workaround from in-tree hostpath e2e tests"
Manual node scheduling workaround can be removed from in-tree hostpath e2e tests when the topology supported csi hostpath driver image is released.

Related issue: https://github.com/kubernetes-csi/csi-driver-host-path/issues/54
Related comment: https://github.com/kubernetes-csi/csi-driver-host-path/pull/88#issuecomment-529005907

/sig storage

cc @msau42

[2019-09-06 21:17] danwinship commented on #82361
What version of iptables do you have installed, and if 1.8.x, is it running in legacy or nft mode? (If it's iptables 1.8.1, try upgrading to 1.8.2 or 1.8.3.)

`iptables.EnsureRule` checks to see if a rule is present, and then adds it if it is not. It seems that on your system, it is always mistakenly deciding that the rule isn't actually present and so adding another copy.

[2019-09-06 21:18] robscott commented on #82174
This test is passing again on master: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1170070309399695366/

[2019-09-06 21:43] bengadbois opened #82443 "CRD with a single element in spec.versions is not allowed"
**What happened**:
Attempt to create a CRD with only one version in the new versions field (see example below)

**What you expected to happen**:
I expected this would be pass validation

**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply the following:
[code]
This is rejected with:
[code]

**Anything else we need to know?**:
https://kubernetes.io/docs/tasks/access-kube

[2019-09-06 21:46] robscott commented on #81193
Hey @alejandrox1, it looks like this may have been resolved by https://github.com/kubernetes/kubernetes/pull/82288.  https://github.com/kubernetes/kubernetes/issues/82174 also seems to be resolved at this point, so hopefully it's just a matter of waiting for a few more test runs to ensure tests are all passing consistently again.

[2019-09-06 21:54] bengadbois commented on #82443
/sig api-machinery

[2019-09-06 22:12] tallclair commented on #25320
What's the status of this?

I noticed that the `TolerationsAnnotationKey` appears to only be used in validation.

[2019-09-06 22:22] liggitt commented on #82443
In v1beta1, the schema/subresources/additionalProperties attributes for a single version must be specified as top level fields for backwards compatibility with clients that predated the versions array field

In v1, the top level fields are removed and only the per-version fields exist (and top-level data is migrated to the per-version fields when using the v1 API)

/close

[2019-09-06 22:22] #82443 closed

[2019-09-06 22:32] bengadbois commented on #82443
Is the v1 for CRDs released or releasing soon?

The example in https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/#overview uses `apiVersion: apiextensions.k8s.io/v1beta1`. I'm not sure how/where someone would use the v1, using kubectl with 1.15.3, I get `no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1"`

[2019-09-06 22:35] liggitt commented on #82443
Yes, coming in 1.16 in ~1 week

[2019-09-06 22:37] #82436 closed

[2019-09-06 22:48] varunmar commented on #81675
If the goal is only to control what gets masqueraded, can you see if the ip-masq-agent daemonset is of any help to you? (https://github.com/kubernetes-incubator/ip-masq-agent)

On a related but totally different note, the controller-manager also takes a cluster-cidr param, and that has already been relaxed a bit to support dual-stack IPv6 in #73977. That has already been released in 1.16.
Could yo

[2019-09-06 23:14] johngmyers commented on #60535
/remove-lifecycle rotten

[2019-09-06 23:32] soggiest opened #82445 "[Tracking Issue] Ensure SIG-Networking Source Pod IP preservation test errors properly"
Per PR [82420](https://github.com/kubernetes/kubernetes/pull/82420) the test `Kubernetes e2e suite [sig-network] Services should preserve source pod IP for traffic thru service cluster IP [LinuxOnly]` fails to error properly. One line of particular interest from that PR:

`
If you wonder why it does not fail on docker, that's because the test does not report the error correctly but fails the same

[2019-09-07 00:07] zouyee commented on #82441
/cc @msau42

[2019-09-07 00:08] maxstr commented on #81675
Because we don't do IPAM using the IPAM controller we don't specify cluster-cidr to the controller manager. The ip-masq-agent looks like it may be what we need to solve this issue though -- our current workaround is to use `--masquerade-all` to ensure all pod -> VIP traffic looks the same and to handle the case of service traffic switching interfaces during the DNAT.

My thought though is that, es

[2019-09-07 00:25] cblecker commented on #80546
/milestone clear

[2019-09-07 00:25] cblecker commented on #80546
This isn't v1.16 blocking

[2019-09-07 00:30] mayakacz commented on #82295
cc: @mikedanese

[2019-09-07 00:55] RickyRajinder commented on #82386
Hi @RobertKrawitz I have opened a pull request #82447

[2019-09-07 01:03] dims commented on #82437
Looks like the repo in question just uses code under `k8s.io/kubernetes/pkg/kubelet/apis/deviceplugin`, we could just move that to staging hopefully

[2019-09-07 01:35] dims opened #82448 "Deprecating and remove hack/e2e.go"
Follow up from @BenTheElder 's comment in https://github.com/kubernetes/kubernetes/pull/82188#issuecomment-526869867

We should change any instances to use kubetest directly, end users can do the same as well

[2019-09-07 01:35] dims commented on #82448
/sig testing
/area code-organization

[2019-09-07 01:57] #73505 closed

[2019-09-07 02:22] ahmad-diaa commented on #82306
@ahg-g Should I open a PR to address removing those const values from `types.go`?

[2019-09-07 03:10] YangYongZhi commented on #82440
I think the kubelet will consume some CPU resources, I think it's OK.
And you should check that your liveness and readiness probe logic if they are too complex to be used just as a probe.

[2019-09-07 03:56] kdada commented on #82242
@caesarxuchao  `Semantic.DeepEqual` solves the comparison. What do you think about the Inconsistent behaviors in `ResourceList ` and `EmptyDirVolumeSource . SizeLimit `?

[2019-09-07 03:59] #76358 closed

[2019-09-07 05:03] ejez commented on #82203
That is what I am doing now in my project, I added an unnecessary rule and explained in a comment that this is because k8s does not allow empty ingresses, but this is a workaround not a solution and feels llike a hacky way, this is why I reported it.

[2019-09-07 07:21] timchenxiaoyu opened #82451 "update pod failed"
kubernetes 1.13
if I change mounted configmap data
then update one pod image by "kubectl edit pod"
pod fail to start

   message: |
          oci runtime error: container_linux.go:247: starting container process caused "process_linux.go:364: container init caused \"rootfs_linux.go:54: mounting \\\"/var/lib/kubelet/pods/ae8515fc-d13c-11e9-8dd5-0017a477045c/volume-subpaths/ddd-x0/devfelix1/0\\\" to

[2019-09-07 07:24] timchenxiaoyu commented on #82451
@kubernetes/sig-node-bugs

[2019-09-07 07:45] qiyongxiao commented on #82407
It is empty?
[code]

[2019-09-07 09:04] #59040 closed

[2019-09-07 09:14] teijinyer commented on #82359
node only schedulerd  limit the number of  pods of  the same type ， I can use filterVerb to do this feature ，but bind is async

[2019-09-07 09:21] zhaoyc1990 commented on #81938
[flannel#1096](https://github.com/coreos/flannel/pull/1096) Maybe it can help you.

[2019-09-07 09:23] beautytiger commented on #82013
Ok, got it.

[2019-09-07 10:13] Bessonov commented on #57838
/remove-lifecycle stale

[2019-09-07 12:01] johnjjung commented on #78256
Just and update:

I was able to resolve my issue using an pod anti affinity

https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/#tolerating-node-failure

Here is an example:

[code]

[2019-09-07 12:01] #78256 closed

[2019-09-07 12:07] #74947 closed

[2019-09-07 12:07] #71938 closed

[2019-09-07 12:11] humblec opened #82453 "RWX PVC fails with 'multi attach error'"
Description of problem:
 A shared PVC (on Ceph and VolumeMode=Filesystem ) can't be used at same time in more than one pod.

The second pod is stuck in "ContainerCreating" state with error:

[code]

[code]

[2019-09-07 12:12] humblec commented on #82453
@kubernetes/sig-storage-bugs

[2019-09-07 12:12] humblec commented on #82453
@msau42 @jsafrane

[2019-09-07 12:24] liggitt commented on #82451
/remove-sig node
/sig storage

[2019-09-07 13:11] dims commented on #82437
/assign @RenaudWasTaken

[2019-09-07 13:12] dims commented on #82437
note from @RenaudWasTaken in email:

[code]

[2019-09-07 13:13] cjreyn commented on #77732
Still need this

[2019-09-07 13:16] binudba commented on #60987
on k8s   v1.13.5 :  Following worked

1. systemctl stop kubelet docker
2. find the pod id ->  journalctl -fu kubelet | awk -F'"' '{ print $2}'
3. cd /var/lib/kubelet/pods
4. rm -rf <pod id#>

[2019-09-07 13:26] cameronbraid commented on #60987
@binudba it may have worked, but it may also delete files from mounted volumes as sometimes there are still mounted volumes under that folder - not a good idea to rm -rf them

[2019-09-07 13:31] dims commented on #71677
@xmudrii yes please

[2019-09-07 13:31] liggitt commented on #82407
check the CRD API object status to see if there is a non-structural condition that needs to be corrected before openapi will be published

[2019-09-07 13:32] dims commented on #74150
@xmudrii let's clear the milestone on this one and not keep moving it to the next one.

[2019-09-07 13:43] dims commented on #74917
@soggiest the test in question was demoted as part of  #81535 so we don't need to worry about it any more

- https://github.com/kubernetes/kubernetes/commit/79cff6cd1072f28d67730fe4ee50a173086b061e#diff-69f4e58c57b1efcc89f88e6e67005f39

[2019-09-07 13:50] yanmaipian commented on #71887
docker:18.06.2-ce
k8s:v1.15.3
linux:CentOS Linux release 7.6.1810 (Core)
cgroup-driver: systemd

[2019-09-07 13:53] aahbs commented on #80897
All,
TCP ingress controller is failing while installing cloudera datascience workbench,  i can see below in logs any suggestions please...
2019-09-07 13:42:15.381 1       INFO    TCPIngress                      Start  reading config
2019-09-07 13:42:15.381 1       INFO    TCPIngress.Config               Reading config from Kubernetes
2019-09-07 13:42:15.381 1       INFO    TCPIngress

[2019-09-07 14:11] odinuge commented on #81824
This has now changed to this error:

[code]
/reopen

[2019-09-07 14:17] odinuge commented on #81726
Looks like we still have some flakes in the huge page test, even tho the test now only requests `10MiB` of huge page memory. Happens way less frequently than previously tho.

[code]

This is probably because the kernel is caching a lot of stuff, making it hard for the kernel to fix it. Ill do some testing with dropping the caches (no user facing stuff will happen, only kernel level) before trying

[2019-09-07 14:51] xmudrii commented on #74150
@dims Thanks for the update!

/milestone clear

[2019-09-07 14:54] xmudrii commented on #71677
@dims Thanks for the update!

/milestone v1.17

[2019-09-07 15:05] zouyee commented on #82451
would you like to share your manifest？

[2019-09-07 15:19] xiaoanyunfei commented on #81728
0-17

It's strange. I tried on my cluster,  and the cpuset.cpus is surelly `2-6`
I guess this may have something to do with your docker version or kernel version

You can check the file `/var/lib/kubelet/cpu_manager_state` which indicates the cpuset that pod should use

You can get the actual cpuset that pod used as below:

9:cpuset:/kubepods.slice/kubepods-poda98f5975_aa94_4ae6_bcad_ed557680fd5d.

[2019-09-07 15:30] msau42 commented on #82453
That looks like an error from Rook, not k8s

[2019-09-07 16:11] #65879 closed

[2019-09-07 16:14] luigi-riefolo commented on #70179
any update on this?
 /remove-lifecycle stale

[2019-09-07 16:14] luigi-riefolo commented on #70179
/remove-lifecycle stale

[2019-09-07 16:21] rkojedzinszky opened #82456 "kubeadm: Ability to add environment variables to static pod manifests"
**What would you like to be added**:
It would be useful to be able to add environment variables to ClusterConfiguration in a similar way as extraArgs can be.

**Why is this needed**:
I use k8s on PI boards, where RAM is limited. Now I've added GOGC=25 to my generated static pod manifest files, but a kubeadm upgrade will overwrite that. You can see the difference of memory usage after the setting h

[2019-09-07 16:24] rkojedzinszky commented on #82456
/sig cluster-lifecycle

[2019-09-07 18:21] krmayankk commented on #77600
/remove-lifecycle rotten

[2019-09-07 18:22] krmayankk commented on #77600
/lifecycle frozen

[2019-09-07 19:14] #76364 closed

[2019-09-07 19:24] glasser opened #82457 "A way to display relative timestamps with custom-columns"
**What would you like to be added**:

The default human-readable printer in `kubectl get` prints many timestamps as relative to the current date; eg, the AGE column in pods is calculated from the timestamp in this way.

It would be nice to be able to do this with custom columns as well.

**Why is this needed**:

 As an example, I'd like a column for `status.containerStatuses[0].lastState.terminate

[2019-09-07 19:24] glasser commented on #82457
@kubernetes/sig-cli-feature-requests

[2019-09-07 19:29] BenTheElder commented on #82396
cc

[2019-09-07 22:04] catalinpan commented on #43633
Might be useful for someone, I use [server-alias](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#server-alias) option on the nginx ingress to have multiple domains for a single ingress.

[2019-09-07 23:13] paulgmiller opened #82459 "Kustomize resources from remote url"
Mirroring this from: https://github.com/kubernetes-sigs/kustomize/issues/970 now that kustomize is actually in kubectl. Feel free to redirect me if that's wrong. Also @Liujingfang1 who was against this so they can say why if they want.

**What would you like to be added**:
Right now resoruces in kustomize.config.k8s.io/v1beta1 only supports remote url directories with a kustomization.yaml. Would b

[2019-09-08 00:15] paulgmiller commented on #82459
/sig cli

[2019-09-08 01:12] wu0407 commented on #78678
/remove-lifecycle stale

[2019-09-08 01:27] k82cn commented on #82405
/sig apps

[2019-09-08 02:43] feiskyer opened #82460 "Reduce vmssVM API calls with InstanceView expansion"
**What would you like to be added**:

Currently, Azure cloud provider invokes `VirtualMachineScaleSetVMsClient.Get()` and `VirtualMachineScaleSetVMsClient.GetInstanceView()` to fetch VMSS nodes information:

https://github.com/kubernetes/kubernetes/blob/90f41951cd53ec63bf13d52371f88bbc3bb764db/staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go#L190-L219

This is because instanceVi

[2019-09-08 02:44] feiskyer commented on #82460
/sig cloud-provider

[2019-09-08 03:42] mnaser commented on #82361
I'm running into a similar issue in an environment that runs CentOS 7.  I can provide any backing information too if needed from my side.  I am also using flannel without canal.

[2019-09-08 03:46] vllry commented on #82361
@mnaser as Dan said above, the iptables version information would be helpful.

[2019-09-08 04:46] humblec commented on #82453
Indeed I was expecting some other layer than Kube. The main reason being if this is the case, it would be a general/common issue in kube and a nasty one. But one thing which I am not understanding here is, the `failedMount` is executed from Kubelet and the status or error is from kube source. The suspects in user/storage vendor side are 'accessModes` in PV and PVC , but from above outputs those ar

[2019-09-08 06:30] cwdsuzhou opened #82463 "kubectl describe pvc should also show APIGoup of DataSource"
**What happened**:

https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/kubectl/pkg/describe/versioned#L1551

Miss APIGroup of DataSource.

**What you expected to happen**:

kubectl describe pvc should also describe the apigroup

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `ku

[2019-09-08 06:30] cwdsuzhou commented on #82463
/assign

[2019-09-08 06:30] cwdsuzhou commented on #82463
/sig storage

[2019-09-08 06:34] cwdsuzhou commented on #82453
Can you  show more logs?

[2019-09-08 08:26] KevinTHU commented on #81630
@rikatz thanks for reply, the link about healthz endpoint is really helpful, I will try to add healthcheck for kube-proxy, but maybe for kubadm it should be added as default, that will be more user-friendly.
Another problem, for question 1, it is not aboult livenessProbe, it is about that `client-go ` package can not find out whether apiserver endpoints is not connected by 4 layer error or 7 layer

[2019-09-08 08:37] timchenxiaoyu commented on #82451
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "10"
  creationTimestamp: "2019-09-06T07:32:15Z"
  generation: 11
  labels:
    grey: from
    paas.io/clusterName: k8s-dev
    paas.io/name: devfelix1
    paas.io/serviceName: devfelix1
  name: devfelix1
  namespace: dev
  resourceVersion: "5274843"
  selfLink: /apis/extensions/v1beta1/namespaces/dev/deployments/devf

[2019-09-08 09:09] andyzheung opened #82469 "Some questions about Huge Pages and NUMA"
I read  community/contributors/design-proposals/resource-management/hugepages.md, and said that :

Initially, a pod may not consume multiple huge page sizes in a single pod spec. Attempting to use hugepages-2Mi and hugepages-1Gi in the same pod spec will fail validation. We believe it is rare for applications to attempt to use multiple huge page sizes. **This restriction may be lifted in the futur

[2019-09-08 09:47] cwdsuzhou commented on #72252
CSI Raw block volume has the similar issue.
I have sent a PR
https://github.com/kubernetes/kubernetes/pull/79784

[2019-09-08 11:30] #74812 closed

[2019-09-08 11:37] cwdsuzhou commented on #74317
/assign

[2019-09-08 11:49] warmchang commented on #73286
@BenTheElder I noticed that [kind](https://github.com/kubernetes-sigs/kind) has beed upgraded to go 1.13

[2019-09-08 13:00] dims opened #82467 "Document what kind of PRs are good for cherry-picks"
We have a document on how to do cherry picks:
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md#initiate-a-cherry-pick

But we don't have a document which lays out what PRs are good candidates for cherry-picks, do we? This will help both reviewers and release managers when the times comes to make a decision. This is a good source to point at for fol

[2019-09-08 13:00] dims commented on #82467
/kind documentation

[2019-09-08 13:01] dims commented on #82467
/remove-kind bug

[2019-09-08 13:02] dims commented on #82467
case in point https://github.com/kubernetes/kubernetes/pull/82446

[2019-09-08 13:08] dims commented on #82467
related to https://github.com/kubernetes/sig-release/issues/611

[2019-09-08 14:47] jontypreston opened #82468 "Kubernetes API Authentication Proxy Request Headers"
**What would you like to be added**:
See #66754.

Assuming the `--requestheader-group-headers` flag is set to `X-Remote-Group` the API server should accept both the following header(s) to apply the groups A,B,C to the user:

[code]

[code]

Currently only the former is supported.

**Why is this needed**:
The HTTP spec ([RFC 2616](https://tools.ietf.org/html/rfc2616#section-4.2)) specifies how mult

[2019-09-08 14:48] jontypreston commented on #82468
/sig auth

[2019-09-08 15:06] cwdsuzhou commented on #74150
/cc

[2019-09-08 15:17] cwdsuzhou commented on #68737
/cc @gnufied

[2019-09-08 15:31] windniw commented on #82451
@timchenxiaoyu could you format the manifest?

[2019-09-08 15:55] windniw commented on #81256
@bluebeach kubelet manage the GPU on the node with device-plugin, which get how many nvidia.com/GPU your pod requests in the spec.resources.requests && limits and put it in the mounting volume of the pod. That's how a unprivileged container's GPU be isolated.

[2019-09-08 16:19] bradfitz commented on #82361
This is happening to 6 of my nodes, all Debian buster (3 are masters, 3 are workers).

[code]

[2019-09-08 16:21] cblecker commented on #82469
/sig node

[2019-09-08 16:40] BenTheElder commented on #73286
@warmchang yes, that's not quite the same as upgrading this repo though :-)

[2019-09-08 17:27] praseodym commented on #82361
You’ll want to use iptables in legacy mode instead. #71305 has more details.

[2019-09-08 17:32] grayluck commented on #81675
We are planning and drafting a proposal for supporting multiple cluster-cidr, possibly by deprecating it and providing a workaround for multi cidr range support.
Will keep this issue updated once we have any PRs ready.

[2019-09-08 18:29] dims commented on #71305
@danwinship @thockin Looks like it would be good to document any workarounds for 1.16 release notes since folks are hitting this already? (see https://github.com/kubernetes/kubernetes/issues/82361 for example)

[2019-09-08 19:29] neolit123 commented on #82456
hi, we took a different approach and allowed kustomizations over the static pod manifests, which is patching over the kubeadm defaults:
https://github.com/kubernetes/kubeadm/issues/1379

please re-open this ticket in the k/kubeadm repo if you think your approach is still viable.

/close

[2019-09-08 19:29] #82456 closed

[2019-09-08 19:33] neolit123 commented on #82404
hi, please re-open this in the kubernetes/kubeadm repository where we track kubeadm tickets.
thanks

/close

[2019-09-08 19:33] #82404 closed

[2019-09-08 19:38] #76433 closed

[2019-09-08 20:47] rikatz commented on #81630
@KevinTHU got it. I think dealing with client-go is something bigger to me so I may not help right now in this one.

About kubeadm configuring kube-proxy (and other components) with livenessProbe I'll take a look into how it's assembled and make some PR

@yagonobre any thoughts on this?

[2019-09-08 21:03] tedyu commented on #73492
@benjaminjb
Were you thinking of something like the following ?
[code]

[2019-09-08 21:40] #74262 closed

[2019-09-08 23:03] bradfitz commented on #71305
Perhaps Kubernetes could bind mount a static iptables "proxy" binary into containers (at all popular locations) that proxies to the host's iptables.

[2019-09-09 00:43] #76470 closed

[2019-09-09 01:27] zhlhahaha commented on #82418
Thank for comment @RainbowMango

[2019-09-09 01:42] zhlhahaha commented on #82419
Hi @zouyee  The two issues are report different test errors. Do they duplicate?

[2019-09-09 02:00] KevinTHU commented on #81630
@rikatz thanks, without modifying client-go, adding livenessProbe for kube-proxy(by kubeadm) would be helpful too, at least we could have some clue for the reason of client-go error.

[2019-09-09 02:20] rikatz commented on #77493
@krcroft take a look at [this](https://github.com/kubernetes/kubernetes/pull/82223#issuecomment-529275597) to see if this is some way to follow

Don't think adding a new flag is a good idea (but I might be wrong either, and TBH I've tried ;) )

[2019-09-09 03:23] ProgramerGu commented on #82451
Can pod been updated without rebuild?

[2019-09-09 03:28] ProgramerGu commented on #82390
It will make Code structure more clearly，but why do k8s put them in two path at the first time?

[2019-09-09 03:50] ProgramerGu opened #82476 "Should we give bind a timeout mechanism?"
**What would you like to be added**:a timeout mechanism for bind

**Why is this needed**:if kube-schduler already pick a suggest-host for pod,it
call bind() function ,if it didn`t return fail then put result in cache .And in cache cleanup mechanism.If it haven`t been finished,it stuck forever,unless we restart kube-scheduler or call forget.Should we git it a timeout error and stop syce this pod?

[2019-09-09 04:06] hasheddan commented on #82460
@feiskyer I would be happy to take this issue!

[2019-09-09 04:14] MikeSpreitzer commented on #81879
/priority important-soon

[2019-09-09 05:16] feiskyer commented on #82460
@hasheddan  Cool, thanks.

[2019-09-09 05:56] adisky commented on #81746
/close
Tests are passing now!!

[2019-09-09 06:15] mbdas commented on #40908
/remove-lifecycle stale

[2019-09-09 07:23] brancz commented on #68522
/remove-lifecycle stale

[2019-09-09 07:27] kverstr commented on #82369
/sig cloud-provider

[2019-09-09 07:48] wjentner commented on #82361
We have the same versions as @bradfitz .

We will now try the workaround as @praseodym suggested and observer further.

[2019-09-09 07:50] #76416 closed

[2019-09-09 09:05] draveness commented on #76308
/assign
Per offline discussion with @ravisantoshgudimetla

[2019-09-09 09:09] draveness opened #82480 "[Umbrella] Graduate ResourceQuotaScopeSelectors from beta to GA"
/sig scheduling
/kind feature

**What would you like to be added**:

Graduate ResourceQuotaScopeSelectors from beta to GA

- [x] Relax namespace restriction for critical pods #76310
- [x] Graduate ResourceQuotaScopeSelectors API to GA https://github.com/kubernetes/kubernetes/pull/82690
- [x] Update documents to reflect the changes

**Why is this needed**:

- [KEP](https://github.com/kubernetes/enh

[2019-09-09 09:09] draveness commented on #82480
/assign

[2019-09-09 09:36] draveness commented on #82476
/sig scheduling

Do you mean `BindTimeoutSeconds` in the scheduler configuration?

[2019-09-09 09:48] krzysied commented on #82069
Watch strategy with fake ServerWatch - 300 goroutines
![image](https://user-images.githubusercontent.com/25119199/64520710-fe322e00-d2f6-11e9-8ac0-dcc8a73e8229.png)

This time the only goroutines created are request handlers. There was only header response sent to establish connection.

[2019-09-09 09:52] #76484 closed

[2019-09-09 10:35] dims commented on #82174
let's close this out @alejandrox1

[2019-09-09 10:46] alitoufighi opened #82482 "Initial check for container being ready in a pod"
**What would you like to be added**:
I had the issue mentioned here: https://github.com/kubernetes/kubernetes/issues/37450

My applications take some time to be ready for serving traffic after creation, and I thought `readinessProbe` must be the solution to keep them `NotReady` until they're actually ready. But I only need this in the beginning of the lifecycle of my container. Using readinessProb

[2019-09-09 10:52] bclau commented on #78861
/remove-lifecycle stale

[2019-09-09 11:08] wojtek-t opened #82484 "No (auto)generated conversions for apimachinery and apiserver objects"
I was recently looking into pprof graphs from our tests, and found out that we're spending a lot of time in `defaultConvert` function (e.g. this run:
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1169656830515744771/artifacts/?marker=logs%2fci-kubernetes-e2e-gce-scale-performance%2f1169656830515744771%2fartifacts%2fgce-scale-cluster-minion-group-vpbl%2f

[2019-09-09 11:10] wojtek-t commented on #82484
@liggitt - meta.v1/meta.v1beta1 it seems we can simply autogenerate those.

But do you have a suggestion for the second point? We can do manual-conversion, but that would introduce maintainence cost.

[2019-09-09 11:28] marcinma commented on #66430
/remove-lifecycle stale

[2019-09-09 11:38] hellokangning opened #82487 "AppArmor loader reports "No new profiles found""
**What happened**:

I am using [AppArmor loader](https://github.com/kubernetes/kubernetes/tree/master/test/images/apparmor-loader) to load custom profiles into Kubernetes, but always get "No new profiles" error on a new cluster.

I checked the ConfigMap and the `/sys/kernel/security/apparmor/profiles`  in which I could see the profile just added. But the status of pod is **CrashLoopBackOff** and t

[2019-09-09 11:39] danwinship commented on #82361
I'm not sure how using the wrong mode would cause this, unless nft mode was implementing "`iptables -C`" incorrectly, which I'm pretty sure that it does not in 1.8.2.

[2019-09-09 11:48] oxddr opened #82488 "[Failing Test] gce-master-scale-correctness on 09/07"
**Which jobs are failing**:
UP - cluster creation

**Which test(s) are failing**:
gce-master-scale-correctness

**Since when has it been failing**:
on 09/07 only, next run has passed (hence this is not urgent)

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness

**Reason for failure**:
control plane didn't become healthy

**Anything else we need to

[2019-09-09 12:51] lmdaly commented on #72828
1.16 PRs merged and documentation PR merged.
Closing issue.

[2019-09-09 12:51] #72828 closed

[2019-09-09 12:55] vegemitecheesetoast commented on #81121
My first PR was merged to change the utils for this, now I will work on migrating the logic that uses ParseInt to ParsePort in utils. Hopefully should get to that this weekend.

[2019-09-09 12:58] liggitt commented on #82484
opened https://github.com/kubernetes/kubernetes/pull/82490 to address the userinfo conversion issue

[2019-09-09 13:05] andrewsykim commented on #79783
FYI I'm going to raise this issue in the next SIG Network call

[2019-09-09 13:07] andrewsykim commented on #81405
@zops can you address @rikatz's comment please?

[2019-09-09 13:14] saschagrunert commented on #82445
I'm following up on this in #82491

[2019-09-09 13:14] liggitt commented on #82484
@smarterclayton was looking into removing the reflective conversion path entirely in https://github.com/kubernetes/kubernetes/pull/65881... I think that would be good to do to flush out reflective conversions, which we don't want any of

[2019-09-09 13:31] wojtek-t commented on #82484
Thanks a lot for opening this PR Jordan.

I took a quick glance into the remaining ones and couple examples are:
`v1.DeleteOptions" "v1.DeleteOptions"`
`internalversion.ListOptions" "v1.ListOptions"`
`v1.PodExecOptions" "url.Values"`
`"v1.ListOptions" "url.Values"`

Couple of those are simply missing conversions (so lack of those is expected).

But I don't understand this one yet:
`internalversion

[2019-09-09 13:34] pperiyasamy commented on #81728
Yes, I can see it from the below content:

[code]

As this info exists on the host (worker node), but application running on the pod should get to know the isolated cores in some way on the pod itself to run dpdk specific applications on those cores.
we could parse `Cpus_allowed` parameter in the `/proc/1/task/1/status` file, but it would be good if we have it on the pod's `/sys/fs/cgroup/cpuset/c

[2019-09-09 13:37] alejandrox1 commented on #81746
Awesome. Thank you very much for all your work @adisky @ramineni
Will reopen the issue for the ci signal team to keep an eye on the CI job for a couple more days.
/reopen

[2019-09-09 13:42] amgads commented on #78900
This issue should not be closed - using the glusterfs fix at https://bugzilla.redhat.com/show_bug.cgi?id=1719290 still doesn't fix the issue becuase K8S is using : as separator
Need a fix in k8s ASAP.
Also please provide how do raise the priority to accelerate the fix in k8s

[2019-09-09 13:44] alejandrox1 commented on #81193
It was indeed!
Thank you very much for all the work you did to resolve these issues @robscott !
/close

[2019-09-09 13:44] #81193 closed

[2019-09-09 13:49] alejandrox1 commented on #82017
@odinuge @mattjmcnaughton https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial still has a lot of failing tests. What are the next steps?

/reopen

[2019-09-09 13:49] ahg-g commented on #82390
Historical reasons.

[2019-09-09 13:50] alejandrox1 commented on #82174
Thank you everyone for working and checking up on this!
/close

[2019-09-09 13:50] #82174 closed

[2019-09-09 14:05] odinuge commented on #82017
Yes, it has over the few last weeks become quite a mess... Looks like  #82018 fixed some of the issues about image eviction problems, but there are still a few left. I think I have a solution, so ill try to submit a PR in a few hours.

A lot of new tests started failing 8-28, and that may be related to #81534, but I am not totally sure..

[2019-09-09 14:19] alejandrox1 commented on #74917
Thank you @dims for tracking that one down!
/close

[2019-09-09 14:19] #74917 closed

[2019-09-09 14:21] alejandrox1 commented on #78901
I want to take a look at these tests :eyes:
/assign

[2019-09-09 14:31] bradfitz commented on #82361
@danwinship, see #71305 for the details. In a nutshell, AIUI: there are a mix of iptables binaries being run in different modes, of which your host iptables is only one.

[2019-09-09 14:37] tianyaning commented on #82468
/assign

[2019-09-09 14:41] zouyee commented on #81824
[code]

[2019-09-09 14:45] liggitt commented on #82468
we may need a second named header to do this compatibly

[2019-09-09 14:45] liggitt commented on #82468
cc @mikedanese

[2019-09-09 14:45] liggitt commented on #82468
cc @deads2k

[2019-09-09 14:47] AWKIF opened #82494 "Service endpoints status is wrong / not updated"
**What happened**:
We had a major network issue on our cluster where nodes were not able to contact each others and master(api,scheduler). Services endpoint were cleaned but when the network was back online some services endpoints remains blank while there were pods running for the services, i guess the controller should find these pods and update the service ep accordingly but it was not the case

[2019-09-09 14:49] AWKIF commented on #82494
/sig network

[2019-09-09 14:52] zouyee commented on #82494
same issue

[2019-09-09 14:57] #73788 closed

[2019-09-09 14:57] #76015 closed

[2019-09-09 14:58] deads2k commented on #82468
I think we need to preserve the behavior that group names can contain commas.  I'm not sure this can be made backward compatible using a single field.

[2019-09-09 15:24] ahg-g commented on #82306
Yes, we can remove those in a followup PR to the one handling sized values.

[2019-09-09 15:31] ahmad-diaa commented on #82306
Yes, this was the plan.
/assign

[2019-09-09 15:54] alejandrox1 commented on #82182
It appears that this one is a pure flake.
Will keep it open to monitor the job's health

[2019-09-09 15:58] alejandrox1 commented on #82182
/remove-kind failing-test
/remove-priority critical-urgent
/kind flake
/priority important-soon

[2019-09-09 15:58] liggitt opened #82497 "panic encoding the same object from multiple goroutines concurrently"
Seen in https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/69821/pull-kubernetes-integration/1170241808647589890

This happens to be triggered from a test, but other contexts that encoded the same object from multiple goroutines could hit the same issue

[code]

[2019-09-09 16:02] smarterclayton commented on #82484
Internal version list is only in one scheme (meta internal, which we use
sparingly) so maybe it got missed?

I’m trying to move away from meta internal, but it has uses for new api
objects being tested (like Table and PartialObjectMetadata were).

On Sep 9, 2019, at 9:31 AM, Wojciech Tyczynski <notifications@github.com>
wrote:

Thanks a lot for opening this PR Jordan.

I took a quick glance into t

[2019-09-09 16:09] alejandrox1 commented on #81198
/remove-priority critical-urgent
/priority important-soon

[2019-09-09 16:10] alejandrox1 commented on #78901
/remove-kind failing-test

[2019-09-09 16:21] PatrickLang commented on #80534
After discussions with SIG-CLI and SIG-Apps they're ok with the approach of simplifying this down to something that works with agnhost. SIG-Apps asked to double check that service ip/port variables are covered elsewhere first, then tag them for review.

https://docs.google.com/document/d/1r0YElcXt6G5mOWxwZiXgGu_X6he3F--wKwg-9UBc29I/edit# - See Aug 14
https://docs.google.com/document/d/1LZLBGW2wRDw

[2019-09-09 16:29] Huang-Wei commented on #82390
@ProgramerGu for some historical reason, we don't have the concept of `apiGroup`; we just have `apiVersion`, that's what the path `/api` comes into, which now represents a "particular" group called "core group". While along with the Kubernetes development, `apiGroup` was brought up and each API resource has its GVK (group, version, kind). So since then `/apis` aggregates all the resources which ha

[2019-09-09 16:39] ahg-g commented on #82390
The other reason is that config APIs under apis/config is published [under a separate external repo](https://github.com/kubernetes/kube-scheduler) that provides external, versioned API types that can be vendored and used by third-party code instead of vendoring the scheduler code directly.

[2019-09-09 16:41] bowei commented on #81675
/remove-triage unresolved

[2019-09-09 16:55] smarterclayton commented on #82497
We can probably fix this globally by slightly tweaking UnsafeConversion to copy the top most object (where kind is set) on its way down the conversion stack.

[2019-09-09 17:12] mikedanese commented on #82468
What does HTTP/2 say? This seems like an FR for go.

[2019-09-09 17:15] thockin commented on #71305
This sounds very feasible.  I started digging a bit deeper.

First bump: our `kube-proxy` image builds on `debian-iptables` which builds on `debian-base`, which is stretch.  We could a) convert everything to buster as debian-base v2.0.0; b) start publishing debian version-named base images; c) one-off this one.  @tallclair thoughts?  It's unclear the scope of such a change.

We'd want something in

[2019-09-09 17:21] grosser commented on #40157
/remove-lifecycle stale

On Mon, Sep 9, 2019 at 10:02 AM fejta-bot <notifications@github.com> wrote:

[2019-09-09 17:23] thockin commented on #71305
@justaugustus for release viz.

[2019-09-09 17:24] thockin commented on #82361
Can we close this as a dup of #71305 ?

[2019-09-09 17:24] dims commented on #71305
also cc @lachie83

[2019-09-09 17:30] liggitt commented on #82468
not really... this is about how the `k8s.io/apiserver` requestheader proxy auth module treats headers on the incoming request. It does not treat commas as special characters for the multi-header attributes (groups and extra values), which the RFC apparently requires.

[2019-09-09 17:33] thockin commented on #71305
Trying to do a naive debian-base update is somewhat fraught.

[code]

[2019-09-09 17:36] cheftako commented on #81984
/assign irajdeep

[2019-09-09 17:37] cheftako commented on #81984
/sig cloud-provider

[2019-09-09 17:40] krzysied commented on #82069
Watch strategy with fake watch on client side:
![image](https://user-images.githubusercontent.com/25119199/64553149-26db1780-d339-11e9-85b3-6f2216812ee1.png)
Watch strategy is listing secrets.

[2019-09-09 17:47] mayankshah1607 commented on #81657
Hi, I'm a new contributor, and was wondering if I could help with this issue. Are there any tasks remaining that I can pickup?

[2019-09-09 17:48] thockin commented on #71305
Removing `libslang2` and `libsystemd0` make that go away.  `libprocps6` claims to not exist.  A bunch of others claim to not be installed.  Streamlining that list gets me a build of 52.4MB

@tallclair there's apt magic happening that I don't follow, and your fingerprints are on it :)

[2019-09-09 17:50] cheftako commented on #82394
I believe this flag is needed until we have completely cut over to CSI. That however is just the minimum requirement for deleting the flag and in no way stops us from deprecating it.

[2019-09-09 17:53] wjentner commented on #82361
@thockin we have applied the workaround and use iptables-legacy right now. The issue with duplicate rules did not occur so far.

However, as far as I understood iptables-nft should be supported in the future and I'm not quite sure whether this issue occurs as a result of using both (legacy & nft) at the same time or because of a bug in iptables-nft?

[2019-09-09 17:55] thockin commented on #71305
Now an error installing nftables:

[code]

[2019-09-09 18:03] thockin commented on #71305
it looks like the nftables pkg wants bash

[2019-09-09 18:07] danwinship commented on #82361
I am familiar with #71305. But the iptables rule in question here is only created by kubelet, so it wouldn't be affected by having kube-proxy use the wrong mode. Even if you were running containerized kubelet and kubelet was using the wrong mode, it still wouldn't fail in *this* way.

It looks like in iptables-nft 1.8.2, `iptables -C` is still broken for some rules. eg:

    exists

    exists

as

[2019-09-09 18:11] liggitt commented on #74643
See https://github.com/kubernetes/kubernetes/pull/82247#discussion_r322381376 and https://github.com/kubernetes/enhancements/issues/553#issuecomment-529591505 for why this behavior does not belong in the kube-apiserver

[2019-09-09 18:12] bowei commented on #82203
I think this makes sense for configmap/secrets as they are just data (which could be empty).

Ingress resource is more like other controller mediated resources that have substantial synchronous validation and the our current thoughts are to have more synchronous validation rather than less (people like knowing their config is not going to do anything sooner rather than later)

Is the use of patch

[2019-09-09 18:12] wjentner commented on #82361
What we could observe was that all (?) cali*-chains were held in `iptables-legacy` whereas KUBE* and some others were `iptables-nft`.

This also caused a warning when doing `iptables-nft -L` saying that there are active rules in `iptables-legacy`.

[2019-09-09 18:17] wojtek-t commented on #82069
I don't understand the last one - what does it mean? It means "no requests are send"? Then what was the purpose of this experiment?

[2019-09-09 18:19] danwinship commented on #71305
It's not entirely reliable. The default tables will be created any time you run iptables-nft, so if the user is on an iptables-legacy system but runs a stray pod that erroneously invokes iptables-nft, then that would create those tables and then cause your wrapper to do the wrong thing until reboot.

We eventually decided that you can't really do any better than:

        legacy_lines=$(iptables-l

[2019-09-09 18:21] dims commented on #81657
@mayankshah1607 see "step 1" :) also see comments above where some folks have expressed interest in specific packages (look for PRs from those folks to avoid duplication)

[2019-09-09 18:27] thockin commented on #71305
If I push a branch, can you start integrating with that, maybe PR you changes into my branch?  @bradfitz has another idea he will expand on in a but, but I want to see how bad this rabbithole gets.

NB: We'd need *every* *single* container that uses iptables to participate in this...

We'd also need some EOL plan - when can we stop doing this?

[2019-09-09 18:29] thockin commented on #82361
@caseydavenport @danwinship @bowei

Do we need to have a special sig-net call to strategize on this?  It's suddenly feeling a LOT more urgent...

[2019-09-09 18:32] bradfitz commented on #71305
Updated my comment above: https://github.com/kubernetes/kubernetes/issues/71305#issuecomment-529250687

[2019-09-09 18:32] thockin commented on #71305
https://github.com/thockin/kubernetes/tree/iptables-nft is a WIP on building base images.  We'd need to hook into the Dockerfile to take over the bare iptables commands

[2019-09-09 18:46] thockin commented on #71305
@bradfitz

We discussed a bit offline, but for the record, some thoughts:

We would have to do this on every `hostNetwork: true && privileged: true` pod (also maybe consider net capabilities).  That doesn't seem SO bad - it's a small set.  Do we have to handle RuntimeClass that isn't cgroups-based?  Probably not going to intersect with `hostNetwork && privileged`.

I don't think we need to handle

[2019-09-09 18:54] liggitt commented on #82497
/priority important-longterm
/sig api-machinery

[2019-09-09 18:59] krzysied commented on #82069
We know that changing strategy has impact on get lease latency. IIUC this means that we are listing secrets (each secret once as initialization) and than we are creating watch. I wanted to check if listing secrets (instead of using get) has any impact on lease latency.

[2019-09-09 19:01] danwinship commented on #82361
OK, I was testing the wrong rule above: this *does* break with iptables-nft 1.8.2:

    iptables: Bad rule (does a matching rule exist in that chain?).

So if you are using iptables 1.8.1 or 1.8.2 in nft mode, you will get infinite firewall drop rules. (It is fixed in 1.8.3.) This is *not* a mixing-nft-and-legacy bug, it's just "iptables 1.8.1-1.8.2 has bugs that make it not work with kubernetes".

[2019-09-09 19:09] #79739 closed

[2019-09-09 19:10] lachie83 commented on #71305
👋 Friendly ping from 1.16 release lead. I wanted to let you know that we are planning to cut 1.16.0-rc.1 tomorrow and go into code-thaw. Please let me know if this fix needs to be considered as 1.16 release blocking.

[2019-09-09 19:10] liggitt commented on #79739
filed docs issue against https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters#add_firewall_rules to specifically include info about webhooks

[2019-09-09 19:13] danwinship commented on #71305
Every single container that uses iptables in the root network namespace. It's fine for, eg, istio, to use whatever iptables mode it wants in the pod namespace. (Though if you have multiple sidecars...)

Probably as long as we care about people running Kubernetes on RHEL 7. (By the time we stop caring about that, everyone else should be using nft mode.)

That is correct. Pods need to be hostNetwork

[2019-09-09 19:19] wojtek-t commented on #82484
sparingly) so maybe it got missed?

objects being tested (like Table and PartialObjectMetadata were).

Re metav1 Types, we seem to be creating a dedicated scheme object:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/register.go#L81
and then ParameterCodec from it (which I guess is what we use)

It seems that we're creating a `separate` Parame

[2019-09-09 19:22] alitoufighi commented on #82482
Actually I don't know if it is really related to these SIGs but @kubernetes/sig-scheduling-feature-requests @kubernetes/sig-autoscaling-feature-requests

[2019-09-09 19:25] thockin commented on #71305
The only thing we can do in the near term is tell people to use legacy mode.

Even 1.8.2 (as present in debian-buster) is broken.  https://github.com/kubernetes/kubernetes/issues/82361

How best to document this?

[2019-09-09 19:26] danwinship commented on #71305
Do we do anything even remotely similar to this currently? (The "overwriting binaries in other people's containers without telling them" part, not the proxying part.)

It's nice in that it solves the problem for everyone all at once but... not nice in every other way :slightly_smiling_face:

Random idea halfway between the two current approaches: add a new volume type "`hostBinaries`" or "`kuberne

[2019-09-09 19:27] thockin commented on #71305
I agree it's kind of awful, but so is the problem...

We'd STILL need to run that daemonset, which is a significant change.

[2019-09-09 19:50] danwinship commented on #71305
We should be able to give containers a working set of iptables-legacy or iptables-nft binaries directly rather than needing a proxy. Just give them an entire chroot rather than just the binaries. (ie, build a Debian container image containing only the `iptables` package and the packages it depends on (eg, glibc), and then mount that somewhere in the pod). Then instead of overwriting their `/usr/sb

[2019-09-09 20:01] bradfitz commented on #82361
I assume you meant `--mark` with two hyphens?

Unfortunately Debian buster doesn't yet seem to have updated to 1.8.3 or backported the fix to 1.8.2:

[code]

[2019-09-09 20:05] bradfitz commented on #71305
Agreed. I proposed it because it'd fix everything all at once, rather than waiting for all network add-ons to update to a work either the old way (just exec iptables) or some new way (find some new downward API directory to chroot into). How long would that take?

Put it in the kubelet? Too gross? It's already in the business of calling iptables, no?

[2019-09-09 20:19] ahg-g commented on #80639
It seems that we have something similar already called [ServiceAntiAffinity](https://github.com/kubernetes/kubernetes/blob/35cf6b6cbc7c55258ac0e3af51f6b0f5119750b1/pkg/scheduler/algorithm/priorities/selector_spreading.go#L162:6)

[2019-09-09 20:59] ahg-g commented on #82482
This is not really related to sig scheduling.

/sig node

[2019-09-09 21:07] malimccalla opened #82505 "ImagePullBackOff gcr"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2019-09-09 21:07] #82505 closed

[2019-09-09 21:09] thockin commented on #82361
So TL;DR here is that Debian Buster is just broken for Kubernetes without enabling iptables legacy alternative.

[2019-09-09 21:15] jennybuckley commented on #82484
/assign @wojtek-t

[2019-09-09 21:15] liggitt commented on #82494
might be related to 82428

[2019-09-09 21:26] jennybuckley commented on #82296
/assign @jktomer

[2019-09-09 21:31] liggitt commented on #82296
This is an issue in our yaml conversion library.

It also looks like the library is treating numbers with leading 0's as decimal numbers (the error message says `"value":3788745`, which is even more concerning.

We need to determine the current behavior of the library's handling of non-decimal number formats. For example:
* users specifying numeric fields as values with leading 0's (e.g. `defaultM

[2019-09-09 22:00] jonjohnsonjr commented on #74379
FWIW these being in-tree is currently breaking a bunch of folks due to https://github.com/kubernetes/kubernetes/issues/81878

[2019-09-09 22:19] davidz627 commented on #73535
/remove-lifecycle stale
I believe the PR referenced has not yet merged and the issue is not resolved

[2019-09-09 22:28] davidz627 commented on #70773
/remove-lifecycle stale
still required

[2019-09-09 22:35] msau42 commented on #70773
We're tracking this as a nice to have for CSI topology GA

[2019-09-09 22:36] caesarxuchao commented on #82242
@kdada @tedyu see https://github.com/kubernetes/kubernetes/pull/82452#issuecomment-529690509

[2019-09-09 22:47] fejta commented on #81878
Shouldn't `go mod tidy` work from within this repo?

[2019-09-09 22:47] davidz627 commented on #70773
/cc @tedyu
expressed interest in this

[2019-09-09 22:54] fejta opened #82506 "go mod tidy fails in kubernetes/kubernetes on go1.13"
https://github.com/golang/go/wiki/Modules#how-to-prepare-for-a-release specifies that we should run `go mod tidy` before a release to ensure our `go.mod` file is limited to the set of imports we actually need.

However this currently fails:
[code]

Slightly hard to understand how to parse this output. Are these due to circular dependencies?

ref https://github.com/kubernetes/kubernetes/issues/8187

[2019-09-09 22:57] msau42 commented on #70773
cc @mucahitkurt, who's been helping me on a lot of the topology tasks, to coordinate efforts

[2019-09-09 23:05] liggitt commented on #82506
we run `go mod tidy` in this repo as part of `hack/update-vendor.sh`

What version of go are you running?

[2019-09-09 23:06] liggitt commented on #82506
And is that on a clean working directory?

[2019-09-09 23:07] liggitt commented on #82506
See

https://github.com/kubernetes/kubernetes/blob/6348200c92dec8848e55552f3e8039b3da95bd91/hack/update-vendor.sh#L296-L297

[2019-09-09 23:09] liggitt commented on #81878
We script and verify use of `go mod tidy` in hack/update-vendor.sh

[2019-09-09 23:10] fejta commented on #82506
I believe so?

[code]

[2019-09-09 23:26] saad-ali opened #82507 "Drop `VolumeLifecycleModes` field from `CSIDriver` API before GA"
**What happened**:

v1alpha1 Storage API has a field `VolumeLifecycleModes` in `CSIDriverSpec`:

https://github.com/kubernetes/kubernetes/blob/6348200c92dec8848e55552f3e8039b3da95bd91/staging/src/k8s.io/api/storage/v1beta1/types.go#L306-L319

This field made sense (see https://github.com/kubernetes/community/pull/2273#issuecomment-414495411) when we planned to allow 2 modes of operations for Pod I

[2019-09-09 23:27] tedyu commented on #70773
It seems ControllerContext is needed in order to get hold of storageinformers.CSINodeInformer .

After initial check of pkg/volume/csi/nodeinfomanager/nodeinfomanager.go , it doesn't reference ControllerContext now.

[2019-09-09 23:35] tedyu commented on #82507
/assign

[2019-09-09 23:38] msau42 commented on #70773
kubelet uses a different way of initializing kubeclient/informers and will be different than kube-controller-manager. You will probably want to follow what we did to add informers for CSIDriver in kubelet: https://github.com/kubernetes/kubernetes/blob/7d40536c8184d7b70e4dc3c27d9acc42b5b32d8e/pkg/kubelet/volume_host.go#L73

[2019-09-09 23:40] fejta commented on #82506
Will try on a clean VM using both go1.12 and go1.13

[2019-09-09 23:44] fejta commented on #82506
Works on 1.12, fails on 1.13:

[code]

[2019-09-09 23:46] liggitt commented on #82506
there's a fair number of build/releng issues we'll have to deal with for 1.13

xref https://github.com/kubernetes/kubernetes/issues/78845

[2019-09-09 23:47] liggitt commented on #82506
/remove-sig architecture
/sig api-machinery

[2019-09-09 23:48] logicalhan opened #82509 "Provide a mechanism for custom collectors to use the metrics stability framework"
Currently custom prometheus collectors are ingested into metrics stability framework without any stability metadata. We need some mechanism for wrapping custom prometheus collectors so that we can annotate them with stability metadata.

/sig instrumentation

[2019-09-09 23:50] liggitt commented on #78845
looks like `go mod tidy` in go1.13 might now require all transitively referenced packages in dependencies to resolve, even ones we don't actually depend on in our tree.

that means the [outdated k8s.io/client-go library](https://github.com/heketi/heketi/blob/v9.0.0/glide.yaml#L23-L24) the current version of the heketi dependency uses will not work properly

xref https://github.com/heketi/heketi/pu

[2019-09-09 23:51] liggitt commented on #82506
looks like `go mod tidy` in go1.13 might now require all transitively referenced packages in dependencies to resolve, even ones we don't actually depend on in our tree (go1.12 did not require that, so because we didn't actually depend on any of the heketi packages that used the old client-go, we weren't affected by its outdated client-go dependency).

that means the [outdated k8s.io/client-go libr

[2019-09-09 23:54] logicalhan opened #82510 "Remove direct references to prometheus methods"
To get metrics stability into Beta, we will make it illegal to directly import prometheus methods in Kubernetes components. This will insure that all new metrics are instantiated using the correct wrapper methods. To do this, we need to provide wrappers for the direct prometheus method calls (namely, prometheus.Bucket methods and prometheus.Collector/Desc methods).

/sig instrumentation

[2019-09-09 23:57] tedyu commented on #70773
See if the following is on track:
[code]
There are a bunch of tests in nodeinfomanager_test.go failing which I will investigate.

[2019-09-10 00:03] roycaihw commented on #62872
/remove-lifecycle rotten

[2019-09-10 00:03] msau42 commented on #70773
I think it is better to initialize and pass through the informer during kubelet initialization rather than at runtime on every call.  See above comment on where to start.

[2019-09-10 01:28] k82cn commented on #82482
/remove sig/scheduling

[2019-09-10 01:29] k82cn commented on #82482
/sig scheduling remove

[2019-09-10 01:33] k82cn commented on #82482
/remove-sig scheduling

[2019-09-10 01:41] RainbowMango commented on #81657
@mayankshah1607
If I remember correctly, all the tasks have been picked.

Let's remove help-wanted flag now.

/remove-help

[2019-09-10 01:42] RainbowMango commented on #81657
/remove-kind bug
/kind cleanup

[2019-09-10 01:46] tallclair commented on #70890
Sorry, https://github.com/kubernetes/kubernetes/pull/76518 doesn't actually fix this issue. Exec probes are still unbounded.

[2019-09-10 01:57] zouyee commented on #82506
[code]

[2019-09-10 01:58] tedyu commented on #70773
I was thinking about obtaining the informer in nodeInfoManager#InstallCSIDriver.
But it seems updateCSINode is only called by nodeInfoManager#InstallCSIDriver.

[2019-09-10 02:02] tedyu commented on #70773
[code]
nodeinfomanager_test needs some refactoring to accommodate the above change.

[2019-09-10 02:23] msau42 commented on #70773
nodeInfoManager#InstallCSIDriver is not the right place to initialize the informer. It is called every single time a CSI driver is installed.  Instead, we want to initialize the informer during kubelet initialization.

[2019-09-10 02:43] tedyu commented on #70773
Looking up the call chain, operation_executor.go :
[code]
which is called by reconciler#reconcile

It seems reconciler#Run is called by a few classes.

[2019-09-10 02:47] sofat1989 opened #82512 "The new pod is stuck in CrashLoopBackOff"
It happened usually on static pods.
Here we have kube-controller-manager.manifest under the dir /etc/kubernetes/manifest where kubelet will watch.
When we update the file kube-controller-manager.manifest, the container will be running, but the pod will be in CrashLoopBackOff, and kubelet will create new container. Because the running container occupied the net port, the new container will be exite

[2019-09-10 02:49] sofat1989 commented on #82512
/sig node

[2019-09-10 03:03] sergeyjsg commented on #80633
Any suggestions on this? Have the same issue.

[2019-09-10 03:15] dims commented on #70890
@tallclair dang! filed https://github.com/kubernetes/kubernetes/pull/82514

[2019-09-10 03:16] tedyu commented on #82512
How about the following change ?
[code]
We try to find ContainerStatus whose state is not Exited.

[2019-09-10 05:32] sofat1989 commented on #82512
@tedyu from the codes you change, i think the return parameter of function FindContainerStatusByName is `the state of the first container` or `the state of exited`.  I think you should change `containerStat.State == ContainerStateExited` to `containerStat.State != ContainerStateExited`

[code]
By the way, i think we have multiple ways to avoid this.
1. Try to find the non-exited containers when ge

[2019-09-10 06:12] wojtek-t commented on #82484
Unassigning - until I know I will have time to work on it.

[2019-09-10 06:31] wojtek-t commented on #82484
@smarterclayton

sparingly) so maybe it got missed?

[code]

So `metainternalversion.ParameterCodec` is actually used for parsing options for every single apiserver request.

That said, looking into code, this one should some the conversions registered, e.g. `internalversion.ListOptions" "v1.ListOptions"` so something else may be wrong.

[2019-09-10 06:45] pbalajiips opened #82515 "How to avoid duplicate entry on ingress on a multi-tenent environment?"
On a multi-tenent k8s environment how we make sure that no one create duplicate entry on common ingress controller.
I have common ingress controller manage all ingress rule where multiple application team create their rules. How to avoid one app overwrite other app ingress rules.

[2019-09-10 06:46] dghubble commented on #75457
A variety of use cases with autoscaling groups, managed instance groups, or scale sets rely on the `node-role` ability to create sets of nodes labled beforehand for different purposes. It seems to me unlikely these cases will introduce an operator-style components that just-in-time labels nodes as they come and go. I'm not sure how the control plane initialization process could be enough - especia

[2019-09-10 07:21] toyow opened #82516 "Is there any way not to kill container when exceed memory limit，but to stop the process inside the container？"
when ommkill happened，the  third party librar  installed by user  can‘t be recovered。Is there any way to  solve this problem？
community/question

[2019-09-10 07:27] tedyu commented on #82512
Looking at my change, I think it should achieve #1.
containerStat is the status to be returned.
When containerStat.State == ContainerStateExited, it can be overwritten by subsequent status.

[2019-09-10 07:31] tedyu commented on #82512
Inside the loop:
[code]
We can kill container(s) with ContainerStateUnknown state.
Meaning #1 and #2 can be done at the same time.

[2019-09-10 07:35] tossmilestone commented on #82516
@toyow The behavior of OOMKill is killing the container process, not the Pod. And that's exactly what you desire.

[2019-09-10 07:42] toyow commented on #82516
Thank you for your reminder

[2019-09-10 07:48] xieyanker opened #82518 "pod's cpu usage on matser2 node higher than other node"
**What happened**:

Hello, my pod's cpu usage on matser2 node higher than other node, although there are same pods. And all of my node's cpu are consistent.

[code]

**What you expected to happen**:

In my opinion, the pod's cpu usage should be consistent, no matter what nodes are there on.

**How to reproduce it (as minimally and precisely as possible)**:

100% in my environment.

**Anything else

[2019-09-10 07:52] xieyanker commented on #82518
/sig cli
/sig apps
/sig api-machinery
/sig node

[2019-09-10 08:09] ionuthim opened #82519 "Exit codes for terminated pods"
Hello,

Can someone inform what means exit code : 3 ?
Also if somebody know, please explain a little what means every code when the pod is terminated ?
I've searched on internet what means code :3, but without success .

Example :
    State:          Running
      Started:      Sun, 08 Sep 2019 21:53:04 +0000
    Last State:     Terminated
      Reason:       Error
      Exit Code:    3
      Star

[2019-09-10 08:43] NickrenREN commented on #81317
agree with @mrkm4ntr

[2019-09-10 09:20] yue9944882 commented on #82484
/cc

[2019-09-10 09:32] wawa0210 opened #82522 "The kubelet /stats/summary is too expensive on windows"
**What happened**:

Collect host and container information via kubelet stats/summay. By looking the kubelet code ,it's collected by cadvisor and the stats/summary request is kept within 50 ms.

But the implementation in the Windows environment is very cumbersome。First it will get all the pods managed by kubelet ，and call docker stats request one by one (very very expensive)

This is my set of test

[2019-09-10 10:07] sofat1989 opened #82523 "Pods are not restarted when changing the init container's image"
From the doc here, https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#pod-restart-reasons
[code]
I updated the init container image, we didnt get any changes for these pods.
init containers are not re-executed.

From the logic of `computePodActions` here, it does not calculate the hash change for the init container.

[code]
/sig node

[2019-09-10 10:22] stephen-dexda opened #82525 "Document that some specific properties may not be removed when using kubectl apply"
Per #72519, serviceAccountName (and serviceAccount) are not removed when they are deleted from a resource spec. which is then passed to `kubectl apply`.

I hit this exact bug, and there is nothing in the docs at https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/#kubectl-apply to warn about the existence of special cases like that.

If there is no obvious fix that would a

[2019-09-10 10:23] stephen-dexda commented on #82525
@kubernetes/sig-cli
@kubernetes/sig-auth

[2019-09-10 10:28] stephen-dexda commented on #82525
@kubernetes/sig-cli-bugs
@kubernetes/sig-auth-bugs

[2019-09-10 10:45] xemul opened #82526 "Two similar entries in deployment "volumes" section cause pod start stuck"
**What happened**:

I'm creating a deployment with two equal entries in spec.template.volumes section. Bot entries are persistent volume claim for an NFS persistent volume on GCE. The pods of the deployment do not start pending in the ContainerCreating state. After a wile the kubctl describe pod <pod> shows this message (I've replaced sensitive names with <...>-s) :

  Warning  FailedMount  78s (x

[2019-09-10 10:47] xemul commented on #82526
/sig storage

[2019-09-10 10:53] javendo commented on #72102
Some days ago I had opened this issue #81837, but reading this one I think it is related. Can anyone take a look at my issue and see it they are related and if so, close it.

Thanks

[2019-09-10 10:54] francoj22 commented on #61173
found the soluction on windows by going to the docker icon and then in kubernetes options
click on stop local cluster and then execute "docker rmi -f $(docker images -a -q)"

[2019-09-10 11:01] zjj2wry commented on #82440
Setting periodSeconds to 2s is too short

[2019-09-10 11:25] aermakov-zalando commented on #77666
/remove-lifecycle rotten

[2019-09-10 11:55] squeed commented on #71305
Reminder (as this discussion shakes out): if you're calling `iptables`, there is a nonzero chance you will need to load a module. So, it has become part of the lore that best-practice `iptables`-callers already *always* need to bind-mount `/lib/modules` from the host.

If we're going down the route of half-magic bind-mounts, then I think I'd rather see the kubelet assemble it out of bind-mounts fr

[2019-09-10 12:08] saschagrunert commented on #81930
It seems that we have to document a known issue related to the iptables problematic.

[2019-09-10 12:24] neolit123 commented on #82487
/sig auth

[2019-09-10 12:25] neolit123 commented on #82352
/sig node

[2019-09-10 12:25] neolit123 commented on #82515
/sig network

[2019-09-10 12:26] neolit123 commented on #82445
/sig network

[2019-09-10 12:26] neolit123 commented on #81406
/sig cloud-provider

[2019-09-10 12:27] neolit123 commented on #81526
/sig api-machinery

[2019-09-10 12:27] neolit123 commented on #81382
/sig release

[2019-09-10 12:34] wojtek-t commented on #82484
OK - I think I got it - it seems AddToScheme() is not called anywhere. I will test it and send out a PR to fix it.

[2019-09-10 12:37] AWKIF commented on #82494
i noticed this log on the kubelet where pod is hosted:
`failed to read pod IP from plugin/docker: NetworkPlugin cni failed on the status hook for pod "XXXXX": Unexpected command output Device "eth0" does not exist.`

[2019-09-10 12:42] saschagrunert commented on #81930
Proposal for the *Known Issues* section:
[code]

cc @dims

[2019-09-10 12:43] saschagrunert commented on #81930
cc @thockin :point_up:

[2019-09-10 12:43] josephburnett commented on #80481
/unassign @loqutus

I haven't seen any progress or updates on this, so I'm unassigning.  It's a good first issue for someone.  @loqutus please reassign if you are in fact working on this.  Thanks!

[2019-09-10 12:51] danwinship commented on #71305
No, there isn't. Kubelet will always have created iptables rules before starting any pods.

I thought about that, but the reason we didn't try to do that before is that there are no safe assumptions you can make about what the distro-installed version of iptables does and doesn't need from the host filesystem. (eg, there's no *a priori* reason to think that `/etc/alternatives` would be needed, sin

[2019-09-10 12:57] ejez commented on #82203
I prefer to have a single object (configmap/secret/ingress ...etc) for all the projects/apps inside the cluster rather than having one per project/app. Having too many small objects might put pressure on the k8s api server.
For example one nginx configmap that contains configuration for all websites (each website having its key/value inside the same configmap) rather than having too many configmap

[2019-09-10 13:11] aledbf commented on #82203
Why do you think that?

Actually, you should prefer the many configmaps approach. Remember that k8s objects have a size limit. The one configmap map approach will reach that limit eventually.

The issue I see with your request is, what are you trying to say defining an empty object, from an L7 point of view? I would not use your dummy-host approach and only create the ingress object once I get all

[2019-09-10 13:12] Benjamin-Riefenstahl-mecom opened #82529 "Statefullset does not honor podManagementPolicy=OrderedReady when restarting failed pods"
**What happened**:

We have a Statefullset with `podManagementPolicy=OrderedReady`.  For testing I throw away all PODs using `kubectl delete --force --grace-period=0`.  Kubernetes restarts the PODs all at the same time, i.e. in parallel.

**What you expected to happen**:

The PODs should be restarted one by one.  The PODs rely on that, which is why we use `OrderedReady`.

**How to reproduce it (as

[2019-09-10 13:12] Benjamin-Riefenstahl-mecom commented on #82529
/sig bugs

[2019-09-10 13:49] mcandre opened #82530 "Procedure for tenants to collect core dumps of failing containers"
**What would you like to be added**:

An automated, straightforward procedure for cluster tenants to collect core dumps of failing containers.

**Why is this needed**:

So that segmentation faults can be diagnosed at scale without exposing unnecessary privileges to k8ts tenants.

[2019-09-10 13:50] mcandre commented on #82530
@kubernetes/feature-requests

[2019-09-10 13:50] liggitt opened #82531 "switch build scripts to use go modules, stop requiring $GOPATH"
Tasks to move to go1.13:

- [x] resolve https://github.com/kubernetes/kubernetes/issues/82506 / https://github.com/heketi/heketi/issues/1648 (fixed upstream https://github.com/heketi/heketi/pull/1649)
  - fixed in k8s in #82805
- [x] update gofmt-formatted source to be compatible with 1.12 and 1.13
  - https://github.com/kubernetes/kubernetes/pull/82684
- [x] go1.13.0 scalability regression (golan

[2019-09-10 13:51] liggitt commented on #78845
umbrella issue for go1.13 in https://github.com/kubernetes/kubernetes/issues/82531

/close

[2019-09-10 13:51] #78845 closed

[2019-09-10 13:52] mcandre commented on #82530
You are a stupid bot.

[2019-09-10 13:53] liggitt commented on #81508
etcd server overrides are not currently supported for custom resource types

[2019-09-10 13:55] liggitt commented on #78613
The apiextensions.k8s.io/v1beta1 API calls are now removed from conformance tests

[2019-09-10 13:56] liggitt commented on #78613
The example.com API calls should be ignored, they are test data for testing example custom resources, not an actual API we ship

[2019-09-10 14:11] ejez commented on #82203
Thanks for your reply Manuel,

I'm not familiar with the inner working of k8s, but this is what I found in the k8s doc which pushes me to try to reduce the number of resource objects. For my use case, this won't result in very large objects as each app/project will have a tiny config inside the k8s object.

https://kubernetes.io/docs/concepts/policy/resource-quotas/

https://kubernetes.io/docs/con

[2019-09-10 14:13] aanm commented on #82531
@liggitt The only way I found out to keep using go list without long build times was to run with `GO111MODULE=off` for go lint commands.

[2019-09-10 14:14] liggitt commented on #82531
I think @thockin was looking into running the command once and caching/reusing the results for the remainder of  the `make` invocation

[2019-09-10 14:14] neolit123 opened #82532 "replace the existing PR and release blocking kube-up based jobs with CAPI jobs"
had a discussion with @timothysc about this yesterday.

this is a tracking issue for replacing the pending PR and release blocking jobs based on kube-up with Cluster API (CAPI) provider alternatives over time.

ideally:
- the replacement jobs should co-existing in parallel with the kube-up jobs.
- once the replacement jobs are stable the kube-up jobs should be removed.

xref issue for removing the

[2019-09-10 14:15] neolit123 commented on #82532
/area test

[2019-09-10 14:16] neolit123 commented on #82532
i don't have information on the state of CAPA e2e tests ATM; we had AWS account issues there.
@detiber do you know?

[2019-09-10 14:21] neolit123 commented on #82532
i'd appreciate comments on CAPG (GCP) vs CAPA (AWS).
is it a strict requirement to have GCP jobs that provide signal for Google infrastructure or are we OK with having AWS infrastructure replacements? do we care about infrastructure?

[2019-09-10 14:22] neolit123 commented on #82532
/sig windows

[2019-09-10 14:24] fasaxc commented on #71305
Each match and action type has its own module, loaded on demand.  So if you do `-m set` then you'll trigger loading of the `xt_set` module.  If you do `-j DNAT`, then you'll load `xt_DNAT` and so on.

[2019-09-10 14:25] neolit123 commented on #78995
i have create a ticket for tracking replacing the kube-up jobs with Cluster API:
https://github.com/kubernetes/kubernetes/issues/82532

cc @mariantalla

[2019-09-10 14:30] timothysc commented on #82532
There are open PR's to help uplevel GCP provider.
/cc @vincepri

[2019-09-10 14:31] timothysc commented on #82532
/assign @dims

[2019-09-10 14:34] alejandrox1 opened #82533 "Multiple jobs failing in CI"
Since yesterday, we have been seeing multiple CI jobs fail for a variety of reasons.

Many of the jobs fail at the `overall` stage with an error message such as the one in https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew/1171375532827217930#0:build-log.txt%3A4097
[code]

another common error message is, see https://prow.k8s.io/view/gcs/kubernet

[2019-09-10 14:36] alejandrox1 commented on #82532
/cc

[2019-09-10 14:37] vincepri commented on #82532
GCP PR is here https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/143

Would love to get some feedback / requirements to see what are the expectations

[2019-09-10 14:37] alejandrox1 commented on #82533
/assign @lachie83 @Katharine

[2019-09-10 14:39] wojtek-t commented on #82484
Apparently, it will require a non-negligible refactoring to do this.
The problem is that we have init() function in register.go (which is supposed to initialize the scheme local to the metainternalversion package), and we also have init() function in autogenerated conversions file - given that we can't force the order of initialization within a package this is not working.

It seems that we will n

[2019-09-10 14:55] paul-maxime commented on #45234
Can we reopen this?
Our cluster contains both normal nodes and preemptible nodes (https://cloud.google.com/compute/docs/instances/preemptible).
Load balancers are also using preemptible nodes while we only want them to use stable nodes.

[2019-09-10 14:57] ThomasCassimon opened #82534 "SLUB: Unable to allocate memory on node -1"
**What happened**:
When dockers are running on the server, the following errors are generated by dmesg.
[code]
**What you expected to happen**:
K8s/Docker works without a hitch on Ubuntu 16.04.

**How to reproduce it (as minimally and precisely as possible)**:
Eventually, the server crashes (after about 3-4 days since first docker boot) and the last thing that can be seen in the kern.log are the S

[2019-09-10 15:00] Joseph-Irving commented on #82529
/sig apps

[2019-09-10 15:01] josephburnett commented on #80481
/assign @ArturoTarinVillaescusa

[2019-09-10 15:02] lukasgr90 opened #82536 "Unexpected handling of invalid ingress annotation"
**What happened**:

I used kubectl to apply an Ingress resource with an annotation, whose value was accidentally an integer (instead of a string). The Kubernetes API server accepted the resource, but silently removed all annotations (also valid ones).

**What you expected to happen**:

I expected, that the server either rejects the resource or removes only the invalid annotation.

**How to reprodu

[2019-09-10 15:28] Joseph-Irving commented on #82529
I've tried reproducing this on kubernetes v1.10.12 but I could not get the same behaviour
I created a basic sample statefulset
[code]
Deleted all the pods
[code]
Pods start getting recreated
[code]
Pods were being recreated in order as expected
[code]

Can you show your statefulset manifest `kubectl get statefulset <statefulset name> -o yaml` ?

Also worth noting that kubernetes v1.10.12 is EOL, t

[2019-09-10 15:30] humblec commented on #82453
I am still trying to capture logs, but it looks like , eventhough the kubelet reported the error, the validation of multi attach and failure is actually attempted and reported from Rook to Kubelet. So, the culprit would be Rook here than kubelet. Let me close this issue for now and reopen if required. Thanks for sharing the thoughts.

[2019-09-10 15:30] #82453 closed

[2019-09-10 15:34] PatrickLang commented on #82287
@soggiest - this seems to be working well now, are you ok to close?

[2019-09-10 15:37] randreev1321 commented on #30991
It still doesn't have solution.
I can't use python-client for k8s for updates deployments without downtime, if I need to update liveness or readiness probe type in deployment.

[2019-09-10 15:49] alejandrox1 commented on #82533
Adding to this... 1.16-blocking also has a couple runs with 500 erros ( https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-slow/1171423096985358336#0:build-log.txt%3A108 ):
[code]

[2019-09-10 15:50] kfox1111 commented on #69608
What is the status of this?

[2019-09-10 15:51] ktreese commented on #40651
@oleg-kiselev

I have a question on the statement

Is there an example on how to parse the index from `metadata.name` inline?  Or is this solution more for setting an env var MY_POD_NAME to then parse via a script from an init container or otherwise?  Thanks for helping provide some clarification!!

[2019-09-10 16:08] soggiest opened #82538 "[Failing Test] testing/load/config.yaml"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-scale-performance

**Which test(s) are failing**:
testing/load/config.yaml
ClusterLoaderV2

**Since when has it been failing**:
09/09/2019

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-performance

**Reason for failure**:

[code]

[code]

**Anything else we need to know**:

/milestone v1.16
/prio

[2019-09-10 16:10] Katharine commented on #82533
/assign @chases2 @michelle192837

adding current oncall

[2019-09-10 16:11] soggiest commented on #82287
We've had successes in the test since 09/04 but there was a failure yesterday. I'm putting this under observation until we see regular successes

[2019-09-10 16:15] yue9944882 commented on #25860
am probably hitting this issue 3 three years later from the discussion..  i was trying to generate protobuf codes from a repo under `github.com/kubernetes-sigs` i.e. `sigs.k8s.io`. but it failed w/ error shown below:

sigs.k8s.io/apiserver-builder-alpha/example/basic/pkg/apis/innsmouth/v1/generated.proto:51:12: "k8s.io.apimachinery.pkg.apis.meta.v1.ListMeta" is resolved to "sigs.k8s.io.apimachiner

[2019-09-10 16:25] els-blasterspike commented on #12400
Did you mean `sudo chsh -s /usr/local/bin/bash` instead?
Thanks anyway for the hint!

[2019-09-10 16:29] kfox1111 commented on #69608
I've launched statefulsets without services and it seems to work ok. We're just looking for a guarantee that this will continue to be safe going forward. The docs say its required, but the implementation does not enforce it last I looked.

[2019-09-10 16:31] alejandrox1 commented on #82533
This is the PR that went into test-infra around the same time the flakes started happening https://github.com/kubernetes/test-infra/pull/14221

From https://kubernetes.slack.com/archives/C2C40FMNF/p1568131379007500 :

[2019-09-10 16:35] bowei commented on #82203
For ordinary objects, we haven't seen number of etcd objects become a problem until you get in the order of millions. Not clear on what is specifically different about secrets though.

[2019-09-10 16:37] alejandrox1 commented on #82538
/assign @wojtek-t @oxddr
The run that failed is https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1171106376953368576
As per our last conversation, we opened this issue in reference to a new failure in the scale-performance job.
 Do you consider this to be the same failure as the one in https://github.com/kubernetes/kubernetes/issues/82182 ?

[2019-09-10 16:45] rhockenbury commented on #82522
This has been reported previously in https://github.com/kubernetes/kubernetes/issues/75752 and https://github.com/kubernetes/kubernetes/issues/74991

[2019-09-10 16:47] quinn commented on #18801
Hi, how do you do this? This closed PR from 2 years ago is the closest thing i found to any documentation on this topic.

[2019-09-10 16:47] #80993 closed

[2019-09-10 16:50] mm4tt commented on #82538
/assign

This is not the same failure as https://github.com/kubernetes/kubernetes/issues/82182.
As far as we understand it at this point it doesn't seem to be a release blocker, rather a transient etcd issue.
We're still debugging this, will post a more detailed update on this tomorrow.

[2019-09-10 16:50] liggitt commented on #18801
only labelSelectors are supported, not annotations

[2019-09-10 16:51] lavalamp commented on #18801
You cannot query annotations in Kubernetes, and this will not change in the foreseeable future.

* cache locally and keep a local index (our controllers do this)
* put things in labels (not preferred, as lists are expensive for apiserver)

[2019-09-10 16:58] MrHohn commented on #74383
I can pick this up in the next release.
/remove-lifecycle rotten

[2019-09-10 17:23] ConnorDoyle commented on #80716
/cc

[2019-09-10 17:34] jkaniuk commented on #82538
Seems related to #82182.

Problem was caused by slow etcd, that resulted in apiserver unresponsiveness.
Could

etcd had 11s window of being slow:
2019-09-10 03:39:36.560538 I | [...]
2019-09-10 03:39:40.262470 W | etcdserver: read-only range request "key:\"/registry/health\" " with result "error:context deadline exceeded" took too long (2.000059544s) to execute
...
2019-09-10 03:39:49.034906 W | e

[2019-09-10 17:41] jkaniuk commented on #82182
Problem was caused by slow etcd (both main and event one), that resulted in apiserver unresponsiveness.

Both etcd instances failed, then apiserver:
Both etcd logged: wal: sync duration ~22s, expected less than 1s
Both etcd were restarted
It seems that etcd-events stopped responding after the restart.
Apiserver did not fully recover afterwards.
etcd Version: 3.3.10

etcd.log
2019-08-30 01:34:26.56

[2019-09-10 17:48] krzysied commented on #82069
Accessing custom made endpoint that call sleep for 5 min. Connection is being kept alive during this time.
![image](https://user-images.githubusercontent.com/25119199/64637157-856cc800-d403-11e9-8ab9-af7769564441.png)

[2019-09-10 17:50] kraftaa opened #82539 "Cronjobs stopped starting after Kube update from `1.13` to `1.14`"
**What happened**:
Last week we've updated Kube from `1.13` to `1.14`
[code]

[2019-09-10 18:11] roycaihw commented on #59838
/reopen
/remove-lifecycle rotten

[2019-09-10 18:17] cblecker commented on #82467
/cc

[2019-09-10 18:19] bowei commented on #74383
/lifecycle frozen

[2019-09-10 18:40] BenHizak commented on #1806
@jeremych1000 Kaniko is certainly not production grade. I'm having multiple build issues (and reporting them as I find them).

[2019-09-10 18:52] danwinship commented on #71305
There are two different kind of kernel module loading here: the kind that Casey was worrying about is that if you run `/usr/sbin/iptables` and it finds that the `ip_tables` (or `ip6_tables`) module is not loaded, then it will explicitly invoke `modprobe` to load it, and that only works if `modprobe` and `ip_tables.ko` are available.

For the thing you're talking about, the iptables binary isn't wh

[2019-09-10 19:39] alejandrox1 commented on #82533
https://k8s-testgrid.appspot.com/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce just started failing and the errors seems pretty close to what we have seen thus far:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew/1171498343428263936#0:build-log.txt%3A4044
[code]

[2019-09-10 19:42] liggitt commented on #82436
this is resolved in [v1.16.0-rc.1](https://github.com/kubernetes/kubernetes/releases/tag/v1.16.0-rc.1), available now

[2019-09-10 19:46] alejandrox1 commented on #82533
Another interesting set of failures are in https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-slow :
from https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/1171487776680448000#0:build-log.txt%3A807
[code]

[2019-09-10 20:01] mgdevstack commented on #77973
/assign @johnbelamaric

[2019-09-10 20:01] hh commented on #77973
/area conformance
/assign @belamaric

[2019-09-10 20:12] Joseph-Irving commented on #82405
Can you reproduce this issue on a more recent version of Kubernetes? v1.5.0 is a few years old now and is no longer supported, the current supported versions are v1.13, v1.14 and v1.15

[2019-09-10 20:19] kraftaa commented on #82539
@Joseph-Irving thank you!
 I've seen that issue too, we checked our jobs, their number exceeded 500, but after we deleted many of them and went below 500 nothing changed (I've deleted and created cronjob to test).
I've misunderstood that issue was fixed, thank you for information about cherry picking now I see it.
I've realized to check CloudWatch logs and seeing (At about time of version update)

[2019-09-10 20:34] juv commented on #66020
/remove-lifecycle stale

[2019-09-10 20:36] praseodym commented on #81930
https://github.com/kubernetes/website/pull/16271 is a docs PR for this and has some more context + instructions for RHEL/CentOS/Fedora, maybe we should link there instead (once that's merged)?

[2019-09-10 20:37] praseodym commented on #71305
I've created https://github.com/kubernetes/website/pull/16271 to add documentation to the [Installing kubeadm](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/) page. There is [some discussion in that PR (comment)](https://github.com/kubernetes/website/pull/16271#issuecomment-529795614) on whether we should add this information in other places too.

Adding to

[2019-09-10 20:50] A1xsmith opened #82544 "Error when joining the node to the cluster, when using both 1GB and 2MB huge-page sizes are enabled on the node"
**What happened**:
Node failed to join the cluster when both 1GB and 2Mb huge-page table are enabled on the node

**What you expected to happen**:
Node to join the cluster

**How to reproduce it (as minimally and precisely as possible)**:

Enable 16Gi in the 1GB huge-page table, if Numa is enabled 8 on each node
Enable 16Gi in the 2MB huge-page table, if Numa is enabled 8 on each node
Kubeadm join

[2019-09-10 20:58] BobyMCbobs opened #82545 "PodSpec - new priorityClassName test"
Umbrella issue: #82312

/area conformance
/sig testing

[2019-09-10 21:00] BobyMCbobs commented on #82545
[Create PR #82546](https://github.com/kubernetes/kubernetes/pull/82546)

[2019-09-10 21:05] Jefftree opened #82547 "PodSpec endpoints - hostPID test"
Under Umbrella issue: #82312

hostPID will be a bit different on Windows nodes.

/area conformance
/sig testing

[2019-09-10 21:06] Jefftree commented on #82312
SubIssue: PodSpec endpoints - hostPID test #82547

[2019-09-10 21:31] #81315 closed

[2019-09-10 21:32] BobyMCbobs commented on #82547
Hey! Happy to help, if you are in need of any for this one :smile:

[2019-09-10 21:39] roycaihw commented on #62185
The support has been added to Java, Python and Javascript clients. Support in other client libraries can be tracked in individual issues in corresponding repos.

/close

[2019-09-10 21:39] #62185 closed

[2019-09-10 21:53] mwhahaha commented on #68939
For the next person who hits this, I figured out the expected values. So when you --config, authentication is defaulted to webook where as via the cli it's set to anonymous by default.

[code]

NOTE: it would be awesome to generated default configs in the actual yaml/json structure somewhere rather than having to work backwards in go (which I am not that familiar with).

[2019-09-10 22:53] thockin commented on #77134
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-09-10 23:12] BobyMCbobs commented on #82351
Issue was duplicated and progress added to the duplicate, I'll just
/close
this.

Superseded by #82545

[2019-09-10 23:19] cheftako commented on #73319
/remove-lifecycle stale

[2019-09-10 23:19] cheftako commented on #73319
/remove-lifecycle rotten

[2019-09-10 23:24] jingxu97 commented on #77758
@gnufied is this still an issue?

[2019-09-10 23:40] thockin commented on #81178
I'm closing this.    #80238  seems well-defined enough now.

[2019-09-10 23:40] #81178 closed

[2019-09-10 23:50] feiskyer commented on #81760
@dims any updates on this?

[2019-09-11 00:51] danwinship commented on #81930
That's not accurate. (I guess you're basically paraphrasing the title of #71305, but that title isn't accurate.)

There are two problems:
1. #71305 - If you are using the official kube-proxy container images (including, if you are using kubeadm) on a system with iptables 1.8, then you need to configure the system to use iptables in legacy mode.
2. #82361 - If you are on a system with iptables 1.8.

[2019-09-11 01:59] randreev1321 commented on #30991
The problem not resolved for API.
When I trying to patch the deployment with updating type of liveness/readiness probe, I receiving error:
`{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "Deployment.apps \"dep_name\" is invalid: spec.template.spec.containers[0].readinessProbe.tcpSocket: Forbidden: may not specify more than 1 handler type",
  "reas

[2019-09-11 02:18] xiaoanyunfei commented on #82536
/assign

[2019-09-11 02:43] jordansissel commented on #43916
After working with Google support about this issue impacting GKE, we have an issue filed here: https://issuetracker.google.com/issues/140577001

Ultimately, I was able to work around my immediate problem by identifying `curl` triggering this problem, but the underlying cause is still present: The kernel and/or Kubernetes are incorrectly attributing memory "usage" in the filesystem cache to contain

[2019-09-11 02:43] xiaoanyunfei commented on #82523
/assign

[2019-09-11 03:44] #74282 closed

[2019-09-11 04:09] xiaoanyunfei commented on #82519
/sig node
The `Exit Code` is obtained from  docker's `ExitCode`
Normally it will be the exit status of the process
`docker run -it centos:7  /bin/sh -c 'exit 3' ` can reproduce the same exitcode

https://stackoverflow.com/questions/31297616/what-is-the-authoritative-list-of-docker-run-exit-codes

[2019-09-11 04:23] xiaoanyunfei commented on #82518
kube-scheduler and kube-controller-manager both start a leader election before executing the main loop by default, and only one can gain leadership.

kube-scheduler and kube-controller-manager on master2 maybe gain leadership and get data from local kube-apiserver( It depends on your configuration)

[2019-09-11 04:30] answer1991 opened #82562 "kubelet check PV nodeAffinity failed if PV use fieldSelector"
**What happened**:

During developing our CSI driver/provisioner, we found if create a PV using fieldSelector to match Node, then the kubelet will failed to setup Volume with the error `No matching NodeSelectorTerms`.

The error code exist in: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/util.go#L176 , which ignored PV `matchFields`.

**What you expected to happen**:

We ca

[2019-09-11 04:31] answer1991 commented on #82562
/assign

[2019-09-11 04:43] liggitt commented on #82536
duplicate of https://github.com/kubernetes/kubernetes/issues/59113

fix in progress in https://github.com/kubernetes/kubernetes/pull/80371

/close

[2019-09-11 04:43] #82536 closed

[2019-09-11 04:44] liggitt commented on #82525
/remove-sig auth
/remove-kind bug
/kind documentation

Defaulted fields cannot be unset without getting re-defaulted. This is not specific to apply, but is reasonable to mention in documentation.

[2019-09-11 05:12] vonsago opened #82564 "Help me confirm why it test failed"
**Which jobs are failing**:

pull-kubernetes-verify
pull-kubernetes-e2e-gce

**Which test(s) are failing**:

pull-kubernetes-verify
pull-kubernetes-e2e-gce

**Since when has it been failing**:
Unexpected dirty working directory

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/78150/pull-kubernetes-verify/1171432287590420481
https://prow.k8s.io/view/gcs/kubernetes-je

[2019-09-11 05:23] vonsago commented on #82564
@kubernetes/sig-contributor-experience-test-failures

[2019-09-11 05:31] vonsago commented on #82564
@kubernetes/sig-testing

[2019-09-11 05:32] vonsago commented on #82564
/sig testing

[2019-09-11 05:34] cwdsuzhou commented on #82562
https://github.com/kubernetes/kubernetes/issues/81725

[2019-09-11 05:35] cwdsuzhou commented on #82562
same issue already existed

[2019-09-11 05:39] #82562 closed

[2019-09-11 05:40] vonsago commented on #82564
/sig ~contributor-experience

[2019-09-11 05:40] answer1991 commented on #82562
@cwdsuzhou thanks

[2019-09-11 05:52] cwdsuzhou commented on #80892
This issues seems to be fixed in the latest version, you can have a try

[2019-09-11 05:59] #82564 closed

[2019-09-11 06:02] vonsago opened #82566 "Help me confirm why it test failed"
**Which jobs are failing**:

pull-kubernetes-verify
pull-kubernetes-e2e-gce

**Which test(s) are failing**:

pull-kubernetes-verify
pull-kubernetes-e2e-gce

**Since when has it been failing**:
Unexpected dirty working directory

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/78150/pull-kubernetes-verify/1171432287590420481
https://prow.k8s.io/view/gcs/kubernetes-je

[2019-09-11 06:05] vonsago commented on #82566
/sig api-machinery

[2019-09-11 07:40] kayrus commented on #82405
@Joseph-Irving sorry, it's a typo, the version is 1.15

[2019-09-11 07:44] stephen-dexda commented on #82525
I'd consider this behaviourally a bug, since the user can't know this without digging into the history/provenance of every property, and further because the state of the resource passed to `apply` currently depends on the previous state of the resource. A user would reasonably expect that the result of `apply` would be the same whether the resource was being created or updated.

[2019-09-11 07:52] Joseph-Irving commented on #82405
can you show the full output of the deployment, `kubectl get deployment server -o yaml` ?

[2019-09-11 07:53] saschagrunert commented on #81930
Thanks for the input @danwinship and @praseodym.

So then we I guess we could write up:
[code]

WDYT?

[2019-09-11 08:02] andrewhowdencom commented on #1806
I have used the following project with some success:

  https://github.com/genuinetools/img

It requires a "privileged" container, but does not mount the docker socket in.

[2019-09-11 08:13] AkihiroSuda commented on #1806
BuildKit doesn't need privileged https://github.com/moby/buildkit/blob/master/docs/rootless.md#without-securitycontext-but-with---oci-worker-no-process-sandbox

Recent version also supports daemonless mode as in kaniko and img

[2019-09-11 08:19] tamihiro commented on #50375
+1 🙏

[2019-09-11 08:37] sofat1989 commented on #82512
@tedyu even If we combine `#1` and `#2, may it happen that container repeats being created and then killed ?

[2019-09-11 08:37] waynepeking348 opened #82570 "cleanupDeployment should sort ReplicaSet with revision rather than createTimeStamp"
**What happened**:
when deployment controller cleans up old ReplicaSet, it sorts all old ReplicaSets by createTimeStamp and delete the oldest one, which may cause Deployment roll back to a wrong version.

[code]

**How to reproduce it (as minimally and precisely as possible)**:
Suppose we set the revisionHistoryLimit of a Deployment to 3, and currently we have 3 Replicas: r1, r2, r3 (the createTim

[2019-09-11 08:44] waynepeking348 commented on #82570
/sig api-machinery

[2019-09-11 09:26] Benjamin-Riefenstahl-mecom commented on #82529
Hi Joseph,

Joseph Irving writes:

Thank you for having a look.  And sorry for not providing a reproducer
initially myself.

I took that and modified it with the salient parts of our own, see
attached.  Trying to reproduce my problem I notice that it works, if I
delete the pods in order 0, 1, 2, but not if I delete them 2, 1, 0.
I.e. if delete the PODs with

  $ for i in 0 1 2; do kubectl delete -

[2019-09-11 09:28] devkid opened #82573 "Projected serviceAccountToken has mode of mounted file hardcoded to 0600"
**What happened**:

Mounting `projected` `serviceAccountTokens` into a container always sets the mode of the mounted token files to `0600`. This is hardcoded in the source code:
https://github.com/kubernetes/kubernetes/blob/cf76868b3430be015cc1e8443a216bf863a9b9f7/pkg/volume/projected/projected.go#L357

**What you expected to happen**:

The file mode should equal the `defaultMode` given in the `pr

[2019-09-11 09:33] Benjamin-Riefenstahl-mecom commented on #82529
[test-sts.yml.zip](https://github.com/kubernetes/kubernetes/files/3600025/test-sts.yml.zip)
[mongo.yaml.zip](https://github.com/kubernetes/kubernetes/files/3600026/mongo.yaml.zip)

[2019-09-11 09:46] kivagant-ba commented on #67662
Got the same situation in EKS, server version `GitVersion:"v1.12.10-eks-825e5d"`. Fixed using the commands:

[code]

Delete stuck replicasets, Kubernetes creates another instead and if you don't have any other problems (like resource quotas, for example), they will start new pods.

[2019-09-11 09:49] xieyanker commented on #82518
@xiaoanyunfei Thanks for your reply, my config really set up `--leader-elect=true` on master2. But I don't think it's a reason for high probability. All of the pods on master2 are almost ten times more than others.

[2019-09-11 09:59] debu99 commented on #65937
in my case, the selector part should be removed

[2019-09-11 10:05] NickrenREN commented on #82570
@janetkuo ?

[2019-09-11 10:10] Joseph-Irving commented on #82529
I think what's happening there is all working as expected
When you execute this command
[code]
First you delete test-pod-2, it will immediately recreate as 0 and 1 are still running, then you delete test-pod-1 which will recreate as test-pod-0 is still running, then you delete test-pod-0 which will immediately recreate. So they are correctly following order.

If you change it to
[code]
2 will imme

[2019-09-11 10:28] devkid commented on #82573
@kubernetes/sig-node-bugs

[2019-09-11 10:39] adityaguru149 commented on #32195
/reopen
This would be a very nice feature/flexibility.

[2019-09-11 10:40] adityaguru149 commented on #32195
/remove-lifecycle rotten

[2019-09-11 11:07] danwinship commented on #81930
"Systems running `iptables` 1.8.0 or newer". (ie, clarify that 1.8.0 is bad)

"should run iptables in legacy mode" (ie, it's iptables that needs "legacy mode", not kubernetes)

[2019-09-11 11:15] saschagrunert commented on #81930
Like this:

[2019-09-11 11:16] gajus commented on #72051
Did you figure it out?

Same behaviour here.

[2019-09-11 11:46] ogre0403 commented on #75880
@leopoldxx
Do you have idea to fix this problem ?

I think the current solution is remove all running pod on the node, then let kubelet 1.11 know all GPU information. New allocated pod can be assigned correct GPU.

We upgrade our bare metal cluster from 1.10.10 to 1.11.10 last week. Today we notice that if  nodes that have pod scheduled by old and new version, GPU on this node might be allocated t

[2019-09-11 11:55] kevtaylor opened #82577 "Promote VolumeSubpathEnvExpansion to GA"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind api-change
/sig storage
/sig node
/milestone v1.17

**Description:**
This is the issue that is used to upgrade VolumeSubpathEnvExpansion feature gate to GA.

Related Issues:
Beta Upgrade: https://github.com/kubernetes/kubernetes/pull/76546
Feature Request: https://github.com/kubernetes/features/issues/559
KEP: https://github.com/kubernetes/enhanc

[2019-09-11 11:58] kevtaylor commented on #82577
/assign @kevtaylor
/cc @msau42

[2019-09-11 12:33] Benjamin-Riefenstahl-mecom commented on #82529
Hi Joseph,

Joseph Irving writes:

Ah, I understand how this comes out of the spec as given and the
implementation.

But whether this is correct, naturally depends on what I want to
achieve.  Do I literally want to run them in order, each pod N depending
only on N-1?  Or do I want to run them one at the time, and not start
any new ones as long as the last one started is not ready?  In my case
the

[2019-09-11 12:49] kayrus commented on #82405
@Joseph-Irving here is the output for another deployment with the same problem:
https://gist.github.com/kayrus/8a5956126f08fe974c91f5fb64e2e6a4

[2019-09-11 12:53] liggitt commented on #82573
duplicate of https://github.com/kubernetes/kubernetes/issues/74565

/cc @mikedanese
/close

[2019-09-11 13:03] krzysied commented on #82069
- First run of density test
![image](https://user-images.githubusercontent.com/25119199/64697289-cc5ccb00-d4a0-11e9-9628-3772a5bad8b5.png)
- Second run of density test (same apiserver)
![image](https://user-images.githubusercontent.com/25119199/64699512-35464200-d4a5-11e9-8e0b-072b397facbf.png)

[2019-09-11 13:04] liggitt commented on #82573
actually, leaving this open to track resolution

/remove-sig node
/sig auth
/assign @mikedanese
/reopen

[2019-09-11 13:12] Joseph-Irving commented on #82529
Right so my understanding of your problem is that you want to be able to delete pods in an arbitrary order and for them to be recreated in that same order but only when each pod becomes ready?
I don't believe there's any way to do this in Kubernetes and I don't think I fully understand the use case for this.

So you could open a feature request issue and explain what you're proposing with a user s

[2019-09-11 13:15] benmoss commented on #79658
I am still encountering this crash periodically, let me know if another crash dump file would be useful.

[2019-09-11 13:47] cwdsuzhou opened #82584 "HostPath: pvc having selector bounded with unmatched pv label"
**What happened**:

Hostpath volume
pvc having selector bound with unmatched pv label when pvc create a pv from storageClass

**What you expected to happen**:

can not create or pv has right label

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware config

[2019-09-11 13:47] cwdsuzhou commented on #82584
/assign

[2019-09-11 13:51] ikogan commented on #20227
We're encountering this situation when trying to debug with PyCharm. Since PyCharm expects the app [being debugged to connect to it](https://www.jetbrains.com/help/idea/run-debug-configuration-python-remote-debug.html), we would need to find a way to forward traffic from the container to the local machine. Is there any update on this?

[2019-09-11 14:24] jkaniuk commented on #82182
/assign @jkaniuk

[2019-09-11 14:30] megastallman commented on #71871
I'm an RKE user.
`Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-21T15:34:43Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.5", GitCommit:"2166946f41b36dea2c4626f90a77706f426cdea2", GitTreeSt

[2019-09-11 14:33] jkaniuk commented on #82182
There was one Persistent Disk attached to the master instance that reported being unhealthy during the window of 01:34:40-01:37:30 GMT.

Root cause is then unrelated to Kubernetes.
There is still an issue of etcd and apiserver that did not recover afterwards.
It could be related to data corruption on the etcd PD.

[2019-09-11 14:37] Benjamin-Riefenstahl-mecom commented on #82529
Hi Joseph,

Joseph Irving writes:

The use case is not that I *want* to delete the PODs.  But since I can
delete the PODs in an inopportune order, that indicates that in case of
random failures similar situations can occur in real life, because of
network failures, hardware failures or just plain bad luck.  For a
service that currently uses OrderedReady to avoid concurrency at startup
I see it as

[2019-09-11 14:49] jsafrane opened #82587 "kube-proxy fails to restore iptable rules"
*What happened**:
Running `hack/local-up-cluster.sh`, kube-proxy never succeeds calling `iptables-restore --noflush --counters`:

[code]

No matter how long I wait, kube-proxy always gets `Another app is currently holding the xtables lock`.

Adding `-w` to iptables-restore cmdline (via hacked version check) fixed the issue for me, but I am not able to judge what else it break (there must have been

[2019-09-11 14:51] tysonnorris commented on #77508
We have similar need for this feature.

[2019-09-11 15:00] Joseph-Irving commented on #82405
Interesting there are a few things that don't look write there, Pod ready is `false` [here](https://gist.github.com/kayrus/8a5956126f08fe974c91f5fb64e2e6a4#file-pod-yaml-L95) but container is ready [here](https://gist.github.com/kayrus/8a5956126f08fe974c91f5fb64e2e6a4#file-pod-yaml-L111)

Deployment says it has 1 unavailable replica [here](https://gist.github.com/kayrus/8a5956126f08fe974c91f5fb64e

[2019-09-11 15:07] javierg21 commented on #65575
kubectl get pods --server-print=false
works on ubuntu, thanks

[2019-09-11 15:16] dcbw commented on #82373
@thockin @khenidak I would agree that this should hit v1.16 if possible.

[2019-09-11 15:19] pjbgf commented on #38541
I am looking into creating other PRs for different add-ons. Is it worth creating an issue that is specific for each or shall we keep all changes under this current issue?

[2019-09-11 15:33] reith opened #82590 "Expose portallocator as a component"
**What would you like to be added**:
I like to use `k8s.io/kubernetes/pkg/registry/core/service/portallocator` in my project but Go modules cannot add Kubernetes core as dependency without pinning versions.

**Why is this needed**:
Port allocations may be a common need in custom controllers and Kubernetes already has an implementation for it. I understand services and some core components depend o

[2019-09-11 15:43] sttts opened #82591 "Cut off connections from kube-aggregator to aggregated apiserver lead to panic in the logs"
The kube-aggregator uses Golang's reverse proxy code to forward requests to aggregated API server. Whenever such a connection is uncleanly closed, the Golang code panics. The panic is passed through the handler chain down to the panic handler which prints it.

This leads to main panic stack traces in the kube-apiserver logs whenever an aggregated API server terminates, because every long-running c

[2019-09-11 15:53] professor commented on #77928
When we were on `v1.13.5` we did not see this flake occur. Since upgrading to `v1.13.10`, we're seeing this flake frequently.

[2019-09-11 16:20] apelisse commented on #77665
/remove-lifecycle stale

[2019-09-11 16:37] andrewrynhard opened #82592 "kubeadm: CoreDNS creation fails"
**What happened**:
CoreDNS add-on creation fails:

[code]

It feels a bit racy. This doesn't happen on every run.

**What you expected to happen**:
CoreDNS add-on to be created.

**How to reproduce it (as minimally and precisely as possible)**:
`kubeadm init` using rc.1.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardwar

[2019-09-11 16:38] andrewrynhard commented on #82592
/sig cluster-lifecycle

[2019-09-11 16:54] liggitt commented on #82591
/priority critical-urgent

given this is a regression in 1.16 and spams the log badly, making it difficult to see actual errors

[2019-09-11 16:58] neolit123 commented on #71202
/lifecycle frozen

[2019-09-11 16:59] neolit123 commented on #76873
/lifecycle frozen

[2019-09-11 17:03] liggitt commented on #70890
/milestone v1.17

this isn't release-blocking

[2019-09-11 17:05] dims commented on #82566
please don't open issues. instead try asking the approvers/reviews or on the sig(s) channel

/close

[2019-09-11 17:05] #82566 closed

[2019-09-11 17:15] bertinatto commented on #72139
/assign

[2019-09-11 17:32] danwinship commented on #82587
So what's going on here: I had thought that if we removed the RHEL 7 special case code, then the existing non-RHEL7 fallback code would do the right thing (grabbing the xtables lock manually before calling iptables-restore) but the fallback code actually ends up breaking us, because the RHEL7 iptables-restore will also try to grab the xtables lock, which our fallback code already took, and so ipta

[2019-09-11 17:39] rajansandeep commented on #82592
I haven't been able to reproduce it when running `kubeadm init` manually several times.

This should have been caught in https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-master-on-1-16

/priority awaiting-more-evidence

[2019-09-11 17:40] tallclair commented on #38541
Up to you. Issue per addon is a lot of issues, but if you don't mind filing them, go for it!

Thanks for working on this!

[2019-09-11 17:41] tallclair commented on #38541
Also, feel free to assign any PRs to me.

[2019-09-11 17:55] liggitt commented on #82149
/remove-sig api-machinery

[2019-09-11 17:57] danwinship commented on #82587
OK, that's not true. Apparently no one ever shipped 1.4.22. Debian Jessie (aka oldoldstable) has iptables 1.4.21, and is apparently LTS until 2020. Fedora 21-24 also shipped 1.4.21, but Fedora 24 end-of-lifed in 2017. No currently-supported version of Ubuntu ships 1.4.21. (The oldest LTS is xenial/16.04, which has iptables 1.6.0.)

So if we do the minimal hack above, it would make kube-proxy somew

[2019-09-11 18:01] tedyu commented on #82512
commit 9fa1ad29fd4df650f451522970908869b8199bf3
Author: Yu-Ju Hong <yjhong@google.com>
Date:   Mon Feb 13 21:09:44 2017 -0800

    kubelet: handle containers in the "created" state

@yujuhong
Can you shed some light for the handling of created state ?

Thanks

[2019-09-11 18:01] alx13 opened #82595 "AWS: Network Load Balancer ignores annotations upon creation"
**What happened**:
Code for handling annotations for load balancer is executed only upon load balancer modification, not creation in all versions including master branch.

So, for example, it's not possible to enable cross-zone load balancing upon creation. Only create-then-update process works.
- [1.14.6](https://github.com/kubernetes/kubernetes/blob/v1.14.6/pkg/cloudprovider/providers/aws/aws_lo

[2019-09-11 18:07] alx13 commented on #82595
/sig aws

[2019-09-11 18:09] tomcooperca commented on #33212
Sorry to comment on an old thread but that link is dead. Is there a new location where this information can be found? Thanks!

[2019-09-11 18:10] pdxkzeerkti commented on #54090
I don't know whether commenting here is the right approach but I'm going to start with this comment in preference to filing a new issue.

Today, I found it necessary to modify the Docker configuration (/etc/docker/docker.json) on all my nodes. In each case, I made the change and restarted the Docker service using `systemctl`.

Exactly one of my three nodes went **NotReady** within seconds of resta

[2019-09-11 18:14] joaquinclearmetal commented on #29789
Is it possible represent ELB `dns_name` through AWS annotations?

[2019-09-11 18:16] odinuge commented on #64691
Ref. [discussion on slack](https://kubernetes.slack.com/archives/C0BP8PW9G/p1568153081072700, this is intended behavior. To see the amount of resources requested (and limited by the limits), you have to sum the total from all the pods on the given node.

Using kubectl, you can see the stats in the `Allocated resources` list, that looks like this:
[code]

This list does not include huge page memory

[2019-09-11 18:17] alx13 commented on #82595
/sig platform/aws

[2019-09-11 18:30] neolit123 commented on #82592
@andrewrynhard
are you passing a kubeadm config file?

this should not happen. the whole coredns phase is already responsible for creating the coredns deployment, so it doesn't make the same phase to later fail unless something blocked the creation of the deployment.

[2019-09-11 18:32] neolit123 commented on #82592
perhaps you can increase the verbosity to --v=7 or higher to see some of the API requests messages.

[2019-09-11 18:32] neolit123 commented on #82584
/sig storage

[2019-09-11 18:34] neolit123 commented on #82590
/sig network

[2019-09-11 18:34] neolit123 commented on #82595
/sig cloud-provider

[2019-09-11 18:38] neolit123 commented on #82530
/sig node auth
please try to provide more detail in the issue description.
to get attention on this topic try posting a message in the k8s slack channel: #wg-multitenancy

[2019-09-11 18:50] lachie83 commented on #82591
@sttts @liggitt as I'm sure you are both already aware that the 1.16.0 cherry-pick deadline is EoD tomorrow. Do you expect to have a PR and associate cherry-pick PR ready to merge in that time frame?

[2019-09-11 18:51] hh commented on #67718
/assign @timothysc

Is this similar enough to what you are looking for with regard to watch?

[2019-09-11 18:57] neolit123 commented on #82577
please update https://github.com/kubernetes/enhancements/issues/559 with the GA target.

[2019-09-11 19:04] liggitt commented on #82591
PRs are open/green/approved for master (https://github.com/kubernetes/kubernetes/pull/82588) and 1.16 (https://github.com/kubernetes/kubernetes/pull/82593) branches

[2019-09-11 19:19] andrewrynhard commented on #82592
@neolit123 Here is the config:

[code]

[2019-09-11 19:25] kraftaa commented on #82539
update:  even after reducing number of jobs to 0, cronjobs didn't fire. We reduced number of Cronjobs too, and cronjobs started working as scheduled.

[2019-09-11 19:36] irajdeep commented on #81984
Hey folks, just to double-check the ssh-tunnel metrics are: `tunnelOpenCounter` and `tunnelOpenFailCounter` . Right?

[2019-09-11 19:39] loxal commented on #15478
@whereisaaron did you found a logging solution for K8s@containerd?

[2019-09-11 19:41] andrewrynhard commented on #82592
Yes we are using hyperkube.

This has been in place nearly a year now.

Maybe a little background would help. This is an issue specifically seen when spinning up a cluster with https://github.com/talos-systems/talos. In our case we depend on hyperkube and enforce a number of security best practices out of the box. We use `kubeadm` under the hood to bootstrap/manage the cluster. We are attempting t

[2019-09-11 19:55] jeremywadsack commented on #63214
/remove-lifecycle stale

[2019-09-11 20:00] neolit123 commented on #82592
yes, we need details from higher verbosity levels.

it could be a regression in the beta1 kube-apiserver.
the kubeadm test signal for 1.16 is green, but it does not cover these encryption features as these are not the responsibility of kubeadm.

[2019-09-11 20:06] andrewrynhard commented on #82592
Logs with `--v=7`:

[code]

[2019-09-11 20:09] pjbgf commented on #38541
That's brilliant, thank you.

[2019-09-11 20:24] neolit123 commented on #82592
i will do some testing myself in about 30 minutes.

[code]
this part is trying to get the deployment, but it's not there yet.

[2019-09-11 20:32] jingxu97 commented on #69799
cc @saad-ali @msau42

[2019-09-11 20:39] msau42 commented on #69799
@kubernetes/sig-storage-bugs

[2019-09-11 21:09] #82351 closed

[2019-09-11 21:15] neolit123 commented on #82592
@andrewrynhard

any idea why this is happening?

[2019-09-11 21:17] andrewrynhard commented on #82592
In talos we do not use `systemd`, it is an init system we wrote.

[2019-09-11 21:19] cheftako commented on #81984
Yes. the actual metrics show up as :

# HELP ssh_tunnel_open_count [ALPHA] Counter of ssh tunnel total open attempts
# TYPE ssh_tunnel_open_count counter
ssh_tunnel_open_count 0

# HELP ssh_tunnel_open_fail_count [ALPHA] Counter of ssh tunnel failed open attempts
# TYPE ssh_tunnel_open_fail_count counter
ssh_tunnel_open_fail_count 0

[2019-09-11 21:20] davidz627 commented on #74594
I think actually this is an anti-pattern in golang:
https://github.com/golang/go/wiki/CodeReviewComments#interfaces
https://twitter.com/davecheney/status/942593128355192832?lang=en
https://medium.com/@cep21/preemptive-interface-anti-pattern-in-go-54c18ac0668a

/close
please re-open if this is incorrect

[2019-09-11 21:20] #74594 closed

[2019-09-11 21:40] neolit123 commented on #82592
i cannot reproduce the problem.

[code]

try commenting out this line and let kubeadm pick it's endpoint:
[code]

try disabling the encryption:
[code]

[2019-09-11 21:42] thockin commented on #82587
Is there no other signal we can use to disambiguate?

[2019-09-11 21:43] andrewrynhard commented on #82592
@neolit123 I wonder if this is caused by applying a new corefile? In our basic integration test, we wait for the init node to checkin and we immediately update the coreconfig to make things work inside docker (our basic integration spins up a docker based cluster, similar to KIND).

https://github.com/talos-systems/talos/blob/master/hack/test/basic-integration.sh#L53-L62

[2019-09-11 21:52] hasheddan commented on #69293
Happy to take this! Will begin with drafting a KEP.

[2019-09-11 21:57] neolit123 commented on #82592
it looks to me that this code checks every 5 seconds.
if that's the case i don't think it may be the cause for the failed GET.

the coredns phase is applied within 100ms, even before the Node object is available.

what i'm confused about is why your coredns phase is even producing a PUT action for `apis/apps/v1/namespaces/kube-system/deployments` mine uses POST.

try using 6443 as the endpoint por

[2019-09-11 22:02] prbsparx commented on #67526
+1

[2019-09-11 22:23] andrewrynhard commented on #82592
Interesting, looks like delaying the modification of the coreconfig fixed it.

[2019-09-11 22:25] #82278 closed

[2019-09-11 22:25] #82272 closed

[2019-09-11 22:28] #77538 closed

[2019-09-11 22:51] neolit123 commented on #82592
probably best to wait for the api-server and etcd pods to be ready and not the node object to appear.

let's close this as it's not a regression.
thanks for confirming.
/close

[2019-09-11 22:51] #82592 closed

[2019-09-12 01:12] RainbowMango commented on #82509
Maybe I can help.
/assign

[2019-09-12 01:29] #82463 closed

[2019-09-12 01:54] keerthigd commented on #74850
where you able to find a solution for this? I am also facing the same issue.

[2019-09-12 02:15] beautytiger opened #82604 "`make test` failed"
**What happened**:
When I clone this repo and run `make test`, the run panics.

The specific command test failed is `
[code]

based on this [discussion](https://github.com/kubernetes/kubernetes/pull/82227), make test rely on some env setup for gce.

**What you expected to happen**:

Based on this [doc](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/testing.md#ru

[2019-09-12 02:16] beautytiger commented on #82604
/sig testing

[2019-09-12 02:44] fudali113 commented on #78644
/close

[2019-09-12 02:45] #78644 closed

[2019-09-12 02:56] #75033 closed

[2019-09-12 02:56] xjas opened #82605 "local: -n: invalid option when make test "kubernetes 1.16". Requires bash version >= 4.3"
When I make test, It just can not pass.
Some of the error message is:
[code]

I did a lot investigate, and I fonund that the usage `local -n` requires bash version >= 4.3.
I wonder is there any need that this should be added to a `Requirements` section?

/sig contributor-experience
/area community-management
/kind documentation

[2019-09-12 03:20] yiyang5055 opened #82606 "add pod information to deviceplugin allocate request"
/sig node
/kind feature

**What would you like to be added**:
add pod UID, NameSpace and Name to deviceplugin AllocateRequest

for API Specification:
[code]

**Why is this needed**:
My work releated with about GPU scheduler, we implement a NVIDIA GPU share scheduler that base on GPU memory,  so need to inject some GPU information into annotations of pod. However,  there is no pod information in th

[2019-09-12 03:20] yiyang5055 commented on #82606
/assign

[2019-09-12 03:21] yiyang5055 commented on #82606
/unassign

[2019-09-12 04:24] #70890 closed

[2019-09-12 05:06] uablrek commented on #69811
/remove-lifecycle stale

[2019-09-12 05:54] #82591 closed

[2019-09-12 05:58] draveness commented on #82213
/unassign
/help-wanted

[2019-09-12 06:12] hchenxa opened #82612 "can not get the statefulset rollout history details"
with kubernetes v1.14.0, it can not get the statefulset revision details via `kubectl` command line:

[code]

looks like the command can get the deployment resources revision info and shows result contain the image name, labels and other information.

[2019-09-12 06:12] hchenxa commented on #82612
/sig cli

[2019-09-12 06:13] liggitt commented on #73723
/milestone v1.17

1.16-targeted PRs and picks are merged

[2019-09-12 06:13] hchenxa commented on #82612
just want to know if we can have the simliar info like deployment revision details:
[code]

[2019-09-12 06:17] hchenxa opened #82613 "The statefulset have duplicate revision after resource was updated."
**What happened**:

I create a statefulset with below content:
[code]

Then I update the image with command:
`kubectl patch statefulset test-sts -n ${NAMESPACE} --type='json' -p='[{"op": "replace", "path": "/spec/template/spec/containers/0/image", "value":"nginx:1.15.8-alpine"}]'`

Checking the rollout history, find the have duplicate revision 0 in the list:
[code]

**What you expected to happen**

[2019-09-12 06:17] hchenxa commented on #82613
/cig cli

[2019-09-12 06:24] zouyee commented on #48245
/reopen
/remove-lifecycle rotten

[2019-09-12 06:26] wojtek-t commented on #82069
Given that I requested this experiment, let me explain the above (because this is expected - I just wanted to see confirmation).
Based on what I've learned from Go folks: when we create a goroutine it is allocating some memory for itself and some memory for its stack. When goroutine finishes, the former stays forever (it's not GC-ed) [though obviously can be reused by future goroutines].

So what

[2019-09-12 06:38] hchenxa commented on #82613
/sig cli

[2019-09-12 06:41] JuergenKindler commented on #70044
Have the same problem on minikube version: v1.3.1 (commit: ca60a424ce69a4d79f502650199ca2b52f29e631) on Ubuntu 18, Kubernetes v1.15.2 on Docker 18.09.8

[2019-09-12 06:56] RainbowMango commented on #82213
Wow...sorry seems I made a mistake.

[2019-09-12 07:13] kayrus commented on #82405
@Joseph-Irving do you have a clue where to dig further?

[2019-09-12 07:13] krmayankk commented on #82523
@sofat1989 did you test this with deployment or statefulset or with a plain pod yaml ?

[2019-09-12 07:19] andyzhangx opened #82617 "Azure disk detach fails if node no longer exists"
**What happened**:
If a node with a Azure Disk attached is deleted (before the volume is detached), subsequent attempts by the attach/detach controller to detach it continuously fail, and prevent the controller from attaching the volume to another node.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
 - Create a pod referencing a Azure Disk
 - W

[2019-09-12 07:32] jsafrane commented on #82587
@danwinship, I tested both https://github.com/kubernetes/kubernetes/pull/82596 and https://github.com/kubernetes/kubernetes/pull/82602, both work well on my local-up-cluster @ CentOS. Not tested with other distros.

[2019-09-12 07:41] pjbgf opened #82623 "Harden Addons: Kube-dns and Core-Dns"
**What would you like to be added**:
Apply security best practices for both kube-dns and core-dns.

### kube-dns
Low hanging fruit:

- [x]  Run as non-root & disallow privilege escalation
- [x] Run with the default seccomp profile (i.e.  `runtime/default`)
- [x] ReadOnlyRootFilesystem
- [x] Avoid unnecessary HostPath volumes
- [x]  ~~Don't mount service account token~~ (n/a)

More advanced:

- [ ]

[2019-09-12 07:45] pjbgf commented on #82623
/sig auth
/area security

[2019-09-12 07:46] tnozicka commented on #69376
I think fixing the handlers and handling expectations in them will do the trick https://github.com/kubernetes/kubernetes/pull/82572

/assign

[2019-09-12 07:52] wojtek-t commented on #82484
https://github.com/kubernetes/kubernetes/pull/82585 is out for review

[2019-09-12 07:58] Joseph-Irving commented on #82405
So the reason the Deployment/Replicaset don't appear to have the correct status is because the Pod has the condition `Ready` set to `False`.
However this should be true, https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/status/generate.go#L94 `PodReady` is set to `True` if `ContainersReady` is `True` and all your readiness gates and ready (you're not using any pod readiness gates).

[2019-09-12 09:15] denmaddog opened #82628 "Pod logs arriving asynchronously"
**What happened**:
Logs from pod are arriving asynchronously(older logs come after newer ones. But not always, most of the time logs arrive in a row.). Application timestamp in logs are sometimes 10-15m ahead log is actually received via kubectl logs.
**What you expected to happen**:
Logs should be arriving simultaneously in a row without latency.
**How to reproduce it (as minimally and precisely

[2019-09-12 12:04] discostur opened #82633 "apiserver received an error that is not an metav1.Status: grpc: message too large"
**What happened**:

We stored lots of secrets into etcd / k8s (about 750.000) and it is very slow to fetch them. A simple "kubectl get all secrets" takes up to 6 minutes! Also, we see lots of errors during the request:

**etcd**
[code]

**apiserver**
[code]

[code]

In addition, apiserver takes up to 60 GB Ram ... maybe there is an memory leak!

**What you expected to happen**:

APIserver should r

[2019-09-12 12:14] aojea opened #82634 "Containerd doesn't report additional POD IPs"
**What happened**:

Containerd doesn't report multiple PodIPs with dual stack, however, IPv4 and IPv6 addresses are created

Pods only report one IP address

[code]

but they have 2 IP addresses

[code]

**What you expected to happen**:

It should report both IPv4 and IPv6 addresses

**How to reproduce it (as minimally and precisely as possible)**:

Deploy a dual-stack cluster with kind, that uses

[2019-09-12 12:19] ahg-g opened #82635 "Graduate TaintNodesByCondition to GA"
This feature has been in Beta since 1.12, we can now graduate it to GA.

/sig scheduling
/cc @k82cn

[2019-09-12 12:33] sshramko opened #82636 "Can't downgrade number of worker nodes on VMWARE cloud provider."
**What happened**:
Can't downgrade number of worker nodes on VMWARE.

**What you expected to happen**:
Kubernetes should delete node.
I should do it manually using
kubectl delete node worker-2

**How to reproduce it (as minimally and precisely as possible)**:
1. Create cluster with 3 node (1 master, 2 workers),
2. Delete 1 worker.

**Anything else we need to know?**:
Log messages:
I0826 12:11:39.6

[2019-09-12 14:25] dims opened #82641 "Update to etcd 3.4 in Kubernetes 1.17 release"
follow the same pattern that we updated to 3.3.15:
- client side changes needs to be vendored in (similar to https://github.com/kubernetes/kubernetes/pull/81434)
- update default etcd server (similar to https://github.com/kubernetes/kubernetes/pull/82199)

[2019-09-12 15:17] pjbgf opened #82647 "Harden dashboard addon"
**What would you like to be added**:
Apply the following security best practices for dashboard add-on:

Low hanging fruit:

- [x]  Run as non-root (& disallow privilege escalation)
- [x] Run with the default seccomp profile (i.e.  `runtime/default`)
- [x] ReadOnlyRootFilesystem
- [x] Avoid unnecessary HostPath volumes
- [x]  ~~Don't mount service account token~~ (n/a)

More advanced:

- [x] Reduce

[2019-09-12 18:39] sallyom opened #82657 "kubectl drain node --dry-run should list pods, warnings, errors"
**What would you like to be added**:
When running `kubectl drain node --dry-run`  the pods to be deleted and any blockers should be listed.

**Why is this needed**:
To make more informed `kubectl drain node` calls.

[2019-09-12 18:49] dims opened #82659 "Drive CronJob from Beta to GA"
Raising per discussion in sig-arch on Sep 12. What are the obstacles here? How can we make progress?

[2019-09-12 19:36] johnSchnake opened #82663 "Some taint tests will evict non-test workloads as a result and missing [Disruptive]"
**What happened**:
Ran a conformance test run (using Sonobuoy) on v1.16.0.beta.3

One of the taint based tests added a NoExecute taint to a node which evicted all workloads including the Sonobuoy workload itself. If this had been a prod workload, numerous prod workloads could have been impacted.

**What you expected to happen**:
Test run as normal with reasonable results. Able to run conformance t

[2019-09-12 20:19] Sisir-Chowdhury opened #82668 "Injecting Additional Container to a Running POD"
**What would you like to be added**:

Ability to inject additional Container to a running K8s POD

**Why is this needed**:
This is needed to define/monitor certain aspects of the running POD which can be turned on/off on demand basis.

[2019-09-12 20:53] davidz627 opened #82670 "Add Mock Driver to csi translation library to support unit testing"
Right now only real drivers are supported in the translation library, this makes unit testing especially difficult. If we add a mock driver we should be able to unit test external provisioner (and maybe other components) better

[2019-09-12 21:02] rphillips opened #82671 "Regression in Kubelet Status Calls"
**What happened**:
In 1.16 CI testing we came across integration tests failing on liveness and readiness probes with payloads of 50KB (the max is 10KB).

[code]

**What you expected to happen**:
We would expect Readiness and Liveness probes to not fail on payloads over 10KB.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2019-09-12 22:19] mucahitkurt opened #82675 "Skip e2e tests that run on multi node cluster and require node independent volume for the drivers that does not support node independent volumes"
**What happened**:
When we run csi hostpath driver e2e tests on a multi-node cluster some tests failed because they assume that volumes are node independent but this is not the case for some drivers like hostpath.

Related PR; https://github.com/kubernetes-csi/external-provisioner/pull/339

**What you expected to happen**:
Skip the tests that assume volumes are node independent for the drivers tha

[2019-09-12 22:25] alejandrox1 opened #82676 "[Failing Job] pull-kubernetes-kubemark-e2e-gce-big"
**Which jobs are failing**:
pull-kubernetes-kubemark-e2e-gce-big

**Since when has it been failing**:
As per triage, https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&job=pull-kubernetes-kubemark-e2e-gce-big , this job has flaked 647 times in the last 15 days.

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-kubemark-e2e-gce-big

**

[2019-09-12 22:41] PatrickLang opened #82679 "RunAsUsername does not work with ContainerD on Windows"
**What happened**:
`RunAsUsername` was added for Windows and is passing tests in Kubernetes 1.16 with Docker. In ContainerD, it seems to be ignored since a container can start with an invalid username. Setting a valid username is ignored too - the container default user is still used.

_[sig-windows] [Feature:Windows] SecurityContext RunAsUserName should not be able to create pods with unknown use

[2019-09-13 06:47] liggitt opened #82692 "flake: TestAggregatedAPIServer: Discovery call expected to return failed unavailable service"
**Which jobs are failing**:

**Which test(s) are failing**:

[code]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1172392731759087617

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1172302020653092864

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1172275

[2019-09-13 06:52] liggitt opened #82693 "flake: TestWebhookReinvocationPolicy"
**Which jobs are failing**:

**Which test(s) are failing**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1172262471734398978

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1172263738850414593

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/117226373885041

[2019-09-13 06:54] liggitt opened #82694 "flake: TestWebhookAdmission"
**Which jobs are failing**:

pull-kubernetes-integration

**Which test(s) are failing**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1172176898202013696

[code]

**Since when has it been failing**:

**Testgrid link**:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&sort-by-flakiness=&include-filter-by-regex=Test

[2019-09-13 07:31] xieyanker commented on #82518
@cheftako Thanks for your reply, it is very helpful for me!

[2019-09-13 07:31] #82518 closed

[2019-09-13 07:46] mm4tt opened #82695 "[Failing Test] ci-kubernetes-e2e-gce-scale-correctness"
**Which jobs are failing**: ci-kubernetes-e2e-gce-scale-correctness

**Which test(s) are failing**: [sig-network] Loadbalancing: L7 [Slow] Nginx should conform to Ingress spec

**Since when has it been failing**: Sep 12, 2019

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness

**Reason for failure**: https://github.com/kubernetes/kubernetes/pull/8

[2019-09-13 07:46] mm4tt commented on #82695
/assign

[2019-09-13 07:54] mm4tt commented on #82695
/sig scalability

[2019-09-13 10:17] pjbgf commented on #82647
Create a new PR (https://github.com/kubernetes/dashboard/pull/4288) to resolve:
- Reduce dependencies in the base image

Once accepted, merged and a new image published, we can tick that one off.

[2019-09-13 10:27] #75147 closed

[2019-09-13 12:16] bavarianbidi commented on #79421
we still facing the same issue but with the `allowedUnsafeSysctls` option. The `resolverConfig` works on our side.

Cluster is provisioned with kubeadm.

Verified with `1.14.6` and `1.15.3`.

head of the ConfigMap:
[code]

the revision
[code]
of the configmap is used by the node
[code]

but a  `kubectl get --raw /api/v1/nodes/kube-node01/proxy/configz | jq '.kubeletconfig'` doesn't show me the def

[2019-09-13 12:16] bavarianbidi commented on #79421
@zouyee

[2019-09-13 12:37] andyzhangx commented on #63121
/reopen

[2019-09-13 12:52] rmohr commented on #66525
/remove-lifecycle stale

[2019-09-13 13:29] Joseph-Irving commented on #82668
/sig node
This sounds a lot like https://github.com/kubernetes/enhancements/issues/277, which should be going alpha in kube 1.17

[2019-09-13 13:44] liggitt commented on #82692
/assign @deads2k

[2019-09-13 13:49] stokes776 opened #82701 "Kubectl get all does not include ingress resources"
**What would you like to be added**:
When running the command "kubectl get all -A" no ingress resources are shown.

**Why is this needed**: Particularly new users of kubernetes are confused why a valid resource type is not shown in a command that has a flag called -all. All should encompass all resource types.

[2019-09-13 13:50] stokes776 commented on #82701
/sig CLI

[2019-09-13 14:13] bcmills commented on #82531
That may be a side-effect of the fix for golang/go#29773, since it seems that you do have a lot of dependencies through older versions from the main module (due to heketi/heketi#1648).

If the `go list` performance regression you're seeing is not attributable to that, then please do file an issue — I'm not aware of anything else that should have slowed it down at all.

[2019-09-13 14:16] lbernail commented on #79001
/remove-lifecycle stale

[2019-09-13 14:19] liggitt commented on #82531
Hmm, maybe it wasn't that `go list` was slower, it was that it started having side effects, and the side-effect-free alternatives were slower. xref https://github.com/golang/go/issues/31087

[2019-09-13 14:36] liggitt commented on #82701
Duplicate of https://github.com/kubernetes/kubernetes/issues/42885

/close

[2019-09-13 14:36] #82701 closed

[2019-09-13 14:43] liggitt commented on #82701
See also https://github.com/kubernetes/community/blob/master/contributors/devel/sig-cli/kubectl-conventions.md#rules-for-extending-special-resource-alias---all

[2019-09-13 14:44] liggitt commented on #42885
Changing what resources are returned by the "all" alias can break existing scripts, etc. see https://github.com/kubernetes/community/blob/master/contributors/devel/sig-cli/kubectl-conventions.md#rules-for-extending-special-resource-alias---all for guidelines on which resources were included.

[2019-09-13 14:58] draveness opened #82702 "Graduate ScheduleDaemonSet to GA"
/sig scheduling
/cc @k82cn @ahg-g
/assign

This feature has been in Beta since 1.12, we can now graduate it to GA in 1.17.

- [x] KEP for graduating schedule daemonset pods https://github.com/kubernetes/enhancements/pull/1299
- [x] Performance concern before the graduation of ScheduleDaemonSetPods #83829
- [x] Graduate ScheduleDaemonSetPods to GA #82795
- [x] Remove suspenedDaemonPods which handle

[2019-09-13 15:03] msau42 commented on #73625
/remove-lifecycle stale
/assign @yuxiangqian

[2019-09-13 15:12] odinuge commented on #82544
Hi!

We do currently support multiple huge page sizes on node level, but only allow one of them to have pre allocated pages. This is issue is tracked in #77251, and awaiting more feedback from sig-node.

Not sure why kubeadm join times out (without reading the full log of kubelet), but I guess it is becuase kubelet fails to start due to the node validation as a result of pre allocated huge pages w

[2019-09-13 15:25] gnufied commented on #77986
@kubernetes/sig-storage-feature-requests

[2019-09-13 15:27] liggitt commented on #82671
fixed in #82669 / #82688

/close

[2019-09-13 15:27] #82671 closed

[2019-09-13 15:34] lboclboc opened #82706 "kubectl kustomize gives random result"
**What happened**:
When I run kubectl kustomize <dire> the result is different between runs. I have the problem right now with services. The base service.yaml has no node-ports assigned but the overlay "development" does. When I run kubectl kustomize development I sometimes get the nodeports added, sometimes not.

**What you expected to happen**:
Same result each time.

**How to reproduce it (as m

[2019-09-13 15:35] odinuge commented on #82469
Hi @andyzheung! Here are some simple answers to your questions. :smile:

Node level support for multiple sizes is discussed in https://github.com/kubernetes/kubernetes/issues/77251. Pod level support will be a bit cumbersome to support, as it will require (potentially) breaking changes to how to volumes are mounted. It has been discussed briefly in https://github.com/kubernetes/kubernetes/issues/8

[2019-09-13 15:35] liggitt commented on #82706
/sig cli

[2019-09-13 15:35] liggitt commented on #82706
cc @monopole

[2019-09-13 15:38] alejandrox1 commented on #82676
@wojtek-t Opened https://github.com/kubernetes/perf-tests/issues/797 as a follow up how we can avoid that in the future.
this looks to be resolved though.
/close

[2019-09-13 15:40] lboclboc commented on #82706
[files.zip](https://github.com/kubernetes/kubernetes/files/3610710/files.zip)

[2019-09-13 15:41] lboclboc commented on #82706
Sample from running multiple times:
labe@tooextlb-laptop:~/git/kubernetes/deployments/elasticsearch$ kc kustomize development|grep 30
          value: "300"
labe@tooextlb-laptop:~/git/kubernetes/deployments/elasticsearch$ kc kustomize development|grep 30
    nodePort: 30911
    nodePort: 30913
    nodePort: 30915
    nodePort: 30917
          value: "300"
labe@tooextlb-laptop:~/git/kubernetes/depl

[2019-09-13 15:42] liggitt commented on #82676
/reopen

the hard failure was fixed on the 1.16 release branch but the job overall is still very flaky

[2019-09-13 16:33] #76202 closed

[2019-09-13 16:49] ahg-g opened #82708 "[migration] Translate predicates/priorities config to Plugin configuration"
**What would you like to be added**:
A way to configure future default plugins, and translation between [Predicate/Priority Policy](https://github.com/kubernetes/kubernetes/blob/926bd4ddbbee7afbb52e15afd890fccb6e1e69cf/pkg/scheduler/api/types.go#L49-L57) and [component config Plugins](https://github.com/kubernetes/kubernetes/blob/926bd4ddbbee7afbb52e15afd890fccb6e1e69cf/pkg/scheduler/apis/config/t

[2019-09-13 17:05] furkanmustafa commented on #68939
[code]

even with this :point_up: it doesn't work for me.

[code]

It recognizes it very well though;
[code]

[2019-09-13 17:09] furkanmustafa commented on #68939
DAMN. It was a [typo](https://github.com/kubernetes/kubernetes/issues/68939#issuecomment-530135242). ( webook )

[code]

[2019-09-13 17:44] wenjiaswe commented on #82641
/cc @wojtek-t for visibility

[2019-09-13 18:45] xmik commented on #42885
I am not a supporter of creating an alias for `kubectl get pods; kubectl get services; kubectl get ...`, because such an alias:
1. is an additional thing to do on each machine from which you control your k8s
1. would not be automatically updated if there was a new resource type added to k8s

[2019-09-13 18:50] Sisir-Chowdhury commented on #82668
Thanks @Joseph-Irving  . This feature is needed (through K8s API) to inject additional Containers on a running POD.

[2019-09-13 19:18] jeanluclariviere commented on #70732
/reopen
this still isn't working: `manifests/latest: no basic auth credentials`

[2019-09-13 19:36] #71712 closed

[2019-09-13 19:53] tedyu commented on #82668
@Sisir-Chowdhury
Is there additional requirement for the container (to be injected) which is beyond ephemeral container ?

thanks

[2019-09-13 19:54] chiluk commented on #67577
@Nuru https://www.kernel.org/doc/html/latest/process/stable-kernel-rules.html?highlight=stable%20rules ... Basically I will submit through linux-stable once my patch hit's Linus' tree, *(maybe earlier), and then all of the distros should be following linux-stable process, and be pulling in patches accepted by the stable maintainers to their distro specific kernels.  If they aren't you shouldn't be

[2019-09-13 20:04] rkojedzinszky opened #82709 "cAdvisor network metrics missing with cri-o"
**What happened**:
I am using cAdvisor to collect metrics, and no network metrics are exported when cri-o is the runtime.

**What you expected to happen**:
I expect to report network usage when using crio.

**How to reproduce it (as minimally and precisely as possible)**:
Running cri-o and kubernetes on a PI board should reproduce the issue.

**Anything else we need to know?**:
The main point seem

[2019-09-13 20:26] rkojedzinszky commented on #82709
Seems to already been fixed in cadvisor.

[2019-09-13 20:26] #82709 closed

[2019-09-13 20:37] Sisir-Chowdhury commented on #82668
@tedyu  Requirement is something like this - An istio cluster is up and running where each POD has 2 Containers - App and Envoy Containers. We'd like to inject another container(Ubuntu) in each of those PODs through K8s REST APIs (ex: kubectl utility).

[2019-09-13 20:47] tedyu commented on #82694
It seems TestWebhookAdmissionWithWatchCache raced with some other test which calls createOrGetResource where "openshiftwebconsoleconfigs.webconsole2.operator.openshift.io" is involved.

If we exclude TestWebhookAdmissionWithWatchCache from running concurrently with these other tests, the flake should be gone.

[2019-09-13 20:48] hakusaro commented on #65227
/remove-lifecycle rotten

[2019-09-13 20:48] hakusaro commented on #65227
/reopen

[2019-09-13 20:52] erictune commented on #75380
Is the problem that the node can't be register because it can't set the label?
Or does the node register, but you cannot select it?

[2019-09-13 21:02] adelina-t opened #82711 "Wrong hostname in pod work container for Windows nodes with containerd runtime"
Windows + containerd

When creating a pod, the expectation is that all containers have the hostname properly set to the name of the pod.

However when using Windows nodes + containerd as a runtime, only the pause container in the pod has the hostname properly set, not the work container.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

From the Windows node:

Run ctr.exe

[2019-09-13 21:03] adelina-t commented on #82711
/sig windows

[2019-09-13 21:05] adelina-t commented on #82711
/cc @PatrickLang

[2019-09-13 21:05] adelina-t commented on #82711
/cc @ksubrmnn

[2019-09-13 21:06] Joseph-Goergen opened #82712 "Readyz and livez do not match healthz"
**What happened**:
The `readyz` and `livez` urls do not provide as much information about the cluster as much as `healthz` does. It's expected to see `etcd` and `kms-provider-#`(if kms is enabled) but does not.
**What you expected to happen**:
`readyz` and `livez` url to include `etcd` and `kms-provider-#`
**How to reproduce it (as minimally and precisely as possible)**:

1. Create any 1.16 pre-re

[2019-09-13 21:18] #82675 closed

[2019-09-13 21:25] Joseph-Goergen commented on #82712
/sig api-machinery

[2019-09-13 22:00] Nuru commented on #67577
@chiluk I know nothing about the Linux development process. By "Linus' tree" do you mean https://github.com/torvalds/linux ?

[2019-09-13 22:02] caesarxuchao commented on #79209
/assign @yoyinzyc

[2019-09-13 22:04] caesarxuchao commented on #79209
@jpbetz this is related to @YoyinZyc tracing work in etcd. She wants to work on this one as well!

[2019-09-13 22:10] kwlzn commented on #74551
we're also seeing similar issues at Twitter in our usages of `kubectl port-forward`.

[2019-09-13 22:14] dims commented on #74551
/cc

long-term-issue (note to self)

[2019-09-13 22:18] lavalamp commented on #74551
I think this evaded our triage process because the api machinery label was put on quite a while after it was created.

[2019-09-13 22:19] chiluk commented on #67577
Linus's tree lives here, https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/.  My changes are currently staged on linux-next which is the development integration tree.  Yeah kernel development is a bit stuck in the dark ages, but it works.

He will likely pull in changes from the linux-next tree once 5.3 is released and he starts development on 5.4-rc0.  That is around the time fra

[2019-09-13 22:43] liggitt commented on #82712
/assign @logicalhan

[2019-09-13 22:51] immutableT commented on #82379
I have a scenario where knowing the name of the authenticator would be very useful.
Concretely, I am trying to understand how widespread the use of BasicAuth is in my environment.
If [authenticatedUserCounter](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go#L50) or [authenticatedAttemptsCounter](https://github.com/kubernetes

[2019-09-13 22:57] jpbetz commented on #79209
Perfect.  Thanks @YoyonZyc.  Happy to chat about potential solutions

On Fri, Sep 13, 2019 at 3:04 PM Chao Xu <notifications@github.com> wrote:

[2019-09-14 00:36] xieyanker commented on #79325
The latest version has resolved this issue, The image `quay.io/coreos/etcd:v3.3.10` has been replaced by `gcr.io/google-containers/etcd:3.3.10`. https://github.com/kubernetes/kubernetes/pull/76136/files, and I will close this issue.

[2019-09-14 00:36] #79325 closed

[2019-09-14 00:40] sofat1989 commented on #82512
@tedyu @yujuhong `created` state should be not normal for kubelet syncPod. the root cause is that kubelet computes the actions according to container status cache which is updated by relisting and at that time it is out of dated.  Shall we query the status directly from container runtime?

[2019-09-14 02:06] andyzhangx opened #82714 "should not delete an azure disk when that disk is being attached"
**What happened**:
We found that
1. azure cloud provider tries to attach a disk, it totally costs 121s in the end
2. after one minute(disk still in being detaching state), azure cloud provider tries to delete that disk and it succeeded
3. after 121s, attach disk operation succeeded and finally azure vm has attached one **non-existing** disk

**What you expected to happen**:
should not delete an az