[2016-08-02 16:52] thockin commented on #29896
I am asserting that any place outside of the plugin itself that spells out
a plugin's name is wrong.  Eventually we will have more and more
out-of-process plugins that you can't enumerate this way.  I *hate* that it
is spelled out in the API, and if/when we move to more use of
out-of-process, it must be solved differently.

No urgent fire, but I'd much rather not keep a list of this, especially so

[2016-08-02 16:53] #29516 closed

[2016-08-02 16:55] girishkalele opened #29922 "Add CreatedBy annotation to ReplicaSets created by a Deployment"
Request addition of a CreatedBy annotation to a ReplicaSet created by a Deployment.
This will allow tracing the ownership path from a pod to parent ReplicaSet to its parent Deployment.

[2016-08-02 16:56] ncdc commented on #15743
@davidopp I had a chance to talk to @twiest from our Ops team to get some better ideas about what they need for cluster capacity planning. Before I get to that, I need to describe a custom admission controller on OpenShift that allows cluster admins to restrict which nodes are available to specific namespaces ("dedicated nodes" if you want to think of it that way). It works like this:

1. In the a

[2016-08-02 16:56] erictune commented on #19701
This is not one of the uses of Pods that Kubernetes designers had in mind when creating Pods.

I suggest a "job-creates-and-deletes-deployment" approach instead:

1. For each service dependency, if it exists (from a previous run of this Job), delete it.
2. For each service dependency (e.g. MySQL, rabbitmq, memcache), create it (with `kubectl create -f`)
2. Run the test
3. For each service dependen

[2016-08-02 16:56] bes opened #29923 "Secrets created with kubectl apply -f are available as clear text in "Annotations""
Maybe I'm misunderstanding, or doing something wrong, but I don't think Secrets should be available in clear text by means of `kubectl describe secrets` even if they are created using `kubectl apply -f`

# Example

my-secret.yaml
[code]

Commands:
[code]

`kubectl describe` will have an "Annotations:" field which contains the entire yaml file (as JSON), including my base64 encoded secrets:

[code]

[2016-08-02 17:11] vefimova commented on #29913
@thockin
So if you need to have cluster with heterogeneous workloads (containers + vms) based on k8s there won't be option for that?

[2016-08-02 17:15] caesarxuchao commented on #29856
That's by design. The version of the clients in a clientset is fixed, and it's explicit in the directory path e.g., `pkg/client/clientset_generated/release_1_4/typed/core/v1`, it doesn't care about the version supplied in the restclient.Config.

[2016-08-02 17:15] mikedanese commented on #19701
This seems like it would be made easier with generic resource garbage collection (a generic cascading deletion of dependencies). @justinsb had a use case regarding docker registries and secrets. cc @caesarxuchao

[2016-08-02 17:28] yujuhong commented on #29913
This is how I'll do it. I will create a cluster in which some nodes use hypervisor-based runtimes, while others use linux containers (but only one runtime per node). Then I'll label the nodes accordingly. When creating the workload, I'll specify the node selector to make sure my pods land on the right node.

[2016-08-02 17:29] lavalamp commented on #29897
@gmarek @wojtek-t Kubemark is currently very annoying to debug. The startup script doesn't log useful information (if it logged the output of those commands the problem would probably be obvious.) Additionally, it doesn't save anything from the kubemark master. To make progress on this I had to build, start cluster, and log in myself. That's going to be really annoying for people who accidentally

[2016-08-02 17:31] dchen1107 commented on #29913
@vefimova To solve your usecase, you can have some nodes with hyperd runtime, some nodes running linux-based runtime, but not multiples. To have more than one runtime at a node is extremely hard to manage. If there is a real need behind, I would rather expand a single runtime solution to support both linux-based container and vms based on the user's request.

[2016-08-02 17:33] #3752 closed

[2016-08-02 17:36] caesarxuchao commented on #19701
Thanks @mikedanese. Here's the user doc for the garbage collection: http://kubernetes.io/docs/user-guide/garbage-collector/

In the case discussed here, we need to the ObjectMeta.OwnerReference of the services (e.g. MySQL, rabbitmq, memcache) pointing to the unit test Job, so when the Job is done, the services will be garbage collected.

[2016-08-02 17:39] spxtr commented on #29897
@wojtek-t That's correct. It is a bit of a pain to do, though, because the github plugin will try to run the suite on every open PR when it gets added which will cause problems.

[2016-08-02 17:40] abithap commented on #29028
@abrarshivani  I haven't got a chance to work on it yet. so please carry on if you are planning to fix it.

[2016-08-02 17:43] dubstack opened #29927 "Removing terminated pod's Cgroup"
For reference: For work in #27204 which is introducing pod level cgroups into Kubernetes. As a part of which we create cgroups for each pod and each of the pod's containers are brought under its pod cgroup.

We need to cleanup the pod's cgroup once the pod is terminated.
But we need to be careful about how we delete the cgroup.

Some Points to consider:
- Once the pod is terminated we can reduce i

[2016-08-02 17:47] wonderfly commented on #29052
Same here: https://github.com/kubernetes/kubernetes/pull/29864

[2016-08-02 17:49] lxjuly commented on #27073
@jlowdermilk Thanks!!

[2016-08-02 17:51] hongchaodeng commented on #27548
Submitted a proposal: #29888

[2016-08-02 17:56] mtaufen commented on #29865
Huh... my builds pass now too. Ugh, I wish I had written down the hash I was on when I saw this.

I had an undefined identifier in km.go error (I forget which one it was, but it was one of the functions passed to `AddServer`). At a glance I assumed, with respect to the CAUTION comment in `cmd/hyperkube/main.go`, that it might have been because a name of a function changed . Now I'm face-palming be

[2016-08-02 17:56] #29865 closed

[2016-08-02 17:59] vishh commented on #29927
I took the liberty of editing the proposal directly. LGTM. Thanks for the write up!

[2016-08-02 18:04] saad-ali commented on #29166
Closing this issue. Please reopen if you encounter issues with v1.3.4+

[2016-08-02 18:04] #29166 closed

[2016-08-02 18:12] dubstack commented on #29927
@vishh Thanks!

[2016-08-02 18:19] timstclair commented on #28940
If we ever do something like overcommit, reporting a sum of requested resources could be problematic. Although, maybe it would still be informative to see that the node is over committed. Reporting by QoS bucket is another option.

[2016-08-02 18:20] saad-ali commented on #29896
CC @pmorie

[2016-08-02 18:28] erictune commented on #19701
Is the GC synchronous?  If so, I think that is easier.  If it is not
synchronous, and Job gets terminated before completion, then the Job has to
wait for the old instance to be GC'ed, before recreating, and it has to
somehow know the difference between the ones it creates and the ones that
are about to be GC'ed.  That might be just as complicated.

On Tue, Aug 2, 2016 at 10:37 AM, Chao Xu <notific

[2016-08-02 18:32] mikebrow commented on #13876
dibs .. I'll give this one a shot

[2016-08-02 18:34] soltysh commented on #29856
Good point, I totally forgot about that part.

[2016-08-02 18:42] wonderfly opened #29931 "Flaky unit/integration test"
The github plugin shows test failed, but logs say "No Test Failures".

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29864/kubernetes-pull-test-unit-integration/37353/

[2016-08-02 18:42] timstclair opened #29932 "[node e2e flake] etcd binary not found"
From https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29879/node-pull-build-e2e-test/16606/:

[code]

[2016-08-02 18:46] ncdc commented on #29579
@euank how would a call in the kubelet to resize the pty translate to a remote call to Docker for `ResizeExecTTY`?

[2016-08-02 18:49] wojtek-t commented on #29897
@lavalamp - debugging startup of real cluster is also annoying (at least for me). But sure, we can add some logs.

Additionally, it doesn't save anything from the kubemark master.

Then something has changed - we used to copy artifacts from kubemark master components - I can check that tomorrow. If we don't save them, someone broke it again.

[2016-08-02 18:50] wojtek-t commented on #29897
Also - we really need kubemark-500 in post-submit to avoid performance regressions. And if the only way to have it is to have some kubemark in pre-submit (which is a reasonable request), then we really need to do it.

[2016-08-02 18:51] chrislovecnm commented on #10439
I know this issue is specific to Vault but has broadened to a discussion about a pluggable security component.  Does anyone else have recommendations besides KMS and Vault?

[2016-08-02 18:55] k8s-merge-robot opened #29933 "AfterSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/8002/

Failed: AfterSuite {Kubernetes e2e suite}

[code]

[2016-08-02 19:04] deads2k commented on #29933
@ericchiang This looks to be related to the oidc authentication provider.

[2016-08-02 19:11] nikhiljindal opened #29934 "controllers should use versioned clientset instead of internal clientset"
Sub task of https://github.com/kubernetes/kubernetes/issues/27667
- This avoids unnecessary conversion of API objects from internal to a different version.
- Controllers become immune to API changes in internal version.

@caesarxuchao has been working on some of this.
cc @kubernetes/sig-api-machinery

[2016-08-02 19:13] nikhiljindal commented on #29934
Newly written federation controllers (such as the [federation service controller](https://github.com/kubernetes/kubernetes/blob/cadee4675325366c1a3195a8950442c089003b30/federation/pkg/federation-controller/service/servicecontroller.go)) are now using the versioned clientset instead of the internal one.

[2016-08-02 19:14] caesarxuchao commented on #29934
Before let controllers use versioned client, we need to convert our client utility functions (like pkg/client/record) to versioned. This is done in #29147.

[2016-08-02 19:14] ericchiang commented on #29933
@deads2k I don't think we've ever enabled an oidc plugin for e2e. Also that error message is coming from golang.org/x/oauth2, which we don't use.

I think this coming from the google OAuth2 code in the e2e tests. Though I'm not supper familiar with what it's doing.

[2016-08-02 19:15] mml opened #29936 "glog.a: not a go object file"
[code]

`make clean` fixed this, but why?  Is it because of 1.7?  IIRC, my workstation had 1.6 on it last week.

@thockin

[2016-08-02 19:18] mgoodness commented on #10439
We're using CredStash (https://github.com/fugue/credstash), which in turn
uses KMS & DynamoDB.

On Tue, Aug 2, 2016 at 1:52 PM Chris Love <notifications@github.com> wrote:

[2016-08-02 19:18] #28482 closed

[2016-08-02 19:28] sashokkum commented on #1615
We are also early awaiting the release of this feature. We are trying to implement IPC between an app service container and a helper service container packaged into a single pod. Using Docker 1.10 and Kub 1.2.4 at present.

Would this be part of Kub 1.4 ?

[2016-08-02 19:32] deads2k commented on #29933
Sorry, found the constant down in `coreos/go-oic/oauth2` and forgot that kube probably produces those externally.

Weird that a grant is sometimes valid (flaky), right?

[2016-08-02 19:33] ericchiang commented on #29933
Yeah, really weird.

[2016-08-02 19:35] kshafiee opened #29937 "Federation: hack/update-codegen.sh fails to generate import_known_versions.go, namespace_expansion.go, fake_namespace_expansion.go"
Federation: hack/update-codegen.sh fails to generate
- import_known_versions.go
- namespace_expansion.go
- fake_namespace_expansion.go

[2016-08-02 19:35] kshafiee commented on #29937
cc @nikhiljindal

[2016-08-02 19:48] ChrisMcKenzie commented on #29759
So I have not found a solution to this but I have proved that it has something to do with `kube-proxy` running in `iptables` mode after switching it to `userspace` mode it no long drops connections.

[2016-08-02 19:52] jayunit100 opened #29938 "CI and test-cmd"
*problem*

test-cmd isnt validated in all cases by the CI.

to reproduce, we can corrupt test-cmd.sh and run the ci driver, to detect how it gets overlooked.

*solution*

make sure that the CI validates that test-cmd runs with exit code 0.

*background*

Looks like https://github.com/kubernetes/kubernetes/pull/29918 fixed a bug i introduced in one of my go-bindata rebases, wherein test-cmd had a h

[2016-08-02 19:54] smarterclayton commented on #29856
The internal clientset (which Maciej linked) can't hardcode versions - it
must get those from the server to be correct.  But the versioned ones can.

On Tue, Aug 2, 2016 at 2:34 PM, Maciej Szulik <notifications@github.com>
wrote:

[2016-08-02 19:57] gtaylor commented on #10439
We were looking at Lyft's Confidant: https://lyft.github.io/confidant/

[2016-08-02 20:01] stevesloka commented on #10439
We have some interest in helping out here, working on a writeup as @erictune suggested. Mainly we're looking to manage credentials to things like RDS in AWS for example, with short lived tokens.

Happy to contribute code as well, we just need to get our info together so we can discuss. Will post back to this thread with that info.

[2016-08-02 20:03] saad-ali commented on #29620
This was fixed in PR https://github.com/kubernetes/kubernetes/pull/29240 which is in v1.3.4.

[2016-08-02 20:03] #29620 closed

[2016-08-02 20:07] smarterclayton commented on #15743
Note that we use the "type=infra" constraints specifically because
tolerations and taints had not been invented - we would prefer to have
tolerations be quota / policy controlled for end users and use taints to
steer user pods away from infra nodes.

On Tue, Aug 2, 2016 at 12:56 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-08-02 20:07] saad-ali commented on #19589
This code path has changed significantly since this issue was opened. I will close it for now. If you encounter problems with v1.3.4+ please open another issue.

[2016-08-02 20:07] #19589 closed

[2016-08-02 20:09] smarterclayton commented on #15743
The things described here sound a lot like kubectl top and borgcfg --advise
as described in other issues, with the addition of "common requested node
selectors" and possibly "capacity available for those commonly requested
node selectors".  However since the set of selectors is potentially
infinite, it would probably be more reasonable to make it possible to ask
for answers on specific node select

[2016-08-02 20:10] chrislovecnm commented on #10439
@stevesloka awesome!  Reach out, because I am encouraging our team to be involved with this specific challenge as well.  We are probably leaning toward vault.  Trying to be cloud independent.

cc: @genehand

[2016-08-02 20:11] bgrant0607 commented on #10439
Could Vault simply be treated as another storage backend?

cc @xiang90

[2016-08-02 20:27] ekuefler opened #29941 "Deleting long-lived deployments can be very slow"
I have a continuous integration system that updates the image used in a deployment potentially dozens of times per day, and has been running for a couple of weeks. When I tried to delete this deployment today, `kubectl delete` seemed to hang for >10 minutes. Re-running with `-v=999`, I see that `kubectl` is sending multiple GET, PUT, and DELETE requests for every replicaset that has ever been crea

[2016-08-02 20:30] sjenning commented on #29910
Pretty sure this commit (merged 4 hours ago) fixes it
https://github.com/kubernetes/kubernetes/commit/31f5525f439f4dbf33c3715b56c8485c99658212

[2016-08-02 20:31] nikhiljindal commented on #29937
Yes those files are not autogenerated.

Running hack/update-codegen.sh should leave those files as is. You mentioned that it deletes those files?

[2016-08-02 20:32] chrislovecnm commented on #10439
@bgrant0607 that is what needs to be scoped.  My gut says yes.  Also vault can use etcd as its storage backend.

[2016-08-02 20:35] jefferai commented on #10439
Note that the etcd storage backend is community-supported only, and is (currently) known to have issues if used in HA fashion.

[2016-08-02 20:36] lavalamp commented on #29897
I've never seen a kubemark job result that included logs from the kubemark
master components-- I just looked at a random passing kubemark 5 job and it
only has files from one master, it doesn't even have files from the node.

On Tue, Aug 2, 2016 at 11:49 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-08-02 20:37] thockin commented on #29936
yeah, if you upgrade Go versions you may need to make clean.

On Tue, Aug 2, 2016 at 12:15 PM, Matt Liggett <notifications@github.com>
wrote:

[2016-08-02 20:37] lavalamp commented on #29897
Maybe there's a bug where it doesn't copy the logs from kubemark components
if it doesn't finish the startup script?

On Tue, Aug 2, 2016 at 1:36 PM, Daniel Smith <dbsmith@google.com> wrote:

[2016-08-02 20:38] chrislovecnm commented on #10439
@jefferai noticed that as well.  You have the PR on that issue?  You can ping me on slack if you like.

[2016-08-02 20:38] lavalamp commented on #29897
The bot is still going to file issues if it breaks, at least.

On Tue, Aug 2, 2016 at 11:50 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-08-02 20:44] mml commented on #29936
Well, I was going to suggest we make the go binary a dependency of everything else, but...

[code]

Perhaps one day we can just use bazel.

[2016-08-02 20:46] chrislovecnm commented on #10439
cc @Jroberts235

[2016-08-02 20:48] ravilr commented on #29941
Also consider setting a saner value for revisionHistoryLimit of deployment object:
http://kubernetes.io/docs/user-guide/deployments/#revision-history-limit

Also see, https://github.com/kubernetes/kubernetes/issues/23597

[2016-08-02 20:52] rootfs commented on #29910
confirmed

[2016-08-02 20:58] kshafiee commented on #29937
yes, they are not autogenerated, even though they are under /clientset_generated/ directory. So, when you delete the directory and it gets regenerated, it is missing those files

[2016-08-02 20:59] jefferai commented on #10439
@chrislovecnm No, so far nobody has tackled it.

[2016-08-02 21:12] lavalamp commented on #28735
The latest few are triggered by https://github.com/kubernetes/kubernetes/pull/28840

It's probably going to trigger two more when the in-flight tests finish.

[2016-08-02 21:17] karlkfi commented on #27430
I suspect the naming problem is actually a symptom of a design/hierarchy/abstraction problem from trying to add mid-layer functionality without breaking reverse compatibility of the existing layers.

AFAIK, the distinguishing capability of PetSet is that it persists the IP and volumes of a container through resurrection/rescheduling of the container. This implies there may be a missing abstraction

[2016-08-02 21:18] nikhiljindal commented on #29937
Any particular reason why you deleted that directory?

cc @caesarxuchao

[2016-08-02 21:19] erictune commented on #10439
this PR is relevant to someone trying to figure out how to plug in a different storage for secrets: https://github.com/kubernetes/kubernetes/pull/23208

Supposedly, it allows "specify target etcd servers per Group or per GroupResource".  So, a first step could be to specify a "target etcd servers" for the "secrets GroupResource" which is different.

Then, you'd want to change the storage from etcd

[2016-08-02 21:25] caesarxuchao commented on #29937
@kshafiee Sorry, these expansion files have caused a lot of confusion. I planned to centralize them in a folder in the client-gen directory, and copy them out every time the tool is run, but I cannot promise quick progress on this.

[2016-08-02 21:27] vishh commented on #27455
I'm looking at this issue.

[2016-08-02 21:28] MHBauer commented on #29002
I wouldn't argue for a single-master exception, nor would I argue for a POST that waits.
I am unfamiliar with how everything works, so I am having a little trouble parsing some of these responses. I see mentioned a `discovery client` and `watch`. What are those? Are they applicable here?
Is there a way to watch for this change to be made that is built in, or is `loop(!404)` the way to go for now?

[2016-08-02 21:33] vsimon commented on #29759
cc'ing @thockin (hope ok I found your handle in the original issue #3760), should this be happening in the iptables mode of kube-proxy?

[2016-08-02 21:37] dchen1107 commented on #29761
I am closing this one as dup of https://github.com/kubernetes/kubernetes/issues/24957, and let's move the discussion over there.

[2016-08-02 21:37] #29761 closed

[2016-08-02 21:41] yujuhong commented on #29579
+1. I am not sure how this would work.

[2016-08-02 21:44] dubstack opened #29946 "Enabling 'cgroup-per-qos' flag in Kubelet"
For reference: For work in #27204 which is introducing pod level cgroups into Kubernetes. As a part of which we create cgroups for each pod and each of the pod's containers are brought under its pod cgroup.

This issue is to discuss on how we want the user to enable this feature. And should we support rollbacks?

@vishh suggested that we would like the user to just restart the kubelet with the cgr

[2016-08-02 21:47] kshafiee commented on #29937
@caesarxuchao @nikhiljindal
I remember there was build errors due to duplicate declaration after I added "api/Secret" to hack/update-codegen.sh, which is why I deleted the directory (I was expecting everything to be re-generated, as the name of the directory implies). However, I could not duplicate the error.

I suggest that we change the name of the directory to clarify that not every file will b

[2016-08-02 21:47] #24654 closed

[2016-08-02 22:08] pnovotnak commented on #25828
Sorry for the delay!

So, it works to create a PV, then a PVC in each namespace. However, only one pod manages to bind the PVC and start. Here are the steps to reproduce (run these commands inside the extracted contents of [kube-pvc-debug-configs.tar.gz](https://github.com/kubernetes/kubernetes/files/398220/kube-pvc-debug-configs.tar.gz));

[code]

@saad-ali: I emailed you a tar.gz created with th

[2016-08-02 22:09] ixdy commented on #29938
CI runs `make test-cmd`, which calls `hack/make-rules/test-cmd.sh`. `hack/test-cmd.sh` was left as a pass-through until folks update their workflow.

There was a bad rebase in #25584 which broke `hack/test-cmd.sh`, but CI didn't notice since it doesn't use it anymore. Since this script is deprecated, there's really nothing to fix.

[2016-08-02 22:09] #29938 closed

[2016-08-02 22:10] bprashanth commented on #27430
The goals of an rc and petset are different. an rc is like a batallion of soldiers, they don't really know each other and as some die they're replaced asap. A petset is more like a family, they get names and startup/die in order. Obviously the soldiers can form a familiy, it would just be awkward, and the family can form an army, it would just be ineffective. The difference between an rc with rein

[2016-08-02 22:41] k8s-merge-robot opened #29953 "TestMetrics {empty_dir}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/15246/

Failed: TestMetrics {empty_dir}

[code]

[2016-08-02 22:41] k8s-merge-robot opened #29954 "[k8s.io] Pods should not start app containers if init containers fail on a RestartAlways pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12460/

Failed: [k8s.io] Pods should not start app containers if init containers fail on a RestartAlways pod {Kubernetes e2e suite}

[code]

[2016-08-02 22:48] david-mcmahon commented on #29954
Autoassigned...to me?
@dchen1107 is this a node thing?

[2016-08-02 22:48] lavalamp commented on #27307
@mbohlool can you link to your clean-up script here?

[2016-08-02 22:54] karlkfi commented on #27430
Those could be accounted for with feature flags, rather than being implicit features of the abstraction layer. Ordinal index is similar enough to a persistent name. Startup/teardown is something that would be nice to have on all containers/pods.

[2016-08-02 22:59] saad-ali commented on #25828
Sync'd with @pnovotnak offline.

He was having trouble with setting up PV/PVCs with a ReadOnlyMany relationship. He was creating one PV object and multiple PVC objects in different namespaces expecting all the PVC objects to bind to the single PV object.

However, a single PV can only be bound to a single PVC at a given time, regardless of whether it is ROX or not (once a PV/PVC binds, the PV can'

[2016-08-02 23:00] ixdy commented on #29894
Integration test failure may have been a flake. Has it failed more than once?

[2016-08-02 23:02] euank commented on #18770
@dchen1107 to be sure I understand, you're saying that we should make it possible to run directly on the host node, but it's still okay if the default way to run it is as a pod, as discussed above in this issue?

As an aside, I suspect that `node-problem-detector` and `kube-proxy`, which are both currently run as privleged pods, also will not work that way with Hyper.

[2016-08-02 23:05] steveeJ commented on #26102
@pskrzyns

@dcbw was responding to your previous comment that suggested to use solution 1 (rkt and respectively Docker manages the network). In that case, it wouldn't be the same plugin but independent implementations of the network plugins in order to accomplish the same thing. Kubernetes would need to pass runtime-specific network options to each runtime and compatibility would be very dependent

[2016-08-02 23:08] lavalamp commented on #29954
Check the test owners csv file & find a new owner if you don't think you
should own this test. :)

On Tue, Aug 2, 2016 at 3:48 PM, David McMahon <notifications@github.com>
wrote:

[2016-08-02 23:09] steveeJ commented on #25404
@pskrzyns Do you still see this as an issue? If so, I think that the setup for this issue is not clearly defined, at least not clear enough for me to fully understand the issue. Would you mind filling in some details to reproduce this?

[2016-08-02 23:15] zllovesuki opened #29955 "--v flag doesn't seem to do anything"
`Disclaimer: I'm very new to the Kubernetes project, even newer to Go lang in general.`

Since Kubernetes is using `glog` from `github.com/golang/glog`, then supposedly passing `--v=0` should reduce the verbosity of the log produces by `apiserver`, `controller-manager`, and `scheduler` (I'm using hyperkube from Quay.io on CoreOS).

Is there a way to reduce the `Info` level logging?

[2016-08-02 23:20] bprashanth commented on #29955
I believe setting --v=0 should elide Infof as well, because its equivalent to log level 2

[2016-08-02 23:21] steveeJ commented on #28407
AFAIU the question is how that is derived if `hostNetwork: true`. To help solve this issue I can throw in some questions:

1. What are the connectivity requirements for the chosen IP/interface?
2. Will this IP be unique among the cluster?
3. Will it depend on the kubernetes network plugin used on the node where the pod is run?

[2016-08-02 23:21] lavalamp commented on #28735
OK, those were all for the same reason and I *think* that should be the last of them.

[2016-08-02 23:21] lavalamp commented on #28735
Actually there'll be one more for build gce-slow 8125

[2016-08-02 23:24] #28795 closed

[2016-08-02 23:33] timstclair commented on #27455
Thanks Vish!

[2016-08-02 23:43] david-mcmahon commented on #29954
Ah yes, thanks @lavalamp, the new hotness, test_owners.csv!
https://github.com/kubernetes/kubernetes/pull/29956

[2016-08-02 23:44] paultiplady commented on #28328
I've hit this as well. Think this is a bug -- the observed behaviour when creating a Deployment with the same Selector as an RC is a tight-loop of pod creation and termination, which clogs up the API server and makes the API unresponsive.

Workaround is to orphan the rc pods with `kubectl delete rc --cascade=false <rc-name>`, and then you can create your Deployment (which will create its own pods)

[2016-08-02 23:51] yujuhong commented on #27097
I discussed with @dchen1107 offline. Below is the gist of our discussion.

 1. Core metrics is what CRI will be focus on, at least in the first version.
 2. There are concerns about extra overhead added by querying the runtime for container metrics, as opposed to using the built-in cadvisor that provides summary of all containers.

Since cadvisor works for most (non-VM-based) runtimes, we can stil

[2016-08-02 23:56] krmayankk commented on #28940
@timstclair  hmm so if Allocatable is same as proposal which is basically [Allocatable] = [Node Capacity] - [Kube-Reserved] - [System-Reserved], then isnt Allocatable ,the actual free resources on the system, in that case, this issue is no longer an issue, right Am i missing something ?

On a GCE CLUster, i still see Allocatable same as Capacity, are the reserved flags also not set on the GCe clus

[2016-08-03 00:21] jimmycuadra opened #29959 "RBAC: document matrix behavior of policy rules"
Talking with @ericchiang a bit, my understanding of the RBAC PolicyRule's `apiGroups` field is that it determines which API groups the authorizer looks for resources in. For example, if you want to authorize the resource "deployments," you need to explicitly include the "extensions" API group:

[code]

The reason for this is to help disambiguate resources if resources of the same name exist in mor

[2016-08-03 00:24] ericchiang commented on #29959
cc @kubernetes/sig-auth

[2016-08-03 00:25] wongma7 commented on #29425
I found this was introduced by https://github.com/kubernetes/kubernetes/pull/24331 I think updating pvc capacity got lost in the refactor https://github.com/kubernetes/kubernetes/pull/24331/files#diff-97a1ffdd78274d54ba9dc28656ceca2dL431

[2016-08-03 00:26] #29402 closed

[2016-08-03 00:27] nikhiljindal commented on #29937
Yes agreed that it is confusing.
As @caesarxuchao says we want to fix it, just havent been able to get to it.

@kshafiee feel free to fix it if you want.

[2016-08-03 00:29] saad-ali commented on #29425
@jsafrane can you take a look at this.

[2016-08-03 00:54] liggitt commented on #29959
The matrix is completely intended, especially as resources start in one API group (e.g. jobs in the extensions group), then move to another group (e.g. batch). I think requiring parallel maintenance of duplicate rules would be more error prone.

[2016-08-03 00:56] liggitt commented on #29959
I don't think we should combine API group and resource name into a single string field. I think `resource/subresource` makes sense, but API group should stay separate

[2016-08-03 00:57] onbjerg commented on #29323
Can't this be pulled from the k8s API under ``.spec.replicas``?

[2016-08-03 00:58] liggitt commented on #29959
@ericchiang, this could be a doc improvement, but my vote is to keep the API as is

[2016-08-03 01:01] janetkuo opened #29960 "Concurrent RS labels map read map write in deployment controller"
`equalIgnoreHash` may produce `fatal error: concurrent map read and map write` because the labels maps are read and write concurrently. Will fix this with the following steps:

1. Compare the labels too see if they're equal (ignore hash label)
2. Then set the template labels to `nil` and do a deep equal

@kubernetes/deployment @lavalamp

[2016-08-03 01:06] jimmycuadra commented on #29959
Is it expected that a resource will only ever exist in one API group at a time, then? If this behavior is intended, I'm not sure I understand why the API groups need to be listed explicitly at all.

[2016-08-03 01:13] liggitt commented on #29959
An API group is required to know what resource is being referred to, which means policy must fully specify the API group and resource to be unambiguous. I may be fine with user Bob creating jobs resources in the extensions and batch API groups, but not with him creating jobs in the payroll.mycompany.com API group.

That said, it will be common for multiple resources (jobs in the batch and extensio

[2016-08-03 01:20] jimmycuadra commented on #29959
Okay, sounds like I understood the purpose correctly. I guess I just disagree about the "matrix" being desirable behavior. I'd prefer for something like authz to be very explicit. If it's really intended to work this wehn, then yes, it's probably just an issue of documentation. It should be made very clear that a matrix of allowances will be created. I'd be surprised if that was what users general

[2016-08-03 01:23] liggitt commented on #29959
The same matrix effect exists with all the fields: verbs, resources, API groups.

[2016-08-03 01:25] liggitt commented on #29959
We found that non-matrix rules (fully specifying every API group-resource-subresource-verb combo) led to an unreasonably large set of rules. It would take six rules just to give someone read access to jobs

[2016-08-03 01:32] dims commented on #29790
@xiangpengzhao Peter, The flag is defined and respected in the [glog_file.go](https://github.com/kubernetes/kubernetes/blob/fa95788e560de7575c851d87d76c664b3753a7a6/vendor/github.com/golang/glog/glog_file.go#L41)

The original is here, we use a copy:
https://github.com/golang/glog/blob/master/glog_file.go#L41

[2016-08-03 02:05] therc commented on #29323
@onbjerg who's going to pull the data? Prometheus folks said that this is not going to implemented in the service discovery code on their side. So, if the API server won't export those variables, either, then you'd need to run some kind of agent that is neither in Prometheus, nor in the Kubernetes control plane and bridges the two.That's an additional component to deploy/manage and yet another poi

[2016-08-03 02:08] k8s-merge-robot opened #29964 "[k8s.io] Kubectl client [k8s.io] Kubectl label should update the label on a resource [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12470/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl label should update the label on a resource [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28493

[2016-08-03 02:10] onbjerg commented on #29323
I'm not sure I understand. The desired replica count is exposed in the API.

[2016-08-03 02:18] 1ambda commented on #23562
According to the[Type: LoadBalancer#shortcomings](http://kubernetes.io/docs/user-guide/services/#type-loadbalancer#shortcomings),
It is required to set nodePort for LoadBalancer if you are using other providers rather than GCE

[2016-08-03 02:22] chrislovecnm commented on #28817
@thockin @bgrant0607 may we close this gents?

[2016-08-03 02:30] therc commented on #29323
Prometheus doesn't use the Kubernetes API to collect metrics, it only uses it to discover target groups (HOST:PORT lists) for services, machines, pods, endpoints and API servers, so that later you can write rules to scrape data FROM those.

Information (metrics) like the expected number of replicas in a Deployment is NOT imported. And Prometheus only scrapes data in two different formats:

https:/

[2016-08-03 02:37] mdshuai commented on #29829
I met this same error, In my env the kubedns can't access  kubernetes service 443 port.
[code]

[2016-08-03 02:40] ekuefler commented on #29941
Thanks, that setting definitely helps (though is just a workaround for the underlying issue). I agree with #23597 that having a limit seems like a more reasonable default.

[2016-08-03 02:58] boydgreenfield commented on #29617
I'm experiencing this exact issue on 1.3.4 (albeit on AWS running jessie not GKE).

Has anyone successfully found a workaround that doesn't involve patching k8s itself?

We get random pods getting stuck in ContainerCreating (5-10%ish), which quite badly breaks our use case (spinning up containers on user request). We were previously on ~1.2.3 with no problems. I did downgrade to ~1.2.6 but had the

[2016-08-03 03:01] #28817 closed

[2016-08-03 03:11] fejta opened #29966 "kube-up failing with AccessDenied messages on PR jenkins"
You'll see something like this:

[code]

[2016-08-03 03:12] fejta commented on #29966
Once I get things working need to retest the following:

29956
29706
29888
29942
29952
29961
28777
29138
29962
29965

[2016-08-03 03:20] philipn commented on #10735
FYI, I've thrown together a simple utility to switch between Kubernetes contexts more verbosely and quickly:

https://github.com/philipn/k8env

[2016-08-03 03:23] saad-ali commented on #29617
@boydgreenfield Based on what you've said you're experiencing this issue both with v1.2 and v1.3 which means it is likely not the issue described above. If you can provide more information I can help you debug: What version of master/node are you running. How are you deploying your pods? For the pods stuck in ContainerCreating, could you grab the `/var/log/kubelet.log` files from those nodes durin

[2016-08-03 03:25] xiangpengzhao commented on #29790
@dims Thanks Davanum!

It seems that glog will respect the flag `--log-dir` and it's out of our control. So, should we report a bug to glog? There are at least two issues here: 1). should validate the dir; 2). should create dir if not exist.

The func [create](https://github.com/kubernetes/kubernetes/blob/fa95788e560de7575c851d87d76c664b3753a7a6/vendor/github.com/golang/glog/glog_file.go#L114) in

[2016-08-03 03:45] fejta commented on #29966
Things appear to be working again. I asked to retest all the impacted PRs, now dropping to P1

[2016-08-03 03:59] fejta commented on #29966
We are now using a service account in pr-jenkins! https://github.com/kubernetes/test-infra/issues/266

[2016-08-03 03:59] #29966 closed

[2016-08-03 04:03] #27920 closed

[2016-08-03 04:05] aledbf commented on #29829
@better0332 @mdshuai this can be solved using `export API_HOST=<ip of docker0>`

[2016-08-03 04:05] aledbf commented on #29727
@magicwang-cn this can be solved using `export API_HOST=<ip of docker0>`

[2016-08-03 04:08] magicwang-cn commented on #29727
@aledbf yes, this can slove the second problem.

[2016-08-03 04:39] #29546 closed

[2016-08-03 04:54] k8s-merge-robot opened #29970 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/6257/

Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236 #27920 #28492

[2016-08-03 05:21] thockin commented on #29759
I don't think this is a kube-proxy issue, if you say that it works fine within the cluster.

@girishkalele

[2016-08-03 05:28] ixdy commented on #29970
This may have been https://github.com/kubernetes/test-infra/pull/329?

[2016-08-03 06:05] mdshuai commented on #29727
I also met some errors when deploy kube-dns
run setps:
[code]
After the kube-dns is running, there is something wrong with the logs and it also can't resolve the dns name.
[code]

[2016-08-03 06:11] mdshuai commented on #29829
same issue. https://github.com/kubernetes/kubernetes/issues/29727

[2016-08-03 06:24] wojtek-t commented on #29897
The bot is still going to file issues if it breaks, at least.

This is good short term, but I don't think it's enough medium/long-term.

Regarding logs, I checked it and it is supposed to store logs only from runs for which something failed (either startup or tests):
https://github.com/kubernetes/kubernetes/blob/8cf40ebe259fea7d8773d8596a0d474fe2196fee/hack/jenkins/e2e-runner.sh#L415
https://githu

[2016-08-03 06:24] oba11 opened #29972 "Pet sets stuck in Init state though the pods are running"
Hit an issue with the pet set states switching from **running state** to **init state**. Initially I thought the pods aren't running but later figured out that the containers are actually running but the container state is not consistent with the pod state in kubernetes api.
### Issue

[code]
### Kubernetes Cluster Version

[code]
## Kubernetes Get Pod State

[code]
## Kubernetes Describe Pod Stat

[2016-08-03 06:33] boydgreenfield commented on #29617
@saad-ali – I was on a mobile device earlier but will respond with logs for 1.3 in the morning Pacific. Apologies about the less-than-complete error message this evening.

[2016-08-03 06:57] thockin commented on #28667
Nothing says that the individual runtimes can't all use CNI or even use a
common CNI library.  I just don't think we should be telling people "the
runtime doesn't get to choose".

I really think that having a docker-native driver mode will appeal to some
people.

already have two)

If you mean docker and rocket as two, those should only count as one.  They
operate largely the same way.  Adding all

[2016-08-03 07:08] danielqsj opened #29974 "kube-proxy set endpoint for "default/kubernetes:https" repeatedly"
Hi all.
I set up a HA cluster which has three api-servers (195,196,197). When running kube-proxy in one node, it seems that kube-proxy repeatedly setting endpoints for "default/kubernetes:https" to these three api-server.
Log:
[code]
.........repeatedly

The kube-proxy config is: (200 is load-balance ingress ip)

[code]
Even when I set `--master` to only the active api-server like `--master=https:

[2016-08-03 07:20] thockin commented on #27754
On the Google side I think @Random-Liu owns this - please tell me if you think otherwise, @Random-Liu

[2016-08-03 07:25] jszczepkowski commented on #27470
Fixed by #28840.

[2016-08-03 07:25] #27470 closed

[2016-08-03 07:28] gmarek opened #29975 "unit test flake: k8s.io/kubernetes/pkg/client/record"
@lavalamp - I wasn't able to find automatically create issue for this, but I may not know what to search for. Is our bot creating issues for unit test failures?

@fejta @spxtr @caesarxuchao - this failure looks to me as something in client testing libraries.

[code]

[2016-08-03 07:49] k8s-merge-robot opened #29976 "[k8s.io] V1Job should scale a job up {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/21068/

Failed: [k8s.io] V1Job should scale a job up {Kubernetes e2e suite}

[code]

[2016-08-03 08:04] kargakis commented on #28322
Copying a comment of mine from elsewhere regarding not using named return arguments:

If you have a long function that has multiple return arguments and multiple return sites it becomes really frustrating especially for reviewers because you always need to remember the values you are returning.

[2016-08-03 08:06] chowyu08 opened #29977 "how to config apiserver with https"
Dashboard version: 1.1.0
Kubernetes version: 1.3.0
Operating system: ubuntu14.04
Go version: 1.6.2

kubernetes install
1. git clone https://github.com/kubernetes/kubernetes.git
cd kubernetes
make release
2. deploy it as
http://kubernetes.io/docs/getting-started-guides/ubuntu/
KUBERNETES_PROVIDER=ubuntu ./kube-up.sh
3. deploy dashboard as
KUBERNETES_PROVIDER=ubuntu ./deployAddons.sh

![image](https

[2016-08-03 08:26] kargakis commented on #28378
The 404 flake should be fixed in https://github.com/kubernetes/kubernetes/pull/29484

[2016-08-03 08:34] gmarek commented on #28378
Thanks!

[2016-08-03 08:43] gmarek commented on #29816
@kevin-wangzefeng - I'm going to make you an owner of this test (#29979), as you're an author if github is to be believed.

@fejta FYI: assigning random people to tests doesn't work (as can be seen in this example).

[2016-08-03 09:04] soltysh commented on #29976
Still the same GKE problem #28656.

[2016-08-03 09:04] #29976 closed

[2016-08-03 09:33] kargakis commented on #23211
@krmayankk we first need to add the concept of a failed deployment (see #19343) before proceeding with this. The way it is going to work is:

User sets spec.progressDeadlineSeconds for a Deployment - if there is no progress for that amount of time then the Deployment controller will stop trying to deploy the latest template and the Deployment will be considered as failed.

I guess automatic rollba

[2016-08-03 09:43] jsafrane commented on #29425
*Someone* forgot to update `claim.Status.Capacity` when binding claims. Fix will follow shortly.

[2016-08-03 10:15] kargakis commented on #14512
This is the place where a mid-hook with the Recreate deployment strategy makes sense

cc: @kubernetes/deployment

[2016-08-03 10:25] kargakis commented on #29638
Dupe of https://github.com/kubernetes/kubernetes/issues/29960

[2016-08-03 10:25] #29638 closed

[2016-08-03 10:32] Seth-Karlo opened #29984 "Federated controller manager goes into panic loop on additional clusters"
After deploying two clusters into a federated cluster, the federation-controller-manager goes into a panic loop when trying to edit route53 DNS records:

[code]

cc @kubernetes/sig-cluster-federation

[2016-08-03 10:34] luxas commented on #26093
Summarizing the PATH requirements for kubelet (oh my!):
 - `pidof` in `pkg/kubelet/cm/container_manager_linux.go`
 - `uname -n` in `pkg/util/node/node.go`
 - `mount` and `umount` in `pkg/util/mount/mount_linux.go`
 - `lsblk`, `fsck`, `mkfs` in `pkg/util/mount/mount_linux.go`
 - `nsenter` in a lot of places!
 - `ethtool` in `pkg/kubelet/network/hairpin/hairpin.go`
 - `socat` in `pkg/kubelet/dockert

[2016-08-03 10:41] kargakis commented on #29735
@kubernetes/deployment can somebody triage this?

[2016-08-03 10:49] zhouhaibing089 commented on #29923
People would argue that you can edit it, why can't you read it, given that there is some kind of namespace isolation via RBAC or something else.

Actually I am confused as well, what's the exact use case for secrets and why the base64 encoding is required?

[2016-08-03 10:53] onbjerg commented on #29323
Oh. I understand now. Thank you for elaborating!

[2016-08-03 10:54] mnikolaenko commented on #21949
Try --volume=/var/lib/kubelet/:/var/lib/kubelet:rw,rslave

[2016-08-03 11:07] tolleiv commented on #19332
Deleting the token solved a similar issue for me too. Thanks for sharing!

[2016-08-03 11:13] #26891 closed

[2016-08-03 11:17] gmarek commented on #29064
Created cherry-pick #29985. After it's merged I think we can close this issue.

[2016-08-03 11:41] cusspvz commented on #8313
I don't use JuJu anymore.

But it should be an easy implementation.

[2016-08-03 11:45] cusspvz commented on #8313
Done, because of my limited time, @chuckbutler just need you to check where is the OS detection being made. Tested the file on the PR and it is working.

[2016-08-03 11:53] jsafrane commented on #26093
Not only we need `/bin/mount`, we need all mount utilities like `mount.nfs`, `mount.ceph` and `mount.glusterfs`. Simple `mount(2)` syscall is not enough.

[2016-08-03 12:02] k8s-merge-robot opened #29987 "[k8s.io] Job should scale a job up {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12498/

Failed: [k8s.io] Job should scale a job up {Kubernetes e2e suite}

[code]

Previous issues for this test: #29511

[2016-08-03 12:26] deads2k commented on #29933
@erictune any idea why you'd be seeing this?  https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/client/auth/gcp/gcp.go#L92 to https://github.com/kubernetes/kubernetes/blob/master/vendor/golang.org/x/oauth2/jwt/jwt.go#L81 or https://github.com/kubernetes/kubernetes/blob/master/vendor/golang.org/x/oauth2/internal/token.go#L162 maybe?

[2016-08-03 12:33] w0mbat commented on #6962
@devx Do you think it would be hard to get the [OpenStack Implementation] of LBaaS (https://github.com/kubernetes/kubernetes/blob/4694a6dd7134135ce249ec403882e01a54712c4a/pkg/cloudprovider/providers/openstack/openstack.go#L509) working [here](https://github.com/kubernetes/kubernetes/blob/4694a6dd7134135ce249ec403882e01a54712c4a/pkg/cloudprovider/providers/rackspace/rackspace.go#L456) ?

[2016-08-03 12:45] JorritSalverda opened #29989 "Ignore starting pod cpu usage in horizontal autoscaler"
We're running java applications that use up to 2 vcpu's during start and after that never go above 2% of 1 vcpu. For this I've lowered the cpu request and limit around that 2%. This is fine as hard-capping doesn't seem to affect the large spike in cpu usage at the start, so it still starts up fast.

However when this happens the autoscaler kicks in and in no time I have 10 instead of 3 pods, all s

[2016-08-03 12:58] twiest commented on #15743
@smarterclayton From what I've seen of `kubectl top` (which is admittedly not much), it shows you current usage.

We're more concerned about scheduled usage. We want to know ahead of time that we need to add capacity because the scheduler is close to running out of capacity in one way or another (cpu, mem, etc).

[2016-08-03 13:11] DavidSie opened #29990 "Pods are not running"
Hello,
I want to run Deis 2.
I installed kubernetes and helmc
but all application that I try to run using helmc (others I didn't try) do not start ***Pods***

version of my kubernetes:
[code]
I installed it using this guide https://coreos.com/kubernetes/docs/latest/getting-started.html

my CoreOS version: `CoreOS stable (1010.5.0)`

[code]

[code]

more info may be found here: [deis:workflow issue

[2016-08-03 13:36] gmarek opened #29992 "integration test flake: TestUpdateSelectorToRemoveControllerRef"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29205/kubernetes-pull-test-unit-integration/37505/

[code]

[2016-08-03 14:07] k8s-merge-robot opened #29994 "[k8s.io] Docker Containers should be able to override the image's default commmand (docker entrypoint) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29986/kubernetes-pull-build-test-e2e-gce/51596/

Failed: [k8s.io] Docker Containers should be able to override the image's default commmand (docker entrypoint) [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #29986.

[2016-08-03 14:17] kevin-wangzefeng commented on #29816
@gmarek thanks for reminding, I'm taking look at this.

[2016-08-03 14:31] smarterclayton commented on #28853
Fixed in https://github.com/kubernetes/kubernetes/pull/29847

[2016-08-03 14:31] #28853 closed

[2016-08-03 14:52] kevin-wangzefeng commented on #29816
Found the root cause https://github.com/kubernetes/kubernetes/pull/25584#discussion_r73349738

[2016-08-03 14:56] derekwaynecarr commented on #15743
I think this is a non-scheduling scheduler that runs as a pod on the cluster, watches all nodes, and all pods, and has a REST API to answer queries like: "approximately how many more pods could i schedule with this shape?".  Trying to do a N*N merge of scheduler state in a CLI command feels potentially non-responsive versus a dedicated controller that can do long running WATCH of pods and nodes.

[2016-08-03 15:04] ged15 opened #29997 "loadBalancerSourceRanges does not work on GKE"
Hello!

I am running a cluster on GKE (k8s version 1.3.3) and have the following service definition:

[code]

When I apply this configuration, the source IP range in the created firewall rule is still `0.0.0.0/0`. Am I missing something? The `loadBalancerIP` seems to be applied correctly every time.

[2016-08-03 15:19] brendandburns commented on #29913
@vefimova this is a totally legitimate request, I can definitely see the use case an motivation.  However, as @thockin @dchen1107 and others mention, the complexity of supporting this doesn't justify the implementation.

For now, the approach suggested by @yujuhong and others of having container runtimes per node is probably the simplest solution.  You will lose some amount of utilization gains th

[2016-08-03 15:35] alexbrand commented on #29794
I can take another stab at the implementation of this once we have a better idea of what we want. Missing from the current PR #29821 is deleting related config (as suggested by @erictune)

I initially considered `kubectl config get X` and `kubectl config delete X` (as suggested by @pwittrock), but decided to keep it consistent with the existing `kubectl config get-contexts` command.

[2016-08-03 15:35] gmarek commented on #29816
@kevin-wangzefeng - awesome job! Thanks!

[2016-08-03 15:41] gmarek commented on #28091
This didn't happen in 3 weeks. Possibly fixed but fixed to other SchedulerPredicates tests.

[2016-08-03 15:41] #28091 closed

[2016-08-03 16:02] soltysh opened #29998 "batch/v2alpha1 says it's enabled although it was never enabled"
When running master server I didn't enable `batch/v2alpha1` anywhere explicitly, but if I do `kubectl api-versions` I'll get information that it's enabled, this came up when testing #25816. The problem is that by default the resources in `batch/v2alpha1` are not accessible unless you explicitly enable that group using `--runtime-config` option.

@caesarxuchao any ideas?

[2016-08-03 16:06] soltysh commented on #29998
The other problem with that is that, for some reason `hack/update-swagger-spec.sh`, even though it has `batch/v2alpha1` specified in it, it won't generate proper swagger data for that group.

[2016-08-03 16:10] soltysh commented on #29987
Still the same GKE problem #28656.

[2016-08-03 16:10] #29987 closed

[2016-08-03 16:12] fejta commented on #29970
This will be fixed after merging https://github.com/kubernetes/test-infra/pull/330

[2016-08-03 16:31] yujuhong commented on #27097
https://github.com/kubernetes/kubernetes/pull/29963#issuecomment-237269565

[2016-08-03 17:04] girishkalele commented on #29759
@ChrisMcKenzie

There are several interesting datapoints here.

- The curl to the first nginx service pauses for 2 minutes when the second RC is scaled up to 4 replicas.
- This does not happen on a 1 minion cluster but on a four node cluster. Was the RC able to scale to 4 replicas in the 1 minion cluster or it just had no resources to schedule which prevented the issue from showing up ?
- This doe

[2016-08-03 17:16] fabioy commented on #29247
Definitely seeing this on my Mac. Can't build HEAD due to this issue. Tried rebuilding the "kube-dev" Docker machine as well, but still get same permission error.

[2016-08-03 17:19] euank commented on #29946
I personally think that the job of doing a "rolling update" of pods (effectively what's proposed here) should and already does live a level higher. I'd much prefer a way to mark these pods as "in need of update/restart", and then provide a tool that, at a cluster level, can institute such a rolling restart.

Is here a reason to not directly move pods into the cgroup without a kill/restart? I can i

[2016-08-03 17:23] euank commented on #29579
@ncdc in this case the "runtime" would be the `docker-shim` package within the kubelet process, which would hold the slave end of the pty and then execute the ResizeExecTTY call against docker.

[2016-08-03 17:33] euank commented on #26093
the rkt runtime does require systemd on the host currently, @luxas. There's no immediate plans to change it, but also no hard reason it couldn't be changed.

cc @aaronlevy @pbx0

[2016-08-03 17:33] timstclair commented on #29932
I think this is specific to the new GCI test.

[2016-08-03 17:41] vishh commented on #27097
This option will require cAdvisor understanding all runtimes and pods as a first class concept. The way we handle docker and rkt is not extensible to many other runtimes IMHO. If we go with this approach, we need to invest in cAdvisor to make it a general purpose metrics source for Kubelet.

I still think that having the runtime link in appropriate cAdvisor libraries to expose system metrics for c

[2016-08-03 17:41] bprashanth opened #30006 "Investigate logs2kafka + kafka as a ES + fluentd replacement"
docker -> logs2kafka -> kafka -> Various data sinks like ES, S3, write to disk etc

The win here is getting json into kafka, this allows us to fanout to various different backends each with their own strengths (eg: kibana for log analysis). Kafka itself gives us a flexible, scalable middle tier that would enalbe things like a sql interface (https://www.pipelinedb.com/blog/sql-on-kafka).

Forking f

[2016-08-03 17:42] euank commented on #29913
I'll throw in that the rkt runtime integration can experimentally support this now via setting an annotation of `rkt.alpha.kubernetes.io/stage1-name-override: coreos.com/rkt/stage1-kvm` on pods you want to run in VMs, leaving the rest to run as regular linux containers. This is the existing implementation of @dchen1107's answer :smile:

[2016-08-03 17:55] nikhiljindal commented on #29984
Seems like a bug in the DNS code
`&runtime.TypeAssertionError{interfaceString:"dnsprovider.ResourceRecordSet", concreteString:"*route53.ResourceRecordSet", assertedString:"route53.ResourceRecordSet", missingMethod:""} (interface conversion: dnsprovider.ResourceRecordSet is *route53.ResourceRecordSet, not route53.ResourceRecordSet)`

cc @quinton-hoole

[2016-08-03 17:56] sstarcher commented on #29324
I may of just ran into the same problem without doing any funny work.  I have 2 separate pods that mount 2 separate aws ebs volumes.  Currently on the instance only 1 volume shows up as mounted, but in AWS EC2 both volumes are attached to the instance.  Both pods have the same data volume mounted inside.

Kubernetes 1.3.4
* Pod A has a persistent volume claim and mounts ebs volume A
* Pod B has a

[2016-08-03 18:00] vishh commented on #29946
The recommendation is for users to drain a node, and restart it, before enabling pod level cgroups. This feature is just a fallback, to ensure that kubelet continues to function in a deterministic manner.

It is not possible to move cgroups to new hierarchies. All the containers will have to be restarted.

Given that this is just a fallback feature, I'd prefer keeping it simple. If we decide to fa

[2016-08-03 18:01] lavalamp commented on #29897
Makes it hard to tell if it's working... ;)

On Tue, Aug 2, 2016 at 11:25 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-08-03 18:01] vishh commented on #29946
@dubstack It is imperative that the recommendation to drain the node prior to enabling pod level qos is mentioned in the proposal clearly!

[2016-08-03 18:01] fejta opened #30009 "e2e PR jobs failing -- out of cpu/address quota"
You'll see something like this: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30008/node-pull-build-e2e-test/16986/

[2016-08-03 18:01] ncdc commented on #29579
@euank ok, trying to reason through this... so `kubectl` receives `SIGWINCH` and sends a message to the Kubelet that the container's terminal needs to be resized to 100x50. Does the Kubelet then call `term.SetSize(ptyFD, 100x50)`? How can we, in Go, react to the `term.SetSize` call and a) for Docker, call `ResizeExecTTY`, b) for rkt, do whatever is appropriate for rkt, etc?

cc @mrunalp

[2016-08-03 18:04] ncdc commented on #26093
We're looking at moving `socat` to the pod infra image eventually.

[2016-08-03 18:04] fejta commented on #30009
Cleaned up some old resources so this should stop failing, will investigate why it happened later (there's a bunch of stuff left over from early July)

[2016-08-03 18:05] fabioy commented on #29247
Figure out a workaround -- use Docker for Mac. I had Docker Machine on my Mac, so uninstalling it and using Docker for Mac (after resizing it to use 4 Gig of RAM) worked.

[2016-08-03 18:05] #29247 closed

[2016-08-03 18:06] DirectXMan12 commented on #27097
I don't think you can safely have a default like that, since not all runtimes are supported by cAdvisor (and there could always be runtimes that cAdvisor doesn't know about).

I think separating the MetricsService from the choice of runtime is missing that metrics gathering is somewhat closely tied to the technologies behind the runtime.  Sure, there might be a single runtime that could support mu

[2016-08-03 18:15] wonderfly opened #30010 "Test tarball of 1.3.4 doesn't have test artifacts"
`hack/` and `test/` are not in the test tarball. They were present in 1.3.3. Have they been moved or they are just missed in this release?

[code]

[2016-08-03 18:18] #26257 closed

[2016-08-03 18:19] Random-Liu commented on #29932
I've seen several different kinds of errors on gci.

All pods pending: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/7586

Faild to prepull image: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/7603

Can't find etcd: This issue.

[2016-08-03 18:24] fabioy commented on #30010
@david-mcmahon Any ideas on this one?

[2016-08-03 18:31] chuckbutler commented on #8313
Brilliant, thanks for the contribution @cusspvz, I'll take a look later today/tomorrow and add any additional sugar if required.

Again, thanks for the effort here! Especially considering you dropped using juju as your path to delivering Kubernetes. That's above and beyond.

[2016-08-03 18:31] david-mcmahon commented on #30010
Not off the top of my head.  I'll investigate...

[2016-08-03 18:41] lavalamp commented on #28735
...or not. Closing this issue-- if the previous instances happen again a fresh issue will be less confusing.

[2016-08-03 18:41] #28735 closed

[2016-08-03 18:44] mtaufen opened #30012 "Jenkins GKE smoke e2e test failure"
I'm seeing the Jenkins GKE smoke e2e tests fail on these PRs:
- https://github.com/kubernetes/kubernetes/pull/29999
  + Log: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29999/kubernetes-pull-build-test-e2e-gke/5267/
- https://github.com/kubernetes/kubernetes/pull/29216
  + Log: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29216/kubernetes-pu

[2016-08-03 18:45] mtaufen commented on #30012
/cc @ronnielai

[2016-08-03 18:45] fejta commented on #30009
```gcloud compute -q instances delete $(gcloud compute instances list --format='value(name,creationTimestamp)' --project=kubernetes-jenkins-pull | grep tmp | grep -v 2016-08 | cut -f 1) --project=kubernetes-jenkins-pull```

[2016-08-03 18:47] Dmitry1987 opened #30013 "Wrong resolv.conf if pod created after service"
Totally weird issue, I'm on AWS, k8s 1.3.
when I create pods and there are no services yet, networking in pod works ok, they can access external URLs.
When there is a "service" deployed (in LoadBalancer mode, or NodePort too) already that **points to label** of those pods, and THEN I create pods themselves (create deployment), that the pods boot with bad resolv.conf! Because the "nameserver" writt

[2016-08-03 18:55] xiaoke94539 opened #30015 "Controller and scheduler not able to elect leader"
Hi,

I have 1 kubernetes cluster with 2 nodes, both nodes runs controller and scheduler with "leader-elect" set to "true".  I see in the logs for the kube-controller-manager on both nodes are filled with message:

E0803 18:27:20.943967       1 leaderelection.go:318] err: Operation cannot be fulfilled on endpoints "kube-controller-manager": the object has been modified; please apply your changes to

[2016-08-03 19:00] gmarek commented on #30012
Same here: #29996

[2016-08-03 19:08] abrarshivani commented on #29028
@saad-ali @abithap I have started working on it.

[2016-08-03 19:14] kichik commented on #28497
We had the same issue. Below are the commands we used to resolve it, in case someone else gets this issue.
[code]

[2016-08-03 19:34] freehan commented on #29039
Will move KubeMarkMasqChain management into kubelet.

[2016-08-03 19:40] lavalamp commented on #29975
If it's exposed in JUnit output, then the bot should be making issues for it.

[2016-08-03 19:44] lavalamp commented on #28295
@ixdy can you please say what the build error was in run 15286? pkg/client/record failed to build, it claims, but the output of the failed build is not included anywhere that I can see. Can you figure out why and fix it, or delegate to someone?

[2016-08-03 19:46] saad-ali commented on #29548
@gbergere Could you share the complete `/var/log/kubelet log` from the node where the pod is failing to start, also the `/var/log/kube-controller-manager.log` from the master. I'd like to see exactly where/why the mount is failing. Feel free to email me if you don't want to share publicly.

Also, if you get the chance, give v1.3.4 a try, there were quite a few storage fixes in that release (too ea

[2016-08-03 19:50] gmarek commented on #30012
I got the second failure in the row in #29996 - assuming it's a regression and bumping to P0.

[2016-08-03 19:51] deads2k opened #30016 "use shared caches and listwatchers where possible"
We now have an easy interface to get access to a `SharedIndexInformer` that already has the common types available and more can be added: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/framework/informers/factory.go#L34 .  You can see examples of use here https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L250, here https://github.com/kuberne

[2016-08-03 19:52] girishkalele commented on #28497
See https://github.com/kubernetes/contrib/pull/1427 which will add auto scaling based on number of cores in the cluster.

[2016-08-03 19:55] #29816 closed

[2016-08-03 20:02] spxtr commented on #30012
Fixed in #30008, please reopen if it reoccurs.

[2016-08-03 20:02] #30012 closed

[2016-08-03 20:16] ixdy commented on #28295
The test failed due to a data race:
[code]

There's a known bug in Go in that it doesn't fail test cases when the race detector trips: https://github.com/golang/go/issues/15972

It might be fixed in time for Go 1.8 ...

[2016-08-03 20:16] mbruzek opened #30017 "The kubedns templates need to have a variable for architecture."
The file named `skydns-rc.yaml.base` has hard coded "amd64" on the architecture for the dns containers. It appears the release process builds the containers for other architectures (ppc64le, and arm). These base templates are therefore not flexible and incorrect when running on systems other than amd64 architecture.

I propose we add an "__ARCHITECTURE__" string to the dns ReplicationController de

[2016-08-03 20:17] k8s-merge-robot opened #30018 "[k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON NodeAffinity setting as a string in the annotation value work {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1852/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON NodeAffinity setting as a string in the annotation value work {Kubernetes e2e suite}

[code]

Previous issues for this test: #29816

[2016-08-03 20:18] ixdy commented on #29975
It's not exposed in junit due to https://github.com/golang/go/issues/15972. :(

[2016-08-03 20:18] lavalamp commented on #28295
oh wow I must not have gotten enough sleep. You're right, it's a test fail not a build fail. Now the question is why the bot thought there was no junit when clearly there is.

[2016-08-03 20:19] ixdy commented on #28295
There is junit, but there are no junit failures, again due to the Go bug.

[2016-08-03 20:20] smarterclayton commented on #14512
Yes, that's what mid hooks are primarily geared for.

An open question is how hooks might interact with petsets as well.  As
part of PetSet we've been discussing how membership changes are
signaled to the cluster, but in an update scenario there will need to
be an orchestrated series of steps (some of which require the
processes to be stopped).  So I would argue that the general use case
for both

[2016-08-03 20:22] david-mcmahon commented on #30010
If you look at all the tarballs for that release. you'll notice one doesn't look like the other ones.

[code]

That `kubernetes-test.tar.gz` isn't the tarball that was released.  It has been updated.  We store the complete build and release directory after the release as well and it shows the actual timestamp and size of the released one:

[code]

How `kubernetes-test.tar.gz` got updated?  That's

[2016-08-03 20:28] ixdy commented on #28295
x-ref #29975 for data race

[2016-08-03 20:29] #28295 closed

[2016-08-03 20:29] ixdy commented on #29975
Lots of failures in #28295,  probably all this bug.

[2016-08-03 20:33] moander opened #30019 "kubectl set-context optional name suggestion"
Common tasks like default namespace swapping is not straight forward using kubectl.

If NAME was optional one could change the current context like this:
[code]

The current docs suggest this procedure to change the default namespace:

[code]

[2016-08-03 20:42] lavalamp commented on #28295
Argh. The data race doesn't cause a test failure? :/

[2016-08-03 20:43] lavalamp commented on #28295
Oh I see you just said that, haha.

[2016-08-03 20:43] #29383 closed

[2016-08-03 20:43] smarterclayton commented on #15743
Otoh for small ad hoc clusters (what most people have) the tool is a
good first step to validate the idea, and a controller is just a fancy
CLI tool

[2016-08-03 20:45] lavalamp commented on #29975
Yeah this seems to be happening a lot. Raising priority.

[2016-08-03 20:46] #29990 closed

[2016-08-03 20:54] edsiper commented on #30006
Note that Fluentd already supports Kafka, so if the goal is to replace ES at some point a Fluentd configuration should be enough.

[2016-08-03 20:56] saad-ali commented on #29617
@boydgreenfield No problem! And I'd love to see the 1.2 logs as well if you're experiencing the issue on both and still have access to them.

[2016-08-03 21:00] timothysc opened #30025 "Bulk deletes are resource intensive on caches."
We have a series of tests that fill a cluster, settle, then bulk delete using namespaces.

This bulk delete is very memory intensive and expensive on the api-server.  The profile of the operation shows a large spike in memory, which is likely due to how we cache.

![image](https://cloud.githubusercontent.com/assets/169553/17381654/98bceb7c-5992-11e6-8431-719c2379049c.png)

By contrast etcd profile

[2016-08-03 21:00] bprashanth commented on #30006
The goal I think is to improve the stability of our logging pipeline, while supporting a more flexible core. On cloudproviders, we offload straight to some cloud service so scale isn't an issue. I don't think we've actually tested clusters that need more than 2 ES shards.

[2016-08-03 21:01] a-robinson commented on #8001
cc @piosz @fgrzadkowski

[2016-08-03 21:02] a-robinson commented on #8001
@igorpeshansky

[2016-08-03 21:10] bprashanth commented on #29855
I believe if we wanted to fix this we need to dereference claims instead of just plain volume source: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L121

[2016-08-03 21:14] mtaufen commented on #30012
Great, thanks for fixing!

[2016-08-03 21:24] kfox1111 commented on #29607
What about a templatemap type? Similar to config map, but can pull data from volumes associated with the pod like the downward api, secrets, and other configmaps?

[2016-08-03 21:28] euank commented on #29946
@vishh can't you create the new hierarchy and write the Pid associated with each container to `${cgroupPath}/tasks`?

Regardless so long as the recommendation is clear then I have fewer concerns.

[2016-08-03 21:29] MHBauer commented on #26210
I hypothesize that all the future failures of this since https://github.com/kubernetes/kubernetes/pull/28850#issuecomment-235499688 will be in the *0th* try of an access. This is because the change linked runs the tests in rounds in sequence (0, 1, 2, etc). If the first access succeeds, all following accesses should succeed.

If so, this could possibly be solved by waiting for all of the first rou

[2016-08-03 21:30] #30010 closed

[2016-08-03 21:33] MHBauer commented on #26210
Another note, it does seem like the failure is down from multiple (3 or 4) failures a day, to about once a day. Not sure what that is correlated with.

[2016-08-03 21:34] pmorie commented on #29607
@nebril I'll try to dig the discussion up soon.  I think I made a run at coding it, cannot remember exactly.

[2016-08-03 21:38] kfox1111 commented on #29297
Just upgraded. Havent done any rolling upgrades yet, but am seeing a bunch of:

Aug 03 14:33:36 cn1.xx.gov kubelet[2444]: I0803 14:33:36.616949    2444 reconciler.go:254] MountVolume operation started for volume "kubernetes.io/configmap/172d2df0-5675-11e6-ba63-a0369f43edd2-n1" (spec.Name: "n1") to pod "172d2df0-5675-11e6-ba63-a0369f43edd2" (UID: "172d2df0-5675-11e6-ba63-a0369f43edd2"). Volume is a

[2016-08-03 21:52] smarterclayton commented on #30025
We have to allocate several very, very large objects in memory (pod
list slice), and then immediately throw them away.  Suspect list
paging over etcd is the real solution (batch load the list in groups
of 500), but some of the allocation optimizations @xiang90 was
suggesting (looking at the maps we use on pods which are 20-40% of
total object size) can help.  Also versioned client in controller
wo

[2016-08-03 21:53] wonderfly commented on #30010
To avoid this from happening again, maybe the worth locking down the write access to that bucket, and setting up access logs?

[2016-08-03 21:55] kfox1111 commented on #29297
Looks like that may be intentional as per the discussion in:
https://github.com/kubernetes/kubernetes/issues/29059

[2016-08-03 21:57] caesarxuchao commented on #29975
I thought 28319 was reverted but it's not. I'll revert it.

[2016-08-03 21:58] david-mcmahon commented on #30010
@zmerlynn, I believe you had tinkered in this area recently.  Is this something that's done or easy or set up?

[2016-08-03 21:58] vishh commented on #29762
Disk resources are managed differently across distros. Have a look at https://github.com/kubernetes/kubernetes/issues/24677 and kubelet evictions. Evictions will prevent the root partition from being full in the first place. #24677 will help with restricting the log usage of individual containers.

[2016-08-03 22:01] wonderfly commented on #30010
GCS access logs: https://cloud.google.com/storage/docs/access-logs

[2016-08-03 22:02] bprashanth opened #30027 "Allow sharing RDB volumes as read-only"
The rdb docs state:
[code]

But it looks like we disallow this in the scheduler: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L121

This would be consistent with how we handle gce volumes, is there a technical limitation why this isnt possible? or did we just misunderstand what's allowed (please clarify docs if this is the case)?

I'd

[2016-08-03 22:04] zmerlynn commented on #28591
The `kubernetes-e2e-gce-master-on-cvm` build is broken because of this bug. Please prioritize this.

[2016-08-03 22:06] lavalamp commented on #29638
BTW, if you're hitting this, it means you have deployments with overlapping label selectors, which is going to cause you problems elsewhere.

[2016-08-03 22:07] lavalamp commented on #29960
This is triggered by deployments with overlapping label selectors, which are going to cause problems elsewhere, too. But at least we shouldn't crash.

[2016-08-03 22:08] #29190 closed

[2016-08-03 22:10] lavalamp opened #30028 "Deployment controller shouldn't hot-loop-fail on overlapping deployment selectors"
If you make two deployments with overlapping label selectors, such that they will find each other's replica sets, deployment controller's math stops working correctly and it spews messages like `Error syncing deployment default/xxxxxxxxx: Deployment.extensions "xxxxxxxxx" is invalid: status.unavailableReplicas: Invalid value: -20: must be greater than or equal to 0"` many times per second.

This s

[2016-08-03 22:11] bprashanth commented on #28591
Suggest not using petset till we have cluster shutdown sorted out, or meticuously deleting all resources from kube-down without relying on order of shutdown of controllers/namespace etc (you need to continue deleting pd like we previously did).

[2016-08-03 22:14] caesarxuchao commented on #29975
golang 1.6 doesn't fix the race: https://github.com/golang/go/blob/release-branch.go1.6/src/testing/testing.go#L536-L538

[2016-08-03 22:14] mwielgus opened #30030 "Create temporary workaround for missing cluster name in object meta."
To be reverted once #28921 is merged.

Ref: #29347

[2016-08-03 22:14] janetkuo commented on #30028
@kubernetes/deployment

[2016-08-03 22:20] zmerlynn commented on #30010
I have the access logs already (and @wonderfly, that's not it - logs for Google owned projects are slightly special).

That bucket is very locked down already.

[2016-08-03 22:24] Random-Liu commented on #29633
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29807/node-pull-build-e2e-test/17037/

[2016-08-03 22:24] zmerlynn commented on #30010
One thing you can do without even access logs is look at the versioning:
[code]

So something definitely pushed it contemporaneously with the rest, and something else followed up much later. I'm investigating.

[2016-08-03 22:26] janetkuo commented on #30028
To clarify the problem - When there are two deployments with overlapping label selectors, both deployments can see all pods (d1 can see p1 and p2) and all replica sets (d1 can see rs1 and rs2), but each deployment's replica set can only see the pods the replica set created (rs1 can only see p1, but not p2), and that messed everything up.

[2016-08-03 22:40] bgrant0607 commented on #29126
Closing this as a dupe.

[2016-08-03 22:40] #29126 closed

[2016-08-03 22:44] ravilr commented on #30027
https://github.com/kubernetes/kubernetes/pull/29622

[2016-08-03 22:45] bprashanth commented on #30027
closed as dupe of https://github.com/kubernetes/kubernetes/issues/27725

[2016-08-03 22:45] #30027 closed

[2016-08-03 22:52] caesarxuchao commented on #29975
Sent #30033.

[2016-08-03 22:52] vishh opened #30034 "Add new labels to reflect the state of a PR"
PRs either need attention from reviewer(s) or author(s). It will be helpful for both authors and reviewers if the state of the PR is explicit.

As of today, it is difficult to say if a PR has been reviewed or if the author has addressed all comments.

One way to address this will be for reviewers to close PRs that need attention from authors before being merged. This approach has the downside of r

[2016-08-03 23:01] nikhiljindal commented on #28602
cc @kubernetes/sig-cluster-federation

[2016-08-03 23:04] erictune commented on #29933
No idea about this.

[2016-08-03 23:06] bgrant0607 commented on #30034
@vishh This is the plan.

Workflow description in progress:
https://docs.google.com/document/d/194MGgJHlm4ovXtvzvkjzzBZG_v47d95nsjuuaUe1Log/edit?ts=57929ed1#heading=h.h8u91v47whwa

Info about the PR dashboard:
https://groups.google.com/d/msgid/kubernetes-wg-contribex/CABKCOGkqSaJ99WsKWr1YnTdE7qNQnsvNOUc8Zd%2Bctq2VCzp9LQ%40mail.gmail.com

Will add this to the roadmap, if it's not a pure dupe:
https

[2016-08-03 23:15] euank commented on #29633
This also flakes a lot more in the e2es we run on CoreOS and I'm not sure why it's exacerbated so much in that configuration.

[2016-08-03 23:26] yujuhong commented on #27097
Do not disagree with that (cadvisor not being extensible). If any new runtime integration requires changes in the cadvisor codebase, it'd be a big no to me. Some questions
- What runtime-specific knowledge does cadvisor need for core container metrics (cpu, mem)? Assume pods do not need to be first class concept and kubelet can map container to pods itself.
- For certain things (imageFS path), cou

[2016-08-03 23:26] pwittrock commented on #29794
kubectl config get-X sgtm

[2016-08-03 23:31] fejta commented on #29970
I'm going to mute this absurdly noisy issue in favor of:
https://github.com/kubernetes/kubernetes/issues/28514
https://github.com/kubernetes/kubernetes/issues/28399

[2016-08-03 23:31] yujuhong commented on #27097
It doesn't have to be a "default". We can also make it an explicit decision that user has to specify.

I agree that metrics are more tightly coupled with the runtime, but as you said, it's also possible for gatherer to support multiple runtimes. It's possible that the runtime doesn't even know where the gatherer is.
I don't see much difference of setting --metrics-endpoint explicitly and asking th

[2016-08-03 23:55] zmerlynn commented on #28591
If PetSet is broken without a shutdown controller, can we back out the influxdb change?

[2016-08-03 23:56] kfox1111 commented on #24957
What about a more generic action kind of thing.... Then users could register other actions that they may want to preform on containers too.

something like:
kubecli action [podname] <-c optional_container_name> [actionname] <optional args>

and in a containerSpec:

actions:
  signal:
     exec:
         command:
           - kill
           - Ref: args
           - 1
   debuglogging:
     exec:

[2016-08-03 23:59] jingxu97 commented on #29297
@kfox1111, yes, it is intentional. But we are working on updating the logs
to avoid confusion. THanks!

On Wed, Aug 3, 2016 at 2:56 PM, kfox1111 <notifications@github.com> wrote:

--
- Jing

[2016-08-04 00:21] yujuhong opened #30039 "Document what docker image (Dockerfile) features we support"
For example, we don't support HEALTHCHECK.

We support STOPSIGNAL when using docker daemon (#30051).

/cc @thockin @kubernetes/sig-node

[2016-08-04 00:25] timstclair commented on #27097
The issue is that cAdvisor currently supports running standalone outside of Kubernetes. As long as we support that usecase, we shouldn't tightly couple Kubernetes concepts.

I lost you... Why do we want the kubelet to gather metrics from an endpoint? Isn't that the purpose of the ContainerRuntimeInterface (to provide methods / endpoints)?

[2016-08-04 00:39] yujuhong commented on #27097
We provide the grpc implemention (i.e., RuntimeService and ImageManagerService) through endpoints. The comment was just saying that instead of letting runtime say "I don't support some of the grpc calls in RuntimeService, we can choose to define another endpoint.

I didn't mean Kubernetes concepts. All I need is a container ID and the cpu/mem stats associated with it.

[2016-08-04 00:42] kfox1111 commented on #23174
Just my 2 cents as an op that has observed other ops.

Config management tooling is a very religious thing.
As soon as an op with config management training sees a config management tool mentioned that isn't of their particular chosen camp, they stop looking at the solution provided and start looking for a different one. :/

I really like the idea of using kubernetes to progressively enhance itsel

[2016-08-04 00:42] satheessh commented on #28449
Got same error for version 1.3.4 .

Below is salt log.

Unpacking docker-engine (1.11.2-0~wily) over (1.9.1-0~wily) ...
dpkg: dependency problems prevent configuration of docker-engine:
 docker-engine depends on libltdl7 (>= 2.4.2); however:
dpkg: error processing package docker-engine (--install):
 docker-engine

[2016-08-04 00:54] kevin-wangzefeng commented on #30018
I've checked all the failures above, they were running on the code version that the fix (#29996) was not merged yet.

[2016-08-04 01:11] dchen1107 commented on #27097
Ideally, none of the core metrics should get from the container runtime at all. The core metrics I am referring here is the set of metrics required for admission control / QoS controlling including 1) the initial feasibility-checking done by the default scheduler and Kubelet 2) the eviction done by Kubelet when there is a resource pressure. In this case, the set of core metrics is include the foll

[2016-08-04 01:34] vishh commented on #27097
@dchen1107 The summary matches our offline discussions. Hence LGTM!

[2016-08-04 01:50] boydgreenfield opened #30042 "Hanging in postStart hook can cause pod to get stuck in ContainerCreating state with no logs/event info"
We're continuing to observe 5-10% failure rates in creating pods, with them hanging in `ContainerCreating` state. These are 2-container pods with an `postStart` lifecycle hook, but I don't believe that's implicated here (no problems in the `kubelet.log`). One other detail here is that pods stuck in `ContainerCreating` do not appear to respond to a default `delete` command (but do terminate with th

[2016-08-04 01:55] #29992 closed

[2016-08-04 02:09] MHBauer commented on #28695
Sat with @ardnaxelarak and tried to debug case (1) for a few hours.

For this case, the `date` command executes and finishes during one of the pod waiting loops in `pkg/kubectl/cmd/run.go#waitForPodRunning()`.
WaitForPodRunning returns status.Succeeded to handleAttachPod() which decides to do a `Logs` operation on the pod, as there is no place to attach.
Somehow (we're not sure of the details, and

[2016-08-04 02:27] #28625 closed

[2016-08-04 02:38] boydgreenfield commented on #30042
On further investigating this issue, it _does_ appear that our containers are hanging due to the `postStart` lifecycle hook as of `1.3.4` (though on prior 1.3.x versions we had this problem w/o `postStart` hooks).

Investigating (1) how to make our `postStart` hook more robust; and (2) where to find logging information for it...

[2016-08-04 02:56] CodeJuan commented on #19332
Thanks, the solution worked for me :smile:

[2016-08-04 03:23] brendandburns opened #30046 "Jenkins e2e googleapi failure:"
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29951/node-pull-build-e2e-test/17022/

[2016-08-04 03:24] doniwan opened #30048 "Pod not starting while using kubelet with Manifests files and apiserver."
I use kubelet to start everything, including etcd, apiserver, controller manager, user pods, etc..

While startting apiserver, nodeInfo of  kubelet will be changed  from standalone mode to nodeinfo from apiserver. Then nodeinfo will become empty for a while ( I regist node manually ). If I add manifiles at this time, pod whill not start because of Podcount limit. and it will not be started forever

[2016-08-04 04:26] #30009 closed

[2016-08-04 04:26] AdoHe commented on #30028
[code]
is it possible to avoid overlapping label selectors?

[2016-08-04 04:42] mikebrow commented on #28695
Did some digging around tonight it looks like a polling design is used to finding out if/when the container is running, and the implementation has quite a few sleeps in it. One 2second sleep is hard coded in pkg/kubectl/cmd/run.go waitForPodRunning(). The other sleeps are I believe on the kublet side in the prober where there is an initialDelaySeconds (default 2 for v1) and periodSeconds (default

[2016-08-04 04:47] thockin commented on #30039
I was thinking more about healthcheck.  Especially in a CRI world, could we
make "healthiness" be a responsibility of the plugin?  Then this could work
(as awkward as it is).  Anyway, just an idea.

On Wed, Aug 3, 2016 at 5:22 PM, Yu-Ju Hong <notifications@github.com> wrote:

[2016-08-04 04:52] thockin opened #30051 "Support Docker STOPSIGNAL"
Docker added STOPSIGNAL to let container images change which signal is delivered to kill the container.  Should we support that?  It would be bad if an image expected SIGUSR1 and we sent SIGTERM.

They support ints or strings.  I think we should only support strings.

[2016-08-04 04:59] dchen1107 commented on #30048
Have you tried to config Kubelet with --max-pods to override the default value for AllowedPodCount?

[2016-08-04 05:01] thockin-cc commented on #24957
I don't think the extended actions are very attractive right now.  Given
how complex it is to do imperative well, and the pushback we're getting
(rightly), I think less is more.

Can we instead find ways to NOT do this (I know I opened it, so I am sort
of shooting myself down :)?  It's such a can of worms, and I am worried
that we keep adding floors to the building, when we really should be
reinfo

[2016-08-04 05:05] dchen1107 commented on #29989
cc/ @fgrzadkowski

[2016-08-04 05:10] bprashanth commented on #24957
just watch your own pod annotations and hup the peer container once we upgrade docker to 1.12

[2016-08-04 05:12] dchen1107 commented on #29972
This sounds like a bug introduced by init containers. Thanks for such detail issue reports and will try to reproduce it. cc/ @smarterclayton @erictune

[2016-08-04 05:13] thockin commented on #29855
Also see https://groups.google.com/d/msgid/kubernetes-dev/5388741470411967428%40unknownmsgid wherein Clayton, without prompting, agrees with me (buy a lottery ticket, this is a rare event!)

[2016-08-04 05:14] dchen1107 commented on #29972
Just saw a flake test #29954, which might have the same cause as this issue.

[2016-08-04 05:20] dchen1107 commented on #29910
Thanks @sjenning for triaging the issue and @rootfs for verifying the fix. Close the issue.

[2016-08-04 05:20] #29910 closed

[2016-08-04 05:21] dnascimento commented on #24876
It works and removes the docker-proxy.
On kube-up.sh, set NETWORK_PROVIDER=kubenet
That's it.

[2016-08-04 05:32] kevin-wangzefeng commented on #30018
Seems that using relative path is not correct here.
And I checked the filepath that `kubectl create -f` uses in `test\e2e\examples.go`, `test\e2e\ingress.go` and `test\e2e\petset.go`, they are still using repoRoot to generate make filepath. So I'm going to revert the change that #25584 did in scheduler_predicates.go
@ixdy @jayunit100

[2016-08-04 05:49] thockin commented on #28667
There are two issues here.

1) If/how CNI should handle tap devices

2) which side of the CRI boundary should networking go into

I think #1 can still be debated

I think I have a strong preference that #2 be "on the plugin side", unless someone can show me why this is really REALLY bad.

[2016-08-04 06:03] k8s-merge-robot opened #30052 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/15305/

Run so broken it didn't make JUnit output!

[2016-08-04 06:15] fejta commented on #29970
Somehow I fixed this.. It has to do with our overriding `HOME` but go ignoring this: https://github.com/kubernetes/kubernetes/blob/fa95788e560de7575c851d87d76c664b3753a7a6/vendor/golang.org/x/oauth2/google/sdk.go#L162 and the credentials in `$HOME/.config/gcloud` being invalid on the master node.

We should probably resolve this by setting:  `GOOGLE_APPLICATION_CREDENTIALS`

[2016-08-04 06:15] #29970 closed

[2016-08-04 06:16] fejta commented on #28514
Dup of https://github.com/kubernetes/kubernetes/issues/29970

[2016-08-04 06:16] #28514 closed

[2016-08-04 06:16] fejta commented on #28399
Somehow I fixed this.. It has to do with our overriding `HOME` but go ignoring this: https://github.com/kubernetes/kubernetes/blob/fa95788e560de7575c851d87d76c664b3753a7a6/vendor/golang.org/x/oauth2/google/sdk.go#L162 and the credentials in `$HOME/.config/gcloud` being invalid on the master node.

We should probably resolve this by setting:  `GOOGLE_APPLICATION_CREDENTIALS` per https://developers.

[2016-08-04 06:16] #28399 closed

[2016-08-04 06:26] nhlfr commented on #24957
@kfox1111 what is the point of your idea? You can already exec commands in the containers, so this functionality already exists.

The reason why we want to "hide" signals or HTTP requests under the concept of "notification" we're discussing currently, is that:

* we don't want to allow to send every signal possible everywhere, we rather prefer to define signals which can be used per container
* in

[2016-08-04 06:37] wojtek-t commented on #30025
The real reason is that what bulk deletion does is:
- "list all objects of a given type"
- "remove them one by one from etcd"
During the whole operation we store all of these objects in memory.

I don't think versioned client in controller would help here, because this is done in the apiserver.

I agree that list paging over etcd would help, but the real problem is lack of possibility to remove th

[2016-08-04 06:38] feiskyer commented on #28667
@thockin For 2), networking could be handled totally inside plugin for container-based runtimes, but it is not true for hypervisor-based runtimes.

For hypervisor-based runtimes, plugin should cooperate with runtime to setup networking for Pod. The reason is network plugins don't know what hypervisor the Pod is running on and they are not expected to interact with hypervisor directly (so does kube

[2016-08-04 06:39] wojtek-t commented on #29989
@jszczepkowski @piosz @mwielgus

[2016-08-04 06:50] doniwan commented on #30048
@dchen1107  Thanks for your reply.
I default value of --max-pods is 110.  I have not try this, and I think it is not the problem. 110 is enough~

[2016-08-04 07:05] lojies commented on #28707
this has been fixed in
[https://github.com/kubernetes/kubernetes/commit/b2f8ee4f122a3130b10f2f1bea64d96361f6cf81]

[2016-08-04 07:18] cheld commented on #4869
What is the status of this issue?

In my understanding:
- shared mounting is working
- fs driver is still a problem. Maybe containerizing https://github.com/kubernetes/kubernetes/issues/4869#issuecomment-213581040. Is there a separate issue or PR?
- garbage collection is open (I have not checked myself) https://github.com/kubernetes/kubernetes/issues/14403

Anything else?

[2016-08-04 07:26] lukemarsden commented on #26093
@luxas, that would be awesome. We'd like to add a pre-flight check to initial cluster installation in @kubernetes/sig-cluster-lifecycle

Relatedly, do we have an idea about which versions of Docker are recommended, and also which kernels are suitable?

[2016-08-04 07:32] luxas commented on #26093
Yes, I'm a part of sig-cluster-lifecycle, and have worked quite a lot on tasks related to it, just couldn't make it to the meetups (yet!)

v1.4 will probably support 1.10, 1.11 and 1.12 with the "three dockers rule", but I haven't got this confirmed yet.

I don't know a specific linux kernel number that's required, but have got things ~working on a 3.10 kernel.
(Didn't test all features though, an

[2016-08-04 07:44] #28729 closed

[2016-08-04 07:45] #29222 closed

[2016-08-04 07:45] #28730 closed

[2016-08-04 07:47] #29753 closed

[2016-08-04 07:47] #28336 closed

[2016-08-04 07:48] #28413 closed

[2016-08-04 08:16] lukemarsden commented on #26093
Awesome, thanks @luxas! As soon as you have some code in `pkg/kubelet/validator` I'd be happy to review and/or test it.

@bgrant0607 do you happen to know which dockers 1.4 is likely to support, and also which kernel versions cause problems for us?

[2016-08-04 08:17] #29827 closed

[2016-08-04 08:21] Random-Liu commented on #28408
#26093 may be related.

[2016-08-04 08:28] mnikolaenko commented on #29176
Try --volume=/var/lib/kubelet/:/var/lib/kubelet:rw,rslave instead of --volume=/var/lib/kubelet/:/var/lib/kubelet:rw. It worked for me.

[2016-08-04 08:35] lukemarsden commented on #26093
@Random-Liu thanks for noticing the overlap with #28408!

[2016-08-04 08:40] luxas commented on #26093
@pmorie in https://github.com/kubernetes/kubernetes/issues/4869#issuecomment-213581040

Are there plans to do this for v1.4? Yet, I've been focusing on kubelet's core dependencies.

[2016-08-04 08:48] Pensu commented on #29894
@ixdy Yeah, it fails on every run.

[2016-08-04 08:49] sttts commented on #26210
@MHBauer about your comment regarding the first round and then proceeding with the real tests: won't that just hide some wrong behavior?

[2016-08-04 08:50] lukemarsden commented on #26093
FWIW, for @kubernetes/sig-cluster-lifecycle we are presently assuming that kubelet will not run containerized in the default configuration; rather that kubelet is installed using OS packages (which will also install e.g. systemd units to start it on boot) and run as a bare Golang binary on the host.

[2016-08-04 08:54] hodovska commented on #30016
Current usage of SharedIndexInformers in controllers and admission plugins:

**Controllers:** https://github.com/kubernetes/kubernetes/pull/29978/commits/305342c48d7300a599ad008727d822e6664bdacd
- PodInformer
  - DaemonSetsController
  - EnpointController
  - JobController
  - NodeController
  - ReplenishmentController
  - ReplicaSetController
  - ReplicationManager
  - AttachDetachController
  -

[2016-08-04 08:58] luxas commented on #26093
Yes, I know, but I think this was about packaging the storage drivers themselves in containers so kubelet would just pull e.g. `gcr.io/google_containers/storage-driver-nfs` and use that for mounting volumes.

[2016-08-04 09:01] lukemarsden commented on #26093
Could storage drivers be add-ons, installed via `kubectl apply`? That's what we're planning to do for CNI network drivers.

[2016-08-04 09:42] ramitsurana opened #30063 "Implementing better pods"
Kubectl is a great tool.I was thinking if it might be possible to add more functionalities to the kubectl in such a manner that instead of creating just a pod.We could create a pod that automatically generates all the details and provides those details in response to the required services that needs it.Indirectly, making pods more smarter.Also I think it would lead to somewhat a new approach than

[2016-08-04 10:02] maciaszczykm opened #30065 "Kubelet to checkpoint running pods (including kube-apiserver)"
Me and few other Fujitsu employees are interested in mentioned topic and would like to contribute in this area, so we have prepared this proposal to discuss it with whole community. Please share your opinion with us.

CC @kubernetes/sig-cluster-lifecycle @floreks @kenan435 @taimir @zreigz @cheld

***

# Checkpointing the current API server configuration

Currently a single-master cluster installat

[2016-08-04 10:02] osixia commented on #16779
the workaround seems to not work anymore, someone else can confirm ?

[2016-08-04 10:08] wojtek-t commented on #27595
We fixed few different problems in it, including increasing number of expenses and switching off http2. I'm going to close this issue. If we still have some issues, the new issue will be automatically opened.

[2016-08-04 10:08] #27595 closed

[2016-08-04 10:09] k8s-merge-robot opened #30066 "kubernetes-e2e-gke-staging-parallel: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/6627/

Run so broken it didn't make JUnit output!

[2016-08-04 10:12] andyxning commented on #11158
@ericchiang @rjnagal AFAIK, currently, [cAdvisor supports exporting rss memory data](https://github.com/google/cadvisor/issues/975), so we may add supporting rss data now.

[2016-08-04 10:25] mrook commented on #26787
We also ran into this issue. We have a few worker instances with three security groups, of which one has a KubernetesCluster tag.

It looks like all security groups are retrieved in https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L2549, the KubernetesCluster filter is missing.

[2016-08-04 10:44] AdoHe commented on #30063
@kubernetes/kubectl

[2016-08-04 11:14] suquant opened #30067 "Cleanup orphaned pods (unmount pods directories)"
Hi all,

Sometimes we delete/kill pods who is uses NFS directories which also run in kubernetes cluster or somewhere else.

**Simple case**:
1. Run gluster server pod
2. Run app server which use gluster server volume as NFS mount point
3. Delete gluster pod
4. Delete app pod

gluster.yaml

[code]

app.yaml

[code]

After delete/kill glusterfs pod before delete/kill app pod, which is gitlab app.
Wh

[2016-08-04 11:26] wojtek-t opened #30068 "Use protobufs by default in storage"
We already have most of bits in place. The remaining things (mostly coming from Clayton) are:
- [ ] if someone enables base64 on etcd2, and then goes to etcd3; we ideally don't want to support base64 in etcd3;
  But maybe we can simply say that if you are using base64, then you know hat you are doing and we don't support you? Thoughts?
- [ ] ensure that JSON-only objects (thirs party resources) ar

[2016-08-04 11:31] wojtek-t commented on #30068
Regarding ThirdParty resources, we already have this test:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/third-party.go#L74

It is storing ThirdParty objects in etcd and it is running as part of the existing suite too. Which means that this test works correctly.

@smarterclayton @lavalamp - do you agree that this is enough, or you would like to test something more specific too?

[2016-08-04 11:37] deads2k commented on #29794
If we're trying to make it appear like our normal CRUD (which I think is part of what https://github.com/kubernetes/kubernetes/issues/20605 is about), we could consider doing `kubectl config get RESOURCE/NAME` where resource is cluster, context, user and name is the nick name.  That would give us a clear way to integrate get, list, update, delete.  That would also give something to bad templates a

[2016-08-04 11:38] deads2k commented on #29794
Ah, and I just repeated @pwittrock .  What he said, :)

[2016-08-04 11:54] jba opened #30069 "update Google Cloud API client import paths and more"
The Google Cloud API client libraries for Go are making some breaking changes:

* The import paths are changing from `google.golang.org/cloud/...` to
  `cloud.google.com/go/...`. For example, if your code imports the BigQuery client
  it currently reads
```import "google.golang.org/cloud/bigquery"```
It should be changed to
```import "cloud.google.com/go/bigquery"```

* Client options are also mov

[2016-08-04 12:17] mwuertinger commented on #29903
I'm experiencing the same problems on multiple clusters, all running `1.3.3` on the nodes. I'm seeing this with secrets as well as with persistent disks.

Here's what I get in `/var/log/kubelet.log` in a recent incident (Removed some unrelated logs from the output):
[code]

[2016-08-04 12:18] adrianmkng opened #30071 "Documentation not generated and packaged with release"
The man pages don't contain any information in them from the release. I've tried generating them before doing a make release but because they are still tracked in git, the release artefact is marked as dirty.

[2016-08-04 12:18] floreks commented on #30065
Here is basic visualization of checkpointing workflow described in implementation details:

![api server checkpointing flow 2](https://cloud.githubusercontent.com/assets/2285385/17401506/483ab988-5a4e-11e6-8460-361fe093b0d4.png)

[2016-08-04 12:47] k8s-merge-robot opened #30072 "[k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12566/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28565 #29072 #29390 #29659

[2016-08-04 12:53] xinuc commented on #27885
this error still happens with Docker 1.12 btw.

[2016-08-04 12:57] BradErz commented on #23155
I'm currently working on a HA setup with nodes in multiple private subnets.

I'm also getting this error even when spawning kube-up with:
KUBE_ENABLE_NODE_PUBLIC_IP=false

[2016-08-04 13:17] rootfs commented on #30027
@bprashanth do you mind reviewing and tagging #29622 ?

[2016-08-04 13:34] mwuertinger commented on #29903
I solved it temporarily by deleting the affected node.

[2016-08-04 13:36] zehicle commented on #23174
I believe this is most correct > kfox1111: "if that list of tasks can be
kept to a very bare minimum, maybe providing a doc to all the config
management tools"

As much as a I love containerizing things, running a service on a host can
be managed in a number of ways.  The challenges are NOT on the nodes but
connecting the nodes together in a secure and robust way.  Putting
everything into a contai

[2016-08-04 13:36] nearbyfly opened #30073 "Kubelet flag cluster-domain doesn't work if resolve-conf is configured"
Hi,

When starting Kubelet both cluster-domain and resolve-conf are passed, but only resolve-conf took effect. The cluster-domain still inherited from host /etc/resolv.conf search domains.

Based on pkg/kubelet/dockertools/manager.go, looks like resolve-conf can overwrite cluster-domain. Is that the intention to introduce resolve-conf to replace cluster-domain and cluster-dns?

But there is no des

[2016-08-04 13:38] fabxc commented on #29323
Yes, these things should be instrumented directly with the chosen exposition format 👍

Everything meaningful to monitor should be exposed on the `/metrics` endpoint. Requiring every monitoring system to manually integrate with every custom API of every application is not a scalable approach.
Ultimately, not all application metrics worth monitoring are exposed via the application's API. Hence the `

[2016-08-04 13:41] CodeJuan opened #30074 "wrong regex in test/images/pets/redis/on-start.sh L32"
# kubectl version
[code]

# OS
local machine
[code]
# problem
https://github.com/kubernetes/kubernetes/blob/master/test/images/pets/redis/on-start.sh#L32

The Line 32 `sed -i -e "s|^.*slaveof.*$|slaveof ${LINE} ${PORT}|" ${CFG}` replaced 2 lines which include word 'slaveof' in the templatefile
[code]

## The results I received
[code]

## The results I expected
[code]

[2016-08-04 13:42] JoshFialkoff commented on #26822
I am getting the same error. Are there any other suggestions on how to fix this? Should I contact the hosting company?

[2016-08-04 13:53] kfox1111 commented on #24957
@nhlfr the idea being the op operating the containers can be different then the dev that wrote the deployments and is an abi in that relationship so the op doesnt need to know the details of performing some action. Yes, you could do it with an exec, and I think maybe that should be how its implemented. Exec is more of an unstructured back door though.

[2016-08-04 13:57] erictune commented on #29794
pwittrock and deads2k both endorse a solution for kubectl

that sounds like a decision to me.

On Thu, Aug 4, 2016 at 4:39 AM, David Eads <notifications@github.com> wrote:

[2016-08-04 13:59] k8s-merge-robot opened #30075 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/21123/

Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236 #27920 #28492 #29970

[2016-08-04 14:01] etotheipi opened #30076 "Pets in a PetSet not exposed via DNS"
I have created a PetSet, and tried giving it both the same and diffferent `serviceName` than the k8s Service I use to expose the pets to the outside world.  Neither case appears to provide DNS resolution for the pets to talk to each other.

Here's the first pet:
[code]

And after installing bind-utils in one of the other pets:
[code]

The documentation on petsets suggest that each Pet should get a

[2016-08-04 14:28] k8s-merge-robot opened #30078 "[k8s.io] SchedulerPredicates [Serial] validates that InterPodAntiAffinity is respected if matching 2 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1862/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAntiAffinity is respected if matching 2 {Kubernetes e2e suite}

[code]

[2016-08-04 14:29] mesmerizingr commented on #29903
Just a quick update: I temporarily resolved the problem by downgrading my cluster's nodes to `1.2.6` and haven't experienced the problem yet albeit I've found in similar topics that it doesn't resolve the problem. But so fat it works.

[2016-08-04 14:30] soltysh opened #30079 "rbac integration tests fail against batch/v2alpha1"
When I've tried to enable the `batch/v2alpha1` api group in our integration tests I've noticed following failure:

[code]

I've looked into the rbac tests and it looks like it should work, iow. [this rule definition](https://github.com/kubernetes/kubernetes/blob/d6854cbb6b65421471ecda56e0f5e144a6cdb1c8/test/integration/auth/rbac_test.go#L273-L277) is written in such a way that it's not versioned i

[2016-08-04 14:33] mwuertinger commented on #29903
Maybe it was just resolved because the node got recreated like in my case?

[2016-08-04 14:38] erictune commented on #30079
@ericchiang does this look like a known issue?

[2016-08-04 14:38] mesmerizingr commented on #29903
@mwuertinger yes, I assume that it might have been the case.

[2016-08-04 14:40] mwuertinger commented on #29903
@mesmerizingr do you happen to have some background information about this issue so that we can reference it here?

[2016-08-04 14:42] mwuertinger commented on #29903
This seems to be related: #29617

[2016-08-04 14:45] mesmerizingr commented on #29903
@mwuertinger take a look on this thread: https://github.com/kubernetes/kubernetes/issues/28750

[2016-08-04 14:46] jszczepkowski commented on #29799
@jszczepkowski

[2016-08-04 14:47] jszczepkowski commented on #29989
This should be one of cases of #29799: when pod is not READY or was created less then a minute ago, w do not autoscale and do not create error event.

[2016-08-04 14:53] rata commented on #27885
Just in case it's useful to someone, I workaround this by basically writing to an external volume.

The pod that builds docker images now uses an EBS volume mounted on /var/lib/docker and this issue never happened again (so far, at least). This makes sense, as it seemed to be an aufs related issue and now it is not using it to write docker images.

[1]: https://github.com/rata/docker-gc/commits/fi

[2016-08-04 15:09] jsafrane commented on #28640
IMO, syscall is not enough as `/bin/mount` calls various wrappers like `mount.ceph`, which do some magic. `mount.glousterfs` even starts a fuse daemon.

[2016-08-04 15:24] vishh commented on #30065
How are the self-hosted components being started currently? Why is there no fallback apiserver that is run as a static pod?

Adding checkpointing logic to kubelet that is not specific to kubelet itself doesn't seem like a good idea.

cc @kubernetes/sig-node

[2016-08-04 15:38] jegesh commented on #21692
I'm experiencing this with heapster:v1.0.2 and heapster_grafana:v2.6.0-2

[2016-08-04 15:40] jegesh commented on #21692
I'm experiencing this with heapster v1.0.2 and heapster_grafana:v2.6.0-2

[2016-08-04 15:43] ericchiang commented on #30079
No, but I'll investigate. Please assign this to me and I'll try to fix the test today.

[2016-08-04 15:44] stapelberg opened #30081 "kubectl run --dry-run cannot be used when -i is specified"
While trying to figure out why a `--overrides` parameter was not parsed as I would have expected it to, I just threw in a `--dry-run` but saw the following error message:

[code]

Turns out that one has to remove the `-i` flag in order to use `--dry-run`:

[code]

I’m wondering:
1. Why that is, i.e. why is `-i` detrimental to `--dry-run`? That seems unintuitive.
2. Whether the error message can be

[2016-08-04 15:45] erictune commented on #16779
Nobody is working on this.

[2016-08-04 15:45] erictune commented on #16779
But is is important.

[2016-08-04 15:54] jsafrane commented on #25294
This bug has not been reproduced for past 2 months, can we close it?

[2016-08-04 16:15] MHBauer commented on #26210
@sttts it probably would just be hiding the bad behavior. I suppose we need to figure out who or what is in between the client and server that is chopping the connection with a 503 and empty 'EOF' body.
I don't have any idea how this proxy works or where the code is.
If the 503 indicates a _temporary_ condition, we should check for a retry header and retry, and then we would be doing the **right**

[2016-08-04 16:24] bprashanth opened #30082 "Scale petset up/down testing"
Scale up should happen in order
Scale down should happen in reverse order
Scaling should halt if there's an unhealthy pet
Scaling down before the scale up finished should wait for the _current_ pet to enter running, then immeidtely start scale down

[2016-08-04 16:27] Dmitry1987 commented on #28418
Sorry if it's a bit offtopic, but I have very related issue and don't want to open another thread for it.
I created my cluster with 1 AZ by default, and now added more minions in another zones, but pods that are created there - cannot use DNS resolution. Seems like K8s DNS service needs to be reconfigured in some way to support the new AZ and subnet?  I can't find this in the docs :(  can someone

[2016-08-04 16:28] matthiasr commented on #30006
I started that thread, so I'll add some of our thinking …

# Where [we](https://soundcloud.com) came from

Before Kubernetes, we have been using a homegrown deployment platform supporting [12 factor](http://12factor.net) applications. All applications log to stdout/stderr. The logs are shipped off nodes asynchronously and (after some delay) show up in HDFS.

We want to replace both the platform (w

[2016-08-04 16:35] pwittrock commented on #28731
Rolling update is performed on the client side and timing out in the middle is not what you want to do.

[2016-08-04 16:35] #28731 closed

[2016-08-04 16:37] pwittrock commented on #30063
Can you explain this a bit more and give an example?  I am not sure what you mean by 'generates all the details and provides those details in response to the required services that needs it'.

[2016-08-04 16:39] dvohra commented on #28731
Thanks pwittrock.

[2016-08-04 16:40] thockin commented on #29855
We have two threads on this.  I am closing this one and asking everyone to instead discuss it on #26567

[2016-08-04 16:41] lavalamp commented on #28413
@fejta did you close this because you fixed something about it?

[2016-08-04 16:44] lavalamp commented on #28440
@fabioy can you fix this or find someone to fix this?

[2016-08-04 16:45] lavalamp commented on #30066
Hm, not sure why the bot didn't link to the old issue: #28413

[2016-08-04 16:51] wojtek-t commented on #30068
Maybe the way to go is:
- in 1.4 switch storage format to protobufs, but without migrating all the data
- do the actual migration a release after?

[2016-08-04 16:51] thockin commented on #29855
Actually, I am going to re-open this.  The GCEPD docs and volume driver are buggy and shoul be updated. That is what this bug is about.

[2016-08-04 16:57] thockin opened #30085 "Storage should not allow multiple users of a PVclaim, if the claim is RWO, even if the PV is RWX"
This is hard to validate, but it is a bug.  We need to clarify the meaning of a claim's mode.  Today it means "at least" but I think we also need to express "this pod demands exclusive access" vs "shared access is OK".  That is more of an app-level semantic than infrastructure.

Concretely, assume my app needs a RWO volume.  I get bound to an NFS share that is RWX (which is "greater than" RWO).  M

[2016-08-04 16:58] thockin commented on #30085
@kubernetes/sig-storage @saad-ali @matchstick

[2016-08-04 17:04] smarterclayton commented on #30063
This sounds like the use case for `podex` as well as `oc new-app` - take info from an image and build an app out of it?

[2016-08-04 17:06] thockin commented on #26567
We discussed this at the @kubernetes/sig-storage weekly call today.  Here are notes.

General agreement that we should NOT allow multiple pods to access a RWO volume through a RWO claim.  It's too likely to corrupt app data.  The fact that GCEPD allows this is a bug (#29855) and we should audit all volumes for it.

The attach/detach controller should already skip the detach/reattach if a 2nd pod i

[2016-08-04 17:06] therc commented on #29323
The main argument against this is that it might get expensive. The more stuff gets exposed, the higher the chances that the average scraping client doesn't care about a large chunk of it. So perhaps additional endpoints (e.g. /orchestration for replica counts, etc., plus /all to include REALLY everything) might be an option.

A second argument might be the potential security or leakage issues.

La

[2016-08-04 17:07] spxtr commented on #25294
It looks like the test is still in the flaky suite, although with a different name. Once it's moved out of there then this can be closed.

[2016-08-04 17:07] thockin commented on #26567
The scheduling changes should not be implemented until the PD and other bugs are fixed, or increase the risk of corruption.

[2016-08-04 17:07] markturansky commented on #30085
I think this makes sense as part of the PVClaimVolumeSource.  That's where you specify the ReadOnly-ness of your volume.  It makes sense to enforce it there.

[2016-08-04 17:15] thockin commented on #30085
Today we depend on the underlying storage system to enforce "once"
semantics.  To do this, regardless of where the field lives, we would need
to take more responsibility for it into Kubernetes.

On Thu, Aug 4, 2016 at 10:08 AM, Mark Turansky <notifications@github.com>
wrote:

[2016-08-04 17:21] smarterclayton commented on #30068
In 1.4 do etcd3+protobuf for new clusters, etcd2+json for old clusters?

On Thu, Aug 4, 2016 at 12:51 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-08-04 17:24] smarterclayton commented on #30025
Versioned client would halve the size of the memory that we're using (is
all I wanted to get at).

If bulk deletion of etcd solves it, all the better.  Except that we do
graceful deletion, so we don't actually bulk delete.  We could bulk
transact the graceful deletion...

On Thu, Aug 4, 2016 at 2:38 AM, Wojciech Tyczynski <notifications@github.com

[2016-08-04 17:25] yujuhong commented on #30039
To support this, we don't necessarily have to push healthcheck down to the runtime. We could augment the container status in CRI by adding  an "unhealthy" state, and let kubelet decides whether to kill/restart the container. kubelet can still perform the liveness/healthness checks kubernetes API.

What I really don't like is that nothing in our pod spec reflects the fact that there are health chec

[2016-08-04 17:26] lavalamp commented on #30068
I'm nervous about supporting multiple storage backends, I think that means we need to double our testing.

[2016-08-04 17:29] thockin commented on #30039
On Thu, Aug 4, 2016 at 10:25 AM, Yu-Ju Hong <notifications@github.com> wrote:

ACK.  But I think that's less bad than not supporting it at all.  I
think.  I haven't estimated the work, and it's certainly not URGENT
yet. :)

[2016-08-04 17:33] yujuhong commented on #30039
Sure, and we don't support docker v1.12 (yet).

Another concern is whether other runtimes which supports docker images will also perform the health checks. If not, the behavior will be completely runtime-dependent, and even more confusing for the users.

[2016-08-04 17:35] smarterclayton commented on #29954
Looking at the test grid, I see no other examples of this flaking.

[2016-08-04 17:36] thockin commented on #30039
yeah, many issues to resolve here.

On Thu, Aug 4, 2016 at 10:34 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-08-04 17:38] lavalamp commented on #29954
Well, that's why it's only P2 :)

[2016-08-04 17:42] freehan commented on #28667
@feiskyer I think "on the plugin side" meant the implementation of CRI and runtime should handle networking. Not kubelet. Kubelet should just supply with sufficient information and expect podsanbox network to be setup. What/How network plugins are used is up to the CRI implementation.

For hypervisor-based runtimes, I feel like most of the current standard CNI plugins does not fit in. I would pref

[2016-08-04 17:43] smarterclayton commented on #29954
So I know of at least 2-3 Docker related hangs / failures that might result in this symptom.  Will try to take a peek at those.

[2016-08-04 17:43] #28306 closed

[2016-08-04 17:44] #28423 closed

[2016-08-04 17:44] #28438 closed

[2016-08-04 17:44] smarterclayton commented on #30068
Technically we have to do that anyway though to move forward.  I'd rather
test 2 combinations than an ugly hybrid.  I think we've agreed that etcd
2->3 is an offline migration, so we have to test the offline migration, but
then we have to test old + new.  I'd like to only support the following
path:

etcd2 + json -> offline migration -> etcd3 + protobuf

That's a single "path" to test.

On Thu, Au

[2016-08-04 17:49] pwittrock commented on #28731
@dvohra my pleasure

[2016-08-04 17:50] thockin commented on #28667
If/how to expand CNI to cover hypervisors is question (1).

On Thu, Aug 4, 2016 at 10:43 AM, Minhan Xia <notifications@github.com>
wrote:

[2016-08-04 17:54] lavalamp commented on #30068
Yeah, I agree with that. We've got to figure out a way to test things that doesn't double the number of test jobs with every global feature. :(

[2016-08-04 17:54] yujuhong commented on #28667
I agree with @thockin and @freehan that this issue should focus on resolving (2).
If the runtime is responsible for handling networking (including the plugins), how/if CNI handles tap devices are beyond CRI's concern.

[2016-08-04 17:55] Dmitry1987 commented on #30013
oh, just found the solution.. took me a while..
I created the new subnet and started using nodes with it, but didn't added the subnet to routing table.. after adding it to main routing table that was created by kube-up.sh, services are now working.

so DNS and resolv.conf are not the issue. I'm closing the issue, and it can be deleted.
Thanks!

[2016-08-04 17:55] #30013 closed

[2016-08-04 17:57] smarterclayton commented on #30068
Note that this is "protobuf by default", not "all objects stored in etcd
are guaranteed to be protobuf, such as third party resources or objects
which may have no protobuf serialization (like the allocation ranges for
service ports, I think).

On Thu, Aug 4, 2016 at 1:54 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-08-04 18:06] vishh commented on #27296
@Random-Liu can you take a look at this flake?

[2016-08-04 18:07] vladar commented on #23683
Same here with ubuntu-based cluster on 1.3.4

[2016-08-04 18:12] yujuhong commented on #14140
@dchen1107, I'm not sure what the status of this issue is. I'm going to unassign myself since I'm not working on it. Let me know if you need me to pick it up.

[2016-08-04 18:12] wojtek-t commented on #30025
Versioned client would halve the size of the memory that we're using (is
all I wanted to get at).

Why? Versioned client is used in the client. So it will halve the memory in the client. But here we are talking about memory usage in apiserver.
[Versioned clients are good in general, but unless I'm not missing anything, they won't help in this case].

If bulk deletion of etcd solves it, all the bet

[2016-08-04 18:15] Random-Liu commented on #27296
@vishh All these different tests are failing on gci.

[2016-08-04 18:36] bprashanth opened #30088 "DoS protection for ingress"
We should AT LEAST document how to handle it, but ideally give users an easy way to prevent agains some of the most common attacks both at l7 and l4.

Most obvious options is to accumulate logs from a bank of nginx ingress controllers via fluentd into ES/Cloud logging and setup a reconciliation loop that feeds into a DoS engine, which then sends accept/reject policy back down to nginx, through the

[2016-08-04 18:36] mml commented on #28971
@thockin that works.  Thanks.  I think it didn't when I opened this, but who knows now.

[2016-08-04 18:36] #28971 closed

[2016-08-04 18:39] janetkuo commented on #30028
[Controller ref](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/controller-ref.md) would solve this problem, but it's not implemented yet.

[2016-08-04 18:41] janetkuo commented on #30028
An temp fix would be adding a check at creation time (check for existing overlapped controllers). It won't be 100% accurate (things can be created after list), but it can mitigate most use cases.

[2016-08-04 18:43] vishh commented on #27296
@Random-Liu any clues as to why they fail on GCI? Are the tests failing or is it the infra?

[2016-08-04 18:47] wojtek-t commented on #30068
I think that having 2 configurations (etcd2+json & etcd3+proto) is very good idea.

What I'm afraid of is that we won't get etcd3 in 1.4 release - there are ~2 weeks before code freeze, and we don't even have scripts to configure etcd3 in kube-up. Which makes me feel we won't be able to do that. And it would be great if we could launch proto-storage in 1.4 (at least in some limited scope, e.g. new

[2016-08-04 18:48] xiang90 commented on #30068
/cc

[2016-08-04 18:48] Random-Liu commented on #27296
@vishh It seems that  https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/7775/ is a test flake in Privileged pod test.

But many others recent failures are on gci, such as:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/7586/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/7510/

[2016-08-04 18:57] mtaufen commented on #27980
Tracking an example implementation of some basic functionality here: #30090.

[2016-08-04 19:00] ciwang commented on #29076
We ran two tests:

1. Simple
- Create GKE 1.2.5 cluster
- Spin up pod with GCE PD
- Write data to GCE PD
- Upgrade cluster to 1.3.2

2. Rigorous
We tried to replicate the exact config from the issue, with OpenLDAP and MariaDB running:
- Create a cluster with node version 1.2.5
- Create deployments with GCE PDs and Docker images from user's repo
- Write data (by execing into OpenLDAP and MariaDB co

[2016-08-04 19:00] #29975 closed

[2016-08-04 19:15] saad-ali commented on #29076
Thanks Cindy. At this point we have been unable to verify if the data loss @tazjin experienced was caused by Kubernetes. Indications are that the disk was not actually formatted (e.g. ext4 UUID not changing) . We are trying to chase down the theory that perhaps some other mechanism (either in the Kubernetes system or external) deleted the contents of the volume.

[2016-08-04 19:16] aaronlevy commented on #30065
If this were the case, I think it would mean there were some special "fallback" api-servers that would need to be managed/upgraded differently than the self-hosted daemonset/deployment based api-servers. Ideally, this wouldn't be the case as it somewhat defeats a goal of self-hosting these components (back to: modify files on disk with external tools).

Now to be fair, single api-server is not exa

[2016-08-04 19:17] jingxu97 commented on #26567
I have a related question. Is it possible (allowed) that PVC gets updated dynamically or PVC rebound to a different PV dynamically while pod is running? If yes, I think current volume management code does not update/cleanup the old PV/PVC information.

[2016-08-04 19:19] aaronlevy commented on #30065
ref: https://github.com/kubernetes/kubernetes/issues/489

[2016-08-04 19:21] markturansky commented on #26567
@jingxu97 no, once bound, it's forever.  API validation, in fact, only allows the PVC to be bound exactly once, after which it errors upon modification.

[2016-08-04 19:31] k8s-merge-robot opened #30093 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/11397/

Run so broken it didn't make JUnit output!

[2016-08-04 19:44] markturansky commented on #26567
@jingxu97 Not sure about a plain pod being updated, but a change in deployment would relaunch the pod with the new volume/claim. That is, at least, how it works with downstream OpenShift deployments. I assume the same for upstream.

[2016-08-04 19:44] chuckbutler commented on #23198
@trodriguez-photobox  Thank you for your interest in juju and filing the bug. We apologize you ran into this issue, we were re-tooling the cluster/kube-up scripts to work with the latest beta's, and that drifted from breaking changes upstream.

We were a bit short handed and this bug did slip through our radar, however we've taken some time to update the scripts to work with the latest beta.  Than

[2016-08-04 19:46] mbruzek commented on #23198
We also updated the getting started guide for Juju in the latest revision of the tools.

[2016-08-04 19:50] yujuhong commented on #30051
If STOPSIGNAL is already in the image, shouldn't the docker daemon kill the container with the right signal automatically? It'd only be broken if we bypass docker daemon or use a non-docker runtime.
Or are you talking about adding a new "stop signal" feature in the kubernetes API?

[2016-08-04 19:56] thockin commented on #30051
When we signal a container, do we just 'docker kill' or do we explicitly
send a specific signal?  I know we send SIGTERM for graceful term.  I don't
know if STOPSIGNAL is intended to be "kill" or "soft kill" (e.g. should we
send STOPSIGNAL instead of SIGTERM or instead of SIGKILL.

On Thu, Aug 4, 2016 at 12:51 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-08-04 20:11] tazjin commented on #29076
I agree that it seems a lot less likely now that k8s was the cause of the issue. Maybe this should be forwarded to the GCE storage team at Google somehow?

[2016-08-04 20:18] smugcloud commented on #28328
I also ran into this by unknowingly creating multiple deployments with the same selector.  It would be nice to block this scenario if the value overlaps in the same namespace.

[2016-08-04 20:20] philipn commented on #26567
RE: this as a bug or not (as I'm not sure what the Kubernetes versioning policy is with respect to breaking changes), it should be noted that the documentation currently refers to PVs as acting in relation to nodes, and access modes as applying to the PV<->nodes relationship only.

EBS also allow for multi-pod RWO attachment right now (RE: #29855).

[2016-08-04 20:25] lavalamp opened #30096 "Test which API Groups are enabled by default"
Alpha groups (and resources) should be off by default and turned on by the testing setup scripts. We need to have a test that makes it obvious what APIs are on by default.

[2016-08-04 20:28] mcandre opened #30097 "OS packages for kubectl"
Please publish DEB and RPM packages for the `kubectl` binary, to make it easier to install for newbies.

[2016-08-04 20:32] mcandre opened #30098 "Windows support"
Could `kubectl` be ported for Windows hosts?

[2016-08-04 20:33] pbx0 commented on #16508
Just wanted to add that `hyperkube --make-symlinks` already exists (it creates them in the working directory rather then taking an arg). It has been temporarily disabled temporarily because when cross building docker containers for arm, qemu will break on go binaries. Instead, the links have been manually added for the time being.

See: https://github.com/kubernetes/kubernetes/pull/24511 and https

[2016-08-04 20:35] liggitt opened #30099 "Update scheduler config file compatibility test"
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithmprovider/defaults/compatibility_test.go was added to make sure all the predicate/priority names continue working release-to-release, but the test is very out of date.

It needs to be updated with JSON blobs containing the supported predicates/priorities at the 1.1, 1.2, and 1.3 release levels.

[2016-08-04 20:36] jingxu97 commented on #26567
@markturansky, thanks!

@saad-ali @thockin When a plain pod is updated when the pod is still alive, it is possible its volume or PVC changed to a different one? If yes, how should we handle the old ones. Current code does not handle it as far as I know.

[2016-08-04 20:36] k8s-merge-robot opened #30100 "[k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30094/kubernetes-pull-build-test-e2e-gce/51927/

Failed: [k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #30094.

[2016-08-04 20:37] pwittrock commented on #26941
@jeffmendoza Mind taking a look at this?

[2016-08-04 20:38] bprashanth commented on #28328
The general problem of overlapping selectors that you're running into is understood and there are (multiple) fixes going on, i believe: https://github.com/kubernetes/kubernetes/issues/19830, https://github.com/kubernetes/kubernetes/issues/2210, https://github.com/kubernetes/kubernetes/issues/22961

[2016-08-04 20:38] pwittrock commented on #28328
Closing this as a duplicate.  Reopen if needed

[2016-08-04 20:38] #28328 closed

[2016-08-04 20:42] smugcloud commented on #28328
Awesome, thanks @pwittrock @bprashanth

[2016-08-04 20:44] #29803 closed

[2016-08-04 20:47] philips commented on #4869
cc @aaronlevy @derekparker @pbx0

[2016-08-04 20:53] colemickens commented on #26093
You need to mount `/var/log/containers` for fluentd to be able to grab container logs.

[2016-08-04 20:57] screeley44 opened #30102 "local-up-cluster.sh fails on finding go-bindata with latest cloned master code"
Maybe something has changed that I'm not aware of, but I'm cloning fresh/latest master and running ./hack/local-up-cluster.sh and it's failing based on:

[code]

This just started for me today, previous day I could build with no issues

using *go get* to resolve manually does not help either

as reference here is excerpt of build from yesterday where go-bindata worked:

[code]

[2016-08-04 21:02] rmmh opened #30103 "Parallel Node E2E Tests have partial results"
9d48c7636153a6bea5d282a8d6e089fb2387d441 made E2E tests run in parallel, but the parallel runs clobber each other's junit.xml files.

You can see this in the testgrid here (scroll right): https://k8s-testgrid.appspot.com/k8s#kubelet&width=5

Maybe passing a different `--junit-file-number` to each ginkgo invocation will do the trick?

[2016-08-04 21:03] fabioy commented on #28440
CJ did some sleuthing and here's the situation:

This Jenkins tests runs HEAD k8s against GKE's staging, currently running K8s 1.3.3. PR #29673 broke this (fixes #29555), because tests are running against a 1.3.3 cluster. But, the fix has been cherrypicked into 1.3.4, which will be rolling out to GKE shortly.

So, hopefully these tests will go green soon.

[2016-08-04 21:04] ixdy commented on #30102
Does your `$PATH` include `$GOPATH/bin`?

[2016-08-04 21:12] screeley44 commented on #30102
@ixdy - nope I sure didn't.  I added and it now is working as expected.  If anyone else has this issue make sure you have $GOPATH/bin in your PATH environment variable

[2016-08-04 21:12] #30102 closed

[2016-08-04 21:15] ixdy commented on #30102
Yeah, I probably could have made the error clearer.

I don't like requiring additional pre-steps to build Kubernetes, but automatically `go get`ing stuff also feels wrong.

[2016-08-04 21:21] jeffmendoza commented on #26941
@pwittrock sure!

[2016-08-04 21:28] Random-Liu commented on #30103
@rmmh Thanks a lot! Will fix this! :)

[2016-08-04 21:31] yujuhong commented on #30051
We use `docker stop`, which by default sends SIGTERM to the containers.
If you start a container with `docker run ---stop-signal=SOMETHINGELSE` or has STOPSIGNAL built-in your image, docker will send that signal on `docker stop`

`docker stop` itself doesn't even provide flag for callers to specify the signal...

[2016-08-04 21:38] #29043 closed

[2016-08-04 21:50] lavalamp commented on #30065
Kubelet shouldn't do anything special for apiserver. Kubelet should checkpoint everything it was running.

[2016-08-04 21:51] lavalamp commented on #30065
Anyway, I think the solution for this more like have a "bootstrap" apiserver in the static manifest folder.

[2016-08-04 21:55] pbx0 commented on #4869
CoreOS ships with a script for running the kubelet inside a rkt-fly container (chroot isolation only).  Similarly, we mount in the needed folders required to work with the container runtime installed on the host.

You can see our script here: https://github.com/coreos/coreos-overlay/blob/master/app-admin/kubelet-wrapper/files/kubelet-wrapper

While this works for us now, this isn't a perfect solut

[2016-08-04 22:29] sbezverk opened #30106 "process instalbility observed when running inside a container laucnhed with daemonset"
I noticed some issue when launching container using the daemonset. The same container launched with ReplicationController works 100% stable. The issue are mostly related to a process restart, some errors and inability to create a named socket. It is not a config issue as, as soon as I add strace in the command line of the process, it starts working fine. It seems some sort of a racing condition wi

[2016-08-04 22:34] yujuhong commented on #27097
@dchen1107, thanks for the nice summary!

I think the conclusions drawn here are:
  1. Container metrics will eventually be plumbed through another pipeline that's independent of kubelet.
  2. Pod-level metrics will continue being provided by kubelet from cgroups, with the exception of network stats.

We need to extend CRI to support `ImageFs` stats, and we *may* be able to drop pod network stats

[2016-08-04 23:01] thockin commented on #30051
ACK, then I think we can close this.  thanks!

On Thu, Aug 4, 2016 at 2:32 PM, Yu-Ju Hong <notifications@github.com> wrote:

[2016-08-04 23:03] abrarshivani opened #30108 "UnmountDevice method should use devicePath which is returned by WaitforAttach"
Currently, [UnmountDevice](https://github.com/kubernetes/kubernetes/blob/fe66c5c5fae7273c85d69b5d8fa3e64f0ea0ea88/pkg/volume/util/operationexecutor/operation_executor.go#L89) calls [mounter.DeviceOpened(deviceToDetach.DevicePath)](https://github.com/kubernetes/kubernetes/blob/fe66c5c5fae7273c85d69b5d8fa3e64f0ea0ea88/pkg/volume/util/operationexecutor/operation_executor.go#L896) to check if the devi

[2016-08-04 23:05] jimmidyson commented on #27097
/cc @fabxc

[2016-08-04 23:13] timstclair opened #30109 "Build scripts are too noisy"
I propose adding a new environment variable, `KUBE_BUILD_VERBOSE`, which gives the current output (and is enabled for jenkins builds). Without that flag, errors should be immediately obvious, and the output should fit on a single terminal screen.

Here is a sample of output from an error caused by a stray character in `kubelet.go`:

[code]

The only line I care about is 1 line right in the middle,

[2016-08-04 23:16] caesarxuchao opened #30110 "Lock ObjectMeta as tag 1 for all objects when serialized to protobuf"
This rule is useful in several scenarios: 1. this will make it easy to decode only the ObjectMeta part, which is useful for the garbage collector. See #28480. 2. this will make it easy to push indexing down into the storage layer.

@smarterclayton suggested we also need to handle the objects that don't have ObjectMeta. (like `SubjectAccessReview` in #20573?)

Initial discussion is here: https://gi

[2016-08-04 23:25] #29749 closed

[2016-08-04 23:26] #30074 closed

[2016-08-04 23:26] thockin commented on #30109
The shell backtrace is crap for compile errors.

The rest is the dependencies being generated.  We could silence that, but
it leaves people wondering why things are slow, sometimes.

On Thu, Aug 4, 2016 at 4:14 PM, Tim St. Clair <notifications@github.com>
wrote:

[2016-08-04 23:32] olalonde commented on #8773
Is  zsh completion available yet?

[2016-08-04 23:33] freehan commented on #29997
I just tried it. It works for me. Here is how I do it:

1. Apply a regional static IP.
2. Create loadbalancer service with the ip.

Anything I missed?

[2016-08-04 23:34] thockin commented on #26567
No, a running pod can not be updated (currently)  to change PVCs.

On Thu, Aug 4, 2016 at 1:36 PM, Jing Xu <notifications@github.com> wrote:

[2016-08-04 23:38] freehan commented on #29997
For the firewall rule of `0.0.0.0/0`, is it formatted like `k8s-fw-${Name of the Loadbalancer}`?

[2016-08-04 23:39] k8s-merge-robot opened #30111 "kubernetes-soak-continuous-e2e-gce: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/6311/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if matching {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28853

Failed: [k8s.io] Monitoring should verify monitoring pods and all cluster nodes are avai

[2016-08-04 23:48] AdoHe commented on #30081
@stapelberg thanks for reporting. I will take a look.

[2016-08-04 23:55] timstclair commented on #30109
How about we make the `KUBE_VERBOSE` flag an integer, with log levels like glog has.

[2016-08-04 23:59] caesarxuchao commented on #29998
The swagger is generated by the api server, so you need to actually enable it in the api server to generate swagger for it.

[2016-08-05 00:02] thockin commented on #30109
That's a lot of work.  I'm fine with that idea, but I wouldn't spend a ton
of time on it right away.

On Thu, Aug 4, 2016 at 4:56 PM, Tim St. Clair <notifications@github.com>
wrote:

[2016-08-05 00:06] feiskyer commented on #28667
@freehan expand CNI (question #1) is dissussed at https://github.com/containernetworking/cni/issues/251

[2016-08-05 00:17] caesarxuchao commented on #29998
When I visit `http://localhost:8080/apis/batch/v2alpha1` I get:
[code]

So it seems somehow the gorup/version get registered even though no resource registered. I don't have time to dig, but you should be able to trace it from here: https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/apiserver.go#L296. Good luck :)

[2016-08-05 00:20] timstclair opened #30113 "gobindata runs multiple times on build"
Ideally, it would only run when there were updates. At the very least, it should only run once per build command.

Example output:

[code]

For starters, can we move the command to generate gobindata to `Makefile.generated_files` ?

[2016-08-05 00:34] feiskyer commented on #28667
@thockin @freehan @yujuhong @vishh @kubernetes/sig-network  Sorry for my proposal of [letting kubelet handle networking by CNI plugin](https://github.com/kubernetes/kubernetes/issues/28667#issuecomment-236579272) distracting our attentions to CNI. This issue should be focussed on the basic problem (and my proposal is just one impl of combining both):

* Option 1) we expect all RemoteRuntimes to NO

[2016-08-05 00:35] danielqsj commented on #29974
It seems to be correct. Close it.

[2016-08-05 00:35] #29974 closed

[2016-08-05 00:47] davidquarles commented on #28525
I've yet to contribute and I'm not totally clear on protocol here, but I have enough bandwidth to help (assuming this is still dangling).

[2016-08-05 00:58] timothysc commented on #30068
I'm slightly terrified by what could go wrong on a bad migration.

/cc @kubernetes/sig-scalability

[2016-08-05 01:06] streamnsight opened #30117 "kubelet should fail if version of docker is not supported"
this is just my opinion, but I think kubelet should fail if it doesn't have a supported version of docker.

i went on and upgraded kubelet to 1.3.4 on a CoreOS 899.17 and kubelet happily reported it was running, so I thought all was fine, and upgraded other machines, only to realize my pods died after a few minutes...
looking at the logs i see kubelet could not find docker 1.10+ and just wasn't ru

[2016-08-05 01:16] smarterclayton commented on #30068
A possible counter argument is that we have to test migration extensively
anyway - there being a single supported path reduces the probability of
P(migration gone bad) U P(conversion of JSON to protobuf gone bad).

On the other hand, the migration has to move the keys, but not necessarily
change them (the recognizing deserializer handles that for us), so
migration isn't that risky w.r.t. data chan

[2016-08-05 01:22] smarterclayton commented on #30110
So let's play this out.  What happens if we split ObjectMeta in a future API revision?  Objects without ObjectMeta, or which have a stripped down ObjectMeta (things may have names that don't have labels, for instance)?

We would need to have a way to identify the schema of ObjectMeta from an external source (swagger) to safely decode.  We already need that for a few other things (Status, ListOptio

[2016-08-05 01:26] smarterclayton commented on #26567
But you *can* delete and recreate a PVC with the same name, which your pod
won't recognize unless the kubelet was restarted or something else happened.

On Thu, Aug 4, 2016 at 7:34 PM, Tim Hockin <notifications@github.com> wrote:

[2016-08-05 02:36] alexbrand commented on #29794
Hmm, I am somewhat confused :)

Do we want `kubectl config get clusters` (https://github.com/kubernetes/kubernetes/issues/29794#issuecomment-237528618) or `kubectl config get-clusters` (https://github.com/kubernetes/kubernetes/issues/29794#issuecomment-237406273).

I am leaning towards the hyphen-less commands to remain consistent with the rest of `kubectl`.

[2016-08-05 02:43] alexbrand commented on #30098
Hey @mcandre, you may download `kubectl` for Windows from https://storage.googleapis.com/kubernetes-release/release/v1.3.4/bin/windows/amd64/kubectl.exe

[2016-08-05 02:44] kevin-wangzefeng commented on #30018
fixed in #30060.
The failed tests were triggered before the fix merged.

[2016-08-05 03:05] colemickens commented on #22586
I'm seeing this in clusters when I mount the Azure ephemeral drive to /var/lib/docker with a systemd mount unit:

https://github.com/colemickens/kubernetes-anywhere/blob/87cbb20881114e843cca8d266c0930544f2abb30/phase2/ansible/playbooks/roles/node/templates/azure/var-lib-docker.mount

Did you ever resolve it by chance?

[2016-08-05 03:20] jkemp101 commented on #13479
Has there been any progress on this request?  I need to provide 100 Gigs tmp space to a bunch of pods.  Using emptyDirs looks to risk the entire node to 1 pod having a run away export.  Is there still no way to protect the node from this threat?  Just being able to specify the location of the emptyDirs would be very useful.  I could put them all on a single dedicated local volume to protect the no

[2016-08-05 03:33] thockin commented on #28525
On Wed, Jul 27, 2016 at 5:21 AM, davidwalter0 <notifications@github.com> wrote:

To be clear: Route53 support was added already - this bug is about
adding equivalent functionality on GCE.

Basically, create a Google CloudDNS name from a Service annotation,
pointing to the external load-balancer IP.

Exactly.  Also, probably periodic checks, but nothing super fancy.

I think for now it's enough to

[2016-08-05 03:35] thockin commented on #28667
Agree, let's just make this bug be about which side of the CRI networking
belongs to.

For sake of discussion, let's define terms:

the "host" side is kubelet itself

the "plugin" side is the runtime (docker, rkt, hyper, etc) running as a
separate process.

On Thu, Aug 4, 2016 at 5:35 PM, Pengfei Ni <notifications@github.com> wrote:

[2016-08-05 03:40] smarterclayton commented on #13479
No - OpenShift implemented a barebones XFS quota system for empty dir (
https://github.com/openshift/origin/blob/master/pkg/volume/emptydir/quota.go
and master_node_configuration.html
<https://docs.openshift.org/latest/install_config/master_node_configuration.html#node-configuration-files>)
that is based on the FSGroup id assigned to the container, but it hasn't
been implemented in Kube because we

[2016-08-05 03:50] yuvipanda commented on #12520
I'm slightly confused by this - I want to just tell the kubernetes apiserver to use a particular username and password to authenticate to etcd, not entirely sure how that's related to dex?

Quoting

So I basically want to restrict access of the etcd cluster to just the k8s master, which I'm currently doing via fierwall rules. Allowing k8s-apiserver to act as a particular user with a password seems

[2016-08-05 03:58] bparees opened #30120 "validation improperly rejects env variable names with dots"
pod spec validation rejects env variable keys that contain dots (eg "FOO.BAR"), but "FOO.BAR" is a valid env variable name for some (though not all) shell environments, so this validation rule is overly strict.

@smarterclayton

[2016-08-05 04:31] vishh commented on #13479
been implemented in Kube because we're trying to sort out the disk eviction
work.

I don't think we should use gid based quota in Kube. Kindly refer to the existing [disk accounting](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/disk-accounting.md) doc.
The plan is to use project quota. Support for project quota in ext4 is currently being stabilized upstream.

We already trac

[2016-08-05 04:59] thockin commented on #27097
@yujuhong #1 is simpler - do you think it is viable?  Can we do #1 now and do #2 if and only if we have to?

[2016-08-05 05:39] krmayankk commented on #29838
@kubernetes/team-ux @bgrant0607  can someone assign this bug to me
I quickly checked and i dont see any issues in the following files
pkg/kubectl/resource_printer.go
pkg/kubectl/sorted_event_list.go
but still the sorting doesnt appear correct. Will investigate this further and get back unless someone has some additional hints to drop for me

[2016-08-05 05:49] erictune commented on #12520
This issue was about a different question: whether kubernetes would have a role-based auth model.  We are adding that: http://kubernetes.io/docs/admin/authorization/#rbac-mode

To answer your question: no, there is no support for using password auth to talk to etcd.  Just certs, via these options:

       --etcd-cafile="": SSL Certificate Authority file used to secure etcd communication
      --et

[2016-08-05 05:53] jingxu97 commented on #29903
@mwuertinger @mesmerizingr, thank you for reporting your issue. Yes, we
recently fixed a few issues for mounting/umounting volumes in v1.3.3. The
fix is already in v1.3.4. Please upgrade to v1.3.4 and kindly let us know
if you still have problems.

Jing

On Thu, Aug 4, 2016 at 7:46 AM, Roman <notifications@github.com> wrote:

--
- Jing

[2016-08-05 06:02] caesarxuchao commented on #30110
Those different flavors of ObjectMeta will be versioned, right? And we know the mapping between a Kind to its version of ObjectMeta, so I think we can decode it. What did I miss?

[2016-08-05 06:02] #30103 closed

[2016-08-05 06:20] philipn commented on #26567
I don't think this functionality (I consider it functionality, not a bug, because it was documented to behave this way) should be removed without offering a replacement behavior.  With this functionality removed, there will be no ability, within the Kubernetes universe, to seamlessly update stateful services.

We can't be the only people depending on the ability to mount a volume in multiple Pods

[2016-08-05 06:26] paurullan commented on #24317
I stumbled with this issue and seem to be stuck since we use the hosted master in GKE instead of deploying the cluster ourselves in GCE.

I have asked this around but seems not to getting any answers.
http://serverfault.com/questions/794897/change-kube-max-pd-vols-env-var-in-master-gke

What would it be a workaround for hosted kubernetes?

[2016-08-05 06:31] thockin commented on #26567
On Thu, Aug 4, 2016 at 11:21 PM, Philip Neustrom
<notifications@github.com> wrote:

I promise we will try not to leave you twisting :)

Yeah.  Early on we thought it was clever.  We have learned better.

This is NOT a property of the PV, it is a property of the application
USING the PV.  That is what we are failing to represent right now.

This is incompatible and semantically incorrect.  This is

[2016-08-05 06:32] philipn commented on #26567
I don't think this functionality (I consider it functionality, not a bug, because it was documented to behave this way) should be removed without offering a replacement behavior.  With this functionality removed, there will be no ability, within the Kubernetes universe, to seamlessly update stateful services.

We can't be the only people depending on the ability to mount a volume in multiple Pods

[2016-08-05 06:33] thockin commented on #24317
I don't think we have a great workaround at the moment.  Can you use more machines, but smaller with less PDs?

[2016-08-05 06:36] dchen1107 commented on #30117
@streamnsight today Kubelet detects
1) if the runtime is running. If not, it reports the node is not ready due to runtime is down
2) if the runtime is running, but the version is below the minimal support version, it reports node is not ready too.

For 1.3 release, sig-node team validate both docker 1.11.x and docker 1.10.X, but both have some issues which are documented as known issue of the runt

[2016-08-05 06:42] dchen1107 commented on #30106
@sbezverk If possible, could you please provide the following information:

1) Run your container through rc, then run command kubectl get -o yaml pods <pod-id>
2) Run your container as daemonset, then run command kubectl get -o yaml pods <pod-id>
3) Run your container as daemonset,  run kubectl logs --previous pod-id container to retrieve previous terminated container's log

[2016-08-05 06:44] thockin commented on #27161
@ashmere that's a complex setup.  why are you using flannel on GCE?  The node controller already knows how to handle GCE routing.  It smells like duplicate routes, to me.

[2016-08-05 06:46] paurullan commented on #24317
@thockin thank you for your time!

We are already using a very small machine ( n1-standard-2, 2cpu+7.5GB ) because in our experience kube-proxy  and colleges consume a constant amount of memory and in even smaller images the expense is too high.

So another node will be.

[2016-08-05 06:59] nhlfr commented on #25417
Can we close this issue?

[2016-08-05 07:01] streamnsight commented on #30117
my point was that one is supposed to be able to update kubelet on a live node. if kubelet is upgraded and is running, even though it can't do its job because the runtime is below required version, it 'looks' like kubelet upgraded successfully... but the node is reported as not ready and pods fail.

if kubelet would fail on mismatched version, it's clear that something is wrong, and there is time t

[2016-08-05 07:11] thockin commented on #24317
How many PDs are you trying to attach to a 2-core VM?

On Thu, Aug 4, 2016 at 11:47 PM, Pau Ruŀlan Ferragut <
notifications@github.com> wrote:

[2016-08-05 07:12] Random-Liu opened #30122 "Node Conformance Test Planning"
# Background

**Node Conformance Test** is a test suite testing whether the node meets the minimum requirement of Kubernetes. it is aimed to validate whether a node is qualified to join the Kubernetes cluster, so as to:
- **Help user bring their own nodes into the cluster.** The user should make sure their nodes can pass node conformance test before bringing them into the cluster.
- **Help the thi

[2016-08-05 07:20] sttts commented on #26210
@MHBauer there should be some backtraces from the apiserver above in this issue. It's a pretty basic go http proxy. The backtraces did not really help to understand this further.

[2016-08-05 07:21] k8s-merge-robot opened #30124 "[k8s.io] Downward API volume should update annotations on modification [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/7834/

Failed: [k8s.io] Downward API volume should update annotations on modification [Conformance] {E2eNode Suite}

[code]

[2016-08-05 07:27] paurullan commented on #24317
@thockin I found the problem when the count was on 18 (the limit is currently on 16).
With the current plan I was hoping to put 28 (still less than the 32/64 this node supports).

[2016-08-05 07:39] jszczepkowski commented on #28900
Pulling image takes too long:

[code]

[2016-08-05 07:48] k8s-merge-robot opened #30127 "[k8s.io] V1Job should fail a job {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30114/kubernetes-pull-build-test-e2e-gce/52012/

Failed: [k8s.io] V1Job should fail a job {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #30114.

Previous issues for this test: #27704

[2016-08-05 07:55] nebril commented on #25417
@nhlfr not sure, it seems like @akashgangil is having this issue again.

[2016-08-05 08:07] Random-Liu commented on #21125
This should have been fixed in #21224. Close this one.

[2016-08-05 08:07] #21125 closed

[2016-08-05 08:25] sttts commented on #30078
Looking into this...

[2016-08-05 08:37] fabxc commented on #29323
Thanks for the input. To be clear, I'm a Prometheus maintainer and hence biased. But I really care about having the best possible solution here regardless of which monitoring system is being used.

We also thought about providing different metric endpoints. I don't believe it's best practice in general but could see people wanting/needing that.
Security concerns should probably be addressed along

[2016-08-05 08:48] k8s-merge-robot opened #30131 "[k8s.io] Networking [k8s.io] Granular Checks should function for pod communication between nodes {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12623/

Failed: [k8s.io] Networking [k8s.io] Granular Checks should function for pod communication between nodes {Kubernetes e2e suite}

[code]

[2016-08-05 09:04] mwuertinger commented on #29903
Thanks for confirming, @jingxu97
We're on Google Container Engine so we have to wait until they approve `v1.3.4` there.

[2016-08-05 09:09] k8s-merge-robot opened #30132 "[k8s.io] Downward API volume should update labels on modification [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/7841/

Failed: [k8s.io] Downward API volume should update labels on modification [Conformance] {E2eNode Suite}

[code]

[2016-08-05 09:38] kenan435 commented on #30065
@vishh we really are just trying to make sure that the self-hosted api-server is up and running at all times, so that kubelet/etcd can communicate with each other and maintain the cluster state. API-server itself being self-hosted needs a way to restart in case of failure. Kubelet not being able to communicate with the etcd server through the api-server prevents this from happening. How the self h

[2016-08-05 09:42] hanikesn commented on #29749
Any chance to get this backported for 1.3? I tried cherry picking it, but it didn't apply cleanly.

[2016-08-05 09:51] kenan435 commented on #30065
@lavalamp agree, seems we are not respecting the separation of concern here. Having a dedicated pod that is responsible for this or perhaps having the Api-server checkpoint itself would be a better solution?

When taking a snapshot of the running api-server we are persisting important info like etcd server ip address for example. The api server definition can also change over time, or have custom

[2016-08-05 10:36] sttts commented on #30078
@kevin-wangzefeng trying to track this flake down. It looks like the pod is launched despite AntiAffinity in `validates that InterPodAntiAffinity is respected if matching 2`.

In my local setup I saw the same, but noticed that the new `LimitPodHardAntiAffinityTopology` admission controller was not activate. I have activate it and now get this:

[code]

[2016-08-05 11:14] xinuc commented on #27885
we downgraded kubernetes to 1.2.6 but keep using docker 1.12, and the problem disappear.

so it's kubernetes 1.3's issue.

[2016-08-05 11:24] pskrzyns commented on #29913
cc @lukasredynk @jjlakis

[2016-08-05 11:26] jkemp101 commented on #13479
Thanks for updates.  I think I have another workaround using a hostpath instead of emptydir.  I can point hostpath to a dedicated shared tmp volume.  I will create a subdirectory with world writeable permissions so all pods/processes can use it even if they aren't running as root.

[2016-08-05 11:27] nhlfr commented on #29727
Setting `API_HOST` still doesn't resolve this issue for me, I'm still getting:

[code]

[2016-08-05 11:28] sbezverk commented on #30106
@dchen1107 It turned out that replication controller also shows the similar issue :(
Here is the link to requested information.
[Collected logs](http://paste.openstack.org/show/550400/)
Let me know if additional info is required.

[2016-08-05 11:30] #30109 closed

[2016-08-05 11:52] ged15 commented on #29997
@freehan the IP is set correctly, it's the source IP range that is being ignored.
I have been told on Slack, that this feature still does not work on GKE. Is that true? If so, is there a plan to enable it? :)

[2016-08-05 11:57] sbezverk commented on #30106
@dchen1107 Interesting observation, if I start the process inside of a container with this script,
#!/bin/bash

sleep 1
/usr/sbin/ovsdb-server /etc/openvswitch/conf.db -vconsole:emer -vsyslog:err --remote=punix:/run/openvswitch/db.sock -vfile:info --log-file=/var/log/kolla/openvswitch/ovsdb-server.log

it works perfectly on both compute nodes.

[2016-08-05 12:16] deads2k commented on #29794
I think hyphen-less too.

[2016-08-05 12:19] argusua commented on #29750
Fixed by removing labels `kubernetes.io/cluster-service: "true"` from configuration files.

[2016-08-05 12:26] hodovska commented on #30016
These informers are already implemented and are not used in following controllers yet
**NodeInformer**
  - [ ] NodeController
  - [ ] DaemonController

**NamespaceInformer**
  - [ ] NamespaceController
  - [ ] ServiceAccountsController

**PodInformer**
  - [ ] DeploymentController

[2016-08-05 12:27] hodovska commented on #30016
Informers which could be implemented and used in controllers:
- [ ] **DaemonSetInformer**
  - DaemonSetsController
  - NodeController

- [ ] **ReplicaSetinformer**
  - ReplicaSetController
  - DeploymentController

- [ ] **SecretInformer**
  - ReplenishmentController
  - TokensController

- [ ] **ServiceInformer**
  - EndpointsController
  - ReplenishmentController

- [ ] **ServiceAccountInformer*

[2016-08-05 12:32] nhlfr commented on #29148
I encountered this issue too. My proposition is to set unknown state with message about network failure.

@kubernetes/sig-network please let me know whether you agree with this approach.

[2016-08-05 12:37] soltysh commented on #30127
Still the same gke problem from #28656.

[2016-08-05 12:37] #30127 closed

[2016-08-05 12:44] deads2k commented on #30016
Thanks @hodovska, that will help a bunch.

[2016-08-05 12:51] jszczepkowski commented on #28713
I hit another [flake](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29995/kubernetes-pull-test-unit-integration/37943/) with this test:
[code]
Is it related to the original problem?

[2016-08-05 12:53] runseb commented on #28929
@smarterclayton so if we want to watch for services being created we should use a watch api and not the equivalent of `kubectl get events` ?

[2016-08-05 13:00] nhlfr commented on #15853
Unfortunately, it seems to be tricky to fix with all the reflection stuff which is used inside resource printer.

The thing is, that in `pkg/kubectl/cmd/get.go` we have a list of `runtime.Object`. And then the single elements of this list are passed here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource_printer.go#L2159-L2187

Resource printer is doing reflection on the fi

[2016-08-05 13:03] gmarek commented on #29064
Cherry-pick merge. Closing.

[2016-08-05 13:03] #29064 closed

[2016-08-05 13:03] soltysh commented on #29998
Thanks for the pointer, will definitely dig there.

That is always needed when adding new version :wink:

[2016-08-05 13:15] ekso8 opened #30139 "nslookup: can't resolve 'kubernetes.default.svc.cluster.local'"
**Hi all!
I've got a problem and I can't find resolve...
I've install kube-dns:v19**

### apiVersion: v1
kind: ReplicationController
metadata:
  name: kube-dns-v19
  namespace: kube-system
  labels:
    k8s-app: kube-dns
    version: v19
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: kube-dns
    version: v19
  template:
    metadata:
      labels:
        k

[2016-08-05 13:18] wojtek-t commented on #30068
@smarterclayton - are you sure that we we will be able to launch etcd3 (for new clusters) in 1.4 release?
It seems it might be difficult.

On the other hand, it seems that switching on protobufs is just a matter of testing (or am I missing something?). And the pure non-upgrade tests we have already setup of for few months. So assuming that we won't do migration (which we can do thanks to recognizi

[2016-08-05 13:26] gmarek commented on #29845
This caused failure of MaxPods https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1825, so it seems like a real thing. @dchen1107 @davidopp

[2016-08-05 13:26] gmarek commented on #29820
Dupe of  #29845

[2016-08-05 13:33] rata commented on #27885
On Fri, Aug 05, 2016 at 04:15:11AM -0700, Nugroho Herucahyono wrote:

A kernel bug seems more like a kernel issue :)

What kernel version? Can you upgrade your kernel and see if the issue persist
with k8s 1.3?

[2016-08-05 13:47] jonathan-kosgei opened #30140 "Feature; if kubernetes created the folders that didn't exist in the paths for nfs mounts"
With:
[code]

It would be great if I could swap `jonathan` with the name of another user say `dan` and have `/storage/dan/helloworld/wordpress` created or if `jonathan` has other wordpress sites he'd like to use the same nfs server eg. `/storage/jonathan/companyblog/wordpress` and `kubernetes` would create those paths on the nfs server.

I'm creating the folders manually on the nfs server atm.

[2016-08-05 14:01] wojtek-t commented on #30078
Should be fixed by https://github.com/kubernetes/kubernetes/pull/30135

[2016-08-05 14:01] #30078 closed

[2016-08-05 14:07] timothysc commented on #30068
@wojtek-t I should have https://github.com/kubernetes/kubernetes/pull/29399 ready today.  There will need to be follow on work, but we're committed and have been working with the CoreOS folks to get this thing working.

/cc @xiang90 @hongchaodeng

[2016-08-05 14:10] smarterclayton commented on #30120
Posix allows dot env vars, but bash won't let you use them.  Since your container interface is much more towards the underlying POSIX I think it's reasonable to relax and allow dot for env var names.

[2016-08-05 14:13] smarterclayton commented on #13479
We can move this to that issue, but disk quota without over commitment
isn't useful for us (and I suspect, not useful for many practical
users of quota).

[2016-08-05 14:13] bgrant0607 commented on #29838
@krmayankk I invited you to the org. Once you accept the invitation, issues and PRs can be assigned to you.

[2016-08-05 14:19] smarterclayton commented on #13479
Also, I was not implying gid was the solution, I was pointing out the
execution path discussed in that doc depended on eviction being prior
to enforcement.

[2016-08-05 14:19] k8s-merge-robot opened #30142 "[k8s.io] SchedulerPredicates [Serial] validates that InterPodAntiAffinity is respected if matching 2 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1869/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAntiAffinity is respected if matching 2 {Kubernetes e2e suite}

[code]

Previous issues for this test: #30078

[2016-08-05 14:27] smarterclayton commented on #30110
If we have to know the mapping in the future, why hardcode a
potentially incorrect assumption now?  Why not implement the minimal
path that correctly identifies how to get ObjectMeta in schema X from
kind Y?

I ask because we already have some overlap here with ListOptions and
status - naive client needs to fetch things cross version group, and
so some mapping between group -> sub schema is necess

[2016-08-05 14:31] smarterclayton commented on #30025
Wasn't the memory trace from combined controller and API server?  My
bad then if not (versioning on client side removes half of *all*
allocations, but not half of server allocations)

[2016-08-05 14:31] aveshagarwal commented on #30124
I ran this test a few times manually, and It seems, I see it failing:

[code]
The container shows similar logs:
[code]

And I am looking into kubelet logs to see whats going on.

[2016-08-05 14:32] smarterclayton commented on #28929
Yes

[2016-08-05 14:40] ravilr commented on #30140
this should be somewhat possible by specifying a 'subPath' field in volumeMount of your containers, since v1.3.0 version:
https://github.com/kubernetes/kubernetes/blob/release-1.3/api/swagger-spec/v1.json#L18270

I couldn't find any example in the repo, except this comment from the author of this feature here: https://github.com/kubernetes/kubernetes/issues/20466#issuecomment-192526797

[2016-08-05 14:43] dims commented on #30124
Another PR https://github.com/kubernetes/kubernetes/issues/30132 is probably related to this one

[2016-08-05 14:49] dshulyak commented on #25142
@janetkuo What do you think about editing deployment on `kubectl rollout start` ?

[2016-08-05 14:55] aveshagarwal commented on #30124
@dims Yes both are related.

[2016-08-05 14:59] sjenning commented on #30124
@aveshagarwal could be because the default kubelet --sync-frequency=1m0s and the timeout on the test is 45s?

[2016-08-05 15:08] erinboyd commented on #13479
Seems we would need something more granular than project quota, as a
project could entail multiple storage sources. GID seems to git more inline
with a true filesystem, though you could also have the scenario where
multiple users across different projects with the same GID are consuming
the same resource.

Seems like we have to have a combination of the two.

On Fri, Aug 5, 2016 at 8:19 AM, Clayto

[2016-08-05 15:12] jonathan-kosgei commented on #30140
Interesting, from the link:

Doesn't this imply though that the path would have to exist within the volume? Which would mean I still have to `mkdir -p` all the paths to the storage folders on the nfs server?

[2016-08-05 15:16] smarterclayton commented on #13479
I would assume project quota in this context was specific to the pod -
having a concept that spans pods is probably something we want to avoid
(even though the openshift XFS implementation does span pods) because
schedulers and other parts of the system can't reason about it.  Per pod
quota for emptydir seems most correct.

On Fri, Aug 5, 2016 at 11:08 AM, Erin A Boyd <notifications@github.com>
wr

[2016-08-05 15:16] jonathan-kosgei commented on #30140
Still a very cool feature, can't get over that :-)

[2016-08-05 15:31] jayunit100 commented on #30113
thanks for noting this - if there is a common progenitor to all make tasks we could do that.. ill be context switching till the 15th but maybe can look this wknd.

[2016-08-05 15:42] dshulyak opened #30144 "Use nsinit or runtime specific method instead of nsenter in kubenet"
nsinit is better alternative as it is a part of libcontainer, also it is relatively easier to install

Or even better change implementation so that this method would be a part of runtime, so for example to get ip in docker we can use `docker exec`

I am willing to work on this, but want to know if it makes sense

[2016-08-05 15:48] aveshagarwal commented on #30124
It seems to me that in node e2e, kube-apiserver process is not being cleaned cleanly causing subsequent tests to fail.

[2016-08-05 15:49] aveshagarwal commented on #30124
My guess is that clearning kube-apiserver server process in node e2e cleanly should help with this and https://github.com/kubernetes/kubernetes/issues/30132 flakes.

[2016-08-05 15:57] thockin commented on #24317
OK, yeah, you're pretty far out there :)  This is not the most common use
case :)  I wish I had a better answer for you, but we just don't have a
generic resource for this yet.

@davidopp

On Fri, Aug 5, 2016 at 12:28 AM, Pau Ruŀlan Ferragut <
notifications@github.com> wrote:

[2016-08-05 15:57] bboreham commented on #17532
Happened to me today - tried to create a DaemonSet and it had `kubernetes.io/cluster-service: "true"` because I was copy-pasting and didn't check what that might mean.  No way I would have figured it out without help from folks on Slack.

[2016-08-05 15:58] #28929 closed

[2016-08-05 16:11] MrHohn commented on #28525
I'm working on adding the same feature --- stable external DNS entries support --- for the gce package.

[2016-08-05 16:15] xiang90 commented on #30025
If you watches outside of the dir, then yes you will only see the deleted dir, not each keys.

For etcd3, you will see everything.

[2016-08-05 16:17] thockin commented on #28525
OK.  Let's make sure we use these issues as interlocks - duplicating
efforts is no fun.

On Fri, Aug 5, 2016 at 9:12 AM, Zihong Zheng <notifications@github.com>
wrote:

[2016-08-05 16:17] dcbw commented on #29148
Great question... I don't think the docker manager should be ignoring errors from the network after steup, but this was probably done because determineContainerIP() is called from inspectContainer() which is used in a ton of places, including potentially before the network has been set up.

[2016-08-05 16:20] #28734 closed

[2016-08-05 16:22] davidquarles commented on #28525
stoked someone is working on this!

[2016-08-05 16:29] k8s-merge-robot opened #30146 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/4563/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938 #27595

[2016-08-05 16:38] caesarxuchao commented on #28713
@jszczepkowski that's a different problem. I'll take a look. Thanks.

[2016-08-05 16:42] dakoner opened #30148 "Image pull failures should include the error cause."
I am using Kubernetes via Google Container Engine.  I have two projects.  I build images using the first project, and uploaded them to Google Container Registry.  In the second project, I created a new cluster, and create a pod in the cluster with a container that references the image.

The pod fails to start.  To debug this, I used the "kubectl proxy" command to create a local server that can acc

[2016-08-05 16:42] timothysc commented on #30025
Not in the data above.  The profile is surprisingly similar for controller + apiserver.

[2016-08-05 16:43] freehan commented on #29997
@ged15 The source IP ranges works as expected on my GKE cluster.

I wonder if this is related to GKE upgrades, because my cluster is a brand new one.

[2016-08-05 16:46] smarterclayton commented on #30025
Which is using more memory right now, controller or apiserver?  If the
former, versioned clients is a net win (and would be a shorter term fix).
If the latter, it's not.

On Fri, Aug 5, 2016 at 12:42 PM, Timothy St. Clair <notifications@github.com

[2016-08-05 17:08] #30098 closed

[2016-08-05 17:09] erictune commented on #29749
I created this cherry pick:
https://github.com/kubernetes/kubernetes/pull/30149

[2016-08-05 17:10] vishh commented on #13479
Per pod is what I'm thinking too. Project quota across local-disk volumes,
root filesystem, logging directories, etc., per-pod will be very useful to
begin with.

On Fri, Aug 5, 2016 at 8:16 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-08-05 17:16] pwittrock commented on #30097
@mcandre Is this something you know how to do or would willing to contribute?  We would also like to publish kubectl on homebrew?

[2016-08-05 17:18] pwittrock commented on #30097
subscribe @pwittrock

[2016-08-05 17:20] pwittrock commented on #30019
@moander Would you add this to #29794

[2016-08-05 17:20] #30019 closed

[2016-08-05 17:26] pwittrock commented on #23597
Any number greater than 0 is better than the current infinite.  My big concern here is for automated systems that build and release a dev version on every commit (possibly dozens per-day).  The I doubt the overhead of 2-3 additional RS's is very high.  I would vote for the original + 2-3 in case the user tries to fix a broken release with doing 1-2 additional patches before giving up and rolling b

[2016-08-05 17:27] pwittrock commented on #29941
Closing as a dup.

[2016-08-05 17:27] #29941 closed

[2016-08-05 17:28] yujuhong commented on #30148
I think we can do a better job of surfacing the errors in the pod status directly. For now,
`kubectl describe pod <pod_name>` should show you both the pod status and the events relevant to the given pod.

[2016-08-05 17:29] jingxu97 commented on #26567
@smarterclayton From the workflow we have now, it seems like if a PVC is recreated with the same name and bound to a different PV, kubelet will attach/mount the second PV too without cleaning the first PV mount and information. I think this behavior will happen no matter kubelet restarts or not.
Also @thockin besides through kubectl command line, I think user can update pod through the source file

[2016-08-05 17:35] mtaufen opened #30150 "`make quick-release` fails with `KUBERNETES_CONTRIB=mesos`"
I get the following error:
[code]

This does not occur with `make` and `KUBERNETES_CONTRIB=mesos`.

I think this was probably what initially produced #29865.

/cc @k82cn

[2016-08-05 17:41] bprashanth opened #30151 "Ingress claims"
The initial ingress proposal hinted at this (https://github.com/kubernetes/kubernetes/pull/12827/files#diff-41f2bde570ebc813183b7cd0a96a7e04R106) and I'm starting to see a need for it as Ingress evolves.

We need a way to claim a DNS name and bucket it to a QoS tier so you can say "I want a bronze ingress to loadbalance foo.com" and not have to worry about:
- any one else stealing foo.com
- what p

[2016-08-05 17:46] bprashanth commented on #30151
Ports are an open question. Many cloudproviders restrict requestable ports, but if we allow L4 ingress we need an exclusive lock on an arbitrary port.

[2016-08-05 17:47] jayunit100 commented on #30113
After looking a little and refreshing myself, we use `go generate` in the compilation of `gobindata_util.go`.

- The *advantage* of this is that there is no imperative logic on when to generate the binary representation of the static data.
- The *disadvantage*, as you mentioned, is that if more than one directory compiles `test/e2e/`, the generation will be done.  This leads to redundant work (eac

[2016-08-05 17:54] dchen1107 commented on #28362
Close this as unproducible.

[2016-08-05 17:54] #28362 closed

[2016-08-05 17:58] ramitsurana commented on #30063
Thanks @smarterclayton for the information on podex. I think

[2016-08-05 17:58] #30063 closed

[2016-08-05 18:07] #14071 closed

[2016-08-05 18:13] timstclair commented on #30113
There's some pretty complicated logic (that I don't understand) in https://github.com/kubernetes/kubernetes/blob/master/Makefile.generated_files. For now, it might be sufficient to just move the generation command into that make rule (generated_files). But I do agree that it's fast enough that this is low priority.

[2016-08-05 18:13] ravilr commented on #30140
you still need to have the base export path on the nfs server pre-setup. kubernetes will create the subpaths specified in each pod.

from your example:
[code]
after the above pod is binded, you would see kubernetes mounted  172.1.2.6/storage/workdpress/jonathan/helloworld under /wordpress path inside the container.

[2016-08-05 18:17] Random-Liu commented on #30132
This should be https://github.com/kubernetes/kubernetes/issues/29633. It's quite flaky after moving to node e2e test.

Can we mark this as Flaky test before it is fixed? @saad-ali

[2016-08-05 18:23] freehan commented on #29997
Can you confirm the following?
For the `0.0.0.0/0` rule, does its name look like `k8s-fw-${Name of the Loadbalancer}`? Does `${Name of the Loadbalancer}` matches the service loadbalancer name?

[2016-08-05 18:27] k8s-merge-robot opened #30156 "[k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to add nodes {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1916/

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to add nodes {Kubernetes e2e suite}

[code]

Previous issues for this test: #27470

[2016-08-05 18:30] aveshagarwal commented on #30124
it appears that killing the sudo process that starts kube-apiserver process is not killing the kube-apiserver process.

[2016-08-05 18:47] k8s-merge-robot opened #30157 "kubernetes-soak-continuous-e2e-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/8058/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON NodeAffinity setting as a string in the annotation value work {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29816 #30018

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8

[2016-08-05 18:50] chrislovecnm commented on #10439
cc: @allenhurff @fandingo

[2016-08-05 19:04] aveshagarwal commented on #30124
I think this should be fixed with https://github.com/kubernetes/kubernetes/pull/29685 .

On my machine, I can reproduce these flakes only when there is kube-apiserver process left over from previous node e2e test runs. And the reason is that kube-apiserver process is started a child of sudo in  test/e2e_node/e2e_service.go but sudo ignores signals from the same process group. The above pr seems to

[2016-08-05 19:22] philipn commented on #26567
RE: "This is incompatible and semantically incorrect.  This is requesting a
PV that "at least" RWX, but RWO is "less than"." -- I added some more detail to my revised comment above, but I think they came in before GH emailed.

What I was saying is that, if a PV access mode describes the constraints of the _volume_ and how it should attach to a _node_, then the PVC could describe its own, separate

[2016-08-05 19:42] markturansky commented on #26567
Yes, sort of.

If the PV is *described* with the modes it has and a PVC is a *request* for a volume with certain modes, then the place you want to specify *how* you use it (in what mode) is the PVClaimVolumeSource.

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L278

The pod uses the PVClaimVolumeSource to reference their claim.  The scheduler can inspect the PVClaimVolumeS

[2016-08-05 19:54] smarterclayton commented on #23597
At most 5, at minimum 2.  How about 3?

On Fri, Aug 5, 2016 at 1:26 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-08-05 20:00] timothysc commented on #30025
pid-stat-data says api-server on this run, but only by a small margin once it's loaded.

Another note, is that it's not fully loaded, this was a comparison run against previous release data.

[2016-08-05 20:04] bprashanth opened #30158 "Consistently set/clear SelfLink for both new/old objects passed to validateUpdate"
I noticed we seem to be inconsistent in writing selfLink to etcd, for example:

[code]

This means the "old" object given to `strategy.validateUpdate` call probably differs from the "new" object with regards to SelfLink, meaning a reflect.DeepEqual(oldMeta, newMeta) will fail.

I didn't debug much further. I ran into it debugging a petset issue. Perhaps it's something the resource authors failed t

[2016-08-05 20:07] timothysc commented on #29132
we will need to rev to 3.0.4 once https://github.com/kubernetes/kubernetes/pull/29399 is done.

[2016-08-05 20:13] ardnaxelarak opened #30159 "Logs doesn't respect container's tty setting"
While attempting to do some work on #28695, @MHBauer and I discovered a separate issue that was causing the date command to fail while running `kubectl run test --rm --restart=Never -it --image=ubuntu -- date`:

[2016-08-05 20:38] k8s-merge-robot opened #30161 "kubernetes-e2e-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/7238/

Multiple broken tests:

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD, ungracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28984

Failed: [k8s.io] Pods should have their auto-restart back-off timer reset on im

[2016-08-05 20:49] mikedanese opened #30163 "kubectl should support CertificateSigningRequest"
The basic crud ops are a bit wonky right now:

[code]

We should also consider adding some porcelain commands:

[code]

We also need to implement a describer.

ref https://github.com/kubernetes/features/issues/43

cc @gtank @kubernetes/sig-cluster-lifecycle

[2016-08-05 20:49] davidopp commented on #27097
Splitting cAdvisor into a part that handles core metrics and is compiled into Kubelet, and a part that runs as a separate pod and handles everything else (including custom metrics) and is interchangeable with other collection agents, seems reasonable to me.

I didn't fully understand why container vs. pod was the criteria you are using to split non-core metrics vs. core metrics, but it sounds like

[2016-08-05 20:51] davidopp commented on #18770
We could avoid making Heapster handle two sources if we say that the non-core monitoring agent must supply a super-set of the metrics provided by core cAdvisor (either by fetching from core cAdvisor and merging with its own metrics, or something else).

[2016-08-05 20:57] bgrant0607 commented on #19680
I don't remember whether it is specifically mentioned somewhere else, but we need a developer-facing version of:
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md

[2016-08-05 20:58] ixdy commented on #30157
I've scheduled the GKE soak cluster to be rebuilt.

[2016-08-05 20:58] #30157 closed

[2016-08-05 20:58] ixdy commented on #30111
I've scheduled the GCE soak cluster to be rebuilt.

[2016-08-05 20:58] #30111 closed

[2016-08-05 20:59] Random-Liu commented on #30124
@aveshagarwal In our test infra we start a new node each time we run test, so there shouldn't be apisever left over.

IIUC, this is https://github.com/kubernetes/kubernetes/issues/29633.

[2016-08-05 21:09] chuckbutler commented on #8313
@cusspvz - I've folded your work in and it's a great start. I'm hacking through the other OSX incompatibilities we've found in the util.sh, namely that OSX doesn't have a GNU compliant readline. #TIL that we have a lot further to go to support the major flavors.

I'm going to fold in that work, and submit as a new PR, but I'll be sure to give you credit for the effort done, and will link against t

[2016-08-05 21:09] aveshagarwal commented on #30124
@Random-Liu ok then probably the race is somewhere else and apiserver left over is not the root cause then.

Actually, on my local setup, I can reproduce these flakes very consistently due to api server left over, so suspected it one of the reasons.

[2016-08-05 21:21] yujuhong commented on #27097
I think it's viable. Let's wait it out and see if other tasks will make progress in the meantime. I'm a bit unsure that the standalone cadvisor work will be picked up anytime soon though.

[2016-08-05 21:26] #24555 closed

[2016-08-05 21:27] grodrigues3 commented on #24555
The bot now automatically adds labels to the K8s repo.  [https://github.com/kubernetes/contrib/issues/1432](url)

[2016-08-05 21:28] luxas commented on #29904
I really need some Go guru to help here, maybe @smarterclayton @jfrazelle @rsc @davecheney and/or @wojtek-t

also cc @kubernetes/sig-api-machinery

[2016-08-05 21:32] luxas commented on #30144
Would this remove the `nsenter` dependency?
ref #26093

cc @kubernetes/sig-node

[2016-08-05 21:34] ncdc commented on #30144
cc @mrunalp

[2016-08-05 21:34] freehan commented on #29997
Okay. I think I understand the problem now. Will apply a fix soon.

[2016-08-05 21:35] luxas commented on #30017
cc @luxas

Right now we're `sed`-ing `-amd64` with `-${GOARCH}` when processing the templates, for example in the hyperkube image

[2016-08-05 21:39] luxas commented on #16508
Q: Is there anyone that wants to implement this for v1.4?
I'm asking because it's marked P1 and v1.4, but it's without assignee(s)

-------
Different proposal:
We could also split it in three logical binaries
 - `kube-master`: apiserver, controller-manager, scheduler, federation-apiserver, federation-controller-manager
 - `kube(-node)`: kubelet, kube-proxy and kube-bootstrap things
 - `kubectl`: d

[2016-08-05 21:43] therc commented on #29323
@fabxc I was just picturing possible objections from others. At my previous job, my team had the largest monitoring system in the company and, in the name of insight, it used more resources on its own than most companies out there use to run entire businesses. :-)

I meant arbitrary in the sense that Kubernetes would be dictating a specific format, but, as you say, it works pretty well, being a re

[2016-08-05 21:44] yujuhong commented on #29579
@ncdc @euank @feiskyer can we just add a resize stream in attach/exec in CRI, and let kubelet proxy the resize requests to the runtime? That way, runtime can handle the resize stream however it likes. Does this make sense?

[2016-08-05 21:45] luxas commented on #29132
@timothysc Okay, just send a PR that updates the tag and ping some googler to push it.

[2016-08-05 21:47] timothysc commented on #29132
ack.

[2016-08-05 21:48] mrunalp commented on #30144
If using docker 1.11+, then runc exec would be the best light weight option.
There should be an executable called docker-runc in the PATH.
So, one could just docker-run exec container-id command

[2016-08-05 21:50] luxas commented on #30144
I think we have to support 1.10 in v1.4
... and other runtimes of course! What about rkt?

[2016-08-05 21:55] yujuhong commented on #30144
AFAIK, We won't drop docker v1.10 support in v1.4.

By the way, we are discussing the potential of pushing networking down to the runtime (#28667) for the CRI work. In which case, kubenet may eventually become part of the docker subpackages in kubelet.
/cc @freehan

nsenter is also used in exec, portforward, etc, in both the dockertools and the rkt packages.

[2016-08-05 21:57] mrunalp commented on #30144
nsenter would be the least common denominator across runtimes but comes at the cost of not being accounted to cgroups

[2016-08-05 21:58] luxas commented on #30144
Is there a way we could "convert" the nsenter C code to Go, by sending the same syscalls etc.?
Or is it possible to "vendor in" it via cgo?

[2016-08-05 21:59] smarterclayton commented on #28658
What's interesting is that active/passive there should only ever be one "ready" item.  But readiness is a pod condition, not a port condition, so we can't apply different rules necessarily to readiness per container / port per service.

Another thought - most active/passive sets are for things that are not innately HA and need fencing / safety guarantees in place.  If we assume fencing is solved a

[2016-08-05 22:02] euank commented on #30144
@luxas I believe that @steveej has code in [this CNI package](https://github.com/containernetworking/cni/tree/master/pkg/ns#namespaces-threads-and-go) for that, so already done.

I think he's also mentioned a few times that we should be using it here :)

[2016-08-05 22:04] mrunalp commented on #28667
@thockin Is it a question of having the runtime call the right networking plugin or delegating networking altogether? For network namespaces based runtimes, networking is nicely separated from the rest of the runtime and plugins could be switched easily so there might be merit to letting the kubelet handle it.

[2016-08-05 22:06] mrunalp commented on #30144
While locking OS Thread works for network namespace, it doesn't work for joining other namespaces so we need to use a C contructer like it is done in libcontainer. So, I don't see the value in rewriting a least common denominator tool in Go, as most of the code would end up being in C anyways.

[2016-08-05 22:07] smarterclayton commented on #30158
We've regressed several times, but selfLink should never be in etcd
and *should* be cleared by both create and update flows in their
strategies.  It might have reverted when we stopped mutating in
validation (don't quote me on that).

[2016-08-05 22:09] luxas commented on #30144
@mrunalp Does that mean we may just vendor in `https://github.com/opencontainers/runc/tree/master/libcontainer/nsenter` for the kubelet? How should we call `nsexec` then?

[2016-08-05 22:12] bgrant0607 commented on #24169
@hongchaodeng is working on automatic application of `lgtm` and `approved` labels.

We also need a solution to release-note and cherrypick labels, which was the original impetus for this issue, and any other labels used as part of the PR workflow.

[2016-08-05 22:16] davecheney commented on #29904
What's the line of code that triggers this?

On Sat, Aug 6, 2016 at 7:29 AM, Lucas Käldström <notifications@github.com>
wrote:

[2016-08-05 22:21] smarterclayton commented on #28658
Let me sketch out two active/passive use cases that are related to this and to pet sets:

1. I want to make a VM highly available on a kubernetes cluster by running qemu inside of the pod, and whenever that pod gets deleted by the node controller I want to scale up a new pod, keep the new pod running, then run a migration step that connects between the two pods, then allow the old pod to terminate

[2016-08-05 22:21] luxas commented on #29904
@davecheney https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/abac/v1beta1/register.go#L29

[2016-08-05 22:22] euank commented on #30144
Citation needed on both of those. nsinit looks like a less flexible/less low-level nsenter from glancing at it. Also, it's removed from libcontainer as of a while ago (https://github.com/opencontainers/runc/pull/8/files .. the docker/libcontainer repo is not maintained anymore afaik).

nsinit is harder to install from my n=1; my package manager installed nsenter.

I'm -1 on switching nsenter to ns

[2016-08-05 22:27] davecheney commented on #29904
looks like that call got inlined into its caller. What is the line of code it's calling?

[2016-08-05 22:29] dcbw commented on #28667
Until there's further convergence around how hypervisor-based "containers" are actually plumbed, I'm not sure its going to be that easy to separate the runtime and the CNI plugin.  However, if they all just use macvtap/tap then maybe it's possible.

In any case, there's continued tension around whether networking should be separate from the runtime for containers too, the plan AIUI for the rkt run

[2016-08-05 22:43] jeremywadsack commented on #30028
Would it be possible to have the replication controller identify that it's starting/terminating due to overlapping labels, note that in the events, and not loop on that? It would be helpful to leave the terminated Pod around long enough to get the event to know why it failed.

[2016-08-05 22:54] cusspvz commented on #8313
Just add the readline package on my commit. :)

[code]

Thank you! Feel free to mention me whenever you need. :)

[2016-08-05 22:59] bprashanth commented on #28658
We'd have to come up with a way to take majority (i.e pods respond with leader=pod-1), which gets complicated because of epochs. The simple answer is to assume a partitioned master knows it is partitioned and responds negative. I'm not sure we can solve this problem completely without doing something really complicated.

I think the best we can do is describe a simple protocol and guarantee that i

[2016-08-05 23:01] k8s-merge-robot opened #30169 "kubernetes-soak-continuous-e2e-gce: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/6315/

Multiple broken tests:

Failed: [k8s.io] KubeProxy should test kube-proxy [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26490

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON NodeAffinity setting as a string in the annotation value

[2016-08-05 23:03] mtaufen opened #30170 "Add ability for ConfigMapVolumeSource to project metadata into a file"
It would be nice to expose e.g. `ObjectMeta.ResourceVersion` in a file in the same directory as the keys projected from your configmap when consuming a configmap as a volume. Right now `ConfigMapVolumeSource` only projects keys from the configmap's `Data` field.

[2016-08-05 23:12] lavalamp commented on #24761
I believe I implemented everything here that is reasonably safe.

[2016-08-05 23:12] #24761 closed

[2016-08-05 23:13] bprashanth commented on #28658
The other way to solve this is to avoid a probe alltogether, and go with ttl'd leases. Pet-0 will 9/10 times get the master lease, every other pet sets a watch on the lease, if they ever see a ttl expiration they all try to grab it. The petset controller just applies the label to the name of the pet in the lease.

This feels like the lease api, and requires all pods to understand the apiserver, th

[2016-08-05 23:23] chrislovecnm opened #30171 "kubelet error couldn't read network stats"
I am getting errors in `/var/log/daemon.log`.

[code]

version:

[code]

I am running the base debian on ec2

[code]

kernel

[code]

kubelet

[code]

dockers running

[code]

@bgrant0607 @thockin which group own kubelete and needs to be cc'ed on this?  node?

[2016-08-05 23:28] chrislovecnm commented on #30171
cc: @genehand because he is not getting enough spam

[2016-08-05 23:32] dchen1107 commented on #27097
@thockin re: https://github.com/kubernetes/kubernetes/issues/27097#issuecomment-237755481
Yes, Option 1 is the approach we chose for now and meanwhile
1. Pod-level cgroup support is under developement (https://github.com/kubernetes/kubernetes/issues/27204). Hopefully we can get it done for 1.4, but for sure in 1.5. We need this w / o CRI work anyway.
2. Standalone cAdvisor (#18770) work will be pi

[2016-08-05 23:36] lavalamp commented on #30158
Agree w/ Clayton.

On Fri, Aug 5, 2016 at 3:07 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-08-05 23:37] bprashanth commented on #30158
Hmm, I should retitle. My main problem is that validation functions should either get (new, old) with both links set or both links cleared. I guess I don't really care if it's in etcd (but itsn't it easier to just store it?).

[2016-08-05 23:48] mrunalp commented on #30144
@luxas, no it isn't that simple. It joins the namespaces that are passed to it over a netlink socket. It needs a wrapper binary like runc to be used.

@euank Yeah, charging nsenter to pod cgroups should improve the situation. Also, it makes sense to use the native exec approach for each runtime whenever possible.

[2016-08-05 23:49] ncdc commented on #30171
We are tracking this here: https://bugzilla.redhat.com/show_bug.cgi?id=1328913. There's some more detailed info as well.

[2016-08-05 23:52] ronnielai opened #30173 "Eviction manager monitoring interval too small"
The eviction manager monitoring interval is set to 10 seconds, which is the same as cadvisor's monitoring interval. This causes eviction manager to evict more pods than needed due to the timing gap between the 2 intervals.

**Test setup**
I set up kubelet with the hard eviction option for nodsfs.available and started 2 pods on the same node. Pod 1 is a do-nothing pod while pod 2 is constantly writ

[2016-08-06 00:04] spxtr commented on #30169
https://k8s-testgrid.appspot.com/google-soak#soak-continuous-e2e-gce&sort-by-failures=

Who owns the soak jobs?

[2016-08-06 00:06] Random-Liu opened #30174 "Node Conformance Test: Package Node Conformance Test"
For #30122.
In 1.4, we plan to provide part of the node e2e test to the user as the node conformance test.

For user adoption, We should package the node conformance test well to make it easy to ship and for the user to use.

After discussion with @dchen1107 and @vishh, here is the current plan:
- [x] #30348 #30540 **Separate node conformance test and its dependencies from node e2e framework.** To

[2016-08-06 00:08] k8s-merge-robot opened #30175 "kubernetes-soak-continuous-e2e-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/8059/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]

Issues about this test specifically: #26982

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding