[2022-04-05 03:15] qixiaobo commented on #85643
I'm a bit confused about this below

I cannot finger out  what is `any terminating endpoint that is ready on that node`
Maybe we should read the code for this question.

[2022-04-05 03:27] MikeSpreitzer commented on #89267
@dims: done, thanks for the pointer.

[2022-04-05 05:49] khatrig commented on #107186
@CzarMich, Were you able to get around this issue?

[2022-04-05 05:51] saihide commented on #85643
maybe like this?
`$ kubectl get pods
NAME                                    READY   STATUS        RESTARTS   AGE
nginx-58b98bb74d-xb6vj     1/1     Terminating            0          9m5s
`

[2022-04-05 06:06] Olli73773 commented on #69041
Hi, is someone working on the issue?
I do not actually add a new  volumeClaimTemplates but I need to resize a existing one. Resizing it self is not a problem but the statefull set is autoscaling enabled and if a new PVC is create it has the wrong size.
I use helm for the deployment and the only way to fix the problem is to uninstall the chart and redeploy with the new setting.
At least a way to ed

[2022-04-05 06:24] jyotimahapatra commented on #109174
@joejulian 👋 1.24 bug triage checking in. I noticed https://github.com/kubernetes/kubernetes/pull/107088 is merged. Are there more PRs remaining? or is this considered done?

[2022-04-05 06:44] timchenxiaoyu opened #109301 "kubelet nil pointer"
### What happened?

kubelet crash

[k8s.io]()/[kubernetes]()/[pkg]()/[kubelet]()/[cm.]()([*qosContainerManagerImpl]())[.setCPUCgroupConfig]()

![image](https://user-images.githubusercontent.com/9782796/161694596-e43a7077-0eae-4c2f-9b5a-86a5fe6d350e.png)

activePods is nil

### What did you expect to happen?

no crash

### How can we reproduce it (as minimally and precisely as possible)?

many time

[2022-04-05 06:46] timchenxiaoyu commented on #109301
sync pod may exec before qosContainerManagerImpl start ,so activePods maybe nil

[2022-04-05 06:48] isibeni commented on #109131
sorry I just figured out that I had a small misconception about the behavior of backofflimit on indexed jobs.
I thought the backofflimit is applied for every index so that e.g. with a backofflimit of 2 each failing index will be restarted at least twice and if they reached the limit only those indexes will be considered as failed while the other indexes are allowed to run till completion. Still th

[2022-04-05 06:56] yxxhero commented on #109301
/sig node

[2022-04-05 08:31] CzarMich commented on #107186
Hi, yes, I was able to solve this. I had a proxy issue.

[2022-04-05 08:46] gottwald commented on #109289
AFAIU in order to not leak connections I would have to close idle connections in the transport.
The transport is passed as `RoundTripper` interface which makes this a bit more awkward.
So If I understand correctly in order to make it not leak I would have to:
- Set `Proxy` to `http.ProxyFromEnvironment`
- Use `config.WrapTransport` to wrap the underlying default transport
- When we're done with th

[2022-04-05 08:51] ingvagabund commented on #109285
By all means once there's an agreement on the approach :)

[2022-04-05 09:02] bigclouds opened #109304 "default max size 4M of grpc is too small for devicemanager"
### What happened?

kubelet reports  grpc: received message larger than max (6464720 vs. 4194304) when call devicemanager's ListAndWatch

### What did you expect to happen?

kubelet can handle such grpc calls if the data size exceeds 4M

### How can we reproduce it (as minimally and precisely as possible)?

it reproduces if the size of returned data exceeds 4M

### Anything else we need to know?

[2022-04-05 09:22] slaskawi commented on #84571
@tallclair I'm about to start looking into this one and before writing a KEP, I'd like to consult with you my plan for the implementation and discuss one important aspect - how to enable this feature.

The implementation plan:
- The audit `Event` ([link](https://github.com/kubernetes/kubernetes/blob/3fa086bcded1dfb7c4889ee28b95535d056b3408/staging/src/k8s.io/apiserver/pkg/apis/audit/types.go#L79))

[2022-04-05 11:06] wojtek-t commented on #108483
And a bit more longerterm cleaner approach is in https://github.com/kubernetes/kubernetes/pull/109303

[2022-04-05 12:10] #109301 closed

[2022-04-05 12:14] dims commented on #109174
@jyotimahapatra that's an old PR. i don't think there's a PR for this yet AFAIK

[2022-04-05 12:18] luckerby commented on #104584
We're running into this as well. An example below caused by the `node-driver-registrar` container being restarted continuously due to the liveness probe detecting that the registration hasn't completed.

![image](https://user-images.githubusercontent.com/31319583/161750999-afbb9de8-e6bc-422c-bca2-0fdaac3286f5.png)

In terms of impact: 1) it's making it impossible to use the Cluster Autoscaler with

[2022-04-05 12:24] nantoniazzi commented on #68397
Why isn't it possible to set a value of 0?

In my scenario, I have 3 pods that are consuming a lot of resources. If I remove one pod during the rolling update, the other pods will then take all the load on them. I would prefer to over-provision my pod during the rolling update to be sure to always have enough resources available.

Wouldn't it be possible by setting `maxUnavailable` to 0? or is the

[2022-04-05 12:28] Kartik494 commented on #108589
You could find more information on this behaviour on the [docs](https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/#preemption)

[2022-04-05 12:33] Bhaskar1312 commented on #53881
I somehow modfied/deleted config for docker-desktop (windows 10) which I got to know after running `kubectl config use-context`
I got the same error
I used `kubectl config use-context docker-desktop` which resolved the issue for me

[2022-04-05 12:37] danielfoehrKn commented on #103046
/remove-lifecycle stale

[2022-04-05 13:05] tkashem commented on #109155
(follow-up for 1.25)

/reopen

[2022-04-05 13:15] #108980 closed

[2022-04-05 13:24] helayoty commented on #109082
@ehashman  👋 the release 1.24 bug triage shadow. While the test freeze phase is cut off tomorrow, do you think this issue will still be included in the current release?

[2022-04-05 13:26] helayoty commented on #109182
@liggitt 👋 the release 1.24 bug triage shadow. While the test freeze phase is cut off tomorrow, do you think this issue will still be included in the current release?

[2022-04-05 14:01] liggitt commented on #109182
Until the issue is understood, it should remain in the milestone

[2022-04-05 14:03] alculquicondor commented on #109131
The backofflimit is for the entire job.

I think the feature request still makes sense. The job overall is marked as Failed, but some indexes might have completed.

[2022-04-05 14:05] alculquicondor commented on #109131
That would be a separate feature request. A we would need a new field, as we cannot change the behavior of existing fields, for backwards compatibility.

[2022-04-05 14:29] pacoxu commented on #109281
Some simple research possibilities on it:
- https://github.com/golang/go/issues/20960#issuecomment-465998114 `sudo ulimit -n 6049 && sudo sysctl -w kern.ipc.somaxconn=1024` for https://stackoverflow.com/questions/67190125/error-ssh-handshake-failed-read-tcp-read-connection-reset-by-peer
- (I prefer this) https://stackoverflow.com/questions/47805723/golang-ssh-handshake-failed-eof The code is quite

[2022-04-05 15:06] pnorth1 commented on #90505
I understand not being able to request this resource explicitly in the pod definition. But, what about the fact that it is not reported correctly at the node level? I would expect describing the node to still show how many volumes are requested, and the limits of the node?

[2022-04-05 15:23] #108113 closed

[2022-04-05 16:20] novahe commented on #109285
hi@ingvagabund, after reading the code, I think of two feasible solutions:
**Option 1:**
extending the FrameworkCapturer (as you said)
[PluginConfig](https://github.com/kubernetes/kubernetes/blob/c13d3369d588bf59eec8812327e421f1ce47c87a/pkg/scheduler/apis/config/types.go#L191) extend `Enabled`, which marks to enable the plugin
[code]
Configuration File Contents print:
[code]
**Option 2:**
Print [R

[2022-04-05 16:38] liggitt commented on #109174
If we don't have a PR pending ~today, I plan to revert https://github.com/kubernetes/kubernetes/pull/107088 for 1.24

[2022-04-05 16:54] SergeyKanzhelev commented on #109281
I feel like this line is incorrect:

https://github.com/kubernetes/kubernetes/blob/c6478308f8aeb691b482a7b6d96606af6c477f9d/test/e2e/framework/ssh/ssh.go#L247

Changing it to `return false, nil` should make the code retry.

[2022-04-05 17:05] SergeyKanzhelev commented on #109281
/assign

[2022-04-05 17:08] ehashman commented on #109182
/assign @mrunalp

[2022-04-05 17:15] jsturtevant opened #109313 "Windows Capz: should function for node-pod communication: http/udp [NodeConformance]"
### Which jobs are failing?

ci-kubernetes-e2e-capz-master-containerd-windows

### Which tests are failing?

should function for node-pod communication: http [NodeConformance]
should function for node-pod communication: udp [NodeConformance]

### Since when has it been failing?

PR https://github.com/kubernetes/kubernetes/pull/108590 merged on April 4th 2022

### Testgrid link

https://testgrid.k8

[2022-04-05 17:25] kolyshkin commented on #109182
@derekwaynecarr This "allowed list" is merely a way to specify controllers that *must* be present (I guess its naming is slightly misleading). IOW, the code you refer to ensures that memory, cpu etc paths do present.

It has nothing to do with rdma or unified. runc creates cgroups for all supported controllers/subsystems (and add containers to all of them).

What's unclear is why these cgroups can

[2022-04-05 17:29] tallclair commented on #109297
Thinking about this a bit more, I think this is unlikely to be particularly useful for unit tests, and we should focus on the integration & E2E cases instead.

[2022-04-05 17:29] ehashman commented on #109082
@helayoty this is one of three issues SIG Node is tracking as a possible regression in 1.24, we need a clear answer before it can be removed from the milestone.

[2022-04-05 17:31] mrunalp commented on #109182
One thing worth trying may be to see if we don't join the rdma controller, do we still hit the issue.
Maybe runc can skip joining it unless rdma settings are specified? (It is a relatively newer controller which hasn't been tested as much within containers so we could avoid potential bugs there.)

[2022-04-05 17:31] derekwaynecarr commented on #109182
@kolyshkin understood.  rdma as an enabled cgroup controller on a target host for kubelet execution is what was new to me so I was wondering if there was a change to the test operating system configuration beyond just runc adding awareness.

[2022-04-05 17:33] tallclair commented on #84571
For enablement, I think this should be controlled from the policy, and not just auto-included whenever the Request or RequestResponse is level is used. Furthermore, I think there should be an option to omit the parsed Request and Response objects.

I think it would be worth discussing this in the SIG-Auth meeting. Are you able to make the time?

[2022-04-05 18:11] vaibhav2107 commented on #51430
/remove-lifecycle stale

[2022-04-05 18:11] PushkarJ commented on #108463
Considering the CVSS severity level is medium and @neolit123 comment about no direct use of the dependency, I would recommend closing this issue since it is already fixed in master and v1.23+
/sig architecture
/area dependency

[2022-04-05 18:11] vaibhav2107 commented on #72320
/remove-lifecycle stale

[2022-04-05 18:13] vaibhav2107 commented on #91286
/remove-lifecycle stale

[2022-04-05 18:25] dims commented on #108910
/meow
/woof

[2022-04-05 18:26] PushkarJ commented on #106639
This was fixed by https://github.com/kubernetes/kubernetes/pull/109029

[2022-04-05 18:26] #106639 closed

[2022-04-05 18:27] kolyshkin commented on #109182
RDMA cgroup requires a kernel config parameter to be set. It is obviously set in Ubuntu kernels.

In Fedora 35 kernels, `CONFIG_CGROUP_RDMA` is not set. Here's from my machine:
[code]

On CentOS Stream 9 kernel, it **is** set:
[code]

[2022-04-05 18:38] PushkarJ commented on #108464
This is fixed in v1.24: https://github.com/kubernetes/kubernetes/blame/b9792a9daef4d978c5c30b6d10cbcdfa77a9b6ac/go.mod#L89

(This is using commit that includes this fix looking at the [pseudo version](https://go.dev/ref/mod#pseudo-versions) of the module)

As per this comment, 1.22 and 1.23 are not impacted: https://github.com/kubernetes/kubernetes/pull/108487#discussion_r824370325.

With v1.24 re

[2022-04-05 19:11] hanlins commented on #109286
I see, let me know if you need more context/assist!

[2022-04-05 19:27] kolyshkin commented on #109182
Not joining RDMA **in vendored libcontainer** did not help. It _might_ help in runc binary (which I haven't done).

Looking into the underlying cause.

[2022-04-05 20:00] ehashman commented on #109296
Duplicate of https://github.com/kubernetes/kubernetes/issues/103690 which rotted closed.

/triage accepted

[2022-04-05 20:02] apelisse commented on #109275
is there a rule that we can validate and enforce here? i.e. are there cases where it's normal to have two metadata? Probably in the case where an extension apiserver has a different version of kubernetes that has a slightly different metadata. I wish we could catch somehow that this doesn't happen.

[2022-04-05 20:02] liggitt commented on #109289
I think this would look like this:

[code]

[2022-04-05 20:02] liggitt commented on #109275
In a server with no aggregated API servers, we should never have multiple definitions for ObjectMeta (CRDs and built-in types should reference the same ObjectMeta)

[2022-04-05 20:09] jsturtevant commented on #109313
/sig network

Did some looking into this and the tests `should function for node-pod communication` is not deploying a hostprocess pod for Windows:

[code]

Following the test flow

https://github.com/kubernetes/kubernetes/blob/a315ec338882d6e0feffb2cdbefd5d16eae0601e/test/e2e/common/network/networking.go#L104

Creates test pods:

https://github.com/kubernetes/kubernetes/blob/87123c49a002564ebdb59

[2022-04-05 20:21] cici37 commented on #108588
/help

[2022-04-05 20:23] cici37 commented on #109174
/triage accepted

[2022-04-05 20:24] cici37 commented on #109243
/triage accepted

[2022-04-05 20:24] cici37 commented on #109275
/triage accepted

[2022-04-05 20:25] cici37 commented on #109289
/triage accepted

[2022-04-05 20:25] cici37 commented on #107743
/triage accepted

[2022-04-05 20:26] cici37 commented on #109225
/triage accepted

[2022-04-05 20:33] #109255 closed

[2022-04-05 20:39] unix-way commented on #85624
Facing same issue - block persistent volumes are ignored when a pod is running in privileged mode. Currently using GKE 1.21.9. Host device availability inside the pod can't be relied upon for obvious reasons, one being that device "mounts" inside `/dev` are not guaranteed to be the same when persistent volumes get re-attached to another node.

[2022-04-05 21:26] ehashman commented on #109082
This looks like it's still flaking quite regularly:

- https://testgrid.k8s.io/sig-node-containerd#image-validation-node-e2e&width=5
- https://testgrid.k8s.io/sig-node-containerd#cgroup-systemd-containerd-node-e2e&width=5

It does not appear to be flaking on any cri-o jobs, and is limited to containerd. As such I'm going to unassign.

/unassign

[2022-04-05 21:29] ehashman opened #109317 "node-kubelet-serial-crio job is failing/erroring"
### Which jobs are failing?

node-kubelet-serial-crio: https://testgrid.k8s.io/sig-node-cri-o#node-kubelet-serial-crio&show-stale-tests=

### Which tests are failing?

Tests fail to run.

### Since when has it been failing?

Since 03/23. First failure: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-cri-o/1506730409776386048

### Testgrid link

https://testgri

[2022-04-05 21:33] ehashman commented on #109317
Suspect this might have been https://github.com/kubernetes/test-infra/pull/25735 given the timing. Let's see if moving this job to the other cluster fixes it.

[2022-04-05 21:38] jsturtevant commented on #109313
This pod being tested has `hostNetwork: true` which seems to be causing issues with calico, if I remove that then it works (as the other tests that do pod-> pod demonstrate).

Once I switched this test to use a hostprocess this test works for `node -> pod` on the **same** host when using Windows overlay. Overlay has this limitation that we have seen before: https://github.com/kubernetes/kubernetes

[2022-04-05 21:49] ehashman commented on #109317
/priority important-soon
/triage accepted

not applying milestone, should be unnecessary

[2022-04-05 21:49] ehashman commented on #109317
/assign

[2022-04-05 21:53] blackzlq opened #109319 "Update zlib in debian-base:bullseye-v1.2.0 (latest) to patch CVE-2018-25032"
### What would you like to be added?

gcloud container images list-tags k8s.gcr.io/build-image/debian-base --filter="tags~bullseye" --sort-by=tags
DIGEST        TAGS             TIMESTAMP
aa2e259dfe20  bullseye-v1.0.0  1969-12-31T16:00:00
c9026ac9ebc6  bullseye-v1.1.0  1969-12-31T16:00:00
8049cfc553b1  bullseye-v1.2.0  1969-12-31T16:00:00

We need

[zlib](https://security-tracker.debian.org/tracke

[2022-04-05 21:53] blackzlq commented on #109319
/sig release

[2022-04-05 22:05] jsturtevant commented on #104562
/remove-lifecycle stale

[2022-04-05 22:49] kolyshkin commented on #109182
OK, my current theory is KIND + Docker is to blame. It seems that cgroups created are leaked to a parent namespace (which is only true for `rdma` and `unified`, as others are properly fixed in entrypoint).

A workaround can be to not mount /sys/fs/cgroup/rdma and /sys/fs/cgroup/unified to inside KIND.

Is there someone working on KIND who can look into it? The modifications should belong to https:

[2022-04-05 22:55] liggitt commented on #80295
As a follow-up, create + resourceNames *will* work if you are creating using server-side apply, which submits the request to the endpoint containing the object name.

[2022-04-05 23:04] jsturtevant commented on #109313
My thoughts are we should disable these two tests for 1.24 because they are not testing what they should be and it requires some tough changes to the framework to make it work as is. These tests also doesn't make sense for [Windows overlay ](https://github.com/kubernetes/kubernetes/issues/109313#issuecomment-1089389429).

A example of the changes need to make this partially work on l2bridge but no

[2022-04-05 23:04] kolyshkin commented on #109182
In https://github.com/kubernetes/kubernetes/pull/109298 I ran some test jobs in non-KIND environment, and there are no failures to remove rdma or unified cgroups (see e.g. kubelet.log in https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/109298/pull-kubernetes-node-e2e-containerd/1511470592082055168/artifacts/tmp-node-e2e-da3f3554-cos-89-16108-604-28/).

One more non-KIND test job is still

[2022-04-05 23:35] thockin commented on #82531
Hopefully I can get more time soon so we can get this in for 25

[2022-04-06 00:02] Jeaniowang commented on #107308
报告收到

[2022-04-06 00:36] dims commented on #109182
@kolyshkin how does one typically disable these two cgroups? `/sys/fs/cgroup/rdma` and `/sys/fs/cgroup/unified`? are there any examples of doing something similar in an entrypoint?

[2022-04-06 00:37] kolyshkin commented on #109182
No messages about cgroup removal errors from this one either, so this indeed looks like KIND cgroup setup

[2022-04-06 00:42] dims commented on #109082
cc @adisky @endocrimes

[2022-04-06 01:18] kolyshkin commented on #109182
I look into what is done for cgroup v1 in entrypoint, and I see that
1. `current_cgroup` is determined from the cpu contrroller (https://github.com/kubernetes-sigs/kind/blob/ee7ee0646385d78d2f02c64665990386507c5709/images/base/files/usr/local/bin/entrypoint#L217), assuming all the other controllers have a similar paths.
2. `cgroup_subsystems` list is determined from the above `current_cgroup` path

[2022-04-06 01:53] pacoxu commented on #107198
According to https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-integration-1-23, we can close this.
/close

[2022-04-06 01:53] #107198 closed

[2022-04-06 02:09] fusida commented on #109233
the two case we have saw：
1、Accoring to the apiserver log, can find the kube-public/cluster-info have been reproduction by operator, but can not find controller manager update kube-public/cluster-info. What's more there are nothing log in controller manager, and the

[2022-04-06 02:19] pacoxu commented on #109186
/cc @bobbypage
Would you give me some guide to look into the issue? Can this e2e run locally？

[2022-04-06 02:20] kolyshkin commented on #109182
I have semi-tested this on a Ubuntu 21.10 box (although I do not see `unified` inside a container), and _it seems_ my proposal should work.

[2022-04-06 02:42] #109313 closed

[2022-04-06 03:13] lowang-bh commented on #64743
mark，waiting how to solve it!

[2022-04-06 03:19] Nivedita-coder opened #109325 "[Failing test] capz-windows-containerd-master"
### Which jobs are failing?

capz-windows-containerd-master

### Which tests are failing?

- Kubernetes e2e suite.BeforeSuite
- Kubernetes e2e suite.[sig-network] Networking Granular Checks: Pods should function for node-pod communication: http [NodeConformance] [Conformance]
- Kubernetes e2e suite.[sig-network] Networking Granular Checks: Pods should function for node-pod communication: udp [Node

[2022-04-06 04:12] qixiaobo commented on #85643
@r0bj

I found methods described below(This is summarized by myself, any mistakes please point out)

  | ready | terminating
-- | -- | --
isReady | TRUE | FALSE
isServing | TRUE | -
isTerminating | - | TRUE

https://github.com/kubernetes/kubernetes/blame/699aeb735ff34d81d79817bf613203ac58e6edc3/pkg/proxy/topology.go#L26

[code]
So @saihide is right.
https://kubernetes.io/docs/concepts/workloads/po

[2022-04-06 04:24] kerthcet commented on #106426
/remove-lifecycle stale

[2022-04-06 05:02] Kartik494 commented on #106902
/remove-lifecycle stale

[2022-04-06 05:08] Kampe commented on #13136
Would love to see this implemented, many users would like to use their NAS as a volume mount.

[2022-04-06 05:48] mehmood8 opened #109327 "Unable to create pod in minikube"
below is my yml file

[code]
 kubectl apply -f pod1.yml

error:error validating "ppod.yml" error validation :kind not set; if you choose to ignore these error, turn validation off with --validate=false

[2022-04-06 05:51] Kartik494 commented on #108681
@yuyue9284 For more information on this  behaviour you can find it [here](https://kubernetes.io/docs/concepts/storage/volumes/#background) . and for subpaths you can check https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath

[2022-04-06 06:29] kyasbal-1994 opened #109328 "In-tree GCE PD storage driver can leaks regional GCE PD when related PV is deleted"
### What happened?

When the in-tree GCE PD storage driver are used on PVs with regional storage, GCE regional disk have possibility not to be deleted after the PV resource being deleted.

This issue is caused by error handling logic in in-tree GCE PD storage driver. If the API request to delete regional disks are failed because of the error other than Not Found, the deletion request will be regar

[2022-04-06 06:29] kyasbal-1994 commented on #109328
/sig storage

[2022-04-06 06:31] kyasbal-1994 commented on #109328
/sig cloud-provider

[2022-04-06 06:37] joaquinza commented on #108798
I need this too. Please and thank you.

[2022-04-06 07:14] aojea commented on #109182
cc: @AkihiroSuda @thaJeztah for the long term solution

[2022-04-06 07:34] weilaaa opened #109329 "ThreadSafeStore support complicated index"
### What would you like to be added?

Expand `ThreadSafeStore` interface to support complicated index.

Proposal as bellow:
[code]

### Why is this needed?

In some scenarios, we expect to use complex joint indexing, not just through a single indexer.

For example, in https://github.com/kubernetes-sigs/controller-runtime/blob/adc9fa96250106ebf0a3c589aa64e085e90870fd/pkg/cache/internal/cache_reader

[2022-04-06 07:42] weilaaa commented on #109329
/sig api-machinery

[2022-04-06 07:42] deepakkinni opened #109330 "Add PV deletion protection finalizer only if reclaimPolicy is `Delete`"
### What happened?

The newly introduced in-tree PV deletion protection finalizer is currently being added to all PVs without consideration of the reclaim policy.

### What did you expect to happen?

The finalizer needs to be added only when reclaimPolicy on the PV is `Delete`. In other cases the finalizer needs to be removed if the reclaimPolicy is `Recycle` or `Retain`.

### How can we reproduce

[2022-04-06 07:42] deepakkinni commented on #109330
/assign @deepakkinni

[2022-04-06 07:43] deepakkinni commented on #109330
cc: @xing-yang @jsafrane

[2022-04-06 07:45] deepakkinni commented on #109330
/sig storage

[2022-04-06 07:56] weilaaa commented on #109329
Difficult to do complex field selection in case of "controller runtime", although we can do post filtering like labels selector, but wouldn't it be better to use index?

[2022-04-06 07:58] surajssd opened #109331 "Cannot use hostAliases when mounting files in /etc"
### What happened?

I have a file that I mount in /etc and if I use hostAliases feature then pod goes into RunContainerError state.

### What did you expect to happen?

I expected the pod to be deployed without errors.

### How can we reproduce it (as minimally and precisely as possible)?

Here is a sample config that causes this condition:

[code]

Once you deploy the above pod you will get the f

[2022-04-06 07:59] surajssd commented on #109331
/sig node

[2022-04-06 08:48] kerthcet commented on #109285
Poor thoughts, we should not introduce new fields just for documents. And we do have documents for users to refer to https://kubernetes.io/docs/reference/scheduling/config/#scheduling-plugins. What a ` normal user` means? An ops staff?

[2022-04-06 08:56] ingvagabund commented on #109285
Works fine for the kube-scheduler. But not anymore when [out of tree plugins](https://github.com/kubernetes-sigs/scheduler-plugins) are included.

That's why I put the "normal" into quotes. Anyone who's not so familiar with the documentation and/or the code base to deduce which plugins are enabled.

[2022-04-06 09:11] MadhavJivrajani commented on #109327
not able to reproduce the error
please provide more info such as version of K8s running etc
/kind support

[2022-04-06 09:34] endocrimes commented on #109082
/assign

[2022-04-06 10:05] AkihiroSuda commented on #109182
@kolyshkin @aojea

Could you open an issue (in moby/moby?) with details?

[2022-04-06 10:51] Ranjith1107 commented on #68861
Am trying update in Config map Yaml file and trying to path on exiting config file in the section of
example.property.1: hello ==> example.property.1: helloR and using below curl patch to soleve but gettting error.

CURL :

curl --request PATCH \
    -k \
    -d @- \
    -H "Authorization: Bearer $OPENSHIFT_TOKEN" \
    -H 'Accept: application/json' \
    -H 'Content-Type: application/json-patch+j

[2022-04-06 11:18] Sebastian-RG commented on #106870
I have the same issue. Is there a way to expose metrics over TLS? I've set the MetricsBindAddress to 0.0.0.0:10249 but this only exposes it over HTTP.

[2022-04-06 12:00] weilaaa commented on #109329
/assign @weilaaa

[2022-04-06 12:46] jsafrane opened #109335 "GCP volume plugin can provision multiple volumes for a single PVC"
### What happened?

Whet GCE is throttling Kubernetes kube-controller-manager and returns `RATE_LIMIT_EXCEEDED` when provisioning a new GCP PD volume, kube-controller-manager [re-schedules](https://github.com/kubernetes/kubernetes/blob/820247a3aec7d7d1e65cd5ad34b0f07adb16e907/pkg/controller/volume/persistentvolume/pv_controller.go#L1634-L1640) the pod to another node and it may succeed there. As r

[2022-04-06 12:48] astraw99 opened #109336 "Aggregator APIServer got panic when calling the `GetResourceKind`"
### What happened?

We used the Aggregator APIServer in our cluster, but it got panic when calling the `GetResourceKind` at the startup.

Here is the stack:
[code]
From the stack, we can see the `GetResourceKind` was called, but with nil panic in `storage.New()`.

### What did you expect to happen?

When registering REST storage at the APIServer startup, if the GVK scheme not found, just return th

[2022-04-06 12:49] cyclinder commented on #105742
Thanks @danwinship,  I see, I'd fix it, can I take this one?

[2022-04-06 12:52] jsafrane commented on #109335
/sig storage
cc @msau42 @jingxu97 @mauriciopoppe for GCP expertise and ideas how to fix it.

I think it's better in the external-provisioner, as long as the CSI driver returns [some transient error on throttling](https://github.com/jsafrane/external-provisioner/blob/5d250e590f683b94bfca4c4dfb5260ad3633542b/pkg/controller/controller.go#L1689-L1693), so the external provisioner tries again without r

[2022-04-06 13:37] nantoniazzi commented on #68397
I just realized that `maxSurge` was not to implemented on purpose with this comment. I disagree and there are scenarios where it's necessary. I do not think that's a problem to add more statefulset replicas during rolling update if it's the expected behavior of the cluster manager.

In our scenario, we need statefulset to have a dedicated cache for each pod (the cache is specific to each working p

[2022-04-06 13:42] newwuhan5 commented on #65502
We have exactly same issue when using sidecars with Envoy. The sidecars are not ready, but Envoy already marks as healthy and starts to take the traffics, which results in the 500 errors.  We have a filter of Envoy calling gRPC service from sidecar for jwt resigning.  Is there a decent solution or scripting example from someone?  Or any progress on the different solutions described above?

[2022-04-06 14:17] Yerdaan commented on #105204
Hi, I run into similar problem on Kubernetes 1.22.8 when trying to execute cronjob with Elasticsearch Curator:
[code]
Event log:
[code]

[2022-04-06 14:24] newwuhan5 commented on #65502
@rata, Thank you.  It looks like an elegant solution, which we will explore if we could add to our Envoy pod.

[2022-04-06 15:23] jcleira commented on #106741
@piwenzi sorry for the delay, not sure if you figured it out but on the error message you got the reason for it:

[code]

[2022-04-06 15:50] dims commented on #109144
@BenTheElder 's comments are already addressed. mixed feelings about where to chop off the large output (right now we are chopping off the beginning and the suggestion was to chop in the middle.) let's give it a bit of time and change things up if we still want to. closing this for now.

[2022-04-06 15:50] #109144 closed

[2022-04-06 15:57] Dorsosiv opened #109339 "Kubelet spams 'Failed to create existing container' log messages."
### What happened?

Hey, we are getting the following error messages when Kubelet is working as usual.
[code]
I tried to see why the kubelet is trying to reach the folder called `/pids` which does not exist on our worker nodes. I did not find a reason in the config.yaml of Kubelet about that.

I tried to find a path similar to the `/pids/.....`  paths in the logs. I found '/sys/fs/cgroup/pids/kube

[2022-04-06 15:59] Dorsosiv commented on #109339
/sig node

[2022-04-06 16:23] tkashem commented on #108906
If I am not mistaken, #102217 preserves the original (incorrect) order as in 1.21 :
- seek to the beginning of the request body: https://github.com/kubernetes/kubernetes/blob/release-1.21/staging/src/k8s.io/client-go/rest/request.go#L951
- read and close response body:  https://github.com/kubernetes/kubernetes/blob/release-1.21/staging/src/k8s.io/client-go/rest/request.go#L939-L945

In 1.24, https

[2022-04-06 16:28] jyotimahapatra commented on #109174
@liggitt  @joejulian We're past test freeze. I propose that we move it to 1.25. wdyt?

[2022-04-06 16:31] liggitt commented on #109174
No. This is a regression in 1.24 we must not ship.

[2022-04-06 16:37] liggitt commented on #109174
opened revert of https://github.com/kubernetes/kubernetes/pull/107088 at https://github.com/kubernetes/kubernetes/pull/109340, can bring that in again in 1.24 with https://github.com/kubernetes/kubernetes/pull/107088#discussion_r839133219 resolved

[2022-04-06 17:04] roblappcoupa commented on #45237
I am plagued by this issue on EKS (Kubernetes version 1.21)

[2022-04-06 17:09] neolit123 commented on #109327
the error mentions a different file name `ppod.yml` and not `pod1.yml`.
the contents of `ppod.yml` might be missing:

[code]

looks like a support ticket; going to close this but please reopen if needed and if have more details that confirm an actual bug.

/close

[2022-04-06 17:09] #109327 closed

[2022-04-06 17:10] neolit123 commented on #109304
/sig node

[2022-04-06 17:10] SergeyKanzhelev commented on #109186
/triage accepted
/priority important-soon

[2022-04-06 17:10] neolit123 commented on #109304
/remove-kind bug
/kind feature

[2022-04-06 17:10] SergeyKanzhelev commented on #109295
/triage accepted
/priority important-soon

[2022-04-06 17:22] SergeyKanzhelev commented on #109281
I'll spin off the bug for other test grids. The release blocking grid seems to be green now

/close

[2022-04-06 17:22] #109281 closed

[2022-04-06 17:27] liggitt commented on #107086
reopening, https://github.com/kubernetes/kubernetes/pull/107088 is reverted in https://github.com/kubernetes/kubernetes/pull/109340 to make sure requests with both name+generateName are handled correctly

[2022-04-06 17:28] SergeyKanzhelev commented on #109082
/assign @ruiwen-zhao

[2022-04-06 17:40] SergeyKanzhelev commented on #109262
/triage accepted

[2022-04-06 17:41] SergeyKanzhelev commented on #109262
this should not be a breaking change as invalid labels make the kubelet unusable anyway. So better not even start the kubelet.

/assign @FeLvi-zzz

since there is a PR already

[2022-04-06 17:43] SergeyKanzhelev commented on #109191
/triage accepted
/priority backlog

[2022-04-06 17:46] SergeyKanzhelev commented on #109105
/close

please re-file the bug using the template

[2022-04-06 17:47] #109105 closed

[2022-04-06 17:53] bobbypage commented on #106393
Please use the latest version of cAdvisor (https://github.com/google/cadvisor/releases/tag/v0.44.0) which also includes fix for process metrics - https://github.com/google/cadvisor/pull/3030

[2022-04-06 17:55] joejulian commented on #109174
:thumbs_up:

[2022-04-06 17:58] liggitt commented on #109174
/close
resolved in https://github.com/kubernetes/kubernetes/pull/109340

reopened original tracking issue https://github.com/kubernetes/kubernetes/issues/107086

[2022-04-06 17:58] #109174 closed

[2022-04-06 18:06] jsturtevant commented on #104562
This is still an issue but will be addressed in containerd/hcschim.

[2022-04-06 18:07] judexzhu commented on #106393
@bobbypage Thank you, we're still working on our Kubernetes cluster upgrade progress, now it has been upgrade to 1.21, we decided to delay cgroup V2 adoption for it will causing old java problem performance issue(fixed on OpenJDK 15+).

Anyway, it's fine to me to close this issue right now

Thanks so much again for everthing!

[2022-04-06 18:07] #106393 closed

[2022-04-06 18:33] rtheis commented on #108266
Testing with a StatefulSet works as expected. So the problem seems isolated to Deployments.

[code]

[code]

[2022-04-06 20:10] kolyshkin commented on #109182
Redid the tests with the version of docker as used in kind tests (apparently the one from Docker repos, although for some reason the client is different), same results (i.e. it _looks like_ it should work).

The above umount/rmdir lines can be added either to the beginning or the end of `fix_cgroup`.

Here's a PR: https://github.com/kubernetes-sigs/kind/pull/2709

[2022-04-06 20:11] kolyshkin commented on #109182
My guess is, using newer runc will automatically fix this (I am going to check it), so no changes to moby will be necessary.

[2022-04-06 20:32] kolyshkin commented on #109182
@AkihiroSuda @aojea @thaJeztah Testing shows my guess was was right -- once docker is switched to use runc 1.1, the rmda and unified subsystems become properly scoped.

Here's what I did (Ubuntu 21.10, docker installed from docker.com repo):

[code]

Note that `rdma` and `misc` are not properly scoped (like `pids` is, under `docker/$CTID`), also `/proc/self/cgroup` shows unified hybrid cgroup (`0:

[2022-04-06 20:37] ehashman commented on #109182
Now that we've narrowed this down to an issue with kind/our test infrastructure setup, it looks like this isn't a regression that would block 1.24. @kolyshkin can you confirm? If so I will decrease the priority and remove this from the milestone.

[2022-04-06 20:38] kolyshkin commented on #109182
So, the alternative to kubernetes-sigs/kind#2709 is to use runc 1.1.x when creating a KIND container (i.e. on the host). Apparently runc comes from `containerd.io` package from Docker.com repo (https://download.docker.com/linux/ubuntu/), and `containerd.io 1.5.11-1` comes with runc 1.0.3.

[2022-04-06 20:51] liggitt commented on #109182
Forgive my ignorance, but does this mean consumers of 1.24 need to ensure they are running runc 1.1.x? Wondering if we need to include this in release notes or [known issues](https://github.com/kubernetes/kubernetes/issues/109027) (less as a release blocker and more as a potential action-required for users/admins)

[2022-04-06 20:57] mitar commented on #28272
/remove-lifecycle stale

It would be nice to get a confirmation that this is fixed.

[2022-04-06 21:12] kolyshkin commented on #109182
No, I believe we're still compatible with runc 1.0. The only case is, if someone wants to run kubernetes inside a container (like we do in KIND tests here), they have to ensure that the runtime outside of that container is not older than the runtime inside the container.

[2022-04-06 21:14] kolyshkin commented on #109182
Yes, to my best understanding this is an issue with the CI env used, not a kubernetes issue.

[2022-04-06 21:15] kolyshkin commented on #109182
Oh, and the issue will re-occur if/when we add `misc` cgroup support to runc (the workaround in https://github.com/kubernetes-sigs/kind/pull/2709 should prevent this though).

[2022-04-06 21:30] SergeyKanzhelev commented on #107802
I looked at NPD test failure. The failure is likely due to the fact that the tests is checking for the `KubeletStart` event from the past and kubelet in that case was started _hours_ ago. With the default `--event-ttl` of `1h` it is not a surprise that test fails. I don't think adding the kubelet restart logic into the test would be wise as it will make the test `[Serial]` and `[Disruptive]`. I th

[2022-04-06 21:36] ehashman commented on #109182
I agree we should include this in known issues; I had just suggested that in our internal slack.

I'm not sure how common as a production use case it is to run Kubernetes inside a container, where the runtime on the inside is newer than the runtime on the outside. We'll try to draft something for SIG Release/Docs.

/milestone clear
/remove-priority critical-urgent
/priority important-soon

[2022-04-06 21:56] ehashman commented on #109027
SIG Node https://github.com/kubernetes/kubernetes/issues/109182 - we have updated to runc 1.1.1 in k8s 1.24. If a user runs Kubernetes inside a container, and the container environment which is running Kubernetes uses a version of runc <1.1.x, cgroups that the older version of runc does not support (such as `rdma` and `unified`) may be leaked to the parent namespace, and the container runtime will

[2022-04-06 22:27] jingxu97 commented on #85624
@unix-way could you put more details about the issue you are seeing?

[2022-04-06 22:33] ingvagabund commented on #106769
/remove-lifecycle stale

[2022-04-06 22:43] kolyshkin commented on #109182
One thing that is important to mention.

This issue is **not** related to vendor bump of runc 1.1, it is related to switching to use runc 1.1 binary (brought together with containerd 1.6) in CI. In other words, this is not related to kubernetes v1.24, and older versions (and newer versions) would fail the same way.

Proof is e.g. this CI job: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/

[2022-04-06 22:57] sftim commented on #16627
Is that still true?

[2022-04-06 23:53] ruiwen-zhao commented on #109082
The test fails with

[code]

The error is from https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/summary_test.go#L282-L291

Looking at the kubelet log of the node (tmp-node-e2e-17e51e97-cos-89-16108-604-28) hosting the erring pod (stats-busybox-0), the pod and container started pretty quickly, but I do see the container was created twice, with a ContainerDied in between.

[code]

[2022-04-07 00:03] ruiwen-zhao commented on #109082
Tracing the earliest passing run I can find (2022/03/23 01AM) https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cgroup-systemd-containerd-node-e2e/1506426807639871488, and compare the pod/container times. I don't see any obvious different between the passing run and the failing run in the comment above.

[code]

[2022-04-07 00:59] #106037 closed

[2022-04-07 01:40] kerthcet commented on #103853
/remove-lifecycle stale

[2022-04-07 01:52] unix-way commented on #85624
@jingxu97

Suppose we have the following manifest

[code]

When I then run `kubectl exec test-pod -- ls -l /disks` I get
[code]

So `ssd1` mount is ignored in privileged mode and the device is instead available directly at `/dev/sdf`, which is completely arbitrary - next time it may be `/dev/sdg` or `/dev/sdh`, depending on what other PVs are attached to the pod.

[code]

However if I change `priv

[2022-04-07 01:57] mengschin commented on #109214
@pacoxu
Is this similar to the issues you tagged?

[2022-04-07 02:11] HirazawaUi commented on #109063
I'm wondering why it is necessary to use a special scheduling strategy for `nodeName` in the code, this will cause additional problems, can it not use the same schedule process as `node selector` or `node affinity`?

[2022-04-07 02:16] detiber commented on #16627
It is not, in fact the self-hosted model was deprecated by `kubeadm` quite a while ago. @neolit123 could provide more information.

[2022-04-07 02:21] vasim38 commented on #105172
/close

[2022-04-07 02:21] #105172 closed

[2022-04-07 02:29] pacoxu commented on #109331
I would try to use subpath
[code]
(I have not tested on your yaml yet. Only some thought on the problem.)

[2022-04-07 02:31] liuyanzhen34 commented on #102876
Thank you

[2022-04-07 02:47] liggitt commented on #108906
It got way worse with go1.18, but I don't have a clear understanding why.

[2022-04-07 02:48] ritssoft commented on #40413
+1. Anyone got the answers? For me looks like the question is framed wrong!!

[2022-04-07 02:59] pacoxu commented on #109214
After re-read the description, it seems no similar issues.

I think the current behavior is expected.
There is no such option as I know. There are no further attribute in https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/#metrictarget-v2beta2-autoscaling.

[2022-04-07 03:00] pacoxu commented on #109214
/kind feature

[2022-04-07 03:36] wangyuan0916 commented on #108551
Hi @Jaeyo , thank you for your reply. We deploy api server as a process on host vms. there might be several api-servers,  but they are deployed on different host vms. Do you mean other processes share lumberjack with api-server on the same host vm? How can I check this?
I found when I execute:
[code]
The first line is strange like "^@^@^@^@^@^@^@^@^@^@......"
The second line and below are the gene

[2022-04-07 03:45] pacoxu commented on #103849
/remove-lifecycle stale

[2022-04-07 04:05] liggitt commented on #109280
cc @ahg @alculquicondor

[2022-04-07 04:11] pacoxu commented on #103849
https://github.com/distribution/distribution/issues/3587 is open, but it seems to be no update.

https://github.com/kubernetes/utils/pull/232 is closed.

[2022-04-07 04:27] 277631272 opened #109348 "client-go/workqueue needs priority queue"
### What happened?

There is such a scenario, we have many clusters, up to 100,000, and the cluster has regular health checks, and the number of work coroutines is limited. When the work coroutine is doing cluster health check processing, there are new cluster starts to be created, we need to prioritize the newly created cluster, so we need a priority queue.

### What did you expect to happen?

We

[2022-04-07 04:40] Abhishek-Srivastava commented on #53459
This is not regarding arbitrary field selectors, but in general Label selectors - Filter CRD objects at scale sucks at 1000+ CR instances and stops working when you have to make selection out of 3K CR instances.
(With ETCD deployed on  a SSD)

I had to implement my own filtering solution based on custom Caching and pagination.

[2022-04-07 04:57] harsimranmaan commented on #107277
/remove-lifecycle stale

[2022-04-07 06:07] kerthcet commented on #109063
It seems more like a feature than a bug.
/remove-kind bug
/kind feature

[2022-04-07 06:34] Akemon opened #109352 "Pods termination grace period seconds are not executed as expected."
### What happened?

I'm using minikube to set up a cluster locally and trying to test the grace period termination of pods, relating this doc https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-termination, the value of terminationGracePeriodSeconds should be the total(including prestop time) value and decided how long the container can proceed before killed, the issue I found is

[2022-04-07 06:47] astraw99 commented on #108839
@fedebongio PTAL thanks.

From the source code, we can see the default returning obj is just an empty resource struct.
https://github.com/kubernetes/kubernetes/blob/21184400a4ac185e7e4c6ddb52eb9c25a4cc453f/staging/src/k8s.io/client-go/kubernetes/typed/core/v1/pod.go#L120-L130

[2022-04-07 07:04] alkdese commented on #25478
expose already simple and very nice coz I do not need specify selectors it does that for me. But what I do not like is that coz I can't specify nodeport I need to do more jumps review labels and add selector. I wish `--node-port` was there. Do not use if you don't need it

[2022-04-07 07:16] fusida commented on #109233
1、we scale up and down apiserver because node-pools scale up and down.
2、i also don't think there is a kubeadm bug here, i think it's controller manager problem.
the controller manager didn't update jws-token in kube-public/cluster-info, util we restart it.
3、can we just retry, when update fail?
pkg/controller/bootstrap:

func (e *Signer) serviceConfigMapQueue() {
  key, quit := e.syncQueue.Get()

[2022-04-07 07:23] nazarewk opened #109353 "kubectl drain: influencing order of draining Pods"
### What would you like to be added?

I would like to be able to influence order in which `kubectl drain` evicts `Pod`s from the node. I did not check whether Graceful Node Shutdown logic is also affected.

### Proposed solution

The MVP could be a new flag (eg: `--respect-priorities`) that would make `kubectl drain` group `Pod`s by their `.spec.priority` value and then evict from lowest to highes

[2022-04-07 07:24] nazarewk commented on #109353
/sig node
/sig cli

[2022-04-07 07:33] Professor-Paradox commented on #89898
for me it worked after increasing the timeout to 15 seconds and the liveness probe errors stopped. seems like my app is taking a lot oftime to respond with https and slow network and low CPU resources.
Thanks for the suggestion.

[2022-04-07 07:58] ialidzhikov opened #109354 "gce: KCM detaches all in-tree volumes during update from K8s 1.20 to 1.21"
### What happened?

KCM wrongly detaches all in-tree volumes during update from K8s 1.20 to 1.21.

### What did you expect to happen?

KCM to do not detach all in-tree volumes during update from K8s 1.20 to 1.21.

### How can we reproduce it (as minimally and precisely as possible)?

1. Create a K8s 1.20.13 cluster.

2. Create in-tree and out-of-tree StorageClasses.

   <detail>

[code]

[code]

[2022-04-07 07:58] Dorsosiv commented on #109339
Hey, Ill answer shortly.

[2022-04-07 07:59] ialidzhikov commented on #109354
/sig storage

[2022-04-07 08:04] mengjiao-liu opened #109355 "Improve unit test coverage"
### Why is this needed?
Now many codes of K8S have the problem of low coverage. In order to facilitate tracking, this issue is created.

You can run the following command to find the files that need to be improved:
[code]

Previous related issue: #97355

/sig testing

[2022-04-07 08:07] MadhavJivrajani commented on #109348
/sig api-machinery
Would it not be possible to implement it as part of your project? The workqueue package provides interfaces to implement. Not sure if there is a need for it in Kubernetes.
Will let other folks chime in though!

[2022-04-07 08:25] 996refuse commented on #108633
hi @nickekstest
I encounter the same issue, Could you help share any updates?

did you try
1. use `kubernetes.io/legacy-unknown` as signerName
2. search the error message from kube-controller-manager log

[2022-04-07 08:29] yonatankahana commented on #107741
@akshaysharama with [k8tz](https://github.com/k8tz/k8tz) it can be done automatically without `PodPreset`

[2022-04-07 08:32] yonatankahana commented on #72724
@arrowfeng you can try to use [k8tz](https://github.com/k8tz/k8tz)

[2022-04-07 08:54] ialidzhikov commented on #109354
cc @Jiawei0227 @msau42 @jsafrane

[2022-04-07 09:07] Dorsosiv commented on #109339
* Kubeadm and Kubelet versions are like the server (1.23.0).
[code]

[code]

* The installation was a clean installation. This is not happenning because of an upgrade. And we are not doing an upgrade to the cluster

* There are no additional steps to perform.

* The snippet of logs that I have sent, is a repeating itself for tons of pods that do not exist anymore.
Im not allowed to send full Kubel

[2022-04-07 09:17] garyyang85 opened #109357 "admission webhook can not catch the "update" operation"
### What happened?

I am working on a customized admission webhook, need to add additional labels to all the deployments, the label maybe like this: "test1: mylabels". I defined two operations in the webhook, CREATE and UPDATE. The create requests always received, but the update requests are not work as expected. After create deployment, **only if I delete the customized label** "test1: mylabels",

[2022-04-07 09:22] ashok-arora commented on #107203
/remove-lifecycle stale

[2022-04-07 09:23] AlfonsoGonz commented on #18755
Hi there! Is there a solution for this already? I need to access all pods behind a service, for updating status of all of them individually because these are stateful pods that must remain equal. I think this has been a long-time issue and asked very time but I cannot find a solution.

Thank you!

[2022-04-07 09:34] Kartik494 commented on #105129
Hi @pzheng1025 could you please close this issue , as per [discussion](https://github.com/kubernetes/kubernetes/pull/106489#discussion_r780079899) ?
Thanks!

[2022-04-07 09:44] neolit123 commented on #16627
Yeah, kubeadm had an experimental implementation of a self-hosted control
plane, but it did not survive a node restart. It needed propper
"checkpointing" in the kubelet. Related implementations were removed a few
releases back.

Static pods are currently used in a number of commercial distros, so we are
sort of stuck with their quirks and complexities. Emphemeral storage and
admission come to mind

[2022-04-07 09:50] MeherHihi commented on #82519
/reopen /remove-lifecycle rotten

Hello,

I'm facing the same behaviour on Openshift. My application is deployed on 4 pods and only one pod restarts frequently with exitcode 3.

Example:
lastState:
        terminated:
          exitCode: 3
          reason: Error
          startedAt: '2022-04-06T13:36:33Z'
          finishedAt: '2022-04-06T17:29:42Z'

I'm searching for the meaning of this exitcode

[2022-04-07 09:57] #109330 closed

[2022-04-07 10:03] yxxhero commented on #94892
any updates?

[2022-04-07 10:24] neolit123 commented on #109233
Ideally actions against the config map should eventually result in a config map that has the desired state (reconciliation). So the code should be in the lines of - get cm, check if update is needed, update or exit, repeat. If that is not how it works, maybe there are bugs...I don't think it should retry on API calls.

Would you like to help us by working on the fix?
We are in code freeze for 1.24

[2022-04-07 10:59] MadhavJivrajani commented on #109348
/remove-kind bug

[2022-04-07 12:03] shreyas-s-rao opened #109364 "Pod Topology Spread Constraint limits scheduling decisions to one pod at a time"
### What happened?

My setup consists of the following topology:
1. Zone A - 2 nodes
2. Zone B - 1 node
3. There are no taints on any of the nodes
4. Pods do not have any node affinity/anti-affinity or pod affinity/anti-affinity defined on them

My Topology Spread Constraints are defined as:
[code]

I started with 3 replicas of a statefulset:
Observed behavior: As expected, each node got one pod e

[2022-04-07 12:14] thaJeztah commented on #109182
slightly catching up on this thread

Yes, `containerd.io` from download.docker.com currently bundles runc, and for that defaults to using the version from [scripts/setup/runc-version](https://github.com/thaJeztah/containerd/blob/ef56dcafc32d67e750b89fdb5ee24d0c7ffa9608/script/setup/runc-version) in the containerd repository. _Technically_ we can override this version when building the packages but

[2022-04-07 12:16] #109325 closed

[2022-04-07 12:20] newwuhan5 commented on #65502
@Jeskz0rd Thank you for confirming that you team has been using kubexit.

[2022-04-07 12:42] stlaz commented on #106110
@dnwe I've done some code spelunking. If I understand correctly, the code
[code]
is a custom logic of your application. It seems that it might itself be the reason to blame for the persistence issue. The `*rest.Client` constructor `clientcmd.BuildConfigFromKubeconfigGetter` is a function from the clientcmd package that expect that a kubeconfig file is provided and a persistence is desirable, but i

[2022-04-07 12:57] alculquicondor commented on #109280
/assign

[2022-04-07 13:31] ahg-g commented on #109063
/remove-kind bug

This is working as intended.

[2022-04-07 13:39] ravisantoshgudimetla opened #109367 "Scheduler not respecting pod anti affinity in certain cases"
### What happened?

We're noticing that the default scheduler is not respecting pod anti affinity and assigning the replica of a deployment to the same node where another replica is running(we've explicitly set pod anti affinity in the deployment spec to ensure spread).

### What did you expect to happen?

Scheduler spreading pods evenly and respecting pod anti affinity

### How can we reproduce i

[2022-04-07 13:40] ravisantoshgudimetla commented on #109367
/sig scheduling

[2022-04-07 13:42] johanbrandhorst commented on #96564
For yet another alternative to GoGo protobuf, see https://github.com/CrowdStrike/csproto. This was developed by Crowdstrike to fill the performance gap left between GoGo and the official Go protobuf implementation. It can also be used to migrate from APIv1 to APIv2 over time:

CC @dylan-bourque, the author.

[2022-04-07 13:46] alculquicondor commented on #109280
Candidate fix #109365 (I'll run the suite a few times)

[2022-04-07 14:38] alculquicondor opened #109368 "[Flaky test] In-tree Volumes [Driver: local][LocalVolumeType: tmpfs] [Testpattern: Pre-provisioned PV (default fs)] volumes should store data"
### Which jobs are flaking?

pull-kubernetes-e2e-kind

### Which tests are flaking?

[sig-storage] In-tree Volumes [Driver: local][LocalVolumeType: tmpfs] [Testpattern: Pre-provisioned PV (default fs)] volumes should store data

### Since when has it been flaking?

It might be April 7th, but unclear from testgrid

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kuber

[2022-04-07 14:45] rahul-sharma-78 commented on #106802
@collimarco : Thanks for raising this issue. I'm having a similar issue and it's worth having a way in Kubernetes spec (Deployment or Pod) to wait for a Job to complete (success/failure).
In my case, we need a schema created in Postgres (done as part of the Job) before running pods that access this schema.

[2022-04-07 15:03] wangrzneu commented on #99824
/remove-lifecycle rotten

let me have a try

[2022-04-07 15:04] wangrzneu commented on #99824
/assign

[2022-04-07 15:59] mattcary commented on #109328
Since the in-tree plugin is deprecated, and disabled by default via csi migration, I don't think this is worth fixing. It affects 1.22 and earlier upstream k8s only. Thoughts from other storage folks?

[2022-04-07 16:15] alculquicondor commented on #91492
Thanks!

cc @smarterclayton as FYI. I'm actually not sure who owns PDB.

[2022-04-07 16:15] MadhavJivrajani commented on #108910
Folks, Go 1.18.1 is postponed to 12th April.
Please see: https://groups.google.com/g/golang-announce/c/vtbMjE04kPk/m/TY7AIrwSCgAJ?utm_medium=email&utm_source=footer
cc @palnabarun @dims

[2022-04-07 16:28] CryptoNeutron commented on #70147
Works perfectly!!

[2022-04-07 16:34] shreyas-s-rao commented on #109364
/sig scheduling

[2022-04-07 16:40] leilajal commented on #109336
/cc @liggitt
/triage accepted

[2022-04-07 16:44] leilajal commented on #108839
/assign @jiahuif
/triage accepted

[2022-04-07 16:44] logicalhan commented on #108272
/sig instrumentation

[2022-04-07 16:44] leilajal commented on #109348
/triage accepted

[2022-04-07 16:50] marosset commented on #105918
/close
(see above comment)

[2022-04-07 16:51] #105918 closed

[2022-04-07 16:54] marosset commented on #107799
/close
We haven't seen this in a while. It might have been related to image pull throttling

[2022-04-07 16:54] #107799 closed

[2022-04-07 16:59] marosset commented on #103032
/remove-lifecycle stale

[2022-04-07 17:07] alculquicondor commented on #109367
/cc

[2022-04-07 17:08] #104685 closed

[2022-04-07 17:08] #106012 closed

[2022-04-07 17:10] alculquicondor commented on #109367
/triage awaiting-evidence

[2022-04-07 17:15] alculquicondor commented on #109367
/triage needs-information

[2022-04-07 18:00] alculquicondor commented on #109367
The oddest part is that you don't see a log line for `Successfully bound pod to node` for the second pod.

Can you verify the kube-apiserver logs to see if there was any call to the binding endpoint?

[2022-04-07 18:33] neolit123 commented on #109357
/sig api-machinery

[2022-04-07 18:34] neolit123 commented on #109352
/sig node

(?)
https://github.com/kubernetes/enhancements/search?q=terminationGracePeriodSeconds

[2022-04-07 19:01] srfrnk opened #109372 "runtime.DefaultUnstructuredConverter.FromUnstructured fails given a dynamically created object"
### What happened?

I'm debugging new code for [K9s](https://github.com/derailed/k9s) project which imports [converter.go](https://github.com/kubernetes/kubernetes/blob/21184400a4ac185e7e4c6ddb52eb9c25a4cc453f/staging/src/k8s.io/apimachinery/pkg/conversion/converter.go)

The following code:
[code]
Will produce the following logs:
[code]

While this:
[code]
Produces:
[code]

### What did you expect

[2022-04-07 19:13] mythi commented on #109081
@travisghansen I ran into this error in my use-case and debugged what's going on. I *think* the problem goes away with a recent enough `grpc-go` and when the socket path is correctly prefixed in the client connection:

https://github.com/grpc/grpc-go/blob/5682cc6a321507ce2a865beb8dd4bed9a5db0e06/clientconn.go#L1654-L1665

I though I could start working on fixing this in kubelet.

[2022-04-07 20:05] maxwolffe commented on #109180
Thanks friends! Looks like the oldest version which has this fix is 1.23?

We're a little ways off from that update, but it looks like the issue is resolved (from reading the PR), feel free to close this if needed.

[2022-04-07 20:05] ehashman commented on #109317
Still failing :\

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-cri-o/1512112999358271488

/reopen

[2022-04-07 20:08] SubhasmitaSw opened #109374 "Helper Prow Bot command that generates additional commit on PRs"
A bot command that makes an additional commit to PRs that fail to pass the bars with `make update` or `make verify`  to re-generate files as needed.
This is a proposed solution advancing the temporary solution of a helper CI job that runs make update when triggered and there's a zip file that has the changes after the `make update` is run.

ref #107726

cc @dims

[2022-04-07 20:12] ruiwen-zhao commented on #109082
Created a PR to keep rerunning the test: https://github.com/kubernetes/kubernetes/pull/109371

[2022-04-07 20:23] ruiwen-zhao commented on #109082
Also checking time of the test run in the latest 5 runs, and the earliest 5 runs, I don't see a huge difference

[code]

So the passing tests take only ~ 1min, whereas failed runs take more than 3 mins.

[2022-04-07 20:39] mboutet commented on #74099
/remove-lifecycle rotten

[2022-04-07 20:40] mboutet commented on #74099
/remove-lifecycle stale

[2022-04-07 21:09] ahmedtd opened #109376 "Investigate extending log sanitization to audit logs"
### What would you like to be added?

(This is an issue being moved from https://github.com/kubernetes-security/security-disclosures-low/issues/9 to be worked on in public)

In the past, we've had a medium-severity vulnerability reported to the Kubernetes project for a misconfigured audit-logging.  The core of the original issue was that the default Kubernetes audit log policy in the cluster/gce/g

[2022-04-07 21:10] ahmedtd commented on #109376
/sig auth

[2022-04-07 21:32] tavin commented on #107741
@liggitt Is it a completely insane idea to bring PodPreset back as beta (or v1)? As an average user (i.e. sysadmin / devops engineer) I have no idea what's behind a failure to graduate from alpha. I just know I was using it, along with other people, and I'm willing to submit PRs.

[2022-04-07 21:37] blackzlq opened #109377 "Update gmp in debian-base:buster-v1.10.0 to patch CVE-2021-43618"
Need to update debian-base for this vuln: [https://security-tracker.debian.org/tracker/CVE-2021-43618](https://security-tracker.debian.org/tracker/CVE-2021-43618)

gcloud container images list-tags k8s.gcr.io/build-image/debian-base --filter="tags~buster" --sort-by=tags

DIGEST        TAGS                  TIMESTAMP
37cfe133a6ff  buster-v1.1.3,v2.1.3  1969-12-31T16:00:00
ee10b1564492  buster-v1.1.

[2022-04-07 21:38] blackzlq commented on #109377
/sig release

[2022-04-07 21:46] bobbypage commented on #109186
I think this is due to 1.18 golang bump in CI. cAdvisor does not currently build when using go1.18

[code]

[2022-04-07 21:47] bobbypage commented on #109186
xref: https://github.com/google/cadvisor/issues/3092

[2022-04-07 21:50] nicksdockeracct commented on #108633
I've confirmed this does not work with EKS 1.22 either (kubectl 1.22.5).

@996refuse as a work around the longer method where you manually sign the cert works, as detailed here:
[https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/](https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/)

[2022-04-07 22:03] jackfrancis commented on #96411
/remove-lifecycle rotten

[2022-04-07 22:16] johnflavin-fw opened #109378 "Set Pod as "related" on Job's SuccessfulCreate event"
### What happened?

Create a Job and watch its events. When a Pod is created from the Job's template, you'll receive an event with `reason: "SuccessfulCreate"`. This event has information about the Job in its `regarding` field, but nothing in its `related` field.

**Example**
<details>

[code]

</details>

### What did you expect to happen?

I expected the event's `related` field would be populate

[2022-04-07 22:17] johnflavin-fw commented on #109378
/sig api-machinery

[2022-04-07 22:35] Riaankl opened #109379 "Eligibility for conformance: Node endpoints: read/replaceCoreV1NodeStatus"
In the K8s Conformance meeting of 6 April the testing of Node endpoints and their eligibility for conformance testing was discussed.
This issue is created to get more community input on the topic.

- [Discussion starts around 14mins](https://www.youtube.com/watch?v=31Swpnpqn4Y&t=840s)
- Should node endpoints be tested?
- Can we accualy test these endpoints with the current test framework
- [Confor

[2022-04-07 22:37] Riaankl opened #109380 "Testing ResourceQuota endpoints"
In the K8s Conformance meeting of 6 April the testing of ResourceQuota endpoints and their eligibility for conformance testing was discussed.
This issue is created to get more community input on the topic.
- Should these be part of conformance?
- Does it need to use other components to test these endpoints?
- [Conformance meeting notes](https://docs.google.com/document/d/1W31nXh9RYAb_VaYkwuPLd1hFx

[2022-04-07 22:38] Riaankl commented on #109379
/triage accepted
/cc @johnbelamaric @smarterclayton @dims @hh

[2022-04-07 22:39] Riaankl commented on #109380
/triage accepted
/cc @johnbelamaric @smarterclayton @dims @hh

[2022-04-07 23:13] Riaankl commented on #109379
I have lost track of this issue where it have already been discussed.
https://github.com/kubernetes/kubernetes/issues/108035

Let's continue to discuss further here. Apologies for the confusion
/cc @liggitt

[2022-04-07 23:19] Riaankl commented on #109379
https://github.com/kubernetes/kubernetes/issues/108035#issuecomment-1036704297

[2022-04-07 23:20] Riaankl commented on #108035
Close in favour of #109379

[2022-04-08 00:49] garyyang85 commented on #109357
Caused by my mistake. I used a objectSelector :(

[2022-04-08 00:49] #109357 closed

[2022-04-08 01:03] travisghansen commented on #109081
That would be awesome! Then I can finally do away with all the crazy workarounds.

[2022-04-08 01:29] mengschin commented on #109214
Thanks @pacoxu

Just to confirm, is that the actual behavior? That, HPA wont scale down when there is no metric value received?

[2022-04-08 02:24] chymy opened #109384 "Unable to perform initial IP allocation check: unable to refresh the service IP block: Get "https://[::1]:6443/api/v1/services": net/http: TLS handshake timeout"
### What happened?

When upgrading k8s from 1.22.1 to 1.22.3, apiserver prints error logs:
[code]

### What did you expect to happen?

Apiserver is running normally.

### How can we reproduce it (as minimally and precisely as possible)?

upgrading k8s

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

[2022-04-08 03:39] fusida commented on #109233
now we add monitor to verify jws-token, and find some k8s cluster have the problem. then we change config map or restart controller manager can fix it. so it think it need retry or requeue to be reconciled

[2022-04-08 03:54] yanghesong commented on #107026
/remove-lifecycle stale

[2022-04-08 05:50] pacoxu commented on #109384
/sig network
for triage

[2022-04-08 06:24] aojea commented on #109384
That error means there is nothing listening on [::1]:6443 , or your system doesn't allow to connect on that address

You should check why is happening that, I can't see anything in the logs pasted

[2022-04-08 06:50] fusida commented on #109233
@neolit123
we find jws-token verify fail, until we change configmap to cause controller work, then jws-token change right.
[code]
i think controller manager retry to update configmap can fix this problem.
but there may have any other factor cause this problem. it may be good to run an e2e test, but some online clusters have incorrect jws-tokens that cause kubeadm join to fail. this is a sporadic p

[2022-04-08 07:19] #109372 closed

[2022-04-08 07:57] chymy commented on #109384
Thanks @aojea This problem lasted about 3 hours and recovered automatically.

Memory is enough.

[code]

details logs:
<details>

[code]

</details>

[2022-04-08 08:22] iamNoah1 opened #109390 "Unable to update openapi spec on a M1 machine"
### What happened?

Following [this](https://kubernetes.io/docs/contribute/generate-ref-docs/contribute-upstream/) page, I was trying to generate API docs after updating the comments for IngressClassName.

The process of generating the docs includes running `./hack/update-openapi-spec.sh` which failed on a M1 machine. The error message is the following: `.../kubernetes/_output/local/bin/darwin/arm

[2022-04-08 08:24] iamNoah1 commented on #109390
/sig docs

[2022-04-08 08:51] Kartik494 commented on #106994
/remove-lifecycle stale

[2022-04-08 08:53] Kartik494 commented on #106994
@tonyaw there is some inputs on this issue [here](https://github.com/kubernetes/kubernetes/issues/108681#issuecomment-1067157795) . Would you mind taking a look on this .
Thanks11

[2022-04-08 09:21] kidlj opened #109391 "e2e framework sub-packages should not import the core framework package to avoid circular imports"
### What would you like to be added?

1. What is e2e framework and how it works?

The e2e tests in Kubernetes are built atop of [Ginkgo](http://onsi.github.io/ginkgo/), where the core framework package(`e2e/framework`) sits in the central to register `BeforeEach` and `AfterEach` action for each test case, like setting up a K8s clientset, creating a separate namespace for each test case, dumping th

[2022-04-08 09:22] kidlj commented on #109391
/sig testing

[2022-04-08 09:33] zhoudayongdennis commented on #78024
@divyenpatel

i encountered the same issue on vsphere CPI 1.21 and CSI 2.3.1 with disk.EnableUUID=TRUE, do you have any further recommendation for more investigation?

[2022-04-08 09:36] MadhavJivrajani commented on #109374
Please keep in mind: the author should be okay with the bot doing this.

Should we maybe move this to k/community or k/test-infra?

[2022-04-08 09:36] segevfiner commented on #95712
/remove-lifecycle stale

[2022-04-08 09:45] ialidzhikov commented on #109354
It seems that we build the ASW based on the Node `.status.volumesAttached`.

https://github.com/kubernetes/kubernetes/blob/a7a32748b5c60445c4c7ee904caf01b91f2dbb71/pkg/controller/volume/attachdetach/attach_detach_controller.go#L376-L393

---

In K8s 1.20.13 the volumeName for in-tree PV in the Node status looks like:
[code]

Note that the zone is `UNSPECIFIED`.

The corresponding PV topology label

[2022-04-08 09:54] mythi commented on #109081
The nomad issue link you gave tried the approach I was talking about without luck it seems. I need take a closer look what's wrong...

[2022-04-08 10:21] fzyzcjy commented on #66775
We also face the same problem. Did you solve it?

[2022-04-08 10:38] shuheiktgw commented on #109203
I'm closing this issue since it passes for the last seven days consecutively 👍
/close

[2022-04-08 10:38] #109203 closed

[2022-04-08 10:41] Kartik494 commented on #107227
/remove-lifecycle stale

[2022-04-08 10:46] Kartik494 commented on #107227
Hi @nc-ruth can you please check with `kubectl get pods -o yaml` command.
Thanks!!

[2022-04-08 11:08] nc-ruth commented on #107227
Hi @Kartik494,

Thank you for your suggestion.
The suggestion you give will have us traverse all pods in a given namespace, for checking which PVC's are attached to it.

The suggestion I have, is to get which pods directly from the PVC (using get pvc <pvc> -o yaml).
Does it make sense?

Thank you

[2022-04-08 11:18] #93188 closed

[2022-04-08 11:40] neolit123 commented on #109233
The problem here is that we still have no explanation on why it happens and
how to reproduce it...It seems that the reconciliation logic is not ideal.

If you'd like to send a PR fix I can help reviewing it. We can then work on
an e2e test.

[2022-04-08 11:46] c-salib commented on #86186
I hope our use case is clear. It is a matter of time before this weakness is exploited

[2022-04-08 12:04] #109280 closed

[2022-04-08 12:12] mowangdk opened #109393 "Create dynamic provisioning pvc but eventually the pv is in a pending status and the pvc is in a lost status"
### What happened?

1. Create dynamic provisioning pvc
2. both pvc & pv not in bound status
![image](https://user-images.githubusercontent.com/9926112/162419864-b34c904c-e8eb-49e9-996d-8ddf86ffdf65.png)

### What did you expect to happen?

pvc and pv are in a normal state. such as  pv are not be created and pvc in lost or pending status

### How can we reproduce it (as minimally and precisely as p

[2022-04-08 12:13] mowangdk commented on #109393
/sig storage

[2022-04-08 12:37] OliverCole commented on #87149
/remove-lifecycle stale

[2022-04-08 13:26] dims commented on #109390
@iamNoah1 can you please try `make kube-apiserver` and re-run the script?

[2022-04-08 13:28] xing-yang commented on #109354
/assign @Jiawei0227
Jiawei, can you take a look?

[2022-04-08 13:31] xing-yang commented on #109142
/assign @jsafrane
Jan, can you take a look?

[2022-04-08 13:31] aojea commented on #109384
it can be multiple things, but looks related to some environment problem

Trace[757730164]: [1.500966137s] [1.500966137s] END
I0407 11:31:41.569513       1 trace.go:205] Trace[636265109]: "List" url:/api/v1/namespaces/admin/secrets,user-agent:kubelet/v1.22.3 (linux/amd64) kubernetes/c920368,audit-id:3d07fc6d-392c-4684-a03d-37f6dbeac6fe,client:192.210.190.100,accept:application/vnd.kubernetes.proto

[2022-04-08 13:32] xing-yang commented on #109354
/triage accepted

[2022-04-08 13:42] iamNoah1 commented on #109390
@dims unfortunately no change. It is only making kube-apiserver for `darwin/amd64`: `+++ [0408 15:36:20] Building go targets for darwin/amd64
    k8s.io/kubernetes/hack/make-rules/helpers/go2make (non-static)`

[2022-04-08 13:48] dims commented on #109390
[code]

[2022-04-08 13:48] dims commented on #109390
There's probably something wrong in your environment @iamNoah1 ?

[2022-04-08 14:03] jayunit100 commented on #108741
so to really kill etcd, we need to do

[code]

i believe, right?

[2022-04-08 14:12] Excpt0r commented on #108741
@jayunit100
nope, `--grace-period=0` will use the grace-period defined in the pod, for example 30s.
And it's not possible to combine `--force` with grace-period different to 0.
The closest you can get to "kill pod immediately" is to use `--grace-period=1` or its alias `--now` (note the missing `--force`).

That is at least my understanding, based on the explanation from brian.

[2022-04-08 14:23] iamNoah1 commented on #109390
@dims apparently. Found the issue on layer 8 ^^. I installed golang for amd macs on my machine. Crazy that it worked. After installing the correct golang version everything works :)

[2022-04-08 14:23] #109390 closed

[2022-04-08 14:28] dims commented on #109390
LOL ok @iamNoah1 :)

[2022-04-08 14:35] dgonzalo-sgt commented on #18755
It's not production-ready code, but feel free to check the proof-of-concept I did for the  comment above about creating a broadcaster/forwarder pod, maybe it can give you some ideas: https://github.com/dgonzalo-sgt/headless-broadcaster

[2022-04-08 15:34] #106428 closed

[2022-04-08 15:39] pohly commented on #72031
/unassign

I've put https://github.com/kubernetes/enhancements/pull/1703 up for adoption by someone who wants to carry it forward, if that is the way we want to go.

[2022-04-08 16:23] #104269 closed

[2022-04-08 16:23] #106165 closed

[2022-04-08 17:01] mikebrow commented on #109082
checked some of the logs.. when the stats are empty on the ones I looked at it's because there was no `/etc/cni/net.d/conf file... what you'll get is an error message in the containerd.log out on the worker node that looks like this:
[code]

example:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-containerd-node-e2e/1511933061271392256/artifacts/tmp-node-e2e-e90a39cc-cos-89-16108-604-31

[2022-04-08 17:10] isibeni commented on #109131
Agree on that.
Will open another issue these days

Yeah you are right. But then I would propose that we don't need the status field `failedIndexes` for now. This only becomes helpful with the other feature I just proposed

[2022-04-08 18:03] Setheck opened #109397 "1.22 Jobs Backofflimit not respected"
### What happened?

I created a job with backoff limit of 0 (or any number really)
example
[code]

### What did you expect to happen?

I expected this job to run, fail and respect the backoff limit. Or at least be close to it. I'm seeing a lot more retries than i would expect.
[code]

related pods that were created
[code]

### How can we reproduce it (as minimally and precisely as possible)?

Simp

[2022-04-08 18:03] Setheck commented on #109397
/sig apps

[2022-04-08 18:06] Setheck commented on #109397
If it's helpful here is the job yaml output
[code]

[2022-04-08 18:33] jayunit100 commented on #108741
ah ok thanks !

[2022-04-08 19:17] aslafy-z commented on #69507
/remove-lifecycle stale

[2022-04-08 19:25] #102954 closed

[2022-04-08 20:19] bobbypage commented on #109186
https://github.com/google/cadvisor/pull/3093 merged, let's see if it will make CI green.

[2022-04-08 20:23] ravisantoshgudimetla commented on #109367
Yes, we can see that the pod has been bound to node in the apiserver logs. Further more both the pods are running on the same node

[2022-04-08 20:27] SergeyKanzhelev commented on #107802
looking at namaspaces failures - all test runs run on the same nodes, successful at first and then start hitting memory issues on master:

[code]

and

[code]

They start passing again when nodes are re-created. I'm not sure what controls when they being recreated. Those tests called soak for a reason, need to look deeper where the configuration for it is.

So next steps:
- understand what overloa

[2022-04-08 20:50] alculquicondor commented on #109367
And the call came from the same user agent? Are there any reasons to believe that kube-scheduler crashed at some point? Can you try running with higher log verbosity level?

[2022-04-08 21:01] ravisantoshgudimetla commented on #109367
Yup. There is no other entity which is assigning pod to node.

For api-server or scheduler? I did not pursue this route because this issue happens with very less frequency and it'll put pressure on CI infrastructure to enable logging for every CI run.

[2022-04-08 21:07] timoreimann commented on #104107
@smarterclayton and others: what kind of information can we provide (and how?) to help further analyze this issue?

[2022-04-08 21:11] alculquicondor commented on #109367
Could you try 3 at least?

On Fri., Apr. 8, 2022, 5:01 p.m. Ravi Gudimetla, ***@***.***>
wrote:

[2022-04-08 21:56] jayunit100 opened #109399 "We need a [Disruptive] test that is capable of exposing deep write latency bugs for the underlying K8s APIServer Storage implementation."
### What happened?

We missed some critical test coverage in 1.22 and verified etcd 3.5 which has several issues https://groups.google.com/a/kubernetes.io/g/dev/c/B7gJs88XtQc/m/rSgNOzV2BwAJ?utm_medium=email&utm_source=footer&pli=1

### What did you expect to happen?

We have a  test in place that  can  push etcd to its limits and send SIGKILLs somehow.

### How can we reproduce it (as minimally an

[2022-04-08 21:56] jayunit100 commented on #109399
/sig testing

[2022-04-08 21:58] jayunit100 commented on #109399
let me know if this should live somewhere else i.e. https://github.com/kubernetes/perf-tests talked with @jamiephillips and @Elbehery today , well build this between rancher/rh/vmware open to collab w others

[2022-04-08 22:10] ruiwen-zhao commented on #109082
Thanks @mikebrow !

I did see another flaky test issue opened recently mentioning the same `cni config load failed: no network config` error: https://github.com/kubernetes/kubernetes/issues/109127#issuecomment-1082388408 But that issue was closed without further investigation.

Searching the error msg I ran into https://github.com/kubernetes/kubernetes/issues/54918, which suggests that this is som

[2022-04-08 22:21] SergeyKanzhelev commented on #109082
I saw this CNI failure here: https://github.com/kubernetes/test-infra/issues/25430#issuecomment-1092218108 Likely it is because this file is not working well: /workspace/test-infra/jobs/e2e_node/containerd/image-config.yaml

[2022-04-08 22:25] SergeyKanzhelev commented on #109082
I don't see those same issues on this job: https://testgrid.k8s.io/sig-node-containerd#cgroup-systemd-containerd-node-e2e so I'd think it is not relevant

[2022-04-08 22:25] #101526 closed

[2022-04-08 22:28] SergeyKanzhelev commented on #109082
checked on the logs - it looks like the cni is initialized long before the test execution.

[2022-04-08 23:30] bobbypage commented on #109186
Latest run is green

![image](https://user-images.githubusercontent.com/486583/162546344-15bca86a-ab2b-4695-a305-921412bdd4be.png)

[2022-04-08 23:31] bobbypage commented on #109186
/close

[2022-04-08 23:31] #109186 closed

[2022-04-08 23:36] ruiwen-zhao commented on #109082
yeah... looks like even the passing runs are showing the cni error
[code]

Log link: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cgroup-systemd-containerd-node-e2e/1512557880656531456/artifacts/tmp-node-e2e-4a292cee-cos-89-16108-604-31/containerd.log

Test link: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cgroup-systemd-containerd-node-e2e/1512557880656531456

[2022-04-09 00:23] Elbehery commented on #109399
+1

[2022-04-09 00:49] dims commented on #109186
Sweet @bobbypage !

[2022-04-09 01:36] mtaufen commented on #108821
For Kubelet I think this was basically always the behavior we wanted. I think kube-proxy (memory is fuzzy though) tried to make config and flags mutually exclusive to avoid the backwards-compatibility requirements around supporting both simultaneously. Then dynamic kubelet config added its own layer of complexity to the flag precedence implementation (but now that's being removed by @SergeyKanzhel

[2022-04-09 01:47] mtaufen commented on #108821
It is likely a good idea to make flags and config mutually exclusive. I'd probably recommend it for new attempts at this. I think I've said that before on at least one other thread :P.

With kubelet I was trying to make it possible to migrate flags incrementally, because there were tons of flags and tons of open questions about which ones we should keep in config and which we should put on a depre

[2022-04-09 02:12] mtaufen commented on #108821
Some history of kubelet and config here: https://docs.google.com/document/d/1FdaEJUEh091qf5B98HM6_8MS764iXrxxigNIdwHYW9c/edit#

[2022-04-09 04:40] astraw99 opened #109400 "Propose LabelSelector to support `Regexp` operator"
### What would you like to be added?

Currently, the `LabelSelector` and `selection` Operator supports:
[code]

We'd like to propose LabelSelector to support `Regexp` operator, to meet more label selection requirements.

### Why is this needed?

In some senarios, we have the request to get resource objects by regexp, e.g: `^foo.*`, support different types of query, like prefix or suffix.

Currentl

[2022-04-09 04:42] astraw99 commented on #109400
/sig api-machinery

[2022-04-09 05:58] pst opened #109401 "Hard to understand why a secret of type kubernetes.io/service-account-token referencing an invalid service account gets deleted"
### What happened?

Creating a secret of `type: kubernetes.io/service-account-token` with the `kubernetes.io/service-account.name` annotation pointing to a service account that does not exist yet will return success. Yet a subsequent read after create will fail.

If creating the SA and the secret in correct order and then deleting the SA, the secret is deleted as well.

I assume this garbage colle

[2022-04-09 06:09] pst commented on #109401
/sig api-machinery

[2022-04-09 06:40] astraw99 commented on #109400
/cc @deads2k @liggitt

[2022-04-09 06:58] chymy commented on #109384
I can't see anything unusual about etcd. Only one of the following logs was printed. I don't know if it's related:
`WARNING: 2022/04/07 13:27:35 [core] grpc: Server.processUnaryRPC failed to write status connection error: desc = "transport is closing"`

etcd logs：
<details>

[code]

</details>

[2022-04-09 09:03] sanposhiho commented on #109285
I think just adding an info log when initializing each plugin is enough.
https://github.com/kubernetes/kubernetes/blob/c13d3369d588bf59eec8812327e421f1ce47c87a/pkg/scheduler/framework/runtime/framework.go#L296

[2022-04-09 12:38] serathius commented on #109399
I agree that Etcd should have an disruptive soak tests, it even already have disruptive tests, however I don't think it should be handled on K8s side. Instead of K8s community duplicating the work of etcd community, we should think how we can work together to ensure quality of testing. Both projects belong to same organization CNCF so we should be able to figure this out.

After v3.5.3 is cut I wi

[2022-04-09 12:42] lhj502819 opened #109403 "PV can only be bound by one PVC"
### What happened?

An error will be reported when other PVCs are bound：storageclass.storage.k8s.io "xxx" not found。

### What did you expect to happen?

Other PVCs can be bound to the same PV at the same time。

### How can we reproduce it (as minimally and precisely as possible)?

1、Build nfs service locally
2、pv.yaml：

apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs
spec:
  storageCl

[2022-04-09 12:44] serathius commented on #102237
/remove-lifecycle rotten

[2022-04-09 12:54] Elbehery commented on #109399
@serathius thanks for your follow up .. I would like to help / pair with you on that if possible

[2022-04-09 12:54] lhj502819 commented on #109403
/sig Storage

[2022-04-09 13:39] jayunit100 opened #109404 "Check our HNS api calls for deprecation, i.e. GetSupportedFeatures in windows kernelspace proxier"
### What happened?

fixing this in KPNG, just an FYI

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/winkernel/proxier.go#L143

I think should be calling GetCachedSupportedFeatures...

https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/Microsoft/hcsshim/hcn/hcnsupport.go

### What did you expect to happen?

We use up to date HCN apis

### How can we reproduce it

[2022-04-09 13:49] mikebrow commented on #109082
There's a false message about cni later on where kubelet has pushed the cidr update (on an empty config) and that triggers a watcher in containerd to try again.. but, you still don't have a working cni config I don't think. Yes, there is no cni config even on the passing runs.  No, I can't say why the network stats test would pass with no network, if it does pass.

[2022-04-09 13:50] robertbotez opened #109405 "Scheduler deploys pods on nodes with fully used cpu resources"
### What happened?

We tried to test the default functionality of the scheduler in order to implement a custom one. From our understanding, the scheduler should deploy the pods on the most available node.

### What did you expect to happen?

We used 3 worker nodes in our cluster, and we stressed two of them using stress package from Linux and we expected that the pod should be deployed on the non-

[2022-04-09 13:58] mikebrow commented on #109082
Read through the https://github.com/kubernetes/kubernetes/issues/54918 thread...

Yeah, we're not always adding a cni conf file when we expect networking to work. As networking isn't a requirement for all scenarios, we (containerd cri) report the error and let it go. If you add a valid conf file at config.toml defined location, any time before or after running containerd.. we have a watcher that w

[2022-04-09 14:22] mikebrow commented on #109082
if you see "cni result" those pods should be fine and generate stats.

[2022-04-09 14:56] mikebrow commented on #109082
digging through the code some more.. the way to get nil on net stats:
https://github.com/containerd/containerd/blob/ea7a9cbac03ccd8845cedda464ee350c22f1698d/pkg/cri/server/sandbox_stats_linux.go#L72-L83
is not to have a sandbox.NetNSPath and that only happens if there is a failure over here:
https://github.com/containerd/containerd/blob/ea7a9cbac03ccd8845cedda464ee350c22f1698d/pkg/cri/server/sandb

[2022-04-09 16:22] adyanth commented on #36601
Is there anything better than this?
[code]

[2022-04-09 17:19] liggitt commented on #109400
Thanks for the feature request, but this is unlikely to make progress as an issue. Things along these lines have been requested many times for selectors. Past related requests / discussions:
* https://github.com/kubernetes/kubernetes/issues/72196#issuecomment-971920747
* https://github.com/kubernetes/kubernetes/issues/72196#issuecomment-972002671 (link to discussion in api-machinery meeting)
* htt

[2022-04-09 17:19] #109400 closed

[2022-04-09 18:47] zx8 commented on #90329
/remove-lifecycle stale

[2022-04-09 20:45] mikebrow commented on #109082
need to match up the failure pod id to a successful cni result

[2022-04-09 20:53] gkarthiks commented on #103068
@neolit123 just an FYI, the maintainers of the go-openapi have also removed the purell dependency. 🚀

[2022-04-09 21:53] SergeyKanzhelev commented on #109082
So `RunPodSandbox` should return error to have the `sandbox.NetNSPath = ""`. So this message would be executed: https://github.com/kubernetes/kubernetes/blob/0184d77f506c15baf8186089f2f3bb2aedf4c10f/pkg/kubelet/kuberuntime/kuberuntime_sandbox.go#L67-L72

But I cannot find the `"Failed to create sandbox for pod` in the kubelet.log at least on one of the failed executions.

[2022-04-09 22:00] mikebrow commented on #109082
nod.. found another way to get NetNSPath to nil ... we set NetNSPath to "" during StopPodSandbox() https://github.com/containerd/containerd/blob/ea7a9cbac03ccd8845cedda464ee350c22f1698d/pkg/cri/server/sandbox_stop.go#L92

[2022-04-09 22:01] mikebrow commented on #109082
is it possible we have started or.. finished stopping the sandbox when we try to get the stats for it?

[2022-04-09 22:03] mikebrow commented on #109082
if that is the case I can add something like
[code]
to the code here: https://github.com/containerd/containerd/blob/ea7a9cbac03ccd8845cedda464ee350c22f1698d/pkg/cri/server/sandbox_stats_linux.go#L72-L83

[2022-04-10 02:09] dims opened #109406 "smaller distroless based kube-proxy image"
Istio folks have a iptables image here that is quite small
https://github.com/istio/distroless/tree/iptables

[code]

In the past, we did talk about this, for example @BenTheElder wrote it well what we could try:
https://github.com/kubernetes/kubernetes/issues/70249#issuecomment-1032224130

We could even do `bash-static` for running the hack script we have for switching the symlinks when `nft` vs

[2022-04-10 02:43] astraw99 commented on #109400
Got it, thanks :)

[2022-04-10 02:48] astraw99 commented on #108839
/cc @deads2k @liggitt

[2022-04-10 02:49] yxxhero commented on #109405
/sig scheduling

[2022-04-10 02:51] yxxhero commented on #109405
When Kube scheduler schedules pod, the actual load of nodes will not be considered,  it only considers the remaining resources and the relationship with cpu and mem `resource.request`.

[2022-04-10 02:56] liggitt commented on #108839
The server response is an error v1 Status response. The response is either an error or the successful create. The client doesn't have the information needed to return the existing object.

[2022-04-10 02:56] #108839 closed

[2022-04-10 03:38] #103822 closed

[2022-04-10 05:11] pzheng1025 commented on #105129
Sounds good.

[2022-04-10 05:11] #105129 closed

[2022-04-10 05:28] uablrek commented on #109406
I don't think this is a sig/network-only issue. A `find ... -name Dockerfile | grep -v test` gives;
[code]
The `server-image/Dockerfile` looks like this (narroved):
[code]
If I don't misinterpret this, K8s uses a unified server-image build and it should not be different for `kube-proxy`.

The size of the `kube-proxy` binary for amd64 in 7380fc735 is;
[code]
It is stripped and can't easily be "made

[2022-04-10 06:21] cognifloyd commented on #96957
Can we reopen this? It would be very very helpful to have this feature.

[2022-04-10 07:47] 249043822 commented on #109352
/triage accepted
/assign

[2022-04-10 08:06] 249043822 commented on #109352
This is due to the podworker which always override the gracePeriod even if a common pod deletion or termination after the refractor  https://github.com/kubernetes/kubernetes/pull/102344/files#diff-c6d21f5481c391a3f32bcfddf45c9c20132b2876e8be9690289474b76b71d809,   will give a fix right now

[2022-04-10 12:30] guettli opened #109408 "`kubectl get all` does not list all resources"
### What happened?

I execute `kubectl get all `

### What did you expect to happen?

I expect to see all resouces

### How can we reproduce it (as minimally and precisely as possible)?

`kubectl get all`

### Anything else we need to know?

Related: https://stackoverflow.com/questions/47691479/listing-all-resources-in-a-namespace

It would be great to have a way to search all resources with `kube

[2022-04-10 13:34] novahe commented on #109405
/rm kind bug
/help

[2022-04-10 22:35] howardjohn commented on #109406
We (Istio) would definitely be interested in sharing ownership (hopefully by upsteaming to distroless mainline) in the image we have if there is interest. Some other projects have expressed similar needs as well

[2022-04-10 23:24] Riaankl commented on #109406
![image](https://user-images.githubusercontent.com/61125752/162644338-70a1fc72-4ce2-494e-bca2-3a223262e7ad.png)

[2022-04-10 23:26] Riaankl commented on #109406
@dims kube-proxy make up 9% of current image data traffic

[2022-04-10 23:50] #106160 closed

[2022-04-11 02:37] ahg-g commented on #109063
/close

Feel free to open again if you need more information.

[2022-04-11 02:37] #109063 closed

[2022-04-11 03:11] ahg-g commented on #109405
Correct, the scheduler doesn't take into account the actual utilization of the node, only "requested" resources.

There are some external scheduler plugins that aim to provide such utilization-aware semantics; see this for example https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/trimaran

[2022-04-11 03:20] ahg-g commented on #109367
This is very odd and suspicious. Can you check that the binding call for both were indeed made by kube-scheduler as the agent?

It is unlikely that the scheduler is treating both as the same if it indeed made two binding calls for each. Binding happens only if the pod went through the scheduling cycle.

That is expected, pod anti-affinity is only enforced by the scheduler, kubelet doesn't enforce

[2022-04-11 04:05] ahg-g commented on #109364
/remove-kind bug
/kind feature

This is working as intended, so it is not a bug, but certainly worth documenting.

What you are asking is worth the discussion, but I am not sure if it can reliably be implemented given that the scheduler is designed to schedule one pod at a time.

[2022-04-11 04:41] unmarshall commented on #109364
So there are 2 variants:

1. In the above example when we are currently at 5 replicas and we attempt to add 6th replica due to scaling up then it would just not be possible to continue the scaling post 6 (lets say 7) which would then not violate any TSC.
2. Directly jump from let's say 5 to 7 replicas.

We initially assumed that constraints enforcement and the actual scheduling are clearly separat

[2022-04-11 05:04] shaoliming123 commented on #109403
@lhj502819 have you created `manual` storageClass?

[2022-04-11 05:15] MadhavJivrajani commented on #109408
/sig cli

[2022-04-11 05:57] ruquanzhao commented on #65517
Any new progress on this ?

[2022-04-11 06:38] kerthcet commented on #107464
/remove-lifecycle stale

[2022-04-11 07:11] MadhavJivrajani commented on #109405
/remove-help

[2022-04-11 08:21] ale-telefonica commented on #83938
I´m still seeing these logs in version 1.23.1

`W0411 04:07:17.644840       1 watcher.go:229] watch chan error: etcdserver: mvcc: required revision has been compacted`

[2022-04-11 08:42] fusida commented on #109233
#109389

[2022-04-11 10:39] slaskawi commented on #84571
Thanks for the response @tallclair !

I started working on an enhancement here: https://github.com/kubernetes/enhancements/pull/3277. It's still work-in-progress but I think having some code examples will make the communication easier.

Following your suggestion, I proposed 3 different approaches to enabling this feature here: https://github.com/kubernetes/enhancements/pull/3277/files#diff-5bdc50c

[2022-04-11 11:28] declangallagher opened #109414 "Pods with failed status IP address reused on new pods, but traffic still going to old pods across namespaces."
### What happened?

Since upgrading to v1.22.7-gke.1500 in GKE cluster, we have noticed that pods marked as OutOfmemory
Terminated, ContainerStatusUnknown, OOMKilled, OutOfcpu are still showing as "ready" in the endpoints list, causing traffic to route to them.

### What did you expect to happen?

For the pods to be deleted, and if there IP address is reused, for the IP address not to be routed to

[2022-04-11 11:33] declangallagher commented on #109414
/sig network

[2022-04-11 12:31] navidnadali commented on #104107
We are hitting this pretty often as well now since upgrading to v1.22.7-gke.1500 - It's actually causing us major issues in production documented in #109414 - We can put in resource to provide any further information/diagnostics if it can help resolve this please just let us know

[2022-04-11 12:33] dims commented on #104107
@navidnadali please contact your GKE support folks please! They take first crack at it and will approach the community as/when needed.

[2022-04-11 12:48] dims commented on #104107
Thanks @navidnadali

[2022-04-11 13:17] dims commented on #109408
@guettli this was one of my first PRs to this project :) https://github.com/kubernetes/kubernetes/pull/28955

Sorry we will not be doing that. please see reasons in the PR above.

[2022-04-11 13:17] #109408 closed

[2022-04-11 13:21] danwinship commented on #105742
@cyclinder sure
/assign @cyclinder

[2022-04-11 13:43] DreamyProtect commented on #106957
We're also having this issue on a cluster hosting Gitlab CI jobs, this is quite a trouble since many jobs are spawned and removed daily.

Kubernetes version: v1.22.7
CRI-O version: 1.22.2

Is there any news about the fix ? I looked into @haircommander 's PR, it seemed ok to me but I'm not really experienced in Go... Nevertheless I'd be happy to help

[2022-04-11 13:53] lhj502819 commented on #109403
Oh，I know the problem, I see that the case on the official document does not say to create a storageClass, but why can the first PVC be successfully bound?

[2022-04-11 14:08] neolit123 commented on #109374
/kind feature

[2022-04-11 14:08] neolit123 commented on #109404
/sig network windows

[2022-04-11 14:37] fzyzcjy commented on #44954
Is there any updates? This is very helpful and is not yet addressed (but is closed :( )

[2022-04-11 16:41] nrktkt commented on #83938
@ale-telefonica

[2022-04-11 17:05] caleb15 commented on #88709
/remove-lifecycle stale

[2022-04-11 17:27] lauralorenz opened #109416 "[Flaky tests] Several builds intermittently failing outside of test results: gce-cos-master-reboot, gce-cos-master-default, gce-cos-master-alpha-features, gce-cos-master-scalability-100"
### Which jobs are flaking?

[master-blocking/gce-cos-master-reboot](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-reboot)
[master-blocking/gce-cos-master-default](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default)
[master-blocking/gce-cos-master-alpha-features](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features)
[master-

[2022-04-11 18:02] ruiwen-zhao commented on #109082
Sorry i think i made a mistake above. The test code where the failure is occurring is actually at [1]:

[code]

and the `Network` field of podExpectation is
[code]
Note that the test does not accept nil values for any field under `InterfaceStats`.

https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/summary_test.go#L206-L215

[2022-04-11 18:16] ruiwen-zhao commented on #109082
Good point. Still tracing the test failure  https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cos-containerd-node-e2e/1509696931939487744

The pod must have started already because the test waited for it to start:

[code]

On the other hand, the failure (i.e. timeout) seems to happen at 01:16:02:

[code]

whereas in containerd log, the sandbox was removed at 01:16:38:

[code]

So the pod sand

[2022-04-11 18:32] Matthelonianxl commented on #109416
#!/usr/bin/env python

# Copyright 2018 The Kubernetes Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is d

[2022-04-11 18:38] maxsmythe commented on #79610
@tallclair this is sounding a bit like Gatekeeper's watch manager:

* A central watch manager handles the set-up/tear down of dynamic watches (which are just informers with the ability to remove GVKs)

* Individual controllers can sign up for "registrars", which allow them to update the set of GVKs they are watching via set operations

* Watch events are distributed to controllers by the watch man

[2022-04-11 18:55] mattmoor commented on #109406
I threw together this little repo (based on our next-gen distroless infrastructure): https://github.com/mattmoor/iptables

It pushed ghcr.io/mattmoor/iptables:latest which on x64 is roughly another 5x smaller (musl vs. glibc):
[code]

If folks are interested in this, I'd be happy to create a repo under `github.com/distroless` which is where we've been standing up new images, or you can create your

[2022-04-11 19:03] dims commented on #109406
@mattmoor debian based please!! we have KEPs and stuff written that lay down that direction:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/1729-rebase-images-to-distroless/README.md

[2022-04-11 19:18] BenTheElder commented on #109406
For a possible approach https://github.com/kubernetes/kubernetes/issues/70249#issuecomment-1032224130 + above in that issue and https://github.com/kubernetes-sigs/kind/tree/main/images/haproxy for "distroless" debian based images with arbitrary C/C++ binaries + deps.

Note that we need things besides just the distro binaries (see comment linked).

https://github.com/kubernetes-sigs/kind/blob/ca68f

[2022-04-11 21:13] lavalamp commented on #53459
This is on our radar but I don't think we have a plan yet. We might use CEL as an expression language. But that doesn't change the fact that queries like this are extremely expensive for apiserver (which has to scan every object) and we're reluctant to encourage more of them, at least not until APF is a little further along.

Caching & indexing locally (like all the built-in controllers) is the wa

[2022-04-11 21:24] apelisse commented on #104207
/remove-lifecycle stale

[2022-04-11 21:36] lavalamp commented on #108821
You can use an initContainer to plumb env vars into a config file, if you wanted -- is that the solution people are calling too hacky?

[2022-04-11 21:49] yibozhuang opened #109422 "CSI Client - consider making client timeout a parameter"
Currently in
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_plugin.go#L53

The client timeout when Kubelet invokes CSI node plugins is hard-coded at 2 minutes.
Should we consider allowing this value to be configurable?

Advantage there would be that for CSI plugins that may require longer time for performing staging and/or publishing, it allows the request to go through on

[2022-04-11 21:49] yibozhuang commented on #109422
/sig storage

[2022-04-11 22:15] yibozhuang opened #109423 "selinux ignored for CSI volume reconstruction"
### Description

Today, `SELinuxRelabel` attribute for CSI is set [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_mounter.go#L353)
and the `supportsSELinux` field is only set after `NodePublishVolume` succeeds
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_mounter.go#L273

We have seen a case where the following sequence happens

1. Kubelet i

[2022-04-11 22:15] yibozhuang commented on #109423
/sig storage

[2022-04-11 22:45] lauralorenz commented on #109416
Appears to be spreading, observing similar cases for today in

[release-master-blocking#conformance-ga-only](https://testgrid.k8s.io/sig-release-master-blocking#conformance-ga-only)
[release-master-blocking#gce-device-plugin-gpu-master](https://testgrid.k8s.io/sig-release-master-blocking#gce-device-plugin-gpu-master)
[release-master-blocking#gce-device-plugin-gpu-master](https://testgrid.k8s.io/si

[2022-04-11 23:56] lavalamp commented on #107435
FWIW I don't see any reason not to fix this? It'd be reasonable to set X-Forwarded-Host to the Host value from the original request, I think. Regardless of whether that e.g. names an apiserver or a load balancer.

If we're setting both to the same thing that clearly seems like a bug.

[2022-04-12 00:03] mtaufen commented on #108821
Yeah that sounds right. People wanted something more direct/built in.

[2022-04-12 00:56] kerthcet commented on #107294
/remove-lifecycle stale

[2022-04-12 03:21] david666-cc commented on #71869
I had the same problem.

- kubernetes version: 1.14.8
- docker version：18.09.5
- operating system：centos7.9 2009
- kernel version: 3.10.0-1160.25.1.el7.x86_64
- filesystem type：xfs and lvm
- virtual machime type：ESXi VM
- error log：failed to garbage collect required amount of images. Wanted to free 4694896640 bytes, but freed 0 bytes
- problem：The df command shows that the disk partition usage rat

[2022-04-12 04:34] brandond commented on #102549
Not stale. Will try to move this forward myself.

[2022-04-12 04:34] brandond commented on #102549
/remove-lifecycle rotten

[2022-04-12 06:04] pohly commented on #103718
/remove-lifecycle stale

[2022-04-12 06:35] Akemon commented on #109352
Thanks for the update and created the PR quite quickly, thanks for your great efforts again.

[2022-04-12 06:38] DingGGu commented on #81756
I think this is not fixed yet, please re-open the issue.

[2022-04-12 06:45] leileiwan commented on #106681
yeah, test cases in pr have proved 18 is safety, the 1000000000Gi which is less than MaxInt64 was overflowed after parse2Int64

[2022-04-12 06:46] leileiwan commented on #106681
/remove-lifecycle stale

[2022-04-12 07:13] wilmardo opened #109427 "creationTimestamp: null is invalid since it isn't a string"
### What happened?

There seems to be a discrepancy between the Kubernetes openapi spec and the Go package with the `creationTimestamp`

### What did you expect to happen?

CRDs generated by `controller-gen` which uses `k8s.io/apimachinery/pkg/apis/meta/v1` to be valid according to the Kubernetes openapi spec.

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anyt

[2022-04-12 07:15] wilmardo commented on #109427
/sig api-machinery

[2022-04-12 08:01] mehmood8 opened #109428 "Still not able to create pod using minikube"
pod1.yml

[code]

kubectl -f apply pod1.yml

error:error validating "pod1.yml" error validation :kind not set; if you choose to ignore these error, turn validation off with --validate=false

![kube vers](https://user-images.githubusercontent.com/20983588/162911190-4e9234d5-d0dd-4132-91fa-ebf1c7c77d98.PNG)
![mini staus](https://user-images.githubusercontent.com/20983588/162911198-0de310a3-2cb4-48e1

[2022-04-12 08:44] euroelessar opened #109429 "Jobs deletion races with jobs-tracking pods finalizer"
### What happened?

After an upgrade from v1.22.x to v1.23.5 we have noticed that kubernetes clusters have started accumulating jobs and pods in "being deleted" state.
Jobs are created with `ttlSecondsAfterFinished: 300` so that they are automatically cleaned up by the controller.
Some fraction of jobs (one per a thousand or so) however are not deleted properly.
Based on final states of objects bo

[2022-04-12 08:46] euroelessar commented on #109429
/sig apps
/area batch

[2022-04-12 09:40] abckey commented on #105435
/remove-lifecycle stale

[2022-04-12 10:06] jsafrane commented on #109142
@ialidzhikov yes, your observation is right, it should be fixed by https://github.com/kubernetes/kubernetes/pull/100183
From 1.21 cherry pick:

[2022-04-12 10:31] ialidzhikov commented on #109142
@jsafrane , thanks for checking! Then I will close this issue for now. (Will reopen if it occurs with K8s 1.21).

[2022-04-12 10:38] ialidzhikov commented on #109142
/close

[2022-04-12 10:38] #109142 closed

[2022-04-12 10:39] ox7a59 opened #109432 "low performance of local storage on-premise"
### What happened?

Hello dear k8s developers!

[code]

As you can see from above, storage performance in virtual machine much better than this disk PVC.

So I have used [local-volume-provisioner](https://github.com/kubernetes-sigs/kubespray/blob/master/docs/kubernetes-apps/local_volume_provisioner.md) from Kubespray project.

### What did you expect to happen?

Approximately same storage performa

[2022-04-12 10:46] leonardpahlke commented on #109416
jobs are currently green on testgrid

[2022-04-12 10:47] neolit123 commented on #81756
What version of k8s are you using?
On Apr 12, 2022 09:38, "DingGGu" ***@***.***> wrote:

[2022-04-12 10:48] neolit123 commented on #81756
See https://github.com/kubernetes/website/pull/26713
You can use the flag mentioned there.
On Apr 12, 2022 13:47, "Lubomir I. Ivanov" ***@***.***> wrote:

[2022-04-12 10:51] ox7a59 commented on #109432
Also [issue](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/303) in [local-static-provisioner](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner)

[2022-04-12 11:26] DingGGu commented on #81756
If I use the flag in containerd as well, does the image gc prevent that image? There is no such thing in PR.

[2022-04-12 11:37] DingGGu commented on #81756
I think flag is no helpful in containerd

[code]

[code]

[2022-04-12 11:44] neolit123 commented on #81756
See https://github.com/kubernetes/kubernetes/issues/81756#issuecomment-773235889

[2022-04-12 12:09] sftim commented on #107325
We should triage this as accepted or invalid

/lifecycle frozen
pending that triage.

[2022-04-12 12:11] sftim commented on #109378
IMO:
/remove-kind bug
/kind feature

[2022-04-12 12:11] sftim commented on #109378
/sig apps
/remove-sig api-machinery

[2022-04-12 12:45] Decade2014 opened #109433 "When node in memory pressure,static pod enters Error status after node reboot"
### What happened?

Conditions:
1. node is in status of memory pressure;
2. node reboot.

What happened?
1. static pod enters Error status and never restore Running status.
2. container is running and works well.
![image](https://user-images.githubusercontent.com/7403481/162964523-94a8f829-b48a-476a-bb50-f764fe1e95e7.png)
![image](https://user-images.githubusercontent.com/7403481/162964614-13ea8df

[2022-04-12 13:03] MikeSpreitzer commented on #53459
The message bus people worked out decades ago how to efficiently handle content-based subscriptions.

[2022-04-12 13:05] Pseudow opened #109434 "New node cant access to services and all the things on my cluster network"
Hello, Ive recently encountered a problem relating to network. My new node can't acces to any services on my cluster.
My current cluster has 1 master and 2 nodes (with this one). The two other nodes can access to everything.
Im using calico, and kubeadm version 1.21.3-00.

Here is the description of my new node:

[code]

Thanks for your help

[2022-04-12 13:06] Pseudow commented on #109434
/sig network node

[2022-04-12 13:07] TBBle commented on #97783
/remove-lifecycle stale

[2022-04-12 13:12] MikeSpreitzer commented on #53459
http://shenh.people.clemson.edu/publishedPaper/bookChapter/2009/sub-pub-Shen.pdf should have some good pointers.  I know that the Gryphon system had a good solution.

[2022-04-12 13:30] pacoxu commented on #83107
I tried the yaml below. The pod can be evicted by the eviction manager.

[code]
If the feature gate is enabled, the eviction will happen immediately.
[code]

If the feature gate is disabled, the eviction will happen about 3 minutes later.
[code]

@aermakov-zalando would you try the LocalStorageCapacityIsolationFSQuotaMonitoring=true in kubelet config.yaml?

[2022-04-12 13:30] Pezhvak commented on #71869
it might be help to others, in my case mysql created lots of new records, hence the disk space got full and k8s couldn't operate. once removed the data everything went back to normal.

[2022-04-12 14:03] sftim commented on #106972
I think this is less of a docs concern and more of a contributor experience concern. @SergeyKanzhelev would you agree?

[2022-04-12 14:18] MadhavJivrajani commented on #109433
/sig node

[2022-04-12 14:38] johnflavin-fw commented on #109378
@sftim Why this change? I don't see how what I've reported relates to the Apps SIG since it isn't about running any application. (Caveat: I'm totally new to kubernetes and its SIGs, so please forgive me if I misunderstand what the SIGs are for or who does what. Might take a while for me to figure out how things work.)

[2022-04-12 16:10] sftim commented on #109378
The [Job](k8s.io/docs/reference/kubernetes-api/workload-resources/job-v1/) API is the responsibility of [SIG Apps](https://github.com/kubernetes/community/tree/master/sig-apps). Providing an underlying framework for different APIs to exist is [SIG API Machinery](https://github.com/kubernetes/community/tree/master/sig-api-machinery)'s main purpose.

Jobs _are_ used for running applications, and tha

[2022-04-12 16:46] neolit123 commented on #109428
could be malformed YAML in some way?

please try this example Pod:
[code]

from here:
https://kubernetes.io/docs/concepts/workloads/pods/#using-pods

/sig cli api-machinery
for triage, in case there is a strange bug lurking here.

[2022-04-12 16:46] neolit123 commented on #109428
/kind support bug
(unclear)

[2022-04-12 16:47] neolit123 commented on #109432
/sig storage

[2022-04-12 16:54] jayunit100 opened #109438 "Kube proxy kernelspace for windows should build its own HNSEndpoint"
### What would you like to be added?

Right now the IPVS proxy makes a dummy nic, kernelspace windows could do the same and then cnis wouldnt have to do `New-NetFirewallRule` and `New-HNSNetwork`s.

### Why is this needed?

If kube proxy kernelspace could bootstrap itself from a networking perspective then CNIs wouldnt have to start it before they, themsleves staretd up, thus we would eliminate a

[2022-04-12 16:55] jayunit100 commented on #109438
im doing this now by running https://jayunit100.blogspot.com/2022/03/my-dev-workflow-for-kpng-windows.html which is borrowed snippets from various places

will talk w @daschott and @jamiephllips

[2022-04-12 17:04] ruben-herold opened #109439 "can't enable MixedProtocolLBService"
### What happened?

I try to setup an IPv6 only cluster with MixedProtocolLBService=true:

`kubeadm init --apiserver-advertise-address "{{ ansible_default_ipv6.address }}" --pod-network-cidr "{{ pod_network }}" --service-cidr "{{ srv_network }}" --service-dns-domain "{{ dns_domain }}" --upload-certs --control-plane-endpoint "{{ ctrl_plane_endpoint }}" --feature-gates MixedProtocolLBService=true
`

[2022-04-12 17:07] ruben-herold commented on #109439
/sig cli

[2022-04-12 17:16] jpbetz commented on #53459
I drafted a potential solution to this using CEL (which we are [already using for CRD validation](https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2876-crd-validation-expression-language)): [Draft KEP for field selection using CEL](https://docs.google.com/document/d/1-61zFxrhjywPlPteaU22_Q3FOxA_kJ7acVRvBlgPG84/edit#heading=h.zy7gz3toxt1)
Is there community interest in

[2022-04-12 17:16] dchen1107 commented on #109082
Discussed the issue at today's SIG Node meeting. We believe there is a regression, but the root cause and the impact is unclear yet. Bumping the priority to priority/critical-urgent. Thanks!

[2022-04-12 17:38] soltysh commented on #17244
@alculquicondor honestly I don't recall that much into the past :wink: I think that the option to react to user-specified codes such that a single run or entire job would be considered a failed seems reasonable.

All in all, I'm definitely :+1: if you're interested in working on in the near future.

[2022-04-12 18:03] lavalamp commented on #53459
CEL addresses the expression language blocker. Addressing scale is a different concern.

[2022-04-12 18:05] vaibhav2107 commented on #107193
/remove-lifecycle stale

[2022-04-12 18:23] MikeSpreitzer commented on #53459
For efficiently handling a lot of subscriptions, I learned 20 years ago about https://dl.acm.org/doi/pdf/10.1145/301308.301326 .  Here is the abstract:

[2022-04-12 18:31] lavalamp commented on #53459
CRDs mostly fail to scale as well as built-ins because json is not very efficient to decode. IMO we aren't advanced enough to have that problem yet.

We can prototype this outside of apiserver. I'm much more worried about getting the API right than I am about efficiently implementing.

[2022-04-12 18:32] lavalamp commented on #53459
(And I don't see why CEL would be harder to scale than any other predicate system?)

[2022-04-12 18:42] jpbetz commented on #53459
This is where CEL can really shine. The ability to compute the cost of an expressions both statically and at runtime means that we bound the costs in very similar ways as what is described above.  E.g. we could disallow any CEL expressions that have a worst case O(n) or worse runtime cost, which would result in us being able to bound matching of a random event to `O(N)` where N is the number of su

[2022-04-12 18:45] MikeSpreitzer commented on #53459
If the cost of CEL evaluation for one (object, subscription) pair is O(1) then that is already worse than the cited result of `O(N^(1-lambda))` for N subscriptions.

[2022-04-12 18:47] lavalamp commented on #53459
This is probably the wrong place to go so far into the weeds on this, but I'd expect we'd use the CEL cost to inform APF cost. I actually don't care if it is slow and takes a long time, as long as apiserver doesn't fall over and other users aren't impacted.

[2022-04-12 18:47] jpbetz commented on #53459
Yes, I realized after posting that this isn't quite the sub-linear that the above quote mentions, but we might able to get that optimization as well long term, if we wanted to invest in it, since we would inspect CEL expressions and find common sub-expressions).

Main point is we have a lot of control. I don't think we paint ourselves into a corner.

[2022-04-12 18:48] mikebrow commented on #109082
need some help figuring out where the 10250/stats/summary results are coming from for the failure cases

That version of containerd is v1.4.8 the code for ListPodSandboxStats and PodSandboxStats  https://github.com/containerd/containerd/pull/6113 ..

[2022-04-12 18:48] MikeSpreitzer commented on #53459
I think that the question of whether we have something that works well for large numbers of objects and subscriptions is not a matter of weeds, it is a high-level objective that I care about.

[2022-04-12 18:51] lavalamp commented on #53459
Today we solve this by implementing local caches in controllers. I don't see apiserver needing to compete with that. I don't particularly want apiserver to become more of a database engine than it already is. The value-add apiserver has is the api mechanisms and models. Rudimentary search is useful for one-offs and prototyping, or I'd be completely against adding this to apiserver.

[2022-04-12 18:54] MikeSpreitzer commented on #53459
I am not sure I understand the objection.  Today we already have the apiserver doing label selection, as well as field selection for types defined in the server, and --- as is well testified in this issue --- people using CRDs are abusing labels to hold spec and/or status and doing label selection at the server.

[2022-04-12 19:01] lavalamp commented on #109243
(fun has been had now :) )

/close

[2022-04-12 19:01] #109243 closed

[2022-04-12 19:38] aojea commented on #109439
I think that feature-gate flag is for kubeadm, not for kubernetes feature-flags

https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-config/

/cc @neolit123

[2022-04-12 19:40] neolit123 commented on #109439
nope, it's a k8s core feature gate:

https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

[2022-04-12 19:42] #109439 closed

[2022-04-12 19:50] ehashman commented on #109352
/cc @smarterclayton

[2022-04-12 19:55] alvaroaleman commented on #53459
That is a correct statement but biased, because the ppl that already use client-side indexing on the cache are not going to comment in this issue.

[2022-04-12 20:02] leonardpahlke commented on #109416
no, still flaky... at least with the following in the last runs

- [release-master-blocking#conformance-ga-only](https://testgrid.k8s.io/sig-release-master-blocking#conformance-ga-only)
- [release-master-blocking#gce-conformance-latest-kubetest2](https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master%20-%20kubetest2)
- [master-blocking/gce-cos-master-alpha-features]

[2022-04-12 20:02] euroelessar commented on #109429
Note: it looks like it depends on the cluster load, the heavier the load is on the cluster, the higher the chance to produce jobs in such state

[2022-04-12 20:11] fedebongio commented on #109400
/triage accepted

[2022-04-12 20:11] fedebongio commented on #109357
/triage accepted

[2022-04-12 20:13] alvaroaleman commented on #109416
Looks like there are infra issues (pod got deleted unexpectedly, failed to schedule) but only google folks have access to that cluster so I can't really help here, sorry.

[2022-04-12 20:13] fedebongio commented on #109428
/cc @kubernetes/minikube-maintainers
@mehmood8 did you try @neolit123 suggestion?

[2022-04-12 20:13] fedebongio commented on #109428
/help

[2022-04-12 20:15] fedebongio commented on #109427
/cc @jpbetz @sttts
/triage accepted

[2022-04-12 20:16] leonardpahlke commented on #109416
thank you! do you know whom to ping in this case?

[2022-04-12 20:17] fedebongio commented on #109401
Discussed in the triage meeting. Yu kindly agreed to explain.
/assign @yliaog
/triage accepted

[2022-04-12 20:19] alvaroaleman commented on #109416
Apart from the ones you already pinged maybe @chaodaiG

[2022-04-12 20:36] ameukam commented on #109416
@lauralorenz @leonardpahlke This is a known issue related to the container runtime `containerd` affecting all the pods in the build cluster `k8s-infra-prow-build`. Please https://github.com/kubernetes/k8s.io/issues/3600.

The root cause has been identified [here](https://github.com/containerd/containerd/issues/4604). The long term solution will be to upgrade the GKE cluster to a version using a co

[2022-04-12 21:00] marosset opened #109444 "capz-windows-containerd-master occasionally hangs during workload cluster creation"
### Which jobs are flaking?

[capz-windows-containerd-master](https://testgrid.k8s.io/sig-windows-signal#capz-windows-containerd-master)

### Which tests are flaking?

Cluster failures to provision

### Since when has it been flaking?

It has been failing since at least 3/30.

We've seen similar failurs on
- 3/30/2022
- 4/2/2022
- 4/4/2022
- 4/5/2022
- 4/7/2022
- 4/12/2022

### Testgrid link

_No

[2022-04-12 21:01] marosset commented on #109444
/assign @jsturtevant
/cc @claudiubelu

[2022-04-12 21:05] wasker opened #109445 "HPA doesn't attempt to add more pods even if pod provisioning fails"
### What happened?

For some reason one of the nodes in cluster went into a bad state manifesting itself in inability for pods to pull images off of a private registry that requires authentication (ErrImagePull, authentication failed).

At the same time, service experienced a traffic spike, which resulted in all running pods of a deployments to cross CPU usage threshold for HPA. HPA requested a ne

[2022-04-12 21:06] wasker commented on #109445
/sig autoscaling

[2022-04-12 21:52] mikebrow commented on #109082
PodAndContainerStats feature gate seems to be off so pod stats are coming from cadvisor

[2022-04-12 23:05] ruiwen-zhao commented on #109082
So this is where the network stats are coming from: https://github.com/kubernetes/kubernetes/blob/33de444861d3de783a6618be9d10fa84da1c11b4/pkg/kubelet/stats/cri_stats_provider.go#L201

It relies on the stats from cadvisor: https://github.com/kubernetes/kubernetes/blob/33de444861d3de783a6618be9d10fa84da1c11b4/pkg/kubelet/stats/cri_stats_provider.go#L905

[2022-04-13 00:32] mrjoema commented on #104432
Can I try this if no one is available to work on it ?

[2022-04-13 02:53] amshankaran opened #109450 "Pods are getting Scheduled and in Pending state during Graceful Node Shutdown."
What happened:
When the node is under graceful shutdown Daemonset pods were getting rescheduled in the  same node and remains in pending state.

What you expected to happen:
While the node is under graceful shutdown, the pods should not be scheduled and there shouldn't be any pods in pending state.

How to reproduce it (as minimally and precisely as possible):
Flags configured: shutdownGracePeriod

[2022-04-13 03:03] i-am-yuvi commented on #104432
Yes go on!!!

[2022-04-13 03:16] yuzhiquan opened #109451 "Inconsistent POD status reporting with kubectl get && describe"
### What happened?

Deploy an pod in cluster, this pod image download was take some time
I check pod with `kubectl get`, pod status is **ContainerCreating**:
[code]
then check pod with `kubectl describe pod ***`,  pod status is **Pending**:
[code]

Reason, maybe:
`kubectl describe pod` print status with [pod.Status.Phase](https://github.com/kubernetes/kubernetes/blob/b9792a9daef4d978c5c30b6d10cbcd

[2022-04-13 03:17] yuzhiquan commented on #109451
If this issue is accepted, i would like give a shot.
/assign

[2022-04-13 03:45] pacoxu commented on #108910
https://github.com/golang/go/releases/tag/go1.18.1 is out.
https://go.googlesource.com/go/+/refs/tags/go1.18.1

[2022-04-13 03:55] yangjunmyfm192085 commented on #109434
Could you look at the kubelet log for useful information?
Does the new node have route to the service address range?

[2022-04-13 03:57] Abhishek-Srivastava commented on #53459
Not related to this topic directly but [Helm](https://github.com/helm/community/blob/f9e06c16d89ccea1bea77c01a6a96ae3b309f823/architecture/crds.md ) on supporting CRD says this -

"Originally, CRDs were designed for a very specific purpose: To make it possible to add new controllers to Kubernetes. For example, if Deployment does not do what you want, you can write an alternative resource definitio

[2022-04-13 03:58] yangjunmyfm192085 commented on #109433
Is there any useful information in the kubelet log?

[2022-04-13 04:00] yangjunmyfm192085 commented on #109451
/sig node

[2022-04-13 04:22] mrjoema commented on #104432
/assign

[2022-04-13 05:44] david666-cc commented on #71869
Yes，I found the cause of the problem。There is a security related program occupying thWhen I tried to remove the logical volume of docker, I found that a program was occupying it. After a series of searches, I found the process, and then killed it, and the disk space was released.is disk partition.

[2022-04-13 06:07] mehmood8 commented on #109428
still same situation if, i use official yml for sample pod example. But if i use below command then it was created a pod

 kubectl apply -f https://k8s.io/examples/pods/simple-pod.yaml

[2022-04-13 06:10] mehmood8 commented on #109428
@fedebongio yes but still the same situation.

[2022-04-13 06:18] protosam commented on #105204
I stumbled onto this while installing [otomi](https://github.com/redkubes/otomi-core) on a k3s cluster on v1.22.2.

It seems to be happening every time I attempt to install otomi. It's running a bunch of helm charts to install stuff.

[code]

[code]

[code]

[code]

[2022-04-13 06:25] wangrzneu commented on #99824
I think a namespace scope ingress class API should be added. The new API can be named NamespaceIngressClass, and the NamespaceIngressClass can be referenced in Ingress like,
[code]

[2022-04-13 06:33] yanghesong commented on #108575
/assign

[2022-04-13 06:34] yanghesong commented on #108575
/assign

[2022-04-13 06:41] yeya24 commented on #39188
Hello @apelisse, can you please describe more how to specify `x-kubernetes-list-map-keys` when using client-go or strategic patch library?
We are hitting this issue when using ArgoCD and it uses the library above. We are seeking for a way to get it working with SSA. Thanks

[2022-04-13 07:04] pacoxu commented on #108910
https://github.com/kubernetes/release/issues/2499 will update the dependency

[2022-04-13 07:05] Pseudow commented on #109434
Hi thanks for your response. I’ve finally found the problem. My node had a different internal and external address. It is actually weird but thanks.

[2022-04-13 07:05] #109434 closed

[2022-04-13 07:44] Morriz commented on #105204
Hi @protosam, otomi dev here. I'd read up above about the mount error probably being a red herring dangling before the real error. Could you follow the log output of that job in real time and report the last 100 lines or so?

[2022-04-13 08:09] jyotimahapatra commented on #109082
👋 bug triage checking in. Is this a 1.24 release blocker?

[2022-04-13 08:20] afbjorklund commented on #109428
Doesn't seem like a minikube problem, the yaml and command is invalid - but not terribly so.

[code]

Otherwise, it seems happy enough, with minikube 1.25.2 (k8s 1.23.3): `pod/testpod4 created`

[2022-04-13 08:21] SergeyKanzhelev commented on #109082
yes, we believe it is a regression and looking for the root cause. It is release blocking

[2022-04-13 09:02] SubhasmitaSw commented on #109374
This should work only when the author's PR fail for those particular test cases, overall in my opinion folks with advanced computer systems wouldn't be needing this, so works only for folks with low-end PCs.

[2022-04-13 09:04] yangjunmyfm192085 opened #109457 "implement the Object interface of k8s.io/apimachinery/pkg/apis/meta/v1"
### What would you like to be added?

Plan to use kubectl get to display the metrics of custom-metrics-apiserver, but the Object object of TableRow in the k8s.io/apimachinery/pkg/apis/meta/v1beta1 package needs to be implemented in k8s.io/apimachinery/pkg/apis/meta/v1.

### Why is this needed?

We need to implement `object` interface in custom_metrics.MetricValue.

[2022-04-13 09:04] yangjunmyfm192085 commented on #109457
/cc @dgrisonnet
/sig instrumentation

[2022-04-13 09:16] kechkibet commented on #97444
Hi please reopen this issue, any hopes on this issue? Please reopen

[2022-04-13 09:20] ox7a59 commented on #109432
Problem with software, that was installed on bare-metal server.

[2022-04-13 09:20] #109432 closed

[2022-04-13 09:29] kechkibet commented on #70382
Facing this issue with gluster 10, any hopes if resolving the race condition?

[2022-04-13 09:34] sayaoailun opened #109459 "The validation of Annotations"
https://github.com/kubernetes/kubernetes/blob/c285e781331a3785a7f436042c65c5641ce8a9e9/staging/src/k8s.io/apimachinery/pkg/api/validation/objectmeta.go#L50

Why do we need `strings.ToLower(k)`?

[2022-04-13 10:08] matthyx commented on #107802
Looks like https://github.com/kubernetes/test-infra/pull/25923 has fixed most problems...

[2022-04-13 10:09] matthyx commented on #107802
Or maybe it's just the periodical pass for those tests...

[2022-04-13 10:27] sftim commented on #107500
I'm kind of with letting this rot; I don't see that we have enough resource to staff it.

[2022-04-13 10:37] michael-db commented on #87724
/remove-lifecycle rotten

[2022-04-13 10:41] sayaoailun commented on #109459
/sig apps

[2022-04-13 10:50] aslafy-z commented on #70044
/remove-lifecycle stale

[2022-04-13 11:40] MadhavJivrajani commented on #109459
/remove-sig apps
/sig api-machinery
/kind support

[2022-04-13 12:11] ojaswa1942 commented on #81329
Is any particular reason why this is not discussed?

From my understanding, CronJobs create `Jobs` as per the specified schedule. As a result, an existing job is expected to be short-lived and cannot be referenced in the CronJob. That might be a challenge.

However, it'd be great to be able to reference an existing job template in multiple locations. A genuine use case is to run a job at creation,

[2022-04-13 12:12] ojaswa1942 commented on #81329
/reopen
/remove-lifecycle rotten

[2022-04-13 12:22] TeddyAndrieux commented on #103658
/remove-lifecycle stale

[2022-04-13 13:05] iameli commented on #105536
Ran into this with a k3s installation on Kubernetes 1.23.4:
[code]
No Longhorn or anything else exciting, just Rancher's default `local-path` provisioner.

[2022-04-13 13:29] gjkim42 commented on #103658
Not sure how to solve getting PVC failing issue, but we could remove the dependency of the non-static pod loop on the static pod loop.

Agree. I think we should split the main loop into two loops(static pod loop and non-static pod loop).

@smarterclayton @ehashman

What do you think?

/assign

[2022-04-13 14:04] jippeholwerda commented on #99513
Can confirm this is an issue for us as well. It seems like `maxSurge: 0` isn't respected at all. In our case we are hitting resources quotas and restarting the deployment takes forever...

[2022-04-13 14:12] mohag commented on #53201
/remove-lifecycle stale

[2022-04-13 14:14] #106420 closed

[2022-04-13 15:22] sftim opened #109463 "Add documentation for “non exhaustive enums”"
### What happened?

_Following a [bugfix](https://github.com/kubernetes/kubernetes/issues/109463#issuecomment-1098195262)_, we now have a gap where these non-exhaustive, enum-like field values are not documented. Folks will previously have found those explanations useful.

See https://github.com/kubernetes/website/pull/32833#pullrequestreview-938396627 for an example where the v1.23 docs enumerate

[2022-04-13 15:22] sftim commented on #109463
/wg api-expression
/sig docs
/remove-kind bug
/kind feature

[2022-04-13 15:24] andrewsykim commented on #108319
That does seem costly to do on every endpoint sync. Is there an alternative solution we can explore where we assess all endpoints once when kube-proxy initially starts up?

[2022-04-13 15:31] liggitt commented on #109463
Note that the inclusion of these in 1.23 docs was an accident... the feature was in alpha state and should not have been enabled in 1.23. The openapi file in release-1.23 and master branches once again has the same amount of information as the API definition in release-1.22

[2022-04-13 15:47] neolit123 commented on #109450
/sig scheduling node

[2022-04-13 16:00] ianhundere commented on #105204
same issue here. occurs when a `CronJob` i have runs ( e.g. it essentially runs some bash cmds and scripts every 5min, but it does require working on some PV/PVCs i have configured ).

pod events:
[code]

[2022-04-13 16:05] sftim commented on #109463
Ah, got it.

Definitely a feature request, then.

[2022-04-13 16:06] mikebrow commented on #108464
noting: it's already merged in v1.21 (https://github.com/kubernetes/kubernetes/pull/108666)

[2022-04-13 16:06] uablrek commented on #108319
This is a startup-only problem. It should be solved with a one-time action.

[2022-04-13 16:06] nckturner commented on #109229
/triage accepted

This is technically a bug, but since its been around for 4 years its not super high priority.

[2022-04-13 16:09] lubronzhan commented on #109229
https://github.com/kubernetes/kubernetes/pull/109184#issuecomment-1085187223
Will try fix the cloud-provider-vsphere part before 1.25

[2022-04-13 16:41] apelisse commented on #39188
This is a property of the type rather than a property that you would set when you apply, so the author has to consider that when they create their CRD.

[2022-04-13 16:55] SergeyKanzhelev commented on #109082
btw, more jobs with this flake:

- pull-node-e2e
- containerd-node-conformance
- containerd-node-e2e-1.4
- cos-cgroupv2-containerd-node-e2e

And this test flakes with memory stats missing:

- kubelet-gce-e2e-swap-ubuntu

[2022-04-13 17:13] alculquicondor commented on #87850
/lifecycle frozen

[2022-04-13 17:20] kreempuff commented on #80466
Just encountered this problem. The pod in a job is not retried if a configmap that is defined as same time is available before the pod starts.

[2022-04-13 17:36] lavalamp commented on #53459
Helm docs are wrong. CRDs were not specifically about enabling controllers (put another way, everything is a controller if you squint).

[2022-04-13 17:39] vinaykul commented on #9043
/assign vinaykul

[2022-04-13 17:46] Pseudow opened #109467 "Kubernetes master doesnt get external ip of my new node"
Hi, Ive recently added a new node in my cluster. The problem is that my vps where the node is has a different internal and external ip. The internal ip is used to acces from outside to my node and the internal is used by the vps itself.

The problem is that when kubeadm join the cluster it sends the internal ip not the external ip, which makes it wrong. Ive tried to change it my modifying --node-i

[2022-04-13 18:21] vinaykul commented on #107911
/milestone v1.25

[2022-04-13 18:32] mikedanese commented on #109211
We add that superuser authorizer during config completion but we yank the authorizer for admission in ApplyTo which happens before. We can yank this:

https://github.com/kubernetes/kubernetes/blob/75e49ec824b183288e1dbaccfd7dbe77d89db381/staging/src/k8s.io/apiserver/pkg/server/config.go#L939-L940

Into the authorizer config in kube-apiserver so it happens early. It's kind of a tangled mess.

[2022-04-13 18:38] kreempuff commented on #80466
/reopen

[2022-04-13 18:49] ritazh commented on #109077
/triage accepted

[2022-04-13 18:49] ritazh commented on #109211
/triage accepted

[2022-04-13 19:09] tallclair commented on #84571
We discussed this in [SIG-auth](https://docs.google.com/document/d/1woLGRoONE3EBVx-wTb4pvp4CI7tmLZ6lS26VTbosLKM/view#heading=h.sodkwejtkw2h), and concluded this is **not** a feature we want to add.

Reasons:
- For this to be an effective security measure against a billion-laughs attack, it would need to capture EVERY request that can contain a yaml body. This would greatly increase the size of aud

[2022-04-13 19:09] #84571 closed

[2022-04-13 19:17] vinaykul opened #109469 "[FG:InPlacePodVerticalScaling] Add cgroup v2 support for container resource updates"
### What would you like to be added?

In-Place Pod Vertical scaling [PR](https://github.com/kubernetes/kubernetes/pull/102884/) does not yet account for cgroup v2 (PR was originally authored before v2).

This issue tracks a request to add support for cgroup v2 before this feature goes beta.

Please see following issue comments for context and the work that needs to be done:
https://github.com/kube

[2022-04-13 19:17] vinaykul commented on #109469
/sig node

[2022-04-13 20:04] Pseudow commented on #109467
/sig network node

[2022-04-13 20:05] Pseudow commented on #109467
Oups I closed with sorry

[2022-04-13 22:43] protosam commented on #105204
@Morriz, the error observed in my output is still a valid bug that causes configmaps to be unreliable in v1.22.2 specifically and in my testing on k3s, the otomi installation process seems viable from what I've observed to replicate the issue in case someone needs to do so.

I've got some further testing to do on k3s 1.22.8 later, if I still see issues I will take you up on your offer to help dire

[2022-04-13 23:48] yxxhero commented on #109445
@wasker I think this situation is normal for HPA. HPA is only responsible for adjusting the number of pods according to the load of CPU and mem. It is not responsible for the scheduling results and running results of pod.
You should prohibit calling the problem node and start it after repairing it.

[2022-04-13 23:53] yxxhero commented on #109445
/remove-label bug

[2022-04-13 23:54] yxxhero commented on #109445
/remove-kind bug

[2022-04-14 00:11] khteh commented on #106864
Any update on this?

[2022-04-14 00:56] pacoxu commented on #106229
We will update all etcd to 3.5.3.
- https://github.com/kubernetes/kubernetes/pull/109470 for v1.24
- we will backport it to 1.23 and 1.22

[2022-04-14 01:00] ianhundere commented on #105204
updated my response

[2022-04-14 01:19] day112 opened #109474 "kubectl cp 8g.tar <some-namespace>/<some-pod>:/tmp/bar"
### What happened?

1. file  8g.tar > 8GB，Copy 8g.tar  local file to / in a remote pod in namespace <some-namespace>, will create 0kb 8g.tar

### What did you expect to happen?

kubectl cp 8g.tar admin/op-containers-k8s:/ , file  8g.tar > 8GB

### How can we reproduce it (as minimally and precisely as possible)?

kubectl cp 8g.tar admin/op-containers-k8s:/

### Anything else we need to know?

tar

[2022-04-14 02:20] yibozhuang opened #109475 "scheduler volumebinding: consider leveraging PreFilterResult to shift node affinity check to PreFilter"
### What would you like to be added?

Today, in the scheduler volumebinding plugin, the bound PV node affinity check is done during `Filter` stage which means that all nodes are considered.

Often, we see the case where the bound PV has node affinity selector to a list of nodes but a number of them may not be schedulable due to taints, out of memory, out of cpu, etc.

Today, under such case, we se

[2022-04-14 02:20] yibozhuang commented on #109475
/sig scheduling
/sig storage

[2022-04-14 02:21] yibozhuang commented on #109475
/assign

[2022-04-14 04:31] marckhouzam commented on #105587
A fix for this issue will be part of the next Cobra release: https://github.com/spf13/cobra/pull/1665

[2022-04-14 05:08] raxod502 commented on #42137
Sorry, I'm confused - in what manner does that PR address this problem? I'm seeing exactly the same situation in Kubernetes 1.22, basically the same manifests, I can send an HTTP request with basic auth header and it works properly, but kubelet (from k3s) is somehow not sending the header properly despite the exact same basic auth credential existing in a secret in the same namespace as the pod th

[2022-04-14 06:14] kidlj commented on #109474
/assign

[2022-04-14 08:13] pacoxu commented on #109474
maybe dup with #60140

[2022-04-14 08:13] pacoxu commented on #109474
/sig cli

[2022-04-14 08:46] pacoxu commented on #109459
See https://github.com/kubernetes/kubernetes/pull/55902#discussion_r152650870

[2022-04-14 08:59] pacoxu commented on #109459
IsQualifiedName allows lowercase. It seems to be not needed now.

[2022-04-14 09:12] jsafrane commented on #106710
/remove-lifecycle rotten

[2022-04-14 09:35] davidstack commented on #106942
@SergeyKanzhelev @matthyx   i delete cudagpu,but it still has same problem

[2022-04-14 09:35] sayaoailun commented on #109459
https://github.com/kubernetes/kubernetes/blob/c285e781331a3785a7f436042c65c5641ce8a9e9/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L55

`Abc/test` is valid for annotation key but not QualifiedName, right?

[2022-04-14 10:37] unixfox commented on #64623
/remove-lifecycle stale

[2022-04-14 10:48] endocrimes commented on #104459
/remove-lifecycle stale

[2022-04-14 11:36] joppino commented on #87426
When contacting a service IP that maps the same cluster IP for the pod, --masquerade-all is needed anyway.

Environment:

- Baremetal k8s
- Networking: calico
- kube-proxy mode: iptables
- br_netfilter is loaded

POC:

Create a nginx pod, then create a Service.
If you try to contact the Service clusterIP (using, for example, its mapped hostname) from the Pod that it is mapped to, it will be unreac

[2022-04-14 12:46] stevenlii commented on #37218
very much needeed

[2022-04-14 12:56] danwinship opened #109481 "Need benchmarks for iptables proxy golang performance hacks"
A long time ago @wojtek-t did some optimizations to `pkg/proxy/iptables/proxier.go` around memory allocations (#46033, #46350).

Some of our refactorings since then have probably regressed this somewhat. OTOH, there have probably also been golang improvements since then that make some of the fiddly manual bits less necessary...

There are changes I would like to make that I have no idea of the per

[2022-04-14 13:04] rsalmond opened #109482 "kubectl describe pod is missing env var values populated by downward API (spec.nodeName, status.podIP)"
### What happened?

Deployed this manifest and described a resulting pod.

nginx.yaml

[code]

[code]

hat tip @zahin-mohammad for pointing this out

### What did you expect to happen?

kubectl describe pod would show all env var values populated by the downward API.

### How can we reproduce it (as minimally and precisely as possible)?

minikube start
kubectl apply -f nginx.yaml
kubectl describe

[2022-04-14 13:06] rsalmond commented on #109482
/sig cli

[2022-04-14 13:08] neolit123 commented on #109467
Kubeadm and k8s components have the same IP detection. It will use the "default route" IP. You can google that to see what it means.

What IP is kubeadm / kubelet detecting? The error  you are reporting is for calico and might be better to log the issue in the calico repo.

/remove-sig node
/sig cluster-lifecycle
/kind support

[2022-04-14 14:23] mehmood8 commented on #109428
@afbjorklund @neolit123 @fedebongio  thank you guys. minikube and kubectl are working fine . problem is in my yml file. i have just fixed by using @afbjorklund and @neolit123  suggestion.

[2022-04-14 14:23] #109428 closed

[2022-04-14 15:22] gnufied commented on #105204
@protosam btw 1.22.8 also does not have the fix introduced in https://github.com/kubernetes/kubernetes/pull/108754 , so likely it won't fix this issue.

So there are two separate issues we are talking about:

1. configmap/secrets don't get mounted and pod does not start correctly.
2. We see sporadic "not registered" errors in some cases where pods are deleted and volume-manager is still trying to

[2022-04-14 15:25] Pseudow commented on #109467
They actually detect no ip. Even the log of the kube proxy pod says:

Error from server: no preferred addresses found; known addresses: []

[2022-04-14 15:26] alculquicondor opened #109485 "Job tracking might leave pods with finalizers when backoff limit is reached"
### What happened?

A job reached it's backoff limit and pods were left with finalizers.

The `.status.uncountedTerminatedPods` was left empty.

### What did you expect to happen?

The pods to not have a finalizer

### How can we reproduce it (as minimally and precisely as possible)?

We don't have a low scale repro. But we observe this:

[code]

1 Pod failed, potentially 4004. What happened to 40

[2022-04-14 15:27] alculquicondor commented on #109485
/sig apps
/area batch

[2022-04-14 15:38] neolit123 commented on #109467
ok, we are (mostly) missing documentation on this topic but the TL;DR is that you have to make your host interfaces k8s compatible.

[2022-04-14 15:38] neolit123 commented on #109467
alternatively you can pass custom IPs to all the components, but that's difficult to manage.

[2022-04-14 16:14] ehashman commented on #104459
Another possible approach I've been working on: offer less cadvisor metrics and split them across some bucketed sub-endpoints to give consumers the choice of which metrics they want (which will hopefully reduce scrape load, to be benchmarked): #109398

We previously had a proposal to allow cadvisor metric inclusion to be configurable, but I think that would need a KEP: #93650

[2022-04-14 16:35] leilajal commented on #109459
/cc @apelisse
/triage accepted

[2022-04-14 17:05] pierDipi opened #109489 "kubectl wait with `jsonpath` fails when field is not found"
### What happened?

Waiting for a field to be set on a resource using ` --for=jsonpath=` fails when the field is not found.
[code]

### What did you expect to happen?

The `jsonpath` syntax behaves differently when compared to `--for=condition=` since this:
[code]
waits even when there is no condition called `Nope`.

In addition, waiting on status fields that are set asynchronously is really usefu

[2022-04-14 17:05] pierDipi commented on #109489
/sig cli

[2022-04-14 17:55] shikha-varun commented on #109463
I am a beginner and willing to work on with some guidance if fine please assign to me

[2022-04-14 17:56] harjas27 commented on #109482
`describe` uses `scheme.Scheme` and calls:
https://github.com/kubernetes/kubernetes/blob/10dcc6c5f44a0607881cd2f3bd5c4d80f61ad120/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L1962-L1965
I guess the `fieldLabelConversionFuncs` map is empty and only the default `metadata` fields are accepted:
https://github.com/kubernetes/kubernetes/blob/10dcc6c5f44a0607881cd2f3bd5c4d80f61ad120/staging/src/k

[2022-04-14 18:15] khenidak commented on #109481
@danwinship et al

do you think it would be a good idea to build a simple interface for iptables that can self validate? something that would look like

[code]

[2022-04-14 18:17] khenidak commented on #109467
I think this is a kubeadm issue, right?

[2022-04-14 18:21] neolit123 commented on #109467
mostly yes, because kubeadm is the top level tool.
but the wider problem is that we don't have docs on how the detection in components works and what is the recommended network interface setup to make it easy for users to deploy nodes. firewall settings vs public IPs etc.

for that the docs are here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/

suppor

[2022-04-14 18:21] #109467 closed

[2022-04-14 18:21] khenidak commented on #109414
Hi @declangallagher few questions to get a better picture of the issue:

1. is client-pod accessing the server-pod (of which the IP has been given to a different pod) via a service or directly?
2. What was the health of the controller manager specifically endpoint and endpointSlice controllers?

[2022-04-14 18:25] neolit123 commented on #109467
@Pseudow

here is a node from the online playground at Katacoda that is k8s compatible as an example:
https://www.katacoda.com/courses/kubernetes/playground

[code]

[code]

[2022-04-14 18:26] wasker commented on #109445
@yxxhero While I understand that HPA is not concerned with actual bootstrapping of the node, consider the following timeline.

1. t0 - Cluster maintenance operation is completed, re-deployment of all workloads occurs, 2 deployments are unable to complete due to the node in bad state. (Why this was considered successful outcome is something that I'm discussing w/ the cloud provider.)
2. t1 - CPU me

[2022-04-14 18:29] khenidak commented on #109384
there is quite a big gap without any logs. 32m?
[code]

[2022-04-14 18:34] dastrobu commented on #107536
/remove-lifecycle stale

[2022-04-14 18:36] muang0 opened #109490 "Patch request should update resource to indicate patch operation is in progress"
### What happened?

A 'patch' request to a statefulset doesn't update the resource status (this doesn't happen until the associated k8s controller picks up the change and performs an 'update').  Because of this, we're encountering a race condition between helm and the k8s statefulset controller during installs.  Helm checks the resource status to determine readiness after applying the patch, which

[2022-04-14 18:36] muang0 commented on #109490
/sig sig-api-machinery

[2022-04-14 18:37] muang0 commented on #109490
/sig api-machinery

[2022-04-14 18:42] khenidak commented on #109404
fyi @jsturtevant

[2022-04-14 18:42] daschott commented on #108711
Could we take a collectLogs and packet capture?
aka.ms/collectlogs
aka.ms/startpacketcapture

[2022-04-14 20:11] Nowaker commented on #42885
What a silly reason to close. "Do not use or depend on the behavior" but at the same time "won't fix because it would break existing scripts".

[2022-04-14 20:15] thockin commented on #109481
I toyed with something like this but did not follow-through.  I ended up writing an AST for iptables.  Maybe a more monolithic approach as a middle-ground?  Liek a big struct with all pre-allocated fields which we store in a free-pool and return them there for reuse?

I did manual micro-bench for `Write()` when we made it allow `string` or `[]string` and it was negligible.  We could check such a m

[2022-04-14 20:19] marosset commented on #108711
We have a lot of the logs that collectLogs captures at https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-master-containerd-windows/1508628790731870208/artifacts/clusters/capz-conf-ui6yhr/machines/

Unfortunately we don't have an easy way to do packet captures in our CI jobs.

[2022-04-14 20:19] dims commented on #42885
@Nowaker thanks for your feedback. We will not be revisiting this issue.

[2022-04-14 20:34] thockin commented on #109414
Are you saying you have two running pods with the same IP?  Can you show us something like `kubectl get pods -o json | jq '.items[] | .metadata.name, .status.podIP, .status.phase'`

Is this on containerd or dockershim?

[2022-04-14 20:40] thockin commented on #109406
I don't even know how we build the kube-proxy image.  Where does that happen and form which dockerfile?

Note we need iptables, iptables-save and iptables-restore but also ipvsadm, shell, conntrack, ipset, and maybe other tools

[2022-04-14 20:41] BenTheElder commented on #109406
It used to be in kubernetes/kubernetes under build/images, it's now in https://github.com/kubernetes/release/tree/master/images/build/debian-iptables (Dockerfile etc there)

[2022-04-14 20:44] thockin commented on #109384
This isn't really a sig-net issue - adding others

[2022-04-14 20:45] thockin commented on #109234
Who owns agnhost?  I legit don't know :)

[2022-04-14 20:46] #108587 closed

[2022-04-14 20:47] thockin commented on #108558
Hi @sunnoy  - is this still going and reproducible?

[2022-04-14 20:47] #107583 closed

[2022-04-14 20:48] marosset commented on #103032
I tested this out in a v1.23.5 cluster and observed that both `NodeHasDiskPressure` condition was being set for the node and the pod I had running on the node was terminated because I didn't specify any disk resource requests.

I scheduled a pod to a Windows Server 2019 node and then logged into the node and created many 5Gb files with `fsutil file createnew _filename_ 5368709120`. After I did thi

[2022-04-14 20:48] dims commented on #109234
@claudiubelu has been taking care of agnhost

[2022-04-14 20:52] thockin commented on #109406
That's the base - where is the logic to turn that into a kube-proxy image?

[2022-04-14 21:06] BenTheElder commented on #109406
Turning that image into a kube-proxy image is just adding the kube-proxy binary with a dockerfile and entirely too much bash 🙃

https://github.com/kubernetes/kubernetes/blob/ae7982591481a42253f6061172180d79a8012317/build/lib/release.sh#L218

which ultimately just does:
https://github.com/kubernetes/kubernetes/blob/f33ca2306548719e5116b53fccfc278bffb809a8/build/server-image/Dockerfile#L17-L22

(exc

[2022-04-14 21:15] dims commented on #108910
fixed k/k last remaining problem with 1.18.1 in https://github.com/kubernetes/kubernetes/pull/109312

/close

[2022-04-14 21:16] #108910 closed

[2022-04-14 21:17] rikatz commented on #109406
/triage accepted
Will take a look between this and next week

[2022-04-14 21:18] thockin commented on #109234
ping @aojea We use this in a lot of sig-net too

[2022-04-14 21:20] dcbw commented on #108579
@robinchia would you be willing to do a PR to work around the issue?

[2022-04-14 21:34] danwinship commented on #109406
It doesn't even need bash; the version of the script in https://github.com/kubernetes-sigs/iptables-wrappers intentionally avoids bash-specific features (and gets tested against Alpine where /bin/sh is busybox (which I guess is "ash"?)). And the version in kubernetes/release appears to be just a stripped-down version of that script. (But actually, you should update the script to be based on the la

[2022-04-14 21:36] apelisse commented on #109459
That's what I read too. Should we submit a pull-request to clarify a comment somewhere?

[2022-04-14 21:38] mikebrow commented on #109082
fyi... https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/109396/pull-kubernetes-node-e2e-containerd/1514386405797662720/build-log.txt

passes when this error message is not output: ```I0327 16:58:24.675] W0327 16:39:25.129276    1195 metrics_grabber.go:110] Can't find any pods in namespace kube-system to grab metrics from```

fails when it is output... on same run see above log..

[2022-04-14 22:04] thockin commented on #108523
If I can offer a summary:

1) Lots of people do SCTP in userspace, which means that depending on a kernel-generated finalization sequence is dubious
2) Lots of people bind source port with SCTP
3) Leaving conntrack records which match the {protocol, client IP:port, service IP:port} will result in tears more often than not

As such, we should treat SCTP like UDP from a conntrack POV and clear track

[2022-04-14 23:02] mrjoema commented on #104432
Sorry for keep opening the PR. something went wrong on my fork branch. I eventually needed to re-fork the repo so it caused the PR closed automatically

[2022-04-14 23:08] mrjoema commented on #109034
Can I try this if no one is available to fix it ?

[2022-04-14 23:37] #79432 closed

[2022-04-15 02:42] wangguoyan opened #109495 "namespace XXX not found"
### What happened?

the namespace is exists when i get resource -A , but it is not found when i get ns
![0A986B9B-62E5-4109-B2E0-57C04C7539DE](https://user-images.githubusercontent.com/43570712/163510012-82cbca95-e54b-463f-ad40-53c976f5ff12.png)

### What did you expect to happen?

data consistency
namespace exists or resources  is deleted

### How can we reproduce it (as minimally and precisely a

[2022-04-15 02:42] pacoxu commented on #109451
/sig cli

[2022-04-15 02:46] wangguoyan commented on #109495
![0A986B9B-62E5-4109-B2E0-57C04C7539DE](https://user-images.githubusercontent.com/43570712/163509954-f7d13098-7c4d-404f-977b-dd6acfb78d6f.png)

[2022-04-15 03:13] kidlj commented on #109397
The same job yaml works fine with K8s 1.24.

[code]

[2022-04-15 03:14] day112 commented on #60140
8g.tar = 5g.tar + 3g.tar ,
file 8g.tar > 8GB，Copy 8g.tar local file to / in a remote pod in namespace , will create 0kb 8g.tar then untar 8g.tar
kubectl cp 8g.tar admin/op-containers-k8s:/  when copytopod will create 0kb 8g.tar file and untar 8g.tar .

tar cf - 8g.tar | kubectl exec -i -n admin op-containers-k8s -- tar xvft - -C / is ok

[2022-04-15 03:20] pacoxu commented on #109082
@mikebrow we may try the approach like #101960 to fix this.

[2022-04-15 03:27] yxxhero commented on #109495
@wangguoyan  k8s v1. 18.8 is no longer supported, please try upgrading k8s version

[2022-04-15 03:27] bamboo12366 opened #109496 "can we concurrently get metrics in hpa-controller?"
In our use case, we are using multiple external metrics(from prometheus) for one hpa object.
The latency from prometheus can be high sometimes, can we concurrently get all the metrics back and do the calculation together?

code here: https://github.com/kubernetes/kubernetes/blob/f33ca2306548719e5116b53fccfc278bffb809a8/pkg/controller/podautoscaler/horizontal.go#L274

[2022-04-15 03:40] #106439 closed

[2022-04-15 03:52] mrjoema commented on #109211
Hi all, can I try to take this issue ? Since I am new to k8s, I will need some time to ramp it up if it's okay for you all.

[2022-04-15 04:07] sayaoailun commented on #109459
Maybe it's better.

[2022-04-15 04:40] #106369 closed

[2022-04-15 06:49] slaskawi commented on #104007
Let me try to have a look at this one

/assign

[2022-04-15 07:41] sayaoailun opened #109498 "Validation of ContainerPorts"
https://github.com/kubernetes/kubernetes/blob/c285e781331a3785a7f436042c65c5641ce8a9e9/pkg/apis/core/validation/validation.go#L2286-L2322

According above code, same port name in different container in the same pod is allowed, right?

e.g. `http` as the port name for container A and B both in the same pod.

https://github.com/kubernetes/kubernetes/blob/c285e781331a3785a7f436042c65c5641ce8a9e9/pkg/

[2022-04-15 07:54] sayaoailun commented on #109498
/sig api-machinery
/sig apps

[2022-04-15 08:35] hobbytp commented on #68397
[Openkruise](https://openkruise.io/docs/user-manuals/advancedstatefulset/#maxunavailable) supports maxunavailable, so it sounds reasonable to support it.

[2022-04-15 09:07] mohamedaminearous commented on #108773
I resolved this issue, I misconfigured the kube-api-server.
I had to add this flag `oidc-ca-file` to the kube-api-server with pointing to the path of the public key of the oidc issuer ssl certificate.

[2022-04-15 09:07] #108773 closed

[2022-04-15 09:42] yingchunliu-zte opened #109500 "The test case failed to call the exec container because the container exited automatically"
### Which jobs are failing?

pull-kubernetes-e2e-kind

### Which tests are failing?

should support two pods which have the same volume definition
  test/e2e/storage/testsuites/ephemeral.go:216

### Since when has it been failing?

Random, not necessarily fail

### Testgrid link

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/108625/pull-kubernetes-e2e-kind/1509842989004886016

### Re

[2022-04-15 09:52] aimuz commented on #100236
/remove-lifecycle stale

[2022-04-15 11:33] jonyhy96 commented on #109489
Could u please explain this more? IMO, If the field is not exist, wait will return `field is not found` just like the test.

[2022-04-15 12:19] liggitt commented on #109211
We also need to make sure it gets included in the authorizer chain constructed for aggregated API servers

[2022-04-15 12:24] qabpea commented on #108523
I agree with your conclusions.

--Per
________________________________
From: Tim Hockin ***@***.***>
Sent: Thursday, April 14, 2022 18:04
To: kubernetes/kubernetes
Cc: Per Andersson; Mention
Subject: Re: [kubernetes/kubernetes] Gracefully draining Services/Endpoints (Issue #108523)

If I can offer a summary:

  1.  Lots of people do SCTP in userspace, which means that depending on a kernel-generat

[2022-04-15 12:28] liggitt commented on #109211
I would say this is a medium difficulty fix to implement and test. If you're just starting out, a more contained issue might be a better place to jump in.

That said, if no one else grabs it between now and 1.25 development opening up, and you want to take it on, go for it. We can pair you with someone who knows the area to orient/review (@deads2k, @mikedanese, @enj, or myself are likely candidate

[2022-04-15 13:35] pierDipi commented on #109489
Currently, waiting on a condition with
[code]
waits even when the condition `Nope` doesn't exist, while waiting on a custom field with `jsonpath` like:
[code]
fails immediately when `.status.state` doesn't exist which defeats the purpose of waiting for something

[2022-04-15 13:56] pierDipi commented on #109489
Example use case where the wait with `jsonpath` fails immediately:
[code]
instead with `condition` it waits even when the condition doesn't exist:
[code]

[2022-04-15 14:23] ahg-g commented on #83834
/remove-kind bug

[2022-04-15 14:35] liggitt commented on #48893
alpha initializers feature removed in 1.14

[2022-04-15 14:37] liggitt commented on #50599
heapster removed in 1.13

[2022-04-15 14:43] liggitt commented on #51591
federation removed in 1.9

[2022-04-15 14:52] JayKayy commented on #109498
I would be interested on working on this, after we get some direction on how to proceed.

[2022-04-15 15:19] neolit123 commented on #109495
seems like a support question, please see:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2022-04-15 15:19] #109495 closed

[2022-04-15 15:20] neolit123 commented on #109496
/sig autoscalling

please include full details from the template:
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.yaml

[2022-04-15 15:20] neolit123 commented on #109496
/sig autoscaling

[2022-04-15 15:35] JayKayy commented on #109498
@sayaoailun did you intend on making a PR for this or can I assign this to myself?

[2022-04-15 16:08] chrisnegus commented on #104878
The PRs associated with the issue represent a lot of good work. They seem to all be merged or closed at this point. I'm going to close this Issue now. However, please feel free to reopen or, better yet, open a new issue if we have missed any work still needing to be done on this topic.
/close

[2022-04-15 16:08] #104878 closed

[2022-04-15 16:43] #106429 closed

[2022-04-15 16:45] kerthcet commented on #109450
Does this have some negative effects to your cluster, I mean finally when `shutdownGracePeriod` times out, all calm down.

[2022-04-15 16:54] amshankaran commented on #109450
Hi @kerthcet , I have set this shutdownGracePeriod as 30 seconds. After shutting down the node, even after an hour I'm seeing these pending pods for the daemonsets.

[2022-04-15 17:03] vaibhav2107 commented on #104888
/remove-lifecycle stale

[2022-04-15 17:04] vaibhav2107 commented on #101622
/remove-lifecycle stale

[2022-04-15 17:06] vaibhav2107 commented on #98102
/remove-lifecycle stale

[2022-04-15 17:55] Cuppojoe commented on #101584
/reopen

[2022-04-15 19:57] SergeyKanzhelev commented on #109082
btw, now we are also trying to repro bug with logging: https://github.com/kubernetes/kubernetes/pull/109472 so far no luck. @mmiranda96 and @bobbypage tried locally, never succeeded to repro. @ruiwen-zhao had some luck with repro before: https://github.com/kubernetes/kubernetes/pull/109371 but it seems not any longer.

[2022-04-15 20:24] BenTheElder commented on #109182
I'm not sure this is eliminated:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-parallel-ipv6/1515013844353683456

but CI should be using kind @ HEAD and https://github.com/kubernetes-sigs/kind/pull/2709 merged two days ago

[2022-04-15 20:41] bobbypage commented on #109082
@mikebrow regarding https://github.com/kubernetes/kubernetes/issues/109082#issuecomment-1099651097

regarding the failure you linked - https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/109396/pull-kubernetes-node-e2e-containerd/1514386405797662720/build-log.txt

~ This is when the container busybox-stats-1 container started `2022-04-13 23:47:06`
[code]

The metrics grabber log is at `

[2022-04-15 21:43] #106465 closed

[2022-04-15 21:47] mikebrow commented on #109082
nod  see my comment https://github.com/kubernetes/kubernetes/pull/109497#issuecomment-1100253158

wondering if we have an issue asking the correct node for metrics, noting e2e framework has a different code pattern for getting stats https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/kubelet/stats.go#L228-L237 than  e2e node.. https://github.com/kubernetes/kubernetes/blob/maste

[2022-04-16 02:29] ronaldpetty commented on #105204
I am still trying to whittle it down, but I am using Spark 3.2.1 build script on K8s 1.23 and running into "not registered".

[code]

[2022-04-16 04:18] eddiezane opened #109511 "ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew kubetest.SkewTest"
### Which jobs are failing?

ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew

### Which tests are failing?

kubetest.SkewTest

### Since when has it been failing?

2022-04-14 15:13:42 +0000 UTC

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew/1514622912936546304

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#skew-clus

[2022-04-16 04:29] eddiezane commented on #109511
I've opened the cherry pick at https://github.com/kubernetes/kubernetes/pull/109512 if we decide that's the right route.

The other options I can think of are to revert this change on master or to add the old environment variable back in as a file path.

/assign @dims

/priority critical-urgent

[2022-04-16 05:20] Rezckant opened #109513 "Kubernetes"
A

[2022-04-16 05:31] yingchunliu-zte commented on #109500
Another use case container exit code is 137.
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/108625/pull-kubernetes-node-e2e-containerd/1514894767329120256/
[It] optional updates should be reflected in volume [NodeConformance] [Conformance]
  test/e2e/framework/framework.go:652
Apr 15 09:26:40 tmp-node-e2e-5c102c53-cos-89-16108-659-1 containerd[681]: time="2022-04-15T09:26:40.319493953

[2022-04-16 08:50] #106405 closed

[2022-04-16 11:25] jessie-txt commented on #70334
I have the same issue on v1.23

[2022-04-16 14:13] robinchia commented on #108579
Yes, that is ok. I need some time to Lookup the codes about the issue. Should you tell me that which branch of the kubernetes I need to work around about this?

[2022-04-16 14:33] oliviermichaelis commented on #109445
To me, this sounds more like the responsibility of the scheduler, than that of the HPA. As @yxxhero pointed out, the HPA has done its job by increasing the number of desired replicas.

Sounds like you could make use of an alert triggering if a pod is in `pending` state for longer than x minutes or if a pod is crashlooping often :)

[2022-04-16 14:56] Nivedita-coder opened #109515 "[Failing test] capz-windows-containerd-master"
### Which jobs are failing?

capz-windows-containerd-master

### Which tests are failing?

- Kubernetes e2e suite.[sig-api-machinery] Aggregator Should be able to support the 1.17 Sample API Server using the current Aggregator [Conformance]
- Kubernetes e2e suite.[sig-node] Probing container should *not* be restarted with a GRPC liveness probe [NodeConformance]
- Kubernetes e2e suite.[sig-node] Pr

[2022-04-16 15:01] Nivedita-coder commented on #109515
/sig node

[2022-04-16 15:56] #106481 closed

[2022-04-16 18:05] dims commented on #109515
/sig windows
/remove-sig node
/remove-sig api-machinery

[2022-04-16 18:05] dims commented on #109515
cc @CecileRobertMichon

[2022-04-16 18:06] #109513 closed

[2022-04-16 22:09] rikatz commented on #106484
/lifecycle active

[2022-04-16 23:55] dims opened #109517 "Failure cluster [6e21043c...] autoscaler failures - `timed out waiting for the condition`"
### Failure cluster [6e21043ce416bc985107](https://go.k8s.io/triage#6e21043ce416bc985107)

##### Error text:
[code]
#### Recent failures:
[4/16/2022, 5:08:54 PM ci-kubernetes-e2e-autoscaling-vpa-admission-controller](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-autoscaling-vpa-admission-controller/1515437077951418368)
[4/16/2022, 4:52:54 PM ci-kubernetes-e2e-autoscaling-vp

[2022-04-16 23:56] dims commented on #109517
/transfer autoscaler

[2022-04-17 03:06] cyclinder commented on #106484
oh sorry..  I forgot this item... I will finish it recently

[2022-04-17 06:38] jlsong01 commented on #109191
/assign
I would like to take a try

[2022-04-17 06:47] bamboo12366 commented on #109496
Bug Report | Report a bug encountered while operating Kubernetes | kind/bug

What happened?
In our use case, we are using multiple external metrics(from prometheus) for one hpa object.
The latency from prometheus can be high sometimes, thus to calculate some hpa with multiple metrics can be very slow

code here:  https://github.com/kubernetes/kubernetes/blob/f33ca2306548719e5116b53fccfc278bffb809a

[2022-04-17 11:04] #106157 closed

[2022-04-17 13:46] dims opened #109521 "Perma failing Jobs in test-grid"
Folks we have a bunch of jobs that are all 🔴 Let's use this as a umbrella issue. Please find jobs that belong to you SIG or the area you are working on and leave me a note for a follow up issue or PR, so we can trim this down over time. If we don't really need a job, we should just remove it!

Also, if you find other jobs in test-grid that are failing constantly, let me know and i'll add them to t

[2022-04-17 14:05] astraw99 opened #109522 "Can we add `UpdateTimestamp` field in the metadata to show the last update time?"
### What would you like to be added?

According to the design doc:
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#metadata

The metadata block contains `CreationTimestamp` and `DeletionTimestamp`, but no `UpdateTimestamp`, some considerations?
so can we add it like this below?
[code]

### Why is this needed?

There are many senarios that

[2022-04-17 14:07] astraw99 commented on #109522
/sig api-machinery

[2022-04-17 16:05] vaibhav2107 commented on #80968
/remove-lifecycle stale

[2022-04-17 18:38] rikatz commented on #109406
Probably per @dims [comments](https://github.com/kubernetes/kubernetes/issues/109406#issuecomment-1095445426) one of the things we don't want to do right now is jump into a musl based image like Alpine, right?

So I would take the case that we want to use distroless, and copy all the binaries we need to inside that container (conntrack, ipvs, iptables-*, etc etc).

@danwinship per iptables-wrapper

[2022-04-17 19:33] thockin commented on #109406
I agree no musl/alpine

On Sun, Apr 17, 2022, 11:38 AM Ricardo Katz ***@***.***>
wrote:

[2022-04-17 20:26] BenTheElder commented on #109406
If you identify the list of binaries, https://github.com/kubernetes-sigs/kind/blob/ca68f7d4a2528e071c2969be956ca83fc1ed048f/images/haproxy/stage-binary-and-deps.sh has logic to handle ldd for a binary (e.g. ignore vdso) + keep the copyright and package version info via dpkg.

We probably need a few more not in the list above for the other proxy modes?

[2022-04-17 21:08] johnSchnake opened #109523 "testing image translation needed for KUBE_TEST_REPO"
### What would you like to be added?

In https://github.com/kubernetes/kubernetes/pull/93510 the `KUBE_TEST_REPO` testing env var was added which allowed all testing images to come from a single repository (each image at a different tag). This _can_ be highly convenient for reasons placed in the PR, but in order to accomplish this the tags are not simply the name of the image but a translation and

[2022-04-17 21:08] johnSchnake commented on #109523
/sig testing

[2022-04-17 21:09] johnSchnake commented on #109523
I'm going to try and tackle this; at first glance it should be pretty trivial.

[2022-04-17 22:47] rikatz commented on #109406
Thanks @BenTheElder this is gonna be very helpful! I will work on it using the script you provided during the week!

[2022-04-18 00:06] johnSchnake commented on #109523
I actually wasnt super clear on the code path and this may either be done or nearly done based on how it already works when you list images.

I edited a `sonobuoy` binary to set the `KUBE_TEST_REPO=my/repo` and got the following output. You can see most of the images were translated. The authenticated and invalid images were not.

So this actually just needs a Sonobuoy fix to be more convenient I

[2022-04-18 00:06] #109523 closed

[2022-04-18 00:12] dims commented on #109523
authenticated and invalid images are hard coded by design and won't be switched as they are testing special conditions (and just copying images are not enough)

[2022-04-18 00:58] sayaoailun commented on #109498
@JayKayy I'm not making a PR. You are free to assign this to yourself.

[2022-04-18 01:17] SaxyPandaBear commented on #106393
@bobbypage v0.44.0 is still in "pre-release". Any idea when it would be classified as a stable release to upgrade to, or do you already deem it safe enough for people to bump up to now?

[2022-04-18 01:18] JayKayy commented on #109498
/assign

[2022-04-18 03:06] #106335 closed

[2022-04-18 03:26] jonyhy96 commented on #109489
I think this is more like a feature which keep the behavior of both logics consistent.
I'm interest in implementing this.
/assign

[2022-04-18 04:56] sanicheev commented on #98826
/remove-lifecycle stale

[2022-04-18 06:25] Riaankl commented on #108641
/reopen for tracking e2e testgrid and promotion PR

[2022-04-18 06:37] Riaankl commented on #108641
/reopen

[2022-04-18 06:45] SataQiu commented on #109482
/cc

[2022-04-18 06:46] willzhang commented on #56850
greate

[2022-04-18 07:17] jonyhy96 commented on #109489
Already implement this and test locally.
[code]
For fileds that not exist, will return timeout.

[2022-04-18 07:20] rthakur-est commented on #109450
cc @bobbypage

[2022-04-18 07:50] aojea commented on #109082
I don't see the metrics grabber related to this, there is a bug on the getNodeSummary though, it doesn't work for ipv6 addresses

[code]

Also, the

[code]

are not providing any information, I think we should use something different to compare to avoid artifacts failing the comparison.

I'll submit a patch

[2022-04-18 07:52] 12csw1 commented on #109500
Should this issue be labeled as priority/important-soon?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning to facilitate other informatio

[2022-04-18 08:36] aojea commented on #109500
those 2 jobs linked have a lot of failing tests, one has 74 failures and other 15 ... when such amount of failures happen it is probably environmental issues on the CI are making some test failures. Also, the jobs linked are presubmits, that have some possibility that the failures are related to the submitted code

It is not possible or scalable to analyze each individual failures, that is why we

[2022-04-18 08:44] aojea commented on #109406
/cc

[2022-04-18 09:07] parthasarathi-pm opened #109530 "How to Add HSTS HTTP Header to Kubelet Agent"
### What happened?

I not able to Add HTTP Header to enable HSTS in Kubelet.

For Kubernetes Api Server, we have a flag to enable HSTS --strict-transport-security-directives.

### What did you expect to happen?

Similar Flag to enable HSTS for Kubelet as well --strict-transport-security-directives.

### How can we reproduce it (as minimally and precisely as possible)?

In plain vanilla installatio

[2022-04-18 09:30] aojea commented on #109530
why is this  a bug?

[2022-04-18 09:50] parthasarathi-pm commented on #109530
I'm not sure the its a bug or new enhancement.
Please Suggest..

[2022-04-18 09:54] aojea commented on #109530
It looks like a new feature to me, but the corresponding SIGs should decide ;)

/sig node
/sig auth

[2022-04-18 10:02] aojea commented on #109082
reproduced with more logs in https://github.com/kubernetes/kubernetes/pull/109529#issuecomment-1101279715

[2022-04-18 10:21] aojea commented on #109234
yes, we do use it a lot in sig-net, and I'm reviewing all the network changes in agnhost, but I personally don't like add a feature if we don't exercise it ... moreover, I'd not like to export the e2e framework or the agnost image so external components depend on them ... we can't offer guarantees and is easy to break thins here

[2022-04-18 10:26] aojea commented on #109414
I've seen something similar with a CNI whose IPAM was recycling IPs, per example, podA was assigned 10.1.1.11, it was deleted and podB was created at the same time, reusing the previously assigned IP 10.1.1.11 ... just sharing

[2022-04-18 10:32] aojea commented on #109481
There are performance test running periodically to detect regressions, and they also track kube-proxy memory usage

http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-master&metriccategoryname=E2E&metricname=LoadResources&PodName=kube-proxy-e2e-big-minion-group%2Fkube-proxy&Resource=memory

In addition, scalability test jobs  dump the prometheus metrics , so you can explore the different metrics that

[2022-04-18 10:46] aojea commented on #106864
the only thing that is missing is and e2e test to provide additional reassurance that it works fine, but for kubernetes these are just udp packets ...

[2022-04-18 10:48] aojea commented on #42137
k3s and other projects consuming kubernetes may modify the code, so specific issues should be opened on the corresponding projects , if the project considers that there is a bug in the upstream code then is fine to open an issue in kubernetes with more details

[2022-04-18 11:16] rtheis commented on #100711
/remove-lifecycle stale

[2022-04-18 11:38] amshankaran opened #109531 "Pods are in Running, Terminating state even after the expiry of shutdownGracePeriod during Graceful Node Shutdown"
### What happened?

I have configured shutdownGracePeriod to enable graceful shutdown feature in k8s 1.24 beta.
When the node is under graceful shutdown, there are few pods which are in Running state and few are in Terminating state.

### What did you expect to happen?

As the node got graceful shutdown, the pods should be moved out of the node and there should not be any pods in the node which wa

[2022-04-18 11:42] dims commented on #42137
@raxod502 agree with @aojea please talk to k3s folks first.

[2022-04-18 12:20] ialidzhikov commented on #89492
/remove-lifecycle stale

[2022-04-18 13:13] aojea commented on #89492
@ialidzhikov what is your expectation if `int` is not supported?

https://github.com/kubernetes/kubernetes/issues/89492#issuecomment-604687369

[2022-04-18 13:35] ialidzhikov commented on #89492
As written in the comment the generator can fail early and properly state that `int` is not supported instead of generating a code that does not build. This can be also documented in API conventions guideline (if not already documented) so people don't use `int` in their types.

[2022-04-18 13:41] aojea commented on #89492
Is not likely some maintainer is going to pick this checking the amount of times the bot commented, let's see if there are volunteers for this

/help wanted

this is already documented
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#primitive-types

[2022-04-18 13:58] liggitt commented on #109182
reopening per https://github.com/kubernetes/kubernetes/issues/109182#issuecomment-1100377392 to make sure this is resolved

[2022-04-18 15:09] #88153 closed

[2022-04-18 15:39] gp187 commented on #41881
What would be very useful is to match the subdomain to the service name. That would be super helpful.

Someone visits app.example.com then the Ingress would route to service.name = app

[code]

[2022-04-18 15:39] ionutbalutoiu commented on #109515
The Windows Networking CI with Flannel (running on `master` branch) is affected by the same failures.

Testgrid links:
* https://testgrid.k8s.io/sig-windows-networking#ltsc2019-containerd-flannel-sdnoverlay-master
* https://testgrid.k8s.io/sig-windows-networking#ltsc2019-containerd-flannel-sdnbridge-master

[2022-04-18 15:46] eddiezane commented on #109511
Tracked the root of this to https://github.com/kubernetes/test-infra/pull/25985.

This should start passing once that merges. The cherry pick will also fix. We really need to get skew tests running on PRs.

[2022-04-18 15:54] #109511 closed

[2022-04-18 16:10] ehashman commented on #71233
/reopen

[2022-04-18 16:11] ehashman commented on #71233
/remove-lifecycle rotten

[2022-04-18 16:11] ehashman commented on #71233
/remove-kind support

[2022-04-18 16:16] SergeyKanzhelev commented on #109521
a few cross links:
- https://github.com/kubernetes/test-infra/issues/25430
- https://github.com/kubernetes/kubernetes/issues/107802
- https://github.com/kubernetes/kubernetes/issues/109295
- https://github.com/kubernetes/test-infra/issues/25372

For soak test I am not sure how the test infra decides to re-creates the nodes and master, failure seems to be due to disk being full, I cannot ssh to the

[2022-04-18 16:31] marosset commented on #109521
Windows Server 2004 has been out of support since Dec 2021.
I will delete the gce-windows-2004 jobs today
https://docs.microsoft.com/en-us/lifecycle/announcements/windows-server-version-2004-end-of-servicing

[2022-04-18 17:58] CecileRobertMichon commented on #109515
cc @marosset

[2022-04-18 18:06] kechkibet commented on #70382
@jicki how did you resolve your issue with gluster, am in the same situation and i need help... am running postgres on top of gluster and this issue keeps appearing randomly per week

[2022-04-18 18:12] #106491 closed

[2022-04-18 18:15] jingxu97 commented on #70382
/remove-lifecycle stale

[2022-04-18 18:37] dims commented on #109521
xref: https://github.com/kubernetes/test-infra/issues/18600

[2022-04-18 19:42] liggitt commented on #109522
This was effectively already requested in https://github.com/kubernetes/kubernetes/issues/73548, and effectively already exists as `.metadata.managedFields[*].time`

[2022-04-18 19:42] #109522 closed

[2022-04-18 19:44] liggitt commented on #109490
/remove-sig api-machinery

this isn't specific to patch requests, but to update requests in general, relative to the status reported by the controller
/sig apps

[2022-04-18 19:44] liggitt commented on #109490
A patch API request is written atomically... there's no "in progress" intermediate state for a patch API request

[2022-04-18 19:46] liggitt commented on #109490
specifically for StatefulSet, is `status.observedGeneration` what you are wanting? that indicates the .metadata.generation which the controller had observed when it most recently updated `.status`. If `.metadata.generation` != `.status.observedGeneration`, that means status is stale

[2022-04-18 19:50] liggitt commented on #109401
/remove-kind bug
/kind documentation

Service account token secrets are maintained by the service account token controller.

A token referencing a service account that does not exist is invalid and is deleted by the token controller.

Cross-object synchronous validation is avoided wherever possible in the API.

[2022-04-18 19:51] liggitt commented on #109401
Given the documentation already references [the requirement that the service account exist](https://kubernetes.io/docs/concepts/configuration/secret/#service-account-token-secrets), it's not clear what else should be added here

[2022-04-18 19:52] liggitt commented on #109401
Transferring to auth since serviceaccounts and the token controller are under that sig

[2022-04-18 19:53] liggitt commented on #109401
Since this issue is narrowly about the API response, and the API response is correct (since the secret *was* created, even if it was then rapidly deleted by an asynchronous controller), I don't think there is anything to modify with the API response.

/close

[2022-04-18 19:53] #109401 closed

[2022-04-18 19:54] liggitt commented on #109429
is this the same issue as https://github.com/kubernetes/kubernetes/issues/109485 ?

[2022-04-18 19:56] liggitt commented on #109397
/cc @alculquicondor

[2022-04-18 19:58] liggitt commented on #109530
Definitely a feature request. xref https://github.com/kubernetes/kubernetes/issues/96040

I remain skeptical about use of HSTS on non-browser-facing endpoints

[2022-04-18 19:59] euroelessar commented on #109429
Unclear, there are two differences:
1. This issue was noticed on non-indexed jobs
2. Pods are succeeded (not failed, so backoff is not reached)

It is possible though that it ends up being the same underlying issue.

[2022-04-18 20:00] oomichi commented on #109391
This is against https://github.com/kubernetes/kubernetes/issues/81245 what we have a consensus that e2e core framework should not import the sub-packages.

To avoid circular import issues, we have agreed to make core framework should not import the sub-packages.

[2022-04-18 20:03] liggitt commented on #109336
/close
per https://github.com/kubernetes/kubernetes/pull/109337#discussion_r847903735

[2022-04-18 20:04] #109336 closed

[2022-04-18 20:13] yliaog commented on #109401
agreed. k8s API is eventually consistent, the current behavior is expected.

[2022-04-18 20:18] ehashman commented on #109530
/triage needs-information

[2022-04-18 20:20] liggitt commented on #109384
It looks like your apiserver can't reach etcd ... that will disrupt many startup-time operations, like rbac object initialization, priority&fairness initialization, and service IP allocation initialization, and all of those show up in your log as failing

[2022-04-18 20:45] msau42 commented on #109354
cc @mattcary @jingxu97 @gnufied

[2022-04-18 20:45] Jiawei0227 commented on #109354
I think @ialidzhikov you might be right, this seems to be a problem...

[2022-04-18 21:16] Jiawei0227 commented on #109354
Just to confirm, is csi migration enabled on the cluster?

[2022-04-18 21:32] msau42 commented on #109354
One thing to investigate is in what circumstances would the volume id zone be "UNSPECIFIED" on the node before the upgrade?

[2022-04-18 21:40] marosset commented on #109515
I pushed etcd 3.5.3-0 images to k8sprow.azurecr.io which should address the first test failure.

[2022-04-18 21:51] marosset commented on #109515
It looks like the other 2 test cases are using the etcd image too so they should now be working.

[code]

I will close this issue once we see the tests start passing again.

[2022-04-18 22:30] marosset commented on #109515
https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/2236 is a longer term solution but will only apply to 1.24+ clusters.

[2022-04-18 22:56] absmith82 commented on #62153
/reopen
/remove-lifecycle rotten

[2022-04-19 00:16] markstur commented on #108463
/assign @markstur

[2022-04-19 00:23] rikatz commented on #109406
From @BenTheElder script and some changes:
[code]

There's a pretty good reduction of size (50%). But this is without kproxy binary, that is almost 40Mb.

I will open a Draft PR in k/release so we can discuss over there the approach. BTW, anyone knows why kube-proxy binary is that big? Never digged into that, but curious about it.

[2022-04-19 00:41] dims opened #109535 "Too many Kubernetes Aggregated Flakes from gcepd and windows-gcepd storage drivers"
Please see:
https://storage.googleapis.com/k8s-triage/index.html?pr=1&test=gcepd%7Cwindows-gcepd

These are all marked `[Driver: gcepd]` and `[Driver: windows-gcepd]`

[2022-04-19 00:41] dims commented on #109535
/sig storage

[2022-04-19 00:43] dims commented on #109535
cc @mattcary @mrbobbytables @cheftako @msau42

[2022-04-19 01:18] chymy commented on #109384
Thanks.
The etcd was healthy at the time. It may be due to the virtual machine network. It cannot be reproduced at present.
I will temporarily close it.

[2022-04-19 01:18] #109384 closed

[2022-04-19 01:18] msau42 commented on #109535
Intree GCE PD tests cannot run in k/k test infra anymore since we turned on csi migration in 1.22. @mattcary I am thinking that it's easier if we turn off intree pd tests by default and opt-in specific jobs to it instead of the other way around.

[2022-04-19 01:24] feiskyer commented on #107672
/assign @nilo19

[2022-04-19 01:29] nilo19 commented on #107672
Tried several times but cannot reproduce it locally. To troubleshoot, I think we need a way to repro it first, is it possible for you to provide detailed steps of reproducing the issue?

[2022-04-19 02:01] yingchunliu-zte commented on #109500
This issue should be labeled as priority/important-soon

[2022-04-19 02:05] AdminWithROOT opened #109537 "liveness probe doesn't work"
### What happened?

When the Pod processes the default SIGNALSTOP signal and exits gracefully, the liveness probe set at this time will not work properly. After the probe actively restarts up to 4 times, the Pod status will directly change to Completed

### What did you expect to happen?

The liveness probe should restart the Pod indefinitely

### How can we reproduce it (as minimally and precisel

[2022-04-19 02:11] yingchunliu-zte commented on #109500
[](https://fanyi.baidu.com/###)[](javascript:void(0);)我检查了多个失败的用例，大多是容器退出
I checked several failed use cases, mostly container exit

I checked several failed use cases, mostly container exit, not much like a code problem.
Is there a way to test failure cases separately in PR.

[2022-04-19 02:12] jonyhy96 commented on #109537
Maybe u are looking for `restartPolicy: Always`. Liveness is not use to manage pod restart.

[2022-04-19 02:12] roycaihw commented on #109329
https://github.com/kubernetes/kubernetes/pull/109334#discussion_r852535683 It seems that the same can be achieved with the existing methods. Could you elaborate why the new method is needed?

[2022-04-19 02:36] AdminWithROOT commented on #109537
I know "restartPolicy: Always" can resolve my problem, but the liveness probe send SIGWINCH  signal that cause the container to exit gracefully，shouldn't the probe be pulling the container up again？Why does the probe directly change the container to Completed after pulling up the container 4 times normally

[2022-04-19 04:20] dvaldivia commented on #92559
For any time travelers from the future, this issue is caused by the CoreDNS component of kube-dns, when they switched from dnsmasq to CoreDNS, they introduce a caching for misses, which lasts 30 seconds, thus the problem described above, solution is to bring your own DNS, or change the CoreDNS settings so the cache of the misses is not as long

[2022-04-19 04:32] jcollie commented on #30042
This still appears to be an issue on 1.23.5

[2022-04-19 04:44] kitianFresh opened #109538 "Improve the HPA observability by add a calculated replicas in metric status of each metric"
### What would you like to be added?

When we configured HPA with multiple metrics, we want to monitoring the replica proposal calculated by each metric, so we can monitoring the calculated replica proposal of each metric and visualize it on grafana.  I want to add some fields in hpa status

### Why is this needed?

HPA has some risks for application autoscaling, so improve the hpa observability

[2022-04-19 04:44] kitianFresh commented on #109538
/sig autoscaling

[2022-04-19 04:54] rthakur-est commented on #109531
/sig node

[2022-04-19 05:16] parthasarathi-pm commented on #109530
Our Internal Security Scanning Report say this is medium risk.
HSTS Missing From HTTPS Server - Nessus Scanner
SSL/TLS: HTTP Strict Transport Security (HSTS) Missing - OpenVAS.

[2022-04-19 05:22] ialidzhikov commented on #107672
Unfortunately, I don't have steps to reproduce. I will reopen if it occurs again.

/close

[2022-04-19 05:22] #107672 closed

[2022-04-19 05:22] muang0 commented on #109490
Thanks for the quick response Jordan!  A generational readiness check should solve the issue we're facing.  Currently helm only checks the number of replicas and their readiness status.  Thanks again for the help!

[2022-04-19 05:22] #109490 closed

[2022-04-19 05:27] ltagliamonte-dd commented on #101877
seeing the same problem on:
[code]

[2022-04-19 05:39] amshankaran commented on #109450
calico-node-h6cgw:
.........
Node-Selectors:              kubernetes.io/os=linux
Tolerations:                 :NoSchedule op=Exists
                             :NoExecute op=Exists
                             CriticalAddonsOnly op=Exists
                             node.kubernetes.io/disk-pressure:NoSchedule op=Exists
                             node.kubernetes.io/memory-pressure:NoSchedule op

[2022-04-19 05:42] amshankaran commented on #109531
Increased the shutdownGracePeriod:60s, shutdownGracePeriodCriticalPods:20s, now deployment pods were properly terminated and moved to another node. No pods in Terminating state. Still we could see Running and Pending pods.

[2022-04-19 06:32] astraw99 commented on #109522
Got it, thanks :)

[2022-04-19 06:40] ialidzhikov commented on #109354
Yes, the CSI migration is enabled.

KCM@1.20.13 flags:
[code]

KCM@1.21.10 flags:

[code]

---

I guess for in-tree volumes the corresponding handling is https://github.com/kubernetes/kubernetes/blob/2444b3347a2c45eb965b182fb836e1f51dc61b70/staging/src/k8s.io/csi-translation-lib/plugins/gce_pd.go#L218-L233

If in K8s 1.20.13 the in-tree PV is missing the `failure-domain.beta.kubernetes.io/zone` la

[2022-04-19 06:56] ritazh commented on #109521
cc @aramase

[2022-04-19 07:07] aramase commented on #109521
Thanks for the ping @ritazh! Dims reached out to me on slack. We are in the process of migrating ipv6 and dual-stack jobs to use CAPZ, so I'll open a PR to remove these old jobs in the mean time.

[2022-04-19 07:33] aojea commented on #109498
interesting, the API docs says it should be unique per pod :thinking:

https://github.com/kubernetes/kubernetes/blob/a750d8054a6cb3167f495829ce3e77ab0ccca48e/pkg/apis/core/types.go#L1800-L1805

in addition, `FindPort()` seems to be used by the endpoint/endpointslices controllers

[code]

and the behavior is as reported

[code]

I don't think we can tight validation now, so I think that we should:

[2022-04-19 08:03] nilesh-telang commented on #105703
Hi @caseydavenport ,

I apologize for the delay in responding. I missed the above question.

We have confirmed that this was a linkerd Issue.

Thank again for all the help an inputs on this issue.

[2022-04-19 08:05] jonyhy96 commented on #109537
checkout here https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/helpers.go#L88-L94, `OnFailure` means if ur program exit code is not 0, it will restart.

It status change to Completed after 4 times because of `failureThreshold: 3`.

u can start kubelet with loglevel 5 `--v=5` to see more details.

[2022-04-19 08:06] jonyhy96 commented on #109537
FYI
[code]

[2022-04-19 08:06] aojea commented on #109406
https://dr-knz.net/go-executable-size-visualization-with-d3-2021.html

https://github.com/knz/go-binsize-viz

[code]

![image](https://user-images.githubusercontent.com/6450081/163955864-63baf4f2-8cdc-4927-9b13-40e5502f00f6.png)

[2022-04-19 08:07] jonyhy96 commented on #109537
/sig node
/remove-kind bug
/kind support

[2022-04-19 08:29] BedivereZero commented on #88574
Same question, how to recover data when ETCD cluster has only one node？

[2022-04-19 09:10] serathius commented on #107029
/remove-lifecycle rotten

[2022-04-19 09:19] krishnakc1 commented on #56799
Hello, can someone comment if this feature is already present? I looked at the documentation and do not seem to find it

[2022-04-19 10:05] yuvalavra commented on #102106
@PushkarJ hi, can you please label with offical-cve-feed

[2022-04-19 10:51] ccnupq commented on #23349
any update for this issue ?
When I tested >110 pods/node,   we find the new pods lanuch really slow (>30s) and there is no other negative effects .
My node still has lots CPU and Memory.

Why this happened?
Does Kubelet has some limitation ?

[2022-04-19 11:36] zroubalik commented on #109496
This is related: adding concurrent workers for HPA processing:
https://github.com/kubernetes/kubernetes/pull/108501

[2022-04-19 11:49] bamboo12366 commented on #109496
@zroubalik yea these two are related, for our case, we implement the concurrent worker ourselves. but the metrics request still the bottleneck

[2022-04-19 11:58] zroubalik commented on #109496
@bamboo12366 ack, would you mind reviewing that PR and sharing your experience with it (just for the worker related part)?

[2022-04-19 12:03] bamboo12366 commented on #109496
sure, I can give a try

[2022-04-19 12:18] gottwald commented on #109289
I implemented the workaround in all places where we've seen uncontrolled memory growth. This fixes our problem for the time being.
However it's still awkward and non-obvious to use. IMHO the client should not leak memory per default.

[2022-04-19 12:38] uablrek commented on #109406
Is there a reason or just emotional?

The `kube-proxy` binary is statically linked so it does not need or use `musl`, it only needs some binaries to be executable and it doesn't matter if _they_ are built with musl. They just have to work.

I have sucessfully built and executed my own tests, both with proxy-mode `iptables` _and_ `ipvs`, using an image built with this `Dockerfile`:
[code]
The image