[2017-01-25 22:21] #40483 closed

[2017-01-25 22:21] #40481 closed

[2017-01-25 22:21] #40447 closed

[2017-01-25 22:22] #40489 closed

[2017-01-25 22:23] #40438 closed

[2017-01-25 22:23] #40451 closed

[2017-01-25 22:24] #40456 closed

[2017-01-25 22:24] #40470 closed

[2017-01-25 22:24] #40482 closed

[2017-01-25 22:24] #40457 closed

[2017-01-25 22:25] timstclair commented on #40476
Cool, good to see this is already in place. Perhaps we should extend the limits to prevent certain volume types as well?

[2017-01-25 22:25] #40490 closed

[2017-01-25 22:25] ixdy commented on #40450
@k8s-merge-robot well then why did you open it in the first place?

[2017-01-25 22:26] timothysc opened #40493 "etcd caching defaults are too much black magic."
We've had a number of bouncing reports on the cache in the past being too high (using too much memory), then the cache being too magic.  Computed by node count :/

This is to record we should probably make the cacheing objects themselves smarter.  e.g. grow to a threshold and recycle based on time-window and hit-count.

/cc @wojtek-t @hongchaodeng @kubernetes/sig-scalability-feature-requests @smar

[2017-01-25 22:27] #40446 closed

[2017-01-25 22:27] #40458 closed

[2017-01-25 22:27] #40463 closed

[2017-01-25 22:27] #40471 closed

[2017-01-25 22:27] #40485 closed

[2017-01-25 22:28] hongchaodeng commented on #40493
Just to clarify, you mean the etcd2 helper's cache, i.e. decoding cache, right?

[2017-01-25 22:31] timothysc commented on #40493
Yes, but the watch cache numbers are kind of magic too.

[2017-01-25 22:32] #40486 closed

[2017-01-25 22:44] quinton-hoole commented on #38897
@bgrant0607 OK, I now understand your basic argument to be that ease of use trumps safety (where safety in this case means requiring a relatively simple positive indication in the API or tool, along the lines of --cascade/--recursive/--force to confirm that large, non-obvious destructive operations will be performed automatically, like terminating an application globally, in this case, or deleting

[2017-01-25 22:46] lavalamp opened #40494 "workqueue: timed work queue: key type is too unique"
The TimedWorkQueue object appears to lack a critical feature of the original WorkOueue, namely that similar items are aggregated together. By adding the time member to to the key type, it ensures that (time, item) pairs are unique-- you can add the same item multiple times as long as the time differs. This removes the guarantee that two goroutines wouldn't process the same item at the same time.

[2017-01-25 22:47] avra911 commented on #24687
@jingxu97, using path '/' gives a different error: `Invalid specification: destination can't be '/'`, while using `gcr.io/google_containers/volume-nfs:0.8`. For the client container, the error is still the same: `Running mount using a rkt fly container run: group "rkt" not found, will use default gid when rendering images mount.nfs: Failed to resolve server magento-nfs: Temporary failure in name r

[2017-01-25 22:50] kblin commented on #37297
Also happens when building on ARM natively.

[2017-01-25 23:04] ixdy commented on #27631
It's also on my list to update https://github.com/kubernetes/community/blob/master/contributors/devel/bazel.md.

[2017-01-25 23:09] liggitt commented on #40494
@deads2k
Iirc, the timed queue feeds a regular queue, so the guarantee still holds

[2017-01-25 23:09] Random-Liu commented on #40021
@liggitt Any updates on this?

[2017-01-25 23:12] liggitt commented on #40494
Sorry, I was thinking of the delaying queue, which does key correctly

[2017-01-25 23:17] yujuhong commented on #40051
We need a way to identify containers managed by < kubelet 1.6 and stop/delete them in dockershim.

Assigning to @Random-Liu since he volunteered (thanks!)

[2017-01-25 23:26] malix0 commented on #6862
Canonical release is own distribution of kubernetes
https://jujucharms.com/canonical-kubernetes/bundle/
but does not add LXC/LXD support

[2017-01-25 23:32] Random-Liu commented on #40051
Sure. Will work on this!

[2017-01-25 23:39] saad-ali commented on #40306
Can you verify that the master on which the attach operation is triggered is in the same cluster as the node "ip-10-43-0-31"?

[2017-01-25 23:39] vishh commented on #5607
I feel https://github.com/kubernetes/community/blob/master/contributors/design-proposals/volume-hostpath-qualifiers.md can be extended to have kubelet auto whitelist hostpath devices for the respective containers.

[2017-01-25 23:58] janetkuo opened #40496 "`kubectl rollout status` should adhere to the Deployment strategy parameters"
To reproduce it:

1. Have a deployment with deadline seconds specified, wait for it to be complete
2. Update its pod template to use a bad image
3. The deployment is still complete even after `progressDeadlineSeconds` has passed, with status.type=Progressing, status.status=True, status.reason=NewReplicaSetAvailable
4. `kubectl rollout status` shows the deployment is still progressing (not failed o

[2017-01-26 00:06] overip commented on #36575
Hi, I am running in a problem even though I used the --pod-network-cidr option with init.
Here are the steps summarized:
1. Install k8s following https://kubernetes.io/docs/getting-started-guides/kubeadm/
2. Once I got to the 3/4 steps from above link, I downloaded the kube-flannel.yml file on master and launched it with kubectl apply -f kube-flannel.yml. When try kubectl get pods --all-namespaces

[2017-01-26 00:09] jingxu97 commented on #32881
@jsravn, thank you for providing detailed information and analysis. I think there is a race condition between asynchronous operation MountVolume and updating actualStateOfWorld directly by reconciler https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/reconciler/reconciler.go#L347
I will work on a fix. Please let me know if you have any issue/comments.

[2017-01-26 00:10] bgrant0607 commented on #25603
Closing in favor of #3949.

[2017-01-26 00:10] #25603 closed

[2017-01-26 00:27] pwittrock commented on #40406
@colemickens FYI, I have a doc out for review that covers this:

https://deploy-preview-2317--kubernetes-io-vnext-staging.netlify.com/docs/concepts/tools/kubectl/object-management-using-commands/#using-set-commands-to-modify-objects-before-creation

https://github.com/kubernetes/kubernetes.github.io/pull/2317

[2017-01-26 00:30] mlbiam commented on #30650
@ericchiang honestly its getting so easy to deploy at this point with kops and kubeadm i'm not sure an additional flag is really needed.

[2017-01-26 00:30] #30650 closed

[2017-01-26 00:39] bgrant0607 commented on #38897
@quinton-hoole It sounds like you want an equivalent of `alias rm='/bin/rm -i'`. A simple preference mechanism in kubectl would solve that.

[2017-01-26 00:41] bgrant0607 commented on #38897
@quinton-hoole I'll also point out that tools like helm will be able to tear down even more resources in a single command line.

[2017-01-26 00:44] vielmetti commented on #40431
[code]
What does this mean? I know that with Docker earlier than 1.13 and with Go earlier than 1.8, there is a known bug in overlay2.  https://github.com/docker/docker/issues/27384

[2017-01-26 00:57] lavalamp commented on #38847
I can confirm that without @janetkuo's suggested fix, local-up-cluster doesn't actually produce a functioning cluster. Controller manager is blocked from accessing anything.

[2017-01-26 00:59] quinton-hoole commented on #38897
@bgrant0607 The alias you mention is definitely one solution.  Although rm actually works exactly the way I want, in the absence of the alias (i.e. by default).

       By default, rm does not remove directories.  Use the --recursive (-r
       or  -R)  option to remove each listed directory, too, along with all
       of its contents.

It's not clear to me how we could automatically populate most

[2017-01-26 01:00] thockin commented on #40476
Would this allow something like "watch all secrets in all namespaces" to server-side filter and return only secrets on this node?  Or would it be an error, and we would have to set up N individual watches ourself?

[2017-01-26 01:03] liggitt commented on #40476
The ACL filter would likely need to be more explicit. Adding ACL filtering to existing APIs as-is would be... unexpected. But we would like to figure out a way to make watch possible for scenarios like this.

[2017-01-26 01:04] lavalamp commented on #38847
Well, let me back off on that claim. The controller manager seems to be able to talk to apiserver again, but pods don seem to be able to.

`E0126 00:59:10.717842       8 election.go:226] error retrieving resource lock default/etcd-operator: Get https://10.0.0.1:443/api/v1/namespaces/default/endpoints/etcd-operator: dial tcp 10.0.0.1:443: getsockopt: connection timed out`

e.g. etcd-operator prints

[2017-01-26 01:07] yunzhu-li commented on #34413
@liggitt Thanks for reminding! We were running pre-1.5.2 `kubectl` clients and now updated. Will continue monitoring.

[2017-01-26 01:10] lavalamp commented on #38847
I think the issue is that the apiserver is failing to give the kubernetes service any endpoints.

[2017-01-26 01:15] lavalamp commented on #38847
[code]

[2017-01-26 01:23] lavalamp opened #40499 "local-up-cluster.sh: etcd detection has false positives"
I had a zombie process, `etcd-operator`, running due to a test on a previous local cluster invocation. Unfortunately the part of the local cluster up script that detects if a previous etcd installation is running got confused by this and refused to proceed until I killed it. (Fortunately it was a zombie and it didn't matter if I killed it.)

Marking as test-infra since the test scripts are the pri

[2017-01-26 01:28] lavalamp commented on #38847
OK, I figured it out.

[code]

should be:

[code]

because the API_HOST variable is "localhost", not 127.0.0.1.

[2017-01-26 01:34] lavalamp commented on #38847
I sent #40501 with @janetkuo's fix and my fix.

[2017-01-26 01:44] smarterclayton commented on #17637
This can be closed?

[2017-01-26 01:58] ericchiang commented on #40015
Did anyone take this? I've got a couple cycles to work on RBAC related things for this release.

[2017-01-26 02:33] hridyeshpant commented on #24791
@justinsb @therc in our case we are running some cleanup process and any aws resource dont have valid tag are getting deleted, so whenever i am creating service with Loadbalancer after some time that ELB is getting deleted by cleanup process.
I am kind of block now, is there way we can assign custom tag while creating ELB for service.
 i am abel to use "cloudLabels" for other resources, but seems

[2017-01-26 02:37] csarora commented on #40306
@saad-ali @madhusudancs
Yes its dynamic provision PV using kubefed ,
Master is running on private IP : 10.43.0.20
Minions on 10.43.0.30 & 10.43.0.31

[2017-01-26 03:30] #39783 closed

[2017-01-26 03:54] alindeman commented on #40499
I'll take a stab at this.

[2017-01-26 04:43] tanapoln opened #40503 "kubectl run: doesn't assign label to pod"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T07:31:07Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1"

[2017-01-26 04:50] tanapoln opened #40504 "kubectl run with --rm and --expose don't remove service on termination"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T07:31:07Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1"

[2017-01-26 05:00] nikhiljindal commented on #39168
thanks @liggitt

[2017-01-26 05:16] liggitt commented on #17637
there's a lot else here, just noting the bit of progress made

[2017-01-26 05:37] thockin commented on #40383
@lavalamp  apiserver proxy != kube-proxy :)

On Wed, Jan 25, 2017 at 2:23 AM, Michail Kargakis <notifications@github.com>
wrote:

[2017-01-26 05:45] dstiliadis commented on #39420
Have  been seeing the same problem both in GKE and AWS. Its intermittent. Sometimes they get deleted, but not always. Indeed, some of the firewall rules in GKE remain there as well when the LB is not deleted. We are running a CI workload where we bring up the services, test, and shut them down and so we see it rather often.

[2017-01-26 06:28] brendandburns commented on #38785
Just created a pick for this here:

https://github.com/kubernetes/kubernetes/pull/40507

[2017-01-26 06:37] brendandburns commented on #38785
https://github.com/kubernetes/release/pull/252 to address @ixdy 's comment.

[2017-01-26 06:50] brendandburns commented on #38785
Looks like go-systemd doesn't build on linux in the 1.5 branch?

@pires did you do a pull to fix something there for mainline?

[2017-01-26 07:00] stainboy commented on #15478
@xmik , just what to confirm it is an existing feature or your proposal regarding

--log-driver=gelf --log-opt gelf-address=udp://graylog.example.com:12201 --log-opt tag=k8s-testing --log-opt labels=io.kubernetes.pod.namespace,io.kubernetes.container.name,io.kubernetes.pod.name

[2017-01-26 07:20] pdecat commented on #1443
Now available in 15 AWS regions:

https://aws.amazon.com/blogs/aws/aws-ipv6-update-global-support-spanning-15-regions-multiple-aws-services/

[2017-01-26 07:24] thockin commented on #40491
blech.  I guess a %v isn't the end of the world, as long as we leave a TODO to fix this when we do validation on internal types ( @mbohlool ).

I'm surprised that the error being logged has a whole struct as the bad-value.  It usually comes down to individual fields.  From looking at the validation code, I guess this is the Duplicate error.  can we pass value as a formatted string there, rather th

[2017-01-26 07:33] thockin commented on #23864
On Wed, Jan 25, 2017 at 1:35 PM, Brian Pulito <notifications@github.com> wrote:

I don't know what "native" means here?  Other than a large number of
ports, what doesn't work?

Our proxies support basic IP affinity, or do you mean something else?

I really think Services are what is interesting (and hard).  Just
allowing port ranges for pods doesn't do much.  Pod ports are mostly
advisory.  hostPo

[2017-01-26 07:36] thockin commented on #25533
I think the configmap work is focusing on kubelet first, so nothing to say
here yet.

On Wed, Jan 25, 2017 at 10:45 AM, John Belamaric <notifications@github.com>
wrote:

[2017-01-26 07:39] jeremyong commented on #23864
@thockin With respect to the service vs pod point, my take is that one of the few reasons why we'd want to expose a vast range of ports through the firewall is specifically for applications where we don't need/want the service abstraction because presumably the protocols being used for such applications isn't TCP (which has a listening port + ephemeral port ranges).

VOIP, SIP, RTP, Games, all req

[2017-01-26 07:45] thockin commented on #23864
But you don't need to list them in a pod at all, unless you are either
naming them (not this case) or asking for hostPorts (you said you are
already hostNetwork).  If you run in hostNetwork mode, you can just receive
on any port you want.  No YAML needed.

That said, most load-balancers DO support UDP.  So if you had Services with
port ranges, you could use affinity and run many SIP backends on th

[2017-01-26 07:55] jeremyong commented on #23864
Firewall rules automatically written in by k8s prevents those ports from being openly accessible though correct?

[2017-01-26 08:18] wojtek-t commented on #40015
@ericchiang - from what I know noone didn't take closer look. If you have some cycle, it would be great if you could take a look. Thanks!

[2017-01-26 08:27] naisanza opened #40510 "Deployment in version "v1beta1" cannot be handled as a Deployment: [pos 620]: json: expect char '"' but got char '1'"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): v1.5.1

**Environment**:
- **Cloud provider or hardware configuration**: Local server
- **OS** (e.g. from /etc/os-release): Ubuntu 16.10
- **Kernel** (e.g. `uname -a`): 4.8.0-34-generic
- **Install tools**: [https://kubernetes.io/docs/getting-started-guides/kubeadm/](https://kuber

[2017-01-26 08:39] elblivion commented on #19113
I'm successfully using ECR in a different region (and AWS account, to boot) - the documentation quoted above says this is unsupported though, so I'm unsure about whether to proceed with this in a production environment.

Running 1.5.2 on AWS eu-west-1, ECR registry in us-east-1.
[code]

[2017-01-26 08:53] webner commented on #40346
I run into the same problem. The workaround was to create a default retention policy in influxdb as suggested here https://github.com/kubernetes/heapster/issues/1348#issuecomment-256480147

[2017-01-26 09:16] kargakis commented on #40496
Dupe of https://github.com/kubernetes/kubernetes/issues/40207, resolved by https://github.com/kubernetes/kubernetes/pull/40261

[2017-01-26 10:17] sanderploegsma opened #40512 "Certificate errors after context switches"
**Kubernetes version**: `kubectl` version is 1.5.2. Clusters differentiate between 1.4.7 and 1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: Google Cloud Platform
- **OS**: macOS Sierra 10.12.2
- **Kernel**: `Darwin Kernel Version 16.3.0: Thu Nov 17 20:23:58 PST 2016; root:xnu-3789.31.2~1/RELEASE_X86_64 x86_64`
- **Install tools**: I just installed `kubectl` using `gcloud c

[2017-01-26 10:22] slouly commented on #40346
The same problem with missing data in grafana. Can you advise me, pls, how can I set the retention policy when there is no `influx` CLI command nor `curl` in `/bin` directory of `gcr.io/google_containers/heapster-influxdb-amd64:v1.1.1 image`?

[2017-01-26 10:40] kargakis commented on #40510
@kubernetes/kube-ui-maintainers

[2017-01-26 10:42] xmik commented on #15478
Those docker daemon options I currently use, already work. Kubernetes already sets some labels for each docker container. For example, when running `docker inspect` on kube-apiserver container:
[code]
Hence, those docker daemon options work.

However, I think it is not possible now to make Kubernetes set custom labels on a docker container basing on Pod spec. So e.g. `--log-driver=gelf --log-opt l

[2017-01-26 11:07] therc commented on #19113
I added the cross-region functionality since that documentation was written. Thanks for catching it, your scenario is indeed meant to be fully supported.

[2017-01-26 11:10] soudy commented on #32526
It looks like the default file descriptor limit has been increased in GKE recently.

Fd limit on regular nodes (27 days old)
[code]
And peemptible node (11 hours old):
[code]

[2017-01-26 11:44] slouly commented on #40346
Solved by
[code]
from heapster pod

`kubectl exec -ti -n kube-system heapster-3821066434-pun2p -- sh`

[2017-01-26 12:05] elblivion commented on #19113
@therc happy to pitch in and submit a PR for the docs if you point me in the right direction.

[2017-01-26 12:11] slouly commented on #40346
Note that heapster image has DNS issue (see kubernetes/kubernetes/issues/30215) and **internal** influxdb IP must be used.

[2017-01-26 12:59] wojtek-t opened #40515 "Optimize resourceQuantity Size() operation"
When running large cluster tests, I'm seeing that ~5% of all allocations are coming from:
[code]
operation. It seems that underneath this is calling String() operation which makes this pretty inefficient. We should be able to optimize it.

[2017-01-26 13:00] wojtek-t commented on #40515
I will create a benchmark for it and try to optimize it.

[2017-01-26 13:30] gmarek commented on #40295
Actually it's caused by:
[code]
which seems scary. I'll need to take a look at that in first free cycles.

[2017-01-26 13:32] bpulito commented on #23864
@thockin Session affinity with SIP and UDP will require layer 7 packet introspection. You can't just really on client IP for session affinity because the client for these connections is mostly likely some other server (such as a session border controller) instead of the client initiating the call. Therefore a service will possibly see all its inbound connections coming in from the same endpoint. T

[2017-01-26 13:37] therc commented on #19113
Already created https://github.com/kubernetes/kubernetes.github.io/pull/2359

[2017-01-26 13:49] deads2k opened #40517 "apiserver renames and moves after separation"
- [x] authenticatorfactory.NewAuthenticatorFromTokens to NewFromTokens
- [ ] split authorizers from authorizerfactory
- [ ] pkg/validation/path to pkg/validation
- [ ] sweep for consistent package imports.  We skip this a lot and alias packages to reduce rebase conflicts, but consistency is useful.

[2017-01-26 13:58] jsafrane opened #40518 "Kubeadm should install a default storage class"
This is part of proposal https://github.com/kubernetes/community/pull/285.

We need `kubeadm init --cloud-provider=XXX` to look at addon manager files (shipped as kubernetes.tar.gz) and if `cluster/addons/storage-class/XXX/default.yaml` exists, then kubeadm should make sure this file is injected into Kubernetes (but it should not overwrite any existing objects, see https://github.com/kubernetes/ku

[2017-01-26 14:21] luxas commented on #40518
@jsafrane Please file this issue in kubernetes/kubeadm instead so we get it in our tracking.
Thank you!

[2017-01-26 14:21] #40518 closed

[2017-01-26 15:03] kargakis commented on #40433
Highly likely because the observed generation of the overlapping deployment is not updated by the controller hence the reaper blocks forever.

[2017-01-26 15:03] huang195 opened #40520 "Controller manager spending a lot of CPU on Deployments (much less for RS/RC/SVC etc.)"
I didn't find this problem being reported, so I apologize for duplicates.

I tried multiple versions of Kubernetes 1.4.x and 1.5.1, and they all exhibit the same behavior.

The problem I have is the k8s controller manager seems to be spending a lot of CPU on periodically maintaining deployments than other k8s object types, e.g., replicasets, replication controllers, service endpoints, etc. In my e

[2017-01-26 15:10] deads2k opened #40521 "test-cmd secret flake"
Looks like test-cmd secrets may have developed a flake while the tests were disabled.  Seeing

[code]
from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/2608 and the queue is blocked.

@nikhiljindal aftermath I think.

[2017-01-26 15:26] jakexks commented on #39812
It's not fixed in 1.5.2. In my experience it sometimes works after restarting the kubelet, but then gets into the state where it doesn't report container metrics again somehow.

Exactly the same setup as the original poster:

[code]

```Container Linux by CoreOS 1235.5.0 (Ladybug)```

[code]

[code]

[code]

[2017-01-26 15:30] kargakis opened #40524 "hack/local-up-cluster is broken in 1.5.2..."
...and there is no easy way to test Kubernetes upgrades with a custom etcd data directory. Using the script from master with old binaries does not work because there are new flags that old binaries don't have. Ideally, I would like a process that would allow me to deploy release binaries, probably by using the same version of the local-up-cluster script to run them. In the short term, fixing local

[2017-01-26 15:33] deads2k commented on #40524
`hack/local-up-cluster.sh` really seems to be best effort. There's no CI on it to make sure it works, no consistent topology, and insufficient add-ons to actually produce a working system.  I think that making it reliable would be a significant undertaking and should probably involve narrowing scope and expanding the cluster to be workable.

[2017-01-26 15:38] jayunit100 commented on #40524
the general issue is here  https://github.com/kubernetes/kubernetes/issues/14207  , suggest we use this specifically for the 1.5.2 details....

[2017-01-26 15:39] kargakis commented on #40520
The Deployment controller is running upgrades of ReplicaSets which in turn continuously resync Deployments so this doesn't surprise me. We are going to have the same problem with DaemonSets and StatefulSets, or maybe not assuming normal clusters will have many more Deployments than the rest of the workload controllers. It would be nice to see a cpu profile.

cc: @kubernetes/sig-apps-misc @kubernet

[2017-01-26 15:48] kargakis commented on #40422
SGTM

[2017-01-26 15:57] deads2k opened #40526 "weird bazel flake"
Seeing
[code]
 in bazel https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/40312/pull-kubernetes-bazel/2432/ and https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/40312/pull-kubernetes-bazel/2454/

I don't know what it means

[2017-01-26 16:00] soltysh commented on #40422
If I don't hear any objections I'll start with deprecating this flag in 1.6.

[2017-01-26 16:08] piosz commented on #27988
Closing as obsolete.

cc @Crassirostris

[2017-01-26 16:08] #27988 closed

[2017-01-26 16:12] idvoretskyi commented on #20146
@xsgordon closed.

[2017-01-26 16:12] #20146 closed

[2017-01-26 16:21] #16326 closed

[2017-01-26 16:21] piosz commented on #16326
All changes to logging documentation are merged now

[2017-01-26 16:21] liggitt commented on #40422
needs broader discussion and agreement... find the originating PR and tag those folks in.

[2017-01-26 16:42] jbhurat commented on #34327
@yujuhong: just checking if any progress has been made to defining the stats/metrics api

[2017-01-26 16:51] timothysc commented on #40520
@huang195 Thanks for reporting, we'll discuss this topic today.

[2017-01-26 16:56] smarterclayton commented on #40491
Can we effectively police all validators to do that safely?  I'm more worried about panicking rarely in production.

Can you recover the panic and do %#v instead?  Will be a performance hit, but would let you have your pretty for the near term.

[2017-01-26 17:02] skriss commented on #27796
Hi - I tried to register as a Heptio employee but the system was unable to verify me. Please help! Thanks.

[2017-01-26 17:05] dankohn commented on #27796
@skriss Please email the the Linux Foundation Helpdesk helpdesk@rt.linuxfoundation.org with your email and GitHub username.

[2017-01-26 17:21] naisanza commented on #40510
@kargakis In afterthought, actually think I should have made this in kubernetes/dashboard instead.

[2017-01-26 17:21] #40226 closed

[2017-01-26 17:23] #40515 closed

[2017-01-26 17:31] codablock commented on #28962
https://github.com/kubernetes/kubernetes/pull/40531 may slightly improve this situation as the maximum backoff time of 2 minutes will not fire anymore.

[2017-01-26 17:32] timothysc commented on #40015
per: @kubernetes/sig-scalability-bugs review if this is still an issue.

[2017-01-26 17:33] codablock commented on #35180
https://github.com/kubernetes/kubernetes/pull/40531 should improve timing by up to 2 minutes for rescheduling.

[2017-01-26 17:43] jessfraz commented on #40521
I can look into this a bit today

[2017-01-26 17:47] whereisaaron commented on #13488
Kubernetes is allowed to restart Pods for all sorts of reasons, but the cluster admin isn't allowed to.
I understand the moral stand that 'turn it off and on again' may not be a desired way to operate... but I also think it should be ok to let those people who wish to, to restart a Deployment without resorting to the range of less appetizing tricks like:
- deleting pods
- dummy labels
- dummy envi

[2017-01-26 18:05] lavalamp commented on #13774
Related idea: https://github.com/kubernetes/kubernetes/issues/33041

[2017-01-26 18:05] pwittrock commented on #29679
@karsinkk Yeah that would be great.  Are you able to attend the sig-cli meeting next week?  We are making some improvements to the contributor process for kubectl, and it would be great if you could attend.

[2017-01-26 18:08] deads2k commented on #40521
blocking the queue again.

[2017-01-26 18:14] spxtr commented on #40526
Caused by #40480, thanks for opening the issue. I'll fix.

[2017-01-26 18:15] ixdy commented on #40526
oh, this is a weird fall-out from #40480. We aren't always building `bazel-genfiles/version` anymore. I guess it was cached for a while and then fell out of the cache.

[2017-01-26 18:15] karsinkk commented on #29679
@pwittrock Thanks!. I'd be happy to attend the meeting!

[2017-01-26 18:32] enisoc commented on #24946
I've sent a pull request to update the ControllerRef proposal: https://github.com/kubernetes/community/pull/298

[2017-01-26 18:32] nikhiljindal commented on #40521
Thanks @jessfraz

Looking at the logs, I see the failure is with federation-apiserver and not kube-apiserver.

[2017-01-26 18:37] marun commented on #39870
There has been some work done in the linked PRs.

[2017-01-26 18:42] shashidharatd opened #40536 "Federation: Support deploying federation control plane on non-cloud environment"
There may be scenarios where there is a need to federate k8s clusters on private-cloud (on-premise) environments.
Listed below are some of the tasks to achieve the scenario above

- [x] Federation control plane deployment itself should be able to be deployed in non-cloud environments. #40516
- [x] Should be possible to disable persistent storage for etcd. #40862
- [x] Ability to configure desired

[2017-01-26 18:43] shashidharatd commented on #40536
@marun, Please feel free to correct or add any additional points to this issue.

[2017-01-26 18:46] mikedanese commented on #39819
@damienmg this is caused by gcc 6 on debian which enable -pie by default (whether you pass -pie or not). This is different then gcc-5 behavior. To fix this we need to pass -no-pie explicitly or stop using -r.

[2017-01-26 18:52] pwittrock commented on #29679
@karsinkk Great.  See you there.

[2017-01-26 18:54] shashidharatd commented on #40536
This issue will partly address the `deployment` part of federation on non-google clouds as described in #39870

[2017-01-26 19:08] #40207 closed

[2017-01-26 19:18] yujuhong commented on #34327
@jbhurat in the past weeks, the community had been focusing on defining the "core metrics", which is a set of metrics kubelet need to provide. The definition of core metrics will affect CRI's stats/metrics API because kubelet have to on the container runtime to supply some of the metrics. The [proposal for core metrics API](https://github.com/kubernetes/community/pull/252) has just been merged. On

[2017-01-26 19:18] tcf909 opened #40539 "Node Lockup"
I have a development cluster running a couple of pods in AWS US EAST 1. The cluster has been running stable for a couple of weeks. I recently modified a pod configuration to add additional containers. Unfortunately, when the new pod is scheduled, it totally freezes the node. I have provided a deployment.yaml below that isolates the recreation of the issue (subset of the larger pod config). I've an

[2017-01-26 19:22] wojtek-t commented on #40515
To clarify: the String() we are computing as part of Size() is needed anyway in the marshal method.

[2017-01-26 19:28] bpulito opened #40540 "kubectl-container side car fails to start"
Is this a BUG REPORT or FEATURE REQUEST? BUG REPORT

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.7+92b4f97", GitCommit:"92b4f971662de9d8770f8dcd2ee01ec226a6f6c0", GitTreeState:"not a git tree", BuildDate:"2016-12-10T07:35:34Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1"

[2017-01-26 19:32] #30970 closed

[2017-01-26 19:41] nikhiljindal commented on #40521
I dont see anything obviously wrong with the test.
It is testing that `get secrets` should not the secret after deleting it.

I am trying to reproduce it locally but it has passed continuously for past 30 runs (I am still running it in a loop).

I couldnt find it on the testgrid to figure out the failure rate. I was expecting it to be in https://k8s-testgrid.appspot.com/google-unit or https://k8s-

[2017-01-26 19:44] jessfraz commented on #40521
hmm maybe the problem is in the CI infrastructure? I am also running a loop lol

[2017-01-26 19:53] johnbelamaric commented on #25533
Thanks Tim.

[2017-01-26 19:55] tcf909 commented on #40539
I've narrowed this down to the lockup only happening when this is in the config:
[code]

secret-dockerhub-tcf909.yaml:
[code]

[2017-01-26 19:56] nikhiljindal commented on #40521
That is why I wanted to see how many times has it failed in our CI infra.
cc @ixdy @fejta to help find it

[2017-01-26 19:58] madhusudancs commented on #39870
@quinton-hoole yeah. Updating the existing documentation and marking the previous deployment mechanisms deprecated is planned for v1.6.

[2017-01-26 20:03] ncdc commented on #17648
#40393 took care of this, closing

[2017-01-26 20:03] #17648 closed

[2017-01-26 20:05] jessfraz commented on #40433
looking into this

[2017-01-26 20:06] ixdy commented on #40521
test-cmd doesn't produce machine-parsable junit, so I don't know how feasible this is. @k8s-sig-testing-misc

[2017-01-26 20:07] ixdy commented on #40521
`make test-cmd` is run in the ci-kubernetes-test-go job, but the lack of junit means it doesn't show up in testgrid.

[2017-01-26 20:18] jessfraz commented on #40433
hmm i cannot reproduce locally after changing the lines was this a flake or hard fail everytime?

[2017-01-26 20:18] ahakanbaba opened #40545 "get all does not show third party resources or secrets"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Searched for:
get all secrets
Did not see duplicated

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**:

[2017-01-26 20:27] rrati commented on #39870
@quinton-hoole This issue is relevant to current deploy/build mechanisms.

@madhusudancs This isn't a doc issue as problems still exist with new tools/methods.

[2017-01-26 20:29] immesys commented on #36988
I can also reproduce this issue, following the guide with packaged versions of all the components

[code]

[2017-01-26 20:41] liggitt commented on #40433
hard fail every time

[2017-01-26 21:10] lavalamp commented on #38847
This ought to be fixed now.

[2017-01-26 21:10] #38847 closed

[2017-01-26 21:13] jbhurat commented on #34327
Thanks @yujuhong, does the working group meet alongside sig-node weekly meetings.

[2017-01-26 21:24] coffeepac opened #40555 "aws node name problem - causes e2e failures"
**Kubernetes version** (use `kubectl version`): v1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS stable
- **Kernel** (e.g. `uname -a`):
- **Install tools**: K2 (github.com/samsung-cnct/k2)
- **Others**:

**What happened**:
attempted to run e2e conformance tests against a v1.5.2 cluster I spun up using our own tool.  received

[2017-01-26 21:26] yujuhong commented on #34327
There is currently no separate work group for CRI stats. We discuss issues as they come up in the the weekly sig-node meeting.

[2017-01-26 21:42] #40526 closed

[2017-01-26 21:56] tcf909 commented on #40539
Interesting note:
https://kubernetes.io/docs/user-guide/images/#specifying-imagepullsecrets-on-a-pod
and
https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

Have contradicting information. I followed the second link and ran in to problems. Going to try the first link (reportedly working in slack channel).

[2017-01-26 22:06] BaluDontu opened #40558 "Support selection of datastore for dynamic provisioning in vSphere"
Current vSphere Cloud provider doesn't allow a user to select a datastore for dynamic provisioning. All the volumes are created in default datastore provided by the user in the global vsphere configuration file.

With this fix, the user will be able to provide the datastore in the storage class definition. This will allow the volumes to be created in the datastore specified by the user in the stor

[2017-01-26 22:11] tcf909 commented on #40539
In troubleshooting a bit more, my guess is this has nothing to do with imagePullSecrets. Probably another problem with the config. Will continue to narrow it down and post back.

[2017-01-26 22:15] jcbsmpsn commented on #40252
@mikedanese

[2017-01-26 22:19] viglesiasce commented on #39500
Over in https://github.com/kubernetes/charts/issues/366#issuecomment-274391763  @iamzhout posits that this is caused by Go 1.7 vs Go 1.6

[2017-01-26 22:23] #40443 closed

[2017-01-26 22:29] divyenpatel opened #40560 "Add vmdk file extension for vmDiskPath in vsphere DeleteVolume"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): vsphere

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

[2017-01-26 22:50] philips commented on #35462
@jessfraz what is the status of your test-infra? I am updating the process document now and adding all of the release managers to the security list.

[2017-01-26 22:57] deads2k commented on #40521
Blocking the queue again.  This is probably due to not running the tests before, but the pain is significant.  Unfortunately, we probably can't sort out what to revert to fix it, but is there a way to only skip it for federation and you keep a p0 until you find it?

[2017-01-26 22:58] jessfraz commented on #35462
yeah i gotta force someone on eng-prod to review and probably sit with them to test :) will do next tomorrow if not next week!

[2017-01-26 23:03] krousey opened #40562 "Bazel build fails on ubuntu 16.10: undeclared inclusions"
I can't use bazel build on ubuntu 16.10. I first ran into https://github.com/kubernetes/kubernetes/issues/39819, but I downgraded to gcc 5. Now I get:

[code]

**Environment**: Ubuntu 16.10 yakkety

You can repro with this docker file and `docker run --privileged`:

[code]

cc @mikedanese @ixdy @spxtr

[2017-01-26 23:07] madhusudancs opened #40563 "Re-enable NodeOutOfDisk e2e test."
PR #40249 disabled NodeOutOfDisk e2e test because it is wreaking havoc on test clusters and affecting all the other tests on those clusters. The current solution doesn't work. We have tried other solutions that hasn't worked either. We need to come up with a test for this feature that works.

@kubernetes/sig-node-bugs @vishh

[2017-01-26 23:36] marun commented on #40536
I think this issue can serve as an umbrella issue to track the issues targeting improved support for non-cloud deployments.  Rather than conflating the work involved, work items can be tracked and discussed separately.  There is already an issue for supporting other ways of exposing the federation api (targeted by #40516):

 - [[Federation] `kubefed init` should also work on clusters without a ser

[2017-01-26 23:37] k8s-merge-robot opened #40566 "[k8s.io] Container Lifecycle Hook when create a pod with lifecycle hook when it is exec hook should execute prestop exec hook properly [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1616/
Failed: [k8s.io] Container Lifecycle Hook when create a pod with lifecycle hook when it is exec hook should execute prestop exec hook properly [Conformance] {E2eNode Suite}

[code]

[2017-01-26 23:46] nikhiljindal commented on #40521
Sure @deads2k
Sent https://github.com/kubernetes/kubernetes/pull/40567

[2017-01-26 23:46] marun commented on #40536
cc: @madhusudancs @kubernetes/sig-federation-misc

[2017-01-26 23:48] nikhiljindal opened #40568 "enable kubectl tests with federation apiserver for secrets"
https://github.com/kubernetes/kubernetes/pull/40567 disabled them since `kubectl delete secrets` was flaky.

We need to find and fix the issue and then reenable these tests.

cc @kubernetes/sig-federation-bugs

Related issues: #39984 and #39985

[2017-01-27 00:02] JonathanFraser opened #40570 "Blob storage as a resource"
This is  feature request for blob storage as a kubernetes resource.  Every cloud vendor has some form of blob storage type and there are some available for on premises stacks as well. The problem is, the each have their own unique API and authentication mechanisms. The request is, to allow kubernetes to shim blob storage in much the same way it does other cloud provisioned resources. This allows u

[2017-01-27 00:04] pires commented on #38785
No. Is that even supposed to compile for Windows? I think it's related to building the binaries after building them for other platforms but I'm not sure.

[2017-01-27 00:10] #13501 closed

[2017-01-27 00:12] #40246 closed

[2017-01-27 00:13] ivan4th commented on #25885
@ilackarms there's now [Virtlet](https://github.com/Mirantis/virtlet) project, a Container Runtime Interface implementation that aims to integrate VMs seamlessly into k8s clusters. Maybe it can be useful for your project?

[2017-01-27 00:14] nikhiljindal commented on #38897
To clarify, cascading deletion is not the default in the API (neither in kubernetes nor in federation).
It is the default in kubectl for kubernetes.

[2017-01-27 00:15] liggitt commented on #40568
Probably should be higher priority so it doesn't get dropped

[2017-01-27 00:18] tcf909 commented on #40539
I tracked this down to my issue. Knucklehead moment on my part.

I was using host networking for the primary container and didn't think about that for the second container in the pod (that I added). The second container was a vpn container that was heavily modifying iptables (which ended up modifying the hosts iptables).

[2017-01-27 00:18] #40539 closed

[2017-01-27 01:38] vishh opened #40573 "Guaranteed admissions and evictions of "critical pods" and "static pods""
Forked from https://github.com/kubernetes/kubernetes/issues/22212

Tl;dr; Work items in order of priority:

- [x] [From https://github.com/kubernetes/kubernetes/issues/38322#issuecomment-273631002]( Critical pod annotation will not be enabled by default and will only work for a special namespace (kube-system) PR #40655
- [x] Critical pods do not get evicted PR #40655
- [x] Kubelet preempts non cri

[2017-01-27 01:38] janetkuo commented on #40496
@kargakis I can still reproduce this with the fix. Would you take a look? We should also add tests for this scenario

[2017-01-27 01:39] vishh commented on #38322
Let's move this discussion to https://github.com/kubernetes/kubernetes/issues/40573

[2017-01-27 01:46] bprashanth commented on #32928
We need to cover at least 3 more cases, I think
1. Re-encrypt blindly, using the cert supplied by the backend. It may be self signed.
2. Only trust a specific public key, or a key signed by a given CA.
3. Authenticate to the server using a client cert.

__Hostname__: In all 3 cases the hostname in the Host header and/or SNI extension sent by the LB and used by the backend to identify the cert to s

[2017-01-27 02:19] timstclair commented on #40248
Thinking about this more, I'd like to question this statement:

This makes sense from a user perspective, for application containers, but do we really expect users to debug & exec into system containers? I think probably not. Most users are going to think of everything in the `kube-system` namespace as opaque implementation details. Of course _we_ (the kubernetes devs) will still need to debug tho

[2017-01-27 02:36] timstclair commented on #40248
To clarify, we still need to figure something out for (at least) kubeproxy & fluentd.

[2017-01-27 02:48] timstclair commented on #40248
Do we even run fluentd on non-amd64 builds? I can't find any per-architecture images for it.

[2017-01-27 02:52] victorgp commented on #40415
Same issue here updating to 1.5.2

All the running deployments created a new replicaset with a new pod-template-hash but not removing the old one.

Take a look to the 'describe' of one of these deployments:

[code]

You can see the NewReplicaSet has the hash '4285100270', which was the hash of the previous replicaset, but in the events it creates a replicaset with a different hash '767277055'.

[c

[2017-01-27 03:09] nikhiljindal commented on #40568
The issue is that we dont wait for the resource to be deleted unless we are using a reaper: https://github.com/kubernetes/kubernetes/blob/dd22743b54f280f41e68f206449a13ca949aca4e/pkg/kubectl/cmd/delete.go#L254.
This breaks for federation since we use finalizers. kubectl should wait for the resource to be deleted.
We should also set OrphanDependents = false. This will have no effect in kubernetes b

[2017-01-27 03:32] vishh commented on #40563
@dashpole @derekwaynecarr
We need a safe test for disk based evictions. Once we remove `OutOfDisk` node condition, we only have to test for `NodeDiskPressure` condition.
Is the level of testing we have at the node e2e level adequate for Disk Pressure? Do we need a cluster level test? I suspect we do not need one or we can run the node e2e test at the cluster level too. WDYT?

[2017-01-27 03:32] nikhiljindal commented on #40568
Sent https://github.com/kubernetes/kubernetes/pull/40576

[2017-01-27 03:35] gnufied opened #40577 "Ignoring node xxxx with NetworkUnavailable condition status True"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

current master

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04 latest
- **Kernel** (e.g. `uname -a`):
- **Install tools**: custom using blown up configuration

**What happened**:
When I deploy Kubernetes to

[2017-01-27 03:36] kskalski commented on #40346
Confirmed this solves my problem

[2017-01-27 03:52] pires commented on #40431
That means Docker 1.13 won't work with kubeadm for the time being. My suggestion is to pin Docker package version to 1.11.x.

[2017-01-27 04:01] justinsb commented on #40577
It would be useful to know the full node status as reported by e.g. `kubectl get node hekumar-multizone-bug -oyaml` i.e. is it kubectl that is reporting Ready incorrectly, or is scheduler wrong etc.

[2017-01-27 04:05] andrewrynhard opened #40578 "selfLink is missing slash"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
AWS
- **OS** (e.g. from /etc/os-release):
Centos
- **Kernel** (e.g. `uname -a`):
3.10.0-514.6.1.el7.x86_64
- **Install tools**:
Manual
- **Others**:

**What happened**:

[code]
**What you expected to happen**:
The URLs should look something like
[code]
instead of
[code]

**How t

[2017-01-27 04:12] liggitt commented on #40578
Dupe of https://github.com/kubernetes/kubernetes/issues/37266

[2017-01-27 04:12] #40578 closed

[2017-01-27 04:38] gnufied commented on #40577
This is how full node yaml looks like:

[code]

So indeed network is unavailable because NoRoute has been created, but then may be `kubectl get nodes` should not print the node as ready.

[2017-01-27 04:39] thockin commented on #40248
I think you're probably right.  Don't forget, though, that at least
kube-proxy needs iptables and conntrack binaries.

On Thu, Jan 26, 2017 at 6:19 PM, Tim St. Clair <notifications@github.com>
wrote:

[2017-01-27 04:41] justinsb commented on #40577
Agreed - this looks like a kubectl issue (I think it's a regression?).  I thought it used to show OutOfDisk at least...

I think the scheduler is correct: the node is not ready.

[2017-01-27 04:46] justinsb commented on #40577
And hmmm... looks like I'm wrong ... we haven't printed anything but Ready or NotReady there for a long time: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource_printer.go#L1527-L1542

[2017-01-27 05:07] k8s-merge-robot opened #40580 "[k8s.io] Container Lifecycle Hook when create a pod with lifecycle hook when it is exec hook should execute poststart exec hook properly [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1621/
Failed: [k8s.io] Container Lifecycle Hook when create a pod with lifecycle hook when it is exec hook should execute poststart exec hook properly [Conformance] {E2eNode Suite}

[code]

[2017-01-27 05:08] iam404 opened #40581 "Pods status are going in "unkown" state"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.0", GitCommit:"58b7c16a52c03e4a849874602be42ee71afdcab1", GitTreeState:"clean", BuildDate:"2016-12-12T23:35:54Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}

Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2+coreos.0", GitCommit:"3ed7d0f453a55172

[2017-01-27 05:29] yawboateng commented on #29330
seeing the same issue in 1.5.2

[2017-01-27 05:34] thockin commented on #40573
Without at least restarting a critical pod, it ill eventually OOM
itself or the system.  I guess that's OK, but not great

I do not recall discussing this part.  If we have preemption, why do
we need this?

With preemption we do not need this (and I think this is v.difficult
to define anyway)

Not sure we need this

As discussed offline, we might revisit all of this later, once we have
a proper de

[2017-01-27 05:41] thockin opened #40582 "Remove kube-proxy ProxyModeAnnotation"
This annotation dates back almost a year.   This is a relatively easy project for someone to contribute.

[2017-01-27 06:21] jingxu97 commented on #24687
@avra911 the following are the changes I made to make the test /examples/nfs work

Edit examples/volumes/nfs/nfs-pv.yaml
change the last line to path: "/"

Edit examples/volumes/nfs/nfs-server-rc.yaml
change the image to the one that enabled NFSv4
image: gcr.io/google_containers/volume-nfs:0.8

Your error message has this Temporary failure in name resolution. Are you using IP in volume spec for th

[2017-01-27 06:32] thockin commented on #2630
As with https://github.com/kubernetes/kubernetes/pull/39438#issuecomment-275459427, maybe we can only set FSGroup if the hostpath is being created?

[2017-01-27 06:32] avra911 commented on #24687
Hello,

I will try today once again exactly the files from the example. If it works, I will double check my files and come back here for more help.

@jingxu97 , quick question, does it matter how the cluster is created, because I am starting with `gcloud container clusters create m2-staging --zone europe-west1-d  --disk-size=40 --num-nodes=1 --machine-type n1-highcpu-2`? I havent tried on a cluste

[2017-01-27 06:38] blackstar257 commented on #33664
So is the current solution to
1. destroy and recreate when using the same tag name
2. use unique tags for each container change in production

Am I wrong?

[2017-01-27 06:39] thockin commented on #40491
I would OK a change to %v that came with a TODO and bug filed.

On Thu, Jan 26, 2017 at 8:56 AM, Clayton Coleman <notifications@github.com>
wrote:

[2017-01-27 06:52] deitch commented on #33664
I think if you have unique labels or env vars, that would be enough too.

[2017-01-27 07:13] spxtr commented on #40295
This is super flaky: https://k8s-testgrid.appspot.com/google-unit#bazel

[2017-01-27 07:27] keith4743 commented on #40336
https://github.com/kubernetes/kubeadm/issues/34
https://github.com/kubernetes/kubernetes/issues/35264
https://github.com/kubernetes/kubernetes/pull/36759

I have found the PRs.

[2017-01-27 07:27] #40336 closed

[2017-01-27 08:02] gmarek opened #40586 "TimeAdded should be consistently set for all types of Taints."
cc @timothysc @davidopp @kevin-wangzefeng @kubernetes/sig-scheduling-bugs

[2017-01-27 08:43] gmarek commented on #40295
Super flaky is rather overstatement for test that failed 5 times in the bazel test history:) I won't have time to look into it before week of Feb. 6th.

[2017-01-27 09:10] davidopp commented on #40573
That's a lot of work for something that will probably change substantially in 1.7. Are you sure all of it is necessary to solve the problem?

[2017-01-27 09:23] mengqiy opened #40588 "Usage of multiple selectors is unclear"
Need some doc or help text for how to use multiple selectors. And some behavior is suspicious. Need to fix that if it is a bug.

I only keep the name and labels in the example below.
[code]

This is the correct way to use multiple selector:
[code]

The behavior below is suspicious. It seems it only respect the `-l` that comes last.
This behavior may cause users hurt themselves when using something

[2017-01-27 09:24] ymqytw commented on #40588
@kubernetes/sig-cli-misc

[2017-01-27 10:03] umiddelb commented on #40431
Where can I find some tests to run against the cluster and check whether Docker 1.13 is OK or not.

[2017-01-27 10:05] luxas commented on #40431
@vielmetti It's just a warning/check that sig-node hasn't validated the overlay2 driver.
It'll work just fine if you pass `--skip-preflight-checks` or change driver to overlay which is known to work at least.

[2017-01-27 10:07] luxas commented on #40431
@umiddelb Just skip the checks and see if it works ;)

[2017-01-27 10:14] umiddelb commented on #40431
The cluster starts up apparently, are there any health checks / integration tests I can run?

[2017-01-27 10:23] pizzarabe opened #40589 "controller-manager fails to read ECDSA private key"
**Kubernetes version**

Serverversion 1.5.2 (running Hyperkube v1.5.2_coreos.1 (https://quay.io/repository/coreos/hyperkube))

**Environment**:
- Bare-Metal
- Coreos 1235.6.0 (Kernel 4.7.3-coreos-r2)

**What happened**:
kube-controller-manager with ecdsa key fails to start
`
F0127 09:59:04.041033       1 controllermanager.go:181] error running controllers: Error reading key for service account tok

[2017-01-27 10:53] matthyx commented on #37859
@dakoner would you be interested in natural sorting as well? There is an open issue in OpenShift (https://github.com/openshift/origin/issues/7229) requesting that too, and it seems the relevant code is in Kubernetes. Maybe I could kill 2 birds with the same stone, what do you think?

[2017-01-27 11:09] davidopp commented on #40586
@gmarek Can you explain more specifically? Are you saying we currently set it only for NoExecute, but should instead set it for all taint effects?

[2017-01-27 11:29] codablock commented on #28141
I'm wondering why we even rely on the cache here if just a few lines later we do a direct call to the apiserver to get the current node status.

At [operation_generator.go#L752](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_generator.go#L752) we check the ReportedInUse value, which seems to come from the cache. Just a few lines later the mentioned

[2017-01-27 11:43] gmarek commented on #40586
Yup. It's not a field which we take actions on, so there's no reason for setting it only for NoExecute taints.

[2017-01-27 11:56] octete opened #40590 "kube-proxy panic on restarting."
Hi,

I am running a k8s cluster in GKE (among others) that has gotten into a broken state where kube-proxy panics and keeps restarting. I have asked on slack and also searched here for 'kube-proxy panic' but have not found anything similar to this problem. I have even raised a ticket with google but have not got anywhere. I feels to me like a bug in kubernetes-proxy that might be related to invali

[2017-01-27 12:00] kevin-wangzefeng commented on #40586
Generally, TimeAdded should be set for all types, and I thought about adding a new admission controller to do this, but there is a time skew issue since apiserver and controller-manager may have different clocks. Not yet come up with better solution.

[2017-01-27 12:03] gmarek commented on #40586
It'll be only for users information - nothing will take action depending on the field (exactly because of the clock skew). As marked - this is not something urgent, I just think we should either do it before 1.6, or agree to discard it.

[2017-01-27 12:20] kevin-wangzefeng commented on #40586
Make sense to me.

[2017-01-27 12:23] soltysh commented on #40422
The initial PR was to address history information about deployments: https://github.com/kubernetes/kubernetes/pull/20035 implemented by @janetkuo. @kargakis you will know better if it's still helpful, since it only has the change cause? Besides, that annotation isn't filled in when doing regular update, only certain kubectl commands actually fill this in.
Additionally, there are some open issues,

[2017-01-27 12:33] elcct commented on #29330
It seems like the fix is in the making, there is a pull request:

https://github.com/kubernetes/kubernetes/pull/39716

[2017-01-27 13:41] #34413 closed

[2017-01-27 13:41] #35149 closed

[2017-01-27 13:43] liggitt commented on #40589
the issue is the `EC PARAMETERS` block. removing that (invoke openssl with `-noout` to omit it from the start) will allow the key to be consumed.
[code]

will fix in 1.6 to ignore that block when reading the private key block

[2017-01-27 13:57] piosz commented on #39812
cc @dchen1107 @dashpole @timstclair

[2017-01-27 13:57] piosz commented on #39812
@kubernetes/sig-node-bugs

[2017-01-27 14:04] wojtek-t commented on #38610
We fixed some things in the meantime and it seems ok now.

[2017-01-27 14:04] #38610 closed

[2017-01-27 14:18] wojtek-t commented on #19188
@yujuhong - I've send out a doc update in: https://github.com/kubernetes/kubernetes.github.io/pull/2372

[2017-01-27 14:18] k8s-merge-robot opened #40599 "ci-kubernetes-e2e-gke-1.4-1.5-cvm-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-1.4-1.5-cvm-kubectl-skew/4550/
Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl patch should add annotations for pods in rc [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26126 #30653 #36408

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl describe sho

[2017-01-27 14:32] piosz commented on #39812
@ichekrygin @jakexks does kubelet summary endpoint have those informations? To verify this you can use:
[code]

[2017-01-27 14:36] webwurst commented on #24330
I came across this today, just a short heads-up: in @fcvarela command the select expression probably should look like this `select(.spec.replicas | contains(0))`.

[2017-01-27 15:28] codablock commented on #28141
https://github.com/kubernetes/kubernetes/pull/40603 modifies VerifyControllerAttachedVolume to do a watch instead of a GET and also removes the need for the node status cache.

[2017-01-27 16:07] k8s-merge-robot opened #40607 "[k8s.io] Summary API when querying /stats/summary should report resource usage through the stats api {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1631/
Failed: [k8s.io] Summary API when querying /stats/summary should report resource usage through the stats api {E2eNode Suite}

[code]

Previous issues for this test: #34990

[2017-01-27 16:18] simonswine opened #40610 "Consider exposing node labels via downward api"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): downward api node labels

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature request

I think the downward API should support exposing the node labels on which the pod it is running. While I understand that the Pod should not be cou

[2017-01-27 16:25] sbezverk commented on #39159
the issue was related to the fact that attached partition has not been preped by mkfs.xfs. When kubelet was trying to run it automatically it failed because it required -f flag. After attaching manually target and then mkfs.xfs -f, kubelet managed to attach iscsi volume to the pod

[2017-01-27 16:25] #39159 closed

[2017-01-27 16:38] justinsb opened #40611 "AWS: Shared resource tags format"
This is a discussion issue for implementing shared resource tagging per https://github.com/kubernetes/features/issues/173

## Tag Usage

On review of the AWS code, tags are used:

* Volumes, Instances: I do not think we should share these across clusters.  The cluster "owns" the instance or volume.
* Security Groups: might be nice to share, but they are read/write (for ELBs), so I propose not shar

[2017-01-27 16:45] marun commented on #40536
I think it should be possible to disable integration with a dns service provider (e.g. ``--dns-provider=none``).  Whether the environment is cloud or non-cloud, I think that having a hard requirement for integration with dnaas imposes a penalty on the development and testing of features that don't depend on dns.

cc: @quinton-hoole @csbell @rrati @madhusudancs @nikhiljindal

[2017-01-27 17:00] iam404 commented on #40581
[code]

[2017-01-27 17:08] dashpole commented on #39812
We have had some issues in the past with stats disappearing from certain coreOS distributions:
#32304, #30939, [cadvisor#1344](https://github.com/google/cadvisor/issues/1344)
cc @euank (coreOS), any ideas?

[2017-01-27 17:12] dashpole commented on #39812
@justinsb, is #30939 fixed for aws?

[2017-01-27 17:16] naphthalene commented on #34583
It would be ideal to have the StorageClass accept an expression or wildcard zone under the aws provisioner. Ideally I shouldn't have to care where my pods are running and where the EBS are created.

[2017-01-27 17:21] jsravn opened #40615 "apiserver panic / crash when trying to exec to a pod"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
panic apiserver invalid memory address
---

**Is this a BUG REPORT or FEATURE REQUEST

[2017-01-27 17:22] chuckbutler commented on #38694
We hit similar in a cluster thats running in a staging environment, and the etcd key store was rebooted during a large namespace termination. we were blaming etcd initially for the failure scenario after seeing this stack trace, but some cursory googling brought us here.

The logs in question look like:

[code]

Seems related to the associated output above, and will continue searching for symptoms

[2017-01-27 17:22] bgrant0607 commented on #34292
Ref #24198

[2017-01-27 17:25] jsravn commented on #40615
There are no errors on the node with the pod. I also tried kubectl v1.4.8 and same problem.

[2017-01-27 17:35] quinton-hoole commented on #38897
@nikhiljindal @bgrant0607 Yes, thanks for bringing that up.  I was about to ask for clarification.  As far as I can tell from both the API documentation (https://kubernetes.io/docs/api-reference/v1/definitions/#_v1_deleteoptions), and the code, cascading deletion is the default in the API

[code]

Am I misunderstanding something?

[2017-01-27 17:48] tonglil commented on #6545
For those who have implemented this, has anyone encountered MTU issues with the VPN + GCP L4 internal load balancers + GKE setup?

We need to lower the MTU on the GKE nodes (running GCI) to 1400, but there doesn't seem to be a good way to do this. We can't do this from the running containers (because app teams use their own containers and shouldn't be concerned with MTU settings). We don't want to

[2017-01-27 17:52] bgrant0607 commented on #38897
@quinton-hoole Yes, that documentation is confusing/wrong. It should be API-dependent.
@lavalamp @pwittrock @caesarxuchao Where is the correct documentation about orphaning/cascading deletion behavior for individual APIs / API groups?

[2017-01-27 18:10] kargakis commented on #40422
We still need a way to properly correlate information about why a rollout happened with the respective replica set. Admittedly, --record is far from perfect and I am all for deprecating it but not before we find a better way to store the info we need. How about a flag (either repurposing --record or a new one) that accepts the information users want to store? There have been requests about overrid

[2017-01-27 18:25] foxish commented on #28167
@kubernetes/sig-node-feature-requests This seems rather old. Was this abandoned for some reason? It seems nifty for some applications (like Spark) which have useful stdout and stderr streams that we'd want to access but separately since stderr is quite noisy.

[2017-01-27 18:25] kargakis commented on #40496
@janetkuo I am not able to reproduce anymore on master

[2017-01-27 18:30] kargakis commented on #40510
@naisanza yes please move the issue there and close this one

[2017-01-27 18:33] janetkuo commented on #40422
+1 for supporting overriding change-cause. We need to provide an alternative to rollout history change-cause before deprecating `--record`

cc @ghodss

[2017-01-27 18:34] kargakis commented on #40415
@victorgp do you also see this in deployments using volumes or in any kind of deployments?

[2017-01-27 18:40] deads2k commented on #38694
Are you sure that a failed delete is causing a crash loop in a pod?  That would be highly unusual.  This was just a namespace controller that didn't respect the verbs for resources, but I highly doubt that affects pods.

[2017-01-27 18:46] naisanza commented on #40510
Moved https://github.com/kubernetes/dashboard/issues/1603

[2017-01-27 18:46] #40510 closed

[2017-01-27 18:52] kargakis commented on #40415
Can you guys also provide logs from the controller manager?

[2017-01-27 18:56] marun opened #40616 "[Federation] Should allow DNSaaS integration to be disabled"
Whether the environment is cloud or non-cloud, requiring integration with dnsaas (google dns, route 53) imposes a penalty on the development and testing of features that don't depend on dnsaas.  It should be possible for the control plane to function without a dns provider configured, and ``kubefed`` should allow dnsaas integration to be disabled (e.g. ``--dns-provider=none``).

#40536 is the umbr

[2017-01-27 18:59] jessfraz commented on #40521
I'm going to reopen this since we need to get to the heart of the problem

[2017-01-27 19:03] janetkuo commented on #40496
Here are the exact steps I ran:

[code]

Did I do something wrong?

[2017-01-27 19:06] marun opened #40617 "[Federation][kubefed] Should be possible to disable persistent storage for etcd"
Currently ``kubefed init`` creates a PVC for etcd storage in the host cluster and if PV is not configured on the host cluster the control plane api will not be able to start.  While production use of federation requires persistent storage, this should be optional (e.g. ``kubefed init --persistent-storage=false``) when deploying federation for development/testing/evaluation purposes.  Such deployme

[2017-01-27 19:20] bpulito commented on #23864
As @thockin stated above, there is no need to specify a port range in the yml file if you are using "hostNetwork": true mode. I tested this and it works. This provides what I was looking for but I would be interested to hear if others still need port range support and why. Seems like native support for SIP load balancing should be opened in a different feature request.

[2017-01-27 19:28] marun opened #40620 "[Federation][kubefed] Enable dnsaas configuration for non-cloud deployments"
``kubefed`` currently relies on the dnsaas configuration to be discoverable.  This works in gke for google cloud dns (and likely in aws for route-53), but neither provider will be configured by ``kubefed init`` in a non-cloud deployment of the federation control plane.  ``kubefed`` deploys the controller manager (which talks to the dnsaas provider) without setting ``--dns-provider-config``:

https

[2017-01-27 19:35] marun commented on #39271
#40536 is the umbrella issue for tracking this and others targeting improvements in non-cloud deployment of the federation control plane.

[2017-01-27 19:40] ncdc commented on #26406
I am currently working on this

[2017-01-27 19:45] MrHohn commented on #40588
I used to thought multiple selectors indicate "union" (select objects that satisfy anyone of the selectors) and [tried to utilize it](https://github.com/kubernetes/kubernetes/pull/40108#discussion_r98049183), but surprisingly found it is not working this way...

Why don't we make multiple selectors to work like `condition1 || condition2`? It would be really convenient.

Is there any other way we c

[2017-01-27 19:50] ghodss commented on #40422
I haven't thought about this issue for a while, but I'm pretty sure we can solve our use case of recording which git commit or jenkins run resulted in an apply in our own custom annotation and not need a kube-standard one.

[2017-01-27 19:56] timothysc commented on #26406
Only request is ample jitter across they sync intervals.

[2017-01-27 19:58] spxtr commented on #24343
@brendandburns has provided concrete problems and expressed deep concern with the direction this is moving. I've talked with other developers about this, and they are frustrated and share his concerns. It feels to us like the decision was made without acknowledging the issues that we know we will face.

All of the listed issues can be solved in a monorepo, and many of them have been significantly

[2017-01-27 20:00] ncdc commented on #26406
In the current WIP, I'm not adding any new timers. It'll piggy-back off the existing one.

[2017-01-27 20:02] ncdc commented on #26406
Or are you if I have 2 event handlers that both want their resync period to be 5 seconds, you want jitter for each of them?

[2017-01-27 20:05] dashpole commented on #40563
I would be in favor of trying to re-use the node-e2e test at the cluster level.

[2017-01-27 20:06] timothysc commented on #26406
jitter for each of them.  in the past a fair amount of effort has been put behind ensuring we are not syncing on the same intervals b/c it causes large spikes.

[2017-01-27 20:13] chuckbutler commented on #38694
I think this was crossed with other symptoms of the deployment. I'll go ahead and scrub the above, as it was unrelated. Thanks for the follow-up @deads2k

[2017-01-27 20:19] kargakis commented on #40422
This is not ideal because we already do this sort of thing in kubectl albeit storing less valuable info ie. the kubectl command that was invoked. @kubernetes/sig-cli-feature-requests lets add a new flag in kubectl that users can use similar to --record but instead of storing the invoked command, store the string that is passed by the user.

[2017-01-27 20:24] ncdc commented on #26406
As discussed on slack (without resolution yet): the code in the repo currently broadcasts each added/updated/deleted item from the shared informer's reflector to all the event handlers as soon as the item is available, and with no jitter.

[2017-01-27 20:25] philips commented on #24343
Having tried to coordinate change and track issues between a handful of
repos (kubernetes.git, bootkube incubator, client-go, and etcd operator) I
think that this experiment in different repos isn't going super well. I
would like to get some more feedback from those involved and figure out if
we are creating more problems than we are solving.

One experiment I feel we could run pretty easily is ha

[2017-01-27 20:31] yujuhong commented on #40563
Why do we need a cluster-level for disk pressure tests?

[2017-01-27 20:48] kargakis commented on #40496
Well, by default you allow 1 maxUnavailable and you run with 1 replica so that means your deployment is complete as soon as the pod is created (no requirement for it to be available). Try tweaking maxUnavailable to 0 and retry what you have.

[2017-01-27 21:00] timothysc commented on #26406
/cc @wojtek-t @rrati ^

[2017-01-27 21:02] soltysh commented on #40422
I don't want a new flag, rather a more systematic approach to the problem.
The current flag is only partially solving this when certain kubectl
commands are being called. I agree here with @kargakis this should be
solved first before deprecating the flag.

On Jan 27, 2017 9:19 PM, "Michail Kargakis" <notifications@github.com>
wrote:

[2017-01-27 21:04] timothysc commented on #26406
@ncdc I think we're going to need to refactor that.

[2017-01-27 21:05] vishh commented on #40563
Can you own this issue @dashpole?

On Fri, Jan 27, 2017 at 12:05 PM, David Ashpole <notifications@github.com>
wrote:

[2017-01-27 21:08] ncdc commented on #40615
It looks like your pod that's having the issue has a container with a security context, but privileged appears to be nil. Can you confirm that is the case?

[2017-01-27 21:09] ncdc commented on #26406
@timothysc ok, but maybe as a follow-up to my to-be PR to close out this issue? Unless it's easy to add the jitter.

[2017-01-27 21:09] vishh commented on #40563
It is primarily to test the scheduler I think. The scheduler should be
ignoring nodes that are under pressure.
In addition to that we want to see how the system behaves in a clustered
environment.

On Fri, Jan 27, 2017 at 1:05 PM, Vishnu Kannan <vishnuk@google.com> wrote:

[2017-01-27 21:10] dashpole commented on #40563
I am happy to own it.

[2017-01-27 21:12] timothysc commented on #40586
I've long wondered why google has not enforced some form of ntp as a requirement, tbh, we do.  There will obviously be some drift... but it's not controllable.

[2017-01-27 21:14] ymqytw opened #40626 "Stop edit from updating last-applied-config annotation and let replace respect --save-config"
From discussion in https://github.com/kubernetes/community/pull/287#issuecomment-275445705

We should consider drop the functionality of updating `last-applied-config` annotation in `kubectl edit`.
Because `kubectl edit` does a 2-way diff and will save all the fields that exist in the live config to the annotation. An `apply` operation after `edit` may delete fields unintentionally.

E.g. create a

[2017-01-27 21:15] kargakis commented on #40207
Cherry-picking back to 1.5 in https://github.com/kubernetes/kubernetes/pull/40625 - should be included in 1.5.3

[2017-01-27 21:16] timothysc commented on #26406
@ncdc sgtm.

[2017-01-27 21:19] dashpole commented on #32542
Anyone experiencing issues and using devicemapper should check out [this PR](https://github.com/kubernetes/kubernetes/pull/40432)  and see if setting the kubelet flag:
`--image-gc-high-threshold=85%`
solves your problems.

[2017-01-27 21:22] joshk0 commented on #7433
@thockin, could you please clarify? Does this mean if I have an Ingress (GCE L7) pointing to a Service, the Ingress is configured to directly hit the pods in that Service without incurring kube-proxy overhead and round-robin rerouting?

[2017-01-27 21:25] kargakis commented on #40422
What alternative do you suggest? Repurpose the current flag? Something else? We need users/automated processes to be able to specify a reason when images (or less frequently other parts of the pod spec) are updated so things like `kubectl set image` or `kubectl apply` need to pass the info down to the deployment->replica set.

[2017-01-27 21:26] joshk0 commented on #7433
or, sorry: "the Ingress is configured to directly hit nodes, which have Pods that are members of the Service, without incurring kube-proxy overhead and round-robin routing?"

[2017-01-27 21:26] dashpole commented on #32542
Looking closer at the garbage collection code, this is likely not the cause, as it only affects periodic garbage collection, and does not change behavior when the node is under disk pressure.

[2017-01-27 21:29] justinwp opened #40627 "SysctlUnsupported"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`): 1.4.7

**Environment**:
- **Cloud provider or hardware configuration**: Google GKE
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

- **Install tools**:
- **Others**:

**What happened**:
I was experimenting with sysctl annotations for ip local port range tuning. I updated the pod metadata through a

[2017-01-27 21:30] madhusudancs commented on #40616
Federated Service controller needs a DNS provider for it to be useful. An option is to implement a no-op DNS provider but at the point federated service is not that very useful other than replicating the service object in the underlying clusters. In other words, it is not really a single/unified federated service. It is not useful, then you might as well turn off the controller itself.

That bring

[2017-01-27 21:44] xrl opened #40629 "Cross build script fails on OSX b/c of bad chown args"
**What keywords did you search in Kubernetes issues before filing this one?**: `chown` `build`

**BUG REPORT**

**Kubernetes version** (use `kubectl version`): not relevant to build process

**Environment**: OS X
- **Cloud provider or hardware configuration**: Not relevant
- **OS** (e.g. from /etc/os-release): OS X 10.11.6
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What

[2017-01-27 21:45] pwittrock commented on #40626
@thockin FYI

[2017-01-27 21:47] pwittrock commented on #40626
@kubernetes/sig-cli-bugs

FYI this is a bug I'd like to see fixed in 1.6 since it is causing issues for users.  Should definitely appear as a release note under "Noteable kubectl changes" since it changes behavior (albeit in a way that is no longer broken).

[2017-01-27 21:55] justicel opened #40631 "volumeClaimTemplates with a StatefulSet schedules volumes on different AWS AZs"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: KOPS

**What happened**:

If you specify an array of VolumeClaimTemplates and attach multiple claims to a

[2017-01-27 21:55] justicel commented on #40631
@justinsb Per your request

[2017-01-27 21:57] kad opened #40632 "Random build failure on fast nodes while saving docker containers into tarballs."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): build failures, docker save, rootfs

---

**Is this a BUG REPORT or FEATURE REQUEST?*

[2017-01-27 22:02] frankgreco opened #40633 "Kubernetes DNS not able to forward requests"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
v1.5.1

**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): CentOS Linux
- **Kernel** (e.g. `uname -a`): 3.10.0-327.36.3.el7.x86_64
- **Install tools**: from scratch..but repeatable through ansible
- **proxy mode**: iptables

[2017-01-27 22:03] smarterclayton commented on #24343
On Fri, Jan 27, 2017 at 2:58 PM, Joe Finney <notifications@github.com>
wrote:

The primary source for libraries certainly doesn't have to be moved out in
order to enable out-of-tree extension for the kubernetes community (since
we can mirror them), but they do need to be subdivided and very tight
controls over coupling have to continue to be enforced.  client-go,
apimachinery, and apiserver all ha

[2017-01-27 22:23] kargakis commented on #40415
I wasn't able to reproduce when restarting a cluster from 1.4.9 to 1.5.3 but the issue may be in the fact that I compiled both versions with the same go version (although I run an isolated test for adler using both versions w/o seeing a different hash - there is a single change between 1.6 and 1.7 but it doesn't affect our path: https://github.com/golang/go/commit/89a1f02834f1472cf307b222e14884ebd

[2017-01-27 23:04] mml commented on #40110
One thing just occurred to me.  We should probably have a test suite like these upgrades that simply tries to upgrade etcd without changing the version of k8s.  This would let us isolate etcd failures from failures of other types.

[2017-01-27 23:09] MrHohn opened #40635 "Unable to delete stale objects with `kubectl apply --prune` when no object passed in."
**What keywords did you search in Kubernetes issues before filing this one?** kubectl apply prune

---

**Is this a BUG REPORT or FEATURE REQUEST?** (FEATURE REQUEST):

**Kubernetes version** (use `kubectl version`):

[code]

**What happened**:

I created a bunch of objects with:
[code]
I then deleted one of the yaml files in /objects/folder and execute below:
[code]
The corresponding object is pr

[2017-01-27 23:10] MrHohn commented on #40635
cc @ymqytw @kubernetes/sig-cli-misc

[2017-01-27 23:20] Crassirostris commented on #24677
For those who might be interested, we recently updated the k8s documentation regarding logging: https://kubernetes.io/docs/user-guide/logging/overview/

This new page describes the current situation with the logging in Kubernetes and lists solution from the most preferable in most cases to the least preferable in most cases. It also includes an example of a sidecar container streaming logs from fi

[2017-01-27 23:29] philips commented on #24343
On Fri, Jan 27, 2017 at 2:04 PM Clayton Coleman <notifications@github.com>
wrote:

Yes, this! The problem for the client was never the git repo. The problem
is the client's sprawling dependencies on other Go packages inside of
Kubernetes.

[2017-01-27 23:31] foxish commented on #40545
cc @kubernetes/sig-cli-bugs

[2017-01-27 23:49] ymqytw commented on #40635
Original discussion in PR https://github.com/kubernetes/kubernetes/pull/33075

[2017-01-27 23:53] mml opened #40636 "etcd v2->v3 automated upgrade test"
I mentioned this in #40110.  We should have a version of our automated upgrade tests that take a 1.5 cluster and upgrade only the version of etcd running.  This will let us isolate etcd upgrade failures from 1.5->1.6 bugs.

@ethernetdan
@wojtek-t
@kubernetes/sig-testing-feature-requests

[2017-01-27 23:59] marun commented on #40616
@madhusudancs It sounds like being able to disable dns is valuable, whether directly or by disabling federated services.   Does it make sense to pursue only the latter if private federated services might benefit from the option to disable directly?

The near-term benefit in either case is to make local development and testing of features other than federated services possible, since dns configurat

[2017-01-28 00:46] nikhiljindal commented on #29887
Sorry for the delay in reviewing your PR.

I dont see it mentioned here, but I remember we also discussed whether we should use `map[string]string` or a struct similar to `[NodeSelectorTerm](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L1804)`
I think the NodeSelectorTerm struct is more clear and flexible and hence we should use that.

I am not sure if we can just reuse

[2017-01-28 00:47] nikhiljindal commented on #29887
Yes I agree. We should remove the object from any federation clusters for which it is not targeted.

[2017-01-28 00:55] victorgp commented on #40415
It happened for any kind of deployment, with and without volumes.

Unfortunately, i don't have the logs of the controller manager from when that happened.

We still need to upgrade other cluster we have here, so i will try to get those logs for this new upgrade.

[2017-01-28 01:27] thockin commented on #7433
Ingress is not affected by this.  GCE's L7 saves the client IP in the
X-Forwarded-For header.

On Fri, Jan 27, 2017 at 1:26 PM, Joshua Kwan <notifications@github.com>
wrote:

[2017-01-28 01:34] xiang90 commented on #39816
@lavalamp shall we reopen? i do not think this is fixed.

[2017-01-28 02:33] k82cn opened #40639 "Ignore 'PullNever' policy for image locality priority."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):
master

**Description**:
There's three different image pull policy here: Never, Always, PullIfNotPresent; the image locality should only consider the containers with PullIfNotPresent policy, there's no different for the other two policy in different node.

[2017-01-28 02:52] calebamiles commented on #39334
I actually don't know how cAdvisor is vendored into Kubernetes. @dashpole if you ping me on the PR that vendors into Kubernetes I can try and get it cherry picked.

**cc: @euank, @saad-ali**

[2017-01-28 02:53] calebamiles commented on #39357
Was your issue solved @zhanghao94? If so would you be so kind as to close this issue? Thanks!

[2017-01-28 02:55] calebamiles commented on #40109
Closing per request.

[2017-01-28 02:55] #40109 closed

[2017-01-28 04:22] brendandburns opened #40643 "Design and document translations"
So far we have a simple translation directory:

https://github.com/kubernetes/kubernetes/tree/master/translations

With a single translation file per language, e.g.

https://github.com/kubernetes/kubernetes/tree/master/translations/kubectl/en_US/LC_MESSAGES

There is some discussion that perhaps this should be multiple files.  The purpose of this issue is to discuss this.

[2017-01-28 05:03] k8s-merge-robot opened #40644 "[k8s.io] Services should create endpoints for unready pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging-parallel/4365/
Failed: [k8s.io] Services should create endpoints for unready pods {Kubernetes e2e suite}

[code]

Previous issues for this test: #26172

[2017-01-28 05:37] smarterclayton commented on #40610
There *could* be security implications for some types of clusters (exposing information the admin doesn't want the pod to have, like the exact core architecture).  That said, for most deployments it doesn't seem completely unreasonable.  A per node setting might decide whether to expose it or to return an empty map.

[2017-01-28 05:45] wilkers-steve commented on #40582
@thockin I'll work on getting a pull request in tomorrow for this.  Ive been looking at contributing and think this would be a great place to start

[2017-01-28 05:46] wilkers-steve commented on #40582
@thockin nevermind. Looks like a pull request already exists.  Overlooked the mention due to being on mobile. Cheers

[2017-01-28 06:39] k82cn commented on #36716
@smarterclayton , `clusterquota` seems can not balance resource based on resource request (e.g. borrow/lend + preemption).

@timothysc / @davidopp , I'm thinking to use scheduler's `HTTPExtender` & `ThridPartyResource` for the PoC/demo:
1. kube-arbitrator is a separate binary that implemented HTTPExtender REST API
1. Create a ThridPartyResource (named `Consumer`) for related threshold (in prototyp

[2017-01-28 06:54] thockin commented on #40582
We'll file more :)

[2017-01-28 07:44] thockin commented on #24343
IMO having the client in its own repo is pretty powerful.

The lieutenant-tree model is more or less how Linux operates, right?  That
seems to do pretty well...

The biggest issue with monorepo is really permissions, in my mind.  yeah,
we have invented bots to help with a lot of it, but we seem to be swimming
upstream WRT the rest of GitHub, and that's exhausting.

Creating repos for things that d

[2017-01-28 07:58] thockin commented on #23864
I've seen a number of places where people have wanted to open ranges of
ports.  I don't have the examples off-hand.  One example was "whole-IP"
forwarding with no port remapping (VIP).

On Fri, Jan 27, 2017 at 11:20 AM, Brian Pulito <notifications@github.com>
wrote:

[2017-01-28 08:55] kargakis commented on #40415
@janetkuo can you have a look too?

[2017-01-28 12:30] zen commented on #40643
There are different ways of structuring this, but it's not a main concern, we can leave with one folder per component, although different layout should be supported by underlying library.
Biggest concern is that using current library (http://github.com/chai2010/gettext-go/gettext) we cannot extract translatable strings from the code.
Usual workflow is as follows:
- identify strings for translation

[2017-01-28 15:01] jonathanmarsaud opened #40648 "Rebooting the node which host the default-http-backend pod cause CLBO of Ingress controller"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

default-http-backend, ingress controller, kube-dns, kubernetes-dashboard, crash

-

[2017-01-28 15:08] greglearns commented on #34314
I just had the same problem k8s 1.4.7 stable. Very little was running on my cluster (1 master, 2 workers) other than Deis, running on AWS launched by Kops. Both workers had the same problems as above. AWS CloudWatch reported everything was fine on all servers.

[code]

[2017-01-28 15:38] fxposter commented on #17064
@vishh @thockin I personally would like to have at least shm-size and log-driver options to be supported, but I don't think it should be the solution specific to kube API. it would be better to have arbitrarily container runtime options supported. So that it would be possible to set them and kubernetes should not need any specific behavior for those options, except properly passing them to runtime

[2017-01-28 15:53] liggitt commented on #40639
a pull is still much cheaper if the image already exists on the node. It consists of contacting the registry, pulling the manifest, and making sure all layers exist locally

[2017-01-28 15:54] liggitt commented on #40639
And in the pull never case, wouldn't you want to be steered toward a node that already had the image and would succeed?

[2017-01-28 15:57] jhorwit2 opened #40649 "Node was not removed after failing to respond to checkins for 30mins"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

`eviction`, `node eviction`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose

[2017-01-28 16:13] liggitt commented on #40588
No, label conditions always narrow the previously selected set

[2017-01-28 16:14] fraenkel commented on #40629
already merged https://github.com/kubernetes/kubernetes/pull/40554

[2017-01-28 16:31] huang195 commented on #40520
@kargakis the cpu profile is pretty uninteresting. It basically shows every 30 seconds or so, controller manager sucks up all the cpu for X number of seconds till it looked over all the Deployments in the cluster, and the cpu would go down to close 0. When the number of deployments is larger, X becomes longer. When we approach 2500 Deployments in the cluster, X comes close to 30 seconds, i.e., sat

[2017-01-28 16:38] liggitt commented on #40545
This is working as intended. See https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all

[2017-01-28 16:41] liggitt commented on #40545
The problem is that "delete all" becomes unsafe if secrets, pvcs, and (potentially) ThirdPartyResources are included, and "get all" is confusing if they aren't.

[2017-01-28 16:42] liggitt commented on #40545
https://github.com/kubernetes/kubernetes/issues/18023 Is likely to be more successful

[2017-01-28 16:44] #40545 closed

[2017-01-28 16:59] homotopycolimit commented on #40332
Is there a workaround? Is there a way I can manually intervene to make the LoadBalancer work?

[2017-01-28 17:13] justinwp commented on #40627
I deleted the offending replication set and manually deleted the thousands of pods with kubectl.

[2017-01-28 17:27] homotopycolimit commented on #13382
I am experiencing the same issue:
kubectl giving TLS timout errors on brand new kubernetes cluster on azure (deployed with kubernetes-anywhere).

`Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:57:05Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Vers

[2017-01-28 17:58] smarterclayton commented on #24343
I agree that a very large set of people outside of tree suffer because the
monorepo blinds us to their externalities (recognizing that is the design
goal of this issue).  We won't bring them in, we have to make their lives
easier, we have to enable them with tooling, but we don't have to cut off
our own legs to do it.  Having explicit internal substructure that merges
out is probably more efficien

[2017-01-28 18:10] chrislovecnm commented on #24343
Do we have something that can be tried? We have repos that have included components of apimachinery and full core vendoring. What can be tried out? Any recommendations?

[2017-01-28 18:53] brendandburns commented on #40643
@zen thanks for the detailed comments, I'll look at converting to a more gettext/xgettext based workflow.

The trouble with https://github.com/gosexy/gettext is that it is based on calling into the gettext C library rather a 100% golang implementation. This makes portability and building kubernetes harder, so I would very much prefer not to do that.

I think that we can take the extraction tool an

[2017-01-28 19:20] kargakis commented on #40415
Some observations from what we already have:

Based on https://www.diffchecker.com/P9VDdRXX it seems that in 1.5.x 1) the rs cache lister used by the deployment controller doesn't select the original replica set hence the duplicate replica set has the same revision. 2) The different hash implies that there is a change either in the underlying implementation of adler or a change in the pod template

[2017-01-28 19:37] liggitt commented on #18924
I don't think instructions to the cluster admin belong in API responses

The discovery doc use in kubectl makes the response more reasonable (indicates the kind is not available on that server)

[2017-01-28 19:53] #40582 closed

[2017-01-28 20:07] deitch opened #40651 "Are there plans to make the ordinal index for a statefulset available dynamically within a config file?"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): statefulset ordinal config
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose

[2017-01-28 20:12] kargakis commented on #40520
Ah so this is because of the frequent relists? This has been pushed in 1.6 back to 24h: https://github.com/kubernetes/kubernetes/pull/38080

[2017-01-28 20:13] kargakis commented on #40520
Actually I don't remember off the top of my head - defaultResync is either 12h or 24h now

[2017-01-28 20:21] whatdhack opened #40652 "Any thoughts on supporting multiple types of pods ?"
Looks like the current  implementation is strictly "pod contains containers".  There are many situations that ends up running  just 1 container per pod.   I would certainly like to see a mode "pod as a container" ( a la docker) .

[2017-01-28 20:23] kargakis commented on #40415
Run the following unit test in the release-1.4 branch using go1.6.4 and in the release-1.5 branch using go1.7.1. The end result was the same. :/ podSpec was the same as [this one](https://github.com/kubernetes/kubernetes/blob/38540f17bb8ae610d14ae54aa4a93b3d8dd25dbc/pkg/controller/deployment/util/hash_test.go#L28).
[code]

[2017-01-28 20:32] colemickens commented on #40332
No. Not currently, other than building your own copy of `kubernetes` with @codablock's patch applied. I'm testing a more proper fix today or tomorrow - hope to have it in for 1.5.3.

[2017-01-28 20:57] pizzarabe opened #40653 "Slow network performance accessing Service with type=NodePort on some nodes"
**Is this a request for help?**
Yes, but I already asked the Slack and looked at https://github.com/kubernetes/kubernetes/wiki/Debugging-FAQ and https://kubernetes.io/docs/user-guide/debugging-services/, so this is (maybe?) a bug.

**Environment**

I have a 4 Node K8s Cluster running self hosted on a VMware Cluster.

- **OS** : Container Linux by CoreOS 1235.6.0 (Ladybug)

- **Kubernetes version**

[2017-01-28 21:16] whatdhack opened #40654 "Making kubernetes interface with contianerd"
As far as I understand kubernetes currently interfaces with docker daemon.   It would be good to have it interface with containerd  also .

[2017-01-28 21:24] pizzarabe commented on #40653
will close that, seems to be vmware related...

[2017-01-28 21:24] #40653 closed

[2017-01-28 23:03] vishh commented on #40573
@thockin

we need this?

Preemption to begin with will only work for "Critical" pods. Static pods being re-started unintentionally can result in disruption for regular pods since the node suddenly become overcommitted unintentionally.

to define anyway)

Startup order will not be an issue for with preemptions.

Not sure we need this

As mentioned above, if we want the system to be reliable even in

[2017-01-28 23:04] thockin commented on #17064
The balance to strike is that if enough people need something we should
find a proper way to express it.  This should really be for seldom-used
things where kubernetes is just "in the way", but making actual code
changes for those cases is not cool.  That's why I am hoping for something
really transparent.

On Sat, Jan 28, 2017 at 7:39 AM, Pavel Forkert <notifications@github.com>
wrote:

[2017-01-28 23:08] thockin commented on #40573
I'm not sure I follow.  If a static pod is marked critical, it should
be priority.  If it is not marked critical, it's considered for
admission like everything else, right?

Right, so we shoul dtake it off the plan?

Why is it incorrect?  Static pods are no more important than scheduled pods.

[2017-01-28 23:18] vishh commented on #40573
@davidopp @thockin I made some updates to the issue. PTAL. I hope the updates make it obvious why and when the changes mentioned above are necessary.

[2017-01-29 02:17] sethpollack commented on #33666
This is the commit, let me know what you think? https://github.com/sethpollack/kubernetes/commit/f62e1c60d3cf516459d390ce652562521131aef9

[2017-01-29 02:34] k82cn commented on #40639
Agree; how about an estimation of those manifest? As "big" image may give "incorrect" priority.

Admin should pre-pull necessary images if `never`; image locality did not guarantee the image.

[2017-01-29 02:37] harlowja commented on #24343
Something that might intrigue folks, because the openstack community has already worked through some of this and some of the follow [publications ](http://docs.openstack.org/infra/publications/) might be worthwhile to be looked over to see how another similar community manages this same problem.

* http://docs.openstack.org/infra/publications/ci-automation/
* http://docs.openstack.org/infra/public

[2017-01-29 04:23] apelisse commented on #38506
I think this is fixed by https://github.com/kubernetes/kubernetes.github.io/pull/1932

[2017-01-29 04:23] #38506 closed

[2017-01-29 06:20] copley commented on #23465
@broady Hey, how long does the Load Balancer take to fire up? Thanks in advance 👍

[2017-01-29 07:10] thockin commented on #24343
Playing with submodules, it looks like we CAN make it work, but there are
workflow changes.

We could do something like have a bunch of leaf repos which submodule
shared repos into vendor/, and an integration repo that submodules each of
the leaf repos.  It's possible then to build everything but manage them in
distinct repos.

It adds a git command on every new clone to init submodules.

If a rep

[2017-01-29 08:22] ApsOps commented on #40415
@kargakis Here are some logs from the controller manager.

The EBS attach errors are because of duplicate pods (due to duplicate replica-sets).

I'm also seeing lots of `Unable to get uid from job` errors. These jobs were created by `ScheduledJobs` in 1.4.7, which has been replaced with `CronJobs` in 1.5.x

[code]

[2017-01-29 08:25] k8s-merge-robot opened #40656 "ci-kubernetes-e2e-gce-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5/3663/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26509 #26834 #2

[2017-01-29 09:14] fgimenez commented on #39962
I'd like to work on this, @liggitt where should the tests be added? I see that there are some patch-related tests for the replicaset controller in https://github.com/kubernetes/kubernetes/blob/master/test/integration/replicaset/replicaset_test.go, and, according to http://submit-queue.k8s.io/#/info, the integration tests are run as part of the merge queue, is that correct?

Thanks!

[2017-01-29 10:03] krmayankk commented on #40258
@smarterclayton i am happy to fix this , can someone assign this to me ?

[2017-01-29 10:12] ash2k opened #40657 "Deep copy function for unstructured.Unstructured"
I'm writing a controller that needs to work with objects that have a field of `unstructured.Unstructured` type. It gets those objects from `cache.Store` and I need to make a copy of the object before modifications can be made so a deep copy function for `unstructured.Unstructured` would be very useful. Other deep copy functions I need already exist.

[2017-01-29 12:46] vielmetti commented on #40431
@umiddelb - I would run tests from https://github.com/dmcgowan/dsdbench and check the storage drivers if I were doing integration testing.

[2017-01-29 14:02] #39110 closed

[2017-01-29 14:09] vielmetti commented on #40431
The "unsupported graph driver" message is at https://github.com/kubernetes/kubernetes/blob/44f00e1019f3a4d667a5b2caa09b76ca19a6347b/test/e2e_node/system/docker_validator.go#L77-L85

Where is the list of supported graph drivers?

[2017-01-29 15:12] huang195 commented on #40520
I'm not sure we're talking about the same issue then as CPU spikes in my experiment certainly were a lot shorter than 12h/24h, and they were more on the order of 30 seconds to 1 minute range.

[2017-01-29 16:02] Grillz commented on #10439
While I don't think k8s should be dependent on Vault, I do think it should create a type `Key`. This type would be a pluggable interface into a variety of backends: Vault (transit), kms, etc.
[code]

Keys can then be linked to secrets:
[code]
A user would both need permissions to the secret and the key used to decrypt it.

Finally, a piece of logic would be needed for when a secret is acted upon t

[2017-01-29 16:30] kris-nova commented on #10439
@Grillz I think this is a good proposal.. For an initial design I think your `use` parameter does a good job at explaining the use case. But I imagine that will need to mature a little bit over time.. k8s is littered with caveats.

[2017-01-29 17:19] kargakis commented on #40520
@huang195 did you test on master?

[2017-01-29 17:51] kargakis commented on #40651
@kubernetes/sig-apps-feature-requests

[2017-01-29 18:14] k8s-merge-robot opened #40661 "ci-kubernetes-e2e-gce-latest-1.4-latest-1.5-cvm-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-latest-1.4-latest-1.5-cvm-kubectl-skew/3670/
Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should apply a new configuration to an existing RC {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27524 #32057

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod sho

[2017-01-29 19:02] huang195 commented on #40520
Yes, the cpu utilization of the controller manager on a master node periodically spikes every 30 secs or so, and when there are too many Deployments in the cluster, controller manager saturates the CPU on the master node.

[2017-01-29 19:02] smarterclayton commented on #40651
There is an issue to expose this downwards via the downward API from each pod.

[2017-01-29 19:14] kargakis commented on #40520
The 30s occurence seems like it's the relist of the controller which was
increased in https://github.com/kubernetes/kubernetes/pull/38080 and it
seems that it should be random between 12h and 24h (
https://github.com/kubernetes/kubernetes/blob/ae1c9a2b25ddc043b2b93d4ef11bacc02d4fd55f/cmd/kube-controller-manager/app/options/options.go#L144
)

On Sun, Jan 29, 2017 at 8:02 PM, Hai Huang <notification

[2017-01-29 19:14] smarterclayton commented on #39363
There's been some discussion that for a subset of apps the SS controller should be able to fill out gaps more quickly - to not wait for readiness to continue.  We'd need to clearly explain what the risks are for that:

1. If you must form an initial quorum, and someone rescaled you quickly, your app would need to either only join with pod-0, or ignore additional joiners until initial quorum is fil

[2017-01-29 19:18] smarterclayton commented on #39363
(Im repurposing this since in spirit both outcomes described are desirable)

[2017-01-29 19:28] mikedanese commented on #39816
@immesys what version are you running? This isn't in a release version yet.

[2017-01-29 19:34] xiang90 commented on #39816
@mikedanese #40497 "masks" the problem, not fixes it. We should close this issue when the fix lands.

[2017-01-29 19:35] immesys commented on #39816
I just installed with kubeadm two days ago. I believe is 1.5.2. I then tried using etcd-operator and it killed my master with out of disk space writing 300MB/s of  log from GC

[2017-01-29 19:39] mikedanese commented on #39816
@immesys a fix will be in the 1.5.3 release. It was just merged and hasn't had time to make it into a release.

@xiang90 Sure, not arguing that this issue should be closed. I do think #40497 is probably good enough for the 1.4, 1.5 branches.

[2017-01-29 19:46] liggitt commented on #39962
I think we'd want an e2e test that drives behavior externally on a normal cluster (by creating a replicaset, waiting to observe expected pods, modifies replicaset, waits to observe expected results, etc) . many of the integration tests tend to start up fake servers that don't share much in common with real deployments.

[2017-01-29 20:11] hongchaodeng commented on #39207
Closing this to merge discussion into https://github.com/kubernetes/kubernetes/issues/39363

[2017-01-29 20:11] #39207 closed

[2017-01-29 20:43] chrislovecnm commented on #34978
@zmerlynn my question is how we want to approach this.  The C* example is going to get some go code, and a new container.  Long term the plans are to move the examples out of core.  Do we have another issue open for this?  I would like to keep the image in gcr.io, because of the e2e testing.  We have cause a few Petset issues because of this example.  So here are my questions:

1. Do you want me t

[2017-01-29 20:56] chrislovecnm commented on #34978
@zmerlynn any way that I can relabel issues like these?  We have C* labels :)

[2017-01-29 21:07] fabiand commented on #38606
I've been giving it some more thoughts.

First, I'd like to differentiate between
1. raw block storage
2. delegation of the storage handling

Let's go into 1.

Raw block storage is probably a cluster resource which requires different permissions than usual volumes, the best way to achieve this - considering the current designs - is to create a separate resource i.e. RawVolume for it, which hen fit

[2017-01-29 21:39] philips commented on #35462
@jessfraz Got it. I have made major improvements to the security process doc. https://github.com/kubernetes/community/pull/126

Hoping to get this merged this week.

[2017-01-29 21:44] fgimenez commented on #39962
Ok thanks, on it.

[2017-01-29 23:15] brendandburns commented on #39908
fwiw, I'm seeing this repro 100% on my branch and on HEAD (e.g. it's not a flake, it's consistent)

[2017-01-29 23:29] deitch commented on #40651
I can see that. I still think a go-template syntax is cleaner, but however we get it exposed is good.

Is that issue open? Happy to close this one and follow that one if it is.

[2017-01-29 23:36] CallMeRoot commented on #35718
Hey there,
the NFS Mount still seams unable to resolve service host names (service.namespace) on GCE.
Is this issue fixed and merged or does it still take some time for it to be fixed on GCE?

[code]

The DNS seems to work properly as running containers are able to resolve the name. Also using the IP works as well but is no solution.

[2017-01-29 23:45] brendandburns commented on #39908
I take it back, lucky 3 in a row, it's flaky on my branch too...

[2017-01-30 02:54] caesarxuchao commented on #39816
I'll do it after the refactor of GC, #38679, lands.

#38679 makes gc use the rate limited workqueue, so it will prevents the hotloop.

Currently it's the latter. I prefer the latter because it is safer. For example, during a cluster upgrades, if the APIVersion of replication controllers bumps from "v1" to "v2", and assuming all the pods' ownerRefs still have "v1", if GC treats those refs as if the

[2017-01-30 03:14] liggitt commented on #39816
Does GC only treat the preferred version as a legitimate ownerRef, or all known versions, or was that just an example?

[2017-01-30 03:17] liggitt commented on #39816
I guess there is a third option as well, treat unresolveable ownerRefs as though they perpetually exist (which is different from ignoring them).

[2017-01-30 03:17] smarterclayton commented on #40651
Original issue: https://github.com/kubernetes/kubernetes/pull/30860

Proposal to expose annotations:
https://github.com/kubernetes/community/pull/147

Any dynamic values on pods must be exposed via the downward API (nothing
prevents you from using Helm to do it on creation, but the API and clients
need explicit fields to tell them what to do unambiguously).

On Sun, Jan 29, 2017 at 6:29 PM, Avi De

[2017-01-30 03:51] caesarxuchao commented on #39816
All known versions. What I mean in the example is that assuming v1/replicatoncontroller is not supported by the API server anymore.

[2017-01-30 03:57] caesarxuchao commented on #39816
Actually this is the current case. GC doesn't delete an object with unresolvable ownerRef. I edited my previous comment.

[2017-01-30 05:10] csarora commented on #40306
any update or workaround to get around this volume issue?

[2017-01-30 06:29] ApsOps commented on #26309
Hey @thockin, any ideas about this?

[2017-01-30 06:32] #40560 closed

[2017-01-30 07:53] #38545 closed

[2017-01-30 07:54] #20456 closed

[2017-01-30 07:59] fejta commented on #35707
This should be pretty trivial these days:

[code]

More specifically find how the job is defined: https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins-pull/bootstrap-pull.yaml#L51 and then run the same bootstrap.py command.

When bootstrap.py accepts the --json flag, the scenario is defined here: https://github.com/kubernetes/test-infra/blob/master/jobs/confi

[2017-01-30 07:59] #35707 closed

[2017-01-30 07:59] #35201 closed

[2017-01-30 08:00] #37993 closed

[2017-01-30 08:00] #38019 closed

[2017-01-30 08:00] #38021 closed

[2017-01-30 08:00] #38039 closed

[2017-01-30 08:00] #38063 closed

[2017-01-30 08:00] #38077 closed

[2017-01-30 08:00] #38096 closed

[2017-01-30 08:00] #38469 closed

[2017-01-30 08:00] #38476 closed

[2017-01-30 08:00] #38486 closed

[2017-01-30 08:00] #38488 closed

[2017-01-30 08:00] #38860 closed

[2017-01-30 08:00] #39211 closed

[2017-01-30 08:00] #39233 closed

[2017-01-30 08:00] #39458 closed

[2017-01-30 08:00] #40127 closed

[2017-01-30 08:00] #40223 closed

[2017-01-30 08:00] #40272 closed

[2017-01-30 08:00] #40656 closed

[2017-01-30 08:00] #40661 closed

[2017-01-30 08:00] #38548 closed

[2017-01-30 08:01] #39868 closed

[2017-01-30 08:01] #40282 closed

[2017-01-30 08:02] #39931 closed

[2017-01-30 08:02] fejta commented on #38663
@rmmh LOL

[2017-01-30 08:02] #38663 closed

[2017-01-30 08:02] #40203 closed

[2017-01-30 08:05] k8s-merge-robot opened #40668 "Test {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gke-test/1063/
Failed: Test {e2e.go}

[code]

Previous issues for this test: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483

[2017-01-30 08:07] thockin commented on #26309
What network tech is this using?  Underlay?  GCE?  Flannel?  Weave? Something else?
@bowei

[2017-01-30 08:12] codablock opened #40669 "Reliably determine when attaching volumes to multiple nodes is supported/allowed"
This is a reminder that we may have to investigate further after https://github.com/kubernetes/kubernetes/pull/40148, especially the discussing in https://github.com/kubernetes/kubernetes/pull/40148#pullrequestreview-18685838.

We agreed on implementing a function that checks if multi-attach is definitely not supported or forbidden.
Currently it only checks if it's an Azure disk or a persistent vo

[2017-01-30 08:22] ApsOps commented on #26309
I'm hitting this - using flannel.
On Mon, 30 Jan 2017 at 1:37 PM, Tim Hockin <notifications@github.com> wrote:

[2017-01-30 08:40] kargakis commented on #39908
@mfojtik I can't make this test fail on two different machines, can you ptal?

[2017-01-30 08:44] shyamjvs commented on #40139
@wojtek-t Sorry I could not look into this issue before. I agree with you that it'll make our scripts more robust. In fact we should have a separate umbrella issue for adding retrying to all our cluster/* scripts as this has to be done in at least the following places:
- cluster/(validate-cluster.sh,kube-util.sh,log-dump.sh)
- cluster/gce/(util.sh,list-resources.sh)
- cluster/gke (maybe?)

Also we

[2017-01-30 08:59] shyamjvs opened #40670 "Kubemark-scale continuously failing"
kubemark-gce-scale test is failing for quite some runs now, mostly due to density and load test unable to handle scale. Here's what happens:

[code]

[code]

cc @kubernetes/sig-scalability-misc @wojtek-t @gmarek

[2017-01-30 09:12] wojtek-t commented on #40670
This is a known issue. And we understand it.

[2017-01-30 09:15] #40670 closed

[2017-01-30 09:20] shyamjvs commented on #40670
I'm sorry. I wrongly interpreted this [comment](https://github.com/kubernetes/kubernetes/issues/39245#issuecomment-274415979) about starting a new issue:)

[2017-01-30 09:20] shyamjvs commented on #39245
@wojtek-t Sorry for delay in response. Seems like these issues have been resolved with the revert of refactor commit.

[2017-01-30 09:57] mfojtik commented on #39908
@kargakis can't make it fail neither on OSX and in centos VM.

[2017-01-30 09:57] k8s-merge-robot opened #40671 "ci-kubernetes-e2e-gce-alpha-features-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-alpha-features-release-1.5/3101/
Multiple broken tests:

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should handle updates to source ip annotation [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #35225 #35347 #37964

Failed: [k8s.io

[2017-01-30 10:10] mfojtik commented on #39908
@kargakis for me it was go 1.7.4 on both machines.

[2017-01-30 10:20] tommyulfsparre commented on #29166
@jingxu97 I also have a GKE cluster that has the same issue:
Version:
[code]

kubelet log:
[code]

The PD is attached to the node and I can manually mount and write to it.

[2017-01-30 10:22] ApsOps commented on #26309
Interesting observation testing locally with minikube.

I have an nginx pod with an endpoint with `proxy_pass` to another pod (via `service_name.default.svc.cluster.local`). There is a single kube-dns pod.

I access nginx endpoint - it works fine.

Now, if I delete the dns pod and wait for the new dns pod to be `Ready`, and then access the nginx endpoint again - it works!

But, if I delete the dns

[2017-01-30 10:29] k8s-merge-robot opened #40672 "ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master/218/
Multiple broken tests:

Failed: [k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}

[code]
Issues about this test specifically: #31502 #32947 #38646

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]

[2017-01-30 10:30] caesarxuchao commented on #38897
It looks like the API doc marks the default value of every boolean variable to be false, and boolean is the only type that has a default value. We should remove the "default" column. @pwittrock is default values fixed in the new versions of API docs?

"correct" documentation on GC:
In the [GC user-guide](https://kubernetes.io/docs/user-guide/garbage-collection/): "If you specify deleteOptions.orph

[2017-01-30 10:55] k8s-merge-robot opened #40675 "ci-kubernetes-soak-gci-gce-1.5-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-1.5-test/268/
Multiple broken tests:

Failed: [k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster. {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29647 #35627 #38293

Failed: Test {e2e.go}

[code]
Issues about this test speci

[2017-01-30 11:13] jsravn commented on #40615
@ncdc Yep that's it. It seems when securityContext is specified without listing privileged, it isn't set correctly to its default of false.

e.g. the pod yaml has:

[code]

Explicitly adding `privileged: false` allows exec to succeed.

[2017-01-30 11:23] jakexks commented on #39812
@piosz There's nothing in the kubelet summary either:

[code]

(There are many pods running on the node)

[2017-01-30 11:24] kargakis commented on #40580
@kubernetes/sig-node-bugs who is the right owner for this test? Mind taking it over and updating the test owners file?

[2017-01-30 11:25] soltysh commented on #40422
I'm leaning towards automated process, I don't have any details figured out, will keep you posted.

[2017-01-30 11:28] kargakis commented on #40304
@caarlos0 one suggestion for now - since it's hard to act on perma-failed errors eg. somebody may not care about ImagePullBackOff and expects the image to land at some point in the future - if you are going to scale down manually first make sure that your Deployment is healthy. In this case you should rollback `kubectl rollout undo` before scaling down. Eventually, we should make sure that scaling

[2017-01-30 11:30] kargakis commented on #39666
@soltysh this doesn't seem like an issue in master - mind closing?

[2017-01-30 11:39] k8s-merge-robot opened #40676 "ci-kubernetes-e2e-gci-gke-staging: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging/282/
Multiple broken tests:

Failed: [k8s.io] Stateful Set recreate should recreate evicted statefulset {Kubernetes e2e suite}

[code]

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality Scaling down before scale up is finished should wait until current pod will be running and read

[2017-01-30 12:16] soltysh commented on #40433
This is dupe of #39666. Closing in favor of the other one.

[2017-01-30 12:16] #40433 closed

[2017-01-30 12:51] kad commented on #37448
this can be closed now, as solution implemented in #39981
Thanks @fraenkel !

[2017-01-30 12:51] #37448 closed

[2017-01-30 13:06] pires commented on #40431
@vielmetti see official Docker documentation at https://docs.docker.com/engine/userguide/storagedriver/selectadriver/#/overlay-vs-overlay2.

[2017-01-30 13:09] kargakis commented on #28322
Grouping of imports should be documented as well. I think in most places we use the follow convention:
[code]

[2017-01-30 13:10] soltysh commented on #39666
It is master, I'm hitting this every time I try, besides from the dupe it looks like @liggitt has exactly the same problem.

[2017-01-30 13:12] kargakis commented on #39666
Can you guys sync about what you hit in the controller manager? Yours was a
storage error if I am not mistaken.

On Mon, Jan 30, 2017 at 2:11 PM, Maciej Szulik <notifications@github.com>
wrote:

[2017-01-30 13:22] k8s-merge-robot opened #40679 "ci-kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-master/238/
Multiple broken tests:

Failed: [k8s.io] Pods should invoke init containers on a RestartAlways pod {Kubernetes e2e suite}

[code]

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483 #40668

Failed: [k8s.io

[2017-01-30 13:39] deitch commented on #40651
So it would look something like?

[code]

or something like that?

I notice that the issue is set to close automatically due to inactivity on 24 Feb, and that it still talks about PetSets?

[2017-01-30 13:48] luxas commented on #32536
ping @dchen1107 @vishh @yujuhong
Can we add overlay2 as a "supported" (aka validated) storage driver to the system verification check?

Or have you found any serious problems with it?

[2017-01-30 13:50] k8s-merge-robot opened #40680 "ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master/227/
Multiple broken tests:

Failed: [k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster. {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29647 #35627 #38293

Failed: [k8s.io] Addon update should propagate ad

[2017-01-30 14:03] luxas commented on #40431
x-ref: https://github.com/kubernetes/kubernetes/issues/32536

[2017-01-30 14:27] k8s-merge-robot opened #40681 "ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster/209/
Multiple broken tests:

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28773 #29506 #30699 #32734 #34585 #38391

Failed: [k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case th

[2017-01-30 14:44] pires commented on #32536
FYI, `overlay2` is only recommended for Docker users with at least a 4.0 kernel and no existing or required overlay graph data.

[2017-01-30 14:54] umiddelb commented on #40431
@vielmetti

Apparently, the tests doesn't refer to Kubernetes.  I suppose the Docker people should have run these tests (or something similar) before releasing v1.13.

[2017-01-30 15:05] djsly opened #40684 "Azure Update Domain ID visible as k8s node labels"
**FEATURE REQUEST**

Description:

When provisioning k8s nodes in Azure using the `--cloud-provider` flag, we seem to be getting the following labels
[code]
We would also need to have the `update-domain` label to allow a better node selection at the application layer. Since the Availability Set covers all of the k8s nodes (or a subset based on hardware differences) the scheduler could in theory sc

[2017-01-30 15:10] djsly opened #40686 "Azure VM's Tags should be synch as k8s node labels"
**FEATURE REQUEST**

Description:

When provisioning k8s nodes in Azure using the --cloud-provider flag, we seem to be getting the following labels

[code]

Since Azure has its own labeling concept at the VM level, called TAGS. It would make sense to have those visible as k8s node labels as well. This would allow the different application to properly use the Azure Tags defined by the Cluster Admin

[2017-01-30 15:19] smarterclayton commented on #40615
Ah, this was caused by the kubelet using versioned APIs - @caesarxuchao for his awareness.  Basically any code that depends on nil pointers being set is vulnerable.

[2017-01-30 15:21] wojtek-t commented on #40110
@mml - I think there is still one flag fix in the "migration" script that you found but didn't create a PR for. Maybe this is also reason of this failure?

Can you please finish the loop and finally create that PR so that we can have the script in head updated?

[2017-01-30 15:44] k8s-merge-robot opened #40687 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability/897/
Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236 #27920 #28492 #29970 #30075 #32980 #33313 #33380 #35444 #37814 #38204 #38860 #39786 #40477

[2017-01-30 16:20] equinox0815 commented on #28851
FYI: i just successfully tested td-agent3 (fluentd 0.14.11) together with uken/fluent-plugin-elasticsearch#223 and it works as expected. I don't know if it is a good idea to have this running inside a production-ish environment but for now it looks good.
Also it is worth mentioning that due to elastic/elasticsearch#10005 we don't get nanosecond resolution but having milliseconds is already a great

[2017-01-30 16:52] randunel commented on #24920
You wouldn't be able to use any network policies ok GKE, but someone is "looking at" that https://groups.google.com/d/topic/kubernetes-users/U-2IzS3Awew/discussion

-----

Regarding GCE, here's an excerpt from the [docs](https://kubernetes.io/docs/user-guide/networkpolicies/):

[2017-01-30 17:46] kerneltime opened #40697 "cri node e2e test failing"
For the PR https://github.com/kubernetes/kubernetes/pull/40694 which is a cherry pick the Jenkins CRI GCE Node e2e	test is failing.

[code]

[2017-01-30 17:48] janetkuo commented on #40496
I see. In this case, `kubectl rollout status` doesn't behave the same as deployment conditions. Should `kubectl rollout status` exit 0 as soon as min available is reached?

[2017-01-30 17:49] erictune commented on #39363
@kow3ns

[2017-01-30 17:55] kargakis commented on #40496
Yes, I think `kubectl rollout status` should exit based on the strategy parameters. If I don't require any pod as available, the command should exit as soon as my desired num of pods is up

@kubernetes/sig-apps-misc any thoughts? This seems like a bug in `rollout status`.

[2017-01-30 17:55] smarterclayton commented on #39363
Relevant to https://github.com/kubernetes/kubernetes/issues/38418 - same problem as I described above in a different form.

[2017-01-30 17:57] jessfraz commented on #28322
maybe we could get some members of the go team involved as well
I know some of them are working on an all around Go community style/readability guide

cc @bradfitz @rakyll :innocent:

[2017-01-30 18:03] liggitt commented on #40639
Image locality comes with a lot of caveats, so these cases don't bother me:
* steer toward a node that had a version of an image over one that didn't (worst case, the node has to re-pull and it is no worse than the node that didn't have the image)
* steer toward a node that had a bigger version of an image over one that has a smaller one (worst case, the node with the bigger image is out of date a

[2017-01-30 18:21] bprashanth commented on #39712
Updates to kube-system are effectively useless, since it's managed by the system, they're always (or should always be) overwritten. Why allow them at all?

[2017-01-30 18:23] liggitt commented on #39712
the system manages them via the API, which requires allowing updates via the API

[2017-01-30 18:25] bprashanth commented on #39712
Oh of course, that's why I suggested rejecting only user updates (maybe via RBAC)

[2017-01-30 18:26] liggitt commented on #39712
I think that's largely accomplished with the default RBAC policy.

[2017-01-30 18:30] edevil commented on #14512
Yeah, init containers per-deployment would be a good option as well.

[2017-01-30 18:47] huang195 commented on #40520
Is there a good way to check if #38080 is included in the v1.5.1 release?

[2017-01-30 19:00] madhusudancs commented on #40306
@saad-ali is there some other log that @csarora can look into to debug this?

[2017-01-30 19:04] ahakanbaba commented on #40545
Thanks for the response.

[2017-01-30 19:07] xsgordon commented on #36992
Looks like this should be resolved by https://github.com/kubernetes/kubernetes/pull/40339 which corrects the Heat templates?

[2017-01-30 19:20] jingxu97 commented on #29166
@tommyulfsparre , the error message is very generic. In order to check your situation, could you please share your kubelet log and maybe also kube-controller-manager log during the error time. Thanks!

[2017-01-30 19:21] quinton-hoole commented on #39908
This is also happening on #39957

[2017-01-30 19:24] quinton-hoole commented on #39908
Aah, never mind, I see that #40673 fixes it.  Thanks @kargakis !

[2017-01-30 19:24] #39908 closed

[2017-01-30 19:34] geekofalltrades commented on #35565
@liggitt, I've been thinking about sharing Kubernetes' etcd cluster with a Canal overlay network, which needs its own etcd cluster. It makes sense to me to host both in one etcd cluster, as they're both core components of my Kubernetes cluster.

However, in order to do this, I would need to open up access to the etcd cluster from every node in the Kubernetes cluster, whereas otherwise only the Kub

[2017-01-30 19:52] zmerlynn commented on #30312
This has the similar cause as https://github.com/kubernetes/kops/issues/774 - HPA is broken because `kops` doesn't start Heapster by default (it's a non-required add-on).

[2017-01-30 19:55] huang195 commented on #40520
It looks like this is not part of 1.5.1 as that was created on Dec 12, 2016, and this PR was merged on Dec 19. Will have to test out if the problem I'm seeing with deployments still exist in a later release.

[2017-01-30 20:07] saad-ali commented on #40090
Makes perfect sense. @ixdy can you cherry pick https://github.com/kubernetes/kubernetes/pull/38520 to the `release-1.5` branch? If not, I'll do it.

[2017-01-30 20:18] k8s-merge-robot opened #40704 "ci-kubernetes-e2e-gci-gke-prod-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-parallel/4540/
Multiple broken tests:

Failed: [k8s.io] Services should create endpoints for unready pods {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26172 #40644

Failed: [k8s.io] Kubernetes Dashboard should check that the kubernetes-dashboard instance is alive {Kubernetes e2e

[2017-01-30 20:19] madhusudancs opened #40705 "Setup the infrastructure for integration tests in federation."
Unit tests cannot cover the entire breadth and depth of a feature and hence give limited signals about certain features. While end-to-end tests can test features as a whole, they are both expensive to write and debug and expensive to run them in CI.

Integration tests help us strike a balance between these two types of tests in many cases. The reason why we haven't written integration tests in fed

[2017-01-30 20:19] Sanjary commented on #39159
@sbezverk Hey Hi, can you express a bit more on how you overcame the issue, I'm facing the exact same issue with openshift origin v1.4.1+3f9807a which comes with kubernetes v1.4.0+776c994.
After logging in to my iscsi target, I have an active session on my host, then, I formatted the device /dev/sdb (as it was assigned) with mkfs.xfs -f, then I deployed a pv, a pvc and a pod that uses it on the sa

[2017-01-30 20:25] k8s-merge-robot opened #40706 "ci-kubernetes-e2e-gke-staging-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-parallel/4482/
Multiple broken tests:

Failed: [k8s.io] Services should create endpoints for unready pods {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26172 #40644

Failed: [k8s.io] Services should be able to create a functioning NodePort service {Kubernetes e2e suite}

[code]
Iss

[2017-01-30 20:54] calebamiles commented on #38542
@k82cn, any updates on a PR to address this issue? Is anyone from @kubernetes/sig-api-machinery-misc able to pick this issue up otherwise?

[2017-01-30 20:55] kim0 opened #40708 "Azure disk failing to mount after 24 hours"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
Azure disk mount
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

[2017-01-30 20:55] madhusudancs commented on #39453
@nikhiljindal can we close this?

[2017-01-30 21:05] madhusudancs commented on #40616
Assuming by "latter" you mean disabling federated services via feature gates, feature gates is going to happen whether we want it for this particular case or not. It is a v1.6 release blocker. We barely dodged that bullet in v1.5. So developers might as well use this for their dev scenarios.

I agree. However, it need not necessarily be through yet another flag to `--dns-provider=none`. But some e

[2017-01-30 21:18] calebamiles commented on #40708
Could someone from @kubernetes/sig-storage-bugs or @kubernetes/sig-api-machinery-misc please help with triage. Thanks!

[2017-01-30 21:20] calebamiles commented on #40697
Could someone from @kubernetes/sig-node-bugs help with triage? Thanks!

[2017-01-30 21:59] yujuhong commented on #40697
CRI didn't exist in the 1.4 branch. We should disable it.

[2017-01-30 22:06] illera88 commented on #37922
same issue!

[2017-01-30 22:13] cmluciano commented on #40349
similar to https://github.com/kubernetes/kubernetes/issues/40182

[2017-01-30 22:30] marun commented on #40398
@madhusudancs Would it make sense to take this opportunity to move away from flags and start using ComponentConfig instead?  This approach is being proposed for components like the kubelet, and as per some of the discussion on #29459 there are some advantages that may be worth considering. Some advantages of ComponentConfig include:

 - typing and versioning (vs flags which are neither)
 - enables

[2017-01-30 22:42] pwittrock commented on #38897
The new API docs don't have a default value in the documentation.  I think this was because I noticed the information was missing / incorrect.

https://kubernetes.io/docs/resources-reference/v1.5/#deleteoptions-v1

I don't see the default value for orphanDependents in the swagger:

https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json

A simple fix for the ne

[2017-01-30 22:55] nikhiljindal commented on #40568
Updated #40576 to remove the wait (GET) at the end so it no longer fixes this issue.
Sent https://github.com/kubernetes/kubernetes/pull/40714 to update the test to include a wait which fixes this issue.

[2017-01-30 22:58] jessfraz commented on #35462
So also along with the CI stuff if we want the bots on that repo we need to
add seats for them, we probably just need the k8s-ci-bot to start and we
can merge manually if all tests pass and skip the merge-bot
And then we might need a couple seats for engprod to help as well

On Sun, Jan 29, 2017 at 1:40 PM Brandon Philips <notifications@github.com>
wrote:

[2017-01-30 23:01] nikhiljindal commented on #40521
https://github.com/kubernetes/kubernetes/issues/40568 discusses the problem and the fix.
Closing this in favor of that.

[2017-01-30 23:01] #40521 closed

[2017-01-30 23:04] rootfs commented on #40708
@calebamiles can you share `kubectl describe pvc es-persistent-storage-elasticsearch-logging-1` and if possible, controller and kubelet logs?

[2017-01-30 23:15] bowei commented on #32480
Is your API server located on 10.3.0.1 with TLS enabled? Can you give the IPs and cluster setup (are you using a networking overlay etc). BTW -- it would be more readable if you wrap your copied text with triple backquote (e.g. \`\`\` text... \`\`\`) so they are displayed in monospace.

[2017-01-30 23:17] calebamiles commented on #40657
Could someone from @kubernetes/sig-api-machinery-misc help routing this feature request to an appropriate SIG? @ash2k, have you discussed your request with any [Kubernetes SIGs](https://github.com/kubernetes/community/blob/master/README.md#special-interest-groups-sig)? I'm guessing that [API Machinery](https://github.com/kubernetes/community/blob/master/sig-api-machinery/README.md) might be the ri

[2017-01-30 23:18] vito21 commented on #32480
Here are my setup, which i get kube-dns working.

- first created a configmap like:

<pre>
apiVersion: v1
data:
  config.test: |
    apiVersion: v1
    clusters:
    - cluster:
        certificate-authority: /etc/kubernetes/ssl/ca.pem
        server: https://10.2.0.1
      name: default-cluster
    contexts:
    - context:
        cluster: default-cluster
        user: default-admin
      name: de

[2017-01-30 23:23] calebamiles commented on #40654
Hello @whatdhack! There is a containerd presentation scheduled for the SIG Node meeting [on 31 January 2017](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#heading=h.fvqk1u6udxl7) at 10am PST. Any containerd integration would likely be developed with the aid of developers in [SIG Node](https://github.com/kubernetes/community/blob/master/sig-node/README.md). Pl

[2017-01-30 23:23] #40654 closed

[2017-01-30 23:37] kim0 commented on #40708
@rootfs .. I suppose the above is actually directed at me :) HYG

kubectl describe pvc es-persistent-storage-elasticsearch-logging-1
[code]

Log files can be had from here:
https://dl.dropboxusercontent.com/u/51939288/journalctl_-u_kubelet.log.xz
https://dl.dropboxusercontent.com/u/51939288/kube-controller-manager-k8s-master-268db7a4-0.log.xz

[2017-01-30 23:42] calebamiles commented on #40652
Hello @whatdhack, thanks for opening this issue. The [Container Runtime Interface](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/container-runtime-interface-v1.md) currently under active development is designed to support backends that support a variety of isolation mechanisms from Linux containers to KVM virtual machines. Efforts to change the semantics of a po

[2017-01-30 23:44] madhusudancs commented on #40398
@marun ComponentConfig is valuable and is the way to go in medium-to-long term. There are other challenges that come with it, particularly around dealing with dynamic updates. Nobody has committed to getting it done anytime soon, but we need something working soon. And passthrough is not a bad short-to-medium term solution until ComponentConfig materializes.

[2017-01-30 23:46] calebamiles commented on #40649
Could someone from @kubernetes/sig-api-machinery-misc or @kubernetes/sig-node-bugs help triage? Thanks!

[2017-01-30 23:46] ash2k opened #40715 "Finalizers do nothing for TPR instances"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
minikube version: v0.15.0
- **OS** (e.g. from /etc/os-release):
macOS 10.12.3
- **Kernel** (e.g. `uname -a`):
Darwin CLI-1831 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64

**What happened**:
Instance of a TPR is de

[2017-01-30 23:47] whatdhack commented on #40654
That is great.  Thanks. What is the definite source for date , time , and connection for SIG Node Meeting ? The  Sig-Node Weekly Meeting Notes ( https://plus.google.com/hangouts/_/google.com/sig-node-meetup ) ?

[2017-01-30 23:56] NickClark commented on #23130
Issue here as well. Mac is notorious for tools like `dig` and `nslookup` not using the Mac resolver. In my case, I have a custom entry under `/etc/resolver/`, but either way, `kubectl` needs to resolve DNS using the Mac stack. (interestingly enough, `ping` has always respected it)

[2017-01-31 00:00] saad-ali commented on #40306
The `controller-manager` log would be the most interesting one.

Given this error:

[code]

And @csarora's statement that the master running the attach/detach controller (10.43.0.20) should be able to see and attach to volumes to that node (10.43.0.30):

[code]

I think we need someone from sig-aws to help investigate why the attach call would fail like this. @justinsb @jingxu97 @chrislovecnm can

[2017-01-31 00:18] calebamiles commented on #40652
You may want to also poll for thoughts by posting a question on [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes) but basically filing feature request issues against the repository is unlikely to see active response given the nearly 5,000 issues already open against `kubernetes/kubernetes`. The community is actively trying to improve things and we're happy to help you connect

[2017-01-31 00:27] calebamiles commented on #40635
Is there someone from @kubernetes/sig-cli-bugs that can help triage this issue and own it? Thanks!

**cc: @mikedanese, @errordeveloper, @lukemarsden**

[2017-01-31 00:31] calebamiles commented on #40632
Likely a problem with the container runtime but if someone from @kubernetes/sig-node-bugs could take a look that would be awesome. It would also be great to close this issue if there are no changes to make in tree. Thanks!

[2017-01-31 00:39] bgrant0607 commented on #40652
@whatdhack When you do ask for help/opinions, please explain more about what problem you are trying to solve.

[2017-01-31 00:39] #40652 closed

[2017-01-31 00:42] calebamiles commented on #40631
@kubernetes/sig-storage-bugs you might want to help triage this issue. Thanks!

[2017-01-31 00:44] ymqytw commented on #39900
@ahakanbaba I have a PR #40666 for TPR. I think it will make apply works with TPR.
Because it is based on #40260, #40666 may not be back ported to 1.4 and 1.5. Are you OK?

[2017-01-31 00:45] k82cn commented on #38542
@calebamiles , here's the latest status: there's is a PR to generate `DecodeNestedObjects` for each Object (https://github.com/kubernetes/gengo/pull/38), it works for Object (Pod, Job) now but List; I'm working to make it generating `DecodeNestedObjects` for List.

[2017-01-31 00:49] yujuhong opened #40717 "Find docker pid correctly for all compatible docker versions"
Forked from #39667

In some settings, kubelet gets the pid of docker and make sure it's moved to the right cgroup. From docker 1.12+, the process name changed from `docker` to `dockerd`. We should be able to handle both names since kubernetes supports docker 1.10-1.12.

/cc @kubernetes/sig-node-bugs

[2017-01-31 01:17] nikhiljindal commented on #40398
Even with `ComponentConfig`, we need to figure out how can a user edit `federation-apiserver` flags while bringing it up with `kubefed init`. User needs to pass the flags to kubefed to be able to modify the `ComponentConfig` that `kubefed` creates.

So we can move to ComponentConfig later while retaining the mechanism we come up here of users passing flags to kubefed?

[2017-01-31 01:28] nikhiljindal commented on #39453
Yes thanks for the detailed reply!
The point that kubefed uses the images with version of kubefed was not clear to me by reading the kubefed docs. Thanks for explaining it to me.

[2017-01-31 01:28] #39453 closed

[2017-01-31 01:32] smarterclayton commented on #38542
Why would you need List to work?  No client side logic should be decoding lists except as a generic submission.

[2017-01-31 01:36] calebamiles commented on #40555
@justinsb, do you think you could find someone from SIG AWS to help triage this issue? There doesn't seem to be a GitHub team for the SIG so I'm sorry for pinging you directly.

**cc: @chrislovecnm**

[2017-01-31 01:43] Random-Liu commented on #32536
We don't have test coverage on overlay2 yet, nobody has validated it.
We can't just add overlay2 to `DefaultSysSpec` until we've properly validated it.

To validate overlay2, we should build a node image with overlay2 and run node e2e test against it. If there is anyone would like to help, that's super appreciated!

[2017-01-31 01:49] k82cn commented on #38542
The List tests are failed in `pkg/api/serialization_test.go`.

[2017-01-31 02:06] evaldasou commented on #33483
no updates on this one?

[2017-01-31 02:07] dchen1107 commented on #32536
Besides what @pires and @Random-Liu mentioned above, we also need to change cAdvisor to support overlay2. The change should be minimal, but it still requires some work.

[2017-01-31 02:09] micmro commented on #40367
There seem to be some issue in the setup on the master instance. Can you check the logs on this instance for error (or upload them here for triaging).

One issue with this symptoms I had seen was, that the master can't access the setup files (`kubernetes-server.tar.gz` and `kubernetes-salt.tar.gz`) on swift.

[2017-01-31 03:20] thockin commented on #33483
We're working on a couple of things that need to be done before this can
really be done, and working through the limitations.

On Mon, Jan 30, 2017 at 6:07 PM, Evaldas <notifications@github.com> wrote:

[2017-01-31 03:22] thockin commented on #40570
Kubernetes proper is probably not going to have a blob API.  This is something that can be implemented purely on the published primitives.

@calebamiles has a great idea - you should broach this with @kubernetes/sig-storage-feature-requests

[2017-01-31 03:22] #40570 closed

[2017-01-31 04:50] snarlysodboxer commented on #26309
JFYI, I'm running up against this exact problem, running k8s 1.5.2, via kops 1.5.X on AWS. I'm using kubenet.

[2017-01-31 04:59] #40615 closed

[2017-01-31 05:27] micmro opened #40721 "openstack-heat: salt-minion errors because it is started as daemon"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
`openstack`, `Error while bringing up minion` and a few others

**Is this a BUG REPOR

[2017-01-31 05:44] micmro commented on #40721
I'll create a separate PR for the docs if this is correct and #40721 is merged, to reflect that _openstack-heat_ is stand-alone as well.

[2017-01-31 05:51] justinsb commented on #40306
This happens if your cluster is not set up correctly.

Please note that kubeadm does not support cloudproviders - I highly recommend using kops instead :-)

[2017-01-31 06:32] k8s-merge-robot opened #40723 "ci-kubernetes-e2e-gke-large-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/53/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483 #40668

Failed: [k8s.io] ReplicationController should serve a basic image on each replica with a private image {Kubernetes e2e suite}

[code]
Issues

[2017-01-31 06:34] #40633 closed

[2017-01-31 06:43] frankgreco opened #40724 "kubedns not using Authorization header in all requests to the API server"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Kubernetes version** (use `kubectl version`):
v1.5.1

**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): CentOS Linux
- **Kernel** (e.g. `uname -a`): 3.10.0-327.36.3.el7.x86_64
- **Install tools**: from scratch

**What happened**:
One of the things that the `kubedns` containe

[2017-01-31 08:49] kargakis commented on #40520
So you haven't tested from master :) 1.6.0-alpha.1 is out - give it a shot: https://github.com/kubernetes/kubernetes/releases/tag/v1.6.0-alpha.1

[2017-01-31 09:05] kargakis commented on #39908
@quinton-hoole I have seen tests fail **after** fixes have merged before - if this reoccurs we can leave the issue open but I think it should be fixed by now and these flakes will disappear at some point.

[2017-01-31 09:11] kargakis commented on #14512
Agreed. FWIW, the way we ensure rollbacks are re-entrant for Deployments is having an API field that when populated, the controller will remove and update the pod template to the specified version in one atomic call.

[2017-01-31 09:16] #36988 closed

[2017-01-31 09:28] wojtek-t commented on #40110
I'm reopening for verifying if the problem is fixed.

[2017-01-31 10:11] peteyy commented on #37393
I'm running on the current latest `1.5.2` and `apps/v1beta1` is not available for StatefulSets

`kubectl api-versions`

- autoscaling/v1
- batch/v1
- extensions/v1beta1
- storage.k8s.io/v1beta1
- v1

Am I missing something?

[2017-01-31 10:11] Mattchewone commented on #38176
I am having the same problem, once the initial master is deleted the sentinels cannot connect to the master and do not elect a new master for some reason.

Did you manage to solve the issue @modor ?

[2017-01-31 10:14] humblec opened #40728 "Storage class deletion should fail if there are active claims."
At present, the storage class can be deleted even when there are active claims from the subjected storage class.  I would like to seek your opinion on is wherther this a bug or expected/desired result?

[code]

[2017-01-31 10:23] robhaswell commented on #17088
@paralin I believe I am the same as @gramic in that I do not understand how to achieve my goal. Please let me explain. I am trying to implement the blue/green deployment pattern using "blue" and "green" as my namespaces - each namespace hosts my application stack at different versions. My desire is to have a single Ingress resource routing traffic for https://myapp/ to, e.g. the blue namespace, an

[2017-01-31 11:31] jsravn commented on #38456
Nginx doesn't do connection draining, neither do most open source web frameworks. Instead they finish processing any in-flight requests, possibly return 503s for a short time, then terminate. In this case, it's very likely for high load servers to then send tcp resets to clients (which btw, is perfectly okay according to http rfc - but in practice, is not okay). The way many people solve this is b

[2017-01-31 11:32] sttts commented on #40657
@ash2k please check my branch. Is it what you need?

[2017-01-31 12:02] jsravn commented on #33491
How does https://github.com/kubernetes/kubernetes/pull/35235 affect this? Since the pod is no longer force deleted, the EBS will not be detached correct? In which case, we can close this issue.

[2017-01-31 12:19] #40332 closed

[2017-01-31 12:26] irfanurrehman commented on #40398
@nikhiljindal @madhusudancs
I am planning to implement this using flags --apiserver-args-override and --ctrlmgr-args-override
and values to each flag being an array of csv entries, each entry delimited by a newline (as is the case with csv files).
for example"
[code]
If needed we can then further enhance this to take the pairs from a csv file or provide both options.

I also looked up the usage of

[2017-01-31 14:02] piosz opened #40736 "Kubernetes components should export metrics in Prometheus format"
As agreed in [Kubernetes monitoring architecture](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/monitoring_architecture.md) each Kubernetes component should export its metrics using Prometheus format. The metrics should follow [Instrumentation best practises](https://github.com/kubernetes/community/blob/master/contributors/devel/instrumentation.md).

The list of

[2017-01-31 14:05] piosz commented on #40736
cc @fabxc @brancz @Crassirostris @fgrzadkowski

[2017-01-31 14:07] ccatlett2000 opened #40737 "[OS] Add configuration to disable minion floating IPs"
Currently, the OpenStack installation method assigns a floating IP to every single worker node. While this is fine for smaller clusters with a good sized IP pool, it can cause issues in environments with high node counts or less IPs available.

An environment variable such as `$ASSIGN_MINIONS_FLOATING_IP` could be use to configure whether or not minions are assigned an IP. It should not disable th

[2017-01-31 14:12] ccatlett2000 commented on #32924
The VIP address is from the network the load balancer is deployed onto. As that is likely a private network for kubernetes the IP will be inaccessible outside the cluster, and require a floating IP.

While I don't think we should always drop the VIP, as it's possible to put a load balancer on an external network (then the VIP will be externally reachable), it certainly would be nice to have a conf

[2017-01-31 14:14] ccatlett2000 commented on #40737
cc @k8s-sig-openstack-feature-requests

[2017-01-31 14:22] ccatlett2000 commented on #36992
I can confirm the changes in #40339 fix this. Can someone that has permission close this?

[2017-01-31 14:26] brancz commented on #40736
Not sure about all components and when we should tick them off, but etcd v3 already does exposes them in the way the best practices describe. For the other components we should do some auditing of the existing code base, I know @fabxc already went through a substantial amount of code so might have a good overview of this already.

[2017-01-31 14:30] theothermike commented on #40415
We have the same issue.  After 1.5.2 upgrade on GKE (no volumes though), it started happening.  However, it persists sporadically on certain deployments, even long after upgrade is complete, and we push new deployments.

To note, we use the 'rolling restart' hack of injecting a 'date' key into the metadata.labels, which forces the RR. This is due to our images having 'test' and 'prod' tags that we

[2017-01-31 14:31] Tha-Robert commented on #36992
That fixes only the capital letters in the generated name.
If the name is not a qualified hostname(blablah.com) it sill fails.
And the heat scripts as they where(when this was filed) removed the (.local) part thats added per default by openstack.
And there for fails the regexp check.

/R

[2017-01-31 14:48] shyamjvs commented on #40139
Seems like this fail was due to unavailability of the swagger api endpoint while validating kubemark-ns.json.

[2017-01-31 15:11] redbaron commented on #20165
it is all nice in theory, but knowing when doing step `7` is safe is not a trivial task, or at least I couldn't figure it out.

If instead k8s client libraries (which I believe is now called `client-go`) were able to reload service account token when it gets updates on a filesystem, then all the dance with pod restarts will be not necessary.

The procedure will be greatly simplified:
1. generate n

[2017-01-31 15:20] jsafrane commented on #34583
We've a PR https://github.com/kubernetes/kubernetes/pull/38505 that adds "zones:" with list of zones instead of single "zone:". No wildcards though.

[2017-01-31 15:21] bboreham commented on #40182
Docker [changed the default iptables forwarding policy to DROP](https://github.com/docker/docker/pull/28257), which has effects like this.

You can change the policy to ACCEPT (which it was in Docker 1.12 and before) by running:

    sudo iptables -P FORWARD ACCEPT

on every node.  You need to run this in the host network namespace, not inside a pod namespace.

[2017-01-31 15:26] feiskyer commented on #40717
Is it ok to set `dockerProcessName = "dockerd?"`?

[2017-01-31 15:36] lazzarello commented on #38843
@roberthbailey yes, this tag needs to be pushed to gcr.io

[2017-01-31 15:42] calebamiles commented on #38542
Thanks for the update @k82cn!

[2017-01-31 15:43] jheiss commented on #30799
@krmayankk I think that proposal may be the (just posted) kubernetes/community#306

[2017-01-31 15:45] rootfs commented on #40708
@kim0 @calebamiles the volume in question was attached to a different node per master log
[code]

[2017-01-31 15:45] sc68cal commented on #40367
What logfiles are relevant on the master? Can you provide paths? Thanks.

[2017-01-31 15:50] redbaron commented on #40724
Looks more like your apiserver is not responding

[2017-01-31 15:52] frankgreco commented on #40724
@redbaron if that were the case than I wouldn't be able to successfully curl the following:

[code]

[2017-01-31 15:53] runcom opened #40739 "CRI: test-e2e-node assumes docker"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

both maybe

**Kubernet

[2017-01-31 16:02] yujuhong commented on #40717
No, as I said in the post, we should be able to handle both names.

[2017-01-31 16:03] paralin commented on #17088
@robhaswell nope, still doable without a namespace selector. Remember that an ingress controller does not change ip between different ingress resources. It just combines them together and serves them.

Try running the nginx controller for example, and setting up what you want. You can either use a different URL in one namespace, and then change it to the main URL when you want to enable that names

[2017-01-31 16:05] liggitt commented on #20165
that part is the disruptive part... when rotating, you want to be able to have a period where both the old and new tokens are valid, but the new token is preferred/used by new pods. patching out the old token revokes it.

[2017-01-31 16:05] paralin commented on #17088
@gramic yes. It depends on their implementation, but most of the controllers monitor all the namespaces on default (which is changeable)

[2017-01-31 16:14] david-dumas commented on #40182
Tested out and working

**Environment:**
- Cloud provider: AWS
- OS: Ubuntu Server 16.04 LTS
- Kernel: 4.4.0-59
- Kubernetes: 1.5.2
- Docker: 1.13
- Network: VPC with NAT gateway, internet gateway, public & private subnets

[2017-01-31 16:23] kargakis commented on #40415
@janetkuo @soltysh @kubernetes/sig-apps-misc the problem seems to be that `getNewReplicaSet` is not recognizing the new replica set from 1.4 as equal to the deployment template and it ends up creating a new one with a new hash... Seem like two problems in one.

FWIW, it doesn't seem like any of the involved code parts has changed in a subtle way that affects the deployment controller:
- a [single

[2017-01-31 16:29] kim0 commented on #40708
@rootfs .. Thanks for your message. I'm slightly confused, afaict two disks are mentioned in this message (pvc-b7e & pvc-03e). What is the meaning of `DiskBlobAlreadyInUseByAnotherDisk` ?

[2017-01-31 16:38] pskrzyns commented on #40739
cc @Random-Liu

[2017-01-31 16:41] bacongobbler commented on #38843
@lazzarello this has already been done a week ago. All is well now.

[code]

[2017-01-31 16:45] DocMerlin commented on #1957
+1 consul

[2017-01-31 16:45] daniel-yavorovich opened #40741 "Kubernetes API certificates for Heat deploy script"
Dear Sirs/Madams,

I found problem with setup Kubernetes 1.6 + Openstack.

After setup kubernetes API can't start because use undefined certificate:

File: /var/log/kube-apiserver.log
`F0131 16:12:36.513227       5 master.go:273] Error building core storage: open /srv/kubernetes/kubeapiserver.cert: no such file or directory`

Kubernetes API use path to cert /srv/kubernetes/kubeapiserver.cert, but

[2017-01-31 16:50] rootfs commented on #40708
`pvc-b7e979e8-e662-11e6-88b4-000d3a26e684`

[2017-01-31 16:52] rootfs commented on #40708
@colemickens can you share error `DiskBlobAlreadyInUseByAnotherDisk`

[2017-01-31 16:54] liggitt commented on #40724
a missing authorization header would result in a 401 or 403, not an i/o timeout

[2017-01-31 17:05] redbaron commented on #20165
why? you still run  apiserver with both old and new keys, so that even if there is a time period where k8s client libraries continue to use old key it still works. net effect is that you don't  identify  pods which need a rolling restart and neither you need to perform that restart at all.

[2017-01-31 17:06] bboreham commented on #40349
Also related: #39823

[2017-01-31 17:07] bboreham commented on #39823
Weave issue: https://github.com/weaveworks/weave/issues/2758

[2017-01-31 17:15] sigxcpu76 opened #40745 "kubelet "soft" crash and node "NotReady""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

```NO```

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

[2017-01-31 17:18] csarora commented on #40306
@justinsb I used kubeadm with cloud provider aws flag & the deployment went fine. all the pods/services in default namespace are running fine with kubeadm , its only federation apiserver thats not coming up.

One thing i tried using `federation-up` and `deploy.sh` instead of kubefed tool. but that does not work well if cluster is created using kubeadm.

@madhusudancs Can someone please confirm if

[2017-01-31 17:25] frankgreco commented on #40724
@liggitt

on my host, when I curl `https://10.254.0.1:443/api/v1/endpoints?resourceVersion=0` I get a timeout error but when I curl:

```curl -k -v -XGET  -H "Authorization: Bearer <JWT from service token>" -H "Accept: application/json, */*" -H "User-Agent: kube-dns/v1.6.0 (linux/amd64) kubernetes/3872cb9" https://10.254.0.1:443/api/v1/endpoints?resourceVersion=0```

it succeeds. This is the exact

[2017-01-31 17:28] madhusudancs commented on #40306
It does work on AWS.

There are multiple deployment mechanisms and this was the case with one of them. Particularly, deploy.sh scripts described here - https://kubernetes.io/docs/admin/federation/#running-the-federation-control-plane. Even in that case there was a workaround.

[2017-01-31 17:29] liggitt commented on #20165
Servers that allow service account token revocation run with `--service-account-lookup`, which verifies the token in etcd matches

[2017-01-31 17:34] madhusudancs commented on #40306
It might also be worth checking if dynamic provisioning works as expected on your cluster outside the kubefed tool.

Based on @saad-ali's comment in https://github.com/kubernetes/kubernetes/issues/40306#issuecomment-276231584, it might also be useful to look at your cluster's controller manager logs and share what you find here.

[2017-01-31 17:53] redbaron commented on #20165
Ah, didn't think about that.So whats the solution? Rolling all the pods isn't something which one to do lightly

[2017-01-31 18:06] piosz commented on #40736
Yeah, probably the majority of components have the handler already. This issue is about identifying those without and extending them.

[2017-01-31 18:21] yujuhong commented on #40697
https://github.com/kubernetes/test-infra/pull/1747 already fixed this. Closing.

[2017-01-31 18:21] #40697 closed

[2017-01-31 18:23] vdm commented on #33483
Out of the box:
1. GKE pods can ping GCE by IP and by name, but not vice versa.
2. GCE VMs can ping GKE pods by IP (obtained from `ip addr` inside the pod), but not by name. This uses a GCE route generated by GKE to a "VMs" /24 subnet.

A GCE route to a subnet including generated K8s Service IPs can be added manually, with the same next hop as the generated route. This allows GCE VMs to access GKE

[2017-01-31 18:28] yujuhong commented on #40739
We don't have code to pre-pull images using CRI runtimes yet. Before we add that, @runcom, you could disable image pre-pulling in the node e2e suite.

[2017-01-31 18:36] technologik commented on #24978
Just to clarify, has an annotation been accepted for creating L4 vs L7 load balancers as mentioned above? I haven't seen anything explicitly noting that ELBv2 / L7 ALBs have an annotation, and if so, what that annotation may be. Thanks.

[2017-01-31 18:40] runcom commented on #40739
@yujuhong I can add that code as well using the grpc client we already have if that works for you

[2017-01-31 18:42] yujuhong commented on #40739
Sure. Thanks for offering. I'll assign the issue to you.

[2017-01-31 18:50] #32128 closed

[2017-01-31 18:56] mlbiam opened #40750 "After enabling RBAC, api-server no longer loads certificates from OIDC discovery URL"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug Report

**Kube

[2017-01-31 19:01] liggitt commented on #40750
the signature error log is unrelated... that's the service account token authenticator failing the validate the JWT (which is expected)

you are getting a 403, which is an authorization error.

[2017-01-31 19:04] liggitt commented on #40750
what claim are you using as the username? if `sub`, do you have an RBAC binding that allows `4aeb37ba-b645-48fd-ab30-1a01ee41e218` to access the dashboard?

[2017-01-31 19:06] PI-Victor commented on #40459
fwiw - valid, i'm hitting the same issue. removing the kube folder seems to make it work.

[2017-01-31 19:16] mlbiam commented on #40750
@liggitt yep, i just assumed it was an issue with signature validation.  I tried adding the openunison user to my role bindings but found I needed to add the idp prefix which got it working

[code]

[2017-01-31 19:16] #40750 closed

[2017-01-31 19:16] mlbiam commented on #40750
@liggitt thanks!

[2017-01-31 19:17] jcbsmpsn opened #40753 "Failed docker containers are recycled too quickly on the master to see the logs"
When making a change to the command line parameters in `/etc/kubernetes/manifests/kube-apiserver.json`, if the parameters aren't just right, the kube-apiserver fails to restart.

The actual problem is that the dead container, and the associated logs, disappear very quickly, so it's difficult to see the logs. As an example, as soon as I change the manifest file to have an incorrect parameter, docke

[2017-01-31 19:17] jcbsmpsn commented on #40753
cc @mikedanese

[2017-01-31 19:21] GnawNom opened #40754 "Default service account tokens deleted in all namespaces after apiserver crash"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Baremetal @ Box
- **OS** (e.g. from /etc/os-release): ScientificLinux 6
- **Kernel** (e.g. `uname -a`): `Linux compute-master1001.ve.box.net 3.10.0-229.14.1.el7.x86_64 #1 SMP Tue Sep 15 05:09:55 CDT 2015 x86_64 x86_64 x86_64 GNU/Linux
`
- **Install tools**:
- **Others**:

**What

[2017-01-31 19:29] mikedanese commented on #40753
@kubernetes/sig-node-bugs

[2017-01-31 19:38] Random-Liu commented on #40739
@runcom Thanks. Please only use grpc client when `container-runtime` is `remote` for not.

We can only use the grpc client by default when after CRI integration is rolled out as default in 1.6.

[2017-01-31 19:58] bgrant0607 commented on #24343
@spxtr We'll need A LOT more github tooling and test infrastructure improvement. I can't even follow this discussion because it is drowned out by other noise from github.

Problems we need to address:
* ACLs
* Notification volume
* PR review routing
* Issue routing and management
* Test throughput and resource cost
* Test failures, flakes, debugging (how many test failures are related to the chang

[2017-01-31 20:02] luomiao opened #40755 "Support authentication-enabled Photon Controller platform in Photon cloud provider"
Feature Request:
Support k8s Photon Controller cloud provider running on authentication-enabled Photon Controller platform.

The current implementation of Photon Controller cloud provider only supports running with a Photon Controller platform without authentication turned on. An update of Photon Controller cloud provider is required since authentication is by default set up for Photon Controller

[2017-01-31 20:27] marun commented on #40616
This is already supported via ``kubefed init --dns-provider=``.  I'm not sure if this is good ux, though.  Why isn't ``--dns-provider={none,disabled,etc}`` appropriate?

[2017-01-31 20:32] madhusudancs commented on #40616
What's the value it brings to the users over turning off federated services today, other than optimizing for the dev experience? IMO, we shouldn't be optimizing for dev experience over user experience. Every flag that we expose, every choice available to a flag has a cost to it. It is cognitive overload for the users. Unless there is a clear user benefit, we shouldn't be adding those knobs.

[2017-01-31 20:35] marun commented on #40620
I'm not sure the current default of autodiscovering dns configuration makes sense. Would it make sense to make the parameter mandatory and require ``--dns-provider-config=auto`` to use the current behavior?

[2017-01-31 20:37] marun opened #40757 "[Federation][kubefed] --dns-provider should be mandatory without a default"
``kubefed`` currently defaults to google dns, which might make sense if only gke/gce were supported.   Since route53 and coredns are options, though, I think it would be preferable to make ``--dns-provider`` a mandatory parameter without a default so the user is forced to choose the provider appropriate for their deployment.

cc: @kubernetes/sig-federation-bugs

[2017-01-31 20:38] marun commented on #40620
Related: #40757

[2017-01-31 20:39] raffaelespazzoli commented on #35695
@jsafrane I also suggest to filter out those zones where the petset (or other object) pods cannot be scheduled to in the chosezone function.
For example I have a situation where I have some unschedulable nodes in a zone (and nothing else) and it happened to me to have a dynamic volume be created there, which obviously resulted in an error.

[2017-01-31 20:53] SpamapS commented on #24343
Hello! I work with a team of ninjas from the OpenStack community who are actively working on this in a generic way for any github based project, using the "zuul" pipeline manager that @harlowja mentioned in the comment above. If you're interested, please do come by #zuul and / or #BonnyCI on Freenode and we can talk about it. I'm SpamapS there.

[2017-01-31 20:55] thockin commented on #24343
I read the preso's, but I don't have a clear picture.  Can you explain it
in small words, and how it can help us?

On Tue, Jan 31, 2017 at 12:53 PM, SpamapS <notifications@github.com> wrote:

[2017-01-31 21:08] SpamapS commented on #24343
Certainly. I'm working on an about page to hopefully do it, but basically you do this:

* Setup Zuul to be triggered off PR's to your git repos (currently gerrit in master, but patches exist to do Github)
* Configure Zuul to gate and check based on events in your source control
* Setup your tests to pull all repos from Zuul which will assemble dependent changes (both in single-repos as a patch sta

[2017-01-31 21:09] justinsb commented on #40306
I believe this issue should be moved to the kubeadm repository.

[2017-01-31 21:18] marun commented on #40616
How is ``--dns-provider=`` preferable to something like ``--dns-provider=none``?  This is not about dev experience, it's about error handling to ensure a better user experience.  If a user today accidentally specified an empty dns provider (a bash quoting problem for example) they would end up with a control plane without a service controller.  Requiring an explicit value would make it possible to

[2017-01-31 21:18] piosz commented on #40736
@bprashanth @bowei do kube-proxy, dns, l7-lb-controller and l7-default-backend export metrics in Prometheus format?

[2017-01-31 21:21] piosz commented on #40736
@bryk does kubernetes dashboard export metrics in Prometheus format?

[2017-01-31 21:47] jbeda commented on #36272
Linking to #39112 to try and pull all of this together.

[2017-01-31 21:48] jbeda commented on #33530
See also #39112.  We should make sure the label scheme allows for masters to be workers too.

[2017-01-31 21:57] jkurz commented on #32987
This problem is still occurring on `v1.3.10`

Has there been any triage of this issue?

[2017-01-31 22:03] ravishivt opened #40761 "Pod to external traffic is not masqueraded"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):  BUG REPORT

**Kubernetes version** (use `kubectl version`):  1.5.1

**Environment**:
- **Cloud provider or hardware configuration**:  3x Ubuntu 16.04 nodes running in VMware vSphere
- **OS** (e.g. from /etc/os-release):  Ubuntu 16.04
- **Kernel** (e.g. `uname -a`):  4.4.0-57-generic
- **Install tools**:  kubeadm
- **Others**:  CNI: Flanne

[2017-01-31 22:05] madhusudancs commented on #40616
If this is about issue #40757 that you just filed, I am not against that. I think that's reasonable.

[2017-01-31 22:17] derekwaynecarr commented on #23155
see referenced PR to reduce log spam.

[2017-01-31 22:24] madhusudancs commented on #39555
Fixed in PR #40392.

[2017-01-31 22:38] madhusudancs opened #40765 "Split the federation e2e tests into two separate jobs to make parallel testing possible in at least one of the jobs"
Federation e2e tests run in a single e2e job right now. Some of the tests in that job is not parallelizable because they either clobber resources used by other jobs or they need clusters to be registered and/or deregistered on-the-fly. This makes the entire suite slow.

We should split the federation test into two jobs. One job should have all the tests that can be run in parallel. And another job

[2017-01-31 22:43] madhusudancs opened #40766 "Add the [Serial] label on the federation e2e tests that must be run serially."
Go through all the federation e2e tests and add `[Serial]` label to the ones that must be run serially. Anything not labelled with `[Serial]` will be run in the parallel suite.

This is part of an effort to make the federation e2e tests parallelizable. Issue #40765.

cc @kubernetes/sig-federation-bugs @shashidharatd

[2017-01-31 22:45] madhusudancs opened #40767 "Creating a new federation test job to run serial tests."
The main federation e2e test job has to run all the tests in parallel to even make it dependable. So we need  another test job to run the tests that can be parallelized.

This is part of an effort to make the federation e2e tests parallelizable. Issue #40765.

cc @kubernetes/sig-federation-bugs @shashidharatd

[2017-01-31 22:46] marun commented on #40616
Ok, I'll make sure #40757 gets implemented.

To your question of user-facing benefit, the dns provider is the only kube-external dependency of federation today.  Separate from the dev case, which as you say can be accomplished via the opaque passthrough proposed for #40398, what about a deployment that intends to use only private federated services and doesn't want to configure with a dns provider

[2017-01-31 22:48] madhusudancs opened #40768 "Move the cluster registration/deregistration steps out of the parallel test's from the parallel tests' BeforeEach/AfterEach blocks."
In order to make the tests federation e2e tests dependable and faster, we need to stop registering and deregistering clusters in each tests. At least for the parallel tests, we should move these steps out of the individual test's `BeforeEach/AfterEach` block to federation-up.sh.

This is part of an effort to make the federation e2e tests parallelizable. Issue #40765.

cc @kubernetes/sig-federation

[2017-01-31 23:03] micmro commented on #40367
I'd usually check `journalctl -a` and go through all logs from the beginning to see if there is anything suspicious, though this might be quite a few depending on when it stopped.
To just see only the last e.g. 50 lines with `journalctl -a --lines=50` or only from e.g. the salt-minion service `journalctl -a -u=salt-minion`.

I hope this helps.

[2017-01-31 23:06] marun commented on #40398
I don't think csv is a good idea for a file format.  yaml and json are what are used today in kube, and I don't think there's a good reason to deviate from that for ``kubefed``.

For the command line argument, I think csv makes even less sense.  Consistency is important, and I'm not aware of any kube command that uses csv in this way.  How about allowing flags to be provided in the same form as in

[2017-01-31 23:07] khannag commented on #38999
I had opened another ticket on this -which captures the progress I was able to make on this. Please see https://github.com/kubernetes/kubernetes.github.io/issues/2033.

[2017-01-31 23:12] bowei commented on #38456
@jsravn -- wondering why clients would get TCP resets from nginx during a graceful shutdown (SIGQUIT)? The listen socket is gone, which means there are no new connections and each existing connection is processed with "Connection: close" with the reply. You will see a RST if a client decides to never go away despite being told to do so, but that is something that the server cannot control.

[2017-01-31 23:15] madhusudancs commented on #40398
I agree. I am Ok not having a file format at all for now. Hopefully `ComponentConfig` will fix that. But command line arguments should not be CSV and even more so should not be line separated.

@marun's suggestion is a better alternative.

[2017-01-31 23:19] madhusudancs commented on #40398
I am in favor of comma separation instead of space separation. Space separation is hard to read if you are supplying a long list of overrides. "--bind-address=0.0.0.0 --tls-ca-file=/path/to/file --tls-cert-file=/path/to/file --tls-private-key-file=/path/to/file --requestheader-client-ca-file=/path/to/file --secure-port=443". Now if I want to distinguish between kubefed's flags and the overrides, I

[2017-01-31 23:44] jsravn commented on #38456
Because nginx doesn't wait for clients to close their side of the
connection before closing the socket. As soon as all in flight requests are
finished processing, it closes the socket. Clients can then get a reset if
either they already started sending a new request (but it hasn't reached
nginx's host yet), or in the case of many common http clients, sending data
on a previously used keepalive con

[2017-01-31 23:49] #39119 closed

[2017-01-31 23:51] rkouj opened #40772 "Federation test flake"
Unit/Integration test flakes

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/39883/pull-kubernetes-unit/15760/

Test Failures

k8s.io/kubernetes/federation/pkg/federation-controller/namespace TestNamespaceController 22s
go test -v k8s.io/kubernetes/federation/pkg/federation-controller/namespace -run TestNamespaceController$
0xacdf3d	k8s.io/kubernetes/federation/pkg/federa

[2017-01-31 23:59] bowei commented on #38456
ah ok -- I may have confused that feature that in a previous life may have been a custom modification to a hacked up version nginx, did not know that it was only available in the paid version.

[2017-02-01 00:12] madhusudancs commented on #40616
That detail is still TBD. I expect the private federated service design to include that. If that design proposes `--dns-provider={disabled,none,etc}` as the solution to disable DNS integration, then I will be happy with that. I just want  the details to be thoroughly thought through and discussed. We shouldn't just implement it now and scramble through things later because:

1. It doesn't bring mu

[2017-02-01 00:21] kerneltime commented on #40697
How do I get https://github.com/kubernetes/kubernetes/pull/40694 unstuck?
@yujuhong

[2017-02-01 01:14] thockin opened #40778 "Google Cloud needs to add a firewall rule for LB healthchecks"
From GCE email today:

* Current behavior: You are not required to add firewall rules for Network LB health checks today

* Action required: We are introducing three new ranges for health checking: 209.85.152.0/22, 209.85.204.0/22, and 35.191.0.0/16. You need to ensure that your firewall allows traffic from 209.85.152.0/22, 209.85.204.0/22, and 35.191.0.0/16. The health check probes to your backen

[2017-02-01 01:18] ash2k commented on #40657
@sttts Yes, thanks!

[2017-02-01 01:21] ahakanbaba commented on #39900
Hi @ymqytw
Not having this in 1.5 is a big problem for us. On our side we will need to do several changes.

I see that the #40666 is quite a big change.
How reasonable is it to port it to 1.5?

We extensively use the apply command on TPR's but because of various known bugs we only really have two use cases:
1) Creation
2) Idempotent apply without any change.

In other words we do not modify existi

[2017-02-01 01:48] liggitt commented on #39900
#40666 (and #40260, and other supporting work) would be required to be backported, which is not feasible.

The "create when missing" case does not exercise most of the apply command (the patch computation portion), but create could be used instead.

Use of the apply command to update ThirdPartyResources may appear to be working in 1.4 or 1.5, but is actually sending incorrect data to the server. I

[2017-02-01 01:49] ravishivt commented on #23474
For me on a bare-metal Ubuntu 16.04 cluster with Flannel, I couldn't resolve external DNS because I couldn't reach the external DNS server.  I had to add an iptables masquerade rule to get routing to work properly as detailed in #40761.

[2017-02-01 01:56] ahakanbaba commented on #39900
What is the state of 1.6 ?
Are the #40666  #40260 and other going to 1.6 ?

[2017-02-01 02:04] liggitt commented on #39900
yes

[2017-02-01 02:04] montanaflynn opened #40779 "Watching nodes shows activity when there isn't any"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No, just a bug report.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

"watch", "nodes"

---

**Is this a BUG REPORT or FEATURE REQUES

[2017-02-01 02:09] defunctzombie commented on #35890
Ok, so what is the fix? Just to ignore validation? When kubectl is run on what looks like a valid file, it errors out so from the user's perspective it looks like a ux bug or documentation issue. Is there a separate repo for kubectl that has an issue to follow?

[2017-02-01 02:11] liggitt commented on #35890
Yes. Client-side validation of server-defaulted fields is unlikely to work well.

https://github.com/kubernetes/kubernetes/issues/39434

[2017-02-01 02:16] liggitt commented on #35999
did #40260 resolve this?

[2017-02-01 02:18] yujuhong commented on #40779
Node status is updated periodically (10s) by the kubelet on the node (similar to a heartbeat), even if the status hasn't changed.

[2017-02-01 02:38] k82cn commented on #40639
regarding the "big", this's the case in my mind: node1 with `image_500m`, node2 with `image_2g`, and a pod with two container:

[code]

node1 is better than node2 to me; but it did not consider other factor, e.g. re-used layer of image. I'm also ok to keep current behavior for `Always`, as it's too complex to get exact decision by considering all factors.

[2017-02-01 02:43] liggitt commented on #40639
in your scenario, does node1 also have image_2g?

[2017-02-01 02:46] k82cn commented on #40639
nop, node1 only have `image_500m`.

[2017-02-01 02:50] liggitt commented on #40639
So if image_2g hasn't changed, node2 will be better. If it has, node1 will be better. In the abstract, without more information about how likely image_2g is to change, the system can't reason about which is more likely.

In many cases, by the time you get to the pod level, pod specs refer to particular image ids, which means that if a node has the image pulled, even a pullalways will consist solel

[2017-02-01 03:42] k82cn commented on #40639
Agree, I'm OK to keep current behavior for `Always` (include `Always` for image locality).

[2017-02-01 03:53] gyliu513 opened #40780 "Improve code coverage for /pkg/kubelet"
This is a sub issue for #39559

[2017-02-01 03:54] gyliu513 commented on #40780
cc @timstclair can you please assign this to me? Thanks.

[2017-02-01 03:55] gyliu513 opened #40781 "Improve code coverage for /plugin/pkg/admission"
This is a sub issue for #39559

cc @timstclair can you please assign this to me? Thanks.

For more detail, refer to https://docs.google.com/document/d/1Xa3IxMQg7LLqwcb4CV3kyBFlXErzysMOB1XDCW6KQVc/edit

[2017-02-01 03:58] gyliu513 opened #40782 "Improve code coverage for /pkg/admission"
This is a sub issue for #39559

cc @timstclair can you please assign this to me? Thanks.

For more detail, refer to https://docs.google.com/document/d/1Xa3IxMQg7LLqwcb4CV3kyBFlXErzysMOB1XDCW6KQVc/edit

[2017-02-01 04:40] #23155 closed

[2017-02-01 04:41] justinsb opened #40783 "metav1.Duration formats to `0` or `0s` depending on go version"
In go 1.7, the format of time.Duration with a zero value was changed from `0` to `0s`: https://golang.org/doc/go1.7#minor_library_changes

`k8s.io/kubernetes/pkg/apis/meta/v1/Duration` wraps time.Duration, and does not add any additional logic: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/duration.go#L46

Thus if compiled with 1.6, the zero

[2017-02-01 04:44] kris-nova commented on #40783
While we are at it, we probably ought to keep an eye on 1.8 - the release notes aren't out yet (it's still in beta) but if we start working on this we should double check the new release as well

[2017-02-01 04:46] liggitt commented on #40783
what APIs is this type used in?

[2017-02-01 04:49] liggitt commented on #40783
since `time.ParseDuration` handles "0s" correctly in all go versions, I'm not sure whether this would be considered a breakage or not... the value produced by new versions is consumable by old versions, and vice-versa.

[2017-02-01 04:54] justinsb commented on #40783
AFAICT, only componentconfig, which is thankfully still in alpha!

The most important question: `0` or `0s`? :-)

[2017-02-01 05:01] liggitt commented on #40783
I'd lean toward `0s`, but could be talked out of it

[2017-02-01 05:24] justinsb commented on #40783
It does have the advantage of not having to argue with the go team.  I think `0s` is an excellent zero value.

[2017-02-01 05:36] smarterclayton commented on #40783
We should open an issue that time.Duration must be purged from our public
APIs - I'm pretty sure this won't be the last break.

On Wed, Feb 1, 2017 at 12:24 AM, Justin Santa Barbara <
notifications@github.com> wrote:

[2017-02-01 05:47] justinsb commented on #40783
I didn't find any bare `time.Duration`s - but I agree we should be wary.

The default marshalling is nanoseconds, so I'm guessing everyone will wrap it or define it as an integer number of seconds (see below).  Any wrapper should be careful though!

https://play.golang.org/p/LiLq9Zy6X-

[code]

[code]

[2017-02-01 06:35] thockin commented on #24343
This has sort of turned into an engprod issue @fejta - it seems only partial though, since actually USING the repos (e.g. doing local build/test) is not solved by this, when you need to sync multiple repos.

[2017-02-01 06:36] k82cn commented on #40639
On the same page with you about this policy :)

/cc @davidopp / @wojtek-t , any suggestion?

[2017-02-01 06:37] madhusudancs commented on #40766
We went through the federation e2e tests and did not find any test that deserved a `[Serial]` label. We instead found a bunch of tests that don't need registered clusters at all and those tests are now marked with `[NoCluster]` label. See PRs #40769 and #40786.

Closing this issue. We can reopen it if necessary. We also need to ensure that the future tests get the appropriate labels.

[2017-02-01 06:37] #40766 closed

[2017-02-01 06:40] thockin commented on #33483
The downside of this technique (we call it service bastion routes) is that
if the node to which you are routing goes down, the service gateway is
down.  It needs a rectifier to check and choose a new node or nodes when it
fails, if you want to offer any sort of availability SLA.

On Tue, Jan 31, 2017 at 10:23 AM, Vincent Murphy <notifications@github.com>
wrote:

[2017-02-01 06:42] kris-nova commented on #40783
Regarding your question

I always err on the side of explicitly defining units of measure.. so `0s` gets my vote :)

[2017-02-01 06:45] k8s-merge-robot opened #40787 "ci-kubernetes-e2e-gci-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-test/294/
Multiple broken tests:

Failed: [k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28257 #29159 #29449 #32447 #37508

Failed: [k8s.io] ReplicaSet should serve a basic image on each replica with a public image [C

[2017-02-01 07:51] davidopp commented on #36272
BTW taints and tolerations are moving to Beta in 1.6 and will start using a field instead of an annotation.

[2017-02-01 08:13] melalj commented on #24930
Any updates on this?

[2017-02-01 08:41] akhilmandadi opened #40789 "Error while creating pod with iSCSI volume on Minikube"
I created a iSCSI target and initiator. I have the minikube installed on the same machine which has initiator. When i try to create a pod the container is forever in ContainerCreating state. The below is the pod description.
Events:
  FirstSeen	LastSeen	Count	From			SubObjectPath	Type		Reason		Message
  ---------	--------	-----	----			-------------	--------	------		-------
  48m		48m		1	{default-s

[2017-02-01 08:48] irfanurrehman commented on #40398
@marun @madhusudancs , thanks for your suggestions.
My only inclination for the way I did suggest was for the reason of trying to keep it compatible with a future file format. (I did read some discussions which indicated that taking these from a config might be more needed in future). If we keep that aside @marun's suggestion makes perfect sense.
I will implement this on the same lines.

[2017-02-01 08:53] madhusudancs commented on #40398
@irfanurrehman I think it is hard to keep the overrides, the way it is suggested above, compatible with the future file formats. We don't use CSV anywhere and unlikely we are going to adopt it. So it is not going to be compatible that way.

Also, I would like @nikhiljindal to weigh in before implementing this.

[2017-02-01 09:20] soltysh commented on #35999
Yes, closing.

[2017-02-01 09:20] #35999 closed

[2017-02-01 09:53] ash2k opened #40790 "Expose/add useful methods on unstructured.Unstructured"
This is similar to #40657 - It would be really useful to have the following methods exposed:
* Unstructured.setNestedField()
* Unstructured.setNestedSlice()
* Unstructured.setNestedMap()

And the following methods added:
* Unstructured.GetNestedField()
* Unstructured.GetNestedString()
* Unstructured.GetNestedSlice()
* Unstructured.GetNestedMap()
* Unstructured.SetNestedString() - this is a more ty

[2017-02-01 10:16] gajju26 commented on #39229
To correct any confusion, I am rephrasing my original post:
We would like to know that Kubernetes CI can be extended to support z system. Please let us know what support will be required from IBM side (we are aware on the H/w support).

We have already completed this activity for cAdvisor.  We think there are two ways to achieve this:
1. We can provide you s390x machines on which we will setup Jen

[2017-02-01 10:17] sysradium commented on #40717
Well, why does not the `dockerd?` handle both? It does a regexp search underneath anyway ...

[2017-02-01 10:50] lucab commented on #40739
@runcom FYI https://github.com/kubernetes/kubernetes/pull/40525

[2017-02-01 11:00] HaraldNordgren commented on #35335
The obvious workaround is to instead use:

    kubectl logs --tail=1

[2017-02-01 11:01] k8s-merge-robot opened #40794 "TestPrioritiesRegistered {priorities}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go-release-1.5/628/
Failed: TestPrioritiesRegistered {priorities}

[code]

Previous issues for this test: #39931

[2017-02-01 11:21] runcom commented on #40739
@lucab great, I'll rebase my patch on top of yours to prepull images with CRI

[2017-02-01 11:21] jsafrane commented on #40631
Duplicate of #35695

[2017-02-01 11:21] #40631 closed

[2017-02-01 11:25] jsafrane commented on #35695
@foxish, this random selection of zone for a stateful set member was done by  @justinsb, perhaps he should explain why it does need specific code for that. Also, choosing the zone based on AWS/GCE instances has proven to be fragile and we should choose schedulable Kubernetes nodes instead.

[2017-02-01 11:30] lucab commented on #40739
@runcom ack, feel free to CC me on the PR and I can give it a run locally with rkt (so far we are running without pre-pulling).

[2017-02-01 11:30] csarora commented on #40306
@saad-ali  I checked controller manager logs it has a lot of errors , unable to list namespace/cluster/etc etc timeout. Attaching log
[controller-manager.txt](https://github.com/kubernetes/kubernetes/files/744672/controller-manager.txt)

[2017-02-01 11:50] codablock commented on #39657
I like the idea of PV snapshotting but would like to propose a more general solution for snapshotting. As I understand the current proposal, snapshotting would be based only on cloud provided snapshotting features. However, some filesystems like btrfs and zfs also natively support snapshots which could be controlled and triggered by the same annotations and controller.

I'm proposing this because

[2017-02-01 12:04] kargakis commented on #33530
@justinsb can you update the initial post with the imput from #36272? Or agree with @davidopp on what's the "correct" thing to do here?

[2017-02-01 12:06] kargakis commented on #40736
[Last time](https://github.com/kubernetes/kubernetes/pull/38714#issuecomment-271241712) I was trying to add a new metric to the controller manager, I had no idea where were those metrics exposed. Any pointers would be really appreciated.

[2017-02-01 12:12] philips commented on #36272
@davidopp We need to fix the labels kops is using. See #39112.

[2017-02-01 12:13] philips commented on #33530
@jbeda @justinsb #39112 is getting bogged down in whether or not these labels are API. I think we should all agree on the label being as described in #39112 and keep moving and then I will work on documenting the namespace in https://github.com/kubernetes/community/issues/300

[2017-02-01 12:14] brancz commented on #40736
kube-dns was quite a mess regarding the exposed metrics, however @bowei already did most of the work on improving that. What's confusing is that skydns (vendored by kube-dns) allows exposing metrics but only by having a the `PROMETHEUS_PORT` env variable set and those are not exactly under our control, regarding the instrumentation best practices.

[2017-02-01 12:20] nagas commented on #28241
+1 for ECS cross account support

[2017-02-01 12:22] k82cn opened #40799 "Empty label are not considered in the same topologies."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):
master

**What happened**:
If the value of label is empty, the nodes are not considered in the same topologies.

**How to reproduce it** (as minimally and precisely as possible):
Refer to the PR.

[2017-02-01 12:31] ajohnstone commented on #33884
Any update on this issue?

[2017-02-01 12:34] piosz commented on #40736
@kargakis I can access them by `curl localhost:10252/metrics`.

@brancz thanks for letting me know! I marking DNS as already supported

[2017-02-01 12:41] kargakis commented on #39962
cc: @caesarxuchao @krmayankk

[2017-02-01 12:52] bambrozio commented on #23615
I'm facing this problem. The issue was closed, but what's the solution?
My case:

[code]

[2017-02-01 13:14] luxas commented on #39229
In either case, I think we should do this with kubeadm and make that deployment the default for s390x, since it's multiarch from the beginning.

[2017-02-01 13:41] peay commented on #34710
I have made some good progress on that and will send a PR soon.

[2017-02-01 14:23] dev-e commented on #34314
Problem solved by applying changes to kubelet configuration (/etc/systemd/system/kubelet.service) according to latest version of reference page on CoreOS: [https://coreos.com/kubernetes/docs/latest/deploy-master.html](https://coreos.com/kubernetes/docs/latest/deploy-master.html)

[2017-02-01 14:46] codablock commented on #37801
https://github.com/kubernetes/kubernetes/issues/40805 Implementes this now in the form of SC parameters.

[2017-02-01 14:57] steinnes commented on #37609
I can't easily reproduce this but I have a cluster which I think is running into this very issue right now:
![image](http://static.steinn.org/kube-sched-weird.gif)

What I did was to add some deployments to the default namespace, then delete them after I made some mistake which I think caused two replica sets to step on each other's toes (label overlap) and caused a lot of pods being scheduled and

[2017-02-01 15:06] redbaron commented on #36798
I can confirm same is happening with our k8s 1.5.2 setup

[2017-02-01 15:12] deitch commented on #8800
Been looking for this for a while, glad I stumbled across it. It looks like https://github.com/kubernetes/kubernetes/pull/36245 was set to address it. Having a hard time finding the final syntax, though. Is it:

[code]

Also, is there a targeted release?

[2017-02-01 15:15] robhaswell commented on #17088
@paralin thanks for your help, however I believe that it is not possible to change the namespace of an ingress object using `kubectl edit`:

[code]

In this operation I attempted to change the namespace of the Ingress resource to `snowflakes`, where it was previously `default`.

Additionally if I delete this (my only) Ingress resource, I lose the IP address which Google Cloud load balancing has pr

[2017-02-01 15:15] soltysh commented on #40415
That's exactly that, I wouldn't worry about it. Looking into the different hashes...

[2017-02-01 15:20] fraenkel commented on #8800
The piece you are missing is https://github.com/kubernetes/kubernetes/pull/38882
If all goes well, it should be 1.6

[2017-02-01 15:22] liggitt commented on #40779
`kubectl get` doesn't show all status fields. the lastHeartbeatTime in the status is frequently updated.

[2017-02-01 15:22] #40779 closed

[2017-02-01 15:27] steinnes commented on #37609
I started looking at the kube-scheduler logs because the cluster was slow to respond to requests and I noticed chunks of 404'd requests in the kube-apiserver logs:
![image](https://cloud.githubusercontent.com/assets/1097582/22512023/868b87ec-e88f-11e6-8f03-5696fc83d50d.png)

The source seems to be kube-scheduler, so I took a look there and saw what's in the gif above, and upon closer inspection it

[2017-02-01 15:28] liggitt opened #40807 "Unify serviceaccount/jwt.go certificate helper functions to use client-go/util/cert"
The `pkg/serviceaccount` package has helper functions for reading public and private keys from files. There are similar functions in `client-go/util/cert` we should unify on.

Missing function in client-go: load an array of public keys from a file or pem blob

Different function in client-go: private key loading apparently is not as accepting as the serviceaccount package. Attempting to use the cl

[2017-02-01 15:40] deitch commented on #8800
@fraenkel thanks:

Not so much. I like the idea of being able to build a ConfigMap from a `.env` file - although prefer to reference it from within a ConfigFile `.yml` rather than command line.

The big issue for me isn't _creating_ the ConfigMap data, but _referencing_ it. To have to repeat each var in a pod spec as:

[code]

is awful for a large number of repeated vars.

I was asking (poorly phr