[2016-02-24 13:56] justinsb commented on #20643
The work here is done, I believe (at least enough to cut the branch).  There are still some open PRs that need to land, and lots more testing to be done.

[2016-02-24 13:57] justinsb commented on #21651
Not for AWS, it wasn't done AFAIK.

[2016-02-24 14:02] ncdc commented on #21824
Should be fixed by #21602

[2016-02-24 14:22] druidsbane opened #21875 "AWS Multiple-AZ Bug with MASTER_RESERVED_IP"
The scripts fail to set the default master IP and find the master if we are using MASTER_RESERVED_IP.

[code]

If we set KUBE_MASTER_IP to the same value that works but on cluster teardown it **releases** the Elastic IP which is not what we expect.  I think that the script that finds the IP needs to default KUBE_MASTER_IP on cluster-up to MASTER_RESERVED_IP if it is set.

[2016-02-24 14:24] rutsky opened #21876 "[docs] commands incorrectly formatted in kubectl-overview"
Here: http://kubernetes.io/v1.1/docs/user-guide/kubectl-overview.html#operations
![selection_021](https://cloud.githubusercontent.com/assets/46573/13288091/702c9cf2-db1b-11e5-84dd-73a8c4aa268d.png)

[2016-02-24 14:25] druidsbane opened #21877 "AWS Multiple-AZ Fails to Start Up and Register Nodes on Second AZ"
Bringing up a cluster using the new Multiple-AZ Support fails on AWS.  The first part of the cluster comes up but we fail on bringing up the second set of nodes.  Below is the config to start up:

[code]

And here is the log of the failure to bring up the second set of nodes:
[code]

[2016-02-24 14:35] rideswitch commented on #20475
@thockin I'm sure it is from some interaction with the coreos distro and that single-node setup.  That is why I scripted it out so that you guys could see exactly what I am seeing.  @ArtfulCoder did you get a chance to run that?

[2016-02-24 14:45] justinsb commented on #21853
(Working on this; it's pretty bad...  I'm trying policy-rc.d.  Creating a bash script to install the package, so we can be sure that we cleanup policy-rc.d.  Wishing I was allowed to use go here :-) )

[2016-02-24 15:12] wojtek-t opened #21878 "e2e flake: [BeforeSuite] BeforeSuite failed"
Feb 24 05:57:39.914: FAIL: Error waiting for all pods to be running and ready: <nil>
    Failure [679.272 seconds]
    [BeforeSuite] BeforeSuite
    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/e2e.go:196

      Feb 24 05:57:39.914: Error waiting for all pods to be running and ready: <nil>

      /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernete

[2016-02-24 15:16] stevekuznetsov opened #21880 "Controller hot-loop on "retrying pod list""
Seen on OpenShift, with a misconfigured `~/.kube/config`:

[code]

Had to force-kill the process

[2016-02-24 15:23] deads2k opened #21881 "Tighten MaxInFlight request checking"
Spawned from https://github.com/kubernetes/kubernetes/pull/21497.

The implementation of the `BasicLongRunningRequestCheck` can be gamed by adding spurious query parameters. We can prevent this by doing a full request parse and interpreting the result to only allow things like watch, proxy, port-forward, and exec to be long running.  This is more expensive and more invasive than the change in the

[2016-02-24 15:36] bgrant0607 commented on #21491
This test is now failing continuously.

[2016-02-24 15:45] bgrant0607 commented on #21810
@janetkuo Where is the information about the spec.replicas fields? The events do look correct to me. It looks like Deployment behavior is correct, but RS behavior is not, which would be another instance of #19299.

cc @bprashanth

[2016-02-24 15:55] rhatdan commented on #20870
Is the problem here that you are worried about seccomp breaking certain actions?  I hate to turn off a key security feature of docker  for the masses of users of k8s.

[2016-02-24 15:59] cpg1111 opened #21883 "One Dev pushes, triggering a rolling-update, the other deletes the replication controller."
Hi there,
My team just ran into an issue of pushing an update for a rolling-update, and then another team member was deleting an outdated replication controller manually, both happening at the same time.  This caused the rolling-update to failed, which makes sense being there was no replication controller to update anymore, however neither actions gave an error message saying the other event was o

[2016-02-24 16:18] dchen1107 commented on #20280
Closed this one based on above comment made by @justinsb and @jtblin. Please re-open it if disagree.

[2016-02-24 16:18] #20280 closed

[2016-02-24 16:19] justinsb opened #21885 "AWS: We download safe_format_and_mount from github"
We should probably source it from a more reliable location and/or prebake it into our images!

[2016-02-24 16:22] dchen1107 commented on #13984
I am closing this one. We are going to measure once the release is cut and decide the values for those flags.

[2016-02-24 16:22] #13984 closed

[2016-02-24 16:33] dchen1107 commented on #8347
Ok, that is great. @yujuhong are you observing a different behavior with stress test? Can we verify it?

Agreed.

[2016-02-24 16:35] AdoHe commented on #21570
@yujuhong I just open a PR #21886 to update the kubelet default parameters, would you mind take a look? I am keeping on this to think about more to do.

[2016-02-24 16:35] bprashanth opened #21887 "Cloning godeps fails before integration tests"
Not sure if this concided with a Jenkins restart.
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21856/kubernetes-pull-test-unit-integration/15944/?debugUI=CLOUD
[code]

[2016-02-24 16:38] zmerlynn commented on #21819
Alright, so there are two bugs here:
* `busybox:latest ` is not a great diagnostic because of the aforementioned search path issues.
* My cluster, which is bog standard head, came up with an environmental issue that's blocking it either short search path `busybox` or any flavor of `debian` from resolving `metadata`. When I get in I'll dig in and see if I can figure out why my cluster is a special

[2016-02-24 16:54] moserke opened #21890 "AWS: aws_ebs volume not mounting for hosts with custom dns zone"
Though the nodename was updated in https://github.com/kubernetes/kubernetes/pull/20378, which seems to clean up a bit of the can't find node in AWS issues, there is still an issue in the EBS provider that causes the volume to never mount.  This is due to https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/aws_ebs/aws_util.go#L180.  This seemed to show up in https://github.com/kubernete

[2016-02-24 16:55] dchen1107 commented on #21605
@pwittrock Can you take a look at this one?

[2016-02-24 16:56] moserke commented on #21890
Option 4, which totally overlooked, and probably "easier" still is to just replace ```b.plugin.host.GetHostName()``` with "" everywhere, which mirrors the behavior that was present previous to the change.

[2016-02-24 16:56] pwittrock commented on #21244
@davidopp I asked for a re-run of the tests yesterday, but the actual failures occurred on Feb 17 and the tests just hadn't been rerun.  So my comment is probably just a red herring.

 [link to the console output from the failed e2e test run](https://doc-03tmo-10oao-s-googleusercontent.commondatastorage.googleapis.com/gs/fuc2vio4jd536so122rmrf52ehn3qlv5/vrifdcjdh3mchouec1u25ke09logajfs/14563260000

[2016-02-24 17:10] vmattos commented on #3906
I have just written a tool for parsing my cloud-config into cloudformation strings. It's working pretty fine for me (since I generate my cf template in a coffeescript)! I may open-source it would help someone else, and maybe adapt it to a command-line tool

[2016-02-24 17:19] dchen1107 commented on #21485
I am closing this one as dup of #21261

[2016-02-24 17:19] #21485 closed

[2016-02-24 17:34] lavalamp commented on #21568
We are just waiting for #21272 to get finished up.

[2016-02-24 17:35] lavalamp commented on #21042
Actually closing :)

[2016-02-24 17:35] #21042 closed

[2016-02-24 17:36] lavalamp commented on #21568
Actually, I'm going to call this a dup of #19941

[2016-02-24 17:36] #21568 closed

[2016-02-24 17:40] lavalamp commented on #16500
@madhusudancs is actually working on getting a new scale resource in.

[2016-02-24 17:41] lavalamp commented on #4874
I think if #21408 merges, we can punt the rest of this to the next release.

[2016-02-24 17:43] justinsb opened #21895 "AWS: We don't appear to _remove_ security group ingress rules on LB modification"
Just by code inspection here, but we don't seem to remove security group ingress rules on the LoadBalancer, only add them.

[2016-02-24 17:47] yujuhong commented on #21878
[code]

This seems like #21523

[2016-02-24 17:56] a-robinson commented on #21155
I wouldn't consider it a 1.2 blocker to do this for GCE - @zmerlynn?

[2016-02-24 17:59] yifan-gu commented on #20529
I believe this is fixed after #20302 , so closing for now.

[2016-02-24 17:59] #20529 closed

[2016-02-24 18:01] yujuhong commented on #21878
The build started at Feb 24, 2016 5:38:29 AM, which should include @dchen1107's fixes (removing the network checkpoint file and waiting for docker to shut down cleanly #21727)

The node IP in question is `104.154.43.229` and the logs are in https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/4818/artifacts/, if anyone is interested in taking a lo

[2016-02-24 18:02] caesarxuchao commented on #16233
Linkchecker is running on Jenkins now. Closing.

[2016-02-24 18:02] #16233 closed

[2016-02-24 18:05] deads2k commented on #21062
Erroring on a specified and bad `current-context` seems reasonable.  If it is not specified and there's only one option, I don't think we should fail.

[2016-02-24 18:05] zmerlynn opened #21896 "Jessie pod running on GCE cluster can't resolve metadata"
Repro (offshot of #21819):
* Create cluster at head
* Create rc with spec:
[code]

(I created an RC to see if colocality with the SkyDNS pod made any difference.)

Now I've got one pod in the RC that can't resolve naked `metadata`, but *can* resolve `metadata.google.com`:
[code]

One that originally could resolve neither, but is flaking:
[code]

And one that rock solidly replies:
[code]

Pod ` jes

[2016-02-24 18:05] zmerlynn commented on #21819
I forked off a second issue for what's probably a network issue, #21896.

[2016-02-24 18:06] zmerlynn commented on #21155
I don't either. I'd actually rather not touch this path right now; we've lived with it this way for a while.

[2016-02-24 18:21] jayunit100 commented on #21739
@Random-Liu  ok ive put a patch up that should solve the flakiness without making the `request.go` unnecessarily complicated.   thanks for reporting.

[2016-02-24 18:25] bgrant0607 commented on #11505
This will be hard to implement predictable behavior for in the presence of scaling, failures, etc. See iterations on #20273. Since this would require external orchestration anyway, I'm leaning back to just suggesting use of multiple Deployments, one per release track.

[2016-02-24 18:27] zmerlynn commented on #21896
FWIW, this seems endemic to this cluster, so it might be an inception flake. This was a fresh GKE cluster:
[code]

[2016-02-24 18:30] quinton-hoole commented on #21705
@thockin @juanjoperl See also docs/design/federated-services.md in #19313 (sorry, it's not merged yet).  The solution proposed there involves using DNS and multiple A records with client failover rather than trying to magic away the distinction between different latency zones. Feel free to comment on the above PR if you have better ideas or disagree with the approach proposed there.

[2016-02-24 18:32] jonhoo commented on #20514
Seeing the same with 1.2.0.alph8:
[code]

[code]

[code]

[2016-02-24 18:33] lavalamp commented on #21755
@dchen1107 to delegate

[2016-02-24 18:35] lavalamp commented on #21887
Not sure what we can do about this. Retry a few times?

[2016-02-24 18:35] freehan commented on #21820
Two updates from the proxy log:
[code]

Not an expert in iptables. But it looks correct to me.

[code]

[2016-02-24 18:37] lavalamp commented on #21820
@thockin to delegate

[2016-02-24 18:37] quinton-hoole commented on #21705
To be clear, by "magic away" I was referring to having a single IP address for all clients, that somehow dynamically redirects to the closest, non-overloaded, fully functional pod (by some definition of all of those terms) for every possible client.  Building that complexity into kube-proxy is, in my opinion, prone to undesirable mass failures.  I agree with Tim's implied desire to keep kube-proxy

[2016-02-24 18:38] lavalamp commented on #21878
grrr, my https://github.com/kubernetes/kubernetes/pull/21569 has still not merged

[2016-02-24 18:44] janetkuo opened #21900 "Deployment reports invalid status.unavailableReplicas"
Found this in kube-controller-manager.log. Seems unrelated to test flakes (test didn't fail when this happens).

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21852/kubernetes-pull-build-test-e2e-gce/30209/artifacts/?debugUI=CLOUD
[code]

cc @bgrant0607 @kargakis @mqliang @nikhiljindal @ironcladlou @soltysh @kubernetes/sig-config

[2016-02-24 18:45] macb opened #21901 "kubelet unable to talk to kube-apiserver in 1.2alpha8"
When updating 2 different secure mode clusters (one at 1.2alpha7 and one at 1.1.3) both clusters had all the nodes go into `NotReady` after the `kube-apiserver` updated and restarted.

`kubelet` log's at the time look something like:

[code]

Nothing stood out in the `kube-apiserver` logs. After downgrading the `kube-apiserver` back to `1.1.3` the `1.2alpha8` kubelet was able to update everything

[2016-02-24 18:48] vishh commented on #21901
cc @roberthbailey

[2016-02-24 18:51] david-mcmahon commented on #21836
Seems related to https://github.com/kubernetes/kubernetes/commit/b857f61009deb407086bdcb77e87cdb881eb55fe ?

[2016-02-24 18:57] yujuhong commented on #21878
Oh it's fine in this case because it's a docker bug :)

[2016-02-24 18:57] vishh commented on #20870
@rhatdan: https://github.com/docker/docker/issues/20082

[2016-02-24 18:57] caesarxuchao commented on #21829
In docs/devel/on-call-user-support.md, the link in line `[@k8s-support-oncall](https://github.com/k8s-support-oncall) will reach the current person on call.` is invalid. I cannot track the author of that file. Do you know what the correct link is or who is responsible for that file? Thanks. @lavalamp @bgrant0607

[2016-02-24 18:59] wojtek-t commented on #21878
@yujuhong - since you claim it is #21523 - why is this closed?

[2016-02-24 19:01] bprashanth commented on #21810
I see OK events for the rc, 3 creates and 3 delets eitherway:
[code]

Hard to confirm without controller manager logs from the time period. Looking at the failure:
[code]

Isn't that here: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/util.go#L2170
and total created is just a sum of spec.Replicas: https://github.com/kubernetes/kubernetes/blob/51150a2ac578ce37984211431be7090c2e94d53

[2016-02-24 19:03] zmerlynn commented on #21836
@david-mcmahon: Only if `kube::release::package_tarballs` somehow races with `kube::build::build_image`, which violates all kinds of assumptions. b857f61 landed a little while ago and seems to be stable at this point?

[2016-02-24 19:03] yujuhong commented on #21878
@dchen1107 decided to close it yesterday after having the workarounds merged, even though this could still happen rarely. See her comment: https://github.com/kubernetes/kubernetes/issues/21523#issuecomment-187998104

I'll reopen #21523 and see if we want to pursue more workarounds (e.g., detect the issue and restart docker).

[2016-02-24 19:04] yujuhong commented on #21523
Reopening since there is a recent occurrence in the scalability suite (#21878)

[2016-02-24 19:08] janetkuo commented on #21810
No, we're not counting pods. When scaling up deployment controller should make sure sum of RSes' spec.replicas not to exceed deployment.spec.replicas + maxSurge (default to 1).

[2016-02-24 19:10] madhurranjan opened #21903 "EBS volumes not working as expected"
I'm using 1.1.7 and have nodes spread across multiple zones.  I'm trying to bring up an influxdb cluster across 3 zones in a raft cluster and I'm trying to have pods per zone. I've faced a bunch of problems while trying to do this:

1. I created 3 volumes in 3 zones and added them as shown below with the file volume-list.yaml
[code]

Followed by that if I run the command , I can see 2 PVs associat

[2016-02-24 19:12] Random-Liu commented on #21739
@jayunit100 Thanks for the patch! Feel free to close this after the patch is merged. :)

[2016-02-24 19:12] wojtek-t commented on #21878
@yujuhong - thanks for clairification; I think we need some more workaround, because what happened effectively in our scalability suite is that we lost the node completely. This shoudn't happen for customers paying for them (and it's also annoying for us, because it's blocking merge-bot).

[2016-02-24 19:13] bprashanth commented on #21810
Hmm, since the rc never updates spec.replicas this can't be the expiration cache race then? in the failing checks it looks like maxCreated is just passed in from the test and ==4. Maybe something else is updating spec.replicas at the same time as the deployement (that will show up in apiserver logs).

[2016-02-24 19:15] wojtek-t commented on #21672
With #19043 merge we had a first successful run of load test in 1000-node kubemark. If this repeats, I will close this issue - @davidopp - FYI

[2016-02-24 19:15] david-mcmahon commented on #21836
If this is a one-off flake, it doesn't seem like a P1.

[2016-02-24 19:16] roberthbailey commented on #21500
/cc @alex-mohr @a-robinson

[2016-02-24 19:27] ncdc commented on #15493
@bgrant0607 @thockin does the milestone on this need to be changed to v1.2?

[2016-02-24 19:27] thockin commented on #21819
This appears to never have worked.  I am demoting to P2 for now, will continue investigating.

[2016-02-24 19:30] saad-ali commented on #21903
@kubernetes/rh-storage

[2016-02-24 19:31] thockin commented on #21896
[code]

[2016-02-24 19:34] bgrant0607 commented on #15493
How often is the test flaking?

[2016-02-24 19:36] bgrant0607 commented on #21079
@soltysh Yes. Has anyone filed another issue?

[2016-02-24 19:36] zmerlynn commented on #21896
Yeah, you can demote the priority if you want because of special-snowflake status of that one cluster, but it's definitely busted on that cluster.

[2016-02-24 19:38] ncdc commented on #20403
@thockin fix PR has lgtm; running through jenkins now.

[2016-02-24 19:41] a-robinson commented on #21830
Saw this flake again this morning:
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/1037/
[code]

[2016-02-24 19:45] ncdc commented on #21755
This might have been caused by Paul's (not yet merged) PR; we're investigating.

[2016-02-24 19:50] kargakis commented on #21900
I have been seen this in https://github.com/kubernetes/kubernetes/pull/20273, sup

[2016-02-24 19:51] mml commented on #21814
Well that was easy.

[2016-02-24 19:51] a-robinson opened #21911 "e2e flake: gce-scalability node failed to start within 30 minutes"
99 nodes came up fine, but the 100th never registered with the master.

https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/4823/

[2016-02-24 19:53] yujuhong commented on #21878
@wojtek-t, there have been a lot of discussions in #21523 already, so let's continue there to ensure your voice is heard :-)
E.g., @dchen1107's previous comment: https://github.com/kubernetes/kubernetes/issues/21523#issuecomment-187366683

[2016-02-24 19:58] ncdc commented on #20403
@thockin correction, PR has a regression for kube-managed /etc/hosts :-( we'll need to update it

[2016-02-24 19:59] soltysh opened #21912 "All controllers should raise events when they can't create objects as expected"
This is coming from https://github.com/kubernetes/kubernetes/issues/21079#issuecomment-182967854:

All controllers should raise events when they can't create objects as expected (Pods, ReplicaSets, whatever), except when namespace deletion is in progress.

cc @piosz @mwielgus @jszczepkowski @madhusudancs @janetkuo @kargakis @mikedanese @erictune @soltysh @bgrant0607

[2016-02-24 19:59] cassiussa opened #21913 "Incorrect "OutOfDisk" reporting"
<h1>Apparent issue</h1>
Getting an "OutOfDisk" error while attempting a Build, which doesn't appear to be correct.  I've traced back the Kubernetes code via the following..

The OutOfDisk condition is found in `func (kl *Kubelet) isOutOfDisk() bool { ... }`

This lead me to `IsDockerDiskSpaceAvailable()` and then `type diskSpaceManager interface { ... }` followed by `IsRootDiskSpaceAvailable()` an

[2016-02-24 19:59] soltysh commented on #21079
@bgrant0607 created #21912, mind tagging it appropriately?

[2016-02-24 20:04] wojtek-t commented on #21523
Pasting from a different #21878

@dchen1107 decided to close it yesterday after having the workarounds merged, even though this could still happen rarely. See her comment: #21523 (comment)

@yujuhong - thanks for clairification; I think we need some more workaround, because what happened effectively in our scalability suite is that we lost the node completely. This shoudn't happen for customers pa

[2016-02-24 20:11] gmarek commented on #21500
I tried to run gatherer on 1000 node cluster, but I failed (cluster startup issues, and later client throttling problem for huge clusters)

[2016-02-24 20:18] gmarek commented on #18969
It happens even in our 100 Node clusters now:
http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-e2e-gce-scalability/4823

[2016-02-24 20:19] kargakis opened #21915 "Cannot find kube-controller-manager service in vagrant"
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/developer-guides/vagrant.md#setup

[code]

I cannot find such a service when `systemctl list-units --all`. Same thing applies for `kube-apiserver`. My cluster runs fine.

[code]

cc: @derekwaynecarr

[2016-02-24 20:20] derekwaynecarr opened #21916 "Discovery Client hides the API path associated wtih an API group"
See:

https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/discovery_client.go#L98

I think `unversioned.APIGroup` should hold the API path associated with that group.

Hiding the API path makes coupling usage of a dynamic client with discovery client difficult.

/cc @kubernetes/sig-api-machinery

[2016-02-24 20:22] derekwaynecarr commented on #21916
Or the signature for `DiscoveryClient` should change to not hide the API group.

[2016-02-24 20:28] williamsandrew opened #21918 "Hyperkube 1.1.8 packaging issue"
While trying to run the Hyperkube v1.1.8 container I receive the error "exec format error". It appears the Hyperkube binary may not have been packaged correctly:

[code]

[2016-02-24 20:32] PhilibertDugas commented on #21189
Seems like docker login stores the authorization config in ~/.dockercfg while kubelet was looking in /var/lib/kubelet/.dockercfg

[2016-02-24 20:32] #21189 closed

[2016-02-24 20:58] macb commented on #21901
When rolling back to 1.2alpha7 the errors persisted. I ended up having to go back to a stable release for everything to become healthy again.

[2016-02-24 21:00] justinsb commented on #21155
OK well we can see how it goes on AWS :-)

[2016-02-24 21:03] bgrant0607 commented on #21079
Thanks.

[2016-02-24 21:16] innovia commented on #21692
this is the errors i get

2016/02/24 21:13:07 [I] Completed /query 400 Bad Request in 1.329366ms
[code]

and also
2016/02/24 20:59:11 http: proxy error: dial tcp 10.0.144.1:8086: connection refused

[2016-02-24 21:24] roberthbailey commented on #21901
/cc @ihmccreery

Where are you running your clusters (GCP/AWS/bare metal)? And what mechanism are you using to upgrade them?

[2016-02-24 21:31] macb commented on #21901
Droplets (vms) on DigitalOcean managed by Chef. In all the cases the binaries were replaced on disk and the corresponding upstart service restarted in no particular order (most likely all relatively close to the same time).

[2016-02-24 21:31] nikhiljindal commented on #21803
#21857 should fix this

[2016-02-24 21:33] a-robinson commented on #20552
This failed in the e2e-gke-slow suite this morning:
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/1038/

[code]

[2016-02-24 21:36] caesarxuchao commented on #21916
If we add two methods `ServerGroupsAtPrefix(prefix string)` and `ServerResourcesForGroupVersionAtPrefix(prefix string, gv string)`, will that be flexible enough?

Or we can include a self-link in the discovery results, but I suspect that opens another can of worms.

[2016-02-24 21:37] caesarxuchao commented on #15493
Last time I checked, `it has passed last ~400 kubernetes-gce-e2e tests.` I'll check it again.

[2016-02-24 21:38] yujuhong commented on #21911
Without any logs (#21722), this is not actionable

[2016-02-24 21:40] roberthbailey commented on #21901
Did you change the version of docker that you are using?

[2016-02-24 21:40] juanjoperl commented on #21705
@thockin @quinton-hoole I read the information you said. As expected it is a plan that makes you want to have it already in place.

Regarding load metrics that are mentioned in the document for load balancing, it may not be so necessary to have pods with the ability to auto-scaling and Auto reset. I guess it would be for lower loads than loads that trigger these actions, is it ?.Is in this point k

[2016-02-24 21:41] roberthbailey commented on #21901
And what kind of auth are you using between the kubelets and the apiserver? Client cert / bearer token / basic auth?

[2016-02-24 21:44] ncdc commented on #20403
I think I've figured out why this is flaking. Here's what I'm seeing locally and also what I've noticed from 1 of the GCE flakes:

1. Kubelet sync loop processes a new pod
1. Infra container is created
1. Actual container is created (and it has the pod IP available correctly)
1. Actual container fails to start for some reason
1. Next sync loop iteration results in a new container
1. New container

[2016-02-24 21:44] macb commented on #21901
No, docker did not change with this upgrade. We are on docker version `1.8.2`.

Client certs with this kubeconfig:

[code]

[2016-02-24 21:45] caesarxuchao commented on #15493
Last time I checked the results was two days ago, in the past 48 hours, the test has consecutively passed another 124 builds (12080 to 12204).

[2016-02-24 21:47] roberthbailey commented on #21901
Ok... that should work, since the new apiserver binary should be using the same certificates to validate clients.

It's possible that the command line flags to the apiserver have changed between 1.1 and 1.2. Let me take a quick look.

[2016-02-24 21:49] janetkuo commented on #21809
When the `total pods available: 0, less than the min required: 2` failure happens, new pods are created by the adopted RS instead of just labeling existing pods. This flake is observed pretty often in #21795. Not sure if it happens elsewhere.

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21795/kubernetes-pull-build-test-e2e-gce/30230/artifacts/?debugUI=CLOUD

[2016-02-24 21:50] ArtfulCoder commented on #21896
There were some old routes on the project which needed to be removed.
libc gets a timeout on a dns query using one of the search paths. At the point, libc seems to go straight to try out the query as a FQDN which fails as well..

[2016-02-24 21:50] #21896 closed

[2016-02-24 21:52] zmerlynn commented on #21896
Sorry for the noise. Silly environmental issue in my project that we don't detect well enough in `kube-up`.

[2016-02-24 21:54] macb commented on #21901
It appears there is another cert + key under the kubelet's `--cert-dir`. Not sure at what point that shows up.

[2016-02-24 21:58] quinton-hoole commented on #21705
@juanjoperl We have no active work under way yet to add proximity or load-based balancing to Kubernetes/kube-proxy, but if anyone wants to add it, I would suggest that be consistent with what's described in the above doc for Ubernetes.

[2016-02-24 21:58] roberthbailey commented on #21901
You may be running into https://github.com/kubernetes/kubernetes/issues/19309

[2016-02-24 21:59] #21419 closed

[2016-02-24 21:59] justinsb commented on #21692
I believe the root problem is that the queries in grafana are wrong:

These are the measurements shown by "SHOW MEASUREMENTS" against influxdb:
[code]

Did we change the statistics that were collected?  All the grafana queries are things like `select hostname, mean(value) from "memory/limit_bytes_gauge" where $timeFilter and container_name = 'machine' group by time($interval), hostname order asc`

[2016-02-24 22:03] quinton-hoole commented on #21830
That looks like a general flake, not specific to multi-zone clusters.
Updating title of this issue accordingly.

[2016-02-24 22:05] lavalamp opened #21919 "Watch of 3rd party objects needs a test"
A user report that it's broken in the slack channel: https://gist.github.com/cgilmour/4c8e721691f61e711fa0

[code]

[2016-02-24 22:05] lavalamp commented on #21919
@brendandburns

[2016-02-24 22:06] yujuhong commented on #21866
To save time for other people, below lists the relevant logs:
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gce-scalability/4805/artifacts/104.154.18.94%3A22-docker.log.log
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gce-scalability/4805/artifacts/104.154.18.94%3A22-kern.log.log
https://pantheon.corp.google

[2016-02-24 22:06] lavalamp commented on #21919
Also @smarterclayton and @caesarxuchao -- this probably broke with one of our recent refactors. The server should be accepting list options from any version, I thought?

[2016-02-24 22:07] nikhiljindal commented on #21883
Whats the error message that rolling-update printed for failing?

[2016-02-24 22:08] yujuhong commented on #21866
/cc @bprashanth @dchen1107

[2016-02-24 22:09] #21763 closed

[2016-02-24 22:09] macb commented on #21901
The `kubelet` is definitely regenerating its self signed certs. This doesn't seem to be new behavior though (happens in 1.1.3). The self-signed key+cert are different than the key+cert+ca defined in the kubeconfig. The cert/key/ca configured in the kubeconfig is maintained by our pki.

[2016-02-24 22:09] quinton-hoole commented on #21800
The only failures since yesterday afternoon are due to a temporary GCE quota issue.

All green right now :-)  Woo-hoo!

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/

[2016-02-24 22:09] #21800 closed

[2016-02-24 22:09] cjcullen opened #21920 "RouteController needs master.ClusterName param."
PR #18388 took it out. We still use it [here](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L215). Right now, the routeController can delete routes that it shouldn't be responsible for.

[2016-02-24 22:10] david-mcmahon commented on #21918
All fixed.  Looks like a curl to grab the hyperkube binary in the old Makefile on the branch wasn't using --fail and it just failed with a 404 and we got that mess in the "binary".

[2016-02-24 22:10] #21918 closed

[2016-02-24 22:11] bprashanth commented on #21866
This is https://github.com/kubernetes/kubernetes/issues/21085#issuecomment-183517587

[2016-02-24 22:13] quinton-hoole commented on #21824
For the record I also saw this on http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/383/ at 02/23/2016 17:40 PST, which just predates the fix in #21602.  So far so good since the fix.

[2016-02-24 22:15] bprashanth commented on #21866
More specifically, you should see:
[code]
In the kernel log for #20096. I think this is something @dchen1107 just wanted to document in the release notes. Our decision to do so should hinge on how frequently it happens, if it's a daily occurrence we should treat it more seriously IMO.

[2016-02-24 22:15] cjcullen commented on #21920
False alarm. Sorry.

[2016-02-24 22:15] #21920 closed

[2016-02-24 22:15] saad-ali commented on #20262
Because node availability is not guaranteed and the controller must be able to function independently anyway, this will just add unnecessary complexity and overhead. The source of truth must be the storage provider, not the nodes.

I am ok with adding a reconciler that ensures that the expected state of the world matches the actual state of the world. But, I would want this to check with the stora

[2016-02-24 22:16] mml commented on #21767
@pwittrock do you have a link to the whole run where this failed?

[2016-02-24 22:16] caesarxuchao commented on #21919
FWIW, I think it's this line barf at the ListOptions:
https://github.com/kubernetes/kubernetes/blob/master/pkg/runtime/codec.go#L146

The parameter codec first decodes the query parameter to a versioned object and then convert it to the internal object. The code fails because it cannot create a "romana.io/demo/v1" ListOptions.

[2016-02-24 22:17] quinton-hoole commented on #21809
I saw this test fail in http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/384/ at Feb 23, 2016 8:23:22 PM.

[code]

[2016-02-24 22:18] huang195 commented on #21813
Thanks for the reply. Closing this issue.

[2016-02-24 22:18] #21813 closed

[2016-02-24 22:20] yujuhong commented on #21866
The differences are:
 1. There were no docker errors leading to this.
 2. The node was starting only 30 pause pods with no crashlooping containers.

Thanks for the clarification.

[2016-02-24 22:23] roberthbailey commented on #21901
The kubelet certs shouldn't cause this sort of issue as they are used by the kubelet's https server, not as client certs.

[2016-02-24 22:24] ixdy commented on #21887
GitHub seemed to hiccup last night and fail a bunch of our builds. I'm not sure a retry would've helped, unless we kept retrying for many minutes.

[2016-02-24 22:25] janetkuo commented on #21467
This should be fixed.

[2016-02-24 22:25] #21467 closed

[2016-02-24 22:26] a-robinson commented on #20552
And in e2e-gce-slow this afternoon:
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/2565/

[2016-02-24 22:28] janetkuo commented on #21463
This is possibly fixed. Please reopen it when this happens again.

[2016-02-24 22:29] derekwaynecarr commented on #21916
@caesarxuchao - It helps.

[2016-02-24 22:29] a-robinson opened #21921 "e2e flake: pods should have their auto-restart back-off timer reset on image update [Slow]"
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pods.go:983 Feb 24 13:38:26.304: updating image did not reset the back-off value in pod=pod-back-off-image/back-off d3=5m22s d2=1m33s d1=2m49s

Build log at https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/2565/

[2016-02-24 22:29] caesarxuchao commented on #21829
I'll ignore these two links since the enclosing doc seems to be out dated:
[code]

[2016-02-24 22:29] bprashanth commented on #21866
Absence of evidence is not evidence of absence. Dawn observed this yesterday on a cluster in the wild. I can say with some confidence that it isn't *that* kernel bug, a hung task could of course be for many reasons, including another kernel bug or a buggy disk device driver (less likely with a GCE vm of course).

Hung tasks are *probably* exacerbated by our sending of kill signals. We can mitigate

[2016-02-24 22:32] caesarxuchao commented on #21829
Can we find some mesos guys to fix these links in the doc?
[code]

[2016-02-24 22:34] bgrant0607 opened #21922 "Deployment: preserve availability when maxUnavailability is not 100%"
Forked from #21872

If maxUnavailable isn't 100% or equal to the replica count, the user probably doesn't want all their replicas unavailable, so we should ensure at least one is available in that case. Similarly, for maxSurge, if it's non-zero, the user probably wants some surge.

cc @kargakis @janetkuo @mqliang @ironcladlou

[2016-02-24 22:35] nikhiljindal commented on #21803
Closing as https://github.com/kubernetes/kubernetes/pull/21857 this is merged.
Please reopen if it still occurs

[2016-02-24 22:36] caesarxuchao commented on #21829
@simon3z I think you create the ovirt.md, could you help fix this link?
[code]

[2016-02-24 22:37] ericandrewlewis commented on #21873
Part of this seems to be that I misconfigured `kube-proxy`. Fixing that surfaces this error

[code]

The cert for the kubernetes-
I guess the kube2sky container should be injected with the Kubernetes cluster root CA for HTTPS connections?

[2016-02-24 22:38] yifan-gu opened #21923 "/etc/hosts is not mounted by kubelet for rkt pods"
Since the pod IP is unknown before the rkt pod is running, so the kubelet won't mount the /etc/hosts file:
https://github.com/kubernetes/kubernetes/blob/v1.2.0-alpha.8/pkg/kubelet/kubelet.go#L1164

So what we should do here? Should we have a hosts file that doesn't have the entry: `$podIP $podName`?

cc @kubernetes/sig-node @kubernetes/sig-network @jonboulle @sjpotter

[2016-02-24 22:45] smarterclayton commented on #21919
The server should accept list options in the API version it is sent.  ListOptions should be in all third party groups.

[2016-02-24 22:45] macb commented on #21901
So maybe a red herring then?

[2016-02-24 22:47] ihmccreery commented on #20925
Ick.  See #21924; I configured it wrong.  Once that goes in, we should be in business.

Deploy a cluster at v1.1, build v1.2 and run the cluster v1.2 upgrade e2e, then run the test.  See https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/job-configs/kubernetes-upgrades.yaml#L171  It's a royal pain, and I apologize for that.  Working on making it better.

[2016-02-24 22:47] janetkuo commented on #21809
The above failure:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-ubernetes-lite/384/?debugUI=CLOUD
[code]

There were already 3 ready pods. Then the adopted RS created 3 more, and at least one of the pods the deployment manages doesn't contain pod-template-hash label.

[2016-02-24 22:47] roberthbailey commented on #21901
#19039 is about the *apiserver* overwriting certs, not the kubelet. If you apiserver was overwriting certs because you are passing in `--cert-dir` then the client cert that the kubelet is offering (after you upgrade) would be rejected.

[2016-02-24 22:48] #21900 closed

[2016-02-24 22:50] pjebs opened #21925 "Temporary pod"
I have a use case and I can't find a solution from within the k8s way of doing things. Am I missing something or is it by design?

I want to have a single unified url for clients to connect through.
I want each new request to be routed to a brand new container that is kick started just for the request. The program on the container will exit straight after responding to request and hence docker wil

[2016-02-24 22:52] macb commented on #21901
Ah sorry, `kube-apiserver` is not configured to use `--cert-dir` and instead uses the following flags:

[code]

Managed by our PKI. Verified the keys themselves have not changed recently.

[2016-02-24 22:53] ihmccreery commented on #19726
I will look into this more.

[2016-02-24 22:55] kargakis commented on #21922
So we should use math.Floor for maxUavailable and continue using math.Ceil for maxSurge.

[2016-02-24 22:58] mml commented on #12611
We really need to collect user feedback about how much flexibility is needed here.  If a cluster-wide policy is adequate, it can probably be configured via flags, and it will be easier to implement than the fully general idea of a DisruptionBudget object with selectors.

[2016-02-24 22:58] ihmccreery commented on #19726
It looks like we attempt to resolve `kubernetes.default.cluster.local` in v1.0 but not in v1.1 or newer: https://github.com/kubernetes/kubernetes/pull/11736.

[2016-02-24 23:00] roberthbailey commented on #21901
Can you try this:

`watch -n 3 curl --cacert=... --cert=... https://<ip>/api`

and pass in your client cert and ca cert. Then upgrade your apiserver and see if it still works.

[2016-02-24 23:01] bprashanth commented on #21809
Is it possible to surface RS overshoots in the error message (or clarify the 0 != 0 message)?

[2016-02-24 23:02] ihmccreery commented on #19726
Looking at that PR, I feel confident that this is very low priority.  It's just a test fix; it's just a matter of supporting (very) old DNS names.  Bumping down to P2.

[2016-02-24 23:02] mml commented on #21679
@mqliang how much flexibility do you need when specifying `MaxUnavailable`?  For example, is it sufficient to specify a single flag cluster-wide, like `10%`, such that during all operations like this we'll never go below 90% available for each daemon set's or replication controller's pods?

[2016-02-24 23:04] ihmccreery commented on #21699
Okay, I'm ~confident that none of the outstanding issues are release blockers.  The question now is just if we want to get a good signal going forward that v1.0 clusters work upgraded to and version-skewed with v1.2.  Like I said above, that would take a lot of engineering effort, so I'm not to worried, and I definitely don't think it's a release blocker.

[2016-02-24 23:04] janetkuo commented on #21809
or, it's actually 0 !> 0 message

[2016-02-24 23:08] ihmccreery commented on #19726
@thockin has confirmed that the endpoints removed in #11736 were deprecated before v1.0, so I feel fine not serving them in v1.2.

[2016-02-24 23:10] vishh commented on #21923
AFAIK, mounting in `/etc/hosts` started out to be workaround for a docker issue.
As long as rkt sets up `/etc/hosts` with the appropriate pod hostname and domainname, this should not be an issue.

[2016-02-24 23:13] smarterclayton commented on #21919
The thirdPartyResourceDataCreator should handle "ListOptions", which surprises me that it doesn't then respect the group.

[2016-02-24 23:18] davidopp commented on #12611
If these are global (or per-namespace) policies as you are advocating, then you presumably need to express them as a fraction of collection size, since a ReplicaSet or Job or whatever with 100 pods can probably tolerate more simultaneous pods down and higher eviction rate than one with 2 pods. Even as a fraction of collection size I'm not sure you can set a good global number, though. At the very

[2016-02-24 23:20] spxtr commented on #21367
http://ci-test.k8s.io/kubernetes-e2e-gce/12194
[code]

[2016-02-24 23:21] saad-ali opened #21931 "Detailed Design for Volume Mount/Unmount Redesign"
# Objective
* Rapid pod creation, deletion, and recreation for pods that require volume attaching/detaching/mounting/unmounting should never fail because of attach/detach/mount/unmount issues.
* Volumes that are attached/mounted should be gracefully handled on kubelet restart.
  * Issue https://github.com/kubernetes/kubernetes/issues/19953
* Two or more pods scheduled to the same node with the sam

[2016-02-24 23:23] saad-ali commented on #19953
Proposed design here: https://github.com/kubernetes/kubernetes/issues/21931. Implementation in progress.

[2016-02-24 23:23] caesarxuchao commented on #21919
I think we should add a wrapper around the api.ParameterCodec here: https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master.go#L642

[2016-02-24 23:28] spxtr commented on #21820
http://ci-test.k8s.io/kubernetes-e2e-gce/12193

[2016-02-24 23:31] roberthbailey commented on #21463
This caused e2es to fail in https://github.com/kubernetes/kubernetes/pull/21004#issuecomment-186174435 but that was 6 days ago so I don't think it warrants reopening this issue.

[2016-02-24 23:35] caesarxuchao opened #21932 "Remove the generated client for Scale"
Scale is a sub-resource, we shouldn't generate a typed client for it.

cc @lavalamp @madhusudancs

[2016-02-24 23:36] caesarxuchao commented on #21932
This cannot be done until we switch to use the dynamic client in the HPA controller:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal.go#L240
and https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal.go#L169.

[2016-02-24 23:37] david-mcmahon commented on #21918
See also https://github.com/kubernetes/kubernetes/pull/20710.  Going to defer to @fgrzadkowski

[2016-02-24 23:38] janetkuo commented on #21810
Can't reproduce or find this failure in gce, gke, or pull build test. @nikhiljindal are you running from HEAD when you saw this?

[2016-02-24 23:39] williamsandrew commented on #21918
Looks good. Thanks for the quick response!

[2016-02-24 23:39] bprashanth commented on #21810
I believe it was a local failure

[2016-02-24 23:42] nikhiljindal commented on #21810
Sorry, I was running HEAD code on GCE when I ran into this.

[2016-02-24 23:43] yujuhong commented on #21367
This failure is different. kubelet just missed the timeout by the second or two, probably due to the load on the node.

[code]

[2016-02-24 23:44] derekwaynecarr commented on #21915
Ah, good catch... everything is run as a container now, will update the documentation on where to get the logs.

[2016-02-24 23:50] derekwaynecarr commented on #21555
I will investigate this tomorrow morning.

[2016-02-24 23:51] macb commented on #21901
Before the upgrade API responded with:
[code]

Did a `service kube-apiserver stop`, got connection refused as expected. Replaced bin and then `service kube-apiserver start`.

API then responded with:
[code]

I left the `kubelet` at `1.1.3`. Soon after nodes began to be marked as `NotReady` and pods getting terminated. Some logs from the `kubelet` during that same period in case it'd help:
[code]

[2016-02-24 23:51] bprashanth commented on #21820
The last failure looks like a bug in the test:
[code]

Those are the same right?

The previous failure was:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/30266/consoleFull

From Spxtr's pr (https://github.com/kubernetes/kubernetes/pull/21914#issuecomment-188467484)

[code]

Which just looks like kubectl exec failed. Looking in the apiserver logs:
[code]
https://pa

[2016-02-24 23:56] bprashanth commented on #21820
[service1-0qfjf service1-7y872 service1-eqg9y], got
[ service1-0qfjf service1-7y872 service1-eqg9y]

Damn whitespace

[2016-02-25 00:02] janetkuo opened #21933 "nil pointer dereference in daemon controller"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21929/kubernetes-pull-build-test-e2e-gce/30298/
[code]

@mikedanese

[2016-02-25 00:04] caesarxuchao commented on #21919
Putting together a PR now and will let you guys review.

[2016-02-25 00:08] janetkuo opened #21934 "nil pointer dereference in deployment controller"
[code]

[2016-02-25 00:08] yujuhong commented on #21866
Clarification:

We didn't try killing docker. Our health check `docker version` worked fine during that time. The only thing that got repeatedly killed was kubelet, due to the docker be unresponsive.

[code]

[2016-02-25 00:09] navreetaft commented on #21925
If you're on GCE, you can try the following pragmatic solution:

1.  Setup autoscaling on the kubernetes cluster through cloud console.  You can put a ballmark CPU utilization metric
1.  Create 1 job for each request, or setup one job to have `n` successful completions
1.  Code the job so that each task would be pulled from a queue or a database and run it to completion.

If your tasks take a few

[2016-02-25 00:12] kargakis commented on #21746
cc: @derekwaynecarr

[2016-02-25 00:15] yifan-gu commented on #21923
Re @vishh , can we add `--hostname` for `rkt run/run-prepared` so that rkt writes the `/etc/hosts` with `$hostname $ip` in addition to other entries (localhost 127.0.0.1, etc) @jonboulle @steveeJ

[2016-02-25 00:16] lavalamp commented on #21919
I guess my point is, the list options are just there from the URL query parameters. The user didn't send a group. Why do we assume that value for the group rather than "/v1" or something?

[2016-02-25 00:16] yujuhong commented on #21921
[code]

`Failed: Failed to pull image "nginx": Network timed out while trying to connect to https://index.docker.io/v1/repositories/library/nginx/images. You may want to check your internet connection or if you are behind a proxy.` Looks like the image pulling failed, causing the extra delay (backoff). The test should use a versioned nginx image to avoid unnecessary pulling (#21610)

/cc @freehan

[2016-02-25 00:18] janetkuo commented on #21463
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21929/kubernetes-pull-build-test-e2e-gce/30298/
The deployment is rolled back successfully, but the old RS (nginx-deployment-yj3j0) didn't get scaled down before timeout.
[code]

[2016-02-25 00:19] pjebs commented on #21925
The 'tasks' will only go for about 30 seconds.
I'll be using DigitalOcean and not GCE.
Are you saying that there is no easy solution with Kubernetes?

[2016-02-25 00:20] a-robinson opened #21937 "unit/integration flake: kubernetes-test-go timing out"
kubernetes-test-go has failed in this way 5 times today. I'm not actually sure what the `Timeout starting apiserver` message is referring to. From the logs, it looks more like the real issue is `Build timed out (after 30 minutes). Marking the build as failed.` The integration test ran for about 10 minutes before the build timed out.
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/

[2016-02-25 00:20] roberthbailey commented on #21901
@cjcullen pointed me to https://github.com/kubernetes/kubernetes/pull/16148 which makes it look like you now need to use `apiGroup:*`.

[2016-02-25 00:21] a-robinson commented on #21878
This error is coming up a ton today - promoting to P0

[2016-02-25 00:22] a-robinson commented on #21878
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/12207/
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/12205/

And @spxtr mentioned he was seeing it on the parallel test suites as well

[2016-02-25 00:23] bgrant0607 commented on #21922
GetValueFromIntOrPercent could take a parameter to indicate round up vs. round down.

[2016-02-25 00:23] a-robinson commented on #21878
And since I now realize this issue was primarily about e2e-gce-scalability, the pods not being running and ready error is affecting our normal e2e suites now.

[2016-02-25 00:23] sjpotter commented on #21923
One thought I had is that perhaps its not right for kubelet to be setting up the /etc/hosts itself as per the problem it doesn't have all the info needed.

Rkt stage1 does have the info, so it make sense for it to be there.

perhaps the best approach is to not have kubelet try to add the local ip to the /etc/hosts file, but have rkt add it during stage1 while its bind mounting it into place.

[2016-02-25 00:25] nikhiljindal opened #21938 "Creating HPA using docs/user-guide/horizontal-pod-autoscaling/hpa-php-apache.yaml fails validation"
I ran:
[code]
which gave:
[code]

Adding validate=false ran fine.
[code]

I was running HEAD code locally.

cc @piosz @kubernetes/autoscaling

[2016-02-25 00:25] navreetaft commented on #21925
As far as I know, node autoscaling is not supported in k8s at this point in time.

Someone else might have a better solution for you.

[2016-02-25 00:26] #21739 closed

[2016-02-25 00:27] #21234 closed

[2016-02-25 00:27] vishh commented on #21923
In the case of `rkt`, we can totally skip bind mounting `/etc/hosts` as long as `rkt` does the right thing.

[2016-02-25 00:29] l0neranger commented on #21604
@ArtfulCoder

1. We are using flannel overlay network
2. kube-proxy is in iptables mode
3. No - we did not deploy our clusters using kube-up.sh

[2016-02-25 00:31] pjebs commented on #21925
The node autoscaling is not really a deal-beaker for me.
The number one issue is really just kick starting 1 container per request and routing the request to the container.

[2016-02-25 00:32] spxtr commented on #21878
For all of these, the cluster comes up but then it takes a long time for the pods to be running and ready. They eventually reach that point, but it seems likely that something is wrong. It's not the same pod every time, either.

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke/1662/ https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/1662/
[code]

[2016-02-25 00:34] yujuhong commented on #21878
@a-robinson, this bug is a dup of #21523, hence it was closed.

The error message is different from what's in this issue.
[code]

This seems to be kube-dns not healthy and kibana-logging crashlooping.

They don't seem to be related to this bug or #21523. Please file new bugs. Thanks.

[2016-02-25 00:34] #21878 closed

[2016-02-25 00:42] macb commented on #21901
Ah, so I simplified our policy file to debug. Seems like it's definitely related to that (and the change to deny by default).

Given a policy file of:
[code]

I deployed 1.2.0alpha8 `kube-apiserver` with the 1.1.3 `kubelet` and everything seemed healthy.

[2016-02-25 00:43] a-robinson opened #21940 "e2e flake: not all pods starting in time"
Coming up a bunch today:
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/12207/
[code]
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/12205/
[code]
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/1662/
[code]

[2016-02-25 00:43] a-robinson commented on #21940
cc @spxtr

[2016-02-25 00:44] ncdc commented on #21854
For exec, instead of surrounding your command with quotes, use --:

[code]

I don't know that this will fix your 404, however.

[2016-02-25 00:44] drngsl opened #21941 "kube-apiserver: Failed to list *api.Endpoints: couldn't get version/kind"
Hi!
I start my kube-apiserver server, in the log file, I see the same log:
`E0225 00:30:09.070061   10255 cacher.go:150] unexpected ListAndWatch error: pkg/storage/cacher.go:116: Failed to list *api.Endpoints: couldn't get version/kind; json parse error: json: cannot unmarshal number into Go value of type struct { APIVersion string "json:\"apiVersion,omitempty\""; Kind string "json:\"kind,omitempt

[2016-02-25 00:45] spxtr commented on #21878
It's not just kube-dns, in one of the arob's links it's monitoring-influxdb that doesn't come up, but the end result is the same.

[2016-02-25 00:45] derekwaynecarr commented on #21746
Adding to queue of vagrant stuff to look at tomorrow.

[2016-02-25 00:45] ncdc commented on #21806
@lavalamp is this something I could help out with? If so, can you point me to the specific test that needs editing?

[2016-02-25 00:46] ncdc commented on #21332
Fixed by #21602

[2016-02-25 00:46] #21332 closed

[2016-02-25 00:47] caesarxuchao commented on #21919
My understanding is we want to allow options to evolve differently in different groups. We do have v1.ListOptions and v1beta1.ListOptions. And if a client sends requeset to extensions/v1beta1 endpoint, then it's expected to encode the ListOptions to v1beta1 and then convert it to query parameters.

[2016-02-25 00:48] pwittrock commented on #20538
Done

[2016-02-25 00:48] #20538 closed

[2016-02-25 00:48] ncdc commented on #21231
We have exec e2e tests in kubectl.go. Do those just need to be marked [Conformance]?

[2016-02-25 00:49] pwittrock commented on #21605
Yes I will take a look

[2016-02-25 00:49] spxtr commented on #21940
On a normal run it takes <1 second for all pods in the kube-system namespace to report in. For all of these runs it looks like it's taking several minutes, and then something is still wrong because tests will fail.

[2016-02-25 00:52] roberthbailey commented on #21901
Excellent! #16148 was labeled as "release-note" so it should get rolled up into release notes for a release. It may be that since we haven't cut an official 1.2 beta or final release it hasn't been properly captured.

[2016-02-25 00:54] pwittrock commented on #21767
Yes: [mergeflake.txt](https://github.com/kubernetes/kubernetes/files/145735/mergeflake.txt)

[2016-02-25 00:55] bgrant0607 commented on #19299
Now that #21856 is in, the failure has changed, of this test and also others. I'm investigating.
[code]

[2016-02-25 00:56] pwittrock commented on #21767
Also:
https://doc-1c6us-10oao-s-googleusercontent.commondatastorage.googleapis.com/gs/fuc2vio4jd536so122rmrf52ehn3qlv5/nfbhte0cs20s3559geuq5p16ke5vkkn0/1456353000000/kubernetes-jenkins/01720166177040642613/ChJrdWJlcm5ldGVzLWplbmtpbnMSSXByLWxvZ3MvcHVsbC8yMDk0MC9rdWJlcm5ldGVzLXB1bGwtYnVpbGQtdGVzdC1lMmUtZ2NlLzI5OTYzL2J1aWxkLWxvZy50eHQ?a=AGjQbs4R7zWz8hx7U3HZF1jZNvDSIsI3zD3HhEVQRl8NndF39XtRB4-deKDlElRZ

[2016-02-25 00:56] yujuhong commented on #21878
@spxtr, influxdb was failing due to a different reason, which might be a docker bug. I pasted the relevant error message in https://github.com/kubernetes/kubernetes/issues/21878#issuecomment-188534652

[2016-02-25 00:58] macb commented on #21901
Ya, looking back I see the note in the 1.2.0alpha5 release. I'm not sure I would have recognized it as a potentially breaking change. It may be worth highlighting the "deny by default" change since it appears to be a breaking change from the current stable behavior.

[2016-02-25 01:02] pleegor opened #21944 "CentOS documentation bug?"
Hi I am following CentOS documentation and it appears it is for version 1.2. There is no `KUBE_ETCD_SERVERS="--etcd-servers=http://centos-master:4001"` in /etc/kubernetes config. However, it appears to be in /etc/kubernetes/apiserver. since the document covers older version where should configuration for `KUBE_ETCD_SERVERS="--etcd-servers=http://centos-master:4001"` be placed in version 2.0?

[2016-02-25 01:08] smarterclayton commented on #21919
Mostly because the parameter codec is supposed to abstract that.  "virtual"
groups need to be implemented by the virtual "parameter codec".  The
statement on floating server objects (List, Delete etc) was that they have
a locked API schema, and we have a mechanism to do that via the scheme
which is registering them in a group.

On Wed, Feb 24, 2016 at 7:16 PM, Daniel Smith <notifications@github.co

[2016-02-25 01:12] bgrant0607 commented on #19299
Deployment status didn't converge to the desired state of 4 UpdatedReplicas before the timeout:
[code]
Indeed, nginx-controller (old) had 3 replicas:
[code]
revision 1 correctly had 0 replicas.

But newRS had only 2 replicas:
[code]
All of the pods had been ready for about 5 minutes when the test timed out. So, the Deployment controller appears to be wedged somewhere.

[2016-02-25 01:12] yujuhong commented on #21921
Uploaded a PR to use nginx:1.7.9: #21945

[2016-02-25 01:21] bprashanth commented on #21820
The very first failure:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/12147/consoleFull
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/12147/artifacts/
[code]

So between 14:27:43 -> 14:28:48 (which btw is too short), we only contacted a single endpoint on node 104.154.104.223. That node's kube-proxy:
https://pantheon

[2016-02-25 01:27] bgrant0607 commented on #19299
BTW, I'm looking at kubernetes-jenkins/logs/kubernetes-e2e-gce-flaky/12282

It looks quite likely that expectations are never met now after some point, causing Deployment to stop doing anything. It waits on 2 deletes forever:
[code]

This may have been a bug in the deployment controller that was papered over by expiration.

I don't think we should have pod expectations. The Deployment controller s

[2016-02-25 01:28] bprashanth opened #21947 "Don't schedule all addons on the first node"
This used to not happen but it does now. The following pods landed on the first node that became ready on kube-up (jenkins-e2e-minion-50tl):
[code]
Scheduler logs:
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gce/12147/artifacts/104.197.127.170%3A22-kube-scheduler.log

Test logs: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes

[2016-02-25 01:30] bgrant0607 commented on #19299
Ah, expectations are registered in reconcileOldReplicaSets:
[code]

[2016-02-25 01:31] mml opened #21948 "We're building all platforms all the time"
Every time we run an e2e test, we build everything for darwin and windows (and arm).

We should verify that cross-compilation will work and probably test on those platforms, but when we're just running the tests on Linux all around, we could save a crapload of time.

This affects the time it takes to run on jenkins and also the time it takes to debug tests, assuming you want a fresh build.

For st

[2016-02-25 01:34] gemoya opened #21949 "nslookup: can't resolve 'kubernetes' with kube-dns-v8 in CrashLoopBackOff"
Hi
I am using kubernetes on docker based installation, on CentOS7. My goal is get heapster + graffana but I have problems with DNS (first step to get my goal).
I followed the github documentation of Kubernetes buy my kube-dns-v8 stuck on CrashLoopBackOff.
Some info:
My docker run

[code]

[code]

[code]

Setting kubectl

[code]

DNS setting up:
some of my bashrc

[code]

my yamls from dns rc and s

[2016-02-25 01:37] bgrant0607 commented on #19299
One definite problem that could cause this behavior is that we're setting expectations after they've already been satisfied, and setting expectations blows away the negative count -- it's not additive.

[2016-02-25 01:38] bgrant0607 commented on #19299
[code]

[2016-02-25 01:39] bgrant0607 commented on #19299
That's definitely it in this case.

[2016-02-25 01:41] bgrant0607 commented on #19299
We also ExpectCreations and ExpectDeletions on the same key, which doesn't work, either.

[2016-02-25 01:43] bgrant0607 commented on #19299
Actually, we don't. We expect creations on RSes and deletions on pods. Which is maybe worse -- we don't expect creations on pods.

[2016-02-25 02:13] yifan-gu opened #21951 "Container state is not updated correctly for rkt pods"
From kubectl we saw:
[code]

[code]

But on the node, `rkt list` shows the containers are running:

[code]

cc @sjpotter @kubernetes/sig-node

[2016-02-25 02:44] AdoHe commented on #21062
@deads2k yeap, the case is that user specify the `current-context` but not exist, in such case we should just fail.

[2016-02-25 02:48] bgrant0607 commented on #19299
A more-correct approach would be to:
1. Wait for previous expectations to be met (by aborting the sync round if not met)
2. Look at the Deployment, RSes, and Pods and decide what to do
3. Set expectations
4. Perform the actions, compensating expectations in the case of failures

[2016-02-25 03:04] justinsb commented on #21853
#21904 will fix this

[2016-02-25 03:06] justinsb commented on #21571
1.9.1 is now installed ... for now...

[2016-02-25 03:06] #21571 closed

[2016-02-25 03:06] dove-young commented on #21854
Here is the result of --

[code]
And here is when trace is set to 9
[code]

[2016-02-25 03:06] justinsb commented on #21607
It's not yet the default, but it does work (pretty well, actually!)

[2016-02-25 03:15] bprashanth commented on #21934
I'm also seeing the following stack
[code]

[2016-02-25 03:15] roberthbailey commented on #21901
/cc @liggitt

[2016-02-25 03:28] justinsb opened #21952 "servicecontroller requeues bad changes at the end of the queue, ignoring subsequent changes"
I found a concrete problem with the servicecontroller (more concrete than some of my locking complaints - I saw this one in the real world).  When we hit an error applying an update, we requeue the changes at the end of the queue: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/servicecontroller.go#L191

So suppose the user makes a "bad" change to a service (e.g. suppor

[2016-02-25 03:28] justinsb commented on #21952
cc @thockin because I think you were having a look at this area

[2016-02-25 03:30] justinsb commented on #21952
Actually, I'm confused as to what is happening here.  I think AddIfNotPresent is supposed to prevent this.  It doesn't appear to be doing so in practice.

[2016-02-25 03:35] ncdc commented on #21887
This is the sort of thing that just happens occasionally. We've seen this a lot in OpenShift CI runs. I'm not sure there's much you can do other than try to avoid external network access (e.g. bake tools into the VM image).

[2016-02-25 04:35] bprashanth commented on #21887
It seems to have occurred twice in the last 12h so retry w/ timeout can't hurt?

[2016-02-25 04:38] jdef opened #21954 "unit test flake: podsecuritypolicy / TestResourceLocation"
[code]

[2016-02-25 04:48] mqliang commented on #21679
@mml
A single flag cluster-wide may be not reasonable, since different Pod may have different availability requirements. So usually, I think user should check the Pods on the Nodes first, and set the `MaxUnavailable` value.

[2016-02-25 04:58] caesarxuchao opened #21955 "thirdparty resource discovery failure"
After I create the thirdparty reousrce, at http://127.0.0.1:8080/apis/example.com/v1x, server returns
[code]
I can probably make a fix tomorrow

cc @brendandburns @smarterclayton @lavalamp

[2016-02-25 05:06] roberthbailey commented on #21475
Just saw this again: https://github.com/kubernetes/kubernetes/pull/21004#issuecomment-188535853

[2016-02-25 05:13] justinsb commented on #21607
Will be fixed in #21958

[2016-02-25 05:14] justinsb commented on #21241
Fixed in my 1.2 integration branch, probably only once #21904 merges though

[2016-02-25 05:15] justinsb commented on #21690
Note: this apparently happens on a Mac.  Might be due to bash-differences.

[2016-02-25 05:18] justinsb commented on #21214
We will support wily and jessie in 1.2.  Both are working in my integration branch.  I believe once #21904 merges, both will work on master also.

[2016-02-25 05:18] justinsb commented on #21895
Fix available, PR pending.  Seeking clarification on why some changes were made that I will be breaking with this fix.

[2016-02-25 05:20] erictune commented on #21751
Saw [again](https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21776/kubernetes-pull-build-test-e2e-gce/30305/artifacts/?debugUI=DEVELOPERS)

[2016-02-25 05:25] #21765 closed

[2016-02-25 05:35] nikhiljindal commented on #21753
This is still failing.

I see panic in controller logs due to which syncDeploymentStatus fails and hence the test is still timing out waiting for ObservedGeneration to be updated.

https://github.com/kubernetes/kubernetes/pull/21935 from @janetkuo should fix the panic in controller.

[2016-02-25 05:58] #21934 closed

[2016-02-25 06:13] guoshimin opened #21960 "controller won't delete load balancer if service is deleted while controller is down"
To reproduce:

1. create a loadbalancer service
2. stop controller
3. delete the service
4. bring the controller back up

The loadbalancer is still there. Tested on AWS. Suppose it's the same for GCE.

[2016-02-25 06:28] Pensu opened #21961 "Wrong binary location in ./hack/local-up-cluster.sh"
Hi,

The script hack/local-up-cluster.sh is looking for binaries in /_output/local/bin/${host_os}/${host_arch} directory here: https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh#L166

While the binaries are in _output/local/go/bin directory. Same issue is with cluster/kubectl.sh script.
https://github.com/kubernetes/kubernetes/blob/master/cluster/kubectl.sh#L90

[2016-02-25 06:31] piosz commented on #20925
#21924 is merged. Could you please re-trigger suite?

[2016-02-25 06:34] bprashanth commented on #21952
I think if you have a reliable repro you should send a surgical fix for 1.2, and post 1.2 we should just rewrite it per https://github.com/kubernetes/kubernetes/issues/21625#issuecomment-187793530

Without having dug through the code yet, I'm going to wave my hands a bit and say it should be requeuing a key, not the actual object. The key that's requeued should be used to lookup the object, which

[2016-02-25 06:39] bprashanth commented on #21933
fwiw i think this is simply that we can't assume it's a pod in the !ok case: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/controller.go#L303

Also the comment right above should say daemon set instead of rc

[2016-02-25 06:46] bprashanth commented on #21960
I'm totally willing to believe the scenario you described is happening. To avoid it we should reconcile existing services of type=loadbalancer with the cloud, and viceversa. I think we're lacking the viceversa bit. The tricky part is knowing what we created vs what another kubernetes cluster in the same project might've created.

[2016-02-25 07:03] bgrant0607 commented on #19299
Taking a stab at a fix: #21963

[2016-02-25 07:04] innovia commented on #21690
It did not happen in on 1.1.7 so maybe compare the file from 1.2 with 1.1.7?
On יום ה׳, 25 בפבר׳ 2016 at 7:15 Justin Santa Barbara <
notifications@github.com> wrote:

--
Ami Mahloof
DevOps Engineer
Glide

[2016-02-25 07:11] davidopp commented on #18969
I'm moving this back to v1.2 and marking it P0 since it has started happening on 100 node clusters.

[2016-02-25 07:48] #17912 closed

[2016-02-25 08:05] gmarek commented on #21451
It's still happening:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/8824

It's currently most common blocker of merge queue.

[2016-02-25 08:24] nikhiljindal commented on #21753
Verified that the panic is now fixed with https://github.com/kubernetes/kubernetes/pull/21935.

Now the test is failing on https://github.com/kubernetes/kubernetes/blob/master/test/e2e/deployment.go#L197

[2016-02-25 08:36] wojtek-t commented on #21672
Yes - it seems that this issue is solved

[2016-02-25 08:36] #21672 closed

[2016-02-25 08:36] piosz commented on #21806
@ncdc It would be great if you could help with it.

There is a test [test-update-storage-objects.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/test-update-storage-objects.sh). Also there is an attempt to do it by @lavalamp  [here](https://github.com/kubernetes/kubernetes/pull/20866/files#diff-8dc3ac3856b6ae7bb59360438f5b4fe6). I'm not sure whether it makes sense. This is what I kno

[2016-02-25 08:36] piosz commented on #21806
cc @fgrzadkowski @mwielgus

[2016-02-25 08:37] roberthbailey commented on #20382
/cc @cjcullen

This change sounds reasonable to me. A long while back we queried the cloud provider directly to determine node addresses, but it made more sense for the node to just self-report them (which also doesn't burn API quota).

[2016-02-25 08:40] simon3z commented on #21829
@caesarxuchao the page was moved to:

http://www.ovirt.org/documentation/how-to/guest-agent/install-the-guest-agent-in-fedora/

[2016-02-25 08:42] gmarek commented on #10423
I'd like to bump the priority for this further - we don't have any logs to help with debugging #18969, which started to happen more often recently - it seems that #21183 didn't help. cc @davidopp @mml @ixdy @fejta @wojtek-t

[2016-02-25 08:43] Random-Liu opened #21967 "kubemark can't work with google cloud Project ID prefixed with domain name"
Some google cloud Project IDs are prefixed with domain name such as "example.com:my-project" (see https://cloud.google.com/compute/docs/projects).

My project id is also domain name prefixed. When I tried to start a kubemark cluster following [the guide](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/kubemark-guide.md), I found that kubemark can't work with such project ids.

In h

[2016-02-25 08:45] jimmycuadra commented on #11492
Another community solution (written by me and in progress), based on the proposal from #18215: https://github.com/InQuicker/ktmpl

[2016-02-25 08:46] jtbcgdv opened #21968 "Push hyperkube v1.1.8 to gcr.io"
Please could you update the hyperkube image in gcr.io?

I need to use some of the latest fixes.

[2016-02-25 08:50] nikhiljindal commented on #21753
I think I found the problem.

In DeploymentReaper, we assume that ReplicaSet reaper will delete the pods. But in our test case, we pause the deployment and then delete the replica set. Since there is no ReplicaSet, DeploymentReaper does not call ReplicaSetReaper and hence there are orphaned pods remaining at the end because of which the test is failing.

We should call PodReaper in case there are

[2016-02-25 08:50] innovia commented on #21692
i think maybe its the version of the grafana image?
 gcr.io/google_containers/heapster_grafana:v2.1.1

do you have a newer version?

[2016-02-25 08:54] davidopp commented on #21947
cc/ @gmarek

[2016-02-25 09:00] wojtek-t commented on #21947
This is definitely NOT the reason for all problems that we have with addons. For example in this run:
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-kubemark-gce/5947/consoleFull
there were kube-dns & kibana crashlooping, but there were on different machines.

[2016-02-25 09:03] #21968 closed

[2016-02-25 09:08] gmarek commented on #19014
Happening again in soak cluster:
[code]

[2016-02-25 09:17] stefwalter commented on #19720
Docker now requires that hijack callers pass the correct "Content-Type: application/json" in post requests containing data. This should be noted in the change log

With docker 1.9 we saw:

[code]

With docker 1.10.2 this is:

[code]

This applies whether data has actually been POSTed or not.

[2016-02-25 09:28] robertlemke commented on #21022
I can confirm these messages, we have a lot of these, too:

[code]

Running on GKE, Server Version is v1.1.7 (GitCommit:"e4e6878293a339e4087dae684647c9e53f1cf9f0")

[2016-02-25 09:30] jayunit100 commented on #21961
dont we copy the binaries from local/bin into hostarch/?

[2016-02-25 09:33] Pensu commented on #21961
I don't think so. I ran ./hack/build-go.sh and then I ran ./hack/local-cluster-up.sh. It couldn't find the binaries.

[2016-02-25 09:38] feihujiang opened #21969 "Provide a clear EventSource for events of schedulers"
```api.EventSource{Component: s.SchedulerName}``` in the event of schedulers only has SchedulerName, it's not very clear. Maybe we need to change it to ```api.EventSource{Component: "scheduler", SchedulerName: s.SchedulerName}```.
ref #19724
@mikedanese What's your point?

[2016-02-25 09:40] jayunit100 commented on #21961
Hmm. How is this working for anyone, at all then?

[2016-02-25 09:47] piosz opened #21970 "Add default behavior to HPA controller when neither cpu nor custom metrics target is set"
cc @fgrzadkowski @mwielgus

[2016-02-25 10:03] Pensu commented on #21961
Okay, so I reran it, not sure what's the issue, but when I run both scripts together, I can't find the binaries, but when I am running just hack/local-up-cluster.sh, I am able to find the binaries. Something else I need to figure out, I guess.

[2016-02-25 10:05] resouer opened #21971 "etcd keeps running after verify-swagger-spec.sh failed"
If I failed `hack/ verify-swagger-spec.sh` once, the etcd will keep running unless I kill it manually.

[code]

[2016-02-25 10:06] ixdy commented on #21451
Yup, I'd be more surprised if it stopped happening. I have no idea what's wrong, nor any idea of what to try next. As best I can tell nothing is intentionally attempting to delete the container. The switch from Docker 1.9.1 to 1.10.1 is still my greatest suspicion, but I can't explain why. I'm trying to reproduce the failure locally but haven't succeeded yet.

[2016-02-25 10:07] ixdy commented on #10423
I have too many P0s assigned to me already. This is at least 3rd in line right now.

[2016-02-25 10:37] ivajloip commented on #13242
Any development on this. Seems like it still does not work with 1.1.7

     ./cluster/kubectl.sh version -c
     Client Version: version.Info{Major:"1", Minor:"1", GitVersion:"v1.1.7", GitCommit:"e4e6878293a339e4087dae684647c9e53f1cf9f0", GitTreeState:"clean"}

And I see similar output (the help for `kubectl replace` + *Error: unknown flag: --patch*). Is there another way to mark a node as *unsche

[2016-02-25 10:55] wojtek-t opened #21973 "e2e flake: dns and kibana are failing in cluster"
I observed a situation where dns and kibana didn't started correctly in cluster:

    11:36:04 Feb 24 11:36:04.003: INFO: POD                      NODE                     PHASE    GRACE  CONDITIONS
    11:36:04 Feb 24 11:36:04.003: INFO: kibana-logging-v1-si37t  jenkins-e2e-minion-2stw  Running         [{Ready False 0001-01-01 00:00:00 +0000 UTC 2016-02-24 11:33:35 -0800 PST ContainersNotReady co

[2016-02-25 11:00] gmarek commented on #10423
This one is half year old and is P0 for a month...

[2016-02-25 11:26] soltysh opened #21975 "e2e flake: RollingUpdateDeployment should delete old pods and create new ones [timed out waiting for the condition]"
Yet another one in deployments, seen in https://github.com/kubernetes/kubernetes/pull/21776, full log is [here](https://00e9e64bac0662611cc1fd38830c9c7e1b30c5fec7aa823483-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F21776%2Fkubernetes-pull-build-test-e2e-gce%2F30377%2Fbuild-log.txt?qk=AD5uMEvw8FmYbO6x2nikTJOUDV4ngBo-BwpJyIgQnkALKA3h7EFknWG57Rlk

[2016-02-25 11:41] soltysh commented on #21138
Isn't this a dupe of #20778 ?

[2016-02-25 11:55] jsravn opened #21976 "Can't mount EBS volumes with aws cloud provider, instance not found"
I believe this is a similar problem to #11543.

When mounting EBS volumes:

[code]

It uses GetHostName() instead of looking up the private-dns-name of the instance.

[2016-02-25 12:03] jsravn commented on #21976
I think this will be an easy fix and we'll look at doing it. Should be a matter of passing `""` into AttachDisk for the instance name, instead of `GetHostName()`.

[2016-02-25 12:18] pires commented on #18171
@zmerlynn @thockin care to link `how to switch over to the beta iptables proxy`? Asking for GKE clusters 1.1.7.

[2016-02-25 12:29] gmarek commented on #21313
#21759 should have fixed this. I'll keep it open for some time to remember to verify if it did. Decreasing priority in the meantime.

[2016-02-25 12:42] gmarek commented on #21500
Finally got data from 1000 node cluster:
[code]
I also gathered 100th percentile this time:
[code]

[2016-02-25 13:04] jayunit100 commented on #21961
Ok or maybe it's a bug in build-go... But it's worth getting to the bottom of . Thanks for digging

[2016-02-25 13:12] justinsb commented on #21952
Yes - I was thinking about this and think it might actually be good news:

1. If there's a bug here with the requeuing priority, it should be easy to fix.  It looks like it is supposed to not requeue if there's a newer version, but that didn't match what (I thought) I was seeing.  I'm gong to look at this issue first thing this morning
1. We could put the requeue into a defer.  It's not great, but

[2016-02-25 13:24] justinsb commented on #21952
I don't mean a defer... I mean a goroutine which sleeps before re-enqueuing.  A deferred re-enqueue.

[2016-02-25 13:27] wojtek-t commented on #21722
+1 - I agree that this is P0 - it makes debugging some issues mostly impossible

[2016-02-25 13:43] gmarek commented on #21973
Few more datapoints:
logs from a healthy proxy:
[code]
logs from a crashlooping one:
[code]

Kube-proxy fails when trying to write a hashsize in the last line, but the first difference is in
[code]

[2016-02-25 13:55] piosz commented on #21938
Thanks @nikhiljindal for reporting. I'll take a look.

[2016-02-25 13:56] joshuacox commented on #21315
@janetkuo I have tried a few examples on the internet both in the GCE kubernetes cluster and my raspberrypi (*of note I always change out the image for something arm compatible on pi cloud), and I have yet to see a singe readiness check work.  Is there a known working example for a fresh kubernetes cloud built in GCE?

[2016-02-25 14:02] gmarek commented on #21947
Even though it's not a reason for dns/kibana failures (#21973) it's probably not a desired behavior. It may be caused by too responsive scheduler:).

We either need to add some wait before we start scheduling system pods, or we can add a rescheduling logic for them. I think that the latter will be easier. I don't think it's a v1.2 blocker but we should remember about this when problem designing re

[2016-02-25 14:05] wojtek-t commented on #21947
I agree it's not desired behavior, but I don't think it's very urgent (at least we have a bunch of more urgent issues).

[2016-02-25 14:21] #20047 closed

[2016-02-25 14:24] guoshimin commented on #21960
For AWS, would tagging the ELBs with KubernetesCluster={cluster_name} be
sufficient? Alternatively, can controller store the information about the
LBs it created in etcd?
On Feb 24, 2016 10:47 PM, "Prashanth B" <notifications@github.com> wrote:

[2016-02-25 14:37] bgrant0607 commented on #21975
Previous failure for this test: #21810

Probably same issue as #19299

[2016-02-25 14:45] ncdc commented on #21887
It can't hurt... but it may or may not help depending on the extent of the external issue

[2016-02-25 14:47] wojtek-t commented on #21359
https://github.com/kubernetes/kubernetes/pull/21871 was already been merged - thanks to it we should have necessary logs in case of next such failure.
Waiting for the next one to debug it.

[2016-02-25 14:53] gmarek commented on #21973
I look around the web and I found that it's often caused by `br_netfilter` kernel module not being loaded. It's unlikely a race, as it's a crashloop, not a single failure. cc @kubernetes/goog-cluster @thockin

[2016-02-25 15:09] cpg1111 commented on #21883
error: couldn't find a replication controller with source id == default/<service name>

[2016-02-25 15:11] wojtek-t commented on #20638
Yeah - and we managed to run load test successfully in 1000-node kubemark. So all problems seem to be solved now.

[2016-02-25 15:20] jsafrane commented on #21931
The proposal looks fine to me, only one thing scares me: you must not detach a volume before unmounting it. There may be some unwritten pages and detaching the volume could corrupt the filesystem or application data on it.

Changing order of the operation will have some impact on your design, maybe you can unmount the volume first, then detach and only after that delete `kubernetes.io/{plugin}/mou

[2016-02-25 15:24] jsafrane opened #21984 "RFC: Create cloudprovider.Volumes interface"
It would be nice if we had `Volumes` interface in our cloud providers which would encapsulate all volume operations:

[code]
`Volumes` may not be the best term to use here, it can be confused with Kubernetes volumes and persistent volumes. Would `Disk` be better? `AttachDisk()`, `DetachDisk()`, ...

Especially note `CreateDisk` method. It accepts `VolumeOptions` argument, which specifies what voul

[2016-02-25 15:29] jsafrane commented on #21984
@saad-ali, you are my GCE contact, opinions?
@anguslees. anything to add for OpenStack?

And who's responsible for AWS?

cc: @kubernetes/sig-storage

[2016-02-25 15:30] wojtek-t commented on #21138
Yes - actually it is. Since there seem to be more discussion there, I'm closing this one.

[2016-02-25 15:40] justinsb opened #21986 "AWS: Should not make arbitrary choice between instance security groups"
If there are two security groups on an instance, we currently make an arbitrary choice.  We should choose based on tags, as we normally do.

For back-compat, we need to cope if there is one security group and it is not tagged.

We should make sure kube-up tags our security groups, though it isn't really required for kube-up, but it is just good behaviour.

cf #20790

[2016-02-25 16:02] rootfs commented on #21984
what about making `VolumeOptions` an union of types for individual volumes? Each cloud provider exposes the create volume input as part of the union.

What if you also add `ceph`, `iscsi` and `fc` (maybe want to set admission control, etc) into the picture?

[2016-02-25 16:08] #21789 closed

[2016-02-25 16:19] elouanKeryell-Even opened #21988 "apiVersion required in specs"
field `apiVersion` is marked as 'not required' in the docs, although it seems to me it actually is required. For example, creating this small service:

[code]

fails with:

[code]

**My setup:**

kubectl version 1.1
CentOS 7
Docker version 1.9.1

[2016-02-25 16:26] derekwaynecarr opened #21990 "e2e flake: Port forwarding With a server that expects a client request [It] should support a client that connects, sends data, and disconnects [Conformance]"
[code]

[2016-02-25 16:33] mattmoor commented on #21967
It looks like in place of `$(PROJECT)` this should use `$(subst :,/,$(PROJECT))`

[2016-02-25 16:35] justinsb opened #21991 "e2e/build/docker flake: Successfully built X, no such id: sha256:<X>"
I'm guessing a concurrent docker cleanup and I just got really lucky/unlucky. Although I think running this in a container might be new?

https://github.com/kubernetes/kubernetes/pull/21905#issuecomment-188413640

[code]

[2016-02-25 16:41] yujuhong commented on #19720
It was actually mentioned above in https://github.com/kubernetes/kubernetes/issues/19720#issuecomment-178906455, and we've already upgraded go-dockerclient to handle this properly :)

[2016-02-25 16:52] mingfang commented on #19720
https://github.com/kubernetes/kubernetes/issues/19720#issuecomment-178906455 fixes a major pain for us. can we please get a point release with this fix?

[2016-02-25 16:57] justinsb opened #21993 "AWS: Don't try to create an ELB if we end up with no subnets"
User reported an error (when using a private ELB, but we can avoid this anyway)...

[code]

[2016-02-25 17:00] aveshagarwal commented on #17632
I am not able to reproduce this and found that this is fixed in https://github.com/kubernetes/kubernetes/pull/20481

[2016-02-25 17:02] #19864 closed

[2016-02-25 17:11] erictune commented on #14968
Seen today.

[2016-02-25 17:12] erictune commented on #14968
[Logs](https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21776/kubernetes-pull-build-test-e2e-gce/30456/?debugUI=DEVELOPERS)

[2016-02-25 17:15] ihmccreery opened #21994 "GKE upgrade-cluster step failed after 5 hours"
Jenkins should never time out that suite; the timeout should be baked into the test.

http://kubekins.dls.corp.google.com/job/kubernetes-upgrade-gke-1.1-master-step5-upgrade-cluster/449/

[2016-02-25 17:28] dchen1107 commented on #21866
@bprashanth is right. This is a different issue docker/docker#9605 since 1.5 release. This is relative rare case comparing to unregister_netdevice issue.

@yujuhong the reason kubelet is killed because docker API request hang, which makes syncLoop too long, fails kubelet health check here. If we switch back to docker ps from docker version, you will see both docker and kubelet restart. The only wa

[2016-02-25 17:33] dchen1107 commented on #21751
@timstclair Can you take a look at this one? Thanks!

[2016-02-25 17:34] bgrant0607 commented on #21922
Deployment was fixed by #21957

[2016-02-25 17:34] #21922 closed

[2016-02-25 17:47] wojtek-t commented on #21451
Please take a look at #21977

[2016-02-25 17:56] derekwaynecarr opened #21995 "e2e flake: It should ensure a single API token exists"
It] should ensure a single API token exists
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service_accounts.go:152
STEP: waiting for a single token reference
Feb 25 08:46:55.622: INFO: default service account has a single secret reference
STEP: ensuring the single token reference persists
STEP: deleting the service account token
STEP: waiting for a new token refer

[2016-02-25 17:56] derekwaynecarr commented on #21995
@liggitt

[2016-02-25 18:03] yujuhong commented on #21866
I knew that and was just telling @bprashanth that docker wasn't being killed during that time because he wrote "Hung tasks are probably exacerbated by our sending of kill signals" :)

[2016-02-25 18:03] sosiouxme opened #21996 "Have LimitRanger show ratio inputs when rejecting based on ratio"
A user complains:

Now this is partly just not knowing what the ratio is about, however I think there's a valid concern here: the user doesn't "provide" the ratio, it's calculated from the limit/request numbers, and those aren't necessarily provided by the user either.

So this is an enhancement request to have this error message also supply the actual numbers of the limit / request to give the us

[2016-02-25 18:04] yujuhong commented on #19720
The fix will be included in the coming v1.2 release. Do you mean that we should backport the change to the v1.1 branch?

[2016-02-25 18:05] caesarxuchao commented on #21829
Thanks @simon3z. Fixed in #21927.

[2016-02-25 18:09] lavalamp commented on #21911
We need to get logs from nodes that don't come up. I guess this is a dup of #21722

[2016-02-25 18:09] #21911 closed

[2016-02-25 18:10] lavalamp commented on #21947
Is this just because all the addons were pending before any nodes were added? If so it makes sense that the scheduler put them all in the same place if one node came up very long before other nodes.

[2016-02-25 18:12] lavalamp commented on #21947
I can imagine solving this by:
* Waiting until all/enough nodes are ready to attempt to start the addons
* Implementing a rescheduler

Neither of those are attractive in the short term. Is it really that bad when these things are colocated?

[2016-02-25 18:13] lavalamp commented on #21990
I guess CSI sort of owns this test, even though the failure doesn't sound like it's something we own.

[2016-02-25 18:13] zmerlynn commented on #19720
We don't typically cherry-pick changes like that. It's not well documented, but minor releases are vetted for a particular, closed interval of Docker versions. e.g. at this point we're only going to claim support for 1.2.x up to 1.9.1, I presume.

[2016-02-25 18:14] lavalamp commented on #21990
@derekwaynecarr Can you post the link of where you got that log message?

And then @krousey, can you dig through the logs to figure out what happened to the pod?

[2016-02-25 18:15] lavalamp commented on #21990
Pods not starting is a theme today: #21940

[2016-02-25 18:16] derekwaynecarr commented on #21990
I accidentally deleted the comment.  Apologies.

[2016-02-25 18:16] spxtr commented on #21722
It seems like we want to run `test/e2e/core.go:CoreDump` before tearing down the cluster, regardless of whether or not we ran tests.

[2016-02-25 18:17] lavalamp commented on #21940
Not convinced this is a test-infra problem, but maybe @spxtr can triage.

@dchen1107 fyi

[2016-02-25 18:17] dchen1107 commented on #21523
@wojtek-t I scan through the link you posted at #21878, the issue matches my initial thoughts here. From both docker and kubelet logs, one can see that right after kubelet configured cbr0, and restart docker, docker run into this issue.

Related docker log:
[code]

I checked code at https://github.com/kubernetes/kubernetes/blob/699c80b75226e6adae67573569c386a62a578bae/pkg/kubelet/container_bridge.

[2016-02-25 18:18] spxtr commented on #21940
It doesn't seem like test infra, but I'll take a closer look.

[2016-02-25 18:18] lavalamp commented on #21973
Is this a dup of #21940?

[2016-02-25 18:18] bprashanth commented on #21947
A node with all the addons just introduces latency differences, which we can fix by setting the right requests on pods I guess, but tests run in namespaces without limit ranges. Any pod without requests gets defaulted to the amount of cpu pause gets (2 shares).

I think I agree with this not being urgent given the other issues we're dealing with right now.

I've seen similar confusion on slack. Pe

[2016-02-25 18:20] lavalamp commented on #21940
This looks very similar to #21973

@thockin is it possible some recent change did something to break KubeDNS startup?

[2016-02-25 18:21] lavalamp commented on #21973
Assign to @spxtr to figure out if it's dup or not.

[2016-02-25 18:23] krousey commented on #21990
@derekwaynecarr So we don't know where the logs are?

[2016-02-25 18:26] lavalamp commented on #21947
Scheduler can schedule all six addons in a second or two, so unless the nodes come up at basically the same time, all addons will go to the same node.

The hostPort hack isn't good for this, it would require you to have at least as many nodes as addons, which is not true in our tests. And if we had some sort of soft constraint, that wouldn't solve the problem as the problem is that scheduler needs

[2016-02-25 18:26] derekwaynecarr commented on #21990
It came on the referenced PR in this issue, but I have been getting multiple flakes, and accidentally deleted the comment so I don't know how to find the list of all build logs ever associated with #20446

[2016-02-25 18:29] bprashanth commented on #21947
Yeah, that's not my idea, it's what people do

[2016-02-25 18:29] caesarxuchao commented on #21693
fixed by #21780. Closing.

[2016-02-25 18:29] #21693 closed

[2016-02-25 18:29] lavalamp opened #22000 "Turn off client throttling in integration tests"
I see in logs things like this:

[code]

There's no reason to throttle in integration tests. In fact it'd probably be a more effective test if it didn't throttle. And faster, too.

Thanks @wojtek-t for adding the log message that lets us notice this.

[2016-02-25 18:30] derekwaynecarr commented on #21990
@krousey - found the link in history:

https://doc-02o22-1koto-s-googleusercontent.commondatastorage.googleapis.com/gs/rsbp87i9depc1vki877t9urscr6pcu7m/92kjeqi7cg1v4qhmj1mlpd9citr9blb7/1456416000000/kubernetes-jenkins/01814200508253236101/ChJrdWJlcm5ldGVzLWplbmtpbnMSSXByLWxvZ3MvcHVsbC8yMDQ0Ni9rdWJlcm5ldGVzLXB1bGwtYnVpbGQtdGVzdC1lMmUtZ2NlLzMwNDU0L2J1aWxkLWxvZy50eHQ?a=AGjQbs7Ovdl2rzpO0XBK37fTGulIPKq

[2016-02-25 18:30] bprashanth commented on #21947
There are 8 addon pods, a net of 14 containers (not counting static pods)

[2016-02-25 18:33] lavalamp commented on #21937
I don't see anything obviously wrong. I did file #22000, client throttling might be slowing down the integration test a tad.

We did recently start testing multiple combinations of api versions. So that would double the time for the unit and integration tests, since we run them two ways now.

[2016-02-25 18:34] spxtr commented on #21940
http://ci-test.k8s.io/kubernetes-e2e-gce/12260

[code]

[2016-02-25 18:37] jackgr commented on #11492
@jimmycuadra Would you like to present to the configuration SIG? If so, please join https://groups.google.com/forum/#!forum/kubernetes-sig-config and add an item to the Agenda document. Thanks.

[2016-02-25 18:39] bprashanth commented on #20987
Duping into https://github.com/kubernetes/kubernetes/issues/20552

[2016-02-25 18:39] #20987 closed

[2016-02-25 18:40] caesarxuchao opened #22001 "client-gen: generated files should show command used to generate them"
This would be useful if people want to regenerate the clientset.
cc @krousey

[2016-02-25 18:41] wojtek-t commented on #22000
I think that we shouldn't switch of throttling.
What we should do is to increase the QPS limit - the default QPS limit in client is 5 (10 in burst). This is very low, since we are basically using just a single client in integration test IIUC.

What we should do is to increase it to 10 (20 burst) or even 20 (30 burst) [20/30 is what all k8s components have].
BTW - we should probably increase it als

[2016-02-25 18:41] bprashanth commented on #20910
I'm working on a couple of fixes from https://github.com/kubernetes/kubernetes/issues/21820 that should help here too. Leaving this open so people can dupe based on title.

[2016-02-25 18:41] wojtek-t commented on #22000
Thanks to this change, we will be able to not throttle now, and in case of significant regression we will be able to see that in logs (that we are generating many more regressions).

[2016-02-25 18:47] lavalamp commented on #21955
Thanks for finding. Add a test (integration?) along with the fix so we don't reintroduce in the future.

[2016-02-25 18:49] wojtek-t commented on #21523
Thanks a lot for looking into it @dchen1107 . Looking forward to see the fix :)

[2016-02-25 18:54] caesarxuchao opened #22002 "hack/lib/etcd.sh should enforce a higher version of etcd"
Currently it enforces etcd version >= 2.0. https://github.com/kubernetes/kubernetes/blob/master/hack/lib/etcd.sh#L35

etcd 2.0 has known issues such as missing watch events (https://github.com/kubernetes/kubernetes/issues/20498#issuecomment-183095279), we should enforce a higher version, probably enforce the version defined in install-etcd.sh: https://github.com/kubernetes/kubernetes/blob/master/h

[2016-02-25 18:54] bgrant0607 commented on #15493
I only see 3 reports of failures since October, so I'm going to say, no, it doesn't need to be fixed in 1.2.

[2016-02-25 18:56] yujuhong commented on #21751
FWIW, I saw some fishy messages in in https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21776/kubernetes-pull-build-test-e2e-gce/30305/artifacts/ (node: 104.197.48.84)
It seems like docker was giving conflicting view of the container status, i.e., whether the container was running or not (and whether kubelet should kill it).

kubelet's first attempt to kill the conta

[2016-02-25 18:57] lavalamp commented on #22000
Sure, making the number a lot bigger works for me. I think it should be big enough that typically no throttling happens in the tests. If that means 50 or 100 qps, then so be it :)

[2016-02-25 18:58] lavalamp commented on #22002
I think @ixdy regularized the etcd version we install? Maybe this script should get its etcd version from the same place.

[2016-02-25 18:59] wojtek-t commented on #22000
I'm happy to change it tomorrow.

[2016-02-25 19:08] Random-Liu commented on #21951
Could you please try `kubectl get pod  l7-lb-controller-5sdcm -o yaml --namespace=kube-system` and paste the result? I'd like to see what is the reason and message of Waiting state. :)

[2016-02-25 19:11] sjpotter commented on #21951
I can do that when it happens again, its happens randomly on restarts.
 i.e. it might work correctly a lot, then suddenly get wedged.

On Thu, Feb 25, 2016 at 11:09 AM, Lantao Liu <notifications@github.com>
wrote:

[2016-02-25 19:13] ixdy commented on #21451
I think I'm going to try rolling back to docker 1.9.1 to see if this makes it stop.

[2016-02-25 19:16] spxtr commented on #21973
It's definitely a dup. Looks like this issue has more information, though.

I'm almost certainly not the right person to fix this.

[2016-02-25 19:19] Random-Liu commented on #21951
@sjpotter Thanks a lot!

[2016-02-25 19:25] ncdc commented on #21990
I think we need more of a generic "pods failed to start for 5m" issue instead of creating a new issue for each specific test case when this happens

[2016-02-25 19:26] Stephenitis commented on #3945
@davidopp can you clarify what you mean by conflict selector? is this a current feature or should I just be following progress on affinity?

[2016-02-25 19:31] janetkuo commented on #21975
Looking at the [log](https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21776/kubernetes-pull-build-test-e2e-gce/30377/?debugUI=CLOUD), the timeout is due to waiting for pod expectations (0 add, 1 del) before reconciling old rs.

[2016-02-25 19:31] krousey commented on #21990
@derekwaynecarr That link doesn't work for me. After some sleuthing, I think it's this

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20446/kubernetes-pull-build-test-e2e-gce/30454/

[2016-02-25 19:35] janetkuo commented on #21809
The first failure mode is due to hash value changing after labeling pod template and should be solved by #21795.

[2016-02-25 19:35] supershal opened #22004 "unable to create service with AWS load balancer for a pod running in single az."
Kubernetes version: 1.1.7
I have one replica of a pod A running in AZ: us-west-2a. There is no other replica of pod A running in any other AZ.
btw, I have other different type of unrelated pods (B, C, D) deployed in all AZs (us-west-2a, us-west-2b and us-west-2c)

I am trying to create service with ELB in front of the a pod A that exists only in us-west-2a zone.
ELB should pickup proper subnets be

[2016-02-25 19:37] ixdy commented on #21451
The post-commit Jenkins builder VM has been downgraded to docker 1.9.1. I'll downgrade the PR Jenkins VMs over the next few hours.

[2016-02-25 19:38] nikhiljindal commented on #21353
Any progress @AdoHe?
This is a 1.2 issue.
Would be great if we can get this fixed asap.

[2016-02-25 19:41] janetkuo commented on #21491
Taking a look at this now.

[2016-02-25 19:41] mml opened #22005 "Debugging unstarted pods is hard"
Just bringing up an e2e cluster....

[code]
1. The values for "Status" don't match.  ImagePullBackOff vs Pending
2. No events, no error messages, no indication of what the problem is, probably without looking at the kubelet logs.  http://www.sadtrombone.com/

[2016-02-25 19:43] fabioy commented on #21359
We got a few failures, if you want to take a look:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-kubemark-gce/5970/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-kubemark-gce/5971/

[2016-02-25 19:46] nikhiljindal commented on #21491
I am pretty sure that the problem is https://github.com/kubernetes/kubernetes/issues/21753#issuecomment-188673390.

I am trying out a fix

[2016-02-25 19:49] janetkuo commented on #21491
Thanks @nikhiljindal!

[2016-02-25 19:54] yujuhong commented on #21951
IIUC, rkt pods takes a while to become *running*. That means it will stay in an intermediate state (I don't know the correct state) for a while. The docker logic where kubelet only consider *running* and *exited* containers may not be able to handle this. It can even create a new pod since the current pod is not running.

As for why the rkt container stays in the *waiting* state, we'll probably ne

[2016-02-25 19:54] mikedanese opened #22007 "actors participating in leaderelection should annotate objects with a sequence number of the leadership"
This allows actors to self validate their leadership over single objects.

We can implement a monotonically incrementing sequence number in the leader election record easily. Actors should annotate objects that they sync with this sequence number. Actors should not sync objects that have a sequence number greater then the actor's current sequence number.

This ensures that leader transition is ato

[2016-02-25 19:58] yifan-gu commented on #21951
[code]

[2016-02-25 19:59] fangweili opened #22008 "FailedMount/FailedSync error when multiple pods are scheduled on to same host"
environment: Google Container Engine
master version: 1.1.7

RC config as:
...
      "spec": {
        "containers": [
          {
            ...
            "volumeMounts": [
              {
                "name": "my-storage",
                "mountPath": "/var/lib/mnt",
                "readOnly": true
              }
            ]
          }
        ],
        "volumes": [
          {

[2016-02-25 20:00] derekwaynecarr commented on #21996
Makes sense to me, will look to get a PR.

[2016-02-25 20:04] thockin commented on #21984
This has been discussed before - there is not a 1:1 mapping of cloud
provider to volume type.  Any such API would have to overcome that extra
level of indirection.

On Thu, Feb 25, 2016 at 7:24 AM, Jan Šafránek <notifications@github.com>
wrote:

[2016-02-25 20:06] derekwaynecarr commented on #22000
:+1:

[2016-02-25 20:07] wojtek-t commented on #21359
@fabioy - actually both of the are different failures.

[2016-02-25 20:09] thockin commented on #21948
There are a few bugs on this already.

On Wed, Feb 24, 2016 at 5:32 PM, Matt Liggett <notifications@github.com>
wrote:

[2016-02-25 20:18] ixdy commented on #21451
Lots of PR unit test runs started failing on the downgraded nodes with
[code]

... which makes no sense, since the post-commit Jenkins is having no issues. (Also, there was one unit/integration run which didn't hit this issue.)

[2016-02-25 20:19] ixdy commented on #21451
(It's possible the root-cause for this bug may be that the 1.9.1->1.10.x upgrade didn't happen cleanly, either.)

[2016-02-25 20:19] davidopp commented on #9044
We have some standard labels emerging, and we've been putting them in
`pkg/api/unversioned/well_known_labels.go`

I think we will eventually have cloud-provider-specific node labels, e.g. for features that are available on one cloud provider but not others, so we should think about a label key namespacing scheme for that. It's a little unfortunate that our label keys are all top-level now, since i

[2016-02-25 20:24] derekwaynecarr commented on #21555
I recommend working from master/HEAD ; the base box has been bumped to Fedora 23 and you should not see this issue with salt bootstrapping.  If you continue to have problems, please re-open.

[2016-02-25 20:24] #21555 closed

[2016-02-25 20:27] aveshagarwal commented on #18751
If nobody is looking into it, I would be happy to work on it.

[2016-02-25 20:28] therc commented on #19854
On a related note, what's the story with stand-alone mode? https://github.com/kubernetes/kubernetes/blob/master/docs/admin/high-availability.md and, in particular, https://github.com/kubernetes/kubernetes/blob/master/docs/admin/high-availability/default-kubelet tell people to use `--configure-cbr0=true`.
But that results in
`kubelet.go:2294] skipping pod synchronization - [ConfigureCBR0 requested,

[2016-02-25 20:28] davidopp commented on #3945
I actually have no idea what I meant with that comment. The way to get a guarantee of no more than one pod per node today is to set a hostPort in your pod template, so that every replica will get the same hostPort and thus the scheduler won't put more than one replica on a node (since only one pod can take the same host port on a node). We will have a principled method of specifying this once pod

[2016-02-25 20:32] ixdy commented on #21451
All Jenkins VMs (except the post-commit Jenkins master, which doesn't run unit tests) have been downgraded to docker 1.9.1. Will watch to see if that resolves this issue.

[2016-02-25 20:34] eparis commented on #21451
1.9->1.10 does some image format update of some sort....  when you rolled back 1.9 probably thought there were images present, but were in the new 1.10 format it couldn't understand....   you probably did the right thing blowing it away on downgrade....

@dwalsh last 3 comments are about 1.10->1.9 downgrade failures.  FYI.

[2016-02-25 20:38] ncdc commented on #21451
@eparis from what I recall the image upgrades performed in 1.10 aren't supposed to be destructive, so you should be able to roll back... I think.

[2016-02-25 20:52] Stephenitis commented on #3945
@davidopp Thanks I've been writing a blog post with replicated databases in containers similar to sandeep's here https://medium.com/google-cloud/mongodb-replica-sets-with-kubernetes-d96606bd9474
looking forward to 1.3

[2016-02-25 21:03] ixdy commented on #21451
I'm going to leave everything at 1.9.1 for the next day or so to see if that resolves the flake. If so, I may try upgrading one node (maybe the post-commit one?) back to 1.10.2, but blow away `/var/lib/jenkins` in the process to see if that helps.

[2016-02-25 21:04] ixdy commented on #21451
Also, I did do a `docker rmi` on everything, both when I migrated 1.9.1 -> 1.10.1, as well as 1.10.2 -> 1.9.1. Maybe that didn't really remove everything?

[2016-02-25 21:07] Random-Liu commented on #21951
Because rkt doesn't report any "SyncResult" now. The only possibility that container is waiting without reason and message is that container is in unkown state [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L3274).

[2016-02-25 21:08] swagiaal commented on #21931
@saad-ali SGTM... I can start working on this unless you are already working on it

[2016-02-25 21:09] ichekrygin commented on #21022
This could be possibly related to running processes inside docker container on the minion but outside of kubernetes context. My current setup 4 minion nodes cluster, 2 of those are running docker processes outside of k8s context, and (perhaps coincidentally) those are exact 2 nodes that spewing tons of `fsHandler.go:87` messages.

[2016-02-25 21:13] thockin commented on #17632
I just reproduced it at head:

`# %!s(func(runtime.Object) (string, error)=0x4b0480) hostnames was not valid:`

It appears we are %s printing a func, rather than calling the func and printing the resulting string.

create a service `hostnames`.  `kubectl edit svc hostnames`.  Delete the `ClusterIP` line, save, exit.

[2016-02-25 21:17] derekwaynecarr opened #22011 "e2e flake: All nodes should be ready after test, Not ready nodes"
[code]

Happened here:
https://github.com/kubernetes/kubernetes/pull/21400#issuecomment-188961596

[2016-02-25 21:18] robertlemke commented on #21022
@ichekrygin yes, that might be the case – I had a Jenkins pod running on that node a bit earlier, and there was a Job which built docker images (but also removed them again afterwards).

If that was really what was causing the trouble, I still wonder how to let Jenkins build Docker images without disturbing Kubernetes – a real Docker-in-Docker setup doesn't seam feasible, from all I have read so f

[2016-02-25 21:23] spxtr commented on #22011
Dupe #21940 #21973

[2016-02-25 21:23] caesarxuchao commented on #21487
@ixdy looks like it's coming back? https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21175/kubernetes-pull-build-test-e2e-gce/30498/?debugUI=CLOUD

[code]

[2016-02-25 21:24] dcbw commented on #19854
In standalone mode (eg, no apiserver is given) then you need to set --pod-cidr=x.x.x.x/y explicitly if you are also using --configure-cbr0.  Otherwise kubelet has no idea what address to configure on the bridge.

[2016-02-25 21:24] derekwaynecarr commented on #22011
Thanks, closing.

[2016-02-25 21:24] #22011 closed

[2016-02-25 21:25] gmarek commented on #21947
Can we agree that it needs to be solved for 1.3 and say it's not serious enough to make it a blocker for 1.2?

[2016-02-25 21:26] nikhiljindal opened #22012 "Add documentation explaining steps required to add a node to a cluster"
I am user support on call today and people are asking for documentation regarding steps required to add a node to a cluster.
I could not find any good documentation on searching.

There was a SO answer explaining it: http://stackoverflow.com/a/32657176

I think it will be good to explain it in our official documentation.

[2016-02-25 21:28] caesarxuchao commented on #20904
Occurred to Jenkins unit test:
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21175/kubernetes-pull-test-unit-integration/16300/?debugUI=CLOUD
[code]

[2016-02-25 21:29] dcbw commented on #19854
StandaloneMode:                 (len(s.APIServerList) == 0),

[2016-02-25 21:32] aveshagarwal commented on #17632
I am testing it at master head: and I get:

[code]

[2016-02-25 21:35] thockin commented on #17632
Ahh, sorry, it's a server-side string and I didn't push a new server.
Being plural form is still weird, but you can close this.

On Thu, Feb 25, 2016 at 1:33 PM, Avesh Agarwal <notifications@github.com>
wrote:

[2016-02-25 21:36] bprashanth commented on #21940
The dns pod not coming up is because of a liveness probe failure, which means it isn't able to resolve the kubernetes service. Any addon that requires dns (eg kibana needs to talk to ES) will fail because of dns. I'm adding some logging to clarify http liveness probe failures.

[2016-02-25 21:37] bprashanth commented on #21973
Duping into https://github.com/kubernetes/kubernetes/issues/21940

[2016-02-25 21:37] #21973 closed

[2016-02-25 21:40] thockin commented on #18171
You can use kubectl to annotate each node with `
net.beta.kubernetes.io/proxy-mode=iptables` and then reboot the node or
just restart kube-proxy

On Thu, Feb 25, 2016 at 4:19 AM, Paulo Pires <notifications@github.com>
wrote:

[2016-02-25 21:41] ichekrygin commented on #21022
@robertlemke - funny thing you've mentioned. This is exactly what we are using this cluster for - Jenkins CI/CD. And we do both: build and run docker images outside of k8s context.
We are using jenkins swarm docker and we running docker-in-docker using solution form [here](http://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/).
I suspect that the issue somewhere in how kubelet t

[2016-02-25 21:41] therc commented on #19854
I guess the advice to use cbr0 for a bootstrapping kubelet that points to no apiserver doesn't make a lot of sense: if you start an apiserver that way, it should use host networking. But then you might still want to run DaemonSets for monitoring and log forwarding, in which case using a pod CIDR *and* talking to a bunch of API servers (since we're talking about HA) becomes desirable. It's not clea

[2016-02-25 21:43] bprashanth commented on #21940
Grafana failing seems to be a different issue. It doesn't need DNS AFAICT. Looks like it couldn't get the 8086 hostPort from the first comment:

Feb 24 14:44:46.585: INFO: At 2016-02-24 14:35:33 -0800 PST - event for monitoring-influxdb-
grafana-v3-fyy2c: {kubelet jenkins-e2e-minion-bu2m} FailedSync: Error syncing pod, skipping: failed to
"StartContainer" for "POD" with RunContainerError: "runCont

[2016-02-25 21:43] therc commented on #19854
(You can also set the node to schedulable=false, in which case regular pods can't run on the master nodes, but DaemonSets still can.)

[2016-02-25 21:44] thockin commented on #21923
where "right thing" involves configuring it for an FQDN and a hostname, if
an FQDN is present.

ie. if user provides a domainname, you generate `1.2.3.4 hostname.domain.com
hostname`.  If user provides only a hostname, you generate `1.2.3.4
hostname`.  Now what do you do if user provides an FQDN as a hostname?  The
right thing is to treat it as if they had split it themselves, but set the
actual `

[2016-02-25 21:48] thockin commented on #21705
We could make this a more dynamic thing where the default is "equal balance
across all pods, ignoring load or zone" but a non-realtime process could
get stats (somehow, out of scope) and feed us clues about weights.

On Wed, Feb 24, 2016 at 1:59 PM, Quinton Hoole <notifications@github.com>
wrote:

[2016-02-25 21:54] pires commented on #18171
Yes, I could find that info at http://googlecloudplatform.blogspot.pt/2015/11/enhancements-to-Container-Engine-and-Container-Registry.html. Thank you!

[2016-02-25 21:54] aveshagarwal commented on #21938
I think the issue is that there is no field "namespace" in "type SubresourceReference struct" in ./pkg/apis/extensions/types.go and thats why its failing validation.

[2016-02-25 21:55] aveshagarwal commented on #21938
Removing that namespace from from docs/user-guide/horizontal-pod-autoscaling/hpa-php-apache.yaml works. Only new field that could be added is apiVersion.

[2016-02-25 21:56] a-robinson commented on #21625
Yeah, I can almost guarantee you that it's racy. Rewriting it to use a similar pattern as the other controllers would be nice for maintainability, as long as the fact that its operations take much longer than, for example, the replication controller's do doesn't make the pattern incompatible.

In the meantime, I believe #19879 should help reduce the raciness. I've let it slip onto the back burner,

[2016-02-25 21:58] bprashanth commented on #21625
I'll try to get to it by end of week. @justinsb or anyone else with cycles, feel free to leave comments in the meanwhile.

[2016-02-25 21:59] spxtr commented on #21940
@bprashanth mind taking over this issue?

[2016-02-25 22:00] quinton-hoole commented on #21705
@thockin yes, that's covered in the above doc, BTW.

[2016-02-25 22:13] fabioy commented on #21359
Ah, understood. Thanks for looking, though.

[2016-02-25 22:16] a-robinson commented on #21630
Are you able to share any of the relevant logs? Even just the timestamps and code locations would be useful if the messages themselves have to be anonymized. I'd expect a retry no more than every 5 seconds for each service.

That policy is pretty poor itself and should be improved for next-candidate, but is 5x less bad than retrying every second. This is another place where getting the service con

[2016-02-25 22:23] yifan-gu commented on #21951
I am pretty sure the container is running. It must be some bug in the status reporting. I am trying to print the result of runtime.GetPodStatus() to see if I can find anything.

[2016-02-25 22:28] davidmankin opened #22018 "Documentation breaks command-click to open in new tab"
I've been reading the docs as I learn Kubernetes (e.g. http://kubernetes.io/v1.1/docs/user-guide/connecting-applications.html).  When I command-click on a link (such as "how we achieve this") it doesn't open the link in a new tab but instead replaces the same page I reading.  This is not very nice and gets in the way of my exploring effectively.

Control click and choosing "open in new tab" works,

[2016-02-25 22:40] ixdy commented on #21937
The `Timeout starting apiserver` failure cause has been mis-triggering a lot. Most of the failures have been due to something else - either timeouts or #21451.

[2016-02-25 22:41] ixdy commented on #21937
OK, the `Timeout starting apiserver` failure cause looks for `.*apiserver.*` in the log, which is approximately the most useless regex possible. I'm gonna delete it.

[2016-02-25 22:43] justinsb commented on #21630
I redacted all the sensitive stuff.  There is only one LB here, with a name of a6<redacted>

[code]

I agree that it is every 5 seconds in the code though.

I think what is happening is we have multiple changes here all being retried: #21952

With a relatively small fix proposed in #21982

[2016-02-25 22:45] ixdy commented on #21937
In general, it looks like unit tests are taking right around 30m, so probably we need to bump that timeout up.

[2016-02-25 22:53] ixdy commented on #21937
I'm a little worried about what made the unit tests slower (the 1.1 branch still takes only 12-14m). No clear cause yet.

[2016-02-25 22:56] ixdy commented on #21487
@caesarxuchao sorry, I was downgrading docker on that Jenkins VM at the time and didn't realize that'd break the e2e build. You can ignore the failure.

[2016-02-25 22:58] ixdy commented on #21937
@kubernetes/goog-testing anyone have cycles to investigate why unit/integration got slower?

[2016-02-25 23:03] steveeJ commented on #21923
@yifan-gu when you say `$hostIP`, do you actually mean the Pod's IP? If so, how is it determined? Which IP is used if the pod is configured for multiple networks?

I seem to be blind, if someone could link a doc that describes how hostnames are passed to a pod and it's containers I'd appreciate that.

[2016-02-25 23:04] a-robinson commented on #21630
I agree, that seems likely. I'll take a look at #21982

[2016-02-25 23:08] mml commented on #21948
Dup of #20367

[2016-02-25 23:08] #21948 closed

[2016-02-25 23:08] mml commented on #21791
Dup of #20367

[2016-02-25 23:08] #21791 closed

[2016-02-25 23:10] mml commented on #20367
Here is how I do this right now.  I keep this git stash around and apply it when it's time to do some heavy building.  We can and should do much better, but maybe this will enable someone else's velocity in the meantime.

[code]

[2016-02-25 23:14] spxtr commented on #21937
`hack/verify-api-reference-docs.sh` is pretty slow.

[2016-02-25 23:21] Random-Liu commented on #21751
@yujuhong I didn't find result for the first Killing, does that really return?

[2016-02-25 23:26] DreadPirateShawn opened #22024 "Sporadic "too old resource version" errors from master pods"
We see sporadic "too old resource version" errors from the master pods.

(We understand from http://stackoverflow.com/questions/34322969/cause-of-apiserver-received-an-error-that-is-not-an-unversioned-errors-from-ku/34330607 that this could be expected behavior during an upgrade -- can we get confirmation of that, and will those be changed from "error" level to "warning" level at any point?)

Our

[2016-02-25 23:26] DreadPirateShawn opened #22025 "Master pods in a permanent "Terminating" status after restarting multiple times in a row"
We've got our master pods in a state where they appear to be functional, however they are all stuck in "Terminating" state, and appear to be not receiving DELETE calls anymore when the master node is deleted.

This is how they've been for about 19 hours now:
[code]

Mining the logs, I see that it started during a stress test I ran, where I performed our restart scenario 10 times in a row, while de

[2016-02-25 23:33] spxtr commented on #21937
That's not what caused it, the build just got ~10 min slower a few days ago. I'll figure out why.

[2016-02-25 23:34] yujuhong commented on #21751
AFAICT, the pod worker may have never returned because the specific pod worker didn't log anything beyond that point. I was looking at https://github.com/docker/docker/issues/18758 (docker stop hangs) to see if it's relevant. docker.log didn't print any error though.

[2016-02-25 23:35] Random-Liu commented on #21751
Yeah, the last SyncPod log was:
"
I0224 23:44:50.789341    3415 manager.go:1725] Got container changes for pod "liveness-exec_e2e-tests-pods-qmz59(8ba2e910-db50-11e5-881e-42010af00002)": {StartInfraContainer:false InfraChanged:false "

[2016-02-25 23:44] spxtr commented on #21937
https://github.com/kubernetes/kubernetes/pull/21352

Looks like it was purposeful.

[2016-02-25 23:53] janetkuo opened #22028 "Avoid relying on events for deployment rollover e2e test"
https://github.com/kubernetes/kubernetes/issues/19299#issuecomment-187518119:

[2016-02-25 23:57] Random-Liu commented on #21751
This really looks similar with https://github.com/docker/docker/issues/18758#issuecomment-165626761. I tried to reproduce it following the comment.

The container was not actually killed.
[code]
Docker stop hangs.
[code]
Docker ps shows the container is still running.
[code]

But the difference is that when I tried to kill it with another `docker stop`, it still hung there.

[2016-02-26 00:00] #21937 closed

[2016-02-26 00:01] freehan commented on #21960
+1 for adding tags/description to loadbalancers. It is better to treat cloud provider as source of truth.

Adding reconciliation would also help cleaning up dangling loadbalancer caused by improper cluster shutdown.

[2016-02-26 00:02] yujuhong commented on #21751
I was able to reproduce this quite easily by running 30 pods with the same spec in the test and with :

[code]

[code]

[2016-02-26 00:05] nikhiljindal commented on #21798
Fixed by https://github.com/kubernetes/kubernetes/pull/21857.
Verified that the test is not flaky anymore.

[2016-02-26 00:05] #21798 closed

[2016-02-26 00:08] krousey commented on #21990
Found this in the docker log:

[code]

[2016-02-26 00:10] #21491 closed

[2016-02-26 00:10] bprashanth opened #22029 "e2e flake: failed to create instance template resource already exists"
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/30552/console
[code]

[2016-02-26 00:11] bprashanth commented on #21564
An instance of a similar conflict on instance-template: https://github.com/kubernetes/kubernetes/issues/22029

[2016-02-26 00:15] krousey commented on #21990
Looks like gcr.io was returning a lot of 404s

[code]

[2016-02-26 00:15] alex-mohr commented on #21561
I looked into route controller issues and even with #21663 from @gmarek we were getting a lot of already exists.

The end result is we have two bugs:
- #21663 only guards deletion with a waitgroup, but not creation, which results in a lot of excessive API spam.  That's the cause of the rate limit exceeded -- route creation can take 60s, and running every 10s causes lots of extra traffic and some "

[2016-02-26 00:17] ncdc commented on #21990
I don't think that's necessarily indicative of an actual problem. I'm
pretty sure it shows up in successful runs (for various images).

On Thursday, February 25, 2016, krousey <notifications@github.com> wrote:

[2016-02-26 00:20] alex-mohr commented on #21561
Also, because route creation and deletion can take a minute or two, so instead of a waitGroup on a batch of operations, it'd be nice if we had e.g. a concurrentSet object that could keep track of whether an operation is pending on a per-route basis.  That would mean the 10s iteration of routeController could start new operations for not-yet-acted-upon routes more quickly.

[2016-02-26 00:54] bgrant0607 commented on #18771
cc @johndmulhausen

[2016-02-26 00:54] pwittrock commented on #21605
I spent some time looking through the logs today with Vish, and wasn't able to find anything too helpful.  I managed to get an exit code of 2 by passing invalid arguments as well (not sending a sigterm).  The  kubelet sees that the container exists ~50ms, which is pretty quick.  I think the best way to proceed is to add some debug output to the serve_hostname image to try to capture what is going

[2016-02-26 00:55] saad-ali commented on #20734
Cherry pick for 1.1 will be a pain (see PR #21855). Since the 1.2 branch is being cut soon, we'll hold off on the cherry pick.

[2016-02-26 00:59] mml commented on #21523
FYI this is also blocking me trying to debug some failing/flaky tests.

[2016-02-26 00:59] ixdy commented on #21451
I haven't seen any failures since the docker 1.9.1 downgrade. Looking hopeful...

[2016-02-26 01:07] bprashanth commented on #21605
I'm suspicious of the container exiting with wrong args theory, because we send the same args to the same container in every test. But we can start by adding clarity.

[2016-02-26 01:07] spxtr commented on #21722
This is a dupe of #10423. It's pretty tough to do this, since cluster up happens outside of the e2e framework we just don't get to use the regular logging stuff. Until we've got better support for that the best to do is just freeze the cluster and examine logs manually.

It might be worth considering putting cluster up and down into ginkgo before/aftersuite tests.

[2016-02-26 01:10] ixdy commented on #22029
@bprashanth file an internal bug - this is a GCE bug, I think. The first request returned an error but apparently successfully created the template:

[code]

[2016-02-26 01:11] ixdy commented on #22029
For reference, GCS link to failing run: http://pr-test.k8s.io/22022/kubernetes-pull-build-test-e2e-gce/30552/

[2016-02-26 01:19] bprashanth commented on #21722
Is that actually possible? that would be even better than getting logs but I'm not sure how we'll manage quota.

@spxtr if we can't get it through the framework, can we just write a shell script?

[code]
Or am I misunderstanding?

[2016-02-26 01:23] spxtr commented on #21722
It's a long-term goal to switch test projects from pets to cattle, then if a cluster fails to up we can just remove it from the pool of available clusters and inspect it manually. Until then, you can inspect a failed cluster as long as the next run hasn't started tearing it down yet.

That script will help you with diagnosing current flakes, but we already have `test/e2e/core.go` that does what we

[2016-02-26 01:24] bprashanth commented on #22029
Filed, closing

[2016-02-26 01:24] #22029 closed

[2016-02-26 01:24] ixdy commented on #10423
From discussion with @spxtr on hangouts, a vague plan:
* move log-dumping logic from `test/e2e/core.go` into a standalone command in something like `cmd/dumplogs` (feel free to bikeshed the name)
* update Jenkins to call this command as a post-build step
* probably remove `test/e2e/core.go` and the debug stuff recently added to `cluster/gce/util.sh`.

Right now the `test/e2e/core.go` stuff is pret

[2016-02-26 01:25] ixdy commented on #21722
See https://github.com/kubernetes/kubernetes/issues/10423#issuecomment-189070680 for a suggested plan.

[2016-02-26 01:26] pwittrock commented on #21605
I doubt it is the args, but am wondering if there are other things that could cause the container to exit with status 2 besides sigterm.

[2016-02-26 01:27] bprashanth commented on #21722
This won't help us. It fails overnight and the next run is too close.
You guys seem to have a plan that will converge in time for us to fix things for 1.2, so ignore my shell script :)

[2016-02-26 01:28] ixdy commented on #10423
Hm, actually, post-build step actually won't work, since we tear down the cluster first. But making it a separate command can still let us call it in more places.

[2016-02-26 01:31] pwittrock commented on #21605
Immediately killing the container with docker gives the same result in similar time (50ms)
`docker run --name s1 -d gcr.io/google_containers/serve_hostname:1.2; docker stop s1`

"State": {
            "Status": "exited",
            "Running": false,
            "Paused": false,
            "Restarting": false,
            "OOMKilled": false,
            "Dead": false,
            "Pid": 0,

[2016-02-26 01:32] bprashanth commented on #21523
@mml a consistent repro would help a lot. Does removing /var/lib/docker/network and restarting docker fix it?

[2016-02-26 01:33] #19415 closed

[2016-02-26 01:33] bprashanth commented on #21605
Yeah that's because docker stop sends a sigterm, waits for 10s by default, then sends a sigkill :)

[2016-02-26 01:34] justinsb opened #22032 "AWS: Refactor addSecurityGroupIngress / removeSecurityGroupIngress to use sets"
Once #21987 merges, we should use the same approach for addSecurityGroupIngress / removeSecurityGroupIngress

[2016-02-26 01:35] yifan-gu commented on #21951
Updates: I think the reason is the rkt.GetPodStatus() is not returning the container statuses in a time order (newest comes first), which is assumed by kubelet.convertStatusToAPIStatus(). Just sent a fix: 22033

[2016-02-26 01:39] bprashanth commented on #22005
Maybe no event was recorded because fluent is a mirror/static pod?

[2016-02-26 01:46] caiolima commented on #19457
I am also trying to set iptables, but it is not working in my case. My log is returning:

[code]

What may am I doing wrong?

Also, my node information is bellow:

[code]

[2016-02-26 01:51] bprashanth commented on #20552
The gce slow failure looks like https://github.com/kubernetes/kubernetes/issues/21820#issuecomment-188523868, which seems like a kubectl exec bug, and the gke slow failure should be ameliorated with https://github.com/kubernetes/kubernetes/pull/22022 because it looks like a slow kube-proxy.

[2016-02-26 02:11] Random-Liu commented on #21951
@yifan-gu Thanks for the fix! :)

[2016-02-26 02:31] #19715 closed

[2016-02-26 02:33] caiolima commented on #19457
I found my error. I was using ```"net.experimental.kubernetes.io/proxy-mode" = "iptable"``` instead of ```"net.experimental.kubernetes.io/proxy-mode" = "iptables"```.

[2016-02-26 02:39] justinsb opened #22035 "Can the submit queue merge PRs in batches?"
Could we process the submit queue faster if we batched PRs together?  For example if we took the next 10 PRs in the queue, applied them all together, tested, and then merged all 10 if they passed.  I presume that the need to run e2e on every merging PR in series is the primary bottleneck?

The downside is that it will be harder to track down a bad commit that causes flakes (because there will be m

[2016-02-26 03:09] ixdy commented on #22002
Unfortunately the etcd version is specified in many places.

`hack/install-etcd.sh` is what we use in CI, and it's currently installing v2.2.1.
A pretty simple search for "2.2.1" shows it's specified in many other places, too:
* build/build-image/cross/Dockerfile
* cluster/centos/config-build.sh
* cluster/images/etcd/build-etcd.sh
* cluster/images/etcd/Makefile
* cluster/images/hyperkube/etcd.json

[2016-02-26 03:17] ixdy commented on #22002
Actually, easy enough to fix. PR incoming...

[2016-02-26 03:56] Pensu opened #22039 "Upgrading to go 1.6"
Folks at golang have released new golang version: https://groups.google.com/forum/#!topic/golang-announce/HQ7x813jurw

Do we have any plan to upgrade to go1.6? The reason I am asking is golang 1.6 is supported on couple of new architectures (case in point - ppc64le), where Kubernetes is not officially supported. It could be a good step in direction of getting those archs merged.

[2016-02-26 04:44] mikedanese commented on #22035
cc @lavalamp @eparis @ixdy

[2016-02-26 04:45] saad-ali commented on #21931
@jsafrane Absolutely, that is one of the intentions of the design. I brain farted when I wrote that section. Fixed. Thanks for keen eye.

[2016-02-26 04:51] codefx9 opened #22041 "Is HOSTNAME_OVERRIDE required for AWS setup anymore?"
Hi,
I see that #7092 has been resolved for sometime. So, is HOSTNAME_OVERRIDE required for AWS setup anymore?

Ref: https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/templates/configure-vm-aws.sh#L117

[2016-02-26 05:27] bprashanth commented on #22035
This will help if most prs pass e2es, or fail for completely unrelated reasons. Currently we have a lot of test flake, but the goal is to have little to none of it, so if you hit a failure you *know* it's your fault. This will not be true with a batched run, and after a group fails someone has to go through and identify the bad pr so it doesn't infect the next batch.

[2016-02-26 05:32] saad-ali commented on #21931
Sami, go for it. I'll work on https://github.com/kubernetes/kubernetes/issues/20262 in parallel. There will be overlap between the two. We can coordinate over Slack. If you can carve out smaller PRs, that would be awesome. Feel free to schedule a VC if you want to discuss anything in depth.

[2016-02-26 06:03] bprashanth commented on #20962
@freehan fyi, in case you want to pick this up since Tim most likely won't get to it till next week

[2016-02-26 06:16] mfanjie opened #22042 "skydns not working properly"
We are using K8S as our private container engine and we ran into several problems on skydns addons, our host OS is fedora
[fedora@kubernetes-minion1 ~]$ cat /etc/issue
Fedora release 21 (Twenty One)
Kernel \r on an \m (\l)
####Problem description
1). kube2sky terminated with OOMKilled error
 PID  PPID USER     STAT   VSZ %VSZ CPU %CPU COMMAND
    1     0 root     S     392m  0.3   5  0.0 /kube2sky

[2016-02-26 06:16] davidopp commented on #21561
Oh I'm very sorry, I mentioned both creation and deletion in my comment https://github.com/kubernetes/kubernetes/issues/21561#issuecomment-186772036 but then didn't check to make sure the PR covered both. I'll send out a PR to fix this. Longer-term we can try something more sophisticated like your concurrentSet idea.

It would be great if you have time to take care of the other issue you mentioned

[2016-02-26 06:20] wojtek-t commented on #21937
Another significant reason of slowing down that we did consciously was:
https://github.com/kubernetes/kubernetes/pull/21105

[2016-02-26 06:21] bprashanth commented on #22042
@ArtfulCoder

[2016-02-26 06:23] mfanjie commented on #22042
something I am sure about is the skydns image should be updated, the current skydns skydns:2015-10-13-8c72f8c is based on a quite old busybox, and if you run ip addr inside the container, ip segement fault will always be thrown, this is a known issue of busybox container, and it has been fixed.
But it does not help us to resolve the skydns crashes problem, even I rebuilt skydns with latest busybox

[2016-02-26 06:29] bprashanth commented on #22042
Can you just exec into the exechealthz container of skydns and check that the probe command works? something like:
kubectl exec -it kub-dns-pod -c exechealthz /bin/sh
nslookup kubernetes 127.0.0.1

And the ssh into the node and curl the /healthz endpoint just like the kubelet does?

[2016-02-26 06:47] mfanjie commented on #22042
@bprashanth thanks for help. No, this command always failed.
kubesys exec kube-dns-v10-etqab -c healthz nslookup kubernetes.default 127.0.0.1
Server:    127.0.0.1
Address 1: 127.0.0.1 localhost

nslookup: can't resolve 'kubernetes.default'
error: error executing remote command: Error executing command in container: Error executing in Docker Container: 1
I am sure at the same moment, nslookup on ot

[2016-02-26 06:51] mfanjie commented on #22042
I was tend to narrow down the problem so I created a simple liveness pod with the following Dockerfile and the same problem happened.
After the pod being created, it was assigned ip 172.20.182.147, curl on the probe path,
some time it return ok, and the container would be killed and restarted repeatedly.
curl 172.20.182.147:8080/healthz
ok
some time it return with error
curl 172.20.182.147:8080/he

[2016-02-26 07:25] wojtek-t commented on #21313
@gmarek - this happened again at night with your extensive logging:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4848/consoleFull

Can you please take a look?

[2016-02-26 07:30] wojtek-t commented on #21561
Thanks for debugging @alex-mohr !
@davidopp already sent out a PR fixing it; and regarding your idea about concurrentSet - I agree it would be good to do it, but maybe not for 1.2. WDYT?

[2016-02-26 07:31] ArtfulCoder commented on #22042
My suspicion without going into much depth yet, is, kube2sky can't talk to APi server.
Check kube2sky logs..

Sent from my iPhone

[2016-02-26 07:39] mfanjie commented on #22042
kube2sky did not dump any logs.

[2016-02-26 07:50] bgrant0607 commented on #21648
This sounds pretty good to me, though we might want to break some of the volume functionality into multiple commands.

I'd like `set image`, which would achieve the equivalent of `rolling-update --image` when used with Deployment.

Can we chain `kubectl labels` and `kubectl annotations` in this way today, or could they be extended to do so?

Nit: I might prefer `--dry-run` to indicate the mutation

[2016-02-26 07:51] bgrant0607 commented on #21648
cc @kubernetes/kubectl

[2016-02-26 08:13] wojtek-t commented on #21722
Similarly - we really need logs if build times out. Since we don't have them, debugging thins like:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-kubemark-gce/5970/console
is nearly impossible.

[2016-02-26 08:21] chrisleck commented on #21275
I've started a port of what we use internally.  It currently does the following, which seems like a pretty bare bones but production-ready cluster, though I'm sure we'll have a fun discussion once I submit the PR for review :)

* Sets up IAM roles for certificate administration, etcd, kube-master, and kube-node instances
* Sets up a dedicated and locked-down S3 bucket for hosting certificates to b

[2016-02-26 08:22] wojtek-t opened #22045 "e2e flake: Namespace wasn't deleted correctly"
It seems there is some bug around namespace controller. What happened is:

    08:05:39 STEP: Collecting events from namespace "e2e-tests-density-b5lqr".
    08:05:39 STEP: Destroying namespace "e2e-tests-density-b5lqr" for this suite.
    09:05:40 Feb 25 09:05:40.322: FAIL: Couldn't delete ns "e2e-tests-density-b5lqr": namespace e2e-tests-density-b5lqr was not deleted within limit: timed out wait

[2016-02-26 08:31] jayme-github commented on #18171
@rvrignaud pointed me to this issue in slack.
We're running debian jessie based php-fpm containers in GKE 1.1.7 and had a hard time with lots of `php_network_getaddresses: getaddrinfo failed: Name or service not known` errors.
We've now switched to iptables proxy mode but the errors persist (less frequent as it seems but that might be because we had less traffic in the cluster during the testing).

[2016-02-26 08:33] jsafrane commented on #21984
@thockin, can you please point me to the discussion? If I look at current implementation of AWS, GCE and OSP cloud providers they do exactly the same thing, but each with different interface. I can make a generic one for volume management relatively easily, as suggested above.

Of course, there will be other volume plugins (NFS, iSCSI, ...) that will use other means of accessing the volumes and I

[2016-02-26 08:35] ZhuPeng commented on #18758
Encounter same issue with kubernetes building from master HEAD source(commit id: 7ee8dde1e3afc9fc68616c54833f96d6391e0b22)

[2016-02-26 08:35] gmarek commented on #21313
I found the problematic Node: e2e-scalability-minion-w5tf
There's a "Probing e2e-scalability-minion-w5tf" log, but the probe never finished.

[2016-02-26 08:50] vpal commented on #14403
Can someone please briefly explain what consequences this error has?
Is there any workaround to prevent this from happening?

[2016-02-26 09:01] gmarek commented on #21313
I think we understand the problem now. One of the Nodes (w5tf one) was dead for some reason - it never started:
[code]
After 480 seconds NodeController decided that the Node is dead and marked is as NotReady, which allowed the test to proceed (working as intended, probably - @davidopp, @quinton-hoole). Sadly when we try to proxy to this dead node the call hangs because, as far as we can tell, prox

[2016-02-26 09:05] davidopp commented on #21830
@saad-ali Do you think this is more likely PD-related more something-else-related? If you think it's PD-related, maybe you can take a look, otherwise we can take a look.

[2016-02-26 09:07] davidopp commented on #22045
@derekwaynecarr

[2016-02-26 09:09] wojtek-t commented on #22045
Just one detail - my parallelization of namespace deletion is not yet merged - so it's not because of that.

[2016-02-26 09:16] davidopp commented on #18455
@pmorie All of the check boxes are checked now :) Should we close the issue?

[2016-02-26 09:17] davidopp commented on #19620
@pmorie Now that #19782 has been merged, can we close this?

[2016-02-26 09:46] ZhuPeng commented on #18868
Encounter same issue with kubernetes building from master HEAD source(commit id: 7ee8dde1e3afc9fc68616c54833f96d6391e0b22) and docker verision is 1.10.1 .
and this was correctly run with kubernetes version early 1.2 and docker version early 1.10.

This was some part log of kubelet with docker 1.10.1 (the running container was skydns):
`I0226 16:58:54.164446    1560 factory.go:71] Error trying to w

[2016-02-26 09:54] rvrignaud commented on #18171
I still have unfrequent problem with getaddrinfo failed myself with iptables-proxy. Way less frequent than with user-mode proxy but still.

[2016-02-26 09:59] mfanjie commented on #22042
one quick update, after I recompile skydns and exechealthz with latest code from community and rebuild image. The problem was gone, keep monitoring over weekend.

[2016-02-26 10:01] wojtek-t commented on #22000
I will wait for #21882 to be merged first and will send a PR out as soon as this is merged.

[2016-02-26 10:03] mfanjie commented on #22042
skydns image in gcr.io should be refreshed, at least one problem was observed, ip addr always throws segment fault, it's a known issue in old busybox. For healthz problem, I would have some updates next week.

[2016-02-26 10:06] davidopp commented on #21313
Nice debugging!

What blocks the test until the node is marked NotReady? I looked at load.go and saw this

[code]

but it wasn't clear to me how that would result tin the behavior that the test blocks until node is marked as NotReady. Are you referring to some other code? Also you mentioned a proxy request, but I didn't see anything like that in load.go. I must be looking at the wrong thing?

[2016-02-26 10:11] davidopp commented on #21500
OK, I'll add this information to `docs/admin/cluster-large.md` and then for 1.3 we can use it to set limits.

[2016-02-26 10:39] AdoHe commented on #18868
@ZhuPeng I can't see very clearly what's your problem, would you mind give more info?

[2016-02-26 11:08] wojtek-t commented on #21313
Yes - we are basically talking about density.go here.

But the problem is basically not in the test but in the framework. Framework is waiting until all system pods are running and we have some per-node pods (influxdb). So once a node becomes unready, we are no longer waiting for the corresponding influxdb.

[2016-02-26 11:10] gmarek commented on #18969
It's getting worse...

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/22047/kubernetes-pull-build-test-e2e-gce/30604/build-log.txt

[2016-02-26 11:24] ZhuPeng commented on #18868
@AdoHe I was update the conmment.

[2016-02-26 12:37] gmarek commented on #21313
I tried to reproduce this problem but failed. I did the following:
- stopped Docker (changed supervisord config before that so it won't restart)
- stopped Kubelet (changed supervisord config before that so it won't restart)
- stopped VM

In all those cases probe exited successfully, so it seems that there's something fun happening between client API server and a kubelet, which causes proxy call to

[2016-02-26 13:00] wojtek-t commented on #20878
This just happened again:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4859/console

I'm going too apply P0 label to the PR that is supposed to fix it.

[2016-02-26 13:09] wojtek-t commented on #21475
yeah - it seems it's not solved:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/22047/kubernetes-pull-build-test-e2e-gce/30604/build-log.txt

[2016-02-26 13:17] justinsb commented on #22035
I guess I first want to be sure that the problem causing our submit queue merges to be slow is that merging a PR requires a full e2e test run (of master + PR), and that this must be done in series.  It could be that the actual root cause is our high volume of PRs for 1.2, but I think our volume will only increase.  I also don't want us to be thinking about reducing e2e checks because we think they

[2016-02-26 13:29] wojtek-t commented on #21523
@bprashanth - from the comment above from @dchen1107 https://github.com/kubernetes/kubernetes/issues/21523#issuecomment-188916231 it seems she knows what is happening - she promised to send a fix for it

[2016-02-26 13:51] #21541 closed

[2016-02-26 13:56] eparis commented on #22035
The problem with out submit queue is that the google internal e2e stay red so often it almost never makes progress. Not the time it takes to run the e2e.  e2e takes < 30 minutes, so we should be able to merge ~48 PRs per day. Now look at the bot history:

https://github.com/k8s-merge-robot

Right after we did the mad test flake scramble we had the 2 highest days ever. 34 one day and 39 the next. T

[2016-02-26 14:06] ArtfulCoder commented on #18171
Can you do a tcpdump udp and port 53 -n -vvvv and report back on what you see during the failing getaddrinfo query.

Sent from my iPhone

[2016-02-26 14:19] andrewmichaelsmith commented on #13305
Would you be interested in a pull request that uses "docker info" for the health check instead of "docker version"?

[2016-02-26 14:24] mqliang opened #22054 "Random thought about Rescheduler implementation"
Rescheduler: Stealing Pods from high load Nodes
-------

#### Introduction

This proposal try to implement two features of Rescheduler:
1) Redistribute Pods onto new nodes added by cluster auto-scaler or cluster administrator
2) Move Pods around when CPU/MEM starvation is detected on a node

Rescheduler will use "Pod stealing" algorithm: low load Nodes could steal pods from nods suffering
CPU/MEM

[2016-02-26 14:29] mqliang commented on #22054
@davidopp @bgrant0607
Just my random thoughts for discussion. May be a little simple, and has not address defragmentation feature yet, but could be a good start for Rescheduler implementation.

[2016-02-26 14:33] ncdc commented on #22045
@ixdy I noticed that the artifacts directory in the storage bucket is missing all the apiserver/kubelet/etc logs. Is it possible to modify the test infra to upload those in a situation like this?

[2016-02-26 14:38] justinsb commented on #22045
Also, there's this comment in `test/e2e/util.go` around namespace deletion, which suggests that the problem could be anywhere - the namespace controller could be perfectly correct, just waiting on something else:

[code]

[2016-02-26 14:43] bprashanth commented on #21960
Closing as a dupe of #15203

[2016-02-26 14:43] #21960 closed

[2016-02-26 14:44] swagiaal commented on #21931
Sounds good!... I'll try to slice out thinner PRs and we'll coordinate

[2016-02-26 14:44] ArtfulCoder commented on #22042
Ok, does skydns use Ip addr ?
If not, it should not be impacted by the busybox bug.
Of course we should update the image for debuggability reasons, but the bug shouldn't be the cause of failures that saw.

Sent from my iPhone

[2016-02-26 14:50] ncdc commented on #22045
That comment is a bit out of date. We do have delete-collection in the apiserver now. Its implementation isn't optimal (it's 1 request to etcd per object to delete), but the difference is it's a single call to the apiserver instead of multiple. From what I can see, we use that everywhere when deleting a namespace except for services (delete collection not yet implemented for them) and pods (need t

[2016-02-26 14:52] bgrant0607 opened #22056 "Discuss image versioning via tags (vs. none/latest) in best practice doc(s)"

[2016-02-26 14:53] #19228 closed

[2016-02-26 14:54] wojtek-t commented on #22045
Yes - I agree. This has been fixed (currently it takes ~2-3 minutes to delete namespace in 100-node cluster, where this failure come from).

@ncdc - regarding artifacts - yes we definitely want this. There is a long standing P0 bug for it:
https://github.com/kubernetes/kubernetes/issues/21722
[it's more for failing kube-up, timing out builds are also part of it]

[2016-02-26 15:06] guoshimin commented on #15203
Can we at least on AWS tag the ELBs created by kubernetes with cluster name and service name, so that manual clean up is possible?

[2016-02-26 15:19] justinsb opened #22058 "AWS: Fix cluster tag"
We currently rely on a cluster tag called "KubernetesCluster".  This has two problems:
1. It doesn't follow the kubernetes.io namespacing pattern
2. It doesn't allow for something to be tagged with two clusters

While in general we have to be careful with something being owned/managed by two clusters (which is what the cluster tag implies), there are cases where it might be OK.  For example with a

[2016-02-26 15:27] #20878 closed

[2016-02-26 15:31] liggitt commented on #19575
I wouldn't want to change the map key. An alternate representation in the map value (e.g. `string:foobarbaz`) that faciliated a one-way conversion to the base64 form would be useful. Quick proof-of-concept in https://github.com/kubernetes/kubernetes/pull/22059

[2016-02-26 15:42] ArtfulCoder commented on #21604
1. can you ping one container from another container on a different host ?
2. Does dns resolution/curl work from a container that is on the same host as skydns ?

[2016-02-26 15:46] ArtfulCoder commented on #20552
I will be making a small change to kubeproxy test to space out the retries within the test.
Lowering the priority of this bug since we have a good sense of what the root causes could be.

[2016-02-26 15:47] ArtfulCoder commented on #20550
closed via #21724

[2016-02-26 15:49] ArtfulCoder commented on #20475
@rideswitch I had it all almost setup and I got pulled into a P0 + some other feature work.
I haven't dropped the ball on this and will get to trying to repro this soon.

[2016-02-26 15:53] jsravn opened #22060 "AWS: Share ELBs across multiple clusters"
For HA purposes, we'd like to share a load balancer across multiple clusters.

It seems like there are two approaches here:
1. Can define a service to connect to a pre-existing ELB. This has some implications, like security (can a user be allowed to connect to any arbitrary ELB?).
2. First cluster to handle it creates the ELB, other clusters discover the ELB and add themselves. This is a bit more

[2016-02-26 15:54] bgrant0607 opened #22061 "Revisit use of expectations in controllers"
Esp. the Deployment controller.

When working on #21963 and #19299 we discovered a lot of suspect behavior in the expectation behavior.

Expectations are supposed to be used to await previous controller actions to be seen in watch.

However, there appear to be a number of issues:
- Can't distinguish unexpected events from controller actions. For RC and RS, in theory the pods are fungible, but actu

[2016-02-26 16:07] ncdc commented on #21990
Ok, the 404s would be an issue (I didn't see that comment when I was replying via email)

[2016-02-26 16:33] claudiu-stanciu opened #22062 "readinessProbe binary check KO while livenessProbe check OK"
Hello,

I have configured a readinessProbe on my pod with a binary which connects to my running server (in the same container) and retrieves some health information (like ready for traffic).

Configured as a readinessProbe, the binary fails to contact my server and get the required info. It connects on  a TCP socket.
But configured as a livenessProbe, it works as intended.

Configuration. Only cha

[2016-02-26 16:34] quinton-hoole commented on #21830
Based on the error message it seems to be a bug in either the test or in PD mounting.  The title of the issue was actually wrong, as the test that @a-robinson reported was actually diferent from the original one that was failing here.  I've updated. Assigning to @saad-ali as the only reason it was originally assigned to team/control-plane was because it was originally an ubernetes0lite test failur

[2016-02-26 16:37] derekwaynecarr commented on #22045
It's possible a side-effect of this:

https://github.com/kubernetes/kubernetes/issues/21406

I will take a look to see if I can improve the error handling on a sync call and/or log more detail to know what was the issue.

[2016-02-26 16:44] mkulke opened #22063 "Apiserver to kubelet communication should not use NodeName as address."
In `pkg/registry/pod/strategy.go` the host address for kubelets seem to be derived from `pod.Spec.nodeName`. It should however use the `Node.Status.Addresses` field to find an IP (the docs seem to indicate `InternalIP` should be used: https://github.com/kubernetes/kubernetes/blob/master/docs/admin/node.md#node-addresses

When a `NodeName` is resolved to an address/IP which is not open to the apise

[2016-02-26 17:04] wojtek-t commented on #22045
@derekwaynecarr - yeah that's definitely possible; previously in the tests it happened that there was some connection problem when connecting to etcd - it might have repeated.

[2016-02-26 17:08] justinsb commented on #22035
Ah OK @eparis thanks for the correction.  We'll need batching one day, but it is not today's problem!

[2016-02-26 17:09] kevinjcash commented on #21275
Thanks @chrisleck, looking forward to testing this.

[2016-02-26 17:17] justinsb commented on #22060
We had a great discussion in slack about this.  Edited highlights below, but we think that having services opt-in with a per-service shared-secret could work well, and could define the ELB name to use (maybe SHA it first).  It's not really a secret, just a mistake prevention token.

It would also be nice to have this happen automatically across N clusters (i.e. be a per-cluster setting, not a per-

[2016-02-26 17:18] krousey commented on #21990
I'm unsure how to proceed on this. Do we just accept that gcr.io flaked on us? How do we fix it?

[2016-02-26 17:18] aveshagarwal commented on #21640
I am wondering even if this issue might be related to a slow response from the metadata server, why it does not show "Registering credential provider: .dockercfg" always in failed logs?

[2016-02-26 17:30] quinton-hoole commented on #18969
Agreed - error rates this high go way beyond the 0.01% range we discussed before:

http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-e2e-gce-scalability/4856/

[code]

In the above example the number of ready nodes climbed from 0 to 96 (of 100) in under 2 minutes, and then stuck at 96 for the rest of the 25 minute timeout.  So it's not a case of extending the timeout period, that

[2016-02-26 17:34] bgrant0607 commented on #22061
This relates to a discussion @mikedanese, @davidopp, and I had yesterday.

Also related: #14961 (controllerRef, observedGeneration), #22007 (controller annotation of managed resources)

[2016-02-26 17:34] ihmccreery commented on #18969
@jlowdermilk looks like folks here had penned 0.01% as a reasonable threshold, just FYI.

[2016-02-26 17:42] dchen1107 commented on #18969
I were out sick last two days, and agreed that failure rate is not acceptable. I am investigating it.

[2016-02-26 17:43] ncdc commented on #21990
If we have an external dependency and there's an outage that's is out of
our control, there's nothing we can do to fix it. Even if we increase the
timeout, at some point, we'll hit it again due to an extended outage
somewhere.

It would be ideal if we could automatically identify test "failures" as
transient due to external outages. If that's not possible, the next best
thing I can think of would

[2016-02-26 17:45] dchen1107 commented on #18969
#18969  can really help with understanding the issue better.

[2016-02-26 17:50] bgrant0607 opened #22065 "Controllers: Better choices of what to kill"
ReplicationController and ReplicaSet use the following priority function to decide which pods to kill:
[code]

It does take Readiness into account, but this is insufficient for Deployment (and for users), since it doesn't take how long the pods have been ready into account. We might eventually  push minReadySeconds into pods and report an Available condition, but it would be sufficient for now to

[2016-02-26 17:56] cjcullen opened #22066 "PR Builder failed w/ unbound variable in E2E script"
[code]
https://github.com/kubernetes/kubernetes/pull/21187#issuecomment-189386026
Another run passed immediately after.

[2016-02-26 17:58] ncdc commented on #22063
cc @liggitt @kubernetes/rh-cluster-infra @thockin @bgrant0607 @kubernetes/rh-networking

[2016-02-26 17:59] ncdc commented on #22063
This affects at least exec, attach, and port forward. Maybe logs too.

[2016-02-26 18:01] ncdc commented on #22054
cc @kubernetes/rh-cluster-infra @kubernetes/rh-scalability @smarterclayton

[2016-02-26 18:04] bgrant0607 commented on #16737
#21273 has been merged.

[2016-02-26 18:04] #16737 closed

[2016-02-26 18:05] ncdc commented on #22025
cc @kubernetes/rh-cluster-infra @mikedanese @kubernetes/sig-node

[2016-02-26 18:05] ncdc commented on #22025
This sounds like the node controller is wedged somewhere. Do you have logs from the controller-manager?

[2016-02-26 18:07] caesarxuchao commented on #22002
Maybe we should check etcd version in the apiserver and give warning from there?

[2016-02-26 18:11] ncdc commented on #21938
@aveshagarwal if you have time, please submit a PR for this

[2016-02-26 18:11] ncdc commented on #21923
cc @pmorie, since you've been digging around with pod ip :-)

[2016-02-26 18:12] quinton-hoole commented on #19414
Closed by #19578

[2016-02-26 18:12] #19414 closed

[2016-02-26 18:15] ncdc commented on #21854
@dove-young can you look at your pod, find spec.nodeName, and compare it to both the node's metadata.name and ip addresses listed in `kubectl get node -o yaml`? Is the node's name (or the IP it resolves to) the same as the ip address listed in the yaml?

[2016-02-26 18:16] quinton-hoole commented on #19416
Decided not to build an explicit test for this, reasoning being:

1. The existing PD tests are already running across multi-zone clusters (and currently passing).  If pods get scheduled into the incorrect zone, these tests will break.
2. PD e2e tests have a history of being brittle (for a variety of reasons including GCE PD attachment bug - which have since been fixed, amongst others).  Adding a v

[2016-02-26 18:16] #19416 closed

[2016-02-26 18:17] quinton-hoole commented on #19413
All sub-issues resolved.  Closing this tracking issue.

[2016-02-26 18:17] #19413 closed

[2016-02-26 18:18] ncdc commented on #21854
Are your kubelets running with --enable-debugging-handlers=false by any chance?

[2016-02-26 18:33] spxtr commented on #22066
That's a confusing one. Turns out your PR needed a rebase, and rather than failing right away it used your old version of `e2e-runner.sh` which didn't have 83bfe2cfda0f90d1d1b9ed04684c8fe115f64fe2. That commit makes `E2E_OPT` optional.

We really should have Jenkins fail right away if it can't use Github's merge commit.

[2016-02-26 18:33] #22066 closed

[2016-02-26 18:42] lavalamp commented on #22035
The point of the merge queue is to serialize merges so that we don't merge
things that make the tests go red.

We could "batch" by:
1. Define N merge branches (like 5)
2. In branch n, merge the first n PRs in the queue
3. Run tests on all N branches
4. Merge the highest-indexed branch that passes.

This is complicated & resource intensive, so we haven't done it.

On Fri, Feb 26, 2016 at 9:08 AM, J

[2016-02-26 18:43] freehan commented on #20855
ref: #21952

[2016-02-26 18:44] roberthbailey commented on #5121
Are we going to get to this for 1.2 or should we bump it to the next candidate milestone?

[2016-02-26 18:46] roberthbailey commented on #21086
@dchen1107 / @zmerlynn / @vishh - what remains to do here for 1.2?

[2016-02-26 18:49] vishh commented on #21086
Enabling `CONFIG_CFS_BANDWIDTH`.

[2016-02-26 18:56] bprashanth commented on #20096
Our soak cluster appears to be stable with the container bridge in promiscuous mode. We're still tracking down the kernel bug. There are unrelated bugs that could result in a hung task (and the task is inevitably docker), but this bug is specific to unregistering veths and will exhibit symptoms described in: https://github.com/kubernetes/kubernetes/issues/21866#issuecomment-188477708 and https://g

[2016-02-26 19:00] bprashanth commented on #21523
@wojtek-t IIUC the fix is to apply the mitigatation steps we came up with earlier on (rm /var/lib/docker/network) when restarting docker at configureCBR0 time as well. There have been reports that this *doesn't* consistently fix the problem, but we don't have a reliable repro of such a case. Having that would help greatly.

[2016-02-26 19:00] mkulke commented on #22063
i digged a bit, this issue popped up a few times already:

#18525

The reason for this behaviour seems to be pragmatic solution for TLS issue (b/c often IPs aren't included in certs). However cloud-providers (like AWS, OpenStack) do not necessarily set resolvable NodeNames.

[2016-02-26 19:00] freehan commented on #20962
@bprashanth Tim covered this already. :)

[2016-02-26 19:01] dchen1107 commented on #20096
@bprashanth You couldn't wait to close this one, huh? :-) Yes, even we still run some node not ready issues, but none of them are related to this particular kernel issue triggered by hairpin mode badly.

[2016-02-26 19:03] freehan commented on #20962
Maybe we should also consider adding cluster name into description. That will help distinguish different clusters in the same project.

[2016-02-26 19:05] l0neranger commented on #21604
Confirmed.

1. Yes. Tried with from a few different containers and this communication seems to be intact.
2. Yes - both internal and external resolutions with google forwarders works.

[2016-02-26 19:07] mml commented on #21523
I haven't tried to manually fix the nodes, but I will confirm whether or not that works on my cluster.

[2016-02-26 19:08] janwillies commented on #21692
@justinsb yes, that's the issue. When I look at influxdb and do a query (select * from /.*/) then different stats show up

[2016-02-26 19:12] bgrant0607 commented on #21810
This was fixed by the fix for #19299.

[2016-02-26 19:13] bgrant0607 commented on #21975
Accounting of deletion expectations is very fishy (see #22061, #21963), but the workaround in #21963 should address this.

[2016-02-26 19:13] #21975 closed

[2016-02-26 19:14] davidopp commented on #18969
#18969 is this issue. Did you mean #10423?

[2016-02-26 19:15] bgrant0607 commented on #19299
The fixes and workaround in #21963 have made this test work, which was failing consistently since #21856 went in.

[2016-02-26 19:19] bgrant0607 commented on #19299
Needs to be moved out of the Flaky suite once it passes a few more times.

[2016-02-26 19:19] saad-ali commented on #21830
Verified that https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/1037/ ran into https://github.com/kubernetes/kubernetes/issues/19953

Smoking gun from the kubelet logs:
[code]

Closing this as a duplicate of issue https://github.com/kubernetes/kubernetes/issues/19953. Fix for that issue is WIP: https://github.com/kubernetes/kubernetes/issues/21931

[2016-02-26 19:21] bgrant0607 commented on #15847
cc @mikedanese

[2016-02-26 19:23] bgrant0607 commented on #16304
cc @thockin

[2016-02-26 19:23] vishh commented on #18868
cAdvisor's systemd support was broken with Docker v1.10. The issue has been
fixed on HEAD. The next release of cAdvisor v0.22.0 will have the fix.
Kubelet will be updated before v1.2 release is made.
Meanwhile, it will be helpful if you can test cAdvisor standalone and
ensure that it works on your setup.

On Fri, Feb 26, 2016 at 3:24 AM, ZhuPeng <notifications@github.com> wrote:

[2016-02-26 19:26] bgrant0607 commented on #13719
@AdoHe Is this something you could work on?

[2016-02-26 19:27] mml commented on #21523
@bprashanth @dchen1107 this does not work.  First I SIGSTOP docker-checker.sh, stop docker, rm -rf /var/lib/docker/network, then start docker.  I then see the same error messages when trying to pull docker images:

[code]

[2016-02-26 19:29] mikedanese commented on #15847
Closing as a duplicate of https://github.com/kubernetes/contrib/issues/133 . Pod master is deprecated in v1.2. Use the --leader-elect flags on controller-manager and scheduler.

[2016-02-26 19:29] #15847 closed

[2016-02-26 19:30] asquare opened #22068 "broken link on troubleshooting/logging page"
The link to 'Collecting log files within containers with Fluentd' is broken on the page [Cluster Level Logging to Google Cloud Logging](http://kubernetes.io/v1.1/docs/getting-started-guides/logging.html) and also on this page [Logging](http://kubernetes.io/v1.1/docs/user-guide/logging.html)

[2016-02-26 19:33] bgrant0607 commented on #13944
cc @kubernetes/examples

[2016-02-26 19:33] pwittrock commented on #21605
I think the next step then should be to try to verify that docker is stopping the container, and the kubelet is telling it to.  The attached docker logs don't log when docker tries to stop/start containers, so may be increasing the verbosity level of the docker daemon to "debug" and adding V(3) info lines to the kubelet when it stops containers would be appropriate.

[2016-02-26 19:34] bgrant0607 commented on #13944
@ArtfulCoder : maybe a good example for #20688

[2016-02-26 19:36] bgrant0607 commented on #15698
cc @johndmulhausen

[2016-02-26 19:38] bgrant0607 commented on #17489
cc @kubernetes/examples

[2016-02-26 19:39] bgrant0607 commented on #17489
I suggest posting to stackoverflow. Maybe someone in the community has a solution.

[2016-02-26 19:42] jayunit100 opened #22070 "replica_set test panics."
*This might be fixed, haven't reproduced on latest upstream source. But in any case, I thought I'd create the issue.*

bug = **i assume any failure in e2es shouldnt be b/c of a panic.** ... I noticed a failure on Openshift today, which I think alludes to a possible issue in replica sets.

[code]

[2016-02-26 19:43] mikedanese commented on #22025
Where is the controller-manager running? Is it definitely still running after the restart? Seems like either it never came back up after the 5th restart or it's very broken

[2016-02-26 19:43] jayunit100 commented on #22070
cc @timothysc

[2016-02-26 19:43] aveshagarwal commented on #21640
If there is a possibility that ReadUrl in ./pkg/credentialprovider/config.go may take longer than expected, would it be preferred to use a Timeout (>0) with the http client to not get stuck longer than expected?

[2016-02-26 19:45] ixdy commented on #21451
This hasn't failed since the docker downgrade, so that appears to be the issue.

I'm going to try what I described in https://github.com/kubernetes/kubernetes/issues/21451#issuecomment-188986826: upgrading the post-commit Jenkins builder VM to docker 1.10.2, but completely blowing away `/var/lib/docker` in the process. If I see this failure recur, I'll revert back to 1.9.1.

[2016-02-26 19:45] bprashanth commented on #21523
do you still see "No available IPv4 addresses on this network's address pools"? are containers actually starting? I think image 404 for image pulls are different (docker could apparently contact the server and retrieve the 404)

[2016-02-26 19:45] #21195 closed

[2016-02-26 19:50] caesarxuchao commented on #21753
FWIW, log of another occurrence:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21175/kubernetes-pull-build-test-e2e-gce/30517/?debugUI=CLOUD

[2016-02-26 19:50] dchen1107 opened #22071 "Investigate long bootup time of containervm instance"
I noticed that there is a huge regression on node bootup since Wednesday last couple of days:

Bad one:
[code]

vs. good one:
[code]

Please note that the issue is not related to any kubernetes component. The node hasn't run salt client yet. This explains a lot of node not ready issue we have lately.  #18969

cc/ @zmerlynn #21086

[2016-02-26 19:51] bgrant0607 commented on #16334
Obsolete.

[2016-02-26 19:51] #16334 closed

[2016-02-26 19:51] dchen1107 commented on #22071
cc/ @kubernetes/goog-node

[2016-02-26 19:52] zmerlynn commented on #22071
Whoa, it shouldn't even be running `apt-get update` at all. That implies someone added a package recently.

[2016-02-26 19:53] dchen1107 commented on #22071
@zmerlynn I didn't see any new package is added, and the entire package size is the same. :-(

[2016-02-26 19:54] zmerlynn commented on #22071
Can you dump /var/log/apt.history (I think it is) into here?

[2016-02-26 19:55] jayunit100 commented on #22070
cc @kubernetes/sig-testing

[2016-02-26 19:55] fabioy opened #22072 "e2e flake: Density is failing with "too high pod startup latency" if more pods are scheduled to the same node"
Had this test flake twice today:

Density [Feature:Performance] should allow starting 30 pods per node

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/density.go:487 Expected error: <*errors.errorString | 0xc20ddeb820>: { s: "too high pod startup latency 99th percentil: 5.420308856s", } too high pod startup latency 99th percentil: 5.420308856s not to have occurred

[2016-02-26 19:56] ixdy commented on #22002
@caesarxuchao not sure where the error message would be sent in that case, but it seems like a reasonable idea (if not already done).

[2016-02-26 19:56] zmerlynn commented on #22071
Sorry, `/var/log/apt/history.log`. Hmm. I don't see anything new on a recent-ish head node, either, but YMMV.

[2016-02-26 19:56] bgrant0607 commented on #19680
Also ref: #17404, #17362, #16873, #16550, #16095, #16049, #15910, #15741, #15244, #15128, #14924, #14189, #11933, #11567, #11468, #11332, #11000, #10710, #10506, #8528, #6167, #6145, #4934, #4931, #4700, #3714, #3606, #2971, #1963

[2016-02-26 19:57] dchen1107 commented on #22071
Yes, just about to do it ... Here you are, and please note that it is from a different node with the same bad symptom:

[code]

[2016-02-26 19:57] fabioy commented on #20552
FYI, this test has flaked again, halting merge queue:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-slow/1112/

[2016-02-26 19:59] zmerlynn commented on #22071
Yeah, no issue there. Oh. Hm. Sorry, I forgot the one directly in `configure-vm`.

[2016-02-26 20:02] ixdy commented on #22070
Yup, looks like a bug, and it looks like it's still there. The [`err` on line 96](https://github.com/kubernetes/kubernetes/blob/e0a61c464a9b72791fe1752268707f3181b73dcc/test/e2e/replica_set.go#L96) isn't checked, so `pods` can be nil, which will cause the panic on L102.

cc @madhusudancs

[2016-02-26 20:03] zmerlynn commented on #22071
Wait. The one in configure-vm is new, it's from @justinsb's #20681, and we need to take it out.

[2016-02-26 20:07] quinton-hoole opened #22076 "Run Jenkins AWS e2e tests using new AWS credentials"

[2016-02-26 20:07] aveshagarwal commented on #21938
https://github.com/kubernetes/kubernetes/pull/22075

[2016-02-26 20:10] quinton-hoole opened #22077 "Run ubernetes-lite e2e CI tests on AWS"
Blocked on #22076

[2016-02-26 20:17] mikedanese commented on #15803
We went to v1.1 with register_master=true with failing e2e tests. looks like there is very little work left. If we can get #18338, passing after #22067, I'd elect to revert #21350 for v1.2

[2016-02-26 20:26] ixdy commented on #15203
@guoshimin I think we've looked into this before. The problem is that the allowed name is very limited. From http://docs.aws.amazon.com/ElasticLoadBalancing/latest/APIReference/API_CreateLoadBalancer.html:

Requiring uniqueness + maximum of 32 characters really constrains the ability for a general solution that also includes the cluster/service name.

[2016-02-26 20:26] jayunit100 commented on #22070
i think the iterators should be declarative here  i.e. `forEachPod` ?  thats a better fix .

[2016-02-26 20:32] justinsb commented on #22071
Oh no - so sorry :-(

#20681 does add an apt-get update to configure-vm.  But you are installing bridge-utils from apt, so I thought it was correct to apt-get update first.  I can easily remove the apt-get-update and add it back into the AWS version instead.

In my experience, crazy-slow apt-get problems are either due to an IPv6 address being served to an IPv4 only host, or getting a bad mirror.

[2016-02-26 20:32] ixdy commented on #20878
Ah, this is the same as #22029. We created an internal bug for this too, ref 27367941.

[2016-02-26 20:40] ixdy commented on #21517
Are we still seeing this?

[2016-02-26 20:43] justinsb commented on #22071
Probably the bestest thing would be to make sure bridge-utils is on the base image, only apt-get-install bridge-utils if brctl is not available, and run apt-get-update as part of apt-get-install only once per script invocation.

But this isn't actually fixing the problem.  Something is seriously wrong if an apt-get update takes 12 minutes.

[2016-02-26 21:01] #21933 closed

[2016-02-26 21:01] zmerlynn commented on #22071
@justinsb: `bridge-utils` is actually built-in on `container-vm` (the later `apt-get install` is a no-op, sorry). I went through an effort at some point to make sure that `configure-vm.sh` never needed to `apt-get update` or `apt-get install` anything, because we were having troubles like this.

[2016-02-26 21:03] zmerlynn commented on #22071
I can work up a PR that will probably work for all parties.

[2016-02-26 21:11] eparis commented on #21451
@runcom pointed me to https://github.com/docker/docker/issues/19950 which at least explains the 1.10 message corruption...  if not the container rm....

[2016-02-26 21:12] dchen1107 commented on #22071
Yes, that is the root cause and we want to remove all external dependencies at bootup time. Assign this to @zmerlynn

[2016-02-26 21:13] #18851 closed

[2016-02-26 21:21] justinsb commented on #22071
Thanks @zmerlynn & sorry again to all.

[2016-02-26 21:26] #19065 closed

[2016-02-26 21:27] dchen1107 commented on #20916
FYI: I filed a separate issue related to node bootup: #22071

[2016-02-26 21:34] dchen1107 commented on #21523
@mml failing pull image is different issue. Here is related to ip allocation from docker.

[2016-02-26 21:34] huang195 opened #22081 "MESOS: K8sm scheduler --kubeconfig flag overloaded?"
K8s scheduler has a --kubeconfig flag so one can specify information about API server, TLS, user, etc. K8sm scheduler also have the same --kubeconfig flag. Is this flag being used by the K8sm scheduler itself or being used by the K8sm executor to download and use?

From what I can see, it's being used by both K8sm scheduler and executor. If so, scheduler and executor would be using the same TLS ce

[2016-02-26 21:35] huang195 commented on #22081
cc: @jdef @sttts @karlkfi

[2016-02-26 21:39] yvespp commented on #18455
When I do "kubectl get" I don't see configmap in the error message, shouldn't it be there?
[code]

[2016-02-26 21:41] dchen1107 commented on #21866
This is not a flaky, and the docker is totally hung due to deadlock at kernel:

Feb 23 21:50:14 e2e-scalability-minion-9rwz kernel: [ 2400.175460] Call Trace:
Feb 23 21:50:14 e2e-scalability-minion-9rwz kernel: [ 2400.179449]  [<ffffffff81510915>] ? schedule_preempt_disabled+0x25/0x70
Feb 23 21:50:14 e2e-scalability-minion-9rwz kernel: [ 2400.187593]  [<ffffffff815124a5>] ? __mutex_lock_slowpath+0

[2016-02-26 21:42] dchen1107 commented on #21866
#21000

[2016-02-26 21:45] mml commented on #21990
I've been experiencing this repeatedly for several days trying to start an e2e cluster.  At first I thought it was due to #21523, but now I'm not sure.  I'll see if I can find out what's going on with the google container registry.

[2016-02-26 21:45] zmerlynn commented on #22071
#22083

[2016-02-26 21:46] runcom commented on #21451
@eparis that issues seems to have been fixed docker/docker#20706

[2016-02-26 21:49] quinton-hoole commented on #21753
In case it's useful, we're seeing this fairly regularly in ubernetes-lite, e.g.:

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/486/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/485/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/477/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/471/

[2016-02-26 21:49] mml commented on #21523
The 404 does seem to indicate that we contacted gcr.io and actually got a 404 from it.  OTOH, I get this consistently when trying to bring up an e2e cluster and if I try to pull the exact same image from my workstation it works fine.  I'm investigating further with the GCR folks.

[2016-02-26 21:57] fabioy commented on #22072
And one more, but this time in kubernetes-kubemark-gce:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-kubemark-gce/6001/

[2016-02-26 21:57] colhom commented on #21582
So, I have been using --export for a couple cluster migrations. I think that the export functionality that I'm looking for differs from what is currently implemented. Also, I think by definition `export` should produce objects which pass kubectl's validation when re-created. (Not currently the case, I've found).

I think there should be some additional functionality, maybe expressed as sub-options

[2016-02-26 22:08] brunoqc commented on #20514
I also have the problem with 1.2.0.alpha8. I was testing v1.0.1 before.

[2016-02-26 22:11] huang195 opened #22085 "K8sm scheduler --api-servers flag overloaded?"
This parameter is used both by the K8sm scheduler as well as the executor. However, sometimes I want the scheduler to connect to the api server differently from how executor/kubelet connects to the api server. For example, my scheduler is always co-located with the api server, so I want it to connect to the api server through the loopback interface via the insecure port, whereas kubelet should con

[2016-02-26 22:11] huang195 commented on #22085
cc: @jdef @sttts @karlkfi

[2016-02-26 22:12] jayunit100 opened #22086 "[e2e] cleaning up imperative pod loops"
When looking at cleaning the error in #22070 , I wasn't able to simplify the code because of the fact that it had an explicit dependecny on api.PodList.

**PROBLEM**
Tests shouldn't be caching pod lists just for the sake of iteration, as that can be done using forEach style functions.   Cached pods require extra assertions and make for (at best) more verbose e2es due to extra error handling needs.

[2016-02-26 22:15] bprashanth commented on #20552
For the record the last issue is *not* kube-proxy slowness. We had one of our endpoints go MIA toward the end of the test.

There are 2 endpoints, netserver-1 and netserver-2.
They landed on nodes: 130.211.138.98,  104.197.238.202
Something happened on the node ~18:50 such that one of them went offline. We know that things were ok before that because the previous sub-test (udp) hit both endpoints.

[2016-02-26 22:15] timothysc commented on #22054
@ncdc we may re-prioritize this to be higher for online.

[2016-02-26 22:18] justinsb commented on #22035
I think it's moot, but I was proposing the most optimistic strategy, where we pick N commits and then run the tests all-or-nothing only on that set of N.  Your strategy of evaluating subsets concurrently is better, but is indeed harder!

[2016-02-26 22:22] jayunit100 commented on #22086
cc @kubernetes/sig-testing

[2016-02-26 22:23] #15985 closed

[2016-02-26 22:25] yifan-gu commented on #21923
@steveeJ Sorry I meant pod's IP.

Good question, I think it's IP of the network that's passed to rkt when creating the pod [1].

[1] https://github.com/kubernetes/kubernetes/blob/v1.2.0-alpha.8/pkg/kubelet/rkt/rkt.go#L717

[2016-02-26 22:29] erictune commented on #12298
Job is complete.  I'm removing this from v1.2.  For 1.3, we should add selector generation to other controllers before they go to GA.  I can advise people on how to do that.

[2016-02-26 22:29] davidopp opened #22088 "e2e failure: deployment should delete old replica sets"
I'm not sure if this is a dupe of #21798

cc/ @bgrant0607

Logs are in
.../kubernetes-jenkins/pr-logs/pull/22083/kubernetes-pull-build-test-e2e-gce/30702/

[code]

[2016-02-26 22:30] davidopp commented on #22088
cc/ @janetkuo @nikhiljindal

[2016-02-26 22:30] #21830 closed

[2016-02-26 22:33] vishh commented on #21109
@dchen1107: Should we fix this in v1.2?

[2016-02-26 22:40] a-robinson commented on #21952
Should be resolved by #22069

[2016-02-26 22:40] #21952 closed

[2016-02-26 22:43] dchen1107 commented on #21109
This is not targeted for 1.2 release.

[2016-02-26 22:45] bgrant0607 commented on #22088
cc @kargakis @mqliang

[2016-02-26 22:49] davidopp opened #22090 "k8sbot not re-running tests when requested"
In at least one case - not sure if this is more widespread.

See #22083

I accidentally closed (then re-opened) the issue, which didn't re-trigger the tests. Then I did "e2e test this" twice and still nothing happened.

cc/ @ixdy @lavalamp

[2016-02-26 22:50] davidopp commented on #22090
Never mind, it *just* started -- but took many minutes, unlike my experience in the past.

[2016-02-26 22:50] #22090 closed

[2016-02-26 22:51] davidopp commented on #22090
(About 23 minutes to be precise)

[2016-02-26 22:53] #22071 closed

[2016-02-26 22:56] ixdy commented on #22090
The trigger phrase is "@k8s-bot e2e test this" - you didn't include "this" on the first comment. Closing/opening a PR won't re-trigger tests, either.

[2016-02-26 22:59] davidopp commented on #22054
@bgrant0607 and I had some discussions about rescheduler earlier this week but I haven't had time to write them down. Will do that and take a look at this PR next week.

cc/ @HaiyangDING

[2016-02-26 23:00] guoshimin commented on #15203
On Fri, Feb 26, 2016 at 12:27 PM, Jeff Grafton <notifications@github.com>
wrote:

I don't mean the names of the ELBs, but tags. Kubernetes already tags the
security groups:
https://github.com/kubernetes/kubernetes/blob/v1.2.0-alpha.8/pkg/cloudprovider/providers/aws/aws.go#L1753.
We should tag the ELBs the same way.

[2016-02-26 23:03] ixdy commented on #15203
Yeah, I realized what you meant right after making that comment.

[2016-02-26 23:10] a-robinson commented on #21811
Is there really nothing being logged from that node to the cloud console anymore?

I tracked down the warning messages to a problem in our fluentd config's attempt to parse the logs from the kubernetes components (#22091), but the stack trace there actually appears to be from either the kube-apiserver or kubelet logs.

[2016-02-26 23:11] DreadPirateShawn commented on #22025
Definitely running -- here's the logs from the repro window, through the next couple of hours -- the quiet period from 4:46 - 6:52, and after 6:53, is genuine -- I wasn't doing much with the cluster after the rapid-restart test.

[code]

So even two hours after deletions stopped working and the "terminating" status persisted, the controller was still able to resize vima replicas.

And I don't have

[2016-02-26 23:19] fabioy commented on #21536
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-02-26 23:19] #21536 closed

[2016-02-26 23:19] lavalamp opened #22093 "Move more to genericapiserver"
- `pkg/apiserver/api_installer.go` is generic (or should be made generic)
- `cmd/kube-apiserver/app/server.go`:
  - newEtcd should be moved to a genericapiserver/etcd package or something
  - All the if blocks (`if !apiGroupVersionOverrides["extensions/v1beta1"].Disable {`) should be refactored into something that operates in a loop over a map or something, and moved to the generic apiserver

[2016-02-26 23:23] nikhiljindal commented on #21753
I am trying to debug from chao's logs.
That test timed out waiting for new redis pods to become available.
However, the pods printed after the test timed out seem to be available (MinReadySeconds is 0).
But controller doesnt seem to have observed that they became ready.

[code]

[2016-02-26 23:24] nikhiljindal commented on #21753
The failure is:
[code]

[2016-02-26 23:25] #17486 closed

[2016-02-26 23:26] fabioy commented on #21619
Please make it into a pull request, else it can't be reviewed or merged. Closing this issue.

[2016-02-26 23:26] #21619 closed

[2016-02-26 23:30] fabioy commented on #21643
That build seems to be pretty old. v1.2 is currently at alpha8: https://github.com/kubernetes/kubernetes/releases/tag/v1.2.0-alpha.8

Can you try again with a newer build?

[2016-02-26 23:31] mml commented on #21506
Actually, what we need to do is force a kubelet to time out and then verify that the daemon set pod is not deleted.

@kubernetes/sig-testing is there any existing e2e test that intentionally breaks a node (kubelet) after bringing the cluster up?

[2016-02-26 23:40] janetkuo commented on #21753
It's probably related to expectations.

[2016-02-26 23:40] lavalamp commented on #22093
@nikhiljindal

[2016-02-26 23:43] joeatwork commented on #13776
Some containers don't have equipment like bash or scp (or even cat) installed - one example of a container like this is gcr.io/google_containers/etcd:2.0.9, which is a pretty common beast in most Kubernetes clusters.

[2016-02-26 23:44] ernestoalejo commented on #21811
Oops, sorry. There were two containers with similar names but one of them was not active any more and I took the wrong one as a reference (just a coincidence it was stopped almost at the same time). You are right, the only problem here is the warning.

[2016-02-26 23:48] nikhiljindal commented on #21753
Yes. the error is same as https://github.com/kubernetes/kubernetes/issues/21975, which should have been fixed by @bgrant0607's https://github.com/kubernetes/kubernetes/pull/21963

[2016-02-26 23:51] davidopp commented on #15203
@justinsb what do you think about
https://github.com/kubernetes/kubernetes/issues/15203#issuecomment-189316080
?

It seems like a good backstop in case #19879 doesn't get merged in time for 1.2

[2016-02-26 23:52] nikhiljindal commented on #21753
I see now that @caesarxuchao's failure was before @bgrant0607's PR was merged

[2016-02-26 23:55] nikhiljindal commented on #21753
@quinton-hoole's failures are different.

One of them is:
`Deployment RecreateDeployment should delete old pods and create new ones` and another is `Deployment deployment should delete old replica sets`.
Both of them failed at deployment cleanup step.

[2016-02-26 23:57] jayunit100 commented on #20999
Ok folks were getting close on this I think...
anyone look into secrets/downward API yet/liveness?

I can dig some this wknd if not..

[2016-02-26 23:59] #21406 closed

[2016-02-27 00:02] bgrant0607 commented on #14961
More issues: #22061, #22007

[2016-02-27 00:05] saad-ali commented on #21041
This should be fixed by https://github.com/kubernetes/kubernetes/pull/21738
Re-open if it is not.

[2016-02-27 00:05] #21041 closed

[2016-02-27 00:06] saad-ali commented on #20955
This should be fixed by https://github.com/kubernetes/kubernetes/pull/21738
Re-open if it is not.

[2016-02-27 00:08] nikhiljindal commented on #21753
@quinton-hoole Is ubernetes-lite using some different setup? Does it have the latest code?

Those 2 tests havent failed on gce lately

[2016-02-27 00:12] bgrant0607 commented on #21809
This appears to be fixed, and the test was not moved to the Flaky suite, so closing.

[2016-02-27 00:12] #21809 closed

[2016-02-27 00:15] goltermann commented on #20999
I'll have a PR for downward in a few min, working now

[2016-02-27 00:16] bgrant0607 commented on #21463
We've made a bunch of changes and I haven't seen this failure, so I'm going to close this. We can reopen if it recurs.

I'm just going to leave one issue open (#19299) for moving Deployment tests out of the Flaky suite.

[2016-02-27 00:16] #21463 closed

[2016-02-27 00:18] goltermann commented on #20999
secret looks like a similar cause, will take that too

[2016-02-27 00:21] nikhiljindal commented on #21753
ok the second failure seems to be a true flake: https://github.com/kubernetes/kubernetes/issues/22088

[2016-02-27 00:22] jayunit100 commented on #21506
Specified chaos tests:  they can be complex and hard to maintain .  And rarely can run in a CI unless it's heavily funded by a downstream use case that is directly profiting someone.

A better solution is to run a generic Kube chaos monkey in the background I think, and then run e2es atop of it?

[2016-02-27 00:25] jayunit100 commented on #20999
Ok thanks..!
If liveness remains I'll dig into it.

[2016-02-27 00:27] a-robinson commented on #15203
#19879 won't be going in for 1.2, we went with #22069 instead. And neither one actually addresses this specific issue. They fix other bad behavior, but explicitly don't handle the sort of ownership tracking across controller-manager restarts or graceful deletion state needed for this.

[2016-02-27 00:30] a-robinson commented on #21811
Thanks for the confirmation! #22091 will fix this then.

[2016-02-27 00:34] lavalamp commented on #20497
@dchen1107 is it possible that an unresponsive docker might make kubelet not get to the point in the sync loop where it deletes terminated pods?

@davidopp Do we need to build a backup plan into the system (e.g. node controller takes over deletion when kubelet's not doing it)?

@smarterclayton as an alternative backup plan, what do you think about setting a (generous) TTL on pods in TERMINATING?

[2016-02-27 00:39] fabioy commented on #21747
It looks like the api server is just really old (or a bad image), since it doesn't list the v1 endpoint. I'd suggest you pick up a newer image and try again.

Also, for these types of support issues, it may be faster/easier to have them in [StackOverflow].

Thanks.

[2016-02-27 00:39] lavalamp commented on #15915
@nikhiljindal Can we just remove this? Or update it. Need to get the XSS off of our site.

[2016-02-27 00:39] goltermann commented on #20999
That's be great if you pick up Liveness.  PR out for the Downward and Secrets fixes.

[2016-02-27 00:40] fabioy commented on #21747
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-02-27 00:40] #21747 closed

[2016-02-27 00:43] mml commented on #21506
That would probably point out a lot of breakage, but sorting out where the bugs lie would be complicated.

At some point, if we're not doing it already, we will want to write tests that verify what happens when a node goes unreachable.  It's not that out there for a system test of a cluster scheduling system, but I gather from your reply I'm the first.

I'm also open to any suggestion that would h

[2016-02-27 00:44] dchen1107 commented on #20096
cc/ @mikedanese since he just saw a new instance.

[2016-02-27 00:48] mikedanese commented on #20497
@lavalamp if the docker daemon is down, pods won't be synced, kubelet termination will never complete. But if the node reports unhealthy (which they should if the docker daemon is down) they should be evicted ~7 minutes.

[2016-02-27 00:48] pwittrock opened #22096 "Check in code and instructions for building gcr.io/google_containers/serve_hostname"
The source for gcr.io/google_containers/serve_hostname does not appear to be checked in anywhere besides https://github.com/thockin/serve_hostname.

We should have the source checked into k8s somewhere and a Makefile for building and pushing new versions to gcr.io

[2016-02-27 00:53] vishh opened #22098 "Kubelet log spam"
This log line is repeated multiple times in succession very periodically if docker daemon is down. instead logging once should be enough...

```E0227 00:52:24.367135     639 generic.go:164] GenericPLEG: Unable to retrieve pods: cannot connect to Docker endpoint```

[2016-02-27 00:55] fabioy commented on #21941
It seems like there's a bad build or configuration issue with your install.

But, to continue this, please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find

[2016-02-27 00:55] #21941 closed

[2016-02-27 00:57] fabioy commented on #21961
Is this issue still active? Closing for now. Please feel free to reactivate.

[2016-02-27 00:57] #21961 closed

[2016-02-27 00:57] ixdy commented on #21506
@mml we have a number of "disruptive" tests which break various things in the cluster and check that certain invariants are met - search for `[Disruptive]` in the e2e tests. In particular, `test/e2e/daemon_restart.go` may be a reasonable place to put something like this, though there are disruptive tests defined a few other places, too.

[2016-02-27 00:58] a-robinson commented on #21480
Fixed by #21482, with the images being pushed out in #22074

[2016-02-27 00:58] #21480 closed

[2016-02-27 00:59] a-robinson commented on #20393
Fixed by #22069

[2016-02-27 00:59] #20393 closed

[2016-02-27 01:00] caesarxuchao commented on #21484
Occurred again:
[code]
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21175/kubernetes-pull-build-test-e2e-gce/30727/?debugUI=CLOUD

[2016-02-27 01:01] mikedanese commented on #20497
FYI https://github.com/kubernetes/kubernetes/pull/22100

[2016-02-27 01:01] yujuhong commented on #22098
It's a V(4) message with a period of 1s, serving as an indication of pleg running for debugging purpose. We have more noisy messages in the log. I'd like to keep this for a while until we are sure that our builds are stable.

[2016-02-27 01:02] mikedanese commented on #20497
I'm not entirely convinced that this is the only issue we are seeing with all these reports though.

[2016-02-27 01:04] fabioy commented on #22008
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-02-27 01:04] #22008 closed

[2016-02-27 01:07] mikedanese commented on #20096
@bprashanth I ran into this today on a cluster built from https://github.com/kubernetes/kubernetes/commit/6327ea9bd2badf5ac935e51056b47919b59f270f .

It was not a soak cluster. Would you like to see the cluster?

[2016-02-27 01:08] fabioy commented on #22062
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-02-27 01:08] #22062 closed

[2016-02-27 01:09] bprashanth opened #22102 "Checkin serve_hostname"
@pwittrock noted that this image isn't checked in. We use it in various tests. Here it is in all its glory, pulled from gcr.io/google_containers/serve_hostname:1.3:

[code]

All that's left is writing a dockerfile+readme into test/images, and uploading a pr. Dead simple first Kubernetes commit ;)

[2016-02-27 01:09] lavalamp opened #22103 "genericapiserver must not import apiserver"
Imports should strictly go the other direction!

[2016-02-27 01:09] ihmccreery opened #22104 "Run upgrade jobs in parallel instead of in sequence"
This is a pretty hazy issue right now, and I'll scope it out more later, but for now, the plan:

For each `X`-`Y` version skew, run 4 suites:

- Deploy at `X` and run Kubectl tests at `Y`
- Deploy at `X`, upgrade master to `Y`, and run tests at `X`
- Deploy at `X`, upgrade master and nodes to `Y`, and run tests at `X`
- Deploy at `X`, upgrade master and nodes to `Y`, and run tests at `Y`

This sho

[2016-02-27 01:10] bgrant0607 commented on #22088
[code]

[2016-02-27 01:10] mml commented on #21506
@ixdy perfect, thanks.

[2016-02-27 01:15] lavalamp commented on #20497
Actually, @mikedanese, I think you're clearly fixing a major source of these reports. It's always possible that there's other similar bugs but I would consider your PR to be fixing this issue.

[2016-02-27 01:18] quinton-hoole commented on #21753
@nikhiljindal ubernetes-lite runs the latest code.  The only difference is that the test cluster is built across multiple zones in the same region (with a shared master in one of the zones).

It's totally possible that this might uncover some failures/flakes that only occur in that setup, but so far it looks like this flake occurs in normal, single-zone clusters too.   If that's not the case, and

[2016-02-27 01:25] #21820 closed

[2016-02-27 01:26] ixdy commented on #21817
External sites probably shouldn't be linking into documentation in master, since it's likely to break, but we can leave breadcrumbs if we remove examples.

Ideally the documented examples and the examples e2e tests should be one and the same. The whole idea behind creating the examples e2e tests in the first place was to verify that the documented examples actually worked - xref #10013.

[2016-02-27 01:28] ixdy commented on #21817
See also #5465, which is basically saying much of the same.

[2016-02-27 01:33] gopinatht commented on #21692
+1 on this issue. I am facing the same problem on AWS/CoreOS kubernetes cluster

[2016-02-27 01:37] dchen1107 commented on #21820
why this one closed?

[2016-02-27 01:39] mikedanese commented on #20096
False alarm i think. old kubelets

[2016-02-27 01:39] #20096 closed

[2016-02-27 01:40] dchen1107 commented on #21820
Sorry misread. Ignore my above comment. :-P