[2016-12-22 04:04] humblec commented on #39101
@johscheuer it would be appreciated if you can point the the real problem we are trying to solve here. If its about carving a dynamic pv and its (restricted) access to a user in a namespace, it can be done in a different way. That said, pvcs are namespaced and its available for the provisioner to consume. you can create PVs in that ns and it solves the isolation of pv/pvc wrt to namespace. Or Am I

[2016-12-22 04:20] chrisleck commented on #38744
I stuck it in the default location: ~/.kube/config

On Dec 21, 2016 7:54 PM, "Fabiano Franz" <notifications@github.com> wrote:

@chrisleck <https://github.com/chrisleck> since you mention you are using
--context, I understand you have a kube config file inside the container.
Can you confirm where it is located? ~/.kube/config, some other location
set by the KUBECONFIG env var, something else? Tks!

[2016-12-22 04:22] a-robinson opened #39125 "PodDisruptionBudget by percentage doesn't work with StatefulSets"
Is it intentional that the disruption controller isn't aware of StatefulSets? They appear to work together when the budget is configured with a static minimum number of pods, but not when configured with a percentage because the controller `finders` don't include StatefulSets:
https://github.com/kubernetes/kubernetes/blob/f49442d4331052c3141c47a3f9701da7082ebcff/pkg/controller/disruption/disruptio

[2016-12-22 04:48] foxish commented on #39125
Thanks @a-robinson ! Looks like we missed this one. The real fix for this issue would be to use controllerRefs instead of hard-coded lists of controllers, which will ensure that even custom/third party controllers with a scale subresource are covered, but that's in the 1.6 timeframe. For now, I'll send a PR to add StatefulSet to the list of controllers it recognizes.

/cc @kow3ns @enisoc

[2016-12-22 04:54] yudar1024 commented on #37922
same issue here

[2016-12-22 04:56] foxish commented on #39100
cc @mwielgus @davidopp

[2016-12-22 05:09] resouer commented on #36667
@timstclair Are you implying long running streaming server should be added to Pod level cgroup (and Guaranteed tier I think)?  pod-level cgroups for dockershim has been merged, that's why I'm asking.

[2016-12-22 05:33] #38447 closed

[2016-12-22 05:38] thockin commented on #39065
For some reason, I had it in my head that NetworkPolicy didn't apply to
NodePorts, but that seems silly.  You should be able to omit the 'from'
block of NetworkPolicy to allow traffic from anything.

On Wed, Dec 21, 2016 at 7:14 PM, heartlock <notifications@github.com> wrote:

[2016-12-22 05:39] thockin commented on #22469
You should be able to omit the 'from' block of NetworkPolicy to allow traffic from anything.

[2016-12-22 05:40] thockin commented on #39065
Dup of #22469

[2016-12-22 05:42] font opened #39127 "GCE kube-up.sh timeout with Trusty distribution"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

**What happened**:
Automated GCE Kubernetes cluster deployment using Ubuntu Trusty image failed to come up properly and

[2016-12-22 05:59] thockin commented on #34348
Initializers do not allow for user-provided rejection of transactions,
though?

On Wed, Dec 21, 2016 at 5:54 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-12-22 06:10] alexw23 commented on #36845
I definitely think a write up on (SSL) for on AWS ELB is required.

[2016-12-22 06:13] thockin commented on #39113
@kubernetes/sig-node-misc
@kubernetes/sig-network-misc

This is interesting. to consider.  We get used to the system responding ~INSTANTLY, and when it doesn't we aren't happy.

[2016-12-22 06:19] Zjianglin commented on #37199
@Starefossen actually my service and pods are working normally,just the traffic was redirected to proxy server. After `unset http_proxy`, the problem was solved.
 Maybe you should debug your cluster status following with [official debugging-service](http://kubernetes.io/docs/user-guide/debugging-services/#a-pod-cannot-reach-itself-via-service-ip)

[2016-12-22 06:24] feiskyer opened #39128 "Proposal: spec the seccomp profile format"
Seccomp is supported by annotations today in both kubernetes api (#25324) and CRI (#33500):

- `security.alpha.kubernetes.io/seccomp/container/<container name>` for containers
- and `security.alpha.kubernetes.io/seccomp/pod` for pod

The candidate values include`localhost/<profile-name>`, which indicates the profile installed to the node's local seccomp profile root.

So from the API, only the pro

[2016-12-22 06:27] resouer commented on #39113
@thockin And this actually happens for all network plugins, right? If so, we should consider a solution.

[2016-12-22 06:31] feiskyer commented on #39113
NB, we have already pushed network plugins to runtime, so it's not easy to write pod status immediately because kubelet doesn't know CNI.

[2016-12-22 06:31] thockin commented on #34672
Just a couple quick thoughts:

* Do we want this under a whole new directory (/var/lib/dockershim) or /var/lib/kubelet/ somewhere?  I just want to make sure this is an intentional choice.

* Kubelet has, thus far, not really checkpointed things except as part of things it already had to write to disk (e.g. the path to a volume mount).  Think about how little we can get away with here.

* What are

[2016-12-22 06:37] feiskyer opened #39130 "CRI: using typed and structured fields instead of annotations"
CRI supports AppArmor, Seccomp and Sysctls via annotations [today](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto#L237), we should move them to typed and structured fields instead. (refer [here](https://github.com/kubernetes/kubernetes/issues/30819#issuecomment-253369441))

- [x] Apparmor (#41742)
- [x] Sysctls (#41766)
- [ ] Seccomp (#46332)

cc @y

[2016-12-22 06:58] MikeSpreitzer commented on #39065
Not exactly a _dup_ of #22469, because that issue is for tracking NetworkPolicy issues in general.

[2016-12-22 07:00] MikeSpreitzer commented on #39065
@heartlock You need a NetworkPolicy object that applies to the service pods you want to reach and does not restrict the remote peer (i.e., has no `from`).

[2016-12-22 07:10] heartlock commented on #39065
@MikeSpreitzer I create a NetworkPolicy as below :
[code]
But it not work. If ingress field is empty then this NetworkPolicy does not affect ingress isolation.

[2016-12-22 07:13] feiskyer commented on #34672
@thockin Great summary of potential checkpointing problems.

@freehan Instead of writing them into multiple files, how about joining them in one file by json-encoding? So we only need one file sync for each sandbox.

[2016-12-22 07:21] heartlock commented on #22469
@thockin It not works. If ingress field is empty then this NetworkPolicy does not affect ingress isolation.

[2016-12-22 07:24] wojtek-t commented on #39017
+100, I don't think we should now get back to update, we should just think how to improve patch.

I think we shouldn't worry about this, and just assume we have a runtime.Object as the entry point to which we are supposed to apply patch. Then what we are storing in etcd doesn't really matter. At least, we shouldn't start with this.

Yeah - that sounds very reasonable to me.
Do you think it should

[2016-12-22 07:33] thockin commented on #39065
yeah, sorry, I got trigger happy.

[2016-12-22 07:34] thockin commented on #39065
now it's @caseydavenport :)

[2016-12-22 07:36] wojtek-t opened #39134 "Kubemark-scale is failing to start for the last ~24 hours"
It seems that after merging the PR with hollow-node-problem-detector, kubemark-scale failed to start in every ~10 tries it has. This should be debugged and fixed ASAP.

It started here:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/130

and all subsequent runs are failing in the same way.

@gmarek @shyamjvs

[2016-12-22 07:49] thockin commented on #38087
https://github.com/kubernetes/kubernetes/pull/36634/files

On Wed, Dec 21, 2016 at 2:13 PM, Aaron Crickenberger <
notifications@github.com> wrote:

[2016-12-22 07:54] k82cn opened #39136 "kube-proxy failed to record events."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):
master

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`): `Linux dcosdemo02 3.19.0-25-generic #26~14.04.1-Ubuntu SMP Fri Jul 24 21:16:20 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**:
- **

[2016-12-22 07:55] k82cn commented on #39136
I'm working on the PR :).

[2016-12-22 08:14] mdshuai opened #39138 "podIP is empty if container exit quickly"
**Kubernetes version** (use `kubectl version`):
v1.5.0-alpha.1.4153+4ee51fcc2db68d-dirty

**What happened**:
Create a pod exit quickly, sometime the pod's podIP. If I sleep some seconds, the pod can display the ip.

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Anything else do we need to know**:

[2016-12-22 08:14] mdshuai commented on #39138
@derekwaynecarr help check, thanks.

[2016-12-22 08:24] mdshuai commented on #39138
Not sure if related to https://github.com/kubernetes/kubernetes/issues/39113 or not

[2016-12-22 08:34] SebastianM commented on #39048
Done

[2016-12-22 08:43] keith4743 opened #39143 "event.go:198] Server rejected event '&api.Event{TypeMeta:unversioned."
I reinstalled the kubernetes and docker app on one node, and the k8s can not register in...

centos 7
kubernetes 1.2

Dec 22 16:14:31 docker-server03 kubelet: I1222 16:14:31.749973 13349 kubelet.go:1086] Setting node annotation to enable volume controller attach/detach
Dec 22 16:14:31 docker-server03 kubelet: I1222 16:14:31.912775 13349 kubelet.go:1198] Attempting to register node node03.stg-k8s.c

[2016-12-22 08:54] #39066 closed

[2016-12-22 09:00] nhlfr commented on #39048
done

[2016-12-22 09:01] heartlock commented on #39065
it works! thanks for your help @thockin @MikeSpreitzer @caseydavenport

please close this issue

[2016-12-22 09:01] #39065 closed

[2016-12-22 09:24] tianyouhui commented on #38806
I found that when i deleted /etc/cni/net.d/* and reset kubernetes(clean up and reinstall), it becomes ok... there's only one pod @spacexnic

[2016-12-22 09:38] george-angel commented on #39028
Sadly not, we had to recreate the the deployment and the volume, but I will check next time we run into this.

[2016-12-22 09:41] fgrzadkowski commented on #38949
From the user perspective I think we should just say that we care only about "last seen" timestamp. Then it's pretty straightforwards which event objects are deleted and which are not. WDYT?

[2016-12-22 09:43] mikkeloscar opened #39144 "Changing service port and reapplying doesn't work."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): **BUG REPORT**

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: minikube (also reproducable in other envs)
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: `minikube start --kubernetes-version v1.5.1`
- **Others**:

**What hap

[2016-12-22 09:43] matthiasr commented on #38949
I think that's fine. The only complication are occurence counts – they'd keep counting up as long as an event happens frequently enough. But I think that's easy enough to reason about.

[2016-12-22 09:44] matthiasr commented on #38949
(also, for such a frequent event, all _I_ would look for in an occurence count is "a lot" vs "not a lot", so that'd be fine).

[2016-12-22 10:56] kabakaev commented on #38498
I experience the same issue when a k8s node is rebooted. After restart, kubelet is unable to clean the crashed docker containers. K8s version is 1.4.

As a quick-and-dirty workaround, container cleanup will continue if the "volumes" directory is created manually:
`tail -n 100 /var/log/kubernetes/kubelet.log | grep "found, but error open /var/lib/kubelet/pods" | perl -pe 's#^.*(/var/lib/kubelet/pod

[2016-12-22 11:19] Crassirostris commented on #39041
@ixdy Also worked for me

Is it possible to comment it out? It would be nice to have `-build` command back

[2016-12-22 11:24] wojtek-t commented on #39134
All tests are failing with:
[code]

I guess this is due to lack of resources in the cluster. I mean when you added requests for hollow NPD, we can have less of hollow nodes on a single machine, which in turn means that we can't schedule on 5000 hollow-nodes on 51 machines. We should probably increase cluster size.

[2016-12-22 11:28] wojtek-t commented on #39134
Also, please update documentation about it in:
https://github.com/kubernetes/community/blob/master/contributors/devel/kubemark-guide.md

[2016-12-22 11:38] dbaumgarten commented on #38806
I encountered this problem when trying to install Kubernetes using kubeadm on a set of single-cpu VMs.
It seems that all the pods started by kubeadm together request slightly more than one full cpu. The kube-dns pod is started last and can't get all the cpu it requests, so it fails to schedule.
As soon as an other node joins the cluster, the dns pod is sheduled to the new node and the create-OutOf

[2016-12-22 12:07] kargakis opened #39147 "Include more info about deployments in `get -o wide`"
Already done for daemonsets, we should do the same for deployments:
[code]
@kubernetes/sig-cli-misc

[2016-12-22 12:15] kargakis commented on #29651
Note that none of DS / D / RS show the pod template too

[2016-12-22 12:17] kargakis commented on #38768
I've added one more in the printer issues list: https://github.com/kubernetes/kubernetes/issues/39147

[2016-12-22 12:17] gauravjos commented on #38728
Cannot start kubernetes cluster with version 1.5.1 on AWS
I used the following commands to setup cluster the disk size used  less in value as this is for demo purposes
export KUBE_AWS_ZONE=us-west-2a
export NUM_NODES=1
export MASTER_SIZE=t2.micro
export NODE_SIZE=t2.micro
export AWS_S3_REGION=us-west-2
export KUBE_AWS_INSTANCE_PREFIX=kube1.5.1
export KUBE_OS_DISTRIBUTION=jessie
export MASTER_DISK_

[2016-12-22 12:20] AdoHe commented on #38768
Thanks @kargakis, will take a look.

[2016-12-22 12:20] ravisantoshgudimetla opened #39148 "Dead code in qos.go?"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
No.
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature

**Kubern

[2016-12-22 12:23] kargakis commented on #38686
Note that such a test will be flaky if we don't leave some room for divergence. The replica set controller updates the status of replica sets based on what's in the pod cache (doesn't list directly from the api). Eventually the observed state should converge with the live state, we just should not assume at all cases that rs.status.replicas == len(a list of the replica set pods from the api server

[2016-12-22 12:33] dohnto commented on #26566
Hello, we face similar (related) situation:

Docker is not able to create new containers

[code]

And if pod was scheduled to such a node, it repeatedly fails and the pod is never rescheduled to other node! This can cause outage!

### docker info
[code]

### kubectl describe node ournode
[code]

[2016-12-22 12:46] shyamjvs commented on #39134
Yes, seems like the external cluster size is the problem. Thank you for pointing this @wojtek-t .
Which among the following options do you think is better:
1. Make the cluster size 75 (which is 1.5 times 51) as the number of hollow containers on each hollow node has become 1.5 times.
2. Do some kind of binary search to come up with the optimal number of machines required now (it might turn up to b

[2016-12-22 12:49] shyamjvs commented on #39134
3. Or maybe increasing the cluster size by a factor of 1.158 (= 5000/4318) makes more sense?

[2016-12-22 12:52] valichek commented on #38893
@madhusudancs getting following errors when starting federation services with kubefed
[code]
First time there was a message for ec-2 instance: "One or more volumes attached to this instance is impaired". And volume stuck in attaching.
When tried again got the same error, but volume have been attached.

[2016-12-22 12:54] gmarek commented on #39134
It's easy to compute knowing:
- how many cores/mem each machine has
- how many cores/mem daemons running on each machine request
- how many cores/mem all non-daemon cluster addons request
- how many cores/mem single hollow-node needs.

[2016-12-22 13:03] deads2k commented on #38627
https://github.com/kubernetes/kubernetes/pull/38626
https://github.com/kubernetes/kubernetes/pull/38813
https://github.com/kubernetes/kubernetes/pull/39020
https://github.com/kubernetes/kubernetes/pull/39080
https://github.com/kubernetes/kubernetes/pull/39094
https://github.com/kubernetes/kubernetes/pull/39092

[2016-12-22 13:04] shyamjvs commented on #39134
Is there a good way to find these metrics?
Also, I think that computing using these metrics would also lead us to 1.158 which is (no. of hollow-needs required i.e. 5000) / (no. of hollow-nodes that could be started i.e. 4318).
Because all the metrics that you suggested are constant values and so no. of machines required should grow linearly with the no. of hollow nodes we need.

[2016-12-22 13:41] danwinship commented on #39113
We could change NetworkPlugin.SetUpPod() to return (*PodNetworkStatus, error), and for plugins other than CNI, just have SetUpPod() end with "return plugin.GetPodNetworkStatus(...)"

[2016-12-22 13:55] soltysh commented on #30899
Ref: https://github.com/kubernetes/kubernetes/issues/36859#issuecomment-262022027

[2016-12-22 13:55] soltysh commented on #19830
Ref https://github.com/kubernetes/kubernetes/issues/36859#issuecomment-262022027

[2016-12-22 13:56] soltysh commented on #15494
Ref https://github.com/kubernetes/kubernetes/issues/36859#issuecomment-262022027

[2016-12-22 14:02] wojtek-t commented on #39134
@shyamjvs - we should compute it (as @gmarek pointed out). You should take a look at resources requested by all addons in the cluster + static pods.

We definitely shouldn't created 75 machines, as this will for sure be too much.

Also to reduce the overhead, we should switch to larger machines, instead of more machines. But this should be backed by computations how many resources do we need.

[2016-12-22 14:06] wojtek-t commented on #39134
@shyamjvs - the easiest way to figure out how many resources each system pod is using is to login to the existing cluster a listing pods from kube-system namespace and checking their requests fields.

[2016-12-22 14:26] deads2k opened #39153 "[k8s.io] Loadbalancing: L7 [k8s.io] Nginx should conform to Ingress spec 22s"
[code]

[2016-12-22 14:29] deads2k commented on #39153
Seen here: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/1877

@cjcullen @mikedanese I don't seem to have the apiserver logs or the addon-manager logs that I'd normally use to debug this problem.

The user is one I don't recognize though: `kubekins@kubernetes-jenkins.iam.gserviceaccount.com`.  I'm betting against this actually being a flake.  I think it

[2016-12-22 14:38] valichek commented on #38893
well, after some time, `apiserver` turned to be running, but not `controller-manager`,

[code]

I have check `kubefed` sources and found that `--dns-provider` and many other things are hardcoded and not configurable
https://github.com/kubernetes/kubernetes/blob/04a74570323eae3fc843ca7a6c34c28ada2847a9/federation/pkg/kubefed/init/init.go#L477

[2016-12-22 15:07] ls-yann-david opened #39156 "Pods Manifests files starting with . are picked up by Kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Repport

**Kubernetes version** (use `kubectl version`):  1.5.1 (Both Server and Client)

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): UBUNTU 16.04
- **Kernel** (e.g. `uname -a`): 4.4.0-47-generic
- **Install tools**: Chef

**What happened**:
Kubelet picks up dot files in --

[2016-12-22 15:14] pigmej commented on #35183
I can imagine some complications around that area.

How are we going to solve this problem:
- user defines cleanup action (whatever we will call it)
- node with a pod is down, therefore pod will be not able to call cleanup action
- user want to delete pod from k8s system
It's obvious that then pod hooks weren't be executed, but then we will have 2 different behavior of the same.

Second problem:
-

[2016-12-22 15:15] liggitt commented on #38217
some proxies disallow custom headers as well... not sure an arms race against misbehaving proxies is something we want to get into

[2016-12-22 15:31] shyamjvs commented on #39134
Much better now for the run https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/149 :
`Found only 4999 ready Nodes while waiting for 5000`

This pretty much justifies the calculation for increasing nodes 1.158 times.
So increasing `NUM_NODES` by 1 more and making it 60 should work for now.
Once we are sure it works, we can then experiment with other ma

[2016-12-22 15:36] feiskyer commented on #38854
Note that the biggest difference of proto3 is the [default values](https://developers.google.com/protocol-buffers/docs/proto3#default), there is no pointer to basic types any more (and no generated `GetXXX()` functions for them). The default values are type-specific:

1.  For strings, the default value is the empty string.
2.  For bytes, the default value is empty bytes.
3.  For bools, the default

[2016-12-22 15:47] sbezverk opened #39159 "cannot attach iscsi persistent volume"
pod does not start because kubelet cannot mount iscsi persistent storage. The host where pod/kubelet runs shows success in building iscsi session and it creates corresponding disk device in /dev

Here is the error, but more details are provided in the attached log file:

Dec 22 10:22:36 kube-1 kubelet: E1222 10:22:36.691419     781 iscsi.go:214] iscsi: failed to setup
Dec 22 10:22:36 kube-1 kubele

[2016-12-22 15:48] sbezverk commented on #39159
Forgot to mentione, it is kubernetes 1.5.1 and baremetal all in one installation.

[2016-12-22 16:01] 2opremio commented on #32625
make sure they work in the toolbox for debugging

Conntrack events (CONFIG_NF_CONNTRACK_EVENTS) are also unsupported, which breaks connection tracking on https://github.com/weaveworks/scope

I have created https://code.google.com/p/google-compute-engine/issues/detail?id=499 to track it separately

[2016-12-22 16:24] #39153 closed

[2016-12-22 16:51] madhusudancs commented on #38893
@valichek

https://github.com/kubernetes/kubernetes/blob/04a74570323eae3fc843ca7a6c34c28ada2847a9/federation/pkg/kubefed/init/init.go#L477

That's an old commit.

If you want to use AWS Route53 instead of Google Cloud DNS, pass `--dns-provider=aws-route53` to `kubefed init`.

For now, you can also configure everything you want by just editing the deployments directly after running `kubefed init`:

[2016-12-22 16:55] motymichaely commented on #11935
Hey team, Is there any k8s version aimed for the this feature to be released? Any suggestions for implementing this with AWS ASG + custom metrics?

[2016-12-22 17:07] #37402 closed

[2016-12-22 17:11] mwielgus commented on #11935
The current version of Cluster Autoscaler  (0.4.0) supports AWS ASG. Closing the issue.

[2016-12-22 17:11] #11935 closed

[2016-12-22 17:13] mwielgus commented on #11935
BTW, Cluster Autoscaler is not driven by metrics but rather by the real need for a new node because some pods cannot schedule.

[2016-12-22 17:29] valichek commented on #38893
@madhusudancs well, for now it looks that I need to configure CIDR, I used kube-aws tool to run the cluster, and have following options:
`instanceCIDR: "10.0.16.0/20"`
`serviceCIDR: "10.128.0.0/20"`
`podCIDR: "10.128.16.0/20"`
`dnsServiceIP: 10.128.0.10`

If I understand the config properly, I have to change from `--service-cluster-ip-range=10.0.0.0/16"`
to `--service-cluster-ip-range=10.128.112.0

[2016-12-22 17:44] valichek commented on #38893
And `--dns-zone-id` too

[2016-12-22 17:49] dashpole commented on #39102
scheduling: [#27097 (comment)](https://github.com/kubernetes/kubernetes/issues/27097#issuecomment-237962464)

[2016-12-22 18:15] johscheuer commented on #39101
@humblec I think we want to cover two things:

1.) When a user does a "normal" volume mount we want that he can only use Quobyte volumes from the associated tenant (in our case Quobyte tenant name == Kubernetes namespace name) otherwise he could probably use any Quobyte volume that exists.

2.) You are right we can restrict access to PV/PVC with namespaces. One benefit of our approach is that all

[2016-12-22 18:24] smarterclayton commented on #34348
Please see the proposal, it covers all of this and the rationale for what
to support.

On Dec 22, 2016, at 12:59 AM, Tim Hockin <notifications@github.com> wrote:

Initializers do not allow for user-provided rejection of transactions,
though?

On Wed, Dec 21, 2016 at 5:54 PM, Jordan Liggitt <notifications@github.com>
wrote:

them

(if

https://github.com/kubernetes/kubernetes/issues/34348#issuecomm

[2016-12-22 18:30] ethernetdan commented on #28138
This proposal has been worked on in a GDoc - https://docs.google.com/document/d/1tFTq37rSRNSacZeXVTIb4KGLGL8-tMw30fQ2Kkdm7JQ.

I'm working on a PR on this and will implement feedback from the doc.

[2016-12-22 18:32] smarterclayton commented on #35874
I thought we had a rule of thumb in API-conventions, but it's not
explicit enough:

1. Objects that result in things being materialized should have spec status
2. Objects that are themselves "whole" without which do not.

Pods, nodes, pvc, quota are in 1

Namespace, secret, config map, pod security policy, roles are in 2

A few objects added spec without having status.  A few objects which
are cal

[2016-12-22 18:40] matthewadams opened #39162 ""make quick-release" using Docker fails on macOS with "no space left on device""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
---
kubernetes make quick-release no space left on device

**Is this a BUG REPORT or

[2016-12-22 18:41] deads2k opened #39163 "[k8s.io] Loadbalancing: L7 [k8s.io] Nginx should conform to Ingress spec 1m1s"
[code]

Maybe GKE doesn't have `authorization.k8s.io/v1beta1` enabled?

@cjcullen @mikedanese

[2016-12-22 18:50] MikeSpreitzer commented on #22469
We have a bug or two.  Try another way.  IIRC, I update the example set somewhere to show what you need.

[2016-12-22 18:57] whitlockjc commented on #34348
@smarterclayton Is your proposal and my webhook admission controller exclusive?

[2016-12-22 18:59] whitlockjc commented on #34348
Regarding my last comment about rules, another option could be to dictate the _type_ of rule in the rule itself, making `default[Allow|Deny]` obsolete: `{"rule": "allow", "kind": ["Pod"], ...}`.  Of course, the question when would be is there a way for order to accidentally allow/disallow something unintended.  _(If so, is that our issue to solve?)_

[2016-12-22 18:59] DirectXMan12 commented on #38812
while the events on `describe` are useful, they're not always easy to interpret, due to event collapsing, etc.  I think a status indicating the *current* state would be very useful here.

[2016-12-22 19:04] whitlockjc commented on #34348
Also, when discussing this with others I think the `defaultRule` property is confusing, or at least its naming is when alongside `defaultAllow` for the webhook configuration.

[2016-12-22 19:53] #39163 closed

[2016-12-22 20:15] a-robinson commented on #39125
Thanks @foxish! Is the simpler fix something that'll be pulled into a 1.5.x patch release?

[2016-12-22 20:18] smarterclayton commented on #34348
My proposal covers both initializers and external web hook admission, so as
we talked about I think we want to ensure your approach is folded into that
proposal and any discrepancies resolved there (the proposal is "extension
of admission control" and tries to talk holistically about the problem)

On Thu, Dec 22, 2016 at 2:04 PM, Jeremy Whitlock <notifications@github.com>
wrote:

[2016-12-22 20:21] dashpole commented on #39102
Possibly a better way to approach this proposal, is based on which metrics currently included in the [Summary API](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/stats/types.go) should NOT be included in the core metrics API.
The current proposal for core metrics (based on what the kubelet uses) does NOT include the following stats:
Timestamp data for any metrics
Ide

[2016-12-22 20:21] #39046 closed

[2016-12-22 20:23] chrislovecnm commented on #29324
@justinsb we have recreated this twice in a row.  We are going to get logs for you.

[2016-12-22 20:23] #38395 closed

[2016-12-22 20:23] #38420 closed

[2016-12-22 20:23] #38428 closed

[2016-12-22 20:23] #38436 closed

[2016-12-22 20:23] #38466 closed

[2016-12-22 20:23] #38468 closed

[2016-12-22 20:23] #38492 closed

[2016-12-22 20:23] #38554 closed

[2016-12-22 20:23] #38555 closed

[2016-12-22 20:23] #38558 closed

[2016-12-22 20:23] #38564 closed

[2016-12-22 20:23] #38567 closed

[2016-12-22 20:23] #38578 closed

[2016-12-22 20:23] #38580 closed

[2016-12-22 20:23] #38582 closed

[2016-12-22 20:23] #38586 closed

[2016-12-22 20:23] #38652 closed

[2016-12-22 20:23] #38928 closed

[2016-12-22 20:23] #38944 closed

[2016-12-22 21:01] matthiasr commented on #25529
What does this flag need to be set on? I can't find it referenced in the kube-apiserver or kube-proxy help?

[2016-12-22 21:03] matthiasr commented on #26637
cross-linking #25529.

We are a bit behind on versions (still on 1.3) and at least there, there are real updates to the default/kubernetes endpoints object. These come from the apiservers each thinking they're the one and resetting the endpoints list.

#25529 suggests that there is a flag that needs to be set to remedy that but there is no documentation?

[2016-12-22 21:05] matthiasr commented on #25529
Is this `--apiserver-count`?

[2016-12-22 21:12] whitlockjc commented on #34348
I think we're on the same page now.  If I understand you correctly, you're saying that the work I've done and the discussion above is useful but would be better as part of your proposal instead of its own thing.  Is this correct?  If so, I'll just close this and point to there as the new location where the discussion will take place and I will continue working on the webhook admission controller b

[2016-12-22 21:13] guoshimin commented on #31891
I can now reproduce the problem deterministically with v1.3.8:
- create a deployment with replicas=1 with an EBS volume attached on node X
- Observe that node X reports the volume in VolumesInUse.
- go to node X and kill docker, and keep it down
- restart kubelet on node X
- Observe that node X stops reporting the volume in VolumesInUse, and also that it reports unready status.
- After some timeou

[2016-12-22 21:19] gmarek commented on #39134
With 10 per machine we'd need a custom 10-core VMs (or 11 to be safe). We were using 8-cores only, as we were close max-pods-per-node limit.

[2016-12-22 21:34] k8s-merge-robot opened #39167 "ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster-new/86/
Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAffinity is respected if matching with multiple Affinities {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34223

Failed: [k8s.io] SchedulerP

[2016-12-22 21:47] nikhiljindal opened #39168 "kubectl tests pass even if a command failed"
kubectl tests seem to be passing even if a command fails.

Debug and fix this.

cc @janetkuo

[2016-12-22 22:04] foxish commented on #39089
cc @smarterclayton @kubernetes/sig-apps-misc

[2016-12-22 22:04] foxish commented on #39089
cc @janetkuo

[2016-12-22 22:24] aaronbbrown opened #39170 "preStop hooks throwing FailedPreStopHook warning events"
**Kubernetes version** (use `kubectl version`): 1.4.5

**Environment**:
- **Cloud provider or hardware configuration**: minikube, aws
- **OS** (e.g. from /etc/os-release): boot2docker (alpine), Debian Jessie
- **Kernel** (e.g. `uname -a`): 4.4.14-boot2docker, 4.4.26-k8s
- **Install tools**: minikube, kops
- **Others**:

**What happened**:

I'm trying to use `preStop` for the purpose of sending cus

[2016-12-22 22:48] enricoschiattarella commented on #34348
For the Istio project we need the capability to intercept pod creation and modify the spec on the fly to inject new containers (one of which could be init). Both proposals will do and we will start using whatever is available asap.

[2016-12-22 22:55] foxish commented on #39048
I've spoken with the LF about `thelinuxfoundation` adding 2FA. It should be completed soon-ish.

[2016-12-22 22:57] foxish commented on #39032
cc @kubernetes/sig-scheduling-misc

[2016-12-22 23:32] bprashanth commented on #39124
To clarify, I didn't mean there was something wrong with the implementation of cadvisor, or any other disk management stats reporting pipe.

I meant: if we're going to sort based on QoS and make disk pressure evictions, the amount of disk a pod consumes needs to be controllable through QoS (including, of course, the size of the r/w layer). Otherwise, sort based on actual disk, so something that us

[2016-12-22 23:34] k8s-merge-robot opened #39174 "ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster-new/83/
Multiple broken tests:

Failed: [k8s.io] Service endpoints latency should not be very high [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #30632

Failed: [k8s.io] Job should run a job to completion when tasks sometimes fail and a

[2016-12-23 00:30] whitlockjc commented on #34348
One last bit for clarity, any of the places where you see _"allow"_ or _"deny"_ in the rules I'm talking about, it means _"send the admission request to the webhook"_ or _"do not send the admission request to the webhook"_.

[2016-12-23 00:40] cjcullen opened #39176 "Remove kubekins as cluster-admin."
#39154 added a role binding for the `kubekins@kubernetes-jenkins.iam.gserviceaccount.com` user as a cluster-admin to work around the inability for Google service accounts to create RBAC role bindings on GKE. We need to solve that problem and take out the workaround before 1.6 ships.

[2016-12-23 00:44] quinton-hoole commented on #38897
@liggitt I can't speak to why the disruptive option was chosen as the default in the single cluster case (do you perhaps know?), however avoiding global outages is one of the primary use cases of Federation, so making global cascading deletion the default for Federation does not seem wise. Other than the consistency argument, can you think of any good reasons why global cascading deletion should b

[2016-12-23 00:54] smarterclayton commented on #34348
Just that we should unify the discussion here onto the proposal and identify any gaps and discuss them in the proposal, then we can come back here and modify as necessary.

[2016-12-23 00:54] cjcullen commented on #39176
@deads2k @liggitt

[2016-12-23 00:55] quinton-hoole commented on #35078
Any progress @shashidharatd ?

[2016-12-23 00:56] whitlockjc commented on #34348
Oh, okay.  That's cool.  I'll get started there.

[2016-12-23 01:05] k8s-merge-robot opened #39177 "ci-kubernetes-e2e-gke-1.5-1.4-cvm-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-1.5-1.4-cvm-kubectl-skew/1655/
Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26139 #28342 #28439 #31574 #36576

Failed: [k8s.io] Kubectl client [k8s.io] Up

[2016-12-23 01:10] jimmycuadra opened #39178 "Dynamic volume provisioning creates EBS volume in the wrong availability zone"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): dynamic volume provisioning

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /e

[2016-12-23 01:12] krmayankk commented on #22179
@vpal  @bgrant0607 i am facing the same issue in v1.3.6. I am getting GID as 0 and supplemental group as desired. I want uid and gid as desired number like 7447. Is this supported in 1.3.6 or is this coming in 1.6 now ?

[2016-12-23 01:15] xingzhou commented on #39147
I'd like to investigate on this

[2016-12-23 01:18] thockin commented on #38087
The *real* solution here is for GitHub to a) provide better OAuth scopes so we don't need that granularity and b) provide an API to the new review flow.  Anyone have leverage?  We have tried...

[2016-12-23 01:26] thockin commented on #3595
Fair enough.  Raising a limit is different than isolating a resource.
 rlimit is more appropriate for one than the other.

On Thu, Dec 22, 2016 at 5:24 PM, Tyler Mandry <notifications@github.com>
wrote:

[2016-12-23 01:33] BaluDontu commented on #33061
[code]

I almost waited for 45 mins, but I didn't send any request attempting to detach volume as in - https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L162

As in https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L145, since it failed to update node status, it couldn't ma

[2016-12-23 01:39] thockin commented on #17470
Where do you see that this is not supported?  That is a transcript of my
test - yeah, it worked (NB this is in masquerade mode)

On Wed, Dec 21, 2016 at 1:24 AM, starsdeep <notifications@github.com> wrote:

[2016-12-23 01:42] #38834 closed

[2016-12-23 01:47] #39072 closed

[2016-12-23 02:04] lukaszo opened #39180 "Flaky TestDefaulting unit test"
It looks like the test starts/stops to fail after running make update.

Latest failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/39157/pull-kubernetes-bazel/1541295815963780175/
Previous failures: https://github.com/kubernetes/kubernetes/pull/37959#issuecomment-265180618
https://github.com/kubernetes/kubernetes/pull/38614#issuecomment-267585502
[code]

Increasing nu

[2016-12-23 02:12] euank commented on #38894
It's possible for this to occur in other situations as well.

I'm not certain how I ended up with 1200 defunct wc's in a couple days, but my kubelet definitely has a fully featured find, so it's something different.

Possibly it's a result of me restarting the kubelet during a "find" execution, but I'm not sure.

[2016-12-23 02:24] xingxingxia commented on #29322
@AdoHe yeah, now no this problem for bash, this was concluded in https://bugzilla.redhat.com/show_bug.cgi?id=1405961#c3 (comment 3) . Problem unsolved was stated in https://bugzilla.redhat.com/show_bug.cgi?id=1405961#c4 (comment 4), which intersects davidreuss's last comment

[2016-12-23 02:39] feiskyer opened #39183 "TestSeccompLocalhostProfileIsLoaded panic on non-linux platforms"
go test -v k8s.io/kubernetes/pkg/kubelet/dockertools

[code]

This is because there are a few test cases in dockertools are linux-specific.

[2016-12-23 02:50] #33845 closed

[2016-12-23 02:50] #34039 closed

[2016-12-23 02:50] resouer commented on #39138
@mdshuai it's the same problem, let's close this one. :)

[2016-12-23 02:50] #39138 closed

[2016-12-23 03:01] k8s-merge-robot opened #39185 "ci-kubernetes-e2e-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-test/161/
Multiple broken tests:

Failed: [k8s.io] EmptyDir volumes should support (non-root,0666,default) [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34226

Failed: [k8s.io] EmptyDir volumes should support (non-root,0666,tmpfs) [Conformance] {Kubernetes e2e suite}

[code]

[2016-12-23 03:11] AdoHe commented on #39147
@xingzhou cool, I would help review this.

[2016-12-23 03:27] krmayankk commented on #39089
I would like to work on this. Is there someone who can give me some guidance on this

[2016-12-23 03:29] justinsb commented on #27796
We're seeing a lot of people that continue to object to the CLA.

Is the source code for the CLA bot open source (and if so where is the repo), so we can try to improve the flow?  Or are screenshots available (particularly for the individual version)?

_Something_ is obviously causing people to drop out of the funnel.  I noticed right away that I could sign in with a non-github account, but then I

[2016-12-23 03:34] xingzhou commented on #39147
thanks @AdoHe, have a similar [PR](https://github.com/kubernetes/kubernetes/pull/38866) for your review, if you have time:)

[2016-12-23 03:36] dankohn commented on #27796
The LF CLAbot is not open source, and is not going to be open sourced, because (despite good work by @emsearcy) it's a hairball, especially in terms of its backend storage. On behalf of CNCF, I want to apologize for the problems people are encountering. The best short-term fix for login issues is to email helpdesk@rt.linuxfoundation.org as they are quite responsive, although only during PT busines

[2016-12-23 03:49] k8s-merge-robot opened #39186 "ci-kubernetes-e2e-gci-gke-subnet: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-subnet/127/
Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPod Affinity and AntiAffinity is respected if matching {Kubernetes e2e suite}

[code]

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAntiAffinity is respected if matching 2 {Kubernetes

[2016-12-23 03:56] yissachar commented on #27796
I don't think is so much a problem with CLAbot as much as the fact that the CLA is required in the first place. When a user has a largish feature that they're trying to contribute back upstream, they're likely to bear with it and go through the CLA process. But when the user is just contributing a simple doc fix or a small bug fix they're likely to just bail.

Consider the issue @justinsb just lin

[2016-12-23 03:59] MikeSpreitzer commented on #39065
@heartlock See example 3 in https://github.com/kubernetes/community/blob/master/contributors/design-proposals/network-policy.md, that shows what you want for your `ingress` clause.

[2016-12-23 04:02] MikeSpreitzer commented on #22469
Example 3 in https://github.com/kubernetes/community/blob/master/contributors/design-proposals/network-policy.md shows what @yiwang8621 had trouble figuring out, namely how to write an `ingress` clause that allows everything in.

[2016-12-23 04:13] yissachar commented on #27796
It also seems slightly absurd to me that if the user had just opened an issue instead ("The docs should say  `us-east-2` not `us-east-1`"), there would be no CLAbot interaction and someone would just make the change for them.

Furthermore, since I'm aware of the issue now, having seen the PR, I can go ahead and submit the fix myself (unless you tell me that this falls afoul of the CLA, which I wou

[2016-12-23 04:28] whitezlo opened #39187 "Services do not get deleted in federation control plane"
In Kubernetes 1.5.1, when recursively deleting federated services using federation control plane, they still exist in federated cluster.

[2016-12-23 04:29] AdoHe commented on #39147
@xingzhou ok, I will try to pick it up today.

[2016-12-23 04:34] resouer commented on #39113
@danwinship As feiskyer implies, kubelet does not know network plugin and it relies on a independent loop to update pod status while SetUpPod() is executed in another main loop. We may have to change CRI and build a channel between those loops to update pod status immediately ...

Another approach is to improve this reporting path "at best". @caseydavenport Is it possible from you side to figure o

[2016-12-23 04:39] AdoHe commented on #25579
Add these node attributes to node wide output sounds reasonable to me. @xingzhou Thanks for this PR.

[2016-12-23 04:40] #39187 closed

[2016-12-23 04:49] thockin opened #39188 "Services with same port, different protocol display wrongly in kubectl and have wrong merge key"
User reported:

I am running a service with both TCP and UDP:

[code]

but kubectl describe service shows only UDP.

[code]

When I change the order then it shows only TCP.

This looks like using the wrong mergeKey, and indeed the code backs that up:

2508 type ServiceSpec struct {
2509     // The list of ports that are exposed by this service.
2510     // More info: http://kubernetes.io/docs/user

[2016-12-23 05:10] thockin commented on #37488
I'll push a branch tonight.  I think the IP allocator is done, but needs a
test.  The port allocator will be cut-and-paste.  It's sort of kludgey, but
I think it will work.

On Wed, Dec 21, 2016 at 6:27 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-12-23 05:15] madhusudancs commented on #39087
Federated Ingress currently only works for HTTPS Ingresses. Also, you will need the workaround described here for now - http://kubernetes.io/docs/user-guide/federation/federated-ingress/#known-issue. We plan to fix the firewall issue and that work is being tracked in Issue #37306.

[2016-12-23 05:24] krmayankk commented on #39048
Done

[2016-12-23 05:32] #37979 closed

[2016-12-23 05:56] hongchaodeng opened #39189 "spec.initContainers[0].env[0].valueFrom.fieldRef.apiVersion: Required value"
What?
The following pod yaml works on 1.4 cluster:
[code]

However, creating it against 1.5.1 or master branch 84d0fbd gives the following error:
[code]

[2016-12-23 06:00] #37654 closed

[2016-12-23 06:12] mehdy commented on #39086
:))
@mbohlool sorry but I don't want to sell it :)

[2016-12-23 08:08] gauravjos opened #39192 "Cannot run Kubernetes 1.5.1 on AWS using get.k8s.io"
**This is a...**

- Bug Report

**Problem:**
Cannot run the kubernetes Cluster v1.5.1  with get.k8s.io on AWS with following
export KUBE_AWS_ZONE=us-west-2a
export NUM_NODES=1
export MASTER_SIZE=t2.micro
export NODE_SIZE=t2.micro
export AWS_S3_REGION=us-west-2
export KUBE_AWS_INSTANCE_PREFIX=kube1.5.1
export KUBE_OS_DISTRIBUTION=jessie
export MASTER_DISK_SIZE=5
export MASTER_ROOT_DISK_SIZE=8
expor

[2016-12-23 08:23] shyamjvs commented on #39134
Looks like 150 ran successfully but 151 and 152 failed again with
`I1222 15:19:17.398] Found only 4998 ready Nodes while waiting for 5000.
W1222 15:20:28.506] Error from server (ServerTimeout): the server cannot complete the requested operation at this time, try again later (get pods)`
Could it be the case that master machine also needs to be upgraded with so many extra requests coming from the NP

[2016-12-23 08:33] rbtcollins commented on #31631
This might be root cause for #34064 and #33887 - came here after we had a bug lead to 4000 services in a namespace and other namespaces started seeing extraordinarily long endpoint bringups.

[2016-12-23 08:55] oscerd commented on #17648
Is this still needed?

[2016-12-23 09:02] xilabao opened #39194 "failed to authorize non-namespaced resource when use rolebinding"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):

**Environment**:
- **Cloud provider or hardware configuration**: local cluster
- **OS** (e.g. from /etc/os-release):Fedora 24
- **Kernel** (e.g. `uname -a`):Linux nfs 4.7.7-200.fc24.x86_64 #1 SMP Sat Oct 8 00:21:59 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**:hack/

[2016-12-23 09:15] cheld commented on #39048
Done, thanks

[2016-12-23 09:27] resouer commented on #39048
Done, thanks for reminding.

On Fri, Dec 23, 2016 at 5:16 PM, Christoph Held <notifications@github.com>
wrote:

[2016-12-23 09:43] resouer commented on #39156
Just sent a simple fix, while still open for discussion.

[2016-12-23 09:47] floreks commented on #39048
Done

[2016-12-23 09:48] abhishekagarwal87 opened #39197 "[Feature Request] Ability to have both clusterIP and DNS records for PetSets"
PetSet needs a "governing service" which is responsible for the networking identity of pods. This service has to be headless which create DNS records such as cassandra-0.cassandra.default.svc.cluster.local, cassandra-1.cassandra.default.svc.cluster.local etc
But then there is no way to create a virtual clusterIP for this application which clients can use.

[2016-12-23 09:50] kargakis commented on #39180
@deads2k this is the issue we were discussing. @lukaszo has opened a fix in https://github.com/kubernetes/kubernetes/pull/39181 but I am not sure about it.

[2016-12-23 09:54] kargakis commented on #39089
Dupe of https://github.com/kubernetes/kubernetes/issues/25055

[2016-12-23 10:19] maciaszczykm commented on #39048
Done.

[2016-12-23 10:53] digitalfishpond commented on #39048
Done.

[2016-12-23 11:43] magicwang-cn commented on #39048
Done

[2016-12-23 11:59] AdoHe commented on #38761
I am picking this up now, and will open a PR asap.

[2016-12-23 13:03] xmik commented on #34920
Me too, on 1.5.0-beta3. First, I was actually trying to schedule Pods which in total needed more CPU than a Kubernetes node had. Then, I deleted (`kubectl delete`)  2 Pods, which gave me 200m CPU free. Still however there is a pending Pod, which needs 100m CPU.

[2016-12-23 13:04] dankohn commented on #27796
Based on feedback from several actual and prospective projects, CNCF modified it's charter last month to enable each hosted project to determine whether or not they want a CLA (long [thread](https://github.com/openzipkin/openzipkin.github.io/issues/51#issuecomment-263926724) with context). However, I think it's very unlikely given that Kubernetes is now one of the highest velocity software project

[2016-12-23 13:06] dims commented on #27796
fyi, OpenStack has had this same issue with requiring a ICLA/CCLA for a long time. "We" are moving towards the DCO:
https://wiki.openstack.org/wiki/OpenStackAndItsCLA#The_Proposal

[2016-12-23 13:15] bluecmd opened #39198 "Add hostNetwork label to container_network_* metrics"
**FEATURE REQUEST**

Right now the Kublet has wonderful container network metrics available on :10250/metrics. They look like this:

[code]

I handpicked four metric instances above: two for apiserver, one for kube-controller-manager, and one for a normal pod named "flood-0".

The first three use "hostNetwork: true" which means that the interface counters they export are the same, as can be seen a

[2016-12-23 13:28] ofyaniv commented on #8731
Is this implemented now?

[2016-12-23 13:43] bluecmd opened #39200 ""kubectl get storageclass --all-namespaces" produces invalid output"
[code]

I'm guessing there is no such thing as namespaces for StorageClass, but when given `--all-namespaces` the `NAMESPACE` column is added has no values, causing the data to be miss-aligned. This caused me quite some confusion until I realized what was going on - I usually use `--all-namespaces` on all my get commands.

[2016-12-23 13:58] shashidharatd commented on #35078
The commits in #35697 were reverted due to a bug which caused the automated upgrade tests in CI to fail. I did find the cause and fixed it. but would like to run the upgrade tests in my local setup before pushing out the changes. somehow setting up the upgrade test environment outside GCE felt daunting and i didn't put much effort in this task of late. I would test the upgrade testcases on GCE its

[2016-12-23 14:09] bluecmd opened #39201 "PVC w/ alpha storage-class annotation stuck in "cannot find volume plugin for alpha provisioning""
**BUG**

Using Kubernetes 1.5.1 with Ceph RBD.

Storage Class:
[code]

The following PVCs work just fine:
[code]

Adding annotations to specify the storage class also works, but *only* if the annotation is using volume.beta.kubernetes.io:
[code]

**Problem: If using the following PVC, the PVC gets stuck.**

[code]

[code]

Compare with another claim using the beta annotation:
[code]

Hypothesis: M

[2016-12-23 14:19] nitro3v commented on #21397
+1

[2016-12-23 14:27] CristianPop opened #39202 "Premature iSCSI logout"
When multiple pods use different iSCSI volumes from the same target on the same node, DetachDisk prematurely logs out from the target, even though there other active pods using the other volumes from the same target. Additionally, if the OS has been booted using iSCSI as well, this will leave the system unusable.

I've noticed that the prefix returned by extractDeviceAndPrefix does not contain the

[2016-12-23 14:37] hectorj2f commented on #37278
I can confirm that this issue remains when using v1.5.1.

[code]
[code]

[2016-12-23 14:39] #38939 closed

[2016-12-23 15:17] wstrange commented on #8731
The nginx ingress implements cookie-based sticky load balancing

[2016-12-23 15:32] peay commented on #36311
@soltysh did you look into this? If not, let me know if you want me to pick it up and work on a PR

[2016-12-23 15:34] yiwang8621 commented on #22469
Thanks @MikeSpreitzer and @thockin for the tips. Really appreciated.
I am working a project that needs to support multi tenants, after I read http://kubernetes.io/docs/getting-started-guides/network-policy/walkthrough/, I found it is a very nice feature and it can help me to prevent tenant A to access tenant B's services and PODs. So I give each tenant a new namespace, all his services and PODs ar

[2016-12-23 15:38] mbohlool commented on #39086
@mehdy you sure? I can pay a good price. What about a kubernetes badge? :D Kidding of course. I am not even sure if such a thing exists If it does, I may give my user id for it :)

[2016-12-23 16:04] #35185 closed

[2016-12-23 16:25] ncdc commented on #39194
@liggitt

[2016-12-23 16:33] michmike commented on #39048
done. thanks!

[2016-12-23 16:35] liggitt commented on #39194
Rolebindings only allow access within the namespace they are created. To allow access to nonnamespaced resources, create a clusterrolebinding

[2016-12-23 16:35] #39194 closed

[2016-12-23 17:02] caseydavenport commented on #39113
@resouer Yep, I'll give that a try.  I'm traveling / vacationing right now, so might not get back here until the new year :)

The issue is that if it takes 3-5 seconds for connectivity to appear _after_ the pod has been started, some clients that try to connect at startup will fail, and not gracefully.  So unless someone has written their app specifically to handle this you can end up with a broke

[2016-12-23 18:51] #39180 closed

[2016-12-23 20:36] hongchaodeng opened #39207 "Readiness probe optionally not affecting receiving traffic via service"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Readiness probe. Service. Stateful pod.
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

When etcd starts, it has a bootstrap phase that talks to other peers:

Start -> bootstrapping -> running/serving

If "bootstrap" p

[2016-12-23 21:16] elyscape commented on #31839
Just wondering if there's been any progress on this.

[2016-12-23 21:47] k8s-merge-robot opened #39208 "ci-kubernetes-e2e-gci-gke-autoscaling: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-autoscaling/509/
Multiple broken tests:

Failed: [k8s.io] Cluster size autoscaling [Slow] should increase cluster size if pending pods are small [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34211

Failed: [k8s.io] Cluster size autoscaling [Slow]

[2016-12-23 21:47] k8s-merge-robot opened #39209 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws/3570/
Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895

[2016-12-23 21:57] #39209 closed

[2016-12-23 23:01] thomasbarton commented on #23880
@samuraisam I was able to work around this limitation by creating 2 separate services of type=LoadBalancer one for tcp and one for udp.  Using the parameter `loadBalancerIP: XXX.XXX.XXX.XXX` with the same ip address for both it works.  I am posting this in case anyone else runs into the same issue.

[2016-12-23 23:17] #39208 closed

[2016-12-23 23:57] zachaller commented on #39178
I am having this happen however we have nodes in each region and it seems to not be able to get the pod and the volume together in the same az, was setup with kubeadm with modifications to work with aws

[2016-12-24 01:27] k8s-merge-robot opened #39211 "ci-kubernetes-e2e-gci-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-test/127/
Multiple broken tests:

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should come back up if node goes down [Slow] [Disruptive] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #37373

Failed: [k8s.io] Proxy version v1 should proxy to cadvisor usin

[2016-12-24 01:55] frank-weindel commented on #7470
@kjvalencik Thanks for this! I set this up in our production cluster with a modest `--min-cache-ttl` and `--neg-ttl`, and it solved a MAJOR performance issue we were having with DNS.

We run many pod replicas of phantomjs in our cluster, each of which is always loading webpages along with their assets (images, css, javascript, data from APIs, etc). We noticed that pretty frequently (even when not

[2016-12-24 03:06] smarterclayton commented on #25055
There was a discussion somewhere about separating cascade and delete propagation and ensuring they were clearly distinguishable from each other.

[2016-12-24 06:30] keatz55 commented on #35712
@zreigz Thanks!

[2016-12-24 06:33] tonylambiris commented on #33554
FWIW dnsmasq has the flag(s) `-N, --no-negcache` to disable NXDOMAIN responses for a quick win:

[code]

[2016-12-24 08:42] amitkgupta opened #39214 "NodePort services not working as expected on AWS, possibly due to IAM ELB permissions"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No, I think it's a bug.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "NodePort", "AWS", "CreatingLoadBalancerFailed"

---

**Is this

[2016-12-24 09:01] krmayankk opened #39215 "append errors while releasing and adopting pods and replicasets during gc"
pkg/controller/deployment/deployment_controller.go
pkg/controller/replicaset/replicaset.go

As part of PR https://github.com/kubernetes/kubernetes/pull/35676 , we found some issues that need to be fixed:-
- fix some formatting issues in the comments
- append errors when releasing and adopting both pods and replicasets

[2016-12-24 11:20] tonylambiris commented on #38946
@bprashanth Hasn't `--reconcile-cidr` been removed as an option? On a related note, can anyone speak as to why it was removed? Out of all the version of kubernetes I've used for almost 2 years now, by far the easiest ones to configure and setup with third-party dependencies were using that flag with the kubenet network plugin.

[2016-12-24 13:41] tonylambiris commented on #28988
`sysctl -q -w net.ipv6.conf.all.disable_ipv6=1` as an on-the-fly workaround *before* starting any kubernetes-related services.

[2016-12-24 13:44] #39089 closed

[2016-12-24 14:26] saidiahd commented on #33544
Hi Folk,
problem solved for me just by:
Stopping Apparmor :
`# /etc/init.d/apparmor stop`
after that, you shoud reset kubeadm
`# kubeadm reset`
and finally, rerun the Initialization of your master
`# kubeadm init `

[2016-12-24 14:28] saidiahd commented on #33729
Hi Folk,
problem solved for me just by:
Stopping Apparmor :
`# /etc/init.d/apparmor stop`
after that, you shoud reset kubeadm
`# kubeadm reset`
and finally, rerun the Initialization of your master
`# kubeadm init `

[2016-12-24 15:12] cunnie commented on #30752
@colemickens I don't cases where the disk is unpartitioned (i.e. using the entire disk, e.g. `/dev/sdb`). I _suspect_ that any use of an entire raw device would be properly aligned (any filesystem that starts on sector 0 of the hard disk would be properly aligned), but that's a hunch and nothing more.

@codablock : I think your assessment is on target — the problem we (Cloud Foundry) are seeing is

[2016-12-24 17:31] smarterclayton commented on #31839
I plan on fixing this in 1.6 along with the max limit issue.

[2016-12-24 18:13] aveshagarwal commented on #39048
Done.

[2016-12-24 18:24] 928255095 opened #39220 "when i create a deployment,failed to fit in any node fit failure on node (home-server): PodToleratesNodeTaints"
pod (java110-registry-520578653-d8n7i) failed to fit in any node fit failure on node (home-server): PodToleratesNodeTaints

please help me

[2016-12-24 18:42] hongchaodeng commented on #17890
Closing this. Not interested anymore

[2016-12-24 18:42] #17890 closed

[2016-12-24 18:43] k8s-merge-robot opened #39221 "TestWatch {etcd}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/1422/
Failed: TestWatch {etcd}

[code]

Previous issues for this test: #31262 #32770 #33022 #34485

[2016-12-24 19:08] Hui-Zhi commented on #39048
Done.

[2016-12-24 19:09] chrislovecnm commented on #39048
Done

[2016-12-24 19:38] kris-nova commented on #39048
Done

[2016-12-24 21:30] elyscape commented on #31839
Fantastic. Thanks for your help!

[2016-12-25 03:45] resouer commented on #39220
Use `kubectl describe node NODE_NAME` to check if any taint is wrongly added to your node.

For taint please reference: http://kubernetes.io/docs/user-guide/kubectl/kubectl_taint/

[2016-12-25 04:59] 928255095 commented on #39220
thank you ,the question resolved
i want to pod run on the master ,but i don't remove the taints

kubectl taint nodes --all dedicated-

it is my careless

[2016-12-25 04:59] #39220 closed

[2016-12-25 05:35] ofyaniv commented on #8731
Great.
Cookie based sticky load balancing for Tomcat8 is invaluable for our implementation on AWS.

Does this have a doc?
How would ingress setup for sticky load balancing look like?

[2016-12-25 05:52] gyliu513 opened #39224 "Ubuntu: kube-up.sh failed"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-12-25 06:04] gyliu513 commented on #38921
Seems the kube-up still does not work, filed another issue here https://github.com/kubernetes/kubernetes/issues/39224

[2016-12-25 06:05] gyliu513 commented on #38921
@du2016 can you help take a look? Thanks!

[2016-12-25 06:43] mootezbessifi opened #39225 "kubelet does not create symlinks to /var/log/containers"
I am trying to set up EFK stack on my k8s cluster using [ansible repo](https://github.com/kubernetes/contrib/blob/master/ansible/roles/kubernetes-addons/tasks/cluster-logging.yml).

When i tried to browse kibana dashboard it shows me next output:
![kibana](https://cloud.githubusercontent.com/assets/5040743/21469979/a37e4ecc-ca83-11e6-92da-e69632fc51b2.png)

After making some research, i found out

[2016-12-25 07:21] mootezbessifi commented on #39225
@MrHohn

[2016-12-25 11:44] luxas commented on #39048
Done

[2016-12-25 12:33] mikkeloscar commented on #34805
Looks like this has been added in: 7c0e48f544cfc4be4938f374444e6c0027562bb1

[2016-12-25 12:33] #34805 closed

[2016-12-25 16:39] linfan commented on #39048
Done

[2016-12-25 23:31] abessifi commented on #27720
@mootezbessifi

[2016-12-26 02:16] iT2afL0rd commented on #39048
Done

[2016-12-26 02:20] munnerz commented on #39084
Should be noted that PVs aren't namespaced. I'd expect kubectl to report that fact and not delete any resources until the operator corrects their input (or alternatively, delete everything except the PVs). What would you expect here?

[2016-12-26 02:22] zhouhaibing089 commented on #37278
I suggest that we cherry pick it into 1.4 and 1.5.

[2016-12-26 04:21] sjpotter commented on #20228
kube-up still has this problem.  I think this is the proper fix (sorry for patch).

namely

1) if running gcloud as root, need to change its home directory to root so it wont drop root owned dirs/files in the user's home directory

2) don't run gcloud as root if just need the version.

[code]

[2016-12-26 05:37] mootezbessifi commented on #27720
slm alykom, merci 3al lien MAIS hedha fi cas coreOS ou kubelet wrapper
ydour fi rkt.
ena la 3ndi la rkt w la welou chi5
kubelet ydour ka demon 3la node

2016-12-26 2:31 GMT+03:00 Ahmed Bessifi <notifications@github.com>:

[2016-12-26 05:59] keith4743 opened #39227 "use cephfs，Output: mount: wrong fs type, bad option, bad superblock"
OS version：CentOS7
Kube version：1.2
ceph version：0.94.9

I am testing use cephfs as the background storage , i followed this guide：
https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/cephfs/

 it can work when i mount cephfs in command line directly, but when i use it with a yaml configuration, there are some problems.

# here is my yaml config：

apiVersion: v1
kind: Pod
metadat

[2016-12-26 06:03] kevin-wangzefeng commented on #39048
Done

[2016-12-26 06:41] resouer commented on #39227
cc @rootfs please take a look if you have time.

[2016-12-26 07:01] #35890 closed

[2016-12-26 07:56] mqliang opened #39228 "scheduler: PodFitsHostPorts predicate funcs does not respect HostIP"
I create a Pod Pod-A who export a port to host, and specify the HostIP this port to bound with,  then manually scheduled it to Node-A. Since a Node-A could have multiple IP, so I expected other Pod who claim the same port to expose but bind to a different IP can also be scheduled to Node-A. However, `PodFitsHostPorts` just take port into account, without considering the IP. Seems it is a bug?

 @d

[2016-12-26 08:06] mootezbessifi commented on #39225
I changed fluentd-es.yaml as following:
[fluentd-es.txt](https://github.com/kubernetes/kubernetes/files/672707/fluentd-es.txt)

But when i run a pod "named gateway", i got in the fluentd log the next error:
` /var/log/containers/gateway-c3cuu_default_gateway-d5966a86e7cb1519329272a0b900182be81f55524227db2f524e6e23cd75ba04.log unreadable. It is excluded and would be examined next time`

[2016-12-26 08:45] cvle commented on #24590
Sorry to reply this late, I somehow missed the notification for this.
As far as I remember the default hostname in CoreOS was set to the full FQDN e.g.
`k8s-master.c.mesa-1287.internal`, but kubernetes expects only the hostname which in this case would be `k8s-master`.

[2016-12-26 08:53] gajju26 opened #39229 "Kubernetes CI setup for s390x"
**Is this a request for help?**: yes

**What keywords did you search in Kubernetes issues before filing this one?** : Kubernetes CI setup

---

**Kubernetes version** (use `kubectl version`): NA

**Environment**:
- **Cloud provider or hardware configuration**: NA
- **OS** (e.g. from /etc/os-release):  "Ubuntu" "16.04.1 LTS (Xenial Xerus)"
- **Kernel** (e.g. `uname -a`):  s390x GNU/Linux
- **Instal

[2016-12-26 09:07] resouer commented on #37316
@yujuhong docker native networking is a "docker specific" feature, how we properly add it to k8s API? i.e., a filed named "network" only work for docker in pod spec will be wired...

[2016-12-26 09:51] RobinLe commented on #39224
I follow this page [http://kubernetes.io/docs/getting-started-guides/ubuntu/manual/](http://kubernetes.io/docs/getting-started-guides/ubuntu/manual/) install kubernetes on ubuntu. And got the same issue.

[2016-12-26 09:57] Yancey1989 commented on #17208
@davidopp +1

[2016-12-26 10:22] george-angel commented on #35890
Has this been fixed? Unsure why closed.

[2016-12-26 10:50] abessifi commented on #27720
na3ref, b3athtlik bech te5ou fikra..

2016-12-26 6:37 GMT+01:00 mootezbessifi <notifications@github.com>:

--

 *"*
*We build software for people who build software.."*--

[image: --]

Ahmed Bessifi
[image: http://]about.me/abessifi
<http://about.me/abessifi>
Linux and Python fan.
DevOps Engineer at Ebiznext.
Engineer degree in computer systems and networks.

[2016-12-26 11:42] sandys commented on #25961
@jstrachan i came across this bug because we have been thinking about this for a while. related bug is https://github.com/kubernetes/kubernetes/issues/28610

One of the questions I have been discussing with others on slack is whether this is best done at the Service abstration. Meaning instead of a fixed iptables + kubeproxy based Service abstraction... why not let the Service be pluggable.

This

[2016-12-26 13:21] liggitt commented on #35890
The issue is with client side validation of required server-defaulted fields. There's not an issue with this field in particular.

[2016-12-26 14:50] resouer commented on #39227
According to offline talk, this is caused by wrong secret encoding. Close it.

[2016-12-26 14:50] #39227 closed

[2016-12-26 14:53] george-angel commented on #35890
Is there a github issue for that then I could follow? Thanks.

[2016-12-26 15:16] idvoretskyi commented on #38969
@boynux fixed a minor typo in the title.

Before submitting the new feature, please, start from the README https://github.com/kubernetes/features/blob/master/README.md.

[2016-12-26 16:44] sazo commented on #38290
I just added the new lines from https://github.com/zmerlynn/kubernetes/commit/30e1a04977a6bad23d94cc1db99d6c8972d0ea6a

As a temperatur fix ONLY. If anyone like me dont want to wait. Worked like at charm for AWS cluster setup. :)

[2016-12-26 17:06] justinsb commented on #39214
The problem is that we don't know if we should _remove_ an existing ELB we created previously.

If you grant read-only permissions for ELB, you should be able to create NodePort services without any trouble, and prevent users from creating ELBs

[2016-12-26 17:45] fernandofederico1984 commented on #10439
Which is the last state of this?
The secrets storage is pluggable already? If so, how?
According to the design document it should https://github.com/kubernetes/kubernetes/blob/master/docs/design/secrets.md#data-store-backing-the-rest-api

[2016-12-26 18:23] wstrange commented on #8731
See
https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/configuration.md

On Sat, Dec 24, 2016 at 10:36 PM ofyaniv <notifications@github.com> wrote:

[2016-12-26 19:27] amitkgupta commented on #39214
Thanks, I ended up doing that.  I think the referenced PR which was closed would solve the issue too.

[2016-12-26 19:27] #39214 closed

[2016-12-26 19:57] amitkgupta commented on #38997
I upgraded to v1.5.1 with the hope that I wouldn't need to construct any cluster roles or cluster role bindings, and this should just work:

[code]

It didn't work out-of-the-box for various reasons, and I ended up needing to add the following cluster role bindings:

[code]

I added these after things didn't work, SSH'd in, dug around logs, etc, then figured that a particular user or service accou

[2016-12-26 22:28] #8731 closed

[2016-12-26 22:36] k8s-merge-robot opened #39233 "ci-kubernetes-e2e-gci-gke-prod-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-parallel/2474/
Multiple broken tests:

Failed: [k8s.io] DNS should provide DNS for the cluster [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26194 #26338 #30345 #34571

Failed: [k8s.io] Services should create endpoints for unready pods {Kubernetes e2e suite}

[code]

[2016-12-26 22:43] nwwells commented on #39084
I wasn't aware of that. I'm curious why, but I suppose that's a subject for another thread. I agree that delete should fail unless it's completely unambiguous what the user expects to happen, which in this case means failing if --all, pv and --namespace are all specified

[2016-12-27 01:07] thockin commented on #25961
Services *are* pluggable, but Services are, by definition, L4 for now.
What I am hearing most people (in this context) ask for is L7.  Mostly, but
not exclusively, HTTP.

There's some debate about whether such a sidecar should trap *all* traffic
or only traffic to services that the user has declared.

There's some debate about how magical and transparent such a proxy NEEDS to
be.

There's some deb

[2016-12-27 03:24] yangshuai93 opened #39235 "add windows as kubernetes node (kubenet not found)"
kubelet,apiserver ,controller and scheduler : 1.5

add one windows server 2016 to linux cluster

I followed the guides here: http://kubernetes.io/docs/getting-started-guides/windows/
the pod is running , but the network can't connect with other nodes in cluster

[2016-12-27 05:18] xingzhou commented on #39200
seems like some empty string value issues, let me take a look

[2016-12-27 05:54] #30214 closed

[2016-12-27 06:03] keith4743 commented on #39143
resolved, the version installed with yum is kube1.3 now, but my cluster is kube1.2~~so, reinstall kube1.2 and it worked.

[2016-12-27 06:03] #39143 closed

[2016-12-27 06:47] #25862 closed

[2016-12-27 06:53] timoreimann commented on #25961
For those looking for the link to the doc Tim mentioned, I think it's here: https://groups.google.com/d/topic/kubernetes-sig-network/weni52UMrI8/discussion

[2016-12-27 07:03] sandys commented on #25961
@timoreimann thanks for this.. i was really getting frustrated with looking for it.

@timoreimann @thockin slightly OT, but i would really like to request SIG discussion to move away from google docs and into pull requests. this is such a great way to create and discuss a proposal. you could make this as a kubernetes/proposals git repo in itself.
https://github.com/kubernetes/kubernetes/pull/34013

[2016-12-27 07:51] resouer commented on #35117
Why "Parallelize" is considered as relatively expensive ? (comparing to MR style)

[2016-12-27 07:58] xiang90 commented on #35117
You do MR when there are certain points that need some synchronizations. Or fully parallelized computation will always be faster.

[2016-12-27 08:00] jalenyang opened #39238 "[apiclient] Created API client, waiting for the control plane to become ready"
HI ,

I tried to follow the instructions "Installing Kubernetes on Linux(CentOS Linux release 7.3.1611 (Core) ) with kubeadm", but now it hangs:

[code]

and I had already get SELinux disabled, any ideas?
`[root@master ~]#  getenforce
Disabled`

Any ideas?

[2016-12-27 08:15] xiangpengzhao commented on #36752
+1 for the millisecond granularity. It's hard to identify events from the same second when debugging in our PaaS project now.

[2016-12-27 08:27] wojtek-t commented on #35117
To clarify, I was referring to the Parallelize function:
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/workqueue/parallelizer.go#L29

Using this for many very small functions is pretty expensive - you can take a look into cpu-profiles. It happens that 20% or sth of cpu usage is spent on the operations on the synchronization channel.

[2016-12-27 08:34] xingzhou commented on #39084
"I'd expect kubectl to report that fact and not delete any resources until the operator corrects their input" sounds reasonable to me

[2016-12-27 08:46] xingzhou commented on #39200
Checked the code, the cause should be method `printStorageClass` in `resource_printer.go` does not print the namespace value when `options.WithNamespace` is enabled. I will add the code&tests and submit a patch later.

[2016-12-27 09:11] yangshuai93 commented on #39235
yes  it is .

[2016-12-27 09:12] xingzhou commented on #39200
re-checked the code, there is no handler code in method `printStorageClass` in `resource_printer.go` to handle the situation that "options.WithNamespace" is enabled. Besides, storageclass should be non-namespace related resource, we shall print an error message for this case. I'm working on a patch now to fix this.

[2016-12-27 09:16] wojtek-t commented on #39134
We already have a pretty large master, and it should be enough. You should take a look into logs, but my personal feeling is that it's not about the kubemark cluster, but we may be facing some issues with the external cluster. At least the "Server Timeout" is coming from the external cluster.

[2016-12-27 11:07] wojtek-t opened #39244 "Enable RBAC authorization in kubemark"
In #38626 we enabled RBAC authorization for some kubernetes components.
We should enable it also in Kubemark.

@kubernetes/sig-scalability-misc @gmarek

[2016-12-27 11:45] defat commented on #15478
+1
Using docker log driver for centralized log collection looks much simpler then creating symbolic links for log files, mounting them to a special fluentd container, tailing them and managing log rotation.

[2016-12-27 12:56] wojtek-t opened #39245 "NodeProblemDetector in Kubemark doesn't work"
Event though the NPD in kubemark is running it seems it is not able to connect to apiserver. All I'm seeing in its logs is:
[code]

I think this is simply misconfigured as the master address is not 10.0.0.1

@gmarek @kubernetes/sig-scalability-misc @shyamjvs

[2016-12-27 13:02] aerokite opened #39246 "Fail to delete replicationcontroller using clientset"
I have created `replicationcontroller` with `1.5` api client in `1.4.4` cluster.

To delete `rc`, I have followed these steps:

* scale down to 0 replica
* wait until status reports the replicas reaches 0
* finally delete rc

This process removes all pods. But `replicationcontroller` is still there.

What is the problem here?

[2016-12-27 13:15] wojtek-t commented on #39017
@smarterclayton - can you please clarify?

[2016-12-27 13:15] #37792 closed

[2016-12-27 14:22] resouer commented on #37609
Sorry, can't reproduce this case anyhow on fresh upstream master @Hexta ...

Could you provide more detail? Did you see this frequently? Can you repro it?

[2016-12-27 15:34] wojtek-t commented on #39245
I think this is the problem:
https://github.com/kubernetes/node-problem-detector/blob/master/pkg/problemclient/problem_client.go#L55

The problem is that we shouldn't use InClusterConfig in case of Kubemark, as we should connect to kubemark master. So we should allow for overwriting master address.

Some time ago, we did exactly the same for heapster, so that should be relatively simple to duplica

[2016-12-27 15:37] wojtek-t commented on #39245
This is the flag in heapster:
https://github.com/kubernetes/heapster/blob/e19c9fb0d78695ce02e34afc821be5525f70f1d7/metrics/options/options.go#L54

[2016-12-27 16:10] padouch commented on #39224
I have same issue
export KUBE_VERSION=1.5.1
export FLANNEL_VERSION=0.6.2
export ETCD_VERSION=3.0.15

[code]

during investigation i use kubernetes/cluster/ubuntu$ ./download-release.sh
and binaries was downloaded.

[code]

second try was find and result was

[code]

[2016-12-27 17:37] thockin commented on #22179
There is no `runAsGroup` functionality right now.  Can you explain what the use-case for this is, as compared to supplemental groups and FSGroup?

[2016-12-27 17:38] MrHohn commented on #23981
This should be closed by kubernetes/kubernetes.github.io#1449.

[2016-12-27 17:46] #23981 closed

[2016-12-27 18:17] freehan commented on #39113
IIUC, [This](https://github.com/kubernetes/kubernetes/blob/release-1.5/pkg/kubelet/status/status_manager.go#L149) updates pod status to api server. Probably need to do it in `containerRuntime.SyncPod`.

[2016-12-27 18:28] jheiss commented on #23217
And perhaps related to my previous question, is there a plan for how to apply PSPs to pods created by replication controllers? More specifically, I would want to apply a PSP policy based on the user that created the replication controller. But it seems like currently the PSP admission controller sees those pod requests as coming from the Kubernetes machinery itself.

I don't know if the right cour

[2016-12-27 18:50] thockin commented on #25961
Sorry for the lack of link - I was on mobile :)

On Mon, Dec 26, 2016 at 11:04 PM, Sandeep Srinivasa <
notifications@github.com> wrote:

[2016-12-27 18:55] liggitt commented on #23217
It was decided to accomplish the binding via a check against the authorizer. The admission plugin currently checks which PSP objects the current user has the "use" verb on. See the example RBAC role in the PSP example

[2016-12-27 19:22] michaelfavia commented on #8773
@olalonde: Yes zsh completion is currently shoehorned in kubectl via `kubectl completion zsh` this issue is currently addressing the fact that it is a design goal of the upstream project "cobra" to automate the creation of this script. It is currently being managed by a thin compatibility layer in the kubectl source that is more brittle and difficult to maintain.

If you wan tot add zsh shell comp

[2016-12-27 19:30] zmerlynn commented on #39192
There's an issue in 1.5.0 and 1.5.1 that prevent AWS from coming up, and we were late catching it. It's fixed in 1.5.2.

[2016-12-27 19:30] #39192 closed

[2016-12-27 19:42] Amey-D commented on #32625
The support for NF_CONNTRACK_EVENTS was enabled in Container-Optimized OS kernel starting from gci-dev-56-8977-0-0.  It's enabled in the current versions on dev and beta channels.  I see the following on a GCE instance created from gci-beta-56-9000-36-0:

$ sudo modprobe configs
$ zgrep NF_CONNTRACK_EVENTS /proc/config.gz
CONFIG_NF_CONNTRACK_EVENTS=y

Please try your workflow on the newer image ve

[2016-12-27 19:46] jingxu97 commented on #33061
On Thu, Dec 22, 2016 at 5:34 PM, BaluDontu <notifications@github.com> wrote:

 That log is level 5. If your cluster is set up with log level 4, you will
not see that log.

When a node is down, the following events will happen with code release
1.4.4 or before.
1.  Once a node becomes inaccessible, the node controller waits for about 5
mins, and then deletes all the pods that were scheduled to that

[2016-12-27 19:48] rkouj opened #39251 "Refactor TearDownAt() of volume plugins to use the common utility UnmountPath()"
https://github.com/kubernetes/kubernetes/pull/38547

Investigate for the following volume plugins if they can be refactored to use volumeUtil.UnmountPath()

azure_dd
cinder
configmap
downward_api
empty_dir
fc
flex_volume
git_repo
iscsi
rbd
secret

[2016-12-27 20:00] JensRantil commented on #29542
@hjacobs https://github.com/coreos/etcd-operator/blob/master/README.md#resize-an-etcd-cluster has an example of the workaround.

[2016-12-27 20:01] jingxu97 commented on #24687
@victortrac, currently we only support NFSv4. Could you please check in your setup whether you are trying to use NFS v4 or V3? Normally in your NFS client yaml file, you have to use "/" for the path instead of "/exports"

 volumes:
  - name: webapp
    nfs:
      #this will be changed after nfs server is ready
      server: 10.180.1.62
      path: "/"
      readOnly: false

[2016-12-27 20:04] thockin commented on #32625
Thanks!

On Tue, Dec 27, 2016 at 11:42 AM, Amey Deshpande <notifications@github.com>
wrote:

[2016-12-27 20:11] somoza commented on #12278
Probably... You're mounting the NFS on the master node... and it need to be mounted in the nodes/minions...

[2016-12-27 20:24] #37488 closed

[2016-12-27 20:29] smarterclayton commented on #39017
If we have a versioned object from the store, and we can merge back to the versioned object (as opposed to internal) we save quite a few operations.  So just arguing we need to consider that we need a way on the server to ask for the raw object from the store and if the versions match, do a direct merge.  That also aligns with another optimization we want to do - serving values back to clients wit

[2016-12-27 20:54] freehan commented on #37316
@resouer network sig is working on defining the network object. As a first step, we just use the default network mode. See #38430

[2016-12-27 20:56] wojtek-t commented on #39017
So you suggest applying patch at the string/bytes level? It sounds dfferent that what you described in https://github.com/kubernetes/kubernetes/issues/39017#issuecomment-268680624
(though it sounds more promissing).

[2016-12-27 20:59] smarterclayton commented on #39017
That would only work if the two types were the same version.  I just want
to ensure we leave room for the optimization.  Pretty sure versioned go
struct -> map[string]interface{} is still our best option for the general
case.

On Dec 27, 2016, at 3:56 PM, Wojciech Tyczynski <notifications@github.com>
wrote:

So you suggest applying patch at the string/bytes level? It sounds dfferent
that what you

[2016-12-27 20:59] freehan commented on #38946
Need to document this somewhere.

We currently do not support updating podCIDR. The first assignment gets honored. Hence `--pod-cidr` preempts the cidr assignment from controller.

[2016-12-27 21:01] freehan commented on #38946
@tonylambiris  see https://github.com/kubernetes/kubernetes/pull/34906/files#r83660911

[2016-12-27 21:02] jingxu97 commented on #39031
@t0mmyt could you also share the kubelet.log on node and kube-controller-manager.log on master? Thanks!

[2016-12-27 21:04] wojtek-t commented on #39017
So going back to "versioned go object -> map[string]interface{}". You wrote that:

How can we reuse memory in those conversions? Unless I'm completely missing something, e.g. if we have []Container, than we need to translate this each Container to map[string]interface{} anyway (to make it generic). So I don't think we can reuse that much. Or am I completely missing something?

[2016-12-27 21:19] #39100 closed

[2016-12-27 21:23] jheiss commented on #23217
@liggitt: Thanks, I think that gets me pointed in the right direction.

[2016-12-27 22:03] thockin commented on #22469
You have a semantic conflict.  By putting it on a NodePort, you really are
saying "anyone can access this", but you don't want anyone to include that
other tenant.  That doesn't really make sense.  What you can do it limit
the Service with `loadBalancerSourceRanges` which is really a per-Service
construct.

NetworkPolicy will probably get the ability to specify CIDR ranges at some
point, too.

On

[2016-12-27 22:40] euank commented on #38833
@ecordell I don't see it being hashed on run experimentally based on the cpu usage of each of the following:

[code]

Since `docker run` takes fewer total cpu cycles than taking the hash of the image, I'd expect that a hash isn't occurring... maybe my methodology is flawed, or maybe there's a caching layer higher up in docker that ends up skipping the bits you linked to.

[2016-12-27 22:41] MrHohn commented on #39144
This is the expected behavior. You should always use `kubectl apply` (or `kubectl create --save-config` etc.) to create the object if you want to perform kubectl apply on this object in the future.

The commands you entered did not do what you want. It tried to configure the `test-service` into below setup:
[code]
As this requested service has more than one port, each port must have port name for

[2016-12-27 22:56] justinsb opened #39255 "Security review of RBAC"
Before we turn on RBAC in kops, we'd like to know that it is secure.

Are there any plans to perform an in-depth security-review of the RBAC code?

[2016-12-27 22:58] thockin commented on #33936
Is this still a problem?  I don't see any test failures on go-1.7.3

[2016-12-27 23:06] zmerlynn opened #39256 "kops failures due to RBAC"
We had a long run over break where `kops` testing was broken (because I didn't get a change to reeanble submit queue blocking yet). After I fixed that issue, the tests are now failing due to RBAC, very clearly. See [1464](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/1464) and [1465](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-k

[2016-12-27 23:07] zmerlynn commented on #38627
I'm fairly sure this broke `kops` testing. `kops` is still in `AlwaysAllow` mode, for reference.

[2016-12-27 23:58] bluecmd commented on #7433
@thockin Fair enough. I did some thinking about this after our proof-of-concept and I agree the corner cases are not easily solved. FWIW, the approach I'm going forward with is tunnels using https://github.com/bluecmd/kube-service-tunnel

[2016-12-28 00:11] ymqytw commented on #39188
@thockin The [validation code](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L2481) doesn't allow me to create two ports with names unspecified.
[code]

What version did the user use?

[2016-12-28 00:14] #33936 closed

[2016-12-28 00:18] thockin commented on #39188
It looks like the user deleted the comment where they claimed this, so
probably realized they made a mistake (sorry for not seeing that).  Still,
the port name seems like the more correct merge key

On Tue, Dec 27, 2016 at 4:11 PM, Mengqi Yu <notifications@github.com> wrote:

[2016-12-28 00:37] chrislovecnm commented on #39031
@saad-ali I have another issue open with StatefulSets / PetSets on AWS.  But this is a pretty simple example. I have personally not tested 1.5.1 with StatefulSets.

@t0mmyt can we get the logs requested, and also can we get if the node mounted the ebs volume correctly.  Did the correct node mount the correct volume?

[2016-12-28 00:40] ymqytw commented on #39188
Agree.
If we want to use `name` as `mergeKey`, we should add some validation code to make sure the names are unique. And we need to take care of an empty name if there is a single port only.

@thockin This is a breaking change. So we should make this change in 1.6, right?

cc: @pwittrock

[2016-12-28 00:41] chrislovecnm commented on #37567
@MrHohn kops uses dns-controller to create DNS entries in route53, and we use kube-dns.  They are two separate use cases.

[2016-12-28 00:44] cjcullen opened #39258 "Allow creating RBAC RoleBindings w/ SubjectAccessReview"
Right now, the only way to create a RoleBinding is if the user creating that RoleBinding already has the role it is attempting to grant. This means that users w/o RBAC permissions have no way to bootstrap anything.

We should support a separate permission check to allow other authorizers to grant RBAC roleBinding creation permissions.

[2016-12-28 00:45] thockin commented on #39188
Names are unique.  We can't require that name not be empty for the
single-port case, and we already demand it in the multi-port case.  Can ""
be a valid value for the case of single port?

I guess changing merge key is technically a breaking change, but is there
any real impact?

On Tue, Dec 27, 2016 at 4:40 PM, Mengqi Yu <notifications@github.com> wrote:

[2016-12-28 00:49] cjcullen opened #39259 "RBAC e2e hooks assume that RBAC is being used."
Three tests now create RoleBindings to give permissions to test service accounts:
NodeProblemDetector
Ingress
PreStop

Creating RBAC Rolebindings currently requires the user issuing the create call to have the required permissions. If RBAC is not enabled, and the cluster hasn't been configured with any RBAC bootstrapping, that won't be possible.

We should make this test code conditional on whethe

[2016-12-28 00:50] ymqytw commented on #39144
@MrHohn is correct.
If you want to make `kubectl apply` works correctly, you should use `kubectl apply` or `kubectl create --save-config`. Otherwise, it doesn't know if it is safe to delete something.
`kubectl apply` relies on the `last-applied-configuration` annotation to work. You can see this annotation if you create an object by `kubectl apply` or `kubectl create --save-config`.

[2016-12-28 01:00] ymqytw commented on #39188
Don't know yet. I need to look into it.

any real impact?

Yes, like #36024(`kubectl` is broken, even with minor version skew)

[2016-12-28 01:03] thockin commented on #39188
yuck

On Tue, Dec 27, 2016 at 5:00 PM, Mengqi Yu <notifications@github.com> wrote:

[2016-12-28 01:10] #39136 closed

[2016-12-28 01:10] #33288 closed

[2016-12-28 01:27] caleblloyd commented on #34127
Do CephFS mounts work with the GCI Image in Kubernetes 1.5?  I can't find any documentation saying that it does, and the [Dockerfile](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/mounter/Dockerfile) for the mounter does not explicitly install a CephFS client...

[2016-12-28 01:27] chrislovecnm commented on #39259
AWS e2e got slammed as well: https://github.com/kubernetes/kubernetes/issues/39256

[2016-12-28 01:39] MrHohn commented on #37567
@chrislovecnm Thanks for clarifying, I didn't take a careful look before.

As the [dns-horizontal-autoscaler](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns-horizontal-autoscaler) does not has dependency on kube-dns's version and it is supposed be deployed as an independent addon resource, I think it might be correct to also put it as in https://github.com/kubernetes/kops/

[2016-12-28 01:48] zmerlynn commented on #39259
c.f. #39256

[2016-12-28 02:00] thesandlord commented on #39087
@madhusudancs even with the workaround, the Ingress controller only gets created in one cluster, which means the HTTPS LB only has one available backend. How do you make it create Ingress controllers in every cluster and have the HTTPS LB treat each cluster as a backend?

The Federated Service creates a service in each cluster today, but not Federated Ingress.

[2016-12-28 02:25] bigwhite commented on #36988
seems not fixed. I met the same issue .

kubeadm version:

[code]

kernel version:

[code]

os version:

[code]

kubectl version:

[code]

error output by "kubeadm join --token=92e977.f1d4d090906fc06a 10.47.217.91":

[code]

[2016-12-28 02:36] ZPerling opened #39261 "How can I rolling update use the restful api ?"
How can I rolling update use the restful api ?

[2016-12-28 02:42] resouer commented on #37316
Em, that make sense, I think I must missed something. @freehan, Any existing doc or issue of `network` object handy?

[2016-12-28 03:00] philips commented on #39255
cc @ericchiang @liggitt

[2016-12-28 03:00] philips commented on #39255
cc @deads2k

[2016-12-28 03:17] liggitt commented on #39259
Quick fix is to tolerate forbidden errors there and assume e2e setups using methods other than RBAC have already granted permissions to the service accounts

[2016-12-28 03:24] apachemycat opened #39262 "Kubernetes RC should enhanced ?"
When RC reduce Pod replica ,It should first notify Kube-proxy that this Pod instance is in  Dropping status and Kube-proxy should remove it from load balance table so no new request will proxied to this Pod ,then RC waiting 5 minutes  for all existing request finished ,it can gracefully terminate this Pod.

[2016-12-28 03:26] cjcullen commented on #39259
I'll put together a PR to tolerate the 403 in the test helper.

[2016-12-28 03:29] ryuheechul commented on #23404
Env from secret has a newline regardless the variable has newline or not.
using 1.4.6

[2016-12-28 04:39] ixdy commented on #39041
@fejta do you think you can look into this?

[2016-12-28 04:50] justinsb commented on #39178
Never heard of kaws, but kubeadm is still in alpha and cloudprovider integration is not supported (i.e. expected to be broken).

You should probably be using kops to install on AWS.

[2016-12-28 04:59] thockin commented on #23404
If you mean to report a bug, please open a new issue, rather than piling on the end here.

[2016-12-28 05:25] gtaylor commented on #10439
Looks like that's just a design doc. I'm interpreting that as not being implemented yet.

[2016-12-28 06:46] jimmycuadra commented on #39178
kaws is our own installation system we've been using from the start. I don't think this bug has anything to do with the cluster creation tool. The correct cloud provider flags are passed to each Kubernetes component and other AWS-specific cloud provider functionality works.

[2016-12-28 06:55] madhusudancs commented on #39087
@thesandlord is it possible to share your manifests?

[2016-12-28 08:15] timoreimann commented on #25961
@sandys re: proposal discussions: It probably makes sense to take this to one of the general mailing lists if you think it's worth changing. Personally, I can see how using Github PRs makes more sense on the surface. Not sure though how often people use features in Google Docs that are hard to do in markdown (like graphs or diagrams).

[2016-12-28 08:17] sandys commented on #25961
@timoreimann i feel very strongly about this - having been bitten by this more than once in kubernetes-sig. which mailing list would you recommend ?

[2016-12-28 08:22] timoreimann commented on #25961
@sandys I believe the contribex-sig mailing list would be a good fit as that sig apparently already has some of the points you mentioned on their roadmap: https://github.com/kubernetes/community/wiki/Roadmap:-Contributor-Experience

[2016-12-28 08:27] zmerlynn opened #39267 "Invalid bearer token should return 401, not 403"
Opening per https://github.com/kubernetes/kubernetes/pull/39266#discussion_r94003866. This error seems to return a 403 in GCE (where this test is passing), but on an `AlwaysAllow` (vs `RBAC,AlwaysAllow`) cluster, it's returning a 401.

[2016-12-28 08:38] jimmycuadra commented on #39178
If someone can point me to the area of the codebase where the decision about where to provision a dynamic volume in AWS is made, I can try to figure this out myself!

[2016-12-28 08:44] wojtek-t commented on #39017
Anyway - I will try to created some generator for it in the upcoming days at least as a starting point for optimizing it.

[2016-12-28 08:56] zetaab opened #39269 "possible to restrict access to hostpath volume mounts"
**This is FEATURE REQUEST**

**Kubernetes version** (use `kubectl version`): 1.5.1

**Environment**:
- **Cloud provider or hardware configuration**: openstack
- **OS** (e.g. from /etc/os-release): centos7

**What happened**: currently if user can create pod - he can also mount volumes using hostPath. However, that is pretty big security issue in shared(many projects with own namespaces) kubernetes

[2016-12-28 09:08] k8s-merge-robot opened #39270 "ci-kubernetes-e2e-gke-1.4-1.5-gci-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-1.4-1.5-gci-kubectl-skew/2174/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specificall

[2016-12-28 09:12] moonek opened #39271 "[Federation] `kubefed init` should also work on clusters without a service load balancer implementation"
**Kubernetes version** (use `kubectl version`):
v1.5.1

**Environment**:
- **Cloud provider or hardware configuration**: Virtaulbox VM in my notePC.
- **OS** (e.g. from /etc/os-release): Ubuntu 14.04.5 LTS
- **Kernel** (e.g. `uname -a`): 3.13.0-101-generic
- **Install tools**: kube-up.sh
- **Others**:

**What happened**:
`kubefed init` is no response.
[code]
=> no response and logging about over 1

[2016-12-28 10:16] krmayankk commented on #39246
cc @caesarxuchao

[2016-12-28 11:11] Blaiserman commented on #33544
Same problem on CoreOS beta (1235.2.0). I used this to install:
https://github.com/luxas/kubeadm-installer

[code]
No return to `docker ps -a | grep discovery`
I chacked the selinux `SELINUX=permissive` and tried `setenforce 0` too
[code]

[2016-12-28 12:13] caesarxuchao commented on #39246
Does the rc have a finalizer (rc.metadata.finalizers)? Is the garbage collector controller running (you can check you kube-controller-manager.log to verify)?

As a work around, you can set DeleteOptions.OrphanDependents=false when you delete the rc, then it will be deleted immediately.

[2016-12-28 13:15] liggitt commented on #39269
PodSecurityPolicy can be used to control which volume types are allowed to specific users or namespaces

[2016-12-28 14:06] #39147 closed

[2016-12-28 14:25] lukaszo commented on #38993
Can you show your yaml files and describe how did you configured the secrets? I checked and it's working for me.

[2016-12-28 15:14] wojtek-t commented on #19188
@liggitt @pmorie - in the initial version of my PR, my purpose was to introduce this SecretManager and integrate it into Kubelet. Now, I would like to extend it to secrets mounted as volumes. But I cannot figure out the path via which secrets from volumes are periodically updated. Can you please point me to the place where secrets are being periodically re-read from apiserver?

The only place I ca

[2016-12-28 17:28] smarterclayton commented on #39017
Why would we need a generator?  Reflection probably is probably close to same speed since we don't need to actually allocate anything in the reflect pass.

[2016-12-28 17:28] dragoscirjan opened #39282 "Running kubernetes under LXC containers"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubernetes under LXC

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): I'm starting to think it's both.

I am trying to write a small simple cluster installer for my servers (I'm still at NOOB level), however, the main target was to run

[2016-12-28 17:29] smarterclayton commented on #39017
i think allocations are going to dominate runtime (creating new interface arrays and maps) and so the efficiency of scan time is less important.  I'd probably recommend just doing the reflect traversal first.

[2016-12-28 17:30] smarterclayton commented on #39017
I was referring to reusing the final array (versioned []Container) when we map the merged object back.  So we'd allocate for the interface array, but potentially reuse the original map and only have to do small edits.

[2016-12-28 17:40] grosser commented on #38993
Thx for checking!

... was about to reproduce again ... turns out that was just me being stupid ... did not push the image to ECR with the correct tag :(

[2016-12-28 17:40] #38993 closed

[2016-12-28 17:46] freehan commented on #37316
@resouer It is still being drafted. see https://github.com/kubernetes/kubernetes/issues/27398#issuecomment-268572492

[2016-12-28 18:04] wojtek-t commented on #39017
I already started working on some generator, but I'm fine with implementing reflection-based approach first to see if that would be enough.
That said, I have 2 questions to what you wrote above:

I don't understand this. Let's assume we have a simple struct with 10 string fields. Then we are allocating a map[string]interface{} first, but then in a reflection phase, we are allocating copies of thos

[2016-12-28 18:12] freehan commented on #35531
I thought twice about this. Now I am leaning towards NOT persisting podCIDR.

Kubelet pushes podCIDR config periodically. Dockershim currently only takes the first push and ignores updates. Since this piece of information is stored in memory, as long as dockershim is running, it will not update its podCIDR config.

If kubelet did not push a new podCIDR, business as usual.

If kubelet did push a ne

[2016-12-28 18:23] thockin commented on #35531
This is clearly less than ideal, right?  In an ideal world, we would
recognize that the CIDR changed and react appropriately.  In practice, we
don't expect that to happen (for now), so we can take a shortcut.

Are there other such options that are more immediately important?  In the
medium term, podCIDR should be deprecated or become advisory at best.  What
else?

On Wed, Dec 28, 2016 at 10:12 AM,

[2016-12-28 18:39] fraenkel commented on #38857
You could just drop the channel and go with a mutex to update the set.

[2016-12-28 19:23] philips commented on #39189
cc @kubernetes/sig-api-machinery-misc

[2016-12-28 19:34] smarterclayton commented on #39189
Your annotations are wrong - you're using upper case field names instead of lower case field names - i.e. "Env" is not correct, but "env" is.

[2016-12-28 19:34] smarterclayton commented on #39189
If you serialized that from a go object, it means you are using the internal type (pkg/api) instead of the versioned type (pkg/api/v1), which was always subtly broken.  We removed the JSON fields to prevent accidents like this.

[2016-12-28 20:02] philips commented on #39189
@smarterclayton Since this used to work and no longer does can we add it to the [deprecations](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#deprecations)? I guess the entry would say:

[2016-12-28 20:10] shyamjvs commented on #39134
I have been confusing

with

So after @gmarek 's suggestion to compute based on various resource requests, I was instead trying to optimize the number of nodes we require to run 5k hollow-nodes w.r.t. their run-time resource consumption.
Thank you for the clarification @wojtek-t .

[2016-12-28 20:11] lattwood commented on #38775
I was bit by the opposite behaviour, when trying to utilize grafana. Connecting via the apiserver's proxy, the Authorization header is passed to Grafana. Grafana didn't recognize the token in the header, and returned a 403/401.

When I was writing up the bug, I realized it was a security issue- the Authorization header was being disclosed to whatever is behind the proxy, and it occurs silently and

[2016-12-28 20:17] shyamjvs commented on #39134
It doesn't really affect the reasoning for the scaling factor of 1.158 we calculated. But here are the resource calculations (which also agree with the requirement of 60 nodes for kubemark-gce-scale) :

Node VM type: "n1-standard-8"
No. of cores = 8
Total memory = 30GB (i.e. 3.75GB/core)

Resources requested by daemons:
- kube-proxy
  #cores = 0.1
  Memory = <unspecified> (~30MB on an average)
- n

[2016-12-28 20:51] k8s-merge-robot opened #39285 "TestMultithreadedThrottling {flowcontrol}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/1555/
Failed: TestMultithreadedThrottling {flowcontrol}

[code]

[2016-12-28 21:03] shyamjvs commented on #39245
@wojtek-t Can you tell which ci-test you noticed this problem in?

[2016-12-28 21:37] wojtek-t commented on #39245
This was from kubemark-scale. But in general, as I wrote above, this cannot work. so it doesn't matter which suite we are talking about. The errors can be different, but it will never talk to the kubemark master.

[2016-12-28 21:38] kargakis commented on #39261
You can use Deployments. When a change in the pod template of a Deployment is done, the Deployment controller performs a rolling update.

[2016-12-28 22:00] thesandlord commented on #39087
I'm basically following [this blog post](http://blog.kubernetes.io/2016/12/cluster-federation-in-kubernetes-1.5.html).

Both server and client are Kubernetes 1.5.1

The issue could be related to #34291, as I didn't specify a nodeport for the service. However, if I DO specify a nodeport, the service does not get propagated to the clusters. Also, the blog post does not have a nodeport specified in t

[2016-12-28 22:00] #38639 closed

[2016-12-28 22:00] smarterclayton commented on #39189
Yeah - I'm curious as to how it worked before, because we invoked a
versioned decode from external (or should have) and either way only one
deserialization should have been possible (lower or upper, but not both).

On Dec 28, 2016, at 2:23 PM, Brandon Philips <notifications@github.com>
wrote:

cc @kubernetes/sig-api-machinery-misc
<https://github.com/orgs/kubernetes/teams/sig-api-machinery-misc>

[2016-12-28 22:20] ymqytw commented on #39188
The mergeKey must present in the go struct to calculate patch. But object round tripping will drop empty field, which is `name` in this case. So simply change the `mergeKey`will break the no-name single-port case.

We should to change the `mergeKey`, otherwise `kubectl apply` will do something wrong.
e.g. Creating a service using `kubectl apply`
[code]
Make change to `tcpport` and `apply` the chan

[2016-12-28 22:33] thesandlord commented on #39087
Quick Update:

I am able to manually create a L7 load balancer through the Google Cloud Console. I manually created the health check and backends (I used the unmanaged instance groups that GKE creates by default). Everything seems to work.

[2016-12-28 23:09] yifan-gu commented on #38833
Definitely +1 on using an immutable content hash/digest as the image referenced by CreateContainer [1][2].
The dockershim can detect whether the daemon supports v2, if not, then the image service can resolve the image name to the random imageID or just bypass the name to CreateContainer as today. (More accurately, today the image name in CreateContainerConfig comes from the k8s Container's image f

[2016-12-28 23:11] thockin commented on #39188
I agree we should change it, but how can we do that if name is optional?
Can we have an empty mergekey automatically become a random string?

On Wed, Dec 28, 2016 at 2:20 PM, Mengqi Yu <notifications@github.com> wrote:

[2016-12-28 23:14] shyamjvs commented on #39245
Here are some of my thoughts regarding this issue:
- Firstly, there is an error in the earlier step `kernel log "/log/faillog" is not found, kernel monitor doesn't support the os distro` as it seems like /log/faillog doesn't exist on GCI distros (unlike the CVM image (the one used in cluster/gce/config-default.sh) on which this was tested using kube-up.sh).
- Changing "logPath" in kernel-monitor.j

[2016-12-28 23:51] ixdy commented on #36655
#38504 merged 2 weeks ago. Closing.

[2016-12-28 23:51] #36655 closed

[2016-12-28 23:52] #39009 closed

[2016-12-28 23:53] ixdy commented on #39041
@Crassirostris if we remove that line, then timeout handling won't work anymore.
anyone @kubernetes/test-infra-maintainers have a better understanding of why this might be broken?

[2016-12-28 23:54] #39185 closed

[2016-12-29 00:09] ymqytw commented on #39188
Yes, it's possible but it will make the logic complicated. Because `apply` need original config(in annotation), current config(on API server) and modified config(in user's file) to do 3-way diff.

I'm not sure if @pwittrock @bgrant0607 will like this. Need their comments before going further.

[2016-12-29 00:10] #25143 closed

[2016-12-29 00:23] cjcullen commented on #39176
I think this will be blocked by #39258

[2016-12-29 01:11] etotheipi opened #39289 "kubectl port-forward failing to stay alive"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Kubernetes version** (use `kubectl version`):
[code]
(just noticed the version mismatch, I wonder if that's related?)

**Cloud provider or hardware configuration**:
AWS setup using kops 1.4.4

**What happened**:
I have a `registry:2` pod running inside the AWS k8s cluster, which has a proxy running so it appears to be `localh

[2016-12-29 01:46] MrHohn commented on #39262
When the pod is marked terminating, it(as an endpoint) will be removed from the service's endpoints pool on the API Server immediately. kube-proxy will then remove the routing rules once it got the update. This happens fairly fast.

And what you says could be achieved by not letting the pod terminate(by handling the SIGTERM or adding preStop hook) until the grace period ends. The "Termination of P

[2016-12-29 02:30] MrHohn commented on #39197
Although it sounds clumsy, you can create another non-headless service that matches the same set of backends to gain an usable clusterIP.

[2016-12-29 02:54] ZPerling commented on #39261
@kargakis Thank you . But I'm using rc , because it can ensures that a specified number of pod “replicas” are running at any one time. What should I do

[2016-12-29 02:54] xingzhou commented on #39084
@AdoHe, any ideas of this? I can see two solutions right now:
1. `--all-namespaces` and `--namespace` are not allowed to be used at same time for a kubectl command, kubectl shall report error and stop executing the command.
2. kubectl prints a warning message to user showing that `--namespace` option is ignored while `--all-namespaces` is also specified to the command

[2016-12-29 03:04] xingzhou commented on #29403
@yissachar, any progress on this? I can help work on this ticket if you do not have time

[2016-12-29 03:04] resouer commented on #38833
@feiskyer would you like to send out a patch?  I think yifan's comment make sense.

[2016-12-29 03:06] xingzhou commented on #31897
I'd like to investigate this issue right now. Let me know if this is not valid any more

[2016-12-29 03:25] feiskyer commented on #38833
@resouer Yes, please assign it to me.

[2016-12-29 03:38] ryuheechul commented on #23404
Just for folks who's still having this issue.
I made [a script](https://gist.github.com/ryuheechul/4a491431502634fe4e78dbf84ebdab5e) to [workaround](https://gist.github.com/ryuheechul/4a491431502634fe4e78dbf84ebdab5e#gistcomment-1958761) this issue and it works for me.

[2016-12-29 03:41] yissachar commented on #29403
@xingzhou I haven't done any work on this and don't plan to currently.

[2016-12-29 04:21] xingzhou commented on #29403
thanks for the update, let me take a look at the issue right now

[2016-12-29 04:50] xilabao opened #39290 "fail to run kubectl set selector"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Kubernetes version** (use `kubectl version`):Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.2610+281053d66674e8-dirty", GitCommit:"281053d66674e870c93e4627a95689a4018f5f7b", GitTreeState:"dirty", BuildDate:"2016-12-29T06:28:44Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"linux/amd64"}
Server

[2016-12-29 05:23] k8s-merge-robot opened #39292 "ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master/98/
Multiple broken tests:

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28773 #29506 #30699 #32734 #34585 #38391

Failed: [k8s.io] Pods should invoke init containers on a RestartNever pod {Kubernetes

[2016-12-29 06:22] s332401890 commented on #35641
Is this problem fixed?I have the same problem

[2016-12-29 06:38] mootezbessifi commented on #39225
Finally i found out what was causing the issue. when installing docker from CentOS 7 repo, there is an option (--log-driver=journald) which force docker to run log output to journald. The default behavior is to write these logs to json.log files.So, the only thing i had to do, delete the last mentioned option from /etc/sysconfig/docker.

[2016-12-29 06:38] #39225 closed

[2016-12-29 06:47] mootezbessifi opened #39294 "Could not push logs to Elasticsearch, resetting connection and trying again. read timeout reached"
I am trying to set up EFK (elasticsearch, fluentd, kibana) on kubernetes cluster:
1. K8s cluster contains two minions (1.2.4) and one master (1.2.0).
2. nodes of the cluster are 3 CentOS 7 VMs.

So i used the following controller and service yaml files:

**fluentd-es.yaml**

https://github.com/kubernetes/kubernetes/blob/release-1.2/cluster/saltbase/salt/fluentd-es/fluentd-es.yaml

**es-controller.

[2016-12-29 06:48] abhishekagarwal87 commented on #39197
That's exactly what I am doing right now. But creating two services for the same petset, as you put it, is clumsy.

[2016-12-29 06:56] chengzhang1016 opened #39295 "Confuse the rollout result after proportionally scale"
Description of problem:
I noticed you have new PR (controller: scale proportionally before rolling out new templates): https://github.com/kubernetes/kubernetes/pull/32995
So I did below test, and want to discuss with you for step 3 and step7. In another word, I want to know how to rollout after scale proportionally. How to select which RS to do scaling down when new RS was created?

kubectl versio

[2016-12-29 06:57] chengzhang1016 commented on #39295
Reference PR: https://github.com/kubernetes/kubernetes/pull/34645

[2016-12-29 07:02] chengzhang1016 commented on #39295
@kargakis
Hi Michail,
Could you help to confirm? Looking forward to your answer. Thanks.

[2016-12-29 07:08] chengzhang1016 commented on #39295
@mdshuai @zhouying7780 FYI.

[2016-12-29 07:12] kenzhaoyihui commented on #33544
Some problems on  centso7.
Also just block on this steps:
[apiclient] Created API client, waiting for the control plane to become ready.

This is nothing after this command.

The connection to the server localhost:8080 was refused - did you specify the right host or port?

Permissive(selinux is disabled)

  1 Dec 29 07:10:29 master kubelet: E1229 07:10:29.744234    8891 pod_workers.go:184] Error s

[2016-12-29 07:14] kenzhaoyihui commented on #34720
The same problems met. booming!

[2016-12-29 07:18] ivanjaros opened #39296 "How do I get list of pod IPs that match a service?"
Hi,
I have a Symfony based PHP application and it has a trusted proxy setting:
http://symfony.com/doc/current/components/http_foundation/trusting_proxies.html

which then works with x-forwarded- headers.

Since service is an umbrella for one or more pods matching set configured labels the IP address of the incoming request will be always different and so I cannot hard-code exact value.

So I an wo

[2016-12-29 07:26] wojtek-t commented on #39245
I'm not sure we can do the latter (maybe we can, I just don't know). Those KUBERNETES_SERVICE_HOST and _PORT variables are just automatically created and set as part of downward api, and that's why I'm not sure we can overwrite them.

[2016-12-29 07:38] feiskyer opened #39299 "rkt: unit tests failed on osx"
Unit tests failed on osx because of no `kubenet.KubenetPluginName` defined:

[code]

[2016-12-29 07:38] krmayankk commented on #39261
@ZPerling Deployment can also ensure that a specified number of pod replicas are running at any one time. Deployments under the hood, create ReplicaSets to handle that. Take a look here http://kubernetes.io/docs/user-guide/deployments/

[2016-12-29 08:14] #39183 closed

[2016-12-29 08:47] krmayankk commented on #28969
@chrislovecnm are you writing this proposal ?

[2016-12-29 08:58] ApsOps commented on #22368
I guess the proposal was rejected.  Is there anything in the works for this issue?

Updating or creating a new configmap, and then updating deployment gets really painful, especially when you have multiple deployments using a configmap.

[2016-12-29 08:59] xiaozhiqi2016 commented on #37922
same issue here

[2016-12-29 09:00] feiskyer commented on #35641
Are there any `[iptables] <defunct>` related logs in `/var/log/`? Could you try to add some iptables rules manually and check whether they are working?

[2016-12-29 09:09] zetaab commented on #39269
hmm, do you have idea what is wrong with following:

[code]

this should add role restricted-psp-user to all users? i am using this readme https://github.com/kubernetes/kubernetes/blob/master/examples/podsecuritypolicy/rbac/README.md

However, when i deploy new nginx container and execute command kubectl get pod nginx -o yaml | grep psp i cannot see any psp added.

[2016-12-29 09:09] luksa commented on #35874
OK, what @smarterclayton says makes sense. But, having the meat of an API object close together under "spec" has the benefit of making it a bit easier to read the YAML/JSON. The object's most important information is in a single, predictable place, since fields are returned in alphabetic order - so there's apiVersion, kind, metadata, spec then status (if any). Without a "spec" field, fields are sc

[2016-12-29 09:17] miry commented on #33544
@kenzhaoyihui you should be root to run such commands.

[2016-12-29 09:20] kenzhaoyihui commented on #33544
@miry yeah, i run such commands by root.Could you give me other advice?

[2016-12-29 09:21] miry commented on #33544
@kenzhaoyihui and can you provide `ip addr`

[2016-12-29 09:29] miry commented on #33544
@kenzhaoyihui you should be root to run such commands:

1. Disable centos firewall:
[code]
1. Run kubelet and docker
[code]
1. kubeadm init ....
1. Setup private network
[code]
1. Verify that it works and DNS is ready:
[code]

[2016-12-29 09:30] kenzhaoyihui commented on #33544
@miry hey,miry
the output with cmd "ip addr" :
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN
  2     link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
  3     inet 127.0.0.1/8 scope host lo
  4        valid_lft forever preferred_lft forever
  5     inet6 ::1/128 scope host
  6        valid_lft forever preferred_lft forever
  7 2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mt

[2016-12-29 09:43] RobinLe commented on #36575
Thanks @vincipdx . I follow your guide and its running now.

[code]

[2016-12-29 09:51] xiangpengzhao commented on #24819
@ncdc @yujuhong PR #25077 should have fix this issue already in Kubernetes 1.3.8, but I encountered  almost the same issue in our env.

A pod got stuck Terminating after deleting it's rc, and then new pods got stuck ContainerCreating when creating it's rc. When I try to delete the rc of the new pod, the new pod got stuck Terminating, too.

[code]

Not sure if it's in the same certain situations @n

[2016-12-29 10:07] krmayankk commented on #30799
@vishh is there a proposal for local storage handling that you already shared somewhere as mentioned above ?

[2016-12-29 10:19] krmayankk commented on #22179
@thockin We are trying to run containers using Kubernetes as non root. With the functionality in 1.3.6 and configuration set to something like this

[code]

i still get the container running as UID=420 and GID=0, and the container is also part of group 420. But what we really need is the container to be part of just the group 420 so that it doesnt have access to files/resources owned by GID=0.  Do

[2016-12-29 10:33] vpal commented on #22179
@krmayankk I can confirm this behavior, this is exactly what I ran into.
Supplemental groups is a very useful thing, but unfortunately does not solve the problem of the container running as the root group.
So to have full control, you should be able to define:
* The user a container runs as (solved).
* The group a container runs as, user's initial login group (not solved, it is always root)
* The

[2016-12-29 10:39] Hexta commented on #37609
@resouer I also can't reproduce it on k8s 1.5.1.
May be this issue has been fixed indirectly.

[2016-12-29 11:26] zetaab commented on #39269
now it works.. i had two different admission control rows :)

[2016-12-29 11:26] #39269 closed

[2016-12-29 11:33] shyamjvs commented on #39245
Looks like the solution works as I now see an error at a later stage:
`I1229 10:32:36.799249       1 kernel_monitor.go:83] Finish parsing log file: {WatcherConfig:{KernelLogPath:/log/faillog StartPattern:Initializing cgroup subsys cpuset Lookback:10m} BufferSize:10 Source:kernel-monitor DefaultConditions:[] Rules:[]}
I1229 10:32:36.800474       1 kernel_monitor.go:97] Start kernel monitor
I1229 10

[2016-12-29 11:36] wojtek-t commented on #39245
Solving this with a volume (assuming that NPD is taking certs from that location) sounds like a good idea.

[2016-12-29 11:52] igor90007 commented on #23535
@adamreese I recommend you to use (for Kubernetes + AWS): https://jujucharms.com/docs/2.0/getting-started-general

[2016-12-29 12:00] ZPerling commented on #39261
@kargakis @kargakis I try use PATCH /api/v1/namespaces/{namespace}/replicationcontrollers/{name} to update the rc,
[code]
Reponse Error  : HTTP Error 415: Unsupported Media Type

Do you know why, Thank you very much.

[2016-12-29 12:02] gajus commented on #38542
Any reason this isn't being merged?

[2016-12-29 12:34] shyamjvs commented on #39134
Can we close this issue now that kubemark-scale is working fine?

[2016-12-29 12:36] shyamjvs commented on #38776
Can we close this issue now that kubemark tests are not failing anymore?

[2016-12-29 13:04] wojtek-t commented on #38776
A bunch of issues were fixed since then. So yes, let's close it now.

[2016-12-29 13:04] #38776 closed

[2016-12-29 13:05] #39134 closed

[2016-12-29 13:40] k8s-merge-robot opened #39304 "ci-kubernetes-e2e-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-test/181/
Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid NodeAffinity is rejected {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33883

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are a

[2016-12-29 14:21] wojtek-t commented on #39017
Regarding the problem with large int64, you can see here the result from my test:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/39305/pull-kubernetes-unit/11160/

After doing json.Marshal + json.Unmarshal to map[string]interface{}, I'm getting this:
[code]
which seems to cause problem due to precision...

[2016-12-29 14:41] liggitt commented on #39017
JSON implementations in general do not support int precision >= 53 bits (c.f. https://github.com/kubernetes/kubernetes/issues/17095)

That said, it would help for the patch operation should be using `pkg/util/json` instead of `encoding/json` in order to keep ints ints.

Isn't the nil vs empty list issue is the ugorji bug that will be fixed by https://github.com/kubernetes/kubernetes/pull/37557?

[2016-12-29 14:47] tomwilkie commented on #32326
@hanikesn @grobie FYI just added support for exporting a pod-label-metric for kube-api-exporter: https://github.com/tomwilkie/kube-api-exporter/pull/9

[2016-12-29 14:50] wojtek-t commented on #39017
@liggitt - thanks for pointers.

Regarding the latter, unless I'm completely missing something, I'm not using ugorji in my test:
https://github.com/kubernetes/kubernetes/pull/39305/files#diff-b906e5654b8131c5cf8d88210322a2e1R33

[2016-12-29 15:38] wojtek-t commented on #39017
I just switched from encoding/json to pkg/util/json, and it magically solved all the problems that I had. I still have some problems on my side, but these are due to not yet finished few things, so I'm sure I will fix those.

Anyway - @liggitt thanks a lot for help with that.

[2016-12-29 15:49] t0mmyt commented on #39031
The volume is being attached to the correct node but it doesn't appear to get formatted.
[controller-manager.log.txt](https://github.com/kubernetes/kubernetes/files/677410/controller-manager.log.txt)
[kubelet.log.txt](https://github.com/kubernetes/kubernetes/files/677413/kubelet.log.txt)

[2016-12-29 16:03] hectorj2f commented on #37554
As commented in https://github.com/kubernetes/kubernetes/issues/37278#issuecomment-268998857, I still experience this issue when using `v1.5.1` :/

[2016-12-29 16:31] shyamjvs commented on #39245
I tried solving the problem using a volume for the ca.crt/token and it didn't work. Here is what I learnt from this effort:
- The file path `/var/run/secrets/kubernetes.io/serviceaccount/ca.crt` is actually a symbolic link to `/var/run/secrets/kubernetes.io/serviceaccount/..data/ca.crt`,
  and the path `/var/run/secrets/kubernetes.io/serviceaccount/..data` is itself again a symbolic link to the di

[2016-12-29 17:06] kargakis commented on #39261
ReplicationControllers / ReplicaSets do not run upgrades, you need to switch to Deployments (similar object to a ReplicationController, manages ReplicaSets which are a replacement for ReplicationControllers). Have a look at the link @krmayankk posted above.

In the error specifically you see you need to remove "-rpc" from the content type header.

[2016-12-29 17:36] gajus commented on #7954
Note that the current kubectl version (v1.4.6) does not support v2 API,

* https://github.com/kubernetes/kubernetes/blob/60a34fda0a5a22c715d33f851f761614069f93a1/pkg/kubectl/cmd/util/factory_client_access.go#L455

Therefore, this will not work:

[code]

You need to explicitly specify that you are using v1, i.e.

[code]

Sadly, the event log does not include any information to detect this:

[code]

[2016-12-29 17:51] gajus commented on #7954
Ignore my comment. Something else is off.

[2016-12-29 18:13] caseydavenport commented on #35641
cc @kubernetes/sig-network-misc

[2016-12-29 18:42] mikedanese commented on #3579
Much of what is talked about in this PR is basically complete.

[2016-12-29 19:11] freehan commented on #35641
maybe related to: https://github.com/kubernetes/kubernetes/issues/37414

[2016-12-29 19:38] #14368 closed

[2016-12-29 19:38] #22390 closed

[2016-12-29 19:38] #24407 closed

[2016-12-29 19:38] #27947 closed

[2016-12-29 19:38] #36440 closed

[2016-12-29 19:38] #37150 closed

[2016-12-29 19:38] #3630 closed

[2016-12-29 19:38] #14363 closed

[2016-12-29 19:38] #22885 closed

[2016-12-29 19:44] spxtr commented on #39119
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/39301/pull-kubernetes-e2e-gce/11292/

[2016-12-29 19:46] smarterclayton opened #39308 "Tests that depend on multiple nodes being present should have a skip condition to detect that prerequisite"
It should be possible to run the suite against a single node cluster (like mini-kube) and tests that cannot run because of certain requirements should skip themselves.  We do this for providers and other feature flag dependent tests, but not for some of the scheduler predicate tests.

In particular, `scheduler_predicates.go` has several that fail on single node tests, including `	`validates that I

[2016-12-29 20:20] smarterclayton commented on #39308
NodeProblemDetector tests require a non-master node - they fail when they should skip.

[2016-12-29 20:21] smarterclayton commented on #39308
"should test kube-proxy" requires at least two nodes and errors when it should skip.

[2016-12-29 20:26] jingxu97 commented on #39031
@t0mmyt from the controller manager log, it shows that vol-096192f60c0ae35bc is attached to the node correctly. From node's kubelet log, I can see that kubelet gets the information that the vol is attached and trying to verify the device. But you only put logs util Dec 29 15:39:16, I could not see whether the verification succeed or not. You can also check on the node directory to see whether devi

[2016-12-29 20:56] a-robinson opened #39310 "Pod affinity settings don't work with StatefulSets"
This is something that should be supported before StatefulSets graduate from beta.

Came up in https://github.com/kubernetes/kubernetes/pull/39103#discussion_r93772646

@kargakis @smarterclayton

[2016-12-29 21:35] #39299 closed

[2016-12-29 21:41] nahadra commented on #26864
I have the same (or a similar) issue on 1.4.6 with hyperkube to the point where new mounts are responding with "No space left on device" keeping new Pods from starting.

[code]

The number of mounts was at approx. 90k. I subsequently drained the node, by now (~1 hour) they have reduced to approx. 80k. New mounts are still appearing every couple of seconds though:
[code]

Obviously it's all about t

[2016-12-29 22:03] philips commented on #28138
cc @thock

[2016-12-29 22:03] philips commented on #28138
cc @thockin

[2016-12-29 22:06] rkouj commented on #39251
configmap, secret, git_repo and downwardapi use a wrapper unmounter that wrap EmptyDir and let it do the tear down.

All of them use duplicated code and each of these plugins have their own private `wrappedVolumeSpec()` that returns the spec for empty_dir.

This can be extracted out into a common utility. Thing to keep in mind is to verify the `storage medium` of each of the empty_dir spec returne

[2016-12-29 22:11] rkouj commented on #39251
The remaining plugins count the references before performing the unmount. This can be extracted in a separate utility. Thing to note here to ensure TearDownAt() for these plugins
(azure_dd cinder fc flex_volume iscsi rbd ) are guarded by a lock (Otherwise a concurrent SetupAt() can cause race conditions)

[2016-12-29 23:22] thockin commented on #39197
Part of the "must be headless" design was practical (our DNS server can't
do both in the current config, but there are knobs we have not used that
may work).  Part of it was transparency - hiding pets behind a VIP implies
that they are not really pets.

@bprashanth @smarterclayton

On Thu, Dec 29, 2016 at 9:32 AM, Zihong Zheng <notifications@github.com>
wrote:

[2016-12-29 23:25] thockin commented on #22179
@pmorie :)

On Thu, Dec 29, 2016 at 2:33 AM, vpal <notifications@github.com> wrote:

[2016-12-29 23:59] saad-ali commented on #39119
@copejon @copejon Looks like the test added in https://github.com/kubernetes/kubernetes/pull/34353 is flaky. Could you take a look please?

CC @jsafrane

[2016-12-30 00:24] smarterclayton commented on #39197
I'm not opposed to adding something for this if we can reconcile the
setup.  We have some wiggle room to allow for it.

We've discussed a *.ept.cluster.local name that always returns A records,
even for cluster IP, but that does take away the service owners ability to
control consumption.

On Dec 29, 2016, at 6:22 PM, Tim Hockin <notifications@github.com> wrote:

Part of the "must be headless" des

[2016-12-30 01:39] paultiplady commented on #28525
For completeness, here's another alternative: https://github.com/zalando-incubator/mate

This implements a DNS name per LoadBalancerIP, autogenerated by default, but the DNS name can be overridden using an annotation.

[2016-12-30 01:57] apachemycat commented on #39262
Thanks for hint.

[2016-12-30 01:58] zhuqinghua commented on #38896
i have the same problem, dnsmasq can't start

[2016-12-30 02:07] #33472 closed

[2016-12-30 03:29] aikongfu commented on #34720
The same problem...and proxy doesn't work..

[2016-12-30 04:39] kenzhaoyihui commented on #34720
@aikongfu  it maybe occur the problem when use cmd "kubeadm init", so should  research the code about kubeadm api

[2016-12-30 04:47] sandcastle opened #39316 "kubectl randomly fails with `fatal error: MSpanList_Insert`"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**Kubernetes version**:

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Macbook Pro
- **OS** (e.g. from /etc/os-release): macOS Sierra 10.12.2 (16C67)
- **Kernel**:  `Darwin 16.3.0 Darwin Kernel Version 16.3.0: Thu Nov 17 20:23:58 PST 2016; root:xnu-3789.31.2~1/RELEASE_X86_64 x86_64`
- **Install tools**: brew (kube

[2016-12-30 05:49] jimmycuadra commented on #39178
I think I see where the issue is. The [docs for EBS provisioning](https://github.com/kubernetes/kubernetes/blob/ef44fa1919296f67befd9436092bbcdc891b8f11/examples/experimental/persistent-volume-provisioning/#aws) say:

However, I have not found any logic that chooses the zone that way.

[aws.Cloud.CreateDisk](https://github.com/kubernetes/kubernetes/blob/ef44fa1919296f67befd9436092bbcdc891b8f11/pkg

[2016-12-30 06:43] riturajtiwari commented on #39316
I have the same problem with Kubectl version:
[code]

and minikube version:
`minikube version: v0.14.0`

[2016-12-30 06:47] riturajtiwari commented on #39316
Reverting to kubectl 1.4.4 removes this issue for me:
[code]

[2016-12-30 07:37] starsdeep commented on #17470
@thockin

I manually test this:
* stop kube-proxy
* remove ALL iptables
* restar docker and flanneld
* add ipvsadm rules
* curl <vip>:<vport> ***in container*** works, however, curl <vip>:<vport> ***on host*** does not work

More information:
#### After clearing ALL iptables and restarting docker and flanneld, iptables on my host is as follows:
[code]

#### test pods and svc:
[code]

#### ipvs rul

[2016-12-30 07:39] ZPerling commented on #39261
@kargakis @krmayankk Thanks. I switch to Deployments , It is working for me . But I use api update deployment there are still problems .
Code:
[code]

 Found error log in api-server access log:

Request body has been included in the kind of value , Please help me

[2016-12-30 07:42] zetaab commented on #34963
any progress in this? currently podsecuritypolicy is kind of useless because all policies is returned always. It means that if we have some policies in kube-system components, all other namespaces are also allowed to use those.

[2016-12-30 07:42] jingxiaolu commented on #15935
@thockin for 'pause', gcr.io should not requires creds, but what if we deploy docker image 'pause' in a local registry?

We've deployed a local registry, and pushed k8s apps for internal use.
For K8s apps, we can specify [ImagePullSecrets](http://kubernetes.io/docs/user-guide/images/#specifying-imagepullsecrets-on-a-pod) for pulling docker images.
However for the pod infra container image 'pause',

[2016-12-30 08:11] sandcastle commented on #39316
Ok, so something super weird was going on - after running `brew prune`, `brew cleanup`, uninstalling `google-cloud-sdk` and rebooting - everything is now working and when running `kubectl get` I now have all options (some were missing like `deployments` previously). I'm also not seeing the crashes that were previously happening.

@riturajtiwari - do these steps help you?

[2016-12-30 08:11] #39316 closed

[2016-12-30 08:21] zhuqinghua commented on #26245
have the same issue

[2016-12-30 08:29] ZPerling commented on #39261
@kargakis @krmayankk Thanks. I switch to Deployments , It is working for me . But I use api update deployment there are still problems .
Code:
[code]

 Found error log in api-server access log:

I do not know why  , Please help me

[2016-12-30 10:20] errordeveloper commented on #29472
I like this approach a lot. Given that this has been open for a while and hasn't seen much activity since, would it make sense to attempt building this as a 3rd-party resource first? Firstly, this approach would allow more room for experimentation without much in the way, like it can be implemented by a novice to API machinery and agains a released version of Kubernetes. Also, I can imagine that r

[2016-12-30 10:44] kenzhaoyihui commented on #33544
@miry  I had tried to in a fresh env ,and disabled selinux, disabled firewalld, start kubelet,docker service,
and do that followed goole kubernetes guide , and the network weave pods crashed, kube-dns pods keep
 creating status and no respones,.
So i want to know whether the kubeadm api affect the kubernetes installation or centos7 system have some issue conflict with kubeadm . I will have other t

[2016-12-30 11:27] resouer commented on #37609
OK, then I will close this for now, feel free to re-open it when you encounter this again.

[2016-12-30 11:27] #37609 closed

[2016-12-30 12:14] pweil- commented on #34963
@zetaab https://github.com/kubernetes/kubernetes/pull/33080 allowed the ability to grant access to specific policies when RBAC is enabled so that you can [control which policies are matched](https://github.com/kubernetes/kubernetes/tree/master/examples/podsecuritypolicy/rbac).  This issue is only a follow up to add some usability enhancements.

[2016-12-30 15:27] t0mmyt commented on #39031
It stays in that state for all eternity, nothing else happens.

It appears to be a hyperkube issue.  I swapped out `quay.io/coreos/hyperkube:v1.5.1_coreos.0` for a vanilla kubelet (https://github.com/t0mmyt/docker-kubelet) and it appears to be working.  I've not yet managed to ascertain whether it is all hyperkubes or just the CoreOS build.

[2016-12-30 16:38] DonMartin76 commented on #35180
I also experience these kinds of issues: Around 2 minutes to initial deployment of a Pod using an `azureDisk`, and after deleting the Pod it takes around 6 minutes to release the VHD again.

Are there any chances this will be fixed? Currently, my application relies on unmounting and remounting a VHD at each restart/reconfiguration, and this very effectively breaks that approach. With an on-prem NF

[2016-12-30 16:46] k8s-merge-robot opened #39325 "TestSimpleQueue {workqueue}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/1613/
Failed: TestSimpleQueue {workqueue}

[code]

[2016-12-30 18:13] jeffvance commented on #39119
ack @saad-ali Looking at logs.

[2016-12-30 18:46] nvnobelen commented on #34126
The instance autoscaler itself is irrelevant for this issue:

1) Once the HPA pushes pods into pending, and no resources are available, the HPA will never terminate the pending pods anymore since it does not collect stats until all the pods are running

2) If you loose heapster due to any reason at all, and don't have resources in the cluster at that point in time to start it, the HPA is not worki

[2016-12-30 18:59] leshik opened #39326 "Digital Ocean block storage"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Digital Ocean, digitalocean

---

**Is this a BUG REPORT or FEATURE REQUEST?** (ch

[2016-12-30 19:23] zetaab commented on #34963
@pweil- hmm, ok. Well i have tried to follow those instructions but it does not work for me as excepted (i am using 1.5.1 and RBAC). What i am trying to achieve is that kube-system namespace can do whatever their pod wants, but in default namespace i want disable things like hostPath mount.

I can share my yaml files:

[code]

[code]

[code]

[code]

[code]

[code]

when i create new deployment to

[2016-12-30 19:40] Dmitry1987 commented on #33544
@kenzhaoyihui  it might be also something with underlying infrastructure depends where you run it, like AWS / GCE / OpenStack / Bare metal...

from your log I see it's trying to connect to IP that you don't have on master (if you listed output of "ip addr" from master, where you try to init the kubeadm?),
it says everywhere "...dial tcp **192.168.121.241**:6443: getsockopt: connection refused"   b

[2016-12-30 19:57] bmarks-mylo commented on #37932
I am seeing something similar.  I have 5 hostname pods (gcr.io/google_containers/serve_hostname:1.3) connected to a NodePort service with sessionAffinity: None.  When I run:
```for i in `seq 1 100`; do curl -s sandbox-hostnames-redacted.us-west-2.elb.amazonaws.com; echo; done | sort | uniq -c```
I always get a single unique host.  If I jump onto a browser and furiously refresh the url then I at mo

[2016-12-31 00:11] cdaringe opened #39329 "Cluster Services Not Available Within Pod Containers"
**Is this a request for help?** Yes & no.  Could be a bug? I've taken it up on slack, however, teamsters & I were unable to resolve the issue there.

**What keywords did you search in Kubernetes issues before filing this one?** service,network,access

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **

[2016-12-31 03:01] thockin commented on #37932
Please verify from within the cluster (e.g. from a node to the cluster IP
and then to the nodeport).  This is well tested and considered very
stable.  I';d be shocked if this is really an iptables problem, but nothing
is impossible.  Help us tease it apart please.

For those who think they care about it being RoundRobin, consider this.  If
you have N nodes, M backends for a given Service, and each

[2016-12-31 06:21] k8s-merge-robot opened #39332 "ci-kubernetes-e2e-gke-large-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/27/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663

Failed: [k8s.io] HostPath should support subPath {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Probing container should be restarted with a exec "cat /tmp/health" liveness probe [Conform

[2016-12-31 06:24] sheerun commented on #23920
Here's my workaround for the time being, just replace the backend ip in second service:

[code]

[code]

I'd be really happy if someone knows how to automatically configure 10.106.50.107

For some reasone kube-dns isn't working, so I can't use something like `traefik-ingress-service.kube-system.svc.cluster.local`

[2016-12-31 06:51] #38833 closed

[2016-12-31 14:37] rvrignaud commented on #33483
Very same use case here. For now we are adding static routes for servicesIpv4Cidr to cluster nodes this is really ugly.

[2016-12-31 15:47] daniel-yavorovich opened #39334 "Many WC processes"
Dear Sira/Madams,

I use Kubernetes v1.4.6 and see many **wc** processes. Some processes are running for a month.

[code]

You can answer what are generated by these processes, and is not this a bug?

Thank you.

[2016-12-31 15:49] niemyjski commented on #35534
Any word when StatefulSets will be stable? I see mention of beta in 1.5 and this issue and then this is tagged in for 1.6 as well.

[2016-12-31 16:27] smarterclayton commented on #35534
StatefulSets are in beta for 1.5.  They will be in beta for several
releases at least while we close out functionality that makes them useful
and helpful.

On Sat, Dec 31, 2016 at 10:50 AM, Blake Niemyjski <notifications@github.com>
wrote:

[2016-12-31 16:44] Dmitry1987 commented on #39178
+1 , happened to me too, trying to setup mongodb from a helm chart. I have a few test nodes of K8s, all in same zone, but the volumes it provisioned are in another zone, so creation of pods got stuck on
```fit failure summary on nodes : NoVolumeZoneConflict (2), PodToleratesNodeTaints (1)```

the only way to overcome this for now is to have minions in all zones, so one of them can accept your dyna

[2016-12-31 17:27] Dmitry1987 commented on #39178
btw, I also tried to set a default storage class, in the same availability zone where I have the nodes, with this settings:
[code]

But the 3 volumes got created in all 3 AZs, (us-west-2a,  2b, and 2c).  Weird...  I have only this storage class, why would it create the volumes in 3 AZs even when explicitly told to use  'zone: us-west-2a' in storage class...

[2016-12-31 19:01] jeffvance commented on #39119
Running version:
[code]
I am unable to dup the problem.
I ran this test command:
`cluster/test-e2e.sh  --ginkgo.focus="PersistentVolumes" --provider=gce --kubeconfig=/root/.kube/config --gce-zone="us-west1-a"`
since the above failure seems to be in the PV tests. But I got this result:
[code]

[2016-12-31 19:50] ienliven commented on #19764
I ran into this problem, had to use Pod lifecycle hook PostStart to link the file from configmap into desired location.

<pre>
    ...
    spec:
      containers:
        - image: wordpress
          lifecycle:
            postStart:
              exec:
                command:
                  - ln
                  - -s
                  - /usr/local/etc/php-config/uploads.ini

[2016-12-31 20:02] smarterclayton commented on #29472
All of the endpoint handler work is done at this point (and the majority of
the internal work).  What this is blocked on is creating the meta/v1 group
and getting types moved into it so that we can have a common type that
clients can reference.  That's still on track for 1.6

External doesn't help much because it's one more place for clients to look
things up at.

On Dec 30, 2016, at 5:20 AM, Ilya

[2016-12-31 20:02] jbeda commented on #25554
Some observations based on experimentation (and not reading the code).

Note that if the Deployment does *not* have a `kubernetes.io/change-cause` annotation but the template *does* then the change cause is not clobbered and shows up in the revision history.  Note also that the annotation is included in the hash of the template so modifying it will trigger a new rollout and history entry.

Similar

[2017-01-01 01:01] k8s-merge-robot opened #39335 "Kubemark {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/3443/
Failed: Kubemark {e2e.go}

[code]

Previous issues for this test: #38776

[2017-01-01 04:05] kargakis commented on #39261
Use application/json for the content-type

[2017-01-01 04:27] kargakis commented on #17833
Now fixed I believe: http://kubernetes.io/docs/user-guide/kubectl-conventions/#generators

[2017-01-01 04:27] #17833 closed

[2017-01-01 04:28] kargakis commented on #20978
@kubernetes/sig-api-machinery-misc

[2017-01-01 04:29] kargakis commented on #24855
@kubernetes/sig-api-machinery-misc

[2017-01-01 04:30] kargakis commented on #24857
@kubernetes/sig-cli-misc

[2017-01-01 04:30] kargakis commented on #19817
@kubernetes/sig-cli-misc

[2017-01-01 04:58] kargakis opened #39337 "Implement External strategy for workload controllers"
Using a External strategy in workload controllers is probably an acceptable way for users to specify which controllers they want to orchestrate externally via operators or any kind of external controller. Think of External as "the Kubernetes core will do nothing with a particular controller" or actually everything other than the orchestration part (status updates, overlap resolution, pod creation/

[2017-01-01 05:14] kargakis commented on #29229
I've got https://github.com/kubernetes/community/issues/194 up for review (proposal for adding minReadySeconds to pods) and I have a preliminary buggy working implementation of it locally but the concerns raised by @thockin regarding the ready condition being ambiguous already got me thinking of following the simplest solution possible ie. using a virtual clock in the replica set controller.

[2017-01-01 05:18] kargakis commented on #34776
I've got https://github.com/kubernetes/community/issues/194 up for review (proposal for adding minReadySeconds to pods) and I have a preliminary buggy working implementation of it locally but the concerns raised by @thockin regarding the ready condition being ambiguous already got me thinking of following the simplest solution possible. The PDB controller already fetches all Deployments/RS/RC, it

[2017-01-01 05:23] mootezbessifi commented on #36714
https://bugzilla.redhat.com/show_bug.cgi?id=1342940
The above link contain what was causing my problem

[2017-01-01 05:23] #36714 closed

[2017-01-01 05:25] mootezbessifi commented on #39294
@MrHohn  ant idea about that ?

[2017-01-01 11:52] AdoHe commented on #19817
This is part of our Q1 job, will open a PR asap.

[2017-01-01 14:08] Dmitry1987 commented on #26791
@alena1108  was this solved somehow?  I have Kubernetes environment on rancher 1.2.1  which doesn't create LoadBalancer for services, if I try to create something like:
[code]

this was working for normal kubernetes 1.3 (with no rancher), but now it doesn't :(  , i tried to find a way to change "--cloud-provider=rancher"  in kubelet or api-server directives, but it's impossible. they start as cont

[2017-01-01 16:14] starsdeep opened #39340 "Apply for GSoC 2017"
Hi, I am master student who want to apply to GSOC 2017. After a few months attention to this project and reading some codes of k8s, I notice several features has hang for a very long time, which is not hard to implement actually, such as https://github.com/kubernetes/kubernetes/pull/18262 and https://github.com/kubernetes/kubernetes/issues/1348. I also have some ideas, such as: allow PVC to provis

[2017-01-01 16:23] starsdeep commented on #39340
@bgrant0607 @smarterclayton

[2017-01-01 18:26] smarterclayton commented on #39337
This makes sense to me - what's the minimal possible solution?  Can you pull together a proposal?

[2017-01-01 18:29] smarterclayton commented on #24855
I'd like to couple this to the server side representation of resources (https://github.com/kubernetes/community/pull/123) since not all exports are born equal (there are likely cases where export needs to be parameterized).  This is a pre-req for generic extension servers, but it's slightly less important than get and describe on the server in many cases.

[2017-01-01 19:28] stiege commented on #14020
+1
I get this issue also.

Tried problem solving by looking at some containers that were struggling to start:

frontend / php-redis
[code]

I downgraded from `gcr.io/google-samples/gb-frontend:v4` to `gcr.io/google-samples/gb-frontend:v3`. This allowed php-redis to start properly but still kept what looks like the same dns problem.

Struggled to troubleshoot further as kubernetes rookie and couldn

[2017-01-01 21:43] pskrzyns commented on #39048
Done

[2017-01-01 21:45] hongchaodeng commented on #39337
@kargakis
Can you clarify more what's Noop strategy? Any particular example?

[2017-01-01 22:02] mfojtik commented on #39337
@kargakis makes sense to me. does it need to be a strategy, can't it be just an annotation to specify what manage the object? If the annotation is set, the workload controllers will ignore that objects.

@hongchaodeng for example, this will help to build "external" controllers to handle deployment process in a "custom" way.

[2017-01-01 22:10] aaronbbrown commented on #33689
🎉  after trying to get `kubeadm` running successfully, changing my systemd unit file from the default of:
[code]

to the cmdline specified above:

[code]

got things going!  It might be worthwhile to update either the Xenial packages or [the documentation](http://kubernetes.io/docs/getting-started-guides/kubeadm/) to reflect this.

❤️ for all the work the kubernetes team puts into these tools.

[2017-01-02 03:34] kargakis commented on #39337
I think the strategy type makes more sense since it's just the strategy code that we don't want to execute. We shouldn't require from authors of external controllers to implement updates to the status of the deployment or resolve overlapping selectors or do their own failure detection for core api failures since these things should be common across all types of deployments.

@smarterclayton this i

[2017-01-02 06:18] brendandburns opened #39343 "Init containers should (optionally) not block Pod startup"
(apologies if this is already possible but I didn't see it in the docs)

You should be able to optionally have an init container that doesn't block the startup of the rest of the
containers in the Pod.

The situation is this: With MongoDB you have to run some [imperative commands to set up replication](https://docs.mongodb.com/manual/tutorial/deploy-replica-set/)

To do this, I need a running mong

[2017-01-02 07:21] humblec opened #39345 "Multipathing has to be supported in iscsi plugin."
iic, most of the iscsi targets provide multipathing using `multiple iscsi target portals` for the same `IQN` , thus multiple paths through initiator connections in each of it. However, kube `iscsi` plugin is not capable of receiving multiple TPs in its volume spec, thus lack this functionality. If iscsi volume spec.target portal can receive an array of `IPs` or `IPs:Port` instead of single value,

[2017-01-02 07:23] humblec commented on #39345
@rootfs PTAL.

[2017-01-02 08:05] DonMartin76 commented on #35180
Is using a `StatefulSet` a valid workaround? Will the disk just remain attached to the Pod in this case?

[2017-01-02 08:29] ununseptium commented on #13382
Btw. this is by no means a Kubernetes exclusive issue. I'm getting the TLS Handshake Error also when i try to add a VM Host to my Rancher setup which is based on `cattle` instead of kubernetes. So i guess we should open the issue somewhere at docker/docker?

[2017-01-02 09:28] #33497 closed

[2017-01-02 09:29] kaverappa-ail opened #39347 "UNABLE TO CHANGE AMI AND LAUNCH CONFIGURATION"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-01-02 10:40] kaverappa-ail commented on #39347
sorry I found out that I has to add user data in my launch config. Its working fine now.

[2017-01-02 10:41] #39347 closed

[2017-01-02 11:43] kargakis commented on #31897
@guoshimin can you post the output of --v=8?

[2017-01-02 11:48] #24612 closed

[2017-01-02 12:26] jsafrane commented on #34060
Failed: DiffResources {e2e.go}

Dup of #38681

[2017-01-02 12:28] jsafrane commented on #34060
Failed: DiffResources {e2e.go}

Dup of #38681

[2017-01-02 12:37] kargakis commented on #39295
There is nothing wrong here, when we scale down proportionally we always remove from the oldest replica set. You probably see different results because the second time you already have the replica sets around and RS2 is older than RS1 so 5 replicas will be removed from RS2 than from RS1.

[2017-01-02 12:37] #39295 closed

[2017-01-02 12:46] #28381 closed

[2017-01-02 13:39] solsson commented on #23794
I've updated https://github.com/Yolean/kubernetes-kafka to use StatefulSet. It's a great example of this feature, now that it made it to beta.

[2017-01-02 14:12] kargakis commented on #39337
Opened https://github.com/kubernetes/kubernetes/pull/39352 to illustrate the changes needed.

[2017-01-02 14:46] iam404 opened #39354 "kubectl logs is having issue when updated kubectl to 1.5.0"
kubectl logs  client-3127929551-46crx
Error from server (InternalError): an error on the server ("unknown") has prevented the request from succeeding (get pods client-3127929551-46crx)

[2017-01-02 14:47] kargakis commented on #30016
@hodovska can you update the list in the first post with what's missing here?

[2017-01-02 14:48] wojtek-t commented on #19188
OK, I figured it out. So what is happening is that:
- in SyncPod() we are calling: volumeManager.WaitForAttachAndMount
https://github.com/kubernetes/kubernetes/blob/ab91500f1510c4ad91cf002108ae26d2f7a2bfcb/pkg/kubelet/kubelet.go#L1519
- in that we are marking some volumes for remounting:
https://github.com/kubernetes/kubernetes/blob/ab91500f1510c4ad91cf002108ae26d2f7a2bfcb/pkg/kubelet/volumemanage

[2017-01-02 14:49] kargakis commented on #26247
@wongma7 @jsafrane is this fixed?

[2017-01-02 14:53] jsafrane commented on #26247
#38615 is a prerequisite, we will resume our work when it's merged

[2017-01-02 15:34] #37955 closed

[2017-01-02 16:33] soltysh commented on #36311
@peay yeah, go ahead and ping me in the PR.

[2017-01-02 17:07] jeffpeiyt commented on #13382
@ununseptium Thanks for the information provided.  Do you have an exact location where the handshake error occurred in cattle?  Our team checked this the error in Kubernetes, which is specific to when the kubelet agent heartbeats to the API server (master) . Does cattle has a similar HTTPS server as in K8s API Server?   I feel it is the k8s API server's scalability or some transient issue when han

[2017-01-02 17:33] Typositoire commented on #39334
I just restarted Kubelet (after a week) and I had 9000 wc zombies... I run on 1.5.1

[2017-01-02 17:41] dvohra commented on #34134
Use the CloudFormation to initialize Kubernetes cluster on CoreOS.
https://coreos.com/kubernetes/docs/latest/

[2017-01-02 18:19] jbeda commented on #37048
We should look for patterns that are similar to the way that distributions/package managers handle config files in `/etc`.  Usually a warning is given if user config is going to be clobbered.  In addition, there is a mechanism to drop a file into a `foo.d` directory.

Could we do something similar with ConfigMaps?  Perhaps enhance the ConfigMap volume plugin to work against a label and merge all o

[2017-01-02 19:02] davey-dev commented on #19764
@ienliven Nice workaround. Might have to "ln -fs" if the file already exists.  PostStart is NOT guaranteed to execute before the container entrypoint though :(

[2017-01-02 19:04] mstump commented on #34978
I've got a working example where I'm using petset attributes to store Cassandra metadata. The branch is [here](https://github.com/mstump/kubernetes/commit/1c1a39b34cae487057248bb16ba042a36e968c38). It's not ready for commit because it breaks the non-petset examples and the manifest refers to my docker repo. I want to get sign off on the general idea before taking it to completion.

This approach r

[2017-01-02 19:47] oskarpearson commented on #38290
A quick note, just as confirmation: the above temporary fix does resolve the issue for AWS - even though it's a change to a GCE-related file (cluster/gce/configure-vm.sh). It seems that the GCE files are used for certain aws functions.

[2017-01-02 19:59] piosz commented on #39102
cc: @kubernetes/sig-scheduling-misc @kubernetes/sig-instrumentation-misc

[2017-01-02 20:31] xmik commented on #39354
Have you tried setting `--kubelet-preferred-address-types` option for apiserver? Example: https://github.com/kubernetes/kubernetes/issues/22770#issuecomment-266215007 . Without that option, on kubernetes 1.5.0-beta3 I was getting the same error as you.

[2017-01-02 21:02] davidopp commented on #10570
ref/ kubernetes/community#171

[2017-01-02 21:19] smarterclayton commented on #39343
Isn't that a use case for post start hook?  Downside is you have to reserve
more memory if needed.

There's definitely been a lot of desire to have a way to do this.

On Jan 2, 2017, at 1:18 AM, Brendan Burns <notifications@github.com> wrote:

(apologies if this is already possible but I didn't see it in the docs)

You should be able to optionally have an init container that doesn't block
the star

[2017-01-02 21:22] smarterclayton commented on #39343
Note that init containers must be reentrant and idempotent, they can
be rerun on a node restart or other catastrophic shut down cases.

[2017-01-02 21:33] vendrov opened #39356 "ExternalName service doesn't generate Environment Variables for service discovery"
Use case:
We would like to use K8S service discovery with external resource such as AWS RDS (DB).
So when when the pods are up they can use K8S generated environment variables for service discovery.

Currently only dns records are created: <svc-name>.<namespace>.svc.local.cluster

[2017-01-02 21:44] josephjacks commented on #11994
is https://github.com/kubernetes/kubernetes/issues/36304 related to this?

[2017-01-02 21:49] jbeda commented on #36304
We should be able to do this without something like infrastore.  Requiring a big external component for recent activity in the system will make small "devops-y" clusters harder to create and administer.  An Infrastore type system should be for doing advanced searching with longer epochs.

I'll add that the event compaction is lossy.  It will compact events based on Reason.  Many times (for example

[2017-01-02 22:22] smarterclayton commented on #36304
Part of the reason we compact is because events without compaction don't scale well above medium sized nodes.  So if we don't have a purpose built solution events without compaction is only useful at small scales (which is not irrelevant, but limiting).  I don't think events as a history stream requires removal of compaction to be more useful.

[2017-01-02 22:43] jbeda commented on #36304
Perhaps have different levels/severity of events with some of the more "important" events being immune form compaction?  Not sure what the criteria is there but the events that kill big nodes should be on the "compact" list.  Anything that is closer to user action should probably not be compacted.  (add it to the list...)

[2017-01-03 00:23] fraenkel commented on #39334
This might be the same as #38894

[2017-01-03 01:40] ZPerling commented on #39261
@kargakis  When I use "Content-Type", "application / json" ,the following error occurs

[2017-01-03 01:58] zhanghao94 opened #39357 "'sparkDriver' could not bind on port dynamically with hostNetwork: true"
We develop a web UI with jupyter notebook embed, and jupyter notebook is configured with spark kernel to connect to spark.  When we run docker container directly, it works fine with --net host
but when we use kubernetes(1.5.1), we got the following error when creating spark kernel dynamically, and it seems it can't get the port allocated.

17/01/02 10:54:08 [INFO] o.a.t.Main$$anon$1 - Kernel versi

[2017-01-03 03:10] ZPerling commented on #39261
@kargakis   Thanks. My problem is solved。

[2017-01-03 03:10] #39261 closed

[2017-01-03 03:14] etotheipi opened #39360 "Pets refusing to be exposed via DNS in 1.4.7"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

petset
statefulset
dns

I found 38870

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
AWS cluster setup with kops 1.4.4

**What happened**:
I have bee

[2017-01-03 03:14] etotheipi commented on #39360
I forgot to tag @bprashanth, recommended by @justinsb

[2017-01-03 04:45] shashidharatd commented on #38897
@nikhiljindal, Maybe kubectl can determine, if it is talking to federation apiserver or kubernetes apiserver by checking the support for cluster object. is there a better way?

[2017-01-03 04:49] liggitt commented on #38897
I think changing CLI defaults based on the server being spoken to is very difficult to understand, and seems like a bad precedent to set

[2017-01-03 04:53] shashidharatd commented on #38897
otherwise, we could introduce a new flag for federation object cascade deletion maybe with suitable name

[2017-01-03 04:55] shashidharatd commented on #38897
sorry, ignore my previous comment. as we are discussing default behaviour

[2017-01-03 04:58] brendandburns opened #39363 "StatefulSet should allow optional burst mode (don't wait for readiness)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Petset
DNS
StatefulSet
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one

[2017-01-03 05:24] hongchaodeng commented on #39207
ref: https://github.com/kubernetes/kubernetes/issues/39363

[2017-01-03 05:26] hongchaodeng commented on #39363
Same as https://github.com/kubernetes/kubernetes/issues/39207. We encountered this problem for a while...

IMHO, this doesn't mean that we need to change readiness guarantee. But we need a special phase that isn't coupled to networking and we can use it to check service has been bootstrapped.

[2017-01-03 05:50] bassam commented on #24576
hi, also interested in knowing if this is fixed.

[2017-01-03 05:52] smarterclayton commented on #39363
If you set the annotation for tolerate unready you should see DNS entries almost instantly.  Can you double check that?

[2017-01-03 05:52] smarterclayton commented on #39207
Usually this is via two services, one with "tolerate unready endpoints" true (for member detection) and one for serving traffic.

[2017-01-03 06:03] hongchaodeng commented on #39363
You mean this field?

[code]

Didn't realize it. Will give a try!

[2017-01-03 06:33] davidopp commented on #39102
@dashpole I've written up a [short doc](https://docs.google.com/a/google.com/document/d/1gU6ji4pA7YtFF3AYRH4rQ0YFB2y-3Pu9Daq2mBNPrZI/edit?usp=sharing) to answer your question. (I started writing it in Github but it was getting very long.) The tl;dr is that I believe we need per-pod resource usage, and either per-node usage or the sum of the usages of the non-pod resource consumers (like Docker dae

[2017-01-03 07:09] ParagDoke commented on #39282
Able to get kube packages installed using the following Vagrantfile and script.

[code]
And the script:
[code]

Credits: Hrishikesh Date

[2017-01-03 07:32] jszczepkowski commented on #37956
@jsafrane
Can you take a look? Currently the most of failing tests is related to persistent volumes.

[2017-01-03 07:33] tj13 commented on #11543
@Seraf
any update for cloud-provider enabled with the custom EC2 nodename?

[2017-01-03 07:40] thockin commented on #23920
@freehan This feels like a dup of something related to CNI and host ports - can you de-dup as needed?

[2017-01-03 07:50] thockin commented on #26245
@bowei

[2017-01-03 08:04] ravilr commented on #39360
@etotheipi the petspec spec.serviceName should refer to an existing headless service resource name. see http://kubernetes.io/docs/user-guide/petset/#network-identity
you may want to try changing to 'serviceName:  citus-worker-pets' instead of citus-worker-service in petset spec.

[2017-01-03 08:26] resouer commented on #39363
@smarterclayton  What do you think about `tolerate-unready-endpoint` as default?

[2017-01-03 08:37] ununseptium commented on #13382
@jeffpeiyt Unfortunately i've a hard time actually getting useful informations from rancher logs (they actually seem do not really log those things) but if you're interested i opened a issue at rancher they may can provide additional informations: rancher/rancher#7246

To your other question: I'm not really an Kubernetes Expert but every Rancher core service, API, WebUI etc. is served in one conta

[2017-01-03 08:48] wojtek-t commented on #39335
There are few things here:
- 3443 run - @shyamjvs  can you please invstigate it?
- 3480 run - gcloud copy-files should be retried
- 3550 run - we should better handle "already exists" errors (and not retry them). I think @gmarek was looking into it at some point, so he may have already did something

[2017-01-03 09:21] jsafrane commented on #37956
@jszczepkowski, from the logs it seems that the test can't restart kubelet on a node:

[code]

Does it fail consistently? Or why the test can't restart kubelet in some cases? I don't have access to jenkins machines, can 'jenkins' user stop services? Can it `sudo /etc/init.d/kubelet stop`?

@copejon, the test may need some fixes...

[2017-01-03 09:23] bogdando commented on #12245
I strongly believe that truly immutable containers shall not only ship immutable binaries and dependencies bundled but as well behave always the same way, which is independent of the mounted
configuration files. I may be wrong and opinionated, but that's how I "feel" containers. And runtime flags do perfectly fit into that concept, unlike to config files.

With config files mounted RW into *immuta

[2017-01-03 09:29] bogdando commented on #12245
And if one wants versioning, just please do versioning of the self-contained service units files containing all required runtime flags corresponding to the given version.

[2017-01-03 09:46] sttts commented on #39086
Maybe helpful (using goviz with https://github.com/hirokidaichi/goviz/pull/8 applied):

[code]

![hoge](https://cloud.githubusercontent.com/assets/730123/21604155/d8b04648-d1a1-11e6-8c63-a0c0ee6ca8ca.png)

[2017-01-03 09:53] bboreham commented on #23920
This is the primary "HostPort doesn't work with CNI" issue, as far as I know.

[2017-01-03 10:27] kenzhaoyihui commented on #33544
@Dmitry1987  Yeah,Thank for your help.I will check the log again.

[2017-01-03 11:11] ParagDoke commented on #39282
Install `linux-image-$(uname -r)` before running `kubeadm init` and that error should go away.

[2017-01-03 11:12] ravisantoshgudimetla commented on #39148
Specifically these are functions: GetQOS, allResources, isResourceGuaranteed, isResourceBestEffort.

[2017-01-03 11:16] jsafrane commented on #37956
I see `sudo` is used in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/service.go#L402 so let's use it also to start/stop kubelet.

[2017-01-03 11:34] humblec commented on #39345
Can multipathed iscsi target can have different Lun numbers.?  iic, its possible eventhough admins wont configure that way. If that is the case, we cannot just change the TP field in volume spec to an array and get this resolved. It need to accommodate  different Lun numbers ..etc .. Any thoughts ?

[2017-01-03 11:56] ekozan commented on #23920
https://github.com/kubernetes/kubernetes/issues/31307

[2017-01-03 12:03] hodovska commented on #30016
@kargakis I updated posts with information I could find about @deads2k's  contributions.

Also new informers for following resources were implemented:
LimitRanges
InternalLimitRanges
InternalNamespaces
Deployments
ClusterRoleBinding
ClusterRole
RoleBinding
Role
StorageClass
Job

[2017-01-03 12:11] jmzwcn opened #39368 "Seems not find dashboard related issue?"
Seems not find dashboard related issue? Where could we track?

[2017-01-03 12:24] Crassirostris commented on #16326
Addressed (if not fixed) by https://github.com/kubernetes/kubernetes.github.io/pull/1837

[2017-01-03 13:04] bboreham commented on #23920
#31307 is a proposed way forward, posted 4 months after this issue.
I'm relying on the comment at https://github.com/kubernetes/kubernetes/issues/23920#issuecomment-217048099 being the correct diagnosis of this issue.

[2017-01-03 14:06] pweil- commented on #34963
@php-coder can you take a look at the above comment?

[2017-01-03 14:28] piosz commented on #36304
Having a nice visualization of what happened in a cluster over time based on data available in events seems like a nice feature for UI.

cc @bryk @kubernetes/dashboard-maintainers

[2017-01-03 14:31] rootfs commented on #39345
@fabiand

[2017-01-03 14:33] deads2k commented on #39255
@kubernetes/sig-auth-misc has gone through it as the pieces merged and we stomped a few bugs in alpha.  It's based on the design used in OpenShift since pre-1.0.  The unit, integration, and e2e tests are now pretty thorough.

The API will be moving to beta in 1.6. and additional reviews and compliance tests are always welcome.

[2017-01-03 14:38] deads2k commented on #39258
This is an idea we've kicked around.  I'm ok with it in the abstract, but we should hammer it out before starting an impl.

@liggitt @kubernetes/sig-auth-misc

[2017-01-03 15:11] etotheipi commented on #39360
Argh!  I missed that, somehow.  I switched it to the correct service name and it works now.  That also answers my question about how the pets know how to setup `/etc/hosts/`.  It's requires the service name you expect to use to be in the petset spec.

Not a bug, just user error.  Thanks for finding that.  Closing.

[2017-01-03 15:11] #39360 closed

[2017-01-03 15:15] liggitt commented on #39258
I think a verb check on the clusterrole or role being bound would make sense.

Straw man: check if the user has permission to perform the "bind" verb on the role or clusterrole.

[2017-01-03 15:17] deads2k commented on #39258
I'm ok with this.

[2017-01-03 15:25] smarterclayton commented on #31839
The problem was the umask - we have to chmod specifically after writing the file because 0666 from os.Create is umasked.

[2017-01-03 15:39] cjcullen commented on #39258
I'm fine with that.

Is "clusterrole" or "role" the right noun? Isn't this "create"-ing a "{cluster}rolebinding"?

A couple possibly related questions:
How do you get permission to delete a rolebinding?
Can you update a rolebinding?

[2017-01-03 15:45] liggitt commented on #39258
The configured authorizer (ABAC, RBAC, whatever) is used to determine whether you can create/update/delete a rolebinding or clusterrolebinding at all. That works today.

When creating or updating, the rolebinding/clusterrolebinding resthandler is doing an additional check to determine if you are allowed to bind the particular role/clusterrole referenced in the binding. It currently checks that by

[2017-01-03 15:51] jbhurat opened #39372 "Support ConfigMap on Windows"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

ConfigMap does not work on Windows as the existing code gets the pod/plugin directories in Linux specific way. Update it so that it gets the directory

[2017-01-03 16:03] ncdc commented on #28280
This will be resolved automatically once we move to docker 1.13 or later (https://github.com/docker/docker/pull/26461)

[2017-01-03 16:07] gmarek commented on #39245
We probably should see how it's done in e.g. heapster and/or other things that use `InClusterConfig` by default.

[2017-01-03 16:10] yvespp commented on #37278
Is there a workaround for this?

[2017-01-03 16:11] alena1108 commented on #26791
@Dmitry1987 if you are bringing k8s environment via Rancher, you'd have to use Rancher catalog feature - and there, if the intent is to get native AWS features, AWS provider should be chosen from the drop down list. It will deploy aws cloud provider instead of rancher, and ELB is supposed to get deployed when LB service is configured. If that doesn't work, please file a ticket [here](https://githu

[2017-01-03 16:16] justinsb opened #39374 "aws: Should set CredentialsChainVerboseErrors"
For AWS, we need to set CredentialsChainVerboseErrors when initializing the AWS client lib.  cf https://github.com/kubernetes/kops/issues/605

Otherwise we get an annoying error message (`NoCredentialProviders: no valid providers in chain. Deprecated.`), which is usually interpreted as us having done something wrong.

[2017-01-03 16:19] bmarks-mylo commented on #37932
Well this is interesting.  Sure enough from a worker to the service IP or nodeport and it is distributing requests very evenly.

[code]

Do you have any suggestions on troubleshooting why I'm seeing no distribution through the ELB?

[2017-01-03 16:19] george-angel commented on #37278
@yvespp Delete the `thirdpartyresource`

[2017-01-03 16:21] #39108 closed

[2017-01-03 16:25] thockin commented on #37932
Could it be caching?  Could you be triggering some HTTP client re-use (go's
client lib does this)?

On Tue, Jan 3, 2017 at 8:19 AM, Ben Marks <notifications@github.com> wrote:

[2017-01-03 16:45] bmarks-mylo commented on #37932
It looks like our corporate proxy strikes yet again.  I tethered to my phone and sure enough it distributes among the 5 hosts just fine.  Sorry to give you any grief over this.

[2017-01-03 16:46] thockin commented on #37932
Not the first, won't be the last. :)

[2017-01-03 16:46] #37932 closed

[2017-01-03 16:59] DirectXMan12 commented on #34126
This should be fixed in 1.5.  We now consider pending pods as having synthetic resource values (ditto when some of the metrics are missing).

IIRC, there's a mechanism to give cluster-critical components priority in the scheduler (perhaps the `scheduler.alpha.kubernetes.io/criticial-pod` annotation?).  At any rate, you probably want to dedicate certain nodes as "infrastructure nodes" for cluster c

[2017-01-03 17:08] alejandroEsc commented on #36000
I had hit this issue with docker version 1.12.1 which is what you would get with ubuntu 16.04 if you did `sudo apt-get install docker.io`. However i was able to get over this issue by installing and running 1.12.5.

[2017-01-03 17:26] #33689 closed

[2017-01-03 17:43] chuckbutler commented on #39048
Done

[2017-01-03 17:47] zmerlynn commented on #38290
In `kube-up.sh` based AWS deployment, the `cluster/gce/configure-vm.sh` script is shared between AWS and GCE.

[2017-01-03 17:48] zmerlynn commented on #38290
Also, this fix was cherry-picked into the `release-1.5` branch a while ago, so instead of manually adding the lines, you can also just checkout the `release-1.5` branch and run from there.

[2017-01-03 17:58] gmarek commented on #39335
I was looking at 'already exists' problem in RouteController, not in Kubemark.

[2017-01-03 18:01] MrHohn commented on #39294
Not familiar with this and not sure whom to ping :( @freehan

[2017-01-03 18:04] mootezbessifi commented on #39294
Thanks for your reply. May be @freehan has an explanation

[2017-01-03 18:27] liggitt commented on #20978
when we fix this there should probably be a test helper added to resttest#TestUpdate that tests status update behavior (ensures spec and labels are not allowed to mutate, etc)

[2017-01-03 18:32] Dmitry1987 commented on #26791
@alena1108 thanks a lot, I'll try what you suggest.
(P.S. Sorry for spamming in K8s git :P )

[2017-01-03 18:44] derekwaynecarr commented on #39102
@dashpole -- the api needs to be versioned.  i would like us to clean up the kubelet apiserver portion of the code as well in this work.

[2017-01-03 18:53] freehan commented on #39294
Did you use all the elasticsearch-fluentd yamls from 1.2 release?

[2017-01-03 18:55] deads2k opened #39377 "GCI GCE slow failure"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/1419 has failed.  https://github.com/kubernetes/kubernetes/pull/39092 just merged and *might* be disruptive, but I can't find any logs in the failing job to help me figure definitively determine it.

I'm particularly interested in the API server logs.

[2017-01-03 18:58] DirectXMan12 commented on #39102
Heapster (currently) and metrics-server (upcoming) use it to get metrics for the Horizontal Pod Autoscaler controller.  We'll need CPU and memory for that.

IIRC, wasn't plan was to eventually drive the scheduler off of the resource metrics API (which is served by metrics-server)?

[2017-01-03 18:59] DirectXMan12 commented on #39102
cc @kubernetes/sig-autoscaling-misc

[2017-01-03 19:00] k8s-merge-robot opened #39378 "ci-kubernetes-e2e-gci-gce-autoscaling: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-autoscaling/1321/
Multiple broken tests:

Failed: [k8s.io] Cluster size autoscaling [Slow] should increase cluster size if pods are pending due to host port conflict [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33793 #35108 #35744

Failed: [k8s.

[2017-01-03 19:07] DirectXMan12 commented on #39102
I think it needs to be clearer as to how this fits into the general monitoring vision.  As far as I see it, this would replace the summary API as the source of information for metrics-server, and the rest of the kubernetes components would consume from metrics-server (via the resource metrics API), according to the existing doc.

[2017-01-03 19:10] k8s-merge-robot opened #39379 "ci-kubernetes-e2e-gce-examples: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/1900/
Multiple broken tests:

Failed: [k8s.io] [Feature:Example] [k8s.io] Cassandra should create and scale cassandra {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27978 #28817

Failed: [k8s.io] [Feature:Example] [k8s.io] Hazelcast should create and scale hazelcast {Kubernetes e2e

[2017-01-03 19:18] deads2k opened #39380 "ci-kubernetes-build failing"
The submit queue is stuck on https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build/525 .

[code]

[2017-01-03 19:18] deads2k commented on #39380
@kubernetes/test-infra-maintainers

[2017-01-03 19:20] kerneltime commented on #33576
@jakexks can you give 1.4.7 a try. More info here http://kubernetes.io/docs/getting-started-guides/vsphere/

[2017-01-03 19:23] ymqytw opened #39381 "Wrong help message for taint"
Help message is wrong for [taint](https://github.com/kubernetes/kubernetes/blob/97ae7ccb563bfd5bd7ad62d7311608d45af7d45e/pkg/kubectl/cmd/taint.go#L61)

One of the `%[1]d` formats should be `%[0]d`.

@fabianofranz
cc: @pwittrock

[2017-01-03 19:28] fejta commented on #39380
Thanks, looking into this

[2017-01-03 19:32] k8s-merge-robot opened #39382 "ci-kubernetes-e2e-gci-gce-examples: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-examples/1530/
Multiple broken tests:

Failed: [k8s.io] [Feature:Example] [k8s.io] RethinkDB should create and stop rethinkdb servers {Kubernetes e2e suite}

[code]
Issues about this test specifically: #30581 #32755

Failed: [k8s.io] [Feature:Example] [k8s.io] Cassandra should create and scale cassandra {Kub

[2017-01-03 19:32] fejta commented on #39380
Running the job a second time. This just looks like a flake. A single flake should not block the SQ. @rmmh @lavalamp

[2017-01-03 19:33] mikedanese commented on #37265
Moved to mailing list.

[2017-01-03 19:33] #37265 closed

[2017-01-03 19:34] fejta commented on #39380
Jeff I'll let you look into whether there is anything interesting to do with our build infra for:

[code]

[2017-01-03 19:38] mikedanese commented on #36731
Can you detect the shared filesystem and just do a cp -r?

[2017-01-03 19:51] vishh commented on #4135
Starting from v1.4, one can configure kubelet to evict pods whenever disk
is full. Take a look at this doc for more information -
http://kubernetes.io/docs/admin/out-of-resource/

On Wed, Dec 21, 2016 at 3:59 AM, Kevin Kuhl <notifications@github.com>
wrote:

[2017-01-03 20:01] mattthias commented on #39048
done

[2017-01-03 20:10] mootezbessifi commented on #39294
Thanks freehan for your quick reaction. I used yamls which i mentioned above. Even more, i tried with es and kibana controller and service yamls of k8s v1.2 branch (https://github.com/kubernetes/kubernetes/tree/release-1.2/cluster/addons/fluentd-elasticsearch) but the same problem occurs

[2017-01-03 20:37] davidopp commented on #39102
Yes, I was assuming this is still the plan.

Note that we don't actually use any usage metrics in the scheduler right now. We were actually waiting for the metrics API (and having time).

[2017-01-03 20:38] montanaflynn opened #39385 "Upgrading node pool causes error in GCE"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

Google container engine

**What happened**:

I upgraded the node pool from the GCE website and there's now a missing node and an error on the cluster webpage.

**What you expected to happen**:

The nodes to be updated.

**How to reproduce it** (as minim

[2017-01-03 20:44] bowei commented on #23474
@m1093782566 Can you explain the specific situation that causes kube-dns to not be able to read `/etc/resolv.conf`. The file is populated by kubelet on pod startup.

[2017-01-03 20:46] haf commented on #2630
@pmorie Why not give the kubelet permission? Otherwise, the hand that is forced is to give the container full access as `root` to do *anything* on the host? After all, it would have to be specified by `fsGroup` in the manifest.

[2017-01-03 20:50] freehan commented on #39294
I have been out of touch with logging for quite some time. A few things I could think of.

Check if logs arrives in elasticsearch and see if your elasticsearch cluster is in green status. You can verify by using elasticsearch API.

If the logs are there, then there is a problem between kibana and elasticsearch.

If not, then it means fluentd agents are not able to send logs to elasticsearch.
fluen

[2017-01-03 20:50] ixdy commented on #39380
This one is really weird; it seems like GCS was caching the latest.txt file:

[code]

We mark this file [non-cacheable](https://github.com/kubernetes/release/blob/master/lib/releaselib.sh#L708), but maybe setting that header after uploading isn't working?

I created https://github.com/kubernetes/release/pull/240 to make the file non-cacheable as we upload it. I'm not sure whether we'll run into th

[2017-01-03 20:54] mootezbessifi commented on #39294
@freehan, What yamls version do I need to use with k8s 1.2 in final case? Or the issue is independent from it?

[2017-01-03 20:56] ixdy commented on #39377
This looks like a GCE infrastructure flake.

If you expand the build log:
[code]

[2017-01-03 20:56] freehan commented on #39294
The ones from release-1.2 looks fine.

https://github.com/kubernetes/kubernetes/tree/release-1.2/cluster/addons/fluentd-elasticsearch

[2017-01-03 20:57] ixdy commented on #39377
(There are no API server logs because we never started it.)

[2017-01-03 20:57] yujuhong commented on #38498
@jingxu97 should your fix be cherry-picked to 1.4?

[2017-01-03 20:58] mootezbessifi commented on #39294
@freehan, es is in green status. This is what is mentioned by kibana . But how can I check if logs arrives to elastic search ?

[2017-01-03 20:59] mootezbessifi commented on #39294
Thanks but what about fluentd-es.yaml? What is the best file to work with ?

[2017-01-03 21:02] deads2k commented on #39377
Oh, ok.  I didn't know the order of operations.  Glad to know know I didn't break it. :)

[2017-01-03 21:02] #39377 closed

[2017-01-03 21:03] freehan commented on #39294
https://github.com/kubernetes/kubernetes/blob/release-1.2/cluster/saltbase/salt/fluentd-es/fluentd-es.yaml

[2017-01-03 21:07] mootezbessifi commented on #39294
Thank you very much. Can you tell me how to check if logs arrives to es!

[2017-01-03 21:07] r-tock opened #39386 "GCE adding nodes to a cluster that are of different sizes"
It's 2017, Happy new year! Kubernetes has come a long way. We loved using it for the past two years even while you were in active development

So in this new year, we have a stupid question. Why do you have this restriction on having each replica in a cluster be of the same machine-size? What if I want to add larger nodes four cores up from 2, or nodes with more RAM. We are specifically talking ab

[2017-01-03 21:11] freehan commented on #39294
If I remember correctly, there should be only one index in elasticsearch. Check how many documents in that index and see if the count is raising. You can hit the elasticsearch service IP to get to elasticsearch API. Elastciesarch API doc: https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html

[2017-01-03 21:11] zmerlynn commented on #39380
Re-running this job broke `kop-aws` because the `sha1` files look like they're inappropriately cached as well: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/1826/artifacts/ec2-35-162-125-195.us-west-2.compute.amazonaws.com/cloud-init-output.log (cc @justinsb)

[2017-01-03 21:12] mootezbessifi commented on #39294
From inside fluentd pod. I tried to make curl request to elasticsearch-logging:9200 and i get 200 code as response. It seems that fluentd can connect to ES.

[2017-01-03 21:15] ixdy commented on #39380
@zmerlynn that one is tricker to fix, since we upload all release artifacts (tarballs, binaries, and md5/sha1 sums) at once: https://github.com/kubernetes/release/blob/master/lib/releaselib.sh#L493-L503, and we definitely want binaries to be cacheable.

[2017-01-03 21:19] zmerlynn commented on #39380
Yeah, I'm not sure it's worth fixing, I'm just noting it's not fully safe to re-run the job.

[2017-01-03 21:22] ixdy commented on #39380
yeah, it's good to know. it also confirms my suspicion that having multiple build jobs pushing builds to the same path (which is a thing we've done before) is unsafe.

[2017-01-03 21:24] yifan-gu commented on #24576
@bassam @xiang90 I don't think anyone is tacking on this one right now since people are mostly working on the new CRI implementation for different runtimes. cc @Random-Liu @yujuhong

[2017-01-03 21:27] gnufied opened #39388 "Kubefed broken on master"
Federation system started via kubefed is broken on master

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: kube-up.sh
- **Others**:

**What happened**:

As part of - https://github.com/kubernetes/kubernetes/pull/38191 change the ap

[2017-01-03 21:30] ajitak commented on #39048
done

[2017-01-03 21:34] eghobo commented on #39048
done

[2017-01-03 21:47] liggitt commented on #19188
(same goes for configmaps as well)

[2017-01-03 21:52] bassam commented on #24576
@yifan-gu thanks. it also looks like there might be a specific issue with rkt here. Looking at https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/rkt/rkt.go#L804 and
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/rkt/rkt.go#L1304, it looks like rkt does not handle the case of status.PodIP when using the host network.

[2017-01-03 22:15] thockin opened #39391 "GCE cloud: add a kube-specific header to GCE API calls"
In tracking an internal issue, it became clear we don't really know which calls are being made on behalf of kubernetes.  We should add a header, even if it is "this was kubernetes".  Better still to have a cluster UUID or something.

[2017-01-03 22:18] #37390 closed

[2017-01-03 22:24] spiffxp commented on #23652
Closing as out of date since we're now at 1.5

[2017-01-03 22:24] #23652 closed

[2017-01-03 22:25] spiffxp commented on #23655
Closing as out of date since we're now at 1.5

[2017-01-03 22:25] #23655 closed

[2017-01-03 22:28] yifan-gu commented on #24576
@bassam Thanks for the heads up. I will take a look to see if we can quickly work around this.

[2017-01-03 23:23] bacongobbler commented on #38843
pinging @roberthbailey, any update on what needs to be done to get the ball rolling? I am offering free labor to either get some form of automation out the door or something as well so pinging wouldn't be necessary in the future.

[2017-01-03 23:25] #30908 closed

[2017-01-03 23:38] thockin commented on #1488
Closing now.  No point in keeping this open

[2017-01-03 23:38] #1488 closed

[2017-01-03 23:40] bowei commented on #26245
@zhuqinghua can you give some more context? Can you post:
* version of kubernetes
* kube-dns spec that is being used
* logs from the dns pod containers

[2017-01-03 23:40] #3764 closed

[2017-01-03 23:41] #3731 closed

[2017-01-03 23:41] #8160 closed

[2017-01-03 23:42] #10534 closed

[2017-01-03 23:43] #10797 closed

[2017-01-04 00:01] chrislovecnm commented on #37854
@sharms are you still having issues?  Do we have another bug open or how can I reproduce?

[2017-01-04 00:19] timstclair commented on #36667
Yes, but a couple of things to note:

- The per-pod streaming server will not be long-running. It should be shutdown once the streaming connection is terminated
- You're correct that it uses a bit more resources, but the cost should be minimal (streaming server should be small, number of simultaneous servers should be small, and the ports will be in the pod IP). This is the cost of better resource

[2017-01-04 00:24] wstrange commented on #34314
I just ran into this - on GKE 1.5.1 with alpha features turned on

The problem appeared when the cluster auto-scaled. The first node went to status NotReady
and status:
Kubelet stopped posting node status

[2017-01-04 00:25] jlowdermilk commented on #38217
@caesarxuchao, I would actually be happy to have backwards compatibility *not* depend on the presence of a custom header. The request I had was that if we do gate apiserver backwards compatibility features on the presence of a header, it should not be user-agent. I tend to agree with @liggitt that having API server-side modifications for specific clients makes it easier to break API compatibility.

[2017-01-04 00:31] chrislovecnm commented on #37567
@MrHohn happy to have a PR :)  Always happy to have help!  We are working on some developer on-boarding docs, but nothing is done yet.

[2017-01-04 00:32] chrislovecnm commented on #28969
@krmayankk not had any time ... And frankly found a work around ish for Cassandra

[2017-01-04 00:32] justinsb commented on #23597
So is anyone actually working on this?  I'm happy to do it, but whoever codes the PR chooses the number :-)

[2017-01-04 00:35] janetkuo commented on #23597
We have #34339, but from https://github.com/kubernetes/kubernetes/pull/34339#issuecomment-252382562:

We'll accumulate more changes for a new API version for deployments

[2017-01-04 00:40] chrislovecnm commented on #34978
I like the idea a lot.  A few thoughts.

- We need to figure out how to get the other examples to work, maybe a different container, or it checks to see if it is a pet?
- What are your thoughts on the CLI tool?  Should we move it into the k8s repo?
- We need more testing on both the CLI tool and in the Stateful set example in k8s.  Would be good to exercise this programmatically.  We are now depen

[2017-01-04 00:41] email2liyang commented on #23380
+1 it's very useful to see the annotation when we use k8s with promethues's auto discovery

[2017-01-04 00:51] yifan-gu opened #39395 "[CRI] kube-up with gce/container-linux (previously gce/coreos) doesn't work well"
[code]

Typically, the dns and dashboard is in crash loop.

Ref https://github.com/kubernetes/kubernetes/pull/34282#issuecomment-270246739

cc @euank @kubernetes/sig-rktnetes-misc

[2017-01-04 01:04] ok-he opened #39397 "After apply flannel.yaml ,the container of kube-dns and dnsmasq restart every 5min"
[root@0102test1 tar]# kubelet --version
Kubernetes v1.5.1

After I did the
`kubectl apply -f  https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml`

the container of kube-dns and dnsmasq restart every 5min
and the kube-dns's status is crashLoopBackOff

![image](https://cloud.githubusercontent.com/assets/24426986/21628823/73915f56-d25d-11e6-8daa-7cb487d73269.png)

[2017-01-04 01:18] calebamiles commented on #39386
Hello @r-tock and Happy New Year! Would it be possible to create a question on stack overflow and would someone from @kubernetes/goog-gke please answer there so the question is preserved? Thanks!

[2017-01-04 01:20] calebamiles commented on #39385
Can someone from @kubernetes/goog-gke please help with triage. Thanks!

[2017-01-04 01:29] resouer commented on #36731
Yes I think so. If there's no other way to improve this from `release.sh`'s side :)

[2017-01-04 01:32] calebamiles commented on #39368
Hello @jmzwcn, could you please update this issue by filling out the example fields in the template

[code]

so that your issue can be properly routed to the proper team. If you are reporting a problem with the open source Kubernetes Dashboard UI please try to explain your problem in detail to better help others diagnose, reproduce and fix the problem you are reporting. If you are unable to update

[2017-01-04 01:40] calebamiles commented on #39357
Hello @zhanghao94, are you reporting an error with the instructions for the [Spark example](https://github.com/kubernetes/kubernetes/tree/master/examples/spark)? Perhaps @zmerlynn, @elsonrodriguez, or someone from @kubernetes/sig-apps-misc could help you with this issue.

[2017-01-04 01:51] r-tock commented on #39386
Posted http://stackoverflow.com/questions/41455020/gce-adding-nodes-to-a-cluster-that-are-of-different-sizes

[2017-01-04 01:52] euank commented on #39395
@yifan-gu if you check the `kube-proxy.log` file, does it contain lines like `User "kube_proxy" cannot list services at the cluster scope.:`?

[2017-01-04 01:52] calebamiles commented on #39340
Hello @starsdeep, if you would like to request sponsorship for a GSoC project a better forum to coordinate with potential sponsors might be the Kubernetes Community Meeting which is held on Thursdays at 10am PST. You may add an item under "Future TOPICS" on the [agenda](https://docs.google.com/document/d/1VQDIAB0OqiSjIHI8AWMvSdceWhnz56jNpZrLs6o7NJY/edit#). Another possibly good place to ask about