[2016-03-04 17:16] justinsb commented on #21993
Will be fixed by #22064

[2016-03-04 17:16] luxas commented on #21098
Related: #22149

[2016-03-04 17:18] #22174 closed

[2016-03-04 17:18] dchen1107 commented on #22428
@t5unamie Thanks for using Kubernetes!

[2016-03-04 17:18] #22428 closed

[2016-03-04 17:20] thockin commented on #10732
Can you show me /etc/resolc.conf?  That doesn't align with my experience...

On Fri, Mar 4, 2016 at 8:25 AM, Werner Beroux <notifications@github.com>
wrote:

[2016-03-04 17:21] estesp commented on #1615
@nickethier runc 454 is merged, an after fixing up some userns problems, I have a PR open to vendor that update into Docker (docker/docker#20956).  Then work can continue on docker/docker#13453 to surface that to callers with options for PID namespace sharing.

[2016-03-04 17:31] justinsb commented on #22527
Will be fixed by #22064

[2016-03-04 17:34] rootfs opened #22529 "e2e nfs server image kernel dump"
GCE minion VM OS version is
[code]

The nfs server image [enables NFSv4](https://github.com/kubernetes/kubernetes/blob/master/test/images/volumes-tester/nfs/run_nfs.sh#L35) and hits [a known bug](https://lists.debian.org/debian-kernel/2014/09/msg00477.html) with the following dump stack

[code]

[2016-03-04 17:35] wojtek-t commented on #22045
No - I didn't see any other occurrences of it. Let's close it - we can reopen if it happens again.

[2016-03-04 17:35] rootfs commented on #22407
There is an issue with NFS image used in the example (#22529). Will use a new NFS image first.

[2016-03-04 17:36] deads2k commented on #22484
`ObjectKind` needs to return an error for ambiguous matches and pretty much every caller should use `ObjectKinds` anyway.  Not sure how much work it is yet.

[2016-03-04 17:47] therc commented on #21783
I can try cooking up a PR this weekend. I've been swamped with a lot of other stuff or I would have worked on it earlier. us-east-1 is the center of the universe for us, so I'll have to see test my deployment scripts to create a toy cluster in another region (something that we'll need soon anyway).

[2016-03-04 17:51] jlowdermilk commented on #20774
This started flaking again last night.
[jenkins history](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/2214/testReport/junit/(root)/Kubernetes%20e2e%20suite/Services_should_be_able_to_create_a_functioning_NodePort_service/history/)

[kubernetes-e2e-gke/2205](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gke/2205)
[kubernetes-e2e-gke/221

[2016-03-04 17:51] deads2k commented on #22484
The assumption of exactly one `ObjectKind` for a given object runs deep and was broken when `hpa.autoscaling` went in with https://github.com/kubernetes/kubernetes/pull/21603.

[2016-03-04 18:02] justinsb commented on #21853
#21904 fixed this

[2016-03-04 18:02] #21853 closed

[2016-03-04 18:02] danmcp commented on #22431
@bgrant0607

Part of what makes this difficult is there could be a very large difference between limit and request (especially for CPU since overcommit is common).  And because HPA is based off of request, an 80% default might be a tiny fraction of limit.   Which could result in the auto scaling being super aggressive for some time period before the user has a chance to take observed utilization i

[2016-03-04 18:02] liggitt commented on #22484
Actually, I think it broke when the extensions.HPA was registered into the autoscaling API group in https://github.com/kubernetes/kubernetes/commit/2fbc5bb767875b3e276b3970b8c2b3c0286ed10c#diff-a5dba1721ceb4681d2db5c7196419f3cR48

[2016-03-04 18:02] justinsb commented on #21241
#21904 fixed this

[2016-03-04 18:02] #21241 closed

[2016-03-04 18:03] deads2k commented on #22484
This line: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/autoscaling/register.go#L51

[2016-03-04 18:07] deads2k commented on #22484
Ah, you're right.  It was this pull: https://github.com/kubernetes/kubernetes/pull/20501.  I just checked for when the types appeared instead of thinking that we had an API group that didn't declare any types.

[2016-03-04 18:07] justinsb commented on #20955
Works great!  Thanks for fixing :-)

[code]

[2016-03-04 18:07] #20955 closed

[2016-03-04 18:09] justinsb opened #22531 "AWS: We should tag volumes created by the PV provisioner"
So that we know who owns these volumes, we should add our KubernetesCluster tag to them.

There are some tags currently:

[code]

Also, we might want to consider filtering volumes by tag, if we don't want to trust the users.  But maybe protecting the PV interface is the way to go there instead.

[2016-03-04 18:09] markoshust commented on #13892
@justinsb thank you, it sounded like polling to me, however sometimes when it connects, there is no 10 sec lag -- it's instant. i'll put together a quick example using the images i'm using, will try to do so by next week. cheers!

[2016-03-04 18:10] lavalamp commented on #22454
@deads2k & @liggitt I already claimed we should make scripts explicitly ask for e.g. deployments.v1beta1.extensions. In my world that also pins the output version, so I don't see why you still need output version.

[2016-03-04 18:11] justinsb opened #22532 "Ubernetes Lite: Validate the PVs created dynamically are still labeled"
I created a PV and it wasn't labeled with the Ubernetes-Lite tags, but I wasn't running under Ubernetes-Lite at the time...

[code]

[2016-03-04 18:12] liggitt commented on #22454
thing is, I don't really care what it speaks to the server, I just want it to output the version I'm writing my template to

[2016-03-04 18:13] lavalamp commented on #22454
That's great, then you can use the explicit resource version to do that.

[2016-03-04 18:14] lavalamp commented on #22454
I think lists of group/version pairs are SUPER CONFUSING. I don't care if we make admins understand them when they set up apiserver. But I'm going to fight as hard as I can to keep us from making every kubectl user from having to understand them.

[2016-03-04 18:18] lavalamp commented on #22484
@deads2k at this point, you believe it's a client problem, correct?

[2016-03-04 18:20] justinsb commented on #9779
This is fixed now :-)

[2016-03-04 18:20] #9779 closed

[2016-03-04 18:21] justinsb commented on #21895
#21987 is merged, just waiting for queue to clear

[2016-03-04 18:23] justinsb commented on #20643
Two issues: kube-push doesn't work, and in-place upgrade.  Going to close this and open dedicated issues.

[2016-03-04 18:23] #20643 closed

[2016-03-04 18:24] yujuhong commented on #20774
From http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke/2215 (https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/2215):

[code]

I checked a few other builds, and they all seem to be related to slow image pulling (gcr.io issues).

Related issues: #20552, #20550

/cc @ArtfulCoder

[2016-03-04 18:24] justinsb opened #22534 "AWS: Upgrade routine for 1.2 => later versions"
Now that we have harmonized with the GCE scripts, we should be able to upgrade-in-place without too much trouble.  Let's create the equivalent script for 1.2 -> later upgrades, as exists in GCE.

(Bonus points for making kube-push work)

[2016-03-04 18:26] justinsb opened #22535 "AWS: Need a 1.1 -> 1.2 upgrade routine"
We need a way to upgrade from 1.1 to 1.2.  In 1.2 we're using the same scripts & up procedure as GCE, so future upgrades should be cleaner (tracking that as #22534), but getting from 1.1 to 1.2 may be messy.  We need some sort of procedure/script.

[2016-03-04 18:26] liggitt commented on #22484
The server is returning the correct responses from the API group endpoints, if that is what you're asking.

When the `*extensions.HPA` go type was registered into two API groups, that introduced undefined behavior for anything calling `scheme.ObjectKind` (depending on map ordering or import registration order, both of which are unstable). This manifestation of that undefined behavior is client-sid

[2016-03-04 18:29] janetkuo commented on #22512
@kubernetes/sig-config

[2016-03-04 18:29] justinsb commented on #15050
I'm going to downgrade this to P2 as I believe the mounting issue is fixed, just need to find time to validate.

@antoineco if you feel strongly about the lack of a partition table, can you open a new issue for that?  I think we do the same thing on GCE too though: I'll follow on AWS whatever we do on GCE.

[2016-03-04 18:29] yujuhong opened #22536 "Write tests to verify that kubelet will delete pods in various scenarios"
Kubelet relies on status update to trigger a pod deletion request to the apiserver. We should test that kubelet reliably send out the deletion request, no matter what state the pod is in.

[2016-03-04 18:30] a-robinson opened #22537 "Consider using fluentd's buffer_queue_full_action setting to avoid dropping logs when the buffer is full"
The setting was added late last year and we've just started using a version of fluentd that includes it. It sounds great, in that it causes the input half of fluentd to stop reading input whenever the output buffer is full (when normally the input half would just drop any input it reads during that time). Given that all our input comes from files on disk, this makes a lot of sense.

However, it's

[2016-03-04 18:33] deads2k commented on #22484
It's a `Scheme` problem, so it could cause problems everywhere.  For instance, `Scheme.Convert` calls out to `Scheme.ObjectKind` and expects a single result.  It does that client-side AND server-side.

[2016-03-04 18:33] justinsb commented on #15088
There is a bug/edge case is the script where we don't clean up properly if there are no minions running.

My inclination is to fix this as part of fixing kube-up in 1.3.  "fixing" might be in the pet sense here :-)

Going to downgrade to P3 and rename the title

[2016-03-04 18:39] a-robinson commented on #19405
So I tried to reproduce the hanging bug in the new version of fluentd (0.12.20) and haven't been able to, despite replicating what I had done before. Also on the plus side, 0.12.19 included a new json library that parses JSON logs (which includes all docker logs) 1.5x faster than before, making the buffer queue filling up at all less likely. I'm switching us over to the new version in #22539.

We

[2016-03-04 18:40] #12647 closed

[2016-03-04 18:43] #20082 closed

[2016-03-04 18:44] lavalamp opened #22540 "Add timeout to http.Client used for componentstatus"
As reported in #22231, the backends can get into a state (somehow) where our connection attempt just hangs. We should timeout relatively quickly in that case, like 5s or 10s. Right now the global timeout handler triggers (causing us to leak a goroutine).

[2016-03-04 18:45] roberthbailey commented on #11557
/cc @johndmulhausen

[2016-03-04 18:48] justinsb opened #22541 "Kubelet didn't try to restart container upon NoSuchContainer error reported wrongly by docker"
I was testing instance stop & start on AWS, which effectively shuts it down and brings it back up again.  The ephemeral storage is typically lost during this procedure.  Ephemeral storage contains /var/lib/docker, along with /var/kubernetes.

After I stopped & started the master, kubelet did not restart kube-apiserver.

Logs from kubelet & docker attached.

The root cause seems to be kubelet decid

[2016-03-04 18:52] deads2k commented on #22454
I see the version that you use to communicate with server as distinct from the output format you choose, including your template.  Why would I tie those two things together?  Is it any less confusing to try to understand which flags I pass to `kubectl convert` in an attempt to convert items in a list?  Seems like its the same flags either way, we're just choosing how much friction to have.

[2016-03-04 18:55] #22239 closed

[2016-03-04 18:58] titilambert commented on #18450
@bgrant0607 Hello!
I made a first draft of this using node selectors. (#22442)
kubectl drain does not really fit, because, it stop scheduling on the current node. (https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/kubectl/kubectl_drain.md)
In this first draft, only pods of the targeted RC is impacted of the rolling update and node can still received other pods from other RCs.

[2016-03-04 19:09] Seb-Solon opened #22543 "Implement rolling update for daemon sets"
Hi,

Sorry for doing it in the wrong order as mentioned here : https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md#contributing-a-patch

I did #22439 to address this problem (on kubectl side)

The need is to be able to update a daemon set in a single command line.
Basically it is equivalent to do :

[code]

EDIT : @bgrant0607 suggested to update the ds instead of delte / recreate

[2016-03-04 19:24] therc opened #22545 "Daemonsets are forever"
Two nodes went away as I updated the instances, but they still appear and, more importantly/confusingly, their daemonset pods are still in Running state.

[code]

There are only two instances and thus two daemons up, not four.
I understand the rationale for not killing the pods outright, but is there a timeout after which they change state or perhaps the nodes do?

My concern is twofold:
 1. `Runn

[2016-03-04 19:27] lavalamp commented on #22489
@krousey can you dig through the logs and say what component didn't come up? and/or was it because a node failed to come up?

[2016-03-04 19:27] spiffxp commented on #9107
/cc @kubernetes/sig-testing

[2016-03-04 19:27] krousey commented on #21990
re-assigning to @mml while I'm out

[2016-03-04 19:29] krousey commented on #22489
@lavalamp I can look into it today, but I'm on vacation for a week after this. I'll update with what I can and then un-assign myself at the end of the day.

[2016-03-04 19:33] krousey commented on #22489
@davidopp Please remember to include links to results in storage. These are public and last much longer than the Jenkins results.

https://console.developers.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/741/
https://console.developers.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/733/

[2016-03-04 19:33] janetkuo commented on #18558
Looking at the log, the "Key not found" error is observed in deployment controller as well, when we clean up deployment in the `Kubectl run deployment` e2e test. The error didn't output to stderr and is ignored, though.
[code]

[2016-03-04 19:45] jlowdermilk commented on #22390
Thanks for filing @arasheedu. It doesn't look like we have a maintainer listed in the [getting-started-guides](https://github.com/kubernetes/kubernetes/tree/master/docs/getting-started-guides) for vsphere, which explains why it isn't up to date. A pr to update the salt scripts and/or documentation with changes you made to get it working would be very welcome.

[2016-03-04 19:47] justinsb opened #22549 "AWS: Master failed to restart with debian jessie"
Master failed to restart on Debian Jessie.  Console logs showed:

`Unrecognized mount option \"nobootwait\" or missing value`

I have no idea where nobootwait is coming from though...

[2016-03-04 19:51] theobolo opened #22550 "[Azure k8s] Can't reach http://10.16.0.1:443 kubernetes service"
cc @bryk

Hello everyone,

I've a problem with the getting-started azure guide.
I use that repo to deploy a cluster in Azure, but i've seen that the kubernetes service expose the port 443 on 10.16.0.1.

![sans titre](https://cloud.githubusercontent.com/assets/7281773/13538059/a2e2fe96-e248-11e5-8091-6107db97dd50.png)

A lot of logging services ask to the kubernetes endpoint to discover other pods

[2016-03-04 19:52] krousey commented on #22489
So after a restart we see more pods than we had before. So is the idea that something failed the first time and worked after a restart? Still combing through to correlate what pods are where.

[2016-03-04 19:52] piosz commented on #22484
I'll take a look on Monday, so if anyone can do it earlier that would be great.

[2016-03-04 19:54] mikedanese commented on #21367
http://ci-test.k8s.io/kubernetes-e2e-gce/12194
http://ci-test.k8s.io/kubernetes-e2e-gce/11727

seem to be the two suspicious cases here.

Is it unacceptable to take ~20 seconds to observe an update on a watch? That plus catching an inopportune moment in it's sync loop seems like enough to put us over the edge seems like enough to put us over the 30 second timeout. If we are testing graceful termin

[2016-03-04 19:59] mikedanese commented on #21367
FWIW I ran this 5000 times last night serially (and without running the full suite) and it didn't fail

[2016-03-04 20:00] jlowdermilk commented on #22507
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-04 20:00] #22507 closed

[2016-03-04 20:00] jlowdermilk commented on #22508
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-04 20:00] #22508 closed

[2016-03-04 20:10] janetkuo commented on #18558
I turns out we didn't handle not found error on etcd update: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/errors/etcd/etcd.go#L66

The etcd `Key not found` error should haven been converted to `pod not found` error and be ignored in job reaper. Filed #22553 to fix it.

[2016-03-04 20:15] chuckbutler commented on #9107
Hey @thockin  - we don't currently have DNS instructions under the `cluster/juju` instructions. We have however massively renovated the charms and will be landing layers + doc updates for that work within the next week or so.

Is this soon enough to meet the deadline cutoff for this request?

[2016-03-04 20:18] janetkuo commented on #22270
Another failure, with the deletion timestamps logging https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21987/kubernetes-pull-build-test-e2e-gce/31658/artifacts/?debugUI=CLOUD

[2016-03-04 20:22] abhgupta opened #22554 "Scheduler to continue if a predicate throws an error for a particular node"
Currently each node is passed through all the predicates to figure out whether the node is a match/fit to host the pod or not. The predicates are expected to return true/false without an error. However, if a predicate returns an error for a particular node, the scheduler throws an error and that pod that does not get scheduled.

Instead, I would suggest we continue on to other nodes to see if any

[2016-03-04 20:29] gmarek commented on #18558
Nice work @janetkuo!

[2016-03-04 20:42] enlinxu commented on #9125
Thanks @thockin for the reply. Are there any known options here? Is tcpdump an option?

[2016-03-04 20:45] yujuhong commented on #22541
@justinsb, what's the version of your kubelet?

[2016-03-04 20:53] yujuhong commented on #20774
The revert of #22555 is in progress.

In short, I added retry/timeout in ReadUrl(), which reads the metadata url so that we have more clarity when it fails to do so.

However, the same function is used to read [medadata keys](https://github.com/kubernetes/kubernetes/blob/9d3806bceb5097793f2d7ccf60427c4a2756372a/pkg/credentialprovider/gcp/metadata.go#L32) (`google-dockercfg`, `google-dockercfg-url`

[2016-03-04 21:23] janetkuo commented on #22270
From [controller-manager log](https://00e9e64bac93b3e613d051a59466f0f71a8e98c3941d55170e-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F21987%2Fkubernetes-pull-build-test-e2e-gce%2F31658%2Fartifacts%2F104.154.47.129:22-kube-controller-manager.log?qk=AD5uMEvzt3jchgomQBzDvI5zZhwSB3Fg0FHVvh_Y6Ix-MoB6fIzHzciMUfGmjbTbub9nx7u8utvQVA5sPt4psg-tto4Q-yxE1Z

[2016-03-04 21:26] nikhiljindal commented on #22484
I will try to take a look and let you know if I make any progress.

[2016-03-04 21:29] janetkuo commented on #22270
It's weird that the pod's deletion timestamp stays nil everytime we call `updatePod`, but somehow it becomes non-nil in `deletePod`.

[2016-03-04 21:32] krousey commented on #22489
Looking at the 733 build, this is what was running prior to restart:

[code]

And this is what was running after:

[code]

So...

Pod | Node (after) | Existed before
--- | --- | ---
fluentd-elasticsearch-jenkins-e2e-minion-b4zy | jenkins-e2e-minion-b4zy | :bangbang:
kube-proxy-jenkins-e2e-minion-b4zy   |          jenkins-e2e-minion-b4zy | :bangbang:
fluentd-elasticsearch-jenkins-e2e-minion-v77p |

[2016-03-04 21:34] jayunit100 commented on #21229
Really the issue here is decoupling, more than just logging.
we need either
- a Before which makes sure nginx works b4 trying to mount storage
- more verbose logging setup for nginx so that if it fails in the tests its immediately apparent why.

right now, we just get
[code]

which can be confusing in the test logs, since its not clear unless you know the code wether its a client or just a dump of

[2016-03-04 21:38] janetkuo commented on #22270
Also, I didn't see `updatePod` observed by rs controller after we scale down the rs and delete the pod.

[2016-03-04 21:45] mikedanese opened #22558 "round trip tests print a modest 200,000 lines when they fail."
e.g. these commits

https://github.com/kubernetes/kubernetes/commit/14d7263b1289eed6001353696aed9dea85739c9e plus running ./hack/update-all.sh

[2016-03-04 21:57] thockin commented on #9125
I don't think tcpdump is a great idea, but iptables does have some stats

[2016-03-04 22:00] janetkuo commented on #22270
Add more logs to see the content of pods when update/delete pods: #22560

[2016-03-04 22:04] Ya5e opened #22561 "run_nfs.sh - Run script from Google NFS container Image"
The run script has a while loop at the end that makes the node run at 100% cpu usage.

[code]
The dirty fix:

[code]

[2016-03-04 22:04] thockin commented on #9107
That's fine.  Note that docs will actually be moving to a new repo
eventually, but a patch should apply cleanly regardless.

On Fri, Mar 4, 2016 at 12:15 PM, Charles Butler <notifications@github.com>
wrote:

[2016-03-04 22:12] dchen1107 commented on #21640
I reopen this one since pr #22318 was reverted.

[2016-03-04 22:12] ihmccreery commented on #22494
cc @dchen1107 this is the issue I mentioned earlier today.

[2016-03-04 22:13] thockin commented on #7562
hostpath PV to point to NFS is weird - why bother with PV?

I am not sure what "emptydir as PV" means.  Do you mean simply "PV backed
by local disk without the user knowing teh full path" ?  If so, that's what
I was agreeing we should have.

On Fri, Mar 4, 2016 at 6:53 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-03-04 22:28] bprashanth commented on #22270
Yeah this is surely because we're getting a delete with the timestamp set, and never seeing the update.
[code]

We're not hitting this line: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller.go#L340

So the "fix" is relatively straightforward, we can just pass in the deleted object to the informers delete handler, or a few other options. It's mo

[2016-03-04 22:32] janetkuo commented on #22270
Just in case you don't already know, the issue is observed in replica set, not replication controller, since deployment only controls replica sets.

[2016-03-04 22:33] bprashanth commented on #22270
Ah, yes both of them should be the same

[2016-03-04 22:39] janetkuo commented on #22270
@bprashanth is it possible we returned nil here? https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller.go#L320

[2016-03-04 22:43] janetkuo commented on #22270
Oh, it's not returning nil; if so we'd have related rs/rc not found logs.

[2016-03-04 22:45] bgrant0607 commented on #15193
Guidelines are here:
https://github.com/kubernetes/kubernetes/blob/master/examples/guidelines.md

[2016-03-04 22:47] bgrant0607 commented on #22407
cc @jeffmendoza @amygdala

New example guidelines:
https://github.com/kubernetes/kubernetes/blob/master/examples/guidelines.md

[2016-03-04 22:47] bgrant0607 commented on #22407
cc @kubernetes/examples

[2016-03-04 22:48] bgrant0607 commented on #22407
+1 to auto-provisioning

[2016-03-04 22:53] lavalamp commented on #22448
Yes. It is an absolute requirement that both etcd 2 and etcd 3 work at the same time. We have etcd options plumbed through to the creation already.

gRPC is a total red herring here. Of course we should talk gRPC to etcd 3. That has zero effect on anything build on top of the storage interface.

[2016-03-04 22:54] krousey commented on #22489
So as best as I can guess
 1. jenkins-e2e-minion-b4zy reported a ready status
 2. the apiserver listed 12 pods
 3. the test waited for those 12 pods to become ready
 4. the test rebooted the nodes
 5. jenkins-e2e-minion-b4zy came back with 2 pods that weren't listed before

Where do these pods come from? A manifest file? Daemon set? Is there a race between a node being reported as ready, the syste

[2016-03-04 22:58] lavalamp commented on #22454
I maintain that kubectl should not do any conversion. I'd like to move conversion to be server side, actually.

`kubectl convert` *would* be less confusing, because it would only operate on one object at a time, so there's not a need for a list of group/version pairs.

[2016-03-04 22:59] bgrant0607 commented on #22512
@caesarxuchao

When was this build from?

Why are the client and server different?

Why was validation turned off?

[2016-03-04 23:04] bgrant0607 commented on #22514
We don't support docker run arguments directly.

Env is supported. You should use services rather than --add-host.

Please see our documentation for details:
http://kubernetes.io/v1.1/app-admin-detailed.html

We also have numerous examples:
https://github.com/kubernetes/kubernetes/tree/master/examples

If you still have questions, please try [stackoverflow](http://stackoverflow.com/questions/tagge

[2016-03-04 23:04] #22514 closed

[2016-03-04 23:05] lavalamp commented on #22498
Yeah, sorry it can be hard to find things.

[2016-03-04 23:05] bgrant0607 commented on #22518
@soltysh @erictune We should still support the old generator version as long as extensions/v1beta1 job is still supported. Please add a new generator rather than modify the old one.

[2016-03-04 23:11] bgrant0607 commented on #22545
@therc I agree that Running is misleading. They should be NotReady or something similar.

Our current node timeout is 5 minutes -- long enough for nodes to reboot, for instance. Once we're able to control this timeout on a per-pod basis (#1574), I plan to reduce this default.

cc @mikedanese @madhusudancs

[2016-03-04 23:13] lavalamp commented on #22421
I do not see what internal/external has to do with this?

[2016-03-04 23:14] Calpicow opened #22566 "Pods created by ReplicationControllers/DaemonSets don't have a name/namespace when it reaches AdmissionControllers"
Title is pretty self-explanatory. We have a few custom admission controllers and we can't properly determine whether the pod is allowed to be created or not.

[2016-03-04 23:15] bgrant0607 commented on #22451
Thanks @bprashanth. Yes, this bug sounds totally plausible.

We're going to need a robust solution to server-side cascading deletion generally (#1535). Our current approach can't be made robust and places an unreasonable burden on clients.

We'll likely have to fix this in 1.3.

[2016-03-04 23:15] therc commented on #22545
Hours later, the nodes are still there, according to the API Server. Perhaps because of the Running pods?

[2016-03-04 23:17] mikedanese commented on #22558
http://storage.googleapis.com/public-mikedanese-k8s/serial.log

cc @smarterclayton @caesarxuchao

[2016-03-04 23:21] lavalamp commented on #20504
I agree we should discuss it in one place, but #22448 is the dup ;)

The requirements in my first comment are not echoed in #22448, so I would prefer to close #22448.

[2016-03-04 23:23] mikedanese commented on #22545
@therc if you kubectl delete node {node} for the nodes they are on, they will go away i think. only kubelet is allowed to say whether the nodes are running or not. Hopefully the pods have the not ready condition :). Without the nodes being deleted from the api, the master thinks there is a network partion and has no way to know whether the pods are running or not. I think surfacing Unkown, conditi

[2016-03-04 23:25] bgrant0607 commented on #22298
All of our controllers have this issue.

[2016-03-04 23:30] caesarxuchao commented on #22512
The server and kubectl were built at different time yesterday. Will the version skew cause the problem?

FWIW, I'm running kubectl on OS X.

Validation doesn't matter, the command can run without turning off validation.

[2016-03-04 23:31] bgrant0607 commented on #22512
That amount of version skew shouldn't be a problem.

[2016-03-04 23:31] caesarxuchao commented on #22558
I remember this is a bug of the side-by-side printer added by Clayton in 17922. I'll fix it if I can get to it faster than Clayton.

[2016-03-04 23:32] AdoHe commented on #22540
Seems I have extra bandwidth, would take it in the next-candidate.

[2016-03-04 23:34] therc commented on #22545
In my case, the node is NotReady because the cloud provider says it isn't there. I think this is one case where we could override/augment what the kubelet says, i.e. it's more clear cut than just a potential network partition.

I deleted one of the nodes with kubectl and the four pods are still there, five minuts later. I verified that all four are supposed to be on different machines, two of whic

[2016-03-04 23:36] mikedanese commented on #22545
Ok that's not good. If i get my way and we do https://github.com/kubernetes/kubernetes/issues/20497#issuecomment-190473498, this will be true for all pods, not just pods created by daemonsets. We should figure out how we want to handle this.

[2016-03-04 23:38] mikedanese commented on #21367
I submitted #22565 which will allow us to wait for kubelet to acknowledge that it has received the deletion request before we start the timer.

[2016-03-04 23:44] yujuhong commented on #21367
I don't think this will work as you expected. kubelet only sends a status update for a pod if there is a status change. You won't be able to get the generation to confirm until that happens (and it may never happen until the pod is deleted) .How about accessing the /pods endpoint on kubelet to get the list of pods it sees?

[2016-03-04 23:48] lavalamp commented on #22165
Ah, here's the issue. We should roll back #22510 when this is fixed.

[2016-03-04 23:48] MikaelCluseau commented on #20466
I think I hit a related issue. Many docker images are expecting empty volumes and will not initialize a volume with something inside. For instance, I observe that the official mysql docker (often?) fails to do its initial setup in my setup, and I suspect it is because the volume has `lost+found`, because it is ext4 formatted (I'm using RBD devices and let Kubernetes format them). Thus, I'm interes

[2016-03-04 23:48] lavalamp commented on #22165
I agree w/ @smarterclayton, but we still have a big task of making sure every outgoing http call is found and set up correctly.

[2016-03-04 23:51] smarterclayton commented on #22558
We can probably fail early on round trip tests.  Printing more than one
failure was a relic of the very first introduction of it.

If we fail early, only the most recent entry should be shown and the side
by side is useful for figuring out what was broken.

On Fri, Mar 4, 2016 at 5:32 PM, Chao Xu <notifications@github.com> wrote:

[2016-03-04 23:51] smarterclayton commented on #22558
I think we can also remove the incremental part where it prints the kind we
are testing - that was a very early debug tool as well.

On Fri, Mar 4, 2016 at 5:51 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-03-04 23:52] bgrant0607 commented on #22431
@danmcp I understand the concern.

[2016-03-04 23:53] bgrant0607 commented on #22431
Oops. Reopened to figure out how to make this less confusing and more actionable in 1.3.

[2016-03-04 23:58] parikhyash commented on #20466
@MikaelCluseau Would the subPath folder be created automatically if it doesn't exist?

- This would be useful if a new 'tenant' is using the volume in which case the folder would need to be created the first time.

[2016-03-05 00:01] thockin commented on #20466
On Fri, Mar 4, 2016 at 3:48 PM, Mikaël Cluseau <notifications@github.com> wrote:

I don't think you can delete lost+found :)  Aside from that, this is a
bug in whatever.  They should not care if other files exist - if they
really do care, they can never run at the root of any modern
filesystem, and not at all in some filesystems.

yep

Precisely.  Define the default as "" in which case the impleme

[2016-03-05 00:01] thockin commented on #20466
good question.  I think the Docker behavior is to create it, and I think
that's correct.

On Fri, Mar 4, 2016 at 3:58 PM, Yash Parikh <notifications@github.com>
wrote:

[2016-03-05 00:05] MikaelCluseau commented on #20466
@parikhyash yes, docker autmatically creates the folder.

@thockin "I don't think you can delete lost+found :)" you can but it's recreated by fsck. I don't care if it's recreated after my database is created ;-)

Sure, the backwards-compatible subPath will be "", so (hopefully) nothing breaks when we introduce this property.

[2016-03-05 00:05] thockin commented on #22456
The issue is that the same LB IP was used for two services.  That hole is already closed in 1.2, and not worth a 1.1.x patch on its own.  This also exposes an interesting side-effect of the impl: since we iterate a map to populate iptables, and we know Go maps are not order-stable, the iptables on different nodes comes out in different orders.  I will contemplate whether that is a "bug" or just "i

[2016-03-05 00:05] #22456 closed

[2016-03-05 00:08] MikaelCluseau commented on #20466
@thockin "We still don't want to share PVCs across pods". In the NFS case, I think the kernel is clever enough to use the already mounted "connection" if it receives multiple "mount host:/subdir".

[2016-03-05 00:09] #22566 closed

[2016-03-05 00:12] thockin commented on #20466
The kernel can do what it wants :)  NFS is shared writable, so the semantic
is fine.

On Fri, Mar 4, 2016 at 4:08 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2016-03-05 00:13] MikaelCluseau commented on #20466
Soooo we're all happy, let's do something. :)

[2016-03-05 00:18] bgrant0607 opened #22569 "Document kubectl run best practices"
Guidelines for how kubectl run can satisfy:
http://martinfowler.com/bliki/InfrastructureAsCode.html

Off the top of my head:
- Always tag your image with a version-specific tag and don't move that tag to a new version. For example, use :v1234, v1.2.3, r03062016-1-4, or somesuch, rather than :latest.
- If the image is lightly parameterized, capture the parameters in a checked-in script, or at least

[2016-03-05 00:20] MikaelCluseau commented on #20466
Do we expect subPath to be trusted or should I handle the case where someone puts "../../../../etc/shadow" in it?

[2016-03-05 00:26] dchen1107 commented on #22541
I believe this is a real issue caused by docker bug and kubelet hasn't handled such error scenario. Docker sometimes report No-such-container wrongly.

[2016-03-05 00:37] dchen1107 commented on #22541
@yujuhong I mentioned to you offline, I think this is a regression introduced to 1.2 release. Before PLEG and podcache was introduced, Kubelet blindly ignore those bad dead containers, and start a new one: https://github.com/kubernetes/kubernetes/issues/14404

[2016-03-05 00:40] AdoHe commented on #22517
I think we should keep this on 1.2

[2016-03-05 00:41] janetkuo commented on #22512
I found that [cleanupUnhealthyReplicas](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/deployment_controller.go#L906) is scaling old RS up instead of down, after the old RS is scaled down to 0. It's because the scaledDownCount is negative, due to incorrect available pod count.

When calculating number of available pods, we should ignore inactive ones. Filed #22570 f

[2016-03-05 00:41] thockin commented on #20466
It must be validated the same way that paths are validated for configMap -
must not start with / and must have no element that is ".."

On Fri, Mar 4, 2016 at 4:21 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2016-03-05 00:41] janetkuo commented on #22512
We should improve the e2e tests to capture this.

[2016-03-05 00:49] AdoHe commented on #22518
we already have `JobV1Beta1`, maybe we should add a `JobV1`

[2016-03-05 00:51] AdoHe commented on #22554
/cc

[2016-03-05 01:00] quinton-hoole opened #22572 "Nodes in Ubernetes Lite e2e clusters mysteriously started to come up network isolated"
Discussed offline. @spxtr thinks he might know what the problem is.

[code]

[2016-03-05 01:04] yujuhong commented on #22541
The conclusion is that we will ignore the "no such container" error and go on to sync the pod.
(It's a regression of a hidden feature...)

[2016-03-05 01:07] #21895 closed

[2016-03-05 01:11] mikedanese commented on #21367
Ok #22565 was nacked for v1.2 so I'll work on the approach @yujuhong suggests.

[2016-03-05 01:41] MikaelCluseau commented on #20466
Upload took forever, sorry. The PR lacks all the API-change chain but I wanted to validate the idea before getting a size/L tag ;)

[2016-03-05 01:42] justinsb commented on #22541
This was head from around lunchtime today.  I believe it was a20258efaecfc5b46f24111f17bc18168713a124

Also of note: AWS so no docker babysitter then.  I had stopped & started the instance,which is a hard case, but other containers did start fine.  The manifest file for kube-apiserver was still there.

[2016-03-05 02:13] yujuhong commented on #20914
Closing as dup of #22541 (which is a newer issue, but it had the labels...)

[2016-03-05 02:14] #20914 closed

[2016-03-05 02:14] yujuhong commented on #22541
We've seen a lot of issues resulted from docker not shutting down cleanly, but in this case, kubelet should recover. I uploaded a PR #22576 for this.

[2016-03-05 02:16] yujuhong commented on #14404
UPDATE: kubelet's behavior has changed and now it'll refuse to sync the pod whose container is in a corrupt state. We are patching kubelet to skip the bad container and sync the pod in #22576.

[2016-03-05 02:43] MikaelCluseau commented on #20466
Just for justice to the mysql docker: the issue was because the user put a single quote in the root password. The initialization code then fails, and Kubernetes restarts the container; thus the log looks like no initialization took place. It looks for a "mysql" folder in the volume, not for an empty volume. End of subject ;-)

[2016-03-05 02:56] justinsb commented on #21783
No worries - it isn't the end of the world, looks like it is a 2 minute delay starting the kubelet.  Here's a log extract from us-west-2.

[code]

Note there's some complexity around a simple timeout here, e.g. https://github.com/kubernetes/kubernetes/pull/22555

I haven't really looked into the code here, so I'm not sure what the right fix is...

[2016-03-05 03:04] smarterclayton commented on #7562
Security and centralization (PVs can be secured, hostPath direct on pod
can't).  Also, support for filesystem drivers that don't exist in Kube yet
(AFS, GFS, etc).

Emptydir as PV for testing and development that doesn't survive a single
pod lifetime is still useful for testing PV and developing applications.
I'd like the more complex (survives pod removal) solution, but hostPath is
not useful for

[2016-03-05 03:10] bgrant0607 commented on #17851
@dlorenc This is one example where setting up continuous testing for mac os would be useful.

cc @ixdy @fejta

[2016-03-05 03:12] bgrant0607 commented on #17851
@zmerlynn We can cherrypick later. My point was they don't need to be part of the release build.

[2016-03-05 04:19] bgrant0607 commented on #22179
cc @saad-ali

[2016-03-05 05:48] linbrown commented on #17460
I cannot figure out how to fix the problem from the description above. I am trying to create a pod in a three nodes cluster on google cloud, and got the pod log:

Pod "hello-node-lihpv" in namespace "default": container "hello-node" is in waiting state.

The pod state is:

 Name: hello-node-lihpv
Status 	Running on
Created 	Mar 4, 2016 9:08:54 PM
Host Networking 	/10.128.0.2
Pod Networking 	10.48.

[2016-03-05 05:52] #21731 closed

[2016-03-05 05:57] goltermann commented on #4874
#21408 has merged, time to punt?

[2016-03-05 05:58] goltermann commented on #17575
Is this pending more code work, or just documentation?

[2016-03-05 06:10] goltermann opened #22580 "Add Critical builds to Submit Queue E2E Page"
http://submit-queue.k8s.io/#/e2e lists 8 builds now.  We should add all critical builds to that page.  And it probably makes sense to separate them into two sections: queue blocking and critical builds.

[2016-03-05 06:15] spxtr commented on #22580
cc @kubernetes/sig-testing

[2016-03-05 06:27] davidopp commented on #17575
Just needs documentation. @quinton-hoole can you add something in the appropriate doc in admin/ for this?

BTW why does the flag definition in Kubelet say this feature is "alpha"? What does that mean in the context of a Kubelet flag.

https://github.com/kubernetes/kubernetes/blob/73b39e9f1e80ea79f423581c7761acdd1e1b19ba/docs/admin/kubelet.md

[2016-03-05 06:46] davidopp commented on #17851
Upgrading to P1, otherwise this will be dropped on the floor without the release milestone.

[2016-03-05 08:18] davidopp commented on #22545
Oh I see what's going on.

We broke this code
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L394-L408
when we made DaemonSet pods un-evictable, i.e.
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L788-L792

I think the easiest fix is to change NodeController.hasPods() to ignore unevictable pods (currently only

[2016-03-05 08:26] janetkuo commented on #22388
We've handled NotFound in #22384 and preconditions in #22392.

[2016-03-05 09:07] colemickens opened #22581 "etcd server appears twice in componentstatuses"
Moved this from #22231 since it's no longer related.

I noticed that on `v1.1.8`, I had only a single etcd instance listed in componentstatuses, but on `master` had two (despite that I'm only running a single instance). I've added code to `pkg/master/master.go` to print the list of endpoints that it is going to health check during a call to componentstatuses.

My etcd is configured:

[code]

In `v

[2016-03-05 09:21] davidopp commented on #22581
cc/ @wojtek-t

[2016-03-05 09:42] gmarek commented on #22421
I don't think we want to register prometheus metric for client saturation for clients that external users are using to communicate with API server. I'm not sure that we want to do this for e2e tests as well. At some level we need to inject (or not) HTTP server, which will distinguish 'internal' from 'external' IMO.

[2016-03-05 10:32] #22464 closed

[2016-03-05 11:13] wojtek-t commented on #22581
Isn't is the second etcd that we use to store events?

[2016-03-05 11:33] wernight commented on #10732
[code]

[2016-03-05 13:04] justinsb commented on #22549
Aha... it's a bug in jessie's cloud-init.  I have a fix, will produce a PR once verified.

[2016-03-05 13:45] #21806 closed

[2016-03-05 14:39] huang195 opened #22583 "MESOS: km proxy cannot take kubeconfig as a parameter"
After configuring a Kubernetes-on-Mesos environment using TLS, each component is talking to the API server via HTTPS, I noticed that there were a lot of error messages like the following in API server's log:

[code]

The cluster appears in a working condition, e.g., I can create pods, rs, etc. After further investigation, it appears the culprit of all these error messages is the `km proxy`. This i

[2016-03-05 14:40] huang195 commented on #22583
@jdef What do you think?

[2016-03-05 14:44] huang195 opened #22584 "MESOS: km inherits junk flags from cadvisor"
When I run `km scheduler --help`, `km proxy --help`, etc., I'm getting the following:

[code]

and a dozen others that came with cadvisor. These flags don't make any sense here. Probably the only place they would make sense is `km scheduler` so that it can pass these flags to `km executor` to start cadvisor.

Is there anyone looking at why these cadvisor flags are getting inherited? And also are t

[2016-03-05 14:45] huang195 commented on #22584
cc @jdef

[2016-03-05 14:57] huang195 opened #22585 "v1.2.0-alpha8: performance regression"
Moving the discussion from slack to here for better tracking.

I'm running a simple benchmark that just sequentially creates replicasets. Each replicaset has only 1 pod (busybox). My cluster has 1 master and 3 slave nodes. Each node has 4 cores and 8 GB of memory. When using v1.2.0.alpha-8, I see several problems in performance:

1. There's a high variance in pod creation time
2. Even in the begin

[2016-03-05 14:58] huang195 commented on #22585
![vanilla-release-1 2](https://cloud.githubusercontent.com/assets/8008677/13548205/c5d28852-e2b8-11e5-97d7-f21359625af2.png)

[2016-03-05 15:00] huang195 commented on #22585
@Random-Liu pointed out this issue: https://github.com/kubernetes/kubernetes/issues/20836
After changing `--image:busybox` to `--image:busybox:1` in my benchmark, it did remove some of the variance.

![vanilla-master-1500-container-haproxy-tls](https://cloud.githubusercontent.com/assets/8008677/13548214/1b30e97e-e2b9-11e5-956e-78e7d8211ecc.png)

[2016-03-05 15:03] huang195 commented on #22585
But the problem of taking 10 seconds to create pod at low pod count still remains.

cc @Random-Liu @yujuhong @timothysc @kubernetes/sig-scalability

[2016-03-05 15:12] thockin commented on #10732
Ahh, musl still queries nameservers in parallel.  I think you are just
losing the race.  In v1.2 we are moving to a single nameserver line.  Can
you try that?
On Mar 5, 2016 3:33 AM, "Werner Beroux" <notifications@github.com> wrote:

[2016-03-05 15:12] therc commented on #21783
The biggest problem is that the credential provider is refreshed wholesale and there's no information propagated on which URL we are trying to access, even if you declare one for each AWS region.
I was tempted to call `RegisterCredentialProvider()` once for region, but that means that `Provide()` is still called for all of them. And Enabled() doesn't get access to enough information to determine i

[2016-03-05 15:14] therc commented on #21783
In other words, lazyDockerKeyring isn't lazy enough.

[2016-03-05 15:16] wojtek-t commented on #22165
Yes - I also agree with @smarterclayton

[2016-03-05 15:30] AdoHe commented on #22585
/cc

[2016-03-05 15:40] bscott commented on #14232
Is this still a issue?, I'm getting the same when accessing InfluxDB using the latest version of k8s

[2016-03-05 16:07] TomFreeman commented on #21067
I experienced this, setting the subscription explicitly seems to have worked around it.

[2016-03-05 16:16] justinsb opened #22586 "kubelet logs "conversion.go:128 failed to handle multiple devices for container. Skipping Filesystem stats""
Not sure exactly what this means, but recording as a TODO.

We do use a symlink on AWS from /var/lib/docker (and also for the kubernetes dir I think) to /mnt/ephemeral. If this isn't happening on GCE, probably related to that!

[2016-03-05 16:17] ShadySQL commented on #21067
What do you mean on setting the subscription explicitly? What did you do? Mind sharing please

Sent from my iPhone

[2016-03-05 16:25] Maverick-Crank-GRey commented on #7562
I'm surprised to see that

I thought that it's quite common case when an application is run **and** developed at the same. It seems to me, all applications that use dynamic languages (Python, Ruby, JavaScript) are developed being run - you can see your changes without "rebuild & redeploy". Even in Java world, a hot swap and [JRebel technologies](https://zeroturnaround.com/software/jrebel/features/

[2016-03-05 16:26] #19405 closed

[2016-03-05 16:27] TomFreeman commented on #21067
setting the AZ_SUBSCRIPTION environment variable, but not setting the AZURE_STORAGE_ACCOUNT one, or indeed anything else.

get_subscriptions was returning undefined all the time, which seemed to be the cause for all the accounts being named 'undefined'

[2016-03-05 16:37] ShadySQL commented on #21067
Thanks. So for my case I have BizSpark Plus and that's the name of my subscription so are you saying all I would need to do is run:

SET AZ_SUBSCRIPTION="BizSpark Plus"

??

[2016-03-05 17:21] justinsb commented on #21783
Given ecr is only in us East for now, how about we always go to us East, or
just disable it if not in us East. I can do an experiment to see what
happens if we target us East from us West ..  Not sure about iam here.

In 1.3 we can make the changes to fetch based on the image name

On phone, sorry for spelling.
On Mar 5, 2016 10:14 AM, "Rudi C" <notifications@github.com> wrote:

[2016-03-05 17:59] borg286 commented on #19221
I just did a fresh install of ubuntu 15.10 and also tried 14.04 targeting single node bare metal (ie. fixed nodes, role and NUM_NODES environment variables) and both times it fails at starting up etcd.  I am running virtualbox on windows desiring to have kubernetes running on bare metal ubuntu.

Under ubuntu 14.04 I look at /var/log/upstart/etcd.log and I see complaints about
 listen tcp 127.0.0.1

[2016-03-05 18:46] #21951 closed

[2016-03-05 19:14] colemickens commented on #21067
@ShadySQL There would be a GUID value that you need to place there. If you have logged in the with `azure-xplat-cli` previously, then you can look in your `~/.azure/azureProfile.json` file to determine the subscription id. Alternatively it can be found the in Azure Portal under the "Subscriptions" resource.

[2016-03-05 19:17] colemickens commented on #22581
That was mentioned by @lavalamp as well, but I'm afraid that I don't really understand what that means.

For another piece of data, if I change `etcd2`'s advertise URLs to only include a single URL, then the behavior returns to looking the same as with `v1.1.8` -- the second etcd entry in componentstatuses goes away.

This again makes me wonder if it's expected that there is a health check per-etc

[2016-03-05 19:25] gmarek commented on #22165
I think we all agree:) I had to make those workarounds to deflake tests.

[2016-03-05 19:39] MikeSpreitzer commented on #22139
Resolved by PR #22546

[2016-03-05 19:39] #22139 closed

[2016-03-05 20:15] justinsb opened #22590 "Dynamic volume provisioning is missing an e2e test"
There's no e2e test for dynamic volume provisioning AFAICT.

Also, on Ubernetes-Lite, we should verify that a dynamically provisioned volume gets zone labels.

[2016-03-05 20:44] justinsb opened #22591 "AWS: kube-down is not scoped to KUBE_AWS_ZONE"
On AWS, we should scope kube-down to KUBE_AWS_ZONE.  This is very noticeable when down-ing an Ubernetes-Lite (it actually makes downing a multizone cluster easier, but it is incorrect)

[2016-03-05 20:45] justinsb opened #22592 "Ubernetes Lite: Dynamic provisioned volumes are not labeled"
It appears that dynamically provisioned volumes bypass the labelling admission controller, and so are not labeled with zone information.

[2016-03-05 20:47] justinsb opened #22593 "Ubernetes Lite: reuse existing configuration when adding nodes"
When we add nodes to an existing cluster, we need to reuse the existing configuration.  In particular, we need to extract the kubelet cert & key, otherwise we get a cert error connecting to the master.

[2016-03-05 20:52] davidopp commented on #22489
@gmarek do you think you could take a look at this? (@krousey is going on vacation)

[2016-03-05 21:46] justinsb commented on #15160
This is now fixed in 1.2: restart & stop/start should work.

[2016-03-05 21:46] #15160 closed

[2016-03-05 21:46] justinsb commented on #21159
This is now fixed in 1.2: restart & stop/start should work reliably.

[2016-03-05 21:46] #21159 closed

[2016-03-05 21:51] justinsb opened #22596 "kube-addons.sh retries incessantly"
At least on AWS (i.e. systemd), after a reboot kube-addons.sh just keeps retrying to recreate things that have already been created.  It also launches multiple copies (10 or so?).  I don't know about the resource utilization, but the syslog spam is pretty annoying.

We should probably run this in a systemd cronjob, or figure out something similar.

[2016-03-05 21:51] justinsb commented on #22596
cc @brendandburns as I think you wrote this originally . Any thoughts?

[2016-03-05 21:58] justinsb commented on #22549
Fixed by #22595

[2016-03-05 22:00] justinsb commented on #22593
WIP fix in #22594

[2016-03-05 22:01] arun-gupta opened #22598 "TCP Socket liveness sample"
https://github.com/kubernetes/kubernetes/tree/master/docs/user-guide/liveness contains application level health-check using HTTP and Container Exec. TCP Socket example configuration file and docs are missing.

For example, there are no links to TCP socket example at: http://kubernetes.io/v1.1/docs/user-guide/walkthrough/k8s201.html#application-health-checking

[2016-03-05 22:16] timothysc commented on #22585
You're likely hitting controller loop sync intervals, vs. bulk (wide-rc) operations.

[2016-03-05 22:21] bgrant0607 opened #22599 "RC and RS controllers should cap number of outstanding actions, not wait for all to complete"
Once the controllers track creation and deletion of individual objects, they should just cap the number of outstanding actions rather than await all outstanding actions to complete. That would allow new actions to be initiated as previous ones complete, rather than create stair-stepping behavior due to fixed batch sizes.

Deletion tracking is being added by #22579, but robust creation tracking wou

[2016-03-05 22:49] fejta opened #22601 "redis images do not have a non-latest image"
Need to add one to fix https://github.com/kubernetes/kubernetes/issues/20836

[2016-03-05 23:01] davidopp commented on #21159
@justinsb can you indicate which PR fixed it, so we can be sure to cherrypick it? Thanks!

[2016-03-05 23:04] fejta commented on #22601
https://console.developers.google.com/kubernetes/images/list?project=google-containers shows e2e tag now

[2016-03-05 23:04] #22601 closed

[2016-03-05 23:06] davidopp commented on #22448
Can you say more about the semantics of "mini-transaction"? This sounds like it might be different from what we were assuming etcd v3 would provide, but I'm not sure.

[2016-03-05 23:09] therc commented on #21783
@erictune for 1.3 wisdom. I'd like [lazyDockerKeyring.Lookup()](https://github.com/kubernetes/kubernetes/blob/24d82b6c4a5a1266d22e1f04d0cb2fd2b40b72a5/pkg/credentialprovider/keyring.go#L247) to stop calling `Provide()` blindly on all providers. Instead, it would use a new `Locations()`, or something similarly named, to grab just the list of URL patterns for registries the provider supports. Then,

[2016-03-05 23:18] Vloz commented on #22561
[Had the same problem](http://stackoverflow.com/questions/35815736/kubernetes-nfs-server-is-taking-100-cpu), the dirty fix solved it! Thank you so much Ya5e!
cc @jsafrane

[2016-03-05 23:36] hongchaodeng commented on #22448
Please see [txn.go](https://github.com/coreos/etcd/blob/16c35167dfd026c57e993876bcd7b5e0a1d08df9/clientv3/txn.go#L33).

It's a single if-else layer and supports get, put ops in a single operation.

What's the semantics you were expecting? Is there any concern on it?

[2016-03-05 23:38] davidopp commented on #22448
No, that looks good. Thanks!

[2016-03-06 00:16] Random-Liu commented on #22585
@huang195  In the current implementation, if container is `running`, kubelet should have seen this container in `docker ps` and `docker inspect`.

I commented out the connectivity check and run you test with HEAD:
* I find that it usually takes 1s~3s for the container to become `running`, which I think is reasonable.
* Sometimes it may take 10s or more. When that happens I always see that kubectl

[2016-03-06 00:25] justinsb commented on #21159
There were a lot of commits before we cut the branch - the whole sync up of kube-up with GCE was partially motivated by this.  Mostly this was just waiting on testing, and blocked by other issues to be fixed before I could test (e.g. Docker 1.9.1 not being installable by Salt etc).   I did find one outstanding issue on Jessie, but there is a dedicated issue & PR for it: #22595   The PR is marked a

[2016-03-06 00:31] davidopp commented on #18450
Sorry, I just saw this issue. Would #9043 solve your problem?

[2016-03-06 00:32] justinsb opened #22603 "Flake: Kubectl run rc [It] should create an rc from an image [Conformance] [pods not ready]"
As seen here: https://github.com/kubernetes/kubernetes/pull/22064#issuecomment-192758541

Build log: http://pr-test.k8s.io/22064/kubernetes-pull-build-test-e2e-gce/31885

Excerpt from logs:
[code]

[2016-03-06 00:34] davidopp commented on #21159
OK thanks. If you can make sure all the AWS PRs you want in 1.2 are marked cherrypick-candidate, that would be great.

[2016-03-06 00:42] justinsb commented on #21159
@davidopp  Will do!  There are some where the functionality doesn't really matter either way... should I err on the side of including them for this first batch?  e.g. #21905  - trivial, but I don't know if that means it's better to include it because it would be annoying to have a merge conflict on a future cherry-pick, or whether it's better not to include it because of the effort of cherry-picki

[2016-03-06 00:49] davidopp commented on #21159
Good question. I would err on the side of leaving stuff out, though don't be too shy about including stuff. If something is transitively required by an important cherrypick, we'll figure it out when we try to do the important cherrypick, so don't use that concern as a critiera.

[2016-03-06 00:50] #22549 closed

[2016-03-06 01:41] hongchaodeng commented on #22448
I send a PR #22604 as a follow up on the discussion. The change is simple but I hope it will enable more folks to start writing the code.

I have a rough plan of what we are gonna to do next:

1. Implement all KV methods (Get, Set, GuaranteedUpdate, Create, Delete, etc.) without ttl.
2. ttl is quite tricky in v3. We might need to support per-key ttl for BC while v3 encourages per client ttl. Once

[2016-03-06 02:01] AdoHe commented on #22448
A really big TODO, I would help with KV methods.

[2016-03-06 03:02] davidopp commented on #22262
If we do a serviceRef analogous to controllerRef (but it is an array of pointers rather than a pointer, since a pod can be in multiple services by design), then when scheduling pod P you can just do

[code]

This would just be O(# pods).

Also, we should figure out a way of sorting the predicate functions so that the ones that are most computationally expensive go last, and have the predicate func

[2016-03-06 03:46] davidopp commented on #3945
@Stephenitis Just to be clear, the pause container should be running in a separate podJust to make sure I understand, what you're doing is:
1) Start your pod. It has (how many?) containers in it. At least one of them (say container C) has a containerPort.hostPort.
2) C fails
3) C can't restart because of a port conflict wit the pause pod?

But it seems the output you gave shows the pause pod is th

[2016-03-06 04:09] MikeSpreitzer commented on #19221
I have continued to use this scripting without the problem described above.  I am not sure why.  I use this scripting only with Ubuntu 14.04.  Normally I do a multi-machine install, with one machine being master only and the others being minions.  To investigate @borg286's complaint just now, I did a single-machine install (one machine being both master and the only minion).  I still did not have

[2016-03-06 05:09] borg286 commented on #19221
the package that got the init.d scripts running on ubuntu 15.10 was
sudo apt-get install upstart-sysv

[2016-03-06 05:10] borg286 commented on #19221
tell me what do I need to have preinstalled? AFAIK only docker and pasword-less ssh.
I am doing passwordless ssh to 127.0.0.1.

[2016-03-06 05:11] Calpicow opened #22609 "kube-apiserver endpoint cleanup when --apiserver-count>1"
Using `v1.2.0-beta.0` and running `--apiserver-count=2` in my cluster. I would expect the service endpoint to be cleaned up when one of them goes offline. This doesn't happen though, and causes ~50% of apiserver requests to fail.

[2016-03-06 05:18] bgrant0607 commented on #1366
This is obsolete.

[2016-03-06 05:18] #1366 closed

[2016-03-06 05:27] #22000 closed

[2016-03-06 05:47] mdshuai commented on #22344
@vishh Now for kubelet it has parameter "--pod-infra-container-image=", if we use a private registry, there is no place to configure the secret for pull it.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L1605-L1607

[2016-03-06 07:13] fejta commented on #22603
So we call `kubectl run`  at 15:08:28.200 which completes at 28.600
Then we call `kubectl logs` at 15:08:28.700 which fails at 29.100

If we look at the `146.148.96.85:22-kube-apiserver.log` we see the following:

[code]

I suspect this means that the logs were read before the pod was fully running?

[2016-03-06 07:42] #22270 closed

[2016-03-06 08:23] wojtek-t commented on #22262
@davidopp - O(#pods) is not acceptable in my opinion. If we are targeting 5000 nodes and potentially 100 pods/node at some point, then scheduling a single pods would take a second...

[2016-03-06 10:58] gmarek commented on #22262
I agree with @wojtek-t - we need some way to make scheduler work on some higher level abstractions than Pods if we want to keep 5s e2e startup latency...

[2016-03-06 12:32] ntquyen commented on #22232
More info on the issue, error logs of kubernetes api server at the moment:

[code]

`dmesg` logs:

[code]

[2016-03-06 12:36] huang195 commented on #22585
@timothysc can you point me somewhere in the code or documentation on these as I am not sure how these could impact the result, thanks!

[2016-03-06 12:44] huang195 commented on #22585
@Random-Liu

Are you getting these from the event stream between container "created" and "started" events?

Oh, can this be the reason that release-1.2 has longer latency to fully create a pod? If I understand you correctly, something is creating pods from deployments asynchronously, which adds latency.

This is because in most cases black and purple dots overlap. No worry about ssh or purple dots

[2016-03-06 12:50] Alex-Wauters opened #22610 "kubelet high CPU usage after CoreOS upgrade ; failed to ensure docker daemon state"
Hi,

we upgraded CoreOS (stable) and rebooted on our kubernetes cluster (using the Azure VM installation scripts with weave), and ever since the CPU usage on the master+node VMs is 95%

Kubelet hits 40% CPU:

kubelet log (similar issues on all nodes):
`Mar 06 12:45:10 kube-01 kubelet[902]: W0306 12:45:10.544302     902 container_manager_linux.go:278] [ContainerManager] Failed to ensure state of "/

[2016-03-06 13:41] errordeveloper commented on #22550
You should be able to upgrade to `v1.1.8` by changing this line:
[code]

[2016-03-06 13:42] errordeveloper commented on #22550
TLS is not included in this guide, it would probably take quite a bit of work. However, this guide use Weave Net crypto as well as private network, so you cluster is secure.

[2016-03-06 15:27] wojtek-t commented on #22262
It's not about e2e startup latency - it's about throughput.

[2016-03-06 15:54] wernight commented on #10732
Once v1.2 is release on GKE sure (I'm waiting impatiently on it). I wish it the alpha and/or beta would be on GKE as well.

[2016-03-06 16:01] wojtek-t opened #22611 "e2e flake: Garbage collector [Slow] should handle the creation of 1000 pods"
The test failed multiple times like that:

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/garbage_collector.go:62 Expected : 131 to be == : 100

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/2944/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/2940/
http://kubekins.dls.corp.google.com/v

[2016-03-06 16:10] MikeSpreitzer commented on #19221
For now let's focus on 14.04, I suspect that will be sufficient to clear up whatever is going on here.

@borg286 did you understand my remarks about `role` vs `roles`?  It would help if you could exhibit your modified `config-defaults.sh`.

I hope you are aware that the docs as exhibited on the web (e.g., at http://kubernetes.io/v1.1/docs/getting-started-guides/ubuntu.html) are all outdated.  I us

[2016-03-06 16:42] xiang90 commented on #22262
@wojtek-t It seems that it should be hard to make

[code]

to

[code]

by incrementally caching the information at node level again.

And calculating the most computationally expensive one also seems to be promising.

[2016-03-06 17:04] bgrant0607 commented on #22342
Thanks. Yes, must be apply bug, since args are still present.

[2016-03-06 17:09] jayunit100 commented on #21229
After thinking more , i realized the real problem is the coupling, not nginx itself....

In certain network configs, you can get this faulre when running test/e2e/volumes.go
[code]
However, in this case, the  volumes work just fine:
[code]
- We can easily decouple the volume tests from the need to serve web pages on port 80.
- and in fact, from any web server - by simply listing directory contents

[2016-03-06 17:09] bgrant0607 commented on #22388
Done enough for 1.2.

[2016-03-06 17:16] bgrant0607 commented on #22505
@fgrzadkowski No, Deployment and ReplicaSet cannot yet be scaled.

[2016-03-06 17:28] bgrant0607 commented on #22451
In order to prevent this, we'd have to ensure that the RS controller saw the label changes on the pods before updating the selector on the RS.

[2016-03-06 17:29] bgrant0607 commented on #22451
We should document this as a known issue with adoption by Deployment in 1.2. #21000

[2016-03-06 17:31] bgrant0607 commented on #22179
cc @vishh

[2016-03-06 17:56] theobolo commented on #22610
I work with the same cluster but with the 1.1.7 kubernetes version.

You just have to change in your kubernetes cloud-config :

`Environment=KUBE_RELEASE_TARBALL=https://github.com/kubernetes/kubernetes/releases/download/v1.1.7/kubernetes.tar.gz`

or you can try the 1.1.8 but i've experienced some issues with it on that cluster.

BTW i don't know why the CPU is so high :/  try to deploy it with a

[2016-03-06 18:22] titilambert commented on #18450
Hello !
Not really, the objectif of the rolling update by node is to be sure that you can never get 2 different version of the same RC running on the same node. I don't thing this issue cover that case.

[2016-03-06 18:25] yujuhong commented on #12619
We've finished all the TODO items on this issue. Closing it.

[2016-03-06 18:25] #12619 closed

[2016-03-06 19:10] davidopp commented on #22262
Probably the optimizations described under "performance/scalability improvement ideas" here would help.

https://github.com/kubernetes/kubernetes/issues/18418#issue-121176671

("higher level abstractions" reminded me of equivalence classes)

[2016-03-06 19:11] davidopp commented on #22262
The thing @xiang90 suggested above is also a good idea, and a lot simpler than equivalence classes.

[2016-03-06 19:27] davidopp opened #22612 "Update Azure documentation for new Azure kube-up"
@colemickens

I think the best thing to do is to add a new row in the table at
`docs/getting-started-guides/README.md`
and a new corresponding docs page. You don't need to write anything fancy -- just a few sentences explaining how to use `kube-up` to target Azure is fine for now. If you're pressed for time, you don't even need to document the various env vars--you can just say "see the script for

[2016-03-06 19:48] Random-Liu commented on #22585
@huang195

No. I just used your script https://github.com/huang195/kube-test. It usually just takes 1-3 seconds before the container become `running`.

Yeah, that's what I mean. I asked @lavalamp about this last week. IIUC, the pod is created asynchronously when using `kubelet run`.

[2016-03-06 20:13] kargakis commented on #22512
@janetkuo should we also make sure that `cleanupUnhealthyReplicas` will not scale up?

[2016-03-06 20:41] bgrant0607 opened #22614 "unit test flake: TestSchedulerForgetAssumedPodAfterDelete race"
kubernetes-jenkins/pr-logs/pull/21645/kubernetes-pull-test-unit-integration/17627

From PR #21645

[code]

[2016-03-06 21:04] janetkuo commented on #22512
@kargakis yes, we should check that `scaledDownCount ` not to be negative and throw an error if it violates. cc @mqliang

[2016-03-06 21:09] eparis opened #22615 "Deployment should delete old replica sets [it]"
https://github.com/kubernetes/kubernetes/pull/22520
http://pr-test.k8s.io/22520/kubernetes-pull-build-test-e2e-gce/31919/build-log.txt
[code]

[2016-03-06 21:10] eparis commented on #22615
Potential previous work: #21798 #21782 #22088 #21831   But all of those are supposedly fixed, and this just failed....

[2016-03-06 21:54] smarterclayton commented on #7562
A host path owned by your local user *and* the container is running as the
same local user is fine.  A container running as root and accessing that
host path will work, as long as you're fine with running root containers.
I would assume it's unlikely your container is running as the local user,
and if you want to build and ship containers that expect to be running as
root, then yes, hostPaths will

[2016-03-06 22:13] huang195 commented on #22585
@Random-Liu Are you saying in your environment if you run my script and you plot the result in a graph, the black dots will be in 1-3 seconds range?

I also modified my script to run `kubectl create -f` to create just pods instead of `kubectl run` to create deployments, and unfortunately, I'm getting the same result.

[2016-03-06 22:49] yujuhong commented on #22585
@huang195, I believe @Random-Liu used a regular GCE e2e cluster.

We didn't see the severe regression you observed in our test environment.  Could you share your environment -- OS, cloud, and any custom flags, etc?

It seems like pod startup time is generally long in your environment, even when creating pods regularly (~10s). If you see a pod that is slow to start, perhaps you can run `kubectl des

[2016-03-06 22:52] bgrant0607 commented on #22603
Maybe related to #21335. Indeed the flakes started some time after that was merged yesterday.

cc @deads2k @kargakis

[2016-03-06 22:55] bgrant0607 commented on #22611
This appears to be a new regression as of today.

[2016-03-06 22:57] bprashanth commented on #22603
It might just need a readiness probe. Looks like it's running nginx, so just this should be enough: https://github.com/kubernetes/kubernetes/pull/20865/files (in addition to polling till ready)

[2016-03-06 22:59] bgrant0607 commented on #22611
Most recent failure is kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/2953:
[code]

[2016-03-06 23:53] bprashanth commented on #22611
In all the fail cases i actually see the pods getting gc'd till the threshold:
[code]

The differnce is in the pass cases the gc started much sooner:
[code]

Anyway I don't think it's worth cutting it that fine with the timeouts so I have: https://github.com/kubernetes/kubernetes/pull/22617

[2016-03-06 23:57] hongchaodeng commented on #22262
Agree with @xiang90 's idea.

Just want to clarify it. It should be
[code]

We can incrementally update all kinds of refs and labels aggregated in node level.

[2016-03-07 00:04] bprashanth commented on #22611
It's possible the only difference is we started creating the pods much faster because we recently swapped out the default client in the tests with a 20qps client (default is 5qps right?)

[2016-03-07 00:05] bgrant0607 opened #22618 "Organize examples"
/examples is intended for apps, real or contrived

We have a number of examples that just show off features. Those belong in the user guide or elsewhere.

We should also group examples by category: web, database, multi-tier, monitoring, etc.
- apiserver
- cephfs
- cluster-dns
- persistent-volume-provisioning
- fibre_channel
- flexvolume
- flocker
- glusterfs
- iscsi
- job
- kubectl-container
- new

[2016-03-07 00:09] bgrant0607 commented on #22454
Ref #3955

[2016-03-07 01:17] #8620 closed

[2016-03-07 01:44] bprashanth opened #22619 "Controllers can scale expectations ttl"
Currently the ttl is set to: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/controller_utils.go#L44

In theory it can be infinite, but if by some chance (user error/bug) a pod gets orphaned the controller will wait 5m before giving up. It can give up much sooner in most situations. One way aroud this would be to set the timeout to something like: `numPods/(watches per second)

[2016-03-07 01:45] bprashanth commented on #22599
https://github.com/kubernetes/kubernetes/issues/22619 for scaling the ttl

[2016-03-07 01:47] bprashanth commented on #22599
See https://github.com/kubernetes/kubernetes/issues/7369 for context on being more responsive to adds/deletes during rc sleep

[2016-03-07 01:52] WIZARD-CXY commented on #19221
Thanks for your comprehensive  explanation @MikeSpreitzer
@borg286 I think you can follow what Mike said

[2016-03-07 01:59] dalanlan commented on #19221
Ah, this is not cool. What are we supposed to do if we want to update the docs?

[2016-03-07 02:08] errordeveloper commented on #22469
cc @monadic @rade @sqaremo @bboreham

[2016-03-07 02:17] AdoHe commented on #22469
/cc

[2016-03-07 02:18] borg286 commented on #19221
They've moved to a different github repo. They link to it from the website.
On Mar 6, 2016 6:00 PM, "Emma He" <notifications@github.com> wrote:

[2016-03-07 02:21] fejta commented on #10352
@amygdala how do we add images to google-samples? #13288 shows that there are some kubernetes/redis etc images that exist on dockerhub that I'd like to migrate over to gcr.io to address that bug.

I'd be happy to get instructions from you on how I can do this if you don't have time.

[2016-03-07 02:22] fejta commented on #20836
Have a PR out for deployment.go and and #13288 is also relevant.

[2016-03-07 02:23] dalanlan commented on #19221
@MikeSpreitzer [This](https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/getting-started-guides/ubuntu.md) should do

[2016-03-07 02:29] Calpicow commented on #21901
Having this problem after upgrading from `v1.2.0-alpha.8` to `v1.2.0-beta.0`. Downgrading back to alpha doesn't help.

`reflector.go:271] pkg/kubelet/config/apiserver.go:43: Failed to watch *api.Pod: too old resource version: 13519683 (13519940)`

is littered in the logs. Nothing aside from file pods are running.

[2016-03-07 03:22] janetkuo opened #22621 "Kubectl overview web page not rendered properly"
http://kubernetes.io/v1.1/docs/user-guide/kubectl-overview.html#operations the table is almost not readable.

@kubernetes/docs @caesarxuchao @nikhiljindal

[2016-03-07 03:28] fejta commented on #13288
https://github.com/kubernetes/kubernetes/blob/master/cmd/integration/integration.go

[2016-03-07 03:42] AdoHe commented on #22619
would try to do this, if any question, I will leave here.

[2016-03-07 04:09] preillyme opened #22623 "Add Windows Containers Support"
Add Windows Containers Support at least at the node level.

[2016-03-07 04:57] caesarxuchao commented on #22512
@janetkuo it seems the problems I reported is fixed on the latest code, though some e2e tests are still needed to make sure it's not flaky. Good job!

[2016-03-07 04:57] bgrant0607 commented on #22438
All object cross-references have this problem.

[2016-03-07 05:30] matjohn2 commented on #21697
Ideal, thanks for this! :+1:

[2016-03-07 05:42] xinxiaogang opened #22625 "Static pod terminating status can not be bring back"
If the mirror pod of static pod be deleted via apiserver, the mirror pod status would stuck at `Terminating`. Even restarting `kubelet` does not work.

`kubelet` should sync the running static pod status to mirror pod.

[2016-03-07 05:44] bgrant0607 commented on #18450
@titilambert If you use a hostPort in your pods, only one can schedule per node.

We also have some anti-affinity features coming that may help:
https://github.com/kubernetes/kubernetes/blob/master/docs/design/podaffinity.md

[2016-03-07 05:55] fejta commented on #10136
@bprashanth does that close this issue?

[2016-03-07 06:00] #21769 closed

[2016-03-07 06:05] fejta commented on #18849
e2e.sh no longer exists

[2016-03-07 06:05] #18849 closed

[2016-03-07 06:08] fejta commented on #21017
https://github.com/kubernetes/kubernetes/pull/22003 fixes this

[2016-03-07 06:08] #21017 closed

[2016-03-07 06:25] fejta commented on #18118
@ixdy please get this documentation submitted and close this out.

[2016-03-07 06:27] fejta commented on #14659
https://github.com/kubernetes/kubernetes/pull/22606 seems to suggest we separate out e2e and unit/integration tests

[2016-03-07 06:27] #14659 closed

[2016-03-07 06:32] fejta commented on #6552
Please use go run hack/e2e.go as per https://github.com/kubernetes/kubernetes/blob/master/docs/devel/e2e-tests.md

[2016-03-07 06:32] #6552 closed

[2016-03-07 06:34] AdoHe commented on #22625
@kubernetes/sig-node

[2016-03-07 06:35] Random-Liu commented on #22585
@huang195 Yeah, the black dots (`$trun` in your script) will be in 1-3 seconds range.

[2016-03-07 07:08] wojtek-t commented on #22262
To be honest, I'm completely not following your idea above.
For simplicity let's first assume that just have services (and ignore RC, RS, etc.), and there is only one such service. Let's try to generalize it later.

So your suggestion from above would translate to (in that simplified save):

    for (each node) {
      if node.controllerRef.Contains(p.controllerRef) {
        countsByNodeName[node

[2016-03-07 07:27] hongchaodeng commented on #22262
Yes. It should be
[code]

[2016-03-07 07:36] wojtek-t commented on #22262
Yeah - but then if you generalize it multiple RCs/Services, then you need to be able to deduplicate those pods, which is basically impossible to do just operating on numbers....
So it would be a semantic change, which we need to be very careful about.

[2016-03-07 07:49] mdshuai opened #22629 "Can't open new docs url in kubernetes.github.io with "404 Error!""
As some doc has moved to http://kubernetes.github.io/docs, now can't open the url in the README.md

like: https://github.com/kubernetes/kubernetes/tree/master/docs/admin/resourcequota
" This file has moved to: http://kubernetes.github.io/docs/admin/resourcequota/README/ " But can't open the new url
Many docs has this issue.

[2016-03-07 07:56] Random-Liu commented on #22625
@xinxiaogang Now kubelet ignores all modifications to the mirror pod as long as the [annotation](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/types/pod_update.go#L26) remains unchanged. There are more related discussion in #16627, you can follow up if you are interested.

However, I think what you suggested is reasonable somehow.

@yujuhong except for the annotation change, if

[2016-03-07 07:56] Stephenitis commented on #3945
sorry I wasn't detailed enough with my earlier post. The pod that is failing is my mongo pod. The pause container is persisting and preventing the mongo pod from starting.

  1m		1m		1	{kubelet ip-10-0-0-99.ec2.internal}	implicitly required container POD	Failed		Failed to start with docker id 2cc69a9becca with error: API error (500): Cannot start container 2cc69a9becca2479e76d89305f3f2117e3d5b9799

[2016-03-07 08:00] xinxiaogang commented on #22625
Thanks @Random-Liu . I have a PR for the fix and it works in our cluster now. https://github.com/kubernetes/kubernetes/pull/22626

[2016-03-07 08:03] mdshuai commented on #22629
@eparis

[2016-03-07 08:14] gmarek commented on #22480
There's a LOT of those things in http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/772/consoleText

[2016-03-07 08:28] gmarek commented on #22545
Why exactly we made Daemons un-evictable? I'm getting worried by the amount of special cases to handle during machine drain: I thought that only mirror pods are special (and I believe there's a discussion on how special they are) and we made Daemons special as well.

Is there a strong reason why we're doing it? If the system decides that the Node is unhealthy and need to be drained, or user wants

[2016-03-07 08:32] gmarek commented on #22489
Not this week - I have a presentation to prepare.

[2016-03-07 08:43] piosz commented on #22484
I don't see any progress here so taking over once again

[2016-03-07 08:59] #21919 closed

[2016-03-07 09:03] Alex-Wauters commented on #22610
Thanks for the SSD link! As for the kubernetes install; there is a systemd unit called install-kubernetes.service which has the KUBE_RELEASE_TARBALL line; if I change it the installation fails as it tries to overwrite the existing kubectl binary files:

`Mar 06 22:07:58 kube-00 systemd[1]: Starting Download Kubernetes Binaries...
Mar 06 22:07:58 kube-00 curl-retry.sh[664]: + curl --silent --locati

[2016-03-07 09:57] wojtek-t commented on #22448
@hongchaodeng - yes that plan SGTM, as long as this is another implementation not replacing the currently existing one (actually this is a requirement anyway).

[2016-03-07 10:21] mysterytree opened #22631 "API error (500): Container command not found or does not exist"
Got this error when rc created
![image](https://cloud.githubusercontent.com/assets/6166794/13573410/98bed128-e4ba-11e5-9c0a-770fc27cdaab.png)

The rc.yaml

[code]

The pods logs

![image](https://cloud.githubusercontent.com/assets/6166794/13566607/4e1894b6-e491-11e5-89de-53fef0ab27d2.png)

[2016-03-07 10:43] chbatey commented on #18785
Hey @justinsb this happens even if it is already attached to the instance kubelet is trying to attach it to. Would you accept a PR that checks this and succeeds in this scenario?

This happened when the initial attach timed out but eventually succeeded and then failed on retry due to already being attached.

[2016-03-07 10:50] justinsb commented on #18785
Fixes very welcome! I've been meaning to get to this but haven't got to it
yet...
On Mar 7, 2016 10:44 AM, "Christopher Batey" <notifications@github.com>
wrote:

[2016-03-07 11:04] jsafrane commented on #22561
I fixed the busy loop in the PR referenced above. These images are for testing of volume plugins only and should not be used in production!

[2016-03-07 11:20] fgrzadkowski commented on #22431
Currently using the default policy would not be a recommended setup for production use-cases, but I think it's a good starting point for a user. We'll obviously document what default means, but I don't think this should be exposed on the API level.

To give an extreme example, I don't know how kernel scheduler works, but I don't have to as long as it's working good enough. When I see problem I'd r

[2016-03-07 11:26] theobolo commented on #22610
First of all you right,

For the moment the Azure guide differ from the classic installation with kube-up.sh or other classic ways. I never tried to upgrade the Kubernetes environment without tearing down the cluster and make a new one.

Yesterday i've talked with the maintainer of the Azure/CoreOS/Weave repo and he told me that is aware about that problems.

The very next step is to implement the

[2016-03-07 11:26] jayunit100 commented on #6552
Yeah It's closed. Also the binary itself works fine.

[2016-03-07 12:25] theobolo commented on #22610
@Alex-Wauters just forget about that : https://github.com/colemickens/azkube

They actually work on a better way to deploy a Kube cluster on Azure with the implementation of the TLS certs and the Azure variables. Take a look at it !

[2016-03-07 12:27] theobolo commented on #22610
@davidopp Hello David, even if the docs are not updated yet, is it possible to use your work to deploy a cluster now ?

[2016-03-07 12:31] theobolo commented on #22612
Maybe can you put a Warning in the actual azure doc to aware users about the non TLS support problem.
Because i've spend a lot of time trying to figure out why most of the logging and kubernetes addons aren't working in that cluster ;)

[2016-03-07 12:34] colemickens commented on #22612
@theobolo This issue is for the new Azure cluster bring up which does support TLS.

[2016-03-07 12:35] colemickens commented on #22612
(But I could also add such a note to the existing coreos-azure setup, if that's desired.)

[2016-03-07 12:37] theobolo commented on #22612
It was in the case that you'll "leave the CoreOS-Azure stuff as-is" and precisely the doc.
Thanks for that.

[2016-03-07 12:52] wojtek-t opened #22636 "Jenkins in not able to ssh node in kubernetes-e2e-gce-scalability"
Looking into recent runs of scalability suite, there are thousands of error like these:

    error dialing jenkins@104.154.31.56:22: 'ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain', retrying

Example:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/5112/consoleText

This started afte

[2016-03-07 13:00] Snake231088 commented on #12062
Sorry!
I'd a bag configuration of etcd.
I fixed it and now all works fine.

[2016-03-07 13:10] kastork opened #22638 "jessie image in us-gov-west and cn-north-1"
The plain jessie ami's are available,

`debian-jessie-amd64-hvm-2015-06-07-13-16-ebs -`

but not the k8s optimized ones.

It would be helpful to either

a. post the optimized image in 'us-gov-west', or
b. provide pointers to instructions for creating the optimized image from the standard jessie image.

[2016-03-07 13:10] deads2k commented on #22454
It seems like any list and certainly any object that contains another object would cause problems.  How would I handle `kubectl get deployments -o yaml | kubectl convert`?  It includes a `PodTemplateSpec` from the legacy kube API.  Is that just something I'm not allowed to do?

[2016-03-07 13:16] gmarek commented on #22636
A though: doesn't ":" in project name interfere with something?

[2016-03-07 13:19] zreigz commented on #4869
I've made all necessary modifications. It looks like this
[code]
I've tested few types of volumes. The result is:
emptyDir - works
hostPath - works
Downward API - fails (kubectl shows pod but container doesn't exist after command *docker ps*)
Secrets - fails (kubectl shows creating status all the time and container not created in docker)

[2016-03-07 13:27] wojtek-t opened #22639 "Container failed to run because Kubelet failed to apply oom-score-adj"
STEP: Creating a pod to test consume service account root CA
    Mar  4 21:17:10.419: INFO: Waiting up to 5m0s for pod pod-service-account-809f8d5c-e291-11e5-8df7-42010af00007 status to be success or failure
    Mar  4 21:17:10.452: INFO: No Status.Info for container 'token-test' in pod 'pod-service-account-809f8d5c-e291-11e5-8df7-42010af00007' yet
    Mar  4 21:17:10.452: INFO: Waiting for pod po

[2016-03-07 13:38] saad-ali commented on #18785
Simply succeeding if disk is already attached may expose nastier bugs: see https://github.com/kubernetes/kubernetes/issues/19953#issuecomment-174876432. The proposed fix, on the GCE side, is a larger redesign that should fix this for all volumes, see https://github.com/kubernetes/kubernetes/issues/21931.

https://github.com/kubernetes/kubernetes/pull/15938 introduced more robust retry logic for AW

[2016-03-07 14:16] ncdc commented on #22639
Not sure if this is the root cause, but I see several log messages like this one for the pod in question:

[code]

[2016-03-07 14:16] eparis commented on #22629
I'm working on more 'in tree' doc fixes. But I'll try to take a look these sooner.

[2016-03-07 14:16] bitchecker opened #22640 "kubernetes fails to get mount point on only one cluster node"
hi, i've a kubernetes cluster with one master and 3 minions but when i run a pod, in this case skydns for pods resolution into cluster environment, i see:

[code]

STATUS: ContainerCreating is not normal, so if i run:

[code]

i see:

[code]

this node fails also if a container tries to use glusterfs as mount-point. on all othern nodes all works well.

[2016-03-07 14:19] ncdc commented on #22631
You need to specify each argument in the command as a separate entry, e.g.:

[code]

[2016-03-07 14:30] piosz commented on #22484
I wasn't able to fix this today, so re-assigning back to @nikhiljindal

[2016-03-07 14:33] deads2k commented on #22603
Opened https://github.com/kubernetes/kubernetes/pull/22641 to wait until the pods are ready.

[2016-03-07 14:34] Perfect-Web commented on #19980
yeh, i just had the same problem and once i disabled selinux it started

[2016-03-07 14:38] thockin commented on #19764
It is not sufficient or workable to build the image with the file being a symlink to an empty dir, and let secret or configmap mount into the dir?  Not that I don't want this feature, but I want to see the f we can unblock people.

[2016-03-07 14:42] timothysc commented on #22039
IMHO we should try to switch early and force resolution on the issues that arise.  It's entirely possible we'd need to mark a series of test as flakes for a period of time, but we seem to have pushed off a number of updates primarily due to GC issues on the api-server at scale.

/cc @kubernetes/sig-scalability @rrati @kubernetes/rh-cluster-infra

[2016-03-07 14:51] disneyworldguy commented on #17576
Running into this same issue myself.

Using a recommendation from http://bit.ly/1p2aFuH, logging in via following is somewhat functional, but still returns an error along the way:

Thanks in advance!
Kyle

[2016-03-07 14:51] AdoHe commented on #22484
I could help fix this today. @nikhiljindal if you don't have extra bandwidth

[2016-03-07 14:52] timothysc commented on #21881
@deads2k in the 1.3 timeframe our plan is to unbound the limits but force back-offs on the clients.

/cc @kubernetes/sig-scalability

[2016-03-07 14:59] minxinping0105 opened #22644 "How to change the apiserver port 8080 into 8888"

[2016-03-07 15:00] wojtek-t commented on #22039
Yes - I agree that we should upgrade to higher versions of Go soon. We didn't do that for 1.2, because of scalability issues. But we can't stuck in Go 1.4.2 forever.
So, as soon as we are done with 1.2 release, we should really start looking into what was wrong with higher version of Go (we had problems even with Go 1.4.3) and: either workaround them in our code or push Go folks to fix them.

Note

[2016-03-07 15:00] huang195 commented on #22585
@yujuhong @Random-Liu

I'm using Ubuntu 14.04, running on a private cluster of 1 master and 3 slaves. Each node has 4 cpus and 8 gb of memory.

Here are the flags I'm using to start each of the components:
[code]

The kubeconfig files are minimalistic ones that just have namespace and kubernetes master ip:port info.

On the slave node, I'm using:
[code]

One thing I found strange is that when I'm

[2016-03-07 15:04] eparis commented on #22039
@DirectXMan12 for RH has been asked to try to put some time into @20656 along with our golang guy.

[2016-03-07 15:09] wojtek-t commented on #20656
@rsc - sorry for late response

Yes - the reason for Go 1.4.3 was exactly the same (performance was significantly higher than with Go 1.4.2). And I guess it should be much easier to pin down the reason of that between those two versions than between Go 1.5.3.

Regarding running kubemark - yes, it's definitely possible for you to run it.
Details explanation how to do it is here:
https://github.com/

[2016-03-07 15:11] wojtek-t commented on #22039
@eparis - we also asked our Go fokls about; in fact I missed the fact that they were waiting for a response from us - just answered it and hopefully they will be able to help us.

[2016-03-07 15:15] eparis commented on #19764
I know that @derekwaynecarr also had this problem. openshift expects certs and config files to live next to each other in the same directory. Yes, his problem is 'solvable'/'work-arround-able' by creating a custom image with symlinks. But custom images come with their own pain when the original image is updated.

[2016-03-07 15:17] liggitt commented on #22484
would probably be good to discuss approaches to possible solutions before putting together a PR

[2016-03-07 15:23] titilambert commented on #18450
@bgrant0607 Thanks, for your reply !
It sounds interesting, but I can not see how I can be sure that the old RC will not deploy new pod on the current node. One of the main requirement of this rolling update by node, is to delete all pods from the old RC (one the current node) then when there is no more pods on this node, start the creation of pods of the new RC.
Maybe I missed something... could

[2016-03-07 15:53] mysterytree commented on #22631
@ncdc
[code]

The logs

Error syncing pod, skipping: failed to "StartContainer" for "momoapi" with CrashLoopBackOff: "Back-off 10s restarting failed container=xxapi pod=xxapi-m7cr5_default(b0a8fa42-e47b-11e5-a878-0800274f2cef)"

[2016-03-07 15:57] ncdc commented on #22631
@mysterytree can you provide logs from the pod?

[2016-03-07 16:02] ncdc commented on #20403
I was testing Paul's fix for this on Friday, but unfortunately the lack of https://github.com/kubernetes/kubernetes/pull/22607 in the tree resulted in a different error condition. Instead of failing because POD_IP was blank, it failed because the pod was marked as Failed and the container never ran.

[2016-03-07 16:05] mikedanese commented on #4869
/var/lib/kubelet should probably not be slave. I think it should be shared or rshared.

[2016-03-07 16:14] pmorie commented on #4869
@mikedanese is right, it should be shared, rshared shouldn't be necessary.

[2016-03-07 16:16] mikedanese commented on #22545
There are two special cases that we did for damonset pods and we did them for different reasons:

1. We made drain ignore daemonset pods. If a daemonset is deleted from a node during a drain, it's immediately recreated. Drain uses the unschedulable bit which daemonset ignores.

2. We made Daemon sets non evicatable. We are special casing this until we have a general purpose forgiveness api (#1574)

[2016-03-07 16:30] jmccormick2001 opened #22647 "better PV error reporting for NFS volumes"
I'm finding that if you create a PV for NFS, that specifies a wrong IP address of the NFS server,
the error is not found until very late in the user's experience if at all.

The PV appears to create without an error, the PVC that binds to the PV appears to create
without an error.  NFS mount errors only appear when your pod tries to use the PVC and you often
don't get an understandable error in th

[2016-03-07 16:34] disneyworldguy commented on #17576
Just a quick update. It turns out this isn't just an issue for Kubernetes, it is an issue for any container that bind mounts /dev.

Before starting the kubernetes container:

After:

Currently working on why the Docker daemon seems to symlink the ptmx interface instead of leaving it alone. Simply recreating the /dev/ptmx device node corrects the issue:

Kyle

[2016-03-07 16:44] mikedanese commented on #17576
Thanks! https://github.com/opencontainers/runc/issues/80

[2016-03-07 16:44] #17576 closed

[2016-03-07 16:45] mikedanese commented on #17576
Closing since this appears to be a docker issue.

[2016-03-07 16:48] Perfect-Web commented on #20652
are you sure this is fixed ? im on v1.2.0-beta.0 and i cant get dns up and running, the dns service doesnt have any endpoints ...

[2016-03-07 16:59] smarterclayton opened #22650 "ExternalIP can be abused in some network configurations"
Depending on the cluster network configuration, it's possible for an admin to not realize that service `externalIP` can be used to trick nodes into diverting incoming traffic to a service under a different user's control.  As an example, an SDN implementation that delivers packets over the SDN onto a node doesn't have the same iptables conditions as our existing externalIP checks, which means that

[2016-03-07 16:59] smarterclayton commented on #22650
@kubernetes/sig-network

[2016-03-07 17:02] bgrant0607 commented on #22611
This looks like it was resolved by #22617.

[2016-03-07 17:15] ixdy commented on #22636
Did you install the Jenkins ssh key in this project? (I think `gcloud ssh` from the Jenkins master has a similar effect.)

[2016-03-07 17:17] eparis commented on #22650
This does not make sense to me. What exactly are you saying is wrong here? @danwinship was unable to find any case of externalIP that didn't do exactly what it was supposed to do...

[2016-03-07 17:22] ixdy commented on #22636
Looks like it was not. I just installed it; we'll see if things start working.

[2016-03-07 17:23] danwinship commented on #22650
You can use the address of a node as an ExternalIP, and thus steal traffic from a particular (unused) port on a node. While that is more or less "exactly what it was supposed to do", it's not a very good behavior and probably *shouldn't* work.

(Note that you can also do the same thing with `hostPort` on a pod, which is also both exactly what it was supposed to do, and not a good idea in general.)

[2016-03-07 17:29] eparis commented on #22650
@danwinship sounds to me like you are saying 'ExternalIP' works exactly as it is supposed to work. (Not asking if its a good idea, but it is doing exactly what it says it will do)

There are definitely things we might want to do to make this better....  Do we want to enforce the NodePort port restrictions on ExternalIPs? So an ExternalIP can't race in and grab port 22 while sshd is restarting?

@t

[2016-03-07 17:34] spxtr commented on #18849
e2e.sh no longer exists, but there are still plenty of confusing environment variables that we ought to consolidate. Ike made a good step at this with his e2e.sh refactor before YAMLification, but it's still not great.

That can be a future issue, though.

[2016-03-07 17:38] bprashanth commented on #20652
@Perfect-Web is the kube-dns pod ready and running?
If so can you give me
[code]

What version of kube-dns are you running (there's a v suffix in the name of the pod/rc)?

[2016-03-07 17:53] bgrant0607 commented on #22621
Dupe of #21876

[2016-03-07 17:53] #22621 closed

[2016-03-07 17:53] bgrant0607 commented on #21876
cc @johndmulhausen

[2016-03-07 17:56] bgrant0607 opened #22651 "Expand transition guide for Docker users"
Opening an issue to collect ideas.

Currently, we just have a CLI correspondence cheatsheet.
https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/user-guide/docker-cli-to-kubectl.md

cc @kelseyhightower @kubernetes/docs

[2016-03-07 17:56] Random-Liu commented on #22585
@huang195 That is really wired...Do you still have the kubelet log?

[2016-03-07 17:57] spiffxp commented on #22580
what currently defines 'critical' vs 'non-critical' ?

[2016-03-07 18:00] eparis commented on #22650
I don't believe `a` CIDR makes sense. These are not virtual resources that we can enforce contiguous-ness like other virtual network concepts (cluster ip, service ip, etc). These are addresses that live in the 'real' network. So at a minimum this would have to be a list of CIDRs. But once we are talking about a list of CIDR it starts to look more like API objects rather than command line arguments

[2016-03-07 18:05] derekwaynecarr opened #22652 "make test_e2e_node fails with systemd+devicemapper when reading container disk usage"
When running `make test_e2e_node` on systemd, I get a single failure related to a test that verifies the stats endpoint.

[code]

The root is this line:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/kubelet_test.go#L223

On systemd, I am getting back 2 containers where 1 is expected from my stats endpoint.

For example, if I run a pod with a single nginx container I get the fo

[2016-03-07 18:05] bprashanth commented on #10136
I haven't investigated the last failure but it hasn't seemed to have occured since. I don't know who owns addon-update, but it's probably not team/cluster. I *think* this falls under control-plane, so I'll let them decide.

[2016-03-07 18:07] bgrant0607 commented on #22179
@vpal It looks to me like SetVolumeOwnership is not invoked on hostPath volumes, which may be pre-existing files, in general. It should work with most other volume types.

[2016-03-07 18:10] bgrant0607 commented on #22179
Ref #2630

[2016-03-07 18:11] spxtr commented on #22580
The general rule is that it's the oncall's duty to keep critical builds green. Non-critical builds have specific owners to keep track of them. Not all critical builds block the merge queue, but all merge-queue-blockers are in critical builds.

[2016-03-07 18:12] spiffxp commented on #22421
I would very much be in favor of e2e test clients having these metrics, but not so much arbitrary clients

[2016-03-07 18:12] Perfect-Web commented on #20652
@bprashanth this is what i get

kubectl --namespace=kube-system exec kube-dns-v10-jf5si -c etcd -- etcdctl ls --recursive
`[empty]`

kubectl --namespace=kube-system exec kube-dns-v10-jf5si -c skydns -- nslookup kubernetes
`nslookup: can't resolve 'kubernetes'
Server:    8.8.8.8
Address 1: 8.8.8.8 google-public-dns-a.google.com

error: error executing remote command: Error executing command in cont

[2016-03-07 18:14] spiffxp commented on #22580
@david-mcmahon is there a list of 'critical' builds someplace?

[2016-03-07 18:16] derekwaynecarr commented on #22652
I think we need to filter out cgroups that were associated with a .mount unit...

see http://man7.org/linux/man-pages/man5/systemd.mount.5.html

/cc @mrunalp can you help track down what we should do here?

[2016-03-07 18:21] jayunit100 opened #22654 "unit test flake"
sometimes, you can get a large array of flakes due to oome errors.
[code]

and

[code]
and so on

[2016-03-07 18:25] bgrant0607 commented on #22451
Will see if we can fix this in 1.2, since it's still causing flakes.

[2016-03-07 18:25] jayunit100 commented on #22654
@timothysc plase label this as `kind/flake`

[2016-03-07 18:29] bprashanth commented on #20916
This happened again in http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/32023/console and it looks like we just didn't create the master.

[code]

I'm spinning that off into another bug.

[2016-03-07 18:29] #6042 closed

[2016-03-07 18:32] bgrant0607 commented on #22615
This is an adoption scenario, in testDeploymentCleanUpPolicy.

The pods not deleted are from the adopted ReplicaSet, test-cleanup-controller.

It may be related to #22451, and/or some other problem with adoption. For instance, ReplicaSet invalidates its cache when the selector changes.

The pods have been labeled with the pod-template-hash, and one of them was the pod created at the beginning of t

[2016-03-07 18:33] bprashanth opened #22655 "e2e clusters sometimes fail to create master"
Observed in https://github.com/kubernetes/kubernetes/pull/18672#issuecomment-193381103
Probably contributing to: https://github.com/kubernetes/kubernetes/issues/20916#issuecomment-193383639

[code]

Of course the kubelets are complaining:

[code]

Looks like we didn't even create the master vm, but the error is lost.

[2016-03-07 18:36] soltysh commented on #22518
@erictune, I've looked into this issue, currently all our generators use the internal types. Should I use batch/v1 for this particular case?
@bgrant0607 shouldn't all our generators use the actual versioned objects rather then internal, in the first place?

[2016-03-07 18:40] bprashanth commented on #20652
Your skydns container is not ready, an endpoint is not create if any container in the pod is not ready, so it's not this issue. That said, your skydns should be ready, are you running on a cloudprovider? are you using some overlay/sdn like flannel? Can you start this pod: https://github.com/kubernetes/kubernetes/blob/master/test/images/clusterapi-tester/pod.yaml on your cluster and give me kubectl

[2016-03-07 18:41] bgrant0607 commented on #22518
@soltysh Yes, kubectl in general should not use internal. #3955

Please create a "job/v1". There will be other APIs in the batch API group.

Note that the generator version doesn't map 1-to-1 with API version. If we changed what the generator produced by default without changing the API version, we'd still need to add a new generator version.

[2016-03-07 18:41] ixdy commented on #22561
@jsafrane we should maybe update the examples docs to make it clear this isn't a production-quality container...

[2016-03-07 18:46] yujuhong commented on #20478
Time to close this issue? :)

[2016-03-07 18:46] Perfect-Web commented on #20652
im not running on cloudprovider, im following the docker-multinode tut, the pod is ready, the container skydns is unhealthy because the nslookup fails ...

[2016-03-07 18:47] Random-Liu commented on #22625
@xinxiaogang Thanks very much for the fix. :) We'll review it.

[2016-03-07 18:49] soltysh commented on #22518
Ok, thx. Will do.

[2016-03-07 18:50] jayunit100 commented on #20999
we still need to look at `[Feature:Example] Liveness liveness pods should be automatically restarted`.

[2016-03-07 18:50] lavalamp commented on #22454
What's the equivalent representation in the version you're converting to?
It should convert to that.

On Mon, Mar 7, 2016 at 5:10 AM, David Eads <notifications@github.com> wrote:

[2016-03-07 18:53] yujuhong commented on #22625
@xinxiaogang, as a quick workaround, you can force delete the mirror pods (`kubectl delete pod --grace-period=0 <pod_name>`), and kubelet will recreate all of them.

Yes, we should do it. Ideally we should resolve the mirror pod issue #16627 altogether, but this seems like a relatively isolated fix.

Thanks for the PR!

[2016-03-07 18:53] lavalamp commented on #22421
I guess I would expect our client (or rate limiter) to have a function
which returns something in the format that prometheus wants, so that you
can import our client without importing prometheus. Then if you want it
registered, it should be a one-liner after you create the client. The
client should *not* need the actual http server injected.

On Mon, Mar 7, 2016 at 10:12 AM, Aaron Crickenberger <

[2016-03-07 18:53] bprashanth commented on #20652
Yes the nslookup *will* fail because your dns etcd is empty, because kube2sky (most likely) can't talk to the apiserver to populate it, which is why I asked for the output of the clusterapi-tester

[2016-03-07 18:56] Random-Liu commented on #20478
Not yet, The last 3 tests are in #21224. :)

[2016-03-07 18:58] bgrant0607 commented on #22651
Ideas:
* container stacks vs. pods and controllers
* compose vs. API-based configuration
* links vs. services
* volumes-from vs. k8s volumes
* gosu (e.g., https://github.com/docker-library/ghost/blob/master/docker-entrypoint.sh) vs. fsGroup

[2016-03-07 19:00] ixdy opened #22658 "move test images to separate gcr.io project"
We currently have all of the test images in `test/images` uploaded to the `gcr.io/google_containers` project. We should move these into a separate project and limit the scope of `gcr.io/google_containers` only to official Kubernetes images.

For example, the [NFS volume example](http://kubernetes.io/v1.1/examples/nfs/README.html) uses `gcr.io/google_containers/volume-nfs`, which doesn't really ind

[2016-03-07 19:00] derekwaynecarr opened #22659 "e2e flake: unable to allocate memory"
[code]

[2016-03-07 19:01] mrunalp commented on #22652
@derekwaynecarr From the same man page
[code]

[2016-03-07 19:02] mrunalp commented on #22652
@derekwaynecarr So, ignoring it is the right thing to do.

[2016-03-07 19:06] dchen1107 commented on #22638
cc/ @mikedanese @zmerlynn

[2016-03-07 19:10] wojtek-t commented on #22636
@ixdy - it seems that it helped - thanks for looking into it.

Can you write what exactly you did?

[2016-03-07 19:11] dchen1107 commented on #22655
Shouldn't https://github.com/kubernetes/kubernetes/issues/10423 address the log related issue for us? cc/ @spxtr

[2016-03-07 19:12] ixdy commented on #22636
@wojtek-t it's step 5 on the internal doc on setting up a new project. :)

[2016-03-07 19:12] #22636 closed

[2016-03-07 19:13] bprashanth commented on #22655
In this case I don't think the vm even existed for us to collect logs

[2016-03-07 19:16] wojtek-t opened #22660 "e2e flake: Scalability suite is failing"
http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-e2e-gce-scalability/5119/

The fix for it is to add
  "PROXY"
to ignoredVerbs here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/metrics_util.go#L202

@k8s-oncall - can you do it (I don't have access now).

@kubernetes/goog-testing

[2016-03-07 19:17] lavalamp commented on #21484
@ncdc I was planning on looking at this but I think I won't get to it for the next few days---any ideas?

[2016-03-07 19:18] lavalamp commented on #22238
Hm, 15.4 seconds instead of 15? Maybe an overly-eager timeout?

[2016-03-07 19:20] ncdc commented on #21484
@lavalamp not offhand, I think @liggitt has more background on how the proxying works

[2016-03-07 19:24] mikedanese commented on #22638
also @justinsb

[2016-03-07 19:25] davidopp commented on #22660
I can do it.

[2016-03-07 19:26] derekwaynecarr commented on #22652
@dchen1107 - so once https://github.com/kubernetes/kubernetes/issues/22656 merges, we are still left with the problem that devicemapper does not yet report fs usage.  is there a good pattern I should use to toggle the test to not check for rootfs usage when on devicemapper storage driver?  I see no easy way for us to introspect the driver or even the container runtime in the current test framework

[2016-03-07 19:27] wojtek-t commented on #22660
Sorry - I meant add "CONNECT" to ignoredVerbs

[2016-03-07 19:27] wojtek-t commented on #22660
"PROXY" is already there :)

[2016-03-07 19:32] deads2k commented on #22454
Ok, true.  I'd still like to keep the flag for the single-version case so I can write stable templates (that seems to still work now) and I'd like to see a replacement for `--api-version` before killing it.

[2016-03-07 19:33] lavalamp commented on #22454
Let's discuss this in the next API machinery SIG.

On Mon, Mar 7, 2016 at 11:32 AM, David Eads <notifications@github.com>
wrote:

[2016-03-07 19:35] #22660 closed

[2016-03-07 19:38] dchen1107 commented on #22655
Ahh, I saw above error message. Looks like this failure can occur with a real production cluster, not limited to test. cc @kubernetes/goog-gke

[2016-03-07 19:45] Perfect-Web commented on #20652
this is what i get
[code]

i dont have ssl, can that be the issue here or something ? all it goes on 8080

i need to mention that they are all on the same node

[2016-03-07 19:47] mikedanese commented on #22545
We need to verify if #22336 fixed this.

[2016-03-07 19:53] therc commented on #22545
Rebuilding binaries...

[2016-03-07 20:05] Perfect-Web commented on #20652
also skydns has this in logs
[code]

i guess this means it is after all talking to etcd no ?

[2016-03-07 20:11] mikedanese commented on #22545
The node does get deleted and the pods are deleted but the daemonset controller immediately recreates them (probably because of node store in the daemonset controller is eventually consistent). The pods stay in pending because the node doesn't exist. Looks like we don't enqueue a daemonset update when a node is deleted but more imporantly daemonsetcontroller.manage() doesn't handle daemonset pods

[2016-03-07 20:15] jsilberm commented on #15818
Problem has not gone away ...
K8S_VERSION is set to: 1.2.0-alpha.7
ETCD_VERSION is set to: 2.2.1
FLANNEL_VERSION is set to: 0.5.5
FLANNEL_IFACE is set to: eth0
FLANNEL_IPMASQ is set to: true
MASTER_IP is set to: 172.25.3.67
ARCH is set to: amd64
Detecting your OS distro ...
Starting bootstrap docker ...
Starting k8s ...
a2ef87b80306462f3f402ac3e14cfa5ca8379ea6583cfb270784c7ef364a937a
{ "Network":

[2016-03-07 20:15] nikhiljindal commented on #22484
@AdoHe Thanks! Please feel free to suggest a solution here.

Pre 1.2, we were using the ordering in KUBE_API_VERSIONS to determine the priority order.
We need a place where users can specify the order. We can reuse the same env var or introduce a new one.

[2016-03-07 20:16] jsilberm commented on #15818
Problem has not gone away:
K8S_VERSION is set to: 1.2.0-alpha.7
ETCD_VERSION is set to: 2.2.1
FLANNEL_VERSION is set to: 0.5.5
FLANNEL_IFACE is set to: eth0
FLANNEL_IPMASQ is set to: true
MASTER_IP is set to: 172.25.3.67
ARCH is set to: amd64
Detecting your OS distro ...
Starting bootstrap docker ...
Starting k8s ...
c24e1f96db934b1a73a1ec2480bd6289b997eb0fb56160930310378ca55725ba
{ "Network": "10

[2016-03-07 20:17] therc commented on #22545
That's what I noticed, too. At least now the daemons show as pending.

I also got into a state where I had two daemons on the same node. I think this might have started before I started the new binary. As long as I killed the newer pod, it would get reincarnated. Killing the older of the two (which had been up for longer than the new binary) left me with just one daemon on the node.

I'm about to

[2016-03-07 20:20] nikhiljindal commented on #22484
Actually, looks like we are using the KUBE_API_VERSIONS ordering in PriorityRESTMapper:
https://github.com/kubernetes/kubernetes/blob/master/pkg/apimachinery/registered/registered.go#L200. So we can use the same here in scheme.ObjectKind() as well?

cc @caesarxuchao who I think had worked on stop relying on KUBE_API_VERSIONS ordering.

[2016-03-07 20:21] lavalamp commented on #22581
We run two separate etcd clusters, one for everything but events, and one
for events. So this explains why there's two.

The big question is why one is 127.x.x.x and one is 10.x.x.x. They should
both be on 127.0.0.1.

On Sat, Mar 5, 2016 at 11:18 AM, Cole Mickens <notifications@github.com>
wrote:

[2016-03-07 20:23] jayunit100 commented on #22658
@ixdy ok sounds good ; how about thoughts on  auto publishing of the images ?

[2016-03-07 20:32] colemickens commented on #22581
If that's the case, why are there then three entries whenever I add a third announce URL to my etcd configuration? I suspect there would be `n` `etcd-n` entries if I were to add `n` values to etcd's `announce-urls`.

I'm still confused how there are "two separate etcd clusters" whenever I only run a single instance of etcd on a single machine in my cluster. Terminology issue on my part?

[2016-03-07 20:33] dchen1107 commented on #22652
@derekwaynecarr I didn't see an easy way to skip disk usage upon based on the storage driver. Kubelet doesn't even know which storage driver is. cAdvisor knows it, but not expose the information at API level. Regarding to Container runtime, we expect the node-level e2e test is written against container runtime API, not individual runtime implementation.

[2016-03-07 20:35] liggitt commented on #21484
Found this in server log from recent failed run:
https://00e9e64bacdfd420a2443c95a55e8939fcdb5dd725bc5d6585-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F21964%2Fkubernetes-pull-build-test-e2e-gce%2F31403%2Fartifacts%2F104.197.156.50:22-kube-apiserver.log?qk=AD5uMEvPFqqfW4hCz72DWl9bLRwZIYQ0kQkNYmhosMlP-1A_wN4zENey37YFiLNhaDlkIiTQyNVzdQWsR4wKUwLH

[2016-03-07 20:35] mml commented on #17851
FYI, I am planning to work on this today.  I don't expect it to be hard.
 (Famous last words.)

On Fri, Mar 4, 2016 at 10:47 PM David Oppenheimer <notifications@github.com>
wrote:

[2016-03-07 20:40] liggitt commented on #21484
And this in the e2e log:
[code]

[2016-03-07 20:41] deads2k commented on #22484
Why not try to fix all the code to properly handle `ObjectKinds` instead of `ObjectKind`?  Those calls that require disambiguation could take a `disambiguator` of some kind.  That would allow us to plumb through the correct knowledge through the codebase instead of using optional "psuedo-globals" to make it work.

Also, the `PriorityRESTMapper` used by `kubectl` is made here: https://github.com/ku

[2016-03-07 20:44] bprashanth commented on #21484
The 503 is just piped back up from the kubelet/container serving right? or is this apiserver unavailable

[2016-03-07 20:48] therc commented on #22545
We're lucky. I have two daemons on each node and, although I corrected the first, the second one still has a duplicate. On the same machine as the other duplicate daemon (so the node had four daemons running instead of two), even. Before I clean things up, anything I should probe?

[2016-03-07 20:49] macb commented on #21901
What about the logs in the kubelet @Calpicow?

[2016-03-07 20:52] mikedanese commented on #22545
[code]

would be very helpful and might as well backup the logs of the controller-manager

[2016-03-07 20:53] bprashanth commented on #20652
kube2sky needs to be able to talk to the master. Skydns can talk to the local etcd (in 99% of the sitautions, unless there's a docker bug). The etcd is empty is the problem.

Yeah fist get the clusterapi-tester to work. You need to be able to create a client that uses the default secret mounted into the the pod to talk to the apiserver. Please see: https://github.com/kubernetes/kubernetes/blob/rel

[2016-03-07 20:55] mikedanese commented on #22545
I'm testing #22667 as a solution to the first reported issue. I will start to look into the new issue after.

[2016-03-07 20:57] mikedanese commented on #22545
This code is meant to catch  the case you are seeing. Not sure why it isn't. https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/controller.go#L471-L477,

[2016-03-07 20:57] nikhiljindal commented on #22484
Yes that will work as well.
What do you think is the right disambiguator? Does KUBE_API_VERSIONS seem fine to you?

If all of them are using the same disambiguator and have the same logic of getting all ObjectKinds using scheme.ObjectKinds() and then passing them through the disambiguator to get one ObjectKind, then we can have a single function do that. Can scheme.ObjectKind() can be that functio

[2016-03-07 20:59] liggitt commented on #22484
I wasn't aware of `KUBE_API_VERSIONS` doing anything client-side

[2016-03-07 21:01] liggitt commented on #21901
@Calpicow fwiw, I don't think that is the same issue

[2016-03-07 21:02] deads2k commented on #22484
I'd expect disambiguation to vary depending on use.  For instance, in some cases we'll want it based on user choice. In others, we'll want to express the intent that the code can only handle certain options.  In still others, ambiguity means failure.  And the final one I noticed in the code was "ignore errors".

However, if we find that all those actually collapse, then by all means, plumbing it i

[2016-03-07 21:03] mikedanese commented on #22545
Check that the labels and the selectors match and it's not a config error would be my first thing :)

I manually verified #22667 and it fixed the issue

[2016-03-07 21:11] Calpicow commented on #21901
@macb: That entry is from kubelet. It's the only log entry potentially related to pod creation (--v=2)

@liggitt: It's not the same issue as reported but it lies within the title. I could create a new issue if that's preferrable.

[2016-03-07 21:15] thibserot commented on #22180
Hello,
I tried to perform the cleanup of etcd; but for some reason it was not working so I commented out this part:
https://github.com/thibserot/kubernetes/commit/9c5f4c112b264eb0ca66262a1b27c4773fea56d8#diff-ed3df710e9af7cd30a185896a60897d9R180
The error issued when trying to delete the service is:
Error from server: client: etcd cluster is unavailable or misconfigured

@pmorie : If you have an i

[2016-03-07 21:19] liggitt commented on #21901
@Calpicow new issue would be good so it can be prioritized appropriately

[2016-03-07 21:25] derekwaynecarr opened #22668 "kubelet hangs for 20s while initializing cadvisor"
The code blocks here for 20s:

https://github.com/kubernetes/kubernetes/blob/master/Godeps/_workspace/src/github.com/google/cadvisor/manager/machine.go#L96

I am not running with a cloud provider, just using `hack/local-up-cluster`

The code should not hang this long.

[code]

I added some logging to work it backwards.

/cc @vishh @dchen1107 @ncdc @sjenning @smarterclayton

[2016-03-07 21:25] jeffmendoza commented on #21764
Fixed by #22009

[2016-03-07 21:26] therc commented on #22545
Actually, the node no longer exists, but its pod CIDR has been recycled. I assumed that the pod IP being equal meant that they were on the same machine, but that's not the case:

[code]

[2016-03-07 21:43] davidopp commented on #22610
@theobolo It is not my work, it is @colemickens but yes the PR is merged (#22231).

Please close this issue if you think it is addressed.

[2016-03-07 21:43] timothysc opened #22669 "Controller manager restart/fail-over causes massive spike in etcd traffic @ scale."
We are currently running scale experiments and have uncovered a situation which causes a flood of traffic to etcd, to the point of saturating the link and causing a series of other knock-on issues.

**Precondition:** A fully loaded system , e.g. 1000 nodes with multiple controllers actively running.
**Event:** Controller manager failure or restart
**Observation:** On restart the controller manager

[2016-03-07 21:46] ixdy opened #22671 "e2e flake: "Kubectl client Simple pod should support exec through an HTTP proxy" occasionally hangs"
Background: we've been seeing mysterious e2e timeouts in our parallel Jenkins builds for a while (#20778), but it's been hard to diagnose the issue due to some Ginkgo issues with Jenkins timeouts and logging (onsi/ginkgo#206). We recently re-worked how we did timeouts in Jenkins (#22374), and this seems to have helped with getting Ginkgo to print out its log.

It appears that the remote exec call

[2016-03-07 21:47] ixdy commented on #19997
Found new conclusive evidence of this test occasionally hanging. Forked off to #22671.

[2016-03-07 21:48] ixdy commented on #20778
Found one recent timeout which is pretty clearly an issue with the kubectl proxy test. Opened #22671.

[2016-03-07 21:49] Alex-Wauters commented on #22610
Thank you for the clarification, closing issue.

[2016-03-07 21:49] #22610 closed

[2016-03-07 21:49] jdef commented on #22583
if we picked option 2, what's the default value of the flag? my assumption would be that it defaults to the value of kubelet-kubeconfig; and if that's not specified either, then use the scheduler's kubeconfig

[2016-03-07 21:50] Raffo commented on #5660
@lavalamp Can you tell us what needs to be done and how we can help?

[2016-03-07 21:52] davidopp commented on #22669
cc/ @bprashanth

[2016-03-07 21:52] davidopp commented on #22669
cc/ @lavalamp

[2016-03-07 21:55] bprashanth commented on #22669
@mqliang who recently made changes to re-population of the pod store on controller manager restart

[2016-03-07 21:56] therc commented on #22545
I cherry-picked #22667 and it got rid of the pending pods.

[2016-03-07 21:56] sjenning commented on #22668
Yes, this is caused by a retry timer on the AWS cloud detect code.

[code]

[2016-03-07 21:59] sjenning commented on #22668
Basically, it can't resolve the hostname of the metadata server so the request doesn't get an HTTP error since the connection can't even be established.

This fixes it for me

[code]

Not sure if that is generally acceptable though.

[2016-03-07 22:04] timothysc commented on #22669
@bprashanth our testing was against a baseline before @mqliang changes, but I'm guessing it would still occur at this scale.  We basically need to throttle + jitter our restarting.

[2016-03-07 22:05] #22625 closed

[2016-03-07 22:06] ncdc commented on #22671
More details from apiserver log:

[code]

I have to run now but I'll try to track down anything useful/interesting in the kubelet logs.

[2016-03-07 22:06] bprashanth commented on #22669
There was a condition where we weren't populating the store to being with (https://github.com/kubernetes/kubernetes/pull/19973) and this will cause weirdness in large clusters (like oscillation).

[2016-03-07 22:11] dchen1107 commented on #22668
@sjenning Thanks for digging into this. This is what I suspected, but I have one puzzle left. Shouldn't this is one time thing? Once cAdvisor / Kubelet detects the cloud provider, the information should be cached, and following queries of cloudProvider, instanceType, and instanceID shouldn't be that long?

[2016-03-07 22:18] jdef commented on #22584
- cadvisor flag leakage is a known problem #19432
- stretchr/testify/mock is probably leaking flags as well; several upstream PR's have been filed/merged for this. not sure if work is complete here. there's likely still some cleanup left for k8sm

[2016-03-07 22:22] pmorie commented on #22179
@vpal Currently we only allow manipulating the list of supplemental groups.  Many images depend on the primary GID being 0 in order to make portions of the container fs writeable and since we did not have a strong use-case for changing the primary GID of the container, we chose to stick with supplemental groups.

@bgrant0607 is correct regarding host path volumes: we do not change their ownership

[2016-03-07 22:37] derekwaynecarr commented on #22668
@dchen1107 - I think its a one time thing, but it was the source of me needing to bump this time:
https://github.com/kubernetes/kubernetes/pull/22563

I think we should be able to provide a better experience than what I am getting when not running on a cloud provider.  What I wondered is if rather than detecting, I could just tell it I am not on a cloud provider.

[2016-03-07 22:42] dchen1107 commented on #22668
Kubelet today already takes --cloud-provider, and empty string for local cluster. We can refactory cAdvisor library to carry this information too.

[2016-03-07 22:47] spxtr opened #22672 "Start release-1.2 CI"
This is a tracking issue to which I'll link 1.2 CI PRs.

[2016-03-07 22:55] vpal commented on #22179
@pmorie it makes kind of sense to me :)

I think it is completely fine to have the option to run a container as runAsUser user and GID 0 when someone needs that.
But I see a lot of use cases where I would like the process to explicitly not be able to modify anything in the image or anywhere else except where I explicitly provide it rights to do so, but more importantly to not have the process anyt

[2016-03-07 22:56] davidopp commented on #18367
This is marked P1. What is the plan here?

[2016-03-07 22:59] smarterclayton commented on #22650
An unused port may very well be a port that was used until just recently, but a rolling update of a daemon set or RC is in progress, and the pod disappears and releases its port.  For a period of time before a new pod is scheduled, the other service can harvest connections from that unused port.  Those connections might be port 80 for a load balancer you're running on hostNetwork, etc.

Agree a si

[2016-03-07 23:01] dchen1107 commented on #22541
I am closing the issue since #22576 was merged.

[2016-03-07 23:01] #22541 closed

[2016-03-07 23:13] ihmccreery commented on #17734
This never got closed, but with https://github.com/kubernetes/kubernetes/issues/18122 done and https://github.com/kubernetes/kubernetes/pull/21122 in, I think `e2e.sh` is no longer in danger of being tightly coupled with versions.  Other issues remain, but I think we should close this (umbrella) issue.

[2016-03-07 23:13] #17734 closed

[2016-03-07 23:30] bgrant0607 opened #22675 "Add a restmapper endpoint"
Forked from #22511

Even with the discovery API, clients need complicated code to translate between kind, apiVersion, namespace, name, etc. and URL paths. We should provide a server-side endpoint to perform this translation. People shouldn't have to reverse-engineer our complicated client libraries in order to figure out how to write a client properly.

Related to #12143

cc @deads2k @lavalamp

[2016-03-07 23:41] smarterclayton commented on #22675
Interestingly, doesn't this imply the discovery API isn't doing enough
/ the right thing?

[2016-03-07 23:56] justinsb commented on #22638
I can definitely put together instructions - part of the idea is that you shouldn't be dependent on pre-baked images.

The short-form is:

From https://github.com/kubernetes/contrib/pull/486  , run something like:
[code]

This will build the images in your account and copy them to all regions.  Then you change the aws_account in the cluster/aws/jessie/util.sh script.

---

@kastork  It would be be

[2016-03-08 00:18] dchen1107 commented on #22585
@huang195 I couldn't reproduce the performance regression issue you reported here. Which docker version you are using? Also can you try docker run directly on the node to see if the performance regression is caused by docker itself?

[2016-03-08 00:18] bgrant0607 commented on #20473
cc @mml

[2016-03-08 00:22] bprashanth opened #22676 "Heapster metric-export stack trace"
Debugging a ooming apsierver I noticed the following suspicious stack trace:
[code]

I can't tell if this was contributing to the oom, or because of it. Heapster was immediately disabled. We did a couple of things after that and the ooming stopped. Problem?

@piosz

[2016-03-08 00:24] mml commented on #20473
Being properly configured is also useful for making other kinds of maintenance hitless.  E.g., drains, upgrades, downscaling.  We really should have a one-stop place where we document grace period, readiness, and signal semantics; and what the Best Practice is.

[2016-03-08 00:28] dchen1107 commented on #22609
I haven't tried to reproduce the issue yet, but I suspect you might hit https://github.com/kubernetes/kubernetes/issues/22625 here. There is a pending pr https://github.com/kubernetes/kubernetes/pull/22626 to resolve #22625. Could you please try to patch your cluster to see if you still have the issue? Thanks!

[2016-03-08 00:35] bprashanth opened #22677 "Deleting a pending pod wedges it"
Create this:
[code]
Then delete it without --grace-period, it'll get stuck in Terminating for a lot longer than 30s (probably forever?).

[2016-03-08 00:49] kastork commented on #22638
@justinsb I'll give that procedure a try.

As for getting AMI's into the gov region, I really don't know. The selection of distributions is kind of lean - probably has to do with information assurance issues -- for example Centos is available, but Fedora isn't. I did see that CoreOS (or somebody who's using CoreOS) has figured it out, as their images are available.  Perhaps you have contacts with

[2016-03-08 00:51] yujuhong commented on #22677
If the pod is stuck at pulling image, kubelet will wait until the image is pulled and delete the pod (just tried it in my cluster).
I noticed your pod has `nodeName: foo`, which means that no node (unless you have a node named foo) will be responsible for deleting the pod. In which case,  manually deleting the pod with --grace-period=0 is probably the correct way.

[2016-03-08 00:54] bprashanth commented on #22677
foo was intentional, point being you can delete a pod before the scheduler assigns it a node and wedge it right?

[2016-03-08 01:02] yujuhong commented on #22677
Doesn't node controller GC those pods?

[2016-03-08 01:07] smarterclayton commented on #19764
It's fairly common to have secrets and config mixed (off hand I think
most Java app servers, some webservers, and lots of normal software
have the same directory).  I suspect most people would just assume it
would work (that things would end up into the same location).  I
suspect they'd be willing to accept one or the other "winning".

It's not the end of the world, but I suspect we'll have lots o

[2016-03-08 01:09] bprashanth commented on #22677
Ah I think mike has https://github.com/kubernetes/kubernetes/pull/22667 which seems sensible, and the nc does eventually delete terminating pods without nodes

[2016-03-08 01:09] #22677 closed

[2016-03-08 01:11] mysterytree commented on #22631
![image](https://cloud.githubusercontent.com/assets/6166794/13588800/a47a3504-e50d-11e5-8306-b77df7e49a70.png)
@ncdc

[2016-03-08 01:15] ncdc commented on #22631
You need each argument specified separately

On Monday, March 7, 2016, hu <notifications@github.com> wrote:

[2016-03-08 01:17] pmorie commented on #19764
@smarterclayton @eparis @thockin Why not have an all-in-one volume for this for the time being?

[2016-03-08 01:23] rasekar2000 commented on #10323
Hello @housebolt ,
   Thanks for the note, I am using gCloud - Kubernetes - Google Container Engine. and setting up the service
   `  "spec": {
    "type": "LoadBalancer",
    "loadBalancerIP" : "Actual IPv4 Address",
    "selector": {
      "app": "myapp",
      "tier": "frontend"
    },
    "ports": [
      {
        "name":"httpport",
        "protocol": "TCP",
        "port": 80
      },

[2016-03-08 01:26] david-mcmahon commented on #22658
Not sure about the typical workflow/use of these containers, but maybe a message to the user about the intended move on the final few(?) releases that land on google_containers?

[2016-03-08 01:27] bprashanth opened #22679 "Basic DOS protection for apiserver"
Accepting objects until the master runs out of resources doesn't help anyone.

I think something really dumb (like counting objects) would catch most non blackhat cases, like a rogue kubectl shell script. We can also rate limit ssl handshakes at the very least (I'm fairly certain we can do someting in iptables eg: https://github.com/vincentbernat/ssl-dos/blob/master/iptables.sh).

[2016-03-08 01:28] mysterytree commented on #22631
I have tried this .
[code]
Got this
![image](https://cloud.githubusercontent.com/assets/6166794/13588987/5dcc1300-e50f-11e5-85ba-d39bce48ac95.png)

------------

[code]
![image](https://cloud.githubusercontent.com/assets/6166794/13589067/02d83112-e510-11e5-9ed7-d9f265a51bde.png)

Thanks a lot ! This really help me !

[2016-03-08 01:31] david-mcmahon commented on #22580
'Critical builds' are visible on the (internal) Jenkins instances, but I believe the Jenkins configs at least that define those sections are in the repository.  @ixdy?

[2016-03-08 01:35] bprashanth opened #22680 "Set TerminatedPodGCThreshold based on master size"
12500 might be too large for, say, an n1-standard-4 master which has 3G of ram (i.e I don't think the estimate of: an object+metadata needed by etcd + duplication in apiserver cache = 256k is always going to be accurate). I think we came across a case where just 10,000 failed pods were enough to oom master components. Obviously 10,000 non-terminated pods can still oom it, but that's a DOS issue (h

[2016-03-08 01:42] davidopp commented on #22680
cc/ @mikedanese

[2016-03-08 01:42] davidopp commented on #22680
ref/ #7660

[2016-03-08 01:48] davidopp commented on #22679
ref/ #13774

[2016-03-08 02:12] bgrant0607 commented on #22672
cc @eparis @smarterclayton @david-mcmahon

[2016-03-08 02:14] #21993 closed

[2016-03-08 02:14] #22527 closed

[2016-03-08 02:43] mqliang commented on #22669
IIRC, we have cache in API server. If we just restart Controller, without restarting API server, all list&watch requests will serve by the API server cache, instead of etcd, right?

I look through the code of cacher:
If client of Controller send a List request, and `resourceVersion != ""`, the List request will serve by cache, instead of forwarding to etcd:
https://github.com/kubernetes/kubernetes

[2016-03-08 03:05] timothysc commented on #22669
Not necessarily in the load-balanced api-server use case, which is what we are doing.

[2016-03-08 03:13] Pensu opened #22683 "Creating pod infra container for non-intel archs"
Hi,

In order to run kubernertes on non-intel arch, running pod infra container is a big issue. As the official container image i.e. gcr.io/google_containers/pause is available for intel only (Correct me if I am wrong). I have been able to create the image for ppc64le arch too, but not sure how to get that into official repos. Since, there is no namespace attached to the image, how should we ident

[2016-03-08 03:17] dachulin opened #22684 "Heapster container not able to start"
Hi,

I have issue with the heapster container not coming up. It keeps crashing and trying to restart. From the kubelet log, I don't see much useful information:
[code]

[2016-03-08 03:24] Pensu commented on #22683
I have tried to add pause-ARCH to the image name, if that could be appropriate or should we go with namespace i.e. either gcr.io/google_containers/pause-ppc64le or gcr.io/google_containers/ppc64le/pause?

cc: @luxas

[2016-03-08 04:08] xiang90 commented on #22669
/cc @hongchaodeng @xiang90

[2016-03-08 04:31] bprashanth commented on #18980
I think this happened once again http://pr-test.k8s.io/22664/kubernetes-pull-test-unit-integration/17789/

I didn't dig too deep though, so there might've been a hanging daemon or something. Didn't look that way from build logs.

[2016-03-08 04:40] paralin commented on #16901
Presently I'm writing a python script that does a very complex sequence of actions to properly gauge the state of the cluster and deploy OpenShift in a reliable fashion.

http://github.com/paralin/openshift-under-kubernetes

I will make a new issue to consider referencing this once it's done.

[2016-03-08 04:40] #16901 closed

[2016-03-08 04:46] xinxiaogang commented on #16627
If we continue to support static pod, I think mirror pod is useful for us to inspect the pod status from apiserver. While, to keep it simple, I would support to mark mirror pod as read-only from apiserver, to let `kubelet` sync the real status from static pod.
I don't think it is a good idea to accept changes from apiserver on mirror pod and make manifest file changes, this would make the cluster

[2016-03-08 04:52] mqliang commented on #22669
@timothysc
Intuitively, we Controller will send about 15 LIST request to API server when restart, 15 List request per second is should not be a big problem for etcd actually, and we have rate limit in Controller.

Does you Controller has https://github.com/kubernetes/kubernetes/pull/19973 or https://github.com/kubernetes/kubernetes/pull/20269 merged. If not, Controller will make incorrect decision

[2016-03-08 05:19] smarterclayton commented on #22669
What's the size of the individual list calls in bytes?

[2016-03-08 05:26] Hui-Zhi commented on #19049
I have done some tech testing and verification. The code at https://github.com/Hui-Zhi/kubernetes/tree/try_nvidia_docker_merge_devices_support already could schedule GPU resources, but it's really really ugly!!! It refer some codes from NVIDIA-Docker. I'll reconstruct them and then show you the way I implement it. @erictune , Could you help review the design which at:
https://github.com/kubernetes

[2016-03-08 05:42] r8k commented on #8042
@streamnsight not sure if this might help you, but here is a Dockerfile that I use to build SkyDNS myself. Dockerhub & GCR have old images, and hence I came up with this one. I have similar Dockerfiles for Kube2Sky et all (the ones from GCR are old, partly because GCR does not support trusted builds like Dockerhub yet, and hence my effort)

[code]

[2016-03-08 05:49] bgrant0607 opened #22687 "Simplify explanation of system concepts"
We have lots of controllers now and lots of volume types, so it's important to explain system concepts in terms of categories of objects:

Primary:
- Running workloads: controllers, and pods they control, which are comprised of containers and volumes
- Exposing workloads: services, ingress

Secondary:
- Policies: LimitRange, ResourceQuota, PodSecurityPolicy, ...

cc @kubernetes/docs

[2016-03-08 06:02] bgrant0607 commented on #19899
Ref #12732, #18112

[2016-03-08 06:04] bgrant0607 commented on #19899
Also ref #20439

[2016-03-08 06:08] housebolt commented on #10323
Raj, in your notes you have "Actual IPv4 Address" as the value for the
"loadBalancerIP" key in your spec file. You do have to specify the actual
IP address you want to use.

Just to be clear, are you using it like this?

"loadBalancerIP" : "107.178.253.100"

On Mon, Mar 7, 2016 at 6:24 PM, Raj Rajen <notifications@github.com> wrote:

[2016-03-08 06:18] piosz commented on #22676
Thanks for reporting. It looks like a problem with endpoint controller rather than with Heapster itself since the request failed due to missing endpoint, not because of internal Heapster problem. Could you please verify whether Heapster is working properly and heapster service is successfully created?

cc @lavalamp @mwielgus

[2016-03-08 06:37] zreigz commented on #4869
When I make it shared or rshared then I have error:
[code]
and master is not started

[2016-03-08 06:37] gmarek commented on #22421
OK, so action items:
1) make rate limiter injectable
2) make client return it's "prometheus metric name"
3) write a helper function(s) that takes both: rate limiter and name, and both registers the metric and starts a goroutine that monitors the client.

[2016-03-08 07:03] JaydiptaBiswas opened #22688 "Can only curl a service, using node-port and node ip, where POD is running."
I am trying to access a Service from outside the cluster. The cluster has 3 nodes 1) x.y.z.105,
2) x.y.z.54, 3) x.y.z.57. Both 54 and 57 are cluster nodes and 105 is used as both master and node.

Created a service  which exposes node-port 30822.
I have created a POD(single container TOMCAT pod) using a RC. The RC creates only one POD replica in a node, lets's say in 54.

Now I am able to curl htt

[2016-03-08 07:19] wojtek-t commented on #22611
This started failing again:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/2999/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/3000/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/3001/

[2016-03-08 07:19] mikedanese commented on #4869
Before running the docker command run:
[code]

[2016-03-08 07:21] fejta commented on #22655
Yeah this is a https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/debian/helper.sh#L42 flake (or gcloud flake). Should this be in a loop?

[2016-03-08 07:22] fejta commented on #10136
Please add team/test-infra (or assign back to me) if there is more for our team to do.

[2016-03-08 07:26] Maverick-Crank-GRey commented on #7562
Got it.
Thank you for the detailed picture.

[2016-03-08 07:28] zreigz commented on #4869
Ok thanks. I will try it

[2016-03-08 07:28] wojtek-t commented on #21107
This has already been moved.

[2016-03-08 07:28] #21107 closed

[2016-03-08 07:30] wojtek-t commented on #22669
@timothysc
Regarding cache in apiserver - if apiserver wasn't restarted and was available all the time, I agree with @mqliang that basically all LIST+Watch requests (coming from reflectors, informers etc.) should just hit apiserver and shouldn't be passed to etcd. The fact that you have load-balanced apiserver shouldn't change anything in my opinion.
@timothysc - can you check that all those LIST

[2016-03-08 07:32] wojtek-t commented on #22671
I'm almost sure it's related to #22165
@lavalamp - FYI

[2016-03-08 07:59] fejta commented on #22403
@justinsb I believe this is controlled by https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e.yaml#L427

Will you send @spxtr a PR with this change?

[2016-03-08 08:22] paralin commented on #15073
What's the status on this?

[2016-03-08 08:23] paralin opened #22689 "Implement PersistentVolume recycler for EBS volumes"
When I try to use the "Recycle" policy on an AWS EBS PersistentVolume, I get an error about no recycler found for this type of volume.

I'm not sure if this is related to #15073 or #17882

Anyway this means that I have to manually re-create PVs if I want to reuse them.

[2016-03-08 08:35] wojtek-t commented on #22611
OK - I took a look into it and here are some findings

Basically, the problem is that NodeController is watching all pods changes:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L186
and for each pod that is assigned to non-existent node it's trying to remove it:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L

[2016-03-08 08:43] zreigz commented on #4869
I also have error
[code]
When I execute command:
[code]
I have
[code]

It looks like a error ```errors=remount-ro```

[2016-03-08 09:46] paralin opened #22693 "Update semi-broken OpenShift-Origin example"
I've put quite a bit of work into deploying OpenShift to existing Kubernetes clusters easily and reliably since the last few issues I made about the topic - #16901

I have written a Python CLI for deploying OpenShift to existing Kubernetes clusters called [openshift-under-kubernetes](http://github.com/paralin/openshift-under-kubernetes). It does a complex sequence of queries against the Kubernetes

[2016-03-08 09:47] paralin commented on #22693
@stevekuznetsov @derekwaynecarr

[2016-03-08 09:58] simonswine commented on #19899
I've started working on this. My idea is a service pod that does all the communications with the ACME server and finally stores the certificates into kubernetes secrets. For now I think I will limit to one cert per ingress resource and simple monitoring the domains used within the rules and if they mismatch the domains specified in the TLS section, I will request a cert via ACME. Here is the repo

[2016-03-08 10:01] luxas commented on #4869
See here why we need a `shared` mount: https://www.kernel.org/doc/Documentation/filesystems/sharedsubtree.txt
I have this working on my Pis as well.

@zreigz You need to reset `MountFlags=` if you're using `systemd`. Then it'll work.
openshift/origin#3072

[2016-03-08 10:28] davidopp opened #22694 "Add QoS documentation to docs/user-guide/compute-resources.md"
We don't have any user guide documentation about QoS.

`docs/user-guide/production-pods/#resource-management` points to `docs/proposals/resource-qos.md` which, while probably mostly accurate, is a "proposal" doc that doesn't inspire confidence in the reader.

`docs/user-guide/compute-resources.md` doesn't mention QoS at all.

There's a random example in
`examples/runtime-constraints/README.md`
whi

[2016-03-08 10:35] oxygen0211 opened #22695 "Optional support for unsecure keystone API URL"
Hi,
I tried to integrate the keystone auth plugin (which would be perfect for my needs) into the cluster I'm currently setting up. However, I can't get the connection working since our keystone installation is currently only reachable over http

As far as I can see in plugin/pkg/auth/authenticator/request/keystone/keystone.go, there is no option to deactivate this check. I think this should be an

[2016-03-08 11:12] zreigz commented on #4869
Good news. It started working when I left empty ```MountFlags=``` for docker service  I've tested:
hostPath - works
Downward API - works
Secrets - works

[2016-03-08 11:15] preillyme commented on #22689
I've seen the same issue @paralin

[2016-03-08 11:29] luxas commented on #4869
Yeah, I haven't hit any issues so far either

[2016-03-08 11:39] justinsb commented on #22638
@kastork thanks for that - I'll try to write up some real docs, and let me know if any problems when running with us-gov-west - I definitely haven't tested it!  We should definitely figure out whether we can provide the image, but I think everyone is better off if we also make it simple to build your own image.

If you're effectively mandated to use RHEL/Centos, can you please open a new issue say

[2016-03-08 12:18] piosz commented on #22045
It happened again:
[code]
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gke/2440/build-log.txt
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/2440/

[2016-03-08 12:30] kastork commented on #22638
Could be a year from now before I can answer that question, but if that mandate comes along, you can be sure I'll come looking.

[2016-03-08 12:38] jsafrane commented on #22561
@ixdy It's already tracked at https://github.com/kubernetes/kubernetes/issues/22407

[2016-03-08 12:47] wernight opened #22696 "Feature: Request text present in HTTP health check"
[httpGet](http://kubernetes.io/v1.1/docs/user-guide/liveness/README.html) probe documentation should state if it support **HTTPS** or not.

Also (like Google Monitoring) it should allow to specify a **text present** in the response. Often it may return 200 but parts don't work and the expected text would not be present. Sure a `exec` may do that kind of check but then it wouldn't be high level lik

[2016-03-08 12:47] deads2k commented on #22675
The lack of `GroupVersion` information associated with the `Kind` field makes it impossible to build a full `RESTMapper` out of it.  Even once you have that, the assumption that a `Kind` makes a one-to-one mapping with a `Resource` has led to some code that would be difficult to move.

In addition, we probably need a new type of client that can operate against multiple `GroupVersions`.  Sort of a

[2016-03-08 12:48] mqliang commented on #22669
@timothysc Seems you are an expert of API server cache. I carefully read the code of API server cache today, may I ask a question: should we use `NewDeltaFIFO` instead of `NewStore` here https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/watch_cache.go#L107 ? Current code seems will miss come events when watch failed and relist. Hope I understand the code correctly.

[2016-03-08 12:53] wojtek-t commented on #22669
@mqliang I wrote this cache, but I'm not sure I understand your question.

Current code seems will miss come events when watch failed and relist. Hope I understand the code correctly.

What do you mean? If you mean "client to apiserver watch", then client explicitly sets what resource version is should start watching at.
If you mean "server to etcd watch", then if it fails and cannot be restore, a

[2016-03-08 12:55] iSOcH commented on #18885
the example works for me, but i have to pass --validate=false - otherwise the same error is reported.
kubectl also compains about the id field in https://github.com/thecanadianbaker/kubernetes/blob/master/examples/rbd/rbd-with-secret.json#L3 ...

```Server Version: version.Info{Major:"1", Minor:"1", GitVersion:"v1.1.8", GitCommit:"a8af33dc07ee08defa2d503f81e7deea32dd1d3b", GitTreeState:"clean"}```

[2016-03-08 13:12] mqliang commented on #22669
@wojtek-t I mean "server to etcd watch".

This answered my question. Great thanks!

[2016-03-08 13:25] xinxiaogang commented on #21657
Anyone to take a look at this?

[2016-03-08 13:26] xinxiaogang commented on #21656
@fabioy Anyone to follow this issue?

[2016-03-08 13:26] xinxiaogang commented on #21528
@fabioy Any response with this issue?

[2016-03-08 13:27] #20075 closed

[2016-03-08 13:30] deads2k commented on #22484
In the printing case here, no.  I think the disambiguation should go like this, but I'm not completely certain:
 1. If there is exactly one hit from `ObjectKinds` has a group that is specified in the `--output-version`, use that.
 1. If there are multiple hits from `ObjectKinds` that match a group specified in `--output-version`, then look to see if one matches the group of the resource (distinct

[2016-03-08 13:59] timothysc commented on #22669
OK, so many questions, I will try to hit them all:

No, it's before those changes have landed.

Yes, I will check and report back.

1 GBit is flooded, but this also includes openshift controller data as well.

+1 Better throttling and jitter is a very simple patch that would greatly easy the restart issue.

Could not agree more.

[2016-03-08 14:23] lcalcote commented on #1743
@nikhiljindal quick clarification - will kubectl rolling-update remain intact and DeploymentControllers with a "recreate" DeploymentStrategy (redundant in functionality to that of kubectl rolling-update) be separately implemented?

[2016-03-08 14:52] yujuhong commented on #22684
You can check the heapster log with `kubectl logs --namespace=kube-system heapster-v14-qzull  <container_name>`, where container can be "heapster" or "eventer"
Add "-p" to check the log of the last exited container.

[2016-03-08 15:20] smarterclayton commented on #22669
xref unifying cache stores #14978

On Tue, Mar 8, 2016 at 7:59 AM, Timothy St. Clair <notifications@github.com>
wrote:

[2016-03-08 15:24] wojtek-t commented on #22669
Oop - thanks @smarterclayton - I linked a wrong issue above.

[2016-03-08 15:39] jayunit100 commented on #20999
http://stackoverflow.com/questions/14460528/redis-periodicly-stops-responding-on-high-load is i think going to effect the redis tests unless the configs are tuned better.  any one have hints on the machine types that examples/ runs on?

[2016-03-08 15:54] xiang90 commented on #22669
This is not true for etcd. Recursive get can be huge (maybe MB). etcd2 does not limit the size of the request. Large requests uses a lot of CPU to encode, memory for buffering and network IO for transferring.

/cc @hongchaodeng Probably we need to keep this in mind when writing etcd3 integration. etcd3 supports consistent pagination so we can relist slowly. Or we can probably combine the cache or

[2016-03-08 16:25] maclof opened #22698 "Using iptables kube-proxy, additional IP address routed over second interface doesn't route anywhere."
I have a second NIC card in my servers, which are capable of having public IPs routed over them so that I can do failover with Keepalived, etc.

I am using version v1.2.0-alpha.3 / v1.2.0-alpha.7.

The IP address in question is 164.132.217.81 and is setup using these commands:

[code]

The iptables rules that it has added for this IP address are:

[code]

When accessing this IP on port 80 with cur

[2016-03-08 16:28] derekwaynecarr commented on #22693
I will review your repository today as well.

I have local changes that fixes the basic example when working on GCE that I hope to get a PR in place for today/tomorrow.

We have actually been discussing changing `openshift start` to support deployment on kubernetes directly to eliminate the need for anything complicated in bash, etc

[2016-03-08 16:32] derekwaynecarr commented on #22693
fyi @smarterclayton @csrwng - this is related to the topic we discussed yesterday.

[2016-03-08 16:50] maclof commented on #22698
Here is some iptables tracing:

Non working IP address (164.132.217.81):
[code]

Working IP address (51.255.15.157):
[code]

The service is as follows:
[code]

[2016-03-08 16:55] ArtfulCoder commented on #22698
If you run : ip route show table local, what do you get ?

Sent from my iPhone

[2016-03-08 16:57] maclof commented on #22698
On node8 with the non working IP:
[code]

On node3 with the working IP:
[code]

[2016-03-08 16:59] huang195 commented on #22583
In my opinion, the 3 kubeconfig flags should be independent. The reason is when someone is setting up a Kubernetes cluster in standalone mode, the scheduler, kubelet, and proxy are set up separately. And for security reasons, each will likely have a separate certificate and key pair, which will be used in the kubeconfig file.

If the 3 kubeconfig flags are dependent, I don't know if it makes sense

[2016-03-08 17:11] huang195 commented on #22585
@Random-Liu I've checked in a kubelet.log file in the repo that contains benchmark script that I shared with you before.

[2016-03-08 17:19] bprashanth commented on #22655
This happened again: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-slow/3019/console
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/3019/

Maybe just put all these: https://github.com/kubernetes/kubernetes/blob/bc96422e23c62644d94a51f6ba7bd400909de171/cluster/gce/util.sh#L544

In a loop like: https://github.com/kubernetes/kubernetes/bl

[2016-03-08 17:39] bprashanth commented on #19899
@simonswine great! I'll leave this bug assigned to myself since I can't assign it to you, but keep off working on it assuming you are. Let me know if you need code review etc.

[2016-03-08 17:41] yujuhong commented on #22480
The all have `no available IPv4 addresses on this network's address pools: bridge` message,  which is #21523. The failures have nothing to do with this bug.

[2016-03-08 17:43] jayunit100 opened #22699 "smart storage labels for kubelets"
In #22613 we had the idea of labelling nodes that support  storage types and then using those labels as filters for storage tests , rather than manual skipping (i.e. run gluster test if at least 1 node supports it based on Volume plugin canSupport status).

This can be done like so.
-  we should have the nodes broadcast wether they support what storage types.  Maybe add to `NodeSystemInfo`...
- we

[2016-03-08 17:43] jayunit100 commented on #22699
cc @timothysc

[2016-03-08 17:44] derekwaynecarr commented on #22668
I think we can avoid tweaking how cadvisor is started, and just update how we do client configuration for aws from cadvisor.  Some local testing showed a significant improvement.  Will update the issue with the cadvisor PR when pushed.

[2016-03-08 17:45] ivan-exness opened #22700 "cluster/kube-up.sh failed"
I have import vmdk successfully
start ssh-agent
[code]

make new keys admin-key.pem with
[code]
add it to ssh-agent
[code]

**govc: ServerFaultCode: A specified parameter was not correct:**

[code]

[code]

[2016-03-08 17:50] arasheedu commented on #22390
New to GIT. Any specific instructions as it applies to Kubernetes source such that I can create pr?

Thanks,
Rasheed

[2016-03-08 17:51] jayunit100 opened #22701 "More info in NodeSystemInfo"
@dchen1107 It would be awesome to have more metadata available in NodeSystemInfo.  what are the limits ?  Anyone else thinking about this.  some ideas
- what storage is supported
- what binaries are available on the system path
- total amount of storage available (not sure we might already have this somewhere)
  obviously there are a million things we might want to add.  I'm sure the node folks ha

[2016-03-08 17:51] gmarek commented on #22480
Sorry, I was mislead by the fact that this is the last line in the log @dchen1107 pasted. I'll reopen #21523

[2016-03-08 17:51] bussyjd commented on #14642
I ran in this problem and as my solution might not be related but well...
I was migrating my db to a new cluster located in another region and solved it moving the volume to the same region as the new k8s cluster
`gcloud compute disks move [disk] --destination-zone [zone]`
Hope that helps

[2016-03-08 17:52] bgrant0607 opened #22702 "Clarify kubectl get/describe service output"
Too many ports and IPs for users to figure out.

https://groups.google.com/forum/#!topic/google-containers/IMYhmPsXdxE

cc @thockin @bprashanth @kubernetes/kubectl

[2016-03-08 17:53] gmarek commented on #22480
Or not, as it's closed as 'we can't do anything about it'...

[2016-03-08 17:54] jayunit100 commented on #22701
cc @kubernetes/sig-node

[2016-03-08 17:54] bprashanth commented on #22611
I believe deleting a pod with 0 graceperiod will first update the pod to have a deletiontimestamp set to now, then pop it from etcd, so you'll get 2 notifications down the watch.
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/generic/etcd/etcd.go#L413
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/rest/delete.go#L79

[2016-03-08 17:55] yujuhong commented on #22585
@huang195

The kubelet.log seems ok, even though it's full of `MissingClusterDNS` events. From what I've seen, there is a gap between container creation and start, with no meaningful messages in between. I'd guess that starting container itself is slow on your node.

You can double check this (high docker latency) by accesing kubelet metrics/ endpoint:
On the node:  `curl --insecure https://localh

[2016-03-08 18:00] krmayankk opened #22703 "Enabling Deployment doesn't work with ENABLE_DEPLOYMENTS=true"
http://kubernetes.io/v1.1/docs/user-guide/deployments.html
As per documentation on this page , before kube-up.sh, setting ENABLE_DEPLOYMENTS= true should enable deployments but it doesn't.

The right environment variable to set is KUBE_ENABLE_DEPLOYMENTS . Please fix the documentation page

[2016-03-08 18:07] mikedanese commented on #22300
This test is currently blocking the submit queue

http://ci-test.k8s.io/kubernetes-e2e-gce/12998/

[code]

[2016-03-08 18:07] huang195 commented on #22585
@dchen1107 Is there a way to run the exact `docker` command that kubelet uses to run the different containers within a pod? In my environment, if I just run a container using `docker run`, it seems to start within 1 or 2 seconds as normal.

Also, I'm using 1.9.1 version of Docker.

[2016-03-08 18:14] spiffxp commented on #22580
The jenkins configs for each job maybe, but the list of jobs themselves?

https://github.com/kubernetes/kubernetes/tree/master/hack/jenkins/job-configs

[2016-03-08 18:16] huang195 commented on #22585
@yujuhong Thanks for your suggestion about metrics. I will check that later today. What kind of puzzles me is I'm running release-1.1 and release-1.2.alpha8 on the same cluster of machines. How come release-1.1 performs so much better? If the problem is due to Docker, won't this impact both releases?

[2016-03-08 18:16] derekwaynecarr commented on #22668
Assuming this merges in cadvisor, https://github.com/google/cadvisor/pull/1152, we can bump kube and get our startup times from 20s to 5s (the default aws timeout) which should be good enough to let us use the default timeouts in e2e tests.

[2016-03-08 18:19] theobolo commented on #22550
I close this issue in view of the coming work on azure integration.
let's see :
https://github.com/colemickens/azkube

[2016-03-08 18:19] #22550 closed

[2016-03-08 18:25] bgrant0607 commented on #21656
There's no way to prevent a race in the scheduler -- it inherently operates on stale information.

However, both the scheduler and the kubelet should be aware of how many IP addresses can be allocated.

cc @kubernetes/sig-node @kubernetes/sig-scheduling

[2016-03-08 18:26] dchen1107 commented on #22585
@huang195 If it is not sensitive, could you please share your podSpec/containerSpec? Or you can convert your container create & start to json commands to docker directly. We made some compatibility changes with docker remote API on both creation & start requests in this release, for example, https://github.com/kubernetes/kubernetes/pull/20842  I am wondering if some of those changes cause this reg

[2016-03-08 18:35] bprashanth commented on #22676
Ah I missed that it was complaining about the missing endpoint. I think that's expected. Heapster was crashing anyway and the cluster was in a bad state (from a customer issue, not my cluster, so I don't have details).

what does that /metric-export endpoint do? There was actually a correlation with the (successfull) requests and memory spikes that caused OOM, but I can't say for sure. Does it pul

[2016-03-08 18:39] yujuhong commented on #21656
#20177

[2016-03-08 18:47] ncdc commented on #22689
cc @kubernetes/rh-storage

[2016-03-08 18:49] bprashanth commented on #13774
Why enforce a static count insted of pushing stats every 10s to an independent DOS controller? Eg: we'd tell it that creates on /pods have spiked since last 10s, or have been spiking for 10m, and it would tell us  to start returning 500 on /pods. It could also return blacklisted ips, or limit based on per user qps.

Such a controller would be generally useful, even for DOS protection of Ingress. T

[2016-03-08 18:57] ArtfulCoder commented on #22698
Where are you 'curl`-ing from ?

[2016-03-08 19:02] maclof commented on #22698
I've tried curling from multiple locations. A linux box at the office, from other servers in the cluster, etc..
In the iptable trace logs I was testing from one of the servers.

You can try curling to these two addresses:
Working: http://51.255.15.157
Not Working: http://164.132.217.81

[2016-03-08 19:05] jayunit100 opened #22707 "Networking tests: Expanding and modularizing."
We need to come up with the set of use cases for measuring network perf on Kube.

Basically, we should have a networking suite which answers a few  questions, such as the following.

- pod to pod communication: can all pods reach each other (networking.go)
- pod to pod throughput: whats the min/max throughput of info for pods->pod communication on the network compared with the theoretical max.
- s

[2016-03-08 19:09] timothysc commented on #22707
/cc @jeremyeder @ofthecurerh

[2016-03-08 19:10] ixdy commented on #22407
Related: #22658

[2016-03-08 19:18] ixdy commented on #18980
Looks like it got stuck after
[code]

[2016-03-08 19:18] jdef commented on #22583
after giving this more thought I think completely independent flags is the
way to go because it's the most clear thing we can do. it doesn't prevent
someone from using the same config file for all 3, and there's no
complicated defaulting logic.

On Tue, Mar 8, 2016 at 12:00 PM, Hai Huang <notifications@github.com> wrote:

[2016-03-08 19:21] bprashanth commented on #18980
That's a suspicious place to hang at, especially since the next run passed, but it's possible that there's a deadlock or something I guess. If the timings are accurate it just hung there for 30m.

[2016-03-08 19:22] mikedanese commented on #15803
last step is to enable in gce/config-default.sh #22545

[2016-03-08 19:24] bprashanth commented on #22707
A lot of the correctness stuff above is done through the services and kubeproxy e2es (and e2e/networking.go as you noted).

Currently kube-proxy sets a statistical distribution paramerter in iptables. We need a test that confirms that if we get a sudden burt of reqests, they get evenly distributed according the the iptables stats. Current tests only check that *at least* one request out of, say 15

[2016-03-08 19:44] jeremyeder commented on #22707
Each network benchmark has different licensing challenges.  Do you have a preference?  Look at PerfKitBenchmarker -- they don't ship benchmarks for this reason.  What would we do differently in Kube e2e?

We have something similar, but it's not written in Go and it's tied to our infra and test harness.  We could consider implementing it as an e2e.

[2016-03-08 19:46] sostheim commented on #22707
sig-networking slack channel posted this up in the last week: https://kubernetes.slack.com/archives/sig-network/p1457102221000195

[2016-03-08 19:53] yujuhong commented on #20403
@ncdc I think the problem was originated by relying on passing the pod IP to downstream functions through modifying the `api.Pod` object https://github.com/kubernetes/kubernetes/blob/b1a6ee26efeda0c28825df12e2e4da0a550e08fd/pkg/kubelet/dockertools/manager.go#L1887

The `api.Pod` object should be treated as read-only in most kubelet functions, and you cannot assume the object wouldn't be updated if

[2016-03-08 19:53] ArtfulCoder commented on #22698
can you run `ip addr show` on both the nodes and paste it here.

[2016-03-08 19:54] bprashanth commented on #22707
It doesn't have be to an e2e, but we already know and document how to execute an e2e through ginkgo. I think the important part is that someone should be able to setup a cluster with CNI-plugin=X, on cloudprovider=Y, run the benchmark, and get some numbers. Presumably they already have numbers from their existing clusters (non-kube or kube with different networking) they can compare against. Check

[2016-03-08 19:57] ncdc commented on #20403
@yujuhong cool, thanks for the detailed explanation. Where in SyncPod does the pod IP exist other than the line you linked above, which only gets called when the infra container is created?

[2016-03-08 19:58] maclof commented on #22698
On node8 with non working IP (not running any containers yet):
[code]

On node3 with working IP:
[code]

[2016-03-08 19:59] dachulin commented on #22684
kubectl logs -p --namespace=kube-system heapster-v14-2xbud heapster
I0308 11:40:15.935371       1 heapster.go:60] /heapster --source=kubernetes:'' --sink=influxdb:http://monitoring-influxdb:8086 --metric_resolution=60s
I0308 11:40:15.935558       1 heapster.go:61] Heapster version 0.20.0-alpha6
F0308 11:40:15.935643       1 heapster.go:73] Failed to create source provide: open /var/run/secrets/kub

[2016-03-08 20:02] yujuhong commented on #20403
If the infra container was **not** created in the same sync iteration, you should be able to get the pod IP from [`podStatus *kubecontainer.PodStatus`](https://github.com/kubernetes/kubernetes/blob/8b186991e2a85731943e099efcd3c676a6f1c774/pkg/kubelet/dockertools/manager.go#L1773), which was passed to the SyncPod()

[2016-03-08 20:03] ncdc commented on #20403
Ok, so if we put if/else logic in for that check, then we can pass the pod IP around as needed, right?

[2016-03-08 20:11] davidopp commented on #15803
Is that actually the issue you meant to refer to?

[2016-03-08 20:22] davidopp commented on #15803
Maybe you meant #18338

[2016-03-08 20:22] jeremyeder commented on #22707
We have such a thing:  https://github.com/distributed-system-analysis/pbench/blob/master/agent/bench-scripts/pbench-uperf People can pick that up right now and run it anywhere kube/openshift runs (subject to setting up ports, firewall rules etc).

[2016-03-08 20:24] mikedanese commented on #15803
#22709 is the pr that does the last step

[2016-03-08 20:25] bprashanth commented on #22707
It would be great if you removed the openshift specific bits and checked it into contrib/ with a README mentioning any setup required

[2016-03-08 20:26] jayunit100 commented on #22707
+1 to making it an e2e if that wasnt already clear in my suggestion

[2016-03-08 20:29] #15803 closed

[2016-03-08 20:49] jeremyeder commented on #22707
How would you prefer we handle the benchmark installation?  Should we just fail if the benchmark is not installed?  We cannot distribute netperf, uperf or iperf.

[2016-03-08 20:53] bprashanth commented on #22707
Can you exec in a container that has those?

[2016-03-08 20:53] bprashanth commented on #22707
I suppose it would have to be net=host so it doesn't disrupt the benchmark

[2016-03-08 20:56] davidopp commented on #21656
We had been using the --max-pods argument to the Kubelet binary to handle situations like this. It appears that the current default is 110
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L97

[2016-03-08 21:09] jeremyeder commented on #22707
Yes, that's roughly how we do it now.  Doing this is a much larger mouthful than just porting a network test into e2e.  Need some internal discussions first.

[2016-03-08 21:19] yujuhong commented on #21656
How did we use --max-pods to handle this? I thought we just set it as the maximum capacity (40 pods for v1.1 and 110 for v1.2). kubelet doesn't know the CIDR until it queries the api server, but the --max-pods was passed to kubelet at startup.

[2016-03-08 21:22] huang195 commented on #22583
Ok, I will work on this the next few days.

[2016-03-08 21:22] davidopp commented on #21656
The idea is that you would manually set --max-pods to match the number of pods your minions have enough IP addresses for.

[2016-03-08 21:36] davidopp opened #22711 "Automatically set master size appropriately on AWS"
Like how we do it in `get-master-size` in `cluster/gce/config-common.sh`

[2016-03-08 21:36] dchen1107 commented on #21656
This is known issue and current workaround is either through manual config kubelet through --max-pods or update kubelet config object.

But the issue is more complicate than what we have been talked. What about some of pods using host network, others requires ip allocation. How are we going to use --max-pods to control both?

[2016-03-08 21:50] ArtfulCoder commented on #22688
Q1. If you bring up 3 containers, one per node, can the containers ping each other ?
Q2. How do the iptables rules look on each node (you can run `sudo iptables-save`)

[2016-03-08 21:54] davidopp commented on #21500
@gmarek any thoughts on why the scheduler memory consumption blows up going from 500 to 1000 nodes?

[2016-03-08 21:56] bgrant0607 commented on #22672
Where are we on this? We have lots of PRs to cherrypick.

#22710

[2016-03-08 22:02] bgrant0607 commented on #22672
cc @spiffxp

[2016-03-08 22:03] smarterclayton opened #22712 "SyncAllPodsWithStore can hotloop on failure"
In cases where the kube client is not properly authenticated to the server, SyncAllPodsWithStore hot loops.  It's also running fairly fast - I see somewhere on the order of a hundred to two hundred requests a second, across both DaemonSet controller and ReplicationManager.

[code]

We probably should not hotloop, and we should probably backoff, and we probably need to take into account that this m

[2016-03-08 22:03] smarterclayton commented on #22712
In this case an older controller manager config with invalid credentials lit up the apiserver.

[2016-03-08 22:05] smarterclayton commented on #22712
Nm, I see this was reverted recently with HasSynced.  Carry on.

[2016-03-08 22:05] #22712 closed

[2016-03-08 22:32] spxtr commented on #22672
These jobs should be fairly uncontroversial:

- kubernetes-e2e-aws-release-1.2
- kubernetes-e2e-gce-release-1.2
- kubernetes-e2e-gke-release-1.2
- kubernetes-e2e-gce-serial-1.2
- kubernetes-e2e-gke-serial-1.2
- kubernetes-e2e-gce-slow-1.2
- kubernetes-e2e-gke-slow-1.2
- kubernetes-soak-...-1.2
- kubernetes-upgrade-... (both to and from 1.2, cc @ihmccreery)

Possibly we want to create some features

[2016-03-08 22:34] WeixuZhuang opened #22715 "cluster/azure e2e test setup and framework"
cluster/azure support was missing from kubernetes. This issue tracks adding cluster/azure support so that e2e tests can be run for that cluster. The proposed methodology includes using saltstack for bringup and openvpn to setup network.

https://github.com/kubernetes/kubernetes/pull/21207

[2016-03-08 22:34] bgrant0607 commented on #22672
How about scalability?

cc @wojtek-t

[2016-03-08 22:35] bgrant0607 commented on #22672
cc @kubernetes/sig-testing @roberthbailey @thockin @davidopp

[2016-03-08 22:36] macb opened #22716 "daemonset pod fails to come up with HostPort conflict, doesn't retry"
I have a DaemonSet that looks like:

[code]

And then multiple nodes that match this daemonset requirement:
[code]

However, only 1 of the 2 nodes are running the expected pod.
[code]

With the daemonset showing 1 failed pod:
[code]

However, on the node that is not running the pod there is nothing on the required host port of `80`.
[code]

And none of the other scheduled pods appear to be using `

[2016-03-08 22:39] bgrant0607 commented on #21468
This was a long time ago and I'm pretty sure has been fixed, so closing. If it recurs, we can reopen.

[2016-03-08 22:39] #21468 closed

[2016-03-08 22:45] guoshimin opened #22717 "Can't use service IP from inside the pod that backs the service"
To reproduce, create a pod running a simple HTTP server and create a service for it:

web-test.yaml
[code]
[code]

I was able to curl it from another pod:
[code]

But curling from the web-test pod itself fails:
[code]

We are using v1.2.0-alpha.8 for the master components and kubelet is on v1.2.0-alpha.6.

EDIT: correcting the versions we are using.

[2016-03-08 22:46] ArtfulCoder commented on #22698
1. You seem to have setup eth1 in some sort of transparent mode where eth1 acts as a complete proxy for cbr0. Both share the same mac address.
2. eth1 also doesnt seem to have an assigned ip address.
3.  the packet comes in with IN=cbr0, and after the processing is done,
      i. The dnat doesnt happen even though the nat rule seems to have fired.
      ii. the OUT on the packet gets set to OUT=et

[2016-03-08 22:46] guoshimin commented on #22717
cc @thomaso-mirodin

[2016-03-08 22:50] dchen1107 commented on #22701
This has to be case-by-case, and not necessary to NodeSystemInfo here.

From #22613, looks like if Node run "gluster" or "ceph" is required by upstream components / control system, like scheduler, Kubelet should export such node attribute as node labels. This information can be included in NodeSystemInfo too. 1.2 Kubelet release already support a --nodel-labels now. Auto detect such storage inform

[2016-03-08 22:51] #22545 closed

[2016-03-08 22:57] bgrant0607 commented on #22300
That most recent failure mode is totally different and seemingly unrelated to Deployment. Pod test-recreate-controller-9u4ik stays pending because the nginx image pull never completes on node jenkins-e2e-minion-x9y8. However, that image is successfully pulled by other nodes, and other containers were running successfully on that node.

[2016-03-08 22:58] smarterclayton commented on #22702
I think we want to consider compacting hosts, ports, and directions into a more succinct format that indicates how information flows.

[2016-03-08 23:03] petems opened #22718 "Docker multi deploy master.sh fails on RHEL7"
I tried following the docs in http://kubernetes.io/v1.1/docs/getting-started-guides/docker-multinode.html

When it gets to the bootstrap stage, the docker service fails to restart. Systemd logs:

[code]

If I go into the an manually change the OPTIONS flag, then comment out the line of code in master.sh that adds it in, the deploy goes ok, but it doesn't start.

[code]

I can reproduce this 100% w

[2016-03-08 23:05] bgrant0607 commented on #21810
This has appeared again:
kubernetes-jenkins/logs/kubernetes-e2e-gce/12965
[code]

[2016-03-08 23:07] bgrant0607 opened #22719 "e2e flake: deployment should support rollover [minUnavailable/maxSurge violated]"
kubernetes-jenkins/logs/kubernetes-e2e-gce/12967
[code]
cc @janetkuo

[2016-03-08 23:09] bprashanth commented on #21810
I believe this error is because of a wrong spec.Replicas (https://github.com/kubernetes/kubernetes/issues/21810#issuecomment-188409104) and I was able to repro consistently within 20 runs of the test in a loop when I was testing my rc fix.

[2016-03-08 23:12] mml commented on #22614
It looks like we kick off a goroutine to which we directly hand t.Logf, and we aren't doing anything this goroutine won't continue calling t.Logf even after the test is done.  When we finish running the tests, we emit t.output, but as the race detector says, the other thread is still modifying it.  :-1:

[2016-03-08 23:12] davidopp commented on #22715
cc/ @colemickens

[2016-03-08 23:13] ArtfulCoder commented on #22717
Hairpin mode might not be set on veth, or bridge is not in promiscuous mode.
Can you check ?
You can verify yourself.
`cat /sys/devices/virtual/net/docker0/brif/veth*/hairpin_mode`
It should be '1', not '0'..

you can do the following:
`ip link set docker0 promisc on` and it should solve the issue..

[2016-03-08 23:13] ArtfulCoder commented on #22717
can you paste the cmd args with which kubelet was started ?

[2016-03-08 23:20] ArtfulCoder commented on #22716
cc @mikedanese

[2016-03-08 23:23] mikedanese commented on #22716
What version of kubernetes are you using. This sounds like https://github.com/kubernetes/kubernetes/issues/22309 which is fixed on HEAD

[2016-03-08 23:23] mikedanese commented on #22545
@therc Thanks for reporting all these daemonset issues before we go to release!

[2016-03-08 23:24] maclof commented on #22698
I've simplified this to test things a bit easier by getting rid of the cbr0 interface as I'm not really testing docker on that node, purely the kube-proxy proxying requests on to the endpoint IP. However it still does not work.

Here is another copy of ip addr show:
[code]

And ip route show table local:
[code]

More iptables tracing:
[code]

[2016-03-08 23:27] bgrant0607 commented on #22718
K8s 1.1.x hasn't been tested with newer versions of Docker.

Discussing on slack...

[2016-03-08 23:29] spiffxp commented on #22672
/cc @kubernetes/sig-scalability

[2016-03-08 23:34] rasekar2000 opened #22721 "CreatingLoadBalancerFailed {service-controller } Error creating load balancer (will retry): issue"
Deleting the service in LoadBalancer is not working and hence new LoadBalancerIP is not getting attached to the recreated service.

1) Created a service with Global static IP mistakenly instead of Regional static IP.
 IP address: 107.178.253.100

2) Deleted the service .. yet seeing the Re-Creation attempt

23h         2s         93759     lb4b-haproxy   Service               CreatingLoadBalancerF

[2016-03-08 23:36] mikedanese commented on #22703
@johndmulhausen

[2016-03-08 23:42] bgrant0607 opened #22723 "Explain how to turn on verbose logging in troubleshooting guide"

[2016-03-08 23:43] therc commented on #22545
Thank you for the fixes and making the feature useful!

[2016-03-08 23:44] yujuhong commented on #22718
Which line of code die you change?

It looks like some variable was not set properly, so instead of passing a flag (i.e., --foo), you are passing a string directly (i.e., foo). What's in /etc/sysconfig/docker?

[2016-03-08 23:47] yujuhong commented on #22718
BTW, from the log, @petems uses 1.2.0-alpha.7 (`K8S_VERSION is set to: 1.2.0-alpha.7`).

[2016-03-08 23:48] petems commented on #22718
The version from the master.sh defaults to the alpha. When I manually changed that to 1.1.8, then ran the changes I made in #20281, then things worked fine, so I'm assuming this is a regression caused by the new version?

[2016-03-08 23:49] bgrant0607 commented on #22723
The option doesn't even appear on the man pages. :-(

[2016-03-08 23:52] guoshimin commented on #22717
hairpin mode is already set to 1:
[code]
kubelet started with
[code]

I made a mistake in the original issue description. Actually kubelet is running version v1.2.0-alpha.6, but the master components are running v1.2.0-alpha.8.

[2016-03-08 23:54] ArtfulCoder commented on #22717
can you try `ip link set docker0 promisc on` and see if it fixes it.
If not, can you do
`sudo iptables-save` and `ip addr show` on the failing node.

[2016-03-08 23:58] petems commented on #22718
Updates:

Trying the new Beta release as recomended on Slack, same issue:
[code]

[code]

[2016-03-09 00:01] ixdy commented on #22671
Yeah, looks like it. Should we apply a workaround like in #22510?

[2016-03-09 00:09] ichekrygin commented on #14388
Update: this is still an issue w/ 1.1.7
[code]

As before, restarting `k8s_kube-controller-manager` fixes this issue

[2016-03-09 00:11] petems commented on #22718
Here's the current way I get it working.

1. Run the master.sh script once. Wait for failure
2. Edit the OPTIONS to the following:
`OPTIONS="--selinux-enabled --mtu=1450 --bip=10.1.84.1/24"`
3. Change the part of the script that adds the options:
[code]
4. Run master.sh again
5. Everything's gravy! :worried:

[code]

[2016-03-09 00:12] jayunit100 commented on #20999
update
- liveness still broken.  not sure why, but the container simply doesnt seem to restart is the core issue.  it does appear initially to start i think.
- I can't reproduce k8petstore flakes.  ran it literally 50 times both on GCE with exact jenkins env vars and with kube-up.sh defaults.

[2016-03-09 00:13] bgrant0607 commented on #22723
`--v=4` for any kube-* component

[2016-03-09 00:14] bgrant0607 commented on #22723
@dchen1107 to document how to add this and push the changes via salt

[2016-03-09 00:19] guoshimin commented on #22717
Setting promisc doesn't fix it. Here's `ip addr show`:

[code]

iptables has confidential information in it. Is there some way I can share it with you in private?

[2016-03-09 00:20] bprashanth commented on #22723
This should just be log_level, I think:
https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-apiserver/kube-apiserver.manifest#L95
https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/pillar/logging.sls
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh#L78

[2016-03-09 00:20] ArtfulCoder commented on #22717
you can email me at abshah@google, though I must say that I don't really own my work email :)

[2016-03-09 00:21] bprashanth commented on #22723
Though it shouldn't matter what options we start since we have configobjects, right?

[2016-03-09 00:24] dchen1107 commented on #22723
There are a couple of ways to enable verbose logging for debugging.

* If you are running cluster on GCE, upon cluster creation, you can export *_CLUSTER_LOG_LEVEL (* can be KUBELET, API_SERVER, CONTROLLER_MANAGER, and SCHEDULER). https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh#L78
* If your cluster is created already, you want to enable verbose logging for one of m

[2016-03-09 00:32] bgrant0607 commented on #21000
The known-issues doc is very, very out of date:
http://kubernetes.github.io/docs/user-guide/known-issues/

[2016-03-09 00:33] bgrant0607 commented on #21000
@dchen1107 requests a separate doc for docker issues

We should also link to known issues from the release description on github

[2016-03-09 00:34] bgrant0607 commented on #21000
1.1 issues don't seem to be documented: #15747

[2016-03-09 00:34] bgrant0607 commented on #15747
This was never done

[2016-03-09 00:42] ArtfulCoder commented on #22698
Can you show more trace logs (or is this all you got ?)
I want to confirm that the dnat did not happen.
The last trace line points to the rule that should have done the DNAT.
Basically, dnat is not happening and I am want to check what part of the iptables rule filter is causing the dnat to not happen..

can you paste the full output of iptables-save on the offending node ?

[2016-03-09 00:46] bgrant0607 opened #22725 "pkg/apis/componentconfig should not exist"
componentconfig is not an API served by apiserver, so it doesn't belong in /apis.

The config objects for components belong with those components, similar to scheduler config:
https://github.com/kubernetes/kubernetes/tree/master/plugin/pkg/scheduler/api

As an aside, we've also discussed moving more code into cmd:
https://github.com/kubernetes/kubernetes/issues/4851#issuecomment-132088777

cc @mik

[2016-03-09 00:54] dachulin commented on #22684
A bit more research on the error message and found the link hepaster doc https://github.com/kubernetes/heapster/blob/master/docs/source-configuration.md#current-sources. However, looking at the kube-controller-manager and seems like I have the correct parameters:

ps -ef | grep kube | grep mana
kube      1065 16284  0 08:33 pts/3    00:00:00 grep --color=auto mana
root     15322 13471  0 07:11 ?

[2016-03-09 00:56] bgrant0607 commented on #22723
Also, APISERVER_TEST_ARGS, KUBELET_TEST_ARGS, CONTROLLER_MANAGER_TEST_ARGS, SCHEDULER_TEST_ARGS

[2016-03-09 01:00] bgrant0607 commented on #22723
@bprashanth Not all components (e.g., apiserver) have config types yet.

I also don't see any fields corresponding to --v in any existing ones.

We may want a special API to flip that dynamically, without restart. Or, if each component watches its config, we could have another config for which options can be changed dynamically.

[2016-03-09 01:02] ArtfulCoder commented on #22717
You are hitting this: #20391

[2016-03-09 01:02] bprashanth commented on #22723
We did this for kube-proxy for the iptables mode in 1.1, we stored this config in the node annotations (this was before config objects came about)

[2016-03-09 01:02] mikedanese commented on #22725
Where should shared objects live: e.g. LeaderElectionConfiguration?

[2016-03-09 01:04] ArtfulCoder commented on #22717
can you try `ip link set flannel0 promisc on` ? I have never tried this..

[2016-03-09 01:08] maclof commented on #22698
Here is the output of iptables-save:
[code]

And here is some more iptables trace logs:
[code]

[2016-03-09 01:17] mml commented on #22614
#22727 should fix this.

[2016-03-09 01:19] mml commented on #22611
@mikedanese you're working on this, right?

[2016-03-09 01:19] mml commented on #22489
I'll try to take a look tomorrow.

[2016-03-09 01:48] macb commented on #22716
kubernetes 1.1.3

When upgrading a cluster with a similar DS to 1.2alpha we ran into #22309 but in that case all DS were offline whereas now it's inconsistent if it will be offline. Manually deleting the failed pod results in a new pod being scheduled that comes up successfully it seems.

[2016-03-09 01:48] bprashanth commented on #22489
Pods not exisintg before and existing after seems to be what I also obseved in http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/741/consoleFull

This could very likely be because the node on which the kubeproxy didn't start (jenkins-e2e-minion-x6vq) was added to the cluster  ~10m ago in the "should be able to delete nodes" test.

The "should be able to delet

[2016-03-09 01:49] bprashanth commented on #22489
fluentd and kube-proxy are static pods, the kubelet reads manifests, starts docker containers and creates associated pod objects in the apiserver to reflect these manifest-static-pods. We're polling and finding/not finding the reflected mirror pods.

[2016-03-09 01:56] thomaso-mirodin commented on #22717
@ArtfulCoder Setting promisc on flannel0 doesn't appear to change the behavior

[code]
[code]

[2016-03-09 02:01] amygdala commented on #19071
I believe it should now be fixed, now that my PR's in (with new image to go with it).  LMK if that is not the case.

[2016-03-09 02:04] amygdala commented on #10352
Just closing the loop here -- it looks like Jeff has replied on email. @fejta

[2016-03-09 02:06] mikedanese commented on #22611
I had not seen this issue. It's possible that https://github.com/kubernetes/kubernetes/commit/d8eaed912accf65e7159df9f1cce1ac483e60a32 will have helped this issue but I'll keep an eye on it over the next couple days.

[2016-03-09 02:07] mikedanese commented on #22611
These failures https://github.com/kubernetes/kubernetes/issues/22611#issuecomment-193640443 were probably caused by #22667

[2016-03-09 02:09] justinsb commented on #22711
We do set it automatically!  Are you saying we should try to correlate more closely to the GCE recommended sizes?  I believe @brendandburns originally picked the sizes, and then in 1.2 I increased the minimum size and avoided the t2 (burstable) instance types.  But generally, I'm in favor of aligning our configuration with GCE as much as possible so we could change the defaults, at least so we hav

[2016-03-09 02:11] liggitt commented on #22695
I don't think we should enable username/password checking over http.

[2016-03-09 02:25] AdoHe commented on #22702
I think a more intuitive way to display the network directions is much more user friendly.

[2016-03-09 02:31] AdoHe commented on #22717
@thomaso-mirodin can you try `kubectl get service web-test` to get your service cluster ip and then `curl -v <service_cluster_ip>:8000`?

[2016-03-09 02:40] bgrant0607 commented on #5754
Ref #20439

[2016-03-09 02:43] thomaso-mirodin commented on #22717
Same issue:

[code]

[2016-03-09 03:21] AdoHe commented on #22540
@lavalamp IIUC seems we already have timeout on http.Client [https://github.com/kubernetes/kubernetes/blob/master/pkg/probe/http/http.go#L48](https://github.com/kubernetes/kubernetes/blob/master/pkg/probe/http/http.go#L48) and the default probeTimeout is `time.Minute`

[2016-03-09 04:03] bgrant0607 commented on #22719
kubernetes-jenkins/logs/kubernetes-e2e-gce/13020
[code]

[2016-03-09 04:10] bgrant0607 commented on #18361
Hopefully the EBS issue has been resolved.

Access to RDS should be documented in a FAQ.

cc @justinsb

[2016-03-09 04:12] timothysc commented on #22658
We need a way for non-google folks to automate a image build and push.

[2016-03-09 04:22] macropin opened #22734 "nginx container vulnerable to CVE's"
The container `gcr.io/google_containers/nginx` has not been updated for a long time and is vulnerable to multiple SSL CVE's.

[code]

[2016-03-09 04:41] bgrant0607 commented on #21396
@caleblloyd Yes, we are expecting to default to IP tables in 1.2.

cc @kubernetes/sig-network

[2016-03-09 04:45] smarterclayton commented on #4869
We've done a fair amount of testing as well in different modes.  Haven't
hit anything yet.

On Tue, Mar 8, 2016 at 5:29 AM, Lucas Käldström <notifications@github.com>
wrote:

[2016-03-09 04:45] smarterclayton commented on #12732
@deads2k can you link in the prototype PR to Origin you have here?

[2016-03-09 04:46] AdoHe commented on #22484
At this point, `ObjectKind` just return the first one of `ObjectKinds`, we need to return an error if more than one matching get or we need to use some priority rule.

[2016-03-09 05:35] roberthbailey commented on #22672
I've created a view in Jenkins for the release-1.2 branch tests (which currently includes the only 2 that are running thus far).

[2016-03-09 06:05] lcalcote commented on #3885
When considering the maintenance mode use case, it'd be good to account for the ability to schedule the node drain. In this way, administrators may set a predefined maintenance window for specific nodes.

Are Jobs a good candidate to orchestrate a maintenance window once node drain is implemented?

[2016-03-09 06:07] roberthbailey commented on #22655
Ideally all of the gcloud calls would be wrapped in a loop. This one is particularly insidious because the create-master-instance call is [run in the background](https://github.com/kubernetes/kubernetes/blob/bc96422e23c62644d94a51f6ba7bd400909de171/cluster/gce/util.sh#L645) and therefore doesn't abort the cluster creation until much later in the process (and without a useful error).

[2016-03-09 06:10] roberthbailey commented on #13774
@bprashanth that would be a more elegant solution to the problem. The original proposal was a stop-gap because we wanted to prevent the master components from going into an OOM crash loop and seemed easy to implement. Is DoS protection something we would consider building in the 1.3 timeframe?

[2016-03-09 06:22] wojtek-t commented on #22671
@ixdy - yeah, probably we should (although I think it will change the test from hanging forever to failing, but it is strictly better I think).

[2016-03-09 06:23] wojtek-t commented on #22611
Yes - I'm pretty sure this was because of that - after reverting that PR it was fixed.

[2016-03-09 06:31] #21764 closed

[2016-03-09 07:19] tdeheurles commented on #4869
To be up to date, the latest is:
[code]

- The `1.2*` hyperkube have etcd and kube-proxy in the manifests folder, so they are automatically started.
- We then need to manually starts the different addon manually.

[2016-03-09 07:38] davidopp commented on #3885
Your analogy is reasonable, that scheduling node drains is similar to scheduling a workflow of run-to-completion Jobs. But I don't think the Job abstraction can be directly used for the former. More generally, I'm not sure how much sophistication for scheduling maintenance workflows we want to build into core Kubernetes, vs. suggest people build it on top. My initial thought is that we want to sup

[2016-03-09 07:54] bgrant0607 commented on #4926
We need a good example of a production-ready deployment, with things like:
* liveness and readiness probes
* logs collected from a volume
* proper resource requests
* terminationGracePeriodSeconds and/or preStop hook
* terminationMessagePath
* private registry
* secrets and configmap
* securityContext (ideally runAsNonRoot)

cc @kubernetes/examples

[2016-03-09 07:55] bgrant0607 commented on #4926
We have guidelines now:
https://github.com/kubernetes/kubernetes/blob/master/examples/guidelines.md

[2016-03-09 07:56] davidopp commented on #22711
Oh you're right, I should have checked. I'm going to close the issue because I was just mistaken. Feel free to re-open if you think we should re-evaluate the defaults. (I definitely wasn't suggesting to do this for 1.2 in any event).

[2016-03-09 07:56] #22711 closed

[2016-03-09 08:31] harryge00 commented on #10522
I expreience  the same issue on Ubuntu.
[code]

[2016-03-09 08:57] metmajer commented on #10522
The issue disappeared for me with the following version:

[code]

[2016-03-09 09:01] oxygen0211 commented on #22695
I agree that we are loosing a security layer here, but you can't guarantee you got the password from client over https, so it might be intercepted at this point anyways.

More general, I think the proper way to authenticate to Kubernetes with the Keystone plugin using tokens since they will

1. Have limited lifetime
2. Be restricted on keystone only which is a big deal regarding keystone likely be

[2016-03-09 09:47] wlodekb opened #22739 "/etc/hosts is not needed during run-prepared command through kubelet with rkt"
Actually there is mount point for `/etc/hosts` created from kubelet in pod manifest:

[code]

It seems that there is another [PR](https://github.com/coreos/rkt/pull/2251) in `rkt` project (not merge yet) that is closely related with it.
So, IMHO we can  we get rid off from creating this part in kubelet, and add `--hostname` flag similar like in `--dns` cmd line flag in kubeletet.
@yifan-gu, @iagui

[2016-03-09 09:57] mqliang commented on #12611
Then, should we put `DisruptionBudget` as a part of Pod, Service or as a part of Controller(RC/RS/Job) putting`DisruptionBudget` as a part of Service sounds reasonable, but how how to handle the case in which people create a Pod directly(without a RC or Service)

[2016-03-09 10:00] wojtek-t commented on #21500
@gmarek any thoughts on why the scheduler memory consumption blows up going from 500 to 1000 nodes?

Is it possible that it was a different version (e.g. where we had this new cache?) Or sth like that?

Also note, that for 500-node we have 99th percentile and for 1000-node we have 100th percentile. :)

BTW - 167MB in 500-node cluster seems really low - in fact I'm quite skeptical about this data.

[2016-03-09 10:06] ntquyen commented on #18018
@zmerlynn I'm using k8s version 1.1.7 and get this issue, which I never get at previous version (1.0.6). Got some pods stuck at `Terminating` while the ReplicationControllers were removed, and the containers are actually running. One thing to note that all `Terminating` pods are scheduled in the same worker node. So I think there's something related related to the kubelet that node, but I don't kn

[2016-03-09 11:03] ethernetdan commented on #22247
Confirmed resolved.

[2016-03-09 11:03] #22247 closed

[2016-03-09 11:28] piosz commented on #22676
Any logs from Heapster? /metric-export is basically dumping all available metrics from last 2 minutes.

exactly

cc @fgrzadkowski

[2016-03-09 12:02] gmarek commented on #21500
The data are what cAdvisor reports and is RSS size, not allocated virtual memory size. It's possible that OS dumped something on disk.

I can rerun those tests when I come back from Kubecon.

[2016-03-09 12:22] zoidbergwill commented on #19405
@a-robinson I bumped fluentd-gcp to 1.15 on all our nodes, and it seems happier so far.

Cluster master version: 1.1.8
Node version: 1.1.2

[2016-03-09 12:24] JaydiptaBiswas commented on #22688
Q1.
a. Created a docker container[generated IP: 172.17.0.79] in x.y.z.105 and another container   [generated IP: 172.17.0.7] in x.y.z.54. Then trying to execute 'ping 172.17.0.7' from 172.17.0.79 and vice-versa. Both gives error : ' Destination Host Unreachable'.

b. Then created a tomcat container[172.17.0.8] forwarding 8080 to 9096 in HOST[x.y.z.54]. Then successfully able to curl from Container

[2016-03-09 12:48] deads2k commented on #12732
Sure.  I put together https://github.com/openshift/origin/pull/7728 to allow a cluster-admin to configure an optional controller to automatically mint and sign serving certificates for a service's internal DNS name.  Its triggered by annotation on the service (not a secret) so that things like RCs that depend on the secret won't have any pods start until the key and its signed cert are available t